[2022-03-24 04:14] pierwill commented on #95261
@rustbot claim

[2022-03-24 06:46] messense commented on #95178
Looks like `std::env::current_exe()` also returns UNC path on Windows which caused a breakage in `cargo-zigbuild`: https://github.com/messense/cargo-zigbuild/pull/17

[2022-03-24 07:52] workingjubilee commented on #95228
This should probably be more like `core::arch::asm`: it's under `arch` in module terms but it actually is platform-generic, because it has the same factors in play: it's "architecturally specific but almost universal".

I... hm. I think the allow-by-default lint is conservative enough? It shouldn't need a `-Z` feature unless we get something wild going on like turning miri on to find misbehaving p

[2022-03-24 07:59] apiraino commented on #95034
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2395034.20ICE.20on.20.22computing.20whether.20CustomFuture.20is.20.60Copy.60.22) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-03-24 08:00] messense opened #95267 "Failed to compile ring under nightly Rust (1.61.0, 9f4dc0b4d 2022-03-23)"
Cross post from https://github.com/briansmith/ring/issues/1469

[code]

Works fine on stable Rust.

[2022-03-24 08:46] michaelwoerister commented on #93866
Is this still relevant?

[2022-03-24 09:13] joe-hauns opened #95268 "No syntactic way to specify GATs with where bounds in where clauses"
Hi!

I was trying to use GATs in one of my projects, and ran into the following issue.

[code]

This code does not compile, because the `for<'a>` bound in `ModuleConfigSpec` is not restricted by a `where Self::Type1: 'a`, which makes sense.
But as there is no way to specify this where bound, this means that GATs with where bounds cannot be passed to traits as concrete arguments.
I expected it to b

[2022-03-24 10:05] jhorstmann opened #95269 "Pointer dereference after free with allocator containing shared state"
I'm trying out the allocator api with the goal of being able to track memory usage for parts of a program:

[code]

I expected this to work (and print 0 at the end), but instead it fails by freeing an invalid pointer:

[code]

Running with miri gives a bit more context:

[code]

### Meta

[code]

[2022-03-24 12:39] saiintbrisson opened #95271 "ICE when pattern matching an enum on a let binding within a closure, with `--edition 2021`"
I was messing around with the `async_trait` crate and an ICE was raised when I tried to pattern match an enum in the function parameter. I narrowed it down to trying to pattern match a variable that exists outside the scope from within a closure.

### Code

[code]

Playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=3465e1787d6792e07772f31154877280

### Meta
Pr

[2022-03-24 12:46] saiintbrisson commented on #95271
I'm willing to work on it if it turns out to be a simple fix, hints are appreciated!

[2022-03-24 13:44] aliemjay commented on #95034
I was able to minimize it further so that `CustomFut` no longer needs to impl `Future` nor to be awaited. However, The ICE now happens at codegen with the message `assertion failed: !instance.substs.needs_infer()`, but can still be fixed by the known workarounds and it regressed in the same nightly version.

I hop the new ICE provides further insight.

([Playgound](https://play.rust-lang.org/?vers

[2022-03-24 13:47] nikomatsakis opened #95272 "ICE in NLL diagnostics"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-24 14:20] Gankra commented on #95228
At least in the bootstrap, the compiler will complain if you `allow()` a lint in your code that doesn't exist. This potentially just means:

* We need to keep the experimental lint around forever even when the experiment is over
* Users can only "safely" invoke it from the command line manually, which is slightly unfortunate for anything like what I did where I used it as a FIXME/WONTFIX marker fo

[2022-03-24 14:23] lcnr opened #95275 "nll insufficiently checks wf bounds"
[code]
should error because `'b: 'a` is not met but needed by `Foo<'a, 'b>::ASSOC`.
This happens because the predicates of constants are only checked for function definitions
while they have to also get checked for associated constants. I feel like we should really
just check the predicates for all constants instead of trying to safe some work here.

https://github.com/rust-lang/rust/blob/d2df372b

[2022-03-24 14:26] zjp-CN commented on #95267
That post is written by me.
I've opened a PR https://github.com/briansmith/ring/pull/1470, and made some comments there.
I'm not an expert on Rust, actually I'm an amateur programmer, and this is what I can do for now.

[2022-03-24 14:36] Urgau commented on #95269
This seems to be a problem with the `into_iter()` implementation of `Vec` because if I do:
[code]
There is no crash and no Miri error, this to me indicate that there is a problem in the implementation of `IntoIter`.
What's even more weird is that if I add:
[code]
The crash and error still occurs meaning that despite the fact that no deallocation should happen there is still one (maybe more) happen

[2022-03-24 14:43] tmiasko commented on #95269
The drop guard used in the implementation of IntoIter makes a raw copy of an allocator when reconstructing RawVec. The allocator is then dropped twice, once by RawVec drop and second time by IntoIter drop.

https://github.com/rust-lang/rust/blob/d2df372bca13bb60979c909660e69f2451630e81/library/alloc/src/vec/into_iter.rs#L315-L317

cc @TimDiekmann #78461.

[2022-03-24 16:11] matthiaskrgr commented on #95210
Is this still crashing with nightly? `rustc 95210.rs --crate-type lib -C embed-bitcode=no  -C debuginfo=2` seems to work with `rustc 1.61.0-nightly (9f4dc0b4d 2022-03-23)`

[2022-03-24 16:20] saiintbrisson commented on #95271
It does here, same code as above.

[code]

<details><summary>Backtrace</summary>

[code]

</details>

[2022-03-24 16:28] nikomatsakis commented on #91611
@LeSeulArtichaut actually, @spastorino has been looking into doing various refactorings to make this easier, you should probably synchronize with him, I'm not sure what state we are in.

[2022-03-24 16:33] matthiaskrgr commented on #95271
Ah I missed the `--edition 2021` :upside_down_face:  :+1:

[2022-03-24 17:02] DrMeepster commented on #95036
@rustbot claim

[2022-03-24 17:03] bstrie opened #95277 "Poor error message with a function that takes a closure that takes a reference"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d21e5af3a39c5469cff10767987be29a
[code]

The current output is:

[code]

This is a poor error message for the following reasons:

1. The arrows point to the function, but the error message references a closure
2. The function references `Fn`, but the error message only mentions `fn` and `FnOnce`, not

[2022-03-24 17:19] InfRandomness commented on #94310
After a bit of goofing around in the code, I think that Dtor stands for Destructor

[2022-03-24 17:40] InfRandomness commented on #94310
Drop"top"check?
What would the top be for then?

[2022-03-24 17:44] bjorn3 commented on #94310
It may be that `DtorckConstraint` was named before we consistently starting to use dropck.

[2022-03-24 17:47] exrook commented on #95036
Hey @DrMeepster thanks for looking into this bug (and for fixing my last reports as well :)).
I've figured out some more information since first posting this.

I'm able to reproduce the bug in a single crate when compiling with `codegen-units` > 1 and further minimized the triggering code:
[code]

The bug seems to be specifically triggered when the allocator is non zero-sized, it doesn't matter wh

[2022-03-24 17:51] bjorn3 commented on #94310
I think so.

[2022-03-24 18:01] WaffleLapkin opened #95278 "`:path` allow-follow-list should probably include `(`"
This code:
[code]
Currently (1.61.0-nightly (2022-03-19 8d60bf427a4b055f4641)) fails with this error:
[code]

I don't think this is right, I don't think that `(` can ever be a part of a path and thus bring ambiguities here.

[2022-03-24 18:02] bjorn3 commented on #94310
`DtorckConstraint` was moved in that commit. You can see that it originated from here: https://github.com/rust-lang/rust/commit/4e42f388#diff-d2a1fdabeaebb273459e840ceb8ad8eef3e2dd5f8b34b608309587217608216bL104

[2022-03-24 18:05] yaahc commented on #89780
Leaving aside bikeshed-y questions about the naming of functions, I'm gonna lean on @scottmcm's suggestion for having a transpose equivalent on `Poll`:

[code]

I think this is possibly clear enough. `?` always means early return, and in the context of a `Poll` function it still often means propagating Ready implicitly, but all propagations of `Pending` are immediately preceded by a `ready()` call

[2022-03-24 18:08] jasta commented on #95182
In either case the code can be very simply fixed by modifying do_say_hi as such:

[code]

But the issue again is that the compiler makes that fix very clear in the second example, but extremely ambiguous in the first.

[2022-03-24 18:11] pierwill commented on #86299
Would this be better in the rustc API docs or the rustc dev guide, or maybe parts of both?

[2022-03-24 18:15] InfRandomness commented on #94310
Right, yeah I meant it was moved.
Renaming it is then.

[2022-03-24 18:17] petrochenkov commented on #95278
`Fn()` is  a counter-example.
[code]

[2022-03-24 18:19] pierwill commented on #85513
@giltho Your analysis looks correct to me. I'm working up a PR to fix these docs.

@rustbot claim

[2022-03-24 18:21] WaffleLapkin commented on #95278
Ugh. Nevermind then.

As a workaround `$($p:ident)::*` can be used (if you don't need to support `Fn()`)

[2022-03-24 18:21] #95278 closed

[2022-03-24 18:36] in42 commented on #95150
@rustbot claim

[2022-03-24 18:41] workingjubilee commented on #95122
That seems to have been a preexisting feature but yes, if you believe it is in error then feel free to open a new issue about it.

[2022-03-24 18:41] pierwill commented on #85513
Issues like this are welcome, as are small PRs. :)

[2022-03-24 18:43] RalfJung commented on #86299
Parts of it is actual code (like a `mir::Body` "knowing" which dialect it is written in), for the rest -- it matters less where the docs are than that they are in some canonical place. :)

[2022-03-24 19:05] workingjubilee commented on #95228
Hm... I think we can make a lint conditional on `#![feature(strict_provenance)]` being enabled? I remember seeing at least one lint that is like that.

[2022-03-24 19:19] estebank commented on #51479
@Spoonbender potentially, but I would like it if we had a structured suggestion for [the presented cases](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e21b8b4c30f0d74d2a5c5c8e88dd21a1), but I understand it might be too niche of a situation to make it worth it to handle it.

[2022-03-24 19:21] yaahc commented on #89780
That was what I was asking about in the edit, I hadn't really considered it very deeply. At best I was imagining something like:

[code]

[2022-03-24 19:22] #51479 closed

[2022-03-24 19:25] jrmuizel opened #95283 "Better diagnostics for accidentally nested block comments"
Given:
[code]

The compiler says:
[code]

This initially confused me quite a bit because I couldn't figure out why Rust wasn't seeing block comment terminator. Eventually, I realized that the line `//*foo = 12` changed from being a commented out line, to starting a nested block comment. Since block comments nest in Rust, I'm used to commenting out blocks without worrying about what's inside of the

[2022-03-24 19:25] estebank opened #95284 "Add `note` explaining that the same variant of the same enum with different type params are different types"
As brought up in https://github.com/rust-lang/rust/issues/51479, `Result<A, i32>::Err(0)` and `Result<B, i32>::Err(0)` [are not of the same type](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e21b8b4c30f0d74d2a5c5c8e88dd21a1). We should add a note (or ideally a structured suggestion on what to write) explaining this.

[code]

[2022-03-24 19:25] zohnannor opened #95285 "Unhelpful error message when comparing an array of types that are not comparable"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=46491383b2d69ee047fd7312d8ba7c94

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

This error could be confusing for beginners or even experienced rust programmers because it does not explain why one can't compare such type. It should point out that type is not com

[2022-03-24 19:26] spastorino commented on #91611
Ohh, unsure why I've never assigned this to myself. I've been working on this since a while, and I've implemented RPITIT and async fns in traits support partially. At some point, we've realized that we wanted to change the design of the solution and started doing some refactors on RPITs.
Anyway, I've already talked with @LeSeulArtichaut, and I'd be happy to share some work with them about this fea

[2022-03-24 19:57] Seeker14491 commented on #44188
Should this be closed, as this is expected behavior?

[2022-03-24 20:04] AlecGoncharow commented on #95204
@rustbot claim

[2022-03-24 20:10] fdoafreire opened #95286 "fail during cargo check"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-24 20:17] AlecGoncharow commented on #95204
If I understand the issue here correctly, just moving the check from test.rs to the `builder.python()` doesn't entirely remove the issue of needing the `python` name defined on MacOS given the call to `cmd_finder.must_have("python")` in sanity.rs. To resolve this should the check in sanity.rs include a MacOS specific check for `/usr/bin/python3` or an additional check for `python3`?

[2022-03-24 20:43] ctz commented on #95267
1.61.0-nightly (5f3700105 2022-03-22) works so this is a very recent nightly regression.

[2022-03-24 20:49] Git-on-my-level commented on #94967
Reproduced on
[code]

Building in this container (at the time `rust:latest`)

https://github.com/rust-lang/docker-rust/blob/c53032d5763aa335e338d118d1bfd6c5ecc09e31/1.59.0/bullseye/Dockerfile

Running with
[code]

[2022-03-24 20:52] LeSeulArtichaut commented on #91611
@rustbot release-assignment

[2022-03-24 21:43] AlecGoncharow commented on #95204
About to raise a PR, but is it even necessary to perform any check in `builder.python()` if we are always forcing `/usr/bin/python3` in sanity.rs? Are there instances where `sanity::check` won't be called before `CompileTest::run`?

Also first time using `x.py`, what would be the correct test to run here?

[2022-03-24 22:08] ehuss commented on #95286
`1.59.0-nightly (f8abed9ed 2021-12-26)` is quite old.  I believe this has been fixed (duplicate of #92163). Can you try with the most recent nightly?

[2022-03-24 22:10] ehuss commented on #94792
Thanks for the report! `1.59.0-nightly (f8abed9ed 2021-12-26)` is quite old.  Closing as a duplicate of #92163.  I suggest trying with the latest nightly.

[2022-03-24 22:10] #94792 closed

[2022-03-24 22:11] estebank opened #95289 "Account for `{}` when array literal `[]` was meant"
[When incorrectly using `{}` for an array literal when `[]` should have been used with a single element](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0758571f8d7719ad9f0ce8c5bb03ceb0), we should provide a structured suggestion as we already do when [encountering multiple literals](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e6c48161639e901f46e

[2022-03-24 22:12] ehuss commented on #92847
Closing as I believe this is now resolved.

[2022-03-24 22:12] #92847 closed

[2022-03-24 22:12] ehuss commented on #92595
Closing as I believe this is now resolved.

[2022-03-24 22:12] #92595 closed

[2022-03-24 22:12] compiler-errors commented on #95289
seems easy enough, @rustbot claim

[2022-03-24 22:28] DrMeepster commented on #95036
Thanks for the info and minimized code! That's gonna make this easier.

[2022-03-24 22:30] ecstatic-morse commented on #81842
I wrote an [in-depth explanation](https://ecstaticmorse.net/posts/grailsort) of the Huang and Langston-style block sort (grailsort) as well as a [Rust implementation](https://github.com/ecstatic-morse/MrrlSort). Perhaps this will help potential reviewers to understand the block sort paradigm. I looked at some of the implementations in the Rewritten Grailsort project, but it didn't seem to close th

[2022-03-24 22:54] jyn514 commented on #95204
I don't think it's necessary to check in both places, no, you can return /usr/bin/python3 unconditionally in builder.python(). Whether you can remove the check in sanity.rs is a question for @Mark-Simulacrum - I think probably yes, since you can still run the build without python, but it doesn't necessarily need to go in the same change switching to /bin/python3 consistently.

Basically everything

[2022-03-24 23:01] JakobDegen commented on #79980
Has anything changed since this was last looked at to make this easier to fix? I'm running into this issue

[2022-03-25 00:40] whatisaphone commented on #68990
I'll just mention `const fn` since that was the keyword I first tried searching for, and it hasn't been mentioned here yet.

[2022-03-25 01:23] anp commented on #95152
I'm not sure it should, but that might be because I think of macros as a copy/paste of code before any function calls occur. `#[track_caller]` is an attribute for function ABIs, which macros don't have or participate in as used in this example.

It's been a while since I've been in this code, but do we? I'm only seeing any related attributes on the internal functions, and I'm almost positive there

[2022-03-25 02:02] kaimast commented on #95267
I see that too when compiling [maturin](https://github.com/PyO3/maturin)

[2022-03-25 02:09] Mark-Simulacrum commented on #95204
If we can rely on /usr/bin/python3 always existing on macOS there's no need to check for it, but I would expect that the code in sanity.rs isn't platform-specific and so should continue to look for python in a variety of ways (likely the same ways across all platforms).

It looks like python is currently used for two separate things: lldb tests, and docck. The latter likely works with python 2 and

[2022-03-25 03:06] saethlin commented on #95240
Some time ago I mentioned the same thing on the zulip, and the response was basically crickets and "that's expected" 🤷 https://rust-lang.zulipchat.com/#narrow/stream/187780-t-compiler.2Fwg-llvm/topic/Compile.20time.20blowup.20associated.20with.20asan.3F/near/262968197

For what it's worth, I don't think this is okay, but I suspect that the real problem here is an interaction between address saniti

[2022-03-25 04:00] #90319 closed

[2022-03-25 04:55] SUPERCILEX commented on #87575
Is there a tracking issue for const range iterators? Doing something like `for i in 0..1000 {` doesn't compile... am I missing something?

[2022-03-25 05:17] hunjixin commented on #95267
same issue on ubuntu20

[2022-03-25 06:28] scottmcm commented on #84277
@m-ou-se I've been thinking more about this, and I think where I really want to hear more is from people who actually have this scenario:

Because AFAIK that's currently only a hypothetical, not something that I've seen people doing to know how much of an issue it is.

The reason that's important to me is that the option for "you can create it with `from_continue` or `from_break` but you can't act

[2022-03-25 06:45] workingjubilee commented on #42202
x64 is a particularly annoying/amusing case, because while the default is a "four-register fast-call calling convention" (I imagine MSDN **winking** here), it is not actually a perfect match with `__fastcall` and I would feel dubious about calling it a superset of `__fastcall`.

[2022-03-25 06:57] zjp-CN commented on #95267
Maybe related to this issue.
Here is a snippet of macro with `///` on the match side:
[code]

Pass with rustc 1.61.0-nightly (5f3700105 2022-03-22), you can try this snippet via
[code]

Failed with rustc 1.61.0-nightly (9f4dc0b4d 2022-03-23), you can try this snippet via
[code]
[code]
This error accords with what `cargo expand` emits on my local machine.
Version: `cargo-expand v1.0.15` and `cargo-

[2022-03-25 06:59] scottmcm commented on #89780
One thing that came to mind that opens up as a possibility if some form of (3) happens, removing the `Poll: Try` from the going-forward version of `?`:  This might make the `ops::Try`+`ops::Residual` combination easier to understand by allowing them to be more tightly tied together.

Right now there's basically no trait restriction on residuals, and that has caused some confusion -- see the third

[2022-03-25 07:48] m-ou-se commented on #84277
Interesting! I'll try to think of an example.

[2022-03-25 07:50] m-ou-se commented on #84277
If I remember correctly, @dtolnay also thought this might be a realistic scenario. @dtolnay, do you have of any example of this?

[2022-03-25 07:51] orlp commented on #95269
Minimal reproduction of problem:

[code]

Prints

[code]

[2022-03-25 09:10] bjorn3 opened #95297 "Add version header to -Zno-link .rlink files"
This allows giving a better error when attempting to use the original source file with -Zlink-only rather than crashing and allows rejecting rlink files produced by a different rustc version.

[2022-03-25 09:16] acatangiu commented on #79791
This works, thank you!

[2022-03-25 09:16] #79791 closed

[2022-03-25 09:18] y86-dev commented on #85099
While @Aaron1011's approach works, I would prefer not to modify the behaviour of `Pin<Pin<P>>` because
- `Pin<Pin<P>>` should behave equivalently to `Pin<P>`, if it does not, this may create confusion for developers who do not know about this issue
- it requires modifying the CoerceUnsized implementation of Pin again, when we can solve this issue using an other way (e.g. negative impls), adding ad

[2022-03-25 11:33] lqd commented on #95267
The piece of code looks surprising, but bisection lead to https://github.com/rust-lang/rust/pull/95159

[2022-03-25 11:35] #94526 closed

[2022-03-25 11:56] zjp-CN commented on #95267
@lqd

Ok, I found it https://github.com/rust-lang/rust/pull/95159/commits/10644e0789a3c722e11f74968f24c1382f9ccb11

:smile:

[2022-03-25 12:24] nnethercote commented on #95267
Thanks for the report. Should be an easy fix, I will get to it on Monday.

[2022-03-25 12:30] MendyBerger opened #95303 "Compiler panic"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

Playground link https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a0836f05be8de1341876d601e7af8fa2

Note: not getting error with `nightly-2022-01-01`

[2022-03-25 13:20] kjetilkjeka commented on #38788
Here's a suggestion for an update to the tracking issue to include concerns. Partially copied for japaric's original post and added concerns from and links to relevant issues.

If you have the possibility you should take a look @RDambrosio016

- - -

Feature gate `#![feature(abi_ptx)]`

This ABI is intended to be used when generating code for device (GPU) targets like `nvptx64-nvidia-cuda`. It is

[2022-03-25 13:26] nikomatsakis opened #95305 "ensure that `'_` and GATs yields errors"
It's not clear how `'_` and GATs should interact. We should add tests that using `'_` either in the parameter list of a GAT or in its value is prohibited.

e.g., both of these should error (and currently do)

[code]

[code]

[2022-03-25 13:31] zjp-CN commented on #95267
I think https://github.com/rust-lang/rust/commit/10644e0789a3c722e11f74968f24c1382f9ccb11 is right to some extent.
Even in previous Rust version, `///` stuff in the matcher is not so useful and will be ignored like normal comments `//`:

[code]

With rustc 1.61.0-nightly (https://github.com/rust-lang/rust/commit/5f37001055c29982f4c27ee9edd90449c8e07774 2022-03-22) or other versions before, the res

[2022-03-25 13:37] lqd commented on #95240
Any of these changes makes the slowdown smaller:
- removing asan
- having more than 1 CGU
- having a lower opt-level

[Here's a breakdown](https://gist.github.com/lqd/7a92aaf73f92476b566d5287b038d4ab) of the slowest combination from the OP: it seems to be coming from LLVM, so maybe opening an issue there could be interesting ?

[2022-03-25 13:40] jaskij commented on #93496
Maybe just the first letter even? Stylized differently, or as an icon, so that it stands out more.

[2022-03-25 14:21] matthiaskrgr opened #95307 "ICE: no hir id for defid: compiler/rustc_middle/src/hir/mod.rs:76:36"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-25 14:51] vramana commented on #80937
@diohabara Are you still interested to work on this? Or can I claim it?

[2022-03-25 15:01] jyn514 commented on #80937
https://github.com/rust-lang/rust/pull/91121 is making good progress; I don't think it makes sense to duplicate work.

[2022-03-25 15:04] nico commented on #92939
If I have a string containing a full command (e.g. `myprogram.exe myArg1 myArg2`), how would I use this new API to create a process running that command?

I want to have something that behaves as if I passed that string to `CreateProcessA()`.

Running `Command::new("cmd.exe").raw_arg("/C").raw_arg(mystring)` isn't an option, since as soon as you bring cmd.exe into play, your subject to its command

[2022-03-25 15:47] DutchGhost opened #95310 "ICE: yield in async block"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]
</p>
</details>

[2022-03-25 16:03] marmeladema commented on #95305
@bors claim

[2022-03-25 16:15] boulanlo opened #95311 "ICE: `StableHasher`: unexpected region `'_#0r`"
I recently updated my nightly toolchain and our project (still not open-sourced) ICE'd. I managed to reduce the problem to a minimal working example:

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

I ran a quick `cargo-bisect`:

searched nightlies: from nightly-2022-03-0

[2022-03-25 16:26] Xaeroxe commented on #92939
@nico this API can’t help you accomplish that. In order to accomplish that you need a null value passed for lpApplicationName, which isn’t supported by std::process::Command. You’re probably best served by calling CreateProcessA directly at that point.

[2022-03-25 16:45] #94310 closed

[2022-03-25 17:13] ruuda commented on #95240
The project in which I discovered this depends on ~700 crates, and `curve25519-dalek` is the one that stands out as the one that takes ages to build. Of course some compilation slowdown is expected with these flags, but `curve25519-dalek` is affected disproportionally by a large margin, I suspect it triggers some pathological case, maybe something accidentally quadratic somewhere?

Thanks for timi

[2022-03-25 17:33] metasim commented on #94967
Possibly relevant:

https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=221185

[2022-03-25 17:54] scottmcm opened #95313 "Identity `match` on field-less enum compiles worse than using `as`"
Godbolt demo: <https://rust.godbolt.org/z/Y35MWYxW8>

Because [`Ordering` has explicit discriminants](https://github.com/rust-lang/rust/blob/09be68c869d95fe1df0f74a228569101c4e76be7/library/core/src/cmp.rs#L339-L349), I expected these two functions to compile to the same thing:
[code]

They don't, however:
[code]

[code]

Noticed while replying to https://users.rust-lang.org/t/std-ordering-as-inte

[2022-03-25 17:59] compiler-errors commented on #95311
probably due to my PR

@rustbot claim

[2022-03-25 18:22] estebank commented on #89418
As of tomorrow's nightly, the output for the original report will be almost the same as https://github.com/rust-lang/rust/issues/89418#issuecomment-973322922.

<img width="1112" alt="" src="https://user-images.githubusercontent.com/1606434/160179341-99d31ec7-1d07-45ec-902a-657d5ee7c9e5.png">

[2022-03-25 18:38] scottmcm commented on #95313
[Alive confirmed](https://alive2.llvm.org/ce/z/hAAoh_) that LLVM could just do this, so I've also filed https://github.com/llvm/llvm-project/issues/54561

But I'll leave this open too because clang seems to optimize the equivalent `switch` fine (<https://clang.godbolt.org/z/565Wcf8fK>), so it's possible that in Rust we should be doing something better.

[2022-03-25 18:39] camelid commented on #80937
@rustbot assign @mattwilkinsonn

[2022-03-25 18:40] Alexendoo commented on #81786
No ICEs, I believe due to #95069

[2022-03-25 18:40] #81786 closed

[2022-03-25 19:05] #95258 closed

[2022-03-25 20:41] compiler-errors commented on #95307
minimized:

[code]

@rustbot claim

[2022-03-25 20:42] shepmaster commented on #95267
Note that the playground's nightly is a few days old and cannot be upgraded because of how this issue affects *ring* ;-)

[2022-03-25 21:48] pthariensflame commented on #95122
@workingjubilee Alright; I've opened #95319.

[2022-03-25 23:15] josephlr commented on #78485
Is there any reason for the `ReadBuf` type and most of its methods to not live in `libcore`. This abstraction would be nice for some OS-level stuff we are working on.

[2022-03-26 01:37] jrmuizel opened #95323 "noalias on a Box doesn't seem to have an impact when compiling without `-C panic=abort`"
I tried this code:

[code]

I expect the assert_eq! to be compiled away. However, this only happens with `-C panic=abort`.

I'm using rustc 1.61.0-nightly (c84f39e6c 2022-03-20)

[2022-03-26 02:34] kpreid opened #95324 ""cannot return … reference to data owned by the current function" even though the result would be a harmless reborrow"
Given [the following code:](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=22ac8e7675c9130c8cc01e5887fed93e)

[code]

The current output is:

[code]

Ideally the code would compile (just as it does when the function body is either `&*foo` or `foo`) or the message would contain a hint similar to `clippy::needless_borrow` that I just need to remove the `&`.

Usually, the wro

[2022-03-26 03:13] DrMeepster commented on #78485
I think the only reason is that core::io doesn't exist.

[2022-03-26 04:54] lupd commented on #94755
@rustbot label +A-docs +E-easy

[2022-03-26 05:17] marcospb19 opened #95325 "rustdoc: section `methods from Deref` hidden when `no_std` is set"
If `no_std` is set, section "methods from Deref" does not appear for struct.

I tried this code:

[code]

Then ran:
[code]

I expected this to show up:

![image](https://user-images.githubusercontent.com/38900226/160225718-0c3a1771-23eb-4a0a-99ff-2a779a8cabab.png)

Instead, it did not show up:

![image](https://user-images.githubusercontent.com/38900226/160225751-a88799e9-4e3d-4a19-a165-430f5c59a0

[2022-03-26 06:12] matthiaskrgr opened #95327 "ice: "indeterminate path result in resolve_qpath""
### Code
code from `./src/tools/rustfmt/tests/target/where-clause-rfc.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-26 06:37] DrMeepster commented on #95036
I still don't know how this actually happens, I just know that the change in #95328 fixes it. I suspect it's some code assuming that a wide box is always a wide pointer, but I don't know where...

[2022-03-26 08:23] matthiaskrgr commented on #95327
searched toolchains 92804455704cc59d6d8272faf72f442c6125d395 through d4acac935b6dd6413964b068421d8d12441f702e

********************************************************************************
Regression in 903427b2e807cb1292388940b3f44f3b061cfebf
********************************************************************************

cc @petrochenkov  looks like this is happens since #95255

[2022-03-26 08:42] vramana commented on #81311
![image](https://user-images.githubusercontent.com/3112509/160231568-f169bf20-6838-40b1-8f18-ac025b13a33e.png)

https://doc.rust-lang.org/nightly/nightly-rustc/rustc_data_structures/fx/type.FxHashMap.html

Seems like this issue is solved.

[2022-03-26 09:00] Jerrody opened #95330 "Unexpected `#[cfg(debug_assertions)]` error."
I tried this code:
[code]
`main.rs` file:
[code]

I expected to see this happen:
**This block of code doesn't work in release mode, but works in debug mode.**

Instead, this happened:
**In release mode I get this error in compilation time.**

[code]
But additional scopes fix this error in release build:
[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p

[2022-03-26 11:03] c410-f3r commented on #95152
Would you guys be open to support `#[track_caller]` on macro declarations?

[code]

Or `#[track_caller]` on macro calls?

[code]

[2022-03-26 11:12] DCNick3 commented on #69882
Error message could definitely be improved. Currently this code:

[code]

Results in

[code]

Which is really confusing.

Using `Vec<impl Trait>` gives a message that is much better (at least saying that it has anything to do with the `!` type and the return value):

[code]

Why is it not shown in the first case?

[2022-03-26 12:52] Alexendoo commented on #92148
Fixed by #94391

[2022-03-26 12:52] #92148 closed

[2022-03-26 12:52] Alexendoo commented on #93955
Fixed by #94391

[2022-03-26 12:52] #93955 closed

[2022-03-26 12:53] jendrikw commented on #91126
Could we consider adding this to `fn` pointers?

[2022-03-26 13:34] Kestrer opened #95331 "Confusing "the parameter type `Self` may not live long enough" error with dyn HRTB callback taking GAT"
I tried this code:

[code]

I expected to see this happen: No error.

Instead, this happened:

[code]

The strange thing is that this alternative version, which should in theory be totally identical, works fine:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-03-26 13:35] arnaudgolfouse opened #95332 "Using `Option` to get undefined behaviour in a `const`"
I tried this code:

[code]

And assumed the compiler would reject it, but there was no compilation errors.

Note that the following also compiled:

[code]

I am assuming this is caused by layout optimizations ?

### Meta

`rustc --version --verbose`:
[code]

`rustc +nightly --version --verbose`:
[code]

[2022-03-26 14:15] oli-obk commented on #69882
I want to fix this. Unfortunately if you had an `impl Trait for () {}` in your first snippet, that would compile right now and error if my fix would get accepted.

I could try to just fix the diagnostic, but it feels like just piling on hacks (the fact that this works if `()` implements the trait is already a huge hack imo)

[2022-03-26 14:18] fbstj commented on #91126
is this related to #95241 ?

[2022-03-26 14:32] oli-obk commented on #69882
A concrete example that would be unsound or at least ICE the compiler is https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=ea0e808536f4373dc7be9f002159fa1d

If we just didn't register any hidden type, the `make_me` call cannot be compiled successfully.

If we used `!` fallback, we would get an error because `!` does not implement the trait. Of course we could say we generate

[2022-03-26 14:33] RalfJung opened #95334 "{Rc,Arc}::{new_uninit_slice,from_iter} create too large references"
See https://github.com/rust-lang/rust/pull/95252, https://github.com/rust-lang/rust/pull/95295 and [the discussion on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/Layout.20Isn't.20Enforcing.20The.20isize.3A.3AMAX.20Rule) for details. I just figured we should also have an issue to track this.

The following code:
[code]
fails in Miri (on a 32bit target) with
[code]
In f

[2022-03-26 14:36] RalfJung commented on #95334
Cc @Gankra @CAD97 @the8472 @rust-lang/wg-allocators

[2022-03-26 16:45] Numenorean opened #95336 "Changing options on cloned TcpStream doesn't propagated to the original one"
I tried this code:

[code]

I expected to see this happen: the original stream timeout also is changed by modifing the copy
Instead, this happened: it seems TcpStream copy doesn't inherits specific options

On beta and nightly the same situation

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-03-26 16:46] Gankra commented on #91126
ptr_to_from_bits is inherently contradictory to the goals of the strict_provenance (#95228) experiment, yes. In my initial WIP PR I actually marked them as deprecated just to see what was using them.

The problems are that they:

* Imply ptr-int-ptr roundtrips
* Specify that ptr==usize (intptr_t)

Strict provenance is experimenting with whether we can specify

* ptr-int-ptr doesn't actually work
*

[2022-03-26 16:49] sfackler commented on #95336
This is up to the operating system.

[2022-03-26 17:05] jyn514 commented on #81311
It looks like at some point bootstrap started passing `-Zrustdoc-map` to cargo, so rustdoc now knows where `rustc_hash` is and can link to it. The original issue is not solved though, that re-exports of undocumented items will not have a `source` link generated. Here's an MCVE:
[code]
![image](https://user-images.githubusercontent.com/23638587/160249934-0c880b10-a01e-4c3e-809b-fa352bfd8222.png)

[2022-03-26 17:24] petrochenkov commented on #94924
Fixed in https://github.com/rust-lang/rust/pull/95337.

[2022-03-26 17:24] petrochenkov commented on #78696
Fixed in https://github.com/rust-lang/rust/pull/95337.

[2022-03-26 18:03] nagisa commented on #95334
I wonder if fixing this is in any way tied to the discussion about the stability of `size_of` output. In particular I imagine something like `Rc::<[u8]>::new_uninit_slice(isize::MAX as usize - 2);` works today (since the `size_of::<RcBox> = 2`), but does that also imply that we cannot ever change the size of `RcBox` either, even though it is a very private implementation detail?

[2022-03-26 18:04] unexge opened #95339 "Suggest borrowing when user tries to convert `T` to `&U` but only `impl From<T> for U` exists"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=da4e717b795a5755355618e0a8773d50

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

It becomes hard to spot that you should borrow when you have `impl From<T> for U` and you are using `foo(T.into())` but `foo` expects `&U`. For example an output from Rust Analyzer:

[2022-03-26 18:20] tromey commented on #27089
I tried removing the ignore-lldb comment today, and the test still fails there.

[2022-03-26 18:31] Gankra commented on #95334
I think the extreme vagueness of repr(rust) already implies we get to change size_of whenever and break you if you're trying to super precisely rely on them having a stable value.

[2022-03-26 18:35] Lokathor commented on #95334
Yes, very few standard library types make any promises about their size (though a few do, eg Vec, NonZeroFoo, etc).

[2022-03-26 18:50] exrook commented on #95036
I think you're right about that assumption, using a wide pointer in the box has no issues:
[code]

[2022-03-26 19:23] RalfJung commented on #95332
We do not guarantee that all Undefined Behavior is detected, not at run-time and not at compile-time. When you use `unsafe`, it is up to *you* to make sure you follow the rules.

We *do* detect some UB, e.g. here:
[code]
But exhaustively checking for all UB is super expensive at best. Even [Miri](https://github.com/rust-lang/miri/), which does a lot more work than CTFE, does not detect *all* UB.

[2022-03-26 19:25] saethlin commented on #95332
Miri detects this if the code is shifted to normal runtime eval. Is it worth considering moving this check into CTFE or does that just open up too many questions?

[2022-03-26 19:27] Lokathor commented on #95332
on the one hand i would like CTFE to catch it, on the other I'm worried if people might think that it'll then catch the runtime version as well (which it won't).

[2022-03-26 19:29] saethlin commented on #95332
I'm not so sure about that. C++ has set a precedent that const-eval has extra UB checking powers that normal runtime eval does not have.

[2022-03-26 19:45] oli-obk commented on #95332
As Ralf noted, this can be very expensive. We can benchmark it to see how expensive and make a decision based on that.

We can also consider using a lint for these extra checks and only turning them on if the lint is warn/deny (and set it to allow by default for speed).

Oh, even funnier idea: clippy can overwrite the const eval query to make it run with validation. This way `cargo clippy` will ca

[2022-03-26 20:07] jhpratt commented on #95226
It would be nice if a solution to this could be applied to user-provided proc macros as well. The metadata should all be there, and the internals as to how the attributes are provided are shared.

[2022-03-26 20:17] ChrisDenton commented on #95332
Specifically in the narrow case of `NonZero*` integer types, would it be quicker for Rust to warn against any use of `new_unchecked` while in a `const` context?

[2022-03-26 20:25] saethlin commented on #95332
I am suspicious of claims that this check is expensive. Miri is poorly-benchmarked, does CTFE have any benchmarks?

[2022-03-26 20:33] carbotaniuman commented on #94348
@AzureMarker Ok I think I figured it out, and I was kinda XYed. Rust will just ignore your crate if you put it in the dependency list, but don't make another reference to it. Even with the `used(compiler)`/`used(linker)` I just implemented. You'd need to add an `extern crate xxx` to whatever code expects the code to be linked. The `used` is somewhat of a red herring honestly.

[2022-03-26 20:40] returntoreality commented on #93198
I have also an issue similar to this problem. In my case the function has two arguments with the same type signature, and so the error does not indicate which argument is actually causing the error. I think the error should:
- tell the argument name and type (instead of just the type)
- underline the actual argument and not the function name.

[2022-03-26 20:54] AzureMarker commented on #94348
Huh, I thought I already tested that. I'll check again just to make sure.

[2022-03-26 21:09] oli-obk commented on #95332
Yes, CTFE is benchmarked with the rustc benchmarks. Trying it out is as simple as opening a PR removing https://github.com/rust-lang/rust/blob/8876ca3dd46b99fe7e6ad937f11493d37996231e/compiler/rustc_const_eval/src/interpret/machine.rs#L424 and manually adding it to the two use sites of the macro. Then flip the bool for the const_eval case.

[2022-03-26 22:18] Diggsey commented on #95228
Overall I like this idea for Rust, but it seems incompatible for C interop. It's pretty common in C APIs to use an integer as a "user-data" field intended to store arbitrary values (primarily pointers). For example, the winapi `SetWindowLongPtr` function accepts a pointer-sized integer.

I could imagine having some kind of built-in "pointer map" type, which behaves like a `HashMap<usize. *mut T>`:

[2022-03-26 22:24] RalfJung commented on #92980
@BurntSushi @nikomatsakis @pnkfelix @yaahc friendly reminder that there are some boxes waiting for you to check them here. :)

[2022-03-26 22:33] Gankra commented on #95228
I feel like it's very plausible to define some sort of pointer-int union without messing with ABI for "this is a pointer, the API is lying" since in general, afaict, it's always sound to say something that is actually just an integer is a pointer "for fun" (as ptr::invalid shows) as long as you only deref/offset it when it's a Real Pointer.

[2022-03-26 22:51] estebank commented on #87437
Addressing in #91873

<img width="750" alt="Screen Shot 2022-03-26 at 3 38 34 PM" src="https://user-images.githubusercontent.com/1606434/160259280-f3374ee6-b9af-409a-9827-9dc94d00f803.png">

[2022-03-26 23:10] RalfJung commented on #95228
Yes indeed, pointers are a superset of (equally-sized) integers.

[2022-03-26 23:32] carbotaniuman commented on #47384
Alright I've figured it out, when implementing #94348, or rather after implementing it, and there's a lot of confounding variables that led me down several wrong paths. In short, `#[used]` does not inhibit internal linkage, which means LLVM is then free to optimize away the variable.

In a module such as this:
[code]
Rust currently generates LLVM IR like so:
[code]
The `internal constant` allows L

[2022-03-26 23:37] carbotaniuman commented on #94348
As bjorn3 said, `#[no_mangle]` (and also `#[link_name]`) already do the right thing. Anybody who needs this is likely running into #47384. I'm not sure if there's any use case for exporting a function with a Rust mangled name, so I've closed my PR, but if anyone has any use cases please let me know.

[2022-03-26 23:56] scottmcm commented on #44491
This makes me wonder about a potentially-much-simpler version of this: could we say that a function doesn't need to "prove" the bounds needed for types it mentions in its signature?

So, for example, I could write this:
[code]
And that would be fine, because I'm not doing anything that *needs* the bound.

What *would* need the bound?  Any constructor (struct literals, variant functions, etc), and

[2022-03-26 23:58] petrochenkov commented on #95327
Fixed in https://github.com/rust-lang/rust/pull/95350.

[2022-03-27 00:20] Diggsey commented on #95228
But then you can't mechanically map C signatures to Rust, because you can't know whether an integer should be treated as a pointer or not.

Today, basically everything you can do in C, you can also do in unsafe Rust, which makes it possible to call APIs designed to be called from C, but if Rust can't just "do what C does", then it makes that interop a lot harder.

[2022-03-27 00:27] shepmaster commented on #84673
I wanted this feature to be able to automatically format errors to a width suitable for inclusion on slides. However, it does not:

[code]

`this scope` exceeds the specified width of 80 columns. I'd prefer it be

[code]

Should I register this as a separate issue?

[2022-03-27 00:59] Gankra commented on #95228
I mean, yes, but if you actually *use* the API and it expects you to pass it a dereferenceable pointer where it says the arg is an integer, then at that point you can go "ah, this API is lying" and do whatever needs to be done about that. Blindly charging forward, slamming into problems, and forcing ourselves to figure out what "do whatever needs to be done" should look like is the primary mission

[2022-03-27 01:43] fee1-dead commented on #95332
It feels like it can just have debug_assert! inside the unchecked functions, or would it not be ideal?

[2022-03-27 01:52] saethlin commented on #95332
@fee1-dead I've had a PR up for the past few months that does just that :) https://github.com/rust-lang/rust/pull/92686

[2022-03-27 01:57] Lokathor commented on #95228
So, for that specific API, [SetWindowLongPtrW](https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-setwindowlongptrw), the official signature looks like this:
[code]
where `HWND` is a `*mut c_void` (or other opaque pointer of choice), and `LONG_PTR` is `isize`.

So in "real programs" you're expected to:
* during window creation: allocate your user data on the heap during window c

[2022-03-27 02:27] RalfJung commented on #95332
That wouldn't make any difference here though, since the stdlib we ship is compiled without debug assertions.

[2022-03-27 02:30] Gankra commented on #95228
Could you elaborate on why provenance "must" be lost? If you're operating on a system that actually dynamically maintains provenance, the information must be maintained by the callee anyway or the OS literally doesn't function. If you're operating under a model where the rust abstract machine just needs to be self-consistent, then presumably having the API signature reflect "pointer goes in, point

[2022-03-27 03:15] Lokathor commented on #95228
Well if there's no global analysis then that's fine, sure.

[2022-03-27 03:35] compiler-errors commented on #95248
@ArthurKValladares, do you have a repo that reproduces this?

[2022-03-27 03:56] ArthurKValladares commented on #95248
Sadly not quite yet, this is in code I can't share, and there is no clear path to an easy minimal repro. I'll try to dedicate some time to finding a repro in the next few weeks.

[2022-03-27 03:57] elimerl commented on #91953
Okay, thanks!

[2022-03-27 03:57] #91953 closed

[2022-03-27 03:58] compiler-errors commented on #95248
No worries and no rush. Thanks for the update, was just curious..

[2022-03-27 04:29] jyn514 commented on #91071
Oh, these are unit tests and not UI tests. I don't know the cause of this error but I'm not surprised it's buggy, I've never tried this.

I think it should be possible in theory? Since rustdoc should link to the downloaded rustc_driver and libtest. If I had to guess the bug is that bootstrap is playing games with rustdoc stages again and hard-coding stage 1 for unit tests.

[2022-03-27 04:33] jyn514 commented on #91071
Oh they're not even unit tests, they're doctests. Yeah that sounds extremely cursed, I would expect it to be a lot of work to fix. That will be in addition to the staging bug though, --no-doc also fails for me.

[2022-03-27 04:37] saethlin commented on #95332
_sigh_ of course the bigger problem is that all those checks are disabled in const eval. And I did that because I assumed while writing it that const eval would catch all these things. Around and around we go...

@oli-obk What's wrong with just doing this?
[code]

[2022-03-27 04:38] jyn514 commented on #77556
I think it probably makes sense to close this as unactionable, since there's no clear reproduction conditions and it's very rare. It should be less and less necessary to update llvm anyway, since bootstrap is getting smarter about not cloning it in the first place.

[2022-03-27 05:33] fee1-dead commented on #95332
Then an unconditional check using const_eval_select would suffice?

[2022-03-27 06:20] jsha commented on #92771
Reopening. This is fixed on beta, but on nightly it's regressed. I'm not yet sure why, but it seems like the proximate cause it that some item-infos extend past the right border, like this one on Iterator's page, on the impl for `ScmCredentials`:

![PXL_20220327_061722813 MP](https://user-images.githubusercontent.com/220205/160269277-958061f0-29ba-41f9-ae9a-f3a10f34d18f.jpg)

[2022-03-27 07:01] #93450 closed

[2022-03-27 07:01] rust-highfive opened #95357 "`miri` no longer builds after rust-lang/rust#95351"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#95351, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-03-27 07:07] mleonhard commented on #42877
I wish to use this in [safina-executor](https://crates.io/crates/safina-executor) library.  The library currently uses this type for async tasks:
[code]
([v0.3.2 lib.rs:306](https://docs.rs/safina-executor/0.3.2/src/safina_executor/lib.rs.html#306))

I am modifying it to remember when a task has returned `Polling::Ready` and avoid polling it again.

I would like to use the following type, but it d

[2022-03-27 07:08] jongiddy opened #95358 "Type inference problem"
I originally posted this at https://users.rust-lang.org/t/type-inference-failure-in-simple-generic-method-call/73423 but didn't get much response, apart from agreement that this is weird.

This code wraps the `reqwest::ReqwestBuilder::header<K, V>` method with a function that has the same signature. Both functions have generic parameters `K` and `V` that should be easily and independently inferred

[2022-03-27 07:24] canndrew opened #95360 "Tracking Issue for feature(generator_clone)"
This is the tracking issue for `#[feature(generator_clone)]`.

This feature extends [RFC #2132](https://github.com/rust-lang/rfcs/pull/2132) to allow non-`static` generators to implement `Clone`/`Copy` if all their captured variables and all local variables which are held across a yield implement `Clone`/`Copy`. For instance, we can now write code like this:

[code]

This also works if the generat

[2022-03-27 07:53] carbotaniuman commented on #47384
If anyone read my last message, I think that's just my computer getting hit by cosmic rays/some hardware bug, because trying to reproduce the fix led to cascading failures across my Linux install, sigh, so much time wasted. Sorry for any noise.

Running everything again on my laptop now and the case where you're including a static into the final `main.rs` appears to work with `#[used(linker)]`. Ev

[2022-03-27 09:19] #71499 closed

[2022-03-27 09:37] SimonSapin commented on #42877
To use `bool` on stable, does using a struct type instead of a tuple work?

[2022-03-27 11:29] bugadani commented on #95336
Maybe, but the [docs](https://doc.rust-lang.org/stable/std/net/struct.TcpStream.html#method.try_clone) say the following:

[2022-03-27 11:32] GuillaumeGomez commented on #95076
Closing then.

[2022-03-27 11:32] #95076 closed

[2022-03-27 12:26] apiraino commented on #95267
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2395267.20Failed.20to.20compile.20ring.20under.20nightly.20Rust.20.281.2E61.2E0.2C.209.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2022-03-27 13:04] vramana commented on #81311
@jyn514 Can I work on this issue?

[2022-03-27 13:10] jyn514 commented on #81311
Sure :) use `@rustbot claim` so other people know you're working on it.

[2022-03-27 13:12] vramana commented on #81311
@rustbot claim

[2022-03-27 13:22] KeKsBoTer opened #95367 "Struct update syntax with same struct from different modules breaks compiler"
Hi,

I accidently used the struct update syntax with two identical structs from different modules.
This resulted in a compiler error.

I created a small code example, that repoduces the bug:

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-27 13:33] KeKsBoTer commented on #95367
Was fixed in 1.59.0

[2022-03-27 13:33] #95367 closed

[2022-03-27 13:43] RalfJung commented on #95357
Cc https://github.com/rust-lang/miri/pull/2040

[2022-03-27 14:22] RalfJung commented on #95332
Yes that would be an option.

[2022-03-27 14:27] RalfJung commented on #95332
The compiler contains *two* instances of the `interpret::Machine` trait: one for constant propagation (a MIR transform, i.e. an opportunistic optimization), and one for constant evaluation (the thing that evaluates `const`/`static`, array lengths, etc).

You'll want to only enable validation for the constant evaluator, not for constant propagation; that's what @oli-obk described.

But I think even

[2022-03-27 14:51] mgrech commented on #27060
I can't help but feel very disappointed by the current state of affairs regarding packed structs and the direction Rust is taking here. Coming from a C++ background, I just started learning Rust for a reverse engineering weekend project where I needed to be able to read proprietary file formats with all kinds of weird layouts and I wanted to be declarative, which meant using packed structs. Unfort

[2022-03-27 15:36] RalfJung commented on #27060
Yes, this would be a principled approach to solving the problem. That is also a very heavy hammer for a niche feature, so the question is whether that is complexity budget well spent. Meanwhile in this issue we are working on at least fixing the soundness gap while other people (if they want) can work on more fundamental approaches to handling insufficiently aligned data in Rust.

Put differently:

[2022-03-27 15:48] khuey commented on #89195
I don't observe this on 1.59.0.

[2022-03-27 15:48] #89195 closed

[2022-03-27 15:49] RalfJung commented on #27060
In fact, given that we have https://github.com/rust-lang/rust/issues/82523 to track the future-incompat issue, I wonder if we should close this one?

[2022-03-27 16:05] RalfJung commented on #95228
Agreed with @Gankra.

- Either those FFI calls go to 'outside' the Abstract Machine, in which case their effect on the state of the Abstract Machine basically has to be axiomatized (similar to how Miri implements 'shims' for calling system functions). We can just axiomatize that the provenance of the user data pointer is preserved. The compiler doesn't know what the right axiom is for this functio

[2022-03-27 16:22] khuey commented on #72247
I think this has been fixed at some point. I don't see this on the test case I provided anymore.

[2022-03-27 16:22] #72247 closed

[2022-03-27 16:53] Diggsey commented on #95228
It does not, it returns an integer, but presumably you are suggesting redefining the function such that the return type preserves provenance.

[2022-03-27 17:04] RalfJung commented on #95228
Yes, @Lokathor suggested above to adjust the signature of `SetWindowLongPtrW` so I assume the same is done to the other related functions.

[2022-03-27 17:09] Lokathor commented on #95332
I know nothing about the const evaluator, but can a single extra check against zero, in limited situations, really be that much of a slow down?

And if so, could it be done based on if some cargo key is enabled or not? Like only do the extra checks if debug_assertions are enabled?

[2022-03-27 17:12] RalfJung commented on #66151
I implemented that in https://github.com/rust-lang/rust/pull/95373.

[2022-03-27 17:24] RalfJung commented on #95332
The check we are talking about -- the check Miri performs -- is to check on *every single assignment` that the value being assigned indeed satisfies validity of the type the assignment happens at.

That's why I mentioned a typed-based heuristic to only check in certain situations, e.g. only assignments of type `NonZero*` (and similar non-null types). But that will miss some bugs, like when transmu

[2022-03-27 17:38] jyn514 commented on #80096
@camelid I think you're right that the binary will be easier - parsing the markdown requires parsing doctests so that it can generate the "Run" button, and parsing doctests requires all of `rustc_parse`.

[2022-03-27 17:56] saethlin commented on #95332
Just so everyone knows, I'm working on the suggest PR above, but this breaks a lot of UI tests that `x test --bless` doesn't fix so it might be a bit.

[2022-03-27 18:04] compiler-errors commented on #95307
I am not sure if I am able to solve this ICE -- it has to do with the way that `async fn` in traits are treated as async fn in some places, but not lowered as async fn in other places. That means there's a DefId that is not associated with a HIR Id, but I can't exactly track it down.

@rustbot release-assignment

[2022-03-27 18:12] RalfJung commented on #66151
After having another look at the report in https://github.com/rust-lang/rust/pull/87041, I tend to agree -- I am not sure if old hyper and crossbeam will ever go sufficiently out of use that we can break them entirely. Hopefully when people bump the edition of their crate they run the test suite in a recent compiler as well (or CI does it for them) and that way they learn about the problem. Howeve

[2022-03-27 18:47] compiler-errors commented on #94319
@rustbot claim

[2022-03-27 19:08] Aaron1011 commented on #66151
The closest precedent for codegen changes would be min captures for closures - IIRC, there's a lint that warns you if the drop order will get changed when you upgrade to edition 2021.

[2022-03-27 19:32] estebank commented on #95339
#91873 will have the following output for the repro case:

[code]

I need to see if we can get the whole expression's span in order to give the suggestion.

[2022-03-27 19:56] scottmcm opened #95378 "Can we split `E0308` into different errors for better `--explain`?"
(Inspired by the question in https://users.rust-lang.org/t/returning-different-types-in-match-arms/73508?u=scottmcm)

When you get an error like https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=b1f5ac9c4d61db01d47d3a3927cfb544

It would be nice to have that be a separate error code from the "you passed the wrong type to a function" errors.

Because the existing [explain for

[2022-03-27 20:47] bananabrick opened #95381 "Odd and unexpected compiler error"
This code won't compile
I tried this code:

[code]

I expected to see this happen: code compiled

Instead, this happened: compiler error
[code]

[2022-03-27 21:29] estebank commented on #84673
That should indeed be a separate issue, I think. It is related, but independent. I also know it will be very difficult to come up with a good layout algorithm :-/

For things like slides, I think a better option would be html output.

[2022-03-27 21:36] #94058 closed

[2022-03-27 21:52] scottmcm commented on #95381
Working playground: <https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=ef9fc1e647fb3d4c24bc023338d24f44>

Real error, rather than the IDE-neutered one:
[code]

Note that this compiles if one adds the `;` as suggested by the `help`.

[2022-03-27 21:59] scottmcm opened #95383 "Tracking Issue for `mem::conjure_zst` (`feature(mem_conjure_zst)`)"
Feature gate: `#![feature(mem_conjure_zst)]`

This is a tracking issue for the `mem::conjure_zst::<T>()` function.

There are a variety of possible ways one can do this without this function, but it provides two advantages:

1) It makes it clearer to the reader what's happening and keeps the code author from needing to decide between `zeroed()` or `uninitialized()` or `MaybeUninit::new_uninit().as

[2022-03-27 22:21] dtolnay commented on #87074
@rfcbot concern OwnedHandle's TryFrom impls

These are gonna need a real error type i.e. one that has a `std::error::Error` impl.

https://github.com/rust-lang/rust/blob/ab0c2e18dceb7140626a158affb983ae81039bd0/library/std/src/os/windows/io/handle.rs#L144-L145

https://github.com/rust-lang/rust/blob/ab0c2e18dceb7140626a158affb983ae81039bd0/library/std/src/os/windows/io/handle.rs#L202-L203

[2022-03-27 22:30] bananabrick commented on #95381
Thanks, @scottmcm.

But I don't understand what's going on. Why is this error happening in the first place?

[2022-03-27 22:41] bananabrick commented on #95381
This code also doesn't compile for the same reasons.

[code]

No local variables defined in the block.

[2022-03-27 23:00] jstarks commented on #87074
Since you point out the lack of proper error types, let me raise the broader question: should `HandleOrNull` or `HandleOrInvalid` really be stabilized? Since those types are really just useful at FFI boundaries (you'll want to immediately convert to `Result<OwnedHandle, _>` before doing anything with them), they seem like better candidates for something like the `winapi` or `windows` crates.

[2022-03-27 23:13] nnethercote commented on #95267
That's an interesting observation! But I'm not a language expert and I never intended to change behaviour in #95159, so I will fix this problem by going back to the old behaviour.

[2022-03-27 23:17] dtolnay commented on #91789
https://github.com/rust-lang/rust/issues/91789#issuecomment-1029914247 sounds good to me. I would be prepared to accept (with libs-api FCP) a PR that updates all the places talking about OS string capacity to indicate that this means UTF-8 byte size for OS strings which were created from valid unicode, and not otherwise specified for other contents.

[2022-03-28 00:01] #51103 closed

[2022-03-28 01:07] sunfishcode commented on #87074
@dtolnay I've now submitted https://github.com/rust-lang/rust/pull/95387 to define a real error type.

@jstarks The reasons for defining them in std are:
 - std defines `OwnedHandle` and `BorrowedHandle` which are also FFI types, so having `HandleOrInvalid` and `HandleOrNull` in std along side them means that all the handle FFI types are defined in the same place.
 - On Unix-family platforms, the

[2022-03-28 01:51] QuineDot commented on #21974
Adding an explicit bound to an implementation can apparently make the implementation less general, even when the explicit bound is equivalent to an implied WF bound.  This goes against my intuition for implied bounds.  Is it
* This bug (or another I missed)?
* A different bug which I should file?
* Expected?

<details>
<summary>Here is an example of the phenomenon.</summary>

[The following fails]

[2022-03-28 02:00] mleonhard commented on #42877
@SimonSapin A struct works!
[code]

I think I'm going to keep the `Option<Box<_>>` version because of the memory savings I mentioned above.  Using an enum didn't work:

[code]

[2022-03-28 02:06] Xuanwo commented on #91789
Great, please take a look at https://github.com/rust-lang/rust/pull/95392

[2022-03-28 02:37] willcrichton commented on #94926
This will get fixed once #93217 lands.

[2022-03-28 02:51] khuey commented on #67982
This caused significant regressions (i.e. 25% or more) in stack frame size in debug builds of my application. Was that expected?

[2022-03-28 02:54] mleonhard commented on #42877
I just realized that the `None` and `Some` enum variants must be the same size.  So the enum version wouldn't save memory used directly by the `Future`.  It would save only heap-allocated memory owned by the `Future`.  A completed future from an async closure cannot contain own any heap-allocated memory because it drops all variables before returning and completing.  Other types that implement `Fu

[2022-03-28 02:58] eddyb commented on #46515
@nagisa @erikdesjardins Oh no, #95338 ended up triggering LLVM to close this again.

[2022-03-28 03:02] eddyb commented on #95152
What I mean is that those functions receive not the location inside `panic!`'s definition, but where the user invoked `panic!`. There is explicit logic to find the first `Span` up the macro expansion backtrace that is not inside a macro definition, regardless of which macros are involved.

That is, `panic!` is a macro, so we don't show its internals. If we started showing macro internals, `panic!`

[2022-03-28 07:01] #27060 closed

[2022-03-28 07:37] lqd commented on #87055
bors closing this issue was unexpected

[2022-03-28 08:26] SparrowLii commented on #95303
Statement `impl Copy for u32 {}` is necessary since you use `#![no_core]`

[2022-03-28 10:07] mgrech commented on #27060
Makes sense. I was under the impression that the Rust team wants to disallow references to packed struct fields simply because it is considered "wrong", not because of soundness. I now understand that this is not actually the case and there is still room for discussion on this topic, which I will try to take to the other channels you mentioned. Apologies for being off-topic here, I had difficultie

[2022-03-28 11:11] c410-f3r commented on #95152
Honestly and personally, I am willing to accept anything that tracks function calls inside macros.

It is a "breaking change" to modify the current behavior, right? Even though `#[track_caller]` is not a library API, something like "Adding `#[track_caller]` on macro definitions will modify the output" could be used as a workaround.

But if it is OK the skip macro calls by default, then OK :)

What

[2022-03-28 11:24] arichardson commented on #95228
Just as a note, this is in fact what the LLVM IR function signature looks like when building C/C++ with CHERI LLVM (https://cheri-compiler-explorer.cl.cam.ac.uk/z/KG5oqq).

`intptr_t` is lowered to `i8 addrspace(200)*`, so this retains provenance information and the signature would also be correct for cross-language LTO in the CHERI case.

[2022-03-28 12:03] vervaekejonathan opened #95400 "std::process::Command can't echo environment variables"
I tried this code:

[code]

I expected to see this happen:
Print the content of the $123 environment variable

Instead, this happened:
It literally prints $123

### Meta
`rustc --version --verbose`:
[code]

[2022-03-28 12:17] ohno418 commented on #95099
@rustbot claim

[2022-03-28 12:19] djkoloski commented on #94758
One workaround for this for the time being is to add:
[code]
Which explicitly tells the compiler that the archived version of `Cow<'a, str>` implements `Debug`. It isn't great but it keeps things moving.

[2022-03-28 12:27] crumblingstatue commented on #95400
It is the shell that resolves environment variables. You're not using a shell here, just directly executing a command. This is behaving as expected.

[2022-03-28 12:32] SparrowLii commented on #95284
@rustbot claim

[2022-03-28 12:36] SparrowLii commented on #95303
This issue appears to be a duplicate of https://github.com/rust-lang/rust/issues/92495. Personally think this issue can be closed

[2022-03-28 12:53] GuillaumeGomez commented on #93784
@ehuss Is it still the case?

[2022-03-28 12:54] MendyBerger commented on #92495
Adding a playground link for reference as I have the same issue

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=44a20adc93ce548c2d41b1d53b764ccb

[2022-03-28 12:54] #95303 closed

[2022-03-28 12:54] Diggsey commented on #95228
@arichardson presumably that's because `intptr_t` is typedef'd to some special intrinsic type that is lowered to a pointer only for CHERI? That's an additional incompatibility then, because Rust's `isize` is how we map `intptr_t`, but `isize` does not store provenance.

[2022-03-28 13:11] y86-dev opened #95402 "Compiler hangs indefinetly when using associated types instead of their explicit type."
I tried this code:

[code]

I expected to see this happen: successful compilation.

Instead, this happened: The compiler hung and did not make any progress (i let it run for at least 5 minutes).

A slight modification of the above code results in it compiling without a problem:
line diffs:
[code]

so the total modified code is:
[code]
And that compiles without issues.

I searched through some issu

[2022-03-28 13:42] SimonSapin commented on #27060
Using `struct` definitions instead of manually computing offsets can be a very nice way to parse some binary formats, but in addition to alignment and padding you also need to worry about endianness and only using types where all bit patterns are valid. Crates like https://crates.io/crates/zerocopy and https://crates.io/crates/bytes-cast provide derivable traits to check safety properties of your

[2022-03-28 14:17] insanitybit opened #95404 "Confusing error message with borrows and dyn Error"
Given the following code:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=06baecf9bfb364dbe030e6009f2316f9
[code]

The current output is:

[code]

Ideally the output should look like:

I'm not really sure. I actually don't get why this is an error? If I remove any one of those arguments it works. I think this is a combination of `dyn` with async and multiple references, alt

[2022-03-28 14:24] Gankra commented on #95228
@Diggsey yes, see "A secondary goal" in the top comment and "But CHERI Runs C Code Fine?" in the FAQ.

[2022-03-28 14:36] frank-king commented on #95310
@rustbot claim

[2022-03-28 15:33] Diggsey commented on #95228
I think my concerns with C interop basically boil down to this: Rust might need a way to interoperate with the [PNVI-ae-udi](http://www.open-std.org/jtc1/sc22/wg14/www/docs/n2676.pdf) model (assuming that is what C goes with) and I'm not convinced that the boundary between Rust's provenance model and the C provenance model can lie precisely on the FFI boundary. I think there will always be cases w

[2022-03-28 15:46] eholk commented on #95034
@rustbot label +AsyncAwait-Triaged

[2022-03-28 15:48] Gankra commented on #95228
Yes it's probable there will need to be a way to say "I give up" and use a Ptr16/Ptr32/Ptr64/Ptr128 "integer type" that is exactly like how CHERI handles intptr_t. Solutions like this will be considered more seriously as we attempt to "migrate" more code to stricter semantics and run into limitations with the MVP.

In terms of things like interoperating with [PNVI-ae-udi](http://www.open-std.org/j

[2022-03-28 16:17] nwalfield opened #95406 "internal compiler error: thread 'rustc' panicked at 'Box<dyn Any>'"
### Code

You can find a small example [in the gitlab repo](https://gitlab.com/sequoia-pgp/rpm-sequoia/-/blob/ice-demo/src/lib.rs).

The relevant code is:

[code]

When I try to inline the `ffi!` macro invocation, the error goes away (see my commented example for my attempt).

### Meta

In my `rust-roolchain` file, I have
1.59.0.  It works fine with 1.56.1.

### Error output

[code]

[2022-03-28 16:32] clarfonthey commented on #95383
Posting this here since it doesn't have to be part of the initial PR, but I think there should be a lint for creating uninitialised ZSTs using other methods, since this should be the canonical way to do so.

Another potential thing: if we make it so that calling `conjure_zst` is a compiler error for non-ZSTs, then what exactly is the `unsafe` signifying? We can't actually cause any undefined behav

[2022-03-28 16:56] ekuecks opened #95408 "Confusing additional errors following a [E0412]: cannot find type `T` in this scope"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c95a5c248a2a9b88242ae9bb08b1a836

[code]

The current output is:

[code]

The first error is great, but the other ones are quite strange. Ideally the output would not have them and look like:

[code]

Output is the same on stable and nightly

[2022-03-28 17:00] compiler-errors commented on #95408
@rustbot claim

[2022-03-28 17:25] clarfonthey commented on #87517
So, here's an interesting thing that I didn't see brought up, that I don't think should block stabilisation of the base feature, but should probably be mentioned.

What about unions?

[code]

We could easily make this create the below implementation:

[code]

[2022-03-28 17:58] tomkarw commented on #69939
@rustbot claim

[2022-03-28 18:02] jfrimmel commented on #95400
Indeed, this is the expected behavior. This can be circumvented by actually using a shell, e.g. on POSIX:
[code]

[2022-03-28 18:12] clarfonthey opened #95410 "Unsafe blocks fail to parse as expressions in comparisons"
Example gist: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=01dfdf28913f8fe69d419dfd7472dc49

In short, take these three functions:

[code]

The first two of these functions parse correctly, but the last one does not. The parser complains about seeing `==` after an unsafe block, and in its recovery, assumes that the `unsafe` block has type `()` instead of `{integer}`.

E

[2022-03-28 18:21] wwylele commented on #95400
I did a quick check on the doc for [arg](https://doc.rust-lang.org/std/process/struct.Command.html#method.arg)

I guess we can expand "substitution" into "variable substitution" to make it more clear.

[2022-03-28 18:24] scottmcm commented on #95383
That's *why* it has to be unsafe -- see the docs in the PR.

I can write code whose soundness depends on the fact that the only way to get an instance of a particular ZST is by asking me.  For example, maybe when you ask for the ZST I initialize some static state.  Then even if the ZST is `Copy`, I can require that you pass me an instance of it and I know that said state is already initialized, wi

[2022-03-28 18:32] ChrisDenton opened #95411 "Read of asynchronous pipe without synchronization"
In src/sys/windows/pipe.rs a pipe is opened for asynchronous access (aka "overlapped mode").

https://github.com/rust-lang/rust/blob/2d37f38f872859b2b096772765a7987199c852c4/library/std/src/sys/windows/pipe.rs#L51-L55

However the read method for pipes is:

https://github.com/rust-lang/rust/blob/2d37f38f872859b2b096772765a7987199c852c4/library/std/src/sys/windows/pipe.rs#L184-L186

Where `inner` i

[2022-03-28 18:34] ijackson opened #95412 "Confusing extension of lifetime of reference causes lack of Send in Future"
I tried this code:

[code]

Ideally, it would compile.  (Obviously it doesn't make much sense, semantically.)

Instead, it produces this error:

[code]

The error message leads me to conclude that the reference `&rx` which is being created by autoref is being "held" across the await point.  The following workaround fixes it:

[code]

(albeit with a clippy FP, https://github.com/rust-lang/rust-clip

[2022-03-28 18:37] tema3210 opened #95413 "Bug with associated type discovery"
I tried this code [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d0051a1af2b80b2828c669eb5265098c)

I expected to see this happen: resolve associated types and compile

Instead, this happened: visibility error with strange, broken suggestions

[2022-03-28 18:40] #95327 closed

[2022-03-28 18:44] LegionMammal978 commented on #95402
I managed to reduce the code down to this:
[code]
It seems that the compiler is checking exponentially many obligations at each depth, meaning that the default `recursion_limit` of 128 will never get hit. Adding `#![recursion_limit = "16"]` produces an overflow error. Some trivial variations of this (e.g., changing the order of the `impl` blocks) produce behaviors including overflow errors, error

[2022-03-28 18:45] ehuss commented on #95410
Thanks for the report!  This currently isn't a bug (AFAIK), as block-style expressions are not accepted in binary operators. I can understand how it is confusing, and the error message is not very helpful.

I'm going to close this as a duplicate of #54482 and #74854 (and others).

[2022-03-28 18:45] #95410 closed

[2022-03-28 18:46] clarfonthey commented on #95410
Oh wow, I didn't realise this was an ongoing issue. Thank you for pointing those out; I should have made a stronger effort to search for it. .-.

[2022-03-28 18:57] SNCPlay42 commented on #95413
[Reduced some](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7240f031595c3dd9ebc16e548e62af01):

[code]

Which emits (ignoring the extra suggestion from a crate visible to the playground):

[code]

The *error* is correct - in `mod B` `A` refers to `struct A` itself, which has no associated item called `Trait`.

The *suggestion* is invalid - whether `Trait` is imported in

[2022-03-28 19:14] elibroftw opened #95416 "E0515 "cannot return value referencing temporary value" no solution given though"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

Both temporary value and local value are used interchangeably. Before this error, I was getting the error with the same code but using "local" instead of temporary. Stick to one please or make the connection in the explanation.

The last message should tell the user that they can not only learn

[2022-03-28 19:18] hydra commented on #67408
@John-Nagle two questions: 1) how did you find the offending package, 2) which one was it?  I'm getting the same thing on `rustc 1.61.0-nightly (6a7055661 2022-02-27)`

[2022-03-28 19:23] khuey commented on #88873
Alright I did get around to testing this and what you landed is sufficient. Thanks!

[2022-03-28 19:23] #88873 closed

[2022-03-28 19:57] tema3210 opened #95419 "Compiler cannot resolve associated type"
I tried this code: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e47d51902e6604dab3af2cdb87e50f05)

I expected to see this happen: compile fine

Instead, this happened: ambiguous associated type

Happens on stable rust 1.59.0.

[2022-03-28 20:49] hydra commented on #67408
I couldn't find a specific dependency that caused the issue, but upgrading rust from `rustc 1.61.0-nightly (6a7055661 2022-02-27)` to `rustc 1.61.0-nightly (1d9c262ee 2022-03-26)` fixed it for me.

[2022-03-28 20:53] nagisa commented on #93889
Will get fixed by https://github.com/llvm/llvm-project/commit/fcca10c69aaab539962d10fcc59a5f074b73b0de

[2022-03-28 21:08] #95036 closed

[2022-03-28 21:24] jyn514 opened #95420 "Adding private imports to a module can break downstream crates"
I tried this code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7a55c241c30f1231a2711260adc95d22

[code]

I expected to see this happen: The code compiles fine, because `inner::Result` resolves to `a::Result`, just as it would without `use std::result::Result`.

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

I don't know if this is strictl

[2022-03-28 21:26] jyn514 commented on #95420
@rustbot label: +A-resolve

[2022-03-28 21:53] InfRandomness commented on #95406
I think this has been fixed in https://github.com/rust-lang/rust/pull/94438

[2022-03-28 22:01] InfRandomness commented on #83518
Is the second step currently being worked on ?
Who is the mentor for this issue ? (I feel like trying a medium step)

[2022-03-28 23:57] QuineDot opened #95421 "ICE: Normalizing Binder without wrapping in a Binder"
### Code

[Library version (choose "Build" from the pulldown):](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f340049395bb2407b90ac46c5e243471)
[code]
[Binary version:](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=43e99506a54b2e64f9ebc56d5520dd0b)
[code]

The two have (slightly) differing output.  **Note:** If you compile as a binary but don't c

[2022-03-29 01:20] AzureMarker commented on #94348
@carbotaniuman I tested this again with `extern crate` and commenting out my empty `init` call (to force the module to be "reachable"), and it has linking errors. So just adding an `extern crate` doesn't solve it.

The issue I'm seeing is #47384 like you said, but [this comment](https://github.com/rust-lang/rust/issues/47384#issuecomment-1034679183) suggested to me that the problem would be fixed

[2022-03-29 01:23] AzureMarker commented on #94348
Maybe https://github.com/rust-lang/rust/pull/93791 will fix this?

[2022-03-29 01:48] eddyb commented on #81513
I think `<[T] as Pointee>::Metadata == usize` is a forward compatibility hazard: if we ever to allow `[T]` to be used with `T: !Sized` element types, it forces us into either:
* giving up and staying with the current slice types ~forever
* using some (likely unsound?) specialization to branch on whether `T: Sized` and use `SliceMetadata<T>` instead of `usize` in the `T: !Sized` case

It seems pref

[2022-03-29 02:01] Dylan-DPC commented on #95421
output from bisect:
[code]

[2022-03-29 02:35] zirconium-n commented on #95412
This is correct behavior. `while let` and `if let` will hold the value until the block ends.

I agree this has caused quite a lot confusion to beginners. Maybe we should add better diagnostic pointing at `while let` or `if let` directly.

[2022-03-29 02:38] ehuss commented on #93784
It seems to still be happening regularly:

2021-11-23T17:42:34 https://github.com/rust-lang-ci/rust/actions/runs/1495820343: [ERROR] (line 4) TimeoutError: waiting for selector
2021-12-14T00:47:00 https://github.com/rust-lang-ci/rust/actions/runs/1575507908: [ERROR] (line 17) TimeoutError: waiting for selector
2022-01-22T19:25:41 https://github.com/rust-lang-ci/rust/actions/runs/1733757860: /check

[2022-03-29 03:15] zirconium-n commented on #95419
While there's no ambiguation now, the might be future ambiguations. This grammar this trying to prevent the future ones.

[2022-03-29 03:42] zirconium-n commented on #95378
Just my 2 cents. Most of time I'm hitting this error, it's a `{integer}/{float}` disagreement, or a forgotten `Ok`/`Some`, or a additional semicolon caused one branch becoming `()`.

I agree a separate error code is good, but the proposed solution may not.

The use case in the link almost always come from a dynamic typed language background (e.g. python), which I doubt use a `dyn` like `Box<dyn De

[2022-03-29 07:17] ChayimFriedman2 commented on #75091
Even if we want to keep these methods I think it's better to write them in terms of the metadata API as it's easy to reason about and less error prone than the current implementation.

[2022-03-29 07:21] compiler-errors commented on #95421
@Dylan-DPC, I got the same bisection as you, but then realized it was because #88563 added support for `edition = "2021"` in cargo, and before, it wasn't ICEing but failing to cargo-build.

I don't think this code _ever_ worked. Before 1.56 (when @jackh726 added the wonderful #85499), rustc ICEs with failure to relate late-bound and placeholder regions, and after 1.56, we fail with this binder var

[2022-03-29 07:42] zirconium-n commented on #95381
Minimized version

[code]

[2022-03-29 07:50] oli-obk commented on #83518
I am mentoring this issue. Don't hesitate to ping me on zulip about any questions or requests that you may have

[2022-03-29 08:20] nwalfield commented on #95406
The above code works with 1.56.0.  The ICE appeared in 1.57.0 and is still present in `rustc 1.61.0-nightly (ee915c34e 2022-03-28)`.

[2022-03-29 10:04] Numenorean commented on #95336
I agree with @bugadani, if some feature doesn't work because of the system on which you are running the code, it must be specified in docs, because now people are excpecting it works as discribed in the docs (and me too by the way), it's a little bit confusing

[2022-03-29 10:08] #90828 closed

[2022-03-29 10:27] golddranks commented on #72599
So, I read a bunch of GitHub threads and the existing documentation. Here's my current understanding:

### About the behaviour of floats:
The runtime behaviour isn't always guaranteed with NaNs. (And because of LLVM-specific stuff, with subnormals too.) This can be because:
- Differences in hardware implementations
- LLVM not guaranteeing to keep the payload (the sign bit or the signaling bit or t

[2022-03-29 10:32] zirconium-n commented on #95416
"local value" means a value that binds to a variable.  "temporary value" means a value that is a intermediate result of an expression.

`Mutex::lock` creates a `MutexGuard` that references the `Mutex`.

In your original code, `guard` references `mapGuard` which is a local value.

After you added `to_owned()` (which clones the `HashMap`), `guard` references the cloned `HashMap` which is a temporary

[2022-03-29 10:32] zirconium-n commented on #95416
Sidenote: Please ask and answer questions about Rust on the user forum.

[2022-03-29 10:42] jmaargh opened #95427 "Clarify `Vec::from_raw_parts` safety examples"
Looking at the documentation for [`Vec::from_raw_parts`](https://doc.rust-lang.org/stable/std/vec/struct.Vec.html#method.from_raw_parts) it says:

But it's not clear to me _why_ this is not safe. My guess is that it's assumed to violate the "`ptr` needs to have been previously allocated via [`String`]/`Vec<T>` (at least, it's highly likely to be incorrect if it wasn't)." requirement. However, that

[2022-03-29 11:01] oli-obk commented on #49708
I know this has been brought up in random places but hasn't been discussed here yet. We could require methods on extern types for size and alignment. That way we leave the actual decision to users:

* `extern { type Foo; }` or types with that as its unsized field can't be used as a generic param
* `extern { type Foo { fn size(self: *const Self) -> usize { panic!("sorry") } } }` gives the panicking

[2022-03-29 11:01] krdln opened #95428 "Poor diagnostics for missing unwrap caused by `Result::contains`"
Given the following code: [Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=ba16f8254d21d4c3d9b389f320ec57bb)

[code]

The current output is:

[code]

This is a bit confusing error, epecially for a beginners. If not for the existence of the `option_result_contains` feature (https://github.com/rust-lang/rust/issues/62358), the error would look something like:

[c

[2022-03-29 11:02] csmoe opened #95429 "#[thread_local] on i686 windows msvc causes suspicious crash in production"
As the title says, the crash disappeared once we set the `has-thread-local = false` on i686-pc-windows-msvc target spec.
Could we disable it? cc @nagisa
(the codebase is really huge, cannot generate a small test case)

`#[thread_local]` was enabled in https://github.com/rust-lang/rust/pull/92042

[2022-03-29 11:08] krdln commented on #62358
Note on `contains` naming – this is affecting compiler messages even though the feature is not even yet stabilized! See https://github.com/rust-lang/rust/issues/95428 – I've recently encountered someone getting really confused on an error (which turned out to be missing `unwrap()`).

[2022-03-29 11:24] nagisa commented on #95429
cc @ChrisDenton

[2022-03-29 11:38] ChrisDenton commented on #95429
Disabling it for i686 sounds reasonable if it's still causing issues. It is unfortunate we don't have a test case though.

I'll make a quick PR.

[2022-03-29 12:24] jplatte commented on #93706
I thought about this for a while, and I am not convinced for two reasons:

First, I don't see why you would ever use `dyn Trait` in a `const fn` but second and more importantly, I can now articulate this "`dyn Trait` is just inherently different" feeling I had before. Take the case of auto traits:

[code]

It's not something people think about a lot, but once you do it's actually intuitive (IMHO):

[2022-03-29 12:28] golddranks commented on #72599
Oops, so looking into that, it seems that https://github.com/rust-lang/rust/pull/93403 was just that missing documentation PR! Sorry for the fuss :D I'll send a stabilization PR then.

[2022-03-29 13:16] comex commented on #95228
Is the "you must" meant to refer to strict provenance or the status quo?  I don't see why under PNVI you wouldn't be able to allocate the nodes wherever you want, modulo aliasing concerns.  Of course, this would not work on CHERI.

[2022-03-29 13:27] msrd0 commented on #93779
I just hit an ICE that looks similar to the one reported here:

[code]

[2022-03-29 13:45] shepmaster opened #95432 "`-Z terminal-width` should account for compiler-generated text, not just user-supplied text"
With source code with a long line (64 columns) but that is less than the chosen width (80 columns):

[code]

The error message produced by `rustc` exceeds (90 columns) the width:

[code]

/cc #84673

[2022-03-29 13:45] Gankra commented on #95228
All discussion is with respect to strict provenance, because that is the thing we are experimenting with.

[2022-03-29 13:47] bjorn3 commented on #93779
@msrd0 Did you force enable incremental compilation? As noted in https://blog.rust-lang.org/2022/02/24/Rust-1.59.0.html#incremental-compilation-off-by-default incremental compilation has been disabled in rustc 1.59 due to this kind of bugs. It should be fixed in rustc 1.60.

[2022-03-29 13:50] msrd0 commented on #93779
Yes, looks like I never removed the `RUSTC_FORCE_INCREMENTAL` variable from my bashrc since it was re-enabled by default after 1.52.1.

[2022-03-29 13:53] Ericson2314 commented on #49708
That is better than just "panics usable in generics", but it feels like an ad-hoc bootleg version of `?DynSized`. In what respects is it better?

[2022-03-29 15:12] oli-obk commented on #49708
It doesn't require adding a new opt-out trait and adding bounds for it to various functions. `?DynSized` requires the type system to do ~something beyond rejecting some extern types in substs (which is in fact an orthogonal feature, we could just start with the variant where they are always allowed and see if we want the generics rejection later and add it by only allowing the `extern { type Foo;

[2022-03-29 15:18] #89673 closed

[2022-03-29 15:21] Ericson2314 commented on #49708
But it does require adding a new ad-hoc monomorphization passes and limmitting the instantiantiation of generics. That strikes me as exactly the same amount of work in rustc as using the existing proven mechanism (opt-out traits).

I don't understand this? What's the actual *burden* here?

So you are saying that syntax is unstable, but the existence of extern types and instantiating them in your o

[2022-03-29 15:37] oli-obk commented on #49708
that seems like a reasonable implementation of

If we allow people to write their own `size` computation, we also allow people to panic there. This is nothing new. Only now I am realizing that rejecting the use in generics and my `fn size` suggestion are entirely orthogonal in fact. My suggestion can also be implemented later. I somehow thought that we'd end up painting ourselves into a corner, no

[2022-03-29 15:37] RalfJung commented on #49708
(FWIW the opposition to new opt-in traits is certainly *not* ideological, it is based on concrete concerns. We all want to make Rust the best language it can be, we just disagree on how to best achieve that. So let's stay constructive. :)

[2022-03-29 16:26] Ericson2314 commented on #49708
I am still trying to understand this. Are you saying with the generics prohibition, then `size_of_val` and `align_of_val` aren't possible to call anyways so we don't need panicking? sound good to me?

[2022-03-29 16:42] workingjubilee commented on #95228
There are several different PNVI models with distinct implications, including ones that the paper did not fully explore, and allusions to other possibilities. Please do not truncate them to merely "PNVI" unless genuinely referring to all possible ones, as XorLinkedList via that method does not work under PNVI-roll-a-die, which in the case of any question regarding provenance simply rolls a die and

[2022-03-29 16:49] Diggsey commented on #95228
@RalfJung surely if one were determined to make XOR lists work, it would be better to define an XOR operation on pointers (ie. that XORs the address part and performs some operation with the same operator axioms as XOR (but not necessarily XOR) on the provenance part). Theoretically that could also work on CHERI if a suitable operator could be created, and if it can't then this XOR would just not

[2022-03-29 17:18] RalfJung commented on #95228
I don't think such an operation necessarily exists, and even if it does then I would not agree. Rather we should have better operations to explicitly and separately manipulate the provenance and the address bytes of a pointer.

But anyway this is veering wildly into off-topic terrain.

[2022-03-29 17:42] RalfJung commented on #95228
For the record, I did not invent this API, though it's also a bit hard to track its history now. I posted a very similar API [in the UCG stream in May 2020](https://rust-lang.zulipchat.com/#narrow/stream/136281-t-lang.2Fwg-unsafe-code-guidelines/topic/pointer.20providence.20question/near/196686575), but that was just copied from... somewhere. I think I first learned about the idea to kill int2ptr

[2022-03-29 17:51] m-ou-se opened #95439 "Tracking Issue for SyncUnsafeCell"
Feature gate: `#![feature(sync_unsafe_cell)]`

This is a tracking issue for SyncUnsafeCell.
### Public API

[code]

### Steps / History

- [x] Implementation: https://github.com/rust-lang/rust/pull/95438
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- Name: SyncUnsafeCell? RacyUnsafeCell? RacyCell? UnsafeSyncCell? ..?
- Should it be `Sync` only if `T` is `Sync`

[2022-03-29 17:59] bstrie commented on #53639
Note that there is now a proposal to add an equivalent of RacyCell to libstd: https://github.com/rust-lang/rust/pull/95438

[2022-03-29 18:14] bstrie commented on #95439
The arguments in favor of having such a type are contained in the (very long) thread at https://github.com/rust-lang/rust/issues/53639 .

TL;DR: `static mut` makes it way too easy to get a mutable reference to a static, which is wildly unsound in the face of concurrency, and having users write their own versions of this type is very error prone (see https://github.com/rust-lang/rust/issues/53639#i

[2022-03-29 18:26] oli-obk commented on #49708
I like experimenting with `?Dynsized` on nightly to show either its use as a forever unstable thing (like `Freeze`) or potential for useful APIs. Without implementing it we can't really tell

[2022-03-29 18:30] umanwizard opened #95442 "Panics report the column at the beginning of an indexing expression, which is ambiguous"
I tried this code:

[code]

I expected to see this happen: The panic message should make it possible to tell whether the first indexing expression, or the second, was out of bounds.

Instead, this happened: `thread 'main' panicked at 'index out of bounds: the len is 0 but the index is 0', src/main.rs:9:5`

Note that column 5 is reported, which is the location of the `s` character in `s.v[0][0]`. S

[2022-03-29 18:44] rbtcollins commented on #86442
@joshtriplett well, I'm finally getting time to do any rust, and the first thing is fixing up the still broken tests in remove_dir_all, and that means figuring this out. 6 months later and its still not usable on stable, so I'll need to use raw os errors indefinitely.

I still maintain that this is a stability break, no matter how desirable the feature. https://blog.rust-lang.org/2014/10/30/Stabil

[2022-03-29 18:50] Ericson2314 commented on #49708
Woo cannot heart that enough!

Oh I didn't know (or long ago forgot) about that. Thrilled to hear this is such precedent for "Compiler-internal traits" too!

[2022-03-29 19:17] jyn514 commented on #86890
@rustbot label: +E-mentor

[2022-03-29 19:23] dpaoliello commented on #91913
I've added this for `Vec`: #95051

[2022-03-29 19:30] jyn514 opened #95444 "`-Ztime-passes`: only print passes that take more than 5 milliseconds"
Right now, `-Ztime-passes` has very long output, most of which is completely useless for determining which part of your crate is slow:

<details>

[code]

</details>

It would be great to make self-profile smarter and only prints passes that take more than x milliseconds (.005 seconds seems like a reasonable cutoff). Then most lines would be trimmed but long running lints would still show up. It w

[2022-03-29 19:32] jyn514 commented on #95444
Mentoring instructions: Change https://github.com/rust-lang/rust/blob/05d22212e89588e7c443cc6b9bc0e4e02fdfbc8d/compiler/rustc_data_structures/src/profiling.rs#L652 to only call `print_time_passes_entry` if `start_time.elapsed()` is longer than 5 ms.

@rustbot label: +E-easy +E-mentor

[2022-03-29 19:36] jyn514 commented on #79953
ah, @matthiaskrgr it turns out it's the other way around - it prints `pre_AST_expansion_lint_checks` for each AST node, not for each lint. So it doesn't have enough information here to tell you which lint is slow, you'd have to change the order of the loops for that.

[2022-03-29 19:41] jyn514 commented on #79953
You can use `-Zno-interleave-lints` to get the lint name:
[code]
It's not particularly useful for -Ztime-lints because you end up with lots of duplicate names - I think `summarize` + `-Zself-profile` should be able to aggregate them, but I haven't yet found how. So this should probably be moved to https://github.com/rust-lang/rustc-perf.
[code]

[2022-03-29 19:43] jyn514 commented on #76444
Fixed by https://github.com/rust-lang/rust/pull/94796.

[2022-03-29 19:43] #76444 closed

[2022-03-29 19:48] jyn514 commented on #94217
Mentoring instructions: change https://github.com/rust-lang/rust/blob/05d22212e89588e7c443cc6b9bc0e4e02fdfbc8d/src/bootstrap/bootstrap.py#L73 to include "pre-built artifacts not available for this target at this time, see https://doc.rust-lang.org/nightly/rustc/platform-support.html"

@rustbot label: +A-docs +E-easy

[2022-03-29 20:05] jyn514 commented on #93159
Duplicate of https://github.com/rust-lang/rust/issues/86890 (I left mentoring instructions there if anyone wants to pick it up).

[2022-03-29 20:09] jyn514 commented on #90679
@rustbot label: +E-easy

[2022-03-29 20:29] jyn514 opened #95447 "`x doc compiler/rustc` panics"
I tried this code: `x doc compiler/rustc --stage 0`

I expected to see this happen: bootstrap documents the whole compiler, like it does for `x doc compiler`.

Instead, this happened:
[code]

The problem is that `impl Step for Rustc` is too naive and expects the name of each crate to match its file path on disk: https://github.com/rust-lang/rust/blob/05d22212e89588e7c443cc6b9bc0e4e02fdfbc8d/src/bo

[2022-03-29 20:29] #82081 closed

[2022-03-29 20:29] jyn514 commented on #95447
@rustbot label: +A-bootstrap

[2022-03-29 20:30] scottmcm commented on #94231
Nominating for libs; it might be worth a conversation about whether this is proving too unreliable to keep doing in the current way.

[2022-03-29 20:35] randomicon00 commented on #95444
@rustbot claim

[2022-03-29 20:51] jyn514 commented on #74697
@rustbot label: +E-help-wanted

[2022-03-29 21:01] jhpratt commented on #87517
That seems like a reasonable future possibility.

[2022-03-29 21:09] randomicon00 commented on #95444
Hello @jyn514!

This is the first time I contribute to the rust project. I think I understand what is required to do, basically filtering out the passes and only keep the ones that take more than 5 milliseconds. Should I just add an if condition to the print function, and should the condition be hardcoded or configurable?

[2022-03-29 21:13] jyn514 commented on #76616
I don't think this is super useful.

[2022-03-29 21:13] #76616 closed

[2022-03-29 21:16] jyn514 commented on #68027
The `###` comes from `curl --progress`.

[2022-03-29 21:17] jyn514 commented on #95444
For now I think hardcoded is fine; eventually it would be nice to make it configurable, the same way it is for `summarize`.

cc @rylev , I think you've been doing a fair amount of performance work - do you have opinions?

[2022-03-29 21:58] jyn514 commented on #61611
It might also make sense to try curl before using powershell, as suggested by @ChrisDenton in https://github.com/rust-lang/rust/pull/95170#issuecomment-1074061055.

@rustbot label: +E-easy

[2022-03-29 22:00] brooksdavis commented on #95228
From a CHERI perspective, this can be made to work so long as the capability encoding knows what the useable address space is and ignores high bits appropriately with `cheri_address_set`. I can't remember if Morello supports TBI or not. The bit downside is that it really has to be architectural (if potentially mode-dependent) since you're sacrificing addressable virtual address space.

In CHERI C

[2022-03-29 22:22] jackh726 opened #95451 "Tracking Issue for extended generic associated types"
This is a tracking issue for extensions to the minimal `generic_associated_types` feature, intended to contain features not intended to be stabilized during initial stabilization. This is primarily for experimentation and likely will remain "incomplete" and almost certainly unsound, at least in the short-term. Longer-term, we like split these features out into separate feature gates, as their impl

[2022-03-29 22:49] tmandry commented on #93961
Related to #74335

[2022-03-29 23:02] jyn514 commented on #44293
I have a patch for this, but I feel a little discourage about how much duplicate code it introduces ... anyway, I'll make a PR for it soonish if I can't think of something better.

[code]

[2022-03-29 23:24] #79076 closed

[2022-03-29 23:48] thomcc commented on #95203
Hmm, this should probably not be closed, unless prioritization will still see it if it is closed.

[2022-03-29 23:49] compiler-errors commented on #95203
Yeah, for backports I think the issue stays open until the backport is landed or decided against. Reopened for tracking.

[2022-03-30 00:13] autumnontape opened #95453 ""write_immediate_to_mplace: invalid ScalarPair layout: ..." in Miri"
This is minimized from an error I ran into while [implementing the `Allocator` API in my crate, bump-into,](https://github.com/autumnontape/bump-into/tree/allocator_api) and trying to test the implementation with Miri:

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-30 00:51] Gankra commented on #95228
Problem that CHERI people might have some good answers for: [AtomicPtr](https://doc.rust-lang.org/std/sync/atomic/struct.AtomicPtr.html) has a very limited API and currently people use AtomicUsize in its place for even basic stuff like the moral equivalent of wrapping_offset. Do you have APIs for that / llvm plumbing for that? In particular it would be ideal if all platforms could do some more com

[2022-03-30 01:22] nnethercote commented on #80406
There's a Valgrind bug that's making this one hard to fix: https://bugs.kde.org/show_bug.cgi?id=452058  It affects suppressions involving inlined stack frame, which are possibly more common in Rust code than C/C++ code due to rustc's aggressive use of inlining.

[2022-03-30 01:48] RalfJung commented on #93706
For the same reasons you would use `dyn Trait` in a regular `fn`.

Yeah, return-type `impl Trait` is semi-transparent, and in particular is transparent for auto traits. That's an odd quirk, but nothing fundamental and not conceptually very relevant in my eyes.

IMO that also applies to `dyn Trait` and `fn` types.

Yes, I agree.
The "less weird" column however is inconsistent with how `?` syntax is

[2022-03-30 02:38] khuey commented on #67982
I could extract MIR or something but the code in question is not open source.

[2022-03-30 02:43] SUPERCILEX opened #95457 "SIMD integer to string formatting"
Saw this today on hackernews: https://lemire.me/blog/2022/03/28/converting-integers-to-decimal-strings-faster-with-avx-512/
And a relevant comment to remove the leading zeros: https://news.ycombinator.com/item?id=30846383

Relevant existing code: https://github.com/rust-lang/rust/blob/3ea44938e21f0de8ae7d4f6399a8a30f97867c70/library/core/src/fmt/num.rs#L211-L274
And https://github.com/dtolnay/itoa

[2022-03-30 03:24] scottmcm commented on #49708
It's not obvious to me how much a forever-unstable `?DynSized` would help, because it's completely reasonable that people want to do their own `impl<T: ?????> Foo for *const T` that would work with `extern type`s.

[2022-03-30 04:21] jyn514 commented on #95447
@rustbot label: +E-mentor +A-rustbuild

[2022-03-30 04:33] Jules-Bertholet opened #95459 "rustdoc: Rustdoc lists associated consts from trait impls in sidebar"
I tried this code:

[code]

I expected to see this happen:
I would expect `BAR` not to appear as its own item in the rustdoc sidebar for the `Foo` struct.
This would be consistent with the behavior of methods and associated types from trait impls,
which also don't appear as their own item in the sidebar.

Instead, this happened:
The constant `BAR` is listed under "Associated Constants" in the left

[2022-03-30 05:04] #95357 closed

[2022-03-30 06:03] scottmcm opened #95462 "Typo `MaybeUnint` doesn't suggest `MaybeUninit`"
Given the following code: <https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3868d05aad2cfb9e962511b364e05077>

[code]

The current output is:

[code]

Ideally the output should look something like:

[code]

Similar to how there's a suggestion when I typo the method name instead:

[code]

I can understand that searching the entire universe of paths on resolution might not be

[2022-03-30 06:18] mikebenfield opened #95463 "Confusing source location for "missing fragment specifier""
Here's some code incorrectly defining a macro, because it's missing a fragment specifier. [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c232b9f82d5d5879aad00624a29fb90b)

[code]

Here's the error message rustc gives me:

[code]

It's potentially confusing that the error points to the source *after* the name with the missing fragment specifier. Especially in a

[2022-03-30 07:11] jplatte commented on #93706
Oh, I think I see. Theoretically we could *have* this behavior even for non-generic `const fn`, there's no technical reasons preventing it. I didn't really consider that.

Heh, so I guess this gives rise to yet another possible (but to me very unlikely) option:

| semantics | syntax |
|-|-|
| requires `const impl` | `T: const Trait` (?) |
| requires `const impl` in const context | `T: Trait` or `T

[2022-03-30 07:27] jplatte commented on #48711
Stabilized in https://github.com/rust-lang/rust/pull/93840.

[2022-03-30 07:45] #93411 closed

[2022-03-30 07:45] #88236 closed

[2022-03-30 07:45] #84073 closed

[2022-03-30 07:45] #86719 closed

[2022-03-30 07:45] #87340 closed

[2022-03-30 07:45] #77987 closed

[2022-03-30 07:45] #82139 closed

[2022-03-30 07:45] #83919 closed

[2022-03-30 07:45] #62742 closed

[2022-03-30 07:45] #67830 closed

[2022-03-30 07:45] #74282 closed

[2022-03-30 07:45] #54895 closed

[2022-03-30 08:28] golddranks opened #95468 "Improve floating point documentation about platform guarantees"
As summarized in https://github.com/rust-lang/rust/issues/72599#issuecomment-1081701414, floating points have both some 1) platform-specific behaviour 2) surprising behaviour because of LLVM guarantees (or lack of thereof). Issue https://github.com/rust-lang/rust/issues/73328 seems to be about improving the documentation about the LLVM-induced stuff, but mention about  platform-specific behaviour

[2022-03-30 08:51] golddranks commented on #95468
I'm working on this currently.

[2022-03-30 10:37] ijackson commented on #86442
@rbtcollins I think you should use raw OS errors, yes.

I think this is an opportunity to plug [my blog post about this issue](https://diziet.dreamwidth.org/9894.html) where I go into some detail about what the problems are, why there aren't easy answers, and what to do if you're trying to fix things.

In #90706 I proposed to add a link to my blog post.  That was felt to be inappropriate.  Instead

[2022-03-30 11:02] rylev commented on #95444
I don't have strong opinions here, but I also don't use `-Ztime-passes` a lot.

[2022-03-30 11:05] matthiaskrgr commented on #89312
@oli-obk  this still crashes :thinking:

[code]

[2022-03-30 11:25] lcnr commented on #70889
https://github.com/rust-lang/rust/issues/70889#issuecomment-611074561

This is the only thing not currently tracked in #29 or the valtree design. Opened a topic for this [on zulip](https://rust-lang.zulipchat.com/#narrow/stream/146212-t-compiler.2Fconst-eval/topic/.2370889.20raw.20ptrs.20CTFE) and am going to close this issue.

[2022-03-30 11:25] #70889 closed

[2022-03-30 11:40] Mark-Simulacrum commented on #74928
Per https://github.com/rust-lang/rust/pull/94401#issuecomment-1071868864, I'm going to go ahead and close this issue as not really a "bug" that we're looking to fix at this time, though if a stronger motivation comes along that perspective could be reconsidered.

[2022-03-30 11:40] #74928 closed

[2022-03-30 12:01] fmease commented on #95459
This was intentionally added in #89815.

[2022-03-30 12:02] danielhenrymantilla commented on #93203
AFAIK, the burden of proof when stabilizing is reversed: there has to be a reason for the stabilization to be actually useful, and knowing, to the best of our knowledge, that "we won't regret it".

  - Regarding the stabilization of the `Scope` type being useful, I just don't see it: we can use `thread::scope` and `scope.spawn` without the type of `scope` having to be nameable, and that should cov

[2022-03-30 12:22] rbtcollins commented on #86442
I wonder if adding to that prose a comment about raw errors would be useful?

I think there are three cases:
One knows the error, and the version of rust at the time the code is written knows it: match on exactly that error.

One knows the error, and the version of rust at the time the code is written does not know it: use raw os errors and platform specific code to match on exactly that error.

O

[2022-03-30 12:27] m-ou-se commented on #93203
That doesn't mean never. It can be reasonable to take it as an argument to a regular function for example. Limiting the API just introduces needless frustrations where this argument can only be used in certain ways.

This function is used to define the boundary of the scope, so writing `scope( .. )` seems like a good way to clearly state 'this is the scope'. Things like `with_scope` sound like the

[2022-03-30 12:38] Gankra commented on #95228
YESSSSS IT LANDED

ok i will properly post a public announcement for this when it hits nightly and I can link the docs

[2022-03-30 12:45] oli-obk commented on #89312
oh... I only did a `check`, need to `build` all the way to codegen to hit this.

[2022-03-30 13:05] GuillaumeGomez commented on #74697
Just gave it a try on the libstd. As far as I can see, it's mostly missing words or missing backticks. The full output is here:

[output.txt](https://github.com/rust-lang/rust/files/8380680/foo.txt)

[2022-03-30 13:07] danielhenrymantilla commented on #93203
I haven't yet had the chance to teach this API to others, I admit, but I recall very well when starting with crossbeam's API, to wonder "why is everything called scope", and having to navigate back and forth between the `scope()` function API, and the `Scope` type (with its `scope` instance in the examples) to better grasp the interaction between the two. Having names to distinguish between two di

[2022-03-30 13:13] jyn514 commented on #74697
[code]
^ this looks like a bug, it doesn't recognize that code tags are the same as backticks.

[2022-03-30 13:16] drahnr commented on #74697
Could you file an issue, I wasn't aware this is legal syntax and so far nobody else reported an issue for this. I'll fix it ASAP.

[2022-03-30 13:35] InfRandomness commented on #90679
@rustbot claim

[2022-03-30 13:36] yaahc commented on #93203
@rfcbot concern stabilization speed

Should have made this explicit before with my earlier comments.  Im concerned with how quickly we're moving forward with this stabilization and what it means for how we view nightly as a tool for testing our APIs.

[2022-03-30 13:36] m-ou-se commented on #93203
The `Scope` object represents the `thread::scope` call; it provides the way for the closure to interact with that scope. I think it'd be more confusing to use separate names.

We're not in a court room trying to handle a murder case.

[2022-03-30 13:37] jyn514 commented on #74697
[code]
This is a bug *somewhere*; not sure whether it's in libstd, spellcheck, or some interaction with @GuillaumeGomez's locale.

[2022-03-30 13:40] m-ou-se commented on #93203
@yaahc I understand, but that's not a very actionable concern. Is there something specific you want to wait for? A moment in time, or a specific release? A certain type of feedback?

This FCP is now blocked, which is fine, but it'd be useful to know what unblocks it, to make sure it will not end up being stuck forever.

[2022-03-30 13:40] jyn514 commented on #93440
@rustbot label: +E-help-wanted

[2022-03-30 13:42] GuillaumeGomez commented on #74697
My locales:

[code]

So I think the problem comes from `cargo-spellcheck` (going through string characters with something else than `.chars()` maybe?).

Also to be noted: `cargo-spellcheck` is very slow. It took me a few minutes to get this output.

[2022-03-30 13:42] jyn514 commented on #93344
@rustbot label; +E-easy +E-help-wanted

[2022-03-30 13:42] jyn514 commented on #93344
@rustbot label: +E-easy +E-help-wanted

[2022-03-30 13:46] Jules-Bertholet commented on #95459
@fmease The inclusion of associated consts from inherent impls is intentional. But is it intentional that associated consts from trait impls also appear?

[2022-03-30 13:50] jyn514 commented on #88488
Duplicate of https://github.com/rust-lang/rust/issues/76720.

[2022-03-30 13:57] bjorn3 commented on #86890
Make sure to only copy it if it exists. It doesn't get build if the llvm backend isn't enabled.

[2022-03-30 14:07] drahnr commented on #74697
There is no locale interaction, it assumes UTF-8 for files and assumes en_US by default, which is used to determine the affix and dictionary files for hunspell.

Speed is always improvable, the biggest boost would be to store the constructed tokenizer info, there was an issue https://github.com/drahnr/cargo-spellcheck/issues/57 but the majority of this is closed now, since the prolems currently li

[2022-03-30 14:34] vbe0201 commented on #95228
Another "problematic but should work" thing I would like to bring attention to is hardware APIs that provide the programmer with opaque memory addresses to refer to. Examples being AArch64 TTBR_EL registers like [this one](https://developer.arm.com/documentation/ddi0595/2021-06/AArch64-Registers/TTBR0-EL1--Translation-Table-Base-Register-0--EL1-).

I assume such cases will be naturally addressed b

[2022-03-30 14:55] camsteffen commented on #93203
One thing I like about the function name `scope` is that it very clearly does *not* create/spawn a thread. This is not true for `scoped` or `with_scope` (for me at least).

[2022-03-30 15:32] yaahc commented on #93203
My intent is to discuss this during the libs API team meeting, but I'm happy to share my thoughts ahead of time.

First, I would like to ascertain our goals for using nightly and merging features unstably. My understanding is that we have this functionality so that we can test out new thoroughly APIs and gather feedback on those APIs prior to stabilization.

If this is the case, and we're not gett

[2022-03-30 15:33] sweetyoru opened #95476 "Failed to lookup SourceFile in new context"
### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Notes

I moved the source files between `cargo build`. Maybe cargo need better error handling instead of panic?

[2022-03-30 15:36] LukasKalbertodt commented on #83583
In case anyone encounters the same problem as @shepmaster (I just did), remember that you can write `fn main` in the doctest manually to prevent rustc from inserting one automatically. And that way you can have your proc macro outside of `main`. It's not a perfect solution, but at least that way, you can compile your tests again.

[code]

[2022-03-30 15:43] Alexendoo commented on #79466
No longer ICEs since #95333

[2022-03-30 15:43] #79466 closed

[2022-03-30 15:48] lcnr opened #95477 "repeat expression do not honor lt bounds of copy"
[code]
this compiles both with and without `feature(nll)`. Note that `mk_foo` creates a value of type `Foo<'a>` which may not be copied.

Moving `mk_foo::<'a>()` into a local errors as expected:
[code]
this results in
[code]

[2022-03-30 15:53] Ericson2314 commented on #49708
@scottmcm Well we are saying if people indeed want to do that, then there will be preassure to stabilize that. And perhaps that's not a bad thing, it coming from real users solving imminent problems, rather than speculation from me and others about how problems in the abstract ought to be addressed.

Still, it's good to think: what are the alternatives?

 - If we do the `extern type` generics ban

[2022-03-30 15:59] hkBst opened #95479 "The compiler should error when trying to transmute pointer values with incompatible alignment"
I tried this code:

[code]

I expected to see this happen: the compiler complains about the alignment of the array not being good enough for the struct Foo

Instead, this happened: the compiler did not complain

### Meta

`rustc --version --verbose`:
[code]

This issue was noticed by the creator of Zig in this blog post: https://andrewkelley.me/post/unsafe-zig-safer-than-unsafe-rust.html.

[2022-03-30 15:59] lcnr commented on #95477
Ah no, we just decide whether to copy or move things depending on whether they implement `Copy` while ignoring regions. That kinda sucks :/

[2022-03-30 16:13] JanBeh opened #95480 "std::ops::Deref's documentation broken on doc.rust-lang.org"
I noticed that documentation of `std::ops::Deref` is broken here:

https://doc.rust-lang.org/std/ops/trait.Deref.html

After the line

[code]

all subsequent `[src]` links are missing. And there is also a line reading

[code]

which seems wrong (to me).

I'm unsure if this is a matter of `rustfmt` or `doc.rust-lang.org`.

[2022-03-30 16:16] RalfJung commented on #95477
I think that is a general issue with `Copy` treatment also for other parts of MIR generation. But elsewhere we actually double-check and make sure to error if we later notice there was a mistake. Looks like for array repeat expressions we don't do that...

This looks exactly the same to me as the original example?

[2022-03-30 16:17] RalfJung commented on #95477
Cc @oli-obk @nikomatsakis  who might know more about MIR generation and `Copy`. I agree this is a soundness issue...

[2022-03-30 17:19] Gankra commented on #95228
Ok so basically all the machinery for doing arbitrary atomics with pointers (cross platform?) is already in LLVM, and rustc/std just needs to wire it up and expose it? (I am... incredibly fuzzy on what it means for a compiler to "preserve" provenance in a way that llvm and the CHERI backend will "get it".)

[2022-03-30 17:22] golddranks commented on #95468
Also attempts to document https://github.com/rust-lang/rust/issues/71355

[2022-03-30 17:28] jrtc27 commented on #95228
We support all the C11 atomics, yes; for example: https://cheri-compiler-explorer.cl.cam.ac.uk/z/jxjd13

[2022-03-30 17:41] aDotInTheVoid opened #95484 "Tracking Issue for `checked_sum` and `checked_product` on Iterators"
Feature gate: `#![feature(checked_sum_product)]`

This is a tracking issue for the `checked_sum` and `checked_product` on Iterators

### Public API

[code]

### Steps / History

- [ ] Implementation: #95485
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- What should be done when overflow has occored, but could be recoverd (eg if a `0` is hit in product after ov

[2022-03-30 17:45] compiler-errors commented on #95480
The `~constBorrow` typo is fixed on nightly -- the duplicated Deref impl entries idk about though.

[2022-03-30 17:47] ThatsNoMoon commented on #64027
Based on the reception to https://github.com/rust-lang/rust/pull/64327, should this be closed? I ran into this trying to use `BTreeMap::range`, but it doesn't seem like this implementation is practical/desired.

[2022-03-30 17:51] umanwizard commented on #95442
Perhaps this is considered a feature request and not a bug; I have no strong opinion there.

[2022-03-30 17:52] ejpcmac opened #95486 "Cannot infer type with a default const parameter"
I tried this code:

[code]

I expected this to compile properly, since without specifying the const parameter of the `TestStruct<N>` type, it should be inferred as `TestStruct<0>`.

Instead, this happened:

[code]

If I replace my code with this, it compiles properly:

[code]

### Meta

`rustc --version --verbose`:
[code]

Also tested with:

`rustc +nightly --version --verbose`:
[code]

[2022-03-30 18:01] jrtc27 commented on #95228
It works at the IR level, we're just missing a bit of plumbing for the Clang frontend for anything other than add I guess: https://cheri-compiler-explorer.cl.cam.ac.uk/z/G7GcK7

[2022-03-30 18:04] eholk commented on #67982
It's weird that we're only seeing these regressions on debug builds. I wouldn't expect the code around this to change between debug and release.

[2022-03-30 18:04] jrtc27 commented on #95228
Oh, right, because C doesn't let you do that on "real" pointers at all, you need to use uintptr_t and then everything works: https://cheri-compiler-explorer.cl.cam.ac.uk/z/9MrKWP

[2022-03-30 18:06] Gankra opened #95488 "[strict provenance] add lints for evil pointer casts"
This issue is part of the Strict Provenance Experiment - #95228

We should make it easier for people to detect places where they are using casts instead of the "blessed" strict_provenance APIs.

@eddyb and I prototyped this out here: https://github.com/rust-lang/rust/pull/95199/commits/93f7f06737686fdd6a44127d51129764c0d0a0bc

The patch needs some cleanups, though. Quoting from elsewhere:

-------

[2022-03-30 18:10] tbu- commented on #77998
I find the `as_str` name unintuitive, choosing it for the sole reason of symmetry with `Chars::as_str` sounds bad to me.

[2022-03-30 18:15] yaahc commented on #93203
I agree that we shouldn't have a rigid process here and that exceptions should be made and that figuring out the boundaries is going to be an important body of work over time, but I think in this specific case we should absolutely err on the side of caution.

My understanding is that there have been 4 attempts to add scoped threads to the standard library over 7 or more years. That they have a lon

[2022-03-30 18:16] Gankra opened #95489 "[strict provenance] Rationalize "Oxford Casts""
This issue is part of the Strict Provenance Experiment - #95228

[Oxford Casts](https://github.com/rust-lang/rust/issues/95488) are those that fly in the face of Harvard Architectures, and let you convert between data pointers and function pointers. In my current understanding, this affects both AVR and WASM.

For WASM, function pointers are actually indices into a ~vtable somewhere. This seems to

[2022-03-30 18:16] khuey commented on #67982
Presumably the optimizer is doing its job on release builds.

[2022-03-30 18:30] Gankra opened #95490 "[strict provenance] Review Windows HANDLE Types"
This issue is part of the Strict Provenance Experiment - https://github.com/rust-lang/rust/issues/95228

Windows defines HANDLE to be void* and rust faithfully reproduces that. But now windows-rs is actually trying to insist it's an integer. Also there are other types like SOCKET that "are" HANDLEs for many purposes but are defined to be integers.

I filed [an issue against windows-rs for this](ht

[2022-03-30 18:32] jrtc27 commented on #95488
Von Neumann would be the appropriate name if you wanted to highlight that aspect, though some Harvard architectures can handle them just fine too, depends on whether the data pointer representation is sufficient to also safely round-trip function pointers (though it may refer to something else when interpreted as a data pointer).

[2022-03-30 18:37] faern commented on #90829
I submitted a stabilization PR. #95491. Looks like that's the only remaining thing here. And I would appreciate if this made it into 1.61

[2022-03-30 18:43] DrMeepster commented on #95488
Can't we just make this lint unstable like `unsafe_block_in_unsafe_fn` used to be?

[2022-03-30 18:45] rbtcollins commented on #29497
@ChrisDenton Looks like `FILE_DISPOSITION_IGNORE_READONLY_ATTRIBUTE` is only available for [ZwSetInformationFile](https://docs.microsoft.com/en-us/windows-hardware/drivers/ddi/wdm/nf-wdm-zwsetinformationfile) - Cygwin uses the underlying NT calls, but I had the impression rust is trying to avoid getting that low level.

@pwinckles The loop there may reduce the incidence, but as it is reentering in

[2022-03-30 18:46] Gankra opened #95492 "[strict provenance] Close The Gap Between AtomicUsize and AtomicPtr"
This issue is part of the Strict Provenance Experiment - https://github.com/rust-lang/rust/issues/95228

As of this writing, [AtomicUsize](https://doc.rust-lang.org/std/sync/atomic/struct.AtomicUsize.html) has many more operations than [AtomicPtr](https://doc.rust-lang.org/std/sync/atomic/struct.AtomicPtr.html), like fetch_add, which is a *problem* if we want people to conform to strict provenance

[2022-03-30 18:48] Gankra commented on #95492
(marked as both T-libs and T-compiler because I don't know if this is "just" a matter of using existing intrinsics or if the compiler needs to do some more work to do this)

[2022-03-30 18:50] Gankra commented on #95488
Oh yes if there's properly lint stability stuff that would be Good To Use (unless that introduces "have to use nightly" and that is deemed unacceptable).

[2022-03-30 18:59] ChrisDenton commented on #29497
@rbtcollins `FILE_DISPOSITION_IGNORE_READONLY_ATTRIBUTE` is in the standard headers (WinBase.h) and is also in the [windows-rs crate](https://microsoft.github.io/windows-docs-rs/doc/windows/Win32/System/WindowsProgramming/constant.FILE_DISPOSITION_FLAG_IGNORE_READONLY_ATTRIBUTE.html).

Btw, the code currently in the standard library was written with some amount of haste so isn't necessarily the be

[2022-03-30 19:01] Gankra opened #95493 "[strict provenance] make the compiler's tagged_ptr stuff conform"
This issue is part of the Strict Provenance Experiment - https://github.com/rust-lang/rust/issues/95228

tagged_ptr and everything that uses it is entirely provenance crimes

https://github.com/rust-lang/rust/blob/bb5c437a2ce9ccf2204c974300c5ea9eb32d3635/compiler/rustc_data_structures/src/tagged_ptr.rs#L52-L60

This is the precise point in updating std+compiler to conform to strict-provenance that

[2022-03-30 19:04] elibroftw commented on #95416
I solved the problem but just saying that there should be better documentation. Maybe its a documentation issue with tokio too.

[2022-03-30 19:04] #95416 closed

[2022-03-30 19:08] Gankra opened #95494 "[strict provenance] make panic_unwind conform"
This issue is part of the Strict Provenance Experiment - https://github.com/rust-lang/rust/issues/95228

The [panic_unwind](https://github.com/rust-lang/rust/tree/master/library/panic_unwind/src) component is full of lots of pointer provenance crimes.

In particular, I noticed that dwarf/eh.rs is just a complete hairball of uniformly mixing pointers and integers: https://github.com/rust-lang/rust/

[2022-03-30 19:09] Gankra commented on #95494
And if you're wondering: CHERI actually puts proper capabilities in its debuginfo, so yeah, this stuff should "work" under it!

[2022-03-30 19:25] Gankra opened #95496 "[strict provenance] Fix System APIs That Are Liars"
This issue is part of the Strict Provenance Experiment - https://github.com/rust-lang/rust/issues/95228

Some system APIs (and C FFI in general) like to lie about whether things are pointers, and this makes strict-provenance very sad.

-----

prctl for PR_SET_NAME (says a pointer is unsigned long):

https://github.com/Gankra/rust/blob/44628f7273052d0bb8e8218518dacab210e1fe0d/library/std/src/sys/un

[2022-03-30 19:29] Gankra commented on #95496
Note: there's probably way more of these but I only audited x64 Windows and x64 gnu-linux. Once we have [lints for this stuff](#95488) we should encourage folks who Do That Platform to run them and find what's up with those platforms (and ideally fix them).

[2022-03-30 19:30] Gankra commented on #95488
Oh also I have no idea what the deal is with "safe transmute" stuff, but if these lints can at all look "into" transmutes and try to catch more Secret Casts that would be Friggin' Rad.

[2022-03-30 19:32] Gankra commented on #95228
Just filed a bunch of issues for stuff off the top of my head under https://github.com/rust-lang/rust/labels/A-strict-provenance

[2022-03-30 19:38] ChrisDenton commented on #95490
To sum up, yes standard* `HANDLE`s are just offsets into a table (i.e. integers) although that is an implementation detail. Either way they are opaque and not meant to be used as pointers or integers (except for testing against known special values, and [maybe some bit tagging](https://devblogs.microsoft.com/oldnewthing/20050121-00/?p=36633) if you're into that sort of thing).

Though we'd have to

[2022-03-30 19:40] Gankra opened #95498 "[strict provenance] Make The strict_provenance APIs Actual Compiler Magic?"
This issue is part of the Strict Provenance Experiment - https://github.com/rust-lang/rust/issues/95228

I left a few little ` FIXME(strict_provenance_magic)` comments around core::ptr to indicate places that *might* want to become a compiler intrinsic for... Reasons. Currently all of these operations *function* but it's possible they can function "better" or somehow power better checking/analysis

[2022-03-30 19:43] Gankra commented on #95490
(Also whoops I did the Worst Typo and the original version of the initial comment said "absolutely just pointers" when I meant to write "absolutely just integers". 🤦‍♀️)

[2022-03-30 19:46] leonardo-m commented on #95479
Yes, here the Zig type system has static guarantee stronger than Rust ones because it (optionally?) keeps track of alignments.

[2022-03-30 19:51] Alexendoo commented on #92271
@Tamschi does this still ICE for you on the latest nightly?

[2022-03-30 20:14] Gankra commented on #95489
Oh also, it might be useful/important to make it easier to talk about "some" function pointer. That came up a lot in places with oxford casts.

The problematic code above is already flailing at the classic Tuple Problem:

https://github.com/rust-lang/rust/blob/bb5c437a2ce9ccf2204c974300c5ea9eb32d3635/library/core/src/ptr/mod.rs#L1746-L1758

Too tired to dig up the links but there is also:

* Code

[2022-03-30 20:17] Gankra commented on #95489
Oh wait nice, I forgot I actually originally "fixed" all these cases and then got skittish about it, but left the "revert" as a separate commit *precisely* so it would be easier to see all the places where we do "interesting" stuff with function pointers:

https://github.com/rust-lang/rust/commit/b608df8277d0e21dd04b73691a56b124ef125d6a

[2022-03-30 20:23] ChrisDenton commented on #95490
Also it might be worth mentioning that there is a public [`HANDLE`](https://doc.rust-lang.org/std/os/windows/raw/type.HANDLE.html) type (and [associated "raw" traits](https://doc.rust-lang.org/std/os/windows/io/index.html)) that probably can't change definition because stability. Although the new (currently unstable) `Owned`/`Borrowed` handle types might make that obsolete for kernel handles.

[2022-03-30 20:30] apiraino commented on #95421
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2395421.20ICE.3A.20Normalizing.20Binder.20without.20wrapping.20in.20a.20Binder) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-03-30 20:38] Lokathor commented on #95490
That HANDLE is correctly a pointer alias at least.

I think the main reason for a Handle type to be isize over a pointer is literally just Send/Sync.

[2022-03-30 20:51] m-ou-se commented on #93203
Some extra context related to some of your concerns:

The implementation is almost fully shared with regular threads. I modified the existing regular threads such that their `Packet` (the Arc through which the return value or panic is communicated back to the JoinHandle) can decrement a counter in the Scope when it is dropped. `scope` waits for that counter to be zero before returning. Everything

[2022-03-30 20:57] ChrisDenton commented on #95490
Hm. I thought the intent here was to avoid unnecessary ptr to int (and vice versa) conversions?

A `HANDLE` (as used by standard library types) must never be actually used as a pointer but may sometimes need to treated as an integer for zero tests, equality testing and testing against known pseudo `HANDLE` values.

(Although I would reiterate that some APIs lie about their arguments and actually t

[2022-03-30 21:01] Lokathor commented on #95490
* Ptr->Int: fine
* Int->Ptr and then using that pointer: please no no no

So if things are *ever* a pointer, use a pointer. Even if they're also sometimes an int, *still use a pointer*.

(This was already said in another issue but by now there's a whole lot of issues so it's easy to miss).

[2022-03-30 21:01] eternaleye commented on #95488
I proposed this in side channels, with the (joking) explanation that "if you start with just a few, they're proliferate themselves" :P

[2022-03-30 21:03] quixoticaxis commented on #67978
Are there any updates on this? What is the current idiomatic way to stop the loop over `.incoming()` iterator without waiting for new connection or is it still missing from std?

[2022-03-30 21:17] rbtcollins commented on #29497
@ChrisDenton thats super interesting - and not visible on the MSDN doc pages :/

I meant no negativity about the current code - it is great the CVE was solved, and there time mattered a lot... and this bug is really (to my mind) about figuring out what is sensible for the stdlib - tradeoffs between complexity, generality, least surprise etc abound.

[2022-03-30 21:59] ChrisDenton commented on #95490
In that case it doesn't really matter what windows-rs or the standard library use. Either or both will be fine from that point of view.

The only thing to be wary of is proper function definitions. And for that the C type may be unreliable.

[2022-03-30 22:03] cuviper commented on #95496
Does provenance matter across the user/kernel boundary? (Although most calls will pass via libc before the real syscall.)

These all seem to be ptr2int, and not int2ptr, which seems less bad, right? Then C can deal with provenance itself. If you then involve cross-lang LTO or something, I don't see how it makes a difference if we lie about the int/ptr API on our end.

[2022-03-30 22:18] Gankra commented on #95496
provenance matters *up until that point*. basically, we just need to make sure that the compiler understands that a "real pointer" is coming from FFI or a "real pointer" is leaking into FFI.

That means ptr2int is also concerning because "under" strict-provenance the compiler wouldn't treat this as "exposing" the pointer and might think it's unaliased, resulting in miscompilation if the kernel the

[2022-03-30 22:36] pcwalton commented on #73632
For those interested, I have a minimal test case to demonstrate the duplicate symbols problem here: https://github.com/pcwalton/rust-staticlib-duplicate-symbols-test

The problem can be triggered with just two crates, plus a C program that links them. Crate `a` exports symbols `foo` (mangled) and `bar` (unmangled, so C can call it). Crate `b` links against `a` *as an rlib* (i.e. in Rust) and expor

[2022-03-30 22:40] pcwalton commented on #73632
There is a flag you can pass to `ld`—`ld -r`—that should allow us to continue to use codegen units with `--emit obj`, by allowing separate object files to be combined into a single relocatable one for subsequent linking. The RFC that comes out of this should probably mention `ld -r` as a potential alternative solution. That being said, I don't love `ld -r` simply because in my experience it's not

[2022-03-30 22:44] workingjubilee commented on #95496
My understanding at the current moment is that if we have our own house in order, according to the Rust model, then all Rust code could be compiled and have LTO done according to the rules of Rust, without looking at the C code, and be correct. Thus all cross-lang link-time optimizations could happen after and as long as they are done according to the understood rules the cross-lang optimizer must

[2022-03-30 22:54] Gankra commented on #95228
Today I learned that the m68k has the dubious honor of having an *actual* ABI where "pointer-sized-integer" and "pointer" *actually* [have different ABIs](https://trofi.github.io/posts/191-ghc-on-m68k.html) just to keep you on your toes, so anyone who thinks m68k is Cool needs to stop all pointer-int-punning crimes immediately and report to the Type Correctness Ward.

(if you're gonna pun them, wh

[2022-03-31 00:02] nagisa commented on #95429
It would still be great if we could have a regression test case to put into our test suite, otherwise some time down the line somebody might end up re-enabling TLS on the affected platform again.

[2022-03-31 02:06] pcwalton commented on #95228
Sorry to be this way, but I'm pretty worried about adding more undefined behavior to Rust to support a niche project like CHERI. Rust UB is already very hard to avoid. If this is an experiment, fine, but if an RFC gets filed I would probably be opposed at this point.

[2022-03-31 02:10] Gankra commented on #95228
Please see "Isn't This Model WAY Too Strict?" [in the FAQ](https://github.com/rust-lang/rust/issues/95228#issuecomment-1075881238)

[2022-03-31 02:13] devsnek commented on #95228
this is pretty cool. thank you for putting together such an understandable writeup :pray:

[2022-03-31 02:15] RalfJung commented on #95489
Arguably it is a bug that rustc generates fn ptrs and raw ptrs into different address spaces but then fails to emit addrspacecasts between them when lowering casts. This is really not something that library code should have to work around.

[2022-03-31 02:17] pcwalton commented on #95228
To address that FAQ issue, I don't think that it's frustrating at all for programmers that provenance is vaguely broken. I think it's frustrating for *compiler writers* and people who work on memory models. But most programmers happily go about their day not thinking about provenance. To that end, I'm much more interested in fixing the notion of provenance to comply with the unsafe code that peopl

[2022-03-31 02:18] RalfJung commented on #95496
Another Provenance Crime API is the one for setting a thread name: https://github.com/rust-lang/miri/issues/1717.

Basically, if for a given provenance P, we never give away a pointer with provenance P to anything else, then under strict provenance the compiler may assume that *nothing* reads or write with that provenance.

So, in the case of setting the thread name, the compiler may assume that n

[2022-03-31 02:23] RalfJung commented on #95498
Yeah, the `wrapping_offset` stuff is a somewhat roundabout way of expressing intent. Sadly LLVM doesn't really have a better way, either, so we'd have to start by convincing them to add a suitable `with_addr`-like operation.

[2022-03-31 02:23] pcwalton commented on #95228
To be more concrete, I'd prefer we just use something like PNVI-ae-udi. Maybe we could tighten things up a little, but that seems like a good place to start.

[2022-03-31 02:24] thomcc commented on #95228
Yeah. I get that `PNVI-ae-udi` is a bit of a messy model semantically, but it has the property that code that does ptr->int->ptr merely misses out on optimizations, rather than being UB. That is a *really* nice property.

[2022-03-31 02:27] RalfJung commented on #95228
FWIW while Stacked Borrows is *a lot* easier to define on top of strict provenance, it is *possible* to define it in a way that ptr-int-ptr roundtrips always work and just pessimize the optimizer. However, the resulting model is... ghastly. About as ghastly as PNVI-ae-udi would be if it supported `restrict` (which it doesn't). Not something you'd want to implement in Miri.

But Stacked Borrows vs

[2022-03-31 02:28] sweetyoru commented on #95476
It works ok on newest nightly.

[2022-03-31 02:28] #95476 closed

[2022-03-31 02:31] RalfJung commented on #95228
Also PNVI-ae-udi relies on C things like strict aliasing, which we don't want in Rust. This creates further problems and makes it a non-solution for us IMO. (If you remove strict aliasing, then I am fairly sure PNVI-ae-udi means that dead load elimination -- as in, removing loads whose result is unused -- is not a legal optimization.)

[2022-03-31 02:32] joshtriplett commented on #95228
@Gankra Would you consider adding a FAQ entry for "Why don't compiler backends like LLVM just stop doing this provenance thing entirely so we don't have to track it?" I'd expect that to be a common question, right after "what is provenance and why is it a thing?".

As far as I can tell, the answer to the former question is something roughly like "We don't know a good way to do that. C isn't going

[2022-03-31 02:35] fu5ha commented on #95228
I think that's basically this post, which is linked in the OP, though admittedly not prominently https://www.ralfj.de/blog/2020/12/14/provenance.html

[2022-03-31 02:35] pcwalton commented on #95228
Well, to be honest, the problem *is* that pointer provenance bugs are empirically very rare. Which is why it hasn't been properly solved to begin with.

My worry is very practical: we have a *lot* (I'm not permitted to say how much, but a *lot*) of unsafe Rust code that does not conform to Stacked Borrows, much less to strict provenance, that we are not going to be able to rewrite. I can't imagine

[2022-03-31 02:35] RalfJung commented on #95228
Part of the problem is that real-world code does a lot of the pieces of this (one-past-the-end pointers are fairly common), and if we want a compiler that's *always* correct (modulo bugs) we can't just discount such counterexamples merely on the basis that real-world code doesn't look like this. Real-world streets also don't look like the [Moose test](https://en.wikipedia.org/wiki/Moose_test) and

[2022-03-31 02:39] pcwalton commented on #95228
I guess what I'm arguing here is that a lot of thought needs to be given to how this can become opt-in, because it seems to me that strict provenance (and probably stacked borrows) needs to be opt-in. Much like strict-aliasing effectively is in C. If this is a purely opt-in semantics, then I don't have any objections to this work.

[2022-03-31 02:40] Gankra commented on #95228
Patrick, as someone who actually teaches the language to people I know for a fact that *MANY* "normal" programmers are constantly frustrated with unsafe Rust code because it is *literally impossible* for us to tell them how to write it correctly. I tried! I wrote a book on it! Two books! And documented the shit out of the standard library! And wrote tons of articles explaining the design of the la

[2022-03-31 02:45] fu5ha commented on #95228
Just want to echo this. I consider myself a fairly competent Rust programmer, and until recently have used unsafe moderately competently at a surface level. As I got into the depths of ""real"" unsafe code recently with the intent of verifying and testing safety assumptions in our biggest Rust project at Embark, I've run into several of the roadblocks described above, and a fair amount of the conf

[2022-03-31 02:47] RalfJung commented on #95228
Making it opt-in basically means having two Rust dialects, and having a subset of libraries not compatible with one of the libraries. That's an ecosystem split. It sounds pretty terrible...

That said, I could totally imagine a compromise where code that violates whatever provenance ends up being is treated as technically non-conformant, but there is still some best-effort attempt to keep that cod

[2022-03-31 02:48] pcwalton commented on #95228
I'm not telling anyone to go away and wait for magic. I'm just saying that you can't break the tons of unsafe code that exists in the wild. There's plenty of empirical evidence that almost nobody is writing unsafe code properly. Our choices are (1) do a Rust 2.0 to fix it; (2) opt-in changes to address things and messy fixes that are not what we would like. There is no in-between. Breaking changes

[2022-03-31 02:51] RalfJung commented on #95228
Dunno, I have to say overall Miri results are pretty encouraging to me. I think Rust is in a much better spot than C/C++ to actually tackle this issue, and we should use that chance rather than throw up our hands and give up.

Computer don't *have to* be terrible, if we don't make them terrible.

[2022-03-31 02:52] pcwalton commented on #95228
I don't see it as worse than editions. And besides, you already *have* an ecosystem split.

The feedback I have heard is that stacked borrows is too complex for developers to grasp on a large scale. I don't personally have enough information to evaluate that claim, though.

[2022-03-31 02:52] RalfJung commented on #95228
Yeah that's why I was asking about strict provenance, which is rather simple (I think).

[2022-03-31 02:53] #94797 closed

[2022-03-31 02:53] #95269 closed

[2022-03-31 02:55] pcwalton commented on #95228
I mean, what I can tell you is that if you break unsafe code, then I'm going to be on the hook for maintaining internal changes to our local fork of rustc that reverts your changes. Which is a thing I can totally do, I don't mind doing it. But I question whether this is the road that the project wants to go down.

[2022-03-31 02:55] vexx32 commented on #95228
What part of this proposes to break existing unsafe code? I'm not seeing anything here that proposes to break code that currently works.

[2022-03-31 02:56] pcwalton commented on #95228
Breaking the assumption that usize can be cast to and from pointers breaks unsafe code.

[2022-03-31 03:00] RalfJung commented on #95228
Not sure if it was a reply to my question, but it doesn't really answer it... we *know* there is code out there that does ptr-int-ptr roundtrips. We also know a lot of it does that *for lack of an alternative API to do the thing it wants to do*. So we want to figure out how much of that code *could* be written with better APIs instead.

It would be really valuable feedback from your organization i

[2022-03-31 03:04] RalfJung commented on #95228
View this as a data-gathering experiment. It is even quite explicitly described as such at the top of this very thread. I am rather surprised that gathering data is met with fierce opposition. No decisions have been made yet! But I hope we all agree that some decision needs to be made at some point, and that if we gather more data we'll probably make a better decision.

It sounds like you do have

[2022-03-31 03:07] pcwalton commented on #95228
If there's a checking tool via miri or something, I'd be happy to provide feedback as to how the porting process of some of our internal tools goes.

I'm just saying that it's not feasible to port all of it. It's just an unfortunate reality.

[2022-03-31 03:09] comex commented on #95228
You're not specifying any specific language or compiler changes, but you are explicitly opening the door to a future where the compiler optimizes based on some hypothetical model that is at least somewhat stricter than what we have today.  To that extent, the APIs are not truly optional.

[2022-03-31 03:11] RalfJung commented on #95228
Miri with `-Zmiri-tag-raw-pointers` will (effectively) implement strict provenance, but also still enforces the rest of Stacked Borrows. I can look into having a flag that enforces strict provenance without Stacked Borrows.

I was thinking maybe it is possible to at least roughly evaluate this without actually doing even a partial port (by considering whether the ptr-int-ptr roundtrips fit the pat

[2022-03-31 03:12] thomcc commented on #95228
I think the concern some folks (TBH, myself included) have is that the FAQ states:

But the evaluation criteria is based on how hard (or possible) the code is to rewrite to this model, which assumes the code will be rewritten, but in many cases it won't.

[2022-03-31 03:16] eddyb commented on #95228
@joshtriplett wrote, in https://github.com/rust-lang/rust/issues/95228#issuecomment-1084008773:

My understanding is that you have e.g. wasm then. Fully deterministic and *fully unoptimizable* memory-wise.

The way wasm is defined means you can e.g. cryptographically hash the entire address space, heap and stack included, and assert a specific behavior, before an after executing the wasm code itse

[2022-03-31 03:17] pcwalton commented on #95228
Thanks, that's helpful. I'll bring up the possibility of testing some of our code with miri.

[2022-03-31 03:17] khionu commented on #95228
A lot of this conversation is about Strict Providence as it may be in a final state. Granka is being careful to make sure this is an iterative exploration. I'd like to encourage everyone to not get too far ahead of the state of the issue.

[2022-03-31 03:20] RalfJung commented on #95228
They are definitely 100% optional right now.

The lingering concern here seems to be that they might become mandatory in the future. That's fair. But I think gathering this data is still valuable; even if ptr-int-ptr roundtrips end up still working (which was never officially blessed AFAIK but always understood by everyone -- including myself -- to be okay[1]) we'll end up with better APIs for man

[2022-03-31 03:27] khionu commented on #95228
Another gentle concern I hope everyone can keep in mind, this is not something that is going to change overnight. We have time to talk about this and ensure all concerns are given twice the consideration they deserve.

[2022-03-31 03:31] pcwalton commented on #95228
But there is something in between: what existing C, C++, and Rust compilers do. Yes, that memory model is formally inconsistent. But it has also been extremely successful--so successful that it isn't practically possible to go back to one of the two extremes. I'm much more interested in figuring out how to bring the model that we have to some sort of more correct state, which will undoubtedly be m

[2022-03-31 03:33] RalfJung commented on #95228
After thinking about this some more, I think I found a good way to describe this effort and why it is *not* a threat to existing unsafe Rust code.

I imagine that we might one day have a "spec for Rust that conforms to strict provenance". That fragment of Rust is a lot easier to specify than "full" Rust *with* ptr-int-ptr roundtrips. I would argue it is better to have a precise spec for parts of R

[2022-03-31 03:35] joshtriplett commented on #95228
@Gankra

FWIW, several of us on the lang team care a great deal about unsafe Rust, myself included. This specific issue has been and continues to be a *massive* challenge to get right. It has come up numerous times, and it's still not clear what the best solution is. Every path has massive tradeoffs.

With my lang team hat on: thank you for trying this experiment, and I'm very interested to see it

[2022-03-31 03:45] eddyb commented on #95228
I'm sorry, but I feel like you didn't understand my comment.
I was replying to "are there alternatives to provenance" with "no" (with only minor caveats).
Not *strict* provenance, but *any* provenance. You're talking about a *specific* provenance model.

[2022-03-31 03:48] RalfJung commented on #95228
FWIW I disagree. You won't get `restrict` or anywhere close to Stacked Borrows without provenance, but there is a *huge* gap between wasm and what you can do by exploiting allocator non-determinism. (This *does* require accepting a fully non-deterministic allocator, which low-level people also find hard to stomach sometimes. In particular those that implement allocator.s :joy: )

But that takes us

[2022-03-31 05:41] eddyb commented on #95228
I replied more on Zulip to that specific concern, but overall, I likely caused two kinds of confusion, sadly:
* the wasm determinism stuff was just a distraction, a curiosity I like bringing up
  * simply adding non-determinism, with no other provisions, doesn't soundly allow more optimizations AFAIK
  * it's just that wasm is so deterministic that it's (IMO) a great case study in IR design, and w

[2022-03-31 06:33] drahnr commented on #74697
Is fix

I implemented a workaround and released v0.11.2 . I cam across another issue I backlogged as https://github.com/drahnr/cargo-spellcheck/issues/263

[2022-03-31 07:09] oli-obk commented on #84657
One thing that is of note here is that we properly enforce type bounds, but not lifetime bounds, as the equivalent program with types fails to compile right where we expect that:

[code]

[2022-03-31 07:19] oli-obk commented on #84657
Aha! If we change
[code]

to have an explicit `'a: 'b` bound, *then* we get the right error:

[code]

so we're just missing a check of the implied bounds on the *impl*

[2022-03-31 07:38] Tamschi commented on #92271
It appears to be fixed (even on stable)! I'll close this issue.

[2022-03-31 07:38] #92271 closed

[2022-03-31 07:40] #89312 closed

[2022-03-31 07:40] #90470 closed

[2022-03-31 07:40] #90829 closed

[2022-03-31 08:26] SparrowLii commented on #95284
I tried to implement it but got stuck. The biggest question is how to determine that they are "the same variant". For example, in the above `err => err` statement, we can only know that `err` is of type `Result<_, _>` rather than the specific `Result<_, _>::Err(..)`variant.

I was going to use `rustc_mir_build::thir::pattern::usefulness::compute_match_usefulness` which checks whether a `match` is

[2022-03-31 08:42] arichardson commented on #95496
It absolutely matters for CHERI-enabled architectures, any `uintptr_t` must be passed as a pointer (or rather using the `uptr` type), otherwise the bounds, permissions and validity are lost which results in the kernel returning an error such as EFAULT/EINVAL. It was even worse for the now pretty much deprecated CHERI-MIPS where integers and pointers (capabilities) are passed in distinct register f

[2022-03-31 08:44] skade commented on #95228
I want to share a couple of observations and views on this discussion:

1) I think it's inappropriate to dismiss features like CHERI as "niche" for the sake of a discussion. Everyone is informed by the space they work in. In the space I am currently in - high assurances - CHERI is a deciding factor for choosing new hardware platforms. Can I show you the documents? No. Also, CHERI is _new_ and we -

[2022-03-31 09:17] GuillaumeGomez commented on #87785
Fixed by #95024.

[2022-03-31 09:17] #87785 closed

[2022-03-31 09:20] programmerjake commented on #95228
one thing to maybe add to the list of stuff MMIO pointers should be able to do: use the MMIO address space as backing memory for a memory allocator...e.g. some embedded platforms have special sram blocks at specific addresses...also most modern GPUs can map their video memory into specific regions of cpu-visible address space, e.g. via PCIe BAR. i think there are definitely cases where video memor

[2022-03-31 09:26] marmeladema commented on #95228
Leaving aside the memory model discussion, I read the PR and I truly think the newly introduced APIs are *better* in that they are clearer to read, easier to document and less error prone (since you won't silently be shrinking some pointers to a smaller integer etc).

Even if the strict provenance experiment would fail in some way, I would very much like to see those APIs stabilized anyway (and ca

[2022-03-31 09:28] lcnr commented on #95477
The original code requires the creation of a new `Foo` while that example copies an existing one. My concern was that we somehow treat the function as if it were const, which isn't the case.

[2022-03-31 10:00] ChrisDenton commented on #29497
The newer information classes [are listed](https://docs.microsoft.com/en-us/windows/win32/api/minwinbase/ne-minwinbase-file_info_by_handle_class#constants) (e.g. `FileDispositionInfoEx` and `FileRenameInfoEx`) but there are not yet platform version information or dedicated pages listing the constants as there are with the others. It probably just needs someone to put in the work of writing the doc

[2022-03-31 11:31] Diggsey commented on #95228
Crazy idea: what if we defined optimization levels according to the model which the corresponding optimization passes were compatible with?

So for example, the highest optimization level would run all optimization passes which are valid against the strict provenance model presented here. There could be a lower optimization level which simply excluded all passes which are invalid under the weaker

[2022-03-31 12:55] MarijnS95 opened #95513 "`unused_crate_dependencies` false-positives in crates with muliple (lib/bin) targets"
## I tried this code:

Consider a crate setup with the `clap` dependency, where `clap` is used only by the `lib` target:

`Cargo.toml`:
[code]

`src/lib.rs`:
[code]

This is fine when checking with this lint enabled:

[code]

Now, consider adding multiple targets to this crate. For the sake of demonstration, we use a `test` and `bin` target that both utilize the library crate defined above:

`src/

[2022-03-31 13:30] jyn514 opened #95515 "`x test --stage 0 --doc compiler/rustc_lint_defs` fails"
I found this originally while testing out https://github.com/rust-lang/rust/pull/95445, but it's also present on master.

I tried this code: `x test --stage 0 --doc compiler/rustc_lint_defs`
I expected to see this happen: Tests pass, like they do for `--stage 1`.

Instead, this happened:
[code]

It's unclear to me whether this is a bug in bootstrap / rustdoc / rustc_lint_defs, or whether doc-tests

[2022-03-31 13:52] nikomatsakis commented on #79098
Example of us enforcing a similar rule for drop check:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=fd4485ceb5a5145a1c77e336d778aecb

Note that the `Drop` impl is allowed with `T: Debug`, because that bound appears on the struct.

[2022-03-31 13:53] jyn514 opened #95518 "`x test compiler/rustc_codegen_{cranelift,gcc}` is not supported"
[code]
cc @bjorn3 @antoyo - are there any tests for these crates that make sense in-tree? I first noticed this because it means `x test compiler/*` breaks, but if that's something I have to live with I can, it would just be nice for it to work.

@rustbot label: +A-rustbuild +A-codegen

[2022-03-31 13:57] bjorn3 commented on #95518
For cg_clif there are tests that make sense in-tree I think. However I want to first rewrite my test code from shell scripts to rust before wiring it up to rustbuild. Also I'm not quite sure yet how to actually run the tests when cg_clif is built using rustbuild rather than cg_clif's own build system (which duplicates some of the functionality of rustbuild).

[2022-03-31 13:58] oli-obk commented on #86218
@b-naber this issue has been fixed as a side effect of #95474

[2022-03-31 13:59] nikomatsakis commented on #79098
Relevant code in drop-check is here:

https://github.com/rust-lang/rust/blob/244a73c549d1468908bfd4efcb0f568a3b4ae557/compiler/rustc_typeck/src/check/dropck.rs#L34-L35

[2022-03-31 13:59] pnkfelix opened #95521 "debuginfo: identify awaitee (via special name or other solution)"
Spawned off of https://github.com/rust-lang/rust/issues/73524#issuecomment-770118855

For debugging async crash dumps (and async stack traces in general, I think), the debugger needs to identify the awaitee field in some manner.

There have been various suggestions here, such as changing the await desugaring to move the awaitee to a temporary with a special name like `$awaitee` that one cannot wri

[2022-03-31 13:59] pnkfelix commented on #95521
another suggestion: "the other thing you can do is put debuginfo metadata on the generator variant associated with that await point"

[2022-03-31 14:02] krdln commented on #93203
I tried to use this feature got error when trying to use non-`'static` function arguments in spawned threads, ie.:

[code]

Is this intended limitation? Note that it does work with crossbeam ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=13201efb37ad4747ac6da724e1393f53)).

[2022-03-31 14:03] nikomatsakis commented on #79098
@spastorino do you plan to look into this? (If so, I can assign it to you.)

As we said in our call, the obvious next step is to refactor the `check_drop_impl` code to be generic over the trait and not specific to `Drop`.

We will want to extend it, also, because I don't want you to be able to do things like

[code]

In other words, we can kind of define what the "type parameters and predicates" a

[2022-03-31 14:06] bgeron commented on #95228
That's a wonderful idea!

To elaborate: can we opt-in to strict provenance per-crate in `Cargo.toml`?

[code]

- `ptr2int2ptr = false` crates can be well-optimized by themselves.
- LTO can do PVNI optimization — or better if all crates are `ptr2int2ptr = "forbid"`
- Miri does not have be accurate for a mix of `ptr2int2ptr = false` and `ptr2int2ptr = true` in the same run.
- Miri may have false neg

[2022-03-31 14:10] schreter commented on #47809
Hi. I know this is a bit off-topic and this particular issue is already closed, but I suppose, the right people are involved here :-), so someone might help.

I implemented for our project a version of `Result` which uses `Try` trait in such a way as to track the error handling locations, so we get a "call stack" of the error at the end. This works in conjunction with `#[track_caller]` very well a

[2022-03-31 14:12] nikomatsakis commented on #95477
Yes, our general strategy for Copy is:

* Check (without respect to lifetimes) whether the type implements Copy;
* If so, generate a Copy;
* Enforce in MIR that the lifetime bounds hold.

If I had my druthers, we would have required that Copy impls were [always applicable](http://smallcultfollowing.com/babysteps/blog/2018/02/09/maximally-minimal-specialization-always-applicable-impls/), but we did

[2022-03-31 14:15] jplatte commented on #47809
I remember asking about this quite a while ago and getting a response along the lines of "unlikely to happen for perf or code size reasons". Unfortunately I can't find an issue about it, so I guess it must have been on Zulip.

I think creating a separate issue would be more useful than continuing this conversation here, in any case.

[2022-03-31 14:16] RalfJung commented on #95477
Yeah, that seems to not be working in some cases.

[2022-03-31 14:18] RalfJung commented on #95228
Strict provenance is a memory model question, which means it is a global choice.

Put differently: if *any* crate opts out (or does not opt in), the *entire* program has to be compiled without strict provenance.

[2022-03-31 14:19] jyn514 commented on #95518
Sounds good :) I'm happy to help with the "wire it up to rustbuild" part.

[2022-03-31 14:19] ssomers opened #95522 "Calculation of values passed by value no longer optimzed"
### Code

The expression
[code]
is usually optimized to a single machine instruction, without branching. But when passing the result by value to some non-trivial function, such as
[code]
the expression is not optimized and branches with 1 and 0 constants are written out. It used to be optimized up to Rust version 1.24, and it is still optimized when passing by reference. [This Godbolt setup](https

[2022-03-31 14:35] Diggsey commented on #95228
Right, I think we'd still want to be clear that (assuming this all goes through) we think the strict provenance model is the future - that it's something that all crates should aspire to support, but it at least gives us a way to guarantee that existing code can continue to work.

Beyond performance and validation, there's another benefit to this approach: there are certain areas of the Rust abstr

[2022-03-31 14:44] schreter commented on #47809
Well, it's clear that this will increase generated constants segment by potentially quite a bit, because instead of a single string per file we'll need to store many strings per file. So it could be made optional at compilation time. But I personally don't think it'll be significantly slower (during compilation; runtime is obviously unaffected).

Sure. Simply a new top-level issue w/o any comments

[2022-03-31 14:45] nikomatsakis commented on #81513
@eddyb what would the metadata for a `[[T]]` be, do you think? I do wonder whether it makes sense to use slice types there or to encourage people to build their own types (it seems to me like there is no "obviously correct" semantics to assign)

[2022-03-31 15:03] eddyb commented on #81513
Even if that is the case, a lot of decisions we make *now* could lock us into a future where all existing types are limited and users will end up having to use custom DSTs for *everything* else - this does not seem optimal to me.

I think it's even worse than just `[T]` with unsized `T`: tuples and `struct`s do not wrap their inner metadata, so if we ever want to e.g. support `(T, U)` with unsized

[2022-03-31 15:21] #51748 closed

[2022-03-31 15:21] est31 commented on #47809
If you have the source code, it should be quite easy to build a tool that translates the Location to the name of the function. `Location` contains the file name, as well as line and column, so all you need to do is go to that specific line and column, and then parse the next ident. Done easily with `syn` where you can write a custom visitor with a `visit_ident` function, like [this](https://docs.r

[2022-03-31 15:24] m-ou-se commented on #93203
That error looks very strange. It's mentioning a 1-element tuple (`(&u8,)`) that doesn't explicitly appear anywhere in the code. It seems to be the tuple of captures of the closure, but that's not supposed to show up in diagnostics like this. What it complains about is that it cannot find a lifetime that is not longer than the one of the `&u8` argument, but at least as long as the scope closure. B

[2022-03-31 15:31] m-ou-se opened #95527 "Weird lifetime error on closure in thread::scope"
This was reported here: https://github.com/rust-lang/rust/issues/93203#issuecomment-1084630290

This should compile, but this fails to compile:

[code]

Error:

[code]

(rustc 1.61.0-nightly (1eb72580d 2022-03-08))

It seems to be complaining that it cannot find a lifetime no longer than the one of the `x: &u8` argument, but no shorter than the scope closure. The error is very hard to read though.

[2022-03-31 15:32] m-ou-se commented on #95527
It compiles fine with `#![feature(nll)]` enabled.

[2022-03-31 15:34] m-ou-se commented on #93203
It compiles fine with `#![feature(nll)]` enabled. So it looks like it's an issue with the 'old' borrow checker that's already been fixed in nll.

[2022-03-31 15:36] schreter commented on #47809
Of course it could be translated. But that's another step, which makes it quite cumbersome. The compiler already knows it at compile time and aside from costing more space in the generated executable (string section), there should be no adverse effects of having the function name in the `Location`. It would in general allow building various tools which use the location for debugging purposes, whic

[2022-03-31 15:46] m-ou-se commented on #43234
Here's an example that only compiles with `#![feature(nll)]` enabled: https://github.com/rust-lang/rust/issues/95527

What work is left before that compiles on stable?

[2022-03-31 15:46] ehuss commented on #95513
Thanks for the report! This is a known issue, as rustc does not know about cargo projects or their structure. #57274 contains more discussion of the issue and its problems. As an alternative, you may want to consider using [cargo udeps](https://crates.io/crates/cargo-udeps).

[2022-03-31 15:52] eddyb commented on #81513
Another problem I've come across is "dynamic alignment". Consider something like this:
[code]

Today, we have two kinds of DSTs wrt alignment (static vs dynamic), which results in:
* `WithPrefixes<[T]>` has a *static* `tail` offset of `round_up(3, align_of::<T>())`
* `WithPrefixes<dyn Trait>` has a *dynamically computed* `tail` offset
  * `round_up(3, max(2, align_of_val(&self.tail)))` with `align

[2022-03-31 16:00] ehuss commented on #95515
The issue is that tests may use new syntax and features without needing `#[cfg(bootstrap)]`. For example, `expect` support was recently added in #87835 which isn't in beta.

I personally would just add a warning or error that tests may not work with stage0.

[2022-03-31 16:00] schreter opened #95529 "`Location` is missing the function name"
For our project, I implemented a version of `Result` which uses `Try` trait in such a way as to track the error handling locations, so we get a "call stack" of the error at the end. This works in conjunction with `#[track_caller]` very well and we see the locations the error handling took.

However, there is one major deficiency in `Location` - it only gives us the source name and line. Yes, with

[2022-03-31 16:40] eddyb commented on #95529
You shouldn't need to. You can use something like `self.instance` to get the `Instance` that describes the function you're in, and you can probably get access to the mangled symbol efficiently enough (something like `tcx.symbol_name(self.instance)` I would assume - it might even be cached around from codegen needing it already for the function definition itself).

I wouldn't store the "function na

[2022-03-31 17:10] eddyb commented on #95529
Sorry, what I should've said was that `Span` refers to "source code location", which function is being compiled (and, crucially, which choices of generic parameters) is *elsewhere*. There's not really any reasonable way to go from "position in file" to "function definition path + generics", anyway, efficiencies aside.

<hr/>

Ideas for `Location` using different sections has been brought up before

[2022-03-31 17:24] carbotaniuman commented on #94348
@AzureMarker What crate-type are you building your crate as? Do you have a single repo that I can just build to test it out?

[2022-03-31 17:41] elidupree opened #95533 "in nightly, std::thread_local! uses `unreachable!` where it needs to say `$crate::unreachable!`"
Commit https://github.com/rust-lang/rust/commit/36c904594ee0d3a311f720827025c293d071a006 introduced two lines that say `unreachable!()`, which breaks this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e74876a2b23f9f747f54ee1be7a680f4)):
[code]

I believe they need to say `$crate::unreachable!` instead.

Also, if there isn't one already, we should creat

[2022-03-31 17:50] yaahc commented on #95529
We pretty much abandoned the idea of moving Backtrace into core, but maybe we could move just the functionality we need here into core?

[2022-03-31 18:04] ffmichaelm commented on #92173
I am running into the issue myself.  What seems to be a workaround for everybody?

[2022-03-31 18:13] Nilstrieb opened #95535 "No hint about implementing clone on type mismatch when cloning reference"
Given the following code:  https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=ebe1fe6ca75fd88cba9aa3a77cb625bf

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-03-31 18:28] dtzxporter commented on #92173
The definitive fix is to update to Xcode 13.3, you may need to use the App Store or Settings App (I've had it come differently on two different machines)

I believe one of the malloc implementations shipped with the 'shared library' feature of Xcode was broken.

[2022-03-31 18:42] Lokathor commented on #95488
Bytemuck also removed the Pod impl for pointers a few versions back <3

[2022-03-31 18:47] Ericson2314 commented on #49708
@nikomatsakis Glad to hear that!!

My heterodox hunch is that actually most `?Sized` could becomes `?DynSized` as moving (or cloning) "scary, ambiguously large" things is relatively uncommon. To me, that means

- On one hand, since people are really trying to do things which require `size_of_val`, perhaps the avoided bugs won't be too frequent.
- On the other hand, since people rarely do want the

[2022-03-31 19:18] compiler-errors commented on #95535
Oh this one is a neat one, and I've seen it in the wild quite a few times.

@rustbot claim

[2022-03-31 19:30] SimonSapin commented on #81513
Today’s impls of the `Pointee` trait are made up through compiler magic, so this kind of branch/special case would be possible without `#![feature(specialization)]`

[2022-03-31 20:07] mfelsche commented on #47727
On macOS Big Sur (11.6.5) using the exact snippet from the issue description is actually failing for me with the following output:

[code]

I was able to verify the same behaviour for TcpSocket.

I think at least the documentation on `set_ttl` should document possible error conditions and should state that this only intended to work on ipv4 sockets.

Should I report this as a separate issue?

[2022-03-31 20:11] nicholasbishop opened #95538 "Nightly 2022-03-30 ICE: Collection VecMap(...) should have just one matching element"
### Code

I ran into this error when compiling the [fatfs](https://github.com/rafalh/rust-fatfs) crate with nightly. I reduced the example down to this, no external deps needed:

[code]
[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=764ac6e1f4c2b5b21518a54b4aa1d967)

### Meta

`rustc --version --verbose`:
[code]

Compiles without errors on current stable

[2022-03-31 20:11] #91402 closed

[2022-03-31 20:13] kckeiks commented on #47727
I would say, yes. This issue is for adding functionality.

[2022-03-31 20:30] xFrednet opened #95540 "ICE: no warnings or errors encountered even though `delayed_good_path_bugs` issued `#![feature(lint_reasons)]`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-03-31 20:30] xFrednet commented on #95540
I'm responsible for this one :sweat_smile:

@rustbot claim

[2022-03-31 20:36] mfelsche opened #95541 "Tcp/UdpSocket.set_ttl fails on macOS for ipv6 sockets"
I tried this code:

[code]

I expected to see this happen:

As reported in #47727 using `set_ttl` on a IPv6 based socket does not have any effect and does not set the hop limit correctly. I was able to reproduce this on linux. But on macOS Big Sur (11.6.5) this actually fails.

I expected this snippet above to print `10` and issue the pakets with the default hop limit. I mean, I actually expected

[2022-03-31 20:43] c410-f3r commented on #44838
What is the status of this feature? Is someone at least trying implementing it?

[2022-03-31 21:19] davepacheco commented on #90594
I'm running into a similar issue:

[code]

It seems to be totally reproducible.  It sounds from what others have said that there's some local state associated with the problem.  I'd keep around the state in case it was useful...but it seems like nobody's actively looking at this so I've tried the `cargo clean` and `cargo test` workaround and that worked.  If there's information that would be usefu

[2022-03-31 21:46] Veetaha commented on #87681
Should we consider this issue resolved then?

[2022-03-31 21:47] Lokathor commented on #95492
small note about the footnote: andnot is usually `(!a) & b`

[2022-03-31 21:48] Alexendoo commented on #94429
No longer ICEs since #94081

[2022-03-31 21:52] #95310 closed

[2022-03-31 21:53] thomcc commented on #95492
The answer to these questions are in https://rust-lang.zulipchat.com/#narrow/stream/136281-t-lang.2Fwg-unsafe-code-guidelines/topic/Questions.20about.20extending.20strict.20prov.2E.20to.20AtomicPtr, it seems.

[2022-03-31 22:10] jyn514 commented on #87681
I think it *should* work, imo it's a bug that it doesn't.

[2022-03-31 22:20] vintium commented on #95535
I might suggest that the note be a little more detailed, something like:
[code]

[2022-03-31 22:22] compiler-errors commented on #95538
cc @oli-obk and #94081

[2022-03-31 22:24] marmeladema commented on #58781
Is there something actionable that a small contributor like me could help with? It would be very pleasant to finally stabilize NLL 🥳

[2022-03-31 22:29] marmeladema commented on #54779
Since `in_band_lifetimes` feature has been removed, can this issue be closed as obsolete?

[2022-03-31 22:34] marmeladema commented on #55312
I would be happy to help if someone could write some notes about what needs to be done 🙏

[2022-03-31 22:37] oli-obk commented on #95538
Huh how did we miss this on crater?

Either way, I know how to fix this. Maybe i'll even get it in before the beta cutoff. But even if not, the fix will be small and easily backported

[2022-03-31 22:38] marmeladema commented on #57374
The error message is now identical between stable and nightly with nll enabled:
[code]

[2022-03-31 22:41] danielhenrymantilla commented on #95527
So, I think I've managed to reduce it a bit further:

[code]

passes, but if we remove the `'at_x` annotation (the value of `'env`):

[code]

[2022-03-31 22:43] estebank commented on #57374
The current output for [aaron's case above](https://github.com/rust-lang/rust/issues/57374#issuecomment-997282040)

With nll
[code]
and without:
[code]

[2022-03-31 22:52] bstrie commented on #58781
@marmeladema The diagnostic issues mentioned above could probably use triage to see if they're still relevant: https://github.com/rust-lang/rust/issues?q=is%3Aopen+is%3Aissue+label%3ANLL-diagnostics . If they are, then resolving those may be a good place to start. You can also try hopping into [#t-compiler](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler) or [#t-compiler/help](htt

[2022-03-31 22:55] saethlin commented on #95332
I've implemented my ideas in https://github.com/rust-lang/rust/pull/95377. The general idea is to try to detect when we are executing unsafe code, and toggle on checking for that code. The implementation is not clean, I'm fiddling with another iteration locally that will make things a lot more readable.

That PR detects the UB that was reported here, along with the test for https://github.com/rust

[2022-03-31 23:02] nicholasbishop commented on #95538
I ran into the compilation error testing against the `master` branch of fatfs, the latest version released on crates.io doesn't trigger the issue.

[2022-03-31 23:19] saethlin commented on #94847
Yup, same behavior with `Iterator::min`. No unrolling and a ~2x regression by default, but no regression with `-Ctarget-cpu=native`: https://godbolt.org/z/4Pnz6rcrc.

[2022-03-31 23:51] RalfJung commented on #95492
That just clears a single bit -- at least for Miri there is no issue here.

No idea how to make any sense of any of this on CHERI though. Cc @jrtc27
What we would *want* is that this is equivalent to atomically doing [cheri_address_set](https://www.cl.cam.ac.uk/techreports/UCAM-CL-TR-947.pdf#page=28) with the old address bit-combined with the operand.

[2022-03-31 23:56] jrtc27 commented on #95492
That's what you get on CHERI

[2022-03-31 23:59] thomcc commented on #95492
I think I'm probably going to have to ignore cheri for this work, since we don't really have a pointer-sized integer except for usize. That said, it doesn't need to stabilize with urgency.

[2022-04-01 00:08] workingjubilee commented on #95492
If we adopt a more "usize is size_t or ptraddr_t" model then it would be fine using usize as the operand. If we don't, then uhhh, a lot of things become much more "funny" already. An appropriate `// if xyz { FIXME:` note should suffice.

[2022-04-01 00:38] RalfJung commented on #95332
Could you describe at a high level when the extra check kicks in?

I am not sure if we want to do something ad-hoc that catches this UB but still leaves many similar cases of UB undetected.

[2022-04-01 00:41] RalfJung commented on #95332
Unfortunately, I don't think we have any benchmarks that actually execute `unsafe` const code. So those numbers are not very useful to gauge the perf impact of this change. It would probably still be prohibitive for const code that *does* use `unsafe` intensively...

We agree that this check is not water-tight, right? There are ways to 'delay' the UB until after the `unsafe` block. It also misses

[2022-04-01 00:55] RalfJung commented on #95492
So I can take a 64bit integer and atomically bit-and it with a pointer (that has 128bit), meaning "bit-and this with the 64bit address part of the pointer please"? Other people say CHERI atomics are pointer-sized so I am confused now.

[2022-04-01 00:59] RalfJung commented on #95492
In Rust syntax, we need an operation that atomically does
[code]

[2022-04-01 01:00] jrtc27 commented on #95492
That's exactly what we give you, semantically

[2022-04-01 01:41] saethlin commented on #95332
Just to make sure we understand, the point of this is _not_ to catch all UB in const eval, or all invalid data. The idea is to selectively turn on validation where it's likely to be particularly helpful.

The validation that CTFE does is already flaky with respect to how code is factored, so I am not convinced that this patch is any worse in this particular regard.

Sure we do. Basically all serio

[2022-04-01 02:11] RalfJung commented on #95332
Hm, fair. Out stress test benchmark I think doesn't do this though.
To evaluate the worst-case scenario here, it might be worth editing the ctfe-stress benchmark to put everything into an unsafe block and see what happens? Or is the expected result then that we get the 50% that the initial attempt produced?

[2022-04-01 03:19] allexgray opened #95549 "cargo new creates additional git folder"
Folder Tree

- .git
- Cargo.toml

### After executing
```cargo new hello``` & ```cargo new app```

Folder Tree

- .git
- app
  - src
  - Cargo.toml
- hello
  - .git
  - src
  - Cargo.toml
- Cargo.toml

#### Root Cargo.toml file
[code]

This happens once in every folder after executing ```cargo new hello``` & then ```cargo new app```  git was instantiated only in hello (first package of every direc

[2022-04-01 03:54] scottmcm opened #95550 "Awkward parse error for macro_rule repetition missing its `*`/`+`/`?`"
Given the following code: <https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=99c47e5e030aa3460464df5c45097a9b>

[code]

(where I forgot the `*` after the `)`)

The current output is:

[code]

Because that error `^^^`'d the `(,)` part, I thought I got the "optional trailing comma" part wrong, and ended up looking that up again before realizing that it wasn't the problem at al

[2022-04-01 05:14] AzureMarker commented on #94348
@carbotaniuman I see it with some crates for the Nintendo 3DS (in progress std port), but I'll try to make a minimal reproduction that runs on Linux.

[2022-04-01 05:43] reitermarkus opened #95554 "Import order breaks compilation with undefined reference to `rust_begin_unwind`."
I tried this code (excerpt of a `no_std` binary crate's `main.rs`):

[code]

I expected to see this happen:

Compilation to be successful.

Instead, this happened:

Compilation failed with undefined reference to `rust_begin_unwind`.

Additional information:

This happened after switching from LLD to a GNU linker `arm-none-eabi-ld`.

As the title of the pull request suggests, the import order and t

[2022-04-01 06:46] eddyb commented on #81513
That's worse - the "compiler magic" has none of the checks or analyses in place, that we've at least tried to add to specialization. And unless we make that "compiler magic" work *more like* specialization *before* stabilization, `Pointee` will be able to do things on stable that specialization is disallowed even on nightly!

That is, I'm not aware of a way to write a `T: Sized` "type-level branch

[2022-04-01 06:50] frank-king commented on #94543
Fixed in the latest nightly version, see https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a10612cc878d632b58b427b742c95f42.

Is this the expected behaivor?

[code]

[code]

[2022-04-01 07:12] Kobzol commented on #68990
I started experimenting with this and it's quite annoying that if `VecDeque` is in a half-broken state (during refactoring), tests segfault, because `VecDeque` is probably used in the implementation of the test suite. Is there a way to say that "I want to run the test suite using stage0, but I want to test a modified implementation of std"?

[2022-04-01 07:43] iamgabrielsoft commented on #56834
I had the same issue, try closing all empty braces from your for loop, if statement and function statement.

very useful for me...

[2022-04-01 08:22] WaffleLapkin commented on #95529
There is some previous discussion about getting the function name in https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/macro.20for.20getting.20the.20function.20name/near/269583366

[2022-04-01 09:00] krdln commented on #95527
I don't get why `#![feature(nll)]` makes it compile – wasn't the whole idea of currently enabled "migration mode" to run old borrowck and nll just for cases nll rejects, but old borrowck accepts and thus we issue compat warning? I'm very confused... Because if old borrowck still have a veto posibility, then I don't get how even we can accept "problem case #1" and "problem case #2" now (which we do

[2022-04-01 09:45] bjorn3 commented on #81513
Using a `SliceMetadata` wrapper wouldn't solve anything I think. `[[T]]` would need unsized metadata, right? Unsized metadata is impossible as `std::ptr::metadata` has to work for any `*const T where T: ?Sized`. A function can't return an unsized value.

[2022-04-01 10:01] ishitatsuyuki commented on #44838
A few people previously tried but I don't think anyone is still working on it. dtolnay's solution seems promising and if you are interested in implementing you should use their code as a starting point.

[2022-04-01 10:19] gimbles commented on #94403
I understand.

I personally don't think extreme levels of lint detection is exactly needed in Rustc, the current level is fine.

Closing this for now, although if a larger amount of people are interested in improving lint detection, feel free to re-open :)

[2022-04-01 10:20] c410-f3r commented on #44838
@ishitatsuyuki Thanks, I shall give it a try

[2022-04-01 11:12] m-ou-se commented on #95527
`library/std/src/collections/hash/map.rs` also has code that doesn't compile if we remove `#![feature(nll)]`.

[2022-04-01 11:22] MarijnS95 commented on #95513
@ehuss Thanks for linking that! I wouldn't have thought to look at that issue as it asks for implementing this feature in the first place. It seems non-trivial anyway given how the user can dictate what targets to build, and this issue only seems to be solvable if the usage results from all targets can be aggregated and combined.

For future lurkers, to save you some scrolling and searching, the e

[2022-04-01 12:26] BusyJay opened #95561 "native dependencies fail to link on nightly-2022-04-01"
Sorry, I don't have a minimal reproduction repo. The error can be found at https://github.com/BusyJay/tirocks/runs/5784258424?check_suite_focus=true.

It doesn't seem to be able to resolve the required symbols somehow. I can verify that it compiles with the same code on nightly-2022-03-31.

### Meta

`rustc --version --verbose`:
[code]

[2022-04-01 13:10] frank-king commented on #95486
@rustbot claim

[2022-04-01 13:34] BusyJay commented on #95561
It's introduced by https://github.com/rust-lang/rust/pull/93901

[2022-04-01 13:35] lcnr commented on #79098
i am currently looking into reworking `dropck`, cc #95309, but i also want to generalize the predicate part to get rid of [SimpleEqRelation](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_typeck/check/dropck/struct.SimpleEqRelation.html#)

while I am at it I could just write https://github.com/rust-lang/rust/pull/74648 take 2

[2022-04-01 14:19] marmeladema commented on #58781
I opened a zulip threads in the wg-nll group about those: https://rust-lang.zulipchat.com/#narrow/stream/122657-t-compiler.2Fwg-nll/topic/nll.20diagnostics.20issues

TL;DR is that there are actually 4 and we believe they can all probably be closed.

[2022-04-01 14:20] c410-f3r commented on #83527
If you guys don't mind, I would like to at least try stabilizing the only two things that weren't part of a discussion: `${ignore}` and `$$`. They open a range of new possibilities, don't have the inner/outer dilemma and are IMO as useful as any counting method.

[2022-04-01 14:22] BratSinot commented on #91930
Greetings!

Any way to do such thing in stable?
[code]

[2022-04-01 15:16] Mark-Simulacrum commented on #94508
Fixed by https://github.com/rust-lang/rust/pull/94933 on beta and #94624 on nightly, closing.

[2022-04-01 15:16] #94508 closed

[2022-04-01 15:19] Mark-Simulacrum commented on #94510
Should be fixed on beta with https://github.com/rust-lang/rust/pull/95061 and nightly with https://github.com/rust-lang/rust/pull/94593.

[2022-04-01 15:21] #94419 closed

[2022-04-01 15:27] Mark-Simulacrum commented on #94511
https://github.com/rust-lang/rust/pull/95093 was merged into beta, so I think this is likely fixed, and in any case the only known case had other errors (it was a build-fail -> ICE), so we should be OK for 1.60 here.

[2022-04-01 15:30] Mark-Simulacrum commented on #94345
@craterbot run name=beta-1.60-3 start=1.59.0 end=beta-2022-04-01 mode=build-and-test cap-lints=warn crates=list:https://crater-reports.s3.amazonaws.com/beta-1.60-2/retry-regressed-list.txt p=5

Should be a relatively short run, hoping we can get results quickly.

[2022-04-01 15:31] Mark-Simulacrum commented on #94345
@craterbot run name=beta-1.60-3 start=1.59.0 end=beta-2022-04-01 mode=build-and-test cap-lints=warn crates=list:{https://crater-reports.s3.amazonaws.com/beta-1.60-2/retry-regressed-list.txt} p=5

[2022-04-01 15:32] Mark-Simulacrum commented on #94345
@craterbot run name=beta-1.60-3 start=1.59.0 end=beta-2022-04-01 mode=build-and-test cap-lints=warn crates=https://crater-reports.s3.amazonaws.com/beta-1.60-2/retry-regressed-list.txt p=5

[2022-04-01 15:34] bjorn3 commented on #94506
This seems to be the assertion in https://github.com/rust-lang/rust/blob/0677edc86e342f333d4828b0ee1ef395a4e70fe5/compiler/rustc_middle/src/mir/mod.rs#L512-L523 In other words the `statement_index` is higher than the actual statement count. I'm guessing an optimization removes statements but doesn't update the source infos.

[2022-04-01 15:35] ArshiAAkhavan opened #95564 "bug in compiler after running cargo doc --open"
### Code
i was developing a mini-project in rust and compiler was working and all.

i started to add comments and check the output of `cargo doc --open` but when i tried to compile the code again, i faced the error below, though it seems to be a non reproducible bug (since i cloned my code in another directory and compiler worked just fine), i thought i should create an issue just in case
[code]

[2022-04-01 15:49] pietroalbini commented on #94808
@FlawlessDeveloper can you check with a more recent nightly?

[2022-04-01 15:50] Mark-Simulacrum commented on #94506
@rustbot ping bisect

Can we try to get a bisection for this failure? Any of the repositories above should work.

[2022-04-01 15:50] pietroalbini commented on #94502
Should be fixed by https://github.com/rust-lang/rust/pull/94552.

[2022-04-01 15:50] #94502 closed

[2022-04-01 16:09] petrochenkov commented on #95561
I'll check what happens.
Either crate gets something wrong with native library dependency order, or some library needs the `+whole-archive` modifier which is no longer added by rustc by default in some cases.

[2022-04-01 16:23] ffmichaelm commented on #92173
so I am unsure if it is the same issue but things were fine on big sir and then I upgrade.  My particular project has an enormous amount of dependencies (>800).  Occasionally when doing a cargo clean, cargo update some libraries fail for apparently no reason (SIGABORT).  If I rerun multiple times things seem to eventually build.

[code]

[2022-04-01 16:29] dtzxporter commented on #92173
You can run it with `lldb` to check the callstack.

Our issue was actually logging the malloc issue (Source of this ticket and clippy issue):
[code]

The above issue appears fixed as of Xcode 13.3.

[2022-04-01 16:30] ffmichaelm commented on #92173
Should I create a new ticket?

[2022-04-01 16:31] dtzxporter commented on #92173
If possible, debug cargo/rustc and print the callstack, if it's different, then definitely!

[2022-04-01 16:31] steffahn commented on #94506
Seems to be fixed already

[2022-04-01 16:31] ffmichaelm commented on #92173
How do I use lldb to debug this?  Never used it.

[2022-04-01 16:39] dtzxporter commented on #92173
[code]

[2022-04-01 16:42] ffmichaelm commented on #92173
[code]

[2022-04-01 16:43] dtzxporter commented on #92173
Sorry forgot `process launch`

[2022-04-01 16:45] steffahn commented on #94506
Tested `Jazz` and `slpkg`, it’s fixed for both in latest `beta`; bisections on `slpkg`:

regression in: 9cdefd763b910ffd1d42233a8c752ab5fd84ca4d
fixed in: d4de1f230ca30b7ce08fbf453daebf8b2e7ffcc9

[2022-04-01 16:57] ffmichaelm commented on #92173
Compiling diesel v1.4.8
error: could not compile `cookie_store`

Caused by:
  process didn't exit successfully: `rustc --crate-name cookie_store --edition=2018 ........ --cap-lints allow` (signal: 6, SIGABRT: process abort signal)
warning: build failed, waiting for other jobs to finish...
Process 64899 stopped
* thread #5, stop reason = signal SIGUSR1
    frame #0: 0x00007ff80dc1da76 libsystem_pth

[2022-04-01 17:19] #95459 closed

[2022-04-01 17:19] ffmichaelm commented on #92173
Not sure if this even helps?  I can go into the crate and build cookie_store itself just fine.....

[2022-04-01 17:24] dtzxporter commented on #92173
You would have to debug rustc directly I believe. It's kinda hard to explain over github. Are you in the discord/zulip?

[2022-04-01 17:25] ffmichaelm commented on #92173
What is the discord link?  Like I said I don't know if that will help as when I run these individually they seem fine.  Is there a way to get the rustc output when doing cargo b?

[2022-04-01 17:28] dtzxporter commented on #92173
https://discord.com/invite/rust-lang

`cargo build --verbose` will print the full `rustc` command you can run in the same dir to produce the same output

Then you can run lldb on that `rustc` command.

[2022-04-01 17:42] ffmichaelm commented on #92173
```rm-sandbox/server/rust-toolchain.toml`
rustc(69444,0x700006d18000) malloc: *** error for object 0x600002ff1b00: pointer being realloc'd was not allocated
rustc(69444,0x700006d18000) malloc: *** set a breakpoint in malloc_error_break to debug
Abort trap: 6```

[2022-04-01 17:43] ffmichaelm commented on #92173
Looks like the same error?  I can join the discord in 20 mins

[2022-04-01 17:56] ffmichaelm commented on #92173
I am in the main channel

[2022-04-01 18:55] TDHolmes opened #95569 "Compilation failure after #92472 merged in"
As of `nightly-2022-03-28`, some of our code utilizing macros in [`atsamd`] started to fail to compile. The code that is failing is some macro magic for making nice pin name aliases for microcontrollers, so it's not surprising that #92472 broke it. I see that some other repos were broken as well and that @petrochenkov helped fix it, but I'm really not sure how to do the fix in our repo.

### Code

[2022-04-01 19:19] ffmichaelm commented on #92173
So if xcode upgrade is the solution and I have 13.3 are there any extra steps I am missing?

[2022-04-01 19:36] c410-f3r commented on #20671
Another related snippet (I guess). Also not sure if this would be fixed by `implied_bounds`.

[code]

[2022-04-01 20:33] #95147 closed

[2022-04-01 20:33] #95289 closed

[2022-04-01 20:33] rust-highfive opened #95570 "`miri` no longer builds after rust-lang/rust#95552"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#95552, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @matthiaskrgr, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-04-01 20:34] bstrie commented on #95228
Relevant to this issue is a new proposed option in Miri for executing Rust code under strict provenance: https://github.com/rust-lang/miri/pull/2045

[2022-04-01 21:12] petrochenkov commented on #95569
Fixed in https://github.com/rust-lang/rust/pull/95571.

[2022-04-01 21:40] ehuss commented on #95513
I think it would be fine to close this. I think the same solution for #57274 would cover this, and I don't see a way to address this particular situation separately.

[2022-04-01 22:07] BGR360 opened #95574 "`E0502` diagnostic missing help text when using `IndexMut` instead of `.get_mut`."
Given the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9a1ad0ab998599f2f1ad9d863dd790e9)):

[code]

The current output is:

[code]

When you use `.get_mut` instead, you get a helpful hint advising you to extract the immutable borrow to a local variable ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=be33a