[2020-12-04 12:26] nagisa commented on #62256
`compiler_fence`'s only purpose is to prevent reordering of reads and writes by the compiler itself. OoO execution at hardware level is entirely out of scope as far as this barrier is concerned.

[2020-12-04 12:38] yupferris commented on #79671
Good to know, I will see if there's some kind of partitioning I can do.

Indeed this helped a bit - with the memory workaround in, a full compile takes ~60s on my system. With type annotations on top of that, it drops to ~50s. Hopefully I can come up with a graph partitioning scheme that allows generation of smaller functions to try and work around these scaling issues.

[2020-12-04 12:47] lenary commented on #62256
It's not clear to me that the C++ version does exclude OoO execution, even though the rust definition does, but I'm happy to follow that GCC leaves out the fence for RISC-V when compiling `atomic_signal_fence`. I hope to have a patch ready today, which will introduce a cross-target way of doing this, rather than the ad-hoc single-target ways of implementing compiler barriers that have been impleme

[2020-12-04 12:55] matthiaskrgr opened #79699 "ICE: #[rustc_variance] on trait: asked to compute variance for wrong kind of item"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-04 12:59] matthiaskrgr commented on #79699
The ICE happens on stable as well, for some reason.
( I do get a  ` '#![feature]' may not be used on the stable release channel` warning though)
Versions as early as `1.44` crash, I didn't dig any further.

[2020-12-04 12:59] jnicholls commented on #31436
Like @steveklabnik, I am constantly doing IIFE to simulate try blocks. Thank you all for considering the prioritization of this feature.

[2020-12-04 13:03] matthiaskrgr commented on #79669
I guess the original code (which triggers the ice) got changed. I found this by running todays rustc on the testcases from a couple of versions/years ago. :)

[2020-12-04 13:10] matthiaskrgr commented on #79699
@rustbot modify label +regression-from-stable-to-stable

[2020-12-04 13:20] m-ou-se commented on #68125
I personally prefer the name `reduce`, for the same reason as stated in https://github.com/rust-lang/rust/issues/68125#issuecomment-650571847: Although related, `fold` and this function are fundamentally different. `fold` folds all the elements into a variable that could be of any type (e.g. it could be collecting integers into to a String), which doesn't have to be a reduction. `reduce` reduces t

[2020-12-04 13:29] rylev commented on #79658
@rustbot claim

[2020-12-04 13:53] CreepySkeleton opened #79700 "Why dyn trait + Sized doesn't work"

[2020-12-04 13:53] #79700 closed

[2020-12-04 13:57] varkor commented on #79557
Fixing this requires essentially the same strategy as fixing https://github.com/rust-lang/rust/issues/66615 (and, to a lesser extent, https://github.com/rust-lang/rust/issues/77773).

[2020-12-04 14:03] CreepySkeleton opened #79701 "Allow dyn trait + Sized"
I would expect this code to work:

[code]
[code]

I realize that trait objects don't work with multiple traits because of complications with multiple vtables. `Sized` is also technically not an auto trait, but for all intends and purposes here (no methods in Sized - no vtables) it should be equivalent to `Send` or `Sync` or whatever.

A somewhat more realistic example:

[code]

[2020-12-04 14:05] jonas-schievink commented on #79701
`dyn Trait` can never be `Sized`, so this can't be made to work

[2020-12-04 14:07] jyn514 commented on #79560
@petrochenkov , @Aaron1011, do you have suggestions for the correct fix?

[2020-12-04 14:07] CreepySkeleton commented on #79701
Oh right.

[2020-12-04 14:07] #79701 closed

[2020-12-04 15:03] petrochenkov commented on #79701
@jonas-schievink

With https://github.com/rust-lang/rfcs/pull/2027 accepted the requirement `dyn Trait: Trait` is no longer mandatory.

It makes very much sense to support `dyn Sized` because the traits in `dyn Trait + ...` are traits implemented by its underlying type, not by `dyn Trait + ...` itself, and the underlying type of `dyn Trait + ...` is always `Sized` currently.

[2020-12-04 15:48] vext01 commented on #79661
I'm getting this on ykrustc too. We last synced with upstream rust on December 3rd.

It only seems to happen on an incremental build (i.e. not on a fresh build). I was able to trigger the error by adding more and more `dbg!("x")` lines and rebuilding until it crashed.

[2020-12-04 16:07] jonas-schievink commented on #79701
I see, that makes sense, yeah.

[2020-12-04 16:09] drahnr opened #79702 "ICE: "unwrap called on None" during futures 0.1 -> 0.3 migration"
I tried this code:

[code]

[code]

I expected to see this happen: `rustc` completing with errors

Instead, this happened: `unwrap` on a `None` value

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-12-04 16:12] wesleywiser commented on #79661
cc @Aaron1011 It looks like we're seeing some regressions from #74967

[2020-12-04 16:20] Aaron1011 commented on #79560
This results from the fact that the `HashStable` implementation for `SyntaxContext` ignores ids (`SyntaxContext` and `ExpnId`), instead (recursively) looking at `SyntaxContextData` and `ExpnData`. This allows the stable hash to remain stable across compilation sessions (where we may end up with different `SyntaxContext`/`ExpnId` values, due to importing hygiene information from other crates).

Unf

[2020-12-04 16:23] ksf commented on #46500
I just bumped into this issue myself.

As jsgf says it's good to have a way to ensure and document an invariant, however, in this case I think we could and should go further: A `proven_unreachable()` macro that emits a warning if, and only if, rustc can't prove that the code indeed is unreachable. The current lint could then point the user there if it hits an unreachable `unreachable!()`.

[2020-12-04 16:39] petrochenkov commented on #79560
`DefPath`s have a `disambiguator` counter for this purpose, perhaps such counter can be added to `ExpnData` as well, using `orig_id` to detect differences, for example.

[2020-12-04 16:40] oli-obk opened #79703 "Tracking Issue for `const_cell_refs`"
This is a tracking issue for the feature gate `#![feature(const_cell_refs)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions, or bug reports about a feature.
Instead

[2020-12-04 16:41] oli-obk commented on #79690
cc @rust-lang/wg-const-eval

[2020-12-04 16:59] ijackson opened #79704 "Tracking Issue for IntoInnerError::into_parts etc. (io_into_inner_error_parts)"
This is a tracking issue for `std::io::IntoInnerError::into_parts` and `::into_error`.
The feature gate for the issue is `#![feature(io_into_inner_error_parts)]`.

### Public API

- https://doc.rust-lang.org/nightly/std/io/struct.IntoInnerError.html#method.into_parts
- https://doc.rust-lang.org/nightly/std/io/struct.IntoInnerError.html#method.into_error

### About tracking issues

Tracking issues

[2020-12-04 17:08] Aaron1011 commented on #79661
I'm not able to reproduce this locally.

@bjorn3 Could you try to write a script that reproduces this crash with `rustc_codegen_cranelift`?

[2020-12-04 17:19] jyn514 commented on #79661
@Aaron1011 can you reproduce it using clippy? https://github.com/rust-lang/rust/issues/79661#issuecomment-738357285

[2020-12-04 17:20] Aaron1011 commented on #79661
I managed to reproduce this using https://github.com/cloud-hypervisor/cloud-hypervisor/pull/2032

[2020-12-04 17:29] petrochenkov commented on #79624
Right, closing as not-an-issue.

[2020-12-04 17:29] #79624 closed

[2020-12-04 17:35] jyn514 commented on #79702
This is using 1.46.0. Does the same issue occur on nightly?

[2020-12-04 17:39] SNCPlay42 commented on #74072
It looks like #78164 will fix this completely.

There's still room for improvement around closures (they still highlight the closing brace of the block, and it would be nice to use consistent "let's call this..." language in all cases) but these might be appropriate for separate issues (they also aren't specific to async closures).

[2020-12-04 17:43] Xanewok commented on #79407
@calebcartwright Racer is updated and published as [v2.1.41](https://crates.io/crates/racer/2.1.41). Should we wait until rustfmt-nightly is released or should I already bump versions in RLS?

[2020-12-04 18:15] CraftSpider commented on #79669
Yep, the test case was changed as part of the original PR. I didn't think to add the trait case to the new test, I've fixed that oversight (And one or two other possible cases) in the fix.

[2020-12-04 18:36] calebcartwright commented on #79407
@Xanewok - I'm actually going to cut a v1.4.29 release for rustfmt that contains some additional things we were able to get merged in the interim. Unfortunately I still don't have access to publish to crates, but will send a PR to RLS with the bumps after i finish in the rustfmt repo

[2020-12-04 18:36] #71395 closed

[2020-12-04 20:04] jsgf opened #79708 "Miscompilation root-caused to llvm bug"
We have some internal code which crashes with a segmentation fault. There was no unsafe code anywhere near the calling site, so this was unexpected. When analyzed it turned out to be an invalid stack access in the generated code. Unfortunately we could not reduce this to a compact reproducer. So far as we know there's only one instance of this bug affecting generated code in our codebase, but we h

[2020-12-04 20:08] yupferris commented on #79671
FWIW it's actually pretty easy to reproduce with a dumb generator like this:

[code]

This generates a .rs file that can be included as a module in another project and even if it's unused, compilation will scale poorly as in the original provided project(s).

[2020-12-04 20:10] modiking commented on #79708
FYI I have it reduced to the newly added test case here: https://reviews.llvm.org/differential/changeset/?ref=2303082. It's a latent bug that has existed since https://reviews.llvm.org/D7490 so most likely 1.47.0 just exposed inputs that trigger it.

[2020-12-04 20:11] jsgf commented on #79708
@modiking 2015!

[2020-12-04 20:16] modiking commented on #79708
Yeah haha. As https://github.com/rust-lang/rust/issues/54878 and other bugs have shown the !noalias attribute on arguments only manifests in C++ via `restrict` pointers. So optimizations and analysis here are not heavily stressed in C++. However, from what I can tell based on rust safe code 'restrict' is implied for all arguments which is exposing this to production scale effects.

[2020-12-04 20:19] nikic commented on #54878
For the record, I did try to test the last patch set, but ran into https://reviews.llvm.org/D68484#2372356, which is pending a fix in https://reviews.llvm.org/D91250.

[2020-12-04 20:22] nikic commented on #54878
Also for the record, https://reviews.llvm.org/D90104 has a target fix for the loop unrolling bug. However, the current plan is for Jeroen to split out the `noalias.decl` part of the full restrict patch set, so we can fix this more accurately (i.e. retaining more optimization power). I hope that part will be ready for LLVM 12.

[2020-12-04 20:29] JohnTitor commented on #72793
Because of #78410, dropped `E-needs-test`.

[2020-12-04 21:04] PatchMixolydic commented on #79652
Incidentally, placing just an identifier in the braces (without the field name) produces a clearer diagnostic, which may also be useful in the case presented in the report:
[code]
[code]

Using `0` directly as the suggestion in the report suggests (without binding the field to a valid identifier like in the above comment) causes an error, as one might expect:
[code]
[code]

I'd posit that using th

[2020-12-04 21:22] camelid commented on #79658
Nominating for T-lang T-compiler: is this intended language design or was it an oversight when implementing the parser?

[2020-12-04 21:35] petrochenkov commented on #79658
It's intended in the sense that qualified paths `<Foo as Bar>::Baz` are so useless in
- struct expression,
- struct pattern, and
- tuple struct pattern

contexts that nobody ever bothered implementing them.

Name resolution and type checking support for associated items in these positions was implemented in late 2016 (https://github.com/rust-lang/rust/pull/37035), starting from that point the surf

[2020-12-04 21:46] camelid commented on #79699
@rustbot glacier "https://gist.github.com/rust-play/b841b10d5b257ef0bb1c72e8ce722c6e"

[2020-12-04 22:20] rust-highfive opened #79709 "`miri` no longer builds after rust-lang/rust#79286"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#79286, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @TimDiekmann, do you think you would have time to do the follow-up work?
If so, that would be great!

[2020-12-04 22:41] camelid commented on #79699
@Stupremee Why did you remove `requires-nightly`? I know that the ICE occurs on stable, but you need the feature flag (and thus nightly) to actually *use* it.

[2020-12-04 22:41] camelid commented on #79699
Assigning `P-medium` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379699.20ICE.3A.20.23.5Brustc_variance.5D.20on.20trait.3A.20asked.20.E2.80.A6) in the prioritization working group.

[2020-12-04 22:43] Stupremee commented on #79699
To reproduce the ICE you don't need nightly and thus I thought it's wrong. Correct me if I'm misunderstanding the `requires-nightly` label

[2020-12-04 22:47] GuillaumeGomez opened #79710 "Add syntax extension to add warning blocks"
Following https://github.com/rust-lang/rust/pull/79677, we realized that rustdoc users would prefer to have a syntax extension rather than using plain HTML to have warning blocks.

@dtolnay suggested the following:

[code]

@Darksonn suggested:

[code]

What do you think?

cc @rust-lang/rustdoc

[2020-12-04 22:48] camelid commented on #79699
TMK, we use `requires-nightly` if it requires a nightly feature. I guess what I'm saying is: you *can* produce on stable, but it doesn't affect stable code because to actually use the code you need to be on nightly. But I think it's fine to be more cautious in this case and not use `requires-nightly`. So it's fine :)

[2020-12-04 22:49] ethanboxx opened #79711 "Tracking issue for `array::try_map`"

[2020-12-04 22:51] tmandry commented on #72956
No problem. It definitely seems challenging. Feel free to drop by the [Zulip stream](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async-foundations) if you want to talk something out.

[2020-12-04 22:53] Aaron1011 commented on #79661
I've fixed the isusue locally, and I'm working on a PR.

[2020-12-04 22:55] m-ou-se commented on #79709
@camelid Oops, race condition! Noticed you self-assigned this right as I sent a PR for this. ^^

[2020-12-04 22:56] CraftSpider commented on #79710
Personal Opinions:
The first style will look fine for short forms, but I'm not sure for longer text. A possible syntax:
[code]
Which to me pushes the text too far right. Not having any spacing, but just separating with newlines, seems hard to parse at a glance what is part of the WARNING, and prevents multiple line breaks inside the warning. Also, it's not as extensible. INFO can be added, but if

[2020-12-04 22:57] camelid commented on #78078
This is an old issue that has been resolved.

[2020-12-04 22:57] #78078 closed

[2020-12-04 23:00] camelid commented on #79710
I think I agree with `@CraftSpider` in preferring the second form. I like the first form's simplicity, but it also seems surprising that `WARNING:` is treated as a 'keyword' and will change the formatting of the docs.

[2020-12-04 23:02] GuillaumeGomez commented on #79710
That's why we have this debate. :stuck_out_tongue:

[2020-12-04 23:12] TimDiekmann commented on #79709
You can assign me if needed.

[2020-12-04 23:18] ethanboxx commented on #22639
Should be easy to do. I will probably open a PR with that soon so people discuss it.

[2020-12-05 00:08] is8ac opened #79714 "rustc hangs and leaks memory"
In stable, `rustc 1.48.0 (7eac88abb 2020-11-16)`, `rustc demo.rs` promptly returns `overflow evaluating the requirement` and exits. This is expected behavior.

In nightly, `rustc 1.50.0-nightly (5be3f9f10 2020-12-03)`, `rustc demo.rs` hangs indefinitely, using 100% of one core. Memory usage fluctuates but tends to grow over time at ~800 MB per minute on my machine.

### Source

[code]

`rustc --ve

[2020-12-05 00:11] sfackler commented on #78485
@DrMeepster are you still working on this?

[2020-12-05 00:34] jhpratt commented on #65512
Here's something that I just ran across: the only `Debug` imported is the derive, not the trait. I don't know if it needs to be edition-specific, butt it's something worth considering.

[2020-12-05 00:34] DrMeepster commented on #78485
Yeah, I am. Although I'm currently working on #79607 because I needed it for this.

[2020-12-05 00:34] JohnTitor commented on #79714
This happens on beta as well.

[2020-12-05 00:52] JohnTitor commented on #79714
The regression introduced between `nightly-2020-10-06` (a1dfd2490a6cb456b92e469fa550dc217e20ad6d) and `nightly-2020-10-07` (98edd1fbf8a68977a2a7c1312eb1ebff80515a92)

Possible culprit PRs: #77606, #73905 (likely the latter?)

[2020-12-05 01:02] GreenBeard opened #79715 "Unhygenic Rust macros with const"
The following compiles when I believe that it shouldn't.

[code]

The following fails to compile when I believe that it should.

[code]

Edit: Occurs in both Stable, and Nightly.

[2020-12-05 01:15] jonas-schievink commented on #79715
Only local variable bindings are hygienic, so this is expected behavior.

[2020-12-05 01:15] #79715 closed

[2020-12-05 01:20] GreenBeard commented on #79715
@jonas-schievink So it is intentional that they are accessible? Is this listed anywhere in the documentation? I had that consts were limited to the scope declared as the following example doesn't work. If you insist it is intentional I find myself perplexed as to why, although I guess I will just add extra braces in my macro as I would in C. *shrug*

[code]

[2020-12-05 01:30] jonas-schievink commented on #79715
Hmm, it seems that it is neither documented in the Rust Book nor the Reference, weird. There's some third-party documentation though: https://veykril.github.io/tlborm/macros/minutiae/hygiene.html

It is very much working as intended for now though. Macros 2.0 will be *fully* hygienic.

[2020-12-05 01:57] ThePuzzlemaker commented on #79694
@rustbot claim

[2020-12-05 01:58] ash2x3zb9cy opened #79716 "more descriptive warning for irrefutable while-let pattern"
Writing a while-let loop for e. g. an event loop triggers a compiler warning:
[code]

There's no error code, and no further information, so it isn't the easiest to investigate as a user.

In my case, I believe it's warning about potentially running an unintentionally infinite/indefinite loop, which in my case is intentional. So my guess would be that I am OK to #[allow] it - at a guess.

I would s

[2020-12-05 01:59] Amanieu commented on #79603
I think this should probably be fixed in `RawVec` itself: a failed shrink should be non-fatal and just keep the old length.

[2020-12-05 02:09] camelid opened #79717 "Ambiguous name error message has weird wording"
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f65bf7e111dd7ac8f3c871058e9b1b72))

Errors:

[code]

The error message says:

But what does it mean by "name vs any other name during import resolution"? I think this should be reworded or even deleted – it doesn't seem to add anything.

[2020-12-05 02:35] ehuss commented on #79716
@ash2x3zb9cy FYI, there is an explanation of the warning at https://doc.rust-lang.org/nightly/rustc/lints/listing/warn-by-default.html#irrefutable-let-patterns.  A `loop` is recommended instead of `while let` to make it clearer that it is an indefinite loop.

I think it would be nice to link to the lint documentation in the compiler output, but there is some uncertainty of how to best go about tha

[2020-12-05 03:09] xixixao opened #79720 "Move after burrow when returning a tuple"
This errors:

[code]
<details><summary><i>Full code, plug into Playground</i></summary>
<p>

[code]

</p>
</details>

with this error:
[code]

but this doesn't:

[code]

<details><summary><i>Full code, plug into Playground</i></summary>
<p>

[code]

</p>
</details>

I guess there could be some explanation why this doesn't act in a referentially transparent way, but it seems pretty confusing.

###

[2020-12-05 03:44] Aaron1011 opened #79723 "`-Z dump-graph` now longer prints def paths since PR #74967"
The changes in PR #74967 ended up breaking the way that we debug-print `DepNodes` with `-Z dump-graph`.
The simplest way to fix this might be to just fall back to the old approach (build a table of all `DefPathHash`es across all crates) when we need to debug-print for `-Z dump-graph`.

[2020-12-05 04:38] in42 commented on #79153
I am little bit not sure where InitLLVM is supposed to be called when using llvm as a library as is being done in rustc. Here is the documentation in `InitLLVM.h`:
[code]
So it is probably meant to called once per process whereas `CodegenCx` is created per thread. Is there anything in `librustc_codegen_llvm` which is not called per thread but is called once as initialization before the threads are

[2020-12-05 05:00] JohnTitor commented on #39704
Triage: highfive on libc now displays the contributing.md on the repo as expected (e.g. https://github.com/rust-lang/libc/pull/1974#issuecomment-724893909).
Also, the rustc-dev-guide, which is the contributing guide of rust-lang/rust, has some mentions about submodules e.g. https://rustc-dev-guide.rust-lang.org/contributing.html?highlight=submodule#external-dependencies-submodules
So I'm going to

[2020-12-05 05:00] #39704 closed

[2020-12-05 05:21] JohnTitor commented on #42172
Triage: The `unused` lint group now contains `unused_extern_crates` and `unused_features`.
[code]

[2020-12-05 05:21] #42172 closed

[2020-12-05 05:39] Eric-Arellano commented on #74773
Hey @matklad, I'd be interested in doing this, but first want to check if it's sensible for a first-time contributor to take this? With checking that it all works, would running through CI be sufficient or you'd want manual testing?

[2020-12-05 07:41] jhpratt commented on #36887
For what it's worth, having a default type parameter on a function would be _incredibly_ useful for what I'm trying to accomplish. I'm currently trying to use typestate to statically guarantee a format description is valid (for the time crate). Part of this is the parsing of the format description; the parsing itself depends on what it'll be used for (this should be inferred). As a component may o

[2020-12-05 09:14] xylix opened #79725 "Nightly - -Zinstrument-coverage makes vendored openssl-sys cause a compiler panic"
### Code

Cargo.toml

[code]
[code]
### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-05 10:12] alper opened #79726 "Not clear what Item and IntoIter are referring to"
![slice - Rust 2020-12-05 11-11-10](https://user-images.githubusercontent.com/72429/101239778-ac8b7580-36ea-11eb-88dc-8003322b30b4.jpg)

Beginner here. This seems to be a core piece of documentation when using iterators and for-loops.

It's unclear what Item refers to here.

Also, it seems that this is the case:

But there is no way to glean that from the documentation.

[2020-12-05 10:17] petrochenkov commented on #79717
The key part here is "during import resolution", any shadowing during resolution of `use` items is prohibited.
I'd personally just remove this restriction - https://github.com/rust-lang/rust/issues/56414.

[2020-12-05 10:21] petrochenkov commented on #77586
Another case where people explicitly wanted disambiguation based on causality - https://github.com/rust-lang/rust/issues/56414#issuecomment-566681447 ("An import should never be ambiguous with itself.").

[2020-12-05 11:39] jonas-schievink commented on #79720
This is working as expected due to the order of evaluation being left-to-right

[2020-12-05 11:39] #79720 closed

[2020-12-05 11:49] matklad commented on #74773
@Eric-Arellano yup, this would be good first issue, especially given that you can do it running only `x.py check` / `x.py test tidy` locally (which is loads faster then the whole test suite).

[2020-12-05 11:58] matklad commented on #65512
Adding `Debug` or `Display` to prelude will probably break some code, as they both share the `fmt` name, so this might add new ambiguities to method selection.

[2020-12-05 12:37] ijackson opened #79731 "Command cannot replumb stdout to stderr"
When running a `Command`, it is often desirable to plumb stdout to the same place as stderr, as if `2>&1` in a shell rune.

Unfortunately, there is no way to do this with `Command` right now without writing `unsafe`, non-portable code.

Really we want to fix this so that you can pass to `Command` anything that implements `AsRawFd`, so probably the right thing would be `std::Process::Stdio::reuse<F

[2020-12-05 13:20] RalfJung commented on #51085
Also see what I [wrote here](https://github.com/rust-lang/rust/issues/78123#issuecomment-737746503).

That example is UB: when you read `*x.value`, that produces a value of type `(u32, !)`, which is UB.

There are two different things in Rust that people call "partial initialization". There's the safe kind that is understood by the compiler:
[code]
Here, the not-yet-initialized parts of the data a

[2020-12-05 13:26] ijackson commented on #73131
@rustbot modify labels +T-libs

[2020-12-05 13:41] #79709 closed

[2020-12-05 13:49] DutchGhost commented on #67456
I'd say this ineed should fall under the same feature, as you wouldnt want to have 2 seperate features you need to track for really just one thing. Also I think once https://github.com/rust-lang/rust/pull/79684 has landed, having a `const slice::from_raw_parts` is possible!!

[2020-12-05 13:57] DutchGhost commented on #79690
A previous (now-fixed) ICE with the same error message is https://github.com/rust-lang/rust/issues/72113

[2020-12-05 13:59] leonardo-m opened #79733 "[ER] Add warnings on Nightly for unused features"
This is a diagnostic enhancement request. This code compiles with no warnings on Nightly:

[code]

But I'd like rustc to give a warning that the min_const_generics feature is unnecessary for this program. (Not even Clippy seems to give a warning). The same for all the other unused features.

[2020-12-05 14:03] Nadrieril commented on #51085
I think the question was exactly whether `match x { (v, _) => ... }` counts as only reading the already-initialized data.

Oh, I was starting to fear it wasn't. I this settled enough? Will it stay UB in the future, so that we can allow matching on `(u32, !)` with no branches?

[2020-12-05 14:03] RalfJung commented on #79690
Thanks for the report!

Would be good to get a better backtrace; this one seems to be missing many frames and there are no line numbers.

[2020-12-05 14:11] RalfJung commented on #51085
Well, I think it should (I view the `_` pattern as expressing that the data is read and then discarded), but I don't think this has been explicitly decided.

[2020-12-05 14:18] Nadrieril commented on #51085
Ah, then I'm back to being confused. Shall we continue [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/136281-t-lang.2Fwg-unsafe-code-guidelines/topic/Soundness.20of.20.60exhaustive_patterns.60)?

[2020-12-05 14:28] ehuss commented on #79733
I believe this is a known issue, see #44232.

[2020-12-05 14:33] leonardo-m commented on #79733
OK, thank you, I suspected that.

[2020-12-05 14:33] #79733 closed

[2020-12-05 14:50] SkiFire13 commented on #79726
It's written in the line below:

Do you have any suggestion to make it more clear?

[2020-12-05 15:04] RalfJung opened #79735 ""!" is the only type that is unsafe to raw-ptr-deref into a "_" pattern"
This code compiles:
[code]
The MIR is empty, i.e., no ptr deref happens.

But this does not:
[code]
The MIR is `unreachable;`, i.e., the ptr deref conceptually somehow did actually happen.

That is a very strange inconsistency -- the `!` type is just yet another type, why does it behave differently here?

Curiously, this does not yield any `unreachable`:
[code]

[2020-12-05 15:10] RalfJung commented on #79735
One possible explanation of this behavior is that "it is UB to create a place of an uninhabited type". That would be a rather surprising special case, I think, but I could get behind this since I am actually proposing to similarly treat uninhabites types specially for `&T` validity (see https://github.com/rust-lang/unsafe-code-guidelines/issues/77).

However, under that explanation, the following

[2020-12-05 15:24] RalfJung commented on #71212
@oli-obk Shouldn't that be a separate bug? That has nothing to do with static checks or so, this seems like a codegen issue. `&mut *crate::a::FOO` should return the original pointer.

[2020-12-05 15:41] jyn514 opened #79736 "Compiler suggests dereferencing an else block"
I tried this code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b29e12f4b9dce6cec7c625060832ab20)):

[code]

I expected to see this happen: The compiler suggests turning `b` into `*b`, since `a + 1` is an `i32` but b is a `&i32`.

Instead, this happened:

[code]

If you apply the suggestion, you get another compile error:

[code]

Applying that suggestion ma

[2020-12-05 15:53] RalfJung opened #79738 "Anonymous allocations in statics get duplicated for multiple codegen units"
According to analysis performed by @bjorn3, [this code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2c2b31d59b50ae1eae0a42eb30eaec70) actually leads to *two* allocations containing `42`, i.e., `FOO` and `BAR` point to different things. The linker later merges the two, so the issue is currently not directly observable. However, it [becomes observable when things are mut

[2020-12-05 16:34] ijackson opened #79740 "panic! in `Command` child forked from non-main thread results in exit status 0"
If a panic occurs in a child process forked off by `Command` on a thread other than the main thread, the whole child process exits 0, so it looks like things have worked when in fact they've gone catastrophically wrong.  This seems like a serious error handling bug.

@rustbot modify labels +T-libs +libs-impl

### Steps to reproduce

[code]

### Actual behaviour

[code]

### Expected behaviour

 *

[2020-12-05 16:34] ijackson commented on #79740
@rustbot labels modify +T-libs

[2020-12-05 16:34] ijackson commented on #79740
@rustbot modifylabels +T-libs

[2020-12-05 16:34] ijackson commented on #79740
@rustbot modify labels +T-libs

[2020-12-05 16:38] bitcrazed opened #79741 "Semicolon woes"
## I tried this code:

[code]

## I expected to see this happen:

Compiled successfully

## Instead, this happened:

The following error message was reported by the compiler which was far from helpful:

[code]
To be fair, the compiler does hint that I should've removed the trailing `;` (semicolon), but one only sees this if one reads all the way through the entire error ... which isn't reported in

[2020-12-05 16:41] jonas-schievink commented on #79740
Unwinding from a `pre_exec` callback is probably UB

[2020-12-05 16:41] kpreid opened #79743 "#[should_panic(expected = "")] test passes regardless of panic message"
I was writing a `#[should_panic]` test and I wanted to fill in the specific panic message by using the actual panic, so I wrote code equivalent to

[code]

I expected this to fail with an expected message mismatch. Instead, it passed. Apparently, `#[should_panic(expected = "")]` is treated equivalently to `#[should_panic]`.

### Meta

`rustc --version --verbose`:
[code]

Also reproduces [on Rust P

[2020-12-05 16:46] jonas-schievink commented on #79743
`expected` specifies a *substring* that should be present in the panic message. The empty string is a subset of every string, so this is working as expected.

[2020-12-05 16:47] ijackson commented on #79740
Jonas Schievink writes ("Re: [rust-lang/rust] panic! in `Command` child forked from non-main thread results in exit status 0 (#79740)"):

This isn't documented AFAICT.  There is an extensive discussion of the
strange state in the pre_exec callback but nothing saying one
shouldn't panic.  Furthermore, presumably any panicking bugs in
Command itself (or anything it calls) will have the same effect.

[2020-12-05 16:55] kpreid commented on #79743
Thank you for the clarification. Hopefully the next person confused finds this issue if they didn't check the documentation!

[2020-12-05 16:55] #79743 closed

[2020-12-05 17:21] jyn514 commented on #79741
@bitcrazed I'd say the bug here is that the IDE isn't reporting the full error message; if it had just shown that last line you would have seen the problem almost immediately.

[2020-12-05 17:22] Manishearth commented on #79710
I _personally_ actually prefer stabilizing a CSS class, I think we should do more of that, just because parsing can get annoying. But this is not that hard to parse anyway.

The problem with `WARNING:` is precisely that you can't scope it easily: what if you want to add code blocks? bullet points?

[2020-12-05 17:23] jyn514 commented on #79741
`let foo = 2;` is one statement, not an expression; `let foo = 2` is invalid syntax.

[2020-12-05 17:25] jyn514 commented on #79710
The problem with this is it ties rustdoc to the HTML backend; like I said [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/warning.20sections.20in.20rustdoc.3A.20.2379677/near/218895331) nothing rustdoc currently does guarentees that it will generate HTML from the markdown. Changing that means that to make the JSON backend have the same info, we'd have to add a full H

[2020-12-05 17:27] jyn514 commented on #79710
Also there's not much point to this if it's just a little CSS IMO, you can add that yourself with `--html-after-content` and it will look just as good and be more flexible since you can control the styles yourself.

[2020-12-05 17:29] jyn514 commented on #79710
I'm not a giant fan of the `[[info]]` syntax because it looks odd when rendered by anything other than rustdoc, which I'd rather avoid, one of the major design concerns for intra-doc links was compatibility with other markdown parsers: https://github.com/rust-lang/rfcs/blob/master/text/1946-intra-rustdoc-links.md#standard-conforming-markdown

[2020-12-05 17:31] Manishearth commented on #79710
So, I agree, but I'm not convinced that the warning class _is_ something that needs to be surfaced in the JSON backend as anything special.

Also, bear in mind, HTML is a part of markdown: valid HTML (well a subset of HTML) is valid markdown. Users already can `<div style=foo>`, and they do that in many cases.

Markdown parsers already need to be able to handle HTML. There's nothing new there. Wha

[2020-12-05 17:38] Manishearth commented on #79710
Also, this is incorrect, pulldown absolutely parses HTML. It has to, like I said valid HTML is valid Markdown. It doesn't parse it _thoroughly_, I believe you can mess it up with sufficiently complex HTML, but it parses HTML.

-----

What this changes is subtler: up till now you did not need any particular stylesheet to acceptably render rustdoc markdown from the JSON backend on your own (just use

[2020-12-05 17:42] chengniansun commented on #79690
@RalfJung ,

I updated the backtrace in my first post.

I used rustup to get the latest trunk version, and the one I have been using does not have line numbers.

If there is a flag or configuration for rustup to get rustc binaries with line numbers, I would be happy to change the settings on my testing machine.

[2020-12-05 17:46] SNCPlay42 commented on #79741
In VSCode with the rust-analyzer extension (I assume you're using the "Rust" extension?), the suggestion is also omitted from the error hover text, but *is* offered as a quick-fix. Which perhaps isn't very discoverable if you're not expecting it, but is better.

I'd consider it a bug in whichever extension you're using if it's not displaying the suggestion and just ignoring it entirely.

[2020-12-05 18:21] #79437 closed

[2020-12-05 18:22] SNCPlay42 commented on #79741
It's also unhelpful that annotations are just displayed as `file.rs (LL, CC): message` in the diagnostics's main span's hover text, requiring you to click to see the location it's referring to (and we've lost information about where these spans *end*), rather than all the annotations appearing simultaneously in context like they do in the compiler's text output. And because suggestions are not dis

[2020-12-05 18:25] jyn514 commented on #79741
cc @matklad

[2020-12-05 18:44] SNCPlay42 commented on #79741
IDE issues aside, there could be value in a note like

to explain *why* removing a semicolon would have an effect. This *is* mentioned (`as its body has no tail`) but it's terse and requires you to know what it means by that.

[2020-12-05 18:45] RalfJung commented on #79690
I think getting line numbers requires a debug build of the compiler, so it's not quite as easy as installing something via rustup.

[2020-12-05 18:56] dtolnay commented on #79710
I do not agree that this is a problem. I've used Phabricator's implementation of this approach happily and it is by design that warning banners are one paragraph. It is not the intention that you would put entire sections of documentation into a warning banner. They are for a brief callout. It's fine to refer to a subsequent *section* of the documentation *from* the callout if needed.

I suppose t

[2020-12-05 19:01] ehuss commented on #79741
FWIW, this is what it looks like in Sublime:
<img width="663" alt="image" src="https://user-images.githubusercontent.com/43198/101260669-210fe580-36e6-11eb-8585-d79946cde6a1.png">
Which I think makes the suggestion very clear.  Many people hate inline diagnostics like this, though.  VSCode (and also IntelliJ) chose a less invasive approach to showing diagnostics, which unfortunately means the enti

[2020-12-05 19:15] Aaron1011 commented on #73734
I think this would make a good first issue for someone looking to get started contributing. I'd be happy to mentor anyone who wants to work on this.

[2020-12-05 19:22] mibac138 commented on #79736
@rustbot claim

[2020-12-05 19:30] shreepads opened #79744 "`overflowing_literals` error is confusing because of type inference"
While experimenting with the Rust By Example playground on the Inference section at https://doc.rust-lang.org/stable/rust-by-example/types/inference.html I came across what I believe is an error in the error produced by the compiler.

I do not expect this example to work but the error `literal out of range for 'i8'` is reported against line 4 `let e2 = 230;` which is a perfectly valid statement. T

[2020-12-05 19:33] jonas-schievink commented on #79744
`e2` also has type `i8`, because you push it onto the same `Vec` as `elem`, so the error message is correct – the literal *is* out of range for the target type `i8`

[2020-12-05 19:40] skejeton opened #79745 "Cast into constant-value generic parameter type causes rust compiler to crash"
### Code

Code that makes compiler crash
[code]

passed into

[code]

declaration of Buffer
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-05 19:46] shreepads commented on #79744
While that is true (and as I mentioned, I do not expect this to work) the problem is the error reported by the compiler doesn't help the user resolve the problem. In a small example like this it's easy to see where the problem lies but in a larger one the compiler error would send the user in the wrong direction.

[2020-12-05 19:51] jonas-schievink commented on #79744
okay, marking as a diagnostics enhancement

[2020-12-05 20:31] camelid commented on #74201
Duplicate of #79437 (as mentioned in https://github.com/rust-lang/rust/issues/79437#issuecomment-738035499), which is now fixed. I confirmed that the particular case in this issue is fixed now too.

[2020-12-05 20:31] #74201 closed

[2020-12-05 20:35] ThePuzzlemaker commented on #79694
Releasing assignment as I'm not really sure how to fix this at the moment.
@rustbot release-assignment

[2020-12-05 20:37] camelid commented on #79726
What do you mean? That's why `Item` is equal to `&'a T`: the *item*s being produced are of type `&'a T`.

[2020-12-05 20:58] camelid commented on #79745
@ishidex2 I tried to reproduce with this:

[code]

But it compiles fine on nightly-2020-12-03. Can you try with nightly-2020-12-03 and see if it works?

[2020-12-05 20:59] camelid commented on #79745
Also, it would be helpful if you could provide some information about what `tele.get_buf()` returns.

[2020-12-05 21:03] camelid commented on #79744
I'm guessing this would be hard to implement since we'd need to somehow track the spot(s) that caused us to infer a particular type.

[2020-12-05 21:07] jonas-schievink commented on #79744
Yes, seems very hard to implement. I think it would be reasonable to close this as wontfix, but I don't work on diagnostics, so I'll deref to other people.

[2020-12-05 21:25] jonas-schievink commented on #79741
Yeah, the IDE part is a UX issue in VS Code – rust-analyzer correctly emits the suggested fix and even marks it as "preferred" if rustc says that it's machine-applicable, VS Code just does not make that prominent enough it seems.

[2020-12-05 21:26] camelid opened #79748 "rustc lint listing code snippets don't have any indentation"
It used to (**on stable and beta**) look like this:

![image](https://user-images.githubusercontent.com/37223377/101265618-c9c93f80-36fc-11eb-9ec0-fac1b738b889.png)

But on **nightly** it looks like:

![image](https://user-images.githubusercontent.com/37223377/101265626-d51c6b00-36fc-11eb-96c6-2f0ff830d960.png)

The source code for the snippet is:

[code]

This is true for other code snippets in t

[2020-12-05 21:28] camelid commented on #79748
cc @ehuss since you're the only one who's touched `lint-docs` since September.

[2020-12-05 21:30] erikdesjardins commented on #79531
This is more-or-less a duplicate of #70230

[2020-12-05 21:37] DavidHusicka commented on #73734
@rustbot claim

[2020-12-05 21:51] Manishearth commented on #79710
So I discussed this a bit with @jyn514 on the side, we agree that the effect on the JSON backend isn't major since HTML is _already_ a subset of markdown and docs use HTML already (especially for images and tables).

My position is as follows:

 - I strictly prefer HTML over some other scoped syntax with nuances people have to learn.
 - I don't think there's as much value in unscoped syntax

which

[2020-12-05 23:56] cynecx opened #79754 "Suboptimal codegen for potential [T; N]::zip()"
Code taken from https://github.com/rust-lang/rust/pull/79451.

[code]

Godbolt (llvm-ir / asm): https://godbolt.org/z/Yq7W98

It seems that llvm is unable to eliminate the memcpys and thus results in suboptimal code.

Also there are dead stores which haven't been eliminated as well:

[code]

A not quite equivalent c++ example produces "optimal" code where no memcpy/dead stores occurs: https://godb

[2020-12-05 23:58] xFrednet commented on #79405
I couldn't find the error message in the clippy code. It's interesting that @ThePuzzlemaker example output contains the type without a specific path. The [Rust Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=855611f02ad974c54ab621de0041c2aa) produced a message with a full path specification like this:

[code]

I found the error message from the output in [diagno

[2020-12-06 00:19] Reconcyl opened #79756 "Integer mismatch incorrectly suggests `T::from()` as LHS of assignment"
I tried the following code ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=55fcd9c90df541cf79fa5883f3676d9b)):

[code]

I expected the compiler to recommend using `b.try_into().unwrap()` to convert it into a `u8`. This seems to have been the case [in version 1.37.0](https://tio.run/##S0oszvj/v6i0uCRZQVe3LLWoODM/jys5sUTBxsbV303BLjcxM0@vqJgrLU8BxNTQVKjmUgCC

[2020-12-06 00:37] cfsamson commented on #79681
@tmiasko Thanks for pointing that out. Most recent nightly does indeed give a descriptive error instead of throwing a segmentation fault.

[2020-12-06 00:37] #79681 closed

[2020-12-06 01:15] #79598 closed

[2020-12-06 02:47] bbarker commented on #57563
Would it be helpful to have a sub-tracking issue related to const-ifying eligible stdlib functions? Would this be something a Rust newbie could perhaps work on? If so I'm interested.

[2020-12-06 02:54] Lokathor commented on #57563
I don't believe that there is an issue for the concept in general. I think that you just put in the PR for a function to become nightly const, and then later if it seems good it can be made stable const with sign off by T-libs.

[2020-12-06 04:13] shreepads commented on #79744
I think the inference/ diagnostics logic in the compiler is already able to track the correct spot and what I've reported is probably an unhandled edge-case, because if I replace `let e2 = 230;` with `let e2 = 230.0;` the compiler produces a much better (expected) error diagnostic.

**Code**

[code]

**Error Output**

[code]

[2020-12-06 04:22] camelid commented on #79744
Unfortunately, I don't think that's the case.

In the first example, all the compiler knows is that `e2` is an integer, so when it sees you push it into what it's inferred to be a `Vec<i8>`, it says "OK! I guess `e2` must be an `i8`". Then, you get an error that is **not a type error** that `230` is to big for `i8`.

However, in the second example, it knows that `e2` is a *floating-point number* a

[2020-12-06 04:28] camelid commented on #79744
Now that I've thought about this some more, I think this would be extremely hard to fix for not a ton of gain. The issue is that this error is not even coming out of the type-checker; it comes from `rustc_mir_build`, which is after inference has finished.

[2020-12-06 04:30] mark-i-m commented on #57563
There are these, which are a bit specific:
- https://github.com/rust-lang/rust/issues/53718
- https://github.com/rust-lang/rust/issues/72440

[2020-12-06 04:42] camelid commented on #79744
Reposting [my idea from Zulip](https://rust-lang.zulipchat.com/#narrow/stream/147480-t-compiler.2Fwg-diagnostics/topic/issue.20.2379744/near/218968659):

Perhaps we could store something in the `TyCtxt` or `Sess` that maps every AST node to its "inference source". There would be a struct `InferenceSource` that would hold the spans that caused this node to be inferred to be a particular type:

[cod

[2020-12-06 04:42] camelid commented on #79744
I'm not sure how feasible that is, but seems potentially possible.

[2020-12-06 04:45] camelid commented on #79744
One thing we'd need to figure out is when and how much to show of the inference-source stack. In some situations, it may not be helpful, and in others it may be too much information.

[2020-12-06 05:29] shreepads commented on #79744
This had me confused for a bit as well, i.e. I'm first pushing e2 onto the Vector so I thought it would infer it to be `Vec<i32>` and then complain about adding the `i8` but I guess the inference engine builds some kind of constraint model and uses the `i8` even though it is pushed second because the `e2` literal is not explicitly typed.

I experimented with `let e2 = 2300;` and `let e2 = 2300i16;

[2020-12-06 05:37] OptimisticPeach opened #79759 "Pre-emptive assumption of inequality while optimizations make equality."
I tried this code:

[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=86e350485394194b0a1f647fb2f2644b)

I expected to see this happen:

Either it would say `a == b` and provide equal addresses, or print `a != b` and provide different addresses.

Instead, this happened:

The playground prints this on December the 6th 2020:
[code]

### Meta
This bug also

[2020-12-06 07:11] jnqnfe opened #79760 "Error wrongly trying to assign assoc const to primitive speaks of methods"
Imperfection in error output.

I just tried adding an associated constant to a type alias of a primitive (to see if it was allowed or whether I'd need a wrapper) and noticed an imperfection in the error output in that it says "help: consider using a trait to implement these methods" pointing to the impl block that actually just contains an constant.

[code]

[2020-12-06 08:08] #79406 closed

[2020-12-06 08:08] #79407 closed

[2020-12-06 09:12] ethanboxx commented on #79760
Minimal code.

[code]

I am going to try to work on this one.

@rustbot claim

[2020-12-06 10:11] jsomedon commented on #78586
Hello folks, can I take this issue? I am kinda new to the community but I want to start contributing. :-)

[2020-12-06 10:22] tmiasko commented on #79740
Trying to catch the unwind seems plausible even if attempting to unwind causes undefined behaviour already. Alternatively the  callbacks could be invoked through a function with `#[unwind(aborts)]` attribute.

[2020-12-06 10:28] #79557 closed

[2020-12-06 11:43] Yepez1997 opened #79761 "Cargo Test on Apple Macbook M1 does not compile and run"
Hi all, for some reason whenever I run cargo test:

**I receive the following compiler message**:

`error: test failed, to rerun pass '--lib'

Caused by:
  process didn't exit successfully: `/Users/xxxxxxxx/Desktop/rustDistributedSytems/kvs/target/debug/deps/kvs-398349f28eabd5b2` (signal: 9, SIGKILL: kill)`

I expect to see the tests show up; however, nothing shows up and rather I get a SIGKILL me

[2020-12-06 12:22] sfackler commented on #79759
Duplicate of #54685.

[2020-12-06 12:22] #79759 closed

[2020-12-06 12:28] dvtkrlbs commented on #79667
I want to work on this but i never contributed to rust-lang before so i need some guidance.

[2020-12-06 12:32] Swatinem commented on #79417
Thanks for pointing me to `SourceMap`.
Indeed it has a method that re-maps lines specifically for doctests:

https://github.com/rust-lang/rust/blob/a68864b68859e5848865bd392ce6d892b16f5cdd/compiler/rustc_span/src/source_map.rs#L417-L429

Just for reference, this was added here: https://github.com/rust-lang/rust/pull/47274 and later passed via unstable env vars here: https://github.com/rust-lang/ru

[2020-12-06 13:26] SmiteWindows opened #79763 "find at fmt code"
thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', compiler\rustc_middle\src\ty\query\mod.rs:235:5
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

error: internal compiler error: unexpected panic

note: the compiler unexpectedly panicked. this is a bug.

note: we would appreciate a bug report: https://github.com/rust-lang/rust-clippy/issues/new

[2020-12-06 13:29] jonas-schievink commented on #79763
Duplicate of https://github.com/rust-lang/rust/issues/79661, presumably

[2020-12-06 13:29] #79763 closed

[2020-12-06 13:45] ElliotSis commented on #79761
Experiencing the same issue here. Running `cargo clean` to do a fresh build after adding a new crate fixes it.

Visual Studio Code with rust-analyzer also wasn’t working, I had to replace the `cargo` command with the following in `settings.json`:
[code]

I think this happens when attempting to run an ARM binary from Rosetta x86 emulation

[2020-12-06 13:46] nagisa commented on #79761
The SIGKILL is coming from mac's codesigning and verification. This is not a Rust or Cargo bug, hence closing.

See [this thread](https://rust-lang.zulipchat.com/#narrow/stream/242906-t-compiler.2Farm/topic/macOS.20build.20scripts.20and.20SIGKILL) and especially [this message](https://rust-lang.zulipchat.com/#narrow/stream/242906-t-compiler.2Farm/topic/macOS.20build.20scripts.20and.20SIGKILL/near/

[2020-12-06 13:46] #79761 closed

[2020-12-06 13:47] Swatinem opened #79764 "Module-level doctests have wrong file/line mapping when module has use-level doctest"
I have a module in an external file.
When I add doctests to both the `pub mod X;` item, and the `X.rs` file, the file-level doctest has the wrong filename/line information.

Consider the following example:

[code]

Running `cargo test`, I get the following output:
[code]

The line `test src\lib.rs - mod_with_both_doctests (line 26)` should actually be `test src\mod_with_file_doctest.rs - mod_with_

[2020-12-06 13:56] nagisa commented on #79725
cc @richkadel

[2020-12-06 14:18] Yepez1997 commented on #79761
removing the potentially old binaries x86_64 using rustup self uninstall + reinstalling from scratch  + running cargo clean fixed the issue

[2020-12-06 14:36] WaffleLapkin commented on #68125
I agree that the `reduce` is the best name so far, but there was a number of opinions, how do we decide?

[2020-12-06 15:00] m-ou-se commented on #68125
@WaffleLapkin I've already nominated this issue for the next libs meeting to make a decision on this. But looking at the 15 :+1: and 0 :-1: (currently at least) on the `reduce` suggestion, we could also just directly kick off an FCP on a stabilization PR that changes the name to `reduce` and see if everyone agrees. :)

[2020-12-06 15:14] LeSeulArtichaut commented on #79683
Looking into this

[2020-12-06 15:16] yupferris opened #79766 "Parens in (very!) long expression cause stack overflow"
The following causes rustc to overflow its stack:

### Code

[code]

Interestingly, removing all parens from the above expression works as expected:

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

Backtrace cannot be provided, as the stack has overflowed.

[2020-12-06 15:25] jyn514 commented on #79766
You can get a backtrace by running gdb (or another debugger).

<details><summary>Backtrace</summary>

[code]

After that it repeats for  17000 more stackframes, then

[code]

</details>

[2020-12-06 15:27] jyn514 commented on #79766
That said, I think this is kind of expected behavior in that I don't think there's a way to avoid recursion on parentheses without switching away from a recursive descent parser to something auto generated, which would hurt diagnostics a lot.

[2020-12-06 15:58] yupferris commented on #79766
I would have expected the compiler not to overflow its stack on any input (which is why I'm reporting in the first place), but I can certainly understand/accept if the compiler team decides it's not practical to make that happen due to current implementation details (either for the time being, or forever), especially for these kinds of (admittedly synthetic) cases that I'm generating to smoke out/

[2020-12-06 16:07] hyd-dev commented on #77217
I also encountered this bug, and if I add `#[allow(unused_lifetimes)]` on the `async fn` (*instead of* the `impl`), the warning disappears, in both my code and [the code of this issue](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=633ed7166511e7c93a68214f5e55a94b).
I also read #78522. Is that the same bug? The warnings are both fired on the `async fn` itself.

[2020-12-06 16:13] imjasonmiller commented on #68125
I have no experience with Kotlin or Scala, but coming from JavaScript, the name [`reduce`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/reduce) is clear to me and I assume to many others as well. One of my [first questions](https://discord.com/channels/442252698964721669/448238009733742612/687016813875560522) in the Rust Discord was about this method's fun

[2020-12-06 16:23] jyn514 commented on #79766
Actually now that I think about it, maybe we could use https://docs.rs/stacker/0.1.12/stacker/fn.maybe_grow.html for the parser as well as the query engine?

[2020-12-06 16:53] yupferris commented on #79766
Ah, I hadn’t seen this crate before, interesting!

[2020-12-06 17:01] hameerabbasi commented on #77880
Ah, I recall what happened here. Here's the Zulip stream: https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async-foundations/topic/Picking.20up.20issue.20.20.2377880

Basically, I wasn't familiar enough with the internals of the compiler to fix this, unfortunately.

[2020-12-06 17:04] hameerabbasi commented on #77880
I'm willing to work on this, but I'll unassign myself so it's more discoverable.

@rustbot release-assignment

[2020-12-06 17:36] steveklabnik commented on #65212
Triage: not aware of any work here

[2020-12-06 17:37] hameerabbasi commented on #79661
Labelling `P-high` [as discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379661.20thread.20'rustc'.20panicked.20at.20'called.20.60Opt.E2.80.A6).

[2020-12-06 17:39] hameerabbasi commented on #79690
Labeling `P-medium` [as discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379690.20ICE.3A.20compiler.2Frustc_mir.2Fsrc.2Finterpret.2Fv.E2.80.A6).

[2020-12-06 17:57] felixc commented on #68125
Ditto for Python, where it's called [`functools.reduce`](https://docs.python.org/3.9/library/functools.html#functools.reduce). So, to add another point of anecdata, that's the name I went looking for in the docs :)

[2020-12-06 18:04] jagill commented on #68125
`reduce` is the clear frontrunner.  I support starting the FCP with `reduce` as the proposed name, and if there are strong objections they can be raised then (the C in FCP!).  It'd be great to get the PRs merged before the next release cut.

[2020-12-06 18:11] jonas-schievink commented on #79741
rust-analyzer/rust-analyzer#6734 now works around the UX issue and emits diagnostics for *every* highlighted span in the rustc diagnostic

[2020-12-06 18:18] bjorn3 commented on #55741
The only dylib only crates left are `rustc_driver` and `rustc_codegen_cranelift`.

https://github.com/rust-lang/rust/search?l=TOML&q=crate-type+%3D+%5B%22dylib%22%5D

`rustc_codegen_cranelift` must always be built as dylib, as it can't be loaded at runtime otherwise. Making `rustc_driver` available as `rlib` will cause many tools to accidentally build against it as static lib, which shouldn't norm

[2020-12-06 18:36] jonas-schievink commented on #34043
Closing as fixed. Please let us know if this is still an issue.

[2020-12-06 18:36] #34043 closed

[2020-12-06 18:37] jonas-schievink commented on #79373
Closing this, as the PR has already been reverted and approved for stable-backport. Whether a stable patch release happens is still unclear though.

[2020-12-06 18:37] #79373 closed

[2020-12-06 18:44] the8472 commented on #79308
Inserting one loop deletion pass directly into `PassManagerBuilder::addFunctionSimplificationPasses` also results in the branchless version without having to change target-cpu or adding additional other passes.
So I assume that the other passes are only needed due to the way that `-Cpasses` works.

[2020-12-06 19:10] RalfJung commented on #79690
Here's a backtrace with debug info:

<details>

[code]

</details>

[2020-12-06 19:11] RalfJung commented on #79690
Unfortunately, this bottoms out [here](https://github.com/rust-lang/rust/blob/d577c535b4fac58c63c850b97d45b66993c6df3d/compiler/rustc_mir/src/interpret/validity.rs#L918); more digging will be needed to determine the true underlying cause of the error.

[2020-12-06 19:29] Sawchord opened #79768 "Internal Compiler Error caused by Generic Associated Types"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-06 19:42] felixc commented on #68125
Would this also be the place to leave comments/questions on the API and usage?

I'm wondering if I'm missing something obvious (I'm a beginner!), but since the closure takes `Self::Item` (_not_ a reference!), but `.iter()` seems to produce _references_, does that mean every `fold_first` invocation currently needs to be preceded by `.cloned()` (and incur that cost) if the iterated type can't be cop

[2020-12-06 19:49] MauriceKayser opened #79769 "Modules in doc-tests can not access types in super/crate module"
I probably am just using doc-tests wrongly, but I have come across a "type not found" problem using modules in doc-tests that seems rather odd to me, because it compiles in normal code without complaining:

[code]

[code]

When using the same code (without `main`) in doc-tests with `cargo test`, only the first snippet passes the test:

[code]

[code]

The second snippet fails with the following me

[2020-12-06 20:16] Swatinem opened #79771 "Rustdoc creates doctests with `extern crate mod;`"
In #79770 I tried to create a new `rustdoc-ui` testcase that runs doctests. However having the `mod` substring in a doctest comment injected an invalid `extern crate mod;` into the code generated for the doctest.

Turns out this here is a bit too aggressive:

https://github.com/rust-lang/rust/blob/0f6f2d681b39c5f95459cd09cb936b6ceb27cd82/src/librustdoc/doctest.rs#L533-L534

It looks like compilete

[2020-12-06 20:19] ehuss commented on #79769
It doesn't work because doctests wrap the entire example in `fn main() { ... }`.  Functions themselves don't introduce a new namespace in the module hierarchy, so the `super` is referring to the module scope *outside* of the main function.  #79260 is a similar issue.

The solution is to add a main function:

[code]

[2020-12-06 20:22] #79769 closed

[2020-12-06 20:51] frazerk commented on #34701
Hello all,

Thanks for this! I've been experimenting with it for a few days, and it's working well. I've had a couple of issues, however, and I figured it was best to mention them here, just in case I should file bugs or feature requests.

First, is there any way to exclude the tests themselves from the coverage report? In tests that give a message to `assert!` macros (e.g. `assert_eq!(sut(), "tes

[2020-12-06 21:07] camelid commented on #79714
Assigning `P-high` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379714.20rustc.20nightly.20hangs.20and.20leaks.20memory) in the prioritization working group.

[2020-12-06 21:08] camelid commented on #79748
Assigning `P-high` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379748.20rustc.20lint.20listing.20code.20snippets.20don't.20.E2.80.A6) in the prioritization working group.

[2020-12-06 21:15] camelid commented on #79766
I think this should probably be closed as `wontfix`. Unless there's a real-world use case for extremely-deep nesting of parentheses, I don't think it's worth it to try to mitigate this.

[2020-12-06 22:11] tech6hutch commented on #68125
@felixc while this doesn't solve your situation, I'd just like to point out that your function already creates a new HashSet on every iteration, when you take the intersection, so a more efficient solution wouldn't use fold_first anyway.

[2020-12-06 22:25] nagisa commented on #79766
Compiler internals already have https://doc.rust-lang.org/nightly/nightly-rustc/rustc_data_structures/stack/fn.ensure_sufficient_stack.html. Not sure if it can be used in the parser (i.e. if `rustc_parser` can depend on `rustc_data_structures`), but yeah we do support deeply recursive inputs like these, we just haven't annotated all of the locations in the compiler with `ensure_sufficient_stack`.

[2020-12-06 22:25] Swatinem commented on #79417
https://github.com/rust-lang/cargo/pull/8954 is a change to cargo that should make rustdoc use the correct filenames for workspace crates. I think that will solve the filename problem, although I haven’t tested that directly yet.

[2020-12-06 22:51] jyn514 commented on #79771
I think rustdoc needs to check if the crate name is a keyword and add `r#` if so. Actually it's probably enough to unconditionally add `r#` since it works for things that aren't keywords.

[2020-12-06 23:15] Eric-Arellano commented on #74773
Thanks @matklad! I got it set up and am making progress.

FYI: one thing I'm encountering a lot is a difference in API, that `split_once` models a missing value as `""` whereas `splitn(2)` as `None`. The call sites do seem to care about the empty string case, so I'm in most places wrapping like this:

[code]

(As discussed in https://internals.rust-lang.org/t/pre-rfc-none-if-string-is-empty/6742,

[2020-12-06 23:35] Nadrieril commented on #78057
I gave it more thought, and the correct approach seems instead to not even start exhaustiveness checking if `const_to_pat` emits an unrecoverable error.

[2020-12-07 00:16] petrochenkov commented on #73494
A simple machine learning model could assist this task well.
Putting a test into one of N subdirectories is a typical classification task.

My knowledge in this area is outdated by about 10 years, but here's one suggested solution
- Each test is represented as a [bag of tokens](https://en.wikipedia.org/wiki/Bag-of-words_model) + their bigrams and trigrams.
- A classifier is trained on existing sub

[2020-12-07 00:33] BartMassey commented on #68125
@tech6hutch, @felixc I think the fundamental problem here is with `HashSet::intersection()`, not with `fold_first()` (which will now be called `reduce()`, apparently). It would be really nice if sets provided `Set::union_with(&set)` and `intersect_with(&set)` and `difference_with(&set)` that took owned `self` and returned a modified `Set`.  In my experience, that is a pretty common thing to want t

[2020-12-07 00:45] petrochenkov commented on #73494
cc @Eh2406 on the previous comment.

[2020-12-07 01:23] scottmcm commented on #78586
@jsomedon Absolutely!  Unfortunately I don't really know the code here, so don't have suggestions for where to start, but you could always try tracing through the code around `non_exhaustive` and dropping by zulip if you run into any trouble.

[2020-12-07 02:31] jacobchrismarsh commented on #68125
Another solution to this would be to use `into_iter` as opposed to just `iter` to take ownership of the values.

 I also stumbled onto this issue due to Advent of Code, and I'm a firm proponent of `reduce`. As mentioned above, that's the common terminology across several languages (scala, python, javascript, kotlin). This feature also matches the functionality in the aptly named ["reduce" crate](h

[2020-12-07 02:49] calebzulawski opened #79778 "Inconsistent bound requirements on arrays with generic sizes"
I'm working on integrating const generics into `stdsimd`.  We want to support two types of bit masks.  The first has an entire mask per lane, e.g.:

[code]

The other type of mask only uses a single bit per lane, e.g.:
[code]
This doesn't work, however, and errors with `error: unconstrained generic constant`.  After finding #68436, I was able to get it working with:
[code]

This seems inconsistent

[2020-12-07 02:50] PaulGrandperrin opened #79779 "ICE on nightly: thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_metadata/src/rmeta/decoder.rs:1565:75"
This is a transient (not sure if it's the correct word) bug.
The code was compiling fine, then I changed the port number of the server ("8081" to "8080"), tried to compile again and got this ICE.

Running `cargo clean` and then `cargo run` works fine.

Nothing special happened in between as far I as know (no toolchain upgrade for instance..)

I made a `tar` of the full directory at the time of the

[2020-12-07 03:01] camelid commented on #79779
@PaulGrandperrin

I think you may have meant "spurious"?

Also, can you check if you can reproduce this issue on stable? Or, if you are using nightly features, can you check if it works on an older nightly? Thanks!

[2020-12-07 03:01] camelid commented on #79779
This makes me think it might be an incr-comp bug, so tagging as such.

[2020-12-07 03:04] ranga2000 commented on #73224
How would we access the i32 value from our match statement?

[2020-12-07 03:08] PaulGrandperrin commented on #79779
that's it!

Unfortunately, I'm really haven't found a way to reproduce from a clean state..
Which is why, when I got the ICE, I precautiously saved all compiler artifacts before touching anything (it's not the first time I hit an incr-comp bug, so now I know what to do ;-) )

[2020-12-07 03:09] camelid commented on #79741
Note that this will set `foo` to `()`:

[code]

When you write a function like:

[code]

That's theoretically equivalent to:

[code]

So it's not inconsistent.

[2020-12-07 03:11] camelid commented on #79735
Should this be nominated?

[2020-12-07 03:12] camelid commented on #79779
Yeah, unfortunately metadata/incr-comp bugs tend to be very hard to reproduce :/

[2020-12-07 03:26] carols10cents commented on #51685
I believe this was fixed by https://github.com/rust-lang/rust/pull/54861; [I can no longer reproduce this](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5bdd2063e0ea19fa3d97c12e57422075).

(I was looking into how rustdoc's `fn main` wrapping works for book reasons and found this issue and that PR :))

[2020-12-07 03:26] #51685 closed

[2020-12-07 03:41] Eh2406 commented on #73494
Not an ML student, nor familiar with the compiler. Was I who you meant to ping?
[Code coverage](https://blog.rust-lang.org/inside-rust/2020/11/12/source-based-code-coverage.html) results for each test would probably make for great features, if we can get it to work. (Did this test run this line of code.)
I'd guess that a simple pca decomposition of that can bring it to a workable number of dimensi

[2020-12-07 03:54] newpavlov commented on #79778
Currently it's an intended behavior (with which I also disagree). See this [comment](https://github.com/rust-lang/rust/pull/79135#issuecomment-729539169) by @oli-obk.

[2020-12-07 04:30] PaulGrandperrin opened #79782 "ICE on nightly: thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_middle/src/ty/query/mod.rs:235:5"
Just like #79779 which I reported a few hours ago, it is a spurious bug, running `cargo clean` and then `cargo run` clears the ICE.
However, it doesn't really look like this bug is related to the one I just reported before.
It also comes from a different crate I'm working on.

### Code

This is some WIP/playground code, please don't judge :-)

[code]

### Meta

`rustc --version --verbose`:
[code]

[2020-12-07 07:13] petrochenkov commented on #73494
(@Eh2406 I just remember you've been talking about being familiar with statistics, not suggesting you to actually implement this.)

[2020-12-07 07:39] WaffleLapkin commented on #68125
@felixc it doesn't need to be produced by `.cloned()`. For `.iter()` iterator, `Self::Item = &'a T`, so `reduce` will work with references just as with any other type.

Compiler is telling you the opposite. `reduce` assumes that the accumulator is equal to the item of the iterator. In this case the `Self::Item = &HashSet<usize>`. So the closure is expected to return a reference too,  but it's impo

[2020-12-07 08:18] DutchGhost commented on #79735
Is this what is happening with https://github.com/rust-lang/rust/issues/77694 ?

[2020-12-07 08:25] RalfJung commented on #79735
@DutchGhost I don't think so, there is no `_` pattern there.

[2020-12-07 08:28] RalfJung commented on #77694
The initial MIR looks like this:
[code]
So probably the issue is that const-checking ignores `FakeRead`?

[2020-12-07 08:38] RalfJung commented on #79690
Here is the actual backtrace of the underlying CTFE/Miri error:

<details>

[code]

</details>

It points to this line:

https://github.com/rust-lang/rust/blob/master/compiler/rustc_mir/src/interpret/validity.rs#L514

`read_scalar` can handle pointer values just fine, so I think what is happening is that we are reading *parts* of a pointer value here, which indeed is not supported in CTFE.

[2020-12-07 08:42] iago-lito commented on #79405
@xFrednet Hm, well, I can't read a full type spec in the error you are showing. See https://github.com/rust-lang/rust-clippy/issues/6385#issuecomment-739766923 ;)

[2020-12-07 09:09] fawdlstty opened #79783 "ICE: 'called `Option::unwrap()` on a `None` value', compiler\rustc_metadata\src\rmeta\decoder.rs:1565:75"
recurrence example:
https://github.com/fawdlstty/Minx/tree/cb0d94e10bb69ec16ba69c7ad33246a22813fbcf
error code:
https://github.com/fawdlstty/Minx/blob/cb0d94e10bb69ec16ba69c7ad33246a22813fbcf/src/services/http.rs#L24

### Code

[code]

### Meta
`rustc --version --verbose`:
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-07 09:16] xfix commented on #74773
The following program:

[code]

Returns the following string:

[code]

Note how the first element is always here when splitting.

[2020-12-07 09:20] oli-obk commented on #79667
Great! So... step 0 is to write `@rustbot claim` as a comment here, this will make sure the issue is assigned to you and noone else tries to tackle it at the same time.

The main change is to remove this function: https://github.com/rust-lang/rust/blob/e5721a5283b52afbf074d3bf13c3e37822278601/compiler/rustc_mir/src/const_eval/machine.rs#L31 entirely without a replacement. You'll then have to adjus

[2020-12-07 09:21] oli-obk commented on #71212
It's indeed a separate bug, but also a blocker for this feature gate

[2020-12-07 09:23] oli-obk commented on #79690
So... I guess the fix is to make this kind of error also be permitted during validation and turn it into a proper validation error?

[2020-12-07 09:24] RalfJung commented on #79690
Permitting it at the top-level is no good, since then we don't know "where in the value" it arose.

We need a version of `read_scalar` that catches this error and turns it into a validation error and prints the current "path".

[2020-12-07 09:30] oli-obk commented on #77694
oh... yea.. we ignored it on purpose... "because it doesn't actually do anything" :upside_down_face:

I guess we should visit all places within statements that we otherwise ignore during const-checking?

[2020-12-07 09:33] RalfJung commented on #77694
Well, at least we need to visit `FakeRead`. ;)

[2020-12-07 09:40] matklad commented on #74773
@Eric-Arellano I think both versions treat the missing value (`"foo="`) as `""`. The difference is how they treat missing separator (`"foo"`, without `=`). One will panic, the other would return `(Some("foo"), None)`.

I don't think we should use `split_once` API for the case where the separator is optional. It will be useful to survey how many cases in rustc require support for optional values, a

[2020-12-07 09:45] xd009642 opened #79784 "Intermittent ICE on rust 1.50 nightly with tarpaulin"
So this seemed to go away after a clean for a few compiles and then came back. Building cargo tarpaulin on nightly, I haven't yet tried to minimise it further as the project hasn't changed so not sure which bit could be responsible for it.

[code]

backtrace:

[code]

[2020-12-07 09:50] jonas-schievink commented on #79778
Yes, this is working as intended

[2020-12-07 09:50] #79778 closed

[2020-12-07 09:57] marcbrevoort-cyberhive opened #79785 "Compiler panic"
All I've got at the moment is
[code]
Further examples in the comments.

[2020-12-07 09:58] catenacyber commented on #34701
@frazerk To get absolute paths for every file, until https://github.com/rust-lang/cargo/issues/5450 or similar is merged, I use `--remap-path-prefix` in `$RUSTFLAGS`
cf https://github.com/google/oss-fuzz/pull/4697/files#diff-fe54775f01d65c2afafd711ef7e68c31192a6f8a8d71dd8e06c62ef25a32e400R26

llvm-cov also accepts some option `-path-equivalence` which might help you

[2020-12-07 10:10] marcbrevoort-cyberhive commented on #79785
[code]

[2020-12-07 10:15] Wafelack opened #79786 "Compiler error on `cargo check`"
### Code

You can find it at : https://github.com/wafelack/virtual-machine

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-07 10:30] SOF3 commented on #79784
I also reproduced this. Removing cargo target seemed to have fixed it.

I ran `rustup update` about 15 minutes ago; before that, my target directory was the output from some 1.49.0 nightly.

[2020-12-07 10:32] xd009642 commented on #79784
I'll try that, I figured cargo clean would be equivalent but maybe not :eyes:

[2020-12-07 10:41] SOF3 commented on #79784
It seemed that this is *not only* related to cache from previous versions. Target from the same version also creates this ICE.

If it helps, I can provide a tgz of my whole workspace. https://filetransfer.io/data-package/TDLy4Bbp#link

[2020-12-07 10:44] oli-obk commented on #79690
Oh... right, we should fix this in general, and not just wrap https://github.com/rust-lang/rust/blob/49720d2b9a0e72772109542dd2d61db70fccc015/compiler/rustc_mir/src/interpret/validity.rs#L514 in `try_validation`. Maybe we should not have any automatic way to bubble up errors and require all sites to use `try_validation`?

[2020-12-07 10:47] oli-obk commented on #78057
How about we introduce a `PatKind::Error` to make these hacky `PatKind::Wild` situations obvious? Then exhaustiveness can just bail out and assume an error has already been reported.

[2020-12-07 10:48] RalfJung commented on #79690
I think we should wrap it but put the wrapped thing into a helper function sow e can also use it for the other places.

So basically, you want to use a different error type for validation, one that excludes all the other errors? I am open to refactorings here.

[2020-12-07 10:51] steffahn opened #79787 "ICE: improper_ctypes: Option nonnull optimization not applied?"
### Code

[code]
Code from playground linked in [this comment](https://zulip-archive.rust-lang.org/213817tlang/71355UnsafeCellTexposesnichesofTshouldit68206.html#185836886). Apparently, since that discussion took place the [`#[repr(no_niche)]`](https://doc.rust-lang.org/nightly/src/core/cell.rs.html#1643) flag got implemented and was added to `UnsafeCell`, yet the code for checking FFI-safety was

[2020-12-07 10:53] GuillaumeGomez commented on #65212
After coming back to this issue after such a long time, I think we should keep the current behavior.

[2020-12-07 10:59] oli-obk commented on #79690
Let's start out with wrapping, and then I can experiment with the refactoring so we can have a look at the usability effect of it

[2020-12-07 11:23] LeSeulArtichaut commented on #79784
This is a duplicate of #79782, so I'll close this issue as such to try to focus investigation there. Thanks for the report!

[2020-12-07 11:23] #79784 closed

[2020-12-07 11:28] Vooblin commented on #77217
@hyd-dev Yes, it is the same bug and I fixed it in this #79689 PR.

[2020-12-07 11:33] Vooblin commented on #78522
@rustbot claim

[2020-12-07 11:33] Vooblin commented on #77217
@rustbot claim

[2020-12-07 11:44] acatangiu opened #79789 "Segfault in 1.47.0 and newer stable when building `firecracker` on `aarch64`"
Hi!

I'm seeing an `aarch64` compilation regression coming from `1.46.0` to newer (`1.47.0`, `1.48.0`).

When building the `mmds` crate of the [firecracker](https://github.com/firecracker-microvm/firecracker/) project, `rustc` fails with `SIGSEGV`.

### Code

[code]

I will try to create an MVE for it when I get the chance.

### Meta

**Works fine**:
[code]
**Crashes**:
[code]
**Crashes**
[code]
*

[2020-12-07 11:53] c410-f3r commented on #78522
@Vooblin Thank you!

[2020-12-07 11:55] #79760 closed

[2020-12-07 12:16] acatangiu opened #79791 "Linker error/regression introduced with rustc 1.48.0 on `aarch64-unknown-linux-musl` target"
Hi all!

First of all congrats on https://github.com/rust-lang/rust/pull/76420! We at [firecracker](https://github.com/firecracker-microvm/firecracker/) are using the `aarch64-unknown-linux-musl` target and are very excited to see it promoted to _Tier 2_.

Unfortunately, while trying to move to 1.48.0 I am encountering a linker error for which I've yet to find a solution. Hope you can help here!

[2020-12-07 12:35] cmichi opened #79792 "rustdoc -D warnings doesn't fail for all warnings"
#### I tried this code:

[code]

#### I expected to see this happen:
The env variable `-Dwarnings` is supposed to make rustdoc treat warnings as errors. For `export RUSTDOCFLAGS=""` the run below outputs only warnings, no errors. For `RUSTDOCFLAGS="-Dwarnings"` I would have expected both warnings to now be errors.

[code]

#### Instead, this happened:
Only one of the warnings is switched to an err

[2020-12-07 12:56] LeSeulArtichaut commented on #79791
Did this work before 1.48.0?

[2020-12-07 13:01] acatangiu commented on #79791
Yes, this works fine with 1.47.0 and lower

[2020-12-07 13:03] laohanlinux opened #79793 "Compiler Error!"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-07 13:03] #79793 closed

[2020-12-07 13:05] bartwe opened #79794 "Using an uninitialized variable gives an unhelpful error message at another location."
I tried this code:

https://gist.github.com/rust-play/4516e8132f712cccdeb6446f665443e5
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=79b0032958962b7672e786fe41268bf0

I expected to see this happen:

Get a compilation error explaining that on line 35 'contains' has not been initialized

Instead, this happened:

line42: error[E0382]: borrow of moved value: `contains`

### M

[2020-12-07 13:06] jonas-schievink commented on #79782
duplicate of https://github.com/rust-lang/rust/issues/79661

[2020-12-07 13:06] #79782 closed

[2020-12-07 13:15] LeSeulArtichaut commented on #79783
@Aaron1011 could this be due to #74967?

[2020-12-07 13:18] tmiasko commented on #79794
Similar issue is tracked in #72649.

[2020-12-07 13:18] jonas-schievink commented on #79794
Yeah this looks like https://github.com/rust-lang/rust/issues/72649, so closing in favor of that

[2020-12-07 13:18] #79794 closed

[2020-12-07 13:19] Nadrieril commented on #78057
There's already code in check_match to track errors and skip exhaustiveness, we could reuse that: https://github.com/rust-lang/rust/blob/2b76c483282f5eae595766fc79ec20818650017e/compiler/rustc_mir_build/src/thir/pattern/check_match.rs#L182
I'll add that to my queue of things to do

[2020-12-07 14:24] jonas-schievink opened #79798 "Renaming builtin attributes does not work, but name resolution thinks it does"
Forgive my sins, but:

[code]

The `#[deny]` still acts as a `#[deny]`, but the import should make it behave like `#[allow]`. No "unused import" lint is emitted, so name resolution thinks that the import has an effect.

[2020-12-07 14:25] calebzulawski commented on #79778
Is this something likely to ever change, or is the behavior expected to stabilize like this?  I'll have to discuss with the rest of the portable SIMD project group but this may preclude a const generic implementation.

[2020-12-07 14:32] petrochenkov commented on #79798
This should be an error, we have a special check for this in resolve.
I'll check why the error is not reported.

[2020-12-07 14:35] LeSeulArtichaut commented on #79652
Also note that this diagnostic gets emitted for any tuple struct, not just enum variants:

[code]

[code]

[2020-12-07 14:45] petrochenkov commented on #79798
Compare with
[code]
[code]
Looks like we just consider all (inert) built-in attributes same during this check.

[2020-12-07 14:48] matklad commented on #73494
Seems like there's a bunch of discussion here and on #79718. I feel rather strongly about this topic, but I also don't have a large stake here, as I don't work with rust-lang/rust test suite on a daily basis.

So I've tried creating a summary document here:

https://hackmd.io/@matklad/Hypu-hosv/edit

[2020-12-07 15:17] oli-obk commented on #79778
I'm still very much in the court of requiring bounds just like we require trait bounds on types before being able to use them beyond moving or otherwise directly forwarding them. This is definitely open for discussion, just like anything, but I'd really prefer it if we stabilized the current version first and thought about convenience extensions second. Ideally any convenience features would also

[2020-12-07 15:23] oli-obk opened #79799 "Some MIR dumps differ between little and big endian"
in #77413 it was noted that MIR dumps in our test suite somtimes differ between little and big endian, making our test suite fail on big endian. This is just about MIR pretty printing.

All that needs to be done is to pull out https://github.com/rust-lang/rust/blob/5ded394553296d56bb66e925d7001ab3271979ce/compiler/rustc_mir/src/util/pretty.rs#L432-L436 into a separate function that returns `true`

[2020-12-07 15:25] oli-obk commented on #79778
Oh, also note that callers who supply concrete integers will not have to do anything, the bound will be evaluated once at the call site and either error or just work if the expression evaluates successfully.

[2020-12-07 15:49] lewis6991 opened #79800 "Unable to build rust on RHEL7 due to GLIBC version"
I can't manage to get rust built on Red Hat 7 (which has `GLIBC==2.17`). I tried installing `GLIBC` from Homebrew/Linuxbrew however the build scripts don't seem to pick it up.

Note: I also get the same error when running `brew install rust` but I don't think it is a brew issue.

[code]

However I got this error:
[code]

### Meta

<details>
  <summary> `lsb_release -a`` </summary>

[code]
</detail

[2020-12-07 15:57] calebzulawski commented on #79778
That's a good point about the `const fn`, though that would still end up with an extra implementation detail in `std`.  That still exposes `[u8; bytes(LANES)]: Sized` or similar which is still very much an implementation detail.  I suppose my question then, why is the bound not required for the first example?  Something like:
[code]

I do understand that it's a bound, but it's unfortunate because

[2020-12-07 16:11] oli-obk commented on #79778
you do not actually need the `Wrapper` in the array here. We currently just have no good way of specifying bounds for constants, this will likely be remedied before stabilization. So right now you can do `where [(); N / 8]:;`, not even a `Sized` bound necessary iirc.

I think you would probably name your `const fn` something like `valid_lanes`, which `usize::max_value()` would not satisfy, because

[2020-12-07 16:20] chandreshpatel16 opened #79802 "pointer do not get auto dereferenced"
### Code

[code]

### Meta

`rustc --version --verbose`:

localhostl:rust chandreshpatel$ rustc -V
rustc 1.46.0 (04488afe3 2020-08-24)

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-07 16:34] marcbrevoort-cyberhive commented on #79785
Stack trace in full verbose mode
[code]

[2020-12-07 16:44] dvtkrlbs commented on #79667
@rustbot claim

[2020-12-07 16:51] jyn514 commented on #74581
I think this is the same issue as https://github.com/rust-lang/rust/issues/76720.

[2020-12-07 16:51] #74581 closed

[2020-12-07 16:53] jyn514 commented on #69639
@matthiaskrgr have you run into this issue since? If not, it's probably a duplicate of https://github.com/rust-lang/rust/issues/76720.

[2020-12-07 16:54] jyn514 commented on #60228
I think this is a duplicate of https://github.com/rust-lang/rust/issues/76720.

[2020-12-07 16:54] #60228 closed

[2020-12-07 17:05] dhardy commented on #77200
`cargo-deadlinks` does report the broken link. I guess that tool should be obsolete now maybe?

Is it not possible to just resolve the issue by considering links in doc inherited via a re-export as being relative to the crate it was defined in? E.g. the doc in `rand::distributions::Uniform` references `Rng` (`rand::Rng`), which does not exist in `rand_distr`, causing an error when the doc on re-ex

[2020-12-07 17:19] jyn514 commented on #77200
(disclaimer: I'm the current maintainer of deadlinks.) cargo-deadlinks is not obsolete for a few reasons:

1. It can be used on non-rust projects, as a normal linkchecker.
2. People still use manual links, intra-doc links are not (and will never be) a hard requirement. So there's still value in checking those.
3. Rustdoc doesn't always report link failures, for example the ones in this issue.

---

[2020-12-07 17:22] matthiaskrgr commented on #69639
I don't remember running into this issue recently.

[2020-12-07 17:22] #69639 closed

[2020-12-07 17:22] jyn514 commented on #74481
A workaround if you only need the docs in the facade crate is to document the re-export instead of the original item.

[code]

[2020-12-07 17:29] jyn514 commented on #74379
@matthiaskrgr have you run into this since filing the issue?

[2020-12-07 17:46] jyn514 commented on #79800
@lewis6991 is there a reason you're installing from source instead of using rustup or a package manager?

[2020-12-07 17:46] richkadel commented on #79175
@tmandry - Heads up, since #79109 has landed, can you add `-C link-dead-code` to the title, as you suggested?

Thanks!

[2020-12-07 17:48] jyn514 commented on #79802
@chandreshpatel16 it works if you use `**val == 10` instead. Is there a reason you think this is a bug?

[2020-12-07 17:49] lewis6991 commented on #79800
I originally tried to use homebrew but I'm getting this error. Homebrew is installing from source because it is installed to a non-standard prefix so won't use the bottled rust.

[2020-12-07 18:08] jyn514 commented on #79792
This happens because the rustdoc warning isn't emitted as a lint, so it isn't subject to lint levels. I don't think there was any reason for not making it a lint, so the fix is probably to use `struct_span_lint` instead of the current hard-coded warning: https://github.com/rust-lang/rust/blob/b5ff9c3d052c2c3d5f26076362f38643f6e48680/src/librustdoc/passes/check_code_block_syntax.rs#L60

[2020-12-07 18:37] chandreshpatel16 commented on #79802
There are two things i need to know
1. when we say  rust check argument in function invocation then ...  in above case we are passing  let x = 10; let r = &x; let rr = &r;  fn is_ten(val: &i32) -> bool { *val == 10  }  val is of type  &i32 and we call func with  is_ten(rr) where rr is of type &&i32.
is &i32 same type as &&i32 ?? ....  ///Note this compiles , no error

2.In rust  pointer gets deref

[2020-12-07 18:38] LeSeulArtichaut commented on #79708
Removing prioritization request since the bug is fixed on LLVM upstream, and nominating for `T-compiler` to discuss if a cherry-pick of the fix is warranted, [as discussed as part of the Prioritization WG procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379708.20Miscompilation.20root-caused.20to.20llvm.20bug).

[2020-12-07 18:44] jyn514 commented on #79802
well, `rr` and `val` are both `&&i32`, yes, but `10` is not. The type error isn't where you call the function, it's in the function body.

[2020-12-07 18:52] chandreshpatel16 commented on #79802
thx ...i got it... my mistake i am comparing two two diff types......

[2020-12-07 18:53] Blub commented on #56889
IMHO a sane writer should return an error when it is already at the end. This would be in line with eg. a block device (a typical size-limited object to write to...). `Ok(0)` doesn't really make any sense to me. If you can't write anything *yet*, return `EWOULDBLOCK` (or, well, *block*), if you can't write anything because of some error, return the error. But don't just do nothing (or purely some

[2020-12-07 18:57] vchekan commented on #68125
While it is an iportant factor to break as little as possible, it is one-time cost, whereas good name is recurring cost. So if there is a possibility to choose good name, then breaking non-stable API should have lower wight.

I would say it is not. It has important semantic difference in case of empty iterator, so calling it the same will make it only more difficult to find.

Another argument woul

[2020-12-07 19:00] #79802 closed

[2020-12-07 19:50] m-ou-se commented on #68125
It'd be better to ask quesitons like that on [Discord](https://discord.gg/rust-lang) or the [users forum](https://users.rust-lang.org/), to keep these (tracking) issues focussed on the design of the API.

[2020-12-07 19:52] Lucretiel commented on #56889
Related to @Blub's point: another crucial property of this design is that it means that looped writes (a common pattern) may not loop forever. If `Ok(0)` was a valid result (that is, if it simply meant the device "successfully" wrote 0 bytes and is not in an eof state), then it would be acceptable to continue to retry those writes. Ok(0) must in some sense signal "will not ever be accepting more b

[2020-12-07 20:00] alper commented on #72690
I have a similar message to:

But what I don't understand is: why does it complain it can't infer the type if it clearly knows the type?

[2020-12-07 20:33] richkadel commented on #79725
Thanks for the bug report! I was able to repro this. Looking into the cause and fix now.

[2020-12-07 20:52] is8ac opened #79807 "`overflow evaluating the requirement` when trait bound is added"
### Source
[code]

`rustc overflow_demo.rs` returns:

[code]

Now remove the line
[code]
and it compiles without error. `Copy` can be replaced with most any other trait bound.

Separately, where as normally such `overflow evaluating the requirement` errors give a line number, here, no line number is given.

### Meta
`rustc --version --verbose`:
[code]
Approximately the same behavior in nightly
[co

[2020-12-07 21:11] bluss commented on #75373
The "place to go" to implement these instrinsics is rust-lang/stdarch/issues/148

[2020-12-07 21:12] ayourtch opened #79808 "VecDeque: length 0 underflow and bogus values from pop_front(), triggered by a certain sequence of reserve(), push_back(), make_contiguous(), pop_front()"
This is my first bug report, so please correct me s if I miss anything :-)

I use VecDeque<u8> in a toy application (https://github.com/ayourtch/flex-sftp-server) which is handling external reads in a loop, and does possible partial handling of the input.

My pattern is I call reserve(N) before push_back() N times, then make_contiguous(), then doing some pop_front(). I noticed the app was behaving

[2020-12-07 21:24] naim94a commented on #79808
I created a minimal sample:
[code]

[2020-12-07 21:27] camelid commented on #79808
Hmm, if it double-frees then why does Miri not catch it?

[2020-12-07 21:30] camelid commented on #79808
Assigning `P-critical` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379808.20VecDeque.3A.20length.200.20underflow.20and.20bogus.20.E2.80.A6) in the prioritization working group.

[2020-12-07 21:32] jonay2000 commented on #79559
I have done some research. The issue seems to be caused by the fact that `#[lang=start]` is in a different crate as `main(){}`. the `#[lang=start]` function gets a reference to main in the other crate. From now on I will call the crates the "start" crate and the "main" crate respectively.

So now there are two options:

Either the main crate uses `#[no-main]`. This causes an expected linker error

[2020-12-07 21:33] pierwill commented on #79799
Would like to work on this! :)

@rustbot claim

[2020-12-07 21:35] leonardo-m commented on #79808
Some time ago I've read somewhere that Rust stdlib VecDeque is cursed. I didn't believe them. I'm changing opinion... -.-

[2020-12-07 21:49] Eric-Arellano commented on #74773
Thank you for pointing that out, @matklad and @xfix. See https://github.com/rust-lang/rust/pull/79809 - there were several cases where the nuance that `splitn(2)`'s first element is always `Some` wasn't being used, e.g. unnecessary checks for the first element. That nuance was not obvious to me, and I like that `split_once()` makes the situation more clear imo.

[2020-12-07 21:52] naim94a commented on #79808
This specific case doesn't double free (i32::drop is a noop), using a `Box` might have been a better example...

[2020-12-07 21:54] camelid commented on #79808
Still, this is memory-unsafe, right?

[2020-12-07 21:56] naim94a commented on #79808
Yes, It's still a use-after-free regardless

[2020-12-07 21:58] jonay2000 commented on #79559
Update: https://github.com/rust-lang/rust/blob/afa995b2dd1e194845f2082707e6045d539230a5/compiler/rustc_passes/src/entry.rs#L160. This code finds main and is used by `ctx.entry_fn()`. However, it always looks them up in this order:

* start
* attr_main (not entirely sure what that is)
* main
* error - no main

So in short, it always prefers start over main. But when start is in another crate this f

[2020-12-07 22:07] Aaron1011 commented on #79783
Opened https://github.com/rust-lang/rust/pull/79810

[2020-12-07 22:09] Manishearth commented on #65212
I still disagree. I haven't had the time to prototype this, but this is very much not following the norms for keyboard navigation which has accessibility implications.

[2020-12-07 22:11] jonay2000 commented on #79559
We figured out that making lang_start generic in any way (the example in the original post above would become the codeblock below) fixes the ICE but still produces a linking error.

[code]

This suggest that everything I said about what I thought the problem was may be false

[2020-12-07 22:14] lcnr commented on #79808
@rust-bot claim

[2020-12-07 22:16] richkadel commented on #34701
FYI, for contributors, or anyone interested in the implementation details, I added a section on [LLVM Source-Based Code Coverage](https://rustc-dev-guide.rust-lang.org/llvm-coverage-instrumentation.html) to the Rustc Dev Guide.

[2020-12-07 22:20] bjorn3 commented on #79559
You can add the `#[main]` attribute to any function. It will then behave similar to `fn main` in the crate root.

[2020-12-07 22:24] bjorn3 commented on #79559
That linking error has nothing to do with rustc. It simply means that `crt0.o` has been linked to provide the `_start` function that provides the entry point from the kernel, but `libc` hasn't been linked, which is a dependency of `crt0.o`.

[2020-12-07 22:29] jonay2000 commented on #79559
ah of course

[2020-12-07 22:30] jonay2000 commented on #79559
alright, so given that that is linked in, this basically works. So the only problem now is that the lang=start item cannot *not* be generic or else it's an ICE

[2020-12-07 22:45] camelid commented on #79808
@naim94a Based on my conversation with lcnr, jonas-schievink, and others [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/miri.20use-after-free), it seems that using `make_contiguous` with copy types is *not* UB (it still exhibits a bug though!) because copy types aren't freed. It *is* UB with non-copy types though.

[2020-12-07 22:56] bjorn3 commented on #79559
It does work if the `#[lang = "start"]` is in the main executable crate, but it should also be made to work with it being in a different crate I think.

[2020-12-07 22:57] jonay2000 commented on #79559
Either that or at least give a meaningful error

[2020-12-07 23:00] camelid commented on #79807
Hmm, is this really a bug? If adding that trait bound is pushing it over the edge so that it's recursing too much, I'm not sure if I would consider that a bug in the compiler. But, I don't know enough about trait solving, so I'll leave this open.

[2020-12-07 23:02] camelid commented on #79791
(This isn't an ICE.)

[2020-12-07 23:03] poliorcetics commented on #79792
@rustbot claim

[2020-12-07 23:04] camelid commented on #79785
@marcbrevoort-cyberhive If you are able to, please provide some code that reproduces this.

[2020-12-07 23:06] camelid commented on #79768
@rustbot glacier "https://gist.github.com/rust-play/f5540d1a91c9009e9a83d98f86a9bc6e"

[2020-12-07 23:07] is8ac commented on #79807
As you say, it is quite possible that the error is correct behavior. However if so, I am confused as to why it should compile when the `<T as Baz<S>>::Quaks: Copy` bound is removed.

[2020-12-07 23:09] camelid commented on #79807
Because adding that trait bound gives the trait solver more work to do.

[2020-12-07 23:12] briansmith commented on #34701
Try:
[code]
(Note the trailing dot.)

[2020-12-07 23:14] briansmith commented on #34701
To expand on it a little more, it seems if you pass a directory as one (or more?) of the `SOURCES` on the command line, llvm-cov will resolve relative paths using that directory as a base.

[2020-12-07 23:25] Aaron1011 opened #79813 "Tracking Issue for denying trailing semicolons in expression macro bodies"
This is a tracking issue for MCP https://github.com/rust-lang/lang-team/issues/70

### What is this issue?

If you're a crate author who's been linked here, this issue tracks emitting a hard error when a trailing semicolon occurs in a macro used in expression position. See https://github.com/rust-lang/lang-team/issues/70 for some background about the issue.

In the future, code like this may stop

[2020-12-07 23:28] frazerk commented on #34701
This worked! Adding `--remap-path-prefix src=${PWD}/src` to RUSTFLAGS was enough to fix `llvm-cov report -show-functions`.

This didn't seem to make a difference, unfortunately. I'm pretty sure `llvm-cov` resolves all source files to absolute paths, regardless of how they're specified.

Now the only thing I'm missing is a way to exclude the tests themselves from coverage reports. It looks like `ll

[2020-12-07 23:54] richkadel commented on #34701
Thanks for highlighting these use cases and solutions @frazerk, @briansmith, and @catenacyber  !

@frazerk - This sounds like a possible limitation in `llvm-cov`, and if so, I think the issue/feature request should be filed on the LLVM side.

Thanks!

[2020-12-08 00:21] infinity0 commented on #52108
@xen0n We are running into this problem now for the cargo build - [attempt 1](https://buildd.debian.org/status/fetch.php?pkg=cargo&arch=mips64el&ver=0.47.0-1%7Eexp1&stamp=1601643050&raw=0) [attempt 2](https://buildd.debian.org/status/fetch.php?pkg=cargo&arch=mips64el&ver=0.47.0-1&stamp=1607261162&raw=0) [attempt 3](https://buildd.debian.org/status/fetch.php?pkg=cargo&arch=mips64el&ver=0.47.0-1&sta

[2020-12-08 00:27] petrochenkov commented on #79676
Apologies if I'm late to the party, or if all of this was discussed before, but I'd suggest studying the C++ stacktrace proposal (http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2020/p0881r7.html) before stabilizing things like this.

The interface is based on Boost.Stacktrace and was heavily scrutinized and changed in non-obvious ways to accommodate for some backtrace operations being expensiv

[2020-12-08 00:54] steffahn commented on #68379
Something like this would be just as useful on `Error`. Would’ve been a _huge_ help for this [problem posted on URLO](https://users.rust-lang.org/t/mystified-by-downcast-failure).

[2020-12-08 02:02] richkadel commented on #79725
Please try the fix in #79818 when available. Hopefully this will land in Rust nightly in just a few days.

Thanks again for reporting the bug!

[2020-12-08 02:06] Aaron1011 commented on #33953
Progress towards fixing this issue is tracked in https://github.com/rust-lang/rust/issues/79813

[2020-12-08 03:40] dillona commented on #79789
`cargo-bisect-rustc` shows the regression was in:

[code]

[2020-12-08 04:28] dillona commented on #79791
searched nightlies: from nightly-2020-07-27 to nightly-2020-12-08
regressed nightly: nightly-2020-08-01
searched commits: from https://github.com/rust-lang/rust/commit/cfc572cae2d1fc381cce476b5c787fd7221af98c to https://github.com/rust-lang/rust/commit/6e87bacd37539b7e7cd75152dffd225047fa983a
regressed commit: https://github.com/rust-lang/rust/commit/c058a8b8dc5dea0ed9b33e14da9e317e2749fcd7

<deta

[2020-12-08 08:36] Vooblin commented on #71723
Hi! I would like to try and fix this problem, but not sure if anyone else is doing this. @csmoe @camelid I saw you were assigned to the mentioned issues, do you work on this problem or I can take it?

[2020-12-08 08:52] #66422 closed

[2020-12-08 09:06] Vooblin commented on #71723
I also checked some rust versions. This error remains the same on the 1.45.2 as opposed to #75791

[2020-12-08 09:09] Subsentient commented on #72016
Is there any progress towards this arriving in stable? asm!() has been unstable for several years, and does not seem the type of feature that should be so.

I think this is important, and any funky or objectionable design decisions could be fixed later, even at the cost of breakage.
Breakage in a later release would be preferable to requiring an unstable compiler for this feature.

[2020-12-08 09:10] rossmacarthur commented on #68125
@imjasonmiller  https://github.com/rust-lang/rust/pull/79805#issuecomment-740469963 brings up another concern for `reduce()` which I think hasn't been mentioned yet.

[2020-12-08 09:20] Subsentient opened #79821 "rustc does not accept object files as input"
Hi, so apparently rustc does not provide a means to use raw object files (.o) as input without creating a static library.

For interoperability, debugging, etc,  it can be very useful to just link in an object compiled with .e.g. "gcc -c", without having to run ar and ranlib to create a static library, and whatever mess might be needed in MSVC-land. As rustc allows only one source input file and o

[2020-12-08 10:02] GuillaumeGomez commented on #65212
I don't see how accessibility can be impacted by this. I assume they don't go through text content the same way and that changing how the interactions are done will change anything for them. In addition to that, when included in docs.rs, adding more tabindex could be problematic depending on docs.rs evolutions (we added some tabindex there as well).

[2020-12-08 10:29] jsomedon commented on #78586
Should a `non-exhaustive` crate be fine to stay in `repr(transparent)` in its own crate? (My understanding is that it's okay? As you can do whatever u want with the `non-exhaustive` in its own defining crate?)

[2020-12-08 10:36] matthiaskrgr commented on #74379
I think yes, but it was probably months ago and not recently.

[2020-12-08 10:36] #74379 closed

[2020-12-08 10:41] marcbrevoort-cyberhive commented on #79785
I haven't narrowed it down to a specific code snippet, however it's panicking while compiling existing crates. It may be noteworthy that the compiler panic only occurs on the jenkins build environment but not on the dev box which, as far as I'm aware, builds from exactly the same sources.

[2020-12-08 10:44] marcbrevoort-cyberhive commented on #79785
#79725 seems to be similar to my report, both involving a coverage compiler panic when compiling openssl-sys.

[2020-12-08 11:09] bjorn3 commented on #72016
No it can't due to our stability guarantee. There are a few exceptions to the stability guarantee, but those are all for bugs and not funky or objectionable design:

https://blog.rust-lang.org/2014/10/30/Stability.html

Furthermore

If we were to fix funky or objectionable design decisions, this would cause problems for people who depend on `asm!` when upgrading.

Most people should never use it a

[2020-12-08 11:49] #46126 closed

[2020-12-08 11:58] #54365 closed

[2020-12-08 11:59] #49893 closed

[2020-12-08 11:59] #46313 closed

[2020-12-08 12:00] #40156 closed

[2020-12-08 12:00] #72237 closed

[2020-12-08 12:13] simplelins opened #79822 "the example "examples/usercall-extension" compile failed!"
please update the example:usercall-extension,
[code]

I can not get the correct version of dependent modules!
thanks

[2020-12-08 12:15] jonas-schievink commented on #79822
Please file the issue over at https://github.com/fortanix/rust-sgx, rust-sgx is not maintained here.

[2020-12-08 12:15] #79822 closed

[2020-12-08 12:30] tmiasko commented on #47178
I would close this along with #47071 reported around the same time. They both look like issue related to ThinLTO introduced in rustc at the time, but fixed since then.

[2020-12-08 12:50] efikarl opened #79823 "Method recv() of UdpSocket don't have any response and blocking."
I try to write a tftp client on Windows OS  10.0.19042 Build 19042. UdpSocket don't works for me when I send a WRQ, but no ACK is received.

I tried this code:

[code]

I expected to see this happen: *socket.recv(&mut buf) works*

Instead, this happened: *socket.recv(&mut buf) didn't receive any thing and blocking from TFTP server.*

### Meta

`rustc --version --verbose`:
[code]

<details><summary

[2020-12-08 12:58] jonas-schievink commented on #79821
rustc is not a linker, but you can use `-Clink-arg(s)` to pass arbitrary arguments to the linker, so this already works.

[2020-12-08 12:58] #79821 closed

[2020-12-08 13:16] jmillikin commented on #72016
Would there be a chance of stabilizing a minimal version of `asm!()`, similar to the minimal const generics scheduled for v1.50?

Currently `asm!()` is the only way to invoke syscalls directly, which means that stable Rust does not have the ability to implement something like Linux's [`tools/include/nolibc/nolibc.h`](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/tools/inc

[2020-12-08 13:38] bjorn3 commented on #72016
There doesn't really exist a minimal version of `asm!()`. Except for `{}` the inline asm string is passed verbatim to the backend. Not stabilizing things like vector instructions would require adding a parser for the inline asm, which is very complex. Manual register allocation isn't much of a pain for alternative codegen backends I think. At least cg_clif currently **only** supports manual regist

[2020-12-08 14:47] hyd-dev opened #79825 "Empty `TokenStream` is provided to attribute procedural macro on trait alias"
I tried this code:

[code]
and
[code]

I expected to see this happen: the compiler complained `#![feature(trait_alias)]` was missing, or on nightly, after adding `#![feature(trait_alias)]`, compiled successfully, just like [built-in `#[allow]` on trait alias](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4de7ef170b4c0622f5a6e6b081250a6d).

Instead, this happened: the ass

[2020-12-08 15:50] voidc commented on #42839
With https://github.com/rust-lang/rust/pull/69864 merged there are now two very similar types: [UCred](https://doc.rust-lang.org/nightly/std/os/unix/net/struct.UCred.html) and [SocketCred](https://doc.rust-lang.org/nightly/std/os/unix/net/struct.SocketCred.html). Can these two types be combined into one?

[2020-12-08 16:01] sasurau4 commented on #79691
I'll work on this.
@rustbot claim

[2020-12-08 16:38] caemor commented on #57307
Could we maybe change the documenation whenever char::is_aynthing is used to instead use the variant with the closure instead that is working for every (I only tried 2) char::is_anything function?

Benefit would be less confusion when mixing/trying the different char functions.

Disadvantage would be slightly longer (and therefore possible a bit more confusing?) documentation code.

[2020-12-08 16:45] genusistimelord commented on #62358
you could write it as is().

then it would read as
getFoo().is("bar")

[2020-12-08 16:47] AaronKutch opened #79829 "Stack overflow from malformed `cfg` in a closure"
[code]
when compiled (this works on nightly and beta, so I presume it also happens on stable), this produces:
[code]
Backtrace does not work.

[2020-12-08 17:21] jyn514 commented on #79829
This is not a stack overflow, it's an actual abort.

<details>

[code]

</details>

[2020-12-08 17:24] scottmcm commented on #78586
@jsomedon Yes, I think that's ok, like how one can exhaustively match it inside its own defining crate.

[2020-12-08 17:50] AaronKutch commented on #79829
Why would it have `STATUS_STACK_BUFFER_OVERRUN` in the message?

[2020-12-08 18:24] woodruffw commented on #42839
Potentially? Looking at the current code, the two currently perform slightly different functions: `UCred` (which I think is badly named, more on that below) is used in a somewhat platform agnostic way to get the peer credentials associated with a domain socket client, while `SocketCred` seems to be associated with ancillary data mechanisms that I'm not 100% clear on (I've never touched them at all

[2020-12-08 18:25] jyn514 commented on #79829
https://devblogs.microsoft.com/oldnewthing/20190108-00/?p=100655

[2020-12-08 18:32] Manishearth commented on #65212
Firstly, keyboard accessibility is not only for the blind. People may prefer keyboards over mice for many accessibiltiy reasons. However, tab navigation is a huge part of accessibility for the blind in many cases.

No, that's the point, we _don't_ actually need to add tabindex, currently we're _overriding_ tab defaults via JS which is almost always _really_ bad. The tab defaults for the page are q

[2020-12-08 18:37] jyn514 commented on #65212
Maybe we could use left/right arrows instead of tab for switching between 'In Names' and 'In Parameters'? I think that's more clear than tabs anyway.

[2020-12-08 18:38] Manishearth commented on #65212
My rough proposal is that we remove all JS that consumes <kbd><kbd>Tab</kbd></kbd>, potentially use `tabindex=-1` on the summary entries (and `tabindex=0` on the links, if necessary, but i don't think it will be).

(Negative tab index = "do not tab-focus this". Zero tab index = "please tab focus this in document order", this does not interfere with any explicitly defined positive tab indices)

We

[2020-12-08 18:38] mark-i-m commented on #54883
The second crater run is done.

**Cross-posting from https://github.com/rust-lang/rust/pull/78935#issuecomment-740828151**

Hmm... so these are the regressions:

1. Attempting to simulate a pattern match in a closure argument e.g. `|$($arg:pat),+|`
    1. leads to parser error
        - all of the rest -- this is the most common regression
    2. leads to type error
        - frappe -- type annota

[2020-12-08 18:39] mark-i-m commented on #54883
Should I nominate for T-lang discussion?

[2020-12-08 18:41] jyn514 commented on #65212
Hmm, personally I think I'd prefer for left/right to switch the search tabs and have to use `s` explicitly to bring the search bar into focus. I don't think we should get rid of keyboard shortcuts for tabbing without having *some* replacement, even if it's a few more keystrokes.

[2020-12-08 18:48] Kixunil commented on #42839
They don't, that's the reason there's `Option` in the first place. The structs seem to be sufficiently different to be different types but I may be missing something.

[2020-12-08 18:52] Manishearth commented on #65212
Oh sure, I meant that we should not be capturing left/right whilst focused on the search box. We can add that event listener to the search results area, that should be fine.

[2020-12-08 19:06] jrmuizel opened #79831 "Backtraces through system libraries give bad symbols on macOS"
[code]

lldb gives:
[code]

Note:

[code]
vs
[code]

[2020-12-08 19:22] maackle opened #79832 "internal error with -Z macro-backtrace"
### Code

Running on a very large codebase, not sure what caused the error. Hoping this is at least marginally useful even so.

I have not verified one way or another whether this error occurs without `-Z macro-backtrace`

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-08 19:27] GuillaumeGomez commented on #65212
But then how do you move in the search input? ;)

@Manishearth I don't see how the current behavior blocks that? You can still move through answers using up and down arrows. But I think I'm starting to understand your issue: it's the `tab` overload we added in the JS, right? Then, with what would you replace it? Also, you can use `esc` and then use `tab` afterwards.

[2020-12-08 19:39] korken89 opened #79833 "Unknown ICE"
Hi, unfortunately I was not able to reprodue this ICE, but I'll provide the dump I got in case you can do something with it.

[code]

[2020-12-08 19:46] Manishearth commented on #65212
Nothing. The browser has acceptable default tab navigation behavior, though we can improve on it by applying some `tabindex=-1`s if we want

[2020-12-08 19:55] GuillaumeGomez commented on #65212
Then I'm lost: how do you switch between the three tabs?

But then you need to focus on the search results area, which is almost never the case as far as can I can tell. That doesn't sound like a great idea. :-/

[2020-12-08 20:04] Manishearth commented on #65212
Tab navigate to a different "tab" and hit space.

You will after hitting tab a few times. This is how keyboard navigation usually works.

[2020-12-08 20:08] GuillaumeGomez commented on #65212
That seems **very** counter-intuitive. Even more considering that switching between elements using `tag` isn't that common.

Which is exactly why I don't think this is a good idea here. It's much more complicated than the current behavior.

[2020-12-08 20:10] jrmuizel commented on #79831
`nm` gives the following addresses from CoreGraphics:
[code]
vs
[code]

[2020-12-08 20:25] m-ou-se commented on #63514
There aren't any open questions about this feature, and this has seen quite a few releases already. So it looks like this would be ready for stabilization.

@rfcbot merge

[2020-12-08 20:29] Manishearth commented on #65212
This is literally how keyboard navigation typically works on the web. There are norms for how to do this, many people use this to a fair amount, some people rely strongly on it.

The current behavior tab-locks you which is a _huge_ accessibility hazard. Furthermore, it's nonintuitive, it does not follow the typical model of tab-navigation on the web.

[2020-12-08 20:29] modiking commented on #79708
FYI for a cherry-pick you'll want the fix:
1. https://reviews.llvm.org/rG18603319321a6c1b158800bcc60035ee01549516
and a small fixup to the solution
2. https://reviews.llvm.org/rG756fa8b9be0ca3458073952495c323ba9d04036d

[2020-12-08 20:33] m-ou-se commented on #67364
Looks like there are no blockers. There's still the question of whether this is also wanted on `DebugList`, `DebugMap`, `DebugSet`, and/or `DebugTuple`. But that doesn't have to block stabilization of `DebugStruct::finish_non_exhaustive`.

[2020-12-08 20:41] RustyYato opened #79835 "ICE - 'index out of bounds: the len is 5 but the index is 5', compiler\rustc_middle\src\ty\query\on_disk_cache.rs:458:9"
### Code

I don't have a minimal example, because whenever I try to minimize this the ICE goes away. So far, removing *any* top-level items including, types, modules, or functions will cause the ICE to go away (even if the function is put back). So I believe that this is a caching issue. (further evidenced by `compiler\rustc_middle\src\ty\query\on_disk_cache.rs`)

This branch contains all the buil

[2020-12-08 20:55] woodruffw commented on #42839
I'm not sure if it's 100% of Unices, but I think almost all of them support _some_ mechanism for getting the peer's PID. It's just not through `struct ucred`, hence my comment about `UCred` being a misleading wrapper.

For example, macOS doesn't have a PID in its `struct ucred`, but it does support getting the peer's PID through the `LOCAL_PEERPID` sockopt. All of the BSDs expose similar mechanism

[2020-12-08 20:58] antoyo commented on #65212
I'm only using keyboard on my computer and I never use tab to switch between elements and I also find current shortcuts good enough.

[2020-12-08 20:59] GuillaumeGomez commented on #65212
You can switch to the "default" behavior by simply pressing "esc". I don't see why it's a problem then.

[2020-12-08 21:01] camelid commented on #71723
I'm not sure about the others, but I haven't gotten around to it, so you working on it is fine with me!

[2020-12-08 21:11] Kixunil commented on #42839
Sure, I agree with renaming.

Yes, this is implemented. :)

A PR would be nice if you happen to have some experience with this. Shouldn't be big, most of the stuff is already there.

[2020-12-08 21:15] hube12 opened #79836 "Error in malloc while running with thread sanitizer"
I tried this code:

[code]
Then I ran ```RUSTFLAGS="-Z sanitizer=thread" cargo +nightly test --target x86_64-unknown-linux-gnu -j 8 --lib```

I expected to see this happen :  the test should pass

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-12-08 21:17] hube12 commented on #79836
Same with
[code]
RUSTFLAGS="-Z sanitizer=thread" cargo +nightly test --target x86_64-unknown-linux-gnu -j 8 --lib
   Compiling temp v0.1.0 (/mnt/d/r/code/FUN/AoC/temp)
    Finished test [unoptimized + debuginfo] target(s) in 3.55s
     Running target/x86_64-unknown-linux-gnu/debug/deps/temp-095a78e43e82b177

running 1 test
test tests::it_works ... ok
==================
WARNING: ThreadSanitizer: da

[2020-12-08 21:18] carado opened #79837 "asm!() truncates $'s in AT&T syntax with local label"
I am trying to run the asm!() instruction `mov [rsp], 3f` (move the forward local label `3` into the memory pointed to by register rsp).
My general template is:
[code]

(as well as
[code]
for testing in clang C)

Here are the results I get for various instructions under both syntaxes (Intel and AT&T) and in both languages:
1. `mov [rsp], 3f` (Intel, C & Rust) → "invalid operand for instruction"
2.

[2020-12-08 21:20] rylev commented on #79658
Since I'm new to the parser, I did some investigation on what the issue is.

When parsing the expression `<Bar as A>::Assoc::Foo { br: 3 }`, [`parse_bottom_expr`](https://github.com/rust-lang/rust/blob/5e6e1e33a11d140a4d70f946730137f241224eb3/compiler/rustc_parse/src/parser/expr.rs#L1014) is called. This looks ahead at a bunch of tokens eventually seeing [`<`](https://github.com/rust-lang/rust/blo

[2020-12-08 21:51] woodruffw commented on #42839
I can definitely try! I have #79387 open for macOS right now, and I'll try to get some similar ones in the pipeline for the BSDs.

[2020-12-08 22:05] daveriedstra opened #79839 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value'"
### Code

I'm not sure which of my code is triggering this bug (and don't have the time to go through the recommended blog post in the issue template). However, the two most suspicious changes I made today are

* switch from `nightly-2020-11-27` to `nightly-2020-12-08`
* start using `#![feature(min_const_generics)]` (in a separate library crate, which is used in the problem crate but compiles fine

[2020-12-08 22:18] Dark-Legion commented on #79839
I did encounter the same/similar (panicking from the same file) bug on the `x86_64-pc-windows-msvc` toolchain too, but it went away when I did ran `cargo clean` so I couldn't file it (not that it really was reproducible because it  apparently depended on possibly broken object files).

[2020-12-08 22:22] alexbuzzbee opened #79842 "Unexpected None, no reproduction"
When this ICE happened, I tried to create a minimal reproduction right away; this was apparently a mistake, as after a few changes to my code, the crash vanished and I couldn't get it to come back. I'm reporting this anyway with the hope that someone might be able to work backwards from the point of the crash and figure out where the bad `None` is coming from.

### Code

While I was trying to figu

[2020-12-08 22:28] daveriedstra commented on #79839
@Dark-Legion thanks for mentioning that, `cargo clean` then a fresh build worked for me too.

[2020-12-08 22:40] RustyYato commented on #79842
I ran into exactly the same error in my crate `contextual`, on the ICE branch linked below

https://github.com/RustyYato/contextual/tree/ICE

I'll try and get that as minimal as I can get it

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-08 22:57] alexbuzzbee commented on #79842
I'm pretty sure it's a cache issue; I took a look at the error location and it's in a function called `try_load_from_on_disk_cache`.

[2020-12-08 23:02] alexbuzzbee commented on #79842
Having looked a little deeper, this is probably related to #79835.

[2020-12-08 23:02] RustyYato commented on #79842
Yeah, I've seen ICEs like this previously, which is why I saved all the build artifacts. That way I always have a repro

[2020-12-08 23:07] Arnavion opened #79843 ""introduce a type parameter with a trait bound instead of using `impl Trait`" diagnostic is malformed for async fns where the previous parameter is a borrow"
(Edit: Actually, being an inherent fn doesn't matter. It happens with top-level fns too.)

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bc52a6f5c708462abbd91b4dd7d9b1ba

[code]

This prints the diagnostic:

[code]

The suggestion in the last line is not valid syntax (`_: &,`). It also emits malformed syntax if the first parameter is a `&self` or `&mut self` parameter.

[2020-12-08 23:12] cramertj commented on #31436
@nikomatsakis small nit: [the `Poll` implementations](https://doc.rust-lang.org/src/core/task/poll.rs.html#129-151) are the interesting ones (not `Pin`).

[2020-12-08 23:22] sunshowers commented on #22108
This would be super useful to build tooling around even if only exposed in JSON output (https://github.com/rust-lang/rust/issues/76578). Variance changes are one of the more subtle kinds of API breakage, and anything we can do to make them easier to understand would be great.

[2020-12-08 23:30] camelid commented on #79839
Looks like a duplicate of #79661.

[2020-12-08 23:30] #79839 closed

[2020-12-08 23:30] richkadel commented on #79785
Looks identical, and should be fixed when #79818 lands. It's in the CI queue now.

[2020-12-08 23:30] camelid commented on #79842
Looks like a duplicate of #79661.

[2020-12-08 23:30] #79842 closed

[2020-12-08 23:31] camelid commented on #77323
Labeling as P-low because it's incorrect code anyway.

[2020-12-08 23:40] camelid commented on #79823
From the docs:

Passing an empty `Vec`, which is what you're doing, is equivalent to passing an empty slice. So, all the bytes are discarded. Does initializing `buf` to have more elements with `vec![0; N]` fix this?

[2020-12-08 23:40] camelid commented on #79823
Also see https://stackoverflow.com/questions/60402414/why-does-u8-work-as-a-buffer-for-udpsocket-when-vec-doesnt.

[2020-12-08 23:42] camelid commented on #79823
I'm closing this. Reopen if you still think there is a bug.

[2020-12-08 23:42] #79823 closed

[2020-12-08 23:44] camelid commented on #78824
I couldn't get `autofocus` to work, so I'm unassigning myself.

[2020-12-08 23:47] camelid commented on #79832
Likely another duplicate of #79661.

[2020-12-08 23:47] #79832 closed

[2020-12-08 23:59] tmiasko commented on #79836
Thread sanitizer requires rebuilding the standard library with `cargo -Zbuild-std`:

[code]

You can find additional details in the documentation: https://doc.rust-lang.org/nightly/unstable-book/compiler-flags/sanitizer.html#threadsanitizer

[2020-12-09 00:03] dmit commented on #79833
#79721 has the fix for this, waiting to be merged. The workaround meanwhile is to `cargo clean` the incremental cache and rebuild.

[2020-12-09 00:08] BartMassey commented on #72016
I think that not stabilizing things like vector instructions could be done by declaring them UB for now: `asm!` is `unsafe` anyhow, so this would be OK and could be relaxed later.

That said, watching this discussion I feel like the syntax and semantics of `asm!` are not quite settled yet. As someone who thinks that it's *really* sad that a "systems language" doesn't include inline assembly, I'm w

[2020-12-09 00:11] RustyYato commented on #79835
I've minimized the ICE branch on `svec` that I linked above. Removing anything causes the ICE to disappear, and not come back until I reset back to the ICE branch. Everything is in one file. The features no longer matter, as I stripped away all cfgs.

[2020-12-09 00:13] RustyYato commented on #79835
When I say, anything, I mean
*  types
* functions
* attributes
* use statements

*even* if they are unused

[2020-12-09 00:23] hube12 commented on #79836
@tmiasko Oh thanks, I though only msan needed that. I should have definetly read that doc. Sorry for bothering you.

[2020-12-09 00:23] #79836 closed

[2020-12-09 00:44] naiveai commented on #62633
@aclysma what would `unwrap_none` return? `Result::unwrap_err` exists because the `Err` type still contains a value. But None doesn't.

[2020-12-09 01:07] aclysma commented on #62633
`unwrap_none` would return nothing if it is None and panic if it is Some. Here is a practical example of how I would like to use it:

[code]

I'd rather do this

[code]

(More examples: https://github.com/aclysma/rafx/search?q=old.is_none)

[2020-12-09 01:16] Manishearth commented on #65212
Firstly, no, the escape key exits the search pane altogether.

Secondly, keyboard users will not know to expect such a thing.

_No matter what_, it is a problem that our webpages tablock by default. I can't believe that we're having a hard time coming to agreement on that, I would have expected accessibility to be valued here :/

[2020-12-09 01:19] camelid commented on #79829
Currently running a build to see how hard this will be to fix.

[2020-12-09 01:28] camelid commented on #79702
@drahnr ^

[2020-12-09 01:28] camelid commented on #79666
@rustbot glacier "https://gist.github.com/rust-play/9065529dc495a9007f46cf8f5cfa5f70"

[2020-12-09 01:30] cuviper commented on #62633
It could be called `assert_none`, since there's nothing to return, but calling it `unwrap_none` is nice to mirror `Result`.

[2020-12-09 01:55] camelid commented on #79829
Okay, it seems that if I remove the `catch_unwind` wrapper it causes a double-free, so that won't fix it ;)

I guess the fix would be to fix the closure that's panicking?

[2020-12-09 01:57] jyn514 commented on #79829
@camelid yes, you need to find what the ignored panic payload is and what's causing the panic.

[2020-12-09 02:03] tmandry commented on #79785
Closing as duplicate of #79725.

[2020-12-09 02:03] #79785 closed

[2020-12-09 02:03] joshtriplett commented on #72016
On Tue, Dec 08, 2020 at 01:10:01AM -0800, Subsentient wrote:

The new version of `asm!` is comparatively new, and was only implemented
this year. I personally hope that we can stabilize it in the 2021
edition.

[2020-12-09 02:07] Manishearth commented on #65212
Some citations:

From https://www.csun.edu/universal-design-center/web-accessibility-criteria-tab-order

We are currently not coordinated with the structure of the webpage, and we do not follow the visual flow.

From https://www.w3.org/WAI/WCAG21/quickref/#no-keyboard-trap:

From https://www.w3.org/WAI/WCAG21/quickref/#focus-order:

From https://www.w3.org/WAI/WCAG21/quickref/#on-focus:

Tab navig

[2020-12-09 02:11] Manishearth commented on #65212
@katie-martin-fastly mentioned that she had been having trouble with this as well.

[2020-12-09 02:35] ffrogman opened #79847 "ICE: "Forcing query with already existing 'DepNode'"
I think the error has to do with the fact that I have the same static str "DUMMY". If I change the strings to be nonidentical the panic no longer occurs. This was slimmed down from a much bigger example. I know the code may still not compile even once the panic is fixed, but it still should not panic.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

Also occurs on

[code]

### Err

[2020-12-09 02:35] camelid opened #79848 "rustc suggests `serde::export::Some` when serde is in scope"
There are three different variants of this bug that I've encountered. Here they are:

-----

This is the simplest one:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=95e9b3a3dcb33a52bc6578809c3cb864))

Errors:

[code]

---

This one's a bit more complex. Note that the suggestion is to use the `Some` that's created from the derive macro.

[code]

([Pl

[2020-12-09 03:02] xen0n commented on #52108
GOT loads with `-mxgot` need more instructions. That might or might not be a problem, actually, considering the mips platforms are already slow by modern standards; and I originally meant that `-mxgot` should be turned on globally only as a last measure.

It might be possible to generate code like `-mxgot` is unconditionally on, then relax and relocate things during linking wherever it turns out t

[2020-12-09 03:06] wzssyqa commented on #52108
I agree with xen0n. We meet more and more packages in Debian needing xgot.
And I think that is is a reasonable choice to enable xgot globally.

[2020-12-09 03:16] SNCPlay42 commented on #79847
This was a 1.41->1.42 regression per [Godbolt](https://godbolt.org/z/GfvPjM), needs incremental compilation on to repro.

Adding a match arm like `_ => "Foo"` (as I have on godbolt) makes this compile on 1.41 but it still ICEs on later versions.

@rustbot label A-incr-comp regression-from-stable-to-stable

[2020-12-09 03:30] joshtriplett commented on #72016
One day I hope that we can catch such things using tools like valgrind or miri. We could also consider, as an optional addition in debug compiles, instrumenting the start and end of asm blocks to check if registers were changed without declaring them to be, much like we check for integer overflow in debug builds even though it impacts performance.

[2020-12-09 03:32] xen0n commented on #52108
I might need some time to setup a local benchmark environment, as I haven't been doing much rustc development lately. Who's going to own the work?

[2020-12-09 04:12] cynecx commented on #79768
Perhaps related: https://github.com/rust-lang/rust/pull/79554.

[2020-12-09 04:29] camelid commented on #79768
If #79554 fixes it, then we'll find out in rust-lang/glacier!

[2020-12-09 05:19] camelid commented on #13231
@sourcefrog Usually RFCs aren't updated since there are so many and it would be too much work to keep them up-to-date. But you can open a PR on rust-lang/rfcs and see if indeed it was renamed and they think it's a good idea to update the RFC.

[2020-12-09 06:44] drahnr commented on #79702
Just tested against 1.48 and that works. For some reason my toolchain was stuck at 1.46, but that's a different issue (no overrides present).

Nightly is also producing the expected error message.

I think this is ready to be closed, sorry for the noise.

[2020-12-09 07:08] robs-zeynet commented on #79779
FYI: I just triggered this too on nightly:  (new to rust - apologies if I miss some critical context):

robs@grr:~/git/ned_d_bug/html$ rustup show
Default host: x86_64-apple-darwin
rustup home:  /Users/robs/.rustup

installed toolchains
--------------------

stable-x86_64-apple-darwin
nightly-x86_64-apple-darwin (default)

active toolchain
----------------

nightly-x86_64-apple-darwin (default)
ru

[2020-12-09 07:26] ZacBlanco opened #79852 "Compiler started panicking on build, reverting changes does not stop crashes"
Sorry, I don't have much experience with the Rust compiler yet -- would love to learn more :)

I was working on a project for a class doing some system benchmarking on nightly Rust. Everything was working and after a set of changes I started getting compiler crashes. Still trying to work out exactly what change triggered the crashes. I reverted a bunch of code to a state where I knew it compiled p

[2020-12-09 07:35] ZacBlanco commented on #79852
A brief update:
I saved the state under the `./target` directory somewhere else in case it could be useful, and then tried compiling again with a fresh build directory. With a fresh directory, everything worked fine.

Based on this, I would suspect that somehow some compiled files in the build directory were corrupted? The compressed directory is ~155M. If someone thinks the state of the build dir

[2020-12-09 08:05] hyd-dev commented on #79852
I think this is #79661.
By the way, I'm just a normal Rust user reporting a bug here, but even I noticed that #79661 is duplicated many times.

[2020-12-09 09:22] leonardo-m opened #79853 "[ICE] with const generics without feature"
[code]

Gives:

[code]

[2020-12-09 09:42] matthiaskrgr commented on #79853
This crashes on stable as well, and even on 1.44.
@rustbot label regression-from-stable-to-stable

[2020-12-09 09:55] 12101111 commented on #79800
You need `patchelf` to edit the interpreter path of snapshot toolchain to the prefix one ( maybe `/devtools/linuxbrew/lib/ld-linux-x86-64.so.2`)

[2020-12-09 10:25] GuillaumeGomez commented on #65212
What you're reporting isn't about accessibility but about personal preference: not using a mouse is a choice in most cases. Even though I think the current behavior is completely fine, I suggested to replace `tab` with another key. I don't want to lose the possibility to navigate the docs only with the keyboard, which is currently possible. Having to focus on tabs' title to switch between them is

[2020-12-09 10:49] mati865 commented on #79800
Sounds like more brew issue than Rust one?
I have no idea what brew is but for me seems it makes Rust link to brew shipped glibc. Then binaries are ran outside of brew with system glibc which is older.

[2020-12-09 11:00] lewis6991 commented on #79800
Thanks, I think I've got it to work (TBD), but one issue is that `bootstrap.py` has no option (AFAIK) to fetch stage0 without building. Are there any potential workarounds to this or do we need to modify `bootstrap.py` to make this work?

Brew is just a package manager that builds tools locally without modifying system directories. It's pretty useful for working on machines that don't have root.

[2020-12-09 11:13] LeSeulArtichaut commented on #79852
Closing as duplicate of #79661. Thanks for the bug report!

[2020-12-09 11:13] #79852 closed

[2020-12-09 11:15] mati865 commented on #79800
Bootstrap compiler you are talking about is linked to glibc 2.11 (for increased compatibility). Since your OS provides glibc 2.17 the only place where glibc 2.18 can come from is brew.

[2020-12-09 11:31] lewis6991 commented on #79800
Hmm ok, but FWIW I get this issue when building directly from source (no brew). I can try building with brew packages stripped from `PATH` just to be sure.

The build seems to work when using patchelf:
[code]

[2020-12-09 11:31] #67534 closed

[2020-12-09 11:32] infinity0 commented on #52108
Thanks for the explanation. Setting this feature unconditionally is just a 1-line patch which I am happy to apply in Debian, it is trivial work and I can own that. Or did you mean you wanted to do more things like testing?

[2020-12-09 11:41] #79702 closed

[2020-12-09 12:29] mintty opened #79854 "Add a new cygwin target"
According to the sparse build instructions available, rust should be built by running x.py.
After a bunch of secondary downloads, removing obstacles with curl, it fails at:
error: manifest path `/cygdrive/c/tmp/rust/src/bootstrap/Cargo.toml` does not ex
ist
failed to run: /cygdrive/c/tmp/rust/build/i686-pc-windows-gnu/stage0/bin/cargo build --manifest-path /cygdrive/c/tmp/rust/src/bootstrap/Cargo.

[2020-12-09 12:51] xen0n commented on #52108
@infinity0 I'd prefer to benchmark rustc's performance before and after the global switch, if somehow we could successfully build rustc without the patch (might have to do the benchmark with a previous version of rustc). Or popular applications (think `ripgrep` and such) could be benchmarked for the real-world performance impact of global `-mxgot`.

This benchmark work is not meant to block the on

[2020-12-09 13:54] jyn514 commented on #79854
@mintty something strange is going on in your environment: `bootstrap/Cargo.toml` is part of the repository: https://github.com/rust-lang/rust/blob/master/src/bootstrap/Cargo.toml. Did you modify or rename it?

[2020-12-09 13:57] mintty commented on #79854
No, the file is there.
-rw-rw-r--+ 1 towo Kein 1020 Dec  8 21:23 /cygdrive/c/tmp/rust/src/bootstrap/Cargo.toml

[2020-12-09 14:21] steveklabnik commented on #65212
Even if this is true, what about the cases that are not the "most" case? That would be things like accessibility. Which does matter.

[2020-12-09 14:42] hstefan opened #79855 "panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_metadata/src/rmeta/decoder.rs"
### Code

Unfortunately I don't think I would know how to isolate this properly, especially since the problem went away after a running cargo clean and rebuilding. For what it's worth, I had just modified my build.rs script which looked like this, and the change was that I refactor it into two functions for each generation step which were previously inlined under `fn main`. I also had introduced a

[2020-12-09 15:01] Nanduhirion opened #79856 "Crash in decoder.rs: 'called `Option::unwrap()` on a `None` value', compiler\rustc_metadata\src\rmeta\decoder.rs:1565:75"
### Code

I suppose it has something to do with "clone_into" since this was the last line I added. Before that compiling was successful.

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-09 15:06] wycats commented on #62031
@Dragonphy did you try adding `target/**` to your `files.watcherExclude` in `settings.json`?

[2020-12-09 15:06] apiraino commented on #79853
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/search/79853) and removing `I-prioritize`.

[2020-12-09 15:15] lcnr commented on #79853
this is a duplicate of #67945

will be fixed with `#[feature(min_const_generics)]`

[2020-12-09 15:15] #79853 closed

[2020-12-09 15:20] apiraino commented on #79847
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379847.20ICE.3A.20.22Forcing.20query.20with.20already.20existi.E2.80.A6) and removing `I-prioritize`.

[2020-12-09 15:30] GuillaumeGomez commented on #65212
They can completely use rustdoc without a mouse, which was the whole point of those bindings. Accessibility does matter, I just don't agree with the arguments used here to support this.

[2020-12-09 15:32] kigawas opened #79857 "Cargo bench eats excessive memory on WSL2 ubuntu"
This issue supersedes https://github.com/rust-lang/cargo/issues/8961

## TL;DR

This can be worked around by setting `CARGO_BUILD_JOBS`.

## Description

Briefly, `cargo bench` eats excessive memory on WSL2 with a 10-core 20-thread i9-10900K Intel CPU and 32GB memory, due to:

1. Since the number of CPUs are 20, there will be 20 `rustc` processes and each process would take more than 2GB memory.

[2020-12-09 15:36] jyn514 commented on #79829
@AaronKutch FYI you can fix the invalid syntax by using `=` instead of `==`, I didn't realize the code was invalid until now. Thanks for the bug report though :)

[2020-12-09 15:40] apiraino commented on #79829
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379829.20Stack.20overflow.20from.20malformed.20.60cfg.60.20in.20.E2.80.A6) and removing `I-prioritize`.

[2020-12-09 15:50] apiraino commented on #79791
@rustbot cleanup

also @acatangiu I think it would interesting to have a smaller example to reproduce this. Are you straight compiling Firecracker?

[2020-12-09 16:01] apiraino commented on #79789
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379789.20Segfault.20in.201.2E47.2E0.20and.20newer.20stable.20whe.E2.80.A6) and removing `I-prioritize`.

[2020-12-09 16:06] lewis6991 commented on #79800
After lots of debugging and headaches I can confirm **this is an issue with brew**. Still working out the specifics but stripping brew packages from my `PATH` resolved the issue.

Many thanks for the help.

[2020-12-09 16:06] #79800 closed

[2020-12-09 16:22] apiraino commented on #79787
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379787.20ICE.3A.20improper_ctypes.3A.20Option.20nonnull.20op.E2.80.A6) and removing `I-prioritize`.

[2020-12-09 16:24] ehuss commented on #79857
I don't think this is directly related to benchmarks, but due to const-eval using large amounts of memory due to these lines: https://github.com/ecies/rs/blob/9d893d19b7343aaecd30891f595b2601523dbcbd/bench/simple.rs#L6-L10

I think there are several other issues already open about similar issues, such as #79601, but I'm uncertain of the underlying cause (I'm not familiar with how const-eval works)

[2020-12-09 16:31] kigawas commented on #79857
Well, the array is exactly 200 megabytes, it'd be so hard to perceive that it could use gigabytes :(

Interestingly, this only occurs at `cargo bench`'s building phase inside WSL2 (which means Windows itself is okay).

[2020-12-09 16:34] ngc0202 commented on #79847
It appears to be a regression at nightly-2020-01-13. My (unverified) guess is that it arose in 3ebcfa1451cfedc13a07e6353d8ade9742dfdc2a.

[2020-12-09 16:36] #79661 closed

[2020-12-09 16:42] hstefan commented on #79855
I got "lucky" and the issue happened again, so here are back traces:

## RUST_BACKTRACE=1
[code]

## RUST_BACKTRACE=full

[code]

[2020-12-09 16:44] Manishearth commented on #65212
This ... is an aspect of accessibility. Accessibility is about making your software accessible to the most number of people as possible; this includes people who are used to interacting with the web via keyboard. Even if it's a choice, it might introduce a barrier to entry to deliberately not use the choice (what if you don't even have a mouse attached to your computer and need to find one?)

I do

[2020-12-09 16:58] GuillaumeGomez commented on #65212
You can completely use rustdoc without a mouse (I don't have one for example), this isn't the issue here in my opinion.

Well, we still need to keep that in mind in such discussions.

I have to admit it's a bit hard to read this when I had to fight to keep rustdoc usable even without JS. But I'm glad that it's now an important parameter of rustdoc and that I'm not the only one to think about it. :

[2020-12-09 16:58] apiraino commented on #79609
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379609.20Passing.20.60-C.20panic.3Dabort.60.20still.20attempts.E2.80.A6) and removing `I-prioritize`.

[2020-12-09 17:09] Manishearth commented on #65212
You _theoretically_ can, practically it is hard to discover this keyboard setup and it does not follow norms, so people will not use it.

It is! The default focus behavior of the web! Which is what is used _everywhere_, including on Google Search, which _also has search results and tabs_.

This isn't a hack! This is how _focus works on the web by default_! We would not even have to write code to s

[2020-12-09 17:10] Manishearth commented on #65212
Honestly, the fact that Google works this way should be a strong signal that we should follow suit, since most people using keyboard navigation will be used to doing it the same way there.

[2020-12-09 17:17] dns2utf8 commented on #65212
Hi all,

I was around when @GuillaumeGomez implemented the feature and I have grown quite fond of how it works because it is very intuitive for me.
What would you do with the tab key when it is not bound to tabbing trough the results?
After pressing escape, the tab is free anyways.

Just because Google does something, feels like an ad-hominem argument. Unless you would like rustdoc to collect the

[2020-12-09 17:18] rylev commented on #24157
Triage: this still produces the same diagnostics on the latest stable and nightly.

[2020-12-09 17:22] richkadel commented on #76038
Follow-up note: Rust Coverage via `-Zinstrument-coverage` no longer defaults to `-Clink-dead-code` on any platform. `-Clink-dead-code` is no longer required or recommended when enabling coverage instrumentation.

This only avoids the apparent bug with `-Clink-dead-code` on MSVC, but I believe there is still a bug, somewhere, that may affect other use cases where `-Clink-dead-code` is required.

[2020-12-09 17:33] sersorrel commented on #65212
a data point: i was wildly surprised to find that <kbd>tab</kbd> switches between tabs, and it took me a while to work out that it only happens when the textfield has focus.

i usually use vimium to navigate the search results, which works because the results are just (pairs of) links:

![image](https://user-images.githubusercontent.com/9433472/101664538-dffc3600-3a43-11eb-8029-bb7e479393fc.png)

[2020-12-09 17:33] dillona commented on #79791
searched nightlies: from nightly-2020-07-27 to nightly-2020-12-08
regressed nightly: nightly-2020-08-01
searched commits: from https://github.com/rust-lang/rust/commit/cfc572cae2d1fc381cce476b5c787fd7221af98c to https://github.com/rust-lang/rust/commit/6e87bacd37539b7e7cd75152dffd225047fa983a
regressed commit: https://github.com/rust-lang/rust/commit/c058a8b8dc5dea0ed9b33e14da9e317e2749fcd7

<deta

[2020-12-09 17:34] iximeow commented on #65212
how many people are necessary?

even if the accessibility point is not compelling for some reason, the current tab mechanic has a very surprising behavior: if you begin a search, then empty the box (backspace, or ctrl+a and then backspace), the docs page reverts to the crate documentation as if no search had been done, but focus is still locked to the search bar. the page is visually identical to

[2020-12-09 17:34] richkadel commented on #79625
Just noting for clarification: There are about a dozen cases where HIR data is accessed to generate the MIR (based on a simple regex search `hir.*Body`), most of which are _**not**_ related to coverage.

I'm not sure that the `A-code-coverage` label is necessary, but, regardless, IMO, this issue should impact stabilization of Rust Coverage.

cc: @tmandry @wesleywiser

[2020-12-09 17:35] GuillaumeGomez commented on #65212
Then that is a problem we should address!

Well, you can't get this page if you don't have javascript enabled, so in that sense, it wouldn't improve anything. :laughing:

And it's exactly what I suggest by **replacing** instead of **removing**. The default web behavior exists but requires multiple actions. We can do better than that (like we currently do for example).

Because the page is much sim

[2020-12-09 17:39] petrochenkov commented on #79658
Yes, that's the main thing.
`ExprKind::Struct`, `PatKind::Struct` and `PatKind::TupleStruct` needs to get a `QSelf` field to be able to pass qualified paths further.

Then errors need to be removed from `fn parse_pat_struct` and `fn parse_pat_tuple_struct` + path and qpath branches in `fn parse_bottom_expr` need to be merged.

[2020-12-09 17:41] GuillaumeGomez commented on #65212
@iximeow 1. The whole point here is about prioritization. Until recently, I was mostly alone working on this. @dns2utf8 suggested this new feature, I thought it was nice and would improve everyone's life. Now I realize it didn't, I'm sorry about it but I still want to be able to switch tabs without losing focus on the search bar. We just need to agree on a key to do so and then it's done.

Please

[2020-12-09 17:42] sersorrel commented on #65212
@GuillaumeGomez will do.

another point: in current versions of chrome, without vimium installed, pressing <kbd>esc</kbd> does not release focus from the text field, it cancels the search altogether. so as far as i can see, if you don't use vimium, there's no way to recover the usual behaviour of <kbd>tab</kbd> once you've done a search.

[2020-12-09 17:43] Manishearth commented on #65212
Browsers by default use the tab key for focus, which is an important accessibility property. It would just use the default behavior, which lets you switch through "tabs" and the search results

This was an argument about norms: When people interact with the web, there are norms as to how things work. You can expect to find a search box at the top or top right of the page. You can expect to find a

[2020-12-09 17:46] richkadel commented on #79645
@BenChand - Would you mind retrying this with the latest `nightly`? PR #79109 landed about a week ago. There were several fixes and improvements, including fixes for similar problems. It may work now. If not, at least I know where to start looking. LMK.

Thanks!

[2020-12-09 17:47] Manishearth commented on #65212
I meant no further custom JS.

I understood what you meant. That is more interactions, but what i'm saying is that -- we are not _losing_ the ability to do this, it's just harder (but following web norms, so nobody has to learn them!!), and given that we are currently violating many accessibility guidelines I would like to remove this behavior as soon as possible (there was less urgency for me whe

[2020-12-09 17:50] rylev commented on #40660
Triage: current output is only slightly improved over previous output.

[code]

It's not clear what should improve to make this better. Should we try to detect if `T` implements the trait and if so, suggest dereferencing `&T`?

[2020-12-09 17:52] sherubthakur commented on #70086
I really like the interface haskell's lift functions have
[code]
Maybe we can have something similar in Rust
[code]
Probably the same interface for all applicatives (Iterators, Result, etc).

[2020-12-09 17:52] sersorrel opened #79859 "some buttons on the rustdoc search results page aren't properly marked up"
on the rustdoc search results page, it's not possible to focus the tabs with <kbd>tab</kbd> or activate them with vimium:

![image](https://user-images.githubusercontent.com/9433472/101664538-dffc3600-3a43-11eb-8029-bb7e479393fc.png)

in addition, the "help" button beside the search field is just a plain `<span>`, so you can't focus it with <kbd>tab</kbd>. (the "settings" button is an `<a>`, so th

[2020-12-09 17:54] GuillaumeGomez commented on #65212
up/down is already used to go through items in the current tab, so we'll need another one haha. tab was very convenient for that... Well anyway, let's just pick a key, whichever the one we take and I'll open a PR so we can move on.

[2020-12-09 17:57] rylev commented on #41708
Triage: this still produces the same error message.

Given the concerns voiced above, should this issue stay open? I suppose we could leave this open should someone come up with a clever way to handle this without special casing `AsRef`, but that seems unlikely.

[2020-12-09 17:58] GuillaumeGomez commented on #65212
Just got an idea for the key:

 * ctrl (or shift) + up/down would go through tabs
 * up/down alone go through items in the list

How does that sound?

[2020-12-09 18:00] GuillaumeGomez commented on #65212
@sersorrel It's voluntary (just realized it). The search page results is supposed to be switched into/out quickly by using escape or focusing on the search bar. We should really add all the rustdoc interactions into the help... I'll do that once we've settled down here.

[2020-12-09 18:01] spearman commented on #65212
My expectation is that arrow keys are for scrolling and tab is for selecting. It took me some time to get used to rustdoc doing things differently.

[2020-12-09 18:02] iximeow commented on #65212
shift + up/down should be a non-option: shift+up will select the text being searched for.

why must the list of tabs be a cyclic? is going from the third tab to first tab in one keystroke a common task?

i do not understand why tab cannot move focus from the third tab to the first item in the selected tab of results

[2020-12-09 18:02] Manishearth commented on #65212
@GuillaumeGomez that seems great! It seems a little unintuitive to me but that is fine, I don't think tab-switching is a particularly common operation. If you're okay with people learning the key combos I'm all for it.

[2020-12-09 18:06] rylev commented on #40990
Triage: this still returns the same error above (the one not labeled as nll).

This issue also stems from the fact that by default, borrowed return types in methods get the same lifetime as &self which is distinct from the lifetime of arguments. Adding a note to this effect can also help. Something like:

[code]

[2020-12-09 18:06] oli-obk commented on #41708
We have diagnostic items nowadays, so we can make `AsRef` a diagnostic item and detect in in these situations. Though I'm not sure how easy it is to detect. The error may get reported far too late

[2020-12-09 18:07] Manishearth commented on #65212
I think I can explain this, @GuillaumeGomez wants a way to go through search results without having to defocus the search field, so that you can keep typing

[2020-12-09 18:09] GuillaumeGomez commented on #65212
Not if you in a input field. And that problem will be solved when we'll stop tab-locking. ;)

Good point, ctrl+arrows then!

That's a completely different behavior. But since we won't have tab-lock anymore, it'll now be possible so I guess it's all good? You'll have the choice between using rustdoc events through the search input or you can simply use the normal events by unfocusing the search inp

[2020-12-09 18:09] iximeow commented on #65212
ah, so pressing enter to (say) select an alternate tab would be out of the question since it would defocus? i can see that

[2020-12-09 18:09] sollyucko commented on #70086
Would `lift` be equivalent to `map` and `lift2` equivalent to `zip_with`?

[2020-12-09 18:16] katie-martin-fastly commented on #65212
Hello! Pardon the late response. As mentioned above, I would like to reiterate that `Tab` is not only a conventional choice for navigating through lists such as this, but also a _specified_ best practice for web accessibility. The W3C Working Groups's Authoring Practices says [the following](https://www.w3.org/TR/wai-aria-practices/#grid).

I will try not to rehash the accessibility discussion abo

[2020-12-09 18:18] rbalicki2 commented on #65212
I use vimium for navigation and browser use. I find the rust docs to be very amenable to use of a keyboard with vimium.

[2020-12-09 18:21] dns2utf8 commented on #65212
Could you @Manishearth and @katie-martin-fastly implement it? Since you seem more knowledgeable in this area.

[2020-12-09 18:28] Manishearth commented on #65212
@dns2utf8 I mean, we were suggesting switching to the default behavior of the browser, so there's nothing new to implement, just code to use. I'm happy to do this or implement Guillaume's proposed keyboard shortcuts but it seems like he's already working on it? If not, happy to do this myself.

There's a follow-up I'd like to experiment with which I'll implement, but I'll do that once we resolve t

[2020-12-09 18:28] frewsxcv commented on #79726
The Rust book has more information on a trait's "associated types":

- https://doc.rust-lang.org/book/ch19-03-advanced-traits.html#specifying-placeholder-types-in-trait-definitions-with-associated-types

If you have any more questions, let us know!

[2020-12-09 18:28] #79726 closed

[2020-12-09 18:39] spastorino commented on #73337
This happened to me a lot in the past with a slower and less RAM notebook. I usually ended doing `-j 1`

[2020-12-09 18:41] sherubthakur commented on #70086
@sollyucko yeah!

[2020-12-09 18:53] GuillaumeGomez commented on #65212
Arf, another issue? :-/

[2020-12-09 18:58] mark-i-m commented on #73337
As a data point, I recently upgraded my laptop from 8GB to 24GB and rustc build is much much faster now. The sweet spot seems to be something like 10-12GB...

[2020-12-09 18:58] BenChand commented on #79645
@richkadel - I've retried with `nightly-2020-12-09` and it seems to work now!

[2020-12-09 19:03] katie-martin-fastly commented on #65212
While I appreciate the invitation to do so, I have very little familiarity with the internals of `rustdoc`, and unfortunately very little bandwidth to contribute as of late. I _do_ want to make a note of appreciation for all of the work that goes into maintaining this project, but I should disclaim that I was offering a comment describing my experience from the perspective of **(a)** a user of the

[2020-12-09 19:05] Manishearth commented on #65212
Nothing pressing, I just have ideas for how we can be _even better_ here and want to experiment. I'll open PRs if I find something that works well

[2020-12-09 19:05] richkadel commented on #79645
@BenChand - Great! Feel free to close this issue if you are satisfied. Thanks!

[2020-12-09 19:10] jyn514 commented on #79859
cc https://github.com/rust-lang/rust/issues/65212

[2020-12-09 19:30] #79645 closed

[2020-12-09 19:54] richkadel commented on #79121
Just a quick note to the compiler team and interested contributors:

As of today, I'm going to be much less active on **_Rust Coverage_**, due to other work priorities.

I believe the implementation is essentially "complete" (including [detailed documentation in the Rust Dev Guide](https://rustc-dev-guide.rust-lang.org/llvm-coverage-instrumentation.html#llvm-and-covmap-versions) that should help f

[2020-12-09 19:56] rohitjoshi opened #79864 "'rustc' panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_middle/src/ty/query/mod.rs:235:5"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-09 20:05] tarcieri opened #79865 "Miscompilation of AVX2 code under --release"
Apologies for not having a minimal reproduction, but this was an extremely difficult bug to even isolate occurring inside some complicated AVX2 code.

The bug is causing the wrong values to be computed. Whether or not it occurs depends on the following conditions:

- With `target-cpu` unset, the bug does NOT occur in debug builds, but DOES occur with `--release`
- With `target-cpu=haswell`, the bu

[2020-12-09 20:05] mati865 commented on #73337
It depends on how many threads you are using, for 16 thread CPU this is quite low.

[2020-12-09 20:16] tarcieri commented on #79865
If this is helpful, this is the code closest to where the problem is occurring:

[code]

[2020-12-09 20:22] virtualritz opened #79866 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_middle/src/ty/query/mod.rs:235:5"
### Code

I am not able to nail this down to a specific line, unfortunately.
[code]

### Meta
Builds fine on `stable` and `beta`.

Kicks the bucket on `nightly`.
`rustc --version --verbose`:
[code]

### Error output

[code]

[2020-12-09 20:24] wesleywiser commented on #79121
Thanks for your work on this @richkadel!

[2020-12-09 20:27] Aaron1011 commented on #79864
I think this is a duplicate of https://github.com/rust-lang/rust/issues/79661. If so, it will be fixed in the next nightly.

[2020-12-09 20:33] camelid commented on #79779
@robs-zeynet At this point the most helpful information would be a small example that reproduces the crash and doesn’t depend on external libraries. If your code is small and you can share it, that would be great!

[2020-12-09 20:35] Aaron1011 commented on #79779
I suspect that this is a duplicate of https://github.com/rust-lang/rust/issues/79783, and will be fixed by https://github.com/rust-lang/rust/pull/79810

[2020-12-09 20:36] jyn514 commented on #79865
@rustbot ping llvm

[2020-12-09 20:44] GuillaumeGomez commented on #79859
So replacing that with `<a>` would fix them? Well, I'll make the PR tomorrow then!

[2020-12-09 20:47] tarcieri commented on #79865
I found a workaround for this issue which suffices for my purposes, but also hopefully helps track down the bug.

The miscompilation was occurring inside of a lambda.

I extracted the lambda(s) into named functions and that worked around the problem successfully:

https://github.com/RustCrypto/universal-hashes/pull/97/commits/b5abdc1ce11b7e6715a26ade1ecfad441d898b7d

[2020-12-09 21:15] jounathaen commented on #79866
I have probably the same bug but on a different architecture. I think it already happened with 2020-12-06.
[code]
And with a Backtrace but maybe not 100% the same error:

[code]

Only happens ocasionally

[2020-12-09 21:37] camelid commented on #79865
This is **unsound** and it **impacts cryptographic code**, so we decided on `P-critical`.

Assigning `P-critical` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379865.20Miscompilation.20of.20AVX2.20code.20under.20--rel.E2.80.A6) in the prioritization working group.

[2020-12-09 21:45] camelid commented on #79866
Duplicate of #79661.

The fix has been merged, the next nightly (2020-12-09) should have the fix.

[2020-12-09 21:45] #79866 closed

[2020-12-09 21:45] camelid commented on #79864
Duplicate of #79661.

[2020-12-09 21:45] #79864 closed

[2020-12-09 21:46] camelid commented on #79855
Duplicate of #79661.

The fix should be in the next nightly (2020-12-09).

[2020-12-09 21:46] #79855 closed

[2020-12-09 21:49] camelid commented on #79856
Duplicate of #79779.

[2020-12-09 21:49] #79856 closed

[2020-12-09 21:51] camelid commented on #79783
I've seen several people run into this bug, so I requested prioritization.

[2020-12-09 21:52] camelid commented on #79779
Closing as a duplicate of #79783. Of course reopen if the fix for that one doesn't fix your issue!

[2020-12-09 21:52] #79779 closed

[2020-12-09 21:58] camelid commented on #79786
cc #79835

[2020-12-09 21:59] camelid commented on #79833
Actually I believe this is a duplicate of #79783.

[2020-12-09 21:59] #79833 closed

[2020-12-09 22:00] mzanrosso commented on #79558
Sorry for the delay in answering you;  at the moment I don't have the possibility to test it with more ram

[2020-12-09 22:00] nagisa commented on #79789
SIGSEGV in LLVM is usually an indication of an LLVM assert firing. MVCE is one way to narrow this down, using LLVM with assertions enabled to obtain the assertion message may be another way to sufficiently narrow this down.

[2020-12-09 22:08] mark-i-m commented on #73337
I have 4 cores, 8 threads.

[2020-12-09 22:09] jyn514 commented on #79558
@mzanrosso could you get a stack trace in that case? With GDB it would look like this:

[code]

[2020-12-09 22:12] joshtriplett commented on #79837
@carado Please don't use `.intel_syntax` or `.att_syntax` inside the asm string. `asm!` already uses Intel syntax (with the "noprefix" option) by default, and if you want to switch to AT&T syntax, you should use the `asm!` option `att_syntax` (like this: `asm!("...", other, params, att_syntax)`). LLVM understands assembly syntax, and needs to know what syntax it's using to do substitutions properl

[2020-12-09 22:13] sharnoff opened #79868 "Stdlib docs: Add note about getting TypeId of Box<dyn Any> ?"
Hello! There's an issue that I've run into a couple times using `std::any::Any`, and I figured it would be nice to have a small section in the documentation for the module about this particular behavior.

Essentially, when we have a value of type `Box<dyn Any>`, and we'd like to check the type id of the underlying value (i.e. not the type id of `Box<dyn Any>`), we can't just use `value.type_id()`.

[2020-12-09 22:14] joshtriplett opened #79869 "asm! should catch attempts to use `.intel_syntax` or `.att_syntax` and suggest appropriate options instead"
People used to gcc/clang inline assembly may try using the `.intel_syntax` or `.att_syntax` directives directly in the assembly string, which can cause issues. Ideally, we should detect attempts to use those directives. Attempting to use `.intel_syntax` should generate an error stating that that's the default. Attempting to use `.att_syntax` should generate an error and point to the `att_syntax` o

[2020-12-09 22:14] infinity0 commented on #52108
OK that makes sense. Currently in Debian we are successfully building rustc without the global switch, and to my knowledge we are only applying it for the rustc builder program ("bootstrap"/"x.py") and now cargo 0.47.

So, I could apply the global switch to the current version of rustc in Debian so you can compare the same version 1.48.0 with (1.48.0-dfsg1-2) or without the switch (1.48.0-dfsg1-1)

[2020-12-09 22:15] cuviper commented on #79865
meta: I thought `I-unsound` was more about language issues -- are all LLVM codegen bugs going to be flagged this way?

[2020-12-09 22:15] sersorrel commented on #79859
i think so, though you'd also need to specify a `href` to get them to be tab-focusable, i think (imo `<button>` might be more semantically correct, though i'm no expert; that also comes with more potential styling issues). there are also [a couple of css rules](https://github.com/rust-lang/rust/blob/c16d52db7778fba1c8b6c07b06510cfd6c32ae4f/src/librustdoc/html/static/rustdoc.css#L1270) specific to

[2020-12-09 22:18] camelid commented on #79868
Hmm, what do you mean? It seems you've already done the work to explain it, so you might want to just open a PR :)

[2020-12-09 22:19] ffrogman commented on #79847
For what it's worth here is the same crash a bit simpler:

[code]

[2020-12-09 22:19] camelid commented on #79865
@cuviper I think `I-unsound` is generally used for miscompilations as well.

[2020-12-09 22:23] sharnoff commented on #79868
Haha - what I mean is that I'm not sure whether this is something that the docs team would agree to adding (or, if there should be anything else done in addition or instead). I'll open a PR :)

[2020-12-09 22:23] mzanrosso commented on #79558
I have never used this tool, is the cargo backtrace okay with you?

[2020-12-09 22:24] carado commented on #79837
Thank you for taking the time to answer.

The reason I wanted to do that is because I would actually like to use intel syntax for everything, but as I cannot get `mov [rsp], 3f` to work in Intel, I thought I'd do something like
[code]
(which seems to work okay with various other instructions; just not ones that have a `$` in them)

When I do this even with simple asm, I get:
[code]
(and the `RUSTF

[2020-12-09 22:25] jyn514 commented on #79558
RUST_BACKTRACE won't give you any information because this comes from a segfault. If you're more comfortable using a different debugger that would work too but you won't get it just from environment variables.

[2020-12-09 22:35] joshtriplett commented on #79837
@carado Sorry, that should be `options(att_syntax)`, not just `att_syntax`: `asm!("...", other, params, options(att_syntax))`.

[2020-12-09 22:36] joshtriplett commented on #79837
Here's an example of how to accomplish what you want using the default Intel syntax: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fea104d10cf74d216e38b69bcb76052a

[code]

[2020-12-09 22:43] carado commented on #79837
Thanks! `asm!("movabsq $3f, [%rax]", "3:", options(att_syntax));` does compile, so I guess I can just use that and convert the rest of my asm to AT&T if I can't get Intel to work.

As for `lea {addr1}, 1f[rip]`, this is syntax I'm unfamiliar with. It does compile, though `lea [rsp], 1f[rip]` doesn't (I'm not sure what `[rip]` does here ? The `rip` register shouldn't need to be accessed to just ins

[2020-12-09 22:45] #79837 closed

[2020-12-09 22:49] joshtriplett commented on #79837
@carado These days, many programs use position-independent code (for many reasons including the use of ASLR for security), so they do all addressing relative to the instruction pointer. You need that syntax to obtain the appropriate address when you're in position-independent code. If you're compiling position-dependent code (which you usually shouldn't), you can just directly move `1f`, but if yo

[2020-12-09 22:52] mzanrosso commented on #79558
I am trying `cargo with gdb - run` but i get the same error

[2020-12-09 22:52] joshtriplett commented on #79837
@carado As for loading into `[rsp]`, the reason that doesn't compile has nothing to do with AT&T or Intel syntax; you can't `lea` directly into a memory location, you have to do it into a register first. (Most x86 instructions don't accept two memory addresses; you have to do memory-to-register and then register-to-memory.)

[2020-12-09 23:00] GuillaumeGomez commented on #79859
I'll find a way, don't worry. ;)

[2020-12-09 23:07] dillona commented on #79789
https://github.com/rust-lang/rust/commit/596b0d5027bfb1b5835e17a25f56b00a1f6ff95f seems to have resolved the issue, so presumably it's a bug present in LLVM 11 RC2 and fixed in final.

[2020-12-09 23:12] carado commented on #79837
Thank you again for the help.

I don't get a linking error when compiling
[code]
in fact, this code works fine, and gdb confirms that the correct absolute address of `3:` is loaded into `rax`
[code]
I am merely trying to write the Intel equivalent of `movabsq $3f, [%rsp]`.

[2020-12-09 23:32] carado commented on #79837
Oh, apparently it just isn't possible to move a 64-bit immediate to memory pointed to by a register.
I guess `movabsq $3f, [%rsp]` must truncate it (and thus be indeed incorrect).

[2020-12-09 23:41] camelid opened #79872 "rustdoc: Don't override system keyboard shortcuts for search results tab-switcher"
Once #79862 is merged, rustdoc will be overriding the macOS system keyboard
shortcuts <kbd>Ctrl-↑</kbd> and <kbd>Ctrl-↓</kbd> (Control–Up Arrow and Control–Down Arrow).

Personally, I don't use these shortcuts, but I imagine others do. We should find
different key combinations that won't override system shortcuts.

*See the discussion around <https://github.com/rust-lang/rust/pull/79862#issuecomme

[2020-12-09 23:47] camelid commented on #79636
Don't feel like this should be closed! It's important and helpful that you filed this so that we can smooth this feature out – even though it's unstable, this is still a bug that should be addressed :)

[2020-12-09 23:48] camelid commented on #79636
@rustbot glacier "https://gist.github.com/rust-play/43200608c0a841165c57ab660029b4f1"

[2020-12-09 23:49] kolbma commented on #76930
Release build works currently `rustc 1.50.0-nightly (1700ca07c 2020-12-08)`.
But in **debug** build there are many undefined refs to `abort` and `memcpy` during linking.

[2020-12-09 23:53] joshtriplett commented on #79837
@carado The intel-syntax equivalent would be `mov rax, offset 3f`, but it looks like LLVM doesn't accept that, though GCC does. I'll file bugs on that.

[2020-12-09 23:59] RustyYato opened #79873 "Associated types weirdness"
I have two code snippets [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ee9edf7f1486729032d7c8a3e28e9f14)

[code]

[code]

The only difference between them is, in the first one I bind the associated type to a type parameter, but not in the second snippet. I would expect that these two should either both compile, or both fail to compile because there isn't anyt

[2020-12-10 00:06] joshtriplett opened #79874 "asm! doesn't accept `offset` syntax, but gcc does"
In Intel-syntax assembly, to refer to the address of a symbol rather than the memory pointed to by that symbol, you have to write `offset symbol` rather than just `symbol`. For instance, `mov rax, 1f` is equivalent to `mov rax, qword ptr 1f` and moves the memory pointed to by `1f` into `rax`, while `mov rax, offset 1f` moves the address of `1f` into `rax`.

GCC and GAS accept this syntax. However,

[2020-12-10 00:08] joshtriplett commented on #79837
Filed as https://github.com/rust-lang/rust/issues/79874

[2020-12-10 00:12] joshtriplett commented on #79874
It looks like this is https://bugs.llvm.org/show_bug.cgi?id=32530

[2020-12-10 00:12] djmarcin opened #79875 "ICE compiling dashmap"
This is just a copy/paste from the compiler error output. I'm running rust via bazel, not cargo, using nightly-2020-12-08.
[code]

[2020-12-10 00:13] Subsentient opened #79876 "impl blocks in private modules visible on a public struct"
It seems that if the type is visible, an impl's pub methods can be used, even if such an impl is encased in multiple private modules.

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=bf21f358b4b57075d1243a3b07d93da9

[2020-12-10 00:15] camelid commented on #79875
Duplicate of #79661. Should be fixed in the next nightly (2020-12-09).

[2020-12-10 00:16] joshtriplett commented on #79837
Until that issue is fixed (which will likely require fixing LLVM first), you have three options: use AT&T syntax, use an `lea` instruction (`lea rax, 3f`), or use position-independent code and an `lea` instruction. A worked example of the latter:

[code]

This loads the address of label `3f`, jumps to it, and uses `value` to prove that the jump worked; the program will print `1`.

[2020-12-10 00:16] jonas-schievink commented on #79876
This is working as expected, `impl`s are always as public as the type/trait they're for.

[2020-12-10 00:16] #79876 closed

[2020-12-10 00:18] Subsentient commented on #79876
Is there anywhere this is documented? I've been looking, I can't find that behaviour listed anywhere.

[2020-12-10 00:20] jonas-schievink commented on #79876
Doesn't look like it

[2020-12-10 00:21] Subsentient commented on #79876
Then that's obviously an issue in and of itself.

[2020-12-10 00:27] jyn514 commented on #79874
A workaround is to use `lea` instead of `mov`.

[2020-12-10 00:34] jyn514 commented on #79857
@camelid this is unrelated to libtest or benchmarking, it's about compile times.

@kigawas can you confirm whether you have the same issue with `cargo bench --no-run`?

[2020-12-10 00:42] #65212 closed

[2020-12-10 00:42] #79725 closed

[2020-12-10 00:42] #79748 closed

[2020-12-10 01:20] kigawas commented on #79857
I'll update the result about 8 hours later

[2020-12-10 01:48] Subsentient opened #79878 "Missing/misleading documentation on impl block visibility"
It seems that if the type is visible, an impl's pub methods can be used, even if such an impl is encased in multiple private modules.

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=bf21f358b4b57075d1243a3b07d93da9

I cannot find anywhere in the documentation, hell, even Google, where this behaviour is documented correctly. Only after opening  #79876 did I find out that t

[2020-12-10 02:25] ZainlessBrombie opened #79879 "Strange lifetime compiler bug"
The following code:

[code]
Gives this error:
![image](https://user-images.githubusercontent.com/14111053/101712550-0f3b9300-3a96-11eb-8791-71f2bf20bf6a.png)

I expected to see this happen:
Given that the invocation should be legal, I expect this to compile without issues :)

Instead, this happened: Compiler error above. Note that the variable flows into itself, which seems strange

### Meta

Test

[2020-12-10 02:28] calebzulawski commented on #79778
Okay, I think I misunderstood what that bound was representing.  Perhaps it could be be possible to indicate that a bound is always valid?  In my example above, `N / 8` is always valid.

[2020-12-10 02:31] FourLeafTec opened #79880 "Strange build error on vscode-remote terminal with multipass"
I have a very strange build error.
I can't judge whether it is a rust build problem or a vscode-remote problem or a multipass problem.

I‘m working on a macOS Big Sur with intel core, then I have a ubuntu install with multipass on it, and then i build rust on the ubuntu.

Then i use `multipass mount` command mount my code on ubuntu.

If i use `multipass shell` or `ssh` login my ubuntu,then `cargo

[2020-12-10 02:36] ZainlessBrombie commented on #79880
Could you check if your VSCode - remote - login actually uses the "ubuntu" user remotely?

[2020-12-10 02:38] jnqnfe opened #79881 "Improve `std::time::Instant` documentation - OS behavior"
The following piece of documentation from `std::time::Instant`, which comes from PR #72836 via issue #48980, does not make sufficient sense and is not sufficiently helpful:

[code]

The parameters to `Duration::new()` are the number of seconds and the number of nanoseconds. Here we seem to be giving a quantity in nanoseconds as the number of seconds, and with that quantity representing... well, fr

[2020-12-10 02:42] FourLeafTec commented on #79880
@ZainlessBrombie

I checked it,my vscode-remote login uses the "ubuntu" user

with vscode terminal:
[code]

[2020-12-10 02:46] ZainlessBrombie commented on #79880
Ok silly question - if you cd with vscode-remote into the directory `/home/ubuntu/work/toll_gate/code/tgobs/target/debug/deps` and do ls -alF - does it work and look normal? Can you cat it, even?

[2020-12-10 02:52] FourLeafTec commented on #79880
@ZainlessBrombie
It look normal
<details><summary>ls -alF</summary>
<p>
ubuntu@ubuntu-16-lts:~/work/toll_gate/code/tgobs/target/debug/deps$ ls -alF<br>
total 424832<br>
drwxrwxr-x 1 ubuntu ubuntu    15904 Dec 10 10:25 ./<br>
drwxrwxr-x 1 ubuntu ubuntu      320 Dec 10 10:29 ../<br>
-rw-rw-r-- 1 ubuntu ubuntu     7862 Dec  8 11:43 aho_corasick-4441487e9707ee36.d<br>
-rw-rw-r-- 1 ubuntu ubuntu      5

[2020-12-10 03:11] #52607 closed

[2020-12-10 03:29] xen0n commented on #52108
Sure, thanks for the information!

Yes that's the way to do it. I'm not quite sure if linking with `std` built with different `xgot` setting would work though; last time I investigated was long ago.

[2020-12-10 03:38] jnqnfe commented on #79881
To address the first issue, we could start with this:

[code]
The original `u64::MAX / 1_000_000_000` is approximately `18_446_744_073`. We could thus just round to `20_000_000_000`, which is well within the `u64` range and being a fraction larger than that in the example will still trigger the issue. We ditch the `max_nanoseconds` nonsense with this change.

Alternatively, we could try to calcula

[2020-12-10 03:56] thomcc commented on #79881
This feels like it would be somewhat out of our control if it were to change, and also doesn't seem like a very useful thing to require for `Instant`. offsets of a hundred of year feels pretty clearly outside the realm of usefulness[0] for Instant.

At least, it's not something that it feels like we'd want to make tradeoffs in favor of, nor is it one we'd want to be in the business of guaranteeing

[2020-12-10 03:57] camelid commented on #79880
@FourLeafTec Can you provide a short example that reproduces the problem? It is hard to debug otherwise.

[2020-12-10 04:03] camelid commented on #79879
Correct, you only need a backtrace if the compiler crashes.

-----

I don't know enough about lifetimes to confirm that this should work, but the diagnostics are definitely weird. Here's a more minimal example:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=fd6882fa8b385bf0c160693a00f0723a))

Errors:

[code]

[2020-12-10 04:09] camelid commented on #79879
It seems the reason my minimal example fails to compile is that the compiler is not able to infer the lifetimes properly. This fixes my minimal example:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7d75b46f4a953f19a8dcfd963ce804b9))

[2020-12-10 04:09] jnqnfe commented on #79881
@thomcc, I completely agree that adding such large time durations is probably not going to be done in practice. In terms of the test, I was not suggesting that we provide any guarantee as you describe, I was suggesting that we provide a suggestion of what might be possible as per the last block of text I wrote, and use the test as a canary to warn us if the situation ever changes, such that we can

[2020-12-10 04:10] camelid commented on #79879
However, if I add explicit lifetimes to your original code, the compiler produces this error:

[code]

Now that I see the error, I think your code is actually incorrect. (Correct me if I'm wrong on that!) The diagnostics still need to be fixed though.

[2020-12-10 04:22] ZainlessBrombie commented on #79879
Yes my apologies, my code *is* incorrect - the problem is the incorrect message :)

[2020-12-10 04:24] ZainlessBrombie commented on #79879
However the issue I *meant* to report is not reproduced by my example (the incorrect message prevented me form realizing that ;) )

[2020-12-10 04:31] Manishearth commented on #79872
Not a fan of overriding system shortcuts, but I do think this is less pressing than the tab issue. Wondering what suggestions people have.

[2020-12-10 04:50] jacobchrismarsh commented on #68125
@rossmacarthur there's some more great discussion in that issue as well. It definitely flipped my opinion. While `reduce` is what my heart wants, it looks like `fold` and `reduce` are used pretty interchangeably, and as such Rust should stick with `fold` and `fold_first`. Especially if `rfold_first` gets added to the API.

[2020-12-10 04:59] FourLeafTec commented on #79880
@camelid

[Example](https://github.com/FourLeafTec/test_for_79880)

Sorry for a such long example.
I had try to make a more simple example,but can not reproduces the problem.

[2020-12-10 05:08] joshtriplett commented on #79874
That's true, but `lea` has disadvantages as well: you can't `lea` into a memory destination, whereas you *can* `mov` into a memory destination as long as you have a constant source.

[2020-12-10 05:31] mbartlett21 commented on #79879
@camelid

Here is a fairly simple example:
It works with shared borrows, but not mutable ones:
[code]

Output:
[code]

[2020-12-10 06:17] camelid commented on #79879
@mbartlett21 That example appears to trigger a different issue. Please open a new issue so we can discuss it separately.

[2020-12-10 06:34] jnqnfe opened #79885 "Tracking Issue for 'ordering helpers'"
Feature gate: `#![feature(ordering_helpers)]`

This is a tracking issue for the 'ordering helpers' feature, which sets out to add some simple helpers to `Ordering` such as `is_ge()` for checking whether an instance of `Ordering` is 'greater than or equal' (is the `Greater` or `Equal` variant, not the `Less` variant).

### Public API

[code]

### Steps / History

- [x] Implementation: https://githu

[2020-12-10 06:35] mbartlett21 opened #79886 "Mutable reference doesn't coerce to a smaller lifetime"
I tried the code below.
The one that uses immutable references works and coerces to a smaller lifetime, but the one that uses mutable references doesn't.

[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=29dccd757cfabaf01461ab01877aaae0))

Output:
[code]

### Meta
`rustc --version --verbose`:
[code]

(reposted from https://github.com/rust-lang/rust/issue

[2020-12-10 06:51] rossmacarthur commented on #68125
Yeah, it's also my concern that `reduce` seems to be quite an overloaded term. As for `rfold_first` / `rfold_with_first`, would it make more sense for it to be `fold_last` / `fold_with_last` 🤔? I

[2020-12-10 06:54] rossmacarthur commented on #68125
Also I think discoverability is not really a concern. I think it would be very easy to make it so that `reduce` links to these functions in the documentation. This already works actually:

![image](https://user-images.githubusercontent.com/17109887/101732013-3198d500-3ac5-11eb-8794-95bc518c34c1.png)

[2020-12-10 07:18] pickfire opened #79887 "I-labels should have 'Issue' in the description"
I noticed that `I-slow` and friends labels does not have `Issue: ` as part of the description, having it would make it more consistent with the rest and being clearer what is `I`.

[2020-12-10 07:30] burrbull opened #79888 "compile_error in const fn with condition"
This code can't be compiled.
[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0cccbd21f7671757acd8112152ce916d

I think that such behaviour is wrong.

[2020-12-10 07:37] gomain commented on #78403
I ran into this and narrowed down to [this code](https://github.com/gomain/rust-build-hang-recursive-iterator-plus-clone)...
[code]
Interestingly, it was _collection from a clone_ that pushed the compiler hang. This code results in the _recursion limit_ error.
[code]

[2020-12-10 08:29] branan opened #79889 "VTables which end up in the data segment are miscompiled on AVR."
The following code snippet should light the pin 13 LED when compiled for the atmega328 and run on an arduino.  It does not. This is possibly related to #74743, and potentially also avr-rust/rust-legacy-fork#47. I initially found this while trying to implement a `RawWakerVTable`, so it is not restricted to compiler-generated vtables - any function pointers which are stored in the data segment are a

[2020-12-10 08:52] hellow554 opened #79890 "Failed to recover key for type_of with hash"
This seems to be an incremental error‽
We need an external crate for this to work. Haven't managed it to work in an internal mod only :/
Also this only happens with `cargo test`. Haven't managed to get it running with `cargo check` sadly

### Code

extern crate (let's call it f)
[code]

code
[code]

Then just remove and add `f::F` afterwards again (or the other way round, it doesn't matter).

This

[2020-12-10 08:56] ch-sc opened #79891 "Compiler panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_middle/src/ty/query/mod.rs:235:5"
I believe the compiler error started to occur after doing the following:
I added dependency `lazy_static = "1.4.0"` to `cargo.toml` and use its `lazy_static` macro in 2 files like shown in the code section of this bug report.

I can workaround the compiler error with `cargo clean` and then `cargo build`. Though, after a couple of builds the error re-emerges.

### Code

[code]

### Meta

`rustc --v

[2020-12-10 08:58] hellow554 commented on #79890
searched nightlies: from nightly-2020-12-08 to nightly-2020-12-10
regressed nightly: nightly-2020-12-10
searched commits: from https://github.com/rust-lang/rust/commit/1700ca07c6dd7becff85678409a5df6ad4cf4f47 to https://github.com/rust-lang/rust/commit/f0f68778f798d6d34649745b41770829b17ba5b8
regressed commit: https://github.com/rust-lang/rust/commit/fa55f668e5ea5388ec98b9340969527252239151

<deta

[2020-12-10 09:28] oli-obk commented on #79778
I guess some kind of opt out of the system could be reasonable. I'm trying to come up with an example in the type system and trait bounds that have a similar situation. I guess it's when you do `impl<T> SomeTrait for T`, you always have access to `SomeTrait`, even if you did not specify that bound. We should figure out all things like this in the trait system, look at how this could be used in typ

[2020-12-10 10:12] okpatil4u opened #79894 "Compiler Panicked when compiling tutorial application of safer_ffi"
While compiling [safer_ffi](https://github.com/getditto/safer_ffi) tutorial example, I encountered following panic

[code]

[2020-12-10 10:23] newpavlov commented on #79778
@oli-obk
I think the trait analogy should be applied a bit differently. Let's take a look at the following example:
[code]
A trait analog of this function is:
[code]
We don't need the sized bound here because, contrary to the `bar` constant function, we are sure that `Bar<N>` will always evaluate to a valid type (and we do not care about preventing "too big" errors using bounds). A general `const

[2020-12-10 10:30] niklaslong commented on #79891
I have encountered this error as well. I'm not sure what code might have triggered it (it happened right after the addition of a couple `dbg!` calls, though this was likely coincidental).

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details>
<summary>Backtrace with relevant notes</summary>
<br>

[code]
</details>

[2020-12-10 10:42] GuillaumeGomez commented on #79872
Wouldn't replace `ctrl` with `cmd` on mac be enough? It's generally what's done for most shortcuts. I just need a confirmation before making the fix.

[2020-12-10 11:00] SkiFire13 commented on #79886
I think this is working as intended, since `'a` appears inside an `&mut` reference (that `&mut ScopedMut<'a>` inside the `Option`) then `ScopedMut<'a>` is [invariant](https://doc.rust-lang.org/nomicon/subtyping.html) with respect to `'a`. The reason is that you could replace that `ScopedMut<'a>` with a `ScopedMut<'b>` were `'a: 'b` but then later read the original `ScopedMut<'a>` as if it has life

[2020-12-10 11:05] oli-obk commented on #79778
we do not care about these for constants either.

Ah, I do see how my post was actively misleading. I am not trying to have termination guarantees or similar here, but had something like bound checks failing in mind. Example:

[code]

Here we will fail to compile `foo`, because `N` does not satisfy `Cake`, so we have to bubble up `Cake`, because that's a requirement for `Bar` to be well formed.

S

[2020-12-10 11:35] Vooblin commented on #71723
Okay, then I'm assigning myself to this problem. If anyone is working on this I will unassign myself

@rustbot claim

[2020-12-10 11:37] danielhenrymantilla commented on #79894
Duplicate of #75982 (and #75957, #75987). The issue has been fixed in latest `nightly`, and I think that in latest `beta` too, sadly it hasn't yet landed on stable, we will have to wait for the nest stable `release` in January.

So the current workaround is to pin the compiler version to _before_ the regression (`1.46.0`) or to _after_ the fix (`beta`).

[2020-12-10 11:46] newpavlov commented on #79778
I understand and fully support the desire to promote approaches which result in a more reliable code. But we should carefully weight cost in ergonomics and improvements which will be achieved in practice. I do not oppose the cautious approach of introducing a more conservative system first and then gradually relax it. I just argue about a general direction. I simply do not see a principal differen

[2020-12-10 12:02] #79894 closed

[2020-12-10 12:03] jonas-schievink commented on #79886
Yeah, working as intended

[2020-12-10 12:03] #79886 closed

[2020-12-10 12:06] jonas-schievink commented on #79888
This works as expected. `compile_error!` causes an error during macro expansion.

[2020-12-10 12:06] #79888 closed

[2020-12-10 12:30] mbartlett21 commented on #79886
Ok. It seems to be when mutable references or UnsafeCell are involved. This fails to compile:

[code]

Here is an example of something that is very bad:

[code]

Should the error possibly be improved to explain that mutable references cannot be coerced to a smaller lifetime and give an example?

[2020-12-10 12:53] rust-highfive opened #79897 "`miri` no longer builds after rust-lang/rust#79621"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#79621, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @usbalbin, do you think you would have time to do the follow-up work?
If so, that would be great!

[2020-12-10 13:49] jyn514 commented on #78835
On the next bootstrap bump, I plan to switch the standard library from using `doc(include)` to `doc = include_str!`. Unfortunately it does need the bump to test since the syntax changed:

[code]

[2020-12-10 13:57] RalfJung commented on #79897
This is caused by the `Machine` interface changes; I can take care of fixing that.

[2020-12-10 14:06] jyn514 commented on #79891
Duplicate of https://github.com/rust-lang/rust/issues/79661, this should be fixed on the latest nightly.

[2020-12-10 14:06] #79891 closed

[2020-12-10 14:11] jyn514 commented on #79887
This one is a little odd because not all `I-` labels are actually about issues. `I-compilemem` and `I-slow` get used a lot for PRs, for instance. Maybe they shouldn't be marked `I-`? Not sure what would replace that, though.

[2020-12-10 14:16] jyn514 commented on #79887
I added `Issue:` to everything that didn't have either 'problems and improvements' or 'issue' already.

[2020-12-10 14:19] apiraino commented on #79890
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379890.20Failed.20to.20recover.20key.20for.20type_of.20with.20.E2.80.A6) and removing `I-prioritize`.

[2020-12-10 14:40] vn-ki opened #79898 "Error while calling method on generic const fn in impl block when using `const_trait_impl`"
Methods on generic parameters cannot be called inside const fns which are inside an `impl` block.

[playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5672d548cbd29b95657c28dab53b3036)

[code]

Stderr:

[code]

Related to: #67792

[2020-12-10 14:43] vmx opened #79899 "Output filenames for -Z instrument-coverage"
I'm trying out the new `-Z instrument-coverage` support. One issue I ran into that by default the output is stored in a file called `default.profraw`. That file gets overridden on every new run.

When running `cargo test` that is a problem. It runs several executables (e.g. for the library tests, integration tests doc tests), where each of them overrides the `default.profraw`.

I don't know if tha

[2020-12-10 15:07] matthiaskrgr opened #79900 "diagnostics: suggest Result instead of Option if argument would match"
[code]

rust fails to compile this:
[code]

Since `<x,y>` matches the `Result` signature, it would be super neat if rustc could suggest something like `Did you mean to use  Result<(), Error> instead of Option<(), Error> here?`

[2020-12-10 15:08] matthiaskrgr commented on #79900
@rustbot label: +A-diagnostics

[2020-12-10 15:14] matthiaskrgr opened #79901 "rustc span format seems broken: file:line:line:column"
repro:
[code]

[code]

This `"147:147:0` seems super suspicious, why is printing the column twice in the span location??
rustfmt gets its span information from rustc afaik thus I opened this ticket against rustc.

`rustfmt 1.4.29-nightly (70ce182 2020-12-04)`
[code]

[2020-12-10 15:16] #78140 closed

[2020-12-10 15:23] Mark-Simulacrum opened #79902 "regression 1.49: unexpected unsized tail ICE"
https://crater-reports.s3.amazonaws.com/beta-1.49-1/beta-2020-11-26/gh/folex.libp2p-multilang/log.txt

@rustbot modify labels: +regression-from-stable-to-beta I-ICE

[2020-12-10 15:33] gilescope commented on #66287
As a random datapoint: I would love to see exercism.io students being able to do simple benchmarks on their solutions to see if one way is faster than another. I know criterion is the gold plated solution but it would be nice to have something that works out of the box on stable.

Don't let perfect be the enemy of the good: If measuring performance is easier, then more people will do it, lowering

[2020-12-10 15:56] Mark-Simulacrum commented on #77713
Revert in #79903, untagging as regression