[2019-08-27 12:21] mvirkkunen commented on #21934
I can see that figuring out what name the user would prefer to see for a type is a difficult problem that requires threading a lot of information through to keep enough context information to make it possible.

However it feels to me that a large number of cases would be solved by a rather simple workaround: try to come up with a canonical path for every type outside of the crate currently being c

[2019-08-27 12:22] vityafx commented on #51635
Still happens for as well, on the latest nightly (1.39).

[2019-08-27 12:25] bjorn3 commented on #21934
Please don't introduce non-determinism. Instead use for example the first/last when lexically sorted.

[2019-08-27 12:35] mati865 commented on #63944
Maybe something like here https://github.com/rust-lang/rust/pull/61926/files?

[2019-08-27 12:50] RalfJung commented on #63944
Does that work reliably? Last time I tried to use it I was told not to. ;)

I have also needed this when linking to the reference, where that would not work.
Having a variable that expands to the root seems most general.

[2019-08-27 13:12] mvirkkunen commented on #21934
@bjorn3 I guess what I wanted to say is, "it doesn't have to be perfect, an educated guess is OK". Of course having an *actually* random output isn't very good. First one when sorted sounds good.

[2019-08-27 13:32] michaelwoerister commented on #60059
Should it though? I'm unclear as to what our policy is here? As a user it would make me a bit uneasy if a program like `rustc` would silently decide to use a different linker. Things would be different if we shipped our own LLVM linker plugin and passed that on to `cc`.

[2019-08-27 13:56] JohnTitor commented on #63928
Should be `./x.py build --stage 1 src/libstd`?

[2019-08-27 14:17] Kobzol opened #63947 "Excess semicolon lint produces wrong diagnostics with async main and derive macro"
The new lint for excess semicolons (https://github.com/rust-lang/rust/pull/62984) has some weird behaviour when the lint is triggered inside an async function that is transformed using a procedural macro.

Rustc version: 1.39.0-nightly (9b91b9c10 2019-08-26)

Compiling this:
[code]
gives this output:
[code]
note how the spans are all targeting the procedural macro instead of the correct line.

If

[2019-08-27 15:02] RalfJung commented on #63924
Well I think we want to remove those `ignore` from the test that got changed in https://github.com/rust-lang/rust/pull/63825.

[2019-08-27 15:09] RalfJung commented on #63924
Well, that PR hasn't landed yet, so you could just r- and ask the author to remove the ignore?

I can't even open a PR to fix this until that PR landed.^^

[2019-08-27 15:20] eddyb commented on #21934
I'm pretty sure this is literally what we do today?

This issue is about paths in the *crate currently being compiled*.
We could do something similar to find a global path visible outside the current crate, but that still leaves unexported paths - a proper solution for requires context.

[2019-08-27 15:23] Kobzol commented on #63947
Without the excess semicolon the spans for the other warnings are correct even with the macro, which lead me to believe that the macro itself is not the problem. Does that mean that the macro somehow needs to support this new lint (or some family of lints)?

[2019-08-27 15:51] gnzlbg commented on #59775
Only the latter three are really needed, and they are only needed to support features that could be optional, so we can put them behind a cargo `unstable` feature, and allow them only on nightly initially.

[2019-08-27 16:21] RalfJung opened #63952 "rustc diverges on large dangling integer slice"
I wanted to test our handling of slices that are "too big" (bigger than the largest possible allocation), so I wrote:
[code]
I expected an ICE or so, but I got a timeout. On nightly, here's what a stacktrace looks like:
[code]
@oli-obk looks like the interning could do with a fast path for integer slices similar to what validation does? And maybe it could also check that the reference is dereferen

[2019-08-27 16:56] gnzlbg commented on #59775
@djrenren I think we might be talking past each other. When writing a benchmark, users would need to enable some feature to access `std::hint::bench_black_box`, but the libtest bench implementation itself does not need to always use that. It could, e.g., if a nightly Rust version is used, and an `unstable` cargo feature is enabled, but it could do something else when this is not the case (e.g. vol

[2019-08-27 17:37] mvirkkunen commented on #21934
@eddyb If there's a mention somewhere that visibility across crates is out of scope, I didn't see it. I did read through more of the referenced issues now though, and found issue #56175 which is more specific. It seems that what I described is indeed implemented, but only when using `extern crate` which is optional in the current edition. That's why I didn't notice it when testing this.

[2019-08-27 18:12] Kobzol commented on #63947
At my setup they trigger always (unless the compiler does not nothing and prints nothing out), however the combination `async` + macro + excess semicolon messes up the spans. I looked at the macro and tried to use `quote_spanned`, that didn't help.

[2019-08-27 18:21] estebank opened #63954 "Add optional span to `require_lang_item` for diagnostics with more context"
[`fn require_lang_item(LangItem)`](https://github.com/rust-lang/rust/blob/615c46086a994f088c9ed569fc36df229ae115b6/src/librustc/middle/lang_items.rs#L384-L388) should also take an optional `Span` to [avoid output without context](https://github.com/rust-lang/rust/pull/63917/files#diff-94321333c9f60a3538b4f566849c232e).

[2019-08-27 18:56] vext01 commented on #63944
Sounds good to me.

[2019-08-27 19:56] RalfJung commented on #62516
See https://github.com/rust-random/getrandom/pull/58 for a recent case where supporting such ancient kernels required extra manual work.
I am not sure how often that comes up, but probably the hardest part is to even notice that it happens -- and even then those codepaths will likely linger untested.

[2019-08-27 20:08] pepyakin commented on #63918
What I meant is that the descriminator of the `Result` returned by `e` (which is `u64`, AFAIR) is stored in first half of the out ptr `*u128` (which is the return value of `c` as you noted)

[2019-08-27 20:08] #63843 closed

[2019-08-27 20:47] novacrazy opened #63959 "Miscompilation with target-cpu=znver1 (AMD Ryzen 1000/2000 series) on Windows + LLVM 9."
On any recent MSVC nightly, compiling with `release` profile with `RUSTFLAGS = "-C target-cpu=native"` results in either `STATUS_ACCESS_VIOLATION` or `STATUS_HEAP_CORRUPTION` depending on the crate. Many crates work, but others don't. Among those that fail some use SIMD. `target-cpu=native` resolves to `target-cpu=znver1` on my machine.

This seems to be related #63361 and the LLVM upgrade, again.

[2019-08-27 21:22] cramertj opened #63962 "Hint on missing tuple parens in pattern"
It'd be nice to smartly hint about missing tuple parentheses in patterns, especially in positions where parentheses nesting is required.

Example of incorrect code:

[code]
The error:
[code]

This error is confusing, especially since `Some` is a "tuple pattern" which is confusable with its tuple field. An error that suggests missing tuple parentheses would be helpful.

This issue has been assigned

[2019-08-27 22:13] jethrogb opened #63964 "Bootstrap fails to build in not completely clean environment"
* `git checkout 53df91a9b24ad999e7ca896447af6f5f74fe43bc` (today's master)
* `make prepare`
[code]
(success)
* `git checkout 72bfc375356b56933955e07471f91ef97dceaa94` (#63957)
* `make prepare`
[code]
(failure)

If I do `rm -rf build/x86_64-unknown-linux-gnu/stage0`, the second step works without issue.

Not sure what's going on, normally x.py is able to choose the stage0 compiler fine.

[2019-08-27 22:17] Centril commented on #63962
I think the right approach here would be to check if the scrutinee type (expected type in this context) has a single field of a tuple type with as many fields as the tuple struct pattern has.

Place to change:

https://github.com/rust-lang/rust/blob/53df91a9b24ad999e7ca896447af6f5f74fe43bc/src/librustc_typeck/check/pat.rs#L678-L688

If you tackle this, first please also refactor the snippet highli

[2019-08-28 00:13] petrochenkov commented on #49300
I haven't seen this written out explicitly, but expansion/hygiene data can be stored in metadata/incremental-data in a stable way using the same `DefPath` approach as other things.

The basic thing to encode here is `ExpnId` and it has a well-defined parent `DefIndex` (currently available through the `Definitions::invocation_parents` table).
If multiple expansions share the parent def-path, then,

[2019-08-28 01:40] Jonathas-Conceicao opened #63966 "Call pinned method from Trait on generic parameter"
I've found a problem regarding [Pin](https://doc.rust-lang.org/nightly/std/pin/struct.Pin.html) that I just can't solve and the current Nightly compiler gives a misleading suggestion.

[This playground example serves well as a minimalist example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=12f320922559410ace38822a309b94a4). I can't manege to call `quack` on the `Animal

[2019-08-28 03:34] brson opened #63967 "redundant_semicolon and clippy::no_effect tripped without emitting line numbers"
Using nightly-2019-08-26.

In [this TiKV PR](https://github.com/tikv/tikv/pull/5261#issuecomment-525569617) we upgraded the compiler. Our tidb_query component tripped the redundant_semicolon lint (and seemingly in turn clippy::no_effect) but rustc/clippy did not tell us the line number.

I couldn't find the code that triggered the lint and had to just allow both for the whole crate.

This issue ha

[2019-08-28 06:38] vityafx commented on #51635
Issue in docker image: https://github.com/rust-lang-nursery/docker-rust-nightly/issues/17

[2019-08-28 07:13] michaelwoerister commented on #49300
Hm, making macro invocations a regular `DefPath` component... I haven't thought about this deeply yet but it might be genius `:)` Then `DefPath` could already be assigned during parsing, with macros just adding more of them without conflicts. cc @eddyb @nikomatsakis

[2019-08-28 07:29] #62426 closed

[2019-08-28 07:32] gilescope commented on #63167
Thanks Centril - hadn't seen that switch. If people are ok with adding line numbers to pinpoint the different impl Traits I'll have a go at rolling a PR?

[2019-08-28 07:48] fpoli commented on #62334
Would this be a "good first issue", or is it complex to fix?

[2019-08-28 07:49] eddyb commented on #49300
@michaelwoerister Yeah, that's also roughly my vision for moving incremental further back, I think I discussed it with @nikomatsakis before.

I was supposed to write about this months ago but other things came up.

In short, there'd be "Def" layer that parsing, expansion and cross-crate metadata would all interact with, with AST/HIR remaining mainly for the intra-definition syntactic categories an

[2019-08-28 09:11] petrochenkov commented on #62334
No, not complex.
- Find where "non-empty glob must import something" is reported.
- Replace `span_err` with `buffer_lint(UNUSED_IMPORTS, ...)`.

[2019-08-28 09:46] GuillaumeGomez commented on #63944
For this kind of problems, we use intra-links. No need to put the full path, just the type.

[2019-08-28 09:49] RalfJung commented on #63944
@GuillaumeGomez does that mean links like `crate::vec::Vec` are working properly these days?

Also see my question above: what if I want to link to the reference? There always is a reference "next to" the std docs, so I could use something like `../../reference/behavior-considered-undefined.html`, but that relies on relative paths again.

[2019-08-28 10:06] kentkrantz commented on #25289
Solved by this:
[code]

[2019-08-28 10:23] petrochenkov commented on #49300
Def paths are currently created during expansion, when a freshly expanded AST fragment is integrated into the partially built AST.
That's already early enough for representing expansions with def paths.

[2019-08-28 10:35] mati865 commented on #58564
Still fails: https://dev.azure.com/mati865/libc/_build/results?buildId=30&view=logs&j=d8d52ea2-3718-5ce1-d513-bf40cd76823d

[2019-08-28 11:20] varkor commented on #63850
This used to exist — the tracking issue is https://github.com/rust-lang/rust/issues/44232.

[2019-08-28 11:23] GuillaumeGomez commented on #63944
For the reference, please use a full url. No miraculous solution in there... :-/

[2019-08-28 11:23] rkruppe commented on #62231
ping @nikomatsakis @pnkfelix @withoutboats for checkboxes

[2019-08-28 11:33] est31 commented on #63850
Oh I see. Closing as a dupe of #44232 then. I hope it gets fixed. @Centril could you put the nominated label onto that issue instead?

[2019-08-28 11:33] #63850 closed

[2019-08-28 11:36] est31 commented on #44232
How is this different from an unused item, say `struct Foo;` that's never used inside the crate? This unused lint works well with incremental compilation. The tasks seem similar to me.

[2019-08-28 11:57] mati865 commented on #63932
@varkor the test was added in pr that fixed this bug: https://github.com/rust-lang/rust/pull/62233

[2019-08-28 12:00] phrohdoh opened #63972 "E0425 suggestion has `fn` keyword before `use ...;`"
[code]

[code]

[code]

[code]

As you can see the suggestion is `use oraide_span::FileId;` but there is a `fn` keyword before the `use`.

[2019-08-28 13:03] gnzlbg opened #63973 "Terminal escape characters pollute CI logs"
For some reason terminal escape characters are used in CI to color the terminal output, which ends up polluting the logs making them harder to read. For example, in  https://dev.azure.com/rust-lang/e71b0ddf-dd27-435a-873c-e30f86eea377/_apis/build/builds/5993/logs/49 , we find:

[code]

and

[code]

We probably should disable colored output when running on CI, not only for rust-lang/rust tools, but

[2019-08-28 13:24] Ploppz opened #63974 "Confusing error message on private newtype field"
[code]

To reproduce:

[code]

[code]

`Query` is defined as: `pub struct Query<T>(T);`
Yet, the error message:

[code]

is confusing in two ways. Firstly, why is a function expected? Secondly, it is wrong in its suggestion.

Interestingly, I was not able to reproduce without any external dependencies:
[code]

[code]

[2019-08-28 14:41] gnzlbg opened #63976 "Incorrect error message when accessing private field of union"
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d461d59d40a77187aa1f38e1861f0801))

Errors:

[code]

Notice how it says "struct" when it should say "union".

cc @estebank this looks like low-hanging fruit

[2019-08-28 15:25] luojia65 opened #63977 "Weird segfault when trying inline asm on macOS in Rust"
Hello! I tried this piece of code:
[code]
On windows it compiles and runs normally. On my macOS it compiles with no error or warning output, but fired an output `Segmentation fault: 11` when I try to execute the output binary file.
I tried IDA pro on both operating systems. If I compile this code in windows, the IDA gave me normal disassemble output I expected:
![05292521505F9DA99853DC9222386FE8](

[2019-08-28 15:35] gendx opened #63978 "Reducing the memory/bandwidth footprint of submodules with ./x.py?"
I recently tried to compile rust by using the `./x.py` script. I noticed that the first thing that happens is a full clone of all the git submodules (see https://github.com/rust-lang/rust/blob/master/src/bootstrap/bootstrap.py#L679-L687).

Cloning the whole history of all the submodules is generally of little interest to compile the current version of rust, but it has a non-negligible memory footp

[2019-08-28 15:50] sam09 commented on #63976
Can I pick this up if no-one is working on this?

[2019-08-28 17:25] #63728 closed

[2019-08-28 17:27] andjo403 commented on #63816
@petrochenkov do you know if there is some process to remove the unstable linker oiption from rustdoc as you added it in  #45191

[2019-08-28 17:33] petrochenkov commented on #63816
I don't know ¯\_(ツ)_/¯
If it's unstable and there's a replacement, then it can probable be just removed?
cc @rust-lang/rustdoc

[2019-08-28 18:17] gnzlbg commented on #57563
Is there an issue for `const fn` types ?

I expected this to work:

[code]

but it fails due to multiple issues:

* function types cannot be called from const fns
* `const fn()` errors with `const` is a keyword

[2019-08-28 18:22] gnzlbg commented on #39016
Since libstd depends on libc, and libc would need to be compiled differently for debug and release on windows, wouldn't we need to ship two libstds one for debug and one for release ?

[2019-08-28 18:28] gnzlbg commented on #31844
Looking at the original RFC, there is a section about specialization of inherent impls. Did someone gave that I try ?

The approach proposed in the RFC might not work anymore, at least, for inherent const methods:

[code]

[2019-08-28 20:01] sam09 commented on #63976
Thanks @estebank .
Newbie question, but how do I test this while development? Do I build the stage1 compiler and then write a sample test?

[2019-08-28 20:10] RalfJung commented on #63924
Thanks a lot!

[2019-08-28 20:10] #63924 closed

[2019-08-28 20:14] RalfJung commented on #63924
@Mark-Simulacrum I only just saw you changed the bug title... I guess I should reopen as you repurposed the issue? Or would it make more sense to open a new one, as the existing discussion here will be rather confusing?

[2019-08-28 20:19] RalfJung commented on #57563
Is there a tracking issue for `const` transmute? It's missing from the list and I couldn't find it in the issue tracker either?

I think that's part of the discussion around `const fn` with (full) generics: https://github.com/rust-lang/rfcs/pull/2632.

[2019-08-28 20:21] BO41 commented on #63978
AFAIK [git is able to do this](https://stackoverflow.com/questions/14872486/retrieve-specific-commit-from-a-remote-git-repository/30701724#30701724), but [github isn't allowing it](https://github.com/isaacs/github/issues/436).

Probably needs a different solution :disappointed:

[2019-08-28 20:39] CodeSandwich opened #63981 "Self::fn_name returns non-static fn item"
It's hard to describe, but this fails to compile [playground](https://play.rust-lang.org/?gist=b8ea20af2f92d025b0fa2176346a971e):
[code]
Error:
[code]
I think that it's wrong, because both `Self` and trait function are always static, they're created at compilation and are always available.

[2019-08-28 21:20] sam09 commented on #63976
https://github.com/rust-lang/rust/pull/63982

[2019-08-28 21:42] #57822 closed

[2019-08-28 21:50] djrenren opened #63983 "Unify errors for Unit pattern on Tuple and Struct variants"
Code Example ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=73d19f6e2a08205bb03e3741d6588de5)):
[code]

<img width="805" alt="image" src="https://user-images.githubusercontent.com/634666/63895019-e7a8e000-c9a2-11e9-8639-5ea535061734.png">

Currently we provide a "do you mean..." for the `Struct` but not for the `Tuple`. We probably should provide one for both

[2019-08-28 22:38] arnfaldur commented on #44580
The language desperately needs basic constant generics, such that the standard library doesn't have to define each function for each size of array. This is the only reason I don't use rust. Do we really need turing complete compile time functions?
I might be wrong but simple integer expressions should suffice and I hope nobody is wasting their time, making sure that these wacky examples work.

[2019-08-28 22:48] christianpoveda commented on #44580
There is already some effort there https://github.com/rust-lang/rust/issues/61415.

Some people do, I cannot see any problem with that ;)

[2019-08-28 22:52] felix91gr commented on #44580
This is the least interesting reason I've seen quoted for someone not using rust. Are you sure you're telling the truth?

Making even that reduced scope is incredibly hard. Try your hand at it, we have really capable people making this and there's a reason why it's taking this long.

[2019-08-28 22:52] estebank commented on #63976
@sam09 `./x.py build src/test/ui/PATH_TO_FILE -i --stage 1 --keep-stage 1` is the way to get the fastest iteration time. `--keep-stage 1` is theoretically suspect but should affect you on what you're working on and `-i` is marginally slower on first compile but much faster on subsequent compiles. You rarely (if ever) need `--stage 2`.

[2019-08-28 23:02] estebank commented on #62570
At this point there are enough cases that we would want to disambiguate between that it makes sense to extend `on_unimplemented` to have some way of obtaining the enclosing scope's description (`closure`/`function`/`method`/`async` block, etc.).

[2019-08-28 23:02] ghedo commented on #60245
Since this seems to have gone quiet again, I took the liberty of creating https://github.com/rust-lang/rust/pull/63985 to do the actual stabilization.

[2019-08-28 23:02] est31 commented on #61390
This can be closed now. The current stable is 1.37.0 and here there are tons of errors but no ICE.

[2019-08-28 23:03] est31 commented on #61935
Checking this example again gives me an ICE similar to #62879.

[2019-08-28 23:08] estebank commented on #63502
For this case, we probably could suggest a temporary local binding with an explicit type:

[code]

As for the syntax, we could borrow the closure syntax and allow something like `async -> Result<(), Error> {}`, but that is uuuugly.

[2019-08-28 23:14] #61390 closed

[2019-08-28 23:18] varkor commented on #44580
Unfortunately, I've not been able to dedicate much time to fixing const generics bugs recently (or to Rust more generally). If anyone wants to get involved in pushing const generics along, I'd be happy to offer advice for tackling the [open issues](https://github.com/rust-lang/rust/issues?q=is%3Aopen+is%3Aissue+label%3AA-const-generics) and review bug fixes, though it'll probably be a little while

[2019-08-28 23:18] estebank commented on #42424
[The updated code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=da95407eabd3fc42908d7a68cc549349) will only work on 2018 edition:

[code]

and result in

[code]

It should be possible to turn it into the following relatively easily

[code]

[2019-08-28 23:22] estebank commented on #60216
@joelparkerhenderson we do so when possible, but it is considered acceptable (at the very least tolerated) if a suggestion gives you wrong code that a subsequent compilation will receive a new suggestion that _does_ get you to working code.

[2019-08-28 23:26] estebank commented on #61076
From #62067, these are the cases still missing:

- [ ] Return places for functions
- [ ] Field access
- [ ] Method invocation

[2019-08-28 23:27] software-opal opened #63986 "Improve error when compiling a derive macro with -Z sanitizer"
I'm trying to build some code with the address sanitiser on; and I run into this error:

[code]

After some googling the solution appears to be(from #48199) to use `--target=...`. I was wondering if the message could be improved to something like:

[code]

[2019-08-28 23:29] cramertj commented on #63502
@estebank did you mean to include the `?` after the `x` in your example above?

[2019-08-28 23:40] estebank commented on #61482
Given that `poll_with_tls_context` is gated behind `gen_future` which is not stabilized in 1.39, I think the only thing left is improving the `panic` message.

[2019-08-28 23:44] estebank commented on #63502
Yes, but was missing the final expr `Ok(())` to be correctly equivalent the original code. Just updated it.

[2019-08-28 23:46] mtak- commented on #61512
@gnzlbg I think it is very very doable for debug builds. I am focused on other things at the moment, but asserting `(*self.inner.get()).is_none()` [here](https://github.com/rust-lang/rust/blob/d2c9c125460ae019c04594dbbe5f204db6add70d/src/libstd/thread/local.rs#L290) should work for all cases.

[2019-08-28 23:46] estebank commented on #63710
Should we also consider _always_ documenting `Fn() -> impl Future<Output=_>` as `async Fn() -> _`?

[2019-08-28 23:47] cramertj commented on #46736
I don't see how this is true-- as pointed out above, libcore contains `usize` and `isize` which both vary by target.

[2019-08-28 23:48] cramertj commented on #63502
@estebank That code still would not compile.

[2019-08-28 23:56] estebank commented on #63967
Introduced in https://github.com/rust-lang/rust/pull/62984. It has caused similar effects in other cases like https://github.com/rust-lang/rust/issues/63947. CC https://github.com/rust-lang/rust/issues/63679.

[2019-08-29 00:00] mtak- commented on #61512
It's _possible_, but probably very unlikely some crate has initialization code that terminates after N recursions instead of stack overflowing. Something to consider when fixing this.

[2019-08-29 00:06] taiki-e commented on #63281
If the bounds can be simplified in any of the following cases, I think [the issues with pin-project](https://github.com/taiki-e/pin-project/pull/53#discussion_r318050068) can be resolved.
1. A structure in which `#[doc(hidden)]` is used.
2. A structure generated by proc-macro.

[2019-08-29 00:41] estebank opened #63987 "Lint against overlapping pattern ranges and pattern ranges with small holes caught by `_`"
For both exclusive(nightly) and inclusive range patterns, we don't have any lint about overlapping ranges. We probably should complain about `100..=500` being partially covered already. This would minimize the likelihood of the following off-by-one error going unnoticed:

[code]

It would also be interesting to have a 1 or 2 value wide holes detection in the presence of a `_` pattern to detect con

[2019-08-29 00:48] Centril commented on #63987
cc @varkor

[2019-08-29 01:03] Aaron1011 commented on #63966
@Jonathas-Conceicao: as @memoryruins mentioned, the diagnostic suggestions are wrong in this case.

You're trying to go from a `Pin<&MyType>` to a `Pin<&MyField>`, where `&MyField` is a reference to a field of `MyType`. This is known as a [pinned projection](https://doc.rust-lang.org/std/pin/index.html#projections-and-structural-pinning), and comes with some additional requirements in order to be

[2019-08-29 01:08] estebank commented on #63987
I poked at the code for a bit and there's already code in `hair::pattern::_match::split_grouped_constructors()` that checks for this. It's just a matter of actually warning when splitting using `Border`s instead of only remaking the ranges.

[2019-08-29 01:13] estebank commented on #63502
You're absolutely right. Need more coffee.

[2019-08-29 01:26] taiki-e commented on #63966
The diagnostic issue seems to dup of #57994.

[2019-08-29 01:59] Jonathas-Conceicao commented on #63966
@Aaron1011, thank you for the explanation and the suggestion, that does indeed solve the error.

Regarding the suggestion, it really does seams to be a duplicate, will be closing this in favor of #57994.

[2019-08-29 01:59] #63966 closed

[2019-08-29 02:03] Centril commented on #63973
👍 -- These control characters are hugely annoying when managing rollups and makes me slower. I think by and far most people look at the dump that highfive/rust-log-analyzer emits. I think if we don't fix this in CI then we should at minimum fix this in RLA.

[2019-08-29 02:19] IThawk commented on #63939
how to solve

[2019-08-29 02:40] Centril commented on #44232
Nominating at the request of @est31 in https://github.com/rust-lang/rust/issues/63850.

[2019-08-29 02:42] Centril commented on #57563
@RalfJung https://github.com/rust-lang/rust/issues/53605 (adding to the list).

@gnzlbg Please file an issue if you believe one is lacking.

[2019-08-29 02:51] memoryruins commented on #57994
Re-posting from #63966 since it was closed in favor of this thread.

---

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1dc945e9c129aa13b6254a4b9c1a30e3) `1.39.0-nightly 2019-08-23 9eae1fc0ea9b00341b8f`

[code]
[code]
The above suggests a trait from another module with a different name
[code]
and the next suggestion isn't syntactically correct.

[2019-08-29 03:06] estebank opened #63988 "Suggest borrowing when doing `if let Some(_)` from non-Copy ADT"
Just got this error:

[code]

It should suggest to borrow `x`.

[2019-08-29 04:43] kennytm commented on #63973
These were added because the colors worked in Travis CI and AppVeyor previously. If the control characters aren't supported in Azure Pipelines let's remove them.

[2019-08-29 04:45] Phosphorus15 commented on #63983
Consider fixing #63988 Btw (which is a similar enhancement)

[2019-08-29 05:05] #49553 closed

[2019-08-29 05:05] #58696 closed

[2019-08-29 05:05] #58700 closed

[2019-08-29 05:05] #52210 closed

[2019-08-29 06:14] dialtone opened #63993 "NLL issue when using DerefMut to access fields through a Pin, causing multiple mutable borrow error"
The code below doesn't compile due to multiple mutable borrows, however the exact same code without the `std::pin::Pin` compiles fine actually. My expectation is however that the code would obviously compile fine in both cases.

[code]

The exception raised is:

[code]

Although obviously that's pretty awkward. I'm told that this could possibly be a bug in the NLL, but I'm pretty new to the langua

[2019-08-29 06:15] RalfJung commented on #53605
Given that `union` field access is already possible inside `const` (but not inside `const fn`), it seems somewhat silly to block `transmute`. All that does is make code less readable by pushing people to use unions instead of transmutes.

So I propose we stabilize `transmute` in `const`, but not `const fn`. However, currently our handling of intrinsics in const-qualif is [somewhat broken](https://

[2019-08-29 07:27] gnzlbg commented on #63973
They are supported in Azure,  their terminal advertises this and we use them. The problem is that people prefer to look / process the raw logs instead of inspecting the log web view that Azure supports because of various reasons.

Maybe fixing this by doing some post-processing in RLA like @centril proposes is the better solution. Or maybe there is some service that we can pipe this logs into and

[2019-08-29 07:34] gnzlbg commented on #46736
To be more specific, they vary by `target_env` (e.g. depending on the C library used by the target). Are there any other things in libcore that depend on this ?

[2019-08-29 07:40] eddyb commented on #63851
@ubsan You can circumvent that by defining raw pointers as having `MaybeUninit<T::Meta>` instead of `T::Meta` directly.

[2019-08-29 07:54] eddyb commented on #21934
Sorry, I meant that this issue is left open for the intra-crate part of it.

And yeah, #56175 is one of the unfortunate "Rust2018 features needing more polish" cases.

[2019-08-29 08:31] eddyb commented on #44580
Nobody is, `miri` is already far more powerful than C++ `constexpr`.
And nobody is working on anything fancy like deriving `N = M` from `N + 1 = M + 1`.

Most of these bugs aren't about the expressions in them, they're about the typesystem and how `const` generics interact with all other features.
They would still be there if all you had were `const` generics and integer literals.

Btw, I think th

[2019-08-29 08:37] hameerabbasi commented on #44580
While I do want to take a stab at this, I'm not sure I'm the right person. I've used little rust and know very little compiler theory. I might need a fair bit of coaching but I'm certainly willing. 😄

[2019-08-29 08:43] Centril commented on #63973
Azure's UI is unergonomic and buggy; it takes much less time for me to check the RLA raw logs when doing rollups.

I would do whatever can be fixed quickest because this problem is painful today.

[2019-08-29 08:46] #63706 closed

[2019-08-29 08:46] #63439 closed

[2019-08-29 08:46] #63764 closed

[2019-08-29 08:46] #63954 closed

[2019-08-29 08:57] RalfJung commented on #49147
@eddyb points out that the current implementation does not work in static/const bodies. This fails:
[code]

[2019-08-29 09:27] jonas-schievink commented on #55654
@bjorn3 Does this still happen? Do you remember how to reproduce this?

[2019-08-29 09:53] bjorn3 commented on #55654
Haven't seen this again. I can remember how it happened :(

[2019-08-29 10:04] gnzlbg opened #63997 "Tracking issue for const fn pointers"
Sub-tracking issue for https://github.com/rust-lang/rust/issues/57563.

This tracks `const fn` types and calling `fn` types in `const fn`.

---

From the RFC (https://github.com/oli-obk/rfcs/blob/const_generic_const_fn_bounds/text/0000-const-generic-const-fn-bounds.md#const-function-pointers):

## `const` function pointers

[code]

is illegal before and with this RFC. While we can change the langu

[2019-08-29 10:04] gnzlbg commented on #57563
Done: https://github.com/rust-lang/rust/issues/63997

[2019-08-29 10:04] jonas-schievink commented on #55654
Okay, I guess there isn't much of a point in keeping this open then. In case you (or anyone else) see it again, feel free to leave a comment and I'll reopen.

[2019-08-29 10:04] #55654 closed

[2019-08-29 10:07] gnzlbg commented on #63997
I think that, at the very least, this should work:

[code]

For this to work:

* `const` must be part of `fn` types (just like `unsafe`, the `extern "ABI"`, etc.)
* we should allow calling `const fn` types from const fn

[2019-08-29 10:17] bjorn3 commented on #58094
Got another one:

<details>

[code]

</details>

Happens when compiling regex tests with `-Zmir-opt-level=3` and calling `SourceMap::lookup_char_pos` on every span found in the mir of the functions needing codegen.

[2019-08-29 10:20] RalfJung commented on #63997
AFAIK `const fn` types are not even RFC'd, isn't it too early for a tracking issue?

[2019-08-29 10:27] gnzlbg commented on #63997
Don't know, @centril suggested that I open one.

I have no idea why `const fn` types aren't allowed. AFAICT, whether a function is `const` or not is part of its type, and the fact that `const fn` is rejected in a type is an implementation / original RFC oversight. If this isn't the case, what is the case?

[2019-08-29 10:33] Centril commented on #63997
Lotsa things aren't RFCed with respect to `const fn`. I want these issues for targeted discussion so it doesn't happen on the meta issue.

[2019-08-29 10:57] oli-obk commented on #63997
it is.

you can do

[code]

inside a constant. But this information is lost when casting to a function pointer. Function pointers just don't have the concept of of constness.

[2019-08-29 11:08] mati865 commented on #62558
After disabling `dual-proc-macros` (building proc-macro crates for both host and target) I was able to get Rustfmt and RLS to cross compile for Aarch64 but Clippy broke even more (`rustfmt_macros` is not available when cross compiling without `dual-proc-macros`).
But it's just poor man workaround, not the solution because it worked fine that way before `rustc-ap-rustc_macros` crate was pulled into

[2019-08-29 11:14] #63925 closed

[2019-08-29 11:42] RalfJung commented on #63997
Figuring out constness in function pointers or dyn traits is a tricky questions, with a lot of prior discussion in [the RFC](https://github.com/rust-lang/rfcs/pull/2632) and [the pre-RFC](https://github.com/rust-rfcs/const-eval/pull/8).

[2019-08-29 12:51] mati865 commented on #34586
@rustbot release-assignment

[2019-08-29 12:54] jonas-schievink commented on #32350
This is now specified in RFC 2532 (https://github.com/rust-lang/rust/issues/29661) and will be fixed by #61812

[2019-08-29 13:16] AIOOB commented on #61870
Bisected to find regression in `nightly-2018-12-21`

[2019-08-29 13:42] nikomatsakis commented on #63959
Checking in from @rust-lang/compiler triage:

This seems to be related to our LLVM upgrade. The linked issue (#63361) was blamed on [LLVM bug 42935](https://bugs.llvm.org/show_bug.cgi?id=42935) and fixed by @nikic via a LLVM submodule update (https://github.com/rust-lang/rust/pull/63415).

cc @nikic and @nagisa -- Any thoughts on what's going on here?

[2019-08-29 13:43] nikomatsakis commented on #63959
Tagging as P-high for now. Not sure who to assign to.

[2019-08-29 13:48] nikomatsakis commented on #63943
Check-in from the @rust-lang/compiler meeting: I'm changing the nomination to nominate this issue for @rust-lang/lang. In particular, @joshtriplett, it'd be great if you can catch up on the comments here and in #63909 and give some kind of summary, since you've been spearheading this work.

[2019-08-29 13:50] nikomatsakis commented on #63932
Check-in from compiler triage:

This bug exists on stable but has been fixed on beta/nightly and is not considered high priority. I'm going to close the issue as fixed for now. Thanks for the report!

[2019-08-29 13:50] #63932 closed

[2019-08-29 13:50] Centril commented on #63959
(Sound this be labeled as I-unsound?)

[2019-08-29 13:52] nikomatsakis commented on #63918
Visiting for compiler triage meeting. I'm marking this as a "P-medium" bug since it is specific to WASM and also due to an LLVM bug. I'm not sure if we plan to fix this on our side in any way?

[2019-08-29 13:54] nikomatsakis commented on #63848
Check-in from the compiler triage meeting:

This is fixed by https://github.com/rust-lang/rust/pull/63806, correct? I'm going to mark it as P-high but also assign to @mati865 -- thanks for staying on top of that!

[2019-08-29 13:56] nikomatsakis commented on #63848
@rustbot assign @mati865

[2019-08-29 13:56] nikic commented on #63959
Is it possible to get a backtrace for the segfault? I don't have a windows system (or a zen system for that matter) to reproduce this on.

I don't know whether Windows has assertion-enabled builds, but if it does, it might be worth calling https://github.com/kennytm/rustup-toolchain-install-master with the `-a` argument and check if the toolchain this downloads triggers an assertion failure.

[2019-08-29 14:00] nikomatsakis commented on #63791
Check-in from the compiler triage meeting:

Summarizing, the previous comments, it seems we have [minimized the example](https://github.com/rust-lang/rust/issues/63791#issuecomment-524595595) and we have [bisected](https://github.com/rust-lang/rust/issues/63791#issuecomment-524582911) to a commit  that [upgrades LLVM](https://github.com/rust-lang/rust/commit/df0466d0bb807a7266cc8ac9931cd43b3e84b62

[2019-08-29 14:09] rkruppe commented on #63959
Probably not. The crash is in the compiler process, not in code it output, and presumably in C++ code at that, so there's no reason to expect there's anything going wrong with any safe Rust code. While it's the scary sort of crash that sounds like it could hypothetically also result in completely bogus machine code being generated, there's no evidence of this actually happening / being possible. I

[2019-08-29 14:17] mati865 commented on #63959
Could not reproduce with https://github.com/rust-lang/rust/issues/63959#issuecomment-525482889 or https://github.com/rust-lang/rust/issues/63959#issuecomment-525515756 on on Zen 2000 based system using Linux GNU and by cross compiling to Windows GNU, I'll check native Windows GNU toolchain later.

[2019-08-29 14:27] nikomatsakis commented on #63889
Closing as expected and acceptable (unstable feature).

[2019-08-29 14:27] #63889 closed

[2019-08-29 14:29] novacrazy commented on #63959
Happens with both MSVC and GNU builds on Windows for me.

How would I go about enabling backtraces on a Windows build of rustc?

`9b91b9c10e3c87ed333a1e34c4f46ed68f1eee06-alt` (just the alt version of the last nightly I had) does not appear to respond to `RUST_BACKTRACE=1`

[2019-08-29 14:29] nikomatsakis commented on #63888
Needs to be closed once #63717 is backported

[2019-08-29 14:30] nikomatsakis commented on #63887
Check-in from compiler team:

Closing as expected.

[2019-08-29 14:30] #63887 closed

[2019-08-29 14:35] mati865 commented on #63959
It's not `rustc` panic but LLVM segfault so you should use `gdb` with Windows GNU toolchain, no idea about MSVC.

[2019-08-29 14:38] Centril commented on #63798
If we are "fixing" this (allowing `#[bench]` on stable), then I think a warning **_must_** also be there... otherwise we are just stabilizing the feature.

[2019-08-29 15:01] #63928 closed

[2019-08-29 15:08] nikomatsakis commented on #63741
Visited in compiler triage. I think this is medium priority, clearly, but I am guessing that @Centril intended the nomination for the lang team.

Wearing my lang team hat, I think I'd expect this to compile, but I don't have strong opinions about it.

[2019-08-29 15:11] Mark-Simulacrum commented on #63939
You'll want to ask on users.rust-lang.org or a similar forum.

[2019-08-29 15:18] nikomatsakis commented on #63687
I'm not sure what the details of #63613 were, but this *feels* like a bug to me -- in particular it feels like the behavior here is *less* hygienic, not more? @petrochenkov perhaps you can clarify your view on the situation, that'd be great.

[2019-08-29 15:26] nikomatsakis commented on #63552
Going to mark this as P-medium. Would be great however if @nikic, @nagisa, @rkruppe or some other LLVM expert could weigh in on likely causes and whether we can fix it. Thanks to @andjo403 both for isolating the issue and bisecting it!

[2019-08-29 15:28] petrochenkov commented on #63687
Well, it's more hygienic than before because previously `format` used whatever `format_args` was closest in scope at the call site, while now it certainly uses `format_args` from the crate named `core`.
(That doesn't make the change less breaking.)

What `macro_rules! format` really wants is to use def-site hygiene so that "the crate named `core`" is searched from the `macro_rules! format`'s defin

[2019-08-29 15:34] nikomatsakis commented on #63687
@petrochenkov

I see -- just not necessarily the *core* that was in scope at the point of definition.

Seems right. Is there a tracking issue to cc or something?

[2019-08-29 15:34] petrochenkov commented on #63687
That said, the constructions
[code]
or (same, but from command line)
[code]
really require some responsibility since they effectively override `std` and `core`.

If you override them you should be provide all the necessary services expected from `std` and `core`, since for any third party macro `::std::foo` is the only reliable way to refer to the standard library, at least until def-site hygiene

[2019-08-29 15:35] petrochenkov commented on #63687
@nikomatsakis

*This* is supposed to be the tracking issue for the regression?

[2019-08-29 15:44] nikomatsakis commented on #62146
Visiting from compiler triage meeting. I cannot tell if this is a compiler bug. It sounds vaguely like one -- including `cdylib` doesn't seem like it should on its own cause a link error? But I'm not sure, perhaps there is a legit error that only comes up when doing a cdylib build? Not sure how to categorize this, so leaving as is for this week.

[2019-08-29 15:45] nikomatsakis commented on #63597
Compiler triage meeting:

Marking as P-medium

[2019-08-29 15:50] Alexhuszagh commented on #62146
@nikomatsakis I've decided that it's likely best to separate the the C-FFI logic from the core crate, so this shouldn't be an issue. I'm more concerned about the `correct` feature not working, but I'll get there shortly.

[2019-08-29 15:51] nikomatsakis commented on #51716
Visiting for compiler triage:

Fits into the category of "miscellaneous incremental ICE/bug" that we've seen more and more of lately. Marking as P-medium but I think this category warrants a directed effort. Doesn't appear to be a recent regression.

[2019-08-29 15:56] nikomatsakis commented on #44232
Visiting as part of compiler triage.

I agree this would be nice, but it is certainly not P-high. It seems connected to the end-to-end query discussion. Based on Alex's comment, seems like there is some design work. In an effort to get somebody to maybe leave some thoughts, I'll cc @rust-lang/compiler, but not sure what else to do here. =)

[2019-08-29 15:57] nikomatsakis commented on #62146
@Alexhuszagh does that mean we should close this issue? I can also mark it as "P-medium" and people can re-nominate if/when it should be reconsidered.

[2019-08-29 15:57] nikomatsakis commented on #62146
I'll mark it as p-medium for now.

[2019-08-29 16:00] nikomatsakis commented on #43982
Visiting for compiler triage.

This problems seems to be closely tied to save-analysis, correct? @Xanewok, maybe you can investigate, and ping @michaelwoerister for help where needed?

[2019-08-29 16:00] nikomatsakis commented on #43982
Marking P-high and assigning to @Xanewok, because I'm optimistic like that.

[2019-08-29 16:01] jonas-schievink commented on #62146
Well this is clearly still a bug in either rustc or maybe Cargo, even if you can work around it

[2019-08-29 16:05] est31 commented on #63687
While most of the changes in @petrochenkov 's increased hygiene, the specific change linked by @bjorn3 didn't do any increase (or decrease) as both times the macro is being resolved in an unhygienic way.

From a pragmatic point of view, lots of people seem to shadow the core crate but few people want to (saying "want to" and not "do" because of selection bias) shadow the `format_args!` macro while

[2019-08-29 16:32] Mark-Simulacrum commented on #63973
RLA does (at least try) strip them out from the GH comments -- e.g., https://github.com/rust-lang/rust/pull/63991#issuecomment-526106248 -- but stripping from raw logs is somewhat harder in that we don't actually store those anywhere today (RLA's comment just points directly to the Azure raw log, e.g. https://dev.azure.com/rust-lang/e71b0ddf-dd27-435a-873c-e30f86eea377/_apis/build/builds/6949/logs

[2019-08-29 16:37] Centril commented on #63973
@Mark-Simulacrum The main thing I want is to be able to click the raw log link in the RLA comments and not see the escape codes. If doing it via a JS landing page that does the sanitation then that's fine by me. If you can replace the codes by actual colors (also via regex) then even better.

[2019-08-29 16:43] togiberlin commented on #63597
@rustbot claim

[2019-08-29 16:47] qiujiangkun opened #64002 "Misleading error messages about lifetimes and borrowing"
The error message is misleading that it led me to another approach through which I can't fix my program.
[code]
In fact the problem has nothing to do with borrowing but lifetime. As soon as I changed all my `&'a str` references to `String` and adjusted relevant codes properly, it worked.

[Here's the code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5b1c1fc2337c6ce54d9

[2019-08-29 17:44] cuviper commented on #58794
For those watching, @joshtriplett just [proposed](https://github.com/rust-lang/rust/pull/63909#issuecomment-526287424) a simple `#[unwind]` specification.

[2019-08-29 17:45] Mark-Simulacrum commented on #63973
https://github.com/rust-lang/rust-log-analyzer/pull/31 is the PR implementing the client-side JS (and can technically be used today by prepending `https://rust-lang.github.io/rust-log-analyzer/#` to raw log URLs.

[2019-08-29 18:05] mati865 commented on #63959
On Windows `rustc` exits with `0xc0000005` and GDB only prints: `No stack.`. There are no alternative builds for Windows GNU toolchain so I won't be able to do anything until I do debug build.

[2019-08-29 18:34] nagisa commented on #63959
Make sure you running the real `rustc` and not the wrapper from rustup. What you’re seeing here is a typical symptom of failing to account for the wrapper.

[2019-08-29 18:47] ubsan commented on #63851
@eddyb you can, but I don't think there's a reasonable argument for it. Creating and destructuring raw pointers safely seems really nice to me.

[2019-08-29 18:49] nikomatsakis commented on #63719
Discussed in lang team pre-triage meeting. Maybe @matthewjasper you'd be game to investigate and take a look at what's happening here?

[2019-08-29 18:50] Centril commented on #62231
Make the bot listen... @rfcbot reviewed

[2019-08-29 18:50] nikomatsakis commented on #60406
@rustbot assign @c410-f3r

[2019-08-29 18:51] #62499 closed

[2019-08-29 18:51] #63349 closed

[2019-08-29 19:01] tmandry commented on #34902
Now that some effort has gone into this, I would love to lock it in with a check in Rust's nightly builders that a stage 3 build is identical to the stage 2 build. It wouldn't catch every kind of regression, but should help quite a bit I would think.

That said, I'm not sure what the impact would be on resources.

[2019-08-29 19:16] RalfJung commented on #63851
"really nice" is IMO not a sufficient argument for introducing this kind of UB. We should have some optimization that's worth it, ir some amount of spec simplification that's worth it.

The "default" answer should be "let's avoid UB, to make unsafe code author's lives easier".

[2019-08-29 19:25] BatmanAoD commented on #58760
@acfoltzer

@joshtriplett just made a proposal for stabilization here: https://github.com/rust-lang/rust/pull/63909#issuecomment-526287424

[2019-08-29 19:27] Centril commented on #60406
We discussed this on the language team meeting and found that we should indeed move ahead wit stabilizing it.

[2019-08-29 20:01] mb64 opened #64004 "async-await: mutually recursive functions compile sometimes"
In the following code:

[code]

This gives an error when it is a part of a `lib` crate.  However, as a part of a `bin` crate, it compiles.

Here's an [erroneously compiling playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&code=async%20fn%20rec_1()%20%7B%0A%20%20%20%20rec_2().await%3B%0A%7D%0A%0Aasync%20fn%20rec_2()%20%7B%0A%20%20%20%20rec_1().await%3B%0A%7D%0A%0

[2019-08-29 20:11] ia0 commented on #61053
No problem :-)

And by the way, I presented this lint at the Rust meetup in Zürich today (to try to get some people using it), and a few interesting questions came up:

1. Given that this lint inherently has false positives (and false negatives), why is it a lint in the compiler instead of clippy?

2. What is the future for this lint? Is it planned to stay a lint?

3. How does it work with proc-ma

[2019-08-29 20:29] Mark-Simulacrum commented on #34902
We already run a full-bootstrap build (and it's not even the longest builder, IIRC), so just hashing the artifacts and such shouldn't be too hard. I am willing to review a PR that attempts to do this, though I do not personally have the time to do so.

(What you actually want is to compare stage 1 and stage 2 builds, with full-bootstrap enabled -- stage 3 is a bit nonsensical in all configurations

[2019-08-29 20:43] MSleepyPanda commented on #64004
I guess that's because in the binary, it knows that it will be unused. If you were to actually use it, it [errors](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e3363513b1985785a3b8cdc5aa59c938)

[2019-08-29 20:43] ubsan commented on #63851
@RalfJung how does one introduce UB in this case? Are people generally returning `mem::zeroed::<*mut Trait>()`?

[2019-08-29 20:50] ranweiler commented on #44580
@varkor, I've been looking for something useful to do on `rustc`, and I'd love to step up and help out. Also, thanks for being candid about your ability to allocate time to it!

[2019-08-29 20:52] ia0 commented on #61053
To respond to (3), I was wrong. It doesn't run when proc-macro outputs a macro definition.

[code]
[code]
[code]
`cargo build --examples=main` only generates an error if the call to `foo!()` is not commented.

[2019-08-29 21:00] RalfJung commented on #63851
That would be an example of an operation that becomes UB under your semantics. Doesn't seem too strange to me to zero-initialize a struct with a wide raw pointer field.

There is literally no program that is UB under my semantics but not under yours.

This is not about the safety invariant, it is about the validity invariant.

[2019-08-29 21:15] johalun opened #64006 "Dependencies with build script fail on FreeBSD + 1.39 nightly"
Tested on various crates like bindgen, backtrace, async-std, etc, that has one or more -sys dependencies that include a build.rs file. All such deps fail with errors like:
[code]

[code]

stable and beta works fine, this only happens for nightly 1.39
[code]

[2019-08-29 21:45] eftychis commented on #46379
We are encountering the same issue. I am not sure I am comfortable with no dead code warnings. Perhaps an alternative approach to organizing code people would suggest if there is no re-design any time soon?

[2019-08-29 22:01] Barronli commented on #48700
I am not using VScode, but I had something similar in my build of https://github.com/rust-osdev/bootloader in release mode. I [reported ](https://github.com/rust-osdev/bootloader/issues/78) it to bootloader project, but after some exploration, I believe it is a problem in rustc.

Symptoms:
When I build bootloader in WSL (windows subsystem Linux, ubuntu X84_64) with `cargo xbuild --release --featur

[2019-08-29 22:02] mati865 commented on #63959
Hmm, I could swear I could debug `rustc` crash on Linux without caring about the wrapper.
Anyway the stack is corrupt:

<details>
<summary>Click here to expand</summary>

[code]

</details>
Other threads are just waiting.

I'll return with debug Rust build if I somehow manage to build LLVM in debug mode on PC with 16 GiB of RAM...

[2019-08-29 22:16] cuviper commented on #64006
It could be this: https://github.com/rust-lang/libc/issues/1489

[2019-08-29 22:57] jesskfullwood commented on #31436
It is a shame this feature was not stabilized before `async/await` blocks. IMO it would have been more consistent to have

[code]
instead of allowing it to work without the `try`. But I suppose that ship has long since sailed.

Re: auto-wrapping, I don't think it will be possible to be consistent with `async` blocks now. `async` blocks do "auto-wrapping" of a sort, into an anonymous type implement

[2019-08-29 23:00] ubsan commented on #63851
@RalfJung _shrug_

I don't have a horse in this race. I just think they're nicer semantics.

[2019-08-29 23:04] programmerjake commented on #63502
doesn't `?` still use `From` rather than `Into`, or did I miss some happy RFC?

[2019-08-29 23:14] nagisa commented on #63959
What led you to the conclusion of a corrupt stack, it looks fairly reasonable to me.

[2019-08-29 23:20] oli-obk opened #64008 "Nested closures give suboptimal move suggestion"
The following code needs a `move` on the `map` closure, but the suggestion first tells us to add it to the `flat_map` closure. After following that suggestion, the next error will tell us to put it on the `map` closure. This terminates correctly, but should suggest the final thing immediately. Note that with many nested levels of closures, there will be one error-fix-recompile cycle per nested clo

[2019-08-29 23:23] BaoshanPang opened #64009 "Why can't update libc to 0.2.63 or 0.2.64?"
I notice by default we are using libc 0.2.61. and we can update it to 0.2.62 if using "cargo update -p libc".
But I see the latest libc version is 0.2.64. Is there any special reason that prevent us from using the version 0.2.63 or version 0.2.64?

Thanks,
Baoshan

[2019-08-29 23:45] Centril commented on #60406
The stabilization proposal is up: https://github.com/rust-lang/rust/pull/64010.

[2019-08-29 23:59] almielczarek commented on #63983
I'd like to work on this if it is still available.

[2019-08-30 00:18] petrochenkov commented on #55414
Minimized further:
[code]

[2019-08-30 00:18] rpjohnst commented on #31436
I don't think we've lost any chances at consistency in the auto-wrapping sense. Both `async` blocks and functions can use `?`, and both must do their own manual `Ok`-wrapping, for both early and final returns.

A `try` block, on the other hand, could use `?` with automatic `Ok`-wrapping, *including* for "early returns" *assuming* an early return feature- perhaps [label-break-value](https://github.

[2019-08-30 00:28] petrochenkov commented on #55414
The ICE happens due to a mismatch in nonterminal token visiting between `Visitor` and `MutVisitor` (`token::NtExpr` in this case).

`Visitor` (`BuildReducedGraphVisitor`) doesn't visit them so macros in them don't get properly registered, `MutVisitor` (`InvocationCollector`) however visits them and attempts to expand macros in them even if they are not registered, so ICEs happen.

[2019-08-30 00:29] Mark-Simulacrum commented on #64009
Concretely, no, but any changes to Cargo.lock in rust-lang/rust usually uncover edge cases. PRs are the best way to update dependencies.

Closing.

[2019-08-30 00:29] #64009 closed

[2019-08-30 00:33] Mark-Simulacrum commented on #63973
I'm going to transfer this issue over to rust-log-analyzer since I think we do not want to change behavior in CI (though log-analyzer may want to expose different UI, which we're working on).

[2019-08-30 00:36] Mark-Simulacrum commented on #63708
Closing. I agree with @Centril that this is best suited for a PR (rather than an issue that is likely to get lost/abandoned).

[2019-08-30 00:36] #63708 closed

[2019-08-30 00:43] Mark-Simulacrum commented on #62909
I'm going to move this to T-doc as I personally don't think we should special case things even more in rustdoc (and it seems much simpler to just add a line to the primitive docs in the relevant files today).

[2019-08-30 00:44] Mark-Simulacrum commented on #62909
Ah, I missed that this is about *methods*, not *types*. In that case yeah this probably needs to be in rustdoc (and I guess only applies to primitives since those bypass coherence).

[2019-08-30 00:47] clarfon commented on #46736
@gnzlbg Different question -- considering the way Rust is currently packaged, it's impossible to get libcore separately from libstd; when you download for a target, you download both. Is there a plan to separate out the current notion of "target" to just the underlying CPU architecture and not the operating/build environment?

This basically affects whether this discussion is meaningful in any way

[2019-08-30 00:56] gnzlbg commented on #46736
Some targets only ship libcore, and some targets do not even ship libcore.

There are targets that are independent of that, e.g., `wasm32-unknown-unknown`.

[2019-08-30 01:05] clarfon commented on #46736
I guess that I'm asking the wrong question-- the point I'm making is that, although there are targets without libstd, there isn't any notion in Rust of compiled code that's independent from its operating environment. Sure, you can specify the environment to be "none" and the resulting bytecode will be environment-agnostic, but there's never the opportunity to link code between different "targets"

[2019-08-30 01:18] estebank commented on #64008
Note that _both_ `move`s are needed.

[2019-08-30 01:21] estebank commented on #63983
@almielczarek go ahead!

Ideally, you could turn the output into

[code]

but just changing the tuple case would be enough.

[2019-08-30 01:54] Barronli commented on #48700
I found if I move the bootloader project directory to be under the wsl filesystem (e.g., the home ~/ in my case), the bootloader just builds fine. The error only happens when the project is in a mounted windows filesystem (e.g., the disk D: or /mnt/d in my case).

I suspected the error was caused by some mismatch in the file permission handling between rustc and wsl for the mounted filesystem. But

[2019-08-30 02:27] brson commented on #63232
I haven't been following this discussion but wanted to link to a musing about the ideal way to handle the desired runtime exception for std: https://github.com/CraneStation/rust-wasi/issues/9#issuecomment-526429962

This is in context of the rust-wasi license, which is currently "Apache-2.0/Apache-2.0+LLVM exception/MIT", and here's what I just said about how this might compare to "Apache-2.0/BSL-

[2019-08-30 02:46] andoriyu opened #64013 "Segfaults on FreeBSD in some cases since 1.37.0"
I have a crate that links to library in base for FreeBSD, up until 1.37 it was working fine. Since 1.37 and after it started segfaulting on certain calls.

I can't reproduce it outside of FreeBSD, but here is is the "minimal" [example](https://github.com/Inner-Heaven/libnv-rs/blob/faulty/examples/libvn_sigsegv.rs).

Here is backtrace:
[code]

OS: FreeBSD 3558 12.0-RELEASE-p10 FreeBSD 12.0-RELEASE-

[2019-08-30 02:55] andoriyu commented on #64013
After digging into this a little bit: this only happens with rust installed from rustup, version from ports works fine.

[2019-08-30 03:35] sunfishcode commented on #63232
I'm not a lawyer, and the following isn't legal advice.

I'm told that dual-licensing is more complex than a single license, because dual-licensing doesn't automatically mean that end users get the union of all the rights. With a single license, it's clear what you get.

For the record, Apache-2.0 WITH LLVM-exception provides:
 - GPLv2 compatibility,
 - Clarity on what the license means for compil

[2019-08-30 04:42] sunfishcode commented on #63918
The reduced testcase is now fixed in [r370430](https://github.com/llvm/llvm-project/commit/8cfeeaf9de0b24248be1074c7593107c748cc16c).

[2019-08-30 04:45] eddyb commented on #63959
I think the wrapper switched to `exec` at some point (i.e. the process gets reused, without forking).
AFAIK, that would allow debugging to continue to the real `rustc`.

I don't think anything like this is possible on Windows.

[2019-08-30 04:49] eddyb commented on #63959
You don't need to, this is not in LLVM, it's in `syn`. You can probably reproduce with just `cargo check` (or `rustc --emit=meta` / `rustc --pretty=expanded`).

[2019-08-30 05:57] tmiasko commented on #63993
The `self` is a `Pin<&mut Self>`. Obtaining mutable references to the fields
will require going through `DerefMut`, which requires unique borrow. This isn't
a NLL bug.

You can avoid the issue by dereferencing `self` once on entry to the method
```let this = &mut *self```, and then continue accessing it through `this`.

[2019-08-30 06:08] vityafx commented on #51635
Is anybody working on this problem? Because I can't work on my project. Both nightly docker images I use don't show lines, only errors, it is really very hard to guess what is causing errors and where.

[2019-08-30 06:18] bjorn3 commented on #34902
I think the ci should also move the src and target dir between building stage 1 and building stage 2 for the repro test.

[2019-08-30 06:49] #39131 closed

[2019-08-30 07:02] RalfJung commented on #63197
@axos88 is it correct that you are using a nightly compiler? On stable, you cannot deref raw pointers in consts the way youa re doing in the OP.
When you have nightly features enabled, please always mention that in the issue.

[2019-08-30 07:25] RalfJung commented on #63197
So looks like this will need lang team discussion / FCP. Nominating.

@rust-lang/lang the issue here is about code that does things like
[code]
(This is the stable-Rust version of what the OP is doing.)

Right now, this code gets rejected by our "const safety" check. That check runs on the final value of every static and const, and tries to make sure it is [const safe](https://github.com/rust-rfcs

[2019-08-30 07:50] RalfJung commented on #63818
Addendum on the `derive(Debug)` story: when I said "we can't have it", I meant "we can't debug-print fields that are currently borrowed". All the other fields could still be printed.

[2019-08-30 08:19] GuillaumeGomez commented on #63816
If it's not stable, then it's fine. :)

[2019-08-30 08:49] gilescope commented on #40062
Retain everything but the object? As work-arounds go that's shorter, but it's not ideal for expressing intent. Still keen on `remove_first` and `swap_remove_first`.

[2019-08-30 08:55] mati865 commented on #63959
Process gave me exit code for stack corruption before, took quick look at the trace and it didn't make any sense to me.
On second look I noticed the crash happened inside proc macro...

Yeah, it hit me later. Running `cargo check` on `cargo-metadata` crate with changes from https://github.com/rust-lang/rust/issues/63959#issuecomment-525515756 reliably reproduces it.

In case you find it useful her

[2019-08-30 08:55] taiki-e commented on #62502
Moving to liballoc should be fine.
https://github.com/rust-lang/rust/blob/c7d4df0fcfc3ed3ee98a430e451c6776e90d65ae/src/libstd/error.rs#L5-L14

[2019-08-30 09:00] GuillaumeGomez commented on #63890
It's not a bug, it's markdown, litterally. Like @shepmaster wrote, it's considered as a code block.

[2019-08-30 09:39] jonas-schievink commented on #64013
Presumably a duplicate of https://github.com/rust-lang/rust/issues/64006, so closing in favor of that

[2019-08-30 09:39] #64013 closed

[2019-08-30 09:48] eddyb commented on #63959
@mati865 Since AFAICT the bug happens during the macro expansion in `cargo-metadata`, you should be able to get rid of most of it.

Not even names need to be resolvable, other than invoking `serde_derive`'s macros.

So, for example, you can remove all dependencies of `cargo-metadata`, other than `serde_derive`, because they're not needed in the reproduction.

I'm worried this is a miscompilation o

[2019-08-30 09:49] hellow554 commented on #63987
But do you really want a lint for something that is actually ok-ish to do? I'm not sure about that :/

[2019-08-30 09:56] msizanoen commented on #62896
The GCC ARM C++ ABI is not very stable (sometimes you will see the "argument passing of ... changed in version ..." warning) so can somebody check if flushing sccache fixes this?

[2019-08-30 10:25] #62999 closed

[2019-08-30 10:26] rust-highfive opened #64020 "`miri` no longer builds after rust-lang/rust#63402"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#63402, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @estebank, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @oli-obk, the PR reviewer, and @rust-lang/compiler -- nom

[2019-08-30 11:02] petrochenkov commented on #44732
Are there any plans to stabilize this?
From the compiler point of view, I'd like to get rid of this if only possible, in favor of regular `#[doc = include_str!("doc.md")]`.
(Which already partially works, but requires some dance with macros and `#[doc = $expr]`.)

[2019-08-30 11:16] michaelvoronov commented on #63562
Hi, guys! Are there any updates?

[2019-08-30 12:18] RalfJung commented on #64020
https://github.com/rust-lang/rust/pull/63402 introduced an ICE (integer overflow) in the error emitting code, that Miri runs into.

[2019-08-30 12:18] RelayrMA commented on #59032
Same here on gentoo with ESET.
[code]

[2019-08-30 12:19] nikomatsakis commented on #63818
We discussed this issue in the @rust-lang/lang meeting yesterday ([recording etc available here][mtg], though for this particular issue you'll want to jump in to about the 50 minute mark or so) we discussed this issue. **We came to a rough consensus on a solution** for how to integrate the current generator design while retaining noalias on `&mut`, which I will describe below. Of course, all of th

[2019-08-30 12:30] oli-obk commented on #64008
Oh... hmm... I thought I had a situation where only the inner one is needed. I'll investigate more.

[2019-08-30 12:52] bjorn3 commented on #63818
Immutably borrowed is fine right?

[2019-08-30 13:03] CAD97 commented on #63798
At the _very_ least, the issue that it's pointing at should have a note about the destabilization. We can fix that now to help avoid future confusion: @Centril, do you mind editing the OP of #50297 to add a clear note about such?

[2019-08-30 13:07] RalfJung commented on #63818
If the variable is *only* immutably borrowed, I *think* it's fine, but this relies on there not being an "intermediate" mutable borrow from which the immutable one was reborrowed.

[2019-08-30 13:29] csmoe commented on #64002
no, I think you have misunderstood the lifetime, when we talk about lifetime in Rust, we always default to the fact that borrowing happens there, or in short, no loan, no lifetime.

[2019-08-30 13:31] RReverser commented on #60825
Noticed same issue. @CryZe in example above there are no pointers involved. `static` variable should just import WebAssembly global, which on JavaScript side is represented by `WebAssembly.Global` interface and allows to share variables that can be mutated and read from either side.

[2019-08-30 13:44] nikomatsakis commented on #63818
I think the TL;DR would be "only variables you could have accessed in your own code at the point where the await occurred" -- there are maybe some interesting caveats here around unsafe code and raw pointers. i.e., there might be accesses you *could've* done in *safe* code that you *shouldn't* do in unsafe code.

[2019-08-30 14:07] TejasQ commented on #58063
Why is this closed?

[2019-08-30 14:23] gnzlbg commented on #46736
I'm not sure I follow. You can build a static lib of a `none` target, and link it with a static lib of a non-`none` target.

If you have a program that needs to link against libc, you can just link the `libc` crate.

---

I feel like moving `c_void` to libcore was, in hindsight, a bad idea. The `libc` crate lives between `libcore` and currently `liballoc`. We have dozens of workarounds to support

[2019-08-30 14:29] msizanoen commented on #62896
Trying to bootstrap rustc beta, building stage 1 without errors so far, so I guess we only need to clear sccache.

[2019-08-30 14:36] msizanoen commented on #62896
Compiler output (stage1):
[code]

[2019-08-30 14:46] CryZe commented on #60825
Sure but that sounds like you want some intrinsics via std::arch and not statics? Like what is even supposed to happen here if you take a reference and then dereference it? Unless that is supposed to be Undefined Behavior. But can we even make it Undefined Behavior? Pretty sure getting a reference and dereferencing a static is not considered UB by Rust, so it can't be made UB when compiling to was

[2019-08-30 14:51] ultrasaurus commented on #54771
I also found this error message confusing and referred here via [stackoverflow question](https://stackoverflow.com/questions/57720321/understanding-error-trait-futuresfuturefuture-is-not-implemented-for/57721593#57721593)

Setting aside whether it is possible, it would have been really helpful to see an error like:

[code]

That's kind of wordy, but thought another suggestion might help someone to

[2019-08-30 15:13] axos88 commented on #63197
Yeah, it was nightly rust, I'll keep that in mind in the future.

[2019-08-30 15:29] axos88 commented on #63197
I'm not sure I entirely follow your last message, however I am getting a feeling that statics in rust are conflating two things, what you call `promotion`: compile-time consts and run-time constants. The former being a compile-time only thing that never reaches the end binary and the latter being an entry in the `.rodata` section, living in the actual memory space of the end application, that is r

[2019-08-30 15:32] axos88 commented on #63197
In this particular storing dangling references would be a no-no for `static const`s, but would be okay in `static readonly`s. Dereferencing them would be disallowed, since it can't happen at compile time.

[2019-08-30 15:41] oli-obk commented on #63197
I think we could add `#[link-section=".rodata"]` to statics and make that have special semantics (you can't use them from other statics and they are allowed a few extra things)

[2019-08-30 16:08] axos88 commented on #63197
@oli-obk why not define those `special semantics` with a language level keyword, since imho they are separate concepts.  Also I'm not entirely sure, but the name of the `.rodata` section is heavily dependent on the linker script afaik, and could easily be named `nowritedata` in some architectures / special cases, that we couldn't really predict.

[2019-08-30 16:13] dialtone commented on #63993
Alright, thanks for the answer, it's a bit awkward anyway but it makes sense. Given however that in the discord channel other people were also confused by this, and now that I know what to search for, I see many questions asked online about this very same case for other types that implement DerefMut (like RefCell, Box and so on), maybe the error message returned by the language could explain a bit

[2019-08-30 16:22] estebank commented on #51635
I don't believe anyone is actively working on this issue, as no one has self-assigned. @petrochenkov might have some insight.

@vityafx could you provide more information? Did it not use to happen in previous nightlies? Can you help us identify when it was introduced? What project are you seeing this in? As it stands we have @Yatekii's repro case, but we can't verify that it is the same issue you'

[2019-08-30 16:29] estebank commented on #54771
@ultrasaurus thanks for the suggestion! This is something we certainly want to improve but because _reasons_ (gesticulates wildly) we are limited in what we can do today. We have some planned work that will help tremendously, I think and [the minimized case in your question](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a26b3b5c3dfe29122be28e07ed0f3018) is very useful.

[2019-08-30 16:36] vityafx commented on #51635
@estebank I was not using nightly actively for quite a while, but I think I did not have this problem on `1.36` nightly. It started happening on `1.38` and continues to happen on `1.39`.

[2019-08-30 16:42] cramertj commented on #64004
Tagging as blocking because fixing this is a potential future-compat hazard.

[2019-08-30 17:06] rpjohnst commented on #63818
This approach sounds like it would lose a lot of aliasing information that would exist in a synchronous version of the generator, despite the "outside world" (the code with the `Pin<&mut G>`) having no actual access to the state machine's internals.

Would it be possible to recover that aliasing information "inside" the generator, so e.g. the typical "local variables that I haven't created referen

[2019-08-30 17:30] estebank commented on #51635
@vityafx could you point us in the direction of the project you're experiencing this with?

[2019-08-30 18:07] RReverser commented on #60825
@CryZe C++ behaviour seems to be the closest to correct one here. The end result has to be that `extern { static ... }` should always produce the same as what `pub static ...` currently produces, except one is an export and another is an import, but they need to be able to communicate each other when modules are loaded together on the same memory.

[2019-08-30 18:22] oli-obk commented on #63197
It could be an explicit and new attribute that will generate the appropriate link-section hint.

[2019-08-30 18:27] qiujiangkun commented on #64002
I see what a mistake I've made, as rust freshman. I tried to push a couple of strings with short time to a HashMap, which outlives my strings. Maybe it's a better way to tell user where he made a mistake like this:
[code]

[2019-08-30 18:35] jonas-schievink opened #64022 "Tracking issue for making `Vec::new` a `const fn`"
This tracks stabilization of the `const_vec_new` feature, introduced in https://github.com/rust-lang/rust/pull/50233, which allows calling `Vec::new` in a constant expression.

[2019-08-30 19:07] Nashenas88 commented on #57180
I tracked this down to this commit: https://github.com/rust-lang/rust/commit/6aa74939bf7a2ecbbb07a88ae808398b532c097b It's not clear to my exactly why this commit would cause that issue. Any idea @QuietMisdreavus ?

[2019-08-30 19:08] varkor commented on #60790
The previous fix was closed, so this issue is open again. The [previous PR](https://github.com/rust-lang/rust/pull/61068) contains detailed instructions.

[2019-08-30 19:13] varkor commented on #52327
@eddy [points out](https://discordapp.com/channels/442252698964721669/443151243398086667/616973782409805860) that:

[2019-08-30 19:34] Nashenas88 commented on #57180
Stems from this PR https://github.com/rust-lang/rust/pull/53162

[2019-08-30 20:09] acfoltzer commented on #58037
Some relevant discussion is occurring on #63909.

[2019-08-30 20:23] djrenren opened #64024 "Matches on tuples of boxes present incorrect dereference help text"
Consider the following broken code([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f9637cf1265ffb17eeac765c000ba345)):

[code]

We get this error message:
![image](https://user-images.githubusercontent.com/634666/64049296-35e7eb80-cb29-11e9-9622-058ba7d747ce.png)

The suggested fix is to deref `*(x,y)` which is invalid. It should be `(*x, *y)`.

NOTE: This is a

[2019-08-30 20:35] sam09 commented on #63988
Looks like this is unclaimed? I would like to pick it up in that case

[2019-08-30 20:42] RalfJung commented on #63197
"promotion" is unfortunately a [heavily overloaded term](https://github.com/rust-rfcs/const-eval/pull/27#issuecomment-526082204), but the one I am talking about here is the automatic creation of `.rodata` entries. See [this RFC](https://github.com/rust-lang/rfcs/blob/master/text/1414-rvalue_static_promotion.md) and also [this document](https://github.com/rust-rfcs/const-eval/blob/master/promotion.

[2019-08-30 20:43] RalfJung commented on #63197
@oli-obk

Not sure what that would solve...?

[2019-08-30 20:47] umanwizard commented on #55300
Hi @Mokosha , is this expected to be stabilized eventually?

[2019-08-30 21:31] #63976 closed

[2019-08-30 22:11] talchas opened #64027 "RangeBounds<T> impl for Range*<&T> is missing ?Sized"
Much like the impl for `(Bounds<&T>, Bounds<&T>)`,  `impl<T> RangeBounds<T> for RangeFrom<&T> {` could use a `T: ?Sized`. This would allow
[code]
to compile the way it does when using Bound. (Unfortunately I think the turbofish is still needed, and I don't see any better way to use range on a String)

(Range and RangeTo of course also would want this)

[2019-08-31 00:57] estebank commented on #63987
@hellow554 but _is_ it ok? We currently don't lint the following:

[code]

It seems to me like a reasonable warn by default lint. Silencing them in the scope close to it is reasonable. For the _common_ case I would prefer to spell out the (one or two) holes in the pattern. [In the std there were only two cases this lint triggered](https://github.com/rust-lang/rust/pull/64007/files) and both were c

[2019-08-31 01:19] estebank commented on #64020
https://github.com/rust-lang/rust/pull/64029 will fix the issue on `rustc`'s end, which should automatically fix this one.

[2019-08-31 01:23] #63830 closed

[2019-08-31 03:51] gnprice commented on #31844
For anyone coming across this and curious about the status -- there were a couple of significant conceptual advances in 2018:
http://smallcultfollowing.com/babysteps/blog/2018/02/09/maximally-minimal-specialization-always-applicable-impls/
http://aturon.github.io/tech/2018/04/05/sound-specialization/

More recently, last month @nikomatsakis [wrote](http://smallcultfollowing.com/babysteps/blog/2019

[2019-08-31 03:57] Centril commented on #63987
I think the better question is: does the lint prevent something harmful?

I could see this lint being problematic when coupled with [pattern aliases](https://ghc.haskell.org/trac/ghc/wiki/PatternSynonyms) if we added those because there might be partial overlap when you use an or-pattern in combination with two pattern aliases.

[2019-08-31 04:30] cuviper commented on #61206
Do you have any details how you're configuring the build, or how to reproduce this?

I just tried the 1.37.0 tarball with the default config, and it only built LLVM once. I ran the build again and it tried LLVM again, but that was indeed a no-op build, only 6 seconds total. I also tried with `--enable-ninja` and got the same thing, except the second no-op build was only 3 seconds.

[2019-08-31 05:30] msizanoen commented on #62896
Comparing local build with upstream beta binaries:
[code]

[2019-08-31 06:23] phansch commented on #61809
@rustbot claim

[2019-08-31 06:37] andoriyu commented on #64013
@jonas-schievink that's what I thought. I wasn't sure because the other issue about `build.rs` and this one is at runtime.

[2019-08-31 06:46] hellow554 commented on #63987
Yes, indeed. Rust doesn't emit a warning, but clippy does:

[code]

There are many lints that rustc doesn't cover, but clippy will do.

[2019-08-31 07:26] estebank commented on #63987
The existence of the clippy lint is encouraging, although I'd make the argument that this lint deserves to be in `rustc` as much as the unreachable patterns one.

I will say, though, that the output of the clippy lint could be improved slightly by using labels instead of notes and being more explicit on how the ranges overlap:

[code]

I think the clear cut case is off-by-one errors when writing `

[2019-08-31 07:48] varkor commented on #63987
Decisions about lints seem more in line with the compiler team's responsibility, assuming they're implementation-defined, rather than defined by the language specification itself.

[2019-08-31 08:09] gyakovlev commented on #61206
@cuviper still patching 1.37,  but I'll check it without patches and will attach my toml file.

[2019-08-31 08:16] vityafx commented on #51635
If this can help, right now I am using nightly only for my [rocket](https://rocket.rs) HTTP server.

Code lines are not only invisible in `cargo check` or `cargo build` but also in `cargo clippy`.

[2019-08-31 09:03] gyakovlev commented on #61206
[code]

powerpc example, but it also happens on x86_64

looks like the second build happens on installation.

the build is run using
      env $(cat "config.env)\
          python ./x.py build -vv --config=config.toml -j<somenumber> \
          --exclude src/tools/miri

contents of config.env: CFLAGS_powerpc64le-unknown-linux-gnu=-m64

and the installation command is
 env DESTDIR="/some/staging/pa

[2019-08-31 09:05] gyakovlev commented on #61206
[log.zip](https://github.com/rust-lang/rust/files/3562251/log.zip)

[2019-08-31 09:37] csmoe commented on #64002
You can ask for details about `E0597` from rustc with `rustc --explain E0597`, and I suggest you re-read chapters about lifetime in the rust book.

[code]

[2019-08-31 09:37] #64002 closed

[2019-08-31 10:47] marmeladema opened #64033 "Help with enum of Box through FFI"
Hello everyone!

I am having an issue understanding how to share an Enum, where some variants holds a Box, through FFI boundary.
The Enum looks like this:
[code]
At the beginning I thought it would not possible to share this type with C directly, but then I found https://github.com/rust-lang/rfcs/blob/master/text/2195-really-tagged-unions.md
So after reading that RFC, I thought that the C type equ

[2019-08-31 10:59] jonas-schievink commented on #64033
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2019-08-31 10:59] #64033 closed

[2019-08-31 11:35] msizanoen opened #64034 "C++ compiler cache causes compiler segfaults on ARM"
Since the LLVM 9 update, rustc will segfault on ARM hosts with opt-level > 0 and codegen-units > 1.
The possible cause is that GCC ARM C++ ABI is not very stable (sometimes you will see the "parameter passing of argument of type ... changed in GCC \<version\>" note) and sccache did not properly handle this.
Possibly GCC was updated when we was using LLVM 8 and the undefined behavior is somehow onl

[2019-08-31 12:27] petrochenkov commented on #54727
Stabilization PR for proc macros generating `macro_rules` - https://github.com/rust-lang/rust/pull/64035.

[2019-08-31 12:41] lnicola commented on #54054
Looks like `ChunksExactMut` can be ticked off (#63265).

[2019-08-31 14:08] RalfJung commented on #63818
By "synchronous version of the generator", do you mean the non-generator version ("remove `async`")?
If so -- the *inside* of the `async fn` still has all the same aliasing information as the inside of a `fn` would. This works as long as the "outside" does not do any move to access the memory that the "inside" assumes it has for itself. That's exactly what Niko's approach achieves: the `Generator`

[2019-08-31 14:47] cfal opened #64037 "Incorrect unused warning when value is used for a comparison inside a function invocation"
The following code generates an unused variable warning for x:

[code]

[code]

[2019-08-31 15:45] rpjohnst commented on #63818
Ah, I misread. (Thrown off by the comparison to `UnsafeCell`?) This sounds like it would accomplish the same thing.

I was assuming this would inhibit optimizations inside the generator as it would have to go through the `Pin<&mut Self>`.

[2019-08-31 16:30] sam09 commented on #63962
Can I pick up this one? Doesn't look like anybody working on this.

[2019-08-31 16:33] jonas-schievink commented on #64037
This is not an unused variable warning, the actual warning text is

    warning: value assigned to `x` is never read

...which is correct, since the initially assigned `None` is immediately overwritten with `Some(5)`

[2019-08-31 16:33] #64037 closed

[2019-08-31 16:54] matklad commented on #63689
made some initial stabs in https://github.com/matklad/rust/commit/0d46730d184b258880a38a8920f3b954a2dd3c31.

The idea is to remove cases from `Token::glue` one by one, until no tokens are glued together, except for `tt` matcher.

Faced a couple of problems:

* `parse_assert` accepts an `&[TokenTree]`, which throughs away jointness info, so `assert!(1 != 1)` does not parse
* `NtTT` should be change

[2019-08-31 17:33] RalfJung commented on #63818
Hm, good question. I don't know how the generated code looks like. But I don't think the `noalias` story has much to do with this, actually.

Usually optimizations of local variables are not based on aliasing but based on their addresses not having been leaked -- so that they are private to us and nobody else can make any observation about them. Every local variable is a separate "allocated object

[2019-08-31 18:13] Aloso commented on #63890
@GuillaumeGomez it's a code block, but it's not a doctest, it might not even by Rust syntax.

Doctests can only be written with the

[code]

syntax.

[2019-08-31 18:25] kennethbgoodin commented on #64027
This sounds straightforward -- would this be a good issue for someone relatively new to contributing?

[2019-08-31 18:32] kennethbgoodin commented on #60790
I'd like to finish this out if @chansuke is no longer working out.

[2019-08-31 20:27] djrenren opened #64045 "Incorrect error reported for doc comment on if statement"
Example code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3391ce9f657a47424a118ad9a6941a99)):
[code]

Error:
<img width="532" alt="image" src="https://user-images.githubusercontent.com/634666/64068842-dfdf7a80-cbf2-11e9-9c66-55e1e4f2e5c4.png">

Instead this should report a *warning* about an unused doc comment like it does on statements:

[code]

<img width

[2019-08-31 20:28] Mark-Simulacrum commented on #64034
cc @alexcrichton @aidanhs since this sounds like maybe it's an sccache issue?

We can temporarily deal with this by clearing out our caches and rebuilding beta, but that's not a great place to be in (where we can apparently accidentally cause segfaults due to sccache lacking granularity...

[2019-08-31 20:34] Mark-Simulacrum commented on #64027
Yes, I think a PR here is the best way to go, probably we'd want to add `?Sized` to all the RangeBounds impls

[2019-08-31 20:47] Mark-Simulacrum commented on #61974
The associated PR ended up being closed, and for reasons that are IMO likely to require an RFC: rethinking whether poisoning locks in std is still a good idea. As such, I'm going to close this issue.

[2019-08-31 20:47] #61974 closed

[2019-08-31 21:07] Mark-Simulacrum commented on #15144
I feel like the borrow checker is doing what it's meant to here even if it's a bit unfortunate, as we're not actually providing the `&mut Foo` for long enough (e.g. Bar could be from some other place, potentially living longer than the Foo borrow we've provided). So closing.

[2019-08-31 21:07] #15144 closed

[2019-08-31 21:08] Mark-Simulacrum commented on #15020
per https://github.com/rust-lang/rust/issues/51002 I'm going to close this as we're trying to kill of cfg entirely

[2019-08-31 21:08] #15020 closed

[2019-08-31 21:11] Mark-Simulacrum commented on #17930
[code]

[2019-08-31 21:11] #17930 closed

[2019-08-31 21:15] Mark-Simulacrum commented on #62731
Closing in favor of https://github.com/rust-lang/rust/issues/19207.

[2019-08-31 21:15] #62731 closed

[2019-08-31 21:19] Mark-Simulacrum commented on #18627
Seems to have been fixed, probably due to custom test frameworks and/or more hygienic and better test expansion.

[2019-08-31 21:19] #18627 closed

[2019-08-31 21:21] Mark-Simulacrum commented on #21072
I don't think we want to be expanding plugin scope at all today since they're slated for removal as soon as we get Servo off of them; closing.

[2019-08-31 21:21] #21072 closed

[2019-08-31 21:22] Mark-Simulacrum commented on #35582
`quote_item` is gone today I believe and I think largely this isn't _too_ worth keeping around so I'm going to go ahead and close.

[2019-08-31 21:22] #35582 closed

[2019-08-31 21:24] Mark-Simulacrum commented on #49995
Closing since plugins are slated for removal, clucstr should probably move to being a proc macro (they should be able to do what's needed for that impl today, I believe).

[2019-08-31 21:24] #49995 closed

[2019-08-31 21:30] Mark-Simulacrum commented on #23488
Seems to work without -Cdebuginfo=1 today in perf, at least as far as I can tell.

[2019-08-31 21:30] #23488 closed

[2019-08-31 21:33] Mark-Simulacrum commented on #23165
This seems like expected behavior to me -- if you're asking for only dep-info to be emitted, then the only file we're producing is test.d and that depend only on test.rs. If you ask for other things to be emitted along side the dep-info, we'll include those in the file as well.

I'm going to close this.

[2019-08-31 21:33] #23165 closed

[2019-08-31 21:41] Mark-Simulacrum commented on #23113
I'm going to close this as I'm still not sure that this is entirely a good idea, in particular since we have ~1597 such files today.

Generated the list (https://gist.github.com/Mark-Simulacrum/cb65bb73dcc43914f2aae416370ec83b) with:
[code]

[2019-08-31 21:41] #23113 closed

[2019-08-31 21:46] Mark-Simulacrum commented on #24335
This seems hard to do today and even harder to do over time as we're slowly moving towards not having "phases" of compilation. We do emit a notification when we move to codegen today and there's an issue on Cargo https://github.com/rust-lang/cargo/issues/7265 about actually displaying that. I think further improvements here are likely of the scope that prior discussion on internals and maybe even

[2019-08-31 21:46] #24335 closed

[2019-08-31 21:49] Mark-Simulacrum commented on #24317
It feels like with `self: Arc<Self>` and such being possible this might be largely no longer _as_ necessary, even if it would be nice to have. It's also pretty clear that this leads to breakage in practice based on the crater run in #56955, so I think movement here would probably be worth of an RFC (though, likely, a somewhat small one). Closing.

[2019-08-31 21:49] #24317 closed

[2019-08-31 21:51] Mark-Simulacrum commented on #24320
I think this is largely unsolveable to the extent that derives are always going to be less than perfect (we don't know enough at expansion time). In particular, we hit this issue with repr(packed) types and related desire for the type to be Copy...

I'm going to close this issue as I don't think it's worthwhile to track this.

[2019-08-31 21:51] #24320 closed

[2019-08-31 21:52] Mark-Simulacrum commented on #62899
Indeed. Closing as duplicate.

[2019-08-31 21:52] #62899 closed

[2019-08-31 21:56] Mark-Simulacrum commented on #24278
I believe the correct test case here is https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=baa075b80cf04df7f1f3f6b8389d82ff; this emits
"warning: label name `'a` shadows a label name that is already in scope" today but probably shouldn't since the labels are only shadowed across a macro expansion boundary.

[2019-08-31 21:57] Mark-Simulacrum commented on #24853
I personally think this isn't really something we can/want to do anymore today, we depend on dozens of crates.io crates and place those in the sysroot today. Error messages on attempted use aren't great but that's an orthogonal issue.

[2019-08-31 21:57] #24853 closed

[2019-08-31 22:31] zackmdavis commented on #63962
@sam09 Please do.

@rustbot assign @sam09

[2019-08-31 22:36] zackmdavis commented on #64024
(Not "mentoring" exactly, but at least preliminary grep and code-reading research—)

The suggestion is issued here:

https://github.com/rust-lang/rust/blob/fba38ac27e2ade309f4c2504a6d6cd3556972a28/src/librustc/infer/error_reporting/mod.rs#L610-L620

The `MatchExpressionArmPattern` obligation seems to be coming from here:

https://github.com/rust-lang/rust/blob/fba38ac27e2ade309f4c2504a6d6cd3556972

[2019-08-31 22:36] ZeGentzy opened #64048 "Recursive fn with varying const generic parameter causes ICE."
[code]

[Play link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=43c26fdb0221099101742ce3c0aa257a)

Backtrace: <details>
[code]
</details>

[2019-08-31 22:38] ZeGentzy commented on #64048
Even smaller example:
[code]

[2019-08-31 22:39] Mark-Simulacrum commented on #27478
I would not expect this to work; we generally do not permit calling an expression's result without parens wrapping the expression.

[2019-08-31 22:39] #27478 closed

[2019-08-31 22:41] Mark-Simulacrum commented on #28361
I personally think that this is not something we should allow due to requiring parens elsewhere; and in any case it doesn't seem like it's worthwhile to keep this issue open.

[2019-08-31 22:41] #28361 closed

[2019-08-31 22:59] Mark-Simulacrum commented on #28482
I personally don't think this is something we're likely to implement on our side and if it's a relatively small change would be implementable by PR (as an unstable flag, probably), and if it's something more complicated then it'd be internals thread and such worthy.

[2019-08-31 22:59] #28482 closed

[2019-08-31 23:01] Mark-Simulacrum commented on #28373
I personally think this is a substantial enough change to rustdoc and would be RFC worthy, even if the RFC would be pretty small.

[2019-08-31 23:01] #28373 closed

[2019-08-31 23:04] Mark-Simulacrum commented on #29323
I'm going to go ahead and close this as this ultimately is a "rustdoc is slow to build for the first time" issue and this isn't really the right issue to track that. FWIW, I do think that we can make significant progress on that issue and maybe even solve it outright, but it'll take some legwork in bootstrap.

[2019-08-31 23:04] #29323 closed

[2019-08-31 23:36] Mark-Simulacrum commented on #30832
I'm going to close in favor of https://github.com/rust-lang/rust/issues/15023 which is maybe not a great issue for this but seems to fit the bill of "temporary lifetimes are sometimes not quite what one would want".

[2019-08-31 23:36] #30832 closed

[2019-08-31 23:39] Mark-Simulacrum commented on #31044
AFAICT, this seems to no longer be the case, though I can't find the commit that made it no longer the case. In particular, https://github.com/rust-lang/rust/blob/fba38ac27e2ade309f4c2504a6d6cd3556972a28/src/libstd/sys_common/net.rs#L194-L198 no longer appears to read the port from uninitialized memory...

[2019-08-31 23:39] #31044 closed

[2019-08-31 23:40] Mark-Simulacrum commented on #30838
doc.rust-lang.org redirects to https://www.rust-lang.org/learn today, but I think we probably want these links from e.g. https://doc.rust-lang.org/std/index.html as well so leaving open.

[2019-08-31 23:48] Mark-Simulacrum commented on #31380
I feel like this has been done since this issue was opened; if we need this still though feel free to comment here and we can reopen!

[2019-08-31 23:48] #31380 closed

[2019-09-01 00:02] #60319 closed

[2019-09-01 01:35] ranweiler commented on #47938
I ran into this running the `rustc` test suite and lldb 8.0.0.

It looks like I can always repro with a program like this:
[code]
After breaking at `println!`, we can elicit:
[code]
It looks like I can repro this by having my local var shadow any direct submodule of `core` (`array`, `unique`, &c).

This may be related to this lldb (todo) "project": [Fix local variable lookup in the lldb expression

[2019-09-01 01:42] ranweiler commented on #44580
@varkor, I'm actually following through on the above comment, so if you have any advice, I'm all ears! Feel free to refer me to another communication channel, too.

[2019-09-01 01:46] ranweiler commented on #47938
See also:

— http://lists.llvm.org/pipermail/lldb-dev/2016-June/010623.html

[2019-09-01 02:12] ranweiler opened #64050 "debuginfo/boxed-struct test fails with LLDB 8"
On a fresh clone (b3146549ab) of the `rust` repro, using LLVM/clang/lldb 8.0.0, the `debuginfo/boxed-struct` test fails due to #47938.

As noted in my [comment there](https://github.com/rust-lang/rust/issues/47938#issuecomment-526878164), the cause is the local variable `unique` shadowing `core::unique`.

This can be fixed by renaming the local variable `unique` in `test/debuginfo/boxed-struct.rs`

[2019-09-01 05:02] asomers commented on #63569
I think another missing function is a way to create a slice of uninitialized data from a Vec.  Like this:
[code]
Which would be used like this:
[code]
There's no need for `Vec::uninit()` or `Vec::assume_init()`, because `Vec::with_capacity` and `Vec::set_len` already do pretty much the same thing.  And for simple cases like this one `Vec::as_mut_ptr()` would suffice without the formality of creati

[2019-09-01 05:06] estebank commented on #63724
[The following doesn't seem to be behaving correctly](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=830cba0ee2e272b23b603cab1cf52d4b) either as only the first incorrect import gets an E0432, while the others just get the unused import warning:

[code]

I have a patch for the glob imports, but this new problem is still unresolved.

[2019-09-01 07:08] andjo403 commented on #63638
maybe shall open this again as the windows version still do not use 100% cpu and execution time is the same or a small regression.

[2019-09-01 08:35] starfear opened #64055 "vec![] creates broken vector of tuples with nulls in memory if a lot of elements passed."
**Description:** for example I can create vector with over 50K elements, using vec![/* elements */];
When I iterate values in vector I can meet that my tuple value is null (0), and next values will be null too.
I tried same with array, &[(i64, i64, i64)].to_vec(), but it's working correctly.
I also found a relationship between length and index where nulls begins
* 25K elements: all is working, all

[2019-09-01 09:09] jonas-schievink commented on #64055
How do you determine that there are 0 values? The gist doesn't do that, and adding 3 `assert!`s in the loop doesn't seem to fire for me.

[2019-09-01 09:54] dcchut commented on #64055
I made two versions of the example: [i32](https://gist.github.com/dcchut/39b4f678e51c9f12170e9c53e806a74b) and [i64](https://gist.github.com/dcchut/b2c2853b504e4b824c07b3c03a158b51).

**Stable (stable-x86_64-pc-windows-msvc, rustc 1.37.0 (eae3437df 2019-08-13))**
In debug mode, both examples error out with `thread 'main' has overflowed its stack`.  In release mode, the i32 version runs correctly,

[2019-09-01 10:33] starfear commented on #64055
yes, Im sorry for gist, it only shows that I tried to divide something by zero(value), I installed rustc from rustup

[2019-09-01 11:00] sinkuu opened #64059 "`-(-0.0)` raises const_err "attempt to negate with overflow""
[code]

[code]

<details><summary>Meta</summary>

[code]

</details>

[2019-09-01 11:13] petrochenkov commented on #63687
Fixed in https://github.com/rust-lang/rust/pull/64060.

[2019-09-01 11:14] mati865 commented on #63959
I've been struggling few past 2 days to build Rust because of https://github.com/rust-lang/rust/issues/61561 so I'm unable to progress on this issue.

[2019-09-01 11:16] mati865 commented on #61561
Ntldd output:
[code]

[2019-09-01 11:35] Centril commented on #64059
cc @oli-obk

[2019-09-01 11:46] #63719 closed

[2019-09-01 12:19] fenhl opened #64061 "Automatic dark theme still doesn't work"
Follow-up to #61079, #61236, #63830, and #63847.

Same symptoms as #63830. Additionally, I'm seeing styles from both light.css and dark.css active, and the ones in light.css are taking precedence over the ones in dark.css even though the system is in dark mode. Tested on <https://doc.rust-lang.org/nightly/std/> after deleting the local storage entry, and docs generated locally.

[2019-09-01 12:20] fenhl commented on #64061
cc @GuillaumeGomez

[2019-09-01 12:28] oli-obk commented on #64059
Huh...

[code]

compiles fine.

https://github.com/rust-lang/rust/blob/d0677b9abc143d64d6b0cd6720e36eb73674632f/src/librustc_mir/transform/const_prop.rs#L414

is the cause, I believe we don't need this anymore. We are now emitting the warning on the `TerminatorKind::Assert` that precedes it.

So in order to fix this (and deduplicate a bunch of warnings in our test suite), remove https://github.com

[2019-09-01 12:42] sam09 commented on #63962
`variant.fields.len()` gives me the number of fields of expected type. However I can't see how many fields `varaints.field[0]` has, when trying to compare to the fields the tuple struct pattern has (`subpats.len()` in this case)

[2019-09-01 13:10] Mark-Simulacrum commented on #31983
Closing as duplicate of https://github.com/rust-lang/rust/issues/42474.

[2019-09-01 13:10] #31983 closed

[2019-09-01 13:11] Mark-Simulacrum commented on #12309
Going to go ahead and close this as a duplicate of https://github.com/rust-lang/rust/issues/42474.

[2019-09-01 13:11] #12309 closed

[2019-09-01 13:12] Mark-Simulacrum commented on #40298
Closing as duplicate of https://github.com/rust-lang/rust/issues/42474.

[2019-09-01 13:12] #40298 closed

[2019-09-01 13:13] sinkuu opened #64064 "`unused_parens` false-positive on mutable binding inside &-pattern"
[code]

`unused_parens` suggests removing parens, but doing so will turn the pattern into a `&mut` pattern.

[code]

[2019-09-01 13:26] Mark-Simulacrum commented on #63638
I suspect that windows is blocked on the emitter lock, but don't know. I don't personally think it's too worthwhile to reopen this unless we can get similar stats as with Linux (e.g., is it using 90%+ on Windows? Far less?)

[2019-09-01 13:36] Mark-Simulacrum commented on #32379
AFAICT include! works today (the test case from https://github.com/rust-lang/rust/issues/11390 passes, and I recently used this is in a rustc PR as well...)

[2019-09-01 13:36] #32379 closed

[2019-09-01 13:36] Mark-Simulacrum commented on #32331
`select!` macro is gone today and we have a way of doing this I believe (rustc_internal_unsafe or some similar attribute on macros)

[2019-09-01 13:36] #32331 closed

[2019-09-01 14:04] RalfJung commented on #53605
See https://github.com/rust-lang/rust/pull/64011 for stabilizing `transmute` inside `const` but not `const fn`.

[2019-09-01 14:08] petrochenkov commented on #63798
Fixed in https://github.com/rust-lang/rust/pull/64066.

[2019-09-01 14:12] andjo403 commented on #63638
when I use the `src/ci/cpu-usage-over-time.py` script to measure the cpu usage for windows with my 16 core cpu the most of the values of the usage is between 40-50 %. both before and after the out of process rustc PR. so think it is as bade as it was for Linux.

Something that I was thinking of is that it creates a new dir for every test is that not slow to do that on windows? maybe change the out

[2019-09-01 14:17] Mark-Simulacrum commented on #32631
We seem to mostly permit this today via some lang items (e.g., https://github.com/rust-lang/rust/blob/d0677b9abc143d64d6b0cd6720e36eb73674632f/src/libstd/f32.rs#L28-L29 and https://github.com/rust-lang/rust/blob/d0677b9abc143d64d6b0cd6720e36eb73674632f/src/libcore/num/f32.rs#L147-L149) -- closing as such. If I've misinterpreted then we can of course reopen.

[2019-09-01 14:17] #32631 closed

[2019-09-01 14:20] Mark-Simulacrum commented on #33166
I personally think this is better suited as e.g. a clippy lint and doesn't really make sense for a compiler lint as there'd be too many false positives. It's also true that having helper functions inside `cfg(test)` is pretty common (at least in my experience), so that's another source of false positives. I'm going to go ahead and close this in favor of adding this to clippy and then if there's wi

[2019-09-01 14:20] #33166 closed

[2019-09-01 14:22] Mark-Simulacrum commented on #33096
I'm going to go ahead and close this. It's somewhat unlikely we'll hit this again (at least, we haven't obviously done so in the past 3ish years), and coming up with a good test case when the current case is all of nphysics is likely to be quite hard.

[2019-09-01 14:22] #33096 closed

[2019-09-01 14:24] Mark-Simulacrum commented on #33047
Output today is:

[code]

which is pretty much what we'd expect I think so going to go ahead and close.

[2019-09-01 14:24] #33047 closed

[2019-09-01 14:24] Lokathor commented on #62896
Yeah using the workaround of forcing codegen-units to 1 makes things generally but not always work.

Things are all good on stable at least.

[2019-09-01 14:25] Mark-Simulacrum commented on #32998
[code]

Fixed since then.

[2019-09-01 14:25] #32998 closed

[2019-09-01 14:27] Centril commented on #64064
Duplicated of https://github.com/rust-lang/rust/issues/55342.

[2019-09-01 14:27] #64064 closed

[2019-09-01 14:28] kornelski opened #64068 "Diagnostics for an immutable reference to an iterator"
This problem comes up in generic contexts, but the simplest code to reproduce is:

[code]

Results in:

At first glance it looks wrong, because it says that `Iter` is not an iterator. It is not obvious that *immutability* of the shared reference is what breaks the code.

Interestingly, an only a slightly different code produces a better suggestion:

[code]

So possibly the condition for the help t

[2019-09-01 14:30] Mark-Simulacrum commented on #33290
rustc_interface I believe patches over this today via structs and such so I'm going to go ahead and close this

[2019-09-01 14:30] #33290 closed

[2019-09-01 14:33] Mark-Simulacrum commented on #63638
Interesting. We can reopen in that case, though I wouldn't personally know where to or how to look at performance bottlenecks on Windows.

[2019-09-01 14:41] #35065 closed

[2019-09-01 14:45] Mark-Simulacrum commented on #36319
I'm going to go ahead and close as this is a pretty ugly change based on the couple PRs that tried to fix this and the additional complexity isn't really worth it (no benchmarks are able to show significant wins).

[2019-09-01 14:45] #36319 closed

[2019-09-01 14:51] Mark-Simulacrum commented on #37873
In hindsight this seems pretty unlikely as something we actually want to keep an issue open for, since implementing it isn't something we actively want to pursue (though, after some discussion on internals if there's interest I think a PR could be accepted).

[2019-09-01 14:51] #37873 closed

[2019-09-01 14:54] Mark-Simulacrum commented on #37777
Seems like we can probably close this since we're okay with current behavior.

[2019-09-01 14:54] #37777 closed

[2019-09-01 14:58] Mark-Simulacrum commented on #38337
This seems like expected behavior to me so I'm going to go ahead and close. Expressions can't be adjacent like this without some separator in general (and cfg is after parsing, not before/during).

[2019-09-01 14:58] #38337 closed

[2019-09-01 15:02] #40711 closed

[2019-09-01 15:09] Mark-Simulacrum commented on #39875
closing in favor of https://github.com/rust-lang/rust/issues/42645

[2019-09-01 15:09] #39875 closed

[2019-09-01 15:28] #64020 closed

[2019-09-01 15:42] danielhenrymantilla opened #64070 "Tracking issue for cstring_from_vec_of_nonzerou8"
Tracking issue for `impl From<Vec<NonZeroU8>> for CString`.

Code added in #64069

[2019-09-01 16:38] glebpom commented on #57977
Having this stabilized would help. Currently, the only way to check if a weak pointer has become dangling is to call `upgrade`, which is by far expensive.

[2019-09-01 16:53] Mark-Simulacrum commented on #43449
We use backtrace from crates.io today I believe so this should mostly be fixed, I hope, though if not bugs would be filed against https://github.com/alexcrichton/backtrace-rs/ anyway.

[2019-09-01 16:53] #43449 closed

[2019-09-01 16:57] eddyb commented on #44580
One thing we could do right now, I just realized is allow `Foo::<{...}>` / `[expr; ...]` *expressions* to refer to generic parameters (in the `...` part).

This is because expressions *must* be nested somewhere within a body, and that *tends* to prevent cyclic dependencies.

However, I'm worried that having e.g. `[(); [0; 1][0]]` in a signature would break, so we'd probably need a crater run *anyw

[2019-09-01 17:01] JeanMertz commented on #61282
I was looking into gdbgui as well, and can confirm that this is still the case.

[2019-09-01 17:31] danielhenrymantilla commented on #64070
Since `impl`ementations are insta-stable this tracking issue does not seem to be necessary; closing it.

[2019-09-01 17:31] #64070 closed

[2019-09-01 17:31] CodeSandwich commented on #63981
@jonas-schievink This bug is a big problem for me and I want to fix it. Unfortunately I couldn't find the spot to fix and I don't even know where to start. I have zero experience with the codebase. Who could help me and guide me?

[2019-09-01 17:34] Shnatsel opened #64073 "Confusing documentation on mem::transmute"
[Documentation on mem::transmute](https://doc.rust-lang.org/std/mem/fn.transmute.html#alternatives) presents the following piece of code:

[code]

The problem is it's never explained why the first described solution is Undefined Behavior. This is confusing.

~~Second, the use of transmute from `&i32` to `Option<&i32>` which is inherently unsafe is not very illustrative.~~ This is actually guarante

[2019-09-01 18:01] ranweiler opened #64074 "debuginfo/issue22656 test assertion fails with LLDB 8"
## Problem

The test `debuginfo/issue-22656` has the following failing assertion:
[code]
Note the `g`, so this is for an LLDB that is _not_ rust-enabled.

Here's what I see in the failing test stdout:
[code]
<details>
<summary>Full dump</summary>

[code]

</details>

So, it seems like LLDB 8 - even without built-in Rust support - does a better job than older versions when printing that local. It o

[2019-09-01 18:06] 2ndTaleStudio commented on #63516
Hi,
well true it is a challenge and thanks for bringing up the lifetime topic and I would love to see that this would be the solution to the issue. But ( sorry that there is a but ;) )

The function that is sending the data address to the GPU is also waiting for the GPU to acknowledge that it has finished processing and passed the response to that address. So from my point of view the promise I'm

[2019-09-01 18:10] jonas-schievink commented on #63981
@CodeSandwich You might want to ask around in the language/compiler discord channels or on Zulip

[2019-09-01 18:33] sourcefrog commented on #33166
Sounds good

On Sun, Sep 1, 2019, 7:21 AM Mark Rousskov <notifications@github.com> wrote:

[2019-09-01 18:41] matklad opened #64075 "#[cold] attribute does is not propagated across crates"
Hi!

When hacking on `once_cell`, I've noticed that it is significantly faster than `lazy_static`. Digging into this, it seems like the difference is in the usage of the `#[cold]` attribute.

Specifically, I've applied a patch which marks initialization function as `#[cold]` in lazy_static, and it indeed improved perf quite a bunch:

https://github.com/matklad/lazy-static.rs/commit/7863cc078d7d211

[2019-09-01 19:39] Mark-Simulacrum commented on #43525
I think we'd probably want an RFC for this so I'm going to move this to the RFCs repository.

[2019-09-01 19:42] Mark-Simulacrum commented on #43557
AFAICT the current implementation of new checks appropriately for overflow and doesn't increment so I'm going to close this.

[2019-09-01 19:42] #43557 closed

[2019-09-01 19:45] Mark-Simulacrum commented on #43896
I think there are significant downsides to this, and few gains; typically you check all UI test outputs when adding new tests or modifying old ones, so it seems rare that this comes up in practice.

I'm going to close this issue since it seems like we're unlikely to actually implement this; if we'd be interested then exploring avenues I listed above (compiler team meetings, or rfcbot poll) would b

[2019-09-01 19:45] #43896 closed

[2019-09-01 19:47] Mark-Simulacrum commented on #50926
It does seem like passing -A unused to rustfix would be a good change to make here, and at a cursory look at the code it seems like we do that today? But if I'm wrong then we can, of course, reopen.

[2019-09-01 19:47] #50926 closed

[2019-09-01 19:53] Mark-Simulacrum commented on #44087
Updated code, still lints on the unused parens but errors without them.

[code]

[2019-09-01 19:54] Mark-Simulacrum commented on #43967
Closing since this is expected behavior.

[2019-09-01 19:54] #43967 closed

[2019-09-01 20:00] Mark-Simulacrum commented on #44517
I personally feel like having an issue open for a perf win on a _future_ addition to std is pretty odd, particularly one that has ~no impact on API design and such so can be added anytime. As such, I'm going to close this.

[2019-09-01 20:00] #44517 closed

[2019-09-01 20:03] Mark-Simulacrum commented on #45021
I'm going to go ahead and close this as I think we've been relatively good about tagging for the last few upgrades, but if this comes up again I'd ask in #infra on Discord and someone can probably go and tag the relevant commits for you.

[2019-09-01 20:03] #45021 closed

[2019-09-01 20:12] Mark-Simulacrum commented on #45196
This seems like something that would be best implemented via PR, and discussion can happen on internals.

[2019-09-01 20:12] #45196 closed

[2019-09-01 20:16] Mark-Simulacrum commented on #45490
I'm going to go ahead and close this as it's rather light on content and isn't quite clear as to what is intended here.

[2019-09-01 20:16] #45490 closed

[2019-09-01 20:19] Mark-Simulacrum commented on #45427
I'm going to go ahead and close this as it's not entirely clear that this would be something we'd want to implement; I think extending the compiler lints to be able to detect this would be an interesting avenue to explore but are quite hard and not entirely clear -- as well as almost impossible to close out entirely.

[2019-09-01 20:19] #45427 closed

[2019-09-01 20:21] Mark-Simulacrum commented on #45336
I think a clippy lint would be the right avenue to explore for this at least to start off, so going to go ahead and close as such.

[2019-09-01 20:21] #45336 closed

[2019-09-01 20:21] RalfJung commented on #63569
Cc @Shnatsel see above -- seems related to https://github.com/rust-lang/rust-clippy/issues/4483

[2019-09-01 20:27] ranweiler commented on #62879
I was going to pick this up, but as of `rustc 1.39.0-nightly (fba38ac27 2019-08-31)`, I no longer get an ICE, but the following error:
[code]

Bisecting, the ICE was fixed in `rustc 1.39.0-nightly (bea0372a1 2019-08-20)`, possibly in #63497.

(cc @eddyb)

[2019-09-01 20:33] PvdBerg1998 commented on #62879
Just out of curiosity, how is this a loop? I feel like this should be possible.

[2019-09-01 20:34] petrochenkov commented on #43896
We need to disable `-A unused` for `// run-pass` tests though, which are also a part of UI tests now, but should not have dead code in general.

[2019-09-01 20:34] Mark-Simulacrum commented on #45859
I believe both of the issue above have been resolved (unicode_internals is the feature gate, and the environment variable is no longer needed) so I'm going to close this as we can likely eliminate the hacks in the autopublisher at any point pretty much (I've gone ahead and filed https://github.com/alexcrichton/rustc-auto-publish/issues/10).

[2019-09-01 20:34] #45859 closed

[2019-09-01 20:36] ranweiler commented on #62879
I think this requires lazy normalization (#60471), because `const A` is a projection. @eddyb, am I understanding that correctly, or did I get it wrong?

[2019-09-01 20:37] Mark-Simulacrum commented on #46261
I'm going to go ahead and close this as it seems like it's quite hard to do in practice (due to not having the relevant types around). A PR for this would be the best way to land changes here, and discussion can happen on internals.

[2019-09-01 20:37] #46261 closed

[2019-09-01 20:45] Mark-Simulacrum commented on #43896
I'll open a PR shortly doing that.

[2019-09-01 20:49] varkor commented on #44580
For anyone who's interested in helping out with const generics, my advice would be to take a look at the [list of open const generics issues](https://github.com/rust-lang/rust/issues?q=is%3Aissue+is%3Aopen+label%3AF-const_generics) and investigate whichever looks interesting to you. Some have had some investigation already, which should be in the comments. Most of the issues are probably going to

[2019-09-01 20:51] estebank commented on #39695
Current output:

[code]

[2019-09-01 20:51] #39695 closed

[2019-09-01 21:15] denisandroid opened #64077 "Types cannot refer to persistent data from generic elements"
This is a pseudo-code of a part of my library, it has not been compiled, because types, for some reason not clear to me, cannot refer to persistent data from generalized elements.

[code]

[code]

Play: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e53731a572040d54df9094a012130cb8

[2019-09-01 21:18] jonas-schievink commented on #64077
Duplicate of https://github.com/rust-lang/rust/issues/43408

[2019-09-01 21:18] #64077 closed

[2019-09-01 21:37] nikic commented on #63791
The IR for the functions is the same, so this is an issue in the backend, not the SLP vectorizer.

It looks like LLVM correctly determines that one of the vpsrld's is dead based on demanded elements and replaces the packus with a pshufb. A little later we see:

[code]

Which doesn't look right... pshuflw -28 is a no-op operation, but the previous pshufb is not. This combine is performed by matchUn

[2019-09-01 21:38] Aaron1011 opened #64079 "Paths involving 'super' don't work from within a function"
The following code compiles correctly:

[code]

However, when wrapped in a function:

[code]

it gives the following error:

[code]

This can make it difficult to write attribute macros which expand to module declarations. Ideally, such macros would be useeable no matter where the annotated type is declared. However, this issue prevents such macros from being used on a type declared within a funct

[2019-09-01 21:42] Mark-Simulacrum commented on #48412
Even stage 0 builds are somewhat unlikely to be cached as it's pretty easy to invalidate it, and it's also something that we'd need to be very careful about to avoid false negatives due to not detecting dependency edges; all in all I don't think this is tenable.

[2019-09-01 21:42] #48412 closed

[2019-09-01 21:43] Mark-Simulacrum commented on #48384
This has since been added (https://github.com/rust-lang/rust/issues/48655).

[2019-09-01 21:43] #48384 closed

[2019-09-01 21:48] Mark-Simulacrum commented on #48649
Since we've consciously made this decision in the past I think a (small) RFC would be warranted. Closing.

[2019-09-01 21:48] #48649 closed

[2019-09-01 21:55] #63100 closed

[2019-09-01 21:56] Mark-Simulacrum commented on #48931
I'm going to close this as it seems like there's not actually a bug here.

[2019-09-01 21:56] #48931 closed

[2019-09-01 22:29] achan1989 commented on #63396
What/where are the common list parsing utilties?

[2019-09-01 22:36] Mark-Simulacrum commented on #50023
Closing per the above, as this is not actionable. We do our best :)

[2019-09-01 22:36] #50023 closed

[2019-09-01 22:39] Mark-Simulacrum commented on #50388
I personally feel like in most cases where I've used atomics this isn't too useful so doesn't carry its weight (atomics in std are currently the "lowest" primitives possible for the most part)

[2019-09-01 22:39] #50388 closed

[2019-09-01 22:40] Mark-Simulacrum commented on #50928
@ljedrz Can you perhaps post a status update here as to what's left? If there's nothing left then we can probably close this.

[2019-09-01 22:53] ljedrz commented on #50928
`NodeId` is hardly used after the HIR lowering anymore; as far as I'm aware the only big thing left besides https://github.com/rust-lang/rust/pull/63849 is to skip the generation of the `HirId` to `NodeId` map in normal compilation (and only compute it for RLS and rustdoc); that, however, requires additional 3 changes I listed in the PR message of https://github.com/rust-lang/rust/pull/62975.

[2019-09-01 23:22] Mark-Simulacrum commented on #31972
performance testing for leftover cases seems to indicate this is mostly a wash on real-world code so closing this.

[2019-09-01 23:22] #31972 closed

[2019-09-01 23:23] Mark-Simulacrum commented on #50895
I'm going to close this as it's not really actionable as-is, if we could get a smaller test case then we can reopen.

[2019-09-01 23:23] #50895 closed

[2019-09-01 23:24] benkay86 commented on #61011
It looks like you can just transmute from `Box<MaybeUninit<T>>` to `Box<T>`, see line 44 in [Rust Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b8ccb28561cf32a795b7dc2152bb0d53).

[2019-09-01 23:27] Mark-Simulacrum commented on #51473
Implemented; tracking issue: https://github.com/rust-lang/rust/issues/63576.

[2019-09-01 23:27] #51473 closed

[2019-09-01 23:28] Aaron1011 commented on #64079
Getting this to work in a backward-compatible way is going to be tricky.
Code like this needs to continue to work:

[code]

The naive approach of treating functions as normal module scopes would break both of these snippets.

I think this is going to require an RFC to add a new type of path qualifier. Something like `use fn::super::Foo`` could be used to opt-in to treating functions as first-class

[2019-09-01 23:29] Mark-Simulacrum commented on #51561
It seems like if you would bother implementing the marker trait then you might as well provide a PartialOrd impl or a `variant() -> CustomDiscriminant` function; either way, this seems rare enough that it's not worth landing in std.

[2019-09-01 23:29] #51561 closed

[2019-09-01 23:31] Mark-Simulacrum commented on #51524
It seems like this is too esoteric and doesn't actually have a concrete use case for us to track, as well as being not _entirely_ clear to me that this is true. Any wins here are likely to be equivalent to #45431 as cited by cuviper.

[2019-09-01 23:31] #51524 closed

[2019-09-01 23:32] Mark-Simulacrum commented on #51735
I think we've basically decided that we're not doing this and further discussion is best suited for internals and such (at least until we build consensus that this is worthwhile considering the hefty dependency on node js).

[2019-09-01 23:32] #51735 closed

[2019-09-01 23:39] petrochenkov commented on #64079
So, this is indeed a missing piece in our name resolution story.

The solution I imagined is introduction of transparent modules that
1. are actual modules, so they have associated `self`, `super`, can be used in path prefixes, etc, but
2. do not act as barriers for names, e.g. names that are in scope at
[code]
    definition point are in scope inside the module as well.

This seems to be a featur

[2019-09-01 23:44] petrochenkov commented on #64079
Here's an example in which we generate a module, pull selected names into it, but provide isolation from any other names in scope.
[code]

[2019-09-02 00:14] petrochenkov commented on #64079
If isolation is not specifically required, then it's better to generate `const _: () = { /* contents */ }` rather than a module, then everything is in scope and you don't need `super`.

[2019-09-02 00:20] alexreg opened #64081 "[rustdoc] Convert double-hyphen to dash in docs"
It would be nice to get rustdoc to convert double-hyphen (`--`) (probably just when surrounded by spaces?) to a dash character (`–`) in doc-comments. People tend to use double-hyphen in code instead of the actual actual character, since it's easier to type on most keyboards. I reckon this could be done perfectly reliably.

[2019-09-02 00:58] Aaron1011 commented on #64079
@petrochenkov: I don't think that a `#[transparent]` module would be the proper solution for this issue.

In my view, the root issue here is that functions create a strange kind of scope that hides declarations from its children.

I would expect the following two snippets to have equivalent behavior:

[code]

[code]

However, the second snippet does not compile. Since `OuterStruct` is declared wit

[2019-09-02 02:14] Aaron1011 commented on #64079
@petrochenkov:

Also, isn't a `#[transparent]` module just equivalent to `use fn::super::*` within a normal module? E.g.

[code]

is the same as

[code]

[2019-09-02 02:26] Aaron1011 commented on #64079
Pre-RFC is up at https://internals.rust-lang.org/t/pre-rfc-add-fn-path-qualifier/10900

[2019-09-02 03:25] cczufish commented on #36611
use std::collections::HashMap;

fn main() {
    let vec:Vec<i32> = vec![2,2,1];
    single_number(vec);
}

fn single_number(nums: Vec<i32>) -> i32 {
    let mut result = HashMap::new();

    for v in vec! {
       // 类型转换
       let str_key = v.to_string();
       //插入之前先判断,当前的key对应的value有值则加1，没值初始化为1
       if result.get(&str_key) == None {
        result.insert(str_key,1);
       }else{

[2019-09-02 03:59] estebank commented on #36408
I believe this can be closed as the original problem of lifetime name reuse is no longer present.

[2019-09-02 03:59] #36408 closed

[2019-09-02 04:09] estebank commented on #35180
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5030e6863506a1865a665d71e0fc76ce):

[code]
---

The case in the comment now compiles.

[2019-09-02 04:24] lopopolo opened #64084 "cargo test gives up compiling after one error"
I'm making a big refactor. When attempting to clean up my tests, `cargo test` appears to go file by file, alphabetically when compiling the tests. As soon as one `#[test]` has a compile error, the build is aborted.

- `#[test]`s following the failure do not get compiled.
- Subsequent compile errors in the `#[test]` that fails to build are not reported.

This makes finding errors very tedious.

---

[2019-09-02 04:42] Mark-Simulacrum commented on #64084
What error specifically? Can you post a build log and a link to a repo (or, ideally, playground) that reproduces this behavior?

[2019-09-02 04:49] lopopolo commented on #64084
I know there are errors in the build. The problem is that cargo test stops compiling all of the tests once it encounters a single error.

[2019-09-02 04:50] lopopolo commented on #64084
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=450dae1a87d178bafe63d854f70a02b0

[2019-09-02 05:01] lopopolo commented on #64084
@Mark-Simulacrum This playground gives up after compiling `foo` test:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c040edc58966f3fcc662002e84ec57aa

[2019-09-02 05:19] estebank commented on #39029
@Manishearth could you come up with a different repro case for this? I believe this was fixed in the meantime by making deref coercions work, but I'm not sure. If it has been fixed, then we can close this ticket.

[2019-09-02 05:46] hellow554 commented on #64048
This isn't bound to subtraction or number literals, but to every modification to the generic parameter, e.g.

[code]

[2019-09-02 05:55] #63816 closed

[2019-09-02 06:50] rkruppe commented on #64073
I don't see the difference. We do guarantee that `&T -> Option<&T>` works, and that this type punning will specifically map `r: &T` to `Some(t)`. (And the other direction also works if you restrict yourself to `Some` values.)

[2019-09-02 07:03] matklad opened #64086 "UnwindSafe and RefUnwindSafe should be in libcore"
I *think* that would be useful to allow pure no_std libraries to implement those traits without needing the `std` cargo feature.

cc @gnzlbg, you've asked about this #40628.

[2019-09-02 07:35] goddessfreya opened #64087 "ICE when `into_iter()` is called on a const generic array of type T where size is unkown."
~~Might be similar to #60744, idk.~~

This causes an ICE:

[code]

Backtrace: https://gist.github.com/ZeGentzy/d8a1eaa26fe3551e0c5590885265884a

So does this:
[code]

Backtrace: https://gist.github.com/ZeGentzy/5ab1bd3ebdd272ad7d51d71fa5a564ec

This does not:
[code]

Nor does this:
[code]

But this does produce an ICE:

[code]

Backtrace: https://gist.github.com/ZeGentzy/daca993eabfa2e2fe1f340384f

[2019-09-02 07:45] ZeGentzy commented on #64087
Related: https://github.com/rust-lang/rust/issues/62536

Turning off CARGO_INCREMENTAL, then calling `cargo clean` seams to fix this. :thinking:

[2019-09-02 09:05] Shnatsel commented on #64073
I was not aware this is guaranteed to work, and it's not explicitly called out in the snippet. So it's not UB, but the clarity can probably be improved.

[2019-09-02 09:34] oli-cosmian opened #64088 "Spurious `unsized` error on resolution error"
the `bar` function does not exist, so its return type is implicitly inferred to be whatever type is consumed further down. If the inferred type is unsized, we may get additional errors though. I think we should find a way to silence that additional error.

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2b0253a3a06201f009084e401adae036))

Errors:

[cod

[2019-09-02 09:51] no111u3 opened #64089 "Add warnig for assignment to temporary"
For simple useless code:
[code]
rust compiller no any warnings/errors.
But clippy have an one display item:
[code]
I think upper warning need to display in rust compiler too.

[2019-09-02 09:53] ZeGentzy commented on #58987
Does not seam to even require a function:

[code]

Playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=18a496cff8cef0ae5f57d52a69d4a92a

Backtrace:
[code]

[2019-09-02 09:59] ZeGentzy commented on #64048
Looks to be a dupe of https://github.com/rust-lang/rust/issues/58987. Closing.

[2019-09-02 09:59] #64048 closed

[2019-09-02 10:00] ZeGentzy commented on #58987
Other repo cases:  #64048

[2019-09-02 10:06] timvermeulen commented on #63006
The second bounds check indeed comes from `Windows::nth`. The current implementation of `Windows::nth` contains two indexing operations, neither of which can fail, but LLVM isn't able to prove that for the second of the two. See https://rust.godbolt.org/z/hSjhSb

[2019-09-02 10:28] H2CO3 commented on #44052
Do you have some update on this?

[2019-09-02 11:10] RalfJung commented on #52715
Given that the forge says "This status is accidental", shouldn't there an issue somewhere that tracks getting the remaining "tier 2.5" platforms out of that tier?

[2019-09-02 11:16] RalfJung commented on #61011
There's even an unstable function which you can use instead of the transmute: https://doc.rust-lang.org/nightly/std/boxed/struct.Box.html#method.assume_init

[2019-09-02 11:23] Pzixel commented on #61011
I'd really like having something like:

[code]

Or even more generic like `unwrap_uninit :: forall a. (f :: * -> *) a -> ...`.

[2019-09-02 11:24] gnzlbg opened #64090 "Sub-optimal code generation for extern "C" fn type calls"
See https://rust.godbolt.org/z/9UvEyu

[code]

When the function `extern "C" { fn bar(); }` is called, the `nounwind` function is compiled to:

[code]

However, when the function type `static bar: extern "C" fn();` is called, this sub-optimal machine code is emitted:

[code]

[2019-09-02 11:29] RalfJung commented on #64090
I don't think this is a bug. At least if we accept https://github.com/rust-lang/rfcs/pull/2753, until we can track the unwinding ABI in fn ptr types, we cannot and should not assume that functions can't unwind based only on their call ABI.

Before changing our codegen for fn ptrs, IMO we should accept an RFC that basically says the opposite of https://github.com/rust-lang/rfcs/pull/2753.

[2019-09-02 11:42] Hexilee opened #64091 "trait impl specialization does not support types out of constraints"
As this [example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e06032f3d222d3a15d84521356955782)

[code]

`impl A for i32` is ok, but `impl A for ()` cannot be compiled in 1.39.0-nightly.

[code]

[2019-09-02 12:10] GuillaumeGomez commented on #63890
No:

[code]

Running with `rustdoc --test`, I had two tests.

[2019-09-02 12:49] Mark-Simulacrum commented on #64084
This has nothing to do with tests and is just a consequence of how type inference errors are currently fatal in this case. Removing the `#[test]` annotations leads to the exact same error.

I'm going to close this issue as it's not really something that's fixable (well, it is, but not a targeted fix, and there's no real need to track this case separately). Thanks for the bug report, though!

[2019-09-02 12:51] Mark-Simulacrum commented on #51693
I'm going to close this. If there's continued interest in the future then https://github.com/alexcrichton/rustc-auto-publish is the right place to file an issue probably.

[2019-09-02 12:51] #51693 closed

[2019-09-02 12:59] Mark-Simulacrum commented on #51924
I think this is out of scope for libtest which tries to be pretty minimal, but piping libtest's JSON output (https://github.com/rust-lang/rust/issues/49359) to some other command should be feasible.

[2019-09-02 12:59] #51924 closed

[2019-09-02 13:01] Mark-Simulacrum commented on #52130
I'm going to close this as it sounds like there isn't a concrete work-item here beyond writing an RFC for a change in future editions. Discussion of how best to introduce users should happen on internals.rust-lang.org and then be moved to the appropriate repository (perhaps rust-lang/book?)

[2019-09-02 13:01] #52130 closed

[2019-09-02 13:03] Mark-Simulacrum commented on #52362
I'm going to close this as it's not really an actionable issue at this point.

[2019-09-02 13:09] rchaser53 opened #64093 "Inconsistent analysis results for unsafe blocks and operators"
related: https://github.com/rust-lang/rustfmt/issues/3770
rust playground link: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ef4769175cb5b4febb445b05c1e27b82

The second !unsafe block return &&bool. I think the second block should return bool.

[code]

[2019-09-02 13:23] kawa-yoiko commented on #63005
Hi!

This regression seems to be introduced in #59622. I have a patch in #64094 and would be grateful if anyone interested helps review it.

[2019-09-02 13:26] Mark-Simulacrum commented on #64093
Simplifies to:

[code]

[2019-09-02 14:02] GuillaumeGomez commented on #64081
Do you have an example of where it'd be useful? In such cases, I'm afraid of side-effects of unwanted replacements or maybe users' misunderstanding.

[2019-09-02 14:12] GuillaumeGomez commented on #63666
Yes, when generating docs, rustdoc look at the target directory and changes a few things depending on what it finds. To go back on your original issue, I think it'll fail again if you remove the folder and regenerate with `--no-deps`. I'll assign myself on it.

[2019-09-02 14:38] SimonSapin commented on #63569
@asomers I agree that something like this would be good to have. However your proposal seems ambiguous: does the returned slice include the entire allocation (indices `0..capacity`) or only the range that is not known to be initialized (indices `len..capacity`)?

Would an API that returns two disjoint `(&mut [T], &mut [MaybeUninit<T>])` slices for indices `0..len` and `len..capacity` also be usefu

[2019-09-02 14:38] Mark-Simulacrum commented on #53557
Closing as duplicate of https://github.com/rust-lang/rust/issues/51533.

[2019-09-02 14:38] #53557 closed

[2019-09-02 14:38] Mark-Simulacrum commented on #51764
Closing as duplicate of https://github.com/rust-lang/rust/issues/51533.

[2019-09-02 14:38] #51764 closed

[2019-09-02 14:41] Mark-Simulacrum commented on #53906
I think we don't want to do this as it means we'd need to buffer errors which may lead to the error not being seen for a long time (whereas we could've shown it a while back) when compiling large crates. Thanks for the suggestion though!

[2019-09-02 14:41] #53906 closed

[2019-09-02 14:42] SimonSapin commented on #63569
Back to the APIs tracked in this issue, could they be methods of `[MaybeUninit<T>]` that take `&self` instead of associated functions of `MaybeUninit<T>`? (Though it’s not obvious what they should be called in that case.)

We have precedent for a lang item for `impl [u8] {…}`

[2019-09-02 14:47] Mark-Simulacrum commented on #54220
Closing in favor of https://github.com/rust-lang/rfcs/pull/2523.

[2019-09-02 14:47] #54220 closed

[2019-09-02 14:56] Mark-Simulacrum commented on #55215
Yes, closing in favor of https://github.com/rust-lang/rust/issues/48711.

[2019-09-02 14:56] #55215 closed

[2019-09-02 15:08] Mark-Simulacrum commented on #56971
This is expected behavior, and movement here is unlikely at this point so I'm going to close.

[2019-09-02 15:08] #56971 closed

[2019-09-02 15:11] jethrogb commented on #56971
@Mark-Simulacrum why is movement unlikely? IIRC @pietroalbini had some thoughts on this.

[2019-09-02 15:19] Mark-Simulacrum commented on #56971
There are options to explore, but they're all pretty internal and this issue won't really help with tracking them I think. I suppose we could move it to the infra team repo.

[2019-09-02 15:45] SimonSapin commented on #51533
A typical sequence of events is:

* At 2019-09-01 18:04:49 UTC, Homu finishes dealing with a previous PR and picks #63870 at the top of its queue. It makes a merge commit dfd43f0fdd4e6969c7d82c0670d70bf305fbccf8 and pushes it to the `auto` branch.

* Azure Pipelines gets notified of this GitHub Push Event, and schedules a number of builds.

* At 2019-09-01 18:11:06 UTC, after the [Linux dist-x86_6

[2019-09-02 16:19] alexreg commented on #64081
Well, it's just about nicer typography. See the rustc guide for example. What side effects do you imagine? The main one I can envisage is `--command-line-options`, but they should always be in backticks, I'd think... and you use a Markdown parser anyway, so I think it's okay.

[2019-09-02 16:23] lopopolo commented on #64084
Is there a big for the broader issue that I can watch?

[2019-09-02 16:27] SimonSapin commented on #56971
A work-around is to run AWS Command Line Interface. However it takes a while and as far as I can tell there is no server-side glob filtering. When possible, requesting a dated sub-directory is more reasonable.

[code]

[2019-09-02 16:31] jethrogb commented on #56971
@SimonSapin I had written this limitation:

I don't remember exactly what I was trying to do here but it's not clear to me why you're not running into the same issue.

[2019-09-02 16:37] Alexhuszagh commented on #62146
After re-organizing lexical somewhat to separate the C API from the Rust API, I'm unable to find any error with proc-macros for the correct feature. That should be the last barrier to integrating Nom as a dependency in a proc-macro crate. I'll publish my changes, submit a PR to nom, and we should be good to go.

I'll see if later if I can create a minimal working example that fails for `crate-type

[2019-09-02 16:45] guanqun commented on #61561
I had the same issue... and the mingw gcc version is 9.2.0

[2019-09-02 16:46] nagisa commented on #64093
This is an expected corner-case in parsing. See https://github.com/rust-lang/rust/issues/17930.

Closing.

[2019-09-02 16:46] #64093 closed

[2019-09-02 17:10] nagisa commented on #64090
FWIW LLVM has no way of tracking "nounwind" for function pointers and since `bar` could be anything, LLVM cannot assume the pointer is nounwind.

[2019-09-02 17:13] SimonSapin commented on #56971
45 seconds for this feels like a very long time to me. When I don’t pipe the output it seems to come in bursts. Maybe the cli tool rate-limits itself.

[2019-09-02 17:16] Mark-Simulacrum commented on #64084
Not really in the sense that it's not a bug just a consequence of the current implementation.

[2019-09-02 18:15] snsmac commented on #47506
[rusty-fork](https://crates.io/crates/rusty-fork) can be used to work around this issue

[2019-09-02 18:26] ranweiler commented on #61747
I'm investigating this. Still repros on `rustc 1.39.0-nightly (dfd43f0fd 2019-09-01)`.

With `RUST_BACKTRACE=full`:
<details>
<summary>
Backtrace
</summary>

[code]
</details>

[2019-09-02 18:36] Mark-Simulacrum commented on #64089
Movement of lints from clippy into rustc generally speaking needs an RFC, so this'll need to go through that process.

[2019-09-02 18:36] #64089 closed

[2019-09-02 18:57] Alexhuszagh commented on #62146
Ok, I've confirmed that the original example works for @killercup's example after the following patches, when previously it had a linking error. I'm using an unpublished branch, currently, and will publish it after review. This should fix the error, @Geal.

# Config

First, since I'm cross-compiling, my setup:

[code]

Finally, the contents of `~/.cargo/config`:
[code]

Next, I cloned the master b

[2019-09-02 19:14] Arnavion opened #64099 "A tuple of primitives function parameter is passed via the stack even though the tuple constituents could be passed as registers"
1.36.0 x86_64-unknown-linux-gnu

---

[code]

passes the tuple via the stack

[code]

However if the function has four `usize` parameters, they're passed via registers.

[code]

[code]

It would be nice if the tuple case also used registers.

---

Perhaps related to / same as https://github.com/rust-lang/rust/issues/63244 . The tuple-taking `foo` is an aggregate parameter, and making multi-constit

[2019-09-02 19:25] clarfon commented on #49660
This doesn't actually fix the issue; it should be tested for all types, not just `Wrapping`.

[2019-09-02 19:51] Nadrieril commented on #53820
Since no one has done it publicly so far, I thought I'd investigate this error a bit.
First, I reduced the example to ([playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7166dd4b1a7f885ba0adb7882fc7fe39)):
[code]

From the stack trace, we know that the overflow occurs at the only line `is_useful` calls itself directly: https://github.com/rust-lang/rust/blob/

[2019-09-02 19:52] darkwater commented on #53906
How about an option to disable warnings after an error has occurred, then? Warnings before the first error will still be shown, and there should be a message like "Further warnings are suppressed".

[2019-09-02 20:01] Mark-Simulacrum commented on #53906
If you're expecting lots of warnings, then `#![allow(warnings)]` would work (or `RUSTFLAGS="-Awarnings" cargo ...`)

[2019-09-02 20:03] JohnTitor opened #64101 "Improve `rustc::hir::PatKind::Wild`"
The [`slice_patterns` feature](https://doc.rust-lang.org/nightly/unstable-book/language-features/slice-patterns.html) introduces the `..` wildcard. It seems classified as `rustc::hir::PatKind::Wild` along with `_`.
However, `Wild` currently has no information to distinguish between `_` and `..`. It'd be nice if we could easily distinguish `..` from `_`. And we may also mention `..` as well as `_`

[2019-09-02 20:26] Centril commented on #64101
What problem are you trying to solve here? In AST, `..` is represented as `ast::PatKind::Rest` but in certain specific cases in HIR where you get an error, it is lowered to `hir::PatKind::Wild` -- maybe we should just introduce `hir::PatKind::Err` instead for those.

[2019-09-02 20:39] JohnTitor commented on #64101
@Centril Oh, I didn't know that. I'm trying not to catch `..` here.

https://github.com/rust-lang/rust-clippy/blob/1f9993729b3af307e3508d604be008374d62d465/clippy_lints/src/misc.rs#L463-L477

Currently, it seems this `if let` catches not only `_` but also `..`.

[2019-09-02 20:44] Centril opened #64102 "Tracking issue for `std::hint::black_box`"
This is a tracking issue for the RFC `std::hint:_black_box`.

Original RFC: [RFC 2360](https://rust-lang.github.io/rfcs/2360-bench-black-box.html)

**Public API:**

[code]

**Steps:**

- [x] Implementation
- [x] FCP
- [ ] Stabilization PR

**Unresolved questions:**

- [ ] `const fn`: it is unclear whether `bench_black_box` should be a `const fn`. If it
  were, that would hint that it cannot have a

[2019-09-02 20:49] Centril commented on #64101
Seems like a problem on Clippy's side. The lint should be moved to an analysis on AST, not HIR.

[2019-09-02 20:51] JohnTitor commented on #64101
Ah, so, it's my fault. I'll investigate again, Should we close this?

[2019-09-02 20:53] Centril commented on #64101
Yes, let's.

[2019-09-02 20:53] #64101 closed

[2019-09-02 20:55] Centril commented on #53820
Thanks for the investigation! cc @varkor, @arielb1, and @matthewjasper.

[2019-09-02 21:04] GuillaumeGomez commented on #64081
So still doesn't sell much of a dream: ;)

[2019-09-02 21:14] matthiaskrgr opened #64103 "false positive "unreachable expression""
[code]
rustc warns that the entire line is an unreachable expression
[code]
however the code is clearly executed as can be see [on the playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f327884c594c62dc357476cb21890f39)

[code]

If the line was truly unreachable, there would be no panic...

This bug appears on stable, beta and nightly

[2019-09-02 21:17] jonas-schievink commented on #64103
The `.unwrap_or` is the unreachable part, so perhaps the error should be rephrased and pointed at that function call only

[2019-09-02 21:19] matthiaskrgr commented on #64103
Hmm, so the span is wrong?
[code]

[2019-09-02 21:39] Mark-Simulacrum commented on #64103
the order of execution is panic! and then everything else, so in some sense everything but the panic is unreachable. I'm not sure what a good span for that would be.

[2019-09-02 21:44] jonas-schievink commented on #64103
The method receiver is evaluated first, so the `Command::new` and `output()` calls still happen. The span can point just at the `.unwrap_or`.

[2019-09-02 21:50] Mark-Simulacrum commented on #64103
Ah, hm, I didn't expect that to be the case, but it makes sense. Then this seems relatively straightforward as to what the expected output is at least.

[2019-09-02 22:23] alexreg commented on #64081
Oh I know, the benefit is incremental... but the implementation cost is so low, and I don't see the downside. ;-)

[2019-09-02 22:23] alexreg commented on #64081
I mean... don't we all like nice, propr typography?

[2019-09-02 22:28] timotree3 commented on #45150
@QuietMisdreavus I want to take this on. I'm gonna start looking for the relevant parts of the code.

[2019-09-02 22:44] Manishearth commented on #39029
I don't think this has been fixed, but i don't have the bandwidth to figure this out

[2019-09-02 23:00] gnprice commented on #63516
Once you're in the realm of undefined behavior, your program may happen to work and may not. Inlining or un-inlining a function are among the many things that could cause a bug to hide or re-emerge.

For help debugging your program, I'd encourage you to try posting on https://users.rust-lang.org/ .

[2019-09-02 23:42] timotree3 commented on #45150
I think the fix belongs somewhere in `fn doc_impl_item`, but I don't fully understand the function yet.

[2019-09-03 00:07] Centril commented on #44912
It seems this issue is not about default binding modes but rather about the check in resolve that makes sure an or-pattern has consistent binding modes.

[2019-09-03 00:11] Centril opened #64106 "or_patterns: `unused_parens` lints erroneously on `_a @ (0 | 1)`"
[code]
results in:
[code]
changing things into `_a @ (0 | 1)` will correctly refuse to parse.

cc @dlrobertson https://github.com/rust-lang/rust/issues/54883

[2019-09-03 00:20] Stargateur opened #64107 "Append implementation of Vec doesn't look safe"
Randomly looking at the code of `append()`, https://github.com/rust-lang/rust/blob/master/src/liballoc/vec.rs#L1157, doesn't look safe:

[code]

As, we already copy and set the new `len` before reset other vector `len`, I think we could have a race in a panic situation.

Should we not use a guard or use maybeunit somehow ?

[2019-09-03 00:56] estebank commented on #42356
[Output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2c744037794e273932d6a3bb927176bc):

[code]

[2019-09-03 01:18] Centril commented on #64107
cc @RalfJung @Gankra

[2019-09-03 01:21] Centril commented on #64102
I believe the main implementation work remaining is to enhance the documentation of `hint::black_box` as well as to rename it.

[2019-09-03 02:00] #62931 closed

[2019-09-03 02:01] rust-highfive opened #64109 "`miri` no longer builds after rust-lang/rust#63561"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#63561, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @HeroicKatora, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @oli-obk, the PR reviewer, and @rust-lang/compiler --

[2019-09-03 02:35] ayazhafiz commented on #63988
@estebank can you elaborate on the message you expect to see here? Something like

[code]

perhaps?

[2019-09-03 03:07] yodaldevoid commented on #63773
This is most likely related to #60813.

[2019-09-03 03:47] nagisa commented on #64107
Looks fine to me. Here’s the sequence of operations reproduced:

[code]

[2019-09-03 04:32] lopopolo opened #64113 "Weird behavior with type errors in macros"
Unfortunately I don't have a reproducer but this is what I think I know:

- I had some nested macros that took types as arguments and implemented traits.
- Somewhere in the chain I was using a `HashMap`.
- `HashMap` was not imported in the scope where the macro was invoked (same source file as macro definition).
- The compiler ground to a halt. A codebase that normally compiles in 30 seconds took

[2019-09-03 04:56] Stargateur commented on #64107
@nagisa the problem would be similar to the one describe here, https://github.com/rust-lang/rust/blob/5a56e05abd34e1936df74625c1f40cb6fee0cd4a/src/libstd/io/mod.rs#L310. If we did this for this case I don't see why we should not for the `append()` case

[2019-09-03 04:59] alexschrod commented on #46807
@vext01 I realize this comment of yours is nearly two years old, so you probably have a good handle on this by now, but just for anybody else who comes by to read this later:

No, you have it backwards. When passing a trait object directly (which in rust >= 1.27 is done using `dyn Trait` notation, making it more obvious), that's when you get dynamic dispatch. This is where the vtable and runtime c

[2019-09-03 05:40] Centril commented on #64113
This is the pretty printing output for [`ty::Error`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc/ty/enum.TyKind.html#variant.Error).

[2019-09-03 06:35] estebank commented on #63988
@ayazhafiz I believe we should aim at:

[code]

[2019-09-03 07:17] Centril commented on #64106
Keep-sake: https://github.com/rust-lang/rust/issues/55342.

[2019-09-03 07:36] rockmenjack commented on #25725
Implicitly changing into_iter() to iter() for [T;N] also makes below statement inconsistent:

[2019-09-03 07:57] lopopolo commented on #64113
It's not exactly minimal, but I've found a reproducer:

[code]

This program spits out compiler errors indicating that the type `HashMap` is not in scope. Unfortunately, this is the first error that gets emitted and it is lost in the scrollback, even though it is the root cause:

[code]

The errors I am most likely to see when compiling in the console look like this:

[code]

This program takes or

[2019-09-03 08:25] Phosphorus15 opened #64117 "Adding method to `consume` an iterator efficiently"
Currently, mapping methods for iterator, e.g. `map` and `filter` are implemented in a lazy manner. Which means they would not be calculated until further `consumption`.
However, sometimes it can be the case that given an `Iterator` (whatever it actually is) . we just wanted its side-effect and to simply `consume` it. for instance :
[code]

Currently, there're several ways of achieving this goal, f

[2019-09-03 08:28] Phosphorus15 commented on #64117
I suggest adding a method `consume` for the `Iterator` trait, which takes no params and effectively consumes each element in an iterator to preserve their side-effects only. Then the example above could be written as :
[code]

[2019-09-03 09:01] Hexilee commented on #31844
Hello everyone! Could someone tell me why this use case does not works? Bugs or expected behaviours?

As this [example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e06032f3d222d3a15d84521356955782). `impl A for i32` is ok, but `impl A for ()` cannot be compiled in 1.39.0-nightly.

[code]

compiles:

[code]

[2019-09-03 09:01] Hexilee commented on #64091
Move to #31844

[2019-09-03 09:01] #64091 closed

[2019-09-03 10:16] jakubadamw commented on #64117
That call to a no-op closure will [most certainly be optimized out](https://rust.godbolt.org/z/kNBVng) in release builds.

In the case of the code that you've provided using `map()` for side-effects is not really idiomatic. The lazy `inspect()` combinator or the strict `for_each()` consumer would be more suited for invoking a `println!()` on each element. `inspect()` for when you're just trying to

[2019-09-03 10:17] eddyb commented on #64102
An idea I wish I had earlier (but we can still try it out):
1. use an intrinsic (required anyway for nice `wasm`/`miri` support)
2. when codegening the intrinsic in a non-`--test` crate:
   * don't generate the inline assembly (so LLVM can optimize right through it)
   * emit a warning that it should only be used in a test crate

Note that because this is a warning, and not an error, it doesn't ad

[2019-09-03 10:17] danielhenrymantilla commented on #42788
### Getting rid of all references to uninitialized bytes in `Read`

Uninitialized buffers should now be using `[MaybeUninit<u8>]`. [An example of a `Read`-like API with them is featured in the `::uninit` crate](https://docs.rs/uninit/0.1.0/uninit/trait.ReadIntoUninit.html). Together with [`Vec::reserve_uninit`](https://docs.rs/uninit/0.1.0/uninit/trait.VecReserveUninit.html#tymethod.reserve_uninit

[2019-09-03 10:27] SimonSapin commented on #25725
@rockmenjack We’re not changing it that way. We want to add `<[T; N] as IntoIterator>::into_iter`, which doesn’t exist today but would make things more consistent per the pattern that you quote. But since it doesn’t exist, code that does `let x: [T; N] = …; x.into_iter();` can compile through auto-ref using `<&[T; N] as IntoIterator>::into_iter` which gives an iterator of `&T`. So we’d be changing

[2019-09-03 10:33] jakubadamw commented on #64107
How so? if `self.len += count` overflows and unwinds then `self.len` wouldn't have changed so the additional `count` elements will not be dropped when `self` is dropped.

[2019-09-03 10:47] rockmenjack commented on #25725
@SimonSapin this is what I meant inconsistent, call to [T;N]::into_iter() should be rejected by the compiler not auto-ref.
For a broader case, we shall block SomeTrait::some_fn(self) taking &T

[2019-09-03 10:51] michaelwoerister opened #64124 "xLTO: Code from standard library does not partake in linker-based LTO (unless compiling with -Clto)"
xLTO works by emitting LLVM bitcode instead of machine code and then letting the linker run LLVM optimizations (at a point where also code from C/C++ is available for IPO). In the current setup, this means that code from the standard library does *not* partake in the final LTO step because it is pre-compiled to machine code.

This limitation can be lifted by compiling to a staticlib with `-Clto` b

[2019-09-03 11:05] SimonSapin commented on #25725
Auto-ref in the general case is important and useful. Removing it would break lot of `foo.bar()` method calls where `foo` is owned and `bar` borrows `&self`, which would have to be rewritten as `(&foo).bar()`. It’s not only not allowed by the language’s stability promise, but I think it wouldn’t be desirable at all.

[2019-09-03 11:14] rockmenjack commented on #25725
I agree with the case you mentioned, but that is bar(&self).
The function signature of into_iter() is:

[code]
user of into_iter might expect into_iter() taking the ownership of self which is not true at the moment for all types.

[2019-09-03 11:46] M1cha opened #64126 "faults and weird behavior on armv5te"
I'm trying to use rust binaries on an armv5te gateway using yocto(thud, meta-atmel).
Depending on the configuration(rust-version, target-flags, lto, optimization) I have anything from a (luckily) working binary over wrong logic-level behavior to segmentation faults.
During runtime, these problems are deterministic and are introduced during compile-time.

I've uploaded a minmial example of one of t

[2019-09-03 14:09] Gankra commented on #64107
The guard in append_to_string is trying to cope with the fact that we're calling some opaque generic function, which may push invalid utf8 and then panic. Because the `len` of the String is the `len` of the Vec, we cannot simply "not" update the String's length on errors or panics -- it has already been updated by the opaque function.

To solve this, the guard remembers the old length and forces i

[2019-09-03 14:14] Gankra commented on #64107
A minor addendum to pre-empt this concern:

set_len *can* panic, because it has a debug_assert, but:

* `debug_assert`s in the stdlib essentially don't exist, because outside of our own CI everyone only has release builds of the stdlib

* This assert is merely attempting to make it easier to find UB early in testing. set_len is unsafe and declares this debug assert as a safety constraint. So we ha

[2019-09-03 14:18] Gankra commented on #64107
A second addendum to also pre-empt this concern: append_to_string does not actually sufficiently guard against misbehaving opaque functions. If one scribbled over the existing bytes, it would lead to UB, and we don't check for this.

However append_to_string is not a public API, it's just a helper inside this unsafe module. It is reasonably assuming the set of implementations it controls only appe

[2019-09-03 14:20] SimonSapin commented on #25725
It’s important to look at what the type of `self` is. In [`impl<'a, T> IntoIterator for &'a [T; 4]`](https://doc.rust-lang.org/1.37.0/std/iter/trait.IntoIterator.html#impl-IntoIterator-12) for example, the `Self` type is `&'a [T; 4]`, not `[T; 4]`. The `into_iter` method does take ownership of its receiver, but that receiver itself is a reference that borrows the array.

Having that impl is import

[2019-09-03 14:54] alexcrichton commented on #64034
I'm not really sure how this is connected to `sccache`, there's a huge number of things different in a CI build environment than a local build environment, so if local works and CI doesn't that doesn't imply `sccache` as the root cause. I think more investigation is needed into what's going wrong here, and it's probably not `sccache` but likely how we're compiling nightlies with glibc versions/fla

[2019-09-03 15:25] alexcrichton commented on #63168
Some unresolved questions for us to resolve while this is unstable:

* Do `*_err` method carry their weight?
* Is it right for `cloned` to work on `Result<&T, E>` or should it work on` Result<&T, &E>`?

[2019-09-03 15:43] Phosphorus15 commented on #64117
Yea, most of the time a `for_each()` is quiet enough, and it would be a rare case that one would like to preserve the side effect of previous mappings only.
But in case that someone wants to perform an I/O action, or just to swiftly printing some debug output by `inspect` etc. . It would do no harm that we add this method for good (while indeed, not that necessary).

[2019-09-03 15:56] asomers commented on #63569
Good questions @SimonSapin.  I think that the returned slice should include the entire allocation (after all, elements that are already initialized can still be represented as `MaybeUninit`.  Also, I realized that the method I proposed isn't even good enough for my particular use case.  I need a way to create an owned, maybe-uninitialized slice in a known memory location, and then transform that i

[2019-09-03 16:33] SimonSapin commented on #63569
That’s `Box::new_uninit` https://github.com/rust-lang/rust/issues/63291

[2019-09-03 16:38] KrishnaSannasi commented on #31844
@Hexilee Put `default` on the methods not the impl.

[2019-09-03 16:38] GuillaumeGomez commented on #64081
Install a better font maybe? :stuck_out_tongue:

[2019-09-03 17:00] zserik commented on #31844
@KrishnaSannasi [example 2](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=14c78bfe2052f2d94364192e4c9b655f)

[2019-09-03 17:08] nikomatsakis commented on #63832
We discussed this in the lang-team meeting. We decided that we want to **align** the semantics of sync/async code (i.e., this is indeed a bug).

There are some downsides: temporaries that live across the await will cause larger generators, and fixing that will be non-trivial in that it affects when destructors run which is visible to end users.

Nonetheless, the "surprise factor" -- and the fact t

[2019-09-03 17:10] Mark-Simulacrum commented on #64034
We discussed this briefly in infra team meeting and mostly concluded that we agree with @alexcrichton here that this is probably not an infrastructure problem but rather wrong args being passed around somewhere or an incorrect version getting linked (which may be in rustbuild, but introduced during LLVM upgrade it sounds like).

As such, we're going to close this since it's then a duplicate of htt

[2019-09-03 17:10] #64034 closed

[2019-09-03 17:17] pietroalbini commented on #61165
Triage: no update happened on this. There are still 1.5 years to figure out a solution though.

[2019-09-03 17:24] nikomatsakis opened #64130 "non-send futures error at point of use, but could cite point of definition in some cases"
Consider this example ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5f67107e3c9fb3e10aafd83295b3fbf4)):

[code]

This program is in error because `bar()` is holding a mutex guard (which is not `Send`) live across the `baz().await` call. The error however is rather opaque:

[code]

When discussing this error, [@cramertj suggested](https://internals.rust-lang

[2019-09-03 17:25] nikomatsakis commented on #64130
I'm abusing the blocking tag here to try and keep this on the shortlist of "things we might try to do before beta". Assigning to myself to leave some mentoring notes.

[2019-09-03 17:49] Shnatsel commented on #63569
Why would you use `Vec<MaybeUninit<T>>`? `Vec` already encapsulates work with uninitialized memory - you can write to its capacity and then `.set_len()` to update the length. Or just use one of the myriad of methods that append to it safely.

[2019-09-03 18:03] aidanhs commented on #59637
Much has happened - we've migrated to azure in the meantime and our builds have got even slower, but there is potential to get 4 core machines there. Until then, this is still on hold.

[2019-09-03 18:05] aidanhs commented on #56812
Discussed in the infra meeting.

Realistically this isn't going to bubble to the top of the priority list and (as pointed out by @Mark-Simulacrum) is likely to drift out of sync with CI anyway - the reference should be the CI scripts.

As such, I'm going to close this issue - sorry!

[2019-09-03 18:05] #56812 closed

[2019-09-03 18:06] asomers commented on #63569
@Shnatsel because I need something that _owns_ uninitialized memory, unlike a `*mut u8`. I'm using `aio_read`, which asynchronously initializes the memory.  There's no way for me to supply a `&mut Vec` reference to `aio_read` and persuade the borrow checker that the `Vec` will still be around by the time that the operation is complete (with notification delivered via kqueue).  Making matters more

[2019-09-03 18:09] Shnatsel commented on #63569
Ah, looks like you want `aio_read` to actually own the Vec instead of getting a mutable reference to it. This has already been brought up in relation to [design of readers in `async_std`](https://www.reddit.com/r/rust/comments/cr85pp/announcing_asyncstd_beta_an_async_port_of_the/ex3n3kl/).

[2019-09-03 18:50] KrishnaSannasi commented on #31844
@zserik yes, I know. I don't think it has been implemented yet, or it was dropped. In any case it doesn't work now.

[2019-09-03 19:12] oli-obk commented on #64109
I need to port parts of `tag_allocation` from miri to rustc and only keep the actual miri-parts in miri. I'll try to get it done by tomorrow night.

[2019-09-03 19:17] #60254 closed

[2019-09-03 19:17] #15694 closed

[2019-09-03 19:17] #62373 closed

[2019-09-03 20:22] petrochenkov opened #64132 "rustc: Migrate `__register_diagnostic` and friends to stable proc macros"
A few macros used internally in `rustc` for working with error codes still use legacy proc macros (aka syntactic plugins) making `rustc` one of the last (*the* last?) noticeable users of the feature in the ecosystem.

They need to be moved to `librustc_macros` and re-implemented using the stable proc macro API.
Currently they are registered in `librustc_interface/passes.rs` - `__diagnostic_used`,

[2019-09-03 20:23] petrochenkov commented on #64132
cc @GuillaumeGomez @estebank
(I'm not sure who is responsible for the error index now.)

[2019-09-03 20:36] Mark-Simulacrum commented on #64132
Assigning to self as I've recently done some work here so should be able to knock this out fairly easily.

[2019-09-03 21:17] HeroicKatora commented on #59229
@danielhenrymantilla @Shnatsel's implementation was correct to pop the null-byte, as `CString::from_vec_unchecked` will add it itself. The unsafety that `from_vec_unchecked` requires only that the `Vec` contains no null bytes at all, neither interior nor the final one. So it should be instead:

[code]

[2019-09-03 21:43] clarfon commented on #64117
I recommend the idiom `.for_each(drop)` because it's clearer; what you're suggesting is to basically make an alias for this. And, like was said, this is usually optimised out.

[2019-09-03 21:46] clarfon commented on #64103
I feel like this should also add a note that the panic is called before everything else. It could also suggest `unwrap_or_else` but that seems more like a clippy lint.

[2019-09-03 21:50] clarfon commented on #64102
The term "fence" may also be appropriate, as it doesn't prevent optimisation of the value inside it, but rather, doesn't allow optimisations to cross the barrier.

For example, `vec.push(bench_black_box(convoluted_way_to_compute_zero()))` could still be optimised to `vec.push(bench_black_box(0))`, but `vec.push` couldn't use the knowledge that the value is zero to optimise itself.

[2019-09-03 21:52] Ezbob opened #64134 "overflow evaluating the requirement `[closure@main.rs:41:17: 41:38]: std::ops::Fn<(&i32,)>"
Hi Rust team
I am pretty new to Rust, but believe I might have found a bug in the rustc compiler that causes the trait checker to loop. Here's the program I am trying to compile:
[code]
The platform I try to compile it on is:
[code]
And the error message I get is:
[code]

[2019-09-03 21:53] sfackler commented on #64134
Your recursive calls pass a reference to the reference of the closure, which requires an infinite number of instances of the method - one for `&<the closure>` one for `&&<the closure>`, one for `&&&<the closure>`, etc.

[2019-09-03 22:02] crgl commented on #51430
@skade I would like to work on
libsyntax/parse/parser.rs
498:impl From<Option<ThinVec>> for LhsExpr {
508:impl From<P> for LhsExpr {
which actually became
libsyntax/parse/parser/expr.rs
68:impl From<Option<ThinVec<Attribute>>> for LhsExpr {
78:impl From<P<Expr>> for LhsExpr {
but still needs docs

[2019-09-03 22:18] #64134 closed

[2019-09-03 22:21] Ezbob commented on #64134
Thank you @sfackler

[2019-09-03 22:29] SergioBenitez commented on #54727
@petrochenkov Given the existence of [`proc-macro-hack`](https://github.com/dtolnay/proc-macro-hack) and [`proc-macro-nested`](https://docs.rs/proc-macro-nested/0.1.3/proc_macro_nested/), why not also stabilize expansion to expressions?

[2019-09-03 22:33] Wolvereness opened #64135 "E0507 E0009 should be mutually exclusive"
E0507 E0009 should be mutually exclusive

### E0009

    cannot bind by-move and by-ref in the same pattern

### E0507

    cannot move out of borrowed content

# Example

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9f2f8562e3e24ff49c943fd86cc0ea5d)

[code]

## Output

[code]

# Reasoning

A situation where both trigger, `E0507` is a much more clear indicat

[2019-09-03 22:40] petrochenkov commented on #54727
https://github.com/rust-lang/rust/pull/63931#issuecomment-526367570

(I'd personally be ready to stabilize after some implementation audit and gating of sub-features with known issues, as I already said back in October - https://github.com/rust-lang/rust/issues/54727#issuecomment-426008711.)

[2019-09-03 22:43] petrochenkov commented on #54727
@SergioBenitez

By the way, what prevents Rocket from using proc-macro-hack for migrating to stable?
What are the cases in which unstable macros are qualitatively more powerful than proc-macro-hack?

[2019-09-03 22:48] zbraniecki commented on #54727
I can only speak from my own experience - I use proc-macro-hack in [unic-locale](https://www.drawdown.org/solutions-summary-by-rank) and it's a serious PITA to maintain - I need 4 crates in place of one. I'd say that maintaining that combination is the top of my burdens when working with any of my crates.

[2019-09-03 23:04] cuviper commented on #61206
Yes, I do Red Hat packaging, so I'm familiar with how `DESTDIR` is used.

While it's annoying that the "internal" LLVM install ends up re-copied under `DESTDIR`, I don't think that's the reason for the complete rebuild. Rather, if you compare the `cmake` commands on lines 1418 and 18008, the flags are different:

    "-DCMAKE_C_FLAGS=-ffunction-sections -fdata-sections -fPIC -m64 -m64"
    "-DCMAK

[2019-09-03 23:05] estebank commented on #64135
CC https://github.com/rust-lang/rust/issues/45600, which if it were fixed would also close this ticket.

[2019-09-03 23:36] alexreg commented on #64081
This is nothing to do with fonts... it's to do with `–` vs. `--`!

[2019-09-04 01:29] Centril commented on #64107
@Gankra This all seems like great information to add to the code; perhaps you could write an internal docs PR?

[2019-09-04 01:42] teiesti commented on #58520
I'd like to point to the issues discussing the addition (#48420) and stabilization (#50894) of `std::path::Path::ancestors`. At first glance this API might seem unrelated but the situation back then was quite similar:

1. The objective was to add an iterator that recursively calls an existing, well-known method.
2. There was a discussion if `self` should be included.
3. There was a lengthy discuss

[2019-09-04 01:45] jethrogb commented on #56971
True, but the way I was remembering it, it was in the minutes or tens of minutes.

[2019-09-04 01:53] Mark-Simulacrum commented on #56971
So, to be clear, the list command there is issuing hundreds or thousands of API queries so it'll likely be slow -- the solution here is to use the S3 Inventory API but no one has gotten around to implementing that just yet.

Part of the reason why is that no super solid reasons for wanting to list objects in the _whole_ bucket have been provided yet; we do have index.html (which internally uses li

[2019-09-04 01:59] jethrogb commented on #56971
The full list is needed to know all nightlies that exist, e.g. for bisecting.

[2019-09-04 02:21] Mark-Simulacrum commented on #56971
Both bisection tools that I've written simply run forwards by single-day increments after binary search hits a spot if they can't download nightlies which works well.

Is there any need for _all_ the files to be included? If it's just the top-level directory list so to speak then we can probably add that at fairly low implementation cost since it's append-only and such...

[2019-09-04 02:25] jethrogb commented on #56971
I just need an index of all `channel-rust-XYZ.toml` files that exist, and I think that should be sufficient for must users. Note that `XYZ` may be a channel name (beta, nightly) or a version number (stable).

[2019-09-04 02:47] Mark-Simulacrum commented on #56971
Okay, I'll put that on my agenda for this week or so to investigate and see if we can provide that relatively easily, and if so start doing so.

[2019-09-04 02:47] alexcrichton opened #64140 "Drop glue is always inlined into caller crate"
I was investigating the compile time of a crate recently and came across a surprising aspect of the compiler. It looks like the drop glue, or rather the code necessary to drop a type, is inlined unconditionally into the caller crate, even if there are no generics in play.

This program:

[code]

[generates a whopping 15 thousand lines of LLVM IR](https://play.rust-lang.org/?version=nightly&mode=de

[2019-09-04 02:49] alexcrichton commented on #64140
For a smaller reproduction of this:

[code]

where [this is the generated LLVM IR](https://gist.github.com/alexcrichton/c6b06c18c73654371de88a6d675fc10c)

[2019-09-04 03:15] elichai commented on #33465
Agree. shouldn't rustc or whatever be able to find the correct linker itself?

[2019-09-04 03:58] nagisa commented on #33465
rustc has the logic for finding a correct host toolchain, however the cross-toolchains can be present in varying forms, shapes and locations, making finding them automagically not very feasible.

[2019-09-04 04:15] scottmcm commented on #64117
As @clarfon noted, this has been discussed before (https://github.com/rust-lang/rust/pull/48945), leading to the current suggestion to use `.for_each(drop)` for this, which is recommended in warnings as well:

https://github.com/rust-lang/rust/blob/b9de4ef89e0e53099a084001b26ec3207c5f8391/src/libcore/iter/traits/iterator.rs#L1476-L1477

As such I'm going to close this.

[2019-09-04 04:15] #64117 closed

[2019-09-04 05:24] araspik commented on #44580
Questions about const generics:
1. Where can I find documentation (so that I don't have to ask questions here)
2. What limitations exist at this moment on using a `const` parameter of arbitrary type?
3. What important features of `const` generics are unimplemented / crash the compiler?

P.S (Contributors:) Thank you so much for working on this feature.

[2019-09-04 05:27] dtolnay commented on #47419
Fixed in 1.28.0. Now shows:

[code]

[2019-09-04 05:27] #47419 closed

[2019-09-04 05:42] KrishnaSannasi commented on #44580
const-generics is still under development so there aren't any official docs on it yet. I'm not too sure about the other two questions. When I last used const-generics they crashed when I specified some const-generic parameters, but it has been nearly a month since I did anything with it last so things may have changed since then.

[2019-09-04 07:05] HyeonuPark commented on #63981
I think this is correct. If we have `impl<'a> Foo for Baz<'a>` where Baz is `struct Baz<'a>(&'a u8)`, `<Baz as Foo>::bar` is not `'static` and for every possible occurrence of `'a` `Baz::<'a>::bar` has different types, thus it should have different type id if we allow it.

[2019-09-04 07:19] sanxiyn commented on #62342
rustup issue is now closed. Can this be tested again?

[2019-09-04 07:27] thmo commented on #33465
But wouldn't it already help to default the linker to at least a possible toolchain-specific linker (say `x86_64-w64-mingw32-gcc` in that case) instead of `gcc`, as the latter will be wrong for most if not all cross toolchains?

[2019-09-04 07:48] ollie27 commented on #64081
I'm assuming you mean converting a pair of hyphen-minus characters into an en dash like in TeX?

rustdoc uses CommonMark and unless this was added to that spec I don't think it's worth adding this feature. It's already possible to insert en dashes using `&ndash;` for example.

[2019-09-04 08:35] michaelwoerister commented on #64140
I remember that @arielb1 was tuning `inline` attributes for drop-glue at some point. It might have been deliberate but I don't remember anything that would make it necessary for correctness. It was probably just easier to implement that way. Seems like something that we should fix though.

[2019-09-04 09:25] shawntabrizi opened #64143 "ICE in import resolution with renamed crate import"
I tried renaming a crate import and a bunch of dependent uses of the crate, and ended up seeing a unexpected panic in the compiler.

Log is here: https://gitlab.parity.io/parity/substrate/-/jobs/223357

[code]

This was the specific commit, but errors may have started one commit before:

https://github.com/paritytech/substrate/pull/3543/commits/ba2ec61da7acc36821a70e76a31a6a5bf13bbe95

[2019-09-04 09:43] hellow554 commented on #64143
I can confirm the ICE with https://github.com/paritytech/substrate/pull/3543/commits/9a6070450107dec17784ba34af4b871023f6dc81 and `rustc 1.39.0-nightly (dfd43f0fd 2019-09-01)`

[2019-09-04 09:45] CodeSandwich commented on #63981
This shouldn't affect associated functions. No matter how many monomorphized versions are generated, they all are static. It doesn't even matter if their parameters have lifetimes or structs generating them are generic over lifetime.

[2019-09-04 09:53] kawa-yoiko commented on #64103
Similar case:

[code]

Maybe we can simply add a note that `unwrap_or()` won't be called because evaluation of its arguments leaves the current code path. I agree that `unwrap_or_else` suggestion is indeed too specific and may be better suited to clippy.

If this is acceptable, I would like to pick it up! As long as it's fine for me to progress more slowly than normal 😝

[2019-09-04 11:20] HyeonuPark commented on #63981
Actually, "how many monomorphized versions are generated" is the reason why we don't allow to generate type id for non-`'static` ones. Note that every possible pairs of lines in MIR can generate different lifetimes. Should compiler generate typeid for all of them during compilation?

[2019-09-04 11:35] CodeSandwich commented on #63981
That's s valid reason to make `TypeId` require static. But this isn't a good reason to make generic-generated functions non-static. It's perfectly fine to store such function in a static container, it's not going anywhere. It will also be forever valid to use as long as its argument lifetime constraints are fulfilled. I start suspecting a problem around assumption that every static data must have

[2019-09-04 12:50] kentfredric opened #64144 "File::open() on directories does not return Err(), leads to breakage with BufReader"
I tripped onto some odd behaviour.

I was under the assumption calling `File::open()` on a directory would Err(), and that I could use that to handle a user specifying a path that was not a file, ( instead of falling prey to race conditions by stat-ing first and then opening second ).

However, ... bad things happened instead.

[code]

The last of these lines will run forever, with strace reportin

[2019-09-04 12:50] LukasKalbertodt commented on #64102
Another argument in favor of `black_box`: not only is it a common term in computer programming, but already used a lot in all kinds of documentation/resources about Rust. For example, benchmarking libraries such as [Criterion](https://docs.rs/criterion/0.3.0/criterion/fn.black_box.html) use `black_box` and plenty of StackOverflow questions and answers use `black_box`. Also, I doubt that anyone wou

[2019-09-04 13:09] petrochenkov commented on #63713
Semi-related, I'd also like to see an "accumulative" `FxHashMap` wrapper panicking on any attempts to change or remove existing values in the map.

[2019-09-04 13:31] sfackler commented on #64144
`File::open` works on directories because the underlying system call [`open(2)`](http://man7.org/linux/man-pages/man2/open.2.html) works on directories. You can use `O_DIRECTORY` to trigger an error if the path is *not* a directory, but I don't know if there's a way of doing the opposite.

Your program is going crazy because you're collecting a vector of `io::Error`s.

[2019-09-04 13:48] kentfredric commented on #64144
Perhaps, BufRead et. al needs to internally track if the last call returned EISDIR, and then return None() afterwards?

Trying to continue calling read() after EISDIR is kinda nonsensical.

[2019-09-04 13:51] kentfredric commented on #64144
( That is, EISDIR should be considered equivalent to "Error + EOF" , because a subsequent read() cannot return any more data )

[2019-09-04 13:54] sfackler commented on #64144
I'm not sure we want to try to catalog the list of all possible terminal errors on every platform.

[2019-09-04 14:01] mati865 commented on #61206
AFAIK this only happens for cross builds and I'm convinced cross compiling LLVM is screwed up in rustbuild.

Running `./x.py build --host x86_64-pc-windows-gnu --target x86_64-pc-windows-gnu` from Linux will fail on building LLVM for Windows (so it's 2nd LLVM build) because somehow `LLVM_ON_UNIX` is defined.
It gets even weirder when you run build again without cleaning, this time LLVM build will

[2019-09-04 14:17] kentfredric commented on #64144
Are there platforms where invoking read() on a filehandle opened for a directory does something useful?

There may be other function calls useful on directories opened as filehandles, but read()?

[2019-09-04 14:48] rkruppe commented on #63981
Although none of the parameters of `bar` mention `Self` (and thus, any lifetimes that may be contained in `Self`), the `Self` type still has to be "part of" the function item type. For example, `<i32 as Foo>::bar` and `<i8 as Foo>::bar` (assuming such impls exists) are different functions, and each distinct function has its own unique type.

I'm not familiar with how this is represented internally

[2019-09-04 15:14] nikita-fuchs commented on #62342
hey @sanxiyn , as you can see https://github.com/rust-lang/rustup.rs/issues/1970 they celebrated a bit too early on that one, so it will take some more time. Getting back on this as soon as they've figured it out.

[2019-09-04 15:19] kentfredric opened #64146 "rustdoc generates illegal <h3> in <span> for struct-like enums"
See also #7529, #60403 and #60865

When using a struct-like enum, rustdoc generates the following code for the enums fields:

(hand formatted)
[code]

`htmltidy` hates this.
[code]

Spans may only contain [Phrasing Content](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Content_categories#Phrasing_content) but h1 et. al is only "Heading Content".

So what htmltidy ends up doing is closing

[2019-09-04 15:21] kentfredric commented on #64146
( Those `<div>`'s inside the `<span>` are probably also illegal )

[2019-09-04 15:27] euclio opened #64147 "./x.py clippy is broken"
commit 5f42f3e108db9390038a93fc95d9376aa871ae34

Running `./x.py clippy` results in the following message:

[code]

I also tried performing a full build beforehand, but I got the same message.

[2019-09-04 15:28] #63751 closed

[2019-09-04 16:01] ehuss commented on #57288
Would people be for or against stabilizing the bare `--extern` flag now?  My intent is to automatically issue that flag for `proc_macro` for proc-macro crates to avoid the need for `extern crate`.  There hasn't been any visible progress on the transition to the `meta` crate, so I suspect it will be a long time for that to happen.

This doesn't immediately help for other crates, but would pave the

[2019-09-04 16:27] david-mcgillicuddy-moixa commented on #61909
It's interesting to compare to E0373:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=952f0e4a24e468e294e8051bfdd991ca
Which, at least in this case, have virtually identical error messages except that E0597 is missing the bit about `move`.

[2019-09-04 16:35] cramertj commented on #56767
Closing this in favor of https://github.com/rust-lang/rust/issues/56974

[2019-09-04 16:35] #56767 closed

[2019-09-04 16:53] estebank commented on #64130
Cc https://github.com/rust-lang/rust/issues/45600

[2019-09-04 17:06] alexcrichton commented on #58402
Removing nomination since this is covered by https://github.com/rust-lang/rust/pull/62860

[2019-09-04 17:07] alexcrichton commented on #63822
I don't think enough has changed since https://github.com/rust-lang/rust/pull/49868 for us to reconsider this, so I'm going to close this.

[2019-09-04 17:07] #63822 closed

[2019-09-04 17:28] mati865 commented on #64147
Weird, I just fixed it 2 weeks ago in https://github.com/rust-lang/rust/pull/63781 and PR related to your error was merged 3 weeks ago: https://github.com/rust-lang/rust/pull/63534

Maybe it's something in your environment?

[2019-09-04 17:35] alexreg commented on #64081
@ollie27 Yes, I wrote it correctly in my title and the wrong way round in the comment oops. I think this is really orthogonal to Markdown to be honest... Sure, it's already possible, but no one is going to write `%ndash;` in doc-comments, that's the problem. We might as well accept the convention and just aim for better typographical display.

[2019-09-04 19:22] Mark-Simulacrum commented on #56971
As a quick update I've internally setup weekly inventories of static.rust-lang.org and will check back in a couple days (AWS indicates we should get the first one in ~48 hours).

[2019-09-04 20:02] nikhilm opened #64153 "ThinLTO and `-o` compiler option can lead to duplicate object file inclusion in staticlib"
I've verified this on macOS 10.14/Xcode 10.3 as well as Ubuntu 14.04/GCC 4.8
rustc -V: rustc 1.36.0-nightly (50a0defd5 2019-05-21) (although the code i mention is the same in master)

tl;dr object files (`.o`) prefixes are inferred from `-o`, but lto object file exclusion uses crate name. External build systems which use `-o` can face build failures.

Setup:
1. A staticlib that depends on a rlib (

[2019-09-04 20:07] alexcrichton commented on #53487
I've posted an initial implementation of backtraces at https://github.com/rust-lang/rust/pull/64154

[2019-09-04 20:18] alex-ozdemir opened #64155 "E0207 when type parameter's associated type is used in a bound."
Not sure if this needs to be an error or not.

Per `rustc --explain E0207`, `impl` type parameter are acceptable if they appear in the `Self` type of the `impl`. Emphasis mine:

   `impl<T> SomeTrait<T> for Foo`

   where T: AnotherTrait<AssocType=U>`

Rustc currently generates an error even if an associated type of the parameter appears in the `Self` type: [playground link](https://play.rust-lang

[2019-09-04 20:43] estebank commented on #64155
I think this will need to be written as `impl<V: Vector, T> BaseFieldPrinter<T> where T: V::MyField {}` once associated type bounds lands.

[2019-09-04 21:44] jonhoo commented on #46415
I'm currently running into this while porting `mysql_async` to `std::future` (and thereby `async fn`) in https://github.com/blackbeam/mysql_async/pull/71. The compiler is also here generating the relatively unhelpful error message:
[code]
Is there a way to get information about _which_ `async fn` is causing the issue?

For completeness, if I increase the recursion limit the way it suggests up to 8

[2019-09-04 22:24] yurydelendik opened #64187 "cdylib for the target `wasm32-wasi`"
**Problem**
cannot produce cdylib for the target `wasm32-wasi`

**Steps**

1. Add "cdylib" to the Cargo.toml, e.g.
[code]
2. Build using
[code]
3. Observe
[code]

**Possible Solution(s)**
Allow cdylib for all wasm32-* targets: it's available for wasm32-unknown-unknown and is required by wasm-pack

[2019-09-04 23:04] cuviper commented on #61206
See #64156 for this.

[2019-09-05 00:43] estebank commented on #64143
CC @petrochenkov

[2019-09-05 01:19] Centril commented on #64155
Seems like "appears" needs to be clarified. In your snippet it appears in a projection which in turn appears  in the implementing type but that's not the same thing.

`T: V::MyField` would be bounding `T` by an associated *trait*. This is entirely unrelated to `associated_type_bounds` (`Trait<Assoc: Bound>`) which are just a short-hand.

[2019-09-05 01:34] luojia65 commented on #29722
Is RISC-V inline assembly supported here with `#![feature(asm)]`?

[2019-09-05 02:05] mqudsi commented on #29722
To the best of my knowledge, all assembly on supported platforms is supported; it's pretty much raw access to the llvm compiler's asm support.

[2019-09-05 02:07] Gankra commented on #64107
append_to_string already has excellent documentation. I skipped over the docs when I wrote my comments above, but looking at them now, they cover the issue quite well. They could possibly spell out things slightly more explicitly, but the presence of a generic callback in unsafe code is a pretty standard "wait think about exception-safety" red flag.

It also doesn't make sense to add any comments

[2019-09-05 02:07] #64107 closed

[2019-09-05 02:10] lightclient opened #64162 "Doc comment fails to compile with specific backslash pattern"
## Summary
The following doc comment fails to compile using `cargo test --doc`:

[code]
Example repository [here](https://github.com/lightclient/rust-doc-comment-bug).

## Error Output
[code]
## What I've Tried
I've found a few things (I'm sure this is not an exhaustive list to describe the problem):
* There must be an empty line above the backslash
* There must be a non-empty line below the backs

[2019-09-05 02:15] estebank commented on #64162
The four leading chars start a markdown code block. The error is the same as having a .rs file whose only contents are a backslash.

[2019-09-05 02:18] lightclient commented on #64162
@estebank is this the expected behavior? I can't find this documented anywhere.

[2019-09-05 02:38] estebank commented on #64162
It is. It is equivalent to writing

[code]

Which is the prevalent style in the echosystem, but you can also write it

[code]

like you did here. These code blocks get identified as rust code and get compiled and run as tests.

[2019-09-05 02:40] ehuss commented on #64162
I don't think it is clearly documented as such, but indented content is a [code block](https://spec.commonmark.org/0.29/#indented-code-blocks) per the markdown spec, and [here](https://doc.rust-lang.org/rustdoc/documentation-tests.html) it is documented that code blocks default to the Rust language, and are tested by default.

[2019-09-05 02:41] nathanwhit commented on #64113
I believe the slowness described in this issue is an instance of #63478

[2019-09-05 02:51] lightclient commented on #64162
If I replace my above example with:

[code]

It compiles successfully, which seems to contradict the markdown specification @ehuss pointed to. Am I missing something more?

[2019-09-05 02:57] ehuss commented on #64162
I believe that is caused by the [unindent](https://doc.rust-lang.org/nightly/rustdoc/passes.html#unindent-comments) pass which detects the indentation level and removes it.

[2019-09-05 03:02] lightclient commented on #64162
Cool, thanks for clearing this up for me @ehuss & @estebank.

Please close this if you feel like no clarifications to the documentation should be made. I'd be happy to submit a PR if, however, that would be a helpful addition.

[2019-09-05 03:11] GrayJack commented on #55467
What is the status of this feature?

[2019-09-05 03:15] Centril commented on #55467
@GrayJack Please see the description in the issue. Not much has happened since.

[2019-09-05 03:20] ehuss commented on #64162
It does occasionally trip people up.  I think there are a few things that could be done:

- #59867 — Provide a way to turn it off.
- Provide a better error message. This would probably need enhancements to pulldown-cmark to distinguish between fenced and indented code blocks.

This is also mentioned in [syntax reference](https://doc.rust-lang.org/nightly/rustdoc/documentation-tests.html#syntax-ref

[2019-09-05 05:29] mgorny commented on #64144
Yes. NetBSD supports reading directory entries this way.

[2019-09-05 06:03] #58402 closed

[2019-09-05 06:03] #60245 closed

[2019-09-05 06:03] #42603 closed

[2019-09-05 06:03] #55342 closed

[2019-09-05 06:03] #64004 closed

[2019-09-05 06:03] #64106 closed

[2019-09-05 06:04] rust-highfive opened #64163 "`clippy-driver` no longer builds after rust-lang/rust#64160"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#64160, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and @rust-lang/c

[2019-09-05 06:19] Centril commented on #54883
In https://github.com/rust-lang/rust/pull/64128, written by @Centril and reviewed by @davidtwco, issue https://github.com/rust-lang/rust/issues/64106 was fixed where the compiler would spuriously emit `unused_parens` warnings on:

- `ref? mut? x @ (p_0 | ... p_n)`
- `box (p_0 | ... | p_n)`
- `& mut? (p_0 | ... | p_n)`
- `|(p_0 | ... | p_n)| $expr`
- `fn foo((p_0 | ... | p_n): $type)`

[2019-09-05 06:36] estebank opened #64165 "E0631 has duplicated diagnostics"
https://github.com/rust-lang/rust/blob/master/src/test/ui/anonymous-higher-ranked-lifetime.stderr has duplicated redundant diagnostics. We should come up with a deduplicating strategy to avoid them.

[2019-09-05 06:42] estebank commented on #64162
I do think it would be interesting to extend parser errors emitted by rustdoc to have a note similar to "errors found while parsing code block in doc string". The interaction of indented code blocks and unindent is non-obvious and I would guess not entirely intended.

[2019-09-05 06:55] Hexilee commented on #31844
It obviously doesn't work now, but I think it should work.

[2019-09-05 07:25] oli-cosmian opened #64167 "Moving out of field error should emit resolution suggestions"
The current error doesn't help users resolve the problem. Even just including a message that one should try borrowing the field by prepending a `&` would be of help. I don't think it matters that this isn't possible for e.g. `self.foo.consuming_method()`

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e0d90406ab93df35dcba4fd8cbe558cc))

Errors:

[cod

[2019-09-05 08:04] oli-cosmian opened #64169 "No unnecessary parentheses warning in types"
Types can be parenthesized, which is useful for e.g. `dyn (Foo + 'static)` or similar, but often these parentheses are unnecessary. Whenever a trivial type is parenthesized the compiler should suggest to remove the parentheses

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=519fa5c8b61d29bc48beab3b914e4d04))

Errors:

[code]

This issue has been assig

[2019-09-05 08:12] gilescope commented on #63167
With all the various improvements that we've done, is there more we could do? or shall we close this issue for now?

[2019-09-05 08:46] kentfredric opened #64170 "File and Metadata should document reasons to prefer *not* to use `is_file()`"
As per https://github.com/rust-lang/rust-clippy/issues/4503, there's a bit of a trap you can fall into if you use `is_file()` as a predictor for "can I probably open and read bytes from this thing".

You *generally* don't want to assert `is_file()` for user specified paths, **especially** if they come from command line arguments, where they might be Unix FIFO File Descriptors.

If for example you

[2019-09-05 09:02] elichai commented on #57349
I think this is really useful.

i.e. pre-seeding a hash function with a context specific data:

[code]

This can give a good performance boost in some applications

[2019-09-05 09:22] nikita-fuchs commented on #62342
Fixed, can be closed. Thanks for all your awesome support.

[2019-09-05 09:38] lenary commented on #29722
Yes, RISC-V is supported. Architecture-specific input/output/clobber constraint classes are documented in [the LLVM langref](https://llvm.org/docs/LangRef.html#supported-constraint-code-list).

There is a caveat, however - if you need to constrain to individual registers in input/output/clobber constraints, you must use the architectural register names (x0-x31, f0-f31), not the ABI names. In the A

[2019-09-05 09:42] sanxiyn commented on #62342
Thanks for testing! Closing.

[2019-09-05 09:42] #62342 closed

[2019-09-05 10:00] memoryruins commented on #63794
Duplicate of #55022 ?

[2019-09-05 10:19] DutchGhost opened #64173 "Unused lifetime cause ICE"
The following code ICE's on stable, beta and nightly:
[code]

<details>
<summary>Backtrace:</summary>

[code]
</details>

Feel free to close if this is a duplicate of https://github.com/rust-lang/rust/issues/56445.
What I noticed is that when the lifetime is removed, it just compiles  fine:
[code]

[2019-09-05 10:38] Centril commented on #64169
I think this falls under the spirit of the `unused_parens` lint and the language team does not need to approve this as I think it is obviously right.

-----------------

Mentoring instructions:

See https://github.com/rust-lang/rust/pull/64128 for a PR that recently changed the semantics of the `unused_parens` lint. You'll want to introduce `fn check_ty` and then `match` on the [`ty.node: TyKind`]

[2019-09-05 10:45] jonas-schievink commented on #63794
Yup, closing

[2019-09-05 10:45] #63794 closed

[2019-09-05 11:45] psumbera commented on #61206
I can confirm that this helps on Solaris. Tested with Rust 1.35.0. Thank you!

[2019-09-05 12:25] Xanewok commented on #43982
This looks strikingly similar to https://github.com/rust-lang/rust/pull/60649 where we didn't nest typeck tables in the AST visitor.

In this case it's `visit_foreign_item > process_formals` so hopefully we can reproduce that on source such as
[code]

[2019-09-05 13:18] sd234678 commented on #62601
I think this might want closing as well now, @nikomatsakis?

[2019-09-05 13:38] nikomatsakis commented on #64163
Check-in from compiler triage team: looks like we have a pending fix in #64171, thanks @lzutao !

[2019-09-05 13:41] nikomatsakis commented on #64143
check-in from compiler triage:

I'm going with medium priority on this; it looks like @petrochenkov is working on it already in any case. In particular, this isn't marked as a regression, and I *think* the ICE is primarily affecting an "in-progress" change, so it's not blocking anything on crates.io from building or anything like that (right?).

[2019-09-05 13:41] nikomatsakis commented on #64109
check-in from compiler triage:

Go @oli-obk, go! 🐎

[2019-09-05 13:45] nikomatsakis commented on #64006
check-in from compiler triage:

Although this is a regression, it's also affecting freebsd only (right?) which is a lower tier platform, and therefore I'm marking as P-medium. There is a pending fix in #64019, although it sounds like that fix will need to be verified once it lands (not a guarantee). If @johalun you are able to do a custom build of rustc and give that fix a try, that'd be good too,

[2019-09-05 13:49] nikomatsakis commented on #63741
We discussed this in the [lang team meeting last week](https://paper.dropbox.com/doc/T-Lang-Meeting-2019.08.29--AkPey8vYlpUMLsS_5MeBVJlZAg-ydagQSwNNH0iSwUy225pZ). We decided that there were some reasons to tread carefully here: in particular, we didn't really want to admit the possibility of "non-canonical" paths like `use foo::bar::self::super::bar`. Moreover, there isn't a strong reason to accep