[2020-06-10 07:42] Amanieu commented on #73193
That seems like an extremely niche use case that would only really enable an `asm_att!` macro and nothing else. I don't expect such a macro to actually be used in practice since adding `options(att_syntax)` is already very easy.

[2020-06-10 07:48] oli-obk opened #73203 "Const prop creates assignments from large constants"
Background discussion: https://github.com/rust-lang/rust/pull/71911#discussion_r436273388

If we have an assignment of `Rvalue::Aggregate` in const-prop, and we can figure out that all fields are `Operand::Const`, we end up replacing the `Rvalue::Aggregate` with an `Rvalue::Use` of a constant that contains the entire aggregate. This may end up creating large assignments that copy from constant mem

[2020-06-10 07:52] oli-obk commented on #73203
kinda related: https://github.com/rust-lang/rust/issues/54360

[2020-06-10 07:52] joshtriplett commented on #73193
A large codebase that uses primarily AT&T syntax will want to spell it as briefly as possible; I expect to see such a macro in common use.

If you believe this would complicate the parser unnecessarily, then I would be open to a crate-based solution that shows how to implement the macro taking existing `options` into account.

[2020-06-10 08:16] fragrans opened #73204 "error: internal compiler error: src\librustc_middle\ich\impls_ty.rs:94: StableHasher: unexpected region '_#1050r"
I found this error, and hope it might help improve the compiler;
here is the repository;

[https://github.com/fragrans/ice_2020.git](https://github.com/fragrans/ice_2020.git)

[code]

[2020-06-10 08:21] mizuno-gsinet commented on #72016
I'm trying to implement an optimization barrier like [`black_box`](https://doc.rust-lang.org/std/hint/fn.black_box.html) for a `f64` value with `asm!`.

The following code is working so far. However, it seems that it's relying on an undocumented behavior of the compiler. Is there any legit way to avoid the "argument never used" error?

[code]

`rustc --version --verbose`:

[code]

<details>
  <sum

[2020-06-10 08:44] daboross opened #73205 "Multiple attributes are shown on the same line in type declarations in rustdoc"
When looking at rustdoc for items with multiple attributes, atributes are shown on the same line, rather than multiple. I don't have a code fragment, as I've only seen this appear in std documentation.

For example, see the MaybeUninit docs: https://doc.rust-lang.org/1.44.0/std/mem/union.MaybeUninit.html and expand the declaration.

I expected to see something like

[code]

Instead, I see:

[code]

[2020-06-10 08:50] bjorn3 commented on #72016
I don't think a blackbox is enough for LLVM to always use the rounding mode you want. I think LLVM is allowed to reset the rounding mode at any point in your code. I think your code is only guaranteed to work fine when you pass the `-fp-model=strict` LLVM argument, in which case the blackbox is not necessary anyway.

https://reviews.llvm.org/D62731

[2020-06-10 09:13] jonas-schievink commented on #73204
Looks like https://github.com/rust-lang/rust/issues/72766. Can you retry on the newest nightly?

[2020-06-10 09:15] jonas-schievink commented on #73109
I've checked this locally and `Self` is in fact a `TyParam` there (is the type-alias-`Self` even pretty-printed as `Self` instead of the aliased type?). Maybe Miri is applying some substs that replace it with the real type?

[2020-06-10 09:19] jonas-schievink commented on #73202
Looks like a rustup issue, so please file this at https://github.com/rust-lang/rustup.

This could also be expected behavior since you don't have much RAM (which means that running rustc will probably often fail similarly).

[2020-06-10 09:19] #73202 closed

[2020-06-10 09:26] Amanieu commented on #72016
See #72965 and #73056 for the issue with unused arguments.

[2020-06-10 09:29] RalfJung commented on #73109
Miri has a subst that monomorphizes everything, yes.
So the problem is that this is generic MIR, and `Self` is later substituted with a `FnDef`/`FnPtr` for codegen/Miri?

[2020-06-10 09:34] turion commented on #68125
For me as a Haskeller who relatively new to Rust, `try_fold_first` sounds right, because it returns an `Option`.

[2020-06-10 09:45] jonas-schievink commented on #73109
That's my current hypothesis, but I haven't verified it yet

[2020-06-10 09:51] doctorn commented on #73109
That was how I was thinking about it when I wrote the trait bounds check - although I'm really just getting to grips with MIR so it was just an idea

[2020-06-10 09:55] doctorn commented on #73109
In that case though - isn't a trait bounds check enough given a flag for the MIR validator to disable it when we expect non-generic MIR?

[2020-06-10 10:15] RalfJung commented on #73109
Maybe... I guess the question is, right now we don't see this happen outside the shims; should we make sure it stays that way?

[2020-06-10 10:28] nikomatsakis commented on #56604
@RalfJung [here is a hackmd](https://hackmd.io/wpBesJ8PSRG0dX4LHcUZUQ), I'll try to populate it some to get started but we should try to fill it out.

[2020-06-10 10:30] Xanewok commented on #73199
https://github.com/rust-lang/rust/pull/72417#issuecomment-637261664 seems to be the culprit, so this needs a coordinated bump to rustc-ap libraries.

[2020-06-10 10:59] glaebhoerl commented on #50186
@rrevenantt I brought up the same idea several years ago; unfortunately it's still not sufficient for soundness. The closure could still refer to a `Cell` through a thread-local variable, which is the only specific example I remember (but one is sufficient to demonstrate unsoundness), but IIRC, there were other ways to circumvent the restriction as well.

@RustyYato Please try to keep an open mind

[2020-06-10 11:03] tmiasko commented on #73151
Fixed upstream in https://reviews.llvm.org/D77031.

[2020-06-10 11:17] the8472 commented on #73191
Maybe a clippy rule suggesting to use pub use instead of pub type for trivial tuple struct reexports would help people avoid these pitfalls in the current edition?

[2020-06-10 11:21] RalfJung opened #73209 "`x.py --json-output` suppresses `CompilerArtifact` messages"
When using `x.py --json-output`, I would expect JSON output to be basically the same as standard cargo. However, that does not seem to be the case: an analysis of https://github.com/rust-analyzer/rust-analyzer/issues/4827 by @bjorn3 revealed that `CompilerArtifact` are not propagated properly.

Cc @Mark-Simulacrum

[2020-06-10 11:26] RalfJung commented on #73156
Cc @rust-lang/wg-const-eval

[2020-06-10 11:33] RalfJung commented on #73146
@Aaron1011 I am not sure I fully understand what you are suggesting to check here (and this [two-line snippet](https://github.com/rust-lang/rust/issues/73137#issuecomment-640853814) is not very readable and about 4 times as wide as my screen.^^)

Is the proposal to alter the semantics of `Downcast` to also read the current discriminant and compare that to the discriminant of the downcast-to varian

[2020-06-10 11:36] RalfJung commented on #73137
If this is the official stanza on MIR semantics, we should also make sure that Miri can catch this as UB. A static check will never be able to properly reflect dynamic properties such as "operands must not alias". Cc https://github.com/rust-lang/rust/issues/68364

[2020-06-10 11:41] RalfJung commented on #73117
@he32 why are you even trying to build Miri? Distro packages for stable Rust should not do that.

[2020-06-10 11:50] elichai commented on #56604
I don't want to derail the conversation, so if it's unrelated please hide this comment(or I'll delete it).
But if we allow "mutating `let x`" then there's no need for `UnsafeCell`?
(even if that rule is only for pointers obtained by `raw_ref` and *not* by shared reference, we could reimplement `UnsafeCell` with `raw_ref` without the need for a lang item)

[2020-06-10 11:56] jperkin commented on #73117
We aren't specifically building it, or at least not that we're aware of, it's just being automatically built as part of `python x.py -v build`.

At least I don't see anything in our build target or configure arguments that appear out of the ordinary.  The pkgsrc Makefile for rust is here: <https://github.com/NetBSD/pkgsrc/blob/trunk/lang/rust/Makefile>, it has a bunch of bits you can ignore but th

[2020-06-10 12:47] rkuhn opened #73212 "possible infinite loop in sys::windows::fill_utf16_buf"
Looking at [the code](https://github.com/rust-lang/rust/blob/master/src/libstd/sys/windows/mod.rs#L157) without prior knowledge of Windows system call semantics, I see an infinite loop if the syscall were to fill up the buffer exactly: when k == n on line 195, the loop will be rerun with no changes, which should result in the exact same outcome if the syscall is idempotent.

Even if Windows guaran

[2020-06-10 15:17] rylev opened #73215 "Use __fastfail in libpanic_abort on Windows"
libpanic_abort currently uses Rust's [abort intrinsic for aborts](https://github.com/rust-lang/rust/blob/13290e83a6e20f3b408d177a9d64d8cf98fe4615/library/panic_abort/src/lib.rs#L60) (which uses an illegal opcode to abort the process). This directly contrasts with libstd which uses [inline assembly](https://github.com/rust-lang/rust/blob/13290e83a6e20f3b408d177a9d64d8cf98fe4615/library/std/src/sys/

[2020-06-10 16:26] c410-f3r opened #73216 "Bad interaction with `trivial_casts` lint"
Couldn't find a way to enable `trivial_casts` for the following use-case. Maybe there are another ways to make a successful compilation?

[code]

[2020-06-10 21:42] djc opened #73223 "Slice index becomes wrong (beta regression)"
One of my tests (`test_nested_rest`) is failing on beta (in CI and locally) but not stable (locally).

https://github.com/djc/mendes/pull/18/checks?check_run_id=759480560

Minimal reproduction:

https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=e31da4955ca52b19e2131b51473bcb4e

When executed with miri, it doesn't panic. When the call to nothing() is moved before the assignment

[2020-06-10 23:09] lamafab opened #73224 "Cannot match pattern in Enum variant"
This works:

[code]

This does not work:

[code]

Results in:

[code]

Additional details:

* When you write the full identifier, it works: `Variant::VarTwo(e) => {`
* Trying to import the variants with `use Variant::*;` results in error (which does not make much sense):
[code]

### Meta

`rustc --version --verbose`:
[code]

[2020-06-10 23:16] jonas-schievink commented on #73224
`VarOne` is an identifier pattern, it will match any value, not just `Variant::VarOne(_)`. To match against a tuple variant, you need to use `VarOne(_)`, where `_` is the subpattern for the contained `i32` (and `VarOne` needs to be in scope, but as you have already discovered this is more commonly done by qualifying with `Variant::VarOne`).

[2020-06-10 23:16] #73224 closed

[2020-06-10 23:22] jrmuizel commented on #71257
Clang gets this right with the `-fstrict-enums` option which attaches [range metadata](https://llvm.org/docs/LangRef.html#range-metadata) to the enum load from the the Vec.

e.g.
[code]
with `-O2` compiles to something similar to the Rust code:
[code]
but with `-O2 -fstrict-enums` compiles to the desired:
[code]

It seems like it would be reasonable for Rust to always act like `-fstrict-enums`

[2020-06-10 23:29] camelid commented on #73193
Thanks! I’ll give it a try :)

@rustbot claim

[2020-06-10 23:44] he32 commented on #73117
I read it as "Miri is never expected to build in stable / releases, but (mostly?) builds fine in the current development version." which struck me as really strange.  Now it just looks like a "bad time" was encountered between cutting the release and the ability to build "Miri" which is more understandable once I understood it's experimental and optional.

However, I'm a proponent of "sane default

[2020-06-11 00:04] camelid commented on #73193
How should I handle diagnostics? There are multiple errors that show where the error in the options occurred, e.g.:

[code]

The way I'm doing the multiple options is to just let it bitwise-OR the different flags into the `AsmArgs.options` field, and instead of having `options_span: Option<Span>`, have `options_spans: Option<Vec<Span>>`. The problem is that then you can't tell where the options ca

[2020-06-11 00:05] camelid commented on #73193
Also, perhaps there should be a simple diagnostic for checking for duplicate options?

[2020-06-11 00:06] camelid commented on #73193
Alternatively, the errors could just be reported on all the options spans.

[2020-06-11 00:15] Amanieu commented on #73193
Error reporting can take a `Vec<Span>` to report multiple error sources at once.

[2020-06-11 00:20] tmandry commented on #73050
PR is up. I noticed that an old stable rustc doesn't ICE, so marking as such and nominating the PR for beta backport.

[2020-06-11 00:21] Amanieu commented on #73193
You can add a diagnostic for setting the same option multiple times by just checking if it has already been ORed in.

[2020-06-11 00:25] camelid commented on #73193
Yeah, that's what I was thinking

[2020-06-11 00:29] rphmeier opened #73226 "Cannot unify associated type parameter in `impl Fn` with concrete instantiation"
Hi, I'm running into a strange behavior where the compiler has difficulty unifying an associated type in an `impl Fn` with a concrete type in a certain instantiation of it.

Link to playpen: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1d0d2fd109dd2c691f2b2051b8a2d33a

I have also reproduced the code below.
[code]

Here is the error output for the portion that doesn't co

[2020-06-11 00:44] camelid commented on #73193
Is it okay to `.clone()` the `Vec<Span>`?

[2020-06-11 00:45] Amanieu commented on #73193
Sure.

[2020-06-11 01:26] #66202 closed

[2020-06-11 01:26] #72819 closed

[2020-06-11 01:26] #72642 closed

[2020-06-11 01:26] #72896 closed

[2020-06-11 01:39] fragrans commented on #73204
Yes, It's already been fixed in rustc 1.46.0-nightly (feb3536eb 2020-06-09) .
Sorry for the noise;

[2020-06-11 01:39] #73204 closed

[2020-06-11 02:13] lzutao commented on #73014
One use case maybe in the [struct update syntax](https://doc.rust-lang.org/book/ch05-01-defining-structs.html#creating-instances-from-other-instances-with-struct-update-syntax).

[2020-06-11 03:21] tmandry opened #73228 "Tracking Issue for stabilizing panic=abort support in libtest"
This is a tracking issue for stable panic=abort support in libtest. This is currently enabled by passing `-Z panic-abort-tests` while compiling a test. It also includes a currently unstable option in test binaries, `--force-run-in-process`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation. They are also uses as hubs connecting to other relevant

[2020-06-11 03:52] tmandry commented on #67650
Update: Fuchsia has been using this feature for months now. There is one outstanding issue:  #68936.

We should think about stabilizing an MVP of this feature, which is that libtests work automatically when `-Cpanic=abort` is used. @rust-lang/libs, are there any other process steps that need to be taken first?

[2020-06-11 03:52] tmandry commented on #73228
whoops.. this duplicates #67650

[2020-06-11 03:52] #73228 closed

[2020-06-11 04:40] est31 commented on #61935
Now there's a different error:

[code]

[2020-06-11 04:56] The0x539 opened #73229 "ICE: Error encountered resolving bounds after type-checking"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-06-11 07:21] djc commented on #73223
Here's a reduced test case that doesn't quite reproduce what I'm seeing but has what I think should be a smoking gun:

https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=d1fa510430df349361ab658c7d51ad08

If you comment out the `dbg!()` statement on line 19, the slicing at line 21 panics even though `start` should be well within bounds. However, if you allow the `dbg!()` to execu

[2020-06-11 07:29] RalfJung commented on #73117
So would I. I didn't know we build it by default. I submitted https://github.com/rust-lang/rust/pull/73232 to fix that, but unfortunately this touches barely documented parts of `x.py` that I do not understand (like the `DEFAULT` associated const).

[2020-06-11 07:34] WaffleLapkin commented on #70086
One interesting note is that `try { (a?, b?) }` is lazy, where is `a.zip(b)` is not. However, I personally think that the later is easier to read (I think that early returns are weird in cases like that or `Ok(res?)`).

Maybe we should also implement smt like this:
[code]
? :thinking:

[2020-06-11 08:16] djc commented on #73223
So here's a link to a further reduced panicking version:

https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=e31da4955ca52b19e2131b51473bcb4e

When executed with miri, it doesn't panic. When the call to `nothing()` is moved before the assignment to `self.prev`, it also doesn't panic.

Here's a reduced diff between the LLVM IR for a working and a panicking version:

[code]

[2020-06-11 08:27] djc commented on #73223
In my original test, adding a `dbg!()` statement before the `self.prev = Some(start);` statement also appears to fix the test. It's somewhat interesting that in the test, the slice index always becomes 0 in the wrong version, rather than the random values seen with the playground test.

[2020-06-11 08:28] RalfJung commented on #35836
@rustbot ping windows

If any one of you is familiar enough with the details of SRWLocks on Windows, would be great if you could [look into the question posed here](https://github.com/rust-lang/rust/issues/35836#issuecomment-623296900). :)

[2020-06-11 08:30] #71550 closed

[2020-06-11 08:44] lzutao commented on #72315
Should be closed by #71896

[2020-06-11 08:46] #72315 closed

[2020-06-11 08:57] djc commented on #73223
Bisection blames #69756. @wesleywiser / @oli-obk care to take a look?

[2020-06-11 09:29] lcnr commented on #73223
Let's add a small repo directly to this issue:
[code]

[2020-06-11 10:18] Darksonn opened #73233 "Broken link in PartialEq documentation"
In the documentation for [`PartialEq`][1], you will find the following:

The link on this page is not actually a link to the `Eq` trait, but a link to the `PartialEq::eq` method on the same page.

The link is written as [\`Eq\`] with an [\`eq\`]: PartialEq::eq in the same doc-comment, so I am unsure whether this should be considered an issue in the documentation, or in rustdoc.

[1]: https://doc.r

[2020-06-11 10:41] pepyakin commented on #71397
I tried to rebuild and re-run the test and I couldn't reproduce this issue again with beta!

[2020-06-11 10:49] playXE opened #73234 "rustc does not panic when it fails to allocate memory"
I tried this code:

[code]

I expected to see this happen: I expected it to compile and run just fine.

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

No backtrace

[2020-06-11 10:50] playXE commented on #73234
Same program but in C and compiled with ICC throws error:
[code]
https://godbolt.org/z/Cz_jp4

[2020-06-11 10:54] jonas-schievink commented on #73234
The compiler cannot initiate a panic when it runs out of memory, because panicking might allocate memory (and also the allocator functions are assumed to never unwind to make calls to them easier to optimize).

[2020-06-11 11:58] hanna-kruppe commented on #71257
rustc already adds range metadata to the load of the discriminant. It seems it gets lost at some point during optimizations.

[2020-06-11 12:43] ChechyLevas commented on #44265
Question on the proposed implementation:

I have a trait that looks like this
[code]
and an implementer that looks like this

[code]
I'd like to be able to limit all implementers of my trait to be a "newtype" (single element tuple struct wrapping an f64).

Would that be possible with the proposed implementation being considered here?

The following looks a bit weird admittedly but hopefully demons

[2020-06-11 12:56] jrmuizel commented on #71257
Hmm so it does. It seems like LLVM is pretty fragile here.
[code]
produces the following with `-fstrict-enums`
[code]
Interestingly enough the `je` becomes `jge` without `-fstrict-enums` so LLVM has some idea what's going on.

[2020-06-11 12:57] 42triangles commented on #44265
@ChechyLevas as far as I'm aware this is not within the scope of GADTs.

But what you want to do doesn't need GADTs to begin with, from what I can gather, if you're willing to give up on the guarantee that it's a newtype and instead have to functions which wrap and retrieve the inner value, respectively. It's not as convenient, but should probably work well enough.

So you could do the following:

[2020-06-11 12:59] jrmuizel commented on #71257
I filed an LLVM bug:
https://bugs.llvm.org/show_bug.cgi?id=46279

[2020-06-11 13:18] spastorino commented on #73223
Assigning `P-critical` as [discussed as part of the Prioritization Working Group process](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2373223.20Test.20regression.20from.20stable.20to.20beta) and removing `I-prioritize`.

[2020-06-11 13:39] ChrisDenton commented on #73212
My issue with assuming success is that we can't know what a hypothetical Win32 function is doing in this case. For example, it may have truncated the output or it may even be returning an error code, not a size. We can only guess. Best case is we guess right and it works. Worse case is we guess wrong and it causes a bug that only becomes apparent later on, making the source of the bug hard to trac

[2020-06-11 14:27] nikomatsakis commented on #68793
I think that all sounds fine.

[2020-06-11 14:29] pickfire commented on #61190
Why not tinysearch? I bet it could speed up the search timings, right now I still feel some latency from rustdoc searches.

[2020-06-11 14:29] nikomatsakis commented on #68793
Can you prepare a stabilization PR that also makes those changes, @ajpaverd?

Or, alternatively, prepare a PR making those proposed changes but leaving the option unstable (perhaps with `-Zunstable-options` or whatever) and we can separate out the stability.

I think I'm good either way.

[2020-06-11 14:30] joe-hauns opened #73239 "Problem with type inference and impl Trait"
Hi!
I recently experienced a bug in that probably comes from problems of the interference of type inference, impl Trait in return type position, and associated types.

This is a very strongly simplified version of what was going on in my codebase. In fact my codebase included `Arc` instead of `SmartPointer` and `AsRef` instead of `MyAsRef`, but I wanted to simplify to reproduce the problem without

[2020-06-11 14:36] withoutboats commented on #68793
Not really a blocker on stabilizing the flag, but I'm curious about the longer term intention. Do we imagine this would be on by default on Windows? Or do we imagine users would opt into it? Do we have a better idea of how to enable users to opt into it than the RUSTFLAGS (i.e. a cargo interface for turning this on)?

I notice that there's an important difference from other runtime protection like

[2020-06-11 14:40] nikomatsakis commented on #68793
I don't have a strong opinion on those questions, but I do imagine it's the sort of thing we would probably eventually want to expose in Cargo.toml as part of a profile, and I could imagine enabling it by default as part of the "debug build profile" at minimum (I guess that would depend on what the common practices are? I'd probably expect us to match the typical defaults most folks are using).

[2020-06-11 14:47] nikomatsakis commented on #56604
Having given this more thought I do feel like we want to rule out the idea of using raw pointers to mutate a `let x` variable. I feel relatively ok about having the *kind of raw borrow* have meaning (much better than I feel about having `*const` vs `*mut` have meaning).

[2020-06-11 14:52] #72933 closed

[2020-06-11 14:52] #61302 closed

[2020-06-11 14:52] #73173 closed

[2020-06-11 14:52] #73209 closed

[2020-06-11 15:01] nikomatsakis commented on #68536
@timvermeulen did you ever experiment with the fix that it sounds like you had in mind here:

[2020-06-11 15:16] Manishearth commented on #43466
Note: once https://github.com/rust-lang/rust/pull/73101 lands all of the blocker issues for this will have resolved and we should be a go for stabilizing the feature with docs. Note that it has baked as nightly-only for ages now.

[2020-06-11 15:26] eddyb commented on #73167
I don't think `--remap-path-prefix` should remap paths that were already remapped, that feels like a bigger change that is necessary to fix the regression here.

Probably a good way to handle the `/rustc/.../` "unmapping"/"devirtualization" is to only expose it to diagnostics, and leave `file!()` / `panic::Location` / debuginfo alone (i.e. use `/rustc/.../` for it).

Since #72767 we track both pat

[2020-06-11 15:41] kennykerr commented on #35836
If the lock is already held by the calling thread, `AcquireSRWLockExclusive` will hang and `TryAcquireSRWLockExclusive` will return false. Internally, there is a lock bit and this is used to check whether the lock may be acquired irrespective of thread.

[2020-06-11 15:46] ecstatic-morse commented on #73137
@spastorino I find it strange that the priority of an issue can change based on whether a fix is being worked on. If (god forbid) I get hit by a bus tomorrow and no one thinks to take on the work of backporting #73153, we would still need to block the release, no?

[2020-06-11 15:48] rkuhn commented on #73212
Yes, that sounds like a good improvement! Since this Win32 behavior is not generically documented, it might also be good to note the exact syscalls that this function has been tested with. I should probably mention that I don’t have a Windows system to develop or test this on, I was merely perusing the code out of curiosity — otherwise I’d volunteer a PR.

[2020-06-11 16:25] Mark-Simulacrum opened #73242 "[regression] type inference on parse()"
https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=cbe4ae71cf9d88e5c0fdf6d06af3502e as a minimal example.

Unclear whether this is a new trait impl or some regression elsewhere.

[2020-06-11 16:27] lcnr commented on #73242
`PartialEq<SocketAddr>` has been added in 1.45 which would explain this: https://doc.rust-lang.org/nightly/std/net/struct.SocketAddrV4.html#impl-PartialEq%3CSocketAddr%3E

[2020-06-11 16:28] Mark-Simulacrum commented on #73242
There were roughly ~15-20 crates that failed in the crater run due to this, mostly in tests. I'm not sure whether we think that's sufficient reasoning to drop the impl, I get that it can be useful...

cc @rust-lang/libs (and relabeling as this is not an inference regression)

[2020-06-11 16:45] Mark-Simulacrum commented on #72969
* type inference on parse() #73242

There weren't any other clear regressions that haven't already been fixed.

[2020-06-11 16:46] negamartin commented on #43244
I don't think so, since the behaviour of the current implementation is precisely drain-on-drop while yielding owned values. Either way, I don't see how drain-on-drop would require borrowing elements, so I think we have two different ideas on what drain-on-drop means.

Just to be clear, when I say drain-on-drop I only mean the behaviour when the iterator is not fully consumed: Should all items matc

[2020-06-11 16:53] pietroalbini commented on #72969
@craterbot retry-report name=beta-1.45-rustdoc-1

[2020-06-11 17:00] LeSeulArtichaut opened #73245 "Dummy issue for testing automatic prioritization"
See #73181.

[2020-06-11 17:00] #73245 closed

[2020-06-11 17:01] spastorino commented on #73137
@ecstatic-morse, maybe I didn't properly explain myself or I may be overlooking something. What I meant is that given that this problem was fixed by reverting the PR that has caused this regression, we can lower the priority of the issue now. My understanding is that after the revert the problem is fixed but we want to keep the issue open to find a better solution. Am I right? if so, this is why I

[2020-06-11 17:01] LeSeulArtichaut commented on #73245
Perfect =)

[2020-06-11 17:04] ecstatic-morse commented on #73137
If nothing were done from this point forward (i.e. no one backported #73153), this miscompilation would land on the next stable release. I'm didn't come up with the current labeling system, but that seems critical to me.

[2020-06-11 17:04] withoutboats commented on #73242
Can we add `PartialEq<str>` to the `SocketAddr` types? That would provide a path to patch the regression.

Being able to easily compare a socketaddr to a string seems pretty valuable for testing, I'd rather see we make it easier than require the turbofish.

[2020-06-11 17:09] Aaron1011 commented on #73223
Relevant MIR from before and after `SimplifyArmIdentity`:

before:

[code]

after:

[code]

Note how we are assigning to `_6` *before* the `StorageLive(_6)` statement.

[2020-06-11 17:43] SimonSapin commented on #73242
I’m not in favor since this would blur the difference between "this string does not parse as a valid socket address" v.s. "it does, but one not equal to that one". Code that doesn’t care about that difference can already use `SocketAddr::to_string` and compare strings.

[2020-06-11 18:15] tmccombs commented on #43244
Just throwing out an idea, but another possible API could be something like:

[code]

It's less flexible than the other options, but does avoid the problem of what to do when `DrainFilter` is dropped.

[2020-06-11 18:18] marmeladema commented on #57136
I think its been fixed by https://github.com/rust-lang/rust/pull/73155 at least for function signature as this issue is about. I can probably be closed.
cc @Xanewok

[2020-06-11 18:38] retep998 commented on #68793
Rust is *not* completely free of bugs like this. Unsafe code does exist and people do get it wrong. Also Rust does not exist in a void and links to C code which continues to remain very vulnerable. Therefore my stance is that we absolutely should have all these mitigations enabled by default.

[2020-06-11 18:56] Mark-Simulacrum commented on #73137
I *do* think it makes some sense perhaps to keep this P-critical while the backport isn't accepted; I'm not sure if @pnkfelix hasn't had time to accept it yet or if we need to discuss next T-compiler meeting or what.

[2020-06-11 18:59] estebank commented on #29061
[Update](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4c6dced28cf58f9d29fd976e59220c5d), little change:

[code]

[2020-06-11 19:04] estebank commented on #26804
Current output:

[code]

[2020-06-11 19:24] spastorino commented on #73137
@ecstatic-morse the revert won't hit stable because it was `beta-nominated` and it was accepted for backport during today's meeting. Anyway, we have also [discussed if we should change the priority or not](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.20meeting.5D.202020-06-11.20.2354818/near/200552098) but I don't think we have clearly concluded anyth

[2020-06-11 19:25] Mark-Simulacrum opened #73249 "ICE: could not fully normalize"
ICE in packed-simd on rustc-perf, caused by ec42485ee95e3843a65b47533f6bcbcf06d9564e. I suspect https://github.com/rust-lang/rust/pull/72897 but am not sure. cc @lcnr

Would be good to minimize so we can add a test case.

[code]

[2020-06-11 19:30] spastorino commented on #71060
Removing nomination as it was discussed during today's meeting.

[2020-06-11 19:33] BartMassey commented on #43244
It feels to me like this whole thing is looking to me less and less like `retain_mut()` (`retain()` with a mutable reference passed to the closure), which is what it was first and foremost intended to provide. Could we provide `retain_mut()` for now in addition to working on the design of filtered drain thing? Or am I missing something?

[2020-06-11 19:34] sanbox-irl commented on #64260
What about just...`some` and `then_some`?

`some` is the non-closure version, `then_some` is the closure version.

I feel like it seems pretty clear since it literally has the word `some` in it, so you get nice code like:

[code]

As others have said, it feels like this would be a good thing to have in some capacity at all, even if it's just an easy conversion

[2020-06-11 19:43] Mark-Simulacrum opened #73250 "[regression] empty shebang parsing"
We fail to parse this (admittedly questionable) code as of beta:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4fd6b726ceaddf0c06e67761d2276277

[code]

This broke one repository (not crate) in the beta crater run: https://crater-reports.s3.amazonaws.com/beta-1.45-1/beta-2020-06-03/gh/grng3r.rust_todo/log.txt

[2020-06-11 19:44] Mark-Simulacrum commented on #73250
cc @petrochenkov

I personally suspect that we may want to ask T-lang if we're good accepting this as expected breakage. Alternatively I guess we can adjust the shebang detection to not require a non-empty shebang.

[2020-06-11 19:45] spastorino commented on #68536
Removing nomination as [it was discussed during today's weekly meeting](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.20meeting.5D.202020-06-11.20.2354818/near/200555757).

[2020-06-11 19:48] ecstatic-morse commented on #73137
I don't have anything to add to my comments above besides the fact that I'm generally suspicious of open-source projects who change issue priority based on things besides severity. Ultimately it's up to WG-prioritization (you) on how to handle release blocking issues that have been fixed on `master` but not `beta`.

[2020-06-11 19:50] lcnr commented on #73249
Could also be caused by #73206, will try to reproduce this locally.

[2020-06-11 19:55] Mark-Simulacrum commented on #73249
Did you mean to point at some specific part of that rollup? It's almost certainly caused by the rollup (or a not-yet-benchmarked commit I guess).

[2020-06-11 19:58] lcnr commented on #73249
I meant https://github.com/rust-lang/rust/pull/72890 :sweat_smile:

[2020-06-11 20:16] lcnr commented on #73249
This seems to be caused by #72890, cc @davidtwco

Backtrace:

[code]

[2020-06-11 20:22] lcnr commented on #73249
Minimal repro:
[code]

[2020-06-11 20:54] lcnr opened #73251 "improper_ctypes incorrectly warns on projections featuring opaque types"
cc @davidtwco

[code]
Gives the following incorrect warning:
[code]

[2020-06-11 21:01] lcnr opened #73252 "improper_ctypes causes an ICE on invalid projections"
[code]
results in
[code]
cc @davidtwco

[2020-06-11 21:12] lcnr opened #73253 "Well formedness of types in extern functions is not checked"
This does only error once we actually use `foo`.
[code]
The following errors when we declare `foo`
[code]
Extern statics are also checked:
[code]

I expected that we also check the well formedness of function declarations in extern blocks

[2020-06-11 21:24] aloucks commented on #43244
@BartMassey

I don't think that's the case. I specifically use `drain_filter` to take ownership of items based on the filter criteria. `Drain` and `DrainFilter` yeild the item where as retain does not.

@negamartin

Ah, Ok. That's my mistake. I misunderstood your definition. I had interpreted it as "nothing is removed from the vec until dropped", which doesn't really make any sense.

I think it ne

[2020-06-11 21:26] pnkfelix commented on #71060
Discussed in today's [T-compiler meeting](https://zulip-archive.rust-lang.org/238009tcompilermeetings/72518weeklymeeting2020061154818.html#200554689)

No one had a terribly strong opinion.

The team leads both agreed that for the short-term, *if* its easy to change the compiler to use the `backtrace` crate for ICE backtraces, then we should just do that as a crutch for now. That is, from our point

[2020-06-11 21:28] ecstatic-morse opened #73255 "Tracking issue for `#![feature(const_precise_live_drops)]`"
*[View all comments](https://triagebot.infra.rust-lang.org/gh-comments/rust-lang/rust/issues/73255)*

This is a tracking issue for a more precise version of checking for drops in `const` contexts.

The feature gate for the issue is `#![feature(const_precise_live_drops)]`.

With this feature enabled, drops are checked on slightly elaborated MIR. This makes the analysis that prevents dropping in `co

[2020-06-11 21:29] matthiaskrgr opened #73256 "ICE: use of a constant whose type is a projection inside a pattern: big_enum_set"
Found in the crater runs of https://github.com/rust-lang/rust/issues/72969

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-06-11 21:34] otavio commented on #73151
Is this fix going to be backported? I am not used to how this kind of issue is dealt with inside the rust compiler.

[2020-06-11 21:36] #69977 closed

[2020-06-11 21:36] #73160 closed

[2020-06-11 21:37] matthiaskrgr commented on #72985
This also appeared in the crater runs of https://github.com/rust-lang/rust/issues/72969 where https://github.com/overdrivenpotato/libcore-psp triggers the ICE `thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', src/librustc_typeck/check/intrinsic.rs:288:42`

[2020-06-11 21:56] jrmuizel opened #73258 "ptr::read() is slower than directly dereferencing"
[code]

compiles to
[code]

but replacing `*v` with `v.read()`

[code]

compiles to:

[code]

This came up from #71257

[2020-06-11 21:57] jrmuizel commented on #71257
So it turns out that https://bugs.llvm.org/show_bug.cgi?id=46279 was me making an incorrect assumption about enums in C++. I looked more closely at the rust issue and filed #73258 which probably needs to be fixed before making progress on this one.

[2020-06-11 21:58] lcnr commented on #73256
Introduced by https://github.com/rust-lang/rust/pull/72153, might be already fixed by https://github.com/rust-lang/rust/pull/72897 and already fixed by https://github.com/rust-lang/rust/pull/72897

[2020-06-11 22:02] matthiaskrgr commented on #73256
`rustc 1.45.0-beta.3359 (b7dc83a3f 2020-06-03)` crashes as well, might be worth backporting then.

[2020-06-11 22:03] nikomatsakis commented on #57893
I'm dumping here some notes from the lang team dropbox paper:

- No progress
- Relevant issue: [rust-lang/rust#57893](https://github.com/rust-lang/rust/issues/57893)
- Relevant PR: [rust-lang/rust#66037](https://github.com/rust-lang/rust/pull/66037)
- What the PR implemented:
    - Making `dyn Trait` not `dyn safe` if:
        - there is a dyn overlapping impl and
        - the trait has associate

[2020-06-11 22:06] alex commented on #73258
godbolt for the bad version here: https://rust.godbolt.org/z/CWboVo

took me a second, but the panic is from the unwrap, suggesting that the discriminant range isn't propagated correctly

[2020-06-11 22:11] davidtwco commented on #73251
I'm not sure if this is incorrect - I think this is what I'd expect. In the declaration of `lint_me`, we don't know what concrete type `Bar` is - if it were `()`, then we could normalize to `u32` - but we don't know? Maybe I'm missing something.

[2020-06-11 22:13] lcnr commented on #73251
Hmm, that might be true. I definitely think that the following should not lint here (with `Assoc` bound to u32)
[code]

[2020-06-11 22:46] matthiaskrgr opened #73260 "ICE: unexpected ConstKind -Zsave-analysis"
Code from glacier: `fixed/72819.rs`
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./72819.rs -Zsave-analysis`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-06-11 22:50] mati865 commented on #65969
@rustbot modify labels: -O-linux

[2020-06-11 22:56] estebank commented on #33481
Current output:

[code]

[2020-06-11 23:06] davidtwco commented on #70877
Not completely sure, but I think this might be another example of this ICE ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=153ec58bdd34543bfb61dd13974f1343)):

[code]

[2020-06-11 23:07] davidtwco commented on #73251
I agree that seems like it should be fine. So, this happens because of this call:

https://github.com/rust-lang/rust/blob/a37c32e2d5fb186627ffe99a391c7fd6fd159334/src/librustc_lint/types.rs#L962-L967

It makes sense that we want to lint on opaque types on extern declarations, it's unclear whether we would want to allow projections which contain opaque types - this would solve the case you've shown

[2020-06-11 23:08] estebank commented on #43013
Current output:

[code]

Applying the suggestion gives us the wrong closure return type:

[code]

which leads to

[code]

The fix is to write `T: Fn(char) -> bool` instead of `T: Fn(char) -> ()`.

This is not necessarily the correct fix for this case.

[2020-06-12 00:30] nagisa commented on #73234
Hard to see it as an actionable bug. The only thing I can suggest is to get more memory?

As thus, closing. Feel free to complain if you believe me closing this is an error.

[2020-06-12 00:30] #73234 closed

[2020-06-12 00:31] tmandry commented on #72247
So, I did some experimenting here. It turns out that this was pre-existing before #61373. Even if we emit storage markers to LLVM, it doesn't seem to make use of them when optimizations are disabled. I have a work-in-progress branch [here](https://github.com/rust-lang/rust/compare/master...tmandry:issue-72247?expand=1) that does this.

Is there some attribute we can emit on the resume function tha

[2020-06-12 00:34] nagisa commented on #73193
Last option overrides is a better option if the goal is to enable macros. That way invocations of the same `asm!` with att-syntax-by-default can still opt into intel syntax by appending what otherwise would be a conflicting option.

[2020-06-12 00:40] nagisa commented on #73189
Not really. Anybody can still write something along the lines

[code]

and since the trait is public, it all can even be done in an external crate.

[2020-06-12 00:42] nagisa commented on #73189
One way to do this, however is to add a method to `IntLike` and then implement said method with an assembly snippet from above. Since `Self` a that point is a specific type, type checking should pass.

[2020-06-12 00:46] nagisa commented on #73158
One way to change the input type is to deprecate this function and introduce a new one with a correct type.

[2020-06-12 00:49] nagisa commented on #73134
cc @Amanieu

[2020-06-12 00:50] estebank commented on #44530
Current output:

[code]

[code]

[2020-06-12 00:50] #44530 closed

[2020-06-12 00:52] estebank commented on #44611
Triage: no change.

[2020-06-12 00:54] #44539 closed

[2020-06-12 00:58] nagisa commented on #73060
It is more likely that the failure before was just silent and the linked code didn’t contain the necessary relocations, potentially resulting in unsound output. The new error is most likely a result of LLVM upgrade.

[2020-06-12 01:01] nagisa commented on #73060
https://reviews.llvm.org/D79105

[2020-06-12 01:03] matthiaskrgr commented on #72911
reduced:
[code]
there are errors but it still reproduces the ice.

[2020-06-12 01:15] matthiaskrgr commented on #50244
Can't find any references to `test_loading_cosine` in the current rustc repo, assuming the test has been removed.
Closing.

[2020-06-12 01:15] #50244 closed

[2020-06-12 01:28] #72997 closed

[2020-06-12 01:28] #73145 closed

[2020-06-12 01:28] #65687 closed

[2020-06-12 01:31] Amanieu commented on #73134
I think it's just a matter of marking the test as `// only-x86_64`

[2020-06-12 01:32] jyn514 commented on #56922
Interesting, I was about to implement the opposite in https://github.com/rust-lang/rust/pull/73101. I assume you'd still want the warning for additional documentation on the re-export?
[code]

[2020-06-12 01:44] matthiaskrgr opened #73263 "Ztime-passes: columns not always seperated"
Sometimes when compiling code with `-Ztime-passes`, there is no space between rss column and the pass-name column:
[code]

``
rustc 1.46.0-nightly (feb3536eb 2020-06-09)
binary: rustc
commit-hash: feb3536eba10c2e4585d066629598f03d5ddc7c6
commit-date: 2020-06-09
host: x86_64-unknown-linux-gnu
release: 1.46.0-nightly
LLVM version: 10.0
``

[2020-06-12 01:53] matthiaskrgr commented on #48029
Looks like this has been fixed. :+1:

[2020-06-12 01:53] #48029 closed

[2020-06-12 01:57] estebank commented on #67203
Current output:

[code]

[2020-06-12 01:57] #67203 closed

[2020-06-12 02:00] estebank commented on #72147
Current output:

[code]

[2020-06-12 02:00] #72147 closed

[2020-06-12 02:01] Aaron1011 commented on #71249
I'm interested in working on this.

Would it be better to add additional data to each JSON diagnostic message (e.g. `future_compat: { breakage_release: "1.47.0" }`), or emit a single 'summary' message at the end of compilation?

[2020-06-12 02:19] jyn514 opened #73264 "Rustdoc will report warnings multiple times for reference links"
I tried this code:

[code]

I expected to see this happen: rustdoc outputs a single warning that only 1 anchor is allowed

Instead, this happened: rustdoc outputs the same warning twice in a row:

[code]

### Meta

`rustc --version --verbose`:
[code]

@rustbot modify labels: T-rustdoc A-intra-doc-links

[2020-06-12 02:21] Amanieu commented on #72965
Fixed by #73230

[2020-06-12 02:21] #72965 closed

[2020-06-12 02:22] jyn514 commented on #73264
This is because of https://github.com/raphlinus/pulldown-cmark/pull/445 and has to be fixed upstream AFAIK.

[2020-06-12 02:29] foriequal0 commented on #50513
Is this issue still valid after https://github.com/rust-lang/rust/pull/51901 and https://github.com/rust-lang/rust/pull/52637 ?

[2020-06-12 03:12] Boscop commented on #43244
@negamartin

It is not analogous (that's why we need `retain_mut`/`drain_filter`): `drain().filter()` would drain even those elements for which the filter closure returns `false`!

[2020-06-12 05:11] dylanmckay commented on #44052
The fork has been merged! I will write a proper update this afternoon

[2020-06-12 05:45] Aaron1011 opened #73268 "Confusing error message on deref-coercion after partial move out"
The following code:

[code]

gives the following error message:

[code]
This error occurs because `val.inner` performs a deref-coercion to access the field `inner` on `NotCopy`. However, this is not mentioned in the error message - we instead refer to val being 'borrowed' by what appears to be a normal field access.

If `val.second` is uncommented, and `val.inner` commented out, the code compiles

[2020-06-12 06:23] lcnr commented on #73251
Hm, I think it might be worth it to normalize using `Reveal::UserFacing` here, which should not normalize the first case and your example while fixing the second one if I am not mistaken.

[2020-06-12 07:15] RalfJung commented on #57240
https://github.com/rust-lang/rfcs/pull/2920 by @ecstatic-morse suggests an alternative way of dealing with `const` in patterns.

[2020-06-12 07:30] wezm commented on #44052
I am interested in said update. Where do you plan to post it @dylanmckay (so I know where to look :slightly_smiling_face:)?

[2020-06-12 07:35] birkenfeld commented on #73014
`Default::default()` happens a lot in struct displays, with `StructType { ..., StructType::default() }` being as redundant as `StructType { ..., Default::default() }`.

[2020-06-12 07:43] dtolnay commented on #72838
Closing per https://github.com/rust-lang/rust/pull/72841#pullrequestreview-429527831.

[2020-06-12 07:43] #72838 closed

[2020-06-12 08:24] RalfJung opened #73272 "caller_location ICEs in Miri"
Some Miri tests, e.g. `./miri run tests/run-pass/panic/catch_panic.rs`, now ICE with
[code]
This is a regression introduced by https://github.com/rust-lang/rust/pull/73246. The likely cause is https://github.com/rust-lang/rust/pull/73182.

Cc @Aaron1011 @matthewjasper

[2020-06-12 10:00] RalfJung commented on #73272
@LeSeulArtichaut I removed "regression from stable" as Miri does not exist on stable.

[2020-06-12 10:01] RalfJung opened #73274 "Toolstate tracking is broken"
`./x.py test --stage 0 src/tools/miri` fails currently due to https://github.com/rust-lang/rust/issues/73272. However, the toolstate is green nevertheless. Looks like somehow toolstate tracking is broken.

Due to this, we currently ship a broken Miri via rustup.

Cc @rust-lang/infra @Mark-Simulacrum @kennytm

[2020-06-12 10:10] LeSeulArtichaut commented on #73272
Sorry, got it.

[2020-06-12 10:22] oli-obk commented on #73274
I can't make heads or tails of the log in https://dev.azure.com/rust-lang/rust/_build/results?buildId=31744&view=logs&j=396dc680-0b3a-5910-2395-0c692e01f85b&t=2ca6b3c4-04bf-58c0-3d82-f09735e43e8e It looks to me like tests weren't run at all?

[2020-06-12 10:28] RalfJung commented on #73274
Yeah that's expected, the dist builders only build the tools and do not test them. The tools builder tests them.

Manifest creation (when the final toolchain is added to rustup, as part of auto -> master promotion) reads the toolstate JSON files and omits Miri if it tests failed. (So far, no other tool opted into using that system, as far as I know.)

[2020-06-12 10:30] RalfJung commented on #73274
But for some reason, the tools builder doesn't even seem to *build* Miri?!?

https://dev.azure.com/rust-lang/rust/_build/results?buildId=31744&view=logs&j=e50ab380-190b-535c-8a18-25c988f7577b&t=4a9c8583-1de4-50df-1657-629e71b187fc

[2020-06-12 10:32] oli-obk commented on #73274
It runs the miri tests [here](https://dev.azure.com/rust-lang/rust/_build/results?buildId=31744&view=logs&j=e50ab380-190b-535c-8a18-25c988f7577b&t=4a9c8583-1de4-50df-1657-629e71b187fc&l=7888) and shows that they fail. The toolstate processing after that is just not verbose enough to tell us what's up

[2020-06-12 10:32] RalfJung commented on #73274
It says
[code]
But that did not even get to Miri. It stopped after another test failure:
[code]
I think that's a clippy test. So what likely happened is that a clippy test failed, but for some reason, instead of aborting CI, that lead to all tools being marked as test-pass...

[2020-06-12 10:33] RalfJung commented on #73274
That line says `Verifying status of book...`? And above some tests fail, but those are not Miri's tests.

[2020-06-12 10:34] oli-obk commented on #73274
Oh... right... maybe clippy tests failing cause all other tools not to get tested at all, thus leading to "successful" test results

[2020-06-12 10:34] RalfJung commented on #73274
And, notably, clippy tests failing to *not* block the PR from landing!

[2020-06-12 10:35] oli-obk commented on #73274
oh... right :facepalm:

so... let's do this PR and figure out things in another try?

@bors rollup-

[2020-06-12 10:39] AlexEne opened #73278 "Opening files in WASM32-WASI does not work"
Hello,

I may just miss-understand how this is supposed to be used, but I cannot find a way to get a simple rust program to open a file in wasm32-wasi (tried a few VMs and at this point I am almost certain the issue sits with the implementation here:
https://github.com/rust-lang/rust/blob/master/src/libstd/sys/wasi/fs.rs

In the host VM (e.g. for WAMR):
[code]

The rust program:
[code]

The error

[2020-06-12 10:40] RalfJung commented on #73274
You did this in an issue, not sure what that is going to accomplish. :D

[2020-06-12 10:41] oli-obk commented on #73274
oops. I thought we were on the PR

[2020-06-12 11:04] xMAC94x commented on #57958
Hi Daniel,
interestingly i also have the error in my CI. do you by accident know if your CI is run on a server with ZFS as filesystem?
For our CI it only seems to fail on those.

[2020-06-12 11:15] timvisee opened #73279 "Cargo.toml manifest parsing error for missing README since nightly 2020-06-09"
I'm seeing `Cargo.toml` manifest parsing errors using the latest Rust nightly. This started showing up in CI today. It seems this is caused by a missing README file when configured in `Cargo.toml` of the respective crates.

Here are three of those errors:

[code]

[code]

[code]

Maybe this should just show a warning instead, to prevent breaking existing crates? Quite a few crates on `crates.io` s

[2020-06-12 11:16] jonas-schievink commented on #73279
Duplicate of https://github.com/rust-lang/cargo/issues/8351

[2020-06-12 11:16] #73279 closed

[2020-06-12 11:17] sfackler commented on #73279
This should probably be filed on the https://github.com/rust-lang/cargo repository.

[2020-06-12 11:19] timvisee commented on #73279
You're right. Should have posted this in the cargo repository. I'll follow the progress on this there.

Thanks for the quick response.

[2020-06-12 12:18] tmiasko commented on #73151
I asked for backport in LLVM 10.0.1: https://bugs.llvm.org/show_bug.cgi?id=46301.

[2020-06-12 12:47] hanna-kruppe commented on #73251
Long ago I filed https://github.com/rust-lang/rust/issues/60855 where we also concluded Reveal::UserFacing is the right behavior for normalization in this lint. The current behavior comes from #64359 cc @varkor

[2020-06-12 12:48] davidtwco commented on #73251
I'll put up a PR with my experiments from last night later today in that case.

[2020-06-12 12:55] hyd-dev opened #73281 "Please use PROC_THREAD_ATTRIBUTE_HANDLE_LIST in std::process::Command on Windows Vista and later"
On Windows Vista and later, `PROC_THREAD_ATTRIBUTE_HANDLE_LIST` can be used to programmatically control which handles are inherited, and the mutex [here](https://github.com/rust-lang/rust/blob/59493917be3e87e1dfb44a9ccb66a9f9b17228e6/src/libstd/sys/windows/process.rs#L186) can be removed.
An example from Chromium: https://github.com/chromium/chromium/blob/2175a6f74e264dd7d540e5c59e73a9460a716727/b

[2020-06-12 12:56] oconnor663 opened #73282 "nightly Cargo fails on missing README.md, breaks `remove_dir_all` crate and all transitive callers"
Here's the downstream issue: https://github.com/XAMPPRocky/remove_dir_all/issues/19

This issue began very recently. It repros on `1.46.0-nightly (a37c32e2d 2020-06-11)`, but it did not repro on `rustc 1.46.0-nightly (feb3536eb 2020-06-09)`. Missing components in that latest build mean that I think only people running `rustup set profile minimal` are seeing the break currently, but it will spread

[2020-06-12 13:03] jonas-schievink commented on #73282
Duplicate of https://github.com/rust-lang/rust/issues/73279

[2020-06-12 13:03] #73282 closed

[2020-06-12 13:03] RalfJung opened #73283 "More precise spans for CTFE cycle errors"
With https://github.com/rust-lang/rust/pull/72879, CTFE cycle errors lost some of the precision in their span, which was deemed an acceptable consequence of code cleanup. Would be nice to fix that at some point, though.

With our current structure, getting this precision back would be non-trivial, but as a consequence of future cleanup it could become simpler: I have some plans for `Allocation` AP

[2020-06-12 13:10] oconnor663 commented on #73282
Woops, thank you.

[2020-06-12 13:40] steveklabnik commented on #46946
Triage: no changes i'm aware of

[2020-06-12 14:04] x46085 commented on #57958
Doesn't appear so (we're on GCP), although we switched to Rook recently so perhaps our fs type changed with that:
![image](https://user-images.githubusercontent.com/1129228/84509960-5973c100-ac79-11ea-9123-05969188b50d.png)

Other factors to compare might be we are using Drone for CI, Skaffold + Helm for build & deploy into GKE

Also we've not seen this issue since we made this patch, so unsure if

[2020-06-12 14:09] imran82ali opened #73284 "linking with rust-lld failed: exit code: 1"
Dear Experts,
I am working on Discovery repository, I am building this for STM32F3 Discovery. I am facing following error
**linking with rust-lld failed: exit code: 1**

When I am building by

**cargo build --target thumbv7em-none-eabihf**

It was working fine a couple of weeks ago, I am using Linux 18.04 LTS, I have updated rust my current version is

imran82ali@gmail:~$ rustup --version --verbos

[2020-06-12 16:08] ecstatic-morse commented on #57240
rust-lang/rfcs#2920 would allow you to write the example in the OP with a few extra tokens.

[code]

[2020-06-12 16:17] RalfJung opened #73286 ""./x.py test --stage 0 --doc" does not run doc tests"
I would expect the following command to run the libcore doc tests:
[code]
This used to work, but now all it does it build libcore and its test binaries. No tests are actually being run (which I verified by breaking one of them deliberately).

@Mark-Simulacrum any idea what is happening?

[2020-06-12 16:56] davidtwco commented on #60855
I've been using `LateContext`'s `param_env` over `ParamEnv::reveal_all()` in recent PRs that modify the `improper_ctypes` lint (see #72700, #73287, and #73257).

In each recent PR, I've ensured that opaque types are prohibited (in the spirit of "FFI-safety of a type not relying on particular type behind an opaque type being FFI-safe") - with the exception of when a opaque type is used in a project

[2020-06-12 17:00] #73050 closed

[2020-06-12 17:10] ecstatic-morse opened #73288 "i686 floating point behavior does not agree with unit tests in debug mode"
Compiling and running the following code with `-C opt-level=0` for 32-bit Linux on a recent nightly (2020-06-07) results in a failing assertion.

[code]

[code]

Output:

[code]

However, this code is taken directly from a unit test for `libstd` added in #46012, so presumably it should succeed.

https://github.com/rust-lang/rust/blob/59493917be3e87e1dfb44a9ccb66a9f9b17228e6/src/libstd/f32.rs#L1508

[2020-06-12 17:15] RalfJung commented on #73288
This is probably caused by x87 instructions... I think we have an issue about that somewhere already, not sure where though.
Cc @hanna-kruppe

[2020-06-12 17:23] ecstatic-morse commented on #73288
#46012 added the test.

[2020-06-12 17:35] lcnr commented on #73249
Assigning `P-critical` as [discussed as part of the Prioritization Working Group process](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2373249.20ICE.3A.20could.20not.20fully.20normalize) and removing `I-prioritize`.

[2020-06-12 17:44] ehuss commented on #73286
I can confirm, doctests are not being run for std.  I think a bigger question is, have they ever worked?  Cargo will skip doctests whenever `--target` is used, which AFAIK is how std is always built/tested.

[2020-06-12 17:46] matklad commented on #70516
Just needed `OsStr::to_ascii_lowercase` to manipulate paths on windows -- I need to lower case driver letter, `C:\Program Files` -> `c:\Program Files`.

[2020-06-12 17:53] LeSeulArtichaut commented on #69390
Assigning `P-high` [as discussed as part of the Prioritization WG procedure](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2369390.20Miscompilation.20with.20clashing.20symbol.20fn.20n).

[2020-06-12 17:56] lcnr commented on #73250
Assigning `P-medium` [as discussed as part of the Prioritization WG procedure](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2373250.20.5Bregression.5D.20empty.20shebang.20parsing).

[2020-06-12 18:01] RalfJung commented on #73286
I am pretty sure that have used this command before and got test failures when I had screwed up. If you want, I can go back to older versions and verify.

[2020-06-12 18:11] ehuss commented on #73286
I'll try to figure out what's going on.

I tried running with `-Zdoctest-xcompile` and fortunately nothing looks broken.

It's also very possible I am missing something, but I edited some doctests with errors, and a bare `./x.py test` doesn't fail.

[2020-06-12 18:22] ecstatic-morse commented on #73288
Indeed, after the mask, the value in `masked_nan2` is:

[code]
The call to `f32::from_bits` puts the same value onto the FPU stack (`ST[0]`) with an `FLD` instruction before returning.

When the return value is popped off the FPU stack with an `FSTP` instruction in `main`, the signaling/quiet bit (the most-significant bit of the significand) has been set:

[code]

[2020-06-12 18:29] ehuss commented on #73286
I see what's going on.  It's a consequence of https://github.com/rust-lang/cargo/pull/6892.  That means doctests haven't been running since 1.39.

I'll try to put together a fix.

[2020-06-12 18:31] LeSeulArtichaut commented on #68812
Let’s try to have an MCVE for this?
@rustbot ping arm

[2020-06-12 19:21] negamartin commented on #43244
I just noticed a small line in a comment by the lib team in [#RFC 2870](https://github.com/rust-lang/rfcs/pull/2369):

Is it backwards-compatible to make a method generic if it still accepts the previous concrete type? If so, I believe that would be the best way forward.

(The builder pattern is a bit unintuitive with iterators, since methods on iterators are usually adaptors, not behaviour-change

[2020-06-12 19:29] rustonaut commented on #43244
No, not with the current design as far as I know as type inference which
worked before could now fail due to type ambiguity. Genetics with default
types for functions would help but are super tricky to do right.

On Fri, Jun 12, 2020, 21:21 negamartin <notifications@github.com> wrote:

[2020-06-12 19:41] Aaron1011 commented on #55721
It turns out that there is a legitimate usage of this pattern with `thread_local`:

When you use the `thread_local!` macro, a new *const* gets defined:

https://github.com/rust-lang/rust/blob/7c78a5f97de07a185eebae5a5de436c80d8ba9d4/src/libstd/thread/local.rs#L183-L186

A `LocalKey` stores a function pointer, so it's fine for it to get copied at each call site:

https://github.com/rust-lang/rust/b

[2020-06-12 19:46] Aaron1011 commented on #55721
Another challenge is interior mutability: this code is probably fine:

[code]

but this code isn't:

[code]

[2020-06-12 20:12] tmandry commented on #72247
Tagging @nikic who might know?

[2020-06-12 20:13] hanna-kruppe commented on #73288
Independently of x87, the intent behind the test is on shaky ground. LLVM optimizations do not generally preserve NaN bit strings, see e.g. #55131.

[2020-06-12 20:19] hanna-kruppe commented on #60855
My litmus test for closing this would be "all the normalizing done in improper_ctypes uses `Reveal::UserFacing`", which is hard to audit for while there's multiple PRs in flight that address parts of the problem. After those PRs are all merged, we can see if there's any `Reveal::All` remaining and if so, their location should tell us how to exercise any remaining questionable behavior.

[2020-06-12 20:24] ecstatic-morse commented on #73288
Seems like we should update the docs for `{f32,f64}::from_bits` then. Currently, they claim

and

[2020-06-12 20:26] hanna-kruppe commented on #73288
The first part isn't wrong, as far as I can tell. It literally is implemented as transmute, it's just that handling any float values *in general* does not always "preserves the exact bits".

[2020-06-12 20:30] jplatte commented on #43244
No, since it breaks type inference in some cases. E.g. `foo.method(bar.into())` will work with a conrete type argument, but not with a generic argument.

[2020-06-12 20:31] ecstatic-morse commented on #73288
[code]

@hanna-kruppe This succeeds in debug mode unless the last line is uncommented, so it's misleading at the very least.

[2020-06-12 20:46] hanna-kruppe commented on #73288
I believe that difference is due to the `transmute` getting const-eval'd, the LLVM IR just stores the same `u32` bit pattern to the stack several times. While this does end up making a difference today:

1. Several changes to rustc could make the difference disappear again (enabling MIR inlining, not running const-prop in debug builds, forbidding const-prop from evaluating `tranmsute`s, etc.)
2. C

[2020-06-12 21:09] cheako commented on #48564
So it compiles, but for sure doesn't run...  and I stress again Rust compiles it.

[2020-06-12 21:26] ecstatic-morse commented on #73288
If you mean MIR const propagated, it does not. Not sure about LLVM const propagation, but adding `black_box` and wrapping the round trip in a function call did not change behavior. I believe the fact that `std::mem::transmute` is direct re-export of the intrinsic, which accounts for the difference.

I'm not saying that this area isn't a mess, but the docs `from_bits` don't acknowledge this at all,

[2020-06-12 21:30] ecstatic-morse commented on #73288
@Mark-Simulacrum Besides the unresolved problems around NaN payloads, this raises another issue: Should we be running unit tests in the standard library in debug mode?

As far as I know, we don't distribute a non-optimized `libstd`, but maybe we should be building one and running its tests as part of the `nopt` CI jobs?

[2020-06-12 21:37] poliorcetics commented on #73233
@rustbot claim

[2020-06-12 21:38] estebank commented on #63868
Current output:

[code]

[2020-06-12 21:38] #63868 closed

[2020-06-12 21:45] yaahc commented on #63868
:heart_eyes:

[2020-06-12 22:03] poliorcetics commented on #73196
@JakobDegen this could be fixed to be shorter and clearer you are right.

Do you want to do it ?

[2020-06-12 22:07] Aaron1011 commented on #71436
Is anything blocking stabilization of this feature? It seems pretty uncontroversial - if the `proc_macro` crate ever gained the ability to be used outside of a procedural macro, this function could just unconditionally return `true`.

[2020-06-12 22:21] inferno-chromium opened #73294 "AddressSanitizer and LeakSanitizer should be enabled together like C/C++ projects"
Currently ASan and LSan in Rust are mutually exclusive [https://doc.rust-lang.org/nightly/unstable-book/compiler-flags/sanitizer.html], this is not how it works in other places. In C/C++ projects, we always enable them in the same build and actually address enables both ASan and LSan. Rust compiler should match this, this will make it easy to enable LSan in several Rust OSS projects in OSS-Fuzz (e

[2020-06-12 22:28] inferno-chromium commented on #73294
@kcc fyi!

[2020-06-12 22:35] adetaylor opened #73295 "Allow export of Rust symbols from a C shared object via a staticlib"
clang offers the ability to mark a symbol as exported or non-exported from a dynamic shared object (DSO) using `__attribute__((visibility ("default")))` and `__attribute__ ((visibility ("hidden")))`. This issue requests the same in Rust, though it may be a bit more complex in the Rust case.

Another way of looking at it is to cleave the dual purpose of `#[no_mangle]` where it both sets visibility

[2020-06-12 22:45] dtolnay commented on #71436
One non-uncontroversial part is how to react if proc_macro might not be all-or-nothing in the future. For example if the whole token API is made to work outside a proc macro, but the diagnostics API via Span would not be available.

[2020-06-12 22:48] Ryan1729 commented on #61282
I can also confirm that I needed to copy [the script](https://github.com/PhilipDaniels/rust/blob/master/src/etc/rust-gdbgui) to `~/.cargo/bin/rust-gdbgui` with rust 1.44.0

[2020-06-12 23:00] hosunrise commented on #35121
What is the state of this one?

[2020-06-12 23:33] dtolnay commented on #73295
FYI @japaric @alexcrichton @retep998 in case you have a suggestion as the linkage experts.

Bottom line:

[2020-06-12 23:33] Dylan-DPC commented on #67534
Marking it as p-high based on the [wg-prioritisation discussion](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2367534.20Promotion.20creates.20invalid.20constants.20that)

[2020-06-13 00:00] tmandry commented on #71997
Here's another example:

[code]

I tried different combinations of assertions from this issue and none of them worked for this one. Using unchecked indexes optimizes the whole function to a memcpy:

[code]

[2020-06-13 00:25] is8ac opened #73298 ""error: linking with `cc` failed: exit code: 1" regression in release build with const generics"
Const generics and release mode and Hc128Rng::seed_from_u64 and rustc 1.45.0-nightly (4bd32c980 2020-05-29) or later cause cc linking error.

To avoid the error, do any of:
- use rustc 1.45.0-nightly (a74d1862d 2020-05-14) or earlier
- remove the `#![feature(const_generics)]`
- remove the `Hc128Rng::seed_from_u64(42)` line
- compile in debug mode

I'm guessing that Hc128Rng::seed_from_u64 is not t

[2020-06-13 00:32] Aaron1011 commented on #35121
@hosunrise: The is currently blocked on https://github.com/rust-lang/rust/issues/67225

[2020-06-13 00:50] lzutao commented on #71997
How about this? https://godbolt.org/z/TQSMyv
[code]

[2020-06-13 01:26] tmandry commented on #71997
Yes, `copy_from_slice` works, but only if you know ahead of time that it's going to be a simple byte-for-byte copy.

What I'm personally interested in is trying to get generic code that (after inlining) compiles down to the equivalent of the above example to optimize.

[2020-06-13 02:36] Mark-Simulacrum commented on #73288
I am fairly certain (hopeful, I guess) that most of our builders do have debug assertions enabled... however, it sounds like what you actually want here is a *debug* libstd. I don't know how feasible that is from a performance perspective (I imagine running those tests is considerably slower?).

We do actually have a i686-gnu-nopt builder, and I think some other nopt builders, (https://github.com/

[2020-06-13 02:37] Mark-Simulacrum commented on #73288
Basically, as with all such questions, it comes down to someone sitting down and timing how long a debug build of std/std tests + running those tests would take, then timing some current task (e.g. release std tests) and scaling that to CI time. If that's sufficiently small in CI timescales, we can add it, if not we'll have to not do so.

[2020-06-13 02:40] dtolnay commented on #67650
I would be on board with this change. I guess send a stabilization PR?

[2020-06-13 03:02] crlf0710 opened #73301 "Errors reported in `rustc_lint::levels::LintLevelsBuilder::push` occurs multiple times"
It seems errors (validation failures) reported from `rustc_lint::levels::LintLevelsBuilder::push` will occur multiple times. Examples are `E0453` (not covered by tests) and `E0763` (being added in #73300 , unit test reflecting this problem). I'm not sure what's the best way forward.

[2020-06-13 03:28] Boscop commented on #48159
Btw, why doesn't `#[repr(align(16))]` work on struct members?
It's inconvenient to have to wrap a member in another type just to specify the alignment.

[2020-06-13 03:33] Boscop commented on #25477
@cheako You can also use `drain_filter` but you have to negate the closure's return value.

[2020-06-13 03:51] JakobDegen commented on #73196
@poliorcetics yeah, I'd already written the patch, was just looking for some help with running the doctests (apparently they're partially broken right now). Its all worked out now though, and I'll submit a PR in a couple of minutes.

[2020-06-13 03:55] retep998 commented on #48159
Probably because you can't do that in C. At least for `__declspec(align)` it cannot be applied to individual fields.

[2020-06-13 04:05] cheako commented on #25477
@Boscop `drain_filter` does something different...  or it's documentation isn't as clear as `retain`'s.  `drain_filter` creates an iterator that would then need to be consumed ??for anything to happen??
Looking into it, that just leads to another question...  Not a solution that's easily grasped.  If `drain_filter` was supposed to be `retain_mut` it's not clear how.

[2020-06-13 04:05] mtak- commented on #60715
Just submitted an [RFC](https://github.com/rust-lang/rfcs/pull/2944).

@petertodd I am not sure I totally understand your use case, so I only mentioned it in passing.

[2020-06-13 04:24] retep998 commented on #73281
Duplicate of https://github.com/rust-lang/rust/issues/38227 but yes we should absolutely do this.

[2020-06-13 04:24] #73281 closed

[2020-06-13 04:38] #73272 closed

[2020-06-13 04:49] steveklabnik commented on #36091
Triage: now is

[code]

[2020-06-13 05:03] SOF3 opened #73303 "Mismatched delimiters recovered incorrectly"
I tried this code:

[code]
which has a typo `_` -> `)`.

The compiler gives this error:
[code]

The first error is not helpful. In fact, `}` is well-paired. This error is misleading as this causes developers to check `{}` pairs instead of `()`. In some more complicated files, there might be more errors related to this issue, so the real error (mismatched `()`) is displayed further in the bottom an

[2020-06-13 05:20] dtolnay commented on #73242
#72239 mostly cared about PartialOrd and Ord impls (as you can tell from the PR title). Unlike PartialEq, none existed before on SocketAddr so they won't be problematic. I think the PR included new PartialEq impls only in support of heterogeneous PartialOrd (see https://github.com/rust-lang/rust/pull/72239#issuecomment-631765007) which was ultimately removed from the PR anyway.

I opened #73304 to

[2020-06-13 06:14] calebzulawski commented on #72012
I'm new to the compiler, but it seemed non-trivial to change `#[target_feature]` functions to unsafe when lowering to HIR.  It looks to me like you'd end up with just as many exceptions (ignoring the unsafe in some scenarios), in addition tracking the origin of the `unsafe`.  On the other hand it was pretty trivial to not implement the Fn traits instead.  I'll open a PR with my fix, but please clo

[2020-06-13 06:32] yerke commented on #73134
@rustbot claim

[2020-06-13 06:53] Right2Left opened #73307 "vec or hashmap seem to still hold heap memory after lifetime"
I tried this code:

[code]

then use valgrind to start:
`valgrind --tool=massif --detailed-freq=1 --massif-out-file=massif.out.test.%p ./test_mem`

I expected to see this happen:
memory will down to slow usage after line:24
28M -> 300M -> 28M -> 300M -> 28M -> 300M -> 28M

Instead, this happened:
the memory usage is :
28M -> 300M -> 85M -> 300M -> 137M -> 300M -> 137M
the massif report：

### Meta

[2020-06-13 06:57] Right2Left commented on #73307
the last snapshot is:

#-----------
snapshot=80
#-----------
time=33575861397
mem_heap_B=104436498
mem_heap_extra_B=2822926
mem_stacks_B=0
heap_tree=detailed
n2: 104436498 (heap allocation functions) malloc/new/new[], --alloc-fns, etc.
 n2: 104435061 0x1126AB: alloc::alloc::alloc (alloc.rs:84)
  n1: 102760464 0x117E9F: hashbrown::raw::RawTable<T>::new_uninitialized (mod.rs:383)
   n1: 102760464 0x

[2020-06-13 07:25] oli-obk commented on #67534
I was doing such a good job of ignoring this issue, and now it's P-high :laughing:

We can't really write a forward compat lint for this, as the user may not be using the promoted in a `'static` way, so if we warn them we'd be warning on perfectly fine code. So the only path forward is to remove the snippet linked above and run crater.

[2020-06-13 07:27] hyd-dev commented on #73281
Sorry for duplicating it. However, the origin issue seems to be inactive.

[2020-06-13 08:45] RalfJung commented on #73286
Ouch. Is there a way we can ensure this does not happen again in the future? Looks like our test suite needs a test suite...

[2020-06-13 08:53] RalfJung commented on #73288
In terms of the bug here, should we have a proper meta-bug (maybe even labelled I-unsound) about LLVM FP semantics around NaN payloads being a mess? This is not immediately actionable, but it is certainly something we should track in a single place. Or should we convert either this or https://github.com/rust-lang/rust/issues/55131 into that meta-bug?

Cc @rust-lang/lang -- the short version is, lo

[2020-06-13 08:53] RalfJung commented on #57241
One problem with stabilizing floats in consts is that their run-time semantics are broken, and likely unsound: https://github.com/rust-lang/rust/issues/55131, https://github.com/rust-lang/rust/issues/73288.

[2020-06-13 09:06] nikic commented on #71997
@tmandry Here is what goes into induction variable simplication for your case, after a bit of cleanup:

[code]

The thing to note is that `%umin != 0` is checked on entry and the loop uses a postinc exit condition `%iv+1 < %umin`.

The relevant SCEV parts are:

[code]

The -1 is what obscures things here, because it could be overflowing. SCEV is not capable of retaining that a subtraction is NUW,

[2020-06-13 10:59] the8472 commented on #71997
Is this sufficiently generic? It compiles to a memcpy

[code]

[2020-06-13 12:47] GuillaumeGomez commented on #43466
I'll write documentation once it's merged then. We still have a few other points which need to be solved before stabilization though, but we're getting close! :)

[2020-06-13 12:51] GuillaumeGomez commented on #41574
Just realized it's been done by @QuietMisdreavus ages ago. We have a `--display-warnings` option on rustdoc (nightly only for the moment). I'll send a PR for stabilization. Closing this issue then.

[2020-06-13 12:51] Nemo157 commented on #43466
I haven't had time to make a minimal repro, but there still appears to be an issue with linking to free-functions on cross-crate inlined docs like [here](https://github.com/rust-lang/futures-rs/pull/2177) even using the `rustdoc` from #73101.

[2020-06-13 13:23] Mark-Simulacrum commented on #73286
It's pretty hard :/

I guess we can add a dummy doc test that writes some "well known" file and we can assert that the file is present -- perhaps do this per-crate.

[2020-06-13 15:18] AlexEne commented on #73278
I did some more investigation, when compiling this program I get different results.

[code]

On OSX with the compiler version mentioned above:
[code]

On Windows the imports looks like :

[code]

Windows `rustc --version --verbose`:
[code]

The missing `fd_prestat_get` and `fd_prestat_dir_name` are the culprits as they are missing on the OSX version (the one where I initially tried).

[2020-06-13 17:44] jonas-schievink commented on #72685
@Thomasdezeeuw can you check this again on a current nightly? It should be fixed.

[2020-06-13 17:48] petrochenkov opened #73319 "Linked native libraries are sometimes deduplicated and sometimes not deduplicated"
The approximate rule is that deduplication happens when `-l` options on command line are involved (which override or not override `#[link]` attributes) and don't happen when only `#[link]` attributes are involved.
I don't want to get into the details here because I plan to fix this myself in some near future, but I'll perhaps extend it if the plan fails.

https://github.com/rust-lang/rust/issues/4

[2020-06-13 17:51] jonas-schievink commented on #73223
cc https://github.com/rust-lang/rust/issues/72800

[2020-06-13 17:53] estebank commented on #72641
We explicitly keep track of whether we are looking at a path's generics in field `currently_processing_generics` and _only_ suggest adding a new type param then that is the case. I believe my original thinking was that the likelihood of it being a reasonable suggestion increased in that case. Also, looking at the diff for the original PR introducing this there are cases like `type Output = Option<

[2020-06-13 18:03] estebank commented on #70572
I do not know if only triggering for short idents is the best course of action: type params are stylistically one upper-case letter in many languages, but not in all. If you [come from Java](https://docs.oracle.com/javase/tutorial/java/generics/types.html) only triggering on one uppercase letter will be fine, but if [you come from Scala](https://docs.scala-lang.org/style/naming-conventions.html#ty

[2020-06-13 18:08] Mark-Simulacrum commented on #70572
I think that's enough, in particular given https://github.com/rust-lang/rust/issues/72640 as well. I don't think I've hit this since the import change landed, too, which makes it less of a concern for me.

[2020-06-13 18:08] #70572 closed

[2020-06-13 18:12] jonas-schievink commented on #40744
Triage: It doesn't seem like much is going to happen here, so maybe this should be closed?

[2020-06-13 18:27] tko commented on #70710
I just hit a similar case, though I have `Display` delegating the actual formatting to `Debug`, I just wanted Display to use limited precision by default:
[code]
the implementation is dropping other Formatter settings unfortunately.

I was hoping I could instead override _only_ the precision on Formatter before passing it on:
[code]

[2020-06-13 18:37] estebank opened #73321 "Search in associated items when type cannot be found"
[Given the following code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e0d291d80bd21afde1f4661358ec95f8):

https://github.com/rust-lang/rust/blob/1fb612bd15bb3ef098fd24c20d0727de573b4410/src/test/ui/associated-types/associated-types-eq-1.rs#L4-L11

we currently show

https://github.com/rust-lang/rust/blob/1fb612bd15bb3ef098fd24c20d0727de573b4410/src/test/ui/associated-

[2020-06-13 18:59] Aaron1011 commented on #39057
Current output:

[code]

I think this issue can be closed

[2020-06-13 19:01] kevinmehall commented on #69173
This can probably be closed in favor of the RFC tracking issue https://github.com/rust-lang/rust/issues/71668. Merging the change proposed here alone was rejected in https://github.com/rust-lang/rust/pull/69245, but an allow-by-default lint was merged in https://github.com/rust-lang/rust/pull/71862.

[2020-06-13 19:01] #39057 closed

[2020-06-13 19:07] RalfJung commented on #69173
@kevinmehall agreed, thanks.

[2020-06-13 19:07] #69173 closed

[2020-06-13 19:07] jrmuizel commented on #73258
This is presumably because the `copy_nonoverlapping` in the implementation of `ptr::read()` does not emit range metadata.

[2020-06-13 19:11] pkubaj opened #73324 "[powerpc64] e82ec2 breaks build"
[code]

This is on FreeBSD head, ELFv2 on BE.

With commit, https://github.com/rust-lang/rust/commit/e82ec2315e5adb1c291c3702cd2ac1f46ecd0fcf applied, all Rust-using software fails to build.

The problem started with 1.43.0, built with 1.42.0 as a bootstrap. Attempting to build software with that build always failed with SIGSEGV. Rust 1.44.0 fails to build as well. Reverting this commit in 1.43.0

[2020-06-13 19:15] nixpulvis commented on #44052
I've been eagerly awaiting this addition to the Rust ecosystem for literally years now! My naive attempts to use this on master seem flawed however.

I built master rust with the standard `./x.py build`, linked as toolchain `master`, then attempted to build the avr-rust/blink example (after updating `src/main.rs` to use `llvm_asm!`):

[code]
This fails with:

[code]

I'm assuming there's configura

[2020-06-13 19:38] #45507 closed

[2020-06-13 19:38] #73196 closed

[2020-06-13 19:38] #73134 closed

[2020-06-13 19:41] alex commented on #73258
I think that's right, looking at the LLVM IR there's no range metadata on the `load`.

I'm a bit confused about what part of the machinery is responsible for turning the `copy_nonoverapping` intrinsic into an LLVM load though, a quick grep of the code seems to suggest that it's emitted as a `memcpy` into LLVM.

Which then got me thinking, shouldn't the load after the memcpy really be where the ran

[2020-06-13 19:58] bjorn3 opened #73327 "error: internal compiler error: error during interning should later cause validation failure"
### Code

[code]

Compile as library with `-Zmir-opt-level=2`. Reduced from the `image` crate.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-06-13 19:59] bjorn3 commented on #73327
@rustbot modify labels: +A-const-eval +requires-nightly

[2020-06-13 20:00] ecstatic-morse opened #73328 "Document guarantees (or lack thereof) regarding sign, quietness, and payload of `NaN`s"
NaNs can behave in surprising ways. On top of that, a [very common target is inherently buggy](https://github.com/rust-lang/rust/issues/114479) in [more than one way](https://github.com/rust-lang/rust/issues/115567). But on all other targets we actually follow fairly clear, if improperly documented, rules. See [here](https://github.com/rust-lang/rust/issues/73328#issuecomment-1666048562) for the c

[2020-06-13 20:02] shepmaster commented on #44052
@nixpulvis see https://github.com/rust-lang/rust/issues/44052#issuecomment-591396417

I wouldn’t expect much of anything to work now as libcore is part of what is miscompiled.

[2020-06-13 20:07] ecstatic-morse commented on #73288
@RalfJung I went ahead and opened #73328 to track documenting our guarantees around NaN. I think we can close this issue once we remove the tests that are relying on unspecified behavior. I can look into running `libstd` unit tests in debug mode on CI. Perhaps we just want to make the existing floating point unit tests into UI tests to see if there's any other issues like this?

[2020-06-13 20:20] ecstatic-morse commented on #72327
I was searching for open floating point issues related to #73328 and stumbled upon this one, which seems to have slipped through the cracks.

cc @rust-lang/wg-prioritization

[2020-06-13 20:29] ranma42 commented on #72327
I believe this happens because x87 internally works on 80-bits numbers.
This format can handle numbers up to about 10^4932, which means that the result of the multiplication is not infinity (when it is on the FP stack), hence the comparisons do not succeed.
On the other hand, the code that extracts the exponent casts it to 64-bits, so the number is rounded (truncated?) to the positive infinity.

[2020-06-13 20:36] ranma42 commented on #72327
In a way, this is what is happening behind the scenes:

[code]

Note that in this case the downcast `as f32` is explicit.

[2020-06-13 21:06] ecstatic-morse commented on #72327
Indeed. The underlying cause is clear. I wonder what we should do here, though? Does Rust currently guarantee that extended precision is not used for operations on `f64`? If so, this is technically a miscompilation. However, I don't know whether it's worth fixing. Maybe we should just document the status quo and move on?

[2020-06-13 21:18] zxxunkxzhx opened #73329 "rustc crashed"
rustc crashed on compiling following code:

[code]
[code]

[2020-06-13 21:19] ecstatic-morse commented on #73288
This is a duplicate of #46948.

[2020-06-13 21:47] jgarvin opened #73330 "Majority of rust stack trace entries are of no interest to users"
I made a program that just tries to access a value in a hash table that isn't there. This is using latest stable rust on Linux. Unless you're specifically debugging the backtrace mechanism itself, you don't need entries 0-12. and if you're not debugging the panic mechanism itself you don't need entries 17-26. Ironically a message is printed at the end saying that some entries have been omitted! Al

[2020-06-13 21:52] jonas-schievink commented on #73330
Duplicate of https://github.com/rust-lang/rust/issues/47429

[2020-06-13 21:52] #73330 closed

[2020-06-13 22:43] ecstatic-morse commented on #73328
This also affects the documentation for the methods in #72568.

[2020-06-13 23:03] SoniEx2 opened #73332 "Memory and disk usage"
Rust is light on neither memory nor disk usage. Binaries are statically linked, and the compiler generates over 1GB of build files. Rust is pretty bad for client applications.

[2020-06-13 23:08] oddg opened #73333 "Tracking issue for future-incompatibility lint `cenum_impl_drop_cast`"
This is the **summary issue** for the `CENUM_IMPL_DROP_CAST` future-incompatibility lint and other related errors. The goal of this page is describe why this change was made and how you can fix code that is affected by it. It also provides a place to ask questions or register a complaint if you feel the change should not be made. For more information on the policy around future-compatibility warni

[2020-06-13 23:17] Boscop commented on #48159
@retep998 Just because it's not possible in C doesn't mean it can't be possible in LLVM / Rust. Even if it's only possible on a struct, rustc could auto-generate a wrapper struct for the codegen.

[2020-06-14 00:35] omarabid commented on #25289
This is not an error with Rust or Cargo (at least in my particular case). For me, it was about installing PostGres dev tools to compile diesel_cli with Postgres features.

The problem is that the compiler (or cargo) is not giving an informative error message.

[2020-06-14 00:50] retep998 commented on #48159
@Boscop I'm not saying we shouldn't have that feature, I'm just explaining why we don't have that *yet*. Feel free to open an issue or PR about that extension of `#[repr(align)]`. This issue isn't really the place for it.

[2020-06-14 01:23] joshtriplett opened #73337 "Incremental compilation of rustc itself uses much more memory; OOM on rustc_middle with 8GB"
I'm trying to build rustc on a system with 8GB of memory. Following the rustc-dev-guide, I used `./x.py build -i --stage 1 src/libstd`, so that I would be able to quickly rebuild after making changes. This resulted in the OOM killer killing the compilation of `rustc_middle` for using too much memory.

At the time it was killed, the `rustc` process building `rustc_middle` had: `total-vm:5059108kB,

[2020-06-14 02:14] lzutao commented on #73329
cannot reproduce in playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e56fbb27b4aec7b1d1424710bf7d00cb

[2020-06-14 04:28] crlf0710 commented on #73307
This is expected. `value` variable is kept alive until `main()` returns. If you want to drop it early you can use `std::mem::drop` to do so.

[2020-06-14 05:49] steveklabnik commented on #49914
Triage: not aware of any specific fixes here

[2020-06-14 06:14] steveklabnik commented on #73332
This ticket is far too broad to be a useful bug; closing.

[2020-06-14 06:14] #73332 closed

[2020-06-14 06:30] yihuang commented on #33941
I wonder is there handy utils to convert `(&K, &V)` into `(K, V)` without writing a closure?

[2020-06-14 06:40] ehuss commented on #73286
OK, it wasn't as bad as I originally reported. This regressed via https://github.com/rust-lang/cargo/pull/8167 which is only in 1.45 (beta).  I have a fix started at https://github.com/rust-lang/cargo/pull/8358.   This will require various steps:

1. Fixing cargo.
2. Backport to beta.
3. Update cargo on beta.
4. Wait for new beta release.
5. Update bootstrap on nightly.

[2020-06-14 06:42] #65767 closed

[2020-06-14 07:16] XAMPPRocky opened #117242 "Add `core` and `alloc` columns to platform support"
It would be nice instead of asterisks and double asterisks, that `core` and `alloc` had their own column, I think this would make it much easier for people skim through the table for compatibility without having to look up what the asterisks' mean.

[2020-06-14 07:20] RalfJung commented on #73288
Don't our existing debug CI builders already do that?
Maybe not for i686 though.

[2020-06-14 07:25] RalfJung commented on #73328
@ecstatic-morse wrote elsewhere

I don't think we can easily just "move on" -- as [mentioned here](https://github.com/rust-lang/rust/issues/55131#issuecomment-619144202), what LLVM currently does seems incoherent and is likely just plain unsound (but miscompilations are hard to trigger). In that sense this is similar to https://github.com/rust-lang/rust/issues/28728: LLVM in its current state make

[2020-06-14 07:29] RalfJung commented on #73288
So which of these would you prefer to close?

[2020-06-14 07:32] RalfJung commented on #72327
Shouldn't we rather tag https://github.com/rust-lang/rust/issues/73328 instead of tagging the 4 issues that are all instances of the same problem?

[2020-06-14 07:45] RalfJung commented on #73286
Well, but it does mean that currently on CI we do not run doctests, right? `--stage 1` does not change this.

[2020-06-14 07:57] petrochenkov commented on #73319
Unfortunately, `cfg`s in `#[link]` attributes also need to be evaluated before linking during codegen to determine library kinds.

One query using them is `is_dllimport_foreign_item` used to set dllimport attributes.
Another one is `is_statically_included_foreign_item` used to determine reachable non-generic items for symbol exports (`reachable_non_generics_provider`).

[2020-06-14 07:57] petrochenkov commented on #72510
Unfortunately, `cfg`s in `#[link]` attributes also need to be evaluated before linking during codegen to determine library kinds.

One query using them is `is_dllimport_foreign_item` used to set dllimport attributes.
Another one is `is_statically_included_foreign_item` used to determine reachable non-generic items for symbol exports (`reachable_non_generics_provider`).

[2020-06-14 09:37] adhoore commented on #60814
Shouldn't the code actually fail to compile? Lifetimes like that in `const` are not allowed, correct?

For example, this code is very similar and fails to compile:

[code]

[code]

[2020-06-14 09:51] dylanmckay commented on #44052
The AVR rustc fork has been merged upstream.

The upstream fork is not usable in general yet. There are a few things that need to happen first.

## AVR LLVM upstream fixes that Rust doesn't have yet need to be cherry-picked

To answer @nikic's question, there are a maximum of 20 LLVM commits that need to be cherry-picked.

I have been using a script to automatically cherry-pick _all_ AVR commits f

[2020-06-14 10:24] wezm commented on #44052
everybody who is interested. Suggestions welcome.

My personal preference is strongly in favour of a blog (with an RSS feed). I think blogs typically show up better in search engine results and are nicer to link to than mailing list threads. The RSS feed solves the checking/notification aspect.

[2020-06-14 10:37] #73117 closed

[2020-06-14 10:39] pubfnbar opened #73338 "PartialOrd derived for C-like enum isn't properly optimized for the `<=` operator"
The manual version:
[code]

The manual version ASM:
[code]

The derived version:
[code]

The derived version ASM:
[code]

The diff is that while the manual version does:
[code]
...the derived version does:
[code]

All the other `PartialOrd` operators are optimized properly.

[2020-06-14 10:41] Thomasdezeeuw commented on #72685
@jonas-schievink Not sure if its the same problem but I got another impossible case:

[code]

Rust version: `rustc 1.46.0-nightly (feb3536eb 2020-06-09)`.

[2020-06-14 10:54] rubberduck203 commented on #44052
I’m not 100% sure it’s the best place for it, but there is the Embedded WG blog. Might be a low effort channel for communication.

https://rust-embedded.github.io/blog/

[2020-06-14 11:22] jonas-schievink commented on #72685
Thanks, opened https://github.com/rust-lang/rust/pull/73339 to try to fix this one too.

[2020-06-14 12:22] bugadani commented on #73329
can't reproduce using either `stable-i686-pc-windows-msvc unchanged - rustc 1.44.0 (49cae5576 2020-06-01)` or `nightly-i686-pc-windows-msvc unchanged - rustc 1.46.0-nightly (826cb062a 2020-06-05)`

[2020-06-14 12:42] dignifiedquire commented on #24159
@nikomatsakis any update on this? Is there anything I can do help with this? I'd be happy and try to help where I can, as this is blocking a lot of nice usages of `typenum` for me at the moment.

[2020-06-14 13:18] ecstatic-morse commented on #72327
This is wholly distinct from #73328. There's no NaN anywhere in this program.

[2020-06-14 13:21] ecstatic-morse commented on #73328
That issue does not involve NaN, and that comment is not applicable here.

[2020-06-14 13:32] RalfJung commented on #72327
Oh, good point. I had missed that.

So this is truly an i686-only artifact caused by using the x87 instructions, and has nothing to do with LLVM's sloppiness around NaNs?

[2020-06-14 13:34] RalfJung commented on #73328
Fair. But I feel it is related in the broader sense of "our FP semantics are a mess". Looks like we actually have two problems here:
* LLVM doesn't preserve NaN bits (which is likely incoherent).
* LLVM uses the x87 instructions on i686 which behave different from how IEEE floats should behave.

[2020-06-14 13:35] RalfJung commented on #72327
Could we argue that this is a bug in LLVM, or is there some statement in LLVM's LangRef that actually makes this a correct compilation of the LLVM IR rustc produces?

[2020-06-14 13:39] RalfJung commented on #73328
I created https://github.com/rust-lang/unsafe-code-guidelines/issues/237 to collect FP issues. That's indeed off-topic here, sorry for that.

[2020-06-14 14:04] ehuss commented on #73286
Right, I just mean it hasn't been that long (only about a week).

[2020-06-14 14:35] aykevl commented on #44052
Perhaps also a Twitter account? It can be used to share new blog posts (to stay up to date).

[2020-06-14 14:47] jonas-schievink commented on #44052
I think the embedded working group would be happy to help here. We have a Twitter account [@rustembedded](https://twitter.com/rustembedded) and can certainly include AVR-related news in the newsletter too.

I've also created the `O-AVR` label a while back, so feel free to use the Rust issue tracker for AVR-specific issues too (but be mindful that there are 1.5k people watching the repo). In additi

[2020-06-14 14:49] #71099 closed

[2020-06-14 15:10] hanna-kruppe commented on #73258
This matches my impression from skimming over `-print-after-all` output, though I'll add that the call to `ptr::read()` *does* have the range metadata, so if that metadata got propagated before or during inlining, we'd probably be in a better position. But a simpler solution in the short term might be to implement `ptr::read` with a compiler intrinsic instead of the current MaybeUninit+copy_nonove

[2020-06-14 15:18] Dylan-DPC commented on #72624
Marking this as p-medium based on our `[prioritization discussion](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2372624.20Missing.20wraparound.20checks.20in.20DroplessAre)`.

[2020-06-14 15:31] Dylan-DPC commented on #64609
Going with p-medium based on the [discussion](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2364609.20-C.20target-feature.2F-C.20target-cpu.20are.20unso)

[2020-06-14 15:46] kai-alpha commented on #68369
Hi @pietroalbini

[2020-06-14 15:46] #68369 closed

[2020-06-14 16:17] jdm opened #73344 "Valgrind error (jumping on unitialized value) with valid code"
[code]
When I run `rustc -O a.rs` followed by `valgrind ./a`, I get:
[code]
Many insignificant changes like printing b before matching on it will cause valgrind to stop reporting the error. The following change also makes it disappear:
[code]

[2020-06-14 16:21] davidtwco commented on #70877
I've looked into this a little bit - I don't know what the correct behavior is, but hopefully this saves someone some time when they go to fix this (or someone can tell me what the correct behavior is and I can fix it). The following assumes the test case from [my previous comment](https://github.com/rust-lang/rust/issues/70877#issuecomment-642974254).

This error is emitted during MIR type-check

[2020-06-14 16:22] aszenz commented on #71583
@petrochenkov
The target features for a particular architecture are taken from llvm in `llvm_util.rs` line 341.

The `crt-static` seems to be a rust-specific target feature that is not present in llvm feature table, I think its the only one right now. I have made a basic naive pr which just prints it out since I'm hoping to get feedback for improving it

[2020-06-14 16:26] tmiasko commented on #73344
Most likely a valgrind false positive introduced by a valid LLVM optimization.

* https://bugs.llvm.org/show_bug.cgi?id=12319.
* https://internals.rust-lang.org/t/valgrind-memcheck-false-positive-fixes-for-rust/11166

[2020-06-14 16:40] Teln0 opened #73348 "Code in doc that is supposed to give error runs fine ?"
On this page : https://doc.rust-lang.org/1.9.0/book/references-and-borrowing.html
This code :
[code]
is supposed to give this error :
[code]
But it runs fine in the code playground and on my computer. Is this doc outdated ?

[2020-06-14 16:43] jonas-schievink commented on #73348
You are reading the book for Rust 1.9.0, it is a few years out of date.

[2020-06-14 16:43] #73348 closed

[2020-06-14 16:50] Teln0 commented on #73348
Oh ok

[2020-06-14 17:20] Dylan-DPC commented on #55976
marking this as p-medium as per the [prioritization discussion](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2355976.20rustc.20seemingly.20generates.20invalid.20IR)

[2020-06-14 17:40] sk-dot-com opened #73349 "error: linking with `cc` failed: exit code: 1"
![s2](https://user-images.githubusercontent.com/57960528/84600066-2d7e5880-ae90-11ea-9547-3df4f673a9fe.png)
![c3](https://user-images.githubusercontent.com/57960528/84600069-32430c80-ae90-11ea-8797-556a7100d9ee.png)

`starizpk@starizpk-HP-EliteBook-Folio-9480m:~/projects/rust/api/diesel_demo$ cargo install diesel_cli --no-default-features --features postgres
    Updating crates.io index
  Installi

[2020-06-14 17:49] jonas-schievink commented on #73349
You need to install the PostgreSQL libraries. Please ask for help on https://users.rust-lang.org/, not on the issue tracker.

[2020-06-14 17:49] #73349 closed

[2020-06-14 18:02] ecstatic-morse commented on #46948
#73288 is an exact duplicate of this issue. I'm closing this one in favor of the newer one since it has a bit more discussion on it.

There's also #73328 to document what guarantees we make around NaN payloads/signedness.

[2020-06-14 18:02] #46948 closed

[2020-06-14 18:19] Dylan-DPC commented on #68536
Marking this as p-high as per the [prioritization discussion](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2368536.20.60nth_back().60.20for.20.60Zip.60.20returns.20wrong.20val)

[2020-06-14 18:24] ehuss commented on #58073
Closing in favor of the tracking issues #64245 and https://github.com/rust-lang/cargo/issues/7040.

[2020-06-14 18:24] #58073 closed

[2020-06-14 18:24] ehuss commented on #44404
Closing in favor of the tracking issues #64245 and https://github.com/rust-lang/cargo/issues/7040.

[2020-06-14 18:24] #44404 closed

[2020-06-14 18:25] daboross commented on #24159
It looks like this compiles under `-Z chalk`, so it might just be waiting on fully stable chalk integration.

If that's the case, then this falls into the same bucket as features like [implied bounds](https://github.com/rust-lang/rust/issues/44491), where there isn't a lot we can do outside of just pushing chalk integration all the way.

[2020-06-14 18:55] ecstatic-morse commented on #72327
Not sure. The LLVM reference says:

I don't have a copy of the IEEE spec, so I don't know if sharing a "binary format" implies that they must not use a higher precision for intermediate results. I think that the IEEE-754 may explicitly allow for this, however? In any case, it's unlikely that LLVM will guarantee the same precision everywhere as long as x87 instructions are supported. C has had the

[2020-06-14 19:07] RalfJung commented on #72327
We could require SSE. (No idea if that is even remotely realistic, but it felt worth mentioning.)

[2020-06-14 19:15] ecstatic-morse commented on #72327
The original SSE only supported single-precision floating point arithmetic. You need at least SSE2 for the semantics we want. I believe that all i686 processors have SSE but not all have SSE2. Not sure what we do by default here?

[2020-06-14 19:23] hanna-kruppe commented on #72327
FWIW, the target triples i686-* are a misnomer, they include SSE2 already.

[2020-06-14 19:52] GuillaumeGomez opened #73355 "Should we fill the "implementors" section in the sidebar?"
A good example from https://doc.rust-lang.org/nightly/std/any/trait.Any.html :

![Screenshot from 2020-06-14 21-51-05](https://user-images.githubusercontent.com/3050060/84602645-4a635d80-ae89-11ea-8b05-3f4562e2af6d.png)

cc @rust-lang/rustdoc

[2020-06-14 19:58] jonas-schievink opened #73356 "-Zvalidate-mir: check that all referenced locals exist"
When encountering a `Local`, there must be a corresponding `LocalDecl` in the MIR body. If there isn't, later passes can panic due to indexing out of bounds of the `LocalDecl` array. The validation pass could detect this problem earlier.

[2020-06-14 20:01] jonas-schievink commented on #73356
Instructions:

Extend the validation pass in `src/librustc_mir/transform/validate.rs` by implementing `visit_local` for the `TypeChecker` MIR visitor:

https://github.com/rust-lang/rust/blob/4fb54ed484e2239a3e9eff3be17df00d2a162be3/src/librustc_mir/transform/validate.rs#L88

The `Visitor` trait is documented [here](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/mir/visit/trait.Visito

[2020-06-14 20:18] est31 commented on #72599
There are multiple bit pattern definitions of "signaling NaN" and "quiet NaN":

* The "flipped" definition of older MIPS standards
* The definitions of IEEE 754-2008 and IEEE 754-2019

The two definitions disagree, and no implementation of `totalOrder` can be conformant with both. But the current implementation of `totalOrder` is conformant with the IEEE definition. Why should you use the MIPS sta

[2020-06-14 21:09] yerke commented on #73356
@rustbot claim

[2020-06-14 21:19] jonas-schievink commented on #73356
@yerke FYI, the validation pass currently fails on even libcore until https://github.com/rust-lang/rust/pull/73175 is merged, so you need to either wait for that, or cherry-pick some commits from there to get it to work.

You can test your changes by running `RUSTFLAGS_NOT_BOOTSTRAP="-Zvalidate-mir" ./x.py test --stage=1 src/test/ui` (the validator only runs on very little code by default, `-Zvali

[2020-06-14 21:39] poliorcetics commented on #73179
A new error type has been added. It is explained in the original post.

[2020-06-14 21:45] Boscop opened #73358 "`#[repr(align(N))]` should work on struct fields"
I have a situation where I need several struct fields to be 16-byte aligned.
But `#[repr(align(16))]` is not working for fields right now (`warning: unused attribute`), so I'm wrapping them in this wrapper type:
[code]
But it would be more convenient if the align attribute also worked on individual fields.

[2020-06-14 21:47] varkor commented on #60814
The nomenclature is a bit confusing, but `const` variables don't act the same way that `const` generic parameters do. It doesn't make sense to have a `const` variable with a non-static lifetime, because consts should really be thought of as global declarations. However, const parameters are local, and may well refer to non-static lifetimes.

[2020-06-14 21:53] jonas-schievink commented on #73109
I've managed to fix the shim creation to avoid `Self`: https://github.com/rust-lang/rust/pull/73359

Not sure that's the best approach, but it seems to work.

[2020-06-14 23:24] maspe36 commented on #73358
@rustbot claim

[2020-06-15 00:07] comex commented on #72327
See also: https://github.com/rust-lang/rfcs/pull/2686

[2020-06-15 01:17] Manishearth commented on #43466
@GuillaumeGomez I've already got some of the docs written.

It's not clear to me if the remaining issues should block stabilization, I think they can be treated as just another bug. We don't typically block stabilization on minor bugs whose fix will not impact the feature.

[2020-06-15 01:21] retep998 commented on #73295
If you want a shared library to be usable as a Rust crate it has to be built using the `dylib` crate type, because there is a lot of Rust specific metadata that gets bundled into the `dylib`. This is fundamentally at odds with compiling the Rust code into a `staticlib` and then linking that into a shared library. The `dylib` crate type is intended solely for Rust and its plugin model so it is unli

[2020-06-15 01:28] Manishearth commented on #43466
@Nemo157 as commented there, I believe that's a bug in how the feature is being used, not a cross crate thing.

[2020-06-15 02:08] Right2Left commented on #73307
I had try use:
map.clear();
map.shrink_to_fit();
drop(map);

but not effect.

[2020-06-15 02:42] lzutao commented on #73307
The allocator doesn't returns memory to the OS but reuse them for later allocations.

[2020-06-15 03:27] lzutao opened #73360 "rustdoc: Source code sidebar should pin to selected file"
For example this doc: https://doc.rust-lang.org/nightly/nightly-rustc/src/rustc_middle/macros.rs.html#2-7

When you click to the "<" button, it show the file structure and not scroll down to the current viewed file:
![image](https://user-images.githubusercontent.com/15225902/84615267-c47bfc80-aef2-11ea-8c61-80cb942a019f.png)
I expect to see rustdoc sidebar point to viewed file directly:
![image](h

[2020-06-15 03:33] clarfon commented on #43466
Do we have a general consensus on what kinds of changes are considered major or minor when it comes to doc syntax?

[2020-06-15 04:21] Manishearth commented on #43466
@clarfon I don't think there are or needs to be rigid rules around that. When a feature is considered for stabilization, the relevant team looks at the status of the feature, and decides if it's ready. Like I said, _typically_ bugs where the fix is not likely to severely change the feature are okay to have. In this case the major blocker, the cross-crate issue, was one where we weren't even sure i

[2020-06-15 04:38] clarfon commented on #43466
I don't think there need to be strict rules, but I was mostly asking because I figure that this might come up more as rustdoc becomes more robust and changes to its syntax can throw deny-by-default warnings. My general assumption is that regardless of whether something might "break" that docs are considered separate enough to ignore these issues in favour of pushing out changes sooner, but I figur

[2020-06-15 04:46] Manishearth commented on #43466
@clarfon oh that's fair.

When it comes to _lints_ the general Rust stabilty model is that new warn-by-default lints are always okay, deny-by-default lints should _usually_ go through some cycles of warn-by-default unless there are special circumstances.

[2020-06-15 05:34] Manishearth commented on #43466
Okay, so I've narrowed @Nemo157's bug down to the `is_public()` check in https://github.com/rust-lang/rust/blob/4fb54ed484e2239a3e9eff3be17df00d2a162be3/src/librustdoc/html/format.rs#L471 failing. Removing that line lets the link work just fine.

[2020-06-15 05:44] steffahn commented on #53475
This is not specific to `Any`. The following produces the same kind of error.

[code]

[2020-06-15 06:03] Manishearth commented on #43466
Annoyingly, any attempt to narrow down the testcase is failing for me.

What's happening though is that the def_id is absent from the access_levels map. I'm not sure why.

[2020-06-15 06:25] Manishearth commented on #43466
Aha, it's the `pub mod __reexport`. Moving that to the end of the file fixes the issue @Nemo157 . I'll try to file a bug about this.

[2020-06-15 06:27] adhoore commented on #60814
Ok, thanks for the answer! I will dig into this today. See what I find.

I'm curious however why there is this difference. Can I read up on that somewhere? What is a valid use case for non-static lifetimes in const generics?

[2020-06-15 06:27] Manishearth opened #73363 "Cross-crate intra-doc links broken for functions when there's a doc(hidden) full-crate reexport involved"
Discovered in https://github.com/rust-lang/futures-rs/pull/2177#discussion_r439041648

[code]

The link to `ready` does not work.

[2020-06-15 06:33] Manishearth commented on #73363
The reason is that [the access_levels check fails](https://github.com/rust-lang/rust/blob/4fb54ed484e2239a3e9eff3be17df00d2a162be3/src/librustdoc/html/format.rs#L471) because the item is not in the map at all.

I suspect [the checks for `hidden` are breaking things](https://github.com/rust-lang/rust/blob/4fb54ed484e2239a3e9eff3be17df00d2a162be3/src/librustdoc/visit_lib.rs#L42). If a mod is hidden

[2020-06-15 06:34] Manishearth commented on #73363
It's unclear to me why this only happens for functions, and not structs.

[2020-06-15 07:09] Manishearth commented on #73363
Ah, this is basically a variant of https://github.com/rust-lang/rust/issues/31948 , and the fix for that (https://github.com/rust-lang/rust/pull/33002) explicitly only handled types and mods.

[2020-06-15 07:14] Manishearth commented on #73363
Fix is in https://github.com/rust-lang/rust/pull/73365

@jyn514 would you be able to include that commit in your branch and a test based on the example above?

[2020-06-15 07:40] Right2Left commented on #73307
i think so, but I have no idea about how much will reuse? What is the relationship with code? Is there any option to returns memory directly?

[2020-06-15 07:42] RalfJung commented on #72327
@hanna-kruppe  Ah, that's why the OP had to do `RUSTFLAGS="-C target-cpu=pentium"`.
Can we declare non-SSE2-i686 "unsupported" to "fix" the problem here? I am not sure what that would actually mean in practice, maybe error or at least warn when SSE2 is disabled, or so. Without proper hardware support, it seems hard to do anything better, and if it's a warning people can still proceed with caution.

[2020-06-15 08:09] #57188 closed

[2020-06-15 08:09] #62988 closed

[2020-06-15 08:09] #69136 closed

[2020-06-15 08:09] #73061 closed

[2020-06-15 08:44] raw-bin commented on #68812
Thanks! :)

We'll have a look and respond.

Cheers

On Fri, Jun 12, 2020 at 7:31 PM rustbot <notifications@github.com> wrote:

[2020-06-15 08:44] RalfJung commented on #56604
@nikomatsakis I corrected and expanded the hackmd a bit. Note that right now, I think *both* proposals in there disallow [this code](https://github.com/rust-lang/rust/issues/56604#issuecomment-637656381). We should try to come up with an example that distinguishes the two proposals.

Also, note that `&raw mut *x` does *not* count as a "write access" in current Stacked Borrows. It creates a pointer

[2020-06-15 08:50] RalfJung commented on #56604
In terms of distinguishing example, this might be one:
[code]
"meaningful let" says this is UB, while "meaningful borrow mode" rejects this at compile-time. That seems like a win for "meaningful borrow mode" to me.

Another one:
[code]
Here, "meaningful let" is fine (I think) but "meaningful borrow mode" says this is UB. This is something that could be tweaked [as described here](https://hackmd.io

[2020-06-15 09:37] gilescope commented on #22750
I would have loved to get a "Perhaps two different versions of crate `crate_a2` are being used?" error message but didn't. In my case I had a derived impl for a different version of the trait. Took me a long while to figure out what was going on. A better error message would be most appreciated.

[2020-06-15 09:47] yerke commented on #73356
@jonas-schievink I wanted to double check, running `RUSTFLAGS_NOT_BOOTSTRAP="-Zvalidate-mir" ./x.py test --stage=1 src/test/ui` should fail when I run it, right? It actually passed for me after I merged in your branch from https://github.com/rust-lang/rust/pull/73359.
I wonder if I should try clean and build stage 1 again. :\

[2020-06-15 09:48] jonas-schievink commented on #73356
It should pass with #73359 applied, but fail on current master.

[2020-06-15 09:50] yerke commented on #73356
@jonas-schievink So you PR fixes this issue (https://github.com/rust-lang/rust/issues/73356) as well?

[2020-06-15 09:58] jonas-schievink commented on #73356
Ah, no, this issue is just about adding additional validation. It shouldn't actually detect any locals that don't exist. So the command should work both before and after implementing this. If it fails after implementing this, something else is going on that we should look into.

[2020-06-15 11:15] Dylan-DPC commented on #49206
Marked p-medium as per our [prioritisation discussion](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2349206.20Constants.20can.20contain.20references.20that.20ar)

[2020-06-15 11:39] #60021 closed

[2020-06-15 11:39] #66753 closed

[2020-06-15 11:39] #69446 closed

[2020-06-15 11:39] #72415 closed

[2020-06-15 11:39] #73003 closed

[2020-06-15 12:00] varkor commented on #60814
The difference is just due to the word "const" being reused for different things. [Const variables](https://doc.rust-lang.org/beta/std/keyword.const.html) are essentially just inlined, whereas const parameters are values that are are guaranteed to be constant, and known at compile time. In theory, I don't see why consts _couldn't_ have non-static lifetimes in general. I don't know of a realistic e

[2020-06-15 12:04] xMAC94x opened #73370 "linking error: unknown agrument `-no-pie`"
# SUMMARY:
 - between `ǹightly-2020-04-17` and `nightly-2020-06-10` linking behavior changes which broke my cross compilation from linux to macos. It now adds the `-no-pie` which is unknown by my compiler.
leaving it out would probably fix the error. Below are detailed informations about my project and the cross compilation setup in order to reproduce.

### Error message:
[code]

## I tried this c

[2020-06-15 12:09] petrochenkov commented on #73370
This is a regression from https://github.com/rust-lang/rust/pull/71769.

[2020-06-15 12:14] petrochenkov commented on #73370
Looks like the `sess.target.target.options.linker_is_gnu` condition was lost, and clang for macos is apparently not "linker_is_gnu".

[2020-06-15 12:15] petrochenkov commented on #73370
I'll fix this today.

[2020-06-15 12:30] myfreeweb opened #73371 "feature(c_variadic): `...` does not seem to care about whether platforms pass va_list by pointer"
At least on FreeBSD/amd64 (13-CURRENT; rust nightly feb3536eb 2020-06-09), I have to write e.g.

[code]

instead of

[code]

to implement the equivalent of the following C++:

[code]

Is this expected behavior or is `arg: ...` supposed to work exactly like `va_list arg` in C/C++?

[2020-06-15 13:49] LiamTheProgrammer commented on #48055
I have some thoughts on some of the questions:

There should be an error for that if a stack overflow is inferred to be guaranteed. For testing stack overflow handlers on near-hardware-level programs, a stack overflow could be induced in other ways. For example, on x86, llvm_asm could be used to do recursive pushes onto the stack.

I think using return continuations as specified before to store th

[2020-06-15 14:22] wwylele commented on #73371
In my understanding the corresponding function signature of `...` is `...`, meaning
[code]
and
[code]

`...` and `va_list` are not exchange able in the function signature, either in C/C++ or Rust.

[2020-06-15 14:30] alexcrichton commented on #73295
Controlling the visibility of a symbol is defintely something that's desired in Rust, but AFAIK it's just something no one's had enough time to sit down and design/RFC/etc. You might be able to play around on nightly with the `#[linkage]` attribute in one way or another.

The real problem here is that third bullet point, which is pretty nontrivial. The only thing I'd add is that in general it woul

[2020-06-15 15:21] #67457 closed

[2020-06-15 15:21] #73100 closed

[2020-06-15 15:21] #73242 closed

[2020-06-15 15:25] DutchGhost opened #73375 "ICE: cannot convert to a region vid"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-06-15 16:27] lovasoa opened #73377 "thread 'rustc' panicked at 'Box<Any>', src/librustc_errors/lib.rs:912:9 when compiling packed_simd"
Hello,
  I found an internal compiler error when compiling [this pull request](https://github.com/image-rs/jpeg-decoder/pull/146) with rust nightly on github CI. See the CI output at https://github.com/image-rs/jpeg-decoder/pull/146/checks?check_run_id=773387154

### Meta
rustc version:   nightly-x86_64-unknown-linux-gnu installed - rustc 1.46.0-nightly (4fb54ed48 2020-06-14)

### Error output

[c

[2020-06-15 16:37] matthiaskrgr commented on #73377
Duplicate of https://github.com/rust-lang/rust/issues/73249

[2020-06-15 16:38] #73377 closed

[2020-06-15 16:45] LeSeulArtichaut commented on #73370
Assigning `P-high` [as discussed as part of the Prioritization WG procedure](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2373370.20linking.20error.3A.20unknown.20agrument.20.60-no-pie).

[2020-06-15 16:52] LeSeulArtichaut commented on #73256
This has been beta-accepted, should this issue be closed?

[2020-06-15 17:20] nikomatsakis commented on #56604
@RalfJung distinguishing examples are good, yes.

Agreed, though of course we could also reject that statically in either proposal if we wished.

This example is an interesting one:

[code]

I think I would indeed expect it to compile, or at least it seems like a footgun (and sort of "busy work") to require the programmer to write `let p: *const i32 = &raw mut *x;`.

It seems like we're accumulati

[2020-06-15 17:43] nikomatsakis commented on #24159
I think my [original analysis](https://github.com/rust-lang/rust/issues/24159#issuecomment-372731855 is still correct. I think the normalizing is missing here:

https://github.com/rust-lang/rust/blob/ff4a2533a0720f9cdd86e02eafa3725f07aa7752/src/librustc_trait_selection/traits/select/mod.rs#L1295

After we invoke `instantiate`, we should also be normalizing, probably kind of like this

https://gith

[2020-06-15 17:47] nikomatsakis commented on #73288
From reading the thread, it sounds like the bits of a NaN can basically change arbitrarily, as a result of LLVM optimizations that are not guaranteed to preserve them? (And other things, I suppose)

[2020-06-15 17:51] nikomatsakis commented on #40744
Agreed, we're not changing anything here.

[2020-06-15 17:51] #40744 closed

[2020-06-15 17:51] cuviper commented on #73324
I think this is the same issue I found in [rhbz1837660](https://bugzilla.redhat.com/show_bug.cgi?id=1837660), because the LLVM fix that I identified would apply to any big-endian target. It's possible that your issue may manifest in a different place -- I saw it in the code that processes full LTO, but the problem is not really LTO related at all.

It should be fixed by LLVM 10, which will hit Rus

[2020-06-15 18:03] ecstatic-morse commented on #66753
More precise drop elaboration is now behind `#![feature(const_precise_live_drops)]`, so `Option::unwrap` can be made unstably `const fn` with some `#[cfg(bootstrap)]` magic.

[2020-06-15 19:12] #56252 closed

[2020-06-15 19:20] estebank commented on #40375
Current output, very little change:
[code]

[2020-06-15 19:21] fanninpm commented on #73112
[I can't reproduce this in the Playground.](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c8d6ea5c7ae2e8119f9d548834d9764b) Would you please try this again for us?

[2020-06-15 19:29] nikomatsakis commented on #66740
Removing from nomination since there isn't more to discuss in lang team meeting (yet).

[2020-06-15 19:32] estebank commented on #54149
Current output:

[code]

[A possible solution](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=139208224f7df7fbbf687fc3cb232720) is to incorporate a new type param to restrict `MyTrait2::X` with:

[code]

[2020-06-15 19:33] joshtriplett commented on #73191
Based on discussion in the lang team meeting today:

We'd like to take this through the new lang team process. (That should just involve moving this issue to the rust-lang/lang-team repository using the major change process template.)

This may potentially interact with name resolution. One challenge is that the name resolution code doesn’t (today) have to look at the RHS of a type alias. cc @petr

[2020-06-15 19:47] estebank commented on #67680
[Current full output](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c720b6258e8b6d27225af9efc823b05a):

[code]

[2020-06-15 19:57] petrochenkov commented on #73191
This won't just interact with name resolution, this is almost entirely a name resolution feature.
It is possible to do this without heroic efforts, but with significant limitations (same limitations as [imports of type-relative associated items](https://internals.rust-lang.org/t/importing-associated-constants/6610/5?u=petrochenkov)).

`type Alias = Something;` will have to always reserve (possibly

[2020-06-15 20:20] petrochenkov commented on #73370
Fixed in https://github.com/rust-lang/rust/pull/73384.

[2020-06-15 20:34] ghost opened #73385 "Rename master branch to less discriminating name"
There is currently a strong debate about whether the standard branch should be given a name that has less negative implications than "master". The starting point was apparently this [thread on the Git Mailing List](https://lore.kernel.org/git/CAOAHyQwyXC1Z3v7BZAC+Bq6JBaM7FvBenA-1fcqeDV==apdWDg@mail.gmail.com/), which, as far as I know, brought the topic up for the first time. It is criticized that

[2020-06-15 20:42] trunkensailor commented on #73385
I vote for `trunk`, `main` is very confusing as a german speaking hu**man**.

[2020-06-15 20:49] xXBuilderBXx commented on #73385
Or just don't change anything because this is a dumb idea and noone has complained before because it's not related to racism in any way and the 2 accounts above are just alts.

[2020-06-15 20:50] trunkensailor commented on #73385
What is an alt? Do you mean the german word for `old`? You're name doesn't seem very old, it seems like a minecraft name.

[2020-06-15 20:57] xXBuilderBXx commented on #73385
Alt is alternate account or new account and yes i do play minecraft

[2020-06-15 20:57] trunkensailor commented on #73385
oh good to hear, great game

[2020-06-15 21:15] nikomatsakis commented on #66731
So @nellshamrell and I did a bit of a deep-dive. We added the "on unimplemented" annotation to at least give an error message like "`()` is not a future", but I was thinking about how we could do better. In particular, I'd like to detect a case where the source of the type is `bar().await` and report something like:

[code]

I was looking into how we can do this but it's tricky. Currently, the mes

[2020-06-15 21:21] steveklabnik commented on #73385
Hi, This user has been deleted. Beyond that, major changes need to go through the RFC process or the compiler team's major change process. As such, I'm going to give this issue a close, as this isn't the right way to pursue this change. Thanks.

[2020-06-15 21:21] #73385 closed

[2020-06-15 21:26] ecstatic-morse commented on #72599
At present, the behavior of this comparator is unspecified, since the bits inside of `NaN` are not guaranteed to be preserved by LLVM (#73328). This includes the sign bit of a `NaN` (#55131). We will need to fix both of these issues this before stabilizing `total_cmp`, and we should call this out explicitly in the documentation.

[2020-06-15 21:27] CohenArthur commented on #73307
Constantly allocating and deallocating memory is a costly operation. In order to save on performance I'm guessing Rust chooses to reuse some of it. I don't really see an issue here, this behavior seems completely normal. What are you really trying to do ?

[2020-06-15 21:30] xMAC94x commented on #57958
Hi, indeed that is helpful.
We are running Gitlab+Gitlab Runners with a custom docker image. The docker image is the same on every runner, still only 2 runners from me, using Proxmox + ZFS + Docker in VM having this error sporadically:
Example: https://gitlab.com/veloren/veloren/-/jobs/594860738

[code]

Interestingly you can get our docker image and see that the file does not exist!
It's not ther

[2020-06-15 21:31] xMAC94x commented on #73370
awesome, i will confirm it, once it's in a good nightly build :)

[2020-06-15 21:51] nikomatsakis commented on #55005
So it seems like the most actionable thing we can do at this juncture is to create functions on the `Atomic` operations that take raw pointers, and to encourage folks to use this if performing the atomic operation may have the side-effect of freeing the memory in which the atomic itself resides.

This implies, in turn, that the methods on the `Arc` or whatever ought to be using raw pointers as wel

[2020-06-15 21:51] nikomatsakis commented on #55005
(I guess all of this interacts with the question of whether we try to create a new type, like `&unsafe`, that is the "blessed raw pointer" type.)

[2020-06-15 21:52] nikomatsakis commented on #55005
I'm curious what folks think of the *immediately actionable* step of creating raw pointer-based methods for atomics -- should we at least take this step and then use them to fix this particular instance of this more general issue?

[2020-06-15 22:00] nikomatsakis commented on #48594
@rfcbot fcp cancel

I'm going to cancel the FCP here as it's been blocked forever. We should probably discuss whether we want to push this future through. If nothing else, it seems like it should be updated to take async blocks into account, and it sounds like that adds a new use case for the feature.

[2020-06-15 23:11] YeonJi2 commented on #73112
The second one is one that does not panic rustc(The code that panics rustc is the first one). It is very similar to the first one except that it does not use external crate, and compiling it shows the error I was expecting.

Also, the second code was one of my attempts to reproduce the same panic without external crate, but for some reason, it didn't panic the compiler. Only the first code does.

[2020-06-16 00:09] sfackler commented on #73307
Rust is not choosing to do anything here - the system allocator is.

[2020-06-16 01:08] steveklabnik commented on #60575
Triage: not aware of any changes here.

[2020-06-16 02:45] estebank commented on #66731
That seems like a potentially quite useful pattern for `DesugaringKind` that could be leveraged in multiple places. I never thought about doing that because of size concerns, but a single `HirId` shouldn't have any big adverse effects.

[2020-06-16 06:44] RalfJung commented on #73328
Related LLVM bug: https://bugs.llvm.org/show_bug.cgi?id=45152

[2020-06-16 07:24] RalfJung opened #73394 "Tracking Issue for raw_ref_macros"
This is a tracking issue for the macro version of `raw_ref_op` (https://github.com/rust-lang/rust/issues/64490).
The feature gate for the issue is `#![feature(raw_ref_macros)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue i

[2020-06-16 07:38] RalfJung commented on #56604
Incidentally, it is exactly this case which triggered the original creation of this issue. ;)

Here's another distinguishing example, where "meaningful borrow" firmly says "this is UB" and I wonder what your thoughts on that are:
[code]
We could lint against a const raw borrow of a mutable path. Not sure if we should.

[2020-06-16 07:43] RalfJung commented on #55005
That step is irreversible though, at least once we stabilize those methods.

An alternative that also fixes the UB here would be to stop adding "dereferencable" when `UnsafeCell` is present. Of course that risks people relying on this so it might be hard to take back even if we say it's not part of the lang spec (and `Arc` gets to rely on it solely because it is in libstd and we can adjust it with

[2020-06-16 07:57] mati865 commented on #73294
Cc @tmiasko

[2020-06-16 08:06] lzutao opened #73396 "Bound checking elided for `[index]` but not for `[..index]`"
I tried this code: https://rust.godbolt.org/z/ihbmwB

[code]

I expected to see this happen: There is no bound check for `s[..idx]` in line 3.

Instead, this happened: There is bound check.

Note using `s[idx]` [bound check is elided](https://github.com/rust-lang/rust/issues/30112#issuecomment-160638389):

[code]

cc #30112

### Meta

`rustc --version --verbose`: rustc 1.46.0-nightly (4fb54ed48 20

[2020-06-16 08:30] kematy opened #73397 "thread '<unnamed>' panicked at 'index out of bounds: the len is 3 but the index is 3'"
thread '<unnamed>' panicked at 'index out of bounds: the len is 3 but the index is 3', dll_qin.rs:14:18
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace
fatal runtime error: failed to initiate panic, error 5

when I call r_span function with FFI in ruby,it shows up these messages.

here is the code:
#![crate_type="cdylib"]
//use std::any::Any;

#[no_mangle]
extern "C"

[2020-06-16 10:04] ratijas commented on #73397
Please, fix your code formatting, it is hard to read as it is. Also, `root_cubic_simple` has nothing to do with it, it seems.

That is pretty much expected, since array indices are zero-based. Double-check how do you pass `n:usize` parameter in you call.

Also it is suspicious that you receive _slice_ in FFI. slices are fat pointers of (pointer to a data, length). What you probably means to write

[2020-06-16 10:18] jonas-schievink commented on #73397
This is not a bug in Rust. Please ask troubleshooting questions about your own code on https://users.rust-lang.org/, not in this issue tracker.

[2020-06-16 10:18] #73397 closed

[2020-06-16 10:22] leonardo-m commented on #73396
Apparently here LLVM removes the bound tests:

[code]

[2020-06-16 10:25] nikomatsakis commented on #55005
@RalfJung the methods will exist, yes, but of course nobody is forced to use them (they could be deprecated).

I agree that not adding dereferenceable is also a reasonable and theoretically "withdraw-able" step, although I guess that in practice that reliance already exists anyhow (e.g., as I mentioned, I'm sure Rayon contains this same bug).

[2020-06-16 10:26] nikic commented on #73396
[code]

This is https://bugs.llvm.org/show_bug.cgi?id=40149.

[2020-06-16 10:31] nikomatsakis commented on #56604
Yeah, that's a good example too, it's not very clear to me just how much difference the explicit operation makes. But at minimum I think it's pretty 'teachable' to say that "the form of the initial borrow determines what you can do with the resulting point later, no matter what type it winds up with" (and the compiler tries to insert the most permissive borrows it can, when the borrow is inserted

[2020-06-16 10:32] nikomatsakis commented on #66731
OK, do you think it merits an MCP? I was debating about it. =)

[2020-06-16 10:54] Mark-Simulacrum commented on #55005
I think if we had to add new methods and can't somehow alter the existing ones, either through UnsafeCell detection or an attribute, then we should hold off until we have a final design - there's a lot of methods on Atomics and duplicating them forever seems like a big deal, especially because it's plausible we'll end up with 3 versions in the long run.

[2020-06-16 11:13] jonas-schievink commented on #73344
Closing as not a bug

[2020-06-16 11:13] #73344 closed

[2020-06-16 11:26] RalfJung commented on #56604
One surprising consequence of this is that `x as *const _` and `&raw const *x` are not the same. Or maybe that's just surprising to me?

[2020-06-16 11:27] myfreeweb commented on #73371
Right, makes sense I guess.

[2020-06-16 11:27] #73371 closed

[2020-06-16 11:47] shepmaster commented on #65225
@lamafab I think you want a function like

[code]

[2020-06-16 11:48] Timwi commented on #57402
The link is once again broken, and ironically while googling for just the domain name, my first search result was this issue ticket. Go figure

[2020-06-16 11:56] frewsxcv commented on #57402
Maybe we should link to the Internet Archive is this is going to be a recurring issue? https://web.archive.org/web/20200330154000/http://citizencodeofconduct.org/

[2020-06-16 12:32] kinnison commented on #73355
If we did, would it risk pushing the methods section way down, or would we reorder the sections too?

[2020-06-16 12:49] ciphergoth commented on #48594
Note that there is no ambiguity about the semantics of this proposal in the presence of async blocks: the definition in the RFC still applies ie

    'BLOCK_LABEL: { EXPR }

is simply be syntactic sugar for

    'BLOCK_LABEL: loop { break { EXPR } }

except that unlabelled breaks or continues which would bind to the implicit loop are forbidden inside the EXPR.

[2020-06-16 13:04] nikomatsakis commented on #56604
I agree that is somewhat surprising.

[2020-06-16 14:07] lzutao opened #73403 "rustdoc: Add "Auto-hide trait implementors" to settings"
For example [this page](https://doc.rust-lang.org/nightly/std/slice/trait.SliceIndex.html#implementors)  doesn't fold trait implementors by default.

It would be nice to fold all trait implementors by default for fast skimming all implementors.
![image](https://user-images.githubusercontent.com/15225902/84785399-a6f38380-b015-11ea-9c7d-42321e6357d7.png)
![image](https://user-images.githubuserconte

[2020-06-16 14:26] pkubaj commented on #73324
Thanks, this indeed fixes build on both ELFv1 and ELFv2.

[2020-06-16 14:58] #73274 closed

[2020-06-16 14:59] rust-highfive opened #73405 "`miri` no longer builds after rust-lang/rust#73285"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#73285, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Mark-Simulacrum, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-06-16 14:59] rust-highfive opened #73406 "`rls` no longer builds after rust-lang/rust#73285"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#73285, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @Mark-Simulacrum, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-06-16 14:59] rust-highfive opened #73407 "`rustfmt` no longer builds after rust-lang/rust#73285"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#73285, I observed that the tool rustfmt no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rustfmt is needed to fix the fallout.

cc @Mark-Simulacrum, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-06-16 15:50] bjorn3 opened #73409 "proc_macro Buffer::extend_from_slice creates reference to undefined memory"
https://github.com/rust-lang/rust/blob/435f97cec1f0d7de95a0b80e95f295ab444b2fce/src/libproc_macro/bridge/buffer.rs#L85-L86

@rustbot modify labels: +A-macros +A-proc-macros +T-compiler

cc @eddyb

[2020-06-16 15:51] kvark opened #73410 "Private type exposed in public without a warning"
Here is the code:

[code]

I expected to see this happen (compile error):

Instead, this happened: compiles just fine.
Trying to use the type fails, since it's private

### Meta
Tested on stable 1.44.0 and nightly of 1.46.0

[playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2c156df298f8ea8b992ee4a96220d7d5)

[2020-06-16 15:51] bjorn3 commented on #73409
@rustbot modify labels: +I-unsound

[2020-06-16 16:00] lzutao opened #73413 "Tracking Issue for `slice_strip` feature"
The feature gate for the issue is `#![feature(slice_strip)]`.

This feature adds two new methods to `[T]`:

[code]

This is an analogy feature like [`str::strip_{prefix,suffix}`](https://doc.rust-lang.org/nightly/std/primitive.str.html#method.strip_prefix) but has the same signature of slice's `{starts,ends}_with`.

### About tracking issues

Tracking issues are used to record the overall progress

[2020-06-16 16:06] cuviper commented on #73410
Sometimes this is done intentionally, like the `Sealed` trait here:
https://rust-lang.github.io/api-guidelines/future-proofing.html

[2020-06-16 16:33] #73324 closed

[2020-06-16 16:38] lzutao opened #73416 "Suggest `PartialEq` bound for binary operation `==` error"
Try this snippet: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=eeebdc19b025fc4b2af03c39fc8cdc76)
[code]

The compiler errors out:
[code]

It would be nice if the compiler could suggest adding `PartialEq` bound for `T`.

[2020-06-16 17:16] tmandry opened #73417 "Extend `#[must_use]` to more types"
In particular, we should add `#[must_use]` to these "wrapper" types in the standard library:

- #67387 `Pin`
- #71368 `Option`

Both would be conditioned on whether `T` was `#[must_use]`.

[2020-06-16 17:19] nikomatsakis commented on #71723
Did  a bit of digging around. I didn't quite figure out what's going on yet, but a few notes:

First, removing either of these calls makes the error go away

[code]

I'm feeling a bit confused about the types that I'm getting out right now. It looks like the error is somehow coming up around the "lifetime bound" that we get on the `dyn Stream` type.

[2020-06-16 17:42] tmandry commented on #72956
Self-assigning for mentoring (if someone is interested in working on this, please feel free to claim).

[2020-06-16 17:42] tmandry commented on #72956
May be related to #30127

[2020-06-16 17:45] tmandry commented on #69367
Confirmed that this is not specific to async-await: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=01c915be7cf0087c8cbd3d4badc1ee5f)

@nikomatsakis said that this is a consequence of the scoping rules for tail expressions in the language, not something that can be fixed in the compiler. They also said it's possible we'd want to change this in an edition, but i

[2020-06-16 18:00] LunarLambda opened #73419 "Using include! with filename ending in '>' causes failed assertion in libspan"
### Code

Requirement:
Create an empty file called '>', i.e. using `touch '>'`

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-06-16 18:08] eddyb commented on #73419
Hmm, we should only disallow `<...>` (since that's what we use for non-real "files") although I guess `</>` or even just `<foo>` might be a valid path itself?

Internally we can tell apart between the two, I'm guessing this is to avoid tools seeing something with `<` or `>` in it and misinterpreting it as not a real file? But in that case we'd want a real error not an assert.

cc @ehuss

[2020-06-16 18:57] nikomatsakis commented on #66731
@petrochenkov I'm curious to get your reaction to [this idea](https://github.com/rust-lang/rust/issues/66731#issuecomment-644394287)

[2020-06-16 19:28] iliekturtles opened #73420 "f32::powi on Windows returns different results between 1.44 and 1.45 beta"
The issue was noticed because `typenum::Pow::powi` returns consistent results between rustc versions while `f32::powi` changes.

Given the following code the "std powi" results differ between stable and beta/nightly. Note that code below will run on https://play.rust-lang.org/ but the issue will not reproduce because the host is not Windows. The playground's output for stable/beta/nightly matches

[2020-06-16 19:48] iliekturtles commented on #73420
Issue first appears in nightly-2020-05-22-x86_64-pc-windows-msvc - rustc 1.45.0-nightly (9310e3bd4 2020-05-21)

Commit comparison: https://github.com/rust-lang/rust/compare/0aa6751c19d3ba80df5b0b02c00bf44e13c97e80...9310e3bd4f425f84fc27878ebf2bda1f30935a63

I'm guessing https://github.com/rust-lang/rust/commit/9f128235b49199f766f40df08c8a7eb25e143ae9 (Update LLVM submodule) is the culprit since th

[2020-06-16 20:02] Jasperav commented on #73417
I support this! Furthermore, I like having must_have being the default. Explicitly opting out using the return value would IMO better, just like the way Swift is handling return values.

[2020-06-16 20:13] ecstatic-morse commented on #73420
I'm guessing that LLVM 10 started using the MSVC implementation of the `powi` intrinsic, which uses a higher precision for intermediate results. The result you see is equivalent to the [one you would get](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018) from casting to and `f64`, multiplying and then casting back to and `f32`.

[2020-06-16 20:21] Manishearth commented on #43466
FWIW the following part

doesn't seem to occur anymore. This might have been an issue during the edition changes to resolution

[2020-06-16 20:39] estebank commented on #73416
related: #73261

[2020-06-16 21:04] ollie27 commented on #73420
Looking at the changes in assembly for `powi` on 1.44.0 we have:

[code]

but on beta that's replaced with:

[code]

So LLVM has switched from calling the `__powisf2` intrinsic from compiler-rt/compiler-builtins to calling `powf`. This looks like an intentional change from https://reviews.llvm.org/D69013 but it's not clear to me why that change was made.

[2020-06-16 21:26] Manishearth opened #73423 "no_std crates do not link to primitives"
[code]

The link in `x()`'s return type does not work. The intra-doc link on `Foo` _does_ work, but that's because we hardcode the `std` in it, which should be fixed once this is.

Turns out that the "primitive type u8" only lives in std, see https://doc.rust-lang.org/nightly/std/index.html?search=u8

[2020-06-16 21:28] Manishearth commented on #73423
We should first get these things to link to `std` at least. If we decide to add a separate primitive page for libcore as well (I'm not sure if we should), then the following patch makes it work for intra doc links:

<details>

[code]

</details>

[2020-06-16 21:28] GuillaumeGomez commented on #73423
Linked to https://github.com/rust-lang/rust/issues/43466

[2020-06-16 21:29] Manishearth commented on #73423
It's not linked to that issue, it's an independent bug

[2020-06-16 21:29] Manishearth commented on #43466
Removing the no_std issue in the list because https://github.com/rust-lang/rust/issues/73423 is actually a broader rustdoc bug

[2020-06-16 22:02] steveklabnik commented on #45861
Triage: only one or two boxes unchecked, but I'm not 100% sure what the current status is.

[2020-06-16 22:02] steveklabnik commented on #52246
Triage: not aware of any changes

[2020-06-16 22:54] mati865 commented on #73420
@rustbot modify labels: -O-windows-msvc +O-windows

[2020-06-16 23:15] Dylan-DPC commented on #73419
Marked as p-medium based on the discussion on the [prioritization thread](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2373419.20Using.20include!.20with.20filename.20ending.20in.20')

[2020-06-16 23:30] tmandry commented on #73417
This issue is _only_ about adding `#[must_use]` to more types in the standard library and conditioning it on whether their type parameter is `must_use`. I'll update the description to make it more clear.

[2020-06-16 23:55] calebcartwright commented on #73407
Hmm :thinking: rustfmt was already broken #73200, so guessing this was just due to the nature of #73285 and that there aren't any additional changes we need to incorporate on the rustfmt side

[2020-06-17 00:00] #40555 closed

[2020-06-17 00:00] coolreader18 opened #73426 "Error while compiling rustc for android"
In ~~termux/termux-packages#5387~~ termux/termux-packages#5420, I tried to update termux's (a sort of mini linux distro as an android app) Rust version to 1.44 from ~~1.42~~ 1.43.1, but I was getting a strange error while compiling stage2:
[code]
[Full log here under "Build"](https://github.com/termux/termux-packages/runs/763915529)

As far as I can tell, this is happening while compiling a proc m

[2020-06-17 00:27] estebank commented on #27964
Output with #73261:

<img width="961" alt="Screen Shot 2020-06-16 at 5 27 01 PM" src="https://user-images.githubusercontent.com/1606434/84841246-a13a7580-aff6-11ea-9eed-cad2236588b3.png">

[code]

[2020-06-17 00:35] Aaron1011 opened #73427 "Name of enum variant with fields is suggested in error messages"
The following code:

[code]

gives the following error message

[code]

`MyEnum::First.foo()` calls `foo` on a *function pointer* (the constuctor function for `MyEnum::First`, which is almost never what you want.

At the very least, we should not be suggesting using enum variants that have associated data. When attempting to call a method on the base enum type, we might want to suggest using `::`

[2020-06-17 00:39] estebank commented on #71790
#73261 addresses the diagnostics part of this ticket, but won't close it so that we can [track the following](https://github.com/rust-lang/rust/issues/71790#issuecomment-622921581)

[2020-06-17 01:50] dtolnay commented on #55214
I would accept a PR to introduce unstable into_keys() and into_values().

[2020-06-17 02:51] sjMalik opened #73429 "linking with `cc` failed: exit code: 1"
I am trying to run a stable cargo project in my new machine where I freshly installed ubuntu18.04, I think have download al dependencies but getting this error `linking with `cc` failed: exit code: 1`. Have tried all solution posted in Github related to issue and tried with rust v1.44 as well as v1.42.

[2020-06-17 03:14] rtfeldman opened #73430 "rustc panicked when link.exe ran out of memory"
I saw "we would appreciate a bug report" in the trace, so here it is! The full terminal output after I ran `cargo test`: https://gist.github.com/rtfeldman/027a3550c21381bb7d36daa0613a453a

I don't have a small project that reproduces this, and the project where I encountered it is not public, so I can't link to it directly from here. (That said, I can absolutely invite anyone to the project who is

[2020-06-17 04:05] retep998 commented on #73430
I don't think this is related to your project. Just your system genuinely running out of memory and everything crashing and burning because it can't allocate any memory.

[2020-06-17 04:58] jamesbornholt opened #73431 "ICE: MIR const-checker found novel structural match violation"
This code causes an ICE on both beta and nightly, but not stable. bisect-rustc pointed me to #67343.

It seems to be an issue with the generic `Wrapper<T>` -- manually implementing `Zero` for `Wrapper<usize>` doesn't trigger the issue.

### Code

[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>

[2020-06-17 05:32] newpavlov opened #73432 "Add a pure Rust WASI target?"
Currently `wasm32-wasi` target is tied to the [`libc`](https://github.com/WebAssembly/wasi-libc) implementation for compatibility with C/C++ code. But for pure-Rust applications C environment is unnecessary and causes a certain bloat of resulting binaries.

For example a very simple code like this:
[code]
Gets compiled into a 64 KB binary (after strip), I guess a significant amount of which has to

[2020-06-17 06:43] ratijas commented on #73430
Could've been a nice error instead of a panic, though. Usually runtimes and allocators reserve some memory for recovery purposes, or just hope that leftovers from the latest alloc system call are enough.

However, I'd say, this is low priority.

[2020-06-17 06:47] ratijas commented on #73430
Update.

This one contradicts to what I've said earlier. Seems like this exception handler only allocated when it needs to, i.e. not in advance, thus it can't handle OOM.

[2020-06-17 07:55] bestouff commented on #73014
A bit late to the party, but why not just a `use Default::default()` in the prelude instead ?

[2020-06-17 08:09] retep998 commented on #73430
That actually happens during thread startup. Whenever Rust spawns a thread it calls `SetThreadStackGuarantee` to ensure there is enough space to handle stack overflow errors. That said, it would be nice to *print* the actual error that occurs when `SetThreadStackGuarantee` fails instead of just having that fixed message.

[2020-06-17 08:59] lzutao commented on #73416
Note: The stderr for [Rust 1.42 and below](https://rust.godbolt.org/z/cT_mnK):
[code]

[2020-06-17 09:38] jonas-schievink commented on #73429
@sjMalik Please post the full error message and the code you're trying to build.

[2020-06-17 09:49] lcnr commented on #73431
cc @ecstatic-morse

[2020-06-17 09:56] lcnr commented on #73431
so afaict, the `mir_const_qualif` checks the polymorphic anonymous const `for<T: Zero>: Wrapper(T::ZERO)`, which is correctly identified as not being structurally match while `search_for_structural_match_violation` is run on the fully monomorphized `Wrapper<usize>`, which is correctly identified as structural match.

So in a sense `custum_eq` is too conservative here, don't really know how to fix

[2020-06-17 10:15] alecmocatta opened #73433 "Not desugaring to HRTB for closure argument"
My understanding was that `FnMut(&T)` desugars to `for<'a> FnMut(&'a T)`. In this instance, it is seemingly not doing so. If you comment out line 44 then this compiles. Why is the `map` function triggering the incorrect (?) desugaring, and how can I fix it?

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0fbccbeb170da779937bd66c5309fc72))

Errors:

[

[2020-06-17 10:22] bjorn3 opened #73434 "thread 'rustc' panicked at 'failed to lookup `SourceFile` in new context', src/librustc_middle/ty/query/on_disk_cache.rs:456:17"
### Code

<details>

[code]

</details>

`./drm-rs` is a checkout of https://github.com/Smithay/drm-rs/pull/67/commits/8a3c6cfcf629c4351987cc72b5658ef8880c5ddf.

### Meta

`cargo clean` fixed the issue.

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-06-17 10:35] bugaevc opened #73435 "Warn on assert!(always_false)"
It would be useful if rustc emitted a warning on assertions when the condition can be statically proven to always be false.

Example:

[code]
Currently compiles cleanly without any warnings ([playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=74a4e2c9abeda1dd2d52887e8b44f71a)) — neither about the always false assertion, nor about the unreachable statement.

The L

[2020-06-17 10:59] Dylan-DPC commented on #73431
Marking it as p-critical as per our [discussion](https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/I-prioritize.20.2373431.20ICE.3A.20MIR.20const-checker.20found.20novel.20struc)

[2020-06-17 11:31] iliekturtles commented on #73420
Thanks for digging into the details. Sounds like this issue should be closed as working as intended then?

[2020-06-17 11:31] matthiaskrgr commented on #73435
There's already a clippy lint that lints on literal `true` and `false`.  https://github.com/rust-lang/rust-clippy/pull/3582
It does not warn on constants or variables that can be const-folded though.
See also https://github.com/rust-lang/rust-clippy/issues/3575

[2020-06-17 12:23] bugaevc commented on #73435
That's clearly related, but my request is about a different use-case, where I write an actual assertion that I think guards something, but due to some stupid mistake it doesn't, in which case I would like rustc to let me know. Explicitly and intentionally writing `assert!(false)` is different.

[2020-06-17 13:23] jyn514 opened #73439 "bootstrap: support x.py build src/librustdoc"
Current behavior:

[code]

Expected behavior: This builds rustdoc.

I'm interested in working on this, if anyone has suggestions that would be much appreciated. I found `src/bootstrap/builder.rs` but I'm having a hard time understanding `ShouldRun`.

[2020-06-17 13:26] nikomatsakis commented on #69367
@pnkfelix or @matthewjasper do you remember if we have an issue from NLL days regarding the scoping giving surprising errors?  I feel like we should open a meta-issue.

[2020-06-17 13:31] jyn514 commented on #73439
It looks like the existing (undocumented) way to do this is `x.py build src/tools/rustdoc`. I'm going to try and add `src/librustdoc` as an alias for that (since no one actually works with `src/tools/librustdoc`, it's almost empty).

[2020-06-17 13:51] ehuss commented on #73434
`2020-04-28` is quite old for a nightly.  This looks like a duplicate of #70924.

[2020-06-17 14:02] jyn514 commented on #73439
Ok, undocumented was a lie, it's here, just hard to find: https://rustc-dev-guide.rust-lang.org/rustdoc.html#cheat-sheet

[2020-06-17 14:15] dubiousjim commented on #32859
Status report. I'm running in a docker on Ubuntu:18.04 with gcc-mingw-w64-i686 installed, and `CARGO_TARGET_I686_PC_WINDOWS_GNU_LINKER=i686-w64-mingw32-gcc`. Linking my test app fails with undefined references to `_Unwind_RaiseException`, `_Unwind_Resume`, `__mingwthr_key_dtor`.

Tried setting `RUSTFLAGS="-Cpanic=abort`. Since I'm running tests, that forces me to also use nightly and `-Zpanic_abor

[2020-06-17 14:17] spastorino commented on #73256
This is already fixed by https://github.com/rust-lang/rust/pull/73326

[2020-06-17 14:17] #73256 closed

[2020-06-17 14:19] spastorino commented on #73284
@imran82ali can you provide more details so we can reproduce the issue?. Would be great if you provide an MCVE but at least if you can share a repo where the issue can be reproduced it would be great. For now this is not actionable.

[2020-06-17 14:19] mati865 commented on #32859
It's cargo argument.

[2020-06-17 14:19] bjorn3 commented on #73434
I didn't realize I was using an old nightly.

[2020-06-17 14:19] #73434 closed

[2020-06-17 14:25] dubiousjim commented on #32859
I see, I was passing it via `RUSTFLAGS` to (nightly) rustc, but it needs to be passed to (nightly) cargo?

[2020-06-17 14:38] steveklabnik commented on #43466
FWIW, I support stabilizing even with the remaining bugs. This flag is already used pervasively, for example, I believe all of docs.rs uses this.

[2020-06-17 15:28] mati865 commented on #32859
Yes, like that:
`cargo +nightly -Z unstable-options -Zbuild-std`

[2020-06-17 15:38] lzutao opened #73445 "intra-rustdoc-link: Cannot use core in core crate"
I tried to document this code in libcore (`./x.py doc src/libcore`):

[code]

I expected to see the above code build pass.

Instead, this happened: Build failed the following errors:

[code]

cc #43466
cc @Manishearth @GuillaumeGomez @jyn514

[2020-06-17 15:46] lzutao commented on #64193
Link to the tracking issue of intra doc link: #43466

[2020-06-17 15:49] lzutao commented on #73445
Note: Document build pass in user crate:
[code]

[2020-06-17 16:10] jonas-schievink commented on #73189
Closing as expected behavior.

[2020-06-17 16:10] #73189 closed

[2020-06-17 16:14] jyn514 commented on #73445
What happens if you use `crate::ops::Deref` instead?

[2020-06-17 16:15] jyn514 commented on #73445
Actually this might be a markdown issue, does `[Deref::Target](core::ops::Deref)` work in libcore?

[2020-06-17 16:21] Manishearth commented on #73445
@lzutao `core::ops::Deref` will never work in the core crate, crates do not know their own names typically

[2020-06-17 16:21] Manishearth commented on #73445
@jyn514 no, it's not a markdown issue

[2020-06-17 16:22] jyn514 commented on #73445
@rustbot modify labels: T-rustdoc A-intra-doc-links D-confusing

[2020-06-17 16:35] jplatte commented on #73445
Which can be worked around with an `extern crate self as foo;` in the crate root, in case anybody needs that (I've previously required it to get a proc macro working both inside its "parent crate" and outside of it).

[2020-06-17 16:37] alexcrichton commented on #73432
I would personally see the addition of a duplicate target as a very heavyweight operation that needs to be very well motivated. I don't really know what benefit we stand to gain other than shaving off some binary size, which could also arguably just be construed as a bug to fix in upstream wasi-libc. Are there other reasons than binary size to introduce a new target?

[2020-06-17 16:44] lzutao commented on #73445
Oh, using ``[`crate::path`]`` works correctly. It is kind of confusing through.

[2020-06-17 17:00] ecstatic-morse opened #73448 "Handle generic associated constants in const qualification for structural match"
#67343 started using const qualification for more precise structural match warnings. The idea is that const qualification should be strictly more precise than the current type visitor (`search_for_structural_match_violation`). However, const qualification is more conservative in the face of generic associated constants than the type visitor, which typically runs after substitution. This was the ca

[2020-06-17 17:02] Manishearth commented on #73445
I don't see how: `cratename::foo` _never_ works in paths within the same crate

[2020-06-17 17:06] Alexendoo commented on #69840
No longer ICEs since #72080

[2020-06-17 17:27] pnkfelix commented on #72839
(This bug leaked into beta channel while waiting for PR #73005 to land, I think.)

[2020-06-17 17:49] spastorino commented on #72839
Removing `I-prioritize` as this have been prioritized already.

[2020-06-17 18:15] jswrenn commented on #29864
I've relied on `#[marker]` extensively for prototyping new features in [typic](https://github.com/jswrenn/typic). The instability of `#[marker]` is a major barrier to adopting typic in [zerocopy](https://crates.io/crates/zerocopy). I cannot overstate how much I'd like to see this stabilized. I'm happy to chat about the use cases I've encountered!

[2020-06-17 18:19] cbiffle opened #73450 "Issues/miscompilation around ARM T32 frame pointer with new asm syntax"
# Summary

First: the new `asm!` syntax reserves `r11` on ARM as a frame pointer. This is incorrect on Thumb targets, where it should be `r7`. (`llvm_asm!` gets this right.)

Second: if you attempt to use `r7`, things miscompile. (This is true of `llvm_asm!` as well, and is the actual issue that brought me here.)

# Code

I'm having a hard time writing a minimal reproduction, because you need to c

[2020-06-17 18:27] alecmocatta opened #73451 "Panic aborts under rust-lld + musl"
This aborts when built with rust-lld + musl on stable and nightly:

[code]

[code]

[code]

[2020-06-17 19:00] cbiffle commented on #73450
In case anyone else is doing something _really strange_ with registers and runs into this, the workaround is to not mention either of the registers that rustc doesn't like, and save/restore them in the `asm`. This implies a performance hit for register shuffling but avoids the miscompilation in my tests.

For example, a sequence that relies on taking inputs in both `r7` and `r11` (which, for bette

[2020-06-17 19:22] ecstatic-morse commented on #73137
Fixed on beta in #73326

[2020-06-17 19:22] #73137 closed

[2020-06-17 19:25] spastorino commented on #55390
We would need to have a clear picture of this issue, labelling as `P-medium` for now.

[2020-06-17 19:26] mati865 commented on #59352
Worth noting with `-Zmir-opt-level=2` the regression is gone:
[code]

[2020-06-17 19:29] spastorino commented on #59326
Would be nice to find an mcve and to bisect to find the culprit ...

@rustbot ping cleanup

[2020-06-17 19:48] spastorino commented on #59326
Tagging this one as `P-high` meanwhile we find out what's going on.

[2020-06-17 19:51] spastorino commented on #58500
Tagged as `P-medium` until we know how specific the target specification has to be for this error to show up.

[2020-06-17 20:29] spastorino commented on #72470
The revert has been applied to both master and beta. Downgrading priority to `P-high`.

[2020-06-17 20:41] ollie27 commented on #58500
I think the correct solution is to add:

[code]

to the target JSON.

I don't think there's any bug here. If a target doesn't have native support for atomics then that either needs to be specified in the target JSON as above or implementations for the `__sync_*` functions need to be provided to emulate them.

[2020-06-17 20:47] senden9 commented on #59326
Seems the regression is in nightly-2019-01-06.
Sadly I have not the time currently to investigate just now.

[code]

[2020-06-17 21:01] LeSeulArtichaut commented on #70143
@rustbot ping llvm

[2020-06-17 21:43] lights0123 commented on #58500
@ollie27 that appeared to fix it (Although I'll probably stick with `"singlethread": true` for my platform as I don't have threads or interrupts anyways so I can use `Arc` with `Waker`s for `Future`).

I would say that this should be documented somewhere, but there doesn't seem to be a place where the target.json format is really documented other than the [compiler docs](https://doc.rust-lang.org/

[2020-06-17 21:49] Lokathor commented on #58500
If there is no place to document it then we need to make a place and then document it there.

[2020-06-17 21:50] lights0123 commented on #58500
I'll send a PR probably tomorrow to add a new page to the embedonomicon all about them, as there's no other place really about it.

[2020-06-17 22:30] ollie27 commented on #73420
I don't know. I think minor changes to the output of float operations between versions are technically allowed breakage but it would be nice to know why this change was made.

Given that `powi` seemed to be working fine before, does anyone know why https://reviews.llvm.org/D69013 was done?

[2020-06-17 22:48] Aaron1011 opened #73457 "Confusing 'type mismatch' error when using function pointer as fn trait"
The following code:

[code]

gives this error:

[code]

There are several issues with this error:

* The 'type mismatch' message contains several pieces of 'internal' rust syntax (multiple consecutive `for<>` binders, the weird `{make_it}` syntax for function pointers, and an inference variable).
* We call the return type `T` a 'bound', even though it's clearly not a bound.
* We give an opaque 'ex

[2020-06-17 22:59] petrochenkov commented on #64547
`-static -pie` is (counter-intuitively) equivalent to `-static`, i.e. `-pie` in this case is suppressed, so using rcrt shouldn't be necessary and I'm not sure what causes the issue exactly.

https://github.com/rust-lang/rust/pull/70740 adds proper support for `-static-pie` including rcrt, so this issue was likely fixed somewhere on the way.

I'll close this issue in a ~week if an up-to-date reprod

[2020-06-17 23:13] aep commented on #64547
Sorry we no longer use rust. Close sounds good.

[2020-06-17 23:13] #64547 closed

[2020-06-17 23:21] dtolnay commented on #62358
These methods are way to high up in the docs on both the `Option` and `Result` rustdoc. Would someone be able to send a PR to move these a lot further down? For example stuff like `ok` and `map` and `and_then` should all be featured higher than contains.

[2020-06-17 23:33] awilfox commented on #67481
Just for what it's worth, backporting llvm/llvm-project@f7e9f4f to LLVM 8 did fix it for us as well.

[2020-06-17 23:37] dtolnay commented on #50264
@rust-lang/libs:
@rfcbot fcp merge

Judging by https://grep.app/search?q=as_deref%28_mut%29%3F%5C%28%5C%29&regexp=true&filter[lang][0]=Rust, the `Option::as_deref` and `Option::as_deref_mut` methods have seen a fair amount of use.

I am interested in stabilizing these corresponding two methods on Result. The first was added in #50267 under the name `deref_ok`, then in #62421 renamed to `as_deref_o

[2020-06-18 00:06] estebank commented on #73457
We can probably improve this error quite dramatically by addressing cases involving closures specifically.

It _is_ a bound, it's the `Output` bound in `Fn(Output=T)`, which is sugared as `Fn() -> T`. We do need to make _that_ clearer (by maybe not talking about it being a bound).

In E0308 we point at the parameter when possible using [some hacky inference](https://github.com/rust-lang/rust/pull/

[2020-06-18 00:43] Aaron1011 commented on #73457
What makes this case tricky is that we never actually create a closure - the function pointer is used directly as `F`

[2020-06-18 01:18] matthiaskrgr opened #73462 "bad performance of char literal to_string() vs str literal to_string()"
I was quite surprised when I found out that
[code]
generates several times the instruction count of
[code]
(according to godbold).
Checking the (debug) build size of `println!("{}", "a".to_string());` vs `println!("{}", 'a'.to_string());` revealed the `str` variant being ~20kb lighter.

When doing some quick-and-dirty benchmarks, the `str` variant was more than 2x faster than the char-variant. [be

[2020-06-18 01:59] alex commented on #73462
The problem seems to be that `char` doesn't directly implement `to_string`, it comes from the blanket impl of `Display`. Adding an impl of `ToString` directly on `char` that looks like:

[code]

is probably the fix

[2020-06-18 02:03] lzutao commented on #73445
I cannot use `std::` doc link prefix also.
[code]

@Manishheart

You have a point. But for me what makes this confusing is that in doctest
I have to import items by crate name? But in doc link I don't have to.

[2020-06-18 02:10] jyn514 commented on #73445
doctests are separate crates that have the original as a dependency. This is the reason you can't have doctests for private functions even if they're `pub(crate)`.

[2020-06-18 02:17] lzutao commented on #73445
Yes, that's understandable. But a note or help message in case resolve links fail could help.

[2020-06-18 02:43] lzutao commented on #73462
godbolt link: https://rust.godbolt.org/z/aYEaZr
I will add a specialization of `ToString for char`.

[2020-06-18 02:44] Manishearth commented on #73445
@lzutao well, yes, core does not have a std in it's dependencies

[2020-06-18 02:45] Manishearth commented on #73445
Doctests are separate crates and this distinction comes up quite often anyway so I'm not sure if it needs to be fixed in intra doc links, I'd also be surprised if folks didn't know it as well.

[2020-06-18 03:57] Havvy commented on #69392
In the reference, we use the term "nominal type". The error code explanation should also mention unions and trait objects (`impl dyn Send {}` is valid).  If the person use `&NominalType` or `&mut NominalType`, it should also hint at removing the reference and putting them on `Self` in the  associated items. Not sure if I should open a new issue for that one or not though.

[2020-06-18 03:59] rocallahan opened #73467 "Duplicating mut Copy variables doesn't warn or error"
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6dee1348129e0c1938c67eb66a8f62b0
[code]

The inner closure essentially forks the mutable variable `x` into *two* variables. I would expect rustc to give a warning or error, but there is no warning or error. I understand the logic behind allowing this but I think it can lead to surprising results. rust-analyzer warns that assig

[2020-06-18 04:07] pitaj commented on #73467
Looks like this is already a warning in Beta and Nightly

[code]

[2020-06-18 04:15] pitaj commented on #73450
Given that this also happens with `llvm_asm!`, could this be an LLVM bug, or is it a rustc bug?

[2020-06-18 05:16] Aaron1011 commented on #29864
I agree - I think any kind of 'orphan rule exemption' for `#[marker]` should require an explicit opt-in.

Imagine you have a 'safe marker trait', like `std::cmp::Eq`. If you're willing to commit to having it always have no associated items, it might make sense to make it `#[marker]`. However, disabling the orphan rules would allow downstream crates to break a (safe) API contract. For example (in a

[2020-06-18 06:44] enterprisey opened #73469 "Doctest panic line numbers are incorrect"
I tried this code:

[code]

I expected to see this happen: either

 - `thread 'main' panicked at 'explicit panic', src/lib.rs:2:1`, the actual line of the panic
 - `thread 'main' panicked at 'explicit panic', src/lib.rs:1:1`, the line of the panic inside the doctest

Instead, this happened: `thread 'main' panicked at 'explicit panic', src/lib.rs:3:1`. Why line 3?

### Meta

`rustc --version --verb

[2020-06-18 06:46] jonas-schievink commented on #73467
Closing as fixed

[2020-06-18 07:06] RalfJung commented on #50264
How discoverable is that, though?

[2020-06-18 07:15] RalfJung commented on #73431
So speaking of structure match/equality, was there any progress in documenting what the exact guarantees are here? Withe each bug like this, I feel more unease around the lack of documentation here.^^ And that is even more so when two checks for that property disagree...

The [previous Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/213817-t-lang/topic/Terminology.20.22structural.

[2020-06-18 07:18] RalfJung commented on #29864
With `Unpin`, we even have a safe marker trait where this would [lead to unsoundness](https://github.com/rust-lang/rust/issues/29864#issuecomment-515780867).

[2020-06-18 07:52] #73370 closed

[2020-06-18 08:52] jesperdj commented on #26925
Hello, I am a new user of Rust.

I noticed that when I `#[derive(Copy, ...)]` on a `struct` with a type parameter, it does not place a bound on the type parameter implicitly. Instead, if I use the `struct` with a concrete type that is non-copy, my wrapper will be non-copy as well, despite the `#[derive(Copy, ...)]`:

     #[derive(Copy, Clone, Debug)]
    struct Wrapper<T>(T);

    #[derive(Debug)

[2020-06-18 09:18] tyranron commented on #26925
@jesperdj it was about `impl` blocks, not the type definition.

[code]
expands to
[code]
... but sometimes (for example, when using `PhantomData`) you need just:
[code]
In such cases you need to provide a manual `impl`.

[2020-06-18 09:33] tleasor commented on #72881
I've managed to cross-compile rustc, cargo and most of the default components now after fixing a build issue in a dependency (psm), but unfortunately the built compiler doesn't work. Trying to compile the default "hello world" project fails silently when using rustc directly, and cargo fails with a "STATUS_ACCESS_VIOLATION" error, which seems to be a memory-related issue.

[2020-06-18 09:35] vext01 commented on #46906
I've just encountered the same issue on today's nightly:

[code]

Gives:
[code]

As @arielb1 says, you can fix it by adding type annotations:
[code]

But I think the error message was confusing. I'd have known what to do if it had said:
[code]

[2020-06-18 09:50] hellow554 commented on #59326
Not sure, if it is the smallest possible code, but it's pretty darn good

[code]

[code]

[2020-06-18 10:53] lzutao commented on #73462
Hm. `'1'.to_string()` is slow like `char.to_string()`

[2020-06-18 13:20] jyn514 opened #73473 "`extern crate self as core` in libcore is an ICE"
I tried this code:

[code]

I expected to see this happen: Either the crate compiles successfully or gives a reasonable error.

Instead, this happened:

[code]

Found while working on https://github.com/rust-lang/rust/issues/73445.

### Meta

`build/x86_64-unknown-linux-gnu/stage0/bin/rustc --version -v`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-06-18 13:23] jyn514 commented on #73473
@rustbot modify labels: I-ICE

[2020-06-18 13:40] wesleywiser commented on #59326
Out of those rolled-up PRs, #56837 seems like the strongest candidate for the cause of the regression.

[2020-06-18 14:57] yuqio opened #73474 "Rustdoc changes code blocks to inline code in trait implementations"
If a doc comment of a trait item begins with a code block, it will be changed to inline code in implementations of that trait, which leads to weird formatting.

### Example

[code]

Here is what it looks like in the implementation for `StructExample`:

![2020-06-18-154158_1542x547_scrot](https://user-images.githubusercontent.com/41170571/85027444-3a45c980-b17a-11ea-8474-167a582db076.png)

- The do

[2020-06-18 14:58] nikomatsakis commented on #59326
@hellow554 thanks! that's a great reduction. ❤️

[2020-06-18 15:01] edward-shen commented on #71982
Agreed, I just hit this as well. It also seems to be inconsistent based on the syntax error. For example, a missing identifier syntax error outputs a helpful error
[code]
[code]
while a different syntax error prints out a different error than the first one:
[code]
[code]

[2020-06-18 15:27] lights0123 commented on #58500
Can someone check that my notes about atomics are correct in rust-embedded/embedonomicon#67? I believe that most of what I said is true, but I'm not sure if manually implementing these functions is correct:

[libcalls-atomic]: http://llvm.org/docs/Atomics.html#libcalls-atomic
[libcalls-sync]: http://llvm.org/docs/Atomics.html#libcalls-sync
[gcc-sync]: https://gcc.gnu.org/onlinedocs/gcc/_005f_005fs

[2020-06-18 15:29] cbiffle commented on #73450
Not sure! I mostly use LLVM through rustc these days.

- The "using the wrong frame pointer for Thumb" is definitely a rustc bug, since that part is new with the new `asm!` syntax.
- The "not honoring clobbers properly" might well be an LLVM bug.
- The "preventing the user from expressing asm sequences that alter the frame pointer" is some combination of rustc and LLVM. (LLVM has some related code

[2020-06-18 15:42] super-continent commented on #44282
This is an old issue but has anyone figured out a solution? I have this issue when compiling something for `i686-pc-windows-msvc` and haven't been able to fix it.

[2020-06-18 15:50] nikomatsakis commented on #46906
It's probably time to move towards closing this compatibility lint, and maybe we can improve the diagnostics at the same time.

[2020-06-18 15:53] nikomatsakis commented on #29864
@jswrenn would you be interested in working with me to stabilize the marker trait annotation?

[2020-06-18 15:54] A1-Triard commented on #26925
When using `PhantomData` [derivative](https://crates.io/crates/derivative) crate works pretty well.

[2020-06-18 16:16] Visic commented on #53014
I am running into this issue now as well, building in release mode works fine, but debug mode produces:

OS: Windows 10
Visual Studio: MSVC 2019
Toolchain: nightly-2020-02-05-x86_64-pc-windows-msvc

Unfortunately, I don't have code to share which reproduces it, as it is happening in my production codebase. However, it does seem to only be an issue when I am building a particular project as a part

[2020-06-18 16:24] iliekturtles commented on #73420
I'll leave the issue open for at least a little bit longer to see if there are any other opinions. I was able to resolve my specific case by refactoring internal code to use `f32::powi` instead of `typenum::Pow::powi`. My test code was using an explicit `f32::powi` and comparing the results against the internal code: https://github.com/iliekturtles/uom/pull/193.

[2020-06-18 16:33] bbqsrc commented on #53014
@Visic if you add "-Zshare-generics=off" to your `RUSTFLAGS` (you will need to build with nightly), does it work then? This has resolved the issue for me in all cases.

[2020-06-18 17:10] Boscop commented on #26925
Another tip: A common situation is that you have a member of type `Option<T>` or `Vec<T>` and you derive `Default` on the struct, and you want to struct to be `Default` even when `T` isn't. Then you just need to switch to [`derive(SmartDefault)`](https://docs.rs/smart-default/0.6.0/smart_default/derive.SmartDefault.html).

[2020-06-18 18:05] steveklabnik commented on #61449
Triage: i don't have time to put it together, but an easy reproduction here would be nice!

[2020-06-18 18:05] steveklabnik commented on #44358
Triage: no change that I'm aware of.

[2020-06-18 18:45] martin-t opened #73480 "Clone docs say it can't be derived for function pointers but it can"
The text is [here](https://doc.rust-lang.org/std/clone/trait.Clone.html#how-can-i-implement-clone):

However, it's in fact possible to derive:

[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4852033d4260b9cd7fd18e17137eedff))

[2020-06-18 19:07] ratijas commented on #73480
The wording is incorrect, but the idea is the same: derived implementation will be restricted to `T: Clone` which is not what you'd want when cloning a _function pointer_ to a function which returns `T`.

Consider this:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c1d1fbcd7e5f09df91378731bdbcf0ff

[2020-06-18 19:09] matthewjasper opened #73481 "Multiple defining uses of type alias impl trait in single function are not handled"
I tried this code:

[code]

I expected to see this happen: compiler error because `X<A, B>` is unified with `A` and also `X<B, A>` is unified with `A`.

Instead, this happened: program compiles, runs and segfaults.

### Meta

`rustc --version --verbose`:
[code]

[2020-06-18 19:10] matthewjasper commented on #73481
Variants on this can cause ICEs and llvm errors instead, as one might expect.

[2020-06-18 19:42] jswrenn opened #73482 "Iterator Indexing"
Itertools is considering [a PR introducing iterator indexing](https://github.com/rust-itertools/itertools/pull/447), implemented in the same manner as the core library's [slice indexing mechanism](https://doc.rust-lang.org/std/slice/trait.SliceIndex.html). This [playground link](https://play.rust-lang.org/?edition=2018&gist=2d908fb28c16fb69070ea857c5aa1143) demonstrates the gist of it:
[code]

I'm

[2020-06-18 19:51] leonardo-m commented on #73482
Sounds awesome. It's similar to python itertools.islice function. But I'd like to use the normal array slicing syntax. After this we need a built-in way to match on iterators, and the basic needs are covered.

[2020-06-18 19:51] estebank commented on #59326
I'm pretty sure this is caused because of a duplicated `S=()` obligation making an early return trigger because the expected and found existential projection lengths don't match:

https://github.com/rust-lang/rust/blob/e55d3f9c5213fe1a25366450127bdff67ad1eca2/src/librustc_middle/ty/relate.rs#L260-L277

It seems we could perform a sort&dedup on `a` and `b` and the repro case will start compiling ag

[2020-06-18 19:55] jyn514 commented on #61449
Here is a partial reproduction: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=40739fc9999c13cfa3d802e302d72c1f

I simplified `Symbol` a little because I was tired of typing :P but I think it still gets the idea across.

[2020-06-18 19:59] cuviper commented on #73480
See #26925 for a long debate about that derived behavior.

[2020-06-18 20:01] jyn514 commented on #61449
Note the error message is _significantly_ better if you use `assert_eq` instead. I'm not sure why they're pretty printed differently, maybe one is going through `stringify!`? https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=66c23c384fa7ecd405f342a4a5abad3f

[2020-06-18 20:05] cuviper commented on #73482
The problem is that operator `Index` only returns `&Target`, and `IndexMut` returns `&mut Target`, so you can't create a new value for the indexing result.

[2020-06-18 20:20] lachlansneff commented on #73482
An `IndexableIter` trait seems like an interesting idea.

[2020-06-18 20:30] poliorcetics commented on #64686
If I understand correctly (and from what your tests indicates), `use std::prelude::v1::*` is effectively added only at the top of every file ?

[2020-06-18 20:48] abonander commented on #51999
The link to the stabilization guide on Forge is broken in the top-level issue. Is there a new reference for writing feature documentation?

[2020-06-18 20:52] mark-i-m commented on #51999
@abonander Currently, the stabilization guide is here: https://rustc-dev-guide.rust-lang.org/stabilization_guide.html

DISCLAIMER: there are active discussions about where we want this kind of content to live long-term...

[2020-06-18 20:59] elitak commented on #44282
I never found a workaround, but I also didn't try diving into the generated .def files or anything as was suggested at the end.

[2020-06-18 22:16] rocallahan commented on #73467
I actually think this should be reopened. Here's a slight variation that gives no warning on nightly:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=acc65b891ae68e390f0ed94e76df458b
[code]

Since `closure2` is now using its duplicate of `x`, the unused-variable warning goes away. However, I think it's still a problem that `x` is being duplicated here.

[2020-06-18 23:05] estebank opened #73487 "Explain why fn pointers for different fn items are different types"
[Given](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b172ce6216f978214416c1e42119bf7d)

[code]

The compiler should explain why `foo` and `bar` are not the same type and should [suggest first changing `x`'s type to `fn() -> ()`](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ecbd057607074e2a9b45308a70bebb8c).

_taken from https://twitter.com/ekub

[2020-06-18 23:46] estebank commented on #73416
Yep. The ideal output would be something along the lines of

[code]

[2020-06-19 02:37] yvt opened #73491 "In a formal non-type generic parameter, referring to a const item causes a false "cycle detected" error"
I tried this code: [(Playground Link)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=03ad5f4bd50971b8d11f906be3d1ca42)

[code]

I expected to see this happen:  Successful compilation.

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2020-06-19 02:44] bobbygebert commented on #73260
NB: Only panics for me with the `-Zsave-analysis` flag.

[2020-06-19 02:49] ObliqueMotion opened #73492 "Misleading Error Message: the trait `Foo` is not implemented for `&dyn Foo`"
Here is a minimal example [[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3f1ec48f5216c6f700615bcd401333c8)]:

[code]

Which produces this error:

[code]

I find this error to be misleading because:

1) The type of `y` within the closure should be `&&dyn Foo`, not `&dyn Foo`.
2) Even though the type listed in the error message seems wrong, the trait `Foo` _sho

[2020-06-19 03:02] MrXinWang opened #73493 "linking with `cc` failed on AArch64 with `aarch64-unknown-linux-musl` target"
I was trying to build a rust-based binary with cargo in docker container on AArch64, however an `undefined reference to symbol` error occurs when using musl target. Any help would be greatly appreciated, thanks!

Note that the binary can be successfully built with GNU toolchain on AArch64, and also the AArch64 binary can be successfully [cross-built](https://github.com/cloud-hypervisor/cloud-hyper

[2020-06-19 03:43] pnkfelix opened #73494 "Tracking issue for moving ui tests to subdirectories"
EDIT(@jieyouxu): I personally find *just* moving the tests to be not *super* useful. Consider also *improving* these tests in the process -- see https://github.com/rust-lang/rust/issues/133895.

---

**NOTE: see https://github.com/rust-lang/rust/issues/73494#issuecomment-1500919846 for mentoring instructions.**

Looking at https://github.com/rust-lang/rust/tree/master/src/test/ui, github truncates

[2020-06-19 05:03] #72640 closed

[2020-06-19 05:03] #70866 closed

[2020-06-19 05:03] #70968 closed

[2020-06-19 05:03] #48980 closed

[2020-06-19 05:03] #51615 closed

[2020-06-19 05:03] #72463 closed

[2020-06-19 05:03] #72944 closed

[2020-06-19 06:23] estebank opened #73497 "Account for type param in `'_` constraint for returned trait suggestion"
[Given](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=33c3cc5f64a996c1475c86c57bc4edfd)

https://github.com/rust-lang/rust/blob/f7a1f97307e2f878297c6096f3afcc6fc2a31f22/src/test/ui/issues/issue-16922.rs#L1-L6

we currently output

https://github.com/rust-lang/rust/blob/f7a1f97307e2f878297c6096f3afcc6fc2a31f22/src/test/ui/issues/issue-16922.stderr#L1-L12

The suggestion i

[2020-06-19 06:41] estebank commented on #59326
#73485 would solve this and incur no perf regression, but I noticed that with the following code

[code]

we don't get any specialized error, we would still be getting what we get now

[code]

but we should still handle the case of multiple predicates having conflicting obligations with a clearer error. This is a tangentially related problem to the raised case of multiple predicates with the same

[2020-06-19 06:46] RalfJung commented on #61849
In terms of recycling storage, I learned some strange things about LLVM:

[Eli Friedman writes](https://bugs.llvm.org/show_bug.cgi?id=46380#c5)

That would mean that even with `StorageEnd`, if the address if a local gets observed, LLVM would not be allowed to put another local at the same address -- which seems like a problem for us because we do want LLVM to reuse those addresses.

[2020-06-19 06:47] newpavlov commented on #73432
I am not sure setting up C environment can be called a `libc` bug.

I guess in addition to smaller sizes, having a pure-Rust target could:
- enable additional optimizations (although cross language LTO, should solve this to a certain extent)
- make it a bit easier to develop alternative compiler backends for those targets

Also note that there is a general interest in having `libc`-independent tar

[2020-06-19 07:24] martin-t commented on #73480
Oh, i see what's happening here. There is another weird phrasing in the [Copy docs](https://doc.rust-lang.org/std/marker/trait.Copy.html#how-can-i-implement-copy) which confused me:

I interpreted "place Copy bounds" as putting an invisible `T: Copy` on the struct definition itself, instead of just on the impl:

[code]

I thought Derived was equivalent to BoundOnStruct but it's actually like Bound

[2020-06-19 07:24] e2-71828 commented on #72660
Another problem is that constants that depend on type parameters don’t report the value of those type parameters when they error.  For an example, see https://users.rust-lang.org/t/how-to-get-context-for-associated-const-errors/44478

When an error occurs in one monomorphization but not others, it’s important to be able to tell where the error occurred.

[2020-06-19 08:21] doctorn commented on #73427
@rustbot claim

[2020-06-19 08:33] xtutu commented on #72470
Same Error.
this problem is not solved yet?

@spastorino @pnkfelix

[code]

[code]

[2020-06-19 10:09] lcnr commented on #73494
The same problem exists for https://github.com/rust-lang/rust/tree/master/src/test/ui/issues with  1,839 omitted entries.

That could be solved by adding using a directory every 10000 issue ids, i.e. `ui/issues/10000-19999`, `ui/issues/20000-29999` and so on

[2020-06-19 10:29] e00E commented on #29205
This bug report is still correct with rustc 1.44.1. I am commenting because the contribution guidelines say it is helpful to check whether old bug reports are still correct.

[2020-06-19 10:35] robinmoussu commented on #22750
I was bitten by this today. Since `cargo tree` has been added recently in stable, it was really easy to understand which version were used where. Maybe it could be possible to suggest using it in a `note`?

[2020-06-19 10:47] davidtwco opened #73501 "User type annotations can result in different mir-opt test results in CI vs locally"
In #73442, a mir-opt test that I blessed locally [was failing on CI](https://github.com/rust-lang/rust/pull/73442#issuecomment-645951636) and I could not reproduce the failure locally - this was due to the `DefId` in the user type annotations of the test shown below, which appeared to be different locally versus on CI.

[code]

You can find my [config.toml here](https://github.com/davidtwco/verita

[2020-06-19 11:56] iago-lito commented on #34938
Rustc now warns about unused macro, but not about unused macro *arms*. Would this be considered an improvement to #42334 or does it need be considered separately?

[2020-06-19 12:12] #72679 closed

[2020-06-19 12:12] #70693 closed

[2020-06-19 12:12] #72285 closed

[2020-06-19 12:12] #72372 closed

[2020-06-19 12:12] #53968 closed

[2020-06-19 12:12] #54176 closed

[2020-06-19 12:12] #61913 closed

[2020-06-19 12:12] #69101 closed

[2020-06-19 12:12] #71583 closed

[2020-06-19 12:36] regexident commented on #72564
From a user's perspective what would that entail exactly?
I'm struggling to make this work. 😔

When creating a new project via:

[code]

… all I'm getting is this:

[code]

[code]

[code]

[2020-06-19 13:10] crlf0710 commented on #55467
#73305 has landed which disables the loading of external crates with non-ascii-identifier as name.

[2020-06-19 13:17] mati865 commented on #68887
Status update for anybody who follows this issue:
With https://github.com/rust-lang/rust/pull/72999 merged https://github.com/rust-lang/rust/pull/72738 can be moved forward. As described in https://github.com/rust-lang/rust/issues/68887#issuecomment-633048380 Rust will rely on the linker to provide correct paths. That will make option to override MinGW library path unnecessary.

[2020-06-19 13:17] bjorn3 commented on #72564
You need to specify that you want to add it to the nightly toolchain: `rustup component add --toolchain nightly rust-src rustc-dev llvm-tools-preview`.

[2020-06-19 13:23] regexident commented on #72564
Thanks @bjorn3! Now it's kinda obvious. 🙈

[2020-06-19 13:25] dylanmckay commented on #44052
Update.

There are two things remaining before the `libcore` can be compiled for AVR on a stock rust-lang/master branch:

1. There is one pull request that fixes a series of "address space cast invalid" bugs on AVR, relating how function pointers for Harvard architectures must be tagged as `addrspace(1)` compared to Von-Neumann targets which are fine with Rust's current default of `addrspace(0)`.

[2020-06-19 13:49] awh6al opened #73505 "Segmentation fault when using rust ffi with release flag"
I tried this code:
[code]

[code]
* cargo run --release
I expected to see : 3
Instead, this happened: 3 with Segmentation fault (core dumped)

** NOT THAT IT WORKS JUST FINE WITHOUT `--release` FLAG **

`rustc --version --verbose`:
[code]

</p>
</details>

[2020-06-19 13:52] Xanewok commented on #73078
@Mark-Simulacrum Can this be closed now that 1.44.1 is released?

[2020-06-19 13:57] Kixunil commented on #22750
@robinmoussu I just noticed `cargo tree` has `-d` switch. In that case, the switch should be suggested as well.

[2020-06-19 13:58] #73078 closed

[2020-06-19 14:09] est31 commented on #34938
@iago-lito see my comment about the impossibility to attach cfg to macro arms. The basic issue is that macro arms aren't assigned their own id's, at least back when I made the comment. It might be different now.

[2020-06-19 14:32] sfackler commented on #73505
This is undefined behavior. `array<int, 5>` is not a pointer, it is equivalent to a structure containing an `int[5]` array as its only member.

[2020-06-19 14:32] #73505 closed

[2020-06-19 14:37] yvt opened #73508 "ICE: "forcing query with already existing `DepNode`" when calling other crate's const-generic `const fn` twice"
### Code

All files packaged in a single Gist: https://gist.github.com/yvt/da205c5805b14f85c6c133c193b00485

`lib1/src/lib.rs`:

[code]

`lib2/src/lib.rs`:

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-06-19 15:08] Talanor opened #73509 "-Zpanic_abort_tests fails with benchmarks as test"
Hi, I have a minimalistic test case where `cargo test` panics:

[code]
with a new project initialized with `cargo init --lib` and
[code]
as specified [in the grcov readme](https://github.com/mozilla/grcov#example-how-to-generate-gcda-files-for-a-rust-project)
The error I get is :
[code]
and with `--lib`:

[code]
`cargo test` runs fine if I remove the `-Cpanic=abort` from the rustflags

My understa

[2020-06-19 15:19] est31 commented on #34938
I'd file a new issue for unused macro arms. It is possible to implement it but you'd need changes in the language so that you can cfg out branches.

[2020-06-19 15:40] jplatte commented on #55467
That was actually my main use case for this feature. The project I was using a non-ascii crate name in never went anywhere (also I couldn't have a non-ascii repo name on both GitHub and GitLab 😒), but still: Why disallow it?

[2020-06-19 15:48] fschutt opened #73510 "rustc uses insane amounts of memory when compiling a function that loads 1500+ function pointers from a DLL"
For my use-case, I'm trying to load a lot of function pointers from a .dll file using the `libloading` crate. However, I can't compile a `load_my_dll()` function if I have more than maybe 1000 function pointers, because rustc uses an insane amount of memory for compilation:

![test](https://user-images.githubusercontent.com/12084016/85151466-19ea3d80-b254-11ea-999a-e98fd0787558.gif)

I can pretty

[2020-06-19 16:01] #73135 closed

[2020-06-19 16:01] #68590 closed

[2020-06-19 16:01] #72225 closed

[2020-06-19 16:03] pnkfelix commented on #71249
Hi @Aaron1011 ; come on over to the [zulip thread for the MCP](https://rust-lang.zulipchat.com/#narrow/stream/233931-t-compiler.2Fmajor-changes/topic/Add.20future-incompat.20entries.20to.20json.20diagno.20compiler-team.23315/near/201408566) and we can discuss more. (In the MCP I went with "single summary" at the end, but we can talk more about the options on zulip.)

[2020-06-19 16:19] khuey opened #73512 "Terrible code generation with a zillion bounds checks."
This is probably a duplicate of something.

In psychon/x11rb#491 we have a function that looks like:
[code]
Basically, it takes a byte stream in a wire format and parses it into an in-memory struct.

The generated assembly looks like

[code]

LBB4888_16 is the ParseError::InsufficientData return and LBB4888_13 is the ParseError::ParseError return.

The compiler really should be able to consolidate

[2020-06-19 16:21] jplatte commented on #48655
`fetch_update` has been stabilized in #71843, `fetch_min` and `fetch_max` in #72324. This tracking issue can be closed, right?

[2020-06-19 16:34] #48655 closed

[2020-06-19 16:36] crlf0710 commented on #55467
Both several comments above and the RFC itself has already been talking about this, if you want to discuss more about this after reading those, i think you can continue within the Zulip channel (the link is also a few comments above).

[2020-06-19 16:58] jplatte commented on #55467
Oh, I see. So an application crate can still have a non-ASCII name, but libraries can't because that would open up the possibility for lots of weird filesystem issues.

[2020-06-19 17:52] dylanmckay commented on #44052
Two more TODOs:

3. Add AVR plumbing for the new inline assembly syntax in upstream Rust
    * Once the new inline assembly syntax is supported, the Arduino crate must be updated to use it
    once the Arduino crate has been updated, update the blink crate to the new version.
4. Cherry-pick AVR correctness patches (mostly Ayke's) from LLVM master to upstream Rust LLVM fork

Here's the branch with

[2020-06-19 18:00] ecstatic-morse commented on #73510
According to `-Ztime-passes`, most of the time is spent in type checking (35s for `item_bodies_checking`/`type_check_crate`) and borrow checking (19s). This seems to be caused by the thousands of closures, not by `libloading` itself. Changing `map_err` to `ok` and `Result` to `Option` makes the problem go away.

[2020-06-19 18:14] the8472 commented on #73510
as a workaround, this limits peak memory consumption to 1.5GB:

[code]

[2020-06-19 18:17] khuey commented on #73512
I filed https://bugs.llvm.org/show_bug.cgi?id=46402

[2020-06-19 18:20] fschutt commented on #73510
Well, I just created a "mini" version of libloading that only uses the raw `dlopen()` / `dlsym()` and `dlclose()` and does not use `map_err`: [github](https://github.com/fschutt/libloading-mini) / [crates.io](https://crates.io/crates/libloading-mini)

I pushed a [`mini` branch](https://github.com/fschutt/libloading-loadtest/tree/mini) that uses the `libloading_mini` crate, to reduce generics, but

[2020-06-19 18:28] ecstatic-morse commented on #73510
Your new example calls `mem::transmute` two thousand times. Each of those calls has two type variables that need to be inferred, just like the closures in your previous example. We should be able to do better here.