[2022-05-03 17:29] the8472 commented on #96675
[arg()](https://doc.rust-lang.org/std/process/struct.Command.html#method.arg) documentation already mentions that shell syntax does not work here.

[2022-05-03 17:34] Alexendoo commented on #96172
No longer ICEs since #96578

[2022-05-03 19:04] pcwalton commented on #73632
What would folks here think if I wrote a pre-RFC for a minimal feature that stabilizes some of what rustc does today with rlibs? Effectively this would just state that rlibs are archives in the native system format, containing object files in the native system format, plus some extra `.rmeta` files, that comprise all the symbols in the crate, but not any upstream dependencies. The RFC would *not*

[2022-05-03 19:12] jyn514 commented on #48594
Fixed: https://github.com/rust-lang/rust/pull/96677.

While writing that up, I noticed that there's an unsilenceable warning if you shadow a label name, which seems inconsistent with shadowing for other namespaces. In particular, this warning seems strange:
[code]
when removing the second label gives an error that no label is in scope:
[code]
Are we sure the warning provides value? And even if so,

[2022-05-03 19:24] matthiaskrgr opened #96678 "diagnostics: suggest dereferencing when trying to use a reference as index"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:
It would be great if rustc could suggest dereferencing: `[i]` -> `[*i]` which fixes the build

[2022-05-03 19:24] petrochenkov commented on #48594
@jyn514

Not really, see https://github.com/rust-lang/rust/pull/96296 for an attempt to remove them, and for some context.

[2022-05-03 19:39] ratmice commented on #48594
The only reason I can think of to keep it an error is that e.g. gcc also appears to error on a duplicate label.
gdb has support for `break function:label`, and because c doesn't support duplicate labels it seems likely that label support isn't set up to create multiple breakpoints for each label location, it could in theory be added if needed.

We'd also need to figure out escaping for labels e.g.

[2022-05-03 19:47] GuillaumeGomez opened #96681 "doc aliases don't work on reexports"
For example with this code:

[code]

We can't search for `->a` but we can search for `->b`.

[2022-05-03 19:59] MathieuDuponchelle commented on #62924
So what's happening here? I personally don't have any preference for the naming, I'd be fine with any of the proposed choices but I reckon after 3 years someone could make an informed decision :)

[2022-05-03 20:01] MathieuDuponchelle commented on #62924
Also `first` / `last` is obviously the right choice

[2022-05-03 20:15] bjorn3 commented on #73632
For some targets we may need to invent our own format if there exists no standard archive format. For example rust-gpu uses tar for it's spirv target. Furthermore there may be performance benefits to using different archive formats or even emitting a single object file containing both code and crate metadata in case only a single cgu is used. Also without knowing where to find libcore and other pa

[2022-05-03 20:23] Milo123459 commented on #96452
URL is now failing at every run, again.

[2022-05-03 20:29] ratmice commented on #48594
FWIW, I hacked up an assembly file, and from what I can tell the only issue I could see is that gdb just ignores the second label entirely.

[2022-05-03 20:37] tmiasko commented on #96452
You can check by logging and comparing output of `rustc -C target-cpu=native --print=cfg` and `cat /proc/cpuinfo` across successful and failing CI runs.

[2022-05-03 20:59] pcwalton commented on #73632
This is fine. I only care about existing architectures.

Note that I only suggest stabilizing `--crate-type=rlib` when *explicitly* specified as such. We could introduce new crate types if needed, and switch them to be the default.

That's not a problem in practice; our build system knows where to find them.

No, we wouldn't. This feature is intended for non-Rust build systems, which already know

[2022-05-03 21:25] bjorn3 commented on #73632
How does it now for sysroot crates without depending on unstable implementation details which kind of defeats the point of stabilizing this.

They can't know which parts of the standard library are used unpess rustc tells it. You can't simply add all individual crates in the `rustlib` directory for the target as that may include unused crates or even crates which may only be linked in specific cas

[2022-05-03 21:50] bjorn3 commented on #73632
By the way I forgot if I asked this already, but would a rustc command to bundle multiple rlibs into a single staticlib without requiring any rust source for this staticlib work? So something like `rustc --crate-type staticlib -Zlink-libs liba.rlib libb.rlib -o libcombined.a`. This should allow diamond dependencies I think. You could run it just before invoking the system linker.

[2022-05-03 22:44] arora-aman commented on #96512
I vaguely recall we relied on this to detect if we had a multi variant enum, in which case we would completely capture the root variable

[2022-05-03 22:47] SNCPlay42 commented on #96672
[Reduced](https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=844d0db982e54f01f1fa972964416596): (must be compiled with `--target=wasm32-unknown-unknown -C opt-level=3`, which can be done on playground by setting to "release" and clicking "WASM" instead of "Run")

[code]

[2022-05-03 23:18] SNCPlay42 commented on #96672
searched nightlies: from nightly-2022-01-13 to nightly-2022-05-03
regressed nightly: nightly-2022-03-11
searched commit range: https://github.com/rust-lang/rust/compare/458262b1315e0de7be940fe95e111bb045e4a2a4...5f4e0677190b82e61dc507e3e72caf89da8e5e28
regressed commit: https://github.com/rust-lang/rust/commit/282778aee26166754315815552bae454fc968960

<details>
<summary>bisected with <a href='http

[2022-05-03 23:47] inquisitivecrystal commented on #96664
CC @cjgillot

[2022-05-04 00:04] mark-i-m commented on #48594
Question: I looked in the RFC, but I can't find any discussion of the `'foo` syntax for labels. Is there a reason to include the `'`? It looks like a lifetime, which would be pretty confusing to a new learner...

[2022-05-04 00:07] nbdd0121 commented on #48594
Labels for loops have always been using this syntax, it's not a new thing for the label-break-value feature.

[2022-05-04 00:15] pcwalton commented on #73632
That may work as long as rustc isn't going to magically read any files that the build system doesn't know about. Keep in mind that many large-scale build systems are distributed and so the tool has to precisely know all of the dependent files that rustc is going to look at before invoking the compiler.

I'll let @jsgf comment on whether this works for Buck specifically, since I'm not as familiar w

[2022-05-04 00:56] joshtriplett commented on #48594
Also, without the `'`, it would take up more syntactic space that we might want to use for something else (`ident { ...`).

[2022-05-04 01:16] #94319 closed

[2022-05-04 02:12] mhammerly commented on #73632
@bjorn3 Just making sure I understand your suggestion correctly: before the final link, the non-Rust build system (GN + Ninja, Buck, Bazel, whatever) pulls a flat list of Rust dependencies out of the dependency graph, runs your `rustc -Zlink-libs` command, and uses the output in the link line?

If that's right, I think a cruder version of that idea was covered in the OP:

I'm not positive but I th

[2022-05-04 02:19] jyn514 opened #96688 "Move `check-bootstrap` from a makefile rule to `test::Bootstrap`"
It's very confusing that this can't actually be run through x.py itself; it tripped me up in https://github.com/rust-lang/rust/pull/96687.

See https://github.com/rust-lang/rust/blob/1b2e0b60cc5aec81b48835bfc322c426e2f07cd1/src/bootstrap/mk/Makefile.in#L48-L49 for the existing code and https://github.com/rust-lang/rust/blob/1b2e0b60cc5aec81b48835bfc322c426e2f07cd1/src/bootstrap/test.rs#L2349-L2355

[2022-05-04 02:28] gimbles commented on #96688
@rustbot claim

[2022-05-04 03:32] digama0 commented on #48594
Also I believe the resemblance to lifetimes is deliberate: a lifetime is essentially a scope (this was the only kind of lifetime pre-NLL, but scopes can still be lifetimes today) and in `'a: { ... }` we can say that `'a` is naming the scope that follows. I think features related to explicitly naming function-local lifetimes [never materialized](https://play.rust-lang.org/?version=stable&mode=debug

[2022-05-04 04:39] #95413 closed

[2022-05-04 05:38] bjorn3 commented on #73632
Indeed

Thin archives would make it a simple listing of all files and generating any necessary auxiliary object files rather than copying everything I think.

[2022-05-04 05:52] liquidev commented on #48594
@ratmice

Labels in C are quite different from this proposal though, in C they are used for `goto` and name a point of execution in the function, whereas this proposal introduces labels that name a scope that can be broken out of.

[2022-05-04 06:10] SUPERCILEX commented on #96274
Ok, I think I'm finally convinced. :grin:

My one remaining worry now would be around regression testing. Is there some way we can know if the LLVM side of things breaks?

And then should `uninit_array` be removed? I'd prefer to only have one "correct" way of doing things so we can focus on making that way the best it can be.

[2022-05-04 06:20] ratmice commented on #48594
@liquidev The only reason I mentioned C, is because developer tools are quite often historically tied to the language.
So if duplicate labels are not allowed there, it is unlikely that any code paths involving them have been encountered or tested on debug-info related things or other developer tools.  In the gdb case this doesn't appear to cause any actual harm such as a crash when reading trying

[2022-05-04 06:26] amab8901 opened #96694 "from_iter simply doesn't work"
https://doc.rust-lang.org/stable/std/iter/trait.FromIterator.html#tymethod.from_iter
this documentation contains the following basic example:
[code]
It produces the following console output:
[code]

[2022-05-04 06:29] adetaylor commented on #73632
For what it's worth, this would make it potentially harder for us to introduce Rust into our project. Rust code may appear anywhere in our huge and complex dependency graph, eventually propagating to some final C++ linker target. Our build system discourages global knowledge by design (for speed/scalability reasons) so there's no way to know in advance whether a build target would have Rust anywhe

[2022-05-04 06:34] RalfJung commented on #96274
We have LLVM codegen tests for this, yes (`src/test/codegen`).

[2022-05-04 07:34] PatchMixolydic commented on #96694
This seems to work correctly when using the "Run" link ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=310c27f576d349dd216ccdda2438700a)). This diagnostic will only appear when compiling with Rust 2018 or earlier; the standard library documentation examples are written for the latest edition (currently Rust 2021), which seems to be the current default on the P

[2022-05-04 08:10] roy-ganz commented on #96675
The doc is correct.
But in my case I did't find it helpful. As a C programmer I expected `Command` to be an equivalent of `system()`. My bad.

Your quote says what doesn't work. But the doc could maybe be improved to show _examples_ of what works.
Common use cases might be
- redirect file to stdin, redirect stdout to file
- redirect stderr to stdout (maybe)
- pipe the output of a `Command` into an

[2022-05-04 08:42] the8472 commented on #96675
The module-level documentation has IO examples: https://doc.rust-lang.org/std/process/index.html#handling-io

[2022-05-04 09:10] roy-ganz commented on #96675
You are right.
I didn't find them, but the examples are fine.
I'm closing the issue - thanks for your time.

[2022-05-04 09:10] #96675 closed

[2022-05-04 09:13] lqd commented on #96654
Interestingly enough:
- this doesn't seem related to incremental compilation (it reproduces with `CARGO_INCREMENTAL=0`)
- doesn't occur on nightly
- and seems to have been fixed by #95255

It's a bit unclear to me why that PR fixed it (and that ICE looks at least a year old), but in any case this piece of code will stop ICEing in 1.61, releasing in a couple weeks.

[2022-05-04 09:17] zecakeh opened #96698 "`unused_qualifications` shouldn't trigger on expanded code"
Given the following code:

[code]

Where `my_enum_macro`, among other things, uses the path provided for the variant to qualify a type based on the key. It so happens that for the first variant here, the type in the expanded code resolves to `super::a::AType`.

The current output is:

[code]

Since the type is already imported at the top, the qualification is indeed unnecessary. But I would also e

[2022-05-04 09:41] lqd commented on #96665
This is another one introduced by #93803 cc @cjgillot

[2022-05-04 10:13] PramodBisht commented on #96694
@amab8901 I think this can be closed. Can you confirm if you are using older Rust?

Apology if I am wrong, looking repository after couple of years.

[2022-05-04 10:23] herlon214 commented on #25289
Worked like a charm, thanks!

[2022-05-04 10:54] Iwancof opened #96699 "Test needed for linker error in associated function with generic_const_exprs"
In the situation using the generic_const_exprs feature to specify the number of array elements, a linker error occurred in the Trait implementation.
We minimized it as much as possible, but it could be more simplified.

This is just a guess, but I think it is probably because the function signature is wrong.
The error content claims that there is no "compiler_bug2::Trait1::crash_here", although it

[2022-05-04 11:38] shabanovd opened #96700 "Const generic configurable by trait's constant"
I tried [this code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a4bef7ee4bc3530ae34395c28def8140):

[code]

I expected to see this happen: It was a bit unexpected because [this code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=9f46e37390f9ee4b7b1c5aaecabf5d92) is working fine
[code]

Instead, this happened:
[code]

### Meta
[code]

[2022-05-04 11:53] m-ou-se commented on #62924
See https://github.com/rust-lang/rust/pull/93709#issuecomment-1098126012 for the decision to keep the `first` and `last` names.

[2022-05-04 12:26] #53398 closed

[2022-05-04 12:26] #58662 closed

[2022-05-04 12:26] #89952 closed

[2022-05-04 12:26] #94429 closed

[2022-05-04 12:40] m-ou-se commented on #96613
Please don't open tracking issues before the (unstable) addition has been accepted by a reviewer. Thanks!

(See also the comment at the top of the tracking issue template:

)

[2022-05-04 12:40] #96613 closed

[2022-05-04 12:54] nbdd0121 commented on #48594
I don't think debuginfo should be a blocker at all -- in the worst case scenario we can add some suffix for duplicated labels for debuginfo generation.

[2022-05-04 13:08] Rexagon opened #96702 "Strange borrowing scope"
I tried this code:

[code]

I expected to see this happen: it compiles

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-05-04 13:13] MathieuDuponchelle commented on #62924
Right, I was commenting prior to the checkbox for that issue being marked as resolved :)

[2022-05-04 13:17] pnkfelix commented on #96306
@NobodyXu any chance you can run your test on older versions of the compiler? If this is a *regression*, then one can even use a tool like https://github.com/rust-lang/cargo-bisect-rustc to identify the point where the regression was injected.

[2022-05-04 13:33] udoprog commented on #96669
This is a slightly less contrived example, which is what motivated me to open this issue originally.

Whatever constraint is being applied is projected across another trait as well:

[code]

[2022-05-04 13:36] spookyvision opened #96703 "ICE: collect_and_partition_mono_items"
Ohai! Unfortunately I wasn't able to reduce this further, it must be some `warp` voodoo causing this…

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-04 13:41] tschuett opened #96705 "Emit optimization remarks to the final binary, not the console"
Since https://github.com/rust-lang/rust/pull/90833/ rustc prints remarks with -Cremark to the console.

LLVM can include the remarks into the executable. Then you can read the remarks and analyze them.

https://llvm.org/docs/Remarks.html

I never managed to thread the flags through rustc.

[2022-05-04 13:44] spookyvision commented on #96703
addendum, exact version of deps:

[code]

[2022-05-04 13:54] AronParker opened #96706 "Scoped thread panic messages unexpectedly interleaving in stderr output"
I tried this code:

[code]

I expected to see the following output:
[code]

As it runs concurrently, of course the order could be reversed.

Instead, the panic messages were interleaved. Here are some examples:

```thread 'thread '<unnamed>' panicked at 'BBBBBBBBBBBBBBBBBBBBBBBBBBBBB<unnamed>', ' panicked at 'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA', src\main.rs:13:13src\main.rs:8:13```

```thread '<unn

[2022-05-04 14:08] #96700 closed

[2022-05-04 14:10] NobodyXu commented on #96306
Yes, but since I don't have a power pc, I will have to use `cross` and `cargo-hack` to perform regression testing as `cross` does not work wit `cargo-bisect-rustc` https://github.com/cross-rs/cross/issues/699

[2022-05-04 14:14] krasimirgg commented on #81490
@petrochenkov I'm curious what's the mechanism via which rustc registers the dependency in this case:

Does it do it by recording some metadata in the rmeta rlib archive member?

[2022-05-04 14:22] Michael-F-Bryan opened #96707 "ICE when checking aws-config 0.11.0 for intra-doc links"
### Code

The compiler encounters an ICE while trying to document the `aws-config` crate. In particular, it seems to panic with a *"no entry found for key"* while collecting intra-doc links.

Steps to reproduce:

[code]

You can check [the failed docs.rs build](https://docs.rs/crate/aws-config/0.11.0/builds/550519) for more details on reproducing the issue.

### Meta

[code]

### Error output

<de

[2022-05-04 14:23] petrochenkov commented on #81490
@krasimirgg

Yes.

[2022-05-04 14:24] nikic commented on #96152
https://reviews.llvm.org/D124710 finishes the InstCombine side of this, and https://reviews.llvm.org/D124856 is another step on the DAGCombine side -- this one affects the original case, but doesn't give the result we want yet.

[2022-05-04 14:24] NobodyXu commented on #96306
It seems that the bug is fixed on `cargo 1.62.0-nightly (f63f23ff1 2022-04-28)`.

[2022-05-04 14:25] shepmaster commented on #65844
This continues to occur with Rust 1.60 and 1.62.0-nightly (e1b71feb5 2022-05-03). I've seen it in the wild with both the `ryu` and `serde` crates.

[2022-05-04 14:28] NobodyXu commented on #96306
`cargo 1.60.0 (d1fd9fe 2022-03-01)` also passed the test, ran using command `cross run --target powerpc64le-unknown-linux-gnu`.

[2022-05-04 14:30] bjorn3 opened #96708 "Remove dependency formats from crate metadata"
It only really needs to be stored for dylibs and only the dependency format for said dylib and not for any other crate types also used. It can be stored in a separate section for dylibs. For example `.rsdpfmt` (needs to stay within the 8 char limit for COFF section names). Furthermore omitting it from the crate metadata is necessary for implementing https://github.com/bazelbuild/rules_rust/issues/

[2022-05-04 14:35] bjorn3 commented on #96706
This is expected and also happens for non-scoped threads. Panic messages are not buffered but written concurrently without any locking line by line, so if two threads panic at the same time their backtraces will interleave. The only way around this would be to either buffer the panic message (which may use a lot of memory and could cause the whole panic message to get lost in case an error occurs

[2022-05-04 14:59] matthiaskrgr commented on #96705
RUSTFLAGS="-C llvm-args=--pass-remarks=.* -Cdebuginfo=2" cargo build --release

does that work for you?

[2022-05-04 15:01] apiraino commented on #96672
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2396672.20Rust.201.2E60.20segmentation.20fault.20related.20to.20const.20generi.E2.80.A6) of the Prioritization Working Group.

Great work @SNCPlay42 thanks!

@rustbot label -I-prioritize +P-high -ICEBreaker-Cleanup-Crew

[2022-05-04 15:02] tschuett commented on #96705
It still pollutes my console.

[2022-05-04 15:10] Jules-Bertholet opened #96710 "Tracking Issue for `round_ties_even`"
Feature gate: `#![feature(round_ties_even)]`

This is a tracking issue for the `round_ties_even` feature, which adds a new method to `f32` and `f64` for rounding to the nearest integer, with ties rounded to the nearest even number.

### Public API
[code]

### Steps / History

- [x] Implementation: #95317
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- Naming: `

[2022-05-04 15:15] ratmice commented on #48594
Yeah, I don't think it should block either really, it's merely an argument against removing that error.
I don't really like adding a suffix, because that means when users try to set breakpoints on label's the user or the debugger would need to know the suffix.  It'd be better to just fix consumers to deal with the duplicate.

But honestly I really don't like the idea of duplicate label siblings.

[2022-05-04 15:23] apiraino commented on #96665
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2396665.20cycle.20detected.20when.20computing.20the.20super.20predicates.20o.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2022-05-04 15:24] #90762 closed

[2022-05-04 15:41] AronParker commented on #96706
That's interesting, thanks for providing that information, I didn't know that. Can't we only allow the main thread to write panic messages and capture the panic messages of other threads in that `Box<dyn Any + Send>`, which can then be printed on demand with `panic::resume_unwind`?

[2022-05-04 15:43] JakobDegen commented on #71117
I was referring to your suggestion [here](https://github.com/rust-lang/unsafe-code-guidelines/issues/206#issuecomment-1085355907). As far as I understand it, that suggestion is "immediately after constructing MIR we are allowed to shrink storage ranges to actual live ranges," which seems to be exactly what we need.

[2022-05-04 15:44] jyn514 opened #96712 "Print to stderr consistently in bootstrap"
Bootstrap is unfortunately quite inconsistent about which it uses currently :(
[code]

stderr probably makes more sense? but I don't know when someone would look at just stdout or just stderr; having a hard time imagining use cases.

cc @bjorn3

_Originally posted by @jyn514 in https://github.com/rust-lang/rust/pull/96687#discussion_r864989431_

[2022-05-04 15:45] jyn514 commented on #96707
cc @petrochenkov

[2022-05-04 15:53] udoprog commented on #96669
Repro without GATs:

[code]

[2022-05-04 16:21] nbdd0121 commented on #49708
How about just make usage of `size_of_val` on `extern type` a post-monomorphization error?

[2022-05-04 16:42] Ericson2314 commented on #49708
@nbdd0121Post monomorphization errors are generally regarded a terrible developer experience akin to C++ template errors.

@nikomatsakis saying that we can try out `?DynSized` on an unstable basis and then say how things go is great news. If there are issues then with more information to the inform the debate I think alternatives like post-monomorphization errors can better be discussed.

[2022-05-04 16:53] bjorn3 commented on #96706
You can use a custom panic hook using `std::panic::set_hook` if you really need to suppress panic messages. But note that panics should not be used for regular errors, only for errors or bugs where the only reasonable way to handle them is to give up on what you are currently doing and depending on the kind of process attempt to serve the next request or quit entirely. If you are getting panics of

[2022-05-04 17:24] ehuss commented on #96702
Thanks for the report!  As mentioned, this is a known limitation of the borrow checker.  Closing as a duplicate of #54663 (or one of the other issues linked there).

[2022-05-04 17:24] #96702 closed

[2022-05-04 17:46] tschuett commented on #96705
[code]
This fails because rustc does not know about: pass-remarks-output

[2022-05-04 17:57] sunfishcode commented on #87074
Current status: This PR is [waiting for reviews](https://github.com/rust-lang/rust/issues/87074#issuecomment-1075152025) so that it can enter an FCP. I've responded to all outstanding concerns raised here.

[2022-05-04 18:20] m-ou-se commented on #96621
We're happy to review a patch for this. (E.g. falling back to fstat if poll returns EINVAL.)

[2022-05-04 18:27] ser-vasilich commented on #96522
You didn't convince me. I see the difference between addition and subtraction, or selective rounding. If you do not see - consider the example:

[2022-05-04 19:06] swfsql commented on #89122
Not sure if this was said before, but personally I'd prefer a "use .. as .. where"-style syntax. But I know it makes no sense to have that `use` keyword in there.

[code]

[code]

[2022-05-04 19:31] wwylele commented on #96522
The last example is just the classical `c + d - d != c` in floating point numbers. (and `println!` faithfully prints different things for both sides) There are many online resource online teaching this behavior.

[2022-05-04 20:26] jam1garner commented on #93050
As someone who finds map_or both overly verbose for this (I need this version far more than the general case of map_or) and generally unpleasant (due to argument order not matching the name, although I 100% understand that decision even if I don't love it) I would be thrilled for this.

I think the worry about overlap with if/let is valid but for filtering and other combinators this composes reall

[2022-05-04 20:40] RalfJung commented on #96608
Yeah, can you find out what the allocator type is there?
Sounds like a duplicate of https://github.com/rust-lang/rust/issues/95453.

[2022-05-04 20:57] RalfJung commented on #96169
The second one looks very different from the first. That looks like a bug in the Miri implementation of `<`, which is not prepared for wide pointers.

[2022-05-04 21:02] pcwalton commented on #73632
Based on feedback I'd like to revise my proposal to introduce a new crate type, `--crate-type=rlib0`, which is simply "what Rust calls an rlib today". This is intended for use with external build systems that need to be able to count on handling rlibs. The reason for introducing a new crate type is so that `--crate-type=rlib` can change in the future without breaking these external build systems.

[2022-05-04 21:28] jsgf commented on #73632
Woah, lots of activity here.

@bjorn3, I think it's worth restating what we're trying to achieve here, and what the environment and constraints are. I'll speak for @pcwalton and @mhammerly; I can't speak to @adetaylor's environment, but what he says resonates with me and I think there's a lot of commonality here.

So, we're talking about Rust interop with other languages. C++ is the primary one, b

[2022-05-04 21:43] AronParker opened #96716 "Avoid unnecessary allocation when reading directory contents on Windows"
When creating a new Iterator for reading the file contents of directories, the incoming path `p` is first converted into a `PathBuf`:

https://github.com/rust-lang/rust/blob/343889b7234bf786e2bc673029467052f22fca08/library/std/src/sys/windows/fs.rs#L941-L944

Afterwards, the PathBuf is joined with `*` to iterate all contents of the directory. This could be improved by making `root` mutable and usi

[2022-05-04 21:48] eddyb commented on #96221
The reason is this part:
[code]

i.e. the variant has a single field at offset `8` - this cannot correspond to `Abi::Scalar`, which must have the scalar at offset `0`.

If you could manually inject padding at the start of a regular `struct`, you'd see the same thing happen - any specialized `Abi` has to be replaced by `Abi::Aggregate` because of the hole at the start.
(I think `-Z randomize-layout

[2022-05-04 21:54] bjorn3 commented on #73632
Thanks for the extensive writeup! A couple of notes:

Not yet and even with my PR it will only be gone if `#[global_alloctator]` is used.

They have conflicting symbols. It may just not look like it because one uses `#[rustc_std_internal_symbol]` which uses an unmangled name while the other uses a lang item where rustc chooses the same symbol name as the other crate.

If any crate uses -Cpanic=abo

[2022-05-04 22:15] jsgf commented on #73632
Thanks for the clarifications.

Right, we'll need to look into that.

I see - so we should consider a `-Cpanic=abort` as a build-wide config option - ie, something you specify on the top-level target (ie binary) and propagate to all its dependencies.

[2022-05-04 22:50] tbu- opened #96718 "Recommend `Ipv6Addr::to_ipv4_mapped` over `Ipv6::to_ipv4` once it's stable"
CC #27709 (tracking issue for `Ipv6Addr::to_ipv4_mapped`)
CC #96649 (PR that tried to add this change first)

[code]

[2022-05-04 23:09] jyn514 commented on #96712
Sure, seems fine.

@rustbot label +E-easy +A-rustbuild

[2022-05-04 23:20] jsgf commented on #73632
Oh, I meant to add:

@mhammerly has prototyped generating build rules for the sysroot libraries (using [reindeer](https://github.com/facebookincubator/reindeer)) so that they're built on the fly along with everything else. As far as the build system is concerned, they're just some slightly strange third-party libraries.

So something that requires standard library to be built with specific flags i

[2022-05-05 02:49] #93262 closed

[2022-05-05 03:45] raiyansayeed commented on #96712
@rustbot claim

[2022-05-05 04:26] matthiaskrgr opened #96721 "clippy crashes: couldn't extract literal"
### Code
`clippy-driver crash.rs`
[code]
CC @nnethercote  you added this assert here: https://github.com/rust-lang/rust/pull/96546/files#diff-00567f9be31678eec46651e6157f0eaaa47d1f344eb61b8a63f87edfa7bf6b14R1589

looks like this triggers an ICE in clippy :(

### Meta

`clippy-driver --version`:
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-05 04:45] matthiaskrgr opened #96722 "miri reports memory leak for RefCell/Rc example"
I tried this code:

[code]

`cargo miri run`

[code]

[2022-05-05 05:07] nico-abram opened #96723 "Tracking Issue for windows_process_extensions_thread_id"
Feature gate: `#![feature(windows_process_extensions_thread_id)]`

This is a tracking issue for a new `thread_id(&self)` function on CommandExt for windows.
The winapi function used to create a process on windows returns a [structure](https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/ns-processthreadsapi-process_information) that has both a main thread handle and a process handl

[2022-05-05 05:08] #78180 closed

[2022-05-05 05:35] NobodyXu commented on #96306
I think we need more regression tests in `rustc`, having float parsing being broken and randomly fixed isn't a sustainable approach to support `powerpc64le`.

[2022-05-05 05:37] Michael-F-Bryan commented on #96707
It looks like something in the latest nightly has resolved this ICE.

[code]

The ICE occurs again if we switch to yesterday's nightly (`rustup override set nightly-2022-05-04`), so I'm guessing it was a bug in the compiler which has been since fixed and not an issue with my environment.

Should we close the ticket now that it's either been resolved or can no longer be reproduced?

[2022-05-05 05:49] oxalica commented on #87021
Typically, we can only get `&Waker` from `Context` without cloning. I'd think `into_raw` would be less useful.

[2022-05-05 06:15] NobodyXu commented on #96306
There are still some strange errors on `powerpc64le` [here](https://github.com/ParkMyCar/compact_str/runs/6301527198?check_suite_focus=true):

[code]

failed with:

[code]

This works on all other platforms except for `powerpc64le`.

[2022-05-05 06:30] RalfJung commented on #96221
@eddyb I certainly would not expect this to have `Scalar` layout. :D I expect it to have `ScalarPair` layout, since it is the result of a no-op projection from a `ScalarPair` type.

With the current situation, how do you propose Miri handles a situation like thus? (I have no idea how this is not a problem in codegen either.)
- load/pass around some data at `ScalarPair` type, represented as an imme

[2022-05-05 07:12] petrochenkov commented on #96707
@Michael-F-Bryan

That something is https://github.com/rust-lang/rust/pull/96447, so closing the issue.

[2022-05-05 07:12] #96707 closed

[2022-05-05 07:31] josephlr commented on #96486
It seems like this might be caused by the numerous PRs like: https://github.com/rust-lang/rust/pull/94657 which caused more code to start depending on `core::intrinsics::const_eval_select`

[2022-05-05 07:33] theCapypara commented on #96486
It seems that this is also causing build issues for me in cpmpiler-builtins:
https://github.com/rust-lang/compiler-builtins/issues/347#issuecomment-1116681959

[2022-05-05 07:40] petrochenkov commented on #96486
This could be caused by https://github.com/rust-lang/rust/pull/95604.
Could you check whether `const_eval_select` is mentioned by the temporary `symbols.o` object used during linking?
(Temporary build files can be preserved with `-Csave-temps`.)

It's possible that `const_eval_select` is externally reachable / exported, but always inlined, so an actual symbol in binary is never generated for it.

[2022-05-05 08:33] theCapypara commented on #96486
Running `RUSTFLAGS=-Csave-temps cargo build ...` does not seem to create a `symbols.o` anywhere in the `target` directory (or any of it's subdirs).
I should probably add, that the target I'm compiling for uses gcc for the actual linking.

[2022-05-05 08:38] petrochenkov commented on #96486
@theCapypara
`symbols.o` is created in a temporary directory, you can run cargo with verbose options `-v` or `-vv` and print linker arguments with `--print link-args` to see where exactly it's created.

[2022-05-05 08:40] theCapypara commented on #96486
The `symbols.o` file contains only 4 symbols, which are all extern functions defined by the crate I'm building.

[2022-05-05 08:44] petrochenkov commented on #96486
Ah, ok, then that's not the reason.

[2022-05-05 08:45] oli-obk commented on #96552
At present

[code]

[2022-05-05 08:45] oli-obk commented on #96552
cc @lcnr

[2022-05-05 08:49] theCapypara commented on #96486
If it's of any help in finding the root of this issues, here's the profile settings:
[code]

And here's the target json I'm using. The linker scripts mostly just define symbols and define a particular layout for the final binary:
[code]

The linker is provided as part of DevkitPro's DevkitARM.

At the moment I'm working around this issue by using a custom fork of `compiler-builtins` that just remo

[2022-05-05 09:45] #88038 closed

[2022-05-05 09:54] #95022 closed

[2022-05-05 09:54] griffi-gh commented on #95022
fixed in the latest nightly

[2022-05-05 10:21] JohnTitor commented on #83474
The test has been added by https://github.com/rust-lang/rust/pull/95714, closing.

[2022-05-05 10:21] #83474 closed

[2022-05-05 10:38] lcnr opened #96728 "const generics: inline consts and closures cause cycle errors"
[code]
and
[code]
both result in cycle errors but should compile.
The reason for this is explored in https://hackmd.io/@rust-const-generics/Bk5GHW-Iq

[2022-05-05 10:40] JohnTitor commented on #88365
Update: now you need `#![feature(generic_const_exprs)]` instead of `#![feature(const_generics)]`.

[2022-05-05 10:57] JohnTitor commented on #90911
Indeed this does look like a duplicate of https://github.com/rust-lang/rust/issues/78459, that issue has been fixed by #94043 and the above code compiles fine too. I'm going to close as that PR should have a sufficient testcase. Thanks for reporting!

[2022-05-05 10:57] #90911 closed

[2022-05-05 11:02] SPLStarX opened #96729 "Tracking Issue for cargo build (when i entered cargo build for compile the solana-runtime v1.10.12 it shows following error please help"
when i run cargo build for compiling solana-runtime v1.10.12  it shows me following error pleaase help.

error[E0658]: destructuring assignments are unstable
   --> /home/alibhaimalai/.cargo/registry/src/github.com-1ecc6299db9ec823/solana-runtime-1.10.12/src/cost_model.rs:100:71
    |
100 |         (tx_cost.builtins_execution_cost, tx_cost.bpf_execution_cost) =
    |         ----------------------

[2022-05-05 11:04] GuillaumeGomez commented on #96681
Actually the problem is even bigger: aliases are not generated for the search index.

[2022-05-05 11:17] JohnTitor commented on #96729
Please ask such a user question on the user forum: https://users.rust-lang.org/
The issue tracker here tracks ones related to rustc (and some related stuff).
(Btw it seems your issue would be resolved by updating the compiler to 1.59 or higher, the destructuring assignments have been stabilized in that version. I would suggest reading the instructions on solana.)

[2022-05-05 11:17] #96729 closed

[2022-05-05 11:29] lcnr commented on #96722
isn't that an actual memory leak though? I don't think this is a bug

[2022-05-05 14:09] nikomatsakis commented on #68318
I would prefer to leave that for future work, @dhardy -- I'd rather not open the door on negative where clauses just now, but also I think that it'd be interesting to discuss the best way to model mutually exclusive traits (e.g., maybe we want something that looks more like enums).

[2022-05-05 14:52] pnkfelix commented on #96074
Visiting this issue during T-compiler triage meeting.

We believe the beta backport of PR #96489 addresses the issue this was nominated for.

@rustbot label: -I-nominated-compiler

[2022-05-05 14:55] apiraino commented on #96074
:)

@rustbot label -I-compiler-nominated

[2022-05-05 14:56] Amanieu commented on #96633
cc @asomers

[2022-05-05 15:11] SPLStarX commented on #96729
can you please write that which i should type ..????????????

[2022-05-05 15:18] bjorn3 commented on #73632
The allocator shim is an implementation detail and would likely be removed in favor of weak symbols in libstd if weak symbols were universally supported across all platforms. https://github.com/rust-lang/rust/pull/86844 in combination with a single mandatory `#[global_allocator]` somewhere would be better I think. If necessary this could be automatically provided by the build system in the form of

[2022-05-05 15:29] hlopko commented on #73632
As long as there is a stabilized way of wiring Rust with the system allocator I think our use case is covered. I don't see any reason why your solution wouldn't work for us, so thumbs up :)

[2022-05-05 15:45] asomers commented on #96633
I can reproduce the failure locally.  Unfortunately, the core file isn't much help.  This is what gdb shows.  Perhaps something is clobbering the stack?  Do you know the last working revision?  We could try to bisect it.
[code]

[2022-05-05 15:48] Ivan-Sanchez-Diaz commented on #63939
same problem on windows,is there any solution？

[2022-05-05 15:57] Larodar opened #96738 "Compiler crashes on syntax error when trying to call a function from a dependency"
Hi,
I am running rustc 1.62.0-nightly (4c60a0ea5 2022-05-04) on x86_64-pc-windows-msvc
(via rust-toolchain.toml)
### Code
I have a binary and a library. The binary depends on the library. The directory structure looks like this:
* somedirectory
  * binary
    * src
      * main.rs
    * Cargo.toml
    * rust-toolchain.toml

  * lib
    * src
      * lib.rs
    * Cargo.toml

The lib.rs has this one

[2022-05-05 16:44] aviramha opened #96739 "bindeps compiler bug"
### Code

[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-05 16:46] BatmanAoD commented on #83116
There's a fair amount of back-and-forth in #86155 between @RalfJung and @alexcrichton about whether or not this issue was resolved there. It looks to me like it was, and we can now close this (though it did not fully resolve the issue of mixed panic modes between crates). Do either of you disagree?

[2022-05-05 17:00] alexcrichton commented on #83116
That sounds accurate to me, the issue here as-is in the OP at least is fixed.

[2022-05-05 17:15] asomers commented on #96633
If I set `download-ci-llvm=false` in config.toml, then `./x.py build library/std` succeeds, and I can successfully run the binary at `build/x86_64-unknown-freebsd/stage1/bin/rustc`, with either the `--version` or `--print cfg` options.  And I can do that on either 13.0-RELEASE or 14.0-CURRENT.  And I don't know very much about the toolchain's build process, so I'm kind of stuck right now.  Unless

[2022-05-05 17:19] jsgf commented on #73632
As an implementation detail, it would seem fine to use in the cases where weak symbols are not available, though it would obviously nicer to have a single mechanism rather than having to support two. I guess it depends on how common platforms without weak symbol support are? Oh, I guess that includes obscure little systems like Windows. Though maybe you could do something functionally equivalent a

[2022-05-05 18:06] jyn514 commented on #96633
Ah! It's quite possible the prebuilt llvm artifacts are broken, I don't think we've ever tested them on freebsd. @m-ou-se can you try disabling `download-ci-llvm` and see if it fixes the issue?

@rustbot label +A-rustbuild +A-llvm

[2022-05-05 18:16] notgull commented on #78485
Hmm… in regards to the "don’t want to be able to move the `ReadBuf` out through the mutable reference", I wonder if it would be possible to pin it, like we do with futures. That way, bytes can be written into it, but the buffer itself can’t be moved out.

[2022-05-05 18:21] matthiaskrgr commented on #96722
Ah right, apparently memory leaks are memory save. :upside_down_face:

[2022-05-05 18:21] #96722 closed

[2022-05-05 18:22] m-ou-se commented on #96633
That seems to work, except for https://github.com/rust-lang/rust/issues/96643. With https://github.com/rust-lang/rust/pull/96648 and `download-ci-llvm = false`, it works!

(Some std tests fail to compile though. But that's unrelated.)

[2022-05-05 18:24] asomers commented on #96633
So do we need to regenerate the artifacts, and if so how?

[2022-05-05 18:25] m-ou-se commented on #76915
Some of the standard library's tests do not compile on *BSD because of `AncillaryData` having a different definition that's missing the second variant on those platforms:

[code]

[2022-05-05 18:29] Alexendoo commented on #87793
No longer ICEs since #96546

[2022-05-05 18:29] jackh726 commented on #78915
Going to close this since NLL is tracked elsewhere.

[2022-05-05 18:29] #78915 closed

[2022-05-05 18:30] Wandalen commented on #48067
Me too encounter the problem. As workaround I used pattern `$Va : ident $( :: $Vb : ident )*` instead of `path`.

[2022-05-05 18:32] Darksonn commented on #78485
We can't use pinning because `Pin` allows [overwriting the value with a new one][1].

[1]: https://doc.rust-lang.org/stable/std/pin/struct.Pin.html#method.set

[2022-05-05 18:35] jyn514 commented on #96633
@asomers the artifacts are generated here: https://github.com/rust-lang/rust/blob/a7d6768e3b60209d4195c822ea3247482909b604/src/bootstrap/dist.rs#L2035
I don't know why they would be broken only on freebsd.

[2022-05-05 18:41] jackh726 commented on #58781
I've updated the op to include the latest potential blockers and added a tracking label to reflect that some impl work needs to be re. #73154.

[2022-05-05 18:42] asomers commented on #96633
But I mean from the command line.  What's the command to regenerate them?

[2022-05-05 19:09] m-ou-se commented on #76915
I'm starting to think that maybe we shouldn't have platform-specific APIs for tier 2 platforms. Those are not tested in CI. So in this case, the BSD platforms are the only ones where AncillaryData is an enum with a single variant. That leads to tons of errors in the tests, but is never tested in CI.

I'm opening a PR to disable this feature on BSD for now to get things back into a working state. I

[2022-05-05 19:15] m-ou-se commented on #96633
https://github.com/rust-lang/rust/pull/96742 removes the broken parts of std. With that patch, all tests pass again on freebsd.

[2022-05-05 19:18] SNCPlay42 commented on #96738
Minimal example (using `std` for the other crate):

[code]

Errors without ICE on stable and beta:

[code]

This probably regressed in #92569, which added the `expect_local` which is panicking (`DefId::expect_local` should probably be `#[track_caller]`...)

@rustbot label regression-from-stable-to-nightly

[2022-05-05 19:25] SNCPlay42 commented on #96739
I can't reproduce this ICE on the playground from the source given (even with `use std::io::Write; use std::fs::File;` added).

That said, given the panic message + backtrace (`DefId::expect_local` panic in `report_method_error`), this is *probably* a duplicate of #96738.

[2022-05-05 19:28] #95672 closed

[2022-05-05 19:28] #96453 closed

[2022-05-05 19:28] #96569 closed

[2022-05-05 19:32] GuillaumeGomez commented on #93058
@Folyd Now remains adding more eslint lints. Let's go one at a time. What do you think? If you're interested, just write down which one you're adding here so that we don't conflict. ;)

[2022-05-05 19:41] m-ou-se commented on #76915
This feature uses platform-specific `#[cfg]` attributes everywhere in its public API, which is something we currently cannot really do in the standard library. Right now we only expose such things through e.g. `os::unix` and through extension traits. Having extra methods appear on existing types on specific platforms, or having different definitions of the same enum on different platform is not so

[2022-05-05 19:43] eds-collabora opened #96743 "Invalid conflict between trait impls"
I tried this code:

[code]

I expected to see this happen:

Here these implementations do not conflict as I understand it, and not for any particularly subtle reason. Rust prohibits implementations of foreign traits for foreign types according to the nomenclature of [RFC 2541](https://github.com/rust-lang/rfcs/blob/master/text/2451-re-rebalancing-coherence.md). Now both `Trait1<MyLocalStruct,B>` a

[2022-05-05 19:52] jyn514 commented on #96633
There is not a simple way to do this. CI is running `x dist rust-dev` (essentially, along with other components), but I don't know how to replicate the way the archive gets uploaded than redownloaded. It might be as simple as extracting the archive it creates and putting it somewhere in `build/freebsd/ci-llvm`, but I don't know.

[2022-05-05 19:56] the8472 commented on #76915
I agree, the current state also has [other issues](https://github.com/rust-lang/rust/issues/76915#issuecomment-820682675)

Since the last PR (#82858) was closed due to inactivity it hasn't made any progress. It might be better to remove it and maybe develop it in `socket2` or as a separate crate instead and consider inclusion in std once it has been more polished.

[2022-05-05 20:05] the8472 commented on #76915
Also, which BSD exactly is it failing on? If it's freebsd then it might be because there's an open PR for that? #91793

[2022-05-05 20:21] Bytekeeper commented on #96417
This looks fine actually. What most likely happens in the case you expect to fail:
[code]

[2022-05-05 20:23] itaylor commented on #96001
I had this issue (missing `cc`) happen to me when trying to cross compile for an M1 Mac from an X86 machine.  I was able to fix it by switching the `docker buildx builder` to use the `multiarch/qemu-user-static` as described here: https://github.com/docker/buildx/issues/495#issuecomment-761562905.  For me, I think the issue is that the arm64 builder that comes out of the box with `buildx` has inco

[2022-05-05 20:23] the8472 commented on #96633
Have you tried applying #91793? That might fix the broken parts.

[2022-05-05 20:26] jyn514 commented on #96633
@the8472 that's fixing the network APIs - rustc doesn't ever touch the network, so that's unlikely to be the issue.

[2022-05-05 22:20] #87793 closed

[2022-05-05 22:33] nnethercote commented on #96721
A workaround to avoid this was added here: https://github.com/rust-lang/rust-clippy/commit/006282964f1e741a58c72d8e12f872bf5c227af9. I've added a comment on that commit suggesting a slightly cleaner fix.

[2022-05-05 23:15] nnethercote commented on #96305
@petrochenkov said the following in #96307:

[2022-05-06 00:17] aliemjay opened #96750 "GAT with HRTB yields weird inference errors."
I tried this code: ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c6770bcd61c964dafc6d39bf6f0baf60))

[code]
It fails type inference with the following error:
[code]

This is super weird because type paramters that don't appear in `Self` type of the impl are not expected to fail inference.
Surprisingly, removing `O` makes it pass:
[code]

### Meta

Nightly v

[2022-05-06 00:35] compiler-errors commented on #96750
It also compiles if we do:

[code]

[2022-05-06 00:39] compiler-errors commented on #96750
Also like most GAT issues, this seems to be an general underlying higher-kinded + associated types issue:

[code]

Also fails :sweat_smile:

[2022-05-06 00:42] aliemjay commented on #96750
Prior to #90887, this code is rejected as some form of HRTB projections bugs.

At present it is accepted with the following limitations:
 - This inference bug!
 -  Swapping the last two bounds makes it fail unconditionally. Reported in #96321.

It's not even obvious if the PR #90887 was intended to fix this use case!

[2022-05-06 00:45] compiler-errors commented on #96750
I'm actually surprised that this continues to be ambiguous even after #90887. I have been somewhat out of commission this past week, but I may find some time soon to investigate why this inference issue still persists.

[2022-05-06 00:48] jyn514 commented on #96176
Hi @ohno418, have you had time to work on this? Happy to help out if you're running into trouble :)

[2022-05-06 00:50] jyn514 commented on #95515
This is fixed since the beta bump; closing since it sounds like doctests aren't supported on stage 0.

[2022-05-06 00:50] #95515 closed

[2022-05-06 00:58] aliemjay commented on #96750
FWIW using `Fn` instead of `AsyncFn` works unconditionally even when swapping the order of the last two bounds:
[code]

[2022-05-06 00:58] jyn514 opened #96755 "Autogenerate config.toml.example from `src/bootstrap/config.rs`"
Right now, it's quite easy for fields in config.toml.example to get out of date, and even easier for the documentation to get outdated.
It would be great to autogenerate it from config.rs so that it's forced to be in sync. As a bonus, we could move the documentation to doc-comments so that people working on bootstrap itself can easily read it.

@rustbot label +C-enhancement +A-rustbuild +E-medium

[2022-05-06 01:21] skydig commented on #96394
@bjorn3  I tested under target,  "-Ctarget-cpu=e500"  works.
this issue can be closed.

[2022-05-06 03:31] ohno418 commented on #96176
Currently, I'm looking into the bootstrapping process. I'll ask you on Zulip about the details that I don't understand, maybe within a week or so.
Thanks so much for your concern, @jyn514 !

[2022-05-06 03:37] jyn514 commented on #78717
Ok, I dug quite a bit into this. The main issue is that clippy is trying to run tests against the sysroot of the *host* compiler, not the *target* compiler. In particular, test --stage 0 is failing because it's trying to use the .rlibs in stage0-sysroot, instead of stage1.

I fixed that. The problem now is that clippy wants to link to *its own dependencies* in tests. That doesn't work while bootst

[2022-05-06 03:55] Manishearth commented on #78717
Because clippy contains lints for working on clippy itself, and they need to be tested too

[2022-05-06 03:59] Manishearth commented on #78717
Also tbh my experience with rustc is that stage0 is basically _always_ useless and should never be used, so it doesn't seem too off for stage 0 to be useless for working on clippy. Maybe we can just disallow this for clippy.

note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace

worth noting, this error is kinda also because compiletest doesn't quite know what crates to li

[2022-05-06 04:04] jyn514 commented on #78717
@Manishearth the numbering for clippy is inconsistent with the numbering for the rest of the compiler. `test --stage 0` builds the compiler once; `test --stage 1` builds it twice. That's very painful when trying to iterate quickly.

That error up there is outdated, it was fixed by https://github.com/rust-lang/rust-clippy/pull/7631. The new error is
[code]
or something similar - I don't have the ex

[2022-05-06 04:15] jyn514 commented on #78717
This is hard to do, because cargo only allows one library per package, and doesn't allow building binaries without first building the library :( I guess we could hard-code the dependencies clippy uses in another package somewhere? nested workspaces are still a pipe dream unfortunately ...

[2022-05-06 04:27] luqmana commented on #96672
Looks like https://reviews.llvm.org/D119854 is the change where it starts failing.
Adding `-C llvm-args="-switch-range-to-icmp=1"` does seem to work around the crash.

cc @nikic

[2022-05-06 06:51] gimbles commented on #96739
![image](https://user-images.githubusercontent.com/93856041/167081332-fc5c118c-8524-4031-9be8-c0b31067c127.png)

I was not able to reproduce this ICE

# Meta
[code]

[2022-05-06 06:59] scottmcm opened #96762 "Tracking Issue for `Hasher::{write_str, write_length_prefix}` (`feature(hasher_prefixfree_extras)`)"
Feature gate: `#![feature(hasher_prefixfree_extras)]`

This is a tracking issue for the new provided methods on `Hasher` added to fix #94026

- `write_str` lets the hasher customize how it works with `str`, so it can use the `b'\xFF'` trick if it's byte-wise, or a different approach if it does chunked rounds.
- `write_length_prefix` gives an obvious choice when implementing `Hash` for collections

[2022-05-06 07:20] #64173 closed

[2022-05-06 07:20] #66152 closed

[2022-05-06 07:39] petrochenkov commented on #96305
After some thought, perhaps we should indeed land https://github.com/rust-lang/rust/pull/96307 to keep the old behavior at call site, until the definition site diagnostics (https://github.com/rust-lang/rust/pull/96307#issuecomment-1106629681) are actually implemented and turned into errors.

[2022-05-06 07:40] petrochenkov commented on #96305
This needs an open issue though, so it doesn't get lost.

[2022-05-06 08:10] nikic commented on #96672
IR: https://gist.github.com/nikic/66478e84510d35b763a6b99a2aefa508 Running this through `opt -O3` crashes with LLVM 14 but works fine on main, so this was apparently already fixed in the meantime.

[2022-05-06 08:27] #96394 closed

[2022-05-06 08:58] m-ysk commented on #95462
@rustbot claim

[2022-05-06 08:58] m-ysk commented on #96625
@rustbot claim

[2022-05-06 09:06] matthiaskrgr opened #96765 "debug assertion failure: self.reachable_blocks.contains(block) -Zvalidate-mir"
### Code

You need a rustc build with debug assertions enabled.

`rustc ./96172.rs  -Zvalidate-mir`

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-05-06 09:06] matthiaskrgr commented on #96765
<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-06 09:09] matthiaskrgr opened #96767 "debug assertion failure: debug_assert!(!erased.needs_infer(), "{:?}", erased);"
### Code
`./src/test/ui/hrtb/issue-94034.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc  ./src/test/ui/hrtb/issue-94034.rs   --edition=2021 --crate-type lib`
[code]

[2022-05-06 09:09] matthiaskrgr commented on #96767
<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-06 09:19] bjorn3 commented on #46437
Why would it result in much shorter build times? These shims are small compared to the rest of rustc and LLVM and work with precompiled LLVM distributions too, not just the rust fork of LLVM.

[2022-05-06 09:21] m-ysk commented on #48676
@rustbot claim

[2022-05-06 09:43] nikic commented on #96672
Bisect points to https://github.com/llvm/llvm-project/commit/857c612d899f271402470d4026d2e3be1dce53a4, which probably just hides the problem.

[2022-05-06 09:48] nikic commented on #96672
Ah no, I misread. That does look like the actual fix for the issue.

[2022-05-06 09:50] nikic commented on #96672
Filed backport issue: https://github.com/llvm/llvm-project/issues/55304

[2022-05-06 10:16] BoxyUwU commented on #89352
I think this isnt solely a gats issue you can reproduce it on stable [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e7028428396d59b5471e3604519f571e) This technically makes reverting the fix a breaking change since the fix hit stable, if you look at the playground you'll see that it compiles on stable but not on latest nightly

[2022-05-06 13:20] nikomatsakis commented on #73154
@Aaron1011 obviously I missed that message -- are you still interested? Can you schedule a slot at https://calendly.com/nikomatsakis to talk it through? I'll need to bring this back in cache.

[2022-05-06 13:57] jackh726 commented on #89352
uh oh

[2022-05-06 14:19] c410-f3r opened #96771 "Hidden type for `impl Trait` captures lifetime that does not appear in bounds"
[code]

Yet another problem related to `'static` and `async` but this time `impl Trait` is involved somehow. Funny enough, the error goes away when the number of arguments is decreased to 2 instead of 3.

[code]

It is worth noting that a different error arises when the return is not `'static`.

[2022-05-06 14:36] pnkfelix commented on #44663
Visiting during T-compiler backlog bonanza.

It would be nice if it had a S-tracking-* label that reflected its status.

Hey @rust-lang/cargo , do you think this can be tagged with S-tracking-unimplemented? Or should it be classified as S-tracking-design-concerns?

[2022-05-06 14:49] pnkfelix commented on #44690
visiting for backlog bonanza.

It seems like as of end of 2019, there was still some remaining work to be done here.  It is not super clear *what* remains to be done.

For now, marking with implementation unfinished.

@rustbot label: S-tracking-impl-incomplete

[2022-05-06 14:53] #59159 closed

[2022-05-06 14:53] #56254 closed

[2022-05-06 14:53] rust-highfive opened #96773 "`miri` no longer builds after rust-lang/rust#96268"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#96268, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @jackh726, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-05-06 14:53] pnkfelix commented on #44762
visiting for T-compiler backlog bonanza.

Its awesome that @peckpeck picked up the ball and ran with it here, as evidenced at https://github.com/peckpeck/rust/tree/autoref_op

But, since nothing has landed in tree yet, we still want the tracking issue's status label to reflect that. (@peckpeck , feel free to reach out if you need help turning your branch into a PR.)

@rustbot label: S-tracking-uni

[2022-05-06 15:02] pnkfelix commented on #46437
Visiting for T-compiler backlog bonanza.

Seems like a good list (if long) of relatively simple tasks.

@rustbot label: S-tracking-impl-incomplete

[2022-05-06 15:31] JohnTitor commented on #95866
The libc version has been updated in https://github.com/rust-lang/rust/pull/96510, closing as fixed.

[2022-05-06 15:31] #95866 closed

[2022-05-06 15:53] LifeIsStrange commented on #93740
@m-ou-se @Amanieu

So, has there been benchmarks over parking_lot *word lock* vs futexes vs SRW locks?
(I have already seen the surprisingly good results microbenchmarking the 2 bit lock vs the futex lock (although I feel like more diverses patterns of usage would be great))

Also, note that futex V2 is a thing since linux 5.16
https://www.phoronix.com/scan.php?page=search&q=FUTEX2
I wonder if you

[2022-05-06 15:57] #96716 closed

[2022-05-06 16:13] yurivict opened #96779 "rust fails to build the Solana project with the error: cannot find struct, variant or union type `in_pktinfo` in crate `libc"
[Solana](https://github.com/solana-labs/solana) project version 1.10.12 build failure:

[code]

rust-1.60.0
OS: FreeBSD 13

[2022-05-06 16:24] liuw commented on #96779
This looks like a problem with the `libc` crate, not the compiler itself.

I think this should go to https://github.com/rust-lang/libc.

[2022-05-06 16:26] yurivict commented on #96779
https://github.com/rust-lang/libc/issues/2781

[2022-05-06 16:26] #96779 closed

[2022-05-06 16:32] FibreFoX commented on #79640
@rich-g Nope, still the same issue. Retried on a fresh install of the whole system (Bullseye-based raspbianOS ... whatever its called) and got the same output:
[code]

versions:
[code]

[2022-05-06 17:13] gimbles commented on #96577
@rustbot claim

[2022-05-06 17:29] slanterns commented on #93740
Kernel 5.16 only brings `futex_waitv`, which might not be so useful here. The variable sized (u8 / u16 / u32 / u64)  futexes (and NUMA-awareness) have not been implemented yet.

[2022-05-06 17:54] aliemjay commented on #96767
Typo in issue number: It should be #95034. cc #96783.

FWIW, not all the repros of the issue passes through this `debug_assert`. Indeed, only the original one does. Other repros fails on other related non-debug assertions.

[2022-05-06 17:59] aliemjay commented on #96767
@matthiaskrgr  Is this ticket necessary? given that this is `known-bug` test and the issue for it is open.

[2022-05-06 18:19] compiler-errors commented on #96767
Whoops.

[2022-05-06 18:20] jyn514 commented on #96176
@ohno418 here are some existing resources on how bootstrapping works: https://discord.com/channels/442252698964721669/487245758739906560/964730715222732800
I will try to write this up into a proper README at some point.

[2022-05-06 18:24] compiler-errors commented on #96767
Yeah, I'm going to close this as this debug assertion failing is a symptom of the underlying issue that this test is tracking. @matthiaskrgr, let me know if that's not fine.

[2022-05-06 18:24] #96767 closed

[2022-05-06 18:26] ridwanabdillahi opened #96786 "Perf regression caused by initial support of RFC 3191"
Spawned off of https://github.com/rust-lang/rust/pull/91779#issuecomment-1118750857 . The perf run shows a noticeable regression after the initial round of changes to implement [RFC 3191](https://github.com/rust-lang/rfcs/pull/3191).

This issue is meant to track resolving the perf regression, so it doesn't get lost in the noise.

@rustbot claim

[2022-05-06 18:32] aliemjay commented on #96771
This is #63033.

A workaround exists that shouldn't change the semantics of the function:
[code]

@rustbot label T-compiler A-async-await

[2022-05-06 18:42] lqd commented on #96319
@Aaron1011

[code]

Steps: `cargo check`, then rename the `stmt_tag` field, now `cargo check` will ICE.

[2022-05-06 18:58] c410-f3r commented on #96771
Oh, this is indeed #63033. I could swear the error message was different, bad.

Closing as duplicated but the the successful compilation of 2 or less arguments is still a bit strange

[2022-05-06 18:58] #96771 closed

[2022-05-06 20:04] daym opened #96787 "empty expansion of a macro pattern does not cause the comma-separated repetition expander to omit the comma"
I tried this code:

[code]

I expected to see this happen:

Since the expansion of the `$(...)?` and `$field_meta` is the empty expansion, I would have expected the `$(...),*` not to add a comma.

Instead, this happened:

It added a comma even though there was no expansion.

After that, the Rust compiler said:
[code]

[2022-05-06 20:25] matthargett commented on #79649
Looks like this feature was released in LLVM 12.0.0:
https://releases.llvm.org/12.0.0/docs/CoverageMappingFormat.html

14.0.0 was released 2022 March. Similar to the approved suggestion in other issues, where it was decided that an LLVM 11 feature could be used once LLVM 13 was released, could the requirement for code coverage working now be LLVM 12?

I see the original umbrella tracking issue for

[2022-05-06 20:27] jackh726 commented on #89352
@craterbot run name=92191_revert mode=check-only start=master#4c60a0ea5b2385d7400df9db1ad04e96f2a4c154 end=master#bdcb6a99e853732f8ec050ae4986aa3af51d44c5

[2022-05-06 20:28] Badel2 commented on #96225
So I accidentally closed this issue by adding the words "may fix #96225" to the pull request description, but fortunately it looks fixed, as you can see thanks to the glacier bot.

[2022-05-06 20:30] #89600 closed

[2022-05-06 20:44] Badel2 commented on #96703
Unable to reproduce:

[code]

Maybe it's an issue related to the x86_64-apple-darwin target?

[2022-05-06 21:53] Wardenfar commented on #96787
Your macro declaration is incorrect.
In the pattern part of the macro, `$field_name` is at the 2nd level of "$ scopes", but in the replacement part of the macro :  `$field_name` is at the 3rd level of "$ scopes".

`$($field_name : $getter_ty)?`
This part mix 2/3 level, and that's why you are maybe confused.

When the compiler sees the field b without a `: get <type>` part.

`$field_name` has a val

[2022-05-06 21:59] richkadel commented on #79649
I should have posted this comment a while ago. (It was discussed when upgrading the coverage mapping format to version 6, in PR #91207).

Before anyone puts much effort into implementing LLVM "branch coverage", I recommend writing a test program that demonstrates where the existing Rust coverage region report would be improved with branch coverage. It's possible that branch coverage adds no value.

[2022-05-06 22:32] nbdd0121 commented on #96728
I did some more experiments and am now very confused by the situation:
[code]

Some questions: why does the third match arm of `opt_const_param_of` force a typeck, but not the first match arm? I think we should only need info from typeck if for the type dependent case?

[2022-05-06 22:32] LyricLy opened #96791 "Misleading error for missing comma/semicolon in array literal"
Given the following code: [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=fe39659ce1a843c7ead370daa0e36414)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

The error implies that `;` is the only valid token at the end of the second line, and that the third line is being considered a separate statement from the second line,

[2022-05-06 22:41] #96623 closed

[2022-05-06 22:41] #96681 closed

[2022-05-06 22:41] #94641 closed

[2022-05-06 22:41] #96291 closed

[2022-05-06 22:59] lukas-code opened #96793 "`#![feature(default_alloc_error_handler)]` caues linker error for target `x86_64-unknown-uefi`"
Using the feature `default_alloc_error_handler` in combination with the x64 UEFI target causes a liker error on the symbol `rust_oom`.

I tried this code:

[code]

compile with:
[code]

I expected the code to compile.

Instead, I get the following linker error:
[code]

Using `#![feature(alloc_error_handler)]` with an error handler like this compiles as expected:
[code]

### Meta

`rustc --version

[2022-05-06 23:20] nico-abram opened #96794 "Tracking issue windows_process_extensions_cur_creation_flags"
Feature gate: `#![feature(windows_process_extensions_cur_creation_flags)]`

This is a tracking issue for a new `current_creation_flags(&self)` function on CommandExt for windows.

On windows, std currently has a [creation_flags](https://doc.rust-lang.org/std/os/windows/process/trait.CommandExt.html#tymethod.creation_flags) method on Commands to set creation flags. However, if a rust library needs

[2022-05-06 23:20] daym commented on #96787
Yes, I want the entire text `b: u32,`  to be replaced by nothing (in the case of a missing getter).

But if the $(...)? is not present, neither the $field_name nor the $getter_ty gets put, right?

You make it sound like `b:` still gets put in the case of $()? having 0 matches. Are you sure that's the case?

The goal is this:

I want Rust to create a struct with all the pub fields:

[code]

but ins

[2022-05-06 23:21] estebank commented on #96295
I think the only short term solution we can have here is not to emit the suggestion at all for these cases. A generalized solution to provide the right suggestion might require some more extensive development work than I can tackle at the moment.

[2022-05-07 00:05] aruiz opened #96796 "Building fatfs crate for the powerpc-unknown-linux-gnu target with default-features = false crashed the compiler"
### Code

I just imported the fatfs crate [from master(87fc1ed5)](https://github.com/rafalh/rust-fatfs/tree/87fc1ed5074a32b4e0344fcdde77359ef9e75432) and tried to build it agasint the powerpc-unknown-linux-gnu target

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-05-07 00:11] Wardenfar commented on #96787
The reference says :

And if I understand correctly : one of them is present, so the scope is not ignored. (repeated 1 time)

[Rust Reference : Macros Repetitions](https://doc.rust-lang.org/stable/reference/macros-by-example.html#repetitions.).

After this, i can't help much more :)

[2022-05-07 00:16] zamazan4ik commented on #90522
I guess I got the same error:

[code]
I got this error with Thin LTO + PGO. Switching to Fat LTO + PGO works fine.

Rust version: 1.60

[2022-05-07 00:17] Wardenfar commented on #96787
Nevermind, i made it work by moving the comma in the $ scope.
You were right.

[code]

[2022-05-07 00:27] daym commented on #96787
The problem with that is that if there's a field with meta and without get, then it will still output the meta and then that will apply to the next field.

For example

[code]

With your variant, the following gets output:

[code]

This is very very bad for my purposes.

[2022-05-07 00:41] Wardenfar commented on #96787
Ok, I don't know how to solve this problem with declarative macros.
You should consider using proc-macros. #[derive(****)]
So this is not a bug. Maybe close this issue ?

[2022-05-07 00:47] daym commented on #96787
I think emitting an extra comma between nothing is a bug.

Doing so doesn't seem like something `$(...),*` should be doing--after all, that's why there is a special comma form in the first place.

[2022-05-07 01:04] Wardenfar commented on #96787
`cargo expand` show the result after expansion, but in this case the expansion failed, `cargo expand` cannot print anything.

[2022-05-07 01:11] #96319 closed

[2022-05-07 01:20] nbdd0121 opened #96797 "Functions referenced by `global_asm` merged into other functions by LLVM"
[code]
This code will fail to link because `foobar` is merged into `my_func`.

Since global asms in LLVM can't reference symbols natively, we currently will add the mangled name to the string and pass it to LLVM. To prevent the file being optimized away, we add it to `llvm.compiler.used`.

A few issues exist:
* `rustc_monomorphize` does not handle these functions specially, and therefore `foobar`

[2022-05-07 01:21] daym commented on #96787
What do you use in such a case to find what it did?

[2022-05-07 02:17] jyn514 opened #96799 "Don't print name resolution errors if a crate fails to load"
Given the following code: https://github.com/rust-lang/rust/pull/96798/commits/7342286b66e8fa069dc942e783adb1641438f27c

The current output is: several hundred thousand lines long. https://github.com/rust-lang/rust/runs/6331341497?check_suite_focus=true#step:26:783

Ideally the output should look like: not that. Just the errors about crate loading:

[code]

The failures from name resolution are al

[2022-05-07 02:26] QuineDot commented on #57900
[The original example can be worked around](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=8024cb31819400a9a46daabed4ebdcb2) with the [trivial bounds RFC](https://github.com/rust-lang/rust/issues/48214) (you still cannot call the implementation).

That said, I still feel that the approximation of using `Sized` instead of some `NotDyn` trait should be fixed; said trait cou

[2022-05-07 03:53] Folyd commented on #93058
I just file a new PR to change the way we declare the lint rules. https://github.com/rust-lang/rust/pull/96805
This can eliminate repeatedly rules declaration if we need to add further lint rules.

[2022-05-07 04:32] ohno418 commented on #96176
Thank you! I'll check it.

[2022-05-07 04:32] jyn514 commented on #96799
I tried this diff:
<details>

[code]

</details>

which I think would work, and additionally have the benefit of aborting early soon after `compile_error!`s are emitted and before type checking / late resolution. But fixing all 200 tests that fail (and making sure they keep the original meaning) is going to be a pain.

cc @petrochenkov - before I spend more time on this, do you think it's a good i

[2022-05-07 06:22] RalfJung commented on #96773
Why did this get closed? https://rust-lang-nursery.github.io/rust-toolstate/ says Miri is still broken.

[2022-05-07 06:30] #96583 closed

[2022-05-07 06:30] #96738 closed

[2022-05-07 06:33] jackh726 commented on #96773
Oh whoops. I misinterpreted the PR linking to this.

[2022-05-07 08:42] SephVelut opened #96809 "closure causes panic"
Change title if you understand this panic more descriptively.

[code]

I don't really know how to minimize this example.

[code]

`cargo test`

[code]

[2022-05-07 08:52] TonalidadeHidrica opened #96810 "Non-last field of generic struct without appropriate trait bound causes confusing hint about dynamically sized field"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

The wrong hint was reproduced in both stable and nightly.
Removing `a: u32` ceases the wrong hint, so this seems to be an issue for non-last field.
Replacing `T::Assoc` with `T` also gets rid of the misleading suggestion, which implies that this issue is related to associated types.

[2022-05-07 09:11] #95994 closed

[2022-05-07 09:50] JohnTitor commented on #96809
Should be a duplicate of #96738.

[2022-05-07 09:53] JohnTitor commented on #96796
Possibly a duplicate of #95538, could you try updating to newer nightly?

[2022-05-07 10:25] RalfJung commented on #96185
@oli-obk

`size` here is already [rounded up to the alignment](https://github.com/rust-lang/rust/blob/fe49981ea0069f6b89e4511d5de92b7027d9b688/compiler/rustc_middle/src/ty/layout.rs#L1237), so this is not the place where the alignment check is missing.

I am not sure where is the right place though...

However, I also cannot see any code in the enum path that would take into account `repr().align`

[2022-05-07 10:38] RalfJung commented on #96185
Actually the problem is the fix for https://github.com/rust-lang/rust/issues/92464 (the same code as this problem^^): that introduced the ` || variants.iter().all(|layout| layout.is_empty()) ` branch, which uses scalar layout even when it should not be used.

[2022-05-07 11:00] RalfJung commented on #96185
This is quite interesting, and I am not sure what to do.
The problem is that
- on the one hand, `Aligned` must have `Aggregate` layout since it has padding.
- on the other hand, since this enum has explicit discriminants, parts of the compiler expect that they can `read_immediate` on it, which means it must have `Scalar` layout.

It is impossible to satisfy both of these constraints together. @oli

[2022-05-07 12:25] RalfJung commented on #96185
(Digging a bit deeper) it's not [just] about having explicit discriminants, but rather that enums can be the input to a cast and cast values are expected to be represented as immediates.

Allowing `repr(aligned)` on enums looks like a mistake... (we disallow `repr(packed)`, FWIW)

[2022-05-07 13:15] petrochenkov commented on #96799
I don't think that's a good idea.

In cases like
[code]
we should already skip the error on `import::y` specifically.
If that doesn't happens in some cases then we should fix it.

Unresolved names in https://github.com/rust-lang/rust/runs/6331341497?check_suite_focus=true#step:26:783 mostly come from the standard library prelude.
It means the standard library specifically is not found, not some ra

[2022-05-07 13:17] RalfJung commented on #96221
An alternative fix suggested by @eddyb would be to not support `operand_downcast` in the interpreter, and instead force an allocation. That is what codegen does.

However, if we want to be able to check that an operand is valid at its type, then we have to be able to downcast operands. I am not sure how we could avoid this. Basically operands should be closed under "looking into" the value and tak

[2022-05-07 14:02] aruiz commented on #96796
Indeed, all fixed, thanks!

[2022-05-07 14:05] JohnTitor commented on #96796
Great, closing as fixed.

[2022-05-07 14:05] #96796 closed

[2022-05-07 14:35] RalfJung commented on #83116
Is there an issue tracking the mixed panic mode problem? That certainly needs to be tracked somewhere.

[2022-05-07 14:47] Wandalen opened #96817 "`trace_macros` does not work properly if it in a file behind `include!()`"
Is that known bug?

[2022-05-07 15:11] eddyb commented on #96221
I do not particularly prefer the current situation with codegen, I only brought it up as an explanation for why it's generally unaffected by such inconsistencies.

It would IMO be preferable to have discriminant reads/writes and downcasts (and, eventually, field writes, not just reads) working in codegen on scalars (and pairs thereof).

So definitely don't limit/deoptimize miri on my account, thou

[2022-05-07 15:55] cdmistman opened #96818 "ICE with macro defining invalid enum that derives a trait"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-07 15:55] #96773 closed

[2022-05-07 16:45] joshtriplett commented on #76915
I do care about the state of this API, and I'm in particular quite interested in the fd-sending mechanism.

It's certainly a good candidate for using whatever new `where Os: Unix` mechanism or similar that we introduce in the future.

[2022-05-07 17:14] frederikhors commented on #91930
I'm new to Rust. I'm using rust 1.60.0.

I'm trying to use this code:

[code]

but I'm getting this error:

[code]

Can you help me understand what's wrong with it?

[2022-05-07 17:24] frederikhors commented on #48952
I'm new to Rust. I'm using rust 1.60.0.

I'm trying to use this code ([PLAYGROUND HERE][1]):

[code]

but I'm getting this error:

[code]

Can you help me understand what's wrong with it?

  [1]: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&code=pub%20const%20VERSION%3A%20%26%27static%20str%20%3D%20option_env!(%22VERSION%22).unwrap_or_else(%7C%7C%20%22dev%22)%3B%0A%0Afn%20mai

[2022-05-07 17:33] RalfJung opened #96821 "Strict provenance naming bikeshed"
This is a sub-issue of https://github.com/rust-lang/rust/issues/95228, dedicated to bikeshedding about the names of the strict provenance operations, in particular the ones currently called `expose_addr` and `from_exposed_addr`. Quoting from that issue:

[2022-05-07 17:33] RalfJung commented on #96821
Hm actually let's do this on Zulip.

[2022-05-07 17:33] #96821 closed

[2022-05-07 17:35] RalfJung commented on #95228
All right, here's the [Zulip topic for that](https://rust-lang.zulipchat.com/#narrow/stream/213817-t-lang/topic/Strict.20provenance.20naming.20bikeshed).

[2022-05-07 18:57] BatmanAoD commented on #83116
I suppose not. For stabilization I think we're fairly set on just making it
(documented) UB to have an unwind cross a mixed-panic-mode boundary, but it
does seem worth tracking as a potential future improvement.

On Sat, May 7, 2022, 8:35 AM Ralf Jung ***@***.***> wrote:

[2022-05-07 19:27] RalfJung commented on #83116
(documented) UB

Oh, I didn't know that. We don't have a lot of "language primitive" UB so we should be careful here. I don't have a strong opinion on this particular one, but I think we should ensure that
- Miri can detect it
- it gets added to https://doc.rust-lang.org/reference/behavior-considered-undefined.html (it already talks about unwinding but this specific case seems different)

Also, is

[2022-05-07 20:38] scottmcm commented on #83701
@rfcbot reviewed

I think having a way to write "*can't* turbofish this" generic parameters is really handy for API design (https://github.com/rust-lang/rust/pull/91970#discussion_r866446507, https://github.com/rust-lang/rust/pull/94119#discussion_r815334382), so let's do this!  And I haven't seen anyone come up with a good way to do the "move to APIT without breakage" idea, so I'm ok sacrificing

[2022-05-07 20:59] oli-obk commented on #48952
The diagnostic should actually just tell you that the function is not a const fn. But we messed up a bit, so you get a different error first. You just can't do this yet that way, you have to match manually and implement the some and none arms of the match yourself.

[2022-05-07 21:02] matthiaskrgr opened #96826 "x.py clippy no longer works?"
I used to be able to `x.py check ; x.py clippy` but clippy no longer displays any warning? :confused:

[code]

[2022-05-07 21:16] Mark-Simulacrum commented on #96826
cc @jyn514

Might be related to https://github.com/rust-lang/rust/pull/96003/files#diff-6e3c7e8b58a9a198adc885bced48fff2c5fd9a1ee126ccce52166476a536807fR631 -- but that seems like an older change that would've probably been noticed by now.

[2022-05-07 21:19] Mark-Simulacrum commented on #96826
Yeah, I suspect Clippy and Fix should not have been moved to the dummy no-op block there. I'm not seeing special handling for them other than in check.rs, so it seems reasonable to assume they should be threaded into the check steps.

[2022-05-07 21:20] djmcgill commented on #63291
Okay, that's a surprising result to me, that that copy from stack does indeed get optimised out on release builds (but not debug builds).

Just as a sanity check, [so does the copy from `Arc::new(MaybeUninit::uninit())`](https://rust.godbolt.org/z/cMnaKhhhW) (and similarly for `Box` and `Rc`, which I understood the whole point of this PR as trying to avoid. Has LLVM just done the optimisation on t

[2022-05-07 21:46] matthiaskrgr commented on #96826
can confirm that https://github.com/rust-lang/rust/pull/96003 broke it :/

[2022-05-07 21:57] Mark-Simulacrum commented on #96826
Happy to r+ a PR fixing this - I think it should be a matter of moving the Clippy and Fix kinds back to the check arm of that match.

[2022-05-07 23:12] spastorino commented on #95307
I'm working on a return position impl traits change that is going to make it easier to lowering return position impl traits in traits and that would make async fns in traits easy. All this is in my todo list. I should be able to accomplish some of these things soon.

@cjgillot not sure if you were going to work on this, but we can talk about this in Zulip if you want.

[2022-05-08 00:07] fee1-dead commented on #91930
You could use `.unwrap_or`:

[code]

Ideally the errors message should be improved. I will work on that.

[2022-05-08 00:14] frederikhors commented on #91930
`unwrap_or` doesn't work.

[2022-05-08 00:23] fee1-dead commented on #91930
Hmm. Are you using nightly? If you aren't using nightly, none of these would work.

[2022-05-08 00:24] frederikhors commented on #91930
1.60.

[2022-05-08 00:25] frederikhors commented on #91930
I fixed with:

[code]

[2022-05-08 00:57] #69785 closed

[2022-05-08 00:57] #96327 closed

[2022-05-08 01:21] Aaron1011 commented on #96655
@bbigras - Can you share the repository where this happened?

[2022-05-08 02:00] JohnTitor commented on #96809
@SephVelut Could you try using the latest nightly?

[2022-05-08 02:05] SephVelut commented on #96809
@JohnTitor Looks fixed with compile error now on latest.
[code]

[2022-05-08 02:05] #96809 closed

[2022-05-08 02:11] JohnTitor commented on #96739
The correct MCVE is:

[code]

and confirmed that the latest nightly no longer causes an ICE, so yes, this is a duplicate of https://github.com/rust-lang/rust/issues/96738. Closing as duplicate/fixed.

[2022-05-08 02:11] #96739 closed

[2022-05-08 05:38] wishawa opened #96831 "GAT lifetime bound error when using Self::Associated<'a> but works when the associated type is written out."
### I tried this code
[playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=44c33b66ae0efe73409bcf1de3cb7b2c)

<details><summary>also pasted here</summary>

[code]

</details>

### I expected to see this happen
The code compiles fine.

### Instead, this happened
The code does not compile. Error E0311.

### Workaround
Writing out the associated type (as done on

[2022-05-08 07:35] RalfJung commented on #71117
Yeah but I don't see how that helps for [this optimization](https://github.com/rust-lang/rust/issues/71117#issuecomment-864592461). We cannot declare `_1` dead before the call since it is used as an argument to the call.

[2022-05-08 08:37] JakobDegen commented on #71117
We can declare the order to be:

 1. Argument values are computed (via a load in the case of `move` arguments)
 2. Control flow enters the callee
 3. The callee allocates memory for the parameters
 4. The parameter values are stored to the new allocations

In that case the optimization is allowed because the parameter allocations are not live until after the last step, and the argument allocations

[2022-05-08 08:45] #96456 closed

[2022-05-08 08:47] RalfJung commented on #71117
We should be able to directly represent this in the MIR though, by placing a `StorageDead` in a suitable location -- which seems hard with this proposal?

[2022-05-08 08:55] rbtcollins commented on #45591
Rustup improved decompression performance by reading in with 8MB buffers.

The underlying devices - spinning disks, network file systems, and NVMe/SSD's have varying tradeoffs, but can for instance handle large amounts of simultaneously dispatched requests, giving a latency mitigation: rather than CPU -> bus, device, response, and back for *each call*, the OS will do:
CPU -> request-splitting -> d

[2022-05-08 09:49] hussein-aitlahcen commented on #96486
Experiencing the same issue with similar profile targeting uefi

[2022-05-08 10:49] jonay2000 opened #96834 "Unhelpful suggestions trying to use array::set"
Given the following code:
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0eb1e294409a320c014ebbe08444c14d)
[code]

The current output is:

[code]
![image](https://user-images.githubusercontent.com/22172241/167292580-c0fa394a-a4d7-4628-9255-fc5bb82fee1a.png)

I don't think suggesting to use Pin here helps users. I tried to use set, since there's also a get so i

[2022-05-08 11:12] #90679 closed

[2022-05-08 13:06] aliemjay commented on #95331
A workaround:

[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=442fcaf520e2f3fdfb2b515ae2f791bb

[2022-05-08 13:09] Misaka299 opened #96836 "about r"#![windows_subsystem = "windows"]" and Window administrator identity inheritance"
(The r# in the title is a joke.)

The first is my environment.

toolchain version:rustc 1.58.0 (02072b482 2022-01-11)
IDE name and version:CLion 2022.1 Build #CL-221.5080.224, built on April 14, 2022
Operating system:win 10

Then look at the sample code below.

main.rs
[code]

[code]

Running this code creates a `bat` file and executes it.
With Windows 10's default security policy, administrator p

[2022-05-08 13:16] aliemjay commented on #95331
Another manifestation of the same problem:
[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=99ec21946e2afbb7926422c658917d92

[2022-05-08 13:32] #96688 closed

[2022-05-08 13:33] aliemjay commented on #96465
A workaround from #96831 :

[code]

[2022-05-08 13:43] aliemjay commented on #96831
This is the same as #96465. I've documented the workaround of writing the associated type explicitly there. @wishawa you may want to close this to avoid duplicate issues.

@rustbot label T-compiler F-generic_associated_types A-lifetimes A-associated-items

[2022-05-08 13:53] udoprog commented on #96465
@aliemjay that is... actually a workable solution (all though patch is backwards ;)! Thanks!

[2022-05-08 14:28] #96831 closed

[2022-05-08 14:58] bbigras commented on #96655
It's https://github.com/bbigras/async-graphql-900 but I can't reproduce at will.

Note that I created this repo to try to reproduce a weird lifetime bug I had with async-graphql (see https://github.com/async-graphql/async-graphql/issues/900).

[2022-05-08 17:39] JakobDegen commented on #71117
Oh hmm, I see what you mean. My assumption had been that with this proposal we can basically get rid of `Storage*` statements and just replace them with liveness analysis, but that's not quite true; it's only the case at MIR building time.

[2022-05-08 19:08] #93586 closed

[2022-05-08 19:54] scottmcm commented on #95484
Closing as the PR was closed.

[2022-05-08 19:54] #95484 closed

[2022-05-08 20:16] Badel2 opened #96847 "internal error: entered unreachable code: in literal form when lowering mac args eq"
I'm seeing an internal compiler error on the following input, found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc):

### Code

[code]

### Error output

[code]

This is not unique to `doc` attributes, it can be replaced by any other name, but I used `doc` in the example because I know it is imported by default. Affected versions: nightly 2022-05-07 is affected, but beta 1.61.0-beta.5 and

[2022-05-08 20:25] matthiaskrgr opened #96848 "weird warning diagnostic when nesting panics: unreachale nested panic is not unreachable"
[code]

The current output is:

[code]

It looks like rustc is telling me that the `panic!("unreachable")` is unreachable, but when running the code, it is actually executed:
[code]

[2022-05-08 22:16] matthiaskrgr opened #96851 "using const &str as format "literal"?"
I wonder if at some point we could support using a `const &str`  as format `literal`, sorta like this:

I thought that it would simply get inlined but that probably happens way after macro expansion etc..?

@oli-obk  do you think this is something that is technically possible? :D

[code]

[2022-05-08 22:56] Amanieu commented on #96797
I *think* `llvm.compiler.used` should be enough to ensure that the symbol reaches the linker even through LTO. So really the only thing to do is change the symbol visibility. This isn't ideal though since we *don't* need this symbol to be exported outside the current compilation unit, it's just that LLVM is unable to see the use of the symbol.

[2022-05-08 22:58] Amanieu commented on #96797
It could be argued that this is actually an LLVM bug since `internal` linkage is supposed to preserve the symbol name in the object file:

[2022-05-08 23:06] nbdd0121 commented on #96797
I had to have 1af3e0a65e5c390ce46c4be9d3b9132768278ce9 to prevent `#[used]` from being thrown away.

[2022-05-08 23:18] nbdd0121 commented on #96797
Anyway, the biggest issue is the `internal` linkage, which is wrong anyway if the global asm and the referenced symbol are not in the same CGU. Given that currently both `exported/linked_symbol` and the linkage computation comes from the same source of truth `reachable_non_generics`, a potential fix should be able to address all issues simultaneously.

[2022-05-08 23:58] #96555 closed

[2022-05-08 23:58] #96654 closed

[2022-05-08 23:58] #96826 closed

[2022-05-09 02:25] #94953 closed

[2022-05-09 03:18] aadog opened #96855 "Re-export symbols recursion occurs"
I tried this code:

[code]

I expected to see this happen: *explanation*

Export normally in cdylib mode

Instead, this happened: *explanation*

Re-export symbols recursion occurs

### Meta

`rustc --version --verbose`:
[code]

<details><summary>
cdylib compilation
</summary>
<p>

[code]

</p>

</details>

[2022-05-09 03:32] hustcer commented on #86319
Good point !

[2022-05-09 04:30] matthiaskrgr opened #96857 "ICE: no MIR available for DefId"
### Code
When running `x,py clippy` clippy calls rustc on `rustc_tools_util` while checking its own code, and rustc chokes somehow.
I have been able to reproduce this with standalone `rustc_tools_util` for some reason.
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-09 04:47] #96577 closed

[2022-05-09 05:12] jyn514 commented on #90244
This is kind of tricky to fix, because everywhere in bootstrap that touches `self.rustc` or `self.cargo_out` suddenly needs to know whether those artifacts actually exist or whether we're reusing the ones from stage 1. I think a simpler fix is just to avoid assembling the sysroot for stage 3 and up.

[2022-05-09 05:22] jyn514 commented on #90244
That won't actually help with #96798 though :( but as I posted on that PR, I think we should never be trying to use the stage 3 sysroot anyway.

[2022-05-09 05:57] jyn514 commented on #96799
@petrochenkov here is a more realistic case:
[code]
That gives an error about code that would be correct if the import were resolved:
[code]
I've seen this happen for things besides glob imports in the past but I don't remember them off the top of my head; I'll post here if I come across one.

[2022-05-09 06:00] jyn514 commented on #96799
Oh, here's another good one: when macros fail to expand, you get cascading errors about the items that they fail to define. https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b1a05f74b54686ec591b0782ce07a4ac
[code]

[2022-05-09 06:18] zirconium-n commented on #96743
Just for the record. You can write `impl Trait2<MyLocalStruct, Foo> for Vec<Foo> {}` if `Trait2` and `MyLocalStruct` are both public.

[2022-05-09 06:35] oli-obk commented on #96851
technically possible? Yes.
practically possible? No.

The main problem is that if we move away from making this all macro magic and instead make it some roundabout const eval thing, then we can't do `"this is a test: {a}, {b}"` anymore, even if specified inline. Of course we could make it that we fall back to the const eval thing only if the format literal is not actually a literal, but then we ha

[2022-05-09 06:39] bentongxyz commented on #96341
Hi, may I ask if this is currently being worked on? I would like to give it a try if not!
Thank you!

[2022-05-09 06:42] anisse commented on #88494
At least on Linux, this wouldn't match the underlying syscall behavior. The setsockopt SO_LINGER needs a duration when linger is enabled. Otherwise what would be the default value ? Would enabling mean two syscalls ? I think the way the nightly rust api is currently designed is a better match to linux semantics.

[2022-05-09 06:57] krasimirgg commented on #81490
@petrochenkov : Consider a case where an rlib depends on multiple native libraries, which themselves depend on each other, say rlib `r` depends on `libnative1.a` which itself depends on `libnative2.a`. My understanding is that while building `r`, we'll supply its native dependencies in the expected relative linker order, e.g., `rustc -o r.rlib ... -lstatic:-bundle=native1 -lstatic:-bundle=native2

[2022-05-09 07:20] gimbles commented on #96755
Sorry, what does "out of date" mean in this context?

[2022-05-09 09:01] gimbles commented on #96817
Hey @Wandalen! 👋🏻

Can you please provide additional information so we could have a clearer understanding of what you mean, Thanks!

[2022-05-09 09:28] hellow554 commented on #96855
Can you elaborate your issue further? I get the following error message:

[code]

this seems correct, doesn't it?

[2022-05-09 10:05] hellow554 commented on #96818
Probably a duplicate of https://github.com/rust-lang/rust/issues/81920

[2022-05-09 10:07] hellow554 commented on #96818
Quick question: is this a real world code or just messing around? Because the other one was found using a fuzzer which produces *some*  code and is typically not a high priority.
If your code is from some code you wrote, the priotity might be increased.

[2022-05-09 10:28] petrochenkov commented on #81490
@krasimirgg

Yes, in practice.
See https://github.com/rust-lang/rust/issues/96328 for some discussion about documenting it.

[2022-05-09 11:37] jyn514 commented on #96755
@gimbles Say someone adds a new `Build` field in config.rs. That immediately lets you start using it under `[build]` in config.toml. But nothing actually enforces that you also add the field to config.toml.example, so it's possible to get a PR merged with a completely undocumented option. I'd like to make that statically impossible.

Another, more rare issue, is to rename or remove an option, but

[2022-05-09 12:00] eds-collabora commented on #96743
Thanks for pointing this out. I read, and re-read RFC 2541, but I hadn't understood it properly. So the key part of the current behaviour that I had missed is that only _uncovered_ type parameters are prohibited before the first local type, in order for the trait to be considered local. The original RFC 1023 wording prohibited all non-local types from being in those positions, but the new wording

[2022-05-09 12:00] #96743 closed

[2022-05-09 12:39] sdroege commented on #80552
One thing that I needed in my use-case in addition to what `GroupBy` (and the `slice-group-by` crate) provide is access to the remainder of the iterator at any point in time, i.e. an accessor for the `GroupBy::slice` field.

[2022-05-09 12:46] lcnr commented on #96728
I added `let _tables = tcx.typeck(..)` to detect cycles while implementing `WithOptConstParam` and before the stabilization of `min_const_generics`. The first match arm was added later and didn't include that check. I don't think there's any intention behind that difference.

I don't actually get why `type X = Baz::<{ 3 }>` doesn't cause issues, considering that we're calling `typeck` for `type X`

[2022-05-09 13:27] SabrinaJewson opened #96865 "Incorrect "implementation of `Send` is not general enough" error with lifetimed `Send` impl used in `async fn`"
I tried this code:

[code]

I expected to see this happen: No error

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

Also happens with Nightly:

[code]

[2022-05-09 14:36] pnkfelix commented on #65844
My working assumption is that the continued occurrences are due to https://bugs.llvm.org/show_bug.cgi?id=44413 still being unclosed on the LLVM side.  However, there is [this comment](https://bugs.llvm.org/show_bug.cgi?id=44413#c2) over there:

[2022-05-09 14:56] michaelwoerister opened #96870 "Docs say --remap-path-prefix treats paths as strings during matching but compiler does not"
Our `--remap-path-prefix` documentation says ["The
replacement is purely textual, with no consideration of the current system's
pathname syntax."](https://github.com/rust-lang/rust/blob/e013f9e0ca4055930f931a30171c355de42f9f92/src/doc/rustc/src/command-line-arguments.md?plain=1#L372-L376). But that currently is not the case. Prefix matching is implemented via [Path::strip_prefix](https://doc.rust-

[2022-05-09 15:11] gilescope opened #96871 "Missing comma when defaulting fields on a struct"
Context: You have an existing struct which has some fields defaulted. If you add another field but forget the comma like this:
[code]
Then currently rustc complains about a range. Here's a snapshot of an actual example:
![image](https://user-images.githubusercontent.com/803976/167439660-a7102bcd-5c62-4767-a298-d19b290c7efa.png)

It could be a legitimate range problem but in that situation it might

[2022-05-09 15:15] kprotty commented on #93740
`usync` includes [throughput benchmarks](https://github.com/kprotty/usync/blob/master/benchmark/src/mutex.rs) from parking_lot's repo with the listed locks for comparison (usync vs stdlib vs parking_lot vs SRWLOCK-or-pthread).

The PR that was linked seems to be unrelated to the claim. Was the issue number off?

HLE in parking_lot is disabled by default and hidden under a feature flag (`hardware-l

[2022-05-09 15:48] kckeiks commented on #96341
yes, it is.

[2022-05-09 16:04] aadog commented on #96855
1.importing frida init symbols via C static library
2. Set the project type to cdylib and export it to the symbol of frida_init
3 Use ida to view, it will be called recursively.

All symbols will point to the frida_init function exported by dylib, which cannot be called correctly
from static library frida_init

[2022-05-09 16:08] nmeum commented on #93975
Just #94052 is actually not sufficient. https://github.com/rust-lang/libc/pull/2784 is also needed. Furthermore, to have the latest Rust release (1.6.0 at the time of writing) compile on riscv64 musl it is also necessary to update the vendored libc creates accordingly. Furthermore, I ran into the following issue when attempting to bootstrap a stage2 rustc on [Alpine Linux](https://alpinelinux.org)

[2022-05-09 16:10] cjgillot opened #96873 "Iterate over `maybe_unused_trait_imports` when checking dead trait imports"
The resolver gathers a list of possibly unused trait imports in `maybe_unused_trait_imports`.  This list is passed to resolver outputs, into the `maybe_unused_trait_import` query. This query takes a `LocalDefId` and returns whether the import is possibly unused.

This is used by the post-typeck unused import check in `rustc_typeck::check_unused`.  This query iterates over all the `use` statements

[2022-05-09 16:17] codecheck01 opened #96874 "ICE: thread 'rustc' panicked at 'DefId::expect_local: `DefId(2:2686 ~ core[97e0]::ptr::read)` isn't local'"
### Code

**bad code** (resulting in an ICE):
[code]

**good code**:
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-09 16:22] nmeum opened #96876 "rustc segfaults on riscv64 musl"
Hi,

I am a contributor to the [Alpine Linux](https://alpinelinux.org) distribution (which uses [musl libc](https://musl.libc.org)). Since recently, Alpine has support for riscv64. In this context, I am currently trying to make Rust available on this architecture. With [some patching](https://github.com/rust-lang/rust/issues/93975#issuecomment-1121295992), I was able to successfully bootstrap a st

[2022-05-09 16:32] SNCPlay42 commented on #96874
Duplicate of #96583 (which isn't actually fixed until #96844 lands)

[2022-05-09 16:49] ehuss commented on #96870
It looks like string-based matching was incidentally removed in #46335. I probably missed that when writing the docs, instead relying on your comment [here](https://github.com/rust-lang/rust/pull/41508#pullrequestreview-34906301). Do you recall at the time if the preference was for simplicity of implementation, or simplicity for the user?

[2022-05-09 17:23] #83633 closed

[2022-05-09 17:23] #79889 closed

[2022-05-09 17:23] #82104 closed

[2022-05-09 18:15] Xiretza opened #96878 "type_changing_struct_update: regression in type inference"
I tried this code:

[code]

I expected to see this happen: Compilation succeeds, the two variables are assigned their default values.

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

This was originally reported in https://github.com/rust-lang/rust/issues/86618#issuecomment-1022100845.
cc #86555

[2022-05-09 18:43] Wandalen commented on #96817
Sure. I will write a MRE.

[2022-05-09 18:48] cdmistman commented on #96818
It's for a single-use DSL macro I defined in a prototype tokenizer I'm working on. Since type-defining DSLs are generally considered an anti-pattern, I'll point out `syn` seems to [do the same](https://docs.rs/syn/latest/src/syn/token.rs.html)

[2022-05-09 19:56] barafael opened #96880 "Diagnostic for mismatching argument count is misleading on nightly"
The compiler nicely reports when calling a function with too few arguments:

[code]
leads to
[code]

The compiler (on nightly) suggests:

[code]

This looks like a literal fix suggestion. However, the `{_}` is probably intended as just a placeholder. Obviously inserting that directly yields another compiler error:

[code]

See [example on playground](https://play.rust-lang.org/?version=nightly&mod

[2022-05-09 20:38] cbeuw commented on #93740
For Wine's `srw_lock`:

@m-ou-se I'm not sure if there is any atomic operation on the futex waiting addresses.

In `RtlWaitOnAddress()`, `addr` is read inside `compare_addr()`, but this is just a plain read as it is already protected by a spin lock:
https://github.com/wine-mirror/wine/blob/3ded60bd1654dc689d24a23305f4a93acce3a6f2/dlls/ntdll/sync.c#L915-L923

The spin lock on the queue is a separat

[2022-05-09 20:41] Swatinem commented on #79649
I think the main benefit of branch coverage, and what I as a potential user of it would like to see, is that it will point directly to the source region corresponding to the branching condition.

Implementation (MIR) wise, all the counters are there. https://rustc-dev-guide.rust-lang.org/llvm-coverage-instrumentation.html is very detailed about how this all works. And in theory, implementing branc

[2022-05-09 20:55] the8472 commented on #85410
If I understand https://github.com/rust-lang/rust/issues/76915#issuecomment-1118979669 correctly then the methods on `os::unix::SocketAddr` shouldn't be `cfg(any(doc, target_os = "android", target_os = "linux",))` and instead should go into the `os::linux` and `os::android` modules as extension traits.

[2022-05-09 21:42] matthiaskrgr commented on #96857
wondering if this is related to https://github.com/rust-lang/rust/issues/85401 ,hm

[2022-05-09 22:00] mehcode commented on #66359
Just tried to use this for what it says on the tin. It wasn't able to work for my situation. I'm trying to print the type name of a _partially-moved_ struct.

[code]

[code]

Does this need to be compiler magic to let this work?

[2022-05-09 22:06] insilications commented on #89742
The NewPM needs more love.

[2022-05-10 00:06] PrestonFrom commented on #93883
@oli-obk With #94206 merged and in the nursery, I'm a little unsure what my next steps should be. Should this be implemented for rustc lint next?

[2022-05-10 00:31] zamion84 opened #96886 "Internal Compiler Error working with Enum, Match"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-10 02:03] estebank commented on #96541
At the very least we should be pointing at the `dyn Fn()` as the source of the `'static` obligation.

[2022-05-10 02:52] programmerjake commented on #60705
note that recent versions of rustc use `-C symbol-mangling-version=v0` rather than the `-Z` flag. the top comment led me astray..

[2022-05-10 03:11] #96664 closed

[2022-05-10 03:11] #96665 closed

[2022-05-10 04:54] dtolnay opened #96890 "False positive unused_attributes lint on doc(hidden) attribute on associated type"
The warning added by #96008 claims that `doc(hidden)` on an impl item is ignored by rustdoc, but it isn't necessarily.

The warning says:

which is not true in the following repro:

[code]

[code]

This warning is a false positive. Rustdoc **does** pay attention to this attribute. For the code above, the rendered documentation of `Struct` and `Trait` looks like:

<table><tr><td><img src="https://u

[2022-05-10 05:33] shabanovd commented on #96700
Continue of discussion on [zulip](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/Path.20expression.20vs.20const.20generic/near/281720346)

[2022-05-10 05:34] aliemjay commented on #96194
It would be unfortunate if it hits stable with such ambiguous semantics before the lang team decides on the issue.

T-compiler might want to intervene in this case
@rustbot label T-compiler I-prioritize

[2022-05-10 05:51] 1216892614 commented on #62290
If this feature stable, will both of these code work like same:

1. without feature

[code]

2. with feature

[code]

[2022-05-10 07:04] oli-obk commented on #93883
That's because you're exploring new territory for which we don't have procedures yet. A clippy PR against the rustc repo is just one of them. We'll need to debrief with @flip1995 to figure out whether we need to change/improve some things there. Then we can write some docs so other people will have some guidance in the future.

About moving the lint to rustc: Here's a PR where we did this previous

[2022-05-10 07:32] oli-obk commented on #53092
Revisiting after https://github.com/rust-lang/rust/pull/96806 to see if option 1 is now already happening

[2022-05-10 08:09] flip1995 commented on #93883
Usually lints that are uplifted from Clippy to rustc were in Clippy for a long time and therefore got tested on real world code. Also they were mostly deny-by-default IIRC or at the very least warn-by-default in Clippy.

This lint is currently in `nursery`, which means it is allow-by-default. I'd move this lint to the `suspicious` group before uplifting it. Then it is a warn-by-default lint and wi

[2022-05-10 08:42] michaelwoerister commented on #96870
If I remember correctly the original argument for doing things on a string basis was that it more predictable for the user. But I'm not sure if that's actually true.

[2022-05-10 08:43] oli-obk commented on #93883
nope :) I meant more like, even if clippy has it in deny-by-default, we should move it to warn-by-default in rustc

[2022-05-10 10:22] fmease commented on #96890
My bad, I did not notice that _at all_ 😳. I can adjust the lint once it's decided how we are going to proceed with my changes in general (see / blocked on https://github.com/rust-lang/rust/pull/96008#issuecomment-1122191794).

@rustbot claim

[2022-05-10 10:45] fmease commented on #96890
In summary, `#[doc(hidden)]` on _methods_ in trait impl blocks does not lead to any visual changes in the documentation whereas on associated types and constants, it hides the implementation (or “the thing to the right of `=`”).

This is weirdly deviates from my (former) personal mental model of how `#[doc(hidden)]` is supposed to work and used. As far as I know, in all other cases, it leads to it

[2022-05-10 10:53] #96638 closed

[2022-05-10 10:53] #96640 closed

[2022-05-10 10:53] #96221 closed

[2022-05-10 10:57] RalfJung commented on #66151
FWIW there is already an unrelated [security advisory](https://github.com/rustsec/advisory-db/blob/main/crates/hyper/RUSTSEC-2021-0079.md) against hyper that is fixed with 0.14.10, so almost all the crates that lead to panics due to hyper are already showing warnings if anyone were to ever run `cargo audit` on them. (The fix for uninit memory landed with 0.14.12, but most crates that I found faili

[2022-05-10 11:39] JohnTitor commented on #57276
It's ICE'd again (https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=dcac74ce4f9ee21c114a7659c5e86783), too late to add a regression test :(, removing the label.
The errors are:
[code]

[2022-05-10 12:26] aliemjay commented on #96865
Minimized: https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=87d7f794697776f806158ef6b9880bdb
[code]

[2022-05-10 12:38] aishwaryagm1999 opened #96897 "OPENSSL error: could not find native static library `C`, perhaps an -L flag is missing?"
I get the following error when I try to run the below code for a DTLS client server program using rust through visual studio code and its terminal. I have already installed openssl libraries using vcpkg and set the environment variables. I have also installed the c/c++ extensions for vscode.

Error: error: could not find native static library C, perhaps an -L flag is missing?
How do I resolve this

[2022-05-10 13:05] #96874 closed

[2022-05-10 13:10] Alexendoo commented on #95151
No longer appears to ICE since #96473

[2022-05-10 13:19] Alexendoo commented on #96223
Fixed by #96679

[2022-05-10 13:29] peepopoggers commented on #62290
Except from these potential keywords being added for convenience, is there any reason to not add async closures?

[2022-05-10 13:30] hellow554 commented on #96855
You seem to misunderstand me.

I receive an **error**, which means no library is created and therefore I cannot inspect the library.

Can you tell which rust version you're using? Run `rustc -vV`

[2022-05-10 13:54] PrestonFrom commented on #93883
Thank you both for the overview of next steps! I'll try to get step 4 done this week in the Clippy repo!

[2022-05-10 14:19] patrick96 commented on #93610
Apologies if this is the wrong place for this comment, feel free to delete.

Is there a technical reason why `unwrap_or_clone` is an associated function and not a method?

If I have `x: Rc<T>`, I cannot call `x.unwrap_or_clone()`, but have to resort to `Rc::unwrap_or_clone(x)` which feels unwieldy.

[2022-05-10 14:48] GuillaumeGomez opened #96902 "rustdoc GUI tests should check for JS errors"
There should never be a JS error so if one appears, we should fail the test.

It'll require an update for `browser-ui-test`.

[2022-05-10 15:36] jackh726 commented on #96223
This should stay open until that PR is backported.

[2022-05-10 16:10] scole66 commented on #91092
Just learned that the `-j` option of `cargo test` is _not_ the same thing as `-- --test-threads=1` (which sends that flag to the test-runner). Adding `-- --test-threads=1` to my harness removes the intermittent results.

Not closing this issue, though. Rust is supposed to be "fearless concurrency" so this should work correctly even if the test runner is using multiple threads.

[2022-05-10 16:14] Aaron1011 commented on #81920
All of the ICEs only occur after an error is emitted. However, I'll start working on a fix

[2022-05-10 16:29] jareer12 commented on #94269
I get
[code]

[2022-05-10 16:50] vronin opened #96908 "Invalid suggestion when trying to use a reference in the loop"
I tried this code. BTW.  (As a Rust novice I tried to get multiple copies of mutable reference)

[code]

The rust compiler told me about the problem, but a suggestion was syntactically incorrect (won't compile)

The error and suggestion

[code]
I

### Meta

`rustc --version --verbose`:
[code]

[2022-05-10 17:12] jsha opened #96910 "rustdoc: micro scroll bars on "all" page"
Steps to reproduce:

1. Visit https://doc.rust-lang.org/1.60.0/std/all.html on Google Chrome Version 101.0.4951.54 (Official Build) (64-bit), Ubuntu 21.04
2. Observe grey boxes to the right of each item (these are tiny scrollbars).

![image](https://user-images.githubusercontent.com/220205/167684672-6ed0c873-c040-4601-b92d-727788f4011b.png)

This reproduces on beta and nightly as well.

[2022-05-10 17:19] MarkWestMS opened #96911 "error: internal compiler error: unexpected panic - error: could not compile `wiremock`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-10 18:04] MarkWestMS commented on #96911
Updating to the latest nightly resolved the issue:

[code]

Closing

[2022-05-10 18:04] #96911 closed

[2022-05-10 18:20] riverar commented on #87074
I don't think this is guaranteed; I'd be careful assuming such. Handles are just opaque integers, not pointers, and can be any value at any time. What these values mean is API impl. specific, and what constitutes a sentinel value is API/family specific.

Just throwing out there that win32metadata is [working out](https://github.com/microsoft/win32metadata/blob/main/generation/WinSDK/autoTypes.json

[2022-05-10 18:27] ChrisDenton commented on #87074
Currently the standard library's concept of an `OwnedHandle` is one that can (assuming it's valid) be closed using `CloseHandle`. And a `BorrowedHandle` is the borrowed form of that, but also includes some "static" handles (aka pseudohandles) which should not be closed at all.

[2022-05-10 18:37] 0-wiz-0 opened #96914 "NetBSD: backtrace support broken"
I tried this code:

[code]

I expected to see this happen:
[code]
(provided by a friendly Linux user)

Instead, this happened (on NetBSD)

I see this instead:
[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

Yes, exactly that's the problem.

</p>
</details>

On the C level, I know that Linux provides the backtrace() family of functions in libc.
NetB

[2022-05-10 18:40] riverar commented on #87074
Well it seems to assume it can be passed into `CloseHandle` which is also not accurate.

[2022-05-10 18:40] alexpyattaev opened #96915 "Incorrect operation of vec::as_mut_slice() with binary read"
I think there is an issue with implementation of vec::as_mut_slice()
[Here in the docs](https://doc.rust-lang.org/stable/std/vec/struct.Vec.html#method.as_mut_slice) it is suggested that as_mut_slice() can be used to read data into a vec from an IO reader. So, below example should happily read a bunch of bytes from stdin, and print them out to stdout as byte vectors.

[code]
Now, actually running

[2022-05-10 18:54] sfackler commented on #96915
You are creating a vec of zero *length* but a *capacity* of 512 in the first example. `as_mut_slice` returns an empty slice when called on an empty vec.

[2022-05-10 18:55] alexpyattaev commented on #96915
Yes, ended up figuring this out myself as well. Took me way longer than it should though =(

[2022-05-10 18:55] #96915 closed

[2022-05-10 19:04] alexpyattaev commented on #96915
To avoid people stumbling into this trap, the docs could probably give an example like this to emphasize the possible trap
[code]

[2022-05-10 19:08] jyn514 commented on #96799
Another cascading error from type check: the `quiche` crate fails to load and for some reason it breaks unrelated code.
[code]

[2022-05-10 19:29] Zooce commented on #73126
Just came across this and wanted to mention that there are some programs that return non-zero exit codes in some success scenarios like this: https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/robocopy#exit-return-codes

It might be good to consider an addition to this where success or failure exit codes can be specified.

[2022-05-10 19:31] marti4d commented on #94098
Hi there! Sorry about the radio silence for a while on this issue -- The OP isn't able to continue working on this, and I've been asked to help resolve it.

I have added a PR that implements the idea of re-introducing `RtlGenRandom()` as a fallback API in the (very rare) case that `BCryptGenRandom()` doesn't work on a machine.

We are very certain of this, as we don't see equivalent crashes in Fir

[2022-05-10 19:40] patrick96 commented on #93610
That makes sense. Thanks for the explanation :)

[2022-05-10 19:41] eddyb commented on #54470
Reopened because of renewed interest:
* #94421

[2022-05-10 20:01] AaronKutch commented on #86494
I'm trying to repro myself and am getting
[code]

My best guess is that this function in `compiler-builtins` is causing the problem:
[code]

I read that you shouldn't use floating point operations in UEFI, and I know that `div` is a weird instruction that can produce floating point exceptions. If this is the cause, then the fix is to make an exception in [this line](https://github.com/rust-lang/co

[2022-05-10 20:15] pierwill commented on #96871
@rustbot claim

[2022-05-10 20:29] BatmanAoD commented on #83116
I definitely intend to add it to the undefined behavior section of the reference, as part of the documentation needed for stabilization.

And yes, it's a soundness bug, but effectively a very narrow case of an existing soundness bug that is otherwise fixed by the `c-unwind` feature, i.e., that it's UB to unwind _at all_ from an `extern <not Rust>` function. To be fair, you could consider it new un

[2022-05-10 20:30] RalfJung commented on #83116
Having an issue to track this might be a good start.

[2022-05-10 20:34] pierwill commented on #96871
Was able to reproduce this without using `default`:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9af9adb8be6e768517f2893a7cb8dad4

[2022-05-10 20:35] inquisitivecrystal commented on #96194
CC @oli-obk: I just wanted to check, was this change intentional?

[2022-05-10 20:40] pierwill commented on #96871
Looks like maybe a fix could be implemented in [`parse_pat_fields`](https://github.com/pierwill/rust/blob/d4c364347ce65cf083d4419195b8232440928d4d/compiler/rustc_parse/src/parser/pat.rs#L913), which has logic for handling commas and dots (`..`,`...`).

[2022-05-10 20:52] ChrisDenton commented on #94098
Thank you for following up on this issue. As you say, we are reliant on Firefox's data here. I've updated the title to better reflect that not just x86 Windows 7 is affected.

[2022-05-10 20:54] pierwill commented on #96871
However, there's also this:

https://github.com/rust-lang/rust/blob/d4c364347ce65cf083d4419195b8232440928d4d/compiler/rustc_typeck/src/check/expr.rs#L1691-L1694

[2022-05-10 20:56] Mark-Simulacrum commented on #96194
cc @nikomatsakis / @jackh726 for lack of better contacts in still-forming traits team, this is potentially another issue that is good to urgently-ish take a look at as an accidental stabilization.

[2022-05-10 20:57] sunfishcode commented on #87074
@riverar There are [limitations](https://doc.rust-lang.org/nightly/std/os/windows/io/trait.FromRawHandle.html#safety) on what you can construct an `OwnedHandle` with. But `OwnedHandle`'s itself has no special knowledge of "negative" handles.

[2022-05-10 21:01] pierwill commented on #96871
Using nightly in the playground example above, the slightly confusing error that mentions `Range` is followed by

[code]

This is spot on.

There is arguably room for improvement here, but if this change from stable to nightly is improvement enough (and I think it is), I'm inclined to have this closed.  @gilescope @estebank

[2022-05-10 21:15] scottmcm opened #96921 "Should `repr(transparent)` require *inhabited* 1-ZSTs?"
https://github.com/rust-lang/unsafe-code-guidelines/issues/337 pointed out that the following code compiles:

[code]
<https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=67b6fd93f899912b2aec43b4cf362f31>

Does that make sense?  Should we change the rule here, either retroactively or in a new edition?

[2022-05-10 21:18] RalfJung commented on #96921
It is certainly correct that every value of `Foo` can be transmute to `u32` (because no such value can exist).

However, transmuting `u32` to `Foo` is UB.

[2022-05-10 21:33] c410-f3r commented on #95151
@rustbot claim

[2022-05-10 21:37] BatmanAoD opened #96926 "Mixing crates using different panic modes may introduce UB if a non-Rust unwind "escapes" into panic=abort crate via "C-unwind""
This is a case of undefined behavior around unwinding that will not be fixed by the stabilization of the `"C-unwind"` ABI.

Suppose there exists a C++ library with this function:

[code]

If this function is compiled as part of a crate with `panic=unwind`:

[code]

...and then called from a crate compiled with `panic=abort`, the behavior is undefined, because the calling function will be compiled

[2022-05-10 21:38] ChrisDenton commented on #87074
`OwnedHandle` really shouldn't be constructed with anything that isn't documented as being closeable. But in practice it should be ok. Some functions such as [`GetCurrentProcess`](https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/nf-processthreadsapi-getcurrentprocess) explicitly document that `CloseHandle` will ignore that particular psuedohandle but I don't know if that's guar

[2022-05-10 21:38] BatmanAoD commented on #83116
I've opened a new issue here: #96926

[2022-05-10 21:44] ehuss commented on #96897
I'm going to close as this appears to be an issue with using a third-party library. The rust-lang/rust issue tracker is for issues specific to the compiler. Questions like these are best asked on one of the user forums (and it looks like you have asked on https://users.rust-lang.org/t/openssl-error-could-not-find-native-static-library-c-perhaps-an-l-flag-is-missing/75476).

Also, some tips for mor

[2022-05-10 21:44] #96897 closed

[2022-05-10 22:09] BatmanAoD commented on #96926
There is a draft for a fix here: https://github.com/rust-lang/rust/pull/86801

[2022-05-10 22:25] jyn514 commented on #96755
We can do this with serde_toml by deriving Serialize.

[2022-05-10 23:03] Riateche opened #96927 "Expected "type annotations needed", but inferred unit type instead"
I tried this code:

[code]

I expected to see this happen:
[code]

Instead, this code compiles and outputs `()`, i.e. `v` is inferred to have type `()`.

The code continues to compile if `println` is removed. The inferred type can be confirmed with `type_name`:
[code]

The code stops compiling when `.unwrap()` is used instead of `?`.

### Meta

Tested on current stable (1.60.0) and nightly (1.62.0

[2022-05-10 23:06] jyn514 opened #96928 "Compiletest should set `RUST_SAVE_ANALYSIS_CONFIG` for `run-pass` tests"
https://github.com/rust-lang/rust/pull/96777 was necessary because a test used both -Zsave-analysis and run-pass. That generated an untracked `save-analysis-temp` file in the root directory. That behavior is not great - we shouldn't do that even if the test is marked run-pass. We can avoid it by passing `--out-dir config.build_base` in compiletest: https://github.com/rust-lang/rust/blob/fee75fbe11

[2022-05-10 23:09] jyn514 commented on #96928
I think it might run x.py from a working directory other than the source root.

[2022-05-10 23:10] fmease commented on #96890
[Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/Validy.20checks.20for.20.60.23.5Bdoc.28hidden.29.5D.60/near/281846219)

[2022-05-11 00:33] calebzulawski opened #96929 "Always-inline closure passed via `impl FnOnce` doesn't inline"
An example (try it in debug configuration)

[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=17e7dce927938012e15cd503caeb0cce

I expected to see this happen: `call_once` marked `alwaysinline`

Instead, this happened: `call_once` marked `inlinehint`

The closure itself is inlined, however the `call_once` is not, and when using `impl FnOnce`, effectively defeats the pur

[2022-05-11 02:06] ChrisDenton commented on #87074
Just to summarise the story of Rust's Windows handles in win32 terms for people joining us,

A "handle" in Rust std (whether raw, owned or borrowed) is roughly equivalent to [`Win32::Foundation::HANDLE`](https://microsoft.github.io/windows-docs-rs/doc/windows/Win32/Foundation/struct.HANDLE.html). The metadata for which is [here](https://github.com/microsoft/win32metadata/blob/f886c4bd38f508e600bd1

[2022-05-11 03:50] compiler-errors commented on #96927
Huh, seems to be due to the default `C = ()` parameter on [`std::ops::ControlFlow`](https://doc.rust-lang.org/nightly/std/ops/enum.ControlFlow.html).

[2022-05-11 03:57] compiler-errors commented on #96927
Actually, this behavior has existed ever since the `?` operator was stabilized back in like 1.13

[2022-05-11 04:19] aadog commented on #96855
sorry, this code is just a unreal code，Describe the problem in this structure

[2022-05-11 04:22] aadog commented on #96855
The issue is:
1.Introducing C static symbols in rust
2.The exported symbols of the same name are in cdylib
3.All symbols point to exported symbols, no call to original symbols
As can be seen here, the obvious problem with using ida

[2022-05-11 04:22] aadog commented on #96855
@hellow554 Don't pay attention to the details, focus on the problem itself

[2022-05-11 04:24] aadog commented on #96855
This is a serious bug that happens in the cdylib wrapper
Haven't found a very convenient sign for two years to make a new way out

[2022-05-11 04:51] sunfishcode commented on #87074
Thanks for the summary @ChrisDenton!

As a minor correction:

After https://github.com/rust-lang/rust/pull/93263, `Stdout::as_raw_handle` does not return invalid values other than null. You'll either get a valid open handle, or null meaning stdout is not available.

`-1` in a `BorrowedHandle` always means the current process handle. To test a `BorrowedHandle` or `OwnedHandle` for validity, `.is_nu

[2022-05-11 06:29] #96449 closed

[2022-05-11 06:50] RalfJung commented on #96926
Ah, that would indeed make it impossible to even trigger this in Miri, let alone detect it.

marking this as unsound for now, but I guess the alternative would be to say that *if* you are linking with external code that unwinds, it is your responsibility to ensure that *all* crates are compiled appropriately (and cargo will take care of that automatically).

Do we even want to support mixed panics

[2022-05-11 06:51] SabrinaJewson commented on #96865
Another instance of what I think is the same bug, this time with `dyn Trait`s and associated types: <https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=6d632d153fdfebd3cb7348a0ec15326a> (discovered by @LegionMammal978 on Discord)

[code]

The fix there is to wrap the `dyn Trait` in another type:

[code]

[2022-05-11 07:29] rMazeiks opened #96934 "`cargo test` panics: no MIR available for DefId"
Edit: added reproducible example

### Code

[This is a minimal (i think) example of a crate that makes Cargo panic.](https://github.com/rMazeiks/dioxus/tree/minimal-cargo-panic)

lib.rs:

[code]

examples/example.rs
[code]

Test or run the example to get the panic:
[code]

### Meta

Reproduced on both stable and nightly. I'm on linux but CI tells me this also occurs on Windows and MacOS.

`rustc -

[2022-05-11 08:47] #68408 closed

[2022-05-11 08:47] #83991 closed

[2022-05-11 08:47] #95151 closed

[2022-05-11 08:47] #96564 closed

[2022-05-11 09:17] nox commented on #96921
IMO it makes sense to keep it for weird shenanigans like in the hyper issue that Ralf just linked here.

If you want to "disable" an enum variant (which you have control over, and has a specified repr), without changing the shape of the enum, nor its size, it's more or less the only way.

I understand that we want to make uninhabited types with inhabited fields be zero-sized, but maybe we should s

[2022-05-11 09:25] apiraino commented on #96194
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2396194.20nested.20RPIT.20and.20HRTB.3A.20unclear.20semantics.20and.20future.20i.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2022-05-11 09:30] drahnr opened #96937 "rustdoc fails at resolving intra doc links"
### Code

[code]

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-11 09:31] AuroraLantean opened #96938 "rustc --version shows invalid version"
I tried this:
`$ rustup update`
info: syncing channel updates for 'stable-x86_64-unknown-linux-gnu'
info: syncing channel updates for 'nightly-x86_64-unknown-linux-gnu'
info: checking for self-updates

  stable-x86_64-unknown-linux-gnu unchanged - rustc 1.60.0 (7737e0b5c 2022-04-04)
  nightly-x86_64-unknown-linux-gnu unchanged - rustc 1.62.0-nightly (ecd44958e 2022-05-10)

info: cleaning up downlo

[2022-05-11 09:35] RalfJung commented on #96921
Note that this issue is about structs. We don't do the layout optimization (of making an uninhabited struct have size 0) on structs because it is in conflict with partial initialization.

For enums, last time this came up, since enums cannot be partially initialized, most people seemed to be in favor of allowing more aggressive layout optimizations there. We might even already do those, I am not s

[2022-05-11 09:38] RalfJung commented on #96926
Also see the [Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/210922-project-ffi-unwind/topic/soundness.20in.20mixed.20panic.20mode).

[2022-05-11 09:47] nox commented on #96921
I thought the size needed to be preserved because of stuff like `Foo::Bar(foo, panic!())` where the second field is of type `!`. Oh well.

[2022-05-11 10:02] RalfJung commented on #96921
That can be (and currently AFAIK is) compiled with temporaries. But anyway, that's a topic for https://github.com/rust-lang/rust/issues/93032.

I agree `repr(transparent)` should have the same size as its only non-ZST member. The question is whether we should allow uninhabited 1-ZST in `repr(transparent)`. My inclination is no, because they already violate another principle of `repr(transparent)`:

[2022-05-11 10:24] Boscop commented on #69939
@tomkarw Thanks for working on this. Btw, what's the current status? :)

[2022-05-11 10:26] Globidev commented on #66359
@mehcode
This is indeed a general issue with partially moved values: you cannot create a reference to one
`&expr` would always be invalid and yield that error, regardless of the surrounding context.
it would also probably lead to more confusion if we were to somehow allow this to work in this particular case

[2022-05-11 10:27] nox commented on #96921
I don't understand what you mean by this. Just because something is a `#[repr(transparent)]` doesn't mean you can transmute freely between the two. The transparent wrapper may come with additional invariants etc.

[2022-05-11 10:33] rMazeiks commented on #96934
I managed to make a [small reproducible example](https://github.com/rMazeiks/dioxus/tree/minimal-cargo-panic)!

lib.rs:

[code]

examples/example.rs
[code]

Test or run the example to get the panic:
[code]

[2022-05-11 10:36] drahnr commented on #96937
Note that it does work with

[code]

[2022-05-11 11:08] RalfJung commented on #96921
You can't publicly safely transmute, no.
But you should get the guarantee that the transmute itself does not cause UB. In other words, the transmute may violate safety invariants, but it will never violate validity invariants. That is a major motivation for people to use `repr(transparent)`.

[2022-05-11 11:16] nox commented on #96921
I see your point, and I don't mind either, but people *using* `repr(transparent)` are the ones adding zero-sized fields or not to their transparent wrapper, so they would know what they are doing if they add an uninhabited zero-sized field. At least I would.

[2022-05-11 11:48] 12101111 commented on #96938
Try `which rustc` or `whereis rustc`. Maybe it's a rustc installed to somewhere else.

[2022-05-11 11:52] gilescope commented on #96871
Yeah can’t ask for much more than that. Looking good.

On Tue, 10 May 2022 at 22:01, pierwill ***@***.***> wrote:

[2022-05-11 11:56] adaszko opened #96943 "Spurious "error: could not find native static library `objc`, perhaps an -L flag is missing?" on macOS Big Sur"
Hi 👋

There's been a change in macOS Big Sur 11 with regards to how shared libraries are handled [1]:

I'm experiencing this issue on macOS Big Sur when [libusb1-sys crate's `build.rs`](https://github.com/a1ien/rusb/blob/master/libusb1-sys/build.rs) invokes `pkg-config` and gets this:

[code]

rustc seems then proceed to try to link `libobjc`:

[code]

Contrary to [1] recommendations, rustc [check

[2022-05-11 12:15] epbuennig opened #96944 "Internal Compiler Error when extracting overflowing bit-shift constant into constant local"
Changing the commented out snippet to the uncommented one caused a ICE when building on nightly `1.62.0`.
EDIT:
Moving the integer cast to before the shift fixes the ICE. (`halves[0] as $int << HALF_SIZE`)

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

`rustc +stable --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p

[2022-05-11 12:45] 353fc443 commented on #96938
Try removing `rustc` and reinstalling again.

[2022-05-11 13:11] vinay110974 opened #96945 "build/bootstrap/debug/rustc -vV throws error with env"
Hi,

We are implementing Oe-Selftest for rust in Yocto Framework.
The test runs complete rust testsuite for all folders.
However, we are facing an issue while printing the verbose details in many testcases.
It is hindering the test process and unable to run many folders.

[code]
Same issue is observed with rust native build also.
It was noted that the issue has been addressed earlier as:- https://

[2022-05-11 13:15] gustav3d commented on #85410
Is there anything blocking FCP ?.
Can an ordinary person somehow help ?.

[2022-05-11 13:31] AuroraLantean commented on #96938
I solved it by uninstall Rust, then install it back again. Thank you

[2022-05-11 13:57] ChrisDenton commented on #87074
Thank you for the correction. To avoid adding confusion to this issue, I've taken the step of updating my summary. The previous version can be seen in the edit history.

[2022-05-11 14:49] kpreid commented on #88630
I've just learned from https://users.rust-lang.org/t/confusing-type-inference-error-with-json-macro/75522 that this same kind of problem, with the same message “type annotations needed”, can also appear with error code E0283. Mentioning that now for searchability.

See also issues #75331, #68507 for other cases of erroneous “type annotations needed”, though in those cases it isn't action-at-a-dist

[2022-05-11 14:51] kpreid commented on #75331
I was just reviewing issues discussing “type annotations needed” and I think this might be very similar or duplicate to #68507 (where the field type is `Option<MissingType>` and the value is `None`, instead of involving a trait).

[2022-05-11 14:59] PrestonFrom commented on #94878
I've gotten very busy all the sudden -- I'm going to unassign myself in case someone has bandwidth to grab this now.

[2022-05-11 15:37] c410-f3r opened #96949 "Tracking issue for the implementation of RFC 2011: Generic assert"
Edit(fmease): The overarching tracking issue: #44838 (feature `generic_assert`).

Just a better-than-a-TODO internal issue to track the remaining things of https://github.com/rust-lang/rust/pull/96496.

* [ ] Constant environments.
* [ ] Cap size to avoid large copies (https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=85575be37ce9ebaa2286ba1a7ed4930a).
* [ ] ~~Capture `match

[2022-05-11 16:25] SNCPlay42 commented on #96944
This also ICEs on beta on the playground.

@rustbot label regression-from-stable-to-beta

[2022-05-11 16:29] #85513 closed

[2022-05-11 16:54] MBODM commented on #50679
I would give you 10+ likes , if i could. your „mistake“ saved my day! :)

[2022-05-11 17:22] emilio opened #96952 "Invalid unused_constant warning"
The following test-case:

[code]

Triggers:

[code]

But the constant is used, so what am I missing?

Playground link: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=7bc6ce4bf160c13306805ecbf855b9dc

[2022-05-11 17:23] scottmcm commented on #51992
This came up in T-lang's backlog bonanza today.  With no progress on this for years, it's not clear to us that this is still the right way forward here.

@estebank, do you have any thoughts on this one?  Perhaps it would be better rolled into the idea you brought up in <https://internals.rust-lang.org/t/stable-diagnostic-affecting-attribute-with-unstable-api/16368?u=scottmcm>?

[2022-05-11 17:38] joshtriplett commented on #53120
We discussed this in today's @rust-lang/lang meeting. Given the ambiguity observed with `struct X(crate ::ident)`, we don't think `crate` is going to happen. If someone wants to champion a new keyword or a new approach, they should start an MCP for that.

(If this FCP to close goes through, we should update the original RFC to un-accept it.)

@rfcbot close

[2022-05-11 17:44] jhpratt commented on #53120
I presume if/when the FCP completes, it would be acceptable to remove the `crate` visibility modifier from rustc?

[2022-05-11 17:50] joshtriplett commented on #54140
We discussed this in today's @rust-lang/lang meeting. We confirmed that:

- T-lang only has a stake in suggesting that there should exist some way for proc macros to report diagnostics, and we do believe there should be; we have no open questions or concerns.
- The shape of the API is up to @rust-lang/libs-api, in consultation with compiler for what they can support.

[2022-05-11 18:00] joshtriplett commented on #54185
It's been 3.5 years, and it doesn't seem like we've had any further reports about this being confusing. We can always make this change later, if we change our minds or new information comes to light.

Any concerns from @rust-lang/lang about closing this?

@rfcbot close

[2022-05-11 18:14] joshtriplett commented on #96045
@thomcc In this context, compatibility and wider symbol availability would be a good thing. But I think that's off-topic for this issue.

[2022-05-11 19:09] jackh726 opened #96954 "[ICE] Unresolved HRTB lifetime in APIT"
This ICEs on nightly, but only errors in stable or beta: `fn test_argument_position(x: impl for<'a> Tr<'a, Assoc = impl Copy + 'a>)  {}`

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=930b6f98572136f690e5da91c8f2ddc3)

### Code

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-11 19:35] scottmcm commented on #96921
https://lib.rs/crates/ref-cast comes to mind, here.

But it looks like it's sound by essentially allowing only `PhantomData` as the extra fields in a `repr(transparent)`: https://github.com/dtolnay/ref-cast/blob/master/src/trivial.rs

[2022-05-11 19:40] matthiaskrgr commented on #96954
This regressed in #95779
[code]

[2022-05-11 19:41] jackh726 commented on #96954
cc @cjgillot

[2022-05-11 19:54] estebank commented on #96871
I'm ok with closing as is, but would love it if you're still interested in looking into finding a way to improve this if we could silence the type mismatch error when encountering this case and only emit the later one that has the suggestion.

[2022-05-11 20:36] jsgf commented on #73632
Oh, another thing I forgot to mention -

The `libstd` build process copies parts of the llvm runtime into itself - in particular the various sanitizer runtimes. This leads to duplicate symbols if you're linking with sanitized C/C++ code. Instead `rustc` should link with the llvm-provided libraries when the sanitizer options are enabled. (This assumes the rustc llvm sanitizer is compatible with the

[2022-05-11 20:40] durin42 commented on #73632
That's also what we're moving towards (rapidly) for rustc/clang compatibility. We'll probably start working on ThinLTO support in the bazel rules for Rust in the next week or two.

The duplicate symbols for mixed C++/Rust sanitizer builds hadn't occurred to me. I'll file an internal tracking bug about that, thanks.

[2022-05-11 20:43] pierwill commented on #96871
I'll give this a look. 👍

[2022-05-11 20:44] the8472 commented on #87074
In the [RFC issue we discussed](https://github.com/rust-lang/rfcs/pull/3128#issuecomment-873995219)  the possibility of having an `BorrowedFd<'a>::as_filelike_view::<T>()` for `where T: From<OwnedFd> + Into<OwnedFd>`, which basically constructs a `FdView<'a, T>` wrapper equivalent to `ManuallyDrop<T> + 'a`.

I think it would make sense to at least prototype this before stabilization so that if it

[2022-05-11 20:51] bertptrs commented on #95992
The PR has been merged and I don't think there is anything left to do. Can we close this issue?

[2022-05-11 21:03] c410-f3r commented on #94721
Closing due to the lack of activeness

[2022-05-11 21:03] #94721 closed

[2022-05-11 21:06] ijackson opened #96956 ""warning: unnecessary lifetime parameter" unsilenceable lint"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should also say something like this:

[code]

And of course then `#[allow(needless_lifetimes)]` ought to work.

### Versions affected

[code]

The example code is accepted without any complaint by stable and beta,  However, in both stable and beta, clippy has the same weird name-less complaint.  And saying `#![al

[2022-05-11 21:06] ijackson commented on #96956
@rustbot modify labels +regresson-from-stable-to-nightly

[2022-05-11 21:08] sunfishcode commented on #87074
@the8472 I have an `.as_filelike_view::<T>()` implementation [in the io-lifetimes crate](https://docs.rs/io-lifetimes/latest/io_lifetimes/trait.AsFilelike.html#tymethod.as_filelike_view).

"Filelike" things are portability abstractions over "Fd" on Unix and "Handle" on Windows. `IntoFilelike` and `FromFilelike` are traits which are essentially `Into<OwnedFd>` and `From<OwnedFd>` (and their Handle

[2022-05-11 21:10] jackh726 commented on #96954
Related discussion: https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2396194.20nested.20RPIT.20and.20HRTB.3A.20unclear.20semantics.20and.20future.20i.E2.80.A6/near/282011425

Correct fix (at least for now) is probably to change this back to an error - along with the case above. After that, correct fix is probably to treat this as a `for<'a>` (whi

[2022-05-11 21:18] jyn514 commented on #95992
Ah yes :) in the future you can add "Fixes #959922" to your PR description to have it closed automatically.

[2022-05-11 21:18] #95992 closed

[2022-05-11 21:21] the8472 commented on #87074
Yeah, that's pretty much what I had in mind. The thing is that it likely is surprising to users because to do it you have to use unsafe under the hood to turn a `Borrowed*` into an `Owned*` which then gets turned back into a borrow via the `View`. It weakens the distinction between ownership and borrows. Which is ok for most fd-wrappers because files are essentially interior-mutable data types, bu

[2022-05-11 21:26] jhpratt commented on #54140
For T-libs-api:

It's quite old at this point, but I've got a PR (#83363) open that implements the API [proposed above](https://github.com/rust-lang/rust/issues/54140#issuecomment-802701867). The implementation itself works (albeit needing a rebase after 14 months), but [there was concern](https://github.com/rust-lang/rust/issues/54140#issuecomment-944798181) over having the ability to emit diagno

[2022-05-11 21:42] Badel2 commented on #96944
searched nightlies: from nightly-2022-03-01 to nightly-2022-04-23
regressed nightly: nightly-2022-03-25
searched commit range: https://github.com/rust-lang/rust/compare/9f4dc0b4db892271cd0dada6e072775b5b5d6b1e...63b8f01bb5ca277e7df8d7efe094ed4244c1790c
regressed commit: https://github.com/rust-lang/rust/commit/63b8f01bb5ca277e7df8d7efe094ed4244c1790c

<details>
<summary>bisected with <a href='http

[2022-05-11 21:50] sunfishcode commented on #87074
@the8472 Do you have any questions that I can answer?

[2022-05-11 22:06] the8472 commented on #87074
My questions are more towards the libs team.
Do we want a `FdView` in std?
If yes which trait bounds should it depend on? A a yet-unnamed new trait, `From<OwnedFd> + Into<OwnedFd>` or `From<OwnedFd> + Into<OwnedFd> + AsFd`. The choice determines for which types implementing those traits makes sense.

[2022-05-12 00:08] #69121 closed

[2022-05-12 00:08] #73021 closed

[2022-05-12 00:08] #88599 closed

[2022-05-12 00:08] #93008 closed

[2022-05-12 00:08] #93248 closed

[2022-05-12 00:08] #94680 closed

[2022-05-12 00:08] #96170 closed

[2022-05-12 00:50] udoprog commented on #96465
So while the proposed solution gets past the initial issue, there are more similar downstream issues that happen like this one:

[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=f4b62bb6c9773f5807cd8fe25ae8266a)

[code]

[2022-05-12 02:02] Dirbaio opened #96961 "let else: wrong diagnostic span on return type mismatch"
The following code [[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e63ca5bc5a1fef571b6c0e93c4e47eb2)]

[code]

fails to build with the following:

[code]

note the span points to just the `let .. else`, but there's nothing wrong with it, the problem is the function return type doesn't match. I'd have expected the error to look the same as if the `let else` wa

[2022-05-12 02:48] #73576 closed

[2022-05-12 04:54] sunfishcode commented on #87074
@the8472 Could I ask you to sketch some wording for what the documentation might say about this, if we pick one of the latter two? I think that would help make it clear what needs to be decided here.

[2022-05-12 05:19] cadillion opened #96962 "Async GraphQL DataLoader Causes Compiler Panic During CodeGen"
### Code
Hunted down and commented out the offending code and got the app to recompile. After uncommenting again it then worked fine. Can't reproduce since.
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-12 06:12] RajrupDasid commented on #96961
yeah I also see that , it's some type of compiler issue or some mistake while creating the example

[2022-05-12 06:28] Ai-Zixun opened #96963 "Suggestion: Provide FloorEntry and CeilEntry method for BTreeMap and BTreeSet"
I am wondering if the Rust core team has any plan to add `FloorEntry` and `CeilEntry` to the rust `BTreeMap` and `BTreeSet` in the standard library?

Coming from Java, I found that both the `FloorEntry` and `CeilEntry` in the `NavigableMap<K, V> `interface in the Java standard library when using a sorted map/set.

* FloorEntry: Returns a key-value mapping associated with the greatest key less than

[2022-05-12 07:02] leonardo-m commented on #96963
What are some use cases of floor_entry and ceil_entry?

[2022-05-12 07:36] hellow554 commented on #59359
I would like to stablize this feature.

@m-ou-se can you please start a fcp merge request?

I would open a PR to stablize the feature once a decision has been made.

[2022-05-12 07:39] apiraino commented on #96944
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2396944.20Internal.20Compiler.20Error.20when.20extracting.20overflowing.20.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-05-12 08:15] koehlma commented on #95657
For what it's worth, after living with the 🔒 for a while now, I can say that it is very useful for my workflow and projects. :)

I do not think that the lock is generally noise in certain crates (with a high number of private items) and generally signal in others (with a low number of private items). As I see it, the challenge with noise vs. signal is that it is highly context-dependent whether so

[2022-05-12 09:30] oli-obk commented on #96194
Summarizing the status:

Given

[code]

And the following impl

[code]

Then `f` stack overflows on stable and is accepted on beta

[code]

while `f1` stack works on stable and on beta

[code]

but with (using the lifetime in the assoc type)

[code]

then `f2` stack overflows on stable and ICEs on beta

[code]

then `f3` stack errors on stable and ICEs on beta

[code]

### In table form

|

[2022-05-12 09:45] oli-obk commented on #96194
[Playground with all the code](https://play.rust-lang.org/?version=beta&mode=debug&edition=2021&gist=aa912a9705551c9012ae5a272f4ba7e9)

[code]

Works on stable and beta for

[code]

and stack overflows on stable while erroring on beta for

[code]

So... afaict the only thing we stabilized is the fact that we allow

[code]

to compile, without actually giving it any meaning beyond making it a break

[2022-05-12 09:54] apiraino commented on #96954
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2396954.20.5BICE.5D.20Unresolved.20HRTB.20lifetime.20in.20APIT) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-05-12 09:56] oli-obk commented on #96194
It must be the first one. Only if you add `+ 'a` to the nested `Assoc = impl Copy` will you get the second one. This is consistent to regular lifetimes:

[code]

desugars to

[code]

while

[code]

desugars to

[code]

[2022-05-12 10:00] oli-obk commented on #96194
cc @rust-lang/lang

given my three comments above, I believe we have not stabilized anything problematic (code that caused a stack overflow is now accepted, without allowing anything interesting). We could still reject the stabilization with a targeted HIR level check, I am currently investigating the beta-backportability of such a change, but I would prefer to just let this ride the trains

[2022-05-12 10:31] danielhenrymantilla commented on #89352
@jackh726 FWIW, neither of the two canonical stable-GAT-workarounds for that snippet regresses:
  - https://rust.godbolt.org/z/1Y7denM7Y
  - https://rust.godbolt.org/z/EjxPjcM3K

so I strongly suspect this is a GAT-specific regression

[2022-05-12 11:00] apiraino commented on #96472
Removing the regression flag as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2396472.20Codegen.20feature.20are.20no.20longer.20recognized.20by.20rustc) of the Prioritization Working Group.

Although this looks to the end user as a regression, as explained in the comments here this is more a case of unhelpful/in

[2022-05-12 12:40] est31 commented on #96952
It seems that usages inside `_` prefixed constants are not recorded.

Doesn't lint:
[code]

lints (for THRESHOLD):

[code]

[2022-05-12 12:42] jackh726 commented on #89352
Yes, that makes sense: the issue there really comes down to the where clause.

Crater results look clean though. As discussed on Zulip (https://rust-lang.zulipchat.com/#narrow/stream/213817-t-lang/topic/Covariance-related.20GAT.20lifetime.20mismatch.20.2389352/near/281881315), accepting that for beta backport.

[2022-05-12 12:44] apiraino commented on #95522
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.5D.202022-05-12e) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-low +I-heavy

[2022-05-12 12:55] jackh726 commented on #96194
I think I would strongly prefer a targeted error for lifetime bounds on nested RPIT. We can't know for sure that this doesn't allow more code to compile as-is (it doesn't for the given example, but who knows). I wouldn't want to allow writing a function with them only to later potentially error (or worse, decide we need to ignore them).

That being said, given that it seems like it doesn't fully a

[2022-05-12 13:38] oli-obk commented on #96194
A PR is up at https://github.com/rust-lang/rust/pull/96970

[2022-05-12 13:52] SadiinsoSnowfall commented on #96910
Unable to reproduce using the following browsers :
* W10 Edge 101.0.1210.39
* W10 Chrome 101.0.4951.64
* W10 Firefox 91.7 & 91.9
* Ubuntu22 Chromium 101.0.4951.54
* Ubuntu22 Chrome 101.0.4951.64
* Ubuntu22 Firefox 99.0.1

(Note: the page shown in the attached screenshot is https://docs.rs/flate2/latest/flate2/all.html)

[2022-05-12 14:05] nagisa opened #96972 "confusing type mismatch error when external crates introduce additional trait implementations"
Consider the [following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6b6db0ecf3ca2c99c45c8e1927508baa):

[code]

The error message output here is very nice and easy to understand:

[code]

Now lets add a dependency on an external crate (inlined here) ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=379eb7c15828dfdf7fb9247e45ef06

[2022-05-12 15:01] SNCPlay42 commented on #96972
This looks like #77304.

[2022-05-12 15:08] rust-highfive opened #96975 "`miri` no longer builds after rust-lang/rust#95562"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#95562, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @lcnr, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-05-12 15:10] lcnr commented on #96975
can't get to it today, but should be able to fix this on monday

[2022-05-12 15:12] nikomatsakis commented on #96572
Other examples:

[code]

also gives an error.

[2022-05-12 15:13] nikomatsakis commented on #96572
Also ICEs:

[code]

[2022-05-12 15:14] oli-obk commented on #96572
triage:

Implement a "opaque type downcast projection" in mir and insert appropriately

[2022-05-12 15:41] #86732 closed

[2022-05-12 15:42] nikomatsakis commented on #86731
This works "as expected" now and we have tests, @oli-obk claims :)

[2022-05-12 15:42] #86731 closed

[2022-05-12 15:43] nikomatsakis commented on #77989
Huzzah! @oli-obk is awesome. Closing.

[2022-05-12 15:43] #77989 closed

[2022-05-12 15:54] yeputons opened #96977 "Misleading error message when mistyped pattern matching in closure's argument"
Given the following code: ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=aee5344af3e9eb717a5b02db6801707d))

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Almost like it currently does for a similar `match` mistype: ([playgroud](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f2beb488739f577a0cf6

[2022-05-12 16:17] strega-nil-ms opened #96980 "[fs] Path::new(r#"C:\hiberfil.sys"#).exists() returns false, despite the file existing"
I noticed this bug while researching the same bug in https://github.com/microsoft/STL.

[code]

Given `test.exe C:\hiberfil.sys`, I expected:

[code]

Instead, this happened:

[code]

### Solution

The related issue in the STL is microsoft/STL#2370; the PR to fix this in the STL is microsoft/STL#2715.

The problem is that `fs::metadata` opens the file; this is not allowed for the following four fi

[2022-05-12 16:19] RalfJung commented on #96975
I'll look into it; Monday is a bit late -- more incompat changes might pile up, making this all a lot harder to diagnose.

[2022-05-12 16:26] nagisa commented on #96972
Looks like its probably that, yeah, although in my case I've seen the same problem present itself when calling methods directly too.

Duplicate of #77304

[2022-05-12 16:26] #96972 closed

[2022-05-12 16:27] jonasbb opened #96981 "Rust panics with "no entry found for key" when documenting item with conflicting glob import"
Running `cargo +stable doc` fails with
[code]
This is reproducible. The `pub use` is significant, a simple `use` does not trigger the error. The function name `read` is also significant. Naming it `copy` or `read_dir`, both functions existing in `tokio::fs` does *not* trigger the error.
This still fails with current nighly versions.

### Code

[code]

[code]

### Meta

`rustc --version --verbose`:

[2022-05-12 16:34] infinity0 opened #96983 "many debuginfo tests fail with SIGSEGV, SIGILL, SIGABRT with gdb 11.2 on armhf (armv7-unknown-linux-gnueabihf)"
This seems like a separate issue from #94458 as it only happens on armhf in Debian:

- good build with gdb 10 / armhf - https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=armhf&ver=1.59.0%2Bdfsg1-1%7Eexp1&stamp=1648671960&raw=0 (note: overall build failed for other reasons, but the debuginfo tests passed)
- bad build with gdb 11.2 / armhf - https://buildd.debian.org/status/fetch.php?pkg=rus

[2022-05-12 16:39] pervognsen commented on #75027
I've been finding a lot of good uses for `array_windows`, but one thing that seems missing is an implementation of the Index trait. One use case is random access bit slicing. If you have a bit stream represented as `bytes: &[u8]` and want to read the slice of bits `i..i+n`, where `i` is the bit index and `n < 64` is the bit width, then if `Index` were implemented you could do something like `let b

[2022-05-12 16:40] strega-nil-ms commented on #96980
@nagisa true, the question was whether `fs::metadata(Path)` could use `FindFirstFileW()` instead of `open()`; that's how we're solving this in the C++ standard library.

[2022-05-12 16:51] ChrisDenton commented on #96980
Hm, changing `fs::metadata` is not something I'd be minded to do lightly. At least not without further investigation. Some questions that spring to mind:

* What happens if the user does not have permission to read the directory but does have permission to read the file?
* Can we get all the metadata that's needed? Ah you're edit answered that.
* Does this affect performance?

[2022-05-12 17:01] ChrisDenton commented on #96980
It's great that we have this report! I just want to make sure we investigate fully before making changes that may affect users of the standard library.

I'll also note we do have the unstable [std::fs::try_exists](https://doc.rust-lang.org/std/fs/fn.try_exists.html) whose behaviour can change.

[2022-05-12 17:06] jsha commented on #96910
Thanks for the repro attempt! And sorry I forgot to include a link to the example page. Good sleuthing. :-)

Your comment made me recall I still have an old version of fira-sans.ttf locally installed from debugging https://github.com/rust-lang/docs.rs/issues/1669#issuecomment-1068396583. So this should be quite low priority, since it doesn't reproduce in a typical install. But still it's a bit odd

[2022-05-12 17:29] kingdido999 commented on #96928
@rustbot claim

[2022-05-12 17:48] kdashg opened #96985 "rustc save-analysis records variant struct-literal spans as referencing enum not variant"
This came out of investigation into a bug in Mozilla's SearchFox tool output:
https://bugzilla.mozilla.org/show_bug.cgi?id=1623824
(I went into detail about the investigation there, as well as a proof-of-concept patch)

It looks like in a struct-literal construction such as `MyEnum::MyVariant { ... }`, the "MyVariant" span ends up recorded as a reference to MyEnum, not MyVariant.

Given the follow

[2022-05-12 17:58] ChrisDenton commented on #96980
Ok I tested with two users. For the sake of this example, I'll call them "Admin" and "User".

As Admin I created a directory and denied User all access. Within the directory I then created a "test.txt" file and granted User access.

As User, I tried using `FindFirstFile` to test if the file exists. This failed with `ERROR_ACCESS_DENIED`. I then tried using `GetFileAttributes` which succeeded. As d

[2022-05-12 17:59] mcy opened #96987 "Questionable suggestion to use `dyn` in UFCS syntax"
Given the following code:

[code]

The current output is:

[code]

This is correct, but a red herring. What the author is trying to do is `<Trait>::foo()` instead of `Trait::foo()`; because Rust expects a type in `<$ty>::foo()`, it falls back to "it's a trait object!". The _correct_ suggested remediation should be one of:
- `std::fmt::Octal::fmt(...)`
- `<_ as std::fmt::Octal>::fmt(...)`

Note tha

[2022-05-12 18:24] magnusuMET commented on #81759
I just encountered this issue in a crate of mine, where build artifacts from the asan build is reused for the doc tests, causing the linker errors

[2022-05-12 18:49] MMukundi opened #96990 "Cargo clip --fix error"
I tried this code:

[code]
In this repo: https://github.com/MMukundi/aoc

I expected to see this happen: Clippy successfully fixes lint issues

Instead, this happened: Clippy runs into a compiler error after fixing a linting issue; specifically, after changing
[code]
to
[code]
where
[code]
The expression thus far was of type `impl Iterator<Item = impl Iterator<Item=usize>>`
### Meta

`rustc --vers

[2022-05-12 19:32] oxalica opened #96992 "Tracking Issue for `waker_getters`"
Feature gate: `#![feature(waker_getters)]`

This is a tracking issue for getters of data and vtable pointers for `RawWaker`, and the method to get `RawWaker` from `Waker`.

### Public API

[code]

### Steps / History

- [x] Implementation: #91828
- [x] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- Do we also need `fn into_raw(self) -> RawWaker` for `Waker`? https:/

[2022-05-12 21:29] aliemjay opened #96995 "TAIT in impl implicitly captures lifetimes params"
TAIT in impl implicitly captures all lifetimes params by default

[2022-05-12 21:29] #96995 closed

[2022-05-12 21:41] aliemjay opened #96996 "type-alias-impl-trait implicitly captures lifetime params"
[code]
This compiles now but it shouldn't. Explicit annotation for captured lifetimes in the opaque type `impl Sized + 'a` is required by the RFC.

I guess this is the root cause of #91601.

@rustbot label F-type_alias_impl_trait T-compiler

[2022-05-12 22:11] eddyb commented on #29594
Reading back my sketch for for `'thread` above (https://github.com/rust-lang/rust/issues/29594#issuecomment-998963161), and specifically:

I had some thoughts about interesting lattice interpretations of `'thread`, which is that it's somewhere between `'static` and all other stack-related lifetimes within a thread.

With detached threads requiring `'static` bounds to pass data between them, each d

[2022-05-12 23:03] cuviper commented on #88038
FYI, rayon has an internal macro with an example that wasn't ready to be treated as a test:
https://github.com/rayon-rs/rayon/blob/9dc52d76b12f3da13b87dd509ff29a801177b8d3/src/delegate.rs#L14-L19

... discovered by failing in a [CI run](https://github.com/rayon-rs/rayon/runs/6414739412?check_suite_focus=true).

[2022-05-12 23:12] cuviper commented on #88038
Hmm, I'm not even sure how to turn that into a working doctest, because the macro isn't exported.

The `ignore(cannot-test-this-because-non-exported-macro)` in #96630 is also telling -- then what's the point?

[2022-05-12 23:48] JohnTitor commented on #96990
Seems that `clippy::useless_conversion` puts a wrong suggestion, cc @rust-lang/clippy

[2022-05-13 00:29] c410-f3r opened #96997 "`non_fmt_panics` is trigged when `panic!` is declared in an external crate"
Tested on the `master` branch. Feel free to close this issue if duplicated.

[code]

[code]

Maybe some encoding issue between boundaries ?

[2022-05-13 00:30] SolraBizna commented on #70436
For what it's worth, I was planning to use it for the case of assembling a text document from potentially thousands of pieces. For my use case, making a big `Vec<IoSlice<_>>` that I only use for a single call and then drop is exactly what I want.

Accepting a `Vec` directly, so that it is dropped afterwards, would fit my needs and would eliminate the "wait heck some of my IoSlices got altered?!" p

[2022-05-13 00:49] estebank opened #96999 "`format!` should be able to parse arbitrary inline expressions and provide a targeted error"
`format!` currently doesn't support inline expressions, like `format!("{binding.field}");`, but [the error it emits](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=ae8339573f024d18b9e80e9d7cd821d8) while serviceable isn't great:

[code]

It would be much better experience if we started parsing first field access expressions, potentially method calls and later arbitrary ex

[2022-05-13 00:54] #96672 closed

[2022-05-13 02:23] Mark-Simulacrum commented on #96999
Do we really need to parse the inside of the format string? It seems like a potentially reasonable first step here is to add a help: message indicating that only identifiers are supported, not arbitrary expressions, and suggest the position formatting argument.

We could probably have a simple heuristic of "longer than 3 characters or similar to avoid most malformed `{}` contents that aren't actua

[2022-05-13 04:21] gheoan opened #97001 "Unterminated string error message points at the wrong line"
Given the following code:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=2e32fcf710139d444b28553c200dd8e7
[code]

The current output is:

[code]

Ideally the output should look like:

[code]

The error message points at line 4, but the mistake is on line 2. I encountered this issue in a Rust program that has 215 lines. The compiler was pointing at line 208, but the unterm

[2022-05-13 04:57] Coding-Badly commented on #71684
Hello all.  [Like](https://github.com/rust-lang/rust/issues/71684#issuecomment-729213325) @haug1 I'd like to get this sorted.  [Like](https://github.com/rust-lang/rust/issues/71684#issuecomment-925950210) @BurntSushi I often need to know where HOME is.  Like everyone else I want to use Rust.

From rereading this thread I believe the conclusion is that `home_dir` has to be left untouched.  Is that

[2022-05-13 04:59] Coding-Badly commented on #71684
Is creating a new function the best choice?

[2022-05-13 05:04] amab8901 opened #97002 "error[E0670]. Cargo.toml "edition = 2021" doesn't work."
Here's my code in main.rs :
[code]

Here's the output:

[code]

Here is my Cargo.toml file:
[code]
Here is what it auto-generates in Cargo.lock file:
[code]

ATTEMPTED SOLUTION:

I removed the `async` keyword in `async fn main() {}` so it became `fn main() {}` in main.rs. Then I did the following in the terminal:
[code]
So I changed `edition = "2021"` into `edition = "2015"` in Cargo.toml. Then I

[2022-05-13 06:08] nvzqz commented on #83400
What is left to stabilize this? It is important to me that time conversions I'm using don't panic.

[2022-05-13 08:03] oli-obk commented on #93706
This has been stabilized in https://github.com/rust-lang/rust/pull/93827

[2022-05-13 08:03] #93706 closed

[2022-05-13 08:40] matthiaskrgr opened #97006 "ICE: -Zunpretty=hir "AST generic args printed by HIR pretty-printer""
`./src/test/ui/issues/issue-43424.rs`
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc -Zunpretty=hir ./src/test/ui/issues/issue-43424.rs`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-13 09:15] Ai-Zixun commented on #96963
Essentially the floor_entry and ceil_entry would allow the user to use BTreeMap and BTreeSet as a Binary Search Tree. When the user is trying to find an entry, the user can get the exact entry or the entries right next to it.

[2022-05-13 09:23] Thomasdezeeuw commented on #70436
How about an owned type that wraps `T: AsRef<[IoSlice<'_>]>` (or `Deref`) to indicate that the write call "owns" the buffers and can modify them, but allow the buffer*s* wrapper type to be reused (i.e. the `Vec` in `Vec<IoSlice<'_>>`). It makes the API a bit more conflicted, but perhaps that will resolve @joshtriplett concerns.

[2022-05-13 09:59] eddyb commented on #60705
@programmerjake Thanks for bringing it up (it got forgotten) - I just tried updating it, is the new version better?

[2022-05-13 10:05] the8472 commented on #96963
A half-open ascending iterator only needs to find the ceil entry when taking its first element, so I don't see how that's more expensive than a hypothetical ceil entry method. And any subsequence elements are cheaper to obtain since you don't have to walk down the tree anymore, only sideways, so it's a more powerful building block.

[2022-05-13 10:10] programmerjake commented on #60705
yup, thx!

[2022-05-13 10:12] BurntSushi commented on #63787
cc @rust-lang/libs What's stopping us from fixing this? It looks like a low hanging unsound bug. :)

[2022-05-13 10:16] hlb8122 opened #97007 "[ICE] "cannot relate constants of different types" with feature(adt_const_params, generic_const_exprs)"
### Code

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=cec002cde4e6ea9c5ab12ee9c93b1a33

Note that this does not occur if you replace `N_ISLAND` with hard-coded values
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=448c65a5c73a76d832c510cfe8e269bc

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summar

[2022-05-13 11:03] c410-f3r commented on #96997
@rustbot label T-compiler C-bug A-macros A-lint

[2022-05-13 11:16] RalfJung commented on #63787
One problem is deciding whether this should be fixed on the lang level or libs level...

[2022-05-13 11:34] BurntSushi commented on #63787
It looks like we could at least fix this at the libs level without much difficulty, right? Then the lang team can decide whether they want to fix this on their end or not. If they do, I assume we could then revert the library fix.

Although I will say that I don't quite grok the lang side fix for this.

[2022-05-13 11:37] BurntSushi commented on #80437
`Box::into_inner` appears to have been around for a while, and I don't see any obvious issues with it? What do others think?

@rfcbot merge

[2022-05-13 11:43] vinay110974 commented on #96945
Hi @ehuss,

Thanks for quick reply.
build/x86_64-unknown-linux-gnu/stage1/bin/rustc -vV gives the expected output.
[code]
Will check with rust test-suite and update.

[2022-05-13 12:00] m-ou-se commented on #80437
Untagging lang and restarting the FCP.

@rfcbot cancel

[2022-05-13 12:00] m-ou-se commented on #80437
@rfcbot merge

[2022-05-13 12:33] jendrikw opened #97010 "E0308 expected and found are identical"
Given the following code: [play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&code=fn%20rec_clone%3C%27a%3E(v%3A%20%26%27a%20str%2C%20rec%3A%20%26dyn%20Fn(%26%27a%20str)%20-%3E%20String)%20-%3E%20String%20%7B%0A%20%20%20%20todo!()%0A%7D%0A%0Apub%20fn%20clone()%20-%3E%20impl%20Fn(%26str)%20-%3E%20String%20%7B%0A%20%20%20%20fix%3A%3A%3C%26str%2C%20String%3E(rec_clone)%0A%7D%0A%

[2022-05-13 12:41] ijackson commented on #96914
@rustbot modify labels +O-netbsd +A-runtime

[2022-05-13 13:15] jongiddy commented on #95358
@rustbot label A-inference

[2022-05-13 13:24] RalfJung commented on #63787
Yeah, I think there are several good reasons to use raw pointers (or rather, `NonNull`) rather than references here.

On the lang side, we could not add `noalias` to newtyped references... but that might also be a bad idea since it makes newtypes less powerful.

[2022-05-13 14:06] cameron1024 commented on #96952
I might be missing something, but is this not expected? `THRESHOLD` *isn't* used. For example, if you actually use `THRESHOLD` in `main`, the error goes away: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=abe14867dba359b029cce404c3195571

The behaviour is perhaps more obvious with functions:
[code]
vs.
[code]

[2022-05-13 14:33] bjorn3 opened #97017 "thread 'rustc' panicked at 'no entry found for key', compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs:547:9"
### Code

This happens on bjorn3@b18b50c800f3d1756bce9a62f849091743a50fbf. By performing the following steps:

1. Put the following in `config.toml`:

[code]

2. Build using `./x.py build compiler/rustc_codegen_cranelift`.
3. Remove the `parallel-compiler = true` line.
4. Build again using `./x.py build compiler/rustc_codegen_cranelift`.

### Meta

`rustc --version --verbose`:
N/A

### Error outpu

[2022-05-13 14:35] oli-obk commented on #89864
Hmm... this is what I was worried about in the PR. This compiles now, but the trait bound ConcreteAssoc::Debug doesn't hold.

[2022-05-13 15:52] Araxeus opened #97020 "ANSI escape breaks right to left Strings"
I tried this code:

[code]

I expected to see this happen:
- String order is preserved even if inside different ANSI escapes

Instead, this happened:
- when ANSI codes are mixed, the right to left order is mixed up
  ![image](https://user-images.githubusercontent.com/78568641/168320483-b788acc9-2f94-422d-8e6d-a6b5a9d261c4.png)

### Meta

`rustc --version --verbose`:
[code]

[2022-05-13 16:02] wwylele commented on #97020
I don't think this has anything to do with rust. Rust doesn't interpret the ANSI escape sequence, and simply put them to stdout as-is. It is the terminal that interprets these sequence. This issue should be opened to the terminal implementer

[2022-05-13 17:01] tower120 opened #97022 "`ptr::copy_nonoverlapping` slower then manual bytewise copy"
The following code:
[code]
is significantly FASTER  then `ptr::copy_nonoverlapping`, for small `count`s, and cases where `count` is not known at compile time. (2-3 times for 8 byte copy).

People suggest that this happens, because compiler does not inline `copy_nonoverlapping` code:
https://users.rust-lang.org/t/ptr-copy-nonoverlapping-slower-then-manual-per-byte-copy/75588/2?u=tower120

I'm not s

[2022-05-13 17:06] Araxeus commented on #97020
You're right, after some more testing it happens from other sources too

Sadly both cmd and Powershell have this behavior

@wwylele out of curiosity, if you try the code above in bash does it work correctly?

[2022-05-13 17:06] #97020 closed

[2022-05-13 17:14] ehuss commented on #97020
If you are interested, I would also recommend commenting on https://github.com/microsoft/terminal/issues/538 about how ANSI codes interfere with the bidi algorithm.

[2022-05-13 18:42] est31 commented on #96961
This is a dupe of #94176.

[2022-05-13 19:13] cuviper commented on #63787
Please see #97027.

[2022-05-13 19:14] soc commented on #71684
So `config_dir(<APP_INFO>)`, not `home_dir()`?

So `config_dir(<APP_INFO>)`/`data_dir(<APP_INFO>)`/`executable_dir()`, not `home_dir()`?

So `download_dir()`, not `home_dir()`?

[2022-05-13 19:39] Araxeus commented on #97020
Thanks, I just left a short comment there

[2022-05-13 20:05] Coding-Badly commented on #71684
The counter argument is that several programs on both Linux and Windows store files under the home directory.  For example, if I want to automatically update my SSH config file, which I do, I have to know where home is.

`config_dir`, `data_dir`, etcetera being useful does not equate to `home_dir` being useless.

[2022-05-13 20:12] ChrisDenton commented on #71684
Right but something isn't in the standard library just because it could be useful. That's what third party crates are for.

And in this case there's also a significant argument against having it the standard library. It may encourage Rust applications to use it as the default place for storing all files, regardless of platform conventions.

[2022-05-13 20:38] jonhoo commented on #75362
To leave a breadcrumb here for others, note that `libLLVM`, `libcompiler_builtins`, and `librustc_driver` all also embed the path to libc and libstdc++'s include directories in their debuginfo:
[code]

We may want to make `remap-debuginfo = true` also remap those paths.

[2022-05-13 20:51] RalfJung commented on #63159
FWIW the same question arises for `swap[_nonoverlapping]`.  I would think the answer is the same as for the `copy` functions: we haven't properly documented this, and by now probably too many programmers rely on these being untyped operations, so that's what we should go for.

Surprisingly, however, that is currently not the case -- `ptr.swap_nonoverlapping` is actually currently implemented as a

[2022-05-13 21:09] RalfJung commented on #63159
Here's a little [test I made](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f1ccff98896526786d36c09a7b5ab375) for checking that all these operations are untyped. Currently, even `copy_invalid` fails in Miri.

`copy_ptr_bytewise` will be tricky in Miri; for `copy_nonoverlapping` this works only because it is an intrinsic. With `swap` not being an intrinsic, I am not quite

[2022-05-13 21:52] the8472 commented on #87074
I'd add/change something like the following in the [unix::io](https://doc.rust-lang.org/std/os/unix/io/index.html) module description:

The first paragraph has always been true.

The second one would somewhat weaken the meaning of Fd ownership to only mean that the file descriptor doesn't get closed under one's nose but not exclusive access. This does not necessarily fall out of existing APIs beca

[2022-05-13 22:04] cjgillot commented on #89864
Is it an issue? The function `ice` is never called, so no code ever has to prove this bound.

[2022-05-13 22:26] Coding-Badly commented on #71684
`home_dir` has been in the standard library for years.  Plenty of time for evidence of "encourage Rust applications to use it as the default place for storing all files" to surface.  Please provide examples.

[2022-05-13 22:36] cuviper opened #97030 "Doctests now run on non-exported `macro_rules!`, but can't actually test the macro"
Since #88038 was resolved with #96630, doctests now run on `macro_rules!` even if the macro is not exported.

This could be considered a breaking change -- it did break CI for rayon when [this macro example](https://github.com/rayon-rs/rayon/blob/9dc52d76b12f3da13b87dd509ff29a801177b8d3/src/delegate.rs#L14-L19) for internal use suddenly became a real test and failed.

The problem is, I can't figur

[2022-05-13 22:38] scottmcm commented on #63159
I have no strong feeling about typed vs untyped copies in swap_nonoverlapping.  So long as both sides are doing the same kind of copy, that's fine.  (It was confusing when L->R was typed by R->L was untyped, so let's not do that again.)

[2022-05-13 22:39] coolreader18 commented on #73426
afaict this is resolved now, or at least it's not an issue for termux anymore (fixed in 1.45 iirc)

[2022-05-13 22:40] #95865 closed

[2022-05-13 22:40] #28935 closed

[2022-05-13 22:40] #54779 closed

[2022-05-14 01:08] wareya commented on #71684
If you're creating non-utility software, it is perfectly reasonable to need to store user preferences in locations other than the 'config' dir. This other location is often user-defined (in a separate config space, like a registry) and is furthermore often *relative to the user's home directory* (because people still believe in the illusion of the multi-user desktop PC).

No???? What in the *world

[2022-05-14 01:55] nbdd0121 commented on #96926
@rustbot claim

[2022-05-14 06:46] Hawk777 commented on #51089
Is there any way to read the original discussion? That link is now 404.

[2022-05-14 08:14] #96985 closed

[2022-05-14 08:14] #96902 closed

[2022-05-14 08:47] pepyakin commented on #51089
@Hawk777 https://github.com/rustwasm/team/issues/108

[2022-05-14 09:28] matthiaskrgr commented on #94382
Note; while rustc rejects the code with an error

[code]

miri will also show the ICE:
[code]

[2022-05-14 09:30] oli-obk commented on #94382
We could hide the issue comment if no_core is enabled

[2022-05-14 09:48] matthiaskrgr commented on #94382
Oh this makes me wonder if it would be worthwhile to have something like
`Rustc unexpectedly crashed....  BUT this crash is already known, see ticket #1234 for details`
to avoid duplicate tickets for known bugs :thinking:

[2022-05-14 10:36] #72241 closed

[2022-05-14 11:25] Edgeworth commented on #96645
This has also been happening to me on recent nightlies (for the past week or two). Unfortunately, it does sound like a hard to repro bug.

[2022-05-14 11:39] RalfJung commented on #94382
Yeah, rustc cares a bit more about giving nice errors than Miri does. They have more people working on this, too. ;)

But we shouldn't duplicate all that error logic from rustc, instead we should move it to some place where it works regardless of the codegen backend.

[2022-05-14 12:41] JohnTitor commented on #90409
Note that https://github.com/rust-lang/rust/issues/90409#issuecomment-955066520 still triggers an ICE, @oli-obk could you check?

[2022-05-14 15:02] saethlin commented on #97022
Similar to https://github.com/rust-lang/rust/issues/92993

[2022-05-14 16:07] Patryk27 commented on #77541
fwiw, I think this was solved after https://github.com/rust-lang/rust/pull/96845, too 🙂

[2022-05-14 16:07] Patryk27 commented on #78260
fwiw, I think this was solved after https://github.com/rust-lang/rust/pull/96845, too 🙂

[2022-05-14 16:23] oli-obk commented on #78260
Nice! Thank you

[2022-05-14 16:23] #78260 closed

[2022-05-14 16:35] joshtriplett commented on #87074
I don't think we want one that operates on any possible object that holds a file descriptor, pretending a borrowed descriptor is an owned one. Not without some kind of unsafe operation involved.

I can imagine having ways to read and write a BorrowedFd, but not turning a BorrowedFd into an OwnedFd and passing it to arbitrary code.

[2022-05-14 16:44] the8472 commented on #87074
reading and writing aren't always the most interesting things though. e.g. if you have a directory fd you want to pass it temporarily to cap-std's `Dir`. If you have an unknown fd you might want to temporarily turn it into a `File` to call `metadata()` to figure out what kind of fd it is and things like that.

Anyway, if we don't want to allow it by default then we can do it through a separate tra

[2022-05-14 16:49] joshtriplett commented on #87074
I don't think we should allow it by default.

I think we should allow calling metadata on things other than a File.

We should talk about possible designs for directory file descriptors.

[2022-05-14 17:12] HeroicKatora commented on #80317
It would be unsound to simply relax the lifetime of functions to `'static` due to `Any::downcast_ref`. In particular, `Any` is based on the reasoning that `T: 'static` implies that any lifetime parameters on `T` have been assigned the `'static` value. This makes it possible to assume that it is a unique type, despite not considering lifetime parameters at all when computing type-id. Otherwise, lif

[2022-05-14 17:30] Xiretza commented on #80967
Looks like this got stabilized in #96628, can that be added to the OP under "Stabilization PR"?

[2022-05-14 18:08] rben01 commented on #56056
Given this, what is the correct way to customize the DLL search path before `main` is called?

[2022-05-14 18:24] Kixiron opened #97047 "ICE with `generic_const_exprs` and `adt_const_params`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-14 18:33] sunfishcode commented on #87074
Looking into this, I noticed that the io-lifetimes crate's view mechanism is actually unsound. There's no guarantee that the `Into<OwnedFd>` for a type return the *same* fd as the `From<OwnedFd>`, so if the fd can be reassigned to a different fd, it can cause double closes of the original fd. Follow [this PR for details](https://github.com/sunfishcode/io-lifetimes/pull/32).

So if a similar view m

[2022-05-14 18:34] rodrimati1992 commented on #97047
A reduced version:
[code]
# Error message
[code]

[2022-05-14 18:39] Kixiron commented on #97047
The other ICE block is also standalone
[code]
[code]

[2022-05-14 19:24] oli-obk commented on #90409
The example in your linked comment didn't ICE before and doesn't now. It links to a different issue which ICEs, did you mean that?

[2022-05-14 20:01] conradludgate opened #97048 "Better pattern argument naming in rustdoc"
I noticed with function pattern arguments that rustdoc makes some interesting choices regarding argument names.

For instance:

[code]

gets rustdoc'd into

[code]

(see
https://docs.rs/atuin-server/0.9.1/atuin_server/handlers/history/fn.calendar.html for a real life version)

It's hard to say what rustdoc should do in the general case, but there are some simple cases that could be improved.

For

[2022-05-14 20:18] matthiaskrgr opened #97049 "miri reports ub when panicing inside #[start] function"
I tried this code:

[code]

miri reports:
[code]
which does not happen when I just `panic!()` without a `#[start]` fn
`miri 0.1.0 (3b8b6aa 2022-05-06)`

[2022-05-14 21:02] ehuss commented on #97002
That's strange. For some reason, the `edition` field is not being picked up.  Are those error messages coming directly from running cargo in a terminal? Or are you using something else? I noticed you say you have rust-analyzer and vscode, perhaps you are somehow checking the code in there? If so, what exact steps are you taking to get that output?

I notice that your error message has a path like

[2022-05-14 22:21] DemiMarie commented on #56056
I believe it cannot be done.  Windows assumes that one does not run a program from a directory that also has untrusted files.

[2022-05-14 23:22] soc commented on #71684
My comment – before your creative citation approach – reflects that.

Calm down. It was simply a mixup (that I corrected now). I'd expect that most people where able to get the gist of the comment, regardless of that oversight though.

[2022-05-15 00:06] vincenzopalazzo commented on #97001
@rustbot claim

[2022-05-15 02:00] JohnTitor commented on #90409
Oh sorry, I meant "code 2" on OP:

[code]

[2022-05-15 02:08] Mark-Simulacrum commented on #96074
Clearing milestone as we have landed https://github.com/rust-lang/rust/pull/96489 on master (1.62+) and backported it to 1.61, so this is no longer a regression.

[2022-05-15 02:09] Mark-Simulacrum commented on #96434
Fixed on beta with https://github.com/rust-lang/rust/pull/96692 and https://github.com/rust-lang/rust/pull/96490 on master. https://github.com/rust-lang/rust/pull/96455 will be a more complete change and will likely land in 1.63 (or later).

[2022-05-15 02:09] #96434 closed

[2022-05-15 02:10] Mark-Simulacrum commented on #95983
@craterbot run name=beta-1.61-4 start=1.60.0 end=beta-2022-05-15 mode=build-and-test cap-lints=warn

This won't finish in time for promotion on Monday, but we should get results before the final release at least.

[2022-05-15 02:14] Ai-Zixun commented on #96963
Ahhh, I see. I misunderstood how `range` and `LeafRange` work with BTreeMap. In this case, yes, I agree that directly using range would be a more powerful approach.

[2022-05-15 02:14] #96963 closed

[2022-05-15 02:52] saethlin commented on #97049
I think Miri is correct here. I'm pretty sure `#[start]` runs before the Rust runtime is initialized, which means there is nothing to catch a panic. I can't tell if the feature is documented anywhere, the unstable book just links to tracking issue, which dates back to 2015: https://github.com/rust-lang/rust/issues/29633

But the opening comment does say

Though it's hard tel tell if that is normat

[2022-05-15 03:56] wareya commented on #71684
I do not see anything to that effect. "In my experience, people asking for the home directory are usually asking the wrong question to start with." does not reflect what I said. What I said encompasses the fact that it is perfectly normal for developers to *derive other paths from the home directory*, using it as a primitive, and that they are not wrong in doing so. In fact this is literally how `

[2022-05-15 05:16] asquared31415 commented on #97049
This feature is incredibly poorly documented, and because of that, I think most people end up using platform-specific linker things to get the same result, which leads to less interest in the feature, which means there's less effort to document it, and it's a horrible cycle.

[2022-05-15 07:33] #61611 closed

[2022-05-15 08:09] aliemjay commented on #80083
I don't think this is bug.

[RFC 1214](https://github.com/rust-lang/rfcs/blob/master/text/1214-projections-lifetimes-and-wf.md) allows us to require/imply `<Never<T> as Iterator>::Item: 'static` if we know `Never<T>: 'static`. Similarly for function pointers, `fn() -> T` can't be `'static` unless `T: 'static`.

See how `'static` types with non-'static output can lead to the unsoundness in #84366.

[2022-05-15 08:11] LoganDark commented on #94047
offtopic: This is the first unstable feature I have ever encountered that has any business still being unstable (i.e. has had discussion in the last 5 years). Bravo.

[2022-05-15 08:16] matthiaskrgr commented on #97047
for the first example:
[code]

[code]

[code]
Regression in 772d51f887fa407216860bf8ecf3f1a32fb795b4 :thinking:

[2022-05-15 08:50] bjorn3 commented on #97049
Libstd's `lang_start` impl wraps all calls it does in `catch_unwind` to avoid UB.

[2022-05-15 08:51] bjorn3 commented on #97002
See https://github.com/rust-lang/rust-analyzer/issues/12233

tl;dr: some vscode plugin this user used was running `rustc` directly without the `--edition` flag.

[2022-05-15 08:51] #97002 closed

[2022-05-15 09:49] NobodyXu commented on #96306
On `cargo 1.62.0-nightly (3f052d8ee 2022-05-12)`, the problem described above is fixed.

[2022-05-15 11:23] aliemjay commented on #96996
Another place where lifetime parameters are captured implicitly is in type aliases:
[code]
This shouldn't pass as it  violates the RFC.

I can see several examples in the wild that rely on this behavior (disclosure: I do!). And I expect this fix to be painful for some. The main reason is that there's no easy way to indicate the an opaque type captures a lifetime paramter. The usual way to do so
[c

[2022-05-15 12:04] Milo123459 opened #97059 "Allow `-A`, `-W` and `-D` in `x.py clippy` arguments"
Currently, you cannot pass those CLI flags to `x.py clippy`. It would be useful if this was possible.

[2022-05-15 12:21] matthiaskrgr commented on #97059
you can add them to the `args` vec in `src/bootstrap/check.rs:46`, that will work temporarily

[2022-05-15 12:24] Milo123459 commented on #97059
Ah, thanks for letting me know. I still think that allowing support for these flags is a good idea though.

[2022-05-15 12:55] bjorn3 commented on #15398
https://github.com/rust-lang/rust/pull/91743 should cause `transmute_copy` to be inlined before codegen.

[2022-05-15 13:05] bjorn3 commented on #22043
Placement in syntax has been removed so this issue is no longer relevant I think.

[2022-05-15 13:05] #22043 closed

[2022-05-15 13:07] bjorn3 commented on #20541
Fixed by https://github.com/rust-lang/rust/pull/75145

[2022-05-15 13:07] #20541 closed

[2022-05-15 13:08] Timmmm commented on #71684
There are plenty of legitimate use cases for getting the home directory on desktop platforms. I don't think we need to discuss that any more. But I suppose there are some platforms that don't really have a home directory (e.g. Android & iOS). Perhaps it should just be more platform specific, like

[code]

It seems like the `dirs` crate avoids this issue by only supporting desktop platforms. `std`

[2022-05-15 13:13] bjorn3 commented on #23366
https://github.com/rust-lang/rust/pull/93945 once I revive it would fix this issue.

[2022-05-15 13:25] bjorn3 commented on #25820
Current rustc has `-Zls` which dumps a tiny bit of information:

[code]

I also wrote https://github.com/bjorn3/rust_read_rlib at some point, but it would need to be updated to latest rustc.

[2022-05-15 13:26] Enselic commented on #93588
I don't think this is a duplicate of neither #83720 nor #83057, because making all modules public and removing all `#[doc(inline)]` attributes does not get rid of the ICE. This is what I did to try this:
[code]

but I still get the same ICE as I get before my changes (in my case it is `row_metadata` that has duplicate items).

I have tried to debug this further, but no luck so far. I have tried to

[2022-05-15 13:34] bjorn3 commented on #29511
cc https://github.com/rust-lang/rust/pull/93945

[2022-05-15 13:36] bjorn3 commented on #29602
It would turn into a hard error I would guess.

[2022-05-15 13:38] bjorn3 commented on #30809
Can this be closed?

[2022-05-15 14:06] jrmuizel commented on #38827
More specifically, for an example like:
[code]

becomes something like:

[code]

which even it's not being inlined gets codegened in place because of monomorphization.

[2022-05-15 14:33] ChrisDenton commented on #56056
It can be done with [manifest files](https://docs.microsoft.com/en-us/windows/win32/sbscs/assembly-manifests). The SxS cache will be checked before the application directory. However, I'm not sure if that can be done with system dlls. You can also set probing paths in an application [configuration file](https://docs.microsoft.com/en-us/windows/win32/sbscs/application-configuration-files#probing).

[2022-05-15 14:41] bjorn3 commented on #32916
This can be closed I think.

[2022-05-15 14:45] bjorn3 commented on #33863
Should this be closed?

[2022-05-15 14:46] Mark-Simulacrum commented on #32916
I don't think we expect passing paths to make (i.e., `make install prefix=...`) to work, and we do have work arounds (DESTDIR, ./configure) which do work, so I agree we can close this.

[2022-05-15 14:46] #32916 closed

[2022-05-15 14:48] bjorn3 commented on #34131
https://github.com/rust-lang/rust/pull/85673 will add a `-Zexport-executable-symbols` flag to export symbols from executables.

[2022-05-15 14:51] bjorn3 commented on #34393
I think this is fundamentally incompatible with `extern "C-unwind"` and as such should be closed.

[2022-05-15 14:58] bjorn3 commented on #34472
I think it is expected that an empty `test.rs` with the cdylib crate type will result in an empty dylib. On Linux it doesn't contain any functions other than a couple of fixed libc/compiler internal ones. All of the size you are seeing on Linux is because of debuginfo. On macOS debuginfo is put in a separate `.dSYM` bundle and in addition I believe dsymutil which generates the `.dSYM` bundle is ab

[2022-05-15 15:06] bjorn3 commented on #36594
cc @cjgillot Do you think https://github.com/rust-lang/rust/pull/91743 could make whatever this issue is about visible on stable? Or do you think this issue has been fixed since?

[2022-05-15 15:09] bjorn3 commented on #36990
compiler_builtins is unconditionally necessary when stack probing is enabled, as it is on x86_64. This is because rustc uses `__rust_probestack` as stack probe function and there is no system library providing this, just compiler_builtins. Why did compiler_builtins not compile on your system?

[2022-05-15 15:10] bjorn3 commented on #37879
I haven't seen errors this bad for a long time anymore.

[2022-05-15 15:10] #37879 closed

[2022-05-15 15:12] bjorn3 commented on #37971
The compiler rlibs are now shipped in a separate rustc-dev component.

[2022-05-15 15:15] SoniEx2 opened #97061 "Borrowck cannot infer dangling lifetimes"
I tried this code:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=bbc7ef716dadb46fb9a2d5db68519488

I expected to see this happen: *explanation*

The code should compile.

Instead, this happened: *explanation*

The code doesn't compile, because the borrowck doesn't infer `'dangling` to actually be dangling.

Obviously, if the borrowck could infer `'dangling` to be dangli

[2022-05-15 15:16] bjorn3 commented on #39093
The ar path has been separately overridable since https://github.com/rust-lang/rust/pull/45191: https://github.com/rust-lang/rust/blob/10b3a0d209746e70fdc72f65e4649d492f6ed5a2/config.toml.example#L657

[2022-05-15 15:16] #39093 closed

[2022-05-15 16:09] Pzixel commented on #47461
I can confirm that I have this issue: code with `iter.copied().map(|x| something(x))` produced bad assembly while `iter.map(|x| something(*x)` was properly inlined. I've tried to create an MRE but I wasn't able to reproduce it there. I'm not an expert on compiler optimizations but I can confirm that I witnessed this behavior in the wild.

As I said I failed to create a MRE but I can provide functi

[2022-05-15 16:09] SoniEx2 commented on #97061
Hmm, this "works": https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=7a3028993b16dbd97b9d6b02124d5418

Tho we'd still like to see it working with `'dangling`...

[2022-05-15 16:16] SoniEx2 commented on #97061
Note that making borrowck capable of checking dangling lifetimes would allow `#[may_dangle]` to be checked by the compiler.

[2022-05-15 16:27] #96975 closed