[2019-05-11 15:57] varkor commented on #60735
This also applies to the `windows` method on slices.

[2019-05-11 16:00] varkor commented on #60632
This is one of the `FIXME`s:
https://github.com/rust-lang/rust/blob/b3207d531d01c1dc6c1f3d4e7b1c20a1546fe108/src/librustc/ty/relate.rs#L479-L480
That said, it's useful to have a dedicated issue for this. It essentially means arrays with const generics are broken at the moment.

[2019-05-11 17:03] varkor commented on #60632
https://github.com/rust-lang/rust/issues/60632 fixes this particular issue, though there are still remaining issues with arrays and const generics.

[2019-05-11 17:03] oli-obk commented on #60028
If it still occurs for you, please don't hesitate to open a new issue with the new details.

[2019-05-11 17:03] #60028 closed

[2019-05-11 17:17] oli-obk commented on #58523
running out of memory meaning this consumes more than 8GB of RAM for a 4GB array? One duplication is pretty much guaranteed the way we work with constants and I don't see many possibilites around (though I think we could try to tell llvm to just use our memory and not duplicate it. Not sure how well that works with LLVM optimizations).

Some Playground tests showed that anything beyond 60MB gets k

[2019-05-11 17:21] jonas-schievink opened #60743 "Remove Bitrig support"
Bitrig is a now defunct OpenBSD fork. It has been mostly successful and some of it's changes have been merged back into OpenBSD. It's development has halted ~2 years ago, and it never got another release after 1.0 in 2014.

Rust had some limited support for Bitrig (as a Tier 3 platform). I think we should remove the support to clean up the libstd code a bit.

(inspired by https://github.com/rust-l

[2019-05-11 17:28] varkor opened #60744 "Uninferred types/regions ICE for array impl with const generics"
After https://github.com/rust-lang/rust/pull/60742 is merged, the following produces:
[code]
results in:
[code]
(Before https://github.com/rust-lang/rust/pull/60742, this resulted in a different ICE.)

[2019-05-11 17:30] varkor commented on #60744
[code]
produces the same error, but used to produce a different one from the other snippet, so it's also worht including as a test case.

[2019-05-11 17:43] harrysarson commented on #60632
This is #60632?

[2019-05-11 17:55] varkor commented on #60632
Fixed the link. I'm not doing very well at pasting links today 😄

[2019-05-11 18:22] memoryruins opened #60746 "Const generic in macros_rules unable to be found in function scope"
`nightly 2019-05-10 d595b113584f8f446957`

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8ed8182c5ced88e5436ba074014283c1

[code]
Produces the error:
[code]

Without the macro:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3bc031a4b607a3128a5ce1f53564c181

[code]

[2019-05-11 18:22] jethrogb commented on #58840
Reduced:

[code]

Since this involves IntoIterator, it makes me think of another recent ICE involving universes, but I can't find the exact issue right now.

[2019-05-11 18:22] dtolnay commented on #60715
Adding interior mutability into a type is already an API breaking change.

Even adding trait objects into a type is an API breaking change.

[code]

[2019-05-11 18:23] jethrogb commented on #58840
#58375

[2019-05-11 18:26] mtak- commented on #60715
This is essentially the same use case, but `crossbeam-epoch` could add a non-heap [`Atomic`](https://docs.rs/crossbeam-epoch/0.7.1/crossbeam_epoch/struct.Atomic.html) style type to the API. e.g. A `Seq<T>` type which internally protects the contained value with a seqlock. On write, `Seq` `defer`s the drop of the overwritten value. On read, `Seq` returns a shallow copy which borrows the lifetime of

[2019-05-11 18:33] varkor commented on #60746
I think this is probably due to https://github.com/rust-lang/rust/issues/58307.

[2019-05-11 18:59] rodrimati1992 commented on #60726
`cargo doc` crashes with this code in the same Rust versions:
[code]

Output:
[code]

[2019-05-11 19:03] Centril commented on #60715
@dtolnay We might want to add a `PhantomUnfrozen` to give users the ability to not guarantee `Freeze` then? (Inspired by `PhantomPinned`)

[2019-05-11 19:36] laanwj opened #60747 "Cannot create rv64gc binary anymore since nightly-2019-05-10"
Here's a minimal reproduction: [rv64gc-build-test.tar.gz](https://github.com/rust-lang/rust/files/3169404/rv64gc-build-test.tar.gz)

This works:
[code]
[code]
This fails with a long linker error message:
[code]
I do not yet know what causes this incompatibility.

[2019-05-11 19:50] laanwj commented on #60747
What is strange (to me) is that most of the objects in the referenced rlib are for `X86-64`, not `RISC-V`, this might be the source of the incompatibility:
[code]

The object it's trying to link against, however, is `RISC-V`:
[code]

[2019-05-11 20:32] yodaldevoid commented on #60619
You are correct at where we are throwing that error.

[2019-05-11 21:17] the8472 commented on #60689
That would be quite a rabbit hole. There are lots of special copy syscalls on linux.

splice: any -> pipe; pipe -> any
vmsplice: &'static [u8] -> pipe
sendfile: mmapable fd -> socket
copy_file_range: originally just regular -> regular on same file system, but support is expanding

[2019-05-11 21:29] rodrimati1992 commented on #60731
Do you mean something like this:
[code]
where you declare anonymous structs inside a regular one?

[2019-05-11 21:50] Lonami commented on #60673
I wouldn't worry about this unless the documentation explicitly states the current behaviour (e.g. always line-buffered). If it's not documented, it's like relying on implementation details (which are subject to change).

[2019-05-11 22:14] memoryruins opened #60749 "Inconsistent overflowing_literals lint with const generics"
The following compiles as expected
[code]

If we try to impl 256, expecting an `overflowing_literals` error
[code]

it produces a different error, as it overflows to 0, causing duplicate definitions.
[code]

If we instead try 257
[code]

it errors with
[code]

which is expected.

`nightly 2019-05-10 d595b113584f8f446957`

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2ff

[2019-05-11 22:40] memoryruins commented on #60749
The following, without the conflicting definition, does produce the expected lint

[code]
[code]

I guess the pass that is checking definitions comes before the lint?
If it's unreasonable for the literal check to occur any earlier, feel free to close.

[2019-05-11 22:40] Xanewok commented on #60722
Fixed with https://github.com/rust-lang/rust/pull/60739

[2019-05-11 22:40] #60722 closed

[2019-05-12 01:14] #60713 closed

[2019-05-12 01:19] BurntSushi commented on #60673
I don't think we specify the behavior. But even if we don't, and we want to make this change (it sounds like folks agree we should), we should go into it while being considerate of behavioral changes to existing code. The letter of the law is important, but so is the spirit.

[2019-05-12 01:53] LPGhatguy opened #60753 "Test overflows stack as a doctest, but runs fine as a regular test"
I recently added this doc test to the `lib.rs` of my crate:

https://github.com/LPGhatguy/rbx-dom/blob/493ce5a4f5c3da6932c51e003987e2cbd69eecf7/rbx_xml/src/lib.rs#L13-L39

When I try to run it through `cargo test`, I get a stack overflow that contains none of my own code, and not very many stack entries:

![dpX8vyi](https://user-images.githubusercontent.com/654598/57576788-13688000-741d-11e9-8515-

[2019-05-12 03:03] memoryruins commented on #60749
Considering it would be obscure to experience the above and it’s correctly rejecting the duplicate definitions, I am inclined to close this for now.

[2019-05-12 03:03] #60749 closed

[2019-05-12 03:23] moonpatroller commented on #25289
curl -L https://git.io/rustlings | bash causes it on MacOS.

[2019-05-12 04:24] scottmcm commented on #60639
[code]
Wouldn't that need to be `unsafe` for the same reason as `offset`?

[2019-05-12 05:49] Arnavion commented on #60753
The `generate_classes` function is called from the main thread of the doctest binary, and about 0x4460 bytes of stack is used before the function is called. It then attempts to allocate another 0x147100 bytes. The `__chkstk` in the prolog attempts to validate that `0x4460 + 0x147100` is valid, hits the guard page (default stack for main thread on Windows is 1 MiB == 0x100000) and reports the overf

[2019-05-12 07:06] nuew opened #60754 "Documentation for unreachable macro incorrectly describes unreachable_unchecked"
The documentation for the `unreachable!` macro says:

This is incorrect; while building in release (and thus with optimizations) certainly makes the compiler more likely to exploit `unreachable_unchecked`, it is still UB to reach it without optimizations enabled, and LLVM is under no obligation to exploit it when compiling in release mode.

I'm not sure what this should be changed to, which is why

[2019-05-12 09:26] oli-obk commented on #60639
Since it would be bounds-checked, you can't overflow, so `get` should be safe

[2019-05-12 09:27] oli-obk commented on #60639
Ah no, you're right. One can create a wrong slice that would overflow for some indices...

[2019-05-12 09:38] DustinByfuglien opened #60755 "Error when trying use trait alias for Fn() in impl"
This code produce compiling error:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6f1bfe3f9fca8240a2111c94b12a963d))

Errors:

[code]

But when non aliased trait used, then no error occured. That is when we replace
`fn foo (_: impl MyFn) {}`
with
`fn foo (_: impl Fn(&MyStruct)) {}`

[2019-05-12 09:38] Pulkit07 commented on #60736
I will take care of this one :)

[2019-05-12 12:36] Xadren commented on #25289
I'm also experiencing this after upgrading to Mojave

[2019-05-12 13:56] rkruppe opened #60757 "improper_ctypes should not suggest reprs that lead to errors"
Currently when the lint finds a repr(Rust) struct, enum, or union that is not FFI-safe, it generally suggests some repr attributes that could be applied to a struct/enum/union that would make it FFI-safe, which is nice. However, it bases these suggestions only on the kind of data type, without checking whether the attribute could actually be applied to the specific type.

For example, when compili

[2019-05-12 14:08] eugene2k opened #60758 "Weird compiler behavior when compiling a dynamic library"
When the code below is compiled with `crate-type=cdylib` the function `fooBar` is excluded from the symbol table, however when the code below is compiled with `crate-type=dylib` the function `fooBar` is present:
[code]
When the function is decorated with the `#[no_mangle]` attribute it is present in both cases.

[Edit: the following is my mistake, sorry]
When the function is decorated with attribu

[2019-05-12 14:14] davidtwco commented on #44109
I've submitted documentation PRs rust-lang/book#1955 and rust-lang-nursery/reference#609 for this.

[2019-05-12 14:18] jonas-schievink commented on #60758
`#[cfg(allow_non_snake_case)]` is not a lint attribute, it will remove the item it's applied to when rustc isn't invoked with `--cfg allow_non_snake_case`. Did you mean to use `#[allow(non_snake_case)]` instead?

[2019-05-12 14:24] eugene2k commented on #60758
Ah, okay, that explains part of the problem. I rarely use the this feature and forgot the proper way to use it.

[2019-05-12 14:54] RalfJung opened #60759 "Box<dyn Error> does not impl Error"
It seems reasonable to expect that `Box<dyn Error>` would implement `Error`, [but it does not](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=36fba6624a6ac8bd886b76a4d838d7e5).

Unfortunately, extending the `impl<T: Error> Error for Box<T>` to also apply for `T: ?Sized` fails because then the `impl<'a, E: Error + 'a> From<E> for Box<dyn Error + 'a>` starts overlapping with

[2019-05-12 15:01] jonas-schievink commented on #60759
https://github.com/rust-lang/rust/pull/58974 does this, but the lang team doesn't like it

[2019-05-12 15:33] timvisee commented on #60736
Cool! Wanted to do it, but haven't been able to start on it yet. Perfect if you can take it over.

[2019-05-12 16:07] matthewjasper commented on #60655
We should ignore all bound regions. Function pointers have the same issue:

[code]

[2019-05-12 16:24] Pulkit07 commented on #60736
In that case, it will be nice to have you review the PR: https://github.com/rust-lang/rust/pull/60761.

[2019-05-12 16:42] fbstj opened #60762 "error for too many trailing #s in raw string literals could be improved"
for example ([play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=30cb101c03c070947da815e108333c93))
[code]
results in
[code]

while too few has a much nicer error:

[code]

This issue has been assigned to @rcoh via [this comment](https://github.com/rust-lang/rust/issues/60762#issuecomment-605386317).

[2019-05-12 17:23] matthewjasper opened #60764 "Add impl_trait_in_bindings to INCOMPLETE_FEATURES"
cc #60473,  #60407, #58956

[2019-05-12 18:03] stepnivlk commented on #59210
hey @oli-obk I have one tiny question, @eddyb mentioned here https://github.com/rust-lang/rust/pull/59178#discussion_r265554605 that he wants `ConstKind` in `ty` and `ConstValue` in its current place, is that what we aim for? I'm asking b/c often it's necessary to bring in both `ConstKind` and `ConstValue`, mainly for pattern matching. From that perspective those two are quite coupled. I feel like

[2019-05-12 18:12] RalfJung commented on #60639
It could use `wrapping_offset`, though. Then it could be safe.

[2019-05-12 18:19] Stargateur commented on #60639
just to note that in C, it's UB to create a out of bound pointer of more than len, for exemple:

[code]

Look like Rust allow this, but use raw pointer is often use with C binding, I just through this could be useful to know.

[2019-05-12 18:29] rkruppe commented on #60639
But then people would have a performance incentive to not use the clearer and more convenient method. And what for? If one uses this method they'll almost always go on to access memory through the resulting pointer, and then they'd almost certainly have UB anyway if the index is too large or goes otherwise out of bounds. While wrapping_offset does allow "allocation crossing" with a suitably crafte

[2019-05-12 18:42] RalfJung commented on #60639
If they want the performance, wouldn't they use `get_unchecked` anyway? Seems like if you care about whatever LLVM gets from knowing there is no overflow, you'll also want to bounds check.

[2019-05-12 19:14] rkruppe commented on #60639
This is a good question. I feel like the answer might well be "there is no point to having `get`". Is there anything useful one can do with `get` that doesn't already require knowing the preconditions of `get_unchecked` are met? If the resulting pointer is not good to dereference (e.g., because the `*[T]` was dangling) one could still compare the resulting pointer safely, but is that ever useful b

[2019-05-12 20:14] varkor commented on #60764
If you want to fix this, all you need to do is add the string `"impl_trait_in_bindings"` to:
https://github.com/rust-lang/rust/blob/0df1e57991e34825697b1659732c0716e7508519/src/libsyntax/feature_gate.rs#L565-L568
And update the tests that make use of that feature to catch the new warning that is emitted.

[2019-05-12 20:29] rust-highfive opened #60768 "`rls` no longer builds after rust-lang/rust#60679"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#60679, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @petrochenkov, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @matklad, the PR reviewer, and @rust-lang/compiler -- no

[2019-05-12 21:57] matklad commented on #60768
RLS builds with `cargo build --no-default-features`, so it's a Clippy issue

[2019-05-12 23:15] #60662 closed

[2019-05-13 00:02] yoshuawuyts commented on #57391
I was trying this out today, and was confused for a bit that `std::time::UNIX_EPOCH` was available, but the other constants are under a different namespace. The constant shorthands all living under the `time` namespace would be nice so we are able to do:

[code]

Having these live on `Duration` feels a lot more clunky when writing these inline:
[code]

I guess importing `Duration` is an option, bu

[2019-05-13 02:40] updogliu commented on #31844
@bjorn3 Seems that we don't need a `default` method to specialized it ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c132c63c059393842304e5e30f28482f)). I wonder why as well.

@KrishnaSannasi I cannot reproduce the "conflicting implementations" error in your example ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=66c49c4

[2019-05-13 05:41] eddyb commented on #60705
cc @rust-lang/compiler

I'd add this as an unresolved question: https://github.com/rust-lang/rfcs/pull/2603#issuecomment-489649554

I'd rather change the grammar now, if ever, before merging https://github.com/rust-lang/rust/pull/57967.

[2019-05-13 06:26] HadrienG2 commented on #60677
Pinging @RalfJung and @jeehoonkang , given their usual areas of interest they might have more material to suggest or further insight on the "what exactly optimizers can do and how programmers we can prevent it where undesirable" topic.

[2019-05-13 07:59] hellow554 commented on #60762
Gonna work on it (first working on the compiler internals, so please bear with me :) )

[2019-05-13 08:04] elichai opened #60776 "Is using array pointers with FFI UB?"
Hi,
I want to know if it is UB to pass a C function that receives `uint8_t arr[20]`
an array pointer(`*mut [u8; 20]`) instead of a regular pointer(`*mut u8`)?
are pointers and length equivalent to arrays? or is this UB?

cc @emilio https://github.com/rust-lang/rust-bindgen/issues/1561

[2019-05-13 08:14] Xanewok commented on #60604
I'm working on it.

[2019-05-13 08:16] oli-obk commented on #59210
`ConstKind` fits better to `ty`, since that's also where `ty::Const` is defined. It's perfectly fine that they live in different modules imo. Also, most of the time you won't import `ConstKind`, but use `ty::ConstKind`.

[2019-05-13 08:24] hellow554 commented on #60776
As this isn't directly an issue, I would recommend you to ask on the [user forum](https://users.rust-lang.org) or [stackoverflow](https://stackoverflow.com/questions/tagged/rust) instead.

[2019-05-13 08:36] RalfJung commented on #60677
My stanza is that one should rarely use `SeqCst`. In the vast majority of cases, release-acquire semantics are strong enough, and by restricting the possible correctness arguments to "message-passing style" (and excluding "case distinction on interleavings), I feel they also promote a better way to think about synchronization in concurrent programs. If your code *needs* `SeqCst`, you are doing som

[2019-05-13 08:44] Nemo157 commented on #32836
E0658 still points here:

[2019-05-13 08:55] mati865 commented on #60747
Does nightly-2019-05-10 work after running `cargo clean` (without running the older one)?

[2019-05-13 08:58] pnkfelix commented on #58781
@jethrogb no, NLL was not meant to solely relax things. Such relaxation is the primary selling point of NLL, but we always knew it was going to introduce breakage.

The shift to NLL is coupled with a change in the underlying borrow-checker implementation to analyze MIR (instead of analyzing the higher-level AST, which is what the old borrow checker did). In order to avoid injecting breaking change

[2019-05-13 08:59] petrochenkov opened #60779 "Add stubs for keywords not documented in https://doc.rust-lang.org/std/#keywords yet"
The keyword list that we can observe now leaves a pretty bad impression.
It doesn't say that it's a work in progress, it just provides an incorrect list.

When you see this list on the documentation landing page questions arise:
If some keyword is not in the list, is it actually a keyword?
Is the any [reason](https://github.com/rust-lang/rust/issues/60736) and intent behind a specific keyword miss

[2019-05-13 09:06] petrochenkov commented on #60779
The documentation source can be found in `src/libstd/keyword_docs.rs`.
The keyword list can be found in `libsyntax_pos/symbol.rs`.

[2019-05-13 09:15] RalfJung commented on #56443
@alexcrichton suggested it might be possible to do at least a metadata-only build, using essentially `cargo check`.

I tried this, but at least for cross-building purposes that currently does not work because since compiler_builtins got moved out of the rustc workspace, the `c` feature is forced to be enabled. (It can be controlled in libstd, but not in liballoc which sets `rustc-dep-of-std`.)

[2019-05-13 09:58] ollie27 commented on #60779
This is part of #34601.

[2019-05-13 10:06] RalfJung commented on #46439
Nowadays we have infrastructure to make libstd depend on crates.io, and that is working fine -- seems to me that should help with some of the issues that came up here earlier.

[2019-05-13 10:20] zrzka commented on #60605
Did report it in the LLVM's Bugzilla: https://bugs.llvm.org/show_bug.cgi?id=41856

[2019-05-13 10:58] #58840 closed

[2019-05-13 11:13] spl opened #60781 "gnu/MinGW: cannot find -l<shared-library> found by pkg-config"
I'm trying to build a `-sys` crate that can work on MinGW with a shared library (`graphite2`) installed by `pacman`. The basic setup for this issue is simple and available at <https://github.com/spl/rust-gnu-linker-test>. The latest AppVeyor build is at <https://ci.appveyor.com/project/spl/rust-gnu-linker-test/builds/24532085>.

The key component is the `build.rs`:

[code]

I have an `.appveyor.ym

[2019-05-13 11:14] RalfJung commented on #58523
Might be caused by superlinear compile times for array literals: https://github.com/rust-lang/rust/issues/52868, https://github.com/rust-lang/rust/issues/37155

[2019-05-13 11:22] jonas-schievink commented on #60776
Seems to be answered in this forum thread already: https://users.rust-lang.org/t/is-using-array-pointers-with-ffi-ub/28197

[2019-05-13 11:22] #60776 closed

[2019-05-13 11:26] spl commented on #60781
Just to clarify something, this issue came up when trying to link a binary crate with a library `-sys` crate, but the [MWE crate](https://github.com/spl/rust-gnu-linker-test) combines both aspects — finding the package with `pkg-config` and linking to it — to reproduce the problem.

[2019-05-13 11:27] elichai commented on #60776
Yeah I posted there after @hellow554 requested.
If anyone can verify that his answer is correct I'll be glad.

Thank you.

[2019-05-13 12:14] hellow554 commented on #54910
@oberien you could modify your environment variables and add

and you have it enabled for all your projects on your local machine.

[2019-05-13 12:17] michaelwoerister commented on #60705
I think the `Punycode vs UTF-8` and `Encoding parameters types for function symbols` questions are actually resolved. The RFC text contains a recommendation on what the resolution should look like (since before the motion to merge) and nobody objected.

[2019-05-13 12:23] oli-obk commented on #55795
Have you seen any improvement after https://github.com/rust-lang/rust/pull/58556 ?

[2019-05-13 12:27] pnkfelix commented on #59945
I have not been able to replicate this problem.

@matthiaskrgr , for either of the instances listed above, were you starting from a clean build, e.g. via `x.py clean` ?

[2019-05-13 12:28] jonas-schievink commented on #55795
[code]

[2019-05-13 12:29] starblue opened #60782 "linker error "undefined symbol: __aeabi_uidiv" for target thumbv6m-none-eabi"
Beginning with nightly-2019-05-10 I get the following linker error:
[code]

[2019-05-13 13:04] jonas-schievink commented on #60782
Please post a way to reproduce this. What code are you trying to build?

[2019-05-13 13:21] peterjoel commented on #50186
Related conversation on a similar PR (for `RefCell`): https://github.com/rust-lang/rust/pull/38741

[2019-05-13 13:27] starblue commented on #60782
This is test-code for microcontrollers using my own framework called dust.
I now uploaded it to https://github.com/starblue/dust .
To reproduce go into the `dust-test` subdirectory and run `make clean && make test-uart` with some version of nightly (nightly is needed due to inline assembly). For example, I did
[code]

[2019-05-13 13:30] matthiaskrgr commented on #59945
No, I was not doing a clean build in this one.
I suspect it might be fixed if #60228 is resolved. :)

[2019-05-13 13:48] #59134 closed

[2019-05-13 14:07] sunfishcode opened #60783 "Document the behavior of creating empty subslice at end of slice"
Creating an empty subslice at the end of a slice succeeds: `&slice[slice.len()..]`, however this doesn't appear to be documented in [the slice documentation](https://doc.rust-lang.org/std/primitive.slice.html).

From some searching, I found efforts to document this behavior, including https://github.com/rust-lang/rust/pull/32183, however this documentation doesn't seem to appear in [slice's doc pa

[2019-05-13 14:10] KrishnaSannasi commented on #31844
@updogliu you example does not show specialization because `Foo` does not implement `Error`.

[2019-05-13 14:31] agnxy commented on #60015
@petrochenkov , shall I also move `recover_closing_delimiter`, `recover_seq_parse_error`, `report_invalid_macro_expansion_item`, `expected_item_err`, `err_dotdotdot_syntax` and `missing_assoc_item_kind_err` to `diagnostics.rs`? I'm not sure if that's ok. Thanks a lot.

[2019-05-13 14:41] hellow554 commented on #60782
Maybe these two are related? https://github.com/rust-lang/rust/issues/60747

[2019-05-13 14:46] jonas-schievink commented on #60782
(removing regression label since this never built on stable)

[2019-05-13 14:46] mati865 commented on #60782
https://github.com/rust-lang/rust/pull/60491 was merged on 2019-05.09 and modifies `compiler-builtins`.

cc @alexcrichton

[2019-05-13 15:17] alexcrichton opened #60784 "Manual implementations of `Error::type_id` are memory unsafe"
Reported by @seanmonstar to the security mailing list recently, it was discovered that the recent stabilization of `Error::type_id` in Rust 1.34.0 is actually not memory safe. Described in a [recent security announcement](https://groups.google.com/forum/#!topic/rustlang-security-announcements/aZabeCMUv70) the stabilization of `Error::type_id` has been reverted for [stable](https://github.com/rust-

[2019-05-13 15:26] hellow554 commented on #51221
I'm very surprised that this is still open. @jonas-schievink can you add the I-nomiated flag please?

@rustbot modify labels: T-compiler C-Bug

[2019-05-13 15:33] jonas-schievink commented on #51221
This only seems to occur with nightly features enabled, so I'm not sure it's supposed to be nominated. I'll mention it in the tracking issue though.

[2019-05-13 15:34] jonas-schievink commented on #51085
cc https://github.com/rust-lang/rust/issues/51221, using this feature in `let`-bindings seems to ICE unless the `never_type` feature is also enabled

[2019-05-13 15:50] estebank commented on #60762
Feel free to ask for help!

[2019-05-13 15:51] Centril commented on #60784
Here's an *unbaked* thought: Can we make an extension `unsafe trait ErrorTypeIdExt` to `Error`, seal that extension trait (meaning that users cannot implement it), and then provide a blanket implementation for `Error`?

[2019-05-13 15:53] fintelia opened #60789 "Documentation for pointer::add should explain why it is unsafe"
The documentation for [pointer::add](https://doc.rust-lang.org/std/primitive.pointer.html#method.add) does a good job explaining under what conditions it can trigger undefined behavior, but only very subtly alludes to why the function wasn't implemented fully with safe Rust. Perhaps instead say something like:

[2019-05-13 16:00] crlf0710 commented on #60784
I think my *unbaked* idea is not implementable in current Rust:
[code]
The only problem is we can't add a "where Self:Sized" bound to the "{ self as _ }" part.

[2019-05-13 16:00] SimonSapin commented on #60784
It’s tempting to make `Any` a super-trait of `Error`, and rely on `Any::type_id`. This would be sound because `Any` already has a blanket impl that covers every possible impl, so it cannot be overridden.

However `Any` requires `'static` but `Error` doesn’t (only its `TypeId`-related methods do), so this plan doesn’t work as-is.

[2019-05-13 16:02] memoryruins commented on #54910
It would be great to have `bare_trait_objects` set to warn by default. I often see users in chats accidentally use trait objects when they did not intend to.

[2019-05-13 16:04] skade commented on #60784
@SimonSapin Wasn't relating Any's bound discussed at some point?

[2019-05-13 16:21] petrochenkov commented on #60666
Two more possible cleanups that are possible after removal of `DefIndexAddressSpace`:
https://github.com/rust-lang/rust/pull/60647#discussion_r283391646
https://github.com/rust-lang/rust/pull/60647#discussion_r283394682

[2019-05-13 16:30] Centril commented on #54910
I have a few PRs:
- https://github.com/rust-lang/rust/pull/59482
- https://github.com/rust-lang/rust/pull/59483
- https://github.com/rust-lang/rust/pull/59484
- https://github.com/rust-lang/rust/pull/59485

which, unfortunately, I don't have time for at the moment.

Feel free to pick up any of them.

[2019-05-13 16:35] fbenkstein opened #60790 "tests with #[should_panic] should print a message on failure"
When a `#[should_panic]` `#[test]` fails because there was no panic it should produce an error message to that effect.

For example, the following test:

[code]

when run with `cargo test` produces the following output:

[code]

There is no indication why it failed.  Which can be problematic if the test itself is created by a macro.  Example: https://github.com/BurntSushi/fst/blob/master/src/raw/t

[2019-05-13 16:43] jonas-schievink commented on #59731
Nominating for discussion since I forgot to do this initially and this seems to have a somewhat high impact

[2019-05-13 16:52] scottmcm commented on #60784
On unstable we have `#[marker]` traits which cannot override anything in their impls -- if they were allowed to define associated items with defaults in their trait definition, it would be another way to do this, though that considered too large a change to make with just a PR in https://github.com/rust-lang/rust/pull/53693#issuecomment-416384949.

[2019-05-13 17:04] eddyb commented on #60593
@fedochet "no luck" as in "it still causes the panic"? Or does it work as intended in that configuration?

[2019-05-13 17:11] cramertj commented on #60715
@Centril That's equivalent to `PhantomData<Cell<()>>`.

[2019-05-13 17:31] cuviper commented on #60784
I'm not sure why this functionality should be left to the library at all. Maybe we really need a `type_id_val` paired to the existing `intrinsics::type_id()`? (Similar to `size_of` and `size_of_val`.)

[2019-05-13 17:34] Xanewok commented on #60282
@dpetrick I believe this error should be fixed with https://github.com/rust-lang/rust/pull/60649 (should be available in the next nightly build)

[2019-05-13 17:54] gilescope commented on #55872
This is about as small as I can get it to repro:
[code]

[2019-05-13 17:56] Centril commented on #29864
cc https://github.com/rust-lang/rust/issues/60784#issuecomment-491901601

[2019-05-13 18:01] Centril commented on #60789
I'm not a big fan of mentioning LLVM documentation like that. We should try to move away from being so tied to that backend.

[2019-05-13 18:07] jethrogb opened #60792 "rustdoc: Extra margin in enum definition"
The enum definition at https://doc.rust-lang.org/nightly/nightly-rustc/rustc_errors/diagnostic/enum.DiagnosticId.html currently looks like:
[code]
(note the extra space in `Lint`)

This seems to be the culprit (added in 825a11ea):
[code]

cc @GuillaumeGomez

[2019-05-13 18:12] fintelia commented on #60789
Good point. Perhaps "the compiler backend" instead of "LLVM"? I think it is important to mention in some form though because the only reason the function is unsafe at all is because of a detail on how it gets passed to LLVM. I didn't even realize it was unsafe until someone offhandedly mentioned it in an unrelated thread. The name `add` certainly doesn't help here, if anything `add_unchecked` woul

[2019-05-13 18:13] z0mbie42 commented on #57464
Hi,
Will a 'fix release' land on stable ?

I really need this fix to compile an `actix-web` project on stable (which compiles on nightly).

[2019-05-13 18:14] Centril commented on #60789
@fintelia That's perhaps a comment which is more suitable in the implementation of the function rather than as a doc comment then.

[2019-05-13 18:50] SimonSapin commented on #60784
@skade Yes, this was discussed to say that it would be unsound: https://github.com/rust-lang/rust/issues/41875#issuecomment-304518580

----

@cuviper This sounds doable, but would require a `TypeId` value to be stored in every trait object vtable. This has some code size cost. The size and alignment of the underlying type (and pointer to `drop_in_place<U>`) are already special-cased like this, to

[2019-05-13 18:54] fedochet commented on #60593
@eddyb yes, still `panic inside panic` with same stacktrace

[2019-05-13 19:03] fintelia commented on #60789
@Centril I'm not sure I follow, the issue is that this function documentation doesn't concisely say "this doesn't work how you expect, here's why" (The reason one would expect that pointer::add would be safe is that both the rust book and the nomicon are very clear that it is safe for pointers to hold *any* value aligned or otherwise)

Though perhaps the doc-comment is the wrong place since most p

[2019-05-13 19:25] davidtwco commented on #59131
I think this can be closed. #59382 resolved this by separating the `DefId` used for a variant and its constructor. `describe_def` (now `def_kind`) can [now return a `Def::VariantCtor`](https://github.com/rust-lang/rust/blob/a9ec99f4201ec33026a468ef1289f98a95b4d71a/src/librustc/hir/map/mod.rs#L354-L365) (now `DefKind::Ctor`) and the code from the original PR that raised this now uses `DefKind::Ctor

[2019-05-13 19:31] eddyb commented on #38078
Sadly, not enough progress has been made for this to be readily doable yet.

[2019-05-13 19:36] cuviper commented on #60784
@SimonSapin

Yeah, I see -- I guess I'm basically proposing the equivalent of C++ RTTI and `typeid` keyword. It could be an indirect pointer to `TypeId::of`, saving a little on 32-bit targets, but that's still some growth.

In the context of replacing `Error::type_id`, would this use case have some double-`dyn` indirection? Like a `dyn Error` object which has the vtable of `dyn Error` itself? (whi

[2019-05-13 19:40] nikic commented on #60540
Fixed upstream: https://github.com/llvm/llvm-project/commit/323dc634b984b7d30e10b82ae4e9536559488f70

[2019-05-13 19:49] oli-obk opened #60795 "Should ast::Position use `Symbol` instead of `str`?"
https://github.com/rust-lang/rust/blob/258e3b3a75a0da006cd492307fc46ef605e774ad/src/libfmt_macros/lib.rs#L74 is compared against symbols in clippy, and I believe in rustc many uses could also be comparing against symbols. Is this something we should do @nnethercote ?

[2019-05-13 19:49] laanwj commented on #60747
Yes, this is not an issue with stale files: I even completely removed the `target` folder a few times.

[2019-05-13 20:05] SimonSapin commented on #60784
Double `dyn Trait` indirection is possible but that’s not what my previous comment was about. For trait objects we want a way to peel back one layer as you say. This is as opposed to peeling back zero layer, which for example for `&dyn Error` would give `TypeId::of<dyn Error>()`. But if `type_id_of_val` is a function defined for all types, do we want special-cased semantics of peeling back one lay

[2019-05-13 20:08] mati865 commented on #60747
Presumably https://github.com/rust-lang-nursery/compiler-builtins/commit/752e35a11f2e7eb29df84668bef0945e75cf3eb5

cc @alexcrichton

[2019-05-13 20:11] SimonSapin commented on #60784
Other idea: can we replace the `'static` bound in the definition of the `Any` trait (`pub trait Any: 'static { … }`) with `where Self: 'static` bounds on its methods, and implement it for all types? That way we could add `Any` as a super-trait of `Error` and have `Any::type_id` in the vtables for `dyn Error`.

This might be a breaking change because generic code with a `T: Any` bound could not any

[2019-05-13 20:16] seanmonstar commented on #60784
I believe that'd break code like this:

[code]

[2019-05-13 20:20] cuviper commented on #60784
Isn't that the exact same variability as `size_of_val`? It peels back zero layers for sized types, or one layer otherwise -- or so it seems [here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a6c4b07ea9c1da3cdde26987833e1692):

[code]

[code]

[2019-05-13 20:25] GuillaumeGomez commented on #60792
Fixed by #60093. Duplicate of #60042. Closing it then. Thanks though!

[2019-05-13 20:25] #60792 closed

[2019-05-13 20:48] nikomatsakis opened #60797 "improve the "must use" lint for `Future` to suggest await"
The following code [gives a "must use" warning](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1dce9a2ee23813a18dfcf2b4d6bfa2fe) (which is awesome!), but the warning is not as clear as it could be:

[code]

This results in:

[code]

it should probably say "futures do nothing unless you await them" or something. Most people won't know what 'polled' is all about, I think.

[2019-05-13 20:51] Centril commented on #60797
The current note originates from:
https://github.com/rust-lang/rust/blob/a9ec99f4201ec33026a468ef1289f98a95b4d71a/src/libcore/future/future.rs#L26

To change it, simply edit that.

[2019-05-13 20:51] sgrif commented on #49703
33856d0e8be4cc845f5366e2133f0d760a047157

[2019-05-13 20:57] imbrem opened #60798 "ICE with Const Generic expression inside turbofish syntax"
I found an ICE with the following:
[code]
Here's a link to the [Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=94a30122e23b8227d3a8bc37e756b464)

I was poking around in `collect.rs`, where the error seems to be from, and it looks like some cases in a `match` statement are not being handled, but I'm not familiar enough with the code-base to see how to fix this.

[2019-05-13 21:04] SimonSapin commented on #60784
Let’s take a `foo: &dyn Error` coerced from `&mpsc::RecvError`.

`size_of_val` has a consistent definition: always “peels” exactly one layer of `&_` indirection, and does not care about type-erasure indirection. `dyn Error` is a dynamically-sized type: is has a size that can be computed at run-time. Just like `[_]` is dynamically-sized type.

“Dynamically-sized” is a notion that exists in the lang

[2019-05-13 21:09] comex commented on #60605
It occurs to me that even once this bug is fixed, making every compare-and-swap (or at least every one using those semantics) trap to the kernel is going to be rather slow.  The non-deprecated equivalent of the CP15 barrier is the `DMB` instruction, but that's only supported starting with ARMv7, whereas Rust's `arm-unknown-linux-gnueabihf` target only assumes ARMv6.  However, Rust also has `armv7-

[2019-05-13 21:11] Schultzer commented on #60797
What about ` #[must_use = "futures stays idle unless you await them"] ` ?

[2019-05-13 21:12] imbrem opened #60800 "Compiler error on impl with const generic"
Impls which are generic over a const parameter don't seem to work properly, generating a bunch of compiler errors
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d680bbcb4e60cf4fd2265f2af3cf65fe))

Errors:

[code]

[2019-05-13 21:18] imbrem opened #60801 "Compiler error with member parametrized by const generic"
When you parameterize struct members by const generics you get the same sort of errors as when parametrizing impls by const generics (#60800)
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=65483bbfd3dcfa01bcd95da4b1ac6841))

Errors:

[code]

[2019-05-13 21:24] SergioBenitez commented on #54140
@regexident The issue text is up-to-date. The remaining tasks are to:

1. Implement lint-associated warnings
2. Document thoroughly
3. Stabilize

Help would be appreciated for 1 and 2, which, if implemented, allows us to discuss and move forward on three.

[2019-05-13 21:31] varkor commented on #60798
This should be fixed by https://github.com/rust-lang/rust/pull/60710.

[2019-05-13 21:33] varkor commented on #60801
At the moment, you need to surround const generic arguments in curly brackets: e.g.`{N}`, because they can't be disambiguated from type parameters yet.

[2019-05-13 21:35] varkor opened #60804 "Const generic arguments should be disambiguated from type arguments"
At the moment, const arguments have to be wrapped in curly brackets, even if they are parameters.
E.g.
[code]
Due to:
https://github.com/rust-lang/rust/blob/036e368d6883e0bc141c1b54578876cd5bfb2468/src/libsyntax/parse/parser.rs#L5952-L5957

Edit: Direct repro: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=85fcc01c6258677c94c5a8cd3d144cbe

[2019-05-13 21:36] zrzka commented on #60605
@comex the short answer is _cross compilation_ (in quotes).

[Our](https://www.balena.io) customers have dozens of different devices - RPi Zero, RPi 1, RPi 3, ... These device are ARMv6, v7, ... Part of our infrastructure is a service called builder. You can push to a special git origin and your service is going to be build on our builder. Building on RPi Zero / via QEMU is slow. Thus our build se

[2019-05-13 21:36] varkor commented on #60800
I've just created a catch-all issue for this: https://github.com/rust-lang/rust/issues/60804. For now, you can get around it by surrounding const argument with curly brackets.

[2019-05-13 21:36] #60800 closed

[2019-05-13 21:36] varkor commented on #60801
I've just created a catch-all issue for this: https://github.com/rust-lang/rust/issues/60804. Thanks for reporting!

[2019-05-13 21:36] #60801 closed

[2019-05-13 21:42] aesedepece commented on #60797
In any case, `#[must_use = "futures stay idle unless you await them"]`. Just a typo :wink:

I would actually expect something in the line of:

[code]

[2019-05-13 21:42] varkor commented on #60790
I'm not familiar with the code, but I'd guess that you just need to change `TrFailed` in here:
https://github.com/rust-lang/rust/blob/036e368d6883e0bc141c1b54578876cd5bfb2468/src/libtest/lib.rs#L1525-L1548
to `TrFailedMsg("test did not panic as expected")`
(And add a test to make sure it works.)

[2019-05-13 21:47] Centril commented on #60797
We may want to work in the fact that you can use `my_future.await` somehow.
Other than that, `#[must_use = "futures stay idle unless you await them"]` sounds pretty good.

[2019-05-13 21:48] chansuke commented on #60790
Thanks.I would like to work on this.

[2019-05-13 21:49] aesedepece commented on #60797
@Centril what trait does provide `my_future.await`? :astonished:

[2019-05-13 21:52] varkor commented on #60790
@chansuke: go ahead! If you have any questions, feel free to ask them here.

[2019-05-13 21:52] Centril commented on #60797
@aesedepece `my_future.await` is equivalent to `await!(my_future)` and is likely to replace it eventually. See https://boats.gitlab.io/blog/post/await-decision/.

I think for now `#[must_use = "futures stay idle unless you await them"]` might be good enough and we could tweak later.

[2019-05-13 21:58] aesedepece commented on #60797
That makes sense to me!

Am I ok to work on this?

[2019-05-13 22:10] imbrem commented on #60804
Do you think I could help with this? I've never contributed to rustc before, so I don't know if this is beginner difficulty...

[2019-05-13 22:14] Xanewok commented on #60768
Related Clippy PR: https://github.com/rust-lang/rust-clippy/pull/4093

[2019-05-13 22:34] varkor commented on #60804
@imbrem: you are welcome to try, but I think it's probably not going to be straightforward to resolve this. The general idea is to introduce a new variant to `ast::GenericArg`, called `Ident`, which will stand for either a type or a constant (because we can't distinguish them during parsing). Then, during lowering (see `lowering.rs`), we'll decide which it is using the extra information we have.

[2019-05-13 22:40] #59131 closed

[2019-05-13 22:47] imbrem commented on #60804
Well, I've got an hour, so I'll give it a shot and see where it leads

[2019-05-13 23:01] petrochenkov commented on #60804
The best existing analogy to `GenericArg::Ident` would be `PatKind::Ident` that can either refer to an existing variant/constant (making it a variant/const pattern) or introduce a new variable, but we don't know what it is exactly until name resolution.

[2019-05-13 23:01] #60789 closed

[2019-05-13 23:02] nnethercote commented on #60795
Possibly. The best way to decide is to simply try it and see how well it works. Sometimes switching to a symbol makes everything fall out nicely. Sometimes there are a bunch of follow-on changes required but it still ends up nice. Sometimes it ends up making the code more complicated and a string is better.

[2019-05-13 23:45] estebank commented on #49703
@sgrif I've tried running `cargo +devel test --features "sqlite"` on that SHA, but I get the following, among other errors

[code]

I tried a couple of other things but I haven't managed to get the tests to run. I also noticed that some lints that used not to trigger now trigger in nightly. Could you try getting the test run on your end or supply some instructions on how to get them to run locally

[2019-05-13 23:54] imbrem commented on #60804
After poking around in the code I have determined that the FIXME above is in fact not where #60800 errors out: in the example given, the parser actually parses `N` as a type a few lines below, specifically [here](https://github.com/rust-lang/rust/blob/a9ec99f4201ec33026a468ef1289f98a95b4d71a/src/libsyntax/parse/parser.rs#L5991). I verified this by putting in a `debug!` statement.

Any ideas how to

[2019-05-14 00:00] varkor commented on #60804
@imbrem: this is essentially the issue (but yes, the `FIXME` is perhaps in a misleading place). Const parameters and type parameters are ambiguous, so whichever comes first is picked first. So instead of choosing `GenericArg::Type`, we need to use `GenericArg::Ident` (and that branch at line 5951 can be removed entirely).

[2019-05-14 00:07] agnxy commented on #60163
Hi @eddyb @nikomatsakis I'd like to work on this if the decision has been made.

[2019-05-14 00:17] estebank commented on #34792
Triage: [no change](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=437781479a408d2a0f90436aa69897df):

[code]

[2019-05-14 00:21] estebank commented on #46634
[The current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bc9cc081fe886ec7f616d82f944a522c) doesn't emit E0383 errors:

[code]

[2019-05-14 00:27] estebank commented on #45078
Triage:

<img width="508" alt="" src="https://user-images.githubusercontent.com/1606434/57662429-5acd4880-75a4-11e9-85a2-8536f1940e1f.png">

[2019-05-14 00:40] cup commented on #60335
I have solved this. Obviously the MSI files here:

https://forge.rust-lang.org/other-installation-methods#standalone-installers

are installers. However the TAR.GZ files are also installers. So to work with
the TAR.GZ, you need to do this:

[code]

or alternatively this:

[code]

I disagree with the decision to make the TAR.GZ archives require installation:
the whole distributing an archive over a

[2019-05-14 00:41] cup commented on #29418
I have solved this. Obviously the MSI files here:

https://forge.rust-lang.org/other-installation-methods#standalone-installers

are installers. However the TAR.GZ files are also installers. So to work with
the TAR.GZ, you need to do this:

[code]

or alternatively this:

[code]

I disagree with the decision to make the TAR.GZ archives require installation:
the whole distributing an archive over a

[2019-05-14 00:41] cup commented on #33933
I have solved this. Obviously the MSI files here:

https://forge.rust-lang.org/other-installation-methods#standalone-installers

are installers. However the TAR.GZ files are also installers. So to work with
the TAR.GZ, you need to do this:

[code]

or alternatively this:

[code]

I disagree with the decision to make the TAR.GZ archives require installation:
the whole distributing an archive over a

[2019-05-14 01:03] cup opened #60810 "GNU default host triple"
If I download this file:

https://static.rust-lang.org/rustup/dist/x86_64-pc-windows-msvc/rustup-init.exe

and run I get this result by default:

[code]

However if I download this file:

https://static.rust-lang.org/rustup/dist/x86_64-pc-windows-gnu/rustup-init.exe

and run I get the same result. With GNU RustUp why is it not setting GNU ABI for
the default host triple?

[2019-05-14 01:50] dlrobertson commented on #59131
That is awesome! Thanks!

[2019-05-14 01:57] wpwoodjr commented on #39801
In addition to the above example, methods can normally be called by passing self as an argument, but not in this case where a trait object would require deref coercion:

    trait Foo {
        fn foo_method(&self);
    }

    struct Bar;

    impl Foo for Bar {
        fn foo_method(&self) {}
    }

    fn main() {
        let foo: Bar = Bar;
        foo.foo_method();                   // OK

[2019-05-14 02:17] wpwoodjr commented on #39801
In addition to the above example, methods can normally be called by passing self as an argument, but not in this case where a trait object would require deref coercion:

    trait Foo {
        fn foo_method(&self);
    }

    struct Bar;

    impl Foo for Bar {
        fn foo_method(&self) {}
    }

    fn main() {
        let foo: &Foo = &Bar{};
        foo.foo_method();                   // OK

[2019-05-14 02:42] lzutao commented on #60810
You want to ask this in rust-lang/rustup instead.

[2019-05-14 02:48] cup commented on #60810
https://github.com/rust-lang/rustup.rs/issues/1851

[2019-05-14 03:51] lambda commented on #60196
[It doesn't](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=4f44beacf473e01b55e4484da79285ef)?

[code]

`impl<B: ?Sized + ToOwned> Clone for Cow<'_, B>` and `impl<T> ToOwned for T where T: Clone` seem to make this work.

Oh, except that gives you a `Cow<T>` instead of a `T`. But since those impls are stable, I don't think you could do another impl of `ToOwned` for `Cow`

[2019-05-14 04:06] JohnReedLOL opened #60812 "The name "Rust" collides with other names - hard to find books."
It's hard to find Rust books on Amazon because "Rust" is such a generic word.

See: https://smile.amazon.com/s?k=Rust&i=stripbooks&rh=p_72%3A1250222011&dc&qid=1557806275&rnid=1250219011&ref=sr_nr_p_72_2

Go changed to "GoLang". Would you consider changing Rust to "RustLang"?

[2019-05-14 04:19] imbrem commented on #60804
@varkor so does that mean `GenericArg::Type` should be removed? I find this interesting, because on reflection (correct me if I'm wrong here) GenericArgs is one of the few (only?) places both types and values can appear in the same place.

[2019-05-14 04:32] WiSaGaN commented on #56686
Is "left" or "right" the word we want to use here? Previously we have deprecated `trim_left` (`trim_right`) of `String` in favor of `trim_start` and `trim_end` so that we do not assume the string is laid out from left to right. Here we seem to assume `left` is to `front` while `right` is to `back`? Are we able to use some words that express the `front` and `back` without assuming a left-to-right l

[2019-05-14 04:48] nnethercote commented on #60795
Hmm, `libfmt_macros` currently doesn't depend on any crates, and with this change it would depend on `libsyntax_pos`.

[2019-05-14 05:02] moxian opened #60813 "ICE with const generics over a &'static str"
[code]

Results in

[code]

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0dcc4b4c74c484cb0bb791159c23243d)

cc @serentty

[2019-05-14 05:02] Matthias247 commented on #54169
I just run into the same problem when trying to define an async interface (with `Future`) and implement it with existential type:

[code]

[code]

[2019-05-14 05:08] moxian opened #60814 "ICE with const generics with explicit lifetime argument"
This is a very slight modification of an example in #60813, but filing as a separate bug, since the error message is very different.

The following code

[code]
results in the following ICE:

[code]

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9617685386354393ff496b0891182494)

cc @Serentty

[2019-05-14 05:50] DutchGhost commented on #56686
As discussed here, we have to use those names to stay consistent with the slice methods https://github.com/rust-lang/rust/pull/56842#issuecomment-447940378

[2019-05-14 05:52] hellow554 commented on #60814
@rustbot modify labels: I-ICE C-Bug T-compiler A-const-generics

[2019-05-14 05:52] hellow554 commented on #60813
@rustbot modify labels: I-ICE C-Bug T-compiler A-const-generics

[2019-05-14 05:53] hellow554 commented on #60812
The domain (same as the github name) is already "rust-lang".

[2019-05-14 05:59] #56508 closed

[2019-05-14 05:59] #42008 closed

[2019-05-14 05:59] #60650 closed

[2019-05-14 05:59] #60704 closed

[2019-05-14 05:59] #60764 closed

[2019-05-14 06:52] DoumanAsh commented on #34511
Are there plans for `impl Trait` to be available within a context of trait?
Not only as associated type, but also as return value in methods.

[2019-05-14 06:53] WiSaGaN commented on #56686
@DutchGhost , sorry I missed that. Thank makes sense.

[2019-05-14 07:06] xfix commented on #60784
Unfortunately, this is hardly practical, from a quick Rust source code search, there is a lot code using `T: Any` bounds (without explicit `'static`), and then does `TypeId::of::<T>()` or calls methods of `Any`. This isn't isolated to a single crate, there are a lot of crates doing this.

[2019-05-14 07:13] GopherJ commented on #25289
I think this issue should be opened because it's still happening...

[2019-05-14 07:14] crlf0710 commented on #60784
cc https://github.com/rust-lang/rfcs/issues/2280

[2019-05-14 08:24] hellow554 commented on #60762
I indeed have a question @estebank. The fatal error itself is emitted at https://github.com/rust-lang/rust/blob/80e7cde2238e837a9d6a240af9a3253f469bb2cf/src/libsyntax/parse/parser.rs#L729 but my logic is currently somewhere around https://github.com/rust-lang/rust/blob/80e7cde2238e837a9d6a240af9a3253f469bb2cf/src/libsyntax/parse/lexer/mod.rs#L1163-L1240

I don't see how I can add labels to that er

[2019-05-14 08:31] oli-obk commented on #60795
`libfmt_macros` also custom rolls its own `Span` type. Having a dependency on `libsyntax_pos` can possibly make a lot of things simpler, but I haven't checked in depth.

cc @estebank

[2019-05-14 08:37] oli-obk commented on #60163
@agnxy one thing that doesn't need a decision is to change all things named `Associated...` to `Assoc...`. So you can do that already.

[2019-05-14 08:42] jonas-schievink commented on #60810
Closing in favor of https://github.com/rust-lang/rustup.rs/issues/1851

[2019-05-14 08:42] #60810 closed

[2019-05-14 08:48] varkor commented on #60804
As long as there aren't any other location where we know that a generic argument is a type (and I don't think there are), yes.

As you say, this is entirely a syntactic ambiguity. For the most part, types and constants are treated quite differently. I don't think this is in general something we want to move towards.

[2019-05-14 08:50] varkor commented on #60814
Ah, this is interesting. I don't think we intend to allow consts to be parameterised over other generic parameters just yet. Currently, you cannot parameterise a const by a type parameter, but we also should exclude lifetime parameters (for now).

[2019-05-14 09:05] jonas-schievink commented on #60812
Most of the results in that query *are* Rust-the-Language books for me. And yeah, this is basically already done (Go didn't exactly [change their name](https://tip.golang.org/doc/faq#go_or_golang) either). Closing.

[2019-05-14 09:05] #60812 closed

[2019-05-14 09:48] jplatte opened #60818 "ICE when using struct constructor with explicit const generic arguments"
This very simple example ([Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=516357843078a0b1bdaef643bc20c8a5)):

[code]

results in: `error: internal compiler error: src/librustc_typeck/collect.rs:1407: unexpected const parent path def Def(Ctor(Struct, Const), DefId(0:13 ~ playground[d52b]::Generic[0]::{{constructor}}[0]))`. Changing it to use curly braces

[2019-05-14 09:56] DutchGhost commented on #60818
This does work:
[code]

[2019-05-14 10:10] sanxiyn commented on #56068
It seems LLD patch is merged. How can I take advantage of this today?

[2019-05-14 10:18] lqd commented on #58840
I manually checked the latest nightly on the bigger repro project, and we have the expected `error[E0507]: cannot move out of captured variable in an `FnMut` closure` error instead of the ICE 👍 . The minimized code above (thanks again @jethrogb) doesn't ICE either.

[2019-05-14 10:42] WillSquire opened #60820 "Private doc test flag"
Doc tests seem to work in a similar way to integration tests, in that the tests are performed from the public facing API. This is great for public facing libraries, however for internal development it would be nice to have doc tests that run in a just-as-easy fashion.

Is this something on the cards that's on the cards or has a work around?

[2019-05-14 10:53] ebkalderon commented on #41082
Looks like #55010 has been merged and seems to be available on `stable`. Has anyone started tackling this issue?

[2019-05-14 10:55] teythoon opened #60821 "ICE: thread 'main' panicked at 'index out of bounds: the len is 0 but the index is 1', /usr/src/rustc-1.32.0/src/libcore/slice/mod.rs:2463:10"
This has never happened to me before, but now it happens if I run `cargo test` a second time.  Unfortunately, I don't know what causes it, I'm just working on my project as usual.  This is rustc 1.32 as packaged by Debian/testing as of May.

Running `cargo clean -p sequoia-openpgp` didn't help, only removing the target directory helps.

[code]

[2019-05-14 11:06] jonas-schievink commented on #60821
Thanks for the report! Your Rust version is quite a few releases behind, I'd be helpful if you can switch to the current nightly distributed by rustup and try to reproduce with that (eg. using `rustup override add nightly` in your project directory).

The backtrace you posted also looks a bit incomplete which doesn't normally happen on Linux. Maybe that's due to the Debian packaging and will also

[2019-05-14 11:08] ortem commented on #41082
@ebkalderon Recently I've implemented pretty-printers for `HashMap`/`HashSet` for both [lldb](https://github.com/intellij-rust/intellij-rust/pull/3636) and [gdb](https://github.com/intellij-rust/intellij-rust/pull/3687). I'm going to replace current rustc's pretty-printers with new ones which I develop for IntelliJ Rust, and hope I'll have enough time to make such PR soon.

[2019-05-14 11:12] rocallahan commented on #56068
Build LLD master and use it. LLD is pretty easy to build.

[2019-05-14 11:24] ebkalderon commented on #41082
@ortem Awesome! Thanks for the rapid response. Is there any way to help speed the implementation along?

[2019-05-14 11:37] hellow554 commented on #60762
In addition to too many `#`, I was looking at the case where there are less `#` than expected, but not in the same line, but over a lot of lines (in my newly added testcase there are 18 lines now).
I would like to improve that error message as well, something like:

[code]

I'm not sure about how to do that, if I just can use a span from the very beginning to the end and it will leave out the inte

[2019-05-14 11:53] JohnReedLOL commented on #60812
If I can call Rust "RustLang" the way I call Go "Golang", then that's fine. Closing.

[2019-05-14 12:04] teythoon commented on #60821
I know that it is behind, and I appreciate that it would be helpful for debugging to reproduce it with a newer version.  However, this is the version that will ship with Debian 10 (Buster), and will have to be supported for the lifetime of Debian 10 (I guess two to four years).

I'm sorry about that.  I didn't have the debugging symbols installed (`rustc-dbgsym`).  I should have installed it immed

[2019-05-14 12:15] gnzlbg opened #60822 "Drop impl of Vec is not idempotent and this is not documented"
#60611 shows that the `Drop` impl of `Vec` is not idempotent. That is, if `Drop` fails, the `Vec` is left in an "un-droppable" state, and trying to re-drop the vector invokes undefined behavior - that is, the vector must be leaked.

It might be possible to make it idempotent without adding significant overhead [0], but I don't know whether we should do this. I think we should be clearer about whet

[2019-05-14 12:16] gnzlbg commented on #60822
cc @rust-lang/libs

[2019-05-14 12:21] oli-obk commented on #60050
A fix is up. I this still nightly only or do we need to backport?

[2019-05-14 12:30] jonas-schievink commented on #60821
True, but Rust upstream doesn't offer support for older stable releases. If we know that this is still an issue on nightly, we know that it has to be fixed for all users, not just those on Debian, and once it's fixed in nightly Debian can backport the fix if they want.

No worries! For some reason there's still a few symbol in the backtrace, so I didn't think it was because the package was missing

[2019-05-14 12:37] jonas-schievink commented on #60050
Seems to be nightly-only still

[2019-05-14 12:42] crlf0710 commented on #44580
I think this code should build:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e45b7b5e881732ad80b7015fc2d3795c

but it currently errors:

error[E0119]: conflicting implementations of trait `std::convert::TryFrom<[type error]>` for type `MyArray<_, _>`:

[2019-05-14 12:46] oberien commented on #44580
Unfortunately that's a restriction of `Try{From,Into}`. They just can't be implemented generically: [playpen](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=94f9812e1fb6d875a12abafdf8afcd80)

[2019-05-14 12:50] crone123 opened #60824 "Wrong pattern matching on enums"
Hello,
There is a bug with enums and pattern matching, please try this minimal code:

[code]

What I call "half" is when you type "A" instead of "TEST::A", and when I call "full" is the regular "TEST::A".

Result:

[code]
Attended result:

[code]

You see that, when you use the "half" notation, the pattern matching will always use the first case which is not the good behaviour.
This bug can make p

[2019-05-14 12:51] hellow554 commented on #60762
I looked at the first implementation of this cc #48546 @GuillaumeGomez . What do you think about this?

[2019-05-14 12:57] GuillaumeGomez commented on #60762
That might make things more clear, indeed. :+1:

[2019-05-14 13:07] eddyb commented on #60705
I tried the "type/value namespace" shorthands, and this is what I got, stats-wise:
(apologies for having two tables, but it was hard to combine them further)

### 986807 symbols: sizes and compression ratios (▶)
#### `v0` without shorthands (types use `Nt` and values use `Nv`)
|  | legacy | mw | ▶ | mw + compress | v0 | ▶ | v0 + compress |
| ---: | --- | --- | --- | --- | --- | --- | --- |
| min |

[2019-05-14 13:17] rkruppe commented on #60822
"It's not idempotent" should be the safe default assumption, and I know of no case so far where we've documented that a drop glue *is* idempotent. We might want to mention the general principle in suitable places (e.g., nomicon, UCG) but I don't think we should repeat "as usual, double-dropping this type causes UB" again on all specific types. We should only document the exceptions, if any.

(I am

[2019-05-14 13:25] mpapierski opened #60825 "Accessing foreign global variables under wasm32-unknown-unknown target"
When trying to compile a code that uses foreign global variables under `wasm32-unknown-unknown` it appears that wrong code is generated. My use case is that I want to export a variable `foo` from the host, so Rust program compiled into wasm can use value of this variable.

I tried this code:

[code]

Compiled with:

[code]

Produces following WASM code:

[code]

Rust appears to treat variable `ext

[2019-05-14 13:27] SimonSapin commented on #60822
I think this is not an issue wit `Vec`. Rather, any unsafe code needs to be careful about panic safety, especially if it is also generic.

FWIW I’ve always assumed that double drop could be as much a memory safety issue as use-after-free. (“One and a half” drop even more so.) I don’t think `Drop::drop` idempotency should be expected for any type, but that sounds like a decision for @rust-lang/wg-u

[2019-05-14 13:43] michaelwoerister commented on #49409
I wonder if we could just enable the profiler on `*-pc-windows-gnu`.

[2019-05-14 13:44] ortem commented on #41082
@ebkalderon If you'd like to help me, I'd be happy to open a very draft PR right now :) I've never contributed rustc and don't know its architecture well, so it would be really helpful if someone checks code that new pretty-printers can affect.

https://github.com/rust-lang/rust/pull/60826

[2019-05-14 13:46] hellow554 commented on #60824
[code]

[2019-05-14 13:46] RalfJung commented on #60822
Fully agreed.

The best you can hope for, IMO, is that a type will make an effort to drop as much as possible even when there's a panic during dropping. `Vec` actually does that by using the slice drop glue, which, if dropping one element panics, will keep dropping the other elements.  This seems more useful than allowing idempotent dropping (it minimizes leakage even without any `catch_unwind` be

[2019-05-14 13:49] hellow554 commented on #60824
There's nothing as "half" notation. You have to use the full qualified name **or** import it into your local namespace by using `use TEST::*`.
This is not a bug, but instead the intended behavoir with pattern matching.

I think the warnings are pretty clear in this case.

[2019-05-14 13:51] jonas-schievink commented on #60824
Closing as working as intended.

If you have further questions, please ask in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2019-05-14 13:51] #60824 closed

[2019-05-14 13:52] hellow554 commented on #60824
As a sidenote and not really related to your problem:
Your code is not very idiomatic. You don't need brackets around the item you want to match. Enums should be named in `PascalCase`.  Curly brackets should be places in the same line.

All this can be found out by looking at the warnings the compiler gives you. **Don't ignore them!** If you do, you're on your own.
Also it's worth using `rustfmt`

[2019-05-14 13:55] gnzlbg commented on #60822
Today double-drops are not a form of undefined behavior. They could, however, lead to undefined behavior depending on the types involved and how `Drop` is implemented for those types.

As part of the UCGs one could try to make double-drops UB per se. That would mean that unsafe code needs to make sure that double-drops don't happen, period. That might be a breaking change. If we don't do that, the

[2019-05-14 14:00] CryZe commented on #60825
The online tool you linked is based on LLVM 5, which is very old, so it's more likely that the code compiled by C++ there is incorrect. In fact `get_global` is unlikely to be the correct thing, as returning a pointer to the extern would have to yield a proper pointer, but wasm globals are not part of the linear memory's address space and thus can't produce a pointer. And in fact if you try doing e

[2019-05-14 14:21] crlf0710 commented on #44580
@oberien in your example, `T` is a foreign type, and it's not known whether `T: Into<Foo<T>>` holds or not.

In my example, [T; N] is a type defined in libcore, and is `#[fundamental]`(tbh i don't even know what this means), so i think the trait resolver actually knows `[T; N]: Into<MyArray<T, {N}>>` does not hold, and there should not be a conflict, i think?

[2019-05-14 14:31] Nemo157 commented on #44580
This is the issue, `fundamental` is related to allowing downstream users to define trait implementations when they wrap a local type in the fundamental wrapper type. You can see [in this playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=78fbfe45f27d990e63de73a02b3ad905) that your implementation works between non-fundamental types, but fails if the `from` type is

[2019-05-14 15:02] mati865 commented on #49409
I think I can find time this week to test it.
I'm almost sure PGO was broken on some older GCC version but I cannot recall the details.

[2019-05-14 15:03] varkor commented on #60738
These issues may be partially addressed by https://github.com/rust-lang/rust/pull/59276.

[2019-05-14 15:04] xfix commented on #60784
This is sorta a crazy idea, but what if `type_id` was implemented for `dyn Error` specifically?

[code]

Where `__type_id` is unstable.

[2019-05-14 15:12] jonas-schievink commented on #60758
This might be intentional: A `cdylib` is meant to be used from non-Rust code, so only unmangled functions are accessible (since mangling is not generally predictable by non-Rust code), while a `dylib` is meant to be used from other Rust code, so mangled names are still accessible since all code is built with the same rustc.

[2019-05-14 15:56] oli-obk commented on #55795
I've wondered before whether we should special-case constants whose bits are all defined and zero. I'll open a discussion in the const-eval zulip channel.

[2019-05-14 16:13] petrochenkov opened #60830 "Set `CMAKE_INSTALL_MESSAGE` to `LAZY` for code built with CMake, LLVM in particular"
The "log is too long" error in https://github.com/rust-lang/rust/pull/60740#issuecomment-492300006 reminded me about this possibility.

`CMAKE_INSTALL_MESSAGE=LAZY` will avoid printing installation messages for up-to-date files into the log.
There are *many* of them in the log as you can see.

[2019-05-14 16:26] SimonSapin commented on #60822
https://rust-lang.github.io/rfcs/0320-nonzeroing-dynamic-drop.html (both the proposal that is now implemented an the description of the status quo before that) is relevant to the efforts that the language makes to not let double-`Drop` happen in safe Rust. This guarantee has existed for years, since before 1.0, so writers of unsafe code rely on it.

Although calling `Drop::drop` twice is not inher

[2019-05-14 16:42] cramertj commented on #60653
FWIW this will all be trivially fixed when we remove support for the old `await!` syntax.

[2019-05-14 17:05] RalfJung commented on #60822
Drop is not the only operation that has such issues; pretty much any function you call can be UB or not under certain circumstances depending on implementation details. One example is e.g. relying on `Vec::push` not to reallocate -- if we did a `reserve` before, is that guaranteed? What if we did `reserve` and then `pop`? And so on.

If we really consider such details to be stable just because the

[2019-05-14 17:08] eddyb commented on #56132
Downgrading this to a warning would require a RFC, AFAIK.
As for `cargo fix`, I would expect it to be able to fix errors, too.
(Although the compiler can't exactly give you a nice type to replace the `_` with)

[2019-05-14 17:12] eddyb commented on #60593
Alright, so a potential reason for `rustc` not hitting this is always using a different copy of the library, but with a compatible ABI.
Still, I can't think of any reason sharing `libproc_macro.rlib` between the server and the client wouldn't work, they shouldn't have any global resources in common.

[2019-05-14 17:17] gnzlbg commented on #60822
How can you drop the `Vec<IntrusiveListElement>` while `Pin<&mut IntrusiveListElement>`s into the vector are still live ?

The documentation of `Vec` guarantees these details, e.g., see [Vec's capacity-and-reallocation section](https://doc.rust-lang.org/std/vec/struct.Vec.html#capacity-and-reallocation), so AFAICT Rust unsafe code can rely on these details, and breaking that code would be an API b

[2019-05-14 17:24] RalfJung commented on #60822
I was talking about the implicit drop that happens when the vector goes out of scope.

I am aware. When libraries decide to document such details, clients may of course rely on them. `VecDeque` has no such section even though many similar questions apply; thus, clients may not rely on the same properties for `VecDeque` even if they happen to be true currently.

This matches the situation for idemp

[2019-05-14 17:24] mikeyhew commented on #60784
I was wondering why `Error::type_id` needs to be a trait method at all. Generally, if you want to keep a trait method from being overriden, you have make it a function instead. But in this case, it turns out we *do* need it to be a trait method, because we want to take an `&dyn Error` and get the type id of the erased `Self` type. An implementation returning `TypeId::of<dyn Error>()` would be usel

[2019-05-14 17:28] cuviper commented on #60784
There's a similar idea for `#[no_override]` in <https://github.com/rust-lang/rfcs/issues/291>.

[2019-05-14 17:32] gnzlbg commented on #60822
@SimonSapin The problem is that safe Rust can be called from `unsafe` Rust, and it isn't clear to me from that RFC whether writers of `unsafe` code can rely on other `unsafe` code not performing a double-drop. It isn't clear either whether `unsafe` code can assume that double-dropping something is ok.

[2019-05-14 17:33] cup commented on #60335
https://github.com/rust-lang/rustup.rs/issues/1851

[2019-05-14 17:37] petrochenkov commented on #60830
Ok, since it turned out to be a real problem blocking PRs, I'll try to implement it myself today.

[2019-05-14 17:37] cramertj commented on #34511
impl trait in traits is a separate feature to the ones being tracked here, and does not presently have an RFC. There is a fairly long history of designs in this space, and further iteration is being held off until the implementation of 2071 (existential type) is stabilized, which is blocked on implementation issues as well as unresolved syntax (which has a separate RFC).

[2019-05-14 17:57] alexcrichton commented on #60540
Thanks so much @nikic for tracking that down and fixing it! I've opened an update of our submodule at https://github.com/rust-lang/rust/pull/60831

[2019-05-14 18:25] estebank commented on #60762
@hellow554, you should be able to synthesize a span that covers the entire closing sigil (`"####`) [where we look for it and break if we don't find it](https://github.com/rust-lang/rust/blob/80e7cde2238e837a9d6a240af9a3253f469bb2cf/src/libsyntax/parse/lexer/mod.rs#L1207-L1213). We should hold a vec of spans that we add to every time we find them, because it is possible that we indeed have a raw st

[2019-05-14 18:28] estebank commented on #60795
I believe that should likely be appropriate. CC me on the PRs to take a look at them.

[2019-05-14 18:41] petrochenkov commented on #60830
Fixed in https://github.com/rust-lang/rust/pull/60832

[2019-05-14 19:22] davidtwco commented on #60818
@varkor I was actually just experimenting locally to see if I could fix this and I think I have, I could put a PR up in a few minutes.

[2019-05-14 19:30] alexcrichton commented on #60782
Thanks for the report @starblue and the cc @mati865, this should be fixed in https://github.com/rust-lang-nursery/compiler-builtins/pull/290.

[2019-05-14 19:36] alexreg commented on #34511
@cramertj The syntax is nearly resolved. I believe the main blocker is GAT now.

[2019-05-14 19:39] varkor commented on #34511
@alexreg: https://github.com/rust-lang/rfcs/pull/2515 is still waiting on @withoutboats.

[2019-05-14 19:50] varkor commented on #60798
Actually, this is a duplicate of https://github.com/rust-lang/rust/issues/60818 (I'll close this issue simply because the other has more comments now).

[2019-05-14 19:50] #60798 closed

[2019-05-14 19:59] HadrienG2 opened #60833 "{signed integer}::saturating_[div|neg] might make sense"
Although the `{signed integer}::min_value() / -1` scenario is arguably an edge case, it does exist, and could potentially justify the existence of a `saturating_div` operation for symmetry with other saturating operations.

**EDIT:** By the same argument `saturating_neg` should probably also exist.

[2019-05-14 20:12] gnzlbg commented on #60822
Are you saying that this is analogous to whether users should be able to rely on double-drops invoking / not invoking UB? These data-structure properties feel quite obvious to me, but I have no idea how users can today learn that, at least when using the libstd types, they should always assume that `Drop` is not idempotent unless a type guarantees otherwise. AFAICT they can just try it for some ty

[2019-05-14 20:16] Disasm opened #60835 "Build regression on nightly"
Consider the program with the following `main.rs`:

[code]

[code]

This behavior causes almost every CI build with cache to fail for crates with such `no-mangle static mut` variable. First experienced with nightly ~10 days ago.

[2019-05-14 20:21] jonas-schievink commented on #60835
Duplicate of https://github.com/rust-lang/rust/issues/60050

[2019-05-14 20:21] #60835 closed

[2019-05-14 20:52] RalfJung commented on #60822
Both seem equally obvious to me. We also don't document that you cannot `push` to a vector after dropping it. `drop` leaves the data structure is a "deinitialized" state in which no further operation can be performed on it. I don't understand why you or anyone else might think that dropping would be special in the sense of being the only operation that you may call on such a "deinitialized" data s

[2019-05-14 21:32] mazocomp commented on #60743
@jonas-schievink the current maintainer of Rust port in OpenBSD is @semarie, he makes sure Rust and Cargo also work at aarch64-unknown-openbsd and i686-unknown-openbsd, so shouldn't those two be mentioned as Tier 3 at The Rust Forge?

[2019-05-14 21:32] alexcrichton commented on #60747
Thanks for the report @laanwj and the cc @mati865, this should be fixed by https://github.com/rust-lang-nursery/compiler-builtins/pull/291

[2019-05-14 21:54] petrochenkov commented on #52924
I haven't followed the Rust async story closely, but I recently encountered this paper in the most recent C++ committee mailing.
["Coroutines: Language and Implementation Impact"](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2019/p1492r0.pdf) (compares several implementation strategies for stackless coroutines aka `#![feature(generators)]`).

Apparently the size issue was considered a deal-b

[2019-05-14 22:02] jonas-schievink commented on #60743
@mazocomp That makes sense to me! You can file a PR at https://github.com/rust-lang/rust-forge if you like.

[2019-05-14 22:05] gnzlbg commented on #60822
further operation can be performed on it.

AFAICT a second attempt to drop a value only makes sense if the first one
failed (which is what the issue cited in the top comment does).

You seem to be arguing that a drop that fails (panics) actually
deinitializes the value and therefore trying to re-drop isn’t a logical
operation to perform. If this is the case, to me this imply that a drop
that fails

[2019-05-14 22:41] cramertj commented on #52924
@petrochenkov We currently have some optimizations that are performed before the generator type is created, and these are allowed to affect the `size_of` of the generated type, which can only be calculated after generator layout has been solved.

As far as the requirements around being called recursively, placing it on an ABI boundary, being virtual, these can all be done by *choosing* to type-era

[2019-05-14 22:41] johnbcoughlin commented on #47389
This is a great, well-written summary issue. Is this still considered the right path forward? I'm interested in taking a crack at it.

[2019-05-14 22:52] alexreg commented on #34511
@varkor Yeah, I'm just being optimistic they'll see the light with that RFC soon. ;-)

[2019-05-14 22:53] AlterionX opened #60842 "Compiler crash"
The compiler crashed and told me to report it.

I shaved off the excess and found this to be a minimally working (breaking) example:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=10a2d80c7a36cc12edaa39cd3d6a5781

I expected it to tell me that the `T` in `a::<'_, T>` is an error.

## Meta

`rustc --version --verbose`:

Backtrace:
[code]

[2019-05-14 22:56] jonas-schievink commented on #60842
Thanks for the report and the small example!

This is possibly a duplicate of https://github.com/rust-lang/rust/issues/60622

[2019-05-14 22:58] jonas-schievink commented on #60842
Jup, this one also regressed between 1.29.2 and 1.30.0, so I'll close this as a duplicate of #60622

[2019-05-14 22:58] #60842 closed

[2019-05-14 22:59] jonas-schievink commented on #60622
Smaller example from #60842:

[code]

[2019-05-14 23:27] Niedzwiedzw commented on #39998
+1

[2019-05-14 23:29] AlterionX commented on #60622
I was trying to remove as many type parameters as possible, and ended up with this:

[code]

Removing `<T>`  after `run_wild` still cuases an ICE. Adding a `<T>` to `a` stops causing the ICE. Removing the `'_` also stops causing the ICE.

Not sure if it's any more or less helpful, but just putting this here.

[2019-05-14 23:37] cup commented on #60335
https://github.com/rust-lang/rust/issues/60335
https://github.com/rust-lang/rustup.rs/issues/1851
https://github.com/rust-lang/www.rust-lang.org/issues/770

[2019-05-14 23:56] #60718 closed

[2019-05-14 23:56] #60655 closed

[2019-05-14 23:56] #60797 closed

[2019-05-15 00:16] Centril commented on #60822
I mostly agree with @RalfJung, especially wrt. to turning "unstated non-guarantees" through random assumptions into guarantees. However, I think if there are reasonable assumptions that could be made that we don't want to guarantee, it's practical idea to disabuse users of those assumptions.

[2019-05-15 03:51] mathstuf opened #60845 "Support Windows path manipulation on other platforms"
It'd be nice if the facilities under `std::os` which don't use platform-specific APIs would be available on all platforms. For example, the ability to take a bytestream and construct a Windows path out of it in order to detect whether it is a valid Windows path would be great.

The use case is implementing a check which validates that a path is valid on Windows. The `OsStrExt` to get access to the

[2019-05-15 05:40] rkruppe commented on #60822
Note however that @gnzlbg themselves demonstrated that currently double-drops (of Vecs) *don't* work -- elements get double-dropped on the second drop. That means if a hypothetical users actually tries to determine this behavior experimentally, they'd quickly find double frees and similar issues if they are a tall diligent.

[2019-05-15 05:54] gnzlbg commented on #60822
@rkruppe that holds as long as users try it with types for which this is the case.

---

@Centril maybe you can explain to me how this assumption feels random to you (and maybe the others).

Rust allows fallible drop, that is, drop can fail. I don't understand how from this it follows that, because drop failed, one cannot attempt to drop the value again. The only idea I have about how this could b

[2019-05-15 05:59] comex commented on #60822
My impression is that it's been considered bad form in general to panic in a `Drop` implementation, if only because it causes an abort if the drop occurred during unwinding.  It's *allowed* just because the alternative (always aborting when a `Drop` impl panics) is worse.

[2019-05-15 06:10] comex commented on #60822
...however, this could certainly be documented better.  Currently the [documentation for `Drop::drop`](https://doc.rust-lang.org/std/ops/trait.Drop.html#tymethod.drop) has an oddly worded note:

I think it's trying to explain that double panic = abort, but as worded it doesn't really make sense.

It should probably explain that more clearly, and also explicitly state that panicking in `Drop` is di

[2019-05-15 06:51] gnzlbg commented on #60822
It should also cover the case in which the double panic does not happen, and suggest what users should assume if the details of a particular drop implementation are not guaranteed.

For example, that a dropped value for which drop fails must, in general, be leaked, because it is, in general, left in an unspecified partially-dropped state which is neither "initialized" nor "deinitialized" and which

[2019-05-15 06:51] laanwj commented on #60747
Great, thanks for the fast fix!
I'll test with tomorrow's nightly.

[2019-05-15 07:07] RalfJung commented on #60822
Well, at least I am arguing that that *might* be the case. You have no way to tell.

Would you expect it to be legal to `push` to a vector after `drop` panicked? I guess not. Same for calling `drop` again.

"panic" doesn't mean "I failed in a clean way and nothing happened", it means "something went wrong half-way through this operation and any part of it might or might not have happened".

[2019-05-15 07:12] gnzlbg commented on #60822
Why not? If the value was not dropped, then I'd expect that to work just like pushing into an empty vector would.

[2019-05-15 07:16] gnzlbg commented on #60822
For `Vec`, on `panic`, the memory is deallocated, but the length of the vector is not `0`. Are you saying that it is ok to leave safe abstractions over unsafe code in such an invalid state when a `panic!` happens?

[2019-05-15 07:23] #60743 closed

[2019-05-15 07:24] RalfJung commented on #60822
"panic during drop" is very different from "not dropped". This is true for any operation. I don't understand why would assume that an operation that panicked had no effect and thus can be considered as having to happened.

I think it is okay to leave safe abstrcations in an invalid state when `drop` completes (whether that is return or unwind), because we can rely on this being the last operation.

[2019-05-15 07:31] gnzlbg commented on #60822
Where are you getting the impression that I assume that? How could you make `Vec::drop` have no effect? AFAICT you would need to revert the `drop` of the already dropped elements of the vector which is not possible.

How can we rely on this? The example I show using `drop_in_place` corrupts memory at run-time, and is neither rejected statically, nor at run-time (e.g. via a proper run-time error).

[2019-05-15 07:40] ipetkov opened #60846 "forego caching cycles leads to a severe perf regression"
#60444 has introduced a severe perf regression when building/testing the `conch-runtime` crate.

Previously a test run would take ~5 mins, and with the latest nightly (`rustc 1.36.0-nightly (372be4f36 2019-05-14)`) it now takes ~82(!!) mins.

<pre>
$ git clone https://github.com/ipetkov/conch-runtime.git
$ cd conch-runtime
$ cargo test --lib
   # snip
    Finished dev [unoptimized + debuginfo] tar

[2019-05-15 07:55] crone123 commented on #60824
Ok, now I understand, I forgot the possibility that A can be a new identifier instead of my enum value, sorry.

[2019-05-15 08:16] RalfJung opened #60847 "Vec::push invalidates interior references even when it does not reallocate"
To my knowledge, the following code is intended to be legal:
[code]
However, Miri currently flags this as UB. The reason is that `Vec::push` *implicitly* (through auto-deref) calls `deref_mut` to create a `&mut [T]` covering all elements in the vector, which overlaps with our reference `v0` in the example code above. Overlapping shared and mutable references are prohibited by Stacked Borrows.

[2019-05-15 08:21] oli-obk opened #60848 "Clippy stores `Symbol`s in `lazy_static`"
Citing @ehuss in https://github.com/rust-lang/rust/pull/60819#issuecomment-492443755

I assumed that rls kills only the `'tcx` interners and restarts at `TyCtxt` creation time, but that assumption is apparently wrong.

I don't want clippy to diverge from rustc's `Symbol` strategy and there's more than just paths that we're using them for (especially since more APIs are being turned into symbol-usi

[2019-05-15 08:22] oli-obk commented on #60848
cc @Manishearth

[2019-05-15 08:22] mpapierski commented on #60825
@CryZe Interesting. Thanks for reply.

What do you mean by `proper pointer`? These variables have a type in the host, so hopefully they can be represented by `i32` in WASM. In other words - is current behavior of compiler by design? Although WASM spec allows this (so LLVM output seems accurate even though its old) as far as I can tell - i.e. https://github.com/WebAssembly/mutable-global/blob/maste

[2019-05-15 08:28] matklad commented on #60847
Specifically, code for `push` looks like this:

[code]

and it is `self.as_mut_ptr()` line that causes problems: `as_mut_ptr` is a method on `[T]`, so it's the implicit deref that creates a reference.

There's probably a bunch of other methods with similar problems. For example, `fn remove(&mut self, index: usize)` also invalidates all references, and not just the `[index..]` slice

[2019-05-15 08:34] RalfJung commented on #60847
Good point, I forgot to mention that the call is implicit. I amended my original post.

[2019-05-15 08:40] michaelwoerister commented on #47389
Thanks for your interest, @johnbcoughlin. I think there is consensus that absolute source location information should be moved out of as many internal data structures as possible. But it's not clear how to exactly go about it. I know @eddyb has ideas and @matklad already goes about the problem in a smarter way in rust-analyzer. I personally don't have the bandwidth to drive the needed design effor

[2019-05-15 08:47] RalfJung commented on #60822
You keep saying "not dropped" for "drop panicked".

The Rust compiler ensures that `drop` is called exactly once. It inserts boolean variables to track this at run-time if necessary. Calling `Drop::drop` manually from safe code is impossible (even though its signature looks like it should be possible).

Sure, unsafe code can circumvent this. But "drop is called exactly once" has been deeply entren

[2019-05-15 08:48] lnicola commented on #60847
`Vec` doesn't seem to have a test suite. But if it did, would it be possible to run the standard library tests under `miri`?

[2019-05-15 08:55] petrochenkov opened #60849 "Move `box` from the stable keyword list to unstable keyword list"
Since `box` is not used on stable Rust.

The keyword lists can be found in `libsyntax_pos/symbol.rs` in the `symbols!` macro.

It's likely that some UI tests will need to be adjusted after the change.

[2019-05-15 09:01] RalfJung commented on #60822
I am repeating myself here, but just to be clear: I am all for improving the docs. But I find it implausible to assume that doing double-drops could ever be legal (in generic code). There is plenty of evidence for code relying on no double drops happening, there is plenty of mechanism to make sure this doesn't happen in safe code, `drop_in_place` says so in the docs. I don't even know of a `drop`

[2019-05-15 09:05] RalfJung commented on #60847
We [already do](https://github.com/RalfJung/miri-test-libstd). :)

Specifically, this runs the `#[test]` functions in src/libcore/tests, src/liballoc/tests and src/liballoc.

[2019-05-15 09:24] gnzlbg commented on #60822
By "not dropped" I precisely mean "a value was not dropped". A drop-that-panics is a drop that fails, which is not the same as if drop was never called (how could it panic if it was never called?).

I assumed a couple of things. First, that a drop that fails does not successfully drop a value, and since the value has not been dropped, code is allowed to try to drop it again. Again, this does not m

[2019-05-15 09:24] pnkfelix commented on #59344
okay at this point I have verified that this no longer ICE's as of the latest nightly. This does seem like it was indeed a duplicate of #58840.

[2019-05-15 09:24] #59344 closed

[2019-05-15 09:30] petrochenkov commented on #60848
The symbol list in `rustc` is pre-filled during `Globals::new` in `with_globals`.
Perhaps `Interner::prefill` could also intern an extra list of symbols provided through some callback in rustc_interface.

[2019-05-15 09:39] rkruppe commented on #60822
@gnzlbg It seems, in other words, that you assumed the drop glue is exception safe in a fairly strong way (even when it fails, it leaves the safety invariants in place). Of course, as you might guess from my phrasing, that seems like a pretty big and unwarranted assumption to me. We don't generally expect any Rust code to be very exception safe. Some basic exception safety is required from unsafe

[2019-05-15 09:45] gnzlbg commented on #60822
@rkruppe The whole `Vec` API is exception safe in such a strong way (e.g. [`Vec::truncate`](https://github.com/rust-lang/rust/blob/master/src/liballoc/vec.rs#L693)) except for the `impl` of `Drop` for `Vec`, so I suppose the assumption might have come from there.

[2019-05-15 09:50] SimonSapin commented on #27733
Servo has been using this since https://github.com/servo/servo/pull/23196 to add a runtime check to some unsafe code, as discussed in PR https://github.com/rust-lang/rust/pull/59211. Stabilizing would help do more of the same in libraries that also have users on Stable.

@rfcbot fcp merge

[2019-05-15 09:51] rkruppe commented on #60822
The entire *safe* API, yes, by necessity (and only as exception safe as required to maintain memory safety -- e.g., it will happily leak memory). Though there don't seem to be any unsafe APIs (or methods at least) that have to worry about panics, so I guess it's true that distinction might not be apparent *just* from looking at Vec.

[2019-05-15 09:58] SimonSapin commented on #27733
It looks like rfcbot doesn’t want to do FCP again in the same thread, even after removing labels. I’ve proposed FCP in a stabilization PR: https://github.com/rust-lang/rust/pull/60850

[2019-05-15 10:00] hellow554 commented on #60762
Thanks estebank. That was very helpful indeed. I haven't thought of consuming the bad characters so that the lexer can do the rest for me. Very nice.
I'm a bit undecided where the journey goes. Currently I have this:

[code]

This is nice and looks very neat :) This is not a hidden suggestion as you see, is that okay for you as well? I mean, yes, it's kind of obvious which ones to remove, but I al

[2019-05-15 10:06] gnzlbg commented on #60822
From the point-of-view of safe code, it does not matter whether `Drop::drop` is exception safe, because it can only be called once.

From the POV of unsafe code, I knew that double-drops cannot happen, but what I did not know is that what also cannot happen is `Drop::drop` getting called twice. I thought, of course that can happen, if `unsafe` code calls `drop_in_place`, and that panics, and then

[2019-05-15 10:19] #60540 closed

[2019-05-15 11:56] cup commented on #60335
https://github.com/rust-lang/rust-forge/issues/225

[2019-05-15 13:30] hellow554 commented on #60762
I also tried to add the text *"The raw string has {} leading `#`"*, but it looks very crowded to me, when the raw string only is one line.

[code]

Should I add an check if the raw string only spans over one line? If yes, how to do that? ^^

[2019-05-15 14:37] justacec commented on #20866
Ohhh please....

This is me not reading the rust documentation on my flight from San Diego to DC...

[2019-05-15 14:43] dolph commented on #20866
Resolving this issue would be entirely worth the effort. For Rust to be successful, people need to be able to learn about it, and this issue is fundamentally about accommodating alternative learning environments.

[2019-05-15 15:00] #60830 closed

[2019-05-15 15:10] estebank commented on #60762
There are two options, either we don't use the full string's span (showing only the start and the end), or [use `is_multiline` to provide different output depending on the visual result](https://github.com/rust-lang/rust/blob/master/src/librustc_typeck/check/_match.rs#L820-L844).

[2019-05-15 15:24] mauricekayser opened #60854 "Add `AddressOfReturnAddress`-like intrinsic"
Would it be possible to add an intrinsic that provides the address of the memory location that holds the return address of the current function? Microsoft has one for C/C++ [_AddressOfReturnAddress](https://docs.microsoft.com/en-in/cpp/intrinsics/addressofreturnaddress).

I could really use it for low level matters, but do not know enough about the compiler intrinsics to add a pull request myself.

[2019-05-15 15:45] GuillaumeGomez commented on #60820
iirc, we have `--document-private-items` or something along the ling. You can just combine it with `--test` I assume.

[2019-05-15 15:46] est31 commented on #46439
@RalfJung maybe some additional work has happened since  #56092, but if it reflects the most recent state of affairs, then you need to add inclusion-into-std-special invocations to the `Cargo.toml` of every crate you are using, recursively. See [this](https://github.com/alexcrichton/rustc-demangle/commit/d74ae4b56ab6459f05afcb22c32371033cac75ff) commit as an example for the work needed.

For somet

[2019-05-15 16:03] dwightguth commented on #60059
I recently ran into this issue and wanted to mention that if you just want to have lto'd libraries that you are using to link an executable with clang, but can't build the rust code you need because crates that build binaries fail to link due to this error on mac OS, you can sidestep the issue by using the following script on the .rlib files generated by cargo build: https://github.com/kframework/

[2019-05-15 16:06] bendlas commented on #51304
I think this might be a good starting point https://github.com/WebGHC/wasm-cross/blob/master/cross.nix

[2019-05-15 16:20] hanna-kruppe opened #60855 "Should improper_ctypes pierce through impl Trait?"
While reviewing #60300 I noticed for the first time that the improper_ctypes lint normalizes with the "reveal_all" mode. I don't have a nuanced understanding of what that means exactly but based on the general description in the rustc docs and experimentation (see below) I think that's probably the wrong choice for this lint, because it exposes details to the user that are normally hidden during t

[2019-05-15 16:23] RalfJung commented on #46439
Ouch. :(  Yes, that would still be quite painful today.

[2019-05-15 16:45] oli-obk commented on #60848
how would I expose this list of symbols to my lints so that I can access individual symbols by name?

[2019-05-15 17:01] petrochenkov commented on #60848
[code]

[2019-05-15 17:08] Manishearth commented on #60848
Should I take a crack at https://github.com/rust-lang/rust/issues/39131 first? That's the real fix to _most_ of our usage of Symbol, and if we're hardcoding this in rustc we might as well do it right.

I suspect we'll have a couple left, though.

[2019-05-15 17:11] matklad opened #60856 "Document or deprecate single argument assert macro"
One of my students have written the following code today:

[code]

Although it looks like it checks two conditions, it actually expands to

[code]

That is, it panics with a boolean value.

This is highly surprising and not really documented (there are docs on `panic!`, but not on the `assert!`).

We can just document this behavior, but it seems better to just fix it? Can we deprecate particular m

[2019-05-15 17:20] Centril opened #60857 "-Z unpretty=expanded does not emit anything when abort happens during lowering"
For example, say I have:

[code]
and then I have some `abort_if_errors` in HIR lowering that this will trigger.
This causes an error and no prettied output.

Meanwhile, I expect compilation to stop after dumping the prettied output.

cc @Zoxc @oli-obk

[2019-05-15 17:27] Centril commented on #60856
I think we could issue a lint (not deprecation) for cases which are clearly mistaken. However, the form `assert!(false, "string_literal");` is useful so we want to avoid linting on that.

[2019-05-15 17:32] matklad commented on #60856
Ah, so the difference here is not actually in the macro itself, but in the runtime.

That is, `assert!(false, 92)` prints `panicked at 'Box<Any>' and `assert!(false, ("oups"))` prints  `'anicked at 'oups'` not because the syntax is different, but because the runtime panic hook downcasts payload to string.

Yeah, in this case, the best we can do is probably document + lint

[2019-05-15 17:36] estebank commented on #36061
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=255197453558bc252d7616a6983a026e):

[code]

[2019-05-15 17:52] chandde opened #60858 "How to add a new target (triple) that can be built by the official branch nightly"
I’m working on enabling ARM32, namely thumbv7a-pc-windows-msvc, the majority of changes has been committed already, however, there is some issue building it successfully, so it’s not built by the master branch and user cannot install this target using rustup. I’m still working on making it build end to end at least reach stage 2. Once it can build, I’d like to have it built in rust master, so user

[2019-05-15 17:57] oli-obk commented on #60848
That and the worry that implementing #39131 will be quite a bit of work and thus block rls for a week or more makes me prefer to do @petrochenkov's solution now, and address diagnostic items in its own timeframe.

[2019-05-15 18:20] Manishearth commented on #60848
Oh, yeah, go ahead with any RLS quickfixes first. But we should try that out before trying to make this fix _good_.

[2019-05-15 19:28] dekellum commented on #44663
I just tried enabling this feature on another lib crate (also for the purpose of collecting information on public deps) and noticed that examples/*.rs are another interesting edge case.   If the examples define any `pub` items (here really just for purpose of example) that reference the lib crate types, these will result in warnings of the pattern:

[code]
This is because each example is compiled,

[2019-05-15 19:35] DutchGhost opened #60863 "Cargo fmt doesnt handle const generics correctly"
When I run `cargo fmt` over the following code:
[code]

the impl block is formatted to this:
[code]
which then obviously fails to compile.

playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=be54fe6369c6945d0a5e7a372ce49098

[2019-05-15 21:00] DutchGhost commented on #60863
Can be closed since this is a rust-fmt issue:
https://github.com/rust-lang/rustfmt/issues/3554

[2019-05-15 21:03] nagisa commented on #60854
I don’t think that is feasible – the return address location is not addressable on all targets rust supports. However if you only support x86 and aarch64 targets, you can link to the `llvm.addressofreturnaddress` intrinsic directly without necessarily needing support from rustc.

[2019-05-15 21:10] Lonami commented on #60863
@DutchGhost you can close the issue yourself too.

[2019-05-15 21:14] jonas-schievink commented on #60863
Closing in favor of rust-lang/rustfmt#3554

[2019-05-15 21:14] #60863 closed

[2019-05-15 22:13] estebank commented on #39773
What should be the appropriate course of action for this ticket?

[2019-05-15 22:15] kentfredric opened #60865 "rustdoc generates <div> in <h4> when implementing things with #[must_use] and other attributes"
Similar to #60403

For example, when one generates rustdoc for something that implements Iterator, the generated HTML is (with manual pretty-printing)

[code]
This HTML contradicts HTML spec, and causes problems when parsed by a strict parser ( such as html-tidy )

Additionally, this renders very oddly:

![snapshot_20190516_100607](https://user-images.githubusercontent.com/44790/57812882-6f872780-

[2019-05-15 23:38] Pulkit07 commented on #60350
I will like to work on this bug.

On initial findings, the initial pattern error is coming from https://github.com/rust-lang/rust/blob/master/src/librustc_mir/hair/pattern/check_match.rs#L261.

My hypothesis is that because of the pattern error, we don't add x to a list of initialized variables and hence we get the uninitialized error.

Does that sounds like a good start?

[2019-05-15 23:39] chandde opened #60866 "__imp___xxx is found in rust lib, however __imp__xxx is wanted when compiling my rust project"
Hello

I was trying to build rustc target for thumbv7a-pc-windows-msvc locally, with a patch to compiler-builtins from this PR https://github.com/rust-lang-nursery/compiler-builtins/pull/293, also hacked panic_unwind for thumbv7a similar to what we have for aarch64, https://github.com/rust-lang/rust/blob/master/src/libtest/lib.rs#L45, and I was able to build the target thumbv7a-pc-windows-msvc suc

[2019-05-15 23:40] andy-yx-chen opened #60867 "is this a bug? borrowing"
[code]

compile error
[code]

[2019-05-16 00:02] nnethercote opened #60869 "Streamline `Symbol`, `InternedString`, and `LocalInternedString`."
We currently have three closely-related symbol types.

`Symbol` is the fundamental type. A `Symbol` is an index. All operations work on that index. `StableHash` is not implemented for it, but there's no reason why it couldn't be. A `Symbol` can be a gensym, which gets special treatment -- it's a guaranteed unique index, even if its chars have been seen before.

`InternedString` is a thin wrapper a

[2019-05-16 00:09] cramertj commented on #60867
No, This is not a bug. The elided lifetimes in `try_it` are assuming that the output `&str` has the same lifetime as the input `&str`. To fix this, you can change `try_it` to `-> &'static str`.

[2019-05-16 00:09] #60867 closed

[2019-05-16 00:25] chandde commented on #60866
OK, something insteresting, the symbol being complained is
[code]
However the one that I have in the thumbv7a lib is
[code]
Notice there are 2 underscores in the wanted symbol, however, there are 3 underscores in the actual symbol, ring a bell?

[2019-05-16 01:02] programmerjake commented on #60784
I think `Identifiable` might be a better name, since it describes the operation it supports (`type_id`).

[2019-05-16 01:27] andy-yx-chen opened #60870 "again it's a bug"
[code]

compile error
[code]
@cramertj 's reply

two points
1. compiler actually knows whether the returned slice is s3 or not
2. adding &'static is ugly and cannot solve the problem, such  as if(xxx) gs else s4

[2019-05-16 01:29] CAD97 opened #60871 "Naming deref target leads to incorrect lifetime errors"
[playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2d6a330fff6b07b13560649dadaf1cae)

This impl compiles:

[code]

while this this theoretically identical one doesn't:

[code]

Type context:

[code]

[2019-05-16 01:29] andy-yx-chen commented on #60870
If Rust is serious, I meant not just a toy, then, it should treat such kind of feature seriously, try to leverage as much compiler's knowledge as possible

[2019-05-16 01:40] asutherland opened #60872 ""Inherent" "impls" save-analysis have empty "value""
For a rust `impl` block like `impl Loader {...}`, the current nightly toolchain generates an `impls` entry that has a `span` that references the position of "Loader" in the source file, but the `value` is the empty string "".

As a particular example, https://github.com/mozsearch/mozsearch/blob/7b87459eea1c0a24beb362b7627960260185034b/tests/tests/files/simple.rs#L36 produces the following prettifi

[2019-05-16 02:01] KrishnaSannasi commented on #60871
[code]

Minimal example

[2019-05-16 02:09] KrishnaSannasi commented on #60870
This is not a bug,

When you write
[code]

You are telling the compiler that the output come from the input regardless of the function body

The compiler can't know which branch will be taken, so it will be as conservative as possible (even if the if condition is a compile time constant)

[2019-05-16 04:12] bytewayio commented on #60870
My take is rust add some static analysis to c++, but having more thing to be very confusing at the very first sight, I prefer to have C++ plus static analysis comparing to use Rust

[2019-05-16 04:40] estebank commented on #60870
This is indeed behaving as expected.

The compiler doesn't know, as it requires extra global analysis that it doesn't perform at this point in time. It conceivably could, but it would make compile times much longer as it would have to do full escape analysis.

It would be interesting to see the actual problem you want to tackle. It seems to me that you'd want to do follow the easier/safer path and

[2019-05-16 05:05] andy-yx-chen commented on #60870
@estebank @KrishnaSannasi Thanks for your very detailed reply, I am now understand the problem a bit more, my original question was closed to quickly, before anyone can get to my point. I know Rust is trying to resolve lots of issues such as following up ownerships, in C++, if you use a unique_ptr after it's moved, compiler will not give you anything, and you will get a runtime error, but Rust tri

[2019-05-16 05:05] #60870 closed

[2019-05-16 05:26] KrishnaSannasi commented on #60870
In the future post these sorts of queations on https://users.rust-lang.org/ you'll get more help there

Also, look up lifetime elison, that is what is happening here to determine the lifetimes

[2019-05-16 05:34] m4b opened #60875 "type lacking clone on container has misleading/incorrect error message"
Consider:
[code]
This reports:
[code]
This is extremely misleading at best (I would expect it to effectively say that one or more types did not implement clone), and debatebly, miscompilation at worst.

I don't want to really argue about the latter, but opening this here so maybe the diagnostics could be improved since I don't think its controversial to say this is really, really misleading, and h

[2019-05-16 06:06] hellow554 commented on #60875
@rustbot modify labels: A-diagnostic T-compiler

[2019-05-16 06:22] hellow554 opened #60876 "Add compiler warning for double semicolon"
This could should emit an error:

[code]

I think something similar to this would be a good one:

[code]

[2019-05-16 06:24] hellow554 commented on #60876
@rustbot modify labels: A-diagnostics C-enhancement E-easy

[2019-05-16 06:36] hbina commented on #60876
Hi, I would like to resolve this issue. Do you have any lead/pointers that I can use to start?

[2019-05-16 06:41] hellow554 commented on #60876
I'm not entirely sure, I only started recently with hacking the compiler. I think this can be easily done by looking at

https://github.com/rust-lang/rust/blob/49d139c64b69ec5289f9f81db885ecfc2c7a8366/src/libsyntax/parse/lexer/mod.rs#L947-L950

You could do something similar to this:

[code]

Of course you should also detect more than one, e.g. `return ;;;`. Also make sure it works for `let a = ""

[2019-05-16 06:46] hbina commented on #60876
is it safe to just perform a while loop?
i am not sure how reliable this solution could be.
Especially if there's a space like `; ;`

[2019-05-16 06:52] hellow554 commented on #60876
Go and try it.

That could be a problem indeed, because spaces are treated seperatly.

You mean something like

[code]

? I think this should be a different warning. Something like *"sole `;` detected"*, because it does not end any statement at all and should have no right to exist.

I think a person which is more privileged than me should say a word or too as well :) I'm not a rust lang member

[2019-05-16 06:54] hellow554 commented on #60876
Instead of using the lexer level, you could also use the token level, because the lexer converts the bytestream to tokens (as you can see with `Ok(token::Semi)` and if you detect two Semi tokens next to each other, you could emit a warning there. Should be also possible. But I'm not entirely sure where to do that.

[2019-05-16 07:15] hellow554 commented on #60856
Is it possible for the compiler to detect whether the second argument it either a `&str` or a `String`? If yes, it's trivial, if not, what to do?

[2019-05-16 07:30] hellow554 commented on #60762
That looks very promising!

[code]

The only thing is (that bugs me a little bit) are the `^^^` between the `----`.

![grafik](https://user-images.githubusercontent.com/921462/57834672-19fc4c00-77bd-11e9-8854-d4408feb1c93.png)
 but I haven't found a way to get rid of them. I think it's okay, but they are not needed IMHO. Time to work on the other suggestion!

[2019-05-16 07:49] iago-lito commented on #60870
@andy-yx-chen

As of today, this is indeed thoroughly explicited in the [Rust Book](https://doc.rust-lang.org/book/ch10-03-lifetime-syntax.html#lifetime-elision), under the keywords "*lifetime elision rules*". I think it's worth checking it, because they made a pretty good work explaining this.

[2019-05-16 08:11] mauricekayser commented on #60854
That sounds reasonable. I found [this pull request](34580) that temporarily added the `return_address` intrinsic, but I can not see any connection to the `llvm.returnaddress` intrinsic in the added lines. @nagisa could you lead me to an example how I could use the `llvm.addressofreturnaddress` intrinsic in my code without modifying rustc? I also don't really understand this `out pointer` restricti

[2019-05-16 08:19] Licenser commented on #47032
Same, ran into this too and unsure how to resolve this. It seems it's a regression from 2016?

[2019-05-16 08:25] clarfon commented on #60833
In this case it might make sense to also have a `saturating_rem` for parity with `saturating_div`.

[2019-05-16 08:41] #60854 closed

[2019-05-16 09:15] Centril commented on #60856
@hellow554 During the macro expansion phase of the compiler I believe we can check syntactically whether it is a string literal or not. This would however lint on a string or string slice stored in a binding. In the HIR we don't have access to whether it came from `assert!` but we could possibly preserve a mark on the `Span` and use that during post-typeck linting to make decisions based on types.

[2019-05-16 09:27] petrochenkov commented on #60869
Small correction: `StableHash` is implemented for `Symbol`, see `impl<'a> HashStable<StableHashingContext<'a>> for ast::Name` in `impls_syntax.rs`.

(`ast::Name` is an alias of `Symbol` conventionally used for identifier symbols (in AST/HIR/etc. coming from `token::Ident`, lowered from `ast::Ident`.))

[2019-05-16 09:31] michaelwoerister commented on #60869
In general, I'm in favor of simplifying the setup here (and properly documenting it in the process). The main problem here, from the point of view of incremental compilation, is that gensym depends on the state of the entire crate, so changing something in one source file will change gensyms in (potentially) all other source files. As long as gensym indices are generated from a global counter, eve

[2019-05-16 09:42] petrochenkov commented on #60869
I'm all for reducing the number of types if that's possible.
I'd rather use a separate "stable" set of operations/traits used by incremental (and query?) infra, than introduce separate types  that have to leak into all other parts of the compiler, if that's possible.

I'm not sure the scheme with simply incrementing a session-local counter will work for gensyms.
Gensyms can come from metadata from

[2019-05-16 10:16] timvisee commented on #60779
Some effort has been made in #60761

[2019-05-16 10:38] pnkfelix commented on #60846
a 16x compile-time regression does sound pretty bad indeed.

[2019-05-16 10:49] pnkfelix commented on #60680
cc #43234

[2019-05-16 10:52] pnkfelix commented on #60680
triage:  this is an important task, but not one that I find should be prioritized over the various bugs currently plaguing the compiler.

Marking as P-medium.

I'm not sure why @Centril nominated it. Its possible that they nominated it solely for prioritization. Or its possible they wanted it to get attention from the compiler team. I'm going to leave the nomination tag on for now, with the unders

[2019-05-16 11:03] pnkfelix commented on #60473
triage: P-medium. Removing nomination tag.

[2019-05-16 11:09] pnkfelix commented on #59731
triage: P-high, as this does seem to have high impact and resolving it would have similarly high value. Removing nomination tag as I don't think there's much to discuss beyond finding someone to resolve this (as we should do for *all* unassigned P-high issues).

[2019-05-16 11:11] pnkfelix commented on #60768
rust-lang/rust-clippy#4093 has landed; is there an easy way to check whether the rls tool now builds?

[2019-05-16 11:12] pnkfelix commented on #60768
in terms of triage: P-medium, removing nomination tag, and assigning to self to ensure this does not get lost.

[2019-05-16 11:20] pnkfelix commented on #60821
triage: I'm not sure how to prioritize this. It sounds like the reporter is having a lot of difficulty reproducing the issue (something that is not surprising given that it is an incremental compilation bug). I would personally be inclined to either mark this as P-medium, or just close it and mark that there are a number of other index-out-of-bounds issues that are suspected to be related to incre

[2019-05-16 11:21] pnkfelix commented on #60821
... triage: Leaving nominated and unprioritized. Hopefully we can discuss at T-compiler triage meeting today.

[2019-05-16 11:29] SimonSapin commented on #60479
The libs team discussed this at yesterday’s triage meeting. We agreed that this sounds good to have, but none of us volunteered to implement it :)

[2019-05-16 11:33] pnkfelix commented on #60782
triage: P-high. (I'm not 100% sure that prioritization is warranted for this target, but given that it may already be fixed, I don't mind err'ing on the side of too-high a priority.)

[2019-05-16 11:33] pnkfelix commented on #60747
triage: P-high. (I'm not 100% sure that prioritization is warranted for this target, but given that it may already be fixed, I don't mind err'ing on the side of too-high a priority.)

[2019-05-16 11:35] pnkfelix commented on #60846
triage: P-high. Leaving nomination tag, as I would like to discuss strategies for addressing this at the meeting, if possible.

[2019-05-16 11:37] michaelwoerister commented on #60869
Ah, interesting. I think the real problem is actually that `StableHash` must be equivalent to `PartialEq`, that is:
- `x == y` implies `stable_hash(x) == stable_hash(y)`, **and**
- `x != y` implies `stable_hash(x) != stable_hash(y)`.

That second condition makes it more strict than `Hash` (i.e. no hash collisions are allowed). I going to open PRs trying to document this.

[2019-05-16 11:37] matthewjasper commented on #60350
The place to start looking would be here: https://github.com/rust-lang/rust/blob/472211ab0ae2beec0fbec23c7f90f5d15c51317d/src/librustc_mir/build/matches/mod.rs#L417

You'll need to use the functions in `rustc_mir::build::matches::test` to extract any bindings from the `match_places`.

[2019-05-16 11:40] teythoon commented on #60821
It did occur on Sequoia, but I was developing a patch.  I tried to incrementally apply the patch, trying to recreate whatever condition that triggered the bug, but failed.

[2019-05-16 11:57] pnkfelix commented on #59016
triage: Downgrading priority to P-medium. It seems like this problem, while potentially annoying, is not masking some underlying soundness hole or serious expressiveness bug.

[2019-05-16 12:01] pnkfelix commented on #60479
Tagging as T-compiler and nominating for discussion at the T-compiler meeting, in order to determine priority and maybe try to find a mentor?

[2019-05-16 12:05] pnkfelix commented on #59548
triage: Assigning to self to look into whether this is known limitation of `#[linkage]`, and if so, replacing the ICE with a proper diagnostic.

[2019-05-16 12:07] jonas-schievink commented on #60479
Perhaps the Clippy folks may be interested in mentoring this?

[2019-05-16 12:18] pnkfelix commented on #59996
retriage: P-medium. Assigning to self so that I do not lose track of it.

[2019-05-16 12:18] Nemo157 commented on #60658
Expanding the constraint to

[code]

gets past this error. I'm not sure why it needs this more general constraint though.

[reproduction directly with generators](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7788e24c3c8b44e38b7065648509fc19)

[2019-05-16 12:20] nnethercote commented on #60869
I tried doing the "foo$3" approach but bootstrapping failed very early on with blatant bugs in name resolution. I suspect it's a dead end for the reasons mentioned above.

I agree that moving the gensym stuff from the symbol/interning level to the ident level sounds like the right idea. (Plenty of the interned strings are not identifiers.) What would "use hygiene" look like for dealing with gensym

[2019-05-16 12:22] steveklabnik commented on #20866
@justacec you can `rustup doc --book` to read the book in HTML form locally.

@dolph nobody disagrees that this isn't worth doing. Nobody has stepped up to actually do it.

[2019-05-16 12:26] steveklabnik commented on #40322
Sounds great to me; let's take that approach.

[2019-05-16 12:26] steveklabnik commented on #42166
Yes, let's just close. Thanks!

[2019-05-16 12:26] #42166 closed

[2019-05-16 12:27] steveklabnik commented on #39640
Yes; pointing to the nomicon is the easy path; writing brand-new docs that explain everything is the hard path :)

[2019-05-16 12:28] steveklabnik commented on #43155
We're not likely to add this to the Rust book, as it doesn't fit in with its goals. I agree that this doesn't really fit in anywhere, and your assesment of the options. Let's close.

[2019-05-16 12:28] #43155 closed

[2019-05-16 12:29] steveklabnik commented on #41219
Yes, let's. @rust-lang/libs do you want this documented or not?

[2019-05-16 12:36] pnkfelix commented on #59898
I'm going to close this as fixed, in the sense that we've landed a fix (PR #58605) that is currently in the beta branch, and is not going to be backported to stable.

[2019-05-16 12:36] #59898 closed

[2019-05-16 12:38] pnkfelix commented on #59716
triage: downgrading to P-medium under assumption that this is fixed and just "needs" a test (where "needs" should really be "kinda wants but doesn't need")

[2019-05-16 12:41] pnkfelix commented on #58858
We have at this point added links related to RLS issues to the bottom of the T-compiler agenda page #54818 ; but I have not really managed to incorporate *traversing* those links into my regular process each week. Stay tuned, I guess.

[2019-05-16 12:46] petrochenkov commented on #60869
"Gensym span" == `Span::def_site()` or a unique freshly introduced macro.
This means a unique fresh `outer_mark` in `SyntaxContextData` specifically.

Most of gensyms used in the compiler (those introduced by built-in derives or desugarings) don't even need the "unique fresh" part, they can just use `Span::def_site()` of the macro/desugaring they are introduced by.

A relevant recent thread - http

[2019-05-16 12:50] oli-obk commented on #60768
I am working on https://github.com/rust-lang/rust/issues/60848 to get rls to work again

[2019-05-16 12:51] pnkfelix commented on #58952
triage: Under assumption that this is duplicate of #54540, I'm going to downgrade this to P-medium and remove the nomination tag.

[2019-05-16 12:53] L117 opened #60879 "ICE on const generics in impl block ("failed to lift")."
Yet another ICE on const generics. (I'm pretty sure it's duplicate, but I have not found issue with exact same error.)

I tried this code:

[code]
I expected either successfull compilation or "not-ICE" error.

Instead ~~my device exploded violently~~ I got an ICE.

## Meta

[code]

Backtrace:
[code]

[2019-05-16 12:58] #59827 closed

[2019-05-16 12:58] #60849 closed

[2019-05-16 13:05] hellow554 commented on #60762
Wow.. TIL the code for a raw string, aka `r#"foo"#` and a raw byte string aka `br#foo"#` are actually two different code paths... Let me try to merge them :/ (https://github.com/rust-lang/rust/blob/1962adea6ad9b992516ae56ad7f8c5bc33b951cb/src/libsyntax/parse/lexer/mod.rs#L1369-L1427 vs https://github.com/rust-lang/rust/blob/1962adea6ad9b992516ae56ad7f8c5bc33b951cb/src/libsyntax/parse/lexer/mod.rs#

[2019-05-16 13:06] pnkfelix opened #60880 "Should Thumb bugs get increased visibility, e.g. Tier 1 status?"
Spawned off of discussion here: https://github.com/rust-lang/rust/pull/58605#issuecomment-484929150

Do we need to explicitly revise stuff in our tagging/tests/release processes to try to decrease risk of Thumb bugs?

Namely these two points:

and:

[2019-05-16 13:07] pnkfelix commented on #60880
cc @alexcrichton

[2019-05-16 13:11] Zoxc commented on #59716
https://github.com/rust-lang/rust/pull/60697 added a test for this issue.

[2019-05-16 13:13] michaelwoerister commented on #59731
This should be for by #59723, which already landed a while ago. Could you check if it still reproduces on nightly?

[2019-05-16 13:13] Centril commented on #60876
cc @petrochenkov

This should be done as new a lint pass (`redundant_semicolon`) or included in an existing one.

[2019-05-16 13:23] pnkfelix commented on #60407
this should block #34511

[2019-05-16 13:26] pnkfelix commented on #60407
triage: Downgrading to P-medium based on this being an unstable feature. (Though arguably it is a feature that is so close to stabilization that we should re-update this to P-high in the near term.)

[2019-05-16 13:38] pnkfelix commented on #53014
Okay at this point I have a Windows environment set up, and have successfully built Rust (atop MS Visual Studio 2019 Community Edition).

I have not, however, been able to reproduce this bug in that context.

@bbqsrc can you provide your repo with a reproduction case?

[2019-05-16 13:57] wpwoodjr commented on #39801
Here's the same issue, this time passing a boxed Bar to a generic parameter which implements Foo:
    trait Foo {}
    struct Bar;
    impl Foo for Bar {}

    fn takes_foo_generic<T: Foo>(foo: &T) {}

    fn main() {
        let bar = Bar;
        let boxed_bar = Box::new(Bar);

        takes_foo_generic(&bar);         // OK
        takes_foo_generic(&boxed_bar);  // error[E0277]: the trait bound

[2019-05-16 13:59] alexcrichton commented on #60866
I suspect that [this block](https://github.com/rust-lang/rust/blob/1962adea6ad9b992516ae56ad7f8c5bc33b951cb/src/librustc_codegen_llvm/back/write.rs#L797-L805) in the compiler may be wrong, if that conditional is updated to check for x86 rather than a 32-bit pointer, perhaps this would be fixed?

[2019-05-16 14:00] alexcrichton commented on #60479
The libs team agrees that this would be a nice-to-have, but we don't have much more to say about it.

[2019-05-16 14:06] pietroalbini commented on #60880
One of the questions we should try to solve is the requirements we want for tier 1 target and the process to promote them.

[2019-05-16 14:10] Centril commented on #60880
Another question is to clarify what Tier 1 means. For example:
+ Can it ever be demoted?
    - Under what circumstances?

[2019-05-16 14:24] pnkfelix commented on #60704
accepted for beta-backport.

[2019-05-16 14:29] nikomatsakis commented on #47949
@matthewjasper

Oh?

[2019-05-16 14:34] pnkfelix commented on #59761
discussed very briefly at T-compiler meeting. I think our team needs more concrete work items as to what we need to do here, before we can take action ourselves...

[2019-05-16 14:40] pnkfelix commented on #59998
discussed at T-compiler meeting. self-assigning. unnominating.

[2019-05-16 14:42] pnkfelix commented on #60020
unnominating; the bug is assigned and the nomination currently unwarranted.

[2019-05-16 14:45] pnkfelix commented on #60447
discussed briefly at T-compiler meeting. un-nominating.

[2019-05-16 14:49] pnkfelix commented on #60479
[discussed](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/weekly.20meeting.202019-05-16.20.2354818/near/165816657) briefly at T-compiler meeting. P-medium. Un-nominating.

[2019-05-16 14:53] alexcrichton commented on #60880
I don't personally think this is really a question we can directly answer at this time in the sense that it feels tied up in a larger discussion about tiers, what they mean, etc. Until that higher level question is answered we don't have a direct answer to the question here other than "well we'll try to fix them in a timely fashion like all other bugs if they crop up"

[2019-05-16 14:53] oli-obk commented on #60479
Doing this as a lint seems... very hard. There's no (nice?) way to iterate over the public API of a crate afaik. So when compiling libstd, I don't know how we can find out what is missing.

[2019-05-16 14:56] pnkfelix commented on #60821
discussed at T-compiler meeting. We don't have enough information here to try to address the bug as described; we are hopeful that this is actually a duplicate of one of the other A-incr-comp bugs that we *do* have enough info to close.

[2019-05-16 15:00] hrydgard commented on #60230
Still seeing this on Rust 1.34.2, just for the record. I don't understand why it only happens on this one machine on Windows... What could possibly be different?

[2019-05-16 15:05] SimonSapin commented on #60479
This doesn’t have to be in rustc’s actual linting infrastructure. It could be any code that we can run from `./x.py test`, for example a script that looks at rustdoc output.

[2019-05-16 15:18] #60821 closed

[2019-05-16 15:31] Lonami opened #60882 "Blanket implementation of Eq if Ord is implemented"
Quote from [Trait `std::cmp::Ord`'s documentation](https://doc.rust-lang.org/std/cmp/trait.Ord.html):

So, if it's easy to make them disagree, why not make `Eq` automatically implemented when someone defines `Ord`? It would be as simple as `ordering == Eq`.

In addition, the documentation doesn't explain *why* something must implement `Eq` for it to be `Ord`, which could be helpful for people to u

[2019-05-16 15:35] wpwoodjr commented on #39801
I think these inconsistencies are confusing, especially for new users, and especially in the example of Box<T> which otherwise acts pretty much like T.

[2019-05-16 15:43] petrochenkov commented on #60882
It's often a silent performance footgun.

For example, `==` for `Vec` can take a quick `len()`-based shortcut and fall back to element-wise comparison if the lengths are equal.
`<` always has to compare elements.

So, even if `Eq` for `Vec` is implemented correctly, the automatic `Ord`-based `Eq` implementation would still pessimize comparisons derived through `Ord` for all structures containing `

[2019-05-16 16:01] ColonelPhantom commented on #60882
It is understandable that `==` can often be faster than `<` but `Ord` does have a potential outcome `Ordering::Equal` for a reason (I presume sorting?) in which case implementing such a shortcut in the `Ord` implementation might also be worthwhile.

Furthermore, making a `PartialEq` implementation mandatory for `Ord` does go strongly against the DRY principle, while it can always be overridden in

[2019-05-16 16:16] sfackler commented on #41219
I think I agree that SA_RESTART makes this not really something people should expect to deal with unless they're explicitly opting in because they already know what they're doing.

[2019-05-16 16:18] GuillaumeGomez commented on #60664
For `module1`, it's normal to get the error since both `missing_doc_code_examples` isn't bound to `allow(missing_docs)`. However, for `module3` it's very strange to not get anything. The strangest thing being that diagnostic is emitted there, we just don't see it.

[2019-05-16 16:18] Nemo157 opened #60883 "intra-doc-resolution fails to link in re-exported types that don't match original module structure"
Given a base crate

[code]

and a crate that uses that and re-exports types from it in a different structure

[code]

The links in the re-exported types only work when the module structure matches between the two crates (in this case for `Baz` but not for `Bar`)

<img width="233" alt="Screenshot 2019-05-16 at 18 15 49" src="https://user-images.githubusercontent.com/81079/57870065-a5e69600-7806-11e

[2019-05-16 16:21] sfackler commented on #60882
That blanket implementation couldn't be added until specialization stabilizes.

[2019-05-16 16:22] Nemo157 commented on #60883
@rustbot modify labels to A-intra-doc-links T-rustdoc.

[2019-05-16 18:23] chandde commented on #60866
I'm now building rustc again, with only the else part "__imp_" to try the arm build. I cannot find a variable in the context to check x86 or ARM, suggestions @alexcrichton ?

[2019-05-16 18:25] hellow554 commented on #60230
As Jonas said, it has not been back ported to stable. Beta branch will be 1.35, not the next 1.34.X, that are only hotfixes (in this case an unsound trait method)

[2019-05-16 18:28] hrydgard commented on #60230
Yeah, I'm not saying it's unexpected that it's not fixed 1.34.2, I'm saying it's very unexpected that no-one else seems to be hitting it.

[2019-05-16 18:29] alexcrichton commented on #60866
I think `cgcx.sess().target.target.arch` is probably what you want (or something like that)

[2019-05-16 18:51] tmandry commented on #60611
Related: https://github.com/rust-lang/rust/pull/60840#issuecomment-492435720

[2019-05-16 18:53] euclio opened #60884 "rustdoc: Provide a flag to document private items while also stripping hidden items"
Some crates would like to document private items, but still respect `#[doc(hidden)]`.

For example, synstructure generates private constant implementation details for hygiene reasons. Since these constants are private, they normally do not appear in documentation, but they do appear if a downstream crate uses `--document-private-items`.

The constants are annotated with `#[doc(hidden)]`, so they c

[2019-05-16 18:55] CAD97 opened #60886 "Blanket impls aren't considered disjoint when bounded on traits with disjoint associated types"
[Playground Example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8e009e18864839ea976c5d15543eb462)

[code]

[2019-05-16 19:01] chandde commented on #60866
that particular function does not have CodegenCx which carries session, that function has only CodegenContext. Still looking...

[2019-05-16 19:09] chandde commented on #60866
btw, the private fix using one underscore worked!

[2019-05-16 19:12] cramertj commented on #57996
This compiles today:
[code]

I would expect this to be an error-- references to `u64` require more than `align(1)`.

[2019-05-16 19:19] withoutboats commented on #54912
I think we should stabilize this as soon as its implemented; I'd expect statics and consts to both be irrefutable pattern positions. I don't think its important to keep statics and consts the same; I think its already inconsistent that they don't take irrefutable patterns, and bringing one of them closer to that now is better than waiting until they are both at feature parity and moving them toget

[2019-05-16 19:31] petrochenkov commented on #54912
If the `_` is interpreted as a pattern, and not as a unique identifier like in `use foo as _;`, then the implementation needs to be changed to not add the names of `_` consts into their parent modules.

[2019-05-16 19:33] jonas-schievink commented on #60886
Duplicate of https://github.com/rust-lang/rust/issues/20400

[2019-05-16 19:33] #60886 closed

[2019-05-16 19:38] rkruppe commented on #57996
`repr(align(N))` *raises* the alignment to N, but has no effect if the alignment is already >= N without the annotation (in particular it doesn't lower the alignment or error). Or in other words, it ensures a certain minimum alignment. This is not specific to enums, it works the same for structs and unions. I also think this is intentional, though I can't find mention of it in the RFC at a glance

[2019-05-16 19:46] jonas-schievink commented on #20400
To give an update on this: In 2016, [RFC 1672](https://github.com/rust-lang/rfcs/pull/1672) was proposed to fix this, but was postponed until the Chalk integration is done. Additionally, according to https://github.com/rust-lang/rfcs/pull/1672#issuecomment-262152934, allowing these kinds of impls would allow users to express mutually exclusive traits, which is a very powerful feature that needs mo

[2019-05-16 19:51] tmandry opened #60889 "Don't ignore generator fields in miri"
Right now, saved locals in generators are special-cased in miri, because they might not always be initialized.

With #59897 and #60187, we have the framework to fix this: fields are now only put in generator variants where they are live. The problem remains with aggregate fields, however, e.g.

[code]

In this case `x.1` is never initialized. This still presents a special case, because we cannot h

[2019-05-16 19:52] tmandry commented on #60889
cc @RalfJung @Zoxc @eddyb @cramertj

[2019-05-16 19:55] cramertj commented on #57996
Got it-- it's surprising to me that we wouldn't at least warn on a `#[repr(align(X))]` attribute that doesn't have any affect (doesn't raise the alignment).

[2019-05-16 20:04] davidtwco commented on #60622
@rustbot claim

[2019-05-16 20:06] RalfJung commented on #54912
`let _ = ` is a weird beast, so the following sticks out from the RFC:

That's not "just like `let _`". `let _` evaluates the *place* but never perform the place-to-rvalue coercion. Specifically, `let _ = *v` does not access memory, and `let _ = mutex.lock().unwrap()` does not drop the guard.

[2019-05-16 20:17] DutchGhost opened #60890 "const generic + tokio recursion overflow error"
When I tried to compile some (wrong) code:

[code]

I got this rather huge error message:
[code]

In order to reproduce locally, add tokio as a dependency in cargo.toml:
[code]

[2019-05-16 21:04] chandde commented on #60866
I managed to locate a function LLVMGetTarget from llvm which is supposed to return the triple, that I could use to test out x86 vs. arm
[code]
Having some trouble to use this function, it cannot be found in llvm
[code]
[code]
Not sure if this is an overkill even I make it work eventually, is there an easier/more convenient way of checking the current context is x86 or arm? @alexcrichton

[2019-05-16 21:07] lqd commented on #60680
I will try to help @pnkfelix with this.

[2019-05-16 21:16] alexcrichton commented on #60866
Ah I see, that's pretty late in the compiler. Currently `CodegenContext` has a `target_pointer_width` field and that can probably just be updated to also have a `target_arch` field and where the field is set you should have access to `Session`

[2019-05-16 21:55] rust-highfive opened #60893 "`rls` no longer builds after rust-lang/rust#60874"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#60874, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @ehuss, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @alexcrichton, the PR reviewer, and @rust-lang/compiler -- nomi

[2019-05-16 22:01] alexcrichton commented on #60893
cc @rust-lang/release as well, this is likely to impact the beta branch next week.

Additionally [changes to `checkregression.py`](https://github.com/rust-lang/rust/pull/60874/files#diff-7932ee58fcb22aa93158fab61223fc00) need to be backed out ASAP (e.g. during and after the beta branch)

[2019-05-16 22:16] seanmonstar commented on #60784
It helped me to think about the *reason* for stabilizing this at all. There is already a stable way to get the `TypeId` or any static type, via `TypeId::of::<T>()`. The only time I can think of that you'd want the result of this method instead is if the type is behind a trait object, since then `TypeId::of::<&dyn Error>()` would be wrong (or couldn't work if not static). If that's the only time, t

[2019-05-16 22:26] chandde commented on #60866
Thanks! I made necessary changes to include target_arch in codegencontext and it's working well now. I sent PR to rust/master, https://github.com/rust-lang/rust/pull/60895, please take a look!

@alexcrichton

[2019-05-16 22:36] cuviper opened #60896 "Tracking issue for entry-like methods on HashSet"
* `HashSet::get_or_insert`
* `HashSet::get_or_insert_with`

These provide a simplification of the `Entry` API for `HashSet`, with
names chosen to match the similar methods on `Option`.

ref: https://github.com/rust-lang/rust/pull/60894

[2019-05-16 22:39] sfackler commented on #60784
The soundness issue is present whether or not the API is stable or not - plenty of people develop against nightly, and they shouldn't be able to cause memory unsafety by using a safe API either.

[2019-05-16 22:43] seanmonstar commented on #60784
Then the `__type_id` method could be made `unsafe` anyways. The only one ever calling it would be inside this same module.

[2019-05-16 22:58] seanmonstar commented on #60784
An alternative to making it `unsafe` but still possible to implement (on nightly) is to use some privacy tricks to make it impossible to implement the `__type_id` method outside of the module:

[code]

[2019-05-16 23:17] sfackler commented on #60784
Making `type_id` unsafe won't work because that's the wrong direction of unsafety - an unsafe method requires the *caller* to uphold some invariant rather than the implementor.

The private type approach should definitely work, though!

[2019-05-16 23:32] DevQps commented on #41219
Thanks for your response! In that case we might be better of closing this issue right?

[2019-05-16 23:34] #60866 closed

[2019-05-17 01:08] estebank commented on #18952
[This case now compiles successfully](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6348dfa047b2fcd43f53dd00f2c75c5c), and most of the errors that you would encounter by forgetting to use the correct `impl` are mostly reasonable:

[code]
[code]

[code]

[2019-05-17 01:10] estebank commented on #60875
Closing as duplicate of #34896, #34629, #48677.

[2019-05-17 01:10] #60875 closed

[2019-05-17 01:12] estebank commented on #34896
As reported in #60875:

[code]
This reports:
[code]

[2019-05-17 01:14] estebank commented on #41962
Current output:

[code]

[2019-05-17 01:14] #41962 closed

[2019-05-17 01:21] Ryan1729 commented on #60390
Here's a slightly smaller case of what appears to potentially be the same thing which shows up if you select the "show MIR" option in [the Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3e124383145ecdfca0cad7079029fd6b)

[code]

In particular the following error is observed:

[code]

[2019-05-17 01:58] jiacai2050 commented on #20866
Is there anyone try [Calibre](https://manual.calibre-ebook.com/conversion.html). looks promising.

[2019-05-17 02:50] sfackler commented on #60784
I opened up a PR using @seanmonstar's private type approach to patch the soundness hole for now: #60902

[2019-05-17 03:52] #60613 closed

[2019-05-17 04:49] moxian commented on #52095
Closing in favour of #34896

[2019-05-17 04:49] #52095 closed

[2019-05-17 04:52] nnethercote commented on #60869
#60903 is a first step: it moves the gensym operations from `Symbol` to `Ident`. (The gensym implementation details are still within `Interner`.)

[2019-05-17 05:07] earthengine commented on #54912
It is unfortunate that Rust was designed that way and we do not have a way back. It is really confusing to even experienced users unless they jump into the very deep level of the language.

If this feature could ever be designed again, I would hope that `let _ = ...` to always performs the place-to-rvalue coercion unless it is no-op, so we have less weirdness.

[2019-05-17 06:42] #60779 closed

[2019-05-17 07:29] stefson opened #60905 "please consider to include rust-std-thumbv7neon-unknown-linux-gnueabihf into the rust-armv7-unknown-linux-gnueabihf archive on static.rust-lang.org"
hey there, firefox want's to see the additionall rust-std `thumbv7neon-unknown-linux-gnueabihf` if one uses >=rust-1.34 and passes --enable-neon, on armv7 + linux toolchain.

so, do you think you could add this rust-std library into the snapshots hosted on static.rust-lang.org, and maybe make them installable as an option via the --components switch of install.sh?

I know there's rustup, but my di

[2019-05-17 07:31] catastrop opened #60906 "Make a PDF version of the documentation."
Everybody doesn't have a internet connection all the time.

[2019-05-17 08:05] MSleepyPanda commented on #60906
When you install rust via rustup, you'll have a local copy of the documentation. See this question on [stackoverflow](https://stackoverflow.com/questions/27592046/how-can-i-download-rust-api-docs).

Also cc https://github.com/rust-lang/rust/issues/20866

[2019-05-17 08:36] catastrop commented on #60906
I want a pdf

[2019-05-17 09:01] jonas-schievink commented on #60906
Rustdoc can not generate PDF output right now. Adding first-class support for that in the current architecture is very tricky, and crates for generating PDFs are still pretty immature. As a workaround, you can print the website to PDF, but it's not going to look very nice. I suggest just using the locally installed HTML docs instead.

[2019-05-17 09:14] GuillaumeGomez commented on #60906
This is clearly not a priority for the moment. Also I'm curious: what is wrong with using locally generated documentation? Why would you prefer using a PDF?

[2019-05-17 09:18] GuillaumeGomez commented on #60865
What alternative do you suggest?

[2019-05-17 09:18] pnkfelix commented on #60680
@lqd looks like the easiest way to go is to open two distinct PR's corresponding to the two avenues outlined in the description, right?

[2019-05-17 09:35] gnzlbg opened #60909 "Android fails to link in libc-test"
I was trying to fix and upgrade the Android build jobs in libc, and I've managed to get the x86_64 and i686 ones running, but the arm and aarch64 ones fail to link and I have no idea why (https://github.com/rust-lang/libc/pull/1344). These are the two errors that I get:

[code]

and

[code]

I initially suspected that this might have something to do with the different API or NDK versions used by r

[2019-05-17 10:22] pnkfelix commented on #28498
(i doubt I'm going to be attacking this problem at any point in the foreseeable future. Unassigning self.)

[2019-05-17 10:27] pnkfelix commented on #21192
I'll just mention again the potential overlap with `await` ( #57640  and the associated [write-up](https://paper.dropbox.com/doc/Await-Syntax-Write-Up--AcIbhZ1tPTCloXb2fmFpBTt~Ag-t9NlOSeI4RQ8AINsaSSyJ)) ...

at least, I think reasonable people would read `3 + 4.box` as parsing as `3 + (box 4)`, and thus switching from prefix `box` keyword to a postfix `.box` syntax would probably resolve our issue

[2019-05-17 10:33] pnkfelix commented on #11084
based on my summary in [previous comment](https://github.com/rust-lang/rust/issues/11084#issuecomment-478620965), and the inconclusive results from PR #59605, I'm just going to close this.

[2019-05-17 10:33] #11084 closed

[2019-05-17 10:36] pnkfelix commented on #53448
the bug described here should block any hypothetical stabilization of unbox closures, cc: #29625

but since that is an unstable feature, and the bug here seems isolated to people making use of that feature, I'm going to triage this as P-medium for now.

[2019-05-17 10:40] pnkfelix commented on #53823
Unassigning self: I don't think there's much for me to do here from the viewpoint of `rustc` compiler, apart from hypothetically turning off `x86-cmov-converter` by default, which seems like a bad idea.

[2019-05-17 11:07] hellow554 commented on #60906
@jonas-schievink  this is a dup of https://github.com/rust-lang/rust/issues/60577

@catastrop you can use `rustup doc --std` to open the standard API

[2019-05-17 11:16] jonas-schievink commented on #60906
True, closing in favor of https://github.com/rust-lang/rust/issues/60577

[2019-05-17 11:16] #60906 closed

[2019-05-17 11:18] spl opened #60912 "MinGW: undefined reference to _imp___wassert"
There is a very particular set of circumstances that leads to the following error when compiling some C++ files and linking them into a Rust executable targeted at `stable-i686-pc-windows-gnu`:

[code]

**Summary**: I believe the Rust MinGW toolchain needs to be rebuilt or updated to include `_imp___wassert` (which I believe is the dynamically linked [`_wassert`](https://docs.microsoft.com/en-us/c

[2019-05-17 11:19] hellow554 commented on #60577
@rustbot modify labels: -C-enhancement +C-feature-request

[2019-05-17 11:20] nox commented on #54912
Did you mean that it does drop the guard?

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=94047cd4bd5f9e822ad19bdd55c15291

[2019-05-17 11:33] RalfJung commented on #54912
Dang, it got me again... this does not drop though:
[code]

[2019-05-17 11:56] matklad commented on #48781
Just a wild thought, but can we now use `$crate::column!` inside of libstd instead of `__rust_unstable_column` ?

[2019-05-17 12:03] pnkfelix commented on #57464
@z0mbie42 I don't think anyone felt the bug was widespread enough to justify a backport of PR #60449 to the beta/stable channels. Or at least, no one nominated  it for such.

PR #60449 landed on nightly 13 days ago, and the beta->stable and nightly->beta rollovers will occur next week. We do not have enough time between now and next week to backport PR #60449 to beta before the beta->stable rollov

[2019-05-17 12:05] hrydgard commented on #60230
I figured out why it's only happening to me on Windows.

I used the following ~/.cargo to speed up builds by linking using LLD:

[target.x86_64-pc-windows-msvc]
linker = "lld-link.exe"
rustflags = ["-C", "link-args=-fuse-ld=lld", "-C", "opt-level=z", "-C", "inline-threshold=275", "-C", "lto=no"]

The killer is **opt-level="z",** which triggers this problem. **"s"** does too, but not **"2"** for ex

[2019-05-17 12:07] jonas-schievink commented on #60230
Ah then that's the link between your setup and the embedded use cases that were hitting this.

[2019-05-17 12:11] hellow554 commented on #60230
Then this might be a dup of https://github.com/rust-lang/rust/issues/59898

[2019-05-17 12:12] theduke commented on #57464
I'm voicing my support for backporting to beta.

This has broken [juniper_hyper](crates.io/crates/juniper_hyper) for many months on stable.

With a beta backport at least it will be fixed quite a bit earlier.

[2019-05-17 12:22] pnkfelix commented on #60228
potentially new data point: as an experiment, I tried redoing the [experiment above](https://github.com/rust-lang/rust/issues/60228#issuecomment-489567484), but applied to the current master (c2e49bf1a279ec704bfe39fa149b64783454d72d), by building, then applying this patch, and then building again.

<details>
<summary>(click to see patch)</summary>

[code]

</details>

Two interesting things happen

[2019-05-17 12:22] michaelwoerister commented on #60020
So, I looked into this some more and here are my findings:

- https://github.com/rust-lang/rust/commit/cff075009032d11cff3a625663cf460e71e81609 (i.e. setting the `DebugEmissionKind` for `DICompileUnits`) is indeed what is causing the difference.
- Clang emits *even less* debuginfo with `-gline-tables-only`. With Clang 8 none of my test programs contained any `DW_TAG_subprogram` entries. Stepping t

[2019-05-17 12:26] lqd commented on #60680
(we talked about this in this [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/122657-t-compiler.2Fwg-nll/topic/.2360680.20full.20NLL.20crater.20runs)) yes and I opened #60911 and #60914 for these 2 avenues

[2019-05-17 12:44] steveklabnik commented on #41219
Yep!

[2019-05-17 12:44] #41219 closed

[2019-05-17 13:01] #60622 closed

[2019-05-17 13:18] z0mbie42 commented on #57464
@pnkfelix thank you for the explanation!

If I understand correctly, if #60449 is not backported to beta during the next week, we will not have the fix on stable at least before `1.36` ? (sorry I'm new to Rust release system)

[2019-05-17 13:37] steveklabnik commented on #45174
Triage: I'm not aware of any changes or additions here.

[2019-05-17 13:38] steveklabnik commented on #48277
Triage:

Yep, and that puts this in RFC territory, so let's close this.

n.b.: I know that @withoutboats has also wished for more ergonomics around `NonNull`, and unsafe code in general, but would prefer to work on it in a holistic fashion.

[2019-05-17 13:38] #48277 closed

[2019-05-17 13:40] steveklabnik commented on #41885
Triage: https://github.com/rust-lang/rust/pull/57416 fixed this bug 🎊

[2019-05-17 13:40] #41885 closed

[2019-05-17 13:45] steveklabnik commented on #30667
Triage; wow this is an old issue!

I *believe* that https://github.com/rust-lang/rfcs/pull/1440 makes this fixed. https://github.com/rust-lang/rust/issues/33156 was merged. So, closing! If we're still missing something here, please let me know!

[2019-05-17 13:45] #30667 closed

[2019-05-17 13:46] steveklabnik commented on #44394
Triage: it's not clear to me what the conclusion of this discussion is, or if this is still desired or not.

[2019-05-17 13:46] steveklabnik commented on #32716
Triage: is this bug still useful?

[2019-05-17 14:24] SimonSapin commented on #60784
This one is partly on me. After we did FCP to stabilize in https://github.com/rust-lang/rust/issues/27745, I grepped for unstable attributes that pointed there. I didn’t pay attention to the `#[doc(hidden)]` attribute on `Error::get_type_id`.

Perhaps this method was never intended to be user-visible, but it’s hard to say since this was four years ago (https://github.com/rust-lang/rust/pull/24793)

[2019-05-17 15:10] KrishnaSannasi commented on #60896
names chosen to match the similar methods on Option.

If these methods are supposed to be consistent with `Option` shouldn't it return `&mut T` instead of `&T`? It doesn't make sense to return `&T` because this would be used to insert some default and then change the value inside of the `HashSet` without having to get the value and rehashing again.

[2019-05-17 16:03] Avi-D-coder commented on #41875
Will `TypeId::of()` be marked as a `const fn`?

[2019-05-17 16:11] #56993 closed

[2019-05-17 16:12] estebank commented on #23685
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=77bc53b425bb84bed3616ad92cfb4dd5):

[code]

[2019-05-17 16:12] #23685 closed

[2019-05-17 16:20] alexcrichton commented on #58465
I've [made a post on internals](https://internals.rust-lang.org/t/evaluating-pipelined-rustc-compilation/10199/2) about evaluating pipelined compilation now that nightly Cargo/rustc both fully support pipelined compilation.

[2019-05-17 16:28] m4b commented on #48677
Is this going to be fixed ? This is a pretty big fail imho. The error message is downright misleading. I’ve been programming in rust for over 3 years and this took me about 20-30 minutes to figure out.

In the issue I gave, which was closed and is more simpler imho with no user level generics at all, it highlights what’s particularly bothersome about this issue, which is that for any of the types

[2019-05-17 16:38] nvzqz commented on #48763
I'd really like to make use of this in my chess engine. What's the status on this?

[2019-05-17 16:39] bjorn3 opened #60916 "LLVM ERROR: Function addresses with offsets not supported"
[code]

https://github.com/bjorn3/rust/commit/1ce79d6630a6851fc85c0d6d0be40ee618fdcebf (to prevent gc of the commit)

[2019-05-17 17:12] sunjay opened #60917 "Error message for question mark operator should message conversion"
I've been working with a lot of people who are either new to Rust or new to its latest features (like the question mark operator) and I'm noticing a lot of confusion around a specific error message.

Suppose you have the following code:

[code]

This gives you the error:

[code]

However, if you look at the actual code, it isn't obvious where the `From` trait is even being used.

The [documentatio

[2019-05-17 17:20] estebank commented on #60917
For what it's worth, [the current output points at the question mark now](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a940a39dbcaa3175853c05e358040625):

[code]

[2019-05-17 17:24] sunjay commented on #60917
Thanks! That's a good start. I find that just pointing to it isn't enough because people don't even know that the question mark operator performs a conversion. The [edition guide] (https://doc.rust-lang.org/edition-guide/rust-2018/error-handling-and-panics/the-question-mark-operator-for-easier-error-handling.html) (a top result for looking up "rust question mark operator") doesn't even reference t

[2019-05-17 17:26] lzutao commented on #60912
What is your gcc and g++ version you used? Both in success and failure cases.

[2019-05-17 17:30] retep998 commented on #60912
If you're using an external MinGW toolchain to build C/C++ code you should also be using that MinGW toolchain to link everything, and *not* the MinGW that is bundled with Rust.

[2019-05-17 17:37] fintelia opened #60919 "Should #[naked] functions default to #[inline(never)] ?"
Currently, the compiler is allowed to inline naked functions if it wants to. For a normal function, inlining is fine because the compiler can remove the function prologue/epilogue and the remaining will behave as expected. However for naked functions, the developer provides the prologue/epilogue and those *aren't* removed by the compiler. This almost surely will result in incorrect behavior. Accor

[2019-05-17 18:11] spl commented on #60912
@lzutao Both `gcc` and `g++` on my VM are 7.4.0. And `rustc` is 1.34.1, and `cargo` is 1.34.0.

@retep007 If I understand the situation correctly, there is no internal-to-Rust MinGW toolchain that _can_ build C/C++ code, because the bundled `gcc` is only for linking, so I _should_ use the system MinGW toolchain for linking with any crate that involves building C/C++.

I've seen this advice mention

[2019-05-17 18:26] RalfJung commented on #60889
In Miri and [in layout code](https://github.com/rust-lang/rust/blob/b982867a7349f84c17317599b59aeb5a7d8a83be/src/librustc/ty/layout.rs#L2032), and for the same reason.

[2019-05-17 18:29] RalfJung commented on #60889
Well, it gives us a "more correct" layout for generators, for some notion of correctness. Also technically we wouldn't have to do this for *every* field, if you know which fields can be partially initialized for a particular yield point you can encode that. And that might give us layout optimizations.

[2019-05-17 19:00] #60747 closed

[2019-05-17 19:00] #60782 closed

[2019-05-17 19:04] est31 opened #60923 ""Broken MIR" ICE when trying to use const generics"
Code like this

[code]

Gives ICE errors like this:

<details>

[code]

</details>

[2019-05-17 19:23] estebank commented on #60917
Does https://github.com/rust-lang/rust/pull/60924 look like what you had in mind, @sunjay?

[2019-05-17 19:26] bstrie commented on #39915
Is linking with LLD documented anywhere? I have (on Linux) rustc -C linker-flavor=ld.lld hello.rs, but I'm not having luck. I thought that LLD was distributed with our copy of LLVM, am I wrong? I've also tried installing LLD via apt, but rustc is still mystified. What are the steps that must be taken to try out LLD with Rust code today?

[2019-05-17 19:32] bstrie commented on #32463
Any movement on the semantics of `next_power_of_two` for wrapping types? There are comments for this scattered around other threads, but it would be good if someone on the lib team could summarize the current thinking.

[2019-05-17 19:47] clarfon commented on #32463
I strongly believe that `wrapping_next_power_of_two` should be 0 on overflow. If we do not treat integer types as a truncation of the number line, and instead treat them as proper cyclic groups, then 0 *is* a power of two.

[2019-05-17 19:51] nixpulvis commented on #21192
I agree, and think we should adopt the same style for these kinds of keywords in general. If we decide on prefix with custom precedence then it should be:

[code]
Of course `try!` is a macro because it can be (in some ways the origins of this issue).

Or if it's a macro then:

[code]

Or finally, the proposed postfix method notation.

[code]

I'm personally a fan of the prefix notation for these,

[2019-05-17 19:54] clarfon commented on #32463
Adding the other argument: if you see integers as infinite, rather than finite, zero is never a power of two; therefore, the wrapping version should wrap to one. It's been argued that there is a way to make both versions as performant as one another (and hence the argument is just over preference of the result) but I don't actually know the code for this case. (Maybe @nagisa can comment on that.)

[2019-05-17 19:54] Centril commented on #21192
@pnkfelix  Yeah I think postfix box is the way to go and I want to thank whoever had the foresight to reserve `box` as a keyword in these contexts!

[2019-05-17 20:43] sppalkia opened #60925 "[LLVM] Segmentation fault on MacOS with > 1 codegen units and optimization > 0"
I'm seeing a segmentation fault in the [Weld project](https://github.com/weld-project/weld/tree/segfault) during compilation when compiling with `cargo build --release`. This is only happening on MacOS (tested on High Sierra and Mojave); it works fine on Ubuntu 16.04. This issue also does not occur without `--release`.

I haven't been able to make a smaller example for this, but it seems to have s

[2019-05-17 20:51] jonas-schievink commented on #60925
This is very likely to effectively be a duplicate of https://github.com/rust-lang/rust/issues/53912, but would be good to confirm (and hopefully fix!).

[2019-05-17 20:55] Seeker14491 opened #60926 "rustdoc: private module appears when overriding glob re-export"
Consider this code in a crate's lib.rs:

[code]

The generated documentation will show the `m2` module at the crate root, though nothing will show up inside the `m2` module page. The `m2` module is private to outside crates, so I don't think it should be showing up at all.

## Meta

`rustc --version --verbose`:

rustc 1.36.0-nightly (7d5aa4332 2019-05-16)
binary: rustc
commit-hash: 7d5aa43325ad762

[2019-05-17 21:04] khuey opened #60927 "Borrow checker on beta rejects code accepted on stable."
See the repo at https://github.com/khuey/rust-nightly-borrow-checker-failure

This repository builds on 1.34.2. It fails on 1.35.0-beta.8 with

[code]

[2019-05-17 21:06] Manishearth commented on #60927
cc @nikomatsakis

[2019-05-17 21:07] Manishearth commented on #60927
We're cutting off a new stable next week, we should prioritize investigating and fixing this.

[2019-05-17 21:19] Centril commented on #60927
Self contained initial reduction:
[code]

[2019-05-17 21:24] matthewjasper commented on #60927
Probably #58673, which fixed pointer casts being able to launder lifetimes with NLL.

[2019-05-17 21:47] Zoxc commented on #59731
Duplicate of https://github.com/rust-lang/rust/issues/59716.

[2019-05-17 21:47] #59731 closed

[2019-05-17 22:24] Manishearth commented on #60927
@matthewjasper any idea on how we'd be able to fix this in time for the release? Either by backporting or by fixing the actual bug?

[2019-05-17 22:45] matthewjasper commented on #60927
The example provided should be using `let locked = (*global_lock.as_ptr()).lock().unwrap();`.

[2019-05-17 23:11] ehuss opened #60929 "Reinstate edition-guide toolstate check"
This is a tracking issue for reverting the change introduced in #60791 which disabled the toolstate check for the edition-guide.

It is currently blocked on #60459 which is causing a test failure in the edition-guide.  I will reinstate the check as soon as that issue is fixed.

@Mark-Simulacrum has requested the labels t-release and I-nominated.

[2019-05-18 00:55] Mark-Simulacrum commented on #60929
Tags are so that we don't forget this, we should keep it nominated until it's fixed.

[2019-05-18 00:58] khuey commented on #60927
Yeah that works.

[2019-05-18 02:03] Centril commented on #46205
Fixed in https://github.com/rust-lang/rust/pull/49799.

[2019-05-18 02:03] #46205 closed

[2019-05-18 03:15] Centril commented on #57996
@cramertj Seems like something we could tuck into the `unused_attribute`s lint? cc @oli-obk

[2019-05-18 05:31] Mcat12 commented on #27732
I just wanted to note (if it hasn't been noted already) that this feature makes it possible to write a struct with a generic trait parameter. This was useful for me because I could then require the other generics to implement the generic trait.

Related internals thread I found helpful:
https://internals.rust-lang.org/t/traits-as-generic-type-parameters/4950

Example (a mockable Rocket request gua

[2019-05-18 07:31] laanwj commented on #60747
verified that this problem is gone in `rustc 1.36.0-nightly (73a3a90d2 2019-05-17)`
great !

[2019-05-18 08:00] kgv commented on #53491
Maube to add trait `PartialUninit` (or `PartialInit`) which would initialize data partially based on metadata.
Example: [MODULEENTRY32W](https://docs.rs/winapi/0.3.7/x86_64-pc-windows-msvc/winapi/um/tlhelp32/struct.MODULEENTRY32W.html).
The first field (`dwSize`) must be initialized by the structure size (`size_of::<MODULEENTRY32W>()`).
If `T` impl the `PartialUninit` trait, then `MaybeUninit::<T>

[2019-05-18 08:01] oli-obk opened #60933 "Type ascription typo yields unclear error message"
The following code does not guide the user towards the problem. Especially considering the fact that there's no type ascription feature gate active.

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=17a23068f90f2e62cdf7fde4c5592953))

Errors:

[code]

[2019-05-18 09:44] fbstj commented on #60784
given that https://github.com/rust-lang/rust/pull/60902#issuecomment-493480171 says

should this not be reopened?

[2019-05-18 10:35] Itanq commented on #25289
I have the same issues, The solution can't solve my problem.
Related version:
[code]
I build a yew examples:
[code]
and the yew version:
[code]
The output is
[code]

[2019-05-18 11:36] phil-opp commented on #39915
@bstrie You have to additionally pass the `-C linker=rust-lld` argument.

[2019-05-18 11:39] petrochenkov opened #60935 "Do not convert doc comments into `#[doc = "..."]` form unless necessary for macros"
Keep them as tokens in AST, this may partially mitigate the perf impact from turning normal comments into doc comments (https://github.com/rust-lang/rust/pull/60930).

[code]
=>
[code]

[2019-05-18 11:44] petrochenkov opened #60936 "Coalescing for line doc comments"
Right now multiple line doc comments are considered separate tokens and separate attributes:

[code]
is interpreted as
[code]

To mitigate the perf impact from turning normal comments into doc comments (#60930) we may want to merge multi-line line comments into a single token and a single attribute:
[code]

[2019-05-18 12:38] RalfJung commented on #42371
Accidental triage (because I forgot about this and just rediscovered the issue^^): the situation is unchanged.

[2019-05-18 12:57] pietroalbini commented on #52803
The redirect is in place.

[2019-05-18 12:57] #52803 closed

[2019-05-18 15:25] kmox83 opened #60939 "The rust compiler is experiencing a panic when running a juniper example"
The rust compiler is experiencing a panic when running a juniper example

I tried this code:

I run the example from the repository https://github.com/graphql-rust/juniper
commit SHA c93911958a2749c74232ac851f16d90fa943df91
In the folder https://github.com/graphql-rust/juniper/tree/master/juniper_hyper

Running: ```cargo run --example hyper_server```

I expected to see this happen: The server to b

[2019-05-18 15:34] jonas-schievink commented on #60939
Duplicate of https://github.com/rust-lang/rust/issues/59344 and https://github.com/rust-lang/rust/issues/58840, so closing in favor of those.

Can you try building the example with the current nightly? It should be fixed there.

[2019-05-18 15:34] #60939 closed

[2019-05-18 15:42] jrobsonchase opened #60941 "`use some::module::self;` and `use some::module;` not semantically equivalent"
In instances where a path can represent both a module and a function or macro, the `self` import will only import the module and not the function/macro, whereas everything will be imported if the `use` statement ends with just the module/macro/function name.

This causes issues with `rustfmt`'s `merge_imports` option: https://github.com/rust-lang/rustfmt/issues/3362

If rustc is "working as intend

[2019-05-18 15:47] jonas-schievink commented on #60941
@petrochenkov might know about this

[2019-05-18 15:51] jrobsonchase commented on #60941
@Nemo157 referred me to [this issue](https://github.com/rust-lang/rust/issues/51845) that came up before, but I couldn't find any reference in any of the linked issues to how `self` imports are supposed to be treated.

[2019-05-18 16:18] tarcieri commented on #34902
As a side note to anyone interested in creating reproducible builds of libraries/apps authored in Rust, I've created a `cargo-repro` project in the Secure Code WG as a place to focus efforts on creating a Cargo-driven workflow for reproducible builds:

https://github.com/rust-secure-code/cargo-repro

(Apologies if this is off-topic for this particular issue, but I thought there might be some inter

[2019-05-18 16:22] chansuke commented on #60790
@varkor Hi.I've added the `TrFailedMsg("test did not panic as expected")` in `fn calc_result()` and trying to write a test but is this right approach?

[code]

[2019-05-18 16:38] dtolnay commented on #47384
Reopening because people continue to have problems with `#[used]` statics failing to appear, even in use cases without a custom linker script.

- https://github.com/dtolnay/inventory/issues/7
- https://github.com/dtolnay/inventory/issues/9
- https://users.rust-lang.org/t/link-section-in-libraries-discarded/28349

[2019-05-18 16:51] petrochenkov commented on #60941
This is working as intended :)

The thing before `::` (e.g. `foo` in `foo::bar` or `foo::self`) is always a type/module, so path resolutions can never "bifurcate" in the middle, so a path can resolve to 3 things at most, determined entirely by the last segment.

[2019-05-18 17:08] scottjmaddox commented on #53491
@kgv I'm afraid I don't understand your suggestion. Perhaps some extra context explaining what problem you're trying to solve could help? And maybe a more complete example of your suggested solution?

[2019-05-18 17:14] #60941 closed

[2019-05-18 17:20] jonas-schievink commented on #43461
@pnkfelix I'm unlocking this issue since it seems to have been locked by accident. If it was intentional feel free to lock it again (and perhaps leave a comment as to why it is being locked).

[2019-05-18 17:20] nbdd0121 commented on #59187
I think I ran into the same issue today. Here is a minimal snippet:
[code]
According to https://github.com/rust-lang/rfcs/blob/master/text/2195-really-tagged-unions.md, they should be identical for layout and FFI purposes. However Rust is trying to pass `MyResult` by register (correct) and `MyResult2` by memory (wrong), which breaks the interop with C/C++. As a result, try and try2 in the above sn

[2019-05-18 17:30] CJKay commented on #47384
FYI I managed to work around this in my case by doing the following:

- In the linker script, specify `EXTERN(xyz)` where `xyz` is a symbol you are trying to export (you actually only need to do this for one symbol, I assume because it stops the linker from removing anything else in that library (object file?))
- Mark the symbol as `#[no_mangle]` and `pub`
- `pub use` the symbol from the binary mo

[2019-05-18 17:58] #57672 closed

[2019-05-18 18:56] rbtcollins commented on #49921
@spease extended open flags are accessible via https://doc.rust-lang.org/std/os/windows/fs/trait.OpenOptionsExt.html
FWIW lots of bennchmarks exist showing synchronous IO calls improve when matching IO operations to the underlying block size (e.g. 4MB for modern SSD's) across multiple OS's, so its very likely that there are improvements to gain here. However, 4MB is stack-breaking size by default,

[2019-05-18 21:23] varkor commented on #60790
@chansuke: actually, I think you can get away with just changing this line:
https://github.com/rust-lang/rust/blob/7158ed9cbea805adf8161d3deaadba2f85b7692e/src/libtest/lib.rs#L1925
to update it to your `TrFailedMsg`, because such a test already exists for this case.

[2019-05-18 21:35] mzabaluev commented on #43244
I don't think this is better than a composition of `drain_filter` and `map`.

[2019-05-18 22:00] mzabaluev commented on #43244
There appears to be a tough choice between not draining all matching elements if the iteration stops early, or a potential panic during unwind if filtering and draining to the end is done at the drop of a `DrainFilter`.
I think this feature is rife with problems either way and as such should not be stabilized.

[2019-05-18 22:37] RalfJung commented on #36394
Also see https://github.com/rust-lang/unsafe-code-guidelines/issues/73: discussion of the invariant that a union has to satisfy at all times. This directly informs which layout optimizations are possible.

[2019-05-18 22:43] estebank commented on #60933
Cc https://github.com/rust-lang/rust/issues/47666, https://github.com/rust-lang/rust/issues/54516, https://github.com/rust-lang/rust/issues/34255 and https://github.com/rust-lang/rust/pull/59150

[2019-05-18 23:21] Riateche opened #60948 "Rustdoc doesn't allow to navigate to lines after 50000"
When I click on the `[src]` link of a function in the rendered documentation, if the function's line number is greater than 50000, the browser navigates to line 50000 instead of the proper location. I found the relevant code here:

https://github.com/rust-lang/rust/blob/3418d2f50867b2c179be4239aedfffef9a650d5f/src/librustdoc/html/static/main.js#L165

What's the rationale behind this limitation? Ca

[2019-05-18 23:48] #60042 closed

[2019-05-19 04:49] #56686 closed

[2019-05-19 04:50] #60917 closed

[2019-05-19 05:39] clarfon commented on #51784
So I came across this and I realise that the main thing at play is that `Option` does not have `T: ?Sized`, and this distinction will apply to any type which uses generic parameters. Perhaps that might be better to include here.

[2019-05-19 05:50] kgv commented on #53491
@scottjmaddox [fixed](https://github.com/rust-lang/rust/issues/53491#issuecomment-493657638). Is it clearer?

[2019-05-19 06:18] carado opened #60953 "function with const generic and impl trait parameter causes ICE"
Hello !

A blank rust project with just this `main.rs`:
[code]
causes:
[code]

And while I'm here, thanks in general for implementing const generics ! They're gonna be a huge help.
Have a nice day !

[2019-05-19 06:58] RalfJung commented on #53491
@kgv what is the problem this is solving?

Notice that assignment-based partial initialization of structs only works for types that don't need dropping. `uninit.get_mut().foo = bar` will otherwise drop `foo`, which is UB.

[2019-05-19 08:23] hkcorac opened #60954 "Printing warnings about use of std::process::Command::args(&std::path::PathBuf)"
Hello Rust developers,

Recently I found a small issue with my code. For example:

[code]

Note that we pass a reference `&pathBuf` to `args()` -- not `arg()`. That call will break up the path into multiple parts, and send them to target command.

For example if the file is `/a/b/c/main.rs`, then `echo` will print:

[code]

The issue is:

- `Command::args()` accepts `IntoIterator<Item = AsRef<OsSt

[2019-05-19 08:25] kgv commented on #53491
@RalfJung The problem I'm trying to solve - unified work with FFI structures, some fields of which do not depend on `self` (only `Self` or do not depend on anything (constant)), for example - one of field is size of `Self`.

[2019-05-19 08:54] Shipow opened #60956 "🔍 Improving search on docs with Algolia's DocSearch"
Hello Rust Lang team,<br><br>I've noticed that your documentation could take advantage of our <a href='https://community.algolia.com/docsearch/'>DocSearch</a> initiative.<br><br>So, we went on <b>trying to improve the search and came up with this demo:</b><br>💖<a href='https://docsearch-rust-lang.netlify.com/'>Try out the search here</a> 💖 (we've added docsearch.js to a mirror of your docs).<br><b

[2019-05-19 09:00] #60848 closed

[2019-05-19 09:04] matthewjasper opened #60957 "Remove ty::BrFresh and RegionConstraintCollector::new_bound"
They appear to be unused now, possibly after the change to universes.

cc @nikomatsakis

[2019-05-19 09:38] glaebhoerl commented on #60715
Cc https://github.com/rust-lang/rust/issues/25053 -- using `Copy` as a workaround here would obviously break if `UnsafeCell` were made `Copy`. (Which might provide additional motivation for exposing `Freeze`, in order to be able to express the intended requirement directly rather than by fortuitous coincidence.)

[2019-05-19 09:40] glaebhoerl commented on #25053
Cc https://github.com/rust-lang/rust/issues/60715, an actual use case which would break if `UnsafeCell` were made `Copy` (unless if `Freeze` were also exposed as a better alternative).

[2019-05-19 09:55] RalfJung commented on #25053
Ouch, that's quite bad indeed. The alternative proposal of being able to `unsafe impl<T> Copy for Cell<T>` ("overriding" the compiler checks) would also suffer from this.

Basically, currently we have no interior-mutable-`Copy` type, but that is an accident. And we also have legit needs for `Copy` interior mutable types, which is irreconcilable with using `Copy` to exclude interior mutability.

[2019-05-19 09:56] RalfJung commented on #60715
We'd very much appreciate if you wouldn't do that. This would paint us into a corner that is impossible to get out of, where the legitimate usecases for a `Copy` with *with* interior mutability would be forever excluded from Rust.

[2019-05-19 09:58] diwic commented on #25053
Making changes such as making `UnsafeCell` copy would have been less risky in 2015 (when this bug was opened) than it is now, when people are experimenting with transactional memory and other interesting things.

Anyhow one basic argument still holds: It's trivial to make a `!Copy` wrapper around a `Copy` enabled `UnsafeCell`, but impossible to make a `Copy` wrapper around a `!Copy` `UnsafeCell`.

[2019-05-19 10:01] SimonSapin commented on #48763
This thread or https://github.com/rust-lang/rust/pull/48573 do not show a serious issue as far as I can tell.

@rfcbot fcp merge

[2019-05-19 10:06] SimonSapin commented on #48763
https://github.com/rust-lang/rust/pull/48573#issuecomment-372971821 says

The linked bug has some discussion about changing the code emitted when there is not a dedicated instruction. That has not yet lead to an LLVM change, but it doesn’t seem serious enough to me that we shouldn’t expose this at all.

-----

Since we also have a `[T]::reserve(&mut self)` that works in place, it’s possible that s

[2019-05-19 10:09] oherrala opened #60958 "String::as_ref() Into<String> type inference regression"
The following code has been working with stable compiler (rustc 1.34.2), but doesn't compile with nightly (rustc 1.36.0-nightly (963184bbb 2019-05-18)).

[code]

[code in playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fc63ae27eef2543368a002884f6822b5)

Error the nightly compiler is given:

[code]

However, stable compiler is happy with the code and prints the

[2019-05-19 10:37] jonas-schievink commented on #60954
This sounds like something [Clippy](https://github.com/rust-lang/rust-clippy) could do.

[2019-05-19 10:44] jonas-schievink commented on #60958
Likely caused by https://github.com/rust-lang/rust/pull/59825, but considered acceptable breakage.

[2019-05-19 11:07] csmoe commented on #60956
cc @rust-lang/rustdoc

[2019-05-19 11:09] hbina commented on #60876
@Centril how does one go about doing that?

[2019-05-19 11:27] jonas-schievink commented on #60956
This doesn't seem to index rustdoc output, just the books.

Personally I'm not a big fan of depending on an external service just for searching the books. This just seems like free advertising for Algolia. If someone is interested in improving the book search, they could always contribute to [mdBook](https://github.com/rust-lang-nursery/mdBook) directly. That way, the search would also work offlin

[2019-05-19 11:38] kentfredric commented on #60865
The solution of using a `<span>` instead of `<div>` worked satisfactorily for the other example.

( The side issue with the weird rendering is more about the weird double-"+", there's probably a better way of doing this, but I'm a bit short of ideas how )

[2019-05-19 12:22] oli-obk commented on #57996
The effect of the attribute is platform dependent. I don't see how we could make this lint free of false positives. We could add something like it to clippy, but as a rustc lint that is always on, false positives are essentially never accepted.

Suggesting `#[cfg_attr(not(current_platform), repr(align(X)))]` is possible, technically correct on all platforms, but still seems like it's just noise to

[2019-05-19 12:33] hkcorac commented on #60954
Thank you, that helps me.

I'm closing this issue.

[2019-05-19 12:33] #60954 closed

[2019-05-19 12:53] avl opened #60961 "Rc::make_mut doesn't clone if there are weak refs"
The docs for Rc::make_mut say:

(See https://doc.rust-lang.org/std/rc/struct.Rc.html#method.make_mut )

As I read the above paragraph, the last line of the following program should not print 'None'. In fact, it does print None, at least on stable rust 1.34.2.

[code]

I'm not being bit by this, possibly no-one is. Just thought I should report it.

Edit: The following paragraph didn't make much sen

[2019-05-19 13:14] rkruppe commented on #57996
We clearly shouldn't lint for things like `#[repr(align(8))] struct Ptr(*const u32)` on 64 bit platforms. Deciding where to draw the line (let alone implement that) is difficult to decide in general, but we could approximate it coarsely and conservatively, i.e., err on the side of false negatives. For example, we could try to estimates *maximum* alignment across all plausible target platforms toda

[2019-05-19 13:17] RalfJung commented on #56254
@Manishearth discovered an intersting piece of code that was not accepted by Stacked Borrows 2.0:
[code]
I have annotated what happens with the stack. The issue is that we add the `Unique` tag "in the middle" of a bunch of existing `SharedRW`, and that's bad -- a block of consecutive `SharedRW` should be treated together, almost as if it was a single item.

I tried to fix this by supporting two-ph

[2019-05-19 13:19] jonas-schievink commented on #60961
Looking at the [implementation](https://doc.rust-lang.org/src/alloc/rc.rs.html#616-640), the behavior looks correct, but the docs are incorrect in claiming that `Clone` will be called when there are only `Weak` pointers left (in that case the implementation will just "steal" the value by moving it into a new `Rc` and leaving the old one destroyed so the `Weak`s can't be upgraded).

[2019-05-19 13:26] oli-obk commented on #57996
If that can be done as you describe, adding it to `unused_attribute`s lint sounds great!

[2019-05-19 13:32] avl commented on #60961
I can see cases where you as a programmer would want either the documented behavior or the implemented behavior. Either way docs and implementation should agree ☺

[2019-05-19 13:35] avl commented on #60961
Oh wait, the documented behavior doesn't make sense, does it? Now I get it. After make_mut has run, there are no strong refs, so by the definition of a weak ref all the weak refs should die. Disregard my comment above. This is just a minor documentation issue.

[2019-05-19 13:45] mati865 commented on #49409
Status update:
I've got it working few days ago but pushing this upstream is blocked on upgrading `compiler-builtins` to 0.1.15. It was meant to be done by https://github.com/rust-lang/rust/pull/60841 but was backed off.

[2019-05-19 15:22] oli-obk commented on #60893
fixed in https://github.com/rust-lang/rust/pull/60946

[2019-05-19 15:22] #60893 closed

[2019-05-19 15:22] Shipow commented on #60956
Hi @jonas-schievink, thanks for your feedback.

Depending on a tiers party is always a tricky choice that needs to be carefully evaluated. I believe the main topics to look at are cost, privacy, dependency and availability.

DocSearch has been created 4 years ago as a giveback to the community. As you noticed, the service is provided by Algolia which as a strong relation with open source. We only

[2019-05-19 15:33] oli-obk opened #60964 "Error about drop in `const fn` without any dropping happening"
The `take_inner` function won't ever evaluate a destructor. This is a bug in `const_qualif` I think

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b8e295330e924263e8c29ec68871becf))

Errors:

[code]

[2019-05-19 16:00] jonas-schievink commented on #60956
I know that offline capabilities are important to many people here, and this change would potentially regress them (depending on how it's integrated). However I don't really have any say in this and will defer this to the docs team to decide.

[2019-05-19 16:07] Shipow commented on #60956
Thanks, this kind of feedback help us improve. If offline search in the documentation is a thing, we'll add it to the roadmap. I don't have any data on this yet but i'm planning to send a survey so I'll add this part for sure.

[2019-05-19 16:28] scottjmaddox commented on #53491
@kgv I have to agree with @RalfJung here that such a use case is better handled by a helper module or crate.

[2019-05-19 17:57] infinity0 commented on #58516
Still happening with version `rustc 1.36.0-nightly (963184bbb 2019-05-18)`.

[2019-05-19 18:05] GuillaumeGomez commented on #60865
It's complicated indeed. I'll send a PR to change this soon.

[2019-05-19 18:09] GuillaumeGomez commented on #60956
Currently, rust docs search doesn't need a server and works offline. We want to keep it this way. However, improving the rust docs search process itself would be very appreciated. Thanks for the proposition though and good continuation!

[2019-05-19 18:09] #60956 closed

[2019-05-19 18:27] infinity0 commented on #58516
If I make this change, the error goes away:

[code]

[2019-05-19 18:56] infinity0 commented on #58516
Work around filed for that crate as rustwasm/wasm-bindgen#1545

[2019-05-19 19:40] tarcieri commented on #58599
I saw there was some discussions around use cases on #59155 so I thought I'd bring up mine (and perhaps you can all cross-check me that this would be the proper solution).

I maintain a crate for zeroizing memory (for e.g. wiping cryptographic keys/plaintexts) which presently relies on undefined behavior - namely mixed volatile / non-volatile memory accesses (in conjunction with compiler and hardw

[2019-05-19 19:41] jdahlstrom commented on #60882
A three-way comparison operator (`<=>`, "spaceship") is being added to C++20. It was originally proposed that the compiler auto-implement all six comparison operators in terms of (possibly defaulted) `operator<=>`, but [they are now reconsidering the semantics](http://open-std.org/JTC1/SC22/WG21/docs/papers/2019/p1185r2.html) exactly due to potential performance footguns especially in case of wrap

[2019-05-19 19:54] #59313 closed

[2019-05-19 19:55] nagisa commented on #60936
It cannot be interpreted that way because `///` are not stripped by rustdoc. It probably is interpreted as

so we don’t need the `///` in the concatenated string either.

[2019-05-19 20:26] hu-a commented on #59187
It also looks like any tagged argument, will be passed on the stack, even if there is only one tag (which could be optimized away) and the contents are only one byte

Relevant godbolt: https://www.godbolt.org/z/xjTrXA

[2019-05-19 20:37] RalfJung commented on #58599
I don't know why you think that mixing volatile and non-volatile accesses is UB. I see no issue with that *per se*.

That said, atomic memset might still be useful.

[2019-05-19 20:57] tarcieri commented on #58599
It is explicitly documented as UB:

https://doc.rust-lang.org/core/ptr/fn.write_volatile.html

Here is a thread on the subject of using volatile writes for zeroing sensitive memory:

https://internals.rust-lang.org/t/volatile-and-sensitive-memory/3188

[2019-05-19 20:58] petrochenkov commented on #60936
I've just checked, `///` is there both in tokens and in AST.
It looks like they are *occasionally* (sigh) stripped, e.g. when doc comments are passed to macros.
Rustdoc strips them as well (see `with_desugared_doc`).

In other words, the details need to be figured out.
Ideally, tokens should be passed around losslessly/precisely without attempts to be "helpful".
Not sure how close to that we can g

[2019-05-19 21:01] petrochenkov commented on #60936
Another incompatibility is with code doing something like this
[code]
(Again, we'll need crater to figure out whether we need to provide a compatibility layer or not.)

[2019-05-19 21:11] nagisa commented on #60936
Interesting. I tried to run `cargo doc` on your desugared version and the markdown barfed at all the `///` in it.

[2019-05-19 21:25] retep998 commented on #60912
Yes. Things change between MinGW versions and C/C++ code compiled against headers for a specific MinGW version are only guaranteed to link against libraries from that same MinGW version.

Just changing the linker alone isn't enough because rustc still adds the paths to its bundled MinGW libraries in the linker invocation. You'd have to disable the bundled MinGW entirely.

[2019-05-19 21:25] Matthias247 commented on #52924
I played a bit around with @tmandry's optimization from #60187 in my project and wanted to share the results here instead of spamming the CR:

Here are my results (for the top level `Future` in my project):

Old nightly:

tmandry:generator-optimization:

And there is the relevant code which put those things together:

[code]

So it definitely seems to help quite a bit. The inner Futures (`conn_fut

[2019-05-19 21:34] Torrencem commented on #60948
Interestingly, it looks like if this limit were removed, the for loop [here](https://github.com/rust-lang/rust/blob/3418d2f50867b2c179be4239aedfffef9a650d5f/src/librustdoc/html/static/main.js#L182) might be a problem. Then, maybe, someone could link to a url such as https://doc.rust-lang.org/src/.../something.rs.html#1-9007199254740992 which would make the page freeze up, since the loop won't exit

[2019-05-19 21:53] mtak- commented on #60715
@glaebhoerl Ahh, I didn't realize there was a discussion around that. It's not clear to me that `UnsafeCell: Copy` would cause unsafety in `swym`, but it would definitely break the reference semantics of borrow's return type.

For that to work, the proposed version of `Freeze` should not have the `PhantomData` impl core currently has. `core` would certainly wanna keep their definition of `Freeze`

[2019-05-19 21:57] oberien commented on #53457
This seems to have been fixed recently, as the example in https://github.com/rust-lang/rust/issues/53457#issuecomment-455091820 didn't work on nightly 2019-04-11, but now works on the playpen (if you click the link in that comment).

[2019-05-19 22:07] Riateche commented on #60948
The freeze in that `for` loop can be avoided with something like this:
[code]

[2019-05-19 22:37] ExpHP commented on #43244
Is there any particular problem with having it behave differently on unwind?

Possibilities:

* It could run to completion normally, but leave behind matching elements on unwind (so that all remaining elements are assumed not to match).
* It could run to completion normally, but truncate the vector after the last written position on unwind (so that all remaining elements are assumed to match).
* I

[2019-05-19 22:38] ExpHP commented on #43244
Also, thanks, I found [this playground example](https://github.com/rust-lang/rust/issues/43244#issuecomment-396684841) posted earlier in the thread which demonstrates that the current implementation **still double-drops elements.**

[2019-05-20 06:07] spl commented on #60912
Right. I forgot to set the `$PATH` there.

How do I do that?

[2019-05-20 06:21] carado commented on #60923
If this helps, similar errors are produced by this code:
[code]
<details>

[code]

</details>

[2019-05-20 07:27] RalfJung commented on #43244
It might be worth opening a separate issue for the soundness bug? That can then be marked as I-unsound.

[2019-05-20 07:34] RalfJung commented on #58599
That sentences does not say "UB" or does it say "must not". AFAIK, it mostly refers to "normal" usage of volatile, namely interaction with IO registers: you don't want to mix volatile and non-volatile accesses on those.  But I do not know of any form of UB there.  @rkruppe, do you?

[2019-05-20 08:40] mati865 commented on #60912
I cannot reproduce it with `nightly-i686-pc-windows-gnu` in up to date MINGW32 shell in MSYS2.

There is similar issue https://github.com/rust-lang/rust/issues/47048, you can try copying important libraries into rust toolchain directory:
[code]
Note: you may need to copy more libraries depending on the errors.

[2019-05-20 08:42] RalfJung commented on #58599
Note that that thread does *not* reflect our current understanding of volatile accesss and the issues around that. See https://github.com/rust-lang/unsafe-code-guidelines/issues/33 for the latest discussion. I'd love to amend that thread but it got auto-closed :(

[2019-05-20 08:51] rustonaut commented on #43244
As far as I know you can't Mark or as unsound as double panic _is sound_
just very inconvenient as it aborts. Also as far as I remember the
possibility of double panicking isn't a bug but the behavior implicitly but
knowingly chosen.

The options are basically:
1. Do not run to completion on drop.
2. Do run to completion but potentially abort due to double panic
3. Do drop all "unchecked" elements

[2019-05-20 08:58] spl commented on #60912
@mati865 Does the symbol `_imp___wassert` appear in your `.rustup/toolchains/nightly-i686-pc-windows-gnu/lib/rustlib/i686-pc-windows-gnu/lib/msvcrt.a`? If not, can you guess where it might be found?

Indeed! Copying `libmingwex.a` and `libmsvcrt.a` from `/mingw32/i686-w64-mingw32/lib` to `$USERPROFILE/.rustup/toolchains/stable-i686-pc-windows-gnu/lib/rustlib/i686-pc-windows-gnu/lib` does work.

[2019-05-20 09:04] pnkfelix commented on #60228
In a more recent attempt to run the above experiment (and, at least this time, using a locally built `rustc` for bootstrapping -- i'm not sure if my earlier runs did so or not), I am seeing the ICE again. It is very weird.

Here is my `config.toml` so you can see the settings I am employing, including how I am specifying the locally build `rustc` for bootstrap:

[code]

[2019-05-20 09:08] RalfJung commented on #43244
Double-*drops* are unsound though.

[2019-05-20 09:15] mati865 commented on #60912
I won't have access to Windows until evening (Europe time) and I have already overridden Rust shipped libs. I haven't made backup because they were broken in other ways.

[2019-05-20 09:29] pnkfelix commented on #60927
Hmm. Was I wrong about PR #58673 only affecting code opting in via `#![feature(nll)]`? I had thought when I reviewed that PR that it did not affect NLL migrate mode, and therefore could not be breaking stable/beta ...

[2019-05-20 09:47] Pzixel commented on #54628
How do I init vector with some zeroed-wrapped? For example, `std::num::Wrapping(u32)`?

[2019-05-20 09:50] pietroalbini commented on #60927
Me and @pnkfelix discussed this on Discord. The beta to stable promotion is happening today so there is no time for the compiler team to decide what's the best fix for this issue, and we don't want to rush things.

I'm going to **back out** PR #58673 from the 1.35.0 release, but it will still be present on beta 1.36.0 and nightly, giving the teams more breathing room to reach a decision.

[2019-05-20 11:22] #27800 closed

[2019-05-20 12:18] pietroalbini commented on #60927
An update: backing out the change doesn't seem to be trivial so I'm going to do the initial stable PR without it (aka with the regression).

When I tried doing the revert I got a bunch of ICEs both in the test suite and while compiling stage1 rustc, so the backout seems risky enough not to do it right before 1.35.0 goes out.

cc @rust-lang/release

[2019-05-20 12:31] steveklabnik commented on #49869
@abonander have you seen this lately? It's been over a year.

[2019-05-20 12:37] rasendubi commented on #58011
This happens with non-associated types, too.

Here is a smaller example:
[code]
[code]

Basically, rustdoc treats all existential types as `()`.

[2019-05-20 12:42] steveklabnik commented on #51798
Did a test ever get added here?

[2019-05-20 12:47] steveklabnik commented on #35093
Triage: not aware of any changes here. This is a pretty abstract bug...

[2019-05-20 12:47] steveklabnik commented on #37251
Triage: not sure if this optimization ever landed or not, though it seems the pre-requisites did.

[2019-05-20 12:48] steveklabnik commented on #27108
Triage: not aware of any changes here

[2019-05-20 12:49] steveklabnik commented on #47909
Triage: above says that it's been fixed, a year ago. Closing!

[2019-05-20 12:49] #47909 closed

[2019-05-20 12:50] steveklabnik commented on #54628
@Pzixel please ask questions on users.rust-lang.org, rather than on closed bugs. Thanks!

[2019-05-20 12:57] Pzixel commented on #54628
I meant this one introduces special case or `0` but it doesn't work if zero is wrapped in a newtype, even standard one. I didn't want to ask suggestion or something, just wanted to clarify that this issue wasn't completely resolved.

But now I see you think it's an inappropriate place to suggest this so I'm going to the urlo. Thanks for clarification.

[2019-05-20 13:01] PunKeel opened #60975 "The dangle function in docs should be marked as "Does not compile""
https://doc.rust-lang.org/book/ch04-02-references-and-borrowing.html

Right under this sentence, the code does not compile - but is not marked as such

![](https://pbs.twimg.com/media/D7Ase2DWkAELxU1.jpg)

[2019-05-20 13:09] steveklabnik commented on #60975
Hi! Thanks for the report; I should have been more clear on twitter. The book's tracker is at https://github.com/rust-lang/book/issues/new, would you mind filing there please? Thanks!

[2019-05-20 13:09] #60975 closed

[2019-05-20 13:30] ishitatsuyuki commented on #54628
IMO asking for clarification in this case is fine, although you probably want to avoid mentioning someone particularly.

The special case for zero is implemented with specialization of `IsZero` private trait, which is implemented for a lot of numeric types but unfortunately not the wrapping types.

https://github.com/rust-lang/rust/blob/372be4f360ce42b1a10126a711189796f8440ab4/src/liballoc/vec.rs#

[2019-05-20 13:42] Pzixel commented on #54628
@ishitatsuyuki great! Gonna create an issue (or even PR) then. Thanks.

[2019-05-20 14:01] smukherjee2016 opened #60976 "Compiler panics after restructuring of project: attempted .def_id() on invalid def: PrimTy(Float(f64))"
Hello,

I was working on my toy project here:
https://github.com/smukherjee2016/sayo_pbr_rs

The project was compiling and running fine at this commit:
https://github.com/smukherjee2016/sayo_pbr_rs/commit/e8f071cb36a434d41c2ea8b863f3378a422e1a97

However, I decided I wanted to move functionality out of ```src/lib.rs``` and into ```src/scene/mod.rs```, so I moved all of it except the ```mod``` decl

[2019-05-20 14:03] alexcrichton commented on #60784
Yes I think it's fine to reopen this as a tracking issue for stability.

[2019-05-20 14:37] Manishearth commented on #60927
Can we mention this in the release blog post so people are warned?