[2017-12-31 11:38] petrochenkov commented on #47090
So the idea is to take an arbitrary path `a::b::c` and attach an `<arg>` to the end of it?
That's indeed not allowed because something like `a::b::c<xxx>` is already a path and after attaching `<arg>` it becomes `a::b::c<xxx><arg>`, which is not a correct path.

For this reason you have to assemble the path manually and something like `gen_impl5` looks like the correct approach.
(Except that `+` i

[2017-12-31 12:01] est31 commented on #47086
Source code for the darwin linker [seems to be available](https://opensource.apple.com/source/cctools/), but I have no idea whether they take patches. Maybe LLVM develpers know more. Most likely, Apple will switch to LLD eventually.

[2017-12-31 12:17] est31 commented on #47086
I wonder what experts on deterministic builds (@infinity0 ) can say about this.

[2017-12-31 12:43] alercah opened #47091 "Bad example in `FnOnce` documentation"
In the documentation for `FnOnce`, there are two examples. The first is

[code]

This is not a `FnOnce` closure, as it never moves out of a variable in a way that would prevent it from calling again.

[2017-12-31 14:23] Moxinilian commented on #46999
Another way I just thought of would be to try to summon emcc.bat without cmd, maybe trying to run it using something similar to C's `system("emcc.bat args");`. Maybe this would allow better handling.

[2017-12-31 15:28] varkor commented on #32311
Just regarding the questions about the current implementation:
1. I would definitely expect `contains` to take a reference — even aside from the issue non-copyable types, this is [what slice::contains](https://doc.rust-lang.org/std/primitive.slice.html#method.contains) does, and we'd expect these to act consistently.
2. Similarly, from a usability standpoint, considering that heterogenous comparis

[2017-12-31 16:17] mcandre commented on #43982
How can NetBSD users inject the `--enable-extended` flag for installing rust via pkgsrc? I'm getting the same exit 101 error with `su root -c "cd /usr/pkgsrc/lang/rust && sudo make install PKG_OPTIONS.python27=-x11"`.

[2017-12-31 16:38] #47073 closed

[2017-12-31 17:39] rkruppe opened #47094 ""Conflicting representation hints" warning doesn't fire if there are multiple #[repr] attrs"
This produces the warning:

[code]

This doesn't:

[code]

[2017-12-31 18:30] vorner commented on #47022
I get the same error, with a different snippet ‒ maybe it can help to cross-compare them and close on the cause.

I didn't manage to get a backtrace from rustc :-(

[code]

Replacing the `flat_map` with `map(...).flatten()` helps (`flatten` from `itertools`).

[2017-12-31 18:36] durka commented on #47091
As a technical point, all closures are `FnOnce` closures, because they may be called at least once. `Fn` implies `FnMut` which implies `FnOnce`. However, closures that modify their environment are *only* `FnMut` and `FnOnce` (not `Fn`) and closures that move out of their environment are *only* `FnOnce`.

[2017-12-31 18:42] alercah commented on #47091
Fair point. But as someone new to the documentation, I feel there's an implication in a few places (including the book, but unfortunately that section is frozen) that any `move` closure is only `FnOnce` and neither `FnMut` or `Fn`, which isn't true.

[2017-12-31 18:44] durka commented on #47091
Yes, it needs to be made more clear that those are totally orthogonal
issues.

On Sun, Dec 31, 2017 at 1:43 PM, Alexis Hunt <notifications@github.com>
wrote:

[2017-12-31 20:05] U007D commented on #29661
I may have run into a couple of bugs with this associated type defaults, as I believe https://play.rust-lang.org/?gist=ffc94a727888539a99ccfe6d9965a217&version=nightly should compile.

It looks like the default is not actually being "applied" in the trait impl.  I assume this is not intended?

Fixing that by explicitly applying (l.31 from working version link, below) runs into a second error, requ

[2017-12-31 20:58] varkor commented on #43061
Reduced test case:
[code]

[2017-12-31 21:56] goodmanjonathan opened #47096 "ICE: match pairs remaining after simplifying irrefutable pattern"
Irrefutable slice patterns with a `binding..` may cause the compiler to ICE.

[code]

I expected to see this happen: the code compiled (however silly this example is)

Instead, this happened:

[code]

## Meta

`rustc --version --verbose`:

rustc 1.24.0-nightly (3f916bd30 2017-12-30)
binary: rustc
commit-hash: 3f916bd3029262e2270dfbafb9ab045927499abd
commit-date: 2017-12-30
host: x86_64-unknown-lin

[2017-12-31 21:57] goodmanjonathan commented on #47096
It also occurs with:

[code]

[2017-12-31 23:21] eddyb commented on #11906
Given that #46896 has been merged now, what's the latest? Was garbage seen in the debugger before, and has that changed?

[2017-12-31 23:55] shepmaster commented on #46535
Closing as duplicate.

[2017-12-31 23:55] #46535 closed

[2018-01-01 04:26] jseyfried opened #47100 "cleanup: remove field `is_import` from `def::Export`"
Remove field `is_import` from `rustc::def::Export`.
The field is only used is `rustdoc` and can be [refactored away](https://github.com/rust-lang/rust/pull/47095/files#r159146038).

[2018-01-01 05:43] ritiek commented on #46776
A smaller reproduce (?):
[code]

[2018-01-01 12:04] sgrif commented on #34303
This issue should remain open until the feature is stable, right?

[2018-01-01 13:53] partim commented on #27726
I am a bit confused about the reason `Formatter::align` is still unstable. Is it because `Alignment` is only available from `core`?

Is there anything I can help with to move this along?

[2018-01-01 14:06] hanna-kruppe opened #47101 "UI tests fail with useless diff when reference file has CR LF line endings"
I created a UI test on a windows machine. It failed with this message:

[code]

Changing the line endings to LF in my editor fixed it.

[2018-01-01 14:10] rkruppe commented on #47101
Note: this would not be an issue if `update-{all-,}references.sh` were, well, not a shell script. Alas, it's not and so I am reduced to copying the expected stderr from the test failure. Admittedly, copying the `build/.../*.stderr` file (as the script does) would also avoid this error, but that's not *easier* than copying from the console output.

[2018-01-01 14:57] RReverser commented on #44006
You are probably right, for js! macro it makes sense as it essentially requires own linking step (at least for release builds, for debug builds it could just dynamically create `new Function` on the JS side with string's pointer as a cache index; then you could import a single FFI bindings to make macro work).

For DOM and such though, I think it makes sense to put them into own crates / packages,

[2018-01-01 17:42] rkruppe opened #47103 "What to do about repr(C, simd)?"
Currently, `repr(C, simd)` warns about "incompatible representation hints", but leaving off the `repr(C)` triggers the FFI lint when the SIMD type is used in FFI.

Note that `#[repr(C)] #[repr(simd)]` does not warn only due to #47094. Most uses of SIMD in FFI this in the Rust source tree use two separate repr attributes, which is why they didn't trigger this warning so far.

There's two ways to re

[2018-01-01 18:18] est31 commented on #44006
Definitely, this belongs into crates. std shouldn't have any additional features than it provides on other platforms as well.

[2018-01-01 18:37] est31 commented on #44006
@Diggsey made a PR implementing their idea. cc'ing everyone subscribed: https://github.com/rust-lang/rust/pull/47102

[2018-01-01 19:04] #47025 closed

[2018-01-01 19:12] alexcrichton commented on #47103
Oh I was just under the impression we want to unconditionally ban simd types from C APIs. AFAIK the ABI is highly dependent on how C and Rust are compiled (target features and whatnot) and it's very tricky to get them to match up.

[2018-01-01 19:19] rkruppe commented on #47103
Passing vectors as immediates has all these problems and therefore is feature gates separately (`feature(simd_ffi)`) but if SIMD types are not considered C-compatible, even passing pointers to them will trigger the lint, which I imagine would be very annoying.

[2018-01-01 20:14] mark-i-m opened #47109 "DIFlags overlap?"
https://github.com/rust-lang/rust/blob/5deba220d4c42b5313d7e71731ce5e8698866684/src/librustc_llvm/ffi.rs#L479-L489

https://github.com/rust-lang/rust/blob/5deba220d4c42b5313d7e71731ce5e8698866684/src/rustllvm/RustWrapper.cpp#L439-L447

Is it intentional that `FlagPrivate | FlagProtected == FlagPublic`? It doesn't look like these constants are actually used anywhere, but I think this is a bug.

Sha

[2018-01-01 20:21] mark-i-m commented on #47109
ping @shepmaster @michaelwoerister?

[2018-01-01 20:38] shepmaster commented on #47109
Yes, it was intentional to start out [matching LLVM's values](https://github.com/llvm-mirror/llvm/blob/4604874612fa292ab4c49f96aedefdf8be1ff27e/include/llvm/IR/DebugInfoFlags.def#L19-L24 ):

[code]

As the comment mentions, it *shouldn't* matter what actual values these have so long as they get correctly translated to LLVM's values, but keeping them the same allows easier comparisons and allows th

[2018-01-01 20:39] shepmaster commented on #47109
Think of these bits as making up a 2-bit enum; the other values are bit flags.

[2018-01-01 20:43] mark-i-m commented on #47109
Got it! Thanks 😄

[2018-01-01 20:43] #47109 closed

[2018-01-01 21:14] albizures opened #47112 "--emit=dep-info stdout support"
I'm working on the integration of wasm and rust into [parcel.js](https://github.com/parcel-bundler/parcel), and we want to use `--emit=dep-info` to watch the dependencies, but we are wondering if it's possible to send the output to the stdout instead of creating a file.

And btw is it doable to have a json output? this could help a bit the parsing of the dependencies from Node.

you can see our pr

[2018-01-01 21:47] #46693 closed

[2018-01-01 23:11] Kixunil commented on #27730
@RalfJung creating raw pointer with invalid value isn't UB. Did you mean something else?

[2018-01-02 00:04] Addisonbean opened #47114 "String capacity is unnecessarily modified by File::read_to_string"
When using `File::read_to_string` or `BufReader::read_to_string`, the capacity of the string being written to will change, even if no change in capacity was necessary. For example:

[code]

Assuming there is a file named `test.txt` containing the text `123` (no newline at the end), I would expect to this printed:

[code]

However, this is what actually happens:

[code]

Here's the version of `rust

[2018-01-02 00:12] sdroege opened #47115 "Tracking issue for chunks_exact/_mut; slice chunks with exact size"
This is inspired by ndarray and generally seems to allow llvm to remove more bounds checks in the code using the iterator (because the slices will always be exactly the requested size), and doesn't require the caller to add additional checks.

A PR adding these for further discussion will come in a bit.

- Implemented in #47126

Open questions:
- [x] Should the new iterators panic if the slice is

[2018-01-02 00:32] nox commented on #27730
They meant that `0xFFFF` cannot be used for the `None` value in `Option<*const T>` because `Some(0xFFFF as *const _)` is a totally legit Rust value.

[2018-01-02 00:43] RReverser commented on #27730
@nox Well, yes, that would be breaking change in exchange of allowing `Some(NULL)` to become a valid value. Currently it's not, even though NULL is very popular and much more likely to occur as a real pointer through FFI, so each `slice::from_raw_parts`, `str::from_raw_parts` etc. call currently needs to be guarded with `if (!....is_null()) ...` because officially neither of these APIs accept `NUL

[2018-01-02 03:05] clarcharr commented on #47114
This appears to be due to the `read_to_end` function which is internally used for both `Read::read_to_string` and `Read::read_to_end`.

[2018-01-02 03:09] frewsxcv commented on #47065
thanks for pointing this out! i just opened a pull request https://github.com/rust-lang/rust/pull/47121

[2018-01-02 03:39] kubo opened #47123 "Wrong optimization code calling a C function."
I made a program which checks the result of an external C function.
It works fine for non-optimized code. However it doesn't check the result
and executes code as if the C function returns non-zero when it is optimized.

I made a small program to reproduce it.
It prints "Failure" when it is optimized and the rust version is 1.20 or later.
It works fine with rust 1.18 and 1.19.

**foo.c:**
[code]

[2018-01-02 05:11] retep998 commented on #47123
`let param1: Param = Default::default();`
`let vec = unsafe { slice::from_raw_parts(param1.val as *const u8, param1.val_len as usize) };`
Because you never assign a non-null value to `param1.val`, this means that you are effectively dereferencing a null pointer. LLVM correctly interprets this as impossible and assumes that the branch can never be hit and therefore it always hits the failure branch

[2018-01-02 05:11] #47123 closed

[2018-01-02 05:47] estebank commented on #22488
In order to implement this there's a bit of roadblock at the moment. The verification if a struct has a given method is done in `rustc_typeck`, while this error is being emitted in `src/librustc_resolve/lib.rs`. I believe the error is being bubbled up, but it would have to be delayed on its entirety to the type check step in order to verify wether `Box::new` exists. :-/

You _can_ look for traits

[2018-01-02 06:24] mikeyhew commented on #27779
A potential fix would be to add `size` and `align` parameters to `make_place`, and change the return type of `Place::pointer` to `*mut ()`. The compiler can then create a fat pointer using this as the data pointer.

[2018-01-02 07:43] dtolnay commented on #38356
I am trying to get `Span::def_site()` to resolve things against what is in scope in my procedural macro. Am I misunderstanding how this is supposed to work?

Almost the same code works if I use `Span::call_site()` and have `MySend` defined in the main.rs, which is as I would expect. Haven't been able to get it working with `def_site()` though.

[code]

[code]

[code]

Tracking this on the Syn side

[2018-01-02 07:45] kubo commented on #47123
@retep998 Thank you!
I understand what you wrote. I think that rustc should print a warning instead of slightly ignoring the true branch.

I have a question.
Some C functions set a pair of null and zero to an output value when the value is empty.
In this case, if I change the code as follows and a null value is set to `param2.val` in C, is the behavior of `slice::from_raw_parts()` undefined?
[code

[2018-01-02 07:47] sdroege commented on #47115
Example can be found [here](https://godbolt.org/#z:OYLghAFBqd5QCxAYwPYBMCmBRdBLAF1QCcAaPECAKxAEZSAbAQwDtRiBXAZwNK9Q7FkmEAHJumANQ90IFAFsADgFIAzACFlABgCCE6QVkh5meWs27tOtCx6SASgH0AmiEkdVAJklqAIpNoATgBWEPNJAHoIyS0AOk9AwMkAKkkANmDg1TSrGzsAcRc3D28/SVUADgAWAHYtcKiY2OCKmpT0zOzc1FsCSXUi9y8fVX8a2toG6LjaWir2jKycy11FDgAjSQAzFkkAd0IER2QEDhYAay4IK0lbyTwWR3QmAiY3ZU8c4PUOCuVg3ykG53AQEJ4vN4%2BT7yDh9f4/P4AoG6O73R48

[2018-01-02 07:52] retep998 commented on #47123
If C ends up assigning a null value to `param2.val` then it is *still* undefined behavior, however LLVM likely won't notice and your code may end up failing in a different way. Undefined behavior is undefined in how it fails, or whether it even causes your code to fail at all. Sometimes it leads to silent data corruption or massive security breaches.

In general it's a really hard problem to print

[2018-01-02 07:58] retep998 commented on #47103
Doesn't the alignment of SIMD types depend on which target features are enabled? If so, isn't it bad when a pointer to a SIMD type is passed around when it was allocated with a lower alignment than expected by the receiving end?

[2018-01-02 08:35] SimonSapin commented on #27730
@RReverser I’m not sure if you already know that and are only using a writing shorthand, but `Some(ptr::null())` is a valid value of `Option<*const T>` today, and that won’t change. NULL is only forbidden for types that contain `NonZero<T>`, `&T` or `&mut T`. And for `&T`/`&mut T` NULL not really a special case: callers of for example `slice::from_raw_parts` need to ensure that the pointer points

[2018-01-02 08:50] jseyfried commented on #38356
@dtolnay
The issue here is that `MySend` is imported in phase 0 (i.e. for the host architecture when cross compiling), so it isn't available in phase 1 (i.e. when compiling for the target architecture).

The solution here is to allow proc-macro crates to have phase 1 (target architecture) dependencies so that we can import phase 1 items into scope.

Today, a workaround is to return:
[code]
You cou

[2018-01-02 09:47] kubo commented on #47123
Thank you!
I should checked [API document about std::slice::from_raw_parts](https://doc.rust-lang.org/std/slice/fn.from_raw_parts.html) before I opened this issue.
It is documented as `p must be non-null, even for zero-length slices`.
I had thought that a null pointer could be accepted when the length is zero.

[2018-01-02 10:12] rkruppe commented on #47103
On the Rust side at least, it appears vectors are [always naturally aligned](https://play.rust-lang.org/?gist=baa92ca61d50331437deff148cd1a359&version=nightly) (rounded up to the next power of two when needed? not that it matters for types you would see in FFI). The same [seems to be true in C](https://godbolt.org/g/fxrPyJ).

And now that I've thought about it, I can't really see how it could be a

[2018-01-02 10:30] dotdash commented on #11906
Given this program:

[code]

If you break on `foo`, in stable you'd see `a` as an argument with the correct data and `a`, `b` and `c` as uninitialized locals. Stepping over machine instructions (using `ni`) you see `a` and `b` getting initialized, but `c` falls out of scope at the same time as it gets initialized, so you never get to see it with its correct value.

With the current nightly, `a` on

[2018-01-02 11:15] RalfJung commented on #27730
This isn't about probabilities. "Likely" and "unlikely" do not matter, only "possible" and "impossible" do. Raw pointers represent C pointers and hence every value is possible.

`slice::from_raw_parts` requires much more than non-NULL-ness. It requires the pointer to also be aligned and pointing to a valid allocation and whatever it points to must not be mutated for the duration of the lifetime. T

[2018-01-02 11:21] #47094 closed

[2018-01-02 11:52] VictorKoenders commented on #46999
Assuming emcc.bat and em++.bat are working in a similar matter, and (this issue)[https://github.com/kripken/emscripten/issues/4438#issuecomment-233465910], we can simply write all the command parameters to a file, and then pass that file to the emcc.bat

[2018-01-02 12:01] Moxinilian commented on #46999
Honestly, I believe doing this approach by default would be the best solution.
The performance overhead is negligible, and this would cover all future problems.

[2018-01-02 12:56] nagisa commented on #44109
Currently the unit structs created using this attribute will still put an item into value namespace, which, when used, results in a very non-obvious error message:

[code]

[code]

I feel that the item should not be created in the value namespace at all, or at least a nicer error should be presented.

[2018-01-02 13:18] eddyb commented on #11906
FWIW I would expect debuggers to show `foo(1, (2, 3))` in the backtrace, i.e. two arguments, the second of which is unnamed - is that not the case? Also, is lldb different?

[2018-01-02 13:26] fschutt commented on #46998
Now that #47052 is merged, I'd think I should work on the help and other error messages.

For missing libraries, the linker arguments are largely useless, at least for gcc, not sure about MSVC. Basically, with gcc, it's often enough to see the message:

[code]

.. to tell you that a certain library is not installed. Which could be a bit more nicely formatted like `could not find library "something

[2018-01-02 13:35] retep998 commented on #46998
Both `link.exe` and `gcc` have parameters to add paths to search for libraries: `/LIBPATH:C:\foo\bar` for `link.exe` and `-L/foo/bar` for `gcc`. However they also both search additional paths based on environment variables. This means that it is very difficult for `rustc` to know all the directories that the linker is searching for a given library. Also `PATH` has absolutely no bearing when it com

[2018-01-02 13:41] dotdash commented on #11906
lldb seems to handle anonymous arguments better than gdb.

GDB:
[code]

LLDB:
[code]

But as with gdb, `b` and `c` only show up once you stepped to the call to `bar()`.

[2018-01-02 13:50] fschutt commented on #46998
@retep998 Oh, ok, sorry. But what (exact) environment variables do you mean - do you have any references or sources?

GCC has a `-print-search-dirs` option, which should, in theory at least, print all the folder where it searched for libraries.

[2018-01-02 13:51] eddyb commented on #11906
Should we give the anonymous arguments a non-empty name so they show up better?

[2018-01-02 14:00] rphmeier opened #47128 "unused_mut lint improvement: warn when variable only copied into closure"
Minimal example of the lint failure to fire:
[code]

`foo` unconditionally returns false, but the top-level binding of `res` doesn't get an `unused_mut` warning.

[2018-01-02 14:05] dotdash commented on #11906
Maybe we could simply go with `_` to avoid name clashes? Do we need to mark them as artificial as well?

[2018-01-02 14:06] retep998 commented on #46998
@fschutt For example `link.exe` will look in `LIB` for additional library search directories. It will also add arbitrary parameters specified in `LINK` and `_LINK_` which could specify additional library search directories among other parameters. https://docs.microsoft.com/en-us/cpp/build/reference/link-environment-variables

I don't know of any flag to ask `link.exe` to print out all the director

[2018-01-02 14:45] psumbera commented on #46679
Can you please suggest how to implement this?

I can confirm that when modifying cabi_sparc64.rs to contain 256 my above test examples passes as expected (though Firefox still wouldn't build).

[2018-01-02 15:21] spacejam opened #47129 "align_of u128 is 8"
uname: `x86_64 GNU/Linux`

Causes things like [`CMPXCHG16B`](http://www.felixcloutier.com/x86/CMPXCHG8B:CMPXCHG16B.html) to segfault.

https://play.rust-lang.org/?gist=2c9d71615fe1839d3368b0a4364af9cd&version=nightly

P.S. @aweinstock314 it works _sometimes_ :D

[2018-01-02 15:25] spacejam commented on #35118
Should alignment be 16 [rather than 8](https://github.com/rust-lang/rust/issues/47129)?

[2018-01-02 16:23] cristicbz opened #47131 "Unused warning for type alias doesn't take into account inherent impls."
The following code ([playground](https://play.rust-lang.org/?gist=13d74fd3c77b3d2479edc7f2b509b9ef&version=stable)):
[code]

results in the warning:

[code]

This is incorrect, since the `Foo` impl uses it (and it can be unwieldy to write it out otherwise).

[2018-01-02 16:34] dtolnay commented on #38356
Thanks @jseyfried! That works. Some followup questions:

- In the code in my previous comment, if I change `impl_mysend_for` to generate an impl for `Send` instead of `MySend` then everything compiles. What `Send` is this resolving to and why does it not hit the phase 0 vs phase 1 distinction? Is this working intentionally or by accident?

- What else is in scope that can be used by my `def_site()

[2018-01-02 16:40] rkruppe commented on #47129
For comparison, `u64` is also not naturally aligned on (most? some?) 32 bit platforms. I don't see a strong reason to increase the alignment for {i,u}128 if the only use cases for 16 byte alignment are obscure instructions accessed via intrinsics and inline assembly. Niche use cases that need higher alignment can and should use `repr(align(N))`.

[2018-01-02 16:41] RReverser commented on #27730
@SimonSapin Yes, thanks, I was using `NULL` shorthand for reference; should've clarified that.

The thing special about null is that zero-length slices quite commonly don't have such requirement in C libraries, and Rust doesn't read memory from zero-length slices either, but because of that requirement one needs to wrap each `::from_raw_parts` call into `if len != 0 { ...::from_raw_parts(ptr, len)

[2018-01-02 16:48] cramertj commented on #46936
I feel we ought to do some kind of crater run on this change at least, so this might be worth reopening. `ring` has quite a few transitive dependencies, and I'm worried about breaking all of the ones not using the latest version.

cc @jseyfried, with whom I was discussing this in another thread.

[2018-01-02 17:11] robz opened #47133 "Incorrect warning about unused const"
In the following program:

[code]

I get a warning about `SIZE` being unused:

[code]

It seems to me that this warning isn't correct, since `SIZE` is used in the signature of `_f`

[2018-01-02 17:13] estebank commented on #46998
@retep998 the advantage we have is that is is `rustc` that is calling the linker, so we can assure the order of the arguments/flags to be correct.

This seems like the best possible option at the moment. I think that you should tackle this one step at a time, improving what can be improved, even if that means keeping the current output when using `link.exe`.

[2018-01-02 17:19] dtolnay commented on #38356
For the extern crates, I assume the crates would need to be made explicitly available to phase 1 by the proc macro.

[code]

[2018-01-02 17:30] eddyb commented on #47129
cc @alexcrichton @nagisa Can we just close this? As per my previous comment, it's not a bug IMO.

[2018-01-02 17:37] rkruppe commented on #47129
Under-aligned loads and stores, at least, must be supported (e.g., for `repr(packed)`). But otherwise you're completely right.

[2018-01-02 17:48] eddyb commented on #47129
@rkruppe I mean changing the alignment in the data layout, in order to still use LLVM's `i128`.

[2018-01-02 18:05] Yoric commented on #46589
needinfp @pnkfelix , @nikomatsakis ?

[2018-01-02 18:12] ExpHP commented on #47133
This is because `_f` is not used; the `unused` lint applies transitively.

The most I've managed to dig up thus far on the reasoning behind this is [this ancient post](https://github.com/rust-lang/rust/issues/18618#issuecomment-61709955).

[2018-01-02 18:35] #46604 closed

[2018-01-02 19:09] robz commented on #47133
Interesting, thanks for the background! I can see how the behavior here is consistent with the reasoning there, but I don't think the decision on that was the right one. Warnings like these have to be ignored, which reduces the signal/noise ratio of warnings in general.

[2018-01-02 19:20] estebank commented on #22692
@sourcefrog feel free to do so and to reach out to anyone in the team! As soon as you have some code written, make an early PR so that we can take a look at it and provide feedback on the code itself.

Also, you should probably be looking at `librustc_resolve/lib.rs:smart_resolve_path_fragment`, which is where the suggestion is being provided. The only problem I see is that because this happens be

[2018-01-02 19:24] jseyfried commented on #38356
@dtolnay

Good question. Right now, the prelude is in scope at the definition site (unless the proc-macro crate is `#![no_implicit_prelude]`) and this is an accident (in some sense) due to the phase 0 vs phase 1 distinction as you point out.

However, for ergonomics I think that phase 1 should implicitly contain `std` at the proc-macro root (so that you can always `quote!(use std::...);`) and the

[2018-01-02 19:56] estebank commented on #45983
[The current output is still sub-par](https://play.rust-lang.org/?gist=0ae3b058ccc7d992ebbaaec864b9de47&version=nightly), but it is slightly clearer on what is going on:

[code]

---

I now think that the output should point at the closure, the outside binding being affected and its declaration:

[code]

[2018-01-02 19:56] kpcyrd opened #47135 "Reproducible builds regression in nightly"
hello,

I'm running a CI system with reprotest to ensure the binaries built from the project are reproducible and verifiable. This system started to fail between 2017-12-19 and 2017-12-26:

Build 193, 2017-12-19T00:56:25Z, e6446ad65d193e0155ac02d58f338f9136182267, https://travis-ci.org/kpcyrd/sniffglue/jobs/318377138
Build 196, 2017-12-26T01:20:33Z, e6446ad65d193e0155ac02d58f338f9136182267, https:

[2018-01-02 20:03] Florob commented on #29722
I've posted a pre-RFC with an alternative syntax proposal to the internals forum: <https://internals.rust-lang.org/t/pre-rfc-inline-assembly/6443>. Feedback welcome.

[2018-01-02 20:41] mikeyhew commented on #32836
Allowing `?Sized` types in unions – if only for unions of a single type – would make it easy to implement https://github.com/rust-lang/rust/issues/47034:

[code]

[2018-01-02 20:45] areilly commented on #40830
FWIW this bug also hits "cargo doc --open" under the same circumstances.  The backtrace shows that this is just running rustdoc, so it's the same thing, just later versions.  I'm up to "guessing_game" in Rust Lang second edition, so it was a bit of a shock to hit breakage so soon.

Yes, /User/andrew/Documents is a symlink to /Volumes/andrew, which is an SMB2 (or 3?) file share on Samba 4.7.4 runni

[2018-01-02 20:50] nagisa commented on #47129
I feel like we should close, yeah. The alignment here is dictated by the platform, not our whim, although it is in our power to do at least stack `alloca`s with increased alignment, but I feel like that should be left up to user.

[2018-01-02 20:50] #47129 closed

[2018-01-02 20:59] QuietMisdreavus commented on #46963
We talked about this a little at the docs team meeting today. Overall, we think it could be a good thing, but we'd like to see an initial implementation before casting final judgement. If you're still interested, feel free to sketch out something.

[2018-01-02 21:02] alercah opened #47136 "Diagnostics for conversions erroneously say that 'as' only works between primitive types."
See https://play.rust-lang.org/?gist=7194dac428b4355e3f2872e9c0206800&version=stable

The note says "an `as` expression can only be used to convert between primitive types. Consider using the `From` trait", but as show by the expression `Baz as i32`, this is not true.

[2018-01-02 21:03] mandober opened #47137 "struct derefrences and prints fn pointer"
I'm not sure about the title, but here's what happens on https://play.rust-lang.org

[code]

[2018-01-02 21:05] eddyb commented on #32836
@mikeyhew You only really need to require that at most one type can be unsized.

[2018-01-02 21:07] bluss commented on #47115
I don't want to derail your discussion too much. Const generics and value-level chunks both have their uses. I'm reminded of this existing implementation of the "const" kind of chunking, in this case in an iterator that actually allows access to the uneven tail at the end: [BlockedIter](https://docs.rs/odds/0.3.1/odds/slice/blocked/struct.BlockedIter.html). Note that a `Block<Item=T>` is an array

[2018-01-02 21:38] sdroege commented on #47115
Interesting, thanks for mentioning that. For my use case that would probably work more or less the same way, but it's slightly different indeed.

[2018-01-02 21:51] bluss commented on #47115
BlockedIter was developed while looking at exactly the hand off between the blocks and the elementwise tail; the idea was to avoid some of the loss that otherwise shows up in code that converts between slices and slice iterators. In this case it's the same pointer being bumped through the whole iteration.

[2018-01-02 22:07] durka commented on #47137
This is because annotating the type causes a coercion from the concrete function reference type (not sure of the right term but it's zero-size because the type is tied to the specific function) to the function pointer type (which is a memory address).

This has nothing to do with structs, by the way. You're using the struct constructor as a function, which works for tuple structs. The same thing w

[2018-01-02 22:08] bluss commented on #47115
The chunks iterators are a good canditate for zip specialization (TrustedRandomAccess trait)

[2018-01-02 22:15] stjepang opened #47138 "Odd sequence of BTreeSet impls and iter doesn't require T: Ord"
From the docs for [`BTreeSet`](https://doc.rust-lang.org/std/collections/struct.BTreeSet.html):

![](https://screenshots.firefoxusercontent.com/images/b6015336-d208-4fb2-a5b1-063cad8e4d04.png)

We see four impls, but there really should be just one. It's also interesting that `iter` doesn't require `T: Ord`. These impls are much different from the ones in [`BTreeMap`](https://doc.rust-lang.org/std

[2018-01-02 22:16] sdroege commented on #47115
True. I'll add that in a bit, as a separate PR for the existing chunked iterators and as a separate commit for the new ones.

[2018-01-02 22:44] bluss commented on #47114
@Addisonbean It's using the capacity of the String/Vec so that it can read directly into the String/Vec instead of having to buffer and copy the data one extra time. I think it doesn't do anything extra for a `BufRead`, that's indeed something it could learn to do .. but for an unbuffered `File`, IMO it's precisely the intention that the String or Vec you lend is going to be used as the buffer.

[2018-01-02 22:46] sgrif opened #47139 "Diesel's build is failing on beta and nightly"
There appears to be some regression in trait resolution between beta and nightly. Our builds are failing on nightly with this error: https://travis-ci.org/diesel-rs/diesel/jobs/324077372#L1081

I haven't yet looked into what the exact cause is, but the same code is compiling successfully on stable and beta.

[2018-01-02 22:59] bfops opened #47140 "Changing a file in the middle of a build causes rustc to not pick up latest changes"
If I change a file partway through a build then the final executable doesn't include that change. However, when I run `cargo build` again it thinks there have been no changes since the last build.

To have the build incorporate the most recent changes, I need to change the file again, build, change it back, and rebuild.

[2018-01-02 23:03] vitalyd commented on #47138
It’s a breaking change because existing generic code that takes a `BTreeSet<T>` and calls `iter()` may not be specifying the `T: Ord` bound.  With the proposed change, they would have to (even if they don’t otherwise care about the ordering).

[2018-01-02 23:09] stjepang commented on #47138
You're right -- that didn't occur to me.

In that case, perhaps we should just group all the methods that do require `T: Ord` in a single `impl` block to make the generated docs cleaner.

[2018-01-02 23:15] bluss commented on #47138
Yes please group the methods into fewer impls. Whatever presents it better in docs, if the API is equivalent either way.

[2018-01-02 23:18] vitalyd commented on #47138
Yeah that sounds reasonable.  It’d be nice if rustdoc could do this grouping on the UI side so the code could be organized any which way.

[2018-01-02 23:23] bfops opened #47143 "No warning for obsolete allocator syntax"
The syntax for changing allocators (e.g. opting out of jemalloc) changed in a July nightly (see [#43277](https://github.com/rust-lang/rust/issues/43277) and [this discussion thread](https://users.rust-lang.org/t/upgrading-compiler-causes-application-to-hang-or-segfault-in-vec-push/14684). Users of the old syntax don't get any warning or build breakage, they just get silently changed back to the de

[2018-01-02 23:25] vitalyd commented on #47137
I believe it’s called an "fn item".

[2018-01-02 23:27] sdroege commented on #47115
I forgot to add some benchmark results earlier. This is with the code from https://github.com/rust-lang/rust/issues/47115#issuecomment-354715511 and running on a 1920*1080*4 byte slice. Basically 2.46x as fast.

[code]

[2018-01-02 23:27] mandober commented on #47137
I see... thank you! The type of `b`is a function item, but it can't be annotated as such; when `b` is annotated as a function pointer it coerces to one. (now off to see the actual functional difference between the two)

[2018-01-02 23:55] dcarosone commented on #47040
With rustc 1.24.0-nightly (b65f0bedd 2018-01-01) I no longer get the segfault either

[2018-01-03 02:40] ritiek commented on #46826
@omakk If you're busy at the moment, do you mind if I take on this issue?

[2018-01-03 04:30] scottmcm commented on #47138
This is actually convenient for reducing typing if you need to loop through the set but don't care about changing it -- display it, sum it, whatever -- since you can just have `<T>` on your function,

[2018-01-03 05:05] alexcrichton commented on #47135
Thanks for the report! Do you have a perhaps more isolated reproduction of this? A naive attempt to reproduce this locally (cargo build twice and see what changes) unfortunately wasn't able to reproduce this.

[2018-01-03 05:18] durka commented on #47137
Start here: [function item types](https://doc.rust-lang.org/stable/reference/types.html#function-item-types), [function pointer types](https://doc.rust-lang.org/stable/reference/types.html#function-pointer-types).

This issue can be closed.

[2018-01-03 05:56] #47137 closed

[2018-01-03 06:24] #42106 closed

[2018-01-03 06:55] dtolnay commented on #38356
In my code I found that I seem to be using spans for two purposes: to control name resolution, and to control error messages. Are these two inseparably linked, or would it be possible to make a span that mixes the name resolution aspect of one span with the line/col error message locations of a different span? I expect this to be a common need.

To be more specific, I have a trait brought into sco

[2018-01-03 07:10] dtolnay opened #47148 "Never getting None from proc_macro::Span::join"
This doesn't look right -- both sides of the comparison use `self.0.lo()`.

https://github.com/rust-lang/rust/blob/0f4ebf9f0a3196420e25cf1558b49ea3f38643c4/src/libproc_macro/lib.rs#L248-L252

Mentioning @abonander, mentioning #38356

[2018-01-03 08:19] hsivonen commented on #46371
It seems that stable is 1.22.1 and beta is 1.24.0-beta.1. Those both work. Nightly works, too.

What should I tell rustup to test the latest 1.23?

[2018-01-03 09:23] juleskers commented on #47143
As I've raised in the thread linked by bfops, I believe we have a documentation problem here.
Usually when existing API's are deprecated (even unstable ones), we warn on the old version, for easier migration.

[2018-01-03 09:41] oli-obk commented on #47133
Maybe an unused lint should have a note pointing to the "use site" in order to reduce said confusion

[2018-01-03 09:47] SimonSapin commented on #38356
@dtolnay That’s an excellent point,  thanks.

I think that the proper way to fix https://github.com/rust-lang/rust/issues/46489 might be to make it so that the generated `#[derive(…)]` tokens have name-resolution-spans in the same scope as the type definition, and error-messages-spans at the `quote! {}` macro invocation that created them.

[2018-01-03 09:51] michaelwoerister commented on #46371
Good question. @alexcrichton would know best, I guess?

[2018-01-03 10:01] michaelwoerister commented on #47066
I think this problem arises due to our handling of invalid spans: Invalid spans (e.g. with `lo > hi`) cannot be properly represented in incr. comp. cache, so we map them to DUMMY_SP during serialization there. We don't do exactly the same for crate metadata. There we save them as they are but map them to DUMMY_SP during *deserialization*. As far as the compiler is concerned, there is no difference

[2018-01-03 10:30] bstrie commented on #43517
@eddyb is the PR that fixed this intended to be a permanent solution, or is it just a workaround? IOW, should we open a new bug to track reevaluating this fix when LLVM 30188 is resolved?

[2018-01-03 11:08] infinity0 commented on #47135
If you run `reprotest --auto-build` it will hopefully tell you which variation (e.g. time / timezone / fileordering) is causing the non-determinism.

Can we get a longer listing of the `readelf --wide --symbols {}` section? From what you pasted it looks like some table is getting re-ordered.

tag #34902

[2018-01-03 11:44] eddyb commented on #43517
@bstrie Hmmm, @arielb1 mentioned this bug, but you're right, this is older so me "fixing it" is probably more coincidental than anything else.

[2018-01-03 12:23] 6A opened #47153 "Compiler panic related cause by NLLs"
When compiling a project with `#[feature(nll)]` enabled, `rustc` panics because of a failed assertion.

My project has many errors so I can't determine exactly what code is causing a problem; I'll update when I'll know more.

## Backtrace
[code]

## Version
[code]

[2018-01-03 12:24] petrochenkov commented on #47066
It's strange that spans with `lo > hi` even exist because they are eliminated in `Span::new` (https://github.com/rust-lang/rust/blob/b8934399a85b67213f2593abb04a7e9be42df675/src/libsyntax_pos/span_encoding.rs#L39-L42).
You have to work with `SpanData` exclusively without ever going through `Span`, but this never happens in rustc as far as I can see.

[2018-01-03 12:28] michaelwoerister commented on #47066
From what I can tell, these invalid spans originate mostly (or even exclusively) from macro expansion. Another case of invalid span is when `lo` points to a different `FileMap` than `hi`.

[2018-01-03 12:28] petrochenkov commented on #47066
Oh wait, looks like decoder doesn't work with spans, but with raw byte positions from codemap

[2018-01-03 12:56] RReverser commented on #15747
I'd say this doesn't have to force non-zero-size either, only `repr` should. Any discriminant can be inlined into usages just like `0` one.

[2018-01-03 13:00] #41974 closed

[2018-01-03 13:00] #42468 closed

[2018-01-03 13:26] ExpHP commented on #47133
I very much agree with @robz's sentiment. IMO, there are two use cases that an "unused" lint can be optimized for:

* The case where the correct resolution is to **outright delete** the code. This is the existing lint, though I'd rather call it a lint on **unnecessary code** rather than "unused" code. It indicates everything that is unnecessary all at once so that it can all be torn out in one fel

[2018-01-03 13:36] ExpHP commented on #47133
Strawman idea:

[code]

[2018-01-03 13:39] michaelwoerister opened #47154 "Performance regression from seemingly harmless changeset"
https://github.com/rust-lang/rust/pull/46278 seems to have caused a noticeable performance regression:
http://perf.rust-lang.org/compare.html?start=d5f2745e7ccd247da50f0cb18318ac477e5bccbf&end=5deba220d4c42b5313d7e71731ce5e8698866684&stat=wall-time

It updates a few dependencies (e.g. flate2). Maybe they've become slower?

Anybody know what else this could be about, @rust-lang/compiler?

[2018-01-03 13:43] est31 commented on #35560
Still happens, just ran into this today. Braces can be used as a workaround.

[code]

cc @jseyfried @nrc

[2018-01-03 14:05] oli-obk commented on #47133
We could collect all unused things in a graph and report it starting with the items that have no incoming edges ( truly unused)

That way the important things show up first

[2018-01-03 14:11] MaloJaffre commented on #42866
Compiler docs can no longer be broken because of #46278.
I think this issue can be closed.

[2018-01-03 14:32] alexcrichton commented on #47154
My money would be on the update to log, it may be the case that 0.3.9 is slower than 0.4.0 because of the shims it introduces (just a hypothesis though). It should be very easy to convert to 0.4.0 though, just bumping cargo.toml requirements throughout the compiler

[2018-01-03 14:57] MaloJaffre commented on #47154
I am currently trying to fix this regression.

[2018-01-03 15:07] alexcrichton commented on #46371
There's info on how to test it in the [prerelease announcement](https://internals.rust-lang.org/t/rust-1-23-0-prerelease-testing/6444), lemme know if it doesn't work though!

[2018-01-03 15:27] #42866 closed

[2018-01-03 15:40] luser commented on #47086
Hm. I wonder why we haven't noticed this for Firefox builds? Maybe the version of the linker we're using has a patch to work around this? We're using https://github.com/tpoechtrager/cctools-port for our builds.

[2018-01-03 15:40] wesleywiser commented on #45875
@michaelwoerister I'm getting test failures from the incremental tests with my changes. From what I can tell, the new encode functions are never being called during the tests, only the decode functions are. Since the encode functions aren't being called, the decode is failing since the serialized format has changed. Is there additional test data somewhere I need to update or am I missing something

[2018-01-03 15:42] alexcrichton commented on #47086
@luser that is indeed surprising! The source code there [also slurps in the mtime](https://github.com/tpoechtrager/cctools-port/blob/c1cc75893ed1978174fdcd1b898f81e6535e82d3/cctools/ld64/src/ld/OutputFile.cpp#L5354-L5367), but that may be getting postprocessed somewhere else perhaps.

[2018-01-03 15:54] #46876 closed

[2018-01-03 16:19] hsivonen commented on #46371
The 1.23.0 release candidate works.

Thank you!

[2018-01-03 16:19] #46371 closed

[2018-01-03 16:53] raphaelcohn opened #47159 "Regression: issue #43941 (pointer methods) causes code in nvml crate to no longer compile"
In this crate, there is an extension trait:-

[code]

This is then impl'd for an existing pointer:-

[code]

Compiling this produces:-

[code]

This is wrong on several levels. Firstly, adding a new feature to the std lib broke existing code. Secondly, the error message is decidedly incorrect. I'm actually in favour of the new pointer methods, so I'm happy to fix the code in this crate going forwa

[2018-01-03 18:27] nerd2 opened #47163 "Some debuginfo tests are not running"
I noticed when adding a debuginfo test that nothing I did caused the test to fail. Tracing back this seems to have been caused by 3e6c83d which broke parsing of the command/check lines, leaving all tests passing without any checking.

PR #47155 runs them again and ignores the failing ones

[2018-01-03 18:28] nerd2 commented on #47163
Happy to have this assigned to me to work through the failing low hanging fruit tests

[2018-01-03 18:34] luser commented on #47086
We discussed this on IRC, and I suspect the reason is that nobody has actually tried to do unstripped reproducible Firefox builds for macOS (although I'm not 100% sure). The info in question are STABS entries used by dsymutil to link the debug info from the object files into the dSYM.

This isn't critical for sccache currently, since it doesn't cache linker outputs.

[2018-01-03 18:41] nikomatsakis commented on #47153
Can you give any sort of link to code that reproduces the problem?

[2018-01-03 18:43] nikomatsakis commented on #47140
cc @alexcrichton

[2018-01-03 18:43] nikomatsakis commented on #47140
This is probably not, strictly speaking, a compiler bug, but rather a cargo bug?

[2018-01-03 18:44] nikomatsakis commented on #47140
(FWIW, I've also observed this behavior.)

[2018-01-03 18:45] nikomatsakis commented on #47101
I've been wanting to rewrite the `update-references.sh` setup into something that is in pure Rust (or at least generally improve that workflow).

[2018-01-03 18:46] nikomatsakis commented on #47062
I'm tagging this as a regression (it seems to be?)

[2018-01-03 18:48] alexcrichton commented on #47140
I believe this is probably https://github.com/rust-lang/cargo/issues/2426, so closing in favor of that.

[2018-01-03 18:48] #47140 closed

[2018-01-03 18:48] eddyb commented on #47159
I don't think anyone expected *methods* on raw pointers - they're almost useless in general.
That is, you *always* have to wrap them to write any kind of safe code involving data behind them (and sometimes even `unsafe` code needs wrapping to avoid even worse misuse).

OTOH, this should've been caught in the process, I wonder if it's nightly-only and we haven't ran crater for this release yet (but

[2018-01-03 18:49] nikomatsakis commented on #47022
I've also observed this error =)

This is a [self-contained example](https://play.rust-lang.org/?gist=7660df2f083c27b7e32fc1f7abd8cb20&version=nightly) (based on @vorner's snippet) the seems to reproduce the problem:

[code]

[2018-01-03 18:50] nikomatsakis commented on #47055
Thanks =) Generators were not really tested, so I'm not too surprised.

[2018-01-03 18:51] nikomatsakis commented on #46854
Can you create a self-contained example? You could also try (on a nightly compiler) with `#![feature(nll)]` enabled in your `lib.rs` or `main.rs`.

[2018-01-03 18:52] nikomatsakis commented on #46854
But indeed this sounds like a classic pattern. The compiler is not wrong to act like it does, given the current type system, but the NLL extensions ought to make it accept this code.

[2018-01-03 18:53] nikomatsakis commented on #29743
The first question is to decide, I suppose, what the expected behavior is =)

[2018-01-03 18:54] nikomatsakis commented on #29743
In other words, I think I would expect consistent behavior, but I could see how this might wind up as an error in both cases.

[2018-01-03 19:01] nikomatsakis commented on #45826
This is done.

[2018-01-03 19:01] #45826 closed

[2018-01-03 19:01] nikomatsakis commented on #46037
This is done (there are follow-up issues, but those are linked elsewhere)

[2018-01-03 19:01] #46037 closed

[2018-01-03 19:02] mbrubeck opened #47164 "Command-line arguments are cloned a lot on Unix"
The `std::sys::unix::args` module does a lot of allocation and cloning of command-line parameters:

1. On startup, `std::sys::unix::args::init` copies all of the command-line arguments into a `Box<Vec<Vec<u8>>>` (except on macOS and iOS).
2. When `std::env::args` or `args_os` is called, it eagerly copies all of the args into a new `Vec<OsString>`.

On non-Apple systems, this means there is at leas

[2018-01-03 19:05] luser commented on #47086
Related: @metajack noticed that static archives are not reproducible on macOS because Apple's `ar` tool puts timestamps in the archive (https://github.com/mozilla/sccache/issues/169).

[2018-01-03 19:05] steveklabnik commented on #47164
Incidentally, I was just reading http://andrewkelley.me/post/zig-december-2017-in-review.html which says

and i was wondering about our code regarding this.

[2018-01-03 19:17] varkor commented on #32311
Though I still feel it's better to handle the `end < start` case as it's more intuitive, technically this isn't even valid for the semantics of `Range`, which require that any `x` in range satisfies `start <= x < end`. This seems more of a problem with `Wrapping`, whose ordering is unintuitive (and arguably incorrect).

[2018-01-03 19:33] pitdicker commented on #47062
Sorry for the late reply.

This assembly happens to be from the `gen_u64_xorshift_mt_64` becnhmark of the `small_rngs` crate, with the `i128_support` feature. But any other benchmark from it has similar results.

I did it a bit naïve: the assembly is copied from `perf record` and `perf report`, where I assume the parts between the timer functions are of interest.

[2018-01-03 19:34] mbrubeck commented on #47164
Some ideas on reducing each source of allocation/cloning (on startup, and on iterator construction):

1. Copying on startup could be avoided by storing the `argc` and `argv` values that `init` receives from the OS, instead of cloning their contents. This could change behavior for programs that use unsafe platform-specific code to access these values directly and mutate them, then later call `std::

[2018-01-03 19:55] mbrubeck commented on #47164
Ah, yes. On Windows the `Args` iterator constructor calls [`CommandLineToArgvW`] which allocates an array of pointers and a single UTF-16 buffer to hold a copy of the args.  So while it doesn't allocate and clone each arg individually, it does do 1 or 2 allocations, and copies the whole command line as UTF-16.

We definitely can't get to zero copies on Windows, because we at least need to do UTF-1

[2018-01-03 20:03] kpcyrd commented on #47135
hey @alexcrichton and @infinity0, thanks for taking the time to look into this.

The project that I test covers a large amount of edge cases (eg. FFI), I probably need some time to track it down to a specific edgecases that is causing problems.

I tried `--auto-build --vary=-time,-domain_host` but it's not able to find a working configuration:

I've attached a gist for both diffscope.out generated

[2018-01-03 20:55] mbrubeck commented on #47164
#47165 eliminates the allocations/copies on startup.

[2018-01-03 21:17] bfops commented on #47140
Oh of course, no wonder I couldn't find an existing report - I was looking in the wrong place!

[2018-01-03 21:18] omakk commented on #46826
@ritiek Yes, go ahead! I unfortunately can not find the time to look at this. Apologies for the late update.

[2018-01-03 21:37] sanmai-NL commented on #32670
@notriddle: can’t [`open()`](https://doc.rust-lang.org/std/fs/struct.OpenOptions.html#method.open) simply be patched to return an `Err` on opening `/proc/self/mem/` for writing on Linux? Seems simple and fine.

[2018-01-03 21:47] sanmai-NL opened #47166 "Why is `SeekFrom` defined with 64-bit integers rather than machine-dependent ones?"
[`SeekFrom`](https://doc.rust-lang.org/std/io/enum.SeekFrom.html)

Aren’t those addresses machine-dependent?

[2018-01-03 21:51] vi commented on #32670
@sanmai-NL , What if `procfs` mounted to `/tmp` and `tmpfs` mounted to `/proc`?

Also imagine an operating system that has socket analogue of `/proc/self/mem`. You `connect` to special address and socket becomes memory of your own process. Now sockets are unsafe or must check where we actually do connect (and netfilter-like mechanism can redirect addresses)?

The main issue that OS allow memory in

[2018-01-03 22:04] sgrif commented on #47139
This is now a regression from stable to beta

[2018-01-03 22:14] sgrif commented on #47032
This is related to https://github.com/rust-lang/rust/issues/34260

[2018-01-03 22:16] est31 commented on #47166
You can have a 50 GB file on a 32 bit computer. If you had 32 bit integers, you couldn't seek around, at least not with absolute offsets. Other than that, I don't know.

[2018-01-03 22:46] steveklabnik commented on #47166
Some history time! https://github.com/rust-lang/rfcs/blob/master/text/0517-io-os-reform.md#seeking shows a trait that's the same as today's:

it also says

What about that more precise types? well, let's look at Rust 0.11: https://doc.rust-lang.org/0.11.0/std/io/trait.Seek.html

[code]

So, the old `pos` + [`SeekStyle`](https://doc.rust-lang.org/0.11.0/std/io/type.SeekStyle.html) got changed to `S

[2018-01-03 22:46] #47166 closed

[2018-01-03 23:14] alexcrichton commented on #47159
This was most likely caused by https://github.com/rust-lang/rust/pull/43964 where new inherent methods were added to raw pointers. It's definitely true though that the tracking issue is light on details!

I believe the PR in question has already made its way to stable (1.22.1) so there's not a *huge* sense of urgency to fix this per se, but would be good to discuss. We'll discuss this at a triage

[2018-01-03 23:22] shssoichiro commented on #47139
I have some time now, I can go through and do a bisect to find the cause.

[2018-01-03 23:44] sgrif commented on #47139
@shssoichiro Thank you! <3 I'm sorry I haven't provided a more specific reproduction case

[2018-01-03 23:55] #46875 closed

[2018-01-03 23:55] #46974 closed

[2018-01-03 23:55] #46917 closed

[2018-01-03 23:55] #46935 closed

[2018-01-03 23:56] KallDrexx opened #47168 "Expected u32 found usize error on array/slice gives unhelpful help text"
[code]

Gives the following compile time error on rustc 1.22.1 (stable):

[code]

I'm assuming there's a lot of nuance in the engine that gives suggestion so I don't know how I would personally codify the rules (and even if casting as a u32 is always appropriate since I guess it could overflow) but I do know that the suggestions definitely do not point me in the right direction.

[2018-01-04 00:15] estebank commented on #47168
I believe the output for type errors where the expected and found types are numeric should be:

[code]

The last `note` should be one of [the following caveats](https://doc.rust-lang.org/book/first-edition/casting-between-types.html#numeric-casts) as appropriate depending on the types:

- Casting from a larger integer to a smaller integer (e.g. u32 -> u8) will truncate
- Casting from a smaller int

[2018-01-04 00:19] estebank commented on #47148
the second lookup should probably be `other.0.lo()` ^_^

[2018-01-04 00:36] varkor opened #47169 "RangeFrom::max should return None"
[`Iterator::max` states](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.max) "If the iterator is empty, `None` is returned.". In the case of an unbounded range, we know that this maximum does not exist. This means `RangeFrom::max` is consigned to looping forever.

If the documentation for `Iterator::max` were rewritten: "If the iterator is empty, or if the maximum element is unbound

[2018-01-04 01:48] olson-dan commented on #46865
I'd like for it to panic but I suppose that may not be possible.  I'm currently running on Windows where exceeding memory doesn't appear to do anything except print the message "fatal runtime error: allocator memory exhausted" and continue running until the OS kills it.  I'm guessing this may be because SIGILL isn't a thing on Windows.

Notably when spawning multiple threads with rayon I see the "

[2018-01-04 01:50] rkruppe commented on #47169
What does "the maximum element is unbounded" mean exactly? The only interpretation I can find that applies to `FromRange` is that it never returns `None` from `next`. Note however that it eventually panics when overflow checks are enabled, so it is not really an infinite iterator.

Going with that interpretation, it's true that `max` or `last` on such an iterator is not very useful, but changing t

[2018-01-04 03:05] shssoichiro commented on #47139
It looks like the regression originated in 8c5941896.

[2018-01-04 04:26] johnklai1 commented on #47086
Right, I think the impact on sccache is similar to https://github.com/mozilla/sccache/issues/169.

What I am seeing is that the .dylib non-determinism is causing unexpected cache misses in sccache since the dylibs end up being passed to rustc.

Here is an example for `cargo_metadata`:
[code]

[2018-01-04 04:31] tbelaire commented on #47022
Dang, I'm getting some non-local effects with this, or something.

I had two branches which added different files and only really overlapped in main.rs and Cargo.toml (for adding deps).  Both compiled fine, but merging them caused this error to appear.

Getting rid of flat_maps seems to solve the problem though :/

[2018-01-04 05:39] iitalics commented on #41079
I think that returning `None` for the zero-sized-type case is unnecessary. It is a very unlikely event, and a majority of the time the user knows they will never get the `None` case, so unwrapping is just clutter.

[2018-01-04 05:52] #46959 closed

[2018-01-04 06:34] nrc commented on #45861
There doesn't seem to be anywhere else to track it, so https://github.com/rust-lang/rust/pull/47146 is another example of a PR breaking rustfmt, and causing a real bug, which should have been noticed by the author if tool bustage was not handled automatically.

[2018-01-04 06:43] mjbshaw commented on #18849
@pierzchalski Have you gotten a chance to start an RFC for this?

[2018-01-04 07:19] kennytm commented on #45861
Reopened as tracking issue.

(The breakage from #47146 is noted as soon as the PR is merged: rust-lang-nursery/rust-toolstate@1b316ccd52291cb70cecde4b2d19418795189a03)

[2018-01-04 08:07] CAD97 commented on #46889
#46479 (`?` in `main`) has landed

[2018-01-04 08:54] michaelwoerister commented on #45875
I spot a bug in the decoding function:
[code]
Should be something like:
[code]

Are you sure about that? The setup looks correct to me.

[2018-01-04 09:02] Firstyear opened #47174 "Stabilize -Z sanitize"
Hi,

I would really like to see -Z sanitize options available in stable rust.

Today they are available in nightly. I have used them for 6 months in the 389 Directory Server project in a production ldap environment as part of the code IO event path. I have exercise the leak and address sanitize options extensively, used them to find many FFI safety issues, and tested multiple build types (exec, dy

[2018-01-04 09:20] vorner opened #47175 "Memory corruption (?) from tower-grpc-build on nightly"
Hello

When playing with some development versions of tower-grpc-build (https://github.com/tower-rs/tower/grpc), I discovered a strange crash of the build script. I managed to shring it a bit, but I don't think this is minimal case (I just don't know how to continue pinning it down further).

Few observations:
* The string it talks about in the backtrace seems like random junk (which isn't always

[2018-01-04 09:21] michaelwoerister commented on #44891
Sure, go ahead! Thanks, @BurntPizza!

[2018-01-04 09:37] projektir commented on #46999
Writing the arguments to file looks like a good solution here, yeah.

[2018-01-04 09:38] Michael-F-Bryan commented on #46034
On `mdbook`, a non-trivial sized project with about 5.5 kloc of Rust.

[code]

So stripping debug info goes from 12M to 6.3M.

[2018-01-04 09:42] leonardo-m opened #47176 "[NLL] [ICE] with flat_map.max"
[code]

compiled with:

`rustc test.rs`

Gives:

[code]

[code]

[2018-01-04 10:07] jedisct1 commented on #47022
@tbelaire I think this is due to incremental compilation. If you compile a project without NLL, and then add the NLL feature flag, it will compile just fine. It you `cargo clean` and rebuild it, it will fail.

[2018-01-04 10:34] nikomatsakis commented on #46953
Both versions compile now: https://play.rust-lang.org/?gist=79c56c0a2310df3880212d7124be65cd&version=nightly

Fixed by https://github.com/rust-lang/rust/pull/46984

[2018-01-04 10:34] #46953 closed

[2018-01-04 10:41] nikomatsakis commented on #46589
@Yoric as I [wrote in gitter](https://gitter.im/rust-impl-period/WG-compiler-nll?at=5a4e023351915d962afda173), one way to approach this is to generalize the routine that is used to detect overlap between paths. This function is called `places_conflict`:

https://github.com/rust-lang/rust/blob/78f24d86b84882a02c15f27768e831d0342a3f5d/src/librustc_mir/borrow_check/mod.rs#L1769-L1777

However, presen

[2018-01-04 11:05] ghost opened #47178 "Compiling with `-Z sanitizer=address` causes a SIGSEGV in rustc"
How to reproduce:

[code]

Output:

[code]

cc @japaric

[2018-01-04 11:21] varkor commented on #47169
I mean that, for any element `x` returned by the iterator, there is guaranteed to be an element `y > x` that is also returned (or it panics), which in this case is equivalent to never returning `None` as the range is monotonically increasing.

I agree that it does cause a behaviour change, but I can't imagine any users are relying on the termination behaviour of an unbounded iterator like this (es

[2018-01-04 11:38] rkruppe commented on #47169
This definition does not match `RangeFrom` when overflow checks are disabled.

But that is not what's documented, and not what the default implementation does, and not something the default implementation *can* do.

I also don't buy that None for empty iterators is not intuitive. The maximum of an empty set/sequence indeed does not exist.

It's not just that this change will fail to achieve its in

[2018-01-04 12:04] luser commented on #47086
Ah, right, proc macro crates!

[2018-01-04 12:05] nagisa opened #47179 "`link_name` seems to not work with public statics"
[code]

should emit a global with name banana, not mangled BANANA as it does currently and compile.

[code]

[2018-01-04 12:09] #47179 closed

[2018-01-04 12:13] nagisa commented on #47179
Confused (again) `link_name` with `export_name`.

[2018-01-04 12:21] varkor commented on #47169
That's true. More special casing here would be possible, but probably not desirable. The issue is the distinction between what someone expects `RangeFrom` to mean — at the moment it is very much defined according to implementation details, not mathematically. The most consistent choice is probably the best one, which in this case is sticking with the existing implementation.

I agree that `None` i

[2018-01-04 12:46] #43291 closed

[2018-01-04 12:58] SimonSapin commented on #46906
(Emphasis added.)

I feel that this latter case is overly zealous. A pervasive pattern in Servo’s DOM can be simplified to this:

[code]

As of 0a3761e63 the `handle_mut` call causes a `tyvar_behind_raw_pointer` warning which does not seem justified: `handle_mut` is an inherent method of `RootedGuard<T>` and so will always be picked before any method of `T` through auto-deref. `arbitrary_self_type

[2018-01-04 13:09] varkor commented on #18384
Update as of last 2017: [there are still issues with optimisation of `minnum`/`maxnum`](https://godbolt.org/#z:OYLghAFBqd5QCxAYwPYBMCmBRdBLAF1QCcAaPECAKxAEZSBnVAV2OUxAHIB6bgagC0AYVQAHAgIA2mAG6ZJAUgDMAESWChBAIbFgmCclHNlKgHZaCeORtFbTeZCa0AjEgT4KADAEEvvgExKYGAKAKwAQsjEFpgA%2BgQAnqKYJgr%2B/pJ4zmn%2BYSp%2BaUEhEQBmmBasmBCZpgDWsZKSMgC2sXimBMTtDA4MAJR5BT6YAB4EmMSmHgDs4X58Cx6BYeE19ebNmB6qSxlNzQB0ze2mzIclSr

[2018-01-04 14:25] bjorn3 opened #47183 "[macOS] Lldb crashes while debugging rustc"
[code]

[code]

[2018-01-04 15:07] oberien commented on #47169
With every iterator function I assume that `None` indicates that the iterator is empty. If `.max()` returned `None`, I'd assume the iterator to be empty instead of unbounded.
I do see that `RangeFrom` does not have a theoretical max value (in practice it has in most cases), so `None` might be a reasonable result from call `.max()`.
But this would completely change the semantic of the `max` functio

[2018-01-04 15:11] CryZe commented on #46932
This seems to be fixed by yesterday's NLL fixes.

[2018-01-04 15:11] #46932 closed

[2018-01-04 15:14] CryZe commented on #46994
This seems to be fixed now.

[2018-01-04 15:24] tbelaire commented on #47022
Oh, that's interesting...
I'll have to play around with that once I'm home.

On Thu, Jan 4, 2018 at 5:07 AM, Frank Denis <notifications@github.com>
wrote:

[2018-01-04 15:28] nikomatsakis commented on #47139
Hmm. Any idea how those two traits are connected? That seems surprising.

[2018-01-04 15:29] nikomatsakis commented on #47139
I'd like to dig a bit more into this and understand better what's going on.

[2018-01-04 15:34] nikomatsakis commented on #46449
triage: P-high

I'm bumping this up to P-high -- it affects the upcoming beta. @eddyb can you give us a status update of the LLVM bug?

[2018-01-04 15:36] nikomatsakis commented on #47175
cc @rust-lang/infra -- any chance somebody can bisect this a bit to see where the problem started?

[2018-01-04 15:36] nikomatsakis commented on #47175
triage: P-high

[2018-01-04 15:38] nagisa commented on #46449
We will want to land the LLVM patch into our fork either way (we haven’t yet upgraded to our own LLVM to 5.0 yet, IIRC and this would land against 6.0 upstream).

That being said, disabling name generation in LLVM when `--emit=llvm-ir` is not requested, sounds like a great idea nevertheless.

[2018-01-04 15:38] shepmaster opened #47184 "NLL should identify and respect the lifetime annotations that the user wrote"
We have made some progress on this issue.

Here's a list of everywhere within function bodies where we annotate types, with check boxes on the ones that are currently getting checked by the MIR-borrowck / NLL.

- [ ] Let bindings
  - [x] Simple local variable declarations, eg. `let x: u32 = 3;`
  - [x] More complicated let bindings. eg. `let (x, y): (u32, u32) = (33, 54);`
    - [x] https://github

[2018-01-04 15:39] nikomatsakis commented on #47071
So, am I correctly inferring from this that this is (most likely) not a rustc bug, but rather a bug in LLVM?

[2018-01-04 15:39] nikomatsakis commented on #47071
@frewsxcv can you get a backtrace, by any chance?

[2018-01-04 15:40] nikomatsakis commented on #47071
Even better, can you test with a local build, that has LLVM asseritons enabled?

[2018-01-04 15:43] nikomatsakis commented on #47071
triage: P-medium

[2018-01-04 15:47] nikomatsakis commented on #47062
@pitdicker Is it possible to make a small, standalone example? That would no doubt be very helpful.

I'm going to call this P-high, but I'm not sure who to assign it to.

[2018-01-04 15:47] nikomatsakis commented on #47062
triage: P-high

[2018-01-04 15:50] nikomatsakis commented on #46478
@dtolnay

Indeed. No offense meant, I intended "horrible" in the nicest way possible. =)

[2018-01-04 15:57] vorner commented on #47175
If it helps, this one goes through (`rustc 1.24.0-nightly (9389e23a8 2017-12-31)`):

[code]

And this one fails (`rustc 1.24.0-nightly (b65f0bedd 2018-01-01)`):

[code]

Anything more exact would need setting up of some non-trivial infrastructure on my own computer.

[2018-01-04 15:58] frewsxcv commented on #46942
PR merged

[2018-01-04 15:58] #46942 closed

[2018-01-04 15:58] nikomatsakis commented on #46936
I'm going to re-open the ticket for discussion. I think I agree that this was intended breakage that ring ignored, but I also agree that we want to minimize the disruption if at all possible -- it *ought* to be possible to check if the feature-gate is enabled, I suppose, though it's gonna be annoying (and, later, just opt-in with the new epoch).

[2018-01-04 16:06] SimonSapin opened #47186 "Incremental compilation creates file names too long for Windows"
Today I made a Servo try build with a rustc/cargo version that, if I understand correctly, enable incremental compilation by default. This left on CI builders some files with long names. On every subsequent builds, Buildbot would first try to clean the target directory and fail to remove files with too long names/paths such as `c:\buildbot\slave\windows-msvc-dev\build\target\debug\incremental\scri

[2018-01-04 16:15] kennytm commented on #47175
Given the range I'm pretty sure it is #46735, but let me bisect anyway...

[2018-01-04 16:35] ben0x539 opened #47188 "rustc hangs on malformed format!() w/ first arg being a macro invocation declaring a type with a #[derive]"
[code]

rustc seems to sit there consuming 100% CPU indefinitely. This code isn't valid because `format!()` wants a string literal as first argument, but it doesn't seem to get around to complaining about it, so I assume it's getting stuck somewhere formatting an error message.

[2018-01-04 16:35] alexcrichton commented on #47175
cc @Manishearth

[2018-01-04 16:47] manuels commented on #45259
So with `#![feature(nll)]` now the compiler crashes:

[code]

[2018-01-04 16:54] Zoxc commented on #45259
@manuels That is a separate bug so a new issue should be created for it.

[2018-01-04 16:57] manuels commented on #45259
Ok, I was wondering, but the backtrace looked too complex to me to analyze it.
I'm gonna check there is already a bug open and if not, I will file one.

Thanks, @Zoxc!

[2018-01-04 16:58] pitdicker commented on #47062
Does this count as 'small, standalone'?
[code]

Before:
[code]
After:
[code]

It has the same regression without the extra loop, but runs too fast to measure well:
[code]

[2018-01-04 17:03] kennytm commented on #47175
Reductions:

1. <details><summary>Reducing dependency to <code>prost_build</code>.</summary>

[code]

    </details>

[2018-01-04 17:06] manuels opened #47189 "Borrow Checker (?) panics"
While investigating bug in generators (#45259), I ran into an issue that seems to exist since non-lexical lifetimes landed. I guess it's a bug in the borrow checker - at least, that's what the backtrace says.

The code that raises the compiler panic is:

[code]
The compiler's backtrace reads:
[code]

[2018-01-04 17:19] manuels commented on #47189
Looks like the bug is actually the unimplemented error reporting in https://github.com/rust-lang/rust/blob/78f24d86b84882a02c15f27768e831d0342a3f5d/src/librustc_mir/borrow_check/error_reporting.rs#L743

[2018-01-04 17:26] mikeyhew commented on #46906
@SimonSapin

During method lookup, `T` is `*mut _`. That `_` could theoretically resolve to a type that has a method `fn handle_mut(self: &mut RootedGuard<*mut Self>)`, which would result an an ambiguity on method lookup. Not to say that defining methods like this is very useful, but that's what's currently allowed with `arbitrary_self_types`.

It's unfortunate that the type information from this

[2018-01-04 17:35] manuels commented on #47189
I am just guessing here, but since these two variants are so similar:

[code]

and error reporting for `TyClosure` only uses `DefId` but not `ClosureSubsts`, maybe the same code for error reporting in this line https://github.com/rust-lang/rust/blob/78f24d86b84882a02c15f27768e831d0342a3f5d/src/librustc_mir/borrow_check/error_reporting.rs#L729 can also be used for `TyGenerator(DefId, _, _)`.

Just

[2018-01-04 17:52] kennytm commented on #47175
Bisecting in the range 9389e23a8a754097e233c7bf3ea1bb404ccf1075...8e7a609e635b728eba65d471c985ab462dc4cfc7

Test script:

[code]

(`1.rs` has content shown in https://github.com/rust-lang/rust/issues/47175#issuecomment-355338768)

Bisect result:

[code]

So yeah the cause is definitely #46735, and since it slips into beta it affects 1.24 beta as well.

[2018-01-04 17:54] manuels commented on #47189
@sfackler, since the unimplemented error reporting is for `TyGenerator` I would suggest labeling it as `Generators` instead of `A-NLL`.
@Zoxc, do you agree?

[2018-01-04 17:59] Manishearth commented on #47175
Huh. Wat. I'll fix this tomorrow.

[2018-01-04 18:04] estebank commented on #47168
@leonardo-m, @nikomatsakis what would be the appropriate suggestion in this case?

[2018-01-04 18:06] RReverser commented on #44342
In fact, problem is somewhat different and more generic: unused lint doesn't see anything that is used inside of `#[test]` functions.

I've run into this with a local macro as well (which initially seemed different, but now I think is the same issue): https://play.rust-lang.org/?gist=0c4a2ca1e118674b9d6666e58a37da97&version=stable

[code]

It could be understandable if it would work at least if I

[2018-01-04 18:12] leonardo-m commented on #47168
The proposed messages seem OK to me.

More generally I think that using naked "as" casts for narrowing is the wrong default to use in rust. You can't have a nicely designed language that performs overflow tests in debug mode and at the same time encouraging the use of "as". In my code I use a to!{} macro that shows the default behaviour that Rust missed to use (I'll try to push for this change in

[2018-01-04 18:36] AndrewGaspar commented on #29633
Pinging this thread since it seems inactive. I wanted to express interest in this feature being stabilized. I was really excited when I discovered that you _could_ replace the entry point in Rust, and then real bummed when I found out that you could only do it on nightly.

[2018-01-04 18:36] raphaelcohn commented on #32838
Persistent Memory (eg <http://pmem.io>) is the next big thing, and Rust needs to be positioned to work well with it.

I've been working recently on a Rust wrapper for a persistent memory allocator (specifically, libpmemcto). Whatever decisions are made regarding the stabilisation of this API, it needs to:-

* Be able to support a performant wrapper around a persistent memory allocator like libpmem

[2018-01-04 19:06] nikomatsakis commented on #46906
So, my thoughts are these:

There is really not much we can do to get more type information. We already do basically exhaust what remedies we have.

To get more, we'd have to do some big refactorings on the way that method lookup works. I'd like to do this, but it seems pretty distinct from this PR. We'd basically have to make method dispatch "delayable" until more type information is available.

[2018-01-04 19:10] eddyb commented on #47062
I tried reproducing without the bench harness and I ended up at this, which doesn't repro:
[code]

@pitdicker This is a pretty simple benchmark, so I'm wondering, is the bench harness regressed?

[2018-01-04 19:11] nikomatsakis commented on #47189
Seems likely to be par of MIR borrowck, though. I'm tagging with WG-compiler-nll.

[2018-01-04 19:22] nikomatsakis commented on #38899
I propose that we add a test file (with `#![feature(nll)]`) documenting that this is fixed, so I've labeled this as `E-needstest`.

[2018-01-04 19:25] nikomatsakis commented on #29743
Well, based on [this play test case](https://play.rust-lang.org/?gist=e14c2ae1093cd6e227d625b370fc80df&version=nightly), we do not get consistent behavior.

[2018-01-04 19:25] wesleywiser commented on #45875
Ah, yes, you're right! Good catch.

I'm fairly sure of that because I added some logging statements into those functions and then captured the test output. I can see no instances of the encode functions being called based on that. I'll fix the bug you found and re-run the tests though and see if this changes anything.

[2018-01-04 19:27] nikomatsakis commented on #29743
I wonder if https://github.com/rust-lang/rust/pull/47167 will affect this, actually.

[2018-01-04 19:33] nikomatsakis commented on #45045
[This still compiles with MIR borrowck](https://play.rust-lang.org/?gist=9ae4da7b0c567377a5d61f34bbb4cc68&version=nightly), so I guess more work is needed.

[2018-01-04 19:35] jedisct1 opened #47192 "Prost broken afer nightly-2017-12-31 (due to memchr change?)"
Prost code generation fails after (but not including) nightly-2017-12-31: https://github.com/danburkert/prost/issues/66

    panicked at 'byte index 1 is not a char boundary; it is inside '\u{1}' (bytes 0..1)

Repository with a minimal test case for that issue: https://github.com/jedisct1/prostate

Maybe due to b65f0bedd2f22d9661ecb7092f07746dc2ccfb0d ?

[2018-01-04 19:36] nikomatsakis commented on #34308
Hmm, [this test passes](https://play.rust-lang.org/?gist=c7f9de885f4aafe43af42b7a3b786656&version=nightly), and the MIR does seem to include a `_3 = ()` line -- maybe this has been fixed?

[2018-01-04 19:39] jsonnull opened #47194 "`memory access out of bounds` error when allocating strings in WebAssembly"
I'm working with passing strings between Rust and JavaScript on the `wasm32-unknown-unknown` target, but I'm consistently getting `memory access out of bounds` panics in Rust. I'm not able to determine if Rust or my code is at fault.

[Here's a simple demonstration of the problem.](https://github.com/jsonnull/wasm-rust-utils/blob/master/examples/basic)

A short overview of what's going on in my fa

[2018-01-04 19:46] nikomatsakis commented on #27282
Seems like we have to fix this. I'm not sure just what the best way is -- but I think we have to represent the "implicit borrow" in the MIR.

[2018-01-04 19:50] nikomatsakis commented on #38899
The following test [correctly errors with `#![feature(nll)]` but passes without it](https://play.rust-lang.org/?gist=8e2171f780654cdcb461421b3f080936&version=nightly).

[2018-01-04 19:55] nikomatsakis commented on #46628
Hmm, [I am seeing an ICE on the playground](https://play.rust-lang.org/?gist=d0c2b307c4eda0d594bbb7508c470e0f&version=nightly).

[2018-01-04 19:56] pitdicker commented on #47062
That would be my guess. There are two somewhat recent PR's that touch the bench harness, but they don't seem to fit the nightly: https://github.com/rust-lang/rust/pull/46636 and https://github.com/rust-lang/rust/pull/46620

[2018-01-04 19:58] nikomatsakis commented on #46628
Oh, that's an ICE when the code executes. [The example that @pnkfelix gave compiles successfully](https://play.rust-lang.org/?gist=22e04103e997fb3149a9089ffedd1f00&version=nightly).

[2018-01-04 19:59] nikomatsakis commented on #46628
@ia0 the code now type-checks and executes, so I'm going to close the issue.

[2018-01-04 19:59] #46628 closed

[2018-01-04 20:32] mneumann opened #47196 "stage0.txt: Shouldn't "dev: 1" be commented out for a stable release?"
At least according the the comments in stage0.txt.

https://github.com/rust-lang/rust/blob/766bd11c8a3c019ca53febdcd77b2215379dd67d/src/stage0.txt#L37

I am compiling rust 1.23.0 from 1.22.1, and it gives me the following errors:

[code]

[2018-01-04 20:32] mystor opened #47197 "Rustdoc ICE when stripping doc comment decorations"
[code]

Running `rustdoc` on this causes an ICE.

[code]

[2018-01-04 20:33] mystor commented on #47197
cc @jrmuizel @QuietMisdreavus

[2018-01-04 20:42] est31 commented on #47196
cc @alexcrichton

[2018-01-04 20:49] petrochenkov commented on #46826
I never read these diffs, personally, just run `update-all-references.sh` immediately if there are errors.

[2018-01-04 21:08] xd009642 commented on #46467
Did the associated PR for this manage to make it into 1.23? I'm only asking because I just updated my stable and this issue still seems to be present.

[2018-01-04 21:09] alexcrichton commented on #47196
I don't know about the errors you're seeing but yes the `dev` bit should be commented out. In doing so the date would need to change as well. Forgot to do it for this beta, I'm adding a check to make sure we don't forget again.

[2018-01-04 21:28] danburkert commented on #47192
Likely a dupe of #47175.

[2018-01-04 21:42] kennytm commented on #47192
Closing as duplicate for #47175.

[2018-01-04 21:42] #47192 closed

[2018-01-04 21:48] nagisa commented on #46449
Using LLVM context configured to not retain any names brings the compilation time back to a fairly reasonable

<details>

[code]

</details>

[code]

compared to

<details>

[code]

</details>

[code]

on stable. Not sure if compilation process is doing equivalent amount of work between stable and nightly here, but at least the compilation does not take forever on nightly now! Will cleanup and sub

[2018-01-04 21:54] mneumann commented on #47196
@alexcrichton: hm, I tried to build 1.23.0 with stable 1.22.1, and I got these errors. I wonder if I need the -dev version of 1.22.1 instead to build 1.23.0. Hm, the version I use is not beta, it is stable, or am I missing something?

[2018-01-04 22:12] eddyb opened #47201 "Reset rustc's scoped TLS state during unwinding."
This should only happen in the event of an ICE, but right now, if a `Drop` implementation (for e.g. a field in `Session`) would try to access, say, the `TLS_TCX`, it would use-after-free the global `TyCtxt`.

[2018-01-04 22:17] nikomatsakis commented on #46936
OK, chatting on IRC, @eddyb and I came up with a concrete plan of action:

We could add `-Zepoch=2018` (which implicitly requires nightly) and enable the new feature only when in that epoch.

Until then, the old behavior would be preserved.

[2018-01-04 22:42] cramertj commented on #45594
I wound up writing some code that really wanted `try_filter_map` (return a `Result<Option<T>>` instead of just `Option<T>`), and instead wound up doing something like `.map(|x| x.to_res_opt()).try_filter_map(res_opt_to_opt_res)`. I wound up opening [this PR](https://github.com/rust-lang/rust/pull/47193/files#diff-310ac4df57ef40f5c467669ccd196263R51) as a result, which allows you to use `Into` to g

[2018-01-04 23:38] parched commented on #38356
What's the story with hygiene currently? I have function like procedural macro that used to work (4 months ago) but as of rustc 1.24.0-nightly (b65f0bedd 2018-01-01) it complains the argument can not be found in scope.

[2018-01-04 23:40] ranma42 commented on #32670
There are also limitations/defects in common hardware, such as those exploited by https://en.wikipedia.org/wiki/Row_hammer to modify arbitrary memory. Does rowhammer imply that all memory accesses should be considered unsafe? XD

[2018-01-04 23:54] sgrif commented on #47139
I'm not sure how `SliceContains` could affect Diesel, but I agree that it's the only thing in that commit that looks like it could possibly cause any problems here.

[2018-01-04 23:55] cramertj commented on #46936
@nikomatsakis Sure, we can just switch on the `-Zepoch` flag when finding children of a non-`mod.rs` `#[path]` file and not report a feature gate error in that case, and we can report an error when we hit a the feature gate in combination with the `-Zepoch` flag. The bigger question I have is whether we want to wait for the next epoch in order to start supporting mod statements in non-`mod.rs` fil

[2018-01-04 23:56] sgrif commented on #47139
FWIW the impls it appears to be recursing through look like this:

[code]

[2018-01-05 00:04] mikeyhew commented on #46906
@nikomatsakis no, no crater runs were done. It would definitely be good to do one

[2018-01-05 00:31] clarcharr commented on #34162
Perhaps a workaround is to add a `sort_by_field` version of `sort_by_key` which does exactly the same thing, only returning `&K` instead of `K` from the function.

[2018-01-05 00:34] alexcrichton commented on #47196
The `dev` bit here is a bit of a misnomer, it should byte-for-byte be the same artifacts you'd get otherwise, they're just downloaded from the wrong location. For the compile errors it may mean that there's either a bug or it's misconfigured locally

[2018-01-05 01:28] mdaniel commented on #47186
as a friendly reminder, the Windows API has a separate "unicode" filename, which I confirmed works as expected on the Python 2.7 I had lying around (on both NTFS and ExFAT filesystems):

[code]

I'd have to dig in MSDN to find the gory details, but can do so if it would be helpful

[2018-01-05 01:29] chris-morgan commented on #47186
At first I was going to say “buildbot bug”, and indeed it *could* be resolved there with things like the `\\?\` trick; but the fact of the matter is that that’s just a patch for this particular symptom, leaving the underlying issue still present.

Individual path components on most file systems currently in use (e.g. NTFS, ext*) can only be 255 characters, so as soon as you get a module path type

[2018-01-05 01:29] mdaniel commented on #47186
whoa, that was some creepy timing :-)

[2018-01-05 02:17] wesleywiser commented on #45875
Ok. It's still failing with the same issue. I've pushed a commit that shows the logging I added to the encoder functions. From the failing test output, I can see that nothing is being logged to `stderr`.

[2018-01-05 03:00] shepmaster commented on #46557
This issue has now shipped in stable Rust 1.23

[2018-01-05 04:23] sunjay opened #47206 "where clause in generic associated types causes no output"
I'm working on implementing generic associated types in the compiler with mentoring by @nikomatsakis. He recently discovered an interesting issue that we're haven't found the source of yet. It seems that having a where clause like the one below results in a compilation error but no output.

**The feature isn't actually fully finished yet, so we expect a compilation error. It just isn't clear why t

[2018-01-05 04:42] bmusin opened #47207 "Provide readable changelogs."
Hi. Could you please provide more readable changelogs with use cases?

It's not easy to
extract relevant snippet or command, if any, from pull request discussion
Being overly technical and dry,
that discourages further adoption of otherwise, decent, compiler.

[2018-01-05 04:57] Manishearth commented on #47175
Okay, so the bug seems to be a discrepancy in how I thought the searcher API is supposed to work.

[code]

in old Rust this returns Some(1,2) and None, in new Rust it returns the same thing twice.

I was under the impression that double ended searchers had independent fingers, but this seems to be wrong.

We _really_ need to overhaul this API so that it actually makes sense.

[2018-01-05 05:20] #45466 closed

[2018-01-05 05:42] Manishearth commented on #47175
Fixed in https://github.com/rust-lang/rust/pull/47208 r?

[2018-01-05 06:49] estebank commented on #42700
[Current output](https://play.rust-lang.org/?gist=84020a11648344678700e83d85add1b5&version=nightly):

[code]

[2018-01-05 06:58] parched commented on #38356
Sorry, should have searched the issue tracker first, seems like I've just hit https://github.com/rust-lang/rust/issues/46489.

[2018-01-05 07:51] WiSaGaN opened #47211 "ICE when merge join two btreemap"
ICE on 1.23 stable
[code]
Minimal example I managed to reduce to:
[code]
Playground link: https://play.rust-lang.org/?gist=044e2ff3efea878618257649546c8753&version=stable

Works fine on 1.22.1, current beta, current nightly. ICE on 1.23.0.

[2018-01-05 08:08] #34633 closed

[2018-01-05 08:08] #41621 closed

[2018-01-05 08:19] andreytkachenko opened #47212 "Option map won't compile while match works well"
Consider this snippet:

[code]

it won't compiles with the error:

[code]

but match in exactly same case compiles well:

[code]

And if I explicitly define closure's argument type and returning value type it also compiles well:

[code]
I am sure there should not be differences between match and map at all.

This issue is reproduceble on rust stable and nightly.

[2018-01-05 08:21] hellow554 opened #47213 "ops::Range::end out of range (overflowing_literals)"
I would expect that the the following prints would lead to the same result, instead rust complains about 256 being out of range for u8, which is correct, but because end is exclusive, it should't complain.

[code]
[PlayGround](https://play.rust-lang.org/?gist=ba577b520f64d5f510b2aef2cc178e6f&version=nightly)

[2018-01-05 08:45] mneumann commented on #47196
@alexcrichton : thanks for the explanation. the error I am seeing is because I had both ```--enable-local-rust``` AND ```--local-rust-root``` passed to ```configure``` and the first was taking precedence. Fixed by removing ```--local-rust-root```.

[2018-01-05 08:45] #47196 closed

[2018-01-05 08:54] parched commented on #46489
I think I'm hitting this too, here's the simplest repro I could do
[code]

[code]

[code]

[2018-01-05 09:35] hellow554 commented on #47213
Okay, after thinking about this issue and talking with somebody this is very, very difficult to solve.
[Range](https://doc.rust-lang.org/std/ops/struct.Range.html) uses the underlying type (in this case it is an u8) and so it complains about being out of range (256 does not fit into a u8, period!)
In this case (aloso for u16, i16, u32, ...), but range is defined for a type that implements PartialO

[2018-01-05 09:38] michaelwoerister commented on #47186
Thanks for the bug report. We fixed this problem in the compiler itself more than a year ago by using the proper path format (the one @mdaniel mentions).

We could probably add a flag that makes the compiler generate shorter, non-human-readable filenames for object files. Not sure about the priority of that though. Do you have a use case where you want incremental compilation in combination with b

[2018-01-05 09:46] leonardo-m commented on #47213
The solution is to use 0 ..= 255 to denote a closed interval. That syntax was invented to solve the problem you note.

[2018-01-05 09:50] michaelwoerister commented on #46467
Unfortunately, the PR did not make it into 1.23. Version 1.24 will contain the patch though.

In the @rust-lang/compiler meeting we discussed if it would make sense to make a 1.23.1 release that includes the PR, but concluded that we won't do that since support for code coverage tools is not considered production quality yet.

@xd009642, would you mind testing your project with the latest nightly?

[2018-01-05 09:54] SimonSapin commented on #47186
Right now Servo CI cleans the target directory for every build, so we’ll probably want to disable incremental compilation for now. But it’d be nice if we can enable it at some point and reduce the CI cycle time.

We can try to patch this specific Buildbot code, but it’s just one example of possibly many tools that might break in the presence of such files.

Why make this configurable? Are these fi

[2018-01-05 10:04] michaelwoerister commented on #47186
Incremental compilation has been a two-man-show so far, we don't have fancy tools like that `:)`

The human-readable filenames have been useful for debugging so far and we need them for some of our auto-tests. However, we could default to short, mangled names and only have human-readable/predictable  file names for our test suites.

Note, however, that this does not completely solve the problem: W

[2018-01-05 10:12] WiSaGaN commented on #47211
Since this is fixed in nightly, I think we may only need to add a regression test if there isn't one already.

[2018-01-05 10:34] Amanieu opened #47215 "Compiler crash with #[thread_local]"
[code]

produces the following error:

[code]

Also, the following code fails to compile due to a lifetime error, but doesn't crash the compiler:

[code]

Output:
[code]

[2018-01-05 10:36] Amanieu commented on #47053
I use atomic thread-local variables in my code when I need to communicate between a thread and a signal handler running on that thread.

[2018-01-05 12:04] xd009642 commented on #46467
Just tested with nightly and it works, thanks.

[2018-01-05 12:04] #46467 closed

[2018-01-05 12:52] chris-morgan commented on #47186
@michaelwoerister Is I remarked, it’s fundamentally a more serious, not-Windows-specific issue, because file names are capped at 255 characters on most filesystems, but long module paths could lead to an excessively long file name on almost *any* platform, regardless of the whole prefix aspect.

[2018-01-05 12:57] LifeIsStrange commented on #47207
+1

[2018-01-05 13:03] #47148 closed

[2018-01-05 13:03] #47138 closed

[2018-01-05 13:25] larsbergstrom commented on #47186
@froydnj & @glandium, is m-c friendlier than Servo to > `MAX_PATH` internal paths on Windows, or will this affect use of incremental compilation for Firefox, too?

[2018-01-05 14:22] froydnj commented on #47186
@larsbergstrom Eyeballing logs from m-c suggests that the paths would be roughly as long as the ones Servo uses, probably longer:

[code]

are the path prefixes for where `debug/`/`release/`/etc. go.  That on its own is not reassuring.  Path prefixes are liable to be a little shorter on developer machines, but still...

Whether things would _actually_ break would depend on the particular files and

[2018-01-05 14:28] SirVer opened #47218 "ICE after rust update"
We run travis CRON jobs over our master branch in this [repository](https://github.com/googlecartographer/point_cloud_viewer). This started failing 2 days ago for rust beta and rust nightly (rust stable is still green). Since travis did not change anything, no commits happened, and it neatly coincides with a rust train leaving, I suspect rust to be the culprit. It could also be in prost, so I file

[2018-01-05 14:34] michaelwoerister commented on #47186
Alright, it looks like this will keep causing complications if we don't do anything and fixing it should be relatively straightforward, so I'll just do that next week.

[2018-01-05 14:37] michaelwoerister commented on #46467
Thank you, @xd009642!

[2018-01-05 14:41] michaelwoerister commented on #45875
I'll look into it.

[2018-01-05 14:54] HyeonuPark commented on #27730
Just wonder why `NonZero::new()` is not `const fn` as Rust's NPO guarantees that this is no-op.

[2018-01-05 14:55] BitExplosion commented on #46963
Hello,

Sorry kind of nervous, first comment on git. I thought this would be great and I would like to work on it if that is okay

[2018-01-05 15:00] Manishearth commented on #46963
Sure! My second comment has some info on how to get started with this, let me know (here or on Twitter) if you have questions!

[2018-01-05 15:19] QuietMisdreavus commented on #46963
It's also worth adding whatever processing to [the `document` function](https://github.com/rust-lang/rust/blob/f0cf23e11507988ab41a774052e1a06cea12010a/src/librustdoc/html/render.rs#L1863) so that it can end up on bare function pages too. (Bare functions are rendered in [`item_function`](https://github.com/rust-lang/rust/blob/f0cf23e11507988ab41a774052e1a06cea12010a/src/librustdoc/html/render.rs#L

[2018-01-05 15:57] CasualX opened #47219 "Using deprecated items within the crate that deprecated them issues warnings"
When deprecating an item, you typically still want the helper methods supporting it to work without whining that the item is deprecated.

I tried this code: [playground](https://play.rust-lang.org/?gist=de706d2986d8b1cd12a7852e29bc5c1c)

    #[deprecated]
    pub struct Foo;

    impl Foo {
        fn foo() -> Foo { Foo }
    }

I expected to see this happen: The code compiles without deprecation

[2018-01-05 16:03] michaelwoerister commented on #45875
OK, I see what the problem is: We have two kinds of encoders that have to handle fingerprints, the one for writing crate metadata and the one for writing the incr. comp. on-disk-cache. Both of these use an `opaque::Encoder` internally, so I thought we could handle both cases at once by providing a specialized implementation for that. However, this isn't how the `UseSpecializedEncodable` infrastruc

[2018-01-05 16:38] kennytm commented on #47218
Range of nightly: 9389e23a8...687d3d15b

I guess it is a duplicate of #47175.

[2018-01-05 16:55] CasualX commented on #47219
Whelp, I only read the [RFC](rust-lang/rfcs#1270), not its accompanying [tracking issue](#29935) where some people have written concerns about the extreme verbosity of deprecated warnings but the discussion died out.

I was thinking in the direction of allowing access to deprecated items in the crate which defines it in its entirety but I imagine that's more something for rust-lang/rfcs. Still the

[2018-01-05 16:59] SimonSapin commented on #47186
To be fair incremental compilation doesn’t create long file names by itself. It creates file names based on Rust paths, and Servo’s DOM implementation happens to have a `script::dom::bindings::codegen::Bindings::BluetoothCharacteristicPropertiesBinding::BluetoothCharacteristicPropertiesBinding` module. We could also work on our side to avoid repeating that last component.

Firefox doesn’t use Serv

[2018-01-05 17:08] SimonSapin commented on #27730
It happens to compile to a no-op after optimizations for primitive integer and pointer/reference types, but it is implemented with an `if` which is currently not allowed in `const fn`. With Miri integration hopefully it can become a `const fn` later.

[2018-01-05 17:22] ndarilek opened #47221 "Wasm build works in debug mode, fails with --release"
I'm hacking on wasm-based game development in [this repository](https://gitlab.com/ndarilek/rust-wasm-gamedev). The master branch of the above repository successfully builds in debug mode on stable and nightly if I run:

[code]

But if I run:

[code]

I get:

[code]

There are no other changes in the codebase. Not sure why it finds SDL when compiled in debug mode but fails with `--release`. I'm cu

[2018-01-05 18:11] cramertj commented on #35067
FWIW the relevant coercion was added in https://github.com/rust-lang/rust/pull/37389.

[2018-01-05 18:16] rkruppe commented on #47103
So in the light of the above discussion I would propose:

- Declare *some* SIMD types FFI-safe irrespective of target features, based on architecture and element type and vector length. Which ones exactly is tbd, should probably be based on what C toolchains offer on the respective platform.
- Keep warning on `repr(C, simd)`.
- Keep the `simd_ffi` feature gate which rules out passing SIMD types as

[2018-01-05 18:27] durka commented on #47213
This is the entire reason that inclusive ranges were added.

[2018-01-05 18:41] durka commented on #47213
Actually -- perhaps keep this open as a diagnostics issue? It is possible for `overflowing_literals` to have a note recommending an inclusive range? Sorry for my dismissive tone in the previous comment.

[2018-01-05 18:41] alexcrichton opened #47222 "Incremental compilation + case insensitive filesystems == sadness"
Given this code

[code]

when compiled on (for example) Windows:

[code]

I'll be fixing the ICE as part of https://github.com/rust-lang/rust/pull/47141 as it's preventing it from landing (the ICE isn't really the issue here anyway, it's the "failed to remove" business). This is also a serious problem for linking artifacts!

[code]

cc @michaelwoerister

[2018-01-05 18:43] alexcrichton commented on #47222
Note that this was discovered as part of https://github.com/rust-lang/rust/pull/47141 in [these failing logs](https://ci.appveyor.com/project/rust-lang/rust/build/1.0.5944). Notably the generated bindings in style for Gecko contains a `mod js` *in addition to* a `mod JS`. That didn't cause link errors (thankfully) but is causing the CI to bounce.

[2018-01-05 18:43] alexcrichton commented on #47222
(also the reason for this is that we're putting module names in filenames on the filesystem, and that's how the conflict is arising)

[2018-01-05 19:01] retep998 commented on #47222
Would this be fixed by switching to using hashes as the filenames as proposed in https://github.com/rust-lang/rust/issues/47186?

[2018-01-05 19:08] michaelwoerister commented on #47222
@retep998 Yes, the same fix should apply.

[2018-01-05 19:58] ndarilek commented on #47221
We figured it out. Seems it's a problem with Emscripten's uglify step run in release mode not liking ES6 syntax, which I use in my code. https://github.com/koute/cargo-web/issues/31#issuecomment-355647212

Is this something that rustc can even fix? Could it provide a better error message, or is this an Emscripten issue? It's hard to know where the problem lies with projects built on projects built

[2018-01-05 20:07] serge-sans-paille commented on #46449
For the record, https://reviews.llvm.org/D41296 got merged recently and should limit the memory consumption on debug build too.

[2018-01-05 20:33] cramertj commented on #46584
This is fixed on the current nightly.

[2018-01-05 20:36] cramertj commented on #46470
This is fixed.

[2018-01-05 20:39] cramertj commented on #46469
This works on nightly.

[2018-01-05 20:40] cramertj commented on #46456
@dpc Can you try this on the latest nightly and see if it still breaks? I think this issue was fixed already.

[2018-01-05 20:44] cramertj commented on #45690
This is fixed.

[2018-01-05 20:46] cramertj commented on #44718
@sbwtw I believe this should be fixed now. Can you try on the latest nightly and confirm?

[2018-01-05 20:47] cramertj commented on #43380
@lawliet89 I believe this should have been fixed. Can you try on the latest nightly and confirm?

[2018-01-05 20:48] cramertj commented on #44437
@Arnavion I believe this has been fixed. Can you try on the latest nightly and confirm?

[2018-01-05 20:49] cramertj commented on #44198
This has been fixed.

[2018-01-05 20:51] cramertj commented on #42940
This is an intentional restriction. See [RFC 1951](https://github.com/rust-lang/rfcs/blob/master/text/1951-expand-impl-trait.md) for the reasoning.

[2018-01-05 20:52] cramertj commented on #42399
This is fixed on the current nightly.

[2018-01-05 20:55] cramertj commented on #41182
This is fixed on the current nightly.

[2018-01-05 20:56] cramertj commented on #39722
This is fixed.

[2018-01-05 20:56] cramertj commented on #38615
This has been fixed.

[2018-01-05 20:59] cramertj commented on #39639
Dup of https://github.com/rust-lang/rust/issues/39555

[2018-01-05 21:00] cramertj commented on #39555
Dup of https://github.com/rust-lang/rust/issues/38064

[2018-01-05 21:04] cramertj commented on #37454
This isn't a full solution,  but the code in the original issue report can be fixed using UFCS: `Foo::foo(&f)` works.

[2018-01-05 21:05] cramertj commented on #37096
This has been fixed.

[2018-01-05 21:10] cramertj commented on #36375
Currently, `!` does not implement `Add<u32>`. That's the underlying issue here. In order to fix this in general, IMO we should generate automatic `!` impls of all traits containing only non-static methods.

[2018-01-05 21:11] cramertj commented on #35706
Dup of https://github.com/rust-lang/rust/issues/36792.

[2018-01-05 21:13] Kixunil commented on #27730
Why it isn't implemented as `[None, Some(val)][val.is_null() as usize]`? That'd allow const evaluation even now.

[2018-01-05 21:18] dpc commented on #46456
I am sorry, but I don't have that state anymore, and I haven't seen it for a while now. I think, it being  addressed in nightly is good enough, and I'll always reopen if it resurfaces. Thanks!

[2018-01-05 21:18] #46456 closed

[2018-01-05 21:24] #35706 closed

[2018-01-05 21:24] alexcrichton commented on #44198
Yay!

[2018-01-05 21:24] #44198 closed

[2018-01-05 21:25] ForsakenHarmony commented on #35706
This is the original though? 🙈

[2018-01-05 21:38] nikomatsakis commented on #29743
Seems like #47167 fixes it.

[2018-01-05 21:50] Arnavion commented on #42940
Sure. So can there be a way that I can convince the compiler that `Client::post`'s and `foo`'s results *don't* depend on all the inputs? Maybe it can be made to not override explicit lifetimes like it does in the `Client::post` example? (I recognize this won't help for the `foo` example since there is no way to ascribe a lifetime to T.)

The reasoning in the RFC is that eventually there will be sy

[2018-01-05 21:58] jgraham commented on #47186
FWIW we had problems with overlong paths when running web-platform-tests on Windows in mozilla-central, so it's certainly an issue there. We ended up capping the upstream paths at 150 characters and the in-tree path prefix is about 30, so we are allowing about 75 characters for the build path.

This character counting is obviously terrible, but I don't know of a better solution that works with all

[2018-01-05 21:59] nikomatsakis commented on #46467
@xd009642 is it a problem for you to use nightly for a bit until this fix propagates?

[2018-01-05 22:06] nikomatsakis commented on #42700
It may be that the current output is good enough. The bug was filed to give a suggestion like "try changing to `&'a self`.

[2018-01-05 22:08] nikomatsakis commented on #46557
My expectation is that this will be fixed (along with a number of other bugs) when we transition to the MIR-based borrow checker (and NLL). I guess it's worth discussing whether we feel we ought to try to fix faster than that.

[2018-01-05 22:08] nikomatsakis commented on #46906
@mikeyhew to that end, maybe you can prepare a PR that sets the "default level" for the lint to Deny, and then we can run a crater run?

[2018-01-05 22:10] nikomatsakis commented on #46936
I guess I think it's *ok* to wait for the new epoch -- I would really prefer not to break ring. I think this is a grey line case, where we can justify making the change, but I am not happy with the real-world effects, so it may not be *worth* doing it.

[2018-01-05 22:11] cramertj commented on #42940
Oh, I understand what you're saying now. Yes, if the return type contains an explicit lifetime bound, the compiler should be able to understand that the returned type outlives that lifetime bound. Currently, it cannot do that if there are type parameters involved. This should be fixed. Thanks for the report!

[2018-01-05 22:12] cramertj commented on #46936
Agreed. I will make the change.

[2018-01-05 22:15] nikomatsakis commented on #47168
I agree that `as` is bad, but we've never settled on a "nice" replacement, right? I wish that we had methods like `to_u32()` or something... (why don't we, anyway?).

Anyway, the messages seem ok.

[2018-01-05 22:22] Arnavion commented on #44437
Yes, looks like it. I don't have the original code that I produced the reduced case from, so I'll close this. Thanks.

[2018-01-05 22:22] #44437 closed

[2018-01-05 22:42] bluss commented on #47212
There is a difference -- you need a coercion to convert from the concrete type of some boxed split iterator  `Box<Split<..>` into `Box<Iterator<..>>` (unsizing coercion). The `.map()` version does not support this, or rather, a value inside the `map`'s closure will not coerce due to the expected type outside the map.   I haven't found an open or closed issue on this topic, but there might be one a

[2018-01-05 23:02] bluss commented on #47211
The ICE message is the same as #46069

[2018-01-05 23:24] jseyfried commented on #45216
I think it would be reasonable to avoid stripping derives.

@zackmdavis

The second link is only stripping empty derives and erroneous derives (after emitting an error/warning) -- the second match arm is the successful case and retains the derive. Feel free to ping me on IRC to discuss how to proceed.

[2018-01-06 00:03] xd009642 commented on #46467
So personally it's not a problem for me, however I make an application with users so this does impact the user experience. I've put a note at the top of the project readme which will hopefully mitigate any issues people face and the early February release date for 1.24 lessens the impact as well.

RE the support for code coverage tools not being considered production quality, I do think there is a

[2018-01-06 00:50] abusch opened #47224 "Regression with NLL and RefCell"
Hi,

I have some code similar to the one below that compiled fine up until nightly-2018-01-03, but stopped compiling starting with nightly-2018-01-04:

[code]

The error I now get is
[code]

I was able to work around it by coercing `RefMut<T>` to a `&mut T` using `let foo = &mut *foo.borrow_mut()`, and normal nll rules work as expected. But since it used to work with `RefMut`, I suppose it still s

[2018-01-06 00:59] matthewjasper commented on #47215
Both are solved by mir borrowck/nll.
It looks like ast borrowck incorrectly thinks that thread locals are temporaries, so can be moved from, and drop elaboration doesn't.
https://github.com/rust-lang/rust/blob/b98fd524eca6dca5c4788f0d20becb10e099b876/src/librustc/middle/mem_categorization.rs#L681-L687

[2018-01-06 00:59] HyeonuPark commented on #27730
Or just `transmute`, as it's guaranteed to be no-op by language.

[2018-01-06 01:45] dtolnay opened #47226 "Wrong span in proc macro for part of joint op"
I have the following proc macro called from the following crate. It is intended to display an error pointing to the first `>` of a `>>` joint op. Instead the error points to the whole `>>` pair of tokens.

[code]

[code]

[code]

This makes it impossible to show correct error messages on something like `Option<Option<String>>` for example where you want the span to point out the inner `Option<Stri

[2018-01-06 02:04] mikeyhew commented on #46906
@nikomatsakis done, see https://github.com/rust-lang/rust/pull/47227

[2018-01-06 02:05] fschutt commented on #46998
It could take a while until I can work on this issue again. If somebody else wants to do this, go ahead. I haven't worked on this so far.

[2018-01-06 03:27] WiSaGaN commented on #47211
Closing this because we already have a test added in #46069 fix: https://github.com/rust-lang/rust/pull/46226.

[2018-01-06 03:27] #47211 closed

[2018-01-06 04:02] durka commented on #47207
There are release notes: https://github.com/rust-lang/rust/blob/master/RELEASES.md

[2018-01-06 05:20] #43617 closed

[2018-01-06 05:26] #45690 closed

[2018-01-06 08:11] jsonnull commented on #47194
I've figured out all the issues I was running into, which can pretty much all be summed up as calling `CString::from_raw` without fully understanding the underlying semantics.

The issue with building in debug mode has existed in other reports and seems to be LLVM related.

[2018-01-06 08:11] #47194 closed

[2018-01-06 09:09] PSeitz opened #47229 "File read_at, non-mutable platform independent version"
I have multiple threads reading from a `std::fs::File` handle. The existing Read Trait for File is not so nice in this case because of the mutability`&mut File`. I created the non-mutable platform independent version from the plattform specific counterparts like below.
It would be nice to have this in the standard library.

[code]

[2018-01-06 09:25] nerd2 commented on #47163
PR #47155 has now landed, the following tests were disabled:
basic-types-globals-metadata.rs  // ignore-gdb
basic-types-globals.rs  // ignore-gdb
basic-types-metadata.rs  // ignore-gdb
basic-types-mut-globals.rs  // ignore-gdb
by-value-non-immediate-argument.rs  // ignore-test
c-style-enum.rs  // ignore-gdb
drop-locations.rs  // ignore-test
function-arg-initialization.rs  // ignore-test
function-p

[2018-01-06 09:37] ranma42 commented on #47229
Assuming that `seek_read` actually changes the current position of the file, I am afraid the missing `mut`ability on the `self` argument was overlooked.

[2018-01-06 09:51] nerd2 commented on #47163
@eddyb I had a brief look at option-like-enum.rs and it seems that the DWARF emitted is hardcoding the descriminant to the 0th field? Looked like you had done most recent work in this area. The issue is that the following is emitted as "RUST$ENCODED$ENUM$0$None". Same if the first field of "Full" is u64. cc @tromey i notice you are working in this area too

  enum MoreFields<'a> {
    Full(u32, &'

[2018-01-06 09:52] PSeitz commented on #47229
@tbu-  mentions only WriteFile here: https://github.com/rust-lang/rust/pull/35704#issuecomment-242339887, but the `seek_write` version is not `&mut` https://doc.rust-lang.org/std/os/windows/fs/trait.FileExt.html#tymethod.seek_write

[2018-01-06 09:54] nerd2 commented on #47163
@arielb1 @vadimcn Looking at **drop-locations.rs**, various of the #locs are skipped. I notice that going from "-O" to "-C opt-level=0" fixes the test, on osx at least, but I wasn't sure if that was a valid fix or if this test should still work at O2.

[2018-01-06 10:34] matthewjasper commented on #47224
I think this is expected due to #46984 fixing #46974.

[2018-01-06 10:36] Kixunil commented on #27730
The point is to conditionally return `Some` or `None`

[2018-01-06 10:42] rkruppe commented on #47229
`&File` implements `Read` so reading from multiple threads is perfectly possible.

[2018-01-06 10:57] SimonSapin commented on #27730
@Kixunil that’s an… interesting idea. But I just tried and hit `error[E0379]: trait fns cannot be declared const`.

@HyeonuPark `Zeroable` is a public trait that any crate can implement for its types, but that doesn’t change the memory layout of e.g. `Option<Foo>`, so `transmute` would be incorrect. In fact, the size of `Foo` and `Option<Foo>` might not be the same, and trying to `transmute` does

[2018-01-06 10:58] eddyb commented on #27730
`Zeroable` should be `unsafe trait` FWIW, but `transmute` is checked too early for this, I guess.

[2018-01-06 11:47] PSeitz commented on #47229
I know this is possible, but the unnecessary(?) mut complicates things (a lot in my case).

[2018-01-06 11:47] HyeonuPark commented on #27730
Ah yeah that's the point, I think `Zeroable` should be `unsafe trait`, and also auto-impl.

As I understand, `Option<NonZero<Foo>>` has same size as `Foo` and `Option<NonZero<Foo>>::None` is identical with `std::mem::zeroed()`, as `NonZero` is used by compiler to perform NPO(Please tell me if this is wrong). Then something like this can be possible.

[code]

Does this code makes sense?

[2018-01-06 11:50] eddyb commented on #27730
We should maybe abuse trait privacy (if we can, at all) to make it impossible to implement the trait outside of `libcore` - we don't really support more types than primitives, in `NonZero`.

[2018-01-06 11:58] tbu- commented on #47229
Here's how to read from a immutable reference to a file:

[code]

Your implementation of `load_exact_bytes_at` (and the write counterpart) is buggy if the operating system returns with a short read (write), or if the operating system returns an error.

[2018-01-06 12:01] rkruppe commented on #47229
@PSeitz Complicates how? You already have a `&File`. You just need to add a `mut` to the binding (the `file: &File` parameter or local) that you want to call the method on. No function signature or type change, no lifetime annotations change, etc., just a simple three letters for (at most) every `Read` method call. That doesn't seem like a significant burden, and especially not like one big enough

[2018-01-06 12:01] SimonSapin commented on #27730
I was hoping to land https://github.com/rust-lang/rust/pull/46952 and get `Shared` / `NonNull` out of the way first, but my plan is to propose removing the `Zeroable` trait and replace `NonZero` with 12 types like `NonZeroUsize` and `NonZeroI32`, similar to atomic integer types. That way we avoid the questions of making the trait an auto trait or attempting to prevent more impls of it, since there

[2018-01-06 12:02] #46976 closed

[2018-01-06 12:38] LifeIsStrange commented on #47207
@durka Of course, but there are no releases notes for the beta and nightly releases, so the power users take the unstability and compatibility breakages of beta and nightly, without easily knowing what are the compatibility changes and without knowing what new features/improvments they can use...

So, logically, a side effect of making those releases notes would be to grow the beta/nightly user ba

[2018-01-06 13:41] bltnkl commented on #47207
@durka, changelogs is nice, but the code examples are missing.
For instance, it's not easy to undertstand how to use
https://github.com/rust-lang/rust/pull/45379 - impl FromIterator<()> for () - title isn't clear enough, how can one use it.

[2018-01-06 13:55] PSeitz commented on #47229
Okay, I thought a `&mut` was required. In this case, I don't understand how e.g. that snippet below works. Is this a race condition? Does Rust protect me from race conditions on a single file handle?

[code]

[2018-01-06 14:10] rkruppe commented on #47229
A `&mut self` *is* required, but since the impl is for `&File`, the self parameter is a `&mut &File`.

The file I/O is racy, yes. Rust does not provide guaranteed protection from "logical races", just from *data races*. The operating systems' I/O operations are data-race-free even when multiple threads work on the same file, but even a single I/O operation is rarely atomic (e.g., a read might get

[2018-01-06 14:24] killercup commented on #45516
I've been working towards something like this in <https://github.com/killercup/rustfix/pull/44>. My hope is to use rustfix as a library in compiletest.

[2018-01-06 14:28] vitalyd commented on #47224
@matthewjasper, is there a fundamental reason the OP example shouldn’t work? Is the issue that the fixes also make this case not work, but not necessarily intentionally so to speak?

[2018-01-06 15:58] PSeitz commented on #47229
Do you mean file or std::fs::File? Do you refer to that read-only scenario?

I thought read-only with multiple file handles should be no problem.
Multiple threads with read and writes are of course bad without extra synchronization.

It would be nice if the API was designed, to protect from races on a single std::fs::File.

[2018-01-06 17:05] rkruppe commented on #47229
I meant the `std::fs::File` type.

A `std::fs::File` object has a current read position, which is changed any time you read or seek.

Yes (though again, just a race, not a data race).

Maybe, but backwards compatibility prevents us from changing this.

---

Can this issue be closed now? It seems the proposed API is no longer needed. If you have any further *questions*, I'd direct you to http://use

[2018-01-06 17:32] frewsxcv commented on #47071
i tried setting `RUST_BACKTRACE=1` but no backtrace gets printed upon compilation failure. similarly, i compiled rustc by with `assertions = true` in rustc's config.toml and couldn't seem to get llvm assertions enabled either.

[2018-01-06 17:34] bluss commented on #47224
the `RefMut` value bound in `foo` implements `Deref/Mut` so we should think of the line `foo.v.push(foo.b);` as:

[code]

Unless the deref method has any other treatment than a regular method call, it's not possible to allow this this code, because `.deref_mut()` borrows `foo` exclusively, and is allowed to modify `foo`.

Reading `foo.b` first is therefore something that changes the meaning of the

[2018-01-06 17:43] dvtomas commented on #45067
The same has happened to me. I am using an official MS VirtualBox trial image [downloaded from here](https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/), combination *IE11 on Win7 (x86)/VirtualBox*. When b a project on a VirtualBox shared folde, I get this:

[code]

When I copy the project to a local path, it compiles.
The project has multiple dependencies, and it seems that the *erro

[2018-01-06 17:44] kennytm commented on #46903
#46910 has caused about 40–50% increase in time spent on fulldeps tests. But it is not sufficient to explain the recent timeouts this week since that just means an additional 4 minutes at most.

[2018-01-06 17:54] eddyb commented on #27730
Assuming you mean via a hidden private `NonZero`, then you don't even need to change to compiler.

[2018-01-06 18:03] SimonSapin commented on #27730
Right, I meant "remove" as far as the public API is concerned. We can have a private generic type (with or without a trait bound) in the implementation, or whatever’s easier to maintain for the compiler.

[2018-01-06 18:15] stjepang commented on #47224
It seems like the problem could be solved by inlining the call to `deref_mut` at the MIR level. Then the MIR borrowck would see that the mutable reference to `v` is actually not used before loading `b`. With two-phase borrowing, it all works out.

Is that a feasible solution to the problem?

[2018-01-06 18:19] #47229 closed

[2018-01-06 18:31] hanna-kruppe opened #47234 "2.pow(n) does not optimize well"
A mibbit user noted in `#rust-beginners` that the integer `pow` method with a base of two generates far worse code than a shift: https://godbolt.org/g/mE1wjH (the shift is not equivalent for n >= 64, but you can see that it would still be better code if you accounted for that)

Perhaps we can special case the base 2 and use a shift in that case? One complication is that `pow` is subject to overflo

[2018-01-06 19:24] 6A commented on #47153
I tried fixing the project to determine what exactly caused the issue, but couldn't find exactly what code was doing this. If no similar issue is encountered, I can try rolling back my old code and see if I can make it crash again.

[2018-01-06 19:27] bluss commented on #27741
Are there any open questions for the current `Iterator::step_by`? These original ones seem addressed.  The question of negative steps => defined out by using the `Iterator` interface.

[2018-01-06 20:02] wesleywiser commented on #45875
Thanks! That did the trick!

[2018-01-06 20:19] nagisa commented on #47234
LLVM doesn’t optimise even a

[code]

so I don’t see it being able to optimise the more complicated algorithm used currently.

[2018-01-06 20:24] est31 commented on #47234
Sooo... that means that there should be a MIR optimisation that checks whether the function is `libcore::num::<sth>::pow` and then checks whether the base is a constant expression and a power of two and if is, it should replace the expression by a shift instead?

Or is this rather solved on the llvm side by having a pow intrinsic that works on integers?

[2018-01-06 20:32] sgrif opened #47236 "Deprecated re-exports are ignored"
The following code compiles with no warnings, even though it should emit a deprecation warning. Both Diesel and Futures have mistakenly used this to deprecate items moved to a new location, without realizing that users would never see a deprecation warning.

[code]

[2018-01-06 20:39] sgrif opened #47237 "Using items from a deprecated module does not warn"
Attempting to `use deprecated_module;` or `use deprecated_module::*;` fails, but doing `use deprecated_module::SpecificItem;` compiles with no error. Right now in Diesel I'm actually seeing an even more confusing error:

Even though there is nothing in the project with that name. However, I'm unable to reproduce that issue outside of Diesel.

Regardless, the following code compiles, but should fai

[2018-01-06 20:44] rkruppe commented on #47234
A MIR pass would be a pretty big hammer. We'd have to make this random library function specially recognized by the compiler. Also the implementation effort wouldn't be justified for a one-off optimization.

I think the closest thing to a practical solution would be changing the library code that implements `pow`. The problem with that is that it can't match the current algorithm wrt overflow chec

[2018-01-06 20:45] nagisa commented on #29603
I think we should at least work on stabilising the `weak` and `extern_weak` linkage. Both are very useful and a fairly widespread linkage options that seem to be supported (unlike many other options currently exposed) by at least all of the tier 1 targets.

To give an example of a use-case for `weak` linkage in Rust code (<sup>I need weak linkage for libloading</sup>), one would be for global stat

[2018-01-06 20:45] sgrif opened #47238 "A deprecated module containing tests omits an incredibly confusing deprecation warning that is impossible to silence"
This code demonstrates the issue in question:

[code]

Attempting to run `cargo test` on this will give an incredibly opaque error message: `use of deprecated item 'foo::__test_reexports'`. I had to resort to grepping rustc's codebase to figure out where this was coming from.

Additionally, there is *no* way to silence this error, other than allowing use of deprecated items for the entire crate. A

[2018-01-06 21:04] petrochenkov commented on #47236
Duplicate of https://github.com/rust-lang/rust/issues/23937 (except it's about the user-facing `deprecated` attribute and https://github.com/rust-lang/rust/issues/23937 is about internal stability attributes in the standard library, but the mechanism is the same).

[2018-01-06 21:06] petrochenkov commented on #47236
Also similar to https://github.com/rust-lang/rust/issues/15728, both can be fixed by moving stability/deprecation checking to name resolution stage.

[2018-01-06 21:08] petrochenkov commented on #47237
Duplicate of https://github.com/rust-lang/rust/issues/15702
Similarly to https://github.com/rust-lang/rust/issues/47236 should be fixable by moving stability/deprecation checking to name resolution stage.

[2018-01-06 22:06] GuillaumeGomez commented on #47168
It's part of a more global suggestion engine that is quite "simple" (aka stupid) I wrote a few months ago. Maybe we should start thinking about it and how we could improve depending on the situation?

[2018-01-06 22:12] GuillaumeGomez commented on #46966
I'm not 100% sure it's a good idea. The point is to show how to use it. It'd give a bad example if we used `String` instead of `&str` when it's not needed, don't you think?

[2018-01-06 22:15] jrmuizel opened #47240 "A minimal rebuild of pdb-downloader takes too long"
On my MacBook Pro I see:
[code]
main.rs is only 90 lines

[2018-01-06 22:25] Mark-Simulacrum commented on #47240
Is this the project? https://github.com/jrmuizel/pdb-downloader/

[2018-01-06 22:37] bheisler opened #47241 "libtest Shouldn't Panic On Unexpected Command-line Arg"
Right now, if the user passes a command-line argument to a test or benchmark executable that isn't recognized, it will produce an error like the following:

[code]

There are two problems with this. First, it would be nice to give a cleaner error message, since this is an expected case. Second and more importantly, the panic halts the `cargo bench` or `cargo test` run without running other executa

[2018-01-06 22:55] jrmuizel commented on #47240
Ah yes, sorry. I meant to include that link in the original report.

[2018-01-06 23:08] kornelski commented on #46966
No, I think `String` is clearly better.

For advanced users it doesn't matter, as they'll see the `HashMap` API regardless of key type used.

But for novice users nudging towards `String` is much safer — it's more likely to be the right thing.  The worst case is some overhead and need to call `.to_string()`, which is easier to figure out for novice users than whack-a-mole of lifetime annotations a

[2018-01-06 23:12] leonardo-m commented on #27741
Currently step_by is probably slow ( https://github.com/rust-lang/rust/issues/43064 ), so I suggest to stabilize it only after it becomes fast enough.

Regarding the design, see also:
https://users.rust-lang.org/t/some-more-about-step-by-troubles/11975

[2018-01-06 23:48] Rantanen opened #47244 "E0593 regression when mismatched argument count leads to other errors in Beta/Nightly"
[Playground](https://play.rust-lang.org/?gist=82ecb8cf8079b63430da59e1c455a391&version=nightly)

[code]

Commenting out the `b.to_string()` will yield the `[E0593]` error in all toolchains.

The `[E0619]` alone makes for a very confusing error message, as the user's assumption is that the type of `b` is correct.

[2018-01-06 23:55] GuillaumeGomez commented on #46966
The issue is kinda the same: either we show users that they should use `String` all the time (even when unneeded) or we show an example that we'll let them think that they should **always** use `&str` instead of `String`. Complicated writing doc is...

[2018-01-07 00:03] Thiez commented on #47240
Looks to me like over half the time is spent on running the linker. Which doesn't surprise me, the dependencies are huge! In a debug-build, goblin is a 17MB rlib, indicativ is a 6.2MB rlib, and reqwest is a 28MB rlib. I'm guessing your compile times wouldn't be must better in C or C++.

If rust/cargo had better support for dynamic linking it might go a lot faster.

[2018-01-07 00:37] bluss commented on #43064
@oyvindln Nice experiment (I'd love to see the code). I think the associated type defaults issue is expected, and it seems best to avoid using associated types in specialization for now, even in std.

[2018-01-07 03:14] KallDrexx commented on #47168
FWIW, as someone who used rust a year+ ago before stopping and only just now picking it up 95% of the times the suggestion engine works great and has done a good job on pointing me in the right direction.  It was only this scenario that stuck out to me.

[2018-01-07 05:07] daboross commented on #47212
For completeness: the simplest explicit way to get this to compile is

[code]

It would be awesome if the compiler could infer casts like this through closure boundaries though!

[2018-01-07 05:17] daboross commented on #47224
@stjepang I don't think it's feasible to depend on inlined inner behavior of other functions for borrow checking of an outside function. We might know `RefMut`'s behavior is "sound" and won't change, but that's not necessarily true of other things with Deref/DerefMut.

I mean, a type is literally allowed to do anything inside `Deref` or `DerefMut`, and it _is not a breaking change to change what i

[2018-01-07 06:10] tromey commented on #47163
I'm addressing this more fully in #32920.

[2018-01-07 06:26] PlasmaPower commented on #42164
Now this works, but it breaks proc-macro derives on the same item (parsing fails). Should I report that bug to a different location? It sort of feels like it's rustc's fault, as it's passing the proc-macro invalid syntax.

I think it's odd that a macro can legally expand to invalid syntax...

[2018-01-07 06:47] masonk commented on #43122
I might be missing something in the RFC, but based on the definition of `resume` in the Generator struct, and the given examples, it looks like these generators don't have two way communication. Ideally this language construct would allow us to `yield` values out and `resume` values _into_ the generator.

Here's an example of implementing the async/await pattern using coroutines in [ES6](https://w

[2018-01-07 07:15] comex commented on #47224
Maybe there could be some sort of annotation on `deref` and `deref_mut` allowing the compiler to reorder them - since sane implementations of them will be 'observationally pure'.

[2018-01-07 08:27] matthiaskrgr commented on #45689
Still crashing with
[code]

[2018-01-07 08:40] joshlf commented on #47201
Isn't this disallowed by the [`LocalKey`](https://doc.rust-lang.org/std/thread/struct.LocalKey.html) requirement that a key's "initializer cannot recursively depend on itself"? To be fair, that wording was only added to the documentation recently.

[2018-01-07 12:30] matthewjasper commented on #47224
`DerefPure` has been proposed before as part of https://github.com/rust-lang/rfcs/pull/1646

[2018-01-07 12:56] eddyb commented on #47201
@joshlf We use `thread_local` to hold a raw pointer in a `Cell` in order to do *scoped* TLS, the actual usage of `LocalKey` itself is trivial, it's what we do with the pointer that matters.

[2018-01-07 13:24] stjepang commented on #31844
Would specialization allow adding the following to libcore?

[code]

This way you could implement `Ord` for your custom type and have `Eq`, `PartialEq`, and `PartialOrd` be automatically implemented.

Note that implementing `Ord` and simultaneously deriving `PartialEq` or `PartialOrd` is dangerous and can lead to very subtle bugs! With these default impls you would be less tempted to derive those

[2018-01-07 14:09] bluss commented on #47241
Note on the second part (accepting arguments), it is not so great to have any test runner silently accept unknown arguments. Does it not work for you to run the specific benchmark only, with the argument?

1. Like this: `cargo bench --bench example -- --example`
2. If `benches/example` is actually the *only* real benchmark runner in the package, then just disable bench building for the lib crate i

[2018-01-07 14:22] rkruppe opened #47249 "Stage1 compiler doesn't have error explanations"
On x86_64-*-msvc, while running stage1 tests on clean checkout of 6828cf90146c7fefc4ba4f16dffe75f763f2d910, two tests (`ui/lint/use_suggestion_json.rs` and `ui/explain.rs`) fail because the stage1 compiler doesn't output long error explanations.

Edit: Initially thought this only affected JSON output but `rustc +stage1 --explain` reports "error: no extended information for EXXXX".

[2018-01-07 14:48] bluss commented on #27741
@leonardo-m Good points, I think those are open questions. After having a go at it, I can see that trying to special case `.step_by()` for numeric ranges with a usize step size runs into all the unfun stuff we want to avoid in Rust. Mixing integer sizes just leads to mismatches in several ways.

- Is `.step_by(usize)` appropriate for numeric ranges?
  - Implementation problems include handling too

[2018-01-07 15:34] bheisler commented on #47241
I didn't know it was possible to disable benchmarks for the lib crate. That's useful to know, thanks.

I think the issue with both of these options is that they impose an ease-of-use burden on the end user. Either they have to specify one specific benchmark, or they can no longer use benchmarks in the lib crate at all.

I suppose these limitations are acceptable, at least for now. A better solutio

[2018-01-07 16:59] bstrie commented on #46557
Well before we can discuss whether we ought to get a fix in "faster", we'd need to have an official estimate of when MIR borrowck/NLL is expected to land in stable. :) I've gotten the impression that people have been deliberately noncommittal towards a timeframe up til now, but is it safe to assume that the answer is "hopefully stable sometime in 2018"?

[2018-01-07 18:10] dwrensha opened #47253 ""Conditional jump or move depends on uninitialised value(s)" on feature(generator)"
Valgrind reports use of uninitialized memory in the following program, which was reduced from https://github.com/tokio-rs/tokio-timer/issues/36 and https://github.com/alexcrichton/futures-await/issues/47.

[code]

[code]

[2018-01-07 18:42] bkchr commented on #43301
Can I check in `libtest`, if a `language_feature` is activated? @arielb1 @nikomatsakis @alexcrichton

[2018-01-07 19:04] scottmcm commented on #31844
@stjepang I certainly hope the blankets like that can be added -- `impl<T:Copy> Clone for T` too.

[2018-01-07 19:41] vitalyd commented on #47224
Given how prevalent `RefCell` is, it’d be somewhat of a shame if we can’t make it work well with NLL.  I understand the argument of why it doesn’t work today (ie what @bluss said), but it’s yet another papercut in usability.  The `DerefPure` proposal is a good one.  Even this NLL issue aside, it’d be nice to encode the purity of deref (which as @comex points out is the same impl everyone expects).

[2018-01-07 20:14] Zoxc commented on #47253
Here is a reduced test case:
[code]

It turns out that trans never stores the discriminant for the `Some` constructor here, and it remains uninitialized.

[2018-01-07 20:15] Zoxc commented on #47253
Relevant LLVMIR:
[code]

cc @eddyb

[2018-01-07 20:35] scottmcm opened #47255 "What rule prevents me from Copying arbitrary ZSTs?"
What makes the `clone_token` function in this code example illegal? https://play.rust-lang.org/?gist=f284d059d2ec79b770e887654c402be3&version=nightly

It certainly feels like it ought to be illegal.

But it's not violating any of the usual rules: it's not a data race, the objects sizes match, the alignment requirements are met, it produces an object containing a valid bit pattern for the type, it

[2018-01-07 20:48] netvl commented on #45860
+1 for `filter()` - this also has precedents in other languages:
* [Java: `Optional.filter()`](https://docs.oracle.com/javase/8/docs/api/java/util/Optional.html#filter-java.util.function.Predicate-)
* [Scala: `Option.filter()`](http://www.scala-lang.org/api/current/scala/Option.html#filter(p:A=%3EBoolean):Option[A])
* [Haskell: `mfilter`](https://stackoverflow.com/a/45329288/788207) (a more generi

[2018-01-07 20:49] bluss commented on #42789
I was going to fix this for the slice iterator in #46223, but I have yet to pick it up again (feel free to do that anyone).

[2018-01-07 21:17] sfackler commented on #45547
There's already a `From<IntoInnerError> for io::Error` implementation, so this isn't necessary.

[2018-01-07 21:17] #45547 closed

[2018-01-07 21:32] rkruppe commented on #47255
Unsafe code can do lots of things that don't immediately cause UB, yet which break assumptions other code might reasonably make (leading to UB in that code, or just undesirable behavior). Circumventing privacy as your example does is one of those, and it can cause many issues beyond ZSTs. You can also break invariants of non-ZST types, for example store a NaN value in a `NotNaN` newtype. You have

[2018-01-07 21:33] MOZGIII opened #47257 "Export cfg_if macro"
I was seeking a was to split files for platfrom-dependent code, and found uses of `cfg_if` in rust source tree.
However, that macro is not exported, so I can't use it in my app. Why is that and can we export it?

PS: I'm new to rust.
Using rust stable: rustc 1.23.0 (766bd11c8 2018-01-01)

[2018-01-07 21:33] sfackler commented on #47257
You can pull it in from crates.io: https://crates.io/crates/cfg-if

[2018-01-07 21:35] spacejam commented on #39162
It was a bit of a surprise when I realized an important type that users are exposed to in one of my libraries was not properly documented, despite the crate specifying `#![deny(missing_docs)]`. My use case looked a bit like [this](https://play.rust-lang.org/?gist=20ed101984d17e4209eb56932075395c&version=stable).

[2018-01-07 21:39] MOZGIII commented on #47257
That's good to know. I'll definetly be using that crate for now.
Still curious about the why it's not in a standard library. Could you please point me to the right place to ask this question if it's not appropriate here?

[2018-01-07 21:52] matthewjasper commented on #15855
Now that such enums are allowed the error message is now
[code]

[2018-01-07 22:11] matthewjasper commented on #16418
Fixed in MIR borrowck (and so NLL) cc #23121

[2018-01-07 22:21] przygienda opened #47260 "Generic trait implementation over other traits doesn't work ..."
`
trait X {
    fn a(&self) {}
}

trait Y {
    fn b(&self) {}
}

impl Y for X {}

#[derive(Default)]
struct V {}

impl X for V {}

fn r<T: ?Sized>(e: &T) -> &Y
where
    T: Y,
{
    e
}

fn main() {
    let v = V::default();

    r(&v as &X);
}

`

should compile but it does not. struct V derives implementation of Y over provided impolementation of X but the ultimate casting doesn't work with or

[2018-01-07 22:36] eddyb commented on #47253
That's because `Option<T>` is optimized in that case to the same size as `T` (where `T` is the generator state, I assume), which makes `Some` the identity function (relying on a valid `T`).

I guess generator fields don't have struct semantics but rather union/maybe-uninitialized semantics?

[2018-01-07 23:19] matthewjasper commented on #8636
Updated code:
[code]

See also:
https://github.com/rust-lang/rust/blob/ee220daca345302c3277befee2732b6b2a5a711c/src/librustc_mir/borrow_check/mod.rs#L1743-L1746

[2018-01-07 23:45] Michael-F-Bryan commented on #22194
I also encountered this bug while trying to iterate over boxed trait objects and [posted] to the user forum.

[posted]: https://users.rust-lang.org/t/funny-interaction-between-deref-coersion-and-vec-box-trait/14885/7

[2018-01-07 23:56] estebank commented on #44875
[Current output](https://play.rust-lang.org/?gist=b6eadcd35aaa7a7299b6ace73da4fd98&version=nightly):

[code]

[2018-01-07 23:56] #44875 closed

[2018-01-08 00:54] qnighy commented on #47260
`V` is irrelevant to the problem. The minimal reproduction code is here:

[code]

Then it seems to be a duplicate of e.g. #42923. I think it's a fundamental restriction because if `e: &T` is already a fat pointer (i.e. `T` is a DST value), then there's no room for the vtable.

If you really want to cast a DST value into another trait object, the typical workaround here is to put another level of `

[2018-01-08 01:38] #40985 closed

[2018-01-08 01:44] stjepang commented on #45040
The '🛈' sign being to the left of the function signature was confusing to me. I expected it to provide extra information about the function but it's actually related to the return type `Iter<'a, T>`. Perhaps putting it next to `Iter<'a, T>` would be better-aligned with its purpose?

My intuition is that the spotlight feature should really be just a simple balloon (tooltip) that shows up when hover

[2018-01-08 01:50] stjepang commented on #46344
Should we also add `BTreeMap::remove_entry`?

[2018-01-08 04:14] zackmdavis commented on #47249
(Probably due to 8c9bf663d4a8074e4955d1ad3f85a3b82e946297)

[2018-01-08 04:47] alercah opened #47264 "current_exe documentation incorrectly claims symlink can cause unexpected value"
The documentation for [std::env::current_exe](https://doc.rust-lang.org/std/env/fn.current_exe.html) claims that a symbolic link on Linux can cause an incorrect value to be returned. This isn't true, however; a hard link must be used. The `ld` command given in the example actually creates a hard link since `-s` isn't passed.

[2018-01-08 05:22] lawliet89 commented on #43380
Yep I can confirm it's fixed. Thanks!

[2018-01-08 05:22] #43380 closed

[2018-01-08 06:02] durka commented on #45040
FWIW I *don't* like the mouseover effect. It's surprising when I trigger it unintentionally, making things worse by covering the function signature I was trying to read. And I agree it should be somehow visually associated with the return type, instead of the current confusing location.

[2018-01-08 06:10] segevfiner opened #47265 "Failure building rustc in x86_64-pc-windows-gnu due to missing __imp__fmode"
[code]

This looks like a bug in msys2 shipped `mingw-w64-x86_64-gcc-libs 7.2.0-1`, might be caused by this: https://github.com/mirror/mingw-w64/commit/2e64b9e4537d564478f17b873b2f655f518325ed. Or it could be some bad interaction of this with Rust, not sure if Rust is using it's own shipped tools here.

[2018-01-08 07:48] etaoins commented on #47264
Interestingly the symbolic link does confuse Mac OS X 10.13.2:

[code]

[2018-01-08 07:51] etaoins commented on #47264
Looks like this was fixed in 17380f2ac6d

[2018-01-08 08:10] michaelwoerister commented on #47066
The latest nightly should contain the fix from #47177.

[2018-01-08 09:10] matthiaskrgr opened #47266 "optimization remarks broken, names mangled, no file/line addresses (-C remark=all)"
ad9a1daa819bbeb8e643a01167b3b69055b88d57 added support for optimization remarks ````RUSTFLAGS="-C remark=all" cargo build --release````
however the output is very hard to use since source locations are broken and names are mangled.
[code]

[2018-01-08 10:46] leonardo-m opened #47267 "Significantly slower --emit=metadata"
I have found a significant time increase when I use "rustc --emit=metadata". I have located the source of such difference between two Nightlies, that I've named A and B, the time is for my code:

[code]

If you perform a complete compilation instead of just --emit=metadata the timing difference between the A and B compiler is of course much smaller. But --emit=metadata time is important to verify

[2018-01-08 10:47] leonardo-m commented on #46897
@eddyb , I've tried here: https://github.com/rust-lang/rust/issues/47267

[2018-01-08 10:58] eddyb commented on #47267
cc @michaelwoerister

[2018-01-08 11:19] michaelwoerister commented on #47267
IIRC, metadata generation is the first point where we compute the MIR of most functions, so the slowdown does not have to be specific to metadata encoding.

[2018-01-08 11:38] retep998 commented on #47265
Rust does not use `fmode` anywhere (nor does LLVM). This is likely a bug in MinGW.

[2018-01-08 12:36] messense commented on #17417
Just ran into this today, it really should be documented in the book!

[2018-01-08 12:39] Manishearth commented on #47257
In general there's a very high bar for things being moved into the stdlib.

[2018-01-08 12:39] #47257 closed

[2018-01-08 12:44] whitequark commented on #46034
C++/clang solves this with [-gsplit-dwarf](https://gcc.gnu.org/wiki/DebugFission); to anyone interested in implementing the support, it would be as simple as setting the appropriate LLVM codegen option (as seen in clang):

    llvm::TargetOptions &Options;
    // ...
    if (CodeGenOpts.EnableSplitDwarf)
      Options.MCOptions.SplitDwarfFile = CodeGenOpts.SplitDwarfFile;

[2018-01-08 12:59] albel727 opened #47271 "Rust's stdio should not ignore EBADF error on non-windows platforms"
I've discovered, that `std::io::stdin/out/err()` streams unconditionally ignore `EBADF`-like IO errors on all platforms. This is done by checking the read/write error in a `handle_ebadf()` function.

https://github.com/rust-lang/rust/blob/1ccb50eaa670f86b69e7a64484a8c97e13169183/src/libstd/io/stdio.rs#L123-L128

It appears, that this behavior was first introduced here https://github.com/rust-lang/

[2018-01-08 13:06] eddyb commented on #47271
cc @alexcrichton

[2018-01-08 13:15] vorner commented on #47176
Isn't this the same as #47022?

[2018-01-08 13:19] segevfiner commented on #47265
Very likely, I think it complains about __p__fmode.c from MinGW libmsvcrt.

[2018-01-08 13:23] kennytm commented on #46034
Oh interesting. cc @main-- rust-lang/rfcs#2154.

[2018-01-08 13:32] jonas-schievink commented on #47266
This is to be expected since `--release` disables line info. Mangled names are displayed because they come directly from LLVM and it doesn't know about (un-)mangling.

As a workaround for the mangling issue, you can try to pipe the output through [rustfilt](https://github.com/luser/rustfilt). To get line info, you can probably enable it in Cargo's `release` profile.

[2018-01-08 14:25] main-- commented on #46034
Thanks. I actually knew about this "debug fission" but was not aware that LLVM already supports it. The nice thing about the old `.gnu_debuglink` is that it's so easy to implement - simply read your debug sections from somewhere else. Debug fission is certainly a more modern approach though. Note that even though that GCC page estimates a 70% reduction from dwo files, it only moves `.debug_info`,

[2018-01-08 14:35] tspiteri opened #47273 "floating point `log` methods do not round correctly"
The methods `f32::log` and `f64::log` do not round correctly. As a trivial example, this code
[code]
outputs
[code]

[2018-01-08 15:32] alexcrichton commented on #47066
Looks to be so, thanks @michaelwoerister!

[2018-01-08 15:32] #47066 closed

[2018-01-08 15:35] xftroxgpx opened #47275 "docs: Have panic!() and compile_error!() point to each other in docs"
While viewing the docs for each:
https://doc.rust-lang.org/beta/std/macro.panic.html
https://doc.rust-lang.org/beta/std/macro.compile_error.html
would be real nice to have them link to each other, like an "See also" thing, but probably not as simple as only two words.

(I don't know how to do that or even how to word it, hopefully someone will take this task)

For your consideration.
Thank you.

[2018-01-08 15:35] alexcrichton commented on #43301
@bkchr in libsyntax you may have to pass it in but it's in theory possible, but in libtest itself at runtime I don't believe you can check.

[2018-01-08 16:20] matthiaskrgr commented on #47266
Update: was able to get at least file locations with ````RUSTFLAGS="-C remark=all -C debuginfo=2"````(would it make sense to turn this on by default for remark-all?), however names were still mangled.

[2018-01-08 16:24] pnkfelix commented on #23897
Hmm are we close to being able to close this metabug? I see almost all of the linked issues are now closed; the one remaining one is rust-lang/rfcs#1071, which is more ... philosophical...?

[2018-01-08 16:27] pnkfelix commented on #23897
Yes at this point I think https://github.com/rust-lang/rust/pull/30587 resolved all of our known issues here.

[2018-01-08 16:27] #23897 closed

[2018-01-08 17:13] tspiteri commented on #47273
There is no LLVM intrinsic for logarithms to an arbitrary base, probably because IEEE754 does not include that in its list of recommended correctly rounded functions. So maybe it's not a good idea to try to implement this with correct rounding. However, considering that the other transcendental functions are correctly rounded, the documentation should clearly state that the `log` methods are not,

[2018-01-08 17:14] cuviper commented on #47174
Sorry this has been neglected -- let's try to flag a team:
cc @rust-lang/compiler

[2018-01-08 17:23] alexcrichton commented on #47271
There's not really anything we can do about reuse, we can't protect against that at all. What we can do, however, is protect against accidentally misconfigured dameons or things like that. If you spawn a process that doesn't actually have stdin/stdout/stderr then it's consistent with Windows to ignore that error. Naturally in libstd, however, we go to great lengths to ensure that all spawned proce

[2018-01-08 17:26] #47175 closed

[2018-01-08 17:43] cuviper commented on #45854
Firefox appears to be hitting this now too, while compiling gkrust:
https://bugzilla.redhat.com/show_bug.cgi?id=1523912

[2018-01-08 18:33] roblourens commented on #46484
Thanks for the notes. I may try to work around this downstream just for fixing search in VS Code, but I think that coming up with the right fix for Rust is outside my area of expertise. But I'm hoping that someone is able to look at this because I think it's quite a bad bug.

[2018-01-08 18:39] rkruppe opened #47278 "powerpc: ICE when taking and returning C struct containing u64"
This code, when compiled for `powerpc-unknown-linux-gnu`, results in an ICE:

[code]

Putting smaller integers in `Foo` does not trigger this, even if you use a ton of them. **Edit:** It also does not occur when taking it only as argument, or when only returning it.

Panic message and backtrace:

[code]

Rust version:

[code]

cc @eddyb

[2018-01-08 19:08] leonardo-m commented on #47176
It probably is, thank you.

[2018-01-08 19:23] albel727 commented on #47271
It's not "consistent", because there is zero similarity between situations on Windows and Linux, and so comparing them for consistency here makes no sense.

For Windows running without streams is not an exceptional situation. On the contrary, it's overwhelmingly common for GUI apps to be without console output. It makes sense to not panic there, because the dangerous descriptor reuse problem doesn

[2018-01-08 20:09] albel727 commented on #47271
To reiterate, because reading your message again I began to doubt that you understand the implications, and you appear to have asked for examples when the problem can come up in practice.

on Linux the process will invariably kill your kittens and set your house on fire. You just don't do that on Linux, ever. A daemon that is **accidentally** started like that simply has no way of **NOT** breaking

[2018-01-08 20:17] segevfiner commented on #47265
Using random guess work I added "-lmsvcrt" again to the command line... and it worked... WAT 😖

![magic](https://user-images.githubusercontent.com/24731903/34688786-f60e95c6-f4bb-11e7-80a8-ca45eff1b9cf.jpg)

[2018-01-08 20:21] QuietMisdreavus commented on #43466
Note for people watching this thread but not https://github.com/rust-lang/rust/pull/47046: We're trying to wind that PR down to get a minimal version landed, so an initial implementation is fairly close.

[2018-01-08 20:38] albel727 commented on #47271
Just so that everyone understands Linux descriptor reuse on a concrete example.

https://play.rust-lang.org/?gist=b44be7df66e7dd59ce25209927523782&version=stable

[2018-01-08 21:26] whitequark commented on #46034
But... if `.debug_line` remains in the binary, why would `addr2line` need to read .dwo files? Is it to handle inlined functions? (I am not familiar with that part of DWARF.)

[2018-01-08 21:33] shepmaster opened #47279 "NLL suggests removing mutability from a variable, doing so causes a compiler error"
UPDATE: Mentoring instructions [below](https://github.com/rust-lang/rust/issues/47279#issuecomment-369030830).

---

This code compiles, but with a warning:

[code]

[code]

Removing the `mut` causes a compiler error:

[code]

[2018-01-08 21:35] retep998 commented on #47271
Currently libstd does not cache the result of `GetStdHandle`. This means that each time a read or write is performed, it will call `GetStdHandle` which means you can call `SetStdHandle` and Rust will use the new value. This is why I am opposed to permanently switching to `Maybe::Fake` because even if `GetStdHandle` doesn't return a valid value at the moment, it certainly can in the future.

If a p

[2018-01-08 21:35] shepmaster commented on #47279
Without NLL, the original code has both an error and the warning:

[code]

[2018-01-08 21:40] retep998 commented on #47265
gcc/ld is an order dependent linker. This means that the order in which libraries are passed to the linker heavily affects whether linking will succeed. MinGW simply changed something that changes the order that Rust has to specify the various MinGW libraries in, so someone will have to investigate how to correct the order and submit a PR to fix it.

[2018-01-08 21:50] segevfiner commented on #47265
I'm aware of that. My bewilderment stems from it looking like libmsvcrt.a is dependent on itself in a way that requires it to be listed twice... Rather than some other library having to come before it on the command line. But maybe it's really some other hack MinGW does that causes this behavior...

MinGW depends on symbols from the ye olde msvcrt.dll that comes with Windows. But I'm not seeing it

[2018-01-08 22:00] tanriol commented on #38528
I've tried profiling rustc and getting a backtrace for the generic version by @hcpl [above](https://github.com/rust-lang/rust/issues/38528#issuecomment-348748109) at some random moment of time.

<details>
<summary>Likely relevant lines from the backtrace</summary>

[code]
</details>

The cause in this case seems to be that at every `Chain` the `rustc::traits::project::project_type` function calls

[2018-01-08 22:10] Morga131 opened #47281 "Error on defining function with same name, but different arguments"
This code, when compiled outputs the error

pub struct Vector
{
    x: f64,
    y: f64
}

impl Mul for Vector
{
    type Output = Vector;

    fn mul(self, other: Vector) -> Vector
    {
        Vector { x: self.x * other.x, y: self.y * other.y }
    }

    fn mul(self, other: f64) -> Vector
    {
        Vector { x: self.x * other, y: self.y * other }
    }
}

Same goes for 2 `fn new`s with diffe

[2018-01-08 22:16] #47281 closed

[2018-01-08 22:39] alexcrichton commented on #47267
According to [the list of changes](https://github.com/rust-lang/rust/compare/f8af59d95...0077d128d) the candidates probably are:

* [a number of NLL changes](https://github.com/rust-lang/rust/pull/46582)
* [addition of miri](https://github.com/rust-lang/rust/pull/45002)
* [faster span hashing](https://github.com/rust-lang/rust/pull/46562) (a bit of a stretch)

@leonardo-m would you be able to shar

[2018-01-08 22:39] albel727 commented on #47271
So, from this I gather that if the console is allocated and so `GetStdHandle()` returns a non-sentinel value, then any `ERROR_INVALID_HANDLE` is an actual "output failed to reach console" error as opposed to a mere artifact of Windows not having a console ready. In which case user should probably be notified of that error, just like he would for, say, `EPIPE` on Linux, and the current code always

[2018-01-08 23:01] arshiamufti commented on #45651
Can I take this on? I have some time in the latter half of this month.

[2018-01-08 23:13] AndrewBrinker commented on #47275
I'd love to work on this.

[2018-01-08 23:15] forbjok commented on #46999
I'm running into this issue as well when trying to use the cargo-web crate. Any ETA on this being fixed in nightly?

[2018-01-08 23:17] Moxinilian commented on #46999
If nobody does it before I do, I'll make file parameters default behavior, check if nothing breaks and make a pull request by Sunday.

[2018-01-08 23:37] killercup commented on #33417
If anyone is looking for a quick example of this: https://play.rust-lang.org/?gist=bfc3de0696cbee0ed9640a3f60b33f5b&version=nightly

[2018-01-08 23:39] LegNeato commented on #33158
https://github.com/rust-lang/rust/pull/45225 appears to have landed.

[2018-01-08 23:48] GuillaumeGomez opened #47284 "Broken style in error-index"
As you can see in here: https://doc.rust-lang.org/error-index.html#E0599

I'll fix it in the next hours.

[2018-01-09 00:38] AndrewBrinker commented on #47275
So, the relationship between "panic" and "compile_error" is that panic is meant to signal a run time error from which the thread cannot recover, while compile_error is meant to signal an error in compilation. Generally, compile_error is used in a few select contexts:

1. For better error messages in writing your own macros.
2. For better errors with conditional compilation.

Thinking about it more

[2018-01-09 01:05] daboross commented on #47224
@vitalyd it's worth noting that doing these kind of things _is_ possible with RefCell, and the restrictions aren't new to NLL. It just can't be made into a nice example as other NLL examples can.

For instance, this does work (replacing `f` in the original code snippet):

[code]

I agree that "pure" deref may be desirable, maybe as an unsafe trait, or maybe as some kind of function and/or trait mo

[2018-01-09 01:05] varkor commented on #43061
I'm working on a fix for this. Progress on [this branch](https://github.com/varkor/rust/tree/unreachable-never-patterns). The idea is to avoid the typing issues entirely by terminating the blocks with `unreachable` as soon as a `!`-value is constructed. Currently the examples given here are fixed, but some more convoluted examples still crash.

[2018-01-09 01:11] main-- commented on #46034
Yes. `.debug_line` does not contain inlining info, you need `.debug_info` for that.

[2018-01-09 01:44] alexcrichton commented on #47240
Some local timings:

* 2.9s overall
  * 0.6s for running `cc` (the linker)
  * ~1.2s for running `dsymutil` (had to guess, this isn't timed by rustc by default)
  * 0.5s for all of translation (with a fully warm incremental dir)

Opening up a profiler I see

* 7.6% of time is spent in `DepGraph::try_mark_green`
* 5.9% of time is spent in the `link` function (the libc function `link`)
* 4.7% is `me

[2018-01-09 01:59] NPN opened #47287 "Returning a comparison expression with a match fails depending on the operand order"
Suppose the return expression of a function is a comparison between a match expression and some other operand. If the operand and comparison operator come before the match expression, the code compiles. However, if the operand and comparison operator come _after_ the match expression, the code fails to compile.

[code]
The error is thus:
[code]
Strangely, the code does work if the comparison is a

[2018-01-09 02:30] daboross commented on #46936
Sorry if this has already been elaborated on, but could someone with more knowledge clarify this for me?

Why does the mod resolution in the new system depend on _where the file actually is_, rather than _what the mod name is_?

I thought `foo::bar` would always be located at `src/foo/bar.rs`, regardless of where the `foo` mod file is located? Like, in the new system, `foo` could be at `src/foo.rs

[2018-01-09 02:57] jrmuizel commented on #47240
Given the object files should still be in place is it possible for us to avoid having to run dsymutil?

[2018-01-09 03:28] aidanhs commented on #46936
I've just stumbled across this because rustoto_core hasn't released a new version since removing a dependency on ring. Where is this issue up to? Is it worth backing out the previous PR until a new one with the epoch suggestion is in place?

[2018-01-09 04:04] estebank commented on #45651
@arshiamufti [feel free to do so](https://forge.rust-lang.org/x-py.html) and to ask for help!

[2018-01-09 04:40] alexcrichton commented on #47240
So I, personally, actually have no idea why we run dsymutil. I did a bit of digging to find out and I've never blamed a line of code so far back at this one in Rust's history. Turns out https://github.com/rust-lang/rust/commit/196351aa introduced it, and as with many lines of code written seven (!) years ago it's changed a lot since then and unfortunately doesn't have a ton of rationale for why it

[2018-01-09 05:20] alexcrichton commented on #47240
Interesting though!

So rustc deletes object files that go into rlibs, basically cleaning up after itself. If we *don't* do that, however, then `lldb` appears to work even if the `*.dSYM` is deleted.

And then even more interestingly!

It turns out that if I delete the `*.dSYM` folder then lldb does actually work for dependencies. That actually all makes sense to me I think. I believe that `dsymut

[2018-01-09 07:12] #47197 closed

[2018-01-09 07:12] #47038 closed

[2018-01-09 07:12] #47253 closed

[2018-01-09 07:37] kennytm commented on #46903
#47161 has landed but the error rate is still not decreasing 😢

[2018-01-09 07:40] jan-hudec commented on #31844
I think

should be

`impl<T, U> PartialEq<U> for T where T : PartialOrd<U>`

because `PartialOrd` requires `PartialEq` and can provide it too.

[2018-01-09 08:53] leonardo-m commented on #47267
So far I haven't found a better way to reproduce the problem, my code is not public. But if no one else is having this problem, then it's just a problem of my code, and I'll close down this issue.

A simple thing that I have forgotten to do do is to use "-Ztime-passes --emit=metadata":

A:
  time: 0.058; rss: 32MB	parsing
  time: 0.000; rss: 32MB	recursion limit
  time: 0.000; rss: 32MB	crate inje

[2018-01-09 08:56] eddyb commented on #47267
cc @nikomatsakis

[2018-01-09 08:58] rkruppe commented on #47287
This is known and intentional IIRC, but I can't remember what it's called or where it's documented. It affects every expression that ends in braces, e.g., `{ 1 } > 0` and `if ... { 1 } else { 1 } > 0`.

[2018-01-09 09:05] petrochenkov commented on #47287
Every expression *statement* that ends in braces
[code]

[2018-01-09 11:12] jcowgill opened #47290 "FFI aggregate handling for mips64 is broken"
A number of FFI tests relating to the handling of aggregates fail on 64-bit MIPS:
https://gist.github.com/jcowgill/911a7c3cf3c05c187c7ed1262526de78

It seems to me that `src/librustc_trans/cabi_mips64.rs` has been copied from `cabi_mips.rs` with only minimal changes, however the 64-bit MIPS ABI is significantly different from the 32-bit ABI so I expect that file needs rewriting.

I've had a brief

[2018-01-09 12:37] rukai opened #47292 "incremental compilation + proc macros: undefined symbol error"
[code]

Disabling incremental compilation or deleting the build files fixes the issue.

[code]

# Steps to reproduce

1.   git clone https://github.com/dtolnay/syn
2.   cd syn/examples/heapsize2/example/src/ && CARGO_INCREMENTAL=1 cargo run (build succeeds as expected)
3.   at syn/examples/heapsize2/heapsize_derive/src/lib.rs:20 insert a line "foo()"
4.   cd syn/examples/heapsize2/example/src/ &&

[2018-01-09 13:24] pnkfelix commented on #47249
Should we move these two tests into the `ui-fulldeps/` directory? (If I recall correctly, the test directories with suffix `-fulldeps` are the ones that are only meant to work with stage > 1 compilers, which it sounds like this is an instance of, unless I misunderstand 8c9bf66 ...)

[2018-01-09 13:30] jrmuizel commented on #47240
@luser

[2018-01-09 13:34] rkruppe commented on #47249
I don't fully understand the commit in question, but it doesn't look to me like this limitation of stage1 compilers is intended or unavoidable. If possible without unreasonable hacks, I would err on the side of fixing this rather than making stage1 compilers different in yet another way. cc @alexcrichton

[2018-01-09 13:35] jrmuizel commented on #47240
Yeah, we don't run dsymutil on the c++ part of Firefox builds because we still have all of the object files around.

[2018-01-09 13:59] michaelwoerister commented on #47240
Keeping object files around would also help on Linux where we could use [debuginfo fission](https://github.com/rust-lang/rust/issues/34651) to speed up linking. The same approach might be possible on OS X.

[2018-01-09 14:00] michaelwoerister commented on #47292
Thanks for the bug report, @rukai!

[2018-01-09 14:02] michaelwoerister commented on #47292
Let's see if https://github.com/rust-lang/rust/pull/47181 fixes this...

[2018-01-09 14:16] tbu- commented on #46810
This sounds like it could break reproducible builds.

[2018-01-09 14:19] michaelwoerister opened #47293 "incr.comp.: Optimize DepGraph::try_mark_green()"
`DepGraph::try_mark_green()` is a rather hot function, especially in compilation sessions that see a lot of re-use. It can probably be made faster by:
- [x] using an array instead of a hashmap for storing node colors,
- [ ] and maybe, by re-using the `current_deps` vector among recursive invocations or using a `SmallVec` (although such optimizations can easily backfire, so proper profiling is need

[2018-01-09 14:24] michaelwoerister opened #47294 "incr.comp.: Speed up result hashing and DepNode computation by caching certain stable hashes"
Incremental compilation often spends quite a bit of time computing stable hashes of various things. Profiling shows that a large part of this time is spent hashing `AdtDef` and ~~`Substs`~~ `ty::Slice` values. In both cases it is likely that the same values are hashed over and over again. It's worth investigating whether doing some caching here, [as we do for macro expansion contexts](https://gith

[2018-01-09 14:33] pnkfelix commented on #47055
I think we even observe this locally via the `src/test/run-pass/generator/smoke.rs` test, which for me yields the following under `-Z nll`:

[code]

[2018-01-09 15:04] pnkfelix commented on #29723
I'm increasing priority on this because we should make sure we address it and other related issues as part of migration to NLL.

[2018-01-09 15:08] alexcrichton commented on #47249
Yes this is a limitation of the current stage1 compiler, after the next bootstrap this limitation will go away. If someone's got a better idea for a fix though I'm all ears!

[2018-01-09 15:15] pnkfelix opened #47295 "NLL: need to decide semantics of move guards"
Here is a test that [already exists](https://github.com/rust-lang/rust/blob/master/src/test/run-pass/move-guard-const.rs) in the `run-pass` suite:

[code]

The above is accepted under AST-borrowck. Unfortunately, it is rejected by MIR-borrowck:

[code]

So here's the issue: We were hoping, in MIR-borrowck, to apply a pretty conservative semantics to model the control-flow of match arms, to maximiz

[2018-01-09 15:26] matthiaskrgr opened #47296 "failure to deduce exact vector capacity if vector filled via loop from constant vec"
[code]
Playground: https://play.rust-lang.org/?gist=5127e3f31e4997a2a8947533f699d64e&version=nightly

There is no control flow inside the loop so imo rustc should be able to know that  vec2.capacity() = vec1.len() is sufficient, especially since vec1 is immutable.
Faux from ````##rust```` on freenode provided this example where rust was able to deduce optimal vec capacity:
[code]
Playground: https

[2018-01-09 15:39] michaelwoerister commented on #46810
Given all the anticipated and already encountered trouble (more complicated reproducible builds, unnecessary rebuilds, proc macro handling, etc), I'm closing this issue. Thanks for your feedback everyone!

[2018-01-09 15:39] #46810 closed

[2018-01-09 15:42] michaelwoerister opened #47297 "Speed up SVH computation by using Fingerprint::combine()."
Existing fingerprint values can be merged into one fingerprint via the rather efficient `Fingerprint::combine()` method. We should make use of that during SVH computation instead of re-hashing all those fingerprints.

See here: https://github.com/rust-lang/rust/blob/2e33c89ff1518359c4bd5fbed1571ea00cb3b146/src/librustc/hir/map/collector.rs#L123-L163

[2018-01-09 15:54] rkruppe commented on #47249
Ok, if the problem will fix itself in six weeks, we can just sit out.

[2018-01-09 15:54] #47249 closed

[2018-01-09 16:48] cramertj commented on #46936
@daboross

Your impression is that a `src/whoodliewhatsit/foo.rs` containing a `mod baz;`, introduced by `#[path="whoodliewhatsit/foo.rs"]` in `lib.rs`, would cause `baz` to be included from `src/foo/baz.rs` rather than `src/whoodliewhatsit/foo/baz.rs`? This seems strange to me personally because I would expect submodules to be paired with their parent modules, but the RFC does not clarify the beh

[2018-01-09 17:39] daboross commented on #46936
@cramertj

Yes, that would be my interpretation of the behavior, given that the crate root is at `src/lib.rs`. It seems just like a different interpretation of the "path" attribute: I would interpret `#[path="whoodliewhatsit/foo.rs"] mod foo;` as "the file for foo itself is here rather than src/foo.rs" not "the foo module and all of its submodules are in `whoodliewhatsit/`".

You're right that thi

[2018-01-09 19:01] remexre commented on #24111
Is this the right place to request additional `std` functions becoming `const`? If so, `Duration::`{[`new`](https://doc.rust-lang.org/stable/std/time/struct.Duration.html#method.new),[`from_secs`](https://doc.rust-lang.org/stable/std/time/struct.Duration.html#method.from_secs),[`from_millis`](https://doc.rust-lang.org/stable/std/time/struct.Duration.html#method.from_millis)} should all be safe to

[2018-01-09 19:40] luser commented on #47240
Yes, you're exactly correct. Apple's toolchain does the equivalent of `-gsplit-dwarf` by default, and dsymutil links the debug info. Since rustc runs dsymutil after every link it effectively nullifies the benefits of not linking the DWARF. :) I'm not surprised that lldb supports locating the object files and reading the debug info from there, Apple's gdb supported that as well. (FWIW, the stabs en

[2018-01-09 19:50] jrmuizel commented on #47240
FWIW, Instruments does not need you to run dysmutil to profile Firefox. I'm not sure what tools do.

[2018-01-09 19:52] tonyfinn commented on #46854
Complete example here: https://gist.github.com/tonyfinn/3703455ce6b3be0f880ba1efe1e9649c

I can confirm that this works by activing the NLL feature in the current nightly compiler:

rustc 1.25.0-nightly (b5392f545 2018-01-08)
binary: rustc
commit-hash: b5392f54503fdaf04df4b9578510b2baa944f4af
commit-date: 2018-01-08
host: x86_64-unknown-linux-gnu
release: 1.25.0-nightly
LLVM version: 4.0

[2018-01-09 20:11] SimonSapin commented on #24111
@remexre The easiest way to make it happen is probably to make a PR and ask for libs team review there.

[2018-01-09 20:26] remexre commented on #24111
PR'd as https://github.com/rust-lang/rust/pull/47300. I also added `const` to the unstable constructors while I was at it.

[2018-01-09 21:37] bluss commented on #47255
It was already said over in the other issue, but I think ownership semantics are violated here.

[2018-01-09 21:41] uscmule opened #47303 "Embedded in Rust"
I was following this tutorial:
http://blog.japaric.io/quickstart/

when I run:
xargo build --example hello

I see:
[code]

[2018-01-09 22:24] oyvindln commented on #43064
@bluss
I had something left over from the first attempt that(specializing range): https://gist.github.com/oyvindln/a543f0d62da990c18a3575950c39ada1

Didn't find any code from trying to specialize using the step trait.

[2018-01-09 23:32] #47255 closed

[2018-01-10 00:30] timClicks commented on #45883
@rkarp does this require a local pre-compiled musl build or will cargo/rustc know to build that also?

[2018-01-10 02:19] alexcrichton commented on #47159
Ok I've brought this up with the @rust-lang/libs team during triage today and the conclusion was that we're going to stay the current course and close this issue. @raphaelcohn if you have difficulty updating though please just let us know!

[2018-01-10 02:19] #47159 closed

[2018-01-10 04:17] ipetkov opened #47309 "ICE: Region parameter out of range when substituting in region"
ICE: librustc/ty/subst.rs:424: Region parameter out of range when substituting in region 'a (root type=None) (index=2)

Started getting an ICE on nightly linux builds in travis for [my crate](https://github.com/ipetkov/conch-runtime) while building various integration tests (I've seen builds fail on different integration tests each time). The ICE has reliably occurred on travis during each restart

[2018-01-10 05:00] NPN commented on #47287
So this is not a bug, but an intentional limitation made for better/easier parsing or semantics? I suppose that makes sense, even if it wasn't what I expected. I had assumed that since `if` and `match` statements can be assigned to variables (i.e. they are `rvalues`), that meant that statements could be used anywhere a "normal" value (e.g. `u32`, `bool`) could be used.

I wish there was an explana

[2018-01-10 05:23] dtolnay opened #47311 "Allow proc macro to initialize a private field with a def_site value"
In a struct initializer expression `S { k: v }` generated by a procedural macro where the field `k` is private, it seems *both* `k` and `v` need to be spanned with call_site in order for the generated code to compile. I believe only `k` should be required to be call_site, and `v` should be allowed to be def_site or anything else.

This currently blocks a correct implementation of derive(Deserializ

[2018-01-10 05:25] dtolnay commented on #38356
I filed #47311 which I believe currently blocks a correct implementation of derive(Deserialize). Procedural macros cannot construct a struct that has private fields.

[2018-01-10 05:46] dtolnay commented on #47311
Found a workaround: wrap the def_site value in a set of call_site parentheses. It should work without this workaround.

[code]

[2018-01-10 06:33] #42939 closed

[2018-01-10 06:33] #45562 closed

[2018-01-10 06:33] #47284 closed

[2018-01-10 07:01] dtolnay opened #47312 "Inconsistency between accessing field of braced struct vs tuple struct in proc macro"
If a procedural macro generates an access to a named struct field like `self.x` then the `.` may be either def_site or call_site and it works either way. But if accessing an unnamed tuple struct field like `self.0` then it only works if `.` is call_site.

I believe it should work either way in either case.

[code]

[code]

[code]

@jseyfried

[2018-01-10 07:03] dtolnay commented on #38356
Filed another, #47312 in which access to an unnamed tuple struct field like `self.0` has different requirements on the span of the `.` token than access to a named struct field like `self.x`.

[2018-01-10 07:15] dtolnay opened #47314 "Make std available to proc macro root in phase 1"
Following up on https://github.com/rust-lang/rust/issues/38356#issuecomment-354853399.

The following procedural macro invocation should compile and print `None`.

[code]

[code]

@jseyfried

[2018-01-10 07:21] dtolnay opened #47315 "Improve error from invalid syntax inside `proc_macro::quote!`"
Ideally the ``` `$` must be followed by an ident or `$` in `quote!` ``` error message would not look like an ICE.

[code]

[code]

@jseyfried

[2018-01-10 08:47] #47176 closed

[2018-01-10 09:28] #30132 closed

[2018-01-10 09:32] petrochenkov commented on #47287
@NPN
The explanation is whether we continue parsing operators after an expression statements or not, we'll get wrong results sometimes. This code, for example:
[code]
or this
[code]

You don't want these example to be parsed as multiplication and function call, respectively - `(if cond {}) *
 my_ref` and `(if cond {})(a + b)`.
So, have to make a choice - to continue parsing and get errors sometime

[2018-01-10 09:52] petrochenkov commented on #47314
Another alternative (was decided somewhere in https://github.com/rust-lang/rfcs/pull/2126, but never put into the RFC text) is to add the name `std` into the libstd prelude.

This can be done either through old `$crate` (`pub use $crate as std;`), or new `crate` (`pub use crate as std;`), but not right now because there are some bugs.

[2018-01-10 10:22] michaelwoerister commented on #41184
This is not a problem anymore.

[2018-01-10 10:22] #41184 closed

[2018-01-10 10:41] michaelwoerister opened #47316 "[partitioning] Add heuristic for size of MIR and use it to partition CGUs more evenly."
The compiler usually splits the program into multiple codegen units, so LLVM can optimize them in parallel. The way it does this is by starting out with one codegen unit at per `mod` and then repeatedly merging the two smallest CGUs until the desired number of CGUs has been reached.

However, the way we define "smallest" is very simplistic: We just take the number of translation items in a CGU as

[2018-01-10 10:57] michaelwoerister opened #47317 "Experiment with sharing monomorphized code between crates"
At the moment the compiler will re-instantiate generic code in every crate that uses it. That sounds like a lot of duplicated work. However, we don't have any actual numbers on how much duplicated work. There are a few things we could do:
* Instrument the compiler to count how many duplicated functions we have
* Prototype sharing of generic code and see how it affects compile times and binary size

[2018-01-10 11:08] michaelwoerister opened #47318 "[partitioning] Don't create CGUs below a certain size"
As a followup to #47316: Once we have a more accurate metric for CGU-size, we can also make sure to not sub-divide the program into smaller units than makes sense -- i.e. we don't want to have programs consisting of 16 one-function object files. We'd first have to find out concrete values for what is "too small" though. And I expect this to have little impact in practice. Consider it a mostly aest

[2018-01-10 12:40] michaelwoerister commented on #47186
The latest nightly contains a fix for this issue. Can you test that, @SimonSapin? It would be good to confirm that this actually helps before doing a backport.

[2018-01-10 12:45] michaelwoerister commented on #47222
This should be fixed by #47269 (which is in the latest nightly already). @alexcrichton, was that a regular NTFS file system you were testing this on? In that case it should be easy to write a regression test (that actually triggers).

[2018-01-10 12:47] michaelwoerister commented on #47222
I don't think this is a regression, btw. The underlying logic has been there from pretty much the beginning.

[2018-01-10 12:47] kevincox opened #47319 "Confusing "type parameter" in error message."
I have thought this is odd for a while, however after teaching a Rust introduction class I found numerous attendees stumbling on this weird error for a simple and common case.

[code]

The "found type parameter" part is confusing, as I (and most students) interpret this as some sort of weird syntax-like error. For example it feels similar to the "expected `{`, found `;`" you get from syntax errors

[2018-01-10 13:37] SirVer commented on #47175
@Manishearth Our build is crashing through this bug. Nightly is green again after this PR was merged, however beta is still red.

Will beta still be rolled out to stable and break our build in a few weeks? Or will there be a beta hotfix with this PR included?

[2018-01-10 13:39] pnkfelix commented on #27282
Assigning to self and up'ing priority to P-high to reflect severity for deploying NLL.

[2018-01-10 13:41] kennytm commented on #47175
@SirVer Yes we are going to backport #47208 to beta.

[2018-01-10 13:48] michaelwoerister opened #47320 "incr.comp.: Turn translation-related attributes into a query."
There are a few attributes, like `#[inline]`, `#[cold]`, and `#[target_feature]`, that would profit from being turned into a query:
- directly accessing the `ast::Attribute` will lead to a dependency edge to HIR which is brittle because of spans,
- at least #[inline] is searched for a few times, so caching might be good.

The attributes in question are listed in `trans::attributes::from_fn_attrs()

[2018-01-10 14:01] Manishearth commented on #47175
It's been marked beta-nominated, so it will be included before we make a stable release.

I don't know if it will be included in a new beta before that. Either way, I'm the wrong person to ask, @alexcrichton would know

[2018-01-10 14:05] Mark-Simulacrum commented on #47175
Yes, we will (likely) publish a new beta with this backport. There's 5(?) weeks before the next release, so we'll need at least 2-3 more betas probably

[2018-01-10 14:10] drozdziak1 commented on #40174
Hello,
sorry to dig up a closed issue, but I'm experiencing the same problem during an OpenWrt cross build (`i686-unknown-linux-musl` is the Rust target and VirtualBox is the OpenWrt one). My compiler is `rustc 1.25.0-nightly (61452e506 2018-01-09)`. I've got a couple questions regarding this:
* **Is the root cause known? What is it?**
* **Is there a solution out there?**
* **If not, where can I g

[2018-01-10 14:18] michaelwoerister commented on #47320
`TransFnAttrFlags` should also contain the  `#[rustc_std_internal_symbol]` attribute used here:
https://github.com/rust-lang/rust/blob/27ede55414e01f13c6869a8763da207e544cc6ad/src/librustc_trans/back/symbol_export.rs#L216-L217

It should also subsume the `contains_extern_indicator` and `export_name` queries.

[2018-01-10 14:34] michaelwoerister commented on #47320
`#[linkage]` should also be included as an `Option<rustc::mir::mono::Linkage>` field.

[2018-01-10 14:42] pgkos opened #47321 "Performance regression on nightly (when using Cursor::read_exact and Byteorder)"
The Rust compiler on nightly `nightly-x86_64-unknown-linux-gnu rustc 1.25.0-nightly (61452e506 2018-01-09)` outputs suboptimal code (when compiling using `cargo build --release`) for the following example - it does not inline `Cursor::read_exact`:
[code]
It outputs the following x86_64 code:
[code]
On stable (`stable-x86_64-unknown-linux-gnu rustc 1.23.0 (766bd11c8 2018-01-01)`), it outputs:
[code

[2018-01-10 14:55] retep998 commented on #47222
The regression was when incremental compilation was changed to be enabled by default.

[2018-01-10 14:57] nikomatsakis commented on #46983
So, the NLL region checking errors currently uses the "nice region error" routines if it can:

https://github.com/rust-lang/rust/blob/27ede55414e01f13c6869a8763da207e544cc6ad/src/librustc_mir/borrow_check/nll/region_infer/mod.rs#L990-L996

If not, it fallback to this bad error message. This is the same basic strategy that the lexical region error reporting takes:

https://github.com/rust-lang/rust

[2018-01-10 14:59] alexcrichton commented on #47320
FWIW I started doing this for `target_feature` in https://github.com/rust-lang/rust/pull/47223, although that'd probably just be used for the final implementation of this!

[2018-01-10 15:01] nikomatsakis commented on #47022
I'm digging in. I'll leave some notes here as I go.

Relevant part of the backtrace:

[code]

This is occurring in the liveness code.

[2018-01-10 15:06] alexcrichton commented on #47222
@michaelwoerister this is indeed fixed, thanks!

[2018-01-10 15:06] #47222 closed

[2018-01-10 15:08] michaelwoerister commented on #47320
#47223 looks like a step in the right direction. The important thing is to extract things from attributes into queries so they can be checked for changes separately. However, since many of these things occur together, it would be a nice optimization to coalesce them.

[2018-01-10 15:09] alexcrichton commented on #47320
Indeed!

[2018-01-10 15:16] nikomatsakis commented on #47022
Fix pending in https://github.com/rust-lang/rust/pull/47322

[2018-01-10 15:24] #33903 closed

[2018-01-10 15:24] #46095 closed

[2018-01-10 15:28] nikomatsakis commented on #34308
I'm going to close this as fixed, since as far as I can tell, it is.

[2018-01-10 15:28] #34308 closed

[2018-01-10 15:33] nikomatsakis commented on #47184
I'm tagging this with E-hard because @pnkfelix and I established that as the "have to figure out how to do this" convention. That said, I don't know that it's *that hard*. My rough plan was something like this:

- Extend HAIR/MIR with some sort of extra operations, that assert equality between types.
    - The region renumbering code would know that the types in such operations come from the user,

[2018-01-10 15:43] illicitonion opened #47323 "`cargo test --doc` panics if an empty line is present in a doc comment"
[code]
[code]
[code]

[2018-01-10 15:45] michaelwoerister commented on #47222
I'll do a backport then.

[2018-01-10 15:46] alexcrichton commented on #46449
@nagisa can you confirm this is fixed now that https://github.com/rust-lang/rust/pull/47220 is merged?

[2018-01-10 15:52] psumbera commented on #46679
As mentioned above. With partial fix Firefox build dies later when it calls `clang_visitChildren()`. Which takes three arguments and the problematic first one is again 32 bytes long structure (`CXCursor`).

[2018-01-10 15:57] glaubitz commented on #46679
@psumbera Maybe you can suggest a preliminary patch to at least improve the code generation?

[2018-01-10 15:58] davidtwco commented on #46983
I'll tackle this one.

[2018-01-10 16:19] Twey opened #47325 "`BufWriter` documentation contains an off-by-one error"
https://doc.rust-lang.org/std/io/struct.BufWriter.html talks confusingly about ‘these ten writes’ (resulting from a range `1..10`) when, in fact, only nine writes occur.

[2018-01-10 16:41] michaelwoerister opened #47326 "incr.comp.: Use a struct-of-arrays instead of an array-of-structs for SerializedDepGraph"
This should improve memory consumption and cache locality a bit because we are wasting space on padding bytes at the moment. It should also enable us to bulk-persist parts or all of the graph to disk at once instead of dealing with each value separately.

[2018-01-10 17:23] bmusin commented on #47325
I corrected, please see https://github.com/rust-lang/rust/pull/47330

[2018-01-10 17:52] Mark-Simulacrum commented on #47323
This is expected behavior; the line with `Foo.` gets interpreted as a code block and parsed as an incomplete dot access to a field of the ident `Foo`. As such, I'm closing.

[2018-01-10 17:52] #47323 closed

[2018-01-10 17:57] Mark-Simulacrum commented on #47319
Well, I think rather we can say something like "generic `T`" or similar -- we probably don't want just "`T`" since there could be a type with that name in scope as well.

Likely a rather simple fix, but I wasn't able to quickly find where this diagnostic gets emitted.

[2018-01-10 18:00] Mark-Simulacrum commented on #47296
That's not a deduction, that's an optimization in `FromIterator` for `Vec<T>`... I don't think this is really something that rustc will (ever) be able to do, but for now leaving open and marking as an LLVM bug.

[2018-01-10 18:02] davidtwco commented on #46885
I'll tackle this one.

[2018-01-10 18:21] rkruppe commented on #47296
The capacity is observable behavior (as the programs above show) so LLVM will never change it.

[2018-01-10 18:40] antoyo opened #47332 "Random compilation error with proc-macro"
Hi!
I randomly get the following compilation error when developing a proc-macro:
[code]
Running `cargo clean` fix (temporarily) the issue.
Thanks to fix this issue.

[2018-01-10 18:50] Mark-Simulacrum commented on #47296
Ah, that makes sense. Then I think I'm going to close since it's unlikely that there's anything in particular that we can do for this.

[2018-01-10 18:50] #47296 closed

[2018-01-10 18:57] rkarp commented on #45883
As long as all of your dependencies (and their dependencies) are pure Rust crates, it should work immediately, without you having to play around with musl. If there are any C sources, it gets trickier and you'll have to prepare the musl sources, but it can still be doable (depending on how the C sources have to be built).

[2018-01-10 19:10] sfackler commented on #47332
Duplicate of #47292

[2018-01-10 19:10] #47332 closed

[2018-01-10 20:04] DoctorVWA opened #47335 "File writing error"
When I try to overwrite a file with a string parsed to bytes, for some reason it duplicate the last character.

I tried this code: https://github.com/DoctorVWA/NoteIt/tree/working/

I expected to see this happen: first of all, I build that using `cargo build`, go to `target/debug`, create a note(`note_it create test`) it stores that string in the database: `1;test;false;`, finish it(`note_it finis

[2018-01-10 20:11] SimonSapin opened #47336 "Tracking issue for Box::into_raw_non_null"
This API was introduced in #46952:

[code]

It is intended as an eventually-stable replacement for `Box::into_unique`, since there is no plan to stabilize `Unique<T>` at the moment.

See also discussion at #27730.

[2018-01-10 21:21] tromey commented on #32920
It all seems to be working, so next I'm going to write an LLVM test and submit the LLVM patch.

[2018-01-10 21:30] srinivasreddy commented on #47297
I am taking it.

[2018-01-10 21:45] cramertj opened #47338 "Tracking Issue for Result<Option> and Option<Result> Conversion"
Initial implementation in https://github.com/rust-lang/rust/pull/47193.

[2018-01-10 23:16] db48x opened #47341 "possible bug in procedural macro implementation?"
I wrote a procedural macro which emits code containing a reference to `std::foo::bar`, and got this error:

    error[E0433]: failed to resolve. Could not find `std` in `{{root}}`
     --> src/lib.rs:4:1
      |
    4 | #[lisp_fn]
      | ^^^^^^^^^^ Could not find `std` in `{{root}}`

I've made a simplified testcase and put it online at <https://github.com/db48x/legendary-octo-bassoon>; if you che

[2018-01-10 23:21] estebank commented on #47319
I would go further and say that the full output should be:

[code]

I believe you could modify [`note_and_explain_type_err`](https://github.com/rust-lang/rust/blob/f62f774035735a06c880c48c0b9017fcc0577e33/src/librustc/ty/error.rs#L259-L266) in order to check if the error is of `TypeError::Sorts(ty.sty: TypeVariants::Param(param), _) | TypeError::Sorts(_, ty.sty: TypeVariants::Param(param))` (but n

[2018-01-10 23:33] estebank commented on #47335
I'm sorry but this is the issue tracker for the compiler itself. Questions like this are more appropriate for places like https://www.reddit.com/r/rust, https://users.rust-lang.org and https://stackoverflow.com. It is also better to provide a reduced set of code that replicates the issue you're seeing, so that people are better able to help you.

Having said that, it does seem that it looks to me

[2018-01-10 23:33] #47335 closed

[2018-01-11 00:31] nhynes opened #47342 "proc_macro and no_std"
tl;dr: Trying to port serde to a `no_std` environment requires proc_macro to also be `no_std`. The straightforward approach of subbing out the `std` types in the compiler internals doesn't work.

The specific use case is Intel SGX via rust-sgx-sdk, which provides an  alternative `std`. `extern crate sgx_tstd as std;` doesn't work in the compiler for some reason. Is this a particularly unreasonable

[2018-01-11 00:48] sfackler commented on #47342
Isn't proc_macro only going to be used by the host for the compiler plugin?

[2018-01-11 01:03] nhynes commented on #47342
@sfackler that's a good point. I changed the dependency to vanilla `serde_derive` and it seemed to work. Thanks for your help!

[2018-01-11 01:03] #47342 closed

[2018-01-11 02:47] Lisoph commented on #27721
I strongly agree with widening the API to slice and maybe Vec.

[2018-01-11 03:19] #45875 closed

[2018-01-11 04:25] wycats opened #47345 "Amazon "Application Security Best Practices" Alert Firing"
For a few years, users have been reporting that libskylight.so, a compiled Rust binary, is triggering an Amazon "Application Security Best Practices" inspection with a "High" severity.

The issue is tracked [on our tracker](https://github.com/skylightio/skylight-ruby/issues/51) but we've not had great luck tracking down the source of the problem.

We're using Cargo to compile a `staticlib`, and th

[2018-01-11 04:27] wesleywiser commented on #47294
I'd like to take this. Is there a good test case I can use to measure the speedup?

[2018-01-11 05:47] antoyo opened #47346 "Hygiene affected when using multiple derive"
Hi.
I have a proc-macro that generates a `macro_rules!`.
When I only do:
[code]
I can use the generated macro.

However, if I add another custom derive like in:
[code]
I cannot use the macro anymore…
I get the error:
[code]
Strangely, if I do:
[code]
Putting the `serde` custom derive after mine fix the issue.
I don't know if it is related to `serde` or just a bug with multiple custom derives.
Than

[2018-01-11 06:39] sfackler commented on #47345
What does `readelf -l` report for the .so?

[2018-01-11 06:50] est31 opened #47347 "Privacy policy tracking issue"
A couple of Rust related websites use Google Analytics. Google's TOS [require you](http://www.davemulder.com/2010/07/01/using-google-analytics-wheres-your-privacy-policy/) to provide a privacy policy. I couldn't find any privacy policy for rust related websites, so I'm creating this tracking issue to track adoption of privacy policies.

Edit: the core team has decided to remove google analytics, s

[2018-01-11 06:52] sfackler commented on #47345
Ok, yeah, it's marked as requiring an executable stack:

[code]

A rust-built cdylib doesn't have one, so it seems like this is being injected by the postprocessing?

[2018-01-11 06:59] sfackler commented on #47345
I think it may be as simple as just telling the linker to not set the execute bit: https://github.com/rust-lang/rust/blob/4e56bbeb19c48edf6a211448a6fb5b67b29eceec/src/librustc_back/target/linux_base.rs#L28

[2018-01-11 07:31] steffengy commented on #47188
Duplicate/Related to #44692

[2018-01-11 07:33] Manishearth commented on #29553
https://github.com/rust-lang/rfcs/pull/2287

[2018-01-11 07:41] etaoins commented on #16378
This still occurs with nightly. Interestingly, if the LLVM IR is compiled with an external `llc`/`opt` 5.0.1  it works fine:

[code]

[2018-01-11 08:42] 3442853561 opened #47348 "impl Trait feature is not make code easy"
[code]
Only the `bar` can be debug.

[2018-01-11 09:01] SirVer commented on #47175
Awesome! Thanks for clarifying.

[2018-01-11 09:03] SimonSapin opened #47349 "Improve diagnostics to guide users past Borrow checking regression in brotli"
I mean regression in the sense that code that used to compile doesn’t anymore. Maybe that is an intentional soundness fix.

Compiling https://crates.io/crates/brotli / https://github.com/dropbox/rust-brotli with:

* rustc 1.25.0-nightly (61452e506 2018-01-09): OK
* rustc 1.25.0-nightly (f62f77403 2018-01-10): borrowck error:

[code]

Commit range: https://github.com/rust-lang/rust/compare/61452e50

[2018-01-11 09:17] eddyb commented on #47349
cc @nikomatsakis

[2018-01-11 09:28] eddyb opened #47351 "const fn arguments not properly checked for destructors."
These currently compile, even if they can be used from compile-time code to trigger a drop:
[code]
cc @alexreg

[2018-01-11 09:42] sanpii commented on #47303
The same as #47040

[2018-01-11 10:59] nikomatsakis commented on #47189
So I have a fix for this issue that causes us to accept the code. I am not entirely sure if we *should* be accepting it, though. I have to look more closely at the MIR, I guess.

[2018-01-11 11:07] nikomatsakis commented on #47189
Well, I opened a PR to at least fix the ICE.

[2018-01-11 11:24] leonardo-m opened #47354 "[Nightly Regression] False positive warning with constants in conditional"
This is modified code from a real regression in my code:

[code]

[code]

D language and C++17 avoid such problems using "static if" and "if constexpr".

[2018-01-11 11:27] michaelwoerister commented on #47294
Great, thank you @wesleywiser!

You should see speedups in all incremental builds. In debug builds they should be more pronounced. In builds with an empty cache the absolute compile time difference should be greater because those builds have to do the most result hashing. In builds with a full cache there should also be a speedup but it might be small. Result hashes are loaded from disk in this ca

[2018-01-11 12:02] pnkfelix opened #47355 "x.py build changed how paths are printed => hyperlinks (in e.g. emacs) do not work"
At some point in the recent past, *something* in one or more of our tools has broken so that the paths printed during compilation errors/warnings are not presented relative to the current directory.

E.g., when I am building with current directory `~/Dev/Mozilla/rust-mirborrowck/objdir-dbgopt/`, via the command `../x.py build --incremental --keep-stage 0 --stage 1 src/libstd`, I now get output wit

[2018-01-11 12:04] pnkfelix commented on #47355
This is of course easy for a veteran to work around by manually opening up the files in question, which is why I suspect no one had filed this issue yet. But its probably really bad for a newcomer, and its an annoyance even for veterans.

[2018-01-11 12:04] michaelwoerister commented on #47297
Thank you, @srinivasreddy! Let me know if you need any further directions.

[2018-01-11 12:18] pierzchalski commented on #42164
@PlasmaPower That sounds a rust-lang/rust problem, yes. Have you filed an issue? I'd love to see a short example of the failure.

[2018-01-11 12:22] nagisa commented on #47303
Closing because duplicate as noted above.

[2018-01-11 12:22] #47303 closed

[2018-01-11 13:11] kevincox commented on #47319
This seems a little unnecessary to me as the names are often obvious enough. But I'm not opposed to this.

[2018-01-11 13:16] nagisa commented on #46449
Yeah, I can compile current shadowsocks master just fine.

[2018-01-11 13:16] #46449 closed

[2018-01-11 13:17] Zoxc commented on #47355
This seems to be due to https://github.com/rust-lang/cargo/pull/4788.

cc @alexcrichton

[2018-01-11 13:34] xftroxgpx commented on #47275
I usually only remember the existence of `panic!` but I do know there's an equivalent for erroring during compile time, so I would just go ahead look up `panic!` and "expect" to find a link to `compile_error!` :)

I personally don't think they'd be any confusion between the two, mainly because I assume the wording would be slightly more verbose than simply "See also: panic!" or "See also: compile_