[2017-12-19 13:52] pietroalbini commented on #46823
I'll look into this in a few hours.

[2017-12-19 14:09] nodakai commented on #46837
I'm sort of surprised to see when rustc caught the duplication it only raised a warning.

* https://github.com/rust-lang/rust/blob/master/src/libsyntax/diagnostics/plugin.rs#L69

Maybe a hard error?

[2017-12-19 14:22] hgallagher1993 commented on #46816
I'll take this on if it's not massively urgent because Christmas week and maybe the week after will probably be pretty busy for me.

[2017-12-19 14:57] alexcrichton commented on #46816
@hgallagher1993 awesome! Let me know if you need anything!

[2017-12-19 15:11] toidiu commented on #44493
@Yoric yea still making progress and iterating on one PR so as not to queue up bors

[2017-12-19 15:21] Firstyear commented on #39699
Hi, sorry to bump this again, but @kennytm @aturon @japaric, would you be able to look at this and comment on why this is still blocked from being in "not-nightly"? We really need this support for our project to be able to adopt rust 100%.

Thanks,

[2017-12-19 15:26] wesleywiser commented on #45875
@michaelwoerister I made some progress over the weekend. I've added methods to the `Encoder` and `Decoder` types for manipulating raw bytes using the same kind of technique as the code that handles `str` values (emit `usize` length prefix and then raw bytes). This got me thinking, by using these functions to handle the `Fingerprint` type, it will use one `usize` plus a `[u8; 16]` consuming 192 bit

[2017-12-19 15:52] Razican opened #46840 "[ICE] Compiling the `select` crate"
Dear community, I tried to run the following command in a code I'm writing:

[code]

And once it gets to the `select` 0.4.2 crate, I get this error (with its backtrace:

[code]

Let me know if I could help you with further information.

[2017-12-19 15:55] SimonSapin commented on #27730
The `PhantomData` concern has been resolved in https://github.com/rust-lang/rust/pull/46749.

So I’d like to propose now:

* Rename `Shared<T>` to `NonNull<T>` and stabilize it. (Being in the `ptr` module is enough to say that it’s a pointer. I’m not very attached to this specific name though.)
* Rename `Box<T>` methods `from_unique`/`into_unique` to `from_nonnull`/`into_nonnull` (or whatever name

[2017-12-19 16:05] michaelwoerister commented on #45875
For these methods we assume that we already know how many bytes we want to read or write, so you don't have to encode the length. I suggest making the parameter for the write method `&[u8]` and the parameter for the read method `&mut [u8]`. In both cases the length of the slice tells you how many bytes you are dealing with. Both methods would return a `Result<(), _>` and for the read method we ass

[2017-12-19 16:19] pnkfelix commented on #46628
FYI here is a version that doesn't rely on reading from stdin (and thus may serve as a better basis for a unit test when this is fixed):

[code]

[2017-12-19 16:58] pnkfelix opened #46841 "src/test/compile-fail should have more files in subdirectories"
Github refuses to list more than 1,000 files in a given directory listing.

As of this writing, its web interface reports that 1,260 entries are omitted from the printout for https://github.com/rust-lang/rust/tree/master/src/test/compile-fail

This has a simple fix: More subdirectories.

In particular, many of the tests even have a prefix that strongly implies a potential subdirectory to move that

[2017-12-19 16:59] pnkfelix commented on #46746
Hmm it seems according to https://github.com/rust-lang/rust/blob/master/src/test/compile-fail/borrowck/borrowck-issue-14498.rs that the proposed invariant does not hold. Good thing we attempted to check it!

Compiler error (once I added a relatively narrow assertion to the MIR borrowck):

[code]

[2017-12-19 17:33] luser commented on #46816
I doubt anyone is going to be relying on anything for the next few weeks. :) If you get a working patch and want someone to test it, drop us a line and @mshal would likely be interested!

[2017-12-19 17:39] K900 opened #46843 "ICE with match on non-const functions in constant definitions"
[code]

[code]

([playground](https://play.rust-lang.org/?gist=537f252c52447e25c6b072d469d5232a&version=nightly))

This ICEs on nightly/beta, but produces a correct error on stable.

Originally reported on Reddit [here](https://www.reddit.com/r/rust/comments/7kulgv/before_i_report_this_as_a_bug_let_me_ask_here/).

[2017-12-19 17:46] jamesmunns commented on #46822
Hey @malbarbo, a bit of quick background information:

The `armv5te` architecture is a little weird for an ARM architecture, as the CPU has no direct CPU level atomic instructions (excluding the use of `Arc<_>` or anything that relies on it, which is a good portion of `std`). Linux provides a "workaround" for this by allowing OS level atomic instructions which provides a slower, but usable set of

[2017-12-19 17:50] QuietMisdreavus opened #46844 "rustdoc: integrate a proper warning/error handler"
The current markdown rendering warnings are just a collection of `println!()` statements. It would be worthwhile to create a `rustc_errors::Handler` for rustdoc to properly emit errors from, so that these and others can be given proper formatting, and possibly even a mini lint system, or at least being able toggle specific errors between allow/warn/err.

[2017-12-19 18:05] parched commented on #46822
Looks like the problem is the previous code is from libgcc but the new code is from https://github.com/rust-lang-nursery/compiler-builtins/pull/115.

cc @Amanieu

[2017-12-19 18:15] jamesmunns commented on #46822
I can confirm the `-17` version also fails on real `armv5te` hardware:

[code]

My ARM assembly is a bit weak, so I may not be able to help @Amanieu, but I am happy to test any potential changes on my side (and with my hardware).

[2017-12-19 18:26] malbarbo commented on #46822
Thanks @jamesmunns and @parched for taking a look at this.

[2017-12-19 18:28] Amanieu commented on #46822
@jamesmunns Could you try running the program in gdb and disassembling the function in which the crash occurs?

[code]

[2017-12-19 18:41] eddyb commented on #46843
cc @arielb1 @nikomatsakis Did anything change in pattern-matching between stable and beta?

[2017-12-19 18:56] K900 commented on #46843
I'm bisecting as I'm writing this, but it's taking a while on my dual-core laptop :(

[2017-12-19 18:58] eddyb commented on #46843
cc @Mark-Simulacrum

[2017-12-19 19:00] gereeter opened #46845 "Unions with uninhabited variants are considered uninhabited"
Uninhabited variants should ideally be irrelevant to the representation, just like in enums.

As a test, this prints out 0 instead of 8:
[code]
This happens because rustc considers unions more like structs than enums, and the [test for uninhabitedness](https://github.com/rust-lang/rust/blob/b39c4bc12358078f77ddd01288b24252f757f37d/src/librustc/ty/layout.rs#L1361-L1364) sees a single variant with t

[2017-12-19 19:32] durka commented on #46845
This becomes a problem when making an array of unions:

[code]

The above code represents a regression (prints 42 on stable, garbage on beta/nightly).

[2017-12-19 19:55] johnklai1 opened #46846 "serde compilation is not deterministic"
I was looking into why sccache was missing more than expected, and it looks like serde_derive compiles are not deterministic.

I tried this code on OSX 10.12 (Xcode 7.3.1)
[code]

I expected that the MD5s would be identical after deleting and re-running cargo build.  I ran with just the underlying `rustc` command, and that also generated different files each time.  Here is the underlying rustc com

[2017-12-19 20:09] gereeter commented on #46845
I didn't realize it was a regression to beta - in that case I'll put up an independent fix so that it can be backported if desired.

[2017-12-19 20:18] GuillaumeGomez opened #46848 "sidebar isn't working on ios safari"

[2017-12-19 20:18] matthewjasper commented on #46834
Minified:

[code]

If the help message showed anything if should point to the `Fn()` bound.

cc #46020

[2017-12-19 20:30] Manishearth opened #46849 "Remove old quasi quoting APIs"
We still have the `quote_foo!` macros. They aren't used anywhere within rustc, and they are used by cargo and clippy for testing syntax extension related things.

We can update cargo and clippy to use other APIs (and eventually move them to TokenStream).

https://github.com/rust-lang/cargo/pull/4838 is the cargo PR; will make a clippy one shortly.

[2017-12-19 20:34] scottmcm commented on #46791
Related: https://github.com/rust-lang/rust/issues/21232

[2017-12-19 20:39] AdamNiederer opened #46850 "AArch64 benchmarking assertion failure"
Repro:
[code]
.cargo/config
[code]
Outputs:
[code]
[code]
[code]
Offending assertion is [here](https://github.com/rust-lang/rust/blob/master/src/libtest/stats.rs#L293)

[2017-12-19 21:20] parched commented on #46822
[code]
This can't be right, can it? `r0` is one of the arguments to that call? I wonder if LLVM is mucking up the register allocation for the inline assembly.

[2017-12-19 21:23] gereeter commented on #46845
Although I can't trigger it on the playground, you code is actually triggering an ICE for me:

[code]

[2017-12-19 21:28] Mark-Simulacrum commented on #46843
cc @est31 -- Is there a chance you could run bisect? We should really get playground to be capable of doing it...

[2017-12-19 22:34] tonyfinn opened #46854 "Immutable borrow seems to last too long - unclear compiler error"
I'm trying to make a lazily loaded map of textures while learning Rust. I have the following struct:

[code]

My first attempt at implementing lazy loading looked like this:

[code]

From my understanding of Rust from [listing 4-1](https://doc.rust-lang.org/book/second-edition/ch04-01-what-is-ownership.html) and the example of [creating a new scope for mutable references](https://doc.rust-lang.org

[2017-12-19 22:39] gereeter opened #46855 "ICE: using operand local as place"
The following code, extracted from #46845, causes an ICE on the 11-27 nightly ("rust 1.23.0-nightly (827cb0d 2017-11-26)") but does not error on the 11-26 nightly ("rust 1.23.0-nightly (e97ba83 2017-11-25)"):
[code]

This only triggers when `mir-opt-level` is at least 1. Since it is the only commit in between the nightlies that seems to modify the MIR or have anything to do with MIR optimization,

[2017-12-19 22:42] arielb1 commented on #46628
cc @nikomatsakis

[2017-12-19 22:44] arielb1 commented on #46845
cc @eddyb

[2017-12-19 22:45] arielb1 commented on #46840
duplicate of #46769, should be fixed in the next nightly.

[2017-12-19 22:45] #46840 closed

[2017-12-19 22:52] MaikKlein commented on #44334
Resolved by https://github.com/rust-lang/rust/pull/45525

[2017-12-19 22:52] #44334 closed

[2017-12-19 23:03] QuietMisdreavus commented on #44732
I just opened https://github.com/rust-lang/rust/pull/46858 as a grab-bag to address the discussion so far.

[2017-12-19 23:37] gereeter commented on #46845
I put up a PR to fix this, but I'm still confused about the ICE (which I moved to #46855).

[2017-12-20 00:16] scottmcm commented on #46855
Definitely seems to be exposed by this MIR optimization:
[code]

I'm still looking for where things are fully going wrong...

[2017-12-20 00:50] goodmanjonathan commented on #46854
Non-lexical lifetimes (NLL) should allow this in the future [http://smallcultfollowing.com/babysteps/blog/2016/04/27/non-lexical-lifetimes-introduction/]. Right now, it's available on the nightly compiler using the options -Z borrowck=mir -Z nll.

[2017-12-20 00:50] estebank commented on #46135
You're right.

I believe lifetimes only get passed from `impl`s to a nested `fn`s, but not from an `fn` to a nested one or [between nested `impl`s](https://play.rust-lang.org/?gist=b6756fd193a834c4045242d7b20bc531&version=stable).

I believe that is the case.

[2017-12-20 01:25] jtremback commented on #29661
I'm trying to make a trait with a function that returns an iterator and this is tripping me up;

[code]

[code]

https://play.rust-lang.org/?gist=1197424c5b9c3f16c6cdfc80fe744d5c&version=stable

[2017-12-20 01:25] est31 commented on #46843
@Mark-Simulacrum not today, sorry. Maybe on friday...

[2017-12-20 01:40] Amanieu commented on #46822
@parched The `blx` instruction should be supported on all ARMv5 systems. Are you sure your hardware isn't ARMv4 by any chance? You are getting the same `Illegal instruction` crash as @jamesmunns, right?

[2017-12-20 01:42] Amanieu commented on #46822
@parched Actually, you are right, there does seem to be something wrong with the register allocation. I'll look into it.

[2017-12-20 01:45] Amanieu commented on #46822
See https://github.com/rust-lang-nursery/compiler-builtins/pull/218

[2017-12-20 01:49] nikomatsakis commented on #46628
Works on nll-master (i.e., the code found here https://github.com/rust-lang/rust/pull/46862).

[2017-12-20 01:50] jrmuizel opened #46863 "Bounds check not omitted"
[code]

Compiles with -C opt-level=3 -C panic=abort to:
[code]
It should be possible for the bounds check to be dropped.

[2017-12-20 01:59] est31 commented on #42786
One can apparently turn off network access via unshare: https://github.com/rust-lang/cargo/pull/4770#issuecomment-352872947

[2017-12-20 02:08] RReverser commented on #27721
@shahn That shouldn't be a big problem - if `Pattern` is implemented for such function, then `split` could support `Pattern` without breaking backwards compatibility.

[2017-12-20 02:09] nikomatsakis commented on #46628
However, the error message on the original example is not quite what I had hoped for:

[code]

gives

[code]

[2017-12-20 03:08] pornel commented on #45720
Similar request: https://github.com/rust-lang/rust/issues/40363

[2017-12-20 04:17] metux opened #46865 "rustc: sane handling for failed memory allocation"
There should be a sane handling of failed memory allocation (eg. when virtual memory exhausted),
at least issue a proper error, instead of just segfaulting.

[2017-12-20 04:30] andersk opened #46866 "Misleading suggestion for unused shorthand field pattern"
[code]

gives

[code]

You can’t just change `start` to `_start` here, of course—we should suggest `start: _` instead.

[2017-12-20 05:05] eddyb commented on #46855
`Len` forces the array to be in memory, but there's nothing handling non-memory indexing. `[(u64, !); N]` should also reproduce, maybe?

Ideally this would be moved to the group above itsef (that does nothing):
https://github.com/rust-lang/rust/blob/edbd7d232ee1272285be332b8a38eb47b4c8f5c6/src/librustc_trans/mir/analyze.rs#L194

That way `Len(local)` doesn't require the `local` to be in memory and

[2017-12-20 05:14] robert-w-gries opened #46867 "Segfault while improperly storing trait object pointer"
### Summary

I attempted to pop a trait object pointer off the stack and cast the raw pointer into a trait object.  My first stab at this code was incorrect, but it strangely triggered a segfault in `rustc` instead of returning a compilation error.  The incorrect code involves popping `*mut &MyTrait` pointer value into a data type of `*mut MyTrait`.  Fixing the incorrect code avoids the segfault i

[2017-12-20 05:59] dtolnay opened #46868 "column!() should start at 1 not 0"
In #46762 we noticed that column numbering is handled inconsistently throughout Rust. As of 1.22, panic columns are reported starting with 0.

[code]

Except panics that originate within the compiler which seem to start with 1, at least in the following case.

[code]

For #46762 we decided to at least make all panics consistent and go with 1 based. Discussed with the libs team today and we would b

[2017-12-20 07:09] jD91mZM2 commented on #46834
@matthewjasper That doesn't seem to give the hint in the playground. Ooooh, maybe the reason I couldn't make a minimal example is because the playground has a different rust version?

[2017-12-20 07:20] est31 commented on #46868
Definitely! We'll only have to coordinate with #46762 as if they get merged in the wrong order we might get into issues :). I'll have a look at this at friday.

[2017-12-20 07:20] Dynisious commented on #37903
Any new word on this topic? I feel it could be a useful change for a number of cases e.g. a macros which creates functions in my case.

[2017-12-20 07:39] qnighy commented on #46813
A TODO in #13231 would be related:

[2017-12-20 08:12] matthewjasper commented on #46834
Looks like this is only an issue on beta/nightly.

[2017-12-20 08:28] oli-obk commented on #46826
@omakk great! Feel free to ping me on irc or ask any questions here.

I think an experimental implementation of using a diff crate would be the way to go as @durka suggested.

[2017-12-20 08:28] Manishearth commented on #46849
Cargo landed. Blocked on https://github.com/rust-lang-nursery/rust-clippy/issues/2283

[2017-12-20 10:10] ZhangHanDong opened #46871 "why havn't implemented Error trait for std::option::NoneError ?"
Forgot it? Still for other reasons.

[2017-12-20 10:16] jD91mZM2 commented on #46834
Ok that's interesting because I wasn't using nightly 🤔

[2017-12-20 10:49] kennytm commented on #46871
See also: https://internals.rust-lang.org/t/should-noneerror-implement-the-error-trait/6312

[2017-12-20 10:51] jamesmunns commented on #46822
Hey @Amanieu, I don't currently have a build for my device that has gdb enabled on that device (I'm not actively working on that device at the moment), do you still need this, or should I wait for the next nightly to come through to test the changes introduced by https://github.com/rust-lang-nursery/compiler-builtins/pull/218 ?

Let me know, if you still need it, I will set up a new build and imag

[2017-12-20 11:18] Pauan commented on #44006
@jonhere WebAssembly is *not* always running in a JavaScript environment. WebAssembly has been specifically and intentionally designed so that it is *completely* separate and unrelated from JavaScript.

There are already implementations for [running WebAssembly in C](https://github.com/kanaka/wac), [running WebAssembly on the JVM](https://github.com/cretz/asmble), and even [running WebAssembly on

[2017-12-20 11:32] Amanieu commented on #46822
@jamesmunns You should wait for the next nightly. The previous code was definitely broken.

[2017-12-20 11:53] DawidPi opened #46872 "Inefficient write! macro with vector"
write! macro, that uses vector to write it's elements into a file is inefficient, as it make write() system call for each letter stored in vector of chars. It could be implemented in a way, that only one write system call is made with all the data, that is to be written.

source code, that shows the issue can be seen with following source code:

[code]
(there is a wrong error log if writing fails

[2017-12-20 12:02] oli-obk commented on #43982
ping @michaelwoerister I just ran into this

[2017-12-20 12:39] leonardo-m opened #46873 "Possible single_use_lifetime false positive"
Perhaps here I am missing something and it's just a mistake of mine, but even in such case, other programmers could trip like me and they could enjoy a better error message.

I have this small program, it compiles without warnings and works:

[code]

I've tried to use the new `single_use_lifetime` lint, if I uncomment the `#![warn(single_use_lifetime)]` line, I see the warnings/errors:

[code]

Us

[2017-12-20 12:52] ZhangHanDong commented on #46871
@kennytm thanks

[2017-12-20 12:53] michaelwoerister commented on #43982
Maybe @nrc can help debug this? It seems that in `DumpVisitor::process_formals()`, one of the `collected_idents` (with `NodeId=1`) is something that is not actually part of the function being visited, thus triggering an assertion when we try to look up the type of that node. It looks valid to me that the assertion is triggered. But it's strange that the `PathCollector` there should find that node.

[2017-12-20 13:09] est31 commented on #46819
And of course we can also use this to get rid of `-alt` artifacts, as we can just ship llvm instead of having to compile a separate set of the entire rust toolchain.

[2017-12-20 13:35] nikomatsakis opened #46875 "NLL and Borrowck dataflow disagree on the meaning of a location"
In the NLL regions, if a region contains a location L, that means that the region contains the **entry point** to that location. In the borrow dataflow, however, when we apply statement effects, they take place on the **exit** from a location. The end result is that kills for borrows are applied slightly too late. Consider something like:

[code]

The region for P would be inferred to {L1, L2}. Th

[2017-12-20 13:37] nikomatsakis commented on #46875
Sample test case that was failing: src/test/ui/nll/ty-outlives/projection-implied-bound.rs

[2017-12-20 13:43] pnkfelix opened #46876 "compiler code cleanup: replace metas: HashMap with IndexVec"
While investigating the root cause(s) of #46112 and discussing (in the `#rustc` IRC chat room) the use of a hashmap mapping crate-numbers to crate-metadata, @eddyb [at some point exclaimed](https://botbot.me/mozilla/rustc/2017-12-19/?msg=94834353&page=1) "why is that not an `IndexVec`?"

One word: Legacy. Big time: the `metas` field has been a hashmap ever since `metadata::cstore` was introduced,

[2017-12-20 13:47] Deewiant commented on #46843
I decided to bisect this myself and found 5b1cc1d810 (or #45821 as a whole) to be the cause, and created #46877 to fix it.

[2017-12-20 13:52] malbarbo commented on #46822
@Amanieu Thanks for working on this. I made a [PR](https://github.com/rust-lang/rust/pull/46878) updating `compiler_builtins` crate.

[2017-12-20 14:25] nikomatsakis commented on #46875
After some review of the code and discussion with @pnkfelix, we proposed generalizing the dataflow API slightly to handle this. The idea is to have:

- `statement_effect(statement)` means the effect a statement has
- `terminator_effect(terminator)` means the effect of the terminator up to -- but not including! -- the branches (also kind of as today)
- `edge_effect(terminator, successor index)` mea

[2017-12-20 14:28] steveklabnik opened #46879 "Clarify confusing wording on Vec"
Originally reported here: https://news.ycombinator.com/item?id=15969317

----

I don't understand the following sentence:

Could someone parse this for me? To me, it reads like "to free memory allocated by a Vec v, create a new Vec w and drop it (i.e., w)".

This is obviously not what it is intended. What's the role of the second Vec? Is this only in a context where v is empty but its memory not y

[2017-12-20 14:32] ErichDonGubler commented on #34511
Looks like this is closed now:

[2017-12-20 14:39] dotdash commented on #11906
[code]

I disagree with this, but if others agree, we're done here once a scoping bug that @eddyb identified has been resolved.

[2017-12-20 14:42] dotdash commented on #11906
"we're done" meaning that we should be fine to omit frame pointers in debug builds.

[2017-12-20 14:52] eddyb commented on #11906
The bug in question is likely (cc @arielb1 https://github.com/rust-lang/rust/commit/8c7500f9b68d56b8313a8d3c103fd31b638ec8d2#diff-ef9c98f22bf95e3bda12c849d5550cedR198) https://github.com/rust-lang/rust/blob/16212b93677eae6951974676b174247e6ad0ba48/src/librustc_mir/build/matches/mod.rs#L218-L221

Which appears to set the visibility scope way earlier than the intended "*after* the `let`":
https://gi

[2017-12-20 15:20] rkruppe commented on #46879
This refers to unsafe code that e.g. uses `Vec::with_capacity` to allocate memory, and then `mem::forget`s the `Vec` to use the buffer in different ways (e.g., passing it to C, or implement a custom data structure over the allocated memory).

[2017-12-20 15:52] ricochet1k opened #46880 "ICE on invalid code"
Rust compiler is failing on bad code. I had just refactored from using `UnboundedSender` from `futures::sync::mpsc`, to using it as `mpsc::UnboundedSender` but I missed a spot. The commit that fixes the issue is [here](https://github.com/rjs-team/rjs/commit/e6d5d7a0c8b5f7378c99a321ccc97d7db2ae49b3), the code at the [previous commit](https://github.com/rjs-team/rjs/commit/9cd51a2594a6acc1e53286d463

[2017-12-20 15:59] RReverser commented on #44006
@Pauan But it really doesn't matter whether API bindings on the other side are provided by JS, C, Java or anything else. All that matters is they are imported on the Rust side (since there are already some required by LLVM anyway), and all these implementations are still free to provide own native bindings on the other side without taking any interop away from WASM.

[2017-12-20 16:05] pnkfelix commented on #27282
Oddly this seems to be on the road to be fixed (as in flagged as error) by `-Z borrowck=mir`, but then when you add `-Z nll` to the mix, the error is again missed.

[2017-12-20 16:10] pnkfelix commented on #39963
Nominating. I suggest we retag this as C-enhancement rather than C-bug. I separately suggest that we prioritize it as P-medium. (It does not need to land as part of the initial MIR-borrowck / NLL work.)

[2017-12-20 16:11] pnkfelix commented on #39963
(looking at #23610, I am wondering: what's the difference between C-feature-request and C-enhancement? Should we collapse those two labels into one...?)

[2017-12-20 16:26] eddyb commented on #11906
cc @pcwalton who might have opinions about whether we should skip frame pointers or not.

[2017-12-20 16:30] Manishearth commented on #46879
https://github.com/rust-lang/rust/pull/46884

[2017-12-20 16:39] davidtwco opened #46885 "Off-by-one spans in MIR borrowck errors"
This is a minor thing, but you can see in the below snippet that just below line 18, the `borrowed value only lives until here` is a character to the right of where it is in the Ast equivalent.

[code]

I've seen it in the following tests and there are probably a handful of others:

- [src/test/ui/issue-46471-1](https://github.com/rust-lang/rust/blob/master/src/test/ui/issue-46471-1.stderr)
- [src

[2017-12-20 16:46] nikomatsakis commented on #27282
The NLL analysis not wrong exactly, but there is a kind of implicit borrow that's not manifest in the MIR. In particular, the NLL analysis determines that the `ref mut foo` is only used in one particular basic block, and hence there are no overlapping uses of the value being matched.

That is, the MIR is sort of doing piecemeal tests that read the value of the option, but assuming that the option

[2017-12-20 16:54] rpjohnst commented on #44006
Again, since native wasm doesn't provide `Math.*`, `-unknown` targets should not use it. This is already how things work with other `-unknown` targets, both in Rust and in C.

If you want to add an import yourself and provide a `Math.*`-like function from Javascript, C, or anything else, that's fine, nobody's stopping you. But the compiler adding those imports automatically is a non-starter.

[2017-12-20 16:58] CryZe commented on #44006
Yes, it certainly shouldn‘t be JavaScript APIs that it expects, however the std should instead instead define symbols it requires for all of the relevant APIs (Instant, stdin, stdout, ...). These symbols can then be provided by whatever is executing the WebAssembly and a JavaScript binding that automatically provides these symbols could be auto generated by the compiler.

[2017-12-20 17:03] pnkfelix commented on #29723
The current status of MIR-borrowck indicates that we can address the [first example][] and the [second example][]. We also correctly reject the `cfg(segfault)` case in the [third example][]; but it unfortunately *also rejects* the `cfg(not(segfault))` case in that same [third example][].

My inclination is to land regression tests, alongside `feature(nll)`, for the three cases that segfault under

[2017-12-20 17:06] sfackler commented on #46872
Wrap your `File` in a `BufWriter`: https://doc.rust-lang.org/std/io/struct.BufWriter.html.

[2017-12-20 17:08] sfackler commented on #46867
This would probably hit an LLVM assert when using a rustc build that has LLVM assertions turned on. @alexcrichton what's the easiest way to get ahold of one of those?

[2017-12-20 17:10] sfackler commented on #46865
"sane" is a pretty vague term - you're going to have to be more specific. How would a "proper error" be issued? What would the form of that error be?

[2017-12-20 17:22] pnkfelix commented on #29743
Hmm MIR-borrowck does not seem to address this case, at least not out-of-the-box

[2017-12-20 17:29] nikomatsakis commented on #29723
FWIW, testing with ariel's example, NLL + MIR borrowck seems to accept `cfg(not(segfault))` and reject `cfg(segfault)`.

[2017-12-20 17:34] #46263 closed

[2017-12-20 17:34] #8552 closed

[2017-12-20 17:34] #46670 closed

[2017-12-20 17:34] #30967 closed

[2017-12-20 17:38] Badel2 commented on #46576
Run a bisect on this: 91ba8b42fcce0491fa8a1b95e4088bcabf9abf4a is the first bad commit

[2017-12-20 17:41] detrumi commented on #46727
This doesn't look too difficult, so I'll have a go at it.

[2017-12-20 18:54] mshal commented on #46816
Yep, I'd definitely be interested in helping to test any prototypes you have. Please reach out when you think you have something working! Thanks for taking this on.

[2017-12-20 19:01] nikomatsakis opened #46889 "Epoch.Next Tracking Issue"
## What is this issue?

Have you noticed that there is a lot going on with Rust these days? Over the last year, there’s been a large push to design a number of tweaks to the Rust language, all with the goal of improving ergonomics and productivity for new and experienced users alike. This issue will help you see what changes are in the works and give you tips for trying them out, giving feedback,

[2017-12-20 19:16] arielb1 commented on #46867
@sfackler

I think the easiest way is to build one yourself. I happen to have an llvm assertions build locally, and the assertion is:
[code]

[2017-12-20 19:18] arielb1 commented on #37435
This is an LLVM assertion:

[code]

[2017-12-20 19:58] scottmcm opened #46891 "Is an InlineAsm output a potential use that needs to activate a borrow?"
I added the following FIXME recently: https://github.com/rust-lang/rust/blob/fb245e0/src/librustc_mir/dataflow/impls/borrows.rs#L543-L546

I'll gladly make a PR to change this or remove the fixme, but I don't know enough to decide what should happen.

cc @nikomatsakis maybe?

[2017-12-20 20:25] sfackler commented on #46865
It's not going to segfault, it's going to SIGILL, and it'll print `fatal runtime error: allocator memory exhausted` before doing that:

[code]

[2017-12-20 20:45] metux commented on #46865
I've observed segfaults w/o any further messages while compiling Servo, right after vsize reached 4G limit.
Exactly what you'd expect from an failed mmap()-based allocation w/o proper error handling.

[2017-12-20 20:48] sfackler commented on #46865
You may want to look at core dumps to see where those segfaults are coming from.

[2017-12-20 21:01] myfreeweb commented on #39371
haha, I'm deriving a trait for an enum that uses bindgen-generated constants:

[code]

I can't even put `#[allow(non_upper_case_globals)]` anywhere in my code :D

[2017-12-20 21:27] scottmcm commented on #35118
Per https://github.com/rust-lang/rust/pull/46290#issuecomment-348707952, this might also be blocked on LLVM 5.0 (cc https://github.com/rust-lang/rust/issues/46819?)

[2017-12-20 21:28] fweimer opened #46892 "Attempt to call __pthread_get_minstack on Linux always fails"
The weak reference is never non-null because Rust linkage is used for the function:

[code]

Apparently, this problem was introduced in commit 1a31e1c09f89daeefa06ca9336912e9bcadb0c1d.

Furthermore, `__pthread_get_minstack` is an internal glibc symbol without any ABI stability. `PTHREAD_STACK_MIN` is really, really tight (particularly on x86-64 with AVX-512), and the constant probably does not mea

[2017-12-20 21:32] nagisa commented on #35118
That comment is sort-of irrelevant, as the failure occurs in emscripten, rather than LLVM. The linked comment refers specifically to using LLVM WASM backend without emscripten at all.

[2017-12-20 22:03] DawidPi commented on #46872
I don't find this a proper solution. It's just as fine as call to the write_all method, but still It's just a workaround. As a user I would expect that using standard library should be quite fast and that there is no need to do any workaround.

From the api point of view I am giving the macro both a file and full vector of data to be written. Also I want write syscall to be called when I call writ

[2017-12-20 22:09] sfackler commented on #46872
How is this going to be implemented? Is it going to internally buffer the output into a vector and then write that out? What's the cost to allocating that buffer in every write call? What happens when you're using `write!` in a `no_std` context where you can't allocate memory? `write!` can be used with any writer, not just unbuffered files. How much is the performance of writing to a `Vec<u8>` goi

[2017-12-20 22:10] Rantanen opened #46893 "Can't specialize `Drop`"
The `Drop` trait has checks to ensure that the `impl` can't add new restrictions on generic parameters.

[code]

The above won't compile (as intended?), as the `S` would have a Drop that's conditional based on the type parameter.

However with specialization we could have something like:

[code]

Both of these examples yield the same error

[code]

My first instinct was that this had something to

[2017-12-20 22:10] Eh2406 commented on #46876
So is it just replacing the type with? https://github.com/rust-lang/rust/blob/b3392f8ae4074de4de15befee871ad8b1523a2ed/src/librustc_data_structures/indexed_vec.rs#L328

If sow what is the equivalent for insert? https://github.com/rust-lang/rust/blob/970c613e4a785325469d4f694a16505d5deac17a/src/librustc_metadata/cstore.rs#L118

[2017-12-20 22:12] oberien commented on #36262
I don't have an sscce, but I produced [this small patch](https://github.com/oberien/rust/commit/b7ffa06486d82cc3dc72758b27da8344ea055dc6) for the current master branch, which breaks type inference regarding specialization of iterators.
The interesting thing is, if I don't directly specialize the iterator, but instead create a new trait which I specialize, it compiles just fine. Example code for th

[2017-12-20 22:15] rkruppe commented on #46872
You're not even comparing two different implementations of the same operation. Formatting a `Vec<char>` with `{:?}` does something very different from outputting the UTF-8 encoded `String`: It outputs (for example) `['5', '6', 'n', 'O', 'Y', 'm', 'u', '5', 'l', 'o']` instead of `56nOYmu5lo`.

Furthermore, even if it did output the latter, `Vec<char>` is not UTF-8 encoded internally, so there's no

[2017-12-20 22:17] alexcrichton commented on #46846
Looking into this a bit. I had to run the build a few times but eventually was able to reproduce as well (on stable, but nightly also seems affected)

I found that the `synom` dependency was the one changing (that rlib was the only thing changing in the input to the linker). So I checked out dtolnay/syn@5e42499da986c81e5ab74d163acb5b3c68c3d404 and built just the `synom` crate. Turns out two object

[2017-12-20 22:38] nikomatsakis commented on #46891
Probably it should activate. It'd be nice to make a test of course but I don't think I'm up to that from my phone. On Dec 20, 2017 15:00, scottmcm <notifications@github.com> wrote:I added the following FIXME recently: https://github.com/rust-lang/rust/blob/fb245e0/src/librustc_mir/dataflow/impls/borrows.rs#L543-L546
I'll gladly make a PR to change this or remove the fixme, but I don't know enough

[2017-12-20 22:41] mikeyhew commented on #46837
I remember getting this warning, and was going to deal with it but forgot. @arielb1 creating a separate error code would not be ideal, because it's the same error. When I change the warning to a future-compatibility lint though, I believe this will go away since it won't use an error code.

[2017-12-20 22:41] DawidPi commented on #46872
Ahh, now I think I got it, why It's like that, didn't know about this
additional formatting in this case, sorry for that. If that is the case,
then would this:

'''
use std::io::Write;

fn main() {
    let x = "test".to_string();
    let mut output =
std::fs::OpenOptions::new().create(true).write(true).open("file").unwrap();
    write!(output, "{}", x).unwrap();
}
'''

Issue one system call? Accor

[2017-12-20 23:02] leonardo-m opened #46897 "Slower binary, slower compiler, bigger binary since some days"
In the 2017-12-14 Nightly I've seen a significant (almost 20%) compilation-time increase when I use `--emit=metadata` on my code. And the successive day (2017-12-15) the compilation got a bit slower still and the run-time of the binary also got about 8% slower. The successive days the situation kept going slightly worse. Extracting parts of my code to show compiler/code performance is not easy, so

[2017-12-20 23:10] sfackler commented on #46892
What do you mean by rust linkage? AFAIKT `weak!` is still calling dlsym to resolve the `__pthread_get_minstack` symbol just like it was before that commit.

[2017-12-20 23:13] arielb1 commented on #46837
Sure enough. Change it to a future-compat warning. Just don't bother everyone with a duplicate error code.

[2017-12-20 23:14] arielb1 commented on #46876
@Eh2406

Should be as simple as that

[2017-12-20 23:24] arielb1 commented on #46897
Could someone try to reproduce and bisect this?

[2017-12-20 23:24] arielb1 commented on #46897
cc @kennytm I think

[2017-12-20 23:26] arielb1 commented on #46897
We shouldn't have such big asm differences between successive nightlies, and I don't see anything suspicious in the middle, so it would be good to try and nail down the commit that made the difference.

[2017-12-20 23:57] shssoichiro commented on #46650
When expressing big-O notation, it is typical to exclude the constant. You would never write `O(2n)` or `O(n - i)` because the constant is irrelevant--the purpose of big-O notation is to tell you how well an algorithm _scales with the size of data_--i.e. whether it is constant, linear, polynomial, etc. The reason we ignore the constant is because, when `n` becomes sufficiently large, then for exam

[2017-12-21 00:02] shssoichiro commented on #46576
I'll take a shot at fixing this one. Thanks for bisecting the commit @Badel2!

[2017-12-21 00:42] nyarly commented on #46889
the tracking issue link for "Clarify and streamline paths" links to the issue for NLLs.

[2017-12-21 02:05] #45988 closed

[2017-12-21 03:54] tcr commented on #46889
Some links for clarify and streamline paths: https://github.com/rust-lang/rust/issues/45388 https://github.com/rust-lang/rust/pull/46531

[2017-12-21 04:15] aturon commented on #46889
Fixed, thanks!

[2017-12-21 04:16] Rantanen commented on #43214
We have the blanket impls through `From<T> for T` now. That takes care of this, right?

Ping @GuillaumeGomez, given his involvement in the referred PR.

[2017-12-21 05:03] Eh2406 commented on #46876
The only way I am seeing to add to an IndexVec is to push to the end at index == len
https://github.com/rust-lang/rust/blob/b3392f8ae4074de4de15befee871ad8b1523a2ed/src/librustc_data_structures/indexed_vec.rs#L385

But the hashmap uses the ability to insert at an arbitrary index:
https://github.com/rust-lang/rust/blob/970c613e4a785325469d4f694a16505d5deac17a/src/librustc_metadata/cstore.rs#L118

S

[2017-12-21 05:11] sfackler commented on #43214
Yep, these are now covered.

[2017-12-21 05:11] #43214 closed

[2017-12-21 05:45] Pauan commented on #44006
@RReverser If there is an API that can be provided by multiple targets, then the API can use conditional compilation so that it will work on multiple targets.

But even in that situation, it still won't work for the `wasm32-unknown-unknown` target, because the `wasm32-unknown-unknown` target is supposed to contain *no* platform-specific code.

When you compile your code with the `wasm32-unknown-un

[2017-12-21 08:05] #45385 closed

[2017-12-21 08:12] hellow554 opened #46900 "rustdoc: kbd style rules"
Hi everyone,

I documented a struct which uses keyboard commands during runtime to do something and I noticed that it looks not as nice as it could be, so I looked around and compared different kbd styles on the internet.
I compare here the github style (<kbd>A</kbd>), [Stackexchange](https://meta.superuser.com/questions/4788/css-for-the-new-kbd-style) and [Bootstrap (v4)](https://v4-alpha.getboot

[2017-12-21 08:58] DawidPi commented on #46872
Ok I checked it and it indeed issues one system call. I will close the issue, then. Sorry for that.

[2017-12-21 08:58] #46872 closed

[2017-12-21 09:38] nikomatsakis commented on #6393
It's not yet hit nightly, but I just want to say that this now compiles:

[code]

[2017-12-21 10:18] pnkfelix opened #46901 "two-phase-borrows need a specification"
Spawned off of https://github.com/rust-lang/rust/pull/46887#issuecomment-353156090: While our short term solution for two-phase borrow support (#46037) is to make it as conservative as we can (e.g. the still planned #46747), the reality is that its complex and needs a specification.

(It might even be worth the exercise of adding them to the https://github.com/nikomatsakis/borrowck model )

[2017-12-21 10:28] pnkfelix commented on #46901
hmm is this "covered" by "adjust documentation" on #44100? Somehow I suspect that the adjustment expected there did not account for how subtle the corner cases here might be.

[2017-12-21 10:52] pnkfelix commented on #46716
This is probably resolved by #46862 (though I think we still want to have `#![feature(nll)]` imply `-Z two-phase-borrows`, and I don't think that PR included that).

[2017-12-21 10:56] #46685 closed

[2017-12-21 11:05] djrodgerspryor opened #46902 "ICE: no terminator on block"
I found an ICE when playing around with statics and result matching.

Minimal example:

[code]

Output from rust playground:
[code]

[2017-12-21 11:30] arielb1 opened #46903 "Spurious appveyor 32-bit test timeouts"
The appveyor 32-bit MinGW test builders on appveyor are sometimes slower than expected and time out, which causes some of its builders to exceed the 3 hour limit (this had also happened I think in the start of December, if someone can bother digging up these PRs).

It appears that a "good" build (e.g. https://ci.appveyor.com/project/rust-lang/rust/build/1.0.5766) takes 150 minutes, while a "bad" b

[2017-12-21 12:01] pnkfelix commented on #46876
@Eh2406 from my quick skimming, `fn set_crate_data` is only called from one place: `CrateLoader::register_crate`, here: https://github.com/rust-lang/rust/blob/691f022767aa5dec36635ab17bb767d5a80407db/src/librustc_metadata/creader.rs#L278

The `cnum` in that context is always the steadily incremented `next_crate_num`.

So I would suggest removing  `fn set_crate_data` entirely, and replacing it with

[2017-12-21 12:03] arielb1 commented on #46902
Duplicate of #46843.

[2017-12-21 12:03] #46902 closed

[2017-12-21 12:04] CryZe commented on #44006
What‘s the benefit of a largely broken std? The std should define a proper interface it communicates with. Only the subset of this interface that you actually use should be compiled in, so you have all the benefits of having std, while not getting random panics at runtime. If you truly never want to interact with an „OS“, then why even use std in the first place? That‘s what core is for.

[2017-12-21 12:04] pnkfelix commented on #46876
BTW if one really *did* need to support overwriting for arbitrary `cnum`s, that is easy too, as long as they already exist in the `IndexVec`, since `IndexVec` supports the `IndexMut` method that underlying `a[i] = b`: https://doc.rust-lang.org/std/ops/trait.IndexMut.html ; but I don't think we will need that in this case.

[2017-12-21 12:13] spastorino commented on #46716
@pnkfelix it is included, it's this commit https://github.com/rust-lang/rust/pull/46862/commits/2019d69f6158be1f2108c12264b2beb94af0aafe

[2017-12-21 12:14] GuillaumeGomez commented on #46900
What prevents you to add your own style in your crate doc? Because I'm not sure to understand why we'd want that...

[2017-12-21 12:14] GuillaumeGomez commented on #46900
cc @rust-lang/docs

[2017-12-21 12:29] arielb1 commented on #46876
@Eh2406

Maybe you want an `IndexVec<CrateNum, Option<Rc<CrateMetadata>>>`?

[2017-12-21 12:32] arielb1 commented on #46876
That's not 100% correct. Crate numbers are assigned in preorder - if a crate (say `std`) has a dependency (say `core`), then `std` will get the earlier crate number, then `core` will be loaded, and only then will the metadata for `std` be assigned.

But it's ok to use an `IndexVec<CrateNum, Option<Rc<CrateMetadata>>>` to handle this.

[2017-12-21 12:45] mikeyhew commented on #46837
@arielb1 I mean, I think it's the warning that's bothering people, not the fact that it's the same error code. The point was to exactly replicate the error, but make it a warning instead. Anyway, I'll change it to a future-compat lint. I'm just going to create a placeholder tracking issue for now, without explaining the reason for the lint, so that this issue gets resolved sooner.

[2017-12-21 12:46] mikeyhew opened #46906 "Tracking issue for the `tyvar_behind_raw_pointer` compatibility lint"
This is the **summary issue** for the `tyvar_behind_raw_pointer` future-compatibility warning and other related errors. The goal of this page is describe why this change was made and how you can fix code that is affected by it. It also provides a place to ask questions or register a complaint if you feel the change should not be made. For more information on the policy around future-compatibility

[2017-12-21 13:01] arielb1 commented on #46897
I see a regression with this code (note: this is *distinct* from #46863).

@kennytm the bad code accesses the stack pointer (%rsp)  You have a fast network connection and know how to use `bisect-rust`. Could you please do so?

You should grep for `%rsp` to tell if the code is bad - the bad code includes the following line:
[code]

[code]

[2017-12-21 13:02] glyn commented on #46889
There is a copy and paste slip in the box at the top of the "`impl Trait` and `dyn Trait`" section - the tracking issues should be #34511 and #44662 rather than #42640.

[2017-12-21 13:09] arielb1 commented on #46863
This looks like a pass ordering issue - GVN is needed to simplify the doubly-nested load, while IndVarSimplify is needed to eliminate the bounds check.

[2017-12-21 13:10] pnkfelix commented on #46876
You are right. I overlooked the fact that we 1. first increment the crate num (reserving the number, like for `std`) in your example, then 2. call `resolve_crate_deps` (which may recursively re-enter `register_crate`), before finally 3. calling `set_crate_data` at the end.

[2017-12-21 13:14] pnkfelix commented on #46716
ah great, then I'm closing this as finished.

[2017-12-21 13:14] #46716 closed

[2017-12-21 13:32] arielb1 commented on #46863
Minimal example - I suppose the identical C code has the same problem.

Nothing but GVN can optimize loads across basic blocks, and nothing but indvars (I think) can fix up bounds checks.

Maybe there's another bounds check removal pass we can run later in the pipeline.

[code]

[2017-12-21 13:34] #46346 closed

[2017-12-21 13:42] steveklabnik commented on #46900
I also prefer the github style.

@GuillaumeGomez to me, this is a regular old HTML element; we should give it a decent style.

[2017-12-21 13:50] psumbera commented on #46679
I wrote more minimalistic version of test case which rules out use of clang-sys.

[code]

On intel it works as expected:

[code]

But on sparc it looks weird:

[code]

But with this "hack" it looks better:
[code]

[code]

[2017-12-21 13:53] raphaelcohn commented on #46007
Not sure

On 13 Dec 2017 6:52 p.m., "Ariel Ben-Yehuda" <notifications@github.com>
wrote:

[2017-12-21 13:55] pnkfelix opened #46908 "Want `-Z borrowck=migrate` to test planning migration to non-lexical lifetimes"
Task list:

 * [x] Change MIR-borrowck (aka NLL) to so that it first buffers all errors and then emits them in a post-pass over the buffer at the end.
 * [ ] Add a pure mode to AST-borrowck where it does not have any side-effects (namely no I/O related to emitting errors), but rather just returns a boolean based on whether any errors occurred or not.
 * [ ] Add `-Z borrowck=migrate`; it first runs

[2017-12-21 14:02] vext01 commented on #46889
Looking forward to those ownership improvements :)

[2017-12-21 14:05] aturon commented on #46889
@glyn Fixed, thanks!

[2017-12-21 14:06] pnkfelix commented on #46908
Actually I may have been overthinking this; that is may be no need to track error numbers.

if we just track whether AST-borrowck signals *any* error at all (a mere boolean), then we can use this logic, I think:

 * Run AST-borrowck. Cancel any errors, but track if they occur.
 * If AST-borrowck signalled any errors (which were all cancelled above), then just run MIR-borrowck (and let it signal er

[2017-12-21 14:14] gibfahn commented on #37736
Looks like this will be fixed by https://github.com/rust-lang/rust/issues/44490.

[2017-12-21 14:28] ghost opened #46909 "Missing operator impls for &mut integers"
This compiles:
[code]

This doesn't compile:
[code]

Why is that so - is it simply an oversight, or was it intentional to omit implementing operators for mutable references to integers?

[2017-12-21 14:44] michaelwoerister commented on #46846
Maybe this code can introduce instabilities if there are codegen units with the same number of trans items in them?:
https://github.com/rust-lang/rust/blob/de38f49528b537414385d42a66dda711c8c8a309/src/librustc_mir/monomorphize/partitioning.rs#L374-L397

[2017-12-21 14:58] RReverser commented on #44006
Problem is, it's not a platform-specific code, as you saw in the examples, such bindings are required even for some basic math operations. And from there it's not far to go to implementing `std` for those who compile against `std` as @CryZe says.

[2017-12-21 14:58] Deewiant commented on #46897
I bisected @leonardo-m's original example, just testing the speed of the executable created by a stage 1 `rustc -C opt-level=3 -C target-cpu=native -C panic=abort test.rs` and came upon 8a26e0422d (PR #46623) as the culprit: the runtime on my machine is around 0.3 seconds before that commit and around 0.7 seconds after.

@arielb1's latest example also has a clear difference. The code before that c

[2017-12-21 15:00] arielb1 commented on #46897
That's unfortunate. cc @eddyb

[2017-12-21 15:05] eddyb commented on #46897
cc @bluss

[2017-12-21 15:10] CryZe commented on #44006
Thinking about it, since this "kernel interface" is supposed to be somewhat generic, maybe it even makes sense for Rust to have this outside of the wasm target, as a flexible way to easily hook onto any kind of OS / runtime.

[2017-12-21 15:18] arielb1 commented on #46855
@eddyb

Could you try to get this fixed before beta?

[2017-12-21 15:24] arielb1 commented on #46897
Thanks @Deewiant

We're looking into it

[2017-12-21 15:37] arielb1 commented on #46505
Assigning to @pnkfelix

Could you try to confirm you can reproduce this today?

[2017-12-21 15:41] arielb1 commented on #46576
Hi @petrochenkov - could you try to help @shssoichiro debug this? This looks pretty bad.

[2017-12-21 15:44] QuietMisdreavus commented on #46900
:+1: for the github style.

[2017-12-21 15:50] frewsxcv commented on #46900
github style looks most like a keyboard key to me, so i'd be favor of that too

[2017-12-21 15:53] alexcrichton commented on #46846
A minimal reproduction of this locally for me is:

[code]

When compiled with `rustc foo.rs --crate-type lib` it'll oscillate a bit. There's definitely two codegen units getting swapped. Gonna dig more to see what codegen units are oscillating.

[2017-12-21 16:02] eddyb commented on #46449
https://reviews.llvm.org/D41296 is still unreviewed. Does someone know who to pong?
cc @alexcrichton Should we apply this patch to our LLVM on beta?

[2017-12-21 16:04] Eh2406 commented on #46876
Ok, what is the best incantation to test this locally?

In the meantime I will open a pr.

[2017-12-21 16:07] hellow554 commented on #46900
Thank you for your responses <3 what about the rule? Every \<kbd\> tag or just the ones inside a docblock ?

[2017-12-21 16:08] pnkfelix commented on #46505
I have now reproduced this, by invoking `ulimit -c unlimited` before doing the build, as described in @gibfahn 's comment

[2017-12-21 16:12] pnkfelix commented on #46478
@rfcbot fcp close

After reading the comment thread, at least a subset of the compiler team is inclined to close this (as not-a-bug), following the reasoning given by @jseyfried and @dtolnay . However, in recognition that opinions may differ, we've tagged the lang team as well and want to give them the chance to weigh in before we close this.

[2017-12-21 16:15] arielb1 commented on #46855
I don't think `-Z mir-opt-level` can be used on beta, so this does not affect beta

[2017-12-21 16:15] #46848 closed

[2017-12-21 16:15] #46746 closed

[2017-12-21 16:24] QuietMisdreavus commented on #46900
I'd say to make it every `<kbd>` tag, so we can also change the `?` help menu to use them as well.

[2017-12-21 16:38] pnkfelix commented on #46505
This apparently was injected between the nightlies for 2017-11-25 and 2017-11-26:

[code]

`rustup`'s build of `cargo` didn't change between those dates, but of course `rustc` did:

[code]

[2017-12-21 16:39] steveklabnik commented on #46900
Agreed!

[2017-12-21 16:54] pnkfelix commented on #46505
The last entries in ouput from `RUST_LOG=debug` before the core dump are:
<details>
[code]
</details>

I tried running `rustc` under `lldb` to see if the stacktrace there would be more informative, but it did not tell me much:

[code]

[2017-12-21 16:58] leonardo-m commented on #46897
@Deewiant >just testing the speed of the executable

I am not sure if they share the same cause, first a significant compiler performance decrease using --emit=metadata , then the successive Nightly the decrease of the produced binary performance.

[2017-12-21 17:00] stjepang opened #46917 "NLL regression: cannot assign to `*self` because it is borrowed"
rustc version: de38f49528 (after #46862)

This compiles just fine:

[code]

Now let's add `#![feature(nll)]` and try again:

[code]

There are two interesting workarounds that fix the compilation error, but I have absolutely no idea why they work. :)

The first workaround: reorder field assignment.
[code]

The second workaround: make a dummy implementation of `Drop` for `Bar`.
[code]

cc @nikomats

[2017-12-21 17:03] pnkfelix commented on #46505
I suppose another option is to load the core dump itself into the debugger and see what it says:

<details>

[code]

</details>

I have to go home now. I probably will not look at this again until tomorrow (and it will have to take lower precedence than fixes to the beta branch in preparation for the upcoming release).

[2017-12-21 17:29] joker-eph commented on #46449
If you don't need to debug the value names at the IR level, you can set a flag on the LLVMContext to discard them automatically, it would much improve the performance.
For instance clang sets this flag by default in Release mode.

[2017-12-21 17:38] arielb1 commented on #46897
@leonardo-m

They should not. However, quite a few big commits landed in the Dec 14 nightly.

If you could provide an example that exhibits the slowdown with `--emit=metadata`, that would allow us to fix it.

[2017-12-21 17:47] estebank commented on #46478
Breaking something just because it's better could kill legacy code so I would warn users about it at least.

My understanding is that that is the normal course of action for breaking changes, but we _do_ reserve the right to break backwards compatibility for unsoundness bugs. That being said, could we use crater to see if anyone is actually relying on the previous behavior?

[2017-12-21 17:48] arielb1 commented on #46917
This looks like it is caused by #46875.

[2017-12-21 17:49] arielb1 commented on #46875
In addition to adding edge effects, another possible fix would be to make the "out of scope" effect a "pre-statement" effect, that is evaluated by `FlowAtLocation` for the location.

[2017-12-21 17:56] AndrewGaspar commented on #46863
Assuming this is nightly, I believe I also ran into this regression. https://users.rust-lang.org/t/surprising-auto-vectorization-optimization-behavior/14537

[2017-12-21 17:57] rpjohnst commented on #44006
A well-defined (even stable!) set of imports required by std-on-wasm is a fantastic idea, and would form an ideal basis for the `-web`/`-node` targets.

It could even be used on the `-unknown` target, *if it were purely opt-in.* Again, when you target `-unknown`, that should mean *zero* imports aside from the ones your program declares. This scenario would be much like using `liballoc` and `libcol

[2017-12-21 18:03] chridou opened #46920 "ICE on pattern match against const &`static [u8]"
I matched against a `&'static [u8]` and got the error below. The code compiles on stable and beta. Interestingly I do these kinds of pattern matches elsewhere in the code, too, and there it works.

I found errors with similiar error messages but could not relate them to this code. So sorry if this is a duplicate.

I tried this code:

Can be reproduced on rust playground:

[code]

I expected to see

[2017-12-21 18:09] rpjohnst commented on #44006
To be more constructive, I imagine the targets looking something like this:

`-unknown`: Zero imports by default. Doesn't support the math ops WebAssembly lacks natively, doesn't support anything in std that would require support from outside WebAssembly. When a program declares the proper imports (similar to defining an allocator), it can start to use more operations.

`-web`: Imports only for th

[2017-12-21 18:18] cramertj commented on #46478
@rfcbot reviewed

[2017-12-21 18:18] chridou commented on #46920
I have some additional information on this:

* It worked on nightly a week or so ago
* It also seems to crash the RLS since visual studio code tells me that RLS crashed 5 times and will not be restarted.

[2017-12-21 18:21] bjorn3 opened #46921 "ICE internal error: entered unreachable code"
I got an ice while creating a pr for rustc

I changed `Mir<'tcx>` into `::mir::Mir<'tcx>` just before i got the ice at `src/librustc/ty/instance.rs` line 289

[code]

<details>
<summary>config.toml</summary>

[code]

</details>

[sources.zip](https://github.com/rust-lang/rust/files/1580174/sources.zip)

[2017-12-21 19:04] RReverser commented on #44006
@rpjohnst Separating `web` and `node` would be very unusual, as JS libraries are expected to work universally across different environment without any change (this is why most of Node.js libraries have their own browserified counterparts, even if they don't support all the features).

Either way, Rust doesn't have to know about these JS implementation details, just refer to generic kernel function

[2017-12-21 19:12] bluss opened #46923 "Slower matrixmultiply in nightly-2017-12-16"
- Good rustc 1.24.0-nightly (0077d128d 2017-12-14)  (rustup `nightly-2017-12-15`)
- Bad rustc 1.24.0-nightly (77efd6800 2017-12-15) (rustup `nightly-2017-12-16`)

[matrixmultiply](https://github.com/bluss/matrixmultiply) version 0.1.14. This code is deliberately seeking autovectorization, and it's understood that such things could be fragile; but for a long time it has worked fine.

Before:

[code

[2017-12-21 19:14] #46843 closed

[2017-12-21 19:23] steveklabnik commented on #44006
So, just to make sure everyone's on the same page here, WebAssembly's spec defines no platform details. Platform details are expected to be layered on top. This is specifically so that wasm can be used outside of a web context, and in fact, not only is that an important use-case overall, but an important use-case for production Rust users: Etherium plans on using wasm as their scripting language,

[2017-12-21 19:26] CryZe commented on #44006
The thing we are arguing is that there shouldn‘t be a -web. Maybe -std or something that has a proper std implementation.

[2017-12-21 19:30] durka commented on #46889
Should specialization and macros 2.0 be tracked here?

[2017-12-21 20:14] jonathandturner commented on #46889
@nikomatsakis - Not sure if anyone else mentioned it, but NLL says "This feature is blocked on #46862 landing." which has now landed.

[2017-12-21 20:16] RReverser commented on #44006
To back @CryZe's words: all the bindings we are discussing are not any specific to Web, Node.js or any other host. We don't expect nor want Rust to do any web platform integration - that can be done in custom crates and npm packages. These bindings that we need are very generic and are needed by Rust just for proper functioning of `std` crate, but actual implementation on the other side can be pro

[2017-12-21 20:52] pnkfelix commented on #46505
In other fronts of investigation: I worked on analyzing the actual `rustc` invocation that `cargo` is using for this code, since I do not see this same behavior of dumping core in my day-to-day work on Rust.

Starting from the original invocation and whittling it down, I have determined that adding `-C debuginfo=2` to the `rustc` invocation is how one replicates the core dump (and to be clear: thi

[2017-12-21 21:00] pnkfelix commented on #46505
Oh.

Looking at my "OS X" terminal window during that long pause where the core dump is happening, the title bar of the window shows (I think) the current active child process.

In this case, it appears to be `dsymutil`

Maybe something has gone wrong with how we are invoking that utility?

[2017-12-21 21:36] nikomatsakis commented on #46889
@jonathandturner updated, though nightly still does seem to have the changes.

[2017-12-21 21:38] nikomatsakis commented on #46889
@durka

I don't think either of those are on track to be part of the next epoch. Specialization no, because it is not on track -- design is still very much in flux. I feel similarly about Macros 2.0 -- for example, there is no RFC or description of the hygiene system.

Note though that not being "part of the epoch" won't necessarily delay features from being available. The epoch is more of an end-

[2017-12-21 21:39] kennytm commented on #46505
dsymutil? Sounds like #46346 (fixed 8 hours ago). Check with the next nightly?

[2017-12-21 21:44] kelseasy commented on #46470
This wasn't closed automatically.

[2017-12-21 21:59] RReverser opened #46927 "Cannot generate unit struct with a macros"
It doesn't seem possible to generate unit struct declaration from a macros in neither stable nor nightly version of Rust.

[A simplified playground sample](https://play.rust-lang.org/?gist=0dbd7527efdae183f8bfc3fadb28c2d7&version=stable):

[code]

When trying to expand the second macro call, Rust complains:

[code]

If I add a semicolon as it asks right after the struct definition, the unit macro

[2017-12-21 23:14] pnkfelix commented on #46314
(tagging with nll labels just so we remember to look at this case when double checking lexical vs NLL.)

[2017-12-21 23:19] pnkfelix commented on #27282
for now I'm labelled this with the NLL labels. We may not be able to include a fix for this in the initial release, but it would be nice to try...

[2017-12-21 23:22] pmarcelll commented on #46923
This might be the same issue as #46897.

[2017-12-22 00:46] nixpulvis commented on #46889
Awesome to see so much great work in this!

[2017-12-22 01:25] CryZe opened #46932 "Non-Lexical Lifetimes regression with match on as_ref()"
I just tried out the Non-Lexical Lifetimes and this code doesn't seem to build anymore:
[code]
Error:
[code]
This builds just fine without NLL.

[2017-12-22 01:40] makoConstruct commented on #41003
Another example of where a learning Rust programmer would encounter it and just be utterly mislead by the error

[code]
https://play.rust-lang.org/?gist=5b08c55cf63a625ced0cbaf83b4db0de&version=stable

So, it tells you that the reason you can't refer to the type parameter `Item` is that it's ambiguous. This is not factual. The reason you can't refer to the type parameter is that you can't in gener

[2017-12-22 01:45] CryZe opened #46935 "Non-Lexical Lifetimes only work with some types"
This one is really weird. It's the same code, but one is a Vec<char> and one is a i32. The Vec one compiles, the i32 one doesn't:
[code]
Error:
[code]

[2017-12-22 01:48] #41810 closed

[2017-12-22 01:48] #46771 closed

[2017-12-22 01:48] #13019 closed

[2017-12-22 01:48] #46724 closed

[2017-12-22 01:48] #46822 closed

[2017-12-22 01:48] #46846 closed

[2017-12-22 01:48] #46879 closed

[2017-12-22 02:03] CryZe commented on #46935
It looks like if the type of `_x` is either `&T`, `&mut T`, or `T: Drop` (or rather T that contains a Drop type somewhere) then NLL behaves just fine, but if you have a type that is not a reference and doesn't cause any calls to Drop, then it breaks.

[2017-12-22 03:23] SergioBenitez opened #46936 "module resolution regression on rustc 1.24.0-nightly (2017-12-21)"
Beginning with `rustc 1.24.0-nightly (250b49205 2017-12-21)`, `rustc` fails to find the appropriate file for a module when the module root is not `mod_name/mod.rs` or `mod_name.rs` (i.e, when using `#[path]`). This has broken `ring`, which has the following `mod` declarations:

In `lib.rs`:
[code]

In `arithmetic/arithmetic.rs`:
[code]

And `arithmetic/montgomery.rs` contains the `montgomery` modu

[2017-12-22 03:37] SergioBenitez commented on #46936
cc @cramertj @nikomatsakis

[2017-12-22 07:06] est31 commented on #46936
Ring has `#![allow(legacy_directory_ownership)]` inside its lib.rs, cc #37872. Seems that #46531 has turned this into a hard error. Not sure if this was intended, but it didn't refer to the tracking issue #37872 at all. Small reproduction:

`src/lib.rs`:
[code]
`src/foo/foo.rs`:
[code]
`src/foo/bar.rs`:
[code]

#34596 strikes again... You shouldn't be able to disable forward compatibility lints.

[2017-12-22 07:20] est31 commented on #34596
@nikomatsakis

This seems like a path forward, no? It is not spammy if you only emit it once per crate.

I don't think we should wire this up to crates.io, as the same problem applies with path and git dependencies.

The goal of emitting forward compatibility warnings is to make people fix these issues. Otherwise stuff breaks when the compiler switches the lint to a hard error.

[2017-12-22 09:15] GuillaumeGomez commented on #46900
I extend a bit my statement: I'm opposed to this add because it'll be used in too few cases to be interesting to grow the CSS files (I could bet on maximum 5 people, which is just way too low). It doesn't bring anything useful enough to justify any new content. Please remember that new content means more maintenance.

Adding a CSS rule in your own doc crate is far easier and better for everyone in

[2017-12-22 09:26] Deewiant commented on #46920
Bisecting points to 0c26d8fcd1b171beaf467d1e6ea0157b88bc5a2a, introduced in #46582.

[2017-12-22 09:54] #44579 closed

[2017-12-22 09:59] Deewiant commented on #46604
I tried to bisect this but turns out that it was introduced long enough ago that I had trouble getting those versions to build. (c033942925 is the oldest commit I can build since the Cargo version specified in `src/stage0.txt` can no longer be downloaded, and I don't know an easy way of getting around this.)

So I turned to release binaries instead. After modifying the first line to explicitly spe

[2017-12-22 10:05] mark-summerfield opened #46942 "FAQ refers to apparently non-existent .char_at() method"
In this file: https://www.rust-lang.org/en-US/faq.html#strings it refers to a .char_at() method. I've tried this on String and &str but according the the playpen neither has this method:

[code]
[code]

[2017-12-22 11:00] Manishearth commented on #46893
Basically we should skip this check entirely if there's a default impl that covers this one (and rely on the check giving an error on the default impl itself if there's a problem there). Unsure if there's an easy, efficient way to fetch the list of impls at that stage.

[2017-12-22 11:01] Manishearth commented on #46873
It wants you to say

[code]

[2017-12-22 11:03] Manishearth opened #46944 "single_use_lifetimes should have suggestions"
This is a new feature, we should be teaching it through error messages.

Currently we just say that a lifetime is single use but do not recommend how to fix it. It leads to confusions like https://github.com/rust-lang/rust/issues/46873

We should fix that.

[2017-12-22 11:03] Manishearth commented on #46873
Filed a specific issue on improving the diagnostics at https://github.com/rust-lang/rust/issues/46944

[2017-12-22 11:04] leonardo-m commented on #46944
Yes, it was a mistake of mine then. A better error message will probably solve the problem. Thank you.

[2017-12-22 11:12] leonardo-m commented on #46897
The last nightly (2017-12-21) has fixed all three problems.

Despite some attempts I failed finding a small amount of code that shows a significant compilation slowdown from 2017-12-14 to 2017-12-20, perhaps it's a more diffuse problem that emerges from compiling my whole big amount of code. I am sorry.

I don't fully understand your question, but I try to answer creating a table with some data fo

[2017-12-22 11:30] eddyb commented on #46897
@leonardo-m Can you paste the exact output of `rustc -V` for the last two entries in your table? That way we can easily list all the commits in between (I don't know how else to do it and I want to be sure we don't mix up commit dates and nightly dates).

[2017-12-22 11:33] eddyb commented on #46923
@pmarcelll I think so too. @bluss As per https://github.com/rust-lang/rust/issues/46897#issuecomment-353577250, can you retry with the latest nightly?

[2017-12-22 11:44] eddyb commented on #46855
Minimal repro with `-Z mir-opt-level=1`:
[code]

[2017-12-22 12:00] chpio commented on #44006
There is a problem with core, [no one supports it](https://github.com/rust-lang/rust/issues/44006#issuecomment-346334457).

But i like the idea of [portability lints](https://github.com/rust-lang/rfcs/pull/1868).  We could even make `libcore` (by dropping out of the default `std` platform) and `liballoc` obsolete by providing a cargo cfg for `alloc` (but the RFC refuses to do that).

[2017-12-22 12:13] leonardo-m commented on #46897
They should be:

    rustc 1.24.0-nightly (7eb64b86c 2017-12-20)
    binary: rustc
    commit-hash: 7eb64b86ce44cc1828dd176a8b981e37ea08fc38
    commit-date: 2017-12-20
    host: x86_64-pc-windows-gnu
    release: 1.24.0-nightly
    LLVM version: 4.0

    rustc 1.24.0-nightly (250b49205 2017-12-21)
    binary: rustc
    commit-hash: 250b492052e94d76bd318a4b932159395da55981
    commit-date: 2017-12

[2017-12-22 12:17] psumbera commented on #46679
Ok. I'm new to both Rust and LLVM. I tried to create for above example llvm-ir data on intel and used llc to build it on sparc. The same result could be seen. Does it mean that that issue is rather in LLVM?!

On intel I did:

[code]

On Sparc I did:

[code]

The output is bad. See comment above (`obj.a[?]=255`).

[1]
[code]

[2017-12-22 12:40] hellow554 commented on #46900
I may understand your concern, but do not share your opinion.

A tag is just a tag, and kbd should be used to represent [input from a keyboard](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/kbd) and for that it should be visualized as such. It's not about adding bloat to the css, but to give a nice visual hint to the reader, that this is a keyboard input.

[2017-12-22 12:50] eddyb commented on #46897
@leonardo-m Ah, that's why I asked, so the range is 7eb64b86ce44cc1828dd176a8b981e37ea08fc38...250b492052e94d76bd318a4b932159395da55981.
Still not seeing anything clearly relevant, but maybe someone else from @rust-lang/compiler does?

[2017-12-22 13:24] RReverser commented on #27730
Instead of `NonZero`, now that we have https://github.com/rust-lang/rust/pull/45225, would it be possible to make `0xFFFF...` (`-1 as *const _`) the invalid value for pointers? It's anyway usually not possible to put anything meaningful or even allocate something there, and it would automatically allow optimisations for pointers without wrappers.

[2017-12-22 13:26] leonardo-m commented on #46897
The --emit=metadata times are computed as the minimum of four tries. Their variance is very small (on the order of +-0.05) so I think they are reliable.

The binary run-time is the minimum of 5 runs, their variance is higher perhaps because they do some I/O, despite using a SSD, about +-0.12.

The compilation is slow so there I've done only one time, so those values are the less reliable, but diff

[2017-12-22 13:31] elszben opened #46945 "rustup self update does not work"
rustup self update does not work anymore. I've tried to remove everything and reinstall everything rust related and the same thing happens. No idea what caused it.

C:\Users\laci\Downloads>rustup self update
info: checking for self-updates
error: could not create link from 'C:\Users\laci\.cargo\bin\rustup.exe' to 'C:\Users\laci\.cargo\bin\rustc.exe'
info: backtrace:

stack backtrace:
   0:   0x634

[2017-12-22 13:31] jrtc27 commented on #46679
https://github.com/rust-lang/rust/blob/master/src/librustc_trans/cabi_sparc64.rs#L27 and https://github.com/rust-lang/rust/blob/master/src/librustc_trans/cabi_sparc64.rs#L53 are wrong; structs up to 32 bytes in size, i.e. 256 bits, are returned in registers. I was also suspicious of this code in general when it was first merged as it doesn't seem very long, and handling mixed float and int structs

[2017-12-22 13:33] leonardo-m commented on #46873
Perhaps I'm still missing something, but I am still seeing warnings:

    warning: lifetime name `'rots` only used once
      --> ...\test.rs:20:47
       |
    20 | fn rotations(n: u32, digs: &mut [u32], rots: &'rots mut [u32]) -> &'rots [u32] {
       |                                               ^^^^^
       |
    note: lint level defined here
      --> ...\test.rs:3:9
       |
    3  | #![wa

[2017-12-22 13:34] leonardo-m commented on #46944
I've added another comment in #46873

[2017-12-22 13:36] SimonSapin commented on #27730
* `Option<&T>::None` is documented as being represented as NULL: https://doc.rust-lang.org/nomicon/other-reprs.html Changing that would like break code that uses FFI or/and `unsafe`. Similarly for `&mut T` and `Box<T>`, and maybe also other smart pointers.
* Representing in the type system that a pointer is non-null is useful, regardless of memory layout.

[2017-12-22 14:13] green-s commented on #46822
Should the latest nightly have fixed this? I'm still getting a segfault.

[2017-12-22 14:20] varkor opened #46946 "Enforce informal properties of traits such as `PartialEq`"
The trait `PartialEq` represents a partial equivalence — that is, a relation that is symmetric and transitive. However, Rust doesn't currently enforce these properties in any way. This means we get issues like this:
[code]
This is confusing, but it's usually not so much of an issue in user code, because it's easy to flip the operands. However, when attempting to write generic functions over these

[2017-12-22 14:26] arielb1 commented on #46897
@eddyb

For the compilation time issue, maybe there was a bug in NLL that made it active without it being enabled.

For the run-time issue, we need to actually investigate this.

[2017-12-22 14:28] arielb1 commented on #46822
@green-s

Nope, it has the old `compiler-builtins`:
https://github.com/rust-lang/rust/tree/250b492052e94d76bd318a4b932159395da55981/src

[2017-12-22 14:35] frewsxcv commented on #46942
opened a pr for this: https://github.com/rust-lang/rust-www/pull/993

[2017-12-22 15:06] kennytm commented on #46945
Hi, what Windows version are you using?

(BTW rustup issues are better filed at https://github.com/rust-lang-nursery/rustup.rs/issues)

[2017-12-22 15:13] malbarbo opened #46948 "Some num tests fail for {i586, i686, x86_64}-unknown-linux-gnu"
Consider the following tests extract from libstd:

[code]

Using `rustc 1.24.0-nightly (250b49205 2017-12-21)` it fails in debug mode  for the targets `{i586, i686}-unknown-linux-gnu` but works in release mode. It works in both release and debug mode for `x86_64-unknown-linux-gnu`.

Using `rustc 1.23.0-beta.2 (c9107ee93 2017-12-08)` or `rustc 1.22.1 (05e2e1c41 2017-11-22)` only `tests::test_mul_ad

[2017-12-22 15:16] QuietMisdreavus commented on #46900
I already mentioned a place where rustdoc can use a `<kbd>` style for itself - the help menu. Right now it's skinning `<dt>` to get it, but it can move to use `<kbd>` tags and get a better style for it if we add it.

[2017-12-22 15:27] Deewiant commented on #46365
Bisecting using @arielb1's latest example points to #44295 as the cause. (Not sure exactly which commit — the three commits preceding 1e9e3191ab don't compile and I didn't feel like sorting it out.)

[2017-12-22 16:11] eddyb commented on #46897
@arielb1 As in, investigate the cause of the run-time fluctuations and how it unregressed?

[2017-12-22 16:12] durka commented on #46927
I'm not quite sure what you are asking for here. Normal struct definition syntax has a semicolon after unit and tuple structs, but not curly-brace structs. Why should macros get special dispensation to skip it?

[2017-12-22 16:55] malbarbo opened #46950 "test_mul_add failt in debug mode for arm-unknown-linux-gnueabi"
This following test extract from libstd:

[code]

fails to run in raspbarry pi 3 and in qemu when compiled in debug mode for the target `arm-unknown-linux-gnueabi`. It works if compiled in release mode. `rustc 1.24.0-nightly (250b49205 2017-12-21)` was used.

To test using [cross](https://github.com/japaric/cross), create a project execute `cross test --target arm-unknown-linux-gnueabi`. cross exe

[2017-12-22 17:39] cramertj commented on #46936
Oh, interesting. This is a bit of a weird case-- what's happening here is that, when using `#[path="foo/foo.rs"] pub mod foo;`, the `non_modrs_mods` feature will look for an inner `pub mod bar;` in `foo/foo/bar.rs` or `foo/foo/bar/mod.rs`, whereas this legacy feature looks for it in `foo/bar.rs` or `foo/bar/mod.rs`.

The new behavior is motivated because `foo.rs` is not a `mod.rs` file, so it's ch

[2017-12-22 17:43] cramertj commented on #37872
@jseyfried Do you know of any blockers to making this a hard error? In https://github.com/rust-lang/rust/issues/46936#issuecomment-353643906 it was discovered that the `ring` crate still depends on the old behavior, so someone needs to send a patch (I can look into it). Are there any other crates that are known to use this behavior? The list from the crater run in https://github.com/rust-lang/rust

[2017-12-22 17:51] SimonSapin opened #46951 "Repeated "warning: profiles for the non root package will be ignored" when building Rust"
Sample output while in the middle of working on something:

[code]

15 of the 18 first lines of output are effectively noise due to this warning.

Indeed, `src/tools/cargo/Cargo.toml` contains:

[code]

But this same `Cargo.toml` file is both the root of a workspace when the `cargo` repository is used on its own, and a member of a larger workspace when use like here as a submodule of the `rust` re

[2017-12-22 18:04] AndrewBrinker commented on #46946
This question has come up a lot in the context of Haskell, and multiple ideas exist for how to enforce that typeclass/trait-associated "laws" are upheld. The conclusion has generally been that mechanisms to statically enforce compliance with these laws are too heavyweight to be worthwhile. There may be special case instances like the one you've provided where more limited analysis can support some

[2017-12-22 18:11] varkor commented on #46946
This isn't quite the same as typeclass laws in Haskell, in which you might want to check that an operation is associative, for example, which would be analogous to imposing rules on the methods declared by a trait. This is about properties of trait conformance, which we have all the information in the compiler for already, because they're assertions about concrete types, which already have to be r

[2017-12-22 18:15] istankovic commented on #46889
The description of the `impl Trait` example looks incorrect:

[2017-12-22 18:21] Yoric commented on #46589
I'm now trying to tackle down the next part, but I can't find anything useful in [the RFC](https://github.com/nikomatsakis/nll-rfc/blob/master/0000-nonlexical-lifetimes.md), so I'm a bit blind here.

Looking at projections, I see the following cases:

1. `*a = expr`
2. `a.foo = expr`
3. `a[slice] = expr`
4. `a[literal] = expr`
5. `a[expr] = expr`
6. downcasts (not entirely sure what they are)

I i

[2017-12-22 18:37] CAD97 commented on #46946
Something like the following works today to enforce this: ([playground link](https://play.rust-lang.org/?gist=f7141ad965e649fa3594e6d4c2aeb4a0&version=stable))

[code]

Removing either `impl Equal` causes the example to not compile.

If you wanted to provide automatic reflexive definitions, you might try:

[code]

But this causes a duplicate `impl Equal` for whatever type you impl it for (as it ge

[2017-12-22 18:58] SimonSapin commented on #27730
https://github.com/rust-lang/rust/pull/46952 implements this.

[2017-12-22 18:59] RReverser commented on #46927
Hmm you're right, it just gets awkward because macros that expand to items, on the other hand, already always require semicolon after them, so it feels somewhat expected that Rust would automatically use it for the generated item when necessary.

[2017-12-22 19:05] RReverser commented on #46927
Btw, thanks for mentioning tuples, the error for them is even more confusing:

[code]

[code]

It's okay here as it points directly to struct, but if this is generated by recursive macro, it points to the callee `macro_name!(...)` side and until now I couldn't even understand what it means by "expected one of `;` or `where` here" pointing to it.

Would be nice to at least update that error to ment

[2017-12-22 19:07] AndrewBrinker commented on #46946
@varkor, right I meant that the general case of wanting to enforce arbitrary trait laws is analogous to the problems faced in Haskell. You're right that for the particular issue you raise, a solution is available. I wasn't sure what level of result you were looking for.

[2017-12-22 19:26] rpjohnst commented on #44006
@RReverser The fact of the matter is, Node supports a lot of stuff that the web does not and cannot without emulation. This means that there is a place for a `-web` target with a subsetted std that excludes that functionality (e.g. `File::open`, `TcpStream`, `std::process`) and thus does not generate imports for it.

@CryZe To be clear, I am not arguing for a stubbed out std. (I'm not sure anyone

[2017-12-22 19:27] scottmcm commented on #43302
It looks like linting of `{ x == y; }` is also feature gated right now.  Can we at least stabilize that?

[2017-12-22 20:19] RReverser commented on #44006
Far not necessary. There are cases when TcpStreams are implemented in browser with a WebSocket proxy (this actually works and is used in e.g. x86 emulators in browser), File::open can be implemented with File API or point to local storage and so on. It's not the job of Rust to decide what to expect on the other side from a dynamic language and how these APIs are implemented, this is up to the cons

[2017-12-22 20:38] est31 commented on #44006
APIs for getting the date or something do need javascript right now, and there is only one way of implementing them. If you want to be free in the choice of the file system, put it into your program! Why should rust play the abstraction layer here? Your library code should work on anything that impls the Read/Write trait, and it can be a cursor.

You also have a separation between windows, mac and

[2017-12-22 20:47] RReverser commented on #44006
The reason for this is simply that you can't expect your consumer to have Wine. Better example would be Linux GNU targets for which Rust compiles just once with `-linux-gnu` and this works without complaints for pretty much everyone.

We just suggest to do with WebAssembly - list set of expected bindings for `std` (for what I care, most of them can be even regular POSIX function declarations) and

[2017-12-22 20:48] SimonSapin commented on #37872
Aren’t new epochs when we make breaking changes such as turning warnings into errors?

[2017-12-22 20:52] RReverser commented on #44006
@est31 Because why not? Would you prefer to have duplicates of each crate that work on different targets, or a single crate that just uses `std` APIs and works in any environments (just like majority of Rust code nowadays)?

[2017-12-22 20:57] rpjohnst commented on #44006
This doesn't make any sense. Nobody is opposed to providing a target that includes or supports `TcpStream` emulation via WebSocket proxy. We already have one, and that's great! What I want, *in addition*, is a `-web` target that *doesn't* provide `TcpStream` because the web platform does not provide TCP.

You seem confused. We already cross-platform crates via `-emscripten`, and we will continue t

[2017-12-22 20:57] est31 commented on #44006
I would absolutely hate duplicates. . But that won't happen when you

Again, C/JVM based targets might not get in touch with javascript *at all*, and some use cases certainly *will not*. Don't put the API at the Js layer! About unification, sure it's great, and I think most code will work both on a -node and a -web target, but then there are differences between browsers and for those you should be

[2017-12-22 21:03] RReverser commented on #44006
Again, the main question: why would you want it? What does it give you? You'll get exactly same error for unsupported stuff right away when you try to import such WebAssembly with missing bindings on your platform, except you'll have a choice to stub it on your side if it's already a dependency of consumed library. This way it will be possible to distribute same WebAssembly library for all support

[2017-12-22 21:04] CryZe commented on #44006
This all seems to come down to whether WebAssembly should be portable enough to just stick the same WebAssembly module into Java / Web / C / ... or if you should always recompile it. If it should be that portable, then we need one defined kernel interface that the module talks to. If not, then we should go for multiple separate targets, but completely miss out on the wasm module being portable at

[2017-12-22 21:06] RReverser commented on #44006
Yup, I think you summarised the two camps in this thread pretty well. I'm in the portable one - after all, it was one of primary goals of WebAssembly to abstract away from specific operating systems, virtual machines and so on, and provide a single binary format executable on any of them. Removing this abstraction and recompiling for each target seems unnecessary and makes WASM barely more useful

[2017-12-22 21:10] est31 commented on #44006
@CryZe the portability that wasm is about is for me at least about being portable across operating systems and hardware, not across different embeddings. Embeddings change rarely and if they do, you can recompile stuff. I mean you can disagree with me on the importance of being portable across embeddings, but "completely miss out" is quite overblown in any case.

[2017-12-22 21:23] rpjohnst commented on #44006
@RReverser

You can get that functionality from the `-unknown` target just by selectively enabling stuff! The difference is that you have to opt into it.

There should be a way to compile a wasm module+js glue that you can just throw into a browser and have it work. Thus, `-web` and `-emscripten`. That way you don't need to do any extra work to build a web application.

@CryZe

This is an inaccura

[2017-12-22 21:25] rpjohnst commented on #44006
Perhaps an additional target or flag would be helpful- a way to get the `-emscripten`/`-stdweb` behavior in that it generates all the imports, but doesn't produce the glue code.

[2017-12-22 21:26] CryZe commented on #44006
Oh, then we must've been talking past each other, cause I totally agree with that. I think the standard interface is necessary for supporting all kinds of random embeds that rust has no specific target for, but specific targets could definitely have more specific bindings and APIs, like a js! macro and maybe some DOM APIs.

[2017-12-22 21:38] arielb1 commented on #46897
This is my good old friend the `sink` torpedo.

LLVM optimizes `<Range as Iterator>::next` into this:
[code]

This is basically equivalent to this pseudo-Rust code
[code]

After the "non-constant-address" write is generated, LLVM is sunk - LLVM has no way of getting rid of the non constant address, and no way of optimizing accesses to the target `Option` with that non-constant address.

[2017-12-22 21:38] shepmaster opened #46953 "Non-lexical lifetimes has different behavior for Vec<&i32> and Vec<&String>"
With 1.24.0-nightly (2017-12-21 250b492052e94d76bd318a4b932159395da55981):

This compiles:

[code]

But this does not:

[code]

[code]

/cc @arielb1 @nikomatsakis

[2017-12-22 21:44] cramertj commented on #37872
@SimonSapin Epochs are for releasing breaking changes to the language that have been warned about. This is not a breaking change to the language-- it's just a bugfix.

As specified in [RFC 1589](https://github.com/rust-lang/rfcs/pull/1589), bugfixes are "[p]laces where the compiler is not implementing the specified semantics found in an RFC or lang-team decision." [RFC 1122](https://github.com/rus

[2017-12-22 22:17] matthewjasper commented on #46935
I think this is #46875. Delaying the assignment to `_x` makes this compile:

[code]

[2017-12-22 22:23] Diggsey opened #46955 "Add `x.py check --stage 1`"
When modifying the interface between platform-specific/non-platform-specific parts of the codebase, proper testing requires being able to build for every supported target, which is very impractical. Ideally `x.py` would support `cargo check` such that platform specific code could still be validated and type checked without needing the corresponding cross-compiling C toolchains.

This requires at l

[2017-12-22 22:26] arielb1 commented on #46897
Upstream LLVM (that's the yet-to-be-released LLVM 6) has this patch, which avoids the SimplifyCfg sink problem by not running sinking before inlining
https://github.com/llvm-mirror/llvm/commit/7034870f30320d6fbc74effff539d946018cd00a

I have confirmed that - e.g. this code is optimized correctly with the new `opt`
[code]

Until then, I think representing small enums using a struct should work arou

[2017-12-22 23:25] RReverser commented on #35978
@retep998 Just came across this issue and wondering - how is this not a problem for `Box`? My understanding is that it should behave very similarly to `&` (since they are both basically generic pointer types).

[2017-12-23 00:03] Ryman commented on #46953
The first example has constant propagation (or whatever that's called these days) occurring, you can add `let _: Vec<&'static i32> = vec;` to the end and it still compiles which shows they're getting promoted to statics.

In the second, if you bring `a` and `b` to be above `vec` then the example works. Isn't this necessary due to destructor ordering? I'm not up to date on NLL enough to know if tha

[2017-12-23 00:16] vi opened #46959 "Universal impl trait shows camel case name warning"
[code]

[code]

[2017-12-23 00:30] elszben commented on #46945
I'm using Windows 8.1.

Sorry about opening the issue here.

[2017-12-23 00:49] CryZe commented on #46953
This seems to be a duplicate of #46935

[2017-12-23 01:15] green-s commented on #46822
Tested the new nightly (5165ee9e2) in QEMU and on-device. It now successfully prints hello world but segfaults afterwards.

[code]

[2017-12-23 01:23] clarcharr commented on #46507
@sfackler this should be marked as a tracking issue now

[2017-12-23 01:27] clarcharr commented on #46736
@kennytm in that case, it would make sense to just move the entire `os::raw` module over to libcore, which makes sense. I'd probably rename it, though, and put it as a submodule of `ffi`.

[2017-12-23 02:10] cramertj commented on #46959
`impl Trait` in argument position now desugars to explicit type parameters at the HIR level. There are two possible fixes for this: specifically ignore `impl xxx` params, or move the `NonCamelCaseTypes` lint to run on the AST (an `EarlyLintPass` instead of a `LateLintPass`). I'm working on this.

[2017-12-23 03:48] Manishearth opened #46963 "Highlight when APIs panic in rustdoc"
When an API specifically has a "will panic on X condition" guarantee (e.g. indexing APIs, unwrap, expect, perhaps allocating APIs) it would be nice if the stdlib could highlight these the way we do `unsafe` methods.

https://twitter.com/0x424c41434b/status/944316751919140865

Worth prototyping this behind a feature flag for now, and then discussing whether we should be stabilizing it (or keeping i

[2017-12-23 03:53] Manishearth commented on #46963
The relevant code is probably in [`doc_impl_item`](https://github.com/rust-lang/rust/blob/f0cf23e11507988ab41a774052e1a06cea12010a/src/librustdoc/html/render.rs#L3380), see where we call `document_stability` to do something similar for stability messages.

You should be able to find the attribute on the `clean::Item` https://michael-f-bryan.github.io/rustc-internal-docs/rustdoc/clean/struct.Item.h

[2017-12-23 04:57] CAD97 commented on #42446
Is this fixed by #45082 or do we want more?

[2017-12-23 06:20] idubrov opened #46964 "compiler crash on innocent-looking match"
the compiler unexpectedly panicked. this is a bug.

I tried this code (hyper = "0.11.9"):

[code]

I expected to see this happen: code compiles (two top branches are incompatible)

Instead, this happened: compiler crashed; re-ordering two top branches fixes the issue

## Meta

`rustc --version --verbose`:

[code]

Backtrace:

[code]

[2017-12-23 06:48] zackmdavis commented on #45781
Currently, we just check that at least one of the type and the trait is local, so indeed, this will false-positive for private traits:

https://github.com/rust-lang/rust/blob/565907fefb2a69c279b59bffa84c6d30129cafe9/src/librustc_typeck/check/method/suggest.rs#L445-L452

[2017-12-23 06:53] sfackler commented on #46507
Done!

[2017-12-23 06:55] zackmdavis commented on #46942
Historian's note: `char_at` was deprecated in 1.9 (552eda70) and removed in 1.11 (b64c9d56).

[2017-12-23 07:02] kennytm commented on #46736
@clarcharr `libcore` should not contain any public platform-dependent items (`liballoc` is also platform-independent at the moment). If we move `CStr` and `std::os::raw` out, it's better be an independent `libffi` crate.

[2017-12-23 07:50] Amanieu commented on #46822
@green-s https://github.com/rust-lang-nursery/compiler-builtins/pull/219

[2017-12-23 08:14] leonardo-m commented on #46588
Is also adding a lazy iterator on lines a good idea?

[2017-12-23 08:22] SimonSapin commented on #46588
@leonardo-m https://doc.rust-lang.org/std/io/trait.BufRead.html#method.lines already exists. Or do you mean adding a convenience function that calls it from a filename? I personally feel less need for that function, but feel free to open a new PR for it.

[2017-12-23 08:32] leonardo-m commented on #46897
With the 2017-12-22 Nightly all the problems are back:

    Rustc version               --emit=metadata  Opt build   Binary size  Run-time
    1.24.0-nightly 2017-12-22   5.36             53.57       1_381_376    13.96

[2017-12-23 08:34] leonardo-m commented on #46588
I meant a convenience function. It's often useful for small script-like programs, tests, benchmarks, online code competitions and games, etc.

[2017-12-23 09:11] DustinByfuglien commented on #46945
Confirm.
I have this problem in Windows 7.

[2017-12-23 11:35] bluss commented on #46923
New results (no fix ☹️ )

- Bad rustc 1.24.0-nightly (7eb64b86c 2017-12-20)
- Bad rustc 1.24.0-nightly (250b49205 2017-12-21)
- Bad rustc 1.24.0-nightly (5165ee9e2 2017-12-22)

[2017-12-23 12:23] nikomatsakis commented on #46959
Kind of amusing. Ignoring parameters tagged as synthetic seems to make sense. On Dec 22, 2017 9:10 PM, Taylor Cramer <notifications@github.com> wrote:impl Trait in argument position now desugars to explicit type parameters at the HIR level. There are two possible fixes for this: specifically ignore impl xxx params, or move the NonCamelCaseTypes lint to run on the AST (an EarlyLintPass instead of a

[2017-12-23 12:40] #43718 closed

[2017-12-23 12:41] petrochenkov commented on #42479
Fixed, needs a test.

[2017-12-23 12:46] bluss commented on #46963
We already have a strong convention -- panics should be mentioned in the doc. In rust-lang/rust, under the `# Panics` heading [(example)](https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html#method.reserve). One part of this issue is to increase coverage? To make sure even the "obvious" cases are covered, for example the trait method `Index::index` wherever implemented with panicking bounds c

[2017-12-23 12:51] nikomatsakis commented on #46953
I have a suspicion what this might be but will investigate. On Dec 22, 2017 4:39 PM, Jake Goulding <notifications@github.com> wrote:With 1.24.0-nightly (2017-12-21 250b492):
This compiles:
#![feature(nll)]

fn main() {
    let mut vec = Vec::new();

    let a = 1;
    vec.push(&a);

    let b = 2;
    vec.push(&b);

    println!("{:?}", vec);
}
But this does not:
#![feature(nll)]

fn f() {
    let

[2017-12-23 12:53] kjetilkjeka commented on #44580
What are the next steps now that #45930 is merged? @jplatte

[2017-12-23 13:01] Manishearth commented on #46963
The label is what we should turn the present documentation convention into.

I don't think the issues with the thread are relevant. For vec::new there are proposals for oom=panic which I thought had landed, and I corrected the thing about catch_unwind.

[2017-12-23 13:02] est31 commented on #44006
So.... we all agree on a js macro then? I'm writing an RFC to add one to the language. I'll link it here.

[2017-12-23 13:02] bluss commented on #46923
I haven't had time to investigate, but I'll do that over christmas.

[2017-12-23 13:08] kornelski opened #46966 "HashMap using &str keys is not a a realistic example"
The example in the docs uses `HashMap` of `&str`:

https://doc.rust-lang.org/std/collections/struct.HashMap.html#examples

but this gives bad example to users who copy the example without fully realizing consequences of using `&str` instead of `String`. Here's thread by a new user lead down a confusing path because of this example: https://users.rust-lang.org/t/how-to-pass-slice-of-structs-string-

[2017-12-23 13:16] meztez commented on #46945
For some reason, rustup isnt able to remove the file already in the folder before doing the hardlink. I got it working by deleting them before running the self update. It gave link errors and a warning about rustfmt.

[2017-12-23 13:41] vramana commented on #46599
Hi,

I was little busy work stuff. I am taking a stab at this issue again today. I am using simpler case that generates less MIR code

[code]

Generated MIR [here](https://play.rust-lang.org/?gist=30e2a8cccda0915629c95ca391bc2140&version=nightly)

When I uncomment the line `let fancy_ref = &fancy_num;`, this borrow conflits with this `_3 = move _1` in MIR above

[code]

**Note**: _3 will be _4 in

[2017-12-23 14:14] mjbshaw opened #46968 "link_section is not applied to global constants"
The `link_section` attribute doesn't get applied to global `const` values.

Consider the following program (which uses `static` instead of `const`, and correctly applies the `link_section` to `HELLO`):
[code]

As can be seen in the LLVM IR ([Playground link](https://play.rust-lang.org/?gist=0398978e1c26ae2a4fb09c949a710773&version=nightly)), `HELLO` is correctly given the custom section assignment

[2017-12-23 14:21] RReverser commented on #44006
I'd like to see these, but I don't really see why custom macro, DOM APIs etc. can't live in custom crates and npm packages just like any other userland code, especially integration-specific one.

[2017-12-23 14:34] Cristian-Malinescu commented on #46945
I have same problem in Windows 10.

[2017-12-23 14:36] SimonSapin commented on #44874
Recent Nightlies emit *a lot* of warnings like this when compiling Servo:

[code]

First, I had to do git archeology in the rust repo to find that that warning was introduced bc0439b3880808e1385da4b99964d5d506f76e3f, which is part of #46837, which links here. The error message should probably include some URL to let people read further details and context, ask questions, etc.

Second, I have no id

[2017-12-23 14:51] petrochenkov commented on #44874
The breakage from this change seems to be larger than it's normally allowed for compatibility warnings.
A crater run wasn't performed, but if even rustc alone hits multiple cases of broken code, it means than effect on the ecosystem in general is going to be large.

[2017-12-23 15:04] mikeyhew commented on #44874
@SimonSapin I'm working on changing that warning to a future-compatibility lint right now (https://github.com/rust-lang/rust/pull/46914), which will reference a tracking issue that explains the reason for the change; I still have to finish writing the issue though so right now it doesn't explain anything

[2017-12-23 15:07] rkruppe commented on #46968
As far as Rust-the-language is concerned, `const`s are entities that don't have any linkage behavior at all. Any *use* of a `const` is as if the value as written out as a literal at the use site, and the const itself doesn't have an address or symbol name at all. For example, `#[no_mangle] const X ...` reports "error: const items should never be #[no_mangle], consider instead using `pub static`".

[2017-12-23 15:15] mikeyhew commented on #44874
I guess we didn't realize there would be so much breakage from this. Right now, I'm finding lots of places in [rust-lang/rust](https://github.com/rust-lang/rust) that produce this warning, and they are only popping up now that I'm turning it into a full-blown lint, which is turned into a hard error by `deny(warnings)`.

[2017-12-23 15:19] mjbshaw commented on #46968
Okay, well then it would make sense to disallow `link_section` on `const`. In my particular case I was really hoping to take advantage of the LLVM `unnamed_addr` attribute that gets applied to `const` Rust objects, but I can live without it and will use `static`.

[2017-12-23 15:37] GuillaumeGomez commented on #46900
If the PR does the switch (aka removing dt tag and style). Then it's good for me. As long as it's used by rustdoc, no problem.

[2017-12-23 16:09] arielb1 commented on #46923
This really looks like #46897

[2017-12-23 16:29] kamyuentse commented on #46793
cc @sunjay
Is this feature available now? Or any example usage for the current stage?

[2017-12-23 16:33] sunjay commented on #46793
Hi,
This feature is still being developed and is not ready to be used yet. We can parse generic associated types and resolve names and lifetimes, but they won't work correctly until the implementation is complete. Subscribe to the [tracking issue](https://github.com/rust-lang/rust/issues/44265) for updates on our progress. :)

[2017-12-23 16:36] kamyuentse commented on #46793
Thanks a lot.

@mcobzarenco  Seems this issue can be closed?

[2017-12-23 16:37] RalfJung commented on #27730
That would make `-1 as usize as *const _` undefined behavior, wouldn't it?

[2017-12-23 17:05] kennytm opened #46969 "Cannot use associated type as type of associated const"
Repro:

[code]

This caused E0277 "the trait bound is not satisfied" error:

[code]

The error doesn't make sense because `C` is obviously `Sized`. It seems the associated const type is evaluated before the generic bounds are added, causing this error.

Changing *both* `A::M` and `C::M` to `u8` makes the error go away.

----

Tested all 3 versions on playground (1.22.1, 1.23.0-beta, 1.24.0-nightly

[2017-12-23 17:06] rpjohnst commented on #44006
They can and should, along with targets to organize `#[cfg]` and compiler support.

[2017-12-23 17:06] bluss commented on #46923
Probably. The reason I discovered it was due to that issue, but when I read it it seemed to talk about a different nightly version as the breaking point, so I reported this too.

[2017-12-23 17:06] arielb1 commented on #46599
@vramana

You need to find uses of `_1` within the closure. For that, you can follow down the MIR basic block until you find the closure statement, look at the closure def-id, and look for uses of the appropriate upvar within the closure body.

[2017-12-23 17:18] joce commented on #46945
@kennytm Should the issue be duplicated (link? ported over? (I'm unfamiliar with GH issue system)) to rustup or will it be taken care of here nonetheless?
(also yes, I have the same issue with Win10, Creator Update (version 1709))

[2017-12-23 17:34] kennytm commented on #46945
@joce It should better be copy-and-pasted to the rustup repo.

[2017-12-23 17:45] bluss commented on #30164
I'm not sure if there have been solutions proposed for this anywhere.

Notes:

- `Debug` / `derive(Debug)` need to be libcore compatible; so we have no heap allocation or `String` to use in the implementation

Bits of a solution?

- We already separate the no-special-arguments and the other cases don't, we so no extra code is needed in the common path
- When we want to prefix spaces or another fil

[2017-12-23 18:25] idubrov commented on #46964
Slightly simplified version (it's not valid Rust code -- not all patterns are covered -- but it crashes the compiler):

[code]

Backtrace with debug logging from rustc (RUST_BACKTRACE=full RUST_LOG=rustc_const_eval):
[code]

[2017-12-23 18:34] arielb1 commented on #46365
So I found the "real" example:
[code]

[2017-12-23 18:37] alexcrichton commented on #46903
Picking two random logs [good](https://ci.appveyor.com/project/rust-lang/rust/build/1.0.5790/job/8msoy4cs6fofgh9t) [bad](https://ci.appveyor.com/project/rust-lang/rust/build/1.0.5765/job/0fwx077ujdf9gnw1) the major difference seems to be that the good log finishes compiling the compiler at 01:01:30, whereas the bad log finishes at 01:21:05, a 20 minute delay from the original one. AFAIK no real ex

[2017-12-23 18:41] mqudsi opened #46970 "OsRng initialization fails under VMware Linux"
In trying to use binaries statically compiled for Linux x86_64 (namely, rg 0.7.1: https://github.com/BurntSushi/ripgrep/releases), I've found that rust cannot initialize the OS RNG, and `rg` crashes immediately (and reproducibly) on invocation with the following:

Environment: `VMkernel vmware 6.0.0 #1 SMP Release build-3029758 Aug 31 2015 00:54:00 x86_64 x86_64 x86_64 ESXi`

[2017-12-23 22:21] mikeyhew commented on #46906
@arielb1 thanks for editing with the detailed explanation!

[2017-12-23 22:26] arielb1 commented on #46897
@eddyb

Coud you open a PR that turns small unions into LLVM structs (rather than arrays)? That should fix the problem.

[2017-12-23 22:51] matthewjasper opened #46974 "[NLL] Incorrect lifetimes infered with pattern"
Minified from https://www.reddit.com/r/rust/comments/7lq5t3/featurenll_available_in_nightly/droaz2o/

This incorrectly compiles:

[code]

These variations correctly error:
[code]

[2017-12-23 23:21] zackmdavis commented on #46137
This is because we currently don't check for unused parens in call arguments:

https://github.com/rust-lang/rust/blob/16992930835ce3376a4aaed42307726e1fc78e45/src/librustc_lint/unused.rs#L294-L306

(notice: no `ast::ExprKind::Call` or `::MethodCall` in the match).

So another example would be:

[code]

[2017-12-23 23:51] vramana commented on #46599
I don't know how to implement this in code probably because I am not too familiar with API.

[2017-12-23 23:59] jdahlstrom commented on #43301
Hello, uhm. So I thought I'd start my potential Rust contributor career by bikeshedding, as is tradition. Specifically, about this one:

- [ ]  The name of the trait being introduced

How about `Exit`? It's short and to the point, fitting existing Rust vocabulary. Exit-as-a-noun is a natural counterpart to exit-as-a-verb which, to most, is the familiar word for ending a process "from inside" in a

[2017-12-24 01:09] varkor commented on #46946
@CAD97: Your example works in the Playground, but when I try to implement it similarly in [cmp.rs](https://github.com/rust-lang/rust/blob/master/src/libcore/cmp.rs#L110), I get `error[E0391]: unsupported cyclic reference between types/traits detected` for the default impl. I'm not yet so familiar with specialisation, so I'm not sure how these two cases might be different. Do you have any ideas?

[2017-12-24 01:16] CAD97 commented on #46946
@varkor Are you sure you haven't mixed `PartialEq` and `Eq`? E0391 seems to be only concerned with `trait T1: T2` and `trait T2: T1`?

Other than that, I'm not sure. I haven't played too much with specialization yet myself, either.

[2017-12-24 01:53] CAD97 opened #46976 "Rustdoc ICE with argument position impl Trait"
[code]

[code]

According to my Travis logs, this is a regression between (last good)

[code]

and (first bad)

[code]

though complicated by the fact that my build broke on 46959 in the same interval. Actually, we're in luck, I had `1.24.0-nightly (250b49205 2017-12-21)` locally which also errors. So the interval is 7eb64b86c...250b49205 (probably).

e502194e7e2605b461c3e24d30fdc5def4e1c166 from

[2017-12-24 01:58] CAD97 commented on #46976
FWIW, I just got rustc (almost) compiling on my setup, and would be interested in trying my hand digging further into this, but I'm not really sure how to set up a "compile-pass" (or any) rustdoc test.

[2017-12-24 02:22] rukai opened #46978 "[NLL] Code that used to compile no longer compiles"
Compiling this with ```#![feature(nll)]``` gives a compiler error, however it used to compile fine:
[code]

Error message:
[code]

[2017-12-24 02:24] rukai commented on #46978
Whoops looks like its already reported here.

https://github.com/rust-lang/rust/issues/46932

[2017-12-24 02:24] #46978 closed

[2017-12-24 03:13] CAD97 commented on #46976
UPDATE: I was wrong to suspect e502194, I think, sorry cramertj

[code]

[2017-12-24 03:47] CAD97 commented on #46976
Trace says it's `rustdoc::html::render::get_index_type_name`

https://github.com/rust-lang/rust/blob/8d4da4f4c4f097e6a95264cc527da64bfc133b0f/src/librustdoc/html/render.rs#L4129-L4141

Sure enough, this is underflow:

[code]

[code]

Work done so far: CAD97/rust@75c28241bade29e2efebca6832779f0e4198a2bf

I'm not really sure where to go from here.

[2017-12-24 06:17] AndreKR commented on #42228
I have a very similar problem, although my error message is `could not exec the linker 'cc': The system cannot find the file specified`.

I ran `rustup target add x86_64-unknown-linux-gnu`, that should install a toolchain to compile for Linux, right? And since I ran the command on Windows, it should install a toolchain that can run on Windows?

[2017-12-24 07:21] retep998 commented on #42228
Adding a rustup target merely adds the *rust* part of the toolchain. You **need** a C toolchain that is capable of targeting linux as well. Rustup does not provide the C toolchain that you need.

[2017-12-24 08:11] jplatte commented on #44580
@kjaleshire The next step is to implement parsing of const generics. I've already started work on this before it became clear that the refactoring in the mentioned PR would be necessary. My existing work on that can be found [here](https://github.com/jplatte/rust/tree/rfc_2000_const_generics); it hasn't yet been rebased since the other PR was merged though.

[2017-12-24 08:12] Manishearth commented on #43301
(I think it's a bit late in the process to discuss its naming, sorry. Usually this stuff is decided in the RFC phase)

[2017-12-24 08:13] Manishearth commented on #43301
Wait, ignore that comment, looks like the RFC left that explicitly open to discussion.

I do like `Exit` as a trait name.

[2017-12-24 10:26] matthiasbeyer opened #46981 "'rustc' panicked at 'failed to acquire jobserver token: ...'"
This seems to be related to #42867, though not entirely the same.

I am in the process of `cargo publish`ing my crate (multiple crates in a workspace project) [imag](https://github.com/matthiasbeyer/imag) v0.5.0 (from [this commit](https://github.com/matthiasbeyer/imag/commit/c2af6c9ebe6526bc42ca0652fe9ba414c509dd11)).

Instead of a normal compile process, I got this:

[code]

`rustc --version --v

[2017-12-24 10:39] matthiasbeyer commented on #46981
I experienced this error now multiple times. Maybe it is a good idea to include the complete build output here:

[code]

[2017-12-24 10:45] arielb1 commented on #32286
The closure issue has been fixed n #43938.

[2017-12-24 10:45] #32286 closed

[2017-12-24 11:03] matthiasbeyer commented on #46981
With `rustc 1.22.1` I get this error in a different form:

[code]

[2017-12-24 11:27] AndreKR commented on #42228
I see. rustup-init told me I need the Visual C++ Build Tools 2015 to compile for Windows. Is there a similar recommendation to build for Linux?

[2017-12-24 11:33] matthiasbeyer commented on #46981
For the record: `cargo build --release` works on all crates where this bug was triggered (though I did not test all of them, just some).

[2017-12-24 12:03] arielb1 commented on #46974
And without patterns:
[code]

Why is this broken?

[2017-12-24 12:29] retep998 commented on #42228
If you want to target Linux from Windows, the *easiest* option is to natively target Linux from within WSL. If you really want to cross compile from Windows without using WSL, then cygwin might have cross compilers you can use.

[2017-12-24 12:49] #46845 closed

[2017-12-24 12:50] arielb1 opened #46983 "NLL: bad error message when converting anonymous lifetime to `'static`"
UPDATE: [Mentoring instructions here.](https://github.com/rust-lang/rust/issues/46983#issuecomment-356626994)

----

Tested at 5165ee9e209e0e70d89946ccbb7e90b9c0c3a7ac and current playpen

[code]

Error message:

[code]

[2017-12-24 12:52] petrochenkov commented on #46576
Slightly minimized:
[code]

This is a fun issue. "Unused import" warnings are reported either during name resolution (normally) or during type checking (for traits that are potentially implicitly used through method calls).

Trait `BufRead` has method `lines`, so having *any* call to a method named `lines` in code shifts the "unused import" check from resolve to typeck.
All "unused import" warning

[2017-12-24 15:26] #46727 closed

[2017-12-24 15:41] GuillaumeGomez commented on #46963
@Manishearth: Can you write it on the roadmap of the doc team so we can discuss about it in our next meeting (which will be in 2 weeks) please?

[2017-12-24 16:41] ia0 commented on #46628
Thanks for the fix! I confirm that the ICE has disappeared in nightly. Should we close the issue? (Or keep it open for the weird.rs case since I would expect this example to type-check?)

[2017-12-24 16:49] Diggsey commented on #44582
See also #39819

[2017-12-24 18:06] wesleywiser commented on #45875
Thanks @michaelwoerister, that's really helpful! I've implemented `UseSpecialized{Encoder,Decoder}` and `Specialized{Encoder,Decoder}` but it doesn't seem to be working. I've stubbed out the function bodies with `panic!()`s but running the resulting compiler doesn't panic. Any ideas?

(Code is [here](https://github.com/rust-lang/rust/compare/master...wesleywiser:wip_fingerprint_serialization) and

[2017-12-24 18:10] neallester commented on #37323
This error occurred for me when compiling the code in an intermediate state where I  expected errors. It is still a small project so I checked in the offending code here:

https://github.com/neallester/danake-rs/commit/aeb9b12567f52b36a922f4438676b1e131a4f4ec

error: internal compiler error: src/librustc/ty/context.rs:438: node_id_to_type: no type for node `unknown node (id=658)`

note: the compil

[2017-12-24 18:28] sfackler commented on #46970
Can you use strace to figure out which system call is failing?

[2017-12-24 19:36] m4b commented on #45320
I don't know if this is the right place, but I think it should be considered whether the symbol issues reported in the Nightly section here: https://github.com/rust-lang/rust/issues/46552 should be considered a blocker or not. [see also discussion in commit comment here ;)](https://github.com/alexcrichton/rustc-demangle/commit/48646c6c429b1fff5d274cc19224631b437031c9#commitcomment-26107871)

The t

[2017-12-24 19:42] frewsxcv commented on #43617
opened a pr for this: https://github.com/rust-lang/rust/pull/46987

[2017-12-24 20:36] mqudsi commented on #46970
I'm not sure, it's an insanely minimal environment. Let me try.

[2017-12-24 21:24] dtolnay commented on #46112
This looks like a duplicate of #45070. That issue has some repro cases that affect the 1.22.1 stable compiler but not 1.21.0.

[2017-12-24 21:25] dtolnay commented on #45070
#46112 has some more examples of what looks like the same bug.

[2017-12-24 21:51] frewsxcv opened #46988 "Compiler complains about needing type annotations, even though it already knows the type"
[code]

[code]

[playpen](https://play.rust-lang.org/?gist=63f58abe7702781976bb641ef5105dec&version=stable)

Shouldn't the compiler know what `T` is since it's explicitly stated in the return type for `new`?

[2017-12-24 21:52] vermiculus opened #46989 "Function pointer docs may need updating"
We may need documentation updated for function pointers when used in enums. I won't pretend I understand half of what's written here, but here's the log from IRC (#rust_beginners) where we debugged this issue:

1. [Rust Playground (`Sharlin`)](https://play.rust-lang.org/?gist=d25cb785bee399efe590293ab2c1a44a&version=stable)
2. [Rust Playground (`spear2`)](https://play.rust-lang.org/?gist=0cfe1a8e4

[2017-12-24 22:02] frewsxcv commented on #46988
nevermind, i think i need to be doing `impl SomeStruct<i32> { .. }`

[2017-12-24 22:02] #46988 closed

[2017-12-24 22:22] nagisa commented on #46989
This probably refers to:

Which is not true as proved by the more simple example below:

[code]

Rewording the last paragraph so it directs user to see the list of implementations on the relevant traits’ pages should suffice as a fix.

[2017-12-24 22:34] nagisa commented on #46968
Inapplicable attributes don’t really get "disallowed", that applies for most of them, really.

The principle is that item checks for attributes relevant to itself, rather than all attributes checked against the item they apply to. There are multiple good reasons why it is implemented as such and I don’t see the behaviour changing.

That being said, I find it amusing that the attribute-not-used war

[2017-12-24 22:42] sfackler commented on #46968
There's a set of attributes that attribute-not-used lint doesn't look at since they're used in trans but lints run before that.

[2017-12-24 22:52] ExpHP commented on #46112
When I bisected the nightlies by hand on #45070 I ended up with a range that does not include the `rand` commit identified here.  Is it possible that the nondeterministic nature of the bug is also messing with our attempts to bisect?

[code]

I wonder whether merely linking `rand` affects #45070 in the same way as it affected this issue.

[2017-12-24 23:08] pietroalbini commented on #46823
Sorry, I'm a bit busy these days, I'll try looking at this in the next few days.

[2017-12-24 23:09] jdahlstrom commented on #46989
Wait... So it's just that eg. `impl<A> Eq for fn(A)` doesn't actually implement anything for any `fn(A)` where `A` is a reference type? You have to have a separate `impl<A> Eq for fn(&A)`? And another for `&mut A`? Which obviously would cause a combinatorial explosion in the current language...

I find the lists... [less than useful](https://doc.rust-lang.org/std/cmp/trait.Eq.html#implementors). I

[2017-12-24 23:15] arielb1 commented on #46112
@dtolnay

Any evidence of this problem existing with the newest nightly?

[2017-12-24 23:35] #28975 closed

[2017-12-25 00:05] vermiculus commented on #46989
Agreed; as a newcomer, it's not obvious why this is the case. (read: I still don't know why this is case…)

If it's possible to write such a `impl<A> Eq for fn(&A)`, that would also be useful information to include.

[2017-12-25 01:18] newpavlov commented on #46889
What about [const generics](https://github.com/rust-lang/rust/issues/44580)? Currently for me it's the most expected feature and I think it will be good for marketing to include it into the new epoch features list.

[2017-12-25 01:46] azriel91 commented on #42474
The following issues appear to be duplicates (or at least, related):

- https://github.com/rust-lang/rust/issues/40298
- https://github.com/rust-lang/rust/issues/31983
- https://github.com/rust-lang/rust/issues/12309

[2017-12-25 01:59] dtolnay commented on #45070
Fixed by #46708 and #46838.

[2017-12-25 01:59] #45070 closed

[2017-12-25 02:05] whitequark commented on #46819
Will it still be possible to easily build against only a single LLVM tree if e.g. I don't care about emscripten, or really anything except x86 and my target architecture?

[2017-12-25 02:07] eddyb commented on #46819
@whitequark From what I heard, the `emscripten` backend would disabled everywhere but the builders which produce the nightlies/releases, so it shouldn't affect custom builds by default.

[2017-12-25 02:20] dtolnay opened #46991 "Avoid path to macro-generated extern crate in error messages"
[code]

The message as of rustc 1.24.0-nightly (c284f8807 2017-12-24):

[code]

In this case it would be more desirable for the error message to refer to `serde::Serialize` rather than `_IMPL_DESERIALIZE_FOR_S::_serde::Serialize`. The extern crate means that the user's Cargo.toml includes the `serde` crate under `[dependencies]`, so showing `serde::Serialize` as the path seems reasonable.

I under

[2017-12-25 02:22] dtolnay commented on #46112
All the cases I tried seem to have been fixed by #46708 and #46838. Nicely done! I reported one follow-up in #46991.

[2017-12-25 02:22] #46112 closed

[2017-12-25 02:39] Manishearth commented on #46963
@GuillaumeGomez https://github.com/rust-lang/rust-roadmap/issues/20 ? It doesn't seem like folks leave todo items on that issue. Could you mention this in the appropriate place?

[2017-12-25 02:47] retep998 commented on #46889
@newpavlov New features should only be part of an epoch if they require a change which is not backwards compatible. Otherwise the feature should land normally so that people aren't forced to update their code for the new epoch just to gain access to that feature.

[2017-12-25 02:48] frewsxcv commented on #46963
just added this to the [docs team meeting agenda](https://public.etherpad-mozilla.org/p/rust-docs)

[2017-12-25 02:55] newpavlov commented on #46889
@retep998
I was under impression that epochs will be also used to highlight the most important additions to the language since the last epoch and looking on the list in the OP most (or even all?) features look backwards compatible to me.

[2017-12-25 04:54] kjaleshire commented on #44580
@jplatte I believe you meant to mention @kjetilkjeka.

[2017-12-25 04:56] #45320 closed

[2017-12-25 05:32] shssoichiro commented on #46576
Thanks! I'm attempting to test a fix, however the compiler seems to be taking _forever_ to compile stage1 since I rebased off of master. I'll let everyone know how it goes when (if?) compilation ever finishes.

[2017-12-25 05:47] devurandom commented on #43370
(@ishitatsuyuki commented on Oct 13 )

Where does alexcrichton/rust@8687fa0e02061dd8d46ce805afaa75a2a93c1835 live? It does not seem to be published by any branch.

[2017-12-25 06:11] ishitatsuyuki commented on #43370
It's probably superseded with a force push, and anyway I have backported and got it merged into master.

[2017-12-25 07:29] #46837 closed

[2017-12-25 07:46] leonardo-m opened #46994 "[NLL] rejects-valid vec of array usage"
This code compiles without feature(nll):

[code]

With feature(nll) it gives:

[code]

[2017-12-25 07:58] leonardo-m commented on #46994
Perhaps another example of the same problem:

[code]

Gives:

[code]

[2017-12-25 10:01] whitequark opened #46995 "rustdoc-tool does not build with --enable-llvm-link-shared"
Seems to be missing a `-L` flag:
[code]
Any ideas on fixing this?

[2017-12-25 10:32] whitequark commented on #46995
Horrible hacky workaround:
[code]

[2017-12-25 11:45] kjetilkjeka commented on #44580
Thanks for the update! I'm sure I'm far from the only one looking forward to this feature. Keep up the good work!

[2017-12-25 12:38] arielb1 commented on #46991
That would require us to have a "smart" prioritization system for paths.

We want to prefer:
[code]

over both
[code]
and
[code]

But also to prefer an "indirect" `serde::Serialize` over an import through a macro

[2017-12-25 12:52] arielb1 commented on #46991
Disregard the above. rustc can certainly emit "phantom" crate paths if there is a "voldemort re-export" of an item from another crate, aka

crate foo:
[code]

crate main:
[code]

The logic for choosing the path to display a *crate* from is this:
https://github.com/rust-lang/rust/blob/0cd67581e7d048810874903dc589e5b855f47e7d/src/librustc/ty/item_path.rs#L86-L124

That logic could be smarter:
1. It

[2017-12-25 12:52] arielb1 commented on #46991
cc @estebank @tirr-c - you might want to think of a good way to solve this

[2017-12-25 12:54] davidhewitt opened #46996 "wasm32-unknown-unknown: failed assert_eq! runs unreachable"
Hello,

With the following code:

    fn main() {
        assert_eq! (2+2, 5);
    }

I get an error when trying to load the module (using `cargo web start`):

    Error loading Rust wasm module 'demo':
    RuntimeError: unreachable executed
    Stack trace:
    wasm-function[47]@http://localhost:8000/js/app.js:13783:1
    wasm-function[46]@http://localhost:8000/js/app.js:12495:1
    wasm-function

[2017-12-25 12:56] #46631 closed

[2017-12-25 13:31] MoSal commented on #46889
I wouldn't consider `impl Trait` green yet. The inability to return `impl Trait` types in trait methods  is a huge limitation.

[2017-12-25 13:35] arielb1 commented on #46991
One strategy I can think of for implementing this (I'm not 100% sure it's a good idea in practice, I haven't tried this):

1. Add the following structs to `ppaux`:
[code]

   Yes, this will mean that "smart" formatting taking extra integer arguments will not be possible. I don't believe anyone is using it in `span_bug!` etc.

   This will require adding `Print` impls to "small" types (e.g. integer

[2017-12-25 13:37] est31 commented on #46996
This is no bug, but rather bad UI. If the assert fails, you need to do *something*. Panic backtraces or similar aren't implemented in wasm yet.

[2017-12-25 13:39] eddyb commented on #46995
Huh, it should be getting it through `rustdoc` -> `rustc_driver` -> `rustc_trans` -> `rustc_llvm`.

cc @alexcrichton

[2017-12-25 14:03] arielb1 commented on #46994
This is fixed on my branch - #46984 - so I'll close it as a duplicate of #46875.

[2017-12-25 14:07] davidhewitt commented on #46996
Oh ok, so I have to manually catch the panic?

This is slightly unfortunate in testing, as failing tests also hit this same unreachable.

[2017-12-25 14:41] abique commented on #26760
I'm running into this error, this is quite ridiculous to have so much troubles just to use PI.

[2017-12-25 14:43] arielb1 commented on #46964
Minified:
[code]

[2017-12-25 14:57] SergioBenitez commented on #46936
It sounds like this is intended breakage with a fair warning period that was intentionally ignored by ring. As such, this is a non-issue. Thanks for the input @cramertj, @est31!

[2017-12-25 15:23] dtolnay opened #46997 "Ambiguous documentation of line!() and column!()"
The documentation of the [`line!()`](https://doc.rust-lang.org/std/macro.line.html) and [`column!()`](https://doc.rust-lang.org/std/macro.column.html) macros says:

I find "not the invocation of the \`line!\` macro itself" a bit misleading, because it is totally possible and expected for the return value to be the line of the invocation of the line macro itself when not being called from another m

[2017-12-25 16:37] bstrie commented on #18510
Thank you so much for pushing on this old bug @diwic!

[2017-12-25 16:40] steveklabnik commented on #46963
@manishearth Vec::new/String::new does not allocate, and therefore, oom
could never make it panic.

On Sun, Dec 24, 2017 at 9:48 PM, Corey Farwell <notifications@github.com>
wrote:

[2017-12-25 16:54] fschutt opened #46998 "Unreadable error messages on linking failure"
This is a very annoying aspect of rustc - if it fails to link a library, it doesn't tell you the path, it doesn't tell you which library it couldn't find, it just spits out a completely unreadable error message and quits. For example:

[code]

Right, now try and read what the actual error is. In this case, the linker `cc` is missing, but the error message is similar if a system library is missing

[2017-12-25 16:55] diwic commented on #18510
@iainnicol

JFTR, as implemented, tagging the function with the #[unwind] attribute does opt out of the abort generation.

[2017-12-25 17:19] Moxinilian opened #46999 "emscripten linking with many dependencies broken on Windows"
Hello.

I have been trying to compile a rather big project for wasm32-unknown-emscripten using cargo on Windows.
Unfortunately, the linking process fails when trying to run emcc.bat because the command line invoked is too long for Windows' limitations (about 8k characters).
```error: linking with `emcc.bat` failed: exit code: 1```
```note: The command line is too long.```

After manually counting,

[2017-12-25 18:25] dataf3l commented on #46999
why not use a folder like c:\a so that it works?

[2017-12-25 18:27] Moxinilian commented on #46999
Well yes, this would work in my specific case.
But do you really want that in a final product?

[2017-12-25 18:32] ritiek commented on #46999
Maybe #46113 is related.

[2017-12-25 19:22] estebank commented on #46998
The problem here is that the error you're seeing is not coming from `rustc`, but rather from shelling out and trying to run `cc`. We can improve this error in particular by indeed verifying that the linker we're trying to run is there and emitting a different error for it in [`link.rs`](https://github.com/rust-lang/rust/blob/master/src/librustc_trans/back/link.rs#L630) and [`write.rs`](https://git

[2017-12-25 19:26] kennytm opened #47002 "Tracking issues for spurious failures related to IPv6 problems in Travis CI's new 2017-Q4 image"
Upstream issue: travis-ci/travis-ci#8891.

## 1. ~~Network tests related to IPv6 are failing~~

Error first happens in #46692. Fixed in #44694 by using the older Travis image instead.

## 2. ~~Docker failed to start due to "Address already in use"~~

The old image is reverted in #46924. It was still going well for ~5.5 hours (2 more PRs) after the PR is merged, but when bors try #46941, the jobs a

[2017-12-25 19:59] kennytm commented on #47002
Timeline of the second bug:

1. 2017-12-23T14:12:10Z — #46924 rolled up into #46967
2. 2017-12-23T15:17:33Z — It was noted that the roll up [failed in Travis](https://travis-ci.org/rust-lang/rust/builds/320656619) with "Address already in use" while building docker image. #46924 is backed out from the rollup.
3. 2017-12-25T10:07:15Z — #46924 has been merged.
4. (#46949 and #46971 are merged succes

[2017-12-25 20:58] tspiteri opened #47003 "commenting out feature flag does not affect recompilation"
First I compile this code with `cargo +nightly build`:
[code]
Then I comment out the feature flag:
[code]
Then I recompile and it does not fail, even though the code currently requires the feature flag to compile. I guess incremental recompilation is not detecting the change.

If I `cargo clean` before recompiling, or if I completely delete the line (thus changing line numbers for the following li

[2017-12-25 20:58] nagisa commented on #46989
cc @nikomatsakis

[2017-12-25 23:27] Manishearth commented on #46963
I'm aware; there's a proposal to change this with oom=panic.

On Dec 25, 2017 10:10 PM, "Steve Klabnik" <notifications@github.com> wrote:

[2017-12-25 23:34] sfackler commented on #46963
How is oom=panic related to the capacity used with Vec::new and String::new?

[2017-12-25 23:35] Manishearth commented on #46963
Because with_capacity can trigger a panicky oom in that case?

On Dec 26, 2017 5:05 AM, "Steven Fackler" <notifications@github.com> wrote:

[2017-12-25 23:42] sfackler commented on #46963
new doesn't call with_capacity: https://github.com/rust-lang/rust/blob/master/src/liballoc/vec.rs#L324-L329

[2017-12-25 23:46] bitshifter commented on #33626
I've created a pull request for stabilization, I still need to update the reference. I wasn't planning on updating the book or rust by example as they don't appear to talk about `repr` hints.

[2017-12-25 23:46] Manishearth commented on #46963
Oh, sorry. Meant push/with_capacity, my bad.

On Dec 26, 2017 5:12 AM, "Steven Fackler" <notifications@github.com> wrote:

[2017-12-25 23:53] shssoichiro opened #47008 "Stage1 compilation hangs indefinitely on libcore (OS X)"
A few days ago, I was able to compile the compiler through stage1 in about 20 minutes (4-core Haswell i7 with hyperthreading on OS X High Sierra). Since rebasing against master, stage1 seems to hang at compiling libcore. It has currently been compiling stage1's libcore for 45 minutes, using 60% of one CPU core, and shows no signs of finishing. Nothing else on the machine is using a significant amo

[2017-12-26 01:04] alexcrichton commented on #46996
Yes unfortunately this is expected behavior right now, all wasm code is effectively compiled with panic=abort. We could change this via codegen tweaks in rustc itself (a very large change) or wait for wasm to have native unwinding support (probably going to take awhile)

For the time being you unfortunately can't easily rely on catching panics. We need to do a better job with the error message as

[2017-12-26 01:40] #33690 closed

[2017-12-26 01:40] #46365 closed

[2017-12-26 01:40] #46880 closed

[2017-12-26 01:40] #43825 closed

[2017-12-26 01:45] ishitatsuyuki commented on #38528
I'm digging on this. Some easy profiling:

![](https://user-images.githubusercontent.com/12389383/34344518-d5cc38d2-ea29-11e7-83a8-d2dd9a7ea184.png)

[2017-12-26 02:14] bitshifter commented on #33626
I have not updated the reference Attribute syntax grammar documentation as the new syntax is only used by `#[repr(align)]` and I thought it might be pretty confusing to include a grammar which is only used by one kind of attribute for now.

[2017-12-26 02:49] ishitatsuyuki commented on #38528
After some digging it seems that https://github.com/rust-lang/rust/blob/ebddfcb0b19471d2277e05cfbc2ad8caa81637b7/src/librustc/ty/subst.rs#L324 may be a cause.

I only have little knowledge regarding the compiler, but if I'm correct this relates to @nikomatsakis experiment on the number of output types. This looks like a place we can do a exponential blowup, by the factor of parameters.

[2017-12-26 04:25] Havvy opened #47010 "dyn Trait + Send+ Send should equal dyn Trait + Send"
For some trait, `Trait`, the following is a legal type: `type Send2 = Trait + Send + Send`.

Not only that, but the type is actually distinct from `type Send1 = Trait + Send`. E.g., you can put inherent methods on both, and call them distinctly. I've a full example of this [here](https://play.rust-lang.org/?gist=6480849426c41c569886223d742b582c&version=nightly).

Unfortunately, this is already in

[2017-12-26 05:23] nodakai opened #47011 "Docs of `impl Index` for HashMap and BTreeMap should mention they panic for a non-existent key"
It's true that you can expect this behavior from the method signature, but this is too important a detail to leave out.

What was the rustdoc syntax to document a particular impl of a trait?

[2017-12-26 06:55] kennytm commented on #47010
You can't write `type WithSend<T: ?Sized> = T + Send` (causes E0404 "not a trait"), so denying it should be safe.

However I'm not sure if these should be considered equivalent, or different, or rejected.

[code]

[2017-12-26 07:00] kennytm commented on #47011
You just write doc comments on the impl block as usual.

[code]

[2017-12-26 07:21] retep998 commented on #46998
There's two typical kinds of linking failure 1. the linker does not exist 2. the linker does exist but failed to link successfully.

In the former case we definitely should not print the linker command line because it's meaningless when we couldn't find a linker to begin with. Instead printing out some diagnostic information about where `rustc` tried to look for the linker would be more useful (in

[2017-12-26 09:40] petrochenkov commented on #47010
[code]
is legal, so `dyn Write + Send + Send` should be legal as well, stating a predicate twice is redundancy, but not an error.

This can also be useful with trait aliases - `dyn TraitAlias + Send`, where `TraitAlias` may include `Send` as well.

Looks like the bounds just need to be "normalized" somehow (e.g. sorted and deduplicated) when lowering from syntactic to semantic form.
This is somewh

[2017-12-26 10:35] leonardo-m opened #47015 "Bad native codegen (2017-12-25 Nightly)"
Given this small program:

[code]

I am using:
[code]

If I compile that program with this it works correctly:
`rustc -C opt-level=1 test.rs`

If I compile it with a native CPU target it asserts:
`rustc -C opt-level=1 -C target-cpu=native test.rs`

The llvm-ir of the e97 function produced with a default CPU target:

[code]

And the llvm-ir using the native CPU target:

[code]

Their diff:

[code]

[2017-12-26 10:42] leonardo-m commented on #46897
The binaries generated by the last Nightly (1.24.0-nightly 4a7c072fa 2017-12-25) is further few percents slower (perhaps because of thinLTO?), the compilation times can't be compared now.

[2017-12-26 11:16] #43439 closed

[2017-12-26 11:32] leonardo-m commented on #46873
How can I reopen this issue?

[2017-12-26 12:21] Manishearth commented on #46873
Ah, looks like I tested it with the thing commented out. My bad.

Reopening.

https://play.rust-lang.org/?gist=73158fdb88e83c6a6f592838e3b066b9&version=nightly

(In the future please give playpen link for bug reports)

[2017-12-26 13:33] kennytm commented on #46897
@leonardo-m Is there more stable measure besides compile time / run time? They can be affected too easily by the environment especially when the run time is expected to take less than 1 second. The generated assembly size seems to be a good measure.

[2017-12-26 13:53] #44433 closed

[2017-12-26 15:11] ordovicia commented on #41615
Is this tracking issue supposed to be closed?

[2017-12-26 15:45] fschutt commented on #46998
@retep998 @estebank If this is an actual bug, I'd love to do this as my first contribution to the rust compiler. I'm not the best Rust developer, but I'm not exactly new to the language either. So my question would be:

- Can we agree that this is undesired behaviour and should be fixed?
- How would you think the output should look like (i.e. what should the error message tell)? I'd personally agr

[2017-12-26 16:41] retep998 commented on #46998
Trying to tell which paths were searched for the library is going to be *really* hard because `rustc` does not actually know all the paths where the linker searches for libraries. Environment variables and system configuration can determine additional directories where the linker will search which `rustc` never told the linker to search in, and this differs between different toolchains (msvc again

[2017-12-26 16:51] kennytm commented on #41615
Thanks @ordovicia.

I've reopened the issue since there is still two unresolved questions (color and arrow).

However AFAIK there can be no "Stabilization PR", the change is insta-stable. For "Adjust documentation", perhaps check the books if the output format needs to be updated, but otherwise no specific documentation is needed for this feature.

[2017-12-26 18:08] alexcrichton commented on #46999
@Moxinilian can you provide the full error message? It looks like this may be a bug in emscripten, not in rustc.

[2017-12-26 18:36] Moxinilian commented on #46999
@alexcrichton I uploaded the project I tried to compile in this repo
https://github.com/Moxinilian/emscripten_bug
log.txt contains the entire output

[2017-12-26 19:08] vramana commented on #45700
Hi, I am working on this.

[2017-12-26 19:39] estebank commented on #46998
That is great!

Yes, I believe we can improve significantly over the current output.

I definitely believe this is the main fix for this issue.

We already output the linker's result, which should be _enough_ but not _great_. Scraping the output in order to output the error in a consistent way as the rest of `rustc` errors would be the best bet, if not exhaustive.

It depends, on cases like this t

[2017-12-26 19:56] estebank commented on #46976
@CAD97 the actual issue is _possibly_ in [`librustdoc/clean/mod.rs`](https://github.com/rust-lang/rust/blob/master/src/librustdoc/clean/mod.rs) not handling `impl Trait` correctly. Thank you for digging into this!

[2017-12-26 20:12] alexcrichton commented on #47015
This looks like a bug in LLVM unfortunately. For example:

[input.ll](https://gist.github.com/alexcrichton/f73ce03b655179e4286d6e024558a292)

[code]

[output.ll](https://gist.github.com/2ffb0d0a4a0be93e160ca0a0030c6220)

[code]

The major change in the nightly here is that ThinLTO was enabled. ThinLTO can run optimizations twice (why `opt` is run twice here) and it seems as if some bug is generati

[2017-12-26 20:19] jedisct1 opened #47022 "NLL ICE: unresolved type in dtorck"
rustc version:
[code]

This is on macOS.

Enabling NLL triggers an ICE when trying to compile EdgeDNS (`nll` branch from https://github.com/jedisct1/edgedns):

[code]

This happens at link time.

[2017-12-26 20:42] kvark opened #47023 "llc crashes linking gfx-rs under emscripten"
Looks very similar to #37952 (cc @alexcrichton @s3bk):

*** Error in `/home/kvark/Code/ems/fastcomp/build/bin/llc': munmap_chunk(): invalid pointer: 0x0000000009984ab8 ***
error: linking with `emcc` failed: exit code: 1

Rust versions tested:
- "rustc 1.22.1 (05e2e1c41 2017-11-22)"
- "rustc 1.24.0-nightly (edbd7d232 2017-12-20)"

Repro steps:
[code]
Full log: https://gist.github.com/kvark/6a018972

[2017-12-26 22:00] Riamse opened #47024 "Box<FnMut> and Box<Fn> should implement FnMut and Fn"
`Box<FnMut>` and `Box<Fn>` should implement `FnMut` and `Fn`. The Rust Book [encourages](https://doc.rust-lang.org/book/second-edition/ch19-05-advanced-functions-and-closures.html) you to use boxed closures when returning closures in order to satisfy the `Sized` requirement, but since boxed closures don't actually implement these traits, it's hard to use them in practice, especially when returning

[2017-12-26 22:09] fschutt commented on #46998
Sure, doing the easy things first. The thing I'm currently running into is this:

[code]

I am not sure what "you should run a normal build first" means - I just ran `sudo ./x.py build`. Not sure what "normal build" means I should do. I cloned into `~/rust`, but the folder `~/rust/src/vendor` doesn't exist. I tried configure + make, but that seems to do the same. This happens even with a clean ins

[2017-12-26 22:11] clarcharr opened #47025 "Test internal docs on CI"
I recently submitted #46979 because the rustdoc for rustc failed to compile, because some of the code snippets were invalid syntax.

I think that it would be reasonable to somehow test this via CI to make sure that the docs compile, even if they aren't included in the main distribution of Rust. I also think that doc tests for internal rustc stuff should be tested alongside everything else.

[2017-12-26 22:22] clarcharr commented on #47025
So I just realised that #46278 was opened for this. I'll leave this open until that's merged.

[2017-12-26 22:28] alexcrichton commented on #46995
The link paths aren't propagated because rustdoc is in a separate Cargo project, we'll need to manually insert necessary link paths via a build script in rustdoc.

[2017-12-26 22:32] alexcrichton commented on #46999
Ah ok thanks for the extra info @Moxinilian!

So for a bit of background, rustc does indeed have [safeguards in place](https://github.com/rust-lang/rust/blob/503153e9506890c31749768474506e0b4e3eb4ef/src/librustc_trans/back/link.rs#L735-L825) for reinvoking the linker if necessary when the command line is deemed too large. What's happening here, though, is that the error is happening at the wrong t

[2017-12-26 22:33] Moxinilian commented on #46999
@alexcrichton Is there any additional test you'd want me to run to try to figure this out?

[2017-12-26 22:35] alexcrichton commented on #46999
If you'd like to debug further that'd be great. We'd first need to understand what's actually failing here (`cmd` or something in emscripten). Once that's known we could figure out if it's reasonable for us to catch the error and do something about it.

[2017-12-26 22:40] clarcharr opened #47027 "Types in std::os::raw should be same as libc crate"
Right now, there's a bit of a discrepancy between these two, even though there shouldn't be. While the libc crate has [very complicated logic](https://github.com/rust-lang/libc/search?q=%22pub+type+c_long%22) to determine how the `c_*` types are defined, the standard library uses a [much simpler logic](https://github.com/rust-lang/rust/blob/81622c6b02536bdcf56145beb317da0d336703c1/src/libstd/os/ra

[2017-12-26 22:46] Moxinilian commented on #46999
So I edited emcc.bat to print a dummy message when it gets called.
As the message did not show up, I came to the conclusion that cmd itself refuses to run the command.

[2017-12-26 23:05] estebank commented on #46998
Why are you running with `sudo`? The build should work as expected running as your user ([`./x.py build`](https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md#building)).

[2017-12-26 23:30] #45695 closed

[2017-12-26 23:31] estebank commented on #47022
https://github.com/rust-lang/rust/blob/master/src/librustc/ty/util.rs#L608-L611

[2017-12-27 00:08] varkor commented on #46770
If the struct declaration is commented out, the compiler complains about `repr(blah)` on the static variable and function too, so it's not silent so much as not reporting all the related errors at the same time.

[2017-12-27 00:12] vramana commented on #46599
@arielb1 There is no `visit_lvalue` function. Can you explain your hints in a little more detail?

[2017-12-27 01:11] eddyb commented on #46995
@alexcrichton Ah, so none of the information is in the Rust `rlib` / `dylib` metadata?

[2017-12-27 02:28] XanthusL opened #47028 "The pre-built binary from the official site is 1.17.0(56124baa9 2017-04-24)"
It's too old

[2017-12-27 02:32] sfackler commented on #47028
Which pre built binary from which site?

[2017-12-27 02:38] XanthusL commented on #47028
fixed. lol
rustup self update
rustup update

[2017-12-27 02:38] #47028 closed

[2017-12-27 02:39] CAD97 commented on #46976
I noticed that the PR in question did [remove the match for `TyImplTraitUniversal`](https://github.com/rust-lang/rust/pull/46754/files#diff-6ad072c1ebc79b7620832915f2323d55L2136), because [`TyImplTraitUniversal` was removed](https://github.com/rust-lang/rust/pull/46754/files#diff-7fceb7ede15b205bf5ad812c31d75384L1523).

Here's the line where the empty path.segments is generated: https://github.com

[2017-12-27 03:04] Rantanen opened #47029 "GNU toolchain on Windows can't build compiler plugins since nightly 2017-12-15."
[code]

lib.rs
[code]

Building the above file as a dylib (or alternatively using cargo and `plugin = true`) fails:

[code]

The full error can be seen on AppVeyor for example:

https://ci.appveyor.com/project/Rantanen/intercom/build/129/job/0k9k54hkwk1f0sfw

The build works just fine on the previous nightly.

[code]
--------------------------------------------------------------------------

As fa

[2017-12-27 03:10] qnighy commented on #47024
Seems to be a duplicate of #38132.

[2017-12-27 03:17] estebank commented on #46976
@CAD97 something that I find useful in cases like that is to use the debugger:

[code]

That will print out the backtrace of the chain of callers of that method (you can use `n` to continue until the breakpoint hits again until you get to the actual call you care about).

[2017-12-27 03:32] Rantanen commented on #47029
I suspect the issue is a result of ea35192d7c3e64b8be7f694d0743d123b0c4563a, which added `backtrace` as a dependency to the `rustc` package. `backtrace` again depends on `dbghelp-sys`, which causes the linking issue I believe.

The standard library seems to use `dbghelp` through a `dlopen` instead of compile time linking: https://github.com/rust-lang/rust/blob/f1ea23e2cc72cafad1dc25a06c09ec2de8e32

[2017-12-27 03:35] retep998 commented on #47029
`dbghelp-sys` bundles `libdbghelp.a` so depending on it normally works. However when the precompiled version is distributed inside rustc internal crates, `libdbghelp.a` is not brought along, causing stuff to fail to link. The simplest solution on Rust's side is to simply add `libdbghelp.a` to the set of mingw import libraries that it bundles.

[2017-12-27 07:05] topecongiro commented on #36792
rustc does not overflow its stack on `rustc 1.24.0-nightly (cddc4a62d 2017-12-26)`.

[2017-12-27 08:36] JordiPolo commented on #39037
Ping @Mark-Simulacrum  @alexcrichton  Isn't this done already?
Not the adapting to hardware but it seems the number has been tuned to make it optimal.

[2017-12-27 09:44] #46868 closed

[2017-12-27 12:30] MaikKlein commented on #45800
@michaelwoerister I just tested it again with

[code]

And I can't reproduce it anymore. It seems to be fixed.

[2017-12-27 12:54] #46897 closed

[2017-12-27 12:59] eddyb commented on #46897
Please re-test next nightly and reopen if not fixed.

[2017-12-27 14:09] steveklabnik commented on #47027
I feel like this issue is a duplicate, but I'm not sure.

[2017-12-27 15:18] clarcharr commented on #47027
It was definitely listed in the original [libc RFC](https://github.com/rust-lang/rfcs/blob/master/text/1291-promote-libc.md#unresolved-questions) as an unresolved question, and I found #36193, but I really didn't find anything that addressed this specific issue.

There are also issues regarding `c_void` (rust-lang/libc#180) but that's different than this.

[2017-12-27 15:19] alexcrichton commented on #39037
Agreed!

[2017-12-27 15:19] #39037 closed

[2017-12-27 15:22] michaelwoerister commented on #45800
Thanks for checking back, @MaikKlein! I'll close for now. Feel free to open another issue if the problem re-appears.

[2017-12-27 15:22] #45800 closed

[2017-12-27 15:32] rkarp commented on #42621
Even just `#![windows_subsystem]` is also allowed, which can be misleading.

[2017-12-27 15:33] michaelwoerister commented on #45875
@wesleywiser, try to remove `RustcEncodable, RustcDecodable` from the `#[derive(...)]` attribute on `Fingerprint`. They might somehow shadow the specialized implementations. I think, I've run into this myself a few weeks ago. Very annoying `:)`

[2017-12-27 15:42] #46855 closed

[2017-12-27 15:53] alexcrichton commented on #46995
Correct yeah, link paths aren't stored in metadata, only libraries linked.

[2017-12-27 16:01] fschutt commented on #46998
Thanks, I got it to build. I'll try to do a PR.

[2017-12-27 16:28] m-ou-se opened #47032 "Recursive type with `Cow`, `'static` and slice triggers "overflow evaluating the requirement""
The following compiles with rustc 1.7.0 and earlier, but not in 1.8.0 and later:

[code]

The errors:
[code]

Since it compiles fine with the first two members (reference to slice, and Vec), I'd expect a Cow of a slice to also work. Is this a regression, or is this supposed to not compile?

[2017-12-27 16:48] lamogui commented on #46945
got this here on windows 10

[2017-12-27 17:40] BurntPizza commented on #44891
I've query-ifed `normalize_and_test_predicates`, which you can see here: https://github.com/BurntPizza/rust/tree/query-snatp
I'm not noticing any timing difference on some quick by-hand benchmarks, but I'm not looking at memory usage. or anything incremental. Should I make a PR?
Also, @nikomatsakis , I want to thank you for such clear and actionable instructions. I've had "contribute to rustc" on

[2017-12-27 17:57] wesleywiser commented on #45875
Thanks @michaelwoerister, that did it.

[2017-12-27 18:29] matklad commented on #46945
Hit this on CI. Looks like one workaround is to downgrade rustup. Here's an older version:

https://static.rust-lang.org/rustup/archive/1.7.0/i686-pc-windows-gnu/rustup-init.exe -FileName rustup-init.exe

[2017-12-27 18:44] mikeyhew opened #47034 "ManuallyDrop<T> where T: ?Sized"
`ManuallyDrop<T>` currently requires `T: Sized`. It would be nice if we could remove this restriction. I'm not sure how to do it with the current implementation using `union` though.

[2017-12-27 18:51] kennytm commented on #46945
Closing in favor of rust-lang-nursery/rustup.rs#1316. Please follow that issue instead, thanks!

[2017-12-27 18:51] #46945 closed

[2017-12-27 19:32] jonas-schievink commented on #47034
Doesn't seem possible until we get by-value DSTs

[2017-12-27 19:58] scottmcm commented on #43301
I'm figuring that the feature will get stabilized far before the trait does, like happened with `Carrier`.

[2017-12-27 20:07] bluss commented on #47024
Seems to be a perfect duplicate, closing in favour of the older one.

[2017-12-27 20:07] #47024 closed

[2017-12-27 20:14] rkruppe commented on #46770
You're right. I thought I had checked that but apparently not. Still odd (and makes writing compile-fail tests for this harder than necessary), but not a bug IMO.

[2017-12-27 20:14] #46770 closed

[2017-12-27 20:16] sanmai-NL commented on #44981
@manfredbrandl: can this issue be closed?

[2017-12-27 20:44] briansmith commented on #43036
I think `#[repr(transparent, packed)] struct Foo(Bar);` would be a no-op. In fact, I would expect `#[repr(packed)] struct Foo(Bar);`, with no `transparent` involved, to be a no-op too; is it not?

[2017-12-27 21:11] jdahlstrom commented on #43301
FWIW that's another case where I'm really glad that the provisional name was changed before stabilization :D

[2017-12-27 21:11] rkruppe commented on #43036
`#[repr(packed)] struct F32(f32);` is still an aggregate for ABI purposes, and thus is passed differently from plain `f32` or `repr(transparent)] struct F32(f32)`. That's, like, the whole motivation for `repr(transparent)`!

[2017-12-27 21:44] eddyb commented on #43036
@briansmith `#[repr(packed)]` sets the alignment to `1` which is incompatible with any primitive other than bytes themselves (`u8` / `i8`) and it would require quite some LLVM gymnastics to be.

[2017-12-27 22:02] mikeyhew commented on #47034
@jonas-schievink care to explain why?

[2017-12-27 22:03] #44981 closed

[2017-12-27 22:09] zackw commented on #43301
As the author of the RFC I have no objection to changing the name of the trait to `Exit`, or anything else really.  I'm not particularly good at naming things and happy for someone else to have a better idea.

[2017-12-27 22:19] euclio commented on #46823
No problem. I need to take a closer look because *using* the analysis data seemed to work as expected.

[2017-12-27 22:23] jonas-schievink commented on #47034
Ah, nevermind. It would just need to make `ManuallyDrop` unsized, too.

[2017-12-27 22:39] #27078 closed

[2017-12-27 22:39] #27985 closed

[2017-12-27 22:39] #39848 closed

[2017-12-27 22:39] #42164 closed

[2017-12-27 22:39] #42479 closed

[2017-12-27 22:39] #45965 closed

[2017-12-27 22:39] #46152 closed

[2017-12-27 23:03] SimonSapin opened #47037 "run-make/relocation-model: "final link failed: Nonrepresentable section on output""
Running `./x.py test` on unmodified master bfbb1f5ce1e6a85a03219767cfc5c9bab3f7bf9e fails on Ubuntu 17.10. The output ends like this:

[code]

[2017-12-27 23:17] MaloJaffre opened #47038 "decl_macro and use std::vec combo breaks rustdoc"
A crate with the following reduced `lib.rs` breaks rustdoc:
[code]
Indeed, rustdoc links to `vec!()` docs in index.html because this macro has the same name than the imported module (???).

Furthermore, the macro page linked has broken links because it is copied in the crate namespace, instead of being directly https://doc.rust-lang.org/std/vec/struct.Vec.html.
[code]

[2017-12-27 23:59] aclarry commented on #40108
I, too am suffering from this problem. Changing the ownership on the `.cargo` directory to non-root doesn't help (and as soon as I run `sudo ./x.py install` or `sudo ./x.py build`, it changes ownership back to root).  I still get

[code]

Running without `sudo`, I get
[code]

Rust builds fine: I have an up to date `rustc` 1.24.0 built in the `builds/` directory.  I'd just wanted to be able to get

[2017-12-28 01:07] mikedilger commented on #40985
Glad I found this issue, I was quite confused by the reference to the core Float trait, and the rust manual saying f32 powi() was stable since 1.0.0

[2017-12-28 01:27] rnestler opened #47040 "ICE when trying to cross compile with xargo"
I got an internal compiler error when trying to cross compile a project with the latest nightly using xargo.

[code]

[2017-12-28 01:33] the8472 commented on #44041
Would it make sense to apply iterate-to-fixpoint optimization passes on a subset of methods, hotspots found by profiling basically. Either via annotation similar to `#[inline]` or as part of PGO.

[2017-12-28 03:44] Ericson2314 commented on #32838
https://github.com/QuiltOS/rust/tree/allocator-error I've started to demonstrate how I think associated error type solves our collections and error-handling problems by doing the generalization itself.

Unfortunately the code won't fully type check because changing the type params of a lang item (box) confuses the compiler (surprise!). But hopefully what I have so far gives a flavor of what I am d

[2017-12-28 03:48] Ericson2314 commented on #42774
Cross post https://github.com/rust-lang/rust/issues/32838#issuecomment-354223145

I've started generalizing the collections myself; the easiest way to demonstrate how the associated return type helps is to just do the code change, I suppose.

[2017-12-28 04:13] #33469 closed

[2017-12-28 08:35] whitequark opened #47045 "diagnostic for (x as uN << y) incorrectly describing the operator"
The diagnostic describes `<<` as a comparison operator, which is mildly confusing.
![screenshot_20171228_083437](https://user-images.githubusercontent.com/54771/34405226-01a36ec2-ebaa-11e7-84aa-985928d11d45.png)

[2017-12-28 08:50] jseyfried commented on #37872
@cramertj I'm not aware of any other blockers, but there might be other crates that were broken -- it's been over a year since the Crater run.

[2017-12-28 09:10] Manishearth commented on #43466
I've got a WIP going on in https://github.com/manishearth/rust/tree/correct-resolver-fail , which works off of Misdreavus' WIP (they did most of the work).

[2017-12-28 09:38] petrochenkov commented on #47045
Fixed on nightly, with a test (https://github.com/rust-lang/rust/pull/45146).

[2017-12-28 09:38] #47045 closed

[2017-12-28 10:02] gibfahn commented on #46505
I can no longer reproduce this with the latest nightly, so I'm guessing #46346 was the fix.

Thanks for all the investigation!

[2017-12-28 10:02] #46505 closed

[2017-12-28 10:08] rkruppe commented on #44041
@the8472 Most combinations of passes (including pretty basic combinations like SimplifyCFG+InstCombine, as @dcci mentioned in the post you quoted) don't generally converge to a fixed point when run together, i.e., on some code iterate-to-fixpoint would loop infinitely.

[2017-12-28 10:28] #46655 closed

[2017-12-28 10:50] EdSchouten commented on #44971
While porting Rust over to [CloudABI](https://github.com/NuxiNL/cloudabi), a sandboxed UNIX-like runtime environment, I ran into the issue that there is no way for me to implement this function. As we're aiming to use CloudABI in distributed settings, there is no traditional 16/32-bit process identifier. Instead, processes may be identified by a UUID. This is useful, as integer process identifiers

[2017-12-28 11:38] bluss commented on #46923
Fixed in rustc 1.24.0-nightly (1abeb436d 2017-12-27)   🌟 @eddyb 🌟

[code]

So it was resolved like #46897

[2017-12-28 11:38] #46923 closed

[2017-12-28 11:49] Manishearth commented on #44229
Are we still waiting on something to flip the switch? https://github.com/rust-lang/rust/pull/47046 would be slightly easier if we didn't have to support both. Slightly, not very, so don't rush on its account.

[2017-12-28 11:59] leonardo-m commented on #46897
The run-time of the binary is now OK. The compilation time with --emit=metadata is still quite large.

[2017-12-28 12:32] kennytm commented on #17027
Just for record, `std::mem::size_of::<((u16, u8), u8)>()` is still 6 on the current nightly, unaffected by #45225.

[2017-12-28 12:52] kennytm commented on #43301
https://github.com/rust-lang/rust/blob/5f7aeaf6e2b90e247a2d194d7bc0b642b287fc16/src/libstd/lib.rs#L507

Is the trait supposed to be

1. placed in libstd instead of libcore, and
2. just called `std::Termination`, not `std::ops::Termination`?

[2017-12-28 13:19] eddyb commented on #46897
@leonardo-m Can you open a separate one for compilation times? Seems to be a separate issue.

[2017-12-28 13:24] #41719 closed

[2017-12-28 13:39] steveklabnik commented on #44229
It hasn't hit stable yet; we wanted to do that before we started making more moves.

[2017-12-28 13:59] bkchr commented on #43301
The trait could not be placed into `libcore`, because the implementation for `Result` requires to print to `stderr` and that can not be done in `libcore`.

[2017-12-28 14:36] kennytm commented on #43301
@bkchr The impl being in libstd doesn't mean the trait needs to be in libstd as well.

[2017-12-28 14:59] tspiteri opened #47048 "under latest MinGW, cannot link with C code using stdout"
I'm having an issue under MinGW and I'm not sure if it's a MinGW issue or a rustc issue. On the one hand the bug crops up after an update to two MinGW packages, but on the other hand I cannot reproduce with only C, and I don't know if rustc is using MinGW in some undocumented unsupported way.

say_hi.c:
[code]
c_main.c
[code]
r_main.rs:
[code]

Under the latest MinGW, specifically with packages

*

[2017-12-28 15:12] bkchr commented on #43301
@kennytm I know, but Result is also defined in libcore, so Termination can not be implemented for Result in libstd.

[2017-12-28 15:26] fschutt commented on #46998
@estebank So I now changed it to output:

[code]
... however, I think it's easier shortening the error message to:

[code]

It's better to read imho, because if you use a terminal, you need less time to understand the error.

[2017-12-28 15:26] oli-obk commented on #29947
I would like to stabilize const indexing in the process of moving from old ctfe to miri. While the feature gate could be kept, it would require some work which would simply be useless if we're going to stabilize const indexing anyway.

[2017-12-28 16:31] estebank commented on #46998
Could you move the OS error to a `note`? That way people the error message itself is short and to the point, while the extra context still available to the user.

[code]

It would also be _amazing_ if depending on the environment being run an error message with a targeted description similar to [the troubleshooting in the first edition of The Book](https://doc.rust-lang.org/book/first-edition/gett

[2017-12-28 17:44] QuietMisdreavus commented on #43466
Note that that branch is now live as https://github.com/rust-lang/rust/pull/47046, which i'm polishing and finishing up.

[2017-12-28 18:09] the8472 commented on #44041
@rkruppe ok, if it does not reach a fixpoint, does it reach fairly small cycles? In that case a cycle finding algorithm using checkpoints could be used to stop the iteration. Additionally the idea would be to run this in combination with inlining (@dcci's push_back example), so a code size constraint could also be added as abort criteria.

[2017-12-28 19:06] #46576 closed

[2017-12-28 19:10] matthewjasper commented on #45662
This isn't fixed, example should have had a `#![crate_type = "lib"]` or a `#[no_mangle]` attribute to make sure that the function is exported.
@estebank

[2017-12-28 19:16] fschutt commented on #46998
@estebank See https://github.com/rust-lang/rust/pull/47052

[2017-12-28 19:29] cramertj commented on #37872
@jseyfried should we do a crater run on https://github.com/rust-lang/rust/pull/46531, then? It would have broken affected crates because it changed the interpretation of `mod foo;` in non-mod.rs files.

[2017-12-28 19:42] jseyfried commented on #37872
Good point. I would think breakage is likely, but a Crater run might be warranted. I think it would be better to just do (or wait for) a stable- or beta-to-nightly Crater to also see if there's any other breakage from making this a hard error.

[2017-12-28 20:24] MaloJaffre commented on #32553
`collections` crate was removed (#45446), so here is a new reduced testcase:
[code]

[2017-12-28 20:25] estebank commented on #45662
@matthewjasper [confirmed](https://play.rust-lang.org/?gist=70025a13aabf12680f1273c8af930824&version=nightly).

CC @topecongiro.

[2017-12-28 21:03] sourcefrog commented on #22692
I'd like to work on this. I think I can see where to change it. If someone wants to mentor let me know, otherwise I might ask on IRC or Discourse if I get stuck.

[2017-12-28 22:05] nstoddard commented on #47023
Does this also happen if you enable -O2 or above? I've seen something similar which went away when I enabled optimization. This might let you work around this issue until it's fixed.

[2017-12-28 22:08] rkruppe commented on #44041
That's a big if (and getting more unlikely as you add more passes), checkpoints will be tricky to implement and balloon compile time & peak rss even further, and the approach doesn't scale to larger pipelines.

I'm all but convinced that solving phase ordering issues completely can't be achieved by running classical LLVM passes to a fixed point, only by adopting a wholly different approach to opti

[2017-12-28 22:33] EdSchouten opened #47053 "What are the semantics of '#[thread_local] static ...' without 'mut'?"
**Background:**

I am currently working on porting Rust's libstd over to the CloudABI sandboxed runtime environment. I'm pretty close to getting it working and hope to send out a pull request in a couple of days.

As CloudABI's userspace <-> kernel ABI [is documented](https://github.com/NuxiNL/cloudabi) and [we generate Rust bindings automatically](https://docs.rs/cloudabi/0.0.1/), it's really att

[2017-12-28 22:34] eternaleye commented on #44041
@rkruppe: It's pretty easy to show that iterating to a fixpoint is insufficient by showing that there are pairs of optimizations for which _no_ ordering is optimal - (register allocation, instruction selection) is something of the "canonical" such pair, with the solution being to fuse the two into a single pass.

Alan Lawrence's [thesis](https://www.cl.cam.ac.uk/techreports/UCAM-CL-TR-705.pdf) on

[2017-12-28 22:46] the8472 commented on #44041
@rkruppe yes, the compile times are an obvious concern, that's why I suggested it to only applying it to select functions, not globally. E.g. [this comment](https://github.com/rust-lang/rfcs/issues/1220#issuecomment-314142805) on PGO mentions a bin crate having one hot code path they'd like to optimize.

But one could still get an improvement over the current situation.

[2017-12-28 23:10] mikeyhew commented on #47034
The `new` and `into_inner` methods can keep could keep their `Sized` bounds, we just need to relax the `Sized` bound on the struct itself, and make sure `ManuallyDrop<T>: Unsize<ManuallyDrop<U>> where T: Unsize<U>, U: ?Sized`. Then the following code would be possible:

[code]

[2017-12-28 23:19] tmccombs commented on #44971
I'm opposed a completely opaque data type, because that limits the usefulness. For example, that makes it difficult to use in C (or dbus) that require a PID. However, I think it would be alright if the it was a semi-opaque type with OS-specific API's to get the underlying representation (in std::os::unix, etc).  However, that would break consistency with `std::process::Child::id`. I'm not sure how

[2017-12-28 23:27] mikeyhew commented on #47034
I guess this would be possible by allowing `union` types to be `?Sized` when there is only one variant. I was worried that would be unsound, but then I realized, the only way to create a DST `union` type would be from an unsize coercion, and then way you know what the erased `Sized` type is and can get the vtable/slice length then, just like any other unsize coercion.

[2017-12-28 23:53] MaloJaffre commented on #32130
This problem also occurs in compiler docs (now built in #46278), where `rustc_data_structures::sync::Lrc` and `rustc_data_structures::sync::RwLock` are aliases to `std` types.

[2017-12-29 00:28] dcarosone commented on #47040
Same here. First time trying to follow @japaric's cortex-m-quickstart instructions, using blue pill board support crate.

Only difference I can spot in the error or trace is the `[ca5c]` which I assume isn't significant

    error: internal compiler error: /checkout/src/librustc_metadata/cstore_impl.rs:131: get_optimized_mir: missing MIR for `DefId(7/0:8 ~ cortex_m_rt[ca5c]::lang_items[0]::start[0

[2017-12-29 00:50] scottmcm opened #47054 "An unusable constant should at least warn"
The following produces no warnings:
[code]

But any attempt to use the FOO const will give `error[E0080]: constant evaluation error`.

It would be nice for it to at least warn. and perhaps start erring once the "error on use" case can be handled with a stable `const fn`.

[2017-12-29 02:26] sfackler commented on #44971
As @tmccombs has mentioned, the ship has already sailed here due to `Child::id`. More generally, though. I'm not sure it makes sense to avoid supporting getpid of all things because some platform decided not to implement it.

[2017-12-29 02:57] daboross opened #47055 "ICE when using a generator borrowing data with feature(nll)"
Hi! Ran into this earlier today when trying out `#![feature(nll)]` on a program which already uses generators.

Simplest test case:

[code]

Error:

[code]

Using `rustc 1.24.0-nightly (77e189cd7 2017-12-28)`

Reproduction on playpen: https://play.rust-lang.org/?gist=8973ce56db9aa1731173889ea012b8d9&version=nightly

[2017-12-29 03:23] #46766 closed

[2017-12-29 03:23] #46767 closed

[2017-12-29 03:46] kvark commented on #47023
@nstoddard you saved my day! Building with `--release` seems to work so far 👍 (as a workaround)

[2017-12-29 04:52] Rantanen commented on #41430
#44660 improves the situation. The following compiles okay on nightly:

[code]

I believe the absoluteness of the path can be omitted in the future, once the RFC 2126 implementation proceeds further.

However #45458 still makes using the crate-level macros difficult. The issue concerns compiler plugins, but can also be reproduced through attribute macros.

[2017-12-29 05:03] Havvy commented on #46466
We've changed the documentation in the reference for now. (Via https://github.com/rust-lang-nursery/reference/pull/183)

[2017-12-29 05:21] Havvy commented on #45251
This still needs to be tagged. cc @kennytm

[2017-12-29 07:26] EdSchouten commented on #44971
One thing that would be low-hanging fruit would be to at least have some kind of type alias for this. On UNIX/Windows, it could be defined as `i32`. On CloudABI, it could be a string. That way, existing code that uses `i32` continues to build on existing platforms, whereas less conventional platforms can choose to implement this function differently.

[2017-12-29 10:20] canndrew opened #47058 "Build-time dependency on libstd causes binary to be dynamically linked."
I'm not sure that this is actually a bug, but I found it surprising and I can't imagine why it would be necessary...

If I create a program that does nothing, it won't be dynamically linked against libstd:

[code]

This is expected. Rust binaries are statically linked by default, even if we fill the program with a bunch of code.

However if I then add a dependency on [the `net-literals` crate](htt

[2017-12-29 10:22] Boddlnagg commented on #46793
I just ran into the same issue. I think it should not be closed until it's actually fixed 😉

[2017-12-29 10:50] GavrielPlotke opened #47059 "Value borrowed in argument not unborrowed prior to parent function call"
A simple vector borrow to read a value, when done as an argument to a push to that vector fails compile
[code]
I expect the above code to compile, but it fails (see below).
When I comment out the offending line, and uncomment the two lines below it (which are logically equivalent) it does compile and run correctly.
The compiler should be smart enough to see that all items temporarily borrowed in t

[2017-12-29 11:06] mati865 commented on #47048
Mingw-w64 seen some huge changes lately, if recompiling Rust with latest mingw-w64 doesn't work or still gives errors like that then it's probably a regression they introduced.

[2017-12-29 12:01] est31 commented on #47054
There is a trade-off here with compile times. In order to find out whether a constant can be used or not, you do have to const-evaluate it. This is a possibly expensive operation. If it is expensive, it will worsen compile times. IMO the best way of tackling this is to count the MIR steps spent, and after 1000 steps or so the evaluation stops and it doesn't emit anything. Not sure if miri has a fe

[2017-12-29 12:36] Pzixel opened #47060 "Do not warn about names with digits"
Currently I have following code
[code]
And I get following warning:

[code]

But library name is `LOG4RS` is defenitly uppercased `log4rs`, but compiler thinks different.

I think there should be no warning. Numbers in the middle of the name are ok: log4net, write2file and so on.

____

rustc 1.22.1 (05e2e1c41 2017-11-22)
binary: rustc
commit-hash: 05e2e1c41414e8fc73d0f267ea8dab1a3eeeaa99
commit-d

[2017-12-29 12:42] retep998 commented on #47060
It is not complaining about the number, nor the `LOG4RS` part. It is actually complaining about the `File` part which should instead be `FILE`.

[2017-12-29 12:56] #47060 closed

[2017-12-29 13:00] ranma42 commented on #47054
It might also break existing code, especially auto-generated code.

Example: the autogenerated code always contains a bunch of constants; depending on the parameters some of them are unusable, but it does not matter as they are not actually used in the code that is emitted for those parameters.
This could be fixed by not emitting the constants in the first place, but it would make the code generat

[2017-12-29 13:04] est31 commented on #47054
Are constants being emitted? I've thought they only get evaluated at their usage site.

[2017-12-29 14:47] U007D commented on #43301
@zackw +1 more vote for `Exit` as the trait name.

[2017-12-29 14:58] sanmai-NL commented on #43301
@U007D: Could you please use the reactions button (e.g., 👍) instead of posting such a message? That’d let you avoid annoying issue subscribers by pinging them needlessly.

[2017-12-29 15:53] bhuztez commented on #46489
This also breaks my code

I have a proc_macro like this:

[code]

now I got error[E0425]: cannot find value `x` in this scope

[code]

[2017-12-29 15:54] pitdicker opened #47062 "Performance regression with nightly benchmarks."
The benchmarks for `rand` and for my crate [`small-rngs`](https://github.com/pitdicker/small-rngs) have regressed a lot with recent nightlies. A few extra branches are introduced at the end of the benchmark loop.

Relevant assembly with nightly 0077d128d 2017-12-14:
[code]

With nightly 77efd6800 2017-12-15:
[code]

[2017-12-29 16:08] mikeyhew commented on #27779
Although the `Place<Data>` trait allows `Data: ?Sized`, the current design of the trait prohibits actual use with DSTs. The problem is the `pointer` method:

[code]

If `Data` is a DST, there is no way to produce this `*mut Data` without the metadata from the pointer being copied from. This is because raw fat pointers must always have valid metadata. Additionally, the metadata is needed to ensure

[2017-12-29 16:24] est31 commented on #47062
Commit range: 0077d128d33543290140763ce7d84d05eb57c40a...77efd6800c57ba83923dddbbabf03c7afa6a34a4

PRs that could have caused it: #46623 #46701 cc @eddyb

[2017-12-29 16:25] est31 commented on #47062
Also maybe #46537 but it is supposed to be off by default.

[2017-12-29 16:27] est31 commented on #47062
This bug looks very much like #46923 and #46897 , both of which are fixed on rustc 1.24.0-nightly (1abeb43 2017-12-27). @pitdicker can you check whether the issue still reproduces?

[2017-12-29 16:39] pitdicker commented on #47062
Wow, that is fast @est32 :smile:
With nightly (77e189cd7 2017-12-28) I can still reproduce it.

[2017-12-29 17:03] tbelaire commented on #47022
I also get the same error with this code
https://gist.github.com/tbelaire/670ab192589311ba114b4b63d2cc681d

[2017-12-29 17:05] tbelaire commented on #47022
In particular, this line caused the ICE:

    let m = Array::from_iter(input.lines().flat_map(|l| l.as_bytes().iter().cloned()));

[2017-12-29 17:17] clebi commented on #47040
Same here, trying to build for arm target using xargo.

[code]

[2017-12-29 17:18] alexcrichton commented on #46999
Ok so sounds like we successfully spawn a `cmd` process and then `cmd` fails to spawn its own subprocess. That's going to be much trickier to handle an catch, but it at least sounds like what's happening here at least.

[2017-12-29 17:21] Moxinilian commented on #46999
A dirty way to catch it would be to simply check the error description. At least it is self explanatory so there won't be any false positive.

[2017-12-29 19:03] sfackler commented on #47059
This is a known issue that will be fixed with the new non-lexical lifetimes work: https://github.com/rust-lang/rfcs/blob/master/text/2094-nll.md.

[2017-12-29 19:28] scottmcm commented on #47054
@est31 You're absolutely correct in everything you said.  However, to me this has the same "I compiled and it was fine; what do you mean there's a compilation error on use that's not the user's fault?!" vibe as monomorphization errors, which are also checked for eagerly.  And, at least as long as it's a lint, presumably the expense wouldn't happen if the lint is allowed, giving a workaround.

[2017-12-29 19:37] Arnavion opened #47065 "Vec::insert docs are wrong about panic condition"
https://github.com/rust-lang/rust/blob/f0e5c953e4be3b5aee49cdcc0b1c244681392961/src/liballoc/vec.rs#L716-L718

In fact, as the second example shows, `index == len` is allowed. The phrase "out of bounds" is used in the docs of other methods (`remove` and `swap_remove`) to mean `0 < index < len` so it should not be used to mean `0 < index <= len` here.

Suggest changing the wording to match `Vec::sp

[2017-12-29 19:43] japaric commented on #47040
I think this is breakage caused by the new `Termination` trait stuff (cf. #46479) and has nothing to do with Xargo.

Minimal repro:

[code]

[code]

[code]

The error here is that the signature of the `start` function has to change to include the `Termination` trait but the compiler is ICE-ing instead of showing a meaningful error. In general error messages related to lang items are not in good sh

[2017-12-29 19:44] ErichDonGubler commented on #42327
Since PR #42275 has been merged, does that mean this issue has been resolved?

[2017-12-29 19:50] est31 commented on #47054
@scottmcm the lint is definitely a great idea, for the reasons you state. If an unusable const is being declared in a library, your code will fail to compile even though the library is at fault, that's no good experience.

[2017-12-29 19:50] johnklai1 opened #47066 "Metadata from incremental isn't the same as non-incremental"
# Updated report

Looks like metadata generated from a cold cache of incremental compilation ends up being byte-for-byte different than metadata generated from a warm cache of incremental compilation. This can be seen with this script: https://gist.github.com/alexcrichton/80c976db507a7f56a16a1f15b25293e4

* [test case](https://gist.github.com/alexcrichton/80c976db507a7f56a16a1f15b25293e4)
* [what

[2017-12-29 19:51] johnklai1 commented on #47066
@alexcrichton who helped look into https://github.com/rust-lang/rust/issues/46846

[2017-12-29 20:03] mateon1 opened #47067 "AsciiExt::is_ascii_graphic documentation bug"
The documentation for https://doc.rust-lang.org/std/ascii/trait.AsciiExt.html#method.is_ascii_graphic is incorrect.

This seems like an accidental copy-paste error from https://doc.rust-lang.org/std/ascii/trait.AsciiExt.html#method.is_ascii_punctuation

Also, the `` ` `` quoting/escaping is inconsistent/broken for `is_ascii_punctuation`, and could be fixed, but that's a minor issue

[2017-12-29 20:05] scottmcm commented on #42327
@skade Note that a type can define whichever as the short-circuiting one, like [`LoopState`](https://github.com/rust-lang/rust/blob/cf30759a8409bee031ac252ee207452ab4804467/src/libcore/iter/mod.rs#L357) does for some `Iterator` internals.  Perhaps that would be more natural if `Try` talked about "continuing or breaking" instead of success or failure.

@cuviper The [version I ended up needing](http

[2017-12-29 20:27] RalfJung opened #47068 "Packed unsized struct with drop: Confusing error message"
The following type
[code]
raises the following error
[code]

The last line of the note here is pretty confusing, because this *is* the last field! The actual problem is that a packed struct implementing `Drop` copies things around for dropping to get the right alignment, and that requires the field to be sized.

[2017-12-29 20:38] RalfJung commented on #27060
This is fixed by #44884, isn't it?

[2017-12-29 20:38] RalfJung commented on #43306
This is fixed by #44884, isn't it?

[2017-12-29 20:49] japaric commented on #47040
Off-topic for the actual rustc issue but related to the sympton reported by the OP: The people that have been experiencing the ICE with the cortex-m-quickstart Cargo template and/or with the cortex-m-rt dependency should switch to version v0.3.8 of cortex-m-rt. The ICE should be gone when using that version. Calling `cargo update` or `rm Cargo.lock` should do the trick.

[2017-12-29 20:51] bluss commented on #12279
Current impl is [here](https://doc.rust-lang.org/nightly/src/core/ops/arith.rs.html#92-98); is it really just about using inline(always) here? Any drawbacks to that?

[code]

[2017-12-29 20:52] durka commented on #47059
You need to write `#![feature(nll)]` (and use nightly) to get the new borrow checking rules.

[2017-12-29 20:56] glaubitz commented on #27060
@RalfJung Last time I tried, rustc itself was no longer crashing with SIGBUS. But code compiled natively on sparc64 still crashed (rustc being cross-compiled for sparc64) with SIGBUS.

I have to perform more tests on sparc64 first to be able to give a qualified answer.

[2017-12-29 21:21] pnkfelix commented on #46449
I believe this should be fixed by #46925 .

Should we trigger a beta `.3` release (presumably in a manner similar to that of #46580), so that people can actually test out all these various fixes via `rustup`?

[2017-12-29 21:27] RalfJung commented on #27060
Ah, this issue now seems to be about two things:

* Tracking issue for [RFC 1240](https://github.com/rust-lang/rfcs/blob/master/text/1240-repr-packed-unsafe-ref.md). That RFC is now implemented in nightly, but it is a warning currently, not an error: <https://play.rust-lang.org/?gist=7ebeed4f9cc64fb970a4ba2e604a5697&version=nightly>. Probably the tracking issue should remain open until the RFC is

[2017-12-29 21:28] pnkfelix commented on #46371
Note that @arielb1 claimed that #46925 fixed this regression.

(Though, oddly enough, @michaelwoerister 's statement of being unable to reproduce *preceded* that PR landing...)

Anyway, without [triggering a beta `.3` release](https://github.com/rust-lang/rust/issues/46449#issuecomment-354501918) (that would, if I understand correctly, get the latest commit on the beta channel into `rustup`), it m

[2017-12-29 21:29] RalfJung commented on #47068
Cc @arielb1 who wrote the code emitting the above error.

[2017-12-29 22:32] Centril commented on #46179
Dumping this link here for future reference: https://github.com/search?utf8=%E2%9C%93&q=leak+extension%3A.rs+language%3ARust&type=Code&ref=advsearch&l=Rust&l=

[2017-12-29 22:55] leonardo-m commented on #46897
I'm away for the year end, but I hope to do that soon enough [TM].

[2017-12-29 23:13] eddyb commented on #46371
@pnkfelix There was a backport of #46253 before @arielb1 reverted the layout PR and the bugfix backports related to it, from beta.

[2017-12-29 23:46] rnestler commented on #47040
Hmm with the latest nightly and updated cortex-m-rt crate I get a segmentation fault from rustc! (In the LLVM parts, so I guess it's not Rusts fault 😉)

[code]

[2017-12-30 02:36] uHOOCCOOHu opened #47070 "Missing `warn(unused_mut)` in `for` loop with nightly-2017-12-28"
All these warnings are triggered in stable-1.22.1.
[code]

[2017-12-30 02:42] sfackler commented on #47040
Segfaults inside of LLVM are actually often rustc's fault. It'll happen if you feed it invalid data and have it built with assertions disabled.

[2017-12-30 02:44] dtolnay commented on #20475
@Diggsey made an excellent crate to support this use case and others involving a fixed size buffer which may or may not contain a null terminator, so I think we are ready to close the issue.

[code]

[2017-12-30 02:44] #20475 closed

[2017-12-30 03:01] eddyb commented on #47062
It can't be #46701 unless `#[repr(simd)]` types and newtypes thereof are involved.
We have to look at LLVM IR. @pitdicker How did you get the assembly you posted here?

[2017-12-30 04:21] dtolnay commented on #38356
In syn we ran into a limitation of proc_macro::TokenNode today -- block delimiters `{` ... `}` are associated with only one Span in the input TokenStream so there is no way to trigger an error that points to only the closing `}`. Rustc does not seem to have this limitation.

[code]

[code]

The best things we can do in a proc macro are point to the last token inside the block, point to the entire

[2017-12-30 05:08] est31 commented on #38356
That would make Span adopt the special behaviour that delimitered lists need, but would be wrong for all other spans. Generally it is not correct. Consider getting a span for an expression like `foo(hi)` by joining stuff. Now you want to point to the `foo` and take `sp.begin()`, but `sp.begin()` only points to the first character of `foo`.

I think better solutions would be add two spans to `proc_

[2017-12-30 06:03] frewsxcv opened #47071 "compilation with sancov and multiple codegen units results in SIGSEGV: invalid memory reference; nightly-2017-12-26 regression"
[code]

[code]

EDIT: updated `RUSTFLAGS` to include `-C codegen-units=16` since rust-fuzz/targets `master` was updated to use `-C codegen-units=1`

[2017-12-30 09:31] Michael-F-Bryan commented on #27779
@bluss, I would have thought we'd make `Place` an `unsafe` trait so implementors know that other code is depending on them giving a pointer to valid (albeit possibly uninitialised) memory and it is their responsibility to uphold that constraint. This seems to be an unspoken assumption with the placement-in protocol.

[2017-12-30 10:52] pnkfelix commented on #46371
@eddyb so was @nagisa wrong when [they said](https://github.com/rust-lang/rust/issues/46371#issuecomment-349069720) that they thought #46253 would not fix this?

[2017-12-30 10:59] nagisa commented on #46371
Yeah, I *probably* was wrong. I didn’t look at the example closely enough before making the statement and forgot to edit it later on. Sorry.

[2017-12-30 12:09] bluss commented on #27779
@Michael-F-Bryan I agree, that should be the solution if no other is suggested. It has been explicitly decided _against_ with a good goal (Make placement new easy to use widely and implement in safe code by composition) **but** since it fails to meet the requirement of "safe Rust is memory safe", we must go back to that if no other solution is found.

[2017-12-30 12:29] Diggsey commented on #20475
The crate is https://crates.io/crates/c_fixed_string

Bit early to say it's excellent just yet but thanks 😛

[2017-12-30 12:38] matklad opened #47073 "Do not allow consequtive zeroes as a name of tuple struct fields"
The following compiles, but I think it shouldn't?

[code]

[2017-12-30 13:10] petrochenkov commented on #47073
The field name is converted to a number too eagerly.

This doesn't happen in struct expressions and patterns.
[code]

[2017-12-30 13:11] japaric opened #47074 "Multiple codegen units breaks linking: "undefined reference to rust_begin_unwind""
### STR

[code]

### Meta

[code]

cc @alexcrichton @clebi

[2017-12-30 14:29] sinkuu opened #47075 "extern_absolute_paths feature breaks `cargo test` (can't find crate for `__test_reexports`)"
Adding `feature(extern_absolute_paths)` seems to break testing.

I tried this code (`src/lib.rs`):
[code]

I expected to see this happen: `cargo test` works successfully.

Instead, this happened: it fails with an error.

[code]

## Meta

<details>
<summary>`rustc --version --verbose`</summary>

[code]

</details>

[2017-12-30 15:44] dtolnay commented on #20475
😆 I promise I meant to link to the crate.

[2017-12-30 15:54] Diggsey commented on #20475
Also, it would be better to write `CFixedStr::from_ptr(ptr, len).to_c_str()` as that will avoid copying data past the first null byte and will not perform an allocation unless required.

[2017-12-30 16:16] japaric commented on #47074
After bisecting it seems that this broke between nightly-2017-12-27 (good) and nightly-2017-12-28 (bad).

[2017-12-30 16:43] mister-walter commented on #37454
Is this blocked on the implemention of rust-lang/rfcs#2071 ?

[2017-12-30 16:56] pietroalbini commented on #46823
Found the bug and fixed it locally. Tonight I'll add some tests and create a PR.

[2017-12-30 17:27] alexcrichton commented on #47074
@japaric can you confirm where, for the embedded platform here, the symbol `rust_begin_unwind` is defined? I think this may be the same as https://github.com/rust-lang/rust/issues/18807 (an ancient bug now!) where rustc doesn't understand this special symbol relationship well enough to pass the right linker flags.

[2017-12-30 18:07] frewsxcv commented on #47071
if i add `-C codegen-units=1` to `RUSTFLAGS`, it compiles fine. so i'm going to assume this started happening after https://github.com/rust-lang/rust/pull/46910 merged

[2017-12-30 18:13] frewsxcv commented on #47071
another possibly related issue https://github.com/rust-lang/rust/issues/45220

[2017-12-30 18:17] japaric commented on #47074
@alexcrichton the `panic_fmt` lang item, and several other lang items, is defined in the `cortex-m-rt` crate.

[2017-12-30 18:29] frewsxcv commented on #47071
this might be the issue upstream https://bugs.llvm.org/show_bug.cgi?id=32700

[2017-12-30 19:07] alexcrichton commented on #47066
Aha now this one's fascinating! Using the same [script](https://gist.github.com/alexcrichton/d2598630c25e5ad2984a25c5f69acbaa) from https://github.com/rust-lang/rust/issues/46846 I get:

[code]

So the metadata is changing! (cc @michaelwoerister)

Interestingly I can only reproduce this nondeterminism though on the *first* incremental rebuild. That is:

[code]

@johnklai1 is this what you're seein

[2017-12-30 19:18] mystor opened #47077 "`proc_macro::SourceFile::path()` returns a non-public type"
This function currently returns a `syntax_pos::FileName`, which is not exported from the `proc_macro` crate.

A good solution may be to export a `struct FileName(syntax_pos::FileName)` object which implements `Display`.

cc @jseyfried

[2017-12-30 19:51] alexcrichton commented on #47066
Looking at the [open source code available](https://opensource.apple.com/release/developer-tools-821.html) for `ld64` it appears there's no way to *not* use the literal mtime without completely emitting debuginfo altogether (the `-S` argument to the linker).

It looks like lld [also unconditionally gets the mtime](https://github.com/llvm-mirror/lld/blob/master/lib/ReaderWriter/MachO/MachONormalize

[2017-12-30 20:07] shssoichiro commented on #47008
Update: I was not able to reproduce this on a Linux machine.

[2017-12-30 20:16] alexcrichton commented on #47066
I've also minimized the "first time incremental metadata changes" to https://gist.github.com/alexcrichton/80c976db507a7f56a16a1f15b25293e4 I believe.

[2017-12-30 20:32] matthewjasper opened #47078 "Difference in trait object default bounds for early/late bound lifetimes"
It looks like early- and late-bound lifetimes behave differently in default object bounds:

[code]

[2017-12-30 20:55] aaronshaf commented on #42997
Same issue here.

[2017-12-30 21:31] varkor commented on #47067
The quoting issue [seems to be fixed](https://doc.rust-lang.org/nightly/std/ascii/trait.AsciiExt.html#method.is_ascii_graphic) in the nightly version of the docs.

[2017-12-30 23:42] Diggsey commented on #44006
So these extra targets would be nice, but for the current `wasm32-unknown-unknown` target we should just export function pointers for:
- writing to stdout
- writing to stderr
- setting an exit code
- reading from stdin?

Regardless of how the webassembly is being hosted, the host can choose to set these function pointers or leave them unset. If they are left unset then the behaviour can be as it i

[2017-12-31 00:09] Diggsey commented on #46474
This seems to have been inadvertently fixed.

[2017-12-31 00:09] #46474 closed

[2017-12-31 00:28] johnklai1 commented on #47066
Wow, awesome investigation @alexcrichton !

Yeah, this appears to be what I am seeing as well.  If I run `cargo clean` followed by `cargo build` I get a new md5.  Then if I remove the libserde_derive.dylib file and run `cargo build` again I get a different md5.  But then removing the dylib and re-running `cargo build` no longer changes the md5.

I'm taking a look at Windows too and will report bac

[2017-12-31 00:29] est31 commented on #44006
@RReverser We have multiple different implementations of such a macro. If you use one implementation, you are required to use that implementation's tool after the fact. If it is in the compiler, it would serve as minimal standard. Also, it would be usable by std. std can't depend on other crates, so having such a macro would be a requirement for targets with tailored std APIs.

About the fully dyn

[2017-12-31 03:32] coriolinus commented on #46016
I'm not sure what that API would look like: call a magic `unignore_sigpipe()` function and then your program just terminates on broken pipe, or a variant of the `println!()` family of macros, or what?

The former feels like it's just setting a global variable, which has a pretty bad smell. The latter means that unless you switch to using the new SIGPIPE-respecting macros throughout, your code migh

[2017-12-31 04:09] sfackler commented on #46016
That's what it would be presumably.

Signal disposition is a process-global setting. Feel free to complain to the POSIX standards commitee about the smell of their global variables.

SIGPIPE is a kind of hacky thing that only really makes sense when writing command line applications designed to be used in pipelines that only poke at their standard inputs and outputs. If you are writing anything mo

[2017-12-31 04:15] coriolinus commented on #46016
Haha, fair enough. I also do appreciate the explanation of the reasoning of turning it off by default. My own Rust applications tend to be unixy command-line applications which only ever really poke at their standard inputs and outputs, so that's the lens through which I view this issue, but I couldn't argue against the assertion that ignoring SIGPIPE is a more useful default.

In that case, I'd s

[2017-12-31 04:24] sfackler commented on #46016
It'd just run this code: https://github.com/rust-lang/rust/blob/c284f8807eb3a1d728242bb6a767b0306d6f6bd5/src/libstd/sys/unix/process/process_unix.rs#L199.

[2017-12-31 05:52] U007D opened #47085 "Using `Self` when initializing a tuple struct"
https://internals.rust-lang.org/t/initialization-syntax-for-self-tuple-structs/5389/5 talks about this problem.  But the solution (using the typename, rather than Self) isn't discussed anywhere (that I could find).

Could a helpful compiler message be added (until the problem is fixed)?  Something to the effect of
"Use of `Self` when initializing a tuple struct is not currently supported.  Please

[2017-12-31 06:23] alexcrichton opened #47086 "OSX compilation with debuginfo isn't deterministic"
This is an issue extracted from https://github.com/rust-lang/rust/issues/47066#issuecomment-354562944 which is caused by an issue that any OSX compilation with debuginfo ends up being nondeterministic. Specifically (currently known at least) the source of nondeterminism is that an mtime for an object file winds up in the final binary.

It turns out this isn't really our fault (unfortunately that m

[2017-12-31 06:36] alexcrichton commented on #47066
I've extracted the OSX issue to https://github.com/rust-lang/rust/issues/47086, retitled this issue to focus on the incremental problem, and updated the OP to have the current test case I've been using.

@johnklai1 ok cool thanks for confirming. Windows will for sure be affected by this specific issue (incremental compilation with a warm and cold cache causes different outputs b/c the metadata obj

[2017-12-31 06:37] alexcrichton commented on #47086
cc @michaelwoerister, @johnklai1

cc @luser (you're probably interested in this for the sccache ramifications like @johnklai1 is)

[2017-12-31 06:55] alexcrichton commented on #47074
Ok cool, makes sense! In that case I believe this is indeed the same issue as https://github.com/rust-lang/rust/issues/18807.

The compiler knows who needs `rust_begin_unwind` (libcore) and also knows who defines it (libstd in general and `cortex-m-rt` in your case). It's the compiler's job to understand that this is a cyclic dependency and insert `--start-group` and `--end-group` appropriately bu

[2017-12-31 07:28] #29924 closed

[2017-12-31 07:28] #38857 closed

[2017-12-31 07:28] #39665 closed

[2017-12-31 07:28] #39872 closed

[2017-12-31 07:28] #41210 closed

[2017-12-31 07:28] #41880 closed

[2017-12-31 07:28] #43483 closed

[2017-12-31 07:28] #39553 closed

[2017-12-31 08:09] ranma42 commented on #47086
If we used LLD for linking (https://github.com/rust-lang/rust/issues/39915), it would be possible to fix this in the linker (by providing a flag to ignore mtime).
This would also fix (this part of) deterministic compilation for other languages as well.

[2017-12-31 08:15] topecongiro commented on #42956
This is fixed on `rustc 1.24.0-nightly (3f916bd30 2017-12-30)`.

[2017-12-31 09:57] kennytm commented on #28237
I've checked off the “Change to accept `..=` as synonym for `...` in patterns and to accept `..=` in expressions” because it is already the case after #44709 with the `dotdoteq_in_patterns` and `inclusive_range_syntax` features respectively. What's remaining is just documentation and stabilization.

[2017-12-31 10:36] #47067 closed

[2017-12-31 11:16] uzytkownik opened #47090 "Macro fails to generate generic implementation unless it is with ident"
I've tried several ways but it looks like the only way is to 'smuggle' the ops by using ident. It seems that macros should be able to stuck path with generic arguments as idents seems counterintuitive.

[code]