[2019-02-15 14:19] rchaser53 opened #58491 "Playground links from code blocks in books need to obey edition2018 flag"
**EDIT**: The error here is actually from clicking the playground link, not that there's a problem with the code, or how the book's testpass is running.  Original description follows.

---

It seems that ```#![feature(try_blocks)]``` is not worked now.
link: https://doc.rust-lang.org/unstable-book/language-features/try-blocks.html

![build_failed](https://user-images.githubusercontent.com/9676954/

[2019-02-15 14:21] ortem opened #58492 "lldb doesn't print enums"
[code]
Run lldb (without pretty-printers, lldb-1000.0.38.2)
[code]

It affects both stable and nightly Rust toolchains.

[2019-02-15 14:52] M1cha opened #58493 "support for implementing "extern" functions required by C code when it's declared in a C header"
Some C libraries require the user of the lib to implement (platform/sys) functions which are then used by the lib.

The library header usually declares the function so you can implement it wherever you want and get a compiler error if the signature has changed and your implementation is thus wrong now.

If I use bindgen to generate rust bindings for such a library I'm unable to implement such func

[2019-02-15 15:22] orthoxerox commented on #57640
@CAD97

If even people intimately familiar with Rust make that mistake, is it really a mistake?

[2019-02-15 15:34] Centril commented on #58478
Duplicate of https://github.com/rust-lang/rust/issues/57883.

[2019-02-15 15:34] #58478 closed

[2019-02-15 15:38] Centril commented on #58471
Closing in favor of the clippy issue.

[2019-02-15 15:38] #58471 closed

[2019-02-15 15:48] Centril commented on #58491
This is probably due to compiling the test with Rust 2015; it works on Rust 2018. cc @scottmcm

[2019-02-15 15:50] Centril commented on #58411
cc @QuietMisdreavus

[2019-02-15 16:32] ordovicia commented on #58234
[This page on rustc guide](https://rust-lang.github.io/rustc-guide/how-to-build-and-run.html) describes how to use `x.py`.

[2019-02-15 17:07] jethrogb commented on #53881
To fix, put this in your `lib.rs`:
[code]

But still, it shouldn't ICE.

[2019-02-15 17:07] jethrogb commented on #37403
There's an ICE when using this feature from a build script (without enabling the feature): https://github.com/rust-lang/rust/issues/53881

[2019-02-15 17:08] jethrogb commented on #37403
Also I'd like to chime in and say that this is not only useful on Windows.

[2019-02-15 17:24] Nemo157 opened #58497 "Suboptimal error when moving a Copy type in a closure"
[code]

([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=aafeeeb1c964977b6f29a02e1b4ee9a2)) main error message is:

[code]

I spent a long time trying to figure out where I was creating a reference until I finally figured out that `Copy` types are always captured by reference, even if you move them in the closure. It would be helpful if it mentioned the fact th

[2019-02-15 17:26] nathan commented on #58474
@hellow554 Sure thing! #58496

[2019-02-15 18:33] nikomatsakis commented on #57640
So, we had a number of discussions about async-await at the Rust All Hands.  In the course of those discussions, a few things became clear:

First, **there is no consensus (yet) in the lang team about the await syntax**. There are clearly a lot of possibilities and strong arguments in favor of all of them. We spent a long time exploring alternatives and produced quite a lot of interesting back-and

[2019-02-15 19:02] pitdicker commented on #58326
So I've been thinking about the same thing while working on https://github.com/rust-lang/rust/pull/58454.

I do wonder how useful it they would be though.

I don't think `Stdout` flushes unnecessary? It should flush just as often or less than `StdoutRaw`, because `Stdout` lets large writes (greater than 8k) pass through directly. And `Stderr` isn't buffered at all.

`Stdout` does have an interesti

[2019-02-15 19:29] cpeterso commented on #44911
I don't this is currently a problem (for Firefox). I just looked for recent Firefox crashes that matched the original function signature and only found a few. So we can probably close this issue.

*I* think it's useful for Rand to have a default that "just works" (i.e. has a backup entropy source). If people have a use case requires a secure RNG, then they can use a secure RNG in their code. 😃

OT

[2019-02-15 19:36] dtolnay commented on #58402
Some use cases from @vi:

[2019-02-15 19:59] estebank commented on #58497
For future reference, the full current output is:

[code]

[2019-02-15 20:27] bsoptei opened #58499 "Nightly compiler 'inconsistent resolution for an import' for crate"
I have a crate that compiles smoothly with stable, but with nightly I get the following error:
thread 'main' panicked at 'src\librustc_resolve\resolve_imports.rs:840: inconsistent resolution for an import', src\librustc\util\bug.rs:47:26

To reproduce, here's the link to the crate:
https://crates.io/crates/photonix_derive

## Meta
rustc 1.32.0 (9fda7c223 2019-01-16)
binary: rustc
commit-hash: 9fda

[2019-02-15 20:52] lights0123 opened #58500 "__sync_val_compare_and_swap_ linker error"
`nightly-2019-02-06` does not cause this error, but one revision later, `nightly-2019-02-07`, does. I'm targeting an embedded device that uses newlib and a [custom gcc build](https://github.com/ndless-nspire/Ndless/blob/master/ndless-sdk/toolchain/build_toolchain.sh). However, February 2nd, 2019's build of nightly Rust causes a link-time error, referring to `__sync_val_compare_and_swap_1`, `__sync

[2019-02-15 21:38] mykmelez opened #58502 "fn generated by macro exported from crate loses global #![allow(non_snake_case)]"
Given a `bar` library crate with a global `#![allow(non_snake_case)]` and a macro that generates functions with a given name, with or without a local `#[allow(non_snake_case)]`:

[code]

If that crate is used by another crate to generate non-snake-case-named functions:

[code]

Then nightly rustc since 2019-01-15 (`rustc 1.33.0-nightly (03acbd71c 2019-01-14)`) will warn that functions generated by

[2019-02-15 23:17] anderspapitto opened #58504 "nightly compiler panic with type-annotated array of `impl Generator`"
playground link:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c5cabc7e014cd71996c8bcb60acab446

Code:
[code]

Error:
[code]

Note that there is no compiler panic if the array is of size 1, or if the explicit type annotation on `gens` is omitted

[2019-02-16 05:53] lachlansneff commented on #42774
Has there been any progress with stabilizing this?

[2019-02-16 06:23] Ericson2314 commented on #42774
@glandium just got their PR for `Box` less blocked. Once that lands I'll rebase my PR for the other collections.

[2019-02-16 07:30] kennytm opened #58506 "Spurious 3 hour timeout on the "dist-x86_64-apple" job"
Symptom: The `dist-x86_64-apple` takes >3 hours to complete, causing it to fail.

We have investigated the timeouts and did not find any causes yet, other than "rustc becomes too slow to compile" (23 minutes → 30 minutes).

Previous instances:

[code]

[2019-02-16 07:53] joshlf commented on #42774
@Ericson2314 @glandium Link to that PR?

[2019-02-16 08:42] passchaos commented on #42774
@joshlf maybe https://github.com/rust-lang/rust/pull/58457

[2019-02-16 11:11] joshlf commented on #42774
@passchaos Looks like it; thanks!

[2019-02-16 11:44] timvermeulen opened #58510 "Recursive generic function with std::fmt::Borrow bound expects the same generic type for recursive call"
[code]
[code]

[2019-02-16 14:14] Mark-Simulacrum commented on #58506
FWIW, *everything* gets slower - I suspect something running in parallel on the same hardware.

@alexcrichton - Do you know how many dedicated Macs we have? If it's less than 5 that could explain this since presumably in that case we run on the same machine sometimes. Maybe something else in rust-lang org also has macOS builders and Travis runs that in parallel, too.

[2019-02-16 14:17] gamozolabs commented on #47486
I ran into this today with a slightly different variant, minimized down:

[code]

[code]

[2019-02-16 15:14] GuillaumeGomez commented on #58473
You should see backticks in rendered docs. However, the issue is on your side. You have to add a backslash before them. :) Try this out and tell us if it's still an issue.

[2019-02-16 16:07] jcotton42 commented on #50512
Seconding @Centril's question, it's now February 2019

[2019-02-16 16:08] sfackler commented on #50512
@rfcbot fcp merge

[2019-02-16 16:21] GuillaumeGomez commented on #58472
The whole thing happens in [here](https://github.com/rust-lang/rust/blob/master/src/librustdoc/html/render.rs#L1355-L1384) and it seems the `--extern-html-root-url` option has priority over `#![doc(html_root_url)]`. Now my guess is: it's not given to sub-crates for some reason. Investigations continue!

[2019-02-16 17:16] psychoslave commented on #55467
@Serentty great news. Do you have an approximate idea when this might come into mainlands, that is future is a few weeks from now, some months away or maybe even later? Cheers

[2019-02-16 17:44] withoutboats commented on #50512
Seems really nice, I'm not sure if adding another method to option is worth the externalities of that versus people writing match statements

[2019-02-16 17:51] Centril commented on #50512
Fwiw, I think `opta.xor(optb)` is useful in situations where you e.g. have some optional configuration a, and optional b, and then you only want one of them or it is an error otherwise.

[2019-02-16 18:00] johnthagen opened #58515 "Compile warning while compiling libstd with Xargo (use of #[allow_internal_unstable])"
I am seeing a build warning when building `libstd` in a simple "Hello World" using Xargo.

[code]

Full build job: https://travis-ci.org/johnthagen/min-sized-rust/jobs/494234235

Project source: https://github.com/johnthagen/min-sized-rust/tree/master/xargo

Build command (using latest `nightly`):

https://github.com/johnthagen/min-sized-rust/blob/master/.travis.yml#L32-L34

[code]

[2019-02-16 18:01] lachlansneff commented on #42774
It'd be useful if we could use the traditional collection apis (`new`, `with_capacity`, etc) if our allocator type parameter implemented `Default`.

[2019-02-16 18:03] Mark-Simulacrum commented on #58515
cc @oli-obk - https://github.com/rust-lang/rust/pull/58098

I suspect this just needs a nightly update to happen but not sure. \

[2019-02-16 18:06] johnthagen commented on #58515
And for quick reference, the nightly version used in the build was:

[code]

[2019-02-16 18:24] euclio commented on #58502
This is a consequence of how the lint system interacts with macros, and isn't limited to the `non_snake_case` lint. Lints with spans that are part of the expansion in the source code will fire, but lints with spans that include expanded tokens will not be fired. Since `non_snake_case`'s span only applies to the identifier, the lints will fire if the expansion results in a node that would trigger t

[2019-02-16 18:24] oli-obk commented on #58515
yea this will go away after we get a bootstrap compiler update and then are able to update stdsimd

[2019-02-16 18:33] infinity0 opened #58516 "1.32.0 rustc binary for powerpc64le linux gives LLVM ERROR: Undefined temporary symbol when compiling wasm-bindgen-macro-support"
See log here https://buildd.debian.org/status/fetch.php?pkg=rust-wasm-bindgen-macro-support&arch=ppc64el&ver=0.2.33-1&stamp=1549258418&raw=0

The same issue is reproducible with the rustc binary from [here](https://static.rust-lang.org/dist/rust-1.32.0-powerpc64le-unknown-linux-gnu.tar.gz), but one needs to first work around #58334 by building your cargo, e.g. the Debian `cargo` package works.

St

[2019-02-16 18:35] Mark-Simulacrum commented on #58515
In that case I'm going to close as tracking this separately seems not that useful (we'll do both of those naturally anyway); it's only a warning anyway.

[2019-02-16 18:35] #58515 closed

[2019-02-16 18:39] SeeSpring opened #58517 "Type inference fails even though all types are known"
The following code fails to compile, even though all types are known
https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=8de9e57e8de5cd8f2896f422d693f453

[code]

[2019-02-16 18:39] infinity0 commented on #58516
Same problem with rustc 1.31.0 and wasm-bindgen git HEAD (9e40a6d02b8bd67fe9ed5e19e327138490ffe979).

[2019-02-16 18:42] talchas commented on #58517
Bisecting releases says it worked in 1.12.0, broke in 1.13.0

[2019-02-16 19:28] Lucretiel commented on #43466
Small bug report (let me know if this isn't the correct place to report this):

Currently, intra-doc links respect `#[no_std]` in a way that I'm not sure that they should. It means that simple links like `[`String`]`fail to link to the correct place in the standard library documentation.

[2019-02-16 19:30] jonas-schievink commented on #58517
Technically a stable regression, so marking as such - even though nobody seems to have been hit by it. It does pretty clearly look like a bug though.

[2019-02-16 19:59] gabreal opened #58519 "error: internal compiler error: src/librustc/hir/def.rs:265: attempted .def_id() on invalid def: NonMacroAttr(Builtin)"
I get this error when compiling https://github.com/paritytech/substrate docs via `cargo doc --release --verbose` (50bfe375). In fact we're using `rustc 1.32.0 (9fda7c223 2019-01-16)` for a while now on this repo, but recent code changes caused this bug to appear. See: https://gitlab.parity.io/parity/substrate/-/jobs/123140

[This issue](https://github.com/rust-lang/rust/issues/56202) seems to be r

[2019-02-16 20:08] matthewjasper commented on #51020
This no longer ICEs

[2019-02-16 20:08] #51020 closed

[2019-02-16 20:14] sfackler opened #58520 "Tracking issue for error source iterators"
This covers the `<dyn Error>::iter_chain` and `<dyn Error>::iter_sources` methods added in #58289.

[2019-02-16 20:19] withoutboats commented on #58520
My preference before stabilizing would be to make changes to make it more like the original failure design, which I still prefer. There should be one iterator, it should begin from this error type, and its name should be `sources`. If you want all the sources of error less this layer, you can write `.skip(1)`.

[2019-02-16 20:34] da-x commented on #57968
@lnicola I've updated my custom profiles implementation now, here: #6676 . Maybe it can be useful for this issue.

[2019-02-16 21:00] TimDiekmann commented on #58520
I like the idea of a convenient interface to iterate sources. However, the interface feels unergonomic as mentioned in https://github.com/rust-lang/rust/pull/58289#issuecomment-463624435. Additionally I think this should not be stabilized before #53487

[2019-02-16 21:13] Milack27 commented on #50512
Just for the sake of curiosity, `Option::xor` would have been useful to me when I was solving the Advent of Code 2017. I needed to parse a text file like this:
[code]
Then, I had to follow the path and collect the letters. I could have used `Option::xor` to decide where to go next when I met a corner. Here's a simplified version of the code:

https://play.rust-lang.org/?version=nightly&mode=debug&

[2019-02-16 21:39] joshlf opened #58523 "Compiling code hangs compiler"
When compiling [this code](https://fuchsia.googlesource.com/fuchsia/+/f25dd3d5ad70e00ba2892f2f070bcc943680d887/garnet/bin/recovery_netstack/core/), if [this test](https://fuchsia.googlesource.com/fuchsia/+/f25dd3d5ad70e00ba2892f2f070bcc943680d887/garnet/bin/recovery_netstack/core/src/wire/udp.rs#530) is uncommented, the compiler hangs indefinitely during compilation.

Details:
- Platform: macOS Hi

[2019-02-16 21:51] arielb1 commented on #55976
An example that my previous approach will not make compile (but currently gives an ICE outputtypeparametermismatch):

[code]

[2019-02-16 21:55] arielb1 commented on #55976
Nah you can do it without an `OutputTypeParameterMismatch` ICE, but you're still within deep ICE territory

[code]

[2019-02-16 22:00] arielb1 commented on #55976
This is making me suspect, that when we get higher-ranked type bounds, finding a "canonical form for subtyping" will be impossible.

[2019-02-16 22:56] osor-io commented on #29597
First of all, my apologies if I'm asking for features that are possible to do some other way or if I'm missing some key parts of the plugin/macro systems 😓

I've been investigating this side of Rust for not that long but I'm very excited to try to do some things in it 😀

I've yet to investigate it further but it does seem like the case that the plugin features offer everything that macros do right

[2019-02-16 23:13] oli-obk commented on #29597
Yes I do believe everything you just described is possible with procedural macros.

You are specifically looking for procedural attribute macros. Though you'd use `#![profile_every_procedure]` (note the `!`) to make sure it applies to the entire module and not just the next function.

Though I think the way you are describing it, you'd want this in the crate root and process the entire crate at on

[2019-02-16 23:15] ollie27 commented on #58472
The [build log](https://docs.rs/crate/futures-preview/0.3.0-alpha.12/builds/137380) shows rustdoc was passed `--extern-html-root-url 'futures_util_preview=https://docs.rs/futures-util-preview/0.3.0-alpha.12'` but the crate name is `futures_util` not `futures_util_preview`. It looks like docs.rs needs to use the actual crate name not the package name.

[2019-02-16 23:34] osor-io commented on #29597
It looks like I was looking too much at plugins while ignoring the better procedural macros indeed 😄

I get that there's ways to keep state between calls to procedural macros? I'd like to have more than one macro that reads from some shared state to be able to do some code generation that requires me to get some context on what some other macros might have done already 😓 I hope this isn't pushing

[2019-02-16 23:41] varkor commented on #58519
This is fixed by https://github.com/rust-lang/rust/pull/58501.

[2019-02-16 23:43] oli-obk commented on #29597
Well.. procedural macros can do whatever they want. They can even write to files or access the network. Whether that is a good idea is a different question. They are not meant to share state (neither were plugins meant to do that). Shared state during compilation interferes with incremental compilation and may result in nondeterministic builds.

If, on the other hand, you create a single crate-wid

[2019-02-17 00:00] ijackson opened #58525 "Poor suggestions wrt closure type/lifetime inference"
Given the following code:

[code]

rustc suggests:
[code]

Unfortunately, specifying a closure parameter type casts the user from the frying pan into the fire:
[code]

Helpful contributors on #rust-beginners found https://github.com/rust-lang/rust/issues/55526 https://github.com/rust-lang/rust/issues/56537 and the following simple workaround:

[code]

The underlying problem with lifetime inference

[2019-02-17 00:10] Centril commented on #29597
Moreover, we do not guarantee a specific order of execution if you write something like:
[code]
so there is no guarantee that if you save some state in `#[my_macro_a]`'s execution, you'll be able to access it in `#[my_macro_b]`. If you save things in `static`s, we also don't guarantee that two consecutive macro invocations will see the same results.

[2019-02-17 00:46] scottjmaddox commented on #53491
Firstly, perhaps a new, unstable Box type, e.g. `BoxIn` could be added for experimenting with, rather than insta-stabilizing a change to Box right now, before the limitations are understood?

---

Secondly, if `Default` is used by `box_free` to gain access to an allocator's `Alloc` interface, then it cannot be used to actually instantiate the allocator. This could be very confusing for the users o

[2019-02-17 00:52] anp commented on #57968
This is so cool 😍.

If any perf regressions do emerge, I'd like to briefly plug [sending a quick PR to lolbench](https://github.com/anp/lolbench/blob/master/docs/adding-new-benchmarks.md) so they can be caught in the future.

[2019-02-17 01:11] macpp commented on #54726
Sorry if I'm missing something important, but it seems to me that current behaviour of custom inner attributes is rather inconsistent. For example, if i have file named `foo.rs` with following content :
[code]
then first invocation of #![my_macro] receives token stream equivalent to `mod foo;` (without content of module) but second invocation receives tokent stream with module and full content :
[

[2019-02-17 01:21] Centril commented on #58523
@rust-lang/infra Extremely wild speculation... might this have anything to do with https://github.com/rust-lang/rust/issues/58506?

@joshlf Could you try to reduce the code example that hangs the compiler to be self-contained and minimal?

[2019-02-17 02:17] joshlf commented on #58523
I will note that this has been happening for more than six months; I just haven't bothered reporting it until now.

Minimizing the body of the test to this seems to a) cause the problem to happen on my machine and, b) cause the [Rust playground's `rustc` to get `SIGKILL`](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ace2329c190f196746bdf6e537444ed0).

[code]

[2019-02-17 03:14] vthriller commented on #58473
Wait, what? I don't get your reply at all. In case you missed it, I'm not complaining about how it's rendered, I only added screenshot to show that not all parts of rustdoc try to see markdown-indented-code-blocks where there are none; the issue is with the warning that makes no sense.

[2019-02-17 04:47] Mark-Simulacrum commented on #58523
Highly unlikely to have anything to do with https://github.com/rust-lang/rust/issues/58506 -- that's likely a hardware, not a hanging issue.

The SIGKILL on playground is likely because we limit memory to 256 MB, at least as far as I can tell, (see docker invocation [here](https://github.com/integer32llc/rust-playground/blob/6502544eb325d154cd6bdee5c9144154564271a6/ui/src/sandbox.rs#L376)).

The h

[2019-02-17 04:48] Mark-Simulacrum commented on #58523
Oh, forgot to note -- I am able to reproduce on Linux as well and with this code (same as the previous minimal, just with `fn main` added.

[code]

[2019-02-17 05:04] ids1024 opened #58527 "Impossible to specify link-args for lld in json target specification"
Rustc target spec json files can specify `link-args` and `pre-link-args`. For instance, here is part of the output of `rustc -Z unstable-options --print target-spec-json --target i686-unknown-linux-gnu`:

[code]

As far as I can tell, for annoying reasons about how it's implemented, it isn't possible to set this with `lld` instead of `gcc`.

In [`librustc_target/spec/mod.rs`](https://github.com/ru

[2019-02-17 05:11] Zoxc commented on #58506
Can we not raise this time limit so we don't have to restart things and waste time?

[2019-02-17 06:28] khareatu opened #58529 "Conditional jump or move based on uninitialized variable (and potential SEGV)...."
**Gist**

1) Incorrect code gen causes a conditional jump based on load of data from uninitialized memory location on the stack.
2) Issue was reproduced on release builds on both x64 and ARM64 with Rust stable 1.32
3) Issue can be mitigated by restricting codegen-units to 1 (and using a nightly build)
4) Issue can be observed under valgrind / gdb. Note that the code generated by #3 is very similar

[2019-02-17 07:56] Disasm commented on #53308
I hope we can close the issue: `riscv64imac-unknown-none-elf` and `riscv64gc-unknown-none-elf` targets are already in nightly.

[2019-02-17 08:26] wchargin opened #58531 "Diagnostic for `dyn Self` could be more specific"
Code ([play]):

[code]

[play]: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6f2a1b502460a961d6e5f33abace4dcd

Current diagnostic (1.34.0-nightly 2019-02-15 eac09088e1a8fc8a2930):

[code]

@Moongoodboy-K on IRC points out that it might be more helpful for the
diagnostic to say something like,

(For context: while I’ve since learned that this code is pretty far from
valid

[2019-02-17 08:37] Moongoodboy-K commented on #58531
TFW you only read the annotation next to the highlight, and entirely miss the error heading. xD

The heading is spot-on; it's just that _`Self` is only available in impls, traits, and type definitions_ bit that doesn't make sense (what? this _is_ a trait definition!)

[2019-02-17 08:53] nikic commented on #58529
If a nightly build fixes this, then this was likely an optimization bug fixed by the recent LLVM update, in which case it's probably not worth investigating this further.

What format is this file in? Despite the extension, this does not seem to be a gzip file. At least it is not accepted by `gunzip`.

[2019-02-17 09:19] FoseFx opened #58532 "Compiler unepectedly paniced"
## short summary of the bug

I tried to compile  this code:

## code sample that causes the bug
[code]

## I expected to see this happen:
It should compile.

Instead, this happened:
`error: internal compiler error: unexpected panic`

## Meta

`rustc --version --verbose`:
[code]

Backtrace:
[code]

[2019-02-17 09:37] RalfJung commented on #58523
Is this more than "just" CTFE going OOM?

[2019-02-17 09:46] Centril commented on #58532
Hmm; I cannot reproduce this on the playground on stable, beta, nightly, release, debug, ... so it's probably due to other factors such as the flags or such.

Could you try to remove bits and pieces from your code snippet that causes the ICE (Internal Compiler Error) incrementally until you have the smallest possible snippet that still produces the ICE?

[2019-02-17 09:47] nagisa commented on #58104
This will be hard for me to reliably bisect because among the failures related to sigsegv I also get

[code]

---

Bisection says that the sigsegv began in 2fba17fc972f89fe9165fbed77d2f0ad6d3e2174 (https://github.com/rust-lang/rust/pull/56837), cc @nikomatsakis @arielb1

The callstack looks like this:

[code]

I won’t be able to look into it much more at the moment.

[2019-02-17 09:55] Amanieu opened #58533 "Tracking issue for LinkedList cursors"
This is a tracking issue for the RFC "Linked list cursors" (rust-lang/rfcs#2570).

**Steps:**

- [x] Implement the RFC (#68123)
- [ ] Update documentation, add examples
- [ ] Stabilization PR ([see instructions on forge][stabilization-guide])

[stabilization-guide]: https://forge.rust-lang.org/stabilization-guide.html
[doc-guide]: https://forge.rust-lang.org/stabilization-guide.html#updating-docum

[2019-02-17 10:14] #34447 closed

[2019-02-17 10:14] #54469 closed

[2019-02-17 10:14] #57544 closed

[2019-02-17 10:14] #58263 closed

[2019-02-17 10:14] #46783 closed

[2019-02-17 10:14] #53606 closed

[2019-02-17 10:14] #58474 closed

[2019-02-17 10:47] FoseFx commented on #58532
Cannot reproduce anymore, changed nothing.

[2019-02-17 11:41] SimonSapin commented on #42774
As long as https://github.com/rust-lang/rust/issues/27336 is not implemented, that would make some currently-valid programs ambiguous because type inference doesn’t know what allocator to pick.

[2019-02-17 13:03] osor-io commented on #29597
Oh, I see 😄 It really would be great to be able to save some state and establish dependencies between macros, or some other system to get a guaranteed order of executions about the macros you care about. I know that a crate wide macro that looks at everything is possible but keeps you from using other macros as helpers for the main one.

[2019-02-17 13:24] crlf0710 commented on #29597
@osor-io Just in case you haven't found it out, the macro wizard @dtolnay have brought us this crate:
https://github.com/dtolnay/inventory

[2019-02-17 13:51] Mark-Simulacrum commented on #58523
Well, maybe - I haven't actually waited, but even if it does eventually OOM, it certainly is also quite slow so this could be a good test case for optimizing what I assume is a relatively tight loop.

[2019-02-17 13:51] GuillaumeGomez commented on #43466
Well, it's part of the issue indeed. I'll add a bullet point for it.

[2019-02-17 14:27] jonas-schievink commented on #58323
According to cargo-bisect-rustc the regression appeared in `nightly-2019-01-27`.

Good: rustc 1.33.0-nightly (bf669d1e3 2019-01-25)
Bad: rustc 1.33.0-nightly (20c2cba61 2019-01-26)

[Commits in that range](https://github.com/rust-lang/rust/compare/bf669d1e3295bc688f71b8c91f48a6beaf895f67...20c2cba61dc83e612d25ed496025171caa3db30f)

[2019-02-17 15:27] rust-highfive opened #58540 "`miri` no longer builds after rust-lang/rust#58495"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#58495, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/solson/miri is needed to fix the fallout.

cc @kennytm, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @kennytm, the PR reviewer, and ＠rust-lang/compiler -- nominati

[2019-02-17 15:29] kennytm commented on #58540
This is just a test to ensure issue creation does work (although miri is really broken).

[2019-02-17 15:29] #58540 closed

[2019-02-17 16:10] lachlansneff commented on #42774
That's been featire-gated for 3 years. Can it not just be stabilized?

[2019-02-17 17:09] SimonSapin commented on #42774
Assuming yea mean https://github.com/rust-lang/rust/issues/27336, it’s better discussed in the relevant tracking issue. I haven’t been following this one, but from a quick glance at the thread its implementation is not complete yet and it’s not "just" a matter of flipping the stabilization switch.

[2019-02-17 17:14] fabric-and-ink commented on #58519
I'm currently working on `librustc_resolve` and on nearly every mistake I make, the compiler responds with the same ICE. I am using today's `1.33.0-beta.1 (d1add9723 2019-01-17)`, which (I think) contains https://github.com/rust-lang/rust/pull/58501.

[code]

[2019-02-17 17:17] flip111 opened #58542 "to delete"
delete please

[2019-02-17 17:19] #58542 closed

[2019-02-17 17:20] lachlansneff commented on #27336
Could this be fast tracked? Having better type inference would allow better user-experience for collections with custom allocators. https://github.com/rust-lang/rust/issues/42774#issuecomment-464367839

[2019-02-17 17:39] khareatu commented on #58529
I have pasted the repro file below.

A couple of comments:

1) Regarding:

valgrind is happy only if code is compiled with codegen-units=1 in .cargo/config (and the -Z config-profile option which requires a nightly build). Without the "-Z config-file" option and "codegen-units=1", valgrind is still unhappy with the generated code even on the latest nightly.

2. It's possible that the issue is rela

[2019-02-17 18:13] arielb1 commented on #58104
I suppose I'll have to investigate this then. Hope I can find enough time.

[2019-02-17 19:59] Robbepop opened #58547 "Compiler silently ignores associated const with trait type bounds"
In the following code we have a trait `Y` with an associated constant `MY_CONST` that has a trait bound `X` instead of a concrete type which should be invalid in today's Rust as far as I understand the language.

However, the compiler does not complain at all.
Not about the actual definition in `Y` nor in the implementation of `Y for Foo` where `Bar` doesn't even match the required trait bound if

[2019-02-17 20:13] jonas-schievink commented on #58547
The second impl is inherent, it doesn't implement `Y`, so the compiler won't complain there. If you change the code like this the error tells you what's going on:

[code]
[code]

The `X` is actually the same as `dyn X`, which is its own type, so an instance of that type is expected. Because of confusing stuff like this the plan was to remove the `Trait` syntax in favor of `dyn Trait`, but I'm not

[2019-02-17 20:13] jonas-schievink commented on #58547
Closing since this does not seem a bug.

[2019-02-17 20:13] #58547 closed

[2019-02-17 20:49] hoodie opened #58548 "rustc 1.32.0 produces faulty wasm code"
Hi there,
rustc 1.32.0 produces different (wrong) wasm code then 1.31.0.
This [example](https://github.com/hoodie/rustwasmbug1320) will yield different results when compiled with rustc 1.31.0 and 1.32.0.

`let x_offset = if yi % 2 == 1 { 23f64 } else { 0f64 };` inside a loop will be repeatedly the same value unless you use `yi` again for instance inside a print. (see [line15](https://github.com/ho

[2019-02-17 20:59] nikic commented on #58548
I'm pretty sure this is a duplicate of #57152. Can you please check whether the issue is fixed in nightly?

[2019-02-17 21:05] jonas-schievink commented on #58548
It still outputs "generated code is broken" on the current nightly (`rustc 1.34.0-nightly (eac09088e 2019-02-15)`)

[2019-02-17 21:09] hoodie commented on #58548
@jonas-schievink you beat me to it, I was just gonna confirm :grin:

[2019-02-17 22:27] dtolnay commented on #43408
Here is my workaround in Serde for `[u8; mem::size_of::<T>()]`. It supports rustc 1.20+. Note that the type is *at least as big as* T rather than exactly as big as T, so instead of transmute you would need ptr::write / ptr::read to interact with the bytes.

https://github.com/serde-rs/serde/blob/d07b62bba481af6603a736f027b5ebbb74a4a63a/serde/src/backport.rs

[2019-02-17 22:36] Serentty commented on #55467
@psychoslave As far as I'm aware, there are currently no plans to allow characters that are not recommended by Unicode for use in identifiers. If there are any dash-like characters that Unicode recommends, then they should already be supported by current plans. Otherwise, allowing them would have to be proposed in a new RFC, which you could write.

[2019-02-17 22:53] jlouazel commented on #35968
Hi everyone. I have been following this thread for a while now and I am very excited to see the Apple bitcode being supported with Rust. Has anyone been able so far to make this work? What is currently missing and how could we help?
Thanks!

[2019-02-18 00:05] Centril commented on #28084
Triage: same behavior now.

[2019-02-18 00:10] scottmcm commented on #58491
It definitely works in 2018: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e2ca081a42124a7615dd542c3cc36324  See also the run-pass test for it: https://github.com/rust-lang/rust/blob/master/src/test/run-pass/try-block.rs

It was originally marked ignore because of needing 2018 (https://github.com/rust-lang/rust/blob/master/src/test/run-pass/try-block.rs), but was changed

[2019-02-18 00:12] Centril commented on #58491
@scottmcm The bug is in the unstable book linking the user towards a 2015 playground instead of a 2018 one.

[2019-02-18 00:13] Centril commented on #27941
The diagnostic seems improved so I'm closing in favor of https://github.com/rust-lang/rust/issues/44874.

[2019-02-18 00:13] #27941 closed

[2019-02-18 00:15] scottmcm commented on #58491
@Centril Ok, renamed the issue and changed the flags.  This isn't a testsuite problem, then.

[2019-02-18 00:16] Centril commented on #27949
The linked playground in the issue compiles fine now; all that is left to do is to add a compile-pass test for it.

[2019-02-18 00:17] Centril commented on #58491
@scottmcm good call :) cc @steveklabnik

[2019-02-18 00:19] scottmcm commented on #34447
And it's in!  Anyone want to update <https://en.wikipedia.org/wiki/Schwartzian_transform#Comparison_to_other_languages>? :smirk:

[2019-02-18 00:33] Centril commented on #56375
@nikomatsakis Do we understand now...? =P

[2019-02-18 01:15] Centril commented on #36088
@arielb1 What's the status of this?

[2019-02-18 01:43] #45978 closed

[2019-02-18 01:46] Centril commented on #47756
Closing based on https://github.com/rust-lang/rust/issues/47756#issuecomment-360677505.

[2019-02-18 01:46] #47756 closed

[2019-02-18 02:27] scottmcm commented on #41960
I think this still needs a warn-by-default lint, because I just spotted this in liballoc:

https://github.com/rust-lang/rust/blob/9a3392e174a432a5f06c1157befc1ce0fae74bec/src/liballoc/collections/vec_deque.rs#L2227-L2236

[2019-02-18 02:44] scottmcm opened #58552 "PrefixComponent looks at different fields in Eq and PartialEq"
PrefixComponent has two fields and derives Eq:
https://github.com/rust-lang/rust/blob/9a3392e174a432a5f06c1157befc1ce0fae74bec/src/libstd/path.rs#L415-L422

But then it implements PartialEq _without_ deriving, and only looking at one of the fields:

https://github.com/rust-lang/rust/blob/9a3392e174a432a5f06c1157befc1ce0fae74bec/src/libstd/path.rs#L445-L450

I'm pretty sure that's wrong.

I suspect

[2019-02-18 03:18] sfackler commented on #58552
`Eq` doesn't look at anything at all - it has no methods. It's simply a marker that states that the type's `PartialEq` methods behave a certain way.

[2019-02-18 03:19] scottmcm commented on #58552
Doh, brainfart.  Sorry for the noise, @sfackler.

[2019-02-18 03:19] #58552 closed

[2019-02-18 04:17] Mark-Simulacrum commented on #57345
cc @alexcrichton

I'm not sure if it's as easy as just updating our images since I suspect that'll break other use cases in practice (we're on them for a reason after all).

[2019-02-18 04:17] scottmcm commented on #58491
Related: https://github.com/rust-lang-nursery/mdBook/issues/812

[2019-02-18 06:01] programmerjake opened #58554 "RUST_BACKTRACE=1 panic output still includes functions called by panic!"
`RUST_BACKTRACE=1` panic output still includes the functions called by the `panic!` macro. This was previously reported in #37783 but, in the merged fix, only the functions before `main` were removed. This makes it harder to determine which function the panic occurred in.

In [`filter_frames`](https://github.com/rust-lang/rust/blob/d215d9591f27d0663445e65615090621153c31df/src/libstd/sys_common/bac

[2019-02-18 06:55] khareatu commented on #58529
FWIW, a variant of the above test program results in an valgrind error of "Invalid write of size 8" on a stack based pointer. Interestingly enough, this happens only with the aarch64-unknown-linux-musl target and cannot be reproduced on the aarch64-unknown-linux-gnu target. I am trying to see if the same issue can be reproduced on x86_64-unknown-linux-musl, but setting up the environment will take

[2019-02-18 08:31] lachlansneff commented on #52652
Can the `#[unwind(allowed)]` attribute be stabilized soon? This is forcing me to write a lot more code in C++ than I would like.

[2019-02-18 08:37] mati865 commented on #57345
Upgrading only the binutils usually doesn't break compatibility with older systems but without running it on older PPC distro you can't really know.

[2019-02-18 08:47] RalfJung commented on #53491
Okay, the preparatory PRs all landed, and `into_inner` is gone as well.

However, I'd really like for https://github.com/rust-lang/rfcs/pull/2582 to be accepted before stabilizing, otherwise we do not even have a way to initialize a struct field-by-field -- and that seems like a prime use-case for `MaybeUninit`.  We're [very close](https://github.com/rust-lang/rfcs/pull/2582#issuecomment-456564424

[2019-02-18 09:05] tspiteri commented on #57814
@GuillaumeGomez This is fixed in the nightly page, but not in the beta page. Is this going to be fixed in beta before the 1.33.0 release?

[2019-02-18 09:33] GuillaumeGomez commented on #57814
It hasn't been backported? Urg...

[2019-02-18 09:35] theduke commented on #57464
@nikomatsakis this is now a beta regression since the `1.33` beta from 2 days ago.

[2019-02-18 09:40] elichai commented on #53856
why not move all `std::os::raw` to libcore too?

[2019-02-18 09:58] bartsmykla opened #58557 "Compiler panicked when tried to do something silly"
Hi everyone!

When I was working on solving one of katas from codewars I did something silly. When I was implementing PartialOrd:
[code]
instead of writing (yes, now I know that I should just use `.partial_cmp()` instead of `.cmp` and then wrapping it into `Some`)
[code]
 by mistake I wrote:
[code]
and I received error:
[code]

as the error says, I'm opening this issue (even if it's just my silly

[2019-02-18 09:59] jonas-schievink commented on #36088
This does look somewhat expected to me - `_` never binds anything, so the value is dropped as soon as the pattern is matched. `v` keeps the only bound value alive until the function exits, so `dropping y` is printed later.

[2019-02-18 10:00] oli-obk commented on #58523
This is not even ctfe going OOM (except maybe on the playground), this is just ctfe taking forever. We are running a loop for 2^32 copies of an undef mask (which keeps setting single bits in bytes)

I have started setting up some optimizations in https://github.com/rust-lang/rust/pull/58556

[2019-02-18 10:36] Thomasdezeeuw commented on #58078
Can someone tell if this change would require a RFC?

[2019-02-18 11:05] jonas-schievink commented on #58557
Please try again on the current nightly. If it still happens, can you post a reproducer?

[2019-02-18 11:16] bartsmykla commented on #58557
I'm on it

[2019-02-18 11:19] bartsmykla commented on #58557
I can't update nightly because of that: https://github.com/rust-lang/rust/issues/57771
[code]

[2019-02-18 11:21] rust-highfive opened #58558 "`miri` no longer builds after rust-lang/rust#58541"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#58541, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/solson/miri is needed to fix the fallout.

cc @kennytm, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @oli-obk, the PR reviewer, and @rust-lang/compiler -- nominati

[2019-02-18 11:37] oli-obk commented on #58310
Bikeshed: I think we should get rid of the old `Substs` type alias and just name the `SubstsRef` `Substs`, similar to what we're doing with `Ty<'tcx>` (which is an alias for `&'tcx TyS<'tcx>`.

[2019-02-18 11:38] oli-obk commented on #58558
:tada: it works!

[2019-02-18 12:13] yoshuawuyts commented on #48711
@JoshMcguigan hey, thanks for asking!

[man](https://github.com/rust-cli/man) now supports defining custom exit codes. However we haven't created any sort of bridge (e.g. the closest we've come is [to create a bridge to clap](https://github.com/clap-rs/clap_generate/pull/1)).

That said, I do have some thoughts on this. I was chatting with @davidbarsky last week about the `failure` crate, and the

[2019-02-18 12:25] hellow554 commented on #58557
You could use [the playground](https://play.rust-lang.org) to check if it works or not

[2019-02-18 12:28] hellow554 commented on #58557
Can you try to provide a MCVE for that? Your code is realtivly spare. Try to use the plaground and share the code with us by using the share button in the upper right corner.

[2019-02-18 13:22] oli-obk commented on #58557
You can get a nightly without all the components by updating to a concrete nightly (e.g. `rustup override set nightly-2019-02-17`)

[2019-02-18 14:54] ingenieroariel commented on #53308
Closing, thanks!

[2019-02-18 14:54] #53308 closed

[2019-02-18 15:19] AnickaBurova opened #58560 "Macro generated code fails to compile"
I  have a macro which generates bit of code.
[code]
Not the shortest nor the nicest macro, it is more poc for now.
It is used like this:
[code]
It generates these two errors:
[code]
When I have the trait implementation written manually, not generated by the macro, all is working all right.
You can reproduce the whole problem in this repo [macro-bug](https://github.com/AnickaBurova/macro-bug)
Sorry

[2019-02-18 15:24] jonas-schievink commented on #58560
I ma pretty sure this is working as intended and is just identifier hygiene applied to `self`: The declared `self` in the macro is not the same as the `self` you pass into the macro.

[2019-02-18 15:25] bartsmykla commented on #58557
After updating to 1.34 (nightly) problem disappeared (it also didn't appear on playground with the newest nightly). Sorry guys for bothering you.

[2019-02-18 15:27] haraldh commented on #58520
Yeah, my first iteration (pun) had only `.iter()`, but then @sfackler [requested](https://github.com/rust-lang/rust/pull/58289#issuecomment-461729008) the other `iter_*()`

[2019-02-18 15:32] AnickaBurova commented on #58560
Oh I forgot to mention, this stopped working after I changed the trait Result to the current type. It was working in macro before, but not working now. I can dig the old code and make an example if it is needed. But why is the "hygiene" not applied to "index" variable as well? That does not make sense.

[2019-02-18 15:34] #58557 closed

[2019-02-18 15:38] jonas-schievink commented on #58560
It is, but the declaration of `index` is being passed into the macro from the invocation, so those are considered the same idents.

[2019-02-18 15:48] AnickaBurova commented on #58560
It looks like this is the "hygiene" of the macros, so I made a simple workaround, converting the code block in to a lambda.
[code]

Thanks for help
I wonder if the compiler will remove the lambda and inline the code.

[2019-02-18 15:53] jonas-schievink commented on #58560
Okay, seems like that solves it, so closing.

Generally you can rely on the compiler to optimize your code very well, and this seems like an obvious optimization, so it shouldn't miss it.

[2019-02-18 15:53] #58560 closed

[2019-02-18 16:03] gnzlbg commented on #58533
While the RFC doesn't explicitly show how these APIs should be documented. I think that for operations like `insert_list`, etc. it might be worth documenting that they have constant-time complexity.

[2019-02-18 16:46] rconaway commented on #58491
I need to use 2018 features in an MD book I'm creating.

It looks like this is a fresh issue, so I assume nobody has had a chance to deal with it yet.  In the meantime, is there any work-around I can use?

I took a naive shot at changing a local copy of mdBook.  In src/theme/book.js, I changed the url that (I think) runs the code to

`https://play.rust-lang.org/evaluate.json?version=stable&mode=de

[2019-02-18 16:57] newpavlov commented on #27783
How about adding `getrandom` to the OP list? (maybe instead of `rand`?) Introduction of a simple (overwritable) function for pulling entropy from system randomness source was previously briefly discussed [here](https://github.com/rust-random/rand/pull/643#issuecomment-438961475). See [rust-random/getrandom](https://github.com/rust-random/getrandom) for the current prototype.

[2019-02-18 17:00] SimonSapin commented on #53856
https://github.com/rust-lang/rfcs/blob/master/text/2521-c_void-reunification.md

In some of those discussions, there was no consensus for having integer type aliases in libcore because some of them are platform-specific but libcore “should be pure”.

[2019-02-18 17:33] mennis commented on #58529
Attachment appears to be just a tarball not gzipped.

[2019-02-18 17:58] timvermeulen commented on #58424
Never mind, duplicate of #26085

[2019-02-18 17:58] #58424 closed

[2019-02-18 18:11] varkor commented on #26085
This might make a good `E-mentor` or `E-medium` issue: as a first step, change the type inference and see what goes wrong and report back after that. I imagine `src/librustc_typeck/check/closure.rs` is the right place to start looking, but I haven't looked properly.

[2019-02-18 19:23] Serentty opened #58563 "Compiler crashes when trying to compile core with static relocation model"
I'm trying to compile Rust code for MS-DOS, and have written a custom target. In this target I have the relocation model set to `static`, since including that kind of information is impossible in a COM executable (which I'm using because it's trivial to generate them with linker scripts, unlike MZ executables). However, when compiling `core`, the compiler simply crashes with a segmentation fault.

[2019-02-18 20:04] gnzlbg opened #58564 "libcore fails to build for sparc-unknown-linux-gnu"
The error is:

[code]

[2019-02-18 20:13] QuietMisdreavus commented on #58472
@ollie27 That makes sense! I'll reopen the issue on docs.rs and close this one (and @GuillaumeGomez's PR).

[2019-02-18 20:13] #58472 closed

[2019-02-18 20:30] QuietMisdreavus commented on #58411
(@Centril please ping the whole rustdoc team for rustdoc issues @rust-lang/rustdoc)

It's possible to extend `everybody_loops` (or create a new pretty-print pass and run it after `everybody_loops` when rustdoc is running) to scrub out private struct/variant members. (cc @pnkfelix) One problem with this approach is that we'd have to only run that when `--document-private-items` was *not* passed - o

[2019-02-18 20:49] QuietMisdreavus commented on #43466
The problem is that we use the same resolver that the compiler has made - which means that it's affected by `#![no_std]`. To universally load in libstd for intra-doc links, we either need to totally ignore `#![no_std]` when building docs (which may cause erroneous compilation errors) or have some way to find and load libstd's information (*and* prelude, since you mentioned `String` specifically) a

[2019-02-18 22:22] Lucretiel commented on #43466
It definitely seems like one of those cases where what is *technically* correct and what is expected are different, and we should design in favor of the latter.

The easiest stopgap solution I can see would be to add a new compiler attribute, `doc`, so that users can write:

`#![cfg_attr(not(doc), no_std)]`

[2019-02-18 23:22] estebank commented on #58525
Fur your own reference, [the following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6aaa13db03d03a4a5381f33de507bd6f) also works:

[code]

[2019-02-18 23:47] Amanieu commented on #53491
I just converted my code to use `MaybeUninit`. There are quite a few places where I could have used a `take` method which works on `&mut self` rather than `self`. I am currently using `x.as_ptr().read()` but I feel that `x.take()` or `x.take_initialized()` would be much clearer.

[2019-02-19 00:16] shepmaster commented on #53491
@Amanieu This feels very similar to the existing `into_inner` method. Maybe we can try to avoid duplication here?

😉

[2019-02-19 00:51] appaquet commented on #35968
After a few hours of hunting down this issue, I found the reason Rust's bitcode embedding is not working in Xcode. The short answer is that Xcode's LLVM version is expecting [LLVM 6.0 bitcode](https://en.wikipedia.org/wiki/Xcode#Latest_versions), while Rust has bumped to LLVM 7.0 in [July 2018](https://github.com/rust-lang/rust/pull/51966).

Now, the long answer...

As we can see in LLVM 7.0's [ch

[2019-02-19 01:22] Whissi opened #58567 "rust-1.32.0: Could not compile `core` when using system llvm-8.0.0 RC2"
In Gentoo Linux, we started to test llvm-8.0.0 RC2. We noticed that rust-1.32 won't build against llvm-8.0.0 RC2. After backporting commit df0466d0bb807a7266cc8ac9931cd43b3e84b62e at least rustc_llvm and rustc_codegen_llvm passed but now, core is failing:

[code]
Are we missing another patch?

[2019-02-19 03:55] chrisballinger commented on #35968
@appaquet Thank you for getting to the bottom of it! It was quite the mystery for me and I don't think I ever was going to dive as deep as you did. Good to know that it should likely start working once Apple bumps the LLVM version.

[2019-02-19 04:00] qwerty19106 commented on #53491
The method ```take``` of ```Option``` have other semantic. ```x.as_ptr().read()``` not change inner value of x, but ```Option::take``` try replace value. It might be misleading for me.

[2019-02-19 07:37] upsuper opened #58570 "Box::new() doesn't optimize out stack usage"
If you feed the compiler with the following code:
[code]

The compiler would output (from playground) in release mode:
<details>

[code]

</details>

----

It can be seen clearly that `foo` does the allocation first and then runs `memset`, while `bar` clearly runs the `memset` before allocation, and it then `memcpy` the content into the box.

This is not very optimal. Users should be able to expec

[2019-02-19 07:46] khareatu commented on #58529
BTW, think we have tracked down the "invalid write of size 8" seems to be some sort of musl compatibility issue with the panic backtrace (or something along those lines).  Since we don't see the "invalid write of size 8" on Alpine Linux (aarch64) with the same binary, it stands to reason that there's something different about about platform musl that causes the issue. In any case, compiling the co

[2019-02-19 07:46] Nemo157 commented on #53491
@qwerty19106 `x.as_ptr().read()` on a `MaybeUninit` _semantically_ takes the vale out and leaves the wrapper uninitialised again, it just happens that the uninitialised value left behind has the same bit-pattern as the value that was taken out.

[2019-02-19 08:30] michaelwoerister commented on #58323
Thanks for bisecting, @jonas-schievink!

This might have to do with @nagisa's implementation of  `optimize(size)` and `optimize(speed)`. The stack trace shows that the failing `collect_and_partition_mono_items` invocation is done from `backend_optimization_level`.

[2019-02-19 08:49] michaelwoerister commented on #58323
This is the function for which the collector cannot find the MIR:
https://github.com/japaric/r0/blob/f8c893e1e02b97c91b1cae2c01e280874d7948fa/src/lib.rs#L167

It looks like the MIR for function is not encoded in metadata for some reason?

[2019-02-19 08:58] RalfJung commented on #53491
I find that curious, could you explain why?

In my view, a `take`-like method is somewhat misleading because unlike both `take` and `into_initialized`, it does not protect against take-ing twice.  An, actually, for `Copy` types (and in fact for `Copy` values), take-ing twice is completely fine!  So, the analogy with `take` doesn't really hold, from my perspective.

We could call it `read_initializ

[2019-02-19 09:18] michaelwoerister commented on #58323
Well, I don't see any obvious problem in the diff. Needs more thorough debugging...

[2019-02-19 09:21] nstoddard commented on #56546
I ran into this issue when reading the docs for the `cgmath` crate. On the [`Vector3` docs](https://docs.rs/cgmath/0.17.0/cgmath/struct.Vector3.html), for the `MetricSpace` impl, the `distance2` method is hidden by default, which initially makes it look like it doesn't exist. The same problem occurs for the `InnerSpace` impl.

I see how this feature is helpful for traits like `Clone` for which the

[2019-02-19 09:36] Nemo157 commented on #53491
@RalfJung hmm, maybe "semantically" is the wrong word here. In terms of how a user should use the type you should assume the value is uninitialized again after you read out of it (unless you concretely know that the type is `Copy`).

If you only ever look at the raw operational effect you get weird interactions like [this](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=28

[2019-02-19 09:42] Amanieu commented on #53491
@RalfJung In all of my cases, this involves a `static mut` into which a value is placed, and later taken out. Since I cannot consume a static, I cannot use `into_uninitialized`.

[2019-02-19 09:51] pnkfelix commented on #58570
cc #53827 #49733 #28008

[2019-02-19 09:58] pnkfelix commented on #21192
cc @rust-lang/wg-grammar : this remains an open question and it would be great to try to attack it. (It may well tie in with whatever syntax we adopt for `await`, for that matter...)

[2019-02-19 10:01] jonas-schievink commented on #58567
Rust is currently on commit rust-lang/llvm-project@73a75d35b9776d56160fa3200aca4a970ae49b60 in our LLVM fork at https://github.com/rust-lang/llvm-project - perhaps check if that has any important patches?

[2019-02-19 10:36] he32 opened #58572 "rust 1.32.0: Inconsistent libc versions used"
It looks like rust 1.32.0 is inconsistent in which versions of `libc` it uses:

- `vendor/libc/Cargo.toml` says `0.2.45`
- `src/liblibc/Cargo.toml` says `0.2.43`

Is there a good reason for this apparent version skew?

[2019-02-19 10:56] mpe commented on #57345
Where/how are the builds done currently?

[2019-02-19 12:05] RalfJung opened #58573 ""Conflicting crates" error should show the filenames of the conflicting crates"
I just got this error when compiling rustc:

[code]

Usually when I get similar errors, it shows some filenames and deletong some of the files involved unblocks the situation. However, for this particular error, for some reason it does not tell me in which files it found these conflicting `libc` crates.

[2019-02-19 12:30] upsuper commented on #58570
It's probably just a duplicate of #53827.

[2019-02-19 12:50] RalfJung commented on #58130
I am proposing expanded documentation in https://github.com/rust-lang/rust/pull/58574, please help proof-reading that!

[2019-02-19 12:59] RalfJung commented on #53491
@Amanieu what I was asking is, why do you think `x.take_initialized()` is clearer than `x.as_ptr().read()`?

@Nemo157

A 0-length read of uninitialized memory is never UB, so why would Miri care about them?

Sure, you *can* violate safety invariants without ever reading uninitialized memory. You can also just use `MaybeUninit::zeroed().into_initialized()` for that. I don't see the problem.
The "we

[2019-02-19 13:01] michaelwoerister commented on #58323
I think I know what's going on here: The bug only occurs for check builds and for those we don't encode MIR in crate metadata. That was no problem so far because we didn't run `collect_and_partition_mono_items` in that case either. However, this changed with @nagisa's new `backend_optimization_level`.

@nagisa I suppose you can add an early exit to `backend_optimization_level` for check build mode

[2019-02-19 13:35] Amanieu commented on #53491
@RalfJung I am essentially treating `MaybeUninit` as an `Option`, but without the tag. In fact, I was previously using the [untagged-option](https://crates.io/crates/untagged-option) crate for exactly this purpose, and it has a `take` method to extract the value from the union.

[2019-02-19 13:37] #58570 closed

[2019-02-19 13:37] nagisa commented on #58570
Closing as a duplicate.

[2019-02-19 14:03] pnkfelix commented on #57979
@nikomatsakis [wrote above](https://github.com/rust-lang/rust/issues/57979#issuecomment-459387604):

In case people want further illustration of this point, here is an example of the above scenario ([play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c60d9b48e089c34c8f2fc800c87cb9f3)):

[code]

[2019-02-19 14:08] pnkfelix commented on #57979
Having said that, it seems like we at least *attempt* to do inference when encountering the code in question (at least back when we managed to sneak it pass the compiler's initial static checks).

This leads me to wonder if a warning cycle is at least *possible* via a relatively small delta to the code.

[2019-02-19 14:30] ExpHP commented on #58510
See https://github.com/rust-lang/rust/issues/24066

[2019-02-19 14:47] o01eg commented on #52317
Looks like it went back in recent commits 4d66b7b76d:
[code]

[2019-02-19 15:28] alexcrichton commented on #58506
@Mark-Simulacrum FWIW we have 10 I believe

[2019-02-19 15:33] alexcrichton commented on #57345
If it's just a binutils upgrade that's fine to land at any time, and they're located in `src/ci/docker/*` files which configures all our distribution builds.

[2019-02-19 16:18] Centril commented on #58573
cc https://github.com/rust-lang/rust/issues/58572

[2019-02-19 17:34] chachi commented on #54723
Stabilizing this feature would have a great impact on code generation for message libraries (e.g. in ROS) where message fields can collide with Rust keywords.

[2019-02-19 18:16] petrochenkov commented on #54723
@chachi
Since raw identifiers are already stabilized, I think the only question here is perhaps naming conventions (e.g. `new_raw` vs simply `raw`).

When introducing the function I thought `new_adjective` is not idiomatic, but apparently there are already `NonNull::new_unchecked` and `Pin::new_unchecked`, so `Ident::new_raw` is probably good too.
In this case the only thing that needs to be done

[2019-02-19 18:21] #54184 closed

[2019-02-19 18:30] niklasad1 opened #58580 "`Duration::as_millis` and `Duration::from_millis` has different integer types"
Would be nice if both [Duration::as_millis](https://doc.rust-lang.org/std/time/struct.Duration.html#method.from_millis) and [Duration::from_millis](https://doc.rust-lang.org/std/time/struct.Duration.html#method.as_millis) had the same integer types.

For example:

[code]

[2019-02-19 18:37] chachi commented on #54723
@petrochenkov Great! Is that something I could take care of? I haven't contributed to Rust upstream before so would love any tips/pointers on what that process is.

[2019-02-19 19:00] petrochenkov commented on #54723
@chachi

Yes, for library stabilizations the only things that need to be done are changing the `#[unstable(...)]` attribute to `#[stable(...)]` (the version on trunk is 1.34.0 right now) and removing unnecessary `#![feature(...)]`s across the codebase.
Here's a recent example of such stabilization - https://github.com/rust-lang/rust/pull/58576.

[2019-02-19 19:22] jonas-schievink commented on #58580
This isn't really possible since changing the type used by `from_millis` is a breaking change and `as_millis` is only possible because `u128` is a thing now (so changing that to `u64` would defeat the purpose of that function)

[2019-02-19 19:23] marshallpierce commented on #56889
So, is the upshot then that this is the suggested path for base64...?

- On `write()`, write as many times as needed to flush the internal buffer, then encode the input buffer into the internal buffer and write as much as possible of it in one `write()` call to the delegate writer
- If an error occurs at any point, return it

That means, for instance, that some data can be written successfully fol

[2019-02-19 20:08] Mark-Simulacrum commented on #58506
@pietroalbini -- might be good to reach out to Travis and see if there's anyway we can get visibility into which Mac each job is getting scheduled; I wonder if we're sometimes scheduling onto the same mac (instead of using 5 different ones)...

[2019-02-19 20:12] luser commented on #58393
I did a local Linux build from current central and looked in the cargo output dir and found:
[code]

The mdb.o there is contained in liblmdb.a. It gets placed into liblmdb_rkv_sys.rlib:
[code]

Looking at a recent inbound build log shows `-l static=lmdb` on the rustc commandline when building the `lmdb-rkv-sys` crate:
[code]

From your build log I can see `lmdb-sys` including `-l static=lmdb`:
[co

[2019-02-19 21:00] niklasad1 commented on #58580
Right, everytime I want to convert `millis: u128` to a Duration I need to do it manually which doesn't seem like an ideal API to me!

[2019-02-19 21:04] jonas-schievink commented on #58580
Duration only stores 96 bits internally, you'd have to either extend that or do some amount of truncation anyways

[2019-02-19 21:14] pnkfelix commented on #46634
NLL pre-meeting triage, P-low.

[2019-02-19 21:17] pnkfelix commented on #51000
NLL premeeting triage.  I think the pattern
[code]
 is quite  rare. Therefore I think the presentation of the bug in the description is inflating the severity of the problem. Marking P-low.

Orthogonally: @matthewjasper are you still working on this? Or should I unassign?

[2019-02-19 21:23] pnkfelix commented on #51759
NLL premeeting triage. A lot of Rust's audience is unlikely to be familiar with auto-injected reborrows+derefs coercions here, and better diagnostics could help bridge that gap.

So, marking P-medium.

[2019-02-19 21:27] pnkfelix commented on #52708
NLL pre-meeting triage. This is an important topic (i.e. P-high) that some folks from both NLL and MIR 2.0 groups are looking at; but its not NLL specific at all, so I'm removing the NLL related tags.

[2019-02-19 21:34] pnkfelix commented on #53159
NLL premeeting triage. Unclear what priority to assign here, since it is not clear whether or not this would still be much of a win. (Its possible it might be; I just don't know.) Continuing to leave off a P-label; hopfeully I'll revisit next week with more information.

[2019-02-19 21:38] pnkfelix commented on #53328
NLL premeeting triage. we are better off waiting until we've made more progress on Polonius before we invest much effort here. P-medium

[2019-02-19 21:57] dtolnay commented on #44692
According to @steffengy in https://github.com/rust-lang/rust/issues/47188#issuecomment-357345082 -- this is hitting an infinite loop in [libsyntax_pos/lib.rs#macro_backtrace](https://github.com/rust-lang/rust/blob/0258c6dacaa6e187ae9bf744fd3184e79f78f2ef/src/libsyntax_pos/lib.rs#L333). See that comment for details.

[2019-02-19 21:58] dtolnay commented on #47188
Closing as a duplicate of #44692.

[2019-02-19 21:58] #47188 closed

[2019-02-19 22:07] ExpHP commented on #58517
Ran `cargo-bisect-rustc` on the nightlies:

3c5a0fa45...e9bc1bac8

[2019-02-19 22:12] jonas-schievink commented on #58517
Only thing in that range that touches the typesystem seems to be https://github.com/rust-lang/rust/pull/35883

[2019-02-19 22:17] Mark-Simulacrum commented on #58517
May also be related to https://github.com/rust-lang/rust/pull/35656

[2019-02-19 22:18] jonas-schievink commented on #58517
Ah, I missed that one. That might be more likely, yeah (since specialization might now be involved, but before wasn't).

[2019-02-19 23:08] pietroalbini commented on #58025
[Contacted AppVeyor support about this](https://help.appveyor.com/discussions/problems/20562-build-exceeded-allowed-resource-quotas).

[2019-02-20 00:42] upsuper opened #58582 "Rust std library exploits undefined behavior of union?"
The union RFC says:

However, there are several cases which explicitly read from a field different from the one written to, for example, [`str.as_bytes()`](https://github.com/rust-lang/rust/blob/74e35d270067afff72034312065c48e6d8cfba67/src/libcore/str/mod.rs#L2131-L2137) which was introduced in #50863 to make many of the stuff `const`.

[2019-02-20 00:46] Mark-Simulacrum commented on #58582
cc @RalfJung

I suspect that the answer to this is essentially "yes" but because the standard library is packaged with a particular compiler we ignore it. It could pose a problem for making sure miri doesn't error out on the standard library.

[2019-02-20 00:49] upsuper commented on #58582
One problem is that people inspect std code may learn from that and assume it is safe to do so without checking its actual semantics. I think std should still try to avoid exploiting undefined behavior as much as possible, or at least have some comment as well as check to explicit warn people reading the code.

[2019-02-20 00:54] upsuper commented on #53827
It seems that `Box::new` is implemented via `box` syntax, and the function is marked `#[inline(always)]`, so theoretically using `Box::new([0; 1_000_000])` should have the same result as `box [0; 1_000_000]`. But as shown in #58570, they produce different result even in release mode.

[2019-02-20 02:06] lenoil98 opened #58585 "Bootstrap compiler for FreeBSD/PowerPC64"
Now that powerpc64-unknown-freebsd supports has been added.  There is no bootstrap compiler download available.  When, if ever, will a bootstrap compiler be available.  Otherwise, how do you cross compile rustc?

[2019-02-20 02:17] Mark-Simulacrum commented on #58585
This isn't the best place to discuss this - internals would be better.

However, to answer your question, if (maybe when) we're building a full toolchain for any target I believe it should automatically be available as a bootstrap compiler within at most 6 weeks of landing in master.

[2019-02-20 02:17] #58585 closed

[2019-02-20 03:10] estebank commented on #58582
Isn't the fact that it is enclosed by an `unsafe` block enough of a warning of "here be dragons"?

[2019-02-20 03:21] upsuper commented on #58582
`unsafe` usages can be safe if used correctly, and `unsafe` is created to do that. Rust std (among other popular crates) can be a good source of learning common pattern of safe usage of `unsafe`. So I don't think having `unsafe` block itself is enough an excuse for exploiting undefined behavior.

As I mentioned in that comment, if std has to do this, there should probably at least have some commen

[2019-02-20 06:18] gurgalex opened #58586 "compiler error E0505 example compiles with 2018 edition"
Taken from [https://doc.rust-lang.org](https://doc.rust-lang.org/error-index.html#E0505)
[Erroneous code compiles fine for E0505](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5bf27b44da06b2b181d41c0c7eec98fc)

A possible way to [trigger E0505 in the 2018 edition](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=93372135deaafc1f1e74982b664d5d3d)

Ru

[2019-02-20 06:32] gurgalex commented on #58586
Where are the error code examples in the repo?

[2019-02-20 06:56] o01eg opened #58587 "Rustdoc cann't build rust documentation with custom libdir"
After https://github.com/rust-lang/rust/pull/58238 it was broken again:

[code]

[2019-02-20 06:57] hellow554 commented on #58586
https://github.com/rust-lang/rust/blob/8af675a07576940ba24e3d91abd10b029b937946/src/librustc_mir/diagnostics.rs#L1540-L1557

[2019-02-20 07:10] o01eg commented on #58587
Real `librustc_driver-ed4f3bf6d6835e3f.so` placed in
[code]

[2019-02-20 08:25] o01eg commented on #58587
I've tried to fix it like #52439 but it still failed:
[code]

Looks like one installation of library is missed: https://github.com/rust-lang/rust/issues/52317#issuecomment-405258339

[2019-02-20 08:56] nagisa commented on #58582
That specific example needn’t to be non-repr(C), so a PR that adds `repr(C)` there would be welcome.

[2019-02-20 09:06] RalfJung commented on #58582
It's not really UB but it is relying on unspecified details about the layout of unions -- details that can change any time. This is equivalent (in spirit) to what methods like `from_raw_parts` do to create a slice: that kind of code is fine in libstd because it is tied closely to the compiler and will be updated together with the compiler when the layout changes. That same code in a user library i

[2019-02-20 09:13] LukasKalbertodt commented on #58473
I get these warnings when compiling the `boolinator` crate (for example, for [this doc comment](https://github.com/DanielKeep/rust-boolinator/blob/master/src/lib.rs#L51-L54)). Full output (`rustc 1.34.0-nightly (d17318011 2019-02-07)`):

<details>
[code]
</details>

I very much doubt that this is intended.

[2019-02-20 09:36] kulakowski opened #58590 "Fuchsia is not unix"
[Currently](https://github.com/rust-lang/rust/blob/74e35d270067afff72034312065c48e6d8cfba67/src/librustc_target/spec/fuchsia_base.rs#L18), the Fuchsia target is part of the unix target_family. I'd like to suggest that this should not be the case, and that `#cfg[unix]` should be false for Fuchsia.

First, I want to capture what I think the _opposite_ case is. Fuchsia does support some amount of pos

[2019-02-20 09:51] pietroalbini commented on #58025
According to AppVeyor support [the problem was disk space](https://help.appveyor.com/discussions/problems/20562-build-exceeded-allowed-resource-quotas#comment_46980631), and they increased our quota by 10Gb. Closing this.

[2019-02-20 09:51] #58025 closed

[2019-02-20 10:02] pietroalbini commented on #58480
The infra team already discussed this in the past, and our consensus is to keep the timeout to 3 hours. Our CI builds already take too long, limiting the amount of PRs we can merge in a day even if each of them doesn't fail. We prefer to work torwards reducing the amount of time spent on CI, and the timeout is an incentive to do so.

[2019-02-20 10:02] #58480 closed

[2019-02-20 10:02] #58009 closed

[2019-02-20 10:03] #57262 closed

[2019-02-20 10:04] gnzlbg commented on #58582
Note that this is a _safe_ usage of `unsafe` because that code knows how _unspecified_ behavior is specified.

A normal Rust crate can also make use of this knowledge in a safe way and reliable way, if, for example, it would test all its releases against all past and present Rust toolchains to ensure its correctness on all of them.

`libstd` uses a lot of not only unstable Rust features, but both

[2019-02-20 10:34] nikomatsakis commented on #58519
I'm also hitting this problem. Marking as a regression as comments seem to indicate this started only recently.

[2019-02-20 10:36] oli-obk commented on #58519
This should have been fixed by https://github.com/rust-lang/rust/pull/58543 You probably just need to rebase

[2019-02-20 10:41] nikomatsakis commented on #58519
That did help, thanks @oli-obk -- any reason not to close as fixed?

[2019-02-20 11:08] o01eg commented on #58587
Cann't found which step produces `build/x86_64-unknown-linux-gnu/stage2/{LIBDIR}/rustlib/x86_64-unknown-linux-gnu/lib/librustc_driver-*.so`

[2019-02-20 11:14] jonas-schievink commented on #58519
I've reproduced the original issue on an older nightly and confirmed that it's fixed on the current one (`rustc 1.34.0-nightly (146aa60f3 2019-02-18)`). Closing.

[2019-02-20 11:14] #58519 closed

[2019-02-20 12:42] pnkfelix opened #58593 "type alias incorrectly flagged as unused when solely used in impl header"
Consider the following code ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e36a771655d356700b8fcf9330292edd)):

[code]

Today this emits the following warning diagnostic:

[code]

But that type alias is not dead code. It is used in the `impl Clone for S<T> { ... }`, as one can see by trying to recompile the code after commenting out the type alias.

[2019-02-20 12:57] jlouazel commented on #35968
Thanks @appaquet for your clear answer. Now I guess we just have to rely on Apple to do the right thing

[2019-02-20 12:59] #56260 closed

[2019-02-20 12:59] #58134 closed

[2019-02-20 12:59] #58226 closed

[2019-02-20 13:00] #39448 closed

[2019-02-20 13:52] #57112 closed

[2019-02-20 14:08] pietroalbini commented on #58506
Contacted Travis Support about this.

[2019-02-20 14:45] nagisa commented on #58590
#[cfg(unix)] was historically defined as `#[cfg(not(windows))]` so that having two configurations of `#[cfg(windows)]` and `#[cfg(unix)]` would "technically" cover all the targets.

While the name is misnomer, making Fuchsia neither `#[cfg(unix)]` nor `#[cfg(windows)]` may cause more harm than good.

[2019-02-20 15:06] pnkfelix commented on #57464
I have narrowed this down to a single file test case that depends solely on `extern crate futures;`, which means we can at least demo on the playpen.

Code ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5e6ebd626978d8352f5dcc7348c3a528)):

[code]

[2019-02-20 15:07] pnkfelix commented on #57464
(my planned next step is to remove the dependence on the `futures` crate, so that we can really dive in from the viewpoint of `rustc` itself without worrying about that other code.)

[2019-02-20 15:09] michaelwoerister commented on #58323
@nagisa, do you want to look into a fix or should I? Either option is fine with me.

[2019-02-20 15:32] sfackler commented on #58590
Is Redox a unix? That's the other "weird" OS we support IIRC.

[2019-02-20 15:37] euclio commented on #58473
Yeah, the pass to check codeblock syntax is probably missing handling for the extra margin introduced by comments in that style. Shouldn't be too hard to fix.

In the meantime, you can work around this by writing your comments with `///` or like so:

[code]

[2019-02-20 15:38] o01eg commented on #58587
Looks like something deletes required librustc_driver-*.so, because after `compile` command I get:
[code]

But in `install` command when I breaks on documenting `alloc`

[code]

[2019-02-20 15:50] nikomatsakis commented on #56105
OK, so, due to the All Hands etc, this issue wound up somewhat neglected for too long. But @aturon and I have been digging into it lately and I wanted to summarize current thinking

Perhaps the TL;DR is that I am considering trying to land https://github.com/rust-lang/rust/pull/58592, which kind of "reimplements" the old check we used to do, but using the infrastructure of the newer system. The re

[2019-02-20 16:06] oli-obk commented on #58593
Previous instances of related (or possibly the same) problems:

* https://github.com/rust-lang/rust/issues/47131
* https://github.com/rust-lang/rust/issues/54234

[2019-02-20 16:07] nagisa commented on #58323
Either way works for me, i imagine adding a check like described is okay
and is a trivial change to make. i can do it tonight but feel free to do it
first if it is critical to have it solved sooner rather than later.

On Wed, Feb 20, 2019, 17:09 Michael Woerister <notifications@github.com
wrote:

[2019-02-20 16:20] awilfox commented on #54999
This still affects 1.29.x and 1.30.0, but it seems fixed as of 1.30.1.  Thanks.

[2019-02-20 16:20] #54999 closed

[2019-02-20 16:21] tspiteri opened #58598 "intra-rustdoc links fail on primitive methods"
I hit this in #58596.

For example, for this a.rs
[code]
`rustdoc +nightly a.rs` produces
[code]

[2019-02-20 16:36] joshlf opened #58599 "Add LLVM atomic memcpy intrinsics, expose in core/std"
Expose LLVM's ["element wise atomic memory intrinsics"](https://llvm.org/docs/LangRef.html#element-wise-atomic-memory-intrinsics). In particular:
- Expose `llvm.memcpy.element.unordered.atomic` as `atomic_element_unordered_copy_memory_nonoverlapping`
- Expose `llvm.memmove.element.unordered.atomic` as `
atomic_element_unordered_copy_memory`
- Expose `llvm.memset.element.unordered.atomic` as `atomi

[2019-02-20 17:49] oconnor663 opened #58602 "a case where bounds checks should be eliminated"
https://godbolt.org/z/y-GVc2

[code]

This is a simplified version of a pessimization that came up when I was trying to optimize the `array_ref!` macro: https://github.com/droundy/arrayref/pull/16

[2019-02-20 17:54] aturon commented on #56105
Thanks @nikomatsakis for the writeup and the PR.

FWIW, it seems wisest to me to go ahead and land the leak check just to keep our options maximally open, and to explore these issues without time pressure.

[2019-02-20 18:15] alexcrichton commented on #44488
@rfcbot resolve motivation-and-ergonomics

I don't want to personally be on the hook for blocking this any more

[2019-02-20 18:16] alexcrichton commented on #43570
@rfcbot resolve footgun

I don't want to personally be on the hook for blocking this any more

[2019-02-20 18:16] alexcrichton commented on #40062
@rfcbot resolve rationale-and-vecdeque

I don't want to personally be on the hook for blocking this any more

[2019-02-20 18:57] SimonSapin commented on #56105
Servo can adapt one way or another, and we already have to deal with worse breakage on Nightly. Don’t worry about us. But Servo might be the canary in the coal mine.

What I’m worried about is projects who might be using similar code on Stable:

[code]

Some time in 2017, this project updated their compiler and had to add the second impl: https://github.com/rust-lang/rust/issues/44224

I think int

[2019-02-20 19:01] aturon commented on #56105
@SimonSapin

To clarify, that is the ultimate intent of the PR, and the reason we are scrambling to get it together.

[2019-02-20 19:03] pietroalbini commented on #56105
The promotion from beta to stable happens on Monday, so by Sunday it should be at least `beta-approved` and merged on master (we can include backports directly in the PR doing the promotion, but it has to be on master first).

[2019-02-20 19:04] pietroalbini commented on #56105
Nominating for the release team meeting this evening.

[2019-02-20 19:06] gurgalex commented on #58586
Which part do I need to build for rustc --explain E0505 to reflect changes in `rust/src/librustc_mir/diagnostics.rs`?

[2019-02-20 19:20] bcmyers opened #58604 "impl FromStr for NonZeroU8, NonZeroU16, ..."
Is there any reason why the following types couldn't implement `core::str::FromStr`?

* `core::num::NonZeroU8`
* `core::num::NonZeroU16`
* `core::num::NonZeroU32`
* `core::num::NonZeroUsize`
* `core::num::NonZeroU64`
* `core::num::NonZeroU128`

[2019-02-20 20:27] pnkfelix commented on #53773
NLL triage. P-medium.

[2019-02-20 20:27] pnkfelix commented on #54105
NLL triage. This needs prioritization. I'm inclined to go with P-medium.

[2019-02-20 20:29] pnkfelix commented on #54208
NLL triage. P-medium. WG-compiler-performance.

[2019-02-20 20:32] pnkfelix commented on #54256
NLL triage. Made title more informative. P-medium.

[2019-02-20 21:08] steveklabnik commented on #38768
https://github.com/rust-lang/rust/pull/45223 was supposed to close this, but github didn’t for some reason. Closing!

[2019-02-20 21:08] #38768 closed

[2019-02-20 21:34] kulakowski commented on #58590
Redox has no target_family: https://github.com/rust-lang/rust/blob/74e35d270067afff72034312065c48e6d8cfba67/src/librustc_target/spec/redox_base.rs#L26

[2019-02-20 22:18] programmerjake commented on #58533
one thing that I think would be a useful addition is a [`Walker`](https://docs.rs/petgraph/0.4.13/petgraph/visit/trait.Walker.html) type for linked lists, where the walker keeps track of a position in a linked list, but to access/modify the list, it has to be combined with borrowing the list, allowing you to have several walkers that are not limited in which elements they can point to that can all

[2019-02-20 22:34] lukaslueg opened #58610 "TyLayout::field_type ICE on 1.34.0-nightly 865cb7010 2019-02-10"
Running on `cargo 1.34.0-nightly (865cb7010 2019-02-10)` the travis job failed with a panic on [this commit](https://github.com/lukaslueg/rust-headless-chrome/commit/4fc1f843f6230e1083f357f3bf32e3e87e512b9d)

[code]

[2019-02-20 22:42] pietroalbini commented on #56105
Discussed this a bit in the release meeting, we're willing to delay beta -> stable promotion a bit if this doesn't make it in.

[2019-02-20 23:02] pnkfelix commented on #57464
Okay I've now reduced it to a single file that only depends on `std`.

Code ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9b97961a085cb519998c1132e557578e)):

[code]

Its pretty hard to reduce it past this point though.

There's a lot of inter-depedencies; I assume the bug is arising from some nasty interactions between normalizing the various associated items ab

[2019-02-20 23:07] upsuper commented on #58582
@gnzlbg That's a good argument. In that case, I think we should take off all the “[src]” link from document of std, since that's strongly encouraging readers to inspect the implementation.

Actually, I noticed this issue because there was a novice read that code and paste it in our group after being told to use that method for what they wanted to do.

[2019-02-20 23:08] vi commented on #58402
Note: this is now a tracking issue.

Maybe `C-feature-request` needs to be changed to `B-unstable C-tracking-issue`?

[2019-02-20 23:12] jonas-schievink commented on #58610
Works on stable and beta

[2019-02-20 23:14] oleksandr-yefremov commented on #35968
Sideview from somebody who has interest in multiplatform for mobile and compared most of the *promising* solutions (React Native, Flutter, Kotlin/Native, Rust)

React Native. Supports bitcode from inception, because essentially bridge is written in C++ and is just interpreting JS code in runtime.

Flutter. Does not support bitcode yet - https://github.com/flutter/flutter/issues/15288

Kotlin/Nativ

[2019-02-20 23:46] zackmdavis commented on #58586
I think a [stage 1 build](https://rust-lang.github.io/rustc-guide/how-to-build-and-run.html) should be fine? `./x.py build -i --stage 1 src/libtest`

[2019-02-21 00:08] #57843 closed

[2019-02-21 00:35] Mark-Simulacrum commented on #57877
No new regressions.

[2019-02-21 01:00] ckaran opened #58612 "Expose `libstd::sys_common::remutex`"
I just discovered that `libstd::sys_common::remutex` has the `ReentrantMutex` type, which is not exposed in `std::sync`.  Can you please expose it in `std::sync`?

[2019-02-21 01:03] jlouazel commented on #35968
Thanks you so much for this detailed explanation @oleksandr-yefremov. I've been reading a bit on the subject and I found this interesting comment: https://gist.github.com/yamaya/2924292#gistcomment-2738480

The version of LLVM is tied to the version of Swift used in XCode. So far the current support was applied:
[code]

While looking at the `swift-5.0-branch`, I noticed the declared version of LLV

[2019-02-21 01:09] mark-i-m commented on #48049
What's left here? It looks like all the checkboxes are ticked.

[2019-02-21 01:19] vincentisambart commented on #35968
It seems Xcode 10.2 will include Swift 5.0 and should be indeed be released pretty soon. But on the other hand LLVM 8.0 is scheduled to be released next week. Rust will pretty likely upgrade before Apple starts using it.

For Rust to properly support bitcode, we would need the Apple ARM architectures builds of Rust to use a pinned version of LLVM (maybe from the https://github.com/apple/swift-llvm

[2019-02-21 01:45] scottmcm commented on #58604
Sounds plausible, though what the error type should be is an interesting question -- there's nothing in `IntErrorKind` that seems to be a good match for "`NonZeroIsize` was zero".

[2019-02-21 02:03] jethrogb commented on #57754
https://users.rust-lang.org/t/firefox-is-much-slower-than-chrome-or-edge-on-some-rust-document-pages/25455/5

[2019-02-21 02:10] nevdelap opened #58613 "Panic compiling `unreachable v1.0.0`/`memchr v2.0.1` only inside a Docker container and only on Windows."
Hi there.

Using the Windows `Dockerfile` in this repository: https://github.com/nevdelap/ned-win/tree/rust-panic
...to build this: https://github.com/nevdelap/ned
...I get this panic: (Note: it's always worked in Windows without being in the Docker container.)
[code]
The attached file [rust-panic.txt](https://github.com/rust-lang/rust/files/2887331/rust-panic.txt) contains the full output for:

-

[2019-02-21 02:35] vitalyd commented on #58582
I’m with @upsuper on this one.  I also know many people (myself included!) that have either used `std` as an example of something or told others to use it as such.  Now, yes, it’s true that it can do things “ordinary” crates can’t, such as using unstable features/APIs, but I don’t think that should be a blanket excuse for more subtle things nor should the decision to use unspecified aspects be mad

[2019-02-21 05:19] johnterickson commented on #49359
@nrc You mentioned "The long-term solution is going to be deeply intertwined with pluggable test runners" in #46450. Does that mean that JSON won't be stabilized until there are pluggable test runners?

I'm trying to figure out if it makes sense for me to continue looking at https://github.com/rust-lang/rust/issues/51924 right now, or if I should hold off for the time being. For example, I'm looki

[2019-02-21 09:05] mati865 commented on #35968
@vincentisambart Rust has been already using LLVM 8 for nightly builds for 5 months IIRC.
LLVM 6 is minimal supported version if you want to build it yourself and it's tested on CI: https://github.com/rust-lang/rust/blob/706e67b0a0143d651eb03f2fa2c30645899e81ff/src/ci/docker/x86_64-gnu-llvm-6.0/Dockerfile

[2019-02-21 09:08] chifflier opened #58614 "rustc_save_analysis: get_expr_data returns None"
I am currently trying to port https://github.com/nrc/callgraph.rs/ to the current nightly and updated it for the changes on rustc_private and rustc_save_analysis. The goal is to parse the saved analysis to extract a call graph.

The saved anaysis seems to work, function calls are detected correctly. However, my code does not work on method calls (like `Foo::m1()` or `foo.m2()`, because neither `Sa

[2019-02-21 09:26] gnzlbg commented on #57715
Many types still don't implement all of the traits, e.g., grep on `libc` for `missing_debug_implementations`, for example.

* Some types can't easily `derive(Debug)` because they are `repr(packed)`.
* Some types can't easily derive most of the traits because they contain arrays with more than 32 elements.

[2019-02-21 10:00] alper commented on #35968
I've been chasing something along these lines for a while (and have now exited) and I'm guessing platform-wise it does not make sense for Apple to do this, because:

- Swift wants to be Rust in a bunch of ways (see the ownership manifesto for one) but is lagging behind a lot
- Apple needs Swift to be and remain their main platform language so it does not make sense for them to facilitate another b

[2019-02-21 10:28] nevdelap commented on #58613
Update: Forgot that the ned-win repo with the Docker build was private - make it public.

[2019-02-21 10:32] vertexclique commented on #55005
Option one:

for resolving this bug was tried in here: https://github.com/rust-lang/rust/pull/58611

[2019-02-21 10:41] pnkfelix commented on #27579
unassigning self; i haven't done anything with this and I don't think I'm the right person to take charge here.

[2019-02-21 11:08] gnzlbg commented on #58582
I personally think that being able to see the "[src]" of standard is a great feature of the docs. What I think we should clarify is that the source code of the standard library isn't a resource intended for learning Rust (those are listed in https://www.rust-lang.org/learn).

The source code of the standard library and its comments are written with specific goals and audience in mind. The goal is

[2019-02-21 11:28] pnkfelix commented on #53823
@fulmicoton have you tried passing ` -C llvm-args=-x86-cmov-converter=false` to rustc? I noted [here above](https://github.com/rust-lang/rust/issues/53823#issuecomment-447321359) that this seems to recover most of the lost performance on the relevant slice benchmarks.

[2019-02-21 11:32] vincentisambart commented on #35968
Then even if Apple starts supporting LLVM 7 bitcode, the bitcode generated by recent official builds of Rust might not work. Even if it does, it might break the next time Rust moves to a version of LLVM with an incompatible change in the generated bitcode.

Then having the official `*-apple-ios` builds of Rust be built with LLVM 6 (or better something like https://github.com/apple/swift-llvm/relea

[2019-02-21 11:38] sercand commented on #35968
I think Rust currently ships with two LLVM backends (Emscripten and standard) after merging of  https://github.com/rust-lang/rust/issues/46819.
Although #46819 mentions ios LLVM backend for bitcode it did not implemented.

[2019-02-21 11:43] mitsuhiko commented on #35968
Not to derail this entirely but wouldn't it overall make more sense to try to enable transpiling to C for such cases? It's unlikely that Rust will be able to stay up to date with the bitcode requirements from Apple's side.

[2019-02-21 11:47] gnzlbg commented on #58533
Does the Walker "borrow" the list, preventing removals?  If so, why does one need to combine it with borrowing the list? If not, how does the Walker handle the case, in which the position it refers to has been deleted?

[2019-02-21 11:54] RalfJung commented on #58582
While I agree that libstd is generally not a great resource for learning Rust (also because some of it is old and would be written differently in modern Rust, I think), I still think it'd make sense to be more explicit about where libstd exploits its special status, and document that in comments in the code when needed. In many cases this is obvious, such as when implementing a lang item, but in o

[2019-02-21 12:11] vitalyd commented on #58582
I don’t think people just read `libstd` to “learn Rust”.  I’m sure some do, but what I was talking about is referring to certain idioms/constructs, particularly the trickier/more subtle ones, used by it.  This is particularly so with topics such as unsafety which, despite people’s past and current efforts, aren’t all that well specified in any existing resource that I know.  Nomicon is great but i

[2019-02-21 12:30] Centril commented on #58582
@RalfJung From a T-lang perspective I find your idea quite important. Particularly, if people read the standard library and use unspecified ABI details, we end up with e.g. https://github.com/reem/rust-traitobject/blob/master/src/lib.rs#L11-L13 which assumes the underlying representation of trait objects (and so our hands become ~tied).

[2019-02-21 13:22] jlouazel commented on #35968
Even if there are indeed potential sources of incompatibilities, it opens the door for tests where we could try to compile with a compatible older version of Rust, one that embeds the right LLVM version for Apple.

In a complete cross-platform approach, this is still quite blocking obviously as we would need to be able to compile the same source code both from the latest version of Rust to benefit

[2019-02-21 13:30] gnzlbg commented on #58582
@Centril

I do agree that these comments add value for some particular audiences.  For example, I'd find this comment here useful:

[code]

I don't think such a comment adds much value to a beginner. I'd hope that they would at least ask, fill an issue, etc., but if we really want to address this audience, we'd need to add something else, like: "DO NOT USE THIS IN YOUR OWN CODE".

Rust source code

[2019-02-21 14:10] Centril commented on #58582
Yes, that seems useful.

Adding such a note would be useful as well... but I'm not primarily worried about the beginners. I'm worried about the senior rustaceans who use snippets from the standard library that e.g. assume unspecified ABIs about `repr(Rust)`, use that in popular crates, and then force the language team to make that the specification.

In this case that might work, but its hard to d

[2019-02-21 14:13] pnkfelix commented on #57464
There is a comment above the ICE in question:
https://github.com/rust-lang/rust/blob/1349c84a4fa0fca9b866b2e859d28ee185ca0c1b/src/librustc/infer/canonical/canonicalizer.rs#L190-L194

Looking at the RUST_LOG output here, I wonder if there are any obvious counter-examples to that claim that we should never see any names apart from `'static` or `'empty`.

In particular, I see:

[code]

Does the prese

[2019-02-21 14:21] pnkfelix commented on #58435
triage: assigning to self to attempt to identify backport.

[2019-02-21 14:22] gnzlbg opened #58617 "ctfe validation on unaligned references does not mention expected / provided alignment"
This code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6974adc5eb31718faeaf0456a302c6f3)):

[code]

errors under miri with

[code]

This snippet, however ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c8f31335496a1688f67bde0f84464fc4)):

[code]

errors with

[code]

It would be great if this error about the validity of

[2019-02-21 14:24] lqd commented on #58451
While it appears this will be fixed by #58592, I also have a WIP fix we'd be able to use when/if the leak check is removed again. (It's currently ad-hoc but will work to generalize it)

[2019-02-21 14:25] pnkfelix commented on #58158
@hellow554 can you clarify what you meant by this parenthetical? Are you saying if I add `#[test]` somewhere to the file it compiles without any error or warning?

[2019-02-21 14:26] pnkfelix commented on #58158
triage: assigning to self.

[2019-02-21 14:27] vitalyd commented on #58582
Bingo! It's the intermediate/advanced users (i.e. the ones that know just enough "to be dangerous" :)) that will refer to `libstd` in hopes of "clarifying" something they may not have found in the Nomicon (or similar).

We can debate the merits of looking at `libstd` till the end of time, but IMO, it's safe to assume that people will continue to do so until, at least, there's a complete language r

[2019-02-21 14:32] pnkfelix commented on #58158
There's other variations up above, but I thought this one was particularly illuminating:

[code]

note in particular that, at least in this variation, the concrete type here does *not* implement the trait in question. So its impossible to actually resolve the associated type when doing the `repr(packed)` analysis.

(If you add back in the impl commented-out above, then the code compiles. And if yo

[2019-02-21 14:35] #58558 closed

[2019-02-21 14:36] pnkfelix commented on #58104
triage: speculatively assigning to @arielb1 . They should hopefully unassign themselves if they are unable to look into this.

[2019-02-21 14:40] pnkfelix commented on #57673
closing bug now that PRs #57835 and #57885 have landed in beta-channel.

[2019-02-21 14:40] #57673 closed

[2019-02-21 14:43] Mark-Simulacrum commented on #58104
Realistically I expect this to be a regression because we have ~4 days left before we need to produce the stable artifacts.

[2019-02-21 14:56] RalfJung opened #58618 "Document Miri memory model"
We should document how Miri represents memory and pointers. Seems like the rustc guide is the right place for this, because this is mostly a CTFE implementation detail.

[2019-02-21 14:58] RalfJung commented on #58618
There is some useful information in https://github.com/rust-rfcs/const-eval/blob/master/const_safety.md.

[2019-02-21 15:02] pnkfelix commented on #58499
triage: P-high.

[2019-02-21 15:03] pnkfelix commented on #58499
but I dont think it warrants nomination beyond that.I trust @petrochenkov will address this in some manner.

[2019-02-21 15:04] pnkfelix commented on #58502
triage P-high

[2019-02-21 15:05] pnkfelix commented on #58610
triage: P-high.

[2019-02-21 15:10] Zoxc commented on #57979
No. That turned out to be unrelated to this. There was a similar bug in the old `NestedImplTraitVisitor` where it used `walk_ty` instead of `visit_ty`, fixed in https://github.com/rust-lang/rust/pull/57730.

[2019-02-21 15:12] nikomatsakis commented on #58502
Did the span being used for the lint message change, perhaps as part of @euclio's PR?

[2019-02-21 15:16] aturon commented on #58548
cc @alexcrichton

[2019-02-21 15:17] pnkfelix commented on #58548
triage: P-high. Removing I-nominated tag.

[2019-02-21 15:18] michaelwoerister commented on #58548
cc @alexcrichton

[2019-02-21 15:28] iragsdale commented on #35968
Speaking as someone who is right now trying to decide on an approach for writing cross-platform mobile code for a fairly large team, we literally cannot use Rust if we can't generate bitcode. One of our apps relies on bitcode to be able to generate a small enough binary to download over cell networks, and we have some large customers that insist on that.

Based on everything I see about Rust I thi

[2019-02-21 15:28] huydng commented on #58414
Instead of using armv7-unknown-linux-gnueabihf, we opted to enable CP15 barrier emulation in the kernel and it no longer crashes. Do you see any problem with this approach?

Thanks for your help!

[2019-02-21 15:30] euclio commented on #58502
Yes, the span was tightened to include just the identifier.

[2019-02-21 15:51] withoutboats commented on #58452
I'd like to at least investigate the DST solution before we stabilize to see what would be the blockers. It would be a pleasant outcome to have these types written `&'a IoVec` and `&'a mut IoVec` instead of having the two lifetime-parameterized types.

[2019-02-21 15:57] oli-obk opened #58619 "Cosmetic changes to compiler comments and docs"
@rust-lang/compiler discussed these kind of PRs (notably https://github.com/rust-lang/rust/pull/58524 and https://github.com/rust-lang/rust/pull/58036) in the weekly compiler meeting ([zulip link](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/.2354818.20weekly.20meeting.202019-02-21/near/159075480)).

Summary:

We do not have a style guide for such comments and having one

[2019-02-21 15:57] oli-obk commented on #58619
@rfcbot merge

Do we want to close existing and future cosmetic PRs without reviewing them and actively discourage them from being created in the first place?

[2019-02-21 16:17] oli-obk commented on #58617
I think all we need is https://github.com/rust-lang/rust/blob/0e25a6829c66302dc06c351bb494774e3d075f77/src/librustc_mir/interpret/validity.rs#L360-L361 to actually use the fields of the `AlignmentCheckFailed` and add their information to the validation failure string.

[2019-02-21 16:37] parched commented on #58414
The float ABIs are different so if your c libraries are built with the hard float ABI you will have issues. You'll also have a less optimal Rust std library with `arm-unknown-linux-gnueabi` because that will only have Armv6 instructions.

[2019-02-21 16:43] alexcrichton commented on #58548
Thanks for the report @hoodie, and also thanks so much for for the reduction here! Made it pretty easy to go a bit further.

I've reported this as an upstream LLVM bug to https://bugs.llvm.org/show_bug.cgi?id=40805

[2019-02-21 17:06] matklad commented on #37279
File preambles are gone, so nothing points to  https://www.rust-lang.org/COPYRIGHT anymore!

Who would have though that changing all of the files would be easier than fixing one website? :D

[2019-02-21 17:06] #37279 closed

[2019-02-21 17:12] pmccarter commented on #58617
I'd like to do it.

[2019-02-21 17:17] oli-obk commented on #58617
It's all your's, let me know if you have any questions

[2019-02-21 18:36] mpiannucci commented on #35968
Even if bitcode worked, Rust still can't target watchOS or tvOS anyways can it?

[2019-02-21 18:46] hellow554 commented on #58158
when you use it as a regression test in https://github.com/rust-lang/rust/tree/master/src/test

[2019-02-21 19:22] tspiteri opened #58622 "Reference interferes with optimization"
(This comes from a [Reddit thread](https://www.reddit.com/r/rust/comments/at6793/why_is_the_iter_version_performance_so_much/).)

In the code below, `slow` takes double the time `fast` takes. If `print` is changed to take a value rather than reference, the difference goes away.

[code]

Timings:
[code]

[2019-02-21 19:28] arielb1 commented on #35968
The problem here is that Rust's LLVM is *too new*, not that it is *too old*. I agree that we should have a better compatibility story here.

[2019-02-21 19:39] Pacoup commented on #35968
How feasible is it for rustc to support multiple LLVMs?

Related: [Support tvOS and watchOS (and simulator) targets](https://github.com/rust-lang/rust/issues/48862)

[2019-02-21 20:18] CryZe commented on #35968
It already uses multiple LLVMs. For the emscripten targets it uses emscripten's LLVM fork that is on LLVM 6 atm.

[2019-02-21 20:24] mitsuhiko commented on #35968
The issue is not that it's too old or too new but that even if rust matches the LLVM version, at any iOS release this can break again. Apple (as far as I know) does not in any way guarantee any stability with regards to bitcode.

[2019-02-21 20:33] pmccarter commented on #58617
Hmm both of these snippets seem to compile in the playground (when unused use removed).

[2019-02-21 20:43] smmalis37 commented on #58622
This sounds somewhat similar to https://medium.com/@robertgrosse/how-copying-an-int-made-my-code-11-times-faster-f76c66312e0f

[2019-02-21 20:49] iragsdale commented on #35968
In practice we see major Xcode updates once a year when new iOS versions come out. When this stuff happens developers get a pretty clear heads up that they have to start submitting apps with a newer version of Xcode, so it is rarely surprising. I wouldn't say this is particularly hard to plan for.

[2019-02-21 20:49] krdln commented on #58622
Could it also be a similar thing that [enables the `assert_eq` optimization](https://github.com/rust-lang/rust/pull/57815)?

[2019-02-21 20:50] gnzlbg commented on #58617
Yes the examples compile fine. The issue is triggered by running them under miri.

[2019-02-21 20:56] mitsuhiko commented on #35968
Since there is absolutely no guarantee around bitcode at all that could turn into something very hard to plan for. Imagine they would decide from one release to another to use their own bitcode format that does not end up in an open source release of LLVM.

[2019-02-21 21:08] programmerjake commented on #58533
no, the walker doesn't borrow the list. the list would panic or return None when passed a walker to a deleted item. to prevent needing the extra space in a list to track deleted nodes to prevent dangling pointers, we could add a WalkableList struct that borrows the list and keeps deleted nodes from being freed until the WalkableList is dropped or changes Walkers pointing to the deleted item to poi

[2019-02-21 21:22] nikomatsakis commented on #53159
I'm inclined to just close this issue, personally, although I guess the idea may still be actionable and relevant.

[2019-02-21 21:33] iragsdale commented on #35968
If we're just going to assume Apple is going to make breaking changes without regard to anyone else, sure. Having some more clear documentation around their plans for Bitcode doesn't improve that much if we assume that they are malicious or just plain don't care.

But they have clearly made Swift an important part of their platform and many thousands of developers depend on it, including their own

[2019-02-21 21:34] oli-obk commented on #58617
You can probably repro the same thing in rustc with const eval by making the final value be such an invalid reference

[2019-02-21 21:36] vincentdephily commented on #40298
AFAIU libtest now captures "stderr" and "stdout" but does so in a way that isn't compatible with some loggers that try to use the standard stderr/stdout without using something like `println!()`. For example https://github.com/sebasmagri/env_logger/issues/107 is discussing workarounds but it has drawbacks.

Another minor issue is that while libtest does capture `println!()` and `eprintln!()` outpu

[2019-02-21 21:37] QuietMisdreavus opened #58624 "rustdoc can't handle existential types"
[code]

[This sample compiles just fine](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=725c7465d86ff6ae50e5e4ef6ab87bed), but when you run it in rustdoc...

[code]

My personal guess is that the fact that rustdoc runs `everybody_loops` on the function that defines this type means that it no longer returns the actual type - instead it returns `!`, though the compiler pick

[2019-02-21 21:43] QuietMisdreavus commented on #58624
cc https://github.com/rust-lang/rust/issues/34511

[2019-02-21 21:45] oli-obk commented on #58617
Jup, here's a repro (that you can use as a regression test, too):

[code]

[2019-02-21 21:58] oli-obk commented on #58624
The same thing happens for plain impl trait:

[code]

gives

[code]

I'm not sure how to handle this, even if I turn on `#![feature(never_type)]`, I get

[code]

[2019-02-21 22:00] upsuper opened #58625 "Nest array initialization is not optimized"
See the following code:
[code]

Ideally they should generate the same code as `[[i32; 1000]; 1000]` is essentially just `[i32; 1_000_000]`. However, the first function does one `memset` to set a `[i32; 1000]` on the stack, then use `memcpy` to generate the big array, while the second just uses a single `memset`.

The code generated from the first is way larger than the second, and I would also exp

[2019-02-21 22:02] upsuper commented on #58625
Similarly, if I do `[[unsafe { std::mem::uninitialized() }; 1000]; 1000]`, the initialization of the inner array is skipped, while it still `memcpy`s the uninitialized array content to initialize the outer array.

[2019-02-21 23:23] aturon commented on #53487
cc @rust-lang/libs @withoutboats @mitsuhiko would be really nice to make progress here

[2019-02-21 23:44] arielb1 commented on #58104
had some busy time, will try to look at this quickly

[2019-02-22 00:24] #57639 closed

[2019-02-22 00:24] #58451 closed

[2019-02-22 00:28] gnzlbg commented on #58582
@nagisa showed (https://github.com/rust-lang/rust/pull/51294#issuecomment-403214559) that, back then, erroring on transmutes that rely on unspecified behavior broke ~7000 crates.

I agree that we should add comments to the standard library, and I share all of @Centril's concerns, but the argument that comments help even a little bit with this problem sound too optimistic to me. Given the scale of

[2019-02-22 01:09] bcmyers commented on #58604
`IntErrorKind::Underflow` maybe? Although I agree that's a stretch. Otherwise, you'd have to either:

* Introduce a new error type (`ParseNonZeroUintError`???), or
* Add a variant to `IntErrorKind` (which might be OK since it's meant to be non-exhaustive (I think)).

In any case, these kinds of decisions are above my pay grade :). Just seems a shame that this integer functionality (`FromStr`) isn'

[2019-02-22 04:11] #58089 closed

[2019-02-22 06:53] #58130 closed

[2019-02-22 07:04] hellow554 commented on #58617
Note, that clippy does emit an error:

[2019-02-22 07:45] sercand commented on #35968
Apple releases Xcode Beta around the beginning of June and the final version in September. After 6-9 months later it stops accepting apps build with older Xcode versions to Appstore.

I think there is enough time to prepare bitcode changes during that timeline.

[2019-02-22 07:57] mitsuhiko commented on #53487
I would move than love to spearhead this.

[2019-02-22 08:47] gnzlbg commented on #58617
@hellow554 thanks, i've reported the issue there tiL https://github.com/rust-lang/rust-clippy/issues/3797

[2019-02-22 09:29] hoodie commented on #58548
just for the fun of it I uploaded both versions of the game
built with: 1.31 http://naubino.de/awsm-gorillas/
built with: 1.32 http://naubino.de/awsm-gorillas/broken/

[2019-02-22 09:33] #53773 closed

[2019-02-22 09:40] kenta7777 opened #58633 "`./x.py check` failed if incremental builds enabled"
This error occurred when running `./x.py check`.
Should I remove these unused attributes?
[code]

[2019-02-22 10:13] jonas-schievink commented on #58633
What's your `config.toml`? These should only warn, not error.

[2019-02-22 10:14] niklasad1 opened #58634 "ICE on rustc 1.34.0-nightly (633d75ac1 2019-02-21): `index out of bounds`"
ICE when compiling [parity-ethereum](https://github.com/paritytech/parity-ethereum/commit/4311d434976b3e79e0cde5ef855beb32d4504248)

[code]

[2019-02-22 10:25] Centril commented on #58634
cc @oli-obk @RalfJung

[2019-02-22 10:31] haraldh opened #58635 "fs::copy() does not handle sparse files"
A convenience method like fs::copy() should try to prevent pitfalls a
normal user doesn't think about.

Not handling sparse files could fill up the users disk very quickly.

In case of an empty umask, setting the file mode early prevents
temporarily world readable or even writeable files,
because the default mode is 0o666.

In case the target is a named pipe or special device node, setting the
fil

[2019-02-22 10:44] haraldh commented on #58635
see #58636 for the fix

[2019-02-22 12:05] oli-obk opened #58638 "Building `ring` with a rustc with debug assertions enabled ICEs"
The overflow triggers in https://github.com/rust-lang/rust/blob/1005f3bac79f16ff48fd9fbb6d8de2798115dac9/src/libsyntax/parse/parser.rs#L1187

cc @estebank

[code]

[2019-02-22 12:08] oli-obk commented on #58634
Is this a regression? Did it work with a previous nightly?

I'm currently looking through `Message::create` function (the ICE is during the evaluation of a promoted inside that function), but I can't find any promoteds :confused:

[2019-02-22 12:11] kenta7777 commented on #58633
This is a part of my config.toml which is not commented out.

[code]

[2019-02-22 12:12] oli-obk commented on #58634
I can't debug this right now, because a debugging compiler fails even earlier: https://github.com/rust-lang/rust/issues/58638

[2019-02-22 12:20] kpp opened #58639 "async/await: expected type for<'r> std::ops::FnMut<(&'r std::task::Waker,)>"
MRE:

futures-preview = `=0.3.0-alpha.13`
rustc -vV = `1.34.0-nightly (146aa60f3 2019-02-18) x86_64-unknown-linux-gnu LLVM 8.0`

[code]

Local fix:
[code]

Is it a bug?

[2019-02-22 12:23] Eijebong opened #58640 "IndexError: list index out of range when running `./x.py help`"
[code]

[2019-02-22 12:57] oli-obk commented on #58634
So apparently

[code]

still causes the ICE, but only inside the `whisper` crate. If I try to create an MCVE everything compiles just fine... Very confusing.

[2019-02-22 13:17] philipc commented on #57440
Changing the workaround to the following avoids most of the downsides, since it lets me omit the extra type parameter in uses of the struct. It's still something I would expect the compiler to allow automatically, but I think this is good enough for me for now.
[code]

[2019-02-22 13:17] #57440 closed

[2019-02-22 13:18] Centril commented on #58640
cc @rust-lang/infra

[2019-02-22 13:26] varkor commented on #58633
If you run `x.py clean` and check again, these warnings should go away. It would be nice if this wasn't necessary, though.

[2019-02-22 14:02] pnkfelix commented on #23926
Better solution: make target-specific versions of each `fn main` with a customized const expression for the target of interest, and then use `// normalize-stderr-test REGEXP -> OUTPUT` to normalize to a single canonical output for the test.

[2019-02-22 14:04] RReverser opened #58645 "write_volatile fails in miri for non-scalar types"
Minimal reproducible example:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bd62fc19a1412d57ece242d7ce0709ab))

When tried in the playground with Miri, produces:

[code]

[2019-02-22 14:12] appaquet commented on #35968
Just tested with Xcode 10.2 beta 3 (which includes Swift 5 w/ LLVM 7) and I could link with a Rust recent nightly with embedded bitcode. Obviously, this only works with iOS targets, since [Rust doesn't have watchOS/tvOS targets](https://github.com/rust-lang/rust/issues/48862).

I also agree that Rust needs to be able to use Apple LLVM fork for all Apple related targets in order to maintain bitcode

[2019-02-22 14:29] pnkfelix opened #58646 "Does the MIR generated for match still build in order-deps visible to MIR-borrowck?"
Spawned off of PR #57609

The above PR has an interesting unit test that checks that we aren't assuming too much order dependence; the test (from file named "match-cfg-fake-edges.rs") looks like this:

[code]

while reviewing that test case, I wondered whether order-dependence, as implicitly defined by the above test, would also include this variant:

[code]

Maybe my question is more simply put l

[2019-02-22 14:35] ranxiverba opened #58647 "Align dbg!() and line!() output"
Hello.

Please, consider this issue as a minor.

Output of dbg!() macro will be better if it will align source code line number. I found that line!() macro does it. I think it would be nice if this macro always emit 4 chars, because most source code files has less than 10k lines. Consider the example:

    [some/main.rs:84] hex::encode(dst.as_ref()) = "686aca464489"
    [some/main.rs:126] hex::enc

[2019-02-22 15:04] pnkfelix commented on #46525
In terms of observable semantics with implementations of `Drop`, its hard today to encounter this as a user, *unless* you turn on `#![feature(bind_by_move_pattern_guards)]`. (And even then, I'm not one can tell the difference between the code we generate today versus what @arielb1 desires, at least in terms of potential MIR-borrowck errors.)

So like @nikomatsakis, I *think* this is just a matter

[2019-02-22 15:29] pnkfelix commented on #58158
i find that ... surprising. Will investigate.

[2019-02-22 15:53] hellow554 commented on #58158
Sorry @pnkfelix ! I don't mean that it doesn't crash when used as test, but if this issue will be fixed my code can be used as testcode because it doesn't emit any warnings or errors.

[2019-02-22 15:59] Centril commented on #58647
If we're going to pick between those two new formats I'd go with the latter since it doesn't feel "empty". However, I'm not sure that the common case would benefit from a change.

[2019-02-22 16:00] mankinskin opened #58650 ""Not greater" and "not less" (`!>` and `!<`) operators"
I have been wondering why these two operators are not supported by most languages. Of course you can achieve the same behavior by using `<=` or `!(x > y)` but I usually think more in terms of **not greater** instead of **less than or equal**. The `!(x > y)` syntax requires more keystrokes and reads: **not: x is greater than y** which is very unlike natural speech and requires the programmer to ben

[2019-02-22 16:03] Centril commented on #58645
cc @oli-obk @RalfJung

[2019-02-22 16:04] RalfJung commented on #58645
I think the correct bug description is "fails for non-scalar values".

[2019-02-22 16:14] cramertj commented on #53989
Closing as duplicate of #57084.

[2019-02-22 16:14] #53989 closed

[2019-02-22 16:15] Centril commented on #58645
Somewhat reduced further:
[code]

[2019-02-22 16:18] nikomatsakis opened #58652 "async fn should be disallowed entirely on 2015 edition"
As described in https://github.com/rust-lang/rust/issues/53714, we currently permit a small amount of `async` notation in 2015, but we can't extend that to the complete feature set (e.g., await keywords etc). This was done as part of a transitionary tactic (so people could move to Rust 2018) but by now that is not necessary. We should just prohibit `async fn` in Rust 2015 entirely at this point.

[2019-02-22 16:19] oli-obk commented on #58645
Code :golf:

[code]

[2019-02-22 16:19] nikomatsakis commented on #53447
Closing as @davidtwco could not reproduce -- @Ekleog feel free to re-open if this is still a problem

[2019-02-22 16:19] #53447 closed

[2019-02-22 16:19] oli-obk commented on #58645
Why is this marked as a regression from stable?

[2019-02-22 16:21] Centril commented on #58645
@oli-obk huh... I swore I saw it working on stable but apparently not =P

[2019-02-22 16:23] nikomatsakis commented on #53259
Does not reproduce if you don't use `dyn Send`. For example this works ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f6f3c370725ca96cc2db270a4954de0b)):

[code]

[2019-02-22 16:24] nikomatsakis commented on #53259
Using `dyn Foo + Send` [also works](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=27b909bee3bb4395a65e7281b7563704) -- @Ekleog can you share a bit of where this example came from?

[2019-02-22 16:24] oli-obk commented on #58645
miri runs on the playground don't distinguish between "stable" and "nightly". They are all on nightly.

[2019-02-22 16:26] nikomatsakis commented on #58652
Note we should also test nested async fn in fns, as described in https://github.com/rust-lang/rust/issues/51933

[2019-02-22 16:26] nikomatsakis commented on #51933
Closing as duplicate of #58652

[2019-02-22 16:26] #51933 closed

[2019-02-22 16:27] nikomatsakis commented on #50659
Closing as duplicate of https://github.com/rust-lang/rust/issues/51751

[2019-02-22 16:27] #50659 closed

[2019-02-22 16:28] cramertj commented on #50458
Closing-- proposals for new features belong on the RFCs repo or in an internals post.

[2019-02-22 16:28] #50458 closed

[2019-02-22 16:28] nikomatsakis commented on #50458
@ijsgaus thanks for the suggestion! I'm going to close this, though, as we don't generally keep have issues in this repo suggested possible future enhancements.

[2019-02-22 16:32] Pacoup commented on #35968
Yeah, the beta release window sounds reasonable. I think the idea that Apple is gonna close source LLVM or their bitcode format is very unlikely, but Apple requiring bitcode in future iOS releases definitely sounds like it will happen. And who knows, maybe they'll even start requiring bitcode for Mac App Store submissions with project Marzipan.

The kind of non-guaranteed way of dealing with compa

[2019-02-22 16:40] nikomatsakis commented on #55809
*Maybe* related to https://github.com/rust-lang/rust/issues/55809 ?

[2019-02-22 16:40] RalfJung commented on #58645
This should be quite easy to fix: At <https://github.com/rust-lang/miri/blob/76138c56575c347207039bdeafb8456bd72116ad/src/intrinsic.rs#L54>, move `volatile_load` to a separate branch that, instead of going through a scalar, uses `copy_op` directly. Same for `volatile_store`.

[2019-02-22 16:52] nikomatsakis commented on #51995
@cramertj feels like they have not gotten this ICE in a long time. The original code no longer exists or at minimum is awkward to test now. We're going to close for now but maybe we'll see duplicates later on.

[2019-02-22 16:52] #51995 closed

[2019-02-22 17:06] RReverser commented on #58645
Maybe, but it works for struct with a single field, so that's as close as I got to describe the issue.

[2019-02-22 17:14] RalfJung commented on #58645
It works for structs with single fields where that field is a scalar. :)

But it's okay, these are compiler internals. They just help us understand what the actual cause of the issue is.

[2019-02-22 17:26] varkor commented on #58650
Because, as you say, they're synonymous with `>=` and `<=` (and take the same number of keystrokes, besides). Redundant operators is something to be avoided.

I think the simplest solution is to try to think of `!>` as being the same as `<=` instead.

Conversely, this is not synonymous with any existing operator.

---

Proposals such as this should take place at the [RFC repository](https://github

[2019-02-22 17:26] #58650 closed

[2019-02-22 17:36] aturon commented on #53487
@mitsuhiko go go go! if you need any help around the backtrace stuff @alexcrichton can get you set up.

[2019-02-22 17:51] kennytm commented on #56112
These errors become more serious recently (probably just being masked by worse errors before).

Time | PR | Log | Duration | Last action |
-- | -- | -- | --:| --
2019-01-03T09:38:05Z | https://github.com/rust-lang/rust/pull/55986#issuecomment-451093766 | [x86_64-gnu-aux](https://travis-ci.org/rust-lang/rust/jobs/474733051) | 2h18m19s | Test cargo
2019-01-11T06:48:10Z | https://github.com/rust-lang

[2019-02-22 18:15] saleemjaffer commented on #52482
@oli-obk
For 1. I do something like this but keep gettting a `thread 'rustc' panicked at 'bad input type for cast', src/libcore/option.rs:1038:5d`. I am stuck at this. Any help?
[code]

[2019-02-22 18:26] arielb1 commented on #58104
This appears to be triggered by the breakpoints `tarpaulin` places, which makes me suspect there is some race condition here we somehow create in `futures`. This doesn't sound good.

[2019-02-22 18:40] arielb1 commented on #58104
Looking at the backtrace

[code]

Something is smashing the stack of `ThreadPoolBuilder::create`

[2019-02-22 18:47] estebank commented on #58582
I'm intrigued about the prospect of having explicit lints to detect common undefined behavior exploits that are used in `std`. This would let people learn about the constructs from `std`, and `rustc` would kindly remind prospective "exploiters" that there be dragons with a lengthy enough explanation of the assumptions that need to hold for the current use to work correctly.

[2019-02-22 19:06] Ekleog commented on #53259
@nikomatsakis Looks like this issue has been fixed! It's one of the few issues I raised while trying to get code using a macro that expands to [this](https://github.com/Ekleog/erlust/blob/master/erlust_derive/src/receive.rs#L128-L237) to generate code that builds correctly. Basically, I've been minimizing the example to come up with this specific issue.

As another minimized error was [this](https

[2019-02-22 19:06] #53259 closed

[2019-02-22 19:14] lqd commented on #57084
The original minimized code doesn't ICE on the playground anymore.

The pixu.rs branch from the other comment doesn't build on nightly anymore, however it is just because of dependencies. If you update `futures-core-preview` from alpha.9 to alpha.13 in Cargo.toml, and `rand` with a `cargo update`, this branch will build without ICE-ing as well.

cc @cramertj

[2019-02-22 19:28] doctorn commented on #58652
Hello, I'd like to have a go at this

[2019-02-22 19:46] nhynes opened #58657 "llvm-nm no symbols for standalone wasm32 modules"
[**MWE crate**](https://github.com/nhynes/wasm-nm-mwe)

### Summary

In the context of `wasm32-unknown-unknown`, I'm trying to discovery why an exported symbol in an external static library isn't being found during Rust linking. I hoped that `cargo nm` would yield insight but it does not find any symbols. Oddly, it _does_ work for clang-compiled libraries.

From the MWE readme:

**Actual output**:

[2019-02-22 19:58] lqd commented on #51353
The original code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6254f5ad0bc32e8dc5cf4b1a7af1ae17)) doesn't ICE anymore.

Neither does eddy's minimized repro ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5cb5cfd2c2fb59043706d876564e971f)).

The last snippet involves `tokio-async-await` which doesn't build on nightly a

[2019-02-22 20:12] lqd commented on #56651
Note: this depends on the tokio `async-await-preview` feature which currently doesn't build on nightly anymore (until at least https://github.com/tokio-rs/tokio/pull/919 or similar is merged)

[2019-02-22 20:21] joshlf commented on #58599
@alexcrichton Do you have thoughts on this? Want to make sure I get the go-ahead before I send somebody on TWiR's CFP down a dead end.

[2019-02-22 20:46] arielb1 commented on #58104
This is getting weird.

Similar crashes:
one crash where the stack is not 16-byte aligned, apparently starting from `tarpotest::b::{{closure}}`, leading to `movaps` crashes (how is this happening?).

[2019-02-22 20:50] cramertj commented on #57084
Nice! Closing-- if anyone repros, I can reopen. cc @withoutboats @nikomatsakis

[2019-02-22 20:50] cramertj commented on #51353
Nice! Closing-- if anyone repros, I can reopen. cc @withoutboats @nikomatsakis

[2019-02-22 20:50] #51353 closed

[2019-02-22 20:54] arielb1 commented on #58104
I smell a bug in `tarpaulin` itself handling interrupts concurrently.

[2019-02-22 20:57] Mark-Simulacrum commented on #56112
I'm wondering if we could add the "print building - timestamp" script at the top-level. We do it for make (e.g., curl/gcc/openssl builds) but it seems like it at least would let us figure out if this is literally the builder "stopping" or if we're hanging in rustc...

[2019-02-22 21:05] ExpHP opened #58659 "Document expected relationships between FromIterator, Default, and Extend"
Somebody who creates a type that implements both  `Default` and `Extend` should be aware that their type can be created through `Iterator::unzip`.  In fact, any such type should probably also implement `FromIterator`, with the semantics that:

[code]
is identical to `iter.collect()`.

(I wonder why `unzip` didn't decide to use `FromIterator + Extend` instead?)

[2019-02-22 21:26] RalfJung commented on #53491
@Amanieu @shepmaster I added a `read_initialized` in https://github.com/rust-lang/rust/pull/58660. I still think that is a better name than `take_initialized`. Does this meet your needs?

That PR also adds examples to some of the other methods, feedback welcome!

[2019-02-22 21:36] Amanieu commented on #53491
I am happy with `read_initialized`.

[2019-02-22 21:46] Pacoup commented on #35968
I will eat my hat now 😞

In which I said:

Which was mostly in response to the distrust expressed by @mitsuhiko:

But if you look at [issue #48833](https://github.com/rust-lang/rust/issues/48833), there is definitely a precedent. As @comex previously wrote:

And @michaeleiselsc's story from the same issue:

Given that the idea is using Apple's LLVM with Rust, it doesn't sound that bad, but there i

[2019-02-22 22:00] RalfJung commented on #53491
While I was at it, I also made `MaybeUninit<T>: Copy` if `T: Copy`. Seems no good reason not to do that.

[2019-02-22 22:15] RalfJung commented on #53491
Hm, maybe `get_initialized` would be a better name? It kinds of complements `set`, after all.

[2019-02-22 22:30] arielb1 commented on #58104
It appears that in bad traces, somehow the SIGTRAP signal is *never received* for the second breakpoint (at 0x403820) despite that byte being an `0xcc`, which occurs like 5 instructions after the first one (at 0x403860), which feels weird and hard to be a miscompilation.

bad trace:
[code]

good trace:
[code]

[2019-02-22 23:20] anderspapitto opened #58662 "existential Generator + lifetime type errors unless impl trait wrapper is used"
I'm writing a simple Generator that takes a reference to an RNG, and yields values from it. This makes sense as long as the generator doesn't outlive the RNG which it references.

I want to name the type of the generator with an existential type, but I can't do so unless I wrap a version of the function that uses an `impl Trait` formulation.

Here's the direct version which doesn't work

[code]

a

[2019-02-22 23:22] anderspapitto commented on #58662
I don't know if this properly counts as a compiler bug, but it feels like one because the "fix" is very mechanical

[2019-02-22 23:26] alexcrichton commented on #58599
I suspect there'll be opinions on stabilization, but seems fine to add as unstable at least to me!

[2019-02-22 23:33] joshlf commented on #58599
OK cool, thanks!

[2019-02-22 23:34] arielb1 commented on #58104
## Reproduction Status

I can reproduce the segfault on 244b05db12e47efef4695036974bc25fde13b828 - before 2fba17f (#56837), which means the bisection was wrong.

This also doesn't feel to me like quite a miscompilation.

[2019-02-23 00:15] #39575 closed

[2019-02-23 00:15] #57386 closed

[2019-02-23 00:16] #53672 closed

[2019-02-23 00:16] #58586 closed

[2019-02-23 00:28] scottmcm commented on #53672
I've closed this now that there's an additional message about the edition on `try`.  That's not amazing, but this is also a nightly-only thing.

Have you perchance been able to use `try{}` in nightly 2018 edition now, @RalfJung?

[2019-02-23 00:39] nhynes opened #58663 "Include llvm-ar with llvm-tools"
GNU `ar` doesn't support Wasm and different major versions of `llvm-ar` tend not to be compatible.

[2019-02-23 00:46] kenta7777 commented on #58633
@varkor Thank you for your advice! ./x.py clean and then build completed successfully!

[2019-02-23 01:01] aloucks commented on #54361
`as_secs_f64` and `from_secs_f64` would be more consistent.

[2019-02-23 01:39] cramertj commented on #58662
cc @oli-obk

[2019-02-23 04:34] treeman1111 commented on #41003
I'm working as a teaching assistant in a university course taught in Rust. This is the first time most of the students have been exposed to the language. Several have encountered the same cryptic message and been very confused - it would be great to see it replaced by a more useful message.

[2019-02-23 05:12] eminence commented on #55809
@nikomatsakis that link is just back to this same issue.  What issue did you actually mean to link?

[2019-02-23 05:46] sanxiyn commented on #47930
What's the current status here?

[2019-02-23 06:46] hellow554 commented on #58483
Does not panic anymore, so it has been a dupe of that references issue

[2019-02-23 08:06] hellow554 commented on #58604
Taking this issue :party:

[2019-02-23 08:23] saleemjaffer commented on #56766
@est31 I was trying to change the `eat` function.

I thought of checking if the current token is a `DocComment`,  next token is a `CloseDelim` and the previous token is not an `OpenDelim`, then raise a `E0585 `.  But PrevToken does not have an `OpenDelim`.

So do we proceed this way or proceed in the direction of the linked PR?

[2019-02-23 08:38] nvzqz commented on #49683
So for some reason this nightly feature is required when implementing the following macro (found in https://github.com/nvzqz/static-assertions-rs/issues/11):

[code]

Does anyone have an idea as to why?

[2019-02-23 09:09] petrochenkov commented on #49683
@nvzqz
The reason is that the feature is not actually "type alias enum variants", but "type relative enum variants" or "variants as associated items".
When writing `<TYPE>::NAME` you are asking to search for an associated item named `NAME` on type `TYPE`, for variants this kind of requests is feature gated.

The stable solution will look something like:
[code]
or
[code]
(See also https://github.co

[2019-02-23 09:51] oli-obk commented on #58662
Yea that's definitely a bug. I'll investigate where this unnamed lifetime is coming from. Maybe I'm accidentally erasing lifetimes somewhere

[2019-02-23 09:55] oli-obk commented on #52482
Do you have a backtrace of that panic?

I think it would be easier to review if you open a PR with your changes and we'll discuss the problems there. Basically just a single PR for the 1.

[2019-02-23 10:09] RalfJung commented on #53672
Yes, they seem to work as intended. :)

[2019-02-23 11:16] jonas-schievink commented on #58483
Closing as fixed.

[2019-02-23 11:16] #58483 closed

[2019-02-23 12:59] nagisa commented on #58104
@arielb1 weird, I even did bisect *twice* running the reproducer 32 times at each step on each bors merge, and it ended up pointing out the same commit both times. And I was thinking that the PR indeed looked very unlikely to be the actual cause.

I bisected again, based on prebuilt nightlies, twice, running the reproduction 64 times at each step and it points out a range of 2018-12-08 to 2018-12-

[2019-02-23 13:33] johnthagen commented on #53202
In case others find this in the future, I've created a [`min-sized-rust`](https://github.com/johnthagen/min-sized-rust) to document all of the ways to reduce Rust binary size.

[2019-02-23 13:34] nagisa commented on #58104
Hit 3499575282b5cda1e98220baae4f6c87e1863926 (https://github.com/rust-lang/rust/pull/56243). The change seems significantly more relevant, and also something that broke multiple things in the past, mostly pointing to invalid assumptions in users’ code, which also matches @arielb1’s investigation results and feelings.

[2019-02-23 13:46] agnxy commented on #57443
Hi @oli-obk, I'd like to work on this issue.
IIUC this is to check the version of each dependency in Cargo.lock and update the version in the corresponding Cargo.toml.

[2019-02-23 13:50] mati865 commented on #57443
@agnxy keep in mind there is single `Cargo.lock` and multiple `Cargo.toml` in this repository.

[2019-02-23 14:06] tspiteri commented on #57814
Seems to be fixed now.

[2019-02-23 14:06] #57814 closed

[2019-02-23 14:55] kpcyrd opened #58674 "LTO may hang forever"
After quite a bit of troubleshooting it seems `cargo build --release` broke for one of my projects due to the size of the codebase.

https://github.com/kpcyrd/sn0int/issues/77

According to the debug log this is related to lto:
[code]

It seems I could confirm this because this command works:
[code]

This issue has been reproduced with:
- rustc 1.32.0 (9fda7c223 2019-01-16)
- rustc 1.34.0-nightly

[2019-02-23 17:00] #56657 closed

[2019-02-23 17:00] #58436 closed

[2019-02-23 17:00] #23926 closed

[2019-02-23 17:00] #58617 closed

[2019-02-23 17:00] #58638 closed

[2019-02-23 17:32] varkor commented on #19834
@shepmaster:
The code for linting for `improper_ctypes` is found in `src/librustc_lint/types.rs`. Specifically, the part here is the part that needs changing:
https://github.com/rust-lang/rust/blob/a9b907b5fae0c1cbf3447091746886b41ea374a5/src/librustc_lint/types.rs#L804-L820
The `LateLintPass` implementation has a `check_foreign_item` definition, which will end up calling the functions triggering

[2019-02-23 18:08] stjepang commented on #57391
@SimonSapin I think we're ready for FCP to merge now.

[2019-02-23 18:13] kpp opened #58677 "Closure/Pin: &mut captured as value"
MRE:

[code]
Playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b21dc69d7b5e018992620d82995ccd43

3 local fixes:

[code]

[code]

[code]

These "fixes" are strange because [Pin::new](https://doc.rust-lang.org/nightly/std/pin/struct.Pin.html#method.new) accepts `pointer: P` whereas in our case `P` should be `&mut i32`, but specializing `P` manually to `Pin::<&mut i

[2019-02-23 19:08] buffet commented on #53202
Update from my side: The issue has been resolved a while ago. I can't tell when exactly but the 5M overhead is gone.

[2019-02-23 19:17] Rua commented on #54527
This seems like a good idea to me. Like `extern "C"`, this would simply be an alias for different things on different platforms, and new mappings could be added if UEFI ever gets extended to new platforms in the future.

[2019-02-23 20:39] steveklabnik commented on #33446
Triage: not aware of any changes.

[2019-02-23 20:39] steveklabnik commented on #34588
Triage: not aware of any changes.

[2019-02-23 20:52] varkor commented on #57919
This is essentially due to https://github.com/rust-lang/rust/pull/54411.

The problem is that `await` isn't a true keyword and has been given a custom error message (triggering eagerly), which doesn't have the same handling as normal keyword use errors. It seems simplest to leave this unaddressed until the `await` syntax has been chosen and we can use `await` as a true keyword.

[2019-02-23 21:01] jebrosen commented on #56889
I don't think multiple calls to `write` are avoidable. For example in the case of a hypothetical wrapped `Write` that always only consumes 1 byte (and returns `1`) every time `write` is called, pushing buffered data to the inner writer has to happen *somewhere* -- either when data is initially produced by the outer `Write` or on a later call to `write` when the internal buffer fills.

[2019-02-23 21:29] michaelvoronov opened #58684 "Wrong optimization of Some(Rc<RefCell<...>>) in thread_local! (STATUS_ILLEGAL_INSTRUCTION)"
It seems that there is a some sort of wrong optimization of Some(Rc<RefCell<...>>) by using thread_local!. Code like this one https://github.com/michaelvoronov/rust_poc_1 is failed on https://github.com/rust-lang/rust/blob/c84e7976423bb910bb5eb5eecffc7e33a897a97f/src/libstd/thread/local.rs#L277 when compiled:
[code]

I dig a little bit around and find out that decompiled code of `init` for this co

[2019-02-23 21:48] jonas-schievink commented on #58684
Reproduces on Linux (both on stable 1.32.0 and 1.34.0-nightly (146aa60f3 2019-02-18)).

Would be nice to get rid of the arraydeque dependency.

[2019-02-23 22:22] Mark-Simulacrum commented on #58684
Cc @rust-lang/compiler

[2019-02-23 22:28] arielb1 commented on #58104
In that case, there is probably nothing actionable on our side.

[2019-02-24 01:20] alexreg commented on #58619
I appreciate you discussing this, but I don't agree that all changes are subjective. I mean, there's a spectrum, and many fall pretty close to the "objective" end. (Backticks around inline code and variable names, for example.) Indeed, I proposed the start of a style guide on the Internals forum, and it seemed there was nearly-universal agreement on many (albeit certainly not all) points. There se

[2019-02-24 05:57] alex opened #58692 "Missed optimization: extra branch with slicing and integer overflow checks"
Godbolt: https://rust.godbolt.org/z/PXY1lr

Basically the issue is that you compute `s.position + n`, check that it doesn't overflow, and then you verify that `s.position + n` is greater than `s.position`, which it of course always is, since you checked for an overflow! This is probably an LLVM optimization bug, but I'm starting here :-)

Command line arguments: `-C opt-level=3 -C debug-assertions

[2019-02-24 08:27] nikic commented on #58692
At a guess, this is likely the responsible code: https://github.com/llvm-mirror/llvm/blob/3cf7a4b78a790bbfe4a51e6a510292a7810043ba/lib/Transforms/Scalar/GVN.cpp#L326

GVN has special handling with with_overflow instructions and will represent them as just their underlying operations. This allows redundancy elimination with non-overflow operations on the same operands. However, it also means that t

[2019-02-24 09:06] nikic commented on #58692
Slightly reduced testcase:

[code]

LLVM does not realize that `%z` and `%b` are the same here.

[2019-02-24 09:44] #33418 closed

[2019-02-24 09:44] #23344 closed

[2019-02-24 09:44] #58598 closed

[2019-02-24 10:34] TimDiekmann opened #58693 "Rustdoc does not show reexported members when using #[doc(inline)] on other crate"
**Expected behavior:**

Both, module and trait, are shown:

![image](https://user-images.githubusercontent.com/21277928/53298038-de8a5b00-3827-11e9-9f24-e330e9487f02.png)

---

**Observed behavior:**

Only module is shown:

![image](https://user-images.githubusercontent.com/21277928/53298025-9cf9b000-3827-11e9-9cac-6db56954de99.png)

---

**Reproduction:**

[code]

**Notes**
- Tested on latest nig

[2019-02-24 10:35] mmaker opened #58694 "compiler error: lifetimes in associated types leading to a compiler error."
Hello!

I am getting a compiler error when trying to define the following trait:
[code]

I would have expected my code to compile successfully, or to exit with some error explaining why static compilation failed.

Instead, I am getting a:
[code]

More specifically, I'm having troubles trying to define some type `PublicKey` that must implement `AsRef<[u8]>` and `From<&[u8]>`. If I try with lifetime

[2019-02-24 11:24] RalfJung commented on #53491
Or maybe `set` should be renamed to `write`? That would also achieve consistency.

[2019-02-24 11:25] crownedgrouse commented on #48620
tried  rustc 1.30.0   and now compile OK.  Issue was probably fixed since 1.24.0 .
Keep ticket opened, let you close with reference to the commit that fixed that ?

[2019-02-24 11:28] bjorn3 opened #58695 "missing type in match arms have incompatible types diagnostic"
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=253849d6459828d96229b9e1673a4ad7))

Errors:

[code]

[2019-02-24 11:34] Amanieu commented on #53491
I've been converting my code to use `MaybeUninit` and have found that working with uninitialized slices is very unergonomic. I think that this could be improved if we had functions for the following:
- Safe conversion of `&mut [T]` to `&mut [MaybeUninit<T>]`. This effectively allows `&out` parameters to be emulated using `&mut [MaybeUninit<T>]`, which is useful e.g. for `read`.
- Unsafe conversion

[2019-02-24 11:39] RalfJung commented on #53491
I agree that working with slices is unergonomic currently, and that is why I added `first_ptr` and `first_ptr_mut`. But that's probably far from the best API.

However, I'd prefer if we could concentrate on getting the "core API" shipped first, and then look at the interaction with slices (and with `Box`).

[2019-02-24 11:48] nox opened #58696 "#[doc(inline)] has no effect on reexported derive macros"
Everything is in the title, `#[doc(inline)] pub use foo_derive::Foo;` does not inline `Foo`'s documentation.

[2019-02-24 12:20] jonas-schievink commented on #58694
`type PublicKey<'a>` defines a generic associated type, which aren't yet fully implemented.

[2019-02-24 14:04] tspiteri opened #58699 "intra-doc links to modules instead of primitives inside standard library"
For example in the doc for [`str::len`](https://doc.rust-lang.org/nightly/std/primitive.str.html#method.len):

The `char` in the doc links to [char/index.html](https://doc.rust-lang.org/nightly/std/char/index.html) instead of [primitive.char.html](https://doc.rust-lang.org/nightly/std/primitive.char.html).

Outside of the standard library, `char` links to the primitive, unless there is a `use std:

[2019-02-24 14:18] NieDzejkob commented on #58674
I'd suggest specifying a specific commit with `git checkout` in the reproducer.

[2019-02-24 14:24] LukasKalbertodt opened #58700 "Writing testable documentation examples for proc macros is not possible"
Suppose our main crate `foo` defines a trait `Foo`. Now we want to write a `derive(Foo)` proc macro (or any other kind of proc macro which emits code using `Foo`). We define that proc macro in the `foo-macro` crate. Our main crate `foo` wants to rexport the proc macro so that users only have to depend on `foo`.

The code for this example:

<details>

**`Cargo.toml`**
[code]

**`src/lib.rs`**
[code

[2019-02-24 14:38] rchaser53 commented on #58645
I'm interested in miri, so I would like to do this.

[2019-02-24 14:46] nvzqz commented on #49683
So the issue with using `path` or `ident` in this case is that neither supports generic arguments. I would like it such that `$e` could be any `enum`, generic or otherwise.

[2019-02-24 15:12] jonas-schievink commented on #58700
Is https://github.com/rust-lang/rust/issues/58696 also related? If rustdoc would properly inline the docs I'd expect doctests to also "just work".

I've also hit this issue with a custom derive I'm currently working on, but since those aren't really named items putting docs and examples on the derivable trait instead seems like the best solution for those.

[2019-02-24 15:29] LukasKalbertodt commented on #58700
@jonas-schievink Yes, good find, it's indeed very related. Although I'm not sure if a working `#[doc(inline)]` would completely solve this problem.

[2019-02-24 15:42] scottjmaddox commented on #53491
I like the idea of renaming `set` to `write`, providing consistency with `ptr::write`.

In the same vein, is `read_initialized` really better than just `read`? If the concern is over accidental usage that becomes hidden, perhaps make it a function instead of a method, i.e. `MaybeUninit::read(v)`? The same could be done for `write`, i.e. `MaybeUninit::write(v)` for consistency. The tradeoff in both

[2019-02-24 15:50] RalfJung commented on #53491
These should only be stabilized once we resolved https://github.com/rust-rfcs/unsafe-code-guidelines/issues/77, and that seems like it could take a while...

My plan was for `into_initialized`, `set`/`write`, and `read_initialized` to be part of that minimal set. But maybe it shouldn't be?

From what was discussed here before, we only use the explicit function approach to avoid trouble with `Deref

[2019-02-24 15:55] RalfJung opened #58705 "libcore can use unstable library features without a feature flag"
I've been assuming that feature flags can also be used "within" the standard library to control which features are already being used. That is helpful when stabilizing a part of the API, to test if that API is viable enough for whatveer the standard library does with it.

But it turns out that, e.g., [`core::fmt::float` can call `MaybeUninit::get_mut`](https://github.com/rust-lang/rust/blob/e17c48

[2019-02-24 16:14] kpcyrd commented on #58674
Good point:

**Last working commit:** 4ce8f00
**First broken commit:** 17f4682

[2019-02-24 16:16] scottjmaddox commented on #53491
Except `ptr::read` and `ptr::write` are functions, not methods. So the precedence is already set.

Agreed. Until there's a lot more bike-shedding on the other methods, I think only `new`, `uninitialized`, `zeroed`, `as_ptr`, `as_mut_ptr` are really ready for stabilization.

[2019-02-24 16:25] RalfJung commented on #53491
They are not part of a data structure, of course they are free-standing functions. And as you remark, they nowadays exist as methods, too.

Raw pointers are `Copy`, so nothing really gets consumed.

[2019-02-24 16:31] scottjmaddox commented on #53491
Good point...

Well, `v.as_ptr().read()` is already pretty concise and clear. The `as_ptr` followed by `read` should make it stand out as something to think about carefully, much more so than `into_initialized` does. Personally, I'm in favor of only exposing `as_ptr` and `as_mut_ptr`, at least for now. And, `new`, `uninitialized`, and `zeroed`, of course.

[2019-02-24 16:51] LukasKalbertodt opened #58707 "Bad error message for when an assigned associated type does not satisfy the trait bounds"
This code:

[code]

Leads to (stable 1.32 and nightly 1.34):

[code]

The error is that `bool` does not implement `Bar`. I would expect that the error points to the line `type Assoc = bool;`, potentially with a good note. Example:

[code]

[2019-02-24 16:59] alex commented on #58692
Ok, looks like the thing to do is file an LLVM bug -- do you know off hand if they're ok with Rust reproducers, or do they prefer C ones?

[2019-02-24 17:07] RalfJung commented on #54857
Corresponding discussion in the UCG repo (where I am trying to centralize such issues, they get lost too easy here): https://github.com/rust-rfcs/unsafe-code-guidelines/issues/93

[2019-02-24 17:19] psumbera commented on #47930
I believe we can close the issue now.

[2019-02-24 17:19] #47930 closed

[2019-02-24 17:26] eternaleye commented on #53491
@Amanieu What about something more like what `Cell` has, where there are safe conversions for `&mut MaybeUninit<[T]>` to and from `&mut [MaybeUninit<T>]`?

That would allow the following, which seems pretty natural to me:

[code]

It also feels like it more accurately represents the semantics to the caller. The function taking an `&mut [MaybeUninit<T>]` would feel, to me, like it might have some d

[2019-02-24 17:32] RalfJung commented on #58645
@rchaser53 it's yours! You'll not have to change rustc for this, just Miri, and the starting point in the code is https://github.com/rust-lang/miri/blob/76138c56575c347207039bdeafb8456bd72116ad/src/intrinsic.rs#L54 as mentioned above. You'll want to use `copy_op` there, similar to [this](https://github.com/rust-lang/miri/blob/76138c56575c347207039bdeafb8456bd72116ad/src/intrinsic.rs#L297).

(What

[2019-02-24 17:38] Amanieu commented on #53491
@eternaleye `MaybeUninit<[T]>` is not a valid type because unions can't be DSTs.

[2019-02-24 17:38] CodeSandwich opened #58708 "impl trait from unboxed_closure does not accept closures"
It's impossible to pass closure to a generic fn with impl trait argument when the trait comes from unboxed_closure feature.

This compiles (uses impl Fn with arrow):
[code]
But this fails (uses impl trait from unboxed_closure):
[code]
Returns error:
[code]
Precise definition of closure's types does not help.
[Playground](https://play.rust-lang.org/?version=nightly&edition=2018&gist=eed841ca58c977c

[2019-02-24 17:39] alex commented on #58692
Ok, ended up converting to C because that seemed easy: https://bugs.llvm.org/show_bug.cgi?id=40845

[2019-02-24 17:55] eternaleye commented on #53491
Mm, right

[2019-02-24 17:57] RalfJung commented on #53491
Well, I think we should [accept this RFC](https://github.com/rust-lang/rfcs/pull/2582) before stabilizing anything -- otherwise we do not even have a sanctioned way to initialize a struct field-by-field, which seems like the bare minimum.

So while we wait for [the experiments](https://github.com/rust-lang/rust/pull/58671#issuecomment-466666907), we can bikeshed a bit about the names for what is c

[2019-02-24 18:26] nikic commented on #58692
Submitted https://bugs.llvm.org/show_bug.cgi?id=40846 additionally for the IR pattern above (which is an issue separate from the missing add.with.overflow+sub.with.overflow combining). Just verified that fixing this does indeed eliminate the `slice_index_order_fail` check in this example.

[2019-02-24 18:28] mjbshaw commented on #53491
Is this where I put a plug in for [`offset_of!`](https://internals.rust-lang.org/t/pre-rfc-add-a-new-offset-of-macro-to-core-mem/9273)? :)

[2019-02-24 18:32] Amanieu commented on #53491
Note that `read_initialized` is a strict superset of `into_initialized` (takes `&self` instead of `self`). Does it make much sense to support both?

[2019-02-24 18:54] RalfJung commented on #53491
IMO yes. `into_initialized` is safer as it prevents using the same value twice., and hence it should be preferred over `read_initialized` whenever possible.

[2019-02-24 19:08] ExpHP commented on #58677
There are numerous places where the compiler exhibits similar behavior.

Stated broadly, the compiler only attempts to insert coercions and reborrows *before* performing type inference, not after.  And a reborrow is only performed when a `&mut T` is supplied to an argument of type `&mut U`.  What this means is:

* `Pin::new` is generic, and there's no turbofish, so the generic type parameter is a

[2019-02-24 21:15] TimDiekmann commented on #32838
from [Allocators and lifetimes](https://github.com/rust-lang/rfcs/blob/master/text/1398-kinds-of-allocators.md#allocators-and-lifetimes):

Does this imply, that an Allocator *must* be `Unpin`?

[2019-02-24 21:27] nolanderc opened #58711 "Conflicing implementations when implementing trait for type implementing Fn with different parameters."
The compiler cannot differentiate between `Fn()` and `Fn(T)` when implementing a trait for a generic type.

Example: ([Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=27fbd19fd0ed174f9ff9f571ef4572fb))
[code]

The compiler currently gives a not so helpful error message:
[code]

I would expect this code to compile successfully since, to my mind, the type sig

[2019-02-24 22:26] withoutboats commented on #58452
Looked into what making this into a DST would entail; it looks like what these need is some way to specify the metadata type, because on some platforms the metadata is not the same ABI as a `usize` (specifically on 64-bit windows it seems to be a `u32`).

[2019-02-24 22:37] sfackler commented on #58452
You also need control over the ordering - the length field comes before the pointer in a WSABUF.

[2019-02-24 22:41] withoutboats commented on #58452
Oh jeez, I'm not sure that we can accomplish having a `T` in which the first word of `&T` is not the address.

[2019-02-24 22:43] joshlf opened #58712 "Spurious error reported after name not found in scope"
I have the following code:

[code]

I forgot to use `DeviceId`, so it wasn't in scope. rustc gave me the following errors:

[code]

Maybe this is the intended behavior, but it seems odd to report an invalid method receiver type error simply because the type's name was unknown.

[2019-02-24 23:04] gnzlbg commented on #53491
So @nikomatsakis kind of made this point before but did not made it a hard blocker.

I just ported a lot of code to use `MaybeUninit<T>` and `into_initialized` and I find it unnecessarily verbose. The code is already a lot more verbose than it was before where it was "incorrectly" using` mem::uninitialized`.

I think `MaybeUninit<T>` should be just called `Uninit<T>`, because for all practical pur

[2019-02-24 23:08] arielb1 commented on #58310
@oli-obk

I think we should do this refactor in several steps - in the first step, we should get rid of all uses of the old `Substs`, and then afterwards we could rename `SubstsRef` to `Substs`. I would prefer doing it in 2 separate PRs because it would make merge conflicts nicer.

[2019-02-24 23:10] joshtriplett opened #58713 "Tracking issue for RFC 2627: #[link(kind="raw-dylib")]"
This is the tracking issue for [RFC 2627](rust-lang/rfcs#2627), `#[link(kind="raw-dylib")]`.

I will be spearheading the implementation work of this RFC, but would appreciate mentorship as I have relatively little experience working in rustc.

Opens:

- [ ] Implementation for Windows (top priority)
  - [ ] Emitting idata sections
  - [ ] New `link_ordinal` attribute
  - [ ] Testing in winapi with

[2019-02-24 23:14] sfackler commented on #58711
A single type can implement `Fn(i32)` and `Fn()`. This isn't any different than trying to have implementations for `T: Debug` and `T: Display`, for example.

[2019-02-24 23:20] SimonSapin commented on #32838
Good catch!

Since the `Alloc` trait is still unstable, I think we still get to change the rules if we want to and modify this part of the RFC. But it is indeed something to keep in mind.

[2019-02-24 23:31] rep-nop commented on #57959
Someone please correct me if I'm wrong (which is fairly likely lol), but this seems like a combination of two errors that are resulting in an incorrect error diagnostic. `BufRead::lines()` returns `std::io::Result<String>`, which then is being `split` generating an iterator over `&str`s which are then being put into what is presumably a `HashMap`, so the _correct_ error should be

[code]
so maybe

[2019-02-25 00:09] shanemikel commented on #32838
@gnzlbg Yes, I'm aware of the huge differences in the generics systems, and that not everything he details is implementable in the same way in Rust.  I've been working on the library on-and-off since posting, though, and I'm making good progress.

[2019-02-25 02:12] withoutboats commented on #32838
It doesn't.  `Unpin` is about the behavior of a type when wrapped in a `Pin`, there's no particular connection to this API.

[2019-02-25 02:47] lzutao commented on #58713
The RFC link leads to 404 page now.

[2019-02-25 02:52] sfackler commented on #58708
The desugared version of `Fn(bool) -> bool` is `Fn<(bool,), Output = bool>` - the first generic argument has to be a tuple not a bare value.

[2019-02-25 03:14] CodeSandwich commented on #58708
Oh my goodness, of course! Sorry for the noise.

[2019-02-25 03:14] #58708 closed

[2019-02-25 04:00] dlrobertson opened #58715 "Duplicate library and language feature gates silently fail"
## Summary

If a language feature and a library feature are given the same name `![feature(<name>)]` will only evaluate the language feature.

## Expected Result

There should either be some sort of error that is thrown if both a language feature and a library feature have the same name, or both should be evaluated.

[2019-02-25 05:50] neyo8826 opened #58716 "Idiomatic Rc::clone is unusable with dyn Trait parameters"
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0771a25efd95be83580de70b3d08db75

AFAIK `Rc::clone()` should be used, instead of `.clone()`.
It seems free functions are getting their type parameters from the outer scope, not from their own arguments.
Can we coerce it somehow

[2019-02-25 07:11] hellow554 commented on #58707
Dup of https://github.com/rust-lang/rust/issues/57663 ?

[2019-02-25 07:15] hellow554 commented on #58694
That's correct, but even without enabled feature it crashes, which should not happen, or am I wrong? :/

[2019-02-25 08:12] oli-obk commented on #58310
Ok! I just wanted to bring it up since I thought doing it in one step would make the diff simpler (basically just loads of `&'tcx` disappearing)

[2019-02-25 08:18] LukasKalbertodt commented on #57663
A more simple example with the same "not so great" error message:

---

This code:

[code]

Leads to (stable 1.32 and nightly 1.34):

[code]

The error is that `bool` does not implement `Bar`. I would expect that the error points to the line `type Assoc = bool;`, potentially with a good note. Example:

[code]

[2019-02-25 08:22] LukasKalbertodt commented on #58707
@hellow554 Yep, looks extremely similar! Since it's not exactly the same, I copied my example to your issue to make sure both things are actually solved at some point (just in case fixing one does not fix the other). But yes, this can be closed now.

[2019-02-25 08:22] #58707 closed

[2019-02-25 08:32] pietroalbini commented on #58694
cc @rust-lang/compiler @rust-lang/release

It's technically a stable-to-beta regression, but it goes from hard error to ICE so I don't think it's worth blocking the release on this.

(Also woops, mistakenly closed the issue)

[2019-02-25 08:36] Centril commented on #58694
As long as we're not breaking working code it's not really a breakage and so I agree we should not block a release on it.

[2019-02-25 08:37] Centril commented on #58715
Seems like something that could go into `tidy`? cc @rust-lang/infra

[2019-02-25 08:54] jamwt commented on #27949
As detailed in the test comment, this was specifically fixed by 1a7fb7dc78439a704f024609ce3dc0beb1386552.

[2019-02-25 09:05] TimDiekmann commented on #32838
But can't `Unpin` used to enforce the mentioned constraint?

[2019-02-25 09:08] oli-obk commented on #58619
This issue is not about the style we want to have in comments. This issue is about procedure. Doing this manually will just cause the code base to regress again. Also it costs a lot of reviewer time, which is tight anyway.

Manual work and reviewing cost could be solved via automation (although developing said automation costs impl work and reviewing time). In the linked compiler team discussion t

[2019-02-25 09:11] michaelwoerister commented on #58684
Nominating for priority assignment.

[2019-02-25 09:42] varkor commented on #58715
It should be straightforward to make this an error. I'll look into it.

[2019-02-25 10:02] mati865 commented on #48627
The patch has landed in Rust's LLVM.

[2019-02-25 10:17] jonas-schievink commented on #58716
Isn't this just caused by the fact that `.`-syntax performs coercions on the receiver?

[2019-02-25 12:26] jonas-schievink commented on #58165
I just hit this, also using a proc macro with lazy_static. I moved my incremental dir, which stopped the ICE. Unfortunately moving it back for some reason no longer reproduces the problem.

[2019-02-25 12:30] jonas-schievink commented on #58165
Ah, it can be reproduced by renaming a variable, but not on the most up-to-date nightly, like @hellow554  said. Closing as a dupe of https://github.com/rust-lang/rust/issues/57692 then.

[2019-02-25 12:30] #58165 closed

[2019-02-25 13:02] jackmott opened #58729 "Unused function warnings should return a span of only the function name"
Currently a warning for an unused function returns a span of the entire function.  As a consequence, RLS based IDE environments may then put green squiggles on the entire function. This makes it very annoying to work on a function, if you have not yet written the function that uses it.

There may be other unused warnings for structs/traits that could be similarly adjusted.

This issue has been ass

[2019-02-25 13:11] Centril commented on #29661
RFC https://github.com/rust-lang/rfcs/pull/2532 is now merged and specifies how `#![feature(associated_type_defaults)]` will behave moving forward. As a result, I will change the issue description and hide outdated and resolved comments so as to reduce confusion.

[2019-02-25 13:20] Centril commented on #35986
This was resolved by https://github.com/rust-lang/rfcs/pull/2532 specifying that defaults should be accounted for when using `dyn Trait`.

[2019-02-25 13:20] #35986 closed

[2019-02-25 13:24] TimDiekmann commented on #32838
Another question regarding `dealloc_array`: Why does the function returns `Result`? In the current implementation, this can fail in two cases:
- `n` is zero
- capacity overflow for `n * size_of::<T>()`

For the first one we have two cases (as of the documentation, the implementor can chose between those):
- The allocation returns `Ok` on zeroed `n` => `dealloc_array` should also return `Ok`.
- The

[2019-02-25 14:48] #27949 closed

[2019-02-25 14:53] Centril commented on #54502
Only https://github.com/rust-lang-nursery/edition-guide/pull/146 remains now that https://github.com/rust-lang/rust/pull/55632 is merged; closing therefore.

[2019-02-25 14:53] #54502 closed

[2019-02-25 15:09] shepmaster commented on #41193
Doesn't appear fixed yet, even though the linked commits are present in 1.32:

[code]

[2019-02-25 15:25] xfix commented on #33417
@kennytm Isn't it possible to refer to `!` in stable already? For instance, consider the following:

[code]

[2019-02-25 15:57] guruhegde commented on #40531
Hi, can I take this issue up? Can someone give a hint on how to fix this?

I am a rust beginner, interested in compilers. This would be my first contribution.

[2019-02-25 16:00] KrishnaSannasi commented on #33417
That looks like a bug, which means stability guarantees don't extend to it. Using the never type (`!`) as a type in any capacity is still unstable, at least until #57012 is merged.

[2019-02-25 16:02] QuietMisdreavus commented on #44687
For the people subscribed to this issue: @GuillaumeGomez made a crack at it in https://github.com/rust-lang/rust/pull/58603, though it may be different than what was being planned here.

[2019-02-25 16:02] SimonSapin commented on #57012
Apparently there’s bug/hole in having the never type behind a feature gate, and it’s possible to refer to it on Stable: https://github.com/rust-lang/rust/issues/33417#issuecomment-467053097

[2019-02-25 16:09] SimonSapin commented on #35121
Apparently there’s bug/hole in having the never type behind a feature gate, and it’s possible to refer to it on Stable: https://github.com/rust-lang/rust/issues/33417#issuecomment-467053097

[2019-02-25 16:09] SimonSapin commented on #57012
~~Apparently there’s bug/hole in having the never type behind a feature gate, and it’s possible to refer to it on Stable: https://github.com/rust-lang/rust/issues/33417#issuecomment-467053097~~ Oops that was meant for https://github.com/rust-lang/rust/issues/35121#issuecomment-467070801, please respond there.

[2019-02-25 16:09] alexreg commented on #58619
Kind of, but several of the comments were more like, "I wouldn't write it this way myself, but I'm not really that bothered about it. I may just continue doing it my way."

In any case, I'm happy to make this big PR (or rather, the smaller PRs forked off from it) the last codebase-wide cleanup, with the proviso that any future clean-ups will be highly uncontentious (grammatical fixes, adding backt

[2019-02-25 16:11] neyo8826 commented on #58716
[code]
So, the UFCS version gets it actual type from the caller site (`Rc<T>`).
The coercion shoud occour after the function call, since the type of `self` is fix, not the coerced result.
We could restrict this deduction inversion for cases invovin subtyping only (`T` as `dyn Trait`)

[2019-02-25 16:17] wigy-opensource-developer opened #58731 "Resolving static method on a type is not consistent in macros"
It is a bit counter-intuitive that I can call an inherent method inside a macro expansion, but I cannot do so on a type that was deduced by a macro expansion. (rustc 1.32.0)

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4dc98f42a5b2962597943087c437cff5))

Errors:

[code]

How is the `create_type` macro more hygienic than the `choose_type` one?

[2019-02-25 16:22] SimonSapin commented on #35121
Adding an use of the type in the code example linked above:

[code]

This compiles in Rust 1.12.0 which I think is the first with https://github.com/rust-lang/rust/pull/35162. In 1.11.0, it errors with:

[code]

[2019-02-25 16:36] jonas-schievink commented on #58731
You have to do `<choose_type!(a)>::create();` to parse the macro as a type.

[2019-02-25 16:42] kennytm commented on #58716
This is rust-lang/rust-clippy#2048 which is also one of the reasons why the [`clippy::clone_on_ref_ptr` lint](http://rust-lang.github.io/rust-clippy/current/index.html#clone_on_ref_ptr) has been [demoted](https://github.com/rust-lang/rust-clippy/pull/2355) to the "restriction" group. That is, we no longer consider in general `Rc::clone(&st)` is more idiomatic than `st.clone()`.

The workaround is

[2019-02-25 16:43] GuillaumeGomez commented on #44687
Completely forgot about this one actually. :-.

[2019-02-25 16:56] gnzlbg commented on #32838
Where did you get this information from?

All `alloc_` methods in the docs specify that the behavior of zero-sized allocations is undefined.

[2019-02-25 16:58] petrochenkov commented on #58731
Duplicate of https://github.com/rust-lang/rust/issues/52307.

For some reason the note recommending to rewrite things like `[x; N]::method()` into `<[x; N]>::method` is not reported for `mac!(x)::method()`.

[2019-02-25 16:58] #58731 closed

[2019-02-25 17:02] dhardy opened #58732 "NonZero* type constructors should be const fn"
E.g. `NonZeroU32::new_unchecked` is a `const fn` but `NonZeroU32::new` is not; this means that defining constant values is `unsafe`.
[code]

[2019-02-25 17:07] TimDiekmann commented on #32838
[Docs of `core::alloc::Alloc`](https://doc.rust-lang.org/core/alloc/trait.Alloc.html):

[2019-02-25 17:15] gnzlbg commented on #32838
So one of the error conditions of `dealloc_array` is definitely suspicious:

[code]

If `[T; N]` does not meet the allocator size of alignment constraints, then AFAICT it does not fit the block of memory allocation, and the behavior is undefined (per the safety clause).

The other error condition is "Always returns `Err` on arithmetic overflow." That's pretty generic.

---

Indeed. I find it weird

[2019-02-25 17:19] SimonSapin commented on #58732
This depends on https://github.com/rust-lang/rust/issues/49146.

[2019-02-25 17:23] SimonSapin opened #58733 "The never type can be named despite its feature gate"
Reported by @xfix in https://github.com/rust-lang/rust/issues/33417#issuecomment-467053097.

[code]

The never type is unstable (https://github.com/rust-lang/rust/issues/35121) but the code above (which doesn’t use any feature gate) compiles in Rust 1.12.0 (which I think is the first with https://github.com/rust-lang/rust/pull/35162), 1.32.0, and 1.34.0-nightly (aadbc459b 2019-02-23). In 1.11.0, i

[2019-02-25 17:28] TimDiekmann commented on #32838
Yup, I think this error condition can be dropped as it's redundant. Either we need the safety clause or an error condition, but not both.

IMO, it is guarded by the same safety clause as above; if the capacity of `[T; N]` would overflow, it does not *fit* that memory block to deallocate. Maybe @pnkfelix could elaborate on this?

Did you mean `Alloc::alloc_array(0)`?

[2019-02-25 17:40] SNCPlay42 opened #58734 "Calling nonexistent function on a trait causes spurious object safety errors"
[code]
Gives
[code]

As the first call shows, it is in fact possible to call a non-object-safe trait's methods in this manner, but calling a nonexistent method gives an object safety error, adding noise to the output.

Note as well the E0599 error says the receiver type is `dyn Trait`.

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6f5056d66d32e8c598dbda20783

[2019-02-25 17:53] Zoxc commented on #57979
@pnkfelix Did you mean to close https://github.com/rust-lang/rust/issues/57464 instead there?

[2019-02-25 18:09] wigy-opensource-developer commented on #58731
Wow. Thanks for the prompt answers. So basically I can use the more verbose <Type>::method() format anywhere and in some cases even the Type::method() works, but that is more like an exception than the rule :wink:

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=083a2c442599bf86910de81ba032dd1f)

[2019-02-25 18:10] gnzlbg commented on #32838
Note that this trait can be implemented by users for their own custom allocators, and that these users can override the default implementations of these methods. So when considering whether this should return `Err` for arithmetic overflow or not, one should not only focus on what the current default implementation of the default method does, but also consider what it might make sense for users imp

[2019-02-25 18:35] varkor commented on #58733
This case can be reduced to the following:
[code]
which is as a result of this `// Do nothing` special-case in the feature gate code:
https://github.com/rust-lang/rust/blob/b57fe74a27590289fd657614b8ad1f3eac8a7ad2/src/libsyntax/feature_gate.rs#L1825-L1833
This was intentionally added in https://github.com/rust-lang/rust/commit/4d1a30c92b50c5965ed26449758fca81bee15747.
cc @petrochenkov: what was th

[2019-02-25 18:36] TimDiekmann commented on #32838
I see, but implementing `Alloc` requires an `unsafe impl` and implementors has to follow the safety rules mentioned in https://github.com/rust-lang/rust/issues/32838#issuecomment-467093527.

[2019-02-25 18:46] Nemo157 commented on #58733
@varkor that on its own is just a diverging function, which has been supported since Rust 1.0.0.

[2019-02-25 18:50] emilio opened #58735 "LLVM ERROR: SEH unwind data splitting not yet implemented on aarch64"
Rust's version of LLVM doesn't seem to have https://bugs.llvm.org/show_bug.cgi?id=40311. That's giving us a lot of headache on Firefox.

https://bugzilla.mozilla.org/show_bug.cgi?id=1530098#c4
https://bugzilla.mozilla.org/show_bug.cgi?id=1516337#c33
https://bugzilla.mozilla.org/show_bug.cgi?id=1529681

Could we get that revision uplifted to the Rust LLVM version, please?

cc @dmajor @froydnj

[2019-02-25 18:57] nikic commented on #57631
Fix landed upstream, https://github.com/llvm/llvm-project/commit/fcbd7f64953b04f42dd59f606e45dc8e88a27548 in monorepo.

[2019-02-25 19:00] dtolnay opened #58736 "Panic in proc_macro::TokenStream::from_str"
[TokenStream::from_str](https://doc.rust-lang.org/proc_macro/struct.TokenStream.html#impl-FromStr) is supposed to return `Result<proc_macro::TokenStream, proc_macro::LexError>`. Currently it appears to print errors to stderr and then panic, rather than returning errors.

#### Cargo.toml

[code]

#### src/lib.rs

[code]

#### src/main.rs

[code]

Output of `cargo check`:

[code]

Mentioning @eddyb,

[2019-02-25 19:02] nikic commented on #58735
The mentioned revision is already in the rust LLVM fork, update pending in #58408.

[2019-02-25 19:13] dtolnay commented on #58736
Maybe this will involve adding an `emit` method to LexError to format the error in compiler style to stderr.

[2019-02-25 19:20] araspik commented on #44136
So there is _no way_ to get JSON output or similar for documentation purposes? I wanted to hack together an info file creator but it seems that `-w json` no longer works.

[2019-02-25 19:21] petrochenkov commented on #58736
The impl even has a dedicated comment for this

rustdoc doesn't display it though.
In practice `LexError` is never returned :)

[2019-02-25 19:22] QuietMisdreavus commented on #44136
Correct, HTML is the only available output format for rustdoc right now. We are planning on re-introducing JSON output this year, but work on that has not yet started.

[2019-02-25 20:00] stjepang opened #58737 "rustdoc: redundant `where 'env: 'env`"
Source: https://docs.rs/crossbeam/0.7.1/crossbeam/thread/struct.Scope.html

Generated by rustdoc:

[code]
Original code:

[code]

Rustdoc has somehow inferred the `'env: 'env` bound, which is a tautology.

[2019-02-25 20:03] Amanieu commented on #58249
cc https://github.com/Amanieu/hashbrown/issues/48

[2019-02-25 20:05] pedrocr commented on #53340
1.33 maintains the same regression:

[code]

[2019-02-25 20:33] varkor commented on #58733
@Nemo157: ah, I see. Originally, diverging functions were separate from the never type, but since they became unified, there's nothing to distinguish a diverging function from a function returning never. It seems unavoidable to have `!` in potentially any position if we have it in some, because of tricks like this.

[2019-02-25 21:01] alexreg commented on #58619
@nikomatsakis More like a draft style guide -- very informal. But it could probably be turned into a proper one without too much effort. :-)

https://internals.rust-lang.org/t/style-guide-for-comments/8995

[2019-02-25 21:16] nikomatsakis commented on #58619
@rfcbot fcp reviewed

My feeling on the matter:

First, I feel bad that @alexreg feels bad. =) I think this is a tricky matter. @alexreg, I think I would say that -- for my part, and I'm sure I speak for many others -- I appreciate the work you've been putting into the improving the codebase, and I know your intentions are good. That's not really in question.

That said, I also think that @oli-obk

[2019-02-25 21:44] ErichDonGubler commented on #50547
Link updates: Looks like https://github.com/rust-lang/rust/issues/53259 and https://github.com/rust-lang/rust/issues/53447 have been closed. https://github.com/rust-lang-nursery/futures-rs/issues/1199 appears to have been moved to https://github.com/rust-lang/rust/issues/53548.

[2019-02-25 21:45] alexreg commented on #58619
Really appreciate your input here, @nikomatsakis. I think all you've said is pretty fair. So, after our brief discussion on chat, here are my two lists of cosmetic changes that I think we should accept insofar as my existing work is concerned, while only the first should really be "recommended practice" in the future. Open to revision here, but hopefully this won't need to many more back-and-forth

[2019-02-25 21:50] Lokathor opened #58740 "AsRef docs link to old version of the book"
https://doc.rust-lang.org/std/convert/trait.AsRef.html

Links to

https://doc.rust-lang.org/book/first-edition/borrow-and-asref.html

[2019-02-25 21:51] nikomatsakis commented on #58619
So, to surface this, @alexreg and I chatted a bit in privmsg. @alexreg basically agreed that it probably makes sense to try and avoid big "style PRs" for the time being, but expressed some regret that they had already put in a fair amount of work into the existing PR and -- particularly since a number of the changes are not really controversial -- were interested in landing some of those changes,

[2019-02-25 21:51] nikomatsakis commented on #58619
That said, @alexreg, I'm not sure if you meant to include those two lists in your comment or perhaps as follow-up comments? :)

[2019-02-25 21:55] arielb1 commented on #58694
Also +1 for not blocking the release on this.

This error does not only occur in code that is illegal, it (apparently) only occurs in code that has already triggered a visible, clear, feature-gate error. Therefore, it's not even a particularly-high risk for confusing users.

[2019-02-25 21:56] arielb1 commented on #58310
@oli-obk

I think that changing it in one step will just make rebase conflicts quite more confusing, with more type errors instead of merge errors.

[2019-02-25 22:05] arielb1 commented on #36088
@Centril

This still exists. With NLL it can't cause any soundness problems, but it just feels *weird* to me. Whatever we choose, this needs to be documented in the reference near [the temporary lifetimes documentation](https://github.com/rust-lang-nursery/reference/blob/ec8bb564dceffd61e8b553a59e1176fc1c0388d9/src/expressions.md#temporary-lifetimes).

@jonas-schievink

Not quite. The drop of both

[2019-02-25 22:06] alexreg commented on #58619
Really appreciate your input here, @nikomatsakis. I think all you've said is pretty fair. So, after our brief discussion on chat, here are my two lists of cosmetic changes that I think we should accept insofar as my existing work is concerned, while only the first should really be "recommended practice" in the future. Open to revision here, but hopefully this won't need to many more back-and-forth

[2019-02-25 22:10] Centril commented on #36088
@matthewjasper has a PR to document this, https://github.com/rust-lang-nursery/reference/pull/514 (I need to get back to it soon).

Also, to fix a regression, we recently changed the drop semantics so that the drop order is `y x z` rather than `x y z`. This is seen in https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=9d2cd068bf948d37a988f70f7d1bce59. Is that what you expect?

[2019-02-25 22:34] mattheww opened #58742 "panic with "Layout mismatch when copying!""
Running yesterday's nightly rustdoc on the following file panics for me:

[code]

It says `thread 'rustc' panicked at 'Layout mismatch when copying!`.

The version is `rustdoc 1.34.0-nightly (097c04cf4 2019-02-24)`.

There isn't a problem compiling the file.

Output including backtrace:

[code]

[2019-02-25 22:39] cloudhead commented on #54617
Another example:
[code]

[2019-02-25 22:52] doctorn commented on #53090
Hello! I'd like to take a look at this

[2019-02-25 22:53] matthewjasper commented on #58742
This applies when compiling as well.

Possibly due to #58511 cc @oli-obk @RalfJung

[2019-02-25 23:10] #16223 closed

[2019-02-25 23:30] cuviper commented on #42327
@scottmcm FWIW I tried your changes in rayon too:
https://github.com/rayon-rs/rayon/compare/master...cuviper:try-trait-v2
(still using private copies rather than unstable items)

[2019-02-25 23:42] #47764 closed

[2019-02-25 23:53] varkor commented on #24949
[code]
fails to compile, but adding:
[code]
makes it compile without an error.

[2019-02-25 23:58] jethrogb commented on #46989
I don't think this issue is actually fixed? #58592 just brings this back to the state the issue was in before #55517.

[2019-02-26 00:20] Mark-Simulacrum commented on #58732
@rustbot modify labels: +A-const-fn.

[2019-02-26 01:46] lzutao commented on #58740
Fixed on nightly https://doc.rust-lang.org/nightly/std/convert/trait.AsRef.html.

[2019-02-26 01:51] Centril commented on #58742
This doesn't yet apply to beta but will soon.

[2019-02-26 01:54] Centril commented on #58733
Idea: Could we emit a warning when encounter constructs such as the one in the issue description?

[2019-02-26 02:22] #55208 closed

[2019-02-26 02:23] djrenren commented on #49359
Yeah I think we should stabilize something like this independently of custom test frameworks. It makes sense that the included test framework would have a programmatically readable output. Libtest's conceptual model is pretty simple and most likely won't undergo any drastic changes so I'm all for stabilizing something. I'd prefer to have a JSON Schema that describes the structure before stabilizat

[2019-02-26 02:48] prataprc opened #58745 "False warnings with cargo doc."
First raised this issue with ``rust-random/rand`` https://github.com/rust-random/rand/issues/737. But the documentation links seem to work fine. So may be it is false-warning raised by ``cargo doc`` ?

How to reproduce ?

[code]

[2019-02-26 03:53] steveklabnik commented on #58740
Thanks for both of you! For reporting, and for checking that it's fixed. Closing!

[2019-02-26 03:53] #58740 closed

[2019-02-26 04:23] talchas commented on #58639
This is typical closure inference not inferring a for<'a> when being assigned to a variable rather than being directly passed to a function.

[2019-02-26 04:41] kpp commented on #58639
You are right. This one worked:

[code]

Still is it a bug or a normal behavior?

[2019-02-26 04:48] talchas commented on #58639
I'd say it's at most "feature request", and I'm sure there's an issue in here since around 1.0 for it :P

[2019-02-26 04:49] donbright commented on #51957
My main question is... why do I feel like this is an inconsistency in Rust attitude towards reliability and safety?

Compare these two programs.

[code]

[code]

One of these produces blatantly incorrect results of "16777216.0000 16777220.0000 16777220.0000 16777220.0000"

The other one doesn't compile at all. I feel like Rust is lecturing down to me about the difference between 16777220 and 16777

[2019-02-26 05:57] sfackler commented on #58452
Yeah. The iovec crate hacked around this by having the DST be a slice where the length was secretly the pointer and the pointer was secretly the length, but it's then unsound to have an empty iovec. It just barely happens to work. If we targeted a slightly weirder platform with e.g. a 32 byte length and 4-byte aligned pointers we'd be SOL.

[2019-02-26 06:44] petrochenkov commented on #58619
And the result of the private chat is ~170 degrees turn from the compiler team consensus?
Why did we have an FCP then?

I'm still against, unless the rules are documented, automated and submitted in one-rule-per-PR fashion ([the process](https://github.com/rust-lang/rust/pull/58524#issuecomment-464863966), basically).

Ok, perhaps backticks are ok, since they are hard to automate.
However, they ar

[2019-02-26 06:50] petrochenkov commented on #58619
@alexreg

That's plain impolite.
No consensus - no changes.
"It's hard to remove the controversial changes because they are done manually, so I won't remove them" is the primary reason why I want to nuke these PRs and migrate (or not migrate) to https://github.com/rust-lang/rust/pull/58524#issuecomment-464863966.

[2019-02-26 08:44] RalfJung commented on #53871
@nitnelave Congrats, your patch landed. :)  So with the reparation out of the way, let me know if you need any help with adding the debug assertions.

[2019-02-26 08:47] RalfJung commented on #58742
So `copy_op` complains that a `[u8; 1]` gets copied to a `u8`. But where does the layout mismatch come from? Almost looks like we fail to adjust the layout when indexing the slice?

[2019-02-26 09:41] swfsql commented on #44732
Thanks! I didn't know if this feature.
I plan on having a README for the library, and also for each module which has its own directory.
This use case benefits from source-file relative path, and I think this structuring would be the cleanest regarding GitHub projects.

[2019-02-26 09:56] NN--- opened #58751 "Tuple semantic names"
Today Rust allows either defining tuple without names or define struct with names.
It would be nice feature to have semantic names in tuples which are just names hint while writing the code.
For instance, C# language has such feature:
https://docs.microsoft.com/en-us/dotnet/csharp/tuples

[code]

This requires a small syntax extension, e.g.:

[code]

[2019-02-26 09:58] jonas-schievink commented on #58751
This is basically https://github.com/rust-lang/rfcs/pull/2584

[2019-02-26 09:58] #58751 closed

[2019-02-26 10:11] NN--- commented on #58751
Thanks.
Do you know when this proposal is expected to be included in the language ?

[2019-02-26 10:15] withoutboats commented on #58452
I mean isn't that hack broken as soon as someone writes `as *const _` and they get the first word? If we had language support we'd fix that, but I suspect we will discover that people are relying on the first word being the address in ways we can't automatically patch up.

[2019-02-26 10:22] jonas-schievink commented on #58751
After the RFC is accepted (which it might not be), someone needs to implement it. Depending on *how much* people want this feature and *how complex* it is to implement that can either happen before the RFC is even accepted (and would get merged once the RFC is accepted), or take many months.

Once it's implemented and merged to master it will land in the next nightly as an unstable feature. Then,

[2019-02-26 10:30] jonas-schievink commented on #58711
Closing as working as intended. Specialization might allow you to define both impls.

[2019-02-26 10:30] #58711 closed

[2019-02-26 10:34] pnkfelix commented on #58158
@hellow554 *ah*, okay yes that makes more sense to me!

[2019-02-26 10:56] pnkfelix commented on #57979
@Zoxc oops sorry about that.

[2019-02-26 11:01] NN--- commented on #58751
Are you sure rust-lang/rfcs#2584 allows to assign two instances with different names ?
I understand that the intent is to have structural compatibility for two structs having the same field names.
My sample differs by assigning two instances with different semantic names.

[2019-02-26 11:08] qnighy commented on #58751
You could instead do this: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9d57a68e0f7b994f696e40f131bb0c47

[2019-02-26 11:21] NN--- commented on #58751
Interesting, I didn't know you can make struct and function with the same name.
The only missing part is tuple structural equality, and much simpler syntax :)

[2019-02-26 11:34] GuillaumeGomez commented on #44136
I'll \*soon\* though.

[2019-02-26 12:21] lqd commented on #56651
Now that a new `tokio-async-await` has been released, I've retested the `acacia` repo on the latest nightly and it builds correctly: this ICE looks fixed (like a few other ones I've retested recently).

[2019-02-26 12:26] nitnelave commented on #53871
Thanks! I should be okay, I just need to find the time :) I'll ping you
when it's ready for review.

On Tue, Feb 26, 2019 at 9:45 AM Ralf Jung <notifications@github.com> wrote:

[2019-02-26 12:33] jonas-schievink commented on #57084
The playground example at the top might make a good regression test.

[2019-02-26 12:33] kennytm commented on #56112
https://github.com/rust-lang/rust/pull/57882#issuecomment-467388686

Adding `-y 30 -Y 10 --connect-timeout 30` from #58655 does not completely fix the 30 minute timeout when fetching docker cache 😕

[2019-02-26 12:34] jonas-schievink commented on #56651
I'll close this in favor of https://github.com/rust-lang/rust/issues/57084 then, which contains a small playground example that would make a nice test case

[2019-02-26 12:34] #56651 closed

[2019-02-26 12:40] oli-obk commented on #58619
So my revision suggestion is

### Largely uncontroversial (close to objective improvement)

will be solved by enabling certain clippy lints (and maybe improving them). Running clippy on rustc is a WIP (https://github.com/rust-lang/rust/pull/56595), but seems on the horizon.

can be a new clippy lint, I think we already detect urls

let's wait for doc rules and enforcement tools

Should probably be

[2019-02-26 14:01] aoikonomopoulos commented on #57796
Took my [first deep dive](https://gist.github.com/aoikonomopoulos/60c55832d680fcd676e17c70f782eac6) into the compiler trying to diagnose this. AFAICT, things first start going wrong when we resolve the `Self` path in `AstConv::def_to_ty`. From what I can tell by reading the code and capturing dynamic traces, we need to call `normalize_associated_types_in` on a type in order to evaluate the associa

[2019-02-26 14:16] hellow554 commented on #58212
Possible dup of https://github.com/rust-lang/rust/issues/57796

[2019-02-26 14:18] hellow554 commented on #57796
@aoikonomopoulos can you confirm that your fix also fixed #58212 ?

[2019-02-26 14:24] ParadoxSpiral commented on #58326
Oh, I wasn't aware that `LineWriter` hands big writes through. However it would still be useful if you could wrap `StdoutRaw` in a `BufWriter` that you have more control over without also still having the `LineWriter` beneath.

A slight advantage is that you can more easily check if any of them are not present, since the raw functions return `Result`s.

I agree a `StdinRaw` is probably not desirea

[2019-02-26 14:29] pietroalbini commented on #58506
Travis Support replied, and while **this is not the definitive answer** (they didn't take a deeper look at the issue yet) it appears that we're overcommitting our dedicated Mac Pros if we run at full capacity, since the `xcode9.3-moar` image is larger than their standard images... That would explain this spurious failure.

[2019-02-26 14:55] Nemo157 commented on #36513
Another variant of the “same trait from different versions” is when you have the exact same version but from different sources, e.g. crates.io and a git dependency.

[2019-02-26 15:12] aoikonomopoulos commented on #57796
@hellow554 yah, it ICEs with nightly, but compiles with the above patch. Should I prepare a PR?

[2019-02-26 15:19] hellow554 commented on #57796
Sure, let's go 🎉

[2019-02-26 15:20] hellow554 commented on #57796
I think you can directly do `r? @oli-obk` in your PR.

[2019-02-26 15:26] Michael-F-Bryan commented on #56900
Hi all, someone recently mentioned (https://github.com/Michael-F-Bryan/include_dir/issues/34#issuecomment-466670418) that `include_dir` overflows when compiling a trivial example and I thought it might be related to this.

To see *exactly* what `include_dir` was generating I inserted a line to dump the generated tokens to a file. I'm able to compile and run the crate's doc-test in about a dozen se

[2019-02-26 15:31] alexcrichton commented on #49359
Seems like a plausible addition to me! So long as it's designed careful I think it'd be good to go

[2019-02-26 15:32] hellow554 commented on #57796
@aoikonomopoulos afaik you don't have to ask for taking testcases that are posted here, but IANAL!

You can also take the testcase from https://github.com/rust-lang/rust/issues/58212#issuecomment-461009900 or this minified version

[code]

[2019-02-26 15:38] aoikonomopoulos commented on #57796
Yah the minified version seems more appropriate too.

[2019-02-26 15:54] pnkfelix commented on #57464
Note that this bug remains open because even thought PR #58649 side-steps the problem under AST-borrowck, it still arises under NLL and the 2018 edition. (The play link [above](https://github.com/rust-lang/rust/issues/57464#issuecomment-465791003) still works since 2018 is the default.)

[2019-02-26 16:33] alexreg commented on #58619
@oli-obk Thanks for the feedback.

I think this is very hard to automate, as @nikomatsakis was saying. I'm not sure it will ever be possible.

That's possible to lint automatically yes. Is there really any problem with fixing them now though?

Possibly. I'm not sure how well this can be automated though. There are some annoying edge cases.

Fair enough.

For the future, I agree, but worth integrat

[2019-02-26 17:00] yunfengsay opened #58758 "same rust version could work on linux but could not work on mac"
use the same code and dependencies  I can run it on centos but can not run on mac , so may be it is rust self problem
both Cargo.toml is

[code]

and both code is

[code]
### centos

![image](https://user-images.githubusercontent.com/15527378/53431070-c6365e00-3a2a-11e9-92f4-771f366aaa79.png)

### But not work on mac who can help me
[code]

![image](https://user-images.githubusercontent.com/155273

[2019-02-26 17:08] oli-obk commented on #58619
Automating backtick additions is hard, that's why the clippy lint errs on the side of only linting camel case words. We might be able to extend this in the future, so i'd leave it to comment authors and lints. One "easy" extension could be file paths, so since there's a path forward, we can just wait until clippy's lint gets such a feature.

Wrt starting sentences with a capital letter, can we mak

[2019-02-26 17:23] jonas-schievink commented on #58758
You're neither importing `get` nor `routes!`, so it's expected that it doesn't compile. Are you sure that this code builds on Linux?

[2019-02-26 18:10] Gankro commented on #27336
The proposal is in currently in a zombie state due to disagreements among the lang-team over how to resolve implementation issues. No progress has been made as it is otherwise regarded as low priority.

[2019-02-26 18:40] Mark-Simulacrum commented on #55861
Thanks @Aaron1011!

We discussed this in the infra team meeting today and decided that we would disable the should_panic tests on Android. This'll basically be a `#[cfg(not(target_os = "android"))]` gate on each of those tests. Note that android is a tier-2 platform so we (the Rust team) ourselves don't plan to invest time in fixing it, but if someone wants to attempt to narrow this down further w

[2019-02-26 18:41] Mark-Simulacrum commented on #55861
I'm temporarily assigning this to myself -- I plan to add that cfg soon. Of course, if someone wants to take that on and save me some time, I'd be happy :)

[2019-02-26 19:07] nikomatsakis commented on #58619
@petrochenkov

I don't really feel like the course has turned in particular? I was reporting what @alexreg and I discussed offline precisely **because** I wanted to bring it here to a more public forum (which we have now done).

I won't deny feeling pretty drained by this discussion!

[2019-02-26 19:11] Mark-Simulacrum opened #58760 "Tracking issue for unwind allowed/abort"
See https://github.com/rust-lang/rust/issues/52652 for the original discussion. There's also some additional discussion here: https://github.com/rust-lang/rust/issues/48251.

The default was changed to abort-by-default in extern functions in [this](https://github.com/rust-lang/rust/pull/55982) PR.

This is tracking the stabilization of the `#[unwind(allowed)]` (and `#[unwind(abort)]`) attributes.

[2019-02-26 19:13] oli-obk commented on #53090
Great!

So the error for `fn foo() -> impl 'static` is generated in https://github.com/rust-lang/rust/blob/8af675a07576940ba24e3d91abd10b029b937946/src/librustc_passes/ast_validation.rs#L423

I'm guessing that all that's needed is to replicate the same thing for `ItemKind::Existential` in https://github.com/rust-lang/rust/blob/8af675a07576940ba24e3d91abd10b029b937946/src/librustc_passes/ast_valida

[2019-02-26 19:13] Mark-Simulacrum commented on #58760
I've nominated this for the language team because I think we may want to consider stabilizing this "immediately." These attributes have existed for a long time and I think we're fairly confident we want something like this.

[2019-02-26 19:40] alexreg commented on #58619
Yep, you're not alone there! But I think being overly dogmatic and uncompromising about allowing in a core set of changes now is probably not very helpful...

[2019-02-26 19:47] timvermeulen commented on #58633
This happens to me every time I try to do an incremental build after making a change. Is there any other way to resolve this than `x.py clean`?

[2019-02-26 19:51] varkor commented on #58633
Let's keep this issue open, because we'd rather not have to clean even single time.

[2019-02-26 21:39] comex commented on #58760
Note that this is effectively saying that unwinding through FFI will no longer be undefined behavior in some cases; after all, there would be no point in allowing functions to be marked `#[unwind(allowed)]` if actually unwinding across them was necessarily undefined behavior.

The question is, which cases?

My understanding of the current implementation is that Rust-triggered unwinding behaves cor

[2019-02-26 22:48] steveklabnik commented on #44285
Triage: still a lot of interest, no movement yet that I'm aware of.

[2019-02-26 23:36] jonas-schievink commented on #44732
I don't really get the reasoning behind the discrepancy in relative paths for `#[doc(include)]`. It seems to me like this is just needlessly confusing for people trying this feature for the first time. All other parts of Rust that currently act on files at compile time (`#[path]` on a module declaration, and the `include_x!` macros) base their paths off of the containing file.

The point that "rus

[2019-02-27 00:15] gs0510 commented on #58270
@relchar Are you working on this? If not can I work on this issue? Thanks!

[2019-02-27 00:22] jethrogb commented on #27336
Maybe that priority should be re-evaluated? I think this is blocking various library improvements such as `std`-compatible HashMap in `alloc`, custom allocators, etc.

[2019-02-27 01:00] Diggsey commented on #48444
This doesn't seem like a *bug* per se - perhaps the best thing to do is to emit a warning when an `impl` is redundant in this way? Something like `Warning: "impl" block is redundant because i32 already implements Foo`

[2019-02-27 01:57] Gankro commented on #27336
I'm not aware of any reason custom allocators would be blocks on default-affects-inference. They can be added backwards-compatibly in the same way hashers currently work -- ::new and friends would hardcode the default, and Default::default/with_allocator would be properly generic.

[2019-02-27 03:42] schomatis commented on #54712
If someone could provide the appropriate guidance for a newbie I'd be very interested in working on this one.

In my particular case this issue manifested itself while working on https://github.com/rust-lang/rust/pull/58505, where any modifications to the `librustc_mir` code caused the `stage0-codegen` to be removed and rebuild (along with all of its dependencies, `cc`, `num_cpus`, `memmap`, etc.)

[2019-02-27 04:13] rust-highfive opened #58765 "`rls` no longer builds after rust-lang/rust#58321"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#58321, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @csmoe, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @oli-obk, the PR reviewer, and @rust-lang/compiler -- nominatin

[2019-02-27 05:10] yunfengsay commented on #58758
I am so sorry for my stupid, the code is different between mac and linux. I had not write
![image](https://user-images.githubusercontent.com/15527378/53467266-6a062500-3a90-11e9-85e5-ecfab491b9cb.png)
I am a newer one learn rust , thankyou~

[2019-02-27 05:10] #58758 closed

[2019-02-27 06:39] N5FPP opened #58767 "Rustc panic when building bobbin-sdk"
While attempting to build the current bobbin-sdk under Ubuntu 18.04 using rust 1.34.0-nightly (02c4c2892 2019-02-26) I get a panic in rustc.

[code]

[2019-02-27 06:42] Centril commented on #58767
cc @oli-obk

[2019-02-27 07:28] scottmcm opened #58769 "BinaryHeap-from-Vec should document that it's non-allocating and O(n)"
https://doc.rust-lang.org/beta/std/collections/struct.BinaryHeap.html#impl-From%3CVec%3CT%3E%3E

From the code, this seems to be an allocation-reusing O(n) [make_heap](https://en.cppreference.com/w/cpp/algorithm/make_heap), which is a very useful operation, so it would be nice for it to be documented as being such.