[2021-09-10 14:46] rylev opened #88822 "Document additional differences in SystemTime across platforms"
In https://github.com/rust-lang/measureme/issues/173 we discovered that our tests were failing on Windows because `SystemTime` on Windows (which is backed by `FILETIME`) only works in 100 nanosecond intervals, and when we were adding a `Duration` of less than 100 nanoseconds to a `SystemTime` we were getting back the same `SystemTime`.

While this isn't a bug as `SystemTime` makes it clear that it

[2021-09-10 14:48] bradjc commented on #81088
I don't know if there is interest in community votes, but I would like to see any option other than Option 1 (use numeric labels). Assembly code is hard enough to read without being able to use descriptive labels.

[2021-09-10 15:07] #88819 closed

[2021-09-10 15:08] kflansburg commented on #88819
Great, thanks! Sorry for the noise.

[2021-09-10 15:10] jhpratt commented on #62358
@soc This change has nothing to do with the edition in the first place.

[2021-09-10 15:16] joshtriplett commented on #88576
@sunfishcode Would it make sense to just use `Option<HandleOrInvalid>` for that?

[2021-09-10 15:17] petrochenkov commented on #66079
I'm not aware of any issues with this feature, someone needs to prepare a stabilization report and submit a stabilization PR including it.

[2021-09-10 15:31] smoelius commented on #66079
Thanks for your response, @petrochenkov.

Anyone can prepare those, e.g., me?

[2021-09-10 15:31] usbalbin commented on #80094
The problem is that regular `Iterator`s shrink every time you call next() on them (unless they are infinite). So as far as I can tell, that makes it problematic (impossible?) to make a useful type that is both `Iterator` and `IteratorFixed`.

Note however that `IteratorFixed` does implement `IntoIterator`.

[2021-09-10 15:34] sunfishcode commented on #88576
@joshtriplett User code [like this](https://github.com/BurntSushi/winapi-util/blob/master/src/win.rs#L139) means that `BorrowedHandle` needs to be able to hold a null, in `windows_subsystem = "windows"` mode. Then, `ManuallyDrop` and `IntoHandle` in `Drop` idioms imply that `OwnedHandle` needs to be able to hold any value that `BorrowedHandle` can hold.

[2021-09-10 15:39] nikomatsakis commented on #47174
I think making names "more generic" is a good idea, but I also think that I wouldn't want to let perfect be enemy of the good. It seems "ok" to me to ship support for LLVM-based sanitizers, and for them not to work if people opt to use different backends.

[2021-09-10 16:14] trevor-crypto commented on #88769
Can you please edit the title and fix the typo (SIGILL->SIGKILL)? I am getting the same problem and it might help people find this issue. Thanks!

[2021-09-10 16:21] nagisa commented on #88817
What the actual motivation underlying this? What LLVM-IR Rust generates is entirely an implementation detail of the compiler, so I'm not sure we do or will guarantee any specific output in terms of LLVM-IR.

[2021-09-10 16:28] Alphare opened #88825 "Closed standard file descriptors don't generate errors anymore on Unix"
I've found that #75295 introduced a regression in the "Rust first then fallback to Python" version of the Mercurial test suite.

I was testing if going from `1.41.1` (previous Debian stable version) to `1.48.0` broke anything, and it appears it did. This test checks that closed file descriptors raise an acceptable error, and this does not happen anymore. Here is the fallback code for `rhg`, runnin

[2021-09-10 16:31] HKalbasi commented on #80094
hmm, yes it looks impossible. I was dreaming of an iterator with a `Option<usize>`, which `next` and similar methods are only for `None` (unknown sizes) but map and zip and ... can handle sized ones as well as unknowns. But it still needs two methods, one with `None` size for using next, and one with known size (or it can be generic but it will need explicit type annonations which is worse)

[2021-09-10 16:32] LinkTed commented on #76915
Yes, I try it, too. We have to wait until `const-extern-fn` is stabilized.

[2021-09-10 16:39] estebank commented on #57994
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1dc945e9c129aa13b6254a4b9c1a30e3) for the first comment:

[code]

[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d753d89887ddc01e983d65b2d565115e) for my comment above:

[code]

[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist

[2021-09-10 16:42] roblabla commented on #43596
Global allocators are available in no_std+alloc scenarios, while `resume_unwind` is `std` only I think. Disallowing `oom=panic` in no_std+alloc would be fine though - those users would likely want to use fallible APIs instead of panicking on oom.

[2021-09-10 16:45] estebank commented on #64934
[The suggestions](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3d9fb14075d8fb9de8dea454fbb663e9) now lead you to [the correct code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=be89af0dce61bad167281d01a7d8f2de):

[code]

[2021-09-10 16:45] #64934 closed

[2021-09-10 16:46] Lokathor commented on #43596
if there isn't a way to deny that dependencies ever use infallible allocation then that's basically an unworkable situation.

[2021-09-10 16:48] danielframpton commented on #88796
Was clang-cl picking it up directly, or was it through environment variables supplied by cc-rs?

Looking [here](https://github.com/alexcrichton/cc-rs/blob/master/src/windows_registry.rs#L675)) there is logic to get the newest SDK that contains a specific file. If it is cc-rs finding the sdk, then adding support there to have an environment variable (e.g., WindowsSDKVersion) to override the version

[2021-09-10 16:52] estebank commented on #65149
We now suggest an appropriate fix for the original report (although a few extra changes are needed to get to working code, the suggestions lead you [all the way there](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6b9cfb56db625cdf7d46ec0de0ab8aa0)):

[code]

We no longer suggest adding a bound when it was used in a const expression:

[code]
[code]

[2021-09-10 16:52] #65149 closed

[2021-09-10 16:52] jyn514 commented on #66079
@smoelius yes, you can make a stabilization report :) there are instructions at https://rustc-dev-guide.rust-lang.org/stabilization_guide.html

[2021-09-10 16:54] estebank commented on #57457
[Current output](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9210d403b8a8127376e25ac01ddd1c0f):

[code]

We still don't check for accessibility.

[2021-09-10 16:58] cuviper commented on #20671
Would it be feasible to lint and point folks to this issue? Or is that just as hard as elaborating would be?

[2021-09-10 16:58] estebank commented on #36513
Current output:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6cbf4fa213e76411d82a44730a73eee6
[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5a1f06c80285b4258893810d918ebdb0
[code]

[2021-09-10 17:19] Kinrany commented on #45840
Were there any further developments?

@CodeSandwich your RFC link seems to be out of date.

[2021-09-10 17:49] tmandry opened #88827 "Crater runs for 1.56"
Note: Please do not conduct triage on these runs without discussing how to do so with a release team member first. Thanks!

[2021-09-10 17:50] tmandry commented on #88827
@craterbot run name=beta-1.56-1 start=1.55.0 end=beta-2021-09-07 mode=build-and-test cap-lints=warn p=10

[2021-09-10 17:55] tmandry commented on #88827
@craterbot name=beta-1.56-1 end=beta-2021-09-08

[2021-09-10 17:56] tmandry commented on #88827
@craterbot abort name=beta-1.56-1

[2021-09-10 17:56] tmandry commented on #88827
@craterbot run name=beta-1.56-1 start=1.55.0 end=beta-2021-09-08 mode=build-and-test cap-lints=warn p=10

[2021-09-10 17:59] tmandry commented on #88827
@craterbot run name=beta-1.56-rustdoc-1 start=1.55.0 end=beta-2021-09-08 mode=rustdoc cap-lints=warn p=5

[2021-09-10 18:00] purpleposeidon commented on #73632
I found the format of `--emit obj` to change w/ `--release`.

[2021-09-10 18:04] luqmana commented on #81490
@petrochenkov Is there anything left before at least stabilizing the modifiers syntax (the `native_link_modifiers` feature)? If not I can help move that forward. It's definitely something we need to do before we stabilize any of the specific formats.

[2021-09-10 18:09] purpleposeidon opened #88829 "--emit=llvm-bc in workspaces"
[code]

I have a git repo that can easily demonstrate this issue; see `incr-test` in [this repo](https://github.com/purpleposeidon/plugins3/commit/f1f9106a23757dba2e88a240c1aba65abf11fc9f).

It doesn't happen w/o incremental compilation.

(Search terms: --emit emit --emit=llvm-bc --emit=llvm-ir llvm-bc llvm-ir)

[2021-09-10 18:24] matthiaskrgr commented on #23600
Seems to no longer ICE with `rustc 1.57.0-nightly (497ee321a 2021-09-09)`
@rustbot modify labels: E-needstest

[2021-09-10 18:41] Amanieu commented on #43596
Practically speaking, `-C oom=panic` would be implemented by having the compiler-generated `main` function call `set_alloc_error_hook` to change the hook to one that panics instead of aborting. The changes needed to allow `alloc_error_handler` to unwind are in #88098 and #88700.

`no_std` programs should instead define a custom `alloc_error_handler` which can unwind or abort as needed.

[2021-09-10 18:41] matthiaskrgr commented on #50439
this no longer crashes `rustc 1.57.0-nightly (497ee321a 2021-09-09)`, marking as needs-test
@rustbot modify labels: E-needs-test

[2021-09-10 19:03] #88768 closed

[2021-09-10 19:09] slurps-mad-rips commented on #88796
I would like to clarify a few things here, as I think there is a misunderstanding of clang and clang-cl.

clang-cl is an MSVC-like frontend that works *as if* it were cl.exe. It was at one point supported by visual studio. However Microsoft dropped support for it, and instead worked on making clang (the gcc style driver) work with visual studio, the STL, Windows SDK, and CMake. In fact, CMake has

[2021-09-10 19:13] petrochenkov commented on #81490
No, as far as I know (I wanted to audit the implementation once more though).
It probably makes sense to stabilize the syntax together with one of the specific modifiers, otherwise the stabilization is all the responsibility and none of the profits.

[2021-09-10 19:14] m-ou-se commented on #88796
That `winsdkdir` option does not exist in the version of clang-cl that we use. It was added later: https://reviews.llvm.org/D95472

[2021-09-10 19:16] slurps-mad-rips commented on #88796
Then I continue to recommend not using clang-cl at all and rely on plain clang.

[2021-09-10 19:22] matthiaskrgr commented on #64401
Seems to no longer ICE with `rustc 1.57.0-nightly (497ee321a 2021-09-09)?`

@rustbot modify labels: E-needs-test

[2021-09-10 19:31] bjorn3 commented on #73632
What do you mean with format? File format? If so from which file format did it change to which?

[2021-09-10 19:34] bjorn3 commented on #73632
Oh, and are you using cargo or rustc directly? If cargo, there is no stable way to locate all object file necessary for linking as dependencies are not stored in a stable location.

[2021-09-10 19:37] matthiaskrgr commented on #84044
Does not seem to ICE `rustc 1.57.0-nightly (497ee321a 2021-09-09)`

@rustbot modify labels: E-needs-test

[2021-09-10 20:10] glittershark opened #88833 "Suggest a deref when calling T::from(&X) when `impl From<X> for T` exists"
Given the following code:

[code]

The current output is:

[code]

I was thinking we could do the thing we do for [function calls](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8318d2dfe1ca544341645181baeb3364) and suggest a deref:

[code]

or, in the case of a direct call (`T::from(&true)`) suggest removing the borrow:

[code]

This is especially helpful when, like in th

[2021-09-10 20:14] AaronKutch commented on #85532
Yes signed and unsigned overflow are different, but the `carrying_add` as implemented for unsigned and signed integers _both_ use unsigned overflow because of how two's complement carrying works. Someone using `i64::carrying_add` might think that the carry out bit follows the bit of `i64::overflowing_add` when in actuality it is following `u64::overflowing_add`. So in the documentation I would put

[2021-09-10 20:32] wesleywiser commented on #88796
Just fyi, I am looking at the natvis errors in the debugger tests.

[2021-09-10 21:04] WaffleLapkin opened #88836 "Tracking Issue for `#![feature(const_unsafecell_get_mut)]`"
Feature gate: `#![feature(const_unsafecell_get_mut)]`

This is a tracking issue for `UnsafeCell::get_mut` as a const fn.

### Public API

[code]

### Steps / History

- [x] Implementation: #88722
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-09-10 21:06] ChrisDenton commented on #88576
Ideally `stdout()` etc would return an `Option` (or `io::Result` I guess). But seeing as that's not the case, this is probably the best solution. Or I guess it could return a handle to the `\\.\NUL` device? That might cause more problems though.

[2021-09-10 21:22] vadixidav commented on #80094
I think such a fixed iterator would have to implement a separate iterator trait, but that trait could have a method that converts it into a normal iterator. For instance, the fixed iterator could have methods that operate on it that transform it from one fixed length to another, and it could lazily evaluate to an array (no `next()` at all). However, the fixed iterator could have a method that conv

[2021-09-10 21:23] sfanxiang commented on #43596
The issue I'm raising is `oom=panic` will **never** be oom-safe as long as panicking allocates. An allocation error handler simply should not allocate. To solve this, I think `oom=unwind` is a good replacement: the actual reason we wanted `oom=panic` is to unwind.

Bikeshed: Should this be renamed to `alloc-error=unwind` after 2b789bd0570983e82533f9ed30c80312ac334694 changed everything oom to allo

[2021-09-10 21:47] bjorn3 commented on #43596
That still requires allocating the exception object I think. Also `catch_unwind` which actually catches the panic returns a boxed panic payload.

I believe this problem can be mitigated by using a bit of memory reserved just for allocations necessary during panicking. Maybe it could even be an eagerly initialized thread local variable.

[2021-09-10 21:49] Lokathor commented on #43596
let's also remember that one allocation failure doesn't mean eternal allocation failure. If you try to allocate a billion byte array and fail, maybe it's still possible to allocate 20 bytes for an error to describe what went wrong.

[2021-09-10 21:59] sfanxiang commented on #43596
A boxed ZST doesn't require allocation.

I agree. However, there's a distinction between reserving an exception object and reserving a panic payload. Exception objects are an implementation detail (Windows allocates them on the stack, for example, which does not require an allocator). Panic payload is already exposed via the `resume_unwind` API which allows the user to catch the payload. The user

[2021-09-10 22:22] sfanxiang commented on #43596
True. Still, is it really a good idea to rely on "small objects" being available? Most allocators don't request memory in increments of 20 bytes - they might request, say, a 64K block each time. Allocating 20 bytes can still become a 64K memory request and fail.

[2021-09-10 22:24] ChrisDenton commented on #88796
Should the two issues be tracked separately now that there is a work around for the immediate problem?

[2021-09-10 23:16] the8472 commented on #88825
I wonder why bash even lets you close the output descriptors when spawning a child, that seems like a direct violation of posix requirements that spawned processes must have fds 0-2 open at program startup.

https://pubs.opengroup.org/onlinepubs/9699919799/functions/stdout.html

[2021-09-10 23:25] mockersf commented on #86269
Since 1.55 the following code doesn't compile anymore:
[code]

Because of `error[E0658]: use of unstable library feature 'float_interpolation'`

Even though I can't enable the feature as I'm using stable.

How could I fix this on stable until this feature is stabilised?

[2021-09-11 00:38] Mark-Simulacrum commented on #86269
`println!("{}", MyLerp::lerp(&0.5_f32));` instead of invoking it through `.lerp()` is one way.

[2021-09-11 01:10] wesleywiser opened #88840 "Visualization for str is broken in the latest Windows SDK"
The update to the latest version of the Windows SDK broke the `str` visualization.

Related to #88796

[2021-09-11 01:31] kupiakos commented on #81513
What about instead of having `<dyn Trait as Pointee>::Metadata` be `DynMetadata` storing a vtable pointer, it's instead `*const DynMetadata` pointing to the vtable itself? It would always require unsafe to access dyn metadata, but you need that `unsafe` somewhere to get dyn metadata from `*const dyn Trait`.

[2021-09-11 01:46] wesleywiser commented on #88796
[PR](https://github.com/rust-lang/rust/pull/88842) is up to fix most of the debuginfo tests but I'm still looking into the issue with `str`.

[2021-09-11 01:51] clarfonthey commented on #86269
I thought that unstable library features wouldn't be preferred if you didn't have the features enabled?

[2021-09-11 01:54] jackh726 commented on #87758
Looking at logs, this looks really similar to #87755 (or more so `impl-wf-cycle-1.rs`)

We try to project `<F as std::ops::FnOnce<(<Structure<F> as Trait>::Gat<'a>,)>>`
That requires us to prove that `Structure<F>: Trait`
So we match against `<Structure<_#0t> as Trait>`
So we have to prove that `<_#0t as std::ops::FnOnce<(<Structure<F> as Trait>::Gat<'a>,)>>`
And we end up in a cycle where `match_

[2021-09-11 02:34] crlf0710 opened #88843 "Strange interoperation with macros 2.0"
When using macros 2.0, i observed this behavior. I'm unsure whether there's a bug or not, but i think this is inconsistent.

[code]
Basically if i'm using `foo_a` macro version or `some_fn` version, everything works fine.
But when i'm using `some_macro` version, it complains that `A` is not a variant.

I think `foo_a` and `foo_b` should behave consistently, at least. And I believe this is `hygiene

[2021-09-11 02:36] CAD97 commented on #86269
That's if the two items are ambiguous / are both trait methods, IIRC. Here `f32::lerp` is an inherent method, so it's prioritized over trait methods, even as unstable, apparently.

If we aren't actively pursuing progress on deciding the correct implementation and API for a std `lerp`<sup>[1]</sup>, perhaps we should consider removing it for the time being to give the method space back. (I also did

[2021-09-11 02:45] lopopolo opened #88844 "Unhelpful "not a struct" error when typoing a type name when opening an impl block and using `Self`"
Given the following code:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1456a684a2c5ec1718ca127788c2a6a0

The current output is:

[code]

Ideally the output should look like:

the `Self` type not being a struct is caused by the typo in the `impl` target.

Ideally, the diagnostics could recover from "type error" to a suggested fix.

[2021-09-11 02:48] lopopolo commented on #88844
As an aside, the fixed code in https://doc.rust-lang.org/stable/error-index.html#E0071 doesn't seem derived from the broken code example.

[2021-09-11 02:48] kflansburg commented on #88819
Hey @ehuss , I switched to nightly and enabled the `ui-testing` compiler option. The line numbers are now normalized as expected, however the file path still does not appear to be normalized. Do you know if this is expected behavior?

[code]

[2021-09-11 06:30] #84647 closed

[2021-09-11 06:30] #87060 closed

[2021-09-11 06:30] #87994 closed

[2021-09-11 06:30] #86865 closed

[2021-09-11 06:30] #88065 closed

[2021-09-11 06:30] #88600 closed

[2021-09-11 06:39] leonardo-m commented on #80094
// Then you could either turn the mapped fixed iterator into an array
    let double_arr: [i32; 3] = mapped.array();

Now that method needs to be named something like "lazy_map()"

[2021-09-11 07:13] bjorn3 commented on #81513
That would prevent the trait object metadata from ever being more than a single pointer. (eg one for each trait vtable) Also accessing the vtables isn't just unsafe, you are depending on implementation details, so it may break at any time.

[2021-09-11 07:15] SimonSapin commented on #88825
I think this falls in this drawback noted in #75295:

It’s intentional in this test case, but the point of that test is ensuring Mercurial reports an error for unintentional closing instead of silently losing output.

[2021-09-11 07:34] Alphare commented on #88825
Some more background on why the test was introduced to Mercurial in the first place: https://www.mercurial-scm.org/repo/hg/rev/a04c03b0678e

[2021-09-11 07:55] Alphare commented on #88825
This is actually valid in POSIX shell: https://pubs.opengroup.org/onlinepubs/009695399/utilities/xcu_chap02.html#tag_02_07_05. This may constitute a contradiction, but there appears to be no explicit mention of standard fds.

[2021-09-11 08:01] petrochenkov commented on #88843
This looks correct, you cannot refer to `A` in `some_macro::Foo::A` from outside of `some_macro` (e.g. from `foo_b`).

[2021-09-11 08:19] Neutron3529 opened #88848 "#[bench] may generate very different result when modifying something unrelated to the bench function."
This bug report may mainly talk about, how to perform benchmark correctly. I use both code from cargo book and from internet searching, the result is quite different among them.

I tried to implement a stable binary search function since the original function may slower than expected, the code is  =shown below and I got a strange result:

[code]
as you could see, `bench_stable_no_unwrap` calls `bi

[2021-09-11 10:18] #82462 closed

[2021-09-11 11:12] xobs opened #88852 "`u32::from_be_bytes(*bytes)` generates suboptimal code on riscv"
I tried this code:

[code]

I expected to see this happen: Both should produce equal output, or at the very least the one using the intrinsic should be acceptable. **When building on x86 these produce the same output**, and on `arm-unknown-linux-gnueabi` the output is different but not terrible. On `riscv64gc-unknown-linux-gnu` the asm generated by the intrinsic is massive.

Instead, this happened

[2021-09-11 11:57] chansuke commented on #88802
@rustbot claim

[2021-09-11 12:31] vishadGoyal commented on #88802
Hi! I started working on this but didn't know I had to claim it first. My first time contributing to open source.
Anyway, so far I realized we need to combine these two Vectors instead of just using the declared_lang_features vector
[https://github.com/rust-lang/rust/blob/4e880f8cbc191374ce7db335962489f41d6d4e3e/compiler/rustc_feature/src/active.rs#L45](url)

[https://github.com/rust-lang/rust/blo

[2021-09-11 12:35] chansuke commented on #88802
@vishadGoyal I appreciate your great work. You should work on this :)

[2021-09-11 12:39] vishadGoyal commented on #88802
@rustbot claim

[2021-09-11 12:39] tmiasko commented on #88825
With changes from #75295 the standard file descriptors are now reopened to
`/dev/null` if not present.  Standard descriptors are reopened without close on
exec flag, so in this scenario they will be inherited by the spawned process.
Consequently, the spawned process will be able to successfully complete write
operation and with status code of zero. No errors ever arise.

Generally the fact that th

[2021-09-11 12:41] vishadGoyal commented on #88802
Thanks a lot! I hope I didn't guilt you into doing this 😅 @chansuke

[2021-09-11 12:43] the8472 commented on #88825
Maybe [CommandExt::pre_exec](https://doc.rust-lang.org/std/os/unix/process/trait.CommandExt.html#tymethod.pre_exec) can be used to work around this by closing the file descriptors after the fork.

[2021-09-11 13:46] reyk commented on #76915
@comex:

The API is from the IPv6 sockets API as found in RFC 2292 and the successor RFC 3542:

https://datatracker.ietf.org/doc/html/rfc2292#section-4
https://datatracker.ietf.org/doc/html/rfc3542#section-5

Everything is described in the RFC, e.g. CMSG_SPACE

[code]

and CMSG_LEN

[code]

Linux' IPv6 stack was always different and not based on the KAME reference implementation which might explai

[2021-09-11 14:54] hideki1217 opened #88856 "Panic when normalizing `<sample::TraitImpl<N> as sample::Trait>::R`"
### Code
[code]
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-09-11 16:26] sticnarf commented on #66118
Hi, all. I create a not so minimized reproducing program: https://github.com/sticnarf/dwarf-error

Running gimli's dwarf-validate on the produced binary by Rust 1.55.0 on x86-64 Linux will output:

[code]

I can also confirm the binary compiled from this repo on Linux ARM is also affected by this issue.

Because the binary uses prost, it includes lots of dependecies. But I cannot reproduce this is

[2021-09-11 16:35] duaneking commented on #38078
At least give me an error that tells me what to do? Because the current output is insanely bad for developer productivity; It should be telling me what options it thinks it has and why its considered ambiguous.

[2021-09-11 17:04] Emilgardis opened #88862 "Cargo build hangs"
originally posted in [zulip](https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/cargo.20build.20hangs.2C.20how.20to.20minimize/near/252922141)

Hi! I've found a regression in compilation introduced in #85499,

searched nightlies: from nightly-2021-08-17 to nightly-2021-09-10
regressed nightly: nightly-2021-08-26
searched commits: from https://github.com/rust-lang/rust/commit/b03cc

[2021-09-11 18:00] jyn514 opened #88866 "Document cargo on doc.rust-lang.org/cargo"
Like nightly-rustc, but without the confusion of naming it rustc. See https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/x.2Epy.20check.3A.20each.20crate.20shown.20twice.20in.20progress.20bar/near/252925090 for more discussion.

Mentoring instructions: in src/bootstrap/doc.rs, add a new struct `Cargo` and implement `Step` for it. I suggest using rustfmt/rustdoc as an example: http

[2021-09-11 18:39] Manishearth opened #88867 "Tracking issue for RFC 3119: Rust-lang crate ownership policy"
This is the tracking issue for work related to https://github.com/rust-lang/rfcs/pull/3119

The general shape of this work is laid out in the RFC: I have [a spreadsheet](
https://docs.google.com/spreadsheets/d/1aeBWFrQA6_HHUD2kF85zHMNWs6TxFWtORJAOCXSm4-g/edit#gid=0) of crates that are either owned by rust-lang crate owners, or are maintained within Rust repositories. Team members should feel free

[2021-09-11 18:42] Manishearth commented on #88867
Currently @rust-lang/libs has started investigation on a ton of crates, and given that they're most likely the team with the most crates I'm inclined to let them run with that before working with additional teams.

[2021-09-11 19:33] klensy opened #88869 "Doublicated ld\ld64 executables added into rustc package, increasing it's size"
Checked that on `x86_64-pc-windows-msvc` target,
found duplicates in versions:
[code]
and no duplicates in stable `rustc 1.55.0 (c8dfcfe04 2021-09-06)`, `rustc 1.56.0-nightly (4e282795d 2021-07-31)`
(bisecting is kinda slow on my connection)

@rustbot label +regression-from-stable-to-beta

[2021-09-11 19:44] ehuss commented on #88819
It looks like you are using `compiletest_rs`, which is not necessarily the same as the compiletest used here. Unfortunately I don't know much about it.  The normalization done in the rustc compiletest is [here](https://github.com/rust-lang/rust/blob/641e02f388acc6b1d316a59c605a32d1711a8758/src/tools/compiletest/src/runtest.rs#L3652-L3737). I would check that you are passing in all the correct flag

[2021-09-11 20:17] klensy commented on #88869
Can be found in:
[code]

[2021-09-11 20:39] #88097 closed

[2021-09-11 20:39] #88577 closed

[2021-09-11 20:39] #88701 closed

[2021-09-11 20:39] #87871 closed

[2021-09-11 20:43] kflansburg commented on #88819
@ehuss It's true we are using `compiletest_rs`, however I'm fairly confident that `rustc` is performing the normalization. `compiletest_rs` allows you to specify rustc flags, and if you look at the most recent output, there is _some_ normalization happening now (line numbers).

I have put together a minimum reproduction of the issue, [here](https://github.com/kflansburg/ui-testing-repro),

as you

[2021-09-11 22:18] rlee287 commented on #86832
The underlying issue seems to be resolved for me as a problem in my own code. While it seems to me that `BufReader::into_inner` should be specialized on `Seek` types to move the cursor to the expected position once specialization is stabilized (and that the regular `Seek.seek` shouldn't do this), this would not be the correct place to have that discussion. Hence, I am closing this issue as resolve

[2021-09-11 22:18] #86832 closed

[2021-09-11 23:24] camelid commented on #88862
cc @jackh726

[2021-09-11 23:31] camelid commented on #88862
One way to minimize could be to see which crate in your workspace is triggering the hang. E.g., run `cargo build -p my_crate` for each of the crates in the workspace and find the one with the fewest dependencies (in-workspace dependencies, or external). Then you can try to minimize that crate further by deleting different parts of the code until the hang disappears.

[2021-09-11 23:51] camelid opened #88870 "rustdoc (unstable): `--generate-link-to-definition` makes sources unreadable with Ayu theme"
Interestingly, the dark theme works fine.

Screenshot of Ayu:

![image](https://user-images.githubusercontent.com/37223377/132966254-bba2066e-38c7-482c-aa9d-4b2544fc7928.png)

cc @GuillaumeGomez

[2021-09-11 23:57] dbdeviant commented on #87479
I recently came across a scenario where I didn't need the clause.  The library performs async serialization for any given user provided format (basically async serde).  In my case, only the serializer trait needed the `Self` lifetime annotation, as the returned future from the method holds on to a reference to the data until complete.  The deserializer owns its own internal buffers, and as such ju

[2021-09-12 00:24] ehuss commented on #88819
Sorry, I'm not sure what you are asking.  Replacement of full paths to `$DIR` for the purpose of comparing test output is done in the part of compiletest I linked above.  As mentioned, there are two parts of normalization, that done by rustc running `-Zui-testing`, and the normalization done in compiletest in the `normalize_output` function.

You may want to check that you are passing a full path

[2021-09-12 00:31] newpavlov commented on #60551
It looks like the following code successfully [compiles](https://play.rust-lang.org/?version=nightly&gist=0cc7fe072960d110d48e995c9f4e3d8a) on nigthly:
[code]

Should I close this issue in favor of #76560?

[2021-09-12 00:35] vadixidav commented on #80094
@leonardo-m Yes, I suppose it is too late to create a lazy array trait with a `map()` method at this point.

[2021-09-12 02:29] vishadGoyal commented on #88802
Hi I'm having trouble with debugging my changes.

I have made changes in https://github.com/rust-lang/rust/blob/497ee321af3b8496eaccd7af7b437f18bab81abf/compiler/rustc_ast_passes/src/feature_gate.rs

Then I'm running
`./x.py build`
`build/x86_64-unknown-linux-gnu/stage1/bin/rustc test.rs`

I'm not seeing the effect of my changes when I do this.

Also is there a way to debug this by attaching break

[2021-09-12 02:32] jyn514 commented on #88802
@vishadGoyal this bit of code only runs on the beta and stable channels. Try setting `channel = "beta"` in config.toml.

You can set `debug = true` in config.toml and then run it under gdb if you like.

[2021-09-12 03:47] vishadGoyal commented on #88802
I tried this but it says unknown field `channel`

My config.toml
[code]

The output on running `./x.py build`

[code]

[2021-09-12 03:50] jyn514 commented on #88802
@vishadGoyal it needs to be under one of the tables (I think maybe rust?). Look at config.toml.example, it will give an example.

[2021-09-12 03:53] khuey opened #88873 "debug info emitted for trait objects has wrong size/alignment"
Consider:

[code]

The DWARF debug info for this will contain the following DIE

[code]

The DW_TAG_members have been synthesized via `trait_pointer_metadata` and are correct. But the DW_TAG_structure_type's size and alignment have been computed from the `Layout` of the type and are wrong.

These incorrect values are computed by the `ty::Dynamic` branch of `layout_of_uncached` which does

[code]

[2021-09-12 03:54] vishadGoyal commented on #88802
It should be under [rust]. I think the config.toml.example can be improved by adding indentation.

[2021-09-12 04:02] jyn514 commented on #88802
Feel free to make a PR adding it :)

[2021-09-12 04:57] vishadGoyal commented on #88802
I'm facing a problem. `declared_lang_features` obtained from the `Session` object have a `since` property but not the `declared_lib_features`.

https://github.com/rust-lang/rust/blob/547d9374d26f203ab963b3ffe1ed36bd70f16633/compiler/rustc_ast_passes/src/feature_gate.rs#L709

https://github.com/rust-lang/rust/blob/547d9374d26f203ab963b3ffe1ed36bd70f16633/compiler/rustc_feature/src/active.rs#L47

ht

[2021-09-12 05:38] #73423 closed

[2021-09-12 05:38] #79630 closed

[2021-09-12 05:38] #83083 closed

[2021-09-12 06:24] philipc commented on #66118
Starting to debug this:
[code]

So I need to work on reducing that LLVM-IR now. I expect that the only relevant parts of it will be the debuginfo, which I don't think bugpoint can help with, so this might take some time.

The original error in https://github.com/hannobraun/dwarf-test can be reproduced using older rust versions (e.g. 1.38) and the DWARF error looks similar.

Given that this error a

[2021-09-12 06:59] meowjesty opened #88876 "ICE adt_const_params with slice of static str"
Looks a bit like #88384

[Link to playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7bdb682812e7811ddaddb3a6fe519f7a)

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-09-12 07:24] crlf0710 commented on #88843
Oh, thanks! Closing as this is expected behavior.

[2021-09-12 07:24] #88843 closed

[2021-09-12 07:54] Emilgardis commented on #88862
The crate/step which is failing is the final one. I managed to delete parts of the code to make the hang disappear but I'm not certain I've actually pinpointed it exactly yet.

I let it run and seems it failed on ´STATUS_STACK_BUFFER_OVERRUN`
https://gist.github.com/Emilgardis/954c2aeefc0cca270a421a90ecc5067a#file-output-cargo-issue88862-log-L988

[2021-09-12 09:29] gilescope opened #88878 "Recent PRs break lots of nightly builds"
I'm seeing most of the nightly project broken at the moment. It's either due to https://github.com/rust-lang/rust/issues/88581 or due to this one:
[code]

For example it breaks every branch of every git repo that uses:
prost-derive-0.7.0/
lalrpop-0.18.1
I suspect there's a few others, but prost is used in _lots_ of places (as is bigint).

We need to somehow be kinder to the nightly ecosystem someh

[2021-09-12 09:37] roblabla commented on #43408
This now appear to work-ish, but is a bit awkward to use:

[code]

Two things of note:

- The weird `where` close with an empty bound is necessary, otherwise I get an `error: unconstrained generic constant`.
- Transmute doesn't work, because the compiler fails to prove that `[u8; size_of::<T>()]` has the same size as `T`, so we have to work around this by using `transmute_copy`

[2021-09-12 09:43] hniksic commented on #60551
@newpavlov Please note that the example from the previous comment (that defines `ColorSpace` type) [deosn't compile](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8906ddca790fc98d00ab35b3a11d08a1) on current nightly. The compiler requires changing `Point<C::NDims>` to `Point<{C::NDims}>` because it treats `C::NDims` as a full-featured expression rather than a constant. B

[2021-09-12 09:49] GuillaumeGomez commented on #88870
Sending a fix in the next few hours.

[2021-09-12 09:54] philipc commented on #66118
This seems to be #46346 again. It has all the same symptoms (multiple CUs in the IR, and a function in one CU is being inlined in another CU). That bug occurred for ThinLTO, and we never fixed it in LLVM. Instead, we changed rust's ThinLTO to put all the IR in a single CU ( #46772). But in this issue, we still have multiple CUs, so the bug can still occur.

I'm assuming that it doesn't make sense

[2021-09-12 10:07] Skirmisher commented on #85247
Okay, so the codegen backend situation has changed a lot since this target file was first generated, and `eliminate-frame-pointer` was [replaced](https://github.com/rust-lang/rust/commit/9b67cba4f6294e0db900397cdf5c59c1dc901ade#diff-aa810a3be0834da891b171a8b04b09d0d3bbb76ac27c757cd232235099e062d2) a while back with `frame-pointer` which defaults to `MayOmit`—no longer implying a guarantee, mainly

[2021-09-12 10:07] CodeSandwich commented on #45840
As of now it's dead :laughing: It was too small for an RFC, so I was asked to implement it, but it was rejected https://github.com/rust-lang/rust/pull/48597

[2021-09-12 10:09] the8472 commented on #88878
This is allowed under [RFC 1105](https://rust-lang.github.io/rfcs/1105-api-evolution.html#minor-change-adding-a-defaulted-item) rules and I believe the libs team is and was of the conflicts that this would create when prompting an itertools method to std, it's not the first time this happened after all.
There just isn't a solution to this problem yet other than disambiguating the method call.

[2021-09-12 10:19] nikic commented on #88769
Should be fixed by #88765.

[2021-09-12 10:46] Manishearth commented on #88873
cc @michaelwoerister

[2021-09-12 10:46] mohe2015 commented on #88878
What about notifying the most popular crates in advance and waiting a week or so next time? The issue with num-bigint seems to have been known before the merge.

[2021-09-12 10:54] gkanwar opened #88882 "ICE: compiling binary against lib with `feature(generic_const_exprs)`"
I am finding an ICE when splitting a single binary with `#![feature(generic_const_exprs)]` into a binary plus a library crate that implements the structs and traits. This only occurs when I fail to add `#![feature(generic_const_exprs)]` to the binary crate as well. (Am I using the terminology crate correctly? I am still new to the whole rust environment...)

I think it is reasonable to expect the

[2021-09-12 11:06] #83316 closed

[2021-09-12 11:41] hyd-dev commented on #88869
I think they are added in #88250 and #85961.

I believe `ld` is also a copy of `../rust-lld`.

[2021-09-12 12:32] Emilgardis commented on #88862
ran with

[code]

and the build completed after a while. The memory usage jumps up dramatically, from 138 MB to 7GB to 20GB, and then down again to repeat.

Same behaviour without those flags.

This is probably not a hang, just increased complexity causing longer run-time.

[2021-09-12 12:57] CryZe commented on #88878
@the8472 The method actually got stabilized on nightly in https://github.com/rust-lang/rust/pull/88548. So no unstable methods are being skipped here.

[2021-09-12 13:08] the8472 commented on #88878
@CryZe that applies to `intersperse` but not to `int_roundings`. @gilescope is talking about two different cases, one stabilization and one unstable addition.

[2021-09-12 13:19] 030 commented on #42349
Please reopen this issue.

[2021-09-12 13:45] Igosuki commented on #83291
Getting this error too
[code]

[2021-09-12 14:13] trrk opened #88884 "Compile error if lifetime parameter is not bounded by itself"
The compiler behaves strangely. For a given lifetime, if it bounds itself (`'a: 'a`), it will compile, otherwise it will not. I think it is a bug that this subtle difference can change whether it can be compiled or not.

I tried this code:
[code]
This code does not compile.
[code]

You can compile it by rewriting the part shown below.
[code]

The code is unnatural because it was rebuilt by extract

[2021-09-12 14:49] Nadrieril commented on #84332
There's a subtlety I wanted to point out if someone finds this issue: `deny(reachable)` is subtly different from what I gather to be the intention of this issue. In the following example, the wildcard is reachable, so `deny(reachable)` on the wildcard would trigger. But I think the intent of this issue is that we shouldn't trigger on this match since all variants of the enum are mentioned.
The lin

[2021-09-12 15:49] eduardosm opened #88888 "stability break in rust 1.54: generic `Self` types are currently not permitted in anonymous constants"
I tried this code:

[code]

I expected to see this happen:

This code was accepted in Rust 1.53, so newer versions should also accept it.

Instead, this happened:

[code]

### Meta

Tested using rustc 1.53 and 1.54 (and newer) from Compiler Explorer.

[2021-09-12 15:59] Mark-Simulacrum commented on #88888
I suspect this might actually be down to https://github.com/rust-lang/rust/issues/83167, but not sure.

[2021-09-12 16:16] Noble-Mushtak commented on #88884
I was able to find a smaller minimal example (here's [the playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ac83763c47e4d1201501050b78e589fc)):
[code]
I think the compiler error is correct, i.e. `arg` is not being borrowed long enough for `first` to be a `&'z &'z str`, but the fact that doing `'z : 'z` fixes the error message is the bug.

@rustbot claim

[2021-09-12 16:25] eduardosm commented on #88888
This example, which does not use const generics, also compiled in 1.53 and fails in newer versions:
[code]

[2021-09-12 16:28] Mark-Simulacrum commented on #88888
That example is similarly using const generics; just implicitly. From 1.54 onwards, the immediate parameter in _mm_shufflelo_epi16 is defined using const generics, with desugaring from the function form implicitly done by the compiler.

[2021-09-12 16:36] eduardosm commented on #88888
My point is that it breaks code that compiled much before (explicit) const generics were introduced.

[2021-09-12 17:57] lukaslueg commented on #88878
This is mainly because #88548 breaks every user of `itertools::intersperse()`, which is defined in the popular `itertools`-crate.

[2021-09-12 18:03] fishrockz opened #88891 "Bugs when trying to infer type of const generic"
I tried using `#![feature(generic_arg_infer)]`

and got the following crashes, if you want me to push up some commits and link them here i can if it would be useful.

Thanks
Will

### Code

[code]
later
[code]
gives

[code]

and

[code]
later
[code]
gives

[code]
### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[co

[2021-09-12 18:20] ehuss commented on #88878
The reason the unstable-skip didn't work is because method resolution goes in a series of steps (T, then &T, then &mut T, etc.). The way the code is written, the unstable skip only works within a single step (when the receivers are the same between the unstable method and the other method), it doesn't seem to work across steps.  I'm not sure how feasible it would be to change that, I didn't see an

[2021-09-12 18:23] steffahn commented on #88888
Bisection on the [second example](https://github.com/rust-lang/rust/issues/88888#issuecomment-917667019)

searched nightlies: from nightly-2020-04-01 to nightly-2021-09-11
regressed nightly: nightly-2021-05-09
searched commits: from https://github.com/rust-lang/rust/commit/770792ff8d1ec542e78e77876ac936f43ffb8e05 to https://github.com/rust-lang/rust/commit/881c1ac408d93bb7adaa3a51dabab9266e82eee8

[2021-09-12 19:51] klensy commented on #88852
This is not slices, this is arrays, yes?

Taking array by value converts `from_be_slice_intrinsic` to `from_be_slice_manual` (or better)
`arm-unknown-linux-gnueabi` https://godbolt.org/z/684TfW15E
`riscv64gc-unknown-linux-gnu` https://godbolt.org/z/fGYc5Yvcr

[2021-09-12 20:01] eeeebbbbrrrr commented on #82523
I hate to ask what's probably just a basic programming question here, but I'm finding this issue (and the related issues) a little tough to follow in terms of how to safely work with `#[repr(packed)]`.

Basically, my question boils down to... is this safe:

[code]

My use-case is literally the above.  I want to represent some (fixed-size) array of `u8`s as a `&str` (without copying), but I need to

[2021-09-12 20:06] jyn514 commented on #88802
@vishadGoyal I think it would be reasonable to add it to `declared_lib_features` :) the features are created in https://github.com/rust-lang/rust/blob/c7dbe7a830100c70d59994fd940bf75bb6e39b39/compiler/rustc_expand/src/config.rs#L193

[2021-09-12 20:22] #88446 closed

[2021-09-12 20:40] RalfJung commented on #82523
Indeed it is good to be cautious here. :)

The type of the slice elements is `u8`, which have an alignment requirement of 1, which is trivially satisfied by any pointer. So yes, it does meet that requirement.

It does seem like the concept of "proper alignment" and how it depends on the type needs more documentation. I am not sure where to start with that, and don't have the time to write or even

[2021-09-12 20:57] Emilgardis commented on #88862
Managed to minimize it somewhat. Was not able to remove all dependencies but most of them.

[code]
takes 40-45 seconds to compile from clean state.
[code]

takes 125-500 seconds to compile from clean state. (and uses 5-7GB of memory sometimes)

I believe the issue is to do with the client traits and impls and tracing instrumentation. Replacing `upsert_token` with a todo!() makes compilation sane a

[2021-09-12 21:25] strottos commented on #86929
I get this error a lot having just moved to a Windows PC. Whilst everything clearly compiles and runs fine it's very frustrating and can cause real problems. For example, I ran `cargo test` under the latest tokio and tests fail as such:
[code]

[2021-09-12 21:27] ExpHP commented on #43408
Though not entirely relevant to the compiler issue, for the sake of those who may come across this it is obligatory to point out that the above implementation of `zeroed` using `std::mem::transmute_copy` can invoke UB if `std::mem::align_of::<T>() > 1`.

[2021-09-12 21:46] timClicks commented on #82523
This would be very useful to me. I have been assuming that alignment means alignment to CPU word sizes. Some of the ideas mentioned in this discussion, such alignment being a language construct and not a hardware constraint, are new to me.

[2021-09-12 21:46] roblabla commented on #43408
I believe this is wrong, and my implementation is safe even if `T` has a higher alignment than `1`. Heres what `transmute_copy`'s documentation says:

(Emphasis mine)

I believe this means that it is correct even when &U (our output type) has a "stricter alignment" (higher alignment) than `&[u8]`.

[2021-09-12 21:57] Firstyear commented on #47174
I agree with @nikomatsakis here, that it's probably best to just ship this "as is" for LLVM, as other backends may or may not have sanitisers available in the same way. Over time those backends would have to increase their support for various features, and sanitisers could be one of them. So my input would be to aim for stabilising this with LLVM as the codegen, and disable it when using a non-llv

[2021-09-12 22:08] 030 commented on #42349
I created a snap, but several issues will occur:

[code]

Neither creation of a symlink to /usr/local/bin nor an alias for rustc will work.

[2021-09-12 22:08] eeeebbbbrrrr commented on #82523
Thanks, @RalfJung.  I appreciate the confirmation.  I suppose if instead of a `u8` I had some oddly-sized type then we'd be back to dealing with UB?

[2021-09-12 22:10] 030 commented on #42349
Perhaps it could work, but then several snap packages have to be created, including cargo and rust.

[2021-09-12 22:17] cart opened #88900 "Unactionable "field is never read" warning for printed structs with the Debug derive"
The latest nightly (rustc 1.57.0-nightly (8c2b6ea37 2021-09-11)) introduces a new warning that I consider to be invalid.

Given the following code:  https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=14d790d2f286f58543c42d915f60e182

[code]

The current output is:

[code]

This feels very wrong to me. It means any struct created with the intent to be printed is "invalid" acco

[2021-09-12 22:23] RalfJung commented on #82523
Some oddly-aligned type, rather. ;) Yes. You can only create a slice `&[T]~ when the ptr address is divisible by the value of `mem::align_of::<T>()` for whatever the current target.

[2021-09-12 22:24] agausmann commented on #43408
@roblabla is right, `transmute_copy` uses [`std::ptr::read_unaligned`](https://doc.rust-lang.org/stable/std/ptr/fn.read_unaligned.html) internally, which will safely read the value of unaligned pointers, and the resulting value will be at an aligned location in memory.

The docs for `transmute_copy` are sort of incorrect though. It never transmutes `&T` to `&U`, it obtains an unaligned pointer `*c

[2021-09-12 22:25] camelid commented on #88862
@rustbot ping cleanup

I think it would be useful to further minimize the above Gist.

[2021-09-12 22:53] danielhenrymantilla opened #88901 "A Lifetime-generic `Copy` impl can allow fields which are only `Copy` when `'static`"
I tried this code:

[code]

  - <sub><sup>(Note about `#[derive(Clone)]`: while this simple snippet features a `Clone` impl for all lifetimes, it is possible to restrict the impl of `Clone for Foo` to `'static` as well, and yet offer a `Bar<'any>` which is `Clone`able (thanks to it being `Copy`able). See below for a more detailed example about that).</sup></sub>

I expected to see this happen:

[2021-09-12 22:56] danielhenrymantilla commented on #88901
@rustbot modify labels +A-traits

[2021-09-13 00:11] Aaron1011 commented on #88723
Please re-open this issue if it occurs again after upgrading to the latest nightly.

[2021-09-13 00:11] #88723 closed

[2021-09-13 00:12] Aaron1011 commented on #88513
Please re-open this issue if it occurs after updating to the latest nightly.

[2021-09-13 00:12] #88513 closed

[2021-09-13 01:48] xobs commented on #88852
I'm not sure if these are considered slices or arrays -- I'm a bit fuzzy on the terminology.

Some background: This issue was spotted in some networking code that operates on `&[u8]`, and gets subslices with `val[0..4]`. These subslices are then converted into integers, which is why we're using big endian. When bytes come in from the network, they're behind a slice, which is why we need to derefer

[2021-09-13 02:08] klensy commented on #88852
`u32::from_be_bytes` (with `--emit=llvm-ir` flag to view IR) use single instruction `call i32 @llvm.bswap.i32(i32 %0)`, where `from_be_slice_manual` compiles into a bunch of instructions. Even if manual version it shorter, is it faster?

[2021-09-13 02:29] gheoan commented on #85172
@rustbot labels +A-collections

[2021-09-13 02:52] smmalis37 commented on #88862
I took a profile of a debug build of rustc building that gist. This definitely doesn't seem to be a hang per se, there's always some work going on, it's just taking a really really long time. There's no one specific function we're spending all our time in either, its more like death by a thousand papercuts. Although we are spending about 25% of the time in hashmap-related code, but I imagine that'

[2021-09-13 05:06] vishadGoyal commented on #88802
The implementation there is to access the declared features in https://github.com/rust-lang/rust/tree/c7dbe7a830100c70d59994fd940bf75bb6e39b39/compiler/rustc_feature/src

and if the feature name doesn't match with any of these, it is assumed to be a lib feature, the stable since data is still not there.

However, I found the data in https://github.com/rust-lang/rust/blob/c7dbe7a830100c70d59994fd94

[2021-09-13 06:38] hellow554 commented on #88900
First off: Denying warnings is concidered harmful [\[0\]][0] [\[1\]][1] [\[2\]][2] and should not be default in a project. You may use it for testing purposes, but not actively as a blocker.

Second: I can see, that you might see, that the lint is wrong, but it is actually right. **You never read** it.
It is used in the Debug output, yes, but not activly in your code.
For the warning to silence yo

[2021-09-13 06:52] hellow554 commented on #88876
Used `const_generics` as feature and got this:

Regressed somewhere between f5d8117c338a788bd24abec733fd143dfceb25a0...36f1f04f18b89ba4a999bcfd6584663fd6fc1c5d

<details>
<summary>Before</summary>

[code]
</details>

<details>
<summary>After</summary>

[code]
</details>

[2021-09-13 06:54] hellow554 commented on #88891
Could you give us the full source code but at least `Bitstruct` and it's new function along with all needed types (InterfaceThing, Interface, InterfaceError, ICM20X_B0_PWR_MGMT_1) :)

[2021-09-13 07:24] hellow554 commented on #88882
Indeed, I only can trigger the ICE if I have a lib and a binary.

*main.rs*:
[code]

*lib.rs*:
[code]

Before:
[code]

Regressed somewhere between e2be5f568d1f60365b825530f5b5cb722460591b...a1947b3f9e2831e2060bc42f0c78e4a2bb67930a

[2021-09-13 07:48] Gelox opened #88902 "Compiling large projects with over-heating CPUs causes weird crashes"
When I'm compiling a large project (500+ dependencies) then I will experience strange crashes usually due to SIGSEGV 11, sometimes due to other things.
This will happen after running for a while when my CPU starts getting high in temperature. I have other issues that are caused by over-heating CPUs so I find this to be the likely cause.

After compiling about 150-300 dependencies then the compiler

[2021-09-13 08:17] cart commented on #88900
1. We don't hard-code `deny(warnings)`, we pass in `-D warnings` as a rustc flag as part of our CI, which doesn't suffer from the "forward compatibility" issues called out in the four links you shared. I think most people would agree that warnings should be either resolved or suppressed, especially in public libraries.
2. This doesn't change the fact that _something_ uses it. If I were to implemen

[2021-09-13 08:58] fishrockz commented on #88891
This seems to reproduce nicely.

https://gitlab.com/pointswaves/icm20948-rs/-/tree/rustissue-88891

This is the line that i want to infer the type with:

https://gitlab.com/pointswaves/icm20948-rs/-/blob/rustissue-88891/src/lib.rs#L230

Several of the following lines need ether there type adding explicitly or adding `_, _, _` but even so, rustc shouldn't crash like this?

If you do set everything

[2021-09-13 09:10] weiznich opened #88903 "Update to the 2021 edition via `cargo fix` breaks code"
I tried to update a project with the following dependencies:

[code]
(Just having an empty project with those dependencies sufficient to reproduce the issue)

I executed the following commands as [outlined here](https://blog.rust-lang.org/2021/07/21/Rust-2021-public-testing.html):

[code]

I expected to see this happen: Everything succeeds without errors

Instead, this happened:  The final check c

[2021-09-13 09:26] MabezDev commented on #88817
The motivation is that I am bootstrapping Xtensa targets, in which we are also running a [fork of llvm](https://github.com/espressif/llvm-project). When [rebasing the rust patchset on top of 1.55](https://github.com/esp-rs/rust/tree/esp-1.55.0), our standard library port stopped compiling, throwing a missing intrinsic error (`fma`). Specifically it failed in a new function introduced in 1.55, [ler

[2021-09-13 09:31] nagisa commented on #88817
https://github.com/rust-lang/rust/blob/master/compiler/rustc_codegen_llvm/src/intrinsic.rs is probably a good way to find out all of the LLVM intrinsic calls that we might emit for some Rust code. grep for `llvm.` in that file for a list.

[2021-09-13 10:09] m-ou-se commented on #88903
Thanks for your bug report.

This is expected with Cargo's new `resolver = "2"`. See the note that `cargo fix` produced:

But I'm guessing you're aware of that, considering you reported that issue that's linked there, https://github.com/rust-lang/cargo/issues/9450, and you're the one who suggested adding this very notice and the `[build-dependencies]` suggestion.

[2021-09-13 10:19] weiznich commented on #88903
Yes I'm well aware of this. I've raised this bug report because I do not feel that these messages are on the level that is expected for the edition migration mechanism. As far as I'm aware most of them where written with `resolver = "2"` in mind not with the automatic edition transition. I feel at least they should be improved. After all the corresponding RFC states that updating to a new edition

[2021-09-13 10:34] QuineDot opened #88904 "You can instantiate a dyn Trait that doesn't implement Trait"
[I tried this code:](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=96212284062f0a38070c9ac9b2629343)

[code]

I expected to see this happen: The unsized coercion is denied (but see discussion below).

Instead, this happened: The unsized coercion happened and we end up with a `dyn Trait` which does not implement `Trait`.

### Meta
This works on [any stable version of Rust]

[2021-09-13 10:41] SadiinsoSnowfall opened #88905 "String cloning is not optimized the same way as String construction"
I don't know if it is really worth looking into, but I think I found some weird behavior in the rust compiler:
Let's consider the two following functions ([godbolt link](https://godbolt.org/z/T5M1a1e8a)):
[code]
They both allocate a String struct but do not use or return it. Rustc is able to optimize away the first one, but not the second one.
If we dig deeper, we can observe that the compiler is

[2021-09-13 10:42] m-ou-se commented on #88903
I'm assuming that was not done that automatically because it's hard to make sure it's correct. @ehuss, I'm assuming you know more about this?

Our goal with the automatic migrations was never to be fully perfect. The edition blog post states: *"The automated migrations are not necessarily perfect: there might be some corner cases where manual changes are still required."*
We aimed for at least 95%

[2021-09-13 11:02] nagisa commented on #88905
Related https://github.com/rust-lang/rust/issues/24194

[2021-09-13 11:08] nagisa commented on #88902
I'm not sure we can do anything about the CPU overheating on our end. That said, modern consumer CPUs should throttle and shutdown way before heat causes invalid computations to occur, so it seems like there may be other stability problem in there as well (e.g. memory overclock gone wrong?)

What CPU is it? Some, such as the 1st generation Ryzen are known to have a [hardware bug that affects compi

[2021-09-13 12:36] mohe2015 commented on #88902
Couldn't you also try to run with less parallelism?

[2021-09-13 12:43] #88741 closed

[2021-09-13 12:51] Kixunil commented on #63291
I wonder if there should be more methods:

[code]

As far as I understand it could optimize the code to avoid copying large `T` from stack if written like `Box::new_uninit().write(create_value())` instead of `Box::new(create_value())` without need to use `unsafe`.

[2021-09-13 12:54] SadiinsoSnowfall commented on #88905
While trying to understand why this is, I found another strange behavior ([godbolt link](https://godbolt.org/z/Wc6Ts7EKP)): cloning a Vec containing elements with more than 1 byte wide cannot be optimized away by the compiler. I think this is because of [`Layout::repeat`](https://github.com/rust-lang/rust/blob/master/library/core/src/alloc/layout.rs#L285) (called by [`Layout::array`](https://githu

[2021-09-13 12:55] SimonSapin commented on #63291
Yes, especially if we can ensure (with codegen tests?) that the copy is actually elided.

[2021-09-13 13:07] jyn514 commented on #88802
@vishadGoyal yes, queries can only be run through a TyCtxt. No, I wouldn't expect so, there's the ast::Attributes but you need more than just a Session to access them.

What's wrong with recording the `since` field in Session like I suggested?

[2021-09-13 13:11] vishadGoyal commented on #88802
The data is not already present where the declared_lib_features is currently being built.
Its present in library/core/sec/intrinsics.rs
I'm not sure how to access it from where you mentioned.

[2021-09-13 13:22] jplatte commented on #63291
@Kixunil Doesn't that work only for `Box`? Or is the idea for `Rc` / `Arc` that you panic / create a few `Rc` / `Arc` if the strong count is not 1?

[2021-09-13 13:30] MrMuetze commented on #84970
Hey everyone, so it seems that I still hit this error on nightly-2021-09-12. I get the following error message:
`thread 'rustc' panicked at 'Found unstable fingerprints for evaluate_obligation(c852859f41286a6-7af6d3069c3e430d): Ok(EvaluatedToOkModuloRegions)', /rustc/8c2b6ea37d7719a0370bd404030eef9702c1752c/compiler/rustc_query_system/src/query/plumbing.rs:632:13`

From the table above and the oth

[2021-09-13 13:37] Kixunil commented on #63291
@jplatte Heh, just started implementing it and realized it.

I guess it could return `Result<Rc<T>, (Rc<MaybeUninit<T>, T)>`. However it seems it'd fit better into rc-box crate.

[2021-09-13 13:42] jyn514 commented on #88802
@vishadGoyal it should be in the attribute you're currently looking at - see how it's done in https://github.com/rust-lang/rust/blob/1cd17addad57e2aaf5dc6d3febe042ebb733bee3/compiler/rustc_passes/src/lib_features.rs#L36
The language features are hard-coded into the compiler, but that doesn't mean the library features aren't available, they just have to be determined at runtime.

[2021-09-13 13:59] Aaron1011 commented on #84970
@MrMuetze Could you provide the full backtrace from the error message?

[2021-09-13 14:03] MrMuetze commented on #84970
I hope you mean this :) If not just let me know!
[code]

[2021-09-13 14:14] trrk commented on #88884
Thank you for finding a smaller minimal example.

I tried based on this and I have a different opinion. My hypothesis is that it is a bug that it does not compile. It is possible that I am not understanding something.

[code]
The compiler says `` `arg` dropped here while still borrowed `` at the end of the function, but in my opinion, the result of `(|s: &'z ()| s)(ident(&arg))` should be dropped

[2021-09-13 14:19] Gelox commented on #88902
My CPU model is: Intel(R) Core(TM) i5-3570K CPU @ 3.40GHz

I can run with less parallelism, and I do when the build can not cache for whatever reason. That works fine and I have never experienced an error when running with ```--jobs 1```.

This isn't a critical issue for me, mostly just annoying. I'm reporting it mostly because I wasn't sure if rustc was supposed to fail in this way when overheati

[2021-09-13 14:31] Aaron1011 commented on #84970
@MrMuetze There should be more to the message - can you post the full compiler output?

[2021-09-13 14:47] vishadGoyal commented on #88802
I logged the attribute being looked at

[code]
I couldn't find any stability attribute in it or it's meta. The output when I printed the meta of this attr was
[code]

[2021-09-13 14:51] guswynn opened #88908 "ensure that `the lint level is defined here` is always the last note"
see #88865 for more conversation about why this would be preferable

@rustbot claim

[2021-09-13 14:53] MrMuetze commented on #84970
@Aaron1011 oh yes you are right, my apologies, I have edited my previous post.

[2021-09-13 14:59] jyn514 commented on #88802
@vishadGoyal you're looking at the `#[feature(...)]` attribute. You want to look at the `#[stable(...)]` attribute.

Hmm, this may be tricky to do in parsing, since it's in another crate - I wonder if we could delay checking library features until later in the compiler, maybe to the pass where it checks if the feature is already stable? I remember @Mark-Simulacrum saying features were checked earl

[2021-09-13 15:03] mohe2015 commented on #88902
@Gelox Is your PC self-built or something? And does the fan spin? And how high temperatures are we talking about? You may want to check for your distribution how/whether microcode patches are applied.

[2021-09-13 15:10] Alphare commented on #88825
This is actually basically the same issue as #47271, just with a more recent development.

[2021-09-13 15:42] Igosuki commented on #70814
@osa1 it didn't :
[code]

[2021-09-13 15:43] tony612 commented on #81061
I wonder if we can have a generic filter & map for any inner enum instead of just Option.

For example in this code
[code]
As the code show, `data` ref is compared twice to get the result. Is there any way to make it simpler?

[2021-09-13 15:55] llogiq commented on #88900
We have another [datapoint](https://github.com/getsynth/synth/runs/3584356951) at [synth](https://github.com/getsynth/synth). In our case, the code in question is *not* derived; the `type_name` field is actually [read](https://github.com/getsynth/synth/blob/b0eda0137ec23347b60bf791511b441a58e556d1/synth/src/datasource/relational_datasource.rs#L69) in a trait impl (though to be fair it's in an `asy

[2021-09-13 15:57] steffahn commented on #88901
Specialization on `Copy` in the standard library has the same kind of issue. Your contrived `weird_lib` example can be exploited there as-well:

[code]

[2021-09-13 16:01] Mark-Simulacrum commented on #88900
Nominating this for T-lang awareness, and possible discussion.

[2021-09-13 16:28] imlvts opened #88910 "incremental compilation error with evaluate_obligation when building substrate"
When building https://github.com/substrate-developer-hub/substrate-node-template , I've attempted to use the nightly version of Rust to speed up builds by using incremental compilation. Instead, I've encountered an ICE that suggested to create an issue.

Unfortunately, I was not able to minimize the error. I will try to minimize it, but the attempts to do so are hampered by extremely long build ti

[2021-09-13 16:30] the8472 commented on #88905
This looks like it's a matter of inlining. `String::clone` is neither a generic method nor `#[inline]` thus it's not eligible for cross-crate inlining, which means it won't be optimized out because the optimizer doesn't know it won't have side-effects without inlining.
It does get eliminated when building a bin with LTO.

[2021-09-13 16:42] FabianWolff commented on #88900
@llogiq The piece of code that you link to reads the `data_type` field, not the `type_name` field, so the latter may very well be unused.

In general, **only automatically derived** impls should be ignored; if you find an exception to this, it's a bug (whereas ignoring derived implementations is intended).

[2021-09-13 16:47] the8472 commented on #88902
Does it always crash in the same place? Or does it crash faster if you start compilation after the system has already been under load for some time?

Stability issues under load are not always due to temperature. They can also be due to other things like insufficient power supply or too aggressive performance settings in the BIOS.

But assuming this is really a hardware issue then there's not much

[2021-09-13 16:52] imlvts commented on #84970
Tagging #88910 here, the backtrace seems to be similar to the one provided by @MrMuetze

[2021-09-13 17:01] camelid commented on #88862
Hmm, I haven't looked at rustc profiles before, but 25% in hashmap-related code (I assume you mean code in the hashmap library—`FxHashMap`) sounds unusual to me. You could try profiling other trait-using code that doesn't slow rustc down a ton and see how much of the time is in hashmap code.

[2021-09-13 17:01] SadiinsoSnowfall commented on #88905
Hum, yes, I think this is it. Trying not to use `String::clone` ([godbolt link](https://godbolt.org/z/5q39bb4aT)) gives something much closer to the expected result but not perfect. Note that the resulting assembly is way better in the current nightly than it is in the current stable version, 1.55.

If it does get eliminated during LTO, it is not a problem. Should I close this issue ?

[2021-09-13 17:05] Mark-Simulacrum commented on #88862
No, 25% may even be low. rustc is very HashMap intensive in most profiles.

[2021-09-13 18:11] ehuss commented on #88903
Yea, unfortunately we don't have the capability to modify TOML files in cargo at this time.

[2021-09-13 18:58] vorot93 opened #88912 "already borrowed: BorrowMutError"
### Code

https://github.com/akula-bft/akula/commit/3c1d3e2385557398b4d175b196b69deeb307f7c9

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2021-09-13 20:06] Migi commented on #67162
If I understand correctly, this is not a bug and the issue can be closed. Any implementation of `Display` needs to ensure it implements the parameters it wants to support, either manually or by delegating to a different `Display` implementation. It does not (and cannot) happen automatically.

[2021-09-13 20:27] camelid commented on #88905
@rustbot assign @notriddle

[2021-09-13 21:46] xFrednet opened #88918 "Allow some lints in `.fixed` files when compiling with Compiletest"
See also Manishearth/compiletest-rs#243

Compiletest currently automatically allows all `unused` lints in the `CompileFail` and `Ui` modes. However, this doesn't extend to `.fixed` files, which are used inside Clippy. For this reason, we still have a bunch of `#[allow()]` attributes in Clippy's tests. It would be nice to have an option to allow lints inside `.fixed` compilation tests.

In a relate

[2021-09-13 21:57] Emilgardis commented on #88862
diff of `cargo rustc --profile=dev -Z timings -- -Z self-profile` profdata on `rustc 1.56.0-nightly (b03ccace5 2021-08-24)` as base and `rustc 1.56.0-nightly (0afc20860 2021-08-25)` as change. [converted to csv](https://gist.github.com/Emilgardis/194812fa2e73ff6839d9942163329887#file-summarize-csv).

Also some flamegraphs: [before] [after]

[before]: https://gistcdn.githack.com/Emilgardis/194812fa

[2021-09-13 22:06] Emilgardis commented on #88862
I'm confused as to why there is no analysis in the flamegraph of _**after**_.

[2021-09-13 22:14] workingjubilee commented on #88852
`[u8; 4]` is an array.
`[u8]` is a slice.
`&[u8; 4]` is a borrowed array (or reference to an array).
`&[u8]` is a borrowed slice (or reference to a slice).
`[u8]` is dynamically sized so it must be used via indirection.

I believe borrowing arrays can coerce them into slices in some cases, though I am always slightly fuzzy on the rules for that, but it is something to watch out for, as an array ge

[2021-09-13 22:22] jackh726 commented on #88862
Hi all. Thanks a ton for the help on this. Especially @Emilgardis

It's definitely helpful to see that the majority of the time is spent during the codegen phase. Definitely I think getting a more minimized repro will help me get a fix for this.

[2021-09-13 22:26] smmalis37 commented on #88862
That's gonna be tricky. Even just removing a few of the calls to tracing, something that I'd expect to have no side effects, would drastically reduce the compilation time.

[2021-09-13 22:27] camelid commented on #88862
Perhaps if you expand the macros (using something like `--pretty=expanded`), you could remove parts of the calls to tracing and see what the effect is?

[2021-09-13 22:27] jackh726 commented on #88862
It's probably not so much *total* compile time, as much as time spent in `normalize_generic_arg_after_erasing_regions`

[2021-09-13 22:37] workingjubilee commented on #88769
Okay, trying to compile our test still appears to crash `rustc 1.57.0-nightly (51e514c0f 2021-09-12)`, which appears to include the submodule update.

[2021-09-13 22:53] smmalis37 commented on #88862
One thing I just spotted in my profiling is lots of stacks of collect_items_rec that are over 50 recursive calls deep. Is that expected? Is it worthwhile/possible to change this method to be iterative instead of recursive?

[2021-09-13 22:56] workingjubilee commented on #88852
I should note that "two instructions" is not necessarily a significant performance hit. I am not super-familiar with the performance details of RISC-V architectures, but there is the usual issue of superscalar out-of-order execution leading to surprising, non-intuitive results, and for RISC-V at least some implementers advocate "macro-op fusion". At decode time the architecture is entitled to fuse

[2021-09-14 00:27] dwrensha commented on #64401
searched nightlies: from nightly-2021-05-01 to nightly-2021-09-10
regressed nightly: nightly-2021-08-26
searched commits: from https://github.com/rust-lang/rust/commit/b03ccace573bb91e27625c190a0f7807045a1012 to https://github.com/rust-lang/rust/commit/0afc20860eb98a29d9bbeea80f2acc5be38c6bf3
regressed commit: https://github.com/rust-lang/rust/commit/0afc20860eb98a29d9bbeea80f2acc5be38c6bf3

<deta

[2021-09-14 00:27] dwrensha commented on #64401
Looks like #85499 fixed this.

[2021-09-14 00:35] Migi commented on #30164
This issue has been reported independently several times over the years: see issues #43909, #55584, #55749, #83361, #87905, #88059. Clearly people do try to apply formatting parameters to `Debug`-formatted values.

I tested some of the most common types for how their `Debug` implementations currently handle `width` and `precision`. Here's [a Playground link](https://play.rust-lang.org/?version=sta

[2021-09-14 00:52] Emilgardis commented on #88862
Managed to get it quite small, but still directly depends on `sqlx` and `actix-web`. https://gist.github.com/Emilgardis/c9b152dcd518f41fbb9e73126b48373e

removing [this L31-L33](https://gist.github.com/Emilgardis/c9b152dcd518f41fbb9e73126b48373e#file-main-rs-L31-L33) and [here L-48-50](https://gist.github.com/Emilgardis/c9b152dcd518f41fbb9e73126b48373e#file-main-rs-L48-L50) makes the memory footpr

[2021-09-14 00:58] workingjubilee commented on #88769
The LLVM-level repro and hellow's minimization _both_ seem to be fixed.

[2021-09-14 01:03] calebzulawski commented on #88769
To clarify the above comment by @workingjubilee, the reduction above now works on nightly, but portable-simd still fails on the same test with the same error as the original report.  I'm guessing the bug is only partially fixed in LLVM?

[2021-09-14 02:17] gergoerdi commented on #88252
So is there a particular nightly that is known to work with AVR? I can compile my program with 2d8a3b918 2020-08-26 but the resulting program is juuuust a bit wrong when executing it. I hope I won't have to re-do all the LLVM AVR backend debugging [from back in 2017](https://gergo.erdi.hu/blog/2017-05-12-rust_on_avr__beyond_blinking/)...

[2021-09-14 03:22] ehuss opened #88924 "Windows CI runners are sporadically failing with os error 32"
The Windows CI runners have recently started failing with:

os error 32 is `ERROR_SHARING_VIOLATION`.  It is not clear to me what could possibly be locking the file in such a way to prevent *reading* it.

Recent instances:
* 2021-09-13T20:36:18 #88914: https://github.com/rust-lang-ci/rust/actions/runs/1231002021
* 2021-09-13T21:36:02 #87794: https://github.com/rust-lang-ci/rust/actions/runs/123114

[2021-09-14 03:27] ehuss commented on #88924
Another curious error in https://github.com/rust-lang-ci/rust/runs/3592562094:

That error does not make much sense.

[2021-09-14 03:38] stepchowfun opened #88925 "Infinite recursion while resolving traits"
Hi all! I'm running into an issue that is difficult for me to describe other than by giving a simple example. I believe the following  code should compile, but instead it seems like the compiler gets stuck in a loop:

[code]

As is, the compiler gives this error when running `cargo build`:

[code]

Since `writer: T` implements `Write` (as `T` has the trait bound), I would expect `writer.by_ref()`

[2021-09-14 04:08] workingjubilee commented on #88924
Also see #88921

[2021-09-14 05:26] hellow554 commented on #88769
I can confirm that my reduced testcase is indeed fixed, but portable-simd still fails on linux and windows. I'll try it again :)

[2021-09-14 05:39] MForster commented on #88252
I was experimenting with a later version from January 2021, and it also seemed to generate wrong code. Compilation succeeded, but the resulting program didn't seem to do what it should.

I'm not 100% sure about this, because I didn't have a debugging setup, but I couldn't get even the simplest logic to execute correctly.

[2021-09-14 06:19] hoangpq commented on #84970
Hi @Aaron1011  I got this issue when trying build Gecko view for armv7 Android.

OS: MacOS
Rust: rustc 1.54.0 (a178d0322 2021-07-26)
Nix: https://github.com/servo/servo/blob/master/etc/shell.nix

stack backtrace:
 0:45.56    0:        0x10fcfc764 - <std::sys_common::backtrace::_print::DisplayBacktrace as core::fmt::Display>::fmt::h6a8908fa3ed6f9e8
 0:45.56    1:        0x10fd60efc - core::fmt::wri

[2021-09-14 06:21] lefth opened #88927 "The `reduce` method should document the order of the closure arguments"
`reduce` takes a closure argument, but does not explain the order of its arguments. The type signature does not help clarify the order as it would for `fold`. Also note that `fold` and `try_fold` do document the closure.

See: https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.reduce

[2021-09-14 06:28] philipc commented on #66118
Simplified IR: https://gist.github.com/philipc/59f8c1acf6c55ffdbf917c2c95d80772
`fail1.ll` is from https://github.com/hannobraun/dwarf-test and `fail2.ll` is from https://github.com/sticnarf/dwarf-error. These only contain one error from each; there are more errors which may have different forms, but I haven't checked. Both of these still produce invalid DWARF when using `llc` built from LLVM git.

[2021-09-14 06:56] oli-obk commented on #23600
The ZST variants now work really fast, it's only the 2^32 variant that takes forever to compile on 64 bit

[2021-09-14 06:56] FredrikNoren opened #88929 "thread 'rustc' panicked at 'forcing query with already existing `DepNode`"
Hi,

I wasn't getting this error a few weeks ago on the same source code, so seems like something changed in the nightly build. Also; if I comment out lines 74-76 in the code in the gist, I can get it to build, and if I then (once it has built once) uncomment those lines again it also works to build (even though the code is now identical to the code that caused the crash initially).

### Code
http

[2021-09-14 06:58] apiraino commented on #88901
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2388901.20A.20Lifetime-generic.20.60Copy.60.20impl.20can.20allow.20fields.20whic.E2.80.A6) of the Prioritization Working Group.

Also tagging T-lang as this issue could benefit from a opinion from the team (@danielhenrymantilla left some thought

[2021-09-14 07:17] hellow554 commented on #88769
I can't remove the proptest dependecy atm, maybe later:

[code]

[2021-09-14 08:36] veeg commented on #78700
The playground example runs fine on stable 1.55

[2021-09-14 08:58] drahnr commented on #78700
I just double checked, and if I open the playground, it uses rustc 1.55.0 by default and still shows the original error.

[2021-09-14 10:43] veeg commented on #78700
Ahh, I misunderstood the issue. Sorry for the inconvenience.

[2021-09-14 11:14] Nemo157 commented on #53487
Has there been any discussion of supporting excluding the "runtime frames" similar to `RUST_BACKTRACE=1` vs `RUST_BACKTRACE=full` (whether by APIs that allow distinguishing them manually, or by integrating it into the default `Display` format)?

[2021-09-14 11:21] newpavlov opened #88930 "Unnecessary stack usage"
I have the following simple SIMD-powered function which tests whether points are inside one of bounding boxes:
[code]
By inspecting the [generated assembly](https://rust.godbolt.org/z/6fahjYKGP) we can see that for some reason it caches coordinates to stack and reads them from it each iteration instead of using the input pointers. The same behavior can be [observed](https://rust.godbolt.org/z/c5hG

[2021-09-14 11:51] #88383 closed

[2021-09-14 11:51] #88818 closed

[2021-09-14 11:51] #88870 closed

[2021-09-14 11:51] elichai opened #88931 "Add hints to diagnostic messages about type annotation"
[code]
https://play.rust-lang.org/?gist=e9720a11b44e59362937210443cb7b86
The current output is:

[code]

Ideally it would hint me on how should I annotate, especially here where the answer is not obvious,
it could tell you to either do `match TryInto::<[u8; 32]>::try_into(n) {` or `<[u8; 32]>::try_from(n)`

[2021-09-14 11:59] rakshith-ravi opened #88932 "[Known] ICE while executing cargo sqlx prepare"
### Code
I don't think this has to do with the code. I got this error while running `cargo sqlx prepare` (using `sqlx-cli`), which I think is calling `cargo build` internally. Cargo seems to be able to detect that this ICE is a known issue, but I just thought I'd open one to give more data points of ICEs. Hope this helps

`rustc --version --verbose`:
[code]

### Error output
[code]

<details><summ

[2021-09-14 12:24] tmiasko commented on #87932
A different reproducer (one above will stop working soon; probably).

[code]

[2021-09-14 12:37] cynecx commented on #88900
I’ve been getting these warnings as well. The struct actually contains a Child (tokio::process::Child) handle. So at drop time of the struct the Child handle drops and eventually cleanups the child process. So it’s not technically true that the field is never read, because the drop glue certainly does.

[2021-09-14 12:58] vishadGoyal commented on #88802
I'm new to this so can you explain why the treatment can be different for lang features and lib features?

[2021-09-14 13:05] Mark-Simulacrum commented on #88827
@craterbot retry name=beta-1.56-rustdoc-1

[2021-09-14 13:06] Mark-Simulacrum commented on #88827
@craterbot retry-report name=beta-1.56-1

[2021-09-14 13:30] jyn514 commented on #88802
Library features can't affect the syntax passed to proc macros; language features can.

[2021-09-14 14:16] Darkspirit commented on #86163
It sounds like Firefox will not work on SPARC anymore if this bug has not been fixed until the release of Firefox 93. Non-WebRender has been removed in 93.

[2021-09-14 14:17] klensy commented on #88930
Creating `res` via `MaybeUninit` reduces used stack size, if i understand (and implemented) it correct.

[2021-09-14 14:33] Alphare commented on #88825
It's not possible to detect closed file descriptors from Rust since the `/dev/null` fix is applied before main is executed. I'm sending a patch to Mercurial to basically say "we can't do anything about it so it's going to differ in the two versions unless Rust changes its mind about the issue". Interestingly, Python 2 went from silently eating the issue as well to (in Python 3) setting the relevan

[2021-09-14 14:47] weiznich commented on #88903
We aimed for at least 95%+ of crates to be able to automatically migrate without any manual intervention, and have reached a much higher number. The diesel-related failures found during the crater runs amounted to 0.07% of the tested crates. All resolver-related problems totaled to less than 0.5%, of which almost all are an old version of mime_guess not passing the unicase feature on to a dependen

[2021-09-14 14:47] newpavlov commented on #88930
You get UB this way. And even before that, it's an incorrect algorithm, unless we use one `bbox` for its initialization (it would allow us to save one XOR operation at the cost of increasing code size, nothing more). `res` here is essentially a bunch of boolean flags, if there are no bounding boxes, it always must be "false".

[2021-09-14 14:59] klensy commented on #88930
Why UB? It looks correct, at least.

[code]

[2021-09-14 15:10] satmandu opened #88935 "Rustup install failure w/ i686 & 1.55.0"
### Code

I tried this code:

```RUSTFLAGS='-Clto=thin' bash ./rustup.sh -y --no-modify-path --default-host i686-unknown-linux-gnu --default-toolchain stable --profile minimal```

I expected to see this happen: Install succeeds

Instead, this happened: install failed.

### Version it worked on
1.54.0

It most recently worked on:

### Version with regression
1.55.0

### Backtrace

<details><summary

[2021-09-14 15:12] newpavlov commented on #88930
Ah, I thought you wanted to replace only the first line. But nevertheless, you algorithm (if I understand your proposal correctly) is still incorrect. You replace `res[i] = _mm256_or_si256(res[i], t);` with `res[i].write(_mm256_or_si256(_mm256_setzero_si256(), t));`, thus you remove accumulation and only the last bbox will determine results. And it still will result in UB for empty `bboxes`.

If y

[2021-09-14 15:14] klensy commented on #88930
You are right, forgot about cycles, my bad.

[2021-09-14 15:52] uweigand opened #88937 "Missing support for target features on s390x"
There are a number of places where rust handles architecture-specific features, in particular:

- the `target_feature` attribute to enable/disable features when compiling parts of the code base
- the `target_feature` conditional compilation option to check for the presence of a feature at compile time
- the `is_`_arch_`_feature_detected!` macro to check for the presence of a feature at run time

A

[2021-09-14 16:25] Mark-Simulacrum commented on #88924
@rustbot ping windows

This error is causing lots of spurious failures in our CI, maybe there's some steps to diagnose that folks could suggest (or it's well known and there's a clear fix).

[2021-09-14 16:34] jgallagher opened #88938 "ICE "Found outer attribute Attribute..." with #[derive(thiserrror::Error)] and #[allow(..)]"
### Code

[code]

Playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b149086e3735754ac70811ca05103814

This might be a dupe of #87936, but the combination of the `#![warn(..)]` placement and the fact that this is just using a proc macro led me to think it's possible it's different enough to be interesting.

### Meta

`rustc --version --verbose`:
[code]

Also o

[2021-09-14 17:12] ehuss commented on #88924
Another related error message:

https://github.com/rust-lang-ci/rust/runs/3600286433

There haven't been any image changes since the September 9th change that broke CI.

A rough timeline:
* Sep 8: stage 0 was bumped (probably unrelated)
* 2 successful merges, 1 failed (unrelated)
* Sep 9: GitHub image update halts CI
* Sep 10: Windows builds resolved
* Things look "normal" with 22 successful merge

[2021-09-14 17:36] Mark-Simulacrum commented on #88827
@craterbot run name=beta-1.56-2 start=1.55.0 end=beta-2021-09-12 mode=build-and-test cap-lints=warn p=10 crates=https://crater-reports.s3.amazonaws.com/beta-1.56-1/retry-regressed-list.txt

[2021-09-14 18:51] nikic commented on #88769
Upstream report: https://bugs.llvm.org/show_bug.cgi?id=51858

[2021-09-14 18:56] FabianWolff commented on #88900
That's what I was going to say. Nothing was changed with regards to the `Drop` trait, so the behavior you're complaining about must have been there before (it was just hidden by the `Debug` derive).

[2021-09-14 19:02] Aaron1011 opened #88941 "LLD is not available with `download-ci-llvm`"
When `download-ci-llvm=true` is set, `lld` is not available in `build/x86_64-unknown-linux-gnu/ci-llvm/bin`. This makes it more difficult to use a stage1 compiler to cross-compile to platforms that use LLD by default (like `wasm32-unknonwn-unknown`), as the linker needs to be manually overridden in a `.cargo/config` file.

If we have the CI budget available, it would be useful to build LLD along w

[2021-09-14 19:06] Aaron1011 commented on #88910
@imlvts Thank you for the detailed reproduction instructions! I'm able to reproduce this on the latest nightly, as well as with a local stage1 compiler.

[2021-09-14 19:10] hipunk commented on #88607
For me, it clearly was a mistake to switch to brew from MacPorts and fink.

What a shitshow. Now I'm sitting here with a setup that is falling apart because of dense consumerist devs.

[2021-09-14 19:22] CryZe commented on #88924
It's a change to Github Actions that caused this. We also encountered it here: https://github.com/Lokathor/wide/pull/108/commits/6419c50d80f84e347a2618022bf19b4f3db1643c

[2021-09-14 19:25] Mark-Simulacrum commented on #88941
We just need to adjust the component creation to include LLD -- at least on x86_64-unknown-linux-gnu it's already built.

[2021-09-14 20:03] cyborgyn opened #88942 "mips64-unknown-linux-gnuabi64 rustc unable to produce mips4 binary"
I am trying to compile rustc, and some applications written in rust for my SGI R10000 workstation, with 64 bit Linux on it.
Found out, that even though I specify -Ctarget-cpu=mips4 for rustc, it always produces MIPS64r2 binaries.
R8000 and later mips CPUs implement MIPS4 architecture, which is a subset of MIPS64 ISA and subset of MIPS32 ISA.

I found, that the default settings in https://github.co

[2021-09-14 20:05] cyborgyn commented on #88942
Patch in pastebin: https://pastebin.com/nL7uVdYs

[2021-09-14 20:07] clarfonthey commented on #85532
I think all of these are good suggestions, and like mentioned earlier, these changes definitely should go in a PR if you have the time. I think one important thing to note is that so far the APIs here seem good, but the documentation definitely could use some work. Although if there's a bigger case for changing the subtraction behaviour to be more in line with what's expected (the existing behavio

[2021-09-14 20:11] m-ou-se commented on #88903
Note that next to all the crates from crates.io, crater also tests all crates from public GitHub repositories that have a `Cargo.lock` file. That second group is actually the majority. (Crater tests about 170k-180k crates. crates.io has 67k crates.)

[2021-09-14 20:21] rosekunkel opened #88944 "Documentation for {f32, f64}::hypot should clarify its behavior for negative values."
The documentation for the `f32::hypot` / `f64::hypot` function reads

and gives this example (and the analogous example for `f64`):
[code]

Since lengths are always positive, it's unclear what this function does for negative values. My expectation is that it gives the hypotenuse of the right triangle whose leg lengths are the absolute values of `x` and `y`, but I had to look up [the relevant libc

[2021-09-14 20:37] tmandry commented on #88900
For those wondering about disruptiveness of the change, we had to add this to 93 places in the main Fuchsia repo. I'd say this is among the more disruptive warnings changes we've had to fix. Most of these structs seem to only derive `Debug`; I haven't dug into what they're used for or whether these fields _should_ exist yet.

https://fuchsia-review.googlesource.com/c/fuchsia/+/581062

[2021-09-14 21:29] alexcrichton commented on #84223
I've requested this be tagged `I-nominated` for discussion for stabilization, but I figured I'd want to paste some background here as well. My personal main motivation for this is optimizing the pieces of Wasmtime where a host calls into a WebAssembly module. Part of that is frobbing some TLS values as we enter into wasm, and this frobbing is actually marked `#[inline(never)]` for the poor cross-c

[2021-09-14 22:07] dimo414 commented on #67162
I assume this is still a point of confusion that could be improved in documentation.

[2021-09-14 22:10] cuviper opened #88947 "CI: verify-backported-commits.sh is broken"
In #88946, @Mark-Simulacrum suspected that I was going to fail CI for lack of `backport-of` in my new beta commit. But in the check runs, the test "passed" with this output:

[code]

That unknown commit is the `BETA_LIMIT` at the top of the script, not mine.

[2021-09-15 00:59] mejrs commented on #88924
I got another one: https://github.com/PyO3/pyo3/runs/3590459443?check_suite_focus=true which seems to be the earliest failure so far (at 13th Sept 20:30 CEST).

[2021-09-15 02:58] ehuss commented on #88924
I have opened https://github.com/actions/virtual-environments/issues/4086 to see if maybe we can maybe get some input about the configuration of the windows images.

[2021-09-15 03:06] fee1-dead opened #88955 "Tracking Issue for const Derefs"
Feature gate: `#![feature(const_deref)]`

This is a tracking issue for implementing `const Deref{,Mut}` in the standard library.

### Public API

[code]

### Steps / History

- [x] Implementation: #88887
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-09-15 03:21] QuineDot commented on #61977
See also #88141

[2021-09-15 04:00] georgik opened #88957 "CI: Windows GitHub runner build of rust 1.55.0 - x.py dist --stage 2 - failed to copy"
How to simulate:
- on Windows GitHub runner execute `x.py dist --stage 2` on Rust repo with initialized submodules

Failure:
[code]

Potential root cause:
- problem with too long paths on Windows, similar problem was noticed also with 1.54
- note: the problem occurs even when Long Paths are enabled in Windows registries

Workaround:
- build Rust on local machine in directory with very short path l

[2021-09-15 04:04] leftwo commented on #80447
I think I'm seeing the same issue with code containing a similar syntax error:

[code]

The error is the `ox` fn does not have the closing paren.

I see this on both release and debug builds:
stable: `1.55.0`
beta: `1.56.0-beta.2`
Nightly: `1.57.0-nightly (c3c0f80d6 2021-09-14)`

Here is the error and stack from Rust Playground:
[code]

[2021-09-15 04:56] awslabspl commented on #88957
This shit ( `rustc` ) is doomed.

There are 23k+ super-errors in this so-called package alone..........

[2021-09-15 06:42] BoxyUwU commented on #88882
Probably a duplicate of #79018 see [this comment](https://github.com/rust-lang/rust/issues/79018#issuecomment-727647895)

[2021-09-15 06:54] #88424 closed

[2021-09-15 08:48] chris-morgan opened #88959 "Unstable code formatting involving some macros (every rustfmt run indents some lines further)"
Sample code, minimised as far as I was able:

[code]

Every time you run rustfmt over it, it indents lines 4–9 by another two levels.

Closely related, if you remove the first and last two lines (the outer macro_rules layer), formatting leaves lines 4–9 at whatever level it finds them rather than correcting their indentation. (But this is probably better than indenting them by two levels.)

Reprod

[2021-09-15 08:53] chris-morgan commented on #88959
Oops, saw A-rustfmt and figured bugs were going here, but after posting I thought to look further and found the rustfmt repository where has a couple of reports of this exact issue, e.g. https://github.com/rust-lang/rustfmt/issues/4609. What’s the deal with A-rustfmt versus the rustfmt repository? Anyway, closing in favour of that issue.

[2021-09-15 08:53] #88959 closed

[2021-09-15 09:04] AaronErhardt opened #88960 "Unable to fetch dependencies with stable-x86_64-pc-windows-gnu"
`cargo update` and everything else works fine if I'm using the `stable-x86_64-pc-windows-msvc` toolchain. However, if I'm using `stable-x86_64-pc-windows-gnu`, Rust suddenly can't fetch dependencies. (Because this issue depends on the toolchain, I assume it's not a problem with cargo).

#### Output of cargo update

[code]

### Meta

`rustc --version --verbose`:
[code]

and

[code]

<details><summa

[2021-09-15 11:47] gkanwar commented on #88882
Thanks, I think you are right that this bug is an instance of that issue. Should this one be closed?

[2021-09-15 11:52] ehuss commented on #88957
Thanks for the report, this is a duplicate of #88924, which GitHub claims to have fixed.

[2021-09-15 11:52] #88957 closed

[2021-09-15 12:27] tanriol commented on #77174
What's the status of this? Is it ready for stabilization or waiting for something?

[2021-09-15 12:31] #88304 closed

[2021-09-15 12:32] Mark-Simulacrum commented on #87757
@Aaron1011 I'm seeing this in the 1.56 crater run -- did it perhaps slip into 1.56 and we need a backport?

[code]

* https://crater-reports.s3.amazonaws.com/beta-1.56-2/beta-2021-09-12/gh/d702e20.OnTheFlyATL/log.txt

[2021-09-15 14:01] GuillaumeGomez commented on #88792
I tried with:

[code]

No warning when running `rustdoc --test foo.rs`, however I got some when running `rustdoc --test foo.rs -Z unstable-options --display-doctest-warnings`. So I guess this issue doesn't exist. :)

[2021-09-15 14:01] #88792 closed

[2021-09-15 14:15] Mark-Simulacrum opened #88967 "Stabilizing Iterator::intersperse breaks a large number of crates"
The 1.56 crater run shows that there are at least 59 root crates (or repositories) broken by this change, and 260 crates.io crates along with 278 github repositories which depend on those.

See https://crater-reports.s3.amazonaws.com/beta-1.56-2/index.html > "regressed: root results" > E0034 for the root crates.

cc some threads with partial discussion:

* https://rust-lang.zulipchat.com/#narrow/s

[2021-09-15 14:37] Mark-Simulacrum opened #88969 "regression: Copy no longer implemented"
Found by 1.56 crater - https://crater-reports.s3.amazonaws.com/beta-1.56-2/beta-2021-09-12/reg/gmorph-0.1.0/log.txt

[code]

Bisections seems to point at https://github.com/rust-lang/rust/commit/371f3cd3fe523d0b398ed1db1620667c53ba7d02, cc @Aaron1011

[2021-09-15 14:43] Mark-Simulacrum commented on #88969
Potentially related:

* https://crater-reports.s3.amazonaws.com/beta-1.56-2/beta-2021-09-12/reg/mpstthree-0.0.13/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.56-2/beta-2021-09-12/reg/shaku-0.6.1/log.txt

[2021-09-15 14:49] Mark-Simulacrum opened #88970 "regression: HashMap/Set::from inference failures"
* https://crater-reports.s3.amazonaws.com/beta-1.56-2/beta-2021-09-12/gh/ImGabe.good-morning-api/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.56-2/beta-2021-09-12/gh/ahogappa0613.spexm/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.56-2/beta-2021-09-12/gh/alexanderbladyko.caverna_bot/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.56-2/beta-2021-09-12/gh/fifth-postul

[2021-09-15 14:59] Mark-Simulacrum opened #88971 "regression: int_roundings conflicts with existing APIs"
Crater run for 1.56 detected a considerable amount of breakage due to int_roundings on nightly. We have some support in the compiler to avoid stable breakage due to unstable features, but it does not work for this case (@cuviper theorized this is due to "the self inherent method is resolved before the &self trait method is considered at all."

There are:

* 236 regressed crates
* 580 regressed git

[2021-09-15 15:04] Mark-Simulacrum opened #88972 "regression: cycle in MIR opts"
Found by 1.56 crater -- https://crater-reports.s3.amazonaws.com/beta-1.56-2/beta-2021-09-12/gh/jkarneges.rust-async-bench/log.txt

[code]

cc @oli-obk

[2021-09-15 15:07] Mark-Simulacrum commented on #88827
rustc run:

* https://github.com/rust-lang/rust/issues/88967
* https://github.com/rust-lang/rust/issues/87757
* https://github.com/rust-lang/rust/issues/88969
* https://github.com/rust-lang/rust/issues/88970
* https://github.com/rust-lang/rust/issues/88971

[2021-09-15 15:20] Lee-Janggun opened #88974 "Latest nightly not able to find `extern crate rustc_mir`."
The latest nightly is not able to find the compiler crate `rustc_mir` for some reason.

Code:
[code]

Toolchain:
[code]

Platform: x86_64 Linux.

The above code fails to compile with `cargo build`, resulting in the following error message.

[code]

The code compiles fine with `nightly-2021-08-30`,  and after doing a manual search, I can confirm that problem occurs from `nightly-2021-09-09`. `night

[2021-09-15 15:23] Lee-Janggun commented on #88974
Thank you very much for the quick reply!

[2021-09-15 15:23] #88974 closed

[2021-09-15 15:43] samhatchell opened #88975 "thread 'rustc' panicked at 'attempted to read from stolen value',"
### Code

This was short-lived and we couldn't isolate it on a small system.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

This resolved itself before we could get a backtrace.

</p>
</details>

[2021-09-15 16:14] tmiasko commented on #88972
[code]

[2021-09-15 16:21] est31 commented on #84647
There is discussion in #88900 whether the desired (and now implemented on nightly) behaviour is good for Debug or not.

[2021-09-15 16:46] est31 commented on #88900
From the disruptiveness angle, I think it shouldn't matter how *disruptive* a warning change is, because that's the deal of `-D warnings` or `#![deny(warnings)]`: By enabling them, you get the duty of having to fix newly occurring warnings. I'm not going as far as @hellow554  that you shouldn't enable them, but that if you do, you lose your right to complain about breakage. If you don't like havin

[2021-09-15 16:52] tmiasko commented on #88972
Fixed by #88979. Sorry for taking over, but since I started looking into it already.

[2021-09-15 17:15] estebank commented on #41078
Triage: Current output:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=456b5353ab48999eb273c83cfc0ae6f7
[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0254e96af9155a0a99880e06b4a75b95
[code]

[2021-09-15 17:19] estebank commented on #36582
Triage: [current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7a1baccfc6d3dee44f94e4b32cfae75e)

[code]

[2021-09-15 17:28] IceSentry commented on #88900
I agree that just deriving Debug shouldn't hide unused warnings and making that change is nice. The issue is that if you actually use the trait for printing, it should count as using the value. Adding an `#[allow(unused)]` on a property that is both assigned and then printed using Debug doesn't feel like the right solution to this.

[2021-09-15 17:33] danakj opened #88982 "Windows builds are not deterministic with --crate-type=bin and path-prefix remapping"
The existing reproducible-build tests only verify that building with `--crate-type=rlib` produces the same output when building from different locations when using `--remap-path-prefix` to strip out the location differences.

https://github.com/rust-lang/rust/pull/87320 adds another way to do this with `--remap-cwd-prefix`. It added a test that verifies the same thing with rlibs, but also added a

[2021-09-15 17:33] the8472 commented on #88967
Given #48552, https://github.com/rust-itertools/itertools/pull/576 might solve this assuming it gets merged and released before 1.56 reaches stable.

[2021-09-15 17:41] danakj commented on #88982
2 tests that demonstrate this failure are being added in https://github.com/rust-lang/rust/pull/87320, with them disabled at the moment: https://github.com/rust-lang/rust/pull/87320/files#diff-ef6ac253a54908edf6e7bc0670cd3e2756ba7cea7d203016b7e4ca1520928701R17

- different_source_dirs_bin
- remap_cwd_bin

[2021-09-15 17:50] cuviper commented on #88971
This may be a nitpick on what is defined as a root cause, but `num-integer` itself shouldn't be failing to compile as a dependency. The direct log errors you show are only in its tests, fixed in rust-num/num-integer#44 but not yet published. Other crate errors come from use of its `Integer` trait, so it is a root cause in that sense, but I can't fix that in `num-integer`.

[2021-09-15 17:54] cuviper commented on #88971
I know it's not a blame game or anything, but I think the distinction matters when considering how many places have to be fixed to deal with this change.

[2021-09-15 18:05] ChrisDenton commented on #88982
Is #87825 perhaps related?

[2021-09-15 18:07] Mark-Simulacrum commented on #88971
Yeah, unfortunately, with this scope of breakage the number of root causes may not be terribly important -- many of those need somewhat manual intervention for the .lock bumps, in practice, which can take time.

[2021-09-15 18:12] SoftwareSheriff commented on #55146
I ran into what I think is a similar problem on stable rust 1.55, MCVE here: https://forge.typ3.tech/charles/rust_55146

[2021-09-15 18:34] matklad commented on #88900
Effect of this lint on rust-analyzer:  https://github.com/rust-analyzer/rust-analyzer/pull/10248/files

There were 8 cases of this firing. 3 of them were due to field being needed by `Drop`, and the fix was to add `_` to  field's name, as is idiomatic to signify that the stuff is needed for drop. 5 were true warnings where  dead fields were removed, and in 2 cases that transitively triggered remov

[2021-09-15 18:50] ZetaNumbers opened #88987 "`#![deny(unsafe_code)]` does not detect unsafe code generated by macro from a different crate."
I tried this code:

[code]

I expected to see this happen: error at the `unsafe_macro` invocation

Instead, this happened: it compiles

### Meta

`rustc --version --verbose`:
[code]

<details>
<summary>cargo expand</summary>

[code]

</details>

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-09-15 18:51] apiraino commented on #88747
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2388747.20Stack.20overflow.20.2F.20segfault.20in.20.60rustc.60.20when.20using.20a.20pa.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-09-15 18:51] matklad commented on #88900
I want to take a closer look at the bevy issue (https://github.com/bevyengine/bevy/pull/2811)! I want to understand why it can be considered a false warning -- to me, it seems like a case where the lint emits a true warning. More generally, I don't think that a mere fact of printing a struct with `#[derive(Debug)]` should be considered a usage.

Bevy usage is from a literal example, so I'd like to

[2021-09-15 18:52] apiraino commented on #88758
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2388758.20rustc.20docs.3A.20Re-exported.20types'.20implementations.20are.20l.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-09-15 19:10] danakj commented on #88982
Likely, thanks. I'm working on getting a Windows environment set up and can confirm then. Also attempting to sort out what clang does here, since Chromium has no such C++ problems.

[2021-09-15 19:12] ZetaNumbers commented on #88987
After closer inspection of `println!`'s generated code, i now understand why this is a necessity.

[2021-09-15 19:12] #88987 closed

[2021-09-15 19:20] PatchMixolydic commented on #88987
I presume that this is for the same reason `#![deny(unsafe_code)]` doesn't disallow the use of `Vec::push`: public macros that use `unsafe` internally are meant to be safe abstractions for unsafe code, and should be memory safe regardless of the input given to them. To export a macro that could cause UB in safe Rust (ex. having a public macro `to_bool!($x:ident)` that expands to `unsafe { std::mem

[2021-09-15 19:45] Stargateur commented on #68537
`scan` can do everything... that not a good argument in this context.

[2021-09-15 19:47] ca13ra1 commented on #50776
@Jerry1144 I’m having the exact same issue. Can’t seem to find a fix or workaround for it running High Sierra.

[2021-09-15 19:50] matklad commented on #88900
Thoughts about blast radius: it's very clearly suboptimal if the rollout path for big consumers like Fuchsia is to just allow the warning on every call site ([changeset link](https://fuchsia-review.googlesource.com/c/fuchsia/+/581062)). Even if each one of those 93 cases is a true warning, and there's indeed a bunch of deadcode in Fuchsia, the experience should somehow be nicer.

I think an ideal

[2021-09-15 20:04] Aaron1011 commented on #88925
Inside your implementation of `serialize`, you recursively call `serialize` instantiated with a *new* type - `&mut T`, where `T` is the type you started out with. This occurs because each level of recursion is adding a new `&mut` reference - you initially have a `&mut File`, and obtain a `&mut &mut File` by calling `by_ref` *on the `&mut T`* via it's `Write` impl.

You could either introduce a tra

[2021-09-15 20:08] joshtriplett opened #88989 "Tracking Issue for #![feature(unix_chown)]"
Feature gate: `#![feature(unix_chown)]`

This is a tracking issue for the `chown` family of functions. These functions change the UNIX owner and group of a file or file descriptor.

### Public API

[code]

### Steps / History

- [x] Implementation: #88953
    - [x] Blocking issue: `fchown` takes an `AsFd` by value, which prevents passing a reference.
- [x] Final comment period (FCP)
- [ ] Stabiliz

[2021-09-15 20:26] danakj commented on #87825
Perhaps this should be amended to say _compiler_ output but not linker outputs. PDB files are generated at the linking step, which is probably why https://github.com/rust-lang/rust/issues/88982 sees non-determinism for --crate-type=bin (linked) and not for --crate-type=rlib (not linked).

Passing `/pdbaltpath:%_PDB%` to the linker to put a relative path to the PDB files is probably the best choice

[2021-09-15 21:04] dtolnay commented on #88989
I think as part of stabilizing, we'll want to chat about what the end game is here. Does `std::os::unix` take on much more of [`nix::unistd`](https://docs.rs/nix/0.22.1/nix/unistd/index.html) or `nix` more broadly, maybe with less type safety if we aren't interested in defining vocabulary types for `Uid`/`Gid`? Or only the most widely used APIs? By what metric?

cc @the8472

[2021-09-15 21:20] joshtriplett commented on #88989
@dtolnay For my part, I'm not necessarily looking to take on all of `nix`'s functionality. My metric is, roughly, "is this something that's trivial to do with a common shell command, and likely to be desirable in minimal standalone programs". Rust works really well for tiny static binaries, chroots, containers, inits, and similar; it's also helpful for things that need to run with privileges. I'm

[2021-09-15 21:23] jyn514 commented on #88545
This was fixed by https://github.com/rust-lang/rust/pull/88776, right?

[2021-09-15 21:27] GuillaumeGomez commented on #88545
I'm waiting for #88816 before closing it.

[2021-09-15 21:30] nagisa commented on #88942
Typically the way defaults are chosen here is by using similar ones as those the most widely used distributions use. It seems like Debian at least targets MIPS IV, so I think we'd have no issue with merging a PR to adjust the target as appropriate.

[2021-09-15 21:30] stepchowfun commented on #88925
I understand that my example features [polymorphic recursion](https://en.wikipedia.org/wiki/Polymorphic_recursion). But why is that forbidden? Perhaps this limitation is a consequence of monomorphization?

After a bit of exploration, I discovered that taking the writer by reference (`writer: &mut T`, as you suggested), I can reborrow it for the recursive calls (`&mut *writer`). (I originally avoid

[2021-09-15 21:30] nagisa commented on #88942
As for the compiler flags, `-Ctarget-cpu=mips4 -Ctarget-features=-mips64r2` might do it?

[2021-09-15 21:41] nagisa commented on #88989
Just a drive-by comment, but names for these functions seem to not follow the broader conventions used within the standard library (e.g. `parent_id` and not `getppid`, though I guess I'm seeing a fair number of other functions that don't refrain from using the original abbreviated names either (`chroot`?)

[2021-09-15 21:51] cyborgyn commented on #88942
For me, I would also be very happy, if it would work. But unfortunately, it does not. Tested the exact same parameters, and without the patch, it still produced MIPS64 rel2 binaries. I suspect, there must be somewhere a target-cpu parameter validation hidden in the code, which silently (a.k.a. without warning, or error messages) removes the parameter, before it can be assigned to the LLVM target,

[2021-09-15 21:53] the8472 commented on #88989
Do we need them on the standard library though when alternatives exist? For example the pidfd extensions to `Command` make sense because one must opt-in at process creation time. Many of the methods in unistd don't need any supporting plumbing. So they seem redundant.

This is still nebulous. Shell scripts will often glue things together you can't find in the rust standard library. Even something

[2021-09-15 22:01] joshtriplett commented on #88989
@nagisa I agree, and under other circumstances, we'd probably call it something a little less abbreviated like `change_owner`. Here's my justification for why I think `chown` makes more sense than `change_owner` or similar here:

If we're adding a function that's likely to run on any target supporting `std`, such as `create_dir` or `rename`, we're likely calling different functions on different ta

[2021-09-15 22:01] Emilgardis commented on #88862
Managed to make it 0-dep 🎉

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a4aa190792b33bbe5e687cdfcb39fc65

Compiles on the playground on stable, timeout/sigkill on current playground nightly (2021-09-14)

[2021-09-15 22:06] Bryysen commented on #55146
Hey, I've also recently ran into something similar to the above while implementing a macro to generate boilerplate for error types
<details>
<summary>Weird suggestion</summary>

[code]
</details>

Unfortunately I've since fixed the issue, error messages without any span are rarely useful so i wasn't paying much attention at the time.
<details>
<summary>Here is another</summary>

[code]
</details>

[2021-09-15 22:11] joshtriplett commented on #88989
The same argument applies to many things in the standard library. `std::os::unix::fs::symlink` is fairly standalone; `FileExt` (`read_at`, `write_at`) could easliy be done standalone. `std::process:id` could be standalone. Many pieces of the standard library aren't fundamentally things that *have* to be in the standard library; they could be in crates.

I'm in favor of caution; we don't want to ad

[2021-09-15 22:22] Emilgardis commented on #88862
For future endeavors like this, I think it'd be very useful to develop a fuzz-like tool that in a working compiler:

1. inlines all crates
2. finds and removes unused types/paths
3. (optionally) Sprinkle/replace `todo!()` in method bodies (and replacing method calls) in a fashion such that we work upwards from `main`, branching if needed.

That was basically the workflow I used to get to this.

[2021-09-15 22:29] steffahn commented on #88862
It can't inline dependencies from other crates, but there's [`rust-reduce`](https://github.com/jethrogb/rust-reduce) which I've used successfully multiple times.

[2021-09-15 22:32] Emilgardis commented on #88862
It was not helpful when I tried it in this case, maybe it'll work better now that's it's all inlined.

[2021-09-15 23:10] jackh726 commented on #88862
Fantastic! Good job!

That would be helpful. The smaller the file, the better (though at least with this, I can probably get to this sometime this week).

[2021-09-15 23:24] Aaron1011 commented on #88969
This is caused by a bad interaction between `SelectionContex`'s 'intercrate' mode, the trait evaluation cache, and the `evaluate_root_obligation` added in https://github.com/rust-lang/rust/pull/85868

In PR https://github.com/rust-lang/rust/pull/85868, we create a new `SelectionContext` to 'speculatively' evaluate projection sub-obligations. If they evaluate to `EvaluatedToOkModuloRegions`, we dis

[2021-09-15 23:48] Aaron1011 commented on #87757
@Mark-Simulacrum That error is actually a previously-unreported bug that's present on the latest nightly. I'm working on a fix.

[2021-09-16 00:05] Noble-Mushtak commented on #88884
I think you may be misunderstanding the borrow checker and the effect the `|s: &'z ()| s` has. The closure `|s: &'z ()| s` is the identity function, but it has a type annotation on its argument which has a notable effect: it requires the argument to this function to be `&'z ()`. Therefore, the shared reference passed into this function must live for at least the lifetime `'z`. Otherwise, it will n

[2021-09-16 00:13] sajattack opened #88995 ""-Zbuild_std" produces a broken std on riscv32gc-unknown-linux-gnu"
I tried this code:

[code]

with this .cargo/config
[code]

 and a rv32gc ilp32d gcc linker from https://github.com/riscv/riscv-gnu-toolchain

I expected to see "Hello RISC-V from Rust!" on stdout.

Instead, this happened:
[code]
GDB backtrace indicates the data for the slice (stdout) is null.
[code]
`rustc --version --verbose`:
[code]

</p>
</details>

[2021-09-16 01:00] camelid commented on #88545
@GuillaumeGomez Can you add "Closes <this issue number>" to the PR description then, to make sure the issue is closed on merge?

[2021-09-16 01:31] PatchMixolydic opened #88997 "ICE when using const parameters typed at a type parameter in a generic const expression"
### Code
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=2179cc381b3ae906874ee9cddac1197a))
[code]

### Meta

`rustc --version --verbose`:
[code]

Also tested on the playground: `1.57.0-nightly (2021-09-14 c3c0f80d6081092faff8)`.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

@rustbot modify lab

[2021-09-16 01:57] bazald opened #88998 "rustc 4x compilation time slowdown"
Moving from rustc 1.54 to 1.55, I'm observing a 4x compilation time slowdown for the examples for the `hash-trie` crate I'm working on. [permalink to current revision](https://github.com/bazald/hash-trie/tree/2ddf0a19863d3a2b5d28e7246b96086fab402901)

I'm not sure if this is a bug, or some new compilation feature, but compilation times increasing from 45-60s to 180-240s is not something I was expe

[2021-09-16 02:27] jackh726 commented on #88910
Is this a beta regression?

[2021-09-16 04:05] jyn514 commented on #88998
@bazald does this only happen with --release or does `cargo build` also reproduce the issue? Can you run `cargo rustc --release --example set -Z time-passes` and post the output? (`-Z self-profile` would also be helpful, it will generate a `profdata` file you can upload.)

[2021-09-16 04:37] tarcieri commented on #60551
Somewhat related to this issue that I just discovered today: as an alternative to constants, it's possible to parameterize a trait with a const generic today on stable Rust using only `min_const_generics`:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1b2ad1c2f09b2c468f78b393a42e1dad

[code]

It's not quite the same thing, but it might be good enough for many of these po

[2021-09-16 04:40] #88583 closed

[2021-09-16 04:40] #88803 closed

[2021-09-16 05:10] jyn514 commented on #85066
Mentoring instructions: in https://github.com/rust-lang/rust/blob/34327f6eee06835f81a26765a70ad51d44343ba3/compiler/rustc_parse/src/parser/expr.rs#L1496, check if the token is a `token::Interpolated(token::NtExpr(expr) | NtLiteral(expr))` and the expression is an error; if so, use `delay_span_bug` instead of `struct_span_err`.

[2021-09-16 07:09] workingjubilee opened #89003 "No warning for violating AAPCS64"
I tried this code with `rustc how-to-violate-an-abi.rs --target=aarch64-unknown-linux-gnu`:

[code]

I expected to see this happen: At least a warning about violating the Procedure Call Standard for the Arm 64-bit Architecture ("AAPCS64").

Instead, this happened: the code passed without rustc erroring (until rustc errored on finding I haven't installed the right linker yet). Concerning. Perhaps I

[2021-09-16 07:23] hkratz commented on #88862
Stable/beta/nightly debug/release builds all work for me for both linked playgrounds. Is there anything else required to reproduce the issue?

[2021-09-16 07:47] bazald commented on #88998
@jyn514 I can say that non-release build times seem marginally slower, but nothing I'd have noticed without the `--release` issue. Definitely appears that some optimization is going haywire on this code in 1.55... or is very expensive.

Regarding your other requests, I'm afraid I get the following message:

[code]

This sent me down a rabbit hole. Which nightlies are roughly equivalent? Can I even

[2021-09-16 07:54] Emilgardis commented on #88862
The issue is the memory usage and time. The problem is much more pronounced in the larger example.

Time the difference between the two and you should see the issue.

Can this issue be labeled I-compilemem and I-compiletime?

[2021-09-16 08:03] Emilgardis commented on #88862
@rustbot label +I-compiletime +I-compilemem -I-hang

[2021-09-16 08:07] hkratz commented on #88862
I only get timeouts with beta/nightly if I use the default ''Run'', but not if I choose ''Build''.

With Build and nightly I get:
[code]
for the first link and
[code]
for the second.

With stable the times are 0.82s and and 4.83s but the timings vary widely on playground that this does not help much.

Why does Run time out only for beta/nightly?

[2021-09-16 08:10] Emilgardis commented on #88862
The regressed commit is currently not on stable, only beta and nightly, it will be promoted to stable soon. Hopefully if a fix can be found it can be beta backported

[2021-09-16 08:12] trevor-crypto commented on #88862
@hkratz Not sure if this is helpful, but I was able to reproduce the latest minimal playground locally by making a new bin crate and compiling with a debug toolchain. I can only see the hang when logs are output, otherwise it just take a few seconds.

Eventually the logs get to:
[code]
Where the last line repeats thousands and thousands of times

[2021-09-16 08:18] #84332 closed

[2021-09-16 08:20] SkiFire13 commented on #87825
Without that flag I get something like:

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

But with it it just prints:

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

This seems to happen because the pdb file is searched relative to the current working directory, and when running `cargo run` that's often not the directory with the executable and pdb files. `-

[2021-09-16 09:59] leonardo-m commented on #88424
The latest Nightly solves most of my problems, but I have two further problems. (Tell me if you prefer me to move them to new issues).
Here I don't how to define the const values at the bottom:

[code]
It gives me:
[code]

The other problem is an enhancement request. If I remove a "const" from the signature of new_unchecked the compiler doesn't give me much help to see the problem:

[code]
It give

[2021-09-16 10:18] fee1-dead commented on #88424
1. To accept that would require more design work.
2. Make a new issue for it. (should have a more helpful message)

[2021-09-16 11:03] oli-obk opened #89006 "Stabilize RFC 2345: Allow panicking in constants"
# Stabilization report

## Summary

This feature allows panicking within constants and reporting a custom message as a compile-time error.

The following code will become valid on stable:

[code]

The message looks like:

[code]

Motivation for this RFC can be found here: https://rust-lang.github.io/rfcs/2345-const-panic.html#motivation

More examples can be found here: https://github.com/rust-lan

[2021-09-16 11:06] leonardo-m opened #89007 "Suboptimal diagnostic with a missing fn const"
(This is a spinoff of Issue 88424).
Here the signature of new_unchecked lacks a "const" and the compiler doesn't give me enough help to see/fix the problem:

[code]

It gives:

[code]

[2021-09-16 11:07] leonardo-m commented on #88424
Thank you :)
Opened https://github.com/rust-lang/rust/issues/89007 for the diagnostic issue.

[2021-09-16 11:27] bishtpawan commented on #87841
The changes have already been updated in the source code.
![Screenshot from 2021-09-16 16-56-56](https://user-images.githubusercontent.com/46450720/133604119-68db9af8-6dd7-404b-9b78-344d7f7c93f6.png)

[2021-09-16 11:37] rustrial opened #89008 "GAT & TAIT with lifetime type parameters fail `std::marker::Sized` requirement"
Playing around with (the not yet stable) [GAT](https://github.com/rust-lang/rust/issues/44265) and [TAIT](https://github.com/rust-lang/rust/issues/63063) features I stumbled over the below problem, where type parameters to nested TAIT/GAT with lifetime parameters cause a "this type parameter needs to be std::marker::Sized" compiler error.

The following code fails to compile with below compiler er

[2021-09-16 11:55] b-naber commented on #88876
@rustbot claim

[2021-09-16 12:16] leonardo-m commented on #89007
I think this is a related diagnostic issue (there is no mention that Add should be const):

[code]
Gives:

[code]

[2021-09-16 12:27] kawaemon commented on #88247
I'm closing this issue because rustc 1.55 seems to fixed this. Thanks!

[2021-09-16 12:27] #88247 closed

[2021-09-16 12:28] DevinR528 commented on #81657
This should now be closed https://github.com/rust-lang/rust/pull/86809?

[2021-09-16 12:29] hkratz commented on #88998
Some findings on a Mac M1:
* cargo clean; cargo +1.54.0 build --release --example set   # 17.24s
* cargo clean; cargo +1.55.0 build --example set   # 4.75s
* cargo clean; cargo +1.55.0 build --release --example set   # 57.07s
* cargo clean; cargo +beta build --release --example set    # (1.56.0-beta.2) - 16.44s
* cargo clean; cargo +nightly build --release --example set   # (2021-09-15) --> 16.61s

[2021-09-16 12:46] vishadGoyal commented on #88802
So, what should be the ideal behavior in this scenario?
If `#![feature]` is used with only lib features and not with a language feature, should the compiler still throw an error or just a warning for `unnecessary_stable_feature_lint`?
Or should we always throw an error if `#![feature]` is used in beta or stable channels?

[2021-09-16 12:54] Migi commented on #88059
Fixed by #88999.

[2021-09-16 13:03] hkratz commented on #88998
 Regression bisection led to #84560 (!), fix bisection lead to the update to LLVM 13 (#87570).

[2021-09-16 13:13] jyn514 commented on #88998
cc @nikic

[2021-09-16 13:13] jyn514 commented on #88998
Oh wait, I misread - this is only an issue with two releases of the rust compiler? I'm going to close this then since it's fixed on nightly.

[2021-09-16 13:13] #88998 closed

[2021-09-16 13:15] jyn514 commented on #88802
@vishadGoyal you should still give a hard error, but it should be later in the compiler after the TyCtxt has been constructed, not during parsing.

[2021-09-16 13:31] Wardenfar commented on #85066
Hi @jyn514
I was searching for a first issue and i have a question :
What does ```delay_span_bug``` ? Because the function that you pin must return a ```PResult``` but ```delay_span_bug``` has return type ```()```
Sorry if i misread something

[2021-09-16 13:44] jyn514 commented on #85066
@Wardenfar delay_span_bug means "if the compiler finishes running without first reporting another error, panic". It's useful here because error tokens should always report in an error being reported.

I think anything you return is probably fine as long as it doesn't cause further cascading errors :)

[2021-09-16 14:08] vishadGoyal commented on #88802
I've made the suggested changes. https://github.com/rust-lang/rust/pull/89012

[2021-09-16 14:34] CGMossa opened #89013 "Wrong suggestion for const generic type"
Given the following code:  [(see play.rust-lang.org link)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=75c62ab6d72323d2227235bfce8537a3).

[code]

The current output is:

[code]

Notice the `TheTypeconst` in the above error message.

I've checked if this is the case on nightly, and at the time of this filing, this
is also an issue on nightly.

[2021-09-16 14:34] SadiinsoSnowfall commented on #88204
On the current nightly available in godbolt (`rustc 1.57.0-nightly (9bb77da74 2021-09-13)`). Every function compiles to a serie of `cmp` and `jmp` instructions except for the `memchr_general_case` case (u8 slice with more than 8 elements).

The only weird thign I found was on the assembly generated by the `b` and `d` expressions (see first message) on [`[T=u8; N=16]`](https://godbolt.org/z/G15cWdf

[2021-09-16 16:26] nikomatsakis commented on #63033
@rustbot claim

[2021-09-16 16:28] eholk commented on #74256
@rustbot claim

[2021-09-16 16:29] CryZe commented on #87906
Yeah that seems to be the ideal solution.

[2021-09-16 16:29] pnkfelix commented on #72956
@rustbot claim

[2021-09-16 16:34] estebank commented on #87211
_I_ am surprised. You can look at where `rustc_on_unimplemented` is handled. It is a method that collects a `Vec` called `flags`, you can add an `info!(?flags)` at the end of that function to see what the types we are looking for are on `_Self`. It might be that what you need to use is `_Self=&impl std::future::Future` instead.

[2021-09-16 16:48] nazar-pc commented on #86528
Crashed for me on serde_repr crate:
[code]

[2021-09-16 16:56] estebank commented on #66731
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=345c7ed5a1cbe87b919204ccb18e5887):

[code]

Desired output:

[code]

[2021-09-16 17:05] sapoykov opened #89018 "could not compile storing_lists_vectors"
Hello everyone. I practice using vectors. I wanted to iterate over mutable references to each element of the mutable vector in order to make changes to all elements. But somehow I got an error. I'm a beginner and would appreciate everyone's help!
My code:
[code]

Error: could not compile storing_lists_vectors

Additional info:
[code]

[2021-09-16 17:10] danielhenrymantilla commented on #63033
When I thought about this I struggled to come up with an instance of this, so I'm genuinely curious about it. In other words: could annotating a function with `#[fix_hidden_lifetime_bug]` lead to breakage somewhere along the way? If so, such an example could help us evaluate the different options at our disposal 🙂

[2021-09-16 17:16] the8472 commented on #88204
If you use `|` instead of `||` it vectorizes again.

[2021-09-16 17:30] kpreid commented on #89006
Or do we just produce the exact message the panic would produce?

My perspective as someone who is frequently trying to make good error messages:

1. Yes, there should be _some_ indication that the message text originated from user code — otherwise you'll get confused users asking “what does this compiler error mean” when using a library's `const fn`s.
2. On the other hand, it is very helpful to r

[2021-09-16 17:33] Aaron1011 commented on #89018
@sapoykov Could you post the full error message that you're getting?

[2021-09-16 17:54] sapoykov commented on #89018
@Aaron1011 Thanks a lot! I didn't quite understand how I should use `RUST_BACKTRACE=1` and I run: `cargo run RUST_BACKTRACE=1` after that i got the following error:
[code]
This error only happens when using vectors. Arrays, loops, tuples, strings, etc. This all works fine. I just don't understand what to do...

[2021-09-16 17:57] Aaron1011 commented on #89018
@sapoykov: Try running `RUST_BACKTRACE=1 cargo run`. Could you also zip and upload your `target` directory?

[2021-09-16 17:59] Wardenfar commented on #85066
@jyn514 i fixed it but for adding a test case : i run into an edge case
the output message of the macro : include_str! is not normalized with $DIR
the ui test is working only for me. Have you a tip or i have to create an issue ?
Thanks

[code]

[2021-09-16 18:05] sapoykov commented on #89018
@Aaron1011 Result:
[code]
[archive.zip](https://github.com/rust-lang/rust/files/7180042/archive.zip)

[2021-09-16 18:10] SadiinsoSnowfall commented on #88204
Could this be linked to #83623 in relation with the update to LLVM 13 ? The code vectorizes when using rustc 1.53-1.55 but not on the current nightly.

[2021-09-16 18:13] jyn514 commented on #85066
@Wardenfar you can use `normalize-stderr-test`: https://rustc-dev-guide.rust-lang.org/tests/adding.html#output-normalization. But I'm surprised $DIR doesn't work :/ that does seem like a bug.

[2021-09-16 18:20] Aaron1011 commented on #89018
@sapoykov That zip file you uploaded has an empty `target` directory. Are you sure it's the `target` directory in the directory where you're running `cargo run`?

[2021-09-16 18:22] Wardenfar commented on #85066
Sorry I was not clear : the $DIR is working for the test.stderr
But the path is not replace for the error comment in the test.rs because the path read by include_str is in the error message
@jyn514

[2021-09-16 18:28] sapoykov commented on #89018
@Aaron1011 Sure. I run ```cargo run``` and and made an archive. Here's one more ti
[new_archive.zip](https://github.com/rust-lang/rust/files/7180145/new_archive.zip)
me

[2021-09-16 18:33] Aaron1011 commented on #89018
@sapoykov: That zip file has the same issue :)

I'm pretty sure that this issue is due to local corruption of your incremental data. I would run `cargo clean`, which should fix your issue. If it occurs again, please leave a new comment on this issue.

[2021-09-16 18:35] sapoykov commented on #89018
@Aaron1011 You mentioned data corruption. I'm using a laptop and didn’t keep track of the battery charge and it shut down during compilation. Now I remembered that everything worked up to this point. And after I connected the charger, this problem appeared.

[2021-09-16 18:35] shepmaster opened #89020 "same-crate reexports lose documentation added to cross-crate reexports"
I tried this code ([ZIP of project](https://github.com/rust-lang/rust/files/7180122/repro.zip)):

[code]

**src/lib.rs**

[code]

**regular-items/src/lib.rs**

[code]

I then viewed the documentation for

- the crate:

    <img width="589" alt="the crate documentation" src="https://user-images.githubusercontent.com/174509/133665425-ddbe8348-c486-4725-8252-18a769e3fce2.png">

- the `prelude` module

[2021-09-16 18:36] sapoykov commented on #89018
@Aaron1011 OMG THANK YOU!!! I run ```cargo clean```. Everything works now. Thank you very much and I wish you all the best!

[2021-09-16 18:38] jyn514 commented on #85066
@Wardenfar don't put the whole name in the .rs file - you just need to put a substring. Something like `//~^^ ERROR No such file or directory`.

[2021-09-16 18:40] #89018 closed

[2021-09-16 18:42] jyn514 commented on #89020
Rustdoc is probably deciding to inline it for some reason - unless it's a change in behavior from an earlier release I don't think it's a bug. Missing the docs on `prelude::CONSTANT` is definitely wrong though.

[2021-09-16 19:00] philliard3 opened #89022 "ICE While Testing generic_const_exprs, adt_const_params, & const_fn_trait_bound features"
I was testing the limits of Rust's experimental const generics capabilities, and I came across this bug. The bug seems to occur only when remove_key is used.

I've had trouble minimizing this bug, so for context, I'll explain the program's purpose. The goal is to create a HashMap that has compile-time restrictions on what keys can be inserted. The first part of this program establishes a compile-t

[2021-09-16 19:13] LDVSOFT commented on #47851
Any updates here?

[2021-09-16 19:15] Aaron1011 commented on #87757
@Mark-Simulacrum The new instance will be fixed by https://github.com/rust-lang/rust/pull/88996

[2021-09-16 19:15] notriddle commented on #89013
@rustbot claim

[2021-09-16 19:16] Mark-Simulacrum commented on #87757
Thanks for the quick work! I'll beta-nominate the PR.

[2021-09-16 19:29] Emilgardis commented on #88862
Last one I think, the more I minimize it, the quicker it compiles (but still slower than 2021-08-25).
https://gist.github.com/Emilgardis/a93b1d38a3b3c8b33fc526b1f1075945

[2021-09-16 19:37] Kobzol commented on #83310
Just wondering, will this attribute be added to selected `std` items like [`Ref`](https://doc.rust-lang.org/std/cell/struct.Ref.html) (corresponding to the `await_holding_refcell_ref` clippy lint), or will it be left up to users to use newtypes with the attribute on top of these types to enable the warning? (sorry if this is the wrong place to ask)

[2021-09-16 19:54] Gelox commented on #88902
My PC is self built, the fan spins and the temperature is around 90 degrees C when the crash happens.

It crashes faster if it's crashed soon before, it seems very tied to the CPU temperature. I don't know how to check the power requirement, perhaps the temperature is correlating, but I find it unlikely since the temperature is quite high.
I realize there isn't anything rustc could do to prevent c

[2021-09-16 20:15] pnkfelix commented on #9307
I want to push back on one part of the above message.

I understand where @Mark-Simulacrum is coming from: Why do this work, when the thing we're checking is almost always part of libcore/libstd, and thus hopefully receiving significant review for correctness, especially when it comes to something like well-formedness.

But: What about the developers who are making alternative libstds? That's a sc

[2021-09-16 20:26] mohe2015 commented on #88902
I have literally no idea about this but quick googling suggest that 90°C is probably too high for longer periods (although miscomputations can probably happen anytime then). Maybe the heat spreader + thermal paste or so is not perfectly applied. Could of course also be some other problem like bad sensors / etc. You are not overclocked are you? Because that could definitely be a problem.

I agree b

[2021-09-16 20:27] the8472 commented on #88902
Assuming you're looking at the junction temperature (there are multiple temperature sensors in a CPU): for the i5-3570K _T<sub>jmax</sub>_ is 105°C. That means at that point it would start downclocking. Emergency poweroff would only happen above that temperature.

So either you're looking at the wrong temperature or it's not yet close to the thermal limits at that point. Anyway, finding hardware f

[2021-09-16 21:14] Mark-Simulacrum commented on #9307
FWIW, I think my perspective has changed a little since 2019, in part informed by the increased presence of alternative (or at least small change fork implementations of std + alloc (and in some cases core). So I think the checks are mostly valuable these days, particularly for any new lang items.

I do think we should be cautious about making sure added checks are complete (i.e., actually verify

[2021-09-16 21:46] marcospb19 opened #89027 "Confusing error message for borrow rule mismatch on `Result::map`"
[`playground link with all the code`](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9210b8a71e4eecbcdbb61716393913b9).

# Confusing message

When compiling:

[code]

The compiler gives this error:

[code]

Which is confusing, confuses a lot, specially for people who do not understand `for<'r>`.

# How to fix the code

This function requires `&T` but `T` was given, so the

[2021-09-16 21:50] Stargateur commented on #68537
@kamulos BY the way `.take_while(|x| x.is_some()).flatten()`

[2021-09-16 22:17] #61326 closed

[2021-09-16 23:22] CeleritasCelery commented on #51910
Now that constant transmutes are stabilized in #85769 does that mean this can be stabilized as well? Transmutes will allow ptr to usize casts, just in the less safe way.

[2021-09-16 23:27] Lokathor commented on #51910
transmuting a pointer to a usize (or the other way) is probably UB because of how LLVM works. This is an open question, but the current leaning is "don't do that".

[2021-09-16 23:42] RalfJung commented on #51910
This is explicitly excluded in the transmute docs:

The feature this issue was tracking has been removed in https://github.com/rust-lang/rust/pull/87020. I just forgot to close the tracking issue, so let's do that now.

[2021-09-16 23:42] #51910 closed

[2021-09-17 00:07] wwylele opened #89032 "Custom Fn* trait implementation doesn't properly fallback from Fn to FnMut, or FnMut to FnOnce"
I tried this code:

[code]

I expected to see this happen: Whether the commented code is commented or not, the code should compile

Instead, this happened: If the commented code is uncommented, it fails to compile. The error is
[code]

From my understanding, the error message kind of makes sense. `f` indeed doesn't implement `FnMut`, so `g` doesn't either. However, `g` still implements `FnOnce`, w

[2021-09-17 01:12] bbulkow commented on #88753
KB5005635 : still GSOD with WSL1 .

[2021-09-17 02:21] cole-miller commented on #88777
People post on URLO all the time with issues caused by reusing the same named lifetime parameter in too many places, e.g. `&'a mut S<'a>` in signatures or fields. It would be great to have the compiler spot (a subset of) instances where this is causing problems and suggest alternatives!

[2021-09-17 02:26] benbromhead opened #89034 "ICE with -Zprint-type-sizes"
### Steps to reproduce
Create a new cargo project with `cargo init`
Update Cargo.toml with the following:

[code]

Compile with the following:
`RUST_BACKTRACE=1 RUSTFLAGS=-Zprint-type-sizes cargo build --release`

[code]

Also happens with 2018 edition. Practically I know the library generating this is deprecated, however it's brought in from another dependency in my project.

[2021-09-17 02:44] chotchki opened #89035 "internal compiler error: encountered incremental compilation error with predicates_of(6fb04e5bc1990793-47e006422773ad5b)"
I received the following error running cargo test. As requested in the output I'm reporting before I run cargo clean.

The commit hash / link for this code is here: https://github.com/chotchki/feophant/commit/558df4b0a8e9af24b6241cdc82446522af017295

(Please note the unit tests fail since I'm in the middle of test driven development of this code).

### Compiler Output
[code]

[2021-09-17 02:52] workingjubilee commented on #88769
What appears to be a fix? is now present upstream at https://github.com/llvm/llvm-project/commit/dcba99418438ec1d624ad207674234bd2e9e3394

[2021-09-17 03:28] rodrimati1992 commented on #89006
I agree. I'd also expect multiline panic messages to stay indented, so that they can be easily distinguished from the following compilation errors.

I would prefer if both const panics and compile_error were consistent in that, and change this:
[code]
to the indented style you're proposing.

[2021-09-17 03:46] nbdd0121 commented on #88747
Digged a bit, this is indeed a stack overflow. Since rustc uses stacker, if we moved to a segemented stack instead of the native stack, std didn't know this is a stack overflow and so it appears as segfault instead.

The root cause is that compiler/rustc_mir_build/src/thir/pattern/usefulness.rs uses recursion.

[2021-09-17 05:00] jyn514 commented on #89034
Duplicate of https://github.com/rust-lang/rust/issues/86528.

[2021-09-17 05:00] #89034 closed

[2021-09-17 05:01] YaserMb commented on #50776
I am facing the same issue. I am installing facebook watchman....while installing watchman it is installing its dependency which is rust....and brew is not able to install rust on high serria

[2021-09-17 05:03] battaglia01 commented on #50776
Is it perhaps possible to install rust from some other source and make Homebrew think it's already installed?

[2021-09-17 05:39] kennytm commented on #82363
IMO introducing `AtomicT`/`NonZeroT` replacing `Atomic<T>`/`NonZero<T>` are the gravest API mistake Rust has ever made so +1 to introducing `NonZero<T>` again.

The 12 `NonZeroT` types are introduced in rust-lang/rfcs#2307 was to sidestep the question what should happen to `NonZero<CustomType>`, taking the precedent of `AtomicT` (but disregarding `Wrapping<T>`).

The Motivation no longer applies s

[2021-09-17 06:40] oli-obk commented on #88972
Still needs a backport

[2021-09-17 06:49] oli-obk commented on #87905
closing as duplicate of #30164

[2021-09-17 06:49] #87905 closed

[2021-09-17 08:32] darbysauter commented on #87934
I finally got around to testing your PR. I used:
`rustflags = ["-Crelocation-model=pie","-Clink-arg=-pie","-Clink-arg=--image-base=0x200000"]`

The binary is different compared to pic, but the GOT still contains absolute addresses, vtables still contain absolute addresses, etc. I am not sure entirely what is different between the two, but it looks as if I will just need to translate the addresses.

[2021-09-17 08:50] bjorn3 commented on #87934
`rustflags = ["-Crelocation-model=pie"]` will only compile your own code and cargo dependencies as PIE. The standard library is still compiled as PIC.  For it to become PIE too you need to compile the standard library yourself too using `cargo build -Zbuild-std`.

[2021-09-17 08:51] bjorn3 commented on #87934
Also the GOT will always contain absolute addresses at runtime. PIC/PIE only make the code use relative addresses. All data, including the GOT, still uses absolute addresses.

[2021-09-17 08:55] alekspickle commented on #89035
Got the same.
Specs:
[code]
no idea what it means tho

[2021-09-17 09:32] estebank opened #89038 "Point at bound introducing obligation of call parameter for where clause bounds"
The following code

https://github.com/rust-lang/rust/blob/38e576423dc56a006ccf0b72e106f09bdea6efc2/src/test/ui/where-clauses/where-clauses-method-unsatisfied.rs#L10-L20

emits

https://github.com/rust-lang/rust/blob/38e576423dc56a006ccf0b72e106f09bdea6efc2/src/test/ui/where-clauses/where-clauses-method-unsatisfied.stderr#L1-L9

It should point at the `where T : Eq` bound as well.

Noticed in http

[2021-09-17 09:44] #71309 closed

[2021-09-17 09:44] #81775 closed

[2021-09-17 09:44] #87496 closed

[2021-09-17 09:44] #88653 closed

[2021-09-17 11:27] estebank commented on #88634
Ideally we should always provide the `use foo::bar;` structured suggestion, but there are a few cases where that doesn't happen. I think it is when we can't find a good span to place the `use`. I think we should leave this open.

[2021-09-17 11:42] kpp opened #89039 "ICE on rustdoc output-format json"
I failed. Sorry.

### Code

[code]

### Meta

[code]

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

The compiler fails [here](https://github.com/rust-lang/rust/blob/e0c38af27cb5f6f961809601b717d6afc3b190ee/src/librustdoc/json/mod.rs#L179).

cc @adotinthevoid

[2021-09-17 12:01] e00E opened #89040 "Unclear documentation around HashMap iteration order"
The documentation for HashMap on the methods `keys`, `values`, `iter`, etc is phrased

The `std::collections` module documentation states

To me this makes it clear that I cannot expect any specific iteration order. What is not clear is whether the iteration order is persistent across multiple calls to the same HashMap without modification in between.
Are these two loops guaranteed to iterate in t

[2021-09-17 12:26] #88910 closed

[2021-09-17 13:03] m-ou-se opened #89042 "New non_exhaustive_omitted_patterns lint exposes unstable and hidden enum variants."
See https://github.com/rust-lang/rust/pull/86809#issuecomment-921737544

The `non_exhaustive_omitted_patterns` lint exposes `#[unstable]` and `#[doc(hidden)]` variants.

E.g. for `io::Error`:

[code]

But `Uncategorized` is both hidden and unstable, and should not be considered part of the public api.

It'd be good to fix this before it hits stable in 1.57.

[2021-09-17 13:03] m-ou-se commented on #89042
(cc @Nadrieril)

[2021-09-17 13:23] kngrektor commented on #49773
regarding SMB mounts on macOS: I checked ages ago and flock seems to work fine with SMB mounts it's specifically F_SETLK with fcntl that doesn't work.

[2021-09-17 13:34] RalfJung commented on #89006
There was some long discussion about error formatting in a previous PR as well, more than a year ago... maybe someone can dig up the link.

I think const panic messages should be consistent with other kinds of errors that stop const-evaluation. So, I am not a fan of special-casing const panic error formatting.  But I am open to improving const-eval error rendering in general.

[2021-09-17 13:42] jruderman opened #89044 "With over-parenthesized method that isn't called, E0615 suggests adding parentheses in the wrong place"
Given the following [code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b36d6150a12ac621b7d0b38568538f22):

[code]

The current output is:

[code]

The fix suggested by the compiler still has the problem, because the parentheses-to-call are added outside of the parentheses in the code.

Ideally the output should look like:

[code]

This is similar to the recently fixed

[2021-09-17 13:53] jyn514 commented on #89039
The second one is preserving the attribute `"#[stable(feature = \"rust1\", since = \"1.0.0\")]"` and the first is not.

[2021-09-17 14:40] Nadrieril commented on #89042
Is there an enum in std that has `#[unstable]` variants but isn't `#[non_exhaustive]` by any chance?

[2021-09-17 15:11] Aaron1011 commented on #89035
@alekspickle Try updating to the latest nightly. Some (but not all) instances of this but have been fixed.

[2021-09-17 15:12] is8ac commented on #76200
[code]

In `1.57.0-nightly (e4828d5b7 2021-09-16)` `baz` produces `warning: cannot use constants which depend on generic parameters in types`. `bar` does not.

[2021-09-17 15:27] kornelski commented on #65262
When is this going to be stabilized?

[2021-09-17 15:36] smoelius commented on #85440
FWIW, Go recently acquired such a feature (maybe that inspired this issue?):
https://go-review.googlesource.com/c/go/+/310033/
https://www.reddit.com/r/golang/comments/nktggq/as_of_go_117_youll_be_able_to_shuffle_the/

[2021-09-17 18:48] #63113 closed

[2021-09-17 18:48] #87456 closed

[2021-09-17 18:48] #87493 closed

[2021-09-17 18:48] #88844 closed

[2021-09-17 18:48] #87563 closed

[2021-09-17 18:54] jakubdabek opened #89052 "Type mismatch in `for`'s pattern shows wrong type of iterator"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5f0e3783d3fd771e9c586cb386bf5615)):

[code]

The current output is:

[code]

In both cases the expression underlined is `&xs`, but the second message shows a different type, the `<&Option<_> as IntoIterator>::Item`'s type, not `&xs`'.

[2021-09-17 19:10] joshtriplett commented on #65262
This is on track to be stabilized in 1.56.

[2021-09-17 19:21] nikomatsakis commented on #63033
OK, I've read up on this issue again. The basic diagnosis I had is correct. The fact that some of the lifetimes are unused isn't really especially relevant.

For example, in the [example from this comment](https://github.com/rust-lang/rust/issues/63033#issuecomment-565745749), the problem is simply that there are *two* lifetimes (from `_a` and `_b`) along with the `Box<dyn T>`. This still gets us

[2021-09-17 19:26] nikomatsakis commented on #63033
I just read over @danielhenrymantilla's [comment](https://github.com/rust-lang/rust/issues/63033#issuecomment-874085626). The reason that this "desugared" version works is because it introduces a new lifetime, `'_async_fut`, and this lifetime has a relationship to every other lifetime. So when we have to pick between `'a`, `'b`, and `'static`, we now also haev the choice of `'_async_fut`, which is

[2021-09-17 19:27] nikomatsakis commented on #63033
I'm not sure if I understand exactly what you were proposing here, @danielhenrymantilla. I thought at first that it meant:

[code]

would be able to capture `self` (because it would capture that lifetime). That would be a breaking change, but is that what you meant?

[2021-09-17 19:38] darbysauter commented on #87934
What is the difference between PIC and PIE I can't seem to find any good explanations online. There also seems to be 2 different factors, compiling as PIC/PIE and linking as PIC/PIE.

What I understand now is that either way PIC or PIE needs to have addresses translated depending where it is placed in memory, so what is the advantage of PIE?

[2021-09-17 19:59] tarcieri opened #89054 "Better diagnostics for out-of-scope traits"
[See this Twitter thread with @ekuber for context](https://twitter.com/bascule/status/1438888671923654666)

The current diagnostics are able to give this helpful suggestion when a trait is not in scope:

[code]

That's great, however [that helpful suggestion is often buried at the bottom of the error message under a large cascade of obligations which distract from the problem being an out-of-scope

[2021-09-17 20:05] bjorn3 commented on #87934
PIE is a performance optimization over PIC. I think it basically puts all data (local or imported) at fixed offsets relative to the executable code, copying data from dylib dependencies and updating their GOT if necessary and avoids the GOT for non-imported functions, thus making them unoverridable by dependencies or `LD_PRELOAD`. It still uses the GOT for imported functions. Be aware that I am ce

[2021-09-17 20:56] the8472 commented on #83298
This is fixed on current nightlies, probably due to the llvm13 update.

[2021-09-17 20:56] #83298 closed

[2021-09-17 21:24] rsalmei commented on #22649
This still seems to fail today in Rust 1.55:

[code]

with:
[code]

Exchanging `&cmd` for `&*cmd` or `&cmd[..]` makes it work.
Is this intended or really a bug that the coercion does not trigger here?

[2021-09-17 21:39] workingjubilee commented on #87906
That is, indeed, likely going to be the case. Most of the question that this issue, and the PRs branching off of it, pertains to is which `Instant` is going to be normalizing into. It's a type already used in a lot of code, so ideally we would not simply deprecate it.

And we can certainly attempt to statically guarantee things like "what does the host support?", as we know what the host is at com

[2021-09-17 21:53] guswynn commented on #84937
I have been working on something in the `impedance` crate, and I think I have hit a problem like this? simplified its: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bbb3de13b6ecfcdf428cc6bda77bf9e2

I am trying to apply the same workaround as @Manishearth, but with a slightly different trait setup (I need to use a trait to be able to bind the closure's input lifetime to

[2021-09-17 22:01] nikomatsakis commented on #63033
Fix in https://github.com/rust-lang/rust/pull/89056

[2021-09-17 22:25] FabianWolff opened #89057 "Add a suggestion to make inaccessible items accessible"
Follow-up for https://github.com/rust-lang/rust/pull/88838#issuecomment-921720642. After #88838 is merged, to help users who are still relatively unfamiliar with Rust, we should add a suggestion to make local inaccessible items accessible, by making the item (and its parents, as necessary) `pub`.

[2021-09-17 23:22] asomers opened #89058 "Drop support for FreeBSD 10 from std"
Rust's standard library currently uses a FreeBSD 10 compatible ABI.  But FreeBSD 10 went EoL on October 3, 2017.  And now FreeBSD 11 will itself be EoL on September 30, 2021.  Isn't it finally time to drop FreeBSD 10 support and update the standard library's ABI to FreeBSD 12, or at least 11?

[2021-09-17 23:33] danielhenrymantilla commented on #63033
, effectively defining it, for all intents and purposes, as the intersection lifetime! (which indeed meets the bounds) Ah yes, I see now how there are definitely two distinct issues at hand, here, and that my fix for one just happened to fix the other as a byproduct 😅

___

So, while your PR will fix the `async fn` one, I'm personally still concerned about the case of the existential capturing bot

[2021-09-18 00:22] Manishearth commented on #84937
No idea

[2021-09-18 00:40] thinhcode opened #89060 "Linkchecker tool report failed for the non-English heading"
- [x] I have checked the latest `main` branch to see if this has already been fixed
- [x] I have searched existing issues and pull requests for duplicates

URL to the section(s) of the book with this problem:
https://rust-lang-vn.github.io/book/ch01-02-hello-world.html

Description of the problem:
I'm translating the section `1.2. Hello, World!` into Vietnamese. For the link:
[code]
After I commit

[2021-09-18 00:44] carols10cents commented on #89060
To be clear: we are not currently merging translations into TRPL's repo and shipping them with Rust, so this won't break Rust currently, but we might someday and it'd be nice to have this fixed in general :)

[2021-09-18 01:29] jackh726 commented on #84937
This is fixed now, presumably by #85499. `attach` needs a `Y: for<'de> Yokeable<'de>` bound, but otherwise, this works

[2021-09-18 06:14] bhgomes opened #89063 "Const values in traits not treated the same as global const values for `const_err`"
The following code only reports one error instead of two:

[code]

The `COUNT` variable inside of the `Constants` implementation does not trigger a [`const_err`](https://github.com/rust-lang/rust/issues/71800) error where `OTHER_COUNT` does.

[code]

[Rust Playground Link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d0189455b380cf000ab75df1d290193e)

[2021-09-18 06:27] hkmatsumoto opened #89064 "Suggest annotating traits rather than methods when appropriate"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d2a32fe1f3460b6583534eb53d045165

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

When a user called `into()` with an annotation, it's helpful to suggest `T::from(_)` too.

[2021-09-18 06:47] EFanZh opened #89065 "Add `NonZero{I,U}{8,16,32,64,128,size}::{MIN,MAX}`"
Currently, there is no way to obtain a `NonZero*` value without introducing unsafe codes or `unwrap()` calls, providing these constants can make it easier to use these types. For example:

[code]

[2021-09-18 07:13] matthiaskrgr opened #89066 "ICE: ./src/test/ui/inference/infer-arg-test.rs: not yet impemented with -Zsave-analysis"
### Code
`./src/test/ui/inference/infer-arg-test.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-09-18 07:54] chansuke commented on #89064
@hkmatsumoto If it's ok, I would like to give a shot. If you plan to work on it, please go ahead.

[2021-09-18 08:29] hkmatsumoto commented on #89064
It's yours :)
@rustbot assign @chansuke

[2021-09-18 08:41] chansuke commented on #89064
@rustbot claim

[2021-09-18 09:20] smoelius commented on #85440
@stchris Have you tried implementing this?

[2021-09-18 12:48] vptvpt opened #89067 "Suggest implementing more traits for array type itself instead of using the traits of slice type"
We know that arrays can be automatically borrowed as slices,and it is convenient when we want to use a trait that has already been implemented for slice type.However,sometimes,when we want to use generics and the trait bounds,we will get into trouble.

I tried this code:
[code]
I expected to see this happen:
[code]
Instead, this happened:
[code]
Maybe we can turn the array into slice first and avo

[2021-09-18 13:04] DevinR528 commented on #89042
The problem is that `std::io::ErrorKind`, because it is `non_exhaustive`, triggers the lint with a `NonExhaustive` constructor in the list of missing patterns so it will only ever say that it's missing `_` (wildcard). This behavior has hidden the need to filter for these variants or care about them at all.

error [E0423](https://doc.rust-lang.org/stable/error-index.html#E0423), when constructing t

[2021-09-18 13:29] shirshak55 opened #89070 "ICE on substrate template repo on latest nightly"
Sorry, I could't reproduce as substrate repo is very big tbh.

Here are the errors:

[code]

And even if I remove target dir and compile after some time lets say 20 min the ICE appears again. It seems to be a bug in the compiler.

Repo: github.com/substrate-developer-hub/substrate-node-template

Rust Version:
[code]

[2021-09-18 13:35] Nadrieril commented on #89042
We'll want to completely ignore those variants even for exhaustiveness checking, so it's best to just not list unstable variants in `SplitWildcard::new()`. `doc(hidden)` is more subtle because as you say we don't want to change the logic in that case. But I think we can still omit them from the lints. For that we can do like you did in `apply_constructor` in your previous PR: filter out those vari

[2021-09-18 14:37] #77175 closed

[2021-09-18 14:45] jonay2000 commented on #88658
Is that even possible? the error message is generated by rustc but to give the proposed message it needs to know about the dependencies defined in your cargo.toml file (so cargo's responsibility). That means cargo needs to communicate to rustc not just the libraries rustc should be using, but also which libraries are defined but it should not use. And I'm not sure if that's something possible righ

[2021-09-18 14:45] jonay2000 commented on #88658
Is that even possible? the error message is generated by rustc but to give the proposed message it needs to know about the dependencies defined in your cargo.toml file (so cargo's responsibility). That means cargo needs to communicate to rustc not just the libraries rustc should be using, but also which libraries are defined but it should not use. And I'm not sure if that's something possible righ

[2021-09-18 14:49] Manishearth commented on #84937
@jackh726 do you think it would be productive to add a regression test, or should we just close this issue?

[2021-09-18 15:00] jackh726 commented on #84937
Yeah, I think we can probably just close it. There are a bunch of tests added in/after #85499 that probably cover this case.

[2021-09-18 15:00] #84937 closed

[2021-09-18 15:43] tonyfinn opened #89071 "Fingerprint error with predicates_of"
I encountered the following internal compiler error when running `cargo run --bin olympia_native` after previously running a [tarpaulin](https://github.com/xd009642/tarpaulin) instrumented test suite. Earlier today I had upgraded from rustc 1.54.0 to 1.55.0. After running `cargo clean` then the same cargo run command, the issue went away.

### Code

https://gitlab.com/tonyfinn/olympia/-/blob/maste

[2021-09-18 16:04] mjclements commented on #89065
I think this sounds like a good feature, and I would like to claim it for a first contribution.

[2021-09-18 16:04] mjclements commented on #89065
@rustbot claim

[2021-09-18 16:08] Aaron1011 commented on #89070
This was fixed by https://github.com/rust-lang/rust/pull/88945

[2021-09-18 16:19] phaazon commented on #76560
I’m currently trying this feature to make a change in `luminance` and just hit a compiler error. Not sure whether I should provide the snippet here, but in doubt, here it is.

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1f3b71a20a79dee66d9a5e58c3d3b138

[2021-09-18 16:24] str4d commented on #44690
I cannot find any existing issue covering this particular case:

I currently use `#[cfg_attr(rustfmt, rustfmt_skip)]` on some macros, to prevent `rustfmt` from applying unreadable formatting to them. Rust tells me that "`cfg_attr` is deprecated for rustfmt and got replaced by tool attributes". Adding `#![allow(clippy::deprecated_cfg_attr)]` to my crate does not silence the `cfg_attr` warnings, whi

[2021-09-18 16:57] petrochenkov commented on #44690
This is one of several stability checking holes in expression/statement attributes :)
Without bugs it would be unstable, but this specific case is unlikely to change before stabilization, so we are not fixing the bugs to avoid breaking people's code, and are waiting for stabilization to make it supported de jure instead.

[2021-09-18 16:59] petrochenkov commented on #44690
The workaround is to place `#[rustfmt::skip]` on some outer block or function, and not directly on the expression.

[2021-09-18 17:22] Commeownist commented on #72016
I'm probably missing some context and I'm no GCC guru, but I'm pretty sure that [GCC may use red zone](https://github.com/gcc-mirror/gcc/blob/534c5352a02485a41ebfb133b42edbbecba7eba3/gcc/config/i386/i386.c#L426), depending on platform. There's even `-mred-zone` flag to explicitly enable it.

[2021-09-18 17:28] bjorn3 commented on #72016
It shouldn't use the red zone while running the `asm!()` block. It is fine to use it outside of the `asm!()` block, but it must be considered as clobbered by the `asm!()` block like it would by direct calls.

[2021-09-18 17:52] estebank commented on #83310
@Kobzol, appropriate `std` items will be annotated with this attribute, likely on individual PRs independent of the lint's implementation.

[2021-09-18 18:01] kpp commented on #89039
Here goes MRE:

[code]

[code]

[2021-09-18 18:16] camelid commented on #88637
No longer blocked! The bootstrap compiler is now 1.56.

[2021-09-18 18:19] camelid opened #89074 "Switch rustdoc to Rust 2021"
*See also #88637.*

[2021-09-18 18:20] camelid commented on #89074
@m-ou-se I added this issue to "Post-stabilization cleanup" since #88637 is also there. Let me know if that's incorrect!

[2021-09-18 18:24] scottmcm commented on #88900
This seems like the core, to me.  `unused` is already a lint group, so one possibility would be to have `unused_field` and `unused_outside_derive` as separate sub-lints, so one could be allowed in the build system during the upgrade to unblock.

[2021-09-18 18:33] rubdos commented on #84970
I have a case running in my public CI, `rustc 1.55.0`: https://gitlab.com/whisperfish/whisperfish/-/jobs/1602196024
Code is AGPLv3, so feel free to toy (and if necessary, send me a mail for an exception).

Seems it cannot get over the test build of a proc macro. Shall I try to open a bug report for this?

[2021-09-18 18:36] Aaron1011 commented on #84970
@rubdos: Opening a new issue would be great, thanks.

[2021-09-18 18:40] kpp commented on #89039
Duplicate of https://github.com/rust-lang/rust/issues/83057

[2021-09-18 18:40] #89039 closed

[2021-09-18 18:54] camelid commented on #88638
(Note that this is blocked on https://github.com/rust-lang/rust/issues/88638#issuecomment-915472783. The bootstrap compiler is now 1.56, so that's not a blocker.)

[2021-09-18 18:58] Aaron1011 commented on #89071
@tonyfinn Do you remember the exact tarpaulin command that you ran?

[2021-09-18 19:04] Aaron1011 commented on #89071
Also, I think this should be fixed in the latest nightly.

[2021-09-18 19:35] crumblingstatue commented on #81673
Here is a complete example
[code]
[code]

If we change this into an example about moving, we get a nice explanation about the effects of the loop:

[code]

[code]
Maybe something similar is possible for E0502/E0506 as well.

[2021-09-18 19:36] asquared31415 commented on #81673
I think these are technically different errors, borrowing versus assignment, but they are both extremely similar and would benefit from mentioning the loop if possible.

[2021-09-18 19:36] trrk commented on #88884
I didn't understand the code correctly. I think I understand it now thanks to your explanation. Incidentally, I also didn't understand that references with an unacceptable lifetime, such as `&'z &'z ()` generated in do_nothing, cannot even be generated, regardless of whether they are retained after generation or not.

By the way, I have a new discovery. This code may have the same problem as `'z:

[2021-09-18 20:04] crumblingstatue commented on #81673
I think even if the design for a more helpful diagnostic is yet to be made, in the meantime adding a note at the end could help a lot too.

`Note: The borrow occurs in a loop.` or something similar

[2021-09-18 20:09] memoryruins commented on #76560
@phaazon for bugs like these, it's worth opening new issues rather than posting to tracking issues. this appears to be same ICE during type inference mentioned in #83249. if the types are provided in the `wrap2` calls in `main`

[code]

 (and the `const_fn_trait_bound` feature is enabled in your case), it compiles successfully.

[2021-09-18 20:45] DevinR528 commented on #89042
So if an enum (should we do struct fields too?) has a `doc(hidden)` attribute on a variant and is not crate local we now treat it like it's `non_exhaustive` and just return a witnesses list of `Wildcard`?

[code]
Will now give this for the first match
[code]
but this for the second
[code]

[2021-09-18 21:11] AZMCode commented on #75075
Perhaps to resolve this in an interesting manner, a new variadic "path!()" macro could be included that resolves a set of path segments into a platform-specific path at compile time. Problem solved, no need to change any of the include macros.

[2021-09-18 21:20] mjclements commented on #89040
I am going to ty to read through the relevant parts of the lib, figure out the behavior, test it, and update the docs.

[2021-09-18 21:24] Mark-Simulacrum opened #89080 "RFC 2229 - closure migration suggestion bug?"
https://github.com/rust-lang/rust/pull/89075/files#r711626103 notes that our migrations suggested adding a `let _ = &config;` here. However, I would've expected that to not happen, because config is not a type with significant destructors (as far as I can tell). Maybe there's a bug here?

config has type [LangString](https://github.com/rust-lang/rust/blob/d6cd2c6c877110748296760aefddc21a0ea1d316/s

[2021-09-18 21:46] Mark-Simulacrum commented on #88118
Reopening -- I was able to trigger this on rustc_errors:

[code]

Going to try to minify...

[2021-09-18 21:46] newpavlov commented on #65262
@joshtriplett
Great! What about the proposed MSRV-dependent dependency version resolution? Should we open a separate Rust or Cargo issue?

[2021-09-18 22:03] Mark-Simulacrum commented on #88118
Triggers with the following (rustc --edition=2021), both on beta and nightly. I *think* this requires if let guards, though.

[code]

[2021-09-18 22:55] nagisa commented on #89058
Ultimately users of the platform are best positioned to answer this question. There are probably quite few casual users of FreeBSD around here, so somebody who is actively involved in the FreeBSD community would likely be best positioned to provide some guidance here.

[2021-09-18 23:08] asomers commented on #89058
Well, I'm a FreeBSD developer.  And I can tell you that we're very proud of our backwards-compatibility, but it doesn't require maintaining new tools for old OS versions.  Instead, if a person must use FreeBSD 10, the best way to build new software for it would be to use a snapshot or fork of an old version of the Ports tree.  That would include an older version of rustc, one that was known to wor

[2021-09-18 23:14] ehuss commented on #88621
@rust-lang/lang  Nominating to verify what we should do.  It was observed that the following has been allowed forever:

[code]

Given that this has always been allowed, I'm thinking it would be awkward to reject the same code if it has an explicit discriminant.  I'm not even certain it is possible to do that (at least not easily).  I don't see a way to check whether or not a variant has a discrimi

[2021-09-18 23:18] nbdd0121 commented on #88621
I think we should take option 3 for now and add a future-compat lint to prevent `Fieldless::Foo() as u8` style casting.

[2021-09-18 23:32] illicitonion commented on #88621
I believe adding something like this to `CastTy::from_ty` should do the job, and the caller can error appropriately? `d.variants.iter().all(|v| if let VariantDiscr::Explicit(_) = v.discr { false } else { true })`

---

Personally, I lean strongly towards "`as` casts for enums were a mistake", so adding a future-compat lint to avoid them, and leaning into alternative APIs such as implemented in htt

[2021-09-19 00:03] ehuss commented on #88621
I don't think that would handle relative variants like:

[code]

[2021-09-19 00:25] nbdd0121 commented on #88621
[code]
should do the job. We can add this to `is_payloadfree`.

[2021-09-19 00:42] SUPERCILEX opened #89084 "Conditionally add stdlib APIs based on edition?"
Hi,
There's been some discussion on [this thread](https://internals.rust-lang.org/t/add-zero-cost-builder-methods-to-pathbuf) where it seems like the best solution would be adding methods to a stdlib API, but only having them become active in a new rust edition. Is this possible?

[2021-09-19 00:46] Noble-Mushtak commented on #88884
My understanding is that you are correct: Any lifetime parameter of a function must outlive the body of that function.

Also, I agree that your new example should not compile, it has the same problem as the original example.

[2021-09-19 02:04] camelid commented on #82381
I think getting it from `Cache.paths` might be a simpler route to go; I think it _might_ handle re-exports for you.

[2021-09-19 02:07] xunfeng1980 opened #89085 "Run hello world error on m1 mbp(macOS 12.0 (21A5506j))"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-09-19 03:07] joshtriplett commented on #65262
@newpavlov That was moved to future work because, among other things, it would need some confirmation that the proposed approach to resolution is something we'd want to do. Given such confirmation, someone would then need to submit a PR implementing it.

[2021-09-19 04:47] ryanolf commented on #79546
I am also seeing this panic, though perhaps unrelated because I don't have those flags. I don't have a minimal example yet. Here's my trace. Let me know if I should make another bug.
[code]

[2021-09-19 06:00] shirshak55 commented on #89070
Alright, I think I will close this issue as it seems it is a duplicate of another issue.

[2021-09-19 06:00] #89070 closed

[2021-09-19 07:21] ryanolf opened #89088 "trimmed_def_paths constructed when indirect_structural_match allowed"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-09-19 07:22] ryanolf commented on #89088
The same error is present in the stable toolchain.

[2021-09-19 07:28] ryanolf commented on #89085
I also have m1 map and nightly 2021-09-18 does this for me but 2021-09-17 is fine.

[2021-09-19 07:31] ryanolf commented on #79546
I found a minimal example and opened a new issue, #89088. Same error message, very different example. Seems unrelated.

[2021-09-19 07:51] programmerjake commented on #72016
demo of gcc using redzone even during inline asm:
https://gcc.godbolt.org/z/WGY5G7YMz

[2021-09-19 09:47] LingMan commented on #89065
Not that I mind the addition of these constants in general, but your motivating example is a bit unfortunate in that it's a slightly obfuscated `saturating_add`. It would be better served by:
[code]
Yes, that does contain an `unwrap`, but it's provably unreachable and really the right tool for the job here. (Slightly better codegen too https://rust.godbolt.org/z/Tansn3Y61)

[2021-09-19 09:50] daira opened #89091 "Running `x.py build` (after selecting 'c' to modify LLVM/codegen in setup) requires installing ninja, and it is not obvious how to do that"
I'm trying to build the compiler for the first time, following the instructions at https://rustc-dev-guide.rust-lang.org/building/how-to-build-and-run.html

[code]

## Possible solutions

One of:
* documentation at https://rustc-dev-guide.rust-lang.org/building/how-to-build-and-run.html explaining how to install `ninja`, or
* documentation at https://rustc-dev-guide.rust-lang.org/building/how-to-b

[2021-09-19 09:57] daira commented on #89091
Here's the backtrace:
[code]

[2021-09-19 09:59] daira commented on #89091
Adding an `[llvm]` section with `ninja=false` to `config.toml` in the root does not appear to make any difference:
[code]

[2021-09-19 10:07] daira commented on #89091
The next thing I tried was to uninstall `ninja` and install `ninja-build`, which resulted in this error instead:
[code]

[2021-09-19 10:16] EFanZh commented on #89065
There are projects that forbid the usage of `unwrap` with Clippy. Using `unwrap` will require explicit `#[allow(...)]` attribute and maybe proper comment, which seems a little too much.

[2021-09-19 10:18] klensy commented on #89091
You can set `download-ci-llvm = true` if you don't want to play with llvm.

[2021-09-19 10:18] daira commented on #89091
I do want to play with llvm.

Removing the `[llvm]` section, doing `rm -rf build/x86_64-unknown-linux-gnu/` and running `./x.py build` again fixed it.

[2021-09-19 10:56] nbraud commented on #34651
@alexcrichton What are the blockers for stabilizing `-Csplit-debuginfo` on Linux?

[2021-09-19 11:02] davidtwco commented on #34651
My understanding is that #81024 is the primary blocker, it’s on my todo list and I hope to get to it soon.

[2021-09-19 11:14] Nadrieril commented on #89042
Yeah exactly! Thanks for the detailed example. What should we do for the following?
[code]
I think "patterns `B` and `_` not covered" is better than just "pattern `_` not covered" even though it looks a bit weird. Maybe "patterns `B` and others not covered"?

I didn't know we could `doc(hidden)` a struct field, but if so then we can do something similar there yeah.

I don't feel competent to make

[2021-09-19 11:21] Thomasdezeeuw commented on #88900
As another data point that is slightly different: I have a use case where I have a bunch of structs that are only written to and then logged using their (derived) `fmt::Debug` implementation and the warning still triggers. Basically the following code.

[code]

Would it be possible to make an exception for this case as the fields are actually read?

[2021-09-19 11:22] matklad commented on #68537
`scan` and `map_while` are equivalent:

[code]

`map_while` even is more general, as you can get the final state after the iteration is finished.

So, I'd say `map_while` is what we should have had from the begging, and `scan` is just an overly complicated version of that with an extra `state` argument, which makes sense in a purely functional language, but is unnecessary in Rust.

[2021-09-19 11:49] Amanieu commented on #72016
LLVM also uses the red zone, however it provides an internal `alignstack` attribute (not exposed in Clang) which disables use of the red zone. Rust's `asm!` enables `alignstack` by default unless `options(nostack)` is used. The problem is that GCC doesn't have an equivalent of `alignstack` to disable use of the red zone and ensure the stack pointer is properly aligned at the point of the `asm!`.

[2021-09-19 12:38] est31 commented on #88900
Aren't the unused lints influencing each other? Right now, when I initialize an unused field of a struct with the result of a function, the function does not show up as unused. But often there is an avalanche of lints firing. E.g. when function foo calls bar, and foo is unused, then both foo and bar are shown as unused. So I'm not sure if splitting up the dead code lint group is a good strategy *i

[2021-09-19 13:02] jyn514 commented on #89091
Yes, this is what fixed it - I don't know what the cargo package you installed is, but the Debian package is the one rustbuild expects.

Hmm, I would rather have bootstrap tell you that directly when it gives an error that ninja isn't found, that seems more helpful (and easier to keep up to date). Are you interested in making a PR for that? :)

[2021-09-19 13:06] jyn514 commented on #89091
The error checking for this lives in https://github.com/rust-lang/rust/blob/7a3d1a5f3dfeaf5177885fedd7db8ecc70670dc1/src/bootstrap/lib.rs#L1498.

[2021-09-19 13:09] daira commented on #89091
Yes I can make a PR for that.

[2021-09-19 13:14] daira commented on #89091
https://github.com/ninja-build/ninja/wiki/Pre-built-Ninja-packages describes how to install ninja packages on a variety of platforms, so I'll have the error message link to that.

[2021-09-19 13:16] steffahn opened #89094 "Lifetime elision not working properly with `self: &mut Rc<Self>`"
I tried this code:

[code]

I expected to see this happen: Code compiles

Instead, this happened:
[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e338124ea4ba1c7f3dbb7a46e3d7a7ce))

### Meta

Happens on stable, nightly, and older rust versions

<hr>

Same problem for inherent impls
[code]

[2021-09-19 13:18] daira commented on #89091
One thing I'm confused about is that adding
[code]
to `config.toml` was not sufficient to fix the problem originally. I would have expected that to work regardless of whether ninja was installed.

[2021-09-19 13:24] steffahn commented on #89094
Ah, there it is (duplicate): #69064

[2021-09-19 13:24] #89094 closed

[2021-09-19 13:25] GuillaumeGomez opened #89095 "rustdoc: Tracking issue for generating links to definitions on source code pages"
This is a tracking issue for generating links to definitions on source code pages.
The feature can be enabled by passing `--generate-link-to-definition -Zunstable-options` to a nightly `rustdoc`.

### Outstanding work

 * [ ] Improve "jump links" UI: for now it's highlighted background but it was suggested we could try an "underline dotted": https://github.com/rust-lang/rust/issues/88120
 * [ ] Ad

[2021-09-19 13:26] steffahn commented on #69064
I don’t see the relevance of F-arbitrary_self_types, as `&Rc<Self>` works on stable without any feature flags.

@rustbot label -F-arbitrary_self_types, +A-lifetimes

[2021-09-19 13:44] #87938 closed

[2021-09-19 13:44] #89044 closed

[2021-09-19 14:34] GuillaumeGomez commented on #88809
Found the issue: it's because we use a `BTreeMap` using `Symbol` as key. Problem being that `Symbol` is making integer based comparison and not string based, hence the current result. Trying to write a test now.

[2021-09-19 14:42] weiznich opened #89097 "ICE with rustdoc json backend"
### Code

[code]

Running ` RUSTDOCFLAGS='-Z unstable-options --output-format=json' cargo +nightly doc` an a crate with the dependencies listed above triggers a assertion in rustdoc:

[code]

### Meta

`rustc --version --verbose`:
[code]

`rustdoc --version --verbose`
[code]

[2021-09-19 15:09] Urgau commented on #89097
cc https://github.com/rust-lang/rust/issues/83718

[2021-09-19 15:28] Mark-Simulacrum commented on #88637
https://github.com/rust-lang/rust/commit/8ae15246991088f41c248ac3b201e9518d489743 are the migration fixes currently suggested in-tree

[2021-09-19 15:31] weiznich commented on #88903
[I've found](https://github.com/diesel-rs/diesel/pull/2902) a way to fix this in diesel without issuing a breaking release. It would be great if the message in `cargo fix` could be adjusted so that it does not show up if the diesel version is >= 1.4.8. Otherwise the message should prompt the user to update diesel to the latest release.

[2021-09-19 15:55] mjclements commented on #89065
This might just be my head being in a more Ada space, but not having immediate access to the MIN and MAX for a given scalar type feels wrong to me. Obviously with a little forethought you can come up with a totally safe unwrap, but when you're doing something simple like initializing values for a comparison algorithm, it seems like it might be a bit better if you can use a constant which took care

[2021-09-19 16:18] 3gx opened #89099 "nightly fails on M1 mac:"
[code]

[2021-09-19 16:18] AZMCode commented on #75833
Perhaps there should be an override similar to RU

[2021-09-19 16:27] tonyfinn commented on #89071
From my shell history, `cargo tarpaulin -v -- --nocapture` at the workspace root.

[2021-09-19 16:28] pan93412 commented on #89099
I also encountered this:

[code]

[2021-09-19 16:28] rbtcollins commented on #86442
So in 1.55 this has broken our test suite for remove_dir_all by leaking into stable rather than being a nightly only feature.

It seems very poor form to return an enum variant to code which cannot match against it because the compiler considers it a nightly only feature.  See https://github.com/XAMPPRocky/remove_dir_all/pull/33  : the failing jobs are failing in *stable* because the change isn't

[2021-09-19 16:38] Urgau commented on #89099
cc https://github.com/rust-lang/rust/issues/89099

[2021-09-19 16:40] dtolnay commented on #86442
@rbtcollins, to reiterate https://github.com/rust-lang/rust/issues/86442#issuecomment-889480955, nothing is supposed to be comparing equality to `ErrorKind::Other`. Code that does this is wrong.

If the error kind is not one of the stable specific variants (non-`Other`), the correct way for stable code to match it is `_` and new unstable variants have no bearing on that as they would continue to m

[2021-09-19 16:42] Urgau commented on #89085
@rustbot label +I-prioritize +requires-nightly +regression-from-nightly-to-nightly

[2021-09-19 16:51] rbtcollins commented on #86442
@dtolnay Ok, sure, we can fix this, probably by matching *every other error type to exclude them* but the definition has clearly shifted from 1.54 and before, and this leaves a pretty poor feeling here: https://blog.rust-lang.org/2014/10/30/Stability.html made a *huge* impression on me, and many others, and it seems like there was debate here, but the conclusion was to modify existing behaviour, r

[2021-09-19 17:14] rbtcollins commented on #86442
Whats the right way to have a discussion about the ergonomics here? 85746 seems like a really awkward interface : theres no way that I know of to ergnomically say 'match only unstable entries'. So when one is interested in a concrete error, that is currently behind an unstable feature flag, the choices are to either accept 'any random error', or list all-known-errors as failure cases.

[2021-09-19 17:33] Mark-Simulacrum commented on #86442
If your code previously just checked that the error was ErrorKind::Other, without a more detailed assert (e.g., via the os error code), deleting that test seems like the right path forward, presuming you don't want to add platform-specific code to make the test actually confirm a specific error.

I think the test you [cited](https://github.com/XAMPPRocky/remove_dir_all/pull/33/files#diff-0578caf75

[2021-09-19 17:39] camelid commented on #89085
I haven't bisected, but #82183 looks to have landed in nightly-2021-09-18, so cc @michaelwoerister (also they are more knowledgeable about this code in general).

[2021-09-19 17:39] dtolnay commented on #86442
The right way is to counterpropose some alternative way by which new error kinds can be accommodated as operating systems and standard library implementations evolve over time.

[2021-09-19 18:33] hkratz commented on #89085
Indeed. Bisected to d6cd2c6c877110748296760aefddc21a0ea1d316 which is #82183.

[2021-09-19 18:34] hkratz commented on #89099
Duplicate of #89085.

[2021-09-19 18:34] DevinR528 commented on #89042
I like "Pattern B and others not covered". I also confirmed the `doc(hidden)` on a field of a struct thing in the playground so that would have to be taken care of.

Isn't this kind of a breaking change? Or at least a behavioral change. I'm not really qualified but... personally, I don't agree with changing `doc(hidden)`s warning/lint behavior. My reasoning is that it's a "semi hack" to make up fo

[2021-09-19 18:42] rbtcollins commented on #86442
@Mark-Simulacrum   Yes, we can either take on platform specific handling, or exclude all the known variants that this isn't; and previously we could do that in a pity fashion by matching on Other exactly.

@dtolnay obviously ;) I meant - do I carry on here, or file a new bug, or create an RFC :- I'm not sure of the most effective way to engage.

Putting some principles forward, it should be possib

[2021-09-19 19:24] workingjubilee opened #89106 "{f32,f64}::DIGITS is misleading"
While they come with a caveat that they are an "approximate" value, these constants are treated as gospel and [invoked by clippy in the excessive_precision lint to create a warning](https://github.com/rust-lang/rust-clippy/blob/92ca25b3ec8cef291f1d3b37bfd01d3cce8609e2/clippy_lints/src/float_literal.rs#L130-L136). Clippy is wrong, however, in doing so. The numbers currently embedded in these consta

[2021-09-19 19:44] Aaron1011 commented on #89085
This error comes from the ODHT crate: https://github.com/rust-lang/odht/blob/b58e329081c91d0636a35f3af2cc2bffaf84038c/src/memory_layout.rs#L64-L69

[2021-09-19 19:45] chotchki commented on #89035
@Aaron1011 I've moved on and cargo cleaned since reporting this. Should I still test nightly?

[2021-09-19 19:45] Aaron1011 commented on #89085
cc @michaelwoerister

[2021-09-19 19:49] QuineDot commented on #88901
From [PR 71321](https://github.com/rust-lang/rust/pull/71321) which contains [this comment block](https://github.com/rust-lang/rust/blame/master/library/core/src/marker.rs#L376-L382):

[code]

[2021-09-19 20:04] steffahn commented on #88901
@QuineDot my code example above goes slightly further and shows that this can (transitively) also allow copying a type that doesn't even implement Clone.

[2021-09-19 20:21] tifrel opened #89107 "ICE WASM toolchain not installed. But it is installed"
### Code

I am currently experiencing issues when compiling to wasm and have included the commands to reproduce. Due to time limitations, I can currently not narrow it down any further. However I can use `nightly-2021-09-17`, which fixes the issues for me. Hopefully this can help you find the error:

[code]

Note that (as shown below) I have the wasm target installed for both the stable and the ni

[2021-09-19 20:24] the8472 commented on #89091
I tried reproducing it. Without ninja installed there's a proper warning message. Editing config.toml then makes things build with gnu make [as documented](https://rustc-dev-guide.rust-lang.org/building/prerequisites.html).

[code]

Imo the main thing that could use improvement is `x.py setup` to autodetect whether ninja is available or not and set that flag automatically. Unless we want to encour

[2021-09-19 20:26] mjclements commented on #89106
This is interesting. To give a concrete example, the print out in the
[code]

That's just one example of a pair of adjacent f32s that needs 9 digits of precision to differentiate. They do seem to be on the rarer side. I would kinda support changing the DIGITS constant to the upper bound. If the current constants are left it, it might be kinda neat to tell users approximately what percentage of the

[2021-09-19 20:36] Nadrieril commented on #89042
Yeah, I don't know what's the decision process for a small change in a lint message. I'll let whoever got assigned to that PR decide I guess ^^

[2021-09-19 20:40] CryZe commented on #89106
Similar issue #88734

[2021-09-19 20:42] Mark-Simulacrum commented on #89091
Yes, it's intentionally semi-required to encourage it's use, as it gives a much better experience (though these days most people are not building LLVM, I hope).

[2021-09-19 20:47] the8472 commented on #89084
An extension trait could be put in the prelude, which are edition-specific since #82217

[2021-09-19 21:06] thewithz opened #89108 "Compiler panic on rustlings exercise standard_library_types/box1.rs"
### Steps to reproduce

[code]

### Use flags
[code]

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-09-19 21:14] the8472 commented on #89108
This seems to be a distro-specific rust build. Does it happen on official builds too? If not then it would be more appropriate to report it to the distro maintainers.

[2021-09-19 21:14] bennywwg opened #89109 "rustc stack overflow when an inner struct derives from function being implemented"
I tried this code:

[code]

`cargo build` outputs: thread 'rustc' has overflowed its stack

Moving `InnerStruct` to before the `impl` block causes normal compilation. I'm sorry to bring a large library like `serde` into the example but I couldn't find a more minimal repro.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-09-19 21:24] Mark-Simulacrum commented on #89108
Just at a glance, it looks like gentoo is enabling the parallel-compiler flag (though I'm not sure) -- https://github.com/gentoo/gentoo/blob/master/dev-lang/rust/rust-1.55.0.ebuild#L44, so I'd guess that's the root cause of this bug. We don't ship a parallel compiler ourselves to users nor do we test it, so I'm not too surprised it's possible to trigger bugs with that configuration.

[2021-09-19 21:36] joshtriplett commented on #86442
Allowing code to match "something the standard library hasn't yet categorized" would set that code up to be broken when the standard library *does* start categorizing it in the future.

That's exactly the problem: we need to make sure that existing code doesn't break when we add new categorization.

We did that by ensuring the only way to match "unknown error" is with a wildcard (`_`), so that whe

[2021-09-19 21:41] m-ou-se commented on #89106
This constant doesn't seem to be used a lot. Grepping through the latest version of all crates on crates.io for `f(32|64)::DIGITS` gives very few results:

[code]

(Almost all of these use the deprecated one in `{std,core}::{f32,f64}::`, instead of the one associated to the type directly.)

We should probably just deprecate `DIGITS` since its meaning is unclear and confusing.

(Also why is `f32::D

[2021-09-19 21:46] m-ou-se commented on #89106
A few more that weren't matched by my regex:

[code]

[2021-09-19 21:55] AZMCode commented on #75075
For those just looking to use a cross-platform version of this, or those looking to better understand my proposal above, [Here's a Crate](https://crates.io/crates/include_path)

[2021-09-19 21:55] rbtcollins commented on #86442
@joshtriplett

I specifically proposed a mechanism that wouldn't break the code (within the same edition) if the stdlib started categorising it - but only sustainable for a relatively short period, because eventually the number of newly categorised errors will be large enough that people will want to match on the specific sub-variant.

re: needing the same errorkind across editions - ah, thats a c

[2021-09-19 22:10] Aaron1011 commented on #89107
This is a duplicate of https://github.com/rust-lang/rust/issues/89085 - a recent incremental compilation change appears to have broken the host compiler for `aarch64-apple-darwin`
`

[2021-09-19 22:10] #89107 closed

[2021-09-19 22:27] joshtriplett commented on #86442
@rbtcollins I appreciate that the mechanism you're suggesting wouldn't *necessarily* break code when categorization was added (though people would have to change code to match if the categorization was moved to the top level alongside other variants). But the mechanism you're suggesting would break code when the mechanism itself was introduced, in exactly the same way that was already done. With t

[2021-09-19 23:38] est31 commented on #75075
Why are they not? `include_str!(concat!(...))` is a pretty common pattern. Now it would be `include_str!(path!(...))`.

[2021-09-19 23:41] AZMCode commented on #75075
As far as I am aware these need special code to work, as all tokens inside a macro invocation need to be parsed by the macro itself, and I'm not sure giving the appearance that this pattern can work with any other combination of macros is a good idea.

[2021-09-20 00:12] ssokolow commented on #75075
I'd argue that the damage has already been done by `include_str!(concat!(...))` and any confusion that would be caused by `include_str!(path!(...))` is already present.

[2021-09-20 00:18] AZMCode commented on #75075
Not a reason to cause further confusion tbh. The better we can do the less confusion there'll be overall.

[2021-09-20 00:21] est31 commented on #75075
@AZMCode you have a point. Apparently the `include_*` macros work differently, as they expand their arguments before evaluating I think? Not sure. At least local tests show `include_*` not having issues with being passed a macro instead of a str expr. Anyways, I personally favour the proposal [from above](https://github.com/rust-lang/rust/issues/75075#issuecomment-667737137).

I think a `path` mac

[2021-09-20 00:26] AZMCode commented on #75075
Sounds reasonable enough

[2021-09-20 00:46] thewithz commented on #89108
I spun up an ubuntu 21.04 vm with rust nightly-1.57.0 which worked correctly, and I did emerge dev-lang/rust with the parallel-compiler USE flag. I edited them into the post at the top. I disabled the parallel-compiler USE flag and rebuilt @world and no longer receive the deadlock handler panic, so I will move this issue over to the gentoo bugzilla tracker.

[2021-09-20 00:55] AZMCode opened #89112 "Make Nested Macro Invocations in std consistent with the rest of the language."
It appears that at least the `include_*` macros have behavior that is not available to user-created macros: the ability to expand their arguments before parsing.

For example the expression `include_str!(concat!("a","b"))` would work as expected, while user-implemented macros would not have the ability to do so.

To increase consistency with the rest of the language I see the following options in

[2021-09-20 01:01] est31 commented on #75075
@AZMCode it's explained here: https://rustc-dev-guide.rust-lang.org/macro-expansion.html#eager-expansion

[2021-09-20 01:05] est31 commented on #75075
Also: https://github.com/rust-lang/rfcs/pull/2320

[2021-09-20 01:09] #89112 closed

[2021-09-20 01:09] AZMCode commented on #89112
Closed as found myself reinventing the wheel. I'll watch the process of adding eager macro expansion into the language with interest.

[2021-09-20 01:10] AZMCode commented on #75075
Understandable.

[2021-09-20 03:41] kennetpostigo commented on #89099
I'm also encountering this:

[code]

[2021-09-20 04:21] LingMan commented on #89065
@mjclements: Thank you. This:

is a good motivating example if you ask me.

@EFanZh: Sounds like these projects blanket forbid `unwrap` as a very coarse heuristic for the behavior they actually want to disallow. If this unwanted behavior is "there is an input that causes the program to panic (ignoring OOM)", you could teach Clippy to allow `unwrap` in const contexts. That way you get a compilation

[2021-09-20 05:20] hkratz commented on #89085
Hmm, can't reproduce with rustc built locally on an M1 macbook, how are the nightlies built?

[2021-09-20 05:51] DrMeepster commented on #42202
I think this feature should be stabilized.
# Stabilization Report
## Summary
The `abi_thiscall` feature allows code to export and link to functions with the thiscall abi. This is the abi used by default for C++ member functions on x86 MSVC, and is very important for C++ FFI.
## Tests
This feature is tested in [`ui/extern/extern-thiscall.rs`](https://github.com/rust-lang/rust/blob/master/src/test/u

[2021-09-20 07:08] tifrel commented on #89085
Opposing question, how do I build rustc locally?

[2021-09-20 07:15] MrMuetze commented on #84970
I just wanted to follow up on my reported issue. It seems that the merging of https://github.com/rust-lang/rust/pull/89049 has solved my issue. I can't reproduce the error on `nightly-2021-09-20`. Thank you very much for this quick solution :)

[2021-09-20 07:51] weiznich commented on #88903
I've issued a new diesel (1.4.8) to address this. Would be great to get the messages updated on cargo/rusts side till the next release. If someone points me into the right direction (reading where to change that + where to open a PR) I might find some time to work on this this week.

[2021-09-20 08:00] nikic commented on #89099
Closing as duplicate of #89085, as indicated above.

[2021-09-20 08:00] #89099 closed

[2021-09-20 08:43] michaelwoerister commented on #89085
I'll look into it.

[2021-09-20 09:09] michaelwoerister commented on #89085
I think this is a cross-compilation related issue. The `aarch64-apple-darwin` compiler [seems to be built on `x86_64-apple-darwin`](https://github.com/rust-lang/rust/blob/e71925aab9e28ce35363e3fdef27ca011ac6a1dc/.github/workflows/ci.yml#L323) and because of that the odht crate makes some assumptions that are true for `x86_64` but not for `aarch64`. So the bug is `odht` making platform dependent as