[2017-10-18 11:28] bkchr commented on #43301
This is the code to check for the TerminationTrait: https://github.com/bkchr/rust/blob/f185e355d8970c3350269ddbc6dfe3b8f678dc44/src/librustc_typeck/check/mod.rs#L1108

I think that I not checking on the return type of the function? I get the following error:

[code]

What does I need to change, to check on the return type of the function?

[2017-10-18 11:34] arielb1 opened #45360 "MIR-borrowck: emit "`foo` does not live long enough" instead of borrow errors"
e.g. in the test `issue-36082.rs`:
https://github.com/rust-lang/rust/blob/f6d7514545cbe83e771a400d04049b96dfb210cd/src/test/compile-fail/issue-36082.rs#L1-L25

MIR borrowck currently emits the following errors:
[code]

The MIR borrowck errors are correctly detected when the MIR storagedead and drop conflict with the pre-existing borrow.

That is the exact definition of a "does not live long enough

[2017-10-18 11:35] arielb1 commented on #44832
Note: the `borrowck-vec-pattern-element-loan` issue is a distinct problem and had been split off to #45360.

[2017-10-18 11:44] oli-obk commented on #45357
I thought

https://github.com/rust-lang/rust/blob/f6d7514545cbe83e771a400d04049b96dfb210cd/src/bootstrap/tool.rs#L405-L418

already took care of that, since that is copy pasted from cargo.

I'm not sure why it isn't working as advertised...

[2017-10-18 12:49] Mark-Simulacrum commented on #45357
Clippy, Cargo, and Rustdoc currently must be built with a stage 2 compiler due to how proc macros work. I don't think there's anything rustbuild can do in particular to change that, other than not building them in earlier stages (which does seem like a good idea).

[2017-10-18 13:31] sanmai-NL commented on #44842
@nagisa: Is it definitely impossible to implement `Display` without allocating for a `String` within the `fmt` method? Does this allocate for a `String` for sure?

[code]

[2017-10-18 13:36] #44402 closed

[2017-10-18 13:47] pnkfelix commented on #45199
(another approach that I did not consider earlier: Change the MIR construction to accommodate `for`-loops. E.g. maybe the MIR assignment statement could take a flag indicating that it is an assignment arising from `for`-desugaring, and thus it is "safe" even when it is reassigning a variable declared without `mut`...)

[2017-10-18 14:13] pnkfelix opened #45362 "MIR-borrowck: diagnostics for closures are much worse compared to AST-borrowck"
When compiling with MIR-borrowck via `-Z borrowck-mir`, the diagnostics printed when errors involves borrows/moves into the bodies of closures (where the origin path is from the outside of that closure) are pretty bad.

For example, for the test `src/test/compile-fail/borrowck/borrowck-closures-two-mut.rs`, the AST-borrowck error messages tend to highlight the particular uses within the closure bo

[2017-10-18 14:28] alexcrichton commented on #32838
@ruuda

I personally feel that the implementation of `alloc_system` today on Windows is a bigger benefit than having the ability to relinquish ownership of an allocation to another container like `Vec`. AFAIK though there's no data to measure the impact of always padding with the alignment and not requiring an alignment on deallocation.

@joshlf

I think that comment is wrong, as pointed out `allo

[2017-10-18 14:51] pnkfelix opened #45363 "MIR-borrowck: should distinguish "uninitalized" from "moved out of""
The AST-borrowck is often able to distinguish a path that was never assigned into (i.e. "uninitialized") from a path that had previously held a value but that value was subsequently moved elsewhere (i.e. "moved out of").

The MIR-borrowck currently uniformly reports both cases as instances of "uninitialized" state.

As an example: for the test `src/test/compile-fail/borrowck/borrowck-loan-in-overl

[2017-10-18 15:30] nikomatsakis commented on #45346
The borrow check is correct, in a sense. The problem is, presumably, regionck. Essentially, without the type annotation, we wind up inferring that the signature of the closure is `fn(&'a Foo)` for *some* region `'a` in the parent scope. Since the function is never called, this region winds up being considered unconstrained, and gets inferred to `'empty`. The borrowck then gets unhappy, because `'e

[2017-10-18 15:34] Gankro commented on #45346
The closure is used in the original example; is the issue there that inference can never create a `for<'a>`, only actual type annotations can?

[2017-10-18 15:42] Manishearth commented on #45357
Can we also exclude stage 1 from the doc build while we're at it? The doc build has been broken for months because cssparser uses a proc macro.

[2017-10-18 15:43] Gankro commented on #45346
Addendum: is it possible to do something like "try the hack, and then if that fails, also try `for<'a>`"?(assuming the hacky behaviour is desirable in some cases?)

[2017-10-18 16:08] alexcrichton commented on #44941
@mersinvald ok I've done some further investigation into your benchmark. The setup was:

* [script that was run](https://gist.github.com/85a4e5527982ab58ae05f8c14c4647b2)
* DevHeap/circles-server@3f32a49921a497965462c616a73cf99c9487e9e5 with [this patch](https://gist.github.com/alexcrichton/15eab1f88bc0a83fc92e3b839d756285), I notably found that enabling LTO was messing with the timings in release

[2017-10-18 16:43] lnicola commented on #44941
Are the incremental crate-only builds 10-15x slower than full non-incremental builds?

[2017-10-18 16:45] alexcrichton commented on #44941
oh oops, I mixed up the tables

[2017-10-18 17:24] dtolnay commented on #41196
Looking at this again, I prefer `yield_processor` over `spin_loop_hint`. It seems like both would need to be documented equally carefully, but `yield_processor` results in code that is more pleasant to read. Unless `yield_processor` mischaracterizes how people conceptualize this instruction, I would go with that one. Also, precedent in Go and WebKit is encouraging.

It could also work as `std::syn

[2017-10-18 17:31] ollie27 opened #45365 "No rustdoc rendering warnings for Markdown files"
Running `rustdoc foo.md` on the following for example doesn't produce any warnings about the differences between hoedown and pulldown-cmark even if passing `--enable-commonmark`:

[code]

cc. #44229, @GuillaumeGomez

[2017-10-18 17:44] ruuda commented on #32838
It depends on the application whether the overhead is significant, and whether to optimize for memory or performance. My suspicion is that for most applications either is fine, but a small minority cares deeply about memory, and they *really* cannot afford those extra bytes. And another small minority needs control over alignment, and they *really* need it.

[2017-10-18 17:57] petrochenkov commented on #41196
"Processor" sound kinda wrong in this context IMO, since the word is so often used for the whole package with multiple cores, caches, etc, while the instruction applies to a "core" or "thread".

[2017-10-18 18:00] joshlf commented on #32838
@alexcrichton

Doesn't that imply that `alloc_system` on Windows doesn't actually properly implement the `Alloc` trait (and thus maybe we ought to change the requirements of the `Alloc` trait)?

----

@retep998

If I'm reading your comment correctly, isn't that alignment overhead present for all allocations regardless of whether we need to be able to deallocate with a different alignment? That is,

[2017-10-18 18:02] SimonSapin commented on #41196
`std::sync::yield` or `std::thread::yield` sounds fine to me. (It’s not really about atomic instructions, more about thread scheduling.)

[2017-10-18 18:03] alexcrichton commented on #45320
@michaelwoerister was that comment meant for a different thread? I forget which one as well though, so I'll respond here!

As a "quick benchmark" I compiled the regex test suite with 16 CGUs + ThinLTO and then toggled inlining in all CGUs on/off. Surprisingly inlining in all CGUs was 5s faster to compile, and additionally [did better on tons of benchmarks](https://gist.github.com/02f39400c0286af4a

[2017-10-18 18:09] kennytm commented on #41196
Isn't `yield` a keyword?

[2017-10-18 18:11] SimonSapin commented on #41196
Oh, right.

[2017-10-18 19:32] arielb1 opened #45372 "MIR-borrowck: have a script and a repo for tracking MIR borrowck output"
One important thing with MIR borrowck is to have some parity of diagnostics with AST borrowck. At least during the transition period, we want to have an eye on how MIR borrowck diagnostics look on our test suite.

@pnkfelix had done some manual regression runs, but these obviously don't scale - I want to be able to see which diagnostics I change on each commit I make, automatically, and to have a

[2017-10-18 19:32] arielb1 commented on #45372
If these notes are somewhat unclear, feel free to ping me on IRC or gitter (I'm arielby).

[2017-10-18 19:46] DarkEld3r opened #45373 "rustdoc and reexported types"
Example (lib.rs):
[code]
In the generated documentation for the `reexport::SerError` type there is a reference to the `serde::Serialize`, but this reference is broken (`target/doc/reexport_test/trait.Serialize.html` instead of `target/doc/reexport_test/reexport/trait.Serialize.html`).

[2017-10-18 20:56] Keruspe commented on #44859
Just retried with `rustc 1.22.0-nightly (f6d751454 2017-10-17)` with full debug symbols enabled

a.rs contains

[code]

stacktrace is

[code]

[2017-10-18 21:02] #45278 closed

[2017-10-18 21:02] #45277 closed

[2017-10-18 21:02] #44136 closed

[2017-10-18 21:25] wirelyre commented on #39848
This bug was fixed in `nightly-2017-05-03` ([sometime between 777ee2079 and 6a5fc9eec](https://github.com/rust-lang/rust/compare/777ee2079...6a5fc9eec)).

[2017-10-18 21:40] SimonSapin commented on #27389
The `alloc_system` crate should be added to the set of those documented together with `std`.

[2017-10-18 23:38] retep998 commented on #32838
@joshlf The overhead caused by `alloc_system` currently is due to requesting larger-than-normal alignments. If your alignment is less than or equal to `MEMORY_ALLOCATION_ALIGNMENT`, then there is no overhead caused by `alloc_system`.

However, if we changed the implementation to *allow* deallocating with different alignments, then the overhead would apply to *nearly all* allocations, regardless of

[2017-10-18 23:46] joshlf commented on #32838
Ah I see; makes sense.

[2017-10-19 01:09] durka commented on #45249
Re (1) should we discuss deprecating it?

[2017-10-19 01:38] durka commented on #45196
I'll give this a shot. Not sure if it should be a separate flag since it will bloat the output.

[2017-10-19 01:49] Mark-Simulacrum commented on #45249
cc @rust-lang/libs

[2017-10-19 02:42] whitequark commented on #44113
To add to this, this is also broken:
[code]

[2017-10-19 03:05] sanxiyn commented on #37976
This seems somehow fixed, although I am not sure when.

[2017-10-19 03:05] #37976 closed

[2017-10-19 05:39] dtolnay commented on #32838
What is the meaning of implementing Alloc for both Heap and &Heap? In what cases would the user use one of those impls vs the other?

Is this the first standard library API in which `*mut u8` would mean "pointer to whatever"? There is String::from_raw_parts but that one really does mean pointer to bytes. I am not a fan of `*mut u8` meaning "pointer to whatever" -- even C does better. What are some

[2017-10-19 06:49] #45342 closed

[2017-10-19 07:17] kennytm commented on #29893
According to #45366, building the compiler docs now require a full-bootstrap compiler, meaning we can only do it on the `x86_64-gnu-full-bootstrap` builder. (Alternatively we could improve the copy-stage1-to-stage2 procedure so that a non-full-bootstrap builder could work?)

[2017-10-19 07:33] gnzlbg commented on #29722
FWIW and coming late to the party I like what @florob 's [the cologne talk](http://babelmonkeys.de/~florob/talks/RC-2017-06-07-inline-assembly.pdf) proposed. For those that haven't watched it, this is the gist of it:

[code]

[2017-10-19 07:53] Freyskeyd commented on #45373
Hey @DarkEld3r

thank's for the report, can you provide a rust version please?

[2017-10-19 08:25] Michael-F-Bryan commented on #44629
I just read #45366 and it *sounds* like the internal docs should build again. Did I get that right, @ollie27?

I'll run my [rustc-internal-docs] program again when #45366 gets merged to see how it goes.

[rustc-internal-docs]: https://github.com/Michael-F-Bryan/rustc-internal-docs

[2017-10-19 08:48] uzytkownik commented on #45196
TBH I'm not sure if that is a problem. It's already behind a flag and after reading few hundreds (700-800) lines of output for my toy examples each time I issue rustc the size is not a problem - readability is (and currently this is the only way I think to debug macros - ok my problem might be more suitable for procedural ones but so far they don't seem to be included in stable anytime soon).

[2017-10-19 09:01] SimonSapin commented on #27389
Should `alloc_system::System` be re-exported under `std::heap`? (Perhaps renamed `SystemAlloc`?)

[2017-10-19 09:05] roblabla commented on #39413
Is there still no way to do this ? I'm currently toying around with relm (which heavily relies on proc macros), and the situation is very bad there :(.

[2017-10-19 09:07] DarkEld3r commented on #45373
I have used `rustc 1.20.0 (f3d6973f4 2017-08-27)`, but on the latest stable (`rustc 1.21.0 (3b72af97e 2017-10-09)`) there is the same problem.

[2017-10-19 09:08] michaelwoerister commented on #45320
@alexcrichton Yeah, the comment was in response to #45188 (rust-doom) but since that was closed already, I put it here.

Regarding the compilation time difference between pre- and post-trans inlining, my hypothesis would be that sometimes pre-trans inlining will lead to more code being eliminated early on (as in the case of regex apparently) and sometimes it will have the opposite effect. I suspec

[2017-10-19 10:44] Freyskeyd commented on #45373
I can't reproduce on `rustc 1.21.0 (3b72af97e 2017-10-09)`

[2017-10-19 10:51] Freyskeyd commented on #45373
Yeah, I see. But I think it's a serde error.

https://docs.serde.rs/src/serde/ser/mod.rs.html#107

Anyway, I don't know if it's a doc generation error.

[2017-10-19 12:11] Mark-Simulacrum commented on #29893
No, you just need a stage2 compiler, no need for full bootstrap. The requirement is that target libraries and sysroot libraries are identical due to how proc macros work today.

[2017-10-19 12:57] nikomatsakis opened #45383 "suggest use of the `match_default_bindings` feature gate"
Right now, if the `match_default_bindings` is not enabled, then [type check does not even **attempt** to auto-deref on pattern match](https://github.com/rust-lang/rust/blob/master/src/librustc_typeck/check/_match.rs#L71). This makes it rather undiscoverable. If I try to run this program, for example:

[code]

I get:

[code]

Of course, [if I add the feature gate, it works](https://play.rust-lang.o

[2017-10-19 12:57] bstrie commented on #39575
I concur with the arguments here that this is a different beast than `remove_var` and `set_var`. Thus far we have chosen to always interpret specified undefined behavior as memory unsafety, demonstrable or otherwise. It would be a unique exception to our policy of "all memory unsafety may be traced back to an `unsafe` block" to add "(...unless using `std::os::unix::process::CommandExt::before_exec

[2017-10-19 13:02] LeopoldArkham commented on #45327
TIL; Thank you steve!

[2017-10-19 13:53] alexcrichton commented on #27389
@SimonSapin I think it's [lready reexported](https://doc.rust-lang.org/nightly/std/heap/struct.System.html)?

[2017-10-19 14:01] alexcrichton commented on #32838
@dtolnay `Alloc for Heap` is sort of "standard" and `Alloc for &Heap` is like `Write for &T` where the trait requires `&mut self` but the implementation does not. Notably that means that types like `Heap` and `System` are threadsafe and do not need to be synchronized when allocating.

More importantly, though, usage of `#[global_allocator]` requires that the static it's attached to , which has typ

[2017-10-19 14:02] alexcrichton commented on #45249
cc @withoutboats

[2017-10-19 14:03] SimonSapin commented on #27389
Oops, sorry :)

[2017-10-19 14:03] alexcrichton commented on #45320
Heh it's true yeah, I'd imagine that there's always room for improvement in pass tuning in Rust :). Right now we perform (afaik) 0 customization of any pass manager in LLVM. All of the normal optimization passes, LTO optimization passes, and ThinLTO optimization passes are all the same as what's in LLVM itself.

[2017-10-19 14:40] rep-nop commented on #44690
Okay so while doing a more thorough read through the RFC I came up with a quick requirements document to track progress on it (below, it wont let me attach it for some reason? Let me know if I missed anything major or important!). The only part of the RFC I don't think I understand very well is the "Activation and unused attributes/lints" section. It talks about `rustdoc`, for example, not being "

[2017-10-19 15:03] DarkEld3r commented on #45373
I'm also not sure if it is rustdoc bug: reexporting is specific case, but I prefer to create an issue to make sure if it is a problem or not. :sweat_smile:

On the other hand, documentation works correctly for serde (https://docs.serde.rs/serde/trait.Serialize.html) itself, so it cannot (shouldn't) be fixed inside this crate.

[2017-10-19 15:06] nikomatsakis opened #45385 "[RFC 2126] permit `foo.rs` or `foo/mod.rs` to support submodules like `foo/bar.rs`"
Ignoring "inline" modules like `mod foo { }`, modules currently come in one of two forms:

- Leaf modules: a `foo.rs` file is forced to be a leaf module. In particular, one cannot make a submodule in a file like `foo/bar.rs`.
- Directory modules: a `foo/mod.rs` file is a directory module. One can create submodules in files like `foo/bar.rs`.

As part of https://github.com/rust-lang/rust/issues/446

[2017-10-19 15:07] Keruspe commented on #44859
I sometimes get a smaller stack (note that the invalid memory adress is the same: 0x7ffff7f84195, not sure how relevant that is):

[code]

[2017-10-19 15:44] Amanieu commented on #32838
The main advantage of `*mut u8` is that it is very convenient to use `.offset` with byte offsets.

[2017-10-19 15:46] nikomatsakis commented on #45385
### Mentoring instructions

Currently, when we encounter a `mod foo;` statement, we compute the path where to find the module `foo` in [the `default_submod_path` function](https://github.com/rust-lang/rust/blob/e3fb84e951e3c602d2dbbfebbd4ee275ac414893/src/libsyntax/parse/parser.rs#L5496-L5535). As you can see from inspecting the code, [we already report an error if there is both a `foo.rs` and a `

[2017-10-19 15:50] Laaas opened #45387 "invalid expression !808 = !DIExpression(6, 34, 0, 6)"
`rustc --version --verbose`
[code]

This happens when building a specific program with `rustc -g`

The program:
[code]

stderr:
[code]

This started happening after updating to rust 1.21 today.

[2017-10-19 15:58] Laaas commented on #45387
Can anyone tell me if this bug has any major implications? Because the program generated still works.

[2017-10-19 16:03] nikomatsakis opened #45388 "permit `crate` as a shorthand visibility identifier"
As part of https://github.com/rust-lang/rust/issues/44660, we plan to support `crate` as a visibility modifier equivalent to `pub(crate)`. Given that `pub(crate)` exists, this should be relatively straight-forward.

Visibilities are stored in [the AST type `Visibility`](https://github.com/rust-lang/rust/blob/e3fb84e951e3c602d2dbbfebbd4ee275ac414893/src/libsyntax/ast.rs#L1793). We will want to exte

[2017-10-19 16:07] kennytm commented on #45388
To implementors: Ensure tests related to `:vis` (#41022) are updated as well.

[2017-10-19 16:08] alexcrichton commented on #45320
I wanted to also take the time and tabulate all the results from the [call to action thread](https://internals.rust-lang.org/t/help-test-out-thinlto/6017) to make sure it's all visibile in one place. Note that all the timings below are comparing a release build to a release build with 16 CGUs and ThinLTO enabled

**Improvements**

All of the following compile times improved, sorted by most improve

[2017-10-19 16:12] kennytm commented on #45387
@Laaas Rust does not support LLVM 5 yet. If you are building rustc yourself, try to target LLVM 4 instead. The error you see should be the same as https://github.com/rust-lang/rust/issues/43370#issuecomment-321647649.

[2017-10-19 16:25] nikomatsakis commented on #44660
@glaebhoerl that's an interesting proposal. Personally, I think I have come around to the idea of introducing a **new** syntax for absolute paths and deprecating the existing one. I'm not sure what this syntax should look like, but I will describe one possibility below (that I know has been floated before).

Imagine we had the following grammar for paths:

    Path = AbsolutePath | RelativePath

[2017-10-19 16:34] dtolnay opened #45389 "Rustdoc missing where-clause for <*const T>::offset"
https://doc.rust-lang.org/nightly/std/primitive.pointer.html#method.offset

The implementation looks like:

[code]

But rustdoc only shows:

[code]

I tried to reproduce this with a struct type, but rustdoc seemed to do the right thing for this case.

[code]

[2017-10-19 16:42] ollie27 commented on #45389
I believe this is a duplicate of #24183.

[2017-10-19 16:44] dtolnay commented on #45389
Indeed, thank you.

[2017-10-19 16:44] #45389 closed

[2017-10-19 16:45] alexcrichton commented on #45320
Looking into `rust-belt`, one interesting thing I've found is that the `inflate` crate takes longer to compile with ThinLTO than it would otherwise. Looking at [profiling information](https://gist.github.com/alexcrichton/1b682f7a9a518e38a118a8c666969113) it appears that one codegen unit in this crate takes 99% of the time in LLVM. This codegen unit appears to be basically entirely dominated by [on

[2017-10-19 16:55] ollie27 commented on #45373
#43466 should fix issues like this.

[2017-10-19 17:18] zackmdavis commented on #45388
I volunteer.

[2017-10-19 17:52] rpjohnst commented on #44660
I really don't think we ought to introduce any new sigils just for paths. Enforcing a leading `::` in `::crate::foo` is enough to address @glaebhoerl's comment and to eliminate the parsing ambiguity. It also fits the intended mental model for `crate::` more closely- it's a stand-in for the name of the current crate, not a path prefix like `self::`.

I'm not sure what you mean by this. I don't thin

[2017-10-19 17:52] est31 commented on #44660
@nikomatsakis @glaebhoerl independent of whether I like your suggestions or not (I actually can live with both), can we please stick to the RFC? It has been discussed back and forth in plenty ways and I don't think that opening up debate again would help anybody. A total of 82 people have commented on the thread of the latest RFC (there were quite some discussions before), many feeling very strong

[2017-10-19 18:03] Ichoran commented on #44660
Even if there are no cases at all where a leading `::` can be confused with a path that starts on a preceding identifier and has an internal `::`, it isn't very distinct visually.

Also, it's less suggestive.  `@` is a better mnemonic.  With a leading `::` you have to wonder whether it's like filename paths, where leading `/` means root (if you're on a Unixy system), or if it's a standard abbrevia

[2017-10-19 18:20] LegNeato commented on #33158
@eddyb did you land the work-in-progress changes that were being discussed here?

[2017-10-19 18:27] rpjohnst commented on #44660
How is a leading `@` *easier* to distinguish than a leading `::`? `::` is already an established mechanism both in Rust and C++!

[2017-10-19 18:37] eddyb commented on #33158
@LegNeato They ended up in #45225, which might take a bit longer to get merged.

[2017-10-19 18:40] malbarbo opened #45390 "target_env for x86_64-unknown-linux-gnux32"
The target `x86_64-unknown-linux-gnux32` was [added](https://github.com/rust-lang/rust/pull/45224) to rustc with `target_env = "gnu"`.

I was wondering if it should be `"gnux32"` because of [this](https://github.com/rust-lang/llvm/blob/2e9f0d21fe321849a4759a01fc28eae82ef196d6/include/llvm/ADT/Triple.h#L115) llvm definition.

Here are the `target_env` for some rustc targets:

[code]

What do you th

[2017-10-19 18:42] lochsh commented on #42106
I would happily have a go at this, if that's ok with @tommyip  😄

[2017-10-19 19:07] bluss commented on #41022
Is this mature enough to be stabilized?

[2017-10-19 19:18] durka commented on #41022
#45388 will be a minor breaking change to `:vis:`: consider `macro_rules! foo { (crate) => { true }; ($v:vis) => { false } }`.

[2017-10-19 19:18] aturon commented on #21114
From lang team meeting: need to investigate how this fits in with NLL work. @nikomatsakis to follow up. No other lang team opinions at this time.

[2017-10-19 19:19] aturon commented on #27941
Lang team meeting: an RFC is needed prior to stabilization, but we're happy to accept experimentatal implementation in the meantime.

[2017-10-19 19:20] nikomatsakis commented on #34708
triage: P-medium

@rust-lang/lang team agrees that when this is done we could consider stabilizing slice patterns.

[2017-10-19 19:25] joshtriplett commented on #36342
We discussed this one in the lang team meeting. This does need an RFC; how quickly that progresses will depend on how smoothly and non-bikesheddy the RFC goes. The approach of making symbols public if `pub` and `#[no_mangle]` seems reasonable.

Also, we should *stop* automatically exporting such symbols from a `dylib`, if possible. That may be difficult without regressions, but it's a serious libr

[2017-10-19 19:30] tamird commented on #45383
Seems straightforward enough. What would prevent feature hint from appearing on stable? What prevents the slice patterns help from appearing on stable? Just that the code isn't there yet?

[2017-10-19 19:31] withoutboats commented on #29638
Is this the tracking issue for use_extern_macros or is there a separate tracking issue for that? How are these two features different / related?

[2017-10-19 19:33] aturon commented on #43291
@eddyb and @oli-obk to follow up. Leaving nominated until closed.

[2017-10-19 19:33] aturon commented on #40768
Lang team discussed in meeting. Conclusion was: we don't want to break code working today, and would prefer to push toward stabilization of re-exports. @withoutboats will take action on the applicable tracking issue.

[2017-10-19 19:35] tamird commented on #45383
Ah, I see `feature_err` emits the feature hint only in nightly builds!

[2017-10-19 19:37] aturon commented on #43372
Lang team meeting: this is an ~intended, conservative fix, which has at this point shipped. While at some point we might be able to soundly support this use case, it will need additional design. Closing for the time being.

[2017-10-19 19:37] #43372 closed

[2017-10-19 19:39] aturon commented on #44224
Checked for @nrc, who is away.

[2017-10-19 19:42] nikomatsakis commented on #44454
ping @arielb1 -- whatever happened with your branch here? I remember we had some discussions about cycles and don't recall how (if at all) they were resolved.

[2017-10-19 19:42] aturon commented on #44454
Marking P-medium. While there's overlap with #27675, this issue has more in-depth information. We plan to keep them both open until fixed.

[2017-10-19 19:45] aturon commented on #44975
cc @pnkfelix

[2017-10-19 19:47] tommyip commented on #42106
Sure @lochsh go for it!

[2017-10-19 19:48] nikomatsakis commented on #44975
The danger here is that contextual keywords become impossible. In particular, consider if we added `await f` as an expression, which would work with `bad!` today but fail tomorrow.

[2017-10-19 19:50] FauxFaux opened #45392 "Better suggested fix available for passing &mut (&mut val)"
Given code like:

[code]

`rustc` correctly points out that you "cannot borrow immutable argument `b` as mutable", and offers a fix of:

[code]

A better fix, in this case (and many others where I make this error), is to simply drop the `&mut`:

[code]

I hit this error quite frequently, and remember finding the addition and removal of `&mut` until the compiler shut up about syntactic noise that I

[2017-10-19 19:50] joshtriplett commented on #44975
One possibility would be to leave this alone and fix it in macros 2.0. The other would be a crater run and evaluation for a fix.

[2017-10-19 19:51] nikomatsakis commented on #44975
Some possible routes:

- I don't think we should accept `bad!`, for the reasons given above.
- We could leave this as is -- we have said in the past that when you break the forwards compatibility rules "in spirit" you may get broken.
- Or, better really, we would do a fix and try to do a crater run.

[2017-10-19 19:52] nikomatsakis commented on #44975
triage: P-medium

[2017-10-19 19:53] joshtriplett commented on #45256
Consensus in the lang team meeting is that we should reintroduce a lint for "named argument never used". And if it's just a lint, we don't need a full crater run.

[2017-10-19 19:55] est31 commented on #29638
@withoutboats the two features are different. I'd say they both implement the same thing but in different ways.

macro_reexport:

[code]

use_extern_macros:

[code]

The tracking issue for `use_extern_macros` is #35896 according to [its feature gate](https://github.com/rust-lang/rust/blob/e6115af4bd5f07024e0b73139e1dbcd68c96d9f7/src/libsyntax/feature_gate.rs#L302), the official place where trackin

[2017-10-19 19:56] nikomatsakis commented on #44975
I feel like we should at least *try* the fix -- though it may be hard to ascertain the impact entirely.

[2017-10-19 20:08] Eallaneg46 commented on #44454
OK well I have a laptop it was working until Kevin Corley Deadeye was helping me download windows 10 well it didn't work My laptop turns on been doesn't open to anything  know .His computer works real good .He downloaded windows 10.He has been using his computer to hack into everything of mine
Google, Facebook ,windows, outlook ,me cell phone.I know he s been talking to someone else every night
 a

[2017-10-19 20:10] nikomatsakis commented on #45142
Most likely caused by https://github.com/rust-lang/rust/pull/43880

[2017-10-19 20:11] nikomatsakis commented on #45142
I think what is happening is that we are no longer inserting the auto-coercion because of the inner details of how method calls are working after #43880 -- i.e., we used to effectively pass `&mut *value` in the compiler.

@pedrohjordao if you rewrite to `<Other as TryFrom<&'a mut EventReader<R>>::try_from(value)`, that will work too, right?

[2017-10-19 20:12] nikomatsakis commented on #45142
triage: P-high

Calling P-high -- we should decide if we plan to fix. cc @arielb1

[2017-10-19 20:12] nikomatsakis commented on #45107
triage: P-high

[2017-10-19 20:13] Eallaneg46 commented on #44454
Anyways he thinks I have been cheating I havent.One night about a week ago I started to give Kevin a blow job, I smelled pussy on him It wasnt my pussy cause we hadn't had sex in  three days.

[2017-10-19 20:14] nikomatsakis commented on #45087
cc @rust-lang/lang as well

This is clearly a result of doing unsafe checking on MIR. My preference would be to continue issuing the error, but we have sometimes decided to let errors in unreachable code slide -- but that was primarily around the borrow check, i.e., checks that are very flow-sensitive. Effect check doesn't seem to fall into that category. Probably if we just perform the unsafe che

[2017-10-19 20:14] nikomatsakis commented on #45087
triage: P-high

We have to reach a decision of *some* kind.

[2017-10-19 20:15] Eallaneg46 commented on #44454
Kevin is the one who's cheating .I don't know what else to do other than leave him.

[2017-10-19 20:17] Eallaneg46 commented on #44454
Any how  I'm having problems understanding this technology so back with me.Thank You

[2017-10-19 20:19] nikomatsakis commented on #44998
Closing as expected due to [this comment](https://github.com/rust-lang/rust/pull/41336#issuecomment-333376898).

cc @rust-lang/libs more fallout from #41336

[2017-10-19 20:19] #44998 closed

[2017-10-19 20:21] petrochenkov commented on #36342
Oh, this is great. What is done now (if I remember correctly), e.g. heuristic-based link-time visibility based on sum of factors like crate type, ABI (non-`"Rust"`) and `no_mangle` even on private items is a mess and kinda breaks the spirit of Rust privacy (even if link-time visibility is a separate issue from compile-time one).

[2017-10-19 20:24] nikomatsakis commented on #45034
Seems like to be an LLVM bug. Anybody have any ideas?

[2017-10-19 20:26] nikomatsakis commented on #45034
@neivv can you try dumping the LLVM IR as well?

[2017-10-19 20:28] nikomatsakis commented on #44844
@Phlosioneer

You are awesome.  Thank you.

I had expected us not to parse json anymore but instead to go back to scraping from the output (which we used to do before we parsed JSON). Are you compiling everything twice? (I guess I can check your branch.)

[2017-10-19 20:28] nikomatsakis commented on #44844
@Phlosioneer

Opening up a `[WIP]` PR is perfectly ok, it's often easier to give feedback that way. You can put `r? @nikomatsakis` if you want.

[2017-10-19 20:29] nikomatsakis commented on #45034
triage: P-high

Not sure who to assign this to, but at least until we know what we are looking at, have to take a crash on windows seriously.

[2017-10-19 20:30] joshlf commented on #32838
If we go with `*mut u8` in a stable interface, aren't we locking ourselves in? In other words, once we stabilize this, we won't have a chance to "get this right" in the future.

Also, `*mut ()` seems a bit dangerous to me in case we ever make an optimization like [RFC 2040](https://github.com/rust-lang/rfcs/pull/2040) in the future.

[2017-10-19 20:32] nikomatsakis commented on #44844
@rfcbot fcp merge

I'd like to propose transition compile-fail (and eventually run-pass) to UI tests, subject to the [conditions that I described here](https://github.com/rust-lang/rust/issues/44844#issuecomment-335594142). In particular, subject to the conditions that `//~ ERROR` annotations are checked in some fashion, and perhaps that we rewrite the "update reference files" tool in pure Rust so

[2017-10-19 20:33] joshlf commented on #32838
True, but you could easily do `let ptr = (foo as *mut u8)` and then go about your merry way. That doesn't seem like enough of a motivation to stick with `*mut u8` in the API if there are compelling alternatives (which, to be fair, I'm not sure there are).

[2017-10-19 20:35] nikomatsakis commented on #44422
Huh, somehow this failed to get brought to the attention of the @rust-lang/compiler team proper for quite some time, sorry about that @3Hren!

triage: P-high

[2017-10-19 20:36] cramertj commented on #32838
That optimization will already probably never happen-- it'd break too much existing code. Even if it did, it would be applied to `&()` and `&mut ()`, not `*mut ()`.

[2017-10-19 20:38] nikomatsakis commented on #40392
triage: P-medium

[2017-10-19 20:39] joshlf commented on #45330
@tmerr As the original reporter on #44147, what's your feeling on this?

[2017-10-19 20:47] joshlf commented on #32838
If [RFC 1861](https://github.com/rust-lang/rfcs/blob/master/text/1861-extern-types.md) were close to being implemented/stabilized, I'd suggest using it:

[code]

It's probably too far away though, right?

[2017-10-19 20:49] jseyfried commented on #40768
Most relevant tracking issue is https://github.com/rust-lang/rust/issues/35896.

[2017-10-19 20:54] mersinvald commented on #44941
@alexcrichton
I've run tests with the exact same revisions of the compiler and circles-server.

| cgus | 1 | 2 | 4 | 8 | 16 | 32 | 64 |
|------|---|---|---|---|----|----|----|
| debug #0 | 7.197 | 5.804 | 5.561 | **5.512** | 5.766 | 5.832 | 6.607 |
| debug #1 | 7.170 | 5.834 | 5.533 | **5.490** | 5.782 | 5.913 | 6.277 |
| release thinlto=no #0 | 18.490 | 15.631 | 13.683 | 10.496 | **9.092** | 9.36

[2017-10-19 20:55] nikomatsakis commented on #44109
OK @davidtwco -- so I'm no expert in the exhaustiveness checking code, but I can give you some tips. The [main function of interest is `is_useful`](https://github.com/rust-lang/rust/blob/master/src/librustc_const_eval/_match.rs#L558) -- there is actually a link to the paper describing the algorithm, if that's your sort of thing, but also a concise description of how it works.

For context, that fu

[2017-10-19 20:59] joshtriplett commented on #45087
I think it's entirely wrong to fail to issue the warning, here. Even if code is unreachable, we shouldn't allow incorrect usage/non-usage of `unsafe`.

Among other things, that might also break code in `if cfg!(...)` blocks.

[2017-10-19 21:00] joshtriplett commented on #36342
I do think it'd be nice to have a broader RFC that explicitly defines when symbols should be exported, across all use-cases.

[2017-10-19 21:06] nikomatsakis commented on #36167
@rfcbot fcp merge

I propose to stabilize the `sysv64` calling convention. @CensoredUsername did an [excellent job writing up the situation here](https://github.com/rust-lang/rust/issues/36167#issuecomment-335928814). I think my summary is that this is basically analogous to various other ABIs that we offer on stable Rust and which can be used in a cross-platform fashion.

I'm adding T-compiler on

[2017-10-19 21:10] Ichoran commented on #44660
@rpjohnst - I said how in the very sentence you are responding to!  `@` is distinct visually.  To expand: it jumps out at you.  There is no danger of leading vs. internal positioning being confused in your mental model of the token stream.

[2017-10-19 21:14] #45327 closed

[2017-10-19 21:14] #41299 closed

[2017-10-19 21:17] Guara92 opened #45395 "target wasm no longer work with latest emscripten incoming branch"
If rustc or cargo is launched using target=wasm32-unknown-emscripten the build will fail:
error: linking with `emcc` failed: exit code: 1
  = note: Unknown option '--trap-mode'
          Traceback (most recent call last):
            File "/usr/bin/emcc", line 13, in <module>
              emcc.run()
            File "/usr/lib/emscripten/emcc.py", line 1818, in run
              wasm_text_target,

[2017-10-19 21:18] Thiez commented on #45087
I think the problem is not so much that the compiler dosen't mind unreachable unsafe code outside of `unsafe` blocks (although that is a bit silly), but that it gives "unnecessary `unsafe` block" warnings for *correct* `unsafe{ ... }` blocks that happen to be unreachable.

[2017-10-19 21:29] nikomatsakis commented on #44109
UPDATE: To check if things are exhaustive, [I suggested adding data to adt-def here on gitter](:point_up: [October 19, 2017 5:20 PM](https://gitter.im/rust-impl-period/WG-compiler-middle?at=59e9170d177fb9fe7e9db920))

[2017-10-19 21:38] rpjohnst commented on #44660
`@` is a completely new token with no meaning whatsoever, and would take far more than "a moment's thought" to figure out. Confusing a leading `::` for an internal `::` isn't a problem to begin with- there is no reason anyone would have to take "a moment's thought" to dismiss the idea that a leading `::` is a relative path.

[2017-10-19 21:55] Ichoran commented on #44660
@rpjohnst - Your statements are true given sufficient training on what `::` means (which is provided by experience with C++ or Rust).  I was speaking of learnability and intrinsic difference.  "The same symbol used in a different context" is never going to be as distinguishable as "a unique symbol".

I could accept an argument that it's not worth burning `@` as a unique symbol on a use case like t

[2017-10-19 22:18] rkruppe commented on #41699
Closing in favor of #45274

[2017-10-19 22:18] #41699 closed

[2017-10-19 22:56] alexcrichton commented on #44941
Awesome, thanks @mersinvald!

So reading that I'd conclude that in debug mode 16cgus is a unversal win over 1 cgu (although *slightly* worse than 8/4 cgus in some cases). In that sense, I think we can close this issue?

Otherwise it looks like [the proposal](https://github.com/rust-lang/rust/issues/45320) for turning on multiple cgus by default in release mode means that 16 cgus is universally bet

[2017-10-19 23:06] alexcrichton commented on #45390
I'd probably stick with "gnu" as this is differentiated by `target_pointer_width`, and otherwise anything with `target_env = "gnu"` is basically just going to get a new cfg for `gnux32` as well (if we add it)

[2017-10-19 23:31] glandium opened #45397 "debug_loc info is (slightly) non-deterministic"
I've been comparing Firefox build on Mozilla CI with and without sccache, and after having eliminated all the expected differences, there was one remaining in the resulting binary that ended up being caused by rust code. That difference was in the build-id of libxul.so, as well as the checksum in the gnu_debuglink section. Both are influenced by the contents of debug sections. I repeated the compa

[2017-10-19 23:55] #44968 closed

[2017-10-19 23:57] bstrie commented on #43301
@bkchr I'd recommend joining the compiler-middle working group gitter at https://gitter.im/rust-impl-period/WG-compiler-middle for feedback, as well as trying the #rust-internals IRC channel at https://chat.mibbit.com/?server=irc.mozilla.org%3A%2B6697&channel=%23rust-internals . :)

[2017-10-20 00:38] est31 commented on #45397
cc @infinity0
cc #34902

[2017-10-20 00:39] Luke-Nukem commented on #45317
Just wanted to confirm this: can't build without `full-bootstrap = true` using either 1.20.0 or 1.21.0. You can see the logs [here](https://build.opensuse.org/packages/rust/job_history/home:luke_nukem:branches:devel:languages:rust/openSUSE_Tumbleweed/x86_64)

All non-default options in config.toml are:

[code]

Relevant part of build log(?):

[code]

I maintain the openSUSE packaging of Rust - thi

[2017-10-20 00:58] Mark-Simulacrum commented on #45317
Is there a chance you could try to reproduce with a more minimal approach? Something like checking out master, and then giving us a specific set of instructions that cause this failure? That would help to debug it on our side. Thanks!

[2017-10-20 01:29] glandium commented on #45397
On a non-lto build, I get differences in `style-3a3501e81c38f395.0.o`, which is 103MB. FWIW, I also get differences in multiple `rust.metadata.bin` files within some rlibs, but they don't matter for the Firefox build differences (on libfutures, libgeckoservo, libgkrust_shared, libnserror and libstyle ; all other rlibs are identical).

[2017-10-20 01:46] glandium commented on #45397
So interestingly, dwarfdump doesn't barf on the non-lto object file. The diff in dwarfdump output looks like:
[code]

There are a lot more of those, but if we ignore all the DW_AT_location differences, there is this:
[code]
Then further down:
[code]
Then at some point there's also:
[code]

which is actually in .debug_ranges, not .debug_loc.

And
[code]

[2017-10-20 03:01] clarcharr commented on #41196
I think that we should be cognisant of the case where someone imports both the processor and the thread yield functions at the same time. How would someone differentiate these functions?

Additionally, what this function does isn't quite a "yield;" on x86 specifically, it simply delays the execution of the next instruction by a small amount to avoid a memory order violation, reducing power consump

[2017-10-20 03:03] clarcharr commented on #41196
Also this is a general question, but how reasonable would it be for the compiler itself to notice these cases and simply insert the instruction into busy loops? For example, something like `loop {}` should also contain this instruction. I wonder if LLVM has an optimisation like that.

[2017-10-20 03:34] DrRibosome commented on #38998
Hmm, ive been using this to get bench on stable for a bit now (but I dont have crates pushed to crates.io). It would be annoying for sure if this broke given that benching is useful, but I want to work on stable

[2017-10-20 03:38] chrisvittal commented on #44721
I've started on this. @nikomatsakis, You mention that we can possibly add a `TypeLoweringContext` as an argument to `lower_ty()`, I'm having trouble knowing what values for a `TypeLoweringContext` to put into all the calls to `lower_ty`, as well as figuring out which other functions need a `TypeLoweringContext` and which ones don't.

For example [`lower_item_kind`](https://github.com/rust-lang/rus

[2017-10-20 05:54] tmerr commented on #45330
Hmmm I don't have a strong preference either  keeping it unmasked or switching to 0o7777. Our current behavior associates Permissions more closely with Metadata since it exposes its st_mode bits, while this proposed behavior associates Permissions more closely with set_permissions, since we could think of mode() as the portion of the file mode that can be set by set_permissions aka a chmod. Either

[2017-10-20 06:04] kex103 opened #45402 "Rust compiler has unintuitive lifetime for returned mutable borrow in loops"
Pardon if I have an incorrect view of how the borrow/lifetime system works.

Compiler complains about multiple mutable borrows in a loop, if a mutable borrow can be returned from the function.

Consider the following:
`use std::collections::VecDeque;
struct Something;
struct Struct1 {
    list: VecDeque<usize>,
    thing: Something,
}
impl Struct1 {
    fn get_mut(&mut self) -> &mut Something {

[2017-10-20 06:59] zackmdavis commented on #44953
But `TyCxt` has access to the `Session`, which means we should be able to use the [existing `one_time_diagnostics` field](https://github.com/rust-lang/rust/blob/354eb160e07/src/librustc/session/mod.rs#L78-L81) (if we slightly generalize it to take an `Option<LintId>` rather than a `LintId` to accomodate non-lint errors like the matter at hand).

However, the reported code isn't reproducing the iss

[2017-10-20 07:07] bkchr commented on #43301
@bstrie yeah thanks, I'm already part of the gitter chat and could solve my problem. :)

[2017-10-20 07:20] javiertejedorm opened #45403 "error: failed to run custom build command for `style v0.0.1`"
Hello,
I am getting an error trying to compile the latest version of Firefox Nightly. The error is:
[code]

And if I call to build-script-build manually sending RUST_BACKTRACE=1 I got this:
[code]
Thank you.

[2017-10-20 07:43] Luke-Nukem commented on #45317
I can try when I get time - I'm still not entirely sure what's causing it
beyond the full_bootstrap parameter though. I can build the same release
fine with Rust from rustup, but not with the openSUSE builds I've done (in
both cases with full_bootstrap false).

On 20/10/2017 1:58 PM, "Mark Simulacrum" <notifications@github.com> wrote:

[2017-10-20 07:46] SimonSapin commented on #38998
Since my previous comment, std made a breaking change to the unstable private data structures that `rustc-test` relies on: https://github.com/servo/rustc-test/pull/4. `rustc-test` working on "stable" Rust is an illusion: it’s really using a loophole in the stability system to access unstable features.

[2017-10-20 07:50] #45124 closed

[2017-10-20 08:12] sanmai-NL commented on #44660
@Ichoran: I think that adding new token for a certain semantics (`@`) to the Rust grammar is not a step to be taken lightly, and I have a slight suspicion we are too close to doing that with @nikomatsakis and others' proposal. For one, because we then cannot reuse it for another purpose later in the life of the language (I suppose paths are so pervasive in the code that the `@` token could appear

[2017-10-20 08:22] michaelwoerister commented on #45397
cc @tromey

[2017-10-20 08:23] oli-obk opened #45405 "Add suggestion/explanation to error on trying to mutably borrow immutable reference"
[code]

reports

[code]

Which is correct, but the fix is to modify the creation of the `reader` variable. While this case is easy, it's probably less so in the general case. Possible avenues of improvement:

1. The easy way this error message can be improved is to mention that the type is `&T`, but should be `&mut T`.
2. If there are explicit type annotations on the variable, a note should point

[2017-10-20 08:44] bigslipper opened #45406 "Working with Enum and if let: error[E0164]: expected tuple struct/variant"
Hi i'm studying Rust with Book version 2 and applying some examples with enum i don't undestand the way of use of if let
this is the code
[code]
When i use the String::from in if let rustc reply with the
error[E0164]: expected tuple struct/variant, found method `<String>::from`
  --> src\main.rs:34:23
When i use a "fake_str" var i have some warnings but is compiled
If i use
[code]
All work fine  (

[2017-10-20 08:49] sanmai-NL commented on #12868
@alexcrichton: This appears to be fixed according to @xanlpz?

[2017-10-20 08:51] jason-wolfe commented on #44899
I don't know if this is entirely relevant and don't know how to debug `rustc`, but I tried running with `RUSTFLAGS="-Zverbose" cargo build --release --verbose`, which ended up resulting in

[code]

I was surprised to see something entirely different than the error I see without the debug flag.

[2017-10-20 09:06] michaelwoerister commented on #44941
👍

[2017-10-20 09:29] petrochenkov commented on #45406
cc @steveklabnik
This is not an issue in rustc, but maybe something needs to be tweaked in the book to make things clearer?

@bigslipper

[code]

You can pattern match only on something known in compile time, like constants, or struct constructors, but not something dynamic like `String`, thus arbitrary functions like `String::from` cannot be called in patterns. For runtime comparisons `==` has to

[2017-10-20 09:31] infinity0 commented on #45397
@glandium Did you build in the same build path, or try giving `-Zremap-path-prefix-{from,to}`? That should eliminate some differences. There might have been some further reproducibility regressions between 1.18 - 1.20 but I didn't get a chance to investigate yet, a test case would be good eventually too.

[2017-10-20 09:45] pedrohjordao commented on #45142
@nikomatsakis huum, I think I get the reasoning behind what you're saying about the change, but I do hope you decide to fix it or make a really nice compiler error pointing to the correct call.

Anyway, it might be my sleepy brain making me confuse, but there might be something wrong there. What you said still doesn't work:

https://play.rust-lang.org/?gist=5d5fc92da3270bf04736f943e8f236a5&version

[2017-10-20 09:47] javiertejedorm commented on #45403
I am not sure if this is related but I am getting an error when executing `./mach boostrap`
[code]

[2017-10-20 09:48] michaelwoerister commented on #45320
Thank you so much for collecting and analyzing such a large amount of data, @alexcrichton!

Your conclusions make sense to me. Unevenly distributed CGU sizes are also a problem for incremental compilation; e.g. the [tokio-webpush-simple@030-minor-change](http://perf.rust-lang.org/) test sees >90% CGU re-use, yet compile time is almost the same as from-scratch.

In the non-incremental case it might

[2017-10-20 10:07] michaelwoerister opened #45408 "incr.comp.: Maybe optimize case of dependency-less anonymous queries."
Some kinds of queries can end up with no dependencies. That is a valid case if their computation solely depends on their query key and not on anything in the environment. `erase_regions_ty` is such a case.

We could optimize this case by not allocating a `DepNode` for such query invocations, which in turn would also save registering reads of that `DepNode`.

@nikomatsakis, should we do this? If so

[2017-10-20 10:31] #41215 closed

[2017-10-20 10:39] johnthagen commented on #45320
FWIW, as the author of [`rust-belt`](https://github.com/johnthagen/rust-belt), which is a made-for-fun Piston game, I am more than happy to take a small compile regression when it seems like vast majority of crates get huge real-time improvements!

[2017-10-20 11:10] glandium commented on #45397
Same paths, same version of rust, same version of gcc, same version of everything. Essentially, I've been triggering the same Firefox CI build twice and compared the output.

[2017-10-20 11:24] Freyskeyd commented on #45392
I also found this disturbing.

I'm ok to work on a fix or an improvement of the suggestion.

If someone can mentor it... :)

[2017-10-20 11:50] eddyb commented on #32838
@joshlf I thought I saw a PR open about them, the remaining unknown is `DynSized`.

[2017-10-20 12:50] Mark-Simulacrum commented on #45392
cc @estebank @rust-lang/compiler - could someone provide mentoring instructions?

[2017-10-20 13:50] chrisccoulson opened #45410 "dynamic_lib::tests::test_loading_cosine fails on aarch64-unknown-linux-gnu"
When running the tests for 1.20.0 on aarch64-unknown-linux-gnu (compiled on Ubuntu 17.10), I get the following failure:

[code]

Despite the comment in src/librustc_back/dynamic_lib.rs "The math library does not need to be loaded since it is already statically linked in", this does not appear to be the case:

[code]

My build uses all of the default options (including the vendored llvm).

I've not

[2017-10-20 14:43] alexcrichton commented on #45320
This seems like a good thing to have in our back pocket, but I'm also wary of trying to do this by default. For example the `inflate` case is one where we may wish to disable ThinLTO but the one massive function could also critically rely on a function in a different CGU being inlined? That sort of case would be difficult for us to determine... In any case though I agree that we probably don't nee

[2017-10-20 14:49] alexcrichton commented on #45320
One thing I think that's also worth pointing out is that up to this point we've mostly been measuring the runtime of an entire `cargo build`. That's actually, I believe, the *absolute worst case scenario* for where ThinLTO will provide benefit. Despite this, it's showing huge improvements for lots of projects!

The benefit of ThinLTO and multiple CGUs is leveraging otherwise idle parallelism on th

[2017-10-20 14:56] alexcrichton commented on #44941
Ok!

[2017-10-20 14:56] #44941 closed

[2017-10-20 15:07] crlf0710 opened #45414 "warning: unreachable expression: unreachable!()"
Hi, i'm not really sure if this is a bug, but the following code:
[code]
emits
[code]
I'm using a recent nightly and it works this way with 1.21 stable rustc too.

[2017-10-20 15:15] alexcrichton commented on #12868
Ok!

[2017-10-20 15:15] #12868 closed

[2017-10-20 15:20] malbarbo opened #45416 "Failing tests for x86_64-unknown-linux-gnux32"
As can see [here](https://travis-ci.org/rust-lang/rust/jobs/290436965), the are failing tests for x86_64-unknown-linux-gnux32

[run-pass](https://travis-ci.org/rust-lang/rust/jobs/290436965#L5218):
- backtrace-debuginfo.rs
- backtrace.rs
- command-before-exec.rs
- command-exec.rs
- out-of-stack.rs
- lto-unwind.rs
- stack-probes-lto.rs
- stack-probes.rs
- wait-forked-but-failed-child.rs

@alexcrich

[2017-10-20 15:25] michaelwoerister commented on #45320
For deterministic builds you have to do some extra configuration anyway (e.g. path remapping) so I would not consider that a blocker. And I guess there are single core VMs around somewhere. But all of this is such a niche case that I don't really care `:)`

MIR-only RLIBs should put us into a pretty good spot regarding this, so I'm quite confident that we're on the right path overall.

[2017-10-20 15:30] michaelwoerister commented on #45320
That's really interesting. For incremental compilation enabled the situation might be different (because pre-trans inlining hurts re-use) but for the non-incremental case it sounds like it's pretty clear what to do.

[2017-10-20 15:32] michaelwoerister commented on #45320
Yeah, maybe we should revisit this at some point. Although I have to say the current solution of only `internal` and `external` symbols and nothing in between is really nice and simple.

[2017-10-20 15:33] alexcrichton commented on #45320
Hm yeah that's a good point about needing configuration anyway for deterministic builds. It now seems like a more plausible route to take!

Also that's a very interesting apoint about incremental and inlining on our own end... Maybe we should dig more into those ThinLTO runtime regressions at some point!

Also yeah I don't really want to change how we trans inline functions just yet, I do like the

[2017-10-20 15:37] jrmuizel commented on #45320
@alexcrichton out of curiosity how did you figure out this and which function it was. I've wanted to look into why the webrender build is so slow and would welcome tips.

[2017-10-20 15:43] virgil-palanciuc commented on #44953
That actually works and is a pretty elegant/quick fix. The only caveat is that you shouldn't pass the span in the tuple... i'm guessing, it messes up the hashcode, and the error ends up being different each time. I can't yet figure out why (complete newbie to the codebase) - so if you want to take up this issue & fix it, please feel free to do so, it'll take me a little while (I'm slow/don't have

[2017-10-20 15:50] alexcrichton commented on #45320
@jrmuizel oh sure I'd love to explain! So I originally found `inflate` as a problematic crate when compiling rust-belt as it just took awhile and I decided to dig deeper. I checked out the crate and ran:

[code]

That drops `inflate-timings.html` in the current directory, and opening that up I see:

![screenshot-2017-10-20 screenshot](https://user-images.githubusercontent.com/64996/31829820-021be9

[2017-10-20 15:57] malbarbo opened #45417 "llvm UNREACHABLE for x86_64-unknown-linux-gnux32 target"
[code]

Trying

[code]

rustc is aborted with the error

[code]

Which also appears in https://github.com/rust-lang/rust/issues/45416 and https://github.com/rust-lang/rust/issues/37976.

Using the docker image to build https://github.com/rust-lang/rust/pull/45391 I got the same errors, but using a rustc built without the docker container (using debian9) I can build many programs - but running the

[2017-10-20 16:35] bluss commented on #45414
Hi, I don't think this is a bug — the compiler knows that code after the `loop` is unreachable. The compiler has warned the same way since (at least) Rust 1.0 for this. You can safely remove the `unreachable!()` macro.

If you find a warning that doesn't make sense, or where following the logical implication of the warning leads to code that doesn't compile, then please file a bug for that. Thanks

[2017-10-20 16:35] #45414 closed

[2017-10-20 17:36] #44832 closed

[2017-10-20 17:36] #45328 closed

[2017-10-20 18:20] durka commented on #45196
Any ideas on what heuristics should be used for pretty-printing? I'm thinking along these lines:

- if there's a pair of a brackets containing more than N tts
  - split each tt on its own line
    - except commas (if present) go at the end of the line

What else? I don't know if there's a good way to turn `String :: from ( "" )` back into `String::from("")` because we don't know what parts of the

[2017-10-20 18:39] uzytkownik commented on #45196
I don't mind having spaces in `String :: from ( "" )`.

I think it's better to count per character then token trees. Maybe something like that:

 - Recursively from bottom up (aka postorder)
 - If any child node is split so is parent
 - Otherwise if output would be wider then terminal/72/80 characters/some magic number taken from somewhere split the parent

Split printing is done as:
 - Put all ch

[2017-10-20 18:49] bstrie commented on #40980
The LLVM bug in question appears to be https://bugs.llvm.org/show_bug.cgi?id=30579 , which is now marked resolved. Presumably the workaround in #36958 can now be removed, so I'm marking this E-easy. However, don't just revert the commit itself; leave its test case intact.

[2017-10-20 18:53] rkruppe commented on #40980
Command 2 on the LLVM bug indicates the fix is in LLVM 4.0, but we still support LLVM 3.9, so we can't actually do this just yet.

[2017-10-20 18:57] durka commented on #45196
OK, let's prototype out-of-tree because building the compiler is lame. I created a skeleton here with your example as the test case: https://github.com/durka/trace-pretty

I'll try to hack something together this weekend, but feel free to PR.

[2017-10-20 19:15] bstrie commented on #31681
Update: there's now a -Z flag for opting-in to this on an experimental basis: https://github.com/rust-lang/rust/pull/45012. It also seems as though the behavior is enabled by default for panic=abort builds. However, I think this might be worth keeping open until we concretely determine whether or not we'll be able to turn this on for panic=unwind builds (see https://github.com/rust-lang/rust/issue

[2017-10-20 19:32] steveklabnik opened #45420 "Footnotes don't display properly under CommonMark"
[This footnote](https://github.com/rust-lang/rust/blob/87a8e8e07387f99ffe931b1f2bbc4c0585b16ccc/src/libcore/lib.rs#L13) generates different HTML under `--enable-commonmark` and not. Not only does this trigger what's effectively a spurious warning, but it doesn't render correctly either.

cc @QuietMisdreavus @GuillaumeGomez , marking this as p-high

[2017-10-20 19:33] steveklabnik commented on #44229
https://github.com/rust-lang/rust/issues/45420 is about an effectively spurious warning, not sure how much we want to get into that, but we should maybe provide guidance for people using the flag.

[2017-10-20 19:42] ollie27 commented on #45420
This was fixed by google/pulldown-cmark#21 rustdoc just needs to update its version of pulldown-cmark.

[2017-10-20 19:47] QuietMisdreavus commented on #45420
The thread in that issue says it was released in 0.0.15. [According to the lockfile](https://github.com/rust-lang/rust/blob/87a8e8e07387f99ffe931b1f2bbc4c0585b16ccc/src/Cargo.lock#L1224-L1239) we're pulling in 0.0.14 for rustdoc, but also 0.1.0 for mdbook. I'll see if i can update the dependency for rustdoc and pull it in.

[2017-10-20 20:14] QuietMisdreavus commented on #45420
https://github.com/rust-lang/rust/pull/45421 updates Pulldown for rustdoc and fixes this.

[2017-10-20 20:29] steveklabnik commented on #45420
I am not sure this actually fixes the warnings, as they use different IDs and such.

I'm testing this locally right now though; expect an update in ~20 minutes

[2017-10-20 20:37] #44739 closed

[2017-10-20 22:32] spacejam commented on #44002
This was fixed on nightly-2017-08-28-x86_64-unknown-linux-gnu (I binary searched, 2017-08-27 was broken still).

Thanks!

[2017-10-20 22:32] #44002 closed

[2017-10-20 23:11] nikomatsakis commented on #44721
@chrisvittal

Presuming you added the enum that I suggested, basically everything would be `TypeLoweringContext::Other` except for:

- the recursive cases (like [this one](https://github.com/rust-lang/rust/blob/a651106ad0c8395fcfbd62ef58de9e36376252e0/src/librustc/hir/lowering.rs#L660) and [this one](https://github.com/rust-lang/rust/blob/a651106ad0c8395fcfbd62ef58de9e36376252e0/src/librustc/hir/l

[2017-10-21 00:25] Mark-Simulacrum commented on #45403
It looks like `OUT_DIR` wasn't set by Cargo perhaps? That would be relatively consistent with the second of the two errors, seeing as that's the [next line of code](https://github.com/servo/servo//blob/master/components/style/build.rs#L88) after `rerun-if-changed=build.rs` is printed. However, I'm not sure what could cause the segfault. It'd be helpful to get a backtrace of that, but I'm not sure

[2017-10-21 01:56] shepmaster opened #45425 "Binary operator LHS type is fixed instead of being subtyped"
This started with a [Stack Overflow question](https://stackoverflow.com/q/46857955/155423) which boiled down to:

[code]

<details>
<summary>Complete error</summary>

[code]

</details>

----

Some poking around found some workarounds:

 - If we say that the input references can be unified to the same
   lifetime, it works:

[code]

 - If we say that `'b` outlives `'a`, it works:

[code]

 - If we

[2017-10-21 01:59] #45347 closed

[2017-10-21 07:09] scottmcm commented on #43278
Looks like this PR will fix both parts: https://github.com/rust-lang/rust/pull/45225#issuecomment-336312530

[2017-10-21 09:41] 3442853561 opened #45427 "Bindings does not simplify programming"
[code]

As we all know, there is missing a _
However I think the compiler should be smarter
Because there is a binding here
There may be code that will never be executed

[2017-10-21 10:21] vaastav opened #45428 "Rust function calling conventions"
I have a few questions regarding how the stack is manipulated for Rust function calls.
The Rust book suggests that the arguments are passed from left to right on the stack with the stack growing upwards. ( https://doc.rust-lang.org/book/first-edition/the-stack-and-the-heap.html )

This confuses me a little bit as I always thought that the stack order, how arguments are passed adhered to some calli

[2017-10-21 11:02] frewsxcv commented on #33577
Anyone have insight why `poisoned` is not just a method on `Once`?

[2017-10-21 13:24] frewsxcv commented on #43472
i opened a pull request for this: https://github.com/rust-lang/rust/pull/45429/

[2017-10-21 14:46] steveklabnik commented on #45428
This question is better posted to https://internals.rust-lang.org/; we keep the issue tracker for bugs only. Could you re-post this over there? Thanks!

[2017-10-21 14:46] #45428 closed

[2017-10-21 14:52] gnzlbg opened #45431 "RawVec stores a capacity field even if T is zero-sized"
When `std::mem::size_of::<T>() == 0` `RawVec<T>` has always a capacity equal to `std::usize::MAX` elements. It currently stores a `cap: usize` that always contains this value but doing so is unnecessary in this case.

@withoutboats this would be a not so far fetched case for allowing `struct` specialization like @arielb1 proposed.

[2017-10-21 15:16] bluss commented on #45431
Time to interpret what https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html#guarantees actually means for this

Plain reading says that the capacity field *must* be there. It's a bit silly, since the only interface with the representation should be with `Vec::from_raw_parts`, where this "triplet" guarantee isn't needed.

[2017-10-21 15:23] gnzlbg commented on #45431
@bluss I am finishing overhauling the growth-strategy for vectors (#29931, #27627, I'd like to find a mentor to discuss it before submitting a PR) but I'd like to improve on this afterwards.

My proposal would be to amend those guarantees as follows:

And then to replace the `cap` field of `RawVec` with a zero-sized type when `T` is zero-sized.

[2017-10-21 15:38] gnzlbg commented on #45431
FWIW I think that the standard library should make more guarantees than what it currently does, in particular with respect to the space and time complexity of operations.

Yet I think this is an example of something that the standard library should never guarantee. The wording kills me:

What is this guarantee for? It sounds like I can rely on this for serialization purposes, but then the `Vec` ty

[2017-10-21 15:44] bluss commented on #45431
Cool. Does it include using usable_size as well? (Don't worry if not, I think that's fine to address as a separate little project too.)

**I think** the guarantees are definitely overreaching there, but since they are not well defined enough to actually be used for much of anything, maybe the whole triplet thing can be reworded — the Vec has a representation equivalent to pointer, capacity and len

[2017-10-21 15:58] ollie27 commented on #44629
@Michael-F-Bryan yeah, the compiler docs are building fine for me with #45366.

[2017-10-21 16:00] slo1 commented on #45385
Hi, I'm going to try to work on this.

[2017-10-21 16:02] nikomatsakis commented on #44660
@est31

Basically I agree. I don't really want to get involved in big discussions right now -- it's the impl period after all! -- but I did want to put the `@` idea "out there" to be simmering in the background. In part, because I tend to get kind of forgetful, and writing things out helps me to remember them later.

My feeling is that at this point the right thing to be doing is:

- Implementing

[2017-10-21 16:21] bluss commented on #43751
Do likely/unlikely also belong in the same category, that category that doesn't have a home in a current submodule?

[2017-10-21 16:22] bluss commented on #26179
Will these intrinsics be stabilized as they are? Under which path?

[2017-10-21 16:37] kennytm commented on #43751
`std::hint::{likely, unlikely, unreachable, assume, breakpoint, prefetch_read_data}`? (Maybe reexport `std::sync::atomic::compiler_fence` here as well?)

[2017-10-21 16:42] rkruppe commented on #43751
(`compiler_fence` is not a "hint", it has semantic impact)

[2017-10-21 17:02] bluss commented on #45425
Old issue that duplicates this one #32008

[2017-10-21 17:08] nikomatsakis commented on #44685
I am closing this as a duplicate of https://github.com/rust-lang/rust/issues/34511

[2017-10-21 17:08] #44685 closed

[2017-10-21 17:08] nikomatsakis commented on #44686
I am closing this as a duplicate of https://github.com/rust-lang/rust/issues/34511

[2017-10-21 17:08] #44686 closed

[2017-10-21 17:10] durka commented on #45402
As far as I understand this should be fixed by non-lexical lifetimes; it's akin to problem 3 in the [blog post](http://smallcultfollowing.com/babysteps/blog/2016/04/27/non-lexical-lifetimes-introduction/).

[2017-10-21 17:13] glaebhoerl commented on #44660
OTOH, the idea I mentioned had not been raised previously, and is not so much a modification to the RFC as an extension of it. Also, "The final syntax for absolute paths; there's more bikeshedding to be done here in a context where we can actually try out the various options." is *explicitly listed* as an unresolved question in the issue body. I agree that, in general, we should try to avoid re-li

[2017-10-21 17:19] eddyb commented on #32008
Duplicate of #45425 (thanks, @bluss!).

[2017-10-21 17:19] #32008 closed

[2017-10-21 17:25] tbu- commented on #43751
`assume` and `unreachable` are also not hints, they also have impact.

[2017-10-21 17:30] seanmonstar commented on #26179
Every few months, because I've forgotten the results, I try these out in httparse, on branches I'm absolutely certain are always taken, and see no gain, with a wild range in variance when running the becnhmarks.

I'm not adept at all with either assembly or llvm-ir when compiling with optimizations to tell how they are implemented.

There's older comments that the expect intrinsic in LLVM is harmf

[2017-10-21 17:33] nathanaeljones commented on #44510
Can we please add an informative warning for `#![feature(alloc_system)]` use? This really bit me.

[2017-10-21 17:38] bluss commented on #43751
I agree. Especially since their impact for being used incorrectly is simply UB.

[2017-10-21 17:46] bluss commented on #43751
`std::builtin` or `std::builtins` would be a bit silly, right? We have a lot of things that are "built in". Yet it seems to be the best name I can think of.

- `std::builtin::unreachable()`

[2017-10-21 17:50] kennytm commented on #43751
Or that means `likely`/`unlikely` and `unreachable`/`assume` shouldn't be grouped into the same module after all (if you want a meaningful name for the module).

[2017-10-21 18:08] rkruppe commented on #43751
I'm actually kinda okay with `unreachable` and `assume` being in a "hints" module. They're *optimizer* hints. Misuse can introduce UB, but otherwise they don't affect semantics either. I could understand not wanting to mix these subtly different meanings in one module, but I don't think it's inherently misleading to call them "hints", especially considering the *existing* "optimizer hint" terminol

[2017-10-21 18:21] cuviper commented on #45431
I agree it could also forgo the pointer. All a ZST Vec should need to store is a length.  I guess it only depends on whether `from_raw_parts` followed by `as_ptr` needs to preserve arbitrary pointer values.

[2017-10-21 18:53] rkruppe commented on #43751
After some discussion on IRC and re-reading the earlier discussion, I actually don't see any reason to not stabilize `std::intrinsics` (it's already effectively stable) and put all these functions in there.

[2017-10-21 19:02] #44629 closed

[2017-10-21 19:27] stjepang commented on #41196
@clarcharr

I don't think the compiler can automatically decide when and where to insert the instruction into a loop. This is something only the programmer knows, really.

Inserting the instruction into a loop is a very delicate matter. Consider how [`parking_lot`](https://github.com/Amanieu/parking_lot/blob/6031426ee48f8bc86c47ae60939efff9220cd99c/core/src/spinwait.rs#L116) does it:

[code]

Here

[2017-10-21 23:20] mersinvald opened #45437 "ICE with borrowing with Futures"
Compiler ICEd on the code with mutable borrowing inside futures

#### I tried this code:

[code]
https://play.rust-lang.org/?gist=62c4c9c732f500dab053d57fcd83fc11&version=nightly

#### I expected to see this happen:

Borrowing error saying me that I can't use anonymous lifetimes within futures

#### Instead, this happened:

ICE

## Meta

`rustc --version --verbose`:

[code]

Backtrace:
[code]

[2017-10-21 23:27] mersinvald commented on #45437
Looks like an `impl Trait` is causing the problem. The following compiles well:
[code]

[2017-10-21 23:30] mersinvald commented on #45437
Also, the **valid** code with explicit lifetimes compiles well.

[code]

[2017-10-22 02:17] mikeyhew opened #45438 "Regression from 1.20 to 1.21 stable -> stable with StreamingIterator code"
The following code compiles with Rust version 1.20, but not with 1.21 and above:

[code]
Error in Rust 1.21+:

[code]

Note the `Self: 'a` bound on `StreamingIterator`. If I remove it, the error goes away.

[2017-10-22 03:16] Mark-Simulacrum commented on #45438
@eddyb Could this be the same root cause as [this regression](https://github.com/rust-lang/rust/issues/42467) even though it has a different version rang on it?

[2017-10-22 03:35] eddyb commented on #45438
I doubt it, empty lifetime vs 'static. I don't know what happens here, this is HRTB `for<'a> T: 'a` which I *think* is `T: 'static`. cc @nikomatsakis

[2017-10-22 05:17] mikeyhew commented on #29997
While working on a StreamingIterator trait, I got a similar ICE about an OutputTypeParameterMismatch.

[code]

And here's the error on Rust 1.21.0 stable

[code]

<details>
<summary>Backtrace on Rust 1.21.0 stable </summary>

[code]

</details>

Note that `<std::vec::IntoIter<i32> as StreamingIterator<'_>>::Item` **=** `i32`

[2017-10-22 06:08] kennytm commented on #45437
Duplicate of #43396, #42479.

[2017-10-22 06:08] #45437 closed

[2017-10-22 06:17] sebastiencs opened #45439 "rustc panicked at called Option::unwrap() on a None value"
I'm using RLS with emacs.
When I want to edit one of my files, it makes panic rustc.
There is this issue with only one file, if I edit the others files of my project rustc doesn't panic.

the backtrace:
[code]

Let me know if you need any other informations

[2017-10-22 06:27] kennytm commented on #45439
🤔 We've seen something similar before (#41478). Not a duplicate, but the cause of error is the same: unwrapping a sub-span of type `Option<Span>` which happened to be `None`.

https://github.com/rust-lang/rust/blob/548109827454f759e9c88b4a1f724c4cdbff8bfa/src/librustc_save_analysis/lib.rs#L706

@sebastiencs Could you share the file you were editing that crashes rustc? Thanks!

[2017-10-22 06:54] nagisa commented on #26179
The reason they're harmful is because they're still very opaque calls all
the way till they're lowered, inhibiting all the early optimisations which
are not specifically handling these intrinsics. Just don't use them.

On Oct 21, 2017 20:30, "Sean McArthur" <notifications@github.com> wrote:

[2017-10-22 07:22] gnzlbg opened #45440 "likely/unlikely intrinsics fail to propagate through inline functions"
[See it live](https://godbolt.org/g/WhPRDs):

[code]

`foo2` generates:

[code]

but `foo` generates the same assembly as `bar` instead of the same assembly as `foo2`:

[code]

[2017-10-22 09:57] zwithz opened #45441 "Building on Mac OS, clone llvm failed!"
[code]

[2017-10-22 10:02] zwithz commented on #45441
Fixed. Sorry to bother.

[2017-10-22 10:02] #45441 closed

[2017-10-22 11:01] petrochenkov opened #45444 "rustbuild: Disable multiple CGUs in stable release builds"
https://github.com/rust-lang/rust/pull/45400 enabled multiple CGUs + ThinLTO in rustc builds to speedup bootstrap, however it made the produced compiler slower (see https://github.com/rust-lang/rust/pull/45400#issuecomment-338276400 and below).

This is desirable for development builds, where build times are priority, but not for stable release builds that happen rarely (so build times don't matte

[2017-10-22 11:36] gnzlbg opened #45445 "likely/unlikely intrinsics don't need unsafe"
Minor paper-cut, but these intrinsics are safe.

[2017-10-22 11:39] gnzlbg commented on #45445
Relates to #45440. If we can get them to propagate properly through inline(always) functions, we would be able to write a "safe" wrapper around them that we can stabilize.

[2017-10-22 12:53] leonardo-m opened #45447 "Bad error message using associated type"
I think this code shows a bad error message:

[code]

rustc 1.22.0-nightly (4279e2b4c 2017-10-21) gives:

[code]

[2017-10-22 13:06] bluss opened #45448 "Document arithmetic operations on Instant"
Some questions that have come up about using Instants:

1. What meaning does `Instant -= Duration` have?
2. What are the preconditions on the instant and the duration, so that it does not panic or cause arithmetic overflow assertions? One user noticed that `instant -= duration` can trip this assertion.

[2017-10-22 13:07] estebank commented on #35241
@colinmarsh19 go ahead!

The terse explanation above should give enough context for someone slightly familiar with the compiler, but if you need more help you can always reach out with a comment in this ticket, on gitter or by creating a PR for us to comment on your code directly.

[2017-10-22 15:20] rkruppe commented on #45445
These are far from the only intrinsics that are safe, but there's currently no way to make intrinsics safe (short of a safe wrapper). I think I saw an issue about this at some point but I can't find it now.

[2017-10-22 16:15] lukaslueg commented on #42725
shamelessly pitching #25967

[2017-10-22 17:19] est31 commented on #45445
For safe wrappers for likely/unlikely intrinsics, one can also do macros with `allow_internal_unsafe`: [see it live](https://rust.godbolt.org/#g:!((g:!((g:!((h:codeEditor,i:(j:1,source:%27%23!!%5Bfeature(core_intrinsics)%5D%0Aextern+crate+core%3B%0Ause+core::intrinsics::unlikely%3B%0A%0A%23%5Binline(always)%5D%0Afn+test(x:+bool)+-%3E+bool+%7B%0A++++unsafe+%7B%0A++++++++unlikely(x)%0A++++%7D%0A%7D%

[2017-10-22 17:53] #44239 closed

[2017-10-22 18:50] TimNN commented on #45447
Could you explain why you think the error message is bad? AFAIK this is intended behaviour: Items (such as `const` definitions) inside of function are shared between all monomorphized instances of a function and as such cannot use type parameters from the function (you shouldn't need associated types to trigger this error).

[2017-10-22 18:55] leonardo-m commented on #45447
I see. (The semantics of D language I'm used to create a const instance for each template instantiation). The "outer function" confused me, because there is no outer function. If you think the wording of the error message is acceptable then I will close this issue down.

[2017-10-22 18:56] Riateche opened #45453 "Unclear error message for E0283"
Code:

[code]

Error:

[code]

The error is actually caused by the function declaration (it was not supposed to have generic parameters), but without looking at the function it's impossible to understand the message. The error message should show signature of `func1` and say that type annotation is required for `T` argument of `func1`.

By the way, is there a reason `func1` doesn't trigger a warni

[2017-10-22 18:57] TimNN commented on #45447
Mh, the "outer function" wording seems to be indeed a bit tailored to functions-in-functions, we can keep this issue open I think.

[2017-10-22 19:03] TimNN commented on #45387
As this is a known issue of the LLVM 5.0 upgrade, I'm gonna close this issue.

[2017-10-22 19:03] #45387 closed

[2017-10-22 19:07] TimNN commented on #45373
This is currently expected behaviour since `rustdoc` doesn't do any kind of link rewriting currently. As @ollie27 noted, there are plans to support this in `rustdoc` so I'm gonna close this issue.

[2017-10-22 19:07] #45373 closed

[2017-10-22 21:38] glaubitz opened #45456 "Bootstrapping rustc for sparc64-unknown-linux-gnu fails with linker errors"
I have tried to bootstrap rustc for sparc64-unknown-linux-gnu with:

[code]

which fails with:

[code]

The message ```/usr/bin/ld: /home/glaubitz/rust/rust/build/x86_64-unknown-linux-gnu/stage1-std/sparc64-unknown-linux-gnu/release/deps/std-5e8ebc384e5dfd82.std0.rust-cgu.o: Relocations in generic ELF (EM: 43)``` is repeated several hundred times which is why I cut the all but two instances of tha

[2017-10-22 22:03] rqou opened #45457 "Simple-looking code change causes massive memory usage, OOM when using LTO"
If I perform a release build of [this code](https://github.com/azonenberg/openfpga/commit/d39ad244f0f376a9c3cf9772750b7aa357fad824), the build completes in a reasonable amount of time using 1GB of memory or less. If I build the [next commit](https://github.com/azonenberg/openfpga/commit/7d634ccc5ba53d9fdf1110ecef8276a568e2ed59), rustc will start consuming more and more memory until it eventually c

[2017-10-22 23:02] #43472 closed

[2017-10-22 23:06] jonas-schievink commented on #45457
Unsurprisingly, according to `-Ztime-passes` it happens during "LTO passes", but not while building all binaries (`xc2crbit2jed.rs` compiles fine, `xc2jed2crbit.rs` and `xc2jed2json.rs` do not).

[2017-10-22 23:21] upsuper commented on #42666
This LLVM patch seems to have been abandoned.

[2017-10-22 23:33] Rantanen opened #45458 "Adding functions through crate level syntax extensions crashes compiler"
Having a `MultiDecorator` `push` function items on an attribute defined on the crate level (`#![...`) will result in the compiler crashing if these functions are called from the code.

[code]

Full reproduction case is at ~~https://github.com/Rantanen/com-export-rs/tree/issue~~
[intercom-issue.zip](https://github.com/rust-lang/rust/files/1546585/intercom-issue.zip)

Use `cargo run --example exampl

[2017-10-22 23:40] jrtc27 commented on #45456
Indeed, https://github.com/alexcrichton/cc-rs/blob/master/src/lib.rs#L1411 looks like a likely culprit. Looks like https://github.com/rust-lang/rust/blob/b7960878ba77124505aabe7dc99d0a898354c326/src/bootstrap/native.rs#L426 also needs modifying otherwise there'll be future problems.

[2017-10-22 23:51] Ixrec commented on #43302
I definitely wouldn't stabilize this if it's not working for the `==` operator yet, but https://github.com/rust-lang/rust/pull/44103 claims to make it work for `==` and [the playground agrees that it's working](https://play.rust-lang.org/?gist=0a536651a9b67425a31bc6d22ad20462&version=nightly), so the RFC's primary motivation seems fulfilled. I don't think we need to block stabilization on deciding

[2017-10-23 00:55] eddyb commented on #45276
Second offender: #45381.

[2017-10-23 01:15] Boscop opened #45459 "Unnecessary compares and branches in asm output"
https://godbolt.org/g/62GNZf
[code]
[code]

In f1, the lines `cmp qword ptr [rdi + 16], 0` and `je .LBB0_2` should be optimized away, but aren't, why?
(It sets the len to 0 if it's not 0, otherwise leaves it at 0. The len will be 0 afterwards either way, so it should eliminate the check and just set it to 0 like `set_len(0)`.)

I thought I'd open this issue because I don't think such optimization

[2017-10-23 01:56] est31 opened #45460 "Document more about the closure traits"
Rust has a multitude of traits for closures: `Fn`, `FnMut`, `FnOnce`. The documentation for the three closures seems to be lacking in two points:

* Why does Rust have to differ between the three closure traits? It feels very bad if you have to follow by some rules you don't know why they are present!
* Which closure trait should you prefer if you just want to write an API that accepts some closur

[2017-10-23 04:05] jbayardo commented on #45445
The snippet by @est31 should be:

[code]

And requires

[code]

In order to work seamlessly as of today's nightly.

[2017-10-23 04:11] scottmcm opened #45462 "Inference worse in method signature using associated type than with new generic type parameter eq-constrained to the generic type"
With this signature
[code]
This code
[code]
Gets `error[E0619]: the type of this value must be known in this context`.

But it works fine with the seemingly-equivalent signature
[code]
Since `acc` and `init` must have the same type in both cases, shouldn't both signatures work?

Full repro: https://play.rust-lang.org/?gist=f8d2baeae64b17344e1cf27673a2e905&version=nightly

[2017-10-23 04:12] est31 commented on #45445
@jbayardo AFAIK you can also attach the `#[allow(unused_unsafe)]` to the macro declaration, it should work too. The entire macro can theoretically be exposed by the standard library.

[2017-10-23 05:29] chrisvittal commented on #44721
@nikomatsakis My WIP branch is [here](https://github.com/chrisvittal/rust/tree/impl-trait).

Notes on my current implementation:

I'm implementing it almost exactly as suggested here. I've named what's we've called `TypeLoweringContext`, `TyLoweringCtx` mostly for brevity. It's not a hard change to to switch from one to the other. For the `FnReturnType` variant, I'm not storing a `DefId` I don't t

[2017-10-23 09:34] glaubitz commented on #45456
@jrtc27 Thanks, I was looking for exactly that! I already opened a PR for cc-rs.

Will look into the bootstrap code in a second.

[2017-10-23 09:35] michaelwoerister commented on #45022
Implemented in https://github.com/rust-lang/rust/pull/45051.

[2017-10-23 09:35] #45022 closed

[2017-10-23 09:37] michaelwoerister commented on #44702
This is implemented as part of #44901.

[2017-10-23 09:37] #44702 closed

[2017-10-23 09:49] michaelwoerister commented on #44924
@vitiral Updated.

[2017-10-23 09:53] quininer opened #45466 "Can't optimize loop assignment into memset"
https://godbolt.org/g/9uWCF8

[code]

[code]

This is normal before rustc 1.20, which is a performance  regression.

[2017-10-23 10:34] kennytm commented on #45466
I think it has just inlined the `memset` call. Do you have a benchmark to show if there is actual regression in time?

[2017-10-23 10:41] quininer commented on #45466
https://gist.github.com/quininer/361b79cd3396ca23a9de3fbc09da1b8a

[code]

[2017-10-23 10:42] kennytm commented on #45466
Thanks you!

[2017-10-23 10:56] hniksic opened #45467 "JoinHandle::join doesn't document interaction with atomics"
The current documentation of [`JoinHandle::join`](https://doc.rust-lang.org/std/thread/struct.JoinHandle.html#method.join) doesn't specify the effect of joining the thread on the atomics that the thread modified. I couldn't find any other place in the documentation where this would be described either.

Without additional guarantees, the call to `AtomicUsize::into_inner` in the following snippet c

[2017-10-23 11:01] michaelwoerister opened #45469 "incr.comp.: Changed span of panic message not detected"
Found via rust-icci: https://travis-ci.org/rust-icci/regex/jobs/291213197

The commit history of the regex crate contains on changeset that only adds a comment which in turn leads to the body of a function being moved. This results in the update of the source location pointed to by a potential overflow panic message. This message is not updated properly in incremental mode:

[code]

I have not fou

[2017-10-23 11:09] michaelwoerister commented on #45469
Full IR files for reference:
[code]

[code]

[2017-10-23 12:14] Mark-Simulacrum commented on #45444
Responding to @michaelwoerister from [this comment](https://github.com/rust-lang/rust/pull/45400#issuecomment-338585343):

I'm personally not opposed to shipping faster stable/beta artifacts -- we already do this by disabling LLVM assertions for example, so I don't see why disabling ThinLTO is a bad thing here. Seems like a fairly clear win, at least until ThinLTO is no longer a loss.

Not that I

[2017-10-23 12:42] michaelwoerister commented on #45444
That would have been my line of argument too.

[2017-10-23 14:20] alkis commented on #29553
What's the current status of this given the recent discussion [here](https://internals.rust-lang.org/t/pre-rfc-stabilize-bench-bencher-and-black-box/4565)? Is there another ongoing discussion somewhere else?

[2017-10-23 14:40] nikomatsakis opened #45471 "simplify variance"
Before red-green, the incremental tracking for variance computation had to do [some complex stuff, as described here](https://github.com/rust-lang/rust/tree/6db27d9f90223693e84d230e5654d4c1a5afe700/src/librustc_typeck/variance#dependency-graph-management). This can be removed now. This means ripping out the [`dependencies` field](https://github.com/rust-lang/rust/blob/6db27d9f90223693e84d230e5654d

[2017-10-23 14:54] SimonSapin commented on #45471
I’ll work on this.

[2017-10-23 15:21] crlf0710 commented on #43244
The "said equivalent" code in the comment is not correct...   you have to minus one from i at the "your code here" site, or bad things happens.

[2017-10-23 15:36] nikomatsakis commented on #15872
OK, I've written up a [fairly comprehensive set of examples and test cases in this gist](https://gist.github.com/nikomatsakis/1862ab6126ef7e2411ae3ae46243ac27). The rules I settled on are as follows:

- All type parameters on the trait are inputs. This means they behave like function parameters.
    - However, we enforce the stricter rule that a struct like `Ref` must use the `Ref<'_>` form, since

[2017-10-23 15:55] alexcrichton commented on #45444
Yes as @michaelwoerister [mentioned](https://github.com/rust-lang/rust/pull/45400#issuecomment-338585343) the current design with dylibs inhibits full LTO (in general procedural macros throw a wrench into full LTO).

For disabling multiple CGUs/ThinLTO it seems fine to do that on release builds which as mentioned already have other tweaks anyway.

[2017-10-23 17:06] jbayardo commented on #45445
That did not work for me. I believe this shouldn't be a macro though, the likely/unlikely intrinsics should just be safe; the `#allow(unused_unsafe)` won't warn you in cases like

[code]

[2017-10-23 17:12] rkruppe commented on #45445
You can't just mark intrinsics safe, because all intrinsics are `extern "rust-intrinsic"` functions and extern functions are always unsafe to call. Changing that would require some new language feature, e.g., as proposed by #1248.

[2017-10-23 17:56] glaubitz commented on #45456
@jrtc27 The two changes have resolved the problems, but we're still running into this issue:

[code]

Any idea?

[2017-10-23 18:37] nikomatsakis opened #45477 "permit `crate` in absolute paths"
As part of https://github.com/rust-lang/rust/issues/44660, we plan to support absolute paths that begin with `crate`. The RFC was actually a bit vague about how `crate::foo` paths work outside of `use` items. I'm going to go with the interpretation described by @rpjohnst, that one would write `::crate::foo` to reference the item `foo` from outside of a `use` statement.

This means we want to suppo

[2017-10-23 18:37] nikomatsakis commented on #45477
### Mentoring instructions (in process)

#### How things look today

Currently, a path is represented as a [vector of `PathSegment`s, essentially](https://github.com/rust-lang/rust/blob/e3fb84e951e3c602d2dbbfebbd4ee275ac414893/src/libsyntax/ast.rs#L64-L69). If the first such path-segment has the special identifier `keywords::CrateRoot`, [the path is considered global](https://github.com/rust-lang/

[2017-10-23 18:51] yadaniel opened #45478 "extern crate foo; defined locally within function"
extern crate foo;
within function compiles OK

however when used
use foo::{bar};

it gives an error

  --> src\main.rs:68:9
   |
68 |     use foo::{bar};
   |         ^^^^^^^^ Maybe a missing `extern crate foo;`?

adding extern crate foo; outside of function resolves the error

Is this by design?

[2017-10-23 18:55] steveklabnik commented on #45478
It's true, this is not a bug. I suggest you post to users.rust-lang.org to discuss why; we try to keep the issue tracker for bugs only, and so talking about it here creates noise.

Thank you for filing! It is expected behavior though, so I'm going to close it.

[2017-10-23 18:55] #45478 closed

[2017-10-23 18:59] Binero opened #45479 "Rustdoc doesn't show re-exports randomly"
Some re-exports seem to not be shown in the rustc output. This is especially evident in the [amethyst](https://www.amethyst.rs/) crate.

Examples:

`amethyst_core::transform::bundle::TransformBundle` is re-exported as:

 - `amethyst_core::transform::TransformBundle`
 - `amethyst_core::TransformBundle`
 - `amethyst::core::TransformBundle`
 - `amethsyt::core::transform::TransformBundle`
 - `amethsyt

[2017-10-23 19:06] bstrie opened #45480 "Type inference regression on beta using `as _`"
Spotted by @Gankro :
[code]

[2017-10-23 19:26] oyvindln commented on #45440
Turning on MIR inlining using `-Z mir-opt-level=3` makes foo and foo2 identical. I don't know what other effects that may have though (and at the moment the MIR opt-levels that enable MIR inlining also enables MIR copy-propagation which can be very [slow](https://github.com/rust-lang/rust/issues/36673)).

[2017-10-23 20:15] jethrogb opened #45481 "Confusing error message when using tuple struct constructor with private fields"
[code]

Error message:
[code]

But as you can see in the code, it's not the struct that's private, it's the constructor.

[2017-10-23 20:34] ollie27 commented on #45480
I believe this is expected breakage from #44287.

[2017-10-23 20:35] cramertj commented on #44101
@rfcbot reviewed

[2017-10-23 20:41] jonas-schievink commented on #45481
Duplicate of https://github.com/rust-lang/rust/issues/39703

[2017-10-23 20:44] nikomatsakis commented on #44721
@chrisvittal

One thing that may not have been obvious: I meant for that to be the `DefId` of the **enclosing function**, not the parameter. To be honest, from skimming my write-up, I forget why I thought that would be useful, but I suspect I was right (maybe for error reporting?). But if we don't need it, things would be easier.

Presuming we *do* need it, though, `lower_fn_decl` doesn't -- I don

[2017-10-23 21:00] jrmuizel commented on #45480
It would be valuable to have a list breaking changes that's updated whenever something breaking lands.

[2017-10-23 21:10] #45481 closed

[2017-10-23 21:44] alkis commented on #36481
Here's a general solution to the problem. after every rehash or clone, reseed the hasher. It will regress the performance of rehash but it will solve the O(n²) problem:  Luckily in production code (as a whole) lookups dominate insertions by a large margin so the tradeoff is actually sound.

Note: if you end up going this route it might no longer make sense to store the full hashes in the hashtable

[2017-10-24 00:33] Lorgum commented on #44872
asdasd

[2017-10-24 01:22] fintelia commented on #42982
The same thing happens with an if statement:

[code]

[code]

[2017-10-24 03:02] retep998 commented on #45448
The zero point of `Instant` is not specified and could be any time before the start of the process. If you want to ensure that you do not get any underflow errors, then do not attempt to create an `Instant` representing a time before the process was spawned.

[2017-10-24 03:17] euclio commented on #44699
Haven't had a chance to work on this, sorry. If someone else wants to work on it, go ahead!

[2017-10-24 03:32] lambda commented on #45427
The right way to express this is `_ => unreachable!()`.

It would be nice if the compiler would be smarter in this case, but there will always be some cases in which the compiler is not smart enough to figure something out, so you can use `unreachable!()` to explicitly denote impossible cases.

[2017-10-24 03:54] power10dan commented on #45471
Hi, I don't know if this is the right place, but I would also like to give this issue a try.
Is there any way that I can get started?

[2017-10-24 04:34] funny-falcon commented on #36481
@alkis

Storing of 8bits of hash is enough to save comparisons. Actually, I even stored 7bits with great result (using 8bit for other purpose).
 If this "hashik" is always non-zero (ie calculated as `hshik = hash % 251 + 1`), then it could role of "presence" flag.
 (Module by a constant is optimized by compiler into two multiplications).

[2017-10-24 04:37] SimonSapin commented on #45471
Hi @power10dan. Instructions are in the original message, but this issue already has a PR: https://github.com/rust-lang/rust/pull/45473

[2017-10-24 04:44] power10dan commented on #45471
Oh got it! Thanks for letting me know!

[2017-10-24 04:49] power10dan commented on #45477
Interesting. Mind if I give this a try? If yes, where should I start to investigate this?

[2017-10-24 06:08] arthurprs commented on #36481
That's not general as it requires support from the hasher, most just initialize to the same seed.

I don't think that's a reasonable tradeoff for a stdlib hasher, growing and cloning the hashmap becomes much much slower. As the slot moving is essentially randomized it'll require a lot of random access and Robin hood adjustments as things go into the new table. The fact that sip isn't the fastest h

[2017-10-24 06:43] alkis commented on #36481
@funny-falcon if we store 8-bits of hash for comparisons then we can't bail out early from probe chains based on distance from ideal position. It basically voids the Robin Hood. Or perhaps I misunderstood your suggestion.

@arthurprs yes either `BuildHasher` or `Hasher` traits need an additional requirement. `BuildHasher` can support it by requiring `Default` and Hasher by allowing setting the see

[2017-10-24 07:07] funny-falcon commented on #36481
@alkis , I mean, store both 8bits of hash + 8bits distance. So, 16 bits in total.
Storing just 16bits of hash is less meaningful, cause in big table they all will be equal for same position.
(that is another reason why "hashik" is modulo prime: for same table position there will be 251 different "hashik").

[2017-10-24 07:16] alkis commented on #36481
@funny-falcon This makes sense :+1:

[2017-10-24 07:34] canndrew commented on #27804
I've wanted this a few times. If I wrote a PR for it is it likely to get merged?

[2017-10-24 07:51] arthurprs commented on #36481
That's not reasonable, it's too easy to trip on that land-mine.

The most reasonable trade-off I've seen thus far is the two array map (OrderMap), that  "fixes" the problem by making the degenerate case cheap to a point it can't really be exploited.

[2017-10-24 08:14] alkis commented on #36481
@arthurprs there is a way to "reseed" without requiring support from either `BuildHasher` or `Hasher` and placing no extra requirements to the user. Instead of hashing the key like this:

[code]

use the pointer to the buckets as additional bytes (this becomes a naturally occurring seed that changes at all the right places):

[code]

[2017-10-24 08:59] arthurprs commented on #36481
@alkis neat!

[2017-10-24 09:02] StefanoChiodino commented on #37528
Took me a while to figure out what Rust meant by `B`! I guess being more familiar with c# it would have been easier for me if it was called `T2` or something.

It's not always easy to navigate around and found the `B`, would it not be nice to have the signature spit out in the error so that you can read it straight away?

[2017-10-24 09:04] alkis commented on #36481
Any takers to implement this approach and close this bug once and forall? :-)

[2017-10-24 09:13] arthurprs commented on #36481
One has to provide proof that the performance hit isn't huge. I'd not be surprised if this fix yields a ~500% hit on grow/clone and a 20+% hit on lookup when using sip13.

[2017-10-24 09:55] funny-falcon commented on #36481
There is even no need to calculate new hash value each time.
(Sorry, I don't know rust well, so I'll try to copy from above)
[code]
It will be enough for fixing bad case, and there is no need in recalculating SipHash.

[2017-10-24 10:01] alkis commented on #36481
@funny-falcon I do not think this will be very good. The pointer to `hash_start` has low entropy and the difference between one `hash_starrt` and another can be very small. I think mixing this way will weaken the composite hashfunction. Let's see how it works without this optimization first and then decide if this tradeoff is worth it. Perhaps some hash function experts can weigh in as well.

[2017-10-24 10:28] kennytm commented on #37528
@StefanoChiodino That would be issue #45164.

[2017-10-24 11:35] funny-falcon commented on #36481
@alkis, just try. It will be just enough to fix bad case. There is no need to be better.

No way. `hashvalue` calculated with SipHash, and `poshash` is calculated in bijective way (ie it is revertible).

Multiplying by a "random looking" constant and shifting provides really good results. This is a well-known technique (Knuth multiplicative hashing).

Simulation (in C):
[code]

results:

mask |  h

[2017-10-24 11:41] glaubitz opened #45487 "thread 'rustc' has overflowed its stack on sparc64-unknown-linux-gnu"
With the two changes from #45456, I am able to cross-build ```rustc``` and ```cargo```.

While ```cargo``` works fine on sparc64-unknown-linux-gnu, ```rustc``` crashes with a stack-overflow:

[code]

CC'ing @binarycrusader @jakllsch @japaric @jrtc27 who might be able to give some hints.

[2017-10-24 11:44] funny-falcon commented on #36481
https://en.wikipedia.org/wiki/Universal_hashing#Constructions

It is possible to use more sofisticated "multiply-add-shift":
[code]
But really there is no need for the usecase. Just "multiply-shift" is more than enough.

[2017-10-24 12:58] virgil-palanciuc commented on #44953
Update - i had some time to inspect it. Basically, the error is reported in two places. Here:
[code]
and here:
[code]

The second one is the one that is reported many times - and the primary span seems to be different each time (which is why if you include the span in the "key", it sees the messages as different and emits them all). I'm planning to go from the primary span to file/line/column stri

[2017-10-24 14:22] aidanhs commented on #45444
I might be able to get some stats if you let me know what you'd like to compare - before and after a particular commit I assume? There's a lot of noise in Travis (particularly at the moment) so there may not be very high quality results.

[2017-10-24 14:24] glaubitz commented on #45487
Here's what gdb says:

[code]

[2017-10-24 14:32] alkis commented on #32838
Will this work for struct hack like objects? Say I have a `Node<T>` that looks like so:

[code]
and a value type:

[code]

Now I want to allocate `Node<V>` with a string of size 7 in a *single* allocation. Ideally I want to make an allocation of size 16 align 4 and fit everything in it: 4 for `u32`, 5 for `V`, and 7 for the string bytes. This works because the last member of `V` has alignment 1 an

[2017-10-24 14:46] vitiral opened #45490 "graphiz: improve DepNode dependency graph"
**Note: Work In Progress**

cc @michaelwoerister @nikomatsakis

## Notes
- [docs on existing dependency graph](https://github.com/rust-lang/rust/blob/master/src/librustc/dep_graph/README.md#debugging-the-dependency-graph)

## Summary
The existing dependency graph often "sqashes" the graphs into a hard to read layout and we can probably do better. I will be investigating and recording thoughts in t

[2017-10-24 15:12] japaric commented on #45487
`ctzdi2` is a compiler builtin that comes from the compiler-rt project. The "stack overflow" message could indicate that the implementation has an infinite recursion bug or similar. Could you check that the following Rust program doesn't crash when executed on a SPARC machine?

[code]

(N.B. CTZ stands for Count Trailing Zeros)

[2017-10-24 15:19] joshlf commented on #32838
With respect to the size and alignment of the `Node<V>` structure itself, you're pretty much at the whim of the Rust compiler. It's UB (undefined behavior) to allocate with any size or alignment smaller than what Rust requires since Rust may make optimizations based on the assumption that any `Node<V>` object - on the stack, on the heap, behind a reference, etc - has a size and alignment matching

[2017-10-24 15:23] est31 opened #45491 "Unhelpful error message when trying to add elements to hash map"
The following code [works fine](https://godbolt.org/g/FoYDUM) in cpp:

[code]

In Rust however, you are getting an error:

[code]

[code]

The error doesn't really tell you what is indexed immutably. IMO it should explain that hashmaps have the insert function instead and maybe even should suggest it.

[2017-10-24 15:23] Trolldemorted opened #45492 "binaries built in debug mode want to import __CxxFrameHandler3"
I am building windows kernel drivers with rust (`no_std` and no libc), and debug builds fail because the linker can't find `__CxxFrameHandler3` in the kernel libraries (which makes sense).

However, when building with --release the function apparently is optimized out, and linking is successfull.

My target.json:
[code]

Maybe related: #38641

[2017-10-24 15:29] gnzlbg commented on #45431
@cuviper I am talking about `RawVec` here, but I agree, `Vec` only needs to store a length, `RawVec` doesn't need to store anything.

[2017-10-24 15:35] SimonSapin commented on #32838
Would something like this work?

[code]

… then allocate with a larger size, and use `slice::from_raw_parts_mut(node.bytes.as_mut_ptr(), size)` ?

[2017-10-24 15:38] joshlf opened #45493 "ICE: unexpected panic with mir-opt-level=3"
Compiling `crossbeam` v0.2.10 and `smallvec` v0.4.4 with `-Z mir-opt-level=3`, I get the following ICEs:

### crossbeam

[code]

### smallvec

[code]

## Misc

[code]

[2017-10-24 15:49] leonardo-m commented on #45491
That functionality was removed:
https://github.com/rust-lang/rust/pull/23559

IndexSet trait.

Do you know if there's a enhancement request for IndexSet trait? Or a RFC.

[2017-10-24 15:49] alkis commented on #32838
Thanks @joshlf for the detailed answer! The TLDR for my usecase is that I can get a `Node<V>` of size 16 but only if V is `repr(packed)`. Otherwise the best I can do is size 19 (12 + 7).

@SimonSapin not sure; I will try.

[2017-10-24 15:50] bluss commented on #45431
We can't implement this until some kind of specialization allows it in a backwards compatible way. Aside from doubts about associated type specialization, the problem of keeping Vec covariant in T., Which is not the case with a.t.spec. now AFAIU.

[2017-10-24 15:50] Dylan-DPC commented on #44507
Will try this :+1:

[2017-10-24 15:52] jrmuizel commented on #34861
This is indeed fixed with panic=abort in nightly. I suspect it was fixed by https://github.com/rust-lang/rust/issues/44992

[2017-10-24 15:57] bluss commented on #27804
It needs to be a constant time (average) method, doesn't it? In that case it requires implementation changes in the hashmap and deciding that is full of tradeoffs.

I think that if it could have been added without such major changes, you could just post a PR and we'd have it stable soon.

[2017-10-24 16:11] sagiegurari opened #45494 "rust crashes on mac nightly when running test that have should_panic"
I found that when running tests that should panic (and have the should panic annotation defined), the thing crashes only on mac and only in nightly rust.
This started around 2-3 days ago.

Sample Code:

[code]

Travis build logs as an example:
https://travis-ci.org/sagiegurari/misc-test/builds/292137566
specially:
https://travis-ci.org/sagiegurari/misc-test/jobs/292137568#L75

Sample branch:
https

[2017-10-24 16:13] vitiral opened #45495 "document compiler internal environment variables"
I am a newbie to compiler development and came across a pretty big documentation gap: environment variables.

I ran the following script to try and pull out all the existing environment variables. I can run it on whatever directories that project contributors want me to. I would like to document these if possible!

Rustdevs: please provide feedback on which of these should be better documented, an

[2017-10-24 16:16] Ericson2314 commented on #32838
Haven't really caught up with this thread, but I am *dead set* against stabilizing anything yet. We've not made progress implementing the the hard problems yet:

 1. Allocator-polymorphic collections
    - not even non-bloated box!
 2. Falliable collections

I think the design of the fundamental traits *will* affect the solutions of those: I've had little time for Rust for the past few months, but

[2017-10-24 16:29] vitiral commented on #45495
Note: I believe this is dfferent from #44074, as this is concerned with the environment variables used *for building the compiler itself*, not the environment variables that the compiler uses.

However, stage0 probably makes use of the latter. I'm not sure how to manage the fact that those are related -- we probably need to document both.

#44074 also brins up the `env!` macro. Please let me know

[2017-10-24 16:41] joshlf commented on #32838
Re: @Ericson2314's comment

I think that a relevant question related to the conflict between that perspective and @alexcrichton's desire to stabilize something is: How much benefit do we get from stabilizing a minimal interface? In particular, very few consumers will call `Alloc` methods directly (even most collections will probably use `Box` or some other similar container), so the real question

[2017-10-24 16:42] sfackler commented on #32838
@joshlf it allows people to define and use their own global allocators.

[2017-10-24 16:49] joshlf commented on #32838
Hmmm good point. would it be possible to stabilize specifying the global allocator without stabilizing `Alloc`? I.e., the code that implements `Alloc` would have to be unstable, but that would probably be encapsulated in its own crate, and the mechanism to mark that allocator as the global allocator would itself be stable. Or am I misunderstanding how stable/unstable and the stable compiler/nightl

[2017-10-24 16:50] zackmdavis commented on #44953
But they _look_ like they're all pointing to the same code-snippet; what could be making them different? It looks like [`Span`s have a mysterious `ctxt` field](https://github.com/rust-lang/rust/blob/fbc3642ef/src/libsyntax_pos/lib.rs#L70-L76); if that's it, I'd rather manipulate that before setting/getting the `one_time_diagnostics` entry than pollute the error message string itself with file-posi

[2017-10-24 16:50] petrochenkov commented on #45495
Most of the listed variables are used by the build system and test suite, not compiler itself.
Many of them are also implementation details (they are both set and read internally) that are not supposed to be set from the outside of rustbuild.

(P.S. I suspect the meaning of many of internal variables could could be more clear if naming schemes were more explicit and consistent, e.g. everything use

[2017-10-24 16:50] theotherjimmy commented on #45495
the `rustc` and `libdir` variables appear to be `"RUSTC_STAGE"`, `"RUSTC_REAL"`, `"RUSTC_SNAPSHOT_LIBDIR"`, `"RUSTC_LIBDIR"`

[code]

[2017-10-24 16:51] glaubitz commented on #45487
@japaric It crashes the same way as ```rustc```:

[code]

[2017-10-24 16:59] est31 commented on #45491
@leonardo-m there are [multiple](https://github.com/rust-lang/rfcs/pull/1129) [discussions](https://github.com/rust-lang/rfcs/issues/997) about IndexAssign, but I don't want to change the language, I just want the compiler output to be nicer.

[2017-10-24 17:04] glaubitz commented on #45487
Oh, very interesting, I just found this https://github.com/rust-lang/compiler-rt/pull/27/files:

[code]

This is veeeeery suspicious because there is definitely a workaround for this particular issue on sparc64.

**However**, on sparc64-linux-gnu, the compiler _does not_ define ```__sparc64__```. Instead, it defines ```__sparc__ && __arch64__```. I will try to change that and if it fixes it, I wil

[2017-10-24 17:05] rightfold opened #45498 "Rustdoc hides source links on small screens"
Possible a niche use case, but anyway. 😄

If I try to go to the source of an item on a mobile phone, I can’t, because the source link is hidden. It does work on a large screen (such as that of a desktop computer). User agent spoofing doesn’t work either because it’s done using CSS.

[2017-10-24 17:08] TimNN commented on #45458
I'm not sure this is a bug or not -- I don't think plugins were intended to be used like this. But maybe the compiler should report a better error in that case.

[2017-10-24 17:12] TimNN commented on #45453
The function signature itself is perfectly valid, you can even call it, e.g. `func1::<String>(42);`. However a warning on the function declaration maybe useful, potentially as a lint in clippy. And the error on use could probably be improved.

[2017-10-24 17:18] jrmuizel opened #45499 "Tails calls are not being emitted as such"
The following rust code should get tail calls:
[code]
Instead we get:
[code]

[2017-10-24 17:19] jrmuizel commented on #45499
@sunfishcode thoughts?

[2017-10-24 17:21] Ericson2314 commented on #32838
Ah Josh remember that #27336 is a distraction, as per https://github.com/rust-lang/rust/issues/42774#issuecomment-317279035. I'm pretty sure we'll run into *other* problems---problems with the traits as they exist, which is why I want to work to commence work on that now. It's a lot easier to discuss this stuff concretely, than debate post-#27336 hypothetical.

[2017-10-24 17:23] alexcrichton commented on #45492
Fascinating! Out of curiosity, are you compiling with panic=abort or panic=unwind?

[2017-10-24 17:29] pietroalbini commented on #45330
There was a small breakage in a test of one of my projects, where I wanted to check if the permissions of a file were exactly the ones I wanted. It's not too much, but it's annoying anyway.

I think a decision on this should be made, either keeping the current behavior or reverting to the old one: the next release is going to be in a month, and it doesn't make sense to change the behavior of a met

[2017-10-24 17:49] sfackler commented on #32838
@joshlf But you can't compile the crate that defines the global allocator with a stable compiler.

[2017-10-24 18:06] alexcrichton opened #45500 "Cross compilation to 32-bit may be broken on recent nightlies"
As of a few nights ago I've noticed that a good bit of the Travis CI runs I've got that cross compile to 32-bit are now broken due to odd linker errors, for example https://travis-ci.org/alexcrichton/cc-rs/builds/290881204.

I bisected nightlies to [this range](https://github.com/rust-lang/rust/compare/4750c1ec047f18bc0e33823182e09711a3826fb5...b633341c49498488b6e3fce501e23e9f9f8fadec), and @micha

[2017-10-24 18:08] carols10cents commented on #45500
manifests as the CI failures in cargo: https://github.com/rust-lang/cargo/pull/4658

[2017-10-24 18:16] sunfishcode commented on #45499
The X86 backend currently refuses to tail-call any call with `sret`: https://github.com/llvm-mirror/llvm/commit/a375d471378b1674a9d77d180a0b05ea8c90cb4b. I don't know why that check is needed, and unfortunately there are no comments or testcases explaining it.

One option would be to dig into that code and figure out what the problems with struct returns are, if there are any, and then remove or r

[2017-10-24 18:18] joshlf commented on #32838
@sfackler Ah yes, there's that misunderstanding I was afraid of :P

[2017-10-24 18:46] GuillaumeGomez commented on #45498
I'll try to fix it.

[2017-10-24 19:20] jrmuizel commented on #34861
I filed https://github.com/rust-lang/rust/issues/45499 about the missing tail calls.

[2017-10-24 19:41] glaubitz commented on #45487
Yes, this fixes this particular issue:

[code]

[2017-10-24 19:48] Trolldemorted commented on #45492
Neither nor, i just added

[code]

for now.

[2017-10-24 19:55] jrmuizel commented on #45499
I've filed https://bugs.llvm.org/show_bug.cgi?id=35065

[2017-10-24 20:54] gurditsbedi opened #45504 "Weird Behaviour with commenting - Mixing Line and Block comment"
I have written a [small program](https://play.rust-lang.org/?gist=fb8ae0872ee993a786443f3a9900a5ec&version=stable).
[code]
The above program compiles and runs successfully. But.
[code]

The above program does not compiles and produces this `error: unterminated block comment`.
But as you can see the block comment is terminated.

This is a small trick to toggle comment a large group of statements by

[2017-10-24 22:19] binarycrusader commented on #45487
Yes, exactly, see https://github.com/rust-lang/compiler-rt/pull/31/files

[2017-10-24 22:24] glaubitz commented on #45487
@binarycrusader Yep. My suggestion would be to use ```__sparc__ && __arch64__``` as this is defined on Linux, BSD and Solaris.

[2017-10-24 22:50] jethrogb opened #45507 "std::str::pattern::Pattern documentation"
Correct me if I'm wrong, but I don't think it's possible to find out from the currently available online documentation if the following code returns true or false:
[code]
Is searching for a slice of chars the same as searching for the string of the contatenation? Or is this a set match?

There is no information on this in the following places:
* https://doc.rust-lang.org/std/primitive.str.html#met

[2017-10-24 23:15] Ixrec commented on #41196
I'm not familiar with this function, but after spending a few minutes reading up on it, I believe `spin_loop_hint` is the only name suggested so far that would _not_ be misleading to me. All of the others contain a word like `yield`, `pause`, `wait`, `relax`, etc that implies significantly more impact on execution semantics than a mere `hint` to the CPU.

[2017-10-24 23:21] karcherm opened #45509 "rustc broken on sparc64"
During a rust build on sparc64, the following crash is observed:

[code]

This is a side effect of #44646 which runs into #39696. Many (if not all) constructors of `syntax::ext::tt::quoted::TokenTree` create a `Span` member (which is now `repr(packed)`) inside the discriminated union. The discriminator is a single byte, so the Span member is laid out at offset 1 (and followed by 3 padding bytes, s

[2017-10-24 23:27] glaubitz commented on #45487
After fixing this issue, we ran into this: https://github.com/rust-lang/rust/issues/45509

[2017-10-24 23:55] eternaleye opened #45510 "`FnOnce` doesn't seem to support type-based dispatch (as `Add`, etc. do)"
**UPDATE:** [Mentoring instructions below.](https://github.com/rust-lang/rust/issues/45510#issuecomment-358780469)

---

Here's a minimal example program showing the issue:

[code]

This works perfectly if you comment out either the `Ishmael` or `Maybe` implementations, and the corresponding call. I've wanted this behavior at various times - if nothing else, it'd be useful for binding to certain p

[2017-10-24 23:59] rezso commented on #41467
Okay, I solved the network error.
I try to compile 1.20.0 on 64 bit:

running: /var/uhubuild/work/compile/build/bootstrap/debug/bootstrap build
finding compilers
CC_x86_64-unknown-linux-gnu = "cc"
AR_x86_64-unknown-linux-gnu = "ar"
CC_x86_64-unknown-linux-gnu = "cc"
AR_x86_64-unknown-linux-gnu = "ar"
CXX_x86_64-unknown-linux-gnu = "c++"
CXX_x86_64-unknown-linux-gnu = "c++"
running sanity check
thr

[2017-10-25 01:10] eternaleye commented on #45510
EDIT: Ah, seems this may be covered by #18952

[2017-10-25 01:32] eternaleye commented on #45510
Incidentally, disallowing it doesn't really reduce people's ability to write multi-dispatch - it just makes it uglier. Consider the atrocity I just perpetrated (to see if I could):

[code]

[2017-10-25 02:23] comex commented on #44365
I'm not sure why the use of liballoc_system affects anything, but it's generally a bad idea to rely on dlclose actually fully unloading a library.

Instead, I strongly suggest using a different name for each version of the library.  Not just the filename on disk should differ, but also the path embedded in the library file itself, if any: at least on macOS, such a path is always included, and defa

[2017-10-25 03:53] retep998 commented on #45495
Also be wary of code that does `use std::env::var;` and uses it simply as `var`.

[2017-10-25 04:12] virgil-palanciuc commented on #44953
So, I printed the location from the span - most of the "repeated" ones are within the macros, e.g.
[code]

I'm _pretty sure_ I need to invoke EmitterWritter::fix_multispan_in_std_macros() on the primary span, in order to retrieve the true location (main.rs, line 4) - only problem is, that method is private. And now it's late :)

I have another idea, I'll try it tomorrow  - anyway, this looks to be

[2017-10-25 04:20] Ryan1729 commented on #44365
@comex I have now done some reading about `dlclose` and since the [POSIX spec specifically states implementations do not have to unload the library](http://pubs.opengroup.org/onlinepubs/9699919799/functions/dlclose.html) I am forced to agree that I can't rely on it.

I will try your suggestion. Having to deal with multiple copies of the library on disk seems like it will be annoying, but if I can

[2017-10-25 04:33] jethrogb commented on #44365
On Linux, you can use `dlmopen` with `LM_ID_NEWLM` to make sure the library is loaded anew.

[2017-10-25 05:02] #23563 closed

[2017-10-25 05:02] #27403 closed

[2017-10-25 05:37] philipc opened #45511 "ThinLTO generates bad DWARF for libtest"
nightly-2017-10-24 contains a libtest with bad DWARF:

[code]

I can reproduce this if I recompile libtest locally:
[code]

The problem can be fixed by disabling thinlto (and keeping the codegen units is ok).

I noticed this with nightly-2017-10-24 because it is the first nightly compiled with thinlto, but the problem also occurs if I compile libtest with thinlto enabled using earlier compilers (e

[2017-10-25 05:47] Ryan1729 commented on #44365
@jethrogb Interesting. I think I would like the library reloading to be portable, and it's nice to be able to let [libloading](https://github.com/nagisa/rust_libloading) deal with the platform specific portions. But it's nice to know that `dlmopen` option is available, if needed.

[2017-10-25 06:46] eddyb commented on #45510
cc @rust-lang/lang Given that, in the future, Variadic Generics would almost certainly allow arity dispatch (if we ever get them), and that `Fn` impls are unstable for now, can't we just fix this/#18952?

AIUI, the fix involves generating an N-tuple of inference variables for an N-argument call, i.e. instead of searching for `FnOnce<_>`, we'd be searching for `FnOnce<(_, _, _)>` for a 3-argument c

[2017-10-25 06:57] Rantanen commented on #45458
Yeah, the "emit crate-level code" use case can be handled by macros so getting this to work isn't on that high priority I guess.

But it would be nice if rustc didn't panic on it. :)

[2017-10-25 07:40] #45471 closed

[2017-10-25 07:57] glaubitz commented on #45509
CC'ing @bgermann @binarycrusader @jakllsch @japaric @jrtc27

[2017-10-25 08:01] cramertj commented on #44755
@arielb1 I've pushed up my WIP branch for this [here](https://github.com/cramertj/rust/commits/matches). Can you take a look and let me know if the approach seems reasonable? Additionally, what's the best/easiest way to check if the `Self` type implements the provided trait, given `DefId`s for the `Self` type and the trait? I need something along those lines in order to complete [this step](https:

[2017-10-25 08:57] coriolinus opened #45515 "Improve error message when someone triggers E0507 because of an invisible borrow due to implicit use of Deref trait"
I recently hit a bug in which I wrote a [function containing only owned data](https://stackoverflow.com/questions/46905070/cannot-move-out-of-borrowed-content-with-no-borrowed-content), but which produced a "cannot move out of borrowed content" compiler error. I only figured it out after building a [minimal example](https://play.rust-lang.org/?gist=21175b41b1adcbf3a28c1f6affc74ccd&version=stable).

[2017-10-25 09:15] oli-obk opened #45516 "Test suggestions in diagnostics with compiletest"
Currently suggestions are tested either via `compile-fail` `// SUGGESTION foobar` comments or in `ui` tests by looking at the json or the command line output.

The validity of these suggestions requires a human to interpret them. I suggest (pun intended) that we generate a `.suggestion` and a `.suggestion.stderr` file together with the `.stderr` and the `.stdout` files. The file will only exist if

[2017-10-25 09:16] fulmicoton commented on #44899
Here is a minimum code to reproduce.

https://github.com/fulmicoton/bug_known_bits/blob/master/src/lib.rs

To reproduce you can clone the repo and run `cargo build --release`.

[2017-10-25 10:40] main-- commented on #41196
From the [Intel Optimization Manual](https://www.intel.com/content/dam/www/public/us/en/documents/manuals/64-ia-32-architectures-optimization-manual.pdf), section 8.4.7:

The instruction's original function (hint to avoid memory order violation) has been extended quite a bit. So yes, it *does* yield resources.

[2017-10-25 10:45] estebank commented on #45515
The error for E0507 is in a method in `src/librustc_mir/util/borrowck_errors.rs` which seems to be used in:
 - `src/librustc_borrowck/borrowck/gather_loans/move_error.rs`
 - `src/librustc_mir/borrow_check.rs`
 - `src/librustc_mir/dataflow/move_paths/builder.rs`

Feel free to start working as this is a feature request that wouldn't need an RFC, those are for when an implied or explicit "contract" w

[2017-10-25 10:45] oli-obk commented on #45504
You can use

[code]

Note the space

[2017-10-25 10:48] coriolinus commented on #45515
Ok, thanks! I'll get started on this.

[2017-10-25 11:00] xianghx opened #45517 "how to resolve this issue: std::rt::lang_start undefined reference"
uname --a
Linux sky 3.13.0-117-generic #164-Ubuntu SMP Fri Apr 7 11:06:36 UTC 2017 i686 i686 i686 GNU/Linux

cc --version
cc (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4
Copyright (C) 2013 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

rustc --version
rustc 1.22.0-nightl

[2017-10-25 11:55] oli-obk commented on #45517
What's the content of `hello.rs`?

Is this only happening on a recent `nightly`? Or did it happen before?

Does `stable` produce the same error?

[2017-10-25 11:58] xianghx commented on #45517
stable ok.
maybe 2007-10-14 nightly ok.

then, rustup update nightly , doesn't work.

hello.rs
fn main() {}

[2017-10-25 11:58] gnzlbg commented on #32838
I find the name `Excess(ptr, usize)` a bit confusing because the `usize` there is not the `excess` in capacity but the total capacity.

[2017-10-25 12:00] xianghx commented on #45517
raphlinus commented 2 days ago

This looks like something wrong in your build environment, not with pulldown-cmark itself. rust-lang/rust#42239 is a similar error. Are you able to compile other programs?
--
see https://github.com/google/pulldown-cmark/issues/101

[2017-10-25 12:08] oli-obk commented on #45517
Have you tried updating nightly again?

[2017-10-25 12:11] xianghx commented on #45517
rustup update nightly
info: syncing channel updates for 'nightly-i686-unknown-linux-gnu'

  nightly-i686-unknown-linux-gnu unchanged - rustc 1.22.0-nightly (4c053db23 2017-10-22)

[2017-10-25 12:11] xianghx commented on #45517
I don't know why it does not 2007-10-25.

[2017-10-25 12:45] glaubitz commented on #43169
It's generally a bad idea to use "uname" to detect the build architecture as the kernel does not necessarily have the same bitness as the userland.

Other popular examples are:

- sparc64 kernel with a sparc userland
- ppc64 kernel with a powerpc userland
- arm64 kernel with an armhf userland

I just ran into this particular issue while trying to build rustc for Debian powerpc on a machine with a

[2017-10-25 13:06] alexcrichton commented on #45500
Cc @michaelwoerister

[2017-10-25 13:20] ishitatsuyuki opened #45520 "rustdoc: Display collapse button on mobile"
The collapse button is extremely useful for briefing, and as #45502 is adding the second button, we should show the +/- button as well.

cc @GuillaumeGomez

[2017-10-25 13:38] nikomatsakis commented on #45385
@slo1 great! Let me know how it goes. =) A word of warning, I do try to keep up with GH comments, but faster responses can be had by sending a ping on gitter.

[2017-10-25 13:38] nikomatsakis commented on #45388
Seems like this is done!

[2017-10-25 13:39] arielb1 commented on #44755
@cramertj

The typeck part of your PR is basically OK. I'll like one of the resolution guys (e.g. @petrochenkov) go over your pull request and check that it doesn't use the wrong functions.

To check that your type implements the trait, you should probably pass a closure to `evaluate` from [`on_unimplemented_note`], where you should create a `Self: Trait` obligation and call `evaluate_obligation`

[2017-10-25 13:46] nikomatsakis commented on #45477
@power10dan

I would love it if you did! I started the other day trying to write up mentoring instructions, but I never quite finished. [This gist contains what I did so far](https://gist.github.com/nikomatsakis/e258270f16bc0d75c43b07224e020933). Maybe the best way to start is just to read a bit into some of the code mentioned there, to get a feeling for how things work today. You can reach out [o

[2017-10-25 13:47] nikomatsakis opened #45521 "add a lint for `pub` items that are not reachable from crate root"
As part of https://github.com/rust-lang/rust/issues/44660, we need to create a lint for items that are declared as `pub` but are not reachable from the crate root (such items are advised to use `crate` visibility instead).

The lint should probably be allow-by-default for now, to start.

This issue needs precise mentoring instructions. There are some tips regarding adding "future compatibility" li

[2017-10-25 13:49] nikomatsakis commented on #45521
@zackmdavis mentioned that they were working on this

[2017-10-25 14:22] arthurprs commented on #32838
I agree with @gnzlbg above, I think a plain (ptr, usize) tuple would be just fine.

[2017-10-25 14:26] michaelwoerister commented on #45500
Yes, when switching to SipHash I also switched away from using `leb128` for all integers. That might introduce a difference for `isize` and `usize`. I'll take a look.

[2017-10-25 14:47] alexcrichton commented on #45492
Ah thanks for testing!

Yeah this is being referenced because of `panic = "unwind"` referencing panicking machinery (which references this function on MSVC). If it works now I think that's intended behavior so let's close, but we could certainly of course document this better :)

[2017-10-25 14:47] #45492 closed

[2017-10-25 14:49] alexcrichton commented on #32838
Note that `Excess` is not proposed to be stablized in the first pass, however

[2017-10-25 15:00] gnzlbg commented on #38078
This is a _huge_ paper cut for me: I have a lot of code of the form `<<<<F as E>::E as D>::D as C>::C as B>::B as A>::A>` and it is completely unreadable to write methods on traits while having to skim through that.

There are two cases when this cuts me, hard:

- when I know that there isn't an ambiguity yet I have to disambiguate (bad)
- when I doubt if there is an ambiguity and might not want o

[2017-10-25 15:15] gnzlbg commented on #45431
@bluss can you elaborate about how this kind of specialization would change the variance of `Vec` ? AFAIK the only way in which a user of `Vec<T>` can tell whether this specialization is applied is by observing the `mem::size_of::<Vec<T>>`. We would need some "hacks" to make iteration on these vectors work, but that should be doable.

[2017-10-25 15:20] Trolldemorted commented on #45492
Imho this is not a documentation issue, but a rustc one: If we build a `no_std` crate without `panic = "abort"`, the compiler should print a meaningful error message stating that this is impossible.

[2017-10-25 15:46] gnzlbg commented on #38078
Maybe the problem is that what I understand by ambiguous (e.g. that two associated types are named equal) and what the compiler understands by ambiguous are different things.

[2017-10-25 16:05] alexcrichton commented on #45492
Perhaps yeah! It's technically not *impossible* but certainly quite hard to get working

[2017-10-25 16:23] Trolldemorted commented on #45492
It would indeed be nice to get it working, but until it does I really recommend a decisive error message.

Should I create a seperate issue for that?

[2017-10-25 16:50] alexcrichton commented on #45492
Sure!

[2017-10-25 16:58] cramertj commented on #44755
@arielb1 Great! Thank you so much for the quick feedback.

[2017-10-25 18:04] glaubitz commented on #45487
As https://github.com/rust-lang/compiler-rt/pull/33 got just merged, I'm closing this.

[2017-10-25 18:04] #45487 closed

[2017-10-25 18:07] Mark-Simulacrum commented on #45517
@alexcrichton Possibly related to the recent breakage of 32-bit cross compiles on nightlies?

[2017-10-25 18:09] nikomatsakis commented on #40801
So @arielb1 and I were talking about this. We decided to close this issue on the following grounds:

- It would be a backwards incompatible change to alter the fallback rules.
- The proposed rule is not **better enough** than the existing rule (it still has surprising cases).

Just for future reference, the relevant examples are:

`try!(Err(E))` -- this works under both today's rule and the propos

[2017-10-25 18:09] #40801 closed

[2017-10-25 18:15] alexcrichton commented on #45517
Seems quite likely, yes, that this is https://github.com/rust-lang/rust/issues/45500

[2017-10-25 18:19] #45498 closed

[2017-10-25 19:13] glaubitz commented on #45456
Since both https://github.com/alexcrichton/cc-rs/pull/262 and https://github.com/rust-lang/rust/pull/45465 have been merged, I am closing this one now.

[2017-10-25 19:13] #45456 closed

[2017-10-25 19:22] cuviper commented on #42327
In prototyping a [`try_fold` for rayon](https://github.com/cuviper/rayon/commits/try_fold), I found myself wanting something like `Try::is_error(&self)` for the `Consumer::full()` methods.  (Rayon has this because consumers are basically push-style iterators, but we still want to short-circuit errors.)  I instead had to store the intermediate values as `Result<T::Ok, T::Err>` so I could call `Resu

[2017-10-25 19:34] Trolldemorted opened #45533 "rustc should print an unambiguous error message when building no_std binaries with panic=unwind"
As we have found out in #45492, rustc cannot (yet) build a `no_std` binary when compiling with panic=unwind.

Instead of aborting and printing an error message, rustc builds objects that have external dependencies, in msvc's case `__CxxFrameHandler3`.

[2017-10-25 20:10] jseyfried opened #45534 "Confusing/inconsistent lifetime error with `==` on types with different covariant lifetimes"
[code]

[2017-10-25 20:19] GuillaumeGomez commented on #45520
The +/- buttons are there as well. Which ones are you talking about?

[2017-10-25 21:03] thegranddesign commented on #43244
IMO it's not `filter` that's the issue.  Having just searched for this (and being a newbie), `drain` seems to be fairly non-standard compared to other languages.

Again, just from a newbie perspective, the things I would search for if trying to find something to do what this issue proposes would be `delete` (as in `delete_if`), `remove`, `filter` or `reject`.

I actually _searched_ for `filter`, s

[2017-10-25 21:16] power10dan commented on #45477
Got it. It seems that @petrochenkov has self-assigned the issue to him. I did message him on gitter to ask whether he needed help. Nevertheless, I will go through the code base, and if there is anything I find interesting  while working on this issue I will be sure to extend the directions.

[2017-10-25 21:19] thegranddesign commented on #43244
On a separate note, I don't feel as though this should mutate the vector it's called on.  It prevents chaining.  In an ideal scenario one would want to be able to do something like:

[code]

With the current implementation, what it would be joining on would be the rejected values.

I'd like to see both an `accept` and a `reject`.  Neither of which mutate the original value.

[2017-10-25 21:26] power10dan commented on #45477
So @petrochenkov is not working on this issue. Can I get assigned to this issue please? I don't think I have permission to self-assign.

[2017-10-25 21:26] durka commented on #44975
@nikomatsakis do you have any idea *how* to fix it?

[2017-10-25 21:26] achanda opened #45536 "It's not clear when try_clone calls can fail"
Some types have a `try_clone` methods that returns `Result<T>`. From the documentation, it is not clear under what conditions can this call fail. Types that implement it are

https://doc.rust-lang.org/std/?search=try_clone

[2017-10-25 21:28] rpjohnst commented on #43244
You can already do the chaining thing with `filter` alone. The entire point of `drain_filter` is to mutate the vector.

[2017-10-25 21:31] power10dan commented on #45477
Sorry for spamming. I think only repo members can assign assignees to the project. So I will just leave a comment that I will be working on this issue :)

[2017-10-25 21:34] petrochenkov commented on #45477
@power10dan

Moreover, only repo members can be assigned to the repo issues on GitHub, so I can't add you to the "Assignees" list either.

[2017-10-25 21:39] thegranddesign commented on #43244
@rpjohnst so I searched [here](https://doc.rust-lang.org/std/vec/struct.Vec.html), am I missing `filter` somewhere?

[2017-10-25 21:47] bstrie commented on #32838
Posted this thread for discussion on reddit, which has some people with concerns: https://www.reddit.com/r/rust/comments/78dabn/custom_allocators_are_on_the_verge_of_being/

[2017-10-25 21:57] rpjohnst commented on #43244
Yes, it's a member of `Iterator`, not `Vec`.

[2017-10-25 22:19] nikomatsakis opened #45537 "MIR Borrowck does not handle borrows of array elements"
This example only shows 1 error, from the AST borrow checker:

[code]

cc @arielb1

[2017-10-25 22:19] nikomatsakis commented on #45537
I get:

[code]

[2017-10-25 22:21] #42653 closed

[2017-10-25 22:22] ishitatsuyuki commented on #45520
Uh, I mean the master "collapse all" button.

[2017-10-25 22:29] Gankro commented on #43244
Drain is novel terminology because it represented a fourth kind of ownership in Rust that only applies to containers, while also generally being a meaningless distinction in almost any other language (in the absence of move semantics, there is no need to combine iteration and removal into a single ""atomic"" operation).

[2017-10-25 22:45] nikomatsakis commented on #44495
Anybody working on this actively?

[2017-10-25 23:02] Nokel81 commented on #44495
I am and I have what I believe to be a full solution but I have had trouble compiling rustc because I am on windows with VS2017. I even tried following the instructions for not VS2015 but that didn't seem to work

[2017-10-25 23:03] achanda opened #45539 "std::net::UdpSocket semantics are not user friendly"
According to the documentation [1], a caller needs to first bind to a local socket and then call connect with the server's address before sending data. In most cases, the kernel should be able to allocate a source port and the first bind should not be necessary. This makes the API unnecessarily complex. Equivalent C code

[code]

The only way to achieve this currently is to use the `libc` or `nix`

[2017-10-25 23:16] coriolinus commented on #45515
First stumbling block: I've ensured my system has all the dependencies, cloned the repo, and built rust using `x.py`. However, without having yet changed anything at all, the tests don't pass:

[code]

I don't think it would be productive for me to start coding before the tests all pass, because one way or another they'll need to pass in order to merge any commits I make.

It is possibly worth not

[2017-10-25 23:29] bstrie commented on #34981
Yet another reason to deprecate the latter form. ;)

[2017-10-26 00:04] virgil-palanciuc commented on #44953
Ok guys, I've created PR https://github.com/rust-lang/rust/pull/45540 - let me know if you think it's a reasonable solution.

[2017-10-26 00:21] virgil-palanciuc opened #45541 "Build messages are confusing when build failure is expected for subcomponent."
This is how the current build finishes for me:
[code]
What's not depicted here is that all the errors are in bold and/or red text, where as the "build completed successfully" is a rather discrete line at the very end - see [this screenshot](https://imgur.com/VzVB8Dq) to see what I mean. I spent quite a but of time trying to figure out why the build isn't working on my machine - when in fact it was

[2017-10-26 00:29] bagedevimo commented on #44954
Hey @BrunoWilkinson - are you still looking at this? If not, I'd like to have a go.

[2017-10-26 00:41] bstrie opened #45542 "Specialization: cannot specialize an impl of a local trait when the default impl is a blanket impl bounded by a non-local trait"
Found this in the Chucklefish AMA thread, in the subthread about working around the lack of `Ord` on floats.

This code compiles:
[code]

...But adding a specialized impl fails:
[code]

Error message:
[code]

I'm afraid I don't see how the error message is relevant, or how an upstream impl of `Ord` for `f64` could conflict with this impl of the local `Foo` trait. Is this intended behavior?

The ab

[2017-10-26 01:07] bstrie commented on #31844
Can anyone comment as to whether the code in the following issue is intentionally rejected? https://github.com/rust-lang/rust/issues/45542

[2017-10-26 01:09] bstrie commented on #45542
Also, if it's determined that the above behavior is intended, then should the error be triggered by the default impl in the first place, given that it appears impossible to specialize?

[2017-10-26 01:24] cuviper commented on #45542
Funny, `impl Foo for u64` works!  So potential overlap gives an error, but definite overlap is fine.

[2017-10-26 01:45] Emerentius commented on #45542
It seems that https://github.com/rust-lang/rust/issues/31844#issuecomment-325870682 is the same issue with more genericity sprinkled in. The more specific impl is blocked when it's unclear whether it's a specialization or the only impl in the first place.

[2017-10-26 03:18] arielb1 opened #45543 "ABI code generates oversize loads when returning with a cast"
## Meta

[code]

## STR

[code]

target is x86_64-unknown-linux-gnu

## Expected Result

Code generated should not have UB

## Actual Result

The generated no-opt LLVM IR is:
[code]

This loads 4 bytes of an alloca of size 3. I couldn't trivially turn this to an end-to-end mis-code-generation (this can't be used to load from anything *but* the return pointer, so you can't do the standard "load at

[2017-10-26 03:26] arielb1 commented on #45543
This also happens when casting *arguments* - currently arguments can be "arbitrary" temporaries, so the return value fix won't work, but this still can't directly be used for the "end of page" segfaults:

[code]

generates:
[code]

[2017-10-26 03:35] arielb1 commented on #45543
The example above makes doing the alloca oversize less of a good idea - we eventually want to allow passing references to struct fields directly as function parameters, where we do not want to add a "guard byte". I think the "i24" case (which I think also includes 5/6/7-byte fields) should just be handled by doing an ugly memcpy.

[2017-10-26 04:37] fulmicoton commented on #44899
Here is the last pass  that makes LLVM unhappy.

[code]

LLVM's value checker is correct to infer that some of the bits in the second branch are supposed to be both 0 and 1... The conclusion is however wrong : the branch is simply unreachable.

[2017-10-26 04:39] withoutboats commented on #45542
This is definitely the "known" behavior right now - in the sense that this is what I would expect to happen, the comment I wrote in the other issue explains why. However, it seems to me that we should be able to make this work by reasoning through "potential specialization" along the same lines that we have an understanding of "potential overlap" today.

[2017-10-26 04:59] tirr-c opened #45544 "rust-openssl fails to build on nightly, armv7-unknown-linux-gnueabihf"
Build goes smoothly on stable.

Nightly:

[code]

## Meta

`rustc --version --verbose`:

[code]

[2017-10-26 05:16] canndrew commented on #40801
Sounds fine to me. By the way `!` does (or at least should) implement `Deserialize`, it's just that it will always error at runtime (since it's never possible to produce a `!` from the serialized data). So I agree deserializing to `!` makes more sense than `()`.

[2017-10-26 05:18] canndrew commented on #35121
#40801 Can be ticked off.

[2017-10-26 05:46] canndrew commented on #40800
@nikomatsakis What's the status of this at the moment? Has any more work been done towards it or do you have any solid ideas about what needs to be done?

[2017-10-26 05:57] canndrew commented on #27804
I was assuming it would be O(m/n), but maybe it would be better to have some kind of iterator which allows removing elements from the set. eg. an iterator of `OccupiedEntry`. That would be more versatile and would sometimes be more efficient to use.

[2017-10-26 06:41] bothra90 opened #45546 "Borrow of Rc outlives temporary value"
Working with the following code:

[code]

[2017-10-26 07:04] #44851 closed

[2017-10-26 07:42] rkruppe commented on #45546
Could this be #21114?

[2017-10-26 08:29] GuillaumeGomez commented on #45520
Oh I see. I'll give it a look.

[2017-10-26 08:42] oli-obk commented on #45537
Not sure what is going on, but if `-Zborrowck-mir` is not passed, the error output is

[code]

[2017-10-26 08:55] Ryan1729 commented on #44365
@comex I've gotten a version of my example code working on `1.21.0` using your suggestion! The first working version is [here](https://github.com/Ryan1729/tiny-live-code-example/commit/281a6e217b037a0a01fb9010b4b1b0acab5bb769) but it is a messy hack. I'm currently working on a more robust version but now I can see a way forward where I'm not stuck on 1.19.0 forever. Thanks for making your suggesti

[2017-10-26 08:58] Ryan1729 commented on #44365
Since the POSIX standard (currently?) doesn't provide a way to reload dynamic libraries without the workaround, I suppose this issue can be closed.

[2017-10-26 08:58] #44365 closed

[2017-10-26 10:29] rezso commented on #41467
Solved.
I have llvm 4.0, which is not contains the /usr/bin/FileCheck binary. Setting codegen-tests to false solves this.
In the install, the liblzma.{a,la,pc} and header files are installed, so rust package conflicts with xz-dev package.
If I set docs to false, the build fails:
Nothing to run...

Traceback (most recent call last):
  File "/var/uhubuild/work/compile/src/bootstrap/bootstrap.py", li

[2017-10-26 10:39] Manishearth commented on #44928
Initial infrastructure: https://github.com/rust-lang/rust/pull/45538

[2017-10-26 10:44] BrunoWilkinson commented on #44954
Hey @bagedevimo, currently no I couldn't find the time to tackle the issue, In parallel, I'm still learning Rust. But I would love to see the solution to this issue like I did spend some time on it.

[2017-10-26 10:47] sfackler opened #45547 "io::IntoInnerError should have a .into_error"
If you don't care about the underlying writer after an error, it'd be nice to be able to grab the io::Error out.

[2017-10-26 11:44] eddyb commented on #45543
I remember fixing this, I don't understand how we're still having issues like these.

[2017-10-26 12:35] Freyskeyd commented on #45534
hello,

this is related to #45435 cc @eddyb

[2017-10-26 13:07] gbip commented on #39684
Hello,
I just wanted to say that I add the same problem with the following code :
[code]
Here is [playground link](https://play.rust-lang.org/?gist=dce856715f99caff9727a94f58aa4a13&version=stable).
This was on the latest stable (1.21).

[2017-10-26 13:08] infinity0 commented on #39013
Just noting that at the time of writing, the LLVM bug was reopened, the previous fix was not good.

[2017-10-26 14:06] arielb1 commented on #45543
@eddyb

We fixed this for stores, where the problems were obvious (stack corruption), to actually get a problem with a load is harder - you have to engage an LLVM optimization.

[2017-10-26 14:30] arielb1 commented on #45546
Yes it is.

[2017-10-26 14:30] #45546 closed

[2017-10-26 15:02] Gankro commented on #27804
The O(m/n) behaviour is a DOS footgun, I don't think it would be acceptable to ship. In the same vein I don't think this is important enough to possibly redesign hashmap to make efficient.

[2017-10-26 15:15] arielb1 commented on #45184
[code]

becomes
[code]

[2017-10-26 15:40] carols10cents opened #45552 "TRPL - print button not working in beta or nightly"
Possibly related to https://github.com/rust-lang/rust/issues/44704, not sure yet. Mdbook related, not rustdoc. Possibly due to customizations we've made, not sure if mdbook bug or not yet.

If I visit https://doc.rust-lang.org/beta/book/second-edition/ or https://doc.rust-lang.org/nightly/book/second-edition/ and click the print button, nothing happens. Same non-behavior in firefox nightly and chr

[2017-10-26 16:05] steveklabnik commented on #30229
I ran into this today with someone, but the file was `userenv.lib`. Rust 1.21.0. Haven't been able to debug it.

[2017-10-26 16:06] chriskrycho commented on #41003
This just bit me; it's *extremely* confusing. I'd be happy if someone has the time to help to mentor a bit to tackle this while I'm at Rust Belt Rust today and free on Saturday as well. (Back to the grind after that…)

[2017-10-26 16:42] samsartor commented on #44580
@jplatte @eddyb Any news on this?

[2017-10-26 16:46] cuviper commented on #45544
This might be #45500.

[2017-10-26 16:56] cuviper commented on #45536
The error conditions are OS-dependent, e.g. from Windows [`DuplicateHandle`](https://msdn.microsoft.com/en-us/library/windows/desktop/ms724251(v=vs.85).aspx) or Posix [`dup`](http://man7.org/linux/man-pages/man3/dup.3p.html) (or really [`fcntl`](http://man7.org/linux/man-pages/man3/fcntl.3p.html) `F_DUPFD_CLOEXEC`).

[2017-10-26 17:00] kennytm commented on #45552
https://github.com/azerupi/mdBook/compare/0.0.25...0.0.26

Probably caused by azerupi/mdBook#439. Note that the PR introduced the diff:

[code]

But I can't see that `<a>` tag in the beta/nightly book.

[2017-10-26 17:04] carols10cents commented on #45552
AHA!! Nice catch @kennytm !!! We indeed customize index.hbs in the book, so that's probably the issue.

[2017-10-26 17:52] vbextreme opened #45553 "Comment generate error"
`println!("hello world"/*//*/);`
This code generate error, in C are valid syntax.
[code]
I'm not a rust programmer, sorry for intrusion

Have a good life

[2017-10-26 18:00] kennytm commented on #45553
In Rust, unlike C, block comments can be nested:

[code]

Your example is thus tokenized as: `/*` `/` `/*` `/` — two opening block comments. The error is expected.

[2017-10-26 18:09] vbextreme commented on #45553
But comment in comment is a comment, at least that's what logic tells me.
I can't find the meaning but ok, thanks for the clarification and  for the time dedicated to me.

Have a good life.

[2017-10-26 18:28] jseyfried commented on #45534
Closing as duplicate of #45425.

[2017-10-26 18:28] #45534 closed

[2017-10-26 18:37] rep-nop commented on #44690
@nikomatsakis @nrc any input? :)

[2017-10-26 18:52] #45553 closed

[2017-10-26 19:11] retep998 commented on #30229
@steveklabnik In general when someone gets an error where the linker can't find a system library (rather than being unable to find the linker), this is typically because they have an incomplete Windows SDK. To debug this, you'd need to know which paths the linker is searching in (via the `/LIBPATH` arguments which you can view when the linker command line is printed out because linking fail). Find

[2017-10-26 19:14] retep998 commented on #45536
Because `try_clone` creates a new handle or file descriptor, any sort of resource exhaustion which prevents another handle or file descriptor from being created can cause `try_clone` to fail.

[2017-10-26 19:16] vbextreme commented on #45553
` /* /* */ `
This have the same error, and not because have only opened the comment.
In C, unlike rust,  is only a warning and I can build.

[2017-10-26 19:39] ranma42 commented on #27804
How about shrinking the table when it is more empty then a given threshold?
This would ensure that O(m/n) is not that bad.
(AFAICT even shrinking only in `pop` should work from an amortised cost perspective)

[2017-10-26 19:39] mystor opened #45556 "Improve error line numbers in doctests"
Currently if an error (such as a build error) occurs within a doctest, the line numbers are relative to the doc comment's start point, rather than actual lines in the file, which is annoying.

I think that it would be better if the errors were reported based on lines in the original source file.

[2017-10-26 19:43] kennytm commented on #45553
You have two `/*`, thus you need two `*/` to balance it.

`/* /* */ */`

[2017-10-26 19:46] kennytm commented on #45556
The problem of fixing it is that, it may break doc tests that uses `line!()`, unless we decouple the line number reported by `line!()` and the line number reported by the error diagnostic.

[2017-10-26 20:13] bluss opened #45557 "Tracking issue for `core::ptr::dangling/_mut` (feature `ptr_dangling`)"
Tracking issue for `core::ptr::dangling/_mut` (feature `ptr_dangling`)

- (To be) Implemented in PR #45527

[2017-10-26 20:15] GuillaumeGomez commented on #45520
The master "collapse all" button is already displayed as well (on nightly). I'll close this issue then!

[2017-10-26 20:15] #45520 closed

[2017-10-26 20:49] porglezomp commented on #44365
I'm also dealing with the issue for live reloading in games (I wrote [live-reload][]), so it's good to know that this is going on and it's not something I changed.

[live-reload]: http://crates.io/crates/live-reload

[2017-10-26 20:57] mcolinj opened #45560 "Profoundly unhelpful compiler error message when "mod" accidentally used as "%""
[code]

[2017-10-26 20:57] mystor commented on #45556
Would we be able to crater this & see if it actually affects people's doctests in the wild?

[2017-10-26 21:01] scottmcm commented on #45560
Note that [it](https://play.rust-lang.org/?gist=8a3b141d1c95f4e41105dfa3cea02bae&version=stable) also gives this as the first error:
[code]

[2017-10-26 21:05] spastorino opened #45561 "MIR-borrowck: ICE: panicked at 'end region not found for ReScope(Remainder(BlockRemainder ..."
I was trying to add a test in the compile-fail directory with this content ...

[code]

[2017-10-26 21:12] mcolinj commented on #45560
Yes, thanks.   I see that now that I've reproduced it.    That first error scrolled off the screen so I did not see it!    I'm a newbie at Rust Belt Rust today and my workshop instructor suggest I file this PR after see it.

[2017-10-26 21:13] arielb1 commented on #45561
ICE report:
[code]

[2017-10-26 21:26] scottmcm commented on #45560
Thanks for filing!  There's definitely opportunity for improvement here -- perhaps type errors should never be shown for methods that failed to parse, or something.

[2017-10-26 22:04] zackmdavis opened #45562 "incorrect suggestion span for no-mangle-const-items lint"
[code]

should look more like

[code]

due to [faulty assumptions](https://github.com/rust-lang/rust/blob/b218a02ad8b8b/src/librustc_lint/builtin.rs#L1179-L1180) introduced in #45232

[2017-10-26 22:13] shaleh commented on #45500
A simple Docker based test case fails with link issues. I made no edits to the generated code. This is just hello world.

    rustup install nightly
    rustup default nightly
    cargo init test32bit --bin
    cd test32bit
    cargo build

I used https://github.com/ioft/dockerhub/i386-ubuntu/Dockerfile to test this. Note it makes an i686, not i386 but it is still 32 bit linux.

The failed output

[2017-10-26 22:14] shaleh commented on #45500
In a bigger project I see LOTS of linker errors. It cannot find core::panic, fmt macros, and on and on.

[2017-10-27 00:18] Boscop commented on #44663
Maybe it's useful to look at how this problem is approached in Haskell.
Here are some relevant slides: https://wiki.haskell.org/wikiupload/b/b4/HIW2011-Talk-Loeh.pdf

Here is an example of a subtle dependency issue that occurs with private dependencies:
![](http://harry.garrood.me/assets/img/encapsulations-are-subtle.png)

Btw, I found it through this post: http://harry.garrood.me/blog/purescript-

[2017-10-27 00:52] nikomatsakis commented on #45561
It turns out that the problem was not passing `-Zborrowck-mir`. I think we only build the end-region span tables when that flag is given. Closing.

[2017-10-27 00:52] #45561 closed

[2017-10-27 05:11] zackmdavis opened #45567 "concerning Python version for src/etc/char_private.py"
src/etc/char_private.py is used to generate src/libcore/char_private.rs (which is checked in to the repository, so the script is to be run by a developer making a change to it, not the build system).

char_private.py requires Python 3.5+—it uses `FileNotFoundError` (introduced in Python 3) and `subprocess.run` [(introduced in Python 3.5)](https://docs.python.org/3/whatsnew/3.5.html#subprocess)—whi

[2017-10-27 05:56] mtak- opened #45568 "#[inline] should be a warning or error if used above non-functions"
Adding `#[inline]` above arbitrary statements does not issue a warning or error.

I found this confusing. I was guessing at a loop unrolling attribute when I discovered this, and thought the lack of warnings/errors meant it might actually unroll the loop, but checking the ASM output proves it does not: https://godbolt.org/g/sNEnfa

[code]

[2017-10-27 06:06] zackmdavis commented on #45568
Could be part of the unused-attribute lint? Potentially related: #14407 and #14408

[2017-10-27 07:24] drahnr commented on #22340
There is another problem related to this one:

[code]

which essentiall prevents using closures for `for<'r> Fn(..) -> ...`bounded generics

[2017-10-27 08:03] Fraser999 opened #45572 "std::process::Command hangs on Windows if piped stdout buffer fills"
There's an issue on Windows when using `Stdio::piped()` for `stdout`.  If the child process writes too many bytes to stdout, it appears to get permanently blocked.  A minimal test case (echo 2049 blank lines to cmd) is:

[code]

This hangs for me, but succeeds if only 2048 `echo`s are specified (which is why I'm suspecting it's related to filling the 4096-byte buffer).

[2017-10-27 08:32] retep998 commented on #45572
So the issue is that `.status()` does not read from piped stdout/stderr, causing it to get blocked?

[2017-10-27 08:43] cyplo commented on #32658
There referenced code has been merged in it seems.
The message is now (rustc 1.21.0 (3b72af97e 2017-10-09)):

[code]

Would that be enough to close this issue ?

Thanks !

[2017-10-27 08:45] Fraser999 commented on #45572
I'm guessing that's the case, yes.  Or it's trying to read and failing, but I haven't looked into the code there, so not really sure if that's even possible.

[2017-10-27 10:04] #32658 closed

[2017-10-27 10:34] cyplo commented on #37998
The error seems to be
[code]

[2017-10-27 10:38] malbarbo commented on #45390
Thanks @alexcrichton. Let's keep "gnu" then.

[2017-10-27 10:38] #45390 closed

[2017-10-27 11:16] #45238 closed

[2017-10-27 11:59] xfix commented on #37998
The error message is less than great, but I suppose it's not ICE anymore.

[2017-10-27 12:06] 3Hren commented on #44422
This reproduces also when `lto=true` is enabled even on `nightly-2017-07-14-x86_64-unknown-linux-gnu`... Have no idea what's going on. Probably there are unsafe `unsafe's` in the dependent libraries (mio, tokio_core, hyper), which are overoptimized.

[2017-10-27 13:30] MSleepyPanda commented on #22694
I've hit this today. Is there progress on this?

[2017-10-27 13:31] durka commented on #22694
cc @jseyfried

[2017-10-27 14:07] 3Hren commented on #44422
Well, enabling more aggressive optimisations points me that the compiler was not guilty all this time. More deep debugging results in that such code fails for some reason:

[code]

Replaced with:

[code]

And everything works fine for now. Many sorry for disrupting, you may close the issue. But I'd be very pleased if someone explains me why the previous code was considered incorrect. There were no

[2017-10-27 14:23] eflukx opened #45576 "Overflowing integer crashes program"
The following snippet, when built with `cargo run --release`

[code]

Results in the following on Windows 10 x64, rustc 1.20.0 (f3d6973f4 2017-08-27)

[code]

Tested on Ubuntu 14.04 Linux 3.13.0-129 x86_64, rustc 1.22-dev
The result is:

[code]

Both on Linux and Windows: When the `println!` is uncommented all seems to work as expected. When the code is not in `crash()` but directly in `main()` it

[2017-10-27 14:42] sfackler commented on #45576
It's not caused by the overflow - it's cause by LLVM removing the loop entirely because it has no side effects: https://github.com/rust-lang/rust/issues/28728.

[2017-10-27 14:44] eddyb commented on #44422
@3Hren Well, `let null = unsafe { mem::uninitialized() };` is not how you create a null pointer, and even a null pointer would be invalid here, because these are *references* and it's UB to have invalid values of them used in certain ways, not that I can tell what exactly happens here.
Also, you can just use `&[]` or `b""` - or switch to an `ArrayVec` type instead of fixed-size array.

[2017-10-27 15:09] malbarbo commented on #45417
Passing `-O` fix the problem

[code]

[2017-10-27 15:13] 3Hren commented on #44422
As I understand `mem::uninitialized()` does nothing with the memory, leaving it in the same state as it was at stack allocation (i.e. garbage). However `bufs` is partially initialized with meaningful values before reading, and only that part of slice is used, i.e. there was write happened-before read.

[2017-10-27 15:15] #44422 closed

[2017-10-27 15:50] durka commented on #45515
@coriolinus proc macro tests don't work with stage 1 at all. Generally you only run the tests that are relevant to your PR specifically (or new ones that you added). (This saves a ton of time as well.) Once you submit the PR, robots will automatically run all the tests.

[2017-10-27 16:36] cuviper commented on #45567
If it's just a maintenance script, not normally needed for building the compiler, then I think it's fine to have its own requirements.

[2017-10-27 17:00] pietroalbini commented on #45480
This also happens when using methods like `parse`:

[code]

[2017-10-27 17:23] eddyb commented on #44422
@3Hren Yes but there's no guarantee that passing that value around won't trigger UB because of assumptions that safe Rust values are valid. `union`s can handle this much better.

[2017-10-27 17:49] bluss commented on #45431
@gnzlbg Yeah, I was meaning to come back to you with an example.

Here's some code that shows that code that compiles for current `Vec<T>` does not compile if we instead use an associated type (that depends on T) in the representation.

[(playground link)](https://play.rust-lang.org/?gist=ba789523548548a254405cb8202005b1&version=nightly)
[code]

[2017-10-27 19:39] therealbstern opened #45581 "cargo check crashing on Linux x86"
`cargo check` crashes during build
A second `cargo check` succeeded, but a `cargo clean` plus `RUST_BACKTRACE=1` yielded another crash, recorded below.
`cargo clean; cargo build` succeeds, it's just `cargo check` that blows up.

It appears that the problem is at libserialize/leb128.rs:59:20 -- different modules trigger the crash, depending upon who gets to it first.  In the output below, it was `s

[2017-10-27 23:07] GuillaumeGomez opened #45584 "Some trait implementations are documented twice"
An example can be found in [HashSet](https://doc.rust-lang.org/nightly/std/collections/struct.HashSet.html#impl-BitAnd<&'b HashSet<T, S>>) docs.

[2017-10-28 01:19] VermillionAzure commented on #38356
@porky11 No, it doesn't seem so. I just wanted to see if Scheme macros would be a relevant idea to add to the discussion -- it is obvious that since procedural macros are intended to be **much** more powerful than the `syntax-case` macro system in Scheme that it is trivial to implement all of the macro systems in terms of the arbitrary power provided here.

@jan-hudec Is it wise to allow any arbit

[2017-10-28 01:27] VermillionAzure commented on #38356
Another idea: when do procedural macros execute? If procedural macros can interact with code that has side effects that could be relevant (e.g. communicating with a stateful external server, mutating an external SQL database, getting a security key to log to an external system), then doesn't that mean that the order in which procedural macros are triggered by the compilation process is important?

[2017-10-28 02:35] frewsxcv commented on #43155
I think I'm failing to understand why someone couldn't just use `--test-threads=1` when running tests if they want them to be run in serial. I'm having trouble understanding why this is something we need to document

[2017-10-28 02:51] frewsxcv commented on #43780
Opened a PR for this: https://github.com/rust-lang/rust/pull/45585

[2017-10-28 02:52] power10dan commented on #45477
Hi,

So what's the best way to test the parser?  I understand that there is a file called testparser.py  within the project directory. However, how can I invoke the testparser.py to test specifically my changes? Do I need to augment testparser.py?  Or do I have to write a unit test, call the function that I wrote within the unit test, and test it against custom test cases?

[2017-10-28 05:36] #44339 closed

[2017-10-28 05:57] ravenexp commented on #45403
I also get the following error when building firefox on an i686 machine (x86_64 works):

    error: failed to run custom build command for `style v0.0.1 (file:///var/tmp/paludis/build/net-www-firefox-56.0.2/work/firefox-56.0.2/servo/components/style)`
    process didn't exit successfully: `/var/tmp/paludis/build/net-www-firefox-56.0.2/work/build/toolkit/library/release/build/style-eefa94a8a823d0e8

[2017-10-28 06:33] KiChjang opened #45587 "Inferred type parameters do not have their type inference information carried over into closures"
Given this piece of code that compiles:

[code]
https://play.rust-lang.org/?gist=593734bf5330b827466cb35bb7f68299&version=stable

Removing the `let mut map = map;` line would cause it to fail, and adding a `move` keyword right before `|baz|` does not resolve the problem.

(Link to the `move` version: https://play.rust-lang.org/?gist=cffef6eb08d8dd4be26d7699e61d0ac1&version=stable)

[2017-10-28 06:58] marmistrz commented on #43155
@frewsxcv because the canonical, obvious way to run tests is `cargo test`. If someone who doesn't know the internals of the project wants to run the tests, that's what they'll do. Besides `cargo test --test-threads=1` is much too long to write.

And, possibly, only some tests need mutual exclusion (e.g. because they use some single, problematic POSIX API, like it's in nix in case of fork/wait) and

[2017-10-28 07:13] KiChjang commented on #45587
I _think_ I found the problem - the `map` variable is declared in the main function scope, and type inference can easily conclude that both K and V must have a static lifetime.

However, once it is moved into the closure using `let mut map = map;`, the `map` at this point is considered a new `BTreeMap`, and previous type inferrence on the outer `map` does not carry over to the new `map` variable i

[2017-10-28 07:40] SimonSapin commented on #38356
@VermillionAzure Cargo packages can already have build scripts that execute arbitrary code at compile-time, so procedural macros don’t make things worse on that front: you already need to trust your dependencies. (This is made somewhat easier by crates.io being immutable/append-only, and dependencies not updating automatically if you have a `Cargo.lock` file: you only need to trust specific versio

[2017-10-28 08:09] KiChjang commented on #45587
So I think the surprise/feature/bug here is that in the main function scope, the `map` is inferenced to be `BTreeMap<&'static str, &'static str>`, but having the map type-inferred again in the closure as `BTreeMap<&'static str, &'a str>` simply by rebinding to get another type inference on the same struct.

[2017-10-28 08:24] crlf0710 commented on #45427
However, sometimes it's hard if not impossible for people to estimate how smart the compiler is, or would be in the future. See #45414 for an example. It would be great if there's a solid and compatible "check condition", so people would know whether an "unreachable!()" is necessary and won't raise such warnings.

[2017-10-28 08:41] Lymia commented on #45587
More specifically, you can move a `BTreeMap<&'static str, &'static str>` into a `BTreeMap<&'static str, &'a str>`, and it's perfectly sound because you can't go the other way after a move.

The type inference must have seen that this is possible, and hence, that this code would compile if the `map` variable in the inner scope was that type.

[2017-10-28 08:47] lfairy commented on #38356
This discussion makes me think of a related, but different problem.

Suppose that a crate defines two proc macros: `foo!()` writes a temporary file, and `bar!()` reads that same file. A consumer of this crate invokes both `foo!()` and `bar!()` in the same module. Then, whether compilation succeeds or not will depend on which of `foo!()` or `bar!()` is expanded first. This ordering is implementatio

[2017-10-28 09:06] #45517 closed

[2017-10-28 09:12] ssokolow commented on #38356
@SimonSapin

While I agree with your position, I should point out that there is one significant difference between compile-time execution and runtime execution:

It provides a different threat model since things tend to be compiled once and then deployed to many machines. (eg. Exploiting maintainer inattention plus a sandboxing shortcoming on a Linux distro build cluster.)

[2017-10-28 09:32] 3442853561 opened #45590 "The bug on ‘match’"
When I compile this :

[code]

The compiler gives an error :

[code]

#45427

[2017-10-28 10:16] joshleeb commented on #35241
@colinmarsh19 are you currently working on this? If not I would like to give it a go :)

[2017-10-28 10:30] scottmcm commented on #45590
Looks like this is https://github.com/rust-lang/rfcs/issues/1550 written out instead of as a range pattern?

[2017-10-28 10:40] fschutt opened #45591 "Use systems page size instead of a hard-coded constant for File I/O?"
Hi, I have a question regarding the following constant that is used throughout the `BufReader`:

https://github.com/rust-lang/rust/blob/6ccfe68076abc78392ab9e1d81b5c1a2123af657/src/libstd/sys_common/io.rs#L10

Shouldn't this variable rather be the page size for the system (determined at runtime) instead of 8KB hard-coded (for better IO performance)? This avoids that the system accidentally splits

[2017-10-28 11:06] sfackler commented on #45591
What issues arise when the allocation is split across a page? What other libraries have a runtime-determined default buffer size?

jemalloc will page align allocations that large, but I'm not sure about libc malloc.

[2017-10-28 11:23] joshleeb commented on #42106
@lochsh have you had time to work on this? If not could I give it a go? :)

[2017-10-28 11:40] daym opened #45593 "rustbuild and bootstrapping failure"
Hi,

we at the Guix distribution are trying to update Rust to newer versions which use a rustbuild-based build. The Makefile-based build worked fine - but rustbuild fails at bootstrapping mostly because of x86_64 vs. i686 mixups.

What kind of build environment should we provide (in the chroot) for bootstrapping to succeed? Also, when should we switch to the normal (non-bootstrapping) gcc compiler

[2017-10-28 12:15] #45420 closed

[2017-10-28 12:15] #44050 closed

[2017-10-28 12:15] #43780 closed

[2017-10-28 12:28] est31 commented on #45593
@daym Have you tried building Rust with exactly one version before? Rust version 1.x *only* supports bootstrapping from version 1.(x-1), not 1.(x-2) or below, and also not 1.x or newer. And can you maybe paste an error somewhere?

[2017-10-28 12:49] daym commented on #45593
Yes, I built it with one version before. There are many error logs, I saved them. Which one?

[2017-10-28 13:02] lochsh commented on #42106
@joshleeb I totally thought I was going to have time, but I had a crazy week at work this week.  Go ahead and give it a go :)  I'll find another bug to work on when I definitely have time 👍

[2017-10-28 14:03] ishitatsuyuki commented on #43370
As we're running behind schedule, is it feasible to backport the compiler-rt matters first? It should fix much build/runtime issues on Arch, AFAIK:
- glibc compat
- ASan linkage

[2017-10-28 14:10] ishitatsuyuki commented on #45220
@alexcrichton presumably this crashes without enabling ThinLTO and I cannot use the fuzzer without downgrade now. Would you investigate?

[2017-10-28 14:30] kennytm commented on #45220
@ishitatsuyuki ThinLTO is automatically enabled recently. Does it work if you set the number of codegen-units to 1?

[2017-10-28 14:56] gnzlbg commented on #45431
@bluss why is that?

[2017-10-28 15:06] scottmcm opened #45594 "Tracking issue for Iterator::try_fold and try_rfold (feature iterator_try_fold)"
The core internal iteration methods in terms of which the other `Iterator` methods can be implemented.

PR coming shortly...

[2017-10-28 15:11] bluss commented on #45431
I don't know exactly why the rule is like this.

It looks like niko explains the rule here: https://github.com/rust-lang/rust/issues/21726#issuecomment-71949910  by showing how the old "covariant" rule (for us here, "covariant in T" means "be like `Vec<T>`") was unsound in some situations.

[2017-10-28 15:27] ishitatsuyuki commented on #45220
Sorry yes, that was it.

[2017-10-28 15:39] infinity0 commented on #45509
Would adding `#[cfg(not(target_arch = "sparc64"))]` to the relevant `#[repr(packed)]` annotation(s) be a likely temporary workaround? I don't have access to sparc machines so can't test this myself.

[2017-10-28 15:44] chrisvittal commented on #44721
@nikomatsakis I'm very close to being done with this. I have both the simple and the complex examples from the instructions working.

I'm currently having trouble with [`compile-fail/impl-trait/disallowed.rs`](https://github.com/chrisvittal/rust/blob/impl-trait/src/test/compile-fail/impl-trait/disallowed.rs)

I'm getting too many errors, and I'm not seeing one error that I should be. The one I'm m

[2017-10-28 15:45] infinity0 commented on #45509
If the `#[cfg]` applies to the whole struct definition (i.e. what I suggested would delete the definition on sparc64), it might be necessary to duplicate it just without the `#[repr(packed)]` annotation.

(Of course the proper fix is to fix the underlying issue of unaligned access being generated in the first place, but a temporary fix would allow sparc64 to be bootstrapped today.)

[2017-10-28 16:33] jrmuizel opened #45596 "Running cargo check on webrender takes too long"
STR: touch webrender/src/glyph_cache.rs && cargo check
This takes about 4.8 seconds

A profile of it looks roughly as follows:
[code]

[2017-10-28 18:12] mystor opened #45598 "Calling std::mem::size_of::<T> in a generic constexpr context errors."
This code fails to build right now, while it should succeed (as `std::mem::size_of::<T>` is `const`):

[code]

[2017-10-28 18:14] mystor commented on #45598
[code]

[2017-10-28 18:19] frewsxcv commented on #45598
Duplicate of https://github.com/rust-lang/rust/issues/43408?

[2017-10-28 18:21] retep998 commented on #45591
There are better metrics by which to size buffers, such as the sizes of the various CPU cache levels. If you want to keep the buffer entirely in L1, then it should be no larger than half the size of the L1 cache. Zen, for example, has a per core L1 data cache of 32KiB, so the default buffer size of 8192 is fine, but some older architectures can have smaller CPU caches.

I fail to see how straddlin

[2017-10-28 18:25] #45598 closed

[2017-10-28 18:36] bluss commented on #45590
Thanks for raising this issue! This is indeed a missing feature which has been discussed before in #12483 and #30578. Since it requires a new feature in the language, it's best to engage with the processes for improving Rust directly if you want to push this towards a solution.  See https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md for more information, and the existing rfc issue that

[2017-10-28 18:36] #45590 closed

[2017-10-28 18:56] eddyb commented on #30276
This shouldn't have been "fixed", hiding the ICE only happened by accident.

[2017-10-28 19:21] fluffysquirrels commented on #42327
The `Try` trait can provide a `from_result` method for ergonomics if `from_ok` and `from_error` are required. Or vice versa.

[2017-10-28 19:23] leonardo-m commented on #45594
Is this usable to implement a fold1?

http://zvon.org/other/haskell/Outputprelude/foldl1_f.html

[2017-10-28 20:32] cristicbz commented on #34127
I've also hit this, but in my case the "invalid subrange count" message showed up, but the code still compiled and passed the tests. Not sure if it's miscompiled or not.

[2017-10-28 21:00] bluss commented on #45594
There's already a fold1 in itertools and its implementation is quite simple:

[code]

The major difference to haskell foldl1 is that itertools fold1 returns an Option, with None for when the iterator is empty, instead of a runtime error like in Haskell.

[2017-10-28 21:15] sunjay opened #45599 "cfg(test) is not set during doctests"
_From @sunjay on October 27, 2017 21:23_ (Moved from rust-lang/cargo)

It might be that I'm just not understanding how something works, so please let me know if that is the case!

Since doctests are tests, I expect that `#[cfg(test)]` would work and `cfg!(test)` would return true. This works during unit tests, but during doctests, both assumptions are wrong.

The reason I need this is because I ha

[2017-10-28 21:15] sunjay commented on #45599
_From @alexcrichton on October 28, 2017 1:34_

Thanks for the report! I think that this may be an issue for rust-lang/rust, though, where rustdoc is defined?

[2017-10-28 21:15] sunjay commented on #45599
Yes that may be a good idea! I wasn't sure and so I assumed that cargo passes in the config flags. Thanks!

[2017-10-28 21:49] petrochenkov commented on #45477
@power10dan
You can freely ignore everything in `src\grammar` including `testparser.py`, it's not where actual parsing happens, the actual parser is `src\libsyntax\parse\parser.rs`.
Parser changes can be tested in the same way as other compiler changes, by adding a new test into `src\test\parse-fail` or `src\test\run-pass` and running `x.py test --stage 1 src/test/parse-fail --test-args my-new-tes

[2017-10-28 22:21] comex opened #45600 "Pattern errors are too imprecise and should be removed in favor of MIR borrowck"
Update by @pnkfelix :

NLL (aka MIR-borrowck) addresses the first case given in the issue, but not this one:

[code]

Original bug report follows

---

For this code:
[code]

rustc produces:
[code]

This error comes from `check_legality_of_move_bindings` in `librustc_const_eval/check_match.rs`.

The message is at least arguably incorrect: since `x` is not used in the pattern guard, it doesn't make

[2017-10-28 22:24] petrochenkov commented on #45477
Mentoring instructions from @nikomatsakis in https://github.com/rust-lang/rust/issues/45477#issuecomment-339334885 seem to be much more complex than what's needed to do the job.

There's three places that need to be tweaked:
- `is_path_segment_keyword`, `crate` does need to be added to that list
- `parse_path_common` should avoid inserting `CrateRoot` into the path if the path starts with `::crate

[2017-10-28 22:33] power10dan commented on #45477
@petrochenkov I also feel that the mentor instruction is a bit complex too. My thoughts for implementing this are the following : ( I am working on the use crate :: case)

1. Use regex to see if the pattern starts with use followed by crate. For example, if the person typed use crate::foo::bar, a regex for this might be ^use\scrate*$, where we test if the expression starts with use followed by a s

[2017-10-28 22:51] petrochenkov commented on #45477
@power10dan
It's probably better to look at the parser in `src\libsyntax\parse\parser.rs` and try to figure out how it does things in general, in works in terms of [tokens](https://github.com/rust-lang/rust/blob/master/src/libsyntax/parse/token.rs), not raw text and regexes.

[2017-10-28 23:23] mystor opened #45601 "Avoid the `proc_macro` crate being dynamically linked."
Currently the `proc_macro` crate is dynamically linked. This is so that it can be provided by the compiler when writing procedural macros and has access to unstable compiler internals.

Unfortunately, it's possible for programs which are not compiler plugins to `extern crate proc_macro`. This happens right now if you use any crate which wants to provide conversions for its types from `proc_macro::

[2017-10-28 23:37] sfackler commented on #45601
I've wished for a while that proc macros were binaries the compiler booted up and talked to rather than dynamic libraries. This might be a good reason to make that change - libproc_macro would just be a normal rlib that defines the IPC protocol.

[2017-10-29 01:49] neoedmund opened #45604 "Cannot install rust using rustup-init.exe"
or

Please stop using foolish rustup-init, instead use download a full-sized exe(case on Windows) and one click install process.

[2017-10-29 04:07] scottmcm commented on #45594
That same technique is also used for the `min` & `max` methods on `Iterator`: https://github.com/rust-lang/rust/pull/45595/files#diff-1398f322bc563592215b583e9b0ba936R2360

[2017-10-29 04:18] Compro-Prasad commented on #45541
This issue is a build failure. Should be fixed as early as possible. I am new to rust and unable to understand what to do about it.

[2017-10-29 04:28] sinkuu commented on #45541
Clippy maintainer is already working on it. https://github.com/rust-lang-nursery/rust-clippy/pull/2140#issuecomment-340220734

[2017-10-29 04:44] dtolnay opened #45606 "Documentation stil refers to zero_memory and copy_memory"
The documentation of [`std::ptr::read`](https://doc.rust-lang.org/std/ptr/fn.read.html) and many other methods still refers to `zero_memory` and `copy_memory` which have since been removed or renamed.

[code]

[2017-10-29 04:46] dtolnay commented on #45606
Looks like the relevant refactoring was done in https://github.com/rust-lang/rust/pull/22729.

[2017-10-29 04:48] mystor commented on #45601
Yes, that's another approach which I should've mentioned in the first comment. The reason why I suggested the dlsym approach was that, to my understanding, it would be a much larger re-architecture of the system to add IPC.

I don't know what tools we have access to from within rustc for IPC, and what the best approach would be to implement it, but if we decide that that is the approach we want to

[2017-10-29 04:49] #45552 closed

[2017-10-29 04:57] jrozner opened #45607 "Linking issue with rust nightly"
As of nightly-2017-10-28 I'm getting linking failures on OS X. Don't have rust setup on any other platforms to see if it occurs there as well but I'm getting the following error message while attempting to run `cargo build`.

[code]

The code to recreate this test can be created simply by running `cargo new --bin bug`. Rolling back to 2017-10-24 results in a working compiler again.

[2017-10-29 05:26] messense commented on #45607
Same issue on macOS 10.13 with `rustc 1.23.0-nightly (269cf5026 2017-10-28)`

[2017-10-29 05:30] sinkuu commented on #45607
This seems to be the same issue as https://github.com/rust-lang/cargo/issues/4671

[2017-10-29 05:54] retep998 commented on #45604
If you want plain and simple standalone installers for Rust, you can get them from https://www.rust-lang.org/en-US/other-installers.html

Rustup is designed as a convenient way of installing and upgrading and managing multiple Rust toolchains simultaneously, and to do that rustup needs to be able to download various components itself. If you don't want that, then use the standalone installers.

[2017-10-29 05:55] retep998 commented on #45601
I am strongly in favor of anything that moves us away from using the awful `dylib` crate type.

[2017-10-29 06:02] cramertj commented on #40801
I'm not totally clear on the resolution here-- does this mean that `None` will fall back to `Option<!>`? If so, adding a `impl<T> PartialEq<T> for !` would allow us to finally resolve https://github.com/rust-lang/rfcs/issues/1239, which would be amazing.

[2017-10-29 06:29] Seeker14491 opened #45608 "[rustdoc] Various issues with search tabs"
I've come across several issues related to the search tabs:
* While on the search results screen, if you click on the "As parameters" or "As return value" tabs, then type in a query, the results shown are from the "Types/modules" tab.
* The "As parameters" and "As return value" tabs only show results that have the query string in its name or path. Even then it's missing results. For example, `std:

[2017-10-29 06:29] Seeker14491 commented on #45608
This is the original issue I was going to post about.

When searching, functions whose name is the same as its return type are not shown. For example, the [zip method](https://doc.rust-lang.org/nightly/std/iter/trait.Iterator.html#method.zip) of the iterator trait returns a struct called [Zip](https://doc.rust-lang.org/nightly/std/iter/struct.Zip.html). When you search for "zip" in the search bar,

[2017-10-29 10:03] hemangandhi commented on #38528
I'm not sure if this is fixed... I'm on nightly, version `1.23.0-nightly` on Arch Linux...

I get the following in `-Ztime-passes`:
[code]
so this looks very similar. In fact, I too have code with a bunch of:
[code]

[2017-10-29 10:07] ishitatsuyuki commented on #38528
Of course not. Particularly for the futures case generators will help, but @nikomatsakis doesn't seem to be working on this.

[2017-10-29 10:15] king6cong opened #45613 "cdylib artifact size boost"
Hello, I find there is a huge boost in artifact size of cdylib library files in recent versions of rust. In our case, the lib doubles its size. I also find similar situations in other projects.

Here are the steps to reproduce (OS: 64bit Mac OS X 10.12.4 16E195):

[code]

### on nightly-2017-06-30
[code]

### latest nightly (rustc 1.23.0-nightly (269cf5026 2017-10-28))
[code]

Comparing the output

[2017-10-29 10:17] hemangandhi commented on #38528
Just to double-check, that'd be [`std::ops::Generator`](http://doc.servo.org/std/ops/trait.Generator.html)?

[2017-10-29 10:30] leonardo-m opened #45614 "dead_code lint false positive"
[code]

Gives:

[code]

[2017-10-29 10:31] ishitatsuyuki commented on #38528
The doc is [here](https://doc.rust-lang.org/nightly/unstable-book/language-features/generators.html) and the futures helper is [here](https://github.com/alexcrichton/futures-await).

[2017-10-29 10:46] nagisa commented on #45613
This is a debug build. I’m not surprised at all if it began putting more symbols in the files.

[2017-10-29 10:55] nagisa commented on #45613
cc @michaelwoerister is this fixed by one of your #[inline] instantiation fixes?

[2017-10-29 11:00] GuillaumeGomez commented on #45608
Oh nice, thanks for the feedback! I'll fix it today.

[2017-10-29 11:36] king6cong commented on #45613
@nagisa similar result with release version:

### on nightly-2017-06-30
[code]

### latest nightly (rustc 1.23.0-nightly (269cf5026 2017-10-28))
[code]

Comparing the release output:

[code]

still, many rust specific symbols in the nightly generated lib.

[2017-10-29 12:51] petrochenkov opened #45615 "Consider more fine grained grouping for built-in lints"
Copying the comment from https://github.com/rust-lang/rust/pull/45424#issuecomment-338345084:

I've also audited the remaining ungrouped lints.
In principle new lint groups can be created for them, but it looks like fine-grained lint grouping didn't find its use even in clippy, so I didn't do anything.

**Unused++.**
These can also be quite reasonably added into the `unused` group, but less obviou

[2017-10-29 13:20] sinkuu commented on #45614
Minimized:

[code]

So `dead_code` lint ignores type paths mentioned in patterns (2ec795b4f030ec19cf2ddc48fe5e2e158d5c0e42).

[2017-10-29 14:37] christianpoveda commented on #45606
I'd like to take care of this

[2017-10-29 16:41] kennytm commented on #44953
#45540 did not contain the UI test to verify correctness. @virgil-palanciuc could you (or anybody interested) submit another PR to add the test? Sorry for the inconvenience.

[2017-10-29 17:12] lucasem commented on #45607
You can revert to an older nightly where this isn't an issue using rustup:

[code]

[2017-10-29 18:06] mystor commented on #32836
Has there been any progress on unions with non-`Copy` fields since August? The Unions 1.2 RFC seems stalled (I'm guessing due to the impl period?)

[2017-10-29 18:26] durka commented on #24111
So! Any interest in const-stabilizing `*Cell::new`, `mem::{size,align}_of`, `ptr::null{,_mut}`, `Atomic*::new`, `Once::new` and `{interger}::{min,max}_value`? Shall we have FCPs in here or create individual tracking issues?

[2017-10-29 18:30] ollie27 commented on #45584
This was caused by #44969. #45620 fixes it.

[2017-10-29 18:48] SimonSapin commented on #24111
Yes.

[2017-10-29 19:05] SimonSapin commented on #24111
I’m not part of any team that has decision power on this, but my personal opinion is that all of these except `mem::{size,align}_of` are trivial enough that they could be stabilized now without going through the motions of a rubber-stamp FCP.

As a user I would like to use `mem::{size,align}_of` in const expressions as soon as possible, but I’ve read @nikomatsakis express concerns about them being

[2017-10-29 19:32] rpjohnst commented on #38528
Generators help because they are an alternative to combinators. When you write a generator, you get a single (anonymous) type for the entire state machine; when you use combinators, you build the state machine out of nested types.

[2017-10-29 19:35] dpc opened #45621 "`"".split("")`"
After reading: https://www.reddit.com/r/programming/comments/79hhsh/the_surprising_behaviour_of_calling_split_on/ I was playing with Rust's split, and found:

[code]

which gives:

[code]

https://play.rust-lang.org/?gist=b11844ad01626c0e181bc18da25d479a&version=stable

Documentation states that "When the empty string is used as a separator, it separates every character in the string, along with t

[2017-10-29 19:49] durka opened #45622 "weird span for E0595 with closure"
The [following code](https://play.rust-lang.org/?gist=44f719f80bdf349eab0779b4e8bbaaa9&version=nightly) generates an error:

[code]

[code]

The error is right (well, sort of -- it says "assign" which is inaccurate), but the span pointing at the closure head doesn't make a lot of sense. If the closure has arguments and/or a return type, the span covers those as well, but they are irrelevant.

[2017-10-29 19:52] durka commented on #45622
This might be a duplicate of #18330.

[2017-10-29 20:14] #45621 closed

[2017-10-29 20:16] javiertejedorm commented on #45403
The problem happened when compiling Firefox in Ubuntu 17.10 x64. I was able to compile it in Ubuntu 17.04 x64.

[2017-10-29 20:55] ravenexp commented on #45403
Why was the issue closed?

[2017-10-29 21:25] #45606 closed

[2017-10-29 21:47] nrc commented on #44844
I'm in favour but only if we can make ui tests really lightweight to use and document that well - I feel atm that writing a new UI test or updating an existing one (or like 50 of them at once) is a real pain compared to the existing compile-fail tests. This might be because I don't know how to do it, but then we need better docs.

[2017-10-29 22:54] virgil-palanciuc commented on #44953
Just to clarify: the request is that I add a test in `src/test/ui` that validates this issue is fixed (so that we can't have regressions in the future)?

If yes - sure, I'll add it, sorry for not adding it from the start, I'm new to this project :).

[2017-10-29 23:40] oyvindln commented on #45568
Possibly a duplicate of #43988 ?

[2017-10-30 00:03] GildedHonour opened #45625 "Clojure with no argument"
When creating a clojure, I propose that we use |_| instead of || when there's no argument.

[2017-10-30 01:38] Mark-Simulacrum commented on #45625
This currently would be a backwards incompatible change, as `|_|` works today (and is equivalent to the function form: `fn name(_: T)`) where the argument is immediately dropped. As such, I am closing -- please file an RFC at rust-lang/rfcs if you'd like to further this change, or discuss on internals.r-l.o. I think it's relatively unlikely that such a change would be accepted at this point, thoug

[2017-10-30 01:38] #45625 closed

[2017-10-30 01:43] Mark-Simulacrum commented on #45622
Yeah, I'm going to close in favor of #18330 -- seems like this is something we'd either fix at the same time or just at some point down the road.

[2017-10-30 01:43] #45622 closed

[2017-10-30 01:46] Mark-Simulacrum commented on #45613
Nominating. Would be good to track this down, to at least diagnose the cause and add to the release notes. Probably not too high priority...

[2017-10-30 01:50] Mark-Simulacrum commented on #45604
I'm not sure: is this an error in rustup, or does the network not allow connecting to static.r-l.o? If it's the latter, we should probably close this...

[2017-10-30 02:06] Mark-Simulacrum commented on #45581
Possibly related to https://github.com/rust-lang/rust/issues/45500.

[2017-10-30 02:08] Mark-Simulacrum commented on #45576
Closing as duplicate of #28728.

[2017-10-30 02:08] #45576 closed

[2017-10-30 02:32] chrisvittal commented on #44721
I think that I've figured out that where clauses get lowered, in `lower_where_clause`. :)

[2017-10-30 02:58] neoedmund commented on #45604
It should be connection problems. But I can use something like cargo update from rush servers after using standalone installer. Maybe the rustup-init and cargo update use different servers?

[2017-10-30 02:58] #45604 closed

[2017-10-30 03:46] estebank commented on #44953
@virgil-palanciuc that is exactly right :)

[2017-10-30 03:49] estebank commented on #45622
The output should point out at the use of `x` in some way, as well as changing the wording slightly (it is not an assignment):

[code]

[2017-10-30 03:50] estebank commented on #18330
From #45622:

The output should point out at the use of `x` in some way, as well as changing the wording slightly (it is not an assignment):

[code]

[2017-10-30 04:11] estebank commented on #44844
@nrc, updating existing and creating new ui output files can be done using [update-all-references.sh](https://github.com/rust-lang/rust/blob/master/src/test/ui/update-all-references.sh).

The difficulty of it lies when creating new ui tests as you end up testing a bunch of output you don't care about in that single test. Also, some ui output is not entirely stable across targets.

[2017-10-30 04:34] marcianx opened #45627 "Confusing lifetime error focusing on returned object lifetime rather than inference due to subsequent use"
I just spent over an hour in a much more complex example trying to work around lifetime issues because the error was pointing at the wrong mistake. When I figured it out, the problem and the fist was painfully obvious; I don't know whether anything can be done to improve the errors. Again, the actual code is far more complex and after a lot of trial and error, I finally got down to the dramaticall

[2017-10-30 04:55] mtak- commented on #45568
@oyvindln Oops, I'd say it is definitely a dupe your issue (#43988). closing

[2017-10-30 04:55] #45568 closed

[2017-10-30 05:08] #45607 closed

[2017-10-30 06:52] andoriyu opened #45629 "link_dead_code flag breaks sodiumoxide build"
When trying to disable dead code elimination project fails to build.

To be clear, this works:
`cargo test --no-run`
this doesn't:
`RUSTFLAGS=-Clink_dead_code cargo test --no-run`

[code]

Pretty odd...
## Meta

`rustc --version --verbose`:
[code]
`cargo --version --verbose`:
[code]

Backtrace:

[2017-10-30 08:01] fulmicoton commented on #44899
Same error without any panics! nor any enum.

[code]

[2017-10-30 09:41] michaelwoerister commented on #45613
Thanks for the report, @king6cong! This looks indeed like a bug. We haven't changed anything in our compilation strategy the would require such a change.

That might have a positive effect here, but since inline instantiation seems to have regressed already at the beginning of this year, something else must be the problem.

cc @alexcrichton

[2017-10-30 12:29] michaelwoerister commented on #45629
Thanks for the bug report, @andoriyu!

cc @alexcrichton

[2017-10-30 12:32] michaelwoerister commented on #45511
cc'ing @tromey since he's been poking around in LLVM's DWARF generation code recently.

[2017-10-30 12:35] michaelwoerister commented on #45500
The latest nightly should contain a potential fix to this problem. @shaleh, would you mind re-testing your case?

[2017-10-30 13:53] colinmarsh19 commented on #35241
@joshleeb Yes, go ahead. Let me know of any progress you've made, I might look back later.

[2017-10-30 14:32] Phlosioneer commented on #44844
@estebank: while doing the migration, I’ve found that almost a third of the ui tests are broken because of update-all-references.sh: either the “expected output” doesn’t match the comments in the file anymore, or there were effectively no comments in the file that described what was expected.

Regardless of whether we decide to move forward with merging the ui tests and some compile-fail tests, we

[2017-10-30 14:45] jmesmon opened #45633 "error message does not include function it refers to, only says "this function" (E0061)"
[code]

In this case, `this function` is `tokio_core::net::UdpSocket::bind`, but without looking at the code no hint is given:

[code]

Originally, this function call contained a match statement to calculate the value of `ia`, which caused the newline-following paren style to be used.

This appears to occur whenever both:

 - using a newline-following paren style (such that the function name does

[2017-10-30 15:43] Rufflewind commented on #38915
Looking at @philipc's example, I believe the problem is that the type of the local variable `f` is actually the *specialized* type (since Rust does not support generics as first-class values).  If you try to write out the specialized type, you get:

[code]

for some unknown `'a`.  The problem is that the presence of `'a` affects not just the argument but also the function pointer itself, so the fu

[2017-10-30 16:47] oli-obk commented on #45633
Duplicate of https://github.com/rust-lang/rust/issues/42855

[2017-10-30 16:54] shaleh commented on #45500
@michaelwoerister I will not not until Tuesday or Wednesday.