[2022-10-31 15:59] ghost opened #103806 "Tracking Issue for `string_extend_from_within`"
Feature gate: `#![feature(string_extend_from_within)]`

This is a tracking issue for the [`String::extend_from_within`] method.

This method is just like [`Vec::extend_from_within`] (which has been stable since 1.53.0).
Note that the original impl PR didn't create a tracking issue.

### Public API

[code]

### Steps / History

- [x] Implementation: #85801
- [x] Mention tracking issue in feature ga

[2022-10-31 16:06] zbyrn commented on #80139
I don't know whether anyone else is working on this, but I really want to work on this. I was confused by this exact problem even after I had some experience in rust.

Do you think we should make the `let`-bound reference suggestion when we suggest to use `move`, or after the user puts in the `move` and `E0507` occurs?

[2022-10-31 16:07] camsteffen commented on #103748
The assertion is inside of the `BitSet` data structure. I generally expect data structures to simply assert on pre-conditions. We could put a delay-bug before the `contains` call, but that also seems like overkill since that is already on the error-reporting path.

I agree there are cases where rustc should quit sooner. But in general I think we have to err on the side of recover-and-continue if t

[2022-10-31 17:26] pratushrai0309 commented on #103485
@rustbot claim

[2022-10-31 17:40] jyn514 commented on #103630
Ah, I see. You can use those cfgs in Cargo.toml too I think. I'm surprised you get that error at compile time, is it trying to use something in libc that doesn't exist?

[2022-10-31 17:52] mirao commented on #103775
But it doesn't run docs tests in my case: #50784
Nevertheless I understand that `rustdoc` is a low level tool and ideally `cargo test` should be used. It makes sense.

[2022-10-31 18:08] kubycsolutions opened #103811 "Documentation suggestion"
In ch18-03-pattern-syntax, discussion of listing 18-29 (@ Bindings), It might be useful to say whether the structure shorthand
`Message::Hello { id } => {}`
 is in fact equivalent to
`Message::Hello { id: id @}`

I'm not sure if the latter syntax (explicit binding without specifying value/range) is accepted, but conceptually I *think* that's what the shorthand maps to ... and pointing that similar

[2022-10-31 18:13] pratushrai0309 commented on #103485
That's what I have done
       `self.run(Command::new("git").args(&["stash", "save"]).current_dir(&absolute_path));
        self.run(Command::new("git").args(&["stash", "apply"]).current_dir(&absolute_path));
        self.run(Command::new("git").args(&["reset", "-q", "--hard"]).current_dir(&absolute_path));
        self.run(Command::new("git").args(&["clean", "-qdfx"]).current_dir(absolute_path));

[2022-10-31 18:16] pratushrai0309 commented on #103485
That's what I have done
[code]

[2022-10-31 18:18] pratushrai0309 commented on #103485
That's what I have done
[code]

[2022-10-31 18:54] tschuett commented on #103595
I read and actually checked that rustc links dynamically against rustc_driver. The same article said we dlopen codegen backends. Isn't there a way for the common case, a static binary: rustc + rustc_driver + LLVM?

[2022-10-31 18:55] pnkfelix opened #103814 "const eval interpreter step limit being hit on nightly for long-running while loop"
I tried this code ([playpen](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=85f8150632aa71f6afd230706bbb86c8)):

[code]

I expected to see this happen: Code compiles, test runs and passes.

Instead, this happened: Code fails to compile, due to:

[code]

It does not occur on stable or beta.

(To be clear: I suspect this might be a const-eval implementation artifact that we

[2022-10-31 18:58] pnkfelix commented on #103814
See also discussion in https://github.com/rust-lang/rust/issues/93481

(if there are other issues filed for this regression, or if there's a precedent for not filing such issues for this particular regression, then my apologies. I searched and couldn't find evidence to not file it.)

[2022-10-31 19:03] tschuett commented on #103595
I would enable LTO over the full binary. Startup time may also be better.

[2022-10-31 19:04] estebank commented on #103791
We should likely *add* an alternative suggestion to remove the `if`, but keep both. I think that the current suggestion is likely going to be the more common situation, so it should still come first.

[2022-10-31 19:08] Kobzol commented on #103595
Well, the "full binary" is one function call into `rustc_driver` :) But it's true that I haven't tried benchmarking static linking on top of the current LTO optimized `librustc_driver`. I'll try it, to see if static linking + LTO could provide substantial benefits.

Shipping a statically linked `rustc` would probably only be possible on some OSes (Linux), and it would increase the size of the dist

[2022-10-31 19:09] kupiakos opened #103815 "GAT in path suggests wrong lifetime name when elided lifetime is rejected"
Usage of GATs must specify lifetime generic parameters even if they can be inferred, unlike structs and type aliases. Personally, I think this is the wrong choice, though I recognize the [linting folks disagree](https://doc.rust-lang.org/rustc/lints/listing/allowed-by-default.html#elided-lifetimes-in-paths). In any case, the diagnostic output for when `'_` is necessary isn't tested in enough scena

[2022-10-31 19:10] estebank commented on #103776
FWIW, be aware that diagnostics don't always have enough information available to them to fully provide correct code, but we consider it appropriate if subsequent compilations provide enough guidance that you can eventually end up with correct code. Having said that, we absolutely appreciate reports of cases like these where we can preclude some of those iterations.

Here, the type error suggestio

[2022-10-31 19:11] tschuett commented on #103595
My LLVM folder is full of large statically linked LTO'd binaries (OSX).

Could you also statically link in the LLVM backend?

[2022-10-31 19:18] ffmancera commented on #103791
@rustbot claim

[2022-10-31 19:18] Kobzol commented on #103595
In theory, yes. In practice, I'm not sure if our current build system supports it (will check).

[2022-10-31 19:20] ffmancera commented on #103768
@rustbot claim

[2022-10-31 19:23] tschuett commented on #103595
No worries.

[code]
It only links against system libraries and no LLVM libraries.

[2022-10-31 19:27] vincenzopalazzo commented on #103485
@pratushrai0309 Maybe a Zulip thread is a better place to show your result and receive more feedback on the solution

[2022-10-31 19:38] viandoxdev opened #103816 "x doc --json flag not working"
running
[code]
only builds the html doc, but
[code]
builds the json doc.

I expected the json flag to act as the documentation says (`./x doc --help`):
[code]

### Meta

using the master branch of this repo commit 2afca78a0b03db144c5d8b9f8868feebfe096309

running with a library profile.

[2022-10-31 20:28] inquisitivecrystal commented on #103619
@MasterAwesome Pardon, but what's the practical implication of this regression? Does it cause some sort of runtime problem, is it a code-size or performance problem, or something else? I'm afraid I can't read assembly.

[2022-10-31 20:42] Jerrody commented on #103776
I'm happy that my issue is helpful. I'm not a lang dev, but I think that compiler doesn't provide a context that this happens in the loop, just ignored this fact.

[2022-10-31 20:54] saethlin commented on #103619
The `bti` instruction isn't present in the fat LTO case, even though it's explicitly requested via compiler flag. I can't really read this either, just diffing by eye and reading the comment.

The fact that the `bti` is present in release but not debug is extremely spooky. Would be good to have the opinion of an LLVM expert.

[2022-10-31 21:04] MasterAwesome commented on #103619
The `BTI C` is required when supporting ARM64 has BTI enabled and rust function is being called from another language that's expecting the `bti c`. This could lead to a synchronous abort. Especially since rust is being used in quite low layers and init-ed from a C world. On ARM platforms this is a huge bug since when a bug occurs on release mode it makes it really hard to debug it since the debug

[2022-10-31 21:24] Xaeroxe opened #103818 "Tracking Issue for 3340 `exhaustive_match_output`"
This is a tracking issue for the RFC "3340" (rust-lang/rfcs#3340).
The feature gate for the issue is `#![feature(exhaustive_match_output)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale

[2022-10-31 21:28] estebank commented on #103748
This can happen. The parser *should* be more realistic on what it recovers and avoid errors from later passes that do not make sense. A few years back we would stop as soon as any error occurred in a given pass and avoid trying any further evaluation, and *that was also* a usability issue, because people would get a false sense of "how much work is left to fix". We shouldn't have a blanket evaluat

[2022-10-31 22:02] #103794 closed

[2022-10-31 22:28] jafri opened #103819 "Invalid `target_arch` Cfg Resolution on M1 Mac"
Building an application on M1 Mac using

[code]

Resolves to `false` when building using `cargo build --target=x86_64-apple-darwin`

 target_arch inside the .rs file remains `aarch64`

Version:
 cargo 1.64.0 (387270bc7 2022-09-16)
 rustup 1.25.1 (2022-07-12)
 rustc 1.64.0 (a55dd71d5 2022-09-19)

[2022-10-31 22:30] DebugSteven opened #103820 "Tracking Issue for integrating `Error` trait with panic interfaces"
Feature gate: `#![feature(error_in_panic)]`

This is a tracking issue for integrating the `Error` trait with `panic` interfaces.

This PR seeks to allow panic handlers to access the richer `Error` trait interface when reporting panics that have a runtime error as their source.

### Public API

[code]

[code]

### Steps / History

- [ ] ACP: https://github.com/rust-lang/libs-team/issues/124
- [ ] I

[2022-10-31 23:06] joshlf opened #103821 "It should be possible to get a mutable reference to a ZST literal"
The following code is legal:

[code]

However, if we instead use `()`, it's no longer legal:

[code]

We get this error:

[code]

Is there a reason that the former is legal while the latter is not? I would expect the latter to be legal - in the general case, it'd be great if it were legal for _any_ ZST, although I'm sure that's more complicated (especially in a generic context).

On Fuchsia, we're

[2022-10-31 23:27] workingjubilee commented on #99359
disassembly is now
[code]
I believe that should fix this issue?
This could use an assembly test to prevent regressions.

[2022-10-31 23:59] Fighter19 commented on #64126
I've recently encountered a similar problem.

I use cargo-xbuild to build my project.

The object file for compiler_builtins contains multiple such occurrences.
For example on symbol: _ZN17compiler_builtins9arm_linux29__sync_val_compare_and_swap_417h4daedd6aaff95c3cE

[code]

There are 72 cases of that happening in the object file.
All of which I believe to be related to sync_fetch_... functions.

[2022-11-01 00:25] mejrs opened #103822 ""the following other types implement trait" needs improvement."
tl;dr: this help message is pretty bad, and needs work. See some prior discussion at https://github.com/rust-lang/rust/pull/102752

Let me begin with some examples:
## Examples
### Showing completely unrelated impls

[code]
[code]

### Showing hundreds of impls
[code]
[code]
### Cryptic bounds and types
[code]
[code]

## Discussion

Now, lets look at what these "help" messages tend to have in comm

[2022-11-01 00:27] tdyas opened #103823 "`rustc` v1.64.0 hangs for a crate with a syntax error"
Issue: `rustc` v1.64.0 hangs on a crate with a syntax error without reporting the error.

I was making [this change](https://github.com/pantsbuild/pants/pull/17290) to a [Rust project](https://github.com/pantsbuild/pants) where one of the non-default workspace crates ended up with an error due to the signature of a function in another crate in the workspace changing. Normally, this crate compiles

[2022-11-01 00:46] saethlin commented on #103823
Based on the profile, this loop seems relevant and also suspicious, but I'm miles out of my depth: https://github.com/rust-lang/rust/blob/0940040c0486a536be4f8685c7dd9a078f9e87c2/compiler/rustc_hir_typeck/src/fn_ctxt/arg_matrix.rs#L228

[2022-11-01 00:52] jruderman opened #103824 "ICE with RPITIT and wrong number of type parameters"
### Code

[code]

### Error output

[code]

<details><summary><strong>Full output including backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Regression

searched nightlies: from nightly-2022-10-16 to nightly-2022-10-31
regressed nightly: nightly-2022-10-17
searched commit range: https://github.com/rust-lang/rust/compare/b8c35ca26b191bb9a9ac669a4b3f4d3d52d97fb1...b8b5caee04116c7383eb1

[2022-11-01 01:02] compiler-errors commented on #103823
Since it's not hanging on nightly, this probably can't be fixed, since Rust 1.65 comes out in a just few days.

[2022-11-01 01:17] cassaundra opened #103826 "Incorrect span produced when using encoded `}`"
The following code produces an incorrect span on nightly:

[code]

Expected:

[code]

Actual:

[code]

### Meta

`rustc --version --verbose`:
[code]

This was knowingly introduced as part of #102214. I have already fixed this, and will open a PR shortly.

[2022-11-01 01:18] Amanieu commented on #64126
That's a different issue: https://github.com/rust-lang/compiler-builtins/issues/420

[2022-11-01 01:19] cassaundra commented on #103826
@rustbot label +A-diagnostics +A-fmt

[2022-11-01 01:22] jruderman commented on #103811
I think this should be moved to https://github.com/rust-lang/book/issues

[2022-11-01 01:26] csmoe commented on #103818
Should we create this tracking issue after the rfc enters fcp stage?
It's a bit earlier now.

[2022-11-01 01:56] solomatov commented on #53667
What are the plans to stabilize it. Is there any chance it gets into 1.66?

[2022-11-01 01:58] jhpratt commented on #53667
Considering 1.66 beta branched on Friday, there is zero chance it'll land then.

[2022-11-01 02:22] est31 commented on #53667
As @jhpratt pointed out, it won't stabilize for 1.66 now.

The implementation state has recently been greatly improved by #103034 and #102998. There has also been lang team feedback on the open questions about the drop order.

There is one weird quirk remaining, which is around bool expressions. My PR #103293 tries to address it. The quirk also occurs in non-let if chains, it would still be great

[2022-11-01 02:48] chenyukang commented on #103485
@pratushrai0309
I think `git apply` will restore the prvious local changes, so if we want to get previous changes, it should added at the ending.

[2022-11-01 03:33] chenyukang commented on #103823
It's same issue with #100478, fixed by https://github.com/rust-lang/rust/pull/100502

[2022-11-01 03:34] Xaeroxe commented on #103818
My apologies, I thought it was supposed to be created at this point.

[2022-11-01 03:34] #103818 closed

[2022-11-01 03:39] alex-pinkus commented on #103673
**On point 1:** Totally agree that the Rust project isn't the right place to ease the android-ndk upgrade experience in general. Is there clear direction somewhere on what "enough warning" means? With the [glibc version bump](https://blog.rust-lang.org/2022/08/01/Increasing-glibc-kernel-requirements.html), the blog post was published almost two months in advance.

**On point 2:** In the general ca

[2022-11-01 03:49] #103823 closed

[2022-11-01 04:16] pratushrai0309 commented on #103485
Yeah! It was a mistake thanks for pointing out

[2022-11-01 04:26] pratushrai0309 commented on #103485
[https://github.com/rust-lang/rust/pull/103810](url)

[2022-11-01 04:49] pratushrai0309 commented on #103485
#103810

[2022-11-01 05:47] chenyukang commented on #103751
@rustbot claim

[2022-11-01 07:45] WaffleLapkin commented on #103476
Even more minimized:

[code]
[code]
[[play]](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=2022b804600432f7f52f40f464bb77ff)

----

Weirdly, I couldn't replace `Box<dyn Tr<'a>>` with anything else, I thought that it's just significant `Drop` & invariant lifetime `'a`, but something like `String, fn(&'a ()) -> &'a ()` compiles, so I'm not sure what's going on.

[2022-11-01 08:12] rossmacarthur commented on #100450
Might be good to align the naming of this function with `Iterator::next_chunk`, i.e. either

- `Iterator::chunks`
- `Iterator::next_chunk`

Or

- `Iterator::array_chunks`
- `Iterator::next_array_chunk`

[2022-11-01 08:13] rossmacarthur commented on #98326
Might be good to align the naming of this function with `Iterator::next_chunk`, i.e. either

- `Iterator::chunks`
- `Iterator::next_chunk`

Or

- `Iterator::array_chunks`
- `Iterator::next_array_chunk`

[2022-11-01 08:15] psumbera commented on #103630
Oh, I see that @gco has already fixed rustix Solaris build problems via https://github.com/bytecodealliance/rustix/commit/d96706a9b3d7126161af595c9c3fa40afbd1dce3 .

[2022-11-01 08:18] apiraino commented on #103619
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23103619.20Prologue.20of.20function.20missing.20in.20FatLTO.20but.20present.20.E2.80.A6)).

@rustbot label -I-prioritize +P-high

[2022-11-01 08:39] #103783 closed

[2022-11-01 08:39] #103753 closed

[2022-11-01 08:39] #103782 closed

[2022-11-01 08:39] Dylan-DPC commented on #67649
Closing this as the issue is fixed

[2022-11-01 08:39] #67649 closed

[2022-11-01 08:43] nikic commented on #103619
Not particular familiar with BTI, but if this works anything like CET I'd expect it to be an "all or nothing" thing. Your full LTO build likely contains a module that does not use BTI, so it's not possible to use CFI for anything.

Does this actually work with thin LTO and not just get automatically disabled at a higher layer due to a missing GNU property note on the object that causes this to be

[2022-11-01 08:50] nikic commented on #103619
The difference between debug and release here is likely just that debug ends up using code from libstd (which presumably does not have BTI enabled, unless you're using `build-std`), while it is inlined in the release case.

So at least on the surface, I think everything works as expected here.

[2022-11-01 09:13] nikic commented on #103380
I can reproduce this via `rustc +nightly --target=aarch64-unknown-linux-gnu -C opt-level=3 test.rs`.

[2022-11-01 09:22] nikic commented on #103380
Reduced:
[code]

[2022-11-01 09:24] nikic commented on #103380
Upstream issue: https://github.com/llvm/llvm-project/issues/58722

[2022-11-01 09:26] gimbles commented on #103667
Consider extending this issue to all slice-like-ish types, such as arrays/vectors/etc rather than just strs

[2022-11-01 09:34] nikic commented on #103149
I think it will be hard to do anything about this without some way to reproduce. Presumably what is happening is that LLVM blows up your code into a huge function (possibly as a result of inlining) and then transforms struggle to deal with it. But it's hard to say any more than that.

[2022-11-01 09:47] eddyb commented on #103634
Yeah this is bad, basically another misuse of `is_zst`...
https://github.com/rust-lang/rust/blob/dc05f60c1ff4e2cb2e6eb80c9b3afa612ce28c7f/compiler/rustc_ty_utils/src/layout.rs#L674-L678

(it should either be `size=0 align=1` *or* check that the ZSTs being ignored don't raise the alignment beyond the single-non-ZST-field, but that's harder to get right)

[2022-11-01 09:53] eddyb commented on #103728
I think the problem is that this is one of those hypothetical "MIR->LIR reusable lowering steps" that IIRC I discussed with @oli-obk before (just like e.g. the codegen for the MIR casts that involve `CoerceUnsize` and bottom out in "`*T`/`&T` built-in unsizing"), that require monomorphic types to fully resolve and we just don't have such a "LIR" concept yet (the closest thing being the builder API

[2022-11-01 10:00] RalfJung commented on #103728
Alternatively we could do something specific, like a generic function for the logic that invokes callback to do the arithmetic on whatever domain the backend needs (values for Miri, LLVM/cranelift expressions for codegen).

[2022-11-01 10:22] oli-obk commented on #103728
We should probably just try out monomorphizing and optimizing all MIR bodies before codegen processes it and see how bad it is. So far we've only said "probably bad" and never actually collected any numbers

[2022-11-01 10:24] LUKE1860 opened #103834 "Weird behaviour of binary_search for &str vectors and string vectors"
I tried this code:

[code]

I expected to see this happen: *explanation*
I expected left to be equal to right
Instead, this happened: *explanation*
Instead left was Err(1) and right Ok(2).
For string left was Err(0) and right Ok(2).
### Meta
 Bug also exists on nightly and beta
`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]
I also include full backtrace for

[2022-11-01 10:33] Nilstrieb commented on #103834
Your vector isn't sorted, so `binary_search` is expected to produce garbage output.

[2022-11-01 10:39] LUKE1860 commented on #103834
Ty for your answer. I  will close  the issue now

[2022-11-01 10:39] #103834 closed

[2022-11-01 10:51] Fighter19 commented on #64126
I don't see how that's a different issue.
The code generated in my disassembly file tries to branch with link to 0xffff0fc0,
which is the same as OP's issue.
Both are generated when using atomic functions.
I have no issues of multiple definitions.

[2022-11-01 10:57] alexvas commented on #103801
Well @Nilstrieb, nightly is OK. Just for the reference, it's output is:

[code]

[2022-11-01 11:38] Nilstrieb commented on #103801
Then this issue is already fixed, as I thought. The fix will be released in either 1.65 or 1.66 depending on when it was made. You can use nightly in the meantime.

[2022-11-01 11:44] #102303 closed

[2022-11-01 11:44] #48676 closed

[2022-11-01 11:44] #87791 closed

[2022-11-01 11:44] #96625 closed

[2022-11-01 11:44] #101637 closed

[2022-11-01 13:01] Antiarchitect opened #103835 "assertion failed: st.current_test_count() == st.total in library/test/src/console.rs"
Just updated some gems and faced this panic in my cargo bench run.

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

P.S. If I can provide you any additional info - please ask me to.

[2022-11-01 13:13] Rageking8 commented on #103149
@rustbot label +E-needs-mcve

[2022-11-01 13:14] #103835 closed

[2022-11-01 13:20] nappa85 commented on #103149
Yes, I think it's like that, because reintroducing the same code edits now, after other, unrelated, code edits, doesn't trigger the same behavior

[2022-11-01 13:20] #103149 closed

[2022-11-01 14:13] tyranron commented on #99466
Any news on this?

[2022-11-01 14:38] ChrisDenton commented on #99466
So I guess this is because rustdoc is being used directly instead of via cargo so the Windows crate's [build script](https://github.com/microsoft/windows-rs/blob/master/crates/targets/x86_64_msvc/build.rs) does get to add the library's directory to the linker search path.

You'd need to add it manually. It'll be something like:
`CARGO_HOME\registry\src\github.com-1ecc6299db9ec823\windows_x86_64_ms

[2022-11-01 15:40] Rageking8 commented on #103821
@rustbot label +A-zst +T-types

[2022-11-01 16:04] jyn514 commented on #103816
I can't reproduce this. The files show up for me in `build/x86_64-unknown-linux-gnu/json-doc`.

[2022-11-01 16:12] clubby789 opened #103840 "Worse codegen with `mem::take(vec)` than on stable"
With this code
[code]
Stable produces
[code]
Whereas beta/nightly produces
[code]

searched nightlies: from nightly-2022-07-02 to nightly-2022-07-03
regressed nightly: nightly-2022-07-03
searched commit range: https://github.com/rust-lang/rust/compare/46b8c23f3eb5e4d0e0aa27eb3f20d5b8fc3ed51f...f2d93935ffba3ab9d7ccb5300771a2d29b4c8bf3
regressed commit: https://github.com/rust-lang/rust/commit/0075b

[2022-11-01 16:21] nyvs commented on #96550
Thank you for looking into it. Unfortunately the problem is not reproducible for me anymore.
Closing as not planned.

[2022-11-01 16:21] #96550 closed

[2022-11-01 16:27] Dylan-DPC commented on #47040
Closing this as it is an old issue

[2022-11-01 16:27] #47040 closed

[2022-11-01 16:34] MasterAwesome commented on #103619
Right, but this is broken even with build-std as mentioned in the other thread as of nightly 2022-08-14.

[2022-11-01 16:58] viandoxdev commented on #103816
[code]

Seems to reproduce, I could totally have overlooked a step tho

[2022-11-01 17:46] fmease commented on #103775
Ah, I see. That's bothersome :(

So essentially, this issue then becomes a duplicate of #50784, right?

[2022-11-01 17:47] coolreader18 commented on #97100
(and `{starts,ends}_with` can take a closure if you really want to, `Fn(char) -> bool` impls Pattern :upside_down_face: )

But yeah, I was thinking about that @H4x5 but the "word order" didn't really make sense, and also the closure thing.

[2022-11-01 17:57] tedinski commented on #103814
This apparently affects `nightly-2022-10-25` but not `nightly-2022-10-24`

[2022-11-01 17:57] celinval commented on #103814
BTW, we started seeing this issue on `nightly-2022-10-25`. This test works fine on `+nightly-2022-10-24`

[2022-11-01 17:58] pratushrai0309 commented on #103485
I have done the intended changes and opened a PR #103810

[2022-11-01 17:59] nikic commented on #103840
Godbolt: https://rust.godbolt.org/z/4GTrh1EGx

Result IR can be further optimized by GVN, so this might be addressable on the LLVM side.

[2022-11-01 18:03] pratushrai0309 commented on #103485
closes #103810

[2022-11-01 18:05] pratushrai0309 commented on #103485
I have done the intended changes and opened a PR #103810 .
Can someone please review it?

[2022-11-01 18:24] joshtriplett commented on #103534
We discussed this in today's @rust-lang/lang meeting.

We'd like both of these examples to work. Making the one with `compile_error` work seems like it'll take more work, and may need a more detailed proposal. Making the one with `not` work seems like a bugfix that lang doesn't need to review and approve.

[2022-11-01 18:31] camsteffen opened #103844 "Query cycle before ast lowering turns into dumpster fire"
This is mostly just a rustc developer experience issue that crops up if you accidentally introduce a query cycle before ast lowering completes. After this happened to me a few times, I finally understand what is happening so I figured I should document it.

If a query cycle occurs before or during ast lowering, then rustc winds up querying for the HIR while trying to collect info about the cycle t

[2022-11-01 18:53] AtomicGamer9523 opened #103847 "No errors encountered even though delay_span_bug issued"
<details><summary>Code</summary>
<p>

main.rs:
[code]

executor.rs:
[code]
worker.rs:
[code]
Cargo.toml:
[code]
</p>
</details>

Expected: Successful compilation

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

ENV: `RUST_BACKTRACE=full`

[code]

</p>
</details>

[2022-11-01 19:20] jyn514 commented on #103816
Ok, I think I see the issue - `JsonDoc` and `HtmlDoc` have the same `PathSet`, and it's non-deterministic which one gets picked; for me hit happens to be JsonDoc, for you it happens to be HtmlDoc. https://github.com/rust-lang/rust/pull/102010/commits/9791b9f9826adea1078775afbaf66545b319b78d should fix it.

[2022-11-01 19:28] jyn514 commented on #103816
oh no it's even simpler than that lol it's calling the wrong `ensure` function https://github.com/rust-lang/rust/blob/4c736a21ae317086871094b1671d6535be593502/src/bootstrap/doc.rs#L532
that should be JsonStd, not Std

[2022-11-01 19:35] viandoxdev commented on #103816
Should I make the PR or are you gonna do it ?

[2022-11-01 19:54] jyn514 commented on #103816
If you could make a PR that would be great :)

[2022-11-01 20:14] DanielSWolf opened #103849 "Better error message for E0310"
Given the following code ([Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9e9199cccd55eca356c1ffcfed010834)):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

## Rationale for the change:

I'm fairly new to Rust. When I first encountered this errors, there were three things about this message I didn't understand:

**Do

[2022-11-01 20:46] pnkfelix commented on #97552
I just went and confirmed the hypothesis; namely, I checked 1. that I could reproduce the original problem atop nightly-2022-04-04, and 2. that even after I locally removed the `#[inline]` annotations that had been added in PR #97553 as a workaround, the problem still does not arise anew (presumably because the more recently introduced opaque pointers in LLVM are allowing the code to be successful

[2022-11-01 20:46] #97552 closed

[2022-11-01 21:05] Dirbaio opened #103850 "AFIT: "method not compatible with trait" with `impl for &mut T`"
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=360810ee2f05fcf2d4289dc552a739e4)

[code]

gives

[code]

Build using the Nightly version: 1.67.0-nightly (2022-10-31 95a3a7277b44bbd2dd34)
@rustbot label F-async_fn_in_traits C-bug requires-nightly

[2022-11-01 21:07] lukas-code commented on #103849
We should probably also add a hint that `dyn Trait` in return position means `dyn Trait + 'static`.

Your function is currently equivalent to this:
[code]

Another fix would be to change it to this:
[code]

@rustbot label D-papercut D-newcomer-roadblock

[2022-11-01 21:19] kpreid commented on #103849
Another way the message here could be improved is if “so that the type `T` will meet its required lifetime bounds” explained where the bounds arose — pointing at the `dyn Display` and mentioning what its elided lifetime bound is.

[2022-11-01 21:20] Dirbaio commented on #103850
searched nightlies: from nightly-2022-10-22 to nightly-2022-11-01
regressed nightly: nightly-2022-10-29
searched commit range: https://github.com/rust-lang/rust/compare/0da281b6068a7d889ae89a9bd8991284cc9b7535...9565dfeb4e6225177bbe78f18cd48a7982f34401
regressed commit: https://github.com/rust-lang/rust/commit/898f463c93e72dac9b7a28ae662dd12fd71be0b7

[2022-11-01 21:55] viandoxdev commented on #103816
Made the PR but since just changing the ensure wasn't enough there's a thing I'm unsure about (tested it, worked, but could be cleaner)

[2022-11-01 21:58] Dirbaio commented on #103850
Another repro which I believe is the same bug:

[code]

[2022-11-01 22:34] compiler-errors commented on #103847
@AtomicGamer9523 can you verify that this continues to fail on the latest nightly? I can't seem to reproduce your error!

[2022-11-01 22:57] alice-i-cecile opened #103853 "Elide duplicate path information when types are reused in a compiler error"
Suppose we have a very complex error message, with nested types / traits.

For example, I encountered

[code]
today.

Rather than repeating the path (and lifetimes?) for each copy of the type, we could use the shortname in the body of the error message, and then expand the full type below.

This would make it significantly easier to read / parse challenging error messages, as the noise would be mo

[2022-11-01 22:58] AtomicGamer9523 commented on #103847
@compiler-errors Was just able to replicate!

Cargo.toml:
[code]
![Screenshot (125)](https://user-images.githubusercontent.com/65981247/199357602-64380715-1f3c-410e-8acd-26b510c8fa19.png)

[2022-11-01 22:59] compiler-errors commented on #103847
You're still using nightly from 2022-06-25 -- can you update with `rustup update nightly`?

[2022-11-01 22:59] AtomicGamer9523 commented on #103847
sure

[2022-11-01 23:00] CAD97 commented on #103849
The words I'd personally lean towards trying to fit in is (in addition to clarifying where the `'static` requirement comes from) mentioning more explicitly that `T` can capture lifetimes (making it non-`'static`).

Something along the lines of formatting this closer to a standard lifetime outlives requirement and "desugaring" the implicit `dyn (+ 'static)` and `for<'0> T: '0` lifetimes to point to

[2022-11-01 23:06] tmandry opened #103854 "Do we need Send bounds to stabilize async_fn_in_trait?"
## Problem: Spawning from generics

Given an ordinary trait with `async fn`:

[code]

It is not currently possible to write a function like this:

[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=04726fa1708bc790001d0b4b03d23ea1)

Speaking more generally, it is impossible to write a function that

* Is generic over this trait
* Spawns a task on a work-st

[2022-11-01 23:51] PatchMixolydic opened #103856 "Diagnostic for an unused import from a macro expansion mentions a metavariable instead of the imported name"
Given the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e76e4cbfb0443c9d3a4f12f38a65ea6e)):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

@rustbot modify labels +A-macros

[2022-11-02 00:10] camshaft commented on #103814
I was able to workaround this issue by replacing `data.len()` with `DATA_LEN`

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=4196b2135bd3c14f250f33ec5f160627

[2022-11-02 04:23] rdfriese opened #103869 "Error message when defining enum using struct syntax"
Although I know Enums take to form of:
[code]
I sometimes find myself accidentally defining them as I would a Struct ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=8d9f591838885f65ebf69ff075a3eae9)):
[code]

The current output is:

[code]

This always takes more than a few seconds to parse and then realize my mistake.
Is it possible to change this to somethin

[2022-11-02 04:30] zgsbughammer commented on #26656
Hey, guys. I am trying to understand why parametricity is not enough for dropck. I'm not sure if [code here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=b4f118c7754687be46d1867c1bf6dbc3) could prove the point.
if so, it seems it's beyond the cases ( closures or trait objects) mentioned by @nikomatsakis since the evail `bar` impl does not
introduce or "encapsulate" any b

[2022-11-02 05:57] mirao commented on #103775
Duplicate of #50784

[2022-11-02 05:57] #103775 closed

[2022-11-02 06:00] rgreenblatt opened #103871 "ICE with if let chain and optimization"
This occurs with latest nightly and `--release`

### Code

[code]

### Error output

[code]

https://rust.godbolt.org/z/Kzc98jKnM

[2022-11-02 06:32] Lee-Janggun commented on #103871
This does not ice on the most recent nightly.

https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=01ad2e671e2982b74249b40e23f8db1b

The note suggests the nightly is at 2022-09-18. Does godbolt not update to the most recent nightly?

[2022-11-02 07:15] #97564 closed

[2022-11-02 07:15] #103233 closed

[2022-11-02 10:27] dehan-jl commented on #103756
For anyone interested in the actual reason for the slow rust performance, for each comparison of the sort, the eval function was called. Updating to use sort_by_cached_key fixed it. The rust performance is now much better 😄

https://github.com/dehan-jl/ga-perf/commit/05699e7d6531f9ef8359c31b05e1f3a008533305#diff-6830e545eaa10c62f07d60f7b6339ab85b95c03bf93ee5123e912a54fe09cdc8

Thanks, @keegancsmit

[2022-11-02 10:32] #103463 closed

[2022-11-02 10:53] ohno418 commented on #103490
@fmease
I'm wondering if taking an approach that suggests using higher-rank trait bounds (`for<'a> Fn`) for an Fn-family trait with a lifetime parameter. Is it appropriate?
I'm concerned that it may not a comprehensive solution because HRTB can be used outside of the Fn-family traits.
Or is it okay only for the Fn-family traits for now?

[2022-11-02 11:08] lcnr opened #103874 "improve use of `ErrorGuaranteed`"
there are multiple small things to improve `ErrorGuaranteed`:

- remove https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/struct.DelaySpanBugEmitted.html and always use `ErrorGuaranteed` directly.
- add a way to create a `ty_error` and `const_error` by using an existing `ErrorGuaranteed` instead of using another `delay_span_bug`.
- change uses of `references_error` which use `delay_s

[2022-11-02 12:12] apiraino commented on #103673
I think there is enough meat here to fire up an [MCP](https://forge.rust-lang.org/compiler/mcp.html). Similar situation were handled that way. An MCP was suggested in the first place by @jyn514 [in this comment](https://github.com/rust-lang/rust/pull/102332#issuecomment-1259588308).

Anyway, this will be discussed tomorrow. Between the [previous discussion on Zulip](https://rust-lang.zulipchat.com

[2022-11-02 12:17] VTCAKAVSMoACE commented on #102730
Duplicate of #101930

[2022-11-02 12:37] apiraino commented on #102983
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23102983.20rust-objcopy.20produces.20broken.20binary.20in.20nightly)).

@rustbot label -I-prioritize +P-medium

[2022-11-02 12:45] VTCAKAVSMoACE commented on #101930
Behaviour doesn't reproduce when removing `-C link-dead-code`

[2022-11-02 12:45] tyranron commented on #99466
@ChrisDenton

Thanks! That did the trick:

[code]

[2022-11-02 13:01] GuillaumeGomez commented on #85061
I think we can close it since it's possible to run rustdoc tests without `tidy` installed.

[2022-11-02 13:01] #85061 closed

[2022-11-02 13:11] chriss0612 commented on #92474
Is this not the same as #101803?
This tracking issue can probably be closed.

[2022-11-02 13:17] fmease commented on #103490
I am not sure I fully understand what you mean.

As you probably know, none of `Fn`, `FnMut`, `FnOnce` take a lifetime parameter and probably never will. Of course, you could define such a trait with unstable features but there is no way to use them, so it's not relevant:

[code]

Yes, I'd say so. I wouldn't look for names however (like `FnOnce`, `std::ops::FnMut`, …) but just look for an opening

[2022-11-02 13:45] jyn514 commented on #85061
@GuillaumeGomez this problem is still not solved.

[2022-11-02 13:47] jyn514 commented on #99466
Sounds like this isn't a bug.

[2022-11-02 13:47] #99466 closed

[2022-11-02 13:47] GuillaumeGomez commented on #85061
Renaming the issue to reflect this then.

[2022-11-02 13:48] chenyukang opened #103882 "Use indentation for delimiter mismatch detecting may get wrong help message"
[For code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e1bf629a2cd5f612f3fedd2886a972ff)

[code]

Current output is:
[code]

It's error because indentation mismatch at line 8 and 10, ideally, we should report there is an extra `{` at line 16.

Or we only show line 4~22 has `unclosed delimiter`, wrong help message may mislead user.

The root cause is we use indentation

[2022-11-02 13:49] jyn514 commented on #85061
@tmandry A simple solution is to just install tidy on the release builders. I don't know how to do that but it's packaged in nearly every distro.

[2022-11-02 13:54] chenyukang commented on #103882
Related issue: https://github.com/rust-lang/rust/issues/68987

[2022-11-02 14:07] nikic commented on #103327
Upstream patch: https://reviews.llvm.org/D137253

[2022-11-02 14:12] chenyukang commented on #103874
@rustbot claim

[2022-11-02 14:22] Rageking8 commented on #103882
@rustbot label +A-diagnostics +T-compiler +D-confusing +D-papercut

[2022-11-02 14:28] H4x5 opened #103883 "Tracking Issue for `more_float_constants`"
Feature gate: `#![feature(more_float_constants)]`

This is a tracking issue for additional constants in the `{f32,f64}::consts` modules.

ACP: https://github.com/rust-lang/libs-team/issues/119

### Public API

[code]

### Steps / History

- [x] Implementation: #103836
- [ ] Final comment period (FCP)[^1]
- [ ] Stabilization PR

### Unresolved Questions

- Naming of the Euler-Mascheroni constant (g

[2022-11-02 15:25] newpavlov commented on #57525
I wonder if it could be worth to support the following more compact way to document function parameters:
[code]

[2022-11-02 15:50] kpreid commented on #103822
Idea: if the list of possible impls is very long, as in the `Shr` example, _don't show it at all_ (unless some other heuristic can trim it down by some kind of relevance). The logic here is that if there are many impls, then it is very unlikely a relevant one will be at the top of the truncated list, and the user would be better served by consulting the trait's documentation (which shows all imple

[2022-11-02 15:52] jyn514 commented on #57525
Again, no changes can be made here without an RFC. Posting on this issue is not a productive way to get the feature implemented.

[2022-11-02 16:02] fee1-dead commented on #92474
dups #101803 which got landed before the const iterator pr

[2022-11-02 16:02] #92474 closed

[2022-11-02 16:19] pnkfelix opened #103887 "-Z print-type-sizes does not include the size of a generator itself"
I tried this code:

[code]

and then I ran `rustc +nightly --edition 2021 ex-1.rs -Z print-type-sizes`

I expected to see this happen: Somewhere in the output, I expected to see
[code]

Instead, this happened: I do see info about a bunch of types that *use* the above type, and it is enough information for me to extract my most immediate question (the size of the type), such as:

[code]

But it wou

[2022-11-02 16:22] #97429 closed

[2022-11-02 16:48] nikic commented on #103840
Looks like this got a bit worse on LLVM main because an additional assume is being preserved: https://llvm.godbolt.org/z/95eMe6j7q

Anyway, there is a phase ordering problem here. MemCpyOpt runs after GVN, and only at that point do we convert the memcpy into a memset, which makes the following load from it easy to fold.

An easy fix would probably be to support memset in InstCombine load store for

[2022-11-02 17:10] EdMcBane opened #103889 "Compiler panic on missing .await when calling async fn returning T1<impl T2>"
### Code

[code]

### Meta
**Fails (rustc panics) on stable rustc 1.64.0**

`rustc --version --verbose`:
[code]

**Works correctly (compilation fails without rustc panic) on rustc 1.67.0-nightly (11ebe6512 2022-11-01)**
[code]

### Error output

[code]

[2022-11-02 17:22] kpreid commented on #67069
A lint for when a type parameter name is equal to the name of a type in scope would also catch a mistake I have seen several times:

[code]

That is, they want to write an impl for a concrete type, and they try just putting the concrete type name in place of the type parameter everywhere, instead of changing `impl<T>` to `impl`.

(A lot of beginners have gotten to _writing_ generic `impl`s before

[2022-11-02 17:32] scottmcm commented on #57525
Related issue on the RFCs repo: https://github.com/rust-lang/rfcs/issues/2639#issuecomment-464423048

I'd much rather see a way for ``` `epoch` ``` in the doc comment to mean the parameter specifically, to help catch typos (and maybe give on-hover type information, or something.

My experience with having stuff like this is that it invariably turns into a "you must do it for all the argument" in s

[2022-11-02 17:33] yurivict opened #103891 "The systemstat-0.2.1 crate fail to compile on FreeBSD/i386"
[code]

[code]

There are no further links on the crate's [page](https://docs.rs/systemstat/latest/systemstat/) so I assumed that this is a system crate.

[2022-11-02 17:46] compiler-errors commented on #103889
This will be fixed in Rust 1.65

[2022-11-02 17:53] #103871 closed

[2022-11-02 19:06] jbeich commented on #103891
Maybe use [crates.io](https://crates.io/crates/systemstat) instead. I'm not sure if docs.rs UI shows `homepage` or `repository` anywhere.
[code]

[2022-11-02 19:09] yurivict commented on #103891
Thanks.

https://github.com/valpackett/systemstat/issues/114

[2022-11-02 19:09] #103891 closed

[2022-11-02 19:45] jmesmon commented on #68610
I've worked around this locally (when writing API skeletons) for myself by writing things like `todo_iter!()` and `todo_stream!()`. Here are the macros I've used:

[code]

(there might be a less wordy `todo_stream!()` using `futures-util` and `into_stream()`, the above was written as a direct approach just using `futures-core`).

[2022-11-02 20:13] eric-seppanen opened #103899 "ICE: `delay_span_bug`: `error performing ParamEnvAnd`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]
Also happens on:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-02 20:20] ghost opened #103900 "Tracking Issue for `const_arguments_as_str`"
Feature gate: `#![feature(const_arguments_as_str)]`

This is a tracking issue for const `fmt::Arguments::as_str`.
Note that the original PR didn't create a tracking issue.

### Public API

[code]

### Steps / History

- [x] Implementation: #86655
- [x] Mention tracking issue in feature gate: #103901
- [x] Final comment period (FCP)[^1]
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2022-11-02 21:40] jafri commented on #103819
Looks like this is just how it is: https://kazlauskas.me/entries/writing-proper-buildrs-scripts

[2022-11-02 21:40] chfast commented on #30382
Has this been resolved since 5 years ago?
The compiler warns about `[u8]`
[code]
but not about the fixed-size array, e.g. `[u8;16]`.

[2022-11-02 21:51] jackh726 commented on #103889
Closing since this works on nightly

[2022-11-02 21:51] #103889 closed

[2022-11-02 22:18] jackh726 commented on #103801
Closing since this is fixed on nightly

[2022-11-02 22:18] #103801 closed

[2022-11-02 22:23] leonardo-m commented on #103883
On constants defined like:

    pub const PHI: f64 = 1.618033988749894848204586834365638118_f64;

Clippy raises a "float has excessive precision" using this lint:

https://rust-lang.github.io/rust-clippy/master/index.html#excessive_precision

[2022-11-02 22:28] H4x5 commented on #103883
The lint also triggers for like every other constant in the `{f32,f64}::consts` modules. It's not necessarily a bad thing, as rustc just silently truncates them.

[2022-11-02 23:14] bridiver commented on #102754
@glandium did you test the llvm fix? It doesn't seem to be working for me for some reason. I just built using https://chromium.googlesource.com/a/external/github.com/llvm/llvm-project/+/refs/heads/llvmorg-16-init-8697-g60809cd2 which contains the fix https://chromium.googlesource.com/a/external/github.com/llvm/llvm-project/+/refs/heads/llvmorg-16-init-8697-g60809cd2/lld/test/MachO/eh-frame-persona

[2022-11-02 23:15] aalhitennf opened #103906 "internal compiler error"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-02 23:17] bridiver commented on #102754
[code]
this only handles the case of synthetic symbols

[2022-11-02 23:44] glandium commented on #102754
Yes, the fix works for us.

[2022-11-02 23:57] valpackett commented on #103891
of course it does!

![image](https://user-images.githubusercontent.com/208340/199623958-e14b4c55-e7f3-4f1f-8816-c5ab8f2c07d3.png)

but I suppose not everyone would think to click that thingy to open it, that's a bit too hidden in the design :/

[2022-11-03 00:04] Firstyear opened #103907 "Cargo.lock / dependency information in elf section"
Hi there,

This is a feature suggestion for Rust to assist with Linux distribution and auditing. It would be useful for us to have the list of crates/dependencies that were used and their versions in an elf section of the resulting binary. This would allow auditing of vulnerabilities by tools like cargo-audit *post* compilation.

Where this is useful is linux distributions, as the metadata in the

[2022-11-03 00:09] yurivict commented on #103891
Someone worked hard to hide it real well. -)

[2022-11-03 00:15] Rageking8 commented on #103906
No longer ICEs on latest nightly. Marking a E-needs-test, if this is wrong do change to back. Thanks.

@rustbot label +E-needs-test

@rustbot claim
Add the test

[2022-11-03 00:40] Rageking8 commented on #103906
Issue fixed and test not required as checked with @compiler-errors on discord

@rustbot label -E-needs-test

@rustbot release-assignment

[2022-11-03 01:09] #103906 closed

[2022-11-03 01:52] thomcc commented on #101840
I happened to notice this in the UCD spec <https://www.unicode.org/reports/tr44/#Missing_Conventions>. It seems that as of 15.0.0 have to start parsing some of the comments to look for `@missing` decls now.

This is pretty annoying and will likely lead to some bugs (likely minor). I'm certain I've written code that would be buggy under this. (Hell, I'm not sure I've ever seen code that handled the

[2022-11-03 03:01] #99705 closed

[2022-11-03 03:01] #103790 closed

[2022-11-03 03:01] #84619 closed

[2022-11-03 03:27] Manishearth commented on #101840
This seems like another reason for us to potentially switch over to ICU4X (maintained by Unicode), potentially with unicode-rs (or somewhere) maintaining crates of docs.rs/databake-format data output.

Unfortunately it's unlikely `url` will move to something heavier than the unicode-rs crates which have always stayed zero-dep sicne they're at the bottom of many deptrees.

I don't have time to fixu

[2022-11-03 03:51] ehuss commented on #103907
There is a proposal to add this at https://github.com/rust-lang/rfcs/pull/2801. I recommend following that.  There's also an implementation of it at https://github.com/rust-secure-code/cargo-auditable.

[2022-11-03 03:57] Firstyear commented on #103907
Thank you @ehuss ! I knew I'd seen it somewhere before :)

[2022-11-03 03:57] #103907 closed

[2022-11-03 04:28] thomcc commented on #101840
I think rustc doing that is probably very good. It's hard for me to imagine anybody fighting you on it.

For the `core::unicode` tables... presumably you mean inside the table generator (definitely we couldn't add a dep to libcore on icu4x). We could use it to query the data we build the tables with, instead of ucd-parse. That doesn't sound like a problem eventually. (I'll look into it soonish sin

[2022-11-03 04:45] thomcc commented on #103819
Yes, build scripts run on the host and not the target. You should use https://doc.rust-lang.org/cargo/reference/environment-variables.html#environment-variables-cargo-sets-for-build-scripts.

It's a pain, yeah, but it's important that code using `#[cfg(target...)]` be able to rely on that being accurate for where it's currently running -- that code may not know it's in a build script, so it would

[2022-11-03 04:54] chenyukang opened #103909 "Remove unhelpful diagnostic when we suggesting for if-let"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=edb0af9c0b63ae2876296998fe8645dd

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

How do we remove other diagnostics in this scenario?

[2022-11-03 05:32] Manishearth commented on #101840
Yeah for the core unicode stuff it'd probably be best done as a table generation. Worth noting though: you could still use the efficient code point trie impl that ICU4X uses for this, and not take on too many dependencies. Note that ICU4X's model also involves running a data generation tool; so it might not be an improvement over ucd-parse for us. Eventually, ICU4X will have a copy of various slic

[2022-11-03 05:46] QuineDot commented on #103849
I agree that the return type should be highlighted as the source of the requirement, with the `Box<dyn Display + 'static>` expanded, and an alternative suggestion of a non-`'static` version be added.

I would refer to "non-`'static` lifetime"s instead of references specifically, as not only references have lifetimes.
[code]

[I think the longer E0310 page could also be improved:](https://doc.rust-

[2022-11-03 06:05] ohno418 commented on #103490
Ah, definitely. Thank you!

[2022-11-03 06:06] ningmingxiao opened #103910 "how to install rust offline?"
1.I down load  rust-1.57.0-x86_64-unknown-linux-musl.tar.gz
2.tar -xzvf rust-1.57.0-x86_64-unknown-linux-musl.tar.gz
3.cd  rust-1.57.0-x86_64-unknown-linux-musl
4.sh install.sh
[code]
but   use rust-1.57.0-x86_64-unknown-linux-gnu.tar.gz work well

[2022-11-03 06:10] Rageking8 commented on #103909
@rustbot label +D-verbose

[2022-11-03 08:16] lcnr opened #103911 "improve the way we deal with ambiguity errors"
right now we report each ambiguity error separately, sprinkling in a bunch of `self.is_tainted_by_errors()` and friends in there to deduplicate errors.

This can often cause us to emit less useful errors because the more relevant error happens later.
It also restricts us in the suggestions we can emit.

This happens in `fn report_fulfillment_errors`: https://github.com/rust-lang/rust/blob/ce1a7e41

[2022-11-03 08:18] DanielSWolf commented on #103849
I guess part of the problem is that the same message needs to make sense both to new and to seasoned Rust developers. As a Rust newbie, I like seeing the word "references" in there, because it illustrates the problem in terms I understand (thus answering my second question in the OP). As an experienced Rustacean, you (rightfully) expect a message that is technically correct.

Maybe the two can be

[2022-11-03 08:55] OuYangPaste commented on #96793
I also encountered this problem when I wrapped .a for c program

[2022-11-03 09:10] soloist-v opened #103916 "lock free ringbuffer can't work on --release mode"
I tried this code:

[code]
In debug mode, it can work well.
But in release mode, it is blocked forever.

I expected to see this happen: *explanation*

*It should be print 'res:  deltatime '*

Instead, this happened: *explanation*

*Aactually it is blocked forever.*
Note: If you addition any print code or time-consuming code it will work well.
### Meta

`rustc --version --verbose`:
[code]

<details

[2022-11-03 10:02] clubby789 commented on #103910
The Musl distribution of Rust won't work on a system using GNU libc

[2022-11-03 10:13] nikic commented on #103840
Upstream patch for InstCombine: https://reviews.llvm.org/D137323

An alternative solution would be to move MemCpyOpt prior to GVN, but I'm not sure whether that would cause other issues.

[2022-11-03 10:45] Nilstrieb commented on #103916
Your code contains undefined behavior (a data race), as you mutate your ring buffer from several threads concurrently without synchronization (you break the invariants of [Arc::get_unchecked](https://doc.rust-lang.org/std/sync/struct.Arc.html#method.get_mut_unchecked)). As this is undefined behavior, there are restrictions on the behavior of the program, so it hanging is not a surprise (and a rath

[2022-11-03 10:53] nikic commented on #101638
Upstream patch for the uninit case: https://reviews.llvm.org/D135886

[2022-11-03 10:58] soloist-v commented on #103916
I seem to understand.
But how can I modify a structure in two threads at the same time ?

[2022-11-03 11:05] apiraino commented on #103762
I think it's very close to #100615, so I'll close this as duplicate. Please feel free to reopen if it's not the case.

[2022-11-03 11:05] Nilstrieb commented on #103916
You can use [atomics](https://doc.rust-lang.org/std/sync/atomic/) for that.

[2022-11-03 11:07] Rageking8 commented on #103916
Just a gentle reminder that such generic questions should not be asked in this repo's issue tracker.

Please ask in one of the following places:
https://discord.gg/rust-lang/
https://discord.gg/rust-lang-community/
https://users.rust-lang.org/
https://rust-lang.zulipchat.com/

Thanks.

[2022-11-03 11:09] #103916 closed

[2022-11-03 11:12] apiraino commented on #103840
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23103840.20Worse.20codegen.20with.20.60mem.3A.3Atake.28vec.29.60.20than.20on.20stable)).

@rustbot label -I-prioritize +P-medium

[2022-11-03 11:46] apiraino commented on #103762
Reverting the decision because I misunderstood the context and assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23103762.20Broken.20compilation.20with.20.60.26.28dyn.20Trait.20.2B.20'_.29.60)).

@rustbot label -I-prioritize +P-high

[2022-11-03 12:10] BurntSushi commented on #101840
I don't think I have any strong opinions. It seems like `ucd-parse` could be updated to handle these `missing` declarations without too much trouble though? And then things would be fine? Or is there something else I'm missing?

Also worth pointing out that the whole `ucd-generate` stuff is something I built for lack of a better alternative at the time. My goal was to get rid of an ever increasing

[2022-11-03 12:25] soloist-v commented on #103916
There is a cost to atomic, but ringbuffer does not need any atomic operation. When only one thread writes and another thread reads, ringbuffer can ensure security，Therefore, I want the simplest and most direct implementation of ringbuffer

[2022-11-03 12:38] Nilstrieb commented on #103916
Atomics are fairly cheap. Using them is required here. You cannot concurrently read/write to the same memory without synchronization, it's not allowed and leads to problems like the one in the issue.

[2022-11-03 13:31] winxpqq955 commented on #101666
@rustbot claim

[2022-11-03 14:04] Mark-Simulacrum opened #103925 "Crater runs for 1.66"
Note: Please do not conduct triage on these runs without discussing how to do so with a release team member first. Thanks!

[2022-11-03 14:42] #102621 closed

[2022-11-03 14:42] Mark-Simulacrum commented on #103925
@craterbot run name=beta-1.66-1 start=1.65.0 end=beta-2022-11-01 mode=build-and-test cap-lints=warn p=1

[2022-11-03 14:43] Mark-Simulacrum commented on #103925
@craterbot run name=beta-1.66-rustdoc-1 start=1.65.0 end=beta-2022-11-01 mode=rustdoc cap-lints=warn

[2022-11-03 15:08] nikic commented on #103840
Upstream patch for SimplifyCFG: https://reviews.llvm.org/D137339

Together these produce the following final IR:
[code]
Ignoring the opportunity to form a usub.sat, this is optimal.

[2022-11-03 15:20] fee1-dead commented on #103910
I think the musl target triple is linked to musl libc dynamically.

[2022-11-03 15:52] soloist-v commented on #103916
This is actually caused by the CPU cache，The solution is as follows：
[code]

[2022-11-03 15:57] ningmingxiao commented on #103910
I install musl-filesystem-1.2.1-1.el8.x86_64.rpm and  musl-libc-1.2.1-1.el8.x86_64.rpm  will show
[code]

[2022-11-03 16:12] nwadih commented on #96793
+1 I am running into the same issue, trying to link a no_std+alloc static lib into a c program

[2022-11-03 16:12] Nilstrieb commented on #103916
This is still undefined behavior. You have to use atomics instead of volatile. While this code will "work" on x86 CPUs, it may break on CPUs with weaker memory orderings like ARM. Or it could also break just because the compiler decides to have a fun day and compile it in weird broken ways, as it's totally allowed to do anything to code with undefined behavior.

Also if you benchmark it with atomi

[2022-11-03 16:16] mqudsi commented on #56167
For anyone reading this RFC while exploring a successor/better alternative to `hash_raw_entry`, please keep in mind a very common pattern that *wasn't* cleanly covered by the prototype raw entry api: cleanly bubbling back whether or not a key was entered into the map, should that information be needed down the line.

The (un)released `.raw_entry[_mut]().or_insert_with(|| ...)` method returned a tu

[2022-11-03 16:35] alercah commented on #103476
Box's `drop` is actually hard-coded magic, so it might be unique to it.

[2022-11-03 16:54] vlovich opened #103932 "`split-debuginfo = "unpacked"` fails in release build"
When I add `split-debuginfo = "unpacked"` to my `profile.release` in Cargo.toml (on Linux), my build fails with:

[code]

In debug I initially had the same problem but a `cargo clean` fixed it without requiring me to turn off `split-debuginfo`. However, release continues to be failing even after `cargo clean`.

### Meta
rustc --version
rustc 1.65.0 (897e37553 2022-11-02)
cargo --version
cargo 1.65

[2022-11-03 17:20] davidli2010 commented on #103932
It's silent in my macOS in release profile, but no dSYM generated. It's OK in dev profile.

[2022-11-03 17:21] vlovich commented on #103932
Oh not sure if it matters, but I also have debug = true set for my release build.

[2022-11-03 17:32] Manishearth commented on #101840
Oh yeah to be clear, no shade on ucd-parse and ucd-generate! They're great tools and I don't necessarily mean to say ICU4X is much better or anything.

Rustc already needs ICU4X for list formatting and @crlf0710 was investigating using it for more things like the XID and security properties (which rely on those manual python scripts).

[2022-11-03 17:37] rminnich opened #103936 "cargo install dprint"
### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-03 17:38] davidli2010 commented on #103932
Thanks for your reminder. I forgot that `debug` is off by default in release profile.

[2022-11-03 17:47] jkarneges commented on #100932
And... confirmed the fix made it to stable! (1.65.0)

[2022-11-03 17:47] #100932 closed

[2022-11-03 17:48] tbu- commented on #58713
I tried to look around but couldn't find anything, is there anything stopping this from being stabilized on x86 Windows as well?

In https://github.com/rust-lang/rust/issues/58713#issuecomment-1199827352 I see

But all those are already fixed. Could I just submit a stabilization PR?

[2022-11-03 17:59] compiler-errors commented on #103242
1.65 is released

[2022-11-03 17:59] #103242 closed

[2022-11-03 17:59] compiler-errors commented on #103243
1.65 is released

[2022-11-03 17:59] #103243 closed

[2022-11-03 18:14] dpaoliello commented on #58713
@tbu- I don't know of anything blocking it - @kennykerr @ChrisDenton have either of you tried using `raw-dylib` with x86?

[2022-11-03 18:28] compiler-errors commented on #103847
@AtomicGamer9523 did you check if this fails on the latest nightly version of Rust?

[2022-11-03 18:32] RReverser commented on #91628
I'm running into the same issue when compiling with threads on wasm32-unknown-emscripten target. I'm getting the generic error above about "pop from empty stack" when using with various CLI tools, but a more specific error message when compiling Wasm in Node.js:

[code]

Looks like some potential ABI mismatch or miscompilation issue.

[2022-11-03 18:39] RReverser commented on #91628
@alexcrichton

@alexcrichton just for reality check - this couldn't be related to the Wasm ABI feature, because that one only affects wasm32-unknown-unknown and not wasm32-unknown-emscripten, right?

[2022-11-03 18:49] ItsEthra commented on #103932
Can confirm this happens for me as well but with `split-debuginfo=packed`.
[code]
`rustc 1.65.0 (897e37553 2022-11-02)`
`cargo 1.65.0 (4bc8f24d3 2022-10-20`

[2022-11-03 19:04] kennykerr commented on #58713
A few issues, which may be known...

* It doesn't support `cdecl` calling convention, and possibly others, but that's the only one missing for Windows. That's not a blocker for stabilization but will be blocker for eventual adoption by the `windows` crate.

* It won't let me explicitly set the library file extension. For example, "user32" works but "user32.dll" creates an import against `user32.dl

[2022-11-03 19:05] Nilstrieb commented on #103899
Simplified it further
[code]

[2022-11-03 19:12] RReverser commented on #91628
@gregbuchholz I'm not sure the bisect start is right, because I'm getting the same issue when built with nightly-2021-12-06 too.

[2022-11-03 19:21] dpaoliello commented on #58713
What's the issue when you try to use `cdecl`?

I believe that's what `modifiers = "+verbatim"` is supposed to do: https://dev-doc.rust-lang.org/unstable-book/language-features/native-link-modifiers-verbatim.html

As an example: https://github.com/rust-lang/rust/blob/master/src/test/run-make/raw-dylib-c/lib.rs#L3

I have this working locally on beta if I add `import_name_type = "undecorated"` (for

[2022-11-03 19:29] coolreader18 commented on #72631
Perhaps another solution is some kind of `fn allocation_hint(&self) -> Option<usize>;` method on iterators. That would fix the "lying about size_hint" problem, and you could get the functionality of extend_reserve with just `.extend(itertools::allocation_hint(n))` or something. I've wanted this in the context of fallible iterators before, since for `.collect::<Result<Vec<_>, _>>()` the iterator co

[2022-11-03 19:36] kennykerr commented on #58713
Anything other than "system" fails to compile with this error - even on x64. 😋

[code]

Here's a minimal repro of two system functions using different calling conventions:

[code]

Cool, this works:

[code]

However, I would argue that should be the default. 😉

[2022-11-03 19:41] kennykerr commented on #58713
Actually, this error seems to be specific to x64 where the calling convention should just be ignored. It's only relevant for x86 but we don't want to have to have target-specific declarations. That'll cause an explosion of code gen in crates like `windows` and `windows-sys`.

[2022-11-03 19:46] dpaoliello commented on #58713
Rust is slowly moving towards being strict about using calling conventions (and other x86 features) on non-x86 Windows: #87678

Note that `import_name_type` can only be used with x86 as well, it was something that I was hesitant about doing: https://rust-lang.zulipchat.com/#narrow/stream/233931-xxx/topic/Add.20import_name_type.20parameter.20to.20.23.5Blink.5D.20compiler-team.23525

CC @wesleywiser

[2022-11-03 19:48] est31 commented on #103476
Good point about the lang item. I've tried it with `Arc` and `Vec`, it seems to fail for those too.

This also still reproduces:

[code]

[2022-11-03 19:48] kennykerr commented on #58713
I'm just afraid this will make this feature too onerous to adopt.

[2022-11-03 19:53] ChrisDenton commented on #58713
It's frustrating that we'll need to use `#[cfg_attr(...)]` at least twice for every `extern` block rather than being able to fully describe the linkage in one `#[link]`. It adds a ton of noise and verbosity for the common case.

But I guess this is ultimately up to the lang team.

[2022-11-03 19:55] kennykerr commented on #58713
Precisely. It will cause an explosion of code and degrade readability and maintainability, especially for hand-written bindings.

[2022-11-03 20:00] RReverser commented on #91628
Tried to extract the full name of the function by index, but it doesn't help much:

[code]

[2022-11-03 20:02] Nilstrieb commented on #103899
@rustbot claim

[2022-11-03 20:07] RReverser commented on #91628
Oh interesting, looks like this only happens after optimizations. Wasm binary built in debug mode is fine. So it's definitely some miscompilation or, at least, wasm-opt issue.

[2022-11-03 20:16] mati865 opened #103939 "Cross-compiling `raw-dylib` doesn't work on Windows"
I tried this code:

[code]

I expected to see this happen:
Successful compilation

Instead, this happened:
[code]
Worth mentioning it works fine when building natively from x86_64 to x86_64 target.

### Meta

`rustc --version --verbose`:
[code]

[2022-11-03 20:17] mati865 commented on #58713
Doesn't happen with `windows-gnu` target but there is another problem, reported at: https://github.com/rust-lang/rust/issues/103939

[2022-11-03 20:28] bjorn3 commented on #103939
https://github.com/rust-lang/rust/blob/31d754a1dfba4d091a05589459708f286d5a231e/compiler/rustc_codegen_llvm/src/back/archive.rs#L406

Looks like rustc expects a toolchain that cross compiles from the host (x86_64 mingw) to the target (i686 mingw) rather than a toolchain native to the target (i686 mingw) like in your case. I guess it could try both executable names.

[2022-11-03 20:49] mati865 commented on #103939
On Windows toolchains commonly provide only `dlltool` without prefix but it's possible to cross-generate import library using dlltool for any host with trick discovered by glandium: [microsoft/windows-rs@`cb8d6a9` (#2016)](https://github.com/microsoft/windows-rs/pull/2016/commits/cb8d6a9181a50903589bfecf962b464a45f98fcf#diff-82947385e42042ffba4e2ba53c683427146ce3bf9e7c15ef45ad38e624a66444R94-R106)

[2022-11-03 20:53] nathanwhit commented on #103476
This reproduces as well:
[code]

If you remove the `Drop` impl or the lifetime parameter it compiles without error.

[2022-11-03 20:59] compiler-errors commented on #103899
This issue basically hinges on the fact that this code is considered well-formed:
[code]

Even though `S` doesn't satisfy the predicates of the associate type `Assoc`. This should only be a problem when we observe `S` through a projection, for example, in code like this:

[code]

However, sometimes we don't observe this projection during HIR typeck, but only during drop elaboration... which is not

[2022-11-03 21:10] RReverser commented on #91628
By playing with different optimisation options, narrowed it down a little further: it's the thread-local init callback in [`std::sys_common::thread_info::current_thread`](https://github.com/rust-lang/rust/blob/160b19429523ea44c4c3b7cad4233b2a35f58b8f/library/std/src/sys_common/thread_info.rs#L33-L35) that produces invalid number of arguments after optimisation. Not sure yet whether the `.clone()`

[2022-11-03 21:21] estebank commented on #103776
https://github.com/rust-lang/rust/pull/103908 will provide the following error after the first applied change:

[code]

[2022-11-03 21:22] Nilstrieb commented on #103899
That does sound like something that needs more discussion, so I'll @rustbot release

[2022-11-03 21:30] RReverser commented on #91628
This increasingly looks like an issue at the linking stage, because this same code compiled into individual cdylib instead of being linked with other C/C++, works just fine.

[2022-11-03 21:38] nagisa commented on #31436
With the announcement of the labeled blocks today, I realized that `try {}` blocks don’t have a good story for labeled exits. With `try { EXPR_A?; try { EXPR_B? } }` there isn’t really a good way to throw the error out into the outer `try {}` block.

Unfortunately, I also don’t really see a _good_ way to make it work in the future. We can label the try blocks all we want, but then how do we annota

[2022-11-03 22:10] bridiver commented on #102754
Strange, I tried with rustc 1.64.0 (a55dd71d5 2022-09-19) and clang version 16.0.0 (https://chromium.googlesource.com/a/external/github.com/llvm/llvm-project 60809cd29308e78d662375e6957a2b1b85415def) so I think there's still an issue here and we need a way to avoid including `_rust_eh_personality`. Including it by default causes problems that are far more difficult to fix than not including it.

[2022-11-03 22:14] est31 opened #103943 "Unresolved import error suggests semicolon in list import"
If there is a list import with `use path::{...};` with a wrong path, Rust is giving wrong suggestions for that path, it suggests a semicolon. E.g. for this code:

[code]

It prints:

[code]

You can't use a semicolon here however, you have to use a comma. Also, it suggests absolute paths, while it should take into account that we are looking for sub-paths of `std::collections`.

It should suggest

[2022-11-03 22:22] glandium commented on #102754
1.64 didn't have the change that caused the problem for us in the first place.

[2022-11-03 22:24] bridiver commented on #102754
Everything after 1.59 was broken for us

[2022-11-03 22:31] bridiver commented on #102754
same thing with 1.65

[2022-11-03 23:36] CAD97 commented on #31436
On the other hand, unlabeled `break` targets the closest containing `loop` (or `for` or `while`), not the function. We can't write `return 'label` nor can we `break` from the function.

We could go either way in the pursuit of consistency. We could allow `return 'label` and prefer that the unlabeled form exits the function, or we could allow `break`-from-fn and  prefer that the unlabeled from exit

[2022-11-04 01:18] ehuss commented on #103932
Can you provide some more information, such as the target you are building for (`x86_64-unknown-linux-gnu`?), the output of `rustc --version --verbose`, and anything else that might help narrow down the issue? Is your profile exactly this?

[code]

[2022-11-04 02:10] vladov3000 opened #103948 "Allocations always assumed to succeed in optimizations"
I tried this code:

[code]

I expected to see this happen:
It should generate assembly that does the allocation, and checks it succeeded.

Instead, this happened:
The code is is optimized to always return true on the highest optimization level. See the following disassembly:
https://godbolt.org/z/9P3e8nnPq

### Meta

`rustc --version --verbose`:
[code]

[2022-11-04 02:22] ningmingxiao commented on #103910
thank you , I down load https://musl.cc/x86_64-linux-musl-cross.tgz
then tar -xzvf x86_64-linux-musl-cross.tgz  -C  /usr/local/
export  MUSL=/usr/local/x86_64-linux-musl-cross
export PATH=$PATH:$MUSL/bin
add
[code]
to  /root/.cargo/config

then cargo build --release --target x86_64-unknown-linux-musl
[code]
I can't use rustup target add x86_64-unknown-linux-musl offile

[2022-11-04 02:43] RReverser commented on #103948
This is basically the same as `malloc(...) != NULL` in C, which Clang also optimizes to true: https://godbolt.org/z/5cMzMo1E5

IIUC, this is a legal optimisation as long as your allocated pointer is unused for any side-effects. Checking whether it's been allocated isn't a side-effect, and can return true since in fact nothing needs to be allocated at runtime, so it "always succeeds".

OTOH if you

[2022-11-04 02:49] vladov3000 commented on #103948
Wait, the allocation itself is a side effect? How can that be optimized out? Also, yes I stole this example from some Clang code which I thought was funky due to (imo poor) C semantics. Note: I assume this is an LLVM issue but I haven't found much discussion about it.

Assuming this optimization is ok then, how do I actually perform the allocation, do nothing with it, and check if it succeeded in

[2022-11-04 03:04] xobs opened #103949 "riscv32imac-unknown-xous-elf: `rust-lld` gives `offset is outside the section` errors"
### Version it worked on

It most recently worked on: Rust 1.64.0

### Version with regression

`rustc --version --verbose`:
[code]

### Description

Building crates for the `riscv32imac-unknown-xous-elf` target sometimes results in a link error. This began with Rust 1.65.0. For example:

[code]

### Background

We build a custom libstd for the `riscv32imac-unknown-xous-elf` target, which is a Tie

[2022-11-04 03:22] JhonnyBillM opened #103951 "`./x.py test tidy` should not count untracked paths towards entries limit"
When browsing folders in macOS' Finder app, the OS automatically creates a `.DS_Store` file in the folder you're browsing. `.DS_Store` is usually included in `.gitignore` by users, making it trickier to detect which file increased the entries count in a given folder when getting the following error:

`tidy error: following path contains more than 948 entries, you should move the test to some relev

[2022-11-04 03:29] RReverser commented on #103948
There have been couple of discussions over years, e.g. quick search found this one, seems relevant but haven't looked deeply through it: https://lists.llvm.org/pipermail/llvm-dev/2015-April/084101.html

My TL;DR understanding is that standard allows to supply own malloc/free, and LLVM is free to "supply" one that 1) is pure and 2) always succeeds during compilation, so they can use that assumption

[2022-11-04 03:29] xobs commented on #103949
I managed to link the project using `riscv32-esp-elf-gcc` and it worked just fine, so this seems like a regression with `rust-lld`.

[2022-11-04 03:29] Monadic-Cat commented on #103948
I'll just add that this is mentioned on the `GlobalAlloc` safety contract, though it doesn't appear to be mentioned on the `Allocator` one.
https://doc.rust-lang.org/nightly/std/alloc/trait.GlobalAlloc.html#safety

[2022-11-04 03:32] #23012 closed

[2022-11-04 03:44] vladov3000 commented on #103948
Thank you for the clarifications - I understand this behavior is correct and expected now. Although, I am a bit disappointed, the whole pitch was that errors aren't just dispersed into the wind and that it wouldn't make &%$# optimizations like most C compilers do (though it would be pretty annoying to use Options for every alloc without some sort of Monad syntactic sugar).

[2022-11-04 03:44] #103948 closed

[2022-11-04 03:57] filialpails commented on #103932
I got this same error when I tried compiling with both split debug info and linker plugin LTO.

[2022-11-04 04:28] Rageking8 commented on #103943
@rustbot label +T-compiler +D-invalid-suggestion

[2022-11-04 04:48] tchollingsworth commented on #103932
also need LTO enabled, works fine without here

[code]

[2022-11-04 05:42] thomcc commented on #103916
In rust atomics are *just* a way to communicate to the compiler that you are performing concurrent operations to a varible. It is not true that there is always cost to them -- in particular, you are likely thinking of read-modify-write atomic operations, which are costly and are not needed in many single-producer/single-consumer (SPSC) algorithms. This is not (necessarily) what people are talking

[2022-11-04 07:36] WaffleLapkin commented on #103476
The reason why `Box<&'a ()>` / `Vec<&'a ()>` don't work is probably because of `#[may_dangle]`.

[2022-11-04 07:42] RalfJung commented on #103538
@bjorn3 how would tools like Miri even do that (link against the .so file based on .rmeta files)? And do these .rmeta files even exist on our dist builders or would they have to be generated?

[2022-11-04 07:46] chenyukang commented on #103951
@rustbot claim

[2022-11-04 08:13] est31 commented on #103476
There is no `#[may_dangle]` in the two last snippets, so I think it's not because of those.

[2022-11-04 08:29] WaffleLapkin commented on #103476
@est31 that's the point? @nathanwhit's example can use `&'a ()` because the drop doesn't have `#[may_dangle]`. `Arc` has `#[may_dangle]`, so `Arc<&'a ()>` does not reproduce the issue (you need a `dyn Trait` because it's possibly drop and has the lifetime).

[2022-11-04 08:34] soloist-v commented on #103916
Thanks for your professional answer, I will reimplement using atomics.

[2022-11-04 09:00] 1Kinoti opened #103959 "An `Internal Compiler Error` while compiling tauri"
### Code
The error happened while compiling a newly generated [tauri](https://github.com/tauri-apps/tauri) app created with the command `cargo tauri init`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]
   0:     0x7f128016dd40 - std::backtrace_rs::backtrace::libunwind::trace::h32eb3e08e874dd27

[2022-11-04 09:52] Rua commented on #87053
I'd like this to be stabilised as well.

[2022-11-04 09:52] bjorn3 commented on #103538
Miri links agains librustc_driver.so already. In fact there are no .rlib or .rmeta files generated for rustc_driver as it's crate type is set to dylib. The .rmeta files are already generated as they are used for build pipelining (since a couple of months or so it is no longer possible to disable build pipelining in cargo). All that is necessary is to replace the rule that copies .rlib files to rus

[2022-11-04 10:37] TimNN opened #103961 "[LLVM HEAD] Build fails due to memory attribute changes"
Building the compiler fails at LLVM head due to the changes introduced by https://github.com/llvm/llvm-project/commit/304f1d59ca41872c094def3aee0a8689df6aa398 ("[IR] Switch everything to use memory attribute"):

[code]

Based on my (limited) understanding the fix will not be entirely trivial, so opening an issue to track.

Found via our experimental rust + llvm at HEAD bot: https://buildkite.com/l

[2022-11-04 11:01] coriolinus commented on #31436
Do we really need labeled try exits? It seems like the `?` operator should only ever break out of a single scope at a time. If you want to propagate things farther you can use a construct like

[code]

[2022-11-04 11:40] nagisa commented on #35968
Closing as per the comment above.

[2022-11-04 11:40] #35968 closed

[2022-11-04 11:46] DesmondWillowbrook opened #103963 "Lint for destructuring a unit struct without binding to a value"
Sourced from @dtolnay's [Rust Quiz #25](https://dtolnay.github.io/rust-quiz/25).

[code]

Prints `212` because the `let S = f();` actually performs an infallible destructuring. This wouldn't be a problem in the case that S was anything but a unit struct, since then you'd have to be explicit about dropping the destructured value. (i.e. `let ComplexStruct (_) = t();`)

But since unit structs don't c

[2022-11-04 11:48] nagisa commented on #89058
FWIW given the @cemeyer’s comment, I think they were suggesting that support for 11 is dropped alongside this version going EOL upstream – which it already has. In fact, [so has 12 at this point](https://www.freebsd.org/releases/).

[2022-11-04 12:21] DonSheddow commented on #78595
I encountered a similar problem when I forgot to import `std::io::Read`:
[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=417a665fa804edfc9c93878d8175ec7b)

which returns ``error: the `take` method cannot be invoked on a trait object`` and a confusing message about Sized requirement

[2022-11-04 12:23] #103716 closed

[2022-11-04 12:23] leefordjudes commented on #103716
resolved in 1.65

[2022-11-04 13:22] asomers commented on #89058
Err, early point releases of 12 are EoL, but the 12 series as a whole is not.  12.3 is still supported, and 12.4 will be released soon.  But yes, we are suggesting dropping support for both 10 and 11.

[2022-11-04 13:36] vlovich commented on #103932
Thanks @tchollingsworth for clarifying. Yeah, I do have LTO on as well.

[2022-11-04 13:59] TimNN commented on #103961
I'll give fixing this a go. @rustbot claim

[2022-11-04 14:10] emaste commented on #89058
For reference, 12.x is supported to end of 2023.
https://www.freebsd.org/security/#sup

[2022-11-04 14:17] douglas-raillard-arm opened #103967 "impl_trait_in_fn_trait_return breaks with ref params"
I tried the new `impl_trait_in_fn_trait_return` feature tracked at https://github.com/rust-lang/rust/issues/99697

[code]

I expected to see this happen:

The code should compile.

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-11-04 14:21] compiler-errors commented on #65784
@BoxyUwU fixed this, the error message on nightly looks like this now:

[code]

Further improvements on the error message would be nice as a new issue, so newcomers can discover the issue, since it'd probably be a good E-easy task.

[2022-11-04 14:21] #65784 closed

[2022-11-04 14:22] alexsunrise opened #103968 "multi impl for PartialEq"
Hi,
When I add some rust code in suricata, it has conflict with multi impl derive PartialEq for u8.
The error message like this.
[code]

In suricata, enum defined like this.

[code]

and I use `serde_json` for parse json, but this library also impl derive `PartialEq<serde_json::Value>` for u8.

[code]

 So, how can I do in this scense? thanks a lot.

[2022-11-04 14:28] BoxyUwU commented on #65784
Oh I didn't realise there was an issue open for this..

[2022-11-04 14:41] aagolovanov commented on #103968
"help: try using a fully qualified path to specify the expected types"
Why don't you just follow compiler instructions?
https://cheats.rs/#control-flow (last point)

[2022-11-04 14:42] timrobertsdev commented on #103442
@rustbot claim

[2022-11-04 14:43] kennykerr commented on #58713
Anyway, for a code generator like [windows-rs](https://github.com/microsoft/windows-rs) I don't really have any strong objection. I would probably just hide the bifurcation behind a macro to reduce the overall size of the code gen, so I have no objection to continuing the stabilization process. The feature itself is marvelous.

[2022-11-04 15:11] laffer1 commented on #89058
Note that FreeBSD isn't the only consumer of the FreeBSD 11 "support" in rust.  MidnightBSD piggybacks off this since we've had trouble with upstreaming to LLVM.   The next major MidnightBSD release (3.0) should be compatible with FreeBSD 12 support, though.  I'd ask that you guys not drop FreeBSD 11 support until the beginning of next year, at least.  We should have a release out by then.

[2022-11-04 15:15] cuviper commented on #89058
RE waiting until next year -- If we merged this change *today*, it wouldn't reach stable until January 26.

https://forge.rust-lang.org/#current-release-versions

[2022-11-04 15:15] nikic commented on #103961
I expect the path of least resistance here would be to export two new functions from our FFI API to create the readonly and inaccessiblememonly attributes. Exposing MemoryEffects to the Rust side is likely not worthwhile at this point.

[2022-11-04 15:20] GuillaumeGomez commented on #74180
https://github.com/rust-lang/rust/pull/100429 and https://github.com/rust-lang/rust/pull/100775 added the finishing touch. I don't think it can be improved much further at this point. Closing then.

[2022-11-04 15:20] #74180 closed

[2022-11-04 15:53] BatmanAoD commented on #74990
@lopopolo We're ready for stabilization! Discussed here: https://rust-lang.zulipchat.com/#narrow/stream/210922-project-ffi-unwind/topic/weekly.20meeting/near/307806910

[2022-11-04 15:54] nikic commented on #103132
IR test case:
[code]

I'd generally expect CVP to handle this, but:
[code]
Apparently, LVI fails to determine the range of a value that is used inside a loop. Sinking the umin into loop.latch does fold.

There's two possible fixes here. One would be to support this in LVI. The other would be to add with.overflow support to SCCP.

[2022-11-04 16:28] Rageking8 commented on #103967
@rustbot label +T-compiler +F-impl_trait_in_fn_trait_return +requires-nightly

[2022-11-04 16:31] Rageking8 commented on #103963
@rustbot label +A-lint +C-feature-request

[2022-11-04 16:37] bewee-i opened #103973 "Linking static library that contains undefined references"
We have a library crate that links against a static C library that leaves some references undefined.
In our binary crate, we link against our library crate as well as against another static C library that defines these missing references.
However, ld won't find these symbols if the binary crate does not contain at least one reference to one of these symbols:

[code]

Is this intended and can someb

[2022-11-04 16:44] hgrahamcs commented on #103791
What would be the best way to go about adding an alternate suggestion? I'd like to try my hand at this.

What I think needs to be done is adding help text to `compiler/rustc_error_messages/locales/en-US/parser.ftl`,
add a variant to `compiler/rustc_parse/src/errors.rs IfExpressionMissingThenBlockSub`,
and then add something to `compiler/rustc_parse/src/parser/expr.rs in recover_block_from_conditio

[2022-11-04 16:54] est31 commented on #103476
Good point, you are right about `#[may_dangle]` I think. If you remove the unsafe from and `#[may_dangle]` from here it fails again (but works right now):

[code]

[2022-11-04 16:59] #103771 closed

[2022-11-04 16:59] #90852 closed

[2022-11-04 16:59] #103736 closed

[2022-11-04 17:00] oli-obk opened #103974 "change `mk_const` to take a ConstKind and Ty argument instead of writing out the ty::ConstS struct everywhere"
We keep repeating this, but it adds no helpful information for readers of the call site, it's just boilerplate and noise.

Steps:

1. change https://github.com/rust-lang/rust/blob/b66cf6fe168e10dcbfed4320a5e84c0c28eee814/compiler/rustc_middle/src/ty/context.rs#L2302 to use `mk_const_internal` instead of `mk_const`. This is what generates the current `mk_const` function.
2. Create a `mk_const` func

[2022-11-04 17:11] Yatekii opened #103976 "In 1.64 split-debuginfo = "unpacked" was ignored on Windows while in 1.65 it fails to build"
### Code

I tried this code:

[code]

I expected to see this happen: The compilation on windows succeds but does not actually use the feature.

Instead, this happened: The compilation on windows lets me know this feature is unavailable.

### Version it worked on

It most recently worked on: Rust 1.64

### Version with regression

`rustc --version --verbose`:
[code]

This is the `Cargo.toml` in que

[2022-11-04 18:51] ds84182 commented on #103821
This seems to work well for ZSTs.

[code]

Does not actually invoke the allocator. Instead returns a properly aligned dangling ref.

[2022-11-04 18:55] novafacing opened #103979 "Error with multiple large include_bytes! uses."
### Code

My code is [here](https://github.com/novafacing/qemu-rs.git). The error happens when just compiling the cloned repo with `cargo build`, and I'm not sure how to minimize it since the error comes from `include_bytes!`. Repro may need an `apt-get build-dep qemu && python3 -m pip install meson ninja` before it will compile to the point of the crash.

### Meta

`rustc --version --verbose`:
[c

[2022-11-04 19:00] epbuennig commented on #96944
It seems that this is fixed on `1.65`, so I wanted to find out when that happened and ran `cargo-bisect-rustc` (`0.6.4`) as described here:

and it error'd out on me with:
[code]
Just thought I'd mention that, I think this can be closed, but I couldn't say when or how it was fixed.

[2022-11-04 19:10] novafacing commented on #103979
Tagging on to this, I don't get a compile error for the following but if I uncomment the last constant initializer it does crash!

[code]

[2022-11-04 19:34] andersk commented on #62280
Perhaps also rename `OneSidedRange` to `UnboundedRange`, in that case?

[2022-11-04 19:36] nagisa commented on #31436
This construct would only really work if the error types are the same, or at least consistently conversible, across the stack of `try {}`-blocks. If they aren’t, such as would be the case with say `outer: Result<_, Box<dyn std::error::Error>>`, `b: Result<_, std::io::Error>` and `bar: fn() -> Result<_, std::fmt::Error>`, then propagating like this won’t always be straightforward.

It is true, thou

[2022-11-04 19:43] V0ldek commented on #103974
Hey, looks like a good issue for a first-time contributor, I can take this.

@rustbot claim

[2022-11-04 19:59] Ayush1325 commented on #97322
Closing it now since #99765 is already merged.

[2022-11-04 19:59] #97322 closed

[2022-11-04 20:17] CAD97 commented on #31436
The language team has already previously decided that `try` blocks do "`Ok`-wrapping", with the primary motivating example being `try { x? }` should noop through `Try` (modulo type inference).

<details><summary>desugar</summary>

[code]

-----
</details>

But there's an interesting question to ask w.r.t. labeled breaks:

[code]

Is the labeled break an "inner" or "outer" break?

[code]

Would it

[2022-11-04 20:19] nagisa opened #103981 "Labeled break outside of breakable frames says break cannot be used outside of a loop"
[code]

Will output the following diagnostics:

[code]

With `break` now supported  in conjunction with non-loop constructs, we should adjust this diagnostic accordingly. The wording here might be tricky, because something like

would go stale as soon as we add another thing/place you can break out of, and the wording in general reads awkward regardless...

[2022-11-04 20:22] nagisa opened #103982 "Suggest introducing a labeled block when `break` is used outside of a loop, but inside a block"
The following code:

[code]

will output a diagnostic like this:

[code]

No loops in scope here, but there is a possible change that could be made besides adding a loop – introducing labels and breaking out of the enclosing block.

This is a followup to https://github.com/rust-lang/rust/issues/103981

[2022-11-04 20:24] chadbrewbaker commented on #50655
I saw this made it into the rust CI via a shell script? Could it be made a little more friendly as a Cargo enhancement - or at least docs with a simple Rust crate?

[2022-11-04 20:26] Veykril opened #103983 "Lifetimes are parsed without errors when they occur in most `ExpressionWithBlock`s in front of the contained block expression"
I tried this code [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=dd6fa7838eb7dcf41642b8d87ace24d1):

[code]

I expected to see this happen: The compiler rejects all these expressions as the lifetimes are in a nonsensical position.

Instead, this happened: The compiler accepted the expressions without saying anything

### Meta

This behavior seems to occur sinc

[2022-11-04 20:29] Kobzol commented on #50655
I created https://github.com/Kobzol/cargo-pgo for this.

[2022-11-04 20:40] thomcc commented on #74990
Hey, I'm concerned about the fact that the current feature (and presumably the proposed stabilization) controls both the existence of the `"*-unwind"` ABI and whether or not the other ABIs are forbidden from unwinding or not (see https://github.com/rust-lang/rust/blob/15d7556de9babe4c1d8f367de1b827494782bd92/compiler/rustc_middle/src/ty/layout.rs#L1048-L1054).

If stabilized in this way, anybody u

[2022-11-04 20:45] compiler-errors commented on #103983
This very likely regressed in #92823, I'll put up a fix in like 30 mins.

[2022-11-04 20:45] compiler-errors commented on #103983
For the record --

Bisection points at:
found 9 bors merge commits in the specified range
  commit[0] 2022-02-27UTC: Auto merge of #94412 - scottmcm:cfg-out-miri-from-swap, r=oli-obk
  commit[1] 2022-02-27UTC: Auto merge of #94157 - erikdesjardins:more-noundef, r=nikic
  commit[2] 2022-02-28UTC: Auto merge of #94431 - matthiaskrgr:rollup-1jsj0wu, r=matthiaskrgr
  commit[3] 2022-02-28UTC: Auto merg

[2022-11-04 21:23] compiler-errors commented on #103981
(just my 2¢, but I actually think "cannot `break` outside of a loop or labeled block" is totally fine for now.)

[2022-11-04 21:40] Staninna commented on #100000
❤️🦀❤️

[2022-11-04 21:51] est31 commented on #103979
This will likely be fixed by #103812 . cc also #65818 .

[2022-11-04 22:24] #59122 closed

[2022-11-04 22:24] #103365 closed

[2022-11-04 22:24] #70492 closed

[2022-11-04 22:24] #103951 closed

[2022-11-04 22:24] #94077 closed

[2022-11-04 23:00] eminence commented on #35016
Another wrinkle is that the current behavior (as of rust 1.65 today) is not consistent between platforms.

Given this code:

[code]

This will work on Windows, but not Linux

[2022-11-05 00:46] V0ldek commented on #61405
This is already improved with a multipart suggestion in the nightly version.

[code]

Gives this diagnostic for `cargo +nightly check`:

[code]

Seems to have been done in #99258 by @estabank yourself, so this can probably be closed :)

[2022-11-05 01:03] Ralith commented on #31436
I think an "outer" break is much more useful here, as it will allow propagation of an error value from within nested blocks.

[2022-11-05 02:19] CAD97 commented on #31436
Note that [`yeet`](https://github.com/rust-lang/rust/issues/31436) is the experimental way of doing an inner break with the error type, and it makes sense that it should be able to be labeled. Assuming some form of `yeet` is accepted, then it does make some amount of sense to have `break` be an inner break, so we have the symmetry of

[code]

However, the gut reaction I have is that `break 'label

[2022-11-05 03:14] alexsunrise commented on #103968
How can I do this? all conflict code is not my, one from suricata in `rust/core`, another from `serde_json`.

[2022-11-05 04:01] #101896 closed

[2022-11-05 04:01] #103961 closed

[2022-11-05 04:01] #103974 closed

[2022-11-05 04:17] Rageking8 commented on #103983
@rustbot label +T-compiler +A-parser +A-lifetimes

[2022-11-05 04:58] SamRodri opened #103997 "Typo in docs causes ICE"
Using `cargo doc` in a crate with the following code causes an ICE.

### Code

[code]
Note that just ``/// [`foo`](Self)`` causes a different panic message.

### Meta

`rustc --version --verbose`:
[code]
also happens in nightly
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-05 08:07] rdwnsjjd opened #103999 "About last Rust release"
I know maybe this is not the place for this topic. But consider this as a problem that I introduce to your release and please accept it as an issue

I'm an Iranian person and of course fascinated by the Rust language!
we have been under the heaviest US and Western sanctions for 43 years.  The voices of children suffering from diseases like eb are repeated in our ears, but we can't do anything for

[2022-11-05 08:37] Rua commented on #82901
Is there anything blocking stabilisation of this?

[2022-11-05 10:29] Mark-Simulacrum commented on #103925
@craterbot run name=beta-1.66-1.1 start=1.65.0 end=beta-2022-11-01 mode=build-and-test cap-lints=warn crates=https://crater-reports.s3.amazonaws.com/beta-1.66-1/retry-regressed-list.txt

[2022-11-05 10:35] RalfJung commented on #63818
Indeed -- looks like this was never properly referenced here:
- in rustc this was part of https://github.com/rust-lang/rust/pull/82834
- in Miri: https://github.com/rust-lang/miri/pull/1952

@comex do you remember if we ever had an actual miscompilation example for self-referential generators based on that bad `noalias`?

[2022-11-05 10:43] #98832 closed

[2022-11-05 10:43] #103981 closed

[2022-11-05 12:20] RalfJung commented on #103763
I think this has been fixed by https://github.com/rust-lang/rust/pull/103567? The docs now clarify the semantics of `dyn Trait` comparisons.

[2022-11-05 12:31] RalfJung commented on #102844
https://github.com/rust-lang/rust/pull/102732 ended up not having to do this.

[2022-11-05 12:31] #102844 closed

[2022-11-05 12:34] anas-elgarhy commented on #100000
:heart::crab::heart:

[2022-11-05 12:47] oli-obk commented on #102403
So... basically const prop is unsound around floats?

[2022-11-05 12:49] RalfJung commented on #102403
The example is a CTFE bug, not a ConstProp bug.
Do we even do ConstProp on floats ourselves?

[2022-11-05 13:15] rib commented on #103763
From the `Arc::ptr_eq` docs I don't believe that the `ptr::eq` semantics regarding `dyn Trait` comparisons (or any wide pointers) are related to this issue because `Arc::ptr_eq` is not supposed to be comparing pointers to the wrapped values of each `Arc`.

So I think the clarification for how `ptr::eq` handles `dyn Trait` pointer comparisons is orthogonal to this issue.

It's only the current impl

[2022-11-05 13:30] Degra02 opened #104004 "Compiling errors when trying to build-std"
Hi, I'm trying to recompile the std for the "x86_64-unknown-none" target, but I'm getting some code-related errors at compile time:
Here's the command I run with the associated output:

[code]

Here's the output of `rustup show`
[code]

[2022-11-05 13:32] aliemjay opened #104005 "function type params are not checked for well-formedness"
This unsound program shouldn't compile, but it does: https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=2e0af084bc8b2ec9f440a2c5dab7992f
[code]

I was shocked discovering that. I thought `WellFormed(U)` is part of the caller bounds of  `extend_lt`.

@rustbot label C-bug T-types I-unsound A-lifetimes

[2022-11-05 13:39] RalfJung commented on #103763
That is your interpretation of the docs, but the docs also say that it works like `ptr::eq`, so it is very reasonable to assume that `Arc::ptr_eq(x, y)` is the exact same as `ptr::eq(Arc::as_ptr(x), Arc::as_ptr(y))`. In fact given the use of `eq` that would be reasonable to assume even if the docs did not explicitly mention `ptr::eq`.

This comment has already [gotten a reply almost 2 years ago](h

[2022-11-05 13:42] jyn514 commented on #103697
This happens because of a weird combination of features:
1. x setup uses the selected `config` path: https://github.com/rust-lang/rust/blob/452cf4f7109f58433ac38be7d3da527408571054/src/bootstrap/setup.rs#L85
2. bootstrap falls back to `{src_root}/config.toml` if there's no config.toml in the current directory, even if that file doesn't exist: https://github.com/rust-lang/rust/blob/452cf4f7109f5843

[2022-11-05 13:55] RalfJung commented on #90308
https://github.com/rust-lang/rust/pull/103752 found a small but non-zero number of crates that use set_env / remove_env is an unsafe block and thus would get no warning from a `deprecated_safe`.

I think at this point we have all the data and need to make a decision. That will certainly involve @rust-lang/libs-api and might require an RFC?

[2022-11-05 14:01] chenyukang commented on #103882
For code:
![image](https://user-images.githubusercontent.com/230646/200123582-d88f5853-7db1-4ba8-8666-412552763d71.png)

The line at 68 will also detected as not match, because of the `.`

[2022-11-05 14:02] chenyukang commented on #103882
Generally, I think in practice, use indentation width for detecting possible mismatch position is not good.

Give a wrong tip will make user spent more time to find the root cause.

[2022-11-05 14:06] aliemjay commented on #104005
So this is a MIR borrowck bug because it regressed in v1.36 when it was enabled on 2015 edition.
@rustbot label regression-from-stable-to-stable

Remarkably adding type annotation to call site
[code]
makes it not compiling because user annotations are always checked for well-formedness.

[2022-11-05 14:09] jyn514 commented on #103785
Ok, I confirmed that rustdoc only creates JSON files with --output-format json:
[code]
So it should be enough to only copy .json files when passed --json, and only non-json files when it's not passed.

We should also add a test that `x doc && x doc --json` produces the same output in json-doc as `x doc --json`, to avoid a regression if rustdoc starts emitting JSON files in the default HTML format.

[2022-11-05 14:12] oli-obk commented on #104005
cc @lcnr

[2022-11-05 14:31] RalfJung commented on #63818
https://github.com/rust-lang/rfcs/pull/3336 offers another avenue for resolving this issue properly -- by re-defining `Pin<T>` as a newtype of `MaybeDangling<T>`, which gets rid of the `noalias` annotations.

[2022-11-05 14:41] jyn514 commented on #101691
@chenyukang do you know when you'll have a chance to follow up here? If you're not planning to follow up, can you please release your assignment on the issue?

[2022-11-05 14:46] jyn514 commented on #103606
I don't know the history of this option. @jonhoo @mati865 why would you ever want to turn it on, given that it requires you to have an extra dependency turned on?

@kubycsolutions I think adding a note to the readme that you need the dependency is a good change in the meantime.

[2022-11-05 14:54] jyn514 opened #104008 "Add internal documentation for all queries"
Currently, queries are inconsistently documented. Some have a doc-comment: https://github.com/rust-lang/rust/blob/b0f3940c35d565399dccf8c79f38147b40f2724a/compiler/rustc_middle/src/query/mod.rs#L38-L44
while others only have the `desc` we mandate in the proc-macro: https://github.com/rust-lang/rust/blob/b0f3940c35d565399dccf8c79f38147b40f2724a/compiler/rustc_middle/src/query/mod.rs#L26-L30
We shou

[2022-11-05 14:56] Nilstrieb commented on #104008
`#[warn(missing_docs)]` isn't quite enough, we'd also need to remove this default here:
https://github.com/rust-lang/rust/blob/b0f3940c35d565399dccf8c79f38147b40f2724a/compiler/rustc_macros/src/query.rs#L235-L236

[2022-11-05 15:05] ciphergoth commented on #31436
`break` from labeled blocks doesn't add any new issues here: if you know how the semantics of `try` interacts with `break` from labeled loops, then the semantics for labeled blocks follow.

[2022-11-05 15:08] mati865 commented on #103606
It's useful for dist builds because with that option disabled your binaries will depend on compatible libstdc++. Which might be hard to supply when building rustc for other system.
For local development I think there is no visible differences (there might be 1% perf improvement with static lib but it doesn't really matter).

[2022-11-05 15:08] jyn514 commented on #102299
It sounds like this is avoidable using --remap-path-prefix, so I'm going to close this issue.

The issue tracker is not a support forum. For future questions please ask in one of these places:

https://discord.gg/rust-lang/
https://discord.gg/rust-lang-community/
https://users.rust-lang.org/
https://rust-lang.zulipchat.com/

[2022-11-05 15:08] #102299 closed

[2022-11-05 15:15] RalfJung commented on #63818
From [the plan discussed with the lang team years ago](https://github.com/rust-lang/rust/issues/63818#issuecomment-526579977):

Discussion with @digama0 uncovered that there is a problem with this plan -- to `&mut T` must still always be non-overlapping to make sure that functions like `mem::swap` are sound. So even if we had a way for some mutable references to opt-out of `noalias`, we still coul

[2022-11-05 15:16] aliemjay commented on #104005
A case that regressed with full NLL in v1.63 - it was rejected by the HIR borrowck:
[code]

[2022-11-05 15:27] chenyukang commented on #101691
Sorry, I didn't follow this item recently.
Ok, release it now.

[2022-11-05 15:28] rib commented on #103763
Right, my interpretation has always been that it does a thin pointer comparison for the backing storage allocation and so I was surprised to see a Clippy warning showing that that's not what the current implementation does and then worried about the implications of other interpretations on the correctness of my code.

I (personally) saw no inconsistency / conflict with the docs saying that the fun

[2022-11-05 15:33] aliemjay commented on #104005
I'd argue that this should be rejected as well:
[code]

This is necessary to fix #98852 in a sound way. At this point we should basically WF-check all fn item substs.

[2022-11-05 15:36] jyn514 opened #104011 "Document query internals"
`rustc_query_impl` and `rustc_query_system` are *complicated*. We should have a document somewhere that explains how they work internally.

We used to have a very short sketch of that in the dev-guide, but it was removed in https://github.com/rust-lang/rustc-dev-guide/pull/1483/commits/552de587a740d388a48726fe427b9c690927c79c because it wasn't clear that it was an implementation detail and not use

[2022-11-05 15:42] jyn514 commented on #103606
Ok, cool. Sounds like we should disable it by default and reenable it in dist builders. @kubycsolutions are you interested in making that change? :)

Mentoring instructions:
- remove https://github.com/rust-lang/rust/blob/b0f3940c35d565399dccf8c79f38147b40f2724a/src/bootstrap/config.rs#L784
- flip https://github.com/rust-lang/rust/blob/b0f3940c35d565399dccf8c79f38147b40f2724a/config.toml.example#L

[2022-11-05 15:46] chenyukang commented on #103882
@rustbot claim

[2022-11-05 16:33] rib commented on #103763
This is interesting for sure.

(Personally) I find that the updated documentation from https://github.com/rust-lang/rust/pull/103567 is more confusing for me. To me the initial statement of what `Arc::ptr_eq` does implies that no clarification about how `ptr::eq` handles wide pointers etc is necessary - so then it's extra confusing that there is now an added warning. It raises doubt over what "all

[2022-11-05 16:33] #103751 closed

[2022-11-05 16:33] crlf0710 commented on #103968
This is just a type inference failure. You can write something like:
[code]
instead.

[2022-11-05 16:40] rodrigorc commented on #81513
Is there any proper way to get the metadata of a dyn object without having an actual object of that type?

Currently I'm doing this ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=84ed412519a162cb60aa95533f924a21)):

[code]
and it seems to work perfectly fine, but it is not clear to me if this is allowed.

[2022-11-05 16:45] nicholasbishop commented on #96793
I tested the code above on `x86_64-unknown-uefi` and it seems to be compiling and linking successfully now (it was broken until the 2022-11-02 nightly). I think https://github.com/rust-lang/rust/pull/103061 fixed it.

For the two most recent comments, I would suggest retesting with the current nightly. If it is still reproing, you might want to file a new bug with full repro steps, since the origi

[2022-11-05 16:49] zhenpingfeng commented on #103932
[code]

the compiler generate the wrong parameter with split-debuginfo=... , its should be split-debuginfo=off or sth that works.
how do I fix this, I can't build things in the release now.

[2022-11-05 16:50] BurntSushi commented on #101840
@thomcc I can't make heads or tails of the `@missing` declarations. From what I can tell, they're mainly being used to apply property values to... unassigned codepoints? Just looking at the diff between Unicode 14 and 15 for `extracted/DerivedBidiClass.txt`, this text was removed from 14 and replaced with `@missing` declarations in 15:

[code]

So it seems to me like parsers of UCD that ignore `@m

[2022-11-05 16:56] kubycsolutions commented on #103606
Soitenly. Expect pull request a bit later.  I need to check your practice -- fork first, or for something this simple just submit PR? (Most projects prefer fork. I tend to cheat on my own.)

[2022-11-05 16:58] cuviper commented on #81513
Even `ptr::null::<T>() as *const D` works. That's all safe code, so if we wanted to disallow that, we would need to change the API to reflect the restriction... But I think it's fine.

[2022-11-05 17:02] kubycsolutions commented on #103606
On my box, ` RUST_CONFIGURE_ARGS="$RUST_CONFIGURE_ARGS --set rust.codegen-units-std=1" ` seems to already be present.

[2022-11-05 17:05] 0xchase commented on #63063
Now that GATs have been stabilized, I hope that stabilizing this is on the horizon

[2022-11-05 17:11] cuviper commented on #81513
I suppose we could also say that the unsafe `from_raw_parts` is not allowed to use metadata which was manifested that way, just as that must be responsible for safely-created bogus pointers. I'm not sure there's any real hazard here though.

[2022-11-05 17:31] novafacing commented on #103979
Looks like #103812 will solve this, so I'll declutter and close this issue. Turned on notifications for that PR and I'll reopen after it is merged if this is in fact a separate bug.

[2022-11-05 17:31] #103979 closed

[2022-11-05 17:45] rodrigorc commented on #81513
@cuviper It's not about the safety of my `anonymous_metadata()` implementation but about its usefulness. I find that the returned metadata is what I expected and usable, but I don't think that this is guaranteed by the wording of this issue.

Ideally, instead (or in addition to) such a guarantee I'd better like a function like this `anonymous_metadata()` from `std` itself, so I don't need to write

[2022-11-05 17:47] Manishearth commented on #101840
I have some guesses as to what the answer is but I don't want to say something incorrect, so I've just asked these questions to the Unicode people.

[2022-11-05 17:52] ted-tanner commented on #103697
This seems like an easy first issue (@jyn514 has all but fixed the issue already). May I be assigned to this one?

[2022-11-05 17:57] SimonSapin commented on #81513
For all current impls of `Unsize`, the pointer metadata for `D` can be derived from `T` alone and is independent of the value, so this is fine. In the future the language could have custom DSTs with more "kinds" of `Unsize` impls, but I don’t know if it would make sense for them to be value-dependent.

[2022-11-05 17:58] jyn514 commented on #103697
@ted-tanner go for it :)

[2022-11-05 18:20] CAD97 commented on #31436
In a strict sense this is true, as you can't label a `try` block currently. But it's a logical extension to labeled block break to ask why it can't be done on `try` blocks (and the answer is likely exactly this ambiguity between inner and outer break).

[2022-11-05 18:24] kpreid commented on #103976
I hit this in my CI too.

Here are some other (not Windows-specific) reports of new failures when using `split-debuginfo`: #100657, #103932

[2022-11-05 18:54] dis-da-moe commented on #42849
@rustbot claim

[2022-11-05 19:11] khuey commented on #96438
This is getting better, still seems like the compiler could figure out that as_mut is needed though.

[code]

[2022-11-05 19:29] ted-tanner commented on #103697
@jyn514, these lines seem to indicate to me that {src_root} is chosen intentionally as the default location for the config.toml:

https://github.com/rust-lang/rust/blob/452cf4f7109f58433ac38be7d3da527408571054/src/bootstrap/config.rs#L922-L924

These lines appeared in commit 4d56f09650a, with the following commit message: "Fallback to top-level config.toml if not present in current directory." By

[2022-11-05 19:32] rjzak opened #104021 "`rustc` crash trying to compile `p384` for Wasi on ppc64le"
I tried this code:
* Compiling a project (https://github.com/profianinc/steward/), which uses the `p384` crate for `wasm32-wasi` on `powerpc64le-unknown-linux-gnu`.

I expected to see this happen:
* Compiling for `powerpc64le-unknown-linux-gnu` works fine.
* Compiling for `x86_64-unknown-linux-gnu` and `wasm32-wasi` from `x86_64-unknown-linux-gnu` also works fine.
* This code compiles fine in a PR

[2022-11-05 19:40] Darksonn commented on #63818
It seems to me that making `Pin` special would not work. Pin projections generally unwrap the `Pin` to get out the mutable reference inside, so any time you project onto a field, you assert unique ownership of the self-referential struct, invalidating the internal pointers.

[2022-11-05 19:42] metasim commented on #63063
@ibraheemdev:

Can you explain what the difference is? I also have @lijiaqigreat's assumed understanding of what's being proposed.

For example, does this:

[code]

desugar to this?:

[code]

...or desugar to this?:

[code]

[2022-11-05 19:48] jyn514 commented on #103697
@ted-tanner it's intentional that we *load* the config.toml from there. but if it's not present at that path, it's not intentional that we *create* a config.toml there.

[2022-11-05 19:48] kubycsolutions commented on #103606
Might be overkill for this, but for future reference: What's the recommended smoketest before a PR against rust? (I know the compiler built, and I believe the change is correct, but... (Belt, suspenders, helium balloons, drones.)

[2022-11-05 19:50] jyn514 commented on #103606
@kubycsolutions `x test tidy` is a good smoke test, or if you're refactoring code, `x check`.

[2022-11-05 19:51] kubycsolutions commented on #103606
Good 'nuff.

[2022-11-05 19:56] sagebind commented on #63063
@metasim Neither, as this isn't just syntax sugar. You can think of it as working like this:

[code]

This is equivalent to this:

[code]

with the exception that anyone using the name `Foo` is only allowed to use features of the `Debug` trait, and is not allowed to assume that `Foo` and `i32` are actually the same. Only the interior of `bar` is allowed to do anything that assumes that `Foo` is ac

[2022-11-05 20:07] ehuss commented on #103932
cc @davidtwco or @michaelwoerister in case this didn't hit your radar.

The reproduction is:

[code]

with the error:

[code]

From what I can tell, the archiver is expecting a `.dwo` file to exist (added around [here](https://github.com/rust-lang/rust/blob/6b8d9dd0a09851b3e4f400ddd1303857945be25d/compiler/rustc_codegen_ssa/src/back/link.rs#L319-L321)). AFAIK, that doesn't make sense with a bitcod

[2022-11-05 20:24] ted-tanner commented on #103697
@jyn514 Thanks for the clarification!

[2022-11-05 20:25] jyn514 commented on #101070
@Veykril I can't get this working. I have in .vscode/settings.json:
[code]
which fails to find x.py:
[code]

If I disable `checkOnSave` it does seem to work ok, though. Maybe the options you added need to be global instead of specific to build scripts?

[2022-11-05 20:39] #98413 closed

[2022-11-05 20:39] #103909 closed

[2022-11-05 20:40] Veykril commented on #101070
You'll need to set
[code]
The reason I didn't add those to the dev guide is that you won't get diagnostics for linked projects anyways until `x.py` changes the paths in its output to be relative to the project root or https://github.com/rust-lang/cargo/issues/11007 is fixed. Otherwise r-a will not be able to deduce the correct files for the diagnostics as they are relative to the Cargo.toml of the

[2022-11-05 20:41] thomcc commented on #101840
I'd like to hear back from @Manishearth's contacts in case I'm mistaken (or missing some detail), but I'm confident I know what they're for, and have thoughts on them in the context of a low level library like `ucd-parse`.

These exist because several of the tables do already require special handling for missing values, but it's not usable in a programmatic manner and needs hard-coding. I believe

[2022-11-05 21:07] RalfJung commented on #63818
@Darksonn yeah you are probably right ([Zulip discussion here](https://rust-lang.zulipchat.com/#narrow/stream/136281-t-lang.2Fwg-unsafe-code-guidelines/topic/UnsafeCellMut/near/308177763)).

[2022-11-05 21:08] kpreid opened #104025 "False E0644 closure/generator type that references itself; new in nightly-2022-11-05"
I tried this code with `cargo +nightly-2022-11-05 check`:

[code]

I expected to see this happen: successful compilation

Instead, this happened:

[code]

It compiles successfully with the preceding nightly, `cargo +nightly-2022-11-04 check`, and stable 1.65.0.

### Meta

`rustc --version --verbose`:
[code]

To be clear, this is the nightly I installed with `rustup install nightly-2022-11-05`. I a

[2022-11-05 21:24] kubycsolutions commented on #103606
Darn it, I spent plenty of time in github not that long ago and it's swapped out...

Tried a pull request from my fork. The system told me, quite correctly, that I'd somehow dropped a quote. Fixed that,

Can I restart the automatic checks, or do I need to cancel the pull request? (It won't let me submit a new one while this one is open.)

[2022-11-05 23:20] #74727 closed

[2022-11-05 23:31] marmeladema commented on #103932
Should this issue be marked as a stable-to-stable regression?

[2022-11-05 23:48] Trolldemorted opened #104031 "const Mutex<T> never makes sense, and therefore should raise a warning (or an error)"
Given the following code:

[code]

The current output is:

[code]

The const expression causes every site to have their own `Mutex<T>`, which never makes any sense. Imho this should raise a warning, or even an error.

[2022-11-05 23:56] CraftSpider commented on #104031
I'd vote for warning, as I've seen some situations, such as generics and traits, where things like `const DEFAULT: Self` are used, and you do in fact want the 'new instance on use' behavior. On the other hand, I think a warning would be useful for this case, as it's often a mistake.

[2022-11-06 00:02] stepancheg opened #104033 "Suboptimal code generation for thread_local!"
Code:

[code]

Emits:

[code]

([Compiler explorer](https://rust.godbolt.org/z/5aMMPKe6z))

Here default path (when thread-local is initialized) is after the jump to `LBB1_3`.

The issue seems to be missing `#[cold]` annotation in `register_dtor` function or missing `likely(STATE == 1)`:

https://github.com/rust-lang/rust/blob/1286ee23e4e2dec8c1696d3d76c6b26d97bbcf82/library/std/src/thread/local.r

[2022-11-06 00:18] BGR360 opened #104034 "`#[feature(exhaustive_patterns)]` thinks irrefutable pattern is refutable when enum contains struct with private fields."
The following code compiles on nightly ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=55ac489a6a9fcd1189f52d4d2c254e94)):

[code]

But if the wrapper type is moved into a module to make the field private, then it does not: ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=81d51fa51530ad29918e0d6e078c3070)):

[code]

[code

[2022-11-06 00:19] BGR360 commented on #104033
@rustbot label +I-slow +T-compiler

[2022-11-06 00:56] matthiaskrgr commented on #90191
Seems to be fixed in nightly `rustc 1.67.0-nightly (09508489e 2022-11-04)` with debug assertions

[2022-11-06 00:58] matthiaskrgr commented on #90192
Seems to be fixed in nightly

[2022-11-06 01:01] BGR360 commented on #103911
Is this related to / will this address https://github.com/rust-lang/rust/issues/90665#issuecomment-1246260554?

[2022-11-06 01:03] BGR360 commented on #103869
Do you have any suggestion for how the compiler should distinguish between "trying to write an enum with struct syntax" and "trying to write a struct but used the enum keyword"?

[2022-11-06 01:04] BGR360 commented on #103853
This would be awesome.

[2022-11-06 01:47] compiler-errors commented on #104025
This was introduced by me in #101834 -- I'll put up a fix soon.

[2022-11-06 01:47] matthiaskrgr opened #104037 "LLVM ERROR: "Vector elements must have same size" with -Zmir-opt-level=3"
### Code

You may need a debug build of llvm to reproduce this.
Interestingly this only triggers with mir-opt-level `3` but not with `2`.

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc  -Copt-level=3 103380.rs`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-06 02:20] schungx commented on #31436
I am wondering: would there also be support of a `finally` block?

It would be super handy for restoring states, like this:

[code]

[2022-11-06 02:28] semiviral opened #104039 "`Box` documentation regarding allocation for ZSTs"
### Location

https://github.com/rust-lang/rust/blob/master/library/alloc/src/boxed.rs#L205
https://github.com/rust-lang/rust/blob/master/library/alloc/src/boxed.rs#L293
https://github.com/rust-lang/rust/blob/master/library/alloc/src/boxed.rs#L366
https://github.com/rust-lang/rust/blob/master/library/alloc/src/boxed.rs#L396

### Summary

In the provided locations for documentation of various `Box`

[2022-11-06 02:36] Manishearth commented on #101840
TLDR: they make the files more maintainable and easier to read comments for

[2022-11-06 03:14] cmpute commented on #91399
What are the common usages for these two functions? I met a use case, that is to parse a float into a rational number with simpler form, which requires me to get the rounding interval. This can be done using these two functions.

Is there anybody actually enumerating floats like this? In my case it's okay to document the behavior that the function will skip subnormals in certain platforms.

(Note:

[2022-11-06 03:39] matthiaskrgr opened #104040 "ICE: feat(generic_const_exprs) + debug assertions"
### Code

Needs rust built with debug assertions!

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./102124.rs  "-Zcrate-attr=feature(generic_const_exprs)"  -Zunstable-options`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-06 03:39] matthiaskrgr commented on #104040
thread 'rustc' panicked at 'assertion failed: `(left == right)`
  left: `Binder(<Printer as Print<L>>, [])`,
 right: `Binder(<Printer as Print<4>>, [])`', compiler/rustc_trait_selection/src/traits/codegen.rs:28:5
stack backtrace:
   0:     0x7f31294f283e - std::backtrace_rs::backtrace::libunwind::trace::hb662729bd9790647
                               at /home/matthias/vcs/github/rust_debug_assert

[2022-11-06 03:43] matthiaskrgr commented on #104040
another example:
[code]

[2022-11-06 04:19] Mythra opened #104042 "Failure to build crates with `split-debuginfo = "packed"`, and `lto = "fat"`"
I tried to build my codebase with the following, profile:

[code]

I expected to see this happen: to be able to build the binary, with debug info being split out.

Instead, this happened, I got an error:

[code]

### Meta

`rustc --version --verbose`:
[code]

I tried on beta (output is the same):
`rustup run beta rustc --version --verbose`:

[code]

I also tried running on nightly (output is the s

[2022-11-06 04:44] #103999 closed

[2022-11-06 05:19] khuey commented on #50323
This went away at some point, yeah.

[2022-11-06 05:19] #50323 closed

[2022-11-06 05:25] typedrat commented on #58533
What work would need to be done to help move this forward? Is it a matter of process that I can't contribute to as an outsider, or what exactly is the current blocker?

[2022-11-06 09:13] #99245 closed

[2022-11-06 09:38] fee1-dead opened #104044 "min_const_generics infers the wrong type depending on trait bounds in scope"
I tried this code: [play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0a417bcc3bacbd5e40451eae65c43ce6)

[code]

I expected to see this happen: successfully compiles

Instead, this happened: compiler errors

[code]

If I uncomment the `+ UsizeBool<1>` bound, it would compile successfully.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summa

[2022-11-06 09:45] LukeMathWalker commented on #103785
I can't jump on it immediately, but I should be able to follow up in a couple of weeks 👍

[2022-11-06 10:12] nikic commented on #104037
This is likely the same issue as https://github.com/llvm/llvm-project/issues/58722.

[2022-11-06 10:13] liquidev commented on #31436
@schungx wouldn't that be possible by using a plain old `if` expression after the `try`?
[code]
Arguably this is a little more verbose but I think it reads more clearly than `finally`, which you have to be familiar with to understand what it does; the `if let` version just reads as "if the operation failed, revert all modified state."

[2022-11-06 10:15] matthiaskrgr commented on #104037
Probably :) , I looked for the assertion message in the rustc issue tracker but couldn't find anything related :sweat_smile:

[2022-11-06 10:35] Zoybean opened #104049 "ICE when running `x.py check` on rust source"
Unfortunately, I'm not sure what an MRE for this would look like, as I was recompiling the standard library.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

Just in case there's something useful buried in the warnings or elsewhere in the output:
<details><summary><strong>Full compiler out

[2022-11-06 11:22] Wyvern opened #104050 "`#![no_main]` & empty `main fn` makes test run fail unconditionally"
[code]

[code]

https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=7cf70fdc5b46dde52751bdd3a0f89a57

If add some code to main fn, such as `dbg!();`; then test can run normally without problem.

[2022-11-06 11:23] #103816 closed

[2022-11-06 11:23] #102806 closed

[2022-11-06 12:37] matthiaskrgr commented on #104040
another one
[code]

[2022-11-06 12:40] Taaitaaiger opened #104053 "A new thread is created for each test even if --test-threads=1"
With nightly Rust, tests are run on separate threads even if  --test-threads=1. It seems that a new thread is created for each test now, while they were previously run on the main thread if --test-threads=1. This breaks testing for jlrs, which depends on all tests running on the same thread. The underlying reason for this is that Julia can only be initialized once during a process's lifetime, and

[2022-11-06 13:20] Taaitaaiger commented on #104053
This is probably due to #103681

[2022-11-06 13:23] schungx commented on #31436
Well, actually the `finally` block runs regardless of whether it is an error or not.  So it is as simple as:

[code]

It is not difficult at all, but those `result`s do get tedious once you have more than one of them:

[code]

[2022-11-06 13:34] Degra02 commented on #104004
Fixed the problem.
I had installed rust through the pacman packet manager, specifically via the `rust` package.
Uninstalling everything and reinstalling through the "rustup way" removed the errors.

[2022-11-06 13:34] #104004 closed

[2022-11-06 13:42] SkiFire13 commented on #104031
I wouldn't go as far as to say that a `const` `Mutex` doesn't make sense. AFAIK it's still the only way to `const` initialize an array of more than 32 or a const generic number of `Mutex`es. That is, `[Mutex::new(0); N]` doesn't work, but `const INIT: Mutex<i32> = 0; [INIT; N]` does.

Also, the example shown in the OP works because of the `let foo = &FOO;`, which is already kind of weird. Notably,

[2022-11-06 13:52] epbuennig commented on #31436
What about:
[code]

[2022-11-06 14:09] ehuss commented on #104042
Thanks for the report!  This has been reported earlier, closing as a duplicate of #103932.

[2022-11-06 14:09] #104042 closed

[2022-11-06 14:23] schungx commented on #31436
That would work... at the expense of an additional variable.

But it removes the need to constantly having to remember not to use `?` anywhere otherwise it jumps out prematurely without the chance to restore the state.

[2022-11-06 14:27] epbuennig commented on #31436
Well, you'd notice as soon as you try to use `res: Try`, if you put the `?` behind the block you'd then have `res: Try::Output`, so the type checking would probably solve the issue of accidentally using `?` where you didn't mean to.

[2022-11-06 14:40] sfackler commented on #104031
Clippy already has a lint that covers this.

[2022-11-06 15:21] benkay86 commented on #31436
IMHO Rust should not support a `finally` block, or at least it should be a separate RFC. Python has a `finally` and `with` blocks because the garbage collector cannot be relied upon to call destructors at a predictable time. Object destruction in Rust's memory model is predictable, so we can use the RAII principle to create a guard object whose `Drop` method will restore the original state. This i

[2022-11-06 15:37] piegamesde commented on #31436
What are the common idioms for combining `try` with other language error handling features?

- `match try {} {}` to directly handle the result
   - This may look a bit weird over multiple lines
   - This can be avoided with a temporary variable, but not sure if that's better
- `try {}.expect("error")` to be able to not-handle errors while also not having to `unwrap()` everywhere
- `try {}.context(

[2022-11-06 15:50] rustonaut commented on #31436
Given that `try` very often (nearly always?) needs type annotations I would say assigning the result to a local variable and then continuing with whatever you do is the most readable.

There is no reason in rust to avoid some additional variable assignments (in difference to e.g. C++).

In case of `context` due to needing type annotations you probably would use `.map_err(|err: Annotation| err.cont

[2022-11-06 15:56] Mythra commented on #104042
Thanks, I had seen that , but wasn't quite sure. Sorry for the dupe!

[2022-11-06 15:56] rustonaut commented on #31436
[code]

is reasonable readable I think.

`map_err` also looks surprising okay I think:

[code]

[2022-11-06 16:00] H4x5 commented on #98407
Hi! I've submitted PR #104057, with a few small changes:
- Added `rustc_const_unstable` attributes on the const fns.
  - `into_inner` is gated under `const_exclusive_into_inner`, and is blocked on const drop.
  - `{get,from}_{mut,pin_mut}` is gated under `const_exclusive_get_mut`, and is blocked on `const_mut_refs`.
- The From impl is now unstably const under `const_convert`, for consistency with

[2022-11-06 16:03] cuviper commented on #31436
[Postfix match](https://github.com/rust-lang/rfcs/pull/3295) could also come into play here, `try {...}.match{...}`, but it's not clear if that has a future.

[2022-11-06 16:08] #102679 closed

[2022-11-06 16:54] onestacked opened #104061 "Tracking Issue for Hashing in const context"
Feature gate: `#![feature(const_hash)]`

This is a tracking issue for constructing "hashers" in const conext.

### Public API

[code]

### Steps / History

- [x] Implementation: #104060
- [ ] Final comment period (FCP)[^1]
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[^1]: https://std-dev-guide.rust-lang.org/feature-lifecycle/stabilization.html

[2022-11-06 17:03] mqudsi commented on #95174
I use this with `&'static str` const generics to optimize a parser via compile-time generic constants passing in `&'static str` values to mark values that should be consumed in a user-friendly way.

[2022-11-06 17:09] kubycsolutions commented on #103606
Question: When building under WSL/fedora, I'm seeing the warning
[code]
Expected, or did I miss a setup step?

(I'd assume the latter, but the C++ code throws a lot of warnings while compiling so I'm not expecting a 100% warning-free build.)

[2022-11-06 17:11] Jules-Bertholet commented on #56105
[code]

The code above triggers the `coherence_leak_check` lint. Is that intentional? If I understand correctly, `impl Test for for<'a> fn(&'a u8) { }` would become `impl Test for fn(&'empty u8) { }`.  `'empty` is a different lifetime than `'static`, so I don't think thses impls overlap?

[2022-11-06 17:18] jackh726 commented on #104005
https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23104005.20function.20type.20params.20are.20not.20checked.20for.20well-forme.E2.80.A6/near/308263767

[2022-11-06 17:30] jmintb commented on #102251
I would like to have a crack at this issue :)

[2022-11-06 17:33] kubycsolutions commented on #103606
Currently getting following from PR checking. Looking into why.

   File "/checkout/src/bootstrap/configure.py", line 469, in <module>
    configure_section(sections[section_key], section_config)
  File "/checkout/src/bootstrap/configure.py", line 457, in configure_section
    raise RuntimeError("failed to find config line for {}".format(key))
RuntimeError: failed to find config line for static-st

[2022-11-06 17:48] kubycsolutions commented on #103606
Another beginner question: The compiler called me out on formatting (tab character). Thought I'd just run `cargo fmt` over the whole project on general principles. It's giving me the following two warnings. Expected?

```Warning: can't set `version = Two`, unstable features are only available in nightly channel.
Warning: can't set `ignore = IgnoreList { path_set: {"compiler/rustc_codegen_cranelift

[2022-11-06 18:35] kubycsolutions commented on #103606
Autocheck is still failing, and I'm not sure what's causing the issue:

[code]

[2022-11-06 18:58] TimNN commented on #86730
Would a lint that triggers whenever an `:expr` matcher does not match a `const { ... }` be maybe sufficient to allow stabilizing `inline_const`?

That wouldn't change the behavior of existing macros and the behavior for existing macros is reasonable, IMO:

If a macro currently has rules that explicitly match `const $x:expr` then:
* The macro author can silence the lint by ensuring that any rules m

[2022-11-06 19:13] compiler-errors commented on #104044
Possibly/probably related: https://github.com/rust-lang/rust/issues/103741

[2022-11-06 19:15] H4x5 commented on #91285
Now that GATs are stable, would it be possible to move the generic to the associated type? It would eliminate the need for `ChangeOutputType` and simplify usage.

[code]

[code]

[code]

[2022-11-06 19:20] LukeMathWalker opened #104064 "[Rustdoc JSON] Primitive types in `core` are missing from the index"
## The issue

The id for `i32` in the JSON documentation generated for `core` is `0:79316:78663`.
It appears in the `path`:

[code]

but it is not present in the `index`, although it's referenced in the `links` section for many other items.
The same happens to the other primitives I checked - e.g. `i64` (`0:79317:78665`) or `char` (`0:79294:78252`).

## How to reproduce

Add the `rust-docs-json` c

[2022-11-06 19:20] LukeMathWalker commented on #104064
@rustbot modify labels: +A-rustdoc-json +T-rustdoc

[2022-11-06 19:53] jyn514 commented on #103606
@kubycsolutions I suggest posting questions about how to implement your change on https://rust-lang.zulipchat.com/#narrow/stream/326414-t-infra.2Fbootstrap, Github is annoying to use for conversations.

That said, I think your problem here is that the key is named `static-libstdcpp`, not `static-stdcpp` like you have in the docker file.

[2022-11-06 20:25] vojtechkral commented on #81513
@SimonSapin weren't there cases where vtable pointer for a dyn trait could be different based on where the corecion was performed?

[2022-11-06 20:30] SimonSapin commented on #81513
Yes, across codegen units the vtable may be generated multiple times and different metadata (vtable pointers) could exist. But they’re all correct for any value of type `T`. So while [`==` may give surprising results](https://github.com/rust-lang/rust/issues/69757), `ptr::from_raw_parts` will work fine.

[2022-11-06 20:40] Jules-Bertholet commented on #56105
For `wasm-bindgen`: with negative impls integrated into coherence, would
[code]
resolve the issue?

[2022-11-06 20:44] cuviper commented on #104031
This is a duplicate of #40543 -- and recently there's a suggesting to uplift the lint from clippy.

[2022-11-06 20:44] #104031 closed

[2022-11-06 20:49] BatmanAoD commented on #74990
As I mentioned in Zulip [in Zulip](https://rust-lang.zulipchat.com/#narrow/stream/210922-project-ffi-unwind/topic/weekly.20meeting), I'm okay with breaking this into two features and stabilizing them separately, but I don't know who would need to sign off on that decision.

[2022-11-06 20:55] #99820 closed

[2022-11-06 20:57] cuviper opened #104069 "Need a lifetime hint for E0409 "variable is bound inconsistently""
From https://users.rust-lang.org/t/how-to-match-t-and-t-in-the-same-arm/83835

Given the following code: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=720f081ede76833bd2299d7eecfb7dbd)

[code]

The current output is:

[code]

The cause of the error is a lifetime difference, where `B(ref t)` binds `&'_ T` (for some local lifetime) and `C(t)` binds `&'static T`

[2022-11-06 21:11] cuviper commented on #104069
Actually, now that I've re-read the [E0409](https://doc.rust-lang.org/nightly/error-index.html#E0409) help, is it actually insisting on having `ref` in all the same places, _regardless_ of lifetime? Then I'm not sure what the hint should be, but it was confusing to the user -- "isn't `t` bound to an `&T` in both cases?" I suppose the error could be more explicit, "this one has `ref` and this one d

[2022-11-06 21:38] Kixiron opened #104071 "Incorrect trait bounds suggestion with derive macros"
Given the following code:

[Commit](https://github.com/Kixiron/database-stream-processor/blob/b3d2e819c69305f93c3eb174dcd5aaace76072fc/src/trace/ord/indexed_zset_batch.rs#L314)

The current output is:

[code]

Which has some weird suggestions, mainly `#[derive(SizeOf, &'a R: for<'a> Neg)]`. Additionally, the "alternative better way" of "but there might be an alternative better way to express this

[2022-11-06 21:38] SBeausoleil commented on #40065
The workaround does not work on Windows however.

[2022-11-06 21:40] metasim commented on #63063
@sagebind 🙏

[2022-11-06 21:48] SBeausoleil opened #104072 "[BUG] cargo test --doc may create tests in noexec folder on Windows"
Reopening: https://github.com/rust-lang/rust/issues/40065
The issue was closed because there is an "easy fix", however said easy fix does not work on Windows.

# Issue
It is impossible to run `cargo test --doc` on Windows in some environments (particularly corporate environments with tight security). Doctests are created in the default tmp folder for the active user, however said tmp folder may be

[2022-11-06 21:56] ChrisDenton commented on #104072
Does setting the `TMP` environment variable not work?

[2022-11-06 22:05] jyn514 commented on #40065
@SBeausoleil PowerShell has a slightly different syntax for setting env variables, but the workaround should still work fine if you fix the syntax.

[2022-11-06 22:15] ObamaTheLlama114 opened #104075 "Tracking Issue for vec::push_with_ref"
Feature gate: `#![feature(vec_push_with_ref)]`

This is a tracking issue for `Vec::push_with_ref`

Similar to `Vec::push`, but returns a reference to the elements new spot in memory.

### Public API

[code]

### Steps / History

- [ ] Implementation: #104079
- [ ] Final comment period (FCP)[^1]
- [ ] Stabilization PR

### Unresolved Questions

- [ ] naming (eg. `push_with_ref`)

[^1]: https://std-

[2022-11-06 23:49] ZhennanWu commented on #92791
As a side question, is there any plan for a similar `ThinArc`? This would enable concurrent libraries to use new patterns like `arc_swap::ArcSwapAny<ThinArc<dyn Trait>>` due to atomicity of thin pointers.

[2022-11-06 23:54] SBeausoleil commented on #40065
It also doesn't work with CMD. I tried setting it under ./cargo/config.toml as
[code]
And with the [correct syntax](https://stackoverflow.com/questions/1420719/powershell-setting-an-environment-variable-for-a-single-command-only) in PS:
![image](https://user-images.githubusercontent.com/10907577/200202376-dc37ddc6-58c4-44c6-8573-f5ffa66e29da.png)
The issue is that in the back, doc tests use the re

[2022-11-07 00:49] BGR360 commented on #104034
@rustbot label +F-exhaustive_patterns

[2022-11-07 00:54] BGR360 commented on #100615
Closed by #102323? Or is there more to do?

[2022-11-07 01:01] schungx commented on #31436
RAII with drop guard holding a closure won't work in this case because it locks the state variables until the drop and you'll nerd those variables in your fallible code, otherwise there is no point in setting/restore.

[2022-11-07 01:12] coriolinus commented on #31436
Sure, but you don't need that. Something like

[code]

Now you don't need any `finally` clause. Instead, you have

[code]

[2022-11-07 01:12] compiler-errors commented on #103423
@skyzh do you have a branch of the full risingwave project that I can test the regression on?

[2022-11-07 01:27] khionu commented on #103999
As a trans woman, as someone who has had to deal with some of the worst of US poverty over the course of my life (and acknowledging how privileged that makes me relative to the rest of the world), I can't agree with silence in the face of suffering. That said, I know that is a super ideological stance, and I know it does nothing for your suffering.

It's not easy figuring out what to speak out on.

[2022-11-07 02:08] skyzh commented on #103423
Unluckily I got some strange ICEs when building the tower dependency, and the compiler crashed before I could test `risingwave_stream`.

[code]

Here's the branch for testing -> https://github.com/risingwavelabs/risingwave/tree/skyzh/revert-workrounds, which will stuck with the configured rust-toolchain (2022-10-16).

I'm using stage1 compiler artifacts and using the following command to compile:

[2022-11-07 02:09] thomcc commented on #104053
We don't really guarantee this -- we certainly used to behave the way further in the past (that PR was a revert).

That said, it wasn't really a change intended to break anyone, and it makes sense that it might (in the case of single-threaded C libraries and the like). A PR restoring the previous behavior of  `--test-threads=1` would be fine, although it's a bummer that will probably bring back a

[2022-11-07 02:14] skyzh commented on #103423
... and the latest master 7eef946fc0e0eff40e588eab77b09b287accbec3 will also panic with the tower dependency, so I guess the master branch is already broken? (Or there's something wrong with my build env)

[2022-11-07 02:15] thomcc commented on #104053
It might be cleaner to keep a thread around to run them, rather than coordinating use of the main thread for this case. I'd prefer that since previously it had to be duplicated, and it'd be a bummer to keep that forever.

IIUC from your description, it's most important that the tests all happen on some thread, and it's not important that it always be the main thread? (Hmmm... I suppose that's not

[2022-11-07 02:22] skyzh commented on #103423
Okay, I probably did the compile in a wrong way. Testing again, sorry for that 🙈

[2022-11-07 02:30] skyzh commented on #103423
Here's what I did:

[code]

Unluckily, https://github.com/compiler-errors/rust/tree/issue-103423 doesn't seem to fix the issue. The rustc process keeps spinning at 100% CPU and seems never to complete when compiling `risingwave_stream` 🙈

[2022-11-07 02:32] skyzh commented on #103423
The branch for testing -> https://github.com/risingwavelabs/risingwave/tree/skyzh/revert-workrounds

[2022-11-07 03:01] joshlf opened #104084 "Function used in anonymous constant is not considered used"
I have the [following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f615be9eaa32894a0c44a4effdbd6a1d):

[code]

Even though both `foo` and `bar` are used, I get an unused warning for `bar`:

[code]

## Version

Rust 1.65.0

[2022-11-07 03:36] saethlin commented on #103814
I dropped the length of `data` to 120000 so that this runs on both sides of the regression. Doing the most naive benchmarking I measure a ~11% slowdown in `cargo clean && cargo check --tests` and a ~16% slowdown in `cargo miri test`.

How did this get past the compiler perf monitoring? Surely we didn't merge a PR in that time window that regressed one of the secondary benchmarks by 11%, right? Is

[2022-11-07 04:07] BGR360 commented on #103762
Indeed, from what I can tell, it seems that https://github.com/rust-lang/rust/pull/97720 regressed this. Specifically, [this change here](https://github.com/rust-lang/rust/pull/97720/files?diff=unified&w=0#diff-809615be77d084b910459cf54c39f25745f5b9f8ad9e50c2a33e7fc2573686f1L761-R764).

My understanding of this change is that it stopped pushing lifetime resolution in function signatures to typeck,

[2022-11-07 04:18] matthiaskrgr opened #104085 "ICE: !ty.has_non_region_infer() -Cinstrument-coverage"
### Code
Needs debug assertions
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./issue-24013.rs -Cinstrument-coverage`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-07 04:56] #42326 closed

[2022-11-07 05:06] Rageking8 opened #104086 "Tighten "introduce new binding" suggestion"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=9c41f6b7b4e29f2c340c5fcc95bd815b)

[code]

The current output is:

[code]

Ideally the output should first check the RHS, before suggest adding `let`. It should also avoid suggesting when code is invalid. Thanks.

Something like this should also not suggest adding `let`: [link](https://play.ru

[2022-11-07 05:07] compiler-errors commented on #104086
I'm not convinced the second example should be something we need to fix, but the first example should be very easy to fix.

[2022-11-07 05:20] compiler-errors commented on #104084
So unlike `foo`, which has (possibly) a side-effect even its return type is not assigned, `const _: ()` is unused in the program, so anything that it uniquely references is considered unused as well.

Giving the constant a name and using the constant suppresses the error:

[code]

Do you have a more detailed explanation if you hit this in production and was confused by the warning?

[2022-11-07 05:29] joshlf commented on #104084
Sure: I'm using it in a test that runs at compile time. The code doesn't need to actually produce anything (in other words, there's no const value that's used by another part of the program), it just needs to compile successfully.

The code is [here](https://github.com/google/zerocopy/pull/126/files#diff-b1a35a68f14e696205874893c07fd24fdb88882b47c23cc0e0c80a30c7d53759R2778-R2788) if you're curious

[2022-11-07 06:17] Rageking8 opened #104088 "Slightly improve error message for invalid identifer"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=28746db28d4d778b7165a86aeb1f80b3)

[code]

The current output is:

[code]

Ideally the output should inform the user that an identifier cannot start with a digit and not that the proceeding characters is an invalid suffix (since a literal in that place is invalid in the first place). Thanks.

[2022-11-07 06:28] comex commented on #63818
I don't remember, but it wouldn't be hard to make one.  My miscompilation example in [this post about `PollFn`](https://internals.rust-lang.org/t/surprising-soundness-trouble-around-pollfn/17484/15?u=comex) worked by effectively having LLVM infer `noalias` on an `async fn` poll implementation's `self` argument, thanks to that argument being derived from an `&mut PollFn` which was itself marked `no

[2022-11-07 06:33] OneRaynyDay opened #104089 "help clause points to adding where clause on impl when it should be on function"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e5d9c21342f0c0824ddba9445daf7cb1

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-11-07 06:39] chenyukang commented on #104086
@rustbot claim

[2022-11-07 07:06] Xuanwo commented on #79786
Hi, @cjgillot is there any updates on this?

We met this problem in `databend` with `nightly-2022-11-07` on `macos` too:

[code]

[2022-11-07 07:18] lcnr commented on #103911
It's definitely related :thinking: don't expect it to address that issue by itself. Should make it easier to do so in the future however

[2022-11-07 08:22] RalfJung opened #104092 "Strange indentation in libtest output"
libtest output recently started indenting *some* but not all test results:
[code]
Seems like benchmarks are indented but regular tests are not.

[2022-11-07 08:27] RalfJung commented on #104092
Cc @thomcc any idea which change might have caused this? I think this must be fairly recent but haven't tried bisecting yet.

[2022-11-07 09:17] leonardo-m commented on #104075
What's the purpose of this method?

[2022-11-07 09:24] RalfJung opened #104096 "VecDeque benchmarks have UB"
This benchmark function has UB:

https://github.com/rust-lang/rust/blob/bc3fae4dc1891de19368622d7b77ba3006b8f4ea/library/alloc/src/collections/vec_deque/tests.rs#L29-L40

It directly accesses private fields of `VecDeque` to set the head and tail pointers, but doesn't initialize the element in the middle so `pop_back` reads uninitialized memory.

[2022-11-07 10:28] sciguy16 commented on #72826
Would it be possible to start an FCP for stabilising this feature? As long as we're happy with the public API, optimising the implementation to reduce/remove allocations can be done post-stabilisation.

[2022-11-07 10:32] GuillaumeGomez commented on #81893
The problem evolved a bit. With this code:

[code]

We now have `foo baz` documentation for `Type`.

[2022-11-07 10:34] jplatte commented on #81893
Isn't that the same thing I wrote originally? Or is the change that it happens inside one crate as well now (I don't think I tested that scenario before)?

[2022-11-07 10:36] GuillaumeGomez commented on #81893
Sorry, you are absolutely right. I worked on something similar recently and checked if the problem still existed and forgot to check your first message. Sorry. I'm working on this issue to fix it definitely.

[2022-11-07 10:57] ogoffart opened #104099 "Aarch64 LLVM internal error "Both operands to a binary operator are not of the same type""
Our CI system building artifact for aarch64 [started to fail](https://github.com/slint-ui/slint/actions/runs/3407499968) with the release of Rust 1.65

I tried to reduce the bug a bit:

 main.rs
[code]

Cargo.toml dependencies
[code]

Build with

[code]
(same with `--target aarch64-apple-darwin`)

Since Rust 1.65, we get this error:

[code]

Can still be reproduced in nightly

[2022-11-07 11:29] nikic commented on #104099
I wasn't able to reproduce this (on either stable or nightly).

[2022-11-07 12:00] danielhenrymantilla commented on #91285
Yeah, the current `Residual` trait reads rather awkwardly due to that generic `O` parameter it must be fed eagerly:

[code]

Notice that `R::Residual: Residual<[R::Output; N]>` clause. It _can't really be spelled out/read out loud_ in English: "is a residual of an array" doesn't make that much sense.

In a way, the type alias internally used by the stdlib already provides a way nicer name: `Change

[2022-11-07 12:04] ogoffart commented on #104099
You're right, trying in a fresh project i couldn't reproduce. I realized  the original Cargo.toml also contained  a `lto=true` that was also necessary
I edited the original description  to add

[code]
Thanks for looking into this.

[2022-11-07 12:34] ogoffart commented on #104099
Also, contrary to what i wrote initially, the bug appeared first in 1.65 (and not 1.64)

[2022-11-07 13:23] BratSinot opened #104103 "`let _ = raii;` doesn't move variable"
I tried this code:

[code]

and it doesn't move variable as expected:
[code]

But if I write like this:
[code]
everything is work as expected:
[code]

### Meta
`rustc --version --verbose`:
[code]

[2022-11-07 13:42] nikic commented on #104099
Thanks, I can reproduce the issue now. Reduced test case:
[code]

[2022-11-07 13:47] nikic commented on #104099
Upstream issue: https://github.com/llvm/llvm-project/issues/58843

[2022-11-07 13:55] ehuss commented on #104103
Thanks for the report!  This is intended behavior, new to the 2021 edition of Rust called disjoint closure captures. You can read more about it in the [Edition Guide](https://doc.rust-lang.org/nightly/edition-guide/rust-2021/disjoint-capture-in-closures.html#wild-card-patterns) or this [unfinished docs](https://github.com/rust-lang/reference/blob/44f6e1e20f40dddf1b5e9aa002d5cd6e7a629663/src/types/

[2022-11-07 14:11] jruderman commented on #104084
FWIW, you [can suppress](https://github.com/rust-lang/rust/blob/391ba78ab442610a63310b9a3d24646082628081/compiler/rustc_passes/src/dead.rs#L497-L504) the warning by putting `#[allow(dead_code)]` on the `const` item which you want to consider a "use":

[code]

[2022-11-07 14:13] H4x5 commented on #91285
Thanks! I'll try and draft a PR today to change it.

Side note:
This trait really only applies to the generic container Try types (`Result`, `Option`, `ControlFlow`, etc), not to the simpler, non-generic ones like the [RFC's ResultCode example](https://github.com/rust-lang/rfcs/blob/master/text/3058-try-trait-v2.md#implementing-try-for-a-non-generic-type). Thus, adding `Try::Residual: Residual` wo

[2022-11-07 14:31] ozkanonur commented on #103785
@rustbot claim

[2022-11-07 14:38] #104103 closed

[2022-11-07 14:40] devillove084 commented on #90665
@BGR360 Hey there, I'd like to come and help with this task, but I'm not quite sure how to start, is there some documentation about this module, or rfc of related functions that I can quickly understand.

[2022-11-07 15:07] chenyukang commented on #68987
@rustbot claim

[2022-11-07 15:19] davidtwco commented on #103932
Submitted #104105 to fix this.

[2022-11-07 15:38] vincenzopalazzo opened #104107 "improve documentation for `std::pin::Pin`"
### Summary

As @yoshuawuyts pointed out on [Zulip stream](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async/topic/Projecting.20Pin.3CVec.3E.20to.20Vec.3CPin.3E/near/308406868) the in struct, there is a lack of documentation on some of the methods such as `Pin::new()` and `Pin::into_inner`

This should be relatively straight forward to document, and I can mentor someone if there is in

[2022-11-07 15:40] yoshuawuyts opened #104108 "Provide structural pinning guarantees for slices, vecs, arrays"
Right now `Vec` provides no guarantees wrt [structural pinning](https://doc.rust-lang.org/std/pin/index.html#pinning-is-structural-for-field), meaning if we have a `Vec` of futures and we pin project through it, it works fine today - but we're not _guaranteed_ it will continue to work fine tomorrow. For example, [`futures::join_all!`](https://docs.rs/futures-util/0.3.25/src/futures_util/future/joi

[2022-11-07 15:58] michaelwoerister commented on #103932
Thanks for the ping and the great pre-investigation, @ehuss!

[2022-11-07 16:22] chenyukang commented on #68987
But we still can not handle well for this kind of case:

[code]

Current error is:
[code]

And this code:
[code]

report:
[code]

This is because we currently may use ')' to match '{' as a close delimiter.
To fix this need more work, I have a working branch and need more tweaks.

[2022-11-07 16:26] ch-iv commented on #104107
I can try doing this

[2022-11-07 16:26] ch-iv commented on #104107
@rustbot claim

[2022-11-07 16:33] #103983 closed

[2022-11-07 16:33] #103997 closed

[2022-11-07 16:47] Uriopass commented on #104075
The problem with theses kinds of methods in general is that the lifetime of the `&T` is tied to the lifetime of `&mut self`. Therefore you cannot use a `&self` method on the vec after getting the reference.
example:
[code]

[2022-11-07 16:48] danielhenrymantilla commented on #91285
Oh, good catch! (I've edited my post accordingly).

  - <sub><sup>🤔 In that case I very much feel like that trait ought not to be named `Residual`. Given `R : Try`, then having `R::Residual : Residual` not hold by default and have to be explicitly spelled out feels quite weird, tbh. We'd be back to `ChangeOutput` or things along those lines, _etc._</sup></sub>

[2022-11-07 17:03] eholk commented on #103515
Discussed in [wg-async triage meeting](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async/topic/triage.20meeting.202022-11-07/near/308426377) today.

Thanks for the helpful repo that demonstrates the issue! A good next step would be to see if we can reduce the issue even further.

[2022-11-07 17:06] Manishearth commented on #101840
Some more background from Asmus, including some explicit steps on how to handle them. They brought up an interesting point that the order of parsing them matters a lot.

[2022-11-07 18:09] RalfJung commented on #86918
It's from a `Pin<&'a mut Pin<P>>`, right? The nesting is a bit odd. But I guess it is what comes up in practice?

[2022-11-07 18:16] RalfJung commented on #104108
Arrays are a no-brainer I think.

Slices are basically references which are always `Unpin`, right? So it can't be structural?

For `Vec`, again since it is a ptr indirection I think the default policy would be to say that it is not structural. (That doesn't mean using it as if it were structural is unsound. It just means that when you get a `Pin<&mut Vec<T>>` from unknown code, you cannot assume t

[2022-11-07 18:18] RalfJung commented on #104108
Oh I see, this is about `Pin<&mut [T]>`, not `Pin<&mut &mut [T]>`. It's about the slice type itself.

Yeah I think that's exactly like arrays, and we should say it is structural.

[2022-11-07 18:25] RalfJung opened #104119 ""ambiguous associated type" when accessing concrete type (but not on generic type)"
Consider the following code:
[code]
Using `Type::Provenance` works when `Type` is a generic parameter that implements the appropriate trait, but strangely fails when `Type` is a *concrete* type that implements the appropriate trait. That seems like a bug? Or at least it is an odd limitation that it'd be nice to lift. :)

[2022-11-07 18:31] Zenithsiz commented on #76118
Can these be made `const fn`s? Or are we still missing features to allow these to become `const fn`s?

[2022-11-07 18:51] RalfJung commented on #104119
It *could*, but it doesn't. This compiles:
[code]
This is the exact same situation but with a function `foo` rather than an associated type.

[2022-11-07 18:55] riking commented on #88630
At the rustc source level, this is likely related to the use of either `span_delay_err` or `stash_err` and friends.

[2022-11-07 19:06] CAD97 commented on #104108
100% agree that we should say that `Pin<&mut [T]>` requires `T` to be structurally pinned. If we already say this is the case for `[T; N]`, this is already true by proxy in that you can coerce `Pin<&mut [T; N]>` into `Pin<&mut [T]>`.

`Pin<&mut Vec<T>>` must match the standard rules for `Pin`, in that because `Vec<T>: Unpin`, `Pin<&mut Vec<T>>` is equivalent to just `&mut Vec<T>`.

`Pin<Vec<T>>` p

[2022-11-07 19:10] cjgillot commented on #79786
This is a bug in incremental compilation.
Do you have *both* the last compiling version and the failing version?

[2022-11-07 19:15] duplys commented on #95825
Hey @scouten-adobe, @estebank and @wesleywiser , does the above help?

[2022-11-07 19:41] Pratyush opened #104122 "Confusing precedence for shifts"
I tried this code:

[code]

I expected to get `(1 << 13) - 10`, but instead got `1 << (13 - 10)`. I would have expected the precedence rules here to align with those for multiplication/division.

### Meta

`rustc --version --verbose`:
[code]

[2022-11-07 19:54] #103519 closed

[2022-11-07 20:21] adetaylor commented on #44874
Here's a summary of this issue as requested [in this comment](https://github.com/rust-lang/rust/issues/44874#issuecomment-1067146739) @pnkfelix.

Disclaimer: I haven't been involved so this may not be exactly right. But I'm interested in taking it forward so this summary was useful to compile anyway.

# What works now

* **Nightly only, behind feature flag `arbitrary_self_types`:**
  * Any type im

[2022-11-07 21:01] cjgillot commented on #103762
Note this other one is also broken:
[code]

Both cases do not appear at the same place in `rustc_resolve::late`. These are not the same construct on the AST, even if they are on HIR.

[2022-11-07 21:02] cjgillot commented on #100615
Yes, closed by https://github.com/rust-lang/rust/pull/102323, and https://github.com/rust-lang/rust/pull/104048 will handle some suggestion corner cases.

[2022-11-07 21:02] #100615 closed

[2022-11-07 21:34] BGR360 commented on #103762
That's valid syntax?

[2022-11-07 22:05] twiclo opened #104127 "Changing variable name throws compilation error. Doesn't work on 1.65 but does on 1.64"
This compiles if the variable is `Context.pool` but when I change it to `Context.db` it gets this error. This is 100& reproducible. 1.64 causes no error

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-07 22:07] memoryruins commented on #104122
Multiplication and division also have stronger precedence than shifts <https://doc.rust-lang.org/nightly/reference/expressions.html#expression-precedence>. `cargo clippy` can help catch these cases <https://rust-lang.github.io/rust-clippy/master/index.html#precedence>.

[2022-11-07 22:36] CraftSpider commented on #54140
Is there any movement on this? The linked PR has now been open for over a year with vague concerns about an even better API. Personally I think the proposed API is fine, and that not attaching spans doesn't *hurt* to support. Mostly, I just would like some movement towards a path to stable.

[2022-11-07 22:37] Lokathor commented on #104122
Unfortunately, the precedence for shifts cannot be changed at this point. It's about 6 years too late for that.

[2022-11-07 22:39] jhpratt commented on #54140
There is no update. I will happily rebase and update the PR if and when it is desired to be merged.

[2022-11-07 22:39] Pratyush commented on #104122
Perhaps it would be worthwhile to lift the clippy lint to rustc to catch this?
Also, is this something that can be `cargo fix`-ed at edition boundaries?

[2022-11-07 22:41] Lokathor commented on #104122
This is *extremely* unlikely to change at an edition because it would be hard to spot the difference, and I just don't think that the language team would go for such a proposal.

lifting the clippy lint into rustc is probably possible

[2022-11-07 22:51] jonhoo commented on #86918
Ah, yes, sorry — fixed!

[2022-11-07 23:37] vojtechkral commented on #90785
Ran into this today. This is particularly unpleasant in the following scenario (pseudo-Rust):

[code]

running that code from the test harness leads to the eprintlns being capture, but the escape sequences not so much, and they then end up messing up the test harness output.

The worst bit is I can't seem to find a way to detect this somehow (in test the stderr is still a tty), I'm probably going

[2022-11-07 23:40] Manishearth opened #104130 "Allow users to override or filter list of exported symbols passed to the WASM linker"
Currently, the way export visibility is handled in WASM is that rustc manually passes a list of all exported functions to the WASM linker:

https://github.com/rust-lang/rust/blob/d69c33ad4c65e42a7a2d018a5c2ee1c7dbd0fc15/compiler/rustc_codegen_ssa/src/back/linker.rs#L1312-L1314

In almost every mode of compilation for Rust it doesn't matter too much if the exports list covers more than is needed, b

[2022-11-07 23:43] H4x5 commented on #91285
I've submitted #104128, an attempt at changing this.

[2022-11-07 23:47] BGR360 commented on #90665
Hi @devillove084. Have you read that Zulip thread? The consensus seemed to be that we maybe shouldn't poke at it too much quite yet:

See also #103911

[2022-11-08 00:18] rdfriese commented on #103869
Linking to the topic on internals where some other folks have left suggestions (https://internals.rust-lang.org/t/error-message-when-definining-enum-using-struct-syntax/17669).

Although none of those directly address your question.

My gut reaction is to assume that if the "enum" keyword is used that truly was the intention of the developer, but if it wasn't, hopefully some help message like the

[2022-11-08 01:07] crazyboycjr commented on #43182
Hi @SimonSapin. I still have questions about this. I can understand an executable needs these two lang items, but for a dynamic library, why do I need to provide them? Would they conflict with the one in libstd when I have an executable link with the dynamic library?

[2022-11-08 01:34] Jules-Bertholet commented on #95132
The example code now compiles successfully. https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=dcff38bf18e7c10b3e21a8d3c65f4f26

I believe this issue can be closed.

[2022-11-08 01:59] estebank commented on #104071
The wording should likely have been "but there might be an alternative, better, way to express this requirement".

The suggestion machinery can check whether the span we're operating on is coming from a macro, but it might be difficult to differentiate between proc-macros that have properly annotated their spans so the suggestion works, and those that haven't (other than maybe try and compare span

[2022-11-08 02:07] Manishearth commented on #104130
A similar issue seems to be https://github.com/rust-lang/rust/issues/73958, though that applies to staticlibs too

(the flag proposed here _may_ help that use case as well)

[2022-11-08 02:12] sffc commented on #104130
Even if I manually invoke `lld` with a pruned set of `--export` arguments, everything that is `no_mangle`'d seems to still get exported. So I think #73958 may need to be resolved first.

[2022-11-08 02:14] estebank commented on #103385
@compiler-errors do we have a PR for the fix? I wanted to confirm that a regression test was included so we can close this and the other linked open issue. If not we can mark these two as e-easy and ask for a PR adding a test.

Thank you for the report @Radvylf! Just wanted to let you know that we keep tickets open against until we fix them on nightly (except for stable regressions that require a

[2022-11-08 02:19] #103385 closed

[2022-11-08 02:20] compiler-errors commented on #103343
I'm gonna close this since it's fixed (by #99928) which is now on stable.

[2022-11-08 02:20] #103343 closed

[2022-11-08 02:20] Manishearth commented on #73958
It seems like a useful path forward would be to split `#[no_mangle]` into `#[no_mangle(private)]` and `#[export_symbol]` (alternatively, make `#[used]` apply to functions), and have `#[no_mangle]`  imply both.

Something similar can be done with `#[export_name]`, it feels strange that symbol renaming is only available via methods that export the symbol.

But also I think there should be a codegen

[2022-11-08 02:23] compiler-errors commented on #103301
This should be fixed on stable rust 1.65 (due to #99928), so I'll close it.

[2022-11-08 02:23] #103301 closed

[2022-11-08 02:58] Xuanwo commented on #79786
Sorry I didn't understand the sentence.

---

The simplest way to reproduce this ICE:

[code]

[2022-11-08 03:24] sffc commented on #104130
Some data for why customizing the exported symbols at link time is superior to post-processing methods such as [wasm-snip](https://github.com/rustwasm/wasm-snip):

In the ICU4X library, we export approximately 500 symbols from our WASM file. Most clients need only a small subset of the 500 symbols. I did a test where I removed about 300 of the symbols (those in the formatting and collation compone

[2022-11-08 03:28] alex-pinkus commented on #103673
@apiraino, just wondering, did the aforementioned discussion take place (sounds like it would have been on Nov 3)? Any outcomes to share?

[2022-11-08 03:28] schungx commented on #31436
With a bit of modifications the idea from @coriolinus seems to work fine for my purposes, without even resorting to `try`.

For future comers, here's what I have:

[code]

[2022-11-08 04:12] jruderman commented on #104122
@rustbot label +T-lang -C-bug

[2022-11-08 04:18] VladasZ commented on #93140
Would be nice to have this. Why `Vec` have const `new` but `HashSet` doesn't?

[2022-11-08 04:51] est31 commented on #103442
@scottmcm how would that lint be different from `bindings_with_variant_name`, and can't one just deny that one?

[2022-11-08 04:58] joshlf opened #104136 "Update `AsBytes` derive docs"
Currently, the `AsBytes` doc comment has a section on [Custom Derive Errors](https://docs.rs/zerocopy/0.7.0-alpha.1/zerocopy/trait.AsBytes.html#custom-derive-errors). This section is stale and should be updated.

[2022-11-08 04:58] joshlf commented on #104136
Oops, wrong repo 🤣

[2022-11-08 04:58] #104136 closed

[2022-11-08 05:02] Jules-Bertholet commented on #104119
I know pretty much nothing about trait system internals, so can't say with any certainty, but I *suspect* this might be blocked on [lazy normalization](https://github.com/rust-lang/rust/issues/60471), like [inherent associated types](https://github.com/rust-lang/rust/issues/8995)?

[2022-11-08 05:10] est31 commented on #103442
Regarding some history of that lint, it was added in 5804a306868aee5ff0a3d7829db7924978317f0e (#19115) as an unconditional warning, and later turned into a lint in 2c3e5d3de023c0bfbf4a4c4d3b0d7a9844e96ffe (#67770).

[2022-11-08 06:21] scottmcm commented on #103442
Oh, thanks @est31 !  If it already exists that's even better -- just a matter of making it deny-by-default.

(Want to send a PR for that, timrobertsdev ?)

[2022-11-08 08:00] AntoineSebert commented on #103301
Great, thanks !

[2022-11-08 08:42] jruderman opened #104140 "ICE with malformed `rustc_on_unimplemented` on `impl`"
Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

[code]

### ICE output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Expected output

I expected an error like "malformed `rustc_on_unimplemented` attribute input". (I do see this error message if I move the attribute to the trait item.)

### Regression

Stoppe

[2022-11-08 08:55] bugadani opened #104141 "Misleading unnecessary braces warning"
Const generics, combined with the `cfg!` macro gives an "unnecessary braces" warning. However, removing the braces results in a compilation failure.

Example:

https://rust.godbolt.org/z/Kv8Eq5hzn

I expect no warning to be emitted for the following code:

[code]

[2022-11-08 09:35] lcnr commented on #95132
already added tests for this issue in #96515. Closing

[2022-11-08 09:35] #95132 closed

[2022-11-08 09:40] bjorn3 commented on #73958
Isn't `#[no_mangle(private)]` basically `#[rustc_std_internal_symbol]`? It doesn't export the symbol from cdylib's while still disabling symbol mangling.

By the way why are you using `#[no_mangle]` if you don't want the symbol to be exported from the cdylib? The standard library needs this to break some cyclic dependencies, but I don't see any reason why regular user code needs it.

[2022-11-08 09:53] akis0 opened #104142 "Error in raw string"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]
~sorry in advance, i don't check if this issue is also in beta or nightly versions.~  i did.
### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]
</p>
</details>

[2022-11-08 10:27] Rageking8 commented on #104142
Repros on latest nightly and beta

[2022-11-08 10:49] Cerber-Ursi commented on #103762
That's deprecated syntax, but it's valid, yes - Rust used to have just `Trait` where it currently has `dyn Trait`.

[2022-11-08 10:52] leonardo-m commented on #101883
Avoiding stuff like "in 0.10 {" is why I suggested that ".." is an operator, so the standard rustfmt formatting should have spaces around it, as in "in 0 .. 20 {".

[2022-11-08 11:33] nazar-pc opened #104145 "thread 'rustc' panicked at 'no entry found for key', src/librustdoc/passes/collect_intra_doc_links.rs:782:16"
### Code
[code]

[code]

Nightly 2022-08-11 worked fine, trying to upgrade from it.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

[code]

</p>
</details>

[2022-11-08 11:35] dhardy commented on #104145
[Same error](https://github.com/kas-gui/kas/actions/runs/3418745468/jobs/5691419229), same rustc version

[2022-11-08 12:02] hsivonen commented on #73958
1. In the Firefox case, the Rust code is compiled into a static lib that gets linked into a larger dylib that also contains C++ code. The Rust code needs to be visible to the C++ code during the static linking step but shouldn't remain visible from the combined dylib.
2. `#[no_mangle]` is the idiomatic way how crates on crates.io provide FFI, so the Rust top-level compilation (the omnibus Rust sta

[2022-11-08 12:03] fmease commented on #104140
I did some digging. `AstValidator::visit_attribute` does not seem to visit any attributes ascribed to `impl` items and as a result of that, the meta-items of built-in attributes like `rustc_on_unimplemented`, `rustc_main`, `rustc_paren_sugar` are not validated.

[2022-11-08 12:10] bjorn3 commented on #73958
For this rustc can't do anything as it doesn't control the linker invocation. If it links a cdylib itself it passes a list of all symbols to export to the linker. You did have to emulate this in firefox.

I did recommend putting the part of the library that exports the C api that wraps the rust api in a different crate from the one exporting the rust api. If you don't want the C api to be exported

[2022-11-08 12:21] fmease commented on #104140
… which stems from the fact that in `AstValidator::visit_item` we sometimes (e.g. in match arm ` ItemKind::Impl` / `for_trait: Some(_)`) return early, thereby skipping `visit::walk_item(self, item)` at the end of the method which would've called `walk_list!(visitor, visit_attribute, &item.attrs);`.

Some other match arms (e.g. `ItemKind::Trait`) that return early therefore rightfully call `walk_li

[2022-11-08 12:59] can2049 opened #104149 "crash when creating path from formated string"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>

</details>

[2022-11-08 13:00] fmease commented on #104145
@rustbot label needs-mcve

[2022-11-08 13:08] fmease commented on #104149
no longer reproduces on nightly:

<details><summary><b>summary</b></summary>

[code]

</details>

[2022-11-08 13:49] Alexendoo opened #104150 "Diagnostic suggestions highlighting can become misaligned"
Given a `cargo +nightly clippy` on the following:

[code]

The current output is:

![image](https://user-images.githubusercontent.com/1830331/200573246-4d43a72d-aa69-46cf-b10c-f5f4e1bc0959.png)

In line 6, `(val, val)` the second highlight is misaligned, it's highlighted at `(val, v~al)~`

[2022-11-08 14:01] Rageking8 commented on #104149
Should be a dupe of #103906. Fixed by @compiler-errors in #101629. I think this issue can be closed as dupe and completed. (UI test not needed as previously confirmed with compiler-errors)

[2022-11-08 14:27] saethlin commented on #90785
@rustbot label +T-libs +A-libtest

[2022-11-08 14:43] hsivonen commented on #73958
This doesn't solve the problem that this issue is about: hiding symbols in the resulting shared library formed by linking a static lib generated by Rust compilation with some other object code.

E.g. encoding_rs and encoding_c are a Rust crate and its C API crate. Since Firefox needs the C API, it builds encoding_c as part of its omnibus Rust artifact. Once that's linked with C++ object code to fo

[2022-11-08 14:53] bjorn3 commented on #73958
The only way to hide those symbols when linking a rust staticlib into a dylib is to pass the linker a list of symbols to hide. This is not something rustc has any control over. If rustc were to do the linking it does this for you, but in the case of libxul rustc doesn't do the linking and as such the build system that invokes the linker is responsible for making sure the symbols are hidden.

[2022-11-08 15:27] kpreid commented on #104145
I don't have a MCVE but the same problem on the same nightly version happens with a dependency of `luminance-glfw = "0.18.2"`. Sounds awfully similar to #103463 also involving `luminance` deps, but that one's definitely fixed.

[2022-11-08 15:45] yvt opened #104155 "Passing a non-`const` trait function item value to a `const fn` is no longer allowed in a constant context"
### Code

I tried this code:

[code]

([Playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2021&gist=f846e2e1b06b1d52476801d0a98874f2))

I expected to see this happen: Successful compilation

Instead, this happened:

[code]

### Version it worked on

It most recently worked on: 1.65.0

### Version with regression

`rustc --version --verbose`:
[code]

@rustbot modify labels: +r

[2022-11-08 15:45] ozkanonur commented on #103785
We can do this validation for `doc` dir, but I am not sure if this is possible for `json-doc` dir since each time json output changes. The layout of json context is getting change even if you don't change anyhing on the source code.

I print sha2 sums below to demonstrate the situation.

1st attempt:
[code]

2nd attempt right after the first attempt
[code]

The demonstration is from 391ba78ab44261

[2022-11-08 15:54] GuillaumeGomez commented on #104145
Pinging @petrochenkov since they're the last one who worked on this. Maybe you have an idea?

[2022-11-08 16:07] #104149 closed

[2022-11-08 16:25] dhardy commented on #104145
Somewhat minimal example: [kas-mcve-rustdoc-no-entry.zip](https://github.com/rust-lang/rust/files/9963158/kas-mcve-rustdoc-no-entry.zip)

Removing the `Scrollable` impl avoids the bug.

[2022-11-08 16:27] mweber15 commented on #98678
Is it possible that this simply isn't implemented? I looked at the Godbolt example and specifically looked at the LLVM IR that gets emitted to build the debug info. It seems like any information that gets created through [this stub function](https://github.com/rust-lang/rust/blob/master/compiler/rustc_codegen_llvm/src/debuginfo/metadata/type_map.rs#L205-L206) will lack file information. I thought

[2022-11-08 16:53] kwaynet opened #104157 "CLion IDE Debug Rust On Window 10 , Rust 1.65"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-11-08 16:56] Amanieu commented on #103763
We discussed this in the libs-api meeting and think this might be better solved at the language level by making `dyn` trait pointer comparisons ignore the vtable pointer entirely. It seems to be very fragile in general (#103567) since the compiler is free to instantiate multiple copies of the same vtable (#46139).

It seems like the current behavior comes from https://github.com/rust-lang/rfcs/pul

[2022-11-08 17:21] davidtwco commented on #103539
The issue here is that this isn't a Fluent error, we'd get a nice diagnostic if it was, it is still valid Fluent which refers to another slug, `boo`, which we only find out about when actually trying to do a translation. Everything is written so that if this mistake happens in a non-default locale, then we'll fallback to English and have a good user experience. But if it happens in the default loc

[2022-11-08 17:28] davidtwco commented on #102381
I think this is a duplicate of #103539. In your branch, the Fluent message is incorrect (using `{foo}` rather than `{$foo}` which tries to interpolate another message which doesn't exist, rather than a variable/argument). All that's happening here is that it causes the translation to ICE, which in this specific case is hard for us to catch (see https://github.com/rust-lang/rust/issues/103539#issue

[2022-11-08 17:31] joonazan commented on #39959
There are multiple bugs here and the most minimal example does not show the worst bug.

[code]

The above code must fail with "type annotations needed" because both `Struct<Struct<u8>>` and `Struct<u8>` are valid solutions. With references it should fail with that message as well but instead it recurses.

But the actually bad bug, which I'm fairly sure exists is that code that should compile does

[2022-11-08 17:57] crazyboycjr opened #104159 "Unable to build 'no_std' crate into dylib"
Hi folks,

I am having an issue of building a dylib with no_std.

[code]

After adding the missing language items, the compilation is fine.
[code]

But linking the product (libnostd_dylib.so) into an executable gives me duplicate language items.
[code]

As others have pointed out (https://stackoverflow.com/questions/43097676/how-to-build-a-standard-linux-so-library-with-stable-rust-without-using-s

[2022-11-08 18:00] Tuetuopay opened #104161 "`special_module_name` triggered for a directory module"

[2022-11-08 18:18] Taaitaaiger commented on #104053
Yeah, it seems like one of those things that's only going to affect a small subset of users. And you understood correctly, rewriting the tests to only use one test per file is a valid approach for me.

The PR does seem like a good change to me, would it be impossible to optionally allow tests to run on the main thread without reintroducing the cruftiness?

[2022-11-08 18:21] davidtwco commented on #100717
Hey everyone - been a little behind but updated the issue again with the current status of everything.

- `rust_ast_passes` remains incomplete. @finalchild, are you going to be able to address the comments on #101657?
- `rustc_borrowck` is still in progress by @AndyJado
- `rustc_builtin_macros` remains incomplete. @wonchulee, are you going to be able to address the comments on #101935? I've marked

[2022-11-08 18:22] mqudsi commented on #94780
Not sure if this is where any discussion should go but I would like it to formally request from now that consideration should be given to the ability to (try to?) collect into a fixed-size buffer well, primarily for purposes of avoiding heap allocation. Presumably this would just be a separate feature (`try_collect_into`?) but if the design of that feature would in any way conflict with the curren

[2022-11-08 18:23] oli-obk commented on #103539
Yea... I think if we could just improve the ICE that would be sufficient.

[2022-11-08 18:29] BGR360 commented on #90665
Okedoke, well unfortunately I don't have enough experience with this code to give any pointers. You could ask @lcnr or @jackh726

[2022-11-08 18:31] adriantombu commented on #100717
I can have a try at `rustc_resolve`

[2022-11-08 18:32] Xiretza commented on #100717
I still have a bit more work for `rustc_parse` in the pipeline, I'll get that submitted shortly.

[2022-11-08 18:39] jruderman opened #104162 "Exponential compile time with broken huge nested enum"
Long ago, in #42747, an exponential compile time issue was fixed for huge nested enums.

Fuzzing discovered that deleting lines from [src/test/ui/enum/issue-42747.rs](https://github.com/rust-lang/rust/blob/master/src/test/ui/enum/issue-42747.rs), and thus introducing a resolve error, brings back exponential compile time.

### Code

[code]

### Where it's slow

The slow passes are `wf_checking`, `i

[2022-11-08 18:49] djkoloski commented on #67650
It looks like there are two main issues blocking stabilization for `panic=abort`:
- https://github.com/rust-lang/rust/issues/68936
- https://github.com/rust-lang/rust/issues/73509
Once we solve these two outstanding issues, it seems like we'd be ready to stabilize this. Are there any other issues I'm missing?

[2022-11-08 18:52] JhonnyBillM commented on #100717
I am working on the 3rd (*and final*) part of `codegen_ssa`, but it depends on `rustc_middle::mir::interpret::InterpError` _and friends_ from `rustc_middle` / `rustc_ty_utils`.
If those modules are available, I could take them as part of finishing `codegen_ssa`.

As for `rustc_errors`,  I've tried a few things but haven't gotten to a final solution yet. I think it would be better for someone to ta

[2022-11-08 19:20] jruderman commented on #104155
This became an error due to #100982 (@fee1-dead, @oli-obk).

<details><summary>Bisect info</summary>

searched nightlies: from nightly-2022-09-18 to nightly-2022-11-07
regressed nightly: nightly-2022-09-23
searched commit range: https://github.com/rust-lang/rust/compare/9062b780b32d2eab060b4432863e085d9504ca5c...e7119a0300b87a3d670408ee8e847c6821b3ae80
regressed commit: https://github.com/rust-lan

[2022-11-08 19:22] compiler-errors commented on #104162
Root-cause is likely that we're doing some expensive computation during typeck, but then suppressing it due to the fact that name resolution fails.

[2022-11-08 19:31] eduardosm opened #104166 "Suboptimal code generated for `<[u32]>::ends_with` for RISC-V"
The following code
[code]

compiles to the following assembly:
[code]
where the latest value from the slice is read byte-by-byte, as it would do for an unaligned read.

Godbolt link: https://godbolt.org/z/WKvhr58Yn

[2022-11-08 19:39] Ternvein commented on #57775
I can confirm that sometimes it leads to very strange compilation errors. [This](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d6115b77e388b976b863eecf4b17dd95) code compiles fine:
[code]
while [this](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c65638b87b71b19c7781c6e029133b70) does not:
[code]

[2022-11-08 20:07] pierwill commented on #100717
There are still a few errors left, but they're complex enough that I don't think I can handle them in the near future. I might play with one or two, but I'm happy to have someone else assigned if they'd like!

[2022-11-08 20:15] nikic commented on #104166
Looks like no alignment gets inferred on the bcmp arguments, and even if it did, it doesn't get preserved during SDAG lowering: https://github.com/llvm/llvm-project/blob/e4889c0a046e251bfaf27a637df606112659be89/llvm/lib/CodeGen/SelectionDAG/SelectionDAGBuilder.cpp#L7975

Though I believe this particular problem is already fixed in LLVM 16, because the RISCV data layout was changed to `n32:64`, whi

[2022-11-08 21:06] jruderman opened #104172 "ICE "region scope ... not in scope to drop""
Found with a [modified fuzz-rustc](https://github.com/jruderman/fuzz-rustc)

### Code

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Regression

Regression in nightly-2021-08-17, maybe from #80357

### Version

[code]

[2022-11-08 21:26] matthiaskrgr opened #104173 "`proc_macro` crate fails to build with llvm `LLVM_ENABLE_EXPENSIVE_CHECKS`"
Soooo I was trying to build rustc with a llvm that has `LLVM_ENABLE_EXPENSIVE_CHECKS` on for some extra asserts, but it turns out that we can't even build std artifacts like that :sweat_smile:

To turn on expensive checks
[code]

`cat config.toml | grep -v "^#" | grep -v "^$"`
[code]

Then I built using `RUSTFLAGS="" ./x.py build`

`rustc --version --verbose`:
[code]

<details><summary><strong>Bac

[2022-11-08 21:30] killpowa commented on #63010
Up, I would also really need this feature to be stabilized if possible

[2022-11-08 22:10] nagisa commented on #104157
This doesn’t look like an ICE, and if it is the report is insufficient to tell anything about it.

For issues with JetBrains products specifically, please reach out to the vendor directly.

[2022-11-08 22:10] #104157 closed

[2022-11-08 22:58] wdanilo opened #104174 "Traits are resolved incorrectly when std::any::Any is used in a struct."
Consider the following code:

[code]

It does not compile:

[code]

However, if we remove the field containing `std::any::Any`, it compiles fine:

[code]

[2022-11-08 23:05] wdanilo commented on #104174
Edit: this does not work with any dyn trait, even custom one.

[2022-11-08 23:23] chrysn commented on #100013
I'm seeing a similar message when using elaborate GAT-heavy traits; it's far from a minimal example as it is now, but there's no `async` block or function involved. Is there value in attempting to minimize the example, or is the underlying problem of this error appearing without any apparent cause understood well enough already (so that I'd just wait for the fix, and only revisit if this issue get

[2022-11-09 01:22] inquisitivecrystal commented on #104155
Assigning priority as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23104155.20Passing.20a.20non-.60const.60.20trait.20function.20item.20value.20to.20.E2.80.A6) by the Prioritization Working Group.

[2022-11-09 01:56] #104096 closed

[2022-11-09 02:40] chenyukang commented on #104088
@rustbot claim

[2022-11-09 02:48] NotStirred commented on #104150
@rustbot claim

[2022-11-09 05:43] lyming2007 commented on #103869
@rustbot claim

[2022-11-09 05:49] sffc commented on #104130
Running `wasm-opt -all -Os` and `wasm-opt -all -Oz`:

| Method | Code Size, wasm-opt `-Os` | Code Size, wasm-opt `-Oz` |
|---|---|---|
| Fresh Compilation | 361547 | 182729 |
| Wasm-Snip | 391710 | 211921|

So I get back some of the difference, but there's still a 30 kB diff.

[2022-11-09 05:52] scottmcm commented on #91285
(See some additional conversation on zulip: <https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/lib.20after.20GATs/near/308206137>)

The thing I'm worried about using a GAT here is that it makes a bunch of things not work that would work without the GAT.  The problem is that the GAT is the equivalent of a `for<T> R: Residual<T>`.  But that's a *very* strong promise.  It means, for

[2022-11-09 07:37] #47511 closed

[2022-11-09 07:37] #103451 closed

[2022-11-09 07:37] #81408 closed

[2022-11-09 07:37] #85533 closed

[2022-11-09 07:37] #103824 closed

[2022-11-09 08:22] WhyNotHugo opened #104183 "Compiler panicks when impl for async trait has a mismatch"
Essentially, if my trait has `async fn do(s: &String)` and my impl has `async fn do(s: String)` the compiler panics.

Note that the code **is** invalid and compilation **should** fail.

### Meta

`rustc --version --verbose`:
[code]

### Error output
[code]

Note that I'm using `#![feature(async_fn_in_trait)]` which is experimental.

[2022-11-09 08:22] WhyNotHugo commented on #91611
Found a compiler crash when using this experimental feature: https://github.com/rust-lang/rust/issues/104183

[2022-11-09 08:27] RalfJung commented on #44874
This is closely related to https://github.com/rust-lang/rfcs/pull/3324. There it was decided that upcasting on raw pointers is *safe*. This means, at the very least, that the safety invariant for raw dyn pointers says that the vtable is correct. Therefore it would only make sense to also make method calls safe.

This means unsafe code constructing invalid raw dyn pointers is currently on shaky gro

[2022-11-09 09:32] Swatinem commented on #84674
@ehuss over in https://github.com/rust-lang/cargo/issues/9427#issuecomment-1296326215 expressed agreement to make the `doctest-in-workspace` cargo flag the default, considering it rather a bugfix for the current inconsistent behavior.

However, stabilizing `--test-run-directory` is a requirement for that, and there does not seem to be a better alternative to it.

@GuillaumeGomez is there anything

[2022-11-09 11:17] Nilstrieb commented on #104172
We should not be building MIR for code that is broken like this.

[2022-11-09 11:18] pkubaj commented on #99668
powerpc (32-bit) is also affected.

[2022-11-09 11:21] Nilstrieb commented on #104183
A [minimal example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=7efc4f69872120ff4ec403798984bd74):
[code]

<details>
<summary>
With the following backtrace:
</summary>

[code]

</details>

[2022-11-09 11:29] Nilstrieb commented on #104183
When not using a normal `fn`, the proper error is emitted here inside `compare_predicate_entailment`:
https://github.com/rust-lang/rust/blob/8d36948b1519c77a54867523453fef3e0c3a648b/compiler/rustc_hir_analysis/src/check/compare_method.rs#L71-L74
But something gets messed up with the async trait desugaring that doesn't make this work (the arity check above does work).

@rustbot claim

[2022-11-09 11:49] gvozdila opened #104189 "Rust compiler error while building rust with coverage support."
I tried to build current version of rust with coverage support.
Only different with current bc2504a83ca6 version is #profiler = false  --> profiler = True
build command is: RUST_BACKTRACE=1 ./x.py build
Out was:
[code]

`rustc --version --verbose`:
rustc 1.64.0
binary: rustc
commit-hash: unknown
commit-date: unknown
host: x86_64-unknown-linux-gnu
release: 1.64.0
LLVM version: 14.0.6

### $env

[co

[2022-11-09 11:49] apiraino commented on #104127
@twiclo I wonder if a minimal and fully buildable reproducible would help. Can you also reproduce without the external dependencies? Thanks

@rustbot e-needs-mcve

[2022-11-09 12:51] apiraino commented on #103949
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23103949.20riscv32imac-unknown-xous-elf.3A.20.60rust-lld.60.20gives.20.60off.E2.80.A6))

@xobs can you provide an example of where a crate fails to build? Could be interesting to bisect where this started. We usually use https://github.com/ru

[2022-11-09 13:05] GuillaumeGomez commented on #84674
Next step is the FCP. I'll start on the PR.

[2022-11-09 13:47] rib commented on #103763
Thanks for discussing the topic in the libs team.

I think there's a risk we're conflating two distinct issues/questions here and it could be good to find a way of tracking them both:

1. **What does "allocation" conceptually refer to in the docs for `Arc::ptr_eq`?** Is it the address of the Box allocation that holds the counters or is it the offset address of the value that's wrapped by the Arc?

[2022-11-09 13:49] tmiasko commented on #101930
Fixed in #103950.

[2022-11-09 13:49] #101930 closed

[2022-11-09 13:50] tmiasko commented on #102730
Fixed in #103950.

[2022-11-09 13:50] #102730 closed

[2022-11-09 13:58] Alexendoo commented on #57404
Fixed by #99943

[2022-11-09 14:28] luser commented on #73958
[My previous comment here](https://github.com/rust-lang/rust/issues/73958#issuecomment-721778391) explained the Firefox solution for C/C++, where we encountered similar issues with third-party code.

[2022-11-09 14:33] netsutetsu commented on #82814
Why aren't there `unwrap_unchecked` and `unwrap_err_unchecked` while `Option::unwrap_unchecked()` is going to be `const` in #91930?

[2022-11-09 14:36] wesleywiser commented on #98678
@mweber15 Nice find! That patch seems reasonable to me at a glance so if you want to open a PR with that change, I'd be happy to review it 🙂

[2022-11-09 14:40] bjorn3 commented on #73958
Right, hidden visibility doesn't work for rust as we don't yet know in advance if a crate ends up in a rust dylib or cdylib. In the former case hidden visibility is incorrect as a downstream crate may use a function marked with hidden visibility (for example because another function got inlined), while for a cdylib this is not the case. Having a global compiler flag that disables linking as rust d

[2022-11-09 14:41] camsteffen commented on #103748
I can take a look.

[2022-11-09 14:43] danheuck opened #104196 "Compiler crash: 'assertion failed: self.scc_universes[scc] == ty::UniverseIndex::ROOT'"
This appears to be the same assertion as #100818, #97099, and #103186 (though I'm unclear if the cause is the same) occurring on both stable rust 1.65.0 and nightly 1.67.0. The below reproduction is as minimal as I could get it. Worth noting that I don't believe this code would compile even without the ICE.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-11-09 14:45] nikic commented on #103132
Upstream patch: https://reviews.llvm.org/D137713

[2022-11-09 15:02] chenyukang commented on #103748
@rustbot release

[2022-11-09 15:13] farnz opened #104197 "Casting to `dyn Trait` implies `'static` lifetime, but "lifetime may not live long enough" does not prompt"
This is taken from https://users.rust-lang.org/t/why-cant-i-use-reference-of-a-reference-in-the-current-scope-cast-requires-that-1-must-outlive-static/83983, but I think it's worth an issue to improve the diagnostic hints.

Given the following code: [Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=08abbe0e089f86d6ce42dbaf93c30b4f)

[code]

The current outpu

[2022-11-09 15:26] jyn514 commented on #72536
I'm going to close this issue, it seems too broad. If you run into a specific tool that isn't respecting --test-args we can open an issue for that.

I do want to refactor all the test code to be consistent at some point; right now we copy paste a bunch of code in various places and it ends up with not all test suites supporting the same arguments. But that's a little different from what you have h

[2022-11-09 15:26] #72536 closed

[2022-11-09 15:32] apiraino commented on #104127
@twiclo one more thing: what happens if you run `cargo clean` before recompiling (after changing the code)?

[2022-11-09 15:39] jyn514 opened #104198 "Unify test code in bootstrap"
Right now, we copy paste a bunch of code in various places and it ends up with not all test suites supporting the same arguments. See for example https://github.com/rust-lang/rust/issues/66458. We should refactor all these Steps to use the same logic for the flags to pass to cargo.

https://github.com/rust-lang/rust/blob/131ef9580815329aa3647fa84d7c74769fefbccf/src/bootstrap/test.rs#L2448-L2464 is

[2022-11-09 15:43] jyn514 commented on #47606
One way to test compiletest is to add more UI tests that test compiletests' behavior, instead of rustc's. See for example https://github.com/rust-lang/rust/pull/103298/files#diff-6542cbbb7ad12df6cb2daadaf279589c5c1712906cd14222c03132ad5a49d590. I think using that instead of a new framework has several advantages:
- No need to set up a new testing framework
- Existing contributors are already famil

[2022-11-09 15:55] jyn514 opened #104200 "Support individual files for clippy tests"
Clippy is a special snowflake and uses `TESTNAME` to tell it how to run individual tests instead of an argument to compiletest. Currently the only way to run individual tests is with `TESTNAME=ice-6250 x test src/tools/clippy --bless`. We should support `x test src/tools/clippy/tests/ice-6250.rs` as well.

https://github.com/rust-lang/rust/pull/103266 will help simplify this a little by supporting