[2019-02-04 18:33] lzutao commented on #58134
I switched themes, but nothing changes.

Yes! Resizing to < 100% or to 110%, it will display the border
<details><summary>Click to display the image</summary>

![image](https://user-images.githubusercontent.com/15225902/52228722-adcc9b00-28e5-11e9-9237-1de27e86ca79.png)

</details>

but to 120%, the border disappeared.

[2019-02-04 18:37] shisoft opened #58164 "Runtime stack overflow that does not make any sense"
I am developing a B+ plus tree which its page size is controlled by generic typing arrays.

Before I put it on large scale, I did tried to write tests and it works. When I tried to set the page size as large as `240000`. I got stack overflow error. I have nailed the problem to one function and [write a test](https://github.com/ShisoftResearch/Nebuchadnezzar/blob/d7d554e33a3f75097ceb05a3e19c0aa3239

[2019-02-04 18:38] KrishnaSannasi opened #58165 "ICE on stable: Proc macro attribute usage with lazy_static"
Code:
Main crate:
[code]

Proc Macro Crate (telem_start)
[code]

Backtrace

[code]

[2019-02-04 18:40] KrishnaSannasi commented on #58165
Note:

If I change

[code]

to

[code]

It compiles fine

[2019-02-04 18:44] KrishnaSannasi commented on #58165
After doing a clean build, I am no longer able to reproduce the ICE

[2019-02-04 18:46] memoryruins commented on #58158
Minimized further:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1bb5dcf2258943899fed6a9628e28528
[code]

[2019-02-04 18:48] jonas-schievink commented on #58165
Sounds like an incr. comp. issue anyhow

[2019-02-04 19:11] steveklabnik commented on #56213
Tagging with T-doc to make sure we fix the book.

[2019-02-04 19:19] jonas-schievink commented on #58165
Yeah, these issues are just really hard to track down. If you find a way to reproduce this, please post it here.

[2019-02-04 19:40] KrishnaSannasi commented on #58165
Ok

[2019-02-04 20:40] the8472 opened #58168 "Rewire MMX intrinsics to SSE2 instructions"
GCC just implemented [rewiring the MMX intrinsics to 8byte SSE2 equivalents](https://gcc.gnu.org/ml/gcc-patches/2019-02/msg00061.html). Rust could do the same to avoid emitting MMX instructions and the associated pitfalls such as #57831 while still offering `__m64` vector types.

[2019-02-04 20:44] clarcharr commented on #49048
Irritatingly, rounding to negative infinity, positive infinity, zero, and absolute infinity are all different division methods, and so is

[2019-02-04 21:35] mark-i-m commented on #58099
I would like to take a stab at `librustc`. I had previously played around with it and found it annoying because bootstrap sets some env variables, but I think I might be able to get it this time.

[2019-02-04 21:45] nnethercote commented on #57829
I did a DHAT run. The "At t-gmax" measurement is the relevant one, it's short for "time of global max". It shows that the interning of constants within `TypeFolder` is accounting for over 54% of the global peak:
[code]

[2019-02-04 21:49] nnethercote commented on #57829
@eddby @oli-obk @RalfJung Any thoughts on how to improve `intern_lazy_const`?

[2019-02-04 22:21] RalfJung commented on #57829
Cc @eddyb

[2019-02-04 22:23] scottmcm commented on #54054
With `nth_back` landed, this is now a fairly-straightforward task to just override `nth_back` in double-ended iterators that have `nth` overridden already.

For example, the slice iterator has
https://github.com/rust-lang/rust/blob/8ae730a442cc8af6a487a137ae9ba78f89edbba6/src/libcore/slice/mod.rs#L3802-L3813

So it should probably have `nth_back` in its DEI implementation a few lines later:
https:

[2019-02-04 22:27] scottmcm opened #58170 "What degree of panic safety is expected for iterator adapters?"
What state(s) are iterator adapters allowed to be in after a panic, @rust-lang/libs?  Obviously they need to memory safe, but how many items are they expected to have consumed?  Is it even allowed to call `.next()` on an (un-fused) iterator after you called, say, `.find()` on it with a closure that panicked?

Asking because this has just come up in two PRs:
- https://github.com/rust-lang/rust/pull

[2019-02-04 22:33] pmccarter commented on #58030
Thanks for the help guys.

Currently the num module saturating_add() wrapper only uses the intrinsic for stage 1+, so the function can't just be marked as const because of the non const checked_add() call in the stage 0 compiler. Looks like other intrinsic calls don't need the stage guards so not sure what the issue is. Does this need to wait for the bootstrapping compile version to advance or som

[2019-02-04 22:53] nikic commented on #58030
@pmccarter I believe the way to handle this would be to move the cfg to cover the whole function. You'd have a stage0 variant that is non-const and also uses the old checked_add based implementation, and you'd have a not(stage0) variant that is const and uses the saturating_add intrinsic based implementation.

So basically instead of

[code]

you'd have

[code]

[2019-02-04 23:11] dbeckwith opened #58171 "Error duplicate definitions for impls on distinct associated types"
As a minimal example of the error I'm running into (using the [`typenum`](https://crates.io/crates/typenum) crate although I don't think it's specific to that):
[code]
gives
[code]
I think this might be related to #20400, but I'm not sure. I tried making a simpler reproduction on the [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=33581ec271cc2ee6ff28affdbb747

[2019-02-04 23:13] dbeckwith commented on #20400
@ZerothLaw could you explain your trick a bit? I think I'm running into this issue and am hoping for a workaround but I'm struggling to understand your example. If you could give some advice on how to apply that to the code in #58171 that would be great.

[2019-02-04 23:41] mark-i-m commented on #58099
Some notes as I'm working on this:

- Compiling librustc requires having some environment variables set. Currently, I'm using
[code]

- For some reason, I'm unable to compile benchmarks due to weird import errors with `libtest`. I'm assuming that these are caused by bootstrapping. In this case, I'm temporarily deleting the offending files...

- You will need to use the `--broken-code` flag. It tur

[2019-02-05 00:37] asomers commented on #58149
After more investigation, this looks like a QEMU issue.  At least, QEMU doesn't spit out enough information to prove otherwise.  The qemu process core dumps before it prints anything Rust-related.

[2019-02-05 00:37] #58149 closed

[2019-02-05 01:20] forrestthewoods opened #58174 "BinaryHeap example should show how to make a min-heap."
std::collections::BinaryHeap is a max-heap. A very common use case for users will be to make a min-heap. The basic example should include a min-heap.

[2019-02-05 02:11] briansmith commented on #45599
Doctests are integration tests so any solution for this problem should work for integration tests too.

I agree that we need a way to enable features that are available (only) to integration tests.

[2019-02-05 02:45] Susurrus commented on #57715
A problem that came up when implementing this is for implementing `Hash` for types that have floats or doubles in them. For the `fpreg_t` struct I did the following:
[code]

We should decide if we want to handle this: avoid it entirely for types that have floats or doubles, implement them like I did above, or sort out a "better" way to deal with hashing them.

[2019-02-05 05:19] calidion opened #58177 "how to convert to rust?"
c code:
[code]

[2019-02-05 05:53] ehuss opened #58178 "NLL compile-time performance regression"
NLL seems to cause a severe regression in compile time for code generated by the gll crate.

1. Check out https://github.com/rust-lang-nursery/wg-grammar.git  (current hash is e1d072a158a5d1f3d811bbd48bba3608bff1c99f).
2. `cargo build`. For me, takes about 1 minute.
3. Edit `src/lib.rs` and add `#![feature(nll)]`
4. `cargo build`.  For me, takes **77 minutes**.

gll generates a very large `parse.r

[2019-02-05 06:07] infinity0 commented on #52493
@mati865 yes exactly, I'll close it.

[2019-02-05 06:07] #52493 closed

[2019-02-05 06:14] Mark-Simulacrum commented on #58178
Cc @nnethercote @pnkfelix @nikomatsakis

[2019-02-05 06:40] In-line opened #58179 "Is there a way to get notified when feature becames stable?"
In my personal projects I use stable compiler and prefer not to switch to nightly. There are few lines in my code like this:
[code]

I usually use some workaround before feature becames stable. Is there an annotation or something which will give me warning, when feature became stable and encourage me to update my code?

It seems for me, good addition to have.

[2019-02-05 06:51] nagisa commented on #58179
Subscribe to the corresponding [`C-tracking-issue`](https://github.com/rust-lang/rust/issues?q=is%3Aopen+is%3Aissue+label%3AC-tracking-issue) issues.

[2019-02-05 06:53] nagisa commented on #58179
Oh and the Rust compiler *will* warn for most features that have been stabilised but still have a corresponding unnecessary `#![feature(...)]`. [Example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7dc4735ee496eaf6161a124b6b59b35f).

[2019-02-05 07:12] sfackler commented on #58170
I think I personally see this as an edge case a bit like leaking `vec::Drain` and the like. We definitely need to avoid allowing memory unsafety, but otherwise I think it's reasonable for the iterator to be in an unspecified state. `next` could continue to return values, it could return None, etc. In particular, I'd be fine with this behavior changing over time based on how we adjust the iterator'

[2019-02-05 07:13] hellow554 commented on #58174
Do you think you would be able to make a PR based on e.g. https://stackoverflow.com/questions/54489368/how-do-i-create-a-binaryheap-that-pops-the-smallest-value-not-the-largest ?

[2019-02-05 07:16] In-line commented on #58179
Hey, thanks for the response, but IMHO I don't agree with the idea of closing this issue.

1) Subscribing to the C-tracking-issue issues and manually checking code for updates is a bad idea. I'm asking about automatic solution.
2) I don't use nightly and code requiring feature in the most cases isn't written. A workaround is used.
3) This is the example, hypothetic use of the annotation I desire.

[2019-02-05 07:17] In-line commented on #58179
Friendly ping @nagisa

[2019-02-05 07:18] hellow554 commented on #58165
@KrishnaSannasi can you try renaming a variable between two builds? I had a similar issue with the same error message: https://github.com/rust-lang/rust/issues/57692

[2019-02-05 07:20] nagisa commented on #58177
This is a tracker for the issues in rustc. For support, consider posting your question on [users.rlo](https://users.rust-lang.org/), [stackoverflow](https://stackoverflow.com/), [reddit](https://www.reddit.com/r/rust/), or asking on one of the chat platforms: [#rust on irc.mozilla.org](https://www.rust-lang.org/en-US/community.html#irc-channels), [discord](https://discordapp.com/invite/aVESxV8) or

[2019-02-05 07:20] #58177 closed

[2019-02-05 07:20] nagisa commented on #58177
To answer your question, that type is equivalent to `[c_int; 10]` in rust.

[2019-02-05 07:21] hellow554 commented on #58164
I can't copy&paste your code. Can you please try to reformat it and take care of the line endings? :| Also it looks not like it would compile. Can you try to provide a [MCVE](https://stackoverflow.com/help/mcve)?

[2019-02-05 07:21] abonander commented on #58179
Given how much discussion can occur in some of these tracking issue threads, this is probably too noisy to be useful for someone who's just interested in the stability status.

I second using the `feature` flag to watch the status but it'll really only provide consistent updates if you're testing the project in CI, otherwise you have to remember to build under the nightly compiler from time to tim

[2019-02-05 07:37] Pzixel commented on #57640
Am I right that following code is not equal:

[code]

and

[code]

The first one fill panic when trying to create a future, while the second one will panic on first poll. If so, should we do something with it? It could be workarounded like

[code]

But it's much less convenient.

[2019-02-05 07:41] paulvt commented on #45599
Agreed. I am writing a crate that manages some devices via libusb. I would prefer if it wasn't necessary for me to connect a device to be able to perform doctests; the same actually also holds for the integration tests.

(If somebody known solutions for these kinds of issues and common ways to mitigate them, please let me know in private. Thanks in advance!)

[2019-02-05 07:43] hellow554 commented on #58158
Also note, that this "never worked" (I went back to nightly-2018-03-01, and even there it panics).

[2019-02-05 07:43] shisoft commented on #58164
@hellow554 I will try. But as I said, I was unable to replicate this issue from MCVE. Is there any way to diagnose this problem? Can I print the overflowed stack?

[2019-02-05 07:45] CAD97 commented on #57640
@Pzixel: this is a decision that has been made. `async fn` are fully lazy and don't run at all until polled, and thus capture all input lifetimes for the entire future lifetime. The workaround is a wrapping function returning `impl Future` being explicit, and using an `async` block (or fn). This is _required_ for stacking `Future` combinators without allocation in-between each one, as after the fi

[2019-02-05 07:47] hellow554 commented on #58164
You could try to use gdb to debug the problem. Maybe `ulimit -a unlimited` may help to solve the issue?

[2019-02-05 07:47] In-line commented on #58179
Thanks, for provided solution, but I don't like idea of relying on `nightly` builds, because they can fail. I'm sticking with the opinion to have dedicated annotation for this thing.

[2019-02-05 07:51] nnethercote commented on #57829
There is an obvious problem: `intern_lazy_const` doesn't intern the value! And the values passed are exceedingly repetitive. Here's a histogram of the top 10, which account for 97.2% of the calls:
[code]
Fixing this should drastically reduce the memory usage.

I tried doing the obvious thing by introducing `GlobalCtxt::lazy_const_interner`, heavily inspired by `GlobalCtxt::layout_interner`, but I

[2019-02-05 08:05] hellow554 commented on #58179
Reading the release notes also helps 😶

[2019-02-05 08:05] shisoft commented on #58164
I have run this test program individually and it have a core dump. But gdb does not show anything useful. Anything I can try?
[code]

[2019-02-05 08:07] zackmdavis commented on #57080
This still bit me yesterday.

[code]

#57082 only removed one of the two `--progress` arguments introduced in #56933. (I'm still on Ubuntu Xenial, which is still in service until 2021 and ships Git 2.7.4. I wonder if would it be too petty if I sent a PR to make bootstrap.py check the Git version in order to decide whether to pass `--progress`? I think it's convenient to be able to hack on `rustc`

[2019-02-05 08:07] alexcrichton commented on #58170
I personally feel the same way as @sfackler, I don't think we need to hold ourselves to any particular standard in the standard library other then "stay memory safe"

[2019-02-05 08:15] #52891 closed

[2019-02-05 08:35] bookofportals commented on #51451
Sorry for the lack of an update. I don’t have time for this at the moment. If I have a chance, I’ll open a PR with what I have although honestly it's mostly additions to the existing ones rather than anything new.

[2019-02-05 08:40] cramertj commented on #58099
@gnzlbg

I'd do this by making `stdsimd` edition-agnostic (compile on both editions). Then libcore can update to 2018 edition and `stdsimd` can follow.

[2019-02-05 08:54] estebank commented on #56132
I have philosophical disagreements with this idea, as I'd prefer the compiler to not need this (as I see it) _kludge_ and instead provide better diagnostics with more advanced inference, but I understand the pragmatic reasoning behind it. +1

[2019-02-05 09:15] shisoft commented on #58164
@hellow554 I just realized I have right tools for debugging. But the debug produced segment fault problem outside the scope of my code.
[code]

[2019-02-05 09:18] terhechte opened #58181 "Missing documentation for `String::split`"
`split` has the following to say regarding the types that the parameter `Pattern` can have:

However, another, undocumented, option is that the pattern can also be `[&str]` and then each split uses the next item from the slice. This is an awesome feature that is kinda difficult to figure out.

For reference:
https://news.ycombinator.com/item?id=19080404

[2019-02-05 09:21] hsivonen commented on #58023
I tried again with

[code]

in both the `Cargo.toml` for `encoding_bench` and the `Cargo.toml` for `encoding_rs`. For the previous benchmark run, I put it in the `Cargo.toml` for `encoding_bench` only. Having it also in the `Cargo.toml` of `encoding_rs` made no difference, so most likely the perf regression in comparison to the `simd` crate has nothing to do with incremental compilation.

I intend

[2019-02-05 09:45] jethrogb commented on #57754
Related: https://internals.rust-lang.org/t/something-wrong-with-local-cargo-doc-documents/9282 . If your search-index.js gets big enough, it can take several seconds to load during which the entire page hangs. I think this should be a high-priority issue.

[2019-02-05 09:49] QuietMisdreavus commented on #58154
I have a in-progress branch locally that i haven't pushed with this. The current idea is that you send an additional flag to rustdoc that makes it count items in the crate, and print something like the following instead of generating docs:

[code]

The reason it counts trait impls separately is because trait impls can have their own documentation, but if you don't add docs it inherits from the tra

[2019-02-05 09:59] estebank commented on #58179
It could make sense to have a dashboard view that collects the stability information for all features, as we already collect in the code meta information about stability state, since which version and tracking ticket information in order to provide error diagnostics. Having an analogous page to the [Error Index](https://doc.rust-lang.org/error-index.html) for features makes sense to me.

[2019-02-05 10:20] jonas-schievink commented on #58179
Instead of subscribing to the tracking issue, you can also use https://tellmewhenitcloses.com to get *one* email when the issue is closed (which happens when the feature is stabilized).

[2019-02-05 10:52] memoryruins commented on #58181
Thanks for reporting! A PR is currently open in #58172

[2019-02-05 11:12] hsivonen commented on #58023
It seems that incremental compilation isn't the cause of the regression. [The instructions generated for horizontal reductions are.](https://github.com/hsivonen/encoding_rs/issues/23#issuecomment-460599391)

[2019-02-05 11:12] #58023 closed

[2019-02-05 11:42] gnzlbg commented on #58099
Great idea!

[2019-02-05 11:52] pietroalbini commented on #58160
<details><summary>Task list when it spuriously fails:</summary>

[code]

[Full log](https://ci.appveyor.com/project/rust-lang/rust/builds/22130039/job/rrcldbj9re8q6asm)

</details>

[2019-02-05 11:55] gnzlbg commented on #58099
So I've applied `cargo fix` to `core_arch` and to `std_detect` and it reports zero changes, so porting libcore should just work. If someone wants to attempt to port libcore to the Rust2018 edition please ping me if you encounter any issues with `stdsimd`.

[2019-02-05 12:10] mati865 commented on #58163
Which Rust version are you using `rustc -vV`?

On latest nightly your example fails with:
[code]

Without `panic_handler(_)` it builds for both `gnu` and `musl`.

[2019-02-05 12:15] ssomers commented on #49367
On closer inspection, there are reasons to like and dislike multiple binding (as illustrated in [the introduction of SO_REUSEPORT](https://lwn.net/Articles/542629/). The reason multiple binding succeeds here is because TcpListener.bind in [libstd/sys_common/net.rs](https://github.com/rust-lang/rust/tree/master/src/libstd/sys_common/net.rs) sets the SO_REUSEADDR socket option. What this is supposed

[2019-02-05 12:41] jgriebler commented on #58163
Ah, I forgot to mention that `libc` needs `default-features = false` so that it doesn't link `std` implicitly. I'll attach my `Cargo.toml` to the issue description.

I tried it with both 1.32.0 and the latest nightly.

[2019-02-05 12:46] taiki-e commented on #58099
I'm currently working on the transition of `libstd`, but I'd like to work on the transition of `libcore` if that is over (If someone else is not working on it).

[2019-02-05 13:12] SimonSapin opened #58184 "Stabilize (only) the never type"
This is an alternative to https://github.com/rust-lang/rust/issues/57012 that does not propose changing the type inference fallback (yet). This unblocks `TryFrom` and `TryInto` https://github.com/rust-lang/rust/issues/33417.

#49593 has now been fixed. This was the reason for the previous revert of stabilization (#50121).

## What is being stabilized

* `!` is now a full-fledged type and can now b

[2019-02-05 13:22] GuillaumeGomez commented on #26075
Fixed by #57552.

[2019-02-05 13:22] #26075 closed

[2019-02-05 13:40] withoutboats commented on #58184
@rfcbot fcp merge

There is currently a lack of consensus regarding the change to fallback and how to handle edge case breakages. I don't believe there is any reason this change has to be tied together with making `!` usable from stable, for which we have a strong consensus and a lot of groundwork laid. I think its a reasonable way to move forward for us to separate these two changes, so we can st

[2019-02-05 13:46] SimonSapin commented on #58184
It was pointed out to be that `#![feature(never_type)]` changes inference in current Nightly. I’ve edited the proposal to mention moving that to a new feature gate.

[2019-02-05 13:51] SimonSapin commented on #26075
And https://github.com/rust-lang/rust/pull/58185

[2019-02-05 14:00] estebank commented on #54771
@cramertj closure output is already problematic for the simple case there too:

[code]

[2019-02-05 14:16] GuillaumeGomez commented on #58154
Maybe not but at least it allows to have an easy option to directly get a documentation coverage result.

[2019-02-05 14:33] markrendle commented on #57640
C# developer here, and I'm going to advocate for the prefix style, so get ready to downvote.

Postfix syntax with a dot (`read().await` or `read().await()`) is very misleading and suggests a field access or method invocation, and `await` is not either of those things; it's a language feature. I'm not a seasoned Rustacean by any means, but I'm not aware of any other `.something` cases that are effe

[2019-02-05 14:40] mati865 commented on #58163
When using native no_std gnu target required symbols come from `"-lc"
"-lm" "-lrt" "-lpthread" "-lutil" "-lutil"` linker arguments.
When cross compiling to musl Rust provides those symbols built in `liblibc` to make it easier but with no_std `liblibc` is not included anymore resulting in undefined symbols error.

Manually adding `~/.rustup/toolchains/nightly-x86_64-unknown-linux-gnu/lib/rustlib/x8

[2019-02-05 14:46] miquels commented on #47955
I have hit the same issue, and to test it I put together a small stand-alone reproducer: https://gist.github.com/miquels/c47316f7b19a0af3d9927bafef94de35

If I build and run this on debian 9/stretch, it shows the buggy behaviour. If I then run the _same_ binary on debian 10/buster (aka "testing", not released yet) it works as expected.

debian 9/stretch glibc version: 2.24
debian 10/buster glibc v

[2019-02-05 14:50] pitdicker commented on #42036
A simple explanation of the security problem: https://flylib.com/books/en/1.287.1.242/1/.

What could be a problem with setting these flags always: the flag `SECURITY_SQOS_PRESENT` is the same as `FILE_FLAG_OPEN_NO_RECALL`. The first is supposed to be used with named pipes, the other for files and directories. So if we start to unconditionally add `SECURITY_SQOS_PRESENT|SECURITY_IDENTIFICATION`, i

[2019-02-05 15:11] dlrobertson commented on #57876
Looks like this was introduced by https://github.com/rust-lang/rust/pull/55257, but the reasoning for the change seems sound. I think the handling of a static `Place` in [codegen_place](https://github.com/rust-lang/rust/blob/master/src/librustc_codegen_ssa/mir/place.rs#L424-L425) should properly handle unsized types.

[2019-02-05 15:11] kjeremy opened #58188 "Adding comment to function causes "overflow evaluating the requirement""
Discovered when running `cargo check` on `rust-analyzer`. The command succeeds but adding a comment before (as in `// this is a comment` before https://github.com/rust-analyzer/rust-analyzer/blob/88702a758f031f33452e9acac621841552ec9f8a/crates/ra_lsp_server/src/main_loop/handlers.rs#L695

causes

    Checking ra_lsp_server v0.1.0 (C:\projects\test\rust-analyzer\crates\ra_lsp_server)
error[E0275]:

[2019-02-05 15:39] arielb1 commented on #57012
BTW, `mem::uninitialized::<!>()` causes a panic today, not an `unreachable`.

[2019-02-05 15:44] GuillaumeGomez opened #58190 "Add button to switch between std docs version on doc.rust-lang.org"

[2019-02-05 15:55] joshlf commented on #58041
The sorts of elisions that you cite (such as eliding back-to-back sequential stores) affect neither security nor correctness. They don't affect security since all we're trying to avoid is UB, and LLVM says it's not UB to use atomic operations on memory which is being concurrently modified. They don't affect correctness because, in the case of eliding back-to-back sequential stores, a) the current

[2019-02-05 16:04] arielb1 commented on #57012
Two things:

1.

According to @SimonSapin, there's a popular-on-mac `objc` crate that does the equivalent of:
[code]

In that case, calling `foo` with ` T = !` is completely "well-defined" to mean `foo` having a `_Noreturn` attribute, which is not what we want! We need some way to deal with it (we already have a "defaulted unit" flag on unit tuples, we can make it a future-compat lint to call an F

[2019-02-05 16:11] cramertj commented on #58184
@rfcbot concern motivation-to-change-fallback

I'm concerned that if we stabilize `!` now without the fallback change then there won't be sufficient motivation for us to land the fallback change later, and we'll lose out on a feature that would have made the language better. IMO we should go ahead with the full stabilization-- there are inference changes that we don't currently warn against, but w

[2019-02-05 16:15] Pzixel commented on #57640
@markrendle I'm C# dev too, writing `async/await` since 2013. And I like prefix too. But Rust differs a lot.

You probably know that your `(await Foo()).ToList()` is a rare case. In most cases you just write `await Foo()`, and if you need another type you're probably want to fix the `Foo` signature.

But rust is another thing. We have `?` here and we have to propagate errors. In C# async/await aut

[2019-02-05 17:57] arielb1 commented on #57012
@rfcbot concern indirect-coherence-breakage

If we stabilize `!` without implementing `From<!> for T`, it will be possible for people to rely on `From<!> for MyLocalType` it not being implemented:

[code]

Therefore, if we want to keep the ability to implement `From<!> for T`, we need to prevent people from relying on that sort of "indirect coherence". I see two feasible ways to do that:
1. Make a

[2019-02-05 18:03] eddyb commented on #57012
@rfcbot concern indirect-coherence-breakage

<hr/>

*Originally raised by @arielb1 in https://github.com/rust-lang/rust/issues/57012#issuecomment-460738555 (i.e. I'm doing manual @rfcbot delegation, let me know if there's a better way to do this)*

<hr/>

If we stabilize `!` without implementing `From<!> for T`, it will be possible for people to rely on `From<!> for MyLocalType` it not being imple

[2019-02-05 18:22] arielb1 commented on #57012
The situation with the `objc` crate is worse than we thought. It performs the following thing:
[code]

This means it's creating the equivalent of a `Result<!, MessageError>`, which looks 100% innocent - *as long as you are not actually returning an `Ok`*! So I can't think of a way to lint against it.

[2019-02-05 18:34] arielb1 commented on #57012
This is basically isomorphic to `try!(Err(MyError))`, which is definitely an OK example.

OTOH, I noticed that the unreachable code warning isn't kicking in in this case.

[2019-02-05 18:56] lnicola commented on #58164
If you're declaring or returning large local variables, they might overflow the stack. The default stack size is 8 MB or so on Linux and 2 MB (IIRC) on Windows. Your array might be larger than that.

Note that I haven't looked at your original code.

[2019-02-05 19:08] shisoft commented on #58164
@lnicola Yes, there are functions returning large variables. This can explain the problem. Guess I should allocate pages on heaps instead. Thanks.

[2019-02-05 19:08] #58164 closed

[2019-02-05 19:10] Centril commented on #58184
@rfcbot concern eddybs-concern-on-the-other-issue

See https://github.com/rust-lang/rust/issues/57012#issuecomment-460740678.

[2019-02-05 19:11] #57735 closed

[2019-02-05 19:12] #58101 closed

[2019-02-05 19:15] spcan opened #58194 "Explicit underflow allowed in match"
In the code below, when matching an `usize`, the compiler allows for explicit underflow of said `usize` with no compiler error. As you can see this underflow is very explicit and the compiler should be able to notice this. Explicit overflows are also allowed by the compiler.

What is the "supposed" behaviour (or undefined behaviour) for this underflow and what kind of runtime error should I expect

[2019-02-05 19:21] jonas-schievink commented on #58194
Please direct questions to the user forum at https://users.rust-lang.org/ or another place (eg. the Discord or IRC). This issue tracker is meant for bugs only.

[2019-02-05 19:21] #58194 closed

[2019-02-05 19:41] diwic opened #58195 "Generator example does not compile"
Here's an example:

 https://doc.rust-lang.org/std/ops/trait.Generator.html

Trying to compile it with nightly@play.rust-lang.org (2019-02-04) yields (heh) the following errors:

    error[E0599]: no method named `resume` found for type `[generator@src/main.rs:7:25: 10:6 _]` in the current scope
    error[E0698]: type inside generator must be known in this context

For reference, here's the exampl

[2019-02-05 20:35] vi commented on #55940
Why no `Instant::checked_duration_since`?

[2019-02-05 20:36] dtolnay commented on #43081
@eddyb had some ideas at the Rust All Hands for how to fix this. As I understand it, we want to treat `cfg` eliminations and other manipulations of the syntax tree as overlays, with each overlay also carrying a token range that identifies the contiguous group of source tokens involved. This overlay mechanism already exists to some extent but is collapsed at some point in a way that is not informat

[2019-02-05 20:39] koalatux commented on #54054
Thanks, I will look into implementing some of the `nth_back` specializations soon. This sounds a promising task to get familiar with libstd.

[2019-02-05 20:45] jonas-schievink commented on #58188
Can reproduce. Starts working again after running `cargo clean`, so marking as incr. comp. bug

[2019-02-05 20:52] taiki-e commented on #58195
The implementation of Generator has been changed in #55704.

The nightly document has the latest example: https://doc.rust-lang.org/nightly/std/ops/trait.Generator.html

[2019-02-05 21:09] bossmc commented on #34701
I've done a bit of prototyping on this to see what would be involved in using `instrprof` for coverage, and it's revealed (to me) that the coverage aspect of this feature is secondary to the "Profile Guided Optimization" feature that `instrprof` was originally written for.

So, here's a vague "plan of action" (with progress so far) to enable PGO and LLVM-assisted coverage:

* [x] Add frontend-guid

[2019-02-05 21:22] jonas-schievink commented on #58188
Ah, looks like this is already fixed on nightly though. Can someone confirm?

[2019-02-05 21:30] RalfJung opened #58201 "Box::new(uninitialized) creates a big alloca"
The following code

[code]

generates some really awful LLVM IR:

[code]

The same happens with `std::mem::MaybeUninit::uninitialized()`.

Cc @arielb1, who made me write these tests, and @rust-lang/wg-codegen

[2019-02-05 21:57] nnethercote commented on #39915
Just the external lld binary, IIUC.

[2019-02-05 22:09] #57806 closed

[2019-02-06 00:14] Kalanamith opened #58205 "How to create dynamic objects in Rust?"
Like in C# language is it possible to create a dynamic object and is it possible to dynamically add and remove members in run time?

[2019-02-06 01:03] MarcelBlanck opened #58206 "rustdoc: trait.Iterator.html way to huge?"
https://doc.rust-lang.org/std/iter/trait.Iterator.html lags badly when opened in the Chrome browser. After a minute or two it is fully loaded and ok. In Firefox it is fully working after a few seconds.

But even if it works in Firefox, I have the impression that the page contains accidentally, excessively duplicated entries under Implementors? e.g. when I search for "collect" I find a lot under Im

[2019-02-06 01:04] nnethercote commented on #58178
Thank you for the detailed steps to reproduce. I had to use `cargo +nightly build` and then I can confirm the results: 55 seconds for a normal build, 61 minutes for an NLL build.

`perf top` also agrees that `find_outlives_blame_span` (or something inlined into it) is the problem.

The generated `parse.rs` file contains one function (`parse`) that is 16,000 lines. I wonder if that's the root of th

[2019-02-06 03:08] nnethercote commented on #58178
I did some [ad hoc profiling](https://blog.mozilla.org/nnethercote/2018/07/24/ad-hoc-profiling/) on a partial run and found that `find_constraint_paths_between_regions` is the critical function. It has an outer loop that is hot and an inner loop that is even hotter.

Here is a partial histogram showing the distribution of loop counts for the inner loop:
[code]
Here is the weighted version of the s

[2019-02-06 03:34] nnethercote commented on #58178
Another data point: the length of `context` (i.e. the number of definitions) is 63577 in the dominant case. I guess this is probably coming from the huge `parse` function. And then we're calling this function lots of times for `parse`, so it's basically quadratic.

[2019-02-06 04:33] ehuss commented on #58178
Thanks for taking a look.  It's tricky to create an isolated reproduction.  One approach as you mentioned is to just use a smaller grammar.  Delete all the files in `grammar/` and create a new one (name it `foo.lyg` or whatever) with these contents: [foo.lyg](https://gist.github.com/ehuss/dcbde9df0157feda44b4e40774ac81a6). (You can delete more lines if that is still too slow.)  For me, the non-nll

[2019-02-06 05:37] nnethercote commented on #58178
I did a Cachegrind run using a cut-down version of foo.lyg. It basically confirmed everything I found above. The cost of traversing the constraint graph is a bit higher than I expected, as these lines show:
[code]
and
[code]
(It's extremely rare to see 25% or 13% of all instructions attributed to a single line of code!)

I can see one or two opportunities to improve things a little, but they'll on

[2019-02-06 05:59] jethrogb commented on #46989
I tried reading PR #55517 but I have no clue what it does. Can someone (@eddyb @nikomatsakis @scalexm ?) elaborate and also say whether the resulting change to the behavior observed here was intentional? We have about 3 weeks to revert the behavior from beta before it becomes stable.

[2019-02-06 05:59] kennytm opened #58209 "Spurious SIGILL (signal 4) when linking with `cc` on macOS during doctest"
Symptom: The Linker crashes with signal 4, e.g.

[code]

Previous instances:

| Date | URL | Failing test |
|----|----|----|
| 2018-08-31T21:30:20Z | https://github.com/rust-lang/rust/pull/53533#issuecomment-417794193 | alloc.rs - alloc::alloc (line 62) |
| 2018-09-29T19:38:06Z | https://github.com/rust-lang/rust/pull/54601#issuecomment-425670539 | hex.rs - hex::[u8]::to_hex (line 32) |
| 2018-10-

[2019-02-06 06:01] #58054 closed

[2019-02-06 07:13] hellow554 commented on #58206
Dup of https://github.com/rust-lang/rust/issues/55900 and https://github.com/rust-lang/rust/issues/57754

[2019-02-06 07:14] hellow554 commented on #58205
Please ask questions on the user forum (https://users.rust-lang.org) or use Stackoverflow.

[2019-02-06 07:15] #58205 closed

[2019-02-06 08:08] nnethercote commented on #58178
#58210 is really simple but reduces instruction counts by 22% and wall-time by 8% for compilation of my cut-down version of `foo.lyg`.

[2019-02-06 08:53] joshtriplett commented on #39915
@nnethercote Is there another issue for tracking the use of an internal linker, or should I file a separate issue for that?

[2019-02-06 09:24] lqd commented on #58178
@matthewjasper and I have also been looking at this, and removing the call to `find_outlives_blame_span` [here](https://github.com/rust-lang/rust/blob/b2c6b8c29f13f8d1f242da89e587960b95337819/src/librustc_mir/borrow_check/nll/region_infer/mod.rs#L1173) shows it's indeed too costly of a function to be called thousands of time (but _that_ should IIUC only happen rarely: when checking huge closures l

[2019-02-06 09:25] nnethercote commented on #39915
I haven't heard of the internal linker idea before. I'm not aware of a PR for it.

[2019-02-06 09:29] varkor commented on #54840
cc @alexreg

[2019-02-06 09:38] michaelwoerister commented on #58155
This is where query results are stored to the on-disk cache:
https://github.com/rust-lang/rust/blob/2596bc1368d1e3d34c9a7841ad87a3100f01cbad/src/librustc/ty/query/on_disk_cache.rs#L204-L248

Since almost all query results have to be serialized now, it would probably make sense to implement this in the query definition macro in `plumbing.rs` (or something that walks all query tables).

[2019-02-06 09:40] michaelwoerister commented on #58155
This is where the red-green system does the check whether something is red or green:
https://github.com/rust-lang/rust/blob/2596bc1368d1e3d34c9a7841ad87a3100f01cbad/src/librustc/dep_graph/graph.rs#L284-L299

[2019-02-06 09:42] mati865 commented on #39915
https://github.com/rust-lang/rust/pull/57514 prepared ground for using LLD to link LLVM.

[2019-02-06 09:50] ecstatic-morse commented on #36450
@steveklabnik. This was completed in #53783. All functions in `std::ptr` now state their alignment requirements in the "Safety" section.

[2019-02-06 09:53] kurnevsky commented on #21906
Stumbled upon this issue trying to do something very similar:

[code]

[2019-02-06 09:54] michaelwoerister commented on #58155
This is where types are created:
https://github.com/rust-lang/rust/blob/2efa31b2d9bf171fecd294b8e0126d8ffdb453e3/src/librustc/ty/context.rs#L2454-L2457

There would have to be an alternative method that fails if the thing is not in the interner yet. Ideally `intern_ty` is updated to support both options:
https://github.com/rust-lang/rust/blob/2efa31b2d9bf171fecd294b8e0126d8ffdb453e3/src/librustc/t

[2019-02-06 09:55] #36450 closed

[2019-02-06 09:56] steveklabnik commented on #36450
Thank you!

[2019-02-06 09:57] zackmdavis commented on #53934
A _CodeSuggestion_ can have multiple mutually-exclusive _Substitutions_, each of which has _parts_. Each _CodeSuggestion_ becomes an element in the `children` field in the serialized `Diagnostic`

**Current** layout for diagnostic with one suggestion with multiple substitutions—
 * `children` has one element
 * each of `children[0].spans` is one of the distinct, mutually-exclusive substitutions

*

[2019-02-06 10:05] Byter09 opened #58211 "Allowing a lint in a deny'd group via cli flags"
Hello.

So at first I thought this was a Clippy issue as can be seen here: https://github.com/rust-lang/rust-clippy/issues/3745.

Turns out this is a RustC issue. So the problem is, that we have a lot of smaller projects that are not in a workspace but still want a unified list of lints that are denied or allowed. Adding this list to every `lib.rs` or `main.rs` is not viable as this would require

[2019-02-06 10:11] RalfJung commented on #52186
Cc @Mark-Simulacrum

[2019-02-06 10:12] RalfJung commented on #52186
Note that it fails in stage 1 as well -- both of these fail:
[code]

[code]

[2019-02-06 10:14] TechPriest opened #58212 "ICE on generic trait impl for aliased array type"
Following snippet is sufficient to trigger an ICE on both stable 1.32 and nightly 1.34
[code]
## Meta
rustc 1.32.0 (9fda7c223 2019-01-16) running on x86_64-pc-windows-msvc

Backtrace:
[code]

[2019-02-06 10:18] killercup commented on #53934
[notes from all hands meeting](https://paper.dropbox.com/doc/rustfix-vs.-multiple-suggestions--AXAt54HMFJAUUBvv44_HzXXkAg-vi1GgrEliuT9vMSDlcX6q)

[2019-02-06 10:46] joshlf commented on #49347
Any update on this? I'd like to use this on stable.

[2019-02-06 11:01] dtolnay commented on #58170
I agree. I would like for this to be called out briefly in the std::iter module doc, which currently does not mention panic.

[2019-02-06 11:02] matthewjasper commented on #56254
@RalfJung

This doesn't seem to be as bad as you're saying. Just to be clear, what is your objection to the following, apart from being ad hoc.

The actual change that we need (for now) is that creating a two-phase borrow doesn't unfreeze the stack if it does not pop anything else from it. So if we create a two-phase borrow with tag 10 at timestamp 100, from a unique reference with tag 2 the stack

[2019-02-06 11:29] joshlf opened #58214 "Compiler requires redundant trait bounds which should be inferrable"
The following program should compile, [but doesn't](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4bd09b30473286ae681c13e7f7e3b8f6):

[code]

In particular, `rustc` seems unable to infer that the `T: Foo` bound in each of the two impl blocks implies that `<T as Iterator>::Item: Clone`:

[code]

If, however, we take `rustc`'s advice and add `where <T as Iterator>::Item: Cl

[2019-02-06 11:34] jonas-schievink commented on #58214
This is a known issue, rustc was never able to propagate bounds like this. Blocked on chalk AFAIK, and also might need an RFC.

[2019-02-06 11:37] joshlf commented on #58214
Gotcha. Is this tracked in an issue somewhere so I can close as a duplicate of that?

[2019-02-06 11:55] RalfJung opened #58215 "Tracking issue for str::as_mut_ptr"
This is a tracking issue for `str::as_mut_ptr`:
[code]

Implemented in https://github.com/rust-lang/rust/pull/58200

[2019-02-06 12:29] jonas-schievink commented on #58214
I know we've closed a few dupes of this, but I don't know if there's a canonical issue for this

[2019-02-06 12:43] hellow554 commented on #58212
Minified it a little bit. If one remove the `: Self` it does not ICE.

[code]

[2019-02-06 12:52] hellow554 commented on #58212
The bug also happens on beta (of course).
Nightly-2017-09-01 does not ICE, nightly-2017-10-01 does. But I'm not sure if that's the same error. Let me know if I should bisect that further.

[code]

[2019-02-06 13:43] arielb1 commented on #58212
cc @oli-obk

[2019-02-06 14:10] varkor commented on #58214
This is [implied bounds](https://github.com/rust-lang/rust/issues/44491).

[2019-02-06 14:10] #58214 closed

[2019-02-06 14:21] hellow554 commented on #57127
@xfix

Should be \`Iterator::copied'` :)

[2019-02-06 14:27] euclio opened #58226 "rustdoc code wrapping is sometimes too eager"
Documenting the following file:

[code]

The source displays as:

![screen shot 2019-02-06 at 9 26 51 am](https://user-images.githubusercontent.com/1372438/52348044-62071800-29f1-11e9-99a2-ce8fbcdfa7a3.png)

I expected the source to wrap at around 80 characters.

I'm working on a fix.

[2019-02-06 14:47] xfix commented on #57127
@hellow554 Fixed.

[2019-02-06 14:52] elichai commented on #43081
Just so I understand. this issue is about the Span?
If so is it even close to solving? Because This gives me a lot of problems in my attribute macro, every error in the function is shown like it's on the macro.

u.e.
[code]

[2019-02-06 15:09] Stargateur commented on #58177
For the record: https://stackoverflow.com/q/54527297/7076153

[2019-02-06 15:16] bossmc commented on #34701
* Proc-macros (and the built-in `#derive`s) need care too - the expanded code coverage is potentially uninteresting (if you trust the `proc-macro`) or critical (if you don't).
* Basically anywhere where rustc does "codegen" above and beyond what the user wrote needs to be thought about quite carefully.

[2019-02-06 15:23] GuillaumeGomez opened #58229 "[rustdoc search] Add search into struct fields/enum variants"
Add a fourth tab.

[2019-02-06 15:25] GuillaumeGomez opened #58230 "[rustdoc search] Search into parameters might not be as efficient as expected?"
To be confirmed.

[2019-02-06 15:27] igowen opened #58231 "Trait bound on associated type causes confusing compilation error"
This code fails to compile:

[code]

[code]

The error is confusing because `Self::Item` is `i32`. Furthermore, changing the bound on `P` to the suggested bound (setting aside the fact that this is a trait impl so imposing additional bounds isn't necessarily appropriate) yields an even more confusing error:

[code]

Adding an additional type parameter to the fn and using that as the bound on `P::A

[2019-02-06 15:36] diwic commented on #58195
Thanks for the info! And sorry for the noise.

[2019-02-06 15:36] #58195 closed

[2019-02-06 15:58] ehuss commented on #53934
I'm still having a hard time understanding the issue here.  For the multiple-candidates case, it is not machine applicable. How does that confuse rustfix?  Shouldn't it just be ignoring those?

I'm not a fan of splitting into multiple children because it causes the message to be duplicated multiple times, and there's no simple way to know how they should be combined.

[2019-02-06 16:01] jonhoo commented on #57966
As an addendum to this, this problem gets even weirder if `has_a_macro` has a submodule that is specifically in a different file, and which wants to call `a_macro`. Then, the macro has to be declared `#[macro_export]` (even though it won't be exported across crate boundaries), and the `use` in the submodule has to be `use crate::a_macro`. Neither `super::a_macro` nor `crate::has_a_macro::a_macro`

[2019-02-06 16:08] arielb1 commented on #27487
This is indeed intentionally fixed by NLL. `&mut FragmentRepr` can't possibly have drop glue (it is `Copy`).

[2019-02-06 16:13] arielb1 commented on #27487
keywords: "copy-vs-move", "orphaned borrow". I seriously need to find the root test for this.

[2019-02-06 16:17] arielb1 commented on #27487
duplicate of #46361

[2019-02-06 16:17] arielb1 commented on #27487
The test is
https://github.com/rust-lang/rust/blob/b139669f374eb5024a50eb13f116ff763b1c5935/src/test/run-pass/nll/mutating_references.rs#L1-L26

[2019-02-06 16:18] arielb1 commented on #46361
keywords: copy-vs-move, copy vs move, orphaned borrow, overwriting reference

[2019-02-06 16:21] arielb1 commented on #26577
Fixed in #57381, so soft-duplicate of #57348. I think it's better to add a test for the non-if-then-else case.

[2019-02-06 16:45] Mark-Simulacrum opened #58234 "Tracking issue for PathBuf capacity methods"
- `capacity`
 - `with_capacity`
 - `clear`
 - `reserve`
 - `reserve_exact`
 - `shrink_to_fit`
 - `shrink_to`, should probably not be stabilized before [`OsString::shrink_to`](https://doc.rust-lang.org/nightly/std/ffi/struct.OsString.html#method.shrink_to), see https://github.com/rust-lang/rust/issues/56431

[2019-02-06 17:12] arielb1 commented on #57431
So the issue here is with the coercion, not with match ergonomics.

[code]

Also, plz no parsing Rust with regular expressions:
[code]

[2019-02-06 17:57] igowen commented on #58231
also found #57905 & #32722 which seem similar but it's unclear to me if they are the same underlying issue.

[2019-02-06 18:35] euclio commented on #55791
I don't think we can add a prefix to the heading links, because that would break any external links that are pointing to the docs.

We could add tags to the CSS selectors, which would increase the specificity, but has the downside that then the CSS must be updated if the tag associated with the ID changes. Also, we still have an issue that IDs used on the page could conflict with the heading IDs.

[2019-02-06 18:36] alexreg commented on #54840
Yeah, `impl Trait` in bindings is horribly broken. I’ll be sure to add this as a test case when I get back to work on it next week or so.

[2019-02-06 18:46] mark-i-m commented on #58099
@Centril It looks like the checklist needs to be updated.

[2019-02-06 19:38] SimonSapin commented on #58215
Given that the implementation is trivial I don’t think letting it "bake" in Nightly is any use. And since `[T]` already has this method and `str` already has the `*const` version of this, I don’t expect this to be controversial at all. Still, let’s go through the usual dance:

@rfcbot fcp merge

[2019-02-06 20:07] aaronstillwell commented on #58234
Happy to take this as a first contribution to rust.

[2019-02-06 20:14] Nemo157 opened #58244 "rustdoc doesn't show implementations of traits when receiver is behind a #[fundamental] type"
For this block of code

[code]

`rustdoc` shows the first two implementations in the documentation for `F`, but the third implementation doesn't appear anywhere.

With the stabilization of `Pin` (another `#[fundamental]` wrapper type) this may be much more of an issue, implementing a trait for `Pin<&mut ...>` is going to be common for traits that interact with pinning (implementations defined in t

[2019-02-06 20:35] mitchdenny commented on #44931
Hi folks - I'm from the Azure Artifacts team. We support private package registries for a bunch of protocols including Maven, PyPi, NuGet and NPM. Some folks have started asking us about support crates. We are interested in learning more about the way you are approaching extensibility.

[2019-02-06 20:44] Mark-Simulacrum commented on #58234
Great! I'd be happy to help you get started, just let me know if you want mentoring/instructions at any level!

[2019-02-06 22:54] GuillaumeGomez opened #58248 "[rustdoc] image link in "all items" page doesn't work"

[2019-02-06 23:16] eddyb opened #58249 "Investigate FxHash low-order bit quality when hashing aligned addresses."
We might be producing hashes that always have lowest N bits zeroed.
cc @Amanieu @Zoxc

[2019-02-06 23:51] briansmith commented on #44524
I came across this issue when converting my code to Rust 2018 edition. I have lots of code that elides lifetimes in parameters and the `rustfix` tool suggested I change many to lifetimes explicitly annotated. However, consider this refactoring:

Initial code:
[code]

My understanding is that omitting the lifetime parameters like that is deprecated and `cargo fix --edition-idioms` rewrites `f` as:

[2019-02-07 05:53] jasonbking commented on #55553
After resolving some other issues, we've started working on this.  One issue we've run into though, is with the current rust beta, one cannot merely define a new target spec and then build rust to support that target, as there are now interdependencies with other crates during the build (libc particularly, though it also looks like num_cpus and rand are also needed).  It seems unlikely we could co

[2019-02-07 05:59] Mark-Simulacrum commented on #58249
Cc @nnethercote as well, who I believe pulled FxHash from Firefox originally...

[2019-02-07 08:15] cramertj commented on #44524
@briansmith The difference I see between those two is that `S<A>` is already visibly generic and dependent upon a type argument that may have a non-`'static` lifetime. `S`, on the other hand, has no visible parameters and so it may not be obvious that it could be non-`'static`.

[2019-02-07 09:37] hsivonen commented on #57829
FWIW, without the in-flight fix here, a [relatively small tweak to `packed_simd`](https://github.com/rust-lang-nursery/packed_simd/pull/219) made `packed_simd` uncompilable on an ARMv7 system whose `/proc/meminfo` says there's 3624684 kB of RAM plus some swap. (And a Chrome OS kernel; I don't know what kind of swap use policy Chrome OS applies.)

I'll test again once the fix for this issue is in n

[2019-02-07 09:48] #58121 closed

[2019-02-07 09:49] #57876 closed

[2019-02-07 09:58] pnkfelix commented on #43924
cc #29661

[2019-02-07 10:22] estebank commented on #58178
@lqd could `find_outlives_blame_span` be called optionally if we could verify ahead of time what the search space is? That way for the common case we still get the nicer error messages with a reasonable level of slowness, while keeping the running time constrained in the worst cases.

[2019-02-07 10:46] Nemo157 commented on #44524
Re-https://github.com/briansmith/ring/issues/767 the new "idiomatic" way to write that signature is

[code]

which makes it explicit that the passed `aad` parameter has a lifetime, but that it is not involved in the output (same as `key` does semi-implicitly with the `&`). If `cargo fix` suggested to turn `Aad` into `Aad<'a>` there instead then that is a bug in the lint.

[2019-02-07 10:50] GuillaumeGomez opened #58263 "[rustdoc] push history shouldn't default to "std""
`history.replaceState(""", "std - Rust", "?search=");`

[2019-02-07 10:58] jonas-schievink commented on #53729
`debug_assertions` is enabled depending on the Cargo profile in use. By default `cargo build` and `cargo test` will set it, while `cargo build --release` won't.

Support for `cfg_attr` to apply multiple attributes is coming with the next Rust version, 1.33.0, so I'll close this since this seems solved.

[2019-02-07 10:58] #53729 closed

[2019-02-07 11:25] alexcrichton commented on #44931
@mitchdenny hello! You'll probably want to take a look at https://github.com/rust-lang/cargo/issues/6589 which is being proposed for stabilization. If there's something though that's missing, please let us know!

[2019-02-07 11:29] lqd commented on #58178
@estebank seems possible to have such a threshold if need be yeah. But Matthew (who, unlike me, has worked on this part of the code before — and which Niko wrote IIRC) also mentioned on Zulip there are other ways to get this diagnostics information.

(Oh and in the little experiment I mentioned earlier, the "worse diagnostics" weren't terrible or anything)

[2019-02-07 11:55] dhardy opened #58264 "Type derivation failure"
The following example fails with this error:
[code]

Example:

[code]

If you remove the `ER` parameter here, and all bounds on it, compilation succeeds. Likewise, if you remove the bound on `E`, compilation succeeds.

Obviously some of the parameters/bounds are redundant, but I'm generating code like this from a macro which doesn't know how to interpret extra bounds like `E: H<R = NR>` and must i

[2019-02-07 13:36] arielb1 commented on #55976
Reduced to its essence:

[code]

[2019-02-07 13:57] taeguk opened #58268 "Add some crates sources to "rust-src" distribution."
In `IntelliJ-Rust` and `rls-vscode`, `rust-src` component is used to acquire standard crates sources.
But, in currently, `librustc`, `librustc_plugin`, and `libsyntax` are emitted in the list below.
https://github.com/rust-lang/rust/blob/ad433894abd4231fb2102416a520ae995ee09aed/src/bootstrap/dist.rs#L889
So, syntax highlighting and code completion are not working when using those crates in `Intell

[2019-02-07 14:19] estebank opened #58270 "Span off-by-one error in diagnostics"
When two diagnostic spans are of the same width/location (effectively the same) and only one of them has a label, the output is the same as for a single one. There's a corner case where having a zero-width span (which get's rendered as a 1-char-wide span) fall in the same place as a 1-char-wide span without a label, resulting in the following output:

[code]

This should instead be

[code]

[2019-02-07 14:45] estebank commented on #15457
Possible final output:

[code]

[2019-02-07 14:46] zackmdavis commented on #53934
@ehuss Thanks for commenting!

Rephrasing/summarizing: Rustfix and friends need to distinguish between the following two cases:

 * A compiler suggestion offers multiple different possible fixes
    * the "possible candidates are found in other module" message being an example
 * A compiler suggestion offers a single fix that happens to involve editing more than one non-contiguous span
    * for e

[2019-02-07 15:00] estebank commented on #53934
It's a bigger change, but I feel it is the right call to make _in the medium term_. The are _no_ cases of multiple suggestions with multiple spans in the compiler today, mainly because it's an uncommon occurrence, which is why this json representation bug hasn't been fixed in all this time, but it is an arbitrary restriction. I believe that having an "incomplete" but workable solution is reasonabl

[2019-02-07 15:02] LukasKalbertodt commented on #38885
This problem resurfaced, but only when actually using `!`. This code ([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=76b116e886c0a1d1af7e87b52d1b33e6)):

[code]

Leads to this output (with `nightly-2019-02-06`):

[code]

So should we reopen this issue?

[2019-02-07 15:10] ehuss commented on #53934
It's Sublime Text with the https://github.com/rust-lang/rust-enhanced/ plugin.

Perhaps a new field could be added, which would be backwards compatible.

Another possibility is that rustfix could see that the spans are identical.  Are there cases where that wouldn't address it?

[2019-02-07 15:25] estebank commented on #42944
Reopening to track "removal of suggestion" work for pub tuple structs with private fields.

[2019-02-07 15:28] estebank commented on #49171
Current output:

[code]

That help should have a span pointing to the reassignment of `foo`.

[2019-02-07 15:51] estebank commented on #38885
Yes, reopen it or refile.

On Thu, Feb 7, 2019, 4:03 PM Lukas Kalbertodt <notifications@github.com>
wrote:

[2019-02-07 16:26] RalfJung commented on #56254
That doesn't entirely work because if there is an `UnsafeCell`, there'll be a `Shr` on the stack that we have to preserve.  Your suggestion relies on all `Shr` being the same, but @arielb1 keeps reminding me that we cannot keep it like that forever.

[2019-02-07 16:53] Mark-Simulacrum commented on #58038
I'm not sure a definitive answer can be given by anyone without trying and figuring that out.

Largely, I would expect the answer is no, but if not, it's unlikely that an issue would ever be fixed -- but PRs are in general welcome.

[2019-02-07 16:53] #58038 closed

[2019-02-07 17:11] arielb1 opened #58274 "Problem with using struct expressions with path metavariables"
## STR

[code]

## Expected Result

Code compiles, e.g. it compiles if the macro doesn't contain a `Some`:
[code]

## Actual Result

Obscure parser error

[code]

cc @dtolnay @estebank @petrochenkov

@nikomatsakis & @eddyb : this frustrates me lifting `TypeFoldable` over `Result`

[2019-02-07 17:14] kennytm commented on #58025
I've replaced the issue description and title with the actual issue.

[2019-02-07 17:41] #57135 closed

[2019-02-07 17:41] #57754 closed

[2019-02-07 17:41] #57892 closed

[2019-02-07 17:41] #57448 closed

[2019-02-07 17:41] #57582 closed

[2019-02-07 17:41] #58147 closed

[2019-02-07 19:31] gnzlbg commented on #53491
Why isn't `MaybeUninit::zeroed()` a `const fn` ? (`MaybeUninit::uninitialized()` is a `const fn`)

[2019-02-07 21:04] krdln opened #58277 "Cannot link to --crate-type staticlib as -whole-archive"
Background: I was trying to integrate `libfoo.a` (compiled as `crate-type = "staticlib"`) as a static depencency of `libbar.so` library (written in C++). Turned out that `bazel` was passing `-whole-archive libfoo.a` to the linker, which caused problems:

#### Steps to reproduce

This is a slightly different scenario, but produces the same error:

[code]

Fails with (both with `ld` and `ld.gold`):

[2019-02-07 21:12] nikic commented on #58201
For reference: https://rust.godbolt.org/z/6ea0aL

LLVM is capable of optimizing a memcpy of undef alloca away, this just runs into the usual limitation that all of memcpyopt doesn't work across BBs.

[2019-02-07 21:21] arielb1 commented on #58201
This is such a long-standing issue. Seems like it might be wise to have someone working on fixing this.

[2019-02-07 21:25] nikic commented on #58201
@arielb1 Someone has already worked on this, see https://reviews.llvm.org/D38374. It's a bit hard to track, but unfortunately this got reverted again (multiple times). I suspect that this is only going to get really resolved once memcpyopt moves to memssa -- which someone has also worked on in the past (https://reviews.llvm.org/D26739), but which never really went anywhere.

[2019-02-07 21:57] jasonbking commented on #52577
Just to follow up on this, we're in the process of creating and testing a new illumos OS target for rust.  The current proposed plan is that the illumos target will disable rust stack probes in its spec file.  Newer versions of the rust toolchain in pkgsrc will be updated to use this new target as the default (instead of x86_64-sun-solaris).

This should I believe fix the problem, while allowing a

[2019-02-07 22:10] relchar commented on #58270
Happy to take this on if no one else has. It'll be my first time contributing to Rust.

[2019-02-07 23:54] dbeckwith commented on #42008
On a proc-macro crate in `nightly-2019-01-02`, I'm getting two warnings: `missing documentation for a module` and `missing documentation for a static` with no line numbers.

[2019-02-08 00:04] Centril opened #58278 "Tracking issue for making `dbg!(x)` work in `const fn`"
We should make `dbg!(expr)` work in `const fn` by using some `lang_item` that is on the body of a function that contains the contents of `dbg!(...)`. We also need to make it work with inlining.

This sorta needs `impl const Debug` to work, but in the meantime we can just dump the miri state something something, @oli-obk can fill in...

[2019-02-08 00:07] estebank commented on #58270
@relchar that'd be awesome!

The actual case that made the bug evident is being introduced in #57944 (if you look at https://github.com/rust-lang/rust/pull/57944/files#diff-beb01736b1c52103f2dcd2eac341b810R4).

The following is the code that turns small suggestions into an inline label:

https://github.com/rust-lang/rust/blob/d1731801163df1d3a8d4ddfa68adac2ec833ef7f/src/librustc_errors/emitter.rs#

[2019-02-08 00:08] KyleSiefring opened #58279 "target_feature doesn't trickle down to closures internal fns"
Leaves poorly optimized assembly in its wake.

[code]

[2019-02-08 02:48] dlrobertson opened #58280 "core::ffi::VaList does not pass improper_ctypes lint"
## Summary

On x86_64, Aarch64, and PowerPC `core::ffi::VaList` will not pass the `improper_ctypes` lint, but it should.

## Example

Given the following:

[code]

The compiler will yield:

[code]

## Description

The implementation of `VaListImpl` for the x86_64, Aarch64, and PowerPC architectures uses `*mut ()` or `*const ()` as the pointer type for the pointers to the architecture specific save

[2019-02-08 02:49] dlrobertson commented on #58280
`core::ffi` defines `c_void`. Perhaps `c_void` should be used instead of `()`

[2019-02-08 02:53] mjbshaw commented on #53491
@gnzlbg [I tried](https://github.com/rust-lang/rust/pull/54832), but it requires one of the following:

- Make the `init` intrinsic a `const fn`. This is doable but [Ralf will r- any attempts to do that](https://github.com/rust-lang/rust/pull/54832#issuecomment-427384906); or
- Make `std::ptr::write_bytes` a `const fn`. That requires taking an `&mut` in a `const`, which currently [isn't permitted]

[2019-02-08 03:31] I60R commented on #57640
Re-read all comments including tracking issue thread (spent nearly 3 hours on this). And my summary is: the postfix `@` looks like the best solution, and unfortunately it's the most underappreciated one.

There's a lot of (biased) opinions about it, and below are my comments for them:

---

**`async-await` would be unfamiliar with postfix `@`**

Actually, it would be only half unfamiliar because t

[2019-02-08 06:00] purpleposeidon opened #58286 "Box<Any>::type_id() != &Any.type_id()"
[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a1b9c1941d80992eba16bf1452273e9c

[2019-02-08 06:07] crlf0710 commented on #58286
This is expected behavior, since `Box<dyn Any>` does implement `Any` and gives a different `type_id` than what `bool` gives.

[2019-02-08 06:08] crlf0710 commented on #58286
try `(Box::new(true) as Box<Any>).as_ref().type_id()` to accomplish what you want.

[2019-02-08 07:36] #58286 closed

[2019-02-08 07:55] Mark-Simulacrum opened #58290 "rustdoc JS on doc.r-l.o is not working on nightly"
[code]

cc @GuillaumeGomez @QuietMisdreavus

[2019-02-08 08:31] matklad opened #58291 "cargo check fails only in incremental mode"
I think I see a behavior where incremental compilation introduce a spurious compiler error.

The code is https://github.com/rust-analyzer/rust-analyzer/commit/97984638bd6cc622d37ed79fe246c37de55c9342.

I run `cargo check` and `env CARGO_INCREMENTAL=0 cargo check` in `crates/ra_ide_api` directory.

The first (incremental) fails with

<details>

<summary>[E0599]</summary>

[code]
</details>

The sec

[2019-02-08 08:36] Antiarchitect opened #58292 "assert failed ty/query/on_disk_cache.rs:528:5"
Have just moved some functions into modules and have fought all warnings when suddenly:
[code]

[2019-02-08 08:38] hellow554 commented on #58292
Do you have a small piece of code that you can show us that leads to the panic?

[2019-02-08 08:42] matklad commented on #58291
Here are full steps to reproduce:

[code]

[2019-02-08 09:28] zackmdavis commented on #53934
I considered this (with a negative disposition) in the initial issue description—

but now that I have more information about how dire the backwards-compatibility situation is (such that #58221 would seem to imply coordinated changes to rustfix _and_ the Sublime plugin _and_ maybe RLS, and _still_ introduce a new problem with duplicate messages), it's starting to look _way_ more appealing.

Upthre

[2019-02-08 09:33] RalfJung commented on #58290
Is this also the reason that rustdoc search on https://doc.rust-lang.org/nightly/std/index.html is broken?

[2019-02-08 09:40] Mark-Simulacrum commented on #58290
Yes, this will prevent any JS from working across nightly-built docs until this is fixed.

[2019-02-08 10:56] Antiarchitect commented on #58292
@hellow554 I'm trying to pick out one, but no success yet.

[2019-02-08 11:25] scottmcm commented on #58279
I think this is expected for internal fns, as items in general don't get anything from their enclosures (most well known is that they don't get access to generic parameters).

I think I agree for closures, though.

[2019-02-08 12:22] Vurich opened #58298 "Nonsensical error message for string error inside macro"
Apologies if this has been posted before, I couldn't find anything but many of my searches had several hundred results and I didn't want to go through pages upon pages of them for such a minor issue (yeah, I'm part of the problem, sorry).

If you have an error where you pass a `String` instead of a `&str` inside a macro, the suggestion `rustc` emits is meaningless:

[code]

Note this:

[code]

Thi

[2019-02-08 12:23] arielb1 opened #58299 "NLL ignores lifetimes on associated constants in range patterns"
## STR

[code]

Tested on nightly 1.34, but should be present on other versions

## Expected Result

Code behaves as with AST, causing an error because `A::<'a>` does not implement `Y` (only `A<'static>` does).

## Actual Result

Code compiles.

[2019-02-08 13:20] oli-obk commented on #53934
I checked, but was unable to find it again... I thought it was something with for loops or if let.

[2019-02-08 14:56] ben0x539 commented on #57640
^^^^^^^ did you reread my comment too?

[2019-02-08 15:12] CAD97 commented on #57640
I had a large revelation reading @I60R's comment that has made me in favor of the postfix sigil, and I've not liked using a sigil until now (instead preferring some form of postfix await).

Our await operation isn't `await`. At least not in the way that `await` is used in C# and JavaScript, the two largest sources of `async`/`await` familiarity.

In these languages, the semantic of starting a `Tas

[2019-02-08 15:25] varkor opened #58307 "Const generic parameters have incorrect hygiene"
Const generic parameters are treated as hygienic by `macro_rule` because it uses "`let` variable hygiene" rather than "item hygiene".

See https://github.com/rust-lang/rust/issues/57523#issuecomment-453788106 and https://github.com/rust-lang/rust/pull/58191#discussion_r254251259.

cc @petrochenkov

[2019-02-08 15:53] Pzixel commented on #57640
@I60R

You can't know it until it appears. If we have yet another code transformer - `yield` sigil, for example - it would be a real Perl script.

Difficulty in noticing `await` points cannot be an advantage.

Reread my links about C# experience, please. It's actually this important to say it **this** loud and **this** often.

---

Other points are quite valid, but those I've replyed to are unfixa

[2019-02-08 16:24] Pauan commented on #57640
Unfortunately that isn't true: the pattern of "spawn some Promises and then later `await` them" [is very common and desirable](https://internals.rust-lang.org/t/would-implicit-await-really-be-a-bad-idea/9256/33?u=pauan), but it [does not work with Rust](https://internals.rust-lang.org/t/would-implicit-await-really-be-a-bad-idea/9256/38?u=pauan).

That's a very big difference, which even caught som

[2019-02-08 16:24] arielb1 opened #58310 "Implement "small substs optimization" for substs of length 1"
One of the core types in the compiler is `ty::Subst`, which represents a list of "substitutions" - arguments to generic parameters. For example, `Option<u32>` has a `Substs` of `[Uint(u32)]` and `T: Sized` has a `Substs` of `[Param(T)]`.

A `ty::Substs` is an interned `&'tcx List<Kind<'tcx>>`. It is represented as a thin pointer to a struct of this form:

[code]

Where a `List` of length 0 is repr

[2019-02-08 16:32] carado opened #58311 "Erroneous E0367 on struct containing a closure returning an array"
The following code fails in the playground, on the latest stable (1.32.0), latest beta (1.33.0-beta.6) and latest nightly (2019-02-07):
[code]
The error is the following:
[code]
The error seems to be the same regardless of rust version, and regardless of whether the function is an `Fn`, an `FnMut`, or an `FnOnce` (in particular, the error mentions `std::ops::FnOnce<()>>::Output` even when `F` isn'

[2019-02-08 17:08] Matthias247 commented on #57640
It’s exactly the same in Rust. The semantics of async functions are the same. If you call an async fn (which creates a Future), it doesn’t yet start execution. That is indeed different to JS and C# world.

Awaiting it will drive the future to completion, which is the same as everywhere else.

[2019-02-08 17:33] Pzixel commented on #57640
Could you be in more details? I've read the post but didn't find what's wrong with

[code]

Of course, they won't fire until line 2, but in most cases it's a desirable behavior, and I'm still convinced this is a huge difference that don't allow to use `await` keyword anymore. The topic name itself hints that `await` word makes sense here.

I won't be annoying repeating the same arguments over and

[2019-02-08 17:57] tajimaha commented on #57640
A rust **user**'s daily life is about:
1. Interacting with some HTTP API
2. Write some network code

and he really cares about
1. He can finish job in a quick and ergonomic fashion.
2. Rust is performant for his job.
3. He has low level control if he wants

**NOT rust has one million implementation details that are different from C#, JS**. **It is a language designer's job to hide most irrelevant

[2019-02-08 18:15] yasammez commented on #57640
Well, not quite, is it? If I just write `let result = await!(future)` in an `async fn` and call that function, nothing will happen until it is placed on an executor and polled by it.

[2019-02-08 19:27] gnzlbg opened #58314 "Tracking issue for #[ffi_returns_twice]"
~~I'll update with the PR and RFC links when those are ready.~~

PR: https://github.com/rust-lang/rust/pull/58315
RFC: https://github.com/rust-lang/rfcs/pull/2633

[2019-02-08 19:50] #57960 closed

[2019-02-08 23:26] PvdBerg1998 commented on #51132
Recently bumped into this problem. Would love to see this fixed!

[2019-02-09 05:00] kennytm commented on #58290
This has been fixed by #58294, and a nightly has been released. Closing.

[2019-02-09 05:00] #58290 closed

[2019-02-09 06:37] carado commented on #58311
As a workaround (and in case that helps), I've found that using a type alias works.
[code]

[2019-02-09 06:47] #57178 closed

[2019-02-09 08:08] RalfJung commented on #55464
This will be fixed by https://github.com/rust-lang/rust/pull/58140

[2019-02-09 10:50] RalfJung commented on #57829
This just brought down my whole system -- 16GB of RAM used to be enough to compile two rustc in parallel (with 8 jobs each), but with the current RAM consumption that does not seem to be the case any more.

[2019-02-09 10:54] I60R commented on #57640
@ben0x539 yes, I've re-read it... But currently I don't have anything to add.

@CAD97 glad to see my post was inspiring. I can answer about Kotlin: by default it works in the same way as other languages, although you can achieve Rust-like lazy behavior if you want it (e.g. `val lazy = async(start=LAZY) { deferred_operation() };`). And about similar semantics: IMO the closest semantics is provided

[2019-02-09 11:38] Pzixel commented on #57640
`await` is not an "exception handling construct".
Based on invalid premise your implications are false as well.

exception handling is a control flow as well, but nobody think `?` is a bad thing.

[2019-02-09 12:02] staktrace opened #58319 "Stack overflow while compiling `gleam` crate"
A number of people have run into a stack overflow in rustc when compiling the gleam crate, see https://github.com/servo/gleam/issues/180 - I can reproduce this in a relatively controlled environment on Mozilla's macOS automation. [Here is a log](https://taskcluster-artifacts.net/ARKFnRQ4Qaa9LdBYiY3V5w/0/public/logs/live_backing.log) attempting to compile [`wrench`](https://github.com/servo/webrend

[2019-02-09 12:39] #57593 closed

[2019-02-09 13:33] GuillaumeGomez commented on #58248
Seems to be working now after another fix was pushed on this.

[2019-02-09 13:33] #58248 closed

[2019-02-09 13:44] RalfJung opened #58320 "Formatting code is in conflict with unnamed_addr"
The code for passing arguments into format strings relies on equality of function pointers.  This is in conflict with the fact that we set `unnamed_addr` on all functions.

https://github.com/rust-lang/rust/blob/618f5a08a13a90b65455cf8dc42e109e520b5dbf/src/libcore/fmt/mod.rs#L295-L301

It might be possible for a user to write a function that gets merged with `ArgumentV1::show_usize`, and then caus

[2019-02-09 13:45] jonas-schievink commented on #58314
Implemented in https://github.com/rust-lang/rust/pull/58315

[2019-02-09 13:48] jonas-schievink commented on #58307
cc https://github.com/rust-lang/rust/issues/44580

[2019-02-09 13:58] jonas-schievink commented on #54427
Reproduces on 1.29.0, fixed in 1.30.0.

If this can be reduced to a minimal example we could add a test, but we could also just close this as-is.

[2019-02-09 14:19] rkruppe commented on #58279
One problem with closures is that functions with `target_feature` have to be unsafe, but there's no such thing as unsafe closures.

[2019-02-09 14:48] jonas-schievink opened #58323 ""Cannot create local mono-item" ICE building cortex-m code on nightly"
Reproduction: https://github.com/jonas-schievink/ice-mono-item

[code]

[2019-02-09 14:54] HyeonuPark opened #58325 "ICE on `struct S<'a>(&'a [u8; Self::SIZE]);`"
env: rustc 1.32.0 (9fda7c223 2019-01-16) running on x86_64-unknown-linux-gnu
playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=080e92d7290beb54e4ea0e84f0721df0

That's it, the snippet in the title is the absolute minimal code that produces this error, except the declaration of `const SIZE` itself. But I'm not familiar with rustc internal, and have no idea _why_ th

[2019-02-09 15:12] #57432 closed

[2019-02-09 15:12] #57829 closed

[2019-02-09 15:19] funchal commented on #31100
Hi I'm new to rust, I'm surprised by this behaviour. Can I ask why `BufReader` should flush the buffer on seek within the buffer, like *ever*? I understand this is documented behaviour of a stable api, but I can't think of any reason to write code that would rely on this intentionally, and also can't think of any code that could break unintentionally. I could be wrong but it feels like this was pe

[2019-02-09 15:29] jonas-schievink commented on #58325
Also reproduces on nightly:
[code]

[2019-02-09 15:32] markazmierczak commented on #57640
I do not want to make an argument about syntax in Rust, but I have seen many postfix vs prefix arguments and maybe we can have best of both worlds. And someone else already tried to propose this in C++. C++ and *Coroutine TS* proposal was mentioned couple of times here, but in my view an alternative proposal named [Core Coroutines](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2018/p1063r0.pd

[2019-02-09 16:17] ParadoxSpiral opened #58326 "Expose raw Stdout/err/in"
Currently there is not easy/obvious way to get an unbuffered Stdout/err/in. The types do [exist in stdio](https://github.com/rust-lang/rust/blob/master/src/libstd/io/stdio.rs#L23), however they are not public for reasons not noted.

For example these types would be useful for CLI applications that write a lot of data at once without it getting unnecessarily flushed.

One can use platform specific

[2019-02-09 19:13] gnzlbg opened #58328 "Tracking issue for #[ffi_const]"

[2019-02-09 19:13] gnzlbg opened #58329 "Tracking issue for #[ffi_pure]"

[2019-02-09 19:32] burrbull commented on #57241
Can `from_bits` / `to_bits` be made `const fn` in respect that #53535 ?

[2019-02-09 19:35] taralx commented on #31100
Because that's the way to sync the BufReader's idea of where the file pointer is with the underlying reader. The other alternative would be to make `into_inner` do it, but it can't because it doesn't depend on `R:Seek`.

[2019-02-09 20:16] Matthias247 opened #58331 "Fix rustdoc-js unit-test for substring after removal of unstable API"
As discovered in #57992, the test in https://github.com/rust-lang/rust/blob/master/src/test/rustdoc-js/substring.js referenced an API unstable, which lead to a breaking test when the API was removed.

Per discussion with @GuillaumeGomez I am removing the test inside #57992 in order to unblock that change. The test should be fixed afterwards. Ideally without referencing unstable APIs.

[2019-02-09 22:00] wirelyre commented on #58319
This seems to be related to a large `#[derive(Clone)]` struct from `gl_generator`. [Reduced test case.](https://gist.github.com/wirelyre/51523992e008e08d8895ebce83222dde)

[2019-02-09 22:03] wirelyre commented on #58319
I cannot reproduce the build error on `beta` or `nightly (2019-02-02)`.

[2019-02-09 22:08] infinity0 opened #58334 "1.32.0 cargo binary for powerpc64le linux SIGILLs"
Using the `cargo` from [this](https://static.rust-lang.org/dist/rust-1.32.0-powerpc64le-unknown-linux-gnu.tar.gz) we get the following SIGILL. The `rustc` is fine however.

Using gdb to set a breakpoint in `rand_pool_acquire_entropy` and then single-stepping, we eventually reach:

[code]

which does not seem to be a real address to actual code. When jumping to this address, the gdb disassembler th

[2019-02-09 22:11] Disasm opened #58335 "Updating LLVM version"
I'd like to add tier2 platforms for RV64IMAC and RV64GC targets. However, [simple target implementation](https://github.com/rust-lang/rust/pull/58012) cannot be built against current rustc/8.0-2019-01-16 LLVM version. We need to get some LLVM patches for RV64 from upstream (which are already there). At the moment I have no idea how to achieve this. Hypothetical choices are:
* Cherry-pick only the

[2019-02-09 22:43] tensorderek commented on #57640
**Please don't use "difference" as an excuse for your personal inclination towards unorthodox syntax.**

How many differences are there? Take any popular language, Java, C, Python, JavaScript, C#, PHP, Ruby, Go, Swift, etc., static, dynamic, compiled, interpreted. They are vastly different in feature set, but they still have much in common for their syntax. Is there a moment you feel any of these

[2019-02-09 22:52] nagisa commented on #58334
This is a duplicate of https://github.com/rust-lang/cargo/issues/6320. Closing in favour of that.

[2019-02-09 22:52] #58334 closed

[2019-02-09 22:53] nagisa commented on #58334
Alternatively, https://github.com/rust-lang/rust/issues/57345.

[2019-02-09 22:58] nagisa commented on #58329
This corresponds to the `readnone` LLVM attribute.

[2019-02-09 23:00] nagisa commented on #58328
This corresponds to the LLVM `readnone` attribute.

[2019-02-09 23:02] #31528 closed

[2019-02-09 23:12] nagisa commented on #58280
It would be fine to just special-case the `va_list` language item in the lint implementation.

[2019-02-09 23:40] GuillaumeGomez commented on #58331
The simplest way to fix this issue is to make the substring search outside of the std libs. It'll be easier when https://github.com/rust-lang/rust/pull/58330 will get merged.

[2019-02-10 01:11] melodicstream commented on #57640
@tensorduruk I get the feeling that your words are being a bit too hostile to the other users. Please try to get them in check.

---

And honestly, if there's many people that are against postfix syntax, then we should just decide on a prefix syntax for now, wait to see how code with the prefix syntax gets written, and then do an analysis to see how much of the code written could benefit from havi

[2019-02-10 01:12] infinity0 commented on #57345
cc @jrtc27

[code]

[2019-02-10 01:24] nagisa commented on #57345
cc @rust-lang/infra

Updating the docker images should be fairly easy, I think.

[2019-02-10 02:04] brson commented on #57853
Thanks for the clarifications @petrochenkov. Is there any actual bug here or should this be closed?

[2019-02-10 02:08] brson commented on #47745
Thanks @johnthagen @matklad for the leads!

[2019-02-10 03:25] garyemerson opened #58340 "Release build causes Illegal instruction: 4"
The following program causes an `Illegal instruction: 4` error on macOS when built as release but not when built as debug.

[code]

Meta
---

[code]

[2019-02-10 03:52] sfackler commented on #58340
Duplicate of #28728.

[2019-02-10 03:52] #58340 closed

[2019-02-10 04:41] jptbaba commented on #57640
@tensorduruk

Seriously, why not just use your said languages instead of the uncalled hostility here?
Using your logic, rust should have classes because other conventional language do have it. Rust should not have borrowck because other language do not have it.

Not handling chaining, would be a missed opportunity. However, I feel we should just stick to current macro keyword for await as in night

[2019-02-10 05:06] tensorduruk commented on #57640
please read carefully. i said we should provide useful features not weird syntax. struct? borrowck?  features!

please also solve problems that really exist. people showed, with examples or stats that temporary bindings may not be a problem. do you guys supporting `f await` `f.await` ever try to convince the other side using evidence?

[2019-02-10 05:59] memoryruins commented on #58292
If you have a branch of the code that produces the ICE, we can try to help minimize it with you.

[2019-02-10 06:13] aylei commented on #43520
I've got the same issue here: https://play.rust-lang.org/?gist=5253e1adb845862f26029cbf0423085c (I was trying to test if a given binary tree is a validate binary search tree)

[2019-02-10 06:32] luover commented on #57640
can we get the syntax like C# or JS, most developers use it in the word, I don't like rust use new syntax.

[2019-02-10 09:25] Antiarchitect commented on #58292
The problem is - I cannot reproduce it anymore. At least on another machine.

[2019-02-10 09:41] petrochenkov commented on #57853
No rustc bug, some missing documentation in the edition-guide or reference perhaps.

[2019-02-10 09:41] #57853 closed

[2019-02-10 10:13] RalfJung opened #58343 "rpath is insufficient when crate links against compiler libraries"
When compiling something like [Miri](https://github.com/solson/miri/) that links against librustc and other compiler libraries, even with `rpath = true` in my `Cargo.toml`, the resulting binary does not work without `LD_LIBRARY_PATH`:
[code]
Looking at the bianary, I noticed a RUNPATH and no RPATH and learned that RPATH got deprecated in favor of RUNPATH:
[code]

However, after some research, two

[2019-02-10 10:48] oli-obk commented on #58320
These uses are impossible to abuse. The invariants that make this possible are very subtle though, and we should totally document this better

[2019-02-10 10:53] oli-obk commented on #57829
Can you try again with today's nightly?

[2019-02-10 10:57] RalfJung commented on #58343
The "one `../` too much" is caused by `--out-dir /home/r/src/rust/miri/target/release/deps`, which is passed in by cargo: Cargo builds the binary in a different directory and moves it around later, which of course is not compatible with relative RPATHS.

Cc @alexcrichton

[2019-02-10 11:02] RalfJung commented on #58343
Notice that relative rpaths are generally unsuited for what I want to do, which is `cargo install --path .` and then use the binary.  So I need binaries that survive being copied around.

I suppose there are also good reasons to want relative rpaths, so I think this should be a flag. I am not sure what kind of flag and what would be a good default, though.

[2019-02-10 11:07] Bledhard commented on #54551
Having the same issue right now on a [hello-world-ish repo](https://github.com/Bledhard/rust-test) of mine.

RLS output:
[code]

While it is not a huge issue for me right now, I thought it would be a good idea to just give you an example of the issue to investigate it.
I'm using VSCode 1.31.0

[2019-02-10 11:19] #53532 closed

[2019-02-10 11:25] lzutao commented on #58134
Missing a cell?
![image](https://user-images.githubusercontent.com/15225902/52533085-370a2480-2d61-11e9-9ea2-3fb35f36cf5e.png)

[2019-02-10 11:26] LukasKalbertodt commented on #43520
[Minimal example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=88c1604fe205e3c34e23fb3401612a6e):

[code]

Error:

[code]

[2019-02-10 11:34] I60R commented on #57640
The following would be appendix to my post about using postfix `@` insead of `await`

---

**We should use experience of many other languages instead**

And we actually use it. But that not means we must completely repeat the same experience. Also, when arguing in this way against `@` you most likely wouldn't achieve any useful result because [appealing to previous experience isn't convincible](ht

[2019-02-10 11:50] leops opened #58344 "ICE on generic impl trait convergence"
Using a generic function to "converge" two `impl Trait<T>` into `T` when T is an associated type for another trait causes the following error:

[code]

Example code ([Playground link](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=78a447729b5d5e26e6effedcdbd753d7)):

[code]

This may or may not be related to the compiler seemingly failing to assert that `<u32 as Add<u32>

[2019-02-10 11:53] leops commented on #51493
Not really sure how and when this was fixed, but it doesn't happen anymore on the latest nightly and everything compiles fine.

[2019-02-10 11:53] #51493 closed

[2019-02-10 11:54] GuillaumeGomez commented on #58134
Interesting! I was about to look into it. I'll do the two at once.

[2019-02-10 12:12] matthewjasper commented on #58178
I've opened #58347 which gets the performance to a much better level (less than 50% for a clean build). Once that has landed we probably want to add the test to perf.rlo and profile what's causing the remaining slow down.

[2019-02-10 12:23] markrendle commented on #57640
@Pzixel

In C# you write this:

[code]

Regarding the propagate-error-chaining argument, e.g. `foo().await?`, is there any reason why the `?` couldn't be added to the `await` operator in prefix?

[code]

Another thing that just occurred to me: what if you want to `match` on a `Future<Result<...>>`? Which of these is easier to read?

[code]

[code]

Additionally, would an `async match` expression b

[2019-02-10 12:26] markrendle commented on #57640
Regardless, I'm going to reiterate that Rust has precedence for unary operators being prefix with `match`, and `await` is a unary operator.

[2019-02-10 13:43] lcnr commented on #56766
I don't have a lot of time right now, in case someone else wants to fix this you are free to go ahead.

[2019-02-10 13:55] #54141 closed

[2019-02-10 14:12] RalfJung commented on #53639
Instead of killing `static mut` entirely, what about just disallowing creating mutable references to them?  The footgun here is accidentally creating a `&'static mut`.

With https://github.com/rust-lang/rfcs/pull/2582, we can tell people that `&mut STATIC_MUT as *mut _` is a way to create a raw pointer to a `static mut`, and we could even make that a safe operation. We could then deprecate creatin

[2019-02-10 14:53] rolandsteiner commented on #57640
Beauty is in the eye of the beholder.

`?` on the other hand is unary but postfix.

Regardless, I feel that the discussion is now circling the drain. Without bringing up any new discussion points, there is no use to re-iterate the same positions again and again.

FWIW, I'm happy to get `await` support whatever the syntax - while I have my own preferences, I don't think any of the realistic suggest

[2019-02-10 15:38] Pzixel commented on #57640
@markrendle I'm not sure what you answering on

I know how I write in C#. I said "imagine how could it look it we didn't have exceptions". Because Rust doesn't.

It was already discussed twice or trice, please, read the topic. In a nutshell: it's an artificial construct, that won't work well if we will have something additional to `?`. `await?` as suffix just works, when `await?` as prefix require

[2019-02-10 16:03] viftodi opened #58355 "ICE when trying to use `dyn Fn(...) -> UnsizedTy`"
Hello,

I am trying to implement this trait:

[code]

I get a compiler panic

[code]

error: internal compiler error: unexpected panic

I try to compile it for target=wasm32-unknown-unknown

note: rustc 1.32.0 (9fda7c223 2019-01-16) running on x86_64-pc-windows-msvc

note: compiler flags: -C debuginfo=2 -C incremental --crate-type lib

[2019-02-10 16:09] davidlt commented on #58335
Maybe Alex @asb could provide a good suggestion. He also provided an update on RISC-V support in LLVM at FOSDEM 2019: https://fosdem.org/2019/schedule/event/riscvllvmclang/

[2019-02-10 16:10] jonas-schievink commented on #58355
Can you provide a self-contained example that reproduces the ICE?

[2019-02-10 16:19] TheDarkula commented on #54141
@wesleywiser Awesome! Thanks so much for this.
Now I can get back to work on parallelism :)

[2019-02-10 16:30] viftodi commented on #58355
Hello,

This is the shortest example I could create:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=69c305c9deff95a201e750cf280f6635

If you just build this you should get the error.
It looks like it works? when not in lib mode, not sure

[2019-02-10 16:47] nikic commented on #58335
This depends on how many patches we're talking. If it's just two or three, they can be cherry-picked (you can submit a PR at https://github.com/rust-lang/llvm-project). If a lot of changes are necessary, then the Rust LLVM fork will have to be rebased.

[2019-02-10 16:51] Disasm commented on #58335
@nikic At the moment I can build RV64 support with 16 patches, but I can try to reduce this patch set. Theoretical minimum is 4 patches, but I haven't tried this yet.

[2019-02-10 17:10] nox commented on #45219
It's not clear to me whether propagating from `RawBucket` is a good idea, given that if the `Send` impl of `hash_map::Iter` is removed, `hash_map::Iter` would then implement `Send` where `K: Send, V: Send` instead of `K: Sync, V: Sync`.

[2019-02-10 17:54] retep998 commented on #53639
That still doesn't solve the footgun of any sort of concurrent modification of a `static mut` being UB because they're not atomic.

[2019-02-10 17:55] gnzlbg commented on #53639
@retep998 Neither does removing `static mut` and recommending people to use `RacyUnsafeCell<T>` instead.

[2019-02-10 18:06] RalfJung commented on #53639
@retep998 note that creating a `&T` requires going through a raw pointer.

[2019-02-10 19:10] josephlr commented on #58326
This is similar to https://github.com/rust-lang/rust/issues/23818, where having more control over the buffering/flushing behavior of stdio/stdin would be helpfull.

[2019-02-10 19:33] eddyb commented on #53639
@gnzlbg But `RacyUnsafeCell<T>` *only* lets you do the equivalent of `&mut FOO as *mut T`, without any references, mutable or immutable, to `T`, so it's *at least* as safe as a take-raw-pointer-only `static mut` - or is that your point?

One advantage is that *a value of type* `&'static RacyUnsafeCell<T>` is *safer* than a `*mut T`, as it's guaranteed to be a valid reference to an interior-mutable

[2019-02-10 19:36] orthoxerox commented on #57640
As another user of C# I'll say that its prefix syntaxes: `new`, `await` and C-style casts have tripped my intuition the most. I strongly support the postfix operator option.

However, *any* syntax will be better than chaining futures explicitly, even a pseudo-macro. I will welcome any resolution.

[2019-02-10 19:46] yasammez commented on #57640
@orthoxerox You raise a very good point. In my dayjob I mostly write Java and I despise the new operator to a level that all my classes which need explicit instantiation (a surprisingly rare occurence when you use builder patterns and dependency injection) have a static factory method just that I can hide the operator.

[2019-02-10 20:06] Lokathor opened #58360 "Various documentation for SIMD stuff is out of date"
* [x] https://doc.rust-lang.org/core/arch/aarch64/index.html points you to a `stdsimd` feature and issue https://github.com/rust-lang/rust/issues/27731, but that issue says it's tracking `coresimd`, perhaps the docs there need to change. Except that at [the bottom of the issue](https://github.com/rust-lang/rust/issues/27731#issuecomment-429249091) it's apparently the case that the issue itself has

[2019-02-10 21:05] markrendle commented on #57640
@Pzixel

I'm guessing this is probably a language barrier thing because that's not at all what you said, but I'll accept it may have been what you meant.

Anyway, as @rolandsteiner said, the important thing is that we get some form of async/await, so I'm happy to await the core team's decision, and all y'all postfix fans can the core team's decision await. 😝

[2019-02-10 21:07] markrendle commented on #57640
@yasammez Come to C#. In v8.0 we get to just use new() without the type name :)

[2019-02-10 22:05] eddyb opened #58362 "Move as much unsafe code as possible out of librustc."
I am currently aware of several uses of `unsafe` code (feel free to add more):
* [ ] interning / lifting typesystem entities (in)to `TyCtxt`
  * maybe we can figure out a generalization in the `salsa` ecosystem (cc @nikomatsakis)
* [ ] `ty::List<T>`, which is effectively a `Thin<[T]>`
  * could be moved to `arena` or a crate `arena` can depend on
  * potential crates.io replacement: [`thin-slice`]

[2019-02-10 22:16] matthewjasper commented on #55310
Yes, this is fixed.

[2019-02-10 22:16] #55310 closed

[2019-02-10 22:46] memoryruins commented on #58292
Based on the panic, it was an issue that occurred during incremental compilation. To reproduce, you would most likely need to build the project, make a similar change that led up to the ICE, then try to compile again.

[2019-02-11 01:05] #58027 closed

[2019-02-11 01:05] #57595 closed

[2019-02-11 01:31] LifeIsStrange opened #58366 "Faster divide operation?"
https://lemire.me/blog/2019/02/08/faster-remainders-when-the-divisor-is-a-constant-beating-compilers-and-libdivide/
Seems to describe a nice optimisation to have.
Maybe this is more on the llvm side than rustc side?
Some complementary comments:
https://news.ycombinator.com/item?id=19116020

[2019-02-11 01:40] montao commented on #29597
I am just learning it. Should I not? I think I got a working example

[2019-02-11 02:23] alexheretic commented on #56980
Does anyone have an idea of how we can address this?

[2019-02-11 04:05] lzutao commented on #58366
LLVM or gcc should be able to do that optimization.

[2019-02-11 06:17] cdetrio commented on #58277
I ran into the same issue when using nightly (downgrading to stable fixed it).

[2019-02-11 06:35] cdetrio commented on #57958
I ran into this, and I was using rustup to switch rustc versions and rebuild a project. Also on a `dep-graph.bin` file in a directory that didn't exist.

[2019-02-11 07:58] ishitatsuyuki commented on #58268
Related: https://github.com/rust-lang/rust/issues/42667

[2019-02-11 08:12] RalfJung commented on #58362
What "kinds" of unsafety are you looking for? [Miri has some unsafe code as well](https://github.com/rust-lang/rust/blob/4424a2c31a5c84dc4d47083113af6e916ff938c0/src/librustc_mir/interpret/memory.rs#L738), and I am sure there are more of these "local" unsafeties (not leaking beyond the function boundary).

[2019-02-11 08:16] goral09 commented on #57771
For me it still fails:
[code]

Is there a deterministic way for solving this?

[2019-02-11 08:28] flavius commented on #47809
Is anyone working on this?

[2019-02-11 08:37] mati865 commented on #57771
It was fixed but broke once more, it's kind of expected on nightly to break from time to time.
New fix: https://github.com/rust-lang/rust/pull/58337

If Rustup got option to update to the latest nightly with required components this would be less problematic.
Issue for this feature: https://github.com/rust-lang/rustup.rs/issues/1628

[2019-02-11 08:38] gnzlbg commented on #53639
@eddyb I was only referring to the issue that @retep998 mentioned. Just using `RacyUnsafeCell` does not really remove the footgun of potential data-races when mutating a `static` (one needs synchronization for that).

As you mention, using a `RacyUnsafeCell` does help with other issues that `&mut T as *mut T` does not address.

[2019-02-11 08:54] gnzlbg commented on #56980
So this appears to be the problem, it should just use the `malloc` symbol, and that's the symbol that `jemalloc-sys` should be emitting (you can verify this by checking whether `jemalloc-sys` is being built without `--cfg prefixed`).

How is the RLS compiled ? Is it dynamically or statically linked against `rustc` ?

cc @nnethercorte

[2019-02-11 09:02] gnzlbg commented on #56980
@nnethercote this might be some low hanging fruit to fix performance-wise (10x memory consumption due to a linking error).

[2019-02-11 09:19] mati865 commented on #56980
@gnzlbg I built RLS with `jemalloc-sys` (the same trick as rustc does) as a part of Rust build and separately with `jemallocator`. I verified it linked to jemalloc but things got only worse. I tried to profile memory usage on RLS from Fedora repository (which doesn't use jemalloc at all) and all the tools report only dozens of KiB consumed.

[2019-02-11 09:39] jonas-schievink commented on #58366
I think this is called strength reduction and LLVM should already do it easily. Even if not, this should be implemented in LLVM, not rustc, so I'll close this. If you can demonstrate the optimization not happening, please post a reproduction and I'll reopen.

[2019-02-11 09:39] #58366 closed

[2019-02-11 09:40] ljedrz opened #58368 "A big regression in tokio-webpush-simple-opt"
On Jan 19th the [tokio-webpush-simple-opt/patched incremental: println-opt](https://perf.rust-lang.org/compare.html?start=1bc6baec76f4540c87b23ef349c664fd427d0f53&end=c87144f3caf9a1580e8734d4d1604e723a5bd6e6&stat=instructions%3Au) benchmark regressed by 88.5% in the instruction count.

I was able to narrow the source of the regression down to this [commit diff](https://github.com/rust-lang/rust/co

[2019-02-11 10:28] theronic commented on #52684
I am also struggling to cross-compile any Rust code for MIPS.
How do I find and use an appropriate toolchain from OSX?

I have an open [question](https://stackoverflow.com/questions/54627521/cross-compile-for-mips-mt7688-openwrt-on-osx-mipsel-unknown-linux-musl) on StackOverflow detailing my attempts. Have spent a day on this without luck :/

[2019-02-11 11:52] hsivonen commented on #57829
Much better memory usage now. Thank you!

It seems it would be worthwhile to nominate this for uplift to beta, but I'm not permitted to add the tag myself.

[2019-02-11 11:54] matklad commented on #58291
I continue to see this problem, so it is not a completely random thing.

[2019-02-11 11:56] flodiebold commented on #58291
Yes, I've experienced this as well in rust-analyzer. It might be related to salsa using a procedural macro?

[2019-02-11 11:56] bkchr commented on #54363
Hey, I created a [proc-macro-crate](https://crates.io/crates/proc-macro-crate) to find the name of a crate, even if it was renamed in `Cargo.toml`. This helps for procedural macros and the `extern crate` trick.

[2019-02-11 11:59] matklad commented on #58291
Happens on beta (rustc 1.33.0-beta.6 (b203178b6 2019-02-05)) as well.

[2019-02-11 12:08] oli-obk commented on #29597
I personally would suggest not to use the API, especially not to add *new* uses of it.

What is your use case? Maybe we can find an alternative way for you to reach your goal without using the plugin API

[2019-02-11 12:39] michaelwoerister commented on #58368
Thanks for opening the issue, @ljedrz! That is a big regression indeed.

[2019-02-11 12:39] michaelwoerister commented on #58368
cc @rust-lang/wg-compiler-performance

[2019-02-11 13:36] michaelwoerister opened #58372 "Make `-Z self-profile` more efficient"
The self-profiling feature is going to make profiling the compilers performance a lot easier. However, a recent first stab at collecting more detailed information (see https://github.com/rust-lang/rust/pull/58085) still has too much overhead.

Here are some of the things that could be improved:
 - [x] Move post-processing of the collected data out of the `rustc` process, as much as possible. [Self

[2019-02-11 14:25] dlrobertson commented on #58280
This seems reasonable to me too. The `VaList` structure should (for obvious reasons) always be FFI safe.

[2019-02-11 14:31] danielhenrymantilla commented on #49150
Ok I apologise if this is not the place to post this, but I have been thinking about the `Drop + !Unpin` issue, and have come out with the following idea:
1. Ideally, if `Drop::drop` was `fn(self: Pin<&mut Self>)` there would be no issue. Let's call such a `Drop` `PinDrop`. We cannot just replace `Drop` by `PinDrop` because of retrocompatibility issues.

1. since the only issue with `Drop::drop(&m

[2019-02-11 14:41] RalfJung commented on #58320
I wonder which invariant you had in mind here?

[2019-02-11 14:53] RalfJung commented on #49150
@danielhenrymantilla I don't see how that solves the problem of compatibility with existing generic drop impls, like `impl<T> Drop for Vec<T>`.

[2019-02-11 15:04] danielhenrymantilla commented on #49150
You're right it requires another thing:
an implicit `T: Unpin` bound on all generics, with an opt-out using `?Unpin` in the same manner as `Sized`

That should make it become
[code]

[2019-02-11 15:12] Vurich opened #58374 "Consider aggregate types containing unconstructable types to also be unconstructable"
Currently `Option<!>` is 0-sized, but `Option<(T, !)>` isn't, despite the fact that the `Some` variant of the latter is unconstructable. If this were fixed then you could implement `PhantomData` in userland as:

[code]

instead of it being special-cased in the compiler.

[2019-02-11 15:13] ckaran opened #58375 "Encountered error `Unimplemented` selecting <...> during codegen"
Update by pnkfelix: reduction to isolated test showing regression from 1.23.0 to 1.24.0 is given in [comment below](https://github.com/rust-lang/rust/issues/58375#issuecomment-474034186).

Original bug report follows

----

I'm using [cargo-tarpaulin](https://crates.io/crates/cargo-tarpaulin) to ensure that my tests using [proptest](https://crates.io/crates/proptest) are covering all cases.  In th

[2019-02-11 15:21] RalfJung commented on #49150
This has a huge effect on the overall API design, and was discussed extensively as part of the `?Move` proposals.  For example, it would mean that many, many existing libraries would need updating to work with pinning. The conclusion was that going with a library-only solution such as what we got now is better because it requires none of this.

[2019-02-11 15:46] danielhenrymantilla commented on #49150
Yep, huge cost short term since all existing libraries would need to update to be `!Unpin` compatible, but in the long run we would end up with a "safer" `Drop`. It did not seem that bad at first, since at least we are not breaking anything.

But it is a fair concern (I did not know that it had been raised previously; thank you for pointing it out, @RalfJung ), and I guess that the short term prac

[2019-02-11 16:02] hellow554 commented on #58325
Related/Dup? https://github.com/rust-lang/rust/issues/54038

[2019-02-11 16:08] #35870 closed

[2019-02-11 16:21] oli-obk commented on #58320
We are only using the `as_usize` method in `getcount`, which is only used for the `width` and the `precision` fields. These must be `usize` anyway, so the `as_usize` function essentially double checks whether we are doing this for `usize`.

[2019-02-11 16:27] dotdash commented on #58368
Local testing suggests that this is due to commit https://github.com/rust-lang/rust/commit/ff19a53ef07566aa30860023f6eac6e75ffaf900 "Querify entry_fn", which seems to cause inc.comp. to hand more code to LLVM. Reverting that patch brings performance back to the old level.

This fits the fact that the regression only hits benchmarks that have a patch that affects main() and didn't already require p

[2019-02-11 16:27] dotdash commented on #58368
cc @Xanewok

[2019-02-11 16:30] hellow554 commented on #58355
Even shorter:

[code]

[2019-02-11 16:43] aaronstillwell commented on #58234
@Mark-Simulacrum are you able to define a list of the methods that need to be implemented as part of this PR?

[2019-02-11 16:54] hellow554 commented on #58355
Bug was introduced between 1.23 and 1.24

[2019-02-11 17:05] hellow554 commented on #58355
cc @eddyb based on your commits that day ^^

[2019-02-11 17:27] montao commented on #29597
I have a metaprogramming project with Basile in Paris who is a research engineer, he mostly works in C and generates many plugins using dlopen in C. We are looking for alternatives to C. We looked at Go but Go includes the runtime in the plugin which creates too large files if we generate thousands of plugins.

So far I think that Rust is the only alternative to C in doing this. We really tried ha

[2019-02-11 17:41] oli-obk opened #58379 "Adding a `Drop` impl to a type is a breaking change"
uncommenting the drop impl in the following program causes it to not compile

[code]

if the definition of `Foo` were in another crate, adding that `Drop` impl would break compilation of the crate with the `const fn`.

cc @Centril

I don't think adding a drop impl was a breaking change before `const fn`. But maybe I just can't come up with an example.

[2019-02-11 17:53] oli-obk commented on #29597
Looking at the Rust examples, you can achieve the same thing with procedural macros. They are documented [here](https://doc.rust-lang.org/book/ch19-06-macros.html#function-like-macros) and [above that in more detail](https://doc.rust-lang.org/book/ch19-06-macros.html#how-to-write-a-custom-derive-macro)

I believe these do cover your use cases. Please let me know if that assessment is wrong.

[2019-02-11 18:40] petrochenkov commented on #58379
This case is fixable (there was an RFC allowing this in 2017-2018, but I can't find it), but things are currently moving in the opposite direction with that RFC being closed and https://github.com/rust-lang/rfcs/pull/2514 + https://github.com/rust-lang/rust/pull/56440 being accepted.

[2019-02-11 19:27] estebank commented on #53934
There's another suggestion that's quite common that would nice to add `run-rustfix` to: `"" + String::new()"`

[2019-02-11 19:44] Mark-Simulacrum commented on #58234
I think all of these will essentially call the underlying functions on `OsString`.

 - [ ] `capacity`
 - [ ] `with_capacity`
 - [ ] `clear`
 - [ ] `reserve`
 - [ ] `reserve_exact`
 - [ ] `shrink_to_fit`
 - [ ] `shrink_to` -- this one is more of a maybe, since it's unstable on OsString. We can reuse the same tracking issue for this.

We'll probably want to add all of these under the same feature ga

[2019-02-11 21:15] andoriyu commented on #45629
I've found another instance if this happening: https://dev.azure.com/andoriyu/libpandemonium/_build/results?buildId=32

Only affects stable, but works on Beta and nightly.

[2019-02-11 21:20] RalfJung commented on #54914
This is done now in the form of https://github.com/RalfJung/miri-test-libstd

[2019-02-11 21:20] #54914 closed

[2019-02-11 21:28] jfcarr opened #58383 "Suppress dbg! in release build"
I'm hesitant to open this issue, because I suspect it has an obvious answer that I'm missing.

Anyway...

I **love** the new dbg! macro in 1.32.0.  But, given that its purpose is outputting debugging messages, should its output be suppressed in a project's release build?  (cargo build --release)

[2019-02-11 21:32] sfackler commented on #58383
This was discussed in the RFC: https://github.com/rust-lang/rfcs/pull/2361

[2019-02-11 22:20] scottmcm commented on #58383
I'm still a fan of _not_ doing this -- I used `dbg!` in one of my "takes 2 minutes to run in release mode, and who knows how long in debug" projects, and was very glad for the output in release.

Maybe it would make sense for the `dbg!` documentation to point to [`log::debug!`](https://docs.rs/log/*/log/macro.debug.html) for when people want to leave these lines checked in?  I'm not usually a fan

[2019-02-11 22:25] scottmcm commented on #58374
This has been discussed before.  The complicated case is this one:

[code]

That compiles today by actually writing the `100` into the first 4 bytes of the stack slot.

[2019-02-11 22:33] Centril commented on #58374
Thankfully, it does not really *([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b8edf05b9bbca45ed69b80f0fa28b9a5))*:

[code]

[2019-02-11 22:36] matthewjasper commented on #56254
So I've thinking if there's a way to do this that avoids these problems, before I give up and admit that our choice is between minimal two-phase borrows and `transmute_copy` two-phase borrows.

Instead of storing the base in the tag we instead store it on the stack, below the item for the two-phase borrow. More precisely, we add variants

[code]

When we create a two-phase borrow with tag `Uniq(t)

[2019-02-11 22:49] jgarvin commented on #50459
not sure if this should be considered the same issue or a different issue, but I get the same error number with a completely different error message, which seems to defeat the point of having easy to Google error numbers:

`error[E0658]: imports can only refer to extern crate names passed with `--extern` on stable channel (see issue #53130)`

[2019-02-11 22:50] dlrobertson commented on #54883
Back to looking at this. An update for anyone following this (and a note to self so I don't forget things).

## TODO:

 - [ ] Figure out lowering
 - [ ] be sure to remove the `Vec<Pat>` from match and while/if let since we now have a `p | q` pattern form. - @Centril
 - [ ] ensure parsing conforms to the RFC

[2019-02-11 22:53] Centril commented on #58383
We already do that, https://doc.rust-lang.org/nightly/std/macro.dbg.html -- but it could use some linkification and elaboration...

[2019-02-11 23:02] scottmcm commented on #58374
@Centril That's absolutely what we tell LLVM to do, and what it does in debug mode ([godbolt](https://rust.godbolt.org/z/b3RTpd)):

[code]

[code]

[code]

LLVM may optimize it sometimes (like it does `let mut x: u32; x = 100;`), but what I said is what we emit.

[2019-02-11 23:06] Centril commented on #58374
@scottmcm Sure, but this will eventually stop compiling so what we emit to LLVM is irrelevant because it won't reach LLVM and will fail during type checking instead.

[2019-02-11 23:09] rkruppe commented on #58374
We actually deliberately went from considering this a ZST to not considering it a ZST to fix bugs, see https://github.com/rust-lang/rust/issues/49298

That issue also contains [an example](https://github.com/rust-lang/rust/issues/49298#issuecomment-380615281) (I've seen more but I think most discussion is effectively lost in old chat protocols) that highlights that not uninhabited should not imply

[2019-02-11 23:46] estebank opened #58385 "Reduce jargon in "refutable pattern in local binding" diagnostic"
Although the following error is not _incorrect_, it is unnecessarily obtuse for newcomers:

[code]

We should probably reword the error to have a better explanation of what is happening in terms that someone just starting in the language can understand it along the lines "Hey! You are trying to destructure (even more jargon) an enum variant, but you aren't handling other possible enum variants. Yo

[2019-02-12 00:27] Zoxc commented on #54242
This is because we try to mark a query `A` as green with `try_mark_green_and_read` without properly starting the current query job with `JobOwner::start`. `try_mark_green_and_read` can force queries, including the query `A` which initially called it, but we can't generate the cycle error because query `A` won't be on the query stack.

[2019-02-12 01:12] topecongiro commented on #41517
@ricochet1k @alexreg Thanks.

On a side note, currently putting `auto` in front of a trait alias is allowed:

[code]

Is this intentional? If not, could we change this to a syntax error? FWIW putting `unsafe` in front of a trait alias is a syntax error.

[2019-02-12 01:41] alexreg commented on #41517
@topecongiro Definitely an oversight. Thanks for the report.

[2019-02-12 02:32] FaultyRAM opened #58388 "Redundant bounds check is not elided"
[Nightly Playground link](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=aed66d73af0bece065fb47940cefe14a)

Splitting a slice in two such that `left.len() <= right.len()`, then looping `left.len()` times over the elements of `left` and `right` cannot overflow, but a bounds check is emitted for `right[i]` regardless:

[code]

[code]

[2019-02-12 03:20] #58053 closed

[2019-02-12 04:18] jminer opened #58390 "Unknown feature names are not reported if there are other errors"
I just added an impl that I thought should be valid now with https://github.com/rust-lang/rfcs/pull/2451, but I got a compiler error. So I found the RFC and copied the feature name `re_rebalancing_coherence` from it. However, I still got the compile error, so I spent a while trying to figure out if the impl was really valid. Eventually, I tried commenting out the impl, and then (thanks to #52644),

[2019-02-12 05:38] andrewtj commented on #55794
I just noticed that the [example for UdpSocket](https://doc.rust-lang.org/std/net/struct.UdpSocket.html#examples) suggests an error won't be returned:
[code]
(I'm only mentioning this as it may need to be amended.)

[2019-02-12 05:43] SamuelMarks opened #58391 "`std::env` fails every 30 tests (or so)"
Run this piece of code dozens of times, with `cargo test`:

[code]

After mostly successes, you'll get something like:
[code]

[2019-02-12 05:50] #58030 closed

[2019-02-12 05:56] kennytm commented on #58391
`cargo test` executes the test in parallel by default, which means `env_or_some` could run after the `env::remove_var` and before the `assert_eq!(env_or(KEY, KEY), KEY);`. The failure is expected.

Use `cargo test -- --test-threads=1` if your test can't be executed in parallel.

[2019-02-12 06:12] SamuelMarks commented on #58391
Hmm, is there some way to run the function body in a—to use database terminology—transaction?

[2019-02-12 06:13] jethrogb commented on #46989
ping @eddyb @nikomatsakis @scalexm

[2019-02-12 06:29] kennytm commented on #58391
You could use a global `std::sync::Mutex`.

[2019-02-12 06:45] SamuelMarks commented on #58391
True that

[2019-02-12 06:45] #58391 closed

[2019-02-12 07:02] glandium opened #58393 "dep-info doesn't contain statically linked libraries"
Consider the following dummy crate:
[code]
Now run `cargo run`. It will work as expected, printing `foo`.

The problem is that `foo-*.d` doesn't contain anything to do with libfoo.a, which is obviously a dependency. One consequence of this is that sccache relies on this dep-info for its caching, and changes to libfoo.a are completely ignored. One real-world consequence is that on Firefox CI, jobs

[2019-02-12 07:09] dalance opened #58394 "Wrong glibc linked in building crates using proc_macro with linuxbrew"
If the versions of system glibc and linuxbrew glibc are different, building crates using proc_macro (ex. serde_derive, structopt_derive) is failed at Rust 1.32.0.
In Rust 1.31.1, this issue don't occur.

## Environment
CentOS Linux release 7.6.1810 (Core)
Rust 1.32.0, 1.31.1
System glibc: 2.17
linuxbrew glibc: 2.23

## Step

### Source code

Cargo.toml

[code]

src/main.rs

[code]

### Build resul

[2019-02-12 08:02] vi commented on #55940
Implemented `checked_duration_since`: https://github.com/rust-lang/rust/pull/58395

[2019-02-12 08:14] RalfJung commented on #53491
The one thing that worries me most about moving to stabilization soon-ish is the total lack of feedback from people who actually use this type. It seems that everyone is waiting for this to be stabilized before they will start using it. That is a problem, because it means we will notice API issues too late.

@rust-lang/libs what is the usual conditions under which you will use a function instead o

[2019-02-12 08:37] hellow554 opened #58396 "ICE broken MIR in DefID"
While trying to minimize https://github.com/rust-lang/rust/issues/58344 I found a possible other ICE. If this is the same, please feel free to close this issue and I will add it as a simpler example to that issue.

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=2de00fc2bd880ba5d91a1578729c970c))

Errors:

[code]

Happens on stable, beta and nightly

[2019-02-12 08:38] scottmcm commented on #53491
@RalfJung My understanding is that methods are avoided on things that deref to generic parameters, to avoid hiding methods from the user's type -- hence `ManuallyDrop::take`.

Since `MaybeUninit<T>` will never be `Deref<Target = T>`, I think methods are appropriate here.

[2019-02-12 08:42] not-fl3 opened #58397 "Derive macro breaks "use" names resolution"
Issue topic is probably confusing - I am not sure whats going on here :)

The problem:

[code]

foobar's lib.rs:

[code]
Entire repo: https://github.com/not-fl3/derivebug

This code fails to build with
[code]

But works totally fine without ```derive(Clone)``` or with ```use foobar::Bar``` instead of ```use foobar::*``` in components module.

<details> <summary>Working code, with "use foobar::Bar"

[2019-02-12 08:44] jethrogb commented on #53491
Ask for feedback and ye shall receive. I used `MaybeUninit` to implement new functionality in `std` recently.

1. In [sys/sgx/ext/arch.rs](https://github.com/rust-lang/rust/blob/master/src/libstd/sys/sgx/ext/arch.rs) I use it in combination with inline assembly. I actually used `get_mut` incorrectly at first (fixed in 928efca1).
2. In [sys/sgx/rwlock.rs](https://github.com/rust-lang/rust/blob/mast

[2019-02-12 08:57] saleemjaffer commented on #50592
@nikomatsakis I would like to work on this. I'm new to rust though.

[2019-02-12 09:06] azriel91 commented on #43244
Hi, I was searching for the `drain_filter` functionality for `HashMap` but it doesn't exist, and was asked to open an issue when I found this one. Should it be in a separate issue?

[2019-02-12 09:12] petrochenkov commented on #58397
Probably a duplicate of https://github.com/rust-lang/rust/issues/56593

[2019-02-12 09:18] oli-obk commented on #58379
Well, this is a regression in the language, so I assumed the lang team would be the relevant team to figure this out.

Since there is an example that shows that adding `Drop` impls to types is a breaking change even ignoring `const fn`, there's nothing to act on here I think.

[2019-02-12 09:18] #58379 closed

[2019-02-12 09:30] Xanewok commented on #58368
I'm looking at the diff again and can't find an obvious culprit - we do a HIR walk and find and return a stable defid + type, which is cheap to copy and called rarely..

@michaelwoerister  unless changes to `main` body changes its DefId and possibly invalidates [monorphization](https://github.com/rust-lang/rust/commit/ff19a53ef07566aa30860023f6eac6e75ffaf900#diff-484fc819e81dce826e702d5223abc827R7

[2019-02-12 09:39] Pzixel commented on #53491
1. I'd be very confused if `out.get_mut() as *mut _` != `out.as_mut_ptr()`. Looks really C++ish. I hope it would be fixed somehow.

[2019-02-12 09:52] gnzlbg commented on #53491
What's the point of `get_mut()` ?

[2019-02-12 10:04] Nemo157 commented on #53491
One thing I was wondering recently was whether `MaybeUninit<T>` was guaranteed to have the same layout as `T`, and whether something like that could be used to partially initialize values on the heap then turn it into a fully initialized value, e.g. something like ([full playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c7a248bd32d61af66099cb75b6118258))

[code]

[2019-02-12 10:08] RalfJung commented on #58320
So you are saying `format_args!` actually ensures that width/precision fields are always created with `from_usize`?

[2019-02-12 10:15] oli-obk commented on #58320
That's my reading of the code, but I might have missed some stuff. The formatting code is very... frameworky

[2019-02-12 10:21] hellow554 commented on #58396
Okay. After some investigation this seems like a dupe of the references issue. Only difference between them is, that the original issue has to ICE

[code]

and mine one has the later one. Maybe one would like to have tests for both? If somebody decides the original one is enough, then I he/she can close this :)

[2019-02-12 10:30] gnzlbg opened #58398 "rustc --target=$TARGET --foo should print the target's cfgs (target_arch, pointer width, etc.)"
It would be great to have a way of dumping the target's cfgs (target_arch, target_os, target_pointer_width, etc. ) programmatically from the CLI by using something like `rustc --target=$TARGET --print-target-cfgs`.

If these are printed in a format that's easily readable by, e.g., POSIX sh scripts (e.g. one `cfg=value` per line), then we could more easily improve the rust forge to contain more inf

[2019-02-12 10:31] Pzixel commented on #53491
@Nemo157 why do you need same memory layout when you have `into_inner`?

[2019-02-12 10:51] Pzixel commented on #53491
@Nemo157 Maybe it's better to enforce compiler to optimize copying away? I think it should do it anyway, but there could be an attribute to ensure compiles does it.

[2019-02-12 10:52] #56704 closed

[2019-02-12 11:20] nicoburns commented on #53491
@Nemo157

I believe that this *is* guaranteed, and that you code is valid, with a couple of caveats:
- Depending on the type you are using (and notably in generic code), you may need `ptr::write_unaligned`.
- **If there are more fields, and only some of them are initialized, then you should not transmute to T until all fields are fully initialized**.

This is also a use case that I'm interested in

[2019-02-12 11:23] theronic commented on #57080
Just got nailed by this on a Debian install trying to custom compile Rust for MIPS. Removing the --progress argument got me past this, thanks @zackmdavis.

[2019-02-12 11:26] Pzixel commented on #53491
@nicoburns yes, I see it now. I'm just talking that there may be some attribute, e.g. `#[same_layout]` or `#[elide_copying]`, or they both, or something else, to make sure it works the same way as `transmute`. Or maybe change `into_constructed` implementation to avoid extra copying. I'd expect this to be a default behaviour, not just for smart guys who read the docs about layout. I mean I have my

[2019-02-12 11:30] nicoburns commented on #53491
I made a similar point above that `get_mut()` and `get_ref()` are potentially confusing / make it easy to accidentally invoke undefined behaviour (because they give the illusion of being safer alternatives to `as_ptr()` and `as_mut_ptr()`, but are in fact less safe than those methods).

I believe they are *not* in the subset of the API that @RalfJung proposed stabilising (see: https://www.ralfj.de

[2019-02-12 11:40] nicoburns commented on #53491
@RalfJung Regarding your proposal for a `ptr::freeze()` method (https://www.ralfj.de/blog/2019/02/12/all-hands-recap.html):

Would it make sense to have a similar method for constructing `MaybeUninit`?(`MaybeUninit::frozen()`, `MaybeUninit::abitrary()` or similar). Intuitively, it seems that such memory would be as performant as truly uninitialized memory for many use cases, without having the cos

[2019-02-12 11:56] faern commented on #55940
@vi Could we not keep that as a separate feature? As to not slow this one down. No one reported they might have any need for `checked_duration_since` when we developed `checked_add` and `checked_sub`.

[2019-02-12 12:01] not-fl3 commented on #58397
Yes, its definitely the same issue!

[2019-02-12 12:01] #58397 closed

[2019-02-12 12:14] hellow554 commented on #57781
Crashes on stable and beta but **not** on nightly anymore. Here's an MCVE.

[code]

One might want to add an test to the collection.

Also this test is very specific to the `HashMap` type. I tried it with `struct Foo<K, V>(K, V)` and it did not crash.

[2019-02-12 12:16] RalfJung commented on #53491
@Pzixel

Noted.  The reason why some people propose this is that it can be useful to declare `&mut !` uninhabited (as in, having such a value is UB).   However, with `MaybeUninit::<!>::uninitiailized().get_mut()`, we have created such a value.  That's why `as_mut_ptr` is less dangerous -- it avoids creating a reference.

@nicoburns (Note that `freeze` is not my idea, I just was part of the discuss

[2019-02-12 12:34] hellow554 commented on #57924
Minified:

[code]

[2019-02-12 13:04] akiross opened #58401 "Random failures while linking"
When I compile my project, I randomly get linking errors like the following:

[code]

I noticed this error both when compiling azul and when using servo's webrender. What is curious is that this error is random: often times, I just run `cargo build` a few times and it works properly. I never noticed this error in my other rust projects, which did not make use of webrender, but they were fairly sma

[2019-02-12 13:04] vi commented on #55940
OK, renaming the feature in the pull request.

[2019-02-12 13:10] mati865 commented on #50154
Upstream fix has landed in Rust's LLVM fork: https://github.com/rust-lang/llvm-project/commit/3d36e5c3e6cf8ed0ce68fd9e123654ddcfbaf7a3

[2019-02-12 13:11] vi opened #58402 "Tracking issue for 'checked_duration_since' feature"
There going to be [checked analogues of offseting `Instant`s by `Duration`s](https://github.com/rust-lang/rust/issues/55940), but I see no analogue of non-panicking calculation of `Duration` from a pair of `Instant`s.

Note: this issue is referred by `#[unstable]` in the pull request.

[2019-02-12 13:18] MightyPork commented on #47074
I just had something similar with `rustc 1.32.0 (9fda7c223 2019-01-16)`.
Should I start a new issue for it? It might be some regression relating to this

It's an error in the final linking stage, but when I use `--release` it builds fine

[code]

[2019-02-12 13:33] gnzlbg commented on #50154
Does this still reproduce with nightly? If not we can close this.

[2019-02-12 13:36] alexcrichton commented on #58393
This may be the same as https://github.com/rust-lang/rust/issues/57717?

[2019-02-12 13:58] Antiarchitect commented on #58292
Sorry guys, cannot reproduce :(

[2019-02-12 14:02] RalfJung commented on #58343
Turns out `$ORIGIN` works without `-z origin` being passed to the linker -- I still wonder if we should set that flag, though.

[2019-02-12 14:36] gnzlbg commented on #56371
Now that cross-lang LTO is being stabilized (https://github.com/rust-lang/rust/pull/58057) we should definitely ship rust-clang with rustup. We are pretty much always using a non-release LLVM version pinned at some particular commit, which would mean that for people to use cross-lang LTO in nightly, they would need to get the LLVM sources used by the current nightly (potentially with Rust patches)

[2019-02-12 14:43] sfackler commented on #58394
This is how glibc works. If you're targeting glibc, you need to build against the oldest version you want to support. The compiler's built in a CentOS 5 environment, for example.

[2019-02-12 14:50] amesgen commented on #56006
This issue seems to be fixed, thanks! Closing.

[2019-02-12 14:50] #56006 closed

[2019-02-12 15:01] mati865 commented on #56980
I discovered interesting thing, external profiling tools gather data only for the first 0.2 second since running command `rls --cli`. Looks like the executable it routed via rustup and it confuses the tools.

There are no real significant leaks but allocations in `librustc*` are way too big:
![Heaptrack](https://user-images.githubusercontent.com/1174646/52644017-698d5c00-2ede-11e9-9fec-412a44eadc0

[2019-02-12 15:05] luser commented on #58393
Yes, this sounds like the same issue. I don't think this actually impacts sccache though--we explicitly include static libraries/rlibs in the hash calculation:
https://github.com/mozilla/sccache/blob/12008f60bc8b5335e8e8fa878e3bdc2749e50756/src/compiler/rust.rs#L889
https://github.com/mozilla/sccache/blob/12008f60bc8b5335e8e8fa878e3bdc2749e50756/src/compiler/rust.rs#L984

...however testing locall

[2019-02-12 15:11] hellow554 commented on #58292
Maybe it has been fixed in the mean time (unlikely ^^). I guess you can close this. When it comes up again and you know how to do it, just reopen it. Thanks anyway for the report! <3

[2019-02-12 15:26] luser commented on #58393
After fixing a few assumptions (sccache won't cache the bin compilation in your example crate, and by default cargo will use incremental compilation which sccache also won't cache) I realize that https://github.com/mozilla/sccache/issues/169 makes it impossible to validate this on Mac currently.

[2019-02-12 15:55] dancrossnyc commented on #31437
Adding another voice to the chorus pointing out that this is still broken.  My example code:

[code]

This makes it difficult to give a pedagogical examples of writing interrupt-safe locks in a no_std environment (the `spin` crate, for example, does not disable interrupts when holding a lock). Replacing the body of the function with an intrinsic call works, but is not great as an example for stude

[2019-02-12 16:08] mati865 commented on #58401
Never had an error like that (also Fedora 29 here). Next time it happens run `lsattr file_with_error`, in your post it'd be `lsattr /home/myself/azul_demo/target/debug/deps/azul_demo-00e6ee29d5a85693.3r68os0lo0vp8x47.rcgu.o`.
What is your filesystem for `/home`? Is this local or remote location?

[2019-02-12 16:11] michaelwoerister commented on #58335
Can we update to LLVM 8 proper? The rc2 for that is already out.

[2019-02-12 16:15] nikic commented on #58335
We are already on LLVM 8. These changes are part of LLVM 9.

[2019-02-12 16:16] Nemo157 commented on #53491
@Pzixel being able to construct objects directly into pre-allocated memory is non-trivial, Rust had two RFCs accepted to implement such a thing (over 4 years ago!), but they have since been un-accepted and most of the implementation removed (except the `box` syntax I used above). If you want more details [the i.rl.o thread about the removal](https://internals.rust-lang.org/t/removal-of-all-unstabl

[2019-02-12 16:21] Pzixel commented on #53491
@Nemo157 I only suggest to use it in one place, nothing to deal with non-trivial generic case.

[2019-02-12 16:29] michaelwoerister commented on #58335
Ah, OK. I hope we stay on LLVM 8 until the next beta branches off.

[2019-02-12 16:32] akiross commented on #58401
This workstation runs F29 with ext4, not a remote location, but there is a remote authentication (ldap) for logging in - but I don't think the compiler needs to log in as another user, does it?
I have another workstation which is again a Fedora29, but no ldap there: I did not try this code on that computer yet.

So, the error happened again while re-compiling my code (it's very easy to make it pop

[2019-02-12 16:51] sfackler commented on #58394
Compiler plugins are `dlopen`ed by the compiler. Is the dynamic linker even willing to load two copies of glibc into the same process?

This may be an intrinsic issue with linuxbrew's approach. You could try out making some C code that dlopens a linuxbrew library.

[2019-02-12 16:55] mati865 commented on #58401
No.

Hmm, could it be SELinux issue?
You can check if it's the case by looking into `journalctl -xe` (especially `audit` process). Alternatively you can temporarily disable (not recommend for longer usage) it with `sudo setenforce 0`. If the error stops appearing that's it, after reboot SELinux will return to it's default state.

[2019-02-12 18:28] phaux commented on #57640
I'm just gonna throw out some ideas for the postfix operator.
[code]

[2019-02-12 18:53] dpc commented on #57640
Not saying if postfix operator is the way to go or not, but personally I find `@` one of the most noisy and weird looking from all possible choices, and superficially, I find `~`  from the @phaux comment much more elegant and less "busy". Also, if I'm not missing anything, we don't use it for anything in Rust yet.

[2019-02-12 19:10] #58292 closed

[2019-02-12 20:36] #44931 closed

[2019-02-12 20:59] Serentty commented on #55467
@psychoslave In the future it would be completely possible to add support for dashes and hyphens in identifiers. The only character that could not be used in names without breaking things is the ASCII hyphen-minus, which is the character that appears in most keyboard layouts, and is often used as a substitute for these more-specific characters. Since Rust only uses the hyphen-minus as a minus sign

[2019-02-12 21:00] Gladdy commented on #31844
Are there any plans to support trait bounds on the default that are not present in the specialisation?

As an example for which this would be very useful, such that you can easily compose handling of different types by creating a generic Struct with arbitrary Inner for the functionality that shouldn't be shared.
[code]

Furthermore, in the example above, something odd that I've experienced -  afte

[2019-02-12 21:10] nagisa commented on #58398
[code]
?

[2019-02-12 21:14] scottmcm opened #58410 "mingw-check job is building the compiler, not just checking"
Example: https://travis-ci.com/rust-lang/rust/jobs/177017513
[code]

This is costing an extra ~18 minutes of travis time per PR build (maybe more).

cc @kennytm who I talked with on Discord about this

[2019-02-12 21:17] RalfJung commented on #53491
@jethrogb Thanks a lot!  So it seems the API works fine for you right now?

Woah, that's crazy.^^  But I guess it should work, it is a `const fn` with no arguments after all so it should always return the same thing...

On the list of things we should add eventually is something like
[code]
that transmutes the `Box`.

But yes, I think we should allow such transmutes. Is there precedent for saying

[2019-02-12 21:18] porky11 commented on #51999
@clarcharr
It may be useful to run iterators at compile time. This would also require impure `const fn`.

[2019-02-12 21:22] RalfJung commented on #53491
That's [a bug](https://github.com/rust-lang/rust/issues/58201), but since that bug might be hard to fix it might also be a good idea to offer a separate constructor for this.  Not sure how to implement it, though.  And then we probably also want something like `zeroed_box` that avoids zeroeing a stack slot and then memcpying, and so on... I don't like all this duplication. :/

So I'd propose that

[2019-02-12 21:25] asomers opened #58411 "rustdoc should skip unresolvable private members"
When using the `doc_cfg` feature it's useful to run rustdoc on structures that aren't defined for the running platform.  However, compilation will fail if those structures have private members that also aren't defined on the running platform.  The only solution is to laboriously `#[cfg]` gate each private member, even if the struct itself is already gated.  This issue severely restricts the useful

[2019-02-12 21:34] phansch commented on #58410
I added this in https://github.com/rust-lang/rust/pull/57010. Is there some way to avoid building the full compiler for these tests or would it make sense to move this to another job?

[2019-02-12 21:35] gnzlbg commented on #58398
Ah cool, didn't know that `--print` could do this!

[2019-02-12 21:35] #58398 closed

[2019-02-12 21:36] clarcharr commented on #51999
@porky11 I think you're misunderstanding what impure means. Impure simply means that you get different values for the same input. Mutation isn't impure, as long as it's explicit. If you're passing a mutable reference as an argument (in this case, `&mut self`) you can think of it as treating the iterator state as both an input and an output. The same iterator state before will result in the same st

[2019-02-12 21:46] andersk commented on #50154
Fails with nightly-2019-01-26 == rustc 1.33.0-nightly (bf669d1e3 2019-01-25).
Passes with nightly-2019-01-27 == rustc 1.33.0-nightly (20c2cba61 2019-01-26).

This is consistent with the fix being in the LLVM update of #57675, so yeah, I think we can close this.

[2019-02-12 22:39] glandium commented on #58393
It looks like so.

... except static libraries are not necessarily on the command line. The real usecase is libgkrust, and liblmdb.a is definitely not on the command line when it's built.

[2019-02-12 23:52] johnterickson commented on #53081
I am able to repro this at will in my CI environment if anyone has suggestions on extra logging to add or data to collect.

[2019-02-13 00:24] earthengine commented on #57640
I was proposed `~` before @phaux though I don't want to claim patent ;P

I proposed this because it is like an echo talking:

[code]

[2019-02-13 01:34] briansmith commented on #53185
On the other hand, the documentation for `Extend<&'a T>` says that it *is* specialized for slice iterators, and it is pretty important that it is; otherwise we'd need `extend_from_slice` to be generalized into a trait.

[2019-02-13 02:06] TitanThinktank commented on #56788
would be great if the compiler tells us exactly what file is missing for  those OPENSSL_DIR , OPENSSL_LIB_DIR and OPENSSL_INCLUDE_DIR, OPENSSL_STATIC , OPENSSL_LIBS

[2019-02-13 02:22] scottmcm commented on #58388
FWIW, the usual hack mostly fixes this:
[code]

A simpler repro:
[code]

Probably an LLVM issue, not something practical to fix in Rust.

[2019-02-13 03:05] venkag opened #58414 "Hello World App crashes with 'Illegal Instruction' in 32-bit environment on a 64-bit SoC"
I am trying to build Hello World Application and run on a cortex-a53 based processor. The userspace environment is 32-bit (with the all libraries, binaries built in 32-bit mode). The Kernel however, is built in 64-bit mode.

### Code:
$ cat hello.rs
fn main() {
    println!("Hello World!");
}

### Compile
$ rustc --target arm-unknown-linux-gnueabi -C target-cpu=cortex-a53 hello.rs

The output is t

[2019-02-13 03:36] mjbshaw commented on #53491
My own bit of feedback: I'm generally happy with `MaybeUninit<T>`. I don't have any big complaints. It is less of a footgun than `mem::uninitialized`, which is nice. The `const` `new` and `uninitialized` methods are nice. I wish more of the methods were const, but as I understand it many of them require more progress to be made on `const fn` in general before they can be made `const`.

I'd like a

[2019-02-13 05:19] jethrogb commented on #55861
https://travis-ci.com/rust-lang/rust/jobs/177329735

[2019-02-13 07:36] Kingsquee opened #58417 "module name overlap within macros causes ICE"
[code]
[code]
[Playground Link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7a3905fca91b15a95d8fc42cf68310f6)

[2019-02-13 07:46] #55940 closed

[2019-02-13 07:46] #48271 closed

[2019-02-13 07:58] petrochenkov commented on #58417
Fixed on nightly, in https://github.com/rust-lang/rust/pull/57908.

[2019-02-13 07:58] #58417 closed

[2019-02-13 08:08] parched commented on #58414
Can you print the instruction that is failing and dump the registers with GDB?

Does it happen when you don't specify the target-cpu?

What linux distribution and architecture are you using? `armv7-unknown-linux-gnueabihf` is possibly the target you really want.

[2019-02-13 08:43] #58335 closed

[2019-02-13 09:10] oli-obk commented on #53081
I'm not sure what the correct action to resolve this issue is.

Is it to change our test suite so it stops showing code snippets from the standard library?

[2019-02-13 09:23] casey commented on #57640
`~` is sometimes used after a sentence to indicate trailing off, which is apt for await!

[2019-02-13 09:57] ejpbruel2 opened #58419 "Getter functions and indexing don't seem to follow the same lifetime rules"
This is my first issue for the Rust project. Apologies up front if it is somehow unclear. I'd be happy to provide any additional information you need.

DESCRIPTION

The issue I'm running into is this. Consider the following code:
`collection.get_mut(collection.get(0).unwrap().index).unwrap().index = 1;`

The inner call to `get` causes an immutable borrow on `collection`. We then obtain a index fro

[2019-02-13 09:58] ejpbruel2 commented on #58419
Cc'ing @nikomatsakis as I've been told he'd be particulary interested in issues like this one.

[2019-02-13 10:14] hellow554 commented on #58419
Hmm, you're right. This should be possible with NLL, e.g. using

[code]

does work.

[2019-02-13 10:50] saleemjaffer commented on #50592
@spastorino I cannot create a crate in rust-lang-nursery. Should I create a new github project and move the bit related types to it?

[2019-02-13 11:16] eddyb commented on #50592
cc @nnethercote

[2019-02-13 11:35] akiross commented on #58401
I tested on another F29 machine and it went smooth for few tries.

On this workstation, no, sadly it's not SELinux: nothing is reported on logs and even by disabling it, the linking fails.

BUT I tried running `LD_DEBUG=all cargo build` to see what's going on while linking and I found this:
[code]

few lines above, there is this
[code]

I could not find anything else in that log with a quick inspe

[2019-02-13 11:37] eddyb commented on #58355
That example should not type-check, you're assigning a `Box<&T>` where a `Box<T>` is expected.

cc @rust-lang/compiler

[2019-02-13 11:48] eddyb commented on #43467
@shepmaster I independently came across that (well, @RalfJung pointed it out) and I opened https://github.com/rust-lang/rust/pull/58271 last week, which I'm not sure how to fix.

If what I did is different from `type opaque`, that might be why it fails.

But also, note that `type {}` is just a tuple with no fields, i.e. LLVM's `()`, not an "empty type" in the Rust sense of `enum Void {}`.

[2019-02-13 11:53] eddyb commented on #57349
Please cc @oli-obk and/or @RalfJung on all CTFE-related things.

In terms of the implementation, we plan to allow all pointers where the memory they point to is on the CTFE "stack" (i.e. not a static) and maybe "heap" in the future, with maybe some limitations around `const fn` itself.

But miri can already interpret more than everything you'd reasonably want to run in CTFE.

[2019-02-13 12:10] timvermeulen opened #58424 "Empty closure doesn't implement Fn when passed directly as FnMut argument"
[code]
([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f1bf0bc5e4149d61d2a6dff4c9ed4a19))

I expected both versions to compile.

[2019-02-13 12:16] eddyb commented on #39685
I think I have a design that won't cause all the issues we hit before (cc @oli-obk):

Each MIR block gets an (optional?) "cleanup exit" for everything that could panic inside the block, "coalescing" in a sense all the panic cleanup edges.

This takes advantage of the fact that many calls/asserts could be performed without adding or removing cleanups, so they can likely be grouped by the cleanup th

[2019-02-13 12:34] dalance commented on #58394
Thanks.
The linker used to build `libstructopt_derive-cdf0ae629ff7e333.so` is `~/.linuxbrew/bin/cc`.
But `dlopen` of compiler plugin seems to be use system loader?
System loader don't know the linuxbrew's library path which is not included in /etc/ld.so*.

I'll investigate more.

[2019-02-13 12:38] pnkfelix commented on #58419
Hmm I wonder if this is due to some weakness in how we try to limit two-phase borrows to just auto-refs on method calls and indexing. (This was implemented as part fo addressing #48431)

In particular, my hypothesis is that whatever method the compiler is using to pattern-match the code to see if we should attempt to apply two-phase borrows, it is probably getting foiled by the `.index` projection

[2019-02-13 12:44] eddyb commented on #58320
Yeah, `from_usize` is used by `format_args!` in all cases `as_usize` will be called, the behavior of the latter for non-`usize` formatting arguments is impossible to observe without going through the unstable API.

But maybe we should benchmark (cc @anp) the cost of using an `enum` that relies on the null pointer optimization, i.e. `Option` where `Some(fn_ptr)` indicates formatting-only, while `No

[2019-02-13 13:08] #52186 closed

[2019-02-13 14:02] TimDiekmann commented on #55724
What exactly needs to be done to stabilize this? What questions has to be answered before?

[2019-02-13 14:17] TimDiekmann commented on #44488
Is it has the disposition-merge tag [since 9 months](https://github.com/rust-lang/rust/issues/44488#event-1645479380), which issues needs to be resolved before solving this?

This is exactly my use case.

[2019-02-13 14:17] Sogomn opened #58427 "Comma required after stuct field followed by conditional compilation"
Currently I have this code
[code]
Which produces
[code]
regardless whether the feature is enabled or not.

Both fields are technically the last one in the struct, so omitting the comma shouldn't matter, right?

[2019-02-13 14:19] nikomatsakis commented on #46989
So --

This was not fallout I anticipted, but I am not sure if it is **wrong**. I'm going to try and either investigate myself or (more likely) get somebody else to do so.

I am contemplating rolling back the universes PR, although that might be quite difficult. Not because I don't approve of the approach but because I want to be able to re-examine some of the fallout with time pressure.

(I guess

[2019-02-13 14:19] Mark-Simulacrum commented on #55861
We've asked for help on internals: https://internals.rust-lang.org/t/help-wanted-to-debug-a-segfault-in-a-standard-library-test-on-android/9428

[2019-02-13 14:24] sgrif commented on #46989
"Thing that was broken but we expected to work is now working" isn't something I'd necessarily call fallout :smile:

[2019-02-13 14:25] nagisa commented on #44488
There is still an outstanding concern from @alexcrichton about the ergonomics of the API.

[2019-02-13 14:27] eddyb commented on #56132
It's hard to produce disagnostics if you can't parse the source.
Also, typed holes are not a kludge, check out http://hazel.org.

[2019-02-13 14:38] michaelwoerister commented on #57968
Here is an update regarding the `lolbench` experiment: The first nightly with incremental release builds is `nightly-2019-01-28` and the last one is `nightly-2019-02-06`. The following is a list of benchmarks that showed a negative regression above 1% in the range between these dates:

- https://lolbench.rs/benchmarks/brotli-1-1-3-bench-e2e-decode-q5-1024k.html
- https://lolbench.rs/benchmarks/byt

[2019-02-13 14:47] venkag commented on #58414
It happens even when taret-cpu is not set.

Linux Distribution is OpenWRT and Procerros has Brahma53 processor module that implements ARMv8-A complaint architecture.

(gdb) info all-registers
r0             0x0      0
r1             0x1      1
r2             0xab18a020       2870517792
r3             0x0      0
r4             0x0      0
r5             0x0      0
r6             0xab172c74       287

[2019-02-13 15:08] RalfJung commented on #44488
Uh, didn't it get stabilized with https://github.com/rust-lang/rust/pull/53754 ?

[2019-02-13 15:14] nagisa commented on #44488
Yes.

[2019-02-13 15:19] pnkfelix commented on #15702
maybe we can deem this "maturity" that should be part of the next edition...

[2019-02-13 16:11] dalance commented on #58394
I understood as below:
- `libstructopt_derive-cdf0ae629ff7e333.so` is linked by `cc`. In linuxbrew environment, `cc` becomes `~/.linuxbrew/bin/cc` by `PATH` environment variable. Therefore `libstructopt_derive-cdf0ae629ff7e333.so`  is linked to `~/.linuxbrew/lib/libc.so.6`.
- rustc loads `libstructopt_derive-cdf0ae629ff7e333.so` by `libc::dlopen`. The official rustc from `rustup` is linked to `/li

[2019-02-13 16:17] glaebhoerl commented on #33417
Cross-referencing: https://github.com/rust-lang/rust/pull/58302

[2019-02-13 16:18] glaebhoerl commented on #57012
Cross-referencing: https://github.com/rust-lang/rust/issues/58184

[2019-02-13 16:18] glaebhoerl commented on #35121
Cross-referencing: https://github.com/rust-lang/rust/issues/58184

[2019-02-13 16:31] SimonSapin commented on #27791
Stabilized in #58051.

[2019-02-13 16:31] #27791 closed

[2019-02-13 16:35] ErichDonGubler commented on #55977
My only nitpick with calling this `from_fn` is that a closure is, indeed, not a function. If we were actually plugging in a `fn` item, there could be no state whatsoever!

This is a minor nitpick, but it does cause some cognitive dissonance. Anybody have any thoughts or opinions on that?

[2019-02-13 16:51] parched commented on #58414
Ok, and when you type `disassemble` in gdb what do you get?

[2019-02-13 16:53] dtolnay opened #58430 "Hang in item-bodies checking when dependency contains `pub use crate`"
Compiling the following pair of crates hangs and chews up memory.

#### src/main.rs

[code]

#### dep/src/lib.rs

[code]

---

Repro script:

[code]

---

Mentioning @petrochenkov and @nikomatsakis who worked on #45477.
Mentioning @nrc who hit this in a real project.

[2019-02-13 16:55] nikomatsakis commented on #46989
I'm nominating this to prioritize/assign

[2019-02-13 16:55] jonas-schievink commented on #58430
https://github.com/rust-lang/rust/issues/57500 is similar, so this might be a duplicate

[2019-02-13 16:59] petrochenkov commented on #58430
Same as https://github.com/rust-lang/rust/issues/55779, most probably.

[2019-02-13 17:01] sfackler commented on #58394
Yes, you'll either need to adjust the Rust distribution to point to the linuxbrew environment via an rpath or LD_LIBRARY_PATH, or use the system linker when working with the compiler.

[2019-02-13 17:06] SimonSapin commented on #33417
Thanks @glaebhoerl.

Due to a blocking bug being fixed (https://github.com/rust-lang/rust/issues/49593) I was hoping that the never type could be stabilized Soon® https://github.com/rust-lang/rust/issues/57012 and unblock this. However a new issue (https://github.com/rust-lang/rust/issues/57012#issuecomment-460740678) has come up, and we also don’t have consensus on another one (https://github.com

[2019-02-13 17:07] jdahlstrom commented on #55977
The name should be mentally read "from `Fn`", but of course it can't literally be `from_Fn` due to naming conventions.

[2019-02-13 17:45] Centril commented on #58424
cc @nikomatsakis -- this seems like a bug to me and feels similar to how `let f = |x: &u8| x;` is treated differently when passed directly or not tho the cause might not be the same.

[2019-02-13 17:57] Centril commented on #58427
Not according to the parser which runs before any `#[cfg(..)]` stripping occurs.

[2019-02-13 17:58] matklad commented on #47402
for the reference, here's what Cargo uses:

https://github.com/rust-lang/cargo/blob/2e4cfc2b7d43328b207879228a2ca7d427d188bb/src/cargo/util/paths.rs#L65-L90

[2019-02-13 18:10] dpc commented on #57640
I can't tell if this thread have hit peak ridiculousness or are we onto something here.

[2019-02-13 18:11] SimonSapin commented on #55977
Indeed, the name is intended to refer to the `Fn` trait (and anything that implements it − modulo signature) rather than only `fn` functions or function pointers.

I’m open to another name though, if there are suggestions.

[2019-02-13 18:11] luser commented on #58393
Sure, it must be built into a crate that gets built into libgkrust, right? At some point it will be listed on a rustc command line and sccache will notice that, and the rlib that results from *that* compilation will be different, which feeds into the hash of any downstream crates.

From your example above (I tweaked the crate to also have a lib.rs because sccache wouldn't cache compiling main.rs):

[2019-02-13 18:13] brunoczim commented on #29625
I understand the argument against `Unsafe Fn`. But wouldn't this apply to `unsafe fn` pointers too?

[2019-02-13 18:14] estebank commented on #58355
Using [the minimized repro](https://github.com/rust-lang/rust/issues/58355#issuecomment-462394442), we have [an ICE of some sort since 1.27](https://godbolt.org/z/HIESdb), before then it was rejected due to `dyn Trait` syntax being unstable:

- 1.27

[code]

- 1.28
[code]

- 1.30
[code]
- 1.32

[code]

[2019-02-13 18:23] peterjoel commented on #29625
Yes, I would say so.

[2019-02-13 18:31] ErichDonGubler commented on #55977
Again a nitpick, but technically the bound is `FnMut` (a superset of `Fn`) and not `Fn`, right? It doesn't matter, I know -- I promise I'm trying to calm down the very OCD part of my brain about it. 😝

---

So, let me start this (larger than intended) comment by stating that I would be able to live with `from_fn` -- not that you need my permission. I'm hoping I can at least stimulate thoughts from

[2019-02-13 18:53] Centril commented on #55977
Naming aside, I think the design with the explicit state was better. In particular, it's ergonomic since a temporary `let` binding isn't required. Compare:

[code]

The former encourages right-ward drift while the latter does not.

[2019-02-13 19:00] matklad commented on #55977
The problem is that you'll necessary have **both** the parameter and the closure, which is confusing. Like, even [docs for unfold](https://docs.rs/itertools/0.8.0/itertools/fn.unfold.html) do not use explicit state.

If explicit state is more ergonomic in a particular instance, there's a high chance that `successors` from the neighbor issue will be more ergonomic still

[code]

[2019-02-13 19:01] euclio commented on #46844
I think this is fixed, no?

[2019-02-13 19:01] dtolnay commented on #58430
Thanks, closing as a duplicate of #57500. #55779 seems somewhat different because it manifests as a compile time stack overflow rather than hang, but it is possible they will be addressed by the same fix.

[2019-02-13 19:01] #58430 closed

[2019-02-13 19:11] Centril commented on #55977
But so does `scan`, and indeed also `successors`. *If* it is confusing, then it is at least consistently confusing.

[2019-02-13 19:11] etwyniel opened #58435 "Compiler panic with associated constant"
The compiler panics when I use a generic associated constant from within the impl.

I was able to reproduce it with this code:
[code]

## Meta

`rustc --version --verbose`:

rustc 1.32.0 (9fda7c223 2019-01-16)
binary: rustc
commit-hash: 9fda7c2237db910e41d6a712e9a2139b352e558b
commit-date: 2019-01-16
host: x86_64-unknown-linux-gnu
release: 1.32.0
LLVM version: 8.0

Backtrace:
[code]

[2019-02-13 19:16] RalfJung commented on #53491
@mjbshaw Thanks!

Once that attribute exists, adding it to `MaybeUninit` would be a no-brainer. And in fact the logic for this has already been implemented in rustc (`MaybeUninit<T>` de-facto *is* ABI-compatible with `T`, but we do not guarantee that.)

All it takes is for someone to write an RFC and see it through.  Would you like to give that a try? :D

[2019-02-13 19:19] RalfJung commented on #56254
So basically you are saying we should give up on the stack discipline, push stuff into the middle of the stack to remember where the activation is?

[2019-02-13 19:23] matthewjasper commented on #56254
No, it goes on the top (except for the freeze). The necessary information is "the items on the stack that were on the stack when we created the two-phase borrow are still there", and what borrow we came from (so that we know what to remove when we activate the two-phase borrow).

[2019-02-13 19:25] RalfJung commented on #56254
Uh. I see.

As a first gut-level reaction I have to say I think I prefer violating the stack discipline.^^

[2019-02-13 19:47] aturon commented on #46989
FYI: I'm planning to start digging into this issue this week. Going to self-assign for the time being.

[2019-02-13 19:49] venkag commented on #58414
Here is the disassemble output:

(gdb) disassemble
Dump of assembler code for function std::io::stdio::_print::hca3615e2c19cbb93:
   0xab159640 <+0>:     push    {r4, r5, r6, r7, r8, r9, r11, lr}
   0xab159644 <+4>:     sub     sp, sp, #88     ; 0x58
   0xab159648 <+8>:     ldm     r0, {r2, r3, r4, r5, r6, r7}
   0xab15964c <+12>:    mov     r8, sp
   0xab159650 <+16>:    mov     r1, r8
   0xab159

[2019-02-13 20:00] jdahlstrom commented on #45048
A bit late to the party now, but I'm not sure it would have been reasonable to generate 3^13-1=1594322 trait impls, compiler plugin or not...

[2019-02-13 20:19] estebank opened #58436 "Lookahead for closing curly quote when encountering opening curly quote"
When encountering curly quotes, the compiler now points at the opening one suggesting changing it for a regular straight quote. It should also look ahead looking for a closing curly quote char and suggest changing that one too, because when fixing only the first one, the parser will interpret this as an unclosed string.

[code]

[code]
After applying suggestion:

[code]

Ideally

[code]

[2019-02-13 20:29] jayed opened #58437 "Failed to run `cargo install ripgrep`"
Please note that I'm not a Rust developer so, in many cases, am unable to dig in any more than I have with this issue. Hopefully it will be enough to shed some light on the situation. Thanks!

### Summary
Running `cargo install ripgrep fails` saying `error: internal compiler error: unexpected panic` in one case. In another case, it fails to compile the encoding_rs package.

`RUST_BACKTRACE=1 cargo

[2019-02-13 20:33] jayed commented on #58437
Hah. I just found a *SIGSEV 11*. Let me make this box larger & give it a whirl. This is a small VM.

[2019-02-13 20:34] pmccarter commented on #58436
I could maybe do this with some mentoring, if not too difficult or trivial...

[2019-02-13 20:44] linouxis9 opened #58439 "Illegal instruction (core dumped) on std::thread"
[code]

When building this code in release mode using stable or the latest nightly, the produced binary fails with the Illegal instruction (core dumped) processor error.

It is reproducible on the [playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=b118f2369efda806c4cf07682b846728).

## Meta
rustc 1.33.0-nightly (19f8958f8 2019-01-23) on x86_64, Intel 6th generat

[2019-02-13 21:14] jayed commented on #58437
Bumping up the memory seems to have eliminated the error.

[2019-02-13 21:14] #58437 closed

[2019-02-13 21:29] estebank commented on #58436
@pmccarter this method is the one that supplies the error:

[2019-02-13 21:37] sfackler commented on #58439
Duplicate of #28728

[2019-02-13 21:37] #58439 closed

[2019-02-13 21:40] viftodi commented on #31343
Hello,

I think there is a huge difference between an "unstable" feauture such as set_print which has been basically unchanged for years and is used by cargo test and other experimental unstable feautures.

I think either rust should allow certain unstable features to be used in stable as well with a warning, set_print being one example, or set_print should have the unstable removed.

I really nee

[2019-02-13 22:11] estebank commented on #58427
Also, the prevalent style is to have trailing commas, as it makes diffs nicer when adding fields after the last one.

[2019-02-13 22:16] jhpratt commented on #56980
Not sure how active this issue is, but working on 1.33.0-nightly (bf669d1e3 2019-01-25) on Linux (Ubuntu 18.04), RLS (via VS Code) is currently using ~1.5 GB of memory, even when I'm doing nothing at all.

[2019-02-13 22:17] anderspapitto opened #58441 "panic invoking self-referential closure through Option<Box<FnBox>>"
Here, I create a closure f which captures itself, and recurses via that capture. This panics unwrapping `f`, despite my having clearly assigned `f` to a `Some` value.

[code]

yields

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3f6508ff9c49059bab5d069215f0f30b

[2019-02-13 22:18] eddyb commented on #58355
@estebank You can just remove the `dyn` keyword, it *really shouldn't matter*.

[2019-02-13 22:22] eddyb commented on #58355
@estebank You can just remove the `dyn` keyword, it *really shouldn't matter*.

Btw, the minimized repro can be minimized further by removing the (rather heavy) `thread_local!`:
[code]

And we can also get rid of `RefCell`:
[code]
`Fn() -> ToString` is `dyn Fn<(), Output = dyn ToString>`, *none* of this can work.

So the real question is how does this ICE before emitting a type-checking error?

[2019-02-13 22:28] anderspapitto commented on #58441
This is perhaps a simpler example. Note that assigning to `x` is disallowed because it is considered borrowed by the closure, but assigning to `f` is allowed, and then breaks.

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6d4333cb1ab8c2c88fb7fdf8a960422b

[2019-02-13 22:33] eddyb commented on #58355
Okay, so there are two parts to this:
* the `Output` associated type of `FnOnce` doesn't require `Sized`
* `&dyn Fn()` implements the `Fn()` trait, so `Box<&dyn Fn()>` can be unsized to `Box<Fn()>`

So this has a reason to type-check, despite being *very* confusing.

We can make this simpler by using `fn` pointers:
[code]
This way, we have `fn() -> T: Fn() -> T`, so `Box<fn() -> T>` can be unsized

[2019-02-13 22:36] eddyb commented on #58355
The original problem is clearer if we add the `dyn` keyword:
[code]

@viftodi You can fix your code by putting a `Box<...>` around the return type of this `Fn()`, or figure out some other way to do it.

If you want to make sure you find such problems, try to write function that is has implements the right traits, e.g. `fn foo() -> dyn JsSerializable {...}`.
That will error because the return type

[2019-02-13 22:39] parched commented on #58414
Ok yes, it's an old CP15 barrier, you should be fine if you just use `armv7-unknown-linux-gnueabihf` then.

[2019-02-13 22:44] eddyb commented on #46989
@sgrif It's possible this could be unsound (or rather, that's what I'm worried about).

Consider an `impl` like this:
[code]

If that `impl` matches `for<'a> fn(&'a X) -> &'a Y`, then the types for `T` and `U` refer to `'a`, but `T` and `U` are used outside of the `fn` type, but in the associated type, and even worse, in the method body, which `impl` search can't take into account.

I hope Chalk c

[2019-02-13 22:48] BatmanAoD commented on #48926
In [an internals post](https://internals.rust-lang.org/t/lint-for-unused-return-values-of-pure-functions/9435?u=batmanaod), I suggested an alternate heuristic:

    For functions where all of the arguments are by-shared-reference or by-copy, and a value is returned...

CAD97 pointed out that shared-reference *is* `Copy`, so "all parameters are `Copy`" is sufficient.

By "a value is returned", I of

[2019-02-13 22:49] anderspapitto opened #58443 "Box hides value from borrow checker inside closure"
in this code snippet, whether it's ok to assign to an Option which has been captured by a closure depends on whether the type inside the Option is wrapped in Box or not. The borrow checker also seems to turn off when the exact type is indirected through a generic function.

This is a simplification derived from https://github.com/rust-lang/rust/issues/58441

[code]

[2019-02-13 22:53] estebank commented on #58355
What alternative do we have?

[2019-02-13 23:00] jonas-schievink commented on #58443
It is legal to assign a value to a variable that has been moved from. This happens for `b = None;` and `x = None;` because `Option<Box<()>>` and `Option<T>` aren't `Copy`.

For `a = None;`, the reassignment is forbidden because the compiler doesn't move `a` into the closure, it makes the closure borrow it. This works because the `a.unwrap()` inside the closure will copy the option. You can force t

[2019-02-13 23:03] Centril commented on #58435
This is broken on stable and beta but works on nightly. Reduced:
[code]

[2019-02-13 23:07] jonas-schievink commented on #58443
(Closing - If you still think this is a bug, please leave a comment and I can reopen)

[2019-02-13 23:07] #58443 closed

[2019-02-13 23:07] jonas-schievink commented on #58441
This is the same problem as in #58443: Here, in both examples, the `None` is moved into the closure, so the `.unwrap()` in the closure panics. You then assign a `Some` to the moved-out-of variable, so then `.is_some()` is true and the outer unwrap works.

The `x = 4;` assignment doesn't work because `x` is only borrowed by the closure, not moved into it (since all uses of `x` inside the closure on

[2019-02-13 23:07] #58441 closed

[2019-02-13 23:08] glandium commented on #58393
Mmmm I wasn't looking at rlibs but it doesn't matter.

Check out https://queue.taskcluster.net/v1/task/eQ-_VIhVTQ-atFQQ4xY2CA/runs/0/artifacts/public/build/sccache.log, which is the sccache log for https://treeherder.mozilla.org/#/jobs?repo=autoland&resultStatus=testfailed%2Cbusted%2Cexception%2Cusercancel%2Crunning%2Cpending%2Crunnable&revision=952b928f1605ad5676ae4ccfd41612b34523bae5&searchStr=b

[2019-02-13 23:13] tmandry commented on #46989
Seems related, the following example now doesn't compile in beta ([playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2015&gist=422c6f97f0066806ef0783a776514cf1)). Beta now considers the impls overlapping when they weren't before:

[code]

This was discussed back in #44224 and brought up again in https://github.com/rust-lang/rust/issues/56105#issuecomment-451457706. So it seem

[2019-02-13 23:42] tmandry commented on #46989
The new behavior doesn't seem consistent. @nagisa's example above works now, but the ones in the OP don't. Additionally, see [this playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2015&gist=0422ada8bb5647d8b9ca13e67b0be2f8) for an example where the compiler accepts the impl as applicable in one line, but doesn't in the next.

[2019-02-13 23:42] dalance commented on #58394
OK. Linuxbrew don't recommend LD_LIBRARY_PATH modification.
So I think linker specification by `~/.cargo/config` is a reasonable solution.

[2019-02-13 23:42] #58394 closed

[2019-02-14 00:42] glandium commented on #52694
It appears the miscompilation doesn't happen after #55426.

[2019-02-14 00:42] #52694 closed

[2019-02-14 00:58] michaelmelanson opened #58444 "Compiler panic"
This gist has two files: `neuron-broken.rs` and `neuron-working.rs`

https://gist.github.com/michaelmelanson/1f815ca9fea0b9500289c1db4ebf2760

As the name implies, the 'working' one is fine except for a warning about `num_neurons` being lowercase. When I corrected it to `NUM_NEURONS`, I got the 'broken' one which triggers this compiler panic:

[code]

## Meta

`rustc --version --verbose`:
[code]

[2019-02-14 01:05] JoshMcguigan commented on #48711
@yoshuawuyts Has any progress been made on this? I'm wondering if https://github.com/JoshMcguigan/exit could be expanded or somehow tied into some broader cli library to solve this problem?

[2019-02-14 01:16] james-darkfox commented on #44859
Oops, forgot about this issue. As far as I can tell it was fixed.

@Keruspe
@yangby-cryptape

[2019-02-14 01:17] #57952 closed

[2019-02-14 01:17] #42944 closed

[2019-02-14 01:17] #53430 closed

[2019-02-14 01:17] #54242 closed

[2019-02-14 01:19] npmccallum commented on #44109
I'm very much in favor of stabilizing this for enums and leaving the rest unstable.

[2019-02-14 01:47] estk commented on #57525
The feature request as proposed by @kvark is brilliant! I think it fits very nicely with rust's pragmatic view of language design.
* This seems like a significant reduction to the friction of writing docs.
* A standard would benefit the reader in more quickly finding the desired section of the doc.
* It could enhance the richness of the generated documentation.

Bottom line for me is that good doc

[2019-02-14 02:29] asomers opened #58450 "may_dangle"

[2019-02-14 02:29] asomers commented on #58450
Crap!  I mean to type into the search bar.  Sorry :( .

[2019-02-14 02:29] #58450 closed

[2019-02-14 03:00] james-darkfox opened #58451 "ICE related to lifetimes and traits"
Works fine one stable. ICE on beta and nightly. I couldn't reduce or generalize this error any more than this. It appears to be triggered by some unknown type; notice the inner `f()` has no argument here, it could be any type that doesn't meet the bounds.

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5c7dadb018deca07a3fd1669bba32035)

[code]

[2019-02-14 03:51] earthengine commented on #48055
Just found that the `Into` trait have an implicit `Sized` bound.
It is for sure `#![feature(unsized_local)]` will enable calling `into()` on unsized objects. So shall we relax this by adding a `T: ?Sized` bound?

[2019-02-14 03:52] infinity0 commented on #53081
One way to fix this, assuming `--remap-path-prefix` is indeed the problem, is to make this mapping also apply to the definition of `$SRC_DIR` that the test harness uses. I did take a brief look but wasn't able to figure out how to hook that up, as I recall.

[2019-02-14 04:10] sfackler opened #58452 "Tracking issue for vectored IO support"
This covers `Read::read_vectored`, `Write::write_vectored`, `IoVec`, and `IoVecMut`.

[2019-02-14 04:30] Zoxc commented on #58444
This is fixed on rustc 1.34.0-nightly (e54494727 2019-02-13)

[2019-02-14 04:30] #58444 closed

[2019-02-14 04:31] Aaron1011 commented on #55861
I've managed to reproduce this locally, using the same Android emulator used by CI. I'm working on creating a self-contained script to make it easy to test this locally.

[2019-02-14 05:38] Aaron1011 commented on #55861
I believe I've obtained a backtrace from the emulator:

[code]

[2019-02-14 05:48] Centril commented on #58451
cc @rust-lang/wg-traits

[2019-02-14 05:59] clarcharr commented on #44109
As far as I'm aware, the only thing that needs to be done is actually separating out the feature flag and an FCP. The FCP could probably be started before that's merged though, as it can be done as part of stabilisation.

[2019-02-14 06:13] Aaron1011 commented on #55861
I strongly suspect that this is related to the `panic_safe` test in  `src/liballoc/tests/slice.rs`. However, I'm not certain, as I'm having difficulty narrowing things down to the offending test.

[2019-02-14 06:32] Aaron1011 commented on #55861
Some additional results:

I added the following script as a test (it contains some logic from `panic_safe`):

[code]

I then manually uploaded it to the emulator, and invoked it in a loop with the following Bash script (run from `/data/tmp/work`):

[code]

After running this for about 15-20 minutes, I stopped the loop. For reasons I don't yet understand, several of the spawned processes has segfau

[2019-02-14 06:41] mjbshaw commented on #53491
@RalfJung [Ask and ye shall receive!](https://internals.rust-lang.org/t/pre-rfc-transparent-unions/9441)

[2019-02-14 07:05] saleemjaffer commented on #57128
@RalfJung Can I take a shot at this issue? Newbie to rust.

[2019-02-14 07:07] #46776 closed

[2019-02-14 07:07] #57206 closed

[2019-02-14 07:33] hellow554 commented on #58435
Bug was fixed between 01f8e25b1...bf669d1e3 (nightly-2019-01-24 and 01-25)

[2019-02-14 07:36] hellow554 commented on #58451
Backtrace:

[code]

[2019-02-14 07:40] hellow554 commented on #58451
Bug was introduced between ec194646f...c0bbc3927 (nightly-2019-01-02 and nightly-2019-01-03)

[2019-02-14 08:16] RalfJung commented on #57128
@FrankSD what is your current status on this?

[2019-02-14 08:42] james-darkfox opened #58459 "LLVM ICE with #[no_core] toy"
Found this while experimenting with `#[no_core]`.

[code]

[code]

[2019-02-14 08:44] abonander commented on #58452
@sfackler is this for an open PR or pending RFC? I can't find anything relevant.

[2019-02-14 09:26] wq7 commented on #57640
I think `~` it's not easy to answer on some keyboards, especially some small and delicate mechanical keyboards.

[2019-02-14 09:34] superriva commented on #57640
[code]
Could be:
[code]

[2019-02-14 09:55] jesskfullwood commented on #47032
Is there a workaround for this? It has me completely stumped

[2019-02-14 10:42] jonas-schievink commented on #58459
Probably a duplicate of https://github.com/rust-lang/rust/issues/9307

[2019-02-14 10:45] jonas-schievink commented on #58452
Introduced in https://github.com/rust-lang/rust/pull/58357

[2019-02-14 10:50] jonas-schievink commented on #58323
Appears to work on stable and beta (with `RUSTC_BOOTSTRAP=1`), so marking as regression.

[2019-02-14 11:10] Sogomn commented on #58427
Thanks for the answers, wasn't sure if it's intended.

[2019-02-14 11:10] #58427 closed

[2019-02-14 11:27] pnkfelix opened #58462 "Diagnostic for #[cfg(ident=ident)] fails to suggest #[cfg(ident="string")]"
Consider the following code ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7aba880da03c55d16c6d84b5557efb9e)):

[code]

On nightly today, this errors (correctly), but gives the diagnostic feedback:

[code]

This highlight is totally misleading and the message is not great either. The problem in the above input is not the identifier `key` in the left-hand side of t

[2019-02-14 11:39] glandium opened #58463 "compiler stack overflow compiling run-pass/issues/issue-29466.rs and run-pass/issues/issue-36792.rs with debuginfo"
With `debuginfo-tests` set to true in config.toml, running `python x.py test src/test/run-pass` fails with:

[code]

[2019-02-14 12:23] burtonageo commented on #36887
Is there a plan to make this work for generic associated types e.g. in the following code ([playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=678843ed3f9278ec241f15dcc3e1335b))? At the moment, this is a hard error.

[code]

[2019-02-14 12:27] eddyb commented on #49146
#58403 is a small step towards dataflow-based qualification.

[2019-02-14 12:29] vi commented on #55977
Shall the word "unfold" be somewhere in [docs for `std::iter::from_fn`](https://doc.rust-lang.org/nightly/std/iter/fn.from_fn.html) (apart from unsable feature name)?

Something like "similar function was previously called `unfold`" or "in functional programming, such operation is typically called `unfold`"?

[2019-02-14 12:57] hellow554 commented on #58463
https://github.com/rust-lang/rust/blob/master/src/test/run-pass/issues/issue-36792.rs

When compiling it on the playground:

[code]

[2019-02-14 13:12] hellow554 commented on #58463
Interesting enough https://github.com/rust-lang/rust/issues/36792 and https://github.com/rust-lang/rust/pull/47344 never fixed that? 😕  nightly-2018-01-14 still don't compile and exit on a SIGSEGV:

[code]

@topecongiro because you "fixed" that issue (no offense ^^)

[2019-02-14 13:29] SimonSapin commented on #55977
It’s not quite the same as `unfold` though, in the variation without explicit state. And even with explicit state, there’s mutation through `&mut S` v.s. creating/moving a new `S` as part of the return value.

[2019-02-14 13:35] #58127 closed

[2019-02-14 13:35] #58299 closed

[2019-02-14 13:35] #57319 closed

[2019-02-14 13:52] matthewjasper commented on #58178
With #58347 merged, this should be much better now. Could @Mark-Simulacrum add this to perf.rlo? And does anyone want to investigate the remaining perf gap.

[2019-02-14 14:09] Mark-Simulacrum commented on #58178
I probably won't have a chance for a few days but it should be fairly straightforward to do so - copy files into collector/benchmarks/grammar and file a PR.

[2019-02-14 14:37] FrankSD commented on #57128
Sorry I am working on this..i hv been busy with my  current job but I
should submit a pull request shortly

On Feb 14, 2019 2:17 AM, "Ralf Jung" <notifications@github.com> wrote:

[2019-02-14 14:40] ben0x539 commented on #57640
We could introduce a trigraph like `...` for users on keyboard layouts where `~` is inconvenient.

[2019-02-14 14:46] vi commented on #55977
But previous [`unfold`](https://doc.rust-lang.org/1.2.0/std/iter/struct.Unfold.html) also used mutable state.

The same or not the same, the function is unfold-esque.

[2019-02-14 14:50] pnkfelix commented on #57639
@nikomatsakis How realistic is it to think that you might get around to this, with a beta-backportable fix, in the next two weeks (i.e. before the deadline you established in the previous comment)?

[2019-02-14 14:54] nikomatsakis commented on #57639
I'm working with @aturon and other members of @rust-lang/wg-traits on exploring this issue. We did our first call yesterday talking over the details ([recording available here](https://www.youtube.com/edit?video_referrer=watch&video_id=Pko1UHjCE5Y)) and we have to schedule a follow-up call to keep working on it. Don't yet know the best fix but I think it's still plausible we can have one.

[2019-02-14 14:54] pnkfelix commented on #57673
visiting for triage. PR #57885  was beta-nominated and beta-accepted. If I recall correctly PR #57835 is a prerequisite for landing PR #57885. So I'll make sure a backport gets posted for both of those in the near future.

[2019-02-14 14:54] nikomatsakis commented on #57639
Assigning @aturon as well as myself.

[2019-02-14 14:56] saleemjaffer commented on #53606
@oli-obk Can I work on this? I'm a newbie to rust.

[2019-02-14 15:05] saleemjaffer commented on #53486
@eddyb I would like to take a shot at this. I'm a newbie to rust.

[2019-02-14 15:07] saleemjaffer commented on #52482
@oli-obk I would like to take a shot at this :) I am a newbie to rust.

[2019-02-14 15:10] nikomatsakis opened #58465 "Implement "pipelined" rustc compilation (compiler side)"
@alexcrichton opened https://github.com/rust-lang/cargo/issues/6660, which describes a scheme to do "pipelined" compilation. This issue represents the **rustc side** of that work. I'm opening it -- initially, at least -- so that I can nominate the issue and we can discuss in the compiler team meetings. It may then serve as the hub for any mentoring re: the rustc part of the equation.

I would like

[2019-02-14 15:10] saleemjaffer commented on #52327
@varkor I would like to take a shot at this if its okay. I'm a newbie to rust.

[2019-02-14 15:12] QuietMisdreavus commented on #46844
Indeed it is! We've started using a diagnostic emitter from `rustc_errors`, and all our errors and warnings go through that mechanism now. I'll close this.

[2019-02-14 15:12] #46844 closed

[2019-02-14 15:14] pnkfelix commented on #58451
visit for triage. P-high. Presumably due to PR #55517. Assigning to @nikomatsakis

[2019-02-14 15:16] saleemjaffer commented on #58089
@scottmcm I would like to take a shot at this. I'm a newbie to rust.

[2019-02-14 15:17] pnkfelix commented on #58104
visiting for triage. P-high for initial investigation; assigning that task to @nagisa

[2019-02-14 15:20] saleemjaffer commented on #55596
@petrochenkov I would like to help with this. I am a newbie to rust.

[2019-02-14 15:20] pnkfelix commented on #58323
Triage, P-high for initial investigation; assigning latter to @michaelwoerister

[2019-02-14 15:22] michaelwoerister commented on #58323
@jonas-schievink Do you know if this reproduces for other targets too?

[2019-02-14 15:24] nagisa commented on #58323
The obvious first step would be to reduce the test case down to something smaller. Even if it is not minimised, though, `thumbv7` target is distributed and can be easily added to cargo.

[2019-02-14 15:24] saleemjaffer commented on #58032
@estebank Can I take a shot at this? I'm new to rust.

[2019-02-14 15:25] pnkfelix commented on #57979
is this going to be addressed (in some manner) by PR #57981? Is the manner in which that PR addresses this also "acceptable"?

Its not 100% clear whether a warning-cycle makes sense in this case, versus jumping to an immediate hard error. I suppose it depends on what semantics is being assigned when this code is accepted in the first place.

[2019-02-14 15:26] saleemjaffer commented on #56766
@estebank Can I take a shot at this? I'm new to rust.

[2019-02-14 15:26] pnkfelix commented on #57979
triage: P-high, assigning to self.

[2019-02-14 15:27] petrochenkov commented on #58323
If this is a recent regression, it may be caused by the privacy/reachability changes (https://github.com/rust-lang/rust/pull/56878) - some thing that's actually reachable is not marked as reachable, so we get the "mono-item" ICE.

[2019-02-14 15:29] petrochenkov commented on #58323
(If someone confirms that it's indeed a privacy issue and minimize, I'll fix it before the next release.)

[2019-02-14 15:31] saleemjaffer commented on #49391
@ytausky I would like to give this a shot. I'm new to rust.

[2019-02-14 15:35] pnkfelix commented on #58158
triage. Marking P-high mostly to ensure it is at the front of the T-compiler queue for next week's meeting.

[2019-02-14 15:40] jonas-schievink commented on #58323
@michaelwoerister I'm not sure, I haven't yet investigated this at all

[2019-02-14 16:01] euclio commented on #58390
I'd like to work on this.

[2019-02-14 16:01] oli-obk commented on #53606
Sure!

You can take the example from the issue message and create a new file in `src/test/ui/consts/` and add the `//compile-pass` comment at the top.

Then, when running `./x.py test --stage 1 src/test/ui --test-args const --bless` it should succeed to run the tests.

[2019-02-14 16:03] oli-obk commented on #52482
sure! The instructions in the main issue should still apply, even if the exact locations of the code may have changed

[2019-02-14 16:10] michaelwoerister commented on #58323
@petrochenkov Yes, changes to reachability could easily cause something like this.

[2019-02-14 16:13] michaelwoerister commented on #58323
https://github.com/rust-lang-nursery/cargo-bisect-rustc should be up to the task here.

[2019-02-14 16:22] icefoxen commented on #33417
58015 should be ready for review/merge now.

[2019-02-14 16:46] SimonSapin commented on #58089
@saleemjaffer Go ahead!  See https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md#pull-requests for the PR workflow.

In this case, the issue is about partly reverting the changes in https://github.com/rust-lang/rust/pull/57425/files. The relevant code is in `libcore/sync/atomic.rs` in the macro that generates constants whose name are given through the `$atomic_init` macro parameter. The

[2019-02-14 17:20] norcalli commented on #57640
At first, I was strongly on the side of having a delimiter-required prefix syntax as `await(future)` or `await{future}` since it is so unambiguous and easy to visually parse. However, I understand the proposals by others that a Rust Future is not like most other Futures from other languages, since it does not put a task onto an executor immediately, but instead is more of a control flow structure

[2019-02-14 17:25] lnicola commented on #57640
I tend to disagree. The behaviour you mention is not a property of `await`, but of the surrounding `async` function or scope. It's not `await` that delays the execution of the code preceding it, but the scope that contains said code.

[2019-02-14 17:39] nikomatsakis commented on #46989
The breakage in coherence was expected, though I realize that I meant to reach out to @SimonSapin ahead of time and discuss it, but I failed to do that. Indeed though part of the point of the PR was to shift the checking of "higher-ranked constraints" like this *out* from the "valid subtyping test" that coherence uses and *into* the "region constraints". However, there is a middle ground, we could

[2019-02-14 17:46] norcalli commented on #57640
@lnicola I think it is not beneficial to add to this length conversation over a such a trivial detail which isn't on topic, but since it already done, then I would propose a counterexample which that `async fn { ... }` without any inner `await`'s would be equivalent to `fn { ... }`. Therefore, you cannot say it is one or the other, but the `await` certaintly effects the outcome.

[2019-02-14 17:59] aaronstillwell commented on #58234
@Mark-Simulacrum thanks for that. I have the implementation drafted locally. I'm having some difficulty however in running the tests for stdlib - even a `cargo check` is producing errors not related to my changes. Is there any documentation I've missed for best practices on compiling / working on stdlib?

[2019-02-14 18:16] varkor commented on #52327
@saleemjaffer: you're welcome to take a look at this. I don't have much advice about where to start, other than searching through the codebase for instances of "generic parameter"/"generic argument" and similar and checking whether they're consistent with the definitions above. I think this has improved lately, so there may no longer be so many cases that need fixing.

[2019-02-14 18:37] estebank commented on #56766
@saleemjaffer feel free to do so! If you look at the linked PR I believe @lcnr was in the right track.

[2019-02-14 18:40] estebank commented on #58032
@saleemjaffer the actual code change won't be too hard, I believe that it is contained entirely inside src/librustc_errors/emitter.rs, but it might frustrating due to the amount of tweaking of the logic needed to get this fixed. I certainly think that you'd be able to get it fixed, but we'll need first to come up with a test case, because the one that triggered the creation of this ticket is no lo

[2019-02-14 18:45] Mark-Simulacrum commented on #58234
You'll want to use x.py; for your scenario I believe `x.py test --stage 0 src/libstd` and/or `x.py check src/libstd` are the commands you want. I'm not sure where the most current documentation is.

[2019-02-14 18:47] burtonageo opened #58467 "Compiler panic when using generic associated types"
The compiler panics when using a [generic associated type](https://github.com/rust-lang/rust/issues/44265) as a bound on a trait requirement's associated type, as shown below.

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ff11dd72cd5efa94c764e5564754c496)

[code]

Backtrace:

[code]

[2019-02-14 19:12] RalfJung commented on #53491
Cc https://github.com/rust-lang/rust/pull/58468

This leaves only the API I think we can reasonably stabilize in `maybe_uninit`, and moves the rest into separate feature gates.

[2019-02-14 19:31] vitiral opened #58469 "Implement AsRef<Path> for Arc<PathBuf>"
Possibly also implement `Borrow` and `Deref`.

I would like to use `Arc<PathBuf>` to be the equivalent of `PathBuf` for traits in my library, `path_abs`.

However, I get errors like this:

[code]

[2019-02-14 19:59] Aaron1011 commented on #55861
Further evidence for panicking being involved:

Another run crashed with this log (I wasn't able to obtain a backtrace):

[code]

The test immediately following `string::test_unsized_to_string` is `string::test_str_truncate_split_codepoint`. This test is marked with `#[should_panic`], so it seems that simply pancking while a test is running may trigger the issue.

[2019-02-14 20:04] retep998 commented on #30027
There is an RFC open for this feature: https://github.com/rust-lang/rfcs/pull/2627

[2019-02-14 20:22] nnethercote commented on #58178
The input size might need tweaking so that the runtime is reasonable.

[2019-02-14 21:18] euclio commented on #58390
The challenge here is that the current logic for reporting unknown features doesn't get run until stability checking. So, if there's an error before then, then the check doesn't run. While it's possible for us to get language features up-front for error reporting, library features are collected much later. So, before we can report unknown feature names earlier, we have to figure out how to collect

[2019-02-14 21:20] Disasm commented on #58160
At least 3 of these builds finished in >3 hours. Maybe this is the reason.
The same timeout problem happens with Travis:
https://travis-ci.com/rust-lang/rust/builds/100972043
https://travis-ci.com/rust-lang/rust/builds/100867455
https://travis-ci.com/rust-lang/rust/builds/100469492

[2019-02-14 21:39] viftodi commented on #58355
Thank you @eddyb  , I will look into an alternative

[2019-02-14 21:50] xd009642 opened #58471 "Compiler warning for where clause"
My where clauses in traits recently had some unnecessary noise that the compiler could warn against:

What I was doing:
[code]

What I should have been doing:
[code]

I'd be happy to implement this myself if there's a consensus on adding this as a warning, though I may need some mentoring :+1:

[2019-02-14 22:12] estebank commented on #58471
These probably make more sense as clippy lints.

[2019-02-14 22:18] QuietMisdreavus opened #58472 "[src] links in rustdoc do not honor --extern-html-root-url"
Originally reported at https://github.com/rust-lang/docs.rs/issues/298

The crate mentioned in that issue has a `#![doc(html_root_url)]` attribute set, and the `[src]` link that points to that crate is using that to base its url. However, the `--extern-html-root-url` that docs.rs passes to rustdoc should be overriding that setting. We should investigate how rustdoc generates `[src]` links, and see

[2019-02-14 22:20] xd009642 commented on #58471
That makes sense, I've raised an issue on clippy as well https://github.com/rust-lang/rust-clippy/issues/3764.

[2019-02-14 22:54] varkor commented on #58467
The warning when using `generic_associated_types` feature is not misleading:
[code]
GATs are not actually implemented and as such, instances like this are expected. I think we've been closing issues regarding GATs until they're at a point when they need testing.

[2019-02-14 23:05] #58467 closed

[2019-02-15 01:26] vthriller opened #58473 "nightly: unexpected "could not parse code block" in indented block docs in presence of backticks"
I believe this is a minimal example. Warning disappears if either:

- backticks are removed
- indentation is removed
- `///`-style formatting is used

[code]

[code]

[code]
(straight from rustup)

[2019-02-15 01:31] vthriller commented on #58473
Oh, and the HTML render is fine, no unexpected code blocks or anything crazy:

![image](https://user-images.githubusercontent.com/176062/52828613-855d5180-30da-11e9-90da-b4404eed3b8d.png)

[2019-02-15 01:49] nathan opened #58474 "Documentation for std::path::PathBuf::pop is slightly wrong"
The documentation for `std::path::PathBuf::pop()` says:

However, `self.file_name()` is `None` when the path ends in `..`—but `pop()` still does removes that component and returns `true`. The docs should probably be changed to reflect that `pop()` [truncates and returns true unless *`self.parent()`* is `None`](https://github.com/rust-lang/rust/blob/f47ec2ad5b6887b3d400aee49e2294bd27733d18/src/libs

[2019-02-15 03:26] abonander commented on #58469
You can also get `Arc<Path>` via `.into()` on `&Path` or `PathBuf`.

[2019-02-15 04:44] joshlf commented on #46489
Still getting this issue with `feature(proc_macro_hygiene)`; I assume that's expected behavior? The code in question:

<details>
<summary>Proc macro</summary>

[code]
</details>

Calling code:

[code]

Error:

[code]

[2019-02-15 05:10] vitiral commented on #58469
Of course, but that doesn't let you generalize for trait bounds in a library.

[2019-02-15 07:09] hellow554 commented on #58474
@nathan would you try to open a PR and edit the required paragraph?

https://github.com/rust-lang/rust/blob/master/src/libstd/path.rs#L1231-L1261

[2019-02-15 07:31] I60R commented on #57640
Probably the problem with weirdly looking `@` symbol is that using it in that context was never been expected before, therefore in most fonts it's provided in so uncomfortable for us shape.

Then providing a better glyph and some ligatures for popular programming fonts (or at least for Mozilla's `Fira Code`) might improve situation a bit.

In all other cases, for me it don't looks that `@` is so w

[2019-02-15 08:20] RalfJung opened #58478 "Closure-to-fn coercion does not work for `unsafe fn`"
Given that non-capturing closures coerce to `fn`, and `fn` coerces to `unsafe fn`, I would expect the transitive step to also happen -- but it does not:
[code]
[code]
This is particularly annoying when instantiating `RawWakerVTable`, because it means one cannot just use closure syntax there.

[2019-02-15 08:28] hellow554 commented on #58478
https://doc.rust-lang.org/stable/reference/type-coercions.html#coercion-types

I guess this is one of the not supported cases? I ask myself why this is generally not supported? What's missing here?

[2019-02-15 09:04] Pzixel commented on #57640
@norcalli

Then you probably want unambiguous `if { cond }`, `while { cond } ` and `match { expr }`...

It's not true. It's actually *is* like most other futures from other languages. Difference between "run until first await when spawned" vs "run until first await when polled" is not that big. I know because I worked with both. If you actually think "when this difference comes to play" you will f

[2019-02-15 09:17] smokytheangel0 commented on #54361
What can I do to help?

[2019-02-15 09:27] Disasm opened #58480 "[CI] 3 hour timeout is not enough"
There was only one successful build in the last 24 hours: https://github.com/rust-lang/rust/pull/58446#issuecomment-463516558
All other builds were failed with timeout either on Travis or AppVeyor.

Related: https://github.com/rust-lang/rust/issues/58160

[2019-02-15 10:49] weiznich opened #58483 "ICE using HRTB"
Happens on the current beta release and the current nightly release.

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=dff3eb4766b762df814f8c0d8648dbe1)

Code shared by the playground by clicking on report an issue:
(I'm aware that this code won't work, but rustc should not crash here)
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=

[2019-02-15 10:49] weiznich opened #58484 "ICE using HRTB"
Happens on the current beta release and the current nightly release.

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=dff3eb4766b762df814f8c0d8648dbe1)

Code shared by the playground by clicking on report an issue:
(I'm aware that this code won't work, but rustc should not crash here)
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=

[2019-02-15 10:52] jonas-schievink commented on #58484
Closing in favor of https://github.com/rust-lang/rust/issues/58483

[2019-02-15 10:52] #58484 closed

[2019-02-15 11:00] eddyb opened #58485 "mir-opt tests extremely slow."
[code]

@Mark-Simulacrum is it possible this is all time spent in `compiletest` processing the output?

cc @rust-lang/compiler @RalfJung

[2019-02-15 11:33] eddyb commented on #58485
I can't reproduce anymore, but I've seen this before (usually just one message).

[2019-02-15 11:43] hellow554 commented on #58483
Traceback:

[code]

[2019-02-15 11:45] hellow554 commented on #58483
Possible dupe of https://github.com/rust-lang/rust/issues/57843

[2019-02-15 12:22] RalfJung commented on #58485
Maybe https://github.com/rust-lang/rust/pull/58103made emitting all this MIR really slow?

[2019-02-15 12:29] Zoxc commented on #58485
I think these have been slow for quite a while though.

[2019-02-15 12:35] CAD97 commented on #57640
@Pzixel

That's not the difference we're talking about, though. We're not talking about lazy vs eager -to-first-await.

What we're talking about is that `await` joins the awaited `Promise` (JS) / `Task` (C#) on the executor in other languages, which was already put on the executor at construction (so was already running in the "background"), but in Rust, `Future`s are inert state machines until `a

[2019-02-15 12:37] dhardy commented on #44911
@Manishearth @cpeterso is this still a thing?

Several things have changed since:

- the Rand lib has a backup entropy source based on CPU jitter (since Dec 2017, as you know)
- `RandomState` no longer uses the Rand lib, but uses a minimal `hashmap_random_keys` function
- `hashmap_random_keys` is a simplified re-implementation of `OsRng` and panics on failure (see [Windows implementation](https://

[2019-02-15 13:03] Pzixel commented on #57640
@CAD97 yes, I see your position, but I think the discinction is not that big.

You got me, I got you. So let the discussion have its flow.

[2019-02-15 13:06] pnkfelix opened #58487 "aarch64 ABI: revisit which ZST fields should be filtered from repr(C)"
Spawned off of https://github.com/rust-lang/rust/issues/56877#issuecomment-457490611 and https://github.com/rust-lang/rust/pull/57645#issuecomment-456962622

The issues raised by #56877 were partially addressed by PR #57645 but there may be some followup work to do here.

Based on my current understanding, PR #57645 ended up settling on filtering out *all* ZST's when determining if a type is an in

[2019-02-15 13:06] pnkfelix commented on #56877
Opened #58487 to track remaining issues here now that PR #57645 has landed.

[2019-02-15 13:06] #56877 closed

[2019-02-15 13:07] pnkfelix commented on #58487
(This may be a good topic to hand off to the WG-ffi that should be forming soon. Cc @joshtriplett )

[2019-02-15 14:09] theypsilon opened #58490 "ICE when using cfg_if and defining a macro with macro_rules twice."
Compiler crash when using cfg_if and defining a macro with macro_rules twice.

I tried this code:

[code]

In a repo: https://github.com/theypsilon/rust-bug-crash-cfg-if-macro

I expected to see this happen:

`
error: a macro named `foo` has already been exported
`

Instead, this happened:

`
error: internal compiler error: unexpected panic
`

## Meta

`rustc --version --verbose`:

[code]

Backtra