[2016-01-30 13:22] fhahn opened #31306 "Invalid paths are suggested for "possibly newer version of crate" error on Windows"
#30778 uncovered that on Windows (Rust compiled with msvc), additional paths are suggested when there's a newer version of a crate, e.g. e.g. for `changing-crates.rs` the following notes are emitted:

[code]

The last two notes shouldn't be there. The first of those seem to point to the one already suggested, except that the first part is missing and slashes instead of backslashes are used. The la

[2016-01-30 14:50] #31249 closed

[2016-01-30 14:50] #31266 closed

[2016-01-30 14:50] #31284 closed

[2016-01-30 16:11] swatteau opened #31309 "Documentation: accessing the private items of a parent module"
When accessing items defined in the parent module, it is tempting to write `use super::*;`. However, this does not allow accessing private items. For example, this fails:

[code]
This is a mistake I've made several times (I suspect many others have too) and the solution is to be explicit about the item used, either with
[code]
or
[code]

On this topic, the [Rust Reference](https://doc.rust-lang.or

[2016-01-30 16:58] dirk commented on #31300
@Kingsquee: Quick triage: this looks to be an issue in how the compiler generates and assigns the discriminant (0, 1, 2, etc.) for each field. If you specify these yourself (see below) it will compile just fine.

[code]

[2016-01-30 16:59] dirk commented on #31289
@steveklabnik: I'd be happy to take this on. :smile:

[2016-01-30 17:09] dirk commented on #31265
@nrc: What format are you using for storing the data for that perf-rustc site? (That site is pretty great by the way!) My thought is that that could be a starting-point for achieving the following:

[2016-01-30 17:40] wesleywiser commented on #24609
Just ran into this on OS X

[2016-01-30 17:45] steveklabnik commented on #31289
Please do! :)

On Jan 30, 2016, 11:59 -0500, Dirk Gadsden<notifications@github.com>, wrote:

[2016-01-30 17:46] steveklabnik commented on #31309
I just added one to the book. The PR may still be open, or it may have been merged in the last day or two; I'm on mobile or I'd check.

On Jan 30, 2016, 11:11 -0500, Sébastien Watteau<notifications@github.com>, wrote:

[2016-01-30 18:07] gbersac opened #31310 "Impossible to create a BTreeMap of RefCell<T>"
Since `RefCell` doesn't implement the `core::cmp::Ord` trait, it is not possible to instantiate a `BTreeMap` for it, event if the generic type `T` implement it. I don't see any reason why `RefCell<T>` can't be compared to another `RefCell<T>` (or even a `T` instance).

[2016-01-30 18:09] jonas-schievink commented on #31310
Because it would have to `borrow()` the value, which can possibly panic and is subtle

[2016-01-30 18:17] gbersac commented on #31310
How to create a dictionnary of `RefCell` then ?

[2016-01-30 18:22] #31310 closed

[2016-01-30 18:22] jonas-schievink commented on #31310
A `RefCell` as a *key* of a dictionary? Well, you could build your own wrapper type that implements `Ord` by calling `deref()`, but that's probably a bad idea anyway, since you could change how the keys compare to each other while they're in the map.

[2016-01-30 19:08] nagisa opened #31311 "ty_is_local invoked on unexpected type: [type error]"
Compiling this branch: https://github.com/nagisa/rust/tree/rustc-ice

[code]

Once typo is fixed (s/DropAnalyze/DropAnalyzer/), the code compiles fine (i.e. there’s no other errors)

[2016-01-30 19:56] ruud-v-a commented on #15102
An other case where `dead_code` improperly warns about unused struct fields is if the field is of a type that implements `Drop`. It might be there to keep something alive even if it is not used otherwise, for instance to keep a file open. This should be fixable: suppress the warning if the field implements `Drop`.

[2016-01-30 20:23] AnthonyBroadCrawford commented on #30701
thanks @mitaa

[2016-01-30 20:48] #21195 closed

[2016-01-30 22:14] LukasKalbertodt commented on #29370
This API really could use a better documentation. To list all failure cases of several functions would be great :)

[2016-01-30 23:46] sgrif commented on #28894
Is there anything I can do to get some attention on this? We're at the point where we're considering some sweeping/painful changes to our trait hierarchy to work around this, as there are cases that have been consistent sources of confusion in Diesel. (Our particular problem case, among others, is that rustc notices that we have `impl<ST, T> AsExpression<ST> for T where T: Expression<SqlType=ST>`,

[2016-01-31 00:25] jonas-schievink commented on #28894
I think the obligation forest provides the functionality needed to fix this properly: #30976

Minified example:
[code]

[code]

[2016-01-31 01:16] sgrif commented on #28894
It seems like your example demonstrates the problem, not that it's fixed? `Expression` isn't mentioned anywhere in that error message.

[2016-01-31 01:19] jonas-schievink commented on #28894
Yes, it's just a minified version of your code above. Sorry for not being clear about that.

[2016-01-31 02:20] briansmith commented on #29130
Why not just remove all uses of `memcpy`, `memmove`, `memcmp`, `strlen`, and `memset` from the Rust code completely, writing them all in Rust? Not only would that be better than relying on an unstable Windows API, but also that effort would help other efforts for libc-less Rust.

[2016-01-31 02:34] huonw commented on #29130
LLVM inserts calls to (some of) those functions during optimisation passes.

[2016-01-31 03:08] briansmith commented on #29130
Why not just turn off those optimizations in LLVM? That would be useful for some users of `#![no_std]` too.

[2016-01-31 03:11] retep998 commented on #29130
Because then you'd be harming performance for very little gain.

[2016-01-31 03:48] fpgaminer opened #31315 "ARM ABI Violation on extern function that returns u8"
Rust will violate the ARM ABI on functions like `pub extern "C" fn bsp_callback() -> u8` by not zero extending into `r0`.  This causes problems for C code that calls those functions.

Reduced reproduction code/project available at this gist:
https://gist.github.com/fpgaminer/88e26978e023652fb1dd

Replace ">" in the file names with "/" to restore file structure.  Compile C library "foo" by running

[2016-01-31 03:56] zonyitoo opened #31316 "Panic on None when joining on thread which is called yield_now"
Minimal test case:

[code]

This piece of code will panic with output:

[code]

Tested on playpen with stable Rust.

[2016-01-31 04:02] danburkert commented on #29866
I'd like to re-raise the issue of renaming `Instance` that was brought up in the RFC discussion.  My vote would be to rename `Instance` to `MonotonicTime` or `MonoTime`.  My biggest concern with the `Instance` name is that it's not clear how it relates to `SystemTime`.  In reality they are both 'times', or instances in time, but the names do not make that clear.  Additionally, the C++ `chrono` API

[2016-01-31 05:55] Mark-Simulacrum opened #31318 "Iterator#take_while consumes first falsy value"
The `take_while` method on iterators consumes the first falsy value, instead of leaving it in the iterator.

This behavior seems unintuitive to me; and I could not find any documentation of this functionality. Due to this (I think) being a breaking change, it's probably not worth changing the `take_while` functionality, but documenting this is probably a good idea.

I tried [this](http://is.gd/J06

[2016-01-31 06:32] huonw commented on #15102
@ruud-v-a the convention for locals that only care about the destructor works for struct fields too, that is, prefix it with an underscore:

[code]

(https://github.com/rust-lang/rust/issues/21775 covers that situation specifically.)

[2016-01-31 07:14] huonw commented on #31318
Not only would it be a breaking change, but it is impossible for a general iterator: the only way to tell if `take_while` needs to stop or not is to get the element out of the iterator with `.next()`, and there's no way to uncall `.next`/push an element back on to the end. (E.g. consider something like [`Receiver::iter`](http://doc.rust-lang.org/std/sync/mpsc/struct.Receiver.html#method.iter): onc

[2016-01-31 07:58] alexcrichton commented on #31301
I'd be wary of making a core operation like this do more than one I/O operation as it'd be tough to ensure that it remains "transactional".

We already attempt to make Windows/Unix behave the same by passing the flag @retep998 mentioned, and the remaining behavior is something I'd prefer to just document.

[2016-01-31 08:07] alexcrichton commented on #27809
Sure, but that part's already stable. The `make_` convention sticks out (at least to me) and I would prefer to not stabilize this.

[2016-01-31 08:13] retep998 commented on #31301
I'm not suggesting that the standard library do that, documenting the current behavior should be sufficient. It's just a workaround that users can easily use right now if they do want that sort of behavior on Windows.

[2016-01-31 08:50] SimonSapin commented on #27809
I’m not a big fan of `make_*` either.

What about `.into_ascii_lowercase(self) -> Self`?

[2016-01-31 09:26] pjmlp opened #31320 "Provide Powershell shortcut alongside the cmd one on Windows."
Powershell is the way to go on Windows systems for modern CLI and installed by default since Windows Vista.

What about providing a short-cut to start a Powershell session instead of an old style cmd one?

I can provide the necessary PR if required.

[2016-01-31 12:37] arielb1 commented on #31311
can't reproduce. could you provide a backtrace?

[2016-01-31 12:41] petevine commented on #31315
This is a custom llvm target - could it be an upstream bug?

[2016-01-31 12:45] arielb1 commented on #31287
Can't we just borrow the discriminant in all guards separately (cc @pnkfelix)? Actually, that might cause conflicts with `ref mut` borrows, but that conflict can be ignored.

[2016-01-31 12:54] nagisa commented on #31311
Sorry, completely forgot about providing a backtrace:

[code]

[2016-01-31 12:55] nikomatsakis commented on #30942
@fhahn

I will do this. I am right now just working through some LALRPOP issues that arose (I'm not sure if it's a bug or if LALRPOP just needs optimization; I suspect both :) but once I get that sorted out a bit I will open up a repo and post the link here. Hopefully tomorrow. It seems @TyOverby may be interested as well, and no doubt others. For example, I was talking to @jorendorff, who develop

[2016-01-31 13:03] uuhan opened #31322 "How to compile rust in a musl libc based linux system"
Hi, recently I need to compile rust in my musl libc based linux system. I download the rust's source code, configure it and make.

But it failed due to the   rust/x86_64-unknown-linux-gnu/stage0/bin/rustc   run failed.
It's  interpreter is
     **/lib64/ld-linux-x86-64.so.2**
but my system has just the
     **/lib/ld-musl-x86_64.so.1**

I have already the llvm-3.5 installed, It seems to be it just

[2016-01-31 13:07] arielb1 commented on #31311
This should be fixed in nightly.

[2016-01-31 13:19] nagisa commented on #31311
@arielb1 ah, might be, since this happens when compiling the stage1 rustc (and stage0 is pretty old). My only “case” is rustc itself with a typo (branch linked in the first message).

[2016-01-31 13:39] arielb1 commented on #31299
Mini:
[code]

[2016-01-31 13:39] petevine commented on #31322
Is the musl ld compatible with gnu ld (and the two libc's themselves)? If so, symlinking should be enough.

[2016-01-31 13:51] arielb1 commented on #31299
This is fallout from inductiveness

In the OC, the problem is that:
[code]
This could potentially be fixed by lazy normalization.

A harder case is:
[code]

The cycle is similar, but not even lazy normalization can save us here.

I admit the infinite type detection here is just plain wrong.

[2016-01-31 15:32] Mark-Simulacrum commented on #31318
For people reaching here and seeking a way to do this currently, `itertools` provides a [method](http://bluss.github.io/rust-itertools/doc/itertools/trait.Itertools.html#method.take_while_ref) that will leave the last element in the iterator, but at the cost of cloning the entire iterator every iteration.

[2016-01-31 15:44] arielb1 commented on #28273
This seems to have grown out of control in debuginfo builds, with this sample:
[code]

[2016-01-31 16:50] AlisdairO commented on #27053
Ah, thanks a lot for the info!  I suppose there's not much that can be done about this from a rust project point of view?  Can close if so.

[2016-01-31 16:55] AndiDog opened #31323 "Trait suggestions should use outermost candidates"
Beginning with issue #21405, Rust combines multiple identical candidates into one (in some way). Since crates typically `pub use` the traits on the outermost level (e.g. `module::TheTrait` instead of `module::inner::detail::TheTrait`), the outermost candidate should be displayed as suggestion.

Here's a real-life example:

[code]

However the trait "JsonBody" can be imported with just `use nickel:

[2016-01-31 17:13] nodakai commented on #31318
Well, maybe we can put the first falsy value to inside `struct TakeWhile` and add an accessor to it...

[2016-01-31 17:45] alexcrichton commented on #31322
Yes unfortunately we only produce glibc snapshots that are dynamically linked. There are currently no statically linked snapshots of the compiler.

[2016-01-31 18:04] alexcrichton commented on #27809
If those methods could be merged into the `AsciiExt` trait itself I'd be more comfortable with that, but previously they were a separate trait.

[2016-01-31 18:12] alexcrichton commented on #31316
I can reproduce this on playpen but not locally unfortunately.

[The assertion being tripped here](https://github.com/rust-lang/rust/blob/9041b930585806b948b4cc68933047ffdc96f6f9/src/libstd/thread/mod.rs#L579) indicates that `pthread_join` returned but the return value of the thread was not filled out, so this is potentially a data race as well (hence tagging with I-nominated and T-libs). This *ma

[2016-01-31 18:18] alexcrichton commented on #31316
Oh wait after a little more investigation, it looks like [this program](https://play.rust-lang.org/?gist=4a35e4edd2c20a32f8f0&version=nightly) exhibits similar behavior. It looks like `sched_yield causes the thread to be terminated due to playpen considering it a bad system call.

The behavior here appears to be that the thread is immediately terminated and yet `pthread_join` returns 0 (success).

[2016-01-31 18:28] zonyitoo commented on #31316
I discovered it on playpen itself. It seems to works well on my laptop.

[2016-01-31 19:37] bluss commented on #31318
The cost of cloning an iterator is totally depedent on which iterator it is. A slice iterator is implemented using two pointers, so the cloning amounts to storing the old values of two pointers during the iteration. When the whole iteration is inlined, and llvm breaking the structs down to their members, it should be able to remove the store of the pointer that doesn't change (the end), so the ove

[2016-01-31 19:39] bluss commented on #31318
`take_while_ref` is a nice hack, but it should be complemented by either adaptors on Peekable and/or itertools' PutBack.

[2016-01-31 19:58] nodakai opened #31328 "x86_64 to i686 cross compile: down-with-thread-dtors.stage2 SEGVs only under valgrind"
Not even sure if this is a real bug or not, but it's 100% reproducible in my environment, even after `make clean`.
[code]

[code]

[code]

[code]

[2016-01-31 20:13] nodakai commented on #31322
Can you try `/lib/ld-musl-x86_64.so.1 /path/to/stage0/rustc` ?  If successful, the rest is just shell scripting.

My understanding is it's similar to overriding a Shebang line in a shell script by explicitly calling a shell, like `/bin/dash /path/to/script.sh`

- http://man7.org/linux/man-pages/man8/ld.so.8.html

The `.interp` section in an ELF exe should serve as a "Shebang line."

[2016-01-31 20:27] nrc commented on #31209
Every error ends up converging in resolve_struct_error, so I am wary about putting anything there except for formatting error messages, etc. I would add some code to resolve_imports, you might want to factor that into a function if it is complex or repeated.

[2016-01-31 20:29] dirk commented on #31209
@nrc: Understood, thanks. I'll give that a shot. :smile:

[2016-01-31 21:44] cyplo commented on #17193
Hi ! It seems like a very cool idea for improving the docs !
I saw you removed the headings already, @bluss - awesome ! I was wondering - @edermi, @gsingh93 - do you need the function names to be change to more visible as well, or is it good as it is, just with the headings removed ?

thanks !

[2016-01-31 22:37] retep998 commented on #31320
We provide a cmd shortcut?

[2016-02-01 00:02] lambda commented on #31273
I think that SIGABRT is fairly reasonable for a stack overflow; it's still treated as a crash, so will dump core or send crash reports on most platforms, but it doesn't cause the confusion that a SIGSEGV would cause by making people think that they need to track down some piece of `unsafe` code that's chasing a dangling pointer.

I've sent a PR that implements this.

[2016-02-01 00:04] theroseknight opened #31334 "The Rust Programming Language - 4.6 Loops issue"
The following code will not build or run.  The issue is that 'lines' is never defined in this section of the book.

[code]

Rust is my first attempt to contribute to someone else's project so if I am not using these issues correctly please let me know and I will cease adding them as I go through the book.

[2016-02-01 00:14] gsingh93 commented on #17193
The only thing I want from the docs at this point is to have an alphabetized list of all the function names at the top. To get a list of all function names, I can click the `[-]` button, but it still takes longer for me to visually find a function name in an unsorted list.

[2016-02-01 00:17] lambda commented on #31273
This ticket is related to #30963 (about updating the documentation to mention stack overflow segfaults, which would not be necessary if this issue is fixed) and #26458 (which contains discussion of the most recent change to the current stack overflow behavior).

[2016-02-01 00:27] nagisa commented on #31273
@lambda there’s no safe (portable) way to produce SIGABRT in stackoverflow condition, I think. SIGSEGV, SIGILL and SIGBUS, I think are an exhaustive set of signals you can make happen without stack.

[2016-02-01 00:51] lambda commented on #31273
@nagisa Do you have any reference for that? [According to POSIX](http://pubs.opengroup.org/onlinepubs/009695399/functions/xsh_chap02_04.html):

Remember, when we're in our `SIGBUS`/`SIGSEGV` handler, we're operating on a small alternative stack, so we actually do have enough stack space to run our signal handler and print out an error message. I believe that should be sufficient for raising `SIGAB

[2016-02-01 00:58] nagisa commented on #31273
Yep, I written the comment under the assumption we’re restricted to not using any stack, but I had totally forgotten we have signal specific stack for SIGSEGV handler.

[2016-02-01 01:10] SimonSapin commented on #27809
Alright. IIRC we had a separate traits because dynamically-sized types and methods taking `self` by value do not work well. But it turns out `Iterator` already does this: the trick is having a default implementation with a `where Self: Sized` bound.

See PR https://github.com/rust-lang/rust/pull/31335.

[2016-02-01 01:17] Aatch commented on #31287
@arielb1 did you accidentally comment on the wrong issue? I'm not sure how discriminants and exhaustiveness come in here.

[2016-02-01 01:38] uuhan commented on #31322
@petevine @nodakai  Did not  work. Some Symbol not found
 __rawmemchr    mallinfo   __register_atfork

@alexcrichton  Get it.  : )

[2016-02-01 01:58] Aatch commented on #31334
The sample will run if you click the "Run" button that appears when you mouse over the sample. There is a `lines` variable defined, just hidden as it's not relevant there. In fact, showing a `lines` variable would probably be counter productive, as it could mislead readers not aware that it's just a stand-in for any arbitrary iterator.

To be honest, that section is a little sparse anyway and coul

[2016-02-01 02:04] durka commented on #31334
There should probably be a "How to read this book" section that mentions the examples are clickable, and moreover automatically tested, so if you think it looks wrong, click Run to get a second opinion. It could also warn new Rustaceans about hidden lines in doctests (it's covered in the Documentation chapter, but that's too late) and tell them to watch out for it in the std docs too.

[2016-02-01 02:15] vlsh opened #31336 "Segmentation fault inside TailRecursionElimination.cpp(LLVM) while compiling libsyntax at stage1"
When building on Windows I'm getting a "Segmentation fault" in release mode, it seems to be happening inside tail call optimization inside LLVM. I found a workaround for now, I disabled this optimization and build completed without errors.

When I compile with LLVM debug information (with --disable-optimize-llvm) I get a different error, something to do with invalid instruction. Also enabling debu

[2016-02-01 02:24] jseyfried opened #31337 "Items shadow glob-imported reexports"
For example,

[code]

Also, considering the above example as a crate, the glob import used to shadow the item from the perspective of users of the crate before #30843. After #30843, the item shadows the glob import both inside and outside the crate. I can easily revert that breaking change if desired (crater found no breakage in practice).

Finally, in the generated documentation for the crate, `f

[2016-02-01 02:25] Aatch commented on #31315
Hmm, looks like the same rough issue as #30841. The issue only really comes up when using FFI, as the signature for `bsp_callback` in Rust looks like this:

[code]

Whereas in C it looks like this:

[code]

(Using LLVM IR syntax)

Rust code calling `bsp_callback` doesn't expect the return to be zero-extended, so it will work around it itself, while the C code is expecting the return to be extended

[2016-02-01 02:27] Aatch commented on #31337
Seems like an unfinished sentence?

[2016-02-01 02:28] jseyfried commented on #31337
Yeah, I accidentally submitted before I was done writing up the issue. Editing now...

[2016-02-01 02:30] Aatch commented on #31336
Could you try doing whatever it was you did to reproduce, but enable LLVM assertions? Normally segmentation faults are prevented by the assertions (which cause the program to crash anyway), but if there isn't a guarding one for this, it may be a bug in LLVM.

[2016-02-01 02:43] Aatch commented on #31299
@arielb1 those sequences are kinda hard to understand. However, I'm not sure why `Sized` is that relevant here. Unless the "infinite sized type" error is just a red herring and it's mis-reporting the recursive dependency for `Sized` vs. non-`Sized`?

[2016-02-01 02:48] Aatch commented on #31323
I'm not sure what the code is doing there, but using the shortest path version might be acceptable.

[2016-02-01 02:50] Aatch commented on #31320
I don't use Windows, but I can't see the harm in at least providing both options.

[2016-02-01 03:12] nrc commented on #31265
@dirk The data is stored here: https://github.com/nrc/rustc-timing/tree/master/processed JSON is the short answer.

[2016-02-01 03:16] jseyfried commented on #31337
I think there are two reasonable ways to fix this:
 1. Disallow this shadowing, perhaps with a warning cycle first.
 2. Continue allowing items to shadow glob-imported reexports and fix the generated crate documentation, expecting that we will eventually allow all glob imports to be shadowed by items and single imports as proposed [here](https://github.com/rust-lang/rfcs/issues/1289) and [here](ht

[2016-02-01 03:21] jseyfried commented on #31337
cc @nrc @nikomatsakis

[2016-02-01 03:41] Gankro commented on #31217
@eddyb usually because we're already checking -- e.g. it came out of an allocator and we didn't abort. Unique is pretty universally used for "we're Box but not".

The problem code exists because someone was using `null` as a sentinel instead of heap::EMPTY for whatever reason. Probably because of the old filling drop?

[2016-02-01 03:42] retep998 commented on #31337
I think it was intentional for non-glob items (whether declared there or via imports) to be able to override glob imports and I'd rather keep it that way.

[2016-02-01 03:49] eddyb commented on #31217
@Gankro There's your answer. If it's known to be not NULL, then the allocator should return `NonZero<*mut u8>` or even `Unique`.
The *allocator* is what uses `NonZero::new` and matches on the result.

[2016-02-01 03:52] Gankro commented on #31217
Yep, that'd be great. 's in the allocator API RFC to some extent already.

[2016-02-01 04:05] nrc commented on #31337
My opinion here is that we should allow local items to shadow glob imported items, otherwise adding an item to the upstream module can break the downstream one, and it is fairly clear that local declarations should have priority (I'm less sure about glob and non-glob imports, I like the idea that we can have multiple imports if they import the same item or the import is not used, but re-exports mu

[2016-02-01 04:22] alexcrichton commented on #31336
This looks suspiciously similar to https://github.com/rust-lang/rust/issues/28260 which is unfortunately just caused by using newer gcc binaries to compile LLVM. Right now we currently require 4.9 ish to compile successfully (it's what the bots are using)

[2016-02-01 04:54] jseyfried commented on #31337
@nrc Ok, I agree that glob imported items should be shadowable.
Do you think we should allow only one namespace of a name that is defined in both namespaces to be shadowed? For example,
[code]

When generating the documentation for this example, would we list the struct Bar and the function Bar? That seems like it would cause confusion, since the constructor for the struct is not in fact exported.

[2016-02-01 05:29] vlsh commented on #31336
Huh, yes it does sound like my problem, but like I said I did manage to build, just without tail call optimizations. I will try with 4.9 later.

[2016-02-01 05:33] nrc commented on #31337
I think that we should at least lint against this, if not forbid it out right (i.e., make it an error to shadow one namespace but not the other, when the items in the same namespace are 'linked'). This means making a connection between the two `Bar` names in different namespaces, which is unfortunate, but I think the least confusing path for the user. If we lint instead of error, then I think we s

[2016-02-01 05:49] ollie27 commented on #27809
What do `into_ascii_{upper,lower}case` offer that `make_ascii_{upper,lower}case` don't?

Is that true? If so how do you handle `&mut str` and `&mut [u8]` without two more implementations of `AsciiExt` for them?

If naming is still an issue with `make_*` how about just `uppercase_ascii()` and `lowercase_ascii()`? "uppercase" and "lowercase" are also verbs so this fits the current naming scheme.

[2016-02-01 06:31] aturon commented on #27732
I'm nominating this for discussion at the next lang team meeting.

[2016-02-01 09:14] SimonSapin commented on #27809
Yeah that’s true, you can’t `mem::replace` a `&mut str` like you can a `&mut String`, I wasn’t thinking of that case when I wrote that.

`uppercase_ascii()` without a prefix is not informative enough to say how it’s different from `to_uppercase_ascii()` IMO.

[2016-02-01 09:20] petrochenkov commented on #31337
This is unfortunate.
Glob shadowing should either be properly (and not accidentally) implemented or prohibited.
The former is certainly the way to go in the long term, probably with an RFC describing the design in detail (for all cases including glob vs glob, glob vs prelude etc.).
The latter is a better immediate solution, I think (with a crater run, of course), unless @jseyfried has a working im

[2016-02-01 09:23] #10292 closed

[2016-02-01 09:31] vi opened #31341 "Diagnostic when "constructing" something with ::new instead of ::new() should be better."
[code]

[code]

At first I tried `add` instead of `insert`, then looked at docs, changed to `insert` again, then tried deliberately invalid `inse3rt` to ensure that error message does not change. Then I noticed `fn()` in error message and after little thinking found the issue.

Maybe such simple mistake should have friendlier error message? For example, if `obj.method` does not exist, but `obj().m

[2016-02-01 12:48] SimonSapin opened #31343 "Tracking issue for std::io::set_panic and set_print"
`std::io` contains these two public unstable functions:

[code]

They both have `#[doc(hidden)]`. Anyone knows why?

The also both have:

[code]

Their functionality is evidently useful, since the `test` crate uses them to capture the output of tests on only show it when they fail. External test harnesses would likely want to have similar functionality.

This issue is about eventually stabilizing

[2016-02-01 13:26] nikomatsakis commented on #30942
OK, I put up a definite work in progress here: https://github.com/nikomatsakis/rustypop

I also described some conventions that I am aiming towards, but have not yet achieved.

This is hard work to parallelize in the early stages, but if you're interested in hacking on it, let me know over IRC or what have you (or just open some PRs). I'll probably alternate between working on it and improving LAL

[2016-02-01 14:38] hexsel commented on #31265
I know this may be too complex for an ongoing, reliable test, but it would be awesome to have something like a small-but-not-trivial web project (Iron? Nickel?).  This would exercise lots of string-related operations, a little bit of IO (I assume the request and response should be very small in size), context switching, and linking.

[2016-02-01 15:20] Gankro commented on #27719
Unwinding would be basically useless if it didn't run destructors. If you catch it then you're almost certainly leaking OS resources. If you don't catch it then you're just aborting anyway.

[2016-02-01 15:52] bluss commented on #27719
@tomaka What I can see, you should link it with ownership. "The owner is responsible for freeing a resource". And the owner can suppress drop of a value.

[2016-02-01 16:12] steveklabnik commented on #29130
Also, https://crates.io/crates/rlibc/

[2016-02-01 17:01] alexcrichton commented on #31343
This is legacy behavior on behalf of libtest. The `set_panic` function should be subsumed by `panic::set_handler`, and `set_print` is just to have a nice testing experience.

I don't think we should stabilize either of these (as evident by `issue = "0"`), and this just requires design work to figure out what we can do to replace this functionality.

[2016-02-01 17:42] alexcrichton commented on #29866
@danburkert note that the name is `Instant` rather than `Instance`, but I'm not sure if that affects what you're thinking much?

[2016-02-01 17:56] pjmlp commented on #31320
@retep998

Providing a cmd shortcut when Windows developers have been moving to Powershell since Windows XP is like providing a Korn Shell configuration script when almost everyone is moving to Bash on a specific UNIX system.

Sure it will make a few Korn Shell users happy, but not the majority that need to start Bash from a  Korn configured shell. .

With Windows Server Core, all configuration sc

[2016-02-01 18:10] nikomatsakis commented on #31299
@Aatch the message is basically a special-cased variant targeting the case where computing whether `T: Sized` is implemented requires that we recursively compute `T: Sized`. That usually (but not always) means an infinitely sized type, hence the message.

This is pretty related to how we can formalize auto traits. I'd been debating about a formalization that basically inserted one (automatically g

[2016-02-01 18:35] danburkert commented on #29866
Sorry about that.  But yes, I have the same issues with `Instant` as I do with `Instance`.

[2016-02-01 19:29] briansmith commented on #27703
Suggestions:

* Don't expose `ChaChaRng` through a `std::` module. Some systems need to ensure that any cryptographic algorithm in use is certified, and making `ChaChaRng` part of the standard library would be counterproductive for them.

* Similar to how we can override allocators, provide a way to override the CSPRNG so that (a) the application can swap in a CSRNG that is known to be good accord

[2016-02-01 19:35] retep998 commented on #31320
@pjmlp I was mostly questioning the fact whether we actually did provide a cmd shortcut. If we _do_ provide a cmd shortcut then yes we should provide a powershell shortcut as well. I use powershell myself for all my rust development.

[2016-02-01 19:39] retep998 commented on #31343
@DanielKeep was specifically interested in `set_print` as he was working on a library that automatically interprets all escape codes written to stdout and replaces them with calls to the Windows Console API.

[2016-02-01 19:43] briansmith commented on #29553
This looks like it might be a good replacement for the current `#[bench]` mechanism: https://github.com/japaric/criterion.rs.

I agree with Alex that deprecation is the best resolution.

[2016-02-01 19:54] nikomatsakis commented on #31337
I think we should revert the change, even though I prefer the shadowing semantics in the long term. Basically, I think we ought to do an RFC that describes this change, in addition to incorporating the more general work we've been planning on macro and name resolution.

[2016-02-01 19:56] briansmith commented on #27780
Does this require that Rust's alignment always matches C's alignment? A `*mut u64`  received from C code is only guaranteed to be 4-byte aligned on x86. With this RFC, converting that to a `Option<&u64>` would mean that Rust cannot assume that `&u64` is 8-byte aligned on x86.

Note that the Rust alignment of a type must always be greater or equal to the C required alignment in order for `as_ptr` a

[2016-02-01 19:57] nikomatsakis commented on #31337
Also, the question of multiple namespaces is an important one. I think it came up in the revised name resolution algorithm I was planning -- though I didn't extend my latest prototype to cover multiple paths, so maybe I am remembering details from an older version. But I remember thinking that there are some somewhat subtle interactions arising there.

Ah, I sort of remember now. The problem was I

[2016-02-01 20:21] nikomatsakis commented on #29661
@aturon I assume you mean specifically this last paragraph:

I find this idea appealing, I just think we have to square it away carefully, especially with the precise fn types we *ought* to be using. :)

[2016-02-01 20:22] briansmith commented on #27908
Why not change how `drop` is optimized to avoid the copy? It seems such an optimization is needed by many things.

[2016-02-01 20:22] nikomatsakis commented on #21939
Seems to be, a duplicate, yes.

[2016-02-01 20:24] nikomatsakis commented on #29485
That is interesting. Looks like about a 5% slowdown.

[2016-02-01 20:30] nikomatsakis commented on #31228
This is a tricky one. It seems to me that we have much bigger fish to fry in terms of misleading errors, and it'll be a while before we are able to track down a case like this.

[2016-02-01 20:34] RalfJung commented on #29485
This patch also removes NoAlias for "`Box` pointer return values" and for mutable references. Neither of them are affected by the problem discussed here, and I assume at least `Box` return values are not even controversial. (The other places NoAlias is removed, I could not recognize; mind you I did not spend much time analyzing that.)

Maybe it'd be interesting to see how big the impact of just di

[2016-02-01 20:42] alexcrichton commented on #27908
@briansmith this isn't necessarily related to compiler optimizations, it's just replacing the old method of dropping a value by doing so via `ptr::read`. The compiler already doesn't copy anything around to call destructors, it just prevents calling the `drop` method directly. This is essentially providing the ability to do so, but it works in a generic context and works with trait objects. as wel

[2016-02-01 20:44] steveklabnik commented on #27589
Closing as it's a duplicate, as @Eljay mentions

[2016-02-01 20:44] #27589 closed

[2016-02-01 21:16] alexcrichton commented on #29866
I'm also somewhat sympathetic to naming, specifically if we end up having a couple of clocks we'd probably want them all consistently named. Right now the names `SystemTime` and `Instant` don't share much similarity, and a pattern of `FooTime` seems reasonable-ish to start out at least.

[2016-02-01 22:35] Kingsquee commented on #31300
@dirk Thanks, good to know!

[2016-02-01 22:43] mikosdikos commented on #31164
Ok, I've tried a few more projects out and it's obvious now I was indeed very lucky memory-wise.

Oh well, at least exa got that right!

[2016-02-01 22:58] wycats commented on #29866
@alexcrichton @danburkert I'm pretty uneasy with `MonoTime` or `MonotonicTime`, because we really **want** people to reach for this time first (say, when doing benchmarking), and `MonoTime` just feels more niche and less friendly than `SystemTime`.

Instead of trying to find a way to make the two types appear to have parity, I'd rather find a name for `SystemTime` that helps to indicate the caveat

[2016-02-01 23:42] steveklabnik commented on #29854
I am going to give this one a close, as I'm not going to be working on this chapter of the book anymore.

If someone wants to make this look more colorful, please be my guest!

[2016-02-01 23:42] #29854 closed

[2016-02-01 23:43] Gankro commented on #27780
The duality of `*` and `&` is already pervasive.

The platform-specific alignment is also specified in the nomicon -- https://doc.rust-lang.org/stable/nomicon/repr-rust.html (first paragraph):

[2016-02-02 00:17] talchas opened #31354 "missing From<Vec<T>> for Cow<'a, [T]> impl"
Both Vec<T> and &[T] are missing From impls for Cow, unlike String/&str and PathBuf/&Path. Coherence is not (afaict) an issue, since the impl would be in the same crate as Cow.

Is there some reason these don't exist (do they cause coherence issues in downstream crates or something)?

[2016-02-02 00:20] #31207 closed

[2016-02-02 00:27] sgrif commented on #29866
I agree with @wycats here. When the concept of `Time` implies that it's monotonic. Time going backwards is the exception, not the rule (assuming the laws of physics as we know them hold)

[2016-02-02 00:36] nickmeharry commented on #25498
Forgot this was still here. Just tested it in the most recent nightly, and while it fails to build, it seems to be due to API changes rather than an ICE:

[code]

I think you can go ahead and take this off of #29249.

[2016-02-02 00:36] #25498 closed

[2016-02-02 00:37] KiChjang opened #31355 "Typedef'd enums cannot reference variants"
The following code does not compile:
[code]
It produces the following error message:
[code]

[2016-02-02 00:51] carols10cents commented on #21938
So since [helps look like they're a subdiagnostic of errors](https://github.com/rust-lang/rust/blob/142214d1f2232a4e88ff7bd99951b01f36052c61/src/libsyntax/errors/mod.rs#L252), and [errors get output before their subdiagnostics](https://github.com/rust-lang/rust/blob/142214d1f2232a4e88ff7bd99951b01f36052c61/src/libsyntax/errors/emitter.rs#L32-L33), the ordering looks intentional.

With the error+wa

[2016-02-02 01:21] asajeffrey commented on #31228
Fair enough. Also, the "obvious" fix, which is to make (&str)::Owned String rather than &str is a breaking change, so may need pushed off to 2.0.0.

[2016-02-02 02:44] DanielKeep commented on #31343
Currently, the code for doing this (replacing stdout) is platform-specific and *really* brittle (see [`ansi_interpreter` `win32/intercept.rs`](https://github.com/DanielKeep/rust-ansi-interpreter/blob/working/src/win32/intercept.rs)).  It basically has to do an end-run-around behind libstd's back, swapping out the OS level handles and *hoping* that no one has touched IO yet... because if they *have

[2016-02-02 02:50] rthomas commented on #31262
I'd be interested in taking this one on.

[2016-02-02 03:38] alexcrichton commented on #31354
Whoa, I have no idea why these aren't implemented... Should be good to go ahead and add them! Want to send a PR?

[2016-02-02 04:09] danburkert commented on #29866
`Time` is certainly a better name than `Instant`.  That being said, I want to continue making the case for `MonoTime`.

This can go both ways. Ultimately you can't save all parties from their own ignorance by anointing one clock or another.  It's better to put the two clock types on equal footing, and leave the education up to the documentation.

The two types *do* have parity.  They are both cloc

[2016-02-02 04:15] danburkert commented on #29866
One more thought.  A monotonic clock is not sufficient for benchmarking, the clock should also be steady.  As a trivial example, a logical clock is monotonic but would be inappropriate for benchmarking.  Perhaps the type should be `SteadyClock`, with the guarantee that it is as steady as the best clock on the platform.

[2016-02-02 04:39] aturon commented on #27747
@oconnor663

So, the main problem with moving to inherent methods at this point is that the traits provide something akin to method overloading -- both apply to slice types varying only by some bounds (`Clone` and `Borrow`). I think originally they were less general, but there was some other holdup to making them inherent, which I no longer recall.

re: `SliceExt`: the reason for that trait is som

[2016-02-02 06:06] oconnor663 commented on #27747
Good to know :)

[2016-02-02 06:41] petrochenkov commented on #31337
@nrc

I'd prefer non-glob imports to behave exactly like other items, i.e. they cannot have name conflicts, are visible from other modules even when private, can shadow glob imports etc. This give us one simple scheme which is easy to teach and contains no surprises. (Yes, it could be useful sometimes to import the same thing twice in macros, but it's not a great loss IMO, we don't have it now and

[2016-02-02 07:16] vlsh commented on #31336
It built correctly using 4.9.3. In my defense, the reason why I was using newer GCC was because 011a23e8bce5b3669ae7f23a9838687903fb3b86 removed the mention of 4.9 from README. You can close this, it's definitely the same problem as old #28260.

[2016-02-02 07:53] mitaa commented on #31355
#26264

[2016-02-02 10:18] semarie opened #31363 "rustc build core dump on OpenBSD"
I am investigating a core dump issue (rustc compiler crash without panic) under OpenBSD during the build. The segfault occurs at stage2 during libcore building.

It seems to occurs occasionnally on OpenBSD buildhost.

Note that rustc under OpenBSD use system `malloc(3)`, that comes with several security options (see http://www.openbsd.org/cgi-bin/man.cgi/OpenBSD-current/man5/malloc.conf.5).

Backt

[2016-02-02 10:20] semarie commented on #31363
@dhuseby Bitrig is relatively similar to OpenBSD. Do you have any problems with building recent tree of rustc under Bitrig ? If no, could you try to build one using `export MALLOC_OPTIONS=S` in your environment ?

[2016-02-02 10:34] pitdicker commented on #28528
I would like to take this on next weekend

[2016-02-02 10:45] #31289 closed

[2016-02-02 10:45] #31334 closed

[2016-02-02 12:09] oli-obk opened #31364 "const fn can cause infinite recursion in rustc"
[code]

The same problem happens in trans when using `static A: usize = a();` instead.

Since we do not have constant conditionals, there's currently no way recursion ever makes sense.

[2016-02-02 13:50] madadam opened #31365 "Internal compiler error when variant_size_differences lint is enabled"
Hello,

When the `variant_size_differences` lint check is enabled and there is an enum which triggers it, the compiler ICE's. Here is a minimal code to reproduce:

[code]

This is the output of `cargo build`:

[code]

Without the `variant_size_differences` lint, the code compiles fine.

[code]

[2016-02-02 14:50] #31355 closed

[2016-02-02 15:20] tmiasko commented on #31364
What about short-circuit behaviour of && and ||, shouldn't it allow you to get
a conditional evaluation inside const?  I will note that it also does not work
as of now. Code below overflow stack with const, and works fine without it.

[code]

[2016-02-02 15:52] pjmlp commented on #31320
Ah sorry for my reply than.

I misunderstood it as implying having cmd should already be good enough.
Am 01.02.2016 20:41 schrieb "Peter Atashian" <notifications@github.com>:

[2016-02-02 15:57] alexcrichton commented on #31336
Ok, thanks for the verification @vlsh! I'll close this in favor of that.

[2016-02-02 15:57] #31336 closed

[2016-02-02 15:57] alexcrichton commented on #28528
Thanks @pitdicker!

[2016-02-02 16:13] oli-obk commented on #31364
short circuiting has its own bug(#29608) and we're delaying it until we have a single constant evaluator based on MIR, since it'll create some confusion between the two constant evaluators we currently have

[2016-02-02 16:22] Gankro commented on #27732
@jnicholls maybe I'm missing something, but just mark the one pointer field that will be Unsized as coercable: https://gitlab.com/Bastacyclop/rust_arena/blob/master/src/lib.rs#L41

It seems to me that all the `impl<...> CoerceUnsized for ...` is trivially derivable from the claim that that field should be coercable.

[2016-02-02 16:26] steveklabnik commented on #31309
Yes, it was https://github.com/rust-lang/rust/pull/31226

[2016-02-02 16:26] #31309 closed

[2016-02-02 16:27] steveklabnik commented on #31268
/cc @rust-lang/libs

Adding something to the prelude is very dangerous.

[2016-02-02 16:30] nikomatsakis commented on #31265
As an aside, some kind of "benchmark monitoring" solution is a common need (e.g., I know I want the same thing in Rayon). It'd be great if we could write a tool that is easily extensible beyond rustc -- it seems eminently doable.

[2016-02-02 16:30] steveklabnik commented on #31102
All of these examples seem to be fixed now https://github.com/rust-lang/rust/blob/master/RELEASES.md#version-160-2016-01-21

[2016-02-02 16:30] #31102 closed

[2016-02-02 16:31] gkoz commented on #13156
Doesn't seem useless to me. The [reference](https://doc.rust-lang.org/reference.html#modules) gives this seemingly reasonable example:

#[path = "thread_files"]
mod thread {
    // Load the `local_data` module from `thread_files/tls.rs`
    #[path = "tls.rs"]
    mod local_data;
}
[code]
// This module hides some optional stuff
#[cfg(foo_bar)]
#[path = ""]
mod thread {
    #[path = "src/tls.rs"]

[2016-02-02 16:31] steveklabnik commented on #31086
Closing since this has been implemented in Clippy.

[2016-02-02 16:31] #31086 closed

[2016-02-02 16:37] durka commented on #31364
Why doesn't the recursion limit cover this?

[2016-02-02 16:41] steveklabnik commented on #20254
Traige: after fixing the syntax (removing a `:` because closures don't do this anymore), the error is now about `R` not implementing `Send`. It's the same as when you add the explicit annotation as well. So I believe this is fixed.

[2016-02-02 16:41] #20254 closed

[2016-02-02 16:43] steveklabnik commented on #20213
The chapter of the book says that we're "Like GCC and Clang" and points to the LLVM inline asm stuff, so I'm going to give this one a close.

[2016-02-02 16:44] steveklabnik commented on #20196
Triage: there's no more `Parambounds`, but there is a `TyParamBounds`. Is that the same thing?

[2016-02-02 16:45] steveklabnik commented on #20148
updated code:

[code]

The error is now

[code]

I _believe_ that this is intended behavior. @rust-lang/lang?

[2016-02-02 16:47] steveklabnik commented on #20087
I'm moving this issue over to the website's repo: https://github.com/rust-lang/rust-www/issues/303

[2016-02-02 16:47] #20087 closed

[2016-02-02 16:49] steveklabnik commented on #21222
Runnable:

[code]

uncommenting either gives

[code]

[2016-02-02 16:52] steveklabnik commented on #18030
Triage: I'm not aware of any efforts to actually do this.

[2016-02-02 16:53] steveklabnik commented on #19712
Triage: this compiles today. Closing.

[2016-02-02 16:55] steveklabnik commented on #19630
Traige: updated code

[code]

Given that there's a workaround and we're not doing significant work on current macros, I'm not sure this will ever be fixed.

[2016-02-02 16:56] steveklabnik commented on #19619
Triage: this is the same today.

Given that nobody has commented on this issue in a year, and both of you aren't even sure it's worth it, giving this a close.

[2016-02-02 16:56] #19619 closed

[2016-02-02 16:58] steveklabnik commented on #20528
Traige: closures have changed, `std::thunk` is gone, and nobody has commented in over a year. @Munksgaard if you can still reproduce this, let me know, but I think it's a non-issue now, or at least, don't know how to reproduce it.

[2016-02-02 16:58] #20528 closed

[2016-02-02 16:59] steveklabnik commented on #21344
Triage: I am not sure if anything has changed here or not. @tdaede have you still seen this recently?

[2016-02-02 16:59] steveklabnik commented on #21334
Triage: no change.

[2016-02-02 17:01] steveklabnik commented on #18785
Triage: Today, this program stack overflows in debug mode, and prints `32579` in release mode.

[2016-02-02 17:02] steveklabnik commented on #10393
Triage: https://github.com/rust-lang/rust/pull/31274 removed all of `src/test/bench`, so this is no longer ignored 😛

[2016-02-02 17:02] #10393 closed

[2016-02-02 17:03] steveklabnik commented on #1311
Over a year later, my triage estimate is the same as it was last year.

[2016-02-02 17:05] steveklabnik commented on #7880
Triage: still no change. Runnable:

[code]

Given that there are good reasons to use this, and nobody has been clamoring for this lint, I think that we can give this one a close.

[2016-02-02 17:05] #7880 closed

[2016-02-02 17:06] steveklabnik commented on #10236
Traige: still no idea.

@sstewartgallus if you are still seeing this issue, please let me know, but I'm giving it a close.

[2016-02-02 17:06] #10236 closed

[2016-02-02 17:07] steveklabnik commented on #10147
Triage: I am not aware of any effort to create these kinds of tests. @nikomatsakis do you still think they'd be of value today? We have a _lot_ of Rust code in the wild now, I feel confident about this feature :)

[2016-02-02 17:08] steveklabnik commented on #5116
Triage: all of those files are still there.

[2016-02-02 17:09] steveklabnik commented on #11145
Triage: still not aware of any actual changes yet, but @alexcrichton 's Cargo-based build system may fix this, maybe not?

[2016-02-02 17:10] steveklabnik commented on #7727
Triage: with no updates since 2013, and big changes planned to the syntax extension system, i'm going to give this one a close.

[2016-02-02 17:10] #7727 closed

[2016-02-02 17:10] steveklabnik commented on #8641
Triage: same as last year.

[2016-02-02 17:11] steveklabnik commented on #19432
Triage: i am not aware of any efforts to update the test suite in this regard.

[2016-02-02 17:15] phil-opp opened #31367 "Custom target: data-layout changed"
I use a custom target file to build code for ARM. I copied the file from somewhere and it worked without problems. But now, after an update to the latest nightly, the build fails with a strange LLVM error:

[code]

I don't understand any of this but it seems like the data-layout is suddently “Target-incompatible”. My target json looks like this:

[code]

Removing the `data-layout` line fixes it an

[2016-02-02 17:18] steveklabnik commented on #20293
Triage: I think this might be fixed?

Updated code:

[code]

gdb session:

[code]

It looks like just once for me. Since I'm not aware of any work done in this area, I'm not going to give it a close, though.

[2016-02-02 17:21] steveklabnik commented on #13018
Triage: runnable code

[code]

I'm not aware of any improvements in this area, nor am I good enough with LLVM IR to tell if things have changed.

[2016-02-02 17:22] vlsh commented on #31365
There's a good chance this might have been fixed. Have you tried a newer release? I could reproduce your error on binary 1.6 release, but not on nightly.

[2016-02-02 17:24] tbu- commented on #19712
What compiles today? The examples give me
[code]
without a `missing-copy-implementation` in the `foo.rs` compilation.

[2016-02-02 17:24] steveklabnik commented on #20219
Updated example:

[code]

And to compile:

[code]

I am not good enough at reading the generated output to determine the state of the bug, however.

[2016-02-02 17:25] steveklabnik commented on #9950
Triage: with no response in a year, and no real comments since 2013, and with tons of changes, I'm just going to close this one.

[2016-02-02 17:25] #9950 closed

[2016-02-02 17:26] madadam commented on #31365
Ah, it didn't occur to me to test it also on nightly :) You are right, it's fixed on nightly. Closing.

[2016-02-02 17:26] #31365 closed

[2016-02-02 17:28] steveklabnik commented on #10971
Triage: a slightly different error today:

[code]

[2016-02-02 17:29] steveklabnik commented on #11763
Triage: I am not aware of any more changes on this front.

[2016-02-02 17:30] steveklabnik commented on #11582
Triage: no change that I'm aware of.

@larsbergstrom do you still feel this pain?

[2016-02-02 17:34] steveklabnik commented on #11445
Triage: updated code:

[code]

llvm ir:

[code]

It looks very different, is this fixed?

[2016-02-02 17:35] steveklabnik commented on #11403
Triage: no change, other than removing the macro_rules.

I don't believe that we're planning on improving the current macro_rules at all, instead focusing on the next-gen macro system. Also, this feels like this would require an RFC. so closing.

[2016-02-02 17:35] #11403 closed

[2016-02-02 17:36] steveklabnik commented on #11195
Today, this gives me no error. Closing.

[2016-02-02 17:36] #11195 closed

[2016-02-02 17:38] steveklabnik commented on #11004
Triage: same error, updated sample:

[code]

[2016-02-02 17:41] steveklabnik commented on #21821
Triage: it's been a year. Are you still seeing this, @anatol ?

[2016-02-02 17:43] steveklabnik commented on #16418
Updated code sample: https://play.rust-lang.org/?gist=604564384c576d2d3862&version=nightly

[2016-02-02 17:44] steveklabnik commented on #14424
Triage: no change that I'm aware of.

[2016-02-02 17:47] steveklabnik commented on #19346
@rust-lang/lang , is this something we'd want to support? They're different types, no?

[2016-02-02 17:47] steveklabnik commented on #16581
Triage: unsure if there's been any change.

[2016-02-02 17:48] steveklabnik commented on #16516
Triage: not aware of any change.

[2016-02-02 17:49] steveklabnik commented on #18168
Triage: no change.

[2016-02-02 17:49] jnicholls commented on #27732
@Gankro Sorry I don't follow what you mean.  Can you provide an example?

[2016-02-02 17:49] steveklabnik commented on #18391
Triage: a year later, with still no comments, I'm going assume this one is fixed.

[2016-02-02 17:50] steveklabnik commented on #18616
Triage: I'm not sure if this work has been done or not.

[2016-02-02 17:50] steveklabnik commented on #18716
Triage: unsure if this has been implemented or not.

[2016-02-02 17:51] steveklabnik commented on #19381
Triage: no change.

[2016-02-02 17:52] steveklabnik commented on #19061
This has been fixed!

[code]

[2016-02-02 17:52] #19061 closed

[2016-02-02 17:53] steveklabnik commented on #18945
This error is much better now:

[code]

but still not as helpful as it could be.

[2016-02-02 17:54] steveklabnik commented on #18843
This has been resolved: an empty crate with just `![no_std]` compiles fine with `--test`.

[2016-02-02 17:54] #18843 closed

[2016-02-02 17:57] steveklabnik commented on #19712
Whoops! I don't know what I did wrong, but when I had typed that, the example verbatim compiled. Trying again, I get the same error as you.

[2016-02-02 18:12] larsbergstrom commented on #11582
So we feel the pain a bit less after the removal of green threads, because there's always a stack backtrace above the thread.

That said, we have these concurrency problems ALL the time, leading to huge numbers of intermittents in Servo. I suspect, though, that the right solution is for us to be using https://github.com/mozilla/rr to debug these issues in Servo, though, rather than broken printf-d

[2016-02-02 18:20] nikomatsakis commented on #31234
Just to be clear: the problem is in trans, right? That is, I expect this example to compile, but it seems like the temporary stack slot is being dropped too early?

[2016-02-02 18:20] eddyb commented on #11445
Yes, static and dynamic drop have both gotten much better since (although filling drop still exists in marginal cases).

[2016-02-02 18:20] #11445 closed

[2016-02-02 18:22] nikomatsakis commented on #10382
@eddyb another option would be to special-case this some, and just have all vtables include a `TypeId` -- or at least those that extend `Reflect` -- we could then use unsafe code to extract it. :)

[2016-02-02 18:25] steveklabnik commented on #11962
Triage: no change.

[2016-02-02 18:26] steveklabnik commented on #12731
Given that it's been a year with no update, I'm giving it a close. @nikomatsakis let me know if you think it's still relevant to keep open.

[2016-02-02 18:26] #12731 closed

[2016-02-02 18:26] steveklabnik commented on #13444
Triage: no change.

[2016-02-02 18:27] eddyb commented on #31234
@nikomatsakis Yes, it's supposed to compile, and no, there is no temporary stack slot, `&'static T` is effectively transmuted to `&mut &T` by some incorrect adjustment handling.

[2016-02-02 18:27] steveklabnik commented on #13977
Triage: I am not aware of any change here.

[2016-02-02 18:29] steveklabnik commented on #14007
Updated code:

[code]

Error

[code]

It still does not point to `insert(0, 1)`.

[2016-02-02 18:31] steveklabnik commented on #14412
This error message doesn't exist anymore, but I'm not familiar enough with the compiler today to know what the updated message should be. I think that this is

but that doesn't seem exactly right...

[2016-02-02 18:31] steveklabnik commented on #14729
Triage: is this still relevant today?

[2016-02-02 18:33] steveklabnik commented on #14995
This is in fact a duplicate. https://github.com/rust-lang/rust/issues/11962#issuecomment-178739549

[2016-02-02 18:33] #14995 closed

[2016-02-02 18:34] nikomatsakis commented on #20196
I think this is done.

[2016-02-02 18:34] #20196 closed

[2016-02-02 18:35] nikomatsakis commented on #20148
Hmm. Actually, I sort of expected the same errors as before. I'm a bit surprised that the error on the struct went away. cc @petrochenkov

[2016-02-02 18:35] steveklabnik commented on #15070
Triage: no change.

[2016-02-02 18:35] alexcrichton commented on #31367
This might be related to how LLVM was upgraded recently?

[2016-02-02 18:36] nikomatsakis commented on #20148
Oh, but when I try it on play, I see the same errors as before.

[2016-02-02 18:36] steveklabnik commented on #15187
This should be filed against https://github.com/rust-lang/rustup if it's still an issue.

[2016-02-02 18:36] #15187 closed

[2016-02-02 18:36] nikomatsakis commented on #10147
Yah, close it.

[2016-02-02 18:36] #10147 closed

[2016-02-02 18:36] steveklabnik commented on #15513
Triage; no change here.

[2016-02-02 18:37] steveklabnik commented on #21545
Traige: the RFC was pursued, so closing this.

[2016-02-02 18:37] #21545 closed

[2016-02-02 18:38] steveklabnik commented on #5934
Giving this a close, as it's very very old, as @errordeveloper mentions.

Let me know if this is incorrect.

[2016-02-02 18:38] #5934 closed

[2016-02-02 18:39] nikomatsakis commented on #19346
Yes, these are distinct types, and we can't make one automatically support the methods of the other in general. So @nwin you may want to consider implementing the `Index` trait on `&[T]`, as you describe. Whether that makes sense is not immediately obvious to me, the @rust-lang/libs team members probably have an opinion. Going to close this issue in the meantime.

[2016-02-02 18:39] #19346 closed

[2016-02-02 18:39] steveklabnik commented on #16430
Triage: not a lot has changed, but we do have custom panic handlers, so that should help?

[2016-02-02 18:39] steveklabnik commented on #16758
@nrc is this still relevant today?

[2016-02-02 18:39] steveklabnik commented on #16847
@nikomatsakis is this still relevant today?

[2016-02-02 18:40] nikomatsakis commented on #18391
Well, it has not been fixed. However... it may be that having this issue open has no real value. Never mind, I'll re-close it. :)

(Ah, I guess I did sort of address this in my recent `ObligationForest` branch.)

[2016-02-02 18:40] #18391 closed

[2016-02-02 18:40] steveklabnik commented on #17027
Triage: not aware of any changes.

[2016-02-02 18:40] nikomatsakis commented on #18716
No.

[2016-02-02 18:40] petrochenkov commented on #19712
This is a legitimate bug, `rustc_privacy::EmbargoVisitor` has a large piece of functionality missing - function return types and other things available through everything except for reexports and type aliases are not marked as reachable. This leads to many kinds of problems for such types.

[2016-02-02 18:40] steveklabnik commented on #16351
Triage: not aware of a change here.

[2016-02-02 18:41] steveklabnik commented on #17689
This is a very old issue, and the original reporter has deleted their account, so giving a close.

[2016-02-02 18:41] #17689 closed

[2016-02-02 18:41] steveklabnik commented on #18147
@huonw with `std::simd` gone, is this still an issue? I haven't been keeping as close an eye on your simd work.

[2016-02-02 18:45] briansmith commented on #29130
This is my point. rlibc-based Rust should be made to be fast, and if it is made fast, then disabling the lowering to memcpy/memset/etc. wouldn't matter.

I think it would be good to measure the performance impact.

Also, Rust shouldn't be using `strlen` at all (it might currently be, but that should be changed if so). LLVM isn't lowering anything to `strlen`, is it?

[2016-02-02 18:50] petrochenkov commented on #20148
Guess: Steve just trimmed the output to demonstrate the new error message.

[2016-02-02 18:51] petrochenkov commented on #20148
Also, this is intended (at least currently).

The official workaround is
[code]
it is mentioned in the expanded error message for E0445.

[2016-02-02 18:52] nodakai commented on #31322
How about referencing a pre-built glibc (_eg._ https://www.archlinux.org/packages/core/x86_64/glibc/ ) ?  It's shipped with a dynamic loader as well.

[code]

(Not sure if `strace(8)` is reliable under such a hack.)

[2016-02-02 18:58] nikomatsakis commented on #20148
Right, so I think we can close this as "working as designed", for better or worse. :) @tbu-, you may be interested in RFC https://github.com/rust-lang/rfcs/pull/1422, which aims to address this issue. There has also been some discussion about the current rules and the reasoning behind them, but I can't find the links right now... let me know if you want me to dig them up.

[2016-02-02 18:58] #20148 closed

[2016-02-02 19:07] alexcrichton commented on #16430
Ah this was actually done in https://github.com/rust-lang/rust/commit/bfc45834c110f7f021daffefcc2290c9133d6139, so closing.

[2016-02-02 19:07] #16430 closed

[2016-02-02 19:15] steveklabnik commented on #12113
Triage: too much time has passed and too much has changed, so I don't actually remember what the right thing is here.

I _believe_ this boils down to https://github.com/rust-lang/rust/issues/27802, ie, we still haven't decided what happens when you get an invalid `char` while reading.

@rust-lang/libs, opinions?

[2016-02-02 19:16] steveklabnik commented on #13098
Triage: no change.

[2016-02-02 19:17] steveklabnik commented on #13101
Triage: no change.

[2016-02-02 19:17] steveklabnik commented on #13281
Triage: no change that i'm aware of.

[2016-02-02 19:19] Yoric commented on #10382
That doesn't sound very different from my suggestion, except for the mangling part.

[2016-02-02 19:19] sfackler commented on #12113
We certainly now have the ability to do this via the custom error payload you can pass into `io::Error::new`. It seems pretty reasonable to include the offending byte in that.

[2016-02-02 19:20] steveklabnik commented on #13760
Triage: no change that i'm aware of.

[2016-02-02 19:21] steveklabnik commented on #10786
Triage: the error is slightly different:

[code]

[2016-02-02 19:24] steveklabnik commented on #14129
Triage: still probably a weird thing, still works:

[code]

[2016-02-02 19:25] steveklabnik commented on #14098
Triage: still an error.

[2016-02-02 19:27] steveklabnik commented on #14220
Triage: no change that I'm aware of.

[2016-02-02 19:29] steveklabnik commented on #14969
Triage: this still works this way today.

[2016-02-02 19:30] steveklabnik commented on #15054
Triage: @brson has been working on a lot of packaging stuff, but I believe we still only have `RUSTFLAGS`, without a way to remove flags.

[2016-02-02 19:33] steveklabnik commented on #15188
Triage: there have been a _lot_ of changes to Rust since this sample code was made. @apoelstra , have you seen this error lately?

[2016-02-02 19:34] steveklabnik commented on #15855
Triage: Ther'es some other similar bugs about this, a better diagnostic would be good.

[2016-02-02 19:38] steveklabnik commented on #20423
So, it's far past 1.0. How are we feeling about this change? Is this the kind of back-incompat-change that's still worth it?

[2016-02-02 19:39] steveklabnik commented on #16337
The inline asm docs explicitly link to the LLVM docs, and say that we use something "like GCC" but not the same as gcc.

[2016-02-02 19:39] #16337 closed

[2016-02-02 19:43] steveklabnik commented on #21645
Triage: not aware of any changes here.

[2016-02-02 19:46] steveklabnik commented on #17151
I believe that the decision we came to here: https://github.com/rust-lang/rfcs/blob/master/text/1105-api-evolution.md#traits

Doesn't explicitly cover this case, but "you need to disambiguate with UFCS" is considered a minor enough fix that it's acceptable.

[2016-02-02 19:47] glaebhoerl commented on #20423
cc https://github.com/rust-lang/rfcs/issues/1447

[2016-02-02 19:47] steveklabnik commented on #16029
Triage: ahhhh the old runtime failure error message. These were the days :smile:

Given this ticket hasn't seen an update in over two years, and involves a bunch of stuff that doesn't exist anymore, I'm going to give it a close.

[2016-02-02 19:47] #16029 closed

[2016-02-02 19:48] steveklabnik commented on #18602
Triage: no change

[2016-02-02 19:55] oblitum commented on #14662
cc #16029

[2016-02-02 19:56] oblitum commented on #16029
@steveklabnik just cc'ed it on #14662, just in case.

[2016-02-02 20:10] cyplo commented on #17193
Thanks a lot ! @bluss - are you interested in taking this work further, do you think it's best to be finished by someone else ?

[2016-02-02 20:17] nikomatsakis commented on #30191
This is perhaps a dup of #19032 --- have to read more deeply

[2016-02-02 20:19] Gankro commented on #27732
Oops, something clobbered my selection, I meant to link to: https://gitlab.com/Bastacyclop/rust_arena/blob/master/src/lib.rs#L59

Basically instead of

[code]

You would just do *something* like:

[code]

[2016-02-02 20:20] nodakai commented on #18785
The `unconditional_recursion` lint (rust-lang/rust#20373) is cool!

[code]
[code]
[code]

I wonder if we should turn it into a hard error, as it can be disastrous to dereference a garbage pointer:

- https://play.rust-lang.org/?gist=04cbe3784803742bf45b&version=stable
[code]
[code]

[2016-02-02 20:24] tbu- commented on #20148
Thanks for the link to the RFC!

[2016-02-02 20:28] cybergeek94 commented on #29130
It might lower the length-finding op of `std::ffi::CStr::from_ptr()` to `strlen` since they're essentially equivalent.

[2016-02-02 20:33] apoelstra commented on #15188
No, I have not encountered this bug since I filed it.

[2016-02-02 20:38] retep998 commented on #29130
I have never personally seen llvm lower length finding ops to `strlen` but we do directly call it in `std`. https://github.com/rust-lang/rust/blob/master/src/libstd/ffi/c_str.rs#L435

[2016-02-02 20:41] steveklabnik commented on #15188
Okay, I'm going to give it a close, then.

Anyone else coming along later, if you see this, please let me know and I'll re-open.

[2016-02-02 20:48] tbu- commented on #31316
In some sense, yes. You could ask the playpen maintainers to add `sched_yield` to the list of safe system calls.

[2016-02-02 20:49] rphmeier commented on #15188
not sure about that: https://play.rust-lang.org/?gist=d202841280e5d7a9e28f&version=nightly

[2016-02-02 20:49] rphmeier commented on #15188
(I just ported it to stable Rust)

[2016-02-02 20:50] bluss commented on #17193
@cyplo I haven't done anything for this in rust I think. I'd love to see any kind of improvement, feel free to work on it.

[2016-02-02 20:52] sgrif opened #31369 "cfg attributes appear are improperly applied inside of `include!`"
Example to reproduce:

[code]

This should successfully compile, but instead will have a syntax error. It should behave identically to what would occur if you inlined the first `include!`, (which does compile successfully)

[code]

[2016-02-02 21:12] durka commented on #31369
I think this is a duplicate of some older issues, essentially the problem is that cfg-stripping and macro expansion do not run in an unbounded loop. cfg is stripped once, then macros, then cfg again, and that's it. So macros which expand to cfg attributes do not work.

[2016-02-02 21:13] durka commented on #31369
cf #22250 #30125

[2016-02-02 21:24] sgrif commented on #31369
That isn't necessarily correct. That would mean that this would also fail:

[code]

However, in that case the cfg attr applies completely fine.

[2016-02-02 21:30] durka commented on #31369
Hmm, maybe a slightly different problem then. What doesn't work is this:

[code]

[code]

[2016-02-02 21:38] sgrif commented on #31369
Yes. So it appears to specifically be when the cfg attr would affect whether another macro is expanded. As an additional example,

[code]

would be fine, but

[code]

will fail.

[2016-02-02 21:42] steveklabnik commented on #15337
After an extremely long build time, I can confirm that this is still an issue.

[2016-02-02 21:43] steveklabnik commented on #21513
Triage: yes, this code is correct, but the error could be more helpful.

[2016-02-02 21:44] steveklabnik commented on #15908
Triage: slightly different error now:

[code]

[2016-02-02 21:45] steveklabnik commented on #19140
Triage: still an issue today.

[2016-02-02 21:47] steveklabnik commented on #17712
The error is much better now. Code:

[code]

error:

[code]

:+1:

[2016-02-02 21:47] #17712 closed

[2016-02-02 21:50] steveklabnik commented on #16389
Triage: no change. I also don't think that this lint should happen; this expression is legitimate. Maybe in Clippy? @Manishearth

[2016-02-02 21:51] dhuseby commented on #31363
@semarie I do sometimes get segfaults building rustc on Bitrig.  I'll give the MALLOC_OPTIONS=S a shot.  Thanks for the suggestion.

[2016-02-02 21:52] steveklabnik commented on #16420
There is no more pretty=hygene, was it replaced with something?

[2016-02-02 21:53] steveklabnik commented on #16502
Updated code:

[code]

Still agree that this is pretty strange.

[2016-02-02 21:57] Manishearth commented on #16389
https://github.com/Manishearth/rust-clippy/pull/593

[2016-02-02 21:57] #16389 closed

[2016-02-02 21:58] Manishearth commented on #16389
Just landed as https://github.com/Manishearth/rust-clippy/wiki#absurd_unsigned_comparisons

[2016-02-02 21:58] steveklabnik commented on #16480
Triage: no change.

[2016-02-02 21:59] icorderi opened #31372 "Unclear ambiguity on nested Associated Types"
Given the following code:

[code]

we get:

[code]

This works, but it's not clear why the compiler consideres it an ambiguity:

[code]

[2016-02-02 22:00] steveklabnik commented on #16638
Triage: `--dep-info` doesn't seem to be a flag anymore, there is `--emit=dep-info`, but it doesn't print things out to stdout though.

[2016-02-02 22:09] steveklabnik commented on #18128
Both of these examples compile for me today.

[2016-02-02 22:09] #18128 closed

[2016-02-02 22:10] steveklabnik commented on #17893
Triage: current error:

[code]

[2016-02-02 22:11] steveklabnik commented on #17930
Updated code:

[code]

same error.

[2016-02-02 22:11] steveklabnik commented on #17262
Triage: here's the error:

[code]

[2016-02-02 22:14] steveklabnik commented on #17141
Triage: no change

[2016-02-02 22:16] steveklabnik commented on #16994
I _think_ this is the original problem, updated to current syntax:

[code]

error:

[code]

[2016-02-02 22:18] steveklabnik commented on #15266
Triage: this code is so old that it will not build anymore, and would take a _lot_ of updating. @killerswan if you're still seeing this somehow, please let me know, but I'm going to close as not reproducible.

[2016-02-02 22:18] #15266 closed

[2016-02-02 22:38] durka opened #31373 "match miscompiled with range and wildcard"
This may be the same bug as #18060. This code

[code]

gets the second match wrong somehow, under very specific circumstances. Minified from user "bellows" in #rust-beginners.

[2016-02-02 22:42] steveklabnik commented on #13334
Triage: no change.

[2016-02-02 22:43] steveklabnik commented on #17269
Triage: no change here so far.

[2016-02-02 22:47] steveklabnik commented on #9826
Triage: no comments in a long time. https://github.com/DanielKeep/cargo-script can be used in a shebang line, and includes Cargo stuff as well.

[2016-02-02 22:50] steveklabnik commented on #11059
Triage: as the `test` crate is not public anymore, this doesn't appear in user-facing code anymore. http://manishearth.github.io/rust-internals-docs/test/stats/trait.Stats.html

https://github.com/rust-lang/rust/issues/29553 is related, in the sense that it might make this crate stable, or at least parts of it.

[2016-02-02 22:56] GuillaumeGomez opened #31374 "Path equality isn't correct"
The following code always returns false whereas it shouldn't:

[code]

Here, both `Path`s refer to the same location. I'm writing a patch ([canonicalize function](http://static.rust-lang.org/doc/master/std/fs/fn.canonicalize.html)).

[2016-02-02 23:05] huonw commented on #18147
Yes, this applies to any `#[repr(simd)]` type.

[2016-02-02 23:06] arielb1 commented on #16994
If you use a boxed closure, remember to box it:
[code]
This runs on modern rustc.

[2016-02-02 23:07] steveklabnik commented on #16994
Ah duh. Thanks!

[2016-02-02 23:22] nagisa commented on #31374
From [boost](http://www.boost.org/doc/libs/1_33_1/libs/filesystem/doc/path.htm#Path_equality):

This is a case from the same bucket.

(Keep in mind, that implicitly canonicalizing paths is also wrong – race conditions may make `Path::new("src") == Path::new("src")` to be `false`!)

[2016-02-02 23:27] alexcrichton commented on #29866
although `std::time::Time` suffers from a stuttering problem, I'd be slightly more comfortable with the name over `Instant` indeed!

[2016-02-02 23:45] nagisa commented on #31343
The two functions in the original report were added as a short term hack and are not intended for stabilisation consideration. If the functionality is desired, an RFC with a proper proposal should be created IMO.

[2016-02-02 23:46] GuillaumeGomez commented on #31374
@nagisa: Hum... Hard to tell. I just can't get rid of the fact that this equality should return true and not false...

[2016-02-02 23:55] aturon commented on #31374
@GuillaumeGomez This is the intended normalization. Some programs distinguish between `./foo` and `foo` in terms of `$PATH` lookup -- i.e., the former looks only in the current directory, whereas the latter searches in everything listed in `$PATH`.

[2016-02-02 23:55] cybergeek94 commented on #29130
I guess I should have looked at the source for that method. I could have sworn I remembered it being implemented in Rust instead of shelling out to `libc`.

[2016-02-02 23:59] GuillaumeGomez commented on #31374
@aturon: That's what @nagisa explained to me. It's just a bit hard to understand why we have a `Path` object then. Just implementing a `Path` on `&str` would have been enough then, no?

[2016-02-03 00:04] aturon commented on #31374
@GuillaumeGomez `Path` is basically a wrapper around `OsStr` that provides a small amount of normalization, as well as parsing. It's a pretty standard approach; see [the RFC](https://github.com/rust-lang/rfcs/pull/474) for more details on the design.

[2016-02-03 00:04] #31374 closed

[2016-02-03 00:06] GuillaumeGomez commented on #31374
@aturon: Thanks for the link.

[2016-02-03 00:58] rthomas commented on #30983
This can be closed now, as the PR has been merged.

[2016-02-03 01:08] bluss commented on #30983
@rthomas Thank you!

[2016-02-03 01:08] #30983 closed

[2016-02-03 01:29] SimonSapin commented on #31343
If this is a short term hack, what will the `test` crate use long term to capture test output?

[2016-02-03 01:34] bluss commented on #27750
For the record, I think `clone_from` is a good name. Shorter is better.

[2016-02-03 01:47] sgrif commented on #29866
Just re-export it from `std/lib.rs`! :trollface:

[2016-02-03 01:49] ubsan commented on #27750
@alexcrichton I disagree with the stabilization under the current name. `clone_from` is what it should be called, as it is the exact same operation as `Clone::clone_from`; `x = y.clone()` vs. `x[..] = y[..].clone()`.

[2016-02-03 02:18] jseyfried commented on #31337
The above PRs are implementations of the two fixes I proposed earlier.

[2016-02-03 02:20] jseyfried commented on #31337
@nrc
I agree that we should use the semantics from my last option, but I don't agree we should have the lint. I think it makes more sense to think of non-`use` items as the objects that are imported, not abstract definitions of names in namespaces. From this perspective, it is clear that (for example) a function would prevent a tuple struct with the same name from being glob imported, since it wou

[2016-02-03 02:20] jseyfried commented on #31337
@petrochenkov @nikomatsakis
If disallowing shadowing causes little to no breakage, I would support it.
Otherwise I don't think it's worth it to break people's code (or warn them into changing it) when we can just allow non-import items to shadow globs with the above semantics for now, which is future-compatible with the more detailed proposals, simple to implement, and almost backwards compatible.

[2016-02-03 02:44] reem commented on #27750
I have a weak preference for `clone_from` over `clone_from_slice`, especially given @ubsan's note about the similarity with `Clone::clone_from`.

I also think it would be fine to address this via a `pub fn copy(src: &[u8], dst: &mut [u8]) -> usize { dst.write(src).unwrap() }` in `std::mem`, and not have a method for it.

[2016-02-03 02:46] reem commented on #27750
Another note: it would probably be better if this API returned the number of bytes copied instead of panicking if the src slice is not the same length as the dst slice.

[2016-02-03 03:06] #27489 closed

[2016-02-03 03:06] #30632 closed

[2016-02-03 03:06] #31098 closed

[2016-02-03 03:06] #31318 closed

[2016-02-03 03:07] #31154 closed

[2016-02-03 03:11] jethrogb commented on #31098
I don't think this issue is fixed until the docs at /stable/ actually don't show the qualification.

[2016-02-03 03:17] jseyfried opened #31379 "Inconsistency in whether methods of shadowed traits are usable"
This compiles:
[code]
but this doesn't:
[code]
More generally, a shadowed trait's methods are usable if it is shadowed by an item, but not if it is shadowed by an import.

Should methods from shadowed traits be usable?

[2016-02-03 03:23] jseyfried commented on #31379
cc @nikomatsakis

[2016-02-03 03:55] durka commented on #31085
Okay, so thinking about this idea of special-casing `#[derive(Copy, Clone)]` as `#[derive_CopyClone]` and make that More Magic (tm).

From the code

[code]

you get (cleaned up)

[code]

Now instead of the above `Clone` impl we would like there to be

[code]

but now `S<T>: !Clone where T: Clone + !Copy` (please forgive the horrible abuse of notation). Is it possible to do this in a backwards-comp

[2016-02-03 03:57] durka commented on #31085
[Playpen illustrating the above concern.](http://is.gd/p5vaCj)

[2016-02-03 04:06] bluss commented on #31085
I think you would need specialization to supply both the `where T: Clone` and  the `where T: Copy`  implementations, the latter is more specific, so it should work out.

[2016-02-03 04:07] durka commented on #31085
So we'll revisit this after specialization lands?

[2016-02-03 04:22] retep998 commented on #31337
One of the larger things is actually `winapi` which a lot of people glob import. Since `winapi` is always growing, being able to shadow stuff from that glob import is really useful for forwards compatibility. Note that crater does not work on Windows yet so it wouldn't be able to tell you the potential breakage.

[2016-02-03 04:34] bluss commented on #31085
You can do it well already for the case without type parameters

[2016-02-03 04:40] durka commented on #31085
Agreed.

[2016-02-03 04:51] nrc commented on #16758
Yes, afaik. cc @pnkfelix

[2016-02-03 05:01] mitaa opened #31380 "Teach compiletest about multispans"
Compiletest needs to understand multispans before they can actually be used in compiler output.

This makes [expected-error-checking](https://github.com/rust-lang/rust/blob/36656f812d123644fb24c16a721803fa92656af0/src/compiletest/runtest.rs#L917-L1017) more complicated because multiple errors can be folded into a single one, breaking a core assumption of the current code.

Because of this I sugges

[2016-02-03 05:04] nrc commented on #31380
I don't think switching to JSON helps - you still have the same problem with multiple spans.

[2016-02-03 05:15] AtheMathmo commented on #30685
@arielb1 @pfalabella I'm the poster of the SO question referenced. Thank you to both of you for taking the time to look into this issue.

As the issue is still open I'd like to try and get a little clarity. @arielb1 Are you saying this is more a design issue than a bug?

[2016-02-03 05:23] #28133 closed

[2016-02-03 06:33] dpc commented on #31367
This also happend to me on travis where LLVM is  in version 3.4. https://travis-ci.org/dpc/titanos/jobs/106659993

[2016-02-03 06:52] emoon opened #31381 "Compilation is 350x times slower in release for r68k"
Hi,

When building this project https://github.com/marhel/r68k with ```cargo build --release``` it takes 350x times longer time than in debug.

I tested this on both stable and nightly (on Mac) and the result seems to be the same.

Here is the original issue: https://github.com/marhel/r68k/issues/60

I have also attached a performance capture (Done with XCode/Instruments on Mac) which i took for a

[2016-02-03 06:53] emoon commented on #31381
Running Time    Self (ms)       Symbol Name
132940.0ms  100.0%  0,0     sys::thread::Thread::new::thread_start::hbf136943ebd5e19atrx  0x51338f
132940.0ms  100.0%  0,0      thread_start
132940.0ms  100.0%  0,0       _pthread_start
132940.0ms  100.0%  0,0        _pthread_body
132940.0ms  100.0%  0,0         sys::thread::Thread::new::thread_start::hbf136943ebd5e19atrx
132940.0ms  100.0%  0,0

[2016-02-03 07:32] mitaa commented on #31380
I guess you're right. That was more of a general suggestion/question to use machine-readable output for machine related stuff, instead of seemingly brittle/confusing ad-hoc parsing.
(spans aren't currently tracked which needs to be added)

[2016-02-03 07:33] zonyitoo commented on #31316
Ok, closing and going to ask playpen maintainers to fix this.

[2016-02-03 07:33] #31316 closed

[2016-02-03 08:29] jonas-schievink commented on #31381
I recall that the assumption cache (tracker?) made some problems before... Where are we using assumptions for, exactly?

cc @dotdash, I guess :)

[2016-02-03 08:39] cyplo commented on #17193
Alrighty - I will take a look there and see what I can do to improve the docs in a way suggested here, to have the function names more easily browseable/scannable. Thanks !

[2016-02-03 08:51] #31229 closed

[2016-02-03 08:55] Ticki commented on #22537
This question is something people constantly ask on Reddit and IRC, which indicates that this error message could be improved.

[2016-02-03 09:08] SimonSapin commented on #27750
@reem That’s what `impl<'a> std::io::Write for &'a mut [u8]` does, isn’t it?

[2016-02-03 09:10] reem commented on #27750
@SimonSapin yes, except it unnecessarily wraps it in an `io::Result`. (I used that impl in my example implementation of `mem::copy`)

[2016-02-03 09:14] briansmith commented on #27750
And it can't be used in `#![no_std]`.

People keep saying that this is the same as `Clone::clone_from`, but it's not, because the semantics around panicing are different from `Clone::clone_from`. That's why I avoided the name `clone_from` originally.

[2016-02-03 09:26] mingwandroid commented on #31293
From the `MSYS2 Wiki`:

http://sourceforge.net/p/msys2/wiki/MSYS2%20installation/

You've ran into a prime example of why this was written. One of the original motivations for creating MSYS2 was to provide (ok to improve `MSYS`'s) Unix build tools for Windows users. Some Unix tools aren't written to expect paths with spaces. `GNU make` in particular wasn't. A good reference for this is:

http://ww

[2016-02-03 09:32] ollie27 commented on #27809
Well it has a different signature so maybe that's enough difference.

Anyway it looks like the choice is between:
 1. Good semantics, bad name (`make_ascii_uppercase() / to_ascii_uppercsase_in_place() / uppercase_ascii()`)
 2. Bad semantics, good name (`into_ascii_uppercase()`)
 3. No method at all

Personally I think good semantics are more important than a good name. Also the other `String` mani

[2016-02-03 09:44] petrochenkov commented on #27809
+ to `&mut str` whatever the name is, avoiding it seems like some irrational fear.

[2016-02-03 09:47] dotdash commented on #31381
This looks like it's hitting the same problem as #28273, but applying a workaround for that still results in a pretty slow build, so there's probably more to this.

[2016-02-03 10:25] CodeMonkey90 opened #31383 "concat doesn't allow string constants as parameters"
Scenario: I've defined a description and a version constant:

[code]

Now I want to define a version string which I'll print when the -v argument is passed:

[code]

This currently does not work, which is not intuitive. I'd expect static constants to work just like string literals. If you want to concatenate string constants to form another string constant, you currently have to define a macro for

[2016-02-03 10:27] pnkfelix commented on #20148
I don't think RFC PR 1422 actually addresses this use case.  The question as I see it here is whether traits that appear in bounds/where-clauses should be required to have at least the same visibility as the item itself.  That RFC PR doesn't attempt to change those rules.

[2016-02-03 10:51] SimonSapin commented on #27809
Is it really? In every practical use I’ve seen consuming `self` works nicely while working on `&mut` requires introducing a temporary variable and have three statements instead of one expression.

[2016-02-03 11:11] retep998 commented on #31383
This is a fundamental limitation of macros in that they are working with nothing more than various tokens. They have no understanding of types, just tokens that look like types. When `concat!` sees `DESCRIPTION` it just sees an identifier, it has no idea that it is a string constant. What _could_ work here though is some sort of string concatenation const fn as that could take the _values_ of cons

[2016-02-03 11:25] ollie27 commented on #27809
Well it's really bad if you have a `&mut String` and of course useless if you have a `&mut str`. Why do other `String` and `Vec` mutation methods work in place rather than consuming `self`? What makes these methods different?

[2016-02-03 11:34] oli-obk commented on #31383
actually that would be pretty cool.. something like "intrinsic constant functions"

[2016-02-03 11:36] nagisa commented on #31343
What test crate is using is an implementation detail of (currently) internal component. I suppose test crate would start using the newly introduced stable functions once those become available.

I do not argue against including this sort of functionality into libstd, but to me it sounds like there should be more design process for this and the process in question happens with RFCs (e.g. one obviou

[2016-02-03 11:54] scurest opened #31384 "ICE when const-evaling a block that does not end with an expression"
Unreachable code is entered when trying to const-eval a block that doesn't have a terminating expression.

[code]

The relevant line is https://github.com/rust-lang/rust/blob/8c77ffb484ada2c8f10bf2da5bbe6a9f82f935bb/src/librustc/middle/const_eval.rs#L1124

[2016-02-03 12:00] dotdash commented on #31381
Seems that we lost some re-use for landing pads. The cleanup code grows quadratically with the number of calls that may unwind:

[code]

The last landing pad block has 514 drop calls, so that makes 132355 drop calls in total. No wonder this takes some time. (With a mitigation for the inlining assumption cache problem, I'm down to ~15minutes on my box though)

[2016-02-03 12:05] emoon commented on #31381
Thanks for looking into this :)

[2016-02-03 13:24] Landkeks commented on #31383
OK, I already suspected that.

So something like constexpr functions in C++? Sounds like a good idea.

[2016-02-03 15:13] jandem opened #31387 "rustdoc's search-index.js file is huge for large projects"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1245213#c3

We should fix SpiderMonkey / the profiler to be smarter, but 15.2 MB is a *lot* of JS to load on every page load. Looks like this file will also create a ton of JS objects/strings.

Can we load this file only when we're using the search bar? Maybe we can split it up somehow and load only the relevant parts? Or come up with a more efficie

[2016-02-03 16:26] alexcrichton commented on #31381
Oh dear, if we're not sharing cleanup code then it's likely my fault and connected to https://github.com/rust-lang/rust/pull/30448. @dotdash do you have a small sample that exhibits this? I wouldn't mind looking into it to see if I broke something!

[2016-02-03 16:36] emoon commented on #31381
@alexcrichton Are you sure about that? This happens on stable also.

[2016-02-03 16:41] alexcrichton commented on #31381
Aha, in that case it may not be a regression but a pre-existing bug, never mind!

[2016-02-03 16:49] dotdash commented on #31381
This is present since 2014 AFAICT. I'll likely have a patch ready this evening.

[2016-02-03 16:57] ubsan commented on #27750
@briansmith the issue is that the size of a slice isn't strongly typed. The only way to inform the user that you tried to clone one slice into another and it didn't work is to use panicking.

The issue that I see is that we are using a very substandard name for a fairly common operation, just because we already used that name elsewhere for a very, very uncommon operation. I don't think I've ever e

[2016-02-03 17:03] durka commented on #31369
I think I've said this in past discussions, but if we can't fix the real issue, a band-aid would be to at least output a `warning: ignoring cfg attribute` or `error: found cfg but it's too late` (I guess it would have to be a warning for compatibility).

[2016-02-03 17:21] nbaksalyar commented on #31363
Hm, that's interesting.
I stumbled upon the same issue with `str::from_utf8` segfault on Illumos, but I thought that the issue is related only to that platform.

@semarie, could you please try to check it with optimization turned off? You can do that by adding `CFG_DISABLE_OPTIMIZE` to your `config.mk`. It helped in my case.

Also, could you please provide an output from gdb's `disassemble` comman

[2016-02-03 17:38] oli-obk commented on #31384
That was me! I found no way to trigger this so I made it unreachable, but I forgot about const fn arguments. We don't have a way of creating a unit constant. Technically it would be an empty tuple, but our constant tuples are just an expression id, we can't create new ones in the const evaluator.

[2016-02-03 17:49] alexcrichton commented on #28628
This ended up all being implemented, so closing.

[2016-02-03 17:49] #28628 closed

[2016-02-03 17:53] alexcrichton commented on #21923
This has basically been done.

[2016-02-03 17:53] #21923 closed

[2016-02-03 17:54] semarie commented on #31363
@nbaksalyar here the `disassemble` (for a failure at `0x00000a4f69b44fd0`)
[code]

I will test to build with `CFG_DISABLE_OPTIMIZE`. Thanks for the possible workaround.

[2016-02-03 17:55] alexcrichton commented on #14791
We've turned off all nopt-c builds, so closing.

[2016-02-03 17:55] #14791 closed

[2016-02-03 18:02] nbaksalyar commented on #31363
@semarie, thanks! Looks like it's the same problem - `lea` nullifies a part of the `%esi` register, so the segfault is a natural consequence.
Perhaps this issue is present on other BSDs as well, so it's worth to try finding the root cause.
I'll try bisect builds with and without that PR I linked.

[2016-02-03 18:08] reem commented on #27750
@ubsan @briansmith It's not true that we can only panic! We can return a value indicating the number of bytes/entries copied, which would be much nicer for the user.

[2016-02-03 18:28] forticulous commented on #31268
It looks like the general pattern is that only traits are a part of the io prelude.  So in that way it would be counter to the pattern to add an enum like SeekFrom.

[2016-02-03 18:28] #31268 closed

[2016-02-03 18:49] briansmith commented on #27750
Either way, it doesn't match `Clone::clone_from`.

[2016-02-03 18:52] briansmith commented on #27750
The fact that these discussions go on forever is what is killing the usability of these things, not an extra 6 characters to type. Somebody just needs to make decisions so they can ship.

[2016-02-03 18:53] semarie commented on #31363
Due to backtrace I have take a look at `run_utf8_validation` too. I also tried to fuzzing it (copying all related code in `test.rs` file and looping on random values), but without success to expose bad behaviour.

Another possible cause is the update of LLVM (#30448) that touched to unwinding (the backtrace has part with `sys_commun::unwind`)

@alexcrichton does this problem say something to you ?

[2016-02-03 19:26] #30858 closed

[2016-02-03 19:26] #30862 closed

[2016-02-03 19:26] alexcrichton commented on #31363
In theory that PR shouldn't have tampered with unwinding for Unix platforms at all (it should be the same as it was before), but the segfault does sound... bad?

[2016-02-03 20:11] froydnj opened #31393 "android standard libraries built in an incompatible way for use with stable rust builds"
In https://bugzilla.mozilla.org/show_bug.cgi?id=1220307, I attempted to use a custom-built Rust (hosted on x86-64 Linux, if that makes a difference), built from the 1.6.0 stable branch, with the ARM Android standard libraries available from static.rust-lang.org.  I received [an error message](https://bugzilla.mozilla.org/show_bug.cgi?id=1220307#c9) about incompatible versions.  But AFAICT, the And

[2016-02-03 20:35] Jexell commented on #31293
@mingwandroid Thanks, that solved the problem.
@vlsh Does this solve it for you as well? If it does I'll close this (non)issue.

[2016-02-03 20:49] nikomatsakis commented on #12731
On Tue, Feb 02, 2016 at 10:27:23AM -0800, Steve Klabnik wrote:

Nah, MIR makes this irrelevant.

[2016-02-03 20:51] nikomatsakis commented on #31234
@eddyb

But there ought to be one, right? The second call requires an autoref (it is an `&self` method defined on a `&[T]`) -- this creates a temporary (which contains an `&'static` value).

[2016-02-03 20:51] nikomatsakis commented on #16847
On Tue, Feb 02, 2016 at 10:40:33AM -0800, Steve Klabnik wrote:

Yes.

[2016-02-03 20:53] nikomatsakis commented on #20148
@pnkfelix

It depends on the specific situation I suppose. I was assuming (perhaps incorrectly) that the intention was for the function not to be fully public, but public within some subtree.

[2016-02-03 21:09] alexcrichton commented on #31393
I believe this is because the custom-built Rust probably didn't say `--channel=stable`, so the version is subtly different than the stable branch (e.g. `rust 1.6.0 <hash>` vs `rust 1.6.0-nightly <hash>`)

cc @arielb1, the [currently checked string](https://github.com/rust-lang/rust/blob/8fc73c703ab175577346773ad93de3aa2c3f44a2/src/librustc_metadata/creader.rs#L260) originates from [`CFG_VERSION`](

[2016-02-03 21:21] eddyb commented on #31234
@nikomatsakis There should be, but there isn't. That's the bug.

[2016-02-03 21:25] nikomatsakis commented on #20423
I think we can close this in favor of rust-lang/rfcs#1447. In any case, I've come to think that this particular change is not the right approach -- we ought to be making rules that are not based on the results of region inference in any way, since those are so unpredictable.

[2016-02-03 21:25] #20423 closed

[2016-02-03 21:27] nikomatsakis commented on #16502
I guess this is odd. Seems like something we could address in MIR land.

[2016-02-03 21:27] nikomatsakis commented on #16502
I wonder though -- it'd be a breaking change, e.g. if `p` had a destructor.

[2016-02-03 21:32] nikomatsakis commented on #31337
@jseyfried sorry, I'm maybe a bit confused. I thought we DID forbid shadowing now? Are we just inconsistent about it?

[2016-02-03 21:32] nikomatsakis commented on #31337
On Tue, Feb 02, 2016 at 08:22:44PM -0800, Peter Atashian wrote:

I think everyone agrees this is the semantics we eventually want.

[2016-02-03 21:33] nikomatsakis commented on #31379
cc @rust-lang/lang

[2016-02-03 21:33] nikomatsakis commented on #31379
Nominating for discussion at meeting. Clearly we should be *consistent*. I'm inclined to think that they should not be available, ever.

[2016-02-03 21:38] mahkoh opened #31395 "extracting dependencies"
The following two features are missing from the compiler:

1. Extracting file dependencies
2. Extracting crate dependencies

The first one can be done but only by performing a whole compilation which is very slow. The second one cannot be done at all afaict.

Ideally  both things should be emitted immediately after the parsing.

[2016-02-03 22:15] ubsan commented on #27750
@briansmith This is also a rarely used function. The issue is that it's going to impact a very useful function a lot, because we're either going to have a very substandard name `copy_from_slice`, or an inconsistent API. Personally, I would rather have a consistent API across everything, and call it `clone_from`.

[2016-02-03 23:13] briansmith commented on #27750
Honestly, I don't care that much. I've noticed, though, that even after these months of discussions, we don't have even a concrete plan for a safe `copy_nonoverlapping`, which is what my goal was. So, whatever makes that happen, with whatever name, is fine by me.

[2016-02-03 23:18] bluss commented on #27750
@briansmith rust-lang/rfcs/pull/1419 is that plan. Sure, it's not completely in safe harbour yet, but it's pretty likely to get there.

[2016-02-03 23:38] dirk commented on #31300
@Kingsquee: Glad to help. :smile:

In regards to the original issue: is predictable auto-assignment of descriminants for enums a feature that should be introduced into the language?

@steveklabnik: Would there be a better place to start/revive this discussion than in this issue?

[2016-02-03 23:46] dirk commented on #31379
I'm of the same thoughts as @nikomatsakis. A new "thing" with the same name as another outer "thing" should not inherit/infer/have/etc. any part of that outer thing. This is the case with [variable bindings](http://rustbyexample.com/variable_bindings/scope.html), but—according to the presented opinion—it seems like it needs to be made consistent for trait bindings, right?

[2016-02-03 23:48] dirk commented on #31387
I'll take a look at the layout of the index file tonight. :smile: My hunch is that a more efficient format for it could largely alleviate this problem.

[2016-02-04 00:10] bluss commented on #31379
Is there a reason to shadow traits by name? What happens here is that it must find a method named `.into_iter()` among the imported traits, and that name has not been shadowed in any way, so it should be callable.

[2016-02-04 00:13] nikomatsakis commented on #31379
@bluss

Well, that's the question, isn't it. Imagine then that `trait T` *did* have an `into_iter` method -- would you prefer an ambiguity error here, or success?

[2016-02-04 00:22] alexcrichton opened #31398 "Tracking issue for CommandExt::before_exec"
Open questions:
- The requirements for `Send` + `Sync` on the closure need to be documented and are "somewhat odd"
- It's somewhat surprising to have to deal with a list of callbacks to invoke, especially when order might matter quite a bit.
- There are weird semantics with using `Stdio::piped()` for any of the stdio handles because they'll immediately close the other half of the pipe (via CLOEXEC

[2016-02-04 00:22] bluss commented on #31379
Ambiguity error if `T` was implemented for `Option<i32>` in the example (and this is already implemented). Otherwise it doesn't interfere in any way.

[2016-02-04 00:25] alexcrichton commented on #27750
The libs team discussed this is again during triage today, and the conclusion was to stick with the name `clone_from_slice`. The worries about conflicting with `Clone::clone_from` existed and @sfackler also raised a point about calling this method on a `Vec<T>` for example. Disambiguating between `<Vec<T> as Clone>::clone_from` would be pretty difficult from `<[T]>::clone_from` which is inherited

[2016-02-04 00:32] bluss commented on #29130
@briansmith rlibc is intended to be able to supply the implementations that llvm refers to in its loop recognition, memcpy (and others) insertion, etc. No reason to remove that optimization if it points to the pure rust code you wanted.

It sounds like a cool project in the long term, but you should look into how huge the code bases for providing micro-architecture specific implementations to thes

[2016-02-04 00:35] alexcrichton opened #31399 "Tracking issue for SystemTime accessors from fs::Metadata"
This is a tracking issue for three functions added in https://github.com/rust-lang/rust/pull/30865:

* `Metadata::modified`
* `Metadata::accessed`
* `Metadata::created`

[2016-02-04 00:36] Aatch commented on #31299
@nikomatsakis so to be clear, the error message is wrong here, the problem is that we have "`T` meets `Sized` if `T` meets `Sized`" being reported as "`T` has infinite size". Makes sense given that in the absence of projection the only way that recursion could happen is if `T` contained `T` without indirection. Just want to make sure there's a version of this problem written in language understand

[2016-02-04 00:38] alexcrichton commented on #31399
One known FIXME is that resolution of the timestamp is lost on OSX as we convert a `timespec` to a `timeval`, converting nanoseconds to microseconds. This probably wants to be fixed at the `SystemTime` layer which currently uses a `timeval` representation due to its usage in `gettimeofday`.

[2016-02-04 00:39] #21000 closed

[2016-02-04 00:44] Aatch commented on #31383
@oli-obk intrinsic const fns could actually happen. There's a few good candidates, `size_of` being one. Some sort of intrinsic string-concatenation function should be possible, though a bit trickier since you do actually have to store the data somewhere in order to return a reference to it.

[2016-02-04 00:44] nikomatsakis commented on #31299
@Aatch I agree the message is wrong, I didn't consider this case when phrasing it -- but I think ideally we wouldn't be reporting an error here *at all*. I guess the question is if there is a way to achieve that.

[2016-02-04 01:28] jseyfried commented on #31337
@nikomatsakis We have been allowing local items to shadow glob-imported re-exports for a long time.
I am using "glob-imported re-export" to mean an item that was glob-imported from a module that itself imported the item, as in the example.

Before #30843, the shadowed glob-imported re-export was visible to users of the crate and the local item was not, so that from the perspective of users of the

[2016-02-04 01:36] nikomatsakis commented on #31337
I see. I got confused. That does affect my opinion -- it's clear that
prohibiting the shadowing would be fixing a bug, but I also agree that
causing breakage to enforce a rule we don't like seems excessive.

On Wed, Feb 3, 2016 at 8:29 PM, Jeffrey Seyfried <notifications@github.com>
wrote:

[2016-02-04 02:40] #30349 closed

[2016-02-04 04:55] thepowersgang commented on #21645
Duplicate of #28735, and fixed in 17419622712af44311aa7a8730e4535dff3554f5. Closing

[2016-02-04 04:55] #21645 closed

[2016-02-04 05:12] frewsxcv commented on #31203
I took a stab at this: #31401

[2016-02-04 05:37] dirk commented on #31387
After some digging, it seems like there are two quick gains to be made:

#### Shortening the keys in function types

Right now function types get an object in the index similar to the following:

[code]

This JSON is meant to be read by a machine, not a human. It seems to me that continuing to use these English identifiers in the machine format doesn't really get us anything. Instead, how about we

[2016-02-04 06:54] ubsan commented on #27750
@alexcrichton okay, I can see the argument there.

[2016-02-04 07:34] skade commented on #31150
I see this issue when using rustc > 1.6.0 (master) with the rust toolchain for rumpkernel/rumprun-packages.

[2016-02-04 07:52] semarie commented on #31363
I have done several tests (but I will continue in this direction to ensure) around the LLVM update:
  - building rustc (based on ef1a13b) with the 3 commits reverted
  - building rustc (based on 54664f1) with explicit `--llvm-root` pointing to previous LLVM version (src/llvm submodule cde1ed3196ba9b39bcf028e06e08a8722113a5cb).

In all cases I don't expose the core dump issue again. I will continue

[2016-02-04 07:53] jseyfried opened #31402 "Resolve reports arbitrarily many identical copies of an error message"
The following example reports `error: bar is private, and cannot be reexported [E0364]` four times.

[code]
If the glob import is commented out, it only prints the error once.

[2016-02-04 08:14] jseyfried opened #31403 "Resolve leaves import resolutions in an inconsistent state"
For example,
[code]

[2016-02-04 08:19] jseyfried opened #31404 "An import that should be resolvable is left unresolved."
Example:
[code]
This compiles if `foo` is copied into `baz` instead of being imported with `pub use foo;`.

[2016-02-04 08:19] mitaa commented on #31300
This issue is tracked here #23898 (this is iow a duplicate)

[2016-02-04 08:50] Kingsquee commented on #31300
@mitaa Thanks, I'll close this issue then.

[2016-02-04 08:50] #31300 closed

[2016-02-04 09:19] #31267 closed

[2016-02-04 09:42] sfackler opened #31405 "Tracking issue for file_try_clone"

[2016-02-04 10:23] ranma42 commented on #31387
I think the format is currently documented [here](https://github.com/rust-lang/rust/blob/master/src/librustdoc/html/static/main.js#L681)

It should be possible to completely get rid of the identifiers.

Some kind of delta compression is already employed on paths (a `""` path means the previous path).
Additional savings in the file size (mostly for the parser, as hopefully the file is sent compress

[2016-02-04 10:49] arielb1 commented on #31299
auto trait = OIBIT right?

What's the difference between that and what we have today? That auto traits are coinductive?

If we forbid coinductive traits from having supertraits and associated types/constants we should be fine, as they can only be inputs of trait selection and not outputs.

[2016-02-04 11:06] SethDusek opened #31406 "std::process Cgroups?"
Could it be possible to have cgroup support for std::process? Like a linux-specific trait so that you can limit certain things of processes for example:

[code]

It'd be really useful in certain stuff such as timeouts and memory limits, etc

[2016-02-04 11:50] arielb1 commented on #31395
What are file dependencies? rustc compilation is crate-as-a-unit.

This should also be an RFC rather than an issue - the design is not obvious.

[2016-02-04 11:50] #31395 closed

[2016-02-04 12:13] arielb1 commented on #16502
Of course, the root cause here is that `StmtSemi` evaluates its expression to an rvalue and then drops it immediately, while `match` evaluates its expression to some odd mix of lvalue and rvalue.

Having `StmtSemi` evaluate its expression to an lvalue would e.g. mean that
[code]
drops its argument at the end of the block rather than immediately, which would be a nontrivial breaking change.

[2016-02-04 12:24] mahkoh commented on #31395
Since you're obviously unaware of the compiler option that allows you to extract file dependencies, you are in no way qualified to decide whether the design is clear.

But I should have realized that such a trivial thing needs a detailed RFC and several months of deliberation. Luckily I've also realized now that I can simply implement this myself in the lrsc driver with little effort, giving lrsc

[2016-02-04 12:32] semarie commented on #30907
I have some problem under OpenBSD when building with `--disable-optimize`: `file not recognized: File format not recognized`

[2016-02-04 12:33] oli-obk commented on #18760
simplified version:

[code]

This occurs because the check re-uses the type inference/relation code for creating the error message, but the type inference/relation code does not use sub-spans for checking inner types and thus doesn't/can't attach spans to the error object.

[2016-02-04 13:11] arielb1 commented on #31395
make-style depinfo can already be done through
[code]

[2016-02-04 13:29] pnkfelix commented on #31395
@mahkoh The language of this comment

is presumptuous and condescending. It is a violation of the third bullet of the CoC: https://www.rust-lang.org/conduct.html

(The comment also was demonstrated as false by arielb1's reply, but that is outside the domain of the CoC.)

I'm pretty sure you are already aware that it was a violation of the CoC, but I am nonetheless replying here so that other peopl

[2016-02-04 13:38] pnkfelix commented on #16502
cc me

[2016-02-04 13:45] mahkoh commented on #31395
Let's see

1. Don't know something
2. Get called out
3. Learn it
4. Look, I knew it from the start

Huh.

[2016-02-04 13:46] hanna-kruppe opened #31407 "Float parsing can fail on valid float literals"
That is, it returns `Err(..)` on inputs with lots of digits and extreme exponents &mdash; it doesn't (shouldn't) panic.

This is a limitation of the current code that has been known since that code was originally written, but is quite nontrivial to fix, so I didn't get around to it yet. Basically one would have to implement an algorithm similar to [glib's strtod](http://www.exploringbinary.com/how

[2016-02-04 14:13] pnkfelix commented on #31407
cc me

[2016-02-04 14:17] semarie commented on #31363
I have done against several builds with the previous `src/llvm` submodule (3564439), and I don't get any problem. My builds passes the testsuite too.

Some codegen comparaison:
- build with older LLVM : `stage1/lib/rustlib/x86_64-unknown-openbsd/lib/libstd-db5a760f.so`
  (this file was build using stage1/bin/rustc so using the old LLVM libraries)

[code]

- build with newer LLVM : `stage1/lib/rust

[2016-02-04 14:27] arielb1 commented on #31395
Indeed I was not aware of `--emit=dep-info` (and @mahkoh might not have been aware of `-Z no-analysis`). OTOH I am quite sure that adding crate dependencies to `rustc` requires user-visible design work, and therefore a (small - this is not going to be impl specialization) RFC.

[2016-02-04 14:34] steveklabnik commented on #31395
Yes, learning can happen without being condescending. Being right or wrong about @arielb1 knowing about this flag is completely irrelevant here, as @pnkfelix said.

[2016-02-04 14:42] pnkfelix commented on #31395
* Was the original statement ("your lack of knowledge of detail A implies you are not qualified to discuss broader topic B") shown to be false by @arielb1 's reply?

 * In my opinion it was; but really it was a distraction for me to have even mentioned it in that parenthetical, since it invites this sort of quibbling that distracts from the larger issue.

 * I thank @steveklabnik for pointing that

[2016-02-04 14:42] mahkoh commented on #31395
I was not and it does indeed somewhat solve the first point. However, even with `-Z no-analysis` the whole process still takes somewhat long mostly due to macro expansion. It's not clear if this can be avoided. However, it does not solve the much more pressing second point.

There is already a process for unstable compiler options, namely the `-Z unstable-options` switch.

@pnkfelix tried to call

[2016-02-04 14:50] arielb1 commented on #31395
The process for new features is:
1) an RFC is written
2) the RFC is accepted
3) an implementation is written under a feature flag
4) the feature is stabilized, removing the feature flag

If you provide a clear enough description of the feature you want, I have no problem writing the RFC for you.

[2016-02-04 14:52] arielb1 commented on #31395
I was just trying to help you - the rust-lang/rust issue tracker is not the best place for vague feature requests (or feature requests at all).

[2016-02-04 15:01] Manishearth commented on #31395
No, whether or not @arielb1 knew the feature is irrelevant. Ariel mentioned that the issue was unclear (it still is unclear) and closed it for being on the wrong repo. You responded with a very presumptuous and condescending comment. Whether or not your presumption was correct is irrelevant; the rust community does not allow such hostile discourse.

[2016-02-04 15:15] mahkoh commented on #31395
But it does allow people like you to repeatedly derail threads.

[2016-02-04 15:23] arielb1 commented on #31407
can't we just have a slowpath that uses 3072-bit bignums or something?

I mean, for numbers with a very long number of digits, we could:
* find one of the (2, or 1 if exactly equal) halfway-floating-point-numbers closest to our string. This can be done by truncating the number to 20 or so digits, converting *that* to a float, and taking the halfway-point above that.
* compare our string with that

[2016-02-04 15:26] semarie commented on #31363
Building `libcore-db5a760f.rlib` with `-C save-temps`.
- from `core-db5a760f.s`:
[code]

and the corresponding object code generated:
[code]

I have tried to build `libcore.rlib` using `-C no-integrated-as` in order to check the internal linker, but it failed with:
[code]

[2016-02-04 15:59] petevine commented on #29867
https://github.com/hannobraun/inotify-rs/pull/33

[2016-02-04 16:51] durka opened #31408 "bogus "unimplemented constant expression" warning"
`usize::max_value() / 2`, even in a non-const context, triggers "unimplemented constant expression: calling non-local const fn".

cc @oli-obk

[2016-02-04 17:00] alexcrichton commented on #31406
Thanks for the report! A feature request to add support for cgroups (e.g. a platform-specific extension) currently belongs over in the rust-lang/rfcs repo, but you may also be interested in the recently-approved [`CommandExt::before_exec`](https://github.com/rust-lang/rfcs/pull/1359) function which should allow this as well (e.g. arbitrary code execution following just before an `exec`.

If the `b

[2016-02-04 17:00] #31406 closed

[2016-02-04 17:32] oli-obk commented on #31408
already fixed in nightly: http://is.gd/wUeNMG

[2016-02-04 17:34] #31408 closed

[2016-02-04 17:50] arielb1 commented on #31395
He's on the moderation team. I would prefer for the moderation team to stay out of this discussion.

[2016-02-04 17:51] arielb1 commented on #30685
Right, more like a design issue.

[2016-02-04 17:51] #30685 closed

[2016-02-04 18:09] AtheMathmo commented on #30685
@arielb1 Actually can I just check one more thing. If we remove the `'a` lifetime from the Model then the code compiles. See [here](https://gist.github.com/7704b971810faada8e6e). From what you said above this should still cause a cast which cannot be resolved?

[2016-02-04 18:15] dirk commented on #31398
I'm planning on giving this a shot this evening. :smile:

[2016-02-04 18:21] dirk commented on #31387
@ranma42: That documentation is helpful, but it could be improved. Also the documentation for how something is rendered should be *where* it is rendered, not where it is consumed. :wink:

To which identifiers are you referring?

A cursory review of some generating `search-index.js`'es makes me think the benefits for this wouldn't be that great compared to some of the simpler optimizations that cou

[2016-02-04 18:25] alexcrichton commented on #31398
@dirk oh sorry I should have mentioned that I'm working on implementing this. There's actually a good deal of refactoring I'd like to do at the same time, and I'm already halfway through it so far!

[2016-02-04 18:28] dirk commented on #31398
@alexcrichton: Oh, no worries! Thanks for replying so quickly.

[2016-02-04 18:46] steveklabnik commented on #14109
/cc @rust-lang/lang is this something we want to accept?

[2016-02-04 18:48] steveklabnik commented on #21921
Triage: this is still a fairly common thing that new people come across, and leads to a lot of questions. I'm generally against adding more lints, but this one might make sense, maybe.

[2016-02-04 18:52] pnkfelix commented on #14109
one reason to hypothetically accept it: this form is sometimes produced by the pretty printer,  I believe. :)

[2016-02-04 19:11] ranma42 commented on #31387
I tried to evaluate the effect of the simpler changes (on the search index generated for the rust repo)

Size | Change
---|---
1131406 | Original
981061 | Drop "name" keys `{"inputs":["producer","consumer"],"output":"option"}`
847959 | Drop all keys, use array of inputs,output types `["producer","consumer","option"]`
778439 | Also reorder fields and omit them when "default" (null/last path/...)

[2016-02-04 19:30] ranma42 commented on #31387
I was referring to `"inputs"`, `"output"`, and `"name"`. In the search index there are also "items" and "paths", but they each of them appears once per crate, so removing them is unlikely to provide significant improvements except in very degenerate indices (many crates with few elements each?).

[2016-02-04 19:33] murarth commented on #24047
I've also run into this issue, using `Rc<Trait>` in an enum variant and `impl PartialEq for Trait`. I've employed a workaround: defining `struct RcTrait(Rc<Trait>)` with a non-derived `PartialEq` implementation. `RcTrait` can then be inserted into `derive(PartialEq)` structs or enums without triggering this issue.

[2016-02-04 19:36] dirk commented on #31387
@ranma42: Gotcha. Dropping/shortening those keys definitely seems worth doing! :smile:

To be honest, 15 megabytes (see the issue description) isn't **that** much data. So I think we should also focus on improving the actual search JavaScript that runs on the front-end. I did a cursory review of that and it seems like there are some improvements to be made. Will take a stab at that tonight (and of

[2016-02-04 19:46] rkruppe commented on #31407
@arielb1 How would you actually implement the second step? Keep in mind that this is in libcore, so we can't use float formatting because that would allocate. (*Maybe* you could use the underlying functions that are also in libcore, but this probably complicates everything significantly. However I have to admit that I don't even know what the interface of those functions looks like, so maybe it's

[2016-02-04 20:27] mbrubeck commented on #27604
I think this is a duplicate of #24770.

[2016-02-04 20:27] #27604 closed

[2016-02-04 20:41] nrc commented on #14109
To be clear, this is not accepted solely because of the whitespace? If so, then I think we should fix this - having the parser rely on whitespace seems very bad (unless there is good reason, or for error recovery heuristics, etc.).

[2016-02-04 20:51] durka commented on #31085
See #31414.

[2016-02-04 20:56] arielb1 commented on #31407
I actually read the paper, and its Algorithm R is a variant of what I've came up with. I guess we just need to enlarge our bignums to sufficiently-many bits and use sticky bits+rounding (we don't really need 1075 digits = 3571 bits because we can skip the powers-of-2).

[2016-02-04 21:08] nikomatsakis commented on #31299
triage: P-high

[2016-02-04 21:10] nikomatsakis commented on #31299
It's not clear what the best fix here is. One option is to change how we process the `Sized` trait to make it coinductive -- this *may* cause an issue with adding an associated constant `Size`, but maybe not. At minimum we ought to improve the error message. But we should make some decisions, given that this is a regression, hence the P-high categorization.

[2016-02-04 21:10] alexcrichton commented on #14109
@nrc I believe so, yes. For example this compiles (whereas the example in the issue does not)

[code]

[2016-02-04 21:11] nikomatsakis commented on #28809
triage: P-medium

[2016-02-04 21:15] nikomatsakis commented on #30669
What precisely should be backported here? I cant' figure out through all the comments :)

[2016-02-04 21:16] nikomatsakis commented on #30669
Seems like #30708 has been backported?

[2016-02-04 21:18] nikomatsakis commented on #30669
(In https://github.com/rust-lang/rust/issues/30853.)

So I think we can close?

[2016-02-04 21:20] GuillaumeGomez commented on #30669
@nikomatsakis: I think as well. The purpose here was to fix the regression, which is done. Unless @brson has another reason?

[2016-02-04 22:20] tari commented on #31367
I'm seeing this issue as well, with JSON targets for x86_64 that use a datalayout copied from rustc's x86_64-unknown-linux-gnu target. The LLVM assert does not trigger on the same code when using the built-in linux target.

Trying some nightlies, I still see this crash with the build from January 30 (303892ee1). Testing further back will require downgrading the copy of libcore I'm building.

[2016-02-04 22:47] dotdash commented on #29485
Time for some new numbers. This time only removing the `noalias` attribute from mutable borrows as suggested by @RalfJung. I've been slightly sceptical about that the return value ones being ok to be marked as `noalias`, but that was because I thought of them as an out-parameter (like in the LLVM IR) instead of the return values they are in the rust code. The problematic cases don't arise with ret

[2016-02-04 22:55] #30756 closed

[2016-02-04 23:41] dragostis opened #31419 "Can't link static library in /usr/local/lib"
I'm trying to build a library with a `#[link]`ed static library which lies in `/usr/local/lib`, but `rustc` can't seem to find it. I haven't been able to find the default paths that it looks through.

The command is this:
[code]

The error is this:
[code]

[2016-02-05 00:04] dirk commented on #31402
I believe this is because we're generating an error **every time** we encounter this invalid reexport, and in your example that is happening 4 times (once in self, once in `a`, once in `b`, and once in `c`) because we resolve all the imports and exports for the modules (self, `a`, `b`, and `c`). If we reported something like a backtrace for each of these failures it would show that it was happenin

[2016-02-05 00:09] dragostis commented on #31419
If I like it dynamically by not providing any `kind`, it seems to use `ld` instead of `rustc` to link it which is working.

[2016-02-05 00:41] DemonOne commented on #29839
Still fails on my machine with Rust 1.6

[2016-02-05 01:00] #31203 closed

[2016-02-05 03:14] Gankro commented on #29485
Thanks for persevering, @dotdash!

[2016-02-05 03:18] retep998 commented on #29839
@DemonOne That's because due to the train release system, the fixes aren't in Rust 1.6. The jemalloc upgrade will be in Rust 1.7 and the disabling of jemalloc on Windows will be in Rust 1.8.

[2016-02-05 05:26] brson opened #31422 "rustc suggests a trait from a crate that hasn't been `extern use`d."
I copy-pasted some code into a test case and get this error resolving `join`. It says `itertools::Itertools` is a candidate, but I haven't written `extern crate itertools`. This error suggests that `use itertools::Itertools` will work, but it will not.

This was the error:

[code]

[2016-02-05 05:35] makoConstruct opened #31423 "Parser inconsistency in for loop iter expression place"
http://is.gd/4PtH5V

[2016-02-05 05:41] dhuseby commented on #31363
BTW, I tried building the latest with the MALLOC_OPTIONS=S and I'm still getting segfaults.

[2016-02-05 06:17] dhuseby commented on #30907
@semarie I wonder how many of the bsd platforms suffer from this?  seems like a compiler bug to me.

[2016-02-05 06:25] huonw commented on #31423
This is by design; the `for _ A { i: 3 }.iter() {` version is parsing the `A` (by itself) as the iterator, with the following `{` the start of the body of the loop. This is important to allow things like

[code]

without requiring disambiguating parens: `for _ in (iter) { ... }`. We chose this arrangement because we felt that `for _ in identifier { ... }` and `if identifer { ... }` (etc.) were mor

[2016-02-05 06:25] #31423 closed

[2016-02-05 06:47] durka commented on #31422
Spooky. rustc didn't learn to browse crates.io on its own, did it? It sure [seems like](https://github.com/Diggsey/multirust-rs/blob/master/rust-install/src/lib.rs#L7) you do have `extern crate itertools`...

[2016-02-05 06:48] retep998 commented on #31419
`kind=static` means that `rustc` is responsible for finding the library and bundling it in, which means it _completely_ ignores the standard paths where the linker would look for libraries. I really ought to write an RFC to add a `kind` for non-bundled static libraries.

[2016-02-05 07:21] retep998 commented on #31419
And I wrote an RFC. https://github.com/rust-lang/rfcs/pull/1489

[2016-02-05 07:31] Havvy opened #31424 "Error message suggests illegal syntax for method receiver"
[code]

Output:

[code]

[2016-02-05 07:33] durka commented on #31424
The argument `self` is of type `&mut Self` but it is, itself, immutable. You can't redefine `self` to point at somebody else. The rest of the message is nonsensical because it fails to realize that `self` is the specialest of special cases in terms of method signature parsing.

[2016-02-05 08:54] #31354 closed

[2016-02-05 09:14] tomaka opened #31426 "Tuples with multiple unsized types shouldn't be valid"
This code should trigger a compilation error because `[u8]` isn't sized:

[code]

Instead it triggers an LLVM assertion error:

[code]

([playpen](http://is.gd/6SgqDh))

[2016-02-05 09:34] jseyfried commented on #31404
This is a related example that is more realistic and also doesn't doesn't resolve:
[code]

[2016-02-05 10:19] reem commented on #27746
As just noted in #30834:

I've discovered a safety hole in `MutexGuard::map` - it is not safe in combination with `Condvar`, since the "inner" borrow can be invalidated by another thread taking the lock during a `Condvar::wait` see: http://is.gd/RM038X.

This is not a problem with the `RwLock` guard methods, since the `RwLock` guards cannot be used with a `Condvar`.

It would be possible to provid

[2016-02-05 10:29] Ms2ger commented on #27809
There's also the case of stack-allocated buffers to consider, especially in libraries that don't want to allocate at all.

[2016-02-05 10:34] tomaka commented on #31426
I had a debate on IRC whether or not tuples with multiple unsized types shoud be allowed at all.
For the moment they work as long as you don't use instantiate them (they can be useful for metaprogramming purposes). But it's ambiguous whether they are supposed to work.

[2016-02-05 10:54] nox commented on #27809
@ollie27 If you have `&mut String` you can always make a little dance with `mem::replace` and call the self-consuming function.

[2016-02-05 10:57] dragostis commented on #31419
The question is, is there a way to link an external library statically so I can have a portable executable?

[2016-02-05 11:24] huonw commented on #31426
Related to https://github.com/rust-lang/rust/issues/30276.

[2016-02-05 12:37] pnkfelix commented on #30438
Unfortunately it seems like we didn't have nightly builds from 2015-12-15 through 2015-12-18.

I can confirm that this was broken in rust nightly-2015-12-14 and is rejected (correctly) by rust nightly-2015-12-19.

I'll do a quick bisect just to double check what fixed it.

[2016-02-05 13:04] arielb1 commented on #30685
We intentionally blocked it on beta/stable.

[2016-02-05 14:14] WiSaGaN opened #31431 "Duplicate entries in trait std::clone::Clone implementors"
In [std::clone::Clone](http://doc.rust-lang.org/nightly/std/clone/trait.Clone.html),
we see there are duplicate entries,
`impl<T> Clone for Box<T> where T: Clone`
`impl<T: Clone> Clone for Box<T>`
`impl<T> Clone for Box<T> where T: Clone`
@bluss suggested

Not sure if this is related to #26384, but it's still in nightly doc.

[2016-02-05 14:34] pnkfelix commented on #30438
Bisection reveals that the fix was due to PR #30341.

While there is a test attached to PR #30341, to me the test there (which is a reduction of the code from #29793) seems different enough from the code here that I'm going to make an independent regression test for the code given here.

[2016-02-05 14:50] pnkfelix commented on #30438
Hmm.  While writing the test and then "simplifying" it, I actually found a related program that continues to segfault:

http://is.gd/TpRMsz

[code]

[2016-02-05 14:52] pnkfelix commented on #30438
(apparently the switch from explicit `return &Test { s: &self.s };` to implicit return of `&Test {s: &self.s }` in the body of `fn method` is what is causing the regression to sneak in again.  I'll investigate.)

[2016-02-05 15:05] #31381 closed

[2016-02-05 15:33] bluss commented on #24047
Using that trait `Foo` from @withoutboats' code, it seems like you run into this:

[code]

I don't see why the second should fail to compile. The `==` operator usually autorefs its two operands.

[Full code / playpen](https://play.rust-lang.org/?gist=e5d42cbb6f8662c1a08a&version=nightly)

[2016-02-05 15:36] bluss commented on #24047
The code in the initial post however will never compile, so maybe edit that to clarify.

[2016-02-05 15:41] pnkfelix commented on #30438
(but then ... on a local build of master my revision of the test again fails to compile ... what is going on here...)

[2016-02-05 17:20] saurvs opened #31432 "rustc man page shows no link to rust-lang.org on OS X"
![screen shot 2016-02-05 at 10 43 33 pm](https://cloud.githubusercontent.com/assets/12742708/12853422/013461ce-cc5a-11e5-98da-80b7773347ee.png)

On OS X 11.1, the ```rustc``` man page doesn't display the link to https://www.rust-lang.org in the ```DESCRIPTION``` section.

[2016-02-05 17:37] alexcrichton commented on #27746
With `MutexGuard::map` being removed in #31428, we may wish to *also* remove the `RwLock*Guard::map` functions even though they're not used with `CondVar` at this time. Windows actually has the ability to wait on condvars with rwlocks via [`SleepConditionVariableSRW`](https://msdn.microsoft.com/en-us/library/windows/desktop/ms686304%28v=vs.85%29.aspx), which we also use internally. That seems like

[2016-02-05 17:41] aturon commented on #27746
@alexcrichton Certainly we shouldn't stabilize them, and I tend to agree that we should probably remove them and do this in a more considered way.

[2016-02-05 18:53] durka commented on #31432
Seems like the `.UR` request for formatting a URL isn't supported by whatever OSX uses to display man pages, whereas it works on Linux.

[code]

None of these links show up. (As a side note, multirust doesn't hook up the right stuff for `man rustc` to work.)

[2016-02-05 18:58] alexcrichton commented on #31419
Ah yes this happens because the lookup paths for the compiler aren't initialized to have system directories (as they vary *widely* between systems). To get rustc to pick it up you'll want to pass `-L native=/usr/lib` (or wherever else it is).

This is intended behavior, however, so I'm going to close this. Thanks for the report @dragostis!

[2016-02-05 18:58] #31419 closed

[2016-02-05 19:02] nikomatsakis opened #31434 "Restrict use of constants in patterns (RFC 1445)"
Tracking issue for rust-lang/rfcs#1445.

Implementation steps:

- [ ] disable pattern expansion for user-defined types unless tagged with `#[structural_match]`
- [ ] disable pattern matching for floating point constants
- [ ] have `#[derive(Eq)]` add `#[structural_match]` attribute
- [ ] exhaustiveness, dead-code integration

[2016-02-05 19:02] whataloadofwhat commented on #27746
If you decide to keep these functions (or at least the one on RwLock I guess), the lifetimes should be removed from the closure like in `Ref::map`, or at least not made the same as the underlying container. By using the same lifetime as the container, the reference can escape from the closure. See: https://github.com/rust-lang/rust/pull/25747#issuecomment-105175235

http://is.gd/vUbM4D (the exampl

[2016-02-05 19:12] durka commented on #31434
Why `#[derive(Eq)]` and not `#[derive(PartialEq)]`? I see this was brought up in the RFC thread but I didn't really see any reasons given.

[2016-02-05 19:26] nagisa commented on #31422
The `extern crate` is in a different crate. Seems like we suggest traits from indirect dependencies; but I’m not sure if that behaviour is incorrect, honestly.

[2016-02-05 20:04] alexcrichton opened #31435 "Regression in compile times after LLVM was upgraded"
LLVM was recently upgraded in #30448 which appears to have caused a regression
in compile times. First up, let's talk numbers. The compiler revisions in
question are:

* 074f49a350f22b6f33890cd105b2ebe2c790ee3c - just before the LLVM upgrade
* 303892ee156e5c31222b10786e661abb24dcf241 - just after the LLVM upgrade

The `nightly-2016-01-30` toolchain conveniently corresponds exactly to
303892ee156e5

[2016-02-05 20:05] alexcrichton commented on #31435
Nominating for triage as well

cc @rust-lang/compiler
cc @Manishearth
cc @nikomatsakis
cc @nrc
cc @dotdash

[2016-02-05 20:11] nagisa commented on #31435
*before*?

[2016-02-05 20:24] White-Oak commented on #31157
So, as this was fixed -- is it (the fix) going to be in the next nightly?

[2016-02-05 20:25] alexcrichton commented on #31435
@nagisa ah yeah oops that was a typo (corrected above)

Also I just realized that nightly compilers have LLVM assertions enabled whereas my local compilers did not, that would explain the discrepancy between those timings.

[2016-02-05 20:27] bluss commented on #27750
@alexcrichton

What I tried to say in https://github.com/rust-lang/rust/issues/27750#issuecomment-172640399 was that we add an explicit documentation item for this function, "reserving the right" to specialize it to use memcpy.

We need to document this reservation precisely because of the issues you mentioned, and if we make this clear in the docs, it shouldn't be a problem. I want that we add th

[2016-02-05 20:37] nikomatsakis commented on #31157
Ought to be, yes.

On Fri, Feb 5, 2016 at 3:25 PM, Oak <notifications@github.com> wrote:

[2016-02-05 20:53] nikomatsakis opened #31436 "Tracking issue for `?` operator and `try` blocks (RFC 243, `question_mark` & `try_blocks` features)"
Tracking issue for rust-lang/rfcs#243 and rust-lang/rfcs#1859.

See also the related tracking issue for `try_trait_v2`, https://github.com/rust-lang/rust/issues/84277 (https://github.com/rust-lang/rfcs/pull/3058)

For *heterogeneous* `try bikeshed MyType` blocks, see #149488

Implementation concerns:
- [x] `?` operator that is roughly equivalent to `try!` - #31954
- [x] `try { ... }` expression -

[2016-02-05 20:55] reem commented on #31436
The accompanying RFC discusses a desugaring based on labeled return/break, are we getting that too or will there just be special treatment for `?` and `catch` in the compiler?

[2016-02-05 20:58] nikomatsakis commented on #31436
Labeled return/break is purely for explanatory purposes.

On Fri, Feb 5, 2016 at 3:56 PM, Jonathan Reem <notifications@github.com>
wrote:

[2016-02-05 21:20] glaebhoerl commented on #31436
Another unresolved question we have to resolve before stabilizing is what the contract which `impl`s of `Into` have to obey should be -- or whether `Into` is even the right trait to use for the error-upcasting here. (Perhaps this should be another checklist item?)

[2016-02-05 21:44] Burgos opened #31437 "rustc segfaults while translating inline assembly to write memory location"
[code]

Results in:

[code]

Backtrace:

[code]

rustc:

[code]

[2016-02-05 21:46] Burgos commented on #31437
I've changed the title, as I've managed to reduce test case.

[2016-02-05 21:57] petrochenkov commented on #31436
@reem

Please do!

[2016-02-05 21:57] Burgos commented on #31437
rustc was built with just `--target=arm-unknown-linux-gnueabi `

[2016-02-05 22:01] ubsan commented on #27750
@bluss I don't think we should reserve that right. I think if someone wants to implement clone in a different way from copy, it should be their prerogative, and that they should be able to get their clone function called.

Also, I think it is *super* obvious that this function is not ready to be stabilized.

[2016-02-05 22:07] arielb1 commented on #15908
Does not look like a bug to me.

[2016-02-05 22:07] #15908 closed

[2016-02-05 22:08] bluss commented on #27750
I don't think it is reasonable to expect `Clone` to be sideffectful for a type that is also `Copy`. Such a type is clearly broken, buggy. We should document this so that we have a clear and transparent intention to special case `clone_from_slice` for `T: Copy` types.

[2016-02-05 22:19] briansmith commented on #27750
I started a thread on the internals message board about the guarantees of `Clone` and `Copy`: https://internals.rust-lang.org/t/assuming-clone-clone-is-equivalent-to-copy-semantics-for-all-instances-of-copy/3148/6. I agree with @bluss that `Clone` should be guaranteed/assumed to be equivalent to `Copy` for any type that implements `Copy`.

[2016-02-05 22:27] bluss commented on #27750
I'm just talking about this function and a specific documentation for it.

[2016-02-05 22:56] Burgos commented on #31437
I'm compiling beta 1.7, will report if it is resolved.

[2016-02-05 23:01] arielb1 commented on #30438
[code]

what?

[2016-02-05 23:18] brson commented on #15054
Are there any standard ways to *remove* flags in a build system ala `CFLAGS`? It's not something I've ever seen before.

It would be easy to make [all these settings](https://github.com/rust-lang/rust/blob/master/mk/cfg/i686-apple-darwin.mk) overridable wherever they aren't, though I'm not sure that is powerful enough.

[2016-02-05 23:30] brson commented on #31380
I don't know enough about multispans to know what the new requirements are. @nikomatsakis probably did most of the error parsing in compiletest.

I would be reluctant to switch to machine readable output unless we're super confident that the console output is formatted correctly and consistently whenever the machine output is correct. Probably worth a different issue, yes.

[2016-02-05 23:40] Burgos commented on #31437
Can confirm that this happens with 1.7.0-dev as well.

[2016-02-05 23:45] brson commented on #31422
Yeah, it's in a different crate. It may be useful information to convey, but as presented I think it's misleading.

[2016-02-05 23:47] #30669 closed

[2016-02-06 00:04] ubsan commented on #27750
It feels wrong to me. However, I don't feel too strongly about it.

If, however, we are going to use this as a memcpy instead of `copy_from`, I will have to come back in and talk about the name. This current name is absolutely awful.

[2016-02-06 00:10] fhahn commented on #16132
Now that there are MultiSpans (thanks to @mitaa), I'd like to look into this.

[2016-02-06 00:21] brson commented on #17684
If this was a mingw-specific bug, we may be able to reactivate it on the msvc builds.

[2016-02-06 00:22] alexcrichton commented on #30824
I think this was fixed in #30859, so closing.

[2016-02-06 00:22] #30824 closed

[2016-02-06 00:27] pnkfelix commented on #30438
There's some really funky interactions going on here with associated types and with lifetime bounds  on the struct.

For example, this version of @arielb1's refined example is (correctly) rejected by the compiler: http://is.gd/NGHvkm
while this alternative is incorrectly accepted: http://is.gd/jbh1xd

but the only different between the two is that in the version that is rejected, we have a maximal

[2016-02-06 00:30] aturon commented on #27801
The libs team took up this issue again at our meeting this week, and have agreed that deprecation was the wrong call.

There's a clear community consensus to ship this, and the rationale for deprecation essentially boiled down to a concern about minimalism in `std`. There's no real maintenance burden here, the design is fine, and the community finds it valuable; let's ship it.

I've opened a [PR t

[2016-02-06 01:00] retep998 commented on #17684
According to [MSDN](https://msdn.microsoft.com/en-us/library/bb384887.aspx) `By default, /DYNAMICBASE is on.` so we've already been effectively using ASLR with `-msvc` targets.

[2016-02-06 01:04] reem commented on #27746
I need a `RwLock` that can be waited on for other reasons, so I implemented an equivalent to C++17s `std::shared_mutex` which is a fair reader-writer lock implemented using a mutex and two condvars.

I went ahead and also demoed a (I believe) safe API for `map`/`option_map`/`result_map` in the same crate based on having a different type for mappable and waitable guards. I think we could apply the

[2016-02-06 01:06] Gyscos opened #31439 "Implicit return leads to "does not live long enough" error."
Here is a simple function that tries to read all lines from input:
[code]

As shown [here](http://is.gd/sgKoft), attempting to compile it (on stable 1.6, beta or nightly) gives a lifetime error:

[code]

Making the return explicit fixes this:

[code]

Is this the expected behavior? I would have thought explicit and implicit returns would give the same result...

[2016-02-06 01:25] apasel422 commented on #30425
This was implemented in #30467.

[2016-02-06 01:29] shahn commented on #30425
I think this issue needs to stay open until a stabilization decision was made

[2016-02-06 01:35] pnkfelix commented on #30438
So far I think that something is funky in the region inference.

Looking at the output from `-Z print-region-graph` as well as what the debug output reports, I see evidence that the region graph is (properly) encoding a constraint of the form:

  ConstrainRegSubVar(ReFree(CodeExtent(7/CallSiteScope { fn_id: 15, body_id: 32 }), BrNamed(DefId { krate: 0, node: DefIndex(11) => silly::'y }, 'y(76))),

[2016-02-06 01:45] eddyb commented on #30438
@pnkfelix you might want to wrap some of that up in code fences, it's getting reinterpreted as markdown.

[2016-02-06 01:46] pnkfelix commented on #30438
@eddyb yeah I was debating; the lines are really long so that's why I didn't do code fences at first, since I figured it was better to let the lines wrap.

I'll manually wrap the lines and add fences.

[2016-02-06 02:55] steveklabnik commented on #15054
I _think_ that systems often give you both "yes" and "no" flags, and the last one wins. So you can append to `CFLAGS` with `-fno-foo` and even if `-ffoo` appears before, it will work.

My brain may have also just entirely made this up.

[2016-02-06 03:20] pnkfelix commented on #30438
Okay I think I found the bug.

The *actual* region-graph representation (as opposed to what the `-Z print-region-graph` code works to present via graphviz) allocates one node for every region-variable, and then allocates *just* one more node, at the so-called `dummy-idx`, to represent all of the concrete (non inference variable) regions.

(Presumably the logic here is that all such concrete region

[2016-02-06 04:25] niconii opened #31443 "`Foo(..)` patterns work for tuple structs, but `(..)` doesn't work for tuples"
Right now, [this compiles](https://play.rust-lang.org/?gist=cd33108e66f35535cb14&version=nightly):
[code]
but [this fails to compile](https://play.rust-lang.org/?gist=1a1c89eb2514c5966e93&version=nightly):
[code]

[2016-02-06 05:13] mitaa commented on #16132
@fhan note that compiletest doesnt yet know what to make of them
https://github.com/rust-lang/rust/issues/31380

[2016-02-06 05:15] jseyfried opened #31444 "Resolve: an unresolved glob needlessly halts imports resolution progress"
Example:
[code]
EDIT: Another more realistic example:
[code]
Without the glob, they resolve.

[2016-02-06 05:33] semarie commented on #31363
@dhuseby you missed the point I think: the purpose of testing build with `MALLOC_OPTIONS=S` was to check if you get segfaults systematically (in opposition to "segfault sometimes" without it).

But for now, I think the issue could be a bug somewhere in code generation (in LLVM or in rustc, I dunno).

[2016-02-06 05:41] semarie commented on #31363
@steveklabnik could you update labels ?
- For now, it is clear that segfaults occurs systematically on Illumos and on OpenBSD, and occasionally only (@dhuseby do you confirm my understanding ?) on Bitrig
- The problem seems related to code generation

[2016-02-06 05:51] thepowersgang commented on #31436
On the subject of the `Carrier` trait, here is a gist example of such a trait I wrote back early in the RFC process.
https://gist.github.com/thepowersgang/f0de63db1746114266d3

[2016-02-06 06:05] dirk commented on #31209
@nrc: Can this be closed now that #31338 is merged?

[2016-02-06 07:18] jseyfried commented on #31444
Also, adding a function `bar` to `foo` allows it to resolve:
[code]

[2016-02-06 07:55] petrochenkov commented on #31436
How this is treated during parsing?

[code]

[2016-02-06 08:00] eddyb commented on #31436
@petrochenkov Well, the definition couldn't affect parsing, but I think we still have a lookahead rule, based on the second token after `{` (`:` in this case), so it should still be parsed as a struct literal (you'd need parens to turn it into type ascription anyway, IIRC).

[2016-02-06 08:00] petrochenkov commented on #31443
Yeah, also
[code]
doesn't work. `..` in patterns has a couple of pretty obvious extensions, someone just need to write an RFC (probably me, at least I was going to do it some time ago).

[2016-02-06 08:32] petrochenkov commented on #31436
Also
[code]
\+ https://github.com/rust-lang/rfcs/issues/306 if (when!) implemented.
It seems like there are no conflicts besides struct literals.

Given the examples above I'm for the simplest solution (as usual) - always treat `catch` in expression positions as start of a `catch` block. Nobody calls their structures `catch` anyway.

[2016-02-06 08:34] koobs commented on #15054
FWIW, *all* user supplied *FLAGS & VARIABLES should be honoured, this includes CC, {C,L,PP,XX}FLAGS, LIBS et al. That is, they should be the last variable on any assignment line, and never appended to.

[2016-02-06 08:57] jonimake commented on #24355
Still happening with Chrome 48.0.2564.103 m and Windows 10.

[2016-02-06 09:36] tmiasko opened #31446 "The Vec should not needlessly overallocate capacity if it is guaranteed to fail."
Current Vec / RawVec allocation strategy is to at least double the capacity on
reallocation. This leads to unnecessary panic when the new overallocated
capacity exceeds std::isize::MAX. If allocating std::isize::MAX would be
sufficient it should do so instead.

For example I would expect the following to work on 32-bit platform (provided
that there is sufficient amount of memory):

[code]

[2016-02-06 12:13] #31273 closed

[2016-02-06 14:33] GuillaumeGomez commented on #30976
Any news on this?

[2016-02-06 15:16] #31109 closed

[2016-02-06 16:48] kamalmarhubi opened #31451 "rustdoc ICE on undeclared type name in top level items"
Any of the following uses of `undeclared_type` cause an ICE in `rustdoc`, but *not* in `rustc`:

[code]

Use of `undeclared_type` in a local is fine; these all simply report the error without an ICE.

[code]

## Version
[code]

## Backtrace
[code]

[2016-02-06 17:13] #24237 closed

[2016-02-06 17:33] ArcaneEngineer commented on #5853
Is this a likely addition during 2016? Or likely further on that that?

[2016-02-06 18:08] durka commented on #31443
@petrochenkov have to be careful because in

[code]

the `..` is not a catchall pattern. So the extensions may lead to confusion/ambiguity. I guess this already a problem with `struct Foo(RangeFull);`.

[2016-02-06 18:14] danburkert opened #31453 "Create read-only file fails on nightly"
cc @alexcrichton

There has recently been a regression introduced to `std::fs`.  The following line results in `Ok` on stable and `Err` on nightly:

[code]

This regression is affecting Linux, Windows, and OS X.  You can see it in action in recent [fs2](https://github.com/danburkert/fs2-rs) CI builds.

[2016-02-06 18:28] Ticki opened #31454 "Warn on redundant closures"

[2016-02-06 18:36] durka commented on #29328
In combination with Fn traits, this seems like a hole in stability! Check out [this code](http://is.gd/EcgqRj):

[code]

Normally I can't write an Fn trait while specifying the return type as an associated type, at least without `#![feature(unboxed_closures)]`. But here I have to.

[2016-02-06 18:39] durka commented on #31436
It would be easier if a keyword was used instead of `catch`.

[2016-02-06 18:45] petrochenkov commented on #31443
@durka
`RangeFull` literals `..` are not considered patterns, so there's no conflict currently.

[2016-02-06 18:52] bluss commented on #31436
This is the keywords list: http://doc.rust-lang.org/nightly/grammar.html#keywords

[2016-02-06 19:01] durka commented on #31436
@bluss yeah, I admit none of them are great... `override` seems like the only one that is close. Or we could use `do`, heh. Or a combination, though I don't see any great ones immediately. `do catch`?

[2016-02-06 19:14] jonas-schievink commented on #31454
What do you mean by "redundant closure"? The same thing clippy's beta-reduction lint already warns against?

[2016-02-06 19:21] bluss commented on #31436
`do` is the only one that seems to be close IMO. A keyword soup with `do` as prefix is a bit irregular, not similar to any other part of the language? Is `while let` a keyword soup as well? That one feels ok now, when you are used to it.

[2016-02-06 19:29] Burgos commented on #31437
Debug build shows segfault as a result of failed assertion:

[code]

Which leads to the following issues:

https://github.com/rust-lang/rust/issues/29382
https://github.com/rust-lang/rust/issues/16337
https://github.com/rust-lang/rust/issues/16383
https://github.com/rust-lang/rust/issues/836

[2016-02-06 19:40] Burgos commented on #31437
This one looks promising, I will try it out: https://github.com/rust-lang/rust/commit/effcd29652bbf16981d9cd0d8a578681b2ed55bb

[2016-02-06 19:57] Ticki commented on #31454
By "redundant closures", I mean closures which just wrap another function or enum varient constructor, instead of using them directly.

[2016-02-06 20:00] jonas-schievink commented on #31454
Yeah, I think that's what clippy does as well

[2016-02-06 20:12] arielb1 commented on #31454
That's probably a job for clippy.

[2016-02-06 20:22] alexcrichton commented on #31453
This is a known change in behavior implemented in https://github.com/rust-lang/rust/pull/30872 as proposed in [RFC 1252](https://github.com/rust-lang/rfcs/blob/master/text/1252-open-options.md). This case was [specifically disallowed](https://github.com/rust-lang/rfcs/blob/master/text/1252-open-options.md#combination-of-access-modes-and-creation-modes) due to its inconsistent behavior across platf

[2016-02-06 20:22] alexcrichton commented on #31453
nominating for discussion of the fallout, however

[2016-02-06 20:51] pitdicker commented on #31453
A link in the RFC is broken, but this is from the [OpenBSD mailing list](http://marc.info/?l=openbsd-tech&m=96976914719648). It says it does not work on OpenBSD and Solaris

[2016-02-06 21:02] petevine commented on #31437
On my ARM machine there's no problem using a nightly. You were using an i386 host cross-compiler, right?

[2016-02-06 21:09] danburkert commented on #31453
Ok sounds good.  I didn't realize it wasn't available everywhere.  I'll
update my code accordingly.

On Saturday, February 6, 2016, pitdicker <notifications@github.com> wrote:

[2016-02-06 21:33] pitdicker commented on #31453
But sorry for the breakage anyway

[2016-02-06 21:39] alexreg opened #31456 "Shared<T> does not forward Sync"
While it's correct for it not to forward the `Send` trait, because it could violate mutability rules, there seems to be no reason it shouldn't forward the `Sync` trait (as `Unique<T>` does).

[2016-02-06 22:15] nagisa commented on #31446
Would’ve been fixed-ish by https://github.com/rust-lang/rust/pull/29848?

[2016-02-06 22:20] apasel422 commented on #31456
I'm not sure that the definition of `Sync` would permit this, as you can get `*mut T`s out of a `&Shared<T>`. From [the docs](https://doc.rust-lang.org/std/marker/trait.Sync.html):

The [Nomicon](https://doc.rust-lang.org/nomicon/send-and-sync.html) has more details.

[2016-02-06 22:25] Burgos commented on #31437
Yeah, I haven't tried with nightly, just with v1.6 and v1.7-beta. I will try the nightly as well, perhaps tomorrow.

Correct.

[2016-02-06 22:38] rasendubi commented on #7540
Still an issue

[2016-02-06 22:47] kevinmehall commented on #16351
What if it tried `<sysroot>/lib/rustlib/<target name>/target.json` instead of or in addition to a fixed directory? That way you could install a target specification and the associated libraries by unpacking a single directory.

[2016-02-06 23:03] apasel422 commented on #30642
It appears that the remaining `btree_set` iterators are invariant due to the use of `Peek`. With no other indication of why this would be an issue, I'm guessing it's related to `Peek`'s use of an associated type projection.

[2016-02-06 23:07] lambda commented on #30963
This has been addressed by #31333, where we actually do treat the `SIGSEGV` on stack overflow as an implementation detail and abort the process like any other runtime abort. I think that this is sufficient to avoid the confusion described here, so closing this ticket out.

[2016-02-06 23:07] #30963 closed

[2016-02-06 23:15] apasel422 commented on #30563
Was this closed by #30894?

[2016-02-06 23:18] alexreg commented on #31456
That is an unsafe operation however, so the usual rules don’t apply.

[2016-02-06 23:19] bluss commented on #31456
Since you can't access `T` from a `Shared<T>` without unsafe code, it doesn't matter for correctness either way. How `Shared<T>` behaves is just chosen for what's convenient in the places where it is used as a building block.

[2016-02-06 23:20] apasel422 commented on #31456
@alexreg In that case, why is `*mut T` `!Sync`?

[2016-02-06 23:21] Kimundi commented on #31456
From the nomicon link you posted: "Doing anything useful with a raw pointer requires dereferencing it, which is already unsafe. In that sense, one could argue that it would be "fine" for them to be marked as thread safe." ;)

[2016-02-06 23:37] antrik commented on #30563
@apasel422 probably.

It has been suggested that way more useful info could actually be printed instead of the opaque placeholders -- but that would be more of a wishlist item than a bug...

The patch is sufficient to fix the actual problem I was running into: not being able to #[derive(Debug)] on any structure containing mpsc Senders/Receivers.

[2016-02-06 23:51] Burgos commented on #31437
Yes, moving `m` with `=*` to `in` set workaround the assertion. Still, the original example should not assert. I will try it on nightly, it the assertion is fixed as @petevine reports, I will close this issue.

[2016-02-07 00:41] alexreg commented on #31456
Anyway, if we’re going to use the argument “it can only be accessed unsafely”, then I think `Unique<T>` should *not* forward `Send`/`Sync` either, for the sake of consistency.

[2016-02-07 02:43] GaveUp opened #31458 "Segfault with mipsel target"
Cross-compiling the default hello world and running it on a mipsel machine with debian squeeze results in a segfault.
## Rust Code

[code]
## Rust Version

`rustc 1.8.0-dev (915fa2a37 2016-02-06)
`
## Strace Output

[code]

[2016-02-07 03:52] brson opened #31459 "rustc and cargo do not display colors under the msys console"
Their tty detection on windows detects the windows console, but not the msys console. It is possible to detect msys and display color. TTY detection should probably be factored into [term](https://github.com/Stebalien/term) (cc @Stebalien), since both rustc and cargo have this code (differently), and the `atty` crate (cc @softprops) uses yet a different mechanism and also doesn't detect msys.

The

[2016-02-07 04:19] thepowersgang commented on #29946
This appears to only happen if 1. the closure is called via a generic function, and 2. the captured variable is not explicitly moved into the closure body.

If "let a = x;" is used in place of calling a borrowing method, the destructor is called.

[2016-02-07 04:25] alexcrichton commented on #30563
Ok, closing.

[2016-02-07 04:25] #30563 closed

[2016-02-07 04:28] alexcrichton commented on #31458
This may indicate that the glibc versions don't match up for whatever reason, but are you also able to run gdb on the target machine? That'd probably help more than an strace output to debug

[2016-02-07 05:00] GaveUp commented on #31458
I don't have gdb easily available, but the glibc versions should be a match.

Target Machine: ldd (Debian EGLIBC 2.11.3-4) 2.11.3

Toolchain was built with crosstool-ng selecting glibc 2.11 and rustc built with that.  A simple helloworld in c built against the toolchain also runs on the target machine fine.

[2016-02-07 06:10] retep998 commented on #31459
The issue is that mintty uses pipes for stdout and stderr, so they are indistinguishable from any other pipe. There's no way to tell if stdout is pointed towards the mintty console or a random file.

[2016-02-07 06:21] Gankro commented on #31446
I'm curious: what languages succeed or fail by this metric?

[2016-02-07 08:11] tmiasko commented on #31446
@nagisa as far as I can see that PR would have exactly the same problem.
Generally, the source of problem lies in a fact that the calculation of new
capacity is unaware on requirement that it should be less than std::isize::MAX,
which is checked only later in alloc_guard.

@Gankro the GNU libstdc++ works fine in this respect. It seems more like
quality of implementation issue, than some strong req

[2016-02-07 08:32] cmr commented on #16351
This was clarified in a recent PR, let me find it.

[2016-02-07 08:33] cmr commented on #16351
https://github.com/rust-lang/rust/pull/31117

[2016-02-07 08:33] #16351 closed

[2016-02-07 09:17] jseyfried commented on #31403
This is caused by [this code](https://github.com/rust-lang/rust/blob/34af2de4096b3b1c5d3a5b70171c6e27822aaefb/src/librustc_resolve/resolve_imports.rs#L423-L436), which incorrectly reports that the import of `bar` as `baz` fails in the type namespace.

[2016-02-07 10:07] thepowersgang commented on #29946
Preliminary investigation - The cause is from the closure not being treated as FnOnce when destructor calls are added to the "body" (in `rustc_trans/trans/closure.rs` `load_closure_environment`)

This is exposed when the closure is explicitly called as `FnOnce` (leading to ownership transfer into the closure, and hence no destructor being called).

Routes to fixing:
1. Alter ClosureKind determinin

[2016-02-07 10:38] thepowersgang commented on #29946
`::rustc_trans::trans::closure::trans_fn_once_adapter_shim` exists, and is possibly the culprit.

[2016-02-07 10:55] arielb1 commented on #29946
I don't think the shim is used here.

[2016-02-07 11:01] Burgos commented on #31437
Still segfaults rustc 1.8.0-dev :-(.

[2016-02-07 11:10] thepowersgang commented on #29946
I'm reasonably sure it is. It is being run, and registers `self` to be dropped, but cleans up the scope without generating destructor calls

[2016-02-07 11:18] thepowersgang commented on #29946
`src/librustc_trans/trans/closure.rs#L424` appears to be the culprit, changing that line from
[code]
to
[code]
Leads to my test case passing.

I'm running the full test suite now in preparation for a PR.

[2016-02-07 11:21] arielb1 commented on #29946
trans::meth is such a hack

[2016-02-07 11:24] petevine commented on #31437
Getting interesting! The rustc I was using was built Feb, 4th from a source snapshot.

Other differences between how yours and mine were built (apart from native vs cross) are:
`--disable-jemalloc` and this ARM specific llvm [patch](http://llvm.org/viewvc/llvm-project?view=revision&revision=259657).

[2016-02-07 11:38] thepowersgang commented on #29946
@arielb1

What do you mean by that?

[2016-02-07 11:42] Burgos commented on #31437
Interesting, thanks! I will try first with the llvm's patch!

[2016-02-07 12:07] thepowersgang commented on #29946
PR with fix filed #31462 - Running full local tests at the moment, stage1 passed

[2016-02-07 12:24] sorpaas commented on #18241
+1

[2016-02-07 12:31] petevine commented on #31437
No, wait - theses details are completely irrelevant.

I get the segfault too unless - that was the reason I was able to compile was using `rustc -O` transparently.

[2016-02-07 14:52] arielb1 opened #31463 "MIR: broken MIR generated for Box"
[code]

This generates the following (broken) MIR:

[code]

As you can see, `tmp0` is dropped but never written to (AFAIK this should be OK because of zeroing) but the boxes are never freed.

[2016-02-07 14:54] arielb1 commented on #31463
cc @nagisa @nikomatsakis

[2016-02-07 14:54] nagisa commented on #31456
Documentation for `Unique<T>` explains the reasoning:

Shared has no such semantic attached to it.

[2016-02-07 14:58] nagisa commented on #31463
Freeing boxes should've been fixed in https://github.com/rust-lang/rust/pull/31307.

[2016-02-07 15:01] #31432 closed

[2016-02-07 15:08] arielb1 commented on #31463
This is a problem on latest master (f50fb159e97eee82b4ff6abaa4003a49d6fe680f)

[2016-02-07 15:11] alexreg commented on #31456
This rather misses the point, since you can alias raw pointers anyway.

I think it’s all a big lie to be talking about guarantees with unsafe pointers anyway. Why not make this explicit by not pretending there are by implementing these traits?

[2016-02-07 16:00] mttnff opened #31464 "linker error when returning (and using) a struct that is not exported"
I just came across a linker error, which should probably give an error during compilation instead. Minimal example:

lib.rs:
[code]

When adding a binary target `bin/exe.rs` like this:
[code]

I get the following linker error on `cargo build` or `cargo build --bin exe`:
[code]

I am not familiar with the way rust handles modules, but I think this should indeed not work, so the compiler should prob

[2016-02-07 16:22] sfackler commented on #31464
This is definitely a bug, but you should be able to get things to work by using `pub use stuff::MyStruct` instead of `use stuff::MyStruct`.

[2016-02-07 16:29] petrochenkov commented on #31464
Duplicate of https://github.com/rust-lang/rust/issues/16734

[2016-02-07 16:38] mttnff commented on #31464
Indeed, sorry for missing out on that.

[2016-02-07 16:38] #31464 closed

[2016-02-07 16:53] bluss commented on #31456
`Unique<T>` and `Shared<T>` are conveniences, utilities, that encapsulate some recurring patterns in implementing Rc, Arc, and various collections. It's not about guarantees embodied by the Unique/Shared themselves, but defaults for properties w.r.t `T` that the type that uses `Unique<T>/Shared<T>` will want to have.

Being utility building blocks, it only makes sense to change them if you show wh

[2016-02-07 17:56] arielb1 opened #31466 "[MIR] missing autoref in overloaded deref"
[code]

Generated MIR:
[code]

cc @nikomatsakis @nagisa

[2016-02-07 18:09] arielb1 opened #31467 "[MIR] repr::Mir should have a name or span"
Otherwise, error reporting is problematic.

[2016-02-07 18:13] nagisa commented on #31467
Each `Mir` comes from `MirMap` and has an associated `NodeId`. It is possible to extract most of the source-level info from that and HIR map.

(OTOH, I don’t see why including a span or something like that would be detrimental)

[2016-02-07 18:13] arielb1 commented on #31467
I am working on this

[2016-02-07 18:50] est31 commented on #31436
Can't `?` be ported to use `try!` instead? This would allow for the use case where you want to get a `Result` return path, e.g. when debugging. With `try!` this is fairly easy, you just override the macro at the beginning of the file (or in lib/main.rs):
[code]

You will get a panic stack trace starting from the first occurrence of `try!` in the `Result` return path. In fact, if you do `try!(Err(s

[2016-02-07 20:09] rillian opened #31471 "Add rustc --emit=linkinfo"
When linking rust into C++ projects, I use `rustc --crate-type=staticlib` to generate a static library which I can link into the overall project. Since there's no standard for transitive dependency declaration in the C ABI for static libraries, rustc prints out a list of libraries which need to be linked along with the staticlib. (https://github.com/rust-lang/rust/issues/25820#issuecomment-1064802

[2016-02-07 20:12] arielb1 opened #31472 "[MIR] Phantom unit write after return"
## EDIT: I was confused about the issue

[code]

[code]

[2016-02-07 20:26] arielb1 commented on #31472
The write here is the empty write at the end of a block - which should not exist if the block is diverging.

Unclear whether we should not create the (ill-formed) write when building or remove it in post-processing.

[2016-02-07 20:44] brson commented on #31459
@retep998 [Here's a PR to git](https://github.com/git-for-windows/git/pull/102) about detecting msys terminals. I think that's the same as mintty. We can't take their code directly though because licenses.

[2016-02-07 20:51] nagisa commented on #31472
NB: This write gets removed by simplifycfg (you need to comment the pass out to reproduce the issue).

[2016-02-07 20:52] arielb1 commented on #31472
This would still pose a problem to analysis passes that want to run before SimplifyCfg. I am adding an early pass for my MIR typeck PR to ameliorate this problem.

[2016-02-07 20:54] nagisa commented on #31472
Likely caused by [this](https://github.com/rust-lang/rust/blob/master/src/librustc_mir/build/block.rs#L280)

[2016-02-07 20:56] arielb1 commented on #31472
The root cause of the problem is that typeck allows "diverging" blocks to have any kind of return value instead of requiring it to be MIR. I think that clearing the diverging blocks in a post-pass is a better strategy than detecting diverging blocks in HAIR.

[2016-02-07 21:12] GuillaumeGomez opened #31475 "Compilation timeout"
The following code compilation never ends:

[code]

[2016-02-07 21:13] durka commented on #31475
Compiles fine for me. It enters an infinite loop at runtime, but that looks like it's intended?

[2016-02-07 21:14] rpjohnst commented on #31436
Ideally `?` could just be extended to provide stack trace support directly, rather than relying on the ability to override `try!`. Then it would work everywhere.

[2016-02-07 21:16] GuillaumeGomez commented on #31475
No you're right, it's `rustdoc --test` which doesn't have a timeout. I'll update the E0270 in order to avoid rustdoc to go crazy.

[2016-02-07 21:16] durka commented on #31436
Stack traces are just one example (though a very useful one, seems to me).
If the Carrier trait is made to work, maybe that can cover such extensions?

On Sun, Feb 7, 2016 at 4:14 PM, Russell Johnston <notifications@github.com>
wrote:

[2016-02-07 21:18] #31475 closed

[2016-02-07 21:20] retep998 commented on #31459
That code relies on [NtQueryObject](https://msdn.microsoft.com/en-us/library/bb432383(v=vs.85).aspx) to get the name of the pipe which I'd be rather wary of using considering msdn says "[This function may be changed or removed from Windows without further notice.]"

[2016-02-07 21:47] nrc commented on #27060
Given that this has been sat around for a while and that it sounds like it is not going to get implemented that soon, I think we should feature-gate `#[repr(packed)]` in the meantime. I propose we start with a warning cycle and uplift that to beta then put a feature gate in nightly now. Alternatively, we could just warn on use of `#[repr(packed)]` and never move to a feature gate (since it is wide

[2016-02-07 22:24] programble opened #31476 "ICE from variant_size_differences warning inside macro"
Causing a `variant_size_differences` warning inside a macro causes an ICE:

https://play.rust-lang.org/?gist=41ea0d892ce34eceee7a&version=stable

On nightly:

[code]

[code]

---

On stable:

[code]

[code]

[2016-02-07 22:50] Lundbrik opened #31477 "Unexpectied panic 'box_free language item is missing'"
Running `rustc 1.8.0-nightly (3623797eb 2016-02-07)` while trying to compile Redox
[code]

[2016-02-07 23:00] GuillaumeGomez opened #31478 "internal compiler error: constant item not found"
The following code spans an ICE:

[code]

[code]

[code]

[2016-02-07 23:22] kookerus opened #31480 "Unexpected Compiler Panic"
When compiling the latest release of [Redox](https://github.com/redox-os/redox/commit/31bf5ab19e1222739f30ec5c7535cf4c0fccad09), the nightly release of the compiler panicked. The output of attempting to make all in redox is below:
[code]

rustc --version --verbose output:
[code]

[2016-02-07 23:23] jonas-schievink commented on #31480
Not a bug, redox has to define the lang item.

[2016-02-07 23:26] kookerus commented on #31480
Okay, thanks for the info

[2016-02-07 23:26] #31480 closed

[2016-02-07 23:32] jonas-schievink commented on #31477
Like I said in #31480, this is happening because Redox doesn't define the `box_free` lang item, which was introduced in #31307. Of course, the error message could be better, but that's basically covered by #9307.

[2016-02-07 23:50] GuillaumeGomez opened #31481 "foreign function invalid error message"
This code works:

[code]

While this one doesn't:

[code]

I don't think this is the expected behavior.

[2016-02-07 23:56] retep998 commented on #27060
Meanwhile in `winapi` `#[repr(packed)]` is the only tool I have to lower the alignment of structs to make their layout match that of the C version which uses `#pragma pack`. Please don't feature gate it without providing an alternative. Many things that I need for FFI, like unions, I can manage without by using my own methods and macros. Without some way to place a 4 byte field on a 2 byte boundar

[2016-02-07 23:59] huonw commented on #31481
`extern "C" fn foo(..)` is defining a Rust function that uses the C ABI (i.e. is callable from C), not importing a C function called `foo`. That is, it only differs to `fn foo(..)` in low-level code-generation details, it still has all the normal Rust features/restrictions. This includes not working with variadic arguments.

Also, writing `extern "C" fn foo(..);` without a body isn't valid, e.g. i

[2016-02-08 00:07] GuillaumeGomez commented on #31481
I really thought that the two writings were equivalent. I'm a bit surprised.

[2016-02-08 00:21] arielb1 opened #31482 "[MIR] bounds-checked indexing creates broken MIR"
The first fruit of my MIR type-checking work:

[code]

Generated MIR:
[code]

[2016-02-08 00:23] est31 commented on #31436
Without wanting to speculate, I think that it could work, albeit with some issues.

Consider the usual case where one has code returning some `Result<V,E>` value. Now we would need to allow for multiple implementations of the `Carrier` trait to coexist. In order to not run into [E0119](https://doc.rust-lang.org/error-index.html#E0119), one has to make all implementations out of scope (possibly thr

[2016-02-08 01:19] Lundbrik commented on #31477
Thanks for the information. Figured it might be Redox, just wanted to reoort it since it so nicely asked for it.

[2016-02-08 01:20] #31477 closed

[2016-02-08 01:24] retep998 opened #31484 "Cannot glob import the crate root."
The following does not compile.
[code]
Also tried `use ::*;` `use {*};` and `use ::{*};`.

I'm not sure why we don't support this case. Maybe nobody felt anyone would ever use it? It sure would be nice to have in winapi.

[2016-02-08 02:14] rphmeier commented on #31436
Just to chime in on bikeshedding: `catch in { ... }` flows pretty nicely.

[2016-02-08 03:48] rphmeier commented on #30905
I don't see how this can't be considered a bug:
[code]

It's trivial to see that this code doesn't actually export any private types. I strongly disagree with this being the intended behavior: it just seems wrong.

[2016-02-08 03:48] White-Oak commented on #31157
@nikomatsakis excuse me for bothering again.

1. What about beta? Should this fix be backported to it? As states in a first comment -- this regression is in beta as well.
2. Well, for me time went from 40 secs (2016-01-15) to 56 secs (current nightly: 2016-02-07) which is almost 30% time regression, but I guess that's best that could be done.

[2016-02-08 05:08] KalitaAlexey commented on #31404
Shouldn't you need write `pub use super::foo`?

[2016-02-08 05:11] jseyfried commented on #31404
That would work too. Paths in use declarations are crate-relative unless they start with self or super.

[2016-02-08 05:40] KalitaAlexey commented on #31404
Yeah. You are right. I didn't know that.

[2016-02-08 07:40] alexcrichton commented on #31471
This seems reasonable to me, although I might prefer to call it something like `--emit link-flags-ld` or something where we can swap out `link.exe`, `lld`, `ld`, or all the other random linkers in there as well. That way we can hopefully pick the "right format" for the linker arguments.

I think we could even suppress the "warning, you gotta link these libs" message when you're emitting these as w

[2016-02-08 09:32] nagisa commented on #31482
The `tmp6` is supposed to become a constant (promoted rvalue) once we have a capability to make these happen.

[2016-02-08 09:39] bstrie commented on #27719
I'm in favor of 2. Bounds can be loosened without breaking BC, and even a too-restrictive bound is still a step forward from no stable solution at all.

Remember also that part of the impetus here was for the existence of a bound to send a message that we don't intend this function to be used as an alternative mechanism for recoverable error handling (though to that end I still wish @alexcrichton

[2016-02-08 10:02] nrc commented on #31209
Closed by #31338

[2016-02-08 10:02] #31209 closed

[2016-02-08 10:42] GuillaumeGomez commented on #31481
Since the original message came from a lack of knowledge, I changed the title to better reflect the "real" issue here.

Also, I'd like to work on this issue.

[2016-02-08 11:15] mitaa commented on #25511
This seems to kind of work currently (["-> box"](http://doc.rust-lang.org/nightly/std/?search=-%3E%20box), ["-> usize"](http://doc.rust-lang.org/nightly/std/?search=-%3E%20usize)), though I think this should be improved since the type-name in the search index seems to be very trimmed-down or omitted in most cases for some reason. (i.e. the original example doesn't work; ["-> Chunks"](http://doc.ru

[2016-02-08 13:03] bluss commented on #29935
`#[deprecated]` is great, but still unstable! Can we stabilize it soon? I'm putting it to use where possible.

I am reopening this as the tracking issue should be open until it's stable.

[2016-02-08 13:12] petrochenkov commented on #29935
Oh, by the way, `#[deprecated]` on a module (or any other item) is inherited by all the child items of that module.
This behavior is reasonable and it's inherited from `#[rustc_deprecated]` and other stability attributes, but it was never discussed explicitly, AFAIR.
One minor drawback of this behavior is that items inside of deprecated modules can't be "undeprecated".

[2016-02-08 13:39] bluss commented on #25511
`-> Chunks` only matches functions with 0 input arguments, because it matches the input arguments exactly too with that search.

[2016-02-08 14:16] eshellman commented on #25664
Maybe I missed something, but this repo (rust-lang/rust) is also missing a license file.

[2016-02-08 14:30] steveklabnik commented on #25664
@eshellman https://github.com/rust-lang/rust/blob/master/LICENSE-APACHE and https://github.com/rust-lang/rust/blob/master/LICENSE-MIT

[2016-02-08 15:13] eshellman commented on #25664
Not sure how I missed that. not enough coffee yet.

[2016-02-08 15:27] joelself opened #31488 "File.read_to_end doesn't always read to the end"
[code]
I elided the code where I wait on a signal that the file has changed. If you do something like
[code]
It works fine; gets the bytes and prints it out. However something like
[code]
Will modify the file, trigger the file modified signal I have in the code, but it won't read any bytes. This is definitely an unusual case as `tail -f` doesn't catch it either even if you later append normally li

[2016-02-08 15:36] nikomatsakis commented on #31157
@White-Oak

Good point. I've nominated the PR for backporting.

It may be possible to improve further.

[2016-02-08 15:50] tmiasko commented on #31488
The in place flag of sed may be a little misleading, it does leave the result in
the same path, but it is a different file. It works by writing output to a new
temporary file and then doing rename (you can confirm this with strace). So to
detect this change you would have to reopen the file, and this is exactly what
tail --follow=name does (implied by -F).

[2016-02-08 17:05] #30438 closed

[2016-02-08 17:12] blixt opened #31490 "Unable to install rust HEAD with Homebrew"
I've been trying to install Rust with `brew install --HEAD` but it's not working, so I figured I'd report it here. The error appears to be in the configure step (git error about "test-installer-v2").

[code]

[2016-02-08 17:17] joelself commented on #31488
Thanks @tmiasko , I googled this around and found out about this. Now when I get a write event, but no bytes read, I automatically reopen the file and it works for the most part as long as I keep track of my position in the file. The one problem I have is when I reopen the file and do a `read_to_end` it always tacks on a '\n' to the end of the buffer even if there shouldn't be one (I can tell beca

[2016-02-08 17:17] #31488 closed

[2016-02-08 17:26] nodakai opened #31491 "rustdoc duplicates "implementors" in some rare cases"
- http://doc.rust-lang.org/std/convert/trait.Into.html#implementors
- http://doc.rust-lang.org/nightly/std/convert/trait.Into.html#implementors

[2016-02-08 17:50] arielb1 commented on #31482
I guess. We just have to get rvalue promotion (or whatever) done before MIR borrowck.

[2016-02-08 18:01] arielb1 commented on #27719
@tomaka

I think that splitting `Drop` to a safe `Drop` trait that is not called by unwinding and an unsafe `Destroy` trait that *is* called by unwinding would be a nice compromise, but this fight is for another day.

Until then, you can compile with `-Z no-landing-pads` and stay out of the panic game.

[2016-02-08 18:37] blixt commented on #31490
Installing rust manually from source (`./configure && make && make install`) worked, so this seems to be an issue with how Homebrew behaves. I just can't tell if it's a bug with how the rust formula is set up, or with Homebrew itself.

[2016-02-08 18:57] brson opened #31495 "--cfg accepts invalid cfgs"
List meta items are not allowed in `cfg` specs because the compiler reserves them for built-in predicates like `any`.

So for example you can't write

[code]

You *can* though write `rustc --cfg "foo(bar))". This should be similarly rejected.

cc https://github.com/rust-lang/rust/pull/31278

[2016-02-08 18:57] durka commented on #31436
`catch! { ... }` is another backcompat choice.

[2016-02-08 18:58] steveklabnik commented on #31490
Since it builds locally, yeah, this would seem to be a homebrew issue. I don't see anything obviously wrong in https://github.com/Homebrew/homebrew/blob/master/Library/Formula/rust.rb , but since it does build for you without homebrew, I'm going to give this a close. You should file an issue with Homebrew. Thanks!

[2016-02-08 18:58] #31490 closed

[2016-02-08 18:59] steveklabnik commented on #31443
Closing in favor of the RFC, since this would be a language change.

[2016-02-08 18:59] #31443 closed

[2016-02-08 19:00] steveklabnik commented on #31439
This does seem like a bug. I can't quite remember, but I _think_ there is a similar issue somewhere...

[2016-02-08 19:04] brson commented on #31495
This is probably pretty easy. Comparing the parsing in libsyntax with the parsing in librustc_driver and fix the latter to be like the former. Add a test to src/tests/compile-fail with the `compile-flags:` directive set to `--cfg whatever`.

[2016-02-08 19:04] #29946 closed

[2016-02-08 19:05] steveklabnik commented on #21590
Triage: no change that I'm aware of.

[2016-02-08 19:06] steveklabnik commented on #21025
Triage; still lots of room for improvement here.

[2016-02-08 19:10] steveklabnik commented on #18653
An updated code sample:

[code]

Today's error:

[code]

[2016-02-08 19:14] brson opened #31496 "--cfg parse failures produces hard to understand errors"
`rustc --cfg "a{" ../src/test/run-pass/hello.rs`

produces:

[code]

It's clear that the way this is parsed is by constructing a fake source file and running it through the main parser. This is a confusing and ugly way to report these errors. Instead the errors should be converted to display in a way that makes it clear that what isn't parsing is the cfg provided on the command line. Perhaps like

[2016-02-08 19:16] brson opened #31497 "--cfg accepts bogus grammar"
These all work: `--cfg "a - b"`, `--cfg a%`, `--cfg "a { b }"`.

[2016-02-08 19:23] steveklabnik commented on #18718
@manuels This bug is extremely old, and nobody has reported anything similar since you've opened it. With some minor updates, your sample compiles fine for me every time, but so much has changed since you filed this bug that I think I'm going to give it a close.

If you're still seeing this, please let me know and we can try to get something that reproduces. Thanks!

[2016-02-08 19:23] #18718 closed

[2016-02-08 19:25] steveklabnik commented on #18761
Updated code:

[code]

This fails with a completely different error today:

[code]

(the feature flag is also no longer needed)

So, is this bug still relevant?

[2016-02-08 19:28] steveklabnik commented on #18864
@comex are you still seeing this happen? A lot has changed in two years.

[2016-02-08 19:29] steveklabnik commented on #18712
Triage: updated code:

[code]

I still get zero in both cases here.

[2016-02-08 19:43] steveklabnik commented on #18961
Updated code:

[code]

Same error today.

[2016-02-08 19:43] steveklabnik commented on #18524
Triage: no changes that I'm aware of.

[2016-02-08 19:45] steveklabnik commented on #14648
Triage:

[code]

So I think this is fixed?

[2016-02-08 19:45] steveklabnik commented on #21536
Triage: no changes

[2016-02-08 19:46] steveklabnik commented on #21777
Triage: I'm not aware of any changes here.

[2016-02-08 19:48] steveklabnik commented on #21696
Triage: it looks like these two tests are not yet in `src/test/run-pass-valgrind/`. This should be easy to do, though which tests exactly are "related" isn't quite clear to me.

[2016-02-08 19:49] jonas-schievink commented on #31431
Duplicate of #25061?

[2016-02-08 19:49] steveklabnik commented on #21786
Triage: I'm not aware of any change here.

[2016-02-08 19:49] jonas-schievink commented on #31491
Duplicate of #25061, I think

[2016-02-08 19:51] steveklabnik commented on #21812
Triage: this still does not warn today.

[2016-02-08 19:53] steveklabnik commented on #21814
Triage: there's a much better error today:

[code]

[2016-02-08 19:56] durka commented on #31436
Also, not that I expect this to change anything, but a note that this is going to break multi-arm macros that were accepting `$i:ident ?`, in the same way that type ascription broke `$i:ident : $t:ty`.

[2016-02-08 20:07] kamalmarhubi commented on #31495
Should `rustc --cfg any(foo)` be accepted?

[2016-02-08 20:22] dgrunwald commented on #31436
Don't overdo the backwards compatibility, just treat `catch` as a keyword when followed by `{` (possibly only in expression position, but I'm not sure if that changes much compatibility-wise).

I can also imagine some possible problems that don't involve struct literals (e.g. `let catch = true; if catch {}`); but I prefer a minor breaking change over a more ugly syntax.

Didn't we have a for addin

[2016-02-08 20:33] jmesmon commented on #30330
FWIW, meta-rust (which I maintain) carries a few awful hacks to keep builds a bit more reproducible (https://github.com/jmesmon/meta-rust/pull/33, there is also a patch that futzes with symbol hashing) as bitbake does not like builds changing unexpectedly.

[2016-02-08 20:53] manuels commented on #18718
Agreed, thanks!

[2016-02-08 21:03] Zoxc opened #31498 "Segmentation fault in msys2 booststrap"
Using msys2's MinGW-w64 Win64 shell:  `./configure --prefix=/home/John/rust-install --enable-llvm-assertions`

Crash:
[code]

Backtrace in gdb:
[code]

[2016-02-08 21:05] kamalmarhubi commented on #31495
I'm assuming it should not for now.

[2016-02-08 21:15] steveklabnik commented on #31431
yes, it would seem so.

[2016-02-08 21:15] #31431 closed

[2016-02-08 21:15] steveklabnik commented on #31491
Yes, it would seem so.

[2016-02-08 21:15] #31491 closed

[2016-02-08 21:17] bheesham commented on #20629
Proxying requests to Buildbot through a server that supports TLS is the only way to get HTTPS working with Buildbot.

The buildbot web interface is already being proxied through nginx, so the configuration just needs to be tweaked to get it to be served over HTTPS.

[2016-02-08 21:43] petrochenkov commented on #31498
Duplicate of https://github.com/rust-lang/rust/issues/28445

[2016-02-08 21:53] alexcrichton commented on #31498
Ah yeah looks like it, this comes about when using a newer gcc which is known to produce an LLVM which will later segfault when run, unfortunately no investigation has happened to figure out what's happening under the hood here yet.

[2016-02-08 21:53] #31498 closed

[2016-02-08 22:14] brson commented on #31495
@kamalmarhubi No it should not.

[2016-02-08 22:19] kamalmarhubi commented on #31495
Excellent, less fixup work for me :-)

[2016-02-08 23:04] nixpulvis commented on #30503
I'd be in favor of something like

[code]

This allows

[code]

But is documented as returning a `(usize, isize)` everywhere.

[2016-02-08 23:34] Zoxc opened #31501 "LLVM assertion with tests on Windows"
Rust on msys2 configured with `./configure --prefix=/home/John/rust-install --enable-llvm-assertions --enable-debuginfo --enable-debug --enable-debug-assertions`

[code]

[2016-02-08 23:39] nodakai opened #31502 "std::env::home_dir() is buggy on Windows"
The underlying Win32 API `GetUserProfileDirectory()` is used in a wrong way:

- https://msdn.microsoft.com/en-us/library/windows/desktop/bb762280%28v=vs.85%29.aspx

It is the in/out parameter `lpcchSize` rather than the function return value that contains the number of bytes of the returned data.  As a result, when neither `HOME` nor `USERPROFILE` is set, `std::env::home_dir()` returns a truncated

[2016-02-09 02:06] retep998 commented on #31502
I'll fix this unless someone else wants to do it.

[2016-02-09 02:40] petevine opened #31503 "x86(64) runtime performance irregularities"
[Mandel-rust](https://github.com/willi-kappler/mandel-rust) benchmark produces the following results:

https://gist.github.com/petevine/b70b6e5a434f23b40ab5

**`TL;DR`**
32-bit code performance looks like this:
P2(3) > Core2 > P4 (x86_64 too)

P2(3) being the only ones to scale on 2 cores in all benchmarks.

It's either a sign of LLVM being buggy or I was more right about P4 codegen producing subo

[2016-02-09 02:41] kvark opened #31504 "ICE with nightly in LvalyeTy<'tcx>::protection_ty"
It works fine with rust-beta (1.7) and rust-stable (1.6).

Repro steps:
1. git clone http://github.com/gfx-rs/gfx
2. build with rust nightly (`cargo test`), assuming you have glfw3 and X libraries installed. I'll try to narrow down the problem to a simpler case.

Backtrace:
[code]

[2016-02-09 02:46] keeperofdakeys commented on #31484
Can you do `use self::*;` for this?

[2016-02-09 02:46] retep998 commented on #31502
To clarify, the value the user passes to `lpcchSize` is the size of the buffer including space for the null terminator, and the value that is written back to `lpcchSize` is the size of the data including the null terminator regardless of whether or not it can fit into the buffer provided. If it could only fit part of the data into the buffer it will still write a null terminator to the end of the

[2016-02-09 02:47] Aatch commented on #31435
Looks like something to ping the LLVM guys about, at least to get some insight. Loop-invariant code motion seems like it's taken a significant hit, with the top 3 LICM passes all taking around twice the time now.

[2016-02-09 02:54] retep998 commented on #31484
Yes that is a workaround but not a solution. It's rather unfriendly to arbitrarily nested modules as you'd end up with things like  `use super::super::super::*;`. We allow importing items directly from the crate root, and we allow glob imports in other paths that are relative to the crate root, so missing the simple case of glob importing the crate root itself seems like an oversight.

[2016-02-09 04:14] dirk commented on #31451
I believe this may be a regression caused by #31338. Working on a fix.

[2016-02-09 04:52] Zoxc opened #31505 "rlibc's memcpy get miscompiled"
rlibc's memcpy get miscompiled with ` -O --target=x86_64-sun-solaris -C target-feature=-mmx,-sse,-sse2`
At 0x18 `lea     esi, [rsi+0]` zeroes the upper 32-bits of `rsi` which is a 64-bit pointer.

Curiously some targets has the loop unrolled. I don't see any reason for this.

Assembler output of various targets:

x86_64-rumprun-netbsd:
x86_64-sun-solaris:
[code]

x86_64-unknown-linux-gnu:
x86_64-u

[2016-02-09 04:58] brson opened #31506 "Guard pages are disabled on musl."
In #30629 I [disabled guard pages on musl](https://github.com/rust-lang/rust/pull/30629/files#diff-1a00e90827d8a240091012902881fdc4R184). I did this because one of the pthread calls (I've forgotten which) was segfaulting during runtime initialization on i686-unknown-linux-musl, with my local build of musl, and I just wanted it working.

It should at least be on for x86_64 where it's known to work

[2016-02-09 05:48] nodakai commented on #31502
The funny thing here is MSDN doesn't guarantee `lpcchSize` contains any useful data when the API returns `TRUE` :fearful::fearful::fearful:

When the input `lpcchSize` is strictly larger than 1, though, it seems to hold that `_tcslen(lpProfileDir) + 1 == *lpcchSize`

[2016-02-09 05:57] jethrogb opened #31508 "Specifying linkage on externs silently removes indirection"
When compiling the following code:

[code]

[code]

using

[code]

running `./externs` will output something like the following:

[code]

Wat.

Taking a look at the IR:

[code]

[code]

So, Rust removes a layer of indirection defining `static explicitvar: [u8;10]` and adding a new variable `static _rust_extern_with_linkage_explicitvar: *const [u8;10]=&explicitvar`. All mentions of `explicitvar` in

[2016-02-09 06:00] jethrogb opened #31509 "Specify visibility"
It would be nice to in addition to specifying linkage, specify [visibility](http://llvm.org/docs/LangRef.html#visibility-styles). I think a similar syntax could be used:

[code]

[2016-02-09 06:39] nixpulvis commented on #21903
Unless I'm missing something, this isn't a huge problem because bad things will still fail to type check right? For example the following doesn't compile.

[code]

[2016-02-09 06:46] retep998 commented on #31502
Well I got that information through local testing and Microsoft has fairly solid backwards compatibility guarantees, so we can probably just assume that is the intended usage until proven otherwise.

[2016-02-09 07:25] pnkfelix commented on #11145
Assigning to compiler team ... though in hindsight maybe we don't have a team that owns build infrastructure issues

[2016-02-09 07:39] pnkfelix commented on #12113
I agree that this essentially could become a sub issue of #27802 ; but the discussion of that issue seems to focus on the semantics of a char iterator's interaction with an underlying byte stream (which is very important), while this issue is more of a "it would be nice if the error object that gets bubbled up actually carried enough info for a user to do recovery"

We haven't always done such a g

[2016-02-09 07:48] pnkfelix commented on #17269
@freebroccolo doesn't xcode-select change the default xcode system-wide?  I had inferred that what brson wanted was to be able to switch in a local manner. ..

(Or maybe it doesn't matter;  I don't know enough about how well our build infrastructure is virtualized for Mac hosts)

[2016-02-09 07:57] pnkfelix commented on #21777
Oh I think I actually did this.

[2016-02-09 08:04] pnkfelix commented on #21777
Yeah fixed by #23535 (the `force-dropflag-checks` switch).

[2016-02-09 08:04] #21777 closed

[2016-02-09 08:29] rthomas commented on #31262
As per @Gankro s suggestion I've put this behind an unstable feature flag `hashmap_public_hasher`.

[2016-02-09 08:37] pnkfelix commented on #21903
@nixpulvis I think the argument for checking type definitions is analogous to our philosophy about other polymorphic code: we don't do C++ style post template-instantiation type-checking;  instead we check the polymorphic code at the definition site (even though both strategies are sound)

Or maybe you are just saying the backwards incompatibility hit won't be that bad?  (To which I say: famous la

[2016-02-09 09:11] dotdash commented on #31501
Closing as a dupe of #25270, thanks for reporting it though!

[2016-02-09 09:11] #31501 closed

[2016-02-09 09:23] glaebhoerl commented on #31436
I agree. This isn't even the first RFC where this has come up (https://github.com/rust-lang/rfcs/pull/1444 is another example). I expect it won't be the last. (Also `default` from #1210, although it's not an RFC I'm in favor of.) I think we need a way to add honest-to-god keywords instead of trying to figure out some way to ad-hoc hack the grammar for every new case.

[2016-02-09 10:50] #31003 closed

[2016-02-09 11:16] michaelwoerister commented on #30330
Well, it seems that the code generating the symbol hash for monomorphized functions is incorporating memory addresses into the hash:
[code]
So, no wonder `:)`
A simple fix would be to do the same as the code in `trans::back::link` and hash the *encoded* types.

[2016-02-09 11:59] glaebhoerl commented on #27719
My sentiments are similar to @tomaka's, for what it's worth. (Although "don't run destructors at all" seems like throwing the baby out with the bathwater.) I really wish we could find a way (and a will) to actually, definitively *solve* these panic-safety issues somehow, not just put a band-aid on them and keep moving forward. But failing that, a band-aid is better than nothing.

[2016-02-09 14:19] SimonSapin opened #31511 "Uniformative error message when casting a thin raw pointer to a fat one"
This is fine:
[code]

This does not compile, but the error message is not particularly helpful:
[code]
[code]

Invalid how? The error message should mention thin vs fat pointers or statically-sized vs dynamically-sized types, and maybe link to https://doc.rust-lang.org/book/unsized-types.html

(To make this a bit less artificial, this came up in FFI code casting `*mut c_void` to a struct containin

[2016-02-09 14:38] pythonesque commented on #27719
@sfackler Isn't the only reason this was even a problem in your code that you did the transmute and `let buf = slice::from_raw_parts_mut(buf as *mut _, len as usize);` outside the recover?  Or am I missing something?  I feel like the entirety of that code being inside the recover would make this just work.  So this doesn't seem like a good argument against the bounds to me.

[2016-02-09 15:07] nixpulvis commented on #21903
@pnkfelix I was really just posting to confirm that I wasn't missing something. The warning sounds a bit scarier than it is in reality. I think this is tangental to #30503, as I do feel having type aliases which aren't check could be useful.

[2016-02-09 16:36] llogiq opened #31512 "extend lint interface with more _post methods"
For clippy's `regex_macro` lint, I made use of a `Visitor` so I could stop clippy from linting the same macro multiple times while being reasonably fast. However, this unfortunately means the lint ignores `#[allow(_)]` .. `#[deny(_)]` attributes below the crate level.

To solve this and other related problems, I propose any of

* allow a lint to check anything from anywhere in the analysis by movi

[2016-02-09 16:38] nagisa commented on #31504
Minimal-ish example:
[code]

[2016-02-09 16:45] nagisa commented on #31504
@nikomatsakis this might be more up your alley than mine.

[2016-02-09 16:52] steveklabnik commented on #29330
I am happy with this now.

[2016-02-09 16:52] #29330 closed

[2016-02-09 16:53] steveklabnik commented on #29369
I am happy with this now.

[2016-02-09 16:53] #29369 closed

[2016-02-09 16:53] steveklabnik commented on #29360
I am happy with this now.

[2016-02-09 16:53] #29360 closed

[2016-02-09 16:53] steveklabnik commented on #29333
I am happy with this now.

[2016-02-09 16:53] #29333 closed

[2016-02-09 16:54] steveklabnik commented on #29428
I am happy with this now.

[2016-02-09 16:55] steveklabnik commented on #29338
I am happy with this now.

[2016-02-09 16:55] #29338 closed

[2016-02-09 16:58] steveklabnik commented on #29345
This was an accidental duplicate of https://github.com/rust-lang/rust/issues/29428

[2016-02-09 16:58] #29345 closed

[2016-02-09 16:58] #29428 closed

[2016-02-09 17:11] arielb1 commented on #31504
This is because `lvalue_ty` does not normalize things. We need to pass an infcx there.

[2016-02-09 17:13] arielb1 commented on #31504
Actually, normalizing will ruin regions, preventing borrowck from running (no, I don't want to run region inference each time). I guess that field expressions will have to store the normalized type.

[2016-02-09 18:29] nikomatsakis commented on #30330
On Tue, Feb 09, 2016 at 03:17:27AM -0800, Michael Woerister wrote:

Oh dear :)

[2016-02-09 18:35] asajeffrey opened #31518 "Failing to use derive for nested types parameterized on associated types"
In this example (https://play.rust-lang.org/?gist=5dde58647c1e97b97f46) there's an error failing to derive `Debug` for `Bang`:

[code]

The error is `error: the trait`core::fmt::Debug`is not implemented for the type`<F as Foo>::Bar`[E0277]`. It works for `Baz`, you only get problems when you nest types parameterized on associated types.