[2020-12-19 05:27] PatchMixolydic commented on #80179
@rustbot modify labels: +A-diagnostics +D-incorrect

[2020-12-19 05:36] PatchMixolydic commented on #80179
This also seems to happen with closures:
[code]

[code]

[2020-12-19 06:08] wecing commented on #78496
@tmiasko ,

[code]

EarlyOtherwiseBranch only applies to basic blocks of which the last statement is a discriminant (and the terminator is a switch):

[code]

And,

[code]

We could require the discriminant read in the second basic block to be the **only** statement within the block. Not sure by how much would the change affect optimization hit rate, but at least the example in #68867 would still

[2020-12-19 07:23] #78957 closed

[2020-12-19 07:41] hiratara commented on #79909
Hello,

I made that crate before only to practice Rust, and it has almost no content. Therefore, we don't need to worry at all if we can't build this crate.

Moreover, as far as I remember, the default value of `recursion_limit` was `64` when I created this crate. Now, I can build the crate if I delete the `recursion_limit` annotation.

[2020-12-19 08:55] SkiFire13 commented on #80176
To me this looks like a variation of #25860 , except it exploits it by implementing a trait instead of taking a function pointer.

[2020-12-19 08:59] Zenithsiz opened #80183 "`NonNull`'s `as_ref` / `as_mut` don't have arbitrary lifetimes as stated"
The docs for [`NonNull::as_ref`](https://doc.rust-lang.org/nightly/std/ptr/struct.NonNull.html#method.as_ref) mention:

Which makes sense, the pointer doesn't carry a lifetime with it, so we need to decide on it. However, the implementation actually looks like this (with implicit lifetimes shown for clarity):
[code]
This makes it so the reference constructed has the same lifetime as the pointer va

[2020-12-19 09:26] SuperCuber opened #80184 "--message-format=short not respected on cargo check"
I ran this command:

[code]

On previous versions, this outputted one error per line.
Instead now, it outputs the same as `--message-format human`.

However, `cargo build --message-format short` outputs as expected.

### Meta

`rustc --version --verbose`:
[code]
`cargo --version --verbose`:
[code]

[2020-12-19 10:13] #79971 closed

[2020-12-19 10:13] #46075 closed

[2020-12-19 10:30] dmit commented on #77708
Just like in #72442, this bug is only present when building in debug mode and with incremental compilation enabled.

If you copy the first example from this ticket to an empty project, then:
* ❌ `cargo build` fails.
* ✅ `cargo build --release` works.
* ✅ `CARGO_INCREMENTAL=0 cargo build` works.

Tested just now with rustc 1.50.0-nightly (f74583445 2020-12-18).

The playground sets [`incremental =

[2020-12-19 10:44] oli-obk commented on #61933
I'll write up instructions and hope that someone will pick it up as a good first issue over the holidays. If not, I'll do it before #80080 gets merged.

0. write `@rustbot claim` in this issue to assign it to yourself
1. cherry pick https://github.com/rust-lang/rust/pull/80080/commits/5e0401f478205aceffb471fd8b94877ef1a70adf to remove the old code
2. change the `vec!` macro in https://github.com/r

[2020-12-19 11:07] tmiasko commented on #78496
If one considers shape of MIR immediately after it has been built, that is probably true. One thing to keep mind: this transformation runs on MIR that have been transformed already. In fact, the whole optimization pipeline might have run an arbitrary number of times as a result of inlining. Transformations shouldn't rely on any invariants that aren't preserved by all transformations.

The `place_o

[2020-12-19 11:43] tomprogrammer opened #80186 "Misguiding help on error "`mut` must be attached to each individual binding""
I tried this code to create a mutable variable binding to `tuple.0` while also dereferencing it in the same pattern. Of course this code is not correct. I think the intention can be guessed because of the order in which `&` and `mut` appear, especially in the parenthesized variant.

[code]

This is the correct code, where the tokens `&` and `mut` are separated by parentheses to avoid parsing as `&

[2020-12-19 11:46] 0dvictor commented on #77857
Sorry again about the delay. I've created PR #80187, which fixes this issue.

[2020-12-19 11:47] sylvestre commented on #79390
I guess the folks who implemented it didn't know that it wasn't uncommon to do
`install /dev/null` (for example: https://sources.debian.org/src/apparmor/2.13.5-1/debian/debhelper/postinst-apparmor/#L9 used in Debian & Ubuntu for evince, cups, libreoffice, passwd, etc)
or
`cp /dev/null` (for example: https://sources.debian.org/src/texlive-bin/2020.20200327.54578-5/texk/texlive/linked_scripts/texliv

[2020-12-19 12:06] pitust commented on #32408
naked functions break with code-model large sometimes: rust decides to put something in rax even before the prolouge which can lead to some... _interesting_ issues.

[2020-12-19 12:17] steffahn commented on #80176
@SkiFire13 Oh, I see. It seems related. Taking some inspiration there for a simplified version:
[code]
<details><summary> And here’s a variant that compiles since rust <code>1.19</code>.</summary>

[code]

</details>

In #25860 it sounds like one of the proposed solutions is to introduce "implicit bounds" to `for<'a> fn(...) -> ...` types.

Since there are no actual higher-ranked types in this exa

[2020-12-19 12:36] jyn514 commented on #80165
unreachable_pub still has bugs after three years: https://github.com/rust-lang/rust/issues/64762. I don't think it should be even warn-by-default until the false positives are fixed.

[2020-12-19 13:15] wfly1998 opened #80188 "`extern` variable cannot read elf symbols"
### Code

For example, create a new binary with `cargo new tmp`, then compile it and use `nm` command to check its symbols, we can see:

[code]

Let's edit `src/main.rs` with:

[code]

Compile and run, we can see:

[code]

If we change `_start` or `_end` to a symbol not existed, error will occur when linking.

In summary, compiler can link symbols with extern variables, but cannot read its value c

[2020-12-19 13:28] LunarLambda opened #80190 "API: Add `err_or` and `err_or_else` to `Option`"
sometimes, particularly when interfacing with C libraries which provide their own errno-like API (`GetLastError`, `SDL_GetError`, etc), Rust bindings may opt to return `Option<ErrorType>` to model the absence of an error.

This could then be 'upgraded' to a `Result<T, E>`, in a manner similar to `ok_or`:

[code]

### pros

* fixes a papercut with error modeling and error handling
* api requires mi

[2020-12-19 13:31] #80188 closed

[2020-12-19 14:08] jyn514 opened #80192 "Document how to set the color for logging output"
It would go in https://rustc-dev-guide.rust-lang.org/compiler-debugging.html#getting-logging-output.

cc @camelid

_Originally posted by @jyn514 in https://github.com/rust-lang/rust/pull/78548#issuecomment-732537267_

[2020-12-19 14:09] RalfJung commented on #53605
Raw pointers and transmute are pretty much equal in terms of "what it takes to make them const-stable".

The next step is to figure out what we want to to with UB during CTFE, for which I recently proposed an RFC: https://github.com/rust-lang/rfcs/pull/3016. The key PR needed to implement that RFC is up at https://github.com/rust-lang/rust/pull/78407.

[2020-12-19 14:41] RalfJung commented on #79597
Btw, given how far-reaching the consequences of this feature are, I wonder if doing this without an RFC is really appropriate. But it could make sense to experiment some more with what can be done for transient vs. non-transient allocations, and how `Global` comes in, so that we have a better idea of the design space.

@oli-obk something is wrong with "implementation history", it links to the same

[2020-12-19 16:08] rafalh commented on #79609
Adding `lto = true` in `Cargo.toml` is a workaround for me.

[2020-12-19 16:15] alilleybrinker opened #80194 "Suggest an enum as a possible option when a trait object can’t be created due to object safety"
When you can't create a trait object due to a trait not being object safe, you have a few options:

- if you control the trait, try to make it object safe (medium difficulty)
- if you don't control the trait, try to get the upstream owner to make it object safe or find an alternative (hard)
- if the set of types you're trying to trait-objectify is closed, use an enum (easy)

Unfortunately, the err

[2020-12-19 16:16] alilleybrinker commented on #80194
For context, this was opened at the suggestion of @estebank on [Twitter](https://twitter.com/ekuber/status/1339724127733645312?s=21).

[2020-12-19 16:59] In-line opened #80195 "Ship standard library with embedded bitcode."
This would allow to do LTO with standard library, reducing sizes of simple CLI applications.

[2020-12-19 17:02] tomprogrammer commented on #80186
I already tried to research how I would improve diagnostics here. These are my notes:

The error is constructed in the `rustc_parse::parser::pat` module. The relevant functions are:

[code]

For the pattern `mut &variable` `pat` should be:

`PatKind::Ref(PatKind::Ident(BindingMode::ByValue(Mutability::Not), ..), Mutability::Not) // (1)`

After `make_all_value_bindings_mutable` it will be (if I my

[2020-12-19 17:08] Mic92 commented on #29596
`.cargo/config` breaks `build.rs` for the flags I want to use. Having a `cargo:rustc-link-arg` sounds like the way to go. I am surprised it was not implemented this way in the first place.

[2020-12-19 18:10] RalfJung commented on #77694
Do we really? The `Deref` check is done in `visit_projection_elem`, which should be called even for the projection in the place in the fake read.

[2020-12-19 18:14] RalfJung commented on #77694
Oh wait, we don't call `super_statement` unconditionally! That seems like... a problem.^^

[2020-12-19 18:38] ehuss commented on #80195
Bitcode should be included in the precompiled binaries:

[code]

Can you explain why you think it isn't, or what problem you are running into?

[2020-12-19 18:47] chengniansun opened #80196 "ICE: compiler/rustc_middle/src/ty/subst.rs:568:17: const parameter `N/#0` (Const { ty: usize, val: Param(N/#0) }/0) out of range when substituting substs=[]"
#### Rustc 1.32.0 does not ICE.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-19 19:09] jackh726 opened #80198 "Extract test where `confirm_auto_impl_candidate` has bound vars"
In #80106, we found that the obligation passed to `confirm_auto_impl_candidate` *usually* doesn't have bound vars. But some code in the docs triggered an assertion. This isn't covered in the test suite right now. I'm going to try to get some time to extract out a test, but filing this in case I can't.

The CI run with the failed build: https://github.com/rust-lang-ci/rust/runs/1579355170

[2020-12-19 19:14] #79902 closed

[2020-12-19 19:27] RalfJung commented on #77694
Proposed a fix: https://github.com/rust-lang/rust/pull/80199

[2020-12-19 20:24] SimonSapin commented on #67057
The `to_int_unchecked` method of `f32` and `f64` were previously tracked at https://github.com/rust-lang/rust/issues/67058 and are stable since 1.44. Technically only their supporting trait is tracked here.

For the wider idea of adding several conversion methods, what’s needed now is someone to champion it. Finalize https://internals.rust-lang.org/t/pre-rfc-add-explicitly-named-numeric-conversion

[2020-12-19 20:30] nikic commented on #80140
IR variant of the above godbolt link is enlightening: https://rust.godbolt.org/z/Wb4dTY

Looks like this is fallout from the switch to pass values smaller than 2 registers by-value. For the array case this ends up requiring a stack copy, because the bcmp is expanded too late to avoid it. For the tuple case the value is passed as an i96 (!!!) and then parts are extracted from it using bit arithmeti

[2020-12-19 20:47] sfackler commented on #80140
That is true, but passing that information to LLVM results in miscompilations IIRC so it's not done by default.

[2020-12-19 20:48] fanninpm commented on #80196
[Playground link of example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=059509fe9147c86bbcdf771c5a1c69c3)

[2020-12-19 20:50] jyn514 commented on #57525
Rather than adding special syntax, I would rather just accept doc-comments on the parameters themselves:

[code]

Then there's no need for special HTML or markdown syntax, it's very clear what text applies to which parameters just by looking at it. I added `A-attributes` because like QuietMisdreavus mentioned, it will require support from the parser to accept attributes in those positions: https:/

[2020-12-19 20:51] jyn514 commented on #57525
This isn't an issue if the syntax is on the argument itself - you'd know when you remove the argument to remove the documentation, because it's right there staring you in the face.

[2020-12-19 21:18] wesleywiser commented on #80060
Yeah it looks like `c()` was inlined which is where one of the counters came from. Is there anyway we could the MIR inliner to support handling coverage statements? For example, could we renumber the counter ids so they are unique again?

If that is infeasible, we should probably just have the inline pass disable itself if code coverage is enabled.

Yeah, I agree! It seems like it will be easier f

[2020-12-19 21:46] MikailBag commented on #74836
Shouldn't this be `I-unsound` as similar to #47949?

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=aa5afcbb47e59595dc6ced846671c47f
is an adaptation of https://github.com/rust-lang/rust/issues/47949#issuecomment-616087084 for this bug.

[2020-12-19 21:46] visigoth opened #80202 "`rustc` does not invoke `ld` with appropriate `-target` for linking a mac catalyst binary"
I am trying to build a Mac Catalyst binary with rust. The compiler supports the `x86_64-apple-ios-macabi` target, but `rustc` does not invoke `ld` correctly. Note that I am building with `xargo` because I need to cross-compile `core` and `std` for the target triple myself (as Mac Catalyst is tier 3 iirc).

I have the simplest possible project hosted here: https://github.com/visigoth/catalystsample

[2020-12-19 21:50] ibraheemdev commented on #60074
Why is this considered conflicting implementations?
[code]

@Nemo157 mentioned that the original example is an is an issue because a closure could implement both `Fn` traits. However, in the above example, that would not be possible, because `Fn` is generic over `Args`, making it impossible to implement `Fn` twice with the same arguments:
[code]

[2020-12-19 21:57] #56379 closed

[2020-12-19 22:17] Stupremee commented on #79865
I've got it down to 280 lines with just some abstractions and the raw SIMD code left

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=84a7bdf70b575fd022a352dcc6f5ac06

[2020-12-19 23:10] tomprogrammer commented on #80186
I managed to solve the issue, let's see what the review brings.

[2020-12-19 23:12] Stupremee commented on #79865
This is the smallest version I can get
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=39e13cba6015a856b6f88526024efd61

[2020-12-19 23:38] thanatos commented on #39959
I think I've found an even nastier reproduction of this. Not only do I get the same (long) error output, but mine didn't even reference a file, or a line… Just the error message, number, and the recursion. That is,

[code]

[Rust Playground Example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c27f0605570c06dffa98b5741a630189)

In my example, there _is_ an error in the c

[2020-12-19 23:43] QuineDot opened #80207 "`!Sized` return type error panics with 'no errors encountered even though `delay_span_bug` issued'"
### Code

[code]

### Meta
Via [the playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9957462c94dc83db6ebe95aa9f408f62) on all of stable, beta, and nightly.

### Error output

[code]

### Credit
[Discovered by rectang as reported on the user forum](https://users.rust-lang.org/t/bounds-when-implementing-a-trait-for-a-trait/52972).

[2020-12-19 23:51] rectang commented on #80207
A further [reduction](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ae8ef2bff4260d2aee0a6118c129e455) clarifies that the bug has nothing to do with std::ops::BitOr.

[code]

[2020-12-20 00:21] wecing commented on #78496
Ah! I misunderstood your point `#1`, but now I get it. You are right.

I think we could resolve your `#1`, `#2`, and `#4` by adding the following restrictions:
1. The discriminant read in the second block must be the only statement in there;
2. The switch must use the value of the discriminant read.

---

But I found that the same effect of EarlyOtherwiseBranch could be achieved through a much eas

[2020-12-20 00:30] SNCPlay42 commented on #80207
This code compiled successfully in 1.44 and earlier. The delay_span_bug it's hitting was added in #70998 [(here)](https://github.com/rust-lang/rust/pull/70998/files#diff-b65997b61ccd8d8e08238c925d631207671aca506e93ce7c5cfa0bec134c0a8eR1376).

@rustbot label regression-from-stable-to-stable A-dst

[2020-12-20 00:34] joshtriplett commented on #72016
@m-ou-se No, when we stabilize `asm!` it should work in every edition. I'm just using "2021 edition" as a general indication of timeline.

[2020-12-20 00:38] camelid commented on #80176
Assigning `P-critical` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2380176.20Segfault.20in.20stable.20and.20nightly.20safe.20rus.E2.80.A6) in the prioritization working group.

[2020-12-20 01:03] erikdesjardins commented on #80140
I thought we removed this comparison because it caused other problems, but the PR languished and died; resurrected in TODO.

[2020-12-20 01:06] camelid commented on #80167
Not sure how severe this is, but figured that it's worth prioritizing.

[2020-12-20 02:20] ThePuzzlemaker commented on #80004
@jyn514 I couldn't find a way to get access to a `Session` or how I even get a `Span` from the lexer. I guess I'll reclaim though.
@rustbot claim

[2020-12-20 02:33] visigoth commented on #80202
I have simplified my sample repository. It no longer uses `xargo` to build. Instead, `-Z build-std` is used. The bug still repros.

[2020-12-20 03:13] ZPTX4869 opened #80214 "Rust-LLDB can't pretty print &mut [T] and &mut Vec<T> both in OS X."
I want to see the slice value in the debug window of vscode. however, it only gave me an address of a referenced vector variable. It's very inconvenient to debug, how can I solve this problem. I also tried terminal use of rust-lldb, it didn't work too.
<img width="449" alt="iShot2020-12-20 02 35 36" src="https://user-images.githubusercontent.com/32222479/102704253-09268d00-42b4-11eb-8e6e-17256dbe8

[2020-12-20 03:18] chorman0773 commented on #53639
I actually have a case that I use an `static mut` that cannot be replaced with a synchronization barrier (otherwise it would be circular). Something like RacyCell is needlessly complicated for the use case and doesn't really solve the burden of proof. It tracks a global reference count of the number of times interrupts have been locked. It's simple enough to reason about, because it's a private, a

[2020-12-20 03:33] jyn514 commented on #79497
@fanninpm rustdoc is crashing, not the compiler itself. Playground doesn't have a button for running rustdoc.

[2020-12-20 03:38] jyn514 commented on #80004
@ThePuzzlemaker you need to follow the call chain up until you get to somewhere that has a Session. If nothing else, run_renderer has one, but I bet you can get it a lot more easily if you find a function with a context of some kind; then just pass the session as an argument until it gets to where it needs to be. (Alternatively, you could just pass the edition instead.)

[2020-12-20 03:44] #79615 closed

[2020-12-20 03:50] ZPTX4869 commented on #80214
![image](https://user-images.githubusercontent.com/32222479/102704681-9b7d5f80-42b9-11eb-9940-2fa3dc832e2c.png)

[2020-12-20 03:56] camelid opened #80216 "Idea: Import `std::iter` in the prelude"
Idea: Import `std::iter` in the prelude so that you don't have to add `use std::iter;` to the top of the file in order to use `iter::once`, `iter::empty`, etc.

`Iterator` is already in the prelude, so things like `vec![1, 2, 3].into_iter().chain(vec![4, 5, 6].into_iter())` "just work", but to do `iter::once(1).chain(vec![2, 3].into_iter())` requires adding an import. Iterators are a fairly core l

[2020-12-20 03:58] jyn514 commented on #79496
MCVE:

[code]

Rustc gives the correct error:
[code]
which is emitted from here: https://github.com/rust-lang/rust/blob/0c11b93f5a8914a40f619b0a1663baafe029d427/compiler/rustc_builtin_macros/src/proc_macro_harness.rs#L120

So for some reason that pass isn't getting run by rustdoc (probably because of the hackery in https://github.com/rust-lang/rust/blob/0c11b93f5a8914a40f619b0a1663baafe029d427/src

[2020-12-20 04:04] jyn514 commented on #79496
Marking as P-low since there are many places where rustdoc assumes its inputs are valid (e.g. all of https://doc.rust-lang.org/nightly/rustdoc/advanced-features.html#interactions-between-platform-specific-docs) and I don't think it's particularly important to handle invalid input, since people learn by running rustc, not rustdoc*.

---

<p style="font-size: smaller;"> *with the caveat that this on

[2020-12-20 04:14] jyn514 commented on #79495
MCVE:

[code]

Rustc gives the correct error:

[code]

I expect this is the same sort of issue as https://github.com/rust-lang/rust/pull/73566#what-changes-were-made where rustdoc ignores errors that the compiler requires to be emitted.

[2020-12-20 04:14] jyn514 commented on #79495
Adding P-low by the same rationale as https://github.com/rust-lang/rust/issues/79496#issuecomment-748559995.

[2020-12-20 04:18] jyn514 commented on #79494
MCVE:
[code]
I expect this is the same sort of issue as https://github.com/rust-lang/rust/pull/73566#what-changes-were-made where rustdoc ignores errors that the compiler requires to be emitted.

Assigning P-low by the same rationale as https://github.com/rust-lang/rust/issues/79496#issuecomment-748559995.

[2020-12-20 04:23] jyn514 commented on #79497
MCVE:
[code]
Marking as P-medium since this happens on valid code.

[2020-12-20 04:26] jyn514 commented on #79468
MCVE:

[code]

where rustc gives the correct error:

[code]

I expect this is the same sort of issue as https://github.com/rust-lang/rust/pull/73566#what-changes-were-made where rustdoc ignores errors that the compiler requires to be emitted.

Assigning P-low by the same rationale as https://github.com/rust-lang/rust/issues/79496#issuecomment-748559995.

[2020-12-20 04:29] jyn514 commented on #79467
I think this is the code crashing: https://github.com/rust-lang/rust/blob/0c11b93f5a8914a40f619b0a1663baafe029d427/src/librustdoc/clean/mod.rs#L1467

Assigning P-low by the same rationale as https://github.com/rust-lang/rust/issues/79496#issuecomment-748559995, but I expect this to be much easier to fix than https://github.com/rust-lang/rust/issues/79495, https://github.com/rust-lang/rust/issues/7

[2020-12-20 04:32] jyn514 commented on #79466
I expect this is the same sort of issue as https://github.com/rust-lang/rust/pull/73566#issuecomment-656954425 where rustdoc doesn't run typeck passes that other parts of the compiler assume have been run.

Assigning P-low by the same rationale as https://github.com/rust-lang/rust/issues/79496#issuecomment-748559995.

[2020-12-20 04:35] jyn514 commented on #79465
MCVE:
[code]
Assigning P-low by the same rationale as https://github.com/rust-lang/rust/issues/79496#issuecomment-748559995, but I expect this to be much easier to fix than the other ICEs that are outside of rustdoc proper.

[2020-12-20 04:39] jyn514 commented on #79461
MCVE:

[code]
Rustc gives the correct error:
[code]

I expect this is the same sort of issue as https://github.com/rust-lang/rust/pull/73566#what-changes-were-made where rustdoc ignores errors that the compiler requires to be emitted.

Assigning P-low by the same rationale as https://github.com/rust-lang/rust/issues/79496#issuecomment-748559995.

[2020-12-20 04:42] camelid opened #80218 "Tracking Issue for `std::io::read_to_string`"
Feature gate: `#![feature(io_read_to_string)]`

This is a tracking issue for the `std::io::read_to_string` function.

The equivalent of `std::fs::read_to_string`, but generalized to all
`Read` impls.

As the documentation on `std::io::read_to_string` says, the advantage of
this function is that it means you don't have to create a variable first
and it provides more type safety since you can only g

[2020-12-20 04:42] ThePuzzlemaker commented on #80004
I guess if I just add it to the `Session::new` function then I can just follow the errors up.

[2020-12-20 04:45] jyn514 commented on #40830
It looks like `flock::new` now returns an error instead of panicking: https://github.com/rust-lang/rust/blob/0c11b93f5a8914a40f619b0a1663baafe029d427/compiler/rustc_data_structures/src/flock.rs#L210. Is anyone still running into this issue?

[2020-12-20 04:46] jyn514 commented on #80004
Wait, I'm confused - `Session::new` isn't part of rustdoc, and the code constructing a session will not be in rustdoc code. I recommend using rust-analyzer and go-to-definition to find all the callers of a function

[2020-12-20 04:47] ThePuzzlemaker commented on #80004
I mean `Classifier::new` or whatever

[2020-12-20 04:54] camelid commented on #80214
In the future, please include the version of `rustc` etc. as text, not as screenshots.

[2020-12-20 04:55] camelid commented on #80214
I'm not sure why you are including this image. Can you please explain?

[2020-12-20 04:58] camelid commented on #80214
`&[T]` (a slice) is just a pointer combined with a length. Quoting [the docs](https://doc.rust-lang.org/nightly/std/primitive.slice.html):

Similarly, a `Vec` is just a pointer and a length and capacity.

I'm not sure if there's anything we can do to pretty print these in a debugger.

[2020-12-20 04:59] ZPTX4869 commented on #80214
Cause It also can't show in vsc debug window, but it should be the same problem. I got, I will replace screenshot to text.

[2020-12-20 05:04] camelid commented on #80196
cc #80077 #69913 #67375 #62708 #71202 #71922 #75153

These are potentially all duplicates :/

[2020-12-20 05:09] ZPTX4869 commented on #80214
Please look at this https://users.rust-lang.org/t/debug-in-vscode-cant-show-the-slice-value/53009/10 The bro works fine when he use rust-gdb, when he use 'p' command it gives detail info of vector. But when I debug, I want to see the actual value contained in vec, what should I do?

[2020-12-20 05:14] camelid commented on #80214
Ah, I didn't know it worked in GDB. Thanks for including that link!

[2020-12-20 06:35] ThePuzzlemaker commented on #80004
It looks like you can change the edition of a code block so I'll just do something like this:
- Highlight 2018 keywords if edition is explicitly set to 2018, don't if it's explicitly set to not 2018
- Highlight 2018 keywords if edition is set to 2018 for a crate and it's not explicitly set in the code block

[2020-12-20 06:52] ThePuzzlemaker commented on #80004
Hm, looks like I'm stuck again. I was able to pass an `Edition` to the `Classifier` but I don't know how to check `Ident.is_reserved` with an arbitrary edition (as to change the edition you'd have to make a `Span`, but I don't know how to get one).

[2020-12-20 06:55] ThePuzzlemaker commented on #80004
I guess I could make a function `Ident.is_reserved_for_edition` and then have `Ident.is_reserved` just call that with the `edition` of the span in the ident

[2020-12-20 07:30] mark-i-m commented on #54883
The 2015/18 edition behavior has merged in #80100.

Does it make sense to start an FCP for stabilization?

[2020-12-20 07:32] ThePuzzlemaker commented on #80004
:) my changes worked, now to test and make sure they didn't bork anything else
`edition = "2015"`:
![image](https://user-images.githubusercontent.com/12666617/102707730-1ff0c380-4263-11eb-81f7-53f4555a2c10.png)
`edition = "2018"`:
![image](https://user-images.githubusercontent.com/12666617/102707744-35fe8400-4263-11eb-9b61-8d3ba8507769.png)

[2020-12-20 07:36] Riey opened #80224 "Crash when pass some invalid format string by proc-macro"
### Code

[code]

### Meta
rustc 1.48.0 (7eac88abb 2020-11-16)
binary: rustc
commit-hash: 7eac88abb2e57e752f3302f02be5f3ce3d7adfb4
commit-date: 2020-11-16
host: x86_64-unknown-linux-gnu
release: 1.48.0
LLVM version: 11.0

it also occured in nightly-2020-11-25

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-20 07:43] Riey commented on #80224
I think generated code is look like this [https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5cdfd6ce2a4a7f68bb9ada9cc63ba62d](url) but it doesn't get ICE just compile error

[2020-12-20 07:44] Stupremee commented on #80167
@rustbot claim

[2020-12-20 08:28] lcnr commented on #80196
closing as duplicate

[2020-12-20 08:28] #80196 closed

[2020-12-20 08:36] lcnr opened #80227 "parse error in `#[feature(...)]` discards all mentioned features."
[code]
and
[code]
Both emit both a parse error and
[code]
Ideally we should still accept the features parsed before that error, so it would be nice to only emit the parse error here.

Split out from #80077, thanks @leonardo-m for opening that issue.

[2020-12-20 08:38] lcnr commented on #80077
The issue seems to be that a parse error in `#![feature(...)]` causes us to ignore that feature annotation, so we actually think you did not specify `const_generics` at all here. Opened the issue #80227 which only focusses on this.

The ICE in your MVCE is a duplicate of #69913 and will be fixed by `min_const_generics`.

closing as duplicate

[2020-12-20 08:38] #80077 closed

[2020-12-20 09:39] matthiaskrgr commented on #69398
@rustbot modify label regression-from-stable-to-stable

[2020-12-20 09:40] matthiaskrgr commented on #69398
@rustbot modify labels: +regression-from-stable-to-stable

[2020-12-20 09:46] matthiaskrgr commented on #80224
Could be the same as cause as  https://github.com/rust-lang/rust/issues/80134

[2020-12-20 09:50] matthiaskrgr opened #80228 "ICE: deref projection of non-dereferenceable ty with -Zchalk"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./59996.rs -Zchalk=yes `
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-20 09:53] matthiaskrgr opened #80229 "ICE: "bad closure kind" with -Zchalk"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-20 09:57] matthiaskrgr opened #80230 "ICE: with -Zchalk and GATs"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc -Zchalk ./62521-2.rs `
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-20 10:01] matthiaskrgr opened #80231 "ICE with -Zchalk in monomorphize/collector.rs (double ICE)"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc -Zchalk ./54108.rs`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-20 10:29] matthiaskrgr commented on #53475
@rustbot modify labels: +regression-from-stable-to-stable

The ICE happens on stable regardless of having the feature gate or not (the ICE does not requires a nightly compiler to reproduce)

[2020-12-20 10:35] matthiaskrgr commented on #58355
@rustbot modify labels: +regression-from-stable-to-stable

Still reproduces with stable/beta/nightly
[code]

[2020-12-20 11:04] matthiaskrgr commented on #71176
The last example that `@casey` linked which does not use a feature gate crashes nightly and beta but not stable.

 @rustbot modify labels: +regression-from-stable-to-beta

[2020-12-20 11:08] oli-obk commented on #79597
The experimentation that @vn-ki has been doing has exposed various problems that aren't even related to heap stuff itself, but are prerequisites. I believe we should keep on doing this experimentation, just to find out what all the problems are and how a possible implementation could look. Doing this in the abstract has not allowed us to realize what the dependency graph actually is and I will be

[2020-12-20 11:11] matthiaskrgr commented on #78671
This crashes in `1.49.0-beta.4` and `1.50.0-nightly` but not `1.48.0`.
@rustbot modify labels: +regression-from-stable-to-beta

[2020-12-20 11:37] matthiaskrgr commented on #78671
The ICE is caused by 08e2d4616613716362b4b49980ff303f2b9ae654 cc @matthewjasper

[2020-12-20 11:48] matthiaskrgr commented on #71176
ICE in
[code]
bisected to 08e2d4616613716362b4b49980ff303f2b9ae654 cc @matthewjasper

[2020-12-20 11:49] m-ou-se commented on #62544
Comments from the stabilization PR:

I've added this as an unresolved question above.

[2020-12-20 12:03] matthiaskrgr commented on #76535
Might be caused by 08e2d4616613716362b4b49980ff303f2b9ae654 (When I check the code without the feature flag, rustc panics on the code since that commit)

[2020-12-20 12:11] matthiaskrgr commented on #78561
Seems related to 08e2d4616613716362b4b49980ff303f2b9ae654

[2020-12-20 12:19] matthiaskrgr commented on #79099
lol, this crashes nightly rustc compilers all the way down to `1.44`, but ONLY  WITH the feature gate. :laughing:
If I remove the feature gate, there is a proper compiler error.

@rustbot modify labels: +regression-from-stable-to-stable

[2020-12-20 13:11] #80116 closed

[2020-12-20 13:17] varkor commented on #80227
Presumably this is the behaviour for attributes in general: if a single item is malformed, the entire attribute won't be parsed. I wonder whether resolving this in general might lead to unexpected behaviour for other attributes.

[2020-12-20 13:18] dzmitry-lahoda commented on #79136
@marcospb19 is it still not solved with current rust?

[2020-12-20 13:24] orangeturtle739 opened #80233 "Rustdoc ICE "Unable to fulfill trait""
This bug occurs with `cargo doc`. `cargo build` works fine.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-20 13:31] jakoschiko commented on #62358
Or
[code]
- The names are similar to `is_some`, `is_ok`, and `is_err`
- There are already functions that end with `_or`, e.g. `map_or`

[2020-12-20 13:40] Michael-F-Bryan opened #80234 "Miri detects MPSC as having UB according to stacked borrows"
While using `-Zmiri-track-raw-pointers` to test provenance on some `unsafe` code I was writing, `cargo miri test` detected possible undefined behaviour according to the stacked borrows model. This makes it impossible to use `miri-track-raw-pointers` flag on an entire test suite.

Steps to reproduce:

[code]

### Meta

[code]

<details>
<summary>(Full Backtrace)</summary>

[code]
</details>

[2020-12-20 14:17] RalfJung commented on #79597
The first three points don't seem really related to heap allocations though?

[2020-12-20 14:25] matthiaskrgr commented on #80233
might be a duplicate of https://github.com/rust-lang/rust/issues/79466

[2020-12-20 14:30] RalfJung commented on #79660
So, given this -- is there even a bug here? One might consider this a Unicode bug, but even that is not clear, and Rust seems to be working as intended by matching what Unicode specifies.

[2020-12-20 14:31] RalfJung commented on #79690
There are quite a few `read_scalar` calls in `try_visit_primitive` that will all have this problem, so ideally they should all be treated this way. To avoid code duplication, it will probably make sense to move this into a helper function.

[2020-12-20 14:36] RalfJung commented on #80158
Allowing unsized `MaybeUninit` is in conflict with ever having proper support for things like "thin trait objects" or user-defined custom DSTs. There, it would be impossible to determine the size of `&MaybeUninit<ThinDst>`.

So, while this could in principle be implemented right now (though it would need a special case since I don't see a way to support unsized union fields in general), this would

[2020-12-20 14:39] mahkoh commented on #80158
How is `MaybeUninit<T: ?Sized>` different from any other `C<T: ?Sized>` in this regard?

[2020-12-20 14:39] RalfJung commented on #80234
Note than an error with `-Zmiri-track-raw-pointers` is not necessarily a bug -- that flag has false positives; that's why it is not enabled by default. In particular, it basically breaks casting integers to pointers and using those pointers for anything.

The error message talks about `<untagged>`, so this looks to me like there is indeed a ptr-int cast going on. Without having checked the code ye

[2020-12-20 14:45] RalfJung commented on #80234
You didn't even show any code... are you saying that the error comes up even for an empty test suite? Hm yeah I can see how that would be annoying.^^

The issue is probably caused by `AtomicPtr::swap`, which performs int-ptr casts. @oli-obk do you think your approach from https://github.com/rust-lang/rust/pull/77611 would also work for this operation?

[2020-12-20 14:47] RalfJung commented on #80158
The difference is that it may not be initialized.Determining the size of an `&ThinDst` requires actually dereferencing the thin pointer, finding the vtable at the target, and getting the size from that. With `&MaybeUninit<ThinDst>`, the pointer might not be initialized. So suddenly, `size_of_val` becomes unsafe *on a reference*.

[2020-12-20 14:59] mahkoh commented on #80158
I had read somewhere that `size_of_val` would not be supported on DST that needs to access the data pointer. Maybe that was outdated information.

That aside, you also said that there would be a problem with unsized union fields. I did not see any such problems so I opened https://github.com/rust-lang/rfcs/issues/3041 yesterday. Maybe leave an explanation there.

[2020-12-20 15:07] XAMPPRocky commented on #79911
Closing, as it's now in relnotes.

[2020-12-20 15:07] #79911 closed

[2020-12-20 15:10] HeroicKatora commented on #80158
Would it be possible to make `MaybeUninit<T: ?Sized>` a _valid_ type but have it be `unsafe` to produce any values of that type? Relaxing the parameter of the type does not necessarily mean relaxing the parameter of all its current methods. Then it would fall onto the caller to proof that `&MaybeUninit<ThinDst>` does not inspect the memory for its size and alignment information. But crucially the

[2020-12-20 15:10] marcospb19 commented on #79136
@dzmitry-lahoda unfortunately no, I expected type aliases to work like this, but maybe it doesn't have this feature.

So I think that this ""bug report"" turned into a ""feature suggestion"" because maybe there's no bug here, it's just the expected.

[2020-12-20 15:12] RalfJung commented on #80158
I mean, this is all hypothetical since custom DST aren't actually a thing.^^ But determining the size will be crucial *at least* to support things like `Box<ThinDst>`. So, `Box<MaybeUninit<ThinsDst>>` becomes an impossibility because `Box` needs to know the size (on drop) but a maybe-uninitialized thin DST does not have a well-defined size.

I don't see how that would help with the size issue. It

[2020-12-20 15:17] HeroicKatora commented on #80158
No, crucially in the same step as that relaxation it could be defined that producing a value `MaybeUninit<ThinDst>`, i.e. a safety invariant of that type, to be safe _only_ if it is safe to ask for its value. That is, it is only safe for DSTs that do not actually inspect the memory representation.

[2020-12-20 15:46] SNCPlay42 commented on #80233
I think there are important differences: this code doesn't use feature gates, and it successfully builds, so rustdoc should be expected to *succeed* instead of erroring or ICE, and the rationale for prioritizing that low (that the input is invalid) doesn't apply.

[2020-12-20 15:48] aidanhs commented on #41517
It looks like Fn trait aliases do not help closure argument type inference, whereas the original trait does:
[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e637bc855969fbac3c6f75c60d0070a1

[2020-12-20 15:59] RalfJung commented on #80158
Having *any* safety (or validity!) invariant associated with `MaybeUninit<T>` entirely subverts the point of that type, doesn't it? The entire point is to be able to handle potentially uninitialized data. Even if we could somehow consistently define all this, now the rules for `MaybeUninit` would be very murky since it *has* to be (patially) initialized in some cases.

[2020-12-20 16:02] rossmacarthur opened #80237 "'allocator_api' error has a higher priority than 'unexpected type argument'"
I tried this code:

[code]

I expected to see this happen:

[code]

Instead, this happened:

[code]

This was very confusing to me, took me a while to figure out what the real error was.

### Meta

`rustc --version --verbose`:
[code]

[2020-12-20 16:05] rossmacarthur commented on #80237
@rustbot modify labels: +A-diagnostics +D-confusing +D-papercut +C-enhancement -C-bug

[2020-12-20 16:21] ahcm commented on #75833
If it is broken, it should not be a choice. A sane additional profile choice including rls and other often used components should be added instead.

[2020-12-20 16:26] Michael-F-Bryan commented on #80234
Correct. I was able to narrow it down to the default `it_works` test.

I had a feeling something like that was going on after your comments on Zulip but thought it might be useful to create an issue regardless.

That way you've got some examples of false positives, and if the issue is recorded elsewhere it's easy enough to close as a duplicate.

[2020-12-20 16:39] yshui opened #80238 "Installer tries create directory outside DESTDIR"
https://github.com/rust-lang/rust/blob/2ad5292aea6328113b55968b4322528d48261316/src/bootstrap/install.rs#L76-L81

This creates the prefix directory without DESTDIR prepended.

[2020-12-20 16:49] oli-obk commented on #79597
They are not, they are prerequisites for `Box::new_in` and whatever things are called by that.

[2020-12-20 17:05] jsjolen commented on #79636
Here's a much smaller test-case (found this bug independently):

[code]

[2020-12-20 17:23] pierwill commented on #80142
@rustbot claim

[2020-12-20 17:25] Lucretiel commented on #75833
Agreed. This is the first I'm learning of the fact that we recommend not using complete *at all*. My understanding from a few years ago was "use complete if you work on rustc or the standard library", which I do, and nothing had ever prompted me to change that understanding.

[2020-12-20 17:29] pierwill commented on #80142
Doing a simple LSP renaming command, got this error:

[code]

There is already a `json::ItemKind` type. Shall we use another name?

[2020-12-20 17:31] pierwill commented on #80142
(See https://github.com/pierwill/rust/blob/85c43c1afd0b0014418329b42bb03bc8f38f6567/src/librustdoc/json/types.rs#L156-L232)

[2020-12-20 17:34] jyn514 commented on #80142
It's not clear to me why `Item` has both a `kind` and `inner` field. @P1n3appl3 do you remember the reason for that?

[2020-12-20 18:20] danielhenrymantilla commented on #65512
Across [this lengthy thread in internals](https://internals.rust-lang.org/t/the-is-not-empty-method-as-more-clearly-alternative-for-is-empty/10612) we can see that there are many people, myself included, who would like for `bool` to feature a `.not()` method that would always be in scope, so as to replace usage of the prefix sigil `!` by a postfix annotation, which is idiomatically superior (_c.f.

[2020-12-20 18:37] P1n3appl3 commented on #80142
In the output we had items be "adjacently tagged" where they store the kind in a separate field instead of having the inner field be like an object with 1 key (the kind) and the inner ItemEnum as the value. Serde has an option to do that adjacent tagging automatically but it didn't work for ItemEnum for some reason iirc so instead we explicitly provide the kind alongside inner.

It's not strictly

[2020-12-20 18:54] HeroicKatora commented on #80158
The notion that `MaybeUninit`'s type is characterized by always being valid under all of its layouts seems useful, yes. The most immediately useful dynamically sized types—`[T]`, `str`, `dyn Trait`—would also have no invariants. What about the possibility of relaxing the type parameter's bound to an `unsafe` trait capturing this condition (where such any impl would require compiler support for dyn

[2020-12-20 18:57] matthiaskrgr commented on #80062
The ice happens since 1.41
@rustbot modify labels: +regression-from-stable-to-stable

[2020-12-20 18:59] matthiaskrgr commented on #79099
The ICE happens since 1.42

[2020-12-20 19:04] matthiaskrgr commented on #80134
This is a regression since `1.46`
@rustbot modify labels: +regression-from-stable-to-stable

[2020-12-20 19:06] matthiaskrgr commented on #78336
@rustbot modify labels: +regression-from-stable-to-stable

[2020-12-20 19:06] RalfJung commented on #80158
So you are basically saying, `MaybeUninit` can be used with *some* unsized types but not all of them?

Something like that could work *in principle*. How practical and ergonomic it would be... that's hard to tell.

[2020-12-20 19:08] matthiaskrgr commented on #67830
This is a regression since `1.28`.
@rustbot modify labels: +regression-from-stable-to-stable

[2020-12-20 19:09] matthiaskrgr commented on #54895
This is a regression since `1.28`
@rustbot modify labels: +regression-from-stable-to-stable

[2020-12-20 19:16] matthiaskrgr commented on #78653
This ICEs since `1.33`
@rustbot modify labels: +regression-from-stable-to-stable

[2020-12-20 19:17] matthiaskrgr commented on #72845
This ICEs since `1.45`
@rustbot modify labels: +regression-from-stable-to-stable

[2020-12-20 19:18] fanninpm commented on #79099
After further review, I can confirm that this does cause an ICE with rustc 1.50.0-nightly (1f5bc176b 2020-12-19) on macOS 10.15. However, both the playground, running 1.50.0-nightly (2020-12-03 5be3f9f10e9fd59ea038) as of this comment, and (for some weird reason) running [glacier](https://github.com/rust-lang/glacier) locally do _not_ cause an ICE. I will note this in an upcoming PR to glacier.

[2020-12-20 19:22] matthiaskrgr commented on #43037
This ICEs since `1.33`
@rustbot modify labels: +regression-from-stable-to-stable

[2020-12-20 19:25] matthiaskrgr commented on #79224
This ICEs since `1.44`
@rustbot modify labels: +regression-from-stable-to-stable

[2020-12-20 19:28] matthiaskrgr commented on #79674
This ICEs since `1.45`

@rustbot modify labels: +regression-from-stable-to-stable

[2020-12-20 19:31] matthiaskrgr commented on #69487
Olis example ICEs since `1.36`.

@rustbot modify labels: +regression-from-stable-to-stable

[2020-12-20 19:33] matthiaskrgr commented on #74282
This ICEs since `1.43`
@rustbot modify labels: +regression-from-stable-to-stable

[2020-12-20 19:36] matthiaskrgr commented on #79949
This ICEs since `1.46`
@rustbot modify labels: +regression-from-stable-to-stable

[2020-12-20 19:37] wabain commented on #77880
It looks like there are a few factors here. One is that `impl Trait` bindings can't have types annotated explicitly. With `#![feature(impl_trait_in_bindings)]` we can get [at least some details](https://github.com/rust-lang/rust/blob/2ad5292aea6328113b55968b4322528d48261316/src/test/ui/inference/cannot-infer-async-enabled-impl-trait-bindings.stderr) in the error, although not as much as would be d

[2020-12-20 19:39] matthiaskrgr commented on #79787
This ICEs since `1.43` and built without error/warning before !
@rustbot modify labels: +regression-from-stable-to-stable

[2020-12-20 19:40] matthiaskrgr commented on #77357
This ICEs since `1.33`
@rustbot modify labels: +regression-from-stable-to-stable

[2020-12-20 19:41] matthiaskrgr commented on #75883
This ICEs since `1.44`
@rustbot modify labels: +regression-from-stable-to-stable

[2020-12-20 19:44] matthiaskrgr commented on #75889
This ICEs since `1.43`.

@rustbot modify labels: +regression-from-stable-to-stable

[2020-12-20 19:53] zserik commented on #60074
@ibraheemdev yes, this is weird... https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f36063e2e6f332af7b6e261d3667bcfe

[2020-12-20 20:02] jyn514 commented on #80142
Hmm, ok. That makes sense, this sounds tricky to fix without changing the stable format. Thanks!

[2020-12-20 20:02] #80142 closed

[2020-12-20 20:12] matthewjasper commented on #71176
#79554 is the proper fix for this. I guess I could put in a temporary fatal error when specifying a GAT in a trait path for now if people think that it is worth it.

[2020-12-20 20:13] alercah commented on #53639
I'm not sure I fully agree---the burden of proof is still very important here. Using `RacyCell` promises that you are guaranteeing that the code won't be accessed in multiple threads concurrently. A synchronization barrier is one way to do that, but not the only way. In this case, you are saying you uphold the guarantee by doing it in an interrupt handler that isn't reentrant. But there is an impo

[2020-12-20 20:41] jyn514 commented on #80233
MCVE (although it panics in a slightly different place):
[code]
[code]

[2020-12-20 20:44] jyn514 commented on #80233
Oh interesting my MCVE is not correct - that panics because the impls are missing:

[code]
If I add those impls, suddenly rustdoc works:
[code]

[2020-12-20 20:46] jyn514 commented on #80233
In fact there are some programs rustdoc accepts that rustc doesn't:

[code]
[code]

[2020-12-20 20:51] jyn514 commented on #80233
Slightly smaller repro:

[code]

[2020-12-20 21:00] Nadrieril commented on #78057
yeah ok there's a complicated path from `const_to_pat` to `check_match`. `PatKind::Error` sounds much more feasible

[2020-12-20 21:08] camelid commented on #80207
Assigning `P-high` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2380207.20.60!Sized.60.20return.20type.20error.20panics.20with.20.E2.80.A6) in the prioritization working group.

[2020-12-20 21:09] camelid commented on #80167
Assigning `P-high` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2380167.20VecDeque.20from.20Vec.20with.20ZST.20elements.20bre.E2.80.A6) in the prioritization working group.

[2020-12-20 21:11] tmiasko opened #80245 "The libcore.rlib size more than doubled since 1.47"
The libcore.rlib size for x86_64-unknown-linux-gnu target:

|Toolchain | MB |
|----------|---:|
| nightly  | 76 |
| nightly* | 20 |
| beta     | 48 |
| 1.48     | 47 |
| 1.47     | 36 |
| 1.46     | 29 |
| 1.45     | 29 |
| 1.44     | 28 |
| 1.43     | 27 |
| 1.42     | 27 |
| 1.41     | 27 |
| 1.40     | 28 |
| 1.39     | 26 |
| 1.38     | 26 |
| 1.37     | 27 |
| 1.36     | 27 |
| 1.35     | 27

[2020-12-20 21:16] camelid commented on #77357
Is this a const generics issue? I can't tell.

[2020-12-20 21:17] camelid commented on #77357
On Zulip:

[2020-12-20 21:17] camelid commented on #77357
Assigning `P-medium` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2377357.20ICE.3A.20cannot.20relate.20bound.20region.3A.20ReLate.E2.80.A6) in the prioritization working group.

[2020-12-20 21:18] lcnr commented on #77357
expect this to get fixed by #79298 once that lands

[2020-12-20 21:18] camelid commented on #79949
This ICE occurs on stable, but to actually *use* the feature that causes the ICE you must use nightly, so I added `requires-nightly`.

[2020-12-20 21:27] camelid commented on #74282
Assigning `P-low` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2374282.20ICE(expected.20defining.20type.20in.20borrowck).E2.80.A6) in the prioritization working group.

[2020-12-20 21:30] camelid commented on #79949
Assigning `P-medium` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379949.20ICE.20when.20attempting.20HRTB.20with.20GATs) in the prioritization working group.

[2020-12-20 21:31] camelid commented on #80245
Not sure if this is a compiler-caused thing or not, so added both T-compiler and T-libs.

[2020-12-20 21:31] camelid commented on #80245
Maybe a lot of monomorphization happening?

[2020-12-20 21:34] camelid commented on #80245
Do we know how much of it is metadata, how much is MIR, how much is LLVM IR, and how much is object code? (Actually I'm not sure what things there are in an `rlib` – there don't seem to be docs on this.)

[2020-12-20 21:34] jyn514 commented on #80245
I expect this has the same cause as the 40% compile time regression, which is the new avx512 intrinsics. https://hackmd.io/bm8_ygc8SFi64MWKZowhWw?both#Regressions

[2020-12-20 21:36] jyn514 commented on #77721
@gyakovlev would this be fixed by https://github.com/rust-lang/rust/pull/80240 ?

[2020-12-20 21:41] camelid commented on #80224
Hopefully will be fixed with #80185.

[2020-12-20 21:45] camelid commented on #80245
@jyn514 Is that #79938? I didn't see anything in the HackMD directly about AVX512.

[2020-12-20 21:53] LeSeulArtichaut commented on #80230
(Backtrace points to [this line](https://github.com/rust-lang/chalk/blob/5f37822ea16d3b7ea00806e5080144f7c197c6e0/chalk-ir/src/lib.rs#L1409))

[2020-12-20 22:03] camelid commented on #69487
Assigning `P-medium` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2369487.20ICE.3A.20The.20type.20checker.20should.20prevent.20re.E2.80.A6) in the prioritization working group.

[2020-12-20 22:11] ldr709 commented on #48055
Will there be any way to do an unsized coercion on an unsized local without using dynamic memory allocation? The RFC didn't seem clear on this point. At the moment, as far as I can tell the only way is to go through `Box` and try to get the compiler to optimize out the memory allocation. For example, if you have
[code]
and want to run it on a known size `FnOnce() -> u32`, you have to convert it li

[2020-12-20 22:12] camelid commented on #69398
Assigning `P-medium` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2369398.20ICE.20issue-36839.2Ers.20could.20not.20fully.20norm.E2.80.A6) in the prioritization working group.

[2020-12-20 22:23] LeSeulArtichaut commented on #58355
Assigning `P-medium` [as discussed as part of the Prioritization WG procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2358355.20Compiler.20panic.20when.20implementing.20recurs.E2.80.A6).

[2020-12-20 22:27] camelid commented on #80098
This is actually a stable-to-stable regression.

[2020-12-20 22:32] camelid commented on #80098
Based on testing with Godbolt, the hang was introduced between 1.46 and 1.47.

[2020-12-20 22:35] camelid commented on #80161
This is interesting: if you change the loop-and-match code to not use match guards, and instead use `if`-`else`, you get the same or a very similar borrow-check error to the `while let` code:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2e805118d3a15e14b7324678ea73083d))

Errors:

[code]

Still not sure if it's a bug though.

[2020-12-20 23:21] tmiasko commented on #80245
Nightly `-Zmeta-stats` for core crate (MIR accounts for 45.3 MB out of 72 MB):

|                       | with MIR | without MIR |
|----------------------:|---------:|------------:|
|             dep bytes | 0        | 0           |
|     lib feature bytes | 10107    | 10107       |
|       lang item bytes | 357      | 357         |
| diagnostic item bytes | 359      | 359         |
|          nat

[2020-12-21 01:11] matthiaskrgr opened #80251 "ICE: "expected exactly one expression""
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-21 01:15] matthiaskrgr commented on #80251
@rustbot modify labels: +regression-from-stable-to-stable

Had to uninstall ~20 gigs of rustc releases again but since this code does not ICE on 1.20 but ices on 1.48.0, this is a stable-to-stable ice.

[2020-12-21 01:28] jryans commented on #62054
I think it may be hard to investigate this issue further without more detail about the code the error came from. @kdy1, is this still an issue for you? If so, can you provide more detail on your code?

[2020-12-21 01:34] ThePuzzlemaker commented on #80102
It does look like they are shown [on the trait](https://doc.rust-lang.org/std/string/trait.ToString.html#impl-ToString-4), just not in a separate blanket impls section

[2020-12-21 01:41] kdy1 commented on #62054
I could make it work by changing version of `swc_common`.

# Step to reproduce:

 - Create two cargo packages in a workspace, one (`A`) depends on another (`B`).

 - From `A`, Depend on an old version of library (e.g. `swc_common = '0.10.6'`)

 - From workspace toml file, use patch to point an old branch (e.g. https://github.com/kdy1/swc/tree/tsc contains `swc_common = '0.10.6'`). Note that latest

[2020-12-21 01:45] ThePuzzlemaker commented on #80179
@rustbot claim

[2020-12-21 03:58] jyn514 opened #80255 "expected struct `cargo_metadata::Package`, found a different struct `cargo_metadata::Package` should note that one is a module and one is a crate"
[code]
It's impossible to tell here whether it found the version from the current module, `crate::utils::cargo_metadata`, or the one from the crate, `::cargo_metadata`. It would be nice to at least say why they might be different, the same way the compiler warns about two versions of a crate.

(I feel like I reported this bug already, but I can't seem to find it.)

[2020-12-21 04:37] jyn514 commented on #72471
I have not run into this in a very long time, I'd be ok with closing it.

[2020-12-21 04:40] jyn514 commented on #73473
This now works!

[2020-12-21 04:40] #73473 closed

[2020-12-21 04:58] ThePuzzlemaker commented on #80179
Function pointers are now working, but it looks like closures will be a bit harder of a task.
[code]
[code]

[2020-12-21 05:01] jyn514 commented on #73445
I still want to fix this; now that https://github.com/rust-lang/rust/issues/73473 is fixed, it's blocked on https://github.com/rust-lang/rust/pull/75176#issuecomment-748757881. I think this has value and is possible to implement so I'm re-opening - just because it doesn't work by default doesn't mean it *has* to never work.

[2020-12-21 05:09] frxstrem commented on #79648
I *think* I came across the same issue, but with a slightly different snippet of code:

[code]

[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=16afa301e9a0fea47f09df3a9b92adf6)

When compiling on stable, I'm also getting the error about `T: Generator<ResumeTy>`.

Curiously, the usage of `join` (or the `join!` macro) seems necessary to trigger the erro

[2020-12-21 05:10] jyn514 commented on #75296
In retrospect I don't think this is a great idea.

[2020-12-21 05:10] #75296 closed

[2020-12-21 05:19] jyn514 commented on #77478
`RUSTFLAGS_BOOTSTRAP=-Zprint-mono-items=lazy x.py build` works for me on master, so I consider this fixed.

[2020-12-21 05:19] #77478 closed

[2020-12-21 06:47] ldr709 opened #80256 "Trait with associated type bounds cannot be made into an object because it uses `Self` as a type parameter"
A simplified example where this shows up is the following trait.

[code]

([Full code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=fa933915af340b6d5597678d6177359b))

If you try to make a trait object, say `&dyn Conversion<Source = String, Target = Box<str>>`, then Rust errors:

[code]

If the bound was something like `Source: Into<Self>` this error would make sense, bu

[2020-12-21 06:58] Ruilkyu opened #80257 "Is there a map[string] interface {} function"

[2020-12-21 07:00] #80238 closed

[2020-12-21 07:00] #77694 closed

[2020-12-21 07:00] #77910 closed

[2020-12-21 07:00] #79843 closed

[2020-12-21 07:00] #80234 closed

[2020-12-21 07:24] osa1 opened #80258 "*const Self method can't be called with *mut Self (arbitrary_self_types)"
Using nightly 2020-12-03, this doesn't build: ([play link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e4ebe15be1085738c05f5ed803e66292))

[code]

Error:

[code]

I think similar to how `&self` methods can be called on `&mut` references, `*const Self` methods should be allowed to be called on `*mut` pointers.

[2020-12-21 09:13] osa1 commented on #80258
Also note that I can assign/move a `*mut` pointer to a `*const` variable just fine:

[code]

[2020-12-21 09:49] jonas-schievink commented on #80257
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2020-12-21 09:49] #80257 closed

[2020-12-21 09:57] #80015 closed

[2020-12-21 10:08] steffahn commented on #79787
@matthiaskrgr Please note that this is not the most typical kind of “regression”. The point being: The code is not supposed to compile anymore, since `UnsafeCell` was changed in a way that makes `Option<UnsafeCell<&T>>` indeed _not_ FFI-safe. And this change was to fix a soundness issue around `UnsafeCell`, so it is considered acceptable breakage.

The only problem that remains is that the code pr

[2020-12-21 10:11] LeSeulArtichaut commented on #80251
This started ICE'ing in 1.30.0.

[2020-12-21 10:45] ldr709 commented on #71695
Here's a small optimization: pick some default alignment, maybe 16, then allocate `size + max(align - default_align, 0)` bytes. If `align >= default_align` then `align % default_align == 0` because they are both powers of two, so the offset required to align to `align` bytes is `i * default_align` for `i < align / default_align`, which is at most `(align / default_align - 1) * default_align = alig

[2020-12-21 11:49] jplatte commented on #71024
Stabilized, this tracking issue can be closed AFAICT 🙂

[2020-12-21 12:19] matthiaskrgr commented on #79787
IMO change from "code was rejected" to "compiler crashes on this code" classifies as a regression.
In this case, there was a stable version which rejected the code, and a later stable version which crashes while dealing with the code.

https://rust-lang.zulipchat.com/#narrow/stream/227806-t-compiler.2Fwg-prioritization/topic/adding.20labels.20to.20stable-to-stable.20regressions/near/220528767

[2020-12-21 12:24] WaffleLapkin commented on #57349
What's the current progress on this? Will mut refs are allowed in `const fn`s in any near future?

The feature was nominated for stabilization almost a year ago, so I assume it's ready for the stabilization?

[2020-12-21 12:33] steffahn commented on #79787
Exactly. I do aggree that a "code was rejected" to "compiler crashes on this code" should classify as a regression.

However, this situation is _not_ "code was rejected" to "compiler crashes on this code", but instead "code was accepted" to "compiler crashes on this code even though it is expected to error now because we had an acceptable breaking chance (bugfix)". There never was an intermediate

[2020-12-21 12:34] oli-obk commented on #57349
We need another implementation change first (making them work in constants, too). I have most of that implemented in a local branch, I am moderately confident I'll get it done over the holidays.

[2020-12-21 12:35] rmja commented on #78459
This ice is still showing up in `nightly-2020-12-21`. We are using it over in `Drone OS` in embedded programming to allocate from heaps located on externally mounted sdram.

[2020-12-21 12:45] bishtpawan commented on #77270
Hi @follower, did you get a chance to review the PR, and can you please help to understand the flow? Actually, I'm unable to update the message from where it is generating.
Thanks

[2020-12-21 12:48] osa1 commented on #80258
If you agree that this is a bug/ something to improve I'm happy to implement/fix this myself. Would be good to know where to start reading the code though..

[2020-12-21 13:05] Alexendoo commented on #79660
Unicode doesn't consider it a bug - https://www.unicode.org/faq/casemap_charprop.html#11

[2020-12-21 13:12] #80186 closed

[2020-12-21 13:14] RalfJung commented on #79660
All right, closing as "not a bug" then. Thanks all!

[2020-12-21 13:14] #79660 closed

[2020-12-21 13:51] RalfJung commented on #66247
These days we use an "miri-implemented FFI function" to trigger unwinding. IMO that's not too bad actually. This issue is also not very actionable. so I propose we close it.

@oli-obk what do you think?

[2020-12-21 13:56] ijackson commented on #79740
Here is another program with weird behaviour:

[code]
#### Output
[code]
Demonstrating that `catch_unwind` returned twice!

I think the solution has to be that in the child process, unwinding must stop at `fork`.  I will send an MR.

[2020-12-21 14:07] oli-obk commented on #66247
I agree. While I have ideas for these kind of "body is runtime code, miri/ctfe run something differently" kind of functions, we don't need to keep something open that is targetted at just the panic hook

[2020-12-21 14:07] #66247 closed

[2020-12-21 14:17] LeSeulArtichaut commented on #80062
I'd be interested in taking a look into this

[2020-12-21 15:25] rbalicki2 commented on #80102
Thanks! I don't know how I missed these. I appreciate the wonderful documentation, and apologize for wasting your time :)

[2020-12-21 15:25] #80102 closed

[2020-12-21 15:32] RalfJung commented on #79597
Is there a separate issue for this? I think this is closely related to some of the other issues that came up over the last year -- where we have a restriction that applies to *the final value of all consts*, but be unnecessarily apply it even during the course of the computation -- since we have no good way to otherwise ensure that the final value is okay. `&mut` references have basically the same

[2020-12-21 15:48] Luis-Hebendanz opened #80265 "build-script-build (signal: 11, SIGSEGV: invalid memory reference)"
I tried this code:

main.rs
[code]
.cargo/config
[code]
linker.ld
[code]
build.rs
[code]
I expected to see this happen:
To build without crashing

Instead, this happened:
When `"-C", "link-args=-Xlinker --script=linker.ld"` is defined and a `build.rs` is defined the command
`cargo build` crashes.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p

[2020-12-21 15:54] jonas-schievink commented on #80265
That linker script doesn't look like it'd result in a usable executable

[2020-12-21 16:02] Luis-Hebendanz commented on #80265
Even a
[code]
does not work. Furthermore if I dump the sections of `build-script-build`:
[code]

And the linker script should not apply to the build.rs file

[2020-12-21 16:07] jonas-schievink commented on #80265
This is working as expected. The configured rustflags are applied to all artifacts built for the specified target.

[2020-12-21 16:11] oli-obk commented on #79597
There is not. I have a local branch that generalizes to all such checks, so we'll be able to just check them on the final value

[2020-12-21 16:16] Luis-Hebendanz commented on #80265
Hmm okay how do I prevent the linker script to be applied to build.rs?  I checked right now, you are right the linker script does not produce a runnable executable.

[2020-12-21 16:38] LeSeulArtichaut commented on #80062
FWIW, this has nothing to do with the `usize` type parameter name. Consider the following code:

[code]

Which gives the following error

[code]

[2020-12-21 16:39] rylev commented on #78671
The following produces the same ICE but with less warnings and errors:

[code]

[2020-12-21 16:43] RalfJung commented on #79597
For associated consts, I assume that's a post-monomorphization error then?

(I know this is off-topic here, that's why I asked if there is a better place.^^)

[2020-12-21 16:43] LeSeulArtichaut commented on #79674
This seems to need unstable features to reproduce? Or did I miss something?

[2020-12-21 16:46] oli-obk commented on #79597
No... this is a static check that is overzealous in the presence of generics and such.

[2020-12-21 16:49] LeSeulArtichaut commented on #80062
Assigning `P-medium` [as discussed as part of the Prioritization WG procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2380062.20ICE.3A.20'index.20out.20of.20bounds.3A.20the.20len.20is.200.E2.80.A6).

[2020-12-21 17:11] RalfJung commented on #79597
Okay, looking forward to it. :) Doing a write-up first before finishing the implementation could also help (but we can also do that later if you prefer... I just think we should do it before landing; "writeup later" hasn't worked out well for us in the past^^).

[2020-12-21 17:26] jyn514 commented on #80102
@ThePuzzlemaker those are shown on ToString, not on Display itself. @rbalicki2 I interpreted the issue as showing the impls on Display, is that what you meant?

[2020-12-21 17:51] tnishinaga opened #80268 "Getting SIGSEGV with `-fp-armv8` features"
I'm getting `SIGSEGV: invalid memory reference` crashes when compiling projects with `-fp-armv8` features.

I got same results on macosx and linux.

I tried this code:

<details><summary>codes</summary>
<p>

`src/startup.rs`
[code]

`.cargo/config.toml`
[code]

`aarch64-unknown-none.json`
[code]

`Cargo.toml`
[code]

`ldscript.ld`
[code]

</p>
</details>

I expected to see this happen:
build sccue

[2020-12-21 18:06] rajputrajat commented on #80117
gdb is not showing any stack.
[code]
same is true with gnu variant of toolchain. also with i686.

rust-lang version is 1.48.0
rustup is 1.23.1
not sure about rustup-init, but it was the one for i686.

Although, binary name says simple_print, but it wasn't.
simple print does actually work fine here.
This one is with rand crate usage.

[2020-12-21 18:29] Aaron1011 commented on #80054
This should be fixed in the latest nightly

[2020-12-21 18:33] SNCPlay42 commented on #79648
One-crate repro: [(playground)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5d34040ca6f83ed9a7c226eaa7ca372e)

[code]

[2020-12-21 19:02] #80265 closed

[2020-12-21 19:28] #71024 closed

[2020-12-21 19:55] ThePuzzlemaker commented on #80179
This brings up some questions though, unfortunately. For example, this code has the same type of issue:
[code]
This code brings up this diagnostic:
[code]
And to be honest, these diagnostics aren't entirely incorrect—that *is* the return type, it's just not valid syntax. Using a function pointer would be taking that unique type and coercing it into a function pointer or non-unique closure type.

A

[2020-12-21 20:20] mankinskin commented on #37653
Will it be possible to define default impls for trait bounded type parameters? e.g.
[code]

[2020-12-21 20:30] tklebanoff commented on #73358
i have this same use case. is there a way to do this without a wrapper struct?

[2020-12-21 20:31] LeSeulArtichaut commented on #80062
I suspect #66014 is the culprit for this regression.

[2020-12-21 20:59] tnishinaga commented on #80268
Sorry, I forgot to add backtrace.

<details><summary>error log on lldb</summary>
<p>

[code]

</p>
</details>

<details><summary>backtrace</summary>
<p>

[code]

</p>
</details>

[2020-12-21 21:37] camelid commented on #80251
This is not supposed to work yet and it gives a good error message saying so -> P-low

Assigning `P-low` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2380251.20ICE.3A.20.22expected.20exactly.20one.20expression.22) in the prioritization working group.

[2020-12-21 21:43] camelid commented on #79674
You can reproduce the ICE on stable, but to actually *use* the code you need to be on nightly. I think `requires-nightly` makes sense here.

[2020-12-21 21:47] nicbn commented on #78457
Fixed by #44073.

[2020-12-21 21:47] #78457 closed

[2020-12-21 21:56] LeSeulArtichaut commented on #80062
I think this is due to rustc trying to access the generics in the `AnonConst` instead of the actual function.

[2020-12-21 22:00] LeSeulArtichaut commented on #79674
Oh, so you need the feature gates, but you can still reproduce it on stable, got it. In that case it is technically not `requires-nightly` since you can reproduce the ICE on stable.

[2020-12-21 22:06] PatchMixolydic commented on #80179
For errors like E0308, it would make sense to state the actual type since that is the root cause of the issue (functions cannot be coerced to `()`). E0121, however, suggests replacing `_` with the type it gives you, which falls apart in the face of these unnameable types. This can be a papercut to people who don't know how to return a function pointer/closure and become confused when the suggestio

[2020-12-21 22:14] camelid commented on #79674
Assigning `P-low` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379674.20ICE.20with.20const.20generics.3A.20asked.20to.20assem.E2.80.A6) in the prioritization working group.

[2020-12-21 22:17] ThePuzzlemaker commented on #80179
I think that I'll probably do this I guess:
- If it's a function, suggest a function pointer, but also add that suggestion about a Fn/FnOnce/FnMut trait bound
- If it's a closure, suggest a Fn/FnOnce/FnMut trait bound as well

[2020-12-21 22:21] LeSeulArtichaut commented on #79977
I'm going to go ahead and close this issue. Feel free to open another issue if you run into a bug again!

[2020-12-21 22:21] #79977 closed

[2020-12-21 22:22] ThePuzzlemaker commented on #80179
Should I link to the [Rust by Example on closure output types](https://doc.rust-lang.org/nightly/rust-by-example/fn/closures/output_parameters.html) or maybe the [`std` documentation for `Fn`](https://doc.rust-lang.org/nightly/std/ops/trait.Fn.html)?

[2020-12-21 22:27] camelid commented on #80268
Maybe a cargo bug based on the backtrace?

[2020-12-21 22:28] camelid commented on #80268
@tnishinaga Can you please provide some sample code that reproduces this crash?

@rustbot label E-needs-mcve

[2020-12-21 22:40] jyn514 opened #80275 "Rustdoc should give an error if you set both `doc(inline)` and `doc(no_inline)`"
Given the following code:
[code]

Rustdoc will generate ![image](https://user-images.githubusercontent.com/23638587/102828782-8c7ad800-43b3-11eb-83d1-7745e149a6f1.png)
This is bogus: rustdoc is ignoring one of the attributes. Instead, it should give an error that you can't apply both attributes to the same item.

Thought of while reviewing https://github.com/rust-lang/rust/pull/80267.

[2020-12-21 23:06] tnishinaga commented on #80268
Sorry, I have a mistake. It may not be cargo bug.

I have retaken the rustc backtrace on my environment.

<details><summary>rustc backtrace on lldb</summary>
<p>

[code]

</p>
</details>

Let me know if you need anything else.

[2020-12-21 23:10] LeSeulArtichaut commented on #80268
Thanks @tnishinaga  for the helpful info. So I guess now it looks like an LLVM issue?

Also, I assume the `asm!()` is needed for the repro?

[2020-12-21 23:10] cauebs commented on #80094
Wouldn't this become obsolete after #65798?

[2020-12-21 23:13] PatchMixolydic commented on #80179
Rust by Example or [The Book](https://doc.rust-lang.org/book/ch13-01-closures.html#storing-closures-using-generic-parameters-and-the-fn-traits) would probably be preferable since they explain Fn, FnMut, and FnOnce in one place, but I'm not certain if there's any precedent or policy about linking to them in diagnostics.

[2020-12-21 23:14] tnishinaga commented on #80268
I got same error without `asm!()` code.
So I assume `asm!()` is not needed for the reproduce.

[2020-12-21 23:31] CryZe commented on #80094
No because iterators don't encode the length in the type, so if you intend to go back to an array you'd have to unwrap.

[2020-12-21 23:51] adrian17 opened #80277 "Suboptimal code generation when using read_exact() on &[u8]/Cursor<&[u8]>"
This basically started with investigating byteorder's `read_u16`-style extensions. They are more or less meant to be used like this:

[code]

You can see that they are implemented in terms of `Read`'s `read_exact` method:
https://github.com/BurntSushi/byteorder/blob/f10179b1c72f80d33f4bedf6ad3cf110ba2dac0a/src/io.rs#L110
And similarly in other projects:
https://github.com/image-rs/image-png/blob/c

[2020-12-21 23:56] leonardo-m commented on #80094
Can't we give arrays a different iterator that encodes the length too? :-)

[2020-12-22 00:34] ThePuzzlemaker commented on #80179
Alright. Does this look good?
Function definition:
[code]
[code]
I'll get closures in a bit, cause my rustc dev build decided to die on me and I have to completely rebuild it :slightly_frowning_face:

[2020-12-22 00:47] tdyas commented on #71733
I encountered a similar rustc panic with that cache code while running clippy. https://github.com/rust-lang/rust-clippy/issues/6493

The issue did not reoccur after I wiped the on-disk cache with `cargo clean`.

[2020-12-22 00:59] PatchMixolydic commented on #80179
👍 Looks good to me, but I'd like to emphasize that I'm not ready a contributor, so take this with a grain of salt.

[2020-12-22 01:26] usbalbin commented on #80094
Wouldn't that be problematic in combination with methods like `filter` or `skip` etc?

[2020-12-22 02:06] ThePuzzlemaker commented on #80179
Closures:
[code]
[code]

[2020-12-22 02:06] ThePuzzlemaker commented on #80179
I think I'm going to remove the `Fn`(`Mut`/`Once`) from function definitions as it's kind of not strictly necessary as it's a return type, not an input param

[2020-12-22 02:25] camelid opened #80283 "Add an intra-doc link disambiguator for fields"
I have code like this:

[code]

This is a decently-common Rust "design pattern" where you have have a private
field but give public read-only access via a method of the same name. However,
there's no way in rustdoc currently to disambiguate between the function and the
field. Rustdoc seems to always link to the method in this case.

It would be good if we had a disambiguator for struct/enum fields

[2020-12-22 02:33] PatchMixolydic commented on #80179
Thank you so much for all of your hard work!

Just a nitpick: [it seems like the note should start with a lowercase letter](https://rustc-dev-guide.rust-lang.org/diagnostics.html#diagnostic-output-style-guide).

[2020-12-22 02:37] camelid commented on #80258
That does seem like a bug, though I'm not super knowledgeable about this so I'm not certain.

[2020-12-22 02:40] ThePuzzlemaker commented on #80179
Yeah, camelid noted that in a Zulip thread related to this so I fixed that.

[2020-12-22 02:42] camelid commented on #80258
@osa1 Looks like the check is performed here:

https://github.com/rust-lang/rust/blob/11c94a197726b6a981828cb1837d7c3eed1b841d/compiler/rustc_typeck/src/check/wfcheck.rs#L1053-L1058

and here:

https://github.com/rust-lang/rust/blob/11c94a197726b6a981828cb1837d7c3eed1b841d/compiler/rustc_typeck/src/check/wfcheck.rs#L1125-L1140

[2020-12-22 02:43] camelid commented on #80258
By the way, a tip is to grep or ripgrep through the source for the name of the feature. In this case, I did `rg 'arbitrary_self_types' compiler/`.

[2020-12-22 02:47] camelid commented on #80255
Looks the error is produced here:

https://github.com/rust-lang/rust/blob/11c94a197726b6a981828cb1837d7c3eed1b841d/compiler/rustc_middle/src/ty/error.rs#L83-L95

[2020-12-22 04:28] pierwill opened #80287 "Check rustc_middle docs for method return type"
Looking at the following method:

https://github.com/rust-lang/rust/blob/9310aff66c3a9d79c92f621c7f7ca3f87ea9f7de/compiler/rustc_middle/src/middle/region.rs#L451-L457

Are the docs here correct that this "returns `Some((span, expr_count))`"? From the code, it looks like the Some case returns a `Some(YieldData)`. Looks like the docs should be updated to reflect the `YieldData` type.

[2020-12-22 04:30] Moggers opened #80288 "ICE On `while Some(_)` instead of `while let Some(_)`"
In the below snippet, I forgot the `let` in `while let Some(_) =`, and this caused an ICE.

### Code

[code]

### Meta
[code]

### Error output

[code]

### Backtrace

[code]

[2020-12-22 05:03] wecing commented on #47321
Is this issue already fixed? Here is the asm output I got using `cargo rustc --release -- --emit asm`:

[code]

WIthout `--release`, the debug build output asm does not inline `read_exact`, though:

[code]

I am using the current stable rustc, 1.48.0:

[code]

[2020-12-22 06:08] wecing commented on #80277
Hi! I left a comment in the other issue -- seems like that issue will not appear when using `--release`.

I tried your benchmark and here are the results I got:

[code]

However, after changing the three `sum_byteorder_cursor_impl*` to let them always read u8 4 times, e.g.:

[code]

I got:

[code]

I think the change is pretty significant compared to the two tests I did not change.

I got differen

[2020-12-22 06:59] jhpratt commented on #80216
How would this interact if there were a local `mod iter`?

[2020-12-22 08:10] leonardo-m commented on #80094
Yeah. We can't have a "filter" there. So only some iterators are possible. But "skip" is doable as long as the number of items to skip is given as a const generics value.

[2020-12-22 10:41] LeSeulArtichaut commented on #80288
This seems to be fixed in both current stable and latest nightly

[2020-12-22 10:43] #80288 closed

[2020-12-22 10:43] LeSeulArtichaut commented on #80288
(For reference, this bug was a duplicate of #77218)

[2020-12-22 10:48] LeSeulArtichaut commented on #80287
I think this doc comment is just outdated, feel free to file a PR updating it

[2020-12-22 10:53] LeSeulArtichaut commented on #80275
I'll take a look at this as a first rustdoc issue :)

[2020-12-22 12:06] oli-obk commented on #80165
`CONST_ERR` has also been `deny` for a few years now (cc @RalfJung )

[2020-12-22 12:07] xNxExOx opened #80289 "Optimizations cause release version to stack overflow"
I write and Advent Of Code solutions and I was using debug builds, but it was too slow for some days, so I tried to get difference for all other days, and found out day 7 of year 2015 does not finish in release build.

After quite a lot of investigation I found out that day 7 is affected by other days.
Commenting out some of the days will make it work.
I am not sure if it is regression, or just no

[2020-12-22 12:07] GopherJ commented on #80151
Hi, I think this can be closed because it doesn't happen to me anymore, thanks

[2020-12-22 12:07] #80151 closed

[2020-12-22 12:11] adrian17 commented on #80277
Weird... calls were indeed appearing in `.s`, but not when I `objdump`'d the built rlib. After I deleted the `target` directory and rebuilt, now the calls are in the built rlib too. Anyway, this is https://github.com/rust-lang/rust/issues/47321 .

But you can notice that even you made a change that made the compiler inline them, the code is still slow, which is what this issue is about.

[2020-12-22 12:13] adrian17 commented on #47321
I can also see this in https://github.com/ruffle-rs/ruffle ; wasm code built with `--release` builds with `read_exact` calls, which shows up on profiles.

[2020-12-22 12:14] RalfJung commented on #80165
CONST_ERR is not an edition lint though, not even a future-incompat lint... not sure how it relates to the discussion here?

[2020-12-22 12:16] oli-obk commented on #80165
it was always intended to become a hard error, before we had the concept of edition lints or anything. I would like to make it a hard error in the next edition

[2020-12-22 12:20] nbliznashki opened #80291 "ICE with "Encountered error `OutputTypeParameterMismatch" on stable rust"
I have encountered an ICE in stable rust, please see the code and error below.  The issue seems to be present also on nightly and also older rust compiler versions like 1.45.

### Code

[code]

### Meta
The ICE happens also on nightly

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-22 12:22] RalfJung commented on #80165
I thought the plan was to make it a future incompat lint first (we can't really say it's "intended to become a hard error" without that having happened), and then eventually make it a hard error *on all editions*? That's the only way we can actually do the cleanup we want to do.

[2020-12-22 12:23] dhardy commented on #71885
Looks like a poor error message to me: if `std` were to add `impl<T> TryFrom<T> for Option<T>` then there would be a conflict.

[2020-12-22 12:32] troiganto commented on #61939
FWIW, the workaround has been pessimized in Rust 1.38. The variant using `unreachable_unchecked()` now produces this assembly:

[code]

[Compiler explorer](https://godbolt.org/z/P93z39)

In other words, there is now no possibility at all to get Rustc to optimize this piece of code correctly down to a no-op.

[2020-12-22 12:51] tivrfoa opened #80292 ""rustc -Z unstable-options --pretty=expanded or.rs" does not create binary"
Hi,

Using `--pretty=expanded` does not create a binary.
This is probably already known, but I think it's bit strange.
I thought that if I'm using `rustc`, then it would create a binary.

[2020-12-22 13:01] jonas-schievink commented on #80292
I think this is working as intended. `--pretty` tells the compiler to produce a different kind of output, similar to `--emit`.

[2020-12-22 13:06] jonas-schievink commented on #80289
Are you sure that this isn't an actual stack overflow? The code is deeply recursive.

Also, please provide more information for how to reproduce the bug. Running `cargo run -p advent_of_code --bin advent_of_code` locally results in compiler errors.

[2020-12-22 13:07] tivrfoa commented on #80292
Hi jonas,

I think `--emit` is a clear command of what should be generated, while `--pretty` it's more like a verbose output.

[2020-12-22 13:10] jonas-schievink commented on #80292
`-v` is for verbose output. Both `--pretty` and `-Zunpretty` output the input source in a different format.

[2020-12-22 13:10] tivrfoa commented on #80292
I think the behavior of `--pretty` is not what most users would expect, but we get used to it.

One thing that maybe could be done is generate a warn in the end if there's already a binary.
Because people might run the old code thinking it's the new code.

[2020-12-22 13:15] tivrfoa commented on #80292
But of course it's just a suggestion.
Feel free to close the issue.
Thanks for your attention. =)

[2020-12-22 13:15] #80292 closed

[2020-12-22 13:38] nbliznashki commented on #80291
if the trait bound on F1 is changed and a lifetime added, then the ICA disappears:

[code]

[2020-12-22 13:43] matled opened #80293 "VecDeque iter+collect causes an infinite loop (1.48.0)"
I discovered that `VecDeque` can produce an infinite loop in an iterator when using iter+collect.

[code demonstrating the issue](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ac094612a9272cbf61eb28dedc5159c0):
[code]

This happens with stable (1.48.0, 7eac88abb). I could not reproduce the issue on 1.50.0-nightly 11c94a197 or 1.49.0-beta.4 877c7cbe1.

I think this may be

[2020-12-22 13:51] tmiasko opened #80294 "rustc is distributed with unnecessary? procedural macros ~60 MB"
[code]

[2020-12-22 13:52] xNxExOx commented on #80289
debug:
[code]

release:
[code]

I did not get any compiler errors.
[code]
what compiler errors did you @jonas-schievink get?

[2020-12-22 14:03] jonas-schievink commented on #80289
[code]

[2020-12-22 14:06] dhardy commented on #48869
Reduced version which still fails (`Bar` replaces `Display`):
[code]
From what I understand, downstream may do this:
[code]
... and now we have conflicting impls of `Bar for &'static S`.

But it does seem like the coherence rule here is too strong, since it would be sufficient to prevent the downstream crate from creating both those impls.

[2020-12-22 14:22] dhardy commented on #48869
This is then essentially the same restriction as #22865: a library may not provide impls which the user could cause to impl. But note that this restriction is not applied uniformly; for example, the following is allowed:
[code]
In the latter case, we simply prevent conflicting implementations downstream (e.g. `impl From<()> for () {}`).

[2020-12-22 14:31] xNxExOx commented on #80289
I commented out all the crates in `Cargo.toml` during one test (before I pushed it), no clue how did it end up in the repo, `git status` say I have no changes. But I fixed it directly in the browser.

[2020-12-22 14:34] CDirkx commented on #66693
For reference: https://github.com/rust-lang/rfcs/pull/3007

[2020-12-22 14:37] jyn514 commented on #80294
@tmiasko do you have the `rustc-dev` component installed? That adds a bunch more crates to the sysroot.

[2020-12-22 14:48] lcnr commented on #80293
Yeah, this looks like the same bug to me :+1: Thanks

marking as `E-needs-test`.

[2020-12-22 15:25] ehuss commented on #80294
I believe these are required in rustc-dev as part of the need for `-Z dual-proc-macros` (#64671).  I'll admit, I still don't fully understand the need for that, as it is quite mind-bending.

[2020-12-22 15:26] tmiasko commented on #80294
They are included in both rustc component and rustc-dev component. The latter are definitely used by for example to build clippy, but I don't see reason for inclusion in rustc.

[2020-12-22 16:24] pierwill commented on #80287
@rustbot claim

[2020-12-22 16:51] Mokuzzai opened #80301 "Recursive function causes undefined behavior in release mode"
In latest rust stable, nightly and beta (tried this in [playground](
https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=36078dc6f58267571b610d5c5556b044)) this code causes undefined behavior.

[code]

In debug mode this simply causes a stack overflow, but with optimization on it returns an uninitialized value.

[2020-12-22 16:55] jonas-schievink commented on #80301
Duplicate of https://github.com/rust-lang/rust/issues/28728

[2020-12-22 16:55] #80301 closed

[2020-12-22 17:23] camelid commented on #80216
I’m not sure, but I _think_ local items take precedence over prelude imports.

[2020-12-22 17:34] jyn514 commented on #69781
This isn't really feasible, rustdoc runs after macro expansion: https://github.com/rust-lang/rust/issues/1998

[2020-12-22 17:41] Darksonn commented on #63037
We have several instances of `#[allow(clippy::needless_lifetime)]` in the Tokio codebase because the version with explicit lifetimes is simpler than the one with all the elided ones displayed. There are many cases where it would be more useful to just not show lifetimes on the method.

[2020-12-22 18:41] alilleybrinker commented on #80194
On further reflection, my list of options was incomplete, as exploiting type-erasure a la `erased-serde` is also a possibility, see [the example here](https://github.com/dtolnay/erased-serde/blob/master/explanation/main.rs). This involves, rather than making the trait object safe, making an erased version of the trait which _is_ object safe, and then implementing the non-object-safe version of tha

[2020-12-22 19:11] SvetlinZarev opened #80303 "VecDeque's Hash::hash implementation is incorrect"
VecDeque's hashcode changes after rotation. In the following example, the VecDeque should be in its original ordering, yet it produces a different hashcode.

I've also opened https://github.com/rust-lang/hashbrown/issues/218 but I was advised to open a new issue here.

**I tried this code:**

[code]

**I expected to see this happen:**
The hashcode should not change and the example should terminate

[2020-12-22 19:13] camelid commented on #80303
What does this mean?

[2020-12-22 19:14] camelid commented on #80303
Ugh, not *another* `VecDeque` bug 😄

[2020-12-22 19:18] camelid commented on #80289
By the way, [it seems that `STATUS_STACK_OVERFLOW` means that the stack is *exhausted*](https://msrc-blog.microsoft.com/2009/01/28/stack-overflow-stack-exhaustion-not-the-same-as-stack-buffer-overflow/) (no space left) not that it overran into other memory.

[2020-12-22 19:19] cuviper opened #80304 "VecDeque hashes differently with ahash depending on how it's sliced"
(via https://github.com/rust-lang/hashbrown/issues/218#issuecomment-749707574)
It seems ahash gets different values for a rotated (non-contiguous) `VecDeque`:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9726490b6330e3dfc8d9066db1eb0ffd))

`Hash for VecDeque` hashes the length and then each part into `Hash::hash_slice`:
https://github.com/rust-lang

[2020-12-22 19:20] cuviper commented on #80304
Ah, @SvetlinZarev beat me with #80304.

[2020-12-22 19:20] #80304 closed

[2020-12-22 19:22] cuviper commented on #80303
I also filed #80304 with code references, but I closed in favor of this issue. My conclusions:

- If both `Hash::hash_slice` and `Hasher::write` may consider length, then `Hash for VecDeque` is incorrect.
- If `Hash::hash_slice` should hash without length, but `Hasher::write` is allowed to use length, then the integer optimization is incorrect.
- If both `Hash::hash_slice` and `Hasher::write` are

[2020-12-22 19:23] camelid commented on #80289
I made a [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=34765bb94bc461001f59f25e58d5799b) with this code and some code that it needs from a dependency that isn't in the Playground.

I haven't yet been able to reproduce the bug though.

[2020-12-22 19:24] LeSeulArtichaut commented on #80303
So ultimately this falls into the `T-libs` realm?

[2020-12-22 19:29] camelid commented on #80289
Here's another [Playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=c764a404ed75b11fbe78b1a40d32a1ba). It has more of the code from the repo. I'm still not able to reproduce the bug, though I did remove the `match`es.

Could this be a Windows-only issue?

[2020-12-22 19:31] camelid commented on #80289
@xNxExOx By the way, please include the *full* output of `rustc --version --verbose` – you only included the first line.

Also, can you try doing some `println!` debugging (or however you want to debug) to find where the stack is overflowing?

[2020-12-22 19:32] jyn514 commented on #63037
So I don't forget, I got halfway through debugging this [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/async.20functions.20show.20elided.20lifetimes) and it has something to do with 'in band lifetimes': https://github.com/rust-lang/rust/commit/749349fc9f7b12f212bca9ba2297e463328cb701. Naively changing this to use the same mechanism as `fn` [runs into borrow check er

[2020-12-22 19:37] Stupremee commented on #80303
@rustbot claim

I will work on this

[2020-12-22 19:38] cuviper commented on #80303
@Stupremee I do think this needs a @rust-lang/libs decision first on the specified behavior.

[2020-12-22 19:39] jyn514 commented on #63037
Funnily enough, this does work with 1.34 if you add enough `#![feature]`s:

[code]
![image](https://user-images.githubusercontent.com/23638587/102926675-70cf0a80-4463-11eb-8330-ab82f2e44e76.png)

So in some sense this is a regression, although you needed nightly to use `async` at the time.

[2020-12-22 19:59] ThePuzzlemaker commented on #79289
Expansion via `cargo +nightly rustc -- -Zunpretty=expanded` shows that this is not an expansion bug or bug in the code:
[code]

[2020-12-22 19:59] ThePuzzlemaker commented on #79289
@rustbot claim

[2020-12-22 20:02] ThePuzzlemaker commented on #79289
Also confirmed on latest nightly:
[code]

[2020-12-22 20:07] cuviper commented on #80303
This may also be suspect if a hasher is endian-sensitive -- e.g. if it would normalize `write_u64` to big/little-endian, but the cast to `&[u8]` always makes it always hash native-endian. But I suppose this is not a problem if you're always consistent in whether you use `hash_slice` or not.

[2020-12-22 20:25] jyn514 commented on #80291
Minimized:
[code]

[2020-12-22 20:34] jyn514 commented on #80291
I think the issue is that the lifetime of `ColumnOutput` is inferred to something other than `'a` - if you change it to `ColumnOutput<'a>` or `O::Output` it works fine.

[2020-12-22 21:07] steffahn opened #80306 "Documentation of wrapping_add/-_sub/-_offset need clarification..."
...about whether pointer arithmetic is allowed to - temporarily - leave the bounds of an object, then go back into bounds and afterwards dereference the pointer.

The question is if code like this:
[code]
is sound or unsound.

The current documentation says:

So it specifies that the resulting pointer “remains attached to the same allocated object that `self` points to”, which suggests that after

[2020-12-22 21:12] steffahn commented on #80306
@rustup modify labels: T-doc, T-libs, T-lang, C-enhancement

[2020-12-22 21:12] steffahn commented on #80306
@rustbot modify labels: T-doc, T-libs, T-lang, C-enhancement

[2020-12-22 21:12] jyn514 opened #80307 "nightly-rustc docs don't include rustdoc in the index"
https://doc.rust-lang.org/nightly/nightly-rustc/ doesn't have a link to https://doc.rust-lang.org/nightly/nightly-rustc/rustdoc/.

### Meta

HEAD is currently at https://github.com/rust-lang/rust/commit/353f3a38460d3c2222d2ab29143f48595b1a32a9.

This is generated with `--enable-index-page`: https://github.com/rust-lang/rust/blob/353f3a38460d3c2222d2ab29143f48595b1a32a9/src/bootstrap/doc.rs#L528

S

[2020-12-22 21:24] steffahn opened #80309 "Miscompilation when using wrapping_sub/wrapping_add on pointer."
[Relevant comment on IRLO](https://internals.rust-lang.org/t/pointers-are-complicated-ii-or-we-need-better-language-specs/13562/25?u=steffahn). The following code leads to `illegal instruction` in release mode. (It works fine, printing `42` in debug mode.)

[code]
Apparently, leaving the object `x` with a `wrapping_sup`, then going back into the object with `wrapping_add` and dereferencing the res

[2020-12-22 21:51] Manishearth commented on #48043
Opened https://github.com/rust-lang/rust/pull/80310

[2020-12-22 21:53] steffahn commented on #80309
Here’s a similar miscompilation, using only safe Rust code
[code]
([playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=0dfc4068120fdee616d2ed88767dc1bc))
[code]

@rustbot modify labels: C-bug, T-compiler
@rustbot prioritize

[2020-12-22 21:54] steffahn commented on #80309
@rustbot modify labels: C-bug, T-compiler

[2020-12-22 22:22] LeSeulArtichaut commented on #80309
After a bit of godbolt testing, this seems to happen since 1.16.0, when `ptr_wrapping_offset` was stabilized

[2020-12-22 22:37] nikic commented on #80309
Reduced: https://llvm.godbolt.org/z/qec9oz

[2020-12-22 22:42] nikic commented on #80309
LLVM bug report: https://bugs.llvm.org/show_bug.cgi?id=48577

[2020-12-22 22:57] svmk opened #80312 "Unable to use const generics in phantom data type. E0747 received"
Unable to use const generics in phantom data type. E0747 received

I tried this code in nightly version:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c1d4b4830d2c8d4d63c543e54865aec4
[code]

I expected that this code will be compiled correctly.

Instead, i received error.

[code]

### Meta
Bug exists also on latest nightly version.

`rustc --version --verbose`:
[code]

[2020-12-22 23:03] Aaron1011 opened #80313 "Rust should explain why a closure call requires a mutable borrow"
The following code:

[code]

produces the following error:

[code]

The expression `callback()` tries to mutably borrow `callback` due to the mutation of `my_var`. However, the error message doesn't explain this.

We should add a note to the error message pointing to the span of the upvar that caused us to need the mutable borrow.

[2020-12-22 23:06] douglascaetano commented on #62633
My two cents on this topic after finding myself wanting to use these APIs:

Besides https://github.com/rust-lang/rust/pull/73077#issuecomment-643754745, I do believe there is value to add `unwrap_none` and `expect_none` methods. I do agree with the argument that we should avoid adding new methods to std, but these seem pretty natural to me.

As for the name of the methods, I believe `unwrap_none`

[2020-12-22 23:14] jonas-schievink commented on #80312
This is working as expected, PhantomData has a type parameter, not a const parameter

[2020-12-22 23:14] #80312 closed

[2020-12-23 00:35] ehuss commented on #80307
Sorry, I neglected to include the flag for both invocations.  Posted #80316 with a fix.

[2020-12-23 01:10] ldr709 opened #80317 "Funtion pointer does not fulfill the required lifetime"
Function pointers have no lifetime of their own, and essentially are `'static` ([Unsafe Code Guidelines Reference](https://rust-lang.github.io/unsafe-code-guidelines/layout/function-pointers.html)), so I would expect `fn(T) -> U: 'a` to hold for any lifetime `'a` and types `T, U`. A function pointer that lived longer than its argument type would be fine, since it won't be possible to make an insta

[2020-12-23 01:17] only-cliches opened #80318 "LLVM ERROR: Function addresses with offsets not supported"
I've ran into an issue with one of my libraries that was preventing it from compiling with `wasm-pack`.  It would otherwise compile just fine with `rustc` to other targets (no compiler errors) but when I would attempt to compile with `wasm-pack` I would get this cryptic error:

`LLVM ERROR: Function addresses with offsets not supported`

No line numbers, no error trace, just that.

After spending

[2020-12-23 01:27] camelid commented on #80283
It would be nice if we had special-casing for the disambiguator so that ``[`field@Foo::bar`]`` renders as `Foo.bar`. That would save a lot of doing ``[`Foo.bar`][field@Foo::bar]``.

[2020-12-23 01:29] Aaron1011 commented on #80054
I'm going to close this - the backtrace is identical to other issues that have been fixed (e.g. https://github.com/rust-lang/rust/issues/79661), and some of the relevant code was rewritten in https://github.com/rust-lang/rust/pull/80177. If this re-occurs, feel free to reopen the issue.

[2020-12-23 01:29] #80054 closed

[2020-12-23 01:35] camelid commented on #80318
I and other people would like to reduce the use of `as` (cc #79477 and [RFC 2484](https://github.com/rust-lang/rfcs/pull/2484)), but that's a big undertaking and unlikely to happen soon. You should probably be using `try_into().unwrap()` instead of `as` so that your code panics if the value doesn't fit. In this case what you're doing is probably fine, but in general using `as` will cause the numbe

[2020-12-23 01:38] only-cliches commented on #80318
I've been working in `no_std` so long it's become a habit!

Thanks for the reply, at the very least hopefully the [next person to run into this has a head start on troubleshooting](https://github.com/rust-lang/rust/issues/60916).

[2020-12-23 01:41] camelid commented on #80317
Note that changing the function pointer to take an `&'a u32` instead of an `&'b u32` compiles successfully. This seems to further indicate that the lifetime of the function is bound by the lifetimes of its arguments.

[code]

[2020-12-23 01:42] Mark-Simulacrum commented on #80318
This isn't a type error, I think, because u16::max is getting coerced into a function pointer which can then be cast into usize without any truncation. I'm a little surprised that the coercion occurred in that context but in any case that's not really the underlying cause of the bug here, I suspect.

[2020-12-23 01:45] only-cliches commented on #80318
Agreed, after further investigation It has something to do with casting a function into a usize, then adding or subtracting some value from that usize.

[2020-12-23 01:52] jyn514 commented on #80317
I don't think this is actually a bug. You've explicitly constrained the lifetime to `'b`, which in fact doesn't outlive `'a`. If you remove `'b` then it works fine: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f2bb3ba99563aec02087e6391130b2f1

[2020-12-23 02:01] ldr709 commented on #80317
Yes, `'b` does not outlive `'a`. But it doesn't make sense for `fn(&'b u32)` to be bound by the lifetime `'b`, since it's a function pointer, and lives for the whole execution. There does not seem to be sufficient documentation for lifetimes to be able to say that the compiler is violating a specification or something like that, so in the absence of such I'm guessing based on the semantics of what

[2020-12-23 02:06] jyn514 commented on #80317
Oh I may have misread - `'b` is the lifetime of the *parameter*, not of the function pointer itself. Yeah, this behavior is pretty confusing then.

[2020-12-23 03:27] camelid commented on #80101
I figured out that the reason it has weird formatting is that rustdoc will render functions like

[code]

if the one-line version would be over 80 characters.

This is the code that does that conditional formatting:

https://github.com/rust-lang/rust/blob/969b42d8c0e44c6b895ab4582b5ae0a0ce319fdf/src/librustdoc/html/format.rs#L1064

[2020-12-23 03:35] #74824 closed

[2020-12-23 03:35] #80287 closed

[2020-12-23 03:39] Pand9 opened #80321 "Internal compiler error during compilation - a nice message with compiler sourcecode line number"
I got the error below. The compiled project is pretty big, there is no way to include it. The compiled code has started compiling again after `cargo clean`. I'm submitting because of a nice log message encouraging me to do so.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

UPDATE:
Got this problem again, this time there is some more:
[code]

I'm updating to today's night

[2020-12-23 03:48] camelid commented on #75342
I finally have enough knowledge to fix these!

[2020-12-23 04:03] Aaron1011 commented on #80321
This looks like a duplicate of https://github.com/rust-lang/rust/issues/80054, and should be fixed in the latest nightly.

[2020-12-23 04:38] camelid commented on #80321
Actually I think it's a duplicate of #79661. I'm closing the issue, but definitely re-open if it happens again!

[2020-12-23 04:38] #80321 closed

[2020-12-23 05:28] landaire opened #80326 "Using doc comment at end of line triggers inner attribute error"
I tried this code:

[code]

I expected to see this happen: the code should compile

Instead, this happened: the code does not compile with an error.

[code]

This behavior surprised me since I tripped this compiler error after I commented out the right-hand side of a condition expression. IMO the error should either be clear that this is being parsed *as a doc comment* or should interpret this as

[2020-12-23 06:05] camelid commented on #80313
So it looks like this is the function that needs to be modified:

https://github.com/rust-lang/rust/blob/89886e69369b845463cf1b27abd536ce3adb7c78/compiler/rustc_mir/src/borrow_check/diagnostics/mutability_errors.rs#L23-L30

It seems I might be able to get the information I need from `self.used_mut_upvars`?

[2020-12-23 06:13] camelid commented on #80313
Actually, `self.used_mut_upvars` won't work here because it's only used when we're borrow-checking the closure, not uses of it (`self.used_mut_upvars` is empty in this context).

[2020-12-23 06:25] xNxExOx commented on #80289
@camelid you misunderstand me the problem is not that days code. I think that `y2015\mod.rs::solve_day` have the match and all the `solve` methods inside in-lined, so they all share same stack.
if I comment out `//mod day_01;` and `//1 => day_01::solve(),` and every other except day 7 it works. I did not try all of the possible combinations(25!), but from my tests it seems that when 13-16 days exi

[2020-12-23 06:34] jyn514 commented on #79139
Since #80090 this can be done in render directly.

[2020-12-23 09:24] osa1 commented on #80258
Is this comment relevant to this issue?

https://github.com/rust-lang/rust/blob/463ce4042835526f0bd7bf50d6905ed7e2004a2e/compiler/rustc_middle/src/ty/sty.rs#L1991-L1992

Removing the `if explicit` guard in the pointer case in that code does not make any difference for this issue.

[2020-12-23 10:26] osa1 commented on #20267
A use case for this is when I have a `no_std` static library (i.e. `staticlib` crate type, I build it to `.a` and link it with external code), but I also want to use it in another Rust executable create for testing and want to use `std` in the testing crate. So I generate both `staticlib` and `rlib`.

To be able to generate `.a` (`staticlib`) I need to define a `panic_handler` but if I do that I c

[2020-12-23 11:26] tmiasko commented on #80059
A few more examples:

[code]

It also affects behaviour of borrow checker, allowing following, which was disallowed back in 1.21:

[code]

[2020-12-23 12:47] apiraino commented on #78671
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/search/78671) and removing `I-prioritize`.

[2020-12-23 12:59] steffahn commented on #80309
Simplified the `vec` example:
[code]

[2020-12-23 13:47] apiraino commented on #80309
Assigning `P-critical` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2380309.20Miscompilation.20when.20using.20wrapping_sub.2F.E2.80.A6) and removing `I-prioritize`.

[2020-12-23 13:49] apiraino commented on #80098
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2380098.20rustc.20infinite.20loop.20on.20unbounded.20type.20r.E2.80.A6) and removing `I-prioritize`.

[2020-12-23 14:37] 3Shain commented on #57983
any update?

[2020-12-23 14:58] fxcoudert commented on #79280
@felixbuenemann we introduced this cross-compiling in the Homebrew formula on your advice, but we get the same failure: https://github.com/Homebrew/homebrew-core/runs/1600594570?check_suite_focus=true

Is there a clear reason why it does not work? A way to fix it, or do we simply remove (unworking) Apple M1 support?

[2020-12-23 15:19] felixbuenemann commented on #79280
@fxcoudert I also got the error when re-running, but haven't yet tracked down why it worked before.

I'll try to find some time to dig into it.

[2020-12-23 15:31] masklinn commented on #79710
I don't know about admonitions specifically but there seems to be something of a community habit to use "magic tags" on fenced code blocks for this sort of features (e.g. github has a `suggestion` tag), maybe that could be an option? I don't know if pulldown_cmark has a hook for manipulating code blocks but…

So a warning would be

[code]

or maybe the tag would be `admonition:<type>` to leave roo

[2020-12-23 16:09] rossmacarthur opened #80332 "False positive on `no_std` for `unconditional_recursion` lint"
I tried this code:

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=71ed3d2cb8eeedd2386b80a4eb9e57da)

[code]

I expected to see it compile with no warnings.

Instead, the following lint was triggered

[code]

This is a false positive because

[code]

works completely fine and does not keep recursing.

### Meta

At the time of opening this issue this lint was i

[2020-12-23 16:15] rossmacarthur commented on #80332
@rustbot modify labels: +A-diagnostics +A-lint T-compiler

[2020-12-23 16:23] pickfire opened #80333 "Improve diagnostics for multiple `use` wildcards"
I tried this code:

[code]

I expected to see this happen: Import from wildcard of wildcard

Instead, this happened: It errors saying expected semicolon, then I realized that multiple `*` is not supported, but the error message should show that only one wildcard is supported.
[code]

And then I tried
[code]

But I got another error
[code]
Which I guess using only one wildcard isn't true.

### Meta

[2020-12-23 16:25] rossmacarthur opened #80334 "No documentation for primitives in `core`"
There is no documentation for primitives in `core`, the only documentation exists in `std`. I don't think there is any reason for a user to assume that all associated functions and methods on primitive types that are available in `std` are also available in `core`.

Some confusing things:
- The primitives are not listed in the crate root. [See here](https://doc.rust-lang.org/core/index.html)
- The

[2020-12-23 16:28] rossmacarthur commented on #80334
@rustbot modify labels: +C-enhancement +T-doc +T-rustdoc +A-rustdoc-ui

[2020-12-23 16:44] Qwaz opened #80335 "API soundness issue in join() implementation of [Borrow<str>]"
A weird `Borrow` implementation that returns a different result for each call can create a string with uninitialized bytes with [join()](https://doc.rust-lang.org/std/primitive.slice.html#impl-Join%3C%26%27_%20str%3E) implementation of `[Borrow<str>]` type.

The problem is in [`join_generic_copy`](https://github.com/rust-lang/rust/blob/3ffea60dd5a2260004cc4f487401ae7c7db1aa0e/library/alloc/src/str

[2020-12-23 16:50] SNCPlay42 commented on #80332
This is in fact correct: there is no `abs` method for `f64` in `core`, only in `std`, so in a `#![no_std]` context `f64::abs` refers to the function you have written. If you look at the assembly for the code given on [Godbolt](https://rust.godbolt.org/z/rW58Pb) you can see that the function is indeed calling itself.

[2020-12-23 16:53] KalitaAlexey opened #80336 "unstable fingerprints for optimized_mir"
### Code
[code]

### Steps
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-23 17:06] bjorn3 commented on #59222
The "`#[panic_handler]`" of libstd does more than just print a panic message and backtrace. It is also responsible for starting unwinding, which can't be done on stable in any other way. Because of this overriding `#[panic_handler]` is not useful for color-backtrace.

[2020-12-23 17:10] #80332 closed

[2020-12-23 17:30] LeSeulArtichaut commented on #80335
Assigning `P-high` [as discussed as part of the Prioritization WG procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380335.20API.20soundness.20issue.20in.20join().20implementation.20of.20.5BBor.E2.80.A6).

[2020-12-23 18:42] camelid commented on #79710
Hmm, but `suggestion` is still for code, even if it has some extra behavior.

Aside from the design concerns, this would be feasible to implement: we just extract the language string from the code block with pulldown.

[2020-12-23 18:48] camelid commented on #80258
I’m not certain, but I don’t think so. The issue is not about deref but about pointer covariance (at least I think that’s the right word!). But I’m not knowledge enough to know where the issue is.

I recommend asking in the t-compiler/help stream on Zulip. Someone more knowledgeable about this part of the compiler can help you there.

[2020-12-23 18:58] rossmacarthur commented on #80332
@SNCPlay42 Ah I see, woops. I think I got confused. Could you explain to me why `cargo test` works here

[code]

But `cargo build` fails here

[code]

Does cargo force linking to `std` when using `cfg(test)`?

[2020-12-23 19:00] Aratz opened #80338 "Wrong value gets pushed back in VecDeque after `make_contiguous` is called"
Hi!

While playing around with VecDeque, I encountered what seems to be a rather specific bug with the following code (if you're wondering, it's related to day 22 from Advent of Code):

[code]

As far as I understand, the last line should  always be true, and in fact if I comment out `v.make_contiguous()` or if I insert the elements in a different order, or if I insert one value less, or one value

[2020-12-23 19:05] Mark-Simulacrum commented on #80338
Probably fixed by https://github.com/rust-lang/rust/pull/79814; marking as unsound but closing.

[2020-12-23 19:05] #80338 closed

[2020-12-23 19:18] mahkoh commented on #63291
I believe https://github.com/rust-lang/rust/pull/80273 would make some of these (except for Box) unnecessary because Box can be converted to Rc at zero cost.

[2020-12-23 19:48] cynecx commented on #69939
I had to switch over to using a `Vec` because I couldn't efficiently insert multiple items into a `VecDeque`. Having a splice method would've been really useful. If I can find some time these days, I might be able to work on a PR.

[2020-12-23 19:56] #79904 closed

[2020-12-23 19:56] XAMPPRocky commented on #79904
Now in relnotes.

[2020-12-23 20:15] jyn514 commented on #80334
Duplicate of https://github.com/rust-lang/rust/issues/73423. See also https://github.com/rust-lang/rust/issues/62909.

[2020-12-23 20:15] #80334 closed

[2020-12-23 20:16] #79929 closed

[2020-12-23 21:11] LeSeulArtichaut commented on #80268
@rustbot ping llvm

[2020-12-23 22:25] pierwill commented on #80255
@rustbot claim

[2020-12-23 22:51] camelid commented on #80255
@pierwill Note that this issue will likely be tricky to fix!

[2020-12-23 23:02] Elrendio commented on #70142
Hello everyone !

It seems I'm a bit late to the debate but the warning on the use of flatten was published in rust 1.48.0, aka one month ago.

# Recap

I believe `flatten` should convert the error with bound `E2: From<E1` et here's my implementation proposal:

[code]

# Explanation

## Context

I work at [Stockly](https://stockly.ai/), a startup doing mostly web development and to better managed

[2020-12-24 00:48] pierwill commented on #80255
Flew too close to sun again.

[2020-12-24 00:50] kno10 commented on #50906
This is *not* just on Windows.
Same problem on Linux if you don't use dark background (research says, black text on white is better: https://ux.stackexchange.com/a/53268 ).
With a white terminal, the current color scheme is really bad:
![rustcolors](https://user-images.githubusercontent.com/3997899/103046913-2ac09680-458a-11eb-9f73-83b24052de50.png)
can you read any of the yellow text? I can't.

P

[2020-12-24 01:32] #63405 closed

[2020-12-24 02:03] camelid commented on #80255
That's okay! I've been working on rustc for months now and I don't think I know how to fix this issue :)

[2020-12-24 02:06] zimond commented on #73755
So is there a possible working solution for this?

[2020-12-24 02:18] camelid commented on #80336
@KalitaAlexey Can you please try with a recent nightly and see if it works? E.g. try with 2020-12-22.

[2020-12-24 04:46] camelid commented on #79139
@jyn514 I feel a bit confused: it seems that there are two `impl Clean`s, one for `hir::Visibility` and `ty::Visibility`. What's the difference between those, and which one needs to be changed or do both? It seems like the impl for `hir::Visibility` is used in 5 places, while the impl for `ty::Visibility` is used in 2 (I got this information by removing one and then running `./x.py check` and then

[2020-12-24 04:53] camelid opened #80345 "`rustc_macros` is not in rustc API docs"
Maybe because it's a proc-macro crate? It's not on the crate index list, nor is it in the search index, and https://doc.rust-lang.org/nightly/nightly-rustc/rustc_macros doesn't exist.

[2020-12-24 05:45] camelid commented on #79139
Actually it seems like the part that needs to be changed is `clean::Visibility::print_with_space`? Or should I be adding more variants to `clean::Visibility` for `pub(self)`, `pub(super)`, etc.? Probably adding more variants would make the code worse, so I'm guessing I shouldn't do that.

[2020-12-24 05:53] not-a-seagull commented on #49733
Here's a small, maybe naive, idea. Considering how #73394 was used to "pseudo-stablize" #64490, what if we had a macro that wrapped around `box` syntax? For instance:

[code]

[2020-12-24 09:29] hyd-dev commented on #76001
As the above checkbox has been checked and both #77124 and #78116 have been merged, I assume this feature is fully implemented. Why is it still [in the `INCOMPLETE_FEATURES` list](https://github.com/rust-lang/rust/blob/5b104fc1bdd5b35891614ad9163ebef31442cc0c/compiler/rustc_feature/src/active.rs#L646)?

[2020-12-24 09:40] WaffleLapkin commented on #63291
@mahkoh it can't, it requires reallocation b/c `Rc` need to store the counter in the same place as the data: https://github.com/rust-lang/rust/blob/5b104fc1bdd5b35891614ad9163ebef31442cc0c/library/alloc/src/rc.rs#L1049-L1069

[2020-12-24 09:48] pravic commented on #42202
The same question.

cc @dtolnay to route this to an appropriate person.

[2020-12-24 10:04] KalitaAlexey commented on #80336
[code]

[code]

[code]

[2020-12-24 10:13] triscuitcircuit opened #80346 "Docker Preview M1 rustc "error: internal compiler error: unexpected panic""
### Code

[Github code I was looking at](https://github.com/saschagrunert/webapp.rs)
note: I switched "CONTAINER_RUNTIME" to docker

### Meta

`rustc --version --verbose`:
### Docker M1 Preview rustc
[code]
### Host rustc
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-24 10:51] oli-obk commented on #77563
Closing as working-as-intended. Sorry about the accidental stabilization. We're working on more convenient ways to do the same thing.

[2020-12-24 10:52] oli-obk commented on #76001
I think that's just an oversight, we should remove it from the incomplete features list.

[2020-12-24 10:56] RustyYato commented on #63291
@WaffleLapkin yes, the entire point of that PR was to allocate enough space for the counters to make this conversion zero cost. This does add a little overhead to `Vec`, but that's fine because it will eventually be converted to a `Rc`/`Arc` without copying everything.

[2020-12-24 10:59] hyd-dev commented on #76001
@oli-obk I'm willing to submit a PR, so I can use this in my code without warning.

[2020-12-24 11:03] apiraino commented on #79224
Assigning `P-low` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/search/79224) and removing `I-prioritize`.

[2020-12-24 11:06] apiraino commented on #80161
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2380161.20Bug.20in.20borrow.20checker.20with.20'while.20let') and removing `I-prioritize`.

[2020-12-24 11:12] oli-obk commented on #76001
Great! Feel free to `r? @oli-obk` it

[2020-12-24 11:47] jonas-schievink commented on #80346
Please check if this still happens on the newest nightly

[2020-12-24 12:01] Amanieu commented on #48556
I'm going to reopen this issue. SIMD was only stabilized on x86/x86_64, not on other architectures.

[2020-12-24 12:02] Amanieu commented on #32408
@pitust Can you provide an example to reproduce this? This is most likely a bug in LLVM.

[2020-12-24 12:04] nidhinmahesh commented on #44523
Facing a similar issue as above but I am not using this package. Issue might be caused by some other package but I am finding it difficult to find the error:

[dependencies]
actix = "0.10.0"
actix-web = "3.3.2"
actix-cors = "0.5.3"
actix-service = "1.0.6"
actix-http = "2.2.0"
blob-uuid = "0.4.0"
chrono = "0.4.6"
diesel = { version = "1.4.5", features = ["chrono", "postgres", "r2d2", "uuidv07", "se

[2020-12-24 12:13] mahkoh commented on #63291
@WaffleLapkin See the commit message of https://github.com/rust-lang/rust/pull/80273/commits/8dc7b0caf141a992e573df470230f2ea2056061f

[2020-12-24 13:39] chorman0773 commented on #49733
I'm working on a competing compiler to rustc, and I am particularily aiming to make `Box` not magic (the current impl is not even a lang item. It uses an unstable `DerefMove` trait and an internal attribute for moving out of boxes). I would support the proposed macro, certainly over  (and I have written an implementation of it to that effect).
I'm curious about the extent of the mandatory move-eli

[2020-12-24 14:23] codeflo opened #80351 "ICE on stable and nightly: [codegen_fulfill_obligation] checking if `std::ops::FnOnce` fulfills its obligations"
I encountered the following ICE while working on a task queue where the tasks can query for different resources.

Below is a small example. The ICE doesn't seem to be triggered by dead code, which is why I included a main function.

Edit: The following output is from nightly, but I get the same error on stable (rustc 1.48.0 (7eac88abb 2020-11-16) running on x86_64-pc-windows-msvc).

Edit 2: I was

[2020-12-24 14:23] jyn514 commented on #79139
@camelid yes, I think the changing `print_with_space` is the best approach now that there's a `TyCtxt` in render; that's the main reason I didn't fix this before. Basically change this match to check for more cases: https://github.com/rust-lang/rust/blob/c34c015fe2710caf53ba7ae9d1644f9ba65a6f74/src/librustdoc/html/format.rs#L1094-L1096

The reason there's two different `Clean` impls is because bot

[2020-12-24 16:56] ehuss commented on #80345
Proc-macro documentation is stored in a different directory when `--target` is used.  There is a little more discussion of this at https://github.com/rust-lang/cargo/issues/7677.  It is not clear how feasible that is to fix.

[2020-12-24 20:01] ejmahler commented on #63567
What stands in the way of stabilizing this?

[2020-12-24 20:20] steveklabnik commented on #64086
Triage: no change

[2020-12-24 22:53] SmedbergM commented on #80293
Very nice MWE, significantly simpler than the one in https://github.com/rust-lang/rust/issues/79808.

[2020-12-24 23:22] wabain commented on #71538
This seems to have improved between 1.48.0 and 1.49.0-beta.5. Now we get:

[code]

`T` comes a bit out of nowhere (the `Into` trait declaration) and there could probably be some suggestions or help around how comparisons desugar, but the message is substantially correct.

[2020-12-24 23:29] pJunger commented on #34701
Thank you very much for this implementation! I've got it to work & the results look really good!
I have a question regarding coverage of derived traits: What exactly does it mean that [a trait is not covered](https://pjunger.gitlab.io/dlt-proto/cov/coverage/src/types.rs.html#L8)?
Are functions uncovered? Regions inside those derived functions?

[2020-12-24 23:31] jyn514 commented on #80345
Bootstrap can work around this the same way docs.rs does, by moving `compiler-doc/x86_64-unknown-linux-gnu/rustc_macros` to `compiler-doc/rustc_macros` manually.

[2020-12-24 23:36] jyn514 opened #80359 "Consider returning `&mut T` from `Vec::push` and `insert`"
I just reviewed some code that would look like this:

[code]

It would be nice for `push` to return a `&mut T` so that we can avoid the unwrap:

[code]

I think this should be backwards compatible? I guess it could break things like
[code]
but that seems like pretty strange code to write.

https://gankra.github.io/blah/linear-rust/#must-be-used-at-least-once

[2020-12-25 00:17] John-Nagle commented on #62633
I'd argue for **expect_none** and **unwrap_none** as standard. Having them as optional "features" is a strange limbo state. That creates confusion as to whether they're staying around or going away.

Using "assert!" around an expression which must be executed for its side effects seems poor form.

My main use case for this is for collection "insert" operations where failure is not expected and sho

[2020-12-25 00:28] jokeyrhyme commented on #34701
I might mean that the traits aren't sufficiently instrumented, or it could mean that none of the executed code (e.g. your tests) actually exercise those traits

[2020-12-25 00:39] steffahn commented on #80359
This would also break very reasonable code. Some "realistic" example:
[code]

Furthermore by giving access to a `&mut T`, users could be encouraged to use that `&mut T` in cases where they only need a `&T`, _including your own example_. Then imagine the confusion of all the people wondering why the compiler complains about the vec still being borrowed mutable when they only kept an immutable refer

[2020-12-25 01:17] camelid opened #80360 "Add `Debug` and `Display` to the prelude"
They are very frequently used, and shouldn't conflict with any local types. Plus, it seems that local items take precedence over prelude imports for name resolution.

[2020-12-25 01:22] camelid opened #80361 "Add `Hash` to the prelude"
`Hash` [along with `Debug`](https://github.com/rust-lang/rust/issues/80360) seem to be the only traits that are not in the prelude even though their derive macros are (see [Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/268952-edition/topic/Edition.202021/near/220527514)).

[2020-12-25 01:26] camelid commented on #80351
Thanks for minimizing and checking on both stable and nightly! It's very helpful :)

[2020-12-25 01:32] jyn514 commented on #80359
Oh, this is a good point :( and adding `insert_ref` and `insert_mut` seems silly. Fair enough.

[2020-12-25 01:32] #80359 closed

[2020-12-25 01:36] steffahn commented on #80359
An `insert_ref` is not even possible, since the insertion itself needs mutable access.

[2020-12-25 01:49] RadicalZephyr opened #80363 "Diagnostic regression for struct-like enum variant constructors from private modules when missing fields"
### Code

I tried this code:

[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=55a5a5a399e8d3eb16c4816c98ce0d0d)

I expected to see this happen:

The compiler used to correctly suggest that a field was missing from the enum constructor:

[code]

Instead, this happened:

Now the compiler erroneously reports:

[code]

### Version it worked on

It most recen

[2020-12-25 01:53] steffahn commented on #80351
Looks like this duplicates #80291.

[2020-12-25 02:00] camelid commented on #80351
Yeah, seems likely.

[2020-12-25 02:16] est31 commented on #74372
Is there a way to enable wasm SIMD globally so that it can be optimized by the autovectorizer?

[2020-12-25 02:28] steffahn commented on #80335
I guess all that’s needed is an `assert!(target.is_empty())` at the end of the body of the `spezialize_for_lengths` macro? Perhaps the typo in its name could be fixed, too. It might also be beneficial to avoid the unnecessary third(!) call to `borrow()` that’s due to `copy_slice_and_advance` using its second argument twice.

[2020-12-25 02:37] steffahn commented on #80291
AFAIK `Fn(<O as ColumnOutput>::Output)` is desugared to `Fn(<O as ColumnOutput<'_>>::Output)` which then desugars further to `for<'b> Fn(<O as ColumnOutput<'b>>::Output)`. By the way, it is actually slightly surprising to me that writing such a higher-ranked trait bound even works with a type `O` for which only `O: ColumnOutput<'a>` for a single concrete lifetime `'a` is known.

[2020-12-25 02:58] frewsxcv commented on #76412
#48556 has been reopened

[2020-12-25 02:58] #76412 closed

[2020-12-25 04:30] triscuitcircuit commented on #80346
yes, it seems to be an issue with 1.50 nightly with Docker preview on an M1 as well

heres the output:
[code]

[2020-12-25 08:17] #63037 closed

[2020-12-25 08:17] #79694 closed

[2020-12-25 09:27] bjorn3 commented on #80360
A disadvantage of this is that it is much easier to write `self.foo.fmt(f)` inside a `Debug` or `Display` implementation when `self.foo` only implements one of the traits and then have it break when someone decides to implement the other trait. Currently it is easier to only import one of the traits or use `fmt::Debug::fmt(&self.foo, f)`.

[2020-12-25 11:16] #77857 closed

[2020-12-25 13:36] codeflo commented on #80351
Interesting. Yeah, that looks surprisingly similar, although my usecase is maybe a bit different. I want to box and store the closure instead of executing it directly. For that reason, I don't think shifting around the lifetime bounds as mentioned in that discussion would work for me.

In case it helps, some additional context why this came up. My actual code is closer to this definition:

[code]

[2020-12-25 13:59] RalfJung commented on #80306
Ah I see... yeah that is a misunderstanding. The delayed check means that *when the (derived) ptr is dereferenced*, that ptr needs to be in-bounds, but the intermediate ptrs do not have to be.

[2020-12-25 14:07] nagisa commented on #80309
As per documentation of `wrapping_sub` and `wrapping_add` the expectation is that provenance of the pointers is retained, so the `wrapping_sub` setting the provenance of the resulting pointer to something else (to that of the null pointer in this case) than the provenance of the original pointer seems like the bug here.

Given that reasoning the fix that has landed (https://github.com/llvm/llvm-pr

[2020-12-25 14:09] #80004 closed

[2020-12-25 14:29] vorner opened #80365 "UB inside `Weak::as_ptr`"
I tried this code:

[code]

When I run it under `miri`, I get this:

[code]

Creating a reference from such pointer looks suspicious indeed. I could send a pull request that adds a condition there, but I want to ask first if this is being done because „we are `std`, we can“, or if this is something that really should be fixed.

### Meta

`rustc --version --verbose`:
[code]

(but I've looked at the

[2020-12-25 14:59] RalfJung commented on #80309
Agreed.

AFAIK, the entire reason that `wrapping_*` exist is to not have to do that.

[2020-12-25 15:10] #77563 closed

[2020-12-25 15:12] RalfJung commented on #63567
Hm, good question. I'd list these:

* Figuring out if the return type of `write` makes sense and is useful as-is
* Figuring out if these methods are useful enough to justify adding them to the API

[2020-12-25 15:17] nagisa commented on #80309
Well, _temporarily_ work around. I suspect fixing the issue at the root in LLVM might take some time.

[2020-12-25 16:17] jonas-schievink commented on #80346
This does not look like a bug in rustc

[2020-12-25 16:41] Aaron1011 commented on #80336
This looks like a legitimate issue with `evaluate_obligation`. In the initial success run, we get the following result (I added some extra logging locally):

[code]

On the second (modified incremental) run, we get this result:

[code]

The return value of `evaluate_obligation` on the same input differs between compilation sessions - we `EvaluatedToOk` with an empty incremental cache, and `Evaluat

[2020-12-25 17:04] #76605 closed

[2020-12-25 17:05] richkadel commented on #34701
That seems to be what it means, from what I've observed.

[2020-12-25 17:41] Aaron1011 commented on #80309
Note that https://github.com/llvm/llvm-project/commit/899faa50f206073cdd8eeaaa130ffa15f850e656 was reverted in https://github.com/llvm/llvm-project/commit/ef2f843347baca1ece69066a3c3a7afa45532079: the underlying issue is tracked at https://bugs.llvm.org/show_bug.cgi?id=44403

[2020-12-25 18:14] triscuitcircuit commented on #80346
ah, i mean I only reported it since it says "note: the compiler unexpectedly panicked. this is a bug." but if its not a bug ill close the issue

[2020-12-25 18:26] camelid commented on #80360
Just to be clear, when you say “someone” you mean someone else working on the same crate. The orphan rule would prevent another crate from implementing display or debug.

[2020-12-25 18:45] bjorn3 commented on #80360
I mean when the in the crate that defined the type of `self.foo` an extra implementation is added (possibly a dependency), the current crate could fail to compile.

[2020-12-25 18:47] camelid commented on #80360
What does "possibly a dependency mean"? I just want to be extra clear so we're not miscommunicating :)

[2020-12-25 18:52] bjorn3 commented on #80360
Something like

[code]

[2020-12-25 18:57] camelid commented on #80360
Yeah, that does seem unfortunate :/

[2020-12-25 18:57] camelid commented on #80360
Maybe we should only add `Debug` to the prelude?

[2020-12-25 19:11] camelid commented on #80365
I think it should only be UB to *dereference* the pointer you get from `into_raw`, so I'm not sure why MIRI thinks there's UB happening. Just in case, @rustbot prioritize

[2020-12-25 19:14] camelid commented on #80363
Duplicate of #79593. Will be fixed in 1.50.

[2020-12-25 19:14] #80363 closed

[2020-12-25 19:16] camelid commented on #80346
@jonas-schievink Why do you say that this doesn't look like a rustc bug?

[2020-12-25 19:18] camelid commented on #80101
Closing as duplicate of #79139.

[2020-12-25 19:18] #80101 closed

[2020-12-25 19:53] jonas-schievink commented on #80346
Because it would happen on all architectures. This looks more like a qemu or rosetta bug.

[2020-12-25 20:37] vmarkushin commented on #71415
Also consider [this](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=59dec1bc6a73dac68eb014bcfaa9f112) example
[code]

[2020-12-25 20:47] vorner commented on #80365
Because that pointer is being turned into a reference to feed to `align_of_val` internally.

[2020-12-25 20:52] SNCPlay42 commented on #80365
Looks like #73845 fixed this for `Rc` but missed it in `Arc`.

[2020-12-25 21:10] Ekleog commented on #62726
@m-ou-se Does the removal of the I-nominated label mean that libs team discussed it and concluded that the signature should change for the alternative you wrote out in your post?

(Just coming back here as AFAIK this feature is now the only one blocking me from building on rustc stable, through futures-utils' write-all-vectored feature. I can try to see whether I can PR into futures-utils so that

[2020-12-25 21:12] vitalyd commented on #80365
Yes, seems this needs to use `align_of_val_raw`.

[2020-12-25 21:19] #67465 closed

[2020-12-25 21:39] lcnr commented on #71415
@vmarkushin can you open a separate issue for this as your example seems distinct enough to be tracked separately?

[2020-12-25 22:00] m-ou-se commented on #62726
@Ekleog - I removed the label because there didn't seem to be anything to discuss in a meeting. But if you think there's anything that needs a decision from the libs team I can put it back.

(If you have an opinion on the signature of this function, I'd love to hear it in a comment here. :) )

[2020-12-25 22:19] pierwill opened #80369 "rustc_trait: Code snippet ignore problem"
When running `cargo doc` in `compiler/rustc_passes/`, I got the following:

[code]

The code is here:

https://github.com/rust-lang/rust/blob/bb178237c5539c75e1b85ab78a8ab902b1f333d5/compiler/rustc_trait_selection/src/opaque_types.rs#L45-L49

[2020-12-25 22:20] wbrickner commented on #54878
This discussion is a bit over my head, but I see the [LLVM 12 release notes](https://llvm.org/docs/ReleaseNotes.html) make no mention of now-correct handling of memory aliasing guarantees. Is it actually not included? The document seems incomplete.

If not, what might the timeline be? I am really excited for this, as I imagine it will provide Rust with a significant performance boost for free.

[2020-12-25 22:52] pJunger commented on #34701
Sorry, I think I've been unclear: I agree that in the linked cases the code really has not been executed at all, and I expected them to be not covered.
But the question (to me at least) remains:
When is a derived implementation counted as covered? Is it covered if any of the generated functions is called (that wouldn't be that helpful if a trait has multiple functions) or would it still count as u

[2020-12-25 23:40] vni opened #80370 "Some internal compiler error during playing with rust-by-example (doc.rs)"
Hi! I'm reading rust-by-example.
https://doc.rust-lang.org/rust-by-example/meta/doc.html

with this doc.rs I get the next error.
Sorry if this bug report isn't filled as it should be.

The example below runs pretty well with (as in rust-by-example)
[code]

and fails with
[code]

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]
[code]

<details><summary><str

[2020-12-25 23:57] jyn514 commented on #80370
Duplicate of https://github.com/rust-lang/rust/issues/72381

[2020-12-25 23:57] #80370 closed

[2020-12-26 00:03] kennethuil opened #80371 "Simple array of borrowing structs panics compiler"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-26 00:11] jyn514 commented on #80371
This also panics on 1.50.0-nightly (bb1fbbf84 2020-12-22) and if you change `'a` to `'static`.

[2020-12-26 00:13] jyn514 commented on #80371
Relevant code: https://github.com/rust-lang/rust/blob/1d2730f413dd9ba67b89dd4c8f65e9331a10471b/compiler/rustc_mir/src/transform/check_consts/qualifs.rs#L252-L254

[2020-12-26 00:24] kennethuil commented on #80371
Adding `#[derive(Copy, Clone)]` to `Header` makes it successfully compile

[2020-12-26 01:44] jyn514 commented on #73749
Closing in favor of https://github.com/rust-lang/rust/issues/80369, I think the intra-doc links have all been fixed.

[2020-12-26 01:44] #73749 closed

[2020-12-26 01:45] jyn514 commented on #80369
@pierwill this particular one should be fixed by https://github.com/rust-lang/rust/pull/79816.

[2020-12-26 01:54] AaronKutch opened #80374 "u128::count_ones is broken on aarch64-unknown-none-softfloat"
[code]
when compiled with `cargo build --target aarch64-unknown-none-softfloat` it gives:
[code]
This is preventing upgrading the `compiler-builtins` used by rustc. See https://github.com/rust-lang/compiler-builtins/issues/398 and https://github.com/rust-lang/rust/pull/79863.

[2020-12-26 02:43] Aaron1011 commented on #80336
The issue is caused by the way that we handle regions in the evaluation cache. When we insert a result into the evaluation cache (either `infcx.evaluation_cache` or `tcx.evaluation_cache`, we use a 'freshened' version of the original `TraitPredicate` as the key. The 'freshened' `TraitPredicate` has all non-late-bound regions erased.

Unfortunately, this can lead to issues if we try to evaluate the

[2020-12-26 02:44] Aaron1011 commented on #80336
cc @matthewjasper

[2020-12-26 03:06] #79714 closed

[2020-12-26 05:33] chengniansun opened #80375 "ICE: compiler/rustc_middle/src/ty/subst.rs:568:17: const parameter `COUNT/#0` (Const { ty: usize, val: Param(COUNT/#0) }/0) out of range when substituting substs=[]"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-26 08:09] triscuitcircuit commented on #80346
defintly not a Rosetta 2 bug since I'm not using that to run Docker or any of the code, but it could be a Qemu bug. I cant tell if its a Rustc, Docker preview bug or Qemu bug at this point however.

[2020-12-26 09:30] #71602 closed

[2020-12-26 10:02] mgeier opened #80376 "MaybeUninit::write_slice_cloned() makes it very easy to accidentally leak"
It is expected behavior that objects assigned/written to `MaybeUninit` might leak at some point (if `assume_init()` or similar is not used). However, `MaybeUninit::write_slice_cloned()` returns a `&mut [T]` (which might be passed on to further functions, where its origin might not be apparent), and objects assigned to that might leak as well, which I think is less obvious.

[playground example](ht

[2020-12-26 10:24] RalfJung commented on #73394
FWIW, I am still having doubt about the macro names, but no better names have been suggested yet either. `raw_const!` in particular sounds like `const` is the subject here... usually this will probably be written as `ptr::raw_const!`, but that is still strange.

`const_raw!` might be better? At least now `const` is unambiguously an adjective. That also works for `const_mut!`. But usually, `mut` is

[2020-12-26 12:16] usbalbin opened #80377 "Tracking Issue for const_ptr_read"
Feature gate: `#![feature(const_ptr_read)]`

This is a tracking issue for making the functions `ptr::read` and `ptr::read_unaligned`, and the same methods on `*const T` and `*mut T`, `const fn`. This unlocks things like moving values out of arrays in const context.

### Public API

[code]

### Steps / History

- [x] Implementation: #79684
- [x] FCP
- [x] Stabilization PR: #97320

#### Related
* co

[2020-12-26 12:25] #80307 closed

[2020-12-26 13:39] GuillaumeGomez commented on #79962
This is a tricky issue because you're supposed to be able to "click" on an item without moving the mouse by using up and down arrows and then press return. So, what I suggest is that in case you give back the focus to the search input, we clear the currently focused item.

Also: rustdoc doesn't run the search if it's the same input.

[2020-12-26 13:42] GuillaumeGomez opened #80378 "When the current search results tab is empty, it should focus on the first non-empty if any"
It's common when looking for more complex requests on rustdoc to have some tab empty. I think it'd be better to focus on the first non-empty tab instead.

[2020-12-26 13:54] sfackler opened #80379 "Rustdoc renders Vec's new allocator type parameter even when set to the default"
For example, the docs for this type use `Vec<String, Global>` rather than just `Vec<String>`: https://docs.rs/tokio-postgres/0.7.0/tokio_postgres/types/enum.Kind.html. The definition of the type does not specify the allocator parameter if that matters.

The same is not true for e.g. `HashMap`'s hasher type parameter, so I'm not sure what's different in this case.

[2020-12-26 14:39] LeSeulArtichaut commented on #80374
From the backtrace in https://github.com/rust-lang/compiler-builtins/issues/398#issuecomment-749219253, this appears to be a LLVM issue?

[2020-12-26 14:46] oli-obk opened #80380 "Suboptimal diagnostic if const eval error site is in a different crate"
We currently produce fun diagnostics like

[code]

Which I have multiple problems with (all of which are my fault :stuck_out_tongue:)

1. the main message only makes sense when you realize this is a lint
2. the diagnostic points to another crate's internals as the main span
3. the local crate's span is pointing at the entire item, instead of the useful span that we have (last element in the stack

[2020-12-26 14:56] LeSeulArtichaut commented on #80375
According to Godbolt, this regressed in 1.39.0.
Adding `#![feature(min_const_generics)]` removes the ICE on latest nightly.

[2020-12-26 14:57] nikic commented on #80374
IR test case (still reproduces on LLVM master):

[code]

[2020-12-26 15:03] nikic commented on #80374
The problem is that https://github.com/llvm/llvm-project/blob/b21840751278128ef6942074ae89ea63c9c6ac58/llvm/lib/Target/AArch64/AArch64ISelLowering.cpp#L15907-L15909 does not check whether the LowerCTPOP() call is successful and pushes an empty SDValue as the result.

[2020-12-26 15:21] mzji commented on #38963
AFAIK, the only practical workaround (now) is writing a C function which has the required __try/__catch block to handle the exception and returns the result in a Rust-compatible structure (or something like that), and compiling it with MSVC and linking to it in your crate.

[2020-12-26 16:16] eduardosm commented on #75861
I think "Implement `Rc::new_cyclic`" can be marked as done.

[2020-12-26 16:33] oli-obk opened #80384 "Tracking Issue for `const_refs_to_cell`"
This is a tracking issue for taking references to values of types that (may) contain `UnsafeCell` within const contexts.
The feature gate for the issue is `#![feature(const_refs_to_cell)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A trac

[2020-12-26 17:06] AaronKutch commented on #80374
I was able to remove the reference to `u128::count_ones` in `compiler-builtins`, so this isn't a severe issue. But, it should definitely be fixed quickly so that future versions of LLVM are fixed.

[2020-12-26 17:39] RalfJung commented on #80380
Also see https://github.com/rust-lang/rust/issues/71800: the lint should hopefully become a hard error eventually. I am currently working on a PR to make it a future-incompat lint, as a first step.

[2020-12-26 17:40] aqjune commented on #42371
(I'm not sure whether here is a good place to ask this, but) can Rust generate lifetime.start/end with non-zero offset?
I found this old bug report from LLVM bugzilla: https://bugs.llvm.org/show_bug.cgi?id=27999 . Its fix patch shows a simple example.
Rust was fiercely changing at that point; I wonder whether this is still happening.

[2020-12-26 17:54] camelid commented on #80365
I renamed the issue to reflect that the bug is actually in `Weak::as_ptr`.

[2020-12-26 18:06] jyn514 commented on #80379
The difference is that this is a cross-crate re-export. MCVE:

[code]
![image](https://user-images.githubusercontent.com/23638587/103156849-20192380-477b-11eb-8285-f14af4f294d8.png)

[2020-12-26 18:26] camelid commented on #80375
Note that it doesn't *ICE* on the latest nightly (2020-12-25) with `#![feature(min_const_generics)]`, but it still errors out because it's not supported under `min_const_generics`.

[2020-12-26 18:31] jyn514 commented on #80379
This is a bug at least back to 1.22.0.

[2020-12-26 18:50] jyn514 commented on #80379
In the inner crate, the params never get passes to `render` in the first place:
[code]
but in the outer one they do show up:
[code]
I expect this has to do with some difference between HIR and metadata loading.

[2020-12-26 19:01] RalfJung commented on #42371
Syntactically, the Rust/MIR equivalent of these intrinsics can only be applied to locals, not to a part of a place/local.

However, fixing https://github.com/rust-lang/rust/issues/71416 might require adding offsets to dynamically-sized alloca to make sure the alignment is right. Not sure if there is a way to make the lifetime intrinsics still refer to the original alloca as opposed to the properly

[2020-12-26 19:32] jyn514 commented on #80379
I thought this might be related to inlining, but using `doc(inline)` within the same crate works fine:
![image](https://user-images.githubusercontent.com/23638587/103158005-2ad9b580-4787-11eb-98b0-42e5123cd269.png)

[2020-12-26 19:54] Keithcat1 opened #80387 "Don't require -Cpanic=abort when doing profile guided optimization on windows-msvc"
Currently, when doing profile guided optimization on *-pc-windows-msvc targets, you need to use -Cpanic=abort, but the LLVM bug that caused this ([https://bugs.llvm.org/show_bug.cgi?id=41279](url)) is fixed, so this isn't necessary any more and should be removed.

[2020-12-26 20:35] tuxiqae opened #80388 "Iterating over a range of floats produces discrepancies"
I tried running [this code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b1a3f474bbde1333e0b5ee1a3d5af28f):

[code]

I expected to see this happen:
I expected to... well, I'm not too sure.
If I would've used `start = 0.1` instead of `start = 0.01` it would've printed all numbers, beginning in `start`, in increments of 1.0, up until `end` (non-inclusive range).
Using `let

[2020-12-26 20:37] zeenix opened #80389 "Lifetime of input (key) to HashMap::get() gets entanged w/ that of its output (value)"
The following code:

[code]

Which I (and devs I consulted on the Discord and IRC) think should compile. However, it doesn't and you get the following error:

[code]

i-e for some reason the lifetime of the `key` get associated with lifetime of the `Proxy` value we get from the `HashMap::get` call. I think it's likely a compiler bug. Even it is not, it'd be great to get better diagnostics/error me

[2020-12-26 20:39] nikic commented on #80374
I've put up https://reviews.llvm.org/D93825.

[2020-12-26 20:52] Mark-Simulacrum commented on #80388
This is presumably not a Rust bug, or at least would need a different, more minimal example to be seen as such - I would recommend filing at https://github.com/rust-num/num.

[2020-12-26 20:52] #80388 closed

[2020-12-26 21:06] Kestrer opened #80392 "Make `RwLockReadGuard` covariant over its type parameter"
Currently `RwLockReadGuard` is invariant over its type parameter, meaning that for instance this sound code:

[code]
Will not compile. However, since `RwLockReadGuard` does not allow for mutation of the inner value, it would be sound to make it covariant, and it would be useful in some circumstances.

See also the [same issue in parking_lot](https://github.com/Amanieu/parking_lot/issues/271).

[2020-12-26 21:09] mahkoh commented on #63291
The current documentation of assume_init for Rc allows unsound operations:

[code]

[2020-12-26 21:42] RalfJung commented on #80380
Some other notes:
* Following https://github.com/rust-lang/rust/pull/79695, the main message should probably be something more specific than what it currently is
* Even within the same crate, it can be confusing when the main span is not within the body of the offending `const`, but in some `const fn` who-knows-where.

[2020-12-26 21:43] tuxiqae commented on #80388
Thanks @Mark-Simulacrum :)

[2020-12-26 22:01] jyn514 commented on #80379
The issue is that metadata types, unlike HIR types, go through `external_path`: https://github.com/rust-lang/rust/blob/89524d0f8e28080197a85e06d143b7d6f131b67e/src/librustdoc/clean/mod.rs#L1584
and external_path doesn't pay any attention to the type defaults: https://github.com/rust-lang/rust/blob/89524d0f8e28080197a85e06d143b7d6f131b67e/src/librustdoc/clean/utils.rs#L103
So rustdoc needs to know

[2020-12-26 22:14] RalfJung commented on #63567
See https://github.com/rust-lang/rust/issues/80376 for a potential concern around the return type of `write`.

@mgeier you mentioned this to be a potential problem for `write_slice_cloned`; do you think the same issue also applies to `write`?

[2020-12-26 22:15] RalfJung commented on #80361
FWIW, while I do every now and then refer to `Display` and `Debug` directly, I never had to do that for `Hash`. Is this trait really named often enough to justify its presence in the prelude?

[2020-12-26 22:19] msrd0 commented on #59302
Another problem I noticed trying to compile/run the rust compiler on a musl host like Alpine Linux is that using the jemallocator for the compiler itself does not seem to work. Given that rust is known to run slower with musl's default allocator than with jemalloc, I tried enabling `jemalloc = true` in rustc's config file (rustc version 1.48). However, probably due to the [rust compiler only refer

[2020-12-26 22:21] RalfJung commented on #80365
Cc @CAD97

[2020-12-26 22:24] RalfJung commented on #80365
Assuming you use the default flags for Miri, that change should not be required to make Miri pass, so I'd be surprised if doing the same change for `Rc` would make any difference here. If it does, that seems like a bug in Miri that I should investigate.

[2020-12-26 22:29] RalfJung commented on #80365
Ah, but the `&*ptr` in `data_offset` is indeed a problem (the PR was mostly about `&raw` so I got side-tracked; the `&raw` is what should not have any effect here).

Miri ensures that references are at least dereferencable, so yeah that would explain the problem here. Good catch!

[2020-12-26 23:10] CAD97 commented on #80365
Yep, I apparently missed this somehow in #73845. Fixing the indicated line to use `align_of_val_raw` should be enough to fix it; I'm preparing the PR currently.

@rustbot claim

[2020-12-27 00:00] akraines commented on #80289
Can you log the value of &format!(r"(?i).+\s->\s{}$", gate) seperately?

[2020-12-27 00:13] adlerd commented on #28481
This was marked fixed by @Amanieu in #70052; however, currently `std::collections::{HashMap, HashSet}::clone_from` use the trait default impl rather than `hashbrown::*::clone_from` because they `#[derive(Clone)]`. Is this intentional? If not, perhaps this issue should be reopened for now?

[2020-12-27 00:14] Amanieu commented on #28481
Nice catch! It should be pretty simple to resolve though, would you like to create a PR?

[2020-12-27 00:54] adlerd commented on #28481
Opened #80400.

[2020-12-27 01:03] Skareeg commented on #53415
Pinging in here, as I am curious as to the status of this issue.. I am trying to link in a static library from rust into the Unreal Engine (C++), which is already complicated as is. Fixed this using the pragmas listed in #52892.

[2020-12-27 01:27] aDotInTheVoid commented on #74318
Bisection:
<details>
<summary>Full</summary>

[code]

</details>

found 9 bors merge commits in the specified range
  commit[0] 2020-05-01UTC: Auto merge of #71759 - Dylan-DPC:rollup-5hncork, r=Dylan-DPC
  commit[1] 2020-05-01UTC: Auto merge of #69808 - cjgillot:vtbl, r=pnkfelix
  commit[2] 2020-05-02UTC: Auto merge of #71776 - Dylan-DPC:rollup-k1iuuow, r=Dylan-DPC
  commit[3] 2020-05-02UTC: Auto

[2020-12-27 02:09] camelid commented on #80361
If its derive macro is in the prelude, it can be confusing to people to not have its trait in the prelude as well. I don't think newcomers to Rust think of derive macros as being a different name from the trait name, so it's confusing when only one is in the prelude.

[2020-12-27 03:02] tbraun96 commented on #36887
Please keep/allow default type params on functions

[2020-12-27 06:02] xNxExOx commented on #80289
sure thing:
[code]
  it is printed, but not the new Regex, then same error:
[code]

does that question mean I am still the only one who can reproduce it?

[2020-12-27 07:05] #28481 closed

[2020-12-27 07:17] boydjohnson opened #80406 "Memory leak in std::io::stdin."
There was a memory leak introduced in between `nightly-2020-09-27` and `nightly-2020-09-28`.

If you build this code with two different toolchains one will have a memory leak and the other not.

[code]
this code built with nightly-2020-09-28

valgrind output

[code]
while this code built with nightly-2020-09-27:

valgrind output
[code]
valgrind --leak-check=full --show-leak-kinds=all
[code]

[2020-12-27 07:44] akraines commented on #80289
No - I didn’t try - I was just trying to check the final value of the regex trying to see if that shows anything.

[2020-12-27 10:31] mgeier commented on #63567
I don't know whether this is an actual problem, but yes, it has the same issue: [playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a8550bfc7bee03e81826d77e65663e36)

BTW, the underlying `assume_init_mut()` has the same issue: [playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=af3a5021f60c9904e7b332b54c695845)

In the l

[2020-12-27 11:10] arnabanimesh commented on #79597
I personally think that heap allocation at compile time should be done independently. It is a bad idea to include it in `const fn`. `const fn` should not have heap allocations since it increases the code analysis complexity considerably.

I would suggest independently create `const` using heap allocation before starting compilations. Using a separate file known as `consts.rs` in the `root` would b

[2020-12-27 11:55] oli-obk commented on #79597
What you describe (and as you noted), can already be done via `build.rs`. This issue is specifically tracking heap at compile-time, we are very far from stabilization, and I'll add your concerns to the main post. Please be aware that this is a frequently asked for feature, so there is different desires for language design that need to be balanced against each other.

That said, at the current desi

[2020-12-27 12:48] rudib opened #80409 "ICE infering higher-ranked lifetime with a builder pattern"
I haven't been able to minimize this yet. The similar, already resolved, bug report #56199 doesn't seem to help - changing the `on_entry`'s return signature from `Self` to the full definition doesn't help here.

### Code

[code]

### Meta

The bug is also present in the nightly build (`bb1fbbf84 2020-12-22`).

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>

[2020-12-27 13:25] jonas-schievink commented on #80406
rustc 1.48.0-nightly (623fb90b5 2020-09-26)
rustc 1.48.0-nightly (7f7a1cbfd 2020-09-27)

Commits in that range: https://github.com/rust-lang/rust/compare/623fb90b5...7f7a1cbfd

[2020-12-27 13:27] jonas-schievink commented on #80406
https://github.com/rust-lang/rust/pull/77154 looks like it might cause this. @m-ou-se can you tell if this is an actual leak or a false positive?

[2020-12-27 14:19] m-ou-se commented on #80406
I'm a bit busy right now. I'll look at it later, but I think this is a false positive (leaked on purpose).

[2020-12-27 14:26] jyn514 commented on #80409
[Minimized a little](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=50f67c12e56967225dd8c82123c87a94):

[code]

[2020-12-27 14:29] jyn514 commented on #80409
Note the error goes away if you add `impl Fsm for usize`, or if you change `&'a TFsm::Context` to `&'a TFsm`. So I think the bug is that the trait bound is not being checked.

cc @matthewjasper

[2020-12-27 16:00] bbarker opened #80413 "todo! and unimplemented! should generate rustc warnings when returning used values"
I tried this code:

[code]

I expected to see this happen:

A warning noting that a panic would occur (either showing the line of the todo! or the line of the function call making use of the todo!, for instance). I suppose even fancier ergonomics could be added, so that if the return type is (), a () could could be supplied - but this is still not good IMO, since that implies an effect should happ

[2020-12-27 16:02] jonas-schievink commented on #80413
Additional lints like this need to be proposed via the RFC process, so closing in favor of that

[2020-12-27 16:02] #80413 closed

[2020-12-27 17:08] jyn514 opened #80414 "Rustdoc has different URLs for re-exported builtin derives than in the current crate"
I tried this code:

[code]

I expected to see this happen: Rustdoc links to https://doc.rust-lang.org/nightly/core/macro.Copy.html.

Instead, this happened: Rustdoc links to https://doc.rust-lang.org/nightly/core/marker/derive.Copy.html.

This is wrong in two ways:

1. It uses `macro.Item.html` and `derive.Item.html` inconsistently
2. It links to the `marker` submodule in the re-export crate but n

[2020-12-27 17:11] SimonSapin commented on #63567
We already have stable `impl DerefMut for ManuallyDrop` which makes this accidental leaking just as easy.

[2020-12-27 17:13] bradleyharden opened #80416 "Iterator-based approach performs 10x worse than manual implementation"
I'm not sure if this qualifies as a bug or not.

In short, the following two functions give the same output, but `fft` performs about 10x worse than `fft_manaul`.

[code]

[code]

I originally ran into this in an embedded context, targeting `thumbv7em-none-eabihf`. The original function took a `GenericArray` and used fixed-point types from the `fixed` crate, but I was able to reproduce the issue u

[2020-12-27 17:31] danielhenrymantilla commented on #80414
This seems to stem from the way macro builtins and AST-cleaning work:

  - Built-in macros are "`#[lang]`-declared" with a "dummy" macro definition, so they are seen, AST-wise / within `rustdoc::clean`, as a [`TypeKind::Macro`](https://doc.rust-lang.org/nightly/nightly-rustc/rustdoc/clean/types/enum.TypeKind.html#variant.Macro)

  - within a downstream crate that refers to it without inlining its

[2020-12-27 17:34] Mark-Simulacrum commented on #79909
Closing as won't fix.

[2020-12-27 17:34] #79909 closed

[2020-12-27 17:35] Mark-Simulacrum commented on #79908
Should be backported to beta as part of https://github.com/rust-lang/rust/pull/80417.

[2020-12-27 17:48] LeSeulArtichaut commented on #80375
This is indeed fixed on master. I'll file a PR to add a regression test for this.

[2020-12-27 17:49] Mark-Simulacrum commented on #78893
This is likely going to be a stable/stable regression with the release of 1.49, but as it expands the set of compiling code I do not see it as a release blocker at this time (and it seems that a fix is at best unlikely in that time frame).

[2020-12-27 17:57] leonardo-m commented on #80416
Perhaps it's because those cycle()?

[2020-12-27 18:55] #80294 closed

[2020-12-27 19:12] the8472 commented on #80416
Try compiling benchmarks with `debuginfo = 2` and then running them under `perf record --call-graph dwarf` and `perf report` (or some GUI equivalent). That can get you the assembly + corresponding source lines + whole call tree including inlining + information which instructions take most of the time. The usefulness of source annotation varies though due to the heavy optimizations.

Possible. `zip

[2020-12-27 19:33] SkiFire13 commented on #80389
Minimal example:

[code]

Doesn't compile with the following error:

[code]
[
Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=cbf0039c42603862e2d962f5f8bdb2f9)

[2020-12-27 19:46] Cogitri commented on #59302
FWIW Rust recently got a new allocator with musl 1.2 (mallocng), so it might be worth to benchmark that again :)
We've been avoiding jemalloc whereever possible on Alpine Linux and even patched it out of some packages, IIRC it doesn't work too well on musl, but maybe that has changed since we last tried using it.

[2020-12-27 20:42] msrd0 commented on #59302
I don't know much about jemalloc, I was just playing around to see if it improved stuff and had to realize that the compiler didn't seem to use it. So I don't know if the performance issues I'm seeing are caused by the allocator, but other rust projects like [ripgrep](https://github.com/BurntSushi/ripgrep/commit/03bf37ff4a29361c47843369f7d3dc5689b8fdac) have seen the allocator change to cause perf

[2020-12-27 21:17] JulianKnodt commented on #80416
I've found `zip` to be the main cause for these slowdowns, because it has to check whenever the first item terminates, and has trouble reasoning that they're all of equal length.

[2020-12-27 22:08] #63351 closed

[2020-12-27 22:10] bradleyharden commented on #80416
@JulianKnodt and @the8472, if zip + cycle is the likely culprit and there's nothing that can done to improve it, is the best solution a manual implementation, like I did? Is it still worth it for me to dig deeper into debugging?

[2020-12-27 22:13] smmalis37 commented on #80140
Despite that PR, the latest nightly sadly changes nothing for benchmark timings here on my system.

[2020-12-27 22:13] djc commented on #80360
I'd prefer just adding `fmt` to the prelude.

[2020-12-27 22:24] camelid commented on #80360
It might be nice to have all three, but perhaps just adding `fmt` is a good start and something that can be agreed upon in time.

[2020-12-27 22:45] RalfJung commented on #63567
Why do you think `assume_init` has anything to do with destructors? That was never the intention. The only thing it is intended to convey is "if this is not yet initialized, there's UB".

[2020-12-27 22:49] LeSeulArtichaut commented on #80059
Is this still nominated for `T-lang`?

[2020-12-27 22:50] LeSeulArtichaut commented on #80059
I'd like to tinker around this

[2020-12-27 22:56] JulianKnodt commented on #80416
This is a purely personal POV, so take it as you will, but I think certainly the manual implementation is fine and it's not always worth making very neat abstractions due to increased burden on the compiler.
That being said, there are probably spectializations that can be added to make zip & cycle better, so if you're really focusing on implementing FFT, you probably want to stick to the manual im

[2020-12-27 23:18] bradleyharden commented on #80416
For the particular use case at hand, I think it probably makes sense to stick with the manual implementation. I need to calculate the FFT coefficients for a single frequency in an embedded context with a real-time deadline.

However, before I discovered the poor performance, I remember being impressed by this specific iteration example, because I was able express the entire problem in terms of ite

[2020-12-27 23:24] LeSeulArtichaut commented on #80059
Interestingly, this doesn't compile:

[code]

Seems like the MIR builder optimizes ignored results from `BlockFrame::Statement` but not `BlockFrame::TailExpr`

[2020-12-27 23:28] leonardo-m commented on #80416
Very smart and dedicated people have worked on the stdlib, but the stdlib isn't perfect nor complete. If you see a possible hole, then see if it's worth filling, if you have time to do it :-) Perhaps cycle+zip is worth improving.

[2020-12-27 23:33] durka commented on #80074
Things that make the ICE go away:

1. Add `#[macro_export]` to the lib crate
2. Change the edition to 2015 when compiling the lib crate

N.B. Changing from `foo!()` to `foo_!()` in the bin crate produces a different ICE.

[2020-12-27 23:34] ijackson opened #80421 "Fn[Mut] trait missing lifetime parameter"
As far as I can tell, there is no way to write a trait bound for this closure:
[code]
The closure's call function takes `&'something mut self`, but there is no way to talk about the lifetime `something`.  But it is necessary to talk about 'something because the return value borrows from it.

The following program compiles and works, using `transmute` to promise that the lifetimes are fine.  Withou

[2020-12-27 23:46] bradleyharden commented on #80416
I played around with the example just now and found something interesting. Apparently `zip` and `cycle` are not the problem, it's actually `skip`. Removing `skip`, or giving it an argument of `0`, is enough to erase the performance differences.

Based on that, does anyone have any immediate insight into what the problem might be?

[2020-12-28 00:03] bradleyharden commented on #80416
Looks like it's the interaction between `cycle` and `skip`. Interesting.

This compiles to a constant:

[code]

But this does not.

[code]

Yet this does

[code]

[2020-12-28 00:14] JulianKnodt commented on #80416
Interesting, I think `skip` + iteration still adds some [complexity](https://godbolt.org/z/145z7r), but I imagine having skip of 0 means that a bunch of branches can be removed from the [impl](https://doc.rust-lang.org/src/core/iter/adapters/mod.rs.html#2234-2237). It might be because cycle doesn't implement any traits like `TrustedLen` etc, and skip propagates those impls, & zip then uses those f

[2020-12-28 00:19] scottmcm commented on #80059
The critical difference there, I think, is that the [`{}`s](https://bluss.github.io/rust/fun/2015/10/11/stuff-the-identity-function-does/#rust-has-dedicated-syntax-for-this) make it no longer a place, but an rvalue.

[2020-12-28 00:25] SNCPlay42 commented on #80421
The transmute you've written isn't sound:

[code]

[2020-12-28 00:27] camelid commented on #80059
I think scottmcm is saying that adding curly braces makes a new value, rather than a "projection" on a `Place`. A projection is a field access, a pointer dereference, etc.

[2020-12-28 00:56] yshui commented on #78893
@Mark-Simulacrum if this gets into stable, the eventual fix of this bug is going to be a breaking change.

[2020-12-28 00:57] alex commented on #74878
This is now stable on the latest nightly.

[2020-12-28 01:51] erikdesjardins commented on #80140
#80209 only affects arrays that are passed indirectly. Arrays (or any aggregate, roughly) are passed indirectly when they're larger than `1 * size_of::<usize>()` on 1.48, or `2 * size_of::<usize>()` on nightly. In your example the array is `1.5*usize`, small enough to be passed by value on nightly.

When passed by value, LLVM can tell that the arrays never have the same address, and eliminates the

[2020-12-28 02:04] smmalis37 commented on #80140
I tried incrementing the size of my benchmark to 12 elements (the largest size of tuple that has a PartialEq impl), and changed the types to i64, to ensure they'd be large enough to be passed indirectly. Same result.
[code]

[code]

[2020-12-28 03:11] bradleyharden commented on #80416
Can someone explain what's going on here? On both Godbolt and with `cargo-asm`, I'm getting strange behavior.

In [this](https://godbolt.org/z/vMdd5E) example, `skip`, `cycle_take` and `cycle_nth_take` all compile to the same function, which simply returns a constant. However, if you uncomment `cycle_skip_take`, then `cycle_nth_take` no longer compiles to a constant. How can that be? Is that some

[2020-12-28 03:49] CraftSpider commented on #80317
It appears that the spec for how outlives predicates are handled was defined in RFC 1214, and the code that actually adds the obligations that a function pointer outlives its components is primarily these two functions:
https://github.com/rust-lang/rust/blob/6c523a7a0ef121fe97ad6a367a3f3b92f80dc3f0/compiler/rustc_infer/src/traits/util.rs#L182
https://github.com/rust-lang/rust/blob/6c523a7a0ef121fe

[2020-12-28 08:06] ohsayan commented on #80421
@rustbot modify labels to +C-lifetime

[2020-12-28 08:37] the8472 commented on #80416
Another approach, I haven't benchmarked it but on O3 it gives branch-free assembly only consisting of memory and simple arithmetic operations, similar to @JulianKnodt's approach with `nth`.
O2 doesn't look as rosy since involves a loop and two multiplications.

[code]

In this case `skip` can actually be used for `cos`, at least on O3.

----

@JulianKnodt

https://github.com/rust-lang/rust/blob/32

[2020-12-28 09:17] #74878 closed

[2020-12-28 09:37] SimonSapin commented on #65798
This is unblocked! https://github.com/rust-lang/rust/pull/79135 has landed. What remains here is to decide how should one obtain an `array::IntoIter` value:

* Wait until we add `impl IntoIterator for [T; N]` https://github.com/rust-lang/rust/pull/65819. The status there is that this PR would still cause some regressions: https://github.com/rust-lang/rust/pull/65819#issuecomment-681132206
* Stabil

[2020-12-28 10:28] rxcompile opened #80433 "ICE when using "Generic Associated Types" feature with references for impl block"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-28 10:42] jonas-schievink commented on #80421
You can't write a trait bound for this because it already fails to compile:

[code]

[2020-12-28 11:41] bradleyharden commented on #80416
@the8472, I just want to clarify, in case there was any miscommunication. In that example the **same** function gives two different results based on the presence or absence of a *different* function. It doesn't seem like inlining could explain that. It seems more like it's skipping an optimization pass when another function is present, or something.

[2020-12-28 11:53] mgeier commented on #63567
I guess the problem is that the function name `assume_init()` doesn't contain what it actually *does*.

Therefore, in my (limited) experience with stable Rust, I've come to imagine that `assume_init()` is in reality a shortcut that in its full form means "activate the destructor, assuming the memory has been properly initialized before".

That is fine as long as there is only a single function con

[2020-12-28 12:46] crlf0710 opened #80437 "Tracking Issue for `box_into_inner`"
Feature gate: `#![feature(box_into_inner)]`

This is a tracking issue for consuming a `Box` and returning its wrapped value.

The language actually supports `*x` as a special case. However it can't be generalized to other types easily. It also doesn't consume the `Box` value immediately if `T` is `Copy`, which is quite a footgun.

An explicit version is added here to make the API more consistent w

[2020-12-28 12:49] vmarkushin commented on #71415
@lcnr, of course. I will.

[2020-12-28 13:49] ijackson commented on #80421
Hi, thanks for looking at this.

Oh!  How sad.  I don't know how in all my attempts I never managed to see that message, which explains the problem very nicely.

I don't think there is anything incoherent about this program - see my example simulating a closure with a struct.  It would also be nice if one could `impl FnMut` for that struct.

But yes I was wrong to call this a bug.  Thanks for adju

[2020-12-28 14:25] marmeladema commented on #80416
That seems *very* similar to a situation i've encountered when debugging https://github.com/rust-lang/rust/issues/79246
Some code was not inlined in the same way depending of just the number of symbols present or even to some unrelated variable declared.

[2020-12-28 14:36] Alexendoo commented on #74713
Since min_const_generics stabilisation this now requires `#![feature(const_generics)]`

[code]

[2020-12-28 14:38] Alexendoo commented on #77357
Since min_const_generics stabilisation this now requires #![feature(const_generics)]

[code]

[2020-12-28 14:45] LeSeulArtichaut commented on #80059
cc https://github.com/rust-lang/unsafe-code-guidelines/issues/261

[2020-12-28 14:55] RalfJung commented on #79735
Cc https://github.com/rust-lang/rust/issues/80059

[2020-12-28 14:55] RalfJung commented on #80059
Cc https://github.com/rust-lang/rust/issues/79735

[2020-12-28 14:57] RalfJung commented on #80059
Yeah, curly braces force the presence of a place-to-value coercion, at which point a deref definitely happens.

[2020-12-28 15:10] RalfJung commented on #63567
I am rather surprised by this. Whether or not the destructor runs is fully encoded in the type -- when a `T` goes out of scope, its destructor runs; when a `MaybeUninit<T>` goes out of scope, nothing happens. This is the first time that I hear of the idea of "activating a destructor".

I disagree -- I think having more of these methods will actually make this more clear. Once `assume_init_read` an

[2020-12-28 15:21] pickfire commented on #56073
I just realize having to click to expand one by one feels troublesome today. Should ping @QuietMisdreavus and @jyn514 for their opinion since this issue is left here for so long.

I recall that the previous behavior to press `+` to expand all of these again feels better, at least don't need to click one by one if I want to search through it, I was searching for `len` function in `Bytes`. https://d

[2020-12-28 15:31] bradleyharden commented on #80416
@marmeladema, do you have a minimal example of that? Do you think it's worth making a separate issue about it? I can add my example from above.

[2020-12-28 15:32] phil-opp opened #80440 "Inline `asm!` only checked when used"
I tried this code:

[code]

([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=30415b442984b78bc23fd2532e6d6dec))

I expected to see this happen: Compilation error because `xchgfoobarbaz` is not a valid assembly instruction.

Instead, this happened: The code compiles without errors or warnings. A compile error only occurs if the `foo()` call is uncommented in `m

[2020-12-28 15:58] bradleyharden commented on #80416
@the8472, I think the `skip`/`cycle` interaction is worth investigating more. But for now, I wanted to report that moving to `nth` was able to resolve my issue in the actual embedded context. Previously, the iterator approach was taking 1175 clock cycles, compared to 141 for the manual approach. After switching from `skip` to `nth`, both approaches now give 141 clock cycles.

[code]

[2020-12-28 16:24] CryZe opened #80443 "Lint against imports that are dead code"
I'm very often seeing people write imports such as this one:
`use regex;`

Such an import is almost always dead code, because ever since Rust 2018 all external crates are already in scope. In fact pretty much any import that doesn't contain at least one of `pub`, `as ...` or `::` is very likely dead code. Rust does not currently emit any warning for such an import.

[2020-12-28 16:27] jonas-schievink commented on #80443
`use regex;` on the playground does emit a warning:

[code]

[2020-12-28 16:29] CryZe commented on #80443
That's just the default warning of an unused import, not the specific case I'm talking about. Here's a proper reproduction:

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=186c293aa81cfe34eeeea813e4f3876f)

[2020-12-28 16:35] jplatte commented on #64260
Stabilized; I think this tracking issue can be closed 🙂

[2020-12-28 16:40] CryZe commented on #64260
Only `then` got stabilized, `then_some` is still being tracked.

[2020-12-28 16:55] the8472 commented on #80416
@bradleyharden

I was talking about inlining of the callees. If you uncomment the function the iterator methods are used in more places which can affect inlining decisions.

[2020-12-28 17:27] steveklabnik commented on #80361
I have never seen a single question ever of someone asking about Hash, fwiw.

[2020-12-28 17:59] vita-dounai opened #80445 "Simple recursion but get weird result when optimization is enabled"
I tried this code:

[code]

I expected to see this happen: ***in the code above, `fn1`  and `fn2` just simply call each other, and there is indeed a infinitely recursion. I expect that when the `main` is executed, the call to `f1` inside `main` should never return, and the stack will be overflowed at some point.***

Instead, this happened: ***when I enable `lto` or set `opt-level`  to 1 or higher,

[2020-12-28 18:34] arijit79 opened #80446 "Invalid error message for a line missing semicolon"
I tried this code:

[code]

I expected to see this error happen: Missing semicolon at the end of statement
Instead, these two errors happened:
[code]

### Meta
I ran this on both stable and nightly. Here are the versions
[code]

<details><summary>Complete error</summary>
<p>

[code]

</p>
</details>

[2020-12-28 18:34] RalfJung commented on #49147
@oli-obk so, what do we do about the dropping thing? `[expr; 0]` behaves differently depending on whether `expr` got promoted or not when the final value of `expr` needs dropping. So I think something in promotion analysis needs to reject things that need dropping. But I have no idea where the best place is to put that check -- in `Candidate::Repeat`, or should we rather have it in `validate_local

[2020-12-28 18:34] ijackson opened #80447 "Stack overflow? in parser in some code with syntax errors"
### Steps to reproduce

[code]

I'm afraid I haven't minimised this test case.

This doesn't seem to be a very serious problem as the compiler has correctly pointed out syntax errors; fixing those syntax errors makes the ICE go away.  But since it suggested filing a bug I repro'd with today's nightly and have done so.

### Meta

`rustc --version --verbose`:
[code]

### Error output
[code]

<detail

[2020-12-28 18:50] #80179 closed

[2020-12-28 18:50] #80345 closed

[2020-12-28 19:13] m-ou-se commented on #64260
It might be a good idea to move `then_some` to a new tracking issue and close this one.

[2020-12-28 19:20] ehuss commented on #80445
I believe that infinite loops are undefined behavior in LLVM, which can result in anything happening.  See issue #28728.

[2020-12-28 19:20] m-ou-se commented on #80406
Before that change, the buffer for standard input was deallocated in an `atexit()` handler. After that change, it was simply not deallocated to simplify the code, since it'd always live to the end of the program anyway. So this leak is indeed intentional.

[2020-12-28 19:26] nguiard opened #80451 "Cross-compilation x86_64-unknown-freebsd -> aarch64-unknown-freebsd failing at the Vendoring step fo `ar`: "failed to sync", "failed to write `vendor/ar/.cargo-checksum.json`""
So I'm actually not sure that this is cross-compilation related, it appears when vendoring `ar` at the `x.py dist` step on a FreeBSD12.1-RELEASE-p1 VM. Kinda looks like a maybe simple `No such file or directory`, however I'm very new to building so I'm not sure. Probably the most relevant output would be:

(last lines of output from `x.py dist`):
[code]

Maybe that's sufficient for you guys to get

[2020-12-28 19:34] JulianKnodt commented on #80416
To help demonstrate what was said above `#[inline]` above `fn cycle_nth_take()` will compile it to a constant even with `fn cycle_skip_take()` uncommented, which can be seen if you add a call site for it elsewhere.

[2020-12-28 19:43] Aaron1011 commented on #80416
@bradleyharden I suspect that is caused by the way that codegne unit (CGU) partitioning ends up happening. My guess is that the presence/absence of the other functions ends up changing which functions get placed in the same CGU, which may in turn affect which optimizations LLVM decides to perform.

Can you try setting `[profile.release] codegen-units = 1]` in your `Cargo.toml`?

[2020-12-28 19:59] oli-obk commented on #49147
I'm still unsure we should do this at all (as mentioned [earlier](https://github.com/rust-lang/rust/issues/49147#issuecomment-736441091)). I would rather make a decision on that first before putting in more effort

[2020-12-28 20:00] RalfJung commented on #49147
You mean, supporting only `Operand::Const`, i.e., const literals and const blocks, and no promotion at all? Yeah that would of course also work.

[2020-12-28 20:11] oli-obk commented on #49147
Yes, that is what I mean. It would simplify a lot, and iirc that was always on the table.

[2020-12-28 20:16] Aaron1011 commented on #80440
In general, I don't think it's possible to solve this. The 'invalid instruction mnemonic' error comes from LLVM - if the `asm!` call occurs in a generic function, then we have no way of generating LLVM IR if it's not called (and therefore monomorphized) at least once.

[2020-12-28 20:20] richkadel commented on #34701
I'm fairly sure it counts coverage for each function executed in the derived trait, but I don't know how `llvm-cov show` would be able to visualize distinct functions. For example, If `eq` and `ne` are executed, I believe it will show `^2`, but if only `eq` is executed, twice, I think it would also show `^2`. `llvm-cov show` can only overlay counts over the original source.

Note, there is an open

[2020-12-28 20:31] varkor commented on #64260
I've updated the title and description. I don't think there's any need to create a new issue: that just causes unnecessary churn.

[2020-12-28 20:43] jonas-schievink commented on #80445
Yes, closing as a duplicate of that

[2020-12-28 20:43] #80445 closed

[2020-12-28 21:09] PatchMixolydic commented on #80446
I'm pretty sure rustc's lexer/parser discard all whitespace, including newlines, which unfortunately makes emitting a better diagnostic difficult, if not impossible.

Essentially, the parser sees this:
[code]
and reads it as an assignment to the result of a multiplication, which is why it issues these diagnostics. Unfortunately, this case is difficult to discern from cases where the diagnostics th

[2020-12-28 22:08] slerpyyy commented on #64260
Does that mean we're still considering stabilizing `then_some` after all?
I thought we decided that adding `then_some` was redundant, since `then` can already do everything `then_some` can and more.

[2020-12-28 22:18] Coder-256 commented on #63567
I think in other words, the confusion is that `assume_init/`assume_init_read` move the value, meaning it will be dropped, but `assume_init_ref`/`assume_init_ref` only reference the value, meaning it will not be dropped. I see how this can be confusing but honestly I actually like design because it's pretty similar to how pointers already work: the former two are like `std::ptr::read()`, and the la

[2020-12-28 23:16] JohnTitor commented on #43408
Triage:

The current output of https://github.com/rust-lang/rust/issues/43408#issuecomment-391628161 with the latest nightly:

[code]

And with `#![feature(const_generics)]`:

[code]

It's no longer ICE but rejected by `const_evaluatable_checked`.

[2020-12-28 23:16] wabain commented on #77880
I’d assumed fixing this would involve making the diagnostics aware of generators, but I can’t actually see how much that could be leveraged for async blocks. After looking at this some more I can think of two things we can do here, neither of which are actually specific to async blocks.

First, I think it could be helpful to have an additional note in general when inference fails for the `?` opera

[2020-12-28 23:27] wabain commented on #77880
It looks like there are some good [mismatched type diagnostics](https://github.com/rust-lang/rust/blob/2987785df3d46d5ff144a5c67fbb8f5cca798d78/src/test/ui/try-block/try-block-bad-type.stderr#L7) to piggyback off of.

[2020-12-28 23:31] yoshuawuyts commented on #70758
Closing as the PR has been merged and stabilized for Rust 1.50

[2020-12-28 23:31] #70758 closed

[2020-12-28 23:50] steveklabnik commented on #64548
Triage: output has *slightly* changed:

[code]

[2020-12-29 00:30] Monadic-Cat opened #80462 "weird error message for trait associated constant in array length"
I tried this code:

[code]

I expected to see an error about associated constants not being allowed in array lengths or something.

Instead, this is the error given by rustc.
[code]
(There is an additional "`T` is never used" error, but that one makes sense, since there are no valid uses of `T` in the struct definition.)

### Meta

`rustc --version --verbose`:
[code]

I tested this in Stable, Beta

[2020-12-29 01:05] jonas-schievink commented on #80462
Duplicate of https://github.com/rust-lang/rust/issues/43408

[2020-12-29 01:05] #80462 closed

[2020-12-29 01:43] tmandry commented on #77880
Both of these suggestions sound really nice, I hope we can implement them!

[2020-12-29 01:57] pickfire commented on #56073
Wrong ping, test ping @rust-lang/docs to see if it is working (just wondering if anyone other than `@jyn514` get this)

[2020-12-29 02:07] tmandry commented on #69781
Rewriting an `async fn` signature to the desugared form seems like a worthwhile option to have, but would also be somewhat surprising to me as default behavior. As far as I know we decided on `async fn` syntax to make signatures easier both to read and write (especially when it comes to that pesky `+ 'a` bound).

I think adding a toggle button might be a good solution.

[2020-12-29 02:16] camelid commented on #79980
Noting that it seems #79540 should fix this! See the [discussion on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/Generating.20compiler.20docs/near/221080367).

[2020-12-29 02:23] durka commented on #80447
Minimized:

proc macro
[code]

lib.rs
[code]

[2020-12-29 02:30] jyn514 commented on #79980
@camelid well, it will still be broken if you don't have `download-stage1` turned on. So I think that part might be worth tracking.

[2020-12-29 02:38] ijackson commented on #80447
@rustbot modify labels -E-needs-mcve +A-proc-macros

[2020-12-29 02:55] fanninpm commented on #80433
[Playground link to example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a2944c3a2f10e641b0ffa146bcc988ad)

[2020-12-29 03:01] #80306 closed

[2020-12-29 03:01] #80365 closed

[2020-12-29 03:01] #80375 closed

[2020-12-29 03:24] dawnFromDark commented on #76444
i agree ,rust check is shit~!

[2020-12-29 03:29] jyn514 commented on #80433
Slightly smaller:

[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=815671f5e433edbcc1497952066eb8c2)

[2020-12-29 04:18] durka commented on #80447
Is the solution possibly to just remove the offending assertion? The token stream will be nonsense but some other error reporting should catch the mismatched delimiters, I'd assume?

[2020-12-29 04:48] jyn514 opened #80466 "Rustdoc does not show blanket impls with negative polarity"
I tried this code:

[code]

I expected to see this happen: Rustdoc shows `impl !Trait for S` on the documentation for S, the same way it shows `impl<T> Any for T`.

Instead, this happened: Rustdoc does not show the blanket implementation.

### Meta

`rustdoc --version`: rustdoc 1.50.0-nightly (0edce6f4b 2020-12-24)

[2020-12-29 04:49] jyn514 commented on #80466
I think this might be because rustdoc uses `for_each_relevant_impl`, which only considers impls that *do* apply, not those that don't?

[2020-12-29 05:43] camelid commented on #79908
I think this can be closed as #80417 has been merged?

[2020-12-29 07:04] Koxiaet commented on #63818
FWIW I was able to use this unsoundness to [trigger Miri's stacked borrow checker using only safe code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=43b4a4f3d7e9287c73821b27084fb179). And this isn't esoteric, I encountered this UB when writing code involving async today.

[2020-12-29 07:28] scottmcm commented on #80317
The "Simpler outlives relation" section under https://rust-lang.github.io/rfcs/1214-projections-lifetimes-and-wf.html#motivation makes me worried that this might be more subtle than it appears, but I agree that intuitively `fn`s sure seem like they're `'static`.

I agree that I don't think this is currently a `T-compiler` bug, and needs an RFC to update the rules before anything can change.

[2020-12-29 07:44] #79908 closed

[2020-12-29 07:46] dtolnay opened #80468 "ICE in rustc_infer error reporting on elided lifetime in extern signature"
Repro:

[code]

As of current nightly:

[code]

This is the unreachable line:

https://github.com/rust-lang/rust/blob/2987785df3d46d5ff144a5c67fbb8f5cca798d78/compiler/rustc_infer/src/infer/error_reporting/mod.rs#L156

The same crash reproduces back to 1.47.0. Older stable compilers do not crash:

[code]

[2020-12-29 07:49] hyd-dev commented on #75678
A "container" is not required. [This also results in confusing error message](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=af095ee233ddd152cc62eb4aa4f1ea74):
[code]

[2020-12-29 08:09] dtolnay commented on #80468
Bisect:

[code]

searched nightlies: from nightly-2020-07-10 to nightly-2020-08-27
regressed nightly: nightly-2020-07-22
searched commits: from https://github.com/rust-lang/rust/commit/f9a3086363f214f2b56bef30f0ac572e1a9127f1 to https://github.com/rust-lang/rust/commit/8ad7bc3f428300aee6764f6e23527e19eb235e81
regressed commit: https://github.com/rust-lang/rust/commit/734233d29771869f824d8ddbaddabb

[2020-12-29 08:13] hyd-dev commented on #62708
Further minified (even without associated constant):
[code]
Hope that this can be helpful.

[2020-12-29 08:31] SimonSapin commented on #65798
@scottmcm weighed in on Zulip: https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/array.20by-value.20iterator.20stabilization/near/221116093

Sounds good to me. I’ve submitted a stabilization PR and requested FCP: https://github.com/rust-lang/rust/pull/80470

[2020-12-29 09:25] vmarkushin opened #80471 "`Type` must be annotated `#[derive(PartialEq, Eq)]` to be used as the type of a const parameter"
I tried [this](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=59dec1bc6a73dac68eb014bcfaa9f112) code:

[code]

And got this error:
[code]

### Meta
`rustc +nightly --version --verbose`:
[code]

[2020-12-29 11:01] SNCPlay42 commented on #80471
The real problem is that `Box` does not `#[derive(PartialEq, Eq)]`, but the diagnostic assumes the annotation is missing from the outermost type.

@rustbot label D-incorrect T-compiler requires-nightly

[2020-12-29 11:39] CoffeeBlend commented on #61956
There is another way to convert (using unions), e.g. [in this](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=093c5c74e6c9fc6f5ffd8c04d6faad29).

I would be in favour of adding a new assume_init function for arrays of MaybeUninit, that way one can reduce the amount of unsafe code needed to initialise an array to just one single line (once MaybeUninit::write becomes stable

[2020-12-29 12:49] Aaron1011 commented on #80389
It looks like the signature of `HashMap::get` is too strict, as it requires that `&self`, `&key`, and `&value` all have the same lifetime (via lifetime elision). I think the signature can be relaxed to allow `key` to have an unrelated lifetime `'a`, though this will require changes to `hashbrown`.

[2020-12-29 13:04] SkiFire13 commented on #80389
@Aaron1011 I don't think that's the case, the lifetime elision tules tie the output lifetime only to the self borrow if no lifetime is specified, like in this case.

My guess is that this has to do with the `Borrow` trait. In particular `K: Borrow<Q>` leads to `&'static (): Borrow<&'b ()>`, or probably `&'a (): Borrow<&'b ()>` due to variance. This apparently is satisfied only for `'b = 'a` thanks

[2020-12-29 13:16] RalfJung commented on #61956
What would be the signature of that function?

[2020-12-29 13:35] vmarkushin commented on #80471
@SNCPlay42 but why it compiles without the const parameter? [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7ded88fcae20d8f0b386d032942fd008)

[2020-12-29 14:15] SNCPlay42 commented on #80471
`Box` *implements* `PartialEq` and `Eq`, so you can derive them in structs containing a `Box`, but it doesn't do so by *deriving* them itself.

Const generic parameters require that `PartialEq` and `Eq` are derived so that how equality works for the parameter is predictable.

[2020-12-29 14:29] Aaron1011 commented on #80389
You're right - I forgot how the lifetime elision rules work.

A more targeted impl would be `impl<'a, 'b: 'a, T> Borrow<&'a T> for &'b T`, which would not require a way of expressing a general 'subtype bound'. Unfortunately, I think this would require some type of ['intersection/lattice' specialization](https://smallcultfollowing.com/babysteps/blog/2016/09/24/intersection-impls/), since this new i

[2020-12-29 14:35] Johannesd3 commented on #68371
Besides the fact that the current `scan` should actually be called `scan_filter`, I don't like that the closure takes a mutable reference. Aren't iterators all about avoiding mutability?

The proposed `scan` (without `_while`) would be equivalent to
[code]

This is at least as simple and pretty as `scan` (`map` and its closure both take one argument while `scan` and its closure require two argumen

[2020-12-29 14:37] SkiFire13 commented on #80389
That impl might work with specialization, not sure if it already supports lifetimes. However even if it was included in the stdlib it still doesn't cover any struct that's covariant over a generic lifetime (for example any struct that wraps a shared reference)

[2020-12-29 14:41] vmarkushin commented on #80471
@SNCPlay42 interesting, that makes sense. Thank you.

[2020-12-29 15:01] qiujiangkun opened #80473 "thread 'rustc' panicked at 'use-after-free in `proc_macro` handle'"
I'm writing a deserialization library like serde_json with procedural macro. When I was trying to register the structs I parsed, I add an item in a `static ref registry: RwLock<Registry> = RwLock::new(Registry::new())`, which is wrapped with `lazy_static!{}`.

The thing is that, whenever I try to read my registry, the compiler crashes. I have tried parking_lot::RwLock, std::sync::Mutex and std::sy