[2021-05-19 22:57] repnop opened #85487 "`Global` doesn't respect `Send` and `Sync` on the `#[global_allocator]` type"
I'm working on a hobby operating system and one of the things I'm doing is having allocators in userspace be defaulted to being only single-threaded, and I discovered today with some testing on the playground that the [`Global`](https://doc.rust-lang.org/alloc/alloc/struct.Global.html) allocator type has the `Send` and `Sync` autotraits applied, regardless of if the global allocator is `Send` or `

[2021-05-19 23:13] Mark-Simulacrum commented on #85487
I don't think the global allocator attribute is intended to be combined with the thread local attribute (it doesn't really make sense), and if that attribute isn't applied I think statics require send/sync already?

[2021-05-19 23:15] veber-alex opened #85488 "Rust logo in std docs settings page links back to the test crate"
https://doc.rust-lang.org/settings.html
https://doc.rust-lang.org/nightly/settings.html

Click on the Rust logo on the left, it takes you to the docs of the test crate.
Happens in stable and nightly std docs.

[2021-05-19 23:16] the8472 commented on #83311
I saw these today after rebasing to f94942d8421 but running `./x.py clean` solved it.

<details>
<summary>ui test errors</summary>

[code]
</details>

[2021-05-19 23:22] repnop commented on #85487
well the whole point is that userland applications will have a thread-local allocator for their own memory, utilizing `#[global_allocator]` so it doesn't need to specified every single time (though I guess this could be handled with an alias in my custom `std`, but seems a bit messy). If I want allocations to be `!Send`, `#[thread_local]` is the only option I have for making a global allocator, be

[2021-05-19 23:37] richkadel commented on #84018
@tmandry - This issue should be re-opened, since the PR that closed it was reverted.

The new fix in #85385 is not quite working (as I just found out today) so it is still a work in progress and marked "Draft" for now.

[2021-05-20 00:00] notriddle commented on #84893
And here's a reduced version of the other bug, where it suggests adding a trait bound with `+` in the middle of a derive macro:

[code]

<details><summary>error message</summary>

[code]

</details>

[2021-05-20 00:14] stevemk14ebr opened #85491 "[ICE: cargo build release fails"
I'm on nightly. I attempted to use lld-link.exe from https://prereleases.llvm.org/win-snapshots/LLVM-12.0.0-6923b0a7-win64.exe to build the project in release mode. I originally switched to lld-link because the same project caused msvc's link.exe to throw an access_violation also only in the release build. Debug works fine with both linkers. Here's the project, it's a no_std windows driver with ba

[2021-05-20 00:21] #85322 closed

[2021-05-20 00:38] jsha opened #85492 "rustdoc: confusing sidebar for `Any`"
The sidebar for `Any` has three definitions of each of its methods:

<img width=150 src=https://user-images.githubusercontent.com/220205/118901372-f39baa80-b8c7-11eb-8338-52a43da09aff.png>

If you click through to, say, each of the definitions of `downcast_mut`, it's not clear what the distinction between them is:

![image](https://user-images.githubusercontent.com/220205/118901445-2776d000-b8c8-1

[2021-05-20 01:57] jsha opened #85494 "rustdoc: when hiding item contents, include a count"
In #83337, we started hiding the contents (methods, fields, variants) of large traits, structs, and enums. When the contents are hidden there's text that says `[+] Show methods`. It's a little confusing as a user to figure out why some contents are hidden and some aren't. To improve that, we should include the number as a hint. E.g. `[+] Show 15 methods`.

/cc @Manishearth

[2021-05-20 01:59] jackh726 opened #85495 "Unstable fingerprints: defined_lang_items"
Unfortunately, don't really have much on this. Encountered when rebasing a rustc branch onto the current master and running tests. Tests where error happened:
- ui/associated-type-bounds/traits-assoc-type-macros.rs
- ui/async-await/issues/issue-64964.rs

Error:
[code]

[2021-05-20 02:25] abonander commented on #82449
Any heuristics for determining what impls are noise or not are going to be arbitrary. Like I previously mentioned I don't think it's enough to separate unqualified blanked impls like `impl<T> From<T> for T` since that would separate that impl from `impl<T, U> Into<T> for U where T: From<U>`.

Having a subheading for each crate the blanket impls come from would be _okay_, although I think `std` sho

[2021-05-20 02:34] jyn514 commented on #85488
Duplicate of https://github.com/rust-lang/rust/issues/81986.

[2021-05-20 02:34] #85488 closed

[2021-05-20 02:37] jyn514 opened #85497 "invalid_doc_attributes cannot be allowed or denied"
I tried this code:

[code]

I expected to see this happen: An error that `x` is invalid.

Instead, this happened: The lint stays at a warning and rustc additionally warns that the lint name isn't recognized (https://github.com/rust-lang/rust/pull/85457#issuecomment-844446870):

[code]

### Meta

`rustc --version --verbose`:  1.54.0-nightly (2021-05-18 4e3e6db011c5b482d2be)

[2021-05-20 02:41] jyn514 commented on #85497
Strangely, `#![deny(forbidden_lint_groups)]` (another future incompat lint) also has no effect, but doesn't give a warning that it's unknown.

[2021-05-20 02:46] wang-yue-ai opened #85498 "The Rust package is upgraded to version >=1.47.0, resulting in missing stack protection options and Fortify Source compilation options for packages compiled by Rust."
【problem】
1. Using rustc to compile related packages, how to add stack protection options and Fortify Source compilation options?
2. Before the rust-1.46.0 version, the stack protection option and the Fortify Source compilation option are supported. Why are these two options not available after the upgrade?

[2021-05-20 02:58] Aaron1011 commented on #85498
Are you getting an error message with a particular invocation of rust 1.46.0? If so, can you please post the command you're running, and the output you're getting?

[2021-05-20 03:04] Aaron1011 commented on #85495
This is due to a `compiletest` caching issue. Both of these tests are normal UI tests that manually specify a `-C incremental` with a path inside a directory named `tmp`. Since these files are only compiled once per run (unlike tests with incremental revisions), they should always start with a nonexistent incremental cache. However, the error message shows that these tests are sometimes being run

[2021-05-20 03:06] jyn514 opened #85500 "invalid_doc_attributes does not run if there are no items in a crate"
This is probably not worth fixing.

I tried this code:

[code]

I expected to see this happen: A warning that `doc(x)` is invalid.

Instead, this happened: No warning.

### Meta

`rustc --version --verbose`:  1.54.0-nightly (2021-05-18 4e3e6db011c5b482d2be

[2021-05-20 03:09] joshtriplett commented on #64796
On Wed, May 19, 2021 at 11:48:04AM -0700, est31 wrote:

That works, and it's nicely forwards-compatible. A version of
`cfg(accessible(::some::path))` limited to std/alloc/core/prelude would
be plenty to address this.

[2021-05-20 03:30] wang-yue-ai commented on #85498
You can write such a program and verify it on rust-1.45.2 and rust-1.47.0：
fn main() {
    println!("Hello, world!");
}

Then execute the following command：
rustc main.rs --cap-lints allow -Clink-arg=-lgcc -Copt-level=3 -Cdebuginfo=2 -Clink-arg=-Wl,-z,relro,-z,now -Ccodegen-units=1

We don’t have any error logs, and the binary is compiled normally. The binary we compiled in 1.45.2 contains these t

[2021-05-20 03:30] Aaron1011 commented on #85487
Independent of the `#[global_allocator]` and `#[thread_local]` issue - the default allocator used by `Box` is always [Global](https://doc.rust-lang.org/std/alloc/struct.Global.html), *not* the type of the `#[global_allocator]` static. The `Global` type is always `Send` and `Sync`, which doesn't support your use-case.

[2021-05-20 03:59] wllenyj commented on #73426
I had the same problem. Hope it helps you.

When I looked at the wrong `cc` cmdline, I found this parameter:
[code]
I guess this parameter is introduced for compiling openssl. My build image uses `OPENSSL_DIR=/usr/local/musl` environment variable to support openssl compilation by musl.
So I guess:
when compiling gnu, and when openssl is included in the compilation, the -L parameter will be added.

[2021-05-20 05:39] chrysn commented on #44265
For anyone trying this out quickly as I just did: On the playground the ICE only shows in "run", "LLVM" and "MIR" mode, not in "build" mode.

[2021-05-20 05:56] jsha commented on #85411
I'm having trouble figuring out what fields to check in `render_impl` to figure out if we're rendering an implementor or an implementation. If someone's able to point me in the right direction I'd appreciate it!

[2021-05-20 06:18] orodley commented on #18794
The latest output from https://github.com/rust-lang/rust/issues/18794#issuecomment-349758088 looks like exactly what I'd expect, and there's no longer a discrepancy between the output for `i32` and for `&i32`, so I consider this fixed.

[2021-05-20 06:18] #18794 closed

[2021-05-20 06:28] Acciente717 commented on #85230
I see a relevant paragraph in The Rust Reference.
https://doc.rust-lang.org/reference/expressions.html#moved-and-copied-types

As an example,
[code]

The question is whether "the location" in the quoted reference refers to the memory address storing the variable, in which case the reinitialized `s` must be placed at the same memory address as before; or "the location" refers to a more abstract not

[2021-05-20 07:15] Urgau commented on #85480
cc @jedel1043 who wrote the code that regressed

[2021-05-20 07:40] Andy-Python-Programmer commented on #29594
Would have been better if they made this pull request to actual binutils then we all could use it.

[2021-05-20 08:21] kostko opened #85502 "ICE: unstable fingerprints for native_libraries"
### Code

Compiling [`oasis-core`](https://github.com/oasisprotocol/oasis-core) with nightly 2021-05-06 and incremental compilation enabled. Seems to happen during compilation of `grpcio v0.8.2`.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-05-20 08:55] michaelwoerister commented on #60705
#83767 has been merged now, thanks @camelid!

Before we do a crater run, can we make sure to add an assertion to the symbol mangling code in the compiler that checks that all symbol names generated can be demangled by the `rustc-demangle` crate? That would make the crater run much more useful.

[2021-05-20 10:06] apiraino commented on #85447
Nominating for discussion during [T-compiler meeting](https://hackmd.io/v-I1WY0JSSqpf6KxBhkc9Q?view) to get more eyes on this (cc: @SimonSapin feel free to jump in)

[2021-05-20 10:06] RalfJung commented on #50230
I am not sure what would be the point of such a requirement.

While `f32`/`f64` are certainly the most prominent examples, the concept of a "partial equivalence relation" is well established and used throughout the math/CS academic literature.

[2021-05-20 10:13] apiraino commented on #85386
Nominating to discussion during T-compiler meeting to try to understand if this specific to the target and perhaps summon someone more familiar with it

I think the reduction by @TrueDoctor (thanks!) is great to isolate the issue, so removing the ICE-breaker label

@rustbot label +I-nominate -ICEBreaker-Cleanup-Crew

[2021-05-20 10:22] #84829 closed

[2021-05-20 11:43] stephanemagnenat opened #85508 "Use of clamp in generics does not compose with f32 and f64, maybe relax restriction to PartialOrd?"
When using `T::clamp()` in generics, `T` must be ` Ord`. Types `f32` and `f64` are not `Ord` but implements `clamp` since 1.50.0, yet they cannot be used in generics due to the `Ord` constraint.

A possible solution I can think of is relax the constraint for `clamp()` from `Ord` to `PartialOrd`.

I tried this code:

[code]

I expected to see this happen: *compilation success*

Instead, this happen

[2021-05-20 11:45] stephanemagnenat commented on #85508
This is of course not a compiler bug, but rather a typing limitation in std.

[2021-05-20 12:34] newpavlov commented on #52840
I also would love for this to be implemented. Currently I have to use a custom macro and static asserts to check that a correct alignment was indeed used, which is far from ideal.

[2021-05-20 12:35] jackh726 commented on #44265
This is similar to #76826, which falls under #62529. Fixed by #85499.

[2021-05-20 12:44] Aaron1011 commented on #85502
@kostko: Looking at the log in https://buildkite.com/oasisprotocol/oasis-core-ci/builds/4881#_, I can only see `oasis-core-client` being built once. For this crash to occur, there needs to be an existing `target/debug/incremental` or `target/release/incremental` directory. Is your CI setup performing any kind of caching across runs? If so, can you link me to the code that performs that?

[2021-05-20 12:47] kostko commented on #85502
Yes, it uses caching (used until we disabled it in the PR linked above) by [sharing the `incremental` compile caches across invocations](https://github.com/oasisprotocol/oasis-core/blob/f8d62a10c7795492ed98970bc60e1d7804fcfc3f/.buildkite/code.pipeline.yml#L17-L19).

[2021-05-20 12:49] Aaron1011 commented on #85502
@kostko: I'm not familiar with Buildkit - does that share the `incremental` directories across different builds (e.g. of different PRs or commits), or just across the different steps (e.g. 'Lint Rust crate versions' and 'Build Rust runtime loader') in a build like https://buildkite.com/oasisprotocol/oasis-core-ci/builds/4881#_ ?

[2021-05-20 12:53] Aaron1011 commented on #85502
This issue should be fixed by https://github.com/rust-lang/rust/pull/83901 (which isn't part of the `2021-05-06` nightly build). Try updating to the latest nightly - if the issue occurs again, let me know.

[2021-05-20 12:56] kostko commented on #85502
Cool, will try the most recent nightly.

[2021-05-20 13:55] zacknewman commented on #50230
I realize that, but Rust is intentionally not the most "theoretically sound" language (nor should it be). Consequently there not existing some beautiful theoretical justification—as nice as that would be—is not enough reason to not add a requirement. After all, `PartialEq` doesn't even have the bound `std::cmp::PartialEq<Self>` on `RHS` despite clearly requiring such a thing in the interest of erg

[2021-05-20 14:02] matklad commented on #58843
+1, I've spend several minutes recently figuring this out (luckily, inlay hints in the IDE revealed the deref after some times. Otherwise, I might have been debugging this still :)

The suggestion should probably be `&mut *f` rather than `DerefMut::deref_mut(&mut f)`

[2021-05-20 14:12] futile opened #85510 "Confusing error message for E0631"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2db3b616f01a0d64fdcc6c124ac677d5

[code]

The current output is:

[code]

The error message is confusing, and also doesn't point at the correct solution in this case, which is removing the `.as_ref()`.

There are other issues open related to `E0631`, but I wasn't able to figure out if this is already

[2021-05-20 14:25] Manishearth commented on #85494
Oh this is a neat idea!

[2021-05-20 14:33] nikomatsakis opened #85512 "force-warn for edition lints"
## Summary

Compiler changes:

* [x] [Create MCP](https://github.com/rust-lang/compiler-team/issues/434)
* [x] Add a `--force-warn XXX` option that is given either a lint or lint group `XXX`
* [x] When this command line option is used, all other lint settings the lints covered by `XXX` will always issue warnings, regardless of whether they are "allowed" by the code or command-line options

Cargo f

[2021-05-20 14:34] nikomatsakis commented on #85512
@rustbot assign @rylev

[2021-05-20 14:43] repnop commented on #85487
But that's the thing: `Global` forwards the calls to the `#[global_allocator]` but does not have the same `Send` and `Sync` as that type, which seems wrong? If _all_ global allocators are expected to be `Send + Sync` then I would expect that to be enforced by the `GlobalAlloc` trait instead and not just by the `static` requirements.

[2021-05-20 14:43] giltho opened #85513 "Slight inaccuracy in the rustc_mir documentation"
Hello,

It feels like this shouldn't be an issue but I don't really know where to post it otherwise..
[The documentation of `eval_place` in the MIR `InterpCx`](https://github.com/rust-lang/rust/blob/3e827cc21e0734edd26170e8d1481f0d66a1426b/compiler/rustc_mir/src/interpret/place.rs#L654) says that there is a more efficient solution when the place is access for read called `eval_place_for_read`, but

[2021-05-20 14:45] Mark-Simulacrum commented on #85487
Yeah, that may have been an oversight, I'm not sure. cc @rust-lang/wg-allocators

[2021-05-20 14:48] pnkfelix commented on #85351
@triagebot ping llvm

[2021-05-20 14:48] Mark-Simulacrum commented on #85351
@rustbot ping llvm

[2021-05-20 14:51] nagisa commented on #85351
A couple points: IIRC outliner is a pretty recent addition to LLVM. Also, to work on this it is going to be important to have some code that reproduces this (I'm not seeing any, please tell me if I missed anything)

[2021-05-20 14:53] pnkfelix commented on #85435
discussed in compiler triage. Heightening priority and self-assigning.

[2021-05-20 14:57] Mark-Simulacrum commented on #85224
The majority of the regressions I suspect are due to lockfile upgrades, discussed a little with some Cargo folks on Zulip - https://rust-lang.zulipchat.com/#narrow/stream/246057-t-cargo/topic/git.20dep.20getting.20updated.20in.20crater.20on.201.2E53.20beta. Likely going to try to get a Crater patch to avoid this kind of bug and rerun the failed crates (should be easy and fast).

[2021-05-20 14:57] nikomatsakis commented on #85512
Some mentoring notes:

* To add an option, modify this code to add the force-warn, modeled on cap-lints:

https://github.com/rust-lang/rust/blob/0eb4e811915eae2964e6072086d4a13c8daf136b/compiler/rustc_session/src/options.rs#L131-L133

Extend the `LintLevelMap` to contain a list of "force warn" lists:

https://github.com/rust-lang/rust/blob/0eb4e811915eae2964e6072086d4a13c8daf136b/compiler/rustc_mi

[2021-05-20 15:01] est31 commented on #64797
There is a bit of discussion about `cfg(accessible)` in the cfg(version) tracking issue: https://github.com/rust-lang/rust/issues/64796#issuecomment-811953979 , see especially the proposal for a more limited and forwards compatible version of `cfg(accessible)`: https://github.com/rust-lang/rust/issues/64796#issuecomment-844650096

Re the forward compatibility concern with type dependent paths outl

[2021-05-20 15:04] nikomatsakis commented on #85512
Write some tests:

* `// compile-flags: --force-warn XXX` to add flags
* Test for:
    * Force warn on a lint name that is allowed by name
    * Force warn on a lint name that is allowed by a group that contains it
    * Force warn on a lint group that contains a lint allowed by its name
    * Force warn on a lint group that contains a lint allowed by group
    * Force warn on a lint group that co

[2021-05-20 15:08] Amanieu commented on #85487
I think this is still sound: `#[global_allocator]` must be specified on a `static`, so the type is already required to be `Sync`. And while `Global` itself is `Send`, it just just a ZST that calls through the `static`. The actual global allocator type is never moved, so `Send` doesn't apply.

The real issue here is that `#[global_allocator]` should not be allowed to be combined with `#[thread_loca

[2021-05-20 15:08] yroux commented on #85351
Machine Outliner initial support for ARM was added into LLVM-11, but it was improved to handled more cases (such as ld/st stack instructions involved in this issue) and enabled into -Oz for M-profile targets in LLVM-12 release.

I managed to reproduce the issue on a reduce LLVM MIR test, and I'm working on a fix.

[2021-05-20 15:12] jrmuizel commented on #85230
@nikic do you know if things are working as intended here?

[2021-05-20 15:27] repnop commented on #85487
gotcha, I'll go that route then, was hoping to avoid it but hopefully shouldn't be much more work. just out of curiosity, are there technical reasons to not support it? I understand that pretty much all platforms as it stands right now wouldn't have a real way to actually make use of `!Send + !Sync` allocators since all memory is shared between threads, but I'm interested in learning about other p

[2021-05-20 15:29] guswynn opened #85516 ""not general enough" error points to the async spawn site as opposed to the offending code"
Given the following code:

Playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=44a059128482832f4b01a5a4897fa08d
(I'm sorry I couldn't minimize more)

[code]

The current output is:

[code]

note that Before 1.52.1 (in this case 1.50), the error message is worse:
[code]

Notes:

When I first encountered this error (the 1.50 version), I didn't remember that fn-trait a

[2021-05-20 15:31] Amanieu commented on #85487
The problem is that `Global` is `Send`, but doesn't actually hold a pointer to the `GlobalAlloc` instance since it is a ZST. This means that if you create a `Box`, send it to another thread and then free is there, the `Box` will be freed with a *different* `GlobalAlloc` instance than the one it was created with.

[2021-05-20 15:32] guswynn commented on #85516
For the original error, I can't see anything special about `map`, `buffer_unordered`, or `collect` that would prevent me from using a specific lifetime. Both `this` and the `Change`'s in the iterator stream borrow from self...

[2021-05-20 15:38] apiraino commented on #85386
issue has been discussed during the compile meeting ([Zulip log](https://zulip-archive.rust-lang.org/238009tcompilermeetings/21853weekly2021052054818.html#239606124)

[2021-05-20 15:45] repnop commented on #85487
yeah okay that was my concern with the current impl, but wasn't sure if that was something that could be changed. I'll close the issue since this this shouldn't be allowed in the first place like you said. would you like me to make a new issue about preventing `#[thread_local]` and `#[global_allocator]` from being used in tandem?

[2021-05-20 15:50] Amanieu commented on #85487
Yes, please open a new issue for that.

[2021-05-20 15:56] repnop opened #85517 "`#[global_allocator]` and `#[thread_local]` should not be usable together on the same `static`"
As per https://github.com/rust-lang/rust/issues/85487#issuecomment-845205032, using both `#[global_allocator]` and `#[thread_local]` is currently allowed but should not be since the [`Global`](https://doc.rust-lang.org/std/alloc/struct.Global.html) allocator is always `Sync + Send` which means that even if the type implementing `GlobalAlloc` is neither, allocations using the default `Global` alloc

[2021-05-20 16:13] TrueDoctor commented on #83045
This might not be related but I found a comment mentioning this issue while looking through the code. In that case I am very sorry for the ping @eddyb @michaelwoerister

This still causes an ICE in specific scenarios as I discovered here: #85386 When importing multiple things from one crate.
I think the "tracking issue" would be #56935
[code]

[2021-05-20 16:16] jonas-schievink opened #85519 "28x binary size regression in recent nightly"
There seems to be a significant regression in binary size in the most recent nightly:

nightly-2021-05-19

[code]

nightly-2021-05-20

[code]

Steps to reproduce:

* Clone https://github.com/jonas-schievink/size-regression
* Install `thumbv6m-none-eabi` target
* Run `cargo build`
* `size target/thumbv6m-none-eabi/debug/hello`

Commits in that range: https://github.com/rust-lang/rust/compare/4e3e6d

[2021-05-20 16:18] RalfJung commented on #50230
You say that, and then you go on making arguments based entirely on theoretic concerns about the "structure" that a trait imbues on a type. I really don't know how to make sense of that.^^

Usually in partial equivalence relations (but you probably know this), `R x x` means that `x` is "valid" in some sense -- i.e., elements such as NaN that are not equal to themselves are considered "invalid" ele

[2021-05-20 16:19] jamesmunns commented on #85519
This seems to have been noticed here as well: https://github.com/rust-lang/rust/pull/85274

[2021-05-20 16:26] jamesmunns commented on #85519
Also as a note, @japaric tested this with using `arm-none-eabi-ld` as the linker instead of the default rust-lld, and this issue remained (referring to #85274). He can confirm whether he set the "linker flavor" or similar as well.

[2021-05-20 16:50] Dirbaio commented on #85519
it's very likely #85274, since adding `-C link-arg=--gc-sections` to rustflags fixes the bloat.

[2021-05-20 16:50] Mark-Simulacrum commented on #84297
Re-classifying as P-critical, as this is observable on non-nightly builds. Nominating for T-lang; I'd like to get a read on whether there's something special about intrinsics that should prevent reification here (i.e., is this "just something that needs to be fixed" or something underlying).

[code]

[2021-05-20 16:52] Mark-Simulacrum commented on #83311
Also observed these today - https://gist.github.com/Mark-Simulacrum/00eb855785b8cd9d8a696eb9b8fc1317

[2021-05-20 16:57] nagisa commented on #85519
Is the linker for this target guaranteed to be gnu? Doesn't sound like something that we can claim, can we?

[2021-05-20 16:59] jonas-schievink commented on #85519
We do default to LLD, which can also garbage-collect unused sections

[2021-05-20 16:59] pnkfelix commented on #85386
I discussed this with @alexcrichton . They confirmed that it looks like a duplicate of issue #56935. That is: this is not a wasm-specific bug, but rather a bug with cross-compilation in general.

As alex put it, "looks like the proc macro is loaded twice by accident. er maybe 3 times even..." (and they were very pleased by the MCVE)

[2021-05-20 17:00] nagisa commented on #85519
Yeah, I was just asking if we should expand our logic there or just say that the targets use a gnu-ld-like linker.

[2021-05-20 17:02] jonas-schievink commented on #85519
Yeah, in practice I don't think anyone uses a non-GNU linker there

[2021-05-20 17:18] zacknewman commented on #50230
I suppose what I meant—but clearly did a poor job in conveying—is that I don't need the super technical encoding of some concept. While I realize having words like "structure" are more technical than others; from the perspective of math, it is very much informal (i.e., I am ignoring any formulation based on first-order logic/type theory of what that term means). I also hope I did not come off as r

[2021-05-20 17:39] sjakobi commented on #57562
May I suggest that the `E-mentor` and `E-medium` labels be removed until the approach has been settled?

[2021-05-20 17:41] RalfJung commented on #84297
From a compiler implementation perspective, intrinsics are not real functions, they are more like "custom MIR statements". No function call code is ever generated when you "call" an intrinsic.

But in principle, for fully monomorphic uses of intrinsics I see no reason why we couldn't auto-generate little shim functions that call the intrinsic. The user can already write these functions manually, s

[2021-05-20 17:43] Mark-Simulacrum commented on #84297
Yeah, I think that's true, but I want to check-in -- not sure if T-lang is the right set of folks either, maybe we'll leave it nominated for T-compiler. Certainly there's some overlap anyway.

I suspect the auto-generation of shim functions isn't something we'd be willing to backport, so likely we'll want to apply the revert to 1.53 (beta) and 1.54 (master), and then land the fix for intrinsic rei

[2021-05-20 17:44] Mark-Simulacrum commented on #57562
I suspect it likely doesn't matter too much at this point -- this is a pretty old issue, and I think we should const stability these days. So I'm going to go ahead and just close.

[2021-05-20 17:44] #57562 closed

[2021-05-20 17:49] scottmcm commented on #50230
I often wish Rust used more `PartialOrd + !Ord` things.  For example, it makes sense to me that `Ok(1) < Ok(2)` and `Err(1) < Err(2)`, but in Rust it's also true that either `Ok(2) < Err(1)` or `Err(2) < Ok(1)` -- and I can never remember which of them.  (Is there a good justification for which?  Is it really just completely arbitrary?  Do people every really use `Result`s as `BTreeMap` keys to ca

[2021-05-20 17:51] proohit commented on #73755
Multi-values with rustc `1.52.1` and `nightly 1.54.0` are failing for me too. I am getting function signature mismatch errors from `rust-lld`
[code]
For those functions:
[code]

[2021-05-20 17:52] xFrednet commented on #54503
Hello everyone,
I would like to work on the `expect` attribute and move this issue towards stabilization.

Is there someone here who could mentor me? My contributions so far have only focussed on Clippy. If not I would most likely ask on Zulip for help :upside_down_face:.

[2021-05-20 18:02] scottmcm commented on #50230
Yup, that's right.  Same as how the only place where the order of the fields in a struct matters is in how it impacts the derive.

[2021-05-20 18:07] scottmcm commented on #85513
If you have a question while making a PR, on good resource is Zulip: https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp

Depending how easy a PR it is and whether you're reasonably confident in your deduction, you could also just make a PR changing it and the reviewer will confirm that the update is accurate.

[2021-05-20 18:11] nagisa commented on #85471
Yeah, I believe this was fixed by https://reviews.llvm.org/rG6ffcb2937c96bd0d7a55b984b5eb8f381b68e322.

[2021-05-20 18:30] #85446 closed

[2021-05-20 18:45] SkiFire13 commented on #76407
@cynecx I don't think your example should compile. `M1` is not guaranteed to be `Option<T>`, there could be other types that impement `Monad<Unplug=T>` whose `Plug<B>` associated type is not `Option<B>`. For example if I add another impl for `Result<A, ()>` like the following then `stringify` will not be valid anymore when `M1 = Result<T, ()>`:

[code]

[2021-05-20 18:51] petrochenkov commented on #85519
It may make sense to set the default for `linker_is_gnu` to true because `ld`-style linkers are *usually* gnu, and it's easier to explicitly list exceptions than to not forget setting it to true for all random embedded targets.

[2021-05-20 18:53] petrochenkov commented on #85519
If the default is not flipped then `compiler\rustc_target\src\spec\thumb_base.rs` needs to add `linker_is_gnu: true` + other target specs should probably be audited as well.

[2021-05-20 19:23] cynecx commented on #76407
@SkiFire13 Oh wow. (...I feel stupid). Thanks for pointing that out :D

[2021-05-20 19:25] zacknewman commented on #50230
@scottmcm, that is actually very useful. Not to derail this, but I am currently porting over a decent portion of `std` into C#—I apologize programming language theorists, but sadly my job refuses to let me code in Rust or Haskell—and I realized that I shouldn't just "blindly" do what Rust does but actually think if there is a better/different way. Now ignoring the _many_ unfortunate things I can't

[2021-05-20 19:44] memoryruins commented on #85517
@rustbot label: T-libs, A-allocators, F-thread_local

[2021-05-20 19:44] Boddlnagg commented on #85230
I don't think this makes a difference for the example stated above, because no variable is reinitialized there. It would be different if `s` was indeed reused after the `drop`, but if it isn't, then I see no reason why `r` could not reuse the stack space of `s`.

[2021-05-20 19:55] Nemo157 opened #85522 "`missing_docs` lint does not take `doc(hidden)` into account on re-exports"
I tried [this code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=468c05b2ae3d24063d5a1ae107393f8f):

[code]

I expected to see this happen: no warning, as `Foo` is not a publicly documented type

Instead, this happened:

[code]

Testing similar code where there is no re-export correctly identifies that the ancestor module is not publicly visible, only with this setup whe

[2021-05-20 20:24] Nemo157 commented on #81980
Also see <https://github.com/rust-lang/rust/issues/59368> which has mentions of this issue.

[2021-05-20 20:27] Nemo157 opened #85526 "`missing_docs` lint does not take into account the implementing type being `#[doc(hidden)]`"
I tried [this code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=fbce6f3fc24a28d741173d074e9d5e3b):

[code]

I expected to see this happen: no warnings, `Foo` and its method are not publicly documented.

Instead, this happened:

[code]

[2021-05-20 20:34] yaahc commented on #74372
I don't mind at all, and sorry for not getting to this earlier.

---

I'm not super familiar with LLVM's release process but it looks like their release cadence is approximately every 6 months and that they released `12.0.0` 1 month ago. Does this mean that cross-language-LTO would be broken for all rust users for 5 months?

[2021-05-20 20:47] alexcrichton commented on #74372
Indeed yeah LLVM releases every 6 months so I think LLVM 13.0.0 is scheduled for release in mid-October. Despite this though I don't believe the cross-language-LTO is impacted in any meaningful way by the LLVM backports made to Rust's LLVM.

Cross-language-LTO in this case only really matters for the wasm target itself (none of the backports did something like change the bytecode format for all ot

[2021-05-20 20:54] YohDeadfall opened #85527 "The compiler suggests the same thing twice"
I tried this code:

[code]

The code above contains an error which is correctly reported by the compiler, but it suggests the same fix twice:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2021-05-20 21:11] #85320 closed

[2021-05-20 21:11] #85347 closed

[2021-05-20 22:00] joshtriplett commented on #74372
Per https://github.com/rust-lang/rust/issues/74372#issuecomment-835696632 :

@rfcbot resolved update-stdarch

[2021-05-20 22:52] estebank commented on #85527
Looking at the following code:

https://github.com/rust-lang/rust/blob/99e3aef02079e9c10583638520cd0c134dc3a01d/compiler/rustc_typeck/src/check/fn_ctxt/suggestions.rs#L223-L258

The simplest solution might be to actually `.collect()` `suggestions` before it is used at

https://github.com/rust-lang/rust/blob/99e3aef02079e9c10583638520cd0c134dc3a01d/compiler/rustc_typeck/src/check/fn_ctxt/suggestion

[2021-05-20 23:20] tlively commented on #74372
Looks good to me! +1 for the general approach and naming (although the table above looks like it has the wrong name for `i32x4.dot_i16x8_s`).

Regarding dynamic feature detection and safety: the latest feature detection proposal (likely to see significant work and progress later this year) is this one: https://github.com/webassembly/feature-detection. The feature detection is still not especially

[2021-05-21 00:30] clarfonthey opened #85532 "Tracking Issue for bigint helper methods"
Feature gate: `#![feature(bigint_helper_Methods)]` and `#![feature(const_bigint_helper_methods)]`

This is a tracking issue for the following methods on integers:

* `carrying_add`
* `borrowing_sub`
* `carrying_mul`
* `widening_mul`

These methods are intended to help centralise the effort required for creating efficient big integer implementations, by offering a few methods which would otherwise

[2021-05-21 01:22] jyn514 commented on #81980
Oh good point, I think this is a duplicate.

[2021-05-21 01:22] #81980 closed

[2021-05-21 01:39] klensy commented on #85441
@CDirkx

[2021-05-21 01:47] elidupree opened #85533 "Intervening type alias of GAT to causes incorrect E0581"
This code [[playground]](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7299ed4b17607b0f5035ffbb871c96fd):

[code]

Produces the following error on 1.54.0-nightly (2021-05-19 f94942d8421dc4b1da86):
[code]

The version that uses `T::Assoc` directly works, but the one using the type alias (which should be identical) fails.

[2021-05-21 01:48] hi-rustin commented on #85527
Let me try to fix it.

@rustbot claim

[2021-05-21 01:50] hi-rustin commented on #85071
I can't fix it. So unassign myself.

[2021-05-21 02:25] CDirkx commented on #85441
Yeah that makes sense that it is from #84115.

https://github.com/rust-lang/rust/blob/40d23020470db06903589e210c83a4936f22d52a/library/std/src/sys/windows/net.rs#L44-L51

`cleanup` always called, which makes Rust link to `WSACleanup` from ws2_32.dll, even if no networking code is ever used. I wonder if extracting WSACleanup into a seperate non-inlined function would be enough:

[code]

[2021-05-21 02:33] stevemk14ebr commented on #85491
I traced this down. The issues is that even though i'm no_std libcore is compiled/requires unwind info. This makes __CxxFrameHandler3 be required to link properly. This symbol isn't needed however so i had defined it to make the compiler happy, but that is the issue of where the linker is faulting, undefining this symbols fix the ICE's.

To make the build happy without this I needed to add the lto

[2021-05-21 02:39] #85468 closed

[2021-05-21 03:19] QuineDot opened #85536 "OutputTypeParameterMismatch ICE"
### Code

[code]

### Meta
[Discovered on playground,](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=156b2189c5a284ed38034b8cc1e1fd10) reproduces on all of Stable, Beta, and Nightly.

### Error output
[code]
### Context
Perhaps irrelevant to the ICE, but [I was using the round-about ascription to (attempt to) work around what I believe is a missed type normalization.](htt

[2021-05-21 03:25] weihanglo commented on #84513
Since `for` loop are converted into `loop` in HIR, is it still possible implementing this as a late pass lint rule?

[2021-05-21 03:52] hi-rustin commented on #85527
@estebank Could you please help provide some minimal reproduction? I tried but couldn't reproduce it minimally. Thanks!

[2021-05-21 04:02] joshtriplett commented on #76992
I recently ran into a new issue that would have been fixed by this. On aarch64, the LSE outline-atomics symbols recently added to compiler-builtins have a dependency on the `getauxval` function, but when rustc links compiler-builtins, it does so after the C library that provides `getauxval`. This causes:
[code]

Moving the link of the compiler_builtins rlib to inside the start-group/end-group fixe

[2021-05-21 04:16] philip-peterson commented on #75861
It would be nice to have multiple arities of this function, i.e.

[code]

and ditto for 3, etc. The use case would be for when your type `B` also contains a `Weak<A>` and/or vice-versa.

[2021-05-21 06:28] k0pernicus commented on #84513
I could work on updating the `array_into_iter` lint.
However, as I never touched to this part before I may have some questions later...

[2021-05-21 06:35] superwushu opened #85537 "Inconsistent results between split functions and chained functions as well as match expression"
Very accidentally, I hit an issue when playing with the [sample web server](https://doc.rust-lang.org/book/ch20-03-graceful-shutdown-and-cleanup.html) (full code in the end) from The Book.

The web server is supposed to handle multiple requests by `Worker`'s threads in the `ThreadPool`. The sample code has no problem. Making two requests simultaneously:
[code]

That worked as expected.

However, w

[2021-05-21 07:36] mati865 commented on #76992
I still have it on my long TODO but it's rather low so I won't mind somebody beating it to me.

[2021-05-21 07:48] csmoe commented on #85537
It's known behavior, the reference might be helpful for you https://doc.rust-lang.org/reference/destructors.html#temporary-scopes

[2021-05-21 07:48] #85537 closed

[2021-05-21 08:18] leonardo-m commented on #85532
I'd like a mul_mod, as shown in #85017, because I think you can't implement it efficiently without asm and it's a basic block for power_mod and other things.

[2021-05-21 09:36] pymongo opened #85539 "no typehint/typeinfer for async fn on rustc-nightly-2021-05-20 with rust-analyzer"
I tried this code:

[code]

But no typehint/type annotation for variable `temp` if rustc's version is nightly-2021-05-20

If I only change rustc's version by `rustup override set nightly-2021-05-16` and reload vscode's window, the typehint for variable `temp` show correctly.

typehint for `async fn foo() -> Result<i32, ()>` works ok on nightly-2021-05-16, but failed on nightly-2021-05-20

I use th

[2021-05-21 09:42] Azorlogh commented on #39371
When is this warning ever even needed?

[2021-05-21 09:50] Nemo157 commented on #78835
@GuillaumeGomez was there any followup to this? I just encountered a usecase for this and was wondering if it was determined as impossible to support, or might need an RFC?

[code]

[2021-05-21 09:54] GuillaumeGomez commented on #78835
@petrochenkov said that they'd prefer not to add this on nested attributes. You can always try an RFC though.

[2021-05-21 10:16] apiraino commented on #85386
I'll go and close this issue as duplicate, as the discussion demonstrates (this won't block discussing the issue here or on #56935 or Zulip)

[2021-05-21 10:16] #85386 closed

[2021-05-21 10:19] apiraino commented on #84297
Probably a glitch of github didnt apply the new priority label as suggested by @Mark-Simulacrum

@rustbot label -label:P-medium label:P-critical

[2021-05-21 10:36] diseraluca opened #85542 "Documenting that From implies TryFrom."
I was working on a project and moved a `TryFrom` implementation to a `From` implementation.

The code that called the `TryFrom` implementation for the type wasn't changed but the project compiled and worked effortlessly.

Indeed, a [minimal reproduction](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b7d9227d16e2ba95e7eb6871c2e0f623) of this seems to work, compiling correc

[2021-05-21 11:08] BurntSushi commented on #73014
One thing that I think is worth calling out is that this is putting a free `default` function inside the `std::default` module. So in order to avoid the stutter complaint of using `Default::default()`, it sounds like you'd have to add a `use std::default::default;` somewhere in order to use `default`. So that stutter is still there in some sense _and_ you have to write an import for it. Granted, t

[2021-05-21 11:13] diseraluca commented on #85542
This seems to be actually documented in [std::convert::Infallible](https://doc.rust-lang.org/std/convert/enum.Infallible.html), which reports that:

It so seems that the implementation comes from `Into` and which is implied by `From`.

Albeit documented, I would still consider adding a note about this in the other parts of the documentation.

[2021-05-21 11:26] jonas-schievink commented on #85539
Problems with rust-analyzer should generally be filed at https://github.com/rust-analyzer/rust-analyzer

[2021-05-21 11:51] bestouff commented on #73014
Isn't the plan to have `std::default::default` in the prelude ?

[2021-05-21 11:53] BurntSushi commented on #73014
I'm not aware of that plan. Could you please link to it?

[2021-05-21 11:54] lukebond opened #85543 "segfault running debug static musl hello world app on Linux"
I'm trying to build a static binary of a Rust application on Linux and it segfaults, so I created a smaller test case.

Here is my `main.rs` file:

[code]

I ran the following:

[code]

I had previously installed musl-gcc on my system using the Arch package manager:

[code]

If I make a release build, it doesn't segfault:

[code]

### Meta

Details of my system:

[code]

I expected to see this hap

[2021-05-21 12:05] bestouff commented on #73014
You're right my bad. It was just a reminiscence of [some random reddit post](https://www.reddit.com/r/rust/comments/lt9az9/rfc_pr_a_new_prelude_for_the_2021_edition/).

[2021-05-21 12:12] superwushu commented on #85537
@csmoe Appreciate it if you can elaborate on this. Moving the chained functions to `match` scrutinee should not change the place of destructor because there is only one `match` statement within the loop. As quoted below from [temporary scopes](https://doc.rust-lang.org/reference/destructors.html#temporary-scopes):

[2021-05-21 12:13] jonas-schievink commented on #85537
The guard is dropped after the `let message = receiver.lock().unwrap().recv().unwrap();` is evaluated, which unlocks the mutex.

[2021-05-21 12:24] superwushu commented on #85537
Ah, I see. It's because of the implicit unlock for `Mutex` when dropped. Thanks a lot!

[2021-05-21 12:27] nagisa commented on #85543
Sounds like a dupicate of https://github.com/rust-lang/rust/issues/84576

[2021-05-21 12:28] jyn514 commented on #78835
@Nemo157 see https://zulip-archive.rust-lang.org/182449tcompilerhelp/24698Allowexpressionfordocaliastoo.html for more discussion

[2021-05-21 12:39] GuillaumeGomez opened #85544 "Search result type is going over description on small screen size"
![Screenshot from 2021-05-21 14-38-40](https://user-images.githubusercontent.com/3050060/119138610-5add6a00-ba42-11eb-85fd-e36690dcd54a.png)

[2021-05-21 12:56] GuillaumeGomez opened #85545 "Incorrect font is applied on module items"
![Screenshot from 2021-05-21 14-53-59](https://user-images.githubusercontent.com/3050060/119140652-b7418900-ba44-11eb-8624-5927c512d57b.png)

[2021-05-21 12:58] lukebond commented on #85543
if i add `-Crelocation-model=static` to `RUSTFLAGS` it no longer segfaults. this unblocks me and i'd be happy to close the issue but leaving it open in case it's a bug and the team want to track it.

[2021-05-21 13:15] grossag opened #85547 "Generating documentation using fabricate fails during copy stage on Windows due to long destination paths"
I am working on upgrading my company's build of rust from 1.41 to 1.52.1. I am finding that the Windows build is failing because fabricate is failing to copy a file.

Build root is: C:\dev\cayman_rust\build\w

Command output is:

08:39:38.450 python     INFO         Dist rustc-dev-1.52.1-dev-x86_64-pc-windows-msvc
08:39:38.450 python     INFO         running: "C:\\dev\\cayman_rust\\build\\w\\build

[2021-05-21 14:19] nikomatsakis commented on #50230
All arguments aside, `PartialEq` has been stable in its current form for a long time. I'm inclined to say that changes to it have to pass a *very* high bar, and it seems like there isn't much consensus around this at all. I'd be inclined to close it.

[2021-05-21 14:24] nikomatsakis commented on #54503
@xFrednet I would happily mentor you on this! Let me start by opening an issue dedicated to jus the implementaton, since I dislike using the tracking issue for that sort of thing. I'll assign it to you.

[2021-05-21 14:25] nikomatsakis opened #85549 "Implement expect attribute from RFC 2383, "Lint Reasons RFC""
This issue is part of https://github.com/rust-lang/rust/issues/54503. It is specifically focused on implementing the `#[expect]` attribute for lints.

---

A working lint implementation can be found in https://github.com/rust-lang/rust/pull/87835. The implementation still left the to-dos open for follow-up PRs:
* [x] Handle `#[expect(unfulfilled_lint_expectations)]` -- #94670
* [x] Update unstable

[2021-05-21 14:43] nikomatsakis commented on #85549
Here are some high-level mentoring instructions. Each of these could be a commit or even a PR (I like doing things in stages):

* Create a feature gate `lint_reasons` per [the directions here](https://rustc-dev-guide.rust-lang.org/feature-gates.html#adding-a-feature-gate)
* Create some ui tests covering the expected behavior ([instructions](https://rustc-dev-guide.rust-lang.org/tests/adding.html))

[2021-05-21 14:44] nikomatsakis commented on #85549
cc @xFrednet -- feel free to "rustbot claim" this issue

[2021-05-21 14:49] pymongo commented on #85539
close since issue track on https://github.com/rust-analyzer/rust-analyzer/issues/8907

[2021-05-21 14:49] #85539 closed

[2021-05-21 14:52] nikomatsakis commented on #64797
I would be quite satisfied with a std/alloc/core version of this for the time being, yes.

[2021-05-21 14:59] xFrednet commented on #85549
Very, very awesome. Thank you very much for taking up the role of mentoring me! @nikomatsakis

I've started to work on this implementation partially already by adding the `expect` attribute as a lint level. Similar to how @JohnTitor has done it in this [commit](https://github.com/rust-lang/rust/commit/d7a9841c0fd301a4ae4934bbbc9d8a65826b2d79). I was debating if this should actually be a lint level

[2021-05-21 15:20] dns2utf8 commented on #85544
Confirm on Firefox 88 and Chromium 90

[2021-05-21 15:25] zacknewman commented on #50230
My brain decided to just not work for a little bit. Now that I've gotten more sleep, I'm embarrassed by my confusion above. I think there would be some use for a "true equality" trait. I feel like `core::marker::StructuralEq` is too extreme where effectively the "raw bits" must be the same as opposed to indiscernibility based only on the public API of a type, but that is orthogonal to this.

[2021-05-21 15:26] pnkfelix commented on #83311
A note: This bug has evolved quite a bit from its original filing.

Many of the reported issues are not specifically about fingerprints.

A common theme among them is that they are all problems that arise on the `x.py test` ui test suite.

A recent discussion with @Mark-Simulacrum leads us to think that this may be very specific to local `rustc` development, where you are actually changing the `ru

[2021-05-21 15:27] xFrednet commented on #85549
Okay, I'm sadly not very knowledgeable when it comes to rust's incremental compilation. So, I'll most likely only be a side reader in the stream for now. For reference, is there a state or session saved between the compilation runs?

[2021-05-21 15:30] Johannesd3 commented on #75861
@philip-peterson

[code]

Doesn't look very nice, but it does its work without using `unsafe`.

[2021-05-21 15:30] nikomatsakis commented on #85549
@xFrednet I recommend reading about [the query system](https://rustc-dev-guide.rust-lang.org/query.html) and the [incremental system](https://rustc-dev-guide.rust-lang.org/queries/incremental-compilation.html)

[2021-05-21 15:33] nikomatsakis commented on #84978
@petrochenkov I was wondering about "jointness". The idea here would be that we produce the same tokens, but in the Rust parser we check for (e.g.) `k#foo` and interpret it differently than `k# foo`?

[2021-05-21 15:36] RalfJung commented on #50230
So you mean, like `Eq` but `unsafe` so that one can properly rely on its axioms? `TrustedEq`, so to speak?

[2021-05-21 15:56] nikomatsakis commented on #50230
Either way, I think *this particular issue* can be closed.

[2021-05-21 16:00] matthiaskrgr opened #85552 "ICE: glacier/fixed/19064.rs -Zunpretty=thir-tree"
### Code
code from `glacier/fixed/19064.rs`
[code]

### Meta

searched nightlies: from nightly-2021-05-18 to nightly-2021-05-20
regressed nightly: nightly-2021-05-20
searched commits: from https://github.com/rust-lang/rust/commit/4e3e6db011c5b482d2bef8ba02274657f93b5e0d to https://github.com/rust-lang/rust/commit/f94942d8421dc4b1da86d07069571ddb43127235
regressed commit: https://github.com/rust-la

[2021-05-21 16:04] RalfJung commented on #50230
I think there is a lot of valuable information buried in this issue, like [this comment](https://github.com/rust-lang/rust/issues/50230#issuecomment-392819364). Sadly, the work of actually turning this into new docs for `PartialOrd` was never done. The intention, I think, is less to *change* `PartialOrd` and more to figure out what its true contract is and relate it to well-known mathematical conc

[2021-05-21 16:08] xFrednet commented on #85549
I'm starting to see the problem with my idea. Then let's wait for a bit to see if someone suggests something on Zulip or if either one of us gets an idea. :thinking:

[2021-05-21 16:09] matthiaskrgr commented on #85552
cc @LeSeulArtichaut looks like this was caused by https://github.com/rust-lang/rust/pull/83842 ?

[2021-05-21 16:11] PatchMixolydic commented on #85552
cc rust-lang/project-thir-unsafeck#8

[2021-05-21 16:12] LeSeulArtichaut commented on #85552
Yes, this was expected. I will work on fixing this when #85273 is merged.

[2021-05-21 16:30] #46871 closed

[2021-05-21 16:36] nikomatsakis commented on #50230
OK, perhaps we can modify the issue title. I'm a bit reluctant to "add new contracts" to `PartialOrd` (who knows what impls are out there?). At the same time, I think if we can say "what requirements already exist for things to behave properly" and document those, then this is great.

[2021-05-21 16:57] Aaron1011 commented on #85360
This issue has now been fixed. However, we still need a minimzed regression test.

[2021-05-21 16:58] RalfJung commented on #50230
Yeah, this issue has gone a long way since it was created, and title / description have not kept up.

FWIW our conclusion was that we basically already require `<` to be irreflexive, since that is the only way the following equivalences can be upheld:
* `x < y` iff `x.partial_cmp(y) == Some(Less)`
* `x == y` iff `x.partial_cmp(y) == Some(Equal)`
* `x > y` iff `x.partial_cmp(y) == Some(Greater)`

T

[2021-05-21 17:00] Moxinilian commented on #85133
For the people interested, conversation on Zulip moved to https://rust-lang.zulipchat.com/#narrow/stream/189540-t-compiler.2Fwg-mir-opt/topic/Optimizing.20a.20match.20on.20a.20just-constructed.20enum.20.2385133

[2021-05-21 17:34] tmandry commented on #85417
We [discussed](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async-foundations/topic/meeting.202021-05-21/near/239782757) this in our meeting today. The difference in behavior comes from this code:

https://github.com/rust-lang/rust/blob/af2ed1b51887ede4d766ee123d3fa216970d1fdd/compiler/rustc_ast_lowering/src/lib.rs#L1800-L1807

While we decided that async fn probably exhibits the right

[2021-05-21 18:15] petrochenkov commented on #84978
Yeah, it should be applicable to `prefix#ident` too in some form (with less urgency), but I was talking about `prefixLITERAL` specifically (as an answer to https://github.com/rust-lang/rust/issues/84978#issuecomment-844147408) because it has larger compatibility issues.

[2021-05-21 18:31] Chronos-Sk commented on #27732
@matthieu-m That playground example is currently throwing an ICE, in case that's new. [Error gist](https://gist.github.com/Chronos-Sk/c335c49fc20724efed8623b18db85c3f).

[2021-05-21 18:38] thomcc commented on #64797
Solving it only for libstd/core/alloc solves the issue for people trying to support old versions of rustc, but I'd argue that's a less common use case than people trying to use conditionally-available functionality in other cases.

As [mentioned](https://github.com/rust-lang/rust/issues/64797#issuecomment-706286311), it's pretty annoying to use libc without this.

[2021-05-21 18:49] pnkfelix opened #85561 "Under feature(capture_disjoint_fields), unsafe-checking has false positives under unsafe blocks"
Spawned off of issue #85435

I tried this code on nightly:

[code]

I expected to see this happen: Code accepted by compiler

Instead, this happened:

[code]

Note: This has same root cause as #85435. But, we're going to address #85435 with a targeted short-term fix (namely PR #85564), so that it won't hit stable. So I'm filing this bug to track fixing the root cause.

[2021-05-21 18:49] GuillaumeGomez commented on #85411
Well, I think I handled it in #85548 (funny that I was noticed it and fixed it on my side and someone else find it out too).

[2021-05-21 18:55] joshtriplett commented on #64797
@thomcc I'd absolutely like to see this available for general-purpose use. However, in the short term, the question is "how much of this needs to be available so that people aren't driven towards rustc version detection instead". And for *that* purpose, it's sufficient to be able to see what's available in the libraries that ship with rustc.

[2021-05-21 18:57] infinity0 opened #85562 "1.52.1 LLVM 12 on 32-bit mips has intrinsics problems"
LLVM intrinsics text output seems to be getting corrupted on mipsel 32-bit with LLVM 12 - but it is fine on LLVM 11.

We have run the build twice to try to rule out possible hardware issues - [build 1](https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=mipsel&ver=1.52.1%2Bdfsg1-1%7Eexp3&stamp=1621613899&raw=0), [build 2](https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=mipsel&ver=1

[2021-05-21 18:58] infinity0 commented on #85562
CC @jrtc27

[2021-05-21 19:01] andoriyu opened #85563 "Tracking Issue for libtest's JUnit reporter"
This is a tracking issue for libtest's JUnit reporter.

Add an alternative formatter to libtest. The formatter produces valid xml that later can be interpreted as JUnit report. Report can be consumed by Continuous Integration tools like Jenkins.

### Public API

Run test binary with `--format=junit` argument.

### Steps / History

- [ ] Implementation: #84568
- [ ] Final commenting period (FCP)
-

[2021-05-21 19:10] clarfonthey commented on #79121
Is there an issue somewhere tracking potentially adding a `cargo coverage` command, or some way of making this interface nicely with cargo?

Right now all of the guides I see still rely on manually merging/searching for different files, so I imagine this would be nice to have, even if it didn't do anything other than just put the coverage data in an easy-to-access place.

[2021-05-21 19:17] pnkfelix commented on #85435
some [discussion in zulip](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/skipped.20unsafe.20blocks.20inside.20closures.20.2385435/near/239793906).

I have confirmed this was injected by PR #83521. I have filed issue #85561 for the root cause, and put up PR #85564 as a targeted fix suitable for a beta-backport.

[2021-05-21 19:29] pnkfelix commented on #85561
searched nightlies: from nightly-2021-03-04 to nightly-2021-05-21
regressed nightly: nightly-2021-03-17
searched commits: from https://github.com/rust-lang/rust/commit/107896c32d5dda4db508968ff34997a39d286966 to https://github.com/rust-lang/rust/commit/f5d8117c338a788bd24abec733fd143dfceb25a0
regressed commit: https://github.com/rust-lang/rust/commit/f5d8117c338a788bd24abec733fd143dfceb25a0

<deta

[2021-05-21 19:31] pnkfelix commented on #85561
cc @roxelo

[2021-05-21 19:37] est31 commented on #64797
@joshtriplett oh by initially supporting std plus prelude you meant builtin prelude, not the 2018 crates prelude (crates passed via --extern param). Note that supporting the latter isn't any harder really than supporting the builtin prelude only. The problem only arises with modules that are part of the same crate, or stuff like proc_macro that needs an extern crate statement first, as those can b

[2021-05-21 19:55] neuring opened #85565 "Type inference error when importing unrelated function."
I tried this code:

[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4d5c14b4fa1fc1b8e70b507be1f5263a)

I expected this to compile, but a type inference error was emitted.

[code]

If the import of `serde_json::to_string` is removed the code compiles just fine.

### Meta

It fails on all stable, beta and nightly.

[2021-05-21 20:04] arora-aman commented on #85561
So the solution to bug would be to call the restrict capture precision functions in https://github.com/rust-lang/rust/blob/master/compiler/rustc_typeck/src/check/upvar.rs#L1589-L1593

- [`restrict_capture_precision`](https://github.com/rust-lang/rust/blob/master/compiler/rustc_typeck/src/check/upvar.rs#L1656)
- [`restrict_repr_packed_field_ref_capture`](https://github.com/rust-lang/rust/blob/maste

[2021-05-21 20:08] PatchMixolydic commented on #85565
@rustbot modify labels: +A-inference +T-compiler

[2021-05-21 20:10] jonas-schievink commented on #85565
I believe this is expected behavior. It also happens with `use serde_json as _;`, which just causes the compiler to load the crate. Since that also loads any impls in the crate, they can cause ambiguities.

[2021-05-21 20:16] jsha opened #85566 "rustdoc: awkward vertical spacing on trait bounds"
When a method does not have trait bounds, it is displayed all on one line. When a method has just one trait bound, it takes four lines:

    fn by_ref(&mut self) -> &mut Self
    where
        Self: Sized,
    { ... }

There are some conflicting priorities here: On the one hand, it's nice for the layout to match what rustfmt does. On the other hand, it's good to use spacing to emphasize the parts

[2021-05-21 20:16] pnkfelix commented on #85561
Before we jump into the approach outlined by @arora-aman : we are expecting to move the unsafe-checking from MIR to THIR, according to https://github.com/rust-lang/compiler-team/issues/402 . Won't that shift *also* resolve this issue?

[2021-05-21 20:17] neuring commented on #85565
@jonas-schievink  There don't seem to be any impls for `Sum` in `serde_json` and neither in `serde`.
But in searching that for those. I found https://github.com/serde-rs/json/issues/651 which linked to https://github.com/rust-lang/rust/issues/46257.
So this issue is a duplicate.

[2021-05-21 20:17] #85565 closed

[2021-05-21 20:17] lukas-code opened #85567 "Misleading diagnostic when type inference for `Box<dyn FnOnce()>` fails"
Given the following code: [(playground link)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2bfa7da9b7dd4223f15f246d6c57ccf4)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]
Removing the last line in `main` or removing the type annotation of `receiver` will give this output.

[2021-05-21 20:31] arora-aman commented on #85561
I'm not aware of that, I'll read through that. But I don't think we should be adding fake reads of raw pointers dereference anyway.

[2021-05-21 21:07] GuillaumeGomez opened #85569 "Generate primitive/keyword search result extra info into DOM instead of CSS"
As discussed in #85568, once it's merged (it adds a test so it'll need to be updated), I'll remove this from the CSS and it will be generated into the DOM directly.

[2021-05-21 21:24] grossag commented on #85547
Here is the stacktrace I have for a recent failure:

[code]

[2021-05-21 21:39] veber-alex opened #85570 "Potential missed optimization with mutable noalias"
https://godbolt.org/z/9TY68vcjq

In the above code the methods on the struct that owns the array are not SIMD optimized but the methods on struct which has a reference are SIMD optimized.
On stable or with -Zmutable-noalias=off all methods are not SIMD optimized.

Is this a missed optimization or is there a real difference between owning the array and having a reference?

[2021-05-21 21:44] #85467 closed

[2021-05-21 21:48] clarfonthey commented on #85532
Another set of methods that could be useful that I'll probably offer implementations for at some point:

[code]

Essentially, return the two halves of a rotation, i.e. `x.widening_shl(y)` is the same as `(x << y, x >> (BITS - y))` and similarly for `widening_shr`.

[2021-05-21 21:55] estebank commented on #85527
@hi-rustin [My attempt at making a repro case didn't manage to cause the duplicated suggestion](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=31f8b38a976dc756ef805ec7477fd119). I'm guessing there might be something in the `if_chain` macro that triggers this, but don't know what it might be.

[2021-05-21 22:12] infinity0 commented on #85562
Error is present already in stage1 rustc during the build.

[2021-05-21 22:19] infinity0 commented on #85562
OK, bug is in LLVM 12 (or at least our Debian version of it), reproduction without rust:

[code]

[2021-05-21 22:19] #85562 closed

[2021-05-21 22:41] roxelo commented on #85561
It doesn't seem like rust-lang/compiler-team#402 is going to be done any time soon (and I am not entirely sure if that will fix the bug or not), wouldn't it be better for the time being to attempt @arora-aman's suggestion? It should be a quick fix

[2021-05-21 23:18] Remco-Schoeman commented on #43468
I am a "installed Rust today to try it out" user but also .Net veteran, which is why this same issue tripped me up today I guess...

Is it possible to add a note about this Developer Command Prompt path issue to the https://www.rust-lang.org/tools/install Notes - Configuring the PATH environment variable - section?

[2021-05-21 23:27] t10-13rocket opened #85572 "Help needed to fix the issue."
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2021-05-22 01:10] philip-peterson commented on #75861
@Johannesd3 Thanks for that, it's a lot cleaner than what I got from experimenting myself.

One thing I noticed when testing it though is that there is a bug with `arc_new_cyclic` as far as I can tell. The docs state:

To me this implies that after the function returns, it will be safe. (I know that's not technically what it says, but...) also:

When putting this to test, the upgrade fails:

[code

[2021-05-22 01:51] arennow opened #85573 "Tracking Issue for dir_entry_ext2"
Feature gate: `#![feature(dir_entry_ext2)]`

This is a tracking issue for a new method on `std::fs::DirEntry` on UNIX platforms via a new sealed variant of the `std::os::unix::fs::DirEntryExt` trait.

### Public API

[code]

### Steps / History

- [x] Implementation: #83581
- [ ] Final commenting period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- What is an appropriate name for this

[2021-05-22 02:18] edlanglois commented on #85451
Here is another example without any built-in types or traits:

[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=dcb9405a5980ffbcb333fd2a860b31ac))

[2021-05-22 03:06] HTG-YT commented on #76560
Probably a bump on this feature to be implemented.

(*Sorry if I somehow misunderstood the error, but I'm up for corrections*)
Currently I have a use case in which I want to call SIMD intrinsics on latest nightly (which indeed uses const generics). However, the code I am writing requires arithmetic on the consts. Here's my code:

[code]

Which currently does not compile with the following error:
[

[2021-05-22 03:20] staktrace opened #85574 "Backwards-incompatible lifetime change (regression)"
I tried this:

[code]

I expected to see this happen: build completes

Instead, this happened: build failed with this output:

[code]

### Meta

`rustc +nightly --version --verbose`:
[code]

This was working with the rustc nightly from `rustc 1.54.0-nightly (f94942d84 2021-05-19)` so this is a very recent regression.

[2021-05-22 03:31] Mark-Simulacrum commented on #85574
Might be https://github.com/rust-lang/rust/pull/85511, but would be good to bisect.

[2021-05-22 04:33] jsha commented on #85450
Resolved by closing the linked PR.

[2021-05-22 04:33] #85450 closed

[2021-05-22 04:39] ehuss commented on #85574
Bisect confirmed it is #85511.  This is blocking cargo's CI.  Let me know if there's any way I can help.

[2021-05-22 05:10] ehuss commented on #85574
Here's a reproduction:

[code]

I couldn't get it smaller than that.

I don't know if this is helpful, but the following will ICE on stable/beta, but returns E0495 on nightly:

[code]

[2021-05-22 06:14] oliver-giersch opened #85576 "Implementing `From` for associated type results in confusing error"
Disclaimer: I am not sure if this an actual bug or rather a diagnostic issue.

The following simplified code

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ff922cb6871756c87786ff85a02c4d52)

Produces the following incorrect/confusing error message on both stable and nigthly:

[code]

I encountered this issue when I wanted to wrap the result returned b

[2021-05-22 06:26] ogoffart commented on #75861
@philip-peterson   That's because you did not keep the Arc alive, so it is destroyed after the function call.  fix it by assigning the resulting Arc to some value: `let arc = Arc::new_cyclic( ...`

[2021-05-22 06:31] philip-peterson commented on #75861
@ogoffart ah, thank you!!

I created a third party crate to house the multi-arity versions of `new_cyclic` at https://github.com/philip-peterson/arc_new_cyclic_n -- @Johannesd3 thank you for your help on this, please let me know if you have any issues with this crate existing.

[2021-05-22 06:58] Imberflur commented on #85360
@Aaron1011 I can still produce an ICE with this on the latest nightly:
`rustc 1.54.0-nightly (5dc8789e3 2021-05-21) running on x86_64-unknown-linux-gnu`

[code]

although perhaps the query stack has changed a bit:
[code]
<details><summary><strong>backtrace</strong></summary>

[code]
</details>

[2021-05-22 07:07] #85519 closed

[2021-05-22 08:23] RalfJung commented on #85434
Well, Miri is just a tool to detect issues like this. It looks like back then the decision was made to ignore what POSIX says and instead to rely on what certain implementations do. Since Miri checks POSIX compliance as strictly as it can, this leads to Miri errors in safe code.

Ideally we'd work towards getting the spec changed (there seems to be no good reason for this UB, and without something

[2021-05-22 08:29] scottmcm commented on #76976
I think I'm with https://github.com/rust-lang/rust/issues/76976#issuecomment-706764305 on this one.  Given that this can't (portably) have `.as_le_bytes()` and `.as_be_bytes()`, I'm not sure it's worth having as a distinct thing, assuming that the Safe Transmute project lands -- as one of its top two use cases is offering `&[u8]` native-endian views into everything where it's safe to do so, includ

[2021-05-22 08:41] RalfJung commented on #85401
This is strange, Miri uses `-Zalways-encode-mir` but statics seem to work fine for us?

[2021-05-22 08:47] matthiaskrgr commented on #85574
Note for those also affected by this:
`git2` `0.12` still builds so you might be able to temporarily downgrade your git2 dependency as a workaround until there is a solution.

[2021-05-22 09:09] hwalinga commented on #49391
Don't know if the compiler can be a bit more smarter about the error message on this case, but I stumbled upon here when I wrote (with `rdr` a buffered reader):

[code]

Giving the strange:

[code]

From: https://stackoverflow.com/questions/67644464/why-can-you-not-use-question-mark-directly-on-collect-in-rust

[2021-05-22 10:09] matthieu-m commented on #27732
I _think_ this is new, but as I mentioned because `T: !Unsize<T>` it didn't compile in the first place.

[2021-05-22 10:52] BurntSushi commented on #76976
@scottmcm Agreed. I think it would be great to wait and see what the Safe Transmute project gives us here.

[2021-05-22 11:37] Mark-Simulacrum commented on #85574
Cc @nikomatsakis

I'd lean towards reverting for now (and potentially landing as future compat or something). I'm not sure if this is technically a soundness fix, Niko can likely give a better reading there. I think the problem is that Self::String as a constructor is now (I believe arguably correctly, but not sure if it has any soundness implications) requiring the argument to outlive the lifetim

[2021-05-22 11:41] staktrace commented on #85574
Replacing the `<'_>` with `<'a>` in `src/attr.rs` in git2 seems to fix the error.

[2021-05-22 11:47] messense commented on #56371
https://actually.fyi/posts/zig-makes-rust-cross-compilation-just-work/

[2021-05-22 11:51] staktrace commented on #85574
You can actually just downgrade to `0.13.17` and that will work too. The src/attr.rs code is new in `0.13.18`.

[2021-05-22 12:13] chorman0773 commented on #85434
On Sat, May 22, 2021 at 04:23 Ralf Jung ***@***.***> wrote:

Indeed. And, as I've mentioned in the thread, I wouldn't consider this a
bug in miri, for precisely that reason.

One half of it could be destroying it *potentially concurrent* to it
becoming locked, since destruction is presumably not atomic, though this
wouldn't be an issue for rust. Another reasonable possibility would be for
enhanced

[2021-05-22 12:41] Skepfyr commented on #84737
Minimised to:
[code]
Interestingly, removing the braces around the 0 allows it to compile fine.

Regression bisected to: 2021-03-28 9b0edb7fddacd6a60a380c1ce59159de597ab270
<details>
<summary>bisected with <a href='https://github.com/rust-lang/cargo-bisect-rustc'>cargo-bisect-rustc</a> v0.6.0</summary>

Host triple: x86_64-unknown-linux-gnu
Reproduce with:
[code]
</details>

Best guess is that it'

[2021-05-22 13:06] Skepfyr commented on #82933
@PaulGrandperrin Can you still reproduce this? If you can, could you provide instructions? Someone else may come along and create an MCVE.

[2021-05-22 15:11] gilescope opened #85580 "reproducable wasm32 bug"
I'm really sorry if this isn't a compiler bug, but it smells like one. I've managed to bag it into a few lines of code. Change or reorder anything and the test will pass.

If you run `cargo test` this repo it will pass:

https://github.com/gilescope/wasm-repro1.git

If you add in  `--target=wasm32-unknown-unknown` it will fail. ( You will need to `cargo install wasm-bindgen-cli`)
It seems to corre

[2021-05-22 15:22] miDeb opened #85581 "Incorrect suggestion to add a semicolon in `if let` when trying to borrow a value more than once"
Given the following code:  https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ef9ffeffe1ceaef2201ebc972bfc11cd

[code]

The current output is:

[code]

Ideally the output should look like:
Without the "help" part, which is what it looks like when I actually add the semicolon (not sure if the rust compiler could also accept this code without an error)

[2021-05-22 15:31] stevemk14ebr opened #85582 "force-unwind-tables has no effect"
Hello, i'm building a no_std rust driver for windows and the unwind tables are not being generated in release mode. This is a large issue for be because i'm interacting with a kernel interfaces that requires the unwind_table entry for a specific function. Here is the issue in detail: https://github.com/rust-lang/backtrace-rs/issues/397#issuecomment-846422025

I'd expect that even though i've set t

[2021-05-22 15:38] lrh2000 commented on #84978
@petrochenkov So do you mean that we should emit errors for reserved prefixes in the parser instead of the lexer?

I think it does not *solve* the problem about `TokenStream::from_str`. Instead, it only *defers* the problem. We may not alter the lexing rules now, but in the future we have to change the lexing rules if we want to introduce another prefix that is also used to denote raw strings (or

[2021-05-22 15:46] miDeb commented on #85581
This also happens with a match, so feel free to change the title to something more appropriate.

[2021-05-22 15:47] stevemk14ebr commented on #85582
It seems sometimes it does include the table but sometimes not. A rebuild fixed it in at least one case.

[2021-05-22 17:04] Mark-Simulacrum commented on #85574
I haven't been able to come up with an example that uses the lifetime mismatch to do anything bad yet, but judging by the fact that other similar code seems to demand equality, it seems likely that this is indeed a bug fix.

Filed https://github.com/rust-lang/rust/pull/85584 to revert the PR on nightly for now.

[2021-05-22 17:36] LeSeulArtichaut commented on #79652
This seems to be fixed now:

[code]

[2021-05-22 17:41] Sejsel opened #85586 "Confusing type inference error span"
Given the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ff43f4b24a32a5fb77460401ab18263e)):

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Happens on both stable 1.52.1 and nightly 1.54.

[2021-05-22 17:46] Lonami commented on #84619
Appending the documentation seems slightly strange, at least for the same crate. My expectation is that the re-export would have its own and, if you navigate to the re-exported name, you see the original documentation.

[2021-05-22 18:13] LeSeulArtichaut commented on #85561
Since yesterday (#85555), dereferences of raw pointers is implemented in the THIR unsafety checker (gated under `-Z thir-unsafeck`), and it correctly does not report an error here.

I'm not sure how much time it will take to make the THIR unsafety checker the default once it is fully implemented, but the implementation itself is going rather fast (see https://github.com/rust-lang/project-thir-unsa

[2021-05-22 19:23] bstrie commented on #71519
@g2p do you have any thoughts on which would be the better approach? If not then we can ask for guidance from the compiler team.

[2021-05-22 19:46] DrChat opened #85589 "[PowerPC64] Rust performs improper function call linkage when using LLVM's linker"
With this code:
[code]

And this compiler invocation:
[code]

Rust will emit code with the ELFv1 ABI, which dispatches function calls to a function descriptor table in the `.opd` section for later fixup by the linker.

As per [this LLVM thread](http://llvm.1065342.n5.nabble.com/llvm-dev-lld-11-0-0-ppc64-branch-to-fd-td136602.html), they mention lld does not support the ELFv1 ABI, and will not perf

[2021-05-22 19:52] zacknewman commented on #50230
@RalfJung, I find it useful to think of structures of things on a continuum where as one progresses along this continuum, additional properties must be upheld. So in this case, I'll call it the "continuum of equality" where towards one end you have notions like equivalence relations where you don't care about _all_ the properties of equality but only those of reflexivity, symmetry, and transitivit

[2021-05-22 19:56] Skgland commented on #81295
`expr_method_call` has been removed in 441dc3640a408e612064464b0c6308bdca6c16ce

[2021-05-22 20:00] zacknewman commented on #50230
As discussed, I'd hope terms like "irreflexive" would not be used in the documentation since it makes no sense in general; unless you explicitly state "when `Self == RHS`, blah blah blah". I do like explicitly stating those bullet points though.

[2021-05-22 20:04] #64992 closed

[2021-05-22 20:17] bstrie commented on #71520
Chromium had the same issue on Windows 7 as Firefox, and their answer was that building requires Windows 10. I don't want to be harsh on people with older hardware, but mainstream support for Windows 7 ended before Rust 1.0 even released, and extended support ended over a year ago... I suspect that LLVM itself will stop supporting Windows 7 within the next year, if their deprecation timeline of Wi

[2021-05-22 20:20] nikic commented on #85380
The two passes capable of making this optimization are CVP and IPSCCP. At the time when this code reaches CVP, the if/else has been folded into a select, and the branch condition is no longer used to constrain the div range. IPSCCP has the reverse problem of the IR not being folded enough yet. In particular, the second condition hasn't been folded to an and yet and will not be used:

[code]

[2021-05-22 20:57] #81295 closed

[2021-05-22 21:54] tema3210 commented on #58052
Is there any plans for smth. like `for<'a,'b: 'a> impl Fn(&'a T)->U`? Because we don't have any way to say "for all lifetimes that less(or more) then 'x ..." i.e. bounded quantification for lifetimes?.

[2021-05-22 22:19] rust-highfive opened #85591 "`miri` no longer builds after rust-lang/rust#85578"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#85578, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @RalfJung, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-05-22 22:37] jsha opened #85592 "rustdoc: add UI tests for "auto hide (implementors|implementations)" settings"
Followup from #85575

[2021-05-22 22:52] jam1garner opened #85593 "bootstrap unable to copy `rust-llvm-dwp` when cross compiling rustc"
Similar to #85590, this is an issue with copying files when cross compiling (Linux -> Windows), however a bit more complicated so I didn't proceed with a fix (don't mind implementing one but would need guidance).

[code]
<details>

[code]
</details>

From adding debug prints it attempts to copy

[code]
to
[code]

Looking at the [Relevant code](https://github.com/rust-lang/rust/blob/e4ca1662f255db7

[2021-05-22 23:11] bstrie commented on #39915
Since a lot of people are invested in this, I should note that enabling LLD by default on Linux (https://github.com/rust-lang/rust/issues/71515) and Windows (https://github.com/rust-lang/rust/issues/71520) both seem relatively close to completion, but they each need a champion willing to put in the last bit of work to push them over the finish line.

[2021-05-22 23:17] jyn514 commented on #84619
@Lonami concatenating them is what rustdoc does for cross crate links, it should do the same thing for intra crate links. We shouldn't change it now.

[2021-05-23 00:36] dtolnay commented on #80690
@rust-lang/libs
@rfcbot fcp merge

Check out @ijackson's recap of this API in https://github.com/rust-lang/rust/pull/84770#issue-628289300.

[2021-05-23 00:36] dtolnay commented on #79704
@rust-lang/libs
@rfcbot fcp merge

Check out @ijackson's recap of this API in https://github.com/rust-lang/rust/pull/84770#issue-628289300.

[2021-05-23 04:54] jam1garner commented on #85593
A potential fix could look something like this:

[code]
however, notably, I don't think `format!` is the proper way to do the above, I'd appreciate guidance on the best way to "properly" get the expected llvm build directory given the target triple.

(Note that the above is tested and appears to work, just isn't the best way to do it and I imagine breaks under some configuration of LLVM/config.tom

[2021-05-23 05:40] #85411 closed

[2021-05-23 09:42] 12101111 commented on #38206
You can use

[code]

to get linker command line and stderr+stdout.

example:

[code]

Output:
[code]

[2021-05-23 09:45] RalfJung commented on #50230
I think "irreflexive" is still a useful term, but we should probably say explicitly that it only makes sense when `Self == RHS`.

Regarding "indiscernibility based only on the public API", I think I got a rough idea of what you mean, and indeed I think I have seen ways to make that more precise -- but in the interest of not further derailing this thread, I won't reply in any more detail here. :)

[2021-05-23 10:13] BurntSushi commented on #80690
Should `BufWriter::into_raw_parts` be called `into_parts` instead? In all previous uses of "raw" in similar names, I believe a raw pointer is involved somewhere. But that isn't the case here.

Also, it looks like the `WriterPanicked` error might not actually be exported? At least, rustdoc doesn't think so: https://doc.rust-lang.org/std/io/struct.BufWriter.html#method.into_raw_parts

[2021-05-23 10:29] matklad opened #85598 "Rustc fails to compile rust-analyzer on widows, failing with STATUS_STACK_BUFFER_OVERRUN"
Starting today, I am seeing the following error in rust-analyzer's CI

[code]

This happens on windows builders, when compiling with `--target x86_64-pc-windows-msvc` or `--target aarch64-pc-windows-msvc`. The step which fails is compilation of the final binary crate. The binary is complied in `--release` mode with `lto=true`. I think the failure appeared after I added `debug=1` as well.

So my th

[2021-05-23 11:07] hyd-dev commented on #85543
I tried to do the same thing but neither `-Copt-level` nor `-Crelocation-model=static` fix the issue for me, `-Clink-self-contained=n` does instead. :thinking:

Here is the backtrace:
[code]

[2021-05-23 11:24] 12101111 commented on #81490
[code]

There are 4 feature gate: `native_link_modifiers_{as_needed,bundle,verbatim,whole_archive}`, are they both incomplete or just some of them are incomplete?

[2021-05-23 11:28] JohnTitor commented on #85572
I'm going to close this since the information is lack but feel free to fill out the template and re-open it, thanks!

[2021-05-23 11:28] #85572 closed

[2021-05-23 13:26] hi-rustin commented on #85527
@estebank I tried to [combine it with if_chain](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=af4777e4bb56ccac3b7753d6a8e620c0) and reproduce it, but it still didn't reproduce.

[2021-05-23 14:43] tmiasko commented on #54685
This issue was fixed in https://reviews.llvm.org/D87123

[2021-05-23 15:11] tmiasko commented on #84581
With functions being anonymous allocations being duplicated? Sure, we can close this favour of #79738.

[2021-05-23 15:11] #84581 closed

[2021-05-23 15:44] Mark-Simulacrum commented on #85224
@craterbot run name=beta-1.52-2 start=1.52.1 end=beta-2021-05-23 mode=build-and-test cap-lints=warn p=10 crates=list:https://crater-reports.s3.amazonaws.com/beta-1.53-1/retry-regressed-list.txt

This should pick up https://github.com/rust-lang/crater/pull/578 to result in far fewer regressions, while still running pretty fast (as it's just on the regressed crates in the previous run).

[2021-05-23 15:48] Mark-Simulacrum commented on #85224
@craterbot run name=beta-1.52-2 start=1.52.1 end=beta-2021-05-23 mode=build-and-test cap-lints=warn p=10 crates=https://crater-reports.s3.amazonaws.com/beta-1.53-1/retry-regressed-list.txt

[2021-05-23 16:20] petrochenkov commented on #81490
I don't think the incomplete warning is correct, the modifiers are not yet stable, but they are complete enough.

[2021-05-23 16:38] CDirkx opened #85604 "IPv6 Unicast Interface"
This issue is split out of the larger discussion around stabilization of the `ip` feature. The focus of this issue on the question of what interface Rust should provide for IPv6 unicast adresses.

The current unstable interface is as follows:

[code]

Tracking issue for `ip`: #27709

## Issues with current interface

### Behaviour of `is_unicast_link_local`/`is_unicast_link_local_strict`

Concern

[2021-05-23 17:12] #82344 closed

[2021-05-23 17:23] petrochenkov commented on #84978
@lrh2000

Yes, at least for breakage-prone things like `match"foo"`.
For anything involving raw strings with `#`s the errors can reported in the lexer just to save time and defer the final decision, I'm pretty sure that code like `match#"foo"#` is not used in practice.

Could you remind what is the problem with `TokenStream::from_str` exactly?

String escaping is done during parsing (proc macros c

[2021-05-23 17:41] steffahn commented on #84978
It does need to discern. Both `"\""` and `r"\"` are valid (raw) string literals, whereas `"\"` is an un terminated string literal and `r"\""` is just `r"\"` followed by an unterminated string literal.

[2021-05-23 18:23] scottmcm commented on #75744
I've posted a stabilization PR of just the type (not the methods) for consideration at https://github.com/rust-lang/rust/pull/85608

(It's not proposed here because it doesn't stabilize everything, and there can only be one FCP per issue, so having a separate PR will allow the remaining pieces to be FCPed separately later.)

[2021-05-23 19:05] CDirkx opened #85609 "IPv4-in-IPv6 Adress Support"
This issue is split out of the larger discussion around stabilization of the `ip` feature (tracking issue: #27709). The focus of this issue on the question of how Rust should support IPv4-in-IPv6 adresses.

There are two ways of representing an IPv4 address in a IPv6 address:
- As an IPv4-compatible IPv6 address:  `::1.2.3.4`
- As an IPv4-mapped IPv6 address:  `::ffff:1.2.3.4`

IPv4-compatible IPv

[2021-05-23 20:37] CDirkx opened #85612 "IP Utility Methods"
This issue is split out of the larger discussion around stabilization of the `ip` feature (tracking issue: #27709). The focus of this issue is on the question of what utility methods Rust should provide for handling IPv4 and IPv6 addresses.

For discussion about the conversion methods (`to_ipv6_mapped`, `to_ipv6_compatible`, `to_ipv4`, `to_ipv4_mapped`) see the issue IPv4-in-IPv6 Address Support (

[2021-05-23 22:00] Qwaz opened #85613 "Double free in Vec::dedup_by when T's drop panics"
https://github.com/rust-lang/rust/blob/d8af907491e20339e41d048d6a32b41ddfa91dfe/library/alloc/src/vec/mod.rs#L1608-L1637

`gap.read` is not updated (line 1636) when `drop_in_place` (line 1623) panics. This lets `FillGapOnDrop`'s `Drop` implementation to retain the already dropped element.

The bug was introduced in #82191 and affects stable Rust versions >= 1.52. Here is the [playground link](http

[2021-05-23 22:03] ehuss commented on #85598
I confirmed that rustc prints `Rust cannot catch foreign exceptions` when LLVM runs out of memory.  Presumably it is raising `bad_alloc`, but AFAIK rust cannot catch C++ exceptions.  I'm not sure if it could be caught on the C++ side, or if there is some LLVM build option to change the oom behavior.

rust-analyzer needs about 5 to 6 GB to build with LTO. I think GitHub Actions systems have 7GB of

[2021-05-23 22:12] bstrie commented on #84019
One thing worth keeping in mind is that this decision may influence future macro namespacing. Consider these unstable macros:
[code]
It would be a bit silly to suggest that these macros are universal enough that they ought to live in the prelude; they really ought to be namespaced. But should they be namespaced under `std::arch` or under `std::arch::their_own_platform`? Whatever is decided here wi

[2021-05-23 23:14] DzenanJupic opened #85614 "cannot find value `NoneError` in module `std::option`"
related issues: #42327 #84277

### Code

I tried this code:

[code]
[code]

I expected to see this happen: It compiles

Instead, this happened:
[code]

<details>
<summary>verbose output</summary>

[code]
</details>

### Version it worked on

It works on: `nightly-2021-05-10`

### Version with regression

`rustc --version --verbose`:
[code]

`rustup --version`
[code]

`cargo --version --verbose`
[c

[2021-05-23 23:27] jonas-schievink commented on #85614
Intentionally removed in https://github.com/rust-lang/rust/pull/85482

[2021-05-23 23:27] #85614 closed

[2021-05-23 23:41] DzenanJupic commented on #85614
My bad

[2021-05-24 00:22] SergioBenitez opened #85615 "rustdoc ICE: "tried to calculate a disambiguator for a def without a namespace?""
Unfortunately I don't have an easy-to-repro case. This happened while working on Rocket's docs. I renamed a method which made a previously valid link invalid and I got this ICE. Fixing the doc link fixes the error. Backtrace from rustc 1.54.0-nightly (5dc8789e3 2021-05-21) follows:

[code]

[2021-05-24 00:27] jyn514 commented on #85615
If someone can compile a build of rustdoc that compiles out this line: https://github.com/rust-lang/rust/blob/f64503eb555475d65ae5503ef22439ca5dd394fd/src/librustdoc/passes/collect_intra_doc_links.rs#L1173
you should get a much better error message that says exactly what went wrong (it will start with "incompatible link kind"), and that should give an idea of where the bug is.

[2021-05-24 00:28] jyn514 commented on #85615
@SergioBenitez can you link to the exact commit that caused the ICE?

[2021-05-24 00:31] SergioBenitez commented on #85615
This is the current `master` tip, https://github.com/SergioBenitez/Rocket/commit/ab13d73b30714d1c071482016893ef6a76945247. You _may_ be able to replicate this by changing the method name by referencing `Context::value()` in the struct's docs in `core/lib/src/form/context.rs` and then changing the method's name to something else. If this fails, I will try to create a reproducible case.

[2021-05-24 01:08] Diomendius commented on #61939
It looks like the `v.len() == 0` (or rather `if let None = v.pop()`) branch somehow interferes with the other branch being fully optimized away. [If `v.len() > 0` is (unsafely and unsoundly) assumed](https://godbolt.org/z/xhsfY49a3), the assembly returns to a simple `ret`.

[2021-05-24 02:36] jsgf commented on #85401
@RalfJung Does the test case I gave work for Miri?

I notice that `-Zalways-encode-mir=yes` produces much larger rmeta files than `--emit metadata,link` would, which are in turn larger than `--emit metadata`'s rmetas (as expected).

It would be nice to have an option to make lone `--emit metadata` produce the same output as `--emit metadata,link`, and I was hoping that it would just be a matter of

[2021-05-24 02:41] kootenpv commented on #62924
Could you provide a working code example for this?

[2021-05-24 03:13] camelid opened #85616 "rustdoc: Font for item names in item tables is incorrect"
It should be sans-serif, but it's serif. I'm guessing the CSS for the summary next to the item names is accidentally being applied to the item name too.

### beta (correct)

![image](https://user-images.githubusercontent.com/37223377/119291266-0503f000-bc03-11eb-97e9-f1852b8cbd0c.png)

### nightly (incorrect)

![image](https://user-images.githubusercontent.com/37223377/119291288-0d5c2b00-bc03-11eb

[2021-05-24 03:47] jsha opened #85618 "rustdoc: "Methods from Deref<...>" too low on sidebar"
Steps to reproduce:

1. Visit https://doc.rust-lang.org/beta/std/string/struct.String.html
2. Scroll down the sidebar looking for "Methods from Deref&lt;...&gt;"

Expected result:

Methods from Deref section comes immediately after Methods.

Actual result:

Methods from Deref section comes below Trait Implementations, Auto Trait Implementations, and Blanket Implementations.

Compare vs https://doc

[2021-05-24 03:56] jsha commented on #85618
Ah, looks like this was intentional in #83826, after conversation in #83133. Removing C-bug and regression-from-stable-to-beta. Keeping this open as a discussion issue: I think putting "Methods from Deref" below trait implementations is wrong for String, because so many of its important methods are on `str`. I'd like to either reconsider #83133 or find some way to make this work nicely for String.

[2021-05-24 04:10] jsha opened #85619 "rustdoc: Vec's Methods for Deref<Target = [T]> don't indicate which T is active"
Steps to reproduce:

1. Visit https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html
2. Scroll sidebar to "Methods for Deref&lt;Target = [T]&gt;". Click on make_ascii_lowercase (https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html#method.make_ascii_lowercase).

Expected result:

Docs indicate that this only works when T == u8.

Actual result:

No indication that u8 is involved.

Note that

[2021-05-24 04:12] Aaron1011 commented on #85360
You're right - it looks like I didn't fully test that fix. I'll continue to investigate.

[2021-05-24 04:42] ohsayan opened #85620 "Incorrect suggestion for patterns on non-exhaustive enums"
## `if let`

Given the following code:

[code]

The current output is: (https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=037b50b76d3a47d064ec9830a9f2d234)

[code]
**Ideally the output should look like:** No warnings reported because the enum is `#[non_exhaustive]`
## `match`

Given:
[code]

The current output is: (https://play.rust-lang.org/?version=stable&mode=debug&edition

[2021-05-24 04:49] ohsayan commented on #85620
@rustbot modify labels to: +A-patterns

[2021-05-24 05:22] ohsayan commented on #85620
Maybe related: https://github.com/camelid/rust/blob/5d2a2a1caa1a12a5c445fcc99e2dee42e5a5f3d7/compiler/rustc_mir_build/src/thir/pattern/check_match.rs#L368..L394 ?

[2021-05-24 06:57] jsha commented on #85418
It turns out the implementors that are rendered differently are inserted by JavaScript here:

https://github.com/rust-lang/rust/blob/3f9646da57946ced0b494c3c57ebffdf67136fd9/src/librustdoc/html/static/main.js#L661-L725

That pulls in a list of implementors from a .js file, which is generated by the Rust code here:

https://github.com/rust-lang/rust/blob/3f9646da57946ced0b494c3c57ebffdf67136fd9/src

[2021-05-24 07:02] jsha commented on #85418
Here's the code that adds the script tag to load the extra JS: https://github.com/rust-lang/rust/blob/3f9646da57946ced0b494c3c57ebffdf67136fd9/src/librustdoc/html/render/print_item.rs#L755-L769

[2021-05-24 07:50] drahnr commented on #74697
`cargo-spellcheck` has reached `v0.8.3` with a lot of improvements and more config options. It be great to get another round of feedback - with a `1.0.0` release planned for later this year.

[2021-05-24 07:51] kostko commented on #85502
Tried with `f94942d84 2021-05-19` (and clearing the IC caches) but it still seems to hit the same problem ([example](https://buildkite.com/oasisprotocol/oasis-core-ci/builds/4915#276de093-633a-44b9-93cd-9830750ead94)).

[2021-05-24 08:22] moxian commented on #71520
The firefox lld-link problems mentioned in the comment above (https://github.com/rust-lang/rust/issues/71520#issuecomment-801484987) sound *extremely* similar to those we've had in rust in https://github.com/rust-lang/rust/issues/81051.
They were fixed in LLVM trunk, but given that firefox (as they mention in the thread) have their own fork of LLVM, it's possible that they didn't adopt the fix (as

[2021-05-24 08:23] #85480 closed

[2021-05-24 08:34] memoryruins commented on #61939
@Diomendius it appears you were testing with a dated rustc 1.38 (2019-09-26). Try experimenting with nightly.

[2021-05-24 09:25] alexschrod commented on #85618
I'd like to voice that I also think this is a kind of regression. 99% of the time I go to a type's page, I'm looking for methods, not traits; I've gotten used to seeing `str`'s methods directly under `String`s, and it feels like a mistake going away from this.

[2021-05-24 09:41] steffahn commented on #85613
@rustbot label regression-from-stable-to-stable

[2021-05-24 09:46] hameerabbasi commented on #85613
Assigning `P-critical` as discussed by [WG-prioritization on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2385613.20Double.20free.20in.20Vec.3A.3Adedup_by.20when.20T's.20drop.20panics) and removing `I-prioritize`.

@rustbot modify labels +P-critical -I-prioritize

[2021-05-24 09:55] SkiFire13 commented on #85613
Interestingly there was a test for this, but it is wrong.

https://github.com/rust-lang/rust/blob/d8af907491e20339e41d048d6a32b41ddfa91dfe/library/alloc/tests/vec.rs#L2234-L2285

The `expected` vec contains the index=5, even though it is the item that panics in its drop implementation. I guess the author of this test thought that `fetch_add` returned the new value instead of the old value?

[2021-05-24 10:34] madmaxio opened #85624 "Build fail with linking with rust-lld failed: exit code: 0xc0000135 on stable windows gnu for wasm32-unknown-unknown"
Build fail with linking with rust-lld failed: exit code: 0xc0000135 on stable windows gnu for wasm32-unknown-unknown

Building yew framework, https://github.com/yewstack/yew

[2021-05-24 10:52] Stupremee commented on #85454
This needs to be re-opened because it does not work if the trait is re-exported.
Compare https://doc.rust-lang.org/nightly/std/ops/trait.FromResidual.html with https://doc.rust-lang.org/nightly/core/ops/trait.FromResidual.html

[2021-05-24 11:09] nipzu opened #85629 "Segfault in llvm codegen when compiling for target aarch64-unknown-none-softfloat"
Rustc triggers a segmentation fault when compiling the following code. I have tested this on both linux and windows with the latest nightly compiler. It is not possible to compile `core` in debug mode for `aarch64-unknown-none-softfloat` because of this bug. Luckily, release mode works for both `core` and the following example.

### Code

[code]
<details><summary><strong>Another offending example

[2021-05-24 12:07] madmaxio commented on #85624
Some work is done at https://github.com/yewstack/yew/issues/1868

[2021-05-24 12:51] GuillaumeGomez opened #85632 "Add GUI test for font on module table"
This is needed to enforce https://github.com/rust-lang/rust/pull/85621.

[2021-05-24 14:09] ijackson commented on #80690
I don't have an opinion about this.  I just chose that name to distinguish it more from `into_inner`.  I would be quite happy to change it to `into_parts`.

I will check this.  Thanks!

[2021-05-24 14:24] pravic commented on #71520
Well, there is another one last time I tried:

Looks like `lld-link` doesn't fully support MSVC linker.

[2021-05-24 14:28] frostyplanet commented on #62924
It's not possible remove while iterating, because remove one item in the middle might change BTree structure and trigger rebalance.  It's only possible to add the keys that you want to delete to a list and remove them after iteration complete.

[2021-05-24 14:53] nikomatsakis commented on #84513
I'm going to break this issue apart into sub-issues to help in people signing up for specific bits!

[2021-05-24 15:01] nikomatsakis commented on #84978
We can certainly just accept that any future form of raw string will have to use `#`.

[2021-05-24 15:26] RalfJung commented on #85401
Yes: when I set up a 2-crate workspace matching your 2 files and then do `cargo miri run`, it works as expected.

[2021-05-24 15:29] memoryruins commented on #81408
It looks like some variation of this issue was reported in #71504, but eventually went away. Guess some form of the issue returned here. A similar set-up was required to trigger the access violation https://github.com/rust-lang/rust/issues/71504#issuecomment-697113300

[2021-05-24 15:35] memoryruins commented on #71520
In the blocking issues section

is checked off as being resolved since the issue went away; however, there is a recent open issue that similarly needs thin-lto and lld to be used together to produce a segfault https://github.com/rust-lang/rust/issues/81408

[2021-05-24 15:41] PatchMixolydic opened #85635 "Broken MIR ICE with `box yield`"
May be related to #58504.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

Also reproduced on the Playground using `1.54.0-nightly (2021-05-23 f64503eb555475d65ae5)`.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

@rustbot modify labels +A-generators

[2021-05-24 15:55] Chronos-Sk commented on #29594
Okay, I think I found a way to make things work using just `#[thread_local]` declarations, instead of full definitions. Only requires some form of `asm` support. [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=758c23f2d77148d280ed3a0864908681)

The trick is figuring out how to link the extern declaration to a full definition without LLVM noticing and ignoring

[2021-05-24 15:57] estebank commented on #49391
@hwalinga could you file a new ticket with a link to a reproduction care on [the playground](https://play.rust-lang.org/)? A quick attempt at [reproducing the StackOverflow case yielded a "type annotations needed" error](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1d134b93fad4d25c628103a6d671bc28) and following the suggestions for it leads you in the right direction, b

[2021-05-24 16:01] lrh2000 commented on #84978
@petrochenkov Thanks for your reply first.

I think we may get different results (`TokenStream`) for the same string (`from_str`) in different versions of Rust, but the version information of the string is not known during the evaluation of `TokenStream::from_str`.

I'm not sure why you ask this. Maybe I misunderstand the problem?

Now the lexer reports the start position and the end position for

[2021-05-24 16:14] Manishearth opened #85636 "HRTB bounds not resolving correctly, but they do work if you introduce a reference."
I'm trying to write Debug impls for the [`yoke`](https://docs.rs/yoke) crate:

<details>
<summary>Non-compiling code</summary>

[code]

</details>

([playpen](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=627e5b649de2b5bb7594297d5cbfd943))

This code fails to compile:

[code]

However, swapping the `for<'a> <Y as Yokeable<'a>>::Output: fmt::Debug` bound with `for<'a> &'a

[2021-05-24 16:19] bstrie commented on #71520
@pravic Can you file a bug with a reproduction so that I can link it from the tracking issue?

[2021-05-24 16:20] RalfJung commented on #50230
I created a PR to update the docs: https://github.com/rust-lang/rust/pull/85637

[2021-05-24 16:25] BruceBrown commented on #62924
Isn’t that the purpose of drain() and drain_filter()?
—Bruce

On Mon, May 24, 2021 at 7:29 AM Adam Ning ***@***.***> wrote:

[2021-05-24 16:38] 0xdeafbeef opened #85638 "Rustc hangs due to possible mutex poisoning"
Rustc stucks on macro expansion.
It reproduces on all rustc versions from 1.46 to 1.51.
Looks, like panic makes mutex  poisoned.

I couldn't  create mre for now.
[code]

[2021-05-24 16:50] 0xdeafbeef commented on #85638
Not a rustc bug, fixed [here](https://github.com/launchbadge/sqlx/pull/1242)

[2021-05-24 16:50] #85638 closed

[2021-05-24 16:56] BruceBrown commented on #62924
actually, retain() is perhaps a better fit.

On Mon, May 24, 2021 at 9:25 AM Bruce Brown ***@***.***>
wrote:

[2021-05-24 17:21] khuey opened #85641 "Rust does not follow System V Amd64 ABI calling convention for small enum values, resulting in incorrect debugger output"
Consider the following

[code]

rustc generates the following assembly (debug build)

[code]

The standard calling convention would pass both the discriminant and the value in a single register (or, alternatively, for non-POD types in C++, a reference to it would be passed. Regardless, there's no situation in the calling convention that would split a single 8 byte value across rax and rdx like thi

[2021-05-24 17:34] klensy commented on #85641
Given output is `-Copt-level=0` i guess, for `-Copt-level=1` 1.54.nightly it will be
[code]

[2021-05-24 17:35] pickfire commented on #74697
@drahnr This sharing the crate to this week in rust and also put a call for partition in this week in rust to ask for feedback. Maybe you can also write a blog about it.

[2021-05-24 17:39] nikomatsakis commented on #85561
@arora-aman @roxelo can you spell out a bit more what is happening? What fake reads do we introduce?

[2021-05-24 17:44] nikomatsakis commented on #85574
I believe the new behavior is correct, yes. In the minimized example, the variable `b` is being forced to have both types. I'm not sure if one can create an unsoundness *from pattern matching specifically*, but @Mark-Simulacrum we already found one soundness hole that was closed by the PR.

[2021-05-24 17:45] nikomatsakis commented on #85574
Region errors like this are traditionally the sort of thing that is hard to manage with a warning period. We could potentially swing it but it'll take some effort.

[2021-05-24 17:47] nikomatsakis commented on #58052
We don't presently have clear plans to support this syntax, although we are actively at work on extending rustc internally to support that sort of thing.

[2021-05-24 17:49] nikomatsakis commented on #54685
Tagging as "needs test" -- do we have a minimal example?

[2021-05-24 17:50] ChrisDenton opened #85642 "Windows `rust-lld` does not support the MSVC `manifestdependency` `.drectve`"
Minimal reproduction (Windows only):
[code]

Using the default MSVC linker works:

[code]

However when using `rust-lld.exe` it fails:

[code]

The error says it's unsupported:

----

LLD tracking issue: #71520

[2021-05-24 17:50] ChrisDenton commented on #71520
@bstrie @pravic I hope you don't mind but I filled a minimal report as I already had something similar laying around.

[2021-05-24 17:52] roblabla commented on #85642
Upstream bug: https://bugs.llvm.org/show_bug.cgi?id=38797

[2021-05-24 17:56] Mark-Simulacrum commented on #85574
Hm. Well, so far I think the only breakage we know of is in git2 and an easy fix -- and a patch release is already out there.

Let's not land the revert for now then since we do recognize it as a soundness bug "in theory" if not necessarily in practice, and we can see what beta crater (in the next cycle, this is in nightly for now) reveals.

[2021-05-24 18:28] RalfJung commented on #76264
FWIW, the corresponding PR https://github.com/rust-lang/rust/pull/76894 as been closed due to inactivity. However, it was basically ready, just needed tending to some conflicts and test failures, so if someone wants to pick it up that shouldn't be too hard.

[2021-05-24 18:31] BoxyUwU commented on #84659
With `#![feature(const_evaluatable_checked)]` this also doesn't ICE

[2021-05-24 18:38] zesterer commented on #75243
Is there likely to be appetite for a `try_map`? It's the sort of thing that's quite difficult to implement by hand safely.

[2021-05-24 18:49] LukasKalbertodt commented on #75243
I like the idea of `iter_fixed`, but I think this shouldn't really block stabilization of `array::map`. `map` is such a fundamental function that is useful in a lot of situations. In some projects I use it all the time. An additional `into_iter()` plus `collect()` (or something like that) would add noise to lots of code.

I agree we don't want to add tons of methods to arrays that would better fit

[2021-05-24 18:59] adamreichold opened #85643 "Signature suggested for missing trait item implementation is missing ?Sized bound"
Given the following code:

[code]

The current output is:

[code]

Following the suggestion

[code]

however leads to an error about incorrectly adding a requirement

[code]

which might be difficult to understand as the `Sized` bound is implicit and hence it is not obvious that `?Sized` needs to be added.

Ideally, this would be part of the initial suggestion to implement the missing item as the

[2021-05-24 19:09] arora-aman commented on #85561
So when we have something like

[code]

The MIR that will be generated will be something like
[code]

The reason we have the fake read is to allow test the right hand side of the let (or possibly scrutinee of a match) have been initialized. Since the RHS of let/match scrutinee can be less precise than what a closure captures, we do a FakeRead them outside the closure so as to not capture them for

[2021-05-24 19:13] CryZe commented on #75243
One thing I'm concerned about is if you end up using multiple methods, such as array.filter(...).map(...) then each method will have to produce a whole new array every time, which likely is pretty bad for performance. Unless LLVM can somehow optimize this (which I don't believe it can, but maybe somebody can prove this to be wrong), then I believe these methods to directly be on arrays rather than

[2021-05-24 19:17] vakaras commented on #60847
Making the motivating example legal seems to also make the following example legal ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b3dd0a95b7bd58a3f9d4b3c6b8511e87)):

[code]

This looks very wrong for me. It also completely breaks Prusti… Isn't there another way to fix whatever code depends on this?

[2021-05-24 19:30] RalfJung commented on #60847
What do you mean by "it breaks Prusti"?

[2021-05-24 19:31] nikomatsakis commented on #84594
Here are the instructions written in RFC 3114:

### Migration Lint

As for all edition changes, we will implement a migration lint to detect cases where code would break in the new edition. It includes a MachineApplicable suggestion for an alternative that will work in both the current and next edition.

The migration lint will be implemented as follows:

* Find method calls matching the name of o

[2021-05-24 19:32] cuviper commented on #85641
The debuginfo *should* be the source of truth for GDB, regardless of ABI -- have you checked whether that's correct?

[2021-05-24 19:34] vakaras commented on #60847
Our current encoding assumes that the parameters `v` and `x` cannot alias (we have `v * x` in separation logic). So, you either get a verification error or an unsoundness.

[2021-05-24 19:35] zesterer commented on #75243
How would `filter` even work in this context? I assume we'd only want combinations that preserve the array length.

[2021-05-24 19:42] CryZe commented on #75243
filter was a bad example, but still any chain like this should be really bad for performance.

[2021-05-24 19:42] nikomatsakis commented on #84594
Here are some mentoring instructions for how to do this.

To start, I would go with hard-coding the names of the methods for now. It's easier. Those methods are the methods from `TryFrom`, `TryInto`, and `FromIterator`.

The method call resolution is is n the `rustc_typeck::check::method` module:

https://github.com/rust-lang/rust/blob/ef0ec303fa5ff6fa5654c7ea94322f3f9881f6c2/compiler/rustc_typeck

[2021-05-24 19:42] nikomatsakis commented on #84594
@rustbot release-assignment

[2021-05-24 19:42] khuey commented on #85641
The location of function return values is not represented in DWARF at all.

[2021-05-24 19:43] khuey commented on #85641
(That's not a rustc limitation, that's true of DWARF in general.)

[2021-05-24 19:44] nikomatsakis commented on #84429
@Aaron1011 have you had any more time to look at this? I'm trying to decide what it's going to take to get this fixed by end of week.

[2021-05-24 19:47] mati865 commented on #85624
Probably duplicate of https://github.com/rust-lang/rust/issues/85422

[2021-05-24 19:51] nikomatsakis commented on #85561
@rustbot assign @roxelo

[2021-05-24 19:51] nikomatsakis commented on #85561
OK, I agree that adding the `FakeRead` is wrong.

[2021-05-24 19:53] m-ou-se commented on #84513
@mominul Which changes specifically do you mean? Have you started working on these?

[2021-05-24 19:53] workingjubilee commented on #76976
The use case is valid but a more general mechanism is direly needed here.

[2021-05-24 19:57] cuviper commented on #85641
Ah, sorry, you're right. I thought there was location info, but subprograms only have `DW_AT_type`, leaving the ABI assumed.

[2021-05-24 20:01] mominul commented on #84513
@m-ou-se I haven't started yet, but I intend to work on the `Update standard library` checklist items:
- Remove usages of array::IntoIter::new.
- Update examples to no longer avoid iterating arrays. (Many doctest examples are using iterators over e.g. &i32 instead of just i32.)
- Update expressions like like .chain(array.iter().cloned()) to just .chain(array) since that now works on all editions.

[2021-05-24 20:05] khuey commented on #85641
Right. Rustc doesn't follow the ABI for `Result<u32, u32>` as an argument either but that's a lot harder to notice because after the function prologue the type is reassembled into a stack slot with an appropriate location in the DWARF.

[2021-05-24 20:06] #43468 closed

[2021-05-24 20:14] jam1garner commented on #84594
@rustbot claim

[2021-05-24 20:52] #85544 closed

[2021-05-24 20:52] #85545 closed

[2021-05-24 20:52] #85616 closed

[2021-05-24 21:06] #80369 closed

[2021-05-24 21:23] Aaron1011 commented on #85641
Rust deliberately does not use a standard ABI for normal functions (i.e. those without an explicit calling convention) - it instead uses the LLVM 'fastcall' convention (or something similar to it). However, I don't think this should prevent us from being compatible with debuggers - I suspect that we're just emitting incorrect debuginfo.

[2021-05-24 21:31] khuey commented on #85641
Again, there is no "debuginfo" for the location of function return values. If you don't follow the SysV calling convention the debugger can't find the return value.

[2021-05-24 21:52] yaahc commented on #84908
@scottmcm pointed out that we should be able to implement `Try` for `ExitStatus` now since we've officially landed the v2 `Try` trait on nightly, if you wanted to go ahead and implement that @ijackson.

[2021-05-24 22:06] 05storm26 opened #85648 "Did the layout of the trait object metadata change?"
I tried this code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a122541641e9a77365b11b861971d578

According to previous information the first usize pointed by the trait object's metadata/vtable is the size of the struct. This is reiterated in the documentation of the https://doc.rust-lang.org/beta/std/ptr/struct.DynMetadata.html. Did the layout of trait object metadata

[2021-05-24 22:14] Aaron1011 commented on #84429
I've started a discussion on Zulip (https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/Cross.20crate-hygiene.20roots) - there are some unresolved questions about how we want the general solution ('correct' cross-crate decoding of `ExpnId::root()` and `SyntaxContext::root()`) to work. However, it should be possible to make a hack that just fixes the problems for macros: when we'

[2021-05-24 22:24] 05storm26 commented on #85648
No it did not change I remembered it wrong the first usize is drop implementation:

[code]

[2021-05-24 22:24] #85648 closed

[2021-05-24 22:25] jyn514 commented on #85648
Layout is never guaranteed, and nightly items especially are always subject to change.

[2021-05-24 22:50] the8472 commented on #85612
Yes and no. The spec defines global unicast as the complement of all the other special-purpose ranges. With a strong emphasis on "subject to change". And of course that covers pretty much everything, including ranges that won't be allocated for a very long time. So this is fundamentally different from the way IPv4 categories are defined.

https://datatracker.ietf.org/doc/html/rfc4291#section-2.4

[2021-05-24 23:36] yaahc commented on #62502
reconsidering attempting this

related convo: https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/error.20in.20core

[2021-05-24 23:55] jeanlucthumm commented on #84214
@rustbot claim

[2021-05-25 00:34] est31 commented on #80374
Can this be closed? Should one revert https://github.com/rust-lang/compiler-builtins/pull/399  to make sure the bug is fixed?

[2021-05-25 00:39] Diomendius commented on #61939
@memoryruins I was using 1.38 as @troiganto originally reported that this version was the first to break the `unreachable_unchecked()` workaround and I wanted to compare like with like. The current nightly produces different assembly as @troiganto also reported above, but the assembly still amounts to a no-op comparison of the `Vec`'s length, although the branch instruction is no longer present.

[2021-05-25 01:31] santoshs opened #85653 "Panic after complaining about `let` expression position"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-05-25 02:13] camelid opened #85654 "rustdoc: Search results now have lines between them"
I'm not certain whether this is a bug or an intentional change, but I couldn't find any PRs that said they were making this change. There were two PRs merged recently that affected the search results display: #85551 and #85568. Cc @GuillaumeGomez.

### [beta](https://doc.rust-lang.org/beta/std/index.html?search=range) (correct)

![image](https://user-images.githubusercontent.com/37223377/119429514

[2021-05-25 02:16] camelid commented on #85066
Note that `extended_key_value_attributes` is stable now (though it hasn't reached the stable channel yet), so this no longer requires a feature flag.

[2021-05-25 03:24] jyn514 commented on #85654
I like the new version better.

[2021-05-25 03:29] marienhof opened #85656 "I'm a novice to Rust, please help me get around an error message"
Hi!
Here's a video of how the error was produced: https://www.youtube.com/watch?v=dWabGgXfPRc
 The error message says:

`➜  hello_cargo git:(master) ✗ cargo build --verbose
   Compiling hello_cargo v0.1.0 (/Users/amabie/hello_cargo)
     Running `rustc --crate-name hello_cargo --edition=2018 src/main.rs --error-format=json --json=diagnostic-rendered-ansi --crate-type bin --emit=dep-info,link -C em

[2021-05-25 05:26] ehuss opened #85658 "Tracking Issue for llvm-tools-preview"
This is a tracking issue for the llvm-tools-preview.

llvm-tools-preview is a rustup component that contains some LLVM tools. At the time of this writing, it contains the following:

* llc
* llvm-ar
* llvm-as
* llvm-cov
* llvm-dis
* llvm-nm
* llvm-objcopy
* llvm-objdump
* llvm-profdata
* llvm-readobj
* llvm-size
* llvm-strip
* opt

### Unresolved Questions

* What will it take to transition out of

[2021-05-25 05:42] ohsayan commented on #85656
This is a place for reporting issues and making suggestions for the compiler. We have a beginner friendly channel on discord where you can ask such questions. Feel free to join the server here: https://discord.gg/dwqjCaSE

[2021-05-25 06:20] jhpratt commented on #85654
This change appears to be intentional, as [this line](https://github.com/rust-lang/rust/pull/85551/files#diff-7dc22a0530802d77c2f2ec9e834024a5657b6eab4055520fca46edc99a544413R779) was added to CSS that only applies to this element.

[2021-05-25 06:39] marienhof commented on #85656
Great! Sorry

[2021-05-25 06:39] #85656 closed

[2021-05-25 06:41] davidpdrsn opened #85659 "Tonic master branch builds on 1.52 but not 1.51"
I recently worked on some changes to [tonic](https://github.com/hyperium/tonic). The changes work fine on Rust 1.52 (the version I was on when I wrote the changes) but I've since discovered that things don't compile on Rust 1.51. I see an error like this:

[code]

I'm not knowingly doing anything that requires Rust 1.52 so find this error a bit surprising. Could it be a bug in rustc?

Reproduction

[2021-05-25 07:34] m-ou-se commented on #75196
Now that rust-lang/rfcs#3016 is merged:

@rfcbot merge

cc @rust-lang/wg-const-eval

[2021-05-25 07:35] RalfJung commented on #60847
I think that model is incomplete, but that seems fine to me (unless you want to claim your tool is total). After all, one could also easily write code like
[code]
and call this function with `*v` and `x` having the same value.

[2021-05-25 07:39] RalfJung commented on #60847
Put differently, `main` cannot call an *arbitrary* function `test` this way, that could go wrong badly. It has ti know exactly what `test` does for this to be sound. So it seems expected to me that the type signature of `test` alone is not sufficient to derive the precondition that `main` satisfies when calling `test´.

Essentially, `test` is what one may call a "super-safe" functions: the actual

[2021-05-25 07:48] leonardo-m opened #85660 "[ER] A harder case of missed array bound test elision"
Another common case where LLVM doesn't infer the safety of the array access:

[code]

Compiled with -O it performs a bound test in `arr[pos]`:

[code]

I don't know if a back-end like LLVM is supposed to infer complex situations as this one. Perhaps this is the job of explicit code annotations of pre/post-conditions, loop (in)variants, etc.

[2021-05-25 07:57] jhpratt commented on #77463
What are the blockers on this?

[2021-05-25 08:15] Patryk27 commented on #78174
Also got bitten (the same error, not sure if the exact same cause):
[code]

[2021-05-25 08:18] SNCPlay42 commented on #85653
Duplicate of #82290; this is fixed on more recent nightlies.

[2021-05-25 08:20] hellow554 commented on #74318
Despite the fact that #71104 was closed by a fix, this still ICE on stable, and a compiler error on nightly.
I'm trying to get a MCVE right now.

[2021-05-25 08:23] hellow554 commented on #60576
Hey @sfackler
has the parking_lot PR already landed? Can you maybe tell the PR number? I would like to give it a shot to cleanup this.

[2021-05-25 08:25] hellow554 commented on #57663
On current stable (1.52.1) it looks like this:

[code]

therefore I think this can be closed. Open it up again if you like to :)

[2021-05-25 08:25] #57663 closed

[2021-05-25 08:29] hellow554 commented on #55914
On current stable (1.52) this looks promising, but still not from perfect:

*`assert!(a == b)`*
[code]

*`assert_eq!(a, b)`*
[code]

[2021-05-25 08:32] SkiFire13 commented on #56167
This applies to `BTreeMap` and `BinaryHeap` too. Maybe we could have a `Raw*` version of each collection?

[2021-05-25 08:37] hellow554 commented on #74318
The original ICE went away. What I sawy on stable is a new one, but a dup of #82933 which should've been fixed by #83108

I'm closing this :)

[2021-05-25 08:37] #74318 closed

[2021-05-25 08:41] GuillaumeGomez commented on #85654
Yes, it's completely voluntary. We changed the display on mobile and to keep more coherent, we decided to keep the lines too.

[2021-05-25 08:41] #85654 closed

[2021-05-25 09:07] fee1-dead commented on #82140
The error could include a message which tells users that enum types/structs are not supposed to be snake cased. Would that work @crlf0710?

[2021-05-25 10:14] ssomers commented on #62924
The use case we're talking about is [popping an element from a set, while using the shrinking set each iteration](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=af331a6a1793e87660125e40b35212ec) (probably using it for something more obvious than asserting the obvious).

`drain_filter` and `retain` are not practical for this use case, because they always iterate the entire

[2021-05-25 11:12] #85591 closed

[2021-05-25 11:31] mastopgunaf opened #85665 "Const generics in closure arguments result in false "closure/generator type that references itself" error"
I tried compiling this code:
[code]
The output is supposed to be `12345678`, but instead the compiler throws an error:
[code]
However, the code above, doesn't include closures that capture themselves or take themselves as an argument.

The bug is most likely related to const generics, because omitting `- PREFIX_LENGTH` such that the `const_generics` feature is not used fixes the compilation. `new`

[2021-05-25 11:48] hellow554 commented on #85659
FWIW: here's a bisect:

searched nightlies: from nightly-2020-10-01 to nightly-2021-05-01
regressed nightly: nightly-2021-02-10
searched commits: from https://github.com/rust-lang/rust/commit/0fc6756b42e0556cc2e18079f5fc6b4d58f4e81a to https://github.com/rust-lang/rust/commit/097bc6a84f2280a889b9ab4b544f27851a978927
regressed commit: https://github.com/rust-lang/rust/commit/f4008fe94935d05ffb3a48f

[2021-05-25 11:59] mati865 commented on #60576
It was not merged: https://github.com/rust-lang/rust/pull/56410#issue-comment-box

[2021-05-25 12:04] cbeuw commented on #85463
RFC's here: https://github.com/rust-lang/rfcs/pull/3127

[2021-05-25 12:12] hellow554 commented on #60576
I will close this comment as I don't see that this can and will be addressed any time soon. Thank you for your answer mati :)

[2021-05-25 12:12] #60576 closed

[2021-05-25 13:07] Mark-Simulacrum opened #85667 "regression: BITS constant conflicts in lexical crates"
`u/iN::BITS` was re-stabilized in 1.53 after being backed out of 1.51 due to breakage, primarily in the lexical-core crate. This breakage has not been fixed, as far as I can tell, in a vast majority of crates: we're still seeing ~1300 regressions, majority of which are lexical-core in the [beta crater run](https://crater-reports.s3.amazonaws.com/beta-1.52-2/index.html).

There was no discussion on

[2021-05-25 13:10] Mark-Simulacrum commented on #85667
cc @m-ou-se @myrrlyn

Even with 0.7.5 out, it does look like it'll be some time before crates actually update lockfiles (if ever). We don't have a firm policy on whether cargo update being sufficient is "enough" that breakage is OK -- it's a new decision each time pretty much -- but this level of breakage is pretty bad. I guess there may not be much we can do -- IIRC a prelude trait for example ad

[2021-05-25 13:10] Mark-Simulacrum commented on #85224
Majority of the breakage seems to be due to ::BITS, filed https://github.com/rust-lang/rust/issues/85667; will triage the rest later.

[2021-05-25 13:19] CDirkx commented on #85612
I propose removing (or making private) the utility function `Ipv4Addr::is_ietf_protocol_assignment` and not adding a (public) equivalent `Ipv6Addr::is_ietf_protocol_assignment`. The method was introduced in #60145 along with other methods to be used in making `is_global` more accurate, however it can still be used for this purpose as a private function.

To me it is not clear what practical use of

[2021-05-25 13:19] drahnr commented on #74697
@pickfire I'll probably only get around to writing a blog post next week at the earliest, but I think that's a good next step.

[2021-05-25 13:37] myrrlyn commented on #85667
There’s no way around the symbol collision. I think it’s important that `::BITS` stabilize and I’d like us to get out of the way on that.

I can take the list of broken crates and start walking it. I can also work on a backport on the older minor series; the reason I did not do so last time is that I was unfamiliar with `lexical-core`’s dependents and didn’t know whether the older series were stil

[2021-05-25 13:41] vakaras commented on #60847
Just to avoid potential misunderstanding: here I am interested in the semantics of `Vec`. In other words, I think that my example (as well as the original example) should be rejected because they violate the invariant of `Vec`. More specifically, `Vec` internally uses [`Unique`](https://github.com/rust-lang/rust/blob/673d0db5e393e9c64897005b470bfeb6d5aec61b/library/core/src/ptr/unique.rs#L7-L44),

[2021-05-25 13:45] Mark-Simulacrum commented on #85667
I wouldn't worry about filing pull requests with 1300+ crates bumping lock files (in part because those are unlikely to get merged quickly).

I do think getting patch releases out for each series would already be a significant step forward. I think yanking is likely not the right step to take at this time.

In terms of stabilizing only with e2021- no, that's not really possible. In theory we could

[2021-05-25 13:53] #85569 closed

[2021-05-25 13:54] m-ou-se commented on #84513
Thanks! Since we're running a bit short on time for the edition changes, I'm implementing the most important ones today. Hope you don't mind. I'll add the PR numbers in the first comment above, so take a look there before you start implementing anything to avoid doing work twice.

[2021-05-25 14:05] aPere3 opened #85671 "Generic trait implementation not consistently recognized by the compiler"
I am trying to get the following to work:

[code]

I expected to see this happen:

The line 28 of the method `failing` should compile, as it it calls `as_ref_a` to build a `A(&[T])` type, which implement `AsSlice` for all `T`. When calling `as_ref_a` on that value, the compiler should recognize that `A(&[T])` is indeed `AsSlice`.

Instead this happened:

The second call to `as_ref_a` does not reco

[2021-05-25 14:11] m-ou-se commented on #85667
Attaching it to an edition would not only require compiler changes, but also a lint, a suggestion for rustfix, documentation, etc.

[2021-05-25 14:14] m-ou-se commented on #85667
Indeed.

Such a policy would be useful. If the decision is that that's fine, we might want to make crater update the lock files when something fails before it considers a crate broken.

As another data point: `cargo install` also ignores the lock files and picks the latest matching version of everything.

[2021-05-25 14:15] myrrlyn commented on #85667
I assumed the edition route was an infeasible idea but hey might as well get a “no” in writing.

I’ll start cutting fixes for the minor series listed in the regression report this weekend.

[2021-05-25 14:20] m-ou-se commented on #85667
I'm wondering if we should have a `std_version = "1.52.0"` in `Cargo.toml` (just like `edition = ..`) that will make Rustc consider everything that was stabilized in a later version as still unstable. `cargo publish` could add it to the uploaded crate if it's not explicitly set, and it makes it easier for crates to track an explicit MSRV.

[2021-05-25 14:28] the8472 commented on #85660
The usual hack of adding `pos = std::cmp::min(pos, arr.len() - 1);` eliminates the bounds check.

[2021-05-25 14:35] vakaras commented on #60847
If I understand you correctly, super safe functions are the functions whose callers are allowed to call them with arguments that have broken invariants, right? My gut feeling says that such functions could result in all type invariants becoming public (I remember seeing this problem popping up with C++ friend functions), which makes reasoning really hard (not only for automatic verification but al

[2021-05-25 14:41] pravic opened #85674 "non_fmt_panic warning on Rust 2015"
I tried this code:

[code]

[code]

I expected to see this happen: No warnings when compiling Rust 2015.

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

cc #80162. #81645

[2021-05-25 14:46] felipeamp opened #85677 "Compiler complaining about dead code when enum is used in a match against return value of FFI call"
I tried this code:

[code]
link to example in Rust playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c3d9e0b917bfabeebeb6285a4aa73a6d

I expected to see this happen: no warning about dead code, since ResultEnumFromC is created on the C side and used in a match on the Rust side.

Instead, this happened: Compiler complained about ResultEnumFromC never being construc

[2021-05-25 14:48] jonas-schievink commented on #85674
This behavior matches the plan outlined in [RFC 3007](https://github.com/rust-lang/rfcs/blob/master/text/3007-panic-plan.md). Why do you think the the lint should not warn here?

[2021-05-25 14:54] pravic commented on #85674
Because we explicitly set the `2015` edition and won't be switching to a higher one. Why would our code break with a future compiler update?

[2021-05-25 14:55] hch12907 commented on #76976
Opened #85679 which removes this feature.

[2021-05-25 15:35] PatchMixolydic opened #85680 "ICE on `#![feature(rustc_insignificant_dtor)]`"
### Code
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=60dcf2615cf526fe8c7676a4f92a5172))
[code]

### Meta

`rustc --version --verbose`:
[code]

Also reproduced on the playground: `1.54.0-nightly (2021-05-24 126561cb31e8ebe1e2dd)`.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Addendum

N

[2021-05-25 15:40] drozdziak1 commented on #68185
Is there any workarounds I can apply for this?

[2021-05-25 15:45] mkmik opened #85681 "Error message ascii art pointer / arrow points to wrong argument"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8b21d823468da1cb8ba7442d8b4e0e85

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

I tried on stable (1.52.1) , beta and nightly (on rust playground and locally).

[2021-05-25 15:51] jyn514 commented on #85659
@davidpdrsn releases are immutable, and I've never heard of doing a point release for anything other than stable. So I'm not sure what the point of this issue is even if it is a bugfix.

[2021-05-25 15:55] Mark-Simulacrum commented on #85659
We don't support non-current stable versions, so as this works on 1.52 (and presumably beta/nightly) I'll go ahead and close.

[2021-05-25 15:55] #85659 closed

[2021-05-25 15:58] steffahn commented on #85671
Related: [This discussion on URLO](https://users.rust-lang.org/t/generic-trait-implementation-not-consistently-recognized-by-the-compiler/60248).

Inparticular, changing `as_ref_a` to
[code]
and/or changing `failing` to
[code]
makes the error go away.

@rustbot label A-traits, A-associated-items, T-compiler

[2021-05-25 16:39] apiraino commented on #85580
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2385580.20reproducable.20wasm32.20bug) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-05-25 16:40] o01eg opened #85683 "Bootstrap tries to build disabled RLS"
I trying to build rust from sources. I disabled RLS in `config.toml` but still get error:

[code]

[code]

### Meta

Rustc version: fbf1b1a7193cda17008ab590e06ad28d9924023b

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-05-25 16:44] RalfJung commented on #60847
This is a good point. However, `Unique` is internal and unstable for a reason. We still need to figure out what exactly its rules are. The documentation you cite should likely be updated, but you are also quoting it out-of-context: reading the full text, I think what is meant by this is that *for the purpose of the type system*, `Unique<T>` behaves like `T`. For example, auto traits and dropck wil

[2021-05-25 16:44] m-ou-se opened #85684 "Tracking issue for edition-specific preludes"
This is a tracking issue for the edition-specific preludes.

RFC: rust-lang/rfcs#3114

Feature gates: `prelude_2015`, `prelude_2018`, and `prelude_2021`.

### Public API

[code]

### Steps / History

- [x] RFC: rust-lang/rfcs#3114
- [x] Final commenting period (FCP): https://github.com/rust-lang/rfcs/pull/3114#issuecomment-840577395
- [x] Add `prelude::rust_*` and pick one depending on the edition

[2021-05-25 16:45] RalfJung commented on #60847
Btw, discussions in closed issues are generally discouraged and easily get lost. You are raising some interesting questions though. Could you open a new issue and provide a short summary? Then we could invite some t-libs people to determine whether this is considered within the intended usage of `Vec` or not.

[2021-05-25 16:51] vakaras commented on #60847
Sure. I will do that.

[2021-05-25 17:11] CDirkx commented on #85604
With site-local unicast addresses deprecated, are the only two unicast scopes now link-local and global? If a unicast address is not-link-local, is it always global (and vice versa)?.

[2021-05-25 17:12] CDirkx commented on #76225
Closing as all `is_variant` methods have been stabilized as const, with the exception of `Prefix` which on its own doesn't seem worth it.

[2021-05-25 17:12] #76225 closed

[2021-05-25 18:00] cjgillot opened #85688 "DepNodeIndex does not uniquely identify anonymous queries"
The `DepNodeIndex` for an anonymous query is computed from its `DepKind` and from the list of dependencies, but does not depend on its key. As `DepNode`s are deduplicated before creation, the same `DepNodeIndex` can correspond to multiple anonymous query invocations.

Query self-profiling relies on `DepNodeIndex` to identify query invocations.

The consequences of this deduplication on self-profil

[2021-05-25 18:12] CDirkx commented on #85604
If I read the following table and the rest of RFC 4291 correctly:

[code]

1. Any address is either unicast or multicast
2. The unspecified and loopback address are unicast (They are defined under section 2.5 Unicast Addresses)
3. The unspecified and loopback address are not link-local unicast (link-local addresses have prefix `FE80::/10`), although of the loopback address it is stated that "it is

[2021-05-25 18:15] cynecx commented on #85454
@Stupremee https://github.com/rust-lang/rust/issues/84579 might be related.

[2021-05-25 18:42] scottmcm commented on #85453
@Xanewok Thanks for merging https://github.com/racer-rust/racer/pull/1167!

If I'm reading things right, I think I need a new crater release of it so I can update https://github.com/rust-lang/rls/blob/master/Cargo.toml#L46 ?  If so, can you please make one of those?

[2021-05-25 18:45] gideongrinberg commented on #79710
Could you use something that's already built into markdown? For example, rustdoc could take `> :warning: Some warning here` and render it as an admonition.

[2021-05-25 18:48] jyn514 commented on #85688
What is an anonymous query?

[2021-05-25 18:50] GuillaumeGomez commented on #79710
That's what https://github.com/rust-lang/rust/issues/79710#issuecomment-750350933 suggested: to use markdown and make some changes on rustdoc side. I think the codeblock approach is the best personally.

[2021-05-25 19:17] Stupremee commented on #85454
Cross Crate re-exports are *really weird* in rustdoc. They already caused me so much pain

[2021-05-25 19:28] Mark-Simulacrum opened #85692 "regression: proc-macro derive unparseable"
From https://crater-reports.s3.amazonaws.com/beta-1.52-2/beta-2021-05-23/gh/omegablitz.gluon-bug/log.txt

[code]

cc @petrochenkov @Aaron1011 -- any recent parser changes you can think of that might've caused this?

[2021-05-25 19:41] Fishrock123 opened #85693 "rustc output could be more clear for double Result consumtption with ? / Try"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d7983fe62904168513818cd408466b11

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

The current output is surprisingly obtuse for what is a simple fix, although I understand it might be hard for the compiler to tell that this is the case.

The fix for this error is

[2021-05-25 20:00] CDirkx commented on #85604
My plan forward for the IPv6 unicast interface:

- Fix `is_unicast_global` to check for global unicast scope (currently it tries to check if the address appears globally reachable, which is not the same thing)
- Remove `is_unicast_link_local_strict`
- Remove `is_unicast_site_local`
- Add `is_unicast`

After those steps the interface will look like this:
[code]

and we can then consider replacing `

[2021-05-25 20:04] Mark-Simulacrum opened #85694 "regression: Option::insert and trait extensions conflict"
The breakage seems to come from extension traits in logos-derive (of various versions), from https://crater-reports.s3.amazonaws.com/beta-1.52-2/index.html.

See list there for the broken crates under the "regressed: dependencies (20 root crates, 1341 regressed crates in total)" and logos-derive headings.

[2021-05-25 20:15] Aaron1011 commented on #85692
This appears to have already fixed in https://github.com/gluon-lang/gluon/pull/889. I'm not sure why this is just now showing up again on Crater.

[2021-05-25 20:18] hwalinga opened #85695 "Using ? behind collect without turbofish gives confusing error message, not hinting at wrong type."
Following up from #49391 @estebank

Not sure if the compiler can be clever about this.

Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e30b2fc110718876664dd046492b4dc5

[code]

The current output is:

[code]

Ideally the output be:

[code]

This also will happen when the function call taking the strings is not used.

[2021-05-25 20:22] Aaron1011 commented on #85692
Oh, I see - the affected derive invocation also has a `#[cfg_attr]` attribute on the same attribute target. This previously meant that we would pretty-print and retokenize the input, which would cause the trailing comma to get lost.

This is expected fallout from https://github.com/rust-lang/rust/pull/82608 - preserving the exact `TokenStream` may expose bugs in user-written proc macros. Fortunate

[2021-05-25 20:38] vakaras opened #85697 "Aliasing: Does Vec own its contents?"
(Opening a new issue to continue the discussion started in #60847.)

The core of the question is whether I can assume that `x` and `v` are disjoint (`x` is not pointing into one of the `v`'s elements):

[code]

I see at least two reasons why `x` should not be allowed to alias an element of `v`:

1.  It looks very counter-intuitive because it is typically illegal to have active mutable references t

[2021-05-25 20:41] Mark-Simulacrum commented on #85692
Tagging as relnotes (cc @XAMPPRocky) and removing prioritization request; I expect to close as won't fix with a note that duplicate trailing commas are no longer accepted placed in the compatibility notes.

[2021-05-25 20:43] Mark-Simulacrum commented on #85692
@Aaron1011 is https://crater-reports.s3.amazonaws.com/beta-1.52-2/beta-2021-05-23/gh/yejingchen.jieba-bot/log.txt (source code in https://docs.rs/crate/tbot/0.6.7/source/src/errors/https_webhook.rs) basically the same error as here? It looks like it's parsing the `Path,` as a tuple perhaps -- seems a bit different.

[2021-05-25 20:50] cynecx commented on #84579
I may have found the reason why we are skipping the associated type binding.

So when an external item (in our case an associated type) gets documented it goes through `clean::inline::build_external_trait` which then goes through this `clean` visitor: https://github.com/rust-lang/rust/blob/ff2c947c00f867b9f012e28ba88cecfbe556f904/src/librustdoc/clean/mod.rs#L1015-L1016

Further down we get to: htt

[2021-05-25 20:57] cynecx commented on #85454
@Stupremee https://github.com/rust-lang/rust/issues/84579#issuecomment-848254819 might be interesting.

[2021-05-25 22:01] the8472 commented on #85697
Is this really a matter of `Vec` and not the `unsafe { &mut *ptr };`? I.e. isn't this more about the question how far the taint of unsafe blocks can spread? `test` lives in the same module as `main` so in this case they have to work together.

If `test` lived somewhere else then it shouldn't have to be aware of the potential aliasing and be able to make full use of the `Vec` granted by the exclusi

[2021-05-25 22:02] leonardo-m commented on #85660
Do you mean code like this?

[code]

If you mean code like that, then unless I'm missing something it still contains an extra test on  test on `pos` each loop, so it isn't a significant enough improvement over the original version with a panic.

[2021-05-25 22:44] the8472 commented on #85660
My bad, I only checked for the absence of the `callq`.

[2021-05-25 23:01] gideongrinberg commented on #79710
My bad, I didn't see that.

[2021-05-25 23:30] Aaron1011 commented on #85692
@Mark-Simulacrum: Yes, the underlying cause (exposed bug due to preserving tokens when `#[cfg_attr]` is involved) is the same. That bug also has a fix merged in https://github.com/kdy1/is-macro/pull/8.

[2021-05-25 23:35] mastopgunaf commented on #85665
This bug can currently only be circumvented by providing a function instead of a closure. This works:
[code]
But this does not:
[code]

[2021-05-26 00:47] inashivb commented on #76264
Hi @RalfJung ! I'd like to pick it up if its OK?

[2021-05-26 00:51] crlf0710 commented on #82140
@fee1-dead It would also be great if there's usual suggestions. It seems the casing currently suppress the auto lookup for types that lives in a different module.

[2021-05-26 01:13] Aaron1011 commented on #85502
PR https://github.com/rust-lang/rust/pull/85702 fixes *another* issue that affects `native_libraries`. However, it's possible that there are still more undiscovered issues affected `native_libraries`.

[2021-05-26 02:01] workingjubilee commented on #82499
`#[link_args]` appears to have vanished in a puff of logic: https://github.com/rust-lang/rust/issues/29596

[2021-05-26 02:54] Aaron1011 commented on #85194
I've opened https://github.com/rust-lang/rust/pull/85704 to turn const panics into a hard error.

[2021-05-26 03:00] ChrisDenton commented on #66513
Hm. instead of using `LockFileEx`, couldn't it use the `.share_mode(0)` option? The file would only be locked on the Windows side and not the Linux side. However, I think it's the best that can be done.

[2021-05-26 03:16] Aaron1011 commented on #85665
Minimized:

[code]

[2021-05-26 03:29] jsha commented on #85418
So, a summary of the problem here:

For in-crate implementors, rustdoc renders HTML directly. For out-of-crate implementors, rustdoc renders HTML into a string in a JS file. That means we have two different code paths putting the implementors into the HTML page so they're likely to drift apart.

This also means that out-of-crate implementors can't be sorted alongside the in-crate implementors.

Th

[2021-05-26 03:48] Aaron1011 opened #85708 "Properly handle cross-crate `SyntaxContext::root` and `ExpnId::root`"
I've started a discussion on Zulip (https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/Cross.20crate-hygiene.20roots) - there are some unresolved questions about how we want the general solution ('correct' cross-crate decoding of  and ) to work. However, it should be possible to make a hack that just fixes the problems for macros: when we're checking the span of a token for a f

[2021-05-26 04:05] Aaron1011 commented on #84429
I've opened https://github.com/rust-lang/rust/pull/85709 with a `macro_rules!`-specific fix, allowing us to avoid the larger problem of cross-crate hygiene (at least for the time being).

[2021-05-26 05:25] nbdd0121 commented on #81513
How about have:
[code]

How about making `DynMetadata`  pub struct DynMetadata<Dyn: ?Sized> {
    vtable_ptr: &'static VTable,
    phantom: crate::marker::PhantomData<Dyn>,
}

[2021-05-26 05:31] edlanglois commented on #85451
@rustbot label A-associated-items A-lifetimes

[2021-05-26 07:03] RalfJung commented on #76264
@inashivb sure, go ahead. :)

(I'm not necessarily the best reviewer for this PR, and I am pretty swamped currently, so I'd appreciate if someone else reading along could help with reviewing.)

[2021-05-26 07:05] inashivb commented on #76264
@rustbot claim

[2021-05-26 07:07] Oliboy50 commented on #66287
As a newcomer to Rust, I just wanted to say that it feels frustrating to learn that there is an awesome built-in benchmarking feature (which is something that I've never seen in the few languages I've worked with) but we "cannot" use it and doesn't seem like it will happen soon (since the following is written in the doc: _The tracking issue for this feature is: **None**._ )

Why is it even mention

[2021-05-26 07:40] CryZe commented on #74372
Should the bitmask instructions possibly returns u8 / u16 / u32 based on the lane count? At the moment they all return i32 which is of course the type on "machine level", but since the intrinsics all take appropriate Rust integer types, it seems like the bitmask instructions don't properly reflect that. I noticed this because actually casting to u16 on a u8x16_bitmask emits an unnecessary `mask &

[2021-05-26 08:11] hellow554 commented on #82933
Fixed and testcase was added in https://github.com/rust-lang/rust/pull/84168, so can somebody please close this? :)

[2021-05-26 08:17] Chronos-Sk opened #85713 "`#[repr(align)]` with no argument to `align` leads to ICE on Nightly/Beta."
### Code

[code]

### Meta

Version: 1.54.0-nightly (2021-05-25 ff2c947c00f867b9f012)

Found this on the Rust playground: [reproducing link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f6b736de2aad6aabba7dd9cea3b9e38c). Not sure how to get the verbose version output from the playground.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<

[2021-05-26 08:26] marmeladema opened #85714 "Should `improper_ctypes_definitions` lint warn against boxed DST?"
Given the following code:

[code]

Playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=dfca164488b7561826bbb61ee137b6bc

The current output is:

* It compiles successfully

Ideally the output should look like:

[code]

From what I understand, fat pointers layout is not stable and should not be relied upon, pretty much in the same way that relying on the layout

[2021-05-26 09:13] nikomatsakis commented on #73481
@rustbot assign @spastorino

Santiago is working on the PR for this.

[2021-05-26 09:17] Thomasdezeeuw commented on #62726
I was thinking about this some more and I think having the possibility to advance both a single `IoSlice` and a slice of `IoSlice`s is quite useful, I've needed both a couple of times myself. So, I want propose a slight change in design to make both possible:

[code]

[2021-05-26 09:35] SimonSapin opened #85716 "OnceCell docs: empty/full terminology v.s. (un)initialized"
Documentation at:

* https://doc.rust-lang.org/nightly/std/lazy/struct.OnceCell.html
* https://doc.rust-lang.org/nightly/std/lazy/struct.SyncOnceCell.html

Appears to use "empty" and "uninitialized" interchangeably to describe the state of a given cell, and similarly "full" and "initialized". I think it’d be better to pick one set of terminology and stick to it consistently. Using empty/full might

[2021-05-26 09:36] SimonSapin commented on #74465
Filed a minor docs bug: https://github.com/rust-lang/rust/issues/85716

[2021-05-26 09:41] nbdd0121 commented on #85434
We could `pthread_mutex_trylock`, and if we successfully acquire the lock, do `pthread_mutex_unlock` and `pthread_mutex_destroy`. If we couldn't acquire the lock, just leak...

[2021-05-26 10:04] RalfJung commented on #85434
I was about to ask what if someone else acquires the lock again just after we `pthread_mutex_unlock`... but that cannot happen since we have `&mut Mutex` here.

So, yeah, that could work.

[2021-05-26 10:21] jyn514 commented on #82933
@hellow554 that PR links to https://github.com/rust-lang/rust/issues/84149, not here. Did you mean a different PR?

[2021-05-26 10:28] Adam-Gleave opened #85718 "Inconsistent coverage reports with files with 0% coverage"
When generating test coverage for a module that is placed behind a feature gate, the source file is omitted from the coverage report unless at least one function has been used in a test. This seems strange, since files that are not behind features are included with 0% test coverage.

Coverage is generated using the steps in the [source-based coverage guide](https://rustc-dev-guide.rust-lang.org/ll

[2021-05-26 10:29] SimonSapin commented on #85684
Is there something prelude-specific to stabilize besides allowing any use of the 2021 edition on Stable?

[2021-05-26 11:01] hellow554 commented on #82933
@jyn514 I'm very confused myself, so bear with me.

I was cleaning up my open issues, where I was stumbling upon #74318, which has a different ICE than before. Because of that I closed that issue and look up similar ones (with the same error message) and landed here.
I minimized my codebase to see what the error is and came up with #85661 but alex rightfully noticed, that the PR I was refering to

[2021-05-26 11:26] Mark-Simulacrum commented on #85098
Reopening to track the illumos target work. I'm not sure it's a release blocker, but would like to not lose sight.

[2021-05-26 11:41] kootenpv commented on #62924
So my current approach for anyone interested is:

[code]

Maybe someone knows a more optimized way.

[2021-05-26 11:58] Nateckert commented on #85330
Unfortunately (or fortunately according to the point of view), as I reinstalled the toolchain, I do not encounter that issue anymore and I cannot test if `cargo clean` has any effect.

[2021-05-26 12:31] #84035 closed

[2021-05-26 13:20] robinmoussu opened #85723 "Improve help message when using `&'a mut &'a T` and `&'a mut [&'a T]`"
This is a follow-up of a discussion I initiated on [internals](https://internals.rust-lang.org/t/i-think-the-compiler-could-give-a-better-help-message-here/14742) after watching [crust of Rust: Subtyping and Variance](https://www.youtube.com/watch?v=iVYWDIW71jk).

Both `&'a mut &'a T` and `&'a mut [&'a T]` are (I think) always a bug in a program, and never what the programmer intended. What he wan

[2021-05-26 13:26] hellow554 commented on #85713
two possibilities:
tick backtrace enable:
![grafik](https://user-images.githubusercontent.com/921462/119667440-96a77380-be36-11eb-9dff-572abeacc3b0.png)

or click that link (it does the same)
![grafik](https://user-images.githubusercontent.com/921462/119667476-9dce8180-be36-11eb-9c12-555895494657.png)

[2021-05-26 13:27] hellow554 commented on #85713
@rustbot modify labels: regression-from-stable-to-beta

[2021-05-26 13:34] hellow554 commented on #85713
Was introcuded by #81234 cc @repnop

[2021-05-26 13:35] mominul commented on #84513
@m-ou-se Thanks, will do! :blush:

[2021-05-26 13:45] vakaras commented on #85697
This is a very good question. I think that we have to talk about `Vec` in this case because we must explicitly allow such a use case by promising no to do certain changes to `Vec`'s implementation. If I understand you correctly, the suggestion would be to give a weaker interpretation to `Vec` in some part of the codebase. The programmer's responsibility then would be to ensure that this weaker int

[2021-05-26 14:38] hameerabbasi commented on #85598
Assigning `P-high` based on [WG-prioritization discussion on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2385598.20Rustc.20fails.20to.20compile.20rust-analyzer.20on.20widows.2C.20fail.E2.80.A6) and removing I-prioritize.

@rustbot modify labels -I-prioritize +P-high

[2021-05-26 15:10] asquared31415 commented on #85527
Crated a minimal reproduction: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ce21df627aef988eb4d4e67e2ac7ef81

It seems that for some reason *having* a `use` item with two identical components (`foo::foo` or in the original code `if_chain::if_chain`) causes this behavior.

[2021-05-26 15:14] #82933 closed

[2021-05-26 15:21] m-ou-se commented on #85684
@SimonSapin The modules `std::prelude::rust_*` are currently unstable. So stabilizing them will make it possible ot refer to those explicitly. Automatically importing the 2021 prelude on edition 2021 is already stable (except that that edition itself isn't stable yet).

[2021-05-26 15:43] PatchMixolydic commented on #85680
This ICE does not happen if the `incomplete_features` lint is allowed ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5fb2796c8f09af7d607a8ee2c960e19b)). This may be because `rustc_insignificant_dtor` is listed in `rustc_feature::active::INCOMPLETE_FEATURES` but is not declared with `declare_features!`.

https://github.com/rust-lang/rust/blob/1969c2e312303faa

[2021-05-26 16:45] the8472 commented on #85697
We already have that. There are 3 types of unsafe

* `unsafe fn` - unsafe to call
* `unsafe { }` - calling unsafe things
* `unsafe trait` - unsafe to implement, because unsafe code may rely on it in ways that aren't expressed in unsafe blocks

`test` is the 3rd kind, not the 1st. It's perfectly safe to call by any kind of code that has safely constructed a `Vec` and a mutable u32. But it's intende

[2021-05-26 17:20] RalfJung commented on #85697
FWIW, `Vec` is not *so* pervasive as a type at function boundaries; slices are much more common. So I don't think impact is quite as large as you make it sound here.

This conflates aliasing requirements and ownership, which are two separate discussions. ;) A `Vec` definitely owns its contents (as part of its safety invariant), but that does not mean that it is UB to have aliasing *as long as the

[2021-05-26 17:25] RalfJung commented on #85697
As mentioned in the other thread, functions like `test` are the "opposite" of `unsafe`: they are always safe to call when all arguments satisfy their usual invariants, and they are even safe to call when some of the arguments do *not* satisfy the usual invariants.
This pretty much means such functions will only come up within a modular boundary, which is another argument for why they should not be

[2021-05-26 17:34] SimonSapin commented on #81513
@nbdd0121 That looks like exactly what we have in Nightly today. What am I missing?

[2021-05-26 17:39] sunjay commented on #44265
Now that we have minimal const generics in stable, are generic associated types with const generics a supported part of this feature? This code seems to compile and work on nightly, but I'm not sure if that's by accident or not: ([Rust Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=837221ad1e14e6e10febbbfdaa871f53))

[code]

Will GATs with const generics be st

[2021-05-26 17:45] Heliozoa commented on #85370
I'm getting this error with the following example with `cargo check` on Ubuntu 20.04.2 LTS:

[code]
[code]
[code]
[code]
[code]
[code]
I thought there might be something wrong with my installation because the project worked with a lot more code than this and then stopped working, but I reproduced the issue on a fresh Docker image so maybe not. Let me know if there's more information I can provide.

[2021-05-26 17:53] SimonSapin commented on #85697
I’m not sure this was ever by intentional design, but for a time (before `std::alloc::alloc`) `Box` / `Vec` + `into_raw` was the only way to allocate memory on Stable Rust.

Another reason to use `Vec` this way in in typed-arena is to rely on its `Drop` impl which has `#[may_dangle]` which in turn allows arena-allocated items to form borrow each other, potentially with cycles. Writing a custom (ou

[2021-05-26 17:54] jorendorff commented on #71671
This bit me today. Reduced test case:

[code]

[2021-05-26 18:25] wesleywiser opened #85726 "tidy does not enforce comments only lines must be <= 100 characters long"
`rustfmt` by default does not format comments so while it will reformat Rust code to be <= 100 characters per line, it does not do this for lines consisting only of a comment. As such `x.py tidy` does not report these lines and allows them to be merged into the repository without issue.

I tried enabling some `rustfmt` options to reformat comments but the results are suboptimal in many situations.

[2021-05-26 18:31] ehuss commented on #85370
I believe that the issue with "Failed to get crate data for crate18" for these particular cases has been fixed by #83404. That should be in 1.53 (beta or nightly).  I'm going to close this as resolved by #83404.

@Heliozoa I think the nightly behavior (undefined symbol) is likely due to some linking issues with the neon C library?  If you want to, you can file a new issue for that.

[2021-05-26 18:31] #85370 closed

[2021-05-26 19:01] apiraino commented on #85713
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2385713.20.60.23.5Brepr.28align.29.5D.60.20with.20no.20argument.20to.20.60align.60.20leads.20t.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2021-05-26 19:22] #85453 closed

[2021-05-26 19:33] LeSeulArtichaut commented on #85713
cc @lcnr

[2021-05-26 19:41] alexcrichton commented on #74372
Returning a smaller type makes sense to me, I can work on implementing that. You're thinking of `u16` for `i8x16_bitmask` and `u8` for all other types presumably, right?

For the naming this was indeed one aspect I was worried about. I was worried that there was no `u32x4_add` since it was the same as `i32x4_add` functionally. Personally I would be ok adding `u32x4_add` as a `pub use` alias of `i3

[2021-05-26 19:57] Mark-Simulacrum commented on #85224
*  regression: Option::insert and trait extensions conflict #85694
*  regression: proc-macro derive unparseable #85692
*  regression: BITS constant conflicts in lexical crates #85667

[2021-05-26 20:04] jam1garner commented on #84594
Currently the big issue on the PR is that a majority of the breaking changes (by cases to handle, likely not by how common it is) look involve associated functions and thus something like this:

[code]

The part of typeck we were looking at only handles dot-call syntax and can only handle `try_into` (as it's the only method). When I get back to this I'm going to start looking for where associated

[2021-05-26 20:19] vakaras commented on #85697
Thank you, @the8472, for pointing out the relation with unsafe traits! Now this makes much more sense to me.

That is a fair point. However, if we lost automation each time a `Vec` was used, I think it would be a huge problem in practice.

Nevertheless, if we take @the8472's proposal that aliasing can happen only in well-encapsulated cases and in general safe code it is forbidden, then we are fine

[2021-05-26 20:40] carols10cents commented on #84970
Just wanted to note that I hit `evaluate_obligation` `EvaluatedToOk` today on `1.53.0-beta.3`.

<details>
<summary>Full error output</summary>

[code]

</details>

[2021-05-26 20:49] SimonSapin commented on #85697
Yes, `#[may_dangle]` is unique in that using it requires `unsafe impl` instead of just `impl` to implement a trait that is not `unsafe trait`, because those particular impls have additional responsibilities (not dereferencing potentially-dangling references). https://rust-lang.github.io/rfcs/1327-dropck-param-eyepatch.html has the details.

[2021-05-26 20:56] mathstuf commented on #61328
Note that this is affecting native aarch64 compilation on Alpine:

[code]

[2021-05-26 21:01] jyn514 commented on #85713
Hmm, that should be caught here: https://github.com/rust-lang/rust/pull/81234/files#diff-77c442894af49f492927d99f7e60f4365a4829100c0c52f565f42dc184712c76R1222

Maybe check_attr isn't running on the attribute for some reason?

[2021-05-26 21:32] LeSeulArtichaut commented on #85713
The diff you're pointing to is handling cases like
[code]

[2021-05-26 21:43] nagisa commented on #85641
We have at times contributed changes to the tooling and I would expect the tooling to grow support for what Rust does in this particular instance as well. Rust does provide a mechanism to specify a variety of calling conventions that are not compatible with SysV and the tooling should behave sanely regardless of the ABI used.

[2021-05-26 22:04] jhpratt opened #85731 "Tracking Issue for `trusted_step`"
Feature gate: `#![feature(trusted_step)]`

This is a tracking issue for the the `TrustedStep` trait. This trait indicates that the implementation of `Step` upholds all stated invariants, allowing certain optimizations to be made. `TrustedLen` is automatically implemented for all range types when `TrustedStep` is implemented.

### Public API

[code]

### Steps / History

- [ ] Implementation: #8377

[2021-05-26 22:28] jhunnius commented on #85422
I have the same issue with "stable" rust 1.52.1 (9bc8c42bb 2021-05-09) on Windows 10 with a wasm32-unknown-unknown target.

Can you elaborate on how to quick-fix this by adding zlib1__.dll manually?

Where can I get, and where do I put zlib1__.dll?
I only have zlib1.dll from Mingw64, Mingw32, and many other SW packages.
Is it the same?

[2021-05-26 23:46] mwu-tow commented on #85422
@jhunnius

Yes, at least enough so it works for me. Just rename any zlib binary, the library interface has been stable for a very long time, so it should just work. Or, if you are ok with using binaries received from strangers, take this: [zlib1__.zip](https://github.com/rust-lang/rust/files/6550164/zlib1__.zip).

When you have `zlib1__.dll`, you need to make it visible. Either place it in any loc

[2021-05-26 23:48] davidsvasak commented on #83925
This broke due to the change merged at a78a62f which was intended to fix #28728. In particular, it adds a side effect call to empty loops, which would be triggered here. I'm not familiar enough with the behaviour of the compiler to say for certain, but I think the side effect inhibits the compiler from optimising away the associated loop / callers and as a result the symbols are left in the binary

[2021-05-26 23:56] davidsvasak commented on #83925
It looks like this is the same theory discussed in the Zulip thread.

[2021-05-27 01:56] Imberflur commented on #85019
I am getting an `unstable fingerprints for item_children` ICE on the `2021-05-17` nightly:

`rustc --version --verbose`:
[code]
<details><summary>Backtrace</summary>
<p>

[code]
</p>
</details>

[2021-05-27 02:59] BoxyUwU opened #85735 "odd diagnostic with multiple where clauses that only differ by lifetimes"
Given the following [code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2a2d7d8fd6b612f63ff3738d11b7a2d9):

[code]

The current output is:

[code]

Ideally the output should look like:

/shrug I expected this to compile but at the very least it shouldn't suggest writing code that doesnt even parse lol

[2021-05-27 04:08] #81576 closed

[2021-05-27 04:50] jam1garner commented on #85512
I was under the impression that most (if not all) migrations lints will already result in an error by means of the fact that the code will break. For example with the `TryFrom`/`TryInto`/`FromIterator` migration lint, even if the lint is set as a warning/error on 2021 edition, it would never be hit due to hitting `error[E0034]: multiple applicable items in scope` and compilation stopping before th

[2021-05-27 04:52] xobs opened #85736 "Regression: undefined symbol `__atomic_load_4` on risvc32imac-unknown-none-elf"
### Description

When building for `riscv32imac-unknown-none-elf`, `rustc` is occasionally generating calls to `__atomic_load_4`. This symbol doesn't appear to exist, even though atomics are supported on this platform. Furthermore, I'm not sure if atomics are used anywhere in this codepath -- `log` is the only crate in the dependency tree that I haven't verified.

This works fine if I target `risc

[2021-05-27 06:40] #69222 closed

[2021-05-27 06:43] jhunnius commented on #85422
It works, thanks a lot. It was a bit confusing that I don't have rust-lld in the wasm target folder.
Now I can work on my fullstack project again without worrying about OS specific issues :-)

[2021-05-27 07:17] santoshs commented on #85653
Thanks! I will close this issue then.

[2021-05-27 07:17] #85653 closed

[2021-05-27 08:15] jam1garner commented on #85681
This bug seems like a weird mix of things... the bug in question is present here:

https://github.com/rust-lang/rust/blob/9814e830942dcc65e69a0d077cb2e013b5948795/compiler/rustc_typeck/src/check/fn_ctxt/checks.rs#L911-L925

It looks like `ty.walk().any(|arg| arg == predicate.self_ty().into())` is searching for the predicate `<std::string::String as std::convert::From<&&str>>`, but the way it's sea

[2021-05-27 09:09] 1000teslas commented on #71519
Is this issue being worked on? I'm new to the "guts" of Rust, and this seems like something useful to work on, but I'll need someone who can answer my questions about this stuff.

[2021-05-27 09:15] nikomatsakis commented on #85512
@jam1garner that text was referring specifically to those warnings which will become hard errors in the new edition, eg the items in https://github.com/rust-lang/rust/pull/83213

[2021-05-27 09:20] nikomatsakis commented on #84594
@jam1garner ah, good catch, I didn't consider this case. It should be relatively easy to manage this as well.

[2021-05-27 09:22] nikomatsakis commented on #84429
@Aaron1011 👍

[2021-05-27 09:23] nikomatsakis commented on #44265
Off hand, I don't see any reason to distinguish GATs with const generics from other GATs.

[2021-05-27 09:29] nikomatsakis commented on #85194
I don't understand why we would resolve the question of whether a panic can be caught or not at this time. I'd rather wait and gain experience. The `catch_unwind` function is not const-safe, so at the moment, they cannot, but we can simply document that it may become const safe in the future, and that if anyone anticipates a particular problem with that, we would like to know about it.

[2021-05-27 10:13] ksqsf opened #85742 "Mis-compilation of infinite recursions"
Consider [this code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=fb991afd95d7ece22a6711d70a26e3b3)

[code]

It contains infinite recursion (`collatz(0)`), but the whole loop gets optimized away with Nightly + Release.

Related: #28728 (Perhaps also related to [this commit](https://github.com/rust-lang/rust/commit/0517acd54353869b2fbfc50af61ea7bd1fd309e0)).

Not sure if

[2021-05-27 10:22] moxian commented on #85742
This requires `--release` to elide the function, but is reproducible on both nightly and stable (and as far back as at least 1.15.0) (so technically not a regression)

[2021-05-27 10:23] mkmik commented on #85681
Oh yes, if as a bonus we also get the error message to reference the type of the formal parameter, as present in the signature, this would be nice, although it wouldn't help here.

I'm unfamiliar with the codebase. A naive question though: can't the compiler keep some context as to which parameter (index) it's being processed so that when the diagnostic is fired off it doesn't have to find it agai

[2021-05-27 10:26] davidpdrsn commented on #85659
In case anyone is interested this was the fix https://github.com/hyperium/tonic/pull/669

[2021-05-27 10:49] EFanZh commented on #44265
After GAT being stabilized, can I expect the following codes compile in the future?

Closure that return reference to itself:

[code]

[Streaming generator](https://internals.rust-lang.org/t/streaming-generators/5850):

[code]

[2021-05-27 11:01] nikomatsakis commented on #44265
@EFanZh at some point in the future perhaps, but not immediately. Those would require traits. Also, the terminology I prefer is "lending" -- a lending closure or lending generator (because it lends so its data to its caller, and because "stream" is quite overloaded).

[2021-05-27 11:01] vakaras commented on #85697
Based on @SimonSapin comments it seems that at least now `Vec` is the only way to implement typed arena in stable Rust. Therefore, we cannot discourage using `Vec` as an allocator at least until it is possible to reimplement `Vec` in stable Rust and I guess that it will take time to stabilize all the things that are necessary for that (is `#[may_dangle]` the only one, or are there more?).

I feel

[2021-05-27 11:14] raphaelcohn opened #85744 "Lint `unused_braces` is incorrectly identifying unused braces in a constant expression in a type using const generics"
I tried this code:

[code]

This compiles as expected, but the lint `unused_braces` issues a warning:-

[code]

Removing the braces causes a compilation failure:-

[code]

Personally, I think the lint is on to something - putting braces around `Self::MaximumLength` is messy - but as things stand, it's a bug.

[2021-05-27 11:34] WinLinux1028 commented on #74497
If the Future which returned by f(&32) awaited out of &32's lifetime, I think so too.
But if not, this code is valid.

This code will work:
[code]

[2021-05-27 11:40] SNCPlay42 commented on #85744
I can't reproduce with [this](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=eb74b609a50edf6c028d7b7b3ddb9f1c) code on playground.

[2021-05-27 12:31] raphaelcohn commented on #85744
@SNCPlay42 Original full code example is in version 0.0.23 of linux-support, running against rust 1.51; eg <https://crates.io/crates/linux-support>.

[2021-05-27 12:42] apiraino commented on #85736
@xobs if possible, could you provide a small repro of the regression? That would help in finding where the regression came from

@rustbot ping icebreakers-cleanup-crew

[2021-05-27 13:11] maxwase opened #85748 "Tracking Issue for is_symlink"
Feature gate: `#![feature(is_symlink)]`

### Public API

[code]

### Steps / History

- [x] Implementation: #85747
- [x] Final commenting period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

None

[2021-05-27 13:35] jplatte commented on #44265
Something I've not seen considered before: What about variance for GATs with lifetime parameters? A while ago I was experimenting with a GAT-based solution for self-referential structs similar to [owning_ref](https://docs.rs/owning_ref/0.4.1/owning_ref/), and apart from compiler bugs one thing that was causing issues was that I had no way to specify that a GAT has to be covariant over its lifetime

[2021-05-27 13:48] moelife-coder commented on #84355
Sorry for the late response, but I think you are correct. The query stack is similar to your issue than #77708 .

[2021-05-27 14:15] Alexendoo commented on #82610
Fixed by #85478

[2021-05-27 14:15] #82610 closed

[2021-05-27 14:24] m-ou-se commented on #85434
Posix says it's UB to call that function on a different thread than the one that locked the mutex, so that wouldn't work, unfortunately.

[2021-05-27 14:26] chorman0773 commented on #85434
I assume that was in the case that successfully called `pthread_mutex_trylock`, so it's being unlocked on the thread that locked it.

[2021-05-27 14:31] nikomatsakis commented on #44265
There is no plan to support variance annotations at present.

[2021-05-27 14:38] jplatte commented on #44265
What does that mean for unsafe code though? Does it mean unsafe code can't assume anything about GAT lifetime parameters' variance, or is it valid to assume that GAT lifetime parameters are invariant until a variance annotations (once they exist) is added (which I'm assuming would be a breaking change)?

[2021-05-27 14:41] nikomatsakis commented on #44265
You could make the trait unsafe, I suppose, but yes in general unsafe code would have to assume users might put any kind of type in that position.

[2021-05-27 14:43] m-ou-se commented on #85434
Oh, right. I misread your comment. :)

Then the only question that remains is whether it's okay to *not* call `pthread_mutex_destroy` but still drop/reuse the memory. Without calling destroy, pthread doesn't know that memory is no longer a mutex it is managing. If it has some kind of linked list of mutexes or something, that could result in UB.

[2021-05-27 14:49] chorman0773 commented on #85434
It probably has to be properly leaked. I would assume that the raw mutex needs to be properly treated as `Pin`ned.

[2021-05-27 14:52] nbdd0121 commented on #85434
We can leak the box or drop the box depending on whether it's UB or not.

[2021-05-27 14:54] nbdd0121 commented on #85434
We have to leak the box.

[2021-05-27 15:07] huangjj27 opened #85750 "Unexpected code elimination of using `..` instead of `..=`"
I tried this code ([playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=950b2783e2eeb27d37840d5669f0f730)):

[code]

I expected to see this happen: the asm output should have things in `playground::main` like when using `..=`:

[code]

[code]

Instead, this happened: the asm output of the original code is  **just a `retq`**

[code]

### Meta

`rustc --version --v

[2021-05-27 15:15] jonas-schievink commented on #85750
duplicate of https://github.com/rust-lang/rust/issues/85742

[2021-05-27 15:15] #85750 closed

[2021-05-27 15:18] xobs commented on #85736
So this appears to be triggered by the `"-C", "linker-plugin-lto=yes",` flag. Has that been made obsolete?

I created a repro at https://github.com/xobs/rust-1.52.1-link-error but I couldn't get the repro any smaller. When I tried, the problem went away. This is demonstrated by using the `bare-gdbstub` crate instead of `gdbstub`.

My guess is that the function is getting large enough that it is...

[2021-05-27 15:19] apiraino commented on #84297
Issue was mentioned during T-compiler meeting and discussion will happen in a dedicated [Zulip topic](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/reifying.20function.20ptrs.20for.20intrinsics.20.2384297)

[2021-05-27 15:23] oxalica commented on #85742
In addition:
1. According to #85750, using `0..=(TIMES - 1)` instead of `0..TIMES`  produces the correct result (infinite loop).
2. Decrease `TIMES` to less than 100, both `..` and `..=` get mis-compiled to an immediate return.
   Maybe related to loop-unroll or inline?

[2021-05-27 15:26] jfgoog opened #85751 "Problem linking libunwind when compiling clippy"
We are building the Rust compiler from nightly, from which we define a Bazel toolchain.

In addition to rustc, the toolchain includes other tools, such as clippy and rustfmt, which we build as well.

We require the binaries to be statically linked, so they are self-contained and do not depend on shared libraries.

In particular, we need to statically link the version of libunwind that gets built w

[2021-05-27 15:41] michaelwoerister commented on #85688
@jyn514 See also https://rustc-dev-guide.rust-lang.org/queries/incremental-compilation-in-detail.html#query-modifiers

Right now it is also used as a way to speed up the `erase_regions_ty` query but I think it's debatable whether that's a good idea.

[2021-05-27 16:00] dtolnay commented on #44265
This shows one way to encode explicit variance of a GAT: https://internals.rust-lang.org/t/variance-of-lifetime-arguments-in-gats/14769/19?u=dtolnay.

[2021-05-27 16:10] dgrunwald commented on #29494
`CommandExt::raw_arg` should exist to allow providing arbitrary command-lines to child processes without having to call `CreateProcess` manually.

But it should be noted that Python solves this differently!
Python has two possible ways of starting subprocesses:
[code]
On Unix, this just passes the argument-array as-is. On Windows, this constructs a single command-line string with the "inverse of C

[2021-05-27 16:17] Aleksander-F opened #85752 "get() sometimes returns empty slice instead of None"
I tried this code:

[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ae168cd69f37160936771fdd6d5eec9b

I expected to see this happen: since all ranges are out of bounds, expected to see a == b == c == None.

Instead, this happened: a == c == Some([]), b == None

Debugger points to this check:
[code]

Shouldn't it be like this instead:
[code]

`rustc --version --verbos

[2021-05-27 16:28] est31 opened #85753 "Lints for target_* cfg"
Inspired by seeing #85738 fixing a typo by replacing `target_os = "opensbd"` with `target_os = "openbsd"`.

I wonder whether cases like this could be discovered by lints. There are multiple [`target_*` values that rustc sets](https://doc.rust-lang.org/reference/conditional-compilation.html#set-configuration-options), and it would be interesting to think about validating them.

Rust has support for

[2021-05-27 16:57] joshlf opened #85756 "rustdoc emits confusing error for link to enum struct field"
Given the following code with a broken intra-doc link (note the `bas` instead of `baz`):

[code]

I would expect `cargo doc` to emit an error along the lines of:

[code]

Instead, `cargo doc` emits this error:

[code]

When I first encountered this in real code, I thought that the confusing error message was a symptom of the fact that doc comments on enum variant struct fields were not supported,

[2021-05-27 17:24] alecmocatta commented on #80776
Confirmed I'm no longer seeing this bug. Thanks both, closing!

[2021-05-27 17:24] #80776 closed

[2021-05-27 18:01] wwylele commented on #85752
I personally think the behavior is expected. An index of `len()` is out of bound, but a range starting at `len()` is probably not. This is inline with some index math:
 For a Vec of len 3, `get(1..)`, `get (2..)` and `get(3..)` would return `Some(&[slice of 2 element])`, `Some(&[slice of 1 element])`, `Some(&[slice of 0 element])`, which lines up perfectly. Only for the next one, `get(4..)` would

[2021-05-27 18:09] Boiethios opened #85759 "Put the worspace crates first in the side panel"
**Describe the problem you are trying to solve**

I try to document a project with a few crates in a workspace. The issue is that there is a ton of dependencies (that I'd like to browse when needed), and my crates are drowned in the middle of those dependencies in the side panel.

It's impossible to see in a glance which crates are in the project, and thus to browse the project correctly.

**Descr

[2021-05-27 18:10] m-ou-se commented on #85434
A more extreme option is to get rid of pthread mutexes entirely. (So, implement our mutex/rwlock/condvars directly using atomics and platform-specific syscalls, like we already do for `thread::park()` on most platforms.) That's still somewhere on my to do list. ^^'

[2021-05-27 18:10] ehuss commented on #85759
Transferred to rust-lang/rust, as that is where rustdoc lives.

Also, this is somewhat similar to #16328 and #81031.

[2021-05-27 18:12] RalfJung commented on #85434
You mean like https://github.com/rust-lang/rust/pull/56410 (not sure if there's an issue for that)?

[2021-05-27 18:18] m-ou-se commented on #85434
Yeah, either parking_lot, or something other thread parker based, or maybe something not thread parker based but directly using a futex (or whatever the platform supports) might be a better fit for std. It's a bit tricky to make those trade offs for *all* std users at once, but not having to deal with all this pthread stuff (and not having to Box them, etc.) would be very nice.

[2021-05-27 18:37] nikic commented on #85742
Upstream issue: https://bugs.llvm.org/show_bug.cgi?id=50511

[2021-05-27 18:55] thejpster opened #85761 "rust-lld crashes on rust:1.52-alpine container (but not rust:1.52)"
### Code

I have a no-std project for a Cortex-M7, which is not open source. The project compiles fine on Ubuntu and on the rust:1.52 container, but I get a crash in rust-lld on the rust:1.52-alpine container. The container used to work fine, but clearly I added something to my code today that has upset it.

### Meta

It's the official rust:1.52-alpine container.

### Error output

[code]

(I've s

[2021-05-27 19:01] petrhosek commented on #85751
Can you try using the following flags: `-Clink-arg=-static-libgcc -Clink-arg=-unwindlib=libunwind`? That will tell Clang to link libunwind statically, that is Clang will pass `-l:libunwind.a` to the linker.

[2021-05-27 19:15] petrochenkov commented on #85751
cc @12101111

[2021-05-27 19:17] Aleksander-F commented on #85752
But then there is inconsistency between ```get(3..3)``` and ```get(4..4)``` in example with ```Vec``` of len 3: both point to a non-existing element, both can return empty slice, but while the former does return empty slice the latter returns ```None``` instead.

[2021-05-27 19:23] SNCPlay42 commented on #85736
Repro: build as a binary crate with `-C linker-plugin-lto=yes` ([godbolt](https://rust.godbolt.org/z/K7369YKbG))

[code]

----

searched nightlies: from nightly-2021-02-05 to nightly-2021-05-04
regressed nightly: nightly-2021-03-18
searched commits: from https://github.com/rust-lang/rust/commit/f5d8117c338a788bd24abec733fd143dfceb25a0 to https://github.com/rust-lang/rust/commit/36f1f04f18b89ba4a99

[2021-05-27 19:40] Boiethios commented on #85759
Sorry for that: since I type `cargo doc` to generate the doc, I thought it was a cargo issue.

[2021-05-27 20:16] asquared31415 commented on #85527
This may be system dependent, see my comment on the PR opened to try and reproduce and fix this. [comment](https://github.com/rust-lang/rust/pull/85739#issuecomment-849912069)

[2021-05-27 21:09] jyn514 commented on #85756
I *think* the fix for this is as simple as changing https://github.com/rust-lang/rust/blob/d854c3c0e9d256b923fbfc8b5193433a6edcd08f/src/librustdoc/passes/collect_intra_doc_links.rs#L355 to also include `variant_str`.

[2021-05-27 21:37] Nemo157 opened #85763 "rustdoc doesn't include all text that cross attribute type boundaries in the summary"
I tried this code:

[code]

I expected to see this happen: The entire first paragraph is used as the summary for the function in the module docs: "Some text that should be concatenated"

Instead, this happened: Only the unsugared doc attributes are used: "Some text that should"

![image](https://user-images.githubusercontent.com/81079/119900107-56ceb200-bf44-11eb-81fb-534a700d1163.png)

![image](h

[2021-05-27 21:42] jonasbb commented on #85563
https://github.com/rust-lang/rust/blob/9f83e2290a978ef448567e55548a192f8b8f1f69/library/test/src/formatters/junit.rs#L77-L83
It would be nice if the output supports sub-second precision for the duration. This is what [cargo2junit](https://github.com/johnterickson/cargo2junit/blob/220abc4c8032beb8ddfb36a58b1a14148ddc7a1b/src/expected_outputs/self_exec_time.out#L5-L9) does. That way you don't lose t

[2021-05-27 22:10] TornaxO7 opened #85765 "Rust gives wrong help. (&mut mut Vec<T>)"
So this is the minimal code:

<details>

[code]

</details>

If I'm running `cargo check` on this, than I'm getting the following:

<details>

[code]

</details>

So the interesting part is this one:
[code]

If I try this:

<details>

[code]

</details>

Than I'm getting this when running `cargo check`:

<details>

[code]

</details>

Well I expected that `rust` would say, that the given type of `

[2021-05-27 22:34] workingjubilee commented on #65439
Considering the appearance of what looks like a strong consensus, PR #85766 renames the function to File::options and proposes its stabilization.

[2021-05-27 22:38] glaubitz commented on #85238
This is the same bug as  #81334. Still present in 1.52.

[2021-05-27 22:40] glaubitz commented on #84142
Most likely the same as  #81334 (due to the SIGILL).

Also, you might want to update to a more modern Linux distribution for 32-bit PowerPC: https://cdimage.debian.org/cdimage/ports/snapshots/2021-04-17/

[2021-05-27 22:55] nwsharp commented on #81513
Is there a reason why `Pointee:Metadata` is not [`UnwindSafe`](https://doc.rust-lang.org/std/panic/trait.UnwindSafe.html)?

[2021-05-27 23:00] glaubitz commented on #81334
I'm bisecting this now. I think it might actually be a bug in the Rust compiler and not LLVM.

[2021-05-28 00:07] chengniansun opened #85768 "ICE: 'tls access is checked in `Rvalue::ThreadLocalRef', compiler/rustc_mir/src/transform/check_consts/validation.rs:359:9"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-05-28 02:41] Chronos-Sk commented on #85713
Is enabling the backtrace a sufficient substitute for `rustc --version --verbose`? That's the part I was having trouble with.

[2021-05-28 03:03] TheBlueMatt opened #85771 "if(Result::is_ok()) followed immediately by a Result::unwrap() fails to optimize out the err check"
In the following trivial example, LLVM fails to optimize the `unwrap()` away. While its somewhat contrived in the sense that a `match` or `if let` should be preferred, more complicated logic ends up with similar blocks eventually.

[code]

Godbolt link for the same is https://godbolt.org/z/xrT1GfG7e you can see the `test` and `jne` for panic'ing.

[2021-05-28 04:05] jhpratt commented on #85771
@rustbot label: -C-bug +A-codegen +I-slow +T-compiler

[2021-05-28 05:45] brson opened #85773 "Regression in binary_search_by"
I don't see an issue for this.

The behavior of binary_search_by changed in https://github.com/rust-lang/rust/pull/74024 such that the result of the function after the patch is not the same as before.

While not directly responsible for the downtime, Polkadot ran into this problem while trying to recover from a network failure this week: https://polkadot.network/a-polkadot-postmortem-24-05-2021/

[2021-05-28 06:07] slurps-mad-rips commented on #85773
How is this a regression? The documentation for `binary_search_by` *clearly* states

[2021-05-28 06:08] #84598 closed

[2021-05-28 06:23] BLucky-gh opened #85774 "Compiler emits warning: value assigned is never read even though it is read"
I tried this code:

[code]

As you see the value of `first` is read in the if statement and then immediately inverted so that there's different behavior on the first iteration of the loop.

the compiler emits ``warning: value assigned to `first` is never read`` on the line where `first` is inverted, even though it is read.

### Meta

The same behavior happens when building with `+nightly`

`rustc

[2021-05-28 06:43] 12101111 commented on #85751
The linking command line is assembled in [linker_with_args](https://github.com/rust-lang/rust/blob/df3d86b535182cd52927405a4316ad688d2240f8/compiler/rustc_codegen_ssa/src/back/link.rs#L1600)

This is the end part of linking command, and the are added to command line by [link_local_crate_native_libs_and_dependent_crate_libs](https://github.com/rust-lang/rust/blob/df3d86b535182cd52927405a4316ad688d2

[2021-05-28 07:12] edlanglois commented on #85451
It turns out that using a tuple instead of a wrapper has the same issue. This fails to compile:

[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3c5f8bc75f3920ab714ad21cc34650b1))

[2021-05-28 07:59] SkiFire13 commented on #85752
[code]

I don't see the inconsistency here

[2021-05-28 08:08] workingjubilee commented on #85773
It being valid for a binary search to return any element is a sufficiently well-known property of the underlying algorithm that [even Wikipedia mentions it](https://en.wikipedia.org/wiki/Binary_search_algorithm#Duplicate_elements).

And from there we can find that C's [bsearch](https://pubs.opengroup.org/onlinepubs/9699919799/functions/bsearch.html) does not specify which element should be returne

[2021-05-28 08:40] Boiethios commented on #81031
I need that feature, so I'm willing to help (depending on the time needed: how long would it take?).

At least, I think that the workspace crates should be separated from the dependencies to emphasize the content of the project.

[2021-05-28 09:20] osa1 opened #85776 "Semantics of char comparison operations is not clear"
This is possibly me being silly.. I'm currently working on something where I have to convert `char`s to `u32`s for storage, and then convert back. My code is only correct if `∀ (c1 : char) (c2 : char) . c1.cmp(c2) == (c1 as u32).cmp(c2 as u32)`. In other words conversion from `char` to `u32` must preserve the ordering relation of values. (there is probably a name given to this notion of relation-p

[2021-05-28 09:50] LoveIsGrief opened #85778 "lint: variables with "__" are triggering non-snake-case"
https://github.com/rust-lang/rust/blob/8d1e3d3b74fa80ce14af6ec143f061897684582b/compiler/rustc_lint/src/nonstandard_style.rs#L267

In this logic, two adjacent underscores trigger the `non-snake-case` warning. Currently, I use them to discern the types of my variables. CamelCase classes are turned into snake-case e.g `camel_case` and combined with the name `stack_sidebar__step1` or `step1__stack_si

[2021-05-28 10:04] jyn514 commented on #81031
I don't know; most of rustdoc is frankly not very good code, it's very interconnected and small changes in one area can have unexpected side effects. I'd suggest writing your change then seeing if the tests fail.

I no longer have time to mentor this, but @GuillaumeGomez or @jsha may.

[2021-05-28 10:06] GuillaumeGomez commented on #81031
Sorry, missed this issue. There is a work in progress already in https://github.com/rust-lang/rust/pull/84834. Once this one is merged, you can try changing what you have in mind?

[2021-05-28 10:08] jyn514 commented on #81031
@GuillaumeGomez I'm not sure how that PR is related? It affects where the sidebar is displayed but not the contents.

[2021-05-28 10:24] apiraino commented on #85742
thanks @nikic and @oxalica for the analysis.

Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2385742.20Mis-compilation.20of.20infinite.20recursions) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2021-05-28 10:38] eddyb commented on #85773
We make behavioral changes all the time, I don't understand why *anyone* is bringing "determinism" into all of this.

If you want *the exact same behavior*, you have to use *the exact same* standard library version.
We *never* guaranteed "cross-version reproducibility", except wherever documented as such (or in situations where only one behavior can be observed).

I don't want to unilaterally clos

[2021-05-28 11:01] Chadehoc opened #85779 "Compiling i868-pc-windows-gnu from x86_64-pc-windows-gnu toolchain, missing rust-mingw?"
I was using the msvc toolchains on Windows, and I'm now testing the gnu toolchain (expecting better vscode debugging).

I installed the `stable-x86_64-pc-windows-gnu` toolchain, and both `x86_64-pc-windows-gnu` and `i868-pc-windows-gnu` targets (I need both).

Building for x86-64 works, but building for i868 fails with `linker 'i686-w64-mingw32-gcc' not found`.

I tried to `rustup component add ru

[2021-05-28 11:03] larkbyte commented on #84849
@alexcrichton We got this error on macOS too after upgrading rustc
[code]

[2021-05-28 11:04] larkbyte commented on #84849
@rustbot label: +C-bug +A-codegen +T-compiler

[2021-05-28 11:31] rust-highfive opened #85780 "`miri` no longer builds after rust-lang/rust#85546"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#85546, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @hyd-dev, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-05-28 11:43] jonas-schievink commented on #85773
This specific behavior has been documented since 2018. Closing since this is not a bug. If you would like to discuss whether or not to make a multi-billion dollar financial system rely on implementation details without writing a test, please do that somewhere else.

[2021-05-28 11:43] #85773 closed

[2021-05-28 12:12] #50944 closed

[2021-05-28 12:13] #65975 closed

[2021-05-28 12:14] stefson commented on #85364
fixed in upstream: https://bugzilla.mozilla.org/show_bug.cgi?id=1712947

[2021-05-28 12:31] michaelwoerister opened #85783 "Consider enabling unstable fingerprint check for cache-loaded query results too"
Correctness of incremental compilation relies on the assumption that a query always yields the same result for the same set of inputs, i.e. that queries are deterministic functions. We recently discovered that checking fingerprint stability of query results can detect violations of this assumption and that breaking this assumption can lead to miscompilations (see https://github.com/rust-lang/rust/

[2021-05-28 13:33] Boiethios commented on #81031
Eheh, I have a bad feeling about this :sweat_smile:

You can ping me when I can implement this change.

[2021-05-28 13:36] GuillaumeGomez commented on #81031
Subscribe to the PR then, I'm about to send an update there. :)

[2021-05-28 13:39] elichai commented on #85714
Hi, I'm not part of the compiler team but IMHO this does deserve a warning, because DST do have unspecified layout,
If you want to give it a go the code for this is in `rustc_lint::types::check_type_for_ffi`, otherwise I don't mind fixing this myself.

If you do work on this and have questions free to ping me on Zulip/Discord(elichai2)/IRC(libera #rust channel, elichai2).

[2021-05-28 13:40] marmeladema commented on #85714
I'll try to come up with something but I'll probably ping you for help 🙂 Thanks!

[2021-05-28 14:01] BLucky-gh commented on #85774
So the warning is not about the value of `first` in general but only the value of `first` during the last iteration of the loop? If yes then I think the warning is a bit vague because "never" implies not even once.

[2021-05-28 14:53] jfgoog commented on #85751
Thanks! I'm working on following your suggestion. I thought I could do this by modifying rustflags in src/tools/clippy/.cargo/config:

[code]

But that cargo config doesn't seem to be picked up when we build clippy, because the link command, and the associated error, seems to be the same as what I posted above.

The overall build command we are using in the docker image is: `python3 x.py build lib

[2021-05-28 14:57] EFanZh commented on #45994
I came up with one solution:

[code]

But I am not sure whether it can be simplified.

[2021-05-28 15:05] ralfbiedert opened #85785 "One-off ICE - Failed to get crate data for crate23"
### Code

Unfortunately I don't have an example, it ICE'ed only once when attempting `cargo fix` on a larger internal project. Running the command again just gave regular compile errors.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2021-05-28 15:18] jfgoog commented on #85751
Working on following 12101111's instructions. This will be a little complicated because, if I understand correctly, I need to patch and rebuild the beta rustc, because that's what's used to build the nightly. So I need to compile the compiler to compile my compiler. :)

[2021-05-28 15:32] 12101111 commented on #85751
You don't need build beta compiler, stage1 will contain this change and that's enough

https://rustc-dev-guide.rust-lang.org/building/bootstrapping.html