[2019-11-06 22:55] JesterOrNot commented on #65440
I would like to help with this

[2019-11-06 23:07] nikomatsakis opened #66173 "create a lint for tracking "tainted" fallback around abrupt expressions and `!` type"
As part of https://github.com/rust-lang/rust/issues/65992, we want to create a lint that warns about cases where changing the fallback for type variables from `()` to `!` will create problems. This issue is tracking that implementation work.

Edit 2020-10-05: stream for work on this, https://rust-lang.zulipchat.com/#narrow/stream/259160-t-lang.2Fproject-never-type

## Current status and next steps

[2019-11-06 23:11] nikomatsakis commented on #66173
We are discussing this [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/.60!.60.20fallback.20lint).

[2019-11-06 23:13] Tiwalun commented on #65487
I've had a similar problem with some embedded code, for the `thumbv6m-none-eabi` target.
I've created a small sample: https://github.com/Tiwalun/rust-debuginfo-test , and uploaded the MIR, LLVM IR, the generated assembly, and the debug information: https://gist.github.com/Tiwalun/840a6792f23e8ab34cbeff2f3a7b04fa .

In my case, the 0 line numbers only appear in the final debug info, the LLVM IR and

[2019-11-06 23:21] NickeZ commented on #51540
I'm also a bit stuck due to this not being stabilized. I'm surprised there aren't more `no_std` people bringing this up. Maybe everyone uses nightly for other reasons anyway.

[2019-11-06 23:39] matthiaskrgr commented on #65996
If this is a pebkac, could there be a warning that one specified flags basically "unused"?

[2019-11-06 23:42] Aaron1011 commented on #63713
Note that `FxHashMap` uses different hash algorithims on 32-bit vs 64-bit platforms, which can cause different iteration orders across platforms. I've hit this multiple times before, so if nothing else, it would be useful to have `StableMap` to help prevent this kind of issue.

[2019-11-06 23:44] Aaron1011 commented on #63713
See https://github.com/rust-lang/rust/pull/47833#issuecomment-366833776 and https://github.com/rust-lang/rust/pull/65043 for examples of issues caused by relying on the platform-dependent iteration order.

[2019-11-07 00:30] nnethercote commented on #65487
@Tiwalun: that's very helpful, thank you. Can you show the commands you used to generate those outputs?

[2019-11-07 00:40] est31 commented on #65487
@Tiwalun can you expand on where those 0 line numbers are to be found? I can't find them anywhere in your gist.

[2019-11-07 00:50] nathan-at-least commented on #66164
In the linked original issue, https://github.com/tokio-rs/tokio/issues/1738, there are screen shots that show the highlighted result I followed, which is to `tokio::prelude::_::next`.

To me it doesn't sound like #66046 is a duplicate, because when I view the source link of the referent page, there's literally no "next" anywhere in the source, so this doesn't seem like a case of a hidden / folded

[2019-11-07 00:51] nathan-at-least commented on #66164
Hey, I just realized there are multiple extension traits imported `as _`, starting with this line: https://docs.rs/tokio/0.2.0-alpha.6/src/tokio/prelude.rs.html#14

Could it be that this confuses the search indexing?

[2019-11-07 01:15] estebank commented on #66168
Note that [you _can_ write code that will compile](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9ed5578bd4ee055790100ab0c6e3882b) for this, it is just not obvious:

[code]

[2019-11-07 01:19] Mark-Simulacrum commented on #65897
The majority of these are known -- in particular, nalgebra, rusttype and url still have a lot of reverse-dependencies that haven't updated on github (and that have lockfiles). I think those aren't too interesting, we can exclude them for the most part -- that set needs to just `cargo update` to resolve the problem to our knowledge.

There are at least 53 (around 60 total, I believe) crates.io crat

[2019-11-07 01:47] Mark-Simulacrum commented on #65860
So we've concluded a [crater](https://crater.rust-lang.org/ex/pr-66063) run ([results](https://crater-reports.s3.amazonaws.com/pr-66063/index.html)) that was (hopefully) successful in testing stable/stable so as to not report false negatives due to crates detecting a nightly compiler and enabling their features.

The results are quite positive -- only a few crates regressed. That leads us to belie

[2019-11-07 02:09] Centril commented on #59442
Fwiw, while I prefer `cfg_match!` I think `cfg_if!` is a decent solution as well.
cc @SimonSapin & @alexcrichton -- does this require an RFC or is a PR enough?

[2019-11-07 02:15] Aaron1011 opened #66176 "Lifetime error when using `Self` instead of `<StructName>`"
The following code compiles:

[code]

However, changing `MyStruct { val: &new_val }` to `Self { val: &new_val }`:

[code]

gives the following error:

[code]

Minimized from https://github.com/rust-lang/rust/issues/65897#issuecomment-550575678 (specifically, [bcder v0.1.0](https://crater-reports.s3.amazonaws.com/pr-65897-1/try%235e633973aa9255a88b65a39484627bb54e6044b3/gh/mfontanini.rpki-validator

[2019-11-07 02:50] nnethercote commented on #65487
@est31: in `debuginfo_test.dwarfdump` there is:
[code]
Three of the entries have a 0 value for `line`.

[2019-11-07 02:53] nnethercote commented on #65487
It's interesting that 0xe4 has three entries, with different line/column combinations.

[2019-11-07 02:57] nnethercote commented on #65487
It's interesting that 0xe4 has three entries, with different line/column combinations:

    line=0, column=4
    line=8, column=0
    line=11, column=4 (corresponds to the loop).

The instruction at 0xe4 is a branch, so it seems to correspond to the loop. Line 8 has the #[entry] annotation on main.

[2019-11-07 03:11] nnethercote commented on #65487
The `line=8, column=0` location corresponds to this LLVM IR line, describing the scope of `main`:
[code]
The `line=11, column=4` location corresponds to this LLVM IR line, describing `loop`:
[code]
The `line=0, column=4` entry doesn't correpond to anything in the LLVM IR that I can see.

[2019-11-07 03:40] tpmccallum opened #66177 "Using wasm32-wasi target to create WASM for stand-alone WASM Virtual Machine"
I am compiling the following code for use in WASM implementation.

[code]
When I compile with wasm32-wasi target and try to execute in [a stand-alone WASM VM](https://github.com/WAVM/WAVM) called (WAVM) I get [an error](https://github.com/WAVM/WAVM/issues/219).

[code]

My code does compile in Rust (using the wasm32-wasi target) without any issues and I do get the `(import "wasi_unstable" "fd_writ

[2019-11-07 03:54] #60935 closed

[2019-11-07 04:20] est31 commented on #65487
So there are three entries for the same instruction: `[0, 4]`, `[8,0]` and `[11,4]`. @nnethercote identified the origin of the `[8,0]` and `[11,4]` entries. I modified @Tiwalun 's code to find out where the `[0,4]` came from. First I added some spaces.

[code]

I got this result from `dwarfdump -a` (showing the relevant excerpt):

[code]
So now it became `[0, 5]`, `[8,0]` and `[11,5]`. If I add ev

[2019-11-07 04:46] est31 commented on #65487
So there are three entries for the same instruction: `[0, 4]`, `[8,0]` and `[11,4]`. @nnethercote identified the origin of the `[8,0]` and `[11,4]` entries. I modified @Tiwalun 's code to find out where the `[0,4]` came from. So I added some spaces.

[code]

I got this result from `dwarfdump -a` (showing the relevant excerpt):

[code]
So now it became `[0, 10]`, `[8,0]` and `[11,20]`. There is onl

[2019-11-07 04:57] Aaron1011 commented on #65863
This looks like an issue in [should_ignore_fn](https://github.com/rust-lang/rust/blob/caf018714189db0b15f9f803adfcb4572ab7a988/src/librustc_interface/util.rs#L742), which is used by Rustdoc to determine which functions should have their bodies replaced by loops.

This check is done on the AST. I think what's happening is that we detect `BackendImpl` (since it appears as a generic argument to `Modu

[2019-11-07 05:00] Aaron1011 commented on #65863
Actually, we might be able to check for the presence any `impl Trait` definitions within a parent scope of the function. This would have a large number of false positives (any `impl Trait`s at the crate root would cause every function to be flagged as 'may define an opaque type'), but it would be better than nothing.

[2019-11-07 07:09] #29628 closed

[2019-11-07 07:09] #65993 closed

[2019-11-07 07:10] rust-highfive opened #66179 "`miri` no longer builds after rust-lang/rust#66175"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#66175, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @JohnTitor, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @JohnTitor, the PR reviewer, and nominating for compiler

[2019-11-07 08:16] Manishearth commented on #61132
Starting to think about the design. Would this be implemented as a normal derive proc macro (using a syn dependency) or something more like the builtin libsyntax derives? I'm not sure if rustc having a syn dependency is a good idea.

If it's going to be a libsyntax thing, what x.py commands would y'all recommend for testing it for minimal cycle time? Ideally only libsyntax needs to be built to pla

[2019-11-07 08:29] Centril commented on #66176
Seems like the error is correctly emitted in this case.

When we write `Self`, we really mean `MyStruct<'a>` with that lifetime argument applied to the parameter. In particular, we expect `&'a bool`. We have `&new_val` which is of type `&'0 new_val` but we cannot prove that `'0 <: 'a` and so therefore `Self { val: &new_val }` is ill-typed.

The same error message can be seen if we use `MyStruct::<

[2019-11-07 08:32] bjorn3 commented on #61132
I think it should be in `rustc_macros` like other rustc internal derives.

[2019-11-07 08:42] JelteF commented on #43165
I would really like this too.

[2019-11-07 08:44] RalfJung commented on #66179
Miri fix: https://github.com/rust-lang/miri/pull/1040

[2019-11-07 08:45] RalfJung commented on #60301
Miri is "test-fail" now, so with the next nightly we should be able to see if indeed it gets removed from rustup as it should.

[2019-11-07 08:46] RalfJung commented on #59442
Agreed, `match` seems more Rust-y than an if-else chain.

[2019-11-07 08:48] RalfJung commented on #65860
@Mark-Simulacrum thanks! Looks like this pattern is less widely used than I expected then, plus as you mentioned new syntax is fairly rare.

The release notes could also point to `cfg_if`.

[2019-11-07 09:22] GuillaumeGomez opened #66181 "Add more UI tests for rustdoc"
It is linked to https://github.com/rust-lang/rust/issues/60033.

This is the tests we need to add (the list is non-exhaustive):
 * [x] a UI test for **each** setting
 * [x] click on element in the sidebar hidden by default to be sure it gets fully un-collapsed and scrolled to
 * [x] make tests for each shortcut
 * [x] make tests for source code navigation (through files in the first time should be

[2019-11-07 10:32] Centril commented on #65041
Finally got around to this. I have a fix in https://github.com/rust-lang/rust/pull/66183.

[2019-11-07 10:41] Centril commented on #64389
I haven't seen this reproduced for a long time so I'll close it for now.

[2019-11-07 10:50] mati865 commented on #64389
There was similar error recently but with `bitflags` when building rustdoc: https://github.com/rust-lang/rust/pull/66108

[2019-11-07 11:30] #65846 closed

[2019-11-07 12:14] sfackler commented on #66177
The `wasm32-unknown-unknown` target is a better choice if you want to use WASM without a standardized runtime.

[2019-11-07 12:16] matrem94 opened #66187 "ICE: believer crate, DepNode should have been pre-allocated but wasn't"
The compiler panics when compiling with the debug profile. Everything is fine when compiling with the release profile.

The whole project is there :

https://github.com/matrem94/believer

And the problem seems to be related to the simulation.rs file.

[code]

[2019-11-07 12:35] tpmccallum commented on #66177
Thank you @sfackler
It turns out that I was using --abi=bare when executing WAVM command. It turns out that `--abi=bare` is meant to let you execute a module without giving it access to WASI or any other host functionality.
I used `--abi=wasi` thanks to some advice and it all worked out.
I can now do the following
Write this Rust
[code]
Build it with a target `wasm32-wasi`
Then run this
[code]
Whi

[2019-11-07 12:36] #66177 closed

[2019-11-07 12:46] jonas-schievink commented on #66187
Can't reproduce locally, probably an issue with incremental and a duplicate of https://github.com/rust-lang/rust/issues/62649

[2019-11-07 14:01] pnkfelix commented on #66187
@matrem94 can you confirm on your end if the problem goes away if you first do a `cargo clean`? that would confirm whether the issue is indeed something with incremental compilation, as hypothesized.

(And if so, we should indeed close this as a duplicate of #62649 since there is not enough information here for us to recreate the incremental compilation bug ourselves.)

[2019-11-07 14:03] pnkfelix commented on #66187
triage: P-high, removing nomination label

[2019-11-07 14:04] pnkfelix commented on #66179
triage: P-medium. Removing nomination label.

[2019-11-07 14:08] pnkfelix commented on #66167
@ecstatic-morse is there a timeline for when the old const-checker will be removed?

We're going to keep getting bug reports like this until that happens, so it would be good to have an idea of how long its going to be in terms of deciding whether it is worth while to try to work-around this in some way.

(I don't know enough about how the two validators are comparing their results to know how har

[2019-11-07 14:10] pnkfelix commented on #66167
triage: leaving nominated for discussion at T-compiler meeting

[2019-11-07 14:13] pnkfelix commented on #66153
This is suspected to be a user error, but maybe we should be giving better diagnostics nonetheless for such a situation.

triage: P-medium. Assigning to self.

[2019-11-07 14:21] pnkfelix commented on #66152
I suspect this is a duplicate of #64173. But the test case is *slightly* different so I'll leave it open for now

[2019-11-07 14:22] pnkfelix commented on #66152
triage: P-medium (via analogy with priority on #64173), removing nomination label.

[2019-11-07 14:24] pnkfelix commented on #66150
triage: P-medium. Removing nomination label.

[2019-11-07 14:27] pnkfelix commented on #65929
we [discussed](https://zulip-archive.rust-lang.org/131828tcompiler/07347weeklymeeting2019103154818.html#179537701) this in last week's meeting. I'm good with @eddyb's point that we should work on cleaning up the API itself before we invest effort in documenting it as it stands.

triage: P-medium. Removing nomination label.

[2019-11-07 14:28] pnkfelix commented on #65929
I am going to assign @eddyb for now, with the intent that they either do the API change they envisage, or find someone else to do it.

[2019-11-07 14:31] Aaron1011 commented on #66176
That seems extremely counterintuive to me - I would expect `Self` to just refer to the type name.

At a minimum, I think we should add something to the error message to indicate that this is going on (I assume changing the expansion of `Self` would be a breaking change)

[2019-11-07 14:31] pnkfelix commented on #65515
triage: P-medium. Removing nomination and assigning to @estebank

[2019-11-07 14:35] eddyb commented on #66176
I wrote a longer message but then I noticed this:
The example provided does *not* compile on stable, and the linked crater failure involves `Self::new(...)` calls, *not* `Self {...}` struct creation syntax.

It never did, in any position. It's always a fully applied type and `Self<...>` never works.
It would be quite less useful in several situations if it were just the name.
For example, the comm

[2019-11-07 14:36] pnkfelix commented on #66176
triage: closing as not a bug.

[2019-11-07 14:36] #66176 closed

[2019-11-07 14:39] Centril commented on #66176
Might be difficult, but worth if not too intrusive? If so, a new issue should probably be opened for that aspect.

[2019-11-07 14:41] pnkfelix commented on #66140
triage: P-medium.

[2019-11-07 14:49] matrem94 commented on #66187
I confirm that running `cargo clean` fixes the bug.

Thank you guys!

[2019-11-07 15:02] pnkfelix commented on #65462
(to be fair, it was assigned to me, and I just kept letting it slip on my own priority list as well...)

[2019-11-07 15:02] aidylewis opened #66191 "error: toolchain 'beta-x86_64-unknown-linux-gnu' is not installed"
[code]
[code]
[code]
My DuckDuckGo searches lead me to believe that this has been fixed.

[2019-11-07 15:09] Ixrec commented on #65860
My impression is that in Rust this niche is already covered by the various nanocrates that offer macros for faking not-yet-stable features, like `async-trait`, because the nature of proc macros and an AOT-compiled language means those are already guaranteed to do all their work at "build time" just like Babel is for JS. Perhaps someone could write a canonical list of links to all such crates, but

[2019-11-07 15:16] eddyb commented on #65536
cc @michaelwoerister That's a 28.2% increase, much larger than what we saw for `libcore`.

@Mark-Simulacrum Would be interesting to have artifact sizes (for benchmarks themselves) on perf although the damage has been done here.

@jdm Okay that's bad but it doesn't increase the number of bits required to hold the number of bytes, maybe the whole `rlib` size is closer to that threshold?
That's my on

[2019-11-07 15:18] jonas-schievink commented on #66191
Well, did you install the beta toolchain? The [nushell](https://github.com/nushell/nushell) readme mentions to run `rustup install beta` beforehand.

[2019-11-07 15:25] pnkfelix commented on #65523
closing as fixed by #65539

[2019-11-07 15:25] #65523 closed

[2019-11-07 15:30] alexcrichton commented on #59442
Given the contention in the past with `cfg_if!` it feels like its best to be safe and have an RFC for this.

[2019-11-07 15:30] jdm commented on #65536
@eddyb The pre-change rlib was ~530mb and post-change was in the range of ~550mb iirc.

[2019-11-07 15:31] pnkfelix commented on #65520
At this point the release is out, so I'm closing this bug as a task not worth following up on formally. (The point of the task is to try to catch bugs before the release. Once the release is out, we can just let people file them if there are real bugs actually present that are not addressed via `cargo update`)

[2019-11-07 15:31] #65520 closed

[2019-11-07 15:36] aidylewis commented on #66191
Excuse me @jonas-schievink for being a complete moron. I'm running.

[2019-11-07 15:36] #66191 closed

[2019-11-07 15:37] adamreichold commented on #59229
It is besides the question of safety and performance, but shouldn't `from_reader_unchecked` rather raised `UnexpectedEof` if it does not encounter a null-byte at all?

[2019-11-07 15:38] pnkfelix commented on #65462
reassigning to @oli-obk based on feedback from compiler team

[2019-11-07 15:56] GuillaumeGomez commented on #43165
@clux: you can add your own JS lib. A good example is [this crate](https://docs.rs/crate/pwnies/0.0.14).

[2019-11-07 16:11] novacrazy commented on #63959
As of Rust 1.39.0, this is now in Stable.

[2019-11-07 16:38] alexcrichton opened #66192 "MSVC rustc is unnaturally slower than Linux rustc"
While it's generally assumed that build systems on Windows are slower than build systems on Linux, I'm seeing a discrepancy of up to nearly 2x differences in compile times *per crate* on a Windows machine vs a Linux machine. These are personal machines I work on and they're not exactly equivalent machines, but I'm pretty surprised about the 2x differences I'm seeing here and wanted to open an issu

[2019-11-07 16:45] da-x commented on #53114
I think we should have better documentation for what @scottmcm bumped into. I also discovered it today :)

[2019-11-07 16:58] rubyFeedback opened #66193 "[Installing rust] Small suggestion for possible improvement"
Hey there,

I am on linux but I managed to break my local openssl installation. I will fix this later,
but I was also trying to compile librsvg, and this needs rust, so I needed rust.

I went this way:

  curl https://sh.rustup.rs -sSf | sh

But this then failed via:

->

info: profile set to 'default'
info: syncing channel updates for 'stable-x86_64-unknown-linux-gnu'
info: latest update on 2019-

[2019-11-07 17:22] Arnavion commented on #61949
Did the new error in #62849 not make it to stable 1.39.0 ? I still see the old error about lifetime being inferred as `'static` and not matching, rather than the explicit "`async fn` return type cannot contain a projection or `Self`..." error added by that PR.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=06a794508330334476e5b9f298ea233b

[2019-11-07 17:23] alexcrichton commented on #66192
Ok I've confirmed that our *intention* is to compile LLVM with `clang-cl.exe`, but due to bugs in CI configuration that actually isn't happening. I'll look to fix that!

[2019-11-07 17:43] ecstatic-morse commented on #66167
@pnkfelix As eddyb mentioned on Zulip, we should be able to move off the old checker in a week or two.

I do want to continue to be as fine-grained as possible here, since it uncovered an interesting case in #65485, and could still uncover more. However, looking at this again today, I see no reason not to sort the errors before comparing them, which would make this case go away. WDYT?

[2019-11-07 18:22] kacejot opened #66195 "Can't use DoubleEndedIterator for inclusive ranges"
Code:
[code]

Error:
[code]

I think Rust is not getting safer without ExactSizeIterator implementation for RangeInclusive. The behavior like the one above is not obvious for average Rust coder. Moreover, the workaround exists:
[code]

[2019-11-07 18:34] newpavlov opened #66196 "Add From<NonZero*> impls for wider NonZero types"
For example in `getrandom` to convert `NonZeroU16` to `NonZeroU32` we have to write code like this:
[code]
Instead of using a simple `e.into()`.

This issue has been assigned to @peter-wilkins via [this comment](https://github.com/rust-lang/rust/issues/66196#issuecomment-553191408).

[2019-11-07 19:04] #62785 closed

[2019-11-07 19:12] mihaigalos commented on #65636
I am sorry, I would like to have the information present in the `*.toml` file in the compiled binary. The compiled binary should be cargo-agnostic. I would like to be able to invoke `./binary --version`.

[2019-11-07 19:40] tkaitchuck commented on #21690
As mentioned above, enabling fast math globally on a build is way to unsafe. Some things like `-ffp-contract=fast` being on by default make sense. But others are necessarily situational. Manually calling intrinsics on every single call is tedious.

Perhaps it would be better to allow annotating a function. IE:
[code]
That would provide reasonable safety while being more convenient, doubly so if it

[2019-11-07 19:47] joshtriplett commented on #65860
For the record, I don't think we should land this even if crater passes, and *especially* if crater doesn't pass (whether or not we submit patches to crates it breaks).

[2019-11-07 20:07] madmaxio opened #66198 "Borrowing from arguments with higher order async functions"
Hi, just wanted to ask if borrow with higher order async fns (from there arguments) is not correct never at all, or there might be some solutions in the future. Please check the example.

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=57b7a001a20dc861773daac001100594))

Errors:

[code]

[2019-11-07 20:14] scottmcm commented on #49147
I'm concerned about semver implications here.  It seems like it would be bad if adding `Copy` to the type returned from `foo` could change what happens in things like `[foo(); 4]`.

[2019-11-07 21:43] mati865 commented on #66192
FWIW Clang can also be used for MinGW but it will require few tweaks.

[2019-11-07 21:49] cramertj commented on #49147
@scottmcm FWIW adding `Copy` to a type can already change significant behaviors and can actually break compilation because of how move inference for closures works.

[2019-11-07 21:53] cramertj commented on #66198
`start` only accepts a single type `Fut`, yet the type returned from `async fn f` is dependent upon the lifetime of the `data` parameter.

[2019-11-07 22:02] Otolock commented on #66099
cc @steveklabnik

[2019-11-07 22:02] Mark-Simulacrum commented on #65527
[Crater](https://github.com/rust-lang/crater/blob/master/README.md) queries GitHub for all Rust repositories (I'm not sure on specifics of how GitHub determines that). We then build all of those repositories on our infrastructure.

[2019-11-07 22:10] Marwes opened #66199 "Should std::future::Future be marked #[fundamental]"
`Fn` is marked `#[fundamental]` which makes it possible to do

[code]

but since `std::future::Future` is not marked as `#[fundamental]` it is not possible to do the same with futures.

Marking things as `#[fundamental]` should be done with care but at least the superficial simlarity with ``Fn` seems to indicate that `Future` would also be a candidate for the attribute?

[2019-11-07 22:10] clintnetwork commented on #65527
Oh very interesting, thank you 👌

[2019-11-07 22:30] jrus commented on #55107
@simonbyrne It doesn’t seem like this can overflow, so you can skip your conditional check and just do
[code]

[2019-11-07 23:10] simonbyrne commented on #55107
That doesn't work for values in the binade where `eps(x) == 1`, since they will be rounded to the nearest multiple of two, e.g.
[code]

I think the convention is the sign should always match.

[2019-11-07 23:35] estebank commented on #57661
@hellow554 it is possible to make [implement a trait with a more restricting `impl Trait` argument](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4145d1ac48f468f81520c6557458e7f3) than its trait, but then [the trait's obligation for that argument flows down](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d21b1e5abcfa788a17abe44e1899af18) and mak

[2019-11-08 00:04] Rantanen opened #66202 "Types equal to/wrapping () result in "not FFI-safe" warning"
[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=62da3bf343e1358e16a6692a72ca7f33

All of these cases work in Beta. At least the associated type warning is recent regression in Nightly. I suspect https://github.com/rust-lang/rust/pull/65134

CC @davidtwco

[2019-11-08 00:15] jrus commented on #55107
As far as I can tell your test is showing copysign((abs(x)+k)-k, x) == x, which is what you wanted...?

[2019-11-08 00:17] KodrAus commented on #31343
I'm not really sure `set_print` is something we'd actually want stabilized as-is. On the one hand it has been left unchanged for a really long time so seems like it must be stable. On the other hand it's also `#[doc(hidden)]`, so is thoroughly undiscoverable and hasn't received much attention.

So rather than stabilize `set_print`, I think it would be better to mostly pretend it doesn't exist and

[2019-11-08 00:51] qnighy commented on #65636
For that purpose, this example may help you: https://github.com/clap-rs/clap/blob/master/examples/09_auto_version.rs

[2019-11-08 01:04] jrus commented on #55107
How about this one?

[code]

[2019-11-08 01:14] simonbyrne commented on #55107
The great thing about `Float32` is you can test them all:
[code]

[code]

(I apologize again for spamming this thread with Julia code...)

[2019-11-08 01:24] jrus commented on #55107
I’m a little confused what that code is doing. It doesn’t look like `f1(x)` is defined anywhere, or like `copysign((abs(x)-k)+k, x)` gets used in the test.

[2019-11-08 01:35] felix91gr opened #66205 "Recursive type usage in function with Const Generics causes ICE"
This is a toy example I made in order to later make tests which run for `T<const M: usize>` with `M=0..N`.

[code]

This is the error I get:

[code]

Error notes:

- `rustc 1.40.0-nightly (50f8aadd7 2019-11-07) running on x86_64-unknown-linux-gnu`

- compiler flags: `-C debuginfo=2 -C incremental --crate-type lib`

---

### Questions

I don't know if this kind of pattern is intended as part of the

[2019-11-08 01:42] felix91gr commented on #66205
Note: another example that also panics.

I know, yes, expressions aren't yet supported as const parameters. But it has the same panic, which is WEIRD!

[code]
Error:

[code]

[2019-11-08 02:37] est31 commented on #66145
Was hitting this in a private (currently not open source) project of mine. Thanks for introducing this slowly so that it can be caught in time instead of just breaking it!

[2019-11-08 02:43] estebank commented on #65247
Current output:

[code]

[2019-11-08 04:03] Aaron1011 commented on #65247
This is fixed by `#![feature(re_rebalance_coherence)]`, which is [getting stabilized](https://github.com/rust-lang/rust/pull/65879)

[2019-11-08 06:47] spunit262 commented on #65247
[Minimal example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a6c631485a54674714c48ba56ce89eb8) that still error with `#![feature(re_rebalance_coherence)]`

The error message needs to tell the user that the order the types are listed in is important. Maybe some thing like "A local type must appear before type parameters". And change it to "uncovered type parameters" if

[2019-11-08 07:08] hellow554 commented on #66205
Minified:

[code]

I'm pretty sure that I saw this ICE before, but I can't find it ;/

[2019-11-08 07:08] simnalamburt commented on #28728
@RalfJung Can you update the hyperlink <https://github.com/simnalamburt/snippets/blob/master/rust/src/bin/infinite.rs> in the issue description into <https://github.com/simnalamburt/snippets/blob/12e73f45f3/rust/infinite.rs> this? The former hyperlink were broken for a long time since in was not a permalink. Thanks! 😛

[2019-11-08 07:29] Centril opened #66210 "Accumulate all error codes / descriptions into one crate?"
@ecstatic-morse noted [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/Procedure.20for.20adding.20an.20error.20code/near/180191530) that:

Should we move all the error codes into a dedicated crate (`librustc_error_codes`) or into the existing `librustc_errors`? Advantages include:

- Making other crates, especially `librustc`, smaller and thus improving pipe

[2019-11-08 07:55] #66046 closed

[2019-11-08 09:07] glorv commented on #66118
I came across this problem recently try to use `dwz` to make the binary file size smaller. and the `dwz` will throws `Couldn't find DIE referenced by DW_AT_abstract_origin`.

here is a piece of info by `readelf` that shows where dwarf is broken:
[code]

the address `c5d186` is a `DW_TAG_inlined_subroutine` and its `DW_AT_abstract_origin` attr points to address `0x4ca080` with is `DW_TAG_padding` (

[2019-11-08 09:23] RalfJung commented on #28728
@simnalamburt done, thanks!

[2019-11-08 09:36] davidtwco commented on #66202
@Rantanen This is related to #65134 in so far as that PR made the improper-ctypes lint apply to extern functions that are outside `extern {}` blocks. As you can see [from this playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1e26a7d9f14ff6ae28afa912b0e27a49), when on stable (which doesn't have #65134 yet) and inside an `extern {}` block, the lint fires on those f

[2019-11-08 09:49] arthurprs commented on #38003
This may not be as significant with the new hashmap (hashbrown) implementation. @Amanieu might want to add his thoughts here.

[2019-11-08 09:51] GuillaumeGomez commented on #66210
The issue is that if you change this crate, you'll have to recompile everything everytime. I think the main reason why it hasn't been done this way is that it allows to prevent both the full re-compilation and to have HUGE files with hundreds of error codes in one place.

Also, small advantage but a nice one: it allows to quickly link an error code to where it's coming from in the code.

[2019-11-08 10:33] rettichschnidi commented on #64126
I was able to reproduce the issue with rustc 1.31.1 and 1.37.0.

For 1.37.0 and 1.39.0 the issues seems to be fixed.

[2019-11-08 10:38] rkruppe commented on #66202
My knee-jerk reaction is that both are bugs that can and should be fixed.

- `<() as ToOwned>::Owned` should have been normalized to `()`, why wasn't it?
- The error message for `W<()>` is clearly bogus, and if plain `()` doesn't warn then clearly a transparent newtype around it shouldn't either. But note that `#[repr(C)] struct Foo(());` also gets flagged for containing `()` because "tuple layout

[2019-11-08 11:10] Centril commented on #66210
Hmm; so I took a look at https://doc.rust-lang.org/nightly/nightly-rustc/src/syntax/diagnostics/macros.rs.html and it doesn't seem like there's actually an intrinsic reason why that would be the case: we could separate the registration of diagnostic codes and descriptions from the actual `struct_span_err!` macros that use the codes (it's just an identifier). Tidy can then make sure to catch any pr

[2019-11-08 11:12] pnkfelix commented on #59535
Here is a repo with my reduction:
  https://github.com/pnkfelix/rust-issue-59535

I got the whole thing down to a chain of three crates: a 13-line crate at the root, a 65-line crate at the leaf, and a .... 1643-line crate in the middle...
  * Unfortunately the nature of the bug makes it quite difficult to remove any of those 1643 lines
  * "Fortunately" the vast vast majority of the lines are `imp

[2019-11-08 11:21] pnkfelix commented on #66167
@ecstatic-morse yes lets sort the errors, that would be great!

[2019-11-08 11:23] pnkfelix commented on #66167
[discussed](https://zulip-archive.rust-lang.org/131828tcompiler/04503weeklymeeting2019110754818.html#180144355) at T-compiler meeting. This seems well in hand; either we'll fix it by sorting the errors, as mentioned, or we'll just let it get fixed when we remove the old const-check, which is scheduled sooner than I expected.

[2019-11-08 11:31] GuillaumeGomez commented on #66210
That would make the whole more difficult to understand. Why would we want to separate the declaration and the explanation?

Wow, a brave one. I never use the github search; it's just useless most of the time. A `git grep` works way better. :)

[2019-11-08 11:48] Centril commented on #66210
- Better incremental and pipe-lining with `./x.py` because only `rustc_interface::util::diagnostics_registry` needs to depend on those explanations. In fact, that function can be moved wholesale to the new crate. Also better pipe-lining because librustc and friends get thinner.

- Better potential for internationalization -- maybe we should even move these descriptions to `.md` files, post-process

[2019-11-08 13:05] semarie commented on #65795
whereas beta was fine, now it is released, I have the same error with 1.39.0

[2019-11-08 13:09] Mark-Simulacrum commented on #65795
We've applied https://github.com/rust-lang/rust/commit/73369f32621f6a844a80a8513ae3ded901e4a406 on beta/stable to get them to build, I'm not sure if you have that, but if not adding it likely makes sense. If that doesn't fix things, please let us know.

[2019-11-08 13:30] oli-obk opened #66219 "Document all unsafety used in libcore and libstd"
The repository still contains many instances of

[code]

We should eliminate all of them by documenting the unsafe used in those files.

Documenting unsafe blocks works by adding a `// SAFETY:` comment infront of them explaining why the unsafe block is ok. If there is an explanation about the unsafety elsewhere in the file, you can also leave a `// SAFETY:` comment explaining that the overarching

[2019-11-08 13:33] semarie commented on #65795
I am testing it. It seems to have fix the build, but I prefer to wait the build to finish before being sure (and I will rerun it from clean state after).

FYI, the change isn't present in 1.39.0 version of [src/bootstrap/builder.rs](https://github.com/rust-lang/rust/blob/stable/src/bootstrap/builder.rs#L876)

[2019-11-08 13:37] CryZe opened #66220 "improper_ctypes fires for &mut T, &T, *const T and *mut T (when T: Sized)"
I'm not sure if this is intentional, but I haven't found any discussion regarding this. The improper_ctypes lint fires on pointer types when T is not FFI safe. However pointers have defined layout that is always FFI safe, independent of what the pointer is pointing to. It certainly seems valid to point out the pointer won't be able to be dereferenced by C. This should probably be a clippy lint tho

[2019-11-08 13:39] sfackler commented on #66220
Is `T: Sized`?

[2019-11-08 13:42] CryZe commented on #66220
Yes, here's the [playground example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5c61ca802ea9c3e6f43f4cbe83ccbb62)
[code]

[2019-11-08 14:22] rkruppe commented on #66220
I am pretty sure this is intentional (or was, when this part of the lint was implemented), but that doesn't mean it can't change. This is a scenario where reasonable interpretations of the lint disagree with each other:

- On the one hand, pointers to sized types are like C pointers, so they have defined memory layout and call ABI. If the intent of the code is that the other side of the FFI just p

[2019-11-08 14:22] pnkfelix commented on #60363
@alecmocatta

I already have done everything I can with the source code attached to *this* bug. Seeing analgous stack traces does not provide me with an alternative piece of source code to test and explore.

as previously noted in my closing comment:

[2019-11-08 14:23] Mark-Simulacrum commented on #65795
Oh, right, it didn't land in stable, forgot that.

[2019-11-08 14:25] CryZe commented on #66220
I believe this could possibly be a separate lint. Because otherwise improper_ctypes is likely to be disabled module or crate wide (as seen in quiche for example), which means actual calling convention mistakes won't show up anymore.

[2019-11-08 14:29] varkor commented on #66205
This is just a result of having an expression as a const generic argument. I don't actually think there's a canonical issue, though many of the issues are essentially the same. https://github.com/rust-lang/rust/issues/60471 is the best tracking issue.

[2019-11-08 14:36] rkruppe commented on #66220
Splitting up into two different lints seems interesting (as long as both stay in rustc and enabled by default).

It comes with an interesting backwards compatibility question, though. We probably wouldn't want projects that used `allow(improper_ctypes)` to see warnings they opted out of again just because we shuffled around where they're emitted. So would we turn `improper_ctypes` into a lint grou

[2019-11-08 14:39] Lythenas commented on #57373
I just ran into this ICE. As @z2oh pointed out after `cargo clean` the error is gone.

[2019-11-08 14:43] pnkfelix commented on #59535
(for my narrowed test case, passing `-C codegen-units=1` does seem to make the problem go away. but given the heisenbug nature of this issue, that could just be masking over the problem rather than showing something fundamental here...)

[2019-11-08 14:50] c410-f3r commented on #66210
I guess that with this approach, it will be easier to translate the errors to other languages if, well, this direction is something to be considered in the long term.

[2019-11-08 15:04] nikomatsakis commented on #66210
If we do this right, the error codes crate could be "lazilly" linked -- i.e., only a dependency of `librustc_driver`. We could achieve this for example by using a query to fetch the details of the error code. Then there is no recompilation hazard. Ideally, the error descriptions themselves might even be in `.md` files or something that are `include!`'d in, to make them more viewable?

[2019-11-08 15:07] Rantanen commented on #66202
Good to know! I was worried this was a change in functionality that wasn't expected.

I've since worked around this issue by normalizing the `<() as Trait>::Foo` case into `()` manually in my proc macro code. There are still some corner cases where this might be an issue for me, but I'm not sure if those will ever occur in practice.

[2019-11-08 15:17] athre0z opened #66223 "SIGSEGV compiling AVX-512 inline asm"
This (possibly invalid?) inline asm below segfaults the compiler:
[code]

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=81cfd8875865de7e658ce8e28fd1213a)

Rust version: rustc 1.40.0-nightly (1423bec54 2019-11-05)

Backtrace
[code]

[2019-11-08 15:32] aplanas opened #66224 "rust 1.39.0 bootstraping error: found two different crates with name `bitflags` that are not distinguished by differing `-C metadata`"
Hi,

I am trying to update rustc from 1.38 to 1.39 in openSUSE, and for some architectures I have a consistent error:

[code]

For example:

https://build.opensuse.org/package/live_build_log/home:aplanas:branches:devel:languages:rust/rust/openSUSE_Tumbleweed/x86_64

and

https://build.opensuse.org/package/live_build_log/home:aplanas:branches:devel:languages:rust/rust/openSUSE_Tumbleweed/i586

I no

[2019-11-08 15:40] Rantanen commented on #66220
Is there any way to mark a type (instead of the method) as "I know this is improper but don't warn me about it"?

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ccd4a6a4c205c17d84e17eb6d1ceac4f

The following does work, which surprised me because `PhantomData` alone is not FFI safe and this uses a tuple struct with two fields _and_ claims to be `repr(transparent)`

[2019-11-08 15:44] rodrimati1992 commented on #66202
How can `()` not be ffi-safe,given that it's a zero sized type with an alignment of 1?

[2019-11-08 15:47] CryZe commented on #66220
Well idea would be to mark it with #[allow(opaque_c_ptr)] or so. Just passing `*const String` should be entirely fine (as long as you truly treat it as opaque).

[2019-11-08 15:58] rkruppe commented on #66202
Passing ZSTs by value is on thin ice since zero-sized types don't exist in standard C and ABIs aren't always consistent about how they handle types that use GNU extensions to be zero-sized. The lint also fires on `repr(C)` structs without fields or with only PhantomData fields, accepting `#[repr(C)] struct Foo(());` would deviate from that. While I don't want to say it's the wrong call, we should

[2019-11-08 16:06] rkruppe commented on #66220
I believe this doesn't work because the lint message is associated with the function rather than the type(s) which the lint finds objectionable. I don't know how difficult it would be to support this, I guess it would be something of a special case at best.

`repr(transparent)` explicitly allows extra fields that have size zero and alignment one, to enable the use of `PhantomData` and similar tric

[2019-11-08 16:07] rodrimati1992 commented on #66202
That won't be a problem for me so long as Rust itself stays consistent in how it passes zero-sized types through `extern "C"` functions across compiler versions.

[2019-11-08 16:13] rkruppe commented on #66202
That isn't really the case, though. For example, https://github.com/rust-lang/rust/pull/64259 changes how ZSTs are passed in the C ABI on (some target triples of) PowerPC. That is arguably a bugfix, but it's happening *because* ZSTs in C are such a non-standard mess.

[2019-11-08 16:25] sietse opened #66228 "E0107: "expected 1 type argument" can be read in two opposite ways: as "this needs to *have* 1 type argument" and "this needs to *be* 1 type argument""
## Summary

When you have nested type arguments, underlining an inner type argument and saying 'expected 1 type argument' does not obviously mean "expected [this to have] 1 type arg (but it hasn't got any)": it can also be read as "expected [this  to be] 1 type arg (but it isn't one)".

## Minimal complete example
Code that gives a confusing error message:

[code]

This results in the following er

[2019-11-08 16:33] Amanieu commented on #38003
The main concern here was that the high load factor would cause many entries to be moved during an insertion. Since the new hash table implementation does not move existing entries on insert, I think this can be closed.

[2019-11-08 16:33] #38003 closed

[2019-11-08 16:52] eddyb commented on #66202
I thought we fixed the normalization problem for this years ago, ugh.
It's very weird that the message prints the normalized form, since there's nothing in the printing logic that would do that normalization for you.

[2019-11-08 16:57] rkruppe commented on #66202
@eddyb FWIW the title change is not fully accurate, only one of the two warnings in the OP involve associated types, the other is about transparent newtypes. Arguably these are two separate issues but at present both are discussed here so both should be covered by the title.

[2019-11-08 17:04] simonbyrne commented on #55107
Good point, now updated.

[2019-11-08 17:10] LukasKalbertodt commented on #65798
@SimonSapin Just to be sure I understand you correctly, what is your answer to this question?

Using the impl without `#![feature(array_value_iter)]` works, but it seems strange to me that we can "use" an unstable type as long as we don't name it. On the other hand, since the `IntoIterator` impl is bound by `LengthAtMost32`, if const generics were to be removed, we could simply add 32 different it

[2019-11-08 17:11] petertodd commented on #66136
One nuisance with this is code that uses `NonNull<T>` for a `*const T` rather than the `*mut T` that the API assumes.

Though maybe there's a better way to do that?

[2019-11-08 17:17] csmoe commented on #66193
thanks for reporting, but this is more like a https://github.com/rust-lang/rustup.rs/issues issue, could you request an improvement there?

[2019-11-08 17:17] #66193 closed

[2019-11-08 17:36] alexcrichton commented on #66192
Ok I've done a slightly more scientific test. I spun up two instance on AWS, one Ubuntu and one Windows. They're both using AMD EPYC 7571 cpus, 4 cores (virtualize). Naturally AWS is very noisy, but the hope is to get a baseline measurement between Windows/Ubuntu which at least gets the differences in CPU out of the way.

Again compiling the `wast` crate I got ~13s on Ubuntu and ~18s on Windows, a

[2019-11-08 17:37] petertodd commented on #66029
Maybe I'm misunderstanding what you're trying to demonstrate here, but the type:

[code]

doesn't lead to `Box<[usize]>` niche other than the `NonNull` pointer, as a slice's metadata can have any value, including zero¹.

Changing that to, say:

[code]

is a better example, as the vtable should never be null.

1) ...actually a slice length should be `< isize::MAX`. But IIUC the current niche scheme

[2019-11-08 17:40] DevJac commented on #65980
This still happens with Rust `1.39.0`. I created a minimal project that demonstrates this bug at https://github.com/DevJac/rust_edition2018_doctest_bug_demo .

[2019-11-08 17:53] semarie commented on #65795
I confirm it built fine with it

[2019-11-08 18:01] eddyb commented on #66202
I had to check this but apparently we always treat *returning* a ZST like `void` in C:
https://github.com/rust-lang/rust/blob/76ade3e8ac42cd7a7b7c3c5ef54818ab68e3ebdc/src/librustc/ty/layout.rs#L2711-L2719

(even if on some architectures *passing in* a ZST to C code can have strange requirements)

I wonder if this logic is wrong, compared to returning `struct {}` in GCC.

If it's not, we should all

[2019-11-08 18:02] eddyb commented on #65111
Here's one more:
* we always treat *returning* ZSTs like `void`-returning functions in C, but is that correct? https://github.com/rust-lang/rust/issues/66202#issuecomment-551930114

[2019-11-08 18:04] therealprof commented on #59535
Embedded Rust is pretty much regular Rust sans magic done by the operating system and libc in a regular application. The reduced 1.6k middle crate is just an abstraction over fixed bits at fixed memory addresses  to talk to built-in peripherals (data busses, timers, I/O pins, radios...) generated from a chip manufacturer provided register description.

Having multiple `impl R { }`s on the same `st

[2019-11-08 18:39] CAD97 commented on #66029
@petertodd that one niche is enough. `Box<Sized>` is one usize big, and `Box<Unsized> is two usize big. The niched representation is to represent `Box<Unsized>` as is, and to represent `Box<Sized>` by exploiting the 0 niche in the nonnull pointer of `Box<Unsized>` and then putting the `Box<Sized>` in the other remaining usize of space.

[2019-11-08 18:59] roblabla commented on #64490
So, wait, would `let field_ptr = &raw const (*base_ptr).field;` work *without unsafe* with this RFC? Or would it still need to be wrapped in an `unsafe {}` block due to the "dereference" in `(*base_ptr)`?

[2019-11-08 19:02] Mark-Simulacrum commented on #65795
Okay, I'm going to close this then as we're unlikely at this point to issue a point release (just for this) and it seems like the patch works in practice.

[2019-11-08 19:02] #65795 closed

[2019-11-08 19:04] Lokathor commented on #64490
given that people try to write offset calculation code using null pointers, that expression shouldn't produce a real deref, and it should then actually work in safe code. wrapping_offset is safe, and offset is only unsafe because you _could_ go out of bounds, but a field pointer will always be in-bounds so there's not that danger.

[2019-11-08 19:09] #39207 closed

[2019-11-08 19:10] #36247 closed

[2019-11-08 19:10] #37872 closed

[2019-11-08 19:10] #42238 closed

[2019-11-08 19:10] #59014 closed

[2019-11-08 19:16] rkruppe commented on #64490
No, it requires unsafe. The place expression does not access the memory `base_ptr` points at, but it is (in effect for the current implementation) an `offset` operation and as such a dangling `base_ptr` causes UB.

Even if we take the separate & not-even-formally-proposed step of dropping the "must point to an allocated object" requirement for field projections to retroactively make `offsetof` imp

[2019-11-08 19:20] Lokathor commented on #64490
ahhhh I agree that you're correct but I don't like it.

[2019-11-08 19:37] q66 opened #66229 "1.39 error messages don't properly truncate, making autogenerated files (e.g. bindgen) spam the terminal"
A paste is worth a thousand words, even if it has many thousands of words itself: https://gist.githubusercontent.com/q66/7004995a784b59475134a290512cf545/raw/a42c4af7648c142175c5244494f74d30dfe1b340/gistfile1.txt

[2019-11-08 19:39] q66 commented on #66229
Actually, the source file appears to be one line. It's generated by rust-bindgen.

[2019-11-08 19:41] q66 commented on #66229
Here's the generated file from firefox: https://gist.githubusercontent.com/q66/ac25123ed168f61e2972af0bbc90fff0/raw/229094c3e8dfda7382eec22563d08538eaf83c03/gistfile1.txt

[2019-11-08 19:45] estebank commented on #66229
https://github.com/rust-lang/rust/pull/63402 implements the feature, but it needs to be integrated with `cargo`.

[2019-11-08 19:58] estebank commented on #66228
I believe we should leverage structured suggestions, making the output something along the lines of:

[code]
[code]

[2019-11-08 20:33] eddyb commented on #65536
@jdm Are you sure? I'm talking to @Eijebong and seeing 5.36GiB (older?) rlibs.
Note that [there's a hard limit of 10GB](https://github.com/llvm/llvm-project/blob/a69cc92cb5083d9d9f33c19587db1cdcab742637/llvm/include/llvm/Object/Archive.h#L224-L225) for archives.

[2019-11-08 22:00] nagisa commented on #66192
@alexcrichton how feasible is it to measure `user` (spent doing work) and `system` (spent waiting on syscalls) time in seconds for Linux and Windows?

[2019-11-08 22:15] mati865 commented on #66224
You will want to backport https://github.com/rust-lang/rust/commit/73369f32621f6a844a80a8513ae3ded901e4a406

cc https://github.com/rust-lang/rust/issues/65795 @Mark-Simulacrum

[2019-11-08 22:34] nagisa commented on #66223
Please try with a LLVM build that has assertions enabled.

[2019-11-08 22:39] eddyb commented on #65536
[code]

So it turns out that our 4-byte `00 00 00 00` prefix for `rmeta` is valid a COFF header.
We have that so that very old rustc versions (pre-1.10, see #34539) don't succeed loading new `rlib`s, but maybe it's been long enough? cc @rust-lang/compiler

It's also possible we'll save some time if LLVM stops trying to parse our `rmeta` format as COFF.

[2019-11-08 23:26] Mark-Simulacrum commented on #65536
Do I understand correctly by backwards compatibility we mean that if you're running an old rustc in a directory that happens to have rmeta files generated by a new rustc we'd just run into compilation errors if we didn't have the 4 byte zero prefix? i.e., it wouldn't introduce anything other than maybe odd-looking errors? (I am struggling to understand why exactly we did this in the first place, a

[2019-11-08 23:28] Mark-Simulacrum commented on #66224
Yep, sorry for this breakage, we still don't really understand what caused it (haven't spent time investigating) but the patch is a known fix :)

Closing.

[2019-11-08 23:28] #66224 closed

[2019-11-08 23:31] eddyb commented on #65536
@Mark-Simulacrum `rmeta` is newer than 1.10, so it'd really be just `rlib`s, left around in sysroots or `target/` dirs (and I don't even think you can get this kind of error with Cargo?).

IIUC, COFF is one of the major 3 `.o` formats (alongside ELF and Mach-O), and `.a` libraries are archives of `.o` files, so this is unsurprising to me.

LLVM has been parsing our `rust.metadata.bin` as COFF, eve

[2019-11-08 23:46] BaoshanPang opened #66232 "VxWorks needs a newer version of cc-rs"
Do we have plan to get rid of this restriction recently? A newer version of cc-rs is needed for VxWorks

https://github.com/rust-lang/rust/blob/9e346646e93cc243567e27bb0f4e8716d56ad1f1/src/librustc/Cargo.toml#L15

[2019-11-08 23:50] aplanas commented on #66224
Thanks! Is already backported, and OBS is now building the new package.

[2019-11-09 00:12] oli-obk opened #66234 "Optimize out nop-matches"
The `?` operator is not zero cost right now, because the matches generated by it don't get optimized as well as they could.

Looking at https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=627df52e7c476667ecf9a9831eecf829

I see

[code]

and

[code]

Which we could reasonably write a peephole optimization for getting transformed to

[code]

each

Then a second optimization cou

[2019-11-09 00:14] dingelish opened #66237 "Code formatting question"
Hi there, I'm looking into libcore and find some formatting issues, such as

[code]

[code]

Wonder if such fixes are welcome. Thanks!

[2019-11-09 00:16] ehuss commented on #65980
I posted PR #66238 to fix this.

[2019-11-09 00:17] oli-obk commented on #66234
Ideally we'd not even limit ourselves to going from an enum to the same enum, but moving from one enum to another as long as the layouts match up. Though that may require the insertion of a `transmute` call. We can start with just figuring out that an enum variant gets all its fields read and then the variant is recreated to produce the exact same variant.

[2019-11-09 00:33] ehuss commented on #66232
`cc` can't currently be updated due to a build problem with riscv.  More info at https://github.com/rust-lang/rust/pull/65445#issuecomment-542710813.  I think the issue is that rustbuild uses cc to discover cc toolchains, and `cc-rs` gained riscv support, and so now it thinks it should use a gcc toolchain that doesn't exist.  The detection is in https://github.com/rust-lang/rust/blob/master/src/bo

[2019-11-09 01:16] BaoshanPang commented on #66232
@ehuss
Thanks for working on this issue. Enjoy your weekend, it is not that urgent.

[2019-11-09 01:19] est31 commented on #66229
See also the bindgen bug: https://github.com/rust-lang/rust-bindgen/issues/1600

I've added some pretty-printing code to my own project: https://github.com/RustAudio/deepspeech-rs/commit/3323b0e228608fc00e876a4712a4139959aee119

Optimally it would live in bindgen though. Want to port it to bindgen, @q66 ?

[2019-11-09 01:23] q66 commented on #66229
no thanks, i have enough of my own work and prefer to touch this kinda stuff as little as possible. For now, I took patches from Gentoo to fix compilation of firefox/thunderbird (and adapted it for other stuff so that e.g. icecat can also build), which seems to work ok.

[2019-11-09 01:53] jdm commented on #65536
Thank you so much @eddyb and @Eijebong!

[2019-11-09 03:33] amoffat commented on #41078
I'm new to Rust, and this had me pulling my hair out for awhile.  I still don't know why the ["solution"](https://stackoverflow.com/q/58773989/10019917) works.

[code]

[2019-11-09 03:45] rminnich opened #66240 "oreboot won't build for riscv64: __atomic_{load,store}_16 are not defined"
We have been building github.com/oreboot/oreboot with rust since last spring. Within the last month, we've hit the problem seen in https://dev.azure.com/azure0427/Oreboot%20Pipeline/_build/results?buildId=338, as well as https://github.com/oreboot/oreboot/issues/183

__atomic_store_16 is undefined, as is __atomic_load_16.

oreboot has been working on riscv hardware (riscv64, sifive hifive board) f

[2019-11-09 03:46] eddyb commented on #41078
@amoffat Generally you should avoid putting closures in variables, if you're only going to pass them to a function, because placing the closure expression nested in the call expression lets the compiler deduce a better signature.

*Why* the signature can even differ is that your `P: Fn(&S) -> bool` bound is really sugar for this bound: `P: for<'a> Fn(&'a S) -> bool`. When you write `filter(|_s| tr

[2019-11-09 04:10] amoffat commented on #41078
@eddyb, I still don't understand :)  The fix from the SO answer was the following:

[code]

Based on what you said, the code now works because I've narrowed the lifetime from the "forall" to a specific lifetime?  I'm still unclear on the logic of why a lifetime is needed at all.  Is it because the borrow checker needs to make sure that the predicate is only called on a valid borrow of `S`?  That d

[2019-11-09 04:20] eddyb commented on #41078
@amoffat Ah, my bad, I didn't click through to the SO post.

`&T` never exists without a lifetime (i.e. it's always sugar when you don't see a lifetime explicitly written), and the lifetime is used to keep track of all the other references derived from that reference - which in your case is none, but that's only a coincidence, as far as the compiler is concerned.

For example, with the `P: Fn(&S)

[2019-11-09 04:46] petertodd commented on #66029
@CAD97 Thanks! I see what you mean now.

[2019-11-09 05:00] foeb commented on #66219
Hi! I'm interested in working on this. I can probably only commit to 6-8 hours a week, so it might be more realistic for me to work on just libcore or libstd. Is that alright?

[2019-11-09 05:37] athre0z commented on #66223
As requested, I just built the latest rustc (475c713b2f8c41eb06fd1a65f226c77f84fea4a5) from source, with LLVM assertions enabled.

[code]

[code]

[code]

It is worth noting that this only occurs when building with `--release` -- debug builds are fine.

[2019-11-09 06:03] amoffat commented on #41078
@eddyb Ah, I didn't catch that from my example!  I think that is making the picture more clear for me.

But I'm still unclear on why the compiler cares about the lifetime of `&'a S` reference in the closure.  Are you saying it is because of the possibility that the closure can copy the reference into one of its captured fields?  And because of this possibility, the borrow checker needs a guarantee

[2019-11-09 06:20] eddyb commented on #41078
@amoffat You're right that you could do that with a cpture, but you don't even *need* captures, you could be trying to store a `&'static S` into a `thread_local!` variable, for example.

And little of that is understood by the compiler until borrow-checking runs, and borrow-checking *enforces* the rules that arise from the inferred types, so information can't flow back into inference.

[2019-11-09 06:47] retep998 commented on #66192
`GetProcessTimes` provides both the kernel and user times so it is very feasible to do it on Windows at least.

[2019-11-09 06:58] amoffat commented on #41078
That was helpful @eddyb , thanks for explaining

[2019-11-09 07:28] foeb commented on #66219
@rustbot claim

[2019-11-09 08:55] pietroalbini opened #66244 "Crater runs for Rust 1.40.0"
cc @rust-lang/release

[2019-11-09 08:55] pietroalbini commented on #66244
@craterbot run name=beta-1.40-1 start=1.39.0 end=beta-2019-11-06 mode=build-and-test cap-lints=warn p=10

[2019-11-09 08:56] pietroalbini commented on #66244
@craterbot run name=beta-1.40-rustdoc-1 start=1.39.0 end=beta-2019-11-06 mode=rustdoc cap-lints=warn p=5

[2019-11-09 09:33] #63599 closed

[2019-11-09 10:06] RalfJung commented on #64490
In terms of the [reference](https://doc.rust-lang.org/reference/behavior-considered-undefined.html), `&raw const (*base_ptr).field` still hits the clause saying

This RFC does not actually change that list of UB. It just makes it so that one can avoid the clause in the reference that refers to `&[mut]` types.

That said, I just realized that the reference declares `&raw const (*packed_field).subfi

[2019-11-09 11:03] RalfJung opened #66247 "Find a better way to hook panic starting from Miri"
With https://github.com/rust-lang/rust/pull/60026, Miri support unwinding. To this end it needs to hook into the code that libstd uses to start unwinding. The lowest "funnel" that all unwinding goes through is `__rust_start_panic`, which is an FFI import in libstd which is then implemented by either `libpanic_abort` or `libpanic_unwind`. However, hooking that in Miri is a bad choice as for unwindi

[2019-11-09 11:13] mati865 commented on #66192
Maybe shell32 is the reason here (or similar lib). Even thought Rust avoids them at all costs LLVM still links it because it won't build without.

[2019-11-09 11:16] lzutao commented on #55437
Stabilized in #65879

[2019-11-09 11:55] CreepySkeleton commented on #26179
How so? I mean, if a match guard is in use than yes
[code]

but there's no way to apply them to a match statement  in "no guard" case

[2019-11-09 12:01] elichai commented on #26179
@CreepySkeleton As i've said a line later that I do think we should fix:

But I don't think that exact percentages are really that useful in practice, and being able to mark one of the match options as `likely` or `unlikely` is still very useful.

[2019-11-09 13:10] nagisa commented on #66223
Filled as https://bugs.llvm.org/show_bug.cgi?id=43952

[2019-11-09 14:34] cjgillot commented on #66149
Hi,

I would like to do that if you don't mind.
I will try to submit a draft during the weekend.

[2019-11-09 14:53] mati865 commented on #66240
Already reported to upstream crate: https://github.com/rust-lang/compiler-builtins/issues/322

[2019-11-09 15:06] jonas-schievink commented on #57054
This is probably caused by (and a duplicate of) https://github.com/rust-lang/rust/issues/43081

[2019-11-09 15:09] jonas-schievink commented on #56794
#45447 is now fixed. @frehberg can you check whether the diagnostics are better on the current nightly?

[2019-11-09 15:14] jonas-schievink commented on #52909
@jparris Is this still an issue?

[2019-11-09 15:40] jonas-schievink commented on #44993
Related: https://github.com/rust-lang/rust/issues/65564 (proposes running code on the inferior to obtain a debugger view)

[2019-11-09 15:52] Mark-Simulacrum commented on #66237
Generally speaking, we try to keep pure formatting PRs to a minimum as they cause unnecessary churn, so the answer is mostly no. We are currently working on integrating rustfmt into CI and formatting the repository, though, so hopefully that'll resolve most of these automatically :)

[2019-11-09 15:52] #66237 closed

[2019-11-09 16:12] spastorino commented on #65462
This regressed [here](https://github.com/rust-lang/rust/commit/e413dc36a83a5aad3ab6270373000693a917e92b)

[2019-11-09 16:38] Ppjet6 opened #66249 "Add support for external markdown"
It doesn't seem to be possible to include external markdown files without using `include_file!`. By this I mean your file would have to be included in your code hierarchy and it's not possible to have it as a separate hierarchy.

This could be useful for getting-started (even though usually included in the README), debugging-tips, or various tutorials.

[2019-11-09 16:51] djc commented on #62146
@petrochenkov I'm also running into this issue. Do you have any clue? (If you don't have time to dig in, that would also be useful information!)

[2019-11-09 16:57] Ppjet6 commented on #66249
@kinnison, @GuillaumeGomez

[2019-11-09 17:02] #66179 closed

[2019-11-09 17:27] Aaron1011 commented on #66234
This could apply to structs as well. For example, in:

[code]

`bar` could be optimized to a single assignment.

[2019-11-09 17:42] zoechi commented on #50373
@banool  I saw this error when I added `serde_derive` to dependencies, but not `serde`

[2019-11-09 18:00] jebrosen opened #66251 "`--remap-path-prefix` does not apply to secondary files in diagnostics"
Since #64151 added some new diagnostics, Rocket's UI tests have had mismatches in stderr that I can't seem to fix. In particular these diagnostics include "secondary file" paths that aren't easily normalizable or remappable.

I haven't tried to make a minimal reproduction yet, but this output should illustrate the problem:

[code]

Here I'm remapping `tests/ui-fail` to `foo` to demonstrate that `-

[2019-11-09 19:05] ojeda commented on #66192
Another potential culprit is Windows Defender scanning the new files as they are produced. Try adding an exclusion for the entire build folder.

[2019-11-09 20:40] CAD97 commented on #55724
I'd like to propose stabilization for at least `extend`, `array`, `align_to`, and `pad_to_align`, after #66256 is merged. cc @rust-lang/libs

The longer these go stabilized, the more ad-hoc re-implementations we're going to see. I know myself that I wrote incorrect layout calculation for `#[repr(C)]` structs in edge cases before switching to directly vendoring the standard library's `Layout` manip

[2019-11-09 20:45] #55437 closed

[2019-11-09 21:42] kinnison commented on #43466
Could someone in the know please file an issue around "Handle fields inside struct variants" so that I know what might be needed in order to close off that blocker?

[2019-11-09 21:46] kinnison commented on #65983
I have been thinking quite hard about this and I wonder if it might be sufficient to detect any `[...]` sequence in a docstring (should be cheap to do) and then do the path resolution work inside the compiler rather than deferring to when rustdoc begins?  It would then be able to append (or prepend) reference resolution lines to the doc block, thereby not needing *any* changes to the serialisation

[2019-11-09 21:56] DevJac opened #66258 "Confusing error message when calling f(AsRef<...>, &str) with (str, &str)"
The following code produces a confusing error message:
[code]
[Rust Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a7239aa6d77e5a590057ad2b7758a6a6)

The confusing error when compiling the above code will be:
[code]
I first observed this error message behavior with Rust 1.39.

[2019-11-09 22:12] jonas-schievink commented on #66258
Can you explain what exactly you find confusing and why?

[2019-11-09 22:24] DevJac commented on #66258
The error message says that the _second_ argument in the function call is the problem, but this is not the case. It is the _first_ argument in the function call which is the problem.

Furthermore, the error points exactly at the `&str` value and says it "doesn't have a size known at compile-time", which is confusing because references do have a known size.

[2019-11-09 22:28] jonas-schievink commented on #66258
Thanks for explaining, that makes sense. Reclassifying as a bug since the span is wrong.

[2019-11-09 23:30] aleksanb commented on #64392
I managed to reproduce this on stable (cargo 1.39.0 (1c6ec66d5 2019-09-30)), but it seems to be fixed on my current nightly (cargo 1.40.0-nightly (5da4b4d47 2019-10-28)). The failing code is:

[code]

This is the error on stable:
[code]

This is the error on nightly:
[code]

It seems like the function return type is clobbered somehow in the async transformation.

[2019-11-10 01:12] Manishearth commented on #65983
that ... could work!

i would prefer we do the harder thing, but this would let us ship.

However, note that this means we can no longer emit warnings for broken links since we're not sure which things are meant to be intra doc links without preparsing markdown

[2019-11-10 01:13] Manishearth commented on #43466
It's not a blocker. It's about giving the ability to link directly to a struct field by naming it `MyStruct::field` in the link.

[2019-11-10 01:28] mzabaluev commented on #43466
Isn't that ambiguous when there is also an inherent method with the same name? It's also "syntactically unnatural" to refer to struct fields in this way, though I can't think of a better way right now.

[2019-11-10 01:41] Manishearth commented on #43466
Yeah, that's why there's no issue for it, it's something we may want to add
and if we do we'd have to figure out how. It's not a blocker.

Thanks,
-Manish Goregaokar

On Sat, Nov 9, 2019 at 5:29 PM Mikhail Zabaluev <notifications@github.com>
wrote:

[2019-11-10 02:03] zuobaoquan opened #66260 "Path::starts_with and ends_with should be case-insensitive on Windows"
[code]

[2019-11-10 02:16] talchas commented on #58957
Is there a reason to not add as_slice_mut for these? Particularly IterMut, where it makes the iteration over mutable pairs nicer.

[2019-11-10 02:38] nagisa commented on #66260
Case sensitivity is a property of the filesystem, not operating system.

As thus, this issue is not actionable. Closing. If you feel differently please complain and I’ll reopen.

[2019-11-10 03:19] clarfon commented on #58957
@talchas Only `into_slice_mut` is sound, and that's offered at the moment. Otherwise, you can have multiple mutable borrows to the same spot in memory.

[2019-11-10 03:28] CAD97 opened #66261 "Clippy ICE: normalize_erasing_regions: could not fully normalize `<Trait>::Assoc`"
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=cdb7bc71b2a8f4b52bc6c239ea1965df)

[code]

This ICEs with `cargo clippy` but not with `cargo build` or `cargo check`.

[2019-11-10 03:28] talchas commented on #58957
`&mut self -> &mut [T]` should be just as sound as `&self -> &[T]` here. It could not be `&'a mut [T]`, but that's true for & as well.

[2019-11-10 03:29] CAD97 commented on #66261
Minimizing this all the way then pulling it to the playground to see it not ICE was very confusing until I realized that it was because I normally check with `clippy` locally, I thought it was toolchain-specific for a few moments!

[2019-11-10 04:19] retep998 commented on #66192
The `shell32` issue just caused process load times to increase, which is noticeable for short running processes. It would not affect the speed at which LLVM generates code.

[2019-11-10 05:24] #65536 closed

[2019-11-10 05:39] MacConsoli commented on #58954
I'm closing this issue as it seems to be fixed at version `1.40.0-nightly`.

[2019-11-10 05:39] #58954 closed

[2019-11-10 06:04] jyn514 commented on #49146
If you need tests, I'm not sure how to get started but I am more than willing to contribute! Just let me know where the tests should go/what they should look like/what branch I should base code off of :)

[2019-11-10 07:20] kinnison commented on #65983
Oh good point about the lint/warning.  Hmm.  I guess that we really do need that independent lookaside unless we start doing daft things around embedded nulls in the docs to separate input from autogenerated resolutions, and that would be *HORRIBLE*.  I'll continue to think about possibly simpler solutions while also trying to continue to learn enough to do the "right" thing instead.

[2019-11-10 07:22] kinnison commented on #43466
@Manishearth Aha, thanks. I misunderstood the presence of something in the top comment with a tickybox as being something which had to be done.  Is there an issue capturing the desire to link to a struct's field so that it doesn't get lost if this issue is closed?  Or is there a process for splitting out remaining issues when we close a tracking issue?

[2019-11-10 07:25] Manishearth commented on #43466
We can file an issue now if you want, but basically any leftover non
blockers will be filed as issues once this is closed.

On Sat, Nov 9, 2019, 11:23 PM Daniel Silverstone <notifications@github.com>
wrote:

[2019-11-10 07:29] kinnison commented on #43466
Okay, if raising issues when this closes is the process then that's perfect.  I'm not in a rush to have that issue, I was just trying to properly understand (a) what was actually considered blocking for stabilisation, and (b) what the process was to deal with remaining things if it wasn't *all* blocking.  Thank you for clarifying things @Manishearth

[2019-11-10 08:13] Manishearth commented on #43466
Cross crate imports and documentation are the only stabilization blockers AIUI. Documentation can be done during the stabilization process.

[2019-11-10 08:14] Manishearth commented on #43466
If someone wants to add docs earlier they can be added to the unstable book, and then moved over to the reference.

[2019-11-10 08:47] JohnTitor commented on #51243
Seems fixed in the latest beta(rustc 1.40.0-beta.1 (76b40532a 2019-11-05)) and nightly
@smklein @MisieEugene @luojia65 could you check it?

[2019-11-10 09:49] ethanhs commented on #63959
FWIW I hit this on a Ryzen 3000 processor as well. I couldn't repro the code in [this comment](https://github.com/rust-lang/rust/issues/63959#issuecomment-549903146). My repro is a bit larger (sorry, I spent a couple hours minimizing as much as I could) but is essentially:

<details>
    <summary>lib.rs</summary>
[code]
</details>

<details>
    <summary>lib.rs</summary>
[code]
</details>

On a di

[2019-11-10 09:54] solb opened #66265 "As of 1.37.0, `dylib` shared libraries no longer support interpositioning of functions defined in C"
I encountered a stable-to-stable linking regression while working with a project that compiles to an x86-64 ELF shared library for Linux.  The library exports a Rust interface, but also includes some wrappers of libc functions, written in C, that need to shadow the system implementations via interpositioning.  I perform the final linking step using rustc, which works correctly under rustc 1.36.0 b

[2019-11-10 10:23] oli-obk commented on #66149
wrt to creating a global crate, we should hold up on that. Merging types where no new crate is needed is uncontroversial I believe, but adding a new crate just for this should be discussed first

[2019-11-10 10:59] GuillaumeGomez opened #66266 "rustdoc missing_doc_example lint isn't emitted anymore"

[2019-11-10 11:00] #66266 closed

[2019-11-10 12:14] marmeladema opened #66268 "Iterator and compiler auto-vectorization issue"
Hello everyone!

I've been trying to understand how can a basic byte replace loop could be substantially faster when copying the input and replacing in the copy rather than just replacing in place:
[code]

Using `criterion` crate, i wrote some benchmarks, ran them on an isolated physical core of my laptop. With the in-place version, i get a throughput of `1.3274 GiB/s` whereas with the copy versio

[2019-11-10 12:37] onsunny opened #66269 "These types are very hard to read"
These type are very hard to read~
😪😪
[code]

[2019-11-10 12:54] djc commented on #63063
Given that async/await is now available on stable, not being able to name futures returned from async functions seems like one of the bigger factors limiting where async/await can be used (without boxing). What are the remaining blockers to stabilizing this?

From the comments, it seems it has been implemented and at least some documentation has been written (though this is not reflected in the in

[2019-11-10 12:59] Centril commented on #63063
@djc Please see the associated label `F-type_alias_impl_trait`. As you can see, there are a lot of bugs and the implementation is partial. Beyond fixing *all* of those bugs, the set of tests will need to be audited, and moreover there are unresolved questions as the issue description notes.

[2019-11-10 13:09] pJunger commented on #34701
I guess one difference will/should be that `return` and `?` needs to be handled?

[2019-11-10 13:09] Lonami commented on #66268
Did you try?:

[code]

[2019-11-10 13:45] birktj commented on #56974
Now that `async fn` is stabilized, is there any news on this?

[2019-11-10 14:21] olegnn opened #66270 "Destructuring of incorrectly defined struct produces ICE"
Attempt to use destructuring on incorrectly defined struct produces ICE.
Code:
[code]

Output:
[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6f9444ac585e746128fc962ebd2c7bab)

[2019-11-10 14:31] GuillaumeGomez commented on #66210
Then just one question remain: will this lazy linking work with libcore?

[2019-11-10 15:02] petrochenkov commented on #60493
Fixed in https://github.com/rust-lang/rust/pull/66271.

[2019-11-10 15:03] petrochenkov commented on #64561
Fixed in https://github.com/rust-lang/rust/pull/66271.

[2019-11-10 15:13] CAD97 commented on #66261
NB: Running `cargo check` and then `cargo clippy` lets clippy pass.

[2019-11-10 15:18] olegnn opened #66273 "Disappointing error message when function param has the same name as const but they have different types"
**Constants must have upper case names** but

If `const` has the same type as function argument ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=903792ee9bfc62ed24576bc4670511ee))
[code]
compiler gives error
[code]
but if `const` has another type ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=064fbaa9de7afef4a8f91b63350e7f

[2019-11-10 16:16] eddyb commented on #63959
@ethanhs Does it crash during compilation? If so, it's likely because `pyo3-derive-backend` uses `syn`.

This *does not* affect all of `x86_64-pc-windows-msvc`, it hasn't been reported on any Intel CPU *nor* non-Ryzen AMD CPUs and we're not even 100% sure it's LLVM's or rustc's fault.

Part of the reason this sat for so long was that there simply aren't that many Rust developers with Ryzen hardwar

[2019-11-10 16:35] DutchGhost opened #66274 "Cargo test runs binary instead of tests"
When running `cargo test` on the following code

[code]

It outputs:
[code]
as seen, it just ran the `main` function. Is this expected behaviour?

[2019-11-10 16:41] jonas-schievink commented on #66274
Yeah, because the `#[no_mangle]` makes it shadow the actual main symbol

[2019-11-10 17:04] Lonami commented on #66270
There's no need for `struct Empty`, and there's also no need to use a non-existing field. The following also ICEs:
[code]

[2019-11-10 17:15] Mark-Simulacrum commented on #66274
I'm going to close as won't fix (loosely). no_mangle on `main` is unlikely to work well, and we can't really do much about that I suspect -- generally no_mangle is a very blunt tool.

[2019-11-10 17:15] #66274 closed

[2019-11-10 17:36] BO41 commented on #66234
Does this issue have something to do with the performance problem described in #37939?

[2019-11-10 18:24] eddyb commented on #63959
I've spent a bit more time on it and I've updated [my reduction](https://gist.github.com/eddyb/ef9d11aa9ef8a0721406a22f35a1ee33).

There's no more `unsafe` pointer iteration or lifetime juggling from `syn` left, so I think that pretty much rules out `syn` UB as the culprit.

I've also switched to `#![no_std]` and brought in `wee_alloc` instead, which seems to produce a consistent `STATUS_ACCESS_VI

[2019-11-10 18:33] nagisa commented on #66265
Related https://github.com/rust-lang/rust/issues/65610

[2019-11-10 18:45] olegnn commented on #66270
@Lonami thank you for corrections! 👍

I wanted to show that correct nested destructuring produces ICE
[code]

Field `foo` doesn't exist too because it has incorrect definition 😩

Try following code ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=74b549c1ed1438bd01c3743b9c24069c)):
[code]
<details><summary>Spoiler</summary>
<p>

[code]

</p>
</details>

Exactly

[2019-11-10 18:47] CAD97 commented on #66261
Interesting note: this works fine:

[code]

[2019-11-10 19:01] BartMassey commented on #58326
After further investigation it looks like writing directly to the underlying `File` with custom buffering is *much* faster than anything that I've been able to figure out for using `stdout()`. I'm playing with this right now; see `http://github.com/BartMassey/rust-nonstdio` for a *very* early preview of a thing. The *Background* section of the `README` has some information that is relevant here.

[2019-11-10 19:10] #29642 closed

[2019-11-10 20:02] leo60228 commented on #56974
@birktj This is fully supported in the compiler, however functions used internally by async/await are not implemented in libcore due to requiring TLS. core-futures-tls uses the unstable `#[thread_local]` attribute as an alternative.

[2019-11-10 20:11] noctune commented on #62726
I've been trying to write a `write_all_vectored` function that continuously calls `write_vectored`, but it seems like this is not really possible without some way of advancing the `IoSlice`s. This feature would be very useful in making vectored IO more practical.

[2019-11-10 21:01] rminnich commented on #66240
here is the "fix" for oreboot

`+.globl __atomic_store_16
+__atomic_store_16:
+       ret
+.globl __atomic_load_16
+__atomic_load_16:
+       ret
`

i.e. fake up no op atomic load and store for 16 bits, b/c the architecture does not support them.

You're asking the architecture to do something it can't do ... :-p

[2019-11-10 21:01] rminnich commented on #66240
sorry about the format, that's what github claims is a code copy/paste?
`
+.globl __atomic_store_16
+__atomic_store_16:
+       ret
+.globl __atomic_load_16
+__atomic_load_16:
+       ret
 .globl _stack_ptr
 .section .rodata
 _stack_ptr: .word 0x08010000
`

[2019-11-10 21:11] eddyb commented on #63959
`wee_alloc`'s reliable let me get farther with the reduction, resulting in this version, which relies on `black_box` for most of the way, and doesn't even need `wee_alloc` anymore:
[code]

[2019-11-10 22:02] birktj commented on #56974
@leo60228 so if I understand correctly, all that is required to use `async fn` on a single-core mcu with stable rust is to copy `core-futures-tls` and removing the `#[thread_local]` attribute? (Making the context global)

[2019-11-10 22:25] cavedweller commented on #56974
The underlying implementation is depending on it being thread local, it just happens to be sufficient on a MCU that you can define a how thread_local works as a Cell. (which is what core-futures-tls does) This is currently at least a little off on being able to run on stable, the TLS dependency needs to be removed from the underlying implementation.

This won't change the API hence why async/await

[2019-11-10 23:21] sietse commented on #66228
Hi estebank,

Thank you for looking at this issue.

I would enjoy that very much. I haven't been mentored on a rust issue before, so I'm a bit

I am in the latter stages of moving house, so my mode of collaboration would necessarily be quite asynchronous: reasonable periods of waiting until I can around to working/replying, punctuated by my coming back with questions / progress updates / 'I haven'

[2019-11-11 00:55] #66144 closed

[2019-11-11 01:24] Centril commented on #66270
cc @matthewjasper since you are working on `MemCategorizationContext`

[2019-11-11 01:29] Centril commented on #66210
@GuillaumeGomez Can you elaborate on that please? libcore doesn't have error codes...?

[2019-11-11 02:19] steveklabnik commented on #66099
IMHO, the former is simpler and straightforward, seems good to me.

[2019-11-11 02:25] steveklabnik commented on #66249
There has long been a suggestion for "integrate mdbook into rustdoc and/or `cargo doc`", but I cannot find the existing ticket I thought we had.

[2019-11-11 02:44] Matthias247 opened #66281 "Waker::will_wake() gets mostly defeated by executor optimizations"
The Futures `Waker` API provides a [Waker::will_wake()](https://doc.rust-lang.org/beta/std/task/struct.Waker.html#method.will_wake) method which tries to determine whether the 2 `Waker`s are equivalent. It intends to allow `Future`s so determine whether they have to swap a `Waker` or have to can keep an already stored one which is equivalent. That can avoid some churn on atomic refcounts on those

[2019-11-11 02:53] Matthias247 commented on #66281
cc @cramertj , @carllerche regarding executors

Given that maybe using `WakerRef` is not always a clear win. My understanding is that the main drawback will happen for tasks which `poll()` again even if the `Future` was not ready. Which happens mostly when using `select!` variants. Code without `select` should be good, because the task should only get woken for re-polling when progress can be made

[2019-11-11 03:27] memoryruins commented on #66269
Was this on stable `1.39.0` or  a nightly toolchain?
Can you provide an example or [playground](https://play.rust-lang.org/) that causes this error?

[2019-11-11 04:04] estebank opened #66283 "Tweak non-char/numeric in range pattern diagnostic"
We [currently emit](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=230fad5d4e84f8b6c991df8b861c2dba):

[code]

But it should be closer to:

[code]

[2019-11-11 04:06] estebank commented on #66273
The current output in nightly for the first case is

[code]

The second one has no changes.

[2019-11-11 05:59] estebank commented on #66269
CC #21934.

[2019-11-11 05:59] #65462 closed

[2019-11-11 06:11] kvark opened #66285 "Undefined symbols when cross-compiling to x86_64-apple-darwin"
### Situation

I'm trying to add a dependency to [SPIRV-Cross](https://github.com/KhronosGroup/SPIRV-Cross) for Gecko, and I'm seeing [linking errors](https://treeherder.mozilla.org/logviewer.html#/jobs?job_id=274841436&repo=try&lineNumber=37327) (with undefined symbols) *only* in the "OS X Cross Compiled asan" job (cross-compiled macosx with address sanitizer and fuzziness. Non-fuzzy (non-asan) c

[2019-11-11 06:12] ethanhs commented on #63959
@eddyb

Yes it does! I'm pretty sure that is the reason as well.

Right, I'm aware. But "guaranteed to work" reads to me that stable rustc on that platform should *always* work, perhaps that is a misunderstanding on my part?

I definitely understand. But my point is that this bug would not have entered stable if it had been marked a release blocker, and more attention would have been given to it.

[2019-11-11 06:27] DDR0 opened #66286 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value'"
The following rust code crashes `rustc 1.39.0 (4560ea788 2019-11-04) running on x86_64-unknown-linux-gnu`.

[code]
(Note, changing `Vec(u32)` to `Vec<u32>` fixes the crash.)

## Meta
Running with RUST_BACKTRACE, I get the following error message.
[code]

`rustc --version --verbose` yields
[code]

Thank you.

[2019-11-11 07:04] hellow554 commented on #66261
So why don't you open an issue at the [clippy repository](https://github.com/rust-lang/rust-clippy)?

Could you also provide a backtrace next time, please?

[2019-11-11 07:15] Manishearth commented on #21934
I and @estebank [talked a bit about this on Twitter](https://twitter.com/ManishEarth/status/1193782502923460609). This is very similar to @eddyb's approach above: https://github.com/rust-lang/rust/issues/21934#issuecomment-508515813 , with less magical query tracking.

Ideally, we should be able to do this without bloating memory usage. Some approaches for this involve storing local import informa

[2019-11-11 07:29] Centril commented on #21934
cc https://internals.rust-lang.org/t/pre-rfc-nicer-types-in-diagnostics/11139

[2019-11-11 07:34] Manishearth commented on #21934
cc @da-x, looks like you've had a similar plan :smile:

[2019-11-11 07:39] Manishearth commented on #43466
@kinnison seems like @da-x has a similar thing in progress at https://github.com/da-x/rust/commit/1856989cdf2ba2fb956fc06a1a919f099e94dc7f for #21934

[2019-11-11 07:40] Manishearth commented on #43466
See also: https://internals.rust-lang.org/t/pre-rfc-nicer-types-in-diagnostics/11139

[2019-11-11 07:51] kinnison commented on #43466
@Manishearth Oooh interesting, thank you.  I shall have to have a look when @da-x gets closer to completion.  I have plenty to be doing before I try for the better resolution, so if their work makes life easier for us, then that's excellent.

[2019-11-11 08:00] Manishearth commented on #43466
You should coordinate with them and see if there's a way y'all can work
together! It's possible their work is already sufficient for your purposes
here.

On Sun, Nov 10, 2019, 11:52 PM Daniel Silverstone <notifications@github.com>
wrote:

[2019-11-11 08:20] hellow554 commented on #66286
I reduced the proc macro to the following:

[code]

[code]

with tokens being:

[code]

[2019-11-11 08:38] da-x commented on #21934
@Manishearth, yes, though as a `rustc` newcomer my draft implementation is different. Not sure yet which one is better though.

I'm hoping to draft the RFC this or next month. Based on feedback in the pre-RFC, it would address three concerns:

1) Shorten paths only for types imported at error scope, such that all types paths printed conform to either of the two: uniform or shorted according to imp

[2019-11-11 08:49] Manishearth commented on #21934
Do we need an RFC for this? My impression is that this is purely an implementation thing, and doesn't need to go through the actual RFC process. We could do that if we wanted to add configurability (It's not clear to me that that is necessary!), but I think the right way to go would be to implement it behind an env var first and then see what the compiler team thinks.

Like, this is something most

[2019-11-11 09:15] tmiasko commented on #66281
Most executors I have seen so far tend to use a waker reference type merely to
avoid increasing the atomic reference count when creating the context.  In such
a situation a simple solution is available: use exactly the same vtable for
both a normal waker and a waker reference type.

Assume that the waker reference type does not drop the waker (so that there is
no need for special no-op drop method

[2019-11-11 09:29] pietroalbini commented on #60301
Confirmed it's working! On `nightly-2019-11-08` miri is missing.

[2019-11-11 09:32] GuillaumeGomez commented on #66210
Indeed, don't know why I recalled libcore having error codes...

[2019-11-11 09:40] #66150 closed

[2019-11-11 10:08] Centril commented on #66210
Assigning myself to do this at some point, but feel free to work-steal.

[2019-11-11 10:13] Nemo157 commented on #56974
@birktj that will not be interrupt-safe, polling a `Future` inside an interrupt would be a very weird thing to do, but without the context variable being `#[thread_local]` doing so with an `async` created `Future` would allow UB from safe code.

[2019-11-11 10:44] RalfJung commented on #55724
I am still worried about having to do this:
[code]
I saw experienced Rust compiler devs forget to call this. This is a huge footgun.

The heavy-weight approach to this would be a dedicated type for layouts where this padding has already been done -- letting the type-system track if `pad_to_align` still needs to be called. But that might be overkill.  However, I feel the least we could do is to
* C

[2019-11-11 10:48] SimonSapin opened #66287 "Stabilize `#[bench]` and `Bencher`?"
I’ll take the liberty of copying a section of @hsivonen’s [Rust 2020 blog post](https://hsivonen.fi/rust2020/):

Indeed the existing benchmarking support has basically not changed in years, and I’m not aware of anyone planning to work on it. To keep reserving the right to make breaking changes is not useful at this point. [Custom test frameworks](https://github.com/rust-lang/rust/issues/50297) off

[2019-11-11 10:53] Razican opened #66289 "Confusing error message on error [E0599]"
Hi!
I was doing some work with `async_std` when I got a confusing error message. With this minimal code:
[code]

I got this error:
[code]

If I follow the suggestion, import `futures_core` and so on, I get the following error message:
[code]

Which seems to be redundant. So, this seems not to be the issue I'm facing. What is really happening here?

[2019-11-11 11:20] srinivasreddy commented on #64844
I think we can close this.

[2019-11-11 11:23] oli-obk commented on #61397
I don't think we can really do anything here specifically other than trying to reduce memory

[2019-11-11 11:23] #61397 closed

[2019-11-11 11:27] oli-obk commented on #66234
yes. That's what inspired this optimization idea

[2019-11-11 11:35] ligurio commented on #50297
Please consider standard test output formats like Test Anything Protocol ([spec](https://testanything.org/tap-version-13-specification.html)), SubUnit ([spec](https://github.com/testing-cabal/subunit/blob/master/README.rst)) and xUnit ([spec](https://llg.cubic.org/docs/junit/)). These formats have open specifications, widely used (especially xUnit and TAP) and already supported in many test report

[2019-11-11 11:41] Centril commented on #66287
Given that "basically, the design is problematic" I'd say yes, we should have an RFC that justifies and explains the overall design (as if it was an unimplemented feature).

cc @rust-lang/dev-tools

[2019-11-11 12:08] da-x commented on #21934
@Manishearth, previously, I was requested an RFC over a smaller change - #49898, and [submitted it](https://github.com/rust-lang/rfcs/pull/2777). This one has even a larger user impact, so it only made sense to go through some RFC process, even if most of the work is implementation.

[2019-11-11 12:25] peter-wilkins opened #66291 "Tracking issue for From<NonZero*> impls for wider NonZero types"
Tracking issue to convert non-zero integer types to wider non-zero integer types when the underlying type supports the conversion.

For example:
[code]
becomes
[code]

[2019-11-11 12:55] #55596 closed

[2019-11-11 13:01] hellow554 commented on #66291
@rustbot modify labels: C-tracking-issue T-lang

[2019-11-11 13:02] lzutao commented on #53268
#66292 is adding `map_or`. Feedback welcomed.

[2019-11-11 13:07] lzutao opened #66293 "Tracking issue for `Result::map_or`"
PR #66292 added `Result::map_or` with implementation:
[code]

[2019-11-11 13:25] elichai commented on #63590
I think this issue can be closed Now that https://github.com/rust-lang/rust/pull/64326 is merged :)

[2019-11-11 13:31] elichai commented on #58905
I think raw arrays should be marked as `improper_ctypes`. arrays should be passed by ref/pointer.

[2019-11-11 13:33] #63590 closed

[2019-11-11 13:39] CAD97 commented on #66261
I'm on windows-mingw so my backtrace is next to useless.

And to be honest, I forgot the clippy had a separate issue tracker after being upgraded to directly integrated with `cargo check`.

And ugh, how/why is the playground link wrong....

[2019-11-11 13:51] elichai commented on #46034
Can be closed now that https://github.com/rust-lang/rust/pull/49212 is merged :)

[2019-11-11 14:39] onsunny commented on #66269
my code had rewrite, this is another error , they are similar

[https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=701196c653a5818b4caacc00d68a885f](url)

[2019-11-11 14:40] weiznich opened #66295 "`unused_parens` triggers on macro by example code."
The latest beta contains a new? l`unused_parens` lint that triggers on macro by example code. This does not necessarily make sense because macros could be used to construct nearly arbitrary custom syntax for example something requiring to wrap a single element into a parenthesis.
The strange thing here is that seems to only happen on beta, not on nightly, not on current stable.

Found via [the die

[2019-11-11 14:45] msizanoen1 commented on #62558
Should be fixed by #66207

[2019-11-11 14:53] onsunny commented on #66269
i just think these types are very hard to read,  can it be optimized?

example , if I `use std::sync:Arc`, the error message about type Arc will be replace to `Arc`, not `std::sync::Arc` ... or
The generic can be display to next line
[code]

[2019-11-11 14:59] hellow554 commented on #66295
My head can't come up with an example that requires parantheses. `macro_rules!` macro are hygenic, so there should be no problem in ommiting the parantheses and just writing `primary_key = id` will be fine.

Can you give me a counter example?

[2019-11-11 15:11] alexcrichton commented on #66287
I'd like to paste parts of [this comment here](https://github.com/rust-lang/rust/issues/48043#issuecomment-544581895):

I would ask again that the justification for stabilization has "it's not been touched for years" only taken as an input of whether to start the stabilization process, not an implicit ratification that the current design is "obviously good enough because no one has changed it".

T

[2019-11-11 15:16] eddyb commented on #63959
I think I'll stop editing my previous comment (https://github.com/rust-lang/rust/issues/63959#issuecomment-552234597).

In the final version I've numbered the `evil{1,2,3,4}` variables, because they're all copies with the same value, except I can't seem to be able to simplify their weird scoping without the bug going away.

Initially I attributed the sensitivity to scoping to MIR drop order, but w

[2019-11-11 15:19] #64844 closed

[2019-11-11 15:27] jonas-schievink commented on #66291
Impls don't need tracking issues as they cannot be unstable

[2019-11-11 15:27] #66291 closed

[2019-11-11 15:28] jonas-schievink commented on #66269
This is a duplicate of #21934, so closing in favor of that

[2019-11-11 15:28] #66269 closed

[2019-11-11 15:34] reuvenpo commented on #47429
This issue hasn't been active in almost two years, and so have the issues linked here. Is there any intention of resuming work on this? It's mostly a small papercut because currently when crashing, programs suggest:

and after setting that, also claim that:

even though no details were omitted at all (which is the issue of course)

[2019-11-11 15:54] weiznich commented on #66295
@hellow554 A real world example is the diesel [`table!`](https://github.com/diesel-rs/diesel/blob/a8b52bd05be202807e71579acf841735b6f1765e/diesel/src/macros/mod.rs) macro. Somewhere in the inner it does some clever things to support plain types and tuples by just saying `($($some_ty),+)` where `$some_ty` is some repeated type variable. Depending on the number of actual types there this will result

[2019-11-11 16:12] Manishearth commented on #66287
Note that we already have a landed eRFC for custom test frameworks, and
some implementation work there. It would be nice to focus efforts on
getting that finished.

On Mon, Nov 11, 2019, 7:12 AM Alex Crichton <notifications@github.com>
wrote:

[2019-11-11 16:16] Manishearth commented on #21934
This one has a larger user impact, but a smaller design one: that one was
changing the actual UI layout which has been very carefully designed. Full
paths in diagnostics, on the other hand, are not an intentional part of the
design, and everyone has wanted to fix it forever. I'd start experimenting
first and make an rfc if the compiler team asks you to, not the other way
around.

(I'll point out t

[2019-11-11 16:31] SimonSapin commented on #66287
@Manishearth Yes, this proposal specifically does not involve opening a design discussion beyond small API-surface-only tweaks, so as to not divert efforts and limited team bandwidth from custom test frameworks or other work areas. (And I don’t feel up to personally leading such a discussion at the moment.)

[2019-11-11 16:39] Manishearth commented on #66287
Oh, yeah, I agree, I actually think we should find a path for stabilizing bench itself at this point.

One thing I will point out is that a _lot_ of people want some form of bench framework (and are likely willing to put in the work to design and stabilize just that), whereas far fewer people want custom test frameworks, and the work for that is proportionally larger.

I don't want to say that the

[2019-11-11 16:47] CAD97 commented on #55724
Automatically padding to align or requiring padding to align is probably not desirable. Consider something like Swift's decoupled size/stride; it's not _incorrect_ to have a layout without trailing padding to align, it's just that this is the common default for both `repr(C)` and `repr(Rust)` (any representation where size=stride).

[2019-11-11 16:54] EkardNT commented on #51774
I'm struggling to see how that workaround would apply to use-cases for mutually-exclusive trait bounds. For example, suppose I'm trying to write code that allows any value to be converted to a future, with intelligent handling for values that are already futures.

[code]

I need this functionality for my [implicit_await](https://crates.io/crates/implicit-await) crate. I've tried every approach I c

[2019-11-11 16:55] RalfJung commented on #55724
Ever decoupling this for real in Rust will be near impossible due to lots of unsafe code already assuming size == stride. But yes.

Just make it `repr_c(fields: &[Layout])`, no need to allocate. Or `repr_c(fields: impl IntoIter<Item=&Layout>)` if you want to be fancy.

[2019-11-11 17:08] jrmuizel commented on #66285
cc @michaelwoerister

[2019-11-11 17:10] CAD97 commented on #55724
Sorry, I had a typo there. ``fn repr_c` wants to provide the offsets of the fields, which requires returning an array or an out parameter for the space. [Here's a potential const-generic impl:](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=eff2b0ed908a9c33d046d563b7a1e6b3)

[code]

[2019-11-11 17:11] rust-highfive opened #66300 "`clippy-driver` no longer builds after rust-lang/rust#66252"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#66252, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @cjgillot, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @oli-obk, the PR reviewer, and nominating

[2019-11-11 17:11] rust-highfive opened #66301 "`miri` no longer builds after rust-lang/rust#66252"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#66252, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @cjgillot, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @oli-obk, the PR reviewer, and nominating for compiler tea

[2019-11-11 17:25] sallyyu0 commented on #56995
Hello, I'm getting this error suddenly which points to this issue. Any clue how to fix it? Thanks!

   Compiling lock_api v0.3.1
error[E0658]: use of unstable library feature 'iter_nth_back'
   --> /home/zzz/.cargo/registry/src/github.com-1ecc6299db9ec823/ipnet-2.1.0/src/ipext.rs:638:5
    |
638 | /     fn nth_back(&mut self, n: usize) -> Option<Self::Item> {
639 | |         match *self {
640 | |

[2019-11-11 17:36] Manishearth commented on #66300
https://github.com/rust-lang/rust-clippy/pull/4805

[2019-11-11 17:45] kvark commented on #66285
I tried to narrow down the issue a bit more by consequently building the crates between `libspirv-cross-rust-wrapper.a` and `libgkrust.a` with forced "--crate-type staticlib", so that I can inspect  their symbols. Here is the chain I tested:

Interestingly, the spirv-cross objects were correct up to the last step, the command for which was
[other-command.txt](https://github.com/rust-lang/rust/file

[2019-11-11 17:46] Aaron1011 opened #66303 "Add `RUST_BACKTRACE=full` to CI Docker images"
Currently, none of the CI docker builders have backtraces enabled. This can make debugging a failed PR very time consuming - since the panic message itself is often useless, it can be necessary to run the entire CI script locally to generate a proper backtrace.

If all of the CI images had backtraces enabled, it would be possible to get a backtrace directly from the logs, saving PR authors a signi

[2019-11-11 17:50] thomasetter opened #66304 "Better error messages for #[should_panic] tests with expected strings"
When running this test ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e6077d5cc62bfc0602db8253f0effbec)):
[code]

the output is
[code]

which makes it hard to spot the difference in whitespace characters.

Would it be possible to change this to e.g.:
[code]

This would improve the usability when running into these kinds of test failures and also make it more

[2019-11-11 18:07] GuillaumeGomez commented on #66210
I'll give it a try then. :)

[2019-11-11 18:30] SimonSapin commented on #66287
"It hasn't been touched for years" isn’t an argument for stabilization, it’s a sign that that more time as unstable is unlikely to lead to improvements to this benchmarking framework. Instead, I suspect that improvements will come as something entirely new that can be used through custom frameworks.

I think this leaves two realistic outcomes for `#[bench]`:

* It is eventually removed, perhaps af

[2019-11-11 18:32] alexcrichton commented on #66285
I unfortunately don't know a lot about sanitizers on OSX or sanitizers in general. This may or may not be related to https://github.com/rust-lang/rust/issues/66140, but unfortunately I don't think I'll be much help here.

[2019-11-11 18:37] dhardy commented on #31844
A very simple example (simplification of [above example](https://github.com/rust-lang/rust/issues/31844#issuecomment-527371013)) which fails:
[code]
I don't believe this hits the problem identified with [lattice rules](https://github.com/rust-lang/rfcs/blob/master/text/1210-impl-specialization.md#the-lattice-rule), however perhaps an overly simplistic solver thinks it does?

Without this, the curr

[2019-11-11 19:02] sallyyu0 opened #66307 "ipnet build error"
Getting following errors today, any ideas please?

Compiling lock_api v0.3.1
error[E0658]: use of unstable library feature 'iter_nth_back'
--> /home/zzz/.cargo/registry/src/github.com-1ecc6299db9ec823/ipnet-2.1.0/src/ipext.rs:638:5
|
638 | / fn nth_back(&mut self, n: usize) -> OptionSelf::Item {
639 | | match *self {
640 | | IpAddrRange::V4(ref mut a) => a.nth_back(n).map(IpAddr::V4),
641 | | IpAd

[2019-11-11 19:16] cuviper opened #66308 "SIGSEGV compiling num-integer for asmjs-unknown-emscripten"
On current num-integer master (commit f0e329af1195), rustc nightly and beta both crash when targeting `asmjs-unknown-emscripten`. Stable is fine.

[code]

[code]

[code]

[code]

(The inline attribute warning is irrelevant to success/failure, but I'll clean that up separately.)

cc @mashedcode rust-num/num-integer#28

[2019-11-11 19:22] cuviper commented on #66308
<details>
  <summary>GDB backtrace of the SIGSEGV thread on nightly:</summary>

[code]
</details>

[2019-11-11 19:36] rkruppe commented on #62765
#66111 did this for slices

[2019-11-11 19:59] sfackler commented on #66307
That method was stabilized in the 1.37 release. You'll need to update your Rust distribution.

[2019-11-11 20:09] #66307 closed

[2019-11-11 20:11] RalfJung commented on #55724
Oh I see. Yeah that's kind-of annoying...

[2019-11-11 20:15] RalfJung commented on #62765
Well it did it in `from_raw_parts`. I wonder if the top-level module and/or primitive type documentation should also have a section on this? It doesn't talk about data layout at all so far.

I didn't do anything for `str` as there is no `from_raw_parts` for them.

[2019-11-11 20:27] TimoFreiberg commented on #66289
The error message is not that helpful, but the problem is that [poll_next](https://docs.rs/async-std/1.0.0/async_std/stream/trait.Stream.html#tymethod.poll_next) takes a `Pin<&mut Self>`, not a `Self`.

Adding the `unstable` feature and changing the function signature to
[code]
, I get the following error:

[code]

Which makes sense as `poll_next` also takes a `&mut Context` argument.

[2019-11-11 20:43] hellow554 commented on #66291
My fault. Sorry for this! 😕

[2019-11-11 20:55] Matthias247 commented on #66281
@tmiasko You are right, the vtable currently mostly seems to be different for `drop()`, and it could be worked around by using the same `drop` - and by forgetting the `WakerRef` instead of dropping it. So that seems to be a workaround for the time being.

It's obviously a bit hacky - since you get a memory leak if you forget the `forget` - but since `WakerRef`s and executors are very tightly coupl

[2019-11-11 20:58] tguser402 opened #66312 "async fn presence affects an unrelated error message"
[The following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=644b221be2db7b0ea743b77121ac8e48)
[code]
produces an expected error:
[code]
[If I make `f` async](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=727440af75208f2e3f8b49c129e0f719),
[code]
the original error is replaced with this:
[code]
## Meta

`rustc --version --verbose`:
[code]

[2019-11-11 21:09] jonas-schievink commented on #66312
Nominating because:

* The trait impl does not exist, the compiler hallucinated it into existence
* Inherent methods are supposed to take precedence over trait methods

This might indicate a quite serious bug in the compiler.

[2019-11-11 21:12] mashedcode commented on #66308
Thanks @cuviper. Minimal reproducible test case:
[code]

[2019-11-11 21:18] TimoFreiberg commented on #22750
I'm interested in working on this. I already have a very tentative approach [here](https://github.com/rust-lang/rust/compare/master...TimoFreiberg:trait-name-report), but I'm struggling a bit.
I hope the approach is understandable (find all traits with the same name/path as the expected but unsatisfied one, if one of those is implemented by the type, give helpful diagnostics).

[2019-11-11 21:21] cuviper commented on #58957
Yes, as long as it borrows from the `IterMut` itself, not its parameterized lifetime, `as_slice_mut` should be fine. I guess for mutable pairs, you mean something like this?

[code]

[2019-11-11 21:21] danw8 opened #66313 "format! argument rustc panics with index out of bounds"
## Summary
Attempting to use the format argument N as the precision without correct number of arguments causes the compiler to panic.

I tried this code:

[code]

I expected to see an error message informing me of using format!() incorrectly

Instead, I got a compiler panic.
[code]

## Meta

`rustc --version --verbose`:
[code]

Backtrace:
[code]

[2019-11-11 21:30] jonas-schievink commented on #66313
Possible duplicate of https://github.com/rust-lang/rust/issues/66065, please check whether this occurs on the newest nightly as well

[2019-11-11 21:36] danw8 commented on #66313
This is fixed in the #66065

[2019-11-11 21:36] #66313 closed

[2019-11-11 21:49] matthewjasper opened #66315 "LLVM assertion from pointer arithmetic on i686-pc-windows-gnu"
The following code, when compiled with opt level of 2 or higher results in an llvm assertion (if they're enabled) on i686-pc-windows-gnu.

[code]

<details>

<summary>llc backtrace when compiling the --emit llvm-ir output</summary>

[code]

</details>

[2019-11-11 21:55] clarfon commented on #56995
Are you using an up to date nightly?

[2019-11-11 22:13] elichai opened #66316 "Null fat pointers"
Hi,
Currently if you want a null fat pointer you need to do something like this:
[code]
which isn't fun and take a while to find.
I see 2 ways of implementing this in libcore:
1:
[code]

2. (Which I think is better because it doesn't bloat more functions)
[code]

The problem is that the second currently isn't possible in a `const fn`. it requires making both `zeroed()` and `assume_init()` `const f

[2019-11-11 22:19] peter-wilkins commented on #66291
No worries, I learned something. :smiley:
Is the PR still OK referencing this issue?
[code]

[2019-11-11 22:26] jonas-schievink commented on #66291
@peter-wilkins You can mark those impls as stable (since the current nightly version)

[2019-11-11 22:27] matthewjasper commented on #66270
This is fixed by #66246. I'll add a test for this tomorrow.

[2019-11-11 22:42] mati865 commented on #66315
I don't think it's windows-gnu specific: https://bugs.llvm.org/show_bug.cgi?id=43529
I'll try backport the fix.

[2019-11-11 22:44] cuviper commented on #66316
We have previously decided that Rust's `is_null()` should only depend on the data pointer -- see the discussions in #44932, #46094, and https://github.com/rust-lang/rfcs/issues/433#issuecomment-345495505. The "fat" part of a pointer is trivial for slices, where a 0 length will do fine, but a trait object pointer always needs to have a valid vtable.

[2019-11-11 22:50] elichai commented on #66316
@cuviper
Are you telling me that `*mut Trait` with a null vtable is UB?

But that's a raw pointer. It should only be UB when dereferenced @eddyb

[2019-11-11 22:55] cuviper commented on #66316
See also https://github.com/rust-lang/unsafe-code-guidelines/issues/166

[2019-11-11 23:07] elichai commented on #66316
Github should add a facepalm emoji

[2019-11-11 23:37] mati865 commented on #66315
Opened https://github.com/rust-lang/rust/pull/66318 which waits for `bors try` (I don't have permission).

[2019-11-11 23:45] koalatux commented on #56995
`nth_back()` has been stabilized in Rust 1.37.0, have you tried updating to a recent version of Rust?

[2019-11-12 00:21] talchas commented on #58957
Yeah, exactly that.

[2019-11-12 00:31] kvark commented on #66285
Removing "-Clto" makes it work :tada: . As a side note, compiling time (for the ".a" module specifically_ is 2 seconds versus something like 5 minutes... Do we have somebody familiar with LTO linking issues?

[2019-11-12 01:27] KatsuoRyuu commented on #53268
I'm sorry but this implementation of map_or_else is incredibly annoying as it differs from Option.
When the original issue says:

and the parameters are then switched, is mildly said absurd! - keep things consistent!

[2019-11-12 01:29] gurry opened #66320 "Undefined Symbols While Compiling to x86_64-unknown-uefi"
I'm trying to compile [this crate](https://github.com/garasubo/uefi-practice) to the x86_64-unknown-uefi target and getting errors at link time. `rust-lld` seems not to be able to find symbols `__sync_val_compare_and_swap_16` and `__sync_lock_test_and_set_16`. I believe they are compiler intrinsics, so perhaps they should've come from rustc or the compiler_builtins crate.

**Build commandline used

[2019-11-12 01:36] #66300 closed

[2019-11-12 01:52] gfreezy commented on #45402
As of rust 1.39, is this problem resolved by nll ?

[2019-11-12 02:08] mathstuf commented on #53268
Oof. Indeed. Not only are they switched from `Option`, but they're backwards from the name too. I really hope it's not too late. Does it need a new feature gate name or is that considered "nightly problems" too?

[2019-11-12 03:12] lzutao commented on #53268
Stabilization PR in #66322

[2019-11-12 04:11] jebrosen commented on #66251
Using https://github.com/jebrosen/rust-lang-66251 (the initial commit here) as a smaller reproduction example:

[code]

This only occurs when the secondary file is not in the current crate, and certain operations (e.g. renaming directories) cause the secondary file to not be shown at all until a `cargo clean`.

[2019-11-12 05:58] kennytm commented on #46034
@elichai As explained in the PR you need to pass `-Zstrip-debuginfo-if-disabled=yes` to `rustc` to take effect.

[2019-11-12 07:22] Centril commented on #66312
I would suggest stable- and beta-nominating the fix for this PR; it seems like this could warrant a point release. cc @rust-lang/release @rust-lang/lang

[2019-11-12 08:34] BartMassey opened #66324 "unused_labels should be reported as warnings"
A long while back there was Issue #50751 which pointed out that the compiler was not linting for unused break labels. This resulted after a lot of fantastic hard work in PR #50763 which added the `unused_labels` lint.

At the time, the lint was set to `allow` by default. The consensus was that there would need to be a review and a crater run before it was changed to `warn`. Issue #50751 was closed

[2019-11-12 08:34] BartMassey commented on #50751
See Issue #66324 for an attempt to revive the change to have the lint `warn` by default.

[2019-11-12 08:38] Centril commented on #66324
Seems reasonable; want to file a PR? cc @rust-lang/lang

[2019-11-12 08:52] BartMassey commented on #66324
Working…

[2019-11-12 09:01] hellow554 commented on #66295
So somehing like this:

[code]

You're right. The question is: should we remove the lint for all macros? Only for macros that contain repetitive expansions? (Is that even possible to detect?)

[2019-11-12 09:02] BartMassey commented on #66324
OK, PR #66325 is in the queue. Let me know if I need to do something different. Thanks!

[2019-11-12 09:09] JohnTitor commented on #51243
Closing as fixed.
If you still have the problem, feel free to re-open this!

[2019-11-12 09:09] #51243 closed

[2019-11-12 09:12] hellow554 commented on #66295
@rustbot modify labels: A-lint T-compiler

[2019-11-12 09:13] pietroalbini commented on #66312
@rustbot modify labels: beta-nominated stable-nominated

[2019-11-12 09:20] Centril commented on #66312
Phew; looks like precedence works correctly in non-error code at least:
[code]

Crisis averted? :)

[2019-11-12 10:25] pnkfelix commented on #59535
Its absolutely allowed. See:

https://doc.rust-lang.org/stable/book/ch05-03-method-syntax.html#multiple-impl-blocks

[2019-11-12 10:32] therealprof commented on #59535
@pnkfelix Yes, I have learned that last weekend in Barcelona and makes sense to me. Should have updated my comment to not waste your time, sorry about that.

It's still kind of weird that Rust accepts multiple identical `impl`s. That sounds like something which should possibly be at least a lint.

[2019-11-12 10:35] pnkfelix commented on #59535
Current status: using `-C save-temps` and `llvm-dis`, I have been inspecting the contents of the distinct codegen units that `rustc` generates.

As a reminder, the undefined symbol is: `_$LT$rubble..ble..Duration$u20$as$u20$core..fmt..Display$GT$::fmt::hcaf51ebe05a39b3b`,  (referenced by `mks4f5lxe2i4sqc` in `/tmp/issue59535/out/rubble2/rubble.mks4f5lxe2i4sqc.rcgu.o`). So searching for `hcaf51ebe0

[2019-11-12 10:42] pnkfelix commented on #59535
Well, multiple identical *non-trivial* `impl` blocks is impossible: You get "duplicate definition" errors.

And multiple non-identical `impl` blocks is useful, e.g. for code-grouping. As mentioned in a very recent tweet:

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">rust documentation code layout idea: group functions together in separate impl blocks, even if the blocks have the same t

[2019-11-12 11:22] fenhl commented on #59308
I've run into a similar issue and have been able to work around it using `cargo clean`.

[2019-11-12 11:38] #65808 closed

[2019-11-12 12:57] pnkfelix commented on #59535
More data, after adding some `debug!` instrumentation:

The module `rustc_mir::monomorphize::partitioning` has `fn internalize_symbols`, which tries to mark symbols internal that are only referenced by the current codegen unit.

The first (i.e. clean) run does not mark `rubble[317d]::ble[0]::{{impl}}[0]::fmt[0]` as internal, because it has these two accessors:
 * `Fn(Instance { def: Item(DefId(0:1

[2019-11-12 13:33] pnkfelix commented on #59535
More data after adding instrumentation of the codegen units involved: The codegen unit that contains the unresolved reference is named `mks4f5lxe2i4sqc`. It has a single fn item (one of the `fmt` fns), and that fn item accesses `rubble[317d]::ble[0]::{{impl}}[1]::fmt[0]`.

Note that `rubble[317d]::ble[0]::{{impl}}[1]::fmt[0]` (which belongs to codegen unit `3bvob4s3e3jl7a31`) has previously been f

[2019-11-12 13:34] lzutao commented on #66244
* root: floriama/agents: [start](https://crater-reports.s3.amazonaws.com/beta-1.40-1/1.39.0/gh/floriama.agents/log.txt) v. [end](https://crater-reports.s3.amazonaws.com/beta-1.40-1/beta-2019-11-06/gh/floriama.agents/log.txt); cc @floriama
 * root: arg_combinators-0.6.0: [start](https://crater-reports.s3.amazonaws.com/beta-1.40-1/1.39.0/reg/arg_combinators-0.6.0/log.txt) v. [end](https://crater-rep

[2019-11-12 13:48] sdroege commented on #66244
This is for an old version of the `gstreamer` crate and already fixed since many months in the newer versions. The crates using the old version will have to update.

[2019-11-12 13:56] lzutao commented on #66244
root: thrussh - 3 (2 gh, 1 crates.io) detected crates which regressed due to this; cc @P-E-Meunier
<details>

 * async-ssh-0.1.2: [start](https://crater-reports.s3.amazonaws.com/beta-1.40-1/1.39.0/reg/async-ssh-0.1.2/log.txt) v. [end](https://crater-reports.s3.amazonaws.com/beta-1.40-1/beta-2019-11-06/reg/async-ssh-0.1.2/log.txt)
 * MggMuggins/thrussh-example-code: [start](https://crater-reports.s

[2019-11-12 14:05] epage commented on #66244
These are using liquid 0.18.  0.19 has this issue fixed.

[2019-11-12 14:14] SimonSapin commented on #66244
**TL;DR**: NLL-only error, upstream already has a fix, nothing to do here.

----

I looked at the “end” log for a dozen of those at semi-random. They all have:

And they are all for the same borrowck error that was fixed in https://github.com/servo/rust-url/pull/454 which was published in https://crates.io/crates/url/1.7.1 last year.

Running `cargo update -p url` in those project should be enough

[2019-11-12 14:20] Cobrand commented on #66244
This is a probably a false positive, this error is caused by the fact that test runs in sdl2 can't be run in parallel. We have the `RUST_TEST_THREADS=1` env variable for our travis tests, but obviously it isn't picked properly by crater, and I don't know of a way to explicitly mention this in Cargo.toml, let alone crater itself.

[2019-11-12 14:21] tailhook commented on #66244
`rotor` and `rotor-tools` are stale and should not be used any more (I might need to yank it?). But they trigger internal compiller error (ICE) which should be important to fix nevertheless.

[2019-11-12 14:28] Mark-Simulacrum commented on #66244
Please don't triage crater runs on this issue, otherwise we're likely to forget to follow up. File new issues (possibly closed immediately) instead.

[2019-11-12 14:57] euclio commented on #60349
I'm working on this. I have local builds of the aforementioned crates that allows completely migrating over to termcolor.

I've opened retep998/winapi-rs#831 as a first step, but it's blocked until winapi can upgrade its MSRV in 0.4.

Also, as mentioned in the #63725, we'll need to fix kennytm/fwdansi#1 before upgrading the termcolor version.

[2019-11-12 15:26] euclio commented on #64147
Yeah, seems to work fine now. Closing.

[2019-11-12 15:26] #64147 closed

[2019-11-12 15:48] ExpHP commented on #66316
There's more than just dereferencing to worry about here.  It would appear to me that, by requiring the vtable pointer to be non-null, we enable a niche optimization on `Option<NonNull<dyn Trait>>`.

[2019-11-12 15:54] alexcrichton commented on #66192
@nagisa 98.962% of the time is spent in user mode, so I don't think this is a kernel difference thing. @mati865 as mentioned while possible that's historically only related to startu ptime. @ojeda given that rustc creates very few files, I suspect that is not the issue.

[2019-11-12 15:56] #66315 closed

[2019-11-12 15:59] davidhewitt opened #66332 "Compiler error doesn't show full query chain when evaluating const cycle"
Consider the following code (both on stable 1.39.0 and nightly)

    trait Const {
        const A: i32 = Self::B;
        const B: i32 = Self::A;
        const C: i32 = Self::A;
    }

    impl <T> Const for T {}

    pub fn main() -> () {
        dbg!(i32::C);
    }

There's a cycle evaluating the constants `C -> A -> B -> A -> ...`

The `dbg!(i32::C)` line is the offending code which causes thi

[2019-11-12 16:03] SimonSapin commented on #66244
If replying to a comment that @-mention people is not the expected response from those people, instructions should be at the top of the template for those comments.

This sounds like busywork, when there’s nothing more to do.

If you really want one issue for each root regression, consider filing them as soon as the regressions are found and @-mentioning crate maintainers there instead of in a thr

[2019-11-12 16:15] Mark-Simulacrum commented on #66244
Hm, this seems to be coming from a point of confusion -- this issue is not intended to be anything more than a place to run craterbot from. The template for that comment is from a ad-hoc tool intended for mostly internal use, not for direct posting in most cases. I agree that the UX here could be better, but to be honest, it's unexpected that someone just goes in to triage a crater run without ask

[2019-11-12 16:20] SimonSapin commented on #66244
@-mentioning someone in a GitHub issue signals an expectation of them to respond or take action in some way.

If no response at all is expected of them, crate maintainers should not be @-mentioned like in https://github.com/rust-lang/rust/issues/66244#issuecomment-552903470

[2019-11-12 16:22] asb commented on #66240
Copying comment from https://github.com/oreboot/oreboot/issues/183#issuecomment-552965077
CC @lenary
In the GCC world this symbol is provided by libatomic rather than libgcc directly. In the LLVM world, compiler-rt provides the symbol. Rust should either use a RISC-V compiler-rt or if using libgcc it should link libatomic as well.

[2019-11-12 16:42] lenary commented on #66240
Yeah. This issue comes up every so often, especially more recently.

The RISC-V "A" extension only introduces instructions for 32- and 64-bit atomic operations. If you need up-to-32-bit atomic operations (ie, 8-bit or 16-bit atomic operations), then you have to link with `-latomic` if using gcc's compiler builtins (because libgcc and libatomic are separate libraries).

LLVM's compiler-rt is a slig

[2019-11-12 17:13] Mark-Simulacrum commented on #66244
Yes, my comment was primarily directed towards the original comments -- i.e., https://github.com/rust-lang/rust/issues/66244#issuecomment-552895213 -- rather than your response, sorry for not making that clear.

[2019-11-12 17:37] mark-i-m commented on #38686
@pnkfelix I'm attempting to use your patch above, but I'm not sure I understand where/when those outputs would occur. I am running `./x.py build -vv`. Do I need to rebuild rustc to see anything?

[2019-11-12 18:07] nikomatsakis commented on #66312
@rustbot assign @csmoe

[2019-11-12 18:13] nikomatsakis commented on #66198
This example is indeed behaving as expected. The problem here, @madmaxio, is maybe more clear if we expand the signature:

[code]

Here the problem is that the argument lifetime (`'a`) is not in scope for the type `Fut`, so it can't be part of that type. You could refactor this to:

[code]

but that might not work well with the overall design. I'm going to close the issue, in any case, as "working

[2019-11-12 18:13] #66198 closed

[2019-11-12 18:18] nikomatsakis commented on #66107
The error is correct, so what we are looking for here is a diagnostic improvement. The problem is that `async { *a }`, much like a closure, defaults to borrowing `a` in place -- so when we try to return, it has a reference to `a` as `a` is going out of scope.

To fix the error, you need `async move` ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1ac9f7457fc3

[2019-11-12 18:19] nikomatsakis commented on #66107
Marking this as OnDeck since it seems like this might be a common mistake, and I think the fix should be relatively straightforward.

[2019-11-12 18:34] bytwise opened #66339 "ICE in const_prop.rs:633: 'index out of bounds: the len is 1 but the index is 1'"
This code results in an ICE when compiling using `-Z mir-opt-level=3`.
[code]

[code]

[2019-11-12 18:36] SimonSapin commented on #66244
Oh, the formatting of that comment looks so systematic that I assumed it’s (semi-)automated and part of the triage process.

[2019-11-12 18:44] Centril commented on #66339
cc @wesleywiser @oli-obk

[2019-11-12 18:52] lucidBrot opened #66340 "Attribute "[deprecated()]": thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value'"
### Steps to Reproduce
[code]

[code]

### Compiler Output A
This happens when you run above code without calling `foo();`.
[code]

### Compiler Output B
This happens when you run above code verbatim.
[code]

### Expected Behaviour
I would expect Compiler Output A in both cases.

### Backtrace
[code]

### Environment
Win10, cygwin
[code]

### Why Would You Even Do This?
I had no internet connectio

[2019-11-12 18:58] Mark-Simulacrum commented on #66244
It is -- https://github.com/Mark-Simulacrum/crater-generate-report/ -- but not intended to be used like this, more so to create a doc locally to work through.

[2019-11-12 19:19] ecstatic-morse opened #66342 "Spurious x86_64 Windows CI failures due to OOM"
A MSVC x86_64 bors job has failed on two unrelated PRs (#60026, #66170) with the [same error](https://dev.azure.com/rust-lang/rust/_build/results?buildId=13383&view=logs&jobId=10c53b70-9ae7-511a-b369-2febdb4c7298&taskId=b1d84b67-447f-5eeb-2a71-5fe302881ad5&lineStart=10490&lineEnd=10490&colStart=1&colEnd=7):

[code]

In both cases, `cargo build` attempted to allocate several GB of memory while comp

[2019-11-12 19:29] parched commented on #66320
Should be fixed once compiler_builtins is updated to include this fix https://github.com/rust-lang/compiler-builtins/pull/324

[2019-11-12 19:33] stevenroose opened #66343 "cargo install --frozen tries to access the internet despite vendoring"
`cargo install --frozen` with a vendor directory set in `.cargo/config` is updating the crates-io index while it shouldn't do that.

This can currently be solved with `--offline`, but it should not attempt reach out to the internet with `--frozen`.

Also, `--offline` doesn't exist before v1.36.0.

[2019-11-12 19:55] Mark-Simulacrum commented on #66342
I wonder if we could get a backtrace or something from this allocation -- it seems... suspicious that we're only sometimes OOMing.

It's also interesting to note that this is almost exactly 4 GB in a single allocation, which is surprising generally (`hex` is not a big crate -- 300 lines or so, with comments etc).

[2019-11-12 19:58] ecstatic-morse commented on #66342
On my PR it was a different power of two:

[code]

[2019-11-12 20:03] ExpHP commented on #66343
Neither would any change to this behavior... :P

[2019-11-12 20:06] sfackler commented on #66343
This should be filed on the rust-lang/cargo repository.

[2019-11-12 20:06] #66343 closed

[2019-11-12 20:10] stevenroose commented on #66343
Sorry. Created https://github.com/rust-lang/cargo/issues/7584.

[2019-11-12 20:18] therealprof commented on #51540
@NickeZ It's been brought up every now and then, e.g. just now in our Embedded WG meeting. ;)

[2019-11-12 20:24] Lokathor commented on #51540
It seems like something simple that should be able to stabilize practically "today"?

[2019-11-12 20:46] SimonSapin commented on #66079
Is the tool’s name an arbitrary identifier, that doesn’t necessarily map for example to any crate name?

[2019-11-12 21:07] SimonSapin commented on #51540
@rust-lang/lang @rust-lang/libs How would you feel about making `#[alloc_error_handler]` default to panic? That is, when libstd (which defines a `#[alloc_error_handler]`) is not linked and no other crate defines a handler, do as if this was defined:

[code]

(This panic message matches what libstd’s default allocation error hook (https://github.com/rust-lang/rust/issues/51245) prints before aborti

[2019-11-12 21:10] bytwise opened #66345 "passing reference to field of by-value struct causes ICE with mir-opt-level=3"
[code]

[code]

[2019-11-12 21:12] #65909 closed

[2019-11-12 21:12] #65910 closed

[2019-11-12 22:07] madmaxio commented on #66198
Thank you guys for the reply. I'm passing parameter by move now. Makes sense borrowing is not allowed here.

[2019-11-12 22:38] Diggsey opened #66348 "Reduce size of `target` directory"
The size of the `target` directory is becoming a severe problem for me. I use rust at work, and we have many services written in rust. The `target` directory for each service is typically 2-3 GB for a fresh build, and increases without bound due to the lack of GC, so that after a short period you're looking at 4 GB per service.

For reference, the final size of the musl-based statically compiled b

[2019-11-12 23:46] eddyb opened #66352 "Investigate replacing query Providers structs with trait objects."
Part of the motivation here is that for non-local crates, we right now have to go through `dyn Any` to actually get access to per-crate data, whereas if `Providers` were replaced with a trait object, the implementer would have direct access to any private data they may happen to need.

<hr/>

However, `Providers` is really handy in that we can construct it at runtime, piece by piece, but there is

[2019-11-13 00:04] azriel91 opened #66353 "ICE when using reference variable from iterator (instead of copying it): thread 'rustc' panicked at 'already borrowed: BorrowMutError'"
When using zipped iterators in a certain section of code, I hit an ICE.

I've attached the project source -- sorry I could not produce a minimum example though I tried. Also, it's closed source, though I own it so can choose to provide the snapshot.

Symptoms:

* Normally using zipped iterators doesn't cause an ICE, but in this case it is consistent (clean build, using `rustc 1.39.0 (4560ea788 201

[2019-11-13 00:07] Zoxc commented on #66352
What do you mean by private data / per-crate data? I'm not sure what this would be used for.

[2019-11-13 00:23] bytwise commented on #66345
Making `fn by_value` generic results in a slightly different ICE.

[code]

[code]

[2019-11-13 00:25] gurry commented on #66320
Fixed with compiler_builtins version 0.1.21

[2019-11-13 00:25] #66320 closed

[2019-11-13 00:36] eddyb commented on #66352
For the local crate, it's pretty much all of the stuff that's right now injected into `TyCtxt` at creation time (arguably a lot of this will end up behind queries eventually).

For other crates, it'd replace this use of `dyn Any` to get access to a `rustc_metadata` type (`cstore::CrateMetadata`) from a `TyCtxt`:
https://github.com/rust-lang/rust/blob/4f03f4a989d1c8346c19dfb417a77c09b34408b8/src/li

[2019-11-13 01:12] Dylan-DPC commented on #66196
@rustbot claim @peter-wilkins

[2019-11-13 01:12] Dylan-DPC commented on #66196
@rustbot assign @peter-wilkins

[2019-11-13 01:13] Dylan-DPC commented on #66137
@rustbot assign @Aaron1011

[2019-11-13 01:14] Dylan-DPC commented on #66099
@rustbot claim @ohadravid

[2019-11-13 01:14] Dylan-DPC commented on #66099
@rustbot assign @ohadravid

[2019-11-13 01:17] steveklabnik commented on #57076
Triage: no real changes; sort of a duplicate of the cargo ticket, kinda.

[2019-11-13 01:28] durka commented on #45402
No, the original code still fails to compile.

[code]

[2019-11-13 01:32] steveklabnik commented on #44925
I cannot reproduce this issue today, and it's been over a year since the last comment. I'm going to give this a close, but let me know if I'm missing something!

[2019-11-13 01:32] #44925 closed

[2019-11-13 01:42] Extrawurst commented on #65823
Having gone through and stumbled over this myself just recently (I actually thought adding a remark to the docs would make sense: https://github.com/rust-lang/reference/pull/716) I must say I really think this needs no compiler support. Here are just a few simple lines (using the sun crate) that completely obliterate all attributes from the AST given to it: https://github.com/Extrawurst/alpaca-rus

[2019-11-13 02:19] sfackler commented on #51540
It seems strange to be aborting with std and panicking without. Should we just start panicking in std as well? IIRC that's a change people feel can be made?

[2019-11-13 02:38] Lokathor commented on #51540
As I understand it:
* The reason to make OOM jump to an abort instead of doing a panic is because the panic _could_ unwind (depending on build settings, which as far as I know aren't exposed in the program via cfg flag or anything like that).
* That unwind _could_ allocate
* Since you just failed to allocate, trying to allocate right now is maybe a bad plan. Except that:
  * Maybe you tried to mak

[2019-11-13 02:43] Lokathor commented on #51540
PS: From a language stability perspective, it seems entirely future-compatible for the story to be: "for now, you can't define the OOM handler. You always get this default handler in `no_std` which will just panic. In the future you'll have the option to define your own handler, or you could of course continue to allow the default handler to be used".

[2019-11-13 02:56] thanatos opened #66354 "Vec::set_len docs contains dead link to extend"
[`Vec::set_len`](https://doc.rust-lang.org/std/vec/struct.Vec.html#method.set_len) currently reads:

Where `extend` is a link to: https://doc.rust-lang.org/std/vec/struct.Vec.html#method.extend-1

Clicking that link does nothing, aside from setting the target in the URL bar. The target _does_ exist, it's just hidden/not expanded when you land on the page. (If you search for "Extend implementation

[2019-11-13 03:22] mark-i-m opened #66355 "Caching mdbook links?"
Azure has a beta preview of caching, but the rust repo does not use it.  Typically s3 buckets are used, but I do not know anything about them or whether it would be appropriate to use.

_Originally posted by @ehuss in https://github.com/rust-lang/rust/pull/66338#issuecomment-553094299_

Splitting this off from the other thread so as not to clutter it.

@pietroalbini Is something like the above pos

[2019-11-13 03:22] WildCryptoFox commented on #66107
Ah thanks @nikomatsakis this makes sense.

[2019-11-13 03:25] mark-i-m commented on #51540
I like @SimonSapin's proposal. In my usecases, an OOM can always be handled by invoking something directly in `alloc`, rather than returning `null`, so they are functionally equivalent. Having alloc + no_std on stable would be fantastic.

[2019-11-13 04:21] ollie27 commented on #66192
I wonder if the use of jemalloc on Linux but not MSVC could explain some of the difference?

[2019-11-13 05:23] petrochenkov commented on #66079
@SimonSapin
Yes, the tool name is arbitrary.

[2019-11-13 05:34] jhpratt commented on #64762
Running into this myself. Right now I'm just `#[allow]`ing it with a link to this issue.

If someone could lead me in the right direction, I'll give fixing this a shot.

[2019-11-13 05:36] jhpratt commented on #57411
Related? #64762

[2019-11-13 05:40] msizanoen1 commented on #62558
The last tool, clippy is now available:
https://rust-lang.github.io/rustup-components-history/armv7-unknown-linux-gnueabihf.html

[2019-11-13 05:56] #62558 closed

[2019-11-13 06:04] JulianKnodt opened #66357 "Internal Compiler Error @ parser.rs:446:22"
When compiling a personal project, I got an error that the compiler panicked and entered unreachable code.

I've dumped the output:
[code]

And I committed my code which caused the bug here:
https://github.com/JulianKnodt/small_sat/commit/5e82572339a584a20ddd02b4d78367bd9c19d568

It might be because I had only written half of an anonymous function at `watch_list.rs` at line 92.

This is not that u

[2019-11-13 06:24] glaebhoerl commented on #51540
@Lokathor IIRC the main issue was not just that, but the possibility of there being `unsafe` code which is sound in the presence of abort-on-OOM but unsound given panic-on-OOM. That is, `unsafe` code authors heretofore did not have to consider panic safety every time they called a potentially-allocating function, and now they would (but the code is already written).

[I didn't and don't have any o

[2019-11-13 07:20] cjgillot commented on #65674
Hello,
I would like to do that.
Do you mind?

[2019-11-13 07:29] SimonSapin commented on #51540
@sfackler Yeah it’s inconsistent. But maybe acceptable because there may not be a process to abort anyway on some embedded targets, and this issue tracks a way to eventually customize the behavior. Panicking is just the default.

FWIW we have an accepted RFC (but unimplemented, and without a precise mechanism specified) to allow opting into panic instead of abort (in libstd) on allocation errors:

[2019-11-13 08:06] RalfJung opened #66358 "Tracking issue for `UnsafeCell::raw_get`"
https://github.com/rust-lang/rust/pull/66248 added a raw pointer variant of `UnsafeCell::get`.

Unresolved issues:

* [ ] This definitely wants to be a method -- `m.as_ptr().raw_get().write(5)` is so much more readable than `UnsafeCell::raw_get(m.as_ptr()).write(5)`. Also see https://github.com/rust-lang/rust/pull/66248#discussion_r344463751.

[2019-11-13 08:19] gnzlbg commented on #51540
Since `panic!` allocates memory, what happens if that fails within the `#[alloc_error_handler]` ? Does it get called again from within the `panic!` in an infinite recursion? (or does it have a way to detect whether such recursion is happening?).

[2019-11-13 08:27] mati865 commented on #66240
I was fixed in compiler-builtins crate via https://github.com/rust-lang/compiler-builtins/pull/324.
Can you make xargo pull newer version? Otherwise it may require updating this dependency in Rust repo.

[2019-11-13 08:29] Lokathor commented on #51540
I covered this above (https://github.com/rust-lang/rust/issues/51540#issuecomment-553211363), a panic during a panic goes into an abort.

[2019-11-13 08:48] memoryruins commented on #66357
Good call! Reducing it to `fn f() { |[](* }` is enough to trigger the ICE.

<details>
<summary> backtrace </summary>

[code]

</details>

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8486aeccb8fba32337178ccb6937bce0

[2019-11-13 08:52] gnzlbg commented on #51540
For the panic during a panic case to trigger, the first panic must "succeed", but that doesn't happen if the panic fails to allocate memory, right?

[2019-11-13 08:54] SimonSapin commented on #51540
`std::panic` is not a reexport of `core::panic`, they’re two different macros. The latter does not allocate.

[2019-11-13 08:55] Amanieu commented on #51540
It could panic while trying to allocate the string for `format!`, which happens before calling the panic machinery. Therefore you need explicit detection for recursion in the alloc handler.

[2019-11-13 08:56] gnzlbg commented on #51540
@SimonSapin Maybe I misunderstood you? I thought you were proposing for `#[alloc_error_handler]` to also panic for `std` builds as well, where `std::panic` is used, and `std::panic` tries to allocate.

[2019-11-13 08:58] hellow554 commented on #66357
@rustbot modify labels: I-ICE T-compiler C-bug A-frontend

[2019-11-13 09:03] SimonSapin commented on #51540
My initial proposal in https://github.com/rust-lang/rust/issues/51540#issuecomment-553114657 was to default to panic only when no other `alloc_error_handler` is provided. Since libstd provides such a handler, this new default would only be used when libstd is not linked.

By necessity, this default would use `core::panic` rather than `std::panic`. The former calls `#[panic_handler]` without alloca

[2019-11-13 09:07] pravic commented on #62929
Does not work, neither in stable nor nightly.

* Go to https://doc.rust-lang.org/nightly/std/index.html
* Choose the "std" option.
* Type Option, click on it
* We still see the "All crates" on the [result page](https://doc.rust-lang.org/stable/std/option/enum.Option.html).

@GuillaumeGomez

[2019-11-13 09:19] gnzlbg commented on #51540
Ah, that makes sense.

I was expressing concern about this, but as @Amanieu mentioned, this currently allocates after checking for double panics, so this isn't an issue.

[2019-11-13 09:26] Centril commented on #66345
@jonas-schievink looks like a distinct problem in metadata; can you refile as a separate issue?

[2019-11-13 09:28] lcnr opened #66359 "Tracking issue for `any::type_name_of_val`"
#65961 added the function `core::any::type_name_of_val`.

Unresolved issues:

- [ ] `type_name_of_val(&val)` is quite verbose, `type_name_of(&val)` might be better, even if `align_of`, `align_of_val` and `size_of` and `size_of_val` already exist.

[2019-11-13 09:31] gnzlbg commented on #51540
Example:

[code]

This code is sound because either the call to `GlobalAlloc::alloc(...new_len...)` succeeds or it aborts, which means that `Drop::drop` will never see a `MyDynArray` with `self.ptr == ptr::null()`.

If `GlobalAlloc::alloc` is changed to unwind on OOM, then such code now has a memory safety issue. While the code can be "fixed" to avoid that, such code might already be written, and

[2019-11-13 09:34] SimonSapin commented on #51540
Is unwinding possible when libstd is not linked?

[2019-11-13 09:39] csmoe commented on #66286
https://github.com/rust-lang/rust/blob/9124f7a096007b5f96300e61e8f5817df10b315a/src/librustc/hir/lowering.rs#L1863
panic due to not found `(` while trying to suggest `Vec(T)` to `Vec<t>`.
cc @estebank

[2019-11-13 09:50] hellow554 commented on #66353
Seems to be an issue with `nalgebra::Vector3`

[code]

Crash on stable, beta, nightly

[2019-11-13 09:52] SimonSapin commented on #64490
Should we also add `raw ref` bindings in patterns? For implementing `offset_of!`, https://internals.rust-lang.org/t/discussion-on-offset-of/7440/2 recommends using a struct pattern instead of a field access expression, in order to protect against accidentally accessing the field of another struct through `Deref`:

[code]

[2019-11-13 10:05] Amanieu commented on #51540
Yes, if you use nightly, port `libpanic_unwind` and `libunwind` to your platform, and invoke them directly without going through libstd's panic framework. Obviously this relies on very unstable implementation details.

[2019-11-13 10:23] Centril commented on #66357
I've traced the problem down to this call:
https://github.com/rust-lang/rust/blob/374ad1b0063963060a00a3110e44d76e7105d059/src/librustc_parse/parser/expr.rs#L1344

[2019-11-13 11:10] SimonSapin commented on #66220
https://github.com/rust-lang/rust/pull/65134 adds thousands of new warnings to Servo. The pervasive pattern is that we have many `unsafe extern fn` functions that take `*const Foo` parameters. The functions are `extern` so that they can be called from C++. The `Foo` Rust type is not FFI-safe, but in this case the *pointer* to it is FFI-safe because it is an opaque pointer as far as C++ code is con

[2019-11-13 11:22] Timmmm opened #66362 "Rust shouldn't warn about snake case in patterns"
For example:

[code]

This gives you a warning that `iHateSnakes` should be snake case in the match arm. But at that point you don't really have much choice about it. Variable name warnings should be where the variable is named, and it isn't really named there. (Maybe there's some syntax like `{ i_hate_snakes @ iHateSnakes }` but who is going to bother with that?)

This issue has been assigned to

[2019-11-13 12:12] shepmaster commented on #66220
Does it really? It’s nightly-only still, isn’t it? That level of churn (in the small timeframe present) seems acceptable in nightly.

[2019-11-13 12:16] hellow554 commented on #66362
Please provide a working example without `...` next time. It makes it easier to see what's going on here.

Let's assume this one:

[code]

You could instead write
[code]
and have full control over the names of the binding and that's why the compiler is complaining.

You are right in the way, that we should lint the original issue. I'm not sure how the the suggestion goes in terms of machine applic

[2019-11-13 12:18] SimonSapin commented on #66220
@rkruppe Since you filed https://github.com/rust-lang/rust/issues/65867, what do you think is a good way to deal with pointers that point to a non-FFI-safe type but are opaque as far as the foreign code is concerned?

[2019-11-13 12:23] JohnTitor commented on #51506
The ICE has been fixed in the latest nightly, marked as E-needstest

[2019-11-13 12:32] JohnTitor commented on #58094
According to glaicer, the ICE from this example has been gone.

[2019-11-13 12:34] JohnTitor commented on #62524
Hm, the example from https://github.com/rust-lang/rust/issues/62524#issuecomment-511383397 hasn't been fixed?

[2019-11-13 12:37] Alexendoo commented on #62524
[code]

[2019-11-13 12:41] hellow554 commented on #58094
@bjorn3 can you confirm that your example does not crash on nightly anymore?

[2019-11-13 12:58] malbarbo commented on #51506
Thanks @JohnTitor. Indeed, the example compiles fine in nightly (4f03f4a98 2019-11-12), however, replacing the main function by these two

[code]

generates the same ICE.

[2019-11-13 13:04] JohnTitor commented on #51506
@malbarbo ah, thanks for the update! I confirmed it ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c5844a625257dc9dd2b188bfb4bfad60))

[2019-11-13 13:05] hellow554 commented on #66353
@Centril regression from stable-to-stable 🤕
1.38.0 "worked"

[code]

[2019-11-13 13:08] Centril commented on #66353
@hellow554 A reduction would be good :)

[2019-11-13 13:09] hellow554 commented on #66353
I'm on it. You can take the example from [above](https://github.com/rust-lang/rust/issues/66353#issuecomment-553325101)

[2019-11-13 13:17] hellow554 commented on #58094
Has been fixed in https://github.com/rust-lang/rust/pull/66141

[2019-11-13 13:21] bytwise commented on #66345
I bisected the errors; they were both introduced in #64419

[2019-11-13 13:24] bjorn3 commented on #58094
https://github.com/rust-lang/rust/pull/66054 is likely the part of the rollup fixing it.

[2019-11-13 13:24] pnkfelix opened #66367 "ICE: Adding `-C save-temps` to incremental compile causes rustc_codegen_ssa::back::write panic"
Steps to reproduce:

[code]

[2019-11-13 13:26] pnkfelix commented on #66367
(the workaround is to make sure you start with `-C save-temps` in your initial command line. I assume you need to subsequently keep it around to avoid another ICE, but I have not verified that.)

[2019-11-13 13:27] hellow554 commented on #58094
Shouldn't a testcase be added instead of closing this?

[2019-11-13 13:29] dingelish opened #66368 "Is feature compiler_builtins_lib still needed for libstd?"
https://github.com/rust-lang/rust/blob/374ad1b0063963060a00a3110e44d76e7105d059/src/libstd/lib.rs#L247

After compiler-builtins issue 322 and PR 324, do we still need this line? Compilation succeeded after this line is moved on linux-x86_64.

[2019-11-13 13:29] dingelish commented on #66368
Issue 322
https://github.com/rust-lang/compiler-builtins/issues/322

PR324
https://github.com/rust-lang/compiler-builtins/pull/324

[2019-11-13 13:47] rkruppe commented on #66220
I'm confused, #65867 is unrelated (as discussed there, probably wasn't even a legit issue, just a temporary issue with #65134, that I thought was pre-existing and independent from that PR). You might be thinking of #19834 that actually predates and motivated https://github.com/rust-lang/rust/pull/65134? But I didn't file that, FWIW.

In any case, I think we should revert #65134 right now so we can

[2019-11-13 14:01] SimonSapin commented on #66220
Since the PR description for https://github.com/rust-lang/rust/pull/65134 contains “Fixes #65867” I assumed it was an implementation of what that issue proposed.

I’d rather not add it either, but at this point it’s the only practical way (without changing all parameters to `*mut c_void` and adding casts everywhere, losing type safety in the process) to upgrade Servo to a Nightly more recent than

[2019-11-13 14:30] Centril opened #66370 "Use `report_in_external_macro` in internal lints"
Filing this since @eddyb had the idea and so that we don't forget.

This issue has been assigned to @afnanenayet via [this comment](https://github.com/rust-lang/rust/issues/66370#issuecomment-570743582).

[2019-11-13 14:47] davidtwco commented on #66220
I added this to the PR when @rkruppe filed #65867 since it was, as @rkruppe said, a temporary issue within #65134 that it resolved.

---

Just to clarify, #65134 didn't change the behaviour of the lint so that would trigger for `*const Foo` where it did not before, just that the lint, as it was before, would also apply to `extern "C" fn`s.

Perhaps a good compromise would be to stop looking at the

[2019-11-13 14:48] pnkfelix commented on #59159
@wdanilo the rewrite suggested above in the description (under "How to fix this warning/error") seems like it applies fine to your case ([play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=70d8aee7e2aa1883d85789cca6f4b5e5)):

[code]

This seems to me like it satisfies the desired attributes for your hypothetical refactoring; it just needs to explicitly ensure the new ran

[2019-11-13 14:48] ollie27 commented on #66342
So I minimized this to:

[code]

on a recent nightly gives:

[code]

It looks like the compiler is trying to allocate enough space to store a value of the return type. As long as I use a large enough value it reproduces reliably and it isn't specific to Windows: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6c30ba9f201ea1c5271f4b76d20b1f14).

I bisected this

[2019-11-13 14:54] pnkfelix opened #66371 "ICE: incremental compile + thin LTO immediately panics on 2nd compile with "failed to open bitcode file""
Steps to reproduce:

[code]

(If its common knowledge that one cannot use ThinLTO with incremental compiles, I certainly was not aware of it.)

[2019-11-13 15:05] wesleywiser commented on #66342
Yes, that seems likely. I will take a look at this tonight.

[2019-11-13 15:24] alexcrichton opened #66373 "The `improper_ctypes` lint is too noisy to be useful"
Recent changes appear to generate new warnings for the `improper_ctypes` lint. Code such as this:

[code]

now generates the warning:

[code]

This pattern can be quite common if a Rust library is exposing a C interface. Many pointer types moving across the boundary are intentionally opaque to the C side of the interface, so there's no need for `#[repr(C)]`

The lint, however, now generates thousa

[2019-11-13 15:25] Aaron1011 commented on #65674
@cjgillot: Go ahead :)

[2019-11-13 15:28] alexcrichton opened #66374 "False positive improper_ctypes warning for `()` used through trait projection"
This code:

[code]

generates this warning on nightly:

[code]

but I believe that this is an false positive because `()` in a return position is indeed FFI safe

[2019-11-13 15:31] pnkfelix commented on #66373
(Was this injected by PR #65134 ?)

[2019-11-13 15:31] Centril commented on #66220
cc https://github.com/rust-lang/rust/issues/66373

@davidtwco Not sure how invasive that would be in the lint code but as an interim solution, that seems reasonable. Would you be up for implementing the tweak?

[2019-11-13 15:31] Lokathor commented on #51540
@gnzlbg your example (1) could easily be fixed in the presence of OOM leading to unwind (2) doesn't even have correct usage for the api that `GlobalAlloc` exposes (3) doesn't call `alloc::alloc::handle_alloc_error`, which is how you'd go to the allocation handler that would either abort or unwind.

To be clear: your code example _is not_ sound today.

[2019-11-13 15:32] Centril commented on #66373
It was, yes, but let's focus discussion in https://github.com/rust-lang/rust/issues/66220.

[2019-11-13 15:35] pnkfelix commented on #66220
Nominating for discussion at T-compiler meeting, largely to figure out whether we should ASAP revert PR #65134 as a whole, or if we should/can wait for a more nuanced solution/compromise.

[2019-11-13 15:43] mark-i-m commented on #51540
If a crate is designed to work with no_std, wouldn't there authors have to consider the possibility that abort does not work? Am I misunderstanding

[2019-11-13 15:50] Centril commented on #66374
Duplicate of https://github.com/rust-lang/rust/issues/66202?

[2019-11-13 15:50] Centril commented on #66374
cc @davidtwco @rkruppe @eddyb

[2019-11-13 15:54] davidtwco commented on #66374
I think so.

[2019-11-13 15:56] Lokathor commented on #51540
Today, a person can just write a `no_std` lib, and you call the lib and it parses bytes or does a formula or whatever. Many people use `no_std` in its literal meaning: without the OS backed standard library. They still assume that there's _something_ out there beyond the process. It's unfortunate, but that's the social contract we've developed.

I guess your panic_handler should trap the thread in

[2019-11-13 15:59] guanqun commented on #62524
@Alexendoo I guess my fix https://github.com/rust-lang/rust/pull/66264 would help. I'll get some time to test it out.

[2019-11-13 16:01] therealprof commented on #51540
`loop { continue; }` works just fine. 😅

[2019-11-13 16:12] tema3210 opened #66375 "Cannot resolve PinBox on nightly"
My code is:
[code]
But this doesn't compile because of:
[code]

[code]

[2019-11-13 16:15] jonas-schievink commented on #66375
`PinBox` has been removed. See https://github.com/rust-lang/rust/issues/49150.

[2019-11-13 16:15] #66375 closed

[2019-11-13 16:17] #40231 closed

[2019-11-13 16:17] #65757 closed

[2019-11-13 16:17] #52432 closed

[2019-11-13 16:17] #63279 closed

[2019-11-13 16:17] hellow554 commented on #66353
You want a MCVE? I give you a MCVE! 👊

[code]

@rustbot modify labels: -E-needs-mcve +E-needs-bisection

[2019-11-13 16:29] Centril commented on #66353
Reduced:
[code]

[2019-11-13 16:32] jonas-schievink commented on #40174
Reopening as this seems to still be a significant issue for people building from musl systems

[2019-11-13 16:35] ecstatic-morse commented on #66342
@wesleywiser should we put #66074 on pause for now?

[2019-11-13 16:36] hellow554 commented on #66353
regression between 1dd188489...66bf391c3

[2019-11-13 16:43] ckaran opened #66376 "[Feature request] Autogenerate boilerplate"
This is a request to implement what I wrote about at https://internals.rust-lang.org/t/tools-team-tell-us-your-sorrows/9657/27?u=ckaran.  Below is the copy/paste of what I wrote.

### Area

Source code generation

Basically, I find myself writing what a lot of what is essentially boilerplate.  For example, if I have the following function:

[code]

I will thereafter have to expand it into somethin

[2019-11-13 16:49] wesleywiser commented on #66342
@ecstatic-morse Yeah, let's do that just to be safe.

[2019-11-13 16:50] jonas-schievink commented on #66376
This does sound useful. Even having a lint in Clippy that lints proper documentation format would be helpful. IDEs commonly include autocompletions that include documentation placeholders too.

This looks like RFC territory though, so closing in favor of that.

[2019-11-13 16:50] #66376 closed

[2019-11-13 16:53] ckaran commented on #66376
@jonas-schievink OK, so should I start writing an RFC for this?  Should I do that before putting in an issue for Clippy?

[2019-11-13 16:56] jonas-schievink commented on #66376
I think those can be done independently

[2019-11-13 16:56] Centril commented on #66353
cc @estebank

[2019-11-13 16:57] csmoe commented on #66353
#64151is the one to blame
https://github.com/rust-lang/rust/pull/64151/files#diff-1d1b0d29a2e8da97c6bfb6e364d920c7R4838

[2019-11-13 17:39] rkruppe commented on #66220
I think we should revert ASAP, and I say this as someone who was very eager to get the PR merged. It's likely quicker to revert than to land any tweaks, especially since we have to consider the possibility that whatever tweaks get done quickly/first will turn out to be insufficient. Plus, after the revert, a PR with the tweaked lint can get a try build either for a crater run or for affected proje

[2019-11-13 17:39] SimonSapin commented on #66220
@davidtwco Yes, that compromise would take care of Servo’s new warnings and unblock the compiler upgrade. However it effectively means there are two different definitions of "FFI-safe". I don’t know how desirable that is.

[2019-11-13 17:40] SimonSapin commented on #66220
(Reverting https://github.com/rust-lang/rust/pull/65134 would also unblock Servo.)

[2019-11-13 17:46] rkruppe commented on #66220
Revert PR is #66378. Not to imply it can't wait until the T-compiler meeting, but it was easy to prepare, so why not do that now?

[2019-11-13 18:06] ckaran commented on #66376
OK, sounds good.  I can't make any guarantees on my time frame for writing the RFC, but I'll try to start writing something up.

[2019-11-13 18:24] amunra opened #66380 "Confusing error message for missing associated type"
I have encountered associated types for the first time through a build error.

Associated types are used infrequently and other programmers will probably encounter the feature for the first time in a similar manner.

The error was particularly confusing because I thought that I was asked to provide a generic type to a type that was not generic. I was left rather puzzled.

It would be particularly

[2019-11-13 18:48] eddyb commented on #51540
Surely `loop { continue; }` would compile to the same LLVM IR as `loop {}` (even the same MIR)?

"Works just fine" is not applicable to UB, almost *any* UB "works just fine" *some* of the time, but the risk here is lurking miscompilations.

[2019-11-13 19:47] aschampion commented on #56605
Ran into this bug and suspect the related bug he meant to link was #43408

[2019-11-13 20:15] mati865 commented on #39915
This part is fixed by: https://github.com/rust-lang/rust/pull/66257
Windows-gnu uses still have to manual work to use C compiler which supports `-fuse-ld=lld` though.

[2019-11-13 20:35] BartMassey opened #66382 "unused_labels lint does not ignore '_label"
This code

[code]

yields this message

[code]

I think this is not intended behavior: labels beginning with `_` should be ignored by this lint, just as identifiers beginning with `_` are ignored by similar lints in other contexts.

Right now I think this blocks Issue #66325, since we wouldn't want to start warn-by-default until it is fixed.

[2019-11-13 21:09] ecstatic-morse commented on #49146
Next PR to watch is #66385. This removes the old const qualification logic (which could not handle branching) completely in favor of the new dataflow-based version.

@jyn514 That would be great! I'll ping you when I start drafting the implementation. It would also be very helpful for people to try to violate [const safety](https://github.com/rust-lang/const-eval/blob/master/const.md)(especially th

[2019-11-13 21:22] nightmared opened #66386 "Confusing error message when manually implementing PartialEq with cyclic types and generics"
Hello,

while trying to mix rust derive directives and my own implementation of PartialEq I ran into an error that I found quite unclear. I further reduced it to this snippet of code:

[code]

This yields the following error about the implementation of PartialEq on `E<T>`
[code]

The correct code is the following (we must add a constraint `T: PartialEq`) :

[code]

Even though it is correct from a

[2019-11-13 21:23] guzt opened #66387 "Compiler crash on "if" without "else" in async fn"
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7c50ae4cb0d4169c289cbdeea491a48b))

Triggers on playground on beta and nightly channels, not on stable.

Stacktrace: https://gist.github.com/guzt/32437a394c5c3401f8ec80a6863efe56

[2019-11-13 21:25] guzt commented on #66387
Even smaller sample (from Dan Johnson):

[2019-11-13 21:39] #65065 closed

[2019-11-13 22:22] therealprof commented on #51540
No idea. Funny enough I can't reproduce the problem anymore but using  `loop { continue; }` has never failed me on `thumbv6m-none-eabi` (and higher) while `loop {}` often has.

[2019-11-13 22:30] mark-i-m commented on #51540
It seems like a bug if `loop {}` and `loop { continue; }` produce different code...

[2019-11-13 22:34] SimonSapin commented on #51540
This is a discussion for https://github.com/rust-lang/rust/issues/28728, please keep this thread about `alloc_error_handler`.

[2019-11-13 22:44] Aaron1011 commented on #43244
Is there anything blocking this from being stabilized?

[2019-11-13 22:45] eddyb commented on #65674
Technically a subset of / related to https://github.com/rust-lang/rust/issues/36588 - although I think I went a bit crazy with the ideas there, and just regular derives for a lot of traits is fine.

[2019-11-13 23:07] eddyb commented on #66370
cc @flip1995 @oli-obk

[2019-11-13 23:09] eddyb commented on #30904
@steveklabnik Oops, I missed your comment - the ICE is #30906, *not* this issue.
This issue is about the example erroring (which is IMO a bug).

[2019-11-13 23:10] eddyb commented on #30906
https://github.com/rust-lang/rust/issues/30904#issuecomment-533888880 should've been posted here - this is what's been fixed, not #30904.

[2019-11-13 23:10] #30906 closed

[2019-11-13 23:21] #66125 closed

[2019-11-13 23:31] eddyb commented on #66137
@Aaron1011 Oh, I thought the concern was entirely about same-crate, sorry!

I think the fix in that case is to move the `ClearCrossCrate` inward, i.e. change `SourceScopeData` to contain a `ClearCrossCrate<SourceScopeLocalData>` - I don't think the size of `SourceScopeData` is critical (but we should run perf anyway).

[2019-11-14 00:09] Aaron1011 commented on #66137
@eddyb: `SourceScopeData` doesn't contain `SourceScopeLocalData`. Your change would require wrapping both fields of `SourceScopeLocalData` in `ClearCrossCrate`, since `SourceScopeLocalData` is stored in an `IndexVec` in `Body.source_scope_local_data`

[2019-11-14 00:09] Aaron1011 commented on #66137
Oops, I misread your proposal - you were talking about *changing* `SourceScopeData` to contain a `SourceScopeLocalData`. I'll try that.

[2019-11-14 00:26] nagisa commented on #57563
`OsStr::new` would be cool.

[2019-11-14 01:14] wesleywiser opened #66397 "Large locals can cause OOMs during the `ConstProp` pass"
The following ICEs on beta and nightly:

[code]

([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=949311d922ea1cb02feb2a917149511b))

<details> <summary> gdb backtrace </summary>

[code]

</details>

[2019-11-14 01:30] shepmaster commented on #58520
This iterator should not implement `Copy`, as it was originally decided that `Copy` iterators are confusing in practice.

[2019-11-14 02:32] #65840 closed

[2019-11-14 02:32] #66159 closed

[2019-11-14 03:32] gaoqiangz opened #66400 "Temporary variable of the expression that implemented a Drop trait, causing a lifetime check error."
Temporary variable of the expression that implemented a Drop trait, causing a lifetime check error.

I tried this code:
[code]

I expected to see this happen:
no error

Instead, this happened:
[code]

`rustc --version --verbose`:
rustc 1.39.0 (4560ea788 2019-11-04)
binary: rustc
commit-hash: 4560ea788cb760f0a34127156c78e2552949f734
commit-date: 2019-11-04
host: x86_64-pc-windows-msvc
release: 1.39

[2019-11-14 03:55] CAD97 opened #66401 "Rustdoc: maybe don't display #[repr(C)] sometimes"
If a struct has some public fields and some non-public fields, `// some fields omitted` is displayed at the end of the declaration shown by rustdoc. Rustdoc also shows attributes on the declaration, such as `#[repr(C)]`.

This is actively misleading for `#[repr(C)]` types. If a private type is before any public types, then the struct as displayed suggests that the public fields are at the prefix o

[2019-11-14 04:04] crlf0710 commented on #31434
#63438 is closed. However on rustdoc page it seems the primitive types are missing...: https://doc.rust-lang.org/nightly/std/marker/trait.StructuralEq.html

[2019-11-14 04:28] eggyal commented on #65860
Dumb question... but why aren't *all* attributes (including `#[cfg]`) parsed as macro invocations, and the annotated item treated as unparsed `TokenStream` input to that macro?  Then during expansion, such `TokenStream` input can be stripped, transformed, augmented or left untouched as appropriate.  This would defer all semantic parsing until after feature gates have been passed.

[2019-11-14 04:54] eggyal commented on #47660
@Xanewok did you manage to make headway on querifying name resolution/macro expansion?

[2019-11-14 05:14] tensor-programming opened #66402 "Compiler error while compiling Winrt"
Trying to compile winrt with latest nightly msvc got a internal compiler error.

[code]

[code]

Saw similar error over with this one: #64908 so figured I would report here and not in the winrt github.  Project compiles fine with latest stable on `x86-64-pc-windows-msvc`.

[2019-11-14 05:53] danieldulaney opened #66404 "Feature request: Add a wrapper around fexecve"
`fexecve` is a little-known but very useful Unix (POSIX-2008, implemented on [Linux](https://linux.die.net/man/3/fexecve) and [BSD](https://www.freebsd.org/cgi/man.cgi?query=fexecve&apropos=0&sektion=0&manpath=FreeBSD+12.1-RELEASE+and+Ports&arch=default&format=html)) library function that works just like `execve`, but based on a file descriptor instead of a file name. It would fit nicely into the

[2019-11-14 06:42] hdhoang commented on #64205
ping from triage @bIgBV, any updates on this? Thanks for your work!

[2019-11-14 06:59] gilescope commented on #66304
Agree with having them vertically aligned. I think we do want line endings to create a new line though for multi-line readability.

Maybe we should say something like this:
[code]

(The first difference at char line we might also want to add to assert_eq also?)

[2019-11-14 07:01] Dylan-DPC commented on #11802
Closing this as it can be done by build scripts. Thanks

[2019-11-14 07:01] #11802 closed

[2019-11-14 07:08] Dylan-DPC commented on #14375
I can reproduce this bug. Still exists

[2019-11-14 07:29] Dylan-DPC commented on #15855
Closing this since the error message isn't confusing 😄

[2019-11-14 07:29] #15855 closed

[2019-11-14 07:45] dbdr commented on #55795
I also ran into this problem. @oli-obk, has that discussion happened?

[2019-11-14 07:45] petergarnaes opened #66406 "Regression in helpful compiler error message when working with lifetimes"
So I have the following code:
[code]
Which on the stable compiler gives this helpful error message:
[code]
Yet on the nightly compiler the compiler error does not inform me about lifetimes, but tells me the signature needs to be what it already is:
[code]
[playground stable version](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=313facbea2943615fb338e2ddff03e07)
[playgroun

[2019-11-14 08:02] #59210 closed

[2019-11-14 08:04] rust-highfive opened #66409 "`clippy-driver` no longer builds after rust-lang/rust#66233"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#66233, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @cjgillot, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @oli-obk, the PR reviewer, and nominating

[2019-11-14 08:22] Centril commented on #66402
Can you please provide a backtrace, and if possible, a minimal reproducer? Thanks.

cc @wesleywiser

[2019-11-14 08:55] pnkfelix commented on #59535
Okay, further investigation: `rustc` itself controls whether we can reuse the post-ThinLTO version of a module (or if we have to go back and reoptimize it).

And, thank goodness, we already had debug instrumentation in place to emit information about such reuse:

[code]

In other words: This lends credence to my theory that we are reusing an artifact from a previous incremental compile that should

[2019-11-14 10:11] pnkfelix commented on #66409
triage: P-medium. Removing nomination.

[2019-11-14 10:13] pnkfelix commented on #66402
also, I think this is the winrt repo: https://github.com/contextfree/winrt-rust

[2019-11-14 10:17] pnkfelix commented on #66402
triage: P-high for now. Removing nomination.

[2019-11-14 10:18] pnkfelix commented on #66387
triage: P-high. Removing nomination.

[2019-11-14 10:18] pnkfelix commented on #66387
triage: P-high, removing nomination label.

[2019-11-14 10:21] pnkfelix commented on #66357
triage: P-high, removing nomination label.

[2019-11-14 10:28] pnkfelix commented on #66353
triage: P-high. Removing nomination label.

[2019-11-14 10:30] pnkfelix commented on #66342
triage: P-high. Removing nomination label.

[2019-11-14 10:31] pnkfelix commented on #66301
triage: P-medium. Removing nomination label.

[2019-11-14 10:32] pnkfelix commented on #66286
triage: P-high. Removing I-nominated.

[2019-11-14 10:36] pnkfelix commented on #66220
triage: P-high. Leaving nomination label because I want to discuss at compiler meeting nonetheless.

[2019-11-14 10:41] pnkfelix commented on #53081
triage: P-high. Leaving nominated because T-compiler should discuss solutions to this.

[2019-11-14 10:43] pnkfelix commented on #66397
triage: P-high.

[2019-11-14 10:50] pnkfelix commented on #66308
triage: P-high for now. (but this is a Tier-2 target, so it may get downgraded to P-medium after a few weeks. We will see.)

[2019-11-14 11:02] oli-obk commented on #55795
Kind of. We now have special treatment for constants that consist solely of undef bytes. This scheme can likely be extended to support all bytes being zero withour requiring time or space overhead.

[2019-11-14 11:06] #65247 closed

[2019-11-14 11:06] #66283 closed

[2019-11-14 11:06] #66354 closed

[2019-11-14 11:06] #66357 closed

[2019-11-14 11:11] pnkfelix commented on #61539
I haven't taken any time to look into this since I last commented here (about two months ago). Its tempting to downgrade this to P-medium with justification "this is a bug in `ld` that is fixed in a later version." But I don't want to do that without at least surveying the current popular GNU-based distributions.

[2019-11-14 11:15] jonas-schievink commented on #66404
Why does this need to be in the standard library? Is there an equivalent on Windows and macOS?

The nix crate already has a wrapper around this function in [`nix::unistd::fexecve`](https://docs.rs/nix/0.15.0/nix/unistd/fn.fexecve.html).

[2019-11-14 11:17] jonas-schievink commented on #66406
Happens on beta too

[2019-11-14 11:22] pnkfelix commented on #51635
triage: Still needs MCVE; in particular, I think it would be *very* valuable to have an MCVE that includes its own definition of a proc-macro, rather than relying on some third-party crate to provide it.

[2019-11-14 11:23] pnkfelix commented on #54108
triage: Downgrading to P-medium until someone can demonstrate actual unsoundness.

[2019-11-14 11:26] Systemcluster commented on #48214
The current implementation generates a warning when using the pre-existing impl trait syntax, which, reading the RFC, I assume is a false-positive.

[code]

This code generates the warning `warning: Trait bound impl T: T does not depend on any type or lifetime parameters`. ([playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=67ca79f3a3387951aa3de5e477b066cb))

[2019-11-14 11:28] pnkfelix commented on #54895
triage: I'm going to leave this as P-high because the ICE message is so inscrutable. (I'd be tempted to downgrade to P-medium if the message included some hint as to how one could work around the bug.)

Self-assigning.

[2019-11-14 11:33] pnkfelix commented on #55414
@petrochenkov is the presumed fix here to add `fn visit_interpolated` and `fn walk_interpolated` to the `syntax::visit::Visitor` trait?

[2019-11-14 11:35] yoanlcq commented on #66244
Hello, I saw I was mentioned in this issue - as the maintainer of `vek`, is there anything I am supposed to do ? I am not quite able to figure out what is going on. :x

Thanks in advance!

[2019-11-14 11:40] pnkfelix commented on #65466
todo: check how PR #66120 handles this...

[2019-11-14 11:42] pnkfelix commented on #66187
closing as duplicate of #62649

[2019-11-14 11:42] #66187 closed

[2019-11-14 11:48] pnkfelix commented on #63150
closing as non-actionable since we do not have information about what the delta was that caused the ICE to arise.

[2019-11-14 11:48] #63150 closed

[2019-11-14 11:49] peterjoel opened #66412 "ICE in incremental build: DepNode Hir should have been pre-allocated but wasn't,"
[code]

Everyone on our team sees the same error after pulling a particular commit (or series of commits) from our Git repo. We get the same ICE in Rust 1.39.0.

It seems to be a change in our codebase that breaks incremental builds, if there are cached crates from prior to the breaking commit. If we `cargo clean` then the problem goes away (in all tested Rust versions: 1.36, 1.37, 1.39)

[2019-11-14 11:50] Twey opened #66413 "`rustdoc` doesn't show `cfg` items that can affect whether an item is available"
It's very frustrating and confusing to read the rustdoc for a crate and go to use some item, only to find out that the item isn't available — and the only way to figure out how to enable it is to read the source of the crate.

Instead, it would be nice to have documentation on items that indicates any `cfg` annotations that affect the the items' compilation.

[2019-11-14 11:50] pnkfelix commented on #62649
(I haven't looked at this since I last checked in, but I **want** to look more into it, because its one of the few cases of an incremental compilation ICE where we actually have enough information to reproduce the bug locally...)

[2019-11-14 11:52] vityafx commented on #51635
I suggest adding a check into the compiler - if the compiler is unable to deduce context but found an error there, don't just print out the error, print out a message like` "The compiler couldn't print out the context, please consider filing a bug report on https://github.com/rust-lang/rust/issues/"`. This will not solve problems but will be helpful in some sense.

[2019-11-14 11:59] peterjoel commented on #66412
Probably duplicate of #62649.

[2019-11-14 12:04] peterjoel commented on #66412
Also, can confirm that this is likely due to changing a trait into a struct. I don't think the struct had any fields that conflict with the trait methods, but all of the trait's methods became inherent methods of the struct.

[2019-11-14 12:07] pnkfelix commented on #56445
triage: It would be good to at least figure out a way to give a better error message in these array length cases. (other cases include #43408, #52808...)

[2019-11-14 12:10] pnkfelix commented on #52808
closing as duplicate of #56445 (since I think the latter has more useful info in its comment thread.)

[2019-11-14 12:10] #52808 closed

[2019-11-14 12:16] pnkfelix commented on #64343
adding @centril to assignee list to deal with the test suite stuff to T-release.

[2019-11-14 12:30] NoCtrlZ commented on #60821
The same error showed up.
I started up my application server and when I accessed via Chrome browser the error showed up.
My repository is following.
I was successful in accessing via `curl` but it couldn't be accessed via browser.
https://github.com/NoCtrlZ/rust-ordinary-web-framework

[2019-11-14 12:41] pnkfelix commented on #65774
I cannot reproduce this locally:

[code]

Please do try to come up with an MCVE. I recommend taking the original code and paring it down, rather than trying to jump straight to a minimal bit of code.

[2019-11-14 12:41] pnkfelix commented on #65774
closing as not reproducible in absence of MCVE

[2019-11-14 12:52] pnkfelix commented on #65844
Oh dear:

[code]

[2019-11-14 12:53] GuillaumeGomez commented on #62929
Indeed, will take a look quickly.

[2019-11-14 12:53] pnkfelix commented on #65844
I love segfaults from `rustc`. Assigning self.

[2019-11-14 13:01] Mark-Simulacrum commented on #66244
There is not currently any expected action for crate authors, no.

[2019-11-14 13:04] pnkfelix commented on #63154
Okay so based on @eddyb's feedback it sounds like we have our MCVE

[2019-11-14 13:05] jonas-schievink commented on #60821
@NoCtrlZ The backtrace shows that this is an issue in your application, not in rustc. If you need help fixing the bug, feel free to post in https://users.rust-lang.org/

[2019-11-14 13:05] realcr commented on #64496
Unfortunately I believe that this bug has just landed on stable (rustc 1.39.0 (4560ea788 2019-11-04)).
My current workaround is to `box` very often, otherwise the types generated are too big and compilation never completes.

[2019-11-14 13:06] pnkfelix commented on #63154
since we have our MCVE (and it seems to approximately match  the test I added in PR #65099), and I have independently filed  #65934, we can reclose this as fixed.

[2019-11-14 13:06] #63154 closed

[2019-11-14 13:06] jonas-schievink commented on #66412
That does sound like #62649 then, so closing as a duplicate.

[2019-11-14 13:06] #66412 closed

[2019-11-14 13:12] pnkfelix commented on #65391
Hey @lightblu , can you confirm whether the comments above have addressed the issue?

(unless I see evidence that there's something else for T-compiler to do here, I will probably close this in a week...)

[2019-11-14 13:21] pnkfelix commented on #21934
Like @Manishearth , I do not think an RFC is required here.

It *might* be nice to have a T-compiler [design meeting](https://rust-lang.github.io/compiler-team/about/steering-meeting/) for it (but even that might be overkill here; at the very least it would require synchronous participation from the proposer, which again may not be necessary here.)

[2019-11-14 13:21] NoCtrlZ commented on #60821
@jonas-schievink
lol
Thank you!

[2019-11-14 13:27] da-x commented on #21934
It's ok, as I prefer working on code than on RFCs anyway :)

I can try fitting the draft implementation to whatever is decided there.

On Thu, Nov 14, 2019, 15:22 Felix S Klock II <notifications@github.com>
wrote:

[2019-11-14 13:29] whitequark commented on #66244
This one is fixed in smoltcp master, but the underlying soundness issue was irritating enough that I [wrote a pre-RFC](https://internals.rust-lang.org/t/pre-rfc-destructuring-values-that-impl-drop/10450) to fix it properly. If there's any interest in advancing that I might incorporate the feedback and try again.

[2019-11-14 13:46] pietroalbini commented on #66355
Wouldn't this defeat the purpose of linkcheck?

[2019-11-14 13:48] jrandall commented on #61846
I believe this issue *should* have resolved itself from rust 1.38.0, as that has updated to llvm 9.0 which I believe no longer emits this particular warning for C++ code in wasm. I will verify this and update here.

[2019-11-14 14:12] gnzlbg commented on #51540
I disagree. [This is the example with the blanks expanded (playground)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=641946b8d10b9b6a31fdff92965e2675) and I believe it is correct and sound today. Changing `handle_alloc_error` to panic instead, would make this program unsound, and would make it memory unsafe.

Please point out explicitly what you believe to be unsound in

[2019-11-14 14:34] pnkfelix commented on #63959
@rustbot ping icebreakers-llvm

[2019-11-14 15:00] mark-i-m commented on #66355
Hmm that's a valid point. The main reason for putting linked in this CI was to find the PRs that break links in the first place.

If the timeout of cached links is set to ~12 hours, and a build takes 4 hours, then we would reduce the chance of spurious failure by about 2/3, but would know within roughly 3 PRs when the link broke.

[2019-11-14 15:02] mark-i-m commented on #66355
cc @rust-lang/wg-learning

[2019-11-14 15:39] pnkfelix commented on #66312
unnominating for back ports; we don't backport nominate issues, just Pull Requests.

[2019-11-14 16:12] Lokathor commented on #51540
well sure it works if you fill in all the checks you skipped before XD

[2019-11-14 16:18] leo60228 opened #66416 "Demangle C++ functions in backtraces"
I'm modding a C++ game (which contains debug symbols, thanks flibitijibibo!) using Rust. If I panic in a Rust function from my mod, this is what the backtrace looks like:
[code]
This backtrace is almost perfect, except for the ugly mangled C++ symbol. Now that #65646 allows unwinding through C++ code, it would be nice if Rust demangled them. `backtrace-rs` already supports this behind a feature, a

[2019-11-14 16:23] jonas-schievink commented on #66416
Unwinding through an FFI boundary is still undefined behavior, but that's unrelated to how backtraces look.

[2019-11-14 16:25] leo60228 commented on #66416
What did #65646 do then?

[2019-11-14 16:26] leo60228 commented on #66416
Oh, so it's still UB, but it works now.

[2019-11-14 16:32] Lokathor commented on #51540
also, just as a reminder: we already have an accepted RFC to make `oom=panic` a Cargo config option: https://github.com/rust-lang/rust/issues/43596

[2019-11-14 16:33] rkruppe commented on #66374
Agreed, closing as such.

[2019-11-14 16:33] #66374 closed

[2019-11-14 17:28] SimonSapin commented on #51540
@gnzlbg This example is only sound on the assumption that `handle_alloc_error` never unwinds. But I don’t think this assumption is valid. https://doc.rust-lang.org/1.39.0/std/alloc/fn.handle_alloc_error.html documents:

(Emphasis mine.)

[2019-11-14 17:31] spastorino commented on #66355
I think caching and maybe having to figure out over a collection of PRs is fine. Shouldn't be that hard.

[2019-11-14 17:50] petrochenkov commented on #55414
That would fix the ICE, but
- Visiting interpolated tokens as AST (mutably or not) was never a good idea. In the token-based macro expansion model (which is currently in effect in proc macros, but we'd like to migrate to it everywhere else) interpolated tokens contain tokens and not AST.
- Make more code compile successfully despite us not wanting it to compile from the token-based model's point o

[2019-11-14 17:52] petrochenkov commented on #55414
I have a plan on running some crater experiments to find out which kinds of expansions inside interpolated tokens are used in practice, but I need someone else's help to implement it due to lack of time.

[2019-11-14 17:59] petrochenkov commented on #55414
The experiment is to attempt restricting macro expansion inside attributes to `#[attr = $expr]`.

Some relevant links are
https://github.com/rust-lang/rust/issues/55414
https://github.com/rust-lang/rust/issues/47358
https://github.com/rust-lang/rust/issues/44732#issuecomment-526560063

If the experiment goes well, then we'll proceed further in this direction and the end result should be an RFC abo

[2019-11-14 18:07] Centril commented on #53081
@estebank Why was this nominated for T-release?

[2019-11-14 18:09] cuviper commented on #66308
cc #65251 @tlively @alexcrichton -- the versions correspond to the LLVM change for emscripten.

[2019-11-14 18:38] tlively commented on #66308
This looks like an error in the LLVM verifier, so there is something wrong with the generated LLVM IR. I think we can rule out a bug in the WebAssembly LLVM backend.

[2019-11-14 18:59] bradjc commented on #65774
Thank you for being willing to try to reproduce! Would you mind trying
again with the "mpu-print" branch checked out? Tock for RISCV compiles
correctly (and has for a while) on master, but the issue has creeped in
when making the change for https://github.com/tock/tock/pull/1428.

Also, I have been periodically checking new nightlies and have gotten the
same error.

On Thu, Nov 14, 2019, 7:42 AM F

[2019-11-14 19:11] estebank commented on #53081
@Centril Isn't release in change of the per-platform binaries? I think this is partly a packaging issue, which makes me think they might want to be involved. Feel free to untag if I'm mistaken.

[2019-11-14 19:16] estebank commented on #66406
For what is worth, the [correct code would be closer to](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a9952985c9126cfdc588c0429f8961fa):

[code]

The error is not _incorrect_, as there _is_ a discrepancy between the `trait` and the `impl`, but it should provide more information in this case, particularly to show that the lifetimes in `expected` and `found` are _not_ eva

[2019-11-14 19:21] estebank commented on #41343
The current output still fails to differentiate the lifetimes involved:

[code]

[2019-11-14 19:21] estebank commented on #66406
This is caused by #65068. I believe this is now a duplicate of #41343.

CC @nikomatsakis do you have any ideas of what the appropriate output should be for these cases?

[2019-11-14 19:27] estebank opened #66420 "Fix `trait_ref_to_existential` as trait aliases is stabilized"
https://github.com/rust-lang/rust/pull/66392#discussion_r346112428

There appears to be a missing filter on top of `expand_trait_aliases`, which picks up non-supertraits where clauses - but also, the object safety completely ignores trait aliases, which could be object safety hazards. We now use `delay_span_bug` there to avoid an ICE in stable even when the feature is disabled.

[2019-11-14 19:28] pnkfelix commented on #65774
Ah, okay, I overlooked that detail earlier.

Now I can reproduce it.

Reopening (and will try to minimize, if only as fodder for a blog post on reducing i am planning)

[2019-11-14 19:43] bstrie commented on #23228
Closing as per the rationale in my previous comment; Rust is far more capable of doing niche optimizations where it makes sense than back when this issue was originally filed in 2015, and it's unclear that this specific memory optimization is actually desirable.

[2019-11-14 19:43] #23228 closed

[2019-11-14 19:47] bstrie commented on #36610
I'm unsure whether this issue is still relevant; if a member of the compiler team happens to take a look at this and decide that this no longer reflects the current thinking then I'd be fine closing this.

[2019-11-14 20:02] bstrie commented on #44948
@sunfishcode , care to give a yearly update on LLVM's progress here? :) Alternatively, if you think this issue is no longer relevant I would be open to closing it.

[2019-11-14 20:18] bIgBV commented on #64205
@hdhoang sorry about the delay, I got a bit busy with work recently, but I'm going to pick this up again.

[2019-11-14 20:18] Ericson2314 commented on #36610
I would say https://github.com/rust-lang/wg-cargo-std-aware/issues/51 this is its moral equivalent

[2019-11-14 20:20] scottmcm commented on #66362
Direct repro link: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f1197162b57e77fff49f0e9536aa6366

Current warning:
[code]

Seems like a diagnostics fix to change the help to
[code]

[2019-11-14 20:39] joshtriplett commented on #66362
We discussed this in the lang team meeting, and we agree with the proposal here. We shouldn't warn twice over the same field name; we should only warn about the definition, and not *again* when you match it.

Note, in particular, that it seems like a relatively common pattern to disable these lints *only* in a module written by bindgen or otherwise written to match some external spec/API, but leav

[2019-11-14 20:41] Areredify commented on #66402
I was able to reproduce it,
[code]

[2019-11-14 21:19] jhpratt commented on #55057
`enum`s are also linted here as of 1.40

[2019-11-14 21:39] estebank opened #66422 "Come up with regression test for #66286"
Follow up to #66286 and #66390, as per https://github.com/rust-lang/rust/pull/66390#issuecomment-554078954.

Minimize a test that exercises the same codepath as

[code]

[2019-11-14 21:51] Jasperav commented on #48926
Coming from a Swift background it really bothers me that I don't get warnings when not using a functions return value by default.

Copied from my comments at https://stackoverflow.com/a/50437107/7715250:

and

When I write a function in in my main languages (Swift/Java) and I add a return type, it is really 99% likely I want to caller to DO something with the result. I really dislike the Rust way,

[2019-11-14 21:55] ChrisJefferson opened #66423 "Confusing errors when using trait name in function definitions"
Sorry, not really sure how to describe this, In general I think the compiler isn't helpful in directing me to make things static, and seems to always want to force me towards dynamic dispatch.

Consider the following trait. I added 'Sized' because I don't want to use dynamic dispatch (which was hard to find by itself).

[code]

Compiling this gives the following, which really doesn't help finding

[2019-11-14 22:13] Amanieu commented on #51540
I feel that we can *probably* get away with making OOM unwind by claiming that any unsafe code made unsound by this change was always broken.

I personally feel that unwinding on OOM (even on std) is the right approach: 99% of OOMs are caused by excessively large allocations rather than actually running out of memory. Even if unwinding requires allocating memory, this will usually work fine. A dou

[2019-11-14 22:14] #66423 closed

[2019-11-14 22:31] ChrisJefferson opened #66424 "Suggest using Self in traits"
I wrote the following trait: `trait Area : Sized { fn f(a : Area) -> Area; }`. What I meant (I've now discovered) was `trait Area : Sized { fn f(a : Self) -> Self; }`. However, it isn't easy to get "to that point".

Reading the pages linked to from the compiler warning, and the rust book, I didn't find anything which discussed what using the name of a trait inside the trait means -- in particular

[2019-11-14 22:33] jonhoo opened #66425 "#[must_use] does not yield warning in pattern match"
The following code does not warn that `_f` in `use_foos` is marked as `#[must_use]`:

[code]

If we change `_f` to `f`, we get a warning that `f` is unused, but still no `#[must_use]` warning.

Adding `#[must_use]` to the enum and variant does not make produce the warning either:

[code]

[2019-11-14 23:04] wdanilo opened #66426 "Impossible to return unboxed closure from some functions."
Hi! I'm trying to write a lens library for Rust (see this for reference about lenses: https://github.com/ekmett/lens/wiki). I'm trying to write it in an zero-overhead style, so all lens-usages could be optimized away during compilation stage, thus, I'm trying to create unboxed closures and glue them together. However, a very strange error occurs here. Consider the following code:

[code]

It compi

[2019-11-14 23:55] BatmanAoD commented on #48926
@Jasperav That might be too big a change to make except at an edition boundary, but Rust 2021 is right around the corner 😃

[2019-11-15 00:00] Diggsey commented on #66348
For an example service, the breakdown by file type is:

[code]

Another thing that stands out to me is that a large proportion of space is taken by the executables and PDB files of build scripts and that these build scripts are all duplicated: once for RLS and once for normal builds. I don't see a reason why RLS couldn't reuse the same build script artefacts as the main build?

[2019-11-15 00:12] Aaron1011 commented on #66426
Minimized:

[code]

This appears to be caused by the fact that we create a new inference variable for `Foo` from `Wrapper<Foo>`, but never unify it because `produce` does not constrain  the opaque type.

As a side note, we should probably be cheking for type errors when we collect opaque type uses, so that we don't print useless errors like:

[code]

[2019-11-15 00:12] pnkfelix commented on #65774
Okay I've narrowed it down.

I don't have the test case into a state where I'm ready to post it yet (I need to clean it up a little more)

But if you want to fix your problem, its this:

https://github.com/tock/tock/blob/f29f8aa9bf9925893e905feb1aa42db2ce57d36f/kernel/src/platform/mpu.rs#L48

Namely, you are using the (feature-gated) `#![feature(associated_type_defaults)]`, and we do not currently

[2019-11-15 00:28] Zoxc commented on #66352
My PRs which moves stuff into queries probably do get rid of these.

`rustc_metadata` should get replaced by some mechanism which caches / exports query result from other crates, so I wouldn't do anything because of that.

[2019-11-15 00:30] wdanilo commented on #66426
@Aaron1011 thanks for tracking it down. Tbh, I don't see why your code is a minimized version of mine – I don't return from any function variant without the impl trait. This is just a note – I don't know the internals of rustc so I can miss a lot of info here :)

[2019-11-15 00:36] guanqun commented on #62524
Confirmed that my fix fixed this issue, I also add this unit test in this PR: https://github.com/rust-lang/rust/pull/66429

[2019-11-15 00:38] memoryruins commented on #66348
For rls, https://github.com/rust-lang/rls/issues/753#issuecomment-371351797 described the issue as

[2019-11-15 01:06] BatmanAoD commented on #48926
It would also be appropriate to create an off-by-default clippy lint implementing that behavior, I think.

[2019-11-15 01:07] ehuss commented on #48683
A proposal to stabilize the `profile-override` part has been posted at https://github.com/rust-lang/cargo/pull/7591.

[2019-11-15 01:13] alexcrichton commented on #66308
Sorry I'm not sure where this would be coming from either.. It's likely due to the upgrade of LLVM for the emscripten target for sure though

[2019-11-15 01:16] pnkfelix commented on #65774
Okay here is the reduction ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=46caf21e71c9806d7d8fe431b06c84a0)):

[code]

[2019-11-15 01:23] #66409 closed

[2019-11-15 01:26] pnkfelix commented on #65774
related: bug #62211, PR #61812, bug #33017

[2019-11-15 01:47] mankinskin commented on #36887
I don't think this is the point of using default type parameters for functions. In your example it could easily be derived what the type of `foo(None)` should be, simply the same as `foo::<String>(None)`, as the type parameter was omitted and the default kicks in.

I have a use-case where I want to be able to apply a default value to a trait `impl`:
[code]
And then use the function `filter` with `

[2019-11-15 02:31] Aaron1011 commented on #66426
I've opened https://github.com/rust-lang/rust/pull/66431. It addresses the first 'layer' of errors, but there appear to more (thankfully, better) errors that appear after this one is no longer emitted.

[2019-11-15 02:46] skylei commented on #44787
For the first time:

The latest version of rust is installed

The second time:

Mingwin installed

An error occurred during compilation:

Through data inquiry

install

rustup install stable-x86_64-pc-windows-gnu

It's solved.

[2019-11-15 04:03] scottmcm commented on #48926
No need for a clippy lint; it already exists in rustc: https://doc.rust-lang.org/rustc/lints/listing/allowed-by-default.html#unused-results

[2019-11-15 04:19] SiavoshZarrasvand commented on #63959
I'm happy to take this one on.

[2019-11-15 05:26] estebank commented on #49294
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=56ed8d0f97fdb4cb594dfe99754496a8):

[code]

[2019-11-15 05:26] #49294 closed

[2019-11-15 05:27] likebike opened #66433 "Critical spelling mistake in const_in_array_repeat_expressions compiler suggestion"
The compiler is suggesting an incorrectly-spelled feature:

https://github.com/rust-lang/rust/pull/65858#issuecomment-554202695