[2022-08-07 01:02] Ericson2314 commented on #43467
It sounded to me like there was some interest from the lang team on trying out `DynSize` on a super unstable basis in the last few months.

[2022-08-07 01:07] TheAwiteb opened #100216 "Should `:` included in the expected values"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]
`:` is not included in the expected values and I think it should be

[2022-08-07 01:08] TheAwiteb commented on #100216
I forgot to try the code at nightly and it's solved there

[2022-08-07 01:08] #100216 closed

[2022-08-07 01:20] ian-h-chamberlain commented on #52331
I would like to express support for this as an option, because I think it's conceivable there would be use cases for other OSes expanding on the API in the future (for example, the 3DS horizon OS is another place where we'd like something similar). It doesn't seem ideal in my opinion to add a new `{os}_kind()` method for every new OS that wants something like this, but an extension trait could all

[2022-08-07 01:37] shelvacu opened #100217 "generic_const_exprs: associated type with const parameter set by associated const gives "undefined reference" linker errors"
MVCE:

[code]

(longer than I'd usually like an MVCE to be, but I couldn't find any more ways to shorten it)

<details><summary>Output with linker error:</summary>

[code]
</details>

Rustc version:
[code]

Also looked at other issues, one of these may be a dupe but none match the structure of the MVCE or the same linker error:
* #83972 - also tried with `RUSTC_FLAGS="-Zsymbol-mangling-version=v0"

[2022-08-07 01:41] shelvacu commented on #100217
Also repro's on windows:
<details><summary>Windows linker error</summary>

[code]
</details>

rustc version:
[code]

[2022-08-07 01:47] drewcrawford opened #100219 "no errors encountered even though `delay_span_bug` issued"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-07 02:32] blueForestIcarus commented on #90863
[code]

I would agree that the FromResidual line is distracting. It took me a solid minute to realize this wasn't some weird new error message I hadn't seen before and that  `^ the trait `StdError` is not implemented for `bytemuck::PodCastError` was the whole cause (turns out I had an old version of the library).

[2022-08-07 02:40] inquisitivecrystal commented on #100204
I think the main question here is whether we'd rather have docs fail entirely, or have them build but be incorrect. Personally, I really don't like having *either* of those on stable, but I'm not sure what to do about it.

[2022-08-07 03:37] dwrensha commented on #96847
searched nightlies: from nightly-2021-01-07 to nightly-2022-07-24
regressed nightly: nightly-2022-05-05
searched commits: from https://github.com/rust-lang/rust/commit/e1b71feb592ba64805689e2b15b9fa570182c442 to https://github.com/rust-lang/rust/commit/4c60a0ea5b2385d7400df9db1ad04e96f2a4c154
regressed commit: https://github.com/rust-lang/rust/commit/4c60a0ea5b2385d7400df9db1ad04e96f2a4c154

<deta

[2022-08-07 03:38] dwrensha commented on #96847
This regressed in #96546. cc @nnethercote

[2022-08-07 05:37] #96342 closed

[2022-08-07 05:58] compiler-errors commented on #100219
This no longer ICEs after #100092, but instead emits an error:

[code]

[2022-08-07 06:08] fee1-dead opened #100222 "`#[const_trait]` and super trait error"
I tried this code:

[code]

I expected to see this happen: compiles
Instead, this happened: errors

### Meta

latest nightly

[2022-08-07 06:47] thomcc commented on #77745
Uh, hm. Sure, I guess I have some time for this. I likely will need someone more familiar with const eval to actually look over it after I have something, do you mind?

[2022-08-07 07:13] leonardo-m commented on #100198
The last Nightly doesn't have this problem...

[2022-08-07 07:13] #100198 closed

[2022-08-07 08:19] #100009 closed

[2022-08-07 09:15] trrk opened #100224 "ICE: due to certain invalid function definitions (nightly)"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]
ICE does not occur on stable rustc 1.62.1 (e092d0b6b 2022-07-16)

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-07 09:44] anzbert commented on #20866
thx @CeresCa .
I've used that extension to create create an epub for the latest book version
[The_Rust_Programming_Language_1.59.epub.zip](https://github.com/rust-lang/rust/files/9276553/The_Rust_Programming_Language_1.59.epub.zip)

[2022-08-07 10:02] workingjubilee commented on #100161
...why the hell would it advertise it supports SSE4a but it wouldn't advertise support for SSE3 or SSSE3? I mean it looks normal aside from that...

If you run with `ulimit -c unlimited` you should be able to get a core dump and then attach gdb to it in order to determine which instruction was in fact located at that address during that execution. Very peculiar.

[2022-08-07 10:03] gThorondorsen opened #100225 "Documentation block comments always become doctests if indented too much"
In a project of mine, I use the following convention for doc comments (indentation is `____`):

[code]

When indented by 5 spaces or more (i.e. 4 more than appear after `/**`), the `Long description` part starts getting considered as an indented code block, to be tested as Rust code, despite the comment start `/**` being at the same indentation level. It happens regardless of whether the empty lin

[2022-08-07 10:14] trrk commented on #88884
Maybe this issue should be closed.
We concluded that 'z: 'z should also cause an error, but it compiles without error, and that this is a bug.
We have some code that should compile error if there is no bug. These cause errors when compiled with the current nightly build. This is probably because #98835 has been merged.

version: 1.65.0-nightly (2022-08-06 2befdefdda0f2bc5ff93)

[2022-08-07 10:37] trrk commented on #88884
I used Rust Playground to check the behavior.

Stable version: 1.62.1
Nightly version: 1.65.0-nightly (2022-08-06 2befdefdda0f2bc5ff93)

This code can be compiled in stable and cannot be compiled in nightly.

<details>
<summary>Code that should compile error if there is no bug</summary>

Copied from https://github.com/rust-lang/rust/issues/88884#issuecomment-917665529

Copied from https://github.c

[2022-08-07 11:50] noonuid commented on #100110
`RUSTFLAGS='-C target-feature=+crt-static' cargo build --target x86_64-unknown-linux-gnu`

[2022-08-07 12:06] porky11 opened #100227 "Universal function call syntax for `Vec::contains` does not work."
[code]
### Meta

`rustc --version --verbose`:
[code]

[2022-08-07 12:14] RalfJung commented on #77745
Yeah just ping @rust-lang/wg-const-eval and we'll be happy to give feedback. :) AFAIK we all want something like this to happen (@oli-obk @lcnr stop me if I am wrong).

They must happen in a way that Rust code never sees it, i.e., changing it back to the previous configuration before control flows back to Rust. Then it's fine. Otherwise it's UB and you might have bigger problems.

Yes indeed that

[2022-08-07 12:35] RalfJung commented on #99923
https://github.com/rust-lang/rust/pull/100229 implements the first step of that plan.

[2022-08-07 12:39] Wardenfar commented on #82381
@rustbot claim

[2022-08-07 12:39] gimbles commented on #100227
Can you elaborate on *how* it doesn't work?

[2022-08-07 12:40] RalfJung opened #100231 "Tracking issue for layout sanity checks"
This is not tracking a user-visible feature, but it's still a tracking issue of sorts...

In https://github.com/rust-lang/rust/pull/96872 I have started implemented some checks we run on all computed layouts (when debug assertions are enabled), because it turns out we *do* have invariants on those layouts and they *do* get violated. There is still a lot more that can be checked though.

Implementa

[2022-08-07 12:41] RalfJung commented on #100231
In https://github.com/rust-lang/rust/pull/99983#issuecomment-1207143762 @eddyb suggested a way to check Even More Things (TM), including a lot of code already almost implementing that.

[2022-08-07 12:47] dlight commented on #77745
I was thinking about this and the only way this issue can ever be addressed is if Rust had a software floatng point implementation that perfectly emulates each supported platform (not only nan shenanigans but also x87 weirdness etc). Then it would work even if cross compiling

On one hand this would introduce a great burden to every supported platform, to the point that many platforms would need t

[2022-08-07 12:50] sibyl666 commented on #99975
Here is a minimal example to reproduce the issue. The error happens when I run with the ``--release`` flag
[code]

[2022-08-07 13:28] Nilstrieb commented on #100227
`contains` is not a method on `Vec<T>`, but on slices. You can use method call syntax here because `.` goes through `Deref`, and `Vec<T>` derefs to `&[T]`.
https://doc.rust-lang.org/std/primitive.slice.html#method.contains

[2022-08-07 13:57] RalfJung commented on #77745
Not allowing float operations in `const fn` also "addresses" the problem. ;) Not in a way that makes anyone happy, though...

Note that there has been *tons* of prior discussion on this specific problem, also considering e.g. disallowing NaNs in `const`.

[2022-08-07 14:00] RalfJung opened #100233 "apfloat bug: incorrect handling of infinities in FMA"
The Rust port of LLVM's apfloat has a bug in its FMA (fused-multiply-add) implementation. See https://github.com/rust-lang/miri/issues/2468#issuecomment-1207310464 for details, but basically it fails this assertion:
[code]

AFAIK we don't use apfloat FMA anywhere (Miri stopped using them to work around this bug), but this should still be tracked, and will need to be fixed before we can allow FMA i

[2022-08-07 14:01] cjgillot commented on #79148
This is fixed on recent nightly.

[2022-08-07 14:51] algesten opened #100235 "Unhelpful help text E0435 for error hidden in macro"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=dadc51025c06cf1f6d7dd68f793bb2c0

[code]

The current output is:

[code]

The help text is in this case not very helpful, potentially leading a user to try solutions that won't work. In this specific case, it would maybe be better to omit the `help:` section. Or, if possible maybe something like `help

[2022-08-07 15:27] DesmondWillowbrook opened #100236 "add help for cases where item is out-of-scope due to cfg directives"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

This seems like a duplicate, but I wasn't able to find another issue for this.

[2022-08-07 15:54] cjgillot commented on #82650
Fixed by https://github.com/rust-lang/rust/pull/91743.

[2022-08-07 15:54] #82650 closed

[2022-08-07 15:56] cjgillot commented on #81788
Fixed by https://github.com/rust-lang/rust/pull/91743.

[2022-08-07 15:56] #81788 closed

[2022-08-07 16:18] Nilstrieb commented on #100227
[code]
But the error is definitely not good here and could be improved to say there the methods does exist on something that the type derefs to.

[2022-08-07 16:38] porky11 commented on #100227
You are right, I've been stupid

[2022-08-07 16:38] #100227 closed

[2022-08-07 17:13] jendrikw opened #100241 "ICE in rustdoc: `internal error: entered unreachable code`"
### Code

[code]

### Meta

Happens with `1.65.0-nightly (2befdefdd 2022-08-06)` and stable `1.62.1 (e092d0b6b 2022-07-16)`.

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-07 17:13] Nilstrieb commented on #100227
Would you like opening an issue for the diagnostic? A hint telling that the method exists on a deref.

[2022-08-07 17:17] makspll opened #100242 "rustdoc `--json` struct and enum impls are blank"
running `	rustup run nightly cargo rustdoc -p glam --  -Zunstable-options --output-format json`

produces this record for the [glam](https://docs.rs/glam/latest/glam/f32/struct.Mat3.html) type `Mat3`:
[code]

I would expect "impls" to not be blank, since the matrix implements many traits and has a non-trait implementation as well. The paths entry also does not contain `Mat3` as well as many other

[2022-08-07 17:44] meisme-dev commented on #100000
❤️ 🦀 ❤️

[2022-08-07 17:47] makspll commented on #100242
Now running with `	rustup run nightly-2022-07-01 cargo rustdoc -p glam --  -Zunstable-options --output-format json`:

produces:
[code]

[2022-08-07 18:23] Enselic commented on #100242
Thank you for reporting 👍

@rustbot labels +A-rustdoc-json +T-rustdoc

[2022-08-07 18:36] Enselic commented on #100242
Seems like this could be another symptom of https://github.com/rust-lang/rust/issues/100204

[2022-08-07 19:18] sanbox-irl opened #100246 "ICE with the image crate"
### Code

[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

and then if I increase the recursion limit enough...

[code]

adding a backtrace gives nothing new, however, compiling on nightly gives the following:

[code]
</p>
</details>

I strongly suspect this is related to https://github.com/rust-lang/rust/issues/89275, but that issue is now old and should have been s

[2022-08-07 20:03] nnishant776 opened #100248 "Get length of packet from datagram sockets (`UdpSocket`, `UnixDatagram`)"
## Summary
Provide an API to peek/get the length of the datagram

The unstable feature `unix_socket_peek` adds methods `peek` and `peek_from` for `UnixDatagram` and `UnixStream`. While they allow to peek at the the data, however, the API returns the number of bytes read on success. To get the length of the datagram instead of the bytes read, in an API similar to `peek`,  `MSG_TRUNC` `or`ed with th

[2022-08-07 20:03] Seppel3210 commented on #100164
geez the code size will probably be huge with that as well :cold_sweat: @Amdahl-rs
Instead of `type Item = dyn SomeTrait;` you maybe meant `type Item = Box<dyn SomeTrait>`?
Or if you really want to allow unsized types (and with that also `dyn Trait` types) for the associated type you have to do
`type Item<'a>: Scalar<'a> + ?Sized where Self: 'a`

[2022-08-07 20:05] Seppel3210 commented on #100164
And also where is the `Scalar` trait defined? Is it in your crate or an external one? If it is external: which one?

[2022-08-07 20:41] cjgillot commented on #41244
Syntactic plugins have been removed by https://github.com/rust-lang/rust/pull/66647.

[2022-08-07 20:41] #41244 closed

[2022-08-07 21:02] #81540 closed

[2022-08-07 21:11] jijothic commented on #100000
❤️ 🦀 ❤️

[2022-08-07 21:49] fundon commented on #80437
Here's a very practical use case for a routing system. Likes [actix-service](https://docs.rs/actix-service/latest/actix_service/) and [tow-service](https://docs.rs/tower-service/latest/tower_service/).

Whenever you want to add a new middleware, you need to boxed operation, if you have into_inner method, you only need to boxed once is enough.

[2022-08-07 22:51] #99221 closed

[2022-08-07 22:52] Mark-Simulacrum commented on #99683
Retagging as a stable/stable regression in anticipation that this will slip into 1.63, and likely not be fixed for a good while.

[2022-08-07 22:52] #99116 closed

[2022-08-07 22:54] Mark-Simulacrum commented on #99684
Untagging as a regression since we merged a revert (https://github.com/rust-lang/rust/pull/99689) in https://github.com/rust-lang/rust/pull/100171. Not closing since it sounds like we're still investigating some alternative fixes for future releases.

[2022-08-07 22:55] Mark-Simulacrum commented on #99035
Untagging as regression from 1.63, as we reverted in https://github.com/rust-lang/rust/pull/99435 (and that PR was backported).

[2022-08-07 23:00] dtolnay commented on #80437
I don't understand how `Box::into_inner` helps reduce nesting. Could you please say more?

[2022-08-07 23:20] fundon commented on #80437
Here is an example using [actix-web](https://github.com/actix/actix-web):

https://github.com/actix/actix-web/blob/master/actix-web/src/route.rs#L40-L63
[code]

 https://github.com/actix/actix-net/blob/master/actix-service/src/boxed.rs#L66-L80

[code]

 `self.service` is boxed, if add a new middleware to it, need to wrap it again use `Box`.
 When adding a lot of middleware, it wraps many `Box` lay

[2022-08-07 23:41] dtolnay commented on #80437
But that could be written easily and concisely (with less nesting of parentheses) as:

[code]

so this does not address https://github.com/rust-lang/rust/issues/80437#issuecomment-1150255531.

[2022-08-08 00:14] #100224 closed

[2022-08-08 00:21] obi1kenobi opened #100252 "Rustdoc JSON might not report all implemented traits on a public type"
Given a public type, I expected all traits implemented by that type to be part of rustdoc JSON output.

However, rustdoc JSON output sometimes does not include information about all the traits implemented by a type unless `--document-private-items` is specified.

For example, in this `clap` [semver regression](https://github.com/clap-rs/clap/issues/3876):
- The following invocation on v3.1.18 gene

[2022-08-08 00:35] compiler-errors commented on #100246
@sanbox-irl can you provide the `Cargo.toml` you compiled that code snippet with? The provided code doesn't seem complete.

[2022-08-08 01:19] Amdahl-rs commented on #100164
Thanks:  @Seppel3210
The main problems are:
Association type trait, which is caused by using box < dyn sometrait >

[2022-08-08 01:57] compiler-errors commented on #100179
There's nothing more to do except for wait until the fix lands on stable, which is happening in the next release which happens in a few days. I'm gonna close this issue because of that, thanks for the report!

[2022-08-08 01:57] #100179 closed

[2022-08-08 01:57] camelid opened #100254 "Should rustdoc support links in headings?"
Markdown allows links to appear in headings, but rustdoc doesn't (properly) support this. @GuillaumeGomez had a PR to implement this: #94360. However, supporting this feature makes other parts of rustdoc's UI worse: Currently, rustdoc makes headers link to themselves (to make grabbing a link to the header easier). If we supported user links in headers, this wouldn't work anymore. We could use “§”,

[2022-08-08 02:07] RalfJung commented on #90435
They apply globally, *if you pin your dependency*. But nothing in any of those documents says anything about *how library authors are allowed to evolve their type definitions* while being semver-compliant. It's perfectly semver-compatible to, for example, remove the `repr(transparent)` from `PathBuf`.

So yes, the layout of a type is a property that is true anywhere, *but how that layout may chang

[2022-08-08 02:38] analog-hors commented on #99630
By the way, this is currently affecting my crate `cozy-chess`, which defines associated constants using a macro. The macro expands to a highly verbose expression, which rustdoc then documents, leaving the documents unreadable. I don't particularly like that rustdoc makes assumptions about what the readable form of a constant looks like. Could there be a temporary fix in the meantime?
![image](http

[2022-08-08 02:41] K4rakara opened #100257 "SIGABRT ICE in proc macro"
This is a really weird one... and it might be a bit of a mess to debug. I honestly wish I could tell you more, but this is beyond my knowledge of the compiler.

### Code

This requires multiple crates, due to it being a proc macro issue. [Here](https://github.com/rust-lang/rust/files/9278216/repo.zip) is the smallest reproducible case I was able to create.

### Meta

`rustc --version --verbose`:
[

[2022-08-08 02:42] K4rakara commented on #100257
Worth noting: this happens both on nightly and on stable.

[2022-08-08 03:35] chenyukang commented on #100235
@rustbot  claim

[2022-08-08 04:18] luqmana commented on #100257
I believe this is a dupe of https://github.com/rust-lang/rust/issues/63804. Sticking proc_macro types in TLS is not supported (which is what `memoize!` is doing in your repro).

[2022-08-08 04:20] camelid commented on #100252
cc @CraftSpider @aDotInTheVoid

[2022-08-08 04:37] K4rakara commented on #100257
This isn't holding the generated token streams outside the lifetime of the macro invocation though, so shouldn't it be fine?

[2022-08-08 05:00] luqmana commented on #100257
The `MEMO` thread local generated in each function `memoize!` is applied to (just `generics_and_tuples` in this case) will stick around until it is cleaned up at thread destruction. What's happening here is it seems that that cleanup occurs after the proc macro server disconnects and so when the proc_macro types in your thread local go to notify the server to clean up the corresponding data, it hi

[2022-08-08 05:45] jyn514 commented on #99919
@craterbot run mode=rustdoc cap-lints=allow start=nightly end=nightly+rustdocflags=-Zunstable-options\ -wjson

[2022-08-08 05:58] camelid opened #100258 "Bootstrap panics when running `x fmt --check`"
I ran `x fmt --check` and got this panic, although the rustfmt output had already been printed:

[code]

Notably after running `x fmt`, the panic stops (and `x fmt` doesn't panic either). But reintroducing something where rustfmt will suggest changes brings the panic in `--check` back.

*See previous discussion at [this Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler

[2022-08-08 06:03] est31 commented on #100246
@compiler-errors I can reproduce it with `image = "0.24"` in the `[dependencies]` section of a Cargo.toml, but this is not an ICE.

[2022-08-08 06:06] jyn514 commented on #100258
This is a regression from https://github.com/rust-lang/rust/pull/98994. `resume_unwind` only exits the process when run from the main thread.

[2022-08-08 06:18] jyn514 commented on #79334
This is an issue with libtest - compiletest passes in `expr/compound-assignment/eval-order.rs` as the filter, which libtest counts as filtering out `expr\compound-assignment\eval-order.rs` too.

I think the workaround is to manually turn forward slashes into backslashes in `impl Step for test::Compiletest`.

[2022-08-08 06:21] jyn514 opened #100259 "Get rid of the distinction between `method` and `function` in rustdoc JSON output"
Rust has no concept of methods. Distinguishing between these makes no sense and is an artifact of how rustdoc represents these internally - consider for example the ambiguous case
[code]
We should remove this distinction before the format is stabilized.

cc @obi1kenobi @CraftSpider @camelid

[2022-08-08 06:37] obi1kenobi commented on #100259
The one thing I'd be careful about is consistency of terminology and intuition between the Rust book and rustdoc. [The Rust book mentions methods](https://doc.rust-lang.org/book/ch05-03-method-syntax.html) as a kind of associated function, even though this is merely a human-made distinction and is not observed at layers below "human reading the code."

I'm completely in favor of not distinguishing

[2022-08-08 06:39] jyn514 commented on #100259
I think we distinguish associated items by adding a `parent` field or something like that?

But yeah documenting that the `kind` is the same for all 3 seems fine.

[2022-08-08 07:31] #100204 closed

[2022-08-08 07:39] etairi commented on #62924
When will this stabilize?

[2022-08-08 07:48] edwin0cheng commented on #60593
Thanks @eddyb  for your investigation and fixes for this issue !

And since the proc-macro bridge in rust was changed a lot, the original example code from @fedochet is obsoleted.
But I spent some times to recreate a [new one](https://github.com/edwin0cheng/prom-bugs) and confirmed your fixes works !

And I think we close this issue.

[2022-08-08 08:04] HaimYosefHaim opened #100263 "ICE with multiple attributes on a test function"
Error happened when I added the `test_case` attribute from the `test-case` crate without adding the required `use`.

### Code

main.rs -
[code]

Cargo.toml -
[code]

### Meta

`rustc --version --verbose`:
[code]
Same error occurs on the latest nightly.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-08 08:06] pravic opened #100264 "rustdoc links point to function headers instead of the whole function starting from Rust 1.51"
Original, before 1.51: https://doc.rust-lang.org/1.50.0/std/primitive.array.html#method.map points to https://doc.rust-lang.org/1.50.0/src/core/array/mod.rs.html#428-464

Regression, starting from 1.51: https://doc.rust-lang.org/1.51.0/std/primitive.array.html#method.map points to https://doc.rust-lang.org/1.51.0/src/core/array/mod.rs.html#429-431

I expected to see this happen: line numbers shoul

[2022-08-08 08:21] pravic opened #100265 "rustdoc doesn't save filtered crate for search"
Originally:
* go to https://doc.rust-lang.org/1.59.0/std/index.html
* select "std" among search scope
* search for "exists", for example
* we can see that the results are from the "std" crate only
* go to the result https://doc.rust-lang.org/1.59.0/std/path/struct.Path.html#method.exists
* try to search again from there
* we can see the results only from the "std" crate

Starting from 1.60:
* http

[2022-08-08 08:21] pravic commented on #100265
@rustbot modify labels: +A-docs +A-rustdoc-search

[2022-08-08 08:22] pravic commented on #100264
@rustbot modify labels: +T-rustdoc

[2022-08-08 08:22] pravic commented on #100265
@rustbot modify labels: +T-rustdoc

[2022-08-08 08:33] #60593 closed

[2022-08-08 08:39] CLOVIS-AI opened #100266 "Generic trait with constraint on `Any` does not compile anymore"
### Code

I tried this code:

[code]

I expected to see this happen: code compiles

Instead, this happened: code doesn't compile (see error below)

### Version it worked on

It most recently worked on toolchain `1.60-x86_64-unknown-linux-gnu`

`rustup run 1.60-x86_64-unknown-linux-gnu rustc --version --verbose`:
[code]

### Version with regression

`rustc --version --verbose`:
[code]

### Backtrac

[2022-08-08 09:02] LYF1999 opened #100267 "Prove closure bound for TAIT, lifetime bound not satisfied"
I tried this code:

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-08-08 09:12] LYF1999 commented on #100267
I found this error occurred by this commit caee496150a551fe1b9f77b3a58f7e66d54bc824 through `cargo-bisect-rustc`

[2022-08-08 09:33] aDotInTheVoid commented on #100252
@rustbot modify labels: +E-needs-mcve

[2022-08-08 10:04] aDotInTheVoid commented on #100252
Interestingly, rustdoc-json is providing no impls at all:
[code]

[2022-08-08 10:12] Enselic commented on #100252
Missing impls is probably a recent regression, see https://github.com/rust-lang/rust/issues/100204

[2022-08-08 11:03] Fuuzetsu commented on #62924
Presumably when remaining one of the 3 people in https://github.com/rust-lang/rust/issues/62924#issuecomment-1179489929 lets it go into final comment period... Not sure what the procedure is for when this simply doesn't happen forever.

[2022-08-08 11:10] rbanffy opened #100269 "Support for Python 2.7 should be dropped"
Considering Python 2.7 is no longer maintained, it'd be wise to start winding down support for it in `x.py` and issuing a warning discouraging its use.

[2022-08-08 11:21] fmease commented on #99630
This is already fixed on nightly (#98814).
Since you are requiring a stable rustc, one workaround is to move the value of `BitBoard::EDGES` to a (private) free-standing const item `EDGES` and then set `BitBoard::EDGES` to `EDGES`.
Sorry for the inconvenience.
The PR mentioned above sadly wasn't backported to beta (yet).

[2022-08-08 11:27] analog-hors commented on #99630
To my knowledge, the linked PR does not fix the issue, which occurs when reexporting types.

[2022-08-08 11:32] conradludgate opened #100270 "Outlives-bounds in type aliases may affect object lifetime defaults which lint `type_alias_bounds` fails to acknowledge"
I tried this code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c358b7f20cd1b96bf3919a4339288971
[code]

I expected to see this happen:

[code]

`Borrow<'a, dyn Foo>` should default to `dyn Foo + 'static` and the `T: 'a` should be ignored.

Instead, this happened:

[code]

If you follow the guidance from the warning, it no longer compiles due to `dyn Foo` being static-i

[2022-08-08 11:38] danielhenrymantilla commented on #100270
Reduced:

[code]

removes the lint but leads to a compile failure.

[2022-08-08 11:50] fmease commented on #99630
Ah, I see (`cozy-chess` ⟷ `cozy-chess-types`).
Still, the workaround should work, right?

This issue will be fixed by my open PR #99688. However it is massive and a bit controversial I think, so reviews have stalled. I am still very eager to land it and I just contacted relevant people so work on the PR can pick up pace again.

[2022-08-08 12:06] m-ou-se opened #100272 "Suggestion for missing `match` arm includes a copy of a comment."
[code]

This produces the following `help` suggestion:

[code]

The suggestion includes a copy of the `// hello` comment, which seems wrong.

[2022-08-08 12:09] kjetilkjeka commented on #97174
A fix have been merged in LLVM (https://reviews.llvm.org/D129291). Next step is to get it into rustc

[2022-08-08 12:25] aDotInTheVoid commented on #100252
MCVE
[code]
produces ([full](https://codeberg.org/adot/rust-100252/src/branch/trunk/clap.json))
[code]
and with `--document-private-items` ([full](https://codeberg.org/adot/rust-100252/src/branch/trunk/clap-private.json))
[code]
@rustbot modify labels: -E-needs-mcve

[2022-08-08 12:36] xFrednet commented on #54503
This is interesting, since this is a totally different from my mental model. I see the lint attributes as region markers, identifying the lint behavior in the marked scope. If the lint emission behaves like try/catch blocks, then it wouldn't make sense that the following code emits a warning, since the `#[allow]` should catch all lint emissions.

[code]

I'm still in favor of having the `#[expect]

[2022-08-08 12:46] Nilstrieb commented on #100269
@rustbot label +A-bootstrap

[2022-08-08 12:47] lukas-code commented on #98593
Would this allow creating allocations at address zero?

[Currently, dereferencing a null pointer seems to be always UB, even if it was obtained with `from_exposed_addr(0)`.](https://rust.godbolt.org/z/z6oc78YEP)

[2022-08-08 12:52] Mark-Simulacrum commented on #54503
Hm, interesting example. I think my intuition is that it still should be possible to map it to the exception model, though it would need some adjustments to my prior phrasing -- I think reversing the direction of flow would work, such that a lint goes "inwards" rather than outwards through the scopes, allowing for more tightly bound catching to alter the behavior.

[code]

What is your expected be

[2022-08-08 12:55] digama0 commented on #98593
I think this will always be UB. Creating the allocation is probably fine, but actually using `*ptr` where `ptr` is equal to `0` should be UB. If you want to dereference 0, you should use `asm!`.

[2022-08-08 13:00] Mark-Simulacrum commented on #100269
In general, we don't currently have any significant pain due to maintaining support for python 2.7 in the very small amount of Python code that we use to bootstrap the build system (x.py/bootstrap.py). That makes any plan to remove support largely just hurt some fraction of users who do want/need it, and not really benefit us, so I don't think it makes sense. The user may also be using a supported

[2022-08-08 13:15] jsha commented on #100254
There was also some discussion at:

 - https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/Heading.20anchors.
 - https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/Anchor.20links.20on.20hover/near/271538428

I am convinced that we should allow links in headings, make headings not themselves links by default, and use a § on hover consistently for all heading self-li

[2022-08-08 13:17] RalfJung commented on #99538
I have not seen this problem for a while, since I disabled proc macro and build script support in RA.

[2022-08-08 13:22] betseg commented on #100000
notabug wontfix

[2022-08-08 13:25] Stargateur commented on #65816
Return a tuple that contains two variable with the same type has the problem to not have named field, this mean a user could confuse capacity and len. I would avocate to define a struct `VecRawParts` with public named field. Or hint the order with the method name.

[2022-08-08 13:29] aznhe21 opened #100276 ""temporary value dropped while borrowed" occurs with let-chains"
I tried this code:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=02cc60332ebe5829791b841b96fa8c5b
[code]

I expected to see this happen: both compiles successfully

Instead, this happened: `let_chains` fails to compile

[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-08-08 13:30] jibnew commented on #42168
Trying to use somebody else's code from 2017 which has been successfully compiled by the author, I get a bunch of errors like
[code]
and many others.

Is there a way I can repair this?

[2022-08-08 13:33] mina86 commented on #65816
I’m not commenting to disagree but to offer a mnemonic: the three values are given in the order the things they represent are placed in memory.  The first is pointer to the beginning of the region.  The second represents the end of the valid slice which is somewhere in the middle between beginning and end of the allocated memory.  The third represents the end of allocated memory which comes last.

[2022-08-08 13:59] MinusKelvin commented on #99630
I think it would be good to have a separate hotfix PR to make the behavior in this case match that implemented in #98814, as this is clearly what was intended in the first place.

I think it may also be worth noting that there doesn't seem to be anywhere for experimental rustdoc features (I think it is clear that formatting non-trivial constant values is experimental) to live prior to being includ

[2022-08-08 14:12] RalfJung commented on #98593
Indeed, Rust assumes that there is never an allocation at 0, so there can't be an exposed provenance that is valid for that address, either.

[2022-08-08 14:12] jsha commented on #99952
I think this is equivalent to a request for `#[doc(inline)]` to be implemented on type definitions. Is that right? https://doc.rust-lang.org/rustdoc/write-documentation/the-doc-attribute.html#inline-and-no_inline

[2022-08-08 14:13] camsteffen commented on #34761
Trivial blocker. There doesn't seem to be any restriction on where #[may_dangle] is allowed. It is currently allowed on const params, types, statements, etc. and shouldn't be AFAICT. ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=4993fb9a045873c21b1c6714a1de754e))

[2022-08-08 14:16] Nilstrieb opened #100278 "Using non-existent associated method doesn't hint about deref"
In #100227, someone was a little confused by `<&[T]>::contains` not being accessible as`Vec::<T>::contains`.

Given the following code: [](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1d36dcb34966fbb76466c06ce945bc95)

[code]

The current output is:

[code]

Ideally, it would add a note about the method being found on a type that `Vec<_, _>` can deref to.

[2022-08-08 14:17] Nilstrieb commented on #100227
I've opened an issue.

[2022-08-08 14:19] SimonSapin commented on #65816
The tuple order is the same as the arguments to `Vec::from_raw_parts`, but the memory order is both unspecified and not actually that one:

https://github.com/rust-lang/rust/blob/f03ce30962cf1b2a5158667eabae8bf6e8d1cb03/library/alloc/src/vec/mod.rs#L400-L403
https://github.com/rust-lang/rust/blob/f03ce30962cf1b2a5158667eabae8bf6e8d1cb03/library/alloc/src/raw_vec.rs#L52-L56

[2022-08-08 14:19] Nilstrieb commented on #100276
This may have something to do with #99852, as there is something about let_chain drops here as well, but I don't for sure.

[2022-08-08 14:23] vtvz commented on #100215
A bit more context:
🟢 Builds fine with `rustup override set nightly-2022-08-05 && cargo build`
<details>
  <summary>rustc --version --verbose</summary>
[code]
</details>

🔴 Breaks with `rustup override set nightly-2022-08-06 && cargo build`

<details>
  <summary>rustc --version --verbose</summary>
[code]
</details>
<details>
  <summary>The error itself</summary>

[code]

</details>

[2022-08-08 14:38] aDotInTheVoid commented on #100252
This is almost certanly due to https://github.com/rust-lang/rust/pull/99287

searched nightlies: from nightly-2022-07-01 to nightly-2022-08-08
regressed nightly: nightly-2022-07-17
searched commit range: https://github.com/rust-lang/rust/compare/23e21bdd25026e2839ebe946c2a937c1904887d2...d5e7f4782e4b699728d0a08200ecd1a54d56a85d
regressed commit: https://github.com/rust-lang/rust/commit/d5e7f4782e4

[2022-08-08 14:44] Stargateur commented on #65816
I agree but that a circular argument, `Vec::from_raw_parts` while not using a tuple have the same problem I raise, you could confuse the two and compiler have no way to help you.

For example while saying this method could have help, I also see case where people will easily swap cap and len. I think a named field help to "more likely to do the right thing".

I don't like much tuple in public API.

[2022-08-08 15:06] Kvicii commented on #100000
❤️ 🦀 ❤️

[2022-08-08 15:09] noonuid commented on #100110
This is the repo: https://github.com/Tencent/tat-agent
But the code is not the newest, so it does not have the code that I mentioned before.

[2022-08-08 15:18] GuillaumeGomez commented on #100254
Something we could potentially try would be to display § all the time. That would allow it to work on mobile devices. However it would make the display a bit heavier.

[2022-08-08 15:26] lopopolo commented on #65816
@Stargateur this is precisely what the `raw-parts` crate does which is linked earlier in the discussion.

https://crates.io/crates/raw-parts

[2022-08-08 15:32] b23r0 opened #100280 "support async drop trait"
hope to support async drop soon

[code]

Specifically as described here

https://rust-lang.github.io/async-fundamentals-initiative/roadmap/async_drop.html

[2022-08-08 15:36] Stargateur commented on #65816
I actually miss it but that doesn't change my point, I don't want to include a dep for something that trivial and that require to know this crate exist. I think we need it in std not elsewhere. We can already have a "into_raw_parts" using `capacity()`, `len()` and `as_mut_ptr()`, so the purpose of `into_raw_parts()` is to have a nice user friendly way to not make mistake, this mean current `into_r

[2022-08-08 15:41] Lokathor commented on #65816
I don't think that special types are required, but I do think that changing the first line of the docs would help immensely:

[2022-08-08 15:46] gimbles commented on #100269
Gotta wait another decade to painlessly drop support for 2.7... and then get an issue that something broke somewhere ;)

Jokes aside, 2.7 is still [unfortunately] in use by some ancient scripts, probably best to not drop support for it, or get bombarded with "Aaa something broke in X company I work at!" issues 😄

[2022-08-08 16:21] GoldsteinE opened #100282 "Associated consts in traits interact weirdly with type inference"
I tried this code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=243aeffbf1d5aac05edbcbc5ba488d1a)):

[code]

I expected to see it to compile and pass the assertion.
Instead, this happened: compiler successfuly inferred type for `tb`, but for some reason didn’t use the associated constant from trait:

[code]

### Meta

Replicates on stable, beta and nightly o

[2022-08-08 16:51] saethlin commented on #100110
The files you pasted into the issue thread are ambiguous, there are multiple files in this repo named `thread.rs` for example. If you can link to your own fork of this perhaps which has the modifications you want maybe I could reproduce the issue you are seeing.

The repo in question doesn't link on my machine with `target-feature=+crt-static`, I see the usual glibc warnings and then:
[code]

[2022-08-08 16:51] compiler-errors commented on #100267
Probably #98835 cc @aliemjay

[2022-08-08 16:52] xFrednet commented on #54503
That's similar :+1:

That should emit two warnings. The `#[warn]` indicates that this value should issue a warning, if the affected statement triggers the lint. The `#[expect]` looks for a lint emission that can be suppressed. Since the user expressed that the lint for the `duck` value should be emitted as a warning, it shouldn't be suppressed and therefore not fulfill the expectation.

Agreed, we

[2022-08-08 17:03] aDotInTheVoid opened #100283 "Rustdoc-Json: Fake span given for auto trait impls"
[code]
gives
[code]
with a given span of `{"begin": [1, 0], "end": [1, 0], "filename": "bad.rs" }`, which is not correct.

I think the span should probably be `None`/`null` in this case, which is suported without changing the schema (`span: Option<Span>` in `rustdoc_json_types::Item`

@rustbot modify labels: +T-rustdoc +A-rustdoc-json

[2022-08-08 17:34] 0atman commented on #100000
I had someone tell me this about their experience with Rust, and it was so beautiful I made it into a video :heart_on_fire:  https://www.youtube.com/watch?v=ZFDqh3slQfU

[2022-08-08 17:34] SoniEx2 opened #100284 "cargo fix --broken-code does not generate stubs for trait impls despite the error message containing the appropriate stubs"
[code]

### Meta

`rustc --version --verbose`:
[code]

(this also applies to 1.62.1 but it doesn't suggest making a bug report for it)

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-08-08 17:38] lyming2007 opened #100285 "Detect type mismatch due to loop that might never iterate with 3 or more return statements"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-08-08 17:39] lyming2007 commented on #100285
@claim

[2022-08-08 18:05] mina86 commented on #91006
Could we also get std::ffi::CStr::to_str covered by this issue?

I was hoping this would give me a safe compile-time way to construct str from CStr but currently std::ffi::CStr::to_bytes is not const (for whatever reason) so `std::str::from_utf8(cstr_value.to_bytes())` cannot be done in const context.

Alternatively, making std::ffi::CStr::to_bytes const would also work for me.

[2022-08-08 18:42] aliemjay commented on #100267
Minimized:
[code]

@rustbot claim
@rustbot label F-type_alias_impl_trait T-compiler

[2022-08-08 18:50] Omar-Belghaouti commented on #100000
So is this issue gonna be fixed or what?

[2022-08-08 19:05] michaelgrigoryan25 commented on #100000
Much love to Rust from Armenia 🇦🇲💖🦀

![rust goes brr](https://user-images.githubusercontent.com/56165400/183494124-44f238cc-7700-4e17-87fd-5b2b62ac911b.png)

( sorry for my design skills :-) )

[2022-08-08 20:17] zakarumych commented on #90603
Why would it have `I: ~const Iterator` bound instead of `I: Iterator`?

[2022-08-08 20:23] rbanffy commented on #100269
Makes sense. The amount of Python is really tiny. I guess this janitorial work can be safely postponed until the last LTS that supports Python 2 gets finally EOL'ed. We should probably tag this to a future release so that it revives in a good couple years.

[2022-08-08 20:31] aDotInTheVoid commented on #100252
More minimal (no_core)

[code]
Is correct in html
![image](https://user-images.githubusercontent.com/28781354/183508273-de44dd14-1b98-4f02-b7d1-0848f9982caa.png)
and wrong in json
[code]

[2022-08-08 20:51] GoldsteinE commented on #100282
Actually, I think it’s any associated items. It looks for me like the bug is somewhere in `resolve_ty_and_res_fully_qualified_call`, but I’m hugely underqualified for further debug.

I also failed to find any workaround. Even if I supply the correct answer, inference uses inherent impl and insists on incorrect answer:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=297d156

[2022-08-08 21:01] DemiMarie commented on #98593
Only non-`volatile` access should be UB.  If [my proposal for `volatile` semantics](https://github.com/rust-lang/unsafe-code-guidelines/issues/321) is accepted, one can use `volatile` to access any address whatsoever, including address 0 and even freed memory.  The reason this does not harm optimizations is that the return value of `ptr::read_volatile` in these situations is unspecified (_not_ und

[2022-08-08 21:28] camelid commented on #100265
I think this was an intentional change. Some people (including myself) preferred having the crate filtering be stateless. This may be the PR: #92735

cc @GuillaumeGomez

[2022-08-08 21:44] mbartlett21 commented on #90603
See https://github.com/rust-lang/rust/pull/90602#issuecomment-1077862893.
Basically, it makes it compatible with whether the IntoIterator trait gets a bound or not, and if it doesn't get a bound, this implementation can always be loosened later.

[2022-08-08 22:01] piegamesde opened #100289 "Bad suggestion for &mut in combination with Default (maybe also other traits)"
Given the following code:

[code]

The current output is:

[code]

This output is confusing, because changing the type to e.g. i64 won't solve the problem and instead cause a lot of new ones. For a HashMap, I currently get the suggestion to use a HashSet. The correct solution would be to recognize that `usize: Default` and suggest to add a `&mut`. This may generalize to other similar situations (`

[2022-08-08 23:02] GoldsteinE commented on #100282
In the unlikely case someone faces the same problem, I found a workaround:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=2a5e77fa0621dc77a77da278fc23d9d7

[2022-08-08 23:04] RustyYato opened #100290 "E0495 Diagnostic regression - missing actual source of error"
Given the following code: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=8fd726cb8a57173a376f00028de996f8) on nightly `2022-08-07`

[code]

The current output is as follows:

Note how the actual erroneous function call is completely missing! (`a.check_same(b.0)`)

[code]

Ideally the output should look like: (NOTE: this is the output of the last stable releas

[2022-08-08 23:31] eddyb commented on #60593
@edwin0cheng Well, you should thank @bjorn3 ;) - I'm happy it's over though!

[2022-08-08 23:35] eddyb commented on #100233
Copying the relevant parts here (it's a clumsy mistake I made when porting):

And it's not like I lost some tests during porting, [they only had that many](https://github.com/llvm/llvm-project/blob/5bbe452e75d464d02547cef0ea2919c53b693f54/llvm/unittests/ADT/APFloatTest.cpp#L470-L561).

[2022-08-09 00:33] ehuss commented on #100284
Thanks for the report! Can you possibly share the code or put together some kind of reproduction?  I'm curious if the `impl serde::Deserializer` was added by rustc or was it already there? I'm a bit confused since I can't think of a way for `fix` to get as far as it did if an empty impl already existed.

[2022-08-09 00:42] SoniEx2 commented on #100284
This:

[code]

produces this error:

[code]

which we strongly believe `cargo fix --broken-code` should fix, by adding in the necessary stubs.

we know `cargo fix --broken-code` isn't an IDE but it'd be nice to be able to use it as such... then again copypasting the error into the impl also works (tho the error assumes `Visitor` is in scope, which it isn't, but whatever.)

[2022-08-09 00:54] SoniEx2 opened #100295 "Multiple Fn bounds"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=cedda74405870f1697d8323ea0fa041d

[code]

The current output is:

[code]

Ideally the output should look like:

We don't have a specific output in mind, but it'd be nice if the error helpfully specified that this bound is impossible to satisfy with a closure. However, we do acknowledge that `Fn` trait

[2022-08-09 00:56] c410-f3r commented on #100276
The same behaviour happens with an older compiler version. Here goes an example that compiles with `let_chains`.

[code]

It is not up to me to decide if this behaviour is a blocker that will revert stabilization but if it is, then I won't have enough free time to investigate in the near future.

[2022-08-09 00:58] eddyb commented on #57968
Parts of what I said in my last comment above (https://github.com/rust-lang/rust/issues/57968#issuecomment-1167274789) keep coming up for me.

Most recently, a coworker was wondering why [some backtrace](https://github.com/EmbarkStudios/rust-gpu/issues/889) was missing almost any useful information (there's even some frames there that make no sense, so the frame pointer is probably not used consis

[2022-08-09 01:11] c410-f3r commented on #100276
Personally, I think that the `let_chains` version is "correct" and the nested version is surprisingly holding a reference of an owned structure (`file_name()`) without an explicit bind.

[2022-08-09 01:29] ehuss commented on #100284
Yea, it's known that `fix` can't apply fixes to code that doesn't already compile (or for suggestions that are possibly incorrect like the ones shown here).

I'm more curious how it got to say `warning: failed to automatically apply fixes`, as that implies there was some already passing code, and somehow the suggestions applied switched it to be broken. Do you happen to recall if the fix was attem

[2022-08-09 01:38] letto4135 opened #100297 "seg fault: could not compile `typenum`"
I tried this code:

[code]

[code]

I expected to see this happen:
Docker build success

Instead, this happened:

[code]

### Meta
`rustc --version --verbose`:
docker rust:latest

I'm not sure what happened, but this worked yesterday and today it doesn't. There was code change, but no dependency changes. May be relevant info that I'm deploying to fly.io.

[2022-08-09 01:43] SoniEx2 commented on #100284
isn't `--broken-code` literally supposed to apply fixes to broken code? .-.

and no, the `impl` was already there, we just wanted it to helpfully fill it in for us.

the only fix it did apply, was removing an unused `use crate::vm;` we had. so, e.g.:

[code]

[2022-08-09 01:45] letto4135 commented on #100297
May be an issue with fly.io
flyctl launch works, however flyctl deploy, which you use after your first successful deployment fails.

[2022-08-09 01:56] noonuid commented on #100110
Ok, I have forked the repo into my own account. The problem branch is the `w-who`, and the key source code in the folder `src/conpty`.

Command to run the executable: `target/x86_64-unknown-linux-gnu/debug/tat_agent -c -n -p`. `-p` indicates the agent to work as pty server which makes developer can connect to it using the client code which locates in `tests/pty.html`.

I think you still cannot run

[2022-08-09 02:02] compiler-errors commented on #100136
hm, @rust-lang/wg-const-eval does anyone know if we're being too aggressive by denying `fn(&mut T)` in const? I think this is a side-effect of using `Ty::walk` when checking for mut ptrs and not intentionally being denied, or at least couldn't find a UI test exercising this case (which obviously means very little, just putting that for extra context).

Should I put up a PR to call [`skip_current_s

[2022-08-09 02:46] compiler-errors commented on #100280
Thanks for the issue, but until there's need for a tracking issue, I'm gonna close this. Feel free to message the async working group on Zulip if you'd like to know more how to get involved!

[2022-08-09 02:46] #100280 closed

[2022-08-09 02:52] compiler-errors commented on #100278
@rustbot claim

[2022-08-09 03:13] fee1-dead commented on #100136
IIRC, a walk on ADT fields would have been more correct..

[2022-08-09 03:16] compiler-errors commented on #100136
I was actually thinking of whether we want to make this _more_ restrictive (seems more correct) by checking ADT fields -- but walking into the ADT fields actually causes core to fail to bootstrap because of `&mut` pointers being revealed now (something in the `format_args` macro, I think).

I didn't look too much into it, but I can produce a minimal example of that failure if others want to know.

[2022-08-09 03:18] cmazakas commented on #65816
If all adding a special type does is prevent confusing len with capacity, I don't think it's worth it. It'd set a bad precedent for the stdlib to opt into these safety types that don't really offer all that much with regards to actual safety. Confusing len and capacity at a call-site will eventually happen but not nearly as often as developers simply getting the values wrong entirely.

[2022-08-09 03:21] fee1-dead commented on #100136
Hmm, can we add the feature() then?

[2022-08-09 03:28] Havvy opened #100300 "Suggest missing comma on last field before struct update syntax"
Given the following code: \[[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b75b2d151cc750eeaaaba79dfeec182b)]

[code]

The current output is:

[code]

Ideally the output should suggest adding a comma after `Defaultable` on line 11 if doing so would solve the type error.

[2022-08-09 03:58] compiler-errors commented on #100266
This code was intentionally broken in #92285 because the current code you have is technically unsound if used incorrectly.

If you apply the suggestion in the `help:` message, your code should be fixed.

[2022-08-09 04:04] compiler-errors commented on #100264
@pravic do you rely on this behavior? This is probably related to #93967 or similar work. I would prefer if we adjusted _all_ item spans (i.e. those "Sometimes, to the whole function:") to point to just their headers. Thoughts?

[2022-08-09 04:06] samothx commented on #100161
Not quite sure what exactly you want me to do:
I have called called 'ulimit -c unlimited', installed gdb and started
it with the downloaded rustup-init executable with the following
output:

...
1) Proceed with installation (default)
2) Customize installation
3) Cancel installation

info: profile set to 'default'
info: default host triple is x86_64-unknown-linux-gnu
info: syncing channel updates f

[2022-08-09 04:55] compiler-errors commented on #100177
Ugh this is a really strange param env normalization bug.

[2022-08-09 05:04] gimbles commented on #100297
I believe this is indeed an issue on your deployment rather than with Rust itself, that cargo configuration builds just fine.

![image](https://user-images.githubusercontent.com/93856041/183568429-d8b1dfab-e66d-497d-ae9b-bb4d2fdb13c3.png)

[2022-08-09 05:29] ehuss commented on #100284
Ah, thanks for the clarification.

The issue is that suggestions fall into different classes. Some are marked as "machine applicable" where they can be automatically applied. Others can be "maybe incorrect" or otherwise require human intervention. `cargo fix` is not currently capable of applying the non-machine ones. `rustc` isn't designed for doing general code refactoring, so its suggestion capa

[2022-08-09 05:29] #100284 closed

[2022-08-09 05:36] chenyukang commented on #100235
When I reproduce the issue, found another issue, why the comment line `// This is a comment !!!!` is moved to another place after macro is expand?

[code]

Run cargo with command `cargo rustc  -- -Zunpretty=expanded`, the result is:

[code]

Interesting...  there is maybe another issue.

About the unhelpful text, it's generated because macro is expanded before parser, @gimbles do you know  how we

[2022-08-09 05:37] ImajinDevon commented on #100000
🦀🦀🦀

[2022-08-09 05:50] jyn514 commented on #100269
I would like to add an FAQ about this somewhere; people have repeatedly brought it up because the issue tracker makes it hard to find the past issues.

[2022-08-09 05:50] #100269 closed

[2022-08-09 05:53] db48x opened #100306 "ICE in rustc: `index out of bounds: the len is 74 but the index is 74`"
### Code

I haven’t actually tried to minimize this yet, but here is the new code that I wrote. It has some silly errors which I haven’t even tried to fix yet.

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-09 05:55] jyn514 commented on #100258
The fix is to use `process::exit` instead.

[2022-08-09 05:56] pravic commented on #100264
@compiler-errors To answer that question we need to establish the intention of the source highlighting. Most documentation generators for other languages point to the first line of a function (a-la https://doc.rust-lang.org/src/core/slice/mod.rs.html#3442). In Rust we have quite got used to a higher level of documentation, including the source code span highlighting (a-la https://doc.rust-lang.org

[2022-08-09 05:59] pravic commented on #100265
I think, in this case just don't use the filtering? Or (better) we need to include this in the settings ("save crates filter/choice"). Just dropping the filtering state is a UX breaking change.

[2022-08-09 06:00] compiler-errors commented on #100264
I'm not sure if I completely understand why this is _confusing_ -- presumably you're clicking the link to the function's sources so you can investigate the the body of the function, which is right below. It's not like the lines that aren't highlighted are hidden.

Pointing to _just_ the first line seems just as arbitrary of a decision as this current behavior.

I'm also not sure why this is a ques

[2022-08-09 06:01] nnethercote commented on #96847
Thanks for the report, @dwrensha!

[2022-08-09 06:05] pravic commented on #100264
Because the mind remembers that it used to highlight the whole body. Now we see only partial highlighting and we are, like, "where's the rest of the function? ah, it's below the highlighting". Basically, it's a breaking change in UX.

Well, it's less confusing because it doesn't highlight - it just points to the function.

[2022-08-09 06:15] compiler-errors commented on #100306
I think this is fixed by #99928

[2022-08-09 06:21] jyn514 commented on #100225
@gThorondorsen I believe if you add `*` at the same indent level as the opening `*`, it has the behavior you want.

Note to the rustdoc team: any change here is a breaking change and should go through an edition.

[2022-08-09 06:49] dragostis opened #100308 "rustc fails to detect variable bounds"
This is probably an LLVM issue, but I decided to start my journey here. rustc/LLVM seems to be unable to detect bounds of a variable inside of this simple loop:

[code]

The [code generated](https://godbolt.org/z/438qrrhG8) for the function above is not a simple constant return, but it actually processes the whole slice.

The reason why this is an interesting use case is because you cannot seem to

[2022-08-09 06:49] CLOVIS-AI commented on #100266
@compiler-errors My understanding of the proposed solution is that it requires the generic to have a `'static` lifetime, which I do not wish.

In which case making it possible makes the program unsound?

[2022-08-09 08:03] #100143 closed

[2022-08-09 08:31] ouz-a commented on #99647
This no longers ICEs https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=93796952e6d5526b910bac03bba15076

[2022-08-09 08:39] ouz-a commented on #98634
This no longer ICEs https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=b4e963b54d6500b7a16110150cce7d9e

[2022-08-09 08:40] DutchGhost opened #100313 "const adt params and const mut refs ICE"
I know the code below is wrong, but I expect a normal compiler error rather than an ICE.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-09 08:43] DutchGhost commented on #100313
It's funny, if I replace the `bool` with an integral type of size 8, I get a normal error:
[code]

[code]

[2022-08-09 09:10] apiraino commented on #100187
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.23100187.20ICE.3A.20Region.20parameter.20out.20of.20range.20when.20substitutin.E2.80.A6)).

@rustbot label -I-prioritize +P-medium

[2022-08-09 09:24] GuillaumeGomez commented on #100265
This is an intentional change. There are multiple things backing this change:

 * On local docs, if you change folder, the setting is lost, adding confusion for users about the saved crate filter.
 * Search is a "one time thing" and anything you do in it won't be save once you change page.

I'm not sure adding a new setting for this would fix your issue either since you'd have the same problem in

[2022-08-09 09:24] matthiaskrgr commented on #99647
mmmh are you sure? glacier didn't report this as fixed yet.
Can you verify locally, maybe playground cfg is a bit different?

[2022-08-09 09:27] ouz-a commented on #99647
I didn't see `-Zcrate-attr="feature(generic_const_exprs)"` 😓, yeah this still ICEs

[2022-08-09 09:37] apiraino commented on #99960
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2399960.20Rust.201.2E56.2E0.2B.20no.20longer.20recognizes.20boundary.20checks.20as.E2.80.A6)).

@rustbot label -I-prioritize +P-low

[2022-08-09 09:39] raphaelcohn commented on #55149
@joshtriplett @RalfJung I think removing this has exposed an overlooked use case that should work, but now doesn't.

[code]

This now fails to compile with `error[E0740]: unions cannot contain fields that may need dropping` (details below)`, when it seems like it should; trivial analysis suggests that `StackWithoutLength` is a new type that can only be manually dropped...

[code]

[2022-08-09 10:02] elichai commented on #99952
Hmm I'm not sure, because I'm also proposing that if the type definition selects a specific generic type then the impls will change accordingly (e.g. if there are `impl<T: SomeTrait> for Type<T>` and the typedef is `type A = Type<B>` where B doesn't imply SomeTrait, then there's no reason to show that impl in the docs of `A`)

[2022-08-09 10:16] shourya5 commented on #100258
@rustbot claim

[2022-08-09 10:27] shourya5 commented on #100258
So, to be clear, the fix is to replace the detail::exit with process::exit right?

[2022-08-09 10:29] weiznich commented on #100162
This seem to be an issue on diesels side. Seems like cargo considers `2.0.0-rc.0` and `2.0.0-rc.1` as compatible, even as the semver spec allows breaking changes between those two versions. Seems like this is essentially https://github.com/dtolnay/semver/issues/172 again.

Closed as this is not a rustc or cargo bug.

[2022-08-09 10:29] #100162 closed

[2022-08-09 10:42] kjetilkjeka commented on #97174
The patch is included in the LLVM 15 upgrade currently in progress #99464

I should add a test for this after the LLVM 15 upgrade is completed

[2022-08-09 10:56] Stargateur commented on #65816
How that a bad precedent ? there is I think zero method of std that return a tuple of 3 elements. Then just wtf, Rust is about structural programing, use a struct is THE way to go for Rust. If you want you can check https://doc.rust-lang.org/std/iter/index.html#structs that have like 30 structs. If you want a struct made for both perf and nice user API there is https://doc.rust-lang.org/std/collec

[2022-08-09 11:05] #79148 closed

[2022-08-09 11:05] #97533 closed

[2022-08-09 11:23] bjorn3 commented on #100257
Should this issue be closed as not a bug?

[2022-08-09 11:46] Buckram123 commented on #62358
but `y` gets moved if not `Copy`, so it's not same

[2022-08-09 11:52] SoniEx2 commented on #100284
The suggestions here do compile (mostly). They're valid code, tho they do need small adjustments to take imports (or lack thereof) into account. For all intents and purposes, these should be machine-applicable.

[2022-08-09 12:06] zakarumych commented on #90603
Not sure I follow.
It's conservative and can be relaxed later - I get this part.
What is motivation to not relax it right away?

[2022-08-09 12:14] RalfJung commented on #55149
Never inspecting the fields of a `struct` for this check was a deliberate design decision, since if that struct was in a different crate, it might start needing drop in future versions of the crate.

In this case, it seems like the struct and union are in the same crate? Possibly an exception could be made for that case, though it would be an extension of the RFC.  Please open a feature request is

[2022-08-09 12:18] poliorcetics commented on #65816
Confusing `capacity` for `len` can easily lead to a `slice::from_raw_parts(ptr, capacity_as_len)` which is completely wrong and very very easy to miss in reviews if not looking at the doc of `into_raw_parts` all the time

[2022-08-09 12:30] mbartlett21 commented on #90603
It was a decision that could be changed later, so I just chose a choice and went with that. Either way, that's a question that can come up when the actual trait gets changed (or not) and const impls are stabilised.

[2022-08-09 12:33] letto4135 commented on #100297
@gimbles Figured it out this morning and its a small combination of things.
fly uses remote builders to build your docker images, but only if you tell the command to use them with a --remote-only otherwise it builds locally and pushes the image to the service. I'm on an m1, which can't build for x86_64-unknown-linux-musl or if it can I haven't figured it out yet, so that's why I was getting the er

[2022-08-09 12:33] #100297 closed

[2022-08-09 12:37] LegionMammal978 commented on #65816
Not quite; the slice API has a few of them:

- [`<[T]>::align_to::<U>() -> (&[T], &[U], &[T])`](https://doc.rust-lang.org/1.62.1/std/primitive.slice.html#method.align_to)
- [`<[T]>::align_to_mut::<U>() -> (&mut [T], &mut [U], &mut [T])`](https://doc.rust-lang.org/1.62.1/std/primitive.slice.html#method.align_to_mut)
- [`<[T]>::select_nth_unstable() -> (&mut [T], &mut T, &mut [T])`](https://doc.rust

[2022-08-09 12:50] jsha opened #100320 "rustdoc: notable traits triggers on smart pointers"
The `Pin` and `Box` documentation shows "notable traits" on the `new()` method, and any other methods that return a Pin or a Box:

https://doc.rust-lang.org/nightly/std/boxed/struct.Box.html#method.new
https://doc.rust-lang.org/nightly/std/pin/struct.Pin.html#method.new

![image](https://user-images.githubusercontent.com/220205/183648320-741bc1ae-740a-4837-bae2-3736afaf1b49.png)

That's because th

[2022-08-09 12:53] lcnr commented on #52389
similar issue:
[code]
This currently errors because `my_function` in `uses_from_macro` is the `my_function` returning `NoMacro`.

I believe that hygiene for impl items seems generally undesirable but that seems unrelated to this bug and without having spent too much time on hygiene or decl macros, so :shrug:

[2022-08-09 12:58] Stargateur commented on #65816
@LegionMammal978 Fair would be to say it's just 2, variations doesn't count, `align_to` and `select_nth_unstable_by_key` are acceptable since the are naturally ordered, like `split_at` that return `(prefix, sufix)`. Thus I would say my point remain it's pretty RARE and for a good reason, tuple doesn't express anything. It's nice for closure or specific use case but public API should avoid return t

[2022-08-09 13:23] Mark-Simulacrum commented on #54503
Interesting. I think in this particular case the user's intent is maybe a little more clear, but it seems to me that in the general case (e.g., imagine the warn annotation on `mod` statement or similar), it's not obvious that we should be overriding expect for that scope.

I wonder if a good way out would be to disallow (similar to forbid) changing a lint level after tagging with expect (i.e., wit

[2022-08-09 13:29] lcnr opened #100321 "`InferCtxt::tainted_by_errors_flag` should be `Option<ErrorGuaranteed>`"
https://github.com/rust-lang/rust/blob/5af97e8b0b9649ed14b0b4528a610ff841b6365e/compiler/rustc_infer/src/infer/mod.rs#L319

should be `Cell<Option<ErrorGuaranteed>>` to guarantee that we emit an error when that flag is set. This is already done for `tainted_by_errors` of other types in rustc. https://github.com/rust-lang/rust/blob/5af97e8b0b9649ed14b0b4528a610ff841b6365e/compiler/rustc_middle/src/

[2022-08-09 13:30] jsha opened #100322 "rustdoc: notable traits triggers on all `&[T]` and `&mut [T]` returns"
All methods and functions that return `&[T]` get the ⓘ Notable Traits icon indicating the return type has some trait that the reader should know about immediately. For instance:

https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html#method.as_slice

![image](https://user-images.githubusercontent.com/220205/183658060-dbca5efc-9acb-4229-8459-c79a16a4b240.png)

This shouldn't happen for two reaso

[2022-08-09 13:31] #100257 closed

[2022-08-09 13:51] Kobzol commented on #68667
It looks like the code is now optimized properly in recent `nightly`: https://rust.godbolt.org/z/sMhr83EMo, maybe because of enabled MIR inlining. Maybe we could add a codegen test for this?

[2022-08-09 13:56] jyn514 commented on #100258
@shourya5 no - within detail_exit, change resume_unwind to process::exit

[2022-08-09 14:02] chenyukang commented on #100321
@rustbot claim

[2022-08-09 14:18] b-naber commented on #100313
@rustbot claim

[2022-08-09 14:20] #98750 closed

[2022-08-09 14:22] Mark-Simulacrum commented on #99923
Re-tagging to 1.64; I believe we reverted the behavior change that prompted this in the 1.63 release (https://github.com/rust-lang/rust/pull/99965).

[2022-08-09 14:22] Mark-Simulacrum commented on #99981
This will slip into 1.63.

[2022-08-09 14:26] bstrie commented on #44752
I think the following might be an unaddressed false positive:

[code]
[code]
I'm not aware of any way to use anonymous lifetimes to avoid the single-use lifetime here.

[2022-08-09 14:27] douglas-raillard-arm commented on #62223
I'm affected by this as well. The function is a combinator that returns a closure returning a Future, so I need the closure to return an `impl Future`. I worked around with a Box but it's a bit annoying to have to pay for a Box price when it's actually not really required.

[2022-08-09 14:30] Amanieu commented on #99668
MSP430 and AVR.

[2022-08-09 14:31] raphaelcohn commented on #55149
@RalfJung thanks for the quick reply. The struct and union are in the same crate and both are private too it, as well.

If versions are correctly used, then a future version of the struct should then cause failure.

I won't be opening a feature request.

[2022-08-09 14:37] Mathspy commented on #100000
It's been more than a week, closing this now to remove clutter from issue tracker, but feel free to keep posting your messages of appreciation for the community! ❤️

Until #200000 and beyond ❤️

[2022-08-09 14:37] #100000 closed

[2022-08-09 14:44] bstrie commented on #44752
Another false positive:
[code]
[code]

Are anonymous lifetimes supposed to work here? The error:

[code]

[2022-08-09 14:49] kpreid commented on #98861
It does: [The internal implementation of `std::fmt::Write` for an `Adapter`](https://github.com/rust-lang/rust/blob/cc4dd6fc9f1a5c798df269933c7e442b79661a86/library/std/src/io/mod.rs#L1665) that wraps a `std::io::Write` produces a `fmt::Error` when the underlying destination returns a `std::io::Error` (while saving that error internally and returning it after the formatting is cancelled).

This ca

[2022-08-09 14:52] pravic commented on #100265
Local docs - it's a separate beast that almost nobody uses. People use doc.rust-lang.org and docs.rs.

[2022-08-09 14:53] GuillaumeGomez commented on #100265
That is a very bold statement. I hope you have some numbers to back it up? :)

[2022-08-09 14:55] MabezDev commented on #99668
The Xtensa backend we are maintaining [here](https://github.com/espressif/llvm-project) is unfortunately not upstream. Patches are stuck in review (If anyone with LLVM knowledge would like to help review here are the currently submitted patched: https://github.com/espressif/llvm-project/issues/4#issuecomment-568783525).

I will let my colleagues know about this change when they rebase next, Xtensa

[2022-08-09 15:09] albel727 commented on #92698
@HindrikStegenga

An exercise in futility, since you're calling `args.to_string()`, i.e. allocating a temporary string with the output anyway. You could've just called `format!()` right away and reused that same string for the rest of your work with `buf.write_str()`, instead of bothering with `format_args!()` and then redoing the formatting work a second time with `buf.write_fmt()`.

If you reall

[2022-08-09 15:12] aDotInTheVoid commented on #100242
This is the same issue as https://github.com/rust-lang/rust/issues/100252: Items in a non-public module (ie accessed only via imports) have no impls

[2022-08-09 15:27] joshtriplett commented on #98862
We discussed this in today's @rust-lang/libs-api meeting. We didn't have any objections to ramping up the warning to something that warns about usage in dependencies as well. There were objections to the idea of *removing* the function except over an edition boundary, but something akin to a future incompat lint would be fine.

[2022-08-09 15:28] joshtriplett commented on #99606
Please feel free to post a PR for this.

[2022-08-09 15:30] fadeevab commented on #100125
@fanninpm @apiraino
[code]
</details>
[code]

[2022-08-09 15:32] raphaelcohn opened #100326 "The list of `target_feature` attributes is missing values such as `rdpid`."
The list of `target_feature` attributes is missing values such as `rdpid`, and does not make clear if the list is definitive or tied to the version of LLVM.

See <https://doc.rust-lang.org/reference/attributes/codegen.html#the-target_feature-attribute>.

[2022-08-09 15:56] fanninpm commented on #100125
Thank you! That points to #96867.

[2022-08-09 16:06] Mark-Simulacrum opened #100327 "Crater runs for 1.64"
Note: Please do not conduct triage on these runs without discussing how to do so with a release team member first. Thanks!

[2022-08-09 16:07] Mark-Simulacrum commented on #100327
Preparing these, but not actually starting -- need stable release out.

craterbot run name=beta-1.64-1 start=1.63.0 end=beta-2022-08-09 mode=build-and-test cap-lints=warn p=1
craterbot run name=beta-1.64-rustdoc-1 start=1.63.0 end=beta-2022-08-09 mode=rustdoc cap-lints=warn p=1

[2022-08-09 16:22] cjgillot commented on #44752
@bstrie, those cases are correctly handled by beta 1.63.0 https://play.rust-lang.org/?version=beta&mode=debug&edition=2021&gist=4fd54ae5a4d4a3a936054787f6655b7b

[2022-08-09 16:33] 5225225 commented on #98862
I'll write a PR to add a FCW lint for mem::uninitialized then. I think doing that before making the panics any stronger would be a smart idea, gives people some more warning period to update their dependencies.

[2022-08-09 16:38] application-developer-DA opened #100329 "Interesting `E0514` error on a certain repository when running `cargo clippy`"
### Bug Description

An attempt to run cargo clippy on a certain open-source repository triggers some non-obvious (weird) errors. I have never experienced such an issue before and am not sure what causes it, but it seems like other cargo tools (like build, test or check) don't exhibit such a behavior.

Basically, cargo clippy issues lots of errors like this:

[code]

Note that the version of the c

[2022-08-09 16:39] #99118 closed

[2022-08-09 16:39] #100176 closed

[2022-08-09 16:39] #100199 closed

[2022-08-09 16:39] #100272 closed

[2022-08-09 17:15] czzrr commented on #79334
@rustbot claim

[2022-08-09 17:17] lo48576 commented on #99606
Created a PR #100331 for this.

[2022-08-09 17:17] Craig-Macomber commented on #90599
As far as I can tell, the change to make core::arch::wasm unstable was a breaking change (Broke my new project for a nightly user: https://github.com/Craig-Macomber/lol_alloc/issues/1 ) with a really confusing error (Why should using core::arch::wasm require truing on `simd_wasm64` to access memory_grow for nightly users when it used to work fine on stable? How is that feature even relevant?).

I

[2022-08-09 17:20] fadeevab commented on #100125
Examples of regression.
![image](https://user-images.githubusercontent.com/5967447/183715970-97bd1ed8-2c0d-477e-9dce-e1a484019b7f.png)
![image](https://user-images.githubusercontent.com/5967447/183716095-7a879ed7-625d-45f7-ad6b-4566f57be055.png)

[2022-08-09 17:32] zommiommy opened #100333 "No error on cfg as InnerAttribute"
Hi!
I erroneously wrote a `cfg` attribute as an inner attribute `#![` instead of an outer attribute `#[`.

Here's a simplified example working example:
[code]
and here the **problematic** example:
[code]
This code still compiles but the function `square` won't be present in the final binary.

Even weirder, if I cross-compile it to a target that doesn't support `std` it seems to ignore the `#![no_s

[2022-08-09 18:17] cr1901 commented on #99668
I have said in the past that "MSP430 supports atomics because it has RMW insns besides load and store that can modify memory without being interrupted". The latter part is true, but the former isn't quite correct (because actually returning the old value requires an additional initial read). So in this case, MSP430 should do what `armv6` and `rv32i` are doing.

Right now, MSP430 doesn't lower atom

[2022-08-09 18:18] fadeevab commented on #100125
@fanninpm By the way, you could probably change labels on this issue :)

[2022-08-09 18:24] scottmcm commented on #99104
@rfcbot concern needs-exact-proposed-rule

I think this needs a precise statement of when something is "held" across things, how that's detected, why it'll be reliably consistent across changes in rustc, etc.

[2022-08-09 18:30] fanninpm commented on #100125
_Can_ I?

@rustbot label -E-needs-bisection

Nevertheless, it would be helpful to have a Minimal, Complete, and Verifiable Example.

[2022-08-09 18:31] lyming2007 commented on #100285
https://github.com/rust-lang/rust/pull/100338
@estebank please take a look if you have time

[2022-08-09 19:08] scottmcm commented on #67264
@rfcbot merge

We discussed this in a (not-so-recent) lang team meeting.  My recollection of the consensus was that it wasn't obvious that there's a lint here obviously-valuable enough to block the existence of the feature on having it.  (And, by analogy, you don't have to write `x <= 0 || x < 2` for signed numbers, just `x < 2` is enough, so a `..=2` pattern seems enough as well.)  As such, I pro

[2022-08-09 19:12] Amanieu commented on #90599
`core::arch::wasm` has always been unstable since it was introduced in 1.58: https://doc.rust-lang.org/1.58.0/src/core/up/up/stdarch/crates/core_arch/src/mod.rs.html#182-185

[2022-08-09 19:36] xFrednet commented on #54503
Hmm, on a larger scale, it could be confusing. However, then the user would see two warning (1x unfulfilled_lint_expectation, 1x expected/warned lint) which should indicate that the `#[warn]` overrode the lint expectation. The lint warn message might even include a reference to the `#[warn]` if it was the first trigger. Putting one and one together, I think this again becomes obvious.

There might

[2022-08-09 19:40] #87748 closed

[2022-08-09 19:56] fadeevab commented on #100125
@fanninpm

Steps:

1. Download https://github.com/fadeevab/cocoon/
2. Put `script.sh` into the project directory.
[code]
3. Run bisection
[code]

[2022-08-09 20:04] Craig-Macomber commented on #90599
Thats odd. I get no issues using it in
[code]

with `--target wasm32-unknown-unknown`.

Maybe there was a bug in marking of aliased paths unstable?

I do get the error if I do `use core::arch::wasm;` but not if I do `use core::arch::wasm::memory_grow;`

So it seems like we have three issues:

1. The error is bad: this has nothing to do with simd or wasm64:
[code]

2. In some versions of rust, incl

[2022-08-09 20:06] ssokolow commented on #54503
I will say that there *is* a certain sense to "'expect' is to 'allow' as 'forbid' is to 'deny'".

[2022-08-09 20:13] tmandry commented on #99104
I agree, but will also note that we already do this with auto traits.

Side note: In the future it would be good to have a mechanism for promising to uphold auto traits, so semver breakage is more easily caught. We could then add a lint for public types that don't explicitly say whether they implement `Send`.

[2022-08-09 20:19] jhpratt commented on #99981
I'll work on this this evening to get it resolved quickly, even if it is too late to patch the beta. I don't think it'll be too difficult.

[2022-08-09 20:22] scottmcm commented on #91639
We discussed this a bit in the @rust-lang/lang team meeting today.  While, AFAIK, some members personally like the strict version of this, I don't think there's enough consensus to warn-by-default the lint in its current state right now.

---

So how do we make progress?  Here's my attempt to categorize the different possible locations of lifetimes in order of most important to be visible to least

[2022-08-09 20:27] jyn514 commented on #100333
The cross compiling bit is weird, but the first half is not a bug - `#!` means the attribute belongs to the entire crate. Since the `alloc` feature isn't enabled, that means your crate is just an empty crate.

[2022-08-09 20:31] scottmcm commented on #99104
That's true, but also a very special exception.  `Copy` *could* have been an `auto trait`, but it intentionally isn't.  And we also don't treat `Copy` specially in, for example `-> impl Trait` -- you have to opt-in for `-> impl Trait + Copy` for the caller to see that.

[2022-08-09 20:53] ehuss commented on #100326
Can you say more about why it appears to be missing? AFAIK, that is not a valid feature for the target_feature attribute:

[code]

Returns an error for x86 platforms.

[2022-08-09 21:34] MeirShpilraien commented on #98251
Any inputs here?

[2022-08-09 21:40] pnkfelix opened #100343 "Tracking Issue for XXX"
This is a tracking issue for the MCP "Deprecate target_vendor" (https://github.com/rust-lang/lang-team/issues/102).

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions, o

[2022-08-09 21:52] pnkfelix opened #100344 "Tracking Issue for Interoperability With C++ Destruction Order"
This is a tracking issue for the MCP "Interoperability With C++ Destruction Order" (https://github.com/rust-lang/lang-team/issues/135).

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale disc

[2022-08-09 22:50] marmeladema opened #100347 "`ToOwned` not implemented for `Cow` as it ought to be"
I tried this code:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=442442eaa00a34e7c38f9d9db3654160

I expected to see this happen: it compiles successfully.

Instead, this happened: it fails to compile with the following error:
[code]

### Meta

As of today's stable version 1.61.1, no versions have ever successfully accepted this code. However I believe there is n

[2022-08-09 22:57] camelid commented on #93205
This appears to have since been fixed, probably by #93805.

[2022-08-09 22:59] camelid commented on #93205
Actually, it'd probably be good to add a test for this.

[2022-08-09 23:17] Amanieu commented on #90599
I believe the stricter checking of stability was introduced by #95956.

Can you open a separate issue for this? This issue is for tracking the stabilization of the wasm64 intrinsics.

[2022-08-10 03:30] lizelive commented on #27721
what is the holdup for making this stable?

[2022-08-10 03:41] jhpratt commented on #99981
PR is up: #100350. This also fixes `stringify!(pub(in super))` to be `pub(in super)`, which is certainly better than the status quo of `pub(super)`.

[2022-08-10 04:33] camelid opened #100354 "rustdoc: Rename `@has FILE PATTERN` to `@hastext`"
`@has FILE PATTERN` treats `PATTERN` as literal text, while `@has FILE PATTERN ANOTHER_PATTERN` treats `PATTERN` as an XPath (and `ANOTHER_PATTERN` as literal text). This is quite confusing and left me perplexed at why my test was failing. IMO we should have a different name for these two versions. The literal (arity-2) version could be named `@hastext`.

This would also rename the equivalent for

[2022-08-10 04:35] camelid commented on #100354
Currently `@has FILE PATTERN ''` acts how I would've expected `@has FILE PATTERN` to work. I.e., it treats `PATTERN` as an XPath but allows any text. After this issue is implemented, we could change `@has FILE PATTERN` to mean exactly that.

[2022-08-10 05:02] #100164 closed

[2022-08-10 05:28] matthiaskrgr opened #100357 "llvm build failure"
[code]
config.toml
[code]

[2022-08-10 06:09] #98700 closed

[2022-08-10 06:09] #82909 closed

[2022-08-10 06:09] #92462 closed

[2022-08-10 06:09] #100001 closed

[2022-08-10 06:09] #100246 closed

[2022-08-10 08:01] zommiommy commented on #100333
Ok, thank you! This makes sense. Sorry!

[2022-08-10 08:01] #100333 closed

[2022-08-10 08:19] b-naber opened #100360 "'Free regions in optimized MIR' ICE with const generics"
The following throws a 'Free regions in optimized MIR' ICE on master:

### Code

[code]
[backtrace.txt](https://github.com/rust-lang/rust/files/9298157/backtrace.txt)

[2022-08-10 08:31] matthiaskrgr commented on #100360
could be related to https://github.com/rust-lang/rust/issues/89851

[2022-08-10 08:36] Nilstrieb commented on #100276
`if let` drops the scrutinee after the statement. [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c633945666016f1f0f0d2a828ce8c7ba)

[2022-08-10 08:50] #99658 closed

[2022-08-10 08:50] #100187 closed

[2022-08-10 08:50] rust-highfive opened #100361 "`miri` no longer builds after rust-lang/rust#100356"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#100356, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @matthiaskrgr, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-08-10 09:48] semarie opened #100364 "build: `vendor = true` seems to not work anymore"
When downloading a tarball (`rustc-beta-src.tar.gz` from https://static.rust-lang.org/dist/) and building it with `config.toml` file with  `vendor = true`, the build fails early with:

[code]

I have this behaviour in beta since 2022-08-09, and with nightly since 2022-06-25.

My config.toml file is:
[code]

rustc and cargo binaries are 1.62.1-stable. The build is done on OpenBSD (but as it is fail

[2022-08-10 10:28] vringar opened #100365 "Calling associated methods on traits with . should yield helpful suggestion"
Given the following code: [playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=277cc639efdb24a4869c513538f24247)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-08-10 11:48] fmease commented on #100365
@rustbot claim

[2022-08-10 12:26] yoshuawuyts commented on #70887
# Stabilization Report

## Implementation History

- https://github.com/rust-lang/rust/pull/70835 - initial PR, closed due to inactivity
- https://github.com/rust-lang/rust/pull/80918 - second attempt at implementing `log` methods
- https://github.com/rust-lang/rust/pull/88665 - change return types to be `u32`
- https://github.com/rust-lang/rust/pull/88788 - improve performance of int `log10` meth

[2022-08-10 12:32] chenyukang commented on #100321
`tainted_by_errors_flag` renamed to `tainted_by_errors` to keep consistent.

[2022-08-10 12:33] leonardo-m commented on #70887
NonZeroU32::new(7).unwrap().log2()

Do you mean:

    NonZeroU32::new(7).unwrap().ilog2()

[2022-08-10 12:37] yoshuawuyts commented on #70887
@leonardo-m oops yes, fixed!

[2022-08-10 12:39] jsha opened #100369 "rustdoc: item-info is incorrectly wrapped on narrow screens"
Steps to reproduce:

1. Visit https://doc.rust-lang.org/nightly/std/os/unix/ucred/struct.UCred.html#structfield.pid
2. Make the browser window narrow until the item-info ("This is a nightly-only experimental API...") starts wrapping.

Expected result: item-info wraps as normal text.

Actual result: item-info wraps like a table. See screenshot:

<img width=400 src="https://user-images.githubusercon

[2022-08-10 13:27] aliemjay opened #100372 "closures/async blocks capture all lifetime generics in scope"
This should compile, but it fails with a cryptic error message:
[code]

The reason for this is that the hidden type of `Fut` in the defining function is `call::<'a>::generator#0`, but because we can't reference `'a` in the hidden type, the type is converted to `call::<'empty>::generator#0` here:
https://github.com/rust-lang/rust/blob/1603a70f82240ba2d27f72f964e36614d7620ad3/compiler/rustc_borrowck

[2022-08-10 13:44] tuxmark5 opened #100373 "ICE: `let_else` ices when placed in a const _: () = { ... }"
### Code
Link to [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=6c28f215e5fa3aa7dfe1adb7e05d23c1)

[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-10 14:29] joshtriplett commented on #87840
These have been around for a long time, and it seems like several people are interested in them.

Shall we stabilize these?

@rfcbot merge

[2022-08-10 14:34] jsha commented on #100320
Out of curiosity, I added a `println!` to emit a list of which types get the "notable traits" annotation for which traits. Running this over std, emitting one line per instance, and going through `sort | uniq -c | sort -rn`, I get the below. For instance, `Zip` shows up as a return type 183 times in the std docs, with a "notable trait" of iterator each time. The high count for iterator types is ex

[2022-08-10 14:44] sunfishcode opened #100376 "What is a "perfect" conversion, for the `From` trait?"
### Location

This wording appears in the [documentation for the `From` trait](https://doc.rust-lang.org/stable/std/convert/trait.From.html).

### Summary

The [`From`](https://doc.rust-lang.org/stable/std/convert/trait.From.html) trait has this note:

It's not clear what "perfect" means here. Is there an established meaning for "perfect"? Does it mean lossless, and/or unambiguous? Or does it mean

[2022-08-10 14:46] Nilstrieb commented on #100373
searched nightlies: from nightly-2022-01-01 to nightly-2022-08-08
regressed nightly: nightly-2022-07-14
searched commit range: https://github.com/rust-lang/rust/compare/1c7b36d4db582cb47513a6c7176baaec1c3346ab...87588a2afd9ca903366f0deaf84d805f34469384
regressed commit: https://github.com/rust-lang/rust/commit/c80dde43f992f3eb419899a34551b84c6301f8e8

<details>
<summary>bisected with <a href='http

[2022-08-10 14:48] Nilstrieb commented on #100373
It was probably regressed by #98574, cc @dingxiangfei2009

[2022-08-10 15:37] madsmtm commented on #43467
I don't quite understand why giving extern types alignment 1/no alignment is wrong? It may be that the type `Foo` in your example doesn't report the "correct" alignment, but since the user can never create it manually, I assume that it would always be created by something that _does_ know the required alignment.

Building upon your example, [playground link (which doesn't compile)](https://play.ru

[2022-08-10 16:25] c410-f3r commented on #100276
cc @est31 who have been dealing with dropping stuff related to `let else `

[2022-08-10 16:46] nicholasbishop commented on #86494
This turned out to be an ABI problem, fixed in compiler_builtins: https://github.com/rust-lang/compiler-builtins/pull/475
The version of compiler_builtins used by rust was updated to pull that fix in: https://github.com/rust-lang/rust/pull/100218

[2022-08-10 16:46] #86494 closed

[2022-08-10 16:54] scottmcm commented on #70887
I can't speak to general `ilog`, but I'm particularly excited for `ilog2`.

While admittedly it's easily polyfilled with `leading_zeros`, the mental model with `ilog2` is just so much easier for me to think about, since the value it gives out doesn't depend on the width of the type.  `9_u8.ilog2()` and `9_u128.ilog2()` are both just 3, which is so much less error-prone than the 4 and 124 from `lea

[2022-08-10 17:03] Robert-Cunningham commented on #95092
After investigating, I suspect that `traits_in_crate` it is necessary; even if we have a trait without an impl, it seems to me that we need to know about it to generate docs for it.

Let me know if there's something here I'm missing.

[2022-08-10 17:06] Skepfyr commented on #43467
Hopefully this playground demonstrates the issue: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=b7350128f9f2869c7eda52d1574c78d9

[2022-08-10 17:10] joshtriplett commented on #90957
We reviewed this in today's @rust-lang/lang meeting. We'd love to see this stabilized, and we think it's ready to stabilize.

We do think https://github.com/rust-lang/rust/pull/93809 should go in first, and then https://github.com/rust-lang/rust/pull/93587 .

[2022-08-10 17:11] ridwanabdillahi opened #100381 "Support generating unique profraw files by default when using `-C instrument-coverage`"
Currently, when enabling the instrumentation of Rust crates using the `-C instrument-coverage` rustc flag, rustc does not set any default naming scheme for the generated `*.profraw` files. Today, a user has two options:

1. Allow LLVM to set the default naming scheme which is `default.profraw`. Thie issue here is if there is more than one binary being executed that is linked to the instrumented li

[2022-08-10 17:16] compiler-errors commented on #100376
It means infallible, like it should be a conversion that does not need to return a `Result` and doesn't fail when called.

[2022-08-10 17:16] Lokathor commented on #90957
Was there a discussion regarding the `noreturn` asm option being used on the assembly despite it returning anyway? It has *already* lead at least two people to misunderstand how that asm option works, we should not stabilize that form.

[2022-08-10 17:19] joshtriplett commented on #92827
What's the current state of this? How much is implemented, and how functional is it?

[2022-08-10 17:19] sunfishcode commented on #100376
If it means infallible, then it's confusing that it says "If the conversion can fail or is not perfect", which makes it sound like "can fail" is different from "is not perfect".

[2022-08-10 17:24] madsmtm commented on #43467
Yeah, though I don't think this is an issue since this kind of API doesn't exist in the real world? Or am I wrong here? I should think `use_foo` would usually take `*const CHeader`, and then the problem would be moot.

My point is, I can't see the reason we should disallow Rust from making references to opaque types, it's just that actually _using them_, as in your example, is impossible _without

[2022-08-10 17:26] betseg commented on #99999
notabug wontfix

[2022-08-10 17:52] Mark-Simulacrum commented on #45982
It seems like this isn't tracking extra state -- https://github.com/rust-lang/rust/issues/31844 is the primary tracking issue for specialization, and already has discussion of it not being unsound. There's definitely work here to resolve these concerns and move us forward, but it's not particularly useful to have a separate issue for it that's not being actively updated or paid attention to.

With

[2022-08-10 17:52] #45982 closed

[2022-08-10 17:53] scottmcm commented on #66080
Hello folks!  This can't be closed yet, despite the FCP, because the feature still exists in the compiler under the `register_attr` feature gate.

If anyone would like to make a PR to remove the associated code (and tests) under the gate, it'd be appreciated!  `rg` should help find anything relevant
![image](https://user-images.githubusercontent.com/18526288/183982492-1c3b78b2-efdc-4868-a9e5-c9323

[2022-08-10 17:53] Urgau commented on #100381
@rustbot labels +A-code-coverage +C-enhancement

[2022-08-10 17:56] Ericson2314 commented on #43467
@madsmtm If the foreign type is the tail of the a struct, we want the field to be at a proper offset.

Also, it's just very bad luck to say "It's OK to lie here because it doesn't matter", thing change including the whatever underpins that rational today. I prefer not to make decision decision that will cause massive headaches for designs (including future me) tomorrow.

[2022-08-10 17:58] est31 commented on #100276
Some things that might be helpful to know:

* The drop order changes for `let else` in #99518 also had borrow checker impact and made an example compile (see the PR's thread). I'm not a borrow checker expert, so I might be wrong, but this too might be fixed by drop order changes alone.
* In #99291 I'm studying drop order impacts of conditional statements, motivated by let else, but the test that P

[2022-08-10 18:13] #99999 closed

[2022-08-10 18:15] RalfJung commented on #43467
Yeah, it seems like for soundness we should disallow extern types to be used in non-`transparent` structs. But of course when generics are involved we can't really do that. So this is yet another way in which extern types cause problems when being used to instantiate generic (even `?Sized`) types.

[2022-08-10 18:25] est31 commented on #100276
I've locally amended `src/test/ui/let-else/let-else-drop-order-nested.rs` of #99291 to add if let chains:

[code]

And this is the output:
[code]

Which actually runs counter to what I wrote above, because it *predrops*. It seems that it depends on whether the `let` in the chain is preceded by a `&&` or not: if you change the line with `if true && let $arg = $exp && ({` to `if let $arg = $exp && (

[2022-08-10 18:39] madsmtm commented on #43467
I guess my understanding of extern types were more "opaque blob of bytes of unknown length" rather than "corresponds to a specific C type, we just don't know the size of the type". Under the former, I think it is perfectly rational that the extern type would include any padding, but of course it isn't under the latter.

Note that I don't have any experience with language design, I'll believe you i

[2022-08-10 18:44] madsmtm commented on #95939
What's the plan for LLDB? It seems like the design of LLDB is slightly different, they err on the side of "the binary cannot be trusted", so automatically loading these kind of things is not really supported - but maybe it would be possible to provide when using `rust-lldb`?

[2022-08-10 18:47] cjgillot commented on #71614
What should be the correct diagnostic here?
I see two possible:
1. report the macro output as not being in the trait;
2. report the a conflict between the two names in the impl.

[2022-08-10 18:58] RalfJung commented on #71614
The following code should work fine I think:
[code]

I believe that means only the 2nd error makes sense?

[2022-08-10 19:02] cjgillot commented on #71614
What about without the trait: should we err?  That would be inconsistent with plain items.

[code]

[2022-08-10 19:03] edward-shen commented on #82546
Maybe a better repro version for unit testing ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=4cad3ea694447e43e93708774fe4f989)):
[code]

I can confirm this still exists on 1.65.0-nightly (2022-08-09 34a6cae28e7013ff0e64).

[2022-08-10 19:07] c410-f3r commented on #100276
Thanks @est31

[2022-08-10 19:07] RalfJung commented on #71614
What do you mean? This errors after "inlining" the macro, right?

[2022-08-10 19:13] cjgillot commented on #71614
[code]
does not error. This is by design, the main difference with `macro_rules`.

Hence the question: should inherent impls follow the "plain function" behaviour, or the trait impl behaviour?

[2022-08-10 19:21] scottmcm commented on #100376
A couple heuristics that I use:

- It's the only plausible way to get one from other.  If there are multiple reasonable-but-different ways, then the conversion is generally better done with named methods instead, so that people pick.

- The resulting value is the "same" in some not-rust-type-system category.  Like `1_u8` and `1.0_f32` are the same real number, even though there's no "real number"

[2022-08-10 20:10] cole-miller commented on #53487
The `std::backtrace` part of this RFC is stabilizing now: https://github.com/rust-lang/rust/pull/99573

[2022-08-10 20:25] JulianKnodt commented on #92827
@joshtriplett I've started work on it, and the syntax/parsing is in place, but the implementation currently does not work. I started working on Chalk, but that has stalled since I wasn't really able to know whether it was necessary for implementing it in rustc. I've also gotten a bit sidetracked working on other things.

[2022-08-10 20:25] RalfJung commented on #71614
Ah, so functions inside `trait_impl` can call the `foo` declared inside but are 'isolated' from the outside? That makes sense in terms of hygiene, I guess.

It would be nice to be able to have macros partially implement a trait though. (We do that in rustc's const-eval.) Conceptually I feel like the names there really refer to the *trait*, they are not newly declared names but 'resolve' to existin

[2022-08-10 20:33] jackh726 commented on #100372
Is this just a duplicate of #100267?

[2022-08-10 20:44] Mandragorian opened #100388 "Confusing error message in the presence of unicode combining characters"
Given the following code:

[code]

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=25a457fb46a37a1b241c629870dfee5d)

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-08-10 20:52] #93205 closed

[2022-08-10 20:52] #100258 closed

[2022-08-10 20:52] #100313 closed

[2022-08-10 21:15] mqudsi commented on #76490
It's annoying that manually repeatedly writing to a `Write` target is actually faster than issuing a single call to both format-and-write to the destination.

There are so many issues on fmt performance that I'm not sure posting this here is going to even be seen, but I wanted to share same resources (while not being _directly_ relevant due to the world of difference between how a managed and GC'd

[2022-08-10 21:46] aliemjay commented on #100372
Oh, I should've made it more clear.  They're indeed closely related. #100267 is a regression that I want to close so I opened this ticket to track other subtle manifestations of the same underlying bug that are not really regressions of #98835.

[2022-08-10 22:04] jackh726 commented on #100372
So, same bug different test case?

[2022-08-10 22:44] aliemjay commented on #100372
This issue tracks a pre-existing problem: Opaque types inference expects the `closure_substs.parent_substs` to be free region variables independent of the the parent function. This why #98835 caused a regression in opaque types, it breaks this invariant.  But this is already a buggy behavior as demonstrated by the above example and I think we can do better  (maybe #92617 can help!)

[2022-08-10 23:50] #100361 closed

[2022-08-11 00:42] Stargateur commented on #84277
I used Try in a project and there is one thing that I would like but I don't think it's possible. I also don't know if it's needed. My problem is that like iterator I end up have duplicate function, one variant for thing with Try and thing without. My concern is both about user experience and performance. It would be nice that we could `impl Try<Residual = Infallible>` for every `T`. I think is im

[2022-08-11 01:22] arieluy commented on #99882
@rustbot unclaim

[2022-08-11 01:23] arieluy commented on #99882
@rustbot release-assignment

[2022-08-11 01:39] cuviper commented on #100357
See https://github.com/llvm/llvm-project/issues/56421

We could cherry-pick that fix to our LLVM 14, but hopefully we'll be on 15 soon: #99464

[2022-08-11 01:53] kulame opened #100393 "why Ipv4Addr::from_str("10.255.255.255").ok().unwrap().is_broadcast() is False?"
i got a broadcast ip 10.255.255.255

and try to call is_broadcast. it return false.

why? I understand 10.255.255.255 is a broadcast address。

[2022-08-11 01:54] tmandry commented on #99492
@rustbot label t-compiler I-nominated A-async-await

[2022-08-11 02:28] compiler-errors commented on #100393
The documentation of [`Ipv4Addr::is_broadcast`](https://doc.rust-lang.org/std/net/struct.Ipv4Addr.html#method.is_broadcast) clearly state:

[2022-08-11 03:17] Rageking8 opened #100394 "For global variable declaration, suggest ```const``` if ```let``` is used instead"
Given the following code : [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=cc27dcfb335325286acbbf36ca744722)

[code]

The current output is:

[code]

Ideally the output should inform the user that ```let``` cannot be used to create global variables and suggest using ```const``` instead. (Might need a little rephrasing).

[2022-08-11 03:25] chenyukang commented on #100388
I think the current output is already helpful enough to point out the issue.
In my opinion, the source code shown in disgnostics should keep same format with original code.

[2022-08-11 03:33] chenyukang commented on #100394
@rustbot claim

[2022-08-11 04:58] ArikRahman commented on #64248
I had this issue too, I simply changed directory from the terminal into the registry file@mk30 specified and CLion resumed the build.

[2022-08-11 06:00] selectiveduplicate commented on #100000
To be honest, it took me three attempts to get "into" Rust. Third time was the charm, and I'm still having so much fun learning and writing it (not professionally, but hopefully, that day will come, hopefully...).

Rust got me into systems programming, and I still can't believe I was able to build my first "significant' project in it. I also managed to contribute to This Week in Rust a bit. It was

[2022-08-11 06:01] wrexbe commented on #100393
@compiler-errors No, that is a valid broadcast address

https://www.rfc-editor.org/rfc/rfc917

https://www.rfc-editor.org/rfc/rfc919

[2022-08-11 06:31] est31 commented on #100373
@rustbot label F-let-else

[2022-08-11 07:10] duskmoon314 commented on #100393
`Ipv4Addr` only has bits for address and there is no CIDR. Thus you can't judge whether an address like `1.2.3.255` is broadcast without providing CIDR.

You may find crates like [`ipnet`](https://crates.io/crates/ipnet) helpful.

In addition, should `std` provide a method like `is_broadcast(addr: Ipv4Addr, mask_len: u8) -> bool`?

[2022-08-11 07:21] Aandreba commented on #80437
Perhaps this would be a good example for [#80437 (comment)](https://github.com/rust-lang/rust/issues/80437#issuecomment-1150255531).

This compiles
[code]

This doesn't
[code]

[2022-08-11 07:33] codecheck01 commented on #29602
@bjorn3 I just want to confirm (after a lot of testing) that everything works great :), **the issue was the hooking method**, I switched from Microsoft Detours to a custom minhook implementation, and it is now working as intended 😄.

[2022-08-11 08:15] dtolnay commented on #80437
That looks like what's already in #98523, but more abstract and less fleshed out / less compelling. There is no rationale for why someone would want the first code block to not compile. It looks totally nonproblematic.

[2022-08-11 08:26] Kobzol opened #100397 "PGO profile invalidation in `-Cprofile-use`"
Hi! While working on https://github.com/Kobzol/cargo-pgo, I noticed a peculiar thing about the invalidation of the PGO profile path.
When PGO is used for compiling, we specify the path to the PGO profile using `-Cprofile-use=<path>`. When `<path>` changes, it invalidates the compilation session, so the code is recompiled again (as it should be, if the profile changes).

However, if the path stays

[2022-08-11 09:10] dtolnay opened #100399 "BacktraceStatus is borked"
[code]

As of current nightly *rustc 1.65.0-nightly (29e4a9ee0 2022-08-10)*:

[code]

### Meta

`rustc --version --verbose`:
[code]

Mentioning erstwhile tracking issue https://github.com/rust-lang/rust/issues/53487.
Mentioning @tbodt @yaahc in connection with #99573.

[2022-08-11 09:13] dtolnay commented on #100399
_"encountered unmarked API"_ &mdash; maybe it's that there is no #\[stable\] attribute on the enum variants, like there is in other stable enums? I'd have expected that to be caught during the libstd build, so we should fix whatever was supposed to catch it, not just add the attributes.

[2022-08-11 09:15] korejan opened #100400 "x86_64-uwp-windows-msvc linker errors with vs2022 v17.3.0 update"
There was an update to visual studio 2022 on the 09/08 (v17.3.0, vc ver 14.29.30133) which has caused linker errors with target `x86_64-uwp-windows-msvc` for my [UWP crate](https://github.com/korejan/ALVR/tree/master/alvr/openxr-client/alxr-client/uwp) which was fine in the last version. I also make builds with the `aarch64-uwp-windows-msvc` target, with the same (new) version this builds successf

[2022-08-11 09:19] michaelwoerister commented on #100397
@Kobzol, I agree with your assessment of the problem. I don't think we have prior art here. Source files, upstream crate, and external libraries are all handled in a different way.

The most correct way to do this would be to generate and compare a hash in each rustc invocation. Comparing time stamps would be acceptable too, I think. The hash/timestamp could then be fed into the hash we already ge

[2022-08-11 09:26] Kobzol commented on #100397
Ok, I will try to send a PR to fix this. `rustc` is invoked by `cargo` once per crate, not once per source file, right? Otherwise the bottleneck might be a bit too much.

[2022-08-11 09:39] michaelwoerister commented on #100397
Yes, once per crate.

[2022-08-11 09:53] Gi123 opened #100402 "Solaris target m32"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

`OS version`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-11 10:05] raphaelcohn commented on #100326
I actually meant the `cfg` attribute - sorry for the confusion.

[2022-08-11 10:49] m-ou-se commented on #70887
@yoshuawuyts Can you give the API overview with the function signatures, instead of just a few test cases?

[2022-08-11 11:31] fadeevab commented on #100125
@fanninpm

A Minimal, Complete, and Verifiable Example: https://github.com/fadeevab/rust-lang-rust-issues-100125

[2022-08-11 11:33] tats-u opened #100405 "Compilation error for `impl` for another const generic trait"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

I believe `ID` is constrained for `FiexedIDZIPExtraField<ID>` and this error must not be raised. Could someone provide a solution?

[2022-08-11 12:08] yancouto opened #100406 "async blocks can't forward references"
This is the most minimal repro I could find for this issue:

[code]

It fails to compile with the following reason: `async block may outlive the current function, but it borrows x, which is owned by the current function`

However, it should just work, and if instead I change `async { x }` to `async { &*x }` it does work, due to which I suspect Rust is extending the lifetime of the reference.

I kn

[2022-08-11 12:57] RalfJung commented on #46408
Multiple filters already work. You can do `cargo test -- filter1 filter2 --skip f3 --skip f4` to run all tests that contain either (`filter1` and neither `f3` nor `f4`) or (`filter2` and neither `f3` nor `f4`).

For more precise filtering, there's a regex feature request at https://github.com/rust-lang/rust/issues/53278.

[2022-08-11 12:59] RalfJung commented on #53278
`/filter/` seems nice because it lets one mix regex and non-regex filters.

libtest itself depends on std, so it should be okay for its dependencies to depend on std.

[2022-08-11 13:02] RalfJung commented on #53278
I think all that needs to happen on the regex side is that it needs to depend on `rustc-std-workspace-std`; see https://github.com/rust-lang/rust/tree/master/library/rustc-std-workspace-core for how to use that dependency.

[2022-08-11 13:07] RalfJung commented on #53278
However, adding a new dependency to the standard library is still a big deal. regex is approved for use *in the compiler* but that does not mean it can be used in the standard library. I am not sure what the process for that looks like.

[2022-08-11 13:08] tats-u commented on #100405
Seems to be similar to https://github.com/rust-lang/rust/issues/100405

[2022-08-11 13:12] Bubbler-4 commented on #77593
Just ran into this too, and I support adding a Pattern impl for ascii function types. Too bad there seems to be very little interest in this issue.

[2022-08-11 13:23] TimJentzsch commented on #9082
Triage: no real change with `1.65.0-nightly (2022-08-10 29e4a9ee0253cd39e552)`:

[code]

[2022-08-11 13:29] #83972 closed

[2022-08-11 13:29] #84669 closed

[2022-08-11 13:29] #100217 closed

[2022-08-11 13:29] #73298 closed

[2022-08-11 13:29] #82268 closed

[2022-08-11 13:29] #86710 closed

[2022-08-11 13:51] TimJentzsch commented on #15457
Current output with `1.65.0-nightly (2022-08-10 29e4a9ee0253cd39e552)`

[code]

[code]

[2022-08-11 13:55] yoshuawuyts commented on #70887
@m-ou-se for sure; updated. I hope this is a bit more clear!

[2022-08-11 14:03] MarijnS95 commented on #93205
@camelid Thanks! That looks to already have trickled down into recent stable rust releases, as I can't reproduce it with `1.62.1`. Awesome!

[2022-08-11 14:04] leonardo-m opened #100408 "Missed optimization with mir-opt-level 4"
This code with an inner immediately invoked lambda function:

[code]

Compiled using:

[code]

With arguments:

[code]

Gives a nice asm:

[code]

But cranking opt up to the 4th level:

[code]

Gives an asm similar to not using the lambda function at all:

[code]

(Inspired by: https://old.reddit.com/r/rust/comments/wkw55b/help_matching_c_codegen_for_a_small_function/ijr7o5x/ ).

[2022-08-11 14:21] jyn514 opened #100410 "Suggest lazy initialization when calling a non-const function in a static initializer"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=67155cb72a24e0a080d9dee88483fbec

[code]

The current output is:

[code]

I have a friend learning rust who concluded, reasonably, that global mutexes are not allowed and you have to declare them in `main` and pass them down to functions with an argument. It would be great if the compiler could sugges

[2022-08-11 14:21] tbodt commented on #100399
Indeed, I didn't realize that enum variants also needed stable attributes.

[2022-08-11 14:29] jyn514 commented on #100410
also, in this particular case it could have suggested using `AtomicI32` instead; not sure if that's a good suggestion to make though.

[2022-08-11 14:35] jyn514 commented on #100410
Mentoring instructions: add that note immediately after https://github.com/rust-lang/rust/blob/8b2637fd3ba839a614d578da9cad3c5897ca5aff/compiler/rustc_const_eval/src/transform/check_consts/ops.rs#L328

[2022-08-11 14:36] pnkfelix commented on #99256
@rustbot label: -regression-from-stable-to-beta +regression-from-stable-to-stable

[2022-08-11 14:45] pnkfelix commented on #98437
If I understand correctly, this was first going to affect 1.62, but then we reverted PR #97642 *solely* for the 1.62.* release, and thus it affected 1.63.0 (which just was released today).

Thus, this has not been a stable-to-nightly regression for several weeks, it has been a stable-to-beta regression, and as of today it is a stable-to-stable regression.

@rustbot label: -regression-from-stable-t

[2022-08-11 14:51] Nilstrieb commented on #100408
I thought that it might be UnreachablePropagation being broken here, but my fix for that pass still emits the bad assembly, so it's probably not it.

[2022-08-11 14:56] cameron1024 commented on #100410
@rustbot claim

[2022-08-11 14:58] ChrisDenton commented on #100400
I'm not sure what the cause is here but this may be an issues with Cargo's build-std feature not always passing on rustflags for some reason. Though it's strange that it was working but then a VS update broke it. Maybe something changed in the environment?

A workaround would be to set the `LINK` environment variable. E.g.:

[code]

[2022-08-11 15:09] Mark-Simulacrum commented on #100327
@craterbot run name=beta-1.64-1 start=1.63.0 end=beta-2022-08-09 mode=build-and-test cap-lints=warn p=1

[2022-08-11 15:09] Mark-Simulacrum commented on #100327
@craterbot run name=beta-1.64-rustdoc-1 start=1.63.0 end=beta-2022-08-09 mode=rustdoc cap-lints=warn

[2022-08-11 15:19] compiler-errors commented on #99536
Thanks, yeah, there is a revert PR in flight but the author is on vacation.

In the mean time, I've beta-backport nominated the revert PR and that'll likely get approved, fixing this in a few more weeks.

Sorry for the delay.

[2022-08-11 15:40] LucioFranco commented on #99536
No problem! Thanks for the quick response 😄

[2022-08-11 16:07] DanielJoyce commented on #97966
Is it the expected result per the standard, per commonmark, or just a common impl bug?

[2022-08-11 16:19] GuillaumeGomez commented on #97966
It's the commonmark spec, which we follow.

[2022-08-11 16:28] jendrikw commented on #80481
Isn't this undecidable in general?

[2022-08-11 16:28] Nilstrieb commented on #71835
What's the state of this?

[2022-08-11 16:29] compiler-errors commented on #80481
In general, yea, but we have a pretty good way of telling when an where clause is trivially false.

[2022-08-11 16:36] timcryt opened #100414 "Confusing error message when feature generic_const_exprs is used."
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5c971999babd48f6d0b57e56450996f2

[code]

The current output is:

[code]

Due to something `true` and `false` are considered types, not values, also the error span is not any informative.

[2022-08-11 17:00] application-developer-DA commented on #100329
**UPD.** I've found a simpler way to reproduce it. It's enough to have a dependency in a project and use something from it, which will immediately trigger the issue with `clippy`, see https://github.com/rust-lang/rust-clippy/issues/9286#issuecomment-1212250911 for more details.

[2022-08-11 17:31] m-ou-se commented on #70887
Has there been any discussion on the type of the `base` argument to `ilog` and `checked_ilog`? It's now `Self`, but for the argument to [`pow`](https://doc.rust-lang.org/stable/std/primitive.i16.html#method.pow) we always use `u32` regardless of the `Self` type.

[2022-08-11 17:35] m-ou-se commented on #70887
I suppose it matches `pow`: self<sup>u32</sup> = self, and log<sub>self</sub> self = u32.

[2022-08-11 17:36] m-ou-se commented on #70887
@rfcbot fcp merge

Stabilizaton report here: https://github.com/rust-lang/rust/issues/70887#issuecomment-1210602692

[2022-08-11 17:43] orium opened #100417 "Cannot mutate the value inside a `Mutex` created in a `const` context"
Hi.  I was trying the new `Mutex::new()` in `const` a context ([new in rust 1.63](https://blog.rust-lang.org/2022/08/11/Rust-1.63.0.html#const-mutex-rwlock-condvar-initialization)) and I'm able to mutate it's value:

I tried this code:

[code]

The output is

[code]

Playground link [here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9c3bd23c8c702a8fe6376a32ef43d2bb).

[2022-08-11 18:01] tbodt commented on #100399
https://github.com/rust-lang/rust/issues/100399

[2022-08-11 18:01] tbodt commented on #100399
#100418

[2022-08-11 18:02] andjo403 commented on #100417
The problem is that you try to mutate a const this creates a temporary that you mutate, if you change const to static you get the expected result.
cc https://github.com/rust-lang/rust/issues/40543

[2022-08-11 18:02] orium commented on #100417
Closing since this is the expected behavior: https://www.reddit.com/r/rust/comments/wltcf8/comment/ijvx9ym/?context=3

[2022-08-11 18:02] #100417 closed

[2022-08-11 18:16] PatchMixolydic commented on #40543
Clippy has two lints for this situation: [`clippy::declare_interior_mutable_const`](https://rust-lang.github.io/rust-clippy/master/#declare_interior_mutable_const) and [`clippy::borrow_interior_mutable_const`](https://rust-lang.github.io/rust-clippy/master/#borrow_interior_mutable_const). Since this seems to be a common stumbling block and there don't seem to be many reasons for placing an interio

[2022-08-11 18:33] tbodt opened #100420 "Enums with missing stability attributes on variants will compile and ICE only when used"
Example: #100399. This was fixed by adding stability attributes (#100418), but the general problem remains that #99573 was able to land.

cc @dtolnay @yaahc

[2022-08-11 18:45] jsha opened #100421 "rustdoc source view: hover gap in file picker"
Steps to reproduce:

1. Visit https://doc.rust-lang.org/nightly/src/alloc/string.rs.html#2453
2. In the sidebar, hover mouse over "alloc". Note that mouse indicates a clickable item.
3. Slowly move the mouse leftwards towards the disclosure element (▶).
4. Note that at some point, the mouse hits a dead zone where it is no longer over a clickable item. When this happens, clicking does nothing.
5. I

[2022-08-11 19:18] dpaoliello commented on #58713
FYI, remaining non-x86 issues that were identified have been addressed and fixes merged in.

[2022-08-11 19:43] scottmcm opened #100422 "What's the correct *wrapping* value for `ilog{|2|10}`?"
Filing since it's in pFCP over at https://github.com/rust-lang/rust/issues/70887#issuecomment-1212284365, and I don't think we can reasonably change it after stabilization (especially since it's documented).

Currently, `0.ilog2()` in release mode evaluates to `0`.  (And same for the other bases.)

It's not obvious to me that that's necessarily the best option.  For example, the `(BITS-1) - Leadin

[2022-08-11 19:52] scottmcm commented on #100422
I couldn't find any previous discussion of what the exact wrapping value ought to be, just that there ought to be one, as opposed to a `panic!`.

There was this note: https://github.com/rust-lang/rust/pull/80918#issuecomment-772751122

For which I think the `ilog2` implementation I mention above is a counter-example, albeit only for the base-2 case.

[2022-08-11 19:53] scottmcm commented on #70887
One thing that I think would be worth discussing before stabilization: what should `0.ilog2()` return in release mode?

I've filed a separate issue to resolve that (#100422), either for picking the status quo or to track needing a change.

[2022-08-11 20:01] CAD97 commented on #100388
That said, it could be useful to print a help message for any Bidi_Class=Nonspacing_Mark characters (as an approximation for characters that could be difficult to spot)

[2022-08-11 20:49] #91161 closed

[2022-08-11 20:49] #92675 closed

[2022-08-11 20:49] #73663 closed

[2022-08-11 20:49] rust-highfive opened #100424 "`miri` no longer builds after rust-lang/rust#100416"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#100416, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-08-11 20:49] rust-highfive opened #100425 "`rls` no longer builds after rust-lang/rust#100416"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#100416, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-08-11 20:51] jtmoon79 commented on #60884
FWIW Asked on [SO here](https://stackoverflow.com/questions/73316135/).

tl;dr I had a need for attribute `#[doc(visible)]` proposed in https://github.com/rust-lang/rust/issues/66528  The CLI options mentioned here are too broad (`--document-private-items`, `--passes strip-hidden`, `--document-private-items=exclude-hidden`, etc.).

I have one private function of-interest to users. The many other p

[2022-08-11 20:53] cjgillot opened #100427 "Given how much better the AST is from having the receiver be separate, it makes me wonder if HIR would benefit just as much…"
HIR bundles the `self` expression and the arguments of method calls in a single vector in the `hir::ExprKind::MethodCall` variant.

Unbundling this in AST in https://github.com/rust-lang/rust/pull/100232 showed a significant simplification of client code.

_Suggested by @nagisa in https://github.com/rust-lang/rust/pull/100232#discussion_r939722236_

[2022-08-11 20:56] cjgillot commented on #100427
Steps:
- add an extra `&'hir Expr<'hir>` field to the `hir::ExprKind::MethodCall` variant;
- adapt lowering in `rustc_ast_lowering::expr` to lower the AST `receiver` into this field, and not with the arguments;
- adapt all the using code to use this extra field where they were using the 0th argument (beware the off-by-one lurking in the shadow).

[2022-08-11 21:04] i509VCB commented on #89379
I was wondering if these functions could be const in the future when the pending issues with const fn are dealt with.

These functions actually seem pretty useful for lookup tables.

[2022-08-11 21:21] leonardo-m commented on #100422
In Rust we try to do the right thing. Not even Python gives -1. Let's avoid in-band error values in Rust.

[2022-08-11 21:31] scottmcm commented on #100422
@leonardo-m What's your proposal for what the "right" thing is, then?  That `0.ilog2()` panic in release too?

Arguably the most-correct value is −∞ (like `(+0.0_f32).log2()`), but that doesn't fit in any of our integer types.

So `0.saturating_ilog2() => 0` would make sense, but release mode for the other un-prefixed things is wrapping, not saturating.

[2022-08-11 21:39] reitermarkus commented on #82363
I had a go at implementing a generic `NonZero` type here https://github.com/rust-lang/rust/pull/100428.

[2022-08-11 21:48] leonardo-m commented on #100422
Python has some functions that return in-band values:

    1

    -1

From Rust I expect something better. In Rust if a function isn't naturally total and you can't restrict its input, then I expect it to return Option (or Result), or when that's isn't ergonomic enough, a panic (in release too). Returning -1 is dangerous as that Python find function, returning 0 is not math.

[2022-08-11 21:51] compiler-errors commented on #100420
Found the bug. PR incoming.

@rustbot claim

[2022-08-11 22:07] shourya5 commented on #100427
@rustbot claim

[2022-08-11 22:17] jonhoo commented on #46408
In that case I suppose this issue can be closed, as the case from the original post can be achieved with
[code]

[2022-08-11 22:17] #46408 closed

[2022-08-11 22:20] cdmistman opened #100430 "`impl` blocks of recursive types causes lifetime coercion errors to be incorrect"
Given the following code:  <https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e2b94b7c2f548a0bcd9cc3f63263644a>

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

In the playground link, I include a compiling version of the above code, but instead of `Cow` I use a reference to the recursive type. Indeed, the same exact lifetime coercion is

[2022-08-11 22:52] JohnTitor commented on #71835
cc @rust-lang/libs-api --^

[2022-08-11 23:46] cmpute commented on #100422
I think returning `-1` (wrapped if necessary) is a clear distinguish between normal and error result. Returning an `Option` is not ideal currently because it will makes the function practically unusable in const context (before const unwrap is stabilized)

If getting closest to the "correct" math answer, how about choosing `i32::MIN as u32`? However it seems weird and `-1` still seems better to me

[2022-08-12 00:07] triccs opened #100432 "cargo build works but cargo test results in this "internal compiler error""
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>BackTrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-12 00:12] #96847 closed

[2022-08-12 00:12] #98650 closed

[2022-08-12 00:12] #100399 closed

[2022-08-12 00:12] #99981 closed

[2022-08-12 00:41] Amanieu commented on #71835
I'm 100% in favor of making `BTreeMap::new` const, but `len`/`is_empty` seem a bit much given that we don't even have those as const on `Vec`.

So I'm starting an FCP just for constifying the `new` function.

@rfcbot fcp merge

[2022-08-12 00:57] ehuss commented on #100326
The `cfg(target_feature="rdpid")` does not appear to be valid for any target that I can see.  Can you show the exact thing that you are seeing? For example:

[code]

That will print the set of `target_feature` values that can be selected with a `cfg` expression for a specific target and CPU combination.

[2022-08-12 01:28] Amanieu commented on #90957
I just published a proc-macro version of `#[naked]`: https://github.com/Amanieu/naked-function

It works by lowering a naked function to a `global_asm!` block and an `extern "C"` function import.

IMO this covers 99% of the use cases for naked functions.

[2022-08-12 01:43] chenyukang commented on #100388
Agree.
@rustbot claim

[2022-08-12 01:44] akiekintveld commented on #90957
One use case that looks to not (yet?) be covered by that proc-macro is aligned naked functions. This is needed to implement trap/exception/interrupt handlers on some architectures. For example, RISC-V requires direct trap handlers to be aligned to 4 bytes, so I'm currently using this attribute alongside the `fn_align` feature (#82232) to get the desired effect.

[2022-08-12 01:46] Amanieu commented on #90957
The proc macro can handle various attributes on the function and generate the equivalent assembly code sequence. Currently the following attributes are handled:
- `export_name`
- `no_mangle`
- `link_section`

But it is relatively easy to add support for more attributes such as `repr(align)` or `instruction_set`.

[2022-08-12 02:54] chenyukang commented on #100388
@CAD97
Do you know is there any simple way in Rust to test whether a char is in range of Nonspacing_Mark?
Currently, we have a https://github.com/rust-lang/rust/blob/master/compiler/rustc_parse/src/lexer/unicode_chars.rs#L10 to give suggestion for some special Unicode char, but it's not completed.

I found there is a crate: https://github.com/swgillespie/unicode-categories
I think it may too heavy

[2022-08-12 04:26] dtolnay commented on #52661
I would love to use this for build.rs feature detection, for example the stuff in https://github.com/dtolnay/anyhow/blob/d2c83e20a3b341946c502380e4230ff4e820ef32/build.rs.

Currently I use `--emit=metadata` but that does too much work. Testing on the `serde` crate, `time rustc --crate-name serde --crate-type lib --emit=metadata serde/src/lib.rs` takes 1.45 seconds while `time rustc --crate-name se

[2022-08-12 04:46] schmaenjael commented on #100000
:heart: :crab: :heart:

[2022-08-12 05:00] compiler-errors commented on #100320
I got a PR for this, just need to clean it up. @jsha: What's the best way to make a test for this? Just a regular rustdoc test?

[2022-08-12 05:38] bjorn3 commented on #90957
That proc macro still has the limitation that it is impossible to handle multiple versions of the same crate. Even two different crates will conflict if they happen to use the same function name, despite not using no_mangle.

[2022-08-12 05:54] Lokathor commented on #90957
@bjorn3 would you say that the only entity able to fix that specific problem is the compiler itself? Would it be fixable if some sort of extra API were added to proc-macros so that they could get the correct full name of the crate they're expanding code for and then use that in some way?

I'm not against having an attribute in the compiler, but if it *can* be just a normal proc-macro that seems co

[2022-08-12 06:07] bjorn3 commented on #90957
It would need to be the crate name, stable crate id and module path. In addition even that is not enough if we want to support generics.

The standard library can't use or expose proc macros unless you want to break cross compilation due to the proc macro not being compiled for the right target. (cross compiling crates using rustc_driver is already impossible because of this issue. even cross comp

[2022-08-12 06:13] Lokathor commented on #90957
Oh. Well, I guess that moves my vote back to the attribute. It's really gotta be something that works "out of the box", and it definitely has to work with cross compilation.

[2022-08-12 06:26] luqmana commented on #100432
Seems like a dupe of https://github.com/rust-lang/rust/issues/91015

Either way, a repro would be great if you got one.

@rustbot label +E-needs-mcve

[2022-08-12 06:35] luqmana commented on #96643
This was fixed in https://github.com/rust-lang/rust/pull/96758

[2022-08-12 07:03] leonardo-m commented on #100422
Perhaps in other languages. Rust is known for being better than that. I have chosen to use Rust because it's a bit better than Python (see above).

Let's return Option and and wait for const unwrap to be stabilized before making ilog const, then.

[2022-08-12 07:33] uselessgoddess opened #100442 "Strange diagnostic message with a suggestion to annotate the lifetime"
I wanted to issue a bug report in `bumpalo` and show an example of a vector error message from std
But I got a very strange suggest from compiler:
[code]
[link to playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=7aa3f3354b1434f1ff1959690a260eaf)
[code]
I even thought there was progress in [`type_ascription`](https://rust-lang.github.io/rfcs/0803-type-ascription.

[2022-08-12 08:02] scottmcm commented on #100422
That's what `0.checked_ilog2()` does already.  Is your proposal, then, that the `-> u32` version of `ilog2` just shouldn't exist on `uNN`?  How do you square that with precedent of other things -- like `uNN::next_power_of_two` or `iNN::abs` -- that have the `checked_` version return `Option`, but the un-prefixed one wrap in release mode?

[2022-08-12 08:13] programmerjake commented on #100422
what about treating it like division by zero and just panicking?

[2022-08-12 08:18] gimbles commented on #100297
It shouldn't segfault though. 🤔

[2022-08-12 08:30] leonardo-m commented on #100422
Right, I see. Those names then perhaps were better different, with unchecked_ilog2() that returns an integral and ilog2() that returns an Option.

Then returning uNN::MAX could be OK.

[2022-08-12 08:36] lnicola commented on #100422
I'd be fine with -1. The point of these methods is to get fast code (otherwise many won't use them) and a _defined_ value outside of the usual input range. `u32::MAX.next_power_of_two()` (from above) is a good example.

[2022-08-12 08:52] 12101111 commented on #99740
I try this rust code and c code on musl and glibc linux system.
[code]

musl:
[code]

glibc:

[code]

[code]

musl:

[code]

glibc:

[code]

A blog https://maskray.me/blog/2021-04-25-weak-symbol say:

So use weak symbol and checking null is not working in this case. However the old dlsym way also don't work with musl when the elf is statically linked . Maybe a compile-time check by rustc is needed

[2022-08-12 08:52] korejan commented on #100400
Thanks for the reply, this worked though the build_script_build-*.exe required UWP runtime DLLs to run so I added a path to reference them in my system path. Seems to be running but need to do more tests.

I maybe wrong about it being related to the VS2022 update, because I have [CI build]( https://github.com/korejan/ALVR/runs/7775877204?check_suite_focus=true) that references the last version of

[2022-08-12 09:54] dilyanpalauzov commented on #100134
What is the relation between the output of `x.py install -v -h`:
[code]
and config.toml: `tools =  ["cargo", "rls", "clippy", "rustfmt", "analysis", "src", "rust-demangler", "miri"]`?

I added miri to tools, as it seems it is added implicitly there.  But the upper code has rust-analyzer, compiler/rustc, library/std, src and src/doc, while the lower does not heve these.

[2022-08-12 10:13] Kampfkarren opened #100448 ""using `_` for array lengths is unstable" error should suggest the number of elements"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=fe35b2f5f585f0303661ac61e880d1fe

[code]

The current output is:

[code]

Ideally, the output should suggest that this should be [i32; 3].

[2022-08-12 10:38] mitsuhiko commented on #40543
Now that `Mutex` has a const ctor this is more likely to trip up people. It has come up more than once in the discussions of the announcement post. If this lint is lifted it would probably be nice if types gain an attribute similar to `#[must_use]` on functions so that user code can also annotate this. An alternative would be not to warn on the declaration but when someone tries to do something li

[2022-08-12 10:47] matthiaskrgr commented on #100357
Fixed by https://github.com/rust-lang/rust/pull/99464

[2022-08-12 10:47] #100357 closed

[2022-08-12 10:51] jplatte commented on #40543
Yeah, an opt-in or opt-out would be nice. The clippy lint is pretty useful, but sometimes it's also unhelpful, for example when storing the result of [http::header::HeaderName::from_static](https://docs.rs/http/latest/http/header/struct.HeaderName.html#method.from_static) in a `const` such that the compiler guarantees its validity.

[2022-08-12 10:56] WaffleLapkin opened #100450 "Tracking Issue for `Iterator::array_chunks`"
Feature gate: `#![feature(iter_array_chunks)]`

This is a tracking issue for `Iterator::array_chunks`, an iterator adapter that allows to group elements of an iterator.

### Public API

[code]
[code]

### Steps / History

- [x] Implementation: #100026
- [ ] Final comment period (FCP)[^1]
- [ ] Stabilization PR

### Unresolved Questions

- [ ] Should `DoubleEndedIterator` be implemented?
  - Is the

[2022-08-12 12:25] WaffleLapkin commented on #100448
This can use [diagnostic stashing](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_errors/diagnostic_builder/struct.DiagnosticBuilder.html#method.stash) in [ast lowering](https://github.com/rust-lang/rust/blob/cc65e1a548abee1d664113abd117b79055532ffa/compiler/rustc_ast_lowering/src/lib.rs#L2239), so that later, in type check, when we can infer the infer constant we can provide a better diagn

[2022-08-12 12:50] RalfJung commented on #94705
https://github.com/rust-lang/rust/issues/94705#issuecomment-1061987717 lists a *lot* of these assertions, only 2 or 3 have been changed by the PRs so far I think? Not sure the issue is closed.

[2022-08-12 13:07] Maximkaaa commented on #84605
The current implementation of `no_coverage` has a few unexpected peculiarities:
1. Since the attribute is only applied to the function it is set for, any function declared inside the marked function body will still be counted in the code coverage report. This is fine, I guess, for named functions, but is a little surprising for closures. For example:
[code]
The line starting with `let` will be cou

[2022-08-12 13:10] Amanieu commented on #90957
It's somewhat possible to do this by hashing the `CARGO_PKG_VERSION` and `CARGO_PKG_NAME` environment variables into the symbol name. It might required [`proc_macro::tracked_env`](https://doc.rust-lang.org/nightly/proc_macro/tracked_env/index.html) to be stabilized though.

[2022-08-12 13:15] fmease commented on #93496
For prior art, take a look at the doc pages of Scala 2 and 3. They use circles with the initial letter of the type in it.

* Scala 2: https://www.scala-lang.org/api/2.13.7/scala/concurrent/index.html?search=string
* Scala 3: https://dotty.epfl.ch/api/scala/math.html
  Click on the magnifier in the top right corner and search for `string`.
  It used to be the case that they prepended a circle to ev

[2022-08-12 13:15] bjorn3 commented on #90957
Even that doesn't work for crates also used by the standard library. They have the same name and version, but a different `-Cmetadata` value and thus different stable crate id.

[2022-08-12 13:31] fmease commented on #92641
This issue seems to have been fixed at some unknown point in time. It should be closed.

`Result` [is now documented](https://doc.rust-lang.org/std/iter/trait.FromIterator.html#impl-FromIterator%3CResult%3CA%2C%20E%3E%3E) as an implementor on the `FromIterator` page.
For completeness, [here is the link](https://doc.rust-lang.org/std/result/enum.Result.html#impl-FromIterator%3CResult%3CA%2C%20E%3E%

[2022-08-12 13:32] jdahlstrom commented on #100422
A minor point: `u32::MAX.next_power_of_two()` being 0 is actually a reasonable choice - even though 0 is not a power of two, it *is* congruent to the correct power of two modulo 2^32 (which is 2^32 itself), so exactly what is expected in wrapping arithmetic. But unfortunately there's no "−∞ mod 2^32" that could be used for `ilog2`.

[2022-08-12 13:50] triccs commented on #100432
running cargo clean fixed it

[2022-08-12 13:50] #100432 closed

[2022-08-12 13:51] Dylan-DPC opened #100454 "'assertion failed: !span.inner().is_dummy()',"
Found in [Rollup CI](https://github.com/rust-lang-ci/rust/runs/7806183078?check_suite_focus=true)
of [Rollup](https://github.com/rust-lang/rust/pull/100449#issuecomment-1213091420)

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>
[code]
</p>
</details>

[2022-08-12 13:51] roblabla commented on #90957
Honestly, I kind of wish rust had a macro that allowed creating a mangled name out of a string "as if" it was here, e.g. `mangled_name!("test")` would return the same mangled name as if a function/static had been created with that name here.

[2022-08-12 14:06] pnkfelix commented on #59490
Discussed in [T-compiler backlog bonanza](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.20meeting.5D.202022-08-12.20compiler-team.23484.20backlog.20b'za/near/293115078)

@rustbot label: S-tracking-unimplemented

[2022-08-12 14:09] catblue88 commented on #89492
very funny, updated all to the recommended latest versions and got:
error[E0658]: use of unstable library feature 'int_abs_diff'
   --> ... solana-core-1.11.5/src/serve_repair.rs:649:48
    |
649 |                 let time_diff_ms = timestamp().abs_diff(header.timestamp);
    |                                                ^^^^^^^^
    |
    = note: see issue #89492 <https://github.com/rust-lang/

[2022-08-12 14:21] matthiaskrgr commented on #100454
Hm i would guess this is caused by #100409 ?

[2022-08-12 14:24] pnkfelix commented on #60705
Discussed in T-compiler [backlog bonanza](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.20meeting.5D.202022-08-12.20compiler-team.23484.20backlog.20b'za/near/293115939)

The v0 symbol mangling has been implemented. From https://github.com/rust-lang/rust/pull/89917 we have considered making v0 the default, but we have held off on doing so in order to

[2022-08-12 14:25] JohnTitor commented on #89492
@catblue88 What's your rustc version? Note that it requires 1.60 or higher to use the methods on stable.

[2022-08-12 14:29] pnkfelix commented on #61137
Visited during T-compiler [backlog bonanza](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.20meeting.5D.202022-08-12.20compiler-team.23484.20backlog.20b'za/near/293119423).

I believe this is more accurately a metabug rather than a tracking issue. (If we *were* going to tag it with some S-tracking-* label, then I guess it would be S-tracking-impl-inco

[2022-08-12 14:37] RalfJung commented on #94705
Actually a lot of these links are dead. So the next step probably would be to figure out if there are cases of this left in the stdlib where we assume error lists are exhaustive. A quick search did uncover some:
- https://github.com/rust-lang/rust/blob/90c59e736b142965ce42c4a41f50d447c28faa74/library/std/src/sys/unix/thread_parker.rs#L96
- https://github.com/rust-lang/rust/blob/e642c5987e1885a6ea9

[2022-08-12 14:43] jsha commented on #100320
Yep! Specifically one of the tests under src/test/rustdoc that generates documentation for a small example and then makes assertions on the output.

Note that this is a bit of a tricky test since it's a _negative_ assertion. So it would be easy for the test to pass but for unrelated reasons (for instance if we changed the HTML layout). To avoid that problem I recommend having two parts of the test

[2022-08-12 14:47] pnkfelix commented on #63012
Discussed in T-compiler [backlog bonanza](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.20meeting.5D.202022-08-12.20compiler-team.23484.20backlog.20b'za/near/293120445)

We had some confusion about who the target audience for this feature is. From reading the comments, we understand it was added for certain things in `rustbuild`. There had been some

[2022-08-12 14:48] pnkfelix commented on #63012
Given the confusion we had in our conversation about this, I'm also going to request a summary of this feature and its status. :)

@rustbot label: S-tracking-needs-summary

[2022-08-12 14:57] pnkfelix commented on #63390
Discussed in T-compiler [backlog bonanza](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.20meeting.5D.202022-08-12.20compiler-team.23484.20backlog.20b'za/near/293127324).

Its not clear what concrete piece of code/scenario this issue is talking about.

As best I can tell, it is describing a scenario like this:

[code]

and the diagnostic needs to sugg

[2022-08-12 15:00] Dylan-DPC commented on #100454
yes

though there is also https://github.com/rust-lang/rust/pull/100299 in the same rollup

[2022-08-12 15:03] pnkfelix commented on #64671
Discussed in T-compiler [backlog bonanza](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bsteering.20meeting.5D.202022-08-12.20compiler-team.23484.20backlog.20b'za/near/293129150)

Our understanding is that this is a fragile bit of code in here to support cross-compiling of `rustc` itself. We don't want to stabilize it as is. Its possible we want to try to get

[2022-08-12 15:05] #99361 closed

[2022-08-12 15:05] GuillaumeGomez commented on #100454
I think it's #100299, #100409 doesn't change the span in this "region".

[2022-08-12 15:14] estebank commented on #63390
Let's just close. I've lost the context of what I was thinking back then, and I feel like it might be ok to ignore the issue for now until we have an actionable report with a realistic case.

[2022-08-12 15:14] #63390 closed

[2022-08-12 15:17] jyn514 commented on #100454
this is an ICE from an unmerged PR

[2022-08-12 15:17] #100454 closed

[2022-08-12 15:20] somedevfox opened #100457 "Cargo does not react well to Unicode Characters in root folder with source code"
Hello all,
I've created new cargo project in directory with Russian characters, tried to run it with `cargo run` and encountered a rather... confusing error.

## Reproduction
1. Create folder with any name with any non-ASCII Character
2. `cargo init`
3. `cargo run`
4. See the chaos unfold!

This can be easily fixed by renaming every non-ASCII folder to ASCII-compliant names.

`rustc --version --ve

[2022-08-12 15:26] tmiasko commented on #100408
Looks like SROA drops the load range metadata (similar to what happened with `!nonnull` in #37945).

[2022-08-12 16:04] agausmann commented on #97186
Seems to be resolved by #100315

[2022-08-12 16:04] #97186 closed

[2022-08-12 16:13] gimbles commented on #100457
Hey there! 👋🏻

Thanks for the bug report, but this should probably made in the [cargo repository](https://github.com/rust-lang/cargo) instead of this one.

Thanks!

[2022-08-12 16:14] compiler-errors commented on #100457
I think this is a bug in mingw, not cargo.
[code]

since this works on my computer:
[code]

Note that `cargo` explicitly warns against non-ASCII crate names:
[code]

But yeah, this is not a rustc bug.

[2022-08-12 16:20] somedevfox commented on #100457
Apologies! Will use it next time I have issues related to Cargo.

[2022-08-12 16:23] somedevfox commented on #100457
Hm.. yeah, it would seem so.
I was using nightly toolchain in hopes that non-AASCII names *will* work, but oh well.

Thanks!

[2022-08-12 16:24] #100457 closed

[2022-08-12 16:29] cmpute commented on #100422
Modular arithmetic is confusing in the context of logarithm, if you want to return the discrete logarithm of 0 in the release mode, then there are a lot of candidates, because (in case of `u8`) $$2^8 \equiv 2^{16} \equiv 2^{24} \equiv \ldots \equiv 2^{8k} \equiv 0 \\;\mathrm{mod} \\;256$$, therefore in the sense of modular arithmetic, $\log_2(0)$ could be any multiple of `uNN:BITS`. If you really

[2022-08-12 16:39] catblue88 commented on #89492
hi John,
I went out to let some steam off :-)
Yes, in spite of my effort to update to 1.63.0 it was still 1.59.0 I used.
You were right, it builds up now..
Thanks a lot for you lightning fast reaction..

[2022-08-12 16:44] ChrisDenton commented on #100457
This seems to be an issue with either the linker (mingw) or the way arguments are passed to the linker. If I use the msvc toolchain then it works fine. It also appears to work if I set the system code page to UTF-8.

<details><summary>Setting UTF-8 globally</summary>

run `intl.cpl` and follow these instructions:

![](https://i.stack.imgur.com/YGaG1.png)

([source](https://stackoverflow.com/questi

[2022-08-12 17:09] cuviper commented on #99740
Hmm. Maybe instead we could add a *defined* weak function that returns `ENOSYS`, and then libc's global definition should override that if present.

[2022-08-12 17:31] paulmenzel opened #100459 "Rust 1.63.0 fails to build with: error: failed to download `addr2line v0.16.0`"
Trying to build Rust 1.63.0 it fails with the error below:

[code]

[2022-08-12 17:37] compiler-errors commented on #100405
@tats-u did you mean to link another issue?

[2022-08-12 17:46] memoryruins commented on #73522
For an update to prior art, [`tokio-console`](https://github.com/tokio-rs/console) implements some of these ideas and others. There was an [announcement](https://tokio.rs/blog/2021-12-announcing-tokio-console) post last year, and its readme mentions sharing a bit in the vision of pnkfelix's [series](https://blog.pnkfx.org/blog/2021/04/26/road-to-turbowish-part-1-goals/) of blog posts. For user int

[2022-08-12 17:52] saethlin opened #100461 "Attributes following a missing trailing comma produce over-eager recovery"
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=8a65ac81b182494a4856b59164bffbc2

[code]

Having an attribute after the field with missing `,` turns the error from this (which is good):
[code]
To this, which contains unhelpful errors and possibly a huge number of them on a larger codebase:
[code]

[2022-08-12 17:59] edward-shen commented on #72210
Was able to still repro this on 1.65-nightly (2022-08-11 20ffea6938b5839c3902) with the following code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c4d9a3ac227c5c843f5bd970cc93b49e)):
[code]

For what it's worth, I think it's worth clarifying this diagnostic message. I ran into this today with the mindset of "Why doesn't this work? I have the `move` keywor

[2022-08-12 18:23] urben1680 commented on #92827
Is it plannet to recognize Associated Constant Equality as disjoint cases?
[code]

[2022-08-12 18:23] wolffcm commented on #97117
I just tried reproducing this from the Dockerfile in the linked fork of `rust-plus-golang` with Go 1.19 and Rust 1.63, and I still get the same error.

[2022-08-12 18:50] andoriyu commented on #100215
It looks like it's been fixed in `rustc 1.65.0-nightly (20ffea693 2022-08-11)` : https://github.com/andoriyu/rust-ice/actions/runs/2848727629

[2022-08-12 18:50] #100215 closed

[2022-08-12 18:59] mati865 commented on #100457
MinGW isn't the problem here but GCC or Binutils (probably both). Their support for non-ASCII paths was always the problem when running them on Windows.
On the other hand LLVM (so Clang and LLD) handles such paths without issues IIRC.

[2022-08-12 19:01] cuviper commented on #99830
Not that we expected a fix, but this does still fail with the just-landed LLVM 15 upgrade.

[code]

[2022-08-12 19:08] scottmcm commented on #100422
That's certainly a possibility.  @m-ou-se suggested *not* doing that back in the original PR, though: https://github.com/rust-lang/rust/pull/80918#issuecomment-766415516

[2022-08-12 19:13] #82927 closed

[2022-08-12 19:13] #84789 closed

[2022-08-12 19:13] #94176 closed

[2022-08-12 19:13] #96961 closed

[2022-08-12 19:24] safinaskar commented on #92641
@fmease , I still don't see docs at link you provided. I mean I see implementation itself, but I don't see docs, i. e. I don't see text "Takes each element in the `Iterator`: if it is an `Err`, no further..."

My browser is Google Chrome 103.0.5060.53 on Debian Stretch

[2022-08-12 19:30] mqudsi commented on #99245
@rustbot label -regression-from-stable-to-beta +regression-from-stable-to-stable

[2022-08-12 19:41] dilyanpalauzov commented on #100134
With `tools = ["cargo", "rls", "clippy", "rustfmt", "analysis", "src", "rust-demangler"] ` it does work.  Can I be sure that these are all tools, except miri, or something more is missing?

[2022-08-12 19:46] mqudsi commented on #99341
This is what I was saying before about the stack trace not actually reflecting the changes -- but I also mentioned the bizarre coincidence that this hang bisects to exactly the same nightly as the one with the patch. I agree with keeping the revised changes in all cases and `DllMain` libstd support being a best-effort deal, but I'm guessing that something in how/what gets locked/attempted before t

[2022-08-12 20:32] mqudsi commented on #100410
Can't we just punt this until after #74465 lands?

[2022-08-12 20:39] jyn514 commented on #100410
@mqudsi I don't understand why it has to be blocked on that? we can certainly update the message to suggest `std::once` after that lands, but I don't think it needs to block the suggestion.

[2022-08-12 21:03] mqudsi commented on #100410
I guess it's just being conservative when evaluating the costs vs benefits?

`once_cell` (and before it, `lazy_static`) have been around for a long time and it would have been a great tradeoff to suggest either years ago (cost: suggesting an external crate, benefit: years of people benefiting from it), but if we've _not_ suggested an external crate for this long and a native solution is just aroun

[2022-08-12 21:29] al2me6 opened #100463 "ICE when annotating the return type of a function returning `impl Iterator<Item = &T>` to be `Vec<_>`"
(Originally triggered by omitting a `.collect()`.) I believe it happens when `Vec` is replaced with another type implementing `FromIterator` too.

### Code

Playground: <https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=7c8637620ed85592da2967a16e3445d8>

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
(From playground.)

[code]

<details><summary><str

[2022-08-12 21:36] sunshowers opened #100465 "Add git tags for beta versions?"
Hi there --

I recently found myself wanting to go back and look at the source of a Rust beta version, and found that unfortunately no tags or releases had been published for them. Wondering if it would be possible to publish tags for beta versions in the future.

I don't particularly care about publishing a GitHub Release. Just a tag is fine, some sort of reference I can go to to look at the sour

[2022-08-12 21:37] mqudsi opened #100466 "Cargo should skip crates.io check with --locked and all dependencies already resolved"
Last week there was a temporary outage of crates.io and my build requests were all hanging on "Updating crates.io index" even though they were subsequent invocations of the same `cargo` command, seconds apart, with `--locked` specified, e.g.

[code]

If all the dependencies in `Cargo.toml` are in `Cargo.lock` and `Cargo.lock` is itself in a fully consistent state with no missing dependencies, `car

[2022-08-12 21:49] jyn514 commented on #100410
tbh people who feel like that probably already feel that way regardless of what the compiler says

We already suggest async_trait for async functions in traits, I don't think this is that much of a stretch. If std::once is just around the corner like you say, then we won't suggest an external crate for long anyway :)

[2022-08-12 21:52] mqudsi commented on #100410
Fair enough!

[2022-08-12 21:56] jyn514 commented on #100465
@sunshowers there are actually multiple "beta versions" per version number. I currently have two versions installed:
[code]
You can see a list of the manifests for all of them on https://static.rust-lang.org/manifests.txt, and from there the manifest contains a `git_commit_hash` field you can read.

That said, it's a fair bit of work to do that, I think tags are a reasonable ask.

cc @rust-lang/re

[2022-08-12 22:05] sunshowers commented on #100465
Yeah, absolutely -- ideally when a beta is cut, a tag is published with the version number.

[2022-08-12 22:06] jyn514 commented on #100465
(just to triple check - the version number here would be `1.63.0-beta.3`, not `1.63.0-beta`)

[2022-08-12 22:08] sunshowers commented on #100465
Yep. I wanted to look at 1.63.0-beta.1 specifically.

[2022-08-12 22:10] Mark-Simulacrum commented on #100465
There's no technical limitation to doing this, particularly now that promote release is able to tag releases automatically (previously it would have been a manual action and that's too much work). In fact, part of the motivation for writing that code was to allow us to potentially tag beta and nightly releases[^1].

I am not entirely sure, though, whether the tag should be `1.63.0-beta.3`, or `bet

[2022-08-12 22:14] jyn514 commented on #100465
I do think it's nice to have the tag match what rustup can install - maybe we should defer adding the tag until we're sure rustup is going to support the `.3` version number in the future?

[2022-08-12 22:25] cuviper commented on #100465
I would also prefer to have the `beta.N` type of tag.

[2022-08-12 22:27] compiler-errors commented on #100463
This is probably fixed by #99928

[2022-08-12 22:54] Mark-Simulacrum commented on #100459
Hm, so I can't immediately reproduce -- can you say more about what sources you're using to build? https://static.rust-lang.org/dist/2022-08-11/rustc-1.63.0-src.tar.xz is the tarball I used to make an attempt at reproducing.

You might also want to check if you've enabled the use of vendored sources (config.toml should contain vendor = true under [build]).

[2022-08-12 23:16] ETCaton opened #100469 "beta rustc fails to compile for certain lifetime constructions in async functions"
### Code
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
(omitted backtrace as the full backtrace is below)
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-12 23:28] jyn514 commented on #98650
A summary of the current situation: https://github.com/rust-lang/rust/pull/99992 changed the shebang from `#!/usr/bin/env bash` to `#!/usr/bin/env python3`. For systems without python3 installed, there are new `x` and `x.ps1` scripts which will find an appropriate version of python.

If you find that none of these options work for you, or the new situation is more inconvenient for you than before,

[2022-08-12 23:42] griffi-gh commented on #100000
Love this community, Hi from Ukraine!

[2022-08-13 00:26] steffahn commented on #100469
@rustbot label E-needs-bisection

[2022-08-13 00:43] paulmenzel commented on #100459
We are using https://static.rust-lang.org/dist/2022-08-11/rustc-1.63.0-src.tar.gz.

    $ md5sum /package/pkg/rustc-1.63.0-0/build/rustc-1.63.0-src.tar.gz
    8904e95118a2a53318c78532d3f33443  /package/pkg/rustc-1.63.0-0/build/rustc-1.63.0-src.tar.gz

We did not have that in our build script. It worked without in the past. Could you refer me to further details, why it’s needed?

[2022-08-13 01:35] Mark-Simulacrum commented on #100459
That tarball should be content equivalent to .xz, just with gzip compression.

I don't see why we would've broken a workflow that worked in the past. Can you link me to the build script you're using?

--frozen is passed if we detect that you're running either with [vendoring enabled or with sudo](https://github.com/rust-lang/rust/blob/f22819bcce4abaff7d1246a56eec493418f9f4ee/src/bootstrap/builder.

[2022-08-13 02:11] akabinds commented on #99751
Is this still being worked on? @ypprog

[2022-08-13 02:19] ypprog commented on #99751
@rustbot release-assignment

[2022-08-13 02:24] akabinds commented on #99751
@rustbot claim

[2022-08-13 02:35] brson opened #100474 "portable_simd: gather_or_default compile-time error: "failed to parse bitcode for LTO module", opt-level > 0"
I tried this code:

[code]

Command line:

[code]

I expected to see this happen: compilation succeed

Instead, this happened: the above error

`opt-level=1` or greater is required. Strangely, in this reduced case the `todo!()` is required, though in my non-reduced case I had other code there. Compiling as a lib is required - compiling as a bin succeeds.

### Meta

`rustc --version --verbose`:
[co

[2022-08-13 02:41] chenyukang commented on #100461
@rustbot claim

[2022-08-13 03:07] CAD97 commented on #98650
As a procedural note, this should probably be unpinned in perhaps about a week if nobody reports an issue with the fix/mitigation/direction chosen. Ofc a new issue can always be opened after (or even before) that.

[2022-08-13 03:23] CAD97 commented on #100388
The function in test/ui is part of a minimized repro of #29227, so not relevant. I just picked Nonspacing_Mark as a likely candidate for a property to check, not because the compiler already has access to it.

You'll need to use the [unicode table generator](https://github.com/rust-lang/rust/tree/master/src/tools/unicode-table-generator) to generate a table of the characters with [General Category

[2022-08-13 03:32] yvt opened #100476 "`rustc` hangs on a recursive function marked with `#[inline]`"
I tried this code with `-Copt-level=3 --crate-type=lib` ([Playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2021&gist=2da6beb75894a4b1d224fda02cc7044a), [Godbolt](https://rust.godbolt.org/z/zdonjbaMz); minimized and modified from `r3_core`'s [failing code](https://github.com/r3-os/r3/blob/588c1bc35d04711137016956e0539faf2531d8bb/src/r3_core/src/utils/for_times.rs#L157-L1

[2022-08-13 03:59] wangbj opened #100477 "Incorrect dead code analysis?"
Given the following code: (playground [link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=efc72a461fa45c588f7766e70e2469df))

[code]

rustc (1.63 / 1.65-nightly) warns

[code]

However, `value` should be `read` by the `println!` statement, and `#[derive(Debug)` for `Foo` is also required -- the code fails to compile without it.

[2022-08-13 04:03] Rageking8 commented on #100394
Completed by #100396

[2022-08-13 04:03] #100394 closed

[2022-08-13 04:04] billy1624 commented on #100215
Thanks! @andoriyu @vtvz

[2022-08-13 05:03] chenyukang commented on #100477
This is a feature but not a bug? 😁

[code]

It's fair `Foo` needs to derive `Debug`, since `Bar` already derived the trait.

[2022-08-13 05:17] cosven opened #100478 "rustc enters an infinite loop when doing cargo check"
Run cargo check on this code: https://github.com/cosven/tikv/commit/861b3e593ccd56cbace41f4bca1c73c432fa18bf, cargo check hangs.
When I change the code to https://github.com/cosven/tikv/commit/e546489502db49a7a0d4b39352a9fbd5c1eaee76, the problem goes away and the check passes.

The code has the following diff :)
![image](https://user-images.githubusercontent.com/4962134/184469184-cc4a9fb9-175b-4b

[2022-08-13 05:26] dtolnay commented on #52661
@nagisa:

Counterproposal: instead of `--emit=nothing`, we should spell this as `--emit=`. The `emit` flag already takes a comma-separated list of outputs to produce. Today that list cannot be empty, or else it'll fail with the error message below. We just need to make the list allowed to be empty. That cleanly avoids needing to answer the meaning of `nothing,link` / `link,nothing`.

[code]

[2022-08-13 05:35] xNxExOx commented on #99341
@mqudsi I tried Application Verifier, because I was wondering what it does.
My code is in the dll, and it seems to not work for only dll, so I needed to enable the tests for the exe directly.
`Miscellaneous->DangerousAPIs` did not catch anything. But what is bit more *funny* is that enabling `Basic` causes the application to fail so early that none of my code is executed... (at least if I set it u

[2022-08-13 05:44] chenyukang commented on #100478
@rustbot claim

[2022-08-13 06:20] youknowone opened #100480 "std::time::Duration::from_secs_f64 behavior changed in 1.63.0"
- ~Related release note: https://github.com/rust-lang/rust/blob/stable/RELEASES.md#libraries-3~
- ~Related PR: #90247~

~Though the PR describes the change is related to improve its truncation better, the changed behavior is rounding up which was down before.~

EDIT: The upper changes and issue [related to 1.60](https://github.com/rust-lang/rust/issues/100480#issuecomment-1213815101). It is not re

[2022-08-13 06:20] the8472 commented on #100450
It is definitely valuable to have a guaranteed, fixed length in the happy path. It aids vectorization and [known-length specialization](https://github.com/rust-lang/rust/blob/e8dc8bca2118ec1ed5970790614f0b81e9167f10/library/core/src/iter/adapters/flatten.rs#L257-L263). It could even help in-place iteration in shapes like `vec.into_iter().array_chunks().map(...).flatten().collect()`.

[2022-08-13 06:23] compiler-errors commented on #100480
@youknowone -- that PR you linked landed in 1.60, not 1.63?

[2022-08-13 06:24] youknowone commented on #100480
Oh, I am sorry. I probably didn't check how much I scrolled down from release note.
Then which change would be related?

[2022-08-13 06:33] compiler-errors commented on #100480
#96051

[2022-08-13 06:34] compiler-errors commented on #100469
This is currently fixed by #100340, which is beta-accepted and should be rolled out in the next beta release.

[2022-08-13 07:29] matthiaskrgr opened #100484 "ICE: var types encountered in super_relate_tys -Zsave-analysis"
`./src/test/ui/traits/alias/self-in-generics.rs`
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./self-in-generics.rs  -Zsave-analysis`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-08-13 07:46] paulmenzel commented on #100459
The files are in https://github.molgen.mpg.de/mariux64/pkg-scripts, and it’s merge/pull request https://github.molgen.mpg.de/mariux64/pkg-scripts/pull/205/.

    $ git clone https://github.molgen.mpg.de/mariux64/pkg-scripts
    $ cd pkg-scripts
    $ git checkout add-rustc-1.63.0-0-with-cbindgen-0.24.3
    $ ./rustc-1.63.0-0.build.sh

Adapt `PREFIX=` in the script to your liking.

[2022-08-13 07:48] paulmenzel commented on #100459
(Edited last comment.)

[2022-08-13 07:53] est31 commented on #99975
@rustbot label F-let-else

[2022-08-13 08:07] matthiaskrgr opened #100485 "ICE: compiler/rustc_privacy/src/lib.rs:282:17: unexpected type: FreshTy(0)"
`./src/test/ui/traits/alias/self-in-generics.rs`
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

See also https://github.com/rust-lang/rust/issues/100484

[2022-08-13 08:55] the8472 opened #100486 "Tracking Issue for Vec::push_within_capacity"
Feature gate: `#![feature(vec_push_within_capacity)]`

This is a tracking issue for `Vec::push_within_capacity`

It enables pushing into a Vec if there is any capacity left and otherwise returns the value. I.e. it avoids implicit resizing. This can be useful when one wants to explicitly control it (e.g. via `try_reserve`) or uses a Vec in an unsafe manner where moving the elements would be a probl

[2022-08-13 09:23] khyperia commented on #93601
Hey, are you still working on this? If not, I'm going to take a shot at it 🙂

[2022-08-13 12:57] chenyukang commented on #100478
Confirmed, it's a bug.
Trying to make a minimal test case for it, and working on a PR.

[2022-08-13 13:08] SoniEx2 opened #100493 "The safety requirements of CStr::from_ptr have been made more strict than they used to be"
### Location

`CStr::from_ptr`

### Summary

#95948 introduced incompatible changes to the `CStr` docs. Namely, the docs now require immutability for the whole lifetime of `'a`, instead of just while it's borrowed. See also [this discussion on urlo](https://users.rust-lang.org/t/is-this-technically-sound/79783). This is relevant to our crate, `ltptr`, which provides bound lifetimes for raw pointer

[2022-08-13 13:23] fmease commented on #92641
Oh my bad, I misread the issue.

The documentation *Takes each element  […]* is not being shown on the `FromIterator` page because it belongs to the method `from_iter` and not to the `impl` block and rustdoc doesn't display any associated items (like in this case `from_iter`) in a trait's *Implementors* sections but only the “headers” of `impl` blocks (to save disk space and reduce render time I t

[2022-08-13 13:40] RalfJung commented on #100493
Your example seems to rely on not using the `CStr` any more before the lifetime ends, and exploiting that for other code. The intention is that this is indeed allowed *under some conditions*, but those conditions are subtle and the precise aliasing model that defines them has not been decided yet. (Stacked Borrows is the current proposal for such a model, but not its final form.)

For example, the

[2022-08-13 13:47] SoniEx2 commented on #100493
Sure, but we'd argue that clearly maintains the borrow - it's still alive in the parent function and whatnot, as first is Copy. (also to_str returns a Result but ok.)

But this is still a backwards compatibility hazard, and there's no reason `FromLtPtr` should be considered unsound because of it.

[2022-08-13 13:48] RalfJung commented on #96152
Which is the version of LLVM that will contain these patches? Looks like that would be LLVM 15?

[2022-08-13 13:52] vincenzopalazzo commented on #94705
@RalfJung Yes this was done in my previous PR https://github.com/rust-lang/rust/pull/99624 but this not pass the code review! I will open a thread on zulip

[2022-08-13 13:56] RalfJung commented on #100493
Depending on unspecified details of the aliasing model is a backwards compatibility hazard. The documentation is written in a way such that if you follow it, you *avoid* backwards compatibility hazards.

[2022-08-13 14:06] RalfJung commented on #100145
Yeah, that's just now how shells work, sorry.
[code]
is syntax for "run this command with `VAR=val` in the environment.
But
[code]
means something completely different: it sets `VAR=val` as a *shell variable*, but that is by default *not* exported to the environment of programs invoked later. If that's what you want, you need to do
[code]

[2022-08-13 14:06] #100145 closed

[2022-08-13 14:16] Alexendoo commented on #94923
No longer ICEs since #99464

[2022-08-13 14:17] akabinds opened #100496 "`error: linking with cc failed: exit status: 1` while building `rustc`"
When I run `./x.py build`, a linking error occurs when compiling the `rustc_driver` crate. This error literally just started happening, and building was working just fine earlier today for me. I searched through some solutions like installing `build-essential` and `gcc-multilib`. I had the former installed already. Installing the latter still did not fix my problem. I am running Ubuntu 20.04.4 (20

[2022-08-13 14:18] Alexendoo commented on #80678
Fixed by #100247

[2022-08-13 14:18] #80678 closed

[2022-08-13 14:18] RalfJung commented on #99701
Is this a duplicate of https://github.com/rust-lang/rust/issues/60076?

[2022-08-13 14:18] fmease commented on #100484
This was likely introduced in #100247 (CC @cjgillot).

rustc 1.65 nightly 2022-08-12 f22819bcce4abaff7d12 emits the following:

[code]

[2022-08-13 14:30] 5225225 commented on #99701
Looks to be, yes. I'll close this and copy paste my smaller reproduction to that issue

[2022-08-13 14:30] #99701 closed

[2022-08-13 14:34] 5225225 commented on #60076
Smaller reproduction that I found in #99701 (a now closed dupe of this issue) that doesn't rely on VecDeque internals, that fails now with `-Zmiri-retag-fields`

[code]

[2022-08-13 14:36] RalfJung commented on #100134
We already should not be building Miri by default on stable:

https://github.com/rust-lang/rust/blob/339509494dabe8c8df14b591cd8761c6ce8ddfe7/src/bootstrap/tool.rs#L807-L809

so I don't understand why `./x.py build` picks up Miri here. Cc @jyn514

[2022-08-13 14:41] RalfJung commented on #100139
This is already implemented for stable/beta builds:

https://github.com/rust-lang/rust/blob/339509494dabe8c8df14b591cd8761c6ce8ddfe7/src/bootstrap/tool.rs#L807-L809

I guess we could extend this to *all* builds, but then I am not sure if CI would still build these tools.

[2022-08-13 15:08] SoniEx2 commented on #100493
we mean this is sound:

[code]

and the rest of the rules basically follow from there.

it's more like "while 'a is borrowed" rather than "the whole 'a". the difference is one of those aligns with safe code and the other one is overly restrictive even for 100% unsafe-free code.

[2022-08-13 16:28] akabinds commented on #100496
Solved

[2022-08-13 16:28] #100496 closed

[2022-08-13 16:33] Ayush1325 opened #100499 "Tracking Issue for uefi-std"
Feature gate: `#![feature(uefi_std)]`

This is a tracking issue for Std support for UEFI environment. I have been working on implementing this as a part of my Google Summer of Code 2022 project. Information about the current state of this implementation can be found at `src/doc/rustc/src/platform-support/unknown-uefi.md`. A PR has already been opened [here](https://github.com/rust-lang/rust/pull/1

[2022-08-13 16:46] ritobanrc commented on #93601
Nope, something came up, feel free to take it.

@rustbot release-assignment

On Sat, Aug 13, 2022, 02:23 Ashley Hauck ***@***.***> wrote:

[2022-08-13 16:56] Mark-Simulacrum commented on #100459
It looks like you were previously on 1.61, right? https://github.com/rust-lang/rust/pull/95671 landed in 1.62, which introduced the difference[^1] between handling in bootstrap.py and the Rust component for whether we're running inside sudo (as you do). I suspect that difference made us start using vendoring (though not sure), or stop, but either way, it's likely the cause of your problem.

I'm go

[2022-08-13 17:19] asquared31415 commented on #100376
They are different intentionally, and the `TryFrom` trait, which is linked in `From`'s docs, clarifies this a bit more:

and its example:

It also links back to `From` using the same "perfect" wording:

Here "perfect" means "without losing any information" in a very vague sense, or at least something along the lines of "every element in the source type has exactly one element in the target type an

[2022-08-13 17:28] jsha commented on #85492
Related: #76670

[2022-08-13 17:49] SkyYap opened #100504 "Error in compiling: process didn't exit successfully: rustc -vV (signal: 7, SIGBUS: access to undefined memory)"
I tried this code:

(https://github.com/SkyYap/gem-farm/blob/main/programs/gem_bank/src/lib.rs)

I expected to see this the code compile using `anchor build`

Instead, it shows: error: process didn't exit successfully: `rustc -vV` (signal: 7, SIGBUS: access to undefined memory)

I am using rustc version: 1.63.0 (4b91a6ea7 2022-08-08)

[2022-08-13 17:59] dilyanpalauzov commented on #100134
For the record, I compile from https://static.rust-lang.org/dist/rustc-1.63.0-src.tar.gz.

[2022-08-13 18:07] compiler-errors commented on #61573
This was resolved.

[2022-08-13 18:07] #61573 closed

[2022-08-13 18:11] safinaskar commented on #92641
@fmease , thanks for explanation.

I think rustdoc should show full docs in implementors. Or at least provide a link to full docs. In current form this docs are too hard to find

[2022-08-13 18:26] RalfJung commented on #60076
`-Zmiri-retag-fields` re-enables the part of Stacked Borrows that got disabled to work around the issue.

[2022-08-13 19:18] jonhoo commented on #63012
I can speak to the use-case in my case: we're using a large distributed build system at $work in which packages are automatically re-built if their dependencies change. Which, for example, means that if we for example need a patch to `rustc` to work around some internal issue, then `rustc` is re-built. And then anything that _uses_ `rustc` is re-built. But without `-Zbinary-dep-depinfo` Cargo does

[2022-08-13 21:27] indietyp opened #100512 "no errors encountered even though `delay_span_bug` issued"
This regression was observed once I upgraded to `2022-08-10`, and was not there before.

I provided a minimal example that reproduces the regression every time.

EDIT: the code was executed using `https://github.com/fanzeyi/cargo-play`, but it happened during normal execution too.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>

[2022-08-13 21:30] indietyp commented on #100512
closing, as this seems to have been resolved in #100399

[2022-08-13 21:30] #100512 closed

[2022-08-13 21:36] forrestthewoods commented on #12335
Oh fun. I was googling to see if this feature ever got added. Only to find a comment from myself from 2019!

I'm going to assume this still isn't a feature? I've been using [trybuild](https://crates.io/crates/trybuild) which works. Except error messages change all the time so maintaining it is a pretty obnoxious burden.

[2022-08-13 21:54] Nilstrieb opened #100513 "let_chains desugaring is wrong"
I tried this code: [playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2021&gist=c1ff3da556b18b34f63727a9db54540f)

[code]

This prints
[code]

According to [RFC 2497](https://rust-lang.github.io/rfcs/2497-if-let-chains.html), it should desugar to this: [playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2021&gist=314b080d0eb54cd4561cdd6bfc7dada7)
[code]
B

[2022-08-13 22:39] Mark-Simulacrum commented on #100327
@craterbot run name=beta-1.64-2 start=1.63.0 end=beta-2022-08-09 mode=build-and-test cap-lints=warn p=1 crates=https://crater-reports.s3.amazonaws.com/beta-1.64-1/retry-regressed-list.txt

[2022-08-13 22:40] Mark-Simulacrum commented on #100327
@craterbot name=beta-1.64-2 p=2

[2022-08-13 23:20] Nilstrieb commented on #100513
This also causes issues like #99852 and #100276

[2022-08-14 01:10] scottmcm commented on #48594
I remembered the labels involved in this as not being hygienic, but when I went to test that out I was pleased to see that I was wrong about that: <https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=02c73a78c1098db8fe2e8dd1624f205b>.  So that resolves my biggest worry about this (since I suspect 90% of loop labels in the wild are just `'a`, and that people would pick the same

[2022-08-14 01:23] aDotInTheVoid opened #100515 "Document JsonDocCk and checkmissingitems.py"
The testing infra for rustdoc-json isn't well documented.

It would be good to write down how it works, as well as some tips for developing tests.

Things to documents

- jsondocck commands
- JSONPath usage
- Variables
- Semantics of jsonpath multiple selections, and when to use `[*]`
- no_core for smaller output
- selecting on `doc` to simplify queries.
- my oj format script
- only rerunning json

[2022-08-14 02:46] AnthonyMikh commented on #86290
Hit it today with a code that can be minified to this:

[code]

Giving

[code]

In my case it was even more confusing because I was rearranging my code and I actually had a variable named `path`, just in a nested scope.

Interestingly enough, Rust prior to version 1.38.0 gives more sensible error. For example, [Rust 1.37.0 gives the following](https://godbolt.org/z/1q6hhY1Wa):

[code]

[2022-08-14 04:00] #99318 closed

[2022-08-14 04:00] #99319 closed

[2022-08-14 04:00] #100354 closed

[2022-08-14 04:00] #100373 closed

[2022-08-14 04:00] #89851 closed

[2022-08-14 04:00] #100360 closed

[2022-08-14 04:00] #100461 closed

[2022-08-14 04:22] asquared31415 opened #100518 "`core::iter::Fuse` Does Not Fuse Iterators"
This is acknowledged in `Iterator::fuse` with

But I believe this should not be the case. `Fuse` still incurs a memory overhead for all iterators, whether or not it specializes, and it's useless because it currently doesn't actually do anything in the general case.

I have filed a docs change in #100517 to correct the docs on the `FusedIterator` trait, because they incorrectly make guarantees that

[2022-08-14 06:18] SkyYap commented on #100504
I fix this by reinstalling WSL2 as well as my Ubuntu, then all packages required.

Found (https://github.com/rust-lang/cargo/issues/10359). It happened because during release of solana-bpf I closed it without having a proper installation.

Suggest using `rm -rf ~/.cache/solana/v1.21/` works but I can't find the file version of solana cache in Ubuntu. I am not expertise in Ubuntu command so I reins

[2022-08-14 06:18] #100504 closed

[2022-08-14 06:37] paulmenzel commented on #100459
Yes, we did.

Thank you for the analysis. If you want us to test anything, please tell us.

[2022-08-14 06:40] #100424 closed

[2022-08-14 06:58] Nilstrieb commented on #99852
@rustbot release

[2022-08-14 06:59] Nilstrieb commented on #99852
@rustbot release-assignment

[2022-08-14 07:01] Nilstrieb commented on #99852
While investigating this, I found out about #100513, which is the underlying cause for this and other let_chains problems. The real fix here is to fix the desugaring.

[2022-08-14 07:14] afonsolage opened #100519 "STATUS_STACK_BUFFER_OVERRUN on Windows 11 when using rust-lld with dylib"
On Windows 11 when linking a `dylib` which uses `XInput1_4.dll` using `rust-lld` the compiled binary will crash will a message: `STATUS_STACK_BUFFER_OVERRUN`.

This issue was originally reported on Bevy project: https://github.com/bevyengine/bevy/issues/2921

Here is a minimal example that reproduces the error: https://github.com/afonsolage/xinput_link_example
[code]

The error won't happens when

[2022-08-14 07:43] tats-u commented on #100405
@compiler-errors I just thought this is similar to that issue.
Do you think this is duplicated?

[2022-08-14 07:45] compiler-errors commented on #100405
You said that this issue (#100405) is similar to issue #100405... which is this one?

[2022-08-14 08:22] scottmcm commented on #100518
This is a massive overstatement.  Agreed, you can't depend on it for the soundness of your `unsafe { code }`.

But that's normal.  You can't depend on `Eq` for the soundness of your `unsafe { code }` either, but that doesn't make `Eq` useless.  See this IRLO thread for a recent discussion: <https://internals.rust-lang.org/t/documentation-must-vs-should/16967?u=scottmcm>

And, practically, I don't

[2022-08-14 08:26] tats-u commented on #100405
@compiler-errors Sorry, I thought I copied and pasted another issue...

[2022-08-14 08:35] tats-u commented on #100405
What I have wanted to mention are https://github.com/rust-lang/rust/issues/68366 or https://github.com/rust-lang/rust/issues/81985.

[2022-08-14 09:21] #99635 closed

[2022-08-14 09:21] #100106 closed

[2022-08-14 09:21] #100283 closed

[2022-08-14 09:21] #100365 closed

[2022-08-14 09:21] #100420 closed

[2022-08-14 09:21] #99822 closed

[2022-08-14 09:25] Turbo87 opened #100521 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_metadata/src/rmeta/def_path_hash_map.rs:23:85"
### Code

Unfortunately I don't have a minimal reproduction for this 😞

https://github.com/Turbo87/crates.io/tree/ice (e6a7ce4957cc7f9cb8bffd2f0e8857744be64188) is the state of the repo at the time where it happened.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-08-14 09:34] joshtriplett commented on #58713
A [recent thread on internals](https://internals.rust-lang.org/t/is-anyone-working-on-seamless-cross-compilation/17150) noted that we could support this on macOS as well, by generating `.tbd` files.

I've updated the checkboxes in [the issue description](https://github.com/rust-lang/rust/issues/58713#issue-413881075) to include macOS support.

[2022-08-14 10:01] Turbo87 commented on #100521
also FWIW `cargo build` appears to work fine, but only `cargo test` causes the ICE

[2022-08-14 10:15] roblabla commented on #58713
I'm interested in implementing macOS support. LLVM already supports generating those TBD files: https://github.com/llvm/llvm-project/tree/main/llvm/include/llvm/TextAPI

[2022-08-14 10:25] Nadrieril commented on #43267
This has actually been fixed for a while :D https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=b43c119c42bc94e2534e8dde939676b5

[2022-08-14 10:25] #43267 closed

[2022-08-14 10:50] yujiri8 commented on #95926
This seems possibly related to two issues I've been  having:
https://github.com/deltaphc/raylib-rs/issues/119
https://github.com/gtk-rs/gtk4-rs/issues/1096

But when I try to follow this example, the second command gives me:
[code]

[2022-08-14 10:55] c410-f3r commented on #99852
Well, something (related or not related to https://github.com/rust-lang/rust/issues/100513) happened in https://github.com/rust-lang/rust/pull/99014 to trigger this ICE but there are indeed variances between `let_chains` and nested `if let`s.

[2022-08-14 11:00] Nilstrieb commented on #99852
That PR just enabled validation that cought the broken mir, it has already been broken before.

[2022-08-14 11:01] c410-f3r commented on #99852
Hum, I see. Thanks!

[2022-08-14 11:10] yujiri8 commented on #82193
This solved the problem for me too!

[2022-08-14 12:34] Rageking8 opened #100527 "Extend invalid floating point literal suffix suggestion"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=cd25f4d8995bdd3aec09ca788408a2f6)

[code]

The current output is:

[code]

Ideally for all the above invalid ways to writing a floating point literal, the complier should highlight that there are only 2 valid floating point literal suffix "f32" and "f64". Additionally, it may also include a no

[2022-08-14 12:43] Enselic opened #100529 "rustdoc JSON ICE with `#[doc(hidden)]` on enum tuple field"
Found via https://github.com/rust-lang/rust/issues/99919#issuecomment-1214358217

## Step-by-step:
1. Download and extract https://github.com/malobre/rust-vue-sfc/archive/refs/tags/v0.3.2.zip
2. cd into the root dir and run `cargo +nightly rustdoc --lib -- -Z unstable-options --output-format json` with `rustdoc 1.65.0-nightly (75b7e52e9 2022-08-13)`

## Expected

rustdoc JSON is built

## Actual

[2022-08-14 12:51] aDotInTheVoid commented on #100529
@rustbot modify labels: +E-needs-mcve

[2022-08-14 13:01] Mark-Simulacrum commented on #99668
Dropping 1.64 milestone per https://github.com/rust-lang/rust/issues/99668#issuecomment-1193401083.

@nikic, does the LLVM 15 upgrade make this a regression in 1.65, now that https://github.com/rust-lang/rust/pull/99464 has landed?

[2022-08-14 13:08] Enselic commented on #100529
Same ICE can also be reproduced with https://github.com/Kijewski/tzdb/archive/refs/tags/v0.4.3.zip which crater also found

[2022-08-14 13:10] Alexendoo opened #100530 "Build failure with `rustc_private` crates on `aarch64-unknown-linux-gnu`"
On `aarch64-unknown-linux-gnu`, with a `rustup` provided `rustc-dev` component:

[code]

errors with:

[code]

I'll try and see if I can reproduce it with `./x.py` to test @bjorn3's suggestion: https://github.com/rust-lang/rust/pull/99944#issuecomment-1214361900

[2022-08-14 13:26] RalfJung commented on #96152
Should we consider this fixed by https://github.com/rust-lang/rust/pull/99464 ?

@saethlin can you check codegen with the latest nightly?

[2022-08-14 13:30] Enselic opened #100531 "rustdoc JSON ICE with `pub extern crate self as <self_crate_name>`"
Found via https://github.com/rust-lang/rust/issues/99919#issuecomment-1214358217 and seems like a different issue than https://github.com/rust-lang/rust/issues/100529

## Step-by-step:
1. `cd /tmp`
2. `curl -L https://crates.io/api/v1/crates/easy_proc/0.2.0/download | tar -xz`
3. `cd easy_proc-0.2.0`
4. `cargo +nightly rustdoc --lib -- -Z unstable-options --output-format json` with `rustdoc 1.65.0

[2022-08-14 13:38] saethlin commented on #96152
The codegen at the godbolt link in the top-level comment is unchanged, it's still this:
[code]

[2022-08-14 13:39] RalfJung commented on #96152
Godbolt doesn't seem to have the update yet
[code]

[2022-08-14 13:46] joshtriplett commented on #100513
Yeah, that definitely looks wrong; we will have to roll this back and try again for 1.65.

[2022-08-14 13:48] aDotInTheVoid commented on #100529
MCVE:
[code]
@rustbot modify labels: -E-needs-mvce.

[2022-08-14 13:48] yujiri8 commented on #71684
Hey folks, the current state of this issue is quite bad. The deprecation notice currently doesn't specify which crate you should use, and if you search for "home_dir" on crates.io, the top result is a crate that just calls the deprecated function.

[2022-08-14 13:50] saethlin commented on #96152
Ah! Looks like the playground is probably up to date? Its short links don't capture the rest of the state, so here's the disassembly it spits out for the example code:
[code]
So I think we're good here! Thanks!

[2022-08-14 13:50] #96152 closed

[2022-08-14 13:54] RalfJung commented on #96152
Is it worth adding a codegen test for this?

[2022-08-14 14:04] aDotInTheVoid commented on #100531
MCVE:
[code]

@rustbot modify labels: -E-needs-mcve

[2022-08-14 14:18] Rageking8 opened #100533 "Add missing semicolon suggestion for global variable declarations"
Given the following code: [link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=6d2d52a33240be244ddd825a53b75200)

[code]

The current output is:

[code]

Ideally the output should suggest putting a semicolon at the end of the declaration, since that suggestion is present if that declaration is placed in the main function.

[2022-08-14 14:37] #99566 closed

[2022-08-14 14:37] #99910 closed

[2022-08-14 15:31] chenyukang commented on #100527
why would
[code]
suggest to write float?

I think `l` or `L` maybe means to write integer.

[2022-08-14 15:54] Alexendoo commented on #100530
Couldn't reproduce it with an `./x build --stage 2`,  tried with `download-ci-llvm = false` also

Does it have to be cross compiled from a different host?

[2022-08-14 15:57] bjorn3 commented on #100530
Not sure what is necessary to reproduce it. In any case if you open a PR with the likely fix, I can run a try build on CI which you can then locally install to see if it fixes the issue.

[2022-08-14 15:59] GuillaumeGomez commented on #100529
Thanks for the MCVE! I'm planning to work on it tomorrow if no one did until then.

[2022-08-14 16:15] asquared31415 commented on #100518
This issue is specifically about the *type* `core::iter::Fuse` not behaving as it claims it does in its docs:

It would be like if `Vec::push` didn't actually push sometimes for certain T, or `Rc` not properly decrementing the reference count sometimes.  These types would not be behaving as documented, and that's clearly a bug either in the docs or the implementation.

The only reason the `FusedIt

[2022-08-14 16:25] Rageking8 commented on #100527
@chenyukang It's because that's the "long double" floating point literal suffix for C++.

[2022-08-14 16:34] MatthewPeterKelly commented on #61137
It looks like `E0772` has a detailed error description linked in `error_codes.rs`, but is marked as "open" in the description for this issue. The long description in `compiler/rustc_error_codes/src/error_codes/E0772.md` also notes that this error is no longer emitted by the compiler.

[2022-08-14 17:17] chenyukang commented on #100533
@rustbot claim

[2022-08-14 17:34] nicholasbishop commented on #99750
I believe this is now fixed by https://github.com/rust-lang/compiler-builtins/pull/486, and the corresponding PR to update the compiler_builtins version in rust: https://github.com/rust-lang/rust/pull/100380

I tested the i128/u128->f32/f64 conversions with `rustc 1.65.0-nightly (75b7e52e9 2022-08-13)` on `x86_64-unknown-uefi` and it seems to be working now.

[2022-08-14 19:18] #99750 closed

[2022-08-14 19:28] Mark-Simulacrum opened #100541 "regression: ICE -- no type for node"
Picked up in [crater](https://crater-reports.s3.amazonaws.com/beta-1.64-2/index.html):

* https://crater-reports.s3.amazonaws.com/beta-1.64-2/beta-2022-08-09/reg/hdk_crud-0.5.6/log.txt
  * This crate already failed to compile in [1.63.0](https://crater-reports.s3.amazonaws.com/beta-1.64-2/1.63.0/reg/hdk_crud-0.5.6/log.txt), but now is ICE'ing (search for "internal compiler error" in the log above)

[2022-08-14 19:28] Mark-Simulacrum opened #100542 "regression: delayed good path bug: trimmed_def_paths constructed"
Picked up in [crater](https://crater-reports.s3.amazonaws.com/beta-1.64-2/index.html):

* https://crater-reports.s3.amazonaws.com/beta-1.64-2/beta-2022-08-09/gh/L1LLIAN.shorty-backend/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.64-2/beta-2022-08-09/gh/Niakr1s.rust_tree/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.64-2/beta-2022-08-09/gh/iiian.hundert/log.txt
* https://crat

[2022-08-14 19:31] Mark-Simulacrum opened #100543 "regression: can't compare `X` with `_` in const contexts"
Found in [crater](https://crater-reports.s3.amazonaws.com/beta-1.64-2/index.html):

* https://crater-reports.s3.amazonaws.com/beta-1.64-2/beta-2022-08-09/gh/aharisu.navi/log.txt
   * Looking briefly into the code it's doing something pretty weird (e.g., transmutes [here](https://github.com/aharisu/navi/blob/38558dc0bb326124e273ff73d87f43f970dc4f62/src/value.rs#L11)), but at the very least this dia

[2022-08-14 19:36] Mark-Simulacrum opened #100544 "regression: X does not live long enough"
Picked up in [crater](https://crater-reports.s3.amazonaws.com/beta-1.64-2/index.html):

* https://crater-reports.s3.amazonaws.com/beta-1.64-2/beta-2022-08-09/gh/cheif.json2rss/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.64-2/beta-2022-08-09/gh/jvff.dkr/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.64-2/beta-2022-08-09/gh/nielsdos.FGS.rs/log.txt
* https://crater-reports.s3.a

[2022-08-14 19:38] cbeuw commented on #71684
Since this function has been deprecated for 4 years (yes, 2018 is 4 years ago), it might be fine to change its edge case broken behaviours now since most users have probably moved off it...

[2022-08-14 19:38] GuillaumeGomez commented on #61137
I checked it.

[2022-08-14 19:47] the8472 commented on #100518
That simply means `Fuse` relies on/delegates to the API contract of `FusedIterator` in some cases. APIs build on each other all the time.

I mean if you have a Vec<T, A> with a magic allocator that returns FUSE-backed memory-mapped memory that occasionally makes your values vanish (i.e. breaks the Alloc API contract), then yeah Vec will misbehave.

Fuse is useful because it gives generic code that

[2022-08-14 19:49] compiler-errors commented on #100542
I'm pretty certain this fixed by #99893

[2022-08-14 19:50] compiler-errors commented on #100542
I'll open a backport PR for this and nominate it

[2022-08-14 19:51] compiler-errors commented on #100541
This is fixed by #100155

[2022-08-14 19:52] compiler-errors commented on #100541
Should I backport that? Or is the fact that the code failed to compile not enough to warrant nominating it?

[2022-08-14 19:56] asquared31415 commented on #100518
This is not true, the API doesn't actually do anything for generic code that needs a fused iterator, despite `Fuse` being a std type that claims it does.  The best case is when an iterator does not implement `FusedIterator` or is a cooperative impl, when it actually fuses, but the worst case is that it doesn't fuse at all when `FusedIterator` is implemented when it does not hold.

The fact that **

[2022-08-14 20:02] Mark-Simulacrum opened #100545 "regression: transmute_copy validates sizing"
`transmute_copy` now validates reasonable sizes and panics if not as of https://github.com/rust-lang/rust/pull/98839, this causes some breakage (detected at the time in https://github.com/rust-lang/rust/pull/98839#issuecomment-1179338824).

Mostly filing this issue to make sure we add a release notes compat note about this, but I don't expect us to do anything further. Nominating for T-libs-api, t

[2022-08-14 20:05] the8472 commented on #100518
The generic code takes any `iter: impl Iterator` and then calls `iter.fuse()`. It now has an iterator that implements `FusedIterator`. That is all it does. You get the `FusedIterator` guarantees. And those guarantees always come with the caveat "well, someone might have implemented this incorrectly". We call those bugs and they need to be fixed. This caveat _also_ applies to unsafe traits.

safe t

[2022-08-14 20:06] compiler-errors commented on #100543
searched nightlies: from nightly-2022-04-01 to nightly-2022-08-11
regressed nightly: nightly-2022-07-28
searched commit range: https://github.com/rust-lang/rust/compare/4d6d601c8a83284d6b23c253a3e2a060fd197316...2643b16468fda787470340890212591d8bc832b7
regressed commit: https://github.com/rust-lang/rust/commit/2a220937c283803bfd5d1155e4a81e6287089504

<details>
<summary>bisected with <a href='http

[2022-08-14 20:07] compiler-errors commented on #100543
Maybe "regressed" is better here, maybe it's a legitimate reason to fail. Haven't looked into it.

[2022-08-14 20:09] asquared31415 commented on #100518
The return type is a `core::iter::Fuse`, which claims it properly fuses, not an opaque `impl FusedIterator`.  `Fuse` has additional logic to *not actually fuse* when the *wrapped type* implements `FusedIterator`.  `Fuse` is the std type that is behaving incorrectly, because it *does not require* `FusedIterator` nor does it say that it "might sometimes fuse", it says

which is strictly not true. No

[2022-08-14 20:11] compiler-errors commented on #89038
Was this fixed by #89580?

[2022-08-14 20:11] compiler-errors commented on #89038
For the record, we now error with:

[code]

Note the "note"

[2022-08-14 20:12] asquared31415 commented on #100518
Additionally this example does not apply, because there is a contract on the allocator for `Vec`, violating that would be wrong, obviously.  But there's no such contract for `Fuse`, no generic traits in its API, nothing.  It's a direct result of specialization that is hidden from the user.