[2017-09-26 18:55] kennytm commented on #44851
Looking at it. Simplified:

[code]

Same ICE will happen if `expr` is changed to `stmt`/`pat`/`item`/`block`.

[2017-09-26 19:29] GuillaumeGomez commented on #44844
It seems like a really strange idea...

[2017-09-26 19:30] stjepang opened #44868 "AsRef/Borrow/BorrowMut need better documentation"
Links: [`AsRef`](https://doc.rust-lang.org/std/convert/trait.AsRef.html), [`Borrow`](https://doc.rust-lang.org/std/borrow/trait.Borrow.html), [`BorrowMut`](https://doc.rust-lang.org/std/borrow/trait.BorrowMut.html).

Those docs have plenty of text. I've read it dozens of times and felt "uhhh, what" every single time. Well, the text sort of makes sense, but, in the end, it doesn't help me in decidi

[2017-09-26 19:30] lexxvir opened #44869 "ICE "no type for node...""
The compiler unexpectedly panicked on wrong code.

Reduced version of code:

[code]

Output:
[code]

## Meta

rustc 1.22.0-nightly (6c476ce46 2017-09-25)
[Link to playground](https://play.rust-lang.org/?gist=3dae9a1f60754433110198442b28e040&version=nightly)

[2017-09-26 19:54] GuillaumeGomez commented on #44588
Not in my safari... Which version? (safari, rustdoc)

[2017-09-26 20:04] Ryan1729 commented on #44365
Would the code that exports those symbols be in #42727? If so, can you point me in its general direction? 115 changed files is a lot to search through.

[2017-09-26 20:12] nikomatsakis opened #44870 "[NLL] store a value for each region"
The [NLL code](https://github.com/SimonSapin/rust/blob/20d4c0fab418edf036b7e0f1910053d3437da269/src/librustc_mir/transform/nll/mod.rs) currently contains code to renumber all regions into fresh region variables, but it contains no map storing the **value** of those region variables.

We should define a struct `Region` that will store the value of a non-lexical region. This struct would resemble `R

[2017-09-26 20:23] nox commented on #44588
This seems fixed now.

[2017-09-26 20:23] #44588 closed

[2017-09-26 20:32] estebank commented on #44844
I'm counting on that.

But it should be easier for reviewers to catch them when they occur, IMO.

How's so?

[2017-09-26 20:32] mssun opened #44871 "Compile the dynamic library with `#![no_std]` attribute (`--crate-type dylib`) in macOS"
There is an error in link time when compiling a dynamic library which is `no_std` in macOS.

Here is the `lib.rs`:
[code]

Compile it:
[code]

Some version info:
[code]

[code]

I read some code of `linker.rs`, but still did not find the reason. If someone can point out the main reason, I am glad to help.

[2017-09-26 20:45] nikomatsakis opened #44872 "[NLL] extend mir-dump to dump out the values of each region"
Building on https://github.com/rust-lang/rust/issues/44870, once we have a vector of values, we will want to know what they are. I think the best idea is to include that information in the MIR dump. The MIR pretty-printing code is found in [`pretty.rs`](https://github.com/SimonSapin/rust/blob/20d4c0fab418edf036b7e0f1910053d3437da269/src/librustc_mir/util/pretty.rs).

Currently, this is invoked by

[2017-09-26 20:48] gstar4 opened #44873 "Application fails to run on Windows XP"
I am trying to create a simple HTTP client that runs on all versions of Windows XP and newer.

Windows XP is currently officially [supported as a tier 3 platform in Rust](https://forge.rust-lang.org/platform-support.html).

Support for XP was added to `std` in #24776

The sample code I am trying to compile is:

[code]

I am following the following steps to build a portable Windows XP and newer com

[2017-09-26 20:52] arielb1 opened #44874 "Allow methods with arbitrary self-types"
There's no reason the `self` syntax has to be restricted to `&T`, `&mut T` and `Box<T>`, we should allow for more types there, e.g.

[code]

This doesn't have an RFC, but we want to experiment on this without one.

See #27941.

[2017-09-26 21:08] sfackler commented on #44168
The error message gets even worse if you explicitly project:

[code]

[code]

[2017-09-26 21:16] frewsxcv commented on #44868
Possibly redundant with https://github.com/rust-lang/rust/issues/36435 or https://github.com/rust-lang/rust/issues/29701 or https://github.com/rust-lang/rust/issues/24140

[2017-09-26 21:21] sfackler commented on #44873
That function is being called by the mio library - I would file this against that project: https://github.com/carllerche/mio/blob/8078b9034dfbe4e93277877a34ea803b55c7e3a9/src/sys/windows/mod.rs#L181

[2017-09-26 21:23] cengizIO opened #44875 "Improve lifetime error with return value"
Hello!

(this shall be considered an item under https://github.com/rust-lang/rust/issues/42516)

While me and @nikomatsakis were working on #42701 we've discovered that this case is not handled properly. (properly: didn't use new lifetime error messages)

[code]

This currently shows a `error[E0495]: cannot infer an appropriate lifetime for borrow expression due to conflicting requirements`. It sh

[2017-09-26 21:37] estebank commented on #44798
Proposed outputs:

- Regular
[code]
- Oneline
[code]

[2017-09-26 21:43] gstar4 commented on #44873
Thank you @sfackler, cross posted to: https://github.com/carllerche/mio/issues/735

[2017-09-26 21:49] #44873 closed

[2017-09-26 21:54] thiolliere opened #44876 "derive Clone fails for struct with associated type field"
(on stable, beta and nightly) the following code fails to compile:
[code]
error is:
[code]

if we implement clone by hand it works

[2017-09-26 21:55] thombles commented on #44339
Hi, I'm working on solving this now

[2017-09-26 22:13] alexcrichton commented on #44365
Oh sure!

So right now you can see for yourself:

[code]

All of the `__rdl_*` symbols (and `__rde_*` in some situations) don't actually need to get exported from the cdylib, they should be internal to Rust. I think that something in [this file](https://github.com/rust-lang/rust/blob/master/src/librustc_trans/back/symbol_export.rs) is likely to change to account for this.

[2017-09-26 22:26] alexcrichton commented on #44637
cc https://github.com/rust-lang/rust/issues/27779, the tracking issue for this as well

[2017-09-26 22:27] alexcrichton commented on #44532
The libs team discussed this today and the conclusion was that we agreed with sticking with the current implementation but we should figure out how to get the size reported the same one as returned by `metadata`.

[2017-09-26 22:33] alexcrichton commented on #44095
The libs team discussed this during triage a few days ago and the conclusion was that we should do a crater run to see what the breakge is across the ecosystem for this change. The results of that would determine what action should be taken on precisely this issue.

There's a number of possible future language features we could add to ease adding apis like this such as low-priority traits or using

[2017-09-26 22:36] bluss commented on #27779
I'm concerned that the following use of the placer traits lands too close to arbitrary memory writes in safe code [(playground link)](https://play.rust-lang.org/?gist=fb67c9138789da84d47db92258788920&version=nightly); in particular that the Placer trait returns a raw pointer and the desugaring trusts that pointer.

I'm sorry if this has come up before, I can't find it exactly, at least not with th

[2017-09-26 22:38] eddyb commented on #44570
@rust-lang/compiler @petrochenkov Oh wow why do we even allow this syntax?!
But if we want this it should be done like `extern {...}` functions (with no bodies), which keep a `Vec` of names, distinct from argument patterns in functions with bodies.

[2017-09-26 22:41] alexcrichton commented on #35118
@rfcbot fcp cancel

Ok I've now been convinced by @sfackler and other members of the libs team that we have a new blocker for stabilization, which is a "reasonable ish" story for enabling this type to work on all platforms. Today's incompatibility with Emscripten is pretty worrying, and the prospects of adding popular future platforms that also don't support 128-bit integers was also somewhat worr

[2017-09-26 22:42] stephaneyfx commented on #44532
I can work on this if it helps. I have a fix ready and just need to add a unit test.

[2017-09-26 22:43] alexcrichton commented on #44532
Awesome, thanks @stephaneyfx!

Any help is greatly appreciated :)

[2017-09-26 23:17] bes1002t commented on #44787
No there is no gcc.exe and no ld.exe. There are some files like rustc.exe and cargo.exe but no gcc.exe or ld.exe. The only file that has something to do with gcc is "libgcc_s_seh-1".

[2017-09-26 23:39] stephaneyfx commented on #44876
AFAIK, deriving `Clone` for a generic type generates an implementation with `Clone` trait bounds for the type parameters. In your case, this means:

[code]

This can be verified by passing `-Z unstable-options --pretty expanded` to nightly rustc.

[2017-09-26 23:43] estebank commented on #44339
@thombles, great! You probably want to modify `parse_seq_to_before_end` to collect all the errors (by passing a closure that captures a hashmap in that method's body to `parse_seq_to_before_tokens`, and compare the spans to only `emit` once per span. This should catch all these cases then.

[2017-09-27 01:23] #43023 closed

[2017-09-27 01:40] chrisvittal commented on #44870
I am interested in working on this! It looks like that for now, all the work will be done in `librustc_mir/transform/nll/mod.rs`?

[2017-09-27 03:38] retep998 commented on #44787
Are you sure you're looking in the folder I mentioned? `rustc.exe` and `cargo.exe` exist in `toolchains\stable-x86_64-pc-windows-gnu\bin` while the folder which has `gcc.exe` and `ld.exe` is `toolchains\stable-x86_64-pc-windows-gnu\lib\rustlib\x86_64-pc-windows-gnu\bin`.

[2017-09-27 03:49] clarcharr commented on #35118
@alexcrichton A tracking issue for that should probably be added to the OP.

[2017-09-27 03:53] clarcharr commented on #44842
:+1: to deprecating `description` and just staying with `cause`. I'd much rather errors describe more about the error in the type and the `Display` implementation, and use `cause` for some reasonable form of stack-tracing.

[2017-09-27 04:01] alexcrichton commented on #44575
Given [this new graph](https://perf.rust-lang.org/?start=2017-09-11T00%3A00%3A00%2B00%3A00&end=2017-09-25T00%3A00%3A00%2B00%3A00&crates=%5B%22issue-43572-unused-uses%22%5D&stat=instructions%3Au) looks like https://github.com/rust-lang/rust/pull/44696 recovered any missing losses here, so closing.

[2017-09-27 04:01] #44575 closed

[2017-09-27 04:08] sfackler commented on #44842
I'd probably lean towards a default impl of some string literal but I'm definitely on board with deprecating description.

[2017-09-27 04:41] aneeshusa commented on #42867
I haven't looked into this at all yet, but wanted to mention I'm getting similar errors when trying to [enable this on Servo CI](https://github.com/servo/servo/pull/17171).

[2017-09-27 04:53] nagisa commented on #27779
IIRC raw pointer was chosen specifically because data behind the pointer
could be uninitialised. If we had #[repr(transparent)] there's an
alternative option we could probably use: &mut MaybeUninit<T>.

Do you have alternative ideas? Maybe more unsafety annotations?

On Sep 27, 2017 1:37 AM, "bluss" <notifications@github.com> wrote:

[2017-09-27 04:54] TimNN commented on #44846
Closing as duplicate.

[2017-09-27 04:54] #44846 closed

[2017-09-27 04:57] #44800 closed

[2017-09-27 05:03] TimNN commented on #44858
Seems related to #44814

[2017-09-27 05:09] TimNN commented on #44869
Likely related to ##44814.

[2017-09-27 05:35] Gankro opened #44880 "Ahem font not pixel snapping clean enough? (linux?)"
Short on details since I'm about to sleep and don't want to forget this.

There's a bunch of reftests in gecko that are using the Ahem font to, basically, draw rectangles with very specific sizes. Enabling wr text breaks these. On linux (the reftests linked below) there's a visible shift left. On macos there's a visible shift up.

See the first ~30 tests here https://hg.mozilla.org/mozilla-central

[2017-09-27 05:36] Gankro commented on #44880
REALLY TIRED OK?

[2017-09-27 05:36] #44880 closed

[2017-09-27 06:01] Menschenkindlein commented on #43871
Could you, please, explain to me what this magic `tcx` field really is? I saw its usage in `check_pat_tuple_struct`, but there was other `self` - `FnCtxt`. Both it and `Resolver` doesn't have this field in their definition.

[2017-09-27 06:29] estebank commented on #43871
@Menschenkindlein you have [the following code](https://github.com/rust-lang/rust/blob/master/src/librustc/ty/context.rs#L807-L812):

[code]

As `TyCtxt` implements `Deref` for `GlobalCtxt`, when accessing a field of a borrow of `tcx` you can also access the methods and fields of `tcx.gcx`. You can think of it as a way of having [inheritance (with caveats)](https://github.com/rust-unofficial/patte

[2017-09-27 07:40] tmccombs commented on #41822
I don't know enough about Windows to know if such a distinction is possible in Windows. But I do think that there could be a function to perform a graceful shutdown, which may or may not do the same thing as the `kill` function depending on if the system supports a distinction.

I'm curious why SIGKILL was chosen for the `kill` method on unix systems, since SIGTERM is usually what you want. In my

[2017-09-27 07:50] Zoxc commented on #27060
For `Drop` fields, could we not move them into an aligned temporary before calling `drop`?

[2017-09-27 08:10] GuillaumeGomez commented on #44844
The goal of the compile-fail tests is different than the ui tests'. The first one is to ensure the expected error(s) come(s) out, even if the output changes whereas the second is to watch over the compiler output. That's why it seems strange to me that we're trying to merge the both of them.

[2017-09-27 08:20] #44810 closed

[2017-09-27 08:39] jice-nospam opened #44883 "char::FromStr cannot parse hexadecimal / unicode notations"
Both of these fail with a `ParseCharError { kind: TooManyChars }`
[code]
Is this a missing feature or impossible to implement ?

[2017-09-27 09:17] arielb1 commented on #27060
@Zoxc

That wouldn't work for unsized fields, and it could create unexpected stack copies.

[2017-09-27 11:42] nagisa commented on #44400
This is now a tracking issue for the function added in the previously referenced PR.

[2017-09-27 11:45] nagisa commented on #44842
`description` is useful when you cannot or would rather not to allocate space for formatted string. I’ve used it this way a few times.

[2017-09-27 12:20] petrochenkov commented on #44570
@eddyb

To support self-documenting arguments in callback types, roughly the same reason why names are supported in foreign functions.
Any patterns except `_` and `IDENT` are prohibited there by the same check that prohibits them in foreign functions, so the legal ones can be lowered into "`Vec` of names".

[2017-09-27 12:41] illicitonion commented on #44862
That is what I'm trying to do, specifically for use by Python.

I have a rust library which also uses some C code, and I need to export both rust and C functions to the calling language (Python).

I tried switching to a cdylib, and this appears to end up stripping my C functions out of the produced cdylib. As far as I can tell from https://github.com/rust-lang/rust/issues/36342 and https://users.r

[2017-09-27 13:38] stephaneyfx commented on #44883
This works correctly if the input strings are not raw [playground](https://play.rust-lang.org/?gist=6f21c8b4db9ca49f047b15b6cab2c4dc&version=stable):

[code]

These escape sequences are specific to rust source code and I don't think the implementation of `FromStr` should consider/favor these escape sequences as it may be used to parse strings containing something else than rust code.

[2017-09-27 13:41] nikomatsakis commented on #44872
@chrisvittal has been working on this. During discussion in WG-compiler-nll, we came up with some nice ideas. For example, the callback ought to be invoked many times, with an argument indicating where in the control-flow graph we are located. I am imagining:

[code]

This way we can also dump information about liveness, showing for example what is live on entry to each block, what is considered b

[2017-09-27 13:42] nikomatsakis commented on #44872
I imagine that before/after CFG would be invoked [before and after this line](https://github.com/chrisvittal/rust/blob/mir_pretty_printing/src/librustc_mir/util/pretty.rs#L127), respectively.

Before block would be invoked [right before this line, which starts the basic block](https://github.com/chrisvittal/rust/blob/mir_pretty_printing/src/librustc_mir/util/pretty.rs#L190), and the statement call

[2017-09-27 14:34] pnkfelix opened #44886 "`catch` lacking both type annotation and trailing expr yields confusing diagnostic"
If you:
 1. make a `catch` block, and
 2. do not realize that essentially all `catch` blocks *have* to end in some sort of trailing expression of type `Result<.., ..>`, and
 3. you also leave out the type annotation *stating* that the return type should indeed by `Result<.., ..>`,

then you are likely to end up getting an error diagnostic from the compiler that is pretty confusing.

Consider the f

[2017-09-27 14:40] Menschenkindlein commented on #43871
`rustc_resolver::Resolver` doesn't have access to `GlobalCtxt` as far as I see. I think the change should be made in some of the calling functions. It is too difficult for me to find in which one, though.

[2017-09-27 15:03] retep998 commented on #44862
That is the desired end-state. Sorry that re-exporting C functions isn't working yet.

[2017-09-27 15:05] retep998 commented on #36342
Can we please have some focus brought to this. For many applications which combine both C and Rust and are trying to create a `cdylib`, the lack of this feature is a *blocker*.

[2017-09-27 15:24] tirr-c opened #44887 "Function pointer types never display higher-ranked region when they are used as argument types"
[code]

[code]

Here, only `for<'b>` is omitted.

## Meta

[code]

[2017-09-27 15:25] virtuoushub commented on #40108
I ran into this issue today on macOS. @timmyjose's [workaround](https://github.com/rust-lang/rust/issues/40108#issuecomment-316011328) fixed it.

[code]

[2017-09-27 15:32] stephaneyfx commented on #44532
@alexcrichton, I modified the documentation of `fs::copy` to clarify that the returned length is the same as the length reported by `metadata`. Should l also add a platform-specific note regarding the behavior with streams on Windows-NTFS?

[2017-09-27 16:00] jice-nospam commented on #44883
Since the implementation is already somewhere in the compiler, I was hoping it was available in the language, but indeed, it does not make sense as there are lots of other ways to encode chars. I'm closing the issue.

[2017-09-27 16:00] #44883 closed

[2017-09-27 16:02] alexcrichton commented on #44532
Sure yeah, sounds great!

[2017-09-27 16:14] arielb1 commented on #38714
@nikomatsakis

I'm tempted to just do some sort of LUB of the expected type and the user-specified type. Of course, we can't just replace the regions with normal "outside-universe" `_` and merge them because that'll cause an error, but there's maybe something we can do.

The sort of "frankenmerging" bound regions between the expected return type with the user is certainly broken and I'll  want non

[2017-09-27 16:23] alexcrichton commented on #42867
I've opened https://github.com/mozilla/sccache/pull/185 with my personal preferred strategy of adding a jobserver to sccache.

[2017-09-27 16:37] sunfishcode commented on #28728
@zackw LLVM has a flag for that: `TrapUnreachable`. I haven't tested this, but it looks adding `Options.TrapUnreachable = true;` to [`LLVMRustCreateTargetMachine`](https://github.com/rust-lang/rust/blob/4cdb36262b93390c8733a1ce44665619d9348981/src/rustllvm/PassWrapper.cpp#L370) ought to address your concern. It's likely that this has a low enough cost that it could be done by default, though I hav

[2017-09-27 16:44] arielb1 commented on #36799
@petrochenkov's span reform PR had lost us 400MB of space here, which means making this compile is that much harder. Maybe we should just use enough bits for the crate when encoding spans?

[2017-09-27 17:12] stephaneyfx commented on #44883
Unfortunately this functionality of parsing rust escape sequences does not seem to be offered as part of the standard library or a crate ([related stackoverflow entry](https://stackoverflow.com/questions/40055279/parse-a-string-containing-a-unicode-number-into-the-corresponding-unicode-charac)).

[2017-09-27 17:43] mattico commented on #44871
It looks like compiler-builtins isn't being linked in for dylibs. I don't know if that is expected behavior, but you can try to work around this by adding a dependency to [compiler-builtins](https://github.com/rust-lang-nursery/compiler-builtins).

[2017-09-27 17:59] Pirh commented on #29370
I'd like to take a stab at the two remaining issues with abort (the extra brackets and the missing relationship to panic!).

This'll be my first attempt at a contribution - I'll fork rust just now and try to get a branch up soon.

[2017-09-27 17:59] nikomatsakis commented on #38714
@arielb1

I don't think "LUB" precisely makes sense, but it does seem pretty clear that the *intent* when you write `foo(|x: &str| ...)` -- and an expected type exists -- is always going to be "use the regions from the expected type". In particular, I think that **anonymous regions** in closure signatures seem like they want to come from the expected type.

Would it be too hacky to do something li

[2017-09-27 18:10] sfackler commented on #44871
If you're trying to make a dynamic library for use with things other than Rust, the `cdylib` crate type is probably what you're looking for.

[2017-09-27 18:37] steveklabnik commented on #29370
Excellent!

[2017-09-27 18:38] bes1002t commented on #44787
You're totally right, it was the wrong directory. Anyway, I added excatle the new directory to my PATH, so which gcc and which ld shows the exact path to this directory. But the build still fails with this error message:

[2017-09-27 18:45] estebank commented on #43871
Ah! Now I see what you mean regarding `Resolver`. So if this is being raised in `librustc_resolver` you don't have access to `tcx` there. I'm gonna have to look how this could be accomplished, but in the meantime maybe [this suggestion code](https://github.com/rust-lang/rust/blob/17f56c549c35bb2cb316e5abff116e65277c7bb1/src/librustc_resolve/lib.rs#L2500-L2521) that uses [`lookup_import_candidates`

[2017-09-27 18:52] simonbyrne commented on #10184
I admit I'm not that familiar with rust, but I think [this line](https://gist.github.com/rkruppe/202dd7eb9f8d2a5ff1e02a911f51dacf#file-cvt-rs-L12) is subtly incorrect: `std::i32::MAX` (2^31-1) is not exactly representable as a Float32, so `std::i32::MAX as f32` will be rounded to the nearest representable value (2^31). If this value is used as the argument `x`, the result is technically undefined.

[2017-09-27 18:53] bstrie commented on #44838
@alexcrichton The last time that you and I discussed this (in March 2013: https://github.com/rust-lang/rust/pull/5436#issuecomment-15142762) you noted that `assert_eq` has different and potentially unexpected semantics compared to straight `assert`, in that `assert_eq` checks for equality commutatively, whereas `assert` does not.

If this RFC were to be implemented, we would either need to decide

[2017-09-27 19:05] Manishearth commented on #10184
Yeah, we had exactly that problem in Servo before. The final solution was to cast to f64 and then clamp.

There are other solutions but they're pretty tricky and rust doesn't expose nice APIs for dealing with this well.

[2017-09-27 19:27] nikomatsakis opened #44891 "Extract queries for the trait system operations that are performed in trans"
Currently, there are a number of trait system operations that are used by the code in trans. Currently, they are invoked directly, and behind the scenes they use a `DepTrackingMap` to memoize across multiple calls. It would be better for incremental if they were converted into named queries. Effectively the goal is to remove the `trans_trait_caches` field of the tcx. For these particular operation

[2017-09-27 19:28] arielb1 commented on #36799
or use 40 bit spans, which should be enough to handle 64MB crates?

[2017-09-27 19:35] s3bk commented on #10184
using 0x7FFF_F780i32 as upper limit and -0x8000_0000i32 should solve this without casting to f64.

[2017-09-27 20:00] simonbyrne commented on #10184
I think you mean `0x7fff_ff80`, but simply using a strict inequality would probably make the intention of the code clearer.

[2017-09-27 20:01] pnkfelix commented on #41334
It might be a easy fix to at least change the diagnostic message to *also* suggest adding `#![feature(proc_macro)]` to `bar.rs` for the short term. (Or have the diagnostic first check if that feature is enable before making the suggestion.) I don't mind having a redundant portion of the suggestion as long as the it covers the real problem as well.

[2017-09-27 20:12] s3bk commented on #10184
as in `x < 0x8000_0000u32 as f32` ? That would probably be a good idea.

[2017-09-27 20:18] durka commented on #44838
@bstrie your concern was [obsoleted](https://github.com/rust-lang/rust/commit/5cf126ae2f6af1cdac901f6995e3c2bab35e587f) in 2015 :)

[2017-09-27 20:18] wesleywiser commented on #44891
I'd like to take a shot at this if that's ok.

[2017-09-27 20:21] bstrie commented on #44838
Glad to hear it. :)

[2017-09-27 20:52] nikomatsakis commented on #44891
cc @michaelwoerister

[2017-09-27 20:53] nikomatsakis commented on #44891
@wesleywiser definitely! Feel free to reach out [on gitter](https://gitter.im/rust-impl-period/WG-compiler-traits) if you have any questions along the way. You can also leave comments here, but I have a hard time keeping up with GH notifications, so that can sometimes lead to a long lag in getting a reply. =)

[2017-09-27 20:55] nikomatsakis commented on #44891
Oh one other thing. There is no reason to do this all at once. In particular, it would be fine to open a PR that just tackles `trans_fulfill_obligation`.

[2017-09-27 20:57] wesleywiser commented on #44891
Thanks! I'll definitely work on `trans_fulfill_obligation` first.

[2017-09-27 21:57] Pirh commented on #29370
Done! But before I open a PR, can I make sure I'm not misunderstanding anything?

Commits for the two changes are here:
Pirh/rust@7ab20c85
Pirh/rust@6dfa45d

Also, I mention Cargo.toml in part of the description of panic=abort. Is that OK, or do we avoid mentioning cargo concepts in the std lib documentation?

[2017-09-27 22:07] erickt commented on #38899
FYI this bug was exploited by @aidanhs in his entry for the [2016 underhanded rust contest](https://github.com/rust-community/underhanded-submissions/tree/master/2016/aidanhs/submission2).

[2017-09-27 22:32] mattico commented on #44113
I looked into this a bit, writing some notes here so I don't forget what I found.

The problem is here: https://github.com/rust-lang/rust/blob/0e6f4cf51cd3b799fb057956f8e733d16605d09b/src/librustc_allocator/expand.rs#L94-L97

The `Path` for the allocator is hard-coded to be `super::<allocator name>`. We need to instead get a proper `Path` for `f.global`.

There may be a function hidden in the comp

[2017-09-27 23:27] mattico commented on #44113
Another option is to generate stub impls of the global alloc functions in the AST but then fill them out later when there's more information available.

[2017-09-28 00:01] jld commented on #44433
So I'm kind of stuck because, when I try to test locally, I run into #43982 unless I remove `--enable-extended`, which isn't maximally useful because I don't have Cargo and therefore can't build Cargo.  This happens even without my changes, but the same container running on Travis CI seems to work, and I'm at a loss as to what differences there could be that would affect (apparently?) the type che

[2017-09-28 00:02] jonas-schievink commented on #41315
Still reproduces on 1.20 and `nightly-2017-09-15` (`1.22.0-nightly (5dfc84cfa 2017-09-14)`). Did the patch ever happen?

[2017-09-28 01:27] mssun commented on #44871
@sfackler, thanks for the suggestion.

Actually, I'm doing some simple experiments and found that my code could be compiled on the x86_64-unknown-linux-gnu target but failed on the x86_64-apple-darwin target.

I don't know if that is expected behavior or a bug in rustc.

[2017-09-28 01:30] robinst commented on #29646
Anyone landing here from googling "associated const", this was released in Rust 1.20, see the announcement: https://blog.rust-lang.org/2017/08/31/Rust-1.20.html

[2017-09-28 01:40] robinst commented on #29646
Also, if anyone is looking for the documentation of this, it's here: https://doc.rust-lang.org/stable/reference/items.html#associated-constants

(It was surprisingly hard to find.)

[2017-09-28 01:52] porky11 commented on #44874
Why would you need this?
Why wouldn't you write an impl like this:
[code]
I'd rather define the trait different. Maybe like this:
[code]

In this case, Rc would be a trait type. If every generic type implemented a specific trait (this could be implemented automatically for generic types) this seems more understandable to me.

[2017-09-28 02:01] robinst opened #44894 "Documentation for new stable features can be hard to find (e.g. for associated const)"
### Background

I was just changing some code to use associated consts for a struct. I wasn't sure what the exact syntax was, so I was looking for the documentation about it. I remembered that it was recently stabilized, so I googled for "rust associated constants". Here's the top results:

<img width="654" alt="screen shot 2017-09-28 at 11 44 54" src="https://user-images.githubusercontent.com/167

[2017-09-28 02:15] #36700 closed

[2017-09-28 03:28] Ryan1729 commented on #44365
Here's the symbols that are exported after compiling [the automated branch](https://github.com/Ryan1729/tiny-live-code-example/tree/C_ABI_automated_test) with the compiler at `695dee06`/after #42727.

Using cdylib
[code]

Using plain dylib
[code]

[2017-09-28 04:52] alexcrichton commented on #44365
Yeah for the cdylib case the `__rdl_*` functions shouldn't be exported, but for the dylib case the `__rust_` functions being exported is expected I believe.

[2017-09-28 05:32] Ryan1729 commented on #44365
I changed [these lines](https://github.com/alexcrichton/rust/blob/695dee063bcd40f154bb27b7beafcb3d4dd775ac/src/librustc_trans/back/symbol_export.rs#L105-L122) to the following
[code]
then recompiled [the automated branch](https://github.com/Ryan1729/tiny-live-code-example/tree/C_ABI_automated_test). If I set the two inner crates to be cdylibs then those symbols are removed
[code]
but the reloading

[2017-09-28 06:25] zilbuz opened #44898 "`x.py build --incremental` fails because of a command too long"
I'm on Windows, with a x86_64-pc-windows-msvc toolchain. When compiling Rust with `x.py build --incremental` after editing `librustc_mir/borrow_check.rs`, I have the following error:

[code]

I think this may be because the command line is too long (41 760 characters).

The longest path in the command line is at 196 characters :
`C:\\Users\\zilbuz\\projets\\rust\\build\\x86_64-pc-windows-msvc\\sta

[2017-09-28 07:06] parched commented on #44722
Anyone have any thoughts on this? @alexcrichton ? @japaric who added the other thumb targets maybe?

[2017-09-28 07:36] petrochenkov commented on #44844
@estebank

It's very difficult to write *new* compile-fail style tests testing more than one error without support of `//~ ERROR`, I tried it. (A typical example is exhaustively testing some minor feature, e.g. https://github.com/rust-lang/rust/blob/master/src/test/compile-fail/trait-item-privacy.rs)
You have to look at the wall of text in the `.stderr` file and try to manually find lines correspo

[2017-09-28 07:47] KiChjang commented on #44831
I'm interested in tackling this.

[2017-09-28 07:51] Ryan1729 commented on #44365
I checked out [4c225c4, the last commit the reloading works on](https://github.com/rust-lang/rust/commit/4c225c4d1732537aff63dd97c2b7ac681fd3d188), and I edited  `symbol_export.rs` to always set `export_level` to `SymbolExportLevel::C`.

In the dylib case the reloading still works and  I get this result from `nm`:
[code]
Which is the same result I get if I use the unaltered version.
So, it seems l

[2017-09-28 07:53] GuillaumeGomez commented on #44844
Which seems very complicated in case there are multiple lines for one error (help, notes, suggestions...).

[2017-09-28 08:04] kamyuentse opened #44899 "Release build emit assertion `(KnownZero & KnownOne) == 0 && "Bits known to be one AND zero?"'"
I'm a user of the [rust-zookeeper](https://github.com/bonifaido/rust-zookeeper), and I found it build failed in release mode.
using the command: `cargo build --release --verbose`

log：https://gist.github.com/kamyuentse/1bf0c8d65fd40a17060f5cca515e720c

It seems an upstream bug related the LLVM? There is any workaround to fix this bug?

https://github.com/bonifaido/rust-zookeeper/issues/37

Environ

[2017-09-28 11:38] #43799 closed

[2017-09-28 12:40] #44424 closed

[2017-09-28 13:14] kdy1 commented on #37939
I think this issue is fixed.

Gerated output is same for try! and ?.

https://play.rust-lang.org/?gist=625d88df305ace951a088e1cee2ec13a

[2017-09-28 13:16] steveklabnik commented on #29370
Don't worry about opening up PRs, it's actually easiest to review as a PR. WIP PRs are totally fine!

We don't, but not due to any specific policy exactly, it's just never been directly relevant.

[2017-09-28 13:16] steveklabnik commented on #29370
(Oh, and these look good to me!)

[2017-09-28 13:22] StefanoD commented on #37939
Even if this is fixed: Is there a unit test which prevents regression?

[2017-09-28 13:48] kennytm commented on #37939
We could have a `codegen` test for this.

Someone tag this as `E-needstest` please...

[2017-09-28 13:57] alexcrichton commented on #44722
Is this a breaking change? It's [specified](https://developer.android.com/ndk/guides/abis.html#v7a) as supporting thumb, so wasn't this just a bug fix?

[2017-09-28 13:57] alexcrichton commented on #44365
Ah then I'm not sure what's going on :(

[2017-09-28 15:03] shepmaster commented on #26186
[Another example from Stack Overflow](https://stackoverflow.com/q/46472082/155423):

[code]

[2017-09-28 15:04] shepmaster commented on #38305
Perhaps related to #26186 ?

[2017-09-28 15:23] SeanPrashad commented on #36284
Hi there! I'm a student at Seneca College whose enrolled in an Open Source course taught by my professor and Mozillian, David Humphrey. I would love to tackle this bug for my course if it's still available and unassigned.

[2017-09-28 16:24] pcwalton commented on #31681
It's unclear from reading this what the state of this bug is. Do we still believe that NewGVN will fix this issue?

[2017-09-28 16:45] steveklabnik commented on #36284
That'd be great! Is @QuietMisdreavus 's post on what to do clear enough?

[2017-09-28 17:09] nikomatsakis opened #44904 "prototype NLL inference infrastructure"
Building on https://github.com/rust-lang/rust/pull/44878,

In the nascent NLL code, we need to define the inference infrastructure. This is basically the code embodied by [`infer.rs` in the prototype](https://github.com/nikomatsakis/nll/blob/master/nll/src/infer.rs). In particular, this inference context ought to take ownership of the region values that were added in #44878. It would then also col

[2017-09-28 17:33] Pirh commented on #29370
Great! I'll submit a PR just now and in future go straight ahead. Thanks for taking a look though.

[2017-09-28 18:00] spastorino commented on #44904
Cool, I will start working on this one.

[2017-09-28 18:09] bluss commented on #37939
It looks like they both have the same bad code generation now, needs looking into.

[2017-09-28 18:15] brainlessdeveloper commented on #29586
Hello there, I'd like to try tackling this issue. It would be my first work on the compiler so I'll be slow, but I understand the issue and the mentoring instructions.

[2017-09-28 18:21] SeanPrashad commented on #36284
@steveklabnik I would love to say yes and get on my way but I'm still a little unclear. Would I be removing documentation `into_boxed_slice` and `shrink_to_fit`? Any and all clarification is welcomed!!

[2017-09-28 18:25] kardeiz commented on #39347
I am also encountering the issue/bug described by @LukasKalbertodt above, in almost exactly the same context, with a recent nightly `rustc 1.22.0-nightly (0e6f4cf51 2017-09-27)`. Is there any workaround available or resolution in the works?

[2017-09-28 18:34] steveklabnik commented on #36284
Yup! To elaborate a little further, that means modifying these lines: https://github.com/rust-lang/rust/blob/94a82adbb491b5fd0585370d4fcc7b36798e70d5/src/liballoc/vec.rs#L510-L516

The sentence about excess capacity should stay, but the second one and the link should be removed.

[2017-09-28 18:40] steveklabnik commented on #28728
Looks like there's a patch: https://reviews.llvm.org/D38336

[2017-09-28 18:43] SergioBenitez commented on #44619
While trying to generalize a concept in Rocket, I ran into issues when coercions I expected to happen automatically did not. I'll illustrate with examples.

In the code below, the `Handler` trait is implemented for all types that implement the function trait `Fn(&str) -> &str` (note the implicit HRTB). Among these types, of course, is `for<'r> fn(&'r str) -> &'r str`. The program below typechecks:

[2017-09-28 19:14] clarcharr commented on #44868
I'm willing to work on this soon, updating both the book and the rustdoc. I think that the main thing that isn't conveyed right now is the fact that `Borrow` requires that the data be functionally the same (providing the same trait impls) whereas `AsRef` simply converts references between different types.

[2017-09-28 19:45] bluss commented on #37939
Example where it is compared with the identity function. Returning `Ok(x?)` is the same as the identity for the result. [playground link](https://play.rust-lang.org/?gist=0ba148d084daa7ab21c01e1723d1dbbe&version=nightly)

But it seems this example is not a good condensation of the issue, because I can't find any previous Rust version (in rust.godbolt) that has the desired identity function code ge

[2017-09-28 19:59] michaelwoerister commented on #36799
@arielb1 I'm not sure I understand: The span PR makes this test case use 400 MB more -- or less?

[2017-09-28 20:06] arielb1 commented on #36799
it makes the test case use 400MB more, because the span just overflows the 24-bit length we have.

[2017-09-28 20:09] arielb1 commented on #37939
@bluss

I think https://reviews.llvm.org/D37216 should fix this, but it's a little stuck in the LLVM review queue.

[2017-09-28 20:12] nikomatsakis commented on #44538
Checking in from the @rust-lang/compiler meeting -- can someone summarize what action on our part is needed, if any? Or is that still undetermined?

[2017-09-28 20:21] arielb1 commented on #36799
The current peak is during LLVM translation where we are using memory from both MIR and LLVM. I think that after miri lands, we could easily store constants as byte arrays, which should bring this well into the green zone.

[2017-09-28 20:23] nikomatsakis commented on #44814
triage: P-high

Assigning to @petrochenkov as this is believed to be due to https://github.com/rust-lang/rust/pull/44633.

[2017-09-28 20:23] nikomatsakis commented on #44869
triage: P-high

Assigning to @petrochenkov as the theory is that is same cause as #44814, which is believed to be due to https://github.com/rust-lang/rust/pull/44633.

[2017-09-28 20:24] nikomatsakis commented on #44814
@petrochenkov -- let us know if you don't have time to tackle this right now!

[2017-09-28 20:24] nikomatsakis commented on #44858
triage: P-high

Assigning to @petrochenkov as this is believed to be due to https://github.com/rust-lang/rust/pull/44633.

[2017-09-28 20:26] SeanPrashad commented on #36284
Thank you so much @steveklabnik! I will have to prepare my local environment on my laptop and get to work. Once I'm done and ready to submit a PR, I will let you know!

[2017-09-28 20:44] arielb1 commented on #31681
@pcwalton

I think all "noalias-exclusive" bugs are fixed, so it might be worth giving it a try and opening a PR.

[2017-09-28 20:50] ActuallyaDeviloper commented on #10184
I think of all the suggested deterministic options, clamping is geneally most useful one because I think it's done often anyway. If the conversion type would actually be documentated to be saturating, manual clamping would become unnecessary.

I am only a little worried about the suggested implementation because it doesn't properly translate to machine instructions and it relies heavily on branchi

[2017-09-28 20:54] cuviper commented on #31681
Does that enablement need to be conditional on LLVM version?

[2017-09-28 20:54] arielb1 commented on #31681
I think. 4.0 should be fine.

[2017-09-28 21:04] gilescope opened #44909 "Crate naming confusion - use underscores always. E.g. tokio-core and serde_derive"
We need to make things a bit more consistent: 'extern' crate name _should equal_ crate name in the toml file.

For example: tokio-core and serde_derive are both valid crate names.

But

is a compile error as it's not a valid rust name. Instead we have to use underscore:

Can we ban new crates being published on crates.io with hyphens so that we _only_ have underscores. (Or alternatively ban unders

[2017-09-28 21:10] arielb1 commented on #44619
I think what's going here is just that coercions, like everything else in Rust, don't trigger based on the set of pending trait obligations.

However, some specific examples are different:
[code]

That is just #38714, which is being fixed

[code]

This also looks like some sort of screwiness, we might look into it.

[2017-09-28 21:13] SergioBenitez commented on #44619
This appears to be true sometimes and not other times, but either way, my point is that (at least for function types) coercions should be trigged based on the set of pending trait obligations. For an instance of when these coercions _do_ presently trigger, see the example towards the middle of my comment. I've reproduced it below:

[code]

[2017-09-28 21:14] arielb1 commented on #44619
Actually there are no coercions in *any* of these examples (except when explicitly triggered via casts), just heuristic HRT inference.

[2017-09-28 21:14] cuviper commented on #44909
Related discussions:
https://internals.rust-lang.org/t/pre-rfc-resolve-support-for-hyphens-in-crate-names/1459
https://internals.rust-lang.org/t/maybe-pre-rfc-improving---in-cargo-crates-io/5251

From the latter link above, it sounds like crates.io already prevents case and `-`/`_` collisions.

[2017-09-28 21:17] arielb1 commented on #35121
For `match`es, see https://public.etherpad-mozilla.org/p/rust-compiler-design-sprint-paris-2017-ucg

[2017-09-28 21:19] SergioBenitez commented on #44619
Sorry, you're right; I was indeed referring to inference there. To rephrase, I mean to exhibit that the inferred type for `|_| "hi"`  _is not_ `closure<'r> &'r str -> &'static str` but instead `closure<'r> &'r str -> &'r str`. If that same type had been inferred in the earlier examples, then the code would be expected to typecheck.

[2017-09-28 21:23] rkruppe commented on #10184
@ActuallyaDeviloper The asm and the benchmark results look very good! Furthermore, branchless code like yours is probably easier to generate in `rustc` than the nested conditionals of other solutions (for the record, I am assuming we want to generate inline IR instead of calling a lang item function). Thank you so much for writing this.

I have a question about `u16_cast_clip2`: it doesn't seem to

[2017-09-28 21:23] cuviper commented on #44898
Many programs (including `link.exe`) allow a `@file` argument which will read arguments from that `file`.

[2017-09-28 21:28] cuviper commented on #44876
Right, you'll get a `T: Clone` bound per #26925.

[2017-09-28 21:42] rkruppe commented on #44898
This is #41190 which was fixed recently (in #44094). So this should be fixed automatically once the bootstrap compiler is updated (though if I do my math correctly, this will take until 1.22 has been released). In the mean time, bootstrapping from a recent local rustc ought to fix this.

[2017-09-28 22:02] cuviper commented on #44874
This could **only** be allowed for `trait` methods, right?

For inherent methods, I can't `impl Rc<MyType>`, but if `impl MyType` can add methods with `self: Rc<Self>`, it seems like that would enable weird method shadowing.

[2017-09-28 22:32] behnam opened #44910 "Publish Cargo Manual on the bookshelf"
# Background
In <https://github.com/rust-lang/cargo/issues/4040>, we re-organized Cargo documentations into one single in-repo mdBook, called "Cargo Manual". The preview is available on <http://doc.crates.io/book/>

# Now
The last step is to publish the book on <https://doc.rust-lang.org/cargo/>, which requires work in this repo (`rust`).

# Follow-up
After this, we should create a new tracker iss

[2017-09-28 22:33] behnam commented on #39588
# Update on Cargo docs

We are done with preparing the Cargo docs in book format, which was <https://github.com/rust-lang/cargo/issues/4040>

I have filed <https://github.com/rust-lang/rust/issues/44910> for the next steps. We can add this to the list in the description here.

[2017-09-28 23:14] Manishearth opened #44911 "OSRng initialization crash on Windows"
Firefox is getting a rare but recurring crash on Windows due to OsRng failing to initialize.

The bug is being tracked [here](https://bugzilla.mozilla.org/show_bug.cgi?id=1385971), and you can see the crash reports [here](https://crash-stats.mozilla.com/signature/?signature=core%3A%3Aresult%3A%3Aunwrap_failed%3CT%3E%20%7C%20std%3A%3Acollections%3A%3Ahash%3A%3Amap%3A%3A%7B%7Bimpl%7D%7D%3A%3Anew%3A%

[2017-09-28 23:28] mattico commented on #44911
Possibly related: https://github.com/golang/go/issues/15655

They thought it was due to delay-loaded DLLs not loading, but didn't figure it out.

[2017-09-28 23:41] chyvonomys commented on #43825
I also got this error on similar code:
[code]
Compiler complains about `(i % 50) as f32` and `(i / 50) as f32`.
In my case real error is after this code.

[code]

[2017-09-28 23:52] ActuallyaDeviloper commented on #10184
@rkruppe You are right, I accidently swapped the sides of the `if` and forgot about that. `f32 as u16` happend to do the right thing by truncating the upper 0x8000 away, so the tests didn't catch it either. I fixed the problem now by swapping the branches again and testing all methods with `if (y.is_nan()) { panic!("NaN"); }` this time.

I updated my previous post. The x86 code did not change sign

[2017-09-29 00:40] QuietMisdreavus commented on #43893
This should be a fairly small change (the most annoying part has already been done) so i'll open this up as a mentored issue.

The bit that writes out the "Implementors" section is [at the bottom of the `item_trait` function](https://github.com/rust-lang/rust/blob/3c96d40d326b64f6a50f4a902051fe71c4acdc92/src/librustdoc/html/render.rs#L2485-L2506) in `src/librustdoc/html/render.rs`. This is where t

[2017-09-29 00:52] QuietMisdreavus commented on #21299
Current status: Thanks to #44713 the exact example in the OP now doesn't break! But we'd like to make a "more complete" fix, likely by using libsyntax to properly parse tests and looking for a parsed function called "main" that way. It's probably not that cumbersome to set up if you can get a Parser rolling, but... i haven't worked with it myself, so i can't mentor that without tinkering on it mys

[2017-09-29 01:00] tschottdorf opened #44912 "Make or (|) patterns work with match default binding modes"
Consider the following example which (at the time of writing, i.e. #44614) fails:

[code]

It's not clear whether the rule that prevents this from compiling is still worthwhile.

@nikomatsakis had this to say:

i.e., I'm pretty sure the old trans code (obviated by MIR now) used to rely on that (that each binding had a single "mode") but...
well, maybe MIR builder does too, who knows
honestly maybe

[2017-09-29 01:03] QuietMisdreavus commented on #42440
Duplicate of https://github.com/rust-lang/rust/issues/25264 (at least my understanding of that issue)

[2017-09-29 01:03] #42440 closed

[2017-09-29 01:08] jethrogb commented on #25264
Because of the coherence rules, impls can only be defined in one place depending on the types they reference. That's the place they should be documented as well.

[2017-09-29 01:09] jethrogb commented on #25264
#42440 was labelled C-bug but this is labelled C-enhancement

[2017-09-29 01:10] QuietMisdreavus commented on #25264
I'll swap the labels, since this is a shortcoming of the generated docs.

[2017-09-29 01:17] QuietMisdreavus commented on #42810
Here's a hunch based on what i've seen around...

The place where `pub extern crate` lines are printed is [this spot in `item_module`](https://github.com/rust-lang/rust/blob/3c96d40d326b64f6a50f4a902051fe71c4acdc92/src/librustdoc/html/render.rs#L2027-L2044). My hunch is that if you call `document(w, cx, myitem)?;` there you'll get the full documentation for that item. This may or may not be a good

[2017-09-29 01:41] QuietMisdreavus commented on #41879
What's the current status of this? Where clauses have had a bit of a touch-up since this issue was posted, so i'd like to make sure what critiques still apply. (The main change that i think is new to this issue is that where clauses are now a bit smaller than the impl they apply to, and also associated types are printed for traits that have them.)

As to the suggestions in the OP:

1. is simple en

[2017-09-29 01:41] vi opened #44914 "`x.py build` fails to find bootstrap if global cargo config has target set"
[code]

Similar to https://github.com/DanielKeep/cargo-script/issues/37

Like in cargo-script, the correct way is probably to set taret explicitly and/or request JSON output from Cargo to find the actual bootstrap executable location.

[2017-09-29 01:51] QuietMisdreavus commented on #41581
Closing as duplicate of https://github.com/rust-lang/rust/issues/24336, since this is just that issue applied to the (very visible example of) libstd. (I left a hint in there, but the implementation details are slightly up to a team decision to make sure we don't couple too tightly to Cargo.)

[2017-09-29 01:51] #41581 closed

[2017-09-29 01:58] QuietMisdreavus commented on #42963
Duplicate of https://github.com/rust-lang/rust/issues/40905 (this has better links though since you had the opportunity to get versioned links `>_>`)

[2017-09-29 01:58] #42963 closed

[2017-09-29 02:01] QuietMisdreavus commented on #39991
Duplicate of https://github.com/rust-lang/rust/issues/25264

[2017-09-29 02:01] #39991 closed

[2017-09-29 02:33] QuietMisdreavus commented on #39550
The issue that's causing this is that `DerefMut` confuses [the check that rustdoc does right here](https://github.com/rust-lang/rust/blob/3c96d40d326b64f6a50f4a902051fe71c4acdc92/src/librustdoc/html/render.rs#L3212-L3223). If DerefMut is implemented, then that allows anything that's not `self: Box<Self>`, where it should also check that it's not a by-value `self` as well. Extending this to add ano

[2017-09-29 02:33] xerofoify commented on #44832
I would like to attempt to fix this if that's cool. I would like to just known if this is a single test or part of the main Rust test suite this bug is hitting.

[2017-09-29 02:52] #39336 closed

[2017-09-29 02:53] QuietMisdreavus commented on #38739
This is the same issue as https://github.com/rust-lang/rust/issues/42760: The code within the `/*!` block does not have the same indentation as the `///` lines before it. Thus, the `unindent-comments` pass does not strip the leading spaces from the first section. Hoedown gets confused when the stuff after the list isn't completely unindented, so it just gloms all that onto the list. To fix that sa

[2017-09-29 03:54] jturner314 opened #44915 "Invalid syntax with nested closures compiles and runs successfully"
This program compiles and runs successfully, but as far as I know is invalid syntax (and `rustfmt` agrees):
[code]
[See this example in the Rust Playground.](https://play.rust-lang.org/?gist=afab38ef90f1271aea18d13e10dedb93&version=stable)

Note the `)` instead of a second `|` in the inner closure (line 7), and the absence of a closing `)` following the inner closure (line 9). I would expect the c

[2017-09-29 04:45] kennytm commented on #44915
It generates an error on nightly. So it should be already fixed.

[code]

[2017-09-29 05:34] jturner314 commented on #44915
I didn't think to check nightly. Thanks.

[2017-09-29 05:34] #44915 closed

[2017-09-29 05:36] Manishearth commented on #44911
Yeah, i saw that issue and figured it probably was something similar, but also this is crashing pretty often so having some built in mitigation (I don't know what) might be interesting.

[2017-09-29 06:46] Zoxc commented on #44844
Do we have a way to regenerate these tests on Windows? Also we need to document how to regenerate the tests somewhere discoverable, perhaps in the output of tests themselves? I'd also prefer just the diff of output be printed. These tests seem quite noisy.

[2017-09-29 07:10] jason-wolfe commented on #44899
I just encountered the same bug using the same library, using `cargo build --release`.

rustc: `rustc 1.22.0-nightly (dd08c3070 2017-09-12)`
toolchain: `nightly-x86_64-unknown-linux-gnu`
OS: `Ubuntu 14.04.5 LTS`
Kernel: `Linux 3.19.0-80-generic x86_64`

Builds fine in debug mode.

[2017-09-29 07:59] diwic commented on #18510
It's a lot to take in if you have not worked on the compiler's internals before. So I'm working on it, but not very fast...

@nikomatsakis Assume the following code:

    fn pan() { panic!("Oh no!"); }
    extern "C" fn middle() { pan(); }

Here's the MIR output for `middle`:

    fn middle() -> () {
        let mut _0: ();                      // return pointer
        let mut _1: ();

        bb

[2017-09-29 09:22] #33961 closed

[2017-09-29 09:35] petrochenkov commented on #44814
@nikomatsakis
I'm on vacation until Oct. 5
I occasionally have access to an old PC, but I'm not sure it will be able to build rustc, I'll try.

[2017-09-29 10:14] jonas-schievink commented on #44899
Can repro on Arch with Rust nightlies from rustup, so not a packaging issue. Only one LLVM bug mentions the message: https://bugs.llvm.org/show_bug.cgi?id=24241

[2017-09-29 10:51] nagisa commented on #44911
What is the distribution of Windows’ versions that experience these failures?

[2017-09-29 10:55] stjepang commented on #41879
FWIW, I'm quite happy with the current situation, except I'd still like to see some spacing between consecutive impls - they are squeezed together a bit too much:

![current nightly](https://i.imgur.com/BGkx8F1.png)

And this is what it looks like if I change `margin-bottom` from `3px` to `10px`:

![my suggestion](https://i.imgur.com/DxtLUAe.png)

But this is just my personal preference in aesthet

[2017-09-29 12:07] dylanmckay commented on #43370
I have kicked off the emscripten upgrade

* Emscripten tracking issue
    * kripken/emscripten-fastcomp#193
* Pull requests
    * kripken/emscripten-fastcomp#199
    * kripken/emscripten-fastcomp-clang#19

Depending on the amount of breakage, I may not have the time to put too much work into fixing the tests in the next week or two. If work goes stale, or even if anybody just feels like it, feel f

[2017-09-29 12:25] nrc commented on #18579
Hmm, given that we have JSON error messages now, I don't think we need to add this stuff to save-analysis too.

[2017-09-29 12:25] #18579 closed

[2017-09-29 13:06] QuietMisdreavus commented on #41879
Here's what i get if i go for `1em` instead:

![image](https://user-images.githubusercontent.com/5217170/31017080-f2a66cde-a4ec-11e7-9041-294c49bd897e.png)

This somewhat matches the spacing between paragraphs and headings farther up the page.

[2017-09-29 13:29] zilbuz commented on #44898
Oh I didn't find these PR. Bootstrapping from a recent local rustc fixed my issue, so I close it :)

[2017-09-29 13:29] #44898 closed

[2017-09-29 15:10] gaurikholkar commented on #42703
@nikomatsakis for now, #44124 handles them all

[2017-09-29 15:21] rkruppe commented on #10184
Re: [the ARM asm](https://godbolt.org/g/s7ronw), I believe the reason `vmax` is not used any more is that [it returns NaN if either operand is NaN](http://infocenter.arm.com/help/index.jsp?topic=/com.arm.doc.dui0489h/CIHDEEBE.html). The code is still branchless, though, it just uses predicated moves (`vmovgt`, referring to to the result of the earlier `vcmp` with 0).

Ohhh, right. Nice.

[2017-09-29 15:23] gaurikholkar commented on #43882
- [ ] Structs
- [ ] Function and Trait Items
- [ ]  Free fns, trait definitions and impls

[2017-09-29 15:23] kennytm opened #44923 "Purely-diverging functions cannot return `impl Trait`."
Originally reported in https://github.com/rust-lang/rust/issues/34511#issuecomment-322340401, separated out to make it easier to track.  #43869 and #44731 are examples caused by this issue.

If a function is purely diverging, any part of the return type cannot contain `impl Trait`, e.g.

[code]

this fails because `!` does not implement `Iterator`. But I think this should be allowed even without t

[2017-09-29 15:25] michaelwoerister opened #44924 "incr.comp.: Update fingerprint-based auto tests for red/green tracking."
The incr. comp. system computes fingerprints (hashes) of various things and then uses these fingerprints to check if something has changed in comparison to the previous compilation session. The test cases in src/test/incremental/hashes test, at a fine-grained level, that various changes in the source code lead to changed fingerprints of various intermediate results.
Before red/green change trackin

[2017-09-29 15:25] gaurikholkar commented on #43877
This has been taken care in #44516

[2017-09-29 15:26] gaurikholkar commented on #43875
Done

[2017-09-29 15:28] gaurikholkar commented on #42706
@nikomatsakis, maybe this needs mentoring?

[2017-09-29 15:32] gaurikholkar commented on #42517
@nikomatsakis, we aren't handling Impls here

[2017-09-29 15:43] kardeiz opened #44925 "return of #39347: feature(proc_macro) breaks attributes on custom derive"
Recent versions of Rust nightly seem to have the exact same issue as initially reported in #39347 (albeit with a slightly different error message: e.g., `error: cannot find attribute macro `belongs_to` in this scope`).

See the recent comment on #39347 by LukasKalbertodt for more details.

I know nothing about Rust's internals, but it seems like the issue is overzealous checking by `proc_macro` in

[2017-09-29 15:49] shayanjm opened #44926 "Rustc doesn't link c++ std lib"
I am currently trying to work with https://github.com/flier/rust-hyperscan. I recently updated cargo via rustup and started noticing that my code breaks when run.

I am currently running MacOS 10.12.6 and rustc 1.20.0

This is a contrived example, mostly from the upstream "rust-hyperscan" project, which includes the output error I'm seeing when I run`cargo clean && cargo test`: https://gist.github

[2017-09-29 16:02] vitiral commented on #44924
Review comments:

- "A given item can is tested by" -> "A given item is tested by"
- "the cfg argument says in which compilation session this assumption should be tested" please add [this link](https://doc.rust-lang.org/reference/attributes.html#conditional-compilation)
- `#[cfg(rpass1)]`: I like the new name. I think it was like "cfail" before? This is MUCH better.

[2017-09-29 16:50] gaurikholkar commented on #44662
@tomhoule are you still working on this?

[2017-09-29 17:03] Manishearth commented on #44911
You can see that in the [crash report](https://crash-stats.mozilla.com/signature/?signature=core%3A%3Aresult%3A%3Aunwrap_failed%3CT%3E%20%7C%20std%3A%3Acollections%3A%3Ahash%3A%3Amap%3A%3A%7B%7Bimpl%7D%7D%3A%3Anew%3A%3AKEYS%3A%3A__init%20%7C%20style%3A%3Aproperties%3A%3Acascade) (I linked to an older one by accident).

<img width="775" alt="image" src="https://user-images.githubusercontent.com/161

[2017-09-29 17:05] Manishearth commented on #44911
It's very likely that these numbers are representative of the actual distribution of Firefox users, since you can expect most Windows 8 users to have upgraded to 10. I don't know the actual numbers though.

[2017-09-29 17:15] malbarbo commented on #44923
@kennytm Do you know where the issue of general diverging functions cannot return `impl Trait` are being tracked?

[2017-09-29 17:17] notriddle commented on #44503
Okay, here's how I did it on https://forum.bors.tech/

1. Go into the Admin / Customize / Themes section, and make a new theme to attach the header to. You're going to make it the forum's default theme when you're done, but you want to test it first.

    The "Admin" button is in the site menu, next to your user menu.

2. Click the Edit CSS/HTML button.

3. Paste this into the "Custom CSS" box:

[

[2017-09-29 17:21] gaurikholkar commented on #44924
Taking up [let_expressions](https://github.com/rust-lang/rust/blob/master/src/test/incremental/hashes/let_expressions.rs) test

[2017-09-29 17:23] kennytm commented on #44923
@malbarbo there’s no problem returning “general diverging functions”, if you mean something like this:

[code]

[2017-09-29 17:29] bluss opened #44927 "Warn more gently on ignored example code"
Source code [(rendered)](https://docs.rs/itertools/0.6.5/itertools/):

[code]

This renders with a warning triangle in the crate's docs. "Be careful when using this code, it's not being tested!"

Can we be more gentle with the warnings? This warning reflects badly on the crate, and we cast doubt on it that is unfounded. Any author that uses `ignore` probably knew why they did so.

In this case the

[2017-09-29 17:33] aturon opened #44928 "Tracking issue for RFC #2094: non-lexical lifetimes"
This is a tracking issue for the RFC "non-lexical lifetimes" (rust-lang/rfcs#2094).

[2017-09-29 17:33] aturon commented on #44928
Work is already underway as part of the impl period; I will let @nikomatsakis adjust the issue description with whatever checklist makes the most sense.

[2017-09-29 17:47] crumblingstatue opened #44929 "Confusing docs: Command::output claims to "capture" stdin"
"capture" makes it sound like the data is stored somewhere for later inspection.  There is no `stdin` field in [process::Output](https://doc.rust-lang.org/nightly/std/process/struct.Output.html).

I did some looking into the implementation, and to me it seems that the child's stdin is simply closed before waiting. @talchas on IRC told me that it's made to be [`Stdio::null()`](https://doc.rust-lang

[2017-09-29 17:49] aturon opened #44930 "Tracking issue for RFC 2137: Support defining C-compatible variadic functions in Rust (c_variadic)"
*[View all comments](https://triagebot.infra.rust-lang.org/gh-comments/rust-lang/rust/issues/44930)*

This is a tracking issue for the RFC "Support defining C-compatible variadic functions in Rust" (rust-lang/rfcs#2137).

**Steps:**

- [x] Implement the RFC (PR https://github.com/rust-lang/rust/pull/57760)
- [ ] Adjust documentation ([see instructions on forge][doc-guide])
  - In particular, ensur

[2017-09-29 17:59] pietroalbini commented on #44494
I'm still working on this. I [mostly updated all of rustc](https://github.com/rust-lang/rust/compare/master...pietroalbini:use-nested-groups) to support the feature, and now I started fixing a few bugs in the code.

[2017-09-29 18:01] malbarbo commented on #44923
@kennytm Yes, I mean that. But I asked because I remembered vaguely some limitations that I had encountered in the past. Looking at my old code, the limitation was not that... sorry. The limitation is this:

[code]

fails to compile with error:

[code]

If we change the type to `impl Clone`, the error changes to:

[code]

It this a know issue? Is this expected?

[2017-09-29 18:09] aturon opened #44931 "Tracking issue for RFC 2141: Add support to Cargo for alternative registries"
This is a tracking issue for the RFC "Add support to Cargo for alternative registries" (rust-lang/rfcs#2141).

**Steps:**

- [x] Implement the `registries` key in `.cargo/config` and Cargo.toml - https://github.com/rust-lang/cargo/pull/4506
- [x] Support login tokens for multiple registries - https://github.com/rust-lang/cargo/pull/4680
- [ ] [Add a command to generate registry index data](https:/

[2017-09-29 18:10] estebank commented on #17539
Current output is same as above, with new style output:

[code]

[2017-09-29 18:14] estebank commented on #43877
Closing as per #44516.

[2017-09-29 18:14] #43877 closed

[2017-09-29 18:15] plietar commented on #44930
I'd like to work on this, I already have some prototype

[2017-09-29 18:18] cpeterso commented on #44911
Windows 7 is overrepresented here. The distribution of Windows versions among Windows Firefox users is about 52% Windows 7 and 36% Windows 10.

https://hardware.metrics.mozilla.com/#goto-os-and-architecture

[2017-09-29 18:19] aturon commented on #44930
Awesome @plietar! It'd probably be good to bring this up in [the "middle-end" compiler working group channel](https://gitter.im/rust-impl-period/WG-compiler-middle), which would also be a good place to get any help you might need.

[2017-09-29 18:21] Manishearth commented on #44911
That somewhat supports the broken DLL theory, you'd probably have more broken DLLs on older systems.

[2017-09-29 19:19] GuillaumeGomez commented on #44927
We'll need to discuss it in the next team meeting.

[2017-09-29 19:41] tomhoule commented on #44662
Yes, I've made some progress and currently working on the parsing part and starting to write tests. I'll work on it more over the week-end and make sure to open a PR  or report back here if it doesn't look doable by monday at the latest :)

[2017-09-29 20:19] darkstalker opened #44933 "overflow during drop-check on a recursive type"
I get a pretty strange error when trying to compile this: ([playground link](https://play.rust-lang.org/?gist=5490697a4e08dd949d7a6abbc58a2bd1&version=stable))
[code]
output:
[code]
If the type isn't used, the program compiles fine. Don't know if the type is actually representable or not, the error is misleading.

[2017-09-29 20:21] michaelwoerister commented on #44924
Thanks @gaurikholkar!

[2017-09-29 20:31] eulerdisk commented on #44924
I did the enum_defs.rs last time, so I can take that one to begin with.

[2017-09-29 20:47] michaelwoerister commented on #44924
@vitiral:

I just changed it to `cfail` because it looks like the tests are using that currently. The `rpass` prefix is possible to and it tells the test runner that compilation and execution of the test file have to succeed. Since we are not interested in execution results here, `cfail` is the more efficient option. Sorry you like `rpass` more `:)`

NodeId and DefId are both predictable in the se

[2017-09-29 20:47] michaelwoerister commented on #44924
Thanks, @eulerdisk!

[2017-09-29 20:49] michaelwoerister commented on #44924
@vitiral

Yes, running `./x.py test --stage 1 src/test/incremental` in the root directory of your compiler clone will run them.

[2017-09-29 20:52] parched commented on #44722
@alexcrichton No not a bug fix, more of a change to something different. All the Arm targets support Thumb, that link is just saying if you're in Thumb state the Thumb2 extensions are available for that target. It's up to the developer to choose whether they want to generate Arm or Thumb code, e.g, with gcc you would use -marm or -mthumb. It's a trade off between a more complete instruction set an

[2017-09-29 20:58] vitiral commented on #44924
@michaelwoerister thanks!

[2017-09-29 21:19] estebank commented on #42112
@nikomatsakis, @GuillaumeGomez, @arielb1, @jonathandturner should we go back to highlighting the part of the code being underlined? If so, should it be highlighted with the same color as the underline, or just use bolding? I can post mentoring instructions if we wish to implement that change.

[2017-09-29 21:34] estebank commented on #23243
Current output points at macro invocation of every syntax error inside of a macro definition:

[code]

[2017-09-29 21:34] #23243 closed

[2017-09-29 22:10] estebank commented on #30128
Possibly related to #26288.

[2017-09-29 22:28] estebank commented on #32354
### Mentoring instructions:

The [duplicated import struct is created in `src/librustc_resolve/lib.rs`](https://github.com/rust-lang/rust/blob/master/src/librustc_resolve/lib.rs#L3652). A new check should be added for _at least_ one of the bindings being an import. If only one of them is an import, do the following on the binding that is an import, if both are, choose one (I'd say `new_binding`):

[2017-09-29 23:20] mattico commented on #44052
Something to remember for merging, need to update the c_int type used in the main() signature: https://github.com/rust-lang/rust/pull/44906#discussion_r141843808

[2017-09-29 23:25] mattico opened #44934 "Support 16-bit `int` in main() signature"
MSP430 and AVR use a 16-bit `c_int`, so the signature of `main` should be updated for those platforms. See https://github.com/rust-lang/rust/pull/44906

[2017-09-29 23:43] shepmaster commented on #44052
@mattico Maybe I've just been doing things in a weird way, but [none of my code has made use of Rust's `main`](https://github.com/shepmaster/rust-arduino-blink-led-no-core-with-cargo/blob/75ddae7ade0485725b0867f44fc5adfbd86cd3c7/blink/src/main.rs#L83-L84):

[code]

More importantly, we can't really return because there's nothing to return *to*.  Every program needs to run forever.

[2017-09-29 23:53] sfackler commented on #44933
How is it misleading? `Stuff::<i32>::Nested` contains a `Stuff<Stuff<i32>>`, which contains a `Stuff<Stuff<Stuff<i32>>>`, which contains a....

[2017-09-30 00:06] est31 commented on #44927
cc https://github.com/rust-lang/rust/pull/44397 . I was totally okay with the previous behaviour and don't really like the new one either.

[2017-09-30 00:54] dylanmckay commented on #44052
@mcarton We will still definitely have to modify libc so the types match GCC for AVR

[2017-09-30 01:09] shepmaster commented on #44052
Oh, absolutely, I just don't know that `main` will impact us at all.

[2017-09-30 01:19] mattico commented on #44052
@shepmaster Even on non-embedded platforms, the size of `argc` in main doesn't matter given that we've had it wrong all this time and nobody has noticed except when inspecting the IR. There may be some RTOS that uses a standard main() entrypoint for its processes? Regardless, it's easy enough to fix.

It probably would've taken the same amount of time to submit a fix as it did to type this out, no

[2017-09-30 01:33] estebank commented on #33941
Current output:

[code]

---

There are two problems here that can be tackled independently:

1) The duplicated E0271 type mismatch errors can be fixed by [modifying `report_projection_error` to _not_ emit the diagnostic immediately](https://github.com/rust-lang/rust/blob/master/src/librustc/traits/error_reporting.rs#L222-L228), but rather [to modify InferCtxt](https://github.com/rust-lang/rust/bl

[2017-09-30 01:42] estebank commented on #34905
Re: #21934, #43354 & #40186.

[2017-09-30 01:47] estebank commented on #35241
non-fn-like structs have better output, we should perform the same for fn-like structs:

[code]

[2017-09-30 02:10] sportzer opened #44937 "Implement From<T> for Wrapping<T> and From<Wrapping<T>> for T"
It would be nice if `std::num::Wrapping` supported `From<T>` and `Into<T>`, at least when `T` is a numeric primitive. I assumed these impls would exist and was surprised to find that they do not.

[2017-09-30 02:42] Ketsuban commented on #44937
It doesn't explicitly list `From`, but I suspect this is at least spiritually a duplicate of #32463.

[2017-09-30 05:22] dumindu opened #44938 "File Not Found : Meaningful error messages to identify exact issue"
# Folder structure

[code]

# main.rs

[code]

# Error

[code]

# Expected error message

No such file in `<absolute path>`

[2017-09-30 05:43] abonander commented on #44938
This could be expanded to other error messages as well. This will probably need to be done separately for each platform.

[2017-09-30 06:12] XiangQingW opened #44939 "rust can not correctly inference type"
[code]

It can not compile and the error as follow:

[code]
I am confused about why rust can not correctly inference the type in this case. ::)

[2017-09-30 07:27] estebank commented on #35241
### Mentoring instructions:

In [`note_type_err`](https://github.com/rust-lang/rust/blob/b7041bfab3a83702a8026fb7a18d8ea7d54cc648/src/librustc/infer/error_reporting/mod.rs#L669-L674), check wether `values` can be decomposed into `Some(ValuePairs::Types(exp_found)`. If it can, check wether `exp_found.found` is a [`TypeVariant::TyFnPtr(_)`](https://github.com/rust-lang/rust/blob/b7041bfab3a83702a802

[2017-09-30 07:51] bes1002t commented on #44787
You're totally right, it was the wrong directory. Anyway, I added the new directory to my PATH, so which gcc and which ld shows the exact path to this directory. After a reboot the build still fails with this error message:

[2017-09-30 08:08] alexcrichton opened #44941 "32 codegen units may not always be better at -O0"
Continuing discussion from https://github.com/rust-lang/rust/pull/44853#issuecomment-332248240

[2017-09-30 08:12] alexcrichton commented on #44941
@mersinvald unfortunately the [perf files you mentioned](https://github.com/rust-lang/rust/pull/44853#issuecomment-333011100) I can't read locally, and the `perf diff` output isn't as illuminating as I hoped it would be.

I wonder, could you try investigating if one crate in particular takes much longer? Maybe take some of the crates that take longest to compile (sorting the rlibs by size is typic

[2017-09-30 08:16] alexcrichton commented on #44722
@parched I think you may be misunderstanding the change here? This was just a change for specifically the armv7 Android target (no other armv7 target). The actual definition for armv7 Android (not other armv7 targets, just Android) defines thumb/thumb2 available for use, so this was just a bugfix to actually use it.

[2017-09-30 08:17] GuillaumeGomez commented on #42112
Well, I like how it is right now. :-/

[2017-09-30 08:19] GuillaumeGomez commented on #44844
cc @pnkfelix @nikomatsakis (I precise again I'm against this change.)

[2017-09-30 08:37] Menschenkindlein commented on #43871
I implemented [`lookup_enum_variants`](https://github.com/Menschenkindlein/rust/commit/eb8a9c65f2fc7a1e5142c3590cfb4b944384a958#diff-aeb0880081a991f34aef2ab889e1fb7aR3476). It is mostly a copy of `lookup_import_candidates`. It looks like it works:
[code]
However, I don't like both the reuse (misuse) of `ImportSuggestion`, and all that code duplication. Could you, please, suggest, where to move fur

[2017-09-30 09:34] crumblingstatue commented on #44941
I tested compiling [regex](https://github.com/rust-lang/regex) with different number of codegen units on my 2 core Pentium E2200.
Here are the results:
[code]

It gets a decent win with the number of codegen units equal the number of cores, but gets increasingly slower with more than that.

[2017-09-30 10:01] pnkfelix commented on #44844
I think the compiler team should discuss: 1. whether we want to go in this direction, and 2. if we do want to go in this direction, what prerequisites need to be met (e.g., consider @petrochenkov 's [comment](https://github.com/rust-lang/rust/issues/44844#issuecomment-332141949) that we should implement and enable checking of `//~ ERROR message` in UI tests before mass-converting).

[2017-09-30 10:14] dumindu commented on #44938
[code]
gives
error: couldn't read src/not_existing_file.txt: No such file or directory (os error 2).
At least it gives the root directory

[2017-09-30 10:29] petrochenkov commented on #44865
Tagging this as a library issue.

The solution (if it happens on our side) is to add a module `core::primitives` or `core::builtins` (and reexport it from `std` as well).

In the meantime Diesel can privately define such a module itself and use it when unintended shadowing can happen.

It doesn't make much sense to put primitive types into the std prelude because they are already in a prelude actu

[2017-09-30 10:52] petrochenkov commented on #44869
This is an exact duplicate of https://github.com/rust-lang/rust/issues/44814

[2017-09-30 10:52] #44869 closed

[2017-09-30 11:27] KasMA1990 commented on #44938
[Here](https://internals.rust-lang.org/t/add-filename-information-to-io-error/5120/12) is some prior discussion of the same issue :)

[2017-09-30 11:47] ssokolow commented on #44938
I'd prefer if, rather than "No such file on `<absolute path>`", it left the message unaltered and appended something like "(With working directory `<absolute path`)" to the end.

That way, it doesn't disadvantage situations where the greppability of the error string or the requested path are significant to how easy it is to debug.

[2017-09-30 11:57] Thiez commented on #44939
This is not a bug. Functions have a unique unnameable type that sort-of subtypes a function pointer (well, at least it can be implicitly coerced to one). E.g. if you have `fn foo(u8) -> u8 { ... }` and `fn bar(u8) -> u8 { ... }` then these functions don't have the same type. But you can cast both of them to `fn(u8) -> u8`.

You can easily see this in action:

[code]

This gives the error:

[code]

[2017-09-30 11:57] steveklabnik commented on #44926
This doesn't feel like a `rustc` bug to me, or at least, there's too much going on here to really determine it. As such, I would suggest posting to https://users.rust-lang.org/, which is better for these kinds of questions. We try to keep the issue tracker for bugs only.

 If you can reduce this to a small example demonstrating that it's a `rustc` bug, then we can re-open, but until then, I'm goin

[2017-09-30 11:57] #44926 closed

[2017-09-30 13:04] thombles commented on #44339
I've replaced parse_seq_to_before_end with my own function. It turns out it is only responsible for the first emit(), so my HashSet isn't doing any good. Not sure where the second one is coming from yet but I'll track it down.

[2017-09-30 13:08] jgouly opened #44946 "ICE: After undeclared module error"
This short code produces an ICE after correctly reporting an error:

    const A: usize = C::D::<u32>();

No special options needed:

    $ rustc 44946.rs

Rust version:

    $ rustc --version --verbose
    rustc 1.22.0-nightly (1ed7d41d8 2017-09-24)
    binary: rustc
    commit-hash: 1ed7d41d8849d930f0622eaf54049f66fff0ca2a
    commit-date: 2017-09-24
    host: x86_64-unknown-linux-gnu
    releas

[2017-09-30 13:12] petrochenkov commented on #44946
Very similar to https://github.com/rust-lang/rust/issues/44858, fixed in https://github.com/rust-lang/rust/pull/44945

[2017-09-30 13:15] jgouly commented on #44946
Thanks @petrochenkov!

[2017-09-30 13:31] #44214 closed

[2017-09-30 15:30] mdevlamynck commented on #44721
@nikomatsakis I have some time this weekend to hack on this some more. I found the code in [librustc_typeck::astconv::ast_ty_to_ty()](https://github.com/rust-lang/rust/blob/c4cca3a72df87def5cb18ff500c643fbff8ad08e/src/librustc_typeck/astconv.rs#L1045) raising an error if `impl Trait` is used as something else than a return type.

Do you think the conversion should be handled here?

[2017-09-30 15:38] retep998 commented on #44787
Because I can't reproduce this locally, and the error gives very little information, would you be willing to use `procmon` (Process Monitor) to trace all syscalls while you attempt to compile a hello world and then send me the PML logfile?

[2017-09-30 15:51] wesleywiser commented on #44891
I'm working on the first part of creating a query for `trans_fulfill_obligation`. I've added a query which returns a Vtable because that's what `trans_fulfill_obligation` returns but now I'm getting this error:

[code]

(Full error [here](https://gist.github.com/wesleywiser/383396d666276cf7bd467d73690e1c8f))
I understand that this means that `Vtable` doesn't implement `HashStable` and I'll need to

[2017-09-30 15:57] steveklabnik commented on #17386
A change of this magnitude, these days, requires an RFC. We have two competing ones open right now: https://github.com/rust-lang/rfcs/pull/2091 and https://github.com/rust-lang/rfcs/pull/2154

I'm going to close this in favor of those.

[2017-09-30 15:57] #17386 closed

[2017-09-30 15:59] steveklabnik commented on #20541
Triage: same as in 2016.

[2017-09-30 16:00] steveklabnik commented on #30974
Triage: I'm not aware of any changes here, but this isn't my area of specialty either.

[2017-09-30 16:00] steveklabnik commented on #30977
Triage: I'm not aware of any changes here, but it's not my area of specialty either.

[2017-09-30 16:01] steveklabnik commented on #31509
Big changes like this generally require RFCs; please pursue one if you still want this to be implemented!

[2017-09-30 16:01] #31509 closed

[2017-09-30 16:02] steveklabnik commented on #16593
Triage: same as in 2016

[2017-09-30 16:02] steveklabnik commented on #15618
Triage: same as in 2016

[2017-09-30 16:03] steveklabnik commented on #7539
Triage: not aware of any changes here.

[2017-09-30 16:03] steveklabnik commented on #30785
Triage: no change.

[2017-09-30 16:04] steveklabnik commented on #25574
Triage: as far as I know, const evaluation is still undergoing an overhaul, I don't know if it's far enough along to work on this yet.

[2017-09-30 16:04] steveklabnik commented on #21072
Triage: same as in 2016

[2017-09-30 16:05] steveklabnik commented on #32966
Triage: not aware of any movement on this issue.

[2017-09-30 16:07] steveklabnik commented on #22501
Triage: it seems this issue has mutated since the original issue, is it still relevant? I know that the idea, long ago, was that type ascription could replace suffixes in general, but that never came to fruition.

[2017-09-30 16:08] steveklabnik commented on #32352
Triage: no change

[2017-09-30 16:08] steveklabnik commented on #35310
Triage: I'm not aware of any changes here.

[2017-09-30 16:09] steveklabnik commented on #29623
Triage: FIXMEs are still there, so I assume this is still an issue.

[2017-09-30 16:10] steveklabnik commented on #23366
Triage: not aware of any work on this issue.

[2017-09-30 16:10] steveklabnik commented on #12182
Triage: not aware of any changes

[2017-09-30 16:13] steveklabnik commented on #20841
Triage: not aware of any movement on this issue

[2017-09-30 16:14] steveklabnik commented on #26085
Triage: not aware of any changes here

[2017-09-30 16:14] lucasem opened #44947 "broken links in docs for String"
All `String` methods which come from the borrowed `&str` have broken links. e.g. `char` in [`std::string::String::chars`](https://doc.rust-lang.org/std/string/struct.String.html#method.chars) (which is basically `std::str::chars`).

I'd fix it myself, but I'm not sure what the approach should be so that both docs pages, for `String` and for the primitive `str`, would work. Maybe there's a planned

[2017-09-30 16:16] steveklabnik commented on #21203
Triage: @nikomatsakis 's sample compiles, but if you try to use it, can never work. Aka, this is still an issue, as far as I can tell.

[2017-09-30 16:41] steveklabnik commented on #44947
This is a duplicate of https://github.com/rust-lang/rust/issues/32130; thank you for filing! It's a tricky bug, and we're not 100% sure how to solve it yet. https://github.com/rust-lang/rfcs/blob/master/text/1946-intra-rustdoc-links.md will *probably* fix it, we'll see!

[2017-09-30 16:41] #44947 closed

[2017-09-30 17:30] gaurikholkar commented on #44924
@michaelwoerister left a comment in the gitter chat group. Thanks

[2017-09-30 17:50] retep998 commented on #44941
Testing with winapi 0.3

| codegen-units | Time |
|-|-|
| 1 | 15.17 |
| 2 | 14.63 |
| 4 | 15.18 |
| 8 | 15.44 |
| 16 | 14.68 |
| 32 | 14.89 |
| 64 | 15.22 |
| 128 | 15.22 |
| 256 | 15.92 |
| 512 | 17.34 |
| 1024 | 20.24 |
| 2048 | 27.12 |
| 4096 | 40.74 |
| 8192 | 69.23 |

[2017-09-30 18:41] gaurikholkar commented on #44752
Is this up for grabs?

[2017-09-30 19:37] bstrie opened #44948 "LLVM: Memcpy-memcpy dependence isn't detected across basic blocks"
Last year, pcwalton submitted an LLVM patch that eliminates 30% of the memcpys in rustc: https://reviews.llvm.org/D23470 , which stagnated during review.

This year someone (whose Github nick I don't know) has revived the patch, which is still under review and whose likelihood of being merged is unclear to me: https://reviews.llvm.org/D38374

The purpose of this bug is to remind us that this patch

[2017-09-30 19:38] pcwalton commented on #44948
Just for the record: Someone should redo the analysis to see how many memcpys are removed. Lots has changed in rustc and LLVM since that patch was submitted. I am not sure it's still valid.

[2017-09-30 20:43] uzytkownik opened #44950 "It's often not possible to implement ToOwned for user composite types"
`&str` and `&[u8]` seems to work by internal magic but it is hard to implement `ToOwned` for user composite types. Consider:

[code]

It is not possible to mark that `FooBuf` is an owned version of `Foo` as it would require implementing `Borrow` for `FooBuf`. However it is not possible to implement `fn borrow(&FooBuf) -> &Foo` as we don't have anywhere we can store `Foo`. Built-in types workaround

[2017-09-30 22:23] vitiral commented on #44924
@michaelwoerister I'll start off with `struct_defs.rs`

[2017-10-01 00:36] alex commented on #43592
FWIW, I just hit a crash on macOS that appears to possibly be this.

[2017-10-01 00:59] estebank commented on #43871
Great work, @Menschenkindlein! The code seems good to me. I would probably create a new method being called by the `lookup_*` methods that holds the related code and accepts a `fn` to operate over the set. If I had some extra time, I would also rework it so that it was an iterator, but that might be more effort than is worth, but feel free to attempt it if you want :)

As per the `ImportSuggestion

[2017-10-01 01:01] estebank commented on #44339
I see. Let me know if you need any help tracking it down.

[2017-10-01 01:28] joshlf opened #44952 "ICE: unexpected panic in librustc/ty/mod.rs"
## Source
[lib.rs](https://gist.github.com/joshlf/d5ebb370ccdfc8a8af39923b5a788970)

## Compiler output

[code]

[2017-10-01 01:42] arthurcolle commented on #43789
this still happens on a 2GB DigitalOcean "droplet" when trying to install parity (https://github.com/paritytech/parity)

[2017-10-01 03:01] XiangQingW commented on #44939
Thanksss @Thiez

[2017-10-01 03:59] #44939 closed

[2017-10-01 04:49] andrewtj commented on #44439
I noticed that I didn't explicitly say that this does work on 1.18 stable (for whatever it's worth). Any advice would be appreciated.

[2017-10-01 06:28] JakubAdamWieczorek opened #44953 "The “use of unstable library feature 'rustc_private'” error is very repetitive"
`rustc 1.22.0-nightly (0e6f4cf51 2017-09-27)`

Compiling this:
[code]

while not including `log` as a dependency in `Cargo.toml`, produces the following output:
[code]

[2017-10-01 08:08] tomhoule commented on #44662
@gaurikholkar It doesn't look like I'll be able to finish this today, and I won't have free time before next week-end so you or someone else should feel free to take the issue. Sorry for delaying this feature :/

[2017-10-01 09:19] bluss commented on #44729
Feel free to find me on irc or here

[2017-10-01 11:46] steveklabnik opened #44954 "Off-by-one in println! diagnostic"
This program:

[code]

Gives this error:

[code]

Both things having 1 here is confusing, it'd be nicer if we didn't compare a zero-indexed and a one-indexed number.

Additionally, a note could make this easier to understand overall too.

[2017-10-01 12:04] brainlessdeveloper commented on #29586
Could anybody point me to a place where I can write tests for this?

[2017-10-01 12:21] matklad commented on #44931
I think PR is already in flight: https://github.com/rust-lang/cargo/pull/4506

[2017-10-01 12:31] oyvindln commented on #44941
There is a pretty noticable change in compile times on [perf.rust-lang.org](https://perf.rust-lang.org/compare.html?commit_a=0253d98382fa351d53880605a346d0ea2e941a07&commit_b=d514263ce3b136775f6e8ec4b94cc1073d16c892&stat=instructions%3Au) with the commit that changed the default number as well.

[2017-10-01 12:40] glaebhoerl commented on #44660
One thing that's occurred to me, with apologies if it's been brought up before in one of the discussions (I don't recall having seen it in the last couple):

In the latest proposal, we have `crate::` to refer to "in this crate" and `self::` to refer to "in this module". This is slightly inconsistent and potentially less clear than it could be: for one thing, where `self` refers to "this", it's not

[2017-10-01 12:52] mister-walter commented on #44729
I'm really sorry about that, I got super caught up in work and this fell by
the wayside...

Matt, feel free to take this up!

On Oct 1, 2017 5:00 PM, "Matt" <notifications@github.com> wrote:

[2017-10-01 13:54] arielb1 commented on #44952
Minified:
[code]

[2017-10-01 13:55] Boscop opened #44956 "Rustc nightly 2017-09-19 crashes because of impl Iterator with reference Item"
[code]
[code]

(When I remove the '&' from Item, it gives the error "expected reference".)

[2017-10-01 14:00] Boscop commented on #44956
Playground example:
https://play.rust-lang.org/?gist=5a1a96a22fcfd2b042ea25246a390a6e&version=nightly

[2017-10-01 14:26] lwe opened #44957 "ICE on nightly: src/librustc_typeck/check/mod.rs:2015: no type for node"
When trying to use modules (while learning rust at RustBridge, thanks for RustFest/RöstiFest ZH), I run into an internal compiler error that used Hmac + SHA256, when placing the `use` statements in the wrong place.

I tried this code:

[code]

### I expected to see this happen:

[code]

### Instead, this happened:

[code]

### Meta

[code]

[2017-10-01 14:29] lwe commented on #44957
This could be a duplicate of #44820

[2017-10-01 14:50] arielb1 commented on #44874
@cuviper

This is still pending lang team decisions (I hope there will be at least 1 RFC) but I think it will only be allowed for trait method impls.

[2017-10-01 14:51] arielb1 commented on #44874
@porky11

You can't implement anything for `Rc<YourType>` from a crate that does not own the trait.

[2017-10-01 15:09] Michael-F-Bryan opened #44958 "Rustdoc doesn't work with conservative_impl_trait while compiler does"
I'm using the `conservative_impl_trait` feature to elide some otherwise gnarly return types in my program. It can compile fine, but then when I try to generate documentation, rustdoc errors saying it can't figure out the return type and type annotations are required.

Wouldn't `cargo` and `rustdoc` both use the same `rustc` under the hood? I don't see why the compiler would be able to figure out t

[2017-10-01 15:49] rkruppe commented on #44958
Looks like #44731

cc @kennytm

[2017-10-01 15:53] kennytm commented on #44958
Yes duplicate of #44731.

Should be fixed in #44860.

[2017-10-01 16:10] mattico commented on #44934
Fixed in #44906

[2017-10-01 16:10] #44934 closed

[2017-10-01 16:11] #44814 closed

[2017-10-01 16:11] #44858 closed

[2017-10-01 16:11] #44946 closed

[2017-10-01 16:32] petrochenkov commented on #44957
Should be fixed in https://github.com/rust-lang/rust/pull/44945

[2017-10-01 16:32] #44957 closed

[2017-10-01 16:32] petrochenkov commented on #44820
Should be fixed in https://github.com/rust-lang/rust/pull/44945

[2017-10-01 16:32] #44820 closed

[2017-10-01 16:39] #44958 closed

[2017-10-01 17:54] avl commented on #44863
I've seen the exact same problem, going by the stack trace at least.

I don't know what I might have done to trigger it. Solved by cargo clean + cargo build.

[2017-10-01 17:55] uzytkownik opened #44961 "Lifetime of dependent type cannot depend on the function"
(This might be partially related to issue #44950)

Currently dependent types lifetime must not depend on the lifetime of the iterator. This is problematic when the method of iteration might alter the structure but copy is expensive or impossible (I run into this while binding C API but this affects also database cursors etc.).

Here's an example of code which shows the issue (`[u8; 4096]` is just

[2017-10-01 19:01] shepmaster commented on #38831
Yes, please!

[2017-10-01 19:15] bluss commented on #44729
Oh nice, the new versions are side-effect compatible as well right? self.next() and other.next() are called exactly as many times as before.

[2017-10-01 21:09] sfackler commented on #44961
You may be interested in https://docs.rs/streaming-iterator/0.1.2/streaming_iterator/.

This kind of thing is fundamentally incompatible with `Iterator` itself.

[2017-10-01 21:13] CherryMan opened #44964 "Add vi movement keys for navigating rust documentation"

[2017-10-01 22:11] est31 commented on #44964
It will help the vim fans and it would confuse everyone else.

[2017-10-01 22:22] Javyre commented on #44964
GitHub has some vi inspired shortcuts and I don't see people complaining or being confused.

https://help.github.com/articles/using-keyboard-shortcuts/

[2017-10-01 22:30] estebank commented on #29586
@brainlessdeveloper the tests are all in [`src/test`](https://github.com/rust-lang/rust/tree/master/src/test), you'll want to add new [`ui` tests](https://github.com/rust-lang/rust/tree/master/src/test/ui/token) file. Once you've written a test file that will be compiled, you run `./x.py test src/test/ui --stage 1`. This *will fail* as there's no `.stderr` file for your test to compare against. Af

[2017-10-01 22:31] Javyre commented on #44964
Another example: Godoc.org
![image](https://user-images.githubusercontent.com/16735363/31059884-ac3da532-a6d6-11e7-8147-40335c8ae01d.png)

[2017-10-01 23:14] Techcable commented on #44452
I know that [`cold` calls are never inlined by llvm](https://llvm.org/docs/LangRef.html#calling-conventions), but they [just have a lower threshold in the MIR inliner](https://llvm.org/docs/LangRef.html#calling-conventions). Is the MIR inliner the reason why it's conventional in the rust stdlib to mark functions as both `cold` and `inline(never)` when `cold` implicitly prevents inlining in LLVM? W

[2017-10-01 23:26] rkruppe commented on #44452
@Techcable MIR inlining is not currently enabled by default, and LLVM *does* inline `coldcc` functions ([source](https://github.com/llvm-mirror/llvm/blob/master/lib/Analysis/InlineCost.cpp#L1552-L1555)). Also note that `#[cold]` translates to the `cold` *attribute*, not the `coldcc` calling convention, though that doesn't prevent inlining either.

[2017-10-02 00:49] zackmdavis commented on #44815
This is happening [inside LLVM](https://github.com/llvm-mirror/llvm/blob/dfd2a391d044/lib/MC/SubtargetFeature.cpp#L171-L172) and plausibly should be [filed with that project](https://bugs.llvm.org/).

[2017-10-02 01:01] rkruppe commented on #44815
`crt-static` is not passed to LLVM (and shouldn't be). It seems as if rustc consumes not just `crt-static` but also other target features that have it as a prefix? This filtering looks suspicious:

https://github.com/rust-lang/rust/blob/ded38dbfc258f8e253ab61d1bca08b21efa2bf3d/src/librustc_trans/back/write.rs#L119-L121

[2017-10-02 01:35] zackmdavis opened #44968 "UI test expectation path normalization not working on Windows in all cases?"
From [discussion on PR #44942](https://github.com/rust-lang/rust/pull/44942#issuecomment-333414098), a UI test exercising the JSON error format failed on the Appveyor Windows build (while the Unix-like tests passed) but it looks like the only part of the output that differs is the value of `"file_name"`:

[code]

[2017-10-02 02:01] oconnor663 commented on #43592
I just put up a PR with a possible workaround, similar to the `glibc_version` example above. There's a _very_ good chance I did something wrong, so @jonhoo please let me know what you think.

[2017-10-02 02:31] QuietMisdreavus commented on #25264
I've opened https://github.com/rust-lang/rust/pull/44969 to fix this.

[2017-10-02 05:52] estebank commented on #41834
In order to avoid multiple errors after finding this comma, as it happens now, the comma has to be specifically _accepted_ and a diagnostic generated for this case in particular, along the lines of

[code]

The method `libsyntax/parse/parser.rs:Parser::parse_struct_expr` needs to be modified to accept expressions that end in a comma, but generate and emit a diagnostic error. You might need to modi

[2017-10-02 06:30] jgraham commented on #44911
We started to see a similar error recently in geckodriver tests [1]. That seems to be on Linux 64, so it's possible that this is a different root cause to the Windows bug.

[1] https://bugzilla.mozilla.org/show_bug.cgi?id=1404647

[2017-10-02 07:03] #36284 closed

[2017-10-02 07:16] tmccombs opened #44971 "Tracking issue for std::process::id"
The standard library provides a way to get the process id of a child process with `std::process::Child::id()`, but doesn't have any way to get the current processes id (the equivalent of `getpid`).

It is possible to do this with `libc::getpid`, but it seems to me that this should be something that is part of the standard library, especially since it already has cross-platform support for process

[2017-10-02 07:44] parched commented on #44722
@alexcrichton I think I see what you're saying, `armv7-linux-androideabi` was the only target that explicitly had `+thumb2` and the intentional all along was for it to generate Thumb code. The `+thumb2` is actually redundant as that is a default feature for all `armv7*` targets. My question is then, why this target should generate Thumb code but none of the other `arm*` targets should?

[2017-10-02 09:19] bluss commented on #44705
More rfold impls in #44856

[2017-10-02 09:23] michaelwoerister commented on #44891
Copying from gitter to make sure you see it:

The implementation will probably end up looking something like https://github.com/rust-lang/rust/blob/master/src/librustc/ich/impls_ty.rs#L206

[2017-10-02 09:48] durka commented on #41517
I'd like to take a crack at this (starting with parsing).

[2017-10-02 10:06] #42892 closed

[2017-10-02 10:07] bluss commented on #44950
There's sort of a design for an extension of the "Borrow" mechanism for hash tables here: https://github.com/bluss/ordermap/pull/10 (not in any packaged version yet). It's backwards compatible modulo type inference regressions.. :-/

The new trait allows this kind of key equivalence of Foo and FooBuf.

[2017-10-02 10:30] pnkfelix commented on #44832
@xerofoify asked:

You cannot assign `vec` (which is a `Vec` holding some integer type) into a variable of type `&[isize]`. A vector is not a reference. You can see this for yourself by cut-and-pasting the code into the playpen and then making the change you suggest: [playpen](https://play.rust-lang.org/?gist=8a69b22b89a25c88a789ef93b2714894&version=nightly).

You *can* assign a `&Vec<isize>` into

[2017-10-02 10:40] pnkfelix commented on #44832
@xerofoify there may be easier issues to start in on if this is your first foray into hacking on the borrow checking code.

In particular, a narrow test failure like this one where mir-borrowck isn't handling FRU correctly https://github.com/rust-lang/rust/issues/44833 might be a good initial bug.

Having said that, I'm happy to advise on any bug you want to dive in on. Feel free to join us in the

[2017-10-02 10:56] iainnicol commented on #18510
Would it be possible to opt out of the abort generation? Perhaps by tagging the function with the existing #[unwind] attribute?

My use case is that I would like to be able to catch Rust panics from the C/C++ side. This is for writing a standard library for a toy language. I realise such unwinding is undefined and hence there are no guarantees. But it would still be useful, at my own risk.

[2017-10-02 11:04] leonardo-m opened #44973 "Some missing type inference in last nightly"
The latest Nightly (rustc 1.22.0-nightly f1b5225e8 2017-10-01, Gnu64) doesn't perform type inference in many cases, an example:

[code]

Gives:

[code]

I have seen several other cases of missed type inference in this Nightly, with sum() and product() in code that compiles every day since months.

The Beta and the Nightly of one or two days before doesn't show this problem.

[2017-10-02 11:34] pnkfelix commented on #44828
I am going to focus on this bug.

[2017-10-02 11:43] pnkfelix opened #44974 "MIR-borrowck: print named fields with `.name` rather than `.<num>`"
The MIR-borrowck printing of Lvalues visible to end-users prints accesses to a named struct/enum field with a description like `obj.3` instead of `obj.field`.

This needs to be fixed before MIR-borrowck is usable in real-world.

(And fixing it sooner would probably make developing MIR-borrowck a bit more enjoyable.)

[2017-10-02 11:44] pnkfelix commented on #44974
@zilbuz tells me that they are working on this.

[2017-10-02 11:52] sipsorcery commented on #17684
I've done a cursory check of TLS with 64 bit binaries compiled with msvc and mingw32-g++ and both are working correctly.

[code]

msvc output:

Rage counter for a: 2
Rage counter for b: 2
Rage counter for main: 1

mingw32-g++ output:
f:\Temp>tls_mingw.exe
Rage counter for main: 1
Rage counter for a: 2
Rage counter for b: 2

64 bit binaries on Windows use ASLR by default unless explicitly disabled

[2017-10-02 11:52] durka opened #44975 "macros sometimes allow expr followed by ident"
You can use a repetition to get around the future proofer.

[code]

I feel that both of these should be accepted, or neither. BTW, I am using the equivalent of `sneaky!` in brainmunch (found this while preparing my RustFest talk).

Fixing this by disallowing both macros would require cratering.

cc @jseyfried @LeoTestard

[2017-10-02 12:13] tromey commented on #44412
Both `readelf` (from GNU binutils) and `eu-readelf` (from elfutils) have no trouble with this file.  I wonder if this is a `dwarfdump` bug rather than a Rust bug.  (I tried building `dwarfdump` from source here, but that build doesn't recognize the file type, dunno what's going on there.)

[2017-10-02 12:19] vinipsmaker commented on #36284
Thanks.

[2017-10-02 13:02] arielb1 commented on #44874
So changes needed:
 - remove the current error message for *trait methods only*, but still have a feature gate.
 - make sure `fn(self: Rc<Self>)` doesn't accidentally become object-safe
 - make sure method dispatch woks for `Rc<Self>` methods
 - add tests

[2017-10-02 13:04] SimonSapin commented on #44874
I’ll look into this.

[2017-10-02 13:04] steveklabnik commented on #44964
Nominating to talk about this at a future doc meeting.

[2017-10-02 13:14] Maaarcocr commented on #44891
I would like to work on turning `normalize_associated_type()` to a query!

[2017-10-02 13:16] arielb1 commented on #44874
Note that this is only supported to work with *trait methods*, aka
[code]

and is **NOT** supposed to work for inherent impl methods:
[code]

[2017-10-02 13:45] GuillaumeGomez commented on #44964
... Why not? ... (I'm super doubtful about the usefulness of this feature but I like useless things so why not haha.)

[2017-10-02 13:53] illicitonion opened #44976 "Type-checker cannot infer type if it passes through some traits with associated types"
See repro at https://github.com/illicitonion/repro-rustfuturetypeinference

For a trait type with two type parameters, if one arm of a match leaves one of the type parameters unbound, I need to explicitly cast its value to bind the type parameter to match that of the other arms.

I expect that the type-checker should be able to properly infer this type (at least for simple cases).

[2017-10-02 13:54] myfreeweb commented on #44433
Noticed this on 12-CURRENT, compilers from rustup always lock up when compiling `libloading`, but it succeeds after a couple tries. It's always `libloading`!

[2017-10-02 14:00] steveklabnik commented on #44927
So, this is [one of the longest-standing requests for rustdoc](https://github.com/rust-lang/rust/issues/20524), and we get issues about it all the time. People expect to be able to run examples, and so if the example doesn't run, we should tell them in some fashion.

Is there some way we can address both concerns here?

[2017-10-02 14:01] paulmenzel commented on #43545
Has there been any progress regarding this issue? Installing Rust 1.19.0 from source fails here too.

[code]

[2017-10-02 14:05] petrochenkov commented on #40844
I'll close this since it works as expected with current rules.
See https://github.com/rust-lang/rfcs/pull/2145 for the proposed solution.

[2017-10-02 14:05] #40844 closed

[2017-10-02 14:07] #44952 closed

[2017-10-02 14:11] petrochenkov commented on #43431
Current output:
[code]

I'm closing this because the ICE is fixed and supporting type bindings in value paths (`let x = Trait<AssocTy = u8>::method();`) is a separate problem, please open a new lang-team issue if you are interested in supporting it.

[2017-10-02 14:11] #43431 closed

[2017-10-02 14:11] myfreeweb commented on #42681
Here's a fun thing. @johalun's amazing method of patching `old_fstat.c` into an already installed (rustup) std lib messes with…

Mesa OpenGL driver loading. Running `glutin` or `webrender` examples compiled with an unpatched compiler, my GPU driver loads fine. With a patched compiler:

[code]

And no, `MESA_LOADER_DRIVER_OVERRIDE=radeonsi` doesn't help — if it loads the right driver via manual ove

[2017-10-02 14:45] bluss commented on #44927
I guess it's just an issue of how to formulate it.

Something more matter of fact would be good like "This example is not tested automatically." Warning triangle can stay?

[2017-10-02 15:21] 3Hren commented on #44422
Sorces are there: https://github.com/3Hren/cocaine-http-proxy

`cargo build --release && ./target/release/cocaine-http-proxy --config=config.yaml`. Crashes immediately.

[2017-10-02 15:25] 3Hren commented on #44422
Valgrind reports:

[code]

[2017-10-02 15:27] retep998 commented on #17684
@sipsorcery The key thing is `#[thread_local]` statics in *Rust*. The NX compatible bit does not indicate ASLR, rather it needs to have the Dynamic base bit.

[2017-10-02 15:32] 3Hren commented on #44422
Suppressed the code which uses regex, because of https://github.com/rust-lang/regex/issues/274.

Still the same segmentation fault, but without regex frame at the beginning of valgrind output.

[2017-10-02 15:42] mdevlamynck commented on #44729
I was following this a bit, should an issue be open to investigate why there is such a difference in performance when using match on a tuple vs using nested matches ? It was at least 2x slower on my modest (and maybe not that representative) benchmarks to match on tuples.

[2017-10-02 15:49] pnkfelix commented on #44828
Hmm. Well, it was not hard to address the const-promoted case, but it turns out that is not the only case where this issue is arising.

In particular, the test borrowck-assign-to-andmut-in-borrowed-loc.rs generates the following MIR:

<details>
[code]
</details>

The problem here is that the region denoted by `'31_1rs` has no direct borrows. Instead we see it appear in a couple of cast expressions

[2017-10-02 16:00] sunfishcode commented on #44948
I have a current compiler built with the patch, and in a variety of Rust codebases it removes 20-30% of `llvm.memcpy`s.

I haven't seen this contribute to a significant code size decrease or speedup yet, though I haven't looked at very many cases yet. The patch is interesting to me because:
 - I've started looking at the generated code from Rust, and I often see more inline memcpy sequences than I

[2017-10-02 16:33] pnkfelix commented on #44828
Had discussion with @arielb1 (transcribed in details below) who convinced me the right direction here is to remove the assert (and skip attempting to update the flow state in these cases).

<details>

| user         | message |
|----------|-----------------|
| arielby | pnkfelix: re, gh44828 |
| |         why are you getting errors related to '31_1rs? |
| pnkfelix | arielby: because there is an En

[2017-10-02 16:33] manfredbrandl opened #44981 "Cant compile rustc (phf_shared and std from two paths)"
Transcript:
[code]
full transcript: [transcript.txt](https://github.com/rust-lang/rust/files/1349599/transcript.txt)

[2017-10-02 17:02] tromey commented on #43334
For me with rustc 1.20, I don't see the strings at all:

[code]

[2017-10-02 18:37] estebank commented on #44968
### Mentoring instructions:

[`run_ui_tests`](https://github.com/rust-lang/rust/blob/0f0f5db465de96b6c12e71f0c7d3e475f618b104/src/tools/compiletest/src/runtest.rs#L2176) has the code that runs the `ui` tests and calls [`normalize_output`](https://github.com/rust-lang/rust/blob/0f0f5db465de96b6c12e71f0c7d3e475f618b104/src/tools/compiletest/src/runtest.rs#L2334) which does a simple replace from wind

[2017-10-02 19:19] dns2utf8 opened #44986 "Migrate liblibc from submodule to crates.io"
Pro: use local cargo cache and one single location for the source
Con: maybe the build process?

What do you think?

[2017-10-02 19:24] sfackler commented on #44986
We've already migrated most other dependencies out to the normal crates.io versions (e.g. log). Not sure why liblibc is still a submodule, bit it seems like it can probably move as well.

[2017-10-02 19:46] kardeiz commented on #44925
This just got a whole lot more confusing (to me at least). I just discovered that I can successfully use serde's `proc_macro_derive` attributes, but not Diesel's.

So for example, evesteras's serde example in #39347 compiles fine, but LukasKalbertodt's Diesel example does not. This is within the same project, so rustc/cargo/enabled features, etc. are exactly the same.

I'm not familiar enough with

[2017-10-02 20:05] kardeiz commented on #44925
I looked into this a little more. When using Diesel, it is common for structs to derive multiple Diesel-related traits (e.g., `Queryable`, `Identifiable`, `Insertable`). These may each have their own permitted attributes (e.g. `table_name`, `belongs_to`). However, when `proc_macro` is enabled, it looks like only the first permitted attribute is let through&mdash;the others lead to the compilation

[2017-10-02 20:12] estebank commented on #42106
[`report_error_if_loans_conflict `](https://github.com/rust-lang/rust/blob/0f0f5db465de96b6c12e71f0c7d3e475f618b104/src/librustc_borrowck/borrowck/check_loans.rs#L377-L396) calls [`report_error_if_loan_conflicts_with_restriction`](https://github.com/rust-lang/rust/blob/0f0f5db465de96b6c12e71f0c7d3e475f618b104/src/librustc_borrowck/borrowck/check_loans.rs#L398-L403) twice without checking the retur

[2017-10-02 20:15] michaelwoerister commented on #36342
It seems clear that we need this functionality in one form or other. Ideally we'd have an RFC to determine who this should be implemented exactly. @aturon, how do we handle this, it being the impl period now? Or maybe we can decide on a straightforward way how to express this without an RFC.

[2017-10-02 20:32] stephaneyfx commented on #44976
I think this is not a bug, meaning the compiler is not supposed to infer the type `Box<Trait>` in your case as it has too little information to identify `Trait`. Such inference would not be possible in the case of types implementing more than one trait in common and even in that case, the inference would break as soon as both types implement a new common trait. For [example](https://play.rust-lang

[2017-10-02 20:35] QuietMisdreavus commented on #24336
We talked about this in today's dev-tools meeting, and we figured that adding new command-line flags for this won't require an RFC. I'd like to make a first-pass PR that adds them as unstable flags so we can hash out the particulars within that thread.

[2017-10-02 20:40] estebank commented on #44954
### Mentoring instructions

Modify [`verify_arg_type`](https://github.com/rust-lang/rust/blob/185cc5f26d2c8a794189b028b43f6a3b8fc586db/src/libsyntax_ext/format.rs#L266-L268) to instead of outputting positional argument errors, to keep track of them (bubbling them up to the callee of `verify_piece`) so that the following cases are handled:

 - `println!("{} {} {}", name);`: All arguments are positi

[2017-10-02 20:44] michaelwoerister commented on #36342
I'll leave this nominated for now so it doesn't fall off the radar. Hopefully we'll have a clearer picture on how to proceed before the next dev-tools meeting.

[2017-10-02 20:48] estebank commented on #44953
### Mentoring instructions

Modify [`leveled_feature_err`](https://github.com/rust-lang/rust/blob/185cc5f26d2c8a794189b028b43f6a3b8fc586db/src/libsyntax/feature_gate.rs#L1073) to accept an extra flag stating wether the `help` should be outputted or not (it's already checking wether the current compiler is nightly) so that [`TyCtxt::stability`](https://github.com/rust-lang/rust/blob/185cc5f26d2c8a7

[2017-10-02 20:55] 6A opened #44988 "Mixing patterns in a match expression can lead to conflicting warnings / errors"
## Summary
Mixing multiple patterns and a binding can lead to conflicting warnings or errors.

## Examples
[code]
... will lead to the following warning ...
[code]

**However,**
[code]
... will lead to the following error ...
[code]
... which makes sense.

The error is logical, but in this case, no warning should be generated.

## Personal note
I think the problem comes from the [Liveness analysis

[2017-10-02 21:15] Techcable commented on #44452
Thanks for the clarification @rkruppe, you'd think the LLVM docs would be right!

[2017-10-02 22:07] arielb1 commented on #44831
@KiChjang

So I think a useful first step would be to integrate the spec for borrowing unions here:
https://github.com/rust-lang/rfcs/blob/master/text/1444-union.md#borrowing-union-fields

into the main borrowck spec (yes I know it's called "nll", but it also applies to MIR borrowck) - preferably as a PR against rust-lang/rfcs:
https://github.com/rust-lang/rfcs/blob/master/text/2094-nll.md#borrow-

[2017-10-02 23:45] QuietMisdreavus commented on #24336
That PR is live at https://github.com/rust-lang/rust/pull/44989.

[2017-10-03 00:16] pashinin commented on #34987
I'm trying to create `crate-type=dylib` for `target=x86_64-unknown-linux-musl` and get this

[code]

I can compile `staticlib` but not `dylib`.

[code]

[2017-10-03 00:33] myfreeweb commented on #44433
Hmm, the rust from ports (that doesn't have this problem IIRC??) is built with bundled llvm by default…

[2017-10-03 00:54] estebank opened #44990 "Suggest `if let` when a failed `if` block could be parsed as one"
When writing `if Some(x) = foo {}`, attempt to parse as `if let Some(x) = foo {}` for better diagnostic output and if successful provide a suggestion to add the `let`.

[2017-10-03 01:01] cramertj commented on #44752
@gaurikholkar Go for it!

[2017-10-03 01:01] estebank commented on #42112
@GuillaumeGomez what do you think of the following output?

<img width="801" alt="" src="https://user-images.githubusercontent.com/1606434/31105764-3c52a2c0-a79b-11e7-9222-c7047e8f6238.png">

With the code from above:

<img width="484" alt="" src="https://user-images.githubusercontent.com/1606434/31105812-901f7108-a79b-11e7-842e-d60deee9f1db.png">

It only highlights the primary span when it isn't

[2017-10-03 01:05] #44704 closed

[2017-10-03 01:06] cramertj commented on #44755
I'm starting on this.

[2017-10-03 04:43] #31924 closed

[2017-10-03 05:31] cuviper commented on #44412
@tromey, have you tried Fedora's own package?  `/usr/bin/dwarfdump` is in `libdwarf-tools`.

[2017-10-03 05:45] pashinin opened #44991 "dylib for target -musl"
As it was said here https://github.com/rust-lang/rust/issues/34987, we should have support for targets that use a dynamic musl (like alpine linux) in nightly rust.

I want to build .so file to use on Alpine (musl).
[code]
[code]

[code]

[2017-10-03 07:59] GuillaumeGomez commented on #42112
I have to admit that it looks pretty nice. So for me it's ok.

[2017-10-03 08:01] GuillaumeGomez commented on #44927
Well, every non-ignored code block is tested and run, so I'm not sure to understand what you're talking about.

[2017-10-03 08:22] arielb1 commented on #44927
I think as a workaround you could comment the code out, e.g.
[code]

[2017-10-03 08:28] arielb1 commented on #44755
@cramertj cool! feel free to ask me for help.

[2017-10-03 08:42] arielb1 commented on #44976
There's no reason the compiler would figure out you meant you want to coerce both of your arms to `Box<Future>` without you specifying anything. The compiler can't know you don't e.g. want to coerce your type to say `Box<std::fmt::Debug>`.

[2017-10-03 08:43] arielb1 commented on #44976
The preferred way to fix this is to provide a coercion hint:
[code]

[2017-10-03 08:43] #44976 closed

[2017-10-03 08:49] arielb1 commented on #44828
For the record, the case we found was this:
https://github.com/rust-lang/rust/blob/67ed4891db42841c7b7c00f5dce6effb7209a007/src/test/compile-fail/borrowck/borrowck-assign-to-andmut-in-borrowed-loc.rs#L1-L31

[2017-10-03 08:55] alexcrichton opened #44992 "Emit `nounwind` LLVM attribute with `-C panic=abort`"
Currently whenever you compile with `-C panic=abort` we will omit `invoke` instructions and the `uwtable` LLVM function attribute, but we should *also* set the `nounwind` attribute. It looks like on ARM this forces the object file to *not* reference functions that otherwise a function missing the `nounwind` attribute will not have.

This should help out remove some weird hacks for embedded work!

[2017-10-03 08:59] alexcrichton opened #44993 "Avoid volatile loads to preserve the gdb pretty printer section"
Right now when you compile a program with debuginfo on Linux we'll emit a volatile load of a gdb pretty printer section which is intended on ensuring that the linker forces a section in the executable.

Apparently, though, this has caused some problems for embedded work (cc @japaric) where the section doesn't always make it to the final image that's flashed to devices, meaning that this stray load

[2017-10-03 09:03] alexcrichton commented on #44993
[This comment](https://github.com/japaric/cortex-m-rt/blob/5caebe7774e11aae9cdb2e0059ac8befe2c1d192/link.x#L75-L87) has some more informaton on this. Apparently we should also make sure that this isn't an allocated section in the final executable, no need to have this actually be resident in memory!

[2017-10-03 09:04] arielb1 commented on #44981
Looks like a duplicate of #44739. Do the fix steps there work?

[2017-10-03 09:11] laumann commented on #41885
@alexcrichton So I've been working on this [here](https://github.com/laumann/librustc_platform_intrinsics) (btw, so sorry I never got to say hi at RöstiFest!). I forked @F001's project as a starting point. Status is that it seems mostly complete, except for values that need to be plugged into the generated match arms.

@F001 I wanted to ask why the width is an `i32` and not a `u32`? Can it ever be

[2017-10-03 09:39] petrochenkov commented on #30197
@laumann
It should be straightforward, but note that with https://github.com/rust-lang/rust/issues/44524 typos in lifetimes will be impossible by definition (every typo becomes a new lifetime, modulo some corner cases).

[2017-10-03 09:42] aidanhs commented on #44991
Can you try passing `-C target-feature=-crt-static`? See second subpoint of point 5 of https://github.com/rust-lang/rust/pull/40113#issuecomment-323193341

[2017-10-03 10:24] arielb1 opened #44995 "bad suggestion line for `use` statements with a derive"
[code]

After #44215, this gives the following error message:
[code]

This suggests placing the `use`-statement at line 2, which is between the `#[derive]` and the `pub struct X;` line, while we want to place the `use` statement before the `#[derive]`.

cc @oli-obk

[2017-10-03 10:25] arielb1 commented on #44995
This remains after the regression in #44566 was fixed.

[2017-10-03 10:28] #43893 closed

[2017-10-03 10:30] arielb1 commented on #44566
The bad suggestion line was moved to #44995 (because it's not a regression). Closing this issue as it is fixed and backported to beta in #44918.

[2017-10-03 10:30] #44566 closed

[2017-10-03 10:31] nikomatsakis commented on #42640
Another issue that arose from the implementation: how to handle constants of reference type? The RFC states that constants of reference type will not "autoderef", but that means that things like this don't work, and I tend to think that they should:

[code]

[2017-10-03 10:32] steveklabnik commented on #30885
Is this still happening? it's been quite a while

[2017-10-03 10:32] nikomatsakis commented on #44849
An example. Per the language in the RFC, constants of reference type will not "autoderef", but that means that this example does not work, which seems unfortunate:

[code]

[2017-10-03 10:35] pashinin commented on #44991
Magic, thank you. But I thought `rustc` or `cargo` will set what it needs to be able to compile.

[2017-10-03 10:35] #44991 closed

[2017-10-03 11:17] pnkfelix commented on #44829
I am going to focus on this bug.

[2017-10-03 11:31] tromey commented on #44412
Thanks @cuviper - I'd looked for it but didn't manage to find that package.  I get:
[code]

`dwgrep` is the simplest way to extract stuff from this enormous file, using it I found:
[code]
It's hard to say which part is troubling `dwarfdump` without more information than `dwgrep` gives.

[2017-10-03 11:32] tromey commented on #44412
And note that this doesn't seem to come from a Rust CU at all.

[2017-10-03 11:42] vickenty opened #44998 "Inference regression on nightly"
This works on stable and beta, fails to compile on nightly.

([Playground](https://play.rust-lang.org/?gist=ae77dc16958ba061e5ea35a87fd8b004&version=nightly))
[code]

[code]

Versions tried:
[code]

[2017-10-03 11:45] tromey commented on #44412
I let `eu-readelf` grind on this and it says:
[code]
Still not that helpful; though I did check that those `ref4`s are defined.

[2017-10-03 11:47] SimonSapin commented on #39658
CC @alexcrichton / @rust-lang/libs for FCP to stabilize as inherent methods: #44042

[2017-10-03 11:52] tommyip commented on #42106
I'll fix this, thanks for the instruction!

[2017-10-03 12:37] japaric opened #45000 "compiling for msp430 doesn't work with multiple codegen units"
Background: For this target the LLVM backend doesn't support producing object files so we do something slightly different: rustc uses LLVM to produce an assembly file for each crate, then it calls `msp430-elf-gcc` to assemble that file into an object file and makes an rlib out of that.

With multiple codegen units we don't quite do the right thing right now because rustc produces N assembly files

[2017-10-03 12:38] japaric commented on #45000
(#44853 changed the default number of codegen units to 32 when compiling without optimizations)

[2017-10-03 12:44] japaric commented on #45000
This change has probably also broke the NVPTX target (haven't checked yet). If that's the case we should also change the number of codegen units for that target to 1.

[2017-10-03 12:45] luser commented on #44412
Interesting! If you run:
`dwarfdump -u /builds/worker/workspace/build/src/media/libcubeb/cubeb-pulse-rs/src/lib.rs ./libxul.so.dbg`

does it still barf on that same CU?

The other possible culprit here is GCC 6, although I *think* that binary was built from a nightly before we switched (per https://hg.mozilla.org/mozilla-central/rev/db36870cee64).

[2017-10-03 12:46] pftbest commented on #45000
This target has a very small memory size, so the programs for this target are usually small and don't suffer much from slow compilation time.

[2017-10-03 12:56] tromey commented on #44412
Yes, that's how I got the error I saw.

`dwgrep` is fantastic.
[code]

[2017-10-03 12:59] pnkfelix commented on #44830
I'm going to focus on this bug.

[2017-10-03 13:03] gaurikholkar commented on #44752
Will start working on it

[2017-10-03 13:05] philipc commented on #43402
Not sure if this is related, but nightly is now writing thread panics to stderr:
[code]

whereas stable only gives:
[code]

The order of the panic messages changes, so is it possible that one is being written in the middle of the 'No such file or directory'?

[2017-10-03 13:13] arielb1 commented on #44830
This shouldn't be so hard. You'll need to remove the ICE and replace it with proper permission checking that emits the correct errors.

[2017-10-03 13:30] pnkfelix commented on #44830
Yeah, the biggest part is probably just the refactoring of the existing errors being collected and emitted within AST borrowck, and moving those to the common diagnostics that live in `rustc_mir::util::borrowck_errors`.

[2017-10-03 13:31] philipc commented on #44412
@tromey I think 0x008cf760 is referring to the offset value that is invalid, not the offset where the invalid value is. Have a look at the DIE that is offset 0x0000f6c2 within the CU that starts at 0x2aea982f. Here's what gimli's dwarfdump gives:

[code]

This is within a unit that is only length 0x1a154. I'm not sure what form that DW_AT_type is, but if it is a unit-relative offset then it seems

[2017-10-03 13:31] pnkfelix commented on #44830
(my basic goal at this point is to remove all of the ICE's first so that we can then focus on the more interesting places where mir-borrowck is actually producing wrong answers.)

[2017-10-03 13:49] sp-1234 commented on #29723
Is there an ETA for this or something?
This is defeated memory safety in the safe Rust subset so I guess this must be the top importance…

[2017-10-03 13:51] tromey commented on #44412
Haha, yeah, that makes sense, doesn't it.
I'll re-run `eu-readelf` and see what it says about the form, etc.

[2017-10-03 14:05] pornel commented on #41030
I think that can be easily fixed by using a different message when `unsatisfied_predicates` is not empty and using a different message in that case https://github.com/rust-lang/rust/blob/master/src/librustc_typeck/check/method/suggest.rs#L175

Do you have suggestion how the error should look like? Does that sound ok?

[2017-10-03 14:44] #44389 closed

[2017-10-03 14:58] aidanhs commented on #44991
There are still some rough edges with dynamic musl - it's essentially a tier 3 platform and there are possible issues with backwards compatibility (since it's historically unconditionally meant static linking).

That said, I'd (cautiously) say that I see no reason why a dylib can't default to dynamic linking given it just errors out at the moment - we'd welcome a PR to start a discussion about it!

[2017-10-03 15:14] mikhail-m1 commented on #44833
working on it

[2017-10-03 15:16] manfredbrandl commented on #44981
The fix steps from #44739 did not help:
---
manfred@xyz:~/src/rust$ rm ./build/x86_64-unknown-linux-gnu/stage2-tools/x86_64-unknown-linux-gnu/release/deps/*
manfred@xyz:~/src/rust$ ./x.py build
Updating submodules
    Finished dev [unoptimized] target(s) in 0.0 secs
Building stage0 std artifacts (x86_64-unknown-linux-gnu -> x86_64-unknown-linux-gnu)
    Finished release [optimized] target(s) in 0.

[2017-10-03 15:32] myfreeweb commented on #44926
Maybe this isn't the problem on your machine, but in the build.rs script, libc++ must be printed *last*. It's a really weird issue, I've just encountered this while fixing [mozjs](https://github.com/servo/mozjs) to build on FreeBSD. Somehow no one encountered it with `mozjs` on other platforms o_0 But this is mentioned in a ton of StackOverflow answers about C++ linking problems (without Rust!).

[2017-10-03 15:36] Twey commented on #24263
The current `Discriminant<T>` contains a `PhantomData<*const T>`.  This means it's non-`Send` and non-`Sync`, but I can't think of a good reason it should be.  Is there one?

[2017-10-03 15:48] leonardo-m commented on #44998
See also: https://github.com/rust-lang/rust/issues/44973

[2017-10-03 15:51] nikomatsakis commented on #44721
@mdevlamynck

My expectation, I think, was that we would, during HIR lowering, no longer produce an impl trait in that position.

I am not 100% sure that this is the best route. Another possibility would be to handle this during the "ty queries" construction. In more detail, HIR lowering produces a kind of AST, but then there are various queries that produce the "semantic view" of that AST. For ex

[2017-10-03 15:52] sanmai-NL opened #45004 "`warnings` is both a lint check and lint group"
It appears impossible to deny all warnings and then warn for specific warning lint checks using `rustc` CLI parameters. One clear inconsistency that could be connected to this issue is that `warnings` is both a ‘lint check’ and a ‘lint group’.

[code]

[code]

## Meta
[code]

[2017-10-03 15:59] mikhail-m1 commented on #44833
simplified
[code]

[2017-10-03 15:59] aturon commented on #39658
@rfcbot fcp merge

[2017-10-03 16:10] sfackler commented on #24263
Nope, we should impl those traits.

[2017-10-03 17:04] cramertj commented on #44990
Is this possible to accomplish within the parser? I'd think you'd need some amount of name resolution information, since this code is perfectly valid:

[code]

[2017-10-03 17:19] estebank commented on #44990
I think it would if `x` wasn't in the scope. We can't know that during parsing, but the errors for

[code]

are

[code]

Which tells me we could catch `not found in this scope` errors that occur on if conditions and try them as `if let`. If it succeeds to parse the rest of the block, then emit the original error with an extra suggestion.

For the case where `let x = 0` is in the code, the output i

[2017-10-03 17:52] parkovski opened #45008 "No shared conversions for other string-like types (Path, OsStr, CStr)"
Conversions for `Rc<str>`, `Arc<str>`, `Rc<[T]>`, and `Arc<[T]>` were added in #42565, but it is still not possible to make a shared container for other string-like types - you still need to use double allocated containers like `Rc<PathBuf>`. It looks like the only types this is missing for are `Path`, `OsStr`, and `CStr`.

[2017-10-03 17:57] vitiral opened #45009 "tracking issue for `rustc_dirty/clean` enhancements"
cc @michaelwoerister

this is partof #44924

I started this work in #44983, but I would like to break it out into three separate pull requests.

This feature will make it so that `rustc_clean(except="foo,bar")` will assert that ALL DefNode's are clean (which is different depending on which def-node it is) except for the ones given in `except=` (which it asserts are dirty)

Example syntax:
[code]

[2017-10-03 18:18] TimNN commented on #44981
Can you try deleting all the `stage*` directories (or maybe start with `stage2*`)? That has usually "fixed" the problem in the past for me.

[2017-10-03 19:08] andoriyu commented on #30885
I'll check today.

On Oct 3, 2017 3:32 AM, "Steve Klabnik" <notifications@github.com> wrote:

[2017-10-03 20:39] sfackler commented on #44971
Seems reasonable to add!

[2017-10-03 21:02] dtolnay commented on #39658
The semantics of e.g. `str::is_ascii_hexdigit` as meaning every byte is a hex digit is a bit of a stretch. Now that these are inherent methods rather than a common extension trait across char and str, we should consider that we no longer need all the methods across all the types.

- Is `"A"` an ASCII hex digit? Sure.
- Is `"AA"` an ASCII hex digit? Not obvious to me.
- Is `""` an ASCII hex digit?

[2017-10-03 21:16] vickenty commented on #44998
Extensive discussion of this happened in #41336 and #44287.

[2017-10-03 21:23] cuviper opened #45010 "DW_TAG_formal_parameter always has DW_AT_decl_line == 1"
It seems that Rust debuginfo always writes `decl_line` of 1 for formal parameters.

With this `line.rs`:

[code]

With:

[code]

I get this output:

[code]

So it describes the formal parameters of `x` and `y` both with line 1, but also describes local variables with the correct lines 3 and 4.

In LLVM IR it looks like this, with the wrong lines in `!10` and `!14`:

[code]

[2017-10-03 21:24] myfreeweb commented on #42681
Here's a working nightly Rust toolchain for FreeBSD 12-CURRENT: [rustc](https://unrelentingtech.s3.dualstack.eu-west-1.amazonaws.com/rust4current/rustc-nightly-x86_64-unknown-freebsd.tar.xz) [std](https://unrelentingtech.s3.dualstack.eu-west-1.amazonaws.com/rust4current/rust-std-nightly-x86_64-unknown-freebsd.tar.xz) [cargo](https://unrelentingtech.s3.dualstack.eu-west-1.amazonaws.com/rust4current

[2017-10-03 21:30] cuviper commented on #45010
Historically, 1.11.0 looked more like I would expect, with the right line numbers on the formal parameters and no extra local variables.

[code]

In 1.12.0, it added the extra locals, and the formal parameters took on line 2 like the subprogram.

[code]

Then 1.13.0 shows the line 1 behavior like the current nightly.

[code]

[2017-10-03 21:47] andjo403 commented on #44729
when looking at the mir code from https://godbolt.org/g/W8tiyS it feels like rustc can generate mir code that is easier to optimize. maybe it is possible to remove the packing/unpacking of data in to the tuple it looks like the biggest difference in the mir code.

[2017-10-03 21:52] mackwic commented on #44434
Let's say I am ok to implement this, how should I proceed ? Directly with a PR or with an RFC first ?

[2017-10-03 22:05] tromey commented on #43334
`debugger_pretty_printers_common.py` looks for `OsString`:

[code]

So perhaps that difference is the problem.

[2017-10-03 22:08] c0gent opened #45011 "ICE: Broken MIR in NodeId when inferring SmallVec type"
Apologies for the non-simplified example but basically asking the compiler to infer the type of the contents of the `SmallVec` (`formats`) causes an ICE.

[code]

Annotating the type (e.g. `let mut formats: SmallVec<[::SurfaceFormatKhr; 64]> = SmallVec::new();`) avoids the ICE. Using a `Vec` likewise averts an ICE.

### Full Error:
[code]

### rustc version
[code]

[2017-10-03 22:38] dtolnay commented on #13642
Reopening because I don't think this was ever finished. The benchmarks were moved from std to core and from src to benches, but as of Rust 1.20 they are in [`libcore/benches/mem.rs`](https://github.com/rust-lang/rust/blob/1.20.0/src/libcore/benches/mem.rs) which is still confusing because as commented above, they have nothing to do with memory or the functions in core::mem.

[2017-10-03 23:59] bstrie commented on #29722
Personally I'm starting to feel as though stabilizing this feature is the sort of massive task that will never get done unless somehow someone hires a full-time expert contractor to push on this for a whole year. I want to believe that @parched's suggestion of stabilizing `asm!` piecemeal will make this tractable. But if it isn't, then we need to stop trying to reach for the satisfactory solution

[2017-10-04 00:57] #44532 closed

[2017-10-04 01:12] louy2 commented on #41030
@pornel
I don't think your error message communicates much more than the current one. I also think the error message is already straightforward enough.

From my perspective, I think the problem is one of asymmetry in the help section. It mentioned "items from traits can only be used if the trait is implemented **and** in scope", but then went on to **only** suggest "perhaps you need to implement o

[2017-10-04 01:17] louy2 commented on #41030
LOL this is actually a duplicate of #21673 . There's even a [FIXME note in the source](https://github.com/rust-lang/rust/blob/master/src/librustc_typeck/check/method/suggest.rs#L414).

[2017-10-04 01:37] jimmycuadra commented on #33417
With #44174 merged, I believe this is now unblocked.

That PR removed the automatic implementation of `FromStr` for any type that implements `TryFrom<&str>` because the type system can't currently support it, even with specialization. The intent is that `FromStr` and `parse` be deprecated in favor of `TryFrom<&str> and `try_into` once this feature is stabilized. It is unfortunate to lose interim c

[2017-10-04 01:42] main-- commented on #29722
As a data point, I happen to be working on a crate right now that depends on `gcc` for the sole purpose of emitting some asm with stable Rust: https://github.com/main--/unwind-rs/blob/266e0f26b6423f4a2b8a8c72442b319b5c33b658/src/unwind_helper.c

----

While it certainly has its advantages, I'm a bit wary of the "stabilize building blocks and leave the rest to proc-macros"-approach. It essentially

[2017-10-04 02:06] retep998 commented on #44971
`GetCurrentProcessId` on Windows.

[2017-10-04 02:08] shayanjm commented on #44926
@myfreeweb unfortunately this didn't fix the build on my machine :(

[2017-10-04 03:28] Aaron1011 commented on #17606
I'd like to work on this.

[2017-10-04 04:35] SimonSapin commented on #33417
Deprecation warnings should not be added to Nightly until the replacement is available on Stable (or until https://github.com/rust-lang/rust/issues/30785 is implemented), so that it is possible at any time to make a crate build without warnings on all three release channels.

[2017-10-04 05:07] SimonSapin commented on #28237
Sorry this isn’t very constructive, but every time I see `..=` and try to remember what it is, it looks like an assignment operator similar to `+=` or `<<=`. It feels very confusing that it is not. (Though admittedly this has been out of context, for example “initial support for `..=` syntax” https://this-week-in-rust.org/blog/2017/10/03/this-week-in-rust-202/)

[2017-10-04 05:17] est31 commented on #28237
@SimonSapin I've expressed that same criticism in a more constructive fashion above, suggesting `..^` instead: https://github.com/rust-lang/rust/issues/28237#issuecomment-304325663

For me, one big point that speaks for `..=` is sort-of consistency with swift (which has `..<` for exclusive and `..` for inclusive ranges). This made me be okay with the choice of `..=`.

[2017-10-04 05:17] joshtriplett commented on #28237
@SimonSapin I don't think there's anyone who is completely happy with it. The problem is, hundreds of comments have unfortunately confirmed that there isn't a better alternative.

[2017-10-04 05:20] johalun commented on #42681
@myfreeweb It actually isn't my method, I took it from the rust freebsd port. It did work back when I made it but seem to cause runtime errors when using with newer nightlies.

Thanks for the nightly builds!! Is it 1.22? Does this mean that the rust-nightly port is alive again?

[2017-10-04 05:43] #44829 closed

[2017-10-04 05:43] retep998 commented on #44926
Based on a conversation on IRC, it appears this issue was resolved by switching from `kind=static` to `kind=dylib`. Really this is just yet another reason we should either change the behavior of `kind=static` or stabilize [`kind=static-nobundle`](https://github.com/rust-lang/rust/issues/38095) and heavily deprecate `kind=static`.

[2017-10-04 05:46] zackmdavis commented on #45004
Duplicate of #41941. The [relevant code is in librustc/lint/levels.rs](https://github.com/rust-lang/rust/blob/f1938cf13b3/src/librustc/lint/levels.rs#L104-L115).

[2017-10-04 05:51] UtherII commented on #28237
[This patch](https://github.com/rust-lang/rust/pull/44709/commits/e64efc91f49affb265328e354c8c8f0544daa462) achieved to convince me than doing nothing may be better than messing up the current syntax only to cover edge cases. After all .. has very few use case in patterns and you can always deal without it, and ... can be replaced by a `RangeInclusive` or a `(Bound<T>, Bound<T>)` in expressions th

[2017-10-04 08:22] michaelwoerister commented on #45009
@vitiral Sounds like good plan to me!

[2017-10-04 08:51] michaelwoerister commented on #43334
@tromey Good find! `&OsStr` is the slice version of `OsString` (like &str is for `String`). A pretty printer for  `&OsStr` should look pretty similar to the one for `&str`.

[2017-10-04 08:57] michaelwoerister commented on #44993
Yes, I'd love to get rid of this hack.

[2017-10-04 08:58] manfredbrandl commented on #44981
`manfred@xyz:~/src/rust-compile-error$ rm -rf build/cache/* build/x86_64-unknown-linux-gnu/stage*`
solved the problem.

[2017-10-04 09:24] myfreeweb commented on #42681
Yep, it's 1.22 I built by copy-pasting the `rust` port as `rust-nightly` (I'll push it to [ports-dank](https://github.com/myfreeweb/freebsd-ports-dank) today) and changing version numbers. And restarting the build a couple times because of the deadlock issue on the bootstrap (beta) compiler :D

[2017-10-04 09:34] alexcrichton commented on #44722
Indeed yeah with thumb/armv7. I don't know why other armv7 targets wouldn't generate thumb, I'm probably not the best person to ask for that (unsure who is)

[2017-10-04 09:59] partim commented on #44868
I’ve been planning to write some text for the documentation of `AsRef` and `Borrow`. In particular, I think what is currently lacking is a one-sentence summary of the purpose of the two. This seems important to me because if one reads a type implementing a trait as ‘being something,’ `Borrow` is backwards: `T: Borrow<U>` can intuitively be read as `T` is a borrow of `U` when in fact it is the othe

[2017-10-04 10:01] alexcrichton commented on #41885
Gah sorry I missed you @laumann! But nice job on the work here so far!

[2017-10-04 10:10] laumann commented on #41885
No problem, you were kinda mobbed most of the time :smile:

[2017-10-04 10:13] pornel commented on #41030
@louy2 I think we're talking about different cases. For methods the message says "method not found", but adds a note saying "the method exists", which I really don't like, because it's very easy to miss the nuance and interpret the message as nonsense "the method does not exist" "but it exists".

I've explained more here:

https://internals.rust-lang.org/t/multiple-variants-of-the-same-erorr-messa

[2017-10-04 10:18] michaelwoerister opened #45015 "incr.comp.: Implement force_from_dep_node() in a macro."
The `ty::maps::plumbing::force_from_dep_node()` procedure (introduced in https://github.com/rust-lang/rust/pull/44901) is manually implemented right now. This is unfortunate, since it contains an exhaustive match over all `DepKinds` and the implementation could be done almost mechanically. We should try to move the implementation into `define_maps!` or `define_dep_nodes!`.

[2017-10-04 10:25] cswindle commented on #44931
I have PR for adding the parts in the RFC about changes to publish: rust-lang/cargo#4568

[2017-10-04 12:07] nbp commented on #29722
One idea, …

Today, there is already a project, named dynasm, which can help you generate assembly code with a plugin used to pre-process the assembly with one flavor of x64 code.

This project does not answer the problem of inline assembly, but it can certainly help, if rustc were to provide a way to map variables to registers, and accept to insert set of bytes in the code, such project could als

[2017-10-04 12:56] nikomatsakis commented on #44721
@mdevlamynck

Let me try to expand out my thoughts a bit. I see two possible paths for implementing this feature. Both of them involve "desugaring", it's just a question of where we do it.

**Desugaring during HIR lowering.** The initial route I proposed would modify the HIR. This means that if you have an `ImplTrait` HIR node appearing in argument position, we would do two things:

- introduce a

[2017-10-04 13:38] tromey commented on #43334
For Unix, `OsStr` is defined [here](https://github.com/rust-lang/rust/blob/master/src/libstd/sys/unix/os_str.rs#L26-L28).  It's just a `[u8]`; when I look with gdb I see it is nul-terminated.  So I wonder if both `OsString` and `OsStr` should be printed with `length=-1` rather than trying to extract the length.

[2017-10-04 14:00] VermillionAzure commented on #38356
Has anyone looked at literature on macros from other systems? I would like to hear people's thoughts on this. I'll speak about Scheme here, since that's what I'm most familiar with.

I am personally working on implementing `syntax-rules` for R7RS Scheme on my own project, and I have found that `syntax-case` can form the basis for supporting both unhygienic and hygienic macro systems (`defmacro` an

[2017-10-04 14:13] infinity0 opened #45021 "Please push tags to the LLVM fork repo"
I am sorry for filing this here but the "issues" page on https://github.com/rust-lang/llvm/ is disabled.

From a packaging perspective it would be good to have the LLVM release tags (major and minor releases) also mirrored to https://github.com/rust-lang/llvm/ - then it would be much more obvious which commits Rust needs compared to a clean upstream LLVM tarball.

At the moment rustc 1.20.0 has 2

[2017-10-04 14:20] michaelwoerister opened #45022 "compiletest: Test execution time-stamping should take into account debugger pretty printers."
Modifying one of the pretty-printer python files in [src/etc](https://github.com/rust-lang/rust/tree/master/src/etc) does "un-ignore" debuginfo tests. The relevant files should be added to the list of inputs in `compiletest::up_to_date()`:

https://github.com/rust-lang/rust/blob/fd8099f0ecc2fd3980469ec45cf834ae9a941ca3/src/tools/compiletest/src/main.rs#L491-L507

Bonus points for exiting from that

[2017-10-04 14:28] ssokolow commented on #28237
@UtherII

...and I was convinced that `...` is untenable by the times I was saved from a subtle bug by the compiler's "You can't use inclusive range syntax on stable" message.

[2017-10-04 14:57] nikomatsakis commented on #44721
OK, let me try to retool the mentoring instructions for the second approach in a bit more detail.

---

The first step would be retooling the `hir::TyImplTrait` into `hir::TyImplTraitExistential` (and later `TyImplTraitUniversal`). The **very first** step then is just to rename the existing `ty::ImplTrait` code into `ImllTraitExistential`. =)

---

Next, we would modify HIR lowering to carry some

[2017-10-04 15:08] tromey commented on #44412
Just wanted to report back - after several fun adventures I still don't have a good answer; but I do think my earlier statements were wrong and there's a bug here.

[2017-10-04 16:19] parkovski opened #45027 "Missing stack trace on Windows"
This unfortunately is not reliably reproducible - I can get a stack trace from small test projects, so the only way I can demonstrate it is cloning [this repo](https://github.com/parkovski/scifiweb/tree/5ef233e9454906e115ab674b1d9e4499282eb042) and running (with RUST_BACKTRACE=1) `scifiweb.exe run vm/test/noresolve.scifi`. I have VS2017 on Windows 10 - I don't remember this happening with 2015, so

[2017-10-04 16:31] cuviper commented on #45021
I just add upstream locally, e.g. `git remote add llvm https://git.llvm.org/git/llvm`.  Or vice versa, add a rust-llvm remote to my existing upstream llvm repo.

Note however that the official git mirror doesn't have release tags at all!  You do get stable branches though, like `release_39` and `release_40`, which are generally good enough to compare with.

[2017-10-04 17:52] jimblandy commented on #29722
If we want to continue to use LLVM's integrated assembler (I assume this is faster than spawning an external assembler), then stabilization means stabilizing on exactly what LLVM's [inline assembly expressions][1] and integrated assembler support&mdash;and compensating for changes to those, should any occur.

If we're willing to spawn an external assembler, then we can use any syntax we want, but

[2017-10-04 18:00] cuviper commented on #29722
I think it would be strange to stabilize on LLVM's format when even Clang doesn't do that.  Presumably it does use LLVM's support internally, but it presents an interface more like GCC.

[2017-10-04 18:06] jethrogb commented on #33417
I missed the other PR since references don't result in email notifications. I notice there's a specific `impl From<Infallible> for TryFromIntError`. Shouldn't that be `impl<T> From<Infallible> for T` as discussed?

[2017-10-04 18:15] infinity0 commented on #45021
Oh right, it looks like most of those are from 5401fdf23ed "Merge fastcomp @ 1.37.10". The other parent is upstream/release_40.

[2017-10-04 18:17] scottmcm commented on #33417
@jethrogb Sadly, that conflicts with `impl<T> From<T> for T` so can't be done (until we get intersection impls? -- and using `!` doesn't work either there).

[2017-10-04 18:19] jethrogb commented on #33417
@scottmcm ah of course.

I don't think you need intersection impls? Isn't that just straight up specialization?

[2017-10-04 18:24] infinity0 commented on #45021
#36356 seems abandoned for the time being. :(

In that case, it would be good in the future to tag commits like https://github.com/rust-lang/llvm/commit/5401fdf23ed60ae2c004b76b7125219394caa9b6 as `upstream-40+fastcomp-1.37.10` which would appear very obviously in a git log avoiding people having to scroll through 2500 commits.

[2017-10-04 18:55] Ixrec commented on #38899
Is this one of the borrow checking soundness bugs that's likely to get fixed "for free" or close-to-free by the move to MIR borrowck, two-phase borrows and/or NLL?

[2017-10-04 19:35] ikeydoherty commented on #43545
Same issue here in Solus

[code]

Bootstrapping 1.20.0 with 1.19.0 using Rust official stage0 (2017-07-20). `xz-devel` provides `liblzma.a`:

[code]

The liblzma libset built with `-fPIC` by default.

[2017-10-04 19:46] arielb1 commented on #44721
That's actually the point of HIR - that you can perform desugarings, including creating paths. I don't believe there is any *conceptual* trouble creating a segment-free path, but if e.g. privacy complains, it should be possible to find a way to shut it up.

[2017-10-04 19:49] chyvonomys commented on #41182
Got same internal compiler error on this:
[code]
Specifying lifetimes (as in comment) fixes the problem.
`rustc 1.22.0-nightly (4502e2aa9 2017-10-03) running on x86_64-pc-windows-msvc`

[2017-10-04 20:10] k0pernicus commented on #45022
Maybe I can help here as a first contribution to the programming language.
I will try to propose a solution for tomorrow evening.

[2017-10-04 20:17] Gankro opened #45029 "mutable noalias: re-enable permanently, only for panic=abort, or stabilize flag?"
In #29485 it was [discovered](https://github.com/rust-lang/rust/issues/29485#issuecomment-152696550) that llvm was miscompiling noalias in the context of unwind edges. Further sleuthing determined that it was only a problem [with mutable references](https://github.com/rust-lang/rust/issues/29485#issuecomment-180087795), and the performance impact was fairly small.

In #31545 we removed noalias fro

[2017-10-04 20:18] Gankro commented on #45029
CC @arielb1 @dotdash @eefriedman @sunfishcode @jrmuizel

[2017-10-04 20:32] 6A commented on #44988
Never mind, I was just confused by the message, but actually `ch` was never used, whether or not it matched the '.' character. My bad.

[2017-10-04 20:32] #44988 closed

[2017-10-04 20:53] sunfishcode commented on #45029
@eefriedman's [non-comprensive audit](https://github.com/rust-lang/rust/issues/29485#issuecomment-156278704) in #29485 also turned up -memcpyopt, -mldst-motion, and -loop-idiom. At a brief glance, -loop-idiom looks [fixed](274673). It doesn't appear that -memcpyopt or -mldst-motion are fixed yet (-mldst-motion wasn't enabled by default earlier, but it is now). And for safety's sake, it would be go

[2017-10-04 20:54] estebank commented on #33241
It seems that a better diagnostic output is needed:

[code]

[2017-10-04 21:00] Gankro commented on #45029
@sunfishcode is it accurate to say that the only concern is the interaction with unwinding, in which case enabling for panic=abort should be fine?

[2017-10-04 21:00] pcwalton commented on #45029
"Enable this internally whenever `-Cpanic=abort` is set" seems like a completely uncontroversial thing we can do now.

[2017-10-04 21:03] alexcrichton commented on #44941
I'm going to tag this as a regression until we can figure out [what the spike is](https://perf.rust-lang.org/?start=2017-09-29T00%3A00%3A00%2B00%3A00&end=2017-09-30T00%3A00%3A00%2B00%3A00)

[2017-10-04 21:04] sunfishcode commented on #45029
Yes, the interaction with unwinding is the only concern I'm aware of here. Are panics the only unwinding possible under panic=abort, or does Rust support, for example, calling C++ code which throws?

[2017-10-04 21:06] rkruppe commented on #45029
Unwinding across language barriers is UB.

[2017-10-04 21:11] alexcrichton commented on #39658
I think I agree with @dtolnay, and given https://github.com/rust-lang/rust/pull/44042 I think we should "soon" have the ability to implement that relatively easily?

[2017-10-04 21:13] tromey commented on #43334
I don't really understand what is going on in this code, I think.  I don't know how the runtime finds the length of the `[u8]`, though it clearly does.

One guess is that `a` is actually a wider pointer.  And that's experimentally supported by something like:

[code]

However, the type of `a` is just an ordinary pointer in the DWARF:

[code]

And `Path` says it has size 1:

[code]

So maybe these

[2017-10-04 21:13] sunfishcode commented on #45029
Various other language implementations related to Rust's do support cross-language unwinding. Is it specifically UB in Rust?

[2017-10-04 21:21] rkruppe commented on #45029
At least Rust unwinding across an FFI barrier has definitely been declared UB (cf. #18510). I am relatively sure the reverse situation is also UB &ndash; or at least, I don't think it has ever been documented as working. Due to different personality routines, I'd expect all hell breaking loose if (say) C++ code throws an exception and it propagates to a Rust landing pad, and we're not in the habit

[2017-10-04 21:40] k0pernicus commented on #45022
So, I have read the code and I tried to understand where is the problem, and what kind of solution I can propose.

This is my thought:
1. The problem is pretty-printer Python files in `src/etc` are not considered in `up_to_date`; so, if you modified one of those files, you will not ignoring them (am I right?).
2. You propose to add the relevant files (`debugger_pretty_printers_common.py`, `gdb_loa

[2017-10-04 21:55] eddyb commented on #33241
@estebank Why? I believe it's implemented as a feature now (maybe it should be `run-pass`?).

[2017-10-04 22:03] rkruppe commented on #44992
Just for the record: in #45029 @sunfishcode brought up the possibility of other languages unwinding through Rust code. IIUC this could theoretically work if the Rust code contains no landing pads, though I believe that it is and should be UB instead. Still, I find it interesting that *if* we wanted to support that, the change proposed here would break that (b/c any unwinding would now be UB, rathe

[2017-10-04 22:04] nikomatsakis commented on #44727
So there's been a fair amount of discussion on the best way to do this. I am becoming wary of trying to do this desugaring at the HIR level -- I think it's a bit of an open question just **how much** we should desugar at HIR. I think I like the idea of trying to hew fairly closely to the user's AST, but do "light desugaring" -- e.g., the way we "embed" symbol tables paths now. But that too is a bi

[2017-10-04 22:07] alexcrichton commented on #44992
@rkruppe that seems like support for that would be opt-in, if ever?

[2017-10-04 22:24] estebank commented on #33241
@eddyb it's unrelated to _this_ issue, but rather to #45020's solution, `error: compilation successful` merits at least a clarifying label pointing at the `#[rustc_error]`, as otherwise the compiler output makes you look at the following line exclusively, which isn't the cause for the `error`. I know it definitely confused _me_ :)

Back to this issue, yes, the test in #45020 should be `run-pass`.

[2017-10-04 22:26] rkruppe commented on #44992
Mayyyyybe? I don't think this is likely to happen regardless of the details. I mostly wanted to record the thought somewhere.

[2017-10-04 22:29] BrunoWilkinson commented on #44954
Hi,

I was wondering if this PR is still ongoing? I've started learning Rust and I was wondering if you think I can tackle this, I'm very curious and driven to learn more about the language and also how programming languages are built.

Thank you for your feedback.

[2017-10-04 23:14] shayanjm commented on #44926
@retep998 +1 - I'll also be creating a PR to the upstream `rust-hyperscan` project to fix this. Thanks everyone for your help!

[2017-10-04 23:16] retep998 commented on #44992
There are currently platforms where Rust and C++ can unwind through each other and landing pads will function correctly (such as windows msvc). I don't understand why anyone would want to support unwinding between Rust and other languages when `-C panic=abort` is specified, considering the whole point of `-C panic=abort` is that no unwinding occurs.

[2017-10-04 23:22] alexcrichton commented on #44941
Ok looking more into the data from perf.rust-lang.org. We're measuring instructions executed and the "cpu-clock" measurement. Instructions certainly don't have much bearing on wall time (but serve as great indicators of when to look for a regression) and apparently cpu-clock is *not* the same as wall time. I believe the `cpu-clock` stat is the total sum of all threads on all cpus.

I'm trying to r

[2017-10-04 23:24] neivv opened #45034 "-C opt-level=z produces invalid code on i686-pc-windows-msvc"
[code]
Will crash when compiled with `rustc -C opt-level=z main.rs`.
[code]

The asm for main is
[code]

Specifically, the function uses `esi` to store a local variable, but after
`__ZN79_$LT$std..path..Path$u20$as$u20$core..convert..AsRef$LT$std..path..Path$GT$$GT$6as_ref17hbd919da430f6c47cE`
 one of the function arguments are popped from stack with `popl %esi`..

When using `-C panic=abort`, or

[2017-10-04 23:26] cramertj commented on #44727
It's probably worth noting just for posterity that I had started on a version of the HIR-desugaring approach [here](https://github.com/rust-lang/rust/compare/master...cramertj:hir-existential), although it handles IDs incorrectly. I'll continue to pursue this-- I'm going to start on the second choice mentioned in @nikomatsakis's comment above, and I'll update with my progress.

[2017-10-04 23:42] estebank commented on #44954
@BrunoWilkinson go ahead! People are available at https://gitter.im/rust-impl-period/WG-compiler-errors and on IRC for quick questions as well as on this issue for longer questions. Once you create a PR we can continue the conversation there. There are [instructions to build the compiler](https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md#building), and if you want to use debug statemen

[2017-10-04 23:47] estebank commented on #45011
@c0gent could you provide a code snippet or project to reproduce this? Could you check wether this ICE is present in stable or beta?

[2017-10-05 00:27] whitslack commented on #42867
Make [sets](http://git.savannah.gnu.org/cgit/make.git/commit/?id=b552b05251980f693c729e251f93f5225b400714) its jobserver pipe file descriptors to non-blocking mode when it's configured to use `pselect`.

[2017-10-05 01:21] Boscop opened #45036 "#[derive(Default)] should be smarter"
[code]
[> error[E0599]: no function or associated item named `default` found for type `A<D>` in the current scope](https://play.rust-lang.org/?gist=2fa4cb474bcec535ac592affa7067f1f&version=stable)

`#[derive(Default)]` should be smarter so that it doesn't require T to be Default in Vec<T> or Option<T> etc.
This pattern occurs a lot in my real code, and it's very frustrating.

EDIT: It seems [`#[de

[2017-10-05 01:29] est31 commented on #44006
@tlively I guess #42420 would also be part of this? If so, can it be added to the list?

[2017-10-05 01:29] est31 commented on #45021
@infinity0 @cuviper the LLVM used is a custom fork of upstream LLVM with fastcomp added on top, and with a few backported patches from newer LLVM versions that are needed for various reasons. The long term plan is to get rid of fastcomp by leveraging the still evolving wasm backend of LLVM. See #44006 if you want to track progress. Also, AFAIK there is nothing preventing Rust from working with an

[2017-10-05 01:35] estebank commented on #44684
Current output for the original code is much improved:

[code]

A suggestion to specify a lifetime for the argument is still missing (as the PR handles borrows, not ADTs with borrows), and gives the old diagnostic when the method has the following signature:

[code]

[2017-10-05 01:39] cuviper commented on #45021
For me, these "various reasons" are why I bother comparing at all.  Yes, Rust is fine with a more vanilla LLVM, and we use that for distro packaging, but I always want to evaluate whether any of those patches are things that we might want to backport to the distro LLVM library too.

[2017-10-05 01:45] sunjay opened #45037 "Suggested fix has incorrect syntax"
## Minimal reproduction: ([Playground](https://play.rust-lang.org/?gist=9d51dcd2f9a07124d90a44779150f8dc&version=stable))

[code]

This produces the error message:

[code]

Notice that the suggested fix is:

[code]

This is incorrect syntax.

## More Details

If you remove the `use self::Button::*` line, the error is normal again:

[code]

In fact, this only occurs if you have both a struct and an

[2017-10-05 01:46] asomers opened #45038 "rustdoc hangs on FreeBSD during trivial doctest"
Doc tests frequently hang on FreeBSD.  I've seen it happen on multiple crates, and I can easily reproduce it with a trivial crate that contains only one function that does nothing at all.  I've seen the hang in multiple versions of rustc, and on FreeBSD 11.0 and 12.0.  In my experience, it reproduces most readily with rustc 1.20.0 in a FreeBSD 11.0 jail on a 12.0 host.

Here is the command that ha

[2017-10-05 01:56] tlively commented on #44006
@est31 I'm not sure I understand why #42420 is part of this. Does NaCl/PNaCl support depend on Fastcomp as well?

[2017-10-05 02:11] luser commented on #42867
Yeah, the `EAGAIN` in cargo is almost 100% reproducible using gmake master to build Firefox. Changing that `#ifdef HAVE_PSELECT` to `#if 0` makes it go away.

[2017-10-05 02:40] est31 commented on #44006
@tlively I'm no LLVM expert, but when I look into rust's fork of LLVM, then `lib/Target/JSBackend/NaCl/` is the place I can find the NaCl backend while upstream LLVM seems to lack the `JSBackend` subdir entirely. I also can't find any meaningful references to NaCl in upstream LLVM so it wasn't moved or something. It looks like an addition by fastcomp.

[2017-10-05 03:09] tlively commented on #42420
@est31 My understanding is that PNaCl is deprecated but NaCl is not. Does this issue suggest removing support for NaCl in addition to PNaCl? If not, how does keeping NaCl support affect #44006?

[2017-10-05 03:17] QuietMisdreavus opened #45040 "Tracking issue for `#[doc(spotlight)]`"
Initially implemented in https://github.com/rust-lang/rust/pull/45039, this attribute puts your own trait on every function doc if its return type implements it.

[2017-10-05 03:26] est31 commented on #42420
The two terms are a bit confusing. From what I understand is that NaCl is a sandboxing technology while PNaCl is a technology that is both a sandbox around code, and a portable binary format, just like wasm. You are right, the Google blog post I've linked only refers to PNaCl.

Now rustc has a target called `le32-unknown-nacl`. That's the one I'm proposing to remove. The target itself only refers

[2017-10-05 03:29] tlively commented on #42420
Sounds good. Probably best to cc @eholk as well. Hopefully he will be able to shine some light on the PNaCl vs NaCl situation.

[2017-10-05 04:03] bstrie commented on #29722
I'm 100% fine with saying "Rust supports exactly what Clang supports" and calling it a day, especially since AFAIK Clang's stance is "Clang supports exactly what GCC supports". If we ever have a real Rust spec, we can soften the language to "inline assembly is implementation-defined". Precedence and de-facto standardization are powerful tools. If we can repurpose Clang's own code for translating G

[2017-10-05 04:06] c0gent commented on #45011
Interestingly the ICE is present in stable but not beta. Below are the details of error from stable.

I'm having trouble reproducing using simplified snippets. There may be an important key buried within the function I am calling. It and functions like it (which also produce an ICE when they are used in the same way) are designed in a complicated way using macros ([vkGetPhysicalDeviceSurfaceFormat

[2017-10-05 04:13] chrisvittal commented on #43234
With #45013 pretty much set. I'm willing to work on testing infrastructure. I just need to know what we want and what parts of the code I need to look at.

[2017-10-05 06:22] JekoTronik commented on #44826
Hi @steveklabnik !
I've faced this behavior mainly with all the links in the "3 The Rust Bookshelf" category.

[2017-10-05 07:53] michaelwoerister commented on #45022
@k0pernicus You're on the right track:
1. Almost right. When the `compiletest` tool executes a test and that test passes, it will not re-execute it until something relevant has changed. "Not re-executing" in practice means that the test will show up as `ignored` in the commandline output. The problem here is that modifications to the pretty printer files are not picked up as "relevant changes". As

[2017-10-05 08:14] SeunLanLege commented on #37637
Does using `$crate` work in proc_macros now? And if it doesn't I'd love to help out.

[2017-10-05 08:36] k0pernicus commented on #45022
Ok, I understand.
Thanks a lot for these explanations.

I will work on that issue after work, in order to submit a PR + code review for tomorrow morning.

[2017-10-05 08:55] zilbuz opened #45043 "MIR borrowck: errors unreported in unreachable arms of match expressions"
*Note from @pnkfelix for people looking at this bug: See important soundness issue in [ariel's issue](https://github.com/rust-lang/rust/issues/45045).*

In the following code the borrow error in the `z` arm isn't reported with MIR borrowck, but it is reported with AST borrowck:

[code]
(compile with `-Z emit-end-regions -Z borrowck-mir` to use the MIR borrowck)

[2017-10-05 09:19] michaelwoerister commented on #41215
It's time to test again because the freshly merged red/green tracking system does quite a bit more hashing than the previous system. @Mark-Simulacrum was so nice as to run some try-branches through perf.rlo. Here are the results (numbers are "instructions executed" compared to BLAKE2 implementation)

| TEST CASE                             | SipHash128 (2-4)     | MetroHash128          |
|--------

[2017-10-05 10:30] arielb1 opened #45044 "ICE: type mismatch comparing repeat and repeat"
## STR
[code]

[code]

## Expected Result

code compiles and runs

## Actual Result
[code]

[2017-10-05 10:53] pnkfelix commented on #44833
(I think I'm going to take the lead on this bug at this point; PR #45025 doesn't have the *exact* right solution yet, but I think the work there is part of the answer.)

[2017-10-05 10:53] arielb1 commented on #45043
This is actually an unsoundness in AST borrowck: AST borrowck doesn't check things that are matched on for conflicting borrows unless there are actually pattern bindings, e.g. this compiles:

[code]

That is unsound because of e.g. data races. For example, this code compiles and runs, and semi-reliably segfaults:
[code]

[2017-10-05 10:58] arielb1 opened #45045 "binding-less matches on borrowed data are incorrectly allowed"
This is actually an unsoundness in AST borrowck: AST borrowck doesn't check things that are matched on for conflicting borrows unless there are actually pattern bindings, e.g. this compiles:

[code]

That is unsound because of e.g. data races. For example, this code compiles and runs, and semi-reliably segfaults:
[code]

[2017-10-05 12:05] QuietMisdreavus commented on #25928
I've started https://github.com/rust-lang/rust/pull/45039 to work on this.

[2017-10-05 12:45] arielb1 commented on #41215
If this is really correctness-critical, I like the cryptographic guarantees a cryptographic hash gives us and would hate to have correctness possibly be compromised by hash misbehavior.

[2017-10-05 13:03] michaelwoerister commented on #41215
@arielb1 Would you be comfortable with using SipHash? It is performing very well too and since it is supposed to combat exploits that are based on hash collisions, the bar for it's output quality is pretty high. Also, I assume that it has had lots of eyes on it since it is used so widely.

[2017-10-05 13:19] jan-hudec commented on #38356
For *procedural* macros, discussed in this issue, *none*. A procedural macro is a compiler extension. It can take a bit of C++ code, run it through clang and add the resulting object to the compilation. It can take some SQL, query the database to find corresponding result type and generate appropriate result set. Those are actual use-cases people want to do!

The [RFC 1566](https://github.com/rust

[2017-10-05 13:27] arthurprs commented on #41215
I'm sure this was answered somewhere already, but what happens if hashes collide?

[2017-10-05 13:40] infinity0 commented on #45021
I totally understand why Rust keeps its own fork. The reason why I have to do the comparisons is because Rust's test suite often fails (or works the whole build fails) with an unforked LLVM, which is what Debian has. Then I have to ask the Debian LLVM maintainer to cherry-pick various commits that Rust has already applied. It's easier to do this if the git log has the fork-points clearly labelled.

[2017-10-05 13:42] michaelwoerister commented on #41215
Then the compiler would potentially not re-run some computation although it should. The consequences of that depends on the computation/hash in question. The absolute worst case would be that an object file gets re-used although it shouldn't and you silently end up with the previous machine code version of the functions in there instead of the current one.

[2017-10-05 14:28] est31 commented on #41215
There are two cases here where collisions could occur theoretically:

One is security related where e.g. someone creates some code with a given hash and it now gets put into a different function as well that has the same hash, and this happens *on purpose*. It seems like this is very hard to pull this off. I guess many other ways of attacks are way easier (like creating a compiler plugin and then

[2017-10-05 14:47] michaelwoerister commented on #41215
It's hard to imagine how that would work in practice. A potential attacker could try to inject some code that has the same hash as some other piece of code that is already in your codebase. But the effect of the hash collision would be that the injected piece of code would *not* get used since the difference between the two pieces of code is not detected `:)`

[2017-10-05 14:50] alexcrichton commented on #42867
@whitslack excellent point! I've got a fix for your and @luser's issue at https://github.com/alexcrichton/jobserver-rs/pull/2

[2017-10-05 14:51] Gankro commented on #45029
I added the panic=abort automatic opt-in to #45012

[2017-10-05 14:53] stjepang commented on #41196
I like the `spin_loop_hint` name, but would be okay with `spin_wait` as well.
Java calls this `onSpinWait`, in .NET it's `SpinWait`, and Linux kernel has `cpu_relax`.

Would it be a good time to propose stabilization after some name bikeshedding?
I've wanted this function in stable Rust for quite a while. :)

[2017-10-05 15:01] nagisa commented on #41215
Could a SHA256 be considered if the host machine can hardware accelerate
it? Or is it necessary to only ever use one hash algorithm for some interop
reasons?

On Oct 5, 2017 17:48, "Michael Woerister" <notifications@github.com> wrote:

[2017-10-05 15:11] michaelwoerister commented on #41215
@nagisa I don't know of a use case where it makes sense to move an incr. comp. cache from one machine to another. I personally would prefer to have just one implementation to maintain but if a hardware accelerated SHA256 was significantly faster than SipHash, then in theory it could be done. Do you have numbers on how fast SHA256 can get?

[2017-10-05 15:23] alexcrichton commented on #41196
@rfcbot fcp merge

Sounds like a great issue to consider for stabilization!

[2017-10-05 15:49] nagisa commented on #45036
Duplicate of https://github.com/rust-lang/rust/issues/26925.

[2017-10-05 15:49] #45036 closed

[2017-10-05 15:49] alexcrichton commented on #41196
To be clear I also don't have much of a preference on names, @stjepang's preference of `spin_loop_hint` also seems fine by me

[2017-10-05 16:00] nagisa commented on #44876
Closing as a duplicate of #26925.

[2017-10-05 16:00] #44876 closed

[2017-10-05 16:12] sfackler commented on #41196
`spin_loop_hint` or `spin_wait` both seem reasonable.

[2017-10-05 16:14] kennytm commented on #45037
Duplicate of #42548. Already fixed by #43929, and no repro on 1.21 (beta).

[2017-10-05 16:17] sunjay commented on #45037
Cool thanks!

[2017-10-05 16:17] #45037 closed

[2017-10-05 16:30] jan-hudec commented on #38356
@VermillionAzure, from quick look at the Scheme forms you referenced:

The `macro_rules`, and their update per [RFC 1584](https://github.com/rust-lang/rfcs/blob/master/text/1584-macros.md), is similar to `syntax-rules`. If you have suggestions for enhancing those, https://github.com/rust-lang/rust/issues/39412 is probably the best place to discuss that.

The proc-macros, about which this issue is,

[2017-10-05 16:51] #44828 closed

[2017-10-05 16:57] aidanhs commented on #43402
I'm hoping this is fixed after the merge above. If anyone sees it again, please ping me.

[2017-10-05 17:01] nagisa commented on #41215
@michaelwoerister I posted https://github.com/rust-lang/rust/issues/41215#issuecomment-302394303 earlier in the thread. Comparison is against Fletcher4, which is not very useful here, so I ran a similar test using std::hash::SipHasher24 in an environment as close to what I remember I used for the initial test. SipHasher manages aproximately a 2.33GB/s, so SHA doesn’t seem to be faster.

[2017-10-05 17:03] mathstuf opened #45048 "Cannot derive(Debug) for a struct with a function with a reference parameter"
This fails to compile:

[code]

[code]

It does work if the parameter is a non-reference (mutable reference also fails) including pointers. I'm using rustc 1.20.0 from Fedora's packages.

[2017-10-05 17:36] jimblandy commented on #29722
If we stabilize something defined in terms of what clang supports, then we should call it `clang_asm!`. The `asm!` name should be reserved for something that's been designed through a full RFC process, like other major Rust features. #bikeshed

There are a bunch of things I'd like to see in Rust inline assembly:

- The template-with-substitutions pattern is ugly. I'm always jumping back and forth

[2017-10-05 17:46] arthurprs commented on #41215
I think 128bit SipHash is the way to go here, there are surely faster hashers but the returns are very small (MetroHash results sort of prove that). No amount of bits can guarantee no collisions :woman_shrugging: and as far as I understand there's no need for crypto hash security anyway.

Also, I don't fell comfortable using MetroHash or (insert your fav. fast hash here) in places other than hasht

[2017-10-05 18:01] alexcrichton commented on #29722
I'd like to reiterate again the [conclusions from the most recent work week](https://github.com/rust-lang/rust/issues/29722#issuecomment-313146254):

* Today, as far as we know, there's basically no documentation for this feature. This includes LLVM internals and all.
* We have, as far as we know, no guarantee of stability from LLVM. For all we know the implementation of inline assembly in LLVM co

[2017-10-05 18:08] JekoTronik commented on #44826
Awesome !
Thank you @steveklabnik !

[2017-10-05 18:14] jimblandy commented on #29722
@jcranmer wrote:

I would think that, in practice, it would be quite difficult to infer clobber lists. Just because a machine-language fragment uses a register doesn't mean it clobbers it; perhaps it saves it and restores it. Conservative approaches could discourage the code generator from using registers that would be fine to use.

[2017-10-05 19:07] arielb1 commented on #41215
@michaelwoerister

My worry was more that a specially-crafted piece of "code" (e.g. string data included from some outside source) could cause MetroHash to get into a bad state in which "particular" collisions are "easy". I can't think of a simple way to extend this into an exploit, but stranger things have happened.

I think that SipHash with a per-incremental-directory random key should be, if n

[2017-10-05 19:21] porky11 commented on #38356
I think the idea was, defining macros like functions, like in lisp, but having a macro, which returns the macro, that `macro_rules!` defines.

So following would be equivalent:
[code]
[code]
That's how `syntax-rules` and `syntax-case` seem to work in scheme.

@VermillionAzure
Is this, what you would like?

[2017-10-05 19:28] BrunoWilkinson commented on #44954
@estebank thank you, I'm gonna check all this out and give it a shot!

[2017-10-05 20:00] arielb1 commented on #41215
From an academic cryptographer POV, I can hardly call this scheme cryptographically secure. I would consider it a nice opportunity to try and find a contrived way to "break this" if you control all the neighboring degrees of freedom.

Actually, all 128-bit schemes expose an attack with complexity about 2^64 - if there's a "data blob" an attacker can manipulate, he can "birthday attack" his way to

[2017-10-05 20:03] alexcrichton commented on #44941
I believe [these are all the reported regressions](https://perf.rust-lang.org/?start=2017-09-28T00%3A00%3A00%2B00%3A00&end=2017-10-05T00%3A00%3A00%2B00%3A00&crates=[%22futures-rs-test-all%22%2C%22helloworld%22%2C%22html5ever-2016-08-25%22%2C%22hyper.0.5.0%22%2C%22issue-31157-compilation-time-ram-regression%22%2C%22issue-32062-equality-relations-complexity%22%2C%22jld-day15-parser%22%2C%22piston-im

[2017-10-05 20:11] arielb1 commented on #44538
@japaric

I *think* this just used to work by accident before. Could you please open a PR for fixing the minimum alignment target spec?

[2017-10-05 20:31] alexcrichton commented on #44941
Some more investigation

I found locally I was able to reproduce some slowdowns with the syntex_syntax crate:

|           |   1  | 2  | 4 | 8 | 16 | 32 |
|----------|----|--|--|--|----|---|
| wall time | 32.9 | 24.9 | 22.8  | 21.4 | 22.0 | 21.8 |
| cpu-clock | 33064 | 35218 | 40584  | 44581 | 48542 | 51788 |
| 1 core wall time | 34.3 | 35.2 | 36.4 | 38.1 | 40.3 | 41.7 |

Here "wall time" is the w

[2017-10-05 20:58] k0pernicus commented on #45022
@michaelwoerister I just created the PR to share the code.
I compiled the project and I ran the test (using `./x.py test`), and the compilation is OK.
Unfortunately, I don't know how to test my changes (which is why I put a "WiP")...

Is it possible to obtain a simple example of "procedure" to test my changes please?
Thanks a lot.

[2017-10-05 21:02] steveklabnik commented on #43490
I'm not sure when this was fixed, but it was:

[2017-10-05 21:02] #43490 closed

[2017-10-05 21:08] steveklabnik commented on #42288
https://github.com/rust-lang/rust/pull/43949 fixed this!

[2017-10-05 21:08] #42288 closed

[2017-10-05 21:56] joshtriplett commented on #41215
Would seahash make sense here? It's quite fast, and collision-resistant.

[2017-10-05 22:41] #43094 closed

[2017-10-05 22:51] scottmcm commented on #44973
This is expected; see https://github.com/rust-lang/rust/pull/41336#issuecomment-333376898

[2017-10-05 23:03] leonardo-m commented on #44973
OK, then this issue should be closed down... This could be the biggest breakage of my codebase since Rust V. 1.0 :-) I have had to fix about 1 problem every about 800 lines of my codebase.

[2017-10-05 23:03] #44973 closed

[2017-10-05 23:07] tinaun opened #45056 "when calling a trait method expecting one unit type argument, hint for E0061 puts the unit type in the wrong position"
[code]

becomes:

[code]

playground link: https://play.rust-lang.org/?gist=c18a4d629e72869e75a7a3b747b8de83&version=nightly

[2017-10-06 00:39] stepancheg commented on #44286
While it is indeed a missing API, there are several issues with this new API implemented in PR #44278:

* it seems to panics if `take_key` was called before
* it replaces both key and value, so
* * is not possible to replace only key or only value
* * it does do completely independent things in one operation
* it is not possible to replace key in `VacantEntry`
* it takes `self`, while it could tak

[2017-10-06 01:13] hunteke opened #45057 "Error message grammar/typo: 'and unstable location' -> 'an' unstable location'"
Rust learner here, diving into logging, and using my incorrect code.  Very helpful and specific error message (OMG, thank you Rust devs!); just has a typo.  A two-minute find-and-correct situation.  The error message reads:

[code]

Note the `... sysroot, and unstable location; ...`.  Should the `and` perhaps be `an`?

Steps to recreate:
 1. `cargo new --bin typo_error_msg`
 1. `cd typo_error_msg`

[2017-10-06 02:09] jean-lourenco commented on #18945
@estebank I'd like to try and add that extra compile output that you mentioned.
I'll just need a little bit of time to figure out how to test it, as I'm fairly new to Rust and this project. I've made the change and builded the solution, but the output is still the same. (Probably using the wrong binaries to test or something)

[2017-10-06 03:21] estebank commented on #18945
It's great @jean-lourenco! Make sure you build using `./x.py build --stage 1`, and you'll find the binary in `build/x86_64-apple-darwin/stage1/bin/rustc`. You can also use `./x.py test --stage 1 src/test`, go get coffee and see if any test actually fails after your modification.

[2017-10-06 04:26] goffrie commented on #40003
Ran into this as well... For what it's worth, it seems like the error message is a red herring - it doesn't look like it's a recursion depth problem, it just ends up with two ambiguous trait impls.

[2017-10-06 05:05] jcranmer commented on #29722
@alexcrichton wrote:

The LLVM docs guarantee "Newer releases can ignore features from older releases, but they cannot miscompile them." (with respect to IR compatibility). That rather constrains how much they can change inline assembly, and, as I argued above, there's not really any viable replacement at LLVM level that would radically change semantics from the current situation (unlike, say, the

[2017-10-06 05:18] Binero commented on #44286
- `take_key` cannot be called before, all functions that call it consume the entry.
- The point is to be able to swap out the key without multiple lookups. `replace_value` beats the point.
- A `VacantEntry` does not have a key, so it's unclear how the function would work.

[2017-10-06 05:24] kennytm commented on #43402
@aidanhs The test failed again on 32-bit Linux in #44818.

[2017-10-06 05:49] parkovski commented on #45027
I rewrote this code [here](https://github.com/parkovski/scifiweb/blob/master/util/src/win_bt.rs) with more error info, and it works _most_ of the time. Mysteriously, it occasionally fails to find `dbghelp.dll`. I'm also using the copy from the latest SDK - MSDN says the system copy may not handle all PDBs - frustrating.

[2017-10-06 06:36] jimblandy commented on #29722
Are LLVM really guaranteeing that they'll never miscompile a feature whose behavior they've never specified? How would they even decide if a change was a miscompilation or not? I could see it for the other parts of the IR, but this seems like a lot to expect.

[2017-10-06 07:15] parched commented on #29722
Clang doesn't do that because it aims to be able to compile code that was written for GCC. rustc doesn't have that aim. The GCC format isn't very ergonomic so ultimately I think we don't want that, but whether that would be better to go with for now I'm unsure. There's a lot of (nightly) code out there using the current Rust format that would break if we changed to GCC style so it's probably only

[2017-10-06 07:22] parched commented on #44538
@nikomatsakis @arielb1 There's no bug in rustc here, the bug was in the out of tree target spec that was used. The take away from some of the discussion though is, we should probably add `+strict-align` to the in tree Armv6 targets for _performance_, not correctness, reasons. Do you agree @japaric?

[2017-10-06 07:34] parched commented on #44722
@alexcrichton Would you be apposed to have both `armv7-linux-androideabi` and `thumbv7-linux-androideabi`  as well as `armv7-unknown-linux-gnueabihf` and `thumbv7-unknown-linux-gnueabihf` targets? Ultimately I think we want to give the user the choice between Arm and Thumb for every target but adding all those extra targets would probably be too much of a burden until Cargo does on demand std comp

[2017-10-06 07:51] Menschenkindlein commented on #43871
It didn't look as a feasible task for me to combine the `lookup_*` functions, because the closure in the common function would have to take a very complex set of arguments. And I would need to put too many constraints into that function. For example, in the search for enum, I don't need the order of modules to be stable, but I would need to use `for_each_child_stable`. That's why I tried to make m

[2017-10-06 08:47] danielpclark commented on #23121
Is there any way I can use this on stable and beta?  I'm not doing anything fancy.  Just matching against the last to vector items and the first vector item as a separate match.

[code]

I don't want to turn my crate into a nightly only package just for this.

[2017-10-06 08:56] michaelwoerister commented on #44941
@alexcrichton, Yes I think your assumptions and conclusions are correct. I also think that `#[inline]` functions are the main source of work duplication here. There's also debuginfo, which cannot be shared between codegen units, but that is usually rather cheap afaik.

We probably mean the same thing here: I would suggest treating them the same as regular polymorphic functions:
* Instantiate only

[2017-10-06 09:24] joepie91 commented on #43871
Just butting in here to say thanks to both of you - to @Menschenkindlein for making a great effort to solve this issue well, and to @estebank for providing mentoring on it :)

[2017-10-06 11:17] michaelwoerister commented on #41215
That's what I'm saying all along: None of this is supposed to be cryptographically secure. Using SipHash or even BLAKE2 would not change that.

[2017-10-06 11:30] michaelwoerister commented on #41215
@joshtriplett This is the benchmark I used:

[code]
I get these results:
[code]

TBH, I would be less comfortable with using SeaHash than with using MetroHash since SeaHash is even newer. There's no doubt that SeaHash is a great hash function but for this use case I prefer something more boring `:)`

[2017-10-06 11:44] michaelwoerister commented on #41215
@nagisa Thanks for those numbers! Looks like SipHash is the better choice then.

[2017-10-06 11:51] LeopoldArkham commented on #44843
Hey @Manishearth, I'd like to do this;

I have a few questions (new to the compiler):

- Is this only shown if all tests pass, or does it just ignore failing tests?
- Does this overwrite a regular test binary? Or produce a separate binary the way `bench` or `build` does?
- I see where in `libtest` I can get the metrics info and add the functionality. Would I need to propagate these changes elsewhe

[2017-10-06 12:22] arielb1 commented on #43875
Merged in #44936.

[2017-10-06 13:03] chris-morgan opened #45061 "FAQ describes something from 1½ years ago as “recent”"
https://www.rust-lang.org/en-US/faq.html#why-do-rust-programs-have-larger-binary-sizes-than-C-programs:

That “recent” was almost a year and a half ago. Presuming it’s been stable since then (I haven’t investigated deeply and am going to bed right now), I think it’s time to reword it.

[2017-10-06 13:34] kennytm commented on #45061
It is not yet stable, see #35784.

[2017-10-06 13:39] Zoxc opened #45062 "compile-fail\incr_comp_with_macro_export.rs fails"
On master ed1cffdb21220f633b8b91f099a69fab4ef2b8f4 x86_64-pc-windows-msvc

`compile-fail\incr_comp_with_macro_export.rs` fails:
[code]

@michaelwoerister

[2017-10-06 13:45] petrochenkov commented on #45062
I've seen this as well, it happens with dirty `tmp/cfail-tests/incr_comp_with_macro_export` and disappears if that directory is purged.

[2017-10-06 14:09] oconnor663 commented on #43592
The fix just landed in master. @alex, any chance you can test it after the next nighty comes out?

[2017-10-06 14:19] alex commented on #43592
Will do. (Although I haven't seen this error in a few days, probably because race conditions :-/)

[2017-10-06 14:20] michaelwoerister commented on #45062
Thanks for the bug report! I'll look into it.

[2017-10-06 14:21] alexcrichton commented on #44722
I'm probably the wrong person to be asking these questions, I just r+'d the PR which we defined to be correct, I don't know enough about ARM/thumb to make decisions about what targets we should be providing.

[2017-10-06 14:47] oconnor663 commented on #43592
Btw, n00b question for you @alex. How do you figure out from `std::sys_common::net::{{impl}}::drop at net.rs:160` that it's actually line 181 or whatever that's to blame? Are there other tools that tell you who wrote to what memory?

[2017-10-06 14:53] alex commented on #43592
I didn't, at least not conclusively. I hit this crash, @Manishearth pointed me to this bug, and since it was crashing in "the right place", it seemed that with high probability this was the right diagnosis :-)

If I hadn't been pointed at this issue, I probably would have compiled with ASAN and seen what I hit.

[2017-10-06 15:11] stepancheg commented on #44286
Oh, it is not public API, thanks.

But this function does not allow to replace key without replacing value.

BTW, there's already a function to replace value, it's called insert.

So if we had `replace_key` instead of current `replace`, then current `replace` could be emulated as:

[code]

`replace_key` is not possible now, and `replace` is redundant if we had `replace_key`.

Please ignore that.

[2017-10-06 15:12] steveklabnik opened #45066 "read_to_string doesn't handle BOM"
Apparently, UTF-8 allows, but does not require, a BOM.

When calling `read_to_string` on such a file, it panics with `StringError("stream did not contain valid UTF-8")`

Python, however:

[code]

[2017-10-06 15:19] japaric commented on #44538
Yeah, I agree. The Cortex-M target already has that feature enabled for correctness (otherwise programs crash) but all the other ARM Linux targets should see perf improvements. I'd be interested in seeing an after vs before RPi benchmark -- just to get an idea of the perf "penalty" the current targets have.

[2017-10-06 15:21] rgdoliveira commented on #31322
I'm trying to bootstrap rustc (1.20.0) in Alpine ppc64le. As the bootstrap script download "rustc" and "cargo" binaries that are compiled with gblic, I copied the /lib64 from Ubuntu ppc64le so I have glibc in my Alpine system (yeah, it is a hack) and rustc and cargo binaries work.

I created a target for musl ppc64le (powerpc64le_unknown_linux_musl.rs) and I'm building with command: `./x.py build

[2017-10-06 15:35] jjpe opened #45067 "[Stable] ICE on Windows 7 when compiling dependencies"
UPDATE 2:
I just talked over this issue on [internals](https://internals.rust-lang.org/t/familiarity-with-rustc-code/6015/2) and it strongly looks like this ICE is triggered because the code was effectively on a network drive. I moved the project to an internal disk, and now it compiles fine.
Still, I'd rather not close this issue just yet, as it would be nice to be able to compile from a network

[2017-10-06 15:39] jrmuizel opened #45068 "rust can't serialize 11 fields efficiently"
Using noalias (#45012) let's rust generate much better code for the serialization of 10 fields in good_bake_bytes() however it falls back to terrible with the 11 fields of bad_bake_bytes()

[code]

[code]

[2017-10-06 15:57] steveklabnik commented on #45066
User error, quite embarrassing, please ignore.

[2017-10-06 15:57] #45066 closed

[2017-10-06 16:31] pcwalton commented on #45068
Wild guess: A larger function trips the inlining thresholds differently, causing a pass ordering issue.

[2017-10-06 16:41] SimonSapin commented on #44874
I got caught in some more Stylo work that's gonna take a while, so if someone else wants to work on this in the meantime feel free.

[2017-10-06 16:48] johalun commented on #42681
I extracted your builds to `$HOME/.rustup/toolchains/nightly-x86_64-unknown-freebsd` replacing the broken nightly installed by rustup and it works perfectly combined with
[code]

Now I can build and run my new favorite tool `exa` :)

[2017-10-06 16:58] Manishearth commented on #44843
Probably ignore failing tests. But only when all tests pass is also fine by me.

We can build this instrumentation into the regular binary and have it take the `--slowest N` argument that turns on measurement and reporting. I think. Making it a part of the test-binary-build step instead is fine too.

Eventually we'd need cargo changes. I'm not fully clear on how the testing stuff works to know exa

[2017-10-06 17:07] kennytm commented on #44874
Is this supposed to allow any type as long as it involves `Self`? Or must it impl `Deref<Target=Self>`?

[code]

[2017-10-06 17:08] jrmuizel commented on #45068
Running llvm trunk opt doesn't fix it. @sunfishcode any ideas what might be happening here?

[2017-10-06 17:08] dtolnay opened #45070 "Regression in what path is chosen for error messages"
[code]

#### Error with rustc 1.21.0-beta.3 (ea1fd7d42 2017-09-15):

[code]

#### Error with rustc 1.22.0-nightly (417c73891 2017-10-05):

[code]

I would expect the error message to show `std::convert::From`, not Serde's re-export at least in code that has nothing to do with Serde.

[2017-10-06 17:15] jsgf commented on #41555
Does this need release notes? Is this where that gets tagged?

[2017-10-06 17:23] myfreeweb commented on #42681
You can actually tell rustup to add a custom directory as a toolchain so it won't overwrite :)

That one doesn't fully match the actual layout of the structs in 12! I think it's made for that live patched version. Use https://github.com/myfreeweb/libc instead.

[2017-10-06 17:25] sunfishcode commented on #45068
I'm looking into it (building a compiler with the appropriate patch now). In the mean time, just to be clear, the problem here is the
[code]
updating the length field of the `Vec` after each element is written in the "bad" version. In the "good" version, LLVM figures out that the length field isn't written to by the other stores, so it's able to combine all the increments and do a single store at

[2017-10-06 17:47] jrmuizel commented on #45068
Exactly.

[2017-10-06 18:09] johalun commented on #42681
I'm getting  `error: toolchain 'custom' does not support components`
Is there anyway to get custom toolchain to support components? (at least rust-src)

[2017-10-06 18:12] aidanhs commented on #43402
Ok, the error emitter itself is on a different thread. I'll see if I can figure out a fix.

[2017-10-06 18:59] basyg commented on #38038
It can be done with inverting conditions - first condition must be checking a.next() and returning, and only else do something other.

`/// this is a simplified version of std::iter::Chain
pub struct Chain2<I> { a: I, b: Option<I> }

fn chain2<I>(a: I, b: I) -> Chain2<I> where I: Iterator {
    Chain2 { a: a, b: Some(b) }
}

impl<I> Iterator for Chain2<I> where I: Iterator {
    type Item = I::Ite

[2017-10-06 19:00] basyg commented on #38038
Some benchmarks:
test chained  ... bench:       3,100 ns/iter (+/- 168)
test chained2 ... bench:         696 ns/iter (+/- 24)
test unrolled ... bench:         733 ns/iter (+/- 243)

[code]

[2017-10-06 19:08] basyg commented on #38038
It can be done with inverting conditions - first condition must be checking a.next() and returning, and only else do something other.

[code]

[2017-10-06 19:09] basyg commented on #38038
Benchmark:
test chained  ... bench:       3,138 ns/iter (+/- 209)
test chained2 ... bench:         696 ns/iter (+/- 7)
test unrolled ... bench:         733 ns/iter (+/- 27)

[code]

[2017-10-06 20:05] Eh2406 commented on #44366
Thanks @nivkner! Let me know when I should rerun the script.

[2017-10-06 20:10] bluss commented on #38038
@basyg Nice!! Would it have to have an inferior DoubleEndedIterator implementation?

I can see that this seems to work -- but without the same nice performance.

[code]

[2017-10-06 20:18] bluss commented on #38038
I think this fix is needed to behave correctly w.r.t fusing (not calling .next() on a subiterator that has already returned None):

[code]

[2017-10-06 20:19] sunfishcode commented on #45068
It's due to the hard-coded limit in CaptureTracking [here](https://github.com/llvm-mirror/llvm/blob/master/lib/Analysis/CaptureTracking.cpp#L212).

The code does this:
 - load the buffer pointer from the Vec
 - store the first float to the buffer
 - load the length from the Vec

and the key question is whether that store writes to the memory read by the following load.

The `noalias` on the argume

[2017-10-06 20:47] jrmuizel commented on #45068
Is there something we can do to make llvm's job easier?

[2017-10-06 20:58] liranringel opened #45073 "Functions are mangled even if the link_name attribute is specified"
I'm trying to use bindgen.
When targeting `i686-pc-windows-msvc` on 64-bit windows host, I noticed that the generated function symbol is mangled even if the `link_name` attribute is specified. Bindgen already mangles the function and passes it as a value to the `link_name` attribute, so the function is mangled twice (which is wrong and produce a link error).

For example, with the following header

[2017-10-06 21:22] pcwalton commented on #45068
Could we up the limit as a compiler option here?

I know this is the kind of thing we can't select a good value for in general, but for WebRender we could select a value that we know always produces good serde codegen for us.

[2017-10-06 21:26] pcwalton commented on #45068
@jrmuizel Doing this optimization ahead of time in rustc on MIR would help. It's easier for rustc to tell that pointers don't alias.

Unfortunately, MIR optimizations are missing a lot of basic infrastructure to enable this kind of thing; for example, they can't do inlining or SROA yet…

[2017-10-06 21:29] pcwalton commented on #45068
I'll write the LLVM patch to add an option if nobody objects.

[2017-10-06 22:03] alexcrichton commented on #44941
Some excellent news!

I implemented the strategy of "online inline functions into one codegen unit" and the updating timings I get are:

|     cgus      |   1  | 2  | 4 | 8 | 16 | 32 |
|----------|----|--|--|--|----|---|
| wall time | 30.7 | 25.2 | 21.0 | 19.0 | 18.4 | 18.7 |
| cpu-clock | 30864 | 31387 | 31876 | 32525 | 34341 | 35370 |
| 1 core wall time | 31.2 | 30.8 | 30.8 | 30.6 | 30.7 | 30.6

[2017-10-06 22:18] pcwalton commented on #45068
Patch is up: https://reviews.llvm.org/D38648

[2017-10-06 22:37] basyg commented on #38038
@bluss For effective DoubleEndedIterator I tried something like this:

[code]

[code]

But performance always is poor and it's difficult to imagine why.

[2017-10-06 22:37] jrmuizel commented on #45068
In the mean time I can work around this by making it so that instead of modifying length every write we just move the pointer and compute the length at the end.

[code]