[2018-07-12 13:52] jendrikw opened #52307 "Precedence of type macros is confusing"
When calling an associated function on a struct, type macros behave very strange and produce weird error messages.

#### Example on [playground](https://play.rust-lang.org/?gist=4b32032565865ae49cc2ce674409d87e&version=nightly&mode=debug&edition=2015)

[code]

Naturally, one would expect that `TypeMacro!(u8)` is the same as `S<u8>` because it is defined that way.

The result is the same on all rus

[2018-07-12 14:08] pnkfelix commented on #52053
visited for triage.

@varkor are you waiting for more guidance on potential ways to proceed? I cannot tell from your comment whether you are implicitly asking for this bug to be downgraded in priority, due to potentially-inherent inefficiencies in ways to resolve it?

[2018-07-12 14:11] YaLTeR commented on #52274
That's great! How do you decide if the type is small enough, though? Since AFAIU it depends on the platform and other circumstances.

[2018-07-12 14:11] pnkfelix commented on #52050
visited for triage. @nikomatsakis is currently out, but scheduled to be back early next week, so we'll just wait until then to see what progress is made.

[2018-07-12 14:12] adam-rhebo commented on #52297
Means compiled with Clang 3.8 instead of GCC for PowerPC as both GCC and Clang work on `amd64` and `armv7`.

[2018-07-12 14:18] pnkfelix commented on #50422
visiting for triage.

These are some awesome notes from @gnzlbg . In order to get this bug out of my own issue queue, I'll try to recreate the steps listed and simultaneously port them into docs that we can put on the rustc-guide (or forge or something, as @nikomatsakis said...)

[2018-07-12 14:19] petrochenkov commented on #52307
The syntax is `PATH::assoc_item`, not `TYPE::assoc_item`, for non-path types angle brackets have to be used - `<[T; N]>::assoc_item`.

`[T; N]::assoc_item`/`(A, B)::asoc_item`/etc even have a special error recovery and help message for this case:
[code]

Supposedly `mac!()::assoc_item` should have this help as well, but it doesn't for some reason.

[2018-07-12 14:21] oli-obk commented on #50814
There is a full fix in https://github.com/rust-lang/rust/pull/51570, but it's overzealous and will error on completely fine code. The correct solution is outlined in https://github.com/rust-lang/rust/pull/51570#discussion_r198874755 but that requires some refactorings that @TheDarkula is currently working on. After their refactorings are done I'll update the PR to implement the fix properly.

[2018-07-12 14:23] eddyb commented on #50422
@gnzlbg Sorry, no. Do you mean something like this?
[code]
This should generate code that's effectively an unchecked variant field access, `(x as Some).0`, bypassing all the noise from `unwrap` or anything else that panics.
But it might be safer to use the `abort` intrinsic instead (which generates a trap).

[2018-07-12 14:31] pnkfelix commented on #49716
visiting for triage

assigning to @oli-obk to make sure that this gets mentoring instructions (or outright implemented), hopefully before Preview 2.

[2018-07-12 14:32] oli-obk commented on #52274
We do check the platform :D and hope for the best. If you have any improvement suggestions we're all ears.

[2018-07-12 14:33] pnkfelix commented on #49300
visiting for triage.

assigning to @michaelwoerister to ensure that it gets addressed (potentially via further delegation).

[2018-07-12 14:39] pnkfelix commented on #52092
visiting for triage. Assigning to @nikomatsakis for now, under assumption that he is best person to investigate this in the very short term.

[2018-07-12 14:41] petrochenkov commented on #52307
@jendrikw

Something like this `a::<b>::c<d>::e<f>`, including single-segment cases  like `a<b>` or `a`.
At least the syntax appendix in the book show it - https://doc.rust-lang.org/book/second-edition/appendix-02-operators.html#appendix-b-operators-and-symbols.

No, the `<TYPE>::assoc_item` is a way to write associated items for "complex" types that are not paths like `*const T` or `[T; 10]`.
It'

[2018-07-12 14:41] pnkfelix commented on #52092
also making P-high for now. (I'm not 100% clear on how important the efficiency of this particular benchmark is, but it is probably worth treating it as high until someone can provide an argument for deprioritization.)

[2018-07-12 14:43] pnkfelix commented on #52126
visiting for triage. Assigning to self and marking P-high.

[2018-07-12 14:48] petrochenkov commented on #49300
Some status update: https://github.com/rust-lang/rust/pull/51952/commits/94ef9f57f5fa985beb7588e5cb4c73f1b5f2dcba was merged, so all macros (including legacy ones) can now easily generate identifiers with def-site hygiene.
So most of gensyms (although perhaps not all of them) should be replaceable with hygienic identifiers.

[2018-07-12 14:51] pnkfelix commented on #52108
visiting for triage.

Some notes, in part to self: mips64 is a tier 2 platform. We support building the tools (but not testing them) for such platforms ... and unfortunately we are doing such building via cross-compiles, so our continuous-integration system didn't catch whatever caused the build of bootstrap to start failing.

Marking at P-medium for now.

@draganmladjenovic I think we would be ha

[2018-07-12 14:54] pnkfelix commented on #52039
visited for triage. Marking as P-high. Not sure whom to assign it to, though.

[2018-07-12 14:57] pnkfelix commented on #50778
visiting for triage. No progress has been made that we know of. Sounds like we are still waiting for more reliable reproduction technique...

[2018-07-12 14:58] pietroalbini commented on #52180
@craterbot ping

[2018-07-12 14:59] Geobert commented on #50778
To be fair, since 1.27 I didn't encounter it again both on appveyor and my local PC

[2018-07-12 14:59] IsaacWoods commented on #52262
@hellow554 yup, am aware and I'm trying to find a minimal example that does (it does locally even after a `cargo clean`). There's clearly some subtlety in the actual code causing it to ICE

[2018-07-12 15:01] pnkfelix commented on #50586
visiting for triage. assigning self to evaluate current status and what our options are.

[2018-07-12 15:08] jendrikw commented on #52307
Well, I didn't know the syntax for a path because noone told me I needed a path. Even now, I don't know what it's needed for.

But do you agree that the error messages should me the same?

[2018-07-12 15:10] kennytm commented on #50586
If it is TLS it might be fixed by #51828. Someone needs to confirm.

[2018-07-12 15:13] #52273 closed

[2018-07-12 15:15] pnkfelix commented on #46908
triage: P-high

[2018-07-12 15:15] pnkfelix commented on #50865
triage: P-high

[2018-07-12 15:16] pnkfelix commented on #49482
triage: P-high

[2018-07-12 15:19] pnkfelix commented on #51608
triage: P-high

[2018-07-12 15:20] pnkfelix commented on #46908
(also, I am scheduled to discuss this with @spastorino tonight)

[2018-07-12 15:33] pnkfelix opened #52311 "beta backport PR 52232"
This is a dummy issue linking to PR #52232 so that we can have an open issue (which is apparently a requirement if one wants to leverage the rfcbot).

[2018-07-12 15:33] pnkfelix commented on #52311
@rfcbot fcp merge

I propose that we approve backporting #52232 to beta.

Since time is somewhat limited, and back ports are usually less controversial than the usual things that go through the fcp process, I'm going to add the additional note if there are no unresolved formal concerns in a week's time, I will just check off any unmarked check boxes. (This effectively inverts the rfcbot into "appr

[2018-07-12 15:34] petrochenkov commented on #52307
Yes, the error message should ideally look like one for `[T; N]`, e.g.
[code]

[2018-07-12 15:34] kennytm commented on #52311
What about stable?

[2018-07-12 15:34] pnkfelix commented on #52311
ugh I guess I will open a separate issue for stable? hashtag what a pain

[2018-07-12 15:35] pnkfelix commented on #52311
(who was the genius who suggested using async to resolve this. ... ;)

[2018-07-12 15:35] STA-WSYNC commented on #51838
Hi,

Could you turn off the stackguard stuff on downlevel OSs?

Tom

--
Email: tom.thornhill@gmail.com
Mobile +44 7922 539 306 (UK🇬🇧)  <- currently in  UK
Mobile: +886 981 102 534 (Taiwan🇹🇼)
Mobile: +1 202 848 7318 (US🇺🇸)
Skype: tom_thornhill

On 12 July 2018 at 16:26, Mihai Moldovan <notifications@github.com> wrote:

[2018-07-12 15:35] pnkfelix opened #52312 "stable backport PR 52232"
This is a dummy issue linking to PR #52232 so that we can have an open issue (which is apparently a requirement if one wants to leverage the rfcbot).

[2018-07-12 15:38] pnkfelix opened #52313 "beta backport PR 51956"
This is a dummy issue linking to PR #51956 so that we can have an open issue (which is apparently a requirement if one wants to leverage the rfcbot).

[2018-07-12 15:39] pnkfelix commented on #52313
@rfcbot fcp merge

I propose that we approve backporting this to beta.

Since time is somewhat limited, and back ports are usually less controversial than the usual things that go through the fcp process, I'm going to add the additional note **if there are no unresolved formal concerns in a week's time, I will just check off any unmarked check boxes**. (This effectively inverts the rfcbot into "ap

[2018-07-12 15:39] pnkfelix commented on #52313
darn it forgot to add tag first

[2018-07-12 15:40] pnkfelix commented on #52313
@rfcbot fcp merge

I propose that we approve backporting this to beta.

Since time is somewhat limited, and back ports are usually less controversial than the usual things that go through the fcp process, I'm going to add the additional note **if there are no unresolved formal concerns in a week's time, I will just check off any unmarked check boxes**. (This effectively inverts the rfcbot into "ap

[2018-07-12 15:42] pnkfelix commented on #52312
@rfcbot fcp merge

I propose that we approve backporting #52232 to stable.

I'm more wary of stable backports than I am of beta backports, so: I am **not** inverting the rfcbot on this ticket the same way that I did on #52311. If we do not get a sufficient number of check boxes ticked off, then the PR will **not** be approved for a backport to the stable channel.

[2018-07-12 15:42] scottjmaddox commented on #51817
Thanks for your response. I completely missed that detail when reading the documentation. Perhaps an extra phrase/sentence could be added to the documentation summary to make it more explicit? I'm probably not alone in skipping reading the `Examples` section if the function's usage is self explanatory. It could be changed, for example, to:

[2018-07-12 15:51] varkor commented on #52053
That first comment was just clarifying what the problem was, and why it's slightly more difficult than we thought it might be. I still need to give it some more thought as the best way to proceed; hopefully I'll have something by next week.

[2018-07-12 15:56] nagisa commented on #52312
@rfcbot reviewed

I find it kind of objectionable that we’ll end up releasing not one but *two* point releases this cycle…

[2018-07-12 15:58] alexcrichton commented on #52301
I believe this isn't the first of its kind for `libm` intrinsics in libcore, but the general story around them is "if you use `--gc-sections` and don't use the code that uses the intrinsics it doesn't matter" . @alex do you know if you're compiling with `--gc-sections` and/or enabling that sort of flag in the linker?

[2018-07-12 16:03] alex commented on #52301
We're not using gc-sections, we used to, but then we ran into some issues
so we stopped :-)

On Thu, Jul 12, 2018, 11:59 AM Alex Crichton <notifications@github.com>
wrote:

[2018-07-12 16:07] alexcrichton commented on #52301
Ah ok, in general Rust code is designed to be compiled with `--gc-sections`, otherwise there's binary bloat issues as well. I believe that compiling with `--gc-sections` will remove the dependence on these symbols as you're not likely using the code anyway

[2018-07-12 17:22] o01eg opened #52317 "Rustdoc cann't build rust documentation with custom libdir."
Looks like something related to https://github.com/rust-lang/rust/issues/45345

[code]

but file exists:
[code]

config.toml:
[code]

Affected rust version: 2d5a295d518b499360ec05df5447351a1e325846

Known to work revision: 478226cc2ab768d45cc8284652c5997559b7b05f

[2018-07-12 17:23] #52255 closed

[2018-07-12 17:47] draganmladjenovic commented on #51413
Effectively this is the same issue as in https://bugs.llvm.org/show_bug.cgi?id=38019 from @alexcrichton. I wasn't able to find rust-lang issue tied to this.  I've missed the date. There won't be any 1.27.* releases.

[2018-07-12 17:54] alexcrichton commented on #51043
Ok great, thanks!

[2018-07-12 18:03] alexcrichton commented on #51844
The conclusion of said discussion is that we're going to leave this as-is, but if any crates have difficulty updating we're more than willing to help!

[2018-07-12 18:03] #51844 closed

[2018-07-12 18:07] dekellum opened #52320 "Backport (security) fixes and release 1.26.3"
Before flat out denying this request, please give people time to provide situational reasons for or express pros/cons. Thank you!

[2018-07-12 18:09] tinco commented on #12590
I made a PR that fixes this behavior, turned out the parser simply forgot where module items come from, so it didn't know how to not expand modules, the fix was to track this information in the Ast.

[2018-07-12 19:11] eddyb commented on #52090
Don't we have `#[link(name = "...")]` or something for pretty much this purpose exactly?

[2018-07-12 19:12] jq-rs commented on #51844
Mles-client build is failing due to dependencies, thus it should work now as the dependencies are fixed. Just made a build with nightly, runs smoothly. So it was just miscategorized here.

[2018-07-12 19:15] eddyb commented on #51088
I prefer `#[link_section]` as well. Note that the format is already platform-dependent, i.e. for macOS' Mach-O you need something like `__DATA,__data` instead of `.data`.

[2018-07-12 19:24] alexcrichton commented on #52090
@eddyb unfortunately no, this is configuring a two-level namespace which we don't have a configuration for right now for other platforms. Something like `#[link(name = "...")]` is selecting the name of the library to link

[2018-07-12 19:29] lqd opened #52321 "Rustdoc sidebar: methods from impls on references to generic types differing in mutability have the same link"
In the sidebar for `Option`, https://doc.rust-lang.org/nightly/std/option/enum.Option.html, we can see two `cloned` methods.

![image](https://user-images.githubusercontent.com/247183/42654762-0a97fc22-861a-11e8-8973-b997d6f7ae4b.png)

The problem is that both links have the same URL even though they come from different impls: they point to https://doc.rust-lang.org/nightly/std/option/enum.Option.

[2018-07-12 19:32] eddyb commented on #51088
@alexcrichton wait, why the byte restriction? You can get the byte contents of any `miri` allocation, the only restriction you have to impose is no relocations (and other executable formats also have relocation restrictions).

[2018-07-12 19:33] eddyb commented on #52090
@alexcrichton But isn't the first of the two level-namespace equivalent to the library half of the pair of "library and symbol" from, e.g. Windows?

[2018-07-12 19:49] alex commented on #52301
@alexcrichton I haven't dug in any depth, but adding `--gc-sections` doesn't appear to have resolved it (https://github.com/alex/linux-kernel-module-rust/pull/61 latest commit + travis run).

[2018-07-12 19:50] alexcrichton commented on #52090
@eddyb maybe? In that sense wasm has three namespaces because it'll still have archives of compiled C objects which need to be identified with `#[link(name = "...")]`

[2018-07-12 19:52] eddyb commented on #52090
@alexcrichton Ah, this makes more sense, sorry about the confusion!
Any overlap with maybe sections or using commas somewhere? I just expect that the more specific to wasm a mechanism, the more we'll regret it in the future.

[2018-07-12 19:54] alexcrichton commented on #52090
Currently no in the sense that wasm doesn't dictate any meaning with the first level of the namespaced import, it's up to bundlers and module instantiators to interpret that

[2018-07-12 19:56] alexcrichton commented on #51088
@eddyb Ok cool! That may be possible yeah. In that sense this could also be an issue in that case to change to:

* Remove `#[wasm_custom_section]` in favor of `#[link_section]`
* On the wasm target, `#[link_section]` can only be applied to `static` values, erroring out on all other locations
* On the wasm target, `#[link_section]` requires no relocations

Denying relocations means denying this, ri

[2018-07-12 19:56] ollie27 commented on #52321
This looks like a duplicate of #50746.

[2018-07-12 19:58] eddyb commented on #51088
@alexcrichton Yeah. `miri` literally uses a relocation model, so it should be easy to implement.

[2018-07-12 20:02] lqd commented on #52321
True :) thank you @ollie27

[2018-07-12 20:02] #52321 closed

[2018-07-12 20:06] gnzlbg opened #52323 "Update emscripten-llvm to version 7"
See https://github.com/kripken/emscripten-fastcomp/issues/193#issuecomment-403834842

emscripten already supports the wasm backend in LLVM7, so we should move the current emscripten-llvm from version 4.0 to that, so that we can remove all the workarounds lying around for LLVM < 5.0 (LLVM 5 is the new minimum supported version).

[2018-07-12 20:23] pietroalbini commented on #52312
By the way, isn't the core team responsible for approving point releases?

[2018-07-12 20:32] cuviper commented on #52305
Are you sure that was a fatal error?  On Fedora, I got such failed builds for both clippy and miri -- neither of which are shipped -- and the overall build was still successful.
https://kojipkgs.fedoraproject.org//packages/rust/1.27.1/2.fc29/data/logs/x86_64/build.log

There's also an problem with the installer, #51650, that would come later if your stage0 is also 1.27.

[2018-07-12 20:37] stearnsc opened #52325 "Incorrect 'never used' warning for struct when only use is in pattern match"
I ran across this implementing a one-time-use struct for a diesel query.
I incorrectly get a warning:
[code]
when compiling
[code]

I got this is on 1.27.0 stable, and verified still exists on 1.29.0-nightly (2018-07-10). I didn't find another issue that looked like the same thing, so hopefully this isn't a duplicate :).

[2018-07-12 20:47] stearnsc commented on #52325
Looks like the warning goes away if the trait impl constructs the struct, which I imagine happens almost always. In my case, the struct was deriving a trait instead of impl'ing something manually. My actual use was something more like:
[code]

[2018-07-12 20:48] pietroalbini commented on #52320
Why do you need a 1.26.3? Not trying to be dismissive, but if we do that there should be a pretty strong argument for it, especially because 1.27 has been released for some time and we're approaching 1.28.

[2018-07-12 20:53] alexcrichton commented on #51088
@eddyb hm but it still leaves a weird question I think in terms of:

[code]

This means that `A` is *both* in the main memory as well as a custom section? On all other platforms main code can reference custom sections?

[2018-07-12 21:08] csmoe commented on #52325
`let Foo { s } = get_thing();` You're assigning `s` with pattern matching here, the `Foo` isn't' used indeed.

[2018-07-12 21:11] Centril commented on #51115
Should this be closed now?

[2018-07-12 21:33] shepmaster commented on #52288
This was [cross-posted to Stack Overflow](https://stackoverflow.com/questions/51301170/generalizing-over-pointer-mutability)

[2018-07-12 21:40] Emerentius commented on #52065
PR is merged and backported

[2018-07-12 21:40] #52065 closed

[2018-07-12 21:43] oli-obk commented on #52313
We did indeed discuss this and I have no objections to backporting this. Quite the opposite. Not backporting would mean some people can't document their code anymore once this hits stable

[2018-07-12 21:50] ollie27 commented on #52260
Which version of rustdoc are you using? It works fine for me using 1.27 stable and newer:

![image](https://user-images.githubusercontent.com/7189418/42661299-b2b21ed2-8625-11e8-88b8-acfee8e81e3b.png)

[2018-07-12 21:51] oli-obk commented on #52288
Such a feature would be a major language change and requires an RFC. There is some discussion on the issue tracker of the RFC repo: https://github.com/rust-lang/rfcs/issues/414

[2018-07-12 21:51] #52288 closed

[2018-07-12 21:54] Keats commented on #50778
I don't seem to run into it on appveyor either using the latest stable, or at least it's not 100% of the time anymore

[2018-07-12 22:01] rpjohnst commented on #50547
You used the presence of keywords as your argument for why the dichotomy still exists in Midori. If you remove them, where is the dichotomy? The syntax is identical to all-sync code, but with the capabilities of async code.

[2018-07-12 22:36] alexcrichton commented on #52301
@alex hm is it possible to get the full linker command line printed out by the makefiles? If these symbols are still being referenced when `--gc-sections` is passed that's perhaps a bug! Or perhaps a facet of another flag being passed to the linker.

[2018-07-12 22:40] dekellum commented on #52320
## Motivation

For some published crates, I have an update policy of supporting the last 3 minor (M.m) stable releases. This policy is not unlike other prominent projects see tokio-rs/tokio#465 and its [policy](https://github.com/tokio-rs/tokio/blob/6f5703f613001798f0fb1fc4b8b76993808b9901/.travis.yml#L15) which is similarly expressed in CI, as an established standard, for lack of cargo support.

[2018-07-12 22:43] Ichoran commented on #23416
As a long-time user of Scala, I have only very rarely seen anyone confuse `: Foo` with `.asInstanceOf[Foo]`.  Granted, `as Foo` is less different syntactically, but I still think it is very important for correctness to be able to distinguish between telling the compiler "I believe this type to be that, but check it for me" and "I want you to make this type be that if you can".  That is, I want som

[2018-07-12 22:47] cuviper commented on #52320
My understanding is that match-ergo code which compiles successfully with the newer `rustc` should also be fine with the 1.26.x releases.  In other words, the older ones would allow things that they shouldn't, but truly correct code should be fine either way.

[2018-07-12 22:49] Lucretiel commented on #52279
That's close, but I'd propose a further change, to emphasize that zip always does `a.next(); b.next()`, and that if `a.next()` returns None, it short circuits and returns None immediately, without calling `b.next()`

[2018-07-12 23:05] varkor opened #52327 "Consolidate generic "parameter" versus "argument" distinction"
There's currently an internal distinction in the terminology for generic parameters (the variables in a type signature) and generic arguments (the actual values for those variables that is passed in).

For example:
[code]

This terminology is used inconsistently in user-facing strings, like error messages. For example, `E0087` has text such as `expected at most 0 type parameters, found 1 type para

[2018-07-12 23:06] Mark-Simulacrum commented on #52320
This change presumably does not affect library authors in that if you support 1.27.x then downstream users can utilize this patch. Rust does not currently support anything except for the last stable release for security and other similar patches; distros are of course welcome to backport as much as they want.

This change (like @cuviper says) only stops incorrect code from functioning; if your lib

[2018-07-12 23:15] Mark-Simulacrum commented on #52312
The core team also discussed this today and we're generally in favor of a 1.27.2 release, scheduled for next Thursday. I will be creating and cross-linking an internals post to this thread after the next nightly release asking for interested users to test and try to find holes in the fix (and, probably, match ergonomics in general) with the goal of finding problems before the point release.

[2018-07-12 23:29] parasyte commented on #50547
On Thu, Jul 12, 2018 at 3:01 PM, Russell Johnston <notifications@github.com>
wrote:

Because when you call an async function without awaiting its result, it
synchronously returns a promise. Which can be awaited later. 😐

[2018-07-12 23:30] Mark-Simulacrum commented on #52044
The patch that you listed as closing this (the LLVM 7 upgrade) wasn't backported to beta, so I'm unclear why you'd expect it to be fixed by it on beta. Perhaps I'm misinterpreting something?

[2018-07-12 23:34] glandium commented on #52044
What I'm saying is that the build environment in which rustc is built makes the problem appear or not, for the same version of rustc. There hasn't been a nightly produced since llvm 7 landed, so I did the build locally, and I marked this issue as fixed because it didn't happen on that build. But since a local build of beta with llvm 6 is also not affected, while the official beta is, that means ma

[2018-07-12 23:37] Pzixel commented on #50547
_Wow, someone knows something about Midori? I was always thinking that it's a closed-project with near no live creature working on it. It would be interesting if someone of you guys have written about it in more details._

</offtopic>

[2018-07-12 23:39] petrochenkov opened #52329 "Proc-macro definition attributes are accepted in arbitrary non-item positions"
For example,
[code]

*A lot* of stable built-in attributes have this issue as well, but if we can fix it in this specific case, then why not.
I think these kinds of checks are usually performed in `librustc/hir/check_attr.rs`.

[2018-07-12 23:39] BatmanAoD commented on #50547
@Pzixel No living creature is *still* working on it, because the project was shut down. But Joe Duffy's blog has lots of interesting details. See my links above.

[2018-07-12 23:46] mark-i-m commented on #51934
I think the current proposal is forward compatible with separator escaping, right?

[2018-07-12 23:53] Mark-Simulacrum commented on #52044
I also can't reproduce with the CI build of 64f7de92166f1f7d940575feff57ac33bc384550 (latest master commit as of now) so it's possible that the upgrade did in fact fix this, if not fully.

[2018-07-13 00:22] glandium commented on #52044
I can reproduce on a locally built beta if I use clang 6 (which is apparently what rustc automation is using) instead of gcc 5.4 (which is what's installed in the VM I'm using). And it does, indeed, not happen with master built with clang 6.

[2018-07-13 00:44] alexreg commented on #51934
@mark-i-m I don't think so, no. Because any future escape char chosen would be recognised as a separator char under the current behaviour (or if `$` were chosen, that would screw things up too). It would require a new edition lint. Maybe best to reserve an escape char now?

[2018-07-13 01:30] glandium commented on #52044
This is driving me crazy. Here's how things go in my VM:
- rustc with llvm 6, built with clang 6.0 -> happens
- rustc with llvm 6, built with gcc 5.4 -> doesn't happen
- llc from llvm 6, built with clang 6.0 -> doesn't happen !
- llc from llvm 6, built with gcc 5.4 -> happens !

- rustc with llvm 7, built with clang 6.0 -> doesn't happen
- rustc with llvm 7, built with gcc 6.0 -> doesn't happen
-

[2018-07-13 01:35] Ixrec commented on #52320
I thought every version of Rust since 1.0 has had some known soundness bugs. For example, https://github.com/rust-lang/rust/issues/10184 and https://github.com/rust-lang/rust/issues/18510 and https://github.com/rust-lang/rust/issues/27282 have been known for years (though now all of them have at least one failed or upcoming attempt to fix).

[2018-07-13 01:47] jackpot51 opened #52331 "Correcting Path::components on Redox"
`Path::components` is incorrect on Redox. I would like to develop the solution
here: https://github.com/rust-lang/rust/pull/51537.

The following is a description of the problem.

Suppose you have the following path:

`file:/home/user/foo/bar.txt`

You split the path into components using `Path::components`

[code]

In Linux, this would be equivalent to the following:

[code]

Joining the componen

[2018-07-13 01:52] dekellum commented on #52320
Yet another way of saying it: Your position effectively is an End-Of-Life for rust 1.26.x. I wouldn't have bumped my minimum version to 1.26.x if I knew that EOL was coming so soon.  I would have instead waited to see if 1.27 or 1.28 were effectively stable for practical use.

[2018-07-13 02:05] cuviper commented on #52320
Rust doesn't do LTS (yet). Every release except the current stable is EOL, if you want to think of it that way.

[2018-07-13 02:21] glandium commented on #52044
At least I can confirm that this does indeed not happen with the now latest nightly, with llvm 7.

So... `¯\_(ツ)_/¯`, I guess.

[2018-07-13 02:32] csmoe commented on #52329
For some built-in attributes like:
https://github.com/rust-lang/rust/blob/64f7de92166f1f7d940575feff57ac33bc384550/src/libstd/panicking.rs#L176-L186
is this one legal in this issue?

[2018-07-13 02:44] #49232 closed

[2018-07-13 03:01] frewsxcv commented on #48525
We might want to reuse some of the language from [`Vec::from_raw_parts`](https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html#safety):

[2018-07-13 03:13] geofft commented on #52301
@alexcrichton For what it's worth, `--gc-sections` does in fact fix this on Ubuntu 18.04 (kernel 4.15.0-1007-aws, binutils 2.30) but not on Travis's Ubuntu 14.04 image (kernel 4.4.0-101-generic, binutils 2.24 I think). On 18.04 the relevant linker command, from running the kernel buildsystem with `make V=1`, is

[code]

On Travis, the corresponding command is the same except without `-z max-page-s

[2018-07-13 03:53] zackmdavis commented on #52325
@stearnsc Thanks for the report! You are right that the issue is that the lint is firing because the struct isn't constructed even if it's used as a match pattern. The message wording [was changed for unused enum variants](https://github.com/rust-lang/rust/pull/46103) not too long ago for exactly this reason; perhaps we should do the same for structs as well. (Unless someone objects to the consona

[2018-07-13 03:59] frewsxcv commented on #51817
@scottjmaddox That wording looks good to me! Do you want to open a pull request with that change? If not, I can 💁‍♂️

[2018-07-13 04:00] frewsxcv commented on #51817
Also we may want to add the same addition to `binary_search_by` and `binary_search_by_key`

[2018-07-13 05:31] purpleposeidon opened #52334 "ICE when casting extern "C" fn when it has a non-FFI-safe argument."
[code]

Playground: https://play.rust-lang.org/?gist=3fa8a28e06dc77fb478a33e872348f15&version=stable&mode=debug&edition=2015

[2018-07-13 06:35] eddyb commented on #51907
Do we want to backport the fix or anything?

[2018-07-13 06:58] eddyb commented on #28796
*sigh* Unsized arguments are *such a small part* of by-value DSTs - they *don't even are* by-value DSTs, since you can always pass those arguments by reference!
We had `Box<FnOnce()>` working ages ago but then @nikomatsakis removed support for it.

[2018-07-13 07:41] locka99 commented on #51443
For anyone reading this, I got the warning/error on a trait that was like this:

[code]
In my case I was able to make the problem go away by requiring the thing implementing Config to also implement serde::Serialize:

[code]

[2018-07-13 07:43] eddyb commented on #36629
Why was the #51450 PR accepted, while the RFC is still unmerged?

I disagree with the approach taken (a new lint), we should either (https://github.com/rust-lang/rfcs/pull/2471#issuecomment-397418564):
* figure out why `unused_attribute` isn't firing, and let that handle the lint side
* properly support `#[test]` functions *anywhere*, as per https://github.com/rust-lang/rfcs/pull/2471#issuecomment

[2018-07-13 07:47] eddyb commented on #50822
@oberien It's not just implementation complexity, it's also predictability. See #27336.

[2018-07-13 08:01] glandium commented on #50822
Come to think of it, inference shouldn't even be involved. For a type `Foo<A=X, B=Y>`, `Foo` means `Foo<X, Y>`, `Foo<T>` means `Foo<T, Y>` and `Foo<T, U>` means `Foo<T, U>`. All those are explicit types, they are not inferred nor should they be.

This is not made up, this is how rustc itself presents those types in errors. It even goes as far as presenting `Foo<X>` and `Foo<X, Y>` as `Foo`.
https:

[2018-07-13 08:02] jjpe commented on #50586
I just built my crate with using `cargo +nightly run --release` and with `lto = true` removed from Cargo.toml.
`cargo +nightly -V`  reports  `cargo 1.29.0-nightly (af9e40c26 2018-07-05)` (which is a tad odd, since I ran `rustup update` right before that, and rustup reported having updated nightly to `rustc 1.29.0-nightly (64f7de921 2018-07-12)`).

I cannot reproduce the issue anymore.

[2018-07-13 08:10] eddyb commented on #47389
@estebank IMO the first step would be to make spans file-local (including treating macro expansions as "files"), which would already get rid of a lot of the span-related churn.

For intra-file deltas, I'd rather adjust all the spans when decoding them (taking into account whether some things were *accessing* the line/column information from spans), but this scheme only works really good if you *do

[2018-07-13 08:22] ishitatsuyuki opened #52337 "rustbuild: panic executing tidy with local rustc"
config.toml: https://gist.github.com/0c9bf562b8e4e14142e2549059111e61

[code]

[2018-07-13 08:35] eddyb commented on #50822
@glandium `Foo::bar` is not `<Foo>::bar`, it's `<Foo<..>>::bar` - that is, in a value context, a path *always* infers type parameters, otherwise people would have to do `HashMap::<_, _, _>::default` etc.

[2018-07-13 08:39] michaelwoerister commented on #49300
Thanks for the awesome work so far, @petrochenkov!

The current situation is that we don't use `gensym` anymore but we are still not hashing things properly: https://github.com/rust-lang/rust/pull/51492#issuecomment-399971873

I haven't had time to think about the various solution strategies yet.

[2018-07-13 08:40] glandium commented on #50822
Well, this bug is exactly that people have to do the equivalent of `HashMap::<_, _, _>::default`... see https://github.com/rust-lang/rust/issues/50822#issuecomment-389758598

[2018-07-13 08:42] eddyb commented on #47389
@michaelwoerister I have my own agenda here, which is to drive incremental recompilation from incremental reparsing (with a GLL parser, hopefully, not a hand-written one), instead of HIR.
So there would be no "parent item" to scope things to, just an affected region (the delta), and everything outside of that can stay "unchanged", aside from debuginfo.

[2018-07-13 08:45] SimonSapin commented on #50586
Thank you @jjpe for confirming that this is fixed!

(The Cargo version that you get together with Nightly is based on the `src/tools/cargo` submodule in this repository, which is only updated occasionally. This is why `cargo +nightly -V` shows can show a date older than `rustc +nightly -V`. In both cases the date is that of the latest merge commit made by @bors in the corresponding repository.)

[2018-07-13 08:45] #50586 closed

[2018-07-13 08:47] eddyb commented on #50822
@glandium My example was about inferring `S` instead of using the default. In your case, you want to *force* the default, which requires specifying at least one type parameter, or using `<Foo>::...`.

[2018-07-13 08:50] gnzlbg commented on #51267
@scottmcm did you open an issue about `wrapping_add` and friends ? Those should be const too.

[2018-07-13 08:54] eddyb commented on #35121
FWIW, `_` is *nothing like* a special variable name. It's an entirely separate pattern syntax which *does nothing* to the *place* being matched. Pattern-matching works on *places*, not *values*.
The closest it comes to a variable binding is `ref _x`, but even then you probably need NLL to avoid conflicting borrowing resulting from it. This works btw:
[code]

[2018-07-13 09:00] eddyb commented on #51088
@alexcrichton IIRC at least in ELF sections can be marked as not being loaded to memory at all, I wonder what happens then! My guess is either the relocation in `A` fails to link or the code segfaults.

[2018-07-13 09:01] pietroalbini commented on #51907
Well, this is pretty old, so backporting to stable is probably too much. Nominating for beta backport though. cc @rust-lang/compiler

[2018-07-13 09:01] michaelwoerister commented on #47389
I don't quite see how that would help here. Debuginfo (and the various datastructures that thread span info to it) is what this issue is about.

[2018-07-13 09:10] scottmcm commented on #51267
@gnzlbg No, I didn't.

[2018-07-13 09:11] faern commented on #51267
@glandium You can link to the stabilization PR #51364 in the initial post maybe? See you did that for the implementation PR.

[2018-07-13 09:16] eddyb commented on #47389
@michaelwoerister I might be getting confused. Is the proposal to *bypass* most of the transformations that would depend on the spans in question, by *specifically* keeping the `Span` representation the same across them, and *only* redo the e.g. codegen that actually *requests* the information pertaining to spans?
If so, why not add a query for getting filename/line/column (i.e. "source") informat

[2018-07-13 09:22] michaelwoerister commented on #47389
Yes.

This is basically what the approach about proposes, only that the above renames `Span` to `SpanId` to make it clearer that it's opaque and can only act as a lookup key. The caveat is that we would really have to make the span information inaccessible except for via the query.

[2018-07-13 09:31] glandium commented on #51267
Done (note I didn't add the item lists to the initial comment, oli_obk did)

[2018-07-13 09:35] eddyb commented on #47389
@michaelwoerister I'd expect all of the observable `Span` properties to be behind queries, but I may be missing some low-level detail of how red-green query incremental integration works.

[2018-07-13 09:40] michaelwoerister commented on #47389
The span information is part of the input to the compilation process, so we need to always hash it (in order to detect changes) and then the query unpacking the span must add an edge to the `DepNode` representing that input. Otherwise, if you check if you need to re-execute the `unpack_span` query, you wouldn't know how to find out.

[2018-07-13 09:43] petrochenkov commented on #52329
@csmoe
Yes, a number of attributes is valid in non-item positions.
This issue is only about three `#[proc_macro*]` attributes.

[2018-07-13 09:43] eddyb commented on #47389
Don't we have queries that only take `Ty` as input, how do those work?

[2018-07-13 10:09] asypost opened #52339 "the compiler unexpectedly panicked"
shadowsocks-rust git:(master) SODIUM_BUILD_STATIC=yes RUST_BACKTRACE=1 cargo build --release
   Compiling shadowsocks-rust v1.7.0-alpha.10 (file:///root/shadowsocks-rust)
error: internal compiler error: librustc_mir/monomorphize/collector.rs:750: Cannot create local mono-item for DefId(19/0:1273 ~ shadowsocks[af02]::relay[0]::udprelay[0]::dns[0]::{{impl}}[2]::new[0])

thread 'main' panicked at 'Bo

[2018-07-13 10:12] asypost commented on #52339
**Rust Version**:1.27.1
**OS(uname -a)**:Linux Marvin 4.4.0-93-generic #116~14.04.1-Ubuntu SMP Mon Aug 14 16:07:05 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
**Source Code I was compiling**:https://github.com/shadowsocks/shadowsocks-rust.git
**With command**:SODIUM_BUILD_STATIC=yes RUST_BACKTRACE=1 cargo build --release

[2018-07-13 10:22] michaelwoerister commented on #47389
What do you mean exactly?

[2018-07-13 11:11] earthengine commented on #35121
@eddyb

You didn't get my point. My assumsion is that in Rust there is currently no unsized rvalues can appear in code at all. But it turns out they appears in `let _:str = *""`, although such a value can live for no time, but in the syntatical level it do lives. Something like a ghost...

Your examples instead, is technically fully legal and it is not the point. `str` is unsized, but `&str` is si

[2018-07-13 12:21] oli-obk opened #52341 "`Ty::ty_to_def_id` does not yield all possible `DefId`s that it could"
I don't know if this is really problem, but e.g. the `ReachEverythingInTheInterfaceVisitor` reimplements this function (and yields a bunch of other `DefId`s, too.

This needs some looking at

Mostly leaving this here so I don't forget

[2018-07-13 12:38] SimonSapin commented on #35121
There is a similar "ghost" in an expression like `&*foo`. First you dereference `foo` and then take the address of the result *without moving it*. So it’s not the same as `& { *foo }`, for example.

[2018-07-13 12:38] eddyb commented on #47389
Nevermind, I think I see, `DepNode`s are an internal representation of the fact that the query extracts "hidden information" from the ambient context, as opposed to being fully determinstic on the input query key. I guess we could get better at this over time, but currently it's how it works.

[2018-07-13 12:39] oli-obk commented on #51388
Yea I think this is a dupe, handling over there

[2018-07-13 12:40] oli-obk commented on #52339
probably a duplicate of https://github.com/rust-lang/rust/issues/50865

[2018-07-13 12:40] #52339 closed

[2018-07-13 12:44] Aaronepower commented on #41555
Closing as this was stabilised in 1.26.0 and there doesn't seem to be any leftover features to be implemented.

[2018-07-13 12:44] #41555 closed

[2018-07-13 12:49] eddyb commented on #35121
@earthengine @SimonSapin No unsized rvalues ("value expression") exist there. Only lvalues ("place expressions") do. `*"foo"` is a *place*, and pattern-matching it doesn't require a value, only a place.

The names "lvalue" and "rvalue" are relics and somewhat misleading in C too, but even worse in Rust, because `let`'s RHS is an "lvalue" (place expression), despite the name.
(Assignment expression

[2018-07-13 12:56] tinco commented on #52174
I have a similar problem. If I make changes in libsyntax, and I run:

[code]

I get an exception about not being able to find std. I'm currently compiling and the exact error is lost in the backlog, but when I get the chance I'll try again and post the error here.

I also have the problem that even changes in tests trigger compilation of both stages.

[2018-07-13 12:59] tinco commented on #52174
Ah, my compilation failed, so I tried with `--keep-stage 0` again, this is the full error:

[code]

[2018-07-13 13:04] pnkfelix commented on #15287
Actually perhaps the right thing for me to do would be to put in the `feature(bind_by_move_pattern_guards)` and then have that, when NLL is enabled, be the thing that toggles what is currently controlled by `-Z disable_ast_check_for_mutation_in_guard`

[2018-07-13 13:49] gnzlbg opened #52345 "Suggestion in warning for extern function pointers broken"
https://play.rust-lang.org/?gist=d8a933822fb81608431b4001e6bae154&version=stable&mode=debug&edition=2015

Given this

[code]

the warning on `foo` is:

[code]

The code suggested does not work though, it should be `extern fn(...) -> ...` instead.

[2018-07-13 13:52] csmoe commented on #52334
the ice can be suppressed with reference prefix: `&::std::ffi::CStr`

[2018-07-13 14:11] ollie27 opened #52347 "Nonsense suggestion for `concat!(x)`"
The error for `concat!(x)` is:

[code]

That suggestion will clearly not work and gets worse when there are more arguments:

[code]

This suggestion was added by #51614. cc. @csmoe, @estebank

[2018-07-13 14:31] alexcrichton commented on #52227
It looks like the bootstrap compiler can't find its own set of target libraries though? If it can find `std` but not `proc_macro` that's suspicious!

[2018-07-13 14:51] djc commented on #52305
@cuviper ah, you are correct. I was thrown off because the error is all noisy with colors and then the final line is an understated white on black unindented or otherwise -adorned `Build completed successfully in 0:39:45`.

[2018-07-13 14:56] dekellum commented on #52320
"LTS" is a straw-man conflation of what I've asking for here.  Industry use of **L**ong **T**erm would imply at least a 1 year of **S**upport, but 1.27.1 is the latest stable, and 1.26.3 is only one minor release prior, released May 10, 2018 (2 months ago).

If you on one hand think it reasonable that ecosystem crate libs have minimum rust version policies like 2 or 3 stable releases from the late

[2018-07-13 15:00] Mark-Simulacrum commented on #52320
I think what (my, at least) confusion with your request is rooted in is that I don't understand how a library supporting compilation on 1.26.x is affected by future patches to the compiler. While there may be soundness bugs in a 1.26.x compiler, or security flaws, that's the users decision. The library may want to test itself on nightly to make sure it does not contain code that accidentally explo

[2018-07-13 15:17] alexcrichton commented on #52301
@geofft FWIW it's always been the case that `--gc-sections` is recommended with Rust, otherwise rust binaries have a lot of bloat they otherwise don't need. The core/std libraires are compiled to just a handful of object files (used to be just two!) and you don't need 90% of the code most of the time, and we rely on -ffunction-sections and -fdata-sections (turned on by default for Rust) plus --gc-

[2018-07-13 15:20] dekellum commented on #52320
In practical terms I think a known security issue (`rustdoc` is part of *compiler* or part of an effective rust *runtime*?) and soundness compiler bugs have a chilling effect on users when they are making decisions on when and what to upgrade to (in development, CI, and production), and if a library's minimum rust is acceptable.

You may not think this request is reasonable now, but like it or not

[2018-07-13 15:31] Mark-Simulacrum commented on #52320
No, rustdoc is not shipped as part of your library, or the users application. The user of the library (i.e., the person compiling the final binary) may run it, but your library does not need to protect them by bumping its own minimally supported version. Your library *works* on 1.26.2. It is correct, and completely so, on that compiler version.

I agree that soundness bugs and security flaws in th

[2018-07-13 15:41] dekellum commented on #52320
I agree with your suggestion that I don't need to change the minimum version that is currently established by CI only, in my lib.  However in practice, this means prospective users will need to decide if an upgrade to 1.27.1 is acceptable, and my stated project policy (at least 2, ideally 3, stable versions) is not really being fulfilled without a 1.26.3 release being cut.  I don't like the positi

[2018-07-13 15:47] Mark-Simulacrum commented on #52320
Your project supports 1.26.2, though? That is, I'm not sure why the project in question needs to change anything or is in violation of any of its policies.

[2018-07-13 15:53] dekellum commented on #52320
We are getting circular here, but to recap: Yes, my CI for the current release and current master says 1.26.2 as MSRV.  In practice: My prospective users must either upgrade to 1.27.1 (which is at odds with my stated policy) *OR* not use the current or future versions of my lib.

[2018-07-13 15:58] vi commented on #52320
Also `1.26.2` seems to be currently packaged rustc verison in Debian Sid.

Debian tends to tends to avoid frequent big updates, but accepts frequent-ish security fixes (i.e. minor updates).

I expect at least rustdoc and `/tmp` issue be patched during the packaging anyway (regardless of version number), but having `1.26.3` would probably decrease size of Debian-specific patch to rust package.

[2018-07-13 16:18] stearnsc commented on #52325
Thank's for the explanation! Is the consensus view that the warning is "correct" then, in that there _ought_ to be a warning for this case? This use of structs doesn't seem particularly hacky or weird to me, so it feels weird that my code should require a fair number of `#[allow(dead_code)]`s sprinkled throughout in order to compile without warnings.

Or, maybe rephrasing a bit, should the "bug" b

[2018-07-13 16:35] dekellum commented on #52320
Possibly, while other prospective users want to `rustup install 1.26.3`.

[2018-07-13 16:36] cuviper commented on #52305
We could have rustbuild write a prominent message after these optional tool failures, "but we don't care, continuing...", and then highlight the overall completion message too.

[2018-07-13 16:37] bryteise commented on #52227
Exactly! I'm curious why the strace log above shows it finding the library at least at some point during the compilation but then printing out it can't find the proc_macro crate when I have the libraries moved to /usr/lib64 from /usr/lib. I could live with just creating symlinks to /usr/lib64 for everything but that doesn't work either (based on the linker error if I have the libraries in /usr/lib

[2018-07-13 16:39] fintelia commented on #52320
It makes sense for library authors not to immediately expect their users to upgrade to new versions of cargo/rustc as soon as they come out. At the same time, this takes additional resources (i.e. doing things the old way, even if it is more complex). There currently seems to be a lack of guidance on how to balance these two factors.

If I understand correctly, @dekellum seems to be advocating for

[2018-07-13 16:43] cramertj commented on #52327
:bike: :derelict_house:: I usually call them both "parameters." If you said "generic argument", I'd think you were referring to an argument whose type was generic.

[2018-07-13 16:54] eddyb commented on #52341
`ty_to_def_id` is probably a hack for cache keying, and should ideally be removed?

[2018-07-13 16:57] eddyb commented on #52327
We could keep using "parameter" if we're referring to the *definition*, as opposed to the *use*.
E.g. "`Vec` has 1 type parameter, but 2 types were given".

[2018-07-13 17:06] djc commented on #52305
Those are nice improvements and probably low-hanging fruit, but what do you think of the suggestion to let `tools` or some other variable in the build config drive what components get built and installed?

We might even remove the `extended` variable and have sane defaults for `tools`.

[2018-07-13 17:07] estebank commented on #52347
@csmoe, we might get away with `println` calling a specialized `concat` where the builtin is just one method with different diagnostics depending on the callee. Just a thought though, you'll likely find a better solution :)

[2018-07-13 17:09] estebank commented on #52347
It'd be ideal if we could also keep the `expected a literal` messages to a minimum, by emitting only one diagnostic with a `MultiSpan` primary span. (In the last example, instead of three errors, only one pointing at all three arguments.)

[2018-07-13 17:15] cuviper commented on #52305
That also sounds good to better control which tools attempt to build.

[2018-07-13 17:21] cuviper commented on #52320
I brought up LTS because [RFC 2483](https://github.com/rust-lang/rfcs/pull/2483) is proposing such additional channels that *would* be eligible for longer-term backports like this.  The proposed term is still relatively short, but it would be a start.

[2018-07-13 17:42] eddyb commented on #39617
This was finished by #50228.

[2018-07-13 17:42] #39617 closed

[2018-07-13 18:07] nagisa commented on #52283
That is right @kennytm. Closing.

@Valloric in general, since `repr(Rust)` ADTs have no specified layouts, there should be no expectations with regards to equivalence between two different (or same looking) types.

[2018-07-13 18:07] #52283 closed

[2018-07-13 18:08] nagisa commented on #52313
@bors reviewed

[2018-07-13 18:33] dekellum commented on #52320
OK fair enough. FWIW, at the time I decided to call 1.26 my minimum supported rust, that RFC didn't exist. Obviously choosing an LTS, if one exists in the future, would be much wiser to avoid my particular predicament.

[2018-07-13 18:40] alexcrichton commented on #50543
Upgraded in https://github.com/rust-lang/rust/pull/51966

[2018-07-13 18:40] #50543 closed

[2018-07-13 18:52] sunfishcode commented on #52198
That sounds right to me. Even in LLVM, an aggregate return type in LLVM is essentially LLVM's convention for multiple return values, so it sounds desirable to use `i1` there too.

[2018-07-13 19:16] alexcrichton commented on #51088
Ok I've submitted https://github.com/rust-lang/rust/pull/52353 with @eddyb's suggestion, and if that's merged it'll just close this issue

[2018-07-13 19:49] #51244 closed

[2018-07-13 20:06] alexcrichton commented on #52227
I'm not sure myself :(

It doesn't sound like this is a regression, though, so I'm going to remove the tag.

[2018-07-13 20:08] joshtriplett commented on #52272
We should consider doing the same for `cargo fmt`.

[2018-07-13 20:14] bryteise commented on #52227
Yea, agreed. Thanks for thinking about it =).

[2018-07-13 21:04] ssbanerje opened #52356 "Compiler Panic"
The rust compiler panicks when compiling the following code:
[code]

### Backtrace
It produces the following backtrace
[code]

[2018-07-13 21:23] Ixrec commented on #52320
I suspect we should try to pull this discussion into [this internals thread](https://internals.rust-lang.org/t/concerned-about-rust-2018-stability/7932?u=ixrec) since some of the comments there are highly relevant and provide additional context.

In particular, from [@withoutboats's post](https://internals.rust-lang.org/t/concerned-about-rust-2018-stability/7932/2?u=ixrec):

This and the rest of t

[2018-07-13 21:32] nagisa commented on #52356
Probably https://github.com/rust-lang/rust/issues/50439.

[2018-07-13 21:32] Nemo157 opened #52357 "rustdoc: edition flag isn't propagated to doc-tests"
Given a file:

[code]

compiling it with `rustc --edition 2018 temp.rs` works. Attempting to run the doc-test via `rustdoc -Z unstable-options --edition 2018 --test temp.rs` gives:

[code]

which is the same error that `rustc --edition 2015 temp.rs` gives.

EDIT: Tested on versions:

[code]

[2018-07-13 22:00] ssbanerje commented on #52356
I'm not sure if they are related.

Seems like the code had a few bugs. The `buf.as_ref()` calls were incorrect.
Here is the correct code:
[code]

I would have expected this to be a compile error, not the panic.

[2018-07-13 22:06] #52085 closed

[2018-07-13 22:06] #52345 closed

[2018-07-13 22:48] andrewchambers commented on #47739
Just anecdotally, lots of permission check bypasses in the linux kernel have been from integer overflows.

[2018-07-13 23:29] RalfJung commented on #52174
Actually `--keep-stage` seems entirely broken: I just did `./x.py build`, then edited something in `librustc_mir`, and then did `./x.py build --keep-stage 1`. The result:

[code]

This is really bad, it extends the edit-compile cycle for miri from <3min to >15min...

[2018-07-14 01:07] Aaronepower commented on #28238
@eddyb What is currently blocking this issue?

[2018-07-14 01:52] alexcrichton commented on #52272
I've created a PR for moving this into Cargo at https://github.com/rust-lang/cargo/pull/5723

[2018-07-14 02:06] csmoe commented on #52347
@estebank I suspect this issue is more complex than I used thought, here is a testcase:
[code]
[playgroud](http://play.rust-lang.org/?version=nightly&mode=debug&edition=2015)
Since we are working with `concat.rs` here, when only ONE arg is passed into them, the emitted `"{}", foo` message ONLY helps `println!`, not `concat!`. And we cannot distinguish between `println!` and `concat!` here(only-one

[2018-07-14 03:10] Valloric commented on #52283
@nagisa

Sure, the layout is unspecified, but users still have expectations that what looks like a simple refactor that extracts an unnamed struct into a named one shouldn't increase the size of an enum.

In other words, this particular case doesn't look like a missed optimization to me; it just looks like a bug.

[2018-07-14 03:47] bobbobbio commented on #51388
The issue you mention seems to have something to do with impl trait (and looks like it goes away when the use is removed?) , whereas the issue I posted here crashes with even the simplest rust code. Are they really the same?

[2018-07-14 04:14] #52023 closed

[2018-07-14 04:23] shishtpal opened #52362 "error: linker `rust-lld` not found"
I installed Rust on my Raspberry pi3 but when i tried hello-world example from this page.
https://rustwasm.github.io/book/hello-world.html
it shows this error

[code]

[2018-07-14 06:04] dtolnay opened #52363 "Expansion info is reset for the mark"
[code]

Correct behavior on all compilers 1.15.0 through 1.28.0-beta.10:

[code]

But on nightly:
(UPDATE: The ICE is now suppressed, but the issue still needs investigation.)
[code]

---

#### Repro script

[code]

---

Mentioning @petrochenkov because this bug was exposed by #51726.

[2018-07-14 06:58] mqudsi opened #52365 "Dropping unused and unreferenced external crate should not trigger recompile"
After compiling a project that has a reference to an external crate in `Cargo.toml` but that is not imported (no `extern crate foo;`), a subsequent `cargo build` after dropping the unused dependency from `Cargo.toml` triggers a full rebuild.

Unless the removal triggers a change in the version of a different dependency in the lock file (which I don't think can currently happen in this scenario), a

[2018-07-14 07:16] npmccallum commented on #33417
@SimonSapin The never type is only used [here](https://github.com/rust-lang/rust/blob/master/src/libcore/convert.rs#L422). Could we stabilize `TryFrom` without that implementation and land it when never is stabilized? `TryFrom` is a pretty important interface even apart from the equivalence with `Try`.

[2018-07-14 07:30] oli-obk commented on #51388
Hmm... you're right. I mean impl Trait in the other issue is just the trigger, the cause is in a normal function calling another one, but here you have another crate

[2018-07-14 07:37] oli-obk commented on #28238
The new const propagator needs to be fixed to actually lint these functions

1. even if they are unused (make them nongeneric and don't use them -> no lint)
2. even if they are generic (currently generic functions seem to not get linted)

[2018-07-14 09:13] SimonSapin commented on #33417
Unfortunately not. It would be a breaking change to add this blanket impl after the trait has been stabilized and crates.io libraries have had a chance to implement for example `TryFrom<Foo> for Bar` while they also have `From<Foo> for Bar`, as the impls would overlap.

The decision so far has been that making `TryFrom` "compatible" in this way with `From` was important enough to block stabilizati

[2018-07-14 10:06] nagisa commented on #52365
Cargo has no concept of unused dependencies. For incremental-enabled builds, rustc should definitely notice there has been no change, and I think it does work as expected in that respect.

cc @michaelwoerister

[2018-07-14 10:42] blabarna opened #52369 "libtinfo.so.5: error adding symbols: DSO missing from command line, Debian 8.1"
Good day!
Please, can you help me with the problem, or give me info about such problem,
which appears when I tried to build grin using this manual:
https://github.com/mimblewimble/grin/blob/master/doc/build.md

on the command cargo build --release
the next error is shown and all compilation process breaks:
-------------------------------
= note: /usr/bin/ld: /home/vrchng/grin/target/release/deps/l

[2018-07-14 10:58] Bobo1239 opened #52370 "Using a proc_macro crate with more than 9 macros causes an ICE"
Minimal repro: https://github.com/Bobo1239/proc_macro_limit
`proc_macro_limit` defines 10 macros. `cargo test` results in an ICE (the test just contains `extern crate proc_macro_limit`). The ICE doesn't occur when any macro is removed.

edit: The ICE only manifest when using the proc-macro crate via `extern crate proc_macro_limit;`. So in the repro crate `cargo build` succeeds but `cargo test` fai

[2018-07-14 11:05] ArtemGr commented on #34502
How about using an environment variable, similar to `RUST_BACKTRACE`, to make this optional?

[2018-07-14 11:56] ralfbiedert opened #52371 "Warn about #[macro_export] mod m?"
I haven't used macros that often, but had to make changes in a 3rd party project.

During refactoring I tried to import macros from another module. I knew I had to add `macro_use`, `macro_export` somehow, but couldn't remember details.

While `rustc` was somewhat helpful in warning me on my first attempt:

[code]

It did not warn me about doing this:

[code]

where in reality I should have done th

[2018-07-14 12:04] kennytm commented on #52331
The [`Prefix` variant](https://doc.rust-lang.org/std/path/enum.Component.html#variant.Prefix) of the `Component` enum contains the [*opaque struct* `PrefixComponent`](https://doc.rust-lang.org/std/path/struct.PrefixComponent.html), not the [enum `Prefix`](https://doc.rust-lang.org/std/path/enum.Prefix.html).

This means a backward-compatible option 5 is available:

[code]

[2018-07-14 14:21] steveklabnik commented on #52362
Hm, there was some changes around this recently: https://github.com/intermezzOS/kernel/commit/f341033d342481c07b63dd0acf714a223e47d05f

But that's in target specs, which you don't have.

What's your `rustc +nightly --version'?

[2018-07-14 14:32] shishtpal commented on #52362
pi@raspberrypi:~ $ rustc +nightly --version
rustc 1.29.0-nightly (64f7de921 2018-07-12)

[2018-07-14 14:36] RalfJung opened #52374 "`incremental = true` causes 4-5x build time regression in generated rustc build times"
I am running `rm build/*/stage* -rf && ./x.py build src/libstd` in two different situations: With `incremental = true` and with `incremental = false`. All the other settings in `config.toml` are commented out. This is using 1731f0af22af16c461b2b7abe58988b8549b2de6.

With `incremental = false`, the build step "Building stage1 std artifacts" takes 46s.
With `incremental = true`, the same step takes

[2018-07-14 14:38] arielb1 commented on #51907
Please no backporting codegen changes to beta. They are likely to introduce more bugs.

[2018-07-14 14:38] GuillaumeGomez commented on #52357
So your problem comes from [this line](https://github.com/rust-lang/rust/blob/master/src/libsyntax/parse/parser.rs#L2276). But the bigger problem is: why is it 2015 and not 2018? To be more precise: we **do** give the edition to the parser, it just gets lost in the meantime...

[2018-07-14 14:50] oli-obk commented on #52374
cc @michaelwoerister

[2018-07-14 14:51] bjorn3 opened #52376 "Rustdoc not showing return type but showing return type lifetimes"
https://doc.rust-lang.org/nightly/nightly-rustc/rustc_mir/interpret/struct.Memory.html#method.allocations

![screenshot_2018-07-14 rustc_mir interpret memory - rust](https://user-images.githubusercontent.com/17426603/42725565-f13106c6-8785-11e8-8fd7-61a627bfe688.png)

[2018-07-14 14:59] jeppeter opened #52377 "cargo compiling error 122 on windows 7 x64 platform"
To whom responsible for this:
            I download https://static.rust-lang.org/dist/rust-1.27.1-x86_64-pc-windows-msvc.msi
and install on my windows 7 sp1 x64 ,  I select insert rust path into PATH environment variable , when i run cargo new hello and cargo build  it is error ,(see attachment) the most eror is os error 122  , first i guess ,the compiler is not in the right environment ,but when

[2018-07-14 15:08] RalfJung commented on #52374
I have reproduced this. I also refined the command to `rm build/*/stage* -rf && ./x.py build src/libstd --stage 1` to take less long. ;)

`incremental = false`:
[code]

`incremental = true`:
[code]
[code]

[2018-07-14 15:18] kennytm opened #52378 "Setting opt-level = 3 will cause stage1-rustc to segfault on Linux"
Stack trace:

[code]

Examples:

* https://github.com/rust-lang/rust/pull/52326#issuecomment-405024232
* https://github.com/rust-lang/rust/pull/51829#issuecomment-405028289

[2018-07-14 15:20] RalfJung commented on #52374
This does not just affect libstd. If I can trust my backscroll here, a "stage1 compiler artifacts build" takes    25m 20s with `incremental = true`, whereas it just takes 8m 06s with `incremental = false`.

[2018-07-14 15:32] benaryorg opened #52380 "include_str fails with >4g files"
I just tried to `include_str!()` a 14g file.
It failed with:

<details>
<summary>failure with 16g file</summary>

[code]
</details>

Same error with everything down to five gigabytes (which would fit in my ram thrice).
Then I thought, hey, 32-bit and ran the following:

<details>
<summary>failure with 2^32+1 file</summary>

[code]
</details>
<details>
<summary>failure with 2^32 file</summary>

[co

[2018-07-14 15:57] eddyb opened #52382 "rustc_target, rustc_codegen_llvm: use () for the metadata of pointers to extern { type }s."
Right now we check in a bunch of places (with, e.g. `type_has_metadata`) whether an unsized type has no metadata, i.e. its pointer is like a regular pointer to sized types, and this is only the case for the new `extern { type Foo; }` opaque FFI types.

What we could do instead, at the same time to simplify some the code handling these, and to make progress on custom DSTs, is to treat pointers to s

[2018-07-14 16:38] kennytm commented on #50887
We've got the complete file content in https://github.com/rust-lang/rust/pull/52326#issuecomment-405030619. It does not looks like anything corrupted?

<details>

[code]

</details>

[2018-07-14 16:46] kennytm commented on #52378
In https://github.com/rust-lang/rust/pull/52326#issuecomment-405024232 we build with LLVM assertions enabled, but there is no messages from the log, meaning the segfault is not caused by broken assertions.

[2018-07-14 17:29] ollie27 commented on #52347
What I think should be done is for the suggestion to be moved to `format_args!` where it should always make sense. It would then work for macros like `write!`, `print!`, `format!` and `format_args!` itself. Then to get it working for the `*ln!` macros fixing #30143 would be enough. Maybe the prospect of better diagnostics would persuade people that it's worth fixing.

[2018-07-14 17:53] GuillaumeGomez commented on #52357
Found it, adding tests and then I send a PR.

[2018-07-14 18:07] mikeyhew commented on #52382
@eddyb could we also treat pointers to `Sized` types as having `()` metadata?

[2018-07-14 18:19] FanShupei commented on #52376
It seems the nightly rustdoc cannot handle `impl Trait` well. It works in argument position, not in return position.

I tried with a minimal examle. Create a new lib project, and write following in lib.rs, then cargo doc.

[code]
The output is weird. The return type vanishes.

[code]

rustdoc vesion: rustdoc 1.29.0-nightly (254f8796b 2018-07-13)
toolchain: nightly-x86_64-unknown-linux-gnu

[2018-07-14 18:42] oli-obk opened #52384 "nll allows `&'static Fn()` to contain function local upvars"
[code]

I don't think this should compile. I didn't test whether we can actually abuse this to do unsoundness, but this snippet seems very unintuitive

[2018-07-14 19:00] regexident commented on #33417
Probably naïve and silly thought:

What if rustc got an always-on error lint in the meanwhile that triggered for `Error<_, !>`, preventing any impls in userland, allowing for addition of `impl`s later on?

[2018-07-14 19:02] jethrogb commented on #33417
Or an unstable `impl<T: From<U>, U> TryFrom<U> for T`. Can impls be unstable?

[2018-07-14 19:02] mikeyhew commented on #48055
An alternative that would solve both of the unresolved questions would be explicit `&move` references. We could have an explicit `alloca!` expression that returns `&move T`, and truly unsized types work with `&move T` because it is just a pointer.

If I remember correctly, the main reason for this RFC was to get `dyn FnOnce()` to be callable. Since `FnOnce()` is not implementable in stable Rust, w

[2018-07-14 19:10] martin-t opened #52387 "#![warn(trivial_numeric_casts)] stays cached when commenting out or uncommenting"
Starting with this code:
[code]
and running `cargo build`, it correctly warns:
[code]

Then I comment out the warn setting as `//#![warn(trivial_numeric_casts)]` and run `cargo build` again but it still warns:
[code]
The underline is off as if the `//` wasn't there.

Changing the code in any way (e.g. `1u8`) probably invalidates the cache because the warnings disappear.

Tested on `rustc 1.27.1 (5

[2018-07-14 19:39] sfackler commented on #33417
@jethrogb No

[2018-07-14 19:48] myfreeweb commented on #48459
This issue seems obsolete, the current problem on aarch64 is: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=228892

[2018-07-14 20:14] eddyb commented on #52382
@mikeyhew Not at this moment, because a pointer to a `Sized` type is what the pointers to `!Sized` types contain, and changing sized types would also complicate things. At least in terms of layout.

But as far as codegen is concerned, we can either use `Option<&Value>` (replacing maybe-null `ValueRef` from today) with `None` for ZSTs`, or just always have it and use an `undef` `{}`.
If we go the `

[2018-07-14 20:15] eddyb commented on #48055
@mikeyhew There's not really much of a problem with making by-value `self` work and IMO it's more ergonomic anyway. We might eventually even have `DerefMove` without `&move` at all.

[2018-07-14 21:52] mark-i-m commented on #51934
Hmm... It looks like currently `\` is not allowed (the lexer errors out). There are also other combinations that are not allowed (e.g. the suggestion from the internals thread `$(a)(?)`). So it doesn't seem like too much of a stretch to think that we could find a reasonable escaping scheme after finishing this...

[2018-07-14 22:02] arielb1 commented on #44127
Appears to work on nightly.

[2018-07-14 22:20] arielb1 opened #52389 "Macros 2.0: macro defined and used in same function-like scope can't resolve its own items"
Maybe this is just a misunderstanding of hygiene, but if a macro 2.0 is defined and used in the same function-like scope (function/const) then it can't resolve its own items:

[code]

## Expected Result

`doit()` should resolve to the `fn doit` in the scope of the macro, printing `Hi!`

## Actual Result

Resolution error.

Note that
1. Having the macro defined *and used* in a module (i.e., if `con

[2018-07-14 22:28] #52214 closed

[2018-07-14 22:30] alexreg commented on #51934
Ah, that's better than I thought.

[2018-07-14 22:43] ejpcmac opened #52390 "Segfault during tests on rust 1.27.x on macOS (SIGSEGV: invalid memory reference)"
## Problem description

Running the tests for a program I’ve written leads to a segfault when compiled by Rust 1.27.0 or 1.27.1:

[code]

The tests work well on Rust `1.26.2`, `1.28-beta.10` and today’s nightly. Only the `1.27.x` releases seem impacted by this bug.

## Meta

* The crate on which I found the bug: https://github.com/ejpcmac/diceware

[code]

Note that the debug and release binaries

[2018-07-14 23:02] Mark-Simulacrum commented on #52390
I can't reproduce on macOS or Ubuntu; what version of macOS do you have? Can you get a backtrace on the segfault? Is the segfault persistent, or is it transient?

[2018-07-14 23:03] petrochenkov commented on #52389
Looks like a bug rather than misunderstanding.

[2018-07-14 23:06] ejpcmac commented on #52390
I am on OS X 10.11.6. Running `RUST_BACKTRACE=1 cargo test` I get nothing more than the trace I’ve put in my first message. The segfault is persistent, at least on 100% of the 10-20 runs I’ve done.

[2018-07-14 23:09] Mark-Simulacrum commented on #52390
You'll need to run with something like lldb or gdb to get the segfault or look for a core dump (I believe those are generated on macOS, though you may need to do something to get them).

I am testing on 10.13.5 so this is possibly related to https://github.com/rust-lang/rust/pull/51828, though that claims to only be a problem on 10.10.

[2018-07-14 23:10] kennytm commented on #52390
Could you run `target/debug/deps/diceware-c7f6b180dd3b52c6` in lldb and get the stack trace from there?

[2018-07-14 23:16] Mark-Simulacrum commented on #52390
I *do* get repeated assertion failures in makes_a_passphrase_with_special_char, but even those don't happen on every run.

[2018-07-14 23:18] ejpcmac commented on #52390
Running in lldb I get:

[code]

[2018-07-14 23:22] ejpcmac commented on #52390
@Mark-Simulacrum Regarding this, I think it is due to the test itself lacking for a check. If the special char is a digit and inserted in a digit, it can match a dictionary word and the test fails. I have not yet figured how to write a better test to catch this. The problem seems to occur very early in the process, and in `returns_an_error_if_number_of_words_is_zero`.

[2018-07-14 23:45] alexcrichton commented on #52378
When setting opt-level=3 I believe that also changes the C/C++ code's optimization level, so this may be a but in clang's O3 optimization passes as well (and may in theory be fixable by compiling C++ code with O2)

[2018-07-14 23:47] alexcrichton commented on #50887
This is likely a race condition so it could be the case that when the linker is invoked it's invalid but then by the time we read the file it is finished writing so it's vaild. No idea how to track it down though :(

[2018-07-14 23:51] alexreg commented on #51934
@mark-i-m BTW, could you kindly expand the bit in the book about lints with the knowledge you picked up from writing this PR? :-)

[2018-07-15 00:36] mark-i-m commented on #51934
Funny you should ask :)

https://github.com/rust-lang-nursery/rustc-guide/pull/170

[2018-07-15 00:55] srijs opened #52393 "can't use const as attribute value"
I'm using serde to implement deserialization for a custom protocol. To keep the code dry, I've pulled all relevant strings into constants, but that creates a problem when trying to use the constants as attributes values in serde's derive macro.

Here's a playground with a minimal example to reproduce the problem: http://play.rust-lang.org/?gist=47230ae9671b24b312bef9540e520ddf&version=stable&mode=

[2018-07-15 02:42] Mark-Simulacrum commented on #52390
Can you run `where` or maybe `backtrace` in lldb to get the full trace?

[2018-07-15 06:16] Ericson2314 opened #52396 "Default impls cannot take into account associate types"
Suppose I have some trait with a default method:
[code]
and I want to add an associated type:
[code]
This is a breaking change unless I move the old default method to a new `default impl`. But there is no way to condition the `default impl` on choice the choice of associated type. For example:
[code]
isn't prohibited, and
[code]
does the wrong thing.

[2018-07-15 06:31] #52128 closed

[2018-07-15 07:12] kennytm commented on #52390
[`ptr.rs:237`](https://github.com/rust-lang/rust/blob/5f2b325f64ed6caa7179f3e04913db437656ec7e/src/libcore/ptr.rs#L237) is inside `swap_nonoverlapping_bytes()`. I'm pretty sure it is the same TLS issue, though I don't know why it affects 10.11.

[2018-07-15 07:33] bluecookies opened #52398 "ICE - Broken MIR in generators"
Rustc panics with the following message when trying to compile this:
`error: internal compiler error: librustc_mir/transform/generator.rs:495: Broken MIR: generator contains type std::cell::Ref<u32> in MIR, but typeck only knows about for<'r, 's, 't0> {&'r std::cell::RefCell<u32>, &'s std::cell::Ref<'t0, u32>, u32, ()}`

[code]
[Playground link](https://play.rust-lang.org/?gist=561d5f43cbd2b174062

[2018-07-15 09:20] ejpcmac commented on #52390
@Mark-Simulacrum Sorry for the delay, it was already late here in Europe.

Follows a new run with its backtrace:

[code]

[2018-07-15 10:29] #52129 closed

[2018-07-15 10:36] michaelwoerister commented on #52374
Yes, that's a known issue, unfortunately. https://github.com/rust-lang/rust/pull/52309 will hopefully solve this in the medium term.

[2018-07-15 11:16] nagisa commented on #52369
This is a user mistake. Either grin or you are expected to request rustc to link in `tinfo`.

`halfdelay` may be a macro in ncurses and it is an user mistake to try to link to it.

Report these issues against the project you are trying to build.

[2018-07-15 11:16] #52369 closed

[2018-07-15 11:21] blabarna commented on #52369
Thank you much for your answer!
I shall check dependencies and makefile to solve my problem

[2018-07-15 12:31] #52341 closed

[2018-07-15 13:29] Aaronepower commented on #48459
@myfreeweb Is there a issue for that on the Rust GitHub? Does there need to be?

[2018-07-15 13:36] myfreeweb commented on #48459
I'm not sure. @dumbbell was testing a patch, so there might be a pull request eventually.

[2018-07-15 13:46] retep998 commented on #52377
Please do all your Rust stuff on a normal drive, not a virtual memory drive, until this bug can be fixed.

[2018-07-15 16:31] CodeSandwich commented on #50680
Not sure when exactly it was fixed, but it works with `rustc 1.29.0-nightly (254f8796b 2018-07-13)` :tada:

[2018-07-15 16:31] #50680 closed

[2018-07-15 16:51] jamesmunns commented on #52163
I wanted to expand on my previous comment, and perhaps provide a little more context/detail. Thanks to @kennytm for taking a look already :)

The issue we are seeing is that the test system `x.py test ...` is attempting to build the `libtest` crate **for the target system**, because that is the usual behavior of running `x.py test` (you want to run unit tests for your target).

There are two probl

[2018-07-15 16:56] Mark-Simulacrum commented on #45696
Reopening; it seems this has regressed, the following code snippet doesn't compile with MIR but does with AST borrowck; I think it's the same issue as described here (i.e., different semantics for Box).

[code]

[2018-07-15 17:16] alexcrichton opened #52403 "Update stdsimd submodule to destabilize an accidental stabilization"
This is a tracking issue for updating `stdsimd` to pull in https://github.com/rust-lang-nursery/stdsimd/pull/524, destabilizing a currently nightly-only API. Want to make sure we don't forget about this by accident!

[2018-07-15 17:59] arielb1 commented on #45696
@Mark-Simulacrum

This is just nikomatsakis/nll-rfc#40, or on the AST side #31567.

[2018-07-15 18:31] reynoldsbd commented on #52301
I think I'm also running up against this issue, although my circumstances are slightly different:
* Target does not have `+soft-float`, but the `cos`/`cosf`/`sin`/`sinf` symbols are still failing to resolve
* Target uses the `lld-link` flavor, so `--gc-sections` is not available ([the LINK analog `/OPT:REF,NOICF`](https://docs.microsoft.com/en-us/cpp/build/reference/opt-optimizations) is specified

[2018-07-15 18:34] pietroalbini opened #52406 "Beta crater run - beta-2018-07-15"
cc @rust-lang/release

[2018-07-15 18:35] pietroalbini commented on #52406
@craterbot run start=1.27.1 end=beta-2018-07-15 lints=warn p=1

[2018-07-15 18:37] pietroalbini commented on #52406
Ugh, woops!

@craterbot run start=1.27.1 end=beta-2018-07-15 cap-lints=warn p=1

[2018-07-15 18:38] pietroalbini commented on #52406
@craterbot run name=beta-1.28-11 start=1.27.1 end=beta-2018-07-15 cap-lints=warn p=1

[2018-07-15 19:22] Cokemonkey11 commented on #49710
I'm hitting this on windows 7 too

[2018-07-15 19:31] jay-tyler opened #52407 "Integers print inconsistently via the `println!` macro"
I'm just starting to learn Rust, and have been creating some simple shell scripts.

I have a function that looks like this, where reader is either a file or stdin.
[code]

And the output looks like this when the reader is constructed via `std::io::stdin()` with a subsequent `lock()`.
[code]
Notice the end count first prints as a `3D`, and then subsequently prints as `3`. I don't see any "D" suffix

[2018-07-15 19:35] #52102 closed

[2018-07-15 19:44] estebank commented on #51282
[Current output](https://play.rust-lang.org/?gist=c6ef4ffacb75a3521feb052d6f54151b&version=nightly&mode=debug&edition=2015):
[code]

[2018-07-15 19:44] #51282 closed

[2018-07-15 19:50] estebank commented on #38615
Current output:

[code]

The suggestion is correct.

[2018-07-15 19:50] #38615 closed

[2018-07-15 20:07] sfackler commented on #52407
I don't think the D is coming from the standard library. It could be coming from the terminal printing `^D` for the Ctrl-D you've presumably used to close stdin though?

[2018-07-15 20:52] jay-tyler commented on #52407
@sfackler That's a reasonable suggestion, but I tried it without any `println!` statements, and I don't get a `D` printing anywhere. Also not seeing it for other non-Rust shell scripts, like using `cat` against stdin.

It looks like if I use only a single `println!` statement, against an empty string, on the last `println!` above, I do get a `^D`.

Just to be clear, here are the cases:
* no `print

[2018-07-15 21:00] d653 opened #52408 "rustc panic"
The code that triggers the bug is divided in two crates, if I try to merge the code to a single crate then it compiles without a panic.

Cargo.toml
[code]
main.rs
[code]

Cargo.toml
[code]

lib.rs
[code]

Result:
[code]

[2018-07-15 21:03] pietroalbini commented on #52408
Duplicate of #50865

[2018-07-15 21:03] #52408 closed

[2018-07-15 21:20] sfackler commented on #52407
I can't reproduce that behavior with fish in tmux in urxvt. The shell is the thing that decides whether or not to print ^D.

[2018-07-15 21:35] #52225 closed

[2018-07-15 22:11] petrochenkov commented on #52329
Closing, see https://github.com/rust-lang/rust/pull/52367#issuecomment-405122349

[2018-07-15 22:11] #52329 closed

[2018-07-15 22:16] jay-tyler commented on #52407
@sfackler I'm using iTerm2/bash on a MacBook. Same behavior inside `tmux`. The results above suggest some kind of race condition against stdout, which isn't likely to reproduce consistently across all devices and terminals.

Do you have a reference for the shell deciding to print `^D`? Genuinely curious, and have tried `^D` aka EOF with a bunch of different programs/shells, all with very different

[2018-07-15 23:19] sfackler commented on #52407
You don't really "catch" an EOF - you just get a return value of 0 when reading from whatever reached the end of input. The `lines` iterator completes iteration when that happens.

Nothing in your process is printing the string `^D` - you can run it in dtruss if you want to verify.

[2018-07-16 00:12] #51192 closed

[2018-07-16 00:19] estebank opened #52410 "Wrong suggestion for `&str += &str`"
Current output for `&str += &str`:

[code]

It should at the very least not provide the incorrect suggestion, probably have custom `help` explaining that `a` should be a `String`, best would be to suggest new valid code (but it's probably too complex a case to do).

[2018-07-16 00:21] estebank opened #52411 "Weird span for `#[bench]` method error"
Given
[code]
The current output is suboptimal:
[code]

[2018-07-16 00:22] estebank opened #52412 "Suggest fix when encountering different mutability from impl to trait"
Given
[code]
the current output is
[code]
It should suggest to change the impl method signature to match the trait.

[2018-07-16 00:25] estebank opened #52413 "Provide structured suggestion instead of label"
Given
[code]

The output is

[code]

The label suggesting changing the type of `a` should be a `span_suggestion` instead of a `span_label`.

---

Another case:

[code]
[code]

[2018-07-16 00:32] estebank opened #52414 "On "const should be uppercase" lint, use structured suggestion"
On the `non_upper_case_globals` lint, use `span_suggestion` to suggest the uppercase name.

We might want to consider applying the change everywhere the const is actually mentioned, which might be a big undertaking.

[2018-07-16 00:36] estebank opened #52415 "E0282 suggests changing desugared loop variable to `__next`"
[code]
[code]

[2018-07-16 00:38] estebank opened #52416 "NLL ICE on `*const_ptr()`"
[`src/test/compile-fail/issue-20801.rs`](https://github.com/rust-lang/rust/blob/master/src/test/compile-fail/issue-20801.rs) ICEs using NLL:

[code]

[2018-07-16 00:40] estebank opened #52417 "Add span to E0391"
Current output:

[code]

[2018-07-16 01:39] brandonros commented on #51751
@jonathandturner What ended up being the working code?

[2018-07-16 02:17] japaric commented on #52163
wasm32 is not a no_std target; it supports std -- I don't know about the test crate. (I believe some parts of std just call unimplemented! on wasm so std supports wasm in the "at least compiles" sense).

[2018-07-16 02:55] Mark-Simulacrum commented on #52040
[code]

This is I believe ambiguous as implemented today because of implicit prelude; both `extern crate serde` and `mod serde` are defined in the "root" namespace so the import will fail or behave unexpectedly. I wasn't able to quickly reproduce on the playground; haven't tried locally. But I think something along these lines is possibly at least a problem.

[2018-07-16 03:10] estebank commented on #52415
Duplicate of #51116.

[2018-07-16 03:10] #52415 closed

[2018-07-16 05:47] jay-tyler commented on #52407
@sfackler Ok, thanks, I tried tracing via `dtruss` and it looks like you're right. The `D` isn't coming from my Rust program. Here's a truncated output in case anyone from the future is curious:

[code]

[2018-07-16 05:47] #52407 closed

[2018-07-16 05:48] PramodBisht commented on #52413
@estebank: I would like to take this on if nobody else is working on that.

[2018-07-16 06:48] jamesmunns commented on #52163
Thanks @japaric, I'm not sure where I got that it was a no_std target. Did it used to be, and I'm just out of the loop?

I'll update my other comments at some point today to take out the details about `wasm`, though I think the rest of the comments should still be fine.

Perhaps it would just make sense for us to call a shell script that does something like this instead of trying to use `x.py test

[2018-07-16 07:32] dpc opened #52421 "ICE: Impossible case reached"
[code]

I'm sorry for no more info. I'll try to provide when I can.

[2018-07-16 07:35] 0rvar commented on #29597
Are there any plans for stabilizing plugins in the foreseeable future?

[2018-07-16 07:44] oli-obk commented on #29597
The plan is to remove the plugin API entirely.

[2018-07-16 08:13] scottmcm opened #52423 "Matching on a place in borrowed context should no longer suggest `ref`"
https://play.rust-lang.org/?gist=a88b996b2d1c86d1f6d32eee66c70cd4&version=stable&mode=debug&edition=2015
[code]

This suggests using `ref`:

[code]

With match ergonomics now stable, it would be better to instead suggest borrowing the field:

[code]

To help people move away from needing to know that `ref` exists.

(Context that lead me to open this: https://discordapp.com/channels/273534239310479

[2018-07-16 08:39] scottmcm commented on #52203
Confirmed that LLVM can't do this kind of fold in C++ either.  Filed an LLVM bug:
- https://bugs.llvm.org/show_bug.cgi?id=38146

[2018-07-16 09:15] ramosbugs commented on #26925
It looks like this issue affects the [failure_derive](https://github.com/withoutboats/failure_derive) crate as well.

In the following code fragment, `Fail` is only implemented when `T` is bound by `Fail`.
[code]

The macro expansion ends up being something like:
[code]

In this case, the parameterized type `T` has no reason to implement `Fail`, and in many cases will not represent a failure. I'm

[2018-07-16 09:34] glebpom opened #52424 "Release build for armv7 fails with SIGILL"
Hi!

I'm working on a project with armv7 target. There are different binaries produced from the same codebase. I'm observing a strange behavior with one of the binaries only in release build - an "Illegal instruction" error. Debug build and other binaries (debug and release) work well.

gdb output:
[code]
https://github.com/rust-lang/rust/blob/1.27.0/src/libstd/sys_common/thread_info.rs#L47

[2018-07-16 09:48] csmoe commented on #52423
cc @ashtneoi

[2018-07-16 09:57] fbstj commented on #29644
@SergioBenitez are you still using this feature?

[2018-07-16 10:07] kennytm commented on #52424
Hi, could you post the entire target triple (`armv7-???-???`), and the Rust version (output of `rustc -vV`)?

Would using Rust nightly (which contains a fix for #48967) solve the problem?

[2018-07-16 10:30] fbstj commented on #51984
if this is a tracking issue, maybe it should have the [C-tracking-issue](https://github.com/rust-lang/rust/labels/C-tracking-issue) label

[2018-07-16 10:39] glebpom commented on #52424
Hi, the target is `armv7-unknown-linux-musleabihf`, rust version is `1.27.0` from rustup.

I tried the latest nightly, and it fails with another error:
[code]

[2018-07-16 10:56] kennytm commented on #52163
Would it work if we remove this line:

https://github.com/rust-lang/rust/blob/1fa76a45024412c268237b840294ae3056035ff4/src/bootstrap/test.rs#L969

? Or change to `target: compiler.host`?

[2018-07-16 11:04] matthiaskrgr opened #52425 "better error message for wrong lifetime annotations?"
This was my code
[code]

Obviously this should have been
[code]
(````<'a>````  =>  ````'a````)
but the error message had me thinking that something was wrong with the argument itself which was confusing

[code]

It would be awesome if rustc could suggest ````'a```` instead of ````<'a>```` here instead of telling that the something with the repo is missing in the function arguments.
It's already po

[2018-07-16 11:19] glebpom commented on #52424
I disabled LTO and it helped. Will also try to upgrade musl to the latest version, and try with lto enabled

[2018-07-16 12:50] derekdreery opened #52427 "rustdoc: mut in param is implementation detail"
I'm reporting this as a pet peeve. If this is incorrect, or has been brought up before, then I apologize.

Consider the following code

[code]

Now obviously this is a silly implementation of the function, but there are times when making a parameter mutable is useful. To avoid seeing it in documentation I often do the following:

[code]

It would be easier if the fact that the parameter is mutable

[2018-07-16 13:02] shepmaster commented on #26925
As [stated above](https://github.com/rust-lang/rust/issues/26925#issuecomment-394363336), crates can create their own mechanism to fine-tune their own derive bounds. Serde is an example of such a crate. You should file an issue or submit a PR to failure.

[2018-07-16 13:49] nikomatsakis opened #52428 "auxiliary files in compile-test aren't compatible with `extern_prelude` feature"
When we use the "auxiliary crate" feature in compile-test, it adds a `-L <aux-path>` flag that points rustc at the directory where to find those crates. This means that when rustc sees an `extern crate` it then searches those directories. It's good to have the ability to test that behavior, but it's not the way that cargo drives rustc -- and as a result it's not compatible with the new extern-prel

[2018-07-16 13:53] nikomatsakis commented on #52428
Here is where to find the current code around auxiliary crates. The idea, for review, is that tests can have a `// aux-build:foo.rs` annotation like this one:

https://github.com/rust-lang/rust/blob/3d5753fda1ee8f729da1061e931e13b043f479a5/src/test/pretty/attr-derive.rs#L11

When we see such an annotation, we will build the crate `auxiliary/foo.rs`. This is done in this loop here:

https://github.

[2018-07-16 13:57] sekineh commented on #52163
If I commented out the line 969, `run-make` run and success, and `ui` fails. I think the behavior is understandable.
If I changes to like below, both tests are at least run. (results are: `run-make`: success, `ui`: failure)
[code]

A huge hint.  Possible hack is to add `if` to that line, ...... for now.

[2018-07-16 14:02] alexcrichton commented on #52040
@Mark-Simulacrum I don't think there's an implicit prelude of `extern crate` declarations though? `use crate::serde` always uses the `mod serde;` or `extern crate serde` *if defined explicitly`, and `use serde::...` always uses an external crate

[2018-07-16 14:04] o01eg commented on #52317
Looks like it gets `RUSTDOC_LIBDIR=/tmp/portage/dev-lang/rust-9999/work/rust-git-src/build/x86_64-unknown-linux-gnu/stage1/lib`  while libraries are placed in:
[code]

[code]

[2018-07-16 14:04] nikomatsakis commented on #52040
The issue I believe is not that there is some inherent ambiguity -- e.g., with @Mark-Simulacrum's example, in fact, the `use` can only refer to the module (in particular, with relative paths, the prelude doesn't even come into play at all).

A more interesting case is a case like this:

[code]

I believe our fear was that we would sometimes make incorrect rewrite suggestions in the migration lints

[2018-07-16 14:06] nikomatsakis commented on #52040
(On a related note, we will currently suggest removing `extern crate` in some cases, but shadowing is an example of the kind of case where we have to be a bit careful.)

[2018-07-16 14:11] alexcrichton commented on #52301
@reynoldsbd I wonder if that's maybe a bug in LLD? Or maybe a version of LLD which didn't have it implemented?

[2018-07-16 14:22] alexcrichton commented on #52163
Ah yes, as @japaric mentioned the wasm target does include both libtest and libstd, so it's not quite the same. In general I don't think there's any way to get `./x.py test` meaningfully working for no_std targets, 99% of our test suite assumes it links to std and "does something" (either run a binary or use items defined in `std`).

I'd recommend that if we wanted to add CI for this target that w

[2018-07-16 14:23] Ericson2314 commented on #35121
In https://github.com/rust-lang/rust/pull/52420 I hit that
``rust`
let Ok(b): Result<B, !> = ...;
b
[code]

[2018-07-16 14:29] Nemo157 commented on #35121
@Ericson2314 specifically the feature you would need to add to `liballoc` is [`exhaustive_patterns`](https://github.com/rust-lang/rust/issues/51085).

[2018-07-16 14:48] kennytm commented on #52163
If we only run `run-make` tests, directly `if builder.no_std(target)` that line out seems better.

(cc @Mark-Simulacrum)

[2018-07-16 14:48] Ericson2314 commented on #35121
Thanks!!

[2018-07-16 14:51] DutchGhost opened #52432 "ICE casting a reference to a static closure as usize, inside array length"
This issue might be related to https://github.com/rust-lang/rust/issues/52023 , which has been fixed in https://github.com/rust-lang/rust/pull/52314

[code]
playground link: https://play.rust-lang.org/?gist=b0d76bcfc33acb632a1527d8a9a97c84&version=nightly&mode=debug&edition=2015

Backtrace:
[code]

[2018-07-16 15:01] DutchGhost commented on #52432
removing the argument inside the closure gives a different ICE. Interestingly stable refuses to compile this, but beta and nightly ICE's

[code]

playground: https://play.rust-lang.org/?gist=e21e79c33b6428a56c0bb07df6f0a950&version=nightly&mode=debug&edition=2015

Backtrace:
[code]

[2018-07-16 15:07] sekineh commented on #52163
@kennytm my current version does not use `target: compiler.host` and follow the just-comment(`if`, actually)-out strategy.

snippet v2:
[code]

[2018-07-16 16:05] MisieEugene commented on #51243
Hi,
I have the same issue with my stable installation.

For reference:

$ rustc --version
rustc 1.27.1 (5f2b325f6 2018-07-07)

[2018-07-16 16:15] estebank commented on #52413
@PramodBisht go ahead and feel free to reach out for any help you might need!

[2018-07-16 16:18] #51968 closed

[2018-07-16 17:16] steveklabnik opened #52436 "tests with Result could have nicer output"
Consider this test:

[code]

(note the `!`) when this fails, you get

[code]

This is because it triggers [this assert](https://github.com/rust-lang/rust/blob/50702b28383c15907c29e8f70256cdd439800834/src/libtest/lib.rs#L328-L330).

can we make this better somehow? `1 != 0` is not super helpful at learning why this test failed.

[2018-07-16 17:19] cuviper commented on #52427
Isn't this already hidden?  For your example, I get:

![image](https://user-images.githubusercontent.com/36186/42772749-3cffc654-88e0-11e8-9358-b1d9d3712afb.png)

[2018-07-16 17:23] DutchGhost opened #52437 "Closure needing type annotation in const scope causes ICE"
Probably somewhat related to https://github.com/rust-lang/rust/issues/52432
This ICE's on stable, beta and nightly:

[code]

Playground: https://play.rust-lang.org/?gist=e1a6d6ef161b5cacb9ef406251807c3c&version=nightly&mode=debug&edition=2015
Backtrace:
[code]

[2018-07-16 17:48] alexcrichton commented on #51211
I've minimized this to the following:

[code]

which yields:

[code]

It's unclear to me whether this falls under the purview of https://github.com/rust-lang/rust/issues/48704 or rustfix. The problem is that two duplicate suggestions are made and rustfix yields an error on this because it looks suspicious. I'm gonna send a fix to rustfix in the meantime as I've tested locally that it works and sho

[2018-07-16 17:49] alexcrichton commented on #51211
I've attempted a fix for this in rustfix with https://github.com/rust-lang-nursery/rustfix/pull/131 which fixes this exact issue, and at least successfully got the `faster` crate to migrate!

[2018-07-16 17:51] alexcrichton commented on #51211
Actually, closing this in favor of https://github.com/rust-lang/rust/issues/51205 as testing has shown that issue is the only thing that blocks `faster`

[2018-07-16 17:51] #51211 closed

[2018-07-16 18:12] DutchGhost commented on #52437
This one only ICE's on nightly:

[code]
playground: https://play.rust-lang.org/?gist=71ba6b8e1d75792cd2c108114c66a988&version=nightly&mode=release&edition=2015
Backtrace:
[code]
--verbose did not really help for the backtrace...the backtrace environment variable is set, not sure why this didn't generate one.

[2018-07-16 18:18] rtsuk commented on #51468
Still not working with 2018-07-15, but I found that by setting RUSTDOCFLAGS to "--cap-lints allow -Z unstable-options" I can work around it.

[2018-07-16 18:33] dpc commented on #52421
Same issue on stable

[2018-07-16 18:33] tdoylend opened #52440 "Cargo panics when attempting to compile project on shared partition"
I have a machine which dual-boots between Windows and Linux (Mint 18.3.) Rust is installed on both platforms. A shared partition (formatted Ext4 and accessed on Windows via Ext2Fsd) holds current projects, for easy inter-platform access.

I created a Rust project on the shared partition in Linux (just the default "Hello World" example), and compiled and ran it without errors. On rebooting to Windo

[2018-07-16 18:37] DutchGhost opened #52442 "ICE: No kind for cast"
The following only ICE's on stable, beta and nightly:

[code]
playground: https://play.rust-lang.org/?gist=b35ac8a560e0cc448e95e2a62598208a&version=stable&mode=release&edition=2015
Backtrace (stable):
[code]

The backtrace on nightly is verry different:
[code]

[2018-07-16 18:56] dpc commented on #52421
I couldn't really minimize, and I can't publish the code verbatim, but more or less it had something to do with

[code]

`BlocksRecord` ia a simple struct that hold bunch of fields of the record fetched from mongodb.

`cursor` was https://docs.rs/mongo_driver/0.12.1/mongo_driver/cursor/struct.Cursor.html (note it has a `<'a>` . Adding that `ref` that triggered the problem.

[2018-07-16 18:59] DutchGhost opened #52443 "ICE: cat_expr_errd"
The following only ICE's on nightly:

[code]
playground: https://play.rust-lang.org/?gist=5301f1ed6aea057aa9f5c921e3ea2f1e&version=nightly&mode=release&edition=2015

Backtrace:
[code]

Backtrace variable is set, this was all I got. (I also got no backtrace for https://github.com/rust-lang/rust/issues/52442 when compiling in nightly, perhaps they are related)

[2018-07-16 19:13] ashtneoi commented on #52423
Yeah, I can probably tackle this.

[2018-07-16 19:49] alexcrichton commented on #51205
Ok this issue itself is specifically fixed by https://github.com/rust-lang-nursery/rustfix/pull/131 and macros and edition lints are otherwise covered by https://github.com/rust-lang/rust/issues/48855 and https://github.com/rust-lang/rust/issues/48704, so I'm gonna close this in favor of them.

[2018-07-16 19:49] #51205 closed

[2018-07-16 19:57] scottmcm commented on #44524
On discord recently, someone said

[code]

And I'm able to confidently say, "You don't need the `'b`" and suggest

[code]

With in-band lifetimes, if someone says

[code]

I can no longer make that statement confidently.

Has there been any further progress on how to apply this only in ways/places that doesn't potentially increase confusion?  My first instinct is something like "cannot mix in-band

[2018-07-16 20:30] #52311 closed

[2018-07-16 20:31] #52313 closed

[2018-07-16 20:31] zacheryph opened #52444 "rustfmt removes oddly placed comments"
rustfmt likes to remove commented lines that are found in odd places.  This appears to affect both stable and nightly `rustfmt`.

### Input File
[code]

### After rustfmt
[code]

[2018-07-16 20:40] alexcrichton commented on #52090
I've submitted https://github.com/rust-lang/rust/pull/52445 which folds this into the `#[link]` attribute, which if merged should close this issue.

[2018-07-16 20:59] SergioBenitez commented on #29644
Yes. The plan is to migrate away from custom_derive as soon as possible however. Current progress puts us as doing so by next release, or about a month.

[2018-07-16 21:10] pietroalbini commented on #52029
Fixed and backported by https://github.com/rust-lang/rust/pull/52419.

[2018-07-16 21:10] #52029 closed

[2018-07-16 22:09] derekdreery commented on #52427
woooop can confirm that it doesn't show `mut` anymore :D

[2018-07-16 22:09] #52427 closed

[2018-07-16 22:45] djg opened #52447 "rustc can't find function-style #[proc_macro] in extern crate."
I'm experimenting with `proc_macro` as an expression and run into rustc complaining that it can't find the macro when I follow it's advice on how to use the macro.

I have a `proc-macro` crate that contains the following function in `src/lib/rs`:
[code]
And an example that uses the macro:

[code]

This results in the following message:

[code]

Adding `use cedar_apple_codegen::signal` results in:

[2018-07-17 00:50] mark-i-m commented on #44524
I see this more as a style issue. If you are mixing parent and function lifetimes, I think you should _not_ use in band lifetimes. In my limited experience, this mixing case is uncommon so the loss of ergonmics seems justified.

[2018-07-17 01:15] shepmaster commented on #44524
I think that this ship has sailed for other similar concepts. If there's a trait bound on the `impl` block, you don't see it from the method. Whenever trait bounds are implicitly applied on the `impl` block based on the type declaration, there will be even more "action at a distance".

[2018-07-17 01:15] ghost opened #52449 "Rust docs should at least have the option of using sans-serif fonts"
__Edit__: When I say "docs" I mean the standard library docs. The font in places like "The Book" is absolutely fine.

I'm sure I've seen this brought up in the issues before, but I don't seem to be able to find those issues anymore because I can't remember what I searched,  so I hope you don't mind me creating a new issue for this.

Currently the rust docs only really display all text in a serif s

[2018-07-17 03:52] nrc commented on #51208
I think we really need to make `--all-targets` the default here, it's pretty hard to discover even with help messages - e.g., https://github.com/rust-lang-nursery/rls/pull/943#issuecomment-405315105

[2018-07-17 03:54] nrc opened #52451 "unused_extern_crates lint should handle aliasing"
e.g., `extern crate rls_span as span;`. I'm not sure what the suggestion should be though = `pub use ... as ...;` to replace the `extern crate`?

[2018-07-17 05:05] CryZe commented on #52451
Last time I checked pub use doesn't actually reexport crates as reported here: https://github.com/rust-lang/rust/issues/52140

[2018-07-17 06:12] scottmcm commented on #52449
Maybe just use the default font in the user's browser?  Though personally I just override all fonts anyway...

[2018-07-17 06:17] scottmcm commented on #52436
Hmm, the trait is super-unstable, so maybe it's be worth adding a purpose-built method for this?  Like

[code]

But then the `Result` impl could override it to show something better...

[2018-07-17 06:58] nnethercote commented on #52028
I looked into `unroll_place` a bit more. The problem is not that `unroll_place` is slow, but rather that it's called so many times.

Specifically, we hit the `for i in candidates` loop within `each_borrow_involving_path()` 150,000 times when compiling `html5ever`:
https://github.com/rust-lang/rust/blob/31263f320419f21a909a04b92305ed66364f63c0/src/librustc_mir/borrow_check/path_utils.rs#L61-L74

He

[2018-07-17 07:40] eddyb commented on #44524
I think we should just add a lint already for one-use lifetimes.

[2018-07-17 07:40] ashtneoi commented on #52423
Do we want something like `match Some(s.x) { Some(_a) => {}, _ => {} }` to suggest a borrow too? Right now it doesn't give a suggestion at all, just an error.

[2018-07-17 07:51] eddyb opened #52452 "gdb 8.1 fails debuginfo tests (output changed)."
AFAICT, it appears to print `module::Enum::Variant {...}` instead of `module::Variant {...}` now.

cc @tromey @michaelwoerister

[2018-07-17 08:58] ashtneoi commented on #52423
For something like this...

[code]

...should it suggest changing the type, the pattern (which might be tricky, idk), or neither?

[2018-07-17 10:37] srijs commented on #52436
What if it printed something like this?

[code]

Or simply

[code]

[2018-07-17 10:38] fintelia commented on #45323
It has been a while since `buffer` landed. Is this ready to stabilize?

[2018-07-17 11:32] nikomatsakis commented on #52384
I don't think this is #47184 **exactly** -- we *are* enforcing user-given types in this particular case, but I think we are probably **not** requiring them to be well-formed. As a result, if the type of `_` is `&'static T`, we don't end up requiring that `T: 'static`.

I suspect that you would have a similar error with something like `struct Foo<T: 'static>` and an annotation `let x: Foo<_> = ...`

[2018-07-17 11:36] nikomatsakis commented on #52054
Closing as a subset of #52217 and the more specific issues that were opened

[2018-07-17 11:36] #52054 closed

[2018-07-17 11:45] nikomatsakis commented on #52217
Marking as deferred as this is a meta issue

[2018-07-17 11:57] nikomatsakis commented on #51827
This has been done. @lqd is a :superhero:

[2018-07-17 11:57] #51827 closed

[2018-07-17 12:03] nikomatsakis commented on #51918
Closing as fixed then. @matthewjasper let me know if you think that's wrong!

[2018-07-17 12:03] #51918 closed

[2018-07-17 12:04] nikomatsakis commented on #49824
@canselcik Are you still seeing this error message? I would expect it to have changed somewhat, for one thing. From what I can tell -- at least in the original example -- this indicated a legitimate error in the test.

[2018-07-17 12:06] nikomatsakis commented on #49824
The  current error message from @spastorino's test case is:

[code]

which needs work but is a lot better than the original =)

[2018-07-17 12:08] nikomatsakis commented on #49579
I see, I see. Yes, that is expected to be exposed to the user.

[2018-07-17 12:09] nikomatsakis commented on #49579
I guess we can close this then as Working as Expected. Nice job @spastorino, you get the credit for fixing this one :)

[2018-07-17 12:09] nikomatsakis commented on #49579
Er, I'll leave open because (as @matthewjasper noted) we still need a test

[2018-07-17 12:10] nikomatsakis commented on #51167
Assigning to @spastorino as this should get fixed as a side-effect of #46908

[2018-07-17 12:22] SimonSapin commented on #45323
`BufReader::buffer` is implemented, but `BufWriter::buffer` discussed above is not. (I’ve updated the issue’s description with the current status.)

[2018-07-17 12:23] nikomatsakis commented on #52028
#52190 reduces the max-rss to 2GB-- still too big, but a lot better. To do much better than *that*, I think we have to start changing from a simple bitset to something that is more compressed, so we can capture patterns across variables. Something like BDDs come to mind.

[2018-07-17 12:25] nikomatsakis commented on #52028
The performance remains ungreat though and @nnethercote's profiles are very useful in that regard. It seems clear (also from the fact that liveness dominates) that in this case we have somewhere a large number of borrows accumulating -- each access is then checked against those large number of borrows. I suspect we could do a *lot* better via some kind of hashing scheme, where we hash paths to fig

[2018-07-17 12:32] fintelia commented on #45323
Wait, we aren't proposing to stabilize the (already deprecated) is_empty method are we?

[2018-07-17 12:38] SimonSapin commented on #45323
No, sorry I didn’t clarify. An API marked both unstable and deprecated is to be removed (after something like a couple release cycles of deprecation period, which we’re at in this case).

[2018-07-17 12:40] eddyb opened #52456 "improper_ctypes lint unaffected by lint attributes on the foreign items themselves."
[code]

The problem arises because the lint iterates over the children of `ForeignMod` (`extern {...}`):
https://github.com/rust-lang/rust/blob/2ddc0cbd56ff1695f24b4f5daa14642bd21e4af0/src/librustc_lint/types.rs#L788-L792
and it does so through `check_item`, but only `check_foreign_item` would be affected by attributes on the individual foreign `fn` / `static` / `type` children of the `extern {...

[2018-07-17 13:26] rkruppe opened #52457 "[LLVM 7] use funnel shift intrinsic to implement rotates"
https://reviews.llvm.org/rL337221 introduced new intrinsics in LLVM IR that make it easier to guarantee that integer rotates will make it to the backend intact and can be lowered to a hardware rotate instruction (instead of possibly being split up into shifts and bitwise ors). Since we already expose rotates as methods on integer types, we could just change the implementation of those methods to l

[2018-07-17 13:54] alexcrichton commented on #51208
@nrc perhaps yeah, but I'm sort of coming around to the idea of having `cargo fix` behave like the rest of Cargo. It seems odd to me if `cargo fix` is the odd-one-out. Because naively you'd expect `cargo check` to check everything as well, right?

I think we'll probably want to update the edition guide though for `cargo fix --all-targets --prepare-for 2018` to make it more visible!

[2018-07-17 14:39] nagisa commented on #52457
This is definitely something we want to do. We already have a few issues around that complain about `.rotate_xxx` not optimising down to a rotate instruction. See e.g. https://bugs.llvm.org/show_bug.cgi?id=37461

[2018-07-17 14:56] alexcrichton commented on #38356
@realcr for the `proc-macro2` crate you can simply run `cargo update`  and that should do the trick!

[2018-07-17 15:01] LukasKalbertodt commented on #38356
@alexcrichton I don't think that's the problem here. I rather think @realcr already updated `proc-macro2` since the error message says `proc-macro2-0.4.8` everywhere. The problem is rather that the nightly version is fixed to one that doesn't include #52081. I had the same problem today and wondered about why `proc-macro2` only bumped the minor version. But I'm not very familiar with how `proc-mac

[2018-07-17 15:07] alexcrichton commented on #52040
@nikomatsakis I fear I'm left even more confused after reading your comment than before :(

For your "incorrect use" example we don't currently lint anything starting with `self` or `super`, only paths that *don't* start with one of those (and they don't start with an `extern crate`).

For the "outside of a use" example I'm not really sure what's going on, but we [don't make any suggestions today]

[2018-07-17 15:12] realcr commented on #38356
@alexcrichton , @LukasKalbertodt : Thanks for the quick reply.
I just updated my nightly compiler to the latest version. It did eliminate the proc-macro-2 problems, but I got lots of new compilation errors. Example:

[code]

To confirm, my current version of rustc:
[code]

In order to trace the source of the problem I tried to compile the basic example from [futures_await](https://github.com/alexc

[2018-07-17 15:12] TeXitoi commented on #38356
@LukasKalbertodt https://github.com/alexcrichton/proc-macro2#unstable-features

Because you are using the unstable feature.

[2018-07-17 15:15] TeXitoi commented on #38356
@realcr your new compilation problem is not related to this issue, please stay on topic.

[2018-07-17 15:24] humenda opened #52459 "compiler panic while cross-compiling any code"
Hi

I'm cross-compiling to l4re, hence I built rustc using `x.py --target=x86_64-unknown-l4re-uclibc --host=x86_64-unknown-linux-gnu` and invoked
rustc with `--target=x86_64-unknown-l4re-uclibc`. When compiling arbitrary code, I get
an error like this:

[code]

Thanks

[2018-07-17 15:25] realcr commented on #38356
@TeXitoi : Feel free to edit or remove anything if you think it is not relevant. I try my best to help you out, it is difficult for me to know what is on topic and what not. The error message "(see issue #38356)" is what got me here.

[2018-07-17 15:38] #52357 closed

[2018-07-17 15:45] sekineh commented on #52163
I included the snippet v2 into my folk of rust.

Later, I'll open the pull request including
- fix to this #52163
- add CI docker file.

[2018-07-17 15:47] ishitatsuyuki commented on #43606
I think we should not make any guarantee of the analysis format, however it worths to expose a lib like `rls-analysis` bundled with the compiler distribution. It would start with a small subset of types, expanding as we decide, similar to what proc-macro has been.

Stabilising this allows us to have documentation generators other than rustdoc, for example.

[2018-07-17 15:52] nikomatsakis opened #52460 "experiment with "inverting" liveness to improve perf of html5ever"
html5ever profiles are dominated by code that "applies" the result of computing liveness. In thinking over how this code works, it seems like it might be better to "invert". Currently what happens is this:

- The `util/liveness` code computes, for each point in the CFG, the set of live variables at each point
  - but we want to distinguish two kinds of liveness: live because it will be used, and l

[2018-07-17 16:17] DoumanAsh commented on #27336
Found this issue when I was looking into RFC.

I noticed recently a problem for myself when I have default type paramer, but my impl is generic.
So currently I have two options:
- impl for struct with default type parameter
- Ask users to use a bit ugly `<Struct>` syntax to guarantee default type paramer.

I wonder if it would be sensible to allow impl blocks to have default type parameters while

[2018-07-17 16:22] Bert-Proesmans opened #52462 "Using const value from trait to construct array produces error"
<details>
<summary>Playground code</summary>

[code]
</details>

([Playground](https://play.rust-lang.org/?gist=47521af8c0670853d7d43bb3652df793&version=nightly&mode=debug&edition=2015))

Errors:

[code]

Like it shows above, the compiler is confused by the MAX_METHODS item within the trait that declared it. I suppose the trait impl resolves fine, because no error is produced for that span.
Within

[2018-07-17 16:22] alexcrichton commented on #49716
A PR for this is now at https://github.com/rust-lang/rust/pull/52375

[2018-07-17 16:45] oli-obk commented on #52462
Duplicate of https://github.com/rust-lang/rust/issues/42863

The ICE is separate though

[2018-07-17 17:22] Bert-Proesmans opened #52466 "Confusing error message during invariant access through associated type"
<details>
<summary>Playground code</summary>

[code]

</details>

([Playground](https://play.rust-lang.org/?gist=45cae875737791705dd413854beddf0f&version=nightly&mode=debug&edition=2015))

Errors:

[code]
The actual issue is that the compiler message doesn't allow for deduction if this is intended behaviour or not. The message is also a blatant lie because the invariant is present inside the enum.

[2018-07-17 17:25] Bert-Proesmans commented on #52462
@oli-obk Hi, thanks for the info.
Do you need additional information regarding the ICE? I'm unsure myself which code is related, but i'm currently experimenting to understand more about the cause.

[2018-07-17 17:43] oli-obk commented on #52462
I'm not sure how extensive your code is. Maybe it can easily be reduced by removing unrelated parts until it's just one small file without crate dependencies? It's always helpful to have a small example that reproduces the ICE.

[2018-07-17 17:43] scottmcm commented on #52423
@ashtneoi My personal goal is to have the compiler never mention `ref`, so I'd hope for it to suggest

[code]

...but I have no idea how hard that might be.

[2018-07-17 17:46] Bert-Proesmans commented on #52462
It seems i cannot trigger the ICE without the error from the original post.

[2018-07-17 18:29] andersk commented on #26736
These work fine as parameter patterns, so here’s an annoying but functional workaround while we’re waiting for MIR borrowck:

[code]

[2018-07-17 18:33] nikomatsakis opened #52468 "`Foo::bar()` invokes do not give suggestions for `Foo` when it is not in scope"
In this example:

[code]

there are two uses of `HashMap`. Neither is in scope, but only the type gives me a suggestion for how to import it:

[code]

This issue has been assigned to @Patryk27 via [this comment](https://github.com/rust-lang/rust/issues/52468#issuecomment-636009572).

[2018-07-17 18:47] SimonSapin opened #52469 "Bad error message when using attributes proc_macro"
Upgrading Servo to today’s Nightly caused a confusing pair of error messages:

[code]

Adding `#[macro_use]` changes the second error to:

[code]

All three messages are wrong:

* `dom_struct::dom_struct` does exist
* `feature(custom_attribute)` is not the correct fix
* `feature(proc_macro)` is not only not the correct fix, it was already present!

The correct fix is to add `#![feature(use_extern_

[2018-07-17 18:50] alexcrichton commented on #48855
I've revived https://github.com/rust-lang/rust/pull/49755 at https://github.com/rust-lang/rust/pull/52467, and I've confirmed @nrc that the warning with `derive(Fail)` no longer happens after that PR

[2018-07-17 18:53] alexcrichton commented on #52469
I believe this is largely fixed with https://github.com/rust-lang/rust/pull/52458, and the remaining pieces will be fixed by https://github.com/rust-lang/rust/pull/50911

[2018-07-17 19:15] tko opened #52470 "Read::read_exact works with StdinLock, but not with Cursor<StdinLock>?"
I've some code reading a stream from stdin. Wanted to wrap it in a Cursor to have it keep track of the number of bytes read already instead of having to do it manually, but started getting odd compiler errors.

Since `read_exact` works just fine with `StdinLock` (and `Stdin`) shouldn't it work just the same with `Cursor<StdinLock>`?

[code]

([Playground](http://play.rust-lang.org/?gist=4f1f08e3ed

[2018-07-17 19:18] durka commented on #52423
...Can we lint against top-level type declarations like that? It's really confusing trying to figure out the type of `_a`.

[2018-07-17 19:53] nikomatsakis commented on #52028
We are deferring further work that targets max-rss specifically to the release candidate, since it doesn't seem pressing for Edition Preview 2 right now. At this point, it seems like the next step is to look at ways to represent liveness regions that can share between region values -- e.g., something like a BDD (correct ordering will be key here) or perhaps SEME regions.

[2018-07-17 19:56] nikomatsakis commented on #52384
Assigning to myself as this intersects my branch for #48071 quite a bit.

[2018-07-17 19:57] DutchGhost commented on #52443
Even a slightly smaller example:
[code]

[2018-07-17 19:59] nikomatsakis commented on #52460
Decided to push this back to Release Candidate milestone:

- This is *mostly* targeting the outlier case of html5ever, though it may have broader benefits
- It's a "medium size" PR, not an easy win
- The focus for EP2 is on "must fix" items

[2018-07-17 20:15] estebank commented on #52468
Maybe, once the current ticket is resolved, we should also elide suggestions to only appear once the first time they're needed.

[2018-07-17 20:18] estebank commented on #52462
That is fine, as long as you can create a small enough repro case that causes the ICE, we can investigate the root cause.

[2018-07-17 20:43] VPashkov commented on #52456
I would like to take this on if nobody else is working on that.

[2018-07-17 20:50] alexcrichton commented on #52447
@djg the feature has recently changed from `proc_macro` to `use_extern_macros`, if you enable that feature does it work?

[2018-07-17 20:54] alexcrichton commented on #51208
Ok `cargo fix` is now merged into Cargo which boasts a suite of new top-level flags like `--test`, `--all-targets`, etc. I've additionally [submitted a PR](https://github.com/rust-lang-nursery/edition-guide/pull/59) to update the edition guide to suggest `--all-targets` by default (for now).

Otherwise I'm now going to close this in favor of two issues:

* https://github.com/rust-lang/cargo/issues

[2018-07-17 20:54] #51208 closed

[2018-07-17 21:22] nrc commented on #51277
ping @petrochenkov are you likely to be able to look at this or provide mentoring instructions? Sorry, I know you have a lot on your plate right now, but this is a blocker bug for Rustfmt

[2018-07-17 21:29] Manishearth commented on #44690
Clippy doesn't use it yet. cc @flip1995 do you know what the status is here?

[2018-07-17 21:48] fitzgen commented on #44690
@rfcbot reviewed

[2018-07-17 22:01] djg commented on #52447
Yes! If I change my example to:

[code]

all is good.

[2018-07-17 22:17] nrc commented on #51277
Thanks @petrochenkov !

[2018-07-17 22:30] flip1995 commented on #44690
The lints part isn't completed yet. Currently the `tool_lints` cannot be used by lint tools, like it is documented. I already talked with @oli-obk about how to do this and I'm working on it. I'm currently studying for an exam though. I try to make a PR by the end of next week. Sorry about the delay...

This won't be a breaking change though, because `tool_lints` can't be used right now :smile:

[2018-07-17 22:40] estebank commented on #41852
Current output elides the complaint about `collect()`:

[code]

[2018-07-17 22:58] estebank opened #52473 "Suggest changing closure on E0593"
Given a call that expects a closure that accepts arguments being passed a closure that takes no arguments:

[code]

we might want to suggest modifying the closure to take the argument and ignore it:

[code]

---

How often would this suggestion be inappropriate?

[2018-07-17 23:40] aturon commented on #44524
How much has this feature been put into use in rustc at this point? That's one of the items listed in the OP, curious what the experience has been.

[2018-07-17 23:57] aturon commented on #48589
I believe this feature is ready for consideration for stabilization (in the runup to the Edition). It's a very simple feature, and widely understood to be necessary for Editions in general (to support adding keywords). I don't believe any of the listed unresolved questions are blockers to stabilization per se (though they should be addressed for the Edition itself).

**If you haven't had a chance

[2018-07-18 01:16] ecstatic-morse opened #52475 "CTFE fails to detect a certain class of infinite loops"
#51702 implemented a limited form of infinite loop detection during const evaluation by periodically comparing MIR interpreter states.

Currently, the detector [considers `AllocId`s](https://github.com/rust-lang/rust/pull/51702#discussion_r197620054) when comparing interpreter memory. It is possible for two interpreter states which have different `AllocId`s to be functionally equivalent if the und

[2018-07-18 03:40] frewsxcv commented on #52279
Opened a pull request for this: https://github.com/rust-lang/rust/pull/52477

[2018-07-18 03:53] nrc commented on #44524
I'm happy to stabilise but not strongly so - I found in-band lifetimes to be of limited utility, iiuc the current design only lets us skip declaring a lifetime, so it just saves `<'a>` or similar. I find the declaration necessary only rarely and when it is necessary it's usually a complex signature where the decl doesn't make too much difference.

I didn't use the impls thing so much, but that sou

[2018-07-18 04:38] aturon commented on #43467
cc @rust-lang/lang Nominating for discussion this week, as to what's needed for potential stabilization. If someone has time to summarize the discussion so far ahead of the meeting, that'd be most helpful!

[2018-07-18 04:50] eddyb commented on #43467
Another technique using this feature:
[code]
This is sort of a hacky way of adding a lifetime parameter to an `extern type` (which we could also natively support, I suppose, but as you can see, it can be emulated; type parameters would also work).

What can we do with this?
* an "owned" pointer, akin to C++ `unique_ptr<Foo<'a>>`, is `&'a mut Foo<'a>`
  * the constructor can mark with `'a` the life

[2018-07-18 04:55] eddyb commented on #43467
@retep998 Have you tried creating a struct with an `extern type` as its last field?
@irinagpopa has used the technique from my previous comment in #52461 with great success.

[2018-07-18 05:05] ashtneoi commented on #52423
Oh, one more question (sorry): In a lot of cases, NLL already has better suggestions. Should I bother fixing the non-NLL suggestions or just focus on NLL assuming it'll land sometime soon?

[2018-07-18 05:11] scottmcm commented on #52423
Oh, good point; I didn't try NLL.  Only fixing the NLL ones sounds like a smart plan.

[2018-07-18 05:21] durka commented on #44524
I don't think it's good to defend action-at-a-distance by saying there's already some in the language and we're (probably) going to add more. Lifetime annotations are *really* confusing, especially for newcomers, and making them harder to trace should be considered very carefully.

[2018-07-18 05:32] durka commented on #44524
As a clarifying question: what was the decision on single-letter lifetimes in general? There are several unchecked boxes in the top post before stabilization and that's one of them.

[2018-07-18 05:37] eddyb commented on #52452
@Pazzaz Hmm, do you specifically want more information? The build server I use is NixOS and it was updated recently, which appears to have picked up gdb 8.1, which has slightly different output.

[2018-07-18 05:47] nnethercote commented on #52452
I have the same or a similar problem:
[code]
I'm on Ubuntu 18.04, using gdb 8.1.

[2018-07-18 06:11] arcriley commented on #52469
Is there a way to roll back to a previous nightly?

[2018-07-18 06:34] SimonSapin commented on #52469
@arcriley You can run `rustup install nightly-2018-07-15` and `cargo +nightly-2018-07-15 build`, for example. Or use a directory override or a toolchain file: https://github.com/rust-lang-nursery/rustup.rs/#toolchain-specification

[2018-07-18 06:39] Pazzaz commented on #52452
@eddyb It was that I encountered the bug on my own machine, running Ubuntu 18.04 and gdb 8.1. (same as nnethercote)

[2018-07-18 06:45] joshtriplett commented on #44524
Just to confirm something, do we already have the lint for "you only used this lifetime once, so it's probably a typo"? I don't want to stabilize this without the typo-catcher.

[2018-07-18 06:47] joshtriplett commented on #44493
@aturon

Is this still true? If so, should we be stabilizing? If not, could you please update the summary comment at the top to clarify the current state?

[2018-07-18 06:48] joshtriplett commented on #43467
What's the status of the compile-time detection prohibiting `size_of_val` on an extern type?

[2018-07-18 07:03] RalfJung commented on #43467
I was going to fix https://github.com/rust-lang-nursery/nomicon/issues/29 within the next few days by changing that section to recommend a ZST instead. Should I wait because this might get stabilized soon-ish? :D

[2018-07-18 07:06] dominikwerder commented on #52469
Thank you @SimonSapin

[2018-07-18 07:16] eddyb commented on #43467
@joshtriplett AFAIK no lint or panicking `size_of_val` solution has been implemented.
If @aturon is fine with it (iff we want this as part of the edition), I could try implementing those.

[2018-07-18 07:22] eddyb commented on #43467
@nikomatsakis @oli-obk  Do you have opinions on whether to have a check within the `size_of_val` safe wrapper for the intrinsic, or in the intrinsic itself?
I think we can emit panics anywhere calls are involved, since we have the unwind edges and whatnot fully set up (`TerminatorKind::Assert` already works a bit like this), so we should be able to, with minimal work, handle the `size_of_val` intr

[2018-07-18 08:02] eddyb commented on #48589
I found the other day that `proc_macro::quote!(r#foo)` will not do anything specific about raw identifiers, although I'm not sure if it's broken. Also, it's unstable still.

[2018-07-18 08:17] Manishearth commented on #48589
I have a small concern which I don't think has been addressed yet; `quote`, the library that most proc macros use, uses `#foo` for interpolation, because it is unable to use `$foo` (I forget why, maybe we can fix this).

This seems to have the potential to break serde and a lot of other crates, have we had enough time to test that out?

Since the macro uses syn it's only a problem if syn gains sup

[2018-07-18 08:21] oli-obk commented on #44524
We could just make this a hard error requiring `'_` to be used instead

[2018-07-18 08:35] mbr opened #52478 "Encountered error `Unimplemented` selecting `Binder(...)` during trans trying to get coverage"
I have been trying out both `cargo-kcov` and `cargo-tarpaulin` and seem to keep running into the same compiler panic.

From `cargo kcov` on stable:
[code]

and `cargo tarpaulin`

[code]

A quick search revealed similar error messages in #43924 and #40247, though those might be unrelated.

[2018-07-18 08:40] oli-obk commented on #43467
I would have thought we'd just replace calls to the intrinsic with an `assert false` if the type is an extern type. So "inside the wrapper"?

[2018-07-18 08:48] mbr commented on #52478
Minimal steps to reproduce (assuming `cargo-tarpaulin` is installed):

[code]

[2018-07-18 09:19] Aeradriel commented on #45268
I just ran into this kind of issue myself. It looks like if you import a trait and use it only in submodules you will face this false warning. Here is another playground that shows the bug (importing an existing trait from another crate) => [Playground](https://play.rust-lang.org/?gist=1661b858b3a24298ab056e9ae1ef994c&version=nightly&mode=debug&edition=2015)

[2018-07-18 09:33] rkruppe commented on #43467
We currently don't support `repr(align(N))` on extern types (it's not prohibited but it's ignored -- maybe we should fix that), but it could possibly be useful. The alignment is a property of *pointers*, so it can be known even if the pointed-to type is opaque. For example, GCC lets you do `struct __attribute__ ((aligned (8))) S;`.

But if we support that, then it would make sense for `align` and

[2018-07-18 09:46] SimonSapin commented on #43467
Yes, I’d even say this should be a blocker for stabilization.

[2018-07-18 10:08] kennytm commented on #43467
Just to remind that `&self.extern_type_field` invokes the `align_of_val` intrinsic indirectly to calculate the field offset, so the `assert(false)` shouldn't be placed in the safe wrapper.

[2018-07-18 11:15] hellow554 commented on #52449
I think we should hear @GuillaumeGomez for his opinion.

IMHO: I really think, that serif fonts are good for large block texts, because they will help you with read flow. This is my opinions and I have the feeling, that it does not suits you. Code and captions are always sanserif.
I think the best solution would be a browser plugin, that will give you the option to replace the font (not manually,

[2018-07-18 11:20] eddyb commented on #43467
@kennytm the field access was the reason I brought up that we shouldn't panic. The intrinsic and the wrapper are *function calls*, which means there's a target for unwinding. But we don't have the same kind of information for field accesses, so they would create serious problems by panicking.
This is why I prefer returning a defined alignment.

[2018-07-18 11:31] DutchGhost commented on #52442
After some more playing around, I found that `break as _ ` gave the same ICE on nightly, but stable and beta refused to compile:

[code]

[2018-07-18 12:07] pnkfelix commented on #52126
Bisected over the nightlies and narrowed it to the range 8b22e70b2 .. 2be4cc040

[2018-07-18 12:08] Bert-Proesmans commented on #52462
Sorry, i can't reproduce. I guess this can be closed?

[2018-07-18 12:13] eddyb commented on #44524
@joshtriplett I definitely agree. From @irinagpopa's experience with #52461, I can say that this feature is *really* great at *introducing lifetimes* in an existing codebase, in positions where there were none, with *very little* friction, and *all* the footguns were single-use lifetimes.

[2018-07-18 12:13] oli-obk commented on #52462
If it happens to you again, feel free to just place it in a branch and point us to it

[2018-07-18 12:13] #52462 closed

[2018-07-18 12:14] pnkfelix commented on #52126
Skimming over the log, here are my initial suspicious looking PRs. (Note that I'm trying to cast my net as broadly as possible.)
 * #45538 just because it touched the borrow checker(s)
 * #45435 because it did something with subtyping on LHS of binops
 * #45674 because its a rollup and I need to review its individual commits to determine if one of them is suspect.

[2018-07-18 12:21] eddyb commented on #44524
@nrc Sadly that's not the case at all in codebases where the lifetimes are part of the infrastructure, such as `'tcx` in `rustc`, which inverts the statistics for when you need certain lifetimes explicitly.

I wish we could just make entire modules generic on lifetimes, but atm that's just fantasy.

[2018-07-18 12:32] Mark-Simulacrum commented on #52320
Closing as we're not going to do this (per the reasons stated above, for the most part).

[2018-07-18 12:32] #52320 closed

[2018-07-18 12:35] eddyb commented on #52442
https://github.com/rust-lang/rust/blob/38168a77d7174baf59334f8c196d6ae4136b928a/src/librustc_passes/rvalue_promotion.rs#L373

[2018-07-18 12:37] GuillaumeGomez commented on #52449
I can add a setting to allow the switch if you want? Well, if I find it more comfortable to read, I'll set it as default. :)

[2018-07-18 13:00] oli-obk opened #52482 "Refactor away the `TypeckTables::cast_kinds` field"
# Motivation

This field has a lot of code going into creating it, while its use sites barely care at all about all the nice data it contains. They could just as well compute the data they need themselves. Computing the data is cheap, so there's no point in computing this ahead of time.

# Instructions

## 1. Eliminate uses

The field is used in two places:

1. HIR -> MIR conversion https://github

[2018-07-18 13:02] eddyb commented on #52482
cc @nikomatsakis @arielb1

[2018-07-18 13:04] frewsxcv commented on #52444
Similar issue https://github.com/rust-lang-nursery/rustfmt/issues/2781#issuecomment-396085985

[2018-07-18 13:11] zacheryph commented on #52444
@frewsxcv thank you. Added comment to that ticket and will close this ticket in favor of. Kind of forgot about nursery :x

[2018-07-18 13:11] #52444 closed

[2018-07-18 13:16] withoutboats commented on #48589
I don't know about any tests, but `r#` was chosen initially because it should not be ambiguous with anything in macros.

[2018-07-18 13:36] Mark-Simulacrum opened #52483 "False positive for 2018 unused extern crate in global allocator"
Possibly macro related, not sure.

https://play.rust-lang.org/?gist=7c9846d22f310efa6ab4bec086d61d4e&version=nightly&mode=debug&edition=2018

[code]

[code]

cc @alexcrichton

[2018-07-18 13:41] toidiu commented on #44493
This is the relevant line of code.
https://github.com/rust-lang/rust/blob/master/src/librustc_typeck/outlives/utils.rs#L143

The current implementation will infer `T: 'static`

[2018-07-18 13:49] Michel-Haber commented on #50324
@alexcrichton any update on this?

[2018-07-18 13:54] oli-obk commented on #52483
Possibly solved by https://github.com/rust-lang/rust/pull/52467

If not, the function introduced in that PR can be used to solve this

[2018-07-18 13:59] kennytm commented on #43467
@eddyb unless the `extern_type` [supports `#[repr(align(n))]`](https://github.com/rust-lang/rust/issues/43467#issuecomment-405871235) I don't think returning *any* fixed number from `intrinsics::align_of_val()` is safe 😄.

Without `#[repr(align(n))]`, instead of panic [an `abort()`](https://github.com/rust-lang/rust/issues/43467#issuecomment-377665937) is probably more appropriate for field access

[2018-07-18 14:10] graylikeme opened #52484 "Cargo check fails to detect an error."
When running `cargo check` it fails to output an error that is detected with `cargo build`
b_reg is u8 and running stable 1.27.1

[code]

[2018-07-18 14:13] pnkfelix opened #52485 "suggestion in unresolved trait method calls misses crate `as` rename"
Okay get ready, this is quite a combination of pieces to fit together to reproduce this.

If crate A defines a trait, and crate B rexports A under a new name (via `pub extern crate A as NewName`), and crate C pulls in crate B and makes a call to the trait method ...

... then the diagnostic produced by rustc comes *close* but just misses the mark, because it ignores B's rename of A in its suggesti

[2018-07-18 14:45] SimonSapin commented on #43467
Should `#[repr(align(n))]` be required for extern types?

[2018-07-18 14:46] alexcrichton commented on #50887
I'm hoping this is either mitigated or fixed with https://github.com/rust-lang/rust/pull/52487

[2018-07-18 14:51] eddyb commented on #43467
@kennytm It's safe in the sense that it can't break safe code!
The only reason we need the alignment for DST fields is that you can, *completely* in safe code, coerce *any* `&Foo<Bar>` to `&Foo<dyn Trait>` (if defined `struct Foo<T: ?Sized>`), and then access that field, to call methods of `Trait` on it (for example).

But anything similar for `extern type` needs unsafe code and that would have to

[2018-07-18 15:00] kennytm commented on #43467
@SimonSapin No.

If `extern type` is used like what it originally designed i.e. as FFI of opaque C structures, the alignment is indeed completely unknown, and there's no meaningful `#[repr(align(n))]` for it.

[2018-07-18 15:03] alexcrichton opened #52489 "2018 edition allows ungated access to unstable crates"
When compiled with `--edition 2018` this code compiles just fine:

[code]

That's bad!

[2018-07-18 15:06] alexcrichton commented on #52483
I've confirmed this is fixed by #52467

[2018-07-18 15:07] alexcrichton commented on #50324
No, as far as I know no work has happened on this

[2018-07-18 15:26] RalfJung opened #52490 "Misleading error: cannot borrow captured outer variable in an `FnMut` closure as mutable"
[This code](https://play.rust-lang.org/?gist=682ebd6c22cceb84af45f40c2c25d8d9&version=stable&mode=debug&edition=2015)
[code]
fails to compile saying
[code]
It took me a while to understand what's going on: The actual problem is not the `FnMut`, and it's not the place the error points at, it's that the outer `v` should be `let mut v`.

The way the error is phrased, it sounds like the `FnMut` is the

[2018-07-18 15:48] infinity0 opened #52491 "1.27.1 many tests fail on s390x"
See https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=s390x&ver=1.27.1%2Bdfsg1-1%7Eexp1&stamp=1531882985&raw=0

You can ignore the stdsimd/coresimd failures they were fixed as part of https://github.com/rust-lang-nursery/stdsimd/pull/466 but I have no clue what the other failures are.

[2018-07-18 15:52] RalfJung opened #52492 "x.py causes "found possibly newer version of crate `std` which `libc` depends on""
To reproduce, run
[code]
The second command will fail, saying
[code]

[2018-07-18 15:56] berkus commented on #44660
Hi, just my 2cents on the `::some::path` vs `crate::some::path` - I prefer the latter, mainly because it's easier to read as plain english and doesn't leave crazy left-hanging punctuation.

[2018-07-18 16:00] infinity0 opened #52493 "1.27.1 armv5te-unknown-linux-gnueabi many atomic tests fail"
See https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=armel&ver=1.27.1%2Bdfsg1-1%7Eexp1&stamp=1531907232&raw=0 near the bottom, sample:

[code]

[2018-07-18 16:03] infinity0 opened #52494 "1.27.1 powerpc64/powerpc64le ui/target-feature-{gate,wrong} failing"
- Debian log https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=ppc64el&ver=1.27.1%2Bdfsg1-1%7Eexp1&stamp=1531883902&raw=0
- Fedora log https://kojipkgs.fedoraproject.org//packages/rust/1.27.1/3.fc29/data/logs/ppc64le/build.log

Since the files already have `// ignore-arm` for now I will go ahead and add `// ignore-powerpc64{,le}` to the Debian patches.

However `target-feature-gate.rs` als

[2018-07-18 16:07] matthiaskrgr opened #52495 "optimisation idea: look ahead to deduce better vector capacities"
[code]
[code]

````foo()```` might have a none const parameter.

I wonder if in this code the compiler could deduce that ````x```` will have at least 4 elts pushed to it in any case, so we construct the vector ````x```` with a capacity of 4 by default instead of 0.

[2018-07-18 16:09] RalfJung commented on #52492
Cannot reproduce after clearing `build/*/stage*`. Sorry for the noise!

[2018-07-18 16:09] #52492 closed

[2018-07-18 16:33] mateon1 opened #52496 "Incorrect/misleading error messages after syntax errors in struct initializers"
[code]

The first struct reports missing fields, `bar` and `baz` due to the syntax error:
[code]

The second struct reports a missing field `baz`, and suggests an obviously wrong fix for a type mismatch error:

[code]

[2018-07-18 16:35] mateon1 opened #52497 "Misleading error message: Type mismatch when initializing struct fields with shorthand"
The following code has a misleading proposed fix:

[code]

The reported error message is:

[code]

Trying to apply the suggestion fails and causes a syntax error, the correct fix would be `r: r.into()`.

[2018-07-18 16:49] kennytm commented on #52491
The errors seems to be all NLL-related.

<details><summary>Examples</summary>

[code]

[code]

</details>

[2018-07-18 17:12] #49716 closed

[2018-07-18 17:14] oli-obk commented on #52495
That's some dark optimizer magic specialized to `Vec`. While I'm totally for thinking about this, we should be thinking about a generic way to do this.

The easy way out of doing such black arts, is to detect these cases and have a lint suggest `Vec::with_capacity(if yes { 4 } else { 6 })`. This absolutely feels like something we could have in clippy right now in the `perf` lint group.

[2018-07-18 17:15] icefoxen opened #52500 "Compiler panic on removing `extern crate winit;` while testing 2018 edition"
I managed to make the compiler panic while testing out the 2018 edition on the `ggez` crate.  Full code is available in this branch: https://github.com/icefoxen/ggez/tree/devel-2018  The codebase is relatively large, I'll try to make a more minimal reproduction.

# To trigger

Comment out `extern crate winit;` on line 46 of `src/lib.rs` and try to build via `cargo +nightly build`.  All other non-m

[2018-07-18 17:19] alecmocatta opened #52501 "`-Z linker-flavor=ld.lld` broken since nightly-2018-06-29"
Per https://github.com/rust-lang/rust/issues/39915, I've been using `RUSTFLAGS=-Zlinker-flavor=ld.lld cargo build --target x86_64-unknown-linux-musl` to, on my mac, compile for Linux. This broke when I upgraded recently.

[code]

[code]

[2018-07-18 17:23] matthiaskrgr commented on #52495
Oh that's an interesting idea!

I already thought if we could *somehow* sink the Vec::new() call into the if branches, sorta like
[code]
and have const fn Vec::push() handle the rest, but that would open another can of scope problems I guess...

[2018-07-18 17:36] seanmonstar commented on #44660
I hope this is what you meant. After reviewing a large change to the futures crate, in which all `pub(crate)`s were changed to `crate`, I'm more convinced that using `crate` both in imports **and** as a visibility modifier feels unnatural and confusing.

[code]

I find it especially confusing when the two are used together:

[code]

As I mentioned in the [lint issue to try to get us all to switch

[2018-07-18 17:41] joshtriplett commented on #43467
Rust code can't *move* or *construct* an `extern type` (outside of unsafe code, which has to handle any size/alignment requirements itself), and can't ever read the inside of an `extern type`, so as far as Rust code is concerned, the alignment shouldn't *matter*. Just as with a C opaque struct, if you don't know the insides of the type then you can't declare anything that contains that type, ever.

[2018-07-18 17:51] withoutboats commented on #43467
Extern types are currently allowed in the *tail* position of structs, just as `?Sized` types are also allowed. I don't think that produces any bugs.

That is, this is allowed right now:

[code]

AFAIK there's no technical reason this should not work, just as it works with normal DSTs, but maybe there's something I haven't understood properly.

[2018-07-18 17:53] kennytm commented on #43467
@joshtriplett That doesn't work for a generic `?Sized` field (we've discussed before in https://github.com/rust-lang/rust/issues/43467#issuecomment-377644468)

[2018-07-18 18:14] bjorn3 opened #52504 "rust-call FnSig inconsistent with mir args"
In

[code]

the closure has its arguments unpacked in mir, but the FnSig has them packed and the  call has them packed too.

[2018-07-18 18:18] joshtriplett commented on #44660
@seanmonstar With the proposed additional changes to the module system in the next edition preview, I'm expecting that `crate::foo` will become rarer, and `crate use crate::` seems like an especially rare occurrence.

With the module system in the initial 2018 preview, you'd need to write `crate::` even for references deeper into your crate. With the proposed module system, you'd only need `crate:

[2018-07-18 18:46] graylikeme commented on #52484
Opened in cargo project

[2018-07-18 18:52] tko commented on #52470
That's not how I understood it from the documentation.

to me that suggests the main purpose is to provide Seek implementation.

If it's _only_ meant to wrap Vec or [u8] I think it would avoid misunderstandings to say so out right.

Again suggesting Cursor is fairly generic about underlying I/O object. (FWIW if asked to name some I/O objects, I'd be pressed to consider Vec and [u8] as such.)

...

[2018-07-18 18:55] joshtriplett commented on #43467
@rkruppe Rust code can't move an object of extern type, so it can't ever *change* a pointer to an extern type; it can only work with pointers it receives. So, it shouldn't ever need to care about alignment. I don't have any objection to being *able* to add a `repr(align(N))` to an extern type if there's some value in doing so, but it certainly shouldn't be required.

@withoutboats An `extern type`

[2018-07-18 19:00] nikomatsakis commented on #52078
Turns out to be fixed by https://github.com/rust-lang/rust/pull/51959

[2018-07-18 19:07] withoutboats commented on #48589
@Manishearth I don't know what you mean, but `quote` is a macro_rules macro. It should work just like any other macro_rules macro. If syn lexes `r#` the same way rustc does, anything using syn should also work correctly.

[2018-07-18 19:25] joshtriplett commented on #43467
To clarify something: I'm not arguing that we couldn't, in the future, construct a broader self-consistent type system that allows you to do more things with `extern type`. I'm arguing that the *current* handling of `extern type` is problematic, and for the purposes of stabilizing enough to support opaque types for FFI usage, we should simply ban fields whose type is an `extern type` for now.

[2018-07-18 19:35] sgrif commented on #47941
This has continued to regress. In the most recent nightly, not even the pound token (first token) of the attribute has a meaningful span.

[2018-07-18 19:37] graylikeme commented on #52484
This is the correct place after all

[2018-07-18 19:38] peterhuene commented on #47941
Indeed, that was the behavior I was observing in my repro (https://github.com/peterhuene/inner-attr-span-repro)

[2018-07-18 19:41] alexcrichton commented on #52501
I believe this was caused by https://github.com/rust-lang/rust/pull/51936 (cc @japaric) and can probably be fixed with `-C linker=rust-lld`

[2018-07-18 19:45] durka commented on #44524
Can anyone who's transitioned a codebase to in-band lifetimes post the link here, so we can see if it's easier or harder for others to read?

[2018-07-18 19:46] CryZe commented on #44524
I have ported my crate to Rust 2018 on a branch: https://github.com/LiveSplit/livesplit-core/tree/rust2018

[2018-07-18 19:48] Manishearth commented on #48589
Oh, I see what you mean.

I meant that `#foo` carried meaning in quote that does not in regular macro-defining syntax, but that wasn't your point.

Looking at the implementation it seems to be fine.

[2018-07-18 19:57] Ericson2314 commented on #43467
Err one of the original motivations was doing precisely this to represent FFI types with "some" known fields.

[2018-07-18 20:09] RalfJung commented on #43467
This entirely rules out using `extern type` for generic parameters:
[code]

[2018-07-18 20:15] alecmocatta commented on #52501
@alexcrichton You're spot on, thank you! Apologies for missing that.

I'm now seeing a different error (`rust-lld: error: unknown -z value: ,relro,-z,now`) but I'll look further into it and create a new issue if appropriate.

[2018-07-18 20:15] #52501 closed

[2018-07-18 20:18] sfackler commented on #52470
It is a docs bug. The entire purpose of Cursor is to take a buffer of bytes and turn that into a reader by adding a cursor indicating the current position in the buffer.

[2018-07-18 20:38] QuietMisdreavus commented on #35705
Based on the rousing discussion here, I think the consensus can be described as "it's okay to keep them around". Before i close this issue, though, we should remove the FIXME that it refers to:

https://github.com/rust-lang/rust/blob/12ed235adc62e63b16bb4f715b143c37a5efa00d/src/librustdoc/html/render.rs#L1969-L1978

Just to keep things neat.

[2018-07-18 20:39] crepererum opened #52509 "[Rust 2018] rustdoc doesn't link "pub use whatever_crate;""
## Rust 2015 (`1.27.1`)
![screenshot from 2018-07-18 22-36-24](https://user-images.githubusercontent.com/1529400/42906316-1e6addf8-8adb-11e8-9ef9-a1a4558d9f13.png)

## Rust 2018 (preview at `1ecf6929d 2018-07-16`)
![screenshot from 2018-07-18 22-36-49](https://user-images.githubusercontent.com/1529400/42906323-23dd4276-8adb-11e8-88d6-6da55f2a54b7.png)

[2018-07-18 20:39] crepererum commented on #52509
Please can someone give this a `A-rust-2018-preview` label?

[2018-07-18 20:41] SecondNature commented on #31343
set_print() doesn't capture io through std::io::write(). Consider adding set_write() or perhaps making internal set_stdio() , if that would achieve the same result, public would provide io::write() capture.

[2018-07-18 20:43] #45330 closed

[2018-07-18 20:44] Ichoran commented on #44524
If I explicitly declare a lifetime somewhere and mean to use it again but get the name wrong, it doesn't look like there's any way the compiler will be able to catch me.  For example, suppose I refactor to add an outer lifetime that happens to have the same name as an inner one--now it will silently be converted to the outer one.  Hopefully that will be nonsensical and the compiler will yell at me

[2018-07-18 20:45] QuietMisdreavus commented on #35705
A PR to remove that comment is live at https://github.com/rust-lang/rust/pull/52510.

[2018-07-18 20:49] alexreg commented on #44660
I fully agree with @seanmonstar. Let's not overload this keyword unless we have to (which we don't).

[2018-07-18 20:50] SimonSapin commented on #31343
@SecondNature There is no `write()` function in `std::io`. Are you referring to something else? (Perhaps provide a code example?)

[2018-07-18 20:51] Ichoran commented on #44524
Probably too late for bikeshedding, but it would be way safer if you could

[code]

where `'<name>` means "the lifetime of `name`", which is syntactic sugar for the long version with lifetime parameters.  Yes, that drags you into dependent types, but I think it better matches the intent, is harder to get wrong, _and_ is more lightweight syntactically (at least if you don't need to keep referring t

[2018-07-18 20:53] Manishearth commented on #44660
Yeah, you're right that reexports _usually_ bubble up, but being reexported _laterally_ is also a thing, as Sean outlines. It's something I'm considering doing for the servo-media crate as well, since the files are split up pretty nicely but that just means a lot of common imports in all of our node implementations.

[2018-07-18 21:17] kornelski commented on #44524
This elision is pretty cool:

[code]

As it removes a clearly redundant copy of `<'a>`. It is a clear win, because there still is one copy in the `MyStruct<'a>`, so clarity of the explicit relationship isn't lost.

However, I feel that on function level the elision doesn't pull its weight. It seems inconsistent, because there's `'b` without *any* `<'b>` it belongs to.

If these were variable decla

[2018-07-18 21:18] joshtriplett commented on #43467
@RalfJung Not necessarily; we could catch that when instantiated, while also allowing (for instance) `struct S<T> { x: *T }` to be instantiated as `S<SomeExternType>`.

@Ericson2314 That's a much broader use case than C opaque structures, and would require quite a bit more care to handle in a type-safe way. I'd like to avoid completely blocking the availability of opaque structures on that.

[2018-07-18 21:19] SecondNature commented on #31343
Yes std::io::write() doesn't exist. My mistake. std::writeln!() redirection is required. Can capture println!() with set_print() but can't capture std::writeln!() as no set_write().

[2018-07-18 21:30] durka commented on #44524
You don't have an `<'a>` if you are writing something like `impl SomeTrait for &'a Foo`. Moreover, `impl` can still be nested, so the provenance of a given `'a` is still murky. However, that nesting is pretty rare so maybe it's an acceptable loss in code clarity.

[2018-07-18 21:35] pnkfelix commented on #52126
okay, I have now confirmed that this does not reproduce on commit 740286657a97770eca193062fd5e127c08c0808c but *does* reproduce on commit 2f581cf9d692781847bede5d966b098a5d09b5e4

Thus conclude that this was injected by #45435

[2018-07-18 21:36] pnkfelix commented on #52126
cc @eddyb and @nikomatsakis

[2018-07-18 21:39] Ericson2314 commented on #43467
@joshtriplett well, truth be told. as long as one doesn't take a pointer to the final field (which is a useless thing to do anyways), there is no issue with final-field extern type. Once again, I think an unstable `DynSized` trait is the base way to stabilize this feature soundly while keeping open all possible futures (including panicking and no `DynSized`).

[2018-07-18 21:41] Ixrec commented on #44524
Also, part of the motivation of these changes is to get people to **stop naming every lifetime 'a or 'b**. I think it's important that we explicitly encourage people to start using more meaningful lifetime names like 'foo/'inner/'impl/whatever alongside encouraging them to use in-band lifetimes, not only because that was part of the reason we did this in the first place, but also because better na

[2018-07-18 22:26] sfackler opened #52511 "Parts of FnBox::call_once's symbol name are double-mangled?"
The frame below `std::sys_common::thread::start_thread::hd31f5c5fa3e47024` has this name after being demangled with `rustc-demangle`:

[code]

It seems like part of it is being doubly mangled? I don't think I've seen this happen for other symbols, which is kind of weird.

[2018-07-18 22:38] sfackler commented on #52511
The fully-mangled symbol name from the binary is:

[code]

So it does look like part of it is doubly mangled.

[2018-07-18 22:45] scottmcm commented on #41263
I feel bad seeing this in TWiR every week now.  Anything I can do to help it get somewhere productive?

[2018-07-18 22:46] petrochenkov opened #52512 "Macro path resolution ignores preludes"
All kinds of them - [extern prelude](https://github.com/rust-lang/rust/pull/49789), standard library prelude, language prelude, except for the macro prelude of course (which contains of builtin macros and macros from `#[macro_use] extern crate`).

[code]

[2018-07-18 22:54] petrochenkov commented on #52512
The fix is potentially a minor breaking change due to certain kinds of shadowing being prohibited in macro paths:
[code]

[2018-07-18 22:55] sfackler commented on #52511
Ah nevermind, looks like the mangling is fine and rustc-demangle just isn't handling some of it.

[2018-07-18 22:55] #52511 closed

[2018-07-18 23:10] kennytm commented on #41263
Nominating for discussion. ↑.

[2018-07-18 23:18] scottmcm commented on #44524
Has this been effective at changing people's naming?  Have any of the crates using it decided to change the names from `'a` because of it?  The example up thread doesn't seem to have done so: https://github.com/LiveSplit/livesplit-core/compare/rust2018?expand=1#diff-f1bcf9f873dc4c86484ce31e9daf8bfdL113  (Thank you for posting, @CryZe!)

I look at that example (and the one below it) and don't think

[2018-07-19 00:03] durka commented on #44524
Is there talk of stabilizing that usage of `'_`? (I know there is another part of `'_`, where you'll be required to change things like `struct S<'a>(&'a i32); fn foo() -> S` to `-> S<'_>`.) It sounds like that's being left out of the current FCP.

[2018-07-19 00:19] spearman commented on #44660
Will it be possible to continue declaring what is used in a module and possibly require explicit use, maybe as a crate feature? I prefer to be able to know by looking at a source file what is in scope within it. Having a couple lines of root-level imports at the beginning of a source file helps give some context for what is actually going on inside of it, rather than just having all external depen

[2018-07-19 00:19] kivikakk commented on #52039
FYI: this no longer fails on rustc 1.29.0-nightly (4f3c7a472 2018-07-17).

[2018-07-19 00:21] jakelucas commented on #52449
@hellow554 I did think of using a plugin for myself, but in general websites use sans-serif because it's more readable for more people in large blocks of text, so I'm sure I can't be the only one that has a problem with the font in the standard library docs.

In that case I thought it would be best if the docs either changed to sans-serif or at least provided an option to change for people who can

[2018-07-19 00:29] gnzlbg commented on #52015
This test also fails for sparc64-unknown-linux-gnu

[2018-07-19 00:49] ibkevg commented on #27060
Food for thought, another use case that may flavour the solution here is device drivers.

Having control over how a structure lays out in memory is important to systems programmers who work with board support packages and drivers. A common technique in writing C device drivers, where the device registers are memory mapped, is to create a struct that perfectly overlays the registers. gcc and other

[2018-07-19 01:52] ishitatsuyuki commented on #52495
What you have raised is not really a real-world example. There's already optimizations exist on `collect()` and IMO everyone should be using it instead of direct mutation.

[2018-07-19 03:05] #51621 closed

[2018-07-19 03:05] #52317 closed

[2018-07-19 03:05] #52279 closed

[2018-07-19 03:05] #35705 closed

[2018-07-19 03:06] Havvy opened #52513 "BufWriter::new should say what the current default capacity is"
The docs for `BufWriter::new()` currently state "Creates a new BufWriter with a default buffer capacity." It should state what that capacity currently is (and state that it may be subject to changes).

[2018-07-19 03:10] cjkenn commented on #52482
I'd like to take a look at this. I should be able to get a pr in a few days (possibly with a few questions  -_-)

[2018-07-19 03:34] nrc opened #52516 "rustdoc: collapsed parts are briefly shown as un-collapsed"
This might need a laggy internet connection to repro, not sure. When I click through to a page, a section that is collapsed (e.g., the decl) will be briefly shown as expanded, and then change to being collapsed. It would be nice if that didn't happen

[2018-07-19 03:35] nrc opened #52517 "rustdoc: jumping to a collapsed section should expand it"
When you are in 'collapse all' mode, if you search for and then click through to a method, then you end up in some random part of the page. It would be better if the method (or field, whatever) that you're jumping to were auto-expanded and focussed.

[2018-07-19 03:51] ssokolow opened #52519 "Having two UNIX_EPOCH constants is a potential source of confusion"
While trying to get comfortable with `SystemTime`, I found myself extremely confused because it appeared that `UNIX_EPOCH` was usable, despite being marked unstable.

It wasn't until I checked bug #49502 that I finally realized what I'd repeatedly overlooked: What was being successfully used was `std::time::UNIX_EPOCH` rather than `std::time::SystemTime::UNIX_EPOCH`.

The simplest way to head off

[2018-07-19 03:52] nrc opened #52520 "rustdoc discussion: collapsing sections by default"
IIUC, Rustdoc collapses all trait impls and the type declaration (cc https://github.com/rust-lang/rust/pull/49412) by default. But leaves other sections expanded.

This seems good in many cases, but in others. We might want to adjust exactly how things are collapsed.

Some thoughts:

* When collapsing the type decl, it would be nice to still see a minimal part of the signature, e.g., for [Iterator

[2018-07-19 04:21] ssokolow opened #52522 "SystemTime conversions invite programmer error"
Yesterday, I found and reported a [panic bug in `serde_json`](https://github.com/serde-rs/json/issues/464) which traces its origins to the mechanism for extracting usable information from `SystemTime`.

Specifically, using the best method they believed to be available, it would panic when I tried to serialize metadata for files with negative `mtime` values. (I have one file with an mtime of `-1` a

[2018-07-19 04:33] cauebs opened #52523 "Confusing error when using Self in generic impl block missing trait bounds"
[code]

This gives me the following error:
[code]

If I change `Self::default()` to `Foo::default()`, I get the following error, which is much more straightforward:
[code]

Both can be fixed by adding a trait bound to the `impl` block (`impl<T: Default> Foo<T> {...}`).

[2018-07-19 04:36] SimonSapin commented on #27060
@ibkevg You can do this today, with `#[repr(C)]` structs (for defined layout) and a wrapper type to force accesses to individual registers to be volatile. For example: https://docs.rs/cortex-m/0.5.2/cortex_m/peripheral/cpuid/struct.RegisterBlock.html

However these device registers are typically designed so that none of them is at a misaligned address, aren’t they? So `#[repr(C)]` is enough and yo

[2018-07-19 04:40] anirudhb commented on #49048
I would like to work on stabilizing this. One question: would it be stable since 1.27.1 or the next version?

[2018-07-19 04:51] ssokolow commented on #46484
@roblourens For the record, `FILE_ATTRIBUTE_ARCHIVE` is an old [DOS-era piece of metadata](https://blogs.msdn.microsoft.com/oldnewthing/20090219-00/?p=19093/) meant for backup tools.

The FAT driver sets the Archive flag whenever you modify a file and a DOS-era backup tool operating in incremental backup mode can then go through, save copies of any files marked "Archive", and then clear the bit to

[2018-07-19 06:07] Havvy opened #52524 "fs::copy and io::copy should See Also each other"
I was pointed at `fs::copy` on IRC earlier, but couldn't use it with `tempfile` because that just gives a `File`. Had `fs::copy` had a "See also" link to `io::copy`, I would have found it without complaining that I couldn't use `fs::copy`. And for similar reasons, `io::copy` should See Also to `fs::copy` for those who do want to copy a file based on paths and not readers and writers.

[2018-07-19 06:49] RalfJung commented on #43467
@joshtriplett

So you are suggesting monomorphization-time errors? That is the only possible implementation for this proposal, I think. I can't even remember if we have any monomorphization-time errors, but we sure should avoid adding more.

[2018-07-19 07:07] Manishearth opened #52525 "macro imports don't work when there are _two_ imported attributes"
[code]

This is the code you are supposed to use according to the `macro_use_extern_crate` lint.

It fails to compile, with

[code]

It compiles fine if you use just one of the two attributes. Swapping attribute order makes it complain about the last non-derive attribute.

This seems broken?

cc @dtolnay @alexcrichton

[2018-07-19 07:14] dtolnay commented on #52525
Confirmed, this behavior is broken. Possibly related to #52226. @petrochenkov

[2018-07-19 07:16] dtolnay commented on #52525
As a workaround specific to serde_derive, we allow multiple elements within one `#[serde(...)]` attribute.

[code]

[2018-07-19 08:09] steveklabnik commented on #52449
The book is the odd one out here; Fira Sans is used for most things Rust.

[2018-07-19 08:37] oli-obk commented on #52482
@cjkenn awesome! Don't hesitate to ask here or on irc/discord if you have any questions

[2018-07-19 08:57] oli-obk opened #52528 "src/liballoc/alloc.rs:169: undefined reference to `<core::ptr::Unique<T>>::as_ptr'"
Tests with `panic=abort` cause

[code]

For me locally.

This isn't happening on Travis.

Maybe it's

* debuginfo,
* fullmir
* incremental

related? Because I have all of these set in my config.toml. Has been happening since I rebased yesterday.

I'll investigate locally.

[2018-07-19 09:26] sicking opened #52529 "Implement limit-based binary search on slice"
The current `binary_search_*` API on slice is very flexible in that it both allows searching for items in the slice, as well as the ranges "between" the items.

However this flexibility comes at the cost in situations where the values in the array acts as limits, rather than items to search for. I.e. where you don't care if the searched for value falls between two items, or exactly on one of the i

[2018-07-19 09:40] petrochenkov opened #52531 "test suite: `error-pattern` annotations are not checked in UI tests"
Sometimes `//~ ERROR` attached to a line in the local file cannot be used for testing an error message, because the message is attached to a "remote" span from some other file.
In this case `error-pattern` annotations can be used in compile-fail tests to check that some diagnostics present in the output regardless of span.

The problem is that such annotations are completely ignored in UI tests an

[2018-07-19 09:42] sicking commented on #52529
This might also be able to provide a small performance benefit for these use cases since I think we can skip the last couple of lines in the current `binary_search_by` implementation. Though the attached PR doesn't take advantage of that in an effort to reduce code duplication.

[2018-07-19 09:58] humenda commented on #52459
I should add that it works fine when not specifying a target specification.

[2018-07-19 10:17] pietroalbini commented on #49048
You should use the current nightly version when stabilizing (at the moment 1.29.0).

[2018-07-19 12:16] lnicola commented on #51802
Maybe some kind of `SetLenOnDrop` trick can work here?

[2018-07-19 12:30] pnkfelix commented on #52126
I might have a (nice small) fix for this.

[2018-07-19 12:42] Mark-Simulacrum opened #52532 "In-band lifetimes stop working when in a nested function"
[code]

https://play.rust-lang.org/?gist=d2b32bc0947a05fa0830a0d244dcb4fa&version=nightly&mode=debug&edition=2015

[2018-07-19 12:42] Mark-Simulacrum commented on #44524
Found a bug with this feature that IMO should block stabilization: https://github.com/rust-lang/rust/issues/52532.

[2018-07-19 12:53] nikomatsakis opened #52533 "[nll] improve the "fully elaborated type" case in region errors"
Consider this example:

[code]

Here, we are returning `b` from the closure but we ought to be returning `a`. [We get this error message](https://play.rust-lang.org/?gist=465cef5b6d9842ee88432de201e66254&version=nightly&mode=debug&edition=2015), which could be much clearer:

[code]

There are a number of problems here, but the part I wanted to focus on in **this** issue is the message "lifetime `'

[2018-07-19 13:00] petrochenkov commented on #52532
The diagnostics ("use of undeclared lifetime name") are bad, but this indeed must be an error because the inner `'a` is an illegal use of the outer `'a` rather than an implicitly defined fresh lifetime.

[2018-07-19 13:03] nikomatsakis opened #52534 "[nll] borrows that must be valid for a free lifetime should explain why"
Consider this example:

[code]

This fails to compile -- and rightly so. The closure is supposed to return something with the same lifetime as its argument, but it returns `&x`. However, the *error* we get is quite confusing:

[code]

this error arises because we infer (again, correctly) that if the `&x` expression returned a `&'static u32`, it would be suitable -- and hence it infers that the bor

[2018-07-19 13:04] danielhenrymantilla commented on #27804
Agree with the need of a `take_arbitrary` method.

Imagine the following situation: you have a pool (set) of elements to handle, and while handling each, you may be find yourself handling other elements, and would thus wish to remove those other encountered elements from the pool.
You cannot simply iterate over the pool, since the body will attempt to mutate the pool, you must then iterate manuall

[2018-07-19 13:10] oli-obk commented on #52495
I don't think we can really act on this. Feels free to open a clippy isuse though so we can brainstorm lint ideas.

This might make a good first MIR lint!

[2018-07-19 13:12] djc commented on #44660
Having tried the conversation on one of my crates, I wanted to mention like some others I've seen talking about this, I'm not convinced using `crate` as a visibility modifier instead of `pub(crate)` is an improvement. My reasoning here is that the crate moniker is quite widely used, and just sticking it in front of items makes it a little messy (it reminds me of the keyword soup you get in some la

[2018-07-19 13:44] nikomatsakis commented on #52050
Huh. Very curious. So I am able to reproduce the error (and lack of error) -- though with modern compilers something has changed with respect to proc macros so I had to remove a few `pub use` to get things building.

Applying `cargo fmt` does make the error start happening.

But reordering modules in the way described by @Rantanen did not (for me) make the error go away. I was however testing with

[2018-07-19 13:46] nikomatsakis commented on #52050
The error *does* seem to arise if I format just these two files: `src/objects/mod.rs` and `src/lib.rs`

[2018-07-19 13:47] nikomatsakis commented on #52050
Actually, just `src/lib.rs` is enough

[2018-07-19 13:48] nikomatsakis commented on #52050
specifically this diff:

[code]

[2018-07-19 13:49] konstin commented on #52050
Yep, that's fixed on master since the v0.3.0 tag

[2018-07-19 13:50] nikomatsakis commented on #52050
This diff seems to suffice to make the error start to happen:

[code]

[2018-07-19 14:02] alexcrichton commented on #52403
Not ready quite yet, closed by accident!

[2018-07-19 14:05] pnkfelix commented on #52370
assigning to self for further investigation.

[2018-07-19 14:06] pnkfelix commented on #52370
(note we may downgrade priority to something less drastic than P-high)

[2018-07-19 14:06] pnkfelix commented on #52312
closing, @Mark-Simulacrum says this has been backported.

[2018-07-19 14:06] #52312 closed

[2018-07-19 14:08] oli-obk commented on #52370
Can't reproduce on yesterday's master (but I also have incremental + debug asserts on)

[code]

[2018-07-19 14:08] Mark-Simulacrum commented on #52532
Hm, I don't think that's quite what I'd expect: previously using `<'a>` in that context would be fine because there is no shadowing so to speak, that is, this compiles:

[code]

[2018-07-19 14:11] fzzr- opened #52537 "[ui] Incorrect hint: Ok(wrap) instead *Deref"
Reproduced on versions:
- `rustc 1.29.0-nightly (12ed235ad 2018-07-18)`
- `rustc 1.29.0-nightly (9fd3d7899 2018-07-07)`
- `rustc 1.27.0 (3eda71b00 2018-06-19)`

Isolated example to reproduce:
[code]

Actual error:
[code]

Mentioned suggestion about "wrap into `Ok`" is incorrect at all. There we should deref the value from the `get_state()?`.

- - -

Expected error:   (something like this)
[code]

[2018-07-19 14:19] pnkfelix commented on #52039
visiting for triage. Assuming fixed. Adding E-needstest

[2018-07-19 14:20] pnkfelix commented on #52039
also downgrading to P-low under assumption that only work remaining is coming up with a regression test.

[2018-07-19 14:23] pnkfelix commented on #51608
hey @jrmuizel did you actually find anything interesting out from @pcwalton about this?

[2018-07-19 14:32] pnkfelix commented on #50865
visited for triage, leaving assigned to @oli-obk for now.

[2018-07-19 14:39] pnkfelix commented on #50422
Visiting for triage: Given rust-lang-nursery/rustc-guide#171, I am tempted to downgrade this to P-medium...

[2018-07-19 14:43] pnkfelix commented on #49482
assigning to @michaelwoerister as they were most recent compiler expert to locally reproduce, and its theorized that it may be related to PR #47181

[2018-07-19 14:46] pnkfelix commented on #46908
visiting for triage. @spastorino and I have made progress. I hope to have a PR up this week.

[2018-07-19 14:47] alexcrichton commented on #52525
This should be fixed in https://github.com/rust-lang/rust/pull/52539

[2018-07-19 14:48] pnkfelix commented on #52443
triage: P-high

[2018-07-19 14:55] ehuss commented on #52517
See also #48726

[2018-07-19 15:02] ibkevg commented on #27060
Great - I might have been thrown off the trail by the name #[repr(C)] because this is needed even if there is no C code present at all and a driver is being writing in 100% Rust. I’d suggest renaming or adding an alias that isn’t FFI specific.

Another thing that led me to write the comment above was skimming this thread and noticing at one point musing about fixing the issue in software by copyin

[2018-07-19 15:06] pnkfelix commented on #52390
tagging as T-compiler under assumption that this is in our wheel house, at least until we seen evidence to the contrary

[2018-07-19 15:10] Pzixel commented on #38356
I tried to upgrade my compiler version and I've got this error. My code
[code]

and error that says that I didn't use `#![feature(proc_macro)]`, but I did!
[code]

[2018-07-19 15:27] infinity0 opened #52541 "1.27.1 can't `x.py install` itself"
https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=all&ver=1.27.1%2Bdfsg1-1%7Eexp2&stamp=1531955286&raw=0

The bug is in error_chain and Fedora has a patch: https://src.fedoraproject.org/cgit/rpms/rust.git/plain/0001-Fix-new-renamed_and_removed_lints-warning-247.patch

However users of the 1.27.1 tarball will be forever affected since it contains a vendored copy of error_chain.

[2018-07-19 15:30] infinity0 opened #52542 "Set up CI for local rebuilds using the actual rustc-src tarball"
By that I mean the whole end-to-end process of `./x.py {build,test,install}` and then using this installed version to build itself again.

Would help to prevent things like #52541, this has happened quite a few times now.

[2018-07-19 15:35] kennytm commented on #52390
@ejpcmac In the debugger when it crashed, could you execute `disas` and `reg read` to show the disassembly and registry dump?

[2018-07-19 15:38] nikomatsakis commented on #52050
So the strategy of inserting into the tree is that it walks over a list of `&mut DefId` representing the children at any given level:

https://github.com/rust-lang/rust/blob/5ba21844f6c85a0cd55c8ea0250d5cd758134f84/src/librustc/traits/specialize/specialization_graph.rs#L113-L116

If it finds that the current def-id D is broader than some child C, it replaces C with D:

https://github.com/rust-lang

[2018-07-19 15:50] kennytm commented on #52542
The `./x.py test distcheck` build was supposed to test this, though it doesn't execute the `install` step after `src_tarball/x.py test`.

[2018-07-19 15:59] jrmuizel commented on #51608
Here's what he wrote: https://github.com/SSheldon/rust-objc/issues/49#issuecomment-398526269. I don't know anything beyond that.

[2018-07-19 16:01] #51971 closed

[2018-07-19 16:02] Pzixel commented on #38356
@alexcrichton well, yes, thanks to the [artic;e](https://rust-lang-nursery.github.io/edition-guide/2018/transitioning/modules/macros.html) I figured out that idea. However, it still not work:

[code]
Import rules for macros have changed too? Or I can't figure out why it started complain here.

[2018-07-19 16:05] ejpcmac commented on #52390
@kennytm For sure. I’ll do it as soon as I’m home.

[2018-07-19 16:05] gilescope commented on #44931
How are we doing? Is there something I can try out in my company? And also do we need to team up and create an artifactory plugin?

Really this should be tagged Rust 2018 edition (if not earlier), because if we can't use Rust at work what's the point?

[2018-07-19 16:12] infinity0 commented on #52493
https://github.com/rust-lang/rust/commit/0f5e4191632de4bbc1ef4ef2be26b517861cbff0

@llogiq Are your new tests supposed to work on armv5te or should they just be ignored?

[2018-07-19 16:14] aaronsky commented on #44931
Speaking personally, I don't know what's involved in creating an Artifactory plugin for something of this potential scale. I have been trying to find some information or examples on how folks in other communities have approached bootstrapping rudimentary Artifactory support for their ecosystem. I have also been ramping up on Cargo and how to implement the missing pieces outlined in the tracking is

[2018-07-19 16:21] sicking commented on #52529
An alternative solution for `slice.binary_search_limit` and `slice.binary_search_limit_by_key` would be to make the limit argument be of type `std::ops::Bound<T>`. So

[code]

would return the first value `>= 5` and

[code]

would return the first value `> 5`. Same thing for `binary_search_limit_by_key`. One downside would be what to do for

[code]

Most likely returning 0 would be the right thing

[2018-07-19 16:22] infinity0 commented on #52491
There are many NLL errors but also many others, see the summary at the bottom of the linked log:

<details>
<summary>Test failure summary</summary>
<pre>
==== Debian rustc test report ====
Specific test failures:
command did not execute successfully: "/usr/bin/cargo" "test" "--no-fail-fast" "--"
test [ui] ui/nll/issue-43058.rs ... FAILED
test [ui] ui/target-feature-gate.rs ... FAILED
command did n

[2018-07-19 16:22] RalfJung commented on #24111
I wrote a summary of my ideas of Const safety, const soundness etc. that have come up here in this thread and/or in related discussion on IRC: https://www.ralfj.de/blog/2018/07/19/const.html

[2018-07-19 16:47] petrochenkov commented on #52532
From https://github.com/aturon/rfcs/blob/93259c2fb9a66d805d9f5c9c049df82aad2b5553/text/2115-argument-lifetimes.md#lifetimes-in-fn-signatures

(In the second example there's an explicit definition that shadows the previous definition for following uses, in the first example there's no second definition, only use)

[2018-07-19 16:50] mbrubeck opened #52543 "Sub-optimal performance of Iterator::max_by_key in some cases"
@pftbest noted that this test case:

[code]

is about 2–3 times slower than the same test run with this alternate implementation of `Iterator::max_by_key`:

[code]

However, if the field `z` is removed from `struct Data`, the libstd test case runs as fast as the alternate one.

[Complete example on playground](https://play.rust-lang.org/?gist=72627da67b11c06cc57fbffb3631f028&version=nightly&mode=d

[2018-07-19 16:52] Mark-Simulacrum commented on #52532
I see that this is in the RFC, but I think I more or less disagree with the reasoning given. Disallowing the use of inband lifetimes when nesting function seems arbitrary and not entirely helpful; it also makes a mechanical change from "old" to "new" more difficult because shadowing is visible only based on indent levels.

[2018-07-19 17:10] oli-obk commented on #52443
So... there's some very weird stuff going on wrt the `!` type and blocks:

<details>

[code]

</details>

It appears that somehow `& { loop { continue } }` produces an error type, but only if the expression is inside an array length or an enum initializer. Inside a constant that is used for an array length, everything is fine. So I presume this is AnonConst related.

cc @eddyb stable-to-nightly IC

[2018-07-19 17:19] Bobo1239 commented on #52370
@oli-obk My bad. Should have clarified that the ICE only occurs when actually using the proc-macro crate (`extern crate proc_macro_limit;`). So `cargo build` runs successfully but `cargo test` fails. I will update the initial post to include this detail.

[2018-07-19 17:22] jjl opened #52544 "Consider borrowing here: `&0`"
[code]

What I actually wanted was `*i`.

[2018-07-19 17:23] oli-obk commented on #52370
Ah indeed. Unfortunately I'm running into stack overflows now :/

<details>

[code]

</details>

[2018-07-19 17:24] sgrif opened #52545 "Rustdoc ignores traits implemented inside of a function"
After #51952 landed, I attempted to make Diesel compatible with recent nightlies by following the advice of wrapping the output in a function rather than a module. However, we are now unable to build our documentation. The compiler complains that every derived trait within Diesel is not implemented. This only occurs when running `cargo doc`, the crate otherwise compiles fine. I have tested with 1.

[2018-07-19 17:25] oli-obk commented on #52370
But the stacktrace is still helpful:

https://github.com/rust-lang/rust/blob/4d1a30c92b50c5965ed26449758fca81bee15747/src/librustc/hir/map/definitions.rs#L89

[2018-07-19 17:33] seanmonstar commented on #44660
Here's another instance I just ran into that combines the `crate` keyword in both a visibility modifier and a path, that seems even more likely than the `crate use crate...` instance.

Current:

[code]

With changes from this tracking issue:

[code]

I personally find the new one to be more confusing than the current way.

[2018-07-19 17:33] ejpcmac commented on #52390
@kennytm Here I am:

[code]

[2018-07-19 17:44] nikomatsakis commented on #51027
Regardless of the specific wording, it seems like we want to do a few things:

- Highlight `y` and point out that it contains data valid only during the closure body
- Highlight `x` and point out that it is not inside the closure body
- Highlight where `y` escapes the closure body

Currently we print this:

[code]

You can see we've got notes on all the right places, but the text ain't great. As I

[2018-07-19 17:51] estebank commented on #47608
What should the diagnostic text be for the following cases?:

1. `#[macro_use] extern crate serde_derive;` (the presented case in the description): user forgot to use `#[derive]`
2. `extern crate serde_derive;`: user forgot to add `#[macro_use]`
3. user forgot to add the `serde` crate to the project in the code
4. user forgot to add the `serde` crate to the `toml` config file

I can see how we can

[2018-07-19 18:05] dtolnay commented on #47608
Your case 1 is the only one I have seen over and over again in IRC. I wouldn't bother with the other cases. For case 1 I would like a diagnostic like this:

[code]

along with a suggested fix that shows adding the (I guess alphanumerically the first, if there is more than one in scope) derive as a new `#[derive(Deserialize)]` attribute above the type if there are not already any derives on that ty

[2018-07-19 18:08] Enet4 commented on #33731
Is this issue still reproducible? I stumbled upon a similar situation, but the doctest below seems to compile just fine since 1.26.0 (it fails in 1.25.0 and older).

[code]

[2018-07-19 18:25] anirudhb commented on #49048
OK, thanks! I'll open a PR soon.

[2018-07-19 18:25] QuietMisdreavus commented on #33731
That doctest doesn't exercise the issue. The problem is that you can't use any types from your own crate in there, right. (Unless your crate *is* `byteorder`, but then you're doing everything correctly.) Rustdoc still won't add `extern crate my_crate;` to the doctest.

[2018-07-19 18:35] Mark-Simulacrum commented on #52390
I don't think it's worth 1.27.3. We already decided that we're not going to backport the original TLS patch -- and 1.28 will be out in two weeks anyway.

[2018-07-19 18:47] joshtriplett commented on #44524
@rfcbot concern lint

This should not be stabilized until we have the lint that ensures a simple typo doesn't become an undeclared single-use lifetime.

[2018-07-19 18:48] scottmcm commented on #52529
Cross-linking Add `lower_bound`, `upper_bound` and `equal_range` for slices where T: Ord to complement `binary_search`, https://github.com/rust-lang/rfcs/issues/2184

Are `Included` and `Excluded` not just `lower_bound` and `upper_bound`?

[2018-07-19 18:53] jethrogb commented on #43467
Summary of this thread so far:

#### Should we allow generic lifetime and type parameters on extern types?

This is mentioned in the initial post as an unresolved question, but no discussion has taken place on this.
As mentioned in https://github.com/rust-lang/rust/issues/43467#issuecomment-405808005 you can add genericism in a different way.

#### `std::ptr::null`/`null_mut`

Currently these func

[2018-07-19 18:54] joshtriplett commented on #44493
@rfcbot concern inferred-static

We need to decide if the current behavior of inferring `'static` is correct, and either document it or change it.

[2018-07-19 19:11] alexcrichton commented on #38356
@Pzixel that may be a bug in the procedural macro or the compiler, can you file a dedicated issue for that?

[2018-07-19 19:15] Pzixel commented on #38356
Well, I think I should rewrite my code first to make it at least looking working :) Right now it doesn't, you guys changed a lot with this feature. BRB when done. If it doesn't disappear I create an issue.

[2018-07-19 19:20] joshtriplett commented on #43467
@RalfJung We'd either need a monomorphization-time error, or something like the `?DynSized` trait, and the latter adds a huge amount of complexity and forces us to work out much more of the planned handling for custom DSTs.

[2018-07-19 19:29] kennytm commented on #43467
As there is no place to spell out the variance of these parameters, my preference is "no".

[code]

[2018-07-19 19:37] tko commented on #52470
Made a PR to suggest some documentation changes to better describe the intention.

I do wonder though if the `AsRef<[u8]>` guard should also be included for `new`, it could capture the problem more accurately where it's happening?

[2018-07-19 19:41] varkor commented on #51971
@euclio: is this issue actually fixed? The pull request #52197 claims to fix it, but it doesn't modify any tests — and I'd be very surprised if none of the existing test suite ICEs (I've recently fixed one, and I can't believe that was the only one). Am I right in thinking #52197 makes it _possible_ to distinguish, but doesn't actually make ICEs fail tests?

[2018-07-19 19:45] sfackler commented on #52470
There probably should have been an `AsRef<[u8]>` bound on `new`, but we can't add it now.

[2018-07-19 19:50] euclio commented on #51971
Yes, notice src/test/ui/issue-20801.rs
<https://github.com/rust-lang/rust/pull/52197/files#diff-6732283260b31d2c3fcb03177c2e9508>
currently ICEs under NLL, so I ignored it in my PR. I believe that's the
only test that ICEs currently.

On Thu, Jul 19, 2018 at 3:42 PM varkor <notifications@github.com> wrote:

[2018-07-19 20:08] Mark-Simulacrum commented on #44524
I've written up my experience migrating `rustc_mir` to the new system [here](https://mark-simulacrum.github.io/2018/07/19/inband-lifetimes.html). It's a rather long post -- however, I've tried to summarize my general feeling at the top.

[2018-07-19 20:09] jsgf opened #52549 "Paths in save-analysis files are not remapped by --remap-path-prefix"
`--remap-path-prefix` is supposed to remap all references to paths in all output (error messages, debug info, etc). It looks like this isn't happening for save-analysis files.

For example, in current nightly: rustc 1.29.0-nightly (12ed235ad 2018-07-18)

This input
[code]
[code]

produces a save-analysis file which still has references to my home dir:
[code]

Example in [full output](https://gist.

[2018-07-19 20:09] jsgf commented on #52549
cc @nrc @Xanewok

[2018-07-19 20:10] Boiethios commented on #27863
Same here, I just stumbled on this issue. How is this doing? The issue is there since 3 years.

[2018-07-19 20:34] kpp opened #52550 "Parse IPv4 addr 127.1"
127.1 is a valid IPv4 addr equals to 127.0.0.1 according to https://www.quora.com/Is-127-1-a-valid-IP-address.

I tried this code:
[code]

I expected to see this happen: test passes.

Instead, this happened:
[code]

MRE: https://play.rust-lang.org/?gist=e8591b1f1f5710b2438c45ab42928bb0&version=stable&mode=debug&edition=2015

[2018-07-19 20:49] nikomatsakis commented on #52042
Getting this 100% right would probably be fairly hard, but we can probably start with something very simple: essentially, we just identify `T: 'a` where-clauses in structs and .. don't do them.

[code]

becomes

[code]

I tried this by hand on Rayon and it all worked great ;).

[2018-07-19 21:00] Flakebi commented on #45728
@IsaacWoods It works fine for me with ncurses 6.1, even rustup has colors again since the last version 🎉.
I’d like to note though that things like `RUSTC_WRAPPER=sccache` destroy this for some reason (even if `--color=always` is set).
It took me some time to figure that out 🙂

[2018-07-19 21:01] alexreg commented on #43467
@kennytm Variance? With respect to what operation?

[2018-07-19 21:09] flip111 opened #52551 "Docs: link to "blanket implementation""
Hello, i'm new to rust but i had some problem finding relating documentation.

I started with this method here https://doc.rust-lang.org/std/primitive.char.html#method.to_lowercase

I see `to_lowercase` returns a `ToLowercase` struct, after that the `to_string()` function was called. When i click on the documentation for `ToLowercase` here https://doc.rust-lang.org/std/char/struct.ToLowercase.html

[2018-07-19 21:16] nikomatsakis commented on #52113
So, to try and elaborate a bit more on what I was saying in my previous comment:

In the case of a late-bound region from a parent function, it will be not be part of the closure's generics. It may show up in the types of upvars or something like that. So for example if you had:

[code]

then the closure would have two upvars (`x` and `y`) and of course their types will ultimately reference `'a`.

[2018-07-19 21:16] varkor commented on #51971
Oh, that's a much better situation than I expected, thanks!

[2018-07-19 21:39] davidtwco commented on #44109
@rust-lang/compiler @rust-lang/lang As far as I'm aware, with #51854 having landed, the only thing remaining for this RFC is implementation of the attribute for variants (they currently share a `DefId` with the enum which meant it was skipped on the initial implementation) - I'm happy to work on this if someone can provide some pointers. Is there anything else blocking stabilization?

[2018-07-19 21:45] alexreg commented on #43467
@kennytm Okay, got it, thanks. The operation would be function type constructor (and consequently the type constructor `*const Foo<'a>`) in this case. Which is normal Rust is always covariant in the return type, as far as I know... Anyway, I'm not sure how treating `extern` function type constructors the same would be problematic.

[2018-07-19 21:54] rpjohnst commented on #44524
Nice work!

One quick response to the stuff about `'_`- the reasoning behind *not* eliding it (in e.g. `fn f(..) -> &Mir<'_>` as opposed to the currently-allowed `fn f(..) -> &Mir`, without any `<>` at all) was to align type-parameter lifetime elision with reference lifetime elision. It's supposed to play the same role as `&` in pointing out "there's *some* lifetime here, but it comes from the usu

[2018-07-19 21:59] Mark-Simulacrum commented on #44524
Right, the point I was trying to make is that the & already indicates that so any additional indication isn't required/helpful.

[2018-07-19 22:08] durka commented on #44524
But the & doesn't signify that. &Mir doesn't tell you whether Mir has a
lifetime parameter, and if it does, it might be &'a Mir<'a> or &'a Mir<'b>.

I think that _ is well-established as being irrelevant *and* unique in
other parts of the language, like `(_, _, x)` and `foo::<T, _, _>` so I'm
not too concerned about '_ being misinterpreted. What worries me more is
the parts about losing context of

[2018-07-19 22:16] durka commented on #52532
IMO it should be an error, with a helpful note like the one you get when writing `fn foo<T>() { fn foo(_: T) {} }`. Let's not make in-band lifetimes any more confusing than they already are.

[2018-07-19 22:19] Mark-Simulacrum commented on #52532
The distinction is that inband lifetime's selling point is that you don't need to declare lifetimes. If we say that, and then clarify it with "except" then I think the feature feels incomplete. Inband lifetimes confusion does not increase with permitting this, IMO.

[2018-07-19 22:23] rbuckland opened #52554 "URL in Error note for E0277 is invalid - #dynamically-sized-types--sized"
## The compiler presents a URL in the error explanation which is invalid

I expected a valid URL
Instead, the URL links to the correct page, but the anchor is invalid.

## Details

The URL presented is
[https://doc.rust-lang.org/book/second-edition/ch19-04-advanced-types.html#dynamically-sized-types--sized](https://doc.rust-lang.org/book/second-edition/ch19-04-advanced-types.html#dynamically-sized

[2018-07-19 22:57] Mark-Simulacrum commented on #52532
Well, somewhat, but not *really*. *Nothing* outside of imports/definitions inherits into the inner function, unlike the impl where there is a history and multiple things which inherit (`Self`, lifetimes, generics).

[2018-07-19 23:10] insanitybit commented on #10184
What specifically caused this issue to be closed?

[2018-07-19 23:26] oli-obk commented on #52544
The problem is by the time this error is emittedwe don't have the information about the root cause anymore. In this case that would be the type of `i` being checked for `PartialOrd` and figuring out the the rhs needs to be of the same type.

Clippy has a lint that will tell you to clean it up afterwards, but we should probably issue a better diagnostic to begin with.

[2018-07-19 23:33] rpjohnst commented on #43467
A *type itself* can be co/contra/invariant in its lifetime parameter:

[code]

Which behavior would an `extern type` with a lifetime parameter have? There's nothing to infer it from.

[2018-07-19 23:36] nrc commented on #34511
Just a note for when we stabilise the new existential types - "existential" was always intended to be a temporary keyword (according to the RFC) and (IMO) is terrible. We must come up with something better before stabilising.

[2018-07-19 23:41] Boscop commented on #42640
Any update on this issue? :)

[2018-07-20 00:11] alexreg commented on #43467
@rpjohnst I was effectively referring to the same thing. But it's still not quite invariant/covariant *in itself*. The operation/functor here is the type constructor, technically.

[2018-07-20 00:21] rushmorem commented on #48750
May I suggest adding the [psl](https://crates.io/crates/psl) crate to your benchmarks? It generates a huge `match` statement from the Public Suffix List. On machines I have compiled it on, it takes about 20 to 30 minutes to compile :smile:

[2018-07-20 00:46] djrenren opened #52557 "#[test] visibility changes can produce conflicts and type errors with glob use."
Because `#[test]` marks tests as public so that they can be reexported (avoiding E0364), they can cause namespace pollutions that only occur in test builds.

Minimal repro:
[code]

In a normal build, the only `foo` in scope is `B::foo`, but in a test build `A::foo` will shadow it. And produce the following error:

[code]

[2018-07-20 01:12] djrenren commented on #52557
I propose that instead of expanding:

[code]

to:

[code]

we expand to:

[code]

This is a breaking change but only for the semi-pathological case where you have test functions referencing each other. It also brings test into line with standard builds in that `#[test]` are not referenceable. (in debug/release due to removal, and in test due to a gensymed module).

[2018-07-20 01:25] shepmaster commented on #10184
@insanitybit It... appears to still be open...?

![image](https://user-images.githubusercontent.com/174509/42978296-26950c28-8b9a-11e8-9bdc-1f713b310d7a.png)

[2018-07-20 01:31] insanitybit commented on #10184
Welp, no clue what I was looking at.

[2018-07-20 01:32] nrc commented on #52557
I bet that's not uncommon enough to make a breaking change. However, I would expect test functions that reference each other to do so via relative paths, and this would only be breaking if absolute paths were used (iiuc). In any case we should probably just fix this and do a Crater run.

[2018-07-20 01:35] nrc commented on #52557
cc @petrochenkov and @rust-lang/compiler

We might be able to hack something in name resolution? Perhaps glob imports don't treat test functions as public? Or we give them some weird hygiene marker or something?

[2018-07-20 01:38] djrenren commented on #52557
Actually if we did:

[code]

I think we'd be compatible and safe

[2018-07-20 01:42] djrenren commented on #52557
Well, technically we should `use` or `pub use` each test in accordance with it's visibility

[2018-07-20 02:42] llogiq commented on #52493
Interesting. It seems the platform doesn't implement the atomic operations. I'd suggest either removing the operations entirely for armv5te or  special-case the platform using a simple CAS loop implementation.

[2018-07-20 03:09] csmoe commented on #52554
Fixed in latest rustc https://github.com/rust-lang/rust/blob/1c84d8187395b641616649a0f16f15a78ea8bbce/src/libcore/marker.rs#L98

[2018-07-20 03:09] #52554 closed

[2018-07-20 03:49] mikeyhew commented on #48055
@eddyb

I guess I can see why people think it's more ergonomic: in order to opt into it, you just have to add `?Sized` to your function signature, or in the case of trait methods, do nothing. And maybe it will help new users of the language, since `&move` wouldn't be show up in documentation everywhere.

If we're going to go ahead with this implicit syntax, then there are a few details that would

[2018-07-20 04:46] nagisa commented on #10184
@rkruppe didn't we ensure that float to int casts are no longer UB in LLVM
(by changing docs)?

On Jul 20, 2018 4:31 AM, "Colin" <notifications@github.com> wrote:

Welp, no clue what I was looking at.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/rust-lang/rust/issues/10184#issuecomment-406462053>,
or mute
t