[2019-05-03 19:30] nagisa opened #60522 "Glob-duplicated item names produce duplicated entries in rustdoc"
Consider such code:

[code]

Due to how glob-import conflict resolution works (please correct me if I’m wrong @petrochenkov), when referring to the names `banana` and `peach`, only the `banana//2` and `peach//2` can be referred to.

`rustdoc` will include both the modules into the output, repeated:

![rustdoc output with repeated banana and peach modules](https://user-images.githubusercontent.com/

[2019-05-03 20:13] reuvenpo opened #60524 "macro_rules gives up early when parsing keywords in `expr` contexts"
I'm sorry for the vague title; I'm not sure how to summarize this issue, or pin down it's root cause.
I'm also sorry if this is intended behavior, i just find it very confusing.

I found this while playing around with the limits of the macro_rules parser, trying to narrow down an edge case i noticed while working on adding flexibility to the `py-comp` crate.
Given the definition:

[code]
we get th

[2019-05-03 20:49] cramertj commented on #60518
cc @davidtwco it looks like the desugaring may have broken `impl Trait` in argument-position?

[2019-05-03 20:54] davidtwco commented on #60518
Oops, sorry. I'll take a look.

[2019-05-03 21:09] Aaron1011 commented on #60475
Since WSL runs unmodified Linux binaries, I think Rust will need to do runtime detection of WSL

[2019-05-03 21:20] xldenis commented on #60164
Hi @oli-obk I've already done most of that :) I think I'll have a working PR next week.

[2019-05-03 21:24] matthewjasper commented on #60509
This appears to be broken on nightly, desugaring into:

[code]

Which the borrow checker complains about, because the generator is now effective capturing by-ref.

The correct lowering is:

[code]

[2019-05-03 22:04] jonas-schievink commented on #60518
Denominating since @davidtwco already has a fix

[2019-05-03 22:07] dovahcrow commented on #60518
@davidtwco @jonas-schievink Thanks guys! This is a super fast fix!

[2019-05-03 22:35] eddyb commented on #59542
@jhfrontz What `RUSTFLAGS` were being used? I can't find any paths left in those that don't start with `BUILDDIR` so I can't tell what's happening.
Do you have access to the `target` directory of the build? If so, can we arrange that we talk on IRC or Discord, in real time?

Sorry, but it's almost impossible to tell you what to look for, since I have almost no idea myself.
My latest guess is a bui

[2019-05-03 22:45] jweinst1 commented on #46379
I am noticing this issue,

when will the PR above be released in rust ? ^

[2019-05-03 22:57] eddyb commented on #59542
Something I forgot to suggest would be to try using older Cargo with newer rustc and vice-versa.
This way we can at least know if the compiler regressed at all, or if it's all caused by rust-lang/cargo#6503.

[2019-05-03 23:33] eddyb commented on #43081
@petrochenkov Yeah, I think some weaker parsing (preferably to some sort of Parse Tree) would be good here - however, I think that's longer term, unless you expect there to be a low-effort version?

Also, to be clear, I don't want to convert the AST (via "pretty"-printing), but rather keep track of the equivalent TokenStream, effectively having both the AST and what you're talking about, at the sa

[2019-05-03 23:57] llogiq commented on #56232
@GuillaumeGomez we have a custom driver (as has cargo check, IIRC), so the most elegant solution in terms of UI would be giving an expansion of the doctests with the respective spans in the code to our custom driver.

[2019-05-04 00:08] Manishearth commented on #56232
Actually I think this should wait until `cargo-clippy` has fully moved into Cargo, and then we can add a `cargo doc --test --clippy` mode that does this correctly.

Ultimately clippy behaves just like another rustc binary, and we're slowly consolidating all of the actual cargo logic in cargo itself.

[2019-05-04 00:08] cuviper opened #60528 "Amazon S3 will stop supporting path-style bucket access"
https://forums.aws.amazon.com/ann.jspa?annID=6776

In theory, we just need to change all `https://s3-us-west-1.amazonaws.com/rust-lang-ci2/` URLs to `https://rust-lang-ci2.s3-us-west-1.amazonaws.com/`. Emscripten also pulls from `mozilla-games`.

There's also `$SCCACHE_BUCKET` = `rust-lang-ci-sccache2`.

[2019-05-04 00:11] cuviper commented on #60528
[HN commenters](https://news.ycombinator.com/item?id=19821406) mention concerns about DNS privacy and periods in bucket names, but I think neither of those apply to Rust CI.

[2019-05-04 00:25] jhfrontz commented on #59542
@eddyb the exact RUSTFLAGS varies because the build is done in an `rpmbuild` environment, but the form is
[code]
where `%{_builddir}` is filled in by the build environment, and of the form `/home/centos/tmprpmbuild/tmp.7d9wsOKK9I/BUILD`; `%{githash}` is similarly expanded to be a hex string.

I can regenerate a build at-will -- I should still have the original ones that were used for the attached

[2019-05-04 01:29] alexreg opened #60532 "Normalize use of backticks in syntax for user-facing compiler messages"
This is more pedantry from me, and admittedly not very high-priority, but I have noticed that there are discrepancies between compiler error/informational messages where syntax is included in them – some use backticks around code syntax, some don't. Furthermore, some start with lower case (the vast majority), while some don't.

For example:

[code]
vs.
[code]
(an internal inconsistency in this sec

[2019-05-04 01:51] jhfrontz commented on #59542
Two different runs of cargo-1.32/rustc-1.34 [create_test_daemon_conf.zip](https://github.com/rust-lang/rust/files/3143938/create_test_daemon_conf.zip)

[2019-05-04 01:54] skinny121 commented on #44580
Amazing work. I'm happy to help out, by fixing some of the `FIXME`'s, if I can. I don't have much experience within the rustc codebase at all, so I'll start on the FIXME https://github.com/rust-lang/rust/blob/master/src/librustc_mir/monomorphize/item.rs#L397, as it's seems like it would be an easy one.

[2019-05-04 02:00] rust-highfive opened #60533 "`miri` no longer builds after rust-lang/rust#60462"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#60462, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @eddyb, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @petrochenkov, the PR reviewer, and @rust-lang/compiler -- no

[2019-05-04 02:00] rust-highfive opened #60534 "`rls` no longer builds after rust-lang/rust#60462"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#60462, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @eddyb, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @petrochenkov, the PR reviewer, and @rust-lang/compiler -- nomi

[2019-05-04 03:11] taiki-e commented on #60509
This appears to be broken too:

Error:

[code]

[2019-05-04 03:20] taiki-e commented on #60509
In addition, the following code gets the wrong warning because I forgot to remove `mut` from inputs in #60501 (I overlooked the warning being ignored in the test).

[code]

Warning:

[code]

[2019-05-04 03:54] sntdevco commented on #60534
r? @petrochenkov

[2019-05-04 04:27] qnighy commented on #60468
It seems to comply with IEEE754 `pow` behavior described in IEEE754-2008 p.44 (§9.2.1 Special values):

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7a8b40ddf93beb95fdc19932762f4ee3

[2019-05-04 04:56] newpavlov commented on #44580
What about the following code:
[code]
Currently it results in "no associated item named `N` found for type `Self` in the current scope" compilation error. Will such code be accepted after finishing `FIXME`s or will it require additional effort to implement?

[2019-05-04 05:28] agnxy commented on #60015
Hi,I have a noob question about the workflow. Since I may make more changes for this issue and #60348 is merged, should I create a new PR on a new branch? Thanks.

[2019-05-04 06:00] Centril commented on #59972
Reopening for the test that https://github.com/rust-lang/rust/pull/59897 didn't add (as far as I can tell; cc @eddyb & @tmandry)

[2019-05-04 06:40] taiki-e commented on #60509
Opened #60535 to close this issue and to fix all the errors/warnings reported here

[2019-05-04 07:48] Holyprogrammer commented on #20866
Any updates?

[2019-05-04 08:50] petrochenkov commented on #43081
No, certainly not low-effort, we'd at least need to convert built-in derives to the token model and who knows what else.
(On the other hand, not many things in this area are low-effort).

Yes, even if AST don't need to be produced before expansion, it still *can* be produced before expansion.
Building AST and "PreexpTokenStream"s simultaneously seems pretty natural given that they need to use the

[2019-05-04 08:55] matthewjasper commented on #15287
## Motivation

The naive lowering of a bind-by-move pattern with a guard in a `match` expression would result in the use of a moved value if the guard returns false. As such we currently emit this error if the user tries to do this:

* [E0008](https://doc.rust-lang.org/error-index.html#E0008) - Cannot bind-by-move for a pattern with a guard.

The error explanation provides a more detailed explanat

[2019-05-04 09:00] petrochenkov commented on #60015
@agnxy
For already merged PRs the same branch *can* be reused, but it doesn't make any difference, there are no requirements on this or anything.

[2019-05-04 09:21] DevQps commented on #60442
I see that the method does not exist anymore. So that basically means that all documentation containing a reference to the borrow method should be updated right?

[2019-05-04 09:25] DevQps commented on #60239
@little-dude Would you like to do this yourself? Or would you like me to do it?

I am also wondering: What do you think is the most appropriate location on placing this disclaimer? Somewhere just above the "Organization" heading inside net::ip?

[2019-05-04 09:29] RalfJung commented on #60533
Fixed by https://github.com/rust-lang/miri/pull/723 which is blocked on https://github.com/rust-lang/rust/pull/60469.

[2019-05-04 09:29] DevQps commented on #59294
To be really honest I am not too familiar with the Rust nursery but I read [here](https://internals.rust-lang.org/t/end-of-days-for-the-rust-lang-nursery/8750) that the core team more or less deprecated the nursery (if I understand correctly?).

I am also wondering why the nursery and official docs are out of sync in the first place. Is it not because the nightly version is being maintained and th

[2019-05-04 09:34] DevQps commented on #60223
So basically this issue is about adding some documentation on which methods you might want to override right? Which methods do you think are best to mention? Or did I misinterpret the discussion?

[2019-05-04 09:35] zesterer commented on #44580
@yodaldevoid

Quick question, apologies if this has already been discussed.

Does this not run rather against the grain on the principle Rust takes on making function signatures explicit to avoid producing errors that relate to a function's implementation? Perhaps I'm totally misunderstanding this however and you're talking about parsing generic parameters *within* a function's body.

[2019-05-04 09:35] DevQps commented on #54520
@shepmaster I hope you're still willing to respond to my previous comment here! :) Then I can either start writing some documentation or we can maybe wait for Needle to come through. (Y)

[2019-05-04 09:37] DevQps commented on #40230
@SimonSapin Could you maybe still respond to my previous comment? Then we can maybe close this issue.

[2019-05-04 09:49] DevQps commented on #40322
@steveklabnik Sorry for spamming you with this question, but when I try to ping @rust-lang/libs it fails to work. Is this because it only works for members that are part of the Rust organization? I was also wondering!: It's about a month ago now, what are normal durations for pinging a team or member again if no response was received? It would be nice if the libs team can comment on this such that

[2019-05-04 09:52] howaboutsynergy commented on #60534
I was wondering why I got `error: 'rls' is not installed for the toolchain 'master-installed'` even though I compiled rust with `tools = [ "src", "rls"]` in `config.toml`, however I got no errors during any compile&install step.

[2019-05-04 09:52] GuillaumeGomez commented on #60442
A little pass on the doc is required then.

[2019-05-04 09:53] GuillaumeGomez commented on #56232
Fine by me!

[2019-05-04 09:54] DevQps commented on #60442
@GuillaumeGomez Thanks for your swift response! I will go and create a PR for this right away.

[2019-05-04 09:55] GuillaumeGomez commented on #60442
Thanks!

[2019-05-04 09:56] DevQps commented on #41219
@steveklabnik Maybe we should ask the libs-team on this one as well? Since it's basically the same question again: Should we include platform specific behavior inside the docs?

[2019-05-04 10:01] DevQps commented on #42166
@frewsxcv @steveklabnik @sfackler What do you think about my previous comment? Personally, I believe it is better to close this issue, since it is platform specific and the unclear ```expect``` text in the example was already adjusted.

[2019-05-04 10:03] DevQps commented on #43155
@steveklabnik I think we can close this issue now!

[2019-05-04 10:13] marmistrz commented on #43155
I still think it deserves a comment in the Rust book, the chapter on tests.

[2019-05-04 10:22] DevQps commented on #43155
@marmistrz Maybe it would be nice to create a new issue for this? The current issue name does not really represent what we want to achieve by fixing this issue. If you want I can create a new issue (with explanation) and link to this discussion? I think that it would be nice to add it to the tests chapter as well!

[2019-05-04 10:22] bjorn3 opened #60540 "SIGSEGV when compiling for wasm"
[code]

Unfortunately I can't get a backtrace as running inside a debugger prevents it from crashing.

Reproduction:

Clone https://github.com/bjorn3/rust. Checkout commit 8c17e4aec8e187addf8fc187b64bd411a6038dea and follow the instructions on the top of the readme. Sometimes the execution succeeds, so you may have to remove the `target` dir when it succeeded.

[2019-05-04 10:22] #57464 closed

[2019-05-04 10:22] #60127 closed

[2019-05-04 10:22] #60422 closed

[2019-05-04 10:22] #60518 closed

[2019-05-04 10:24] bjorn3 commented on #60540
Got backtraces for all thread by loading a core dump:

[code]

[2019-05-04 10:41] bjorn3 commented on #60540
After trying compiling it many times it does succeed, but the resulting wasm file is corrupt: `CompileError: wasm validation error: at offset 10754426: type mismatch: expression has type i32 but expected i64`. This may have the same cause, but I am not sure.

[2019-05-04 10:46] DevQps commented on #39640
Sorry for the long delay! I scanned through the repository for any links to the RFC.
And I found these:

- https://doc.rust-lang.org/std/panic/fn.catch_unwind.html
- https://doc.rust-lang.org/std/panic/trait.UnwindSafe.html

Just to be sure that I understand correctly:

I should probably update these docs and point them to the correct nomicon links provided earlier right? Or should other documenta

[2019-05-04 10:51] Centril commented on #60540
Based on ^-- I'm tentatively labeling as a soundness hole since it seems that type preservation is violated? (Haven't looked closely)

[2019-05-04 11:16] rodrimati1992 commented on #44580
This is about parsing identifiers passed as generic parameters when *calling* a function.

Example:
[code]
Note that when defining the function,you have to specify that NAME is a constant,but when you call it,it's not necessary to say that NAME is a constant within the turbofish operator.

[2019-05-04 11:17] RalfJung commented on #60533
Also blocked on https://github.com/rust-lang/rust/pull/60541.

[2019-05-04 11:19] RalfJung commented on #60528
[This](https://github.com/kennytm/rustup-toolchain-install-master/blob/e783c300e2f4e26eeb5eead86be18cbad802cca5/src/main.rs#L59) is one place that needs fixing.

Cc @kennytm

[2019-05-04 11:44] Centril commented on #60418
Labeling as "blocking" since this should be done as part of the run up to the report.

[2019-05-04 12:24] jonas-schievink opened #60543 "Rustdoc can generate wrong macro_rules! syntax"
Example: https://docs.rs/pkg-version/0.1.0/pkg_version/macro.pkg_version_minor.html

The source code looks like this:
[code]

The rustdoc output looks like this:
[code]

Now I'm not entirely sure how `#[proc_macro_hack]` works, but I don't think rustdoc should ever produce... this? The matcher is syntactically invalid, so this should never really happen.

Perhaps related to https://github.com/rust

[2019-05-04 12:26] TimDiekmann commented on #42774
As we now have a [dedicated repository for the allocators WG](https://github.com/rust-lang/wg-allocators) this issue may be closed/locked to keep discussions in one place?

[2019-05-04 12:26] yodaldevoid commented on #44580
@zesterer If this proposed solution was made transparent to the user (e.g. when defining a function there was no difference between parameter types) you would be correct. However the idea behind the proposed solution is not to change the user facing behavior, but rather to only change the implementation. The user would still write out function signatures with explicit type, const, and lifetime par

[2019-05-04 12:29] yodaldevoid commented on #44580
@newpvlov I am surprised that code doesn't work. If you could submit a separate issue it would be appreciated.

[2019-05-04 12:32] Centril commented on #15287
@matthewjasper Thanks for the report!

So we would need to adjust some tests then to make sure that stable behavior is exercised.

Let's not pick the soundness hole solution... ;)

So this would mean that we don't introduce new unsound behavior on stable, right?

Given that we've transitioned into NLL on both 2018 & 2015 now, what is your guesstimate as to when we can do full NLL stabilization?

L

[2019-05-04 12:35] bjorn3 commented on #60540
Reduced repro:

[code]

<details>
<summary>lib.rs</summary>

[code]

</details>

[2019-05-04 12:40] TimDiekmann commented on #32838
As we now have a [dedicated repository for the allocators WG](https://github.com/rust-lang/wg-allocators), and the list in the OP is out of date, this issue may be closed to keep discussions and tracking of this feature in one place?

[2019-05-04 12:45] BurntSushi commented on #40322
From quickly skimming this issue, here's my take:

1. Do we have any concrete use cases that motivate knowing which errors can be returned by I/O functions?
2. I do kind of feel like presenting a rigid list of possible errors is probably not something we want to do unless there was compelling motivation to do it. In that sense, I like @steveklabnik's earlier suggestion of just listing "common" err

[2019-05-04 13:26] gnzlbg commented on #59294
Both are the same, libstd and libcore have direct dependencies to the nursery repo, yet for some reason the docs of libstd and libcore are incorrect.

[2019-05-04 13:32] varkor commented on #60427
Yeah, I'm not sure whether we want to flag removed libs features differently. It'd probably be nice to keep a record, but I'm not sure if the difference is valuable.

I agree with @jethrogb: we should probably mark it as removed. (Alternatively, we could track "renamings of feature flags", like we do for lints, so we could produce better diagnostics.)

[2019-05-04 13:34] varkor commented on #60471
Maybe we could do with an `A-lazy-normalization` tracking label?

[2019-05-04 13:36] Centril commented on #60427
It's rather weird to add libs features to the language feature list. I also think it's not the end of the world to just throw away the removed feature gate list entirely; it's essentially technical debt that we are monotonically increasing at the moment. The only think that we'd need to do is to not error. Adding these features, which seemingly hasn't bothered anyone for a long time, only for the

[2019-05-04 13:37] acrrd commented on #47366
I think the test for #48238 has been added in #49295

[2019-05-04 13:39] Centril commented on #60471
@varkor  Go for it :) Labels come cheap and we have too few today imo.

[2019-05-04 13:42] alexreg commented on #60471
Did we ever decide whether fixing enforcement of type alias bounds was blocked no lazy norm?

[2019-05-04 13:54] DevQps commented on #59294
@gnzlbg Ahh my bad then, thanks for your clarification! Mmm so if the source is exactly the same, then there must be some kind of problem with generating the docs right? Maybe one of the two uses an old version?

[2019-05-04 14:10] agnxy commented on #60015
Thanks @petrochenkov . I'll try to figure out more items for `diagnostics.rs`

[2019-05-04 14:21] gnzlbg commented on #59294
The stdsimd docs are generated on every commit to master (https://github.com/rust-lang-nursery/stdsimd/tree/gh-pages) while libstd and libcore follow stdsimd master very closely: https://github.com/rust-lang-nursery/stdsimd/tree/4bf456c35e85fcca5cf95008401af8ab25abf850

So the code being used to generate the docs is pretty much identical, so AFAICT the issue has to be in how the docs are generated

[2019-05-04 15:17] zesterer commented on #44580
@yodaldevoid @robarnold

Ah, got you. I wrongly assumed this is was relating to type/function signatures.

[2019-05-04 15:25] hcrohland commented on #60484
I have the same error. rustc crashes when compiling diesel from rls.
Normal compile via 'cargo build' succeeds.

[2019-05-04 15:30] jonas-schievink commented on #60484
Duplicate of https://github.com/rust-lang/rust/issues/59134

[2019-05-04 15:30] #60484 closed

[2019-05-04 15:32] jonas-schievink commented on #59134
This is now causing widespread ICEs in the RLS. Nominating to get this fixed (maybe @Xanewok has an idea?). See https://github.com/rust-lang/rust/issues/60484#issuecomment-489072191 for a simpler reproducer.

[2019-05-04 15:43] PieterPenninckx commented on #31844
With rustc 1.35.0-nightly (3de010678 2019-04-11), the following code gives an error:
[code]

error:
[code]

However, the code compiles and works when I omit the "impl MyTrait<u8>" block:
[code]

Is this by design, is this because the implementation is incomplete, or is this a bug?

Also, I would like to know if this use case for specialization (implementing traits with overlapping type parameters

[2019-05-04 16:00] #60534 closed

[2019-05-04 16:01] autun12 commented on #42743
im guessing no one is working on this at the moment?

[2019-05-04 16:14] davidtwco commented on #60363
I've looked into this a little and have a rough idea why we're seeing an ICE here, but I'm not sure what the fix would be.

You can reproduce the issue with this test:

[code]

[code]

We get an error because there's no entry in the crate metadata for `default_handler` in `issue_60363` (if you make that function `pub` then this ICE goes away, it also doesn't matter that it is in the impl). You nee

[2019-05-04 16:26] kennytm commented on #60528
@RalfJung Thanks, fixed in rustup-toolchain-install-master v1.6.1.

[2019-05-04 16:32] mark-i-m commented on #42774
I think this issue still serves to funnel people in the direction of that repo. Nobody will know to go there otherwise.

[2019-05-04 16:38] lu-zero commented on #42743
I am, hunting people regarding the documentation took a long time.

[2019-05-04 16:40] autun12 commented on #42743
Okay so the documentation isn't done then?

[2019-05-04 16:42] scottmcm commented on #60223
@DevQps That's correctly, probably under or near https://doc.rust-lang.org/nightly/std/iter/index.html#implementing-iterator.  For now my inclination would be to mention `nth` and `fold` -- once stable it should be `try_fold` instead, but IIRC we don't mention unstable in the broader docs until it stabilizes.

[2019-05-04 16:56] lu-zero commented on #42743
The agreement is that once the code is done and documented, that documentation would be deemed as reference and have a chapter in the official openpower documentation.

The existing documentation for C is not really machine-parsable and does not provide all the information we need to automatically generate conformity tests.

[2019-05-04 17:03] leonsenft commented on #59134
I encountered this issue trying out [winit](https://crates.io/crates/winit) which causes rustc to crash on [this line](https://github.com/servo/core-foundation-rs/blob/master/core-graphics/src/event.rs#L21) when invoked by RLS. I can confirm it's the exact same backtrace as https://github.com/rust-lang/rust/issues/60484#issuecomment-489072191.

[2019-05-04 17:40] ollie27 commented on #60442
Duplicate of #60200

[2019-05-04 17:40] #60442 closed

[2019-05-04 17:44] davidtwco commented on #57906
Closing, the current error message (as of #60061) is shown below. While this still mentions the field existing in `Self`, it no longer suggests `self.foo` in a function without a `self` parameter.

[code]

[2019-05-04 17:44] #57906 closed

[2019-05-04 17:53] stonebig commented on #49110
version of May 2nd has still one alarm on VirusTotal... maybe Mozilla could sign the binary ?

 MD5                             | SHA-1                                    | SHA-256                                                          | Binary                          | Size
---------------------------------|------------------------------------------|--------------------------------------------

[2019-05-04 17:55] davidtwco commented on #60473
I think this is a duplicate of #60371.

[2019-05-04 18:00] autun12 commented on #42743
ahhhh okay. Thanks for explaining

[2019-05-04 18:02] lu-zero commented on #42743
I'll send some new code during this weekend :)

[2019-05-04 18:47] lachlansneff commented on #43122
Has anyone done any work with generator resume arguments? Is there an RFC for them?

[2019-05-04 19:01] kazimuth commented on #26179
What work needs to be done to stabilize these? The RFC was merged, right?

[2019-05-04 19:12] fizyk20 opened #60548 "Release build taking forever on 1.34.1"
I'm trying to build my crate at this commit: https://github.com/fizyk20/atm-refraction/tree/a7f38e582d507345f0f6bddbf769244caee0fe70

`cargo build --release` ran on Rust 1.34.1 doesn't finish for at least a few minutes (I admit I haven't been too patient with letting it run for a long time, as I knew it used to compile quite quickly, but I can safely say that it wasn't able to finish for me in at

[2019-05-04 19:18] jhfrontz commented on #59542
[code]
[target-create_test_daemon_conf.txt](https://github.com/rust-lang/rust/files/3144724/target-create_test_daemon_conf.txt)

[2019-05-04 19:47] matthewjasper commented on #15287
Correct

This year. (1.39 or 1.40)

[2019-05-04 20:11] matthewjasper commented on #45600
Changed the title to make it clearer that this refers to the errors that are not part of #15287. The next steps for this are:

* Check that the lang team is happy to remove the restriction without an RFC.
* Add a feature gate to remove these errors.
* Review users of `ExprUseVisitor` to see if they handle the new cases correctly.
* Write tests.

[2019-05-04 20:53] petrochenkov commented on #60494
This is just a somewhat exceptional case of a token which is lexically valid, but always rejected by parser.
I think `~` is the only other example of such token right now (and also `<-`, but that's only because const generics like `Type<-1>` are not properly parsed yet).

After some thought, yeah, there's probably not much advantage.

[2019-05-05 00:41] #45268 closed

[2019-05-05 01:34] ishitatsuyuki commented on #43122
Not that I know of. The original RFC mentioned that resume arguments could be added, but that's all.

[2019-05-05 01:46] jhpratt commented on #57563
What's the status on `const_str_as_bytes`? It seems like this should be easily stabilized, as it's currently just a simple field access ([source code](https://doc.rust-lang.org/src/alloc/string.rs.html#1090-1092)).

[2019-05-05 01:59] Zoxc commented on #43122
@lachlansneff My initial PR adding generator included resume arguments and that implementation is still in one of my branches. Adding generator resume arguments would be covered by the existing eRFC for generators.

[2019-05-05 02:12] newpavlov opened #60551 "Associated constants in traits can not be used in const generics"
Initially reported [here](https://github.com/rust-lang/rust/issues/44580#issuecomment-489294181).

The following code:
[code]
Results in a "no associated item named `N` found for type `Self` in the current scope" compilation error on current Nightly.

Note that associated constants in `impl` blocks [work](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ecc943d64d35c2cde6f5

[2019-05-05 02:14] qnighy opened #60552 "pub(in) visibility doesn't allow `use`d paths, unless macro-expanded"
Paths usually respect `use` aliases of modules, but paths in `pub(in)` not.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a6c5906c564f63850530fcd28c64379c

[code]

This seems to be a matter of the order of evaluation, hence the following variant compiles:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a1b35f783b9c0aa35e58df3b7d4f41d5

[code]

I

[2019-05-05 03:05] MggMuggins commented on #60139
I think you've got it, but just to reiterate, this change has really nothing to do with the design of Redox, just how rust and std deal with Redox.

I also want to quick point out a (hopefully) relevant misconception that I was prey to, and I see a lot (feel free to delete this message if it isn't relevant). On redox, when file is opened relative to the root (like this: `/some/file/someplace`), th

[2019-05-05 03:39] #57257 closed

[2019-05-05 05:42] crlf0710 commented on #44580
For using const generics on built-in array types, I've opened #60466 to see others' opinions on this.

[2019-05-05 06:34] #60503 closed

[2019-05-05 06:44] jespersm commented on #53682
Yes, this is the same as #45268, which is fixed on master now.

[2019-05-05 06:56] Centril commented on #60494
Yeah my inclination is that this may be useful for macro authors somehow so I think we can leave this accepted.

[2019-05-05 06:59] Centril commented on #15287
Cool;

@nikomatsakis @pnkfelix Interested to hear what you think about this. My hunch is to say that we should do it assuming we have the tests to show that it works.

[2019-05-05 07:10] Centril commented on #60552
cc @petrochenkov

[2019-05-05 07:21] Centril opened #60553 "Tracking issue for RFC 2363, "Allow arbitrary enums to have explicit discriminants""
This is a tracking issue for the RFC "Allow arbitrary enums to have explicit discriminants" (rust-lang/rfcs#2363).

**Steps:**

- [x] Implement the RFC – https://github.com/rust-lang/rust/pull/60732
- [ ] Adjust documentation ([see instructions on rustc-guide][doc-guide])
- [x] Stabilization PR – #86860

[stabilization-guide]: https://rust-lang.github.io/rustc-guide/stabilization_guide.html#stabil

[2019-05-05 07:49] kentfredric opened #60554 "single-use-lifetime warning not satisifiable with '_ , " `'_` is a reserved lifetime name ""
Minimal Proof:

[code]

[code]

Alas, doing what is natural ( and what people will tell you to do on IRC channels, only to find that it doesn't work, and writing:

[code]

Trips up E0637
[code]

I looked at all the other open bugs in this area and I saw several that looked similar( #55057 was closest ), but none were close enough to this, in particular, the error about using a reserved lifetime is

[2019-05-05 09:40] #53682 closed

[2019-05-05 09:50] petrochenkov commented on #60552
It is assumed that `PATH` already exists when we are resolving `pub(in PATH)`, otherwise it would hit the "visibility can only refer to parent modules" error.

Yes, this shortcut doesn't always work if you use aliases to parent modules, it also leads to suboptimal diagnostics in other cases (there are existing issues about that, but I can't find them right now).
However, resolving paths in `pub(in

[2019-05-05 09:52] ElectricCoffee opened #60556 "min and max are lacking on integers"
I'm not sure if this is intentional, and if it is, I can't imagine why.

Just today I had to write this gem of a one-liner
[code]
That could just as easily just have been
[code]
If i32 implemented `max`.
It strikes me as odd that a function that seems to be this trivial and useful doesn't exist on integers, but does on floats.

There isn't much more to say about the issue, other than that.
It woul

[2019-05-05 10:02] sntdevco commented on #60548
@fizyk20 Can you reproduce this frequently?

[2019-05-05 10:06] fizyk20 commented on #60548
It happens every time I try to build this specific crate using 1.34.1. I haven't encountered the problem with any other piece of code yet, though.

I'm not sure if I answered the question.

[2019-05-05 10:06] eddyb commented on #60553
Mentoring-wise: I'd suggest trying out an example and then tracking down where the error comes from. I don't remember, it's either during parsing or in `ast_validation`.

Most of the compiler should already support this, where doing the uniform thing is easier.
The "niche" optimization might assume variants with any data have consecutive discriminants, but it should be easy to fix, and we can figu

[2019-05-05 10:12] ishitatsuyuki commented on #60556
It's intentional because `f{32,64}::{min,max}` maps to actual hardware instruction in FPU.

You probably want `std::cmp::max`, or for three numbers, you can use `Iterator::max` by constructing an array/Vec.

[2019-05-05 10:12] #60556 closed

[2019-05-05 10:57] jonas-schievink commented on #60548
I've given the crate a cursory look and nothing stood out as being particularly difficult for the compiler (except a few nom parsers perhaps?). Build is stuck somewhere in LLVM, probably running module passes on a cgu. I'll try to bisect, but it's likely that it will just point us to an LLVM upgrade.

[2019-05-05 11:06] eddyb commented on #60494
I regret not coming up with the "joint" system for composed tokens much earlier, and doing *at least* literal suffixes with it. But overall, I'm in favor of as much flexibility as possible for proc macro authors.

The only *useful* constraint I see, in terms of the token model, is having balanced `()`/`[]`/`{}`, because they are used in the invocation syntax, and therefore allow unambiguous parsin

[2019-05-05 11:08] Allenyn commented on #45127
Why not just disable the lint of snake_case . Name specification to the development team!

[2019-05-05 11:09] Allenyn commented on #45127
Why not just disable the lint of snake_case . Name specification to the development team! Not everyone like snake_case !

[2019-05-05 11:18] yuyoyuppe opened #60557 "ICE with rls in rustc_save_analysis"
Environment:
- VS Code 1.33.1
- `rustc 1.34.1 (fc50f328b 2019-04-24)
binary: rustc
commit-hash: fc50f328b0353b285421b8ff5d4100966387a997
commit-date: 2019-04-24
host: x86_64-pc-windows-msvc
release: 1.34.1
LLVM version: 8.0`
- stable channel(it also happens on nightly though)

Steps to reproduce:
- initialize new cargo package and add `syntect = "3.2"` to dependencies
- observe output from rls:
[c

[2019-05-05 11:19] jonas-schievink commented on #60548
Good: 1.33.0
Bad: 1.34.0

Good: `rustc 1.34.0-nightly (097c04cf4 2019-02-24)`
Bad: `rustc 1.34.0-nightly (00aae71f5 2019-02-25)`

Commits in range: https://github.com/rust-lang/rust/compare/097c04cf4...00aae71f5

Likely cause: https://github.com/rust-lang/rust/pull/57609 (since it touches MIR lowering)
cc @matthewjasper

[2019-05-05 11:20] jonas-schievink commented on #60557
Duplicate of https://github.com/rust-lang/rust/issues/59134

[2019-05-05 11:20] #60557 closed

[2019-05-05 11:45] eddyb commented on #59542
[code]
So this is pretty nice, but I'm assuming the `deps` is elided to keep things small?
In that subset, only paths under `incremental` differ, which means that:
1. for that run, Cargo uses the same `-C metadata` (is that run "old Cargo, new rustc"?), at least for the final crate
2. AFAIK, the incremental thing is a random "session number", so it might not factor into the output, but maybe you c

[2019-05-05 11:52] nikomatsakis commented on #60494
I agree with @eddyb as well =)

[2019-05-05 11:57] eddyb commented on #43081
@petrochenkov I see, yes, I have no problem with moving to that kind of a representation, as long as it's still embedded into today's AST (until we can get rid of that).

My plan with detecting mutation is to eventually force all synthetic AST nodes to come with their (`Preexp`)`TokenStream` representation already present in them, and stop pretty-printing altogether.

At that point, it might be ea

[2019-05-05 12:00] Centril commented on #59489
Ping @ArazAbishov @stokhos @ashleygwilliams

[2019-05-05 12:04] Minoru opened #60558 "Document that CString::new sheds unused capacity from the buffer it's given"
I tried to use `std::ffi::CString` as an output buffer for `libc::snprintf` like this ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=53a40ccb1a0f475e019b44895feac8fa)):

[code]

I thought I'm creating a buffer of 1024 bytes, but in reality, `CString::new` appends a null byte and calls `Vec::into_boxed_slice` on my Vec, shrinking it to 1 byte. This leads to me

[2019-05-05 12:46] kpcyrd opened #60560 "OpenBSD: current_exe() fails when bin resolved through $PATH"
I've noticed `std::env::current_exe()` on openbsd depends on argv[0], which means the resolution only works if the binary was started with a relative or absolute path, but not when it was resolved by the shell using $PATH.

https://github.com/rust-lang/rust/blob/9ebf47851a357faa4cd97f4b1dc7835f6376e639/src/libstd/sys/unix/os.rs#L260-L286

[2019-05-05 13:20] kpcyrd commented on #60560
Note that the code in rust upstream silently defaults to a wrong path (simply the program name in the current working directory), while openbsd downstream applies a [patch][0] to make this fail explicitly:
[code]
[0]: https://cvsweb.openbsd.org/cgi-bin/cvsweb/~checkout~/ports/lang/rust/patches/patch-src_libstd_sys_unix_os_rs?rev=1.10&content-type=text/plain&hideattic=1

Unfortunately this patch do

[2019-05-05 13:35] apoelstra commented on #59542
We've overloaded our debug and release profiles with
[code]
Do we need to change any of these in order that "try building in release mode" will have the effect you're hoping for?

[2019-05-05 13:39] eddyb commented on #59542
@apoelstra You should really try a local build with an empty `target` directory (what you're compiling doesn't matter, it could be a crate created by `cargo new`) and then check if the `incremental` directory is there.
(And you can use the exact versions of Cargo and `rustc` that you use in production)

That way we're not guessing at what's happening. Also, `CARGO_INCREMENTAL=0` in debug mode migh

[2019-05-05 14:04] TheJare commented on #59134
I ran into this trying out https://github.com/fdehau/tui-rs on Windows 10. RLS inside vscode ends up panicking with this backtrace:

[code]

(note for repro: I had changed the default feature in tui-rs Cargo.toml to be "crossterm" because the default feature "termion" doesn't compile on windows - but after the termion compile errors, rustc was giving me a similar panic anyway)

[2019-05-05 14:11] jonas-schievink commented on #60548
It's something in `air/parser.rs` – if `parse_atmosphere`s body is replaced with `unimplemented!()` the issue disappears.

[2019-05-05 14:11] hcrohland commented on #59134
JFYI I could work around this problem by adding `bitflags = "=1.0.4"` to my Cargo.toml

[2019-05-05 14:17] TheJare commented on #59134
I tried that with the tui-rs Cargo.toml (it had `bitflags = "1.0"`) but same panic.

[2019-05-05 14:31] brenzi opened #60561 "rustc could provide more help for debugging no_std duplicate_lang item errors"
I'm currently porting crates to support `no_std` to use them with https://github.com/baidu/rust-sgx-sdk

The Problem:
any sub-dependency can break no_std, resulting in an error like this:
[code]

The compiler doesn't give me any hint, which (sub)dependency causes this issue. Like this it is very annoying and time-consuming to sort out such errors.

Would it be possible that rustc gives us a hint t

[2019-05-05 14:40] iliekturtles commented on #42008
Thanks @remexre! Turns out my working copy wasn't updated like I thought so searching through it didn't work. PR #60562 just submitted.

[2019-05-05 14:40] eddyb commented on #53486
Oops, I missed this notification, sorry @saleemjaffer!
Ping me on Discord, I suppose, if you're still interested.

[2019-05-05 15:03] sntdevco commented on #60548
@jonas-schievink
 ✔️  Verified on Rust 1.31.0 -> Build okay _stable_
 ✔️  Verified on Rust 1.33.0 -> Build okay _stable_
 ✔️  Verified on Rust 1.34.0 -> Slow Build _nightly_
 ✔️  Verified on Rust 1.34.1 -> Slow Build _nightly_
(Likely commits causing problems: c15437c0c6beb2b7be4b86569e124c8b2ccd03bb..5ffc9197264a07a50bfb27e436fe284ae8c0687c

[2019-05-05 15:16] oli-obk commented on #60363
So... the `&Self::default_handler` creates a promoted (e.g. the same as what `let _: &'static FnMut() = &main;` does). That promoted is created during the compilation of the `rlib`. When we call `Handler::new()` in the binary, we essentially end up with a static memory location that refers to another static one (the promoted). When we are collecting all the memory of `HANDLER` we're recursing into

[2019-05-05 15:30] oli-obk commented on #57563
You have looked at the `String::as_bytes` method, that feature gate is about `str::as_bytes`, which has a less trivial body: https://github.com/rust-lang/rust/blob/00859e3e653973120006aaf3227823062dde1ba7/src/libcore/str/mod.rs#L2137-L2144

We have to figure out our `transmute` and `union` field access story before we can stabilize that method

[2019-05-05 16:07] jonas-schievink commented on #60548
This is a proper hang, my build is still running after >5 hours.

[2019-05-05 16:11] mati865 commented on #59302
I knew about Alpine and Void. IMO Alpine approach is better because `<arch>-unknown-linux-musl` remain static by default (it behaves like upstream) and new target `<arch>-alpine-linux-musl` links dynamically by default.

I had looked at that PR and `libc` changes will be incompatible with upstream rust behaviour. Official Rust packages when statically linking to musl create executables that all fu

[2019-05-05 16:14] Cogitri commented on #59302
Yup, but at least on Void we've come to terms that the Rust in the repos is only really meant for packages in the repos, while users interested in rust development should use upstream Rust via rustip.

[2019-05-05 16:20] sntdevco commented on #60548
Yeah, I ran the build for the crate on EC2 and that's running for > 6 hours

[2019-05-05 16:39] zicklag opened #60563 "Compiler Panic With RLS: node_type: no type for node `expr <Self>::SC_NEGATE_REQS (id=50331)`"
I'm working on a rust project, and after running `cargo update` to update my project dependencies recently, RLS started failing to compile the `clap` library. Unfortunately I can't remember which libraries it updated when I ran `cargo update` so I don't know which libraries are the cause.

Here is my **Cargo.toml**:
[code]
Running `rls --cli` after a `cargo clean` in a completely fresh project cre

[2019-05-05 16:41] jonas-schievink commented on #60563
Duplicate of https://github.com/rust-lang/rust/issues/59134

[2019-05-05 16:41] #60563 closed

[2019-05-05 17:13] smaeul commented on #59302
That doesn't make sense. Static executables by definition don't depend on having musl installed. Are you referring to rust-lang/libc#1327? That change would require having a musl-targeting toolchain installed for  *rustc* to *link* musl-targeting binaries. But any static binaries compiled by rustc would still be totally independent and require no musl installation.

[2019-05-05 17:19] mati865 commented on #59302
@smaeul I'm referring to https://github.com/alpinelinux/aports/blob/21c1983ce828ead1afc9e80aa77ede330c662182/community/rust/link-musl-dynamically.patch

[2019-05-05 17:20] gnzlbg commented on #26179
@kazimuth

During the RFC discussion, the fact that these intrinsics work with expressions did not appear to be very important, but since these have been implemented, more people have wanted to use these with, e.g., `if let` and other control flow constructs like `match`.

This has casted a bit of uncertainty on whether we should stabilize these intrinsics "as is", or whether solving this problem

[2019-05-05 17:57] smaeul commented on #59302
@mati865 Okay, so that patch is misnamed. It doesn't have anything to do with static versus dynamic linking. It makes the same change as rust-lang/libc#1327 -- using the C toolchain's copy of `libc.a` instead of bundling it inside `liblibc.rlib`.

Alpine also ships [custom targets](https://github.com/alpinelinux/aports/blob/21c1983ce828ead1afc9e80aa77ede330c662182/community/rust/alpine-target.patc

[2019-05-05 18:01] ambiso opened #60564 "ICE with associated existential type"
Hi,

I'm guessing this error is known, but it appears to fail in a different way compared to #54899.

Code:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7620e6f3a5ec5622a68bb24a993c53fa))

Errors:

[code]

[2019-05-05 18:24] polybuildr commented on #57443
Here's a sample update performed by the tool: https://github.com/polybuildr/rust/pull/2

What do you think?

There is still at least one bug (one of the sections getting reordered for no reason) but I could fix that by hand for now. Unsure why it's happening, could be something in `toml_edit`. Speaking of, I was having some trouble with toml_edit's public API, so I added in one function -- unsure

[2019-05-05 18:31] Centril commented on #60564
Suggested P-Medium due to unstable buggy feature.

[2019-05-05 18:32] Arnavion opened #60566 "async fn raises unused_mut on parameter that is used mutably"
[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4f2bb9f701bdbbb3424e926989bc0f2f

[code]

raises `unused_mut` on the `s` parameter of `foo`.

@taiki-e This is also raised in [the test case you added in #60501,](https://github.com/rust-lang/rust/pull/60501/files#diff-e7411cfc5acb4f1a88cde85379873c7d) but I assume the test passes because it defaults to ignoring the w

[2019-05-05 18:40] jonas-schievink commented on #60566
Duplicate of https://github.com/rust-lang/rust/issues/60498

[2019-05-05 18:47] mati865 commented on #57443
Nice! Is the code available somewhere?

[2019-05-05 18:48] Arnavion commented on #60566
@jonas-schievink Please read the issue carefully. Not only is it have a different issue from what #60498 was, I specifically linked to the PR that fixes #60498 with the intent of demonstrating that it's a different issue.

[2019-05-05 18:57] jonas-schievink commented on #60566
Oops, sorry!

[2019-05-05 19:05] kazimuth commented on #26179
Is someone willing to throw together a PR merging what we've got now?

[2019-05-05 19:11] polybuildr commented on #57443
Unfortunately, due to employer restrictions (more at https://github.com/rust-lang/rust/issues/57443#issuecomment-477379305), I'd be more comfortable sending a pull request to the skeleton repository once it's created. In any case, the code will need many rounds of review before it's ready.

[2019-05-05 20:31] leonsenft commented on #59134
Thanks @hcrohland !

[2019-05-05 20:40] kyrias commented on #60558
On the other hand, nowhere does it say that it will actually use the same allocation, just the bytes from what you pass in, so you can't make any kind of assumptions as to what happens to the allocation you pass in.  It could just as well copy the bytes and drop the `Vec` passed in.

[2019-05-05 20:49] Minoru commented on #60558
Yeah, I'm probably just misusing that `CString`, and should've used `Vec<u8>` instead. I feel a bit silly suggesting to add something like "don't pass CString as a mutable buffer to fill, use this or that instead", but that might be better than my previous suggestion.

[2019-05-05 21:17] shepmaster commented on #54520
I don't expect it to be anytime soon — @kennytm do you have any feelings about when it might occur?

[2019-05-05 21:57] matthewjasper commented on #60548
#60174 appears to fix this. Probably the issue is broken debug info. I'll try a build with llvm assertions tomorrow to see if that's really the case.

<details>

<summary>
Smallish repro (pretty hard to meaning fully reduce further
</summary>

lib.rs:
[code]

Cargo.toml

[code]
</details>

[2019-05-05 23:11] ExpHP opened #60570 "type parameters expect camel case, but shouting case is also common"
I am not sure why type parameters are checked to be upper camel case.

Type parameter names are not part of public API.  Shouting case for type parameters is a convention followed by such popular crates as [rayon](https://docs.rs/rayon/1.0.3/rayon/?search=ParallelIterator), and it is the only way I know of to make something like the following not look confusing:

[code]

Furthermore, due to limita

[2019-05-05 23:26] Centril commented on #60570
Triage: Classifying as:
1. A bug in the `non_camel_case_types` lint (`T-compiler`)
2. A request for a change to not lint on this (`T-lang`)

[2019-05-05 23:58] ExpHP commented on #60570
I think it is difficult to call this a bug.  It is a limitation of allowing the "words" in camel case to be one letter long. (which is *especially* likely to occur in type parameters)

I mean, to us, upper camel case means:

* Prefer `Integer` to `INTEGER`.  (i.e. it applies to words)
* Prefer `Html` to `HTML`. (i.e. acronyms are one word)

But consider the following:

[code]

Here, I would assert

[2019-05-06 00:00] Centril commented on #60570
Oh wow! I didn't consider this. 😂

[2019-05-06 00:07] dorozcom commented on #51422
This is the key:

[code]

Just close the terminal and open it again.

[2019-05-06 00:07] #57489 closed

[2019-05-06 00:07] #7493 closed

[2019-05-06 00:07] #32352 closed

[2019-05-06 00:07] #60403 closed

[2019-05-06 00:12] Centril opened #60571 "MIR building for `match $c { true => $i, _ => $e }` is slow"
At the time of writing, `if $c { $i } else { $e }` builds MIR that is simpler and therefore is ~1-3% better in terms of compile times than `match $c { $i } else { $e }`. However, after the `early-opt` MIR optimization, they are basically the same.

In https://github.com/rust-lang/rust/pull/59288 we start desugaring `if` expressions to `match` and so if we optimize for the special case of two match

[2019-05-06 00:33] taiki-e commented on #60566
Yes, I missed the warnings being ignored. This will be fixed in #60535. Also, there are reports in #60509 about other errors missed in #60501.

[2019-05-06 01:22] nishtahir commented on #59134
Running into the same issue when trying to build Clap

[code]

[2019-05-06 08:03] oli-obk commented on #57443
Nominating for discussion at the team meeting. Let's create a repo for this. It's a general purpose tool that we want to use in rustbuild. As per this year's strategy of moving things out of tree, I want to start this out of tree. I can take care of everything once we have a repo where I have merge or r+ powers.

[2019-05-06 09:03] Lucretiel commented on #42168
Follow up: per [this Stack Overflow](https://stackoverflow.com/questions/48613484/how-do-i-correctly-implement-stditerstep-in-rust-1-25-nightly) thread, it might be worth coming up with new names for `replace_one` and `replace_zero`, since in practice those methods are only used to create an empty `InclusiveRange`, and not all rangeable types (for instance, a Date type) have meaningful zero or one

[2019-05-06 09:10] izderadicka commented on #60363
FYI -  hit this issue (or very similar) when using RLS with latest rust-websocket (however normal cargo build runs OK, only RLS has problems):
[code]

[2019-05-06 09:46] matthewjasper commented on #60548
This is fixed by d38eeacc86179a37e2bf35c1bd336df306b6edde.
Taking just the scope changes from there doesn't fix the issue, so this might just be a case that the code that's generated is different enough to avoid the issue.

[2019-05-06 09:55] pnkfelix commented on #60228
another data point: if you do a (successful) build of 5f82b5b8828, then cherry-pick  e617025e96f and do an incremental rebuild, you see the same ICE error.

[2019-05-06 10:36] james-darkfox opened #60575 "doc-tests do not compile in release mode with --release"
doc-tests do not compile in release mode with --release

[code]

[code]

[2019-05-06 11:17] hellow554 opened #60576 "Use of raw RWLock instead of RwLock"
https://github.com/rust-lang/rust/blob/7ac02005f3d7ac4b2c32b82dde365107aa2aafdf/src/libstd/panicking.rs#L57-L58

looking at these two lines of code is very frightening.
Is there a specific reason to use `RWLock` instead of `RwLock`? I would open a PR with either using `RwLock` or a comment describing why `RWLock` is needed here.

@rustbot modify labels: T-libs

[2019-05-06 11:17] michaelwoerister commented on #59542
Hey, to re-iterate: There is no way to have reproducible builds via Cargo from different source directories if Cargo feeds the RUSTFLAGS value into the `-Cmetadata` argument to `rustc`. In my opinion this is a bug in Cargo. Either Cargo needs to provide a way to pass the `--remap-path-prefix` argument to `rustc` without RUSTFLAGS or the new behavior should be made optional.

[2019-05-06 11:36] ghost opened #60577 "Make a pdf version of the std api reference."

[2019-05-06 11:51] VitalyAnkh commented on #60577
You can use [Pandoc](http://pandoc.org) to convert these html version document files.

[2019-05-06 12:00] hellow554 commented on #60577
@catastrop a more detailed description would be helpful though. Do you want something like doxygen which gives you a multi-hundred page PDF?

@rustbot modify labels: T-doc

[2019-05-06 12:13] Allenyn opened #60578 "Don't force the use of snake case !"
Don't force the use of snake case ! Give it to developer !

Thanks.

[2019-05-06 12:25] Lonami commented on #60576
Just another thought, isn't the naming itself a bit dangerous? `RW` vs. `Rw` seems like an easy typo to make. Perhaps renaming `RW` as `RawRw` could help?

[2019-05-06 12:27] hellow554 commented on #60578
[code]

[2019-05-06 12:32] eddyb commented on #59542
@michaelwoerister Yes, but using an older Cargo without that behavior *does not* fix the issue.
So we're now trying to find the other (presumably in `rustc`, or a build script) bug.

[2019-05-06 12:34] memoryruins commented on #60578
It is a warning, but it is not forced. If you want to silence the warning entirely in a crate, add `#![allow(non_snake_case)]` at the top of lib.rs

[2019-05-06 12:36] frewsxcv commented on #60578
Rust does have warnings, but does not force snake case. You can opt-out of the warnings by adding `#![allow(non_snake_case)]` to your crate root.

[2019-05-06 12:36] #60578 closed

[2019-05-06 12:38] frewsxcv opened #60580 "t! macro can be replaced by '?' operator"
This file defines a `t!` macro, but it seems like we can remove that macro and just use the new `?` unary operator instead.

https://github.com/rust-lang/rust/blob/7ac02005f3d7ac4b2c32b82dde365107aa2aafdf/src/libstd/sys/unix/process/process_unix.rs#L170-L175

There might be other files with a `t!` macro defined.

[2019-05-06 12:41] michaelwoerister commented on #59542
Ah, OK. Go on then `:)`

[2019-05-06 12:44] frewsxcv commented on #42166
@DevQps Thanks for looking into this! Do you recall where these checks happen in the codebase? I saw you linked to `process_unix.rs`, but I'm not seeing anything about linking in that file

[2019-05-06 12:53] saleemjaffer commented on #56166
@eddyb Regarding moving `FnType stuff` from `librustc_codegen_llvm/abi.rs` to `librustc_target/abi/call/mod.rs`:

This is defined in `librustc_codegen_llvm/abi.rs`
[code]
Looks like we need to move everything except
[code]

These methods seem to so some conversion from `FnType` into what `LLVM` needs.

[2019-05-06 13:15] Zoxc commented on #60050
cc @petrochenkov

[2019-05-06 13:43] eddyb commented on #57443
Could this be something we can add to `cargo-edit` and maybe even make `cargo-edit` official?

[2019-05-06 13:54] pnkfelix commented on #59344
Due to various issues, the Rust developers do not currently have a reproducible test case for #58840, and thus its impossible to confirm whether this is a true duplicate of #58840.

While I hope we will have a test case for #58840 at some point in the future, it seems misleading and inefficient to have this bug (#59344) closed as a duplicate of #58840.

In particular, since this bug *has* a test c

[2019-05-06 13:56] varkor opened #60582 "The `push_*` printing in `librustc_monomorphize` should use the printing infrastructure"
E.g. `push_const_name` here:
https://github.com/rust-lang/rust/blob/d98a165e39a3634eeac2b1f35c81560f5a7e8ded/src/librustc_mir/monomorphize/item.rs#L398
See https://github.com/rust-lang/rust/pull/53645#discussion_r281194070.

[2019-05-06 13:56] pnkfelix commented on #59344
btw, @jonas-schievink , if there is important reason you wanted one of these two bugs closed, then I recommend closing #58840 as a duplicate of #59344.

I know the former is an older bug, and thus one would usually give it precedence (in terms of which is a duplicate of which); but since the latter has strictly more useful information for T-compiler currently, it seems that should outweigh age in

[2019-05-06 14:32] yodaldevoid commented on #59210
@stepnivlk If you did not see, #59008 got merged! Just wanted to ping you in case you are still interested in working on this.

[2019-05-06 14:33] sfackler commented on #60576
`RwLock` can't be statically initialized, or at least couldn't be when that code was written. That'll change once the parking_lot PR lands.

[2019-05-06 14:34] stepnivlk commented on #59210
@yodaldevoid great, thx for the info and I actually missed it. I'm def interested, gonna work on that.

[2019-05-06 15:16] alexcrichton commented on #32838
A good point @TimDiekmann! I'm going to go ahead and close this in favor of discussion threads in that repository.

[2019-05-06 15:18] alexcrichton commented on #42774
I agree with @TimDiekmann that centralizing discussion is probably best now, so I'm going to close this in favor of the WG repository.

I'll open an issue on the repository about discoverability.

[2019-05-06 15:18] #42774 closed

[2019-05-06 15:29] jonas-schievink commented on #59344
Okay, I don't mind either way. I just closed this since it had the exact same backtrace as #58840. We can keep both open if this is not clearly a duplicate.

[2019-05-06 15:30] alexcrichton commented on #40322
I personally agree with @BurntSushi in that listing common errors sounds good, but we should not strive to provide an exhaustive list.

[2019-05-06 15:35] metajack commented on #60235
This seems somewhat related to #35968.

[2019-05-06 15:50] SimonSapin commented on #32838
This is still the tracking issue that some `#[unstable]` attribute point to. I think it should not be closed until these features have been either stabilized or deprecated. (Or we could change the attributes to point to a different issue.)

[2019-05-06 15:58] euclio commented on #60319
@Phrohdoh could you edit this issue to reflect the current status? It should be something like "Empty doc tests should be linted".

[2019-05-06 16:07] dtolnay commented on #47990
We hit this in #rust today with @Yatekii. Retagging as a bug. What makes this confusing is that the following two situations show exactly the same error message even though the nature of the problem is different. The first situation is more common so people recognize the error message as pertaining to that, and don't think to look for the second situation in their code.

[code]

[code]

[code]

[2019-05-06 16:07] ehuss commented on #60575
This is both a cargo issue and a rustdoc issue.  There are more details at https://github.com/rust-lang/cargo/issues/6570#issuecomment-455920801.  Will need to hear from t-rustdoc to know what to do next, but I think it would be nice to unify the codegen option parsing between rustc and rustdoc.

[2019-05-06 16:16] L4r0x commented on #59134
Same issue in vscode on linuxmint and rust 1.34.1 when trying to build glib (dependency of gtk).
[code]

[2019-05-06 16:22] sfackler commented on #57563
Is there a more specific tracking issue for function pointers in const fns? e.g. https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5455f0bdf725924403901eba36cdd58a

[2019-05-06 16:27] jonas-schievink commented on #60363
@izderadicka no, that's an unrelated issue – see https://github.com/rust-lang/rust/issues/59134

[2019-05-06 16:29] tema3210 commented on #57972
The `Clone` trait, like `Move`, uses `memcpy()` function to copy it's data to another location. The simplest way i can propose is to have a `OnMove` trait to use in object lifecycle. Since the arichmetic isn't so demandful to hardware resources, this solution sounds better to me. Moving from one pin to another sounds good, especially for the gurantee that generator won't be moved too frequently.

[2019-05-06 16:38] mati865 commented on #59134
There is no need to list every crate which depends on `bitflags`, it only clutters the thread and makes [the workaround](https://github.com/rust-lang/rust/issues/59134#issuecomment-489430178) less visible.

[2019-05-06 17:04] eddyb commented on #60582
I didn't mean const printing, sorry. But rather that entire `push_*` stuff, which was hacked together for the monomorphization collector but can now use the printing infrastructure.

[2019-05-06 17:30] jethrogb commented on #32838
Yeah unstable features referenced in git master should definitely have an open tracking issue.

[2019-05-06 17:47] Gankro commented on #32838
Agreed. Also added a notice and link to the OP.

[2019-05-06 18:34] mati865 commented on #59302
Thanks for the explanation.

[2019-05-06 18:57] varkor commented on #56132
@eddyb: are you able to provide mentoring instructions for @FrankSD?

[2019-05-06 19:10] eddyb commented on #56132
I sadly don't have a lot of time to spend on this, but I can give some quick pointers here, and can answer questions on IRC/Discord later, if that helps.

The goal is to use something like this (which is the type `-> impl Trait` was inferred to be):
https://github.com/rust-lang/rust/blob/c3b8ab5199af4a3c11d14b0cbdb17a641e8eee71/src/librustc_typeck/collect.rs#L1226-L1235

When computing a function

[2019-05-06 19:11] eddyb commented on #56132
Oh and you'll have to emit an error at one of those points (I'm thinking `fn_sig`), with the inferred type, to present it to the user and at the same time guarantee compilation doesn't finish.
(For good measure, I'd also add a `delay_span_bug` to `check/mod.rs`)

[2019-05-06 19:15] mark-i-m opened #60587 ""No variables matched as repeating at this depth" is checked late"
For example, the following compiles, but an error message is issued when the macro is used: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=491ff00e42a73bdcda9c8da783050097

(and likewise for all the other errors in that file)

[2019-05-06 19:16] mark-i-m commented on #60587
The code that issues this error is in `syntax::ext::tt:transcribe`

[2019-05-06 20:07] rektide opened #60589 "Is async/await compatible with io_uring (Linux async io)?"
Hello all. On Linux, we're getting a new [high performance async io implementation called io_uring](https://lwn.net/Articles/776703/). I'm curious how Rust is going to be able to interface with this, & how is this going to work with Rust's async/await plans?

I'm afraid my knowledge of Rust's async/await isn't up to par to do much guesswork for how Linux's async io would fit into Rust's async lang

[2019-05-06 20:22] lambda commented on #60589
Rust's `async`/`await` is a language feature which makes it easy to indicate points during which computation will suspend while waiting for some kind of result, and then resume later once that result is ready. It allows you to do this in a very low-overhead way at the language level.

However, it isn't tied to any particular operating system or method of delivering notifications of completion of a

[2019-05-06 20:48] rektide commented on #60589
Is [this ThreadPool](https://github.com/rust-lang-nursery/futures-rs/blob/052f7b69902f58d8b309c2d5647fe672040540a9/futures-executor/src/thread_pool.rs#L69) (also [here](https://github.com/rust-lang-nursery/futures-rs/blob/master/futures-executor/src/thread_pool.rs) atm) an example of one of those executors? I'm surprised to find that there's no `trait Executor` implemented here, nor can I find a d

[2019-05-06 21:44] matthiaskrgr commented on #59951
I can't reproduce anymore, closing...

[2019-05-06 21:44] #59951 closed

[2019-05-06 21:45] matthiaskrgr commented on #60228
#59945 might be related

[2019-05-06 22:10] lambda commented on #60589
The Rust async ecosystem is a little confusing right now, as it has been rapidly evolving.

There is some custom syntax in the language itself, plus a few traits that need to be provided by the standard library to interact with this syntax and provide the common core functionality.

Then there is the `futures` crate, which provides a lot of extra utilities on top of that core functionality, as wel

[2019-05-06 22:28] vi commented on #56132
Maybe it would be nice to have some `#![feature]` flag to replace the error with a warning? It may be useful for prototyping, when the code is still in `#![allow(unused)]` era.

`cargo fix` should automatically type in the inferred type for me based on such warning.

[2019-05-06 22:30] rektide commented on #60589
Amazing answer @lambda. Thank you, & well- I'm sorry for using so much of your time!!! That's amazingly comprehensive & well linked, thank you.

I'd asked some follow-up questions in #wg-async-foundation, and wanted to share some of the learning resources I found there too. Nemo157 pointed me at [juliex](https://github.com/withoutboats/juliex) & [romio](https://github.com/withoutboats/romio) as ot

[2019-05-06 22:50] lambda commented on #60589
Ah, great, glad to hear you were able to get some other references.

Yeah, I pointed you to a lot of the full-featured, complex, fairly mature projects, but those other links you got are a lot better for learning how the ecosystem works.

[2019-05-06 22:56] fedochet opened #60593 "Panic inside panic when procedural macro is called with proc_macro::bridge::client"
I am experiencing a strange panic that happens inside procedural macros when they are compiled as dynamic libraries, dynamically linked and then called explicitly using `proc_macro::bridge::client`.

It's quite hard to reproduce in small amount of code, so I've made up an example project where you can launch the tests and see the panic, it is [here](https://github.com/fedochet/rust-proc-macro-pani

[2019-05-06 23:21] eddyb commented on #60593
First off, you have both of these in the stack trace:
* `src/libproc_macro/bridge/client.rs`
* `/rustc/a3404557c54ea48fb8efc805d93c450beb3364d4/src/libproc_macro/bridge/server.rs`

Did you build the former yourself? If not, how come it doesn't have the hash in it?
To be clear, you need that source to be from a3404557c54ea48fb8efc805d93c450beb3364d4, and the build settings to match the upstream, ot

[2019-05-07 00:15] cramertj commented on #60589
Closing as resolved.

[2019-05-07 00:15] #60589 closed

[2019-05-07 00:17] alexreg opened #60595 "Improve diagnostics for missing associated types"
When the user fails to specify associated types for a trait object, the span used for the label ``associated type `Output` must be specified`` is the entire trait object, when it should ideally just be the trait (bound) from which the associated type is missing.

For example, we currently get:

[code]

when we really want something like:

[code]

Note that PR https://github.com/rust-lang/rust/pull

[2019-05-07 00:59] jhfrontz commented on #59542
OK, it turns out that it **is** cargo that is causing the issue (@eddyb found that I wasn't actually using the 1.32 version of cargo in my earlier experiments).  Now, with cargo-1.32 and rust-1.34, I get deterministic output:

[code]

[2019-05-07 01:35] jackpot51 commented on #52331
What should the return value of PrefixComponent::kind be on Redox?

[2019-05-07 01:40] ehuss commented on #44663
This is now available on the latest nightly (2019-05-07) if anyone wants to experiment with it ([docs](https://doc.rust-lang.org/nightly/cargo/reference/unstable.html#public-dependency)).  Just add `cargo-features = ["public-dependency"]` to the top of `Cargo.toml` of your project to get things started. You can then look at the warnings produced by rustc to understand which dependencies are expose

[2019-05-07 02:30] estebank commented on #60587
Cc https://github.com/rust-lang/rust/issues/35853

[2019-05-07 02:51] eddyb commented on #59542
I've just hidden a bunch of comments that were really confusing because of unrigorous debugging.

Also, as we've determined this was entirely caused by Cargo, I've opened https://github.com/rust-lang/cargo/issues/6914 instead, and I'm closing this issue on the Rust side.

[2019-05-07 02:51] #59542 closed

[2019-05-07 02:59] #60361 closed

[2019-05-07 03:08] Allenyn opened #60598 "Add a standardized construction method for struct !"
Please add a standardized construction method for struct !
This is useful .

[2019-05-07 05:22] oli-obk commented on #57563
There's the const bounds RFC which has a section for function pointers in the future work part: https://github.com/oli-obk/rfcs/blob/const_generic_const_fn_bounds/text/0000-const-generic-const-fn-bounds.md#const-function-pointers

[2019-05-07 05:42] estebank commented on #60598
Could you clarify what you mean? Struct literals can already be used and you can implement the `Debug` trait for your types.

[2019-05-07 06:19] hellow554 commented on #60598
@Allenyn please be a little more concrete with your issues.
What I **think** what you want it something similar to a constructor, right? E.g. `let a = new B()`.

I think the big plus point is, that such constructor does not exist per se! It is amazing. Every wondered how you signal errors which can happen in a constructor (e.g. a File cannot be opened, or a parameter is invalid)?
I love it the way

[2019-05-07 06:26] DevQps commented on #40322
@alexcrichton Thanks for your response!

I think two more questions remain for me now:

1. Do we mean by common: "Errors that occurr often" or "Errors that can be thrown by all platforms". Personally I believe we should not list errors that are platform dependent even if they could occur frequently. But listing the most frequently seen errors that are shared by all platforms seems good to me.

2.

[2019-05-07 07:19] ayosec commented on #47809
If nobody is working on this I would like to try to implement it.

Do you think that it is feasible as a first contribution to the compiler?

Are the steps in https://github.com/rust-lang/rust/issues/47809#issuecomment-443538059 still valid?

[2019-05-07 07:43] Allenyn commented on #60598
@hellow554  Thanks for your explanation.

[2019-05-07 07:43] #60598 closed

[2019-05-07 07:48] DevQps commented on #42166
@frewsxcv I had to dive into it once more (because I more or less forgot haha)

But upon calling `.output` on a `Command` as described in the example on [`std::process`](https://doc.rust-lang.org/nightly/std/process/index.html) we have the following code (this is in [process_unix.rs](https://github.com/rust-lang/rust/blob/master/src/libstd/sys/unix/process/process_unix.rs):

[code]
which then call

[2019-05-07 07:49] DevQps commented on #42166
But of course this is only for UNIX processes. I think for Windows and other platforms this might be different. But I think memory constraints or invalid arguments are probably common on all platforms.

[2019-05-07 08:01] DevQps commented on #59294
@gnzlbg I asked around in the rustdoc channel in Discord. If I get a reply I will let you know (Y)

[2019-05-07 08:12] hellow554 commented on #60598
@Allenyn also please notice, that the github issue tracker is most likely used for bugs and issues in the rust language itself.
Questions and such are better asked in the [user forum](https://users.rust-lang.org) or [discord](https://discordapp.com/invite/rust-lang) if you want.

[2019-05-07 09:13] glandium opened #60599 "Functions in libbacktrace_sys use malloc/free/realloc directly"
It's unfortunate that the functions in libbacktrace_sys go around the `#[global_allocator]` and uses the system allocator directly. That said, I'm not sure what those functions are used for. They don't seem to be used by the panic code.

Cc: @SimonSapin

[2019-05-07 09:17] ayianadarko opened #60600 "Windows refuses install rust"
Windows protected your PC
Windows Defender SmartScreen prevented an unrecognized app from starting. Running this app might put your PC at risk.
App: rustup-init.exe
Publisher: Unknown publisher

[2019-05-07 09:18] glandium commented on #60599
Cc @alexcrichton

[2019-05-07 09:22] Xanewok commented on #60299
@pnkfelix can we close this specific issue? RLS is fixed and [available](https://rust-lang.github.io/rustup-components-history/) again

[2019-05-07 09:31] jonas-schievink commented on #60600
Duplicate of https://github.com/rust-lang/rustup.rs/issues/1568

[2019-05-07 09:31] #60600 closed

[2019-05-07 09:57] #60299 closed

[2019-05-07 10:03] matklad commented on #50518
Triage: both the original example and the once_cell bug no longer reproduce for me on 1.31.1 (2018 release) and 1.34.1 (stable at the time of writing).

The issue should probably be closed. Or do we want to add run-pass test just in case?

[2019-05-07 10:51] BurntSushi commented on #40322
I think if you just stick to listing the errors that might occur in terms of [`io::ErrorKind`](https://doc.rust-lang.org/std/io/enum.ErrorKind.html), then that might be good. We aren't necessarily looking to provide rock solid guarantees here, so I think a disclaimer like, "some errors may only occur on specific platforms" would be fine.

I would like to re-iterate my question of the usefulness of

[2019-05-07 11:42] SimonSapin commented on #60599
Is this an issue for https://github.com/alexcrichton/backtrace-rs/issues?

[2019-05-07 11:56] SimonSapin opened #60602 "Tracking issue for the `cast` method of raw pointers"
https://github.com/rust-lang/rust/pull/60601 adds:

[code]

Like with `NonNull::cast`, the input pointed type does not need to be `Sized` but the output pointed type does, because we wouldn’t know what appropriate pointer metadata (slice length, trait object vtable, …) to insert. The actual requirement is that the pointer is thin, but `Sized` is the closest approximation we have (until we add some

[2019-05-07 12:31] eddyb commented on #60595
cc @varkor

[2019-05-07 13:11] rosscanning opened #60603 "Infinite "recursive requirements" compiler error"
When compiling this program, the compiler fails with an infinitely recursive error message. The message makes no sense, as it contains types that aren't even in the program.

    use std::ops::{Add, Sub};

    struct Point2d<T> {
        pub x: T,
        pub y: T,
    }

    impl<'a, T> Sub<&'a Point2d<T>> for &'a Point2d<T>
    where &'a T: Sub<&'a T, Output=T>,
    {
        type Output = Point

[2019-05-07 13:26] matklad opened #60604 "Raw Byte strings do not handle `\r`"
Everywhere in the language we treat `\r\n` as `\n`, and forbid bare `\r`. In particular, in raw strings we do translate `\r\n` to `\n`, which makes sense, given that line ending depends on git config.

However, for raw byte string literals we don't do this, and this looks like a bug?

[code]

[2019-05-07 13:26] matklad commented on #60604
cc @petrochenkov

[2019-05-07 13:27] DevQps commented on #40322
@BurntSushi Personally I wonder how useful it would be as well. I do believe it can be slightly useful for beginners to catch common cases (such as NotFound, or PermissionDenied) but I wonder if it is worth all this extra work. I see the following pro's and con's:

**Pro's:**
- We can easily see, when reading a methods description, which are the most common errors that can be thrown without having

[2019-05-07 13:39] zrzka opened #60605 "CP15 barrier instructions should be emitted before the exclusives loops (arm)"
## Symptoms

* Rustup hangs (unable to install Rust)
  * Tracked down to [parking_lot](https://github.com/Amanieu/parking_lot/issues/130) issue
* Not just Rust related, [Swift has this problem as well](https://forums.balena.io/t/cloud-build-fails-but-local-device-build-works-on-raspberry-pi-zero/4994)
  * -> LLVM issue

## Environment

* Linux kernel with`CP15_BARRIER_EMULATION=y`
* `abi.cp15_barr

[2019-05-07 13:39] DevQps commented on #60223
What about adding this line of text at the end of the "Implementing Iterator" section?

which call `next` internally. However, it is also possible to write a custom implementation of
methods such as `nth` and `fold` if an iterator is able to compute them more efficiently without calling
`next`.

Feel free to adjust the text or make something up yourself :) If you agree I will create a PR for this.

[2019-05-07 13:46] matklad commented on #60604
I guess the best way to solve this is to move `\r\n -> \n` logic to the unescape module.

[2019-05-07 13:46] petrochenkov commented on #60604
I wanted to create an issue about this as well!

I think translation of `\r\n` into `\n` and prohibition of bare `\r` (*) should be consistently done for all literals.
Perhaps even before tokenization (so that proc macros cannot observe `\r\n`) (not sure about this, it can potentially mess up byte position in files and in code map or something).

(*) The prohibition of bare `\r` is mostly a conser

[2019-05-07 13:54] DevQps commented on #60577
It reminds me a bit of this issue: #20866 which about generating epub and pdf versions of the Book. But maybe the idea behind it can be used for this as well?

[2019-05-07 13:54] oli-obk commented on #60028
@sjeohp were you able to resolve your original problem by addressing the stack overflow?

[2019-05-07 13:57] matklad commented on #60604
+1 here. Having both `\n` and `\r\n` in the source is especially painful in the IDE, where you need to insert line breaks during refactorings. Figuring this out on a case-by-case basis is pretty horrible. We have an open issue (https://github.com/rust-analyzer/rust-analyzer/issues/775) about python-style translation of `\r\n <-> \n` at the IO boundary (in IDE, the translation needs to be bidirecti

[2019-05-07 14:01] kpp opened #60606 "Clarification on **must** word in CStr::from_bytes_with_nul_unchecked docs"
https://github.com/rust-lang/rust/blob/55c48b4e823ad3518bb8e6d3fd7da4f2fc0c5fc2/src/libstd/ffi/c_str.rs#L1017

Let's take a look at https://doc.rust-lang.org/std/ffi/struct.CStr.html#method.from_bytes_with_nul_unchecked :

  This function will cast the provided bytes to a CStr wrapper without performing any sanity checks. The provided slice **must** be nul-terminated and not contain any interior n

[2019-05-07 14:09] jonas-schievink commented on #60606
Your example is different from the linked playground, the `42` and `0` are swapped

[2019-05-07 14:18] jonas-schievink commented on #60603
Wat. Nominating. `HashSet` isn't even using the `Add` or `Sub` trait.

[2019-05-07 14:19] kpp commented on #60606
Thanks, fixed.

[2019-05-07 14:19] berkus commented on #60606
For C string to be not UB, it "*must* be nul-terminated and *should not* contain any interior nul bytes".

It could contain interior nuls, the only downside is that to C-side this string would look differently (i.e. be a different string).

[2019-05-07 14:19] petrochenkov commented on #60604
Not only Python, C++ also assumes that the newline translation happens at IO boundary during source file loading.

My only concern is that it would prevent `mmap`ing source files directly, but I don't know how important that may be.

[2019-05-07 14:24] matklad commented on #60604
Not an expert in `mmap`, but my understanding is that, in the context of compilers, it won't bring a lot of benefits (files are small and read sequentially and fully), but would cost a lot of complexity (errors during mmap are delivered via signals). Anyway, that's waaaay beyond the scope of this issue :)

I'll look into fixing this this week.

[2019-05-07 14:25] jonas-schievink commented on #60603
In Rust 1.12.0 it displays `BTreeSet` instead:

[code]

[2019-05-07 14:34] fedochet commented on #60593
@eddyb thanks for your time and efforts!

If I understand your question correctly, then no, I did not build `client.rs` myself, or at least I think so. I've used a stock nightly compiler, not locally compiled

However, I'm using  `#![feature(proc_macro_internals)]` to be able to use `extern crate proc_macro` and its internals. Maybe this is what actually triggers compilation of this module, and th

[2019-05-07 15:47] oli-obk opened #60607 "Preallocate `DefId`s for lang items and use lang items in lowering"
Right now, our lowering code uses string-paths to call e.g. `Iterator::next` when lowering `for` loops:

https://github.com/rust-lang/rust/blob/c6ac57564852cb6e2d0db60f7b46d9eb98d4b449/src/librustc/hir/lowering.rs#L4653-L4655

This triggers a name resolution call

https://github.com/rust-lang/rust/blob/c6ac57564852cb6e2d0db60f7b46d9eb98d4b449/src/librustc/hir/lowering.rs#L5263-L5273

which will th

[2019-05-07 15:55] eddyb opened #60608 "Use indexmap::Index{Map,Set} in the compiler instead of Vec+reverse map."
Examples of pairs of fields we can replace:
https://github.com/rust-lang/rust/blob/c6ac57564852cb6e2d0db60f7b46d9eb98d4b449/src/librustc/ty/mod.rs#L905-L909
https://github.com/rust-lang/rust/blob/c6ac57564852cb6e2d0db60f7b46d9eb98d4b449/src/libsyntax_pos/symbol.rs#L447-L448
https://github.com/rust-lang/rust/blob/c6ac57564852cb6e2d0db60f7b46d9eb98d4b449/src/libsyntax_pos/span_encoding.rs#L114-L115

[2019-05-07 15:58] eddyb commented on #60593
Not `proc_macro` the crate, but the proc macro crate you are building during the test, you can have it in the same repository, and use a path dependency, instead of creating it in a temporary directory.

[2019-05-07 16:05] Centril commented on #60607
I'm going to take a look at this as a side-project :)

[2019-05-07 16:30] petertodd commented on #36394
Just an update: at present `MaybeUninit<T>` depends on `()` inhibiting enum layout optimization to make constructs like the following safe:

[code]

[2019-05-07 16:41] cramertj opened #60610 "Remove await! macro-like syntax support"
https://github.com/rust-lang/rust/pull/60586 moves support for `await!(<expr>)` syntax under a separate feature gate from `async { ... }` and `.await`. Once folks working on nightly have been given time to migrate (~a release cycle or so) we should remove this hack.

[2019-05-07 16:48] gnzlbg commented on #47949
ping @rust-lang/compiler this should be triagged, even if it is not a soundness bug, unwinding working properly is something that a lot of code relies on.

[2019-05-07 16:54] HeroicKatora commented on #53491
I just stumbled upon a usage of `mem::uninitialized` in the documentation of the standards library, didn't really know where else to note that [the last example of `core::ptr::drop_in_place`](https://doc.rust-lang.org/nightly/core/ptr/fn.drop_in_place.html#examples) needs to be updated.

[2019-05-07 16:58] gnzlbg opened #60611 "Behavior of panicking Drop::drop is not properly documented"
It was decided in, I think, #14875, that `Drop::drop` can panic, and if this happens, the value must be leaked (at least in a generic context), that is, it cannot be re-dropped again and doing that could invoke UB (that's at least what generic unsafe code needs to assume).

This does not appear to be documented anywhere. These semantics make the following snippet have undefined behavior due to dou

[2019-05-07 17:08] fedochet commented on #60593
I've tried to do that, unfortunately with no luck

I've updated the repo with test that uses path dependency (you should `cargo clean` everything after test so there are no chance that old compiled macro is used)

[2019-05-07 17:08] whitfin commented on #54535
@dtolnay I was going to take a look at this but it seems it might have already been done (and so this can be closed). The current `TokenTree::Delimited` looks like this:

[code]

[2019-05-07 17:11] james-darkfox commented on #43038
Can we have `&Cell<[T]>::split_at(usize) -> (&Cell<[T]>. &Cell<[T]>` or an Index that returns `Cell<[T]>` not `[Cell<T>]`?

I've quickly written an alternative to the byteorder crate using ~150 lines of safe rust with support for `Cell<[u8]>`. I'd like the above to extend it to include bit-level packing.

[2019-05-07 17:11] gnzlbg commented on #14875
If `Drop::drop` panics one **has** to make sure the value is leaked, or otherwise some fields might be double-dropped when the destructor is invoked a second time.

Is this behavior documented anywhere? I've only found this issue, no RFC, internals / mailing list post, no nothing. I've filled #60611 for tracking documenting this.

[2019-05-07 17:15] lzutao commented on #60611
@rustbot modify labels: T-lang T-doc

[2019-05-07 17:16] dtolnay commented on #54535
Thanks, looks like this was fixed in #56369.

[2019-05-07 17:16] #54535 closed

[2019-05-07 18:13] kpp commented on #60606
By definition C string is defined as a contiguous sequence of code units terminated by nul, however it is safe to cast a CStr with interior nul bytes to `char*` and to pass it to FFI functions with `bytes.len()` where you need a buffer not a C string.

So it is not a UB to create a CStr with without terminal nul, it will be UB to read uninitialized data past the end of the buffer that you get from

[2019-05-07 18:22] cr1901 commented on #59077
@jamesmunns pointed me to [this guide](https://rust-lang.github.io/rustc-guide/codegen/updating-llvm.html#bugfix-updates). Doesn't seem too difficult to follow; I think I should be able to do this myself, hopefully within the week, but at the very least soon :).

[2019-05-07 18:35] nikomatsakis commented on #47949
So, to be clear, it's not that we leak **all** destructors when panic in drop occurs. For example, [this function drops both `p` and `n` as expected](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=495eafee429b7008b235775c9e301d14):

[code]

The specific scenario here is that:

- we are in the middle of returning the `NoisyDrop` to our caller (so our caller "owns it")
- but

[2019-05-07 18:47] estebank opened #60613 "Provide appropriate suggestions for some of the discussed await syntaxes"
Regardless of the final syntax selected for `await`, given the prevalence of prefix keyword in other languages, and the possibility of thinking it is a method, the parser should support these syntaxes and error with an appropriate targeted diagnostic. Furthermore, should the field or method syntax were to be chosen, we should have reasonable behavior with explanations when accidentally using `awai

[2019-05-07 19:08] In-line commented on #56431
IMHO I would prefer shrink_to not to panic. I think it is better to return `Result<usize, TooSmallError>`?

`Ok(..)` would contain previous capacity.
`Err(...)` will be returned in case of failure, containing required minimum.

With this change if I need code to panic, I will just `unwrap()`, but with current behavior it seems to be error prone.

[2019-05-07 19:09] estebank commented on #60613
Some of the cases to have tests for:

[code]

And we should have `struct`s that have both similar method and field names, including `r#await`.

[2019-05-07 19:24] cramertj commented on #60564
cc @oli-obk

[2019-05-07 19:36] timvermeulen commented on #60395
@Mark-Simulacrum Note that a chain of more than two iterators wouldn't be able to benefit from that specialization because `Chain` itself doesn't implement `ExactSizeIterator`, so only `try_nth` would help there. Or e.g. a `Chain` nested inside a `Flatten`.

[2019-05-07 19:40] #60263 closed

[2019-05-07 19:48] Centril commented on #60613
As long as you make sure that this doesn't stabilize the syntax (i.e. you need to account for macros) then I think this is a good idea.

[2019-05-07 20:31] swgillespie commented on #59134
Here's a small repro, extracted from what `bitflags` is doing:

[code]

[code]

I'm struggling to get a repro without the compile error, though.

[2019-05-07 20:49] Xanewok commented on #59134
Thank you for such a small repro! I’ll take a closer look tomorrow and see
what may be causing that.

On Tue, 7 May 2019 at 22:32, Sean Gillespie <notifications@github.com>
wrote:

[2019-05-07 20:50] ollie27 commented on #60606
The implementations of `CStr` and `CString` assume that the nul byte is always at the end. For example [`to_bytes`](https://github.com/rust-lang/rust/blob/17dba3b6e450c357a881c8cbe6cfce87b7b9d6bd/src/libstd/ffi/c_str.rs#L1107-L1110) removes the last byte because it has to be the first nul. Changing `CStr` to allow interior nul bytes would cause a lot of breakage.

[2019-05-07 21:20] OptimisticPeach opened #60614 "std::cmp Documentation has some typos"
Hi there, I was just browsing the [`std::cmp`](https://doc.rust-lang.org/std/cmp/index.html) documentation and came across some funny looking text:

It seems that there are just a few links that are broken, so I thought I'd just make an issue. I would submit a PR with the fix, but I'm not sure how to do these kinds links.

[2019-05-07 21:24] whentze commented on #50551
I have just run into this issue as well, and I don't think this is #29864. That RFC proposes allowing overlapping impls for marker traits. There are no overlapping impls here.
If you remove the specific impl of `NotSend`, then T will not impl `NotSend`. Rust already knows that the blanket impl does not apply.

Even weirder, there seems to be a meaningful difference between "implicitly" not impleme

[2019-05-07 21:28] Centril commented on #60611
cc @rust-lang/wg-unsafe-code-guidelines @rust-lang/lang

[2019-05-07 21:35] estebank commented on #60613
cc #60586

[2019-05-07 21:48] whentze commented on #50551
Thinking about this some more, I have another idea why this might be happening:

The explicitly `!Send` type is `!Send` in an absolute vacuum. The one marked as such by `PhantomData<Rc<_>>` or `PhantomData<*mut _>` depends on `std` marking these types as `!Send`.

Someday, somebody could invent a thread-safe reference counting mechanism that is 100% as performant as regular `Rc`. Then, `std` might

[2019-05-07 21:51] cramertj opened #60615 "async/await unresolved type parameter in generator error shouldn't refer to `yield`"
[This error](https://github.com/rust-lang/rust/pull/60586/files#diff-886d5c2fd61ce5a927f03d05cfaf479d) could be better and shouldn't talk about `yield`. This requires plumbing through extra information about where generators and yields came from so that we can give appropriate diagnostics at later stages of the compiler.

[2019-05-07 21:55] lambda opened #60616 "Useless while loop with a step of 2 doesn't optimize away"
While investigating a variant of #59281 and #57517 [reported on Reddit](https://www.reddit.com/r/rust/comments/blv6fn/rustc_optimization_sadness/), I found that even a `while` loop version still had an extra loop that wasn't optimized away. [A minimal example that demonstrates the issue](https://rust.godbolt.org/z/RC02GG):

[code]

While [the same loop with a step increment of 1 does optimize away

[2019-05-07 22:09] lambda commented on #60616
Interestingly, `clang` has the same behavior if using `unsigned int`, but is able to perform the optimization for `int`; it always optimizes the loop away for `int`, but only optimized it away for `1` if I use `unsigned int` for all of the variables.

[2019-05-07 22:33] lambda commented on #59851
@measlytwerp Thanks for putting that together! I like the mockup a lot; it addresses may of my points. It does still have the `[src]` on the right for the traits, but it looks like a big improvement.

[2019-05-07 22:33] #60483 closed

[2019-05-07 22:33] #60509 closed

[2019-05-07 22:33] #60566 closed

[2019-05-07 22:38] q66 opened #60617 "powerpc64: allow querying ELF ABI version"
There are two ABIs on ppc64, ELFv1 (legacy) and ELFv2 (introduced a couple years back, used by default for little endian). Rust currently has logic in it that for the `musl` libc, ELFv2 is used on big endian and ELFv1 is used otherwise. This is inadequate, as you can use ELFv2 as well with `glibc`. In my distribution, both little and big endian systems are supported, with `glibc` and `musl`, and t

[2019-05-07 22:39] ehuss commented on #60614
This is #59833.  intra-rustdoc-links has issues with reexporting between crates.

[2019-05-07 22:39] lambda commented on #59851
You could switch to using `<details>` here, but you'd still need to customize the styling because the browser default style might be a little too heavy. I think whether you switch to `<details>` is more of an implementation issue, and question of accessibility to screen readers, which should also be considered but I have nowhere near the expertise to comment on that.

[2019-05-07 22:48] lambda commented on #59845
In a comment on #59851, @measlytwerp [posted a mockup](https://github.com/rust-lang/rust/issues/59851#issuecomment-488976397) that addresses the requests in that issue as well as many in this issue. For anyone interested in this issue, it would be worth taking a look at that mockup.

[2019-05-07 22:54] glandium commented on #40322
At the very least, error types that are necessary to handle for correctness should be documented. e.g. #34661

[2019-05-07 22:56] glandium commented on #60599
Maybe?

[2019-05-07 22:57] sfleischman105 opened #60619 "ICE with Const Generic expression inside array declaration"
Found an ICE with the following code:

[code]

Results in "no errors encountered even though `delay_span_bug` issued" on current nightly.

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=545b59bb2bed55457536598ab964f708).

The ICE still happens regardless of the `LEN * 2` being in a block, in parenthesis, or even as a standalone expression.  Interestingly

[2019-05-07 23:00] Centril commented on #60619
Recommended: P-medium due to unstable incomplete feature.

[2019-05-07 23:11] varkor commented on #60619
Thanks for the report.

(This only ICEs with the feature gate, so there's no need to raise the priority on this.)

[2019-05-07 23:24] estebank commented on #22565
[Still ICEs](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=29ce0b1e560889b6cac07b91d52046c9).

CC #34901.

[2019-05-07 23:28] estebank commented on #57588
Current output:

[code]

Closing as duplicate of #47361.

[2019-05-07 23:28] #57588 closed

[2019-05-07 23:28] Aatch commented on #60616
This is expected because Rust has defined behaviour for both signed and unsigned integer overflow, while C++ only defines behaviour for unsigned integers. The undefined behaviour for signed integer overflow is what allows LLVM to optimise away the loop in the C++ version.

[2019-05-07 23:28] lambda commented on #59851
Review of specific thoughts on @measlytwerp's mockup:

* The main heading stands out better with less clutter around it
* The stability and source code links being in prose and inline looks good
* I love showing the abbreviated declaration instead of "Show declaration;" that's a great touch
* The disclosure controls are less distracting here, especially now that they line up
* The sans-serif body

[2019-05-07 23:29] estebank commented on #47361
Repro case and current output for case from #57588:

[code]

[code]

Current output for the case in the original report:

[code]

[2019-05-07 23:36] woody77 opened #60621 "Compiler panic"
Ran into a compiler panic while refactoring a function from returning an Option<T> to a Result<T, E>.

In a file full of unit tests with (expected) compilation failures on lines like:
`assert_eq!( [fn that returns Result::Err], None);`

I changed one line over to:
`assert_eq!( [fn that returns Result::Err), Err);`

And got the following panic.

I'll see if I can make a smaller reproduction case.

[2019-05-07 23:37] lambda commented on #60616
@Aatch Ah, I see, that makes sense.

And indeed, if I use a `u64` for the counter here but a `u32` for `num` to preclude the possibility of overflow, [`rustc` is able to optimize it away](https://rust.godbolt.org/z/LRGY4c):

[code]

[2019-05-07 23:38] #60616 closed

[2019-05-07 23:39] woody77 commented on #60621
@cramertj

[2019-05-07 23:43] whoiscc opened #60622 "Compiler crash when dealing with Any and Ref"
[code]

Compiler crashes with

[code]

Also, I wonder what is the right way (or is there any way) to write a `demo` with expected behavior. Thanks.

[2019-05-07 23:47] mark-i-m commented on #2887
If #60620 is correct and gets merged, we would be down to just one FIXME and it is about hygiene.

Specifically, when transcribing a MBE, when we replace a meta-variable with a matched nonterminal, currently:
- If the meta-variable was a `:tt`, we don't do anything to the syntax context of token trees (`$x:tt`).
- If the meta-variable is any other type of nonterminal, we apply the mark of the curr

[2019-05-08 00:04] q66 commented on #60617
Actually, this could easily be implemented as a string in `TargetOptions`, matching `llc -target-abi=<value>`. So there is no need for it to be a list, considering LLVM already handles it like this. Then it could be exposed as `target_abi` cfg. I can try making a proof of concept implementation.

[2019-05-08 00:16] cuviper commented on #60617
It's actually that *all* musl is ELFv2, as is other little-endian, while big-endian uses ELFv1.

https://github.com/rust-lang/rust/blob/cfdc84a009020c59e53e4039beae22eb59e41685/src/librustc_target/abi/call/powerpc64.rs#L127-L134

And here's what GCC has to say about those `mabi=elfv1`/`2` settings:
https://gcc.gnu.org/onlinedocs/gcc-9.1.0/gcc/RS_002f6000-and-PowerPC-Options.html#index-mabi_003delf

[2019-05-08 00:30] cuviper commented on #60608
FWIW, `indexmap` already does a little bit of size hacking with its `Pos` type:
https://github.com/bluss/indexmap/blob/0a06966af88c0f48f2d69d20dacfc89cebfbbf3f/src/map.rs#L76-L91

The API always presents `usize` though.

[2019-05-08 00:33] q66 commented on #60617
It's not enough (in my distro I use external LLVM, which is patched to use ELFv2 correctly, and for bootstrap executables that use internal LLVM i have that patched as well). Yes, all `musl` uses ELFv2. My point was more about that `glibc` can also use ELFv2 on big endian (and in my distro it does). That means Rust programs that rely on for example calling into external assembler cannot rely on th

[2019-05-08 00:39] estebank commented on #51301
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d7169c3e57896142b7ee1b93521fc8de):

[code]

[2019-05-08 00:44] q66 commented on #60617
Anyway, my current design is something like the following:

1) `TargetOptions` gets a new field `pub target_abi: Option<String>;`matching `llc -target-abi`. This ABI would be passed when `target_abi` is not a `None`.
2) Most target specs will continue being as they are, the `powerpc64(le)` ones will set `target_abi` with a "sane" default, i.e. ELFv2 for LE, ELFv2 for musl, ELFv1 for BE+glibc. In t

[2019-05-08 00:44] estebank commented on #49362
Triage: still happens.

[2019-05-08 00:44] eddyb commented on #60608
Huh, so this is quite different from the builtin `HashMap`.
cc @Amanieu I wonder how the novel parts of `SwissTable`/`hashbrown` would play with this.

[2019-05-08 00:45] estebank commented on #51763
Closing as per the fixed duplicate. Feel free to reopen if you see this problem again!

[2019-05-08 00:45] #51763 closed

[2019-05-08 00:45] estebank commented on #51749
Closing as per the fixed duplicate. Feel free to reopen if you see this problem again!

[2019-05-08 00:45] #51749 closed

[2019-05-08 00:45] eddyb commented on #60608
Also, we never need more than 32-bit indices so we could skip the capacity-based logic.

[2019-05-08 00:47] estebank commented on #52262
@IsaacWoods do you still have the original trigger for this error? If so, could you let us know if the problem still persists?

[2019-05-08 00:48] estebank commented on #50518
Lets add a regression test.

[2019-05-08 00:53] cuviper commented on #60617
That design sounds good to me.

The only point that *might* be controversial is exposing this in `cfg`. For example, the float ABI of `arm-unknown-linux-gnueabi` vs `arm-unknown-linux-gnueabihf` is not exposed -- you can only tell by the extra `target_feature`. I think `cfg(target_abi)` does make sense though.

[2019-05-08 00:56] ehuss commented on #60365
This seems to be fixed now (thanks!).

This is a known bug in Firefox: https://bugzilla.mozilla.org/show_bug.cgi?id=1520157

Is it worth keeping this issue open?  The newer versions of Source Code Pro have a few newer glyphs and updates, but I don't know if there are any improvements that are important at this time.

For details, the version used in rustdoc is 1.017 which has 965 glyphs.  The late

[2019-05-08 01:00] q66 commented on #60617
That is true, but that's ARM, where you have the ABI defined as a part of the triple. Meanwhile, on POWER, you have a single triple environment, `_CALL_ELF` in C (this macro is required to be defined by the ELFv2 ABI spec itself) and programs are expected to check that.

So this would be pretty much `_CALL_ELF`'s Rust counterpart. This also IMO makes sense, because both ELFv1 and ELFv2 binaries wi

[2019-05-08 01:05] cuviper commented on #60608
I actually played with that too:
https://github.com/bluss/indexmap/compare/master...cuviper:hashbrown

<details><summary>cargo benchcmp</summary>

[code]

</details>

That was hacked together, so I'm sure there's room for improvement.

[2019-05-08 01:08] estebank commented on #54930
This is certainly a duplicate of #9307.

[2019-05-08 01:08] #54930 closed

[2019-05-08 01:13] CAD97 commented on #49287
Ran into this today. Providing the `'_` lifetime [gives a very fun error](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ddfa7359b1b1bfb921a9e1ed669dd572):

[code]

[code]

[2019-05-08 01:22] estebank commented on #52491
[Current failing tests](https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=s390x&ver=1.32.0%2Bdfsg1-3&stamp=1552891729&raw=0):
<details><summary>All found errors:</summary>

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
</details>

[2019-05-08 01:28] #51719 closed

[2019-05-08 01:28] #51751 closed

[2019-05-08 01:28] #60016 closed

[2019-05-08 01:28] rust-highfive opened #60623 "`rls` no longer builds after rust-lang/rust#60586"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#60586, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @cramertj, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @oli-obk, the PR reviewer, and @rust-lang/compiler -- nomina

[2019-05-08 01:30] estebank commented on #55855
No longer panics:

[code]

[2019-05-08 01:30] #55855 closed

[2019-05-08 01:38] OptimisticPeach commented on #60614
Closing in favor of #59833

[2019-05-08 01:38] #60614 closed

[2019-05-08 01:48] estebank commented on #12166
In order to have a deliverable for this ticket, I would say the last line should have some wording along the lines of "some errors may have not been emitted" if the compiler encountered `FatalError.raise()` before reaching the last stage.

[2019-05-08 01:53] estebank commented on #34421
Current output:

[code]

[2019-05-08 01:59] Centril commented on #60622
Reduced:
[code]

[2019-05-08 02:01] Centril commented on #60622
Regression first occurred in 1.30 according to godbolt.

[2019-05-08 02:15] measlytwerp commented on #59851
I think the only practical way to do that would be to do the work and modify rustdoc as there were a lot of underlying markup changes I had to make in order to get the styling to be reasonable.

I'll make a start on it now.

[2019-05-08 02:28] #60365 closed

[2019-05-08 03:27] frewsxcv commented on #60611
Previous issue: https://github.com/rust-lang/rust/issues/50765

[2019-05-08 04:23] leaxoy opened #60624 "Add infix syntax"
Since we have add postfix syntax, like `.await` ,  so need we support infix syntax in lang.
With infix syntax:
`list.iter().sum()` -> `list iter sum`
`a.add(b)` -> `a add b`
``

In summary, `a invoke b` or `a invoke`.

[2019-05-08 04:45] phayes commented on #55855
great thanks!

[2019-05-08 05:23] dbdr opened #60625 "The _popcnt64 intrinsic generates a jmp before popcnt on x86_64"
Calling the `std::arch::x86_64::_popcnt64` intrinsic generates a jmp to `core::core_arch::x86_64::abm::_popcnt64`, which contains the actual popcnt instruction.

Source:
[code]
Generated:
[code]
[Godbolt](https://godbolt.org/z/IXlz0L)

Unless I am missing something, this seems unnecessary and less efficient.

The expected code is generated when `-C target-feature=+popcnt` is added:
[code]

However

[2019-05-08 06:03] measlytwerp commented on #59851
One question that I don't see a clear answer to, what browser compatibility are we looking for? I see that there's currently a message in the docs about IE8 not being supported, but what about IE9 and 10?

Edge, Chrome, Safari and Firefox shouldn't be a concern.

[2019-05-08 06:08] hellow554 commented on #60624
`a.add(b)` -> `a + b`.

Beside that, not sure if trolling. If not, this needs an RFC https://github.com/rust-lang/rfcs.

[2019-05-08 06:16] hellow554 commented on #60621
Has maybe something to do with incremental compiling? Try chaning the signature back and forth and look if the error still occurs

[2019-05-08 06:20] hellow554 commented on #60619
Not on beta though, but I guess https://github.com/rust-lang/rust/pull/60277 will be land in beta soon-ish so it shouldn't ICE there anymore?

[2019-05-08 06:23] Vurich commented on #28728
`std::hint::reachable_unchecked`?

[2019-05-08 06:52] Amanieu commented on #60608
I wonder if the slowdown might be due to the use of `usize` indicies instead of `u32`. Could you try changing the index type to `u32` to see if this improves performance?

Another thing to watch out for is to ensure that all methods are being properly inlined, since the implementation is more complex now. You can try running one of the lookup benchmarks under `perf` to see if something isn't getti

[2019-05-08 07:00] hellow554 commented on #60622
One can leave out the `Any` trait in your MCVE, still crashes.

Bug was introduced somewhere between 33b923fd4...63d66494a
Sadly that's a very big range, but there are no nightlys available in between and also no bors artifacts because they are older than 167

[2019-05-08 07:39] Tomcc opened #60628 "1.34.1 crashes in RLS if Vergen is used as a build dependency"
I don't know much about rustc or the vergen crate... so this issue is more or less an info dump that might or might not be useful :)

I was using Vergen to embed a bit of build information in my binary. It seemed to work fine in a few nightlies I used in the past months, however when I decided to go back to `stable-1.34.1`, RLS started crashing due to it.

This is the crash log:
[code]

- I'm usin

[2019-05-08 08:07] zrzka commented on #60605
In case anyone will have this issues as well ...

## Rust installation workaround

Force installer to use `curl` instead of `reqwest` crate.

[code]

**NOTE:** This workaround allows you to install Rust toolchain only, but it doesn't fix the issue. Compile the example below, run it and you'll see.

## Example which reproduces this problem

`Cargo.toml`:

[code]

`src/main.rs`:

[code]

Compile wit

[2019-05-08 08:39] hellow554 commented on #60628
Can you try to isolate the crash and produce a minimal example (e.g. start with a clean project and try to do the things you have done until it crashes)? It would be awesome.

@rustbot modify labels: I-ICE C-Bug

[2019-05-08 08:42] AGausmann commented on #44109
Given that this is almost ready to stabilize, I've worked on finding places for documentation, per the [forge instructions](https://forge.rust-lang.org/stabilization-guide.html#updating-documentation).

Documentation exists for this in the [Unstable Book](https://doc.rust-lang.org/nightly/unstable-book/language-features/non-exhaustive.html). It needs to be updated to include documentation for non-

[2019-05-08 08:51] jonas-schievink commented on #60624
This is definitely RFC territory. Closing.

[2019-05-08 08:51] #60624 closed

[2019-05-08 08:55] jonas-schievink commented on #60628
Duplicate of https://github.com/rust-lang/rust/issues/59134

[2019-05-08 08:55] #60628 closed

[2019-05-08 08:57] jonas-schievink commented on #60628
To confirm, check if your Cargo.lock contains bitflags 1.0.6. You can go back to 1.0.5 to work around this bug (and 1.0.6 has been yanked in the meantime).

[2019-05-08 09:06] Tomcc commented on #60628
Oh thanks, yes I do have 1.0.5 in the failing project!
The repro project works, because it pulled 1.0.4... and 1.0.5 doesn't even exist anymore.

I think you meant that 1.0.5 is bad and I should go back to 1.0.4, right?

[2019-05-08 09:22] SimonSapin commented on #44109
@rust-lang/docs, where should this feature be documented?

There is precedent for documenting under `/std/` some parts of the language that are not from standard library: https://doc.rust-lang.org/std/#keywords

[2019-05-08 09:27] xNxExOx opened #60629 "compiler panic "randomly" with incremental build"
[code]

It have something to do with incremental build :( `query stack` seems to point to random function sometimes even in file that was not edited for weeks. Issue started today. Deleting `target` folder help for few compilations.
I do not use latest compiler because some problems with crate upgrades and incompatibilities with async/await! so the issue is not caused by the compiler version, beca

[2019-05-08 09:30] dpetrick commented on #60282
I believe that I'm facing a similar issue. I noticed that since the last rust toolchain upgrade (to 1.34.1), my Cargo workspace setup stopped working (with VSCode plugin). I acknowledge that workspaces are still experimental, but worked fine for me thus far. The update and the error might just coincide with a crate that was added to the project similar to the OPs issue. I will provide everything I

[2019-05-08 09:31] jonas-schievink commented on #60628
Ah yeah I meant 1.0.5 which is broken (and was yanked), and 1.0.4 which should still work.

[2019-05-08 10:18] quantverse commented on #43122
Found this:
https://internals.rust-lang.org/t/pre-rfc-generator-resume-args/10011

[2019-05-08 11:14] hellow554 commented on #60629
Remember what you've done between cleaning and ICEing. (maybe auto git commit every save or similar ^^).
In my case it was just renaming a variable from `map` to `Map` which causes an ICE.

[2019-05-08 11:15] davidtwco commented on #54326
Current status of this after #60592 is [in this Zulip topic](https://rust-lang.zulipchat.com/#narrow/stream/187312-t-compiler.2Fwg-async-await/topic/mismatched.20types.20diag.20.2354326/near/165052299).

[2019-05-08 11:24] #60235 closed

[2019-05-08 11:27] GopherJ opened #60631 "cargo cache environment variables"
Hello, I need to run `cargo clean` to get my updated environment variables' new value but I don't think it should be cached.

[2019-05-08 11:51] newpavlov opened #60632 "Nightly compiler fails with ICE if const parameter is used to define type of function input"
Code:
[code]
Error:
[code]

[2019-05-08 12:04] oli-obk opened #60633 "`#[link_section] static FOO` can contain undefined bytes on wasm"
https://github.com/rust-lang/rust/blob/e80c86c535b74cdd65c4b75b94ce38342d0bb946/src/librustc_typeck/check/mod.rs#L1444-L1467 only checks that the link section contains no pointers, but there may be arbitrary bytes in the data, even undefined bytes (e.g. due to padding).

cc @alexcrichton is that ok? llvm may insert `undef` whereever there are undefined bytes. Or should we lint/error on such static

[2019-05-08 13:44] hellow554 opened #60635 "ICE on tuple struct pattern"
[code]

[code]

---

This one is very interesting IMHO.
The "original" ICE was introduced between 056f589fb...4b9b70c39, **but** if I prepend the `&` before `OsStr` (the outcommented line), there's a second ICE that is there forever (at least since Rust 1.11).

@rustbot modify labels: I-ICE C-bug

[2019-05-08 14:22] hellow554 commented on #60635
Even works/ICEs with if/let
[code]

[2019-05-08 14:28] alexcrichton commented on #40322
I wonder if the variants of `ErrorKind` should be documented themselves and that's it? They could each have a snippet saying "this is where this may come up in practice, for example" with a standard disclaimer about platform compatibility and whatnot. I agree with @BurntSushi that it's probably not worthwhile to go through every single api return `io::Result` (which is quite a few) and try to docu

[2019-05-08 14:30] RalfJung commented on #60606
AFAIK this invariant of `CStr` is a *safety* invariant, so violating it can lead to UB down the road (including when a safe operation gets called on this data), but does not lead to immediate UB.

But that still warrants a MUST IMO -- if you violate it, you are leaving the bounds of what the API even talks about.

[2019-05-08 14:31] Centril commented on #60635
Reduced:
[code]

[2019-05-08 14:36] gnzlbg opened #60637 "Inlining + target_feature broken in powerpc64"
[godbolt](https://godbolt.org/z/xP2fO9):

[code]

with `#[inline]` that code produces a function call within `splat_u32x4` (`bl example::u32x4::splat`) but with `#[inline(always)]` this does not happen.

[2019-05-08 14:37] Centril commented on #60635
This issue exists all the way back to at least 1.7.0.

[2019-05-08 14:59] gnzlbg commented on #59932
@lu-zero correctly pointed out that we currently do also enable VSX for ppc64le.

[2019-05-08 15:20] measlytwerp commented on #59851
Here's my [initial work](1) and I've made a github pages site [out of the docs](2).

- Currently it is fairly broken
- Many things are disabled or just not styled yet
- Source Code Pro and Source Sans Pro have not been bundled

1: https://github.com/measlytwerp/rust/tree/rustdoc-reskin
2: https://measlytwerp.github.io/rustdoc-reskin/std/

[2019-05-08 15:22] measlytwerp commented on #59851
Here's my [working branch](1), and I've also made a GitHub pages site [out of the docs](2).

- Its currently quite broken
- Many things are disabled or just not styled
- Source Sans Pro and Source Code Pro have not been bundled

I'll continue working on this tomorrow.

1: https://github.com/measlytwerp/rust/tree/rustdoc-reskin
2: https://measlytwerp.github.io/rustdoc-reskin/std/

[2019-05-08 15:24] measlytwerp commented on #59851
Interesting, our earlier discussions are currently dated as being in the future. I thought GitHub had swallowed my post.

[2019-05-08 15:26] kpp commented on #60606
@RalfJung thank you. Let it be MUST.

[2019-05-08 15:26] #60606 closed

[2019-05-08 15:35] oli-obk opened #60639 "Add `get` and `get_unchecked` to `*const [T]` and `*mut [T]`"
If one has a `*const [T]` and wants a pointer to a specific element of that slice, one needs to go through a reference and index, or cast the pointer to `*const T` and offset that by the number of elements (which doesn't do a length check, so you need that, too). I propose that we add two new methods to `*const [T]` and `*mut [T]`:

[code]

`get_unchecked` is unsafe, because if a large index is us

[2019-05-08 15:43] timvermeulen commented on #60062
@Nemo157 To be fair, the `Iterator::next` docs don't mention any possible panics, but other than that they don't really guarantee anything:

`Iterator::next` isn't required to either be fused or restart at some point by any means (or the `Chain` adaptor, and I'm sure others, would currently be implemented incorrectly).

[2019-05-08 16:11] Robbepop commented on #29641
I use the `box_patterns` feature quite extensively in here: https://github.com/Robbepop/stevia/blob/master/simplifier/src/simplifications/term_const_prop.rs#L37
Especially conditional move out of a structure guided by a pattern is done very commonly there.
As far as I understood the proposed `DerefPure` would be used in that case behind the curtains of default binding modes, am I right about this?

[2019-05-08 17:10] shepmaster commented on #60639
My specific case would have been for `*mut T` — is that deliberately omitted?

[2019-05-08 17:33] estebank opened #60642 "Provide more of an explanation when using function as pattern"
_(Follow up to #60635 and https://github.com/rust-lang/rust/pull/60641)_

[When trying to match on the result of a `fn` call](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=046b07a1f14bab1e3b7d3b1708f30dd8), we emit:

[code]

We should explain that `fn` calls are not allowed ever in patterns, only refutable (or even irrefutable, as you can match on a struct, although it i

[2019-05-08 17:37] glaebhoerl commented on #29641
There haven't been any developments on this front that I know of since then, if that's what you're thinking of.

[2019-05-08 17:37] glaebhoerl commented on #29641
There haven't been any developments on this front that I know of since then, if that's what you're thinking of.

[2019-05-08 17:49] AGausmann commented on #44109
@SimonSapin Yes, but I don't see any common attribute names. `inline` and `derive`, for example, are two of the most popular, but they currently don't have any top-level documentation item in std.

[2019-05-08 17:57] HadrienG2 commented on #44580
Impl blocks seem [completely broken](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=64182e15c23df7fff59e6e98316db0ed) at the moment. Is this expected in the current state of the feature, or should I open another issue about it?

[2019-05-08 18:04] nagisa commented on #60625
Not a bug, duplicate of https://github.com/rust-lang/rust/issues/54353.

[2019-05-08 18:04] #60625 closed

[2019-05-08 18:06] JamesHinshelwood commented on #44580
You need to add `{}`s around the `N`, `impl<const N: usize> Dummy<{N}> {}`.

But yeah then you'll get an error about the unconstrained parameter.

[2019-05-08 18:09] nagisa commented on #60625
As a side note, I recommend using `count_ones` inherent method available on most of integer types.

[2019-05-08 18:18] estebank commented on #60070
CC #57485, #50886

[2019-05-08 18:27] #60623 closed

[2019-05-08 18:27] dtolnay commented on #60123
Can someone confirm that this is the entire intended target audience for this function, or are there other reasons someone might want to call it outside of 386 and 486?

It's strange to me that the motivation in https://github.com/rust-lang-nursery/stdsimd/pull/730 refers to @briansmith but Brian won't need this function. I am still trying to work out whether anyone else would ever want to call th

[2019-05-08 18:28] ehuss opened #60643 "unused_mut warning gives bad suggestion in a macro"
The following gives a suggestion to remove the `mut` which will cause the code to fail to compile.

[code]

[code]

This causes `cargo fix` to fail.

(Sorry if this is a dupe, I went hunting but couldn't find any issues that were the same.)

[2019-05-08 18:31] dtolnay commented on #60123
@Centril:

Could you take a look at https://github.com/rust-lang-nursery/stdsimd/pull/730 and let me know whether you still would like T-lang involved? This isn't an intrinsic in the sense of `extern "rust-intrinsic"` -- this is a library function implemented using target_env / target_arch / target_feature / asm.

[2019-05-08 18:35] HadrienG2 commented on #44580
Ah, thanks. Forgot about the braces thing !

I'm not surprised that it fails once that is resolved, since this was a heavily minimized test case.

[2019-05-08 18:42] HadrienG2 commented on #44580
...but yeah, this one should probably work:

[code]

[2019-05-08 18:44] Centril commented on #60123
As far as I can tell, the function is implemented using `asm!(...)`, an unstable language feature. As far as I know, it cannot be implemented using stable Rust (linking to assembly files doesn't count for the standard library cause then you could add all sorts of behaviors to the operational semantics...). As such, it requires language team sign-off. (Not that I would be opposed to adding this or

[2019-05-08 18:57] dtolnay commented on #60123
@rfcbot fcp cancel

[2019-05-08 18:58] dtolnay commented on #60123
`core::arch::{x86, x86_64}::has_cpuid` with the following signature:

[code]

Please refer to the stabilization PR https://github.com/rust-lang-nursery/stdsimd/pull/730#issue-271958476 for the motivation, reference, implementation details, prior art, alternatives.

*(Relaunching proposed-fcp with both T-libs + T-lang as this library feature exposes something that cannot be implemented today using

[2019-05-08 18:59] dtolnay commented on #60123
Registering the earlier concern from https://github.com/rust-lang/rust/issues/60123#issuecomment-485052736 and https://github.com/rust-lang/rust/issues/60123#issuecomment-490598320.

@rfcbot concern not useful

[2019-05-08 19:01] stjepang opened #60645 "Are blanket Future impls necessary?"
We currently have the following blanket impls:

[code]

All of these blanket impls are on types that deref to something that implements `Future`. But then there are similar types that don't have a blanket `Future` implementation - for example, `MutexGuard`.

I wonder if these impls are necessary in practice if `fut.await` will auto-deref `fut` to a value that implements `Future`. I'm opening this

[2019-05-08 19:02] HadrienG2 commented on #44580
...and I assume this is what @varkor meant by "issues with array handling for consts generics" in #60466:

[code]

->

[code]

[2019-05-08 19:05] ehuss commented on #60643
Note: This requires NLL.  Using 2015 edition before #59114 does not emit a warning.

[2019-05-08 19:07] eddyb commented on #59134
Looks like `ty::Err` isn't written back for a resolution error?
@swgillespie That still repros without `pub const F: BF = BF { bits: 0 };`, right?

[2019-05-08 19:08] rektide commented on #60589
Thanks all.
Adding one last comment just to make some additional keywords searchable: uring, liburing.

[2019-05-08 19:21] newpavlov commented on #44580
@HadrienG2
See #60619 and #60632.

[2019-05-08 19:24] taiki-e commented on #60643
You probably can avoid this to using variables with names starting with `_` in macro.

[2019-05-08 19:26] yodaldevoid commented on #60619
I'm currently looking into this. That said, if someone else wants to work on this, let me know.

[2019-05-08 19:38] gnzlbg commented on #60123
IIUC @briansmith wanted to use a re-configured `std::detect` via crates.io that dropped support for older libc's and this API is IIRC the only thing missing that prevented this from working on stable Rust. There some other alternatives, like bumping the libc version of the rust targets (although I don't think this happened?), re-implementing something like `std::detect` without the parts that requ

[2019-05-08 20:10] swgillespie commented on #59134
Correct, it does. Further minimized repro:

[code]

[code]

[2019-05-08 20:12] Nemo157 commented on #60645
The final impl is very important for non `.await` usecases, it is what allows you to take a `Future + !Unpin`, pin it in your stack frame, then call a generic function like [`future::select`](https://rust-lang-nursery.github.io/futures-api-docs/0.3.0-alpha.15/futures/future/fn.select.html) which requires a `Future + Unpin`.

To get a similar impl for `MutexGuard` maybe the first two implementation

[2019-05-08 20:17] SimonSapin commented on #44109
Indeed, there currently are not documented there. That’s not saying they can never be, especially with the keyword precedent.

[2019-05-08 20:24] oli-obk commented on #60639
no, I'm just lazy and didn't want to type everything twice. There should be an equivalent of all the above for `*mut [T]`

[2019-05-08 20:29] Xanewok commented on #59134
Interesting. I managed to reduce it to:
[code]
with:
[code]
Any other combination is okay, it has to be `const` under `trait` under `fn` and it has to be combined with a field access (bare unknown identifier doesn't ICE).

I'm only guessing but it seems that it tries to emplace `b[6c41]::func[0]::Trait[0]::CONST[0]` def 'path' under a `b[6c41]::func[0]` which seems to skip a `Trait` def path segme

[2019-05-08 20:36] Xanewok commented on #59134
I think this is confirmed by https://github.com/rust-lang/rust/blob/c3694e5ee69247eb1ac10c6d3b187f567303dc8d/src/librustc/ty/context.rs#L246-L266

A, what I believe is, more accurate guess is that we somehow don't correctly nest appropriate typeck tables when visiting `mod` > `fn` > `trait` > `assoc_const`.

[2019-05-08 20:40] lambda commented on #59851
Ooh, wow, the timestamps are off. And they were off in the other direction when I checked earlier today; shortly after posting the exchange about IE, they were dated 5-8 hours ago, now some are in the future. GitHub seems to be having some issues.

https://twitter.com/githubstatus/status/1126171459255185414

Took a quick look and I like the start. Definitely a lot of rough edges, but it looks a lo

[2019-05-08 20:45] eddyb commented on #59134
Oh, you need to have one table per body: look in HIR for `BodyId` fields and map all of those cases back to the AST.

This makes a lot more sense now: so `rustc_typeck` is not wrong, but `rustc_save_analysis` is looking in the wrong place.

[2019-05-08 20:47] swgillespie commented on #59134
What about this:

[code]

Seems like we need to `nest_tables` before walking the expression of the associated const?

[2019-05-08 20:56] Xanewok commented on #59134
Hm, probably! I imagined the problem is we don't nest it before visiting trait items (hence missing `Trait` segment) but you may be right! Let's see :sweat_smile:

[2019-05-08 21:01] mark-i-m commented on #60645
cc @withoutboats @cramertj

[2019-05-08 21:13] AGausmann commented on #26925
@nikomatsakis Using your example, If we let `T::Item = Foo<T>`, then `Foo<T>` becomes:

[code]

Embedding a struct directly into itself (or an enum in its own variant) is already disallowed by the type system as it recurses infinitely. So your scenario where derive produces `impl<T> Clone for Foo<T> where Foo<T>: Clone` isn't the biggest problem, and is not going to occur without that larger issue

[2019-05-08 21:22] Xanewok commented on #59134
With the fix applied this still ICEs on (this time for type)
[code]
which means we should nest tables for `visit_ty` as well

[2019-05-08 21:43] cramertj commented on #60645
Yes, the last impl especially is critically important, and the others are nice conveniences. `fut.await` will not auto-deref.

[2019-05-08 21:47] stjepang commented on #60645
Do we explicitly not want it to auto-deref or is that something we'll think about in the future? Will `.await` auto-deref when we introduce `DerefMove`?

[2019-05-08 21:51] cramertj commented on #60645
I mean, never say never, but I certainly wouldn't expect the thing we stabilize to perform auto-deref, and I don't personally have plans to introduce this. The logic around deref is quite complicated, and the interactions with pinning here are especially unclear.

[2019-05-08 21:57] stjepang commented on #60645
I see, thanks. My last question would then be: does `foo.await` consume (i.e. drop) `foo` or not?

Also feel free to close this issue if you think it's been resolved.

[2019-05-08 22:07] cramertj commented on #60645
@stjepang `foo.await` consumes the expression `foo`. If `foo` is an `&mut T`, for example, it'll act just as if you passed an `&mut T` into a function as an argument (i.e. you'll still be able to use it). If `foo` was a non-Copy value, it will be consumed.

[2019-05-08 22:24] Stargateur commented on #60639
Pardon me if It's stupid but why not just let the user go from `*const [T]` to `&[T]` ?

[code]

Is that really to long to write ? Also, worse to ask, when do you need a `*const [T]` ?

[2019-05-08 22:25] #59531 closed

[2019-05-08 22:39] woody77 commented on #60621
Unfortunately, I now can't get it to reproduce (and I needed to make progress).  I _think_ I can get back to that state in the source code, and see if it reproduces on the same input again.

[2019-05-08 22:48] IsaacWoods opened #60650 "ICE with const generics in array definition: unexpected const parent path def"
The following code snippet ([playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5096f7a9c82f038e5ef0eb184e4839f3)):
[code]

ICEs with the following error:
[code]

[2019-05-08 23:08] shepmaster commented on #60639
The original context was this code:

[code]

Miri detects that this usage triggers undefined behavior:

[code]

I wanted to make use of `get_unchecked_mut`, but that function requires unique access to `data`. That's invalid here because there's an outstanding mutable reference to a `T` from inside the slice. The non-UB form of this involves getting a raw pointer to the data and performing offsets:

[2019-05-08 23:12] thombles opened #60652 "ICE in LlvmArchiveBuilder when cross-compiling openssl for Android ARM64"
There is an ICE in nightly that I can trigger by adding a dependency on vendored openssl when cross-compiling for aarch64 android with the NDK. It's possible the problem here isn't really rustc's fault, but it does crash.

Test repo: https://github.com/thombles/rust-ice-openssl
(Requires Android NDK - tested on Darwin host)

This test case is a hello world app with a dependency that requires it to

[2019-05-08 23:23] estebank opened #60653 "Make the parser aware of await where macro calls are expected"
In the recent inclusion of the `await` parsing, [some tests regressed slightly](https://github.com/rust-lang/rust/pull/60586/files#diff-5e72698a742296d358dcd786bd1ebfcbR41) because the parser now assumes a macro call is happening without checking if it is a keyword identifier being misused, so it complains about a missing `!`:

[code]

[2019-05-09 00:30] antonok-edm opened #60654 "ICE with generic associated type"
The following minimal example causes an internal compiler error.

[code]

Error in question:
[code]

rustc version:
[code]

This error was encountered on stable, but I can confirm that it also occurs on the latest nightly (`1.36.0-nightly (cfdc84a00 2019-05-07)`).

[2019-05-09 00:50] cramertj opened #60655 "`existential type` complains about `'_` in concrete type of self-borrowing generators"
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=66371e7a7928adff2c93668c76514113)

[code]

cc @oli-obk

[2019-05-09 01:25] spease commented on #39128
I'm also getting this.

[2019-05-09 01:26] spease commented on #31740
Just got this recently.

[2019-05-09 01:51] #59972 closed

[2019-05-09 01:51] #50518 closed

[2019-05-09 01:51] #60635 closed

[2019-05-09 01:51] #60283 closed

[2019-05-09 02:27] clarfon commented on #44109
How are proc-macro attributes currently displayed in rustdoc? Perhaps there could be an attributes section which includes these for std?

[2019-05-09 02:32] CAD97 commented on #44109
From a runtime crate? [Nothing.](https://docs.rs/typetag/0.1.2/typetag/)
From a `proc_macro` crate? [The exported fn.](https://docs.rs/typetag-impl/0.1.2/typetag_impl/)

[2019-05-09 03:55] carllerche opened #60658 "async / await + Box<Future> + Send does not compile"
Minimal:

[code]

Out:

[code]

Compiler version: `rustc 1.36.0-nightly (2019-05-07)`

[2019-05-09 04:28] KSXGitHub commented on #50547
I just came from a Reddit post and I must say that I don't like postfix syntax at all. And it seems like the majority of Reddit don't like it either.

I rather write

[code]

than accepting that weird syntax.

As for chaining, I can refactor my code to avoid having more than 1 `await`.

[2019-05-09 04:38] KSXGitHub commented on #50547
Also, JavaScript in the future can do this ([smart pipeline proposal](https://github.com/js-choi/proposal-smart-pipelines)):

[code]

If prefix `await` is implemented, that doesn't mean `await` cannot be chained.

[2019-05-09 04:44] corbinu commented on #50547
@KSXGitHub this really isn’t the place for this discussion but the logic is outlined here and the are very good reasons for it that have been thought out over many months by many people https://boats.gitlab.io/blog/post/await-decision/

[2019-05-09 04:45] lnicola commented on #50547
@KSXGitHub While I also dislike the final syntax, it has been extensively discussed in #57640, https://internals.rust-lang.org/t/await-syntax-discussion-summary/, https://internals.rust-lang.org/t/a-final-proposal-for-await-syntax/, and in various other places. A lot of people have expressed their preference there, and you're not bringing any new arguments to the subject.

[2019-05-09 04:54] Manishearth commented on #50547
Please don't discuss the design decisions here, [there's a thread for this explicit purpose](https://internals.rust-lang.org/t/a-final-proposal-for-await-syntax/)

If you plan to comment there, please bear in mind that the discussion has already played out quite a bit: make sure you have something substantial to say, and make sure it's not been said before in the thread.

[2019-05-09 05:51] taiki-e opened #60660 "std::r#await! macro cannot be used even if #![feature(await_macro)] is enabled"
Code:
[code]

Error:
[code]
Seems the second error relates to the fact that `std::await` is still defined using `yield`.
https://github.com/rust-lang/rust/blob/9f8396158457943b63bb39534b9ef86868f7cfac/src/libstd/macros.rs#L378

Rustc version: rustc 1.36.0-nightly (3f5152e20 2019-05-08)

cc @cramertj

[2019-05-09 05:51] taiki-e commented on #60660
@rustbot modify labels: A-async-await, T-compiler.

[2019-05-09 07:32] oli-obk commented on #60655
Am I correct in assuming that this should not compile, but report an error about returning a reference to the local variable `x`?

[2019-05-09 08:15] Nemo157 commented on #44109
That's just because

[code]

If the documentation is not suppressed then it appears in the re-exports section (unfortunately I don't know of any public documentation that includes re-exported proc-macro attributes that aren't using some of the workarounds that make them look mostly like normal macros).

[2019-05-09 08:22] Robbepop commented on #13231
With the current implementation (that might be buggy) one can solve some simple specialization cases with this feature which is nice:
https://gist.github.com/rust-play/4ea94f766d49abdbc9b2c55e49a9d2d9

[2019-05-09 08:30] oli-obk commented on #60655
Expanded version:

[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3952774a5b377daffe0f9ab911e2e586)

[2019-05-09 08:34] oli-obk opened #60661 "HIR printing of `async fn` is broken"
[code]

expanded with `rustc --edition 2018 -Z unpretty=hir` yields

[code]

which is not correct. We should drop the `async`, give a return type and print some `{}` around the function body.

cc @cramertj

[2019-05-09 08:37] oli-obk opened #60662 "HIR printing of `existential type` is broken"
[code]

expanded with `rustc --edition 2018 -Z unpretty=hir` yields

[code]

we should not print that extra `:`

[2019-05-09 08:43] oli-obk opened #60663 "round-trippability of `HIR` pretty printing"
Should it be possible to feed the output of `--unpretty=hir` back to rustc without requiring the user to do any changes? Right now this is only possible for very trivial code, and even then requires adding some feature gates.

Any code with moderately complex expansions will require additional imports or touching the code. Some things I've noticed:

* #60661 (async fn, probably easily fixed)
* #60

[2019-05-09 08:48] oli-obk commented on #60663
cc @rust-lang/compiler is this something we should strive to address? Seems a good start for new contributors as it's mostly detective work and trying out stuff.

In order to actually test it we'd need to change compiletest.

1. a way to run all `compile-pass` and `run-pass` test after pretty printing instead of normally
2. to have a new flag `//not-unpretty-hir-roundtrippable` that we'd put on th

[2019-05-09 09:14] petrochenkov commented on #60663
Nah, for HIR pretty-printing there should be no such requirements, IMO.
It just should look reasonable enough to make HIR debugging possible.

(AST pretty printing is another story, proc macros and [tools](https://github.com/rust-lang/rust/pull/57915) do use it for generating well-formed code, even it it's not entirely reliable due to hygiene etc.)

[2019-05-09 09:21] petrochenkov commented on #60663
I mean if some fix is trivial and improves the output, then we should accept it, but if it requires preserving some data in HIR solely for pretty-printing, then we should not.

[2019-05-09 09:34] hellow554 commented on #60654
Hasn't the feature gate issue been fixed? :|

[2019-05-09 09:35] Pulkit07 commented on #60662
Hi, I will like to work on this issue.

[2019-05-09 09:44] Geal opened #60664 "unclear behaviour of missing_doc_code_examples"
Hello,
consider this code example:

[code]

Here I would expect the following behaviour when running `cargo doc`:
- `module1` has `allow(missing_docs)` so `missing_doc_code_examples` should be silent
- `module2` has `allow(missing_doc_code_examples)` yet we still get errors for missing docs on `module2`, I think we should not
- `module3` has a code example, but `module3::test` does not, we should

[2019-05-09 09:50] chpio commented on #50547
...

[2019-05-09 10:06] oli-obk commented on #60662
awesome!

Most likely all that is required is to remove https://github.com/rust-lang/rust/blob/d58cb934cb78b1f11c2fa44c469621c10a8359fd/src/librustc/hir/print.rs#L649

you can check if there's a test in `src/tests/ui` that has a `// compile-flags` comment with `-Z unpretty=hir` in it. If there is, just add the above test line to it and run tests with `./x.py test --stage 1 src/test/ui --test-args

[2019-05-09 11:00] RalfJung commented on #60639
Yeah, this seems reasonable. However, I think it should be seen in the context of our general need for [a better story for raw pointers](https://internals.rust-lang.org/t/need-for-operator-for-unsafe-code-guidelines/10022/48?u=ralfjung).

[2019-05-09 11:10] petrochenkov opened #60666 "`DefIndex` can use `newtype_index!`"
https://github.com/rust-lang/rust/pull/60647#issuecomment-490856656

[2019-05-09 11:11] petrochenkov commented on #60666
cc @fabric-and-ink

[2019-05-09 12:35] nikomatsakis commented on #60654
I've removed the nomination and added this to the tracking issue for GATs #44265. The current impl is highly incomplete and ICEs are, sadly, expected. Also, I verified that a feature gate is indeed required.

[2019-05-09 12:36] nikomatsakis commented on #60654
triage: P-medium

[2019-05-09 12:42] nikomatsakis commented on #60622
triage: P-high

[2019-05-09 12:44] measlytwerp commented on #59851
I've gotten quite a bit more done today.

- Standardised html being generated pretty much everywhere
- Styled the header/search bar
- Added 'Night Mode'/Dark Theme
- Added larger fonts mode

You'll notice in particular that there's now a line drawn along the side of the screen marking where collapsible sections start and end, it's very faint so as to not interfere with reading. I've done this beca

[2019-05-09 12:44] nikomatsakis commented on #60621
Hmm, this *sounds* like some kind of incremental bug. Unfortunately, there isn't really enough information here to be actionable, so I'm going to close the issue for now. @woody77, thanks for the bug report, and if you are able to reproduce or you see the problem again, please feel free to re-open the issue. Thanks. ❤️

[2019-05-09 12:44] #60621 closed

[2019-05-09 12:46] nikomatsakis commented on #60603
The diagnostics are poor -- but the error is probably real. The trait solver is basically trying hard to find some type for `T` that it can use, and it's substituting with types from impls that it finds (including, I suppose, one for hashset). At least that's my guess. I'm going to mark this as P-medium.

triage: P-medium

[2019-05-09 12:49] nikomatsakis commented on #60564
triage: P-medium

Marking as P-medium. I wanted to put this on a tracking issue as a blocker to investigate but it's not that we have a suitable one.

[2019-05-09 12:51] nikomatsakis commented on #60548
@matthewjasper should we put "Fixes" on that PR for this issue?

[2019-05-09 12:51] nikomatsakis commented on #60548
triage: P-high

Regression -- assigning to @matthewjasper, who seems to have a pending fix

[2019-05-09 12:52] nikomatsakis commented on #60533
triage: P-medium

[2019-05-09 12:53] nikomatsakis commented on #60479
I'm not sure why this is tagged as T-compiler, removing that tag.

[2019-05-09 12:53] nikomatsakis commented on #60479
Also, it'd be great if somebody could elaborate on exactly what change is being suggested here =)

[2019-05-09 12:53] hellow554 commented on #60654
I don't know if I get you wrong, but the example above ICEs on stable, beta and nightly **without** feature gate

[2019-05-09 12:59] main-- commented on #32408
I'm not even sure if this is sufficient. What about arguments? Obviously declaring function parameters is out of the question - you would have to do it in your asm prologue instead. But this opens up the interesting problem that you can no longer have a volatile inline asm block as the first thing in the function: you need to at least declare (and potentially initialize?) the variables that are go

[2019-05-09 12:59] nikomatsakis commented on #60371
Likely duplicate from https://github.com/rust-lang/rust/issues/60473

[code]

[2019-05-09 12:59] nikomatsakis commented on #60473
Closing as duplicate.

[2019-05-09 13:01] nikomatsakis commented on #60375
It seems like what is really needed here is to try and narrow this to a standalone test case that is not reliant on `TypeMap` etc.

[2019-05-09 13:03] nikomatsakis commented on #60375
triage: P-high

Behavorial regression, unknown cause, needs help to track down the problem.

[2019-05-09 13:06] nikomatsakis commented on #60297
triage: P-high

Seems like a pretty important problem to get to the bottom of.

[2019-05-09 13:11] antonok-edm commented on #60654
@nikomatsakis @hellow554 oops, looks like I accidentally left the feature gate in there when I tried it out, but it produces the same ICE when it is omitted as well.

[2019-05-09 13:15] nikomatsakis commented on #47949
Adding T-lang -- I think that documenting the expected order would be a good first step.

[2019-05-09 13:18] mark-i-m commented on #32408
I didn’t followed this point. The arguments are not on the callee’s stack frame; they are on the caller’s stack frame. As long as the caller obeys the calling convention, what’s the problem?

I think that would lead to a proliferation of custom calling conventions. Moreover fully specifying a calling convention sounds like a pain.

[2019-05-09 13:19] nikomatsakis commented on #60629
triage:

I'm going to mark this as P-high, but it might be more of a "medium" bug. It's a bit hard to say. I think there are few bits of info that would be useful:

- First and foremost, a more concrete recipe for reproducing the problem, ideally with a standalone example
- Second, some idea if this is a regression -- did the problem only start recently?

[2019-05-09 13:21] nikomatsakis commented on #60652
cc @nagisa @nikic -- any ideas what might be causing this problem?

cc @rust-lang/compiler @alexcrichton -- to what extent do we support vendored LLVM?

[2019-05-09 13:21] hellow554 commented on #60654
No, niko edited your question.

[2019-05-09 13:22] nikomatsakis commented on #60652
I am going to triage this as P-medium, but feel free to re-nominate if you think that's incorrect.

[2019-05-09 13:29] alexreg commented on #60662
I think I fixed this in one of my PRs, but not sure when it will merge, so go for it. :-)

[2019-05-09 13:42] alexreg opened #60670 "Tracking issue for existential lifetimes"
This is a tracking issue for existential lifetimes.

**Description:**

Allow hiding a type (via `impl Trait`) that is invariant over some lifetime without explicitly mentioning the invariant lifetime.

Consider the following:
[code]

There is no reason this cannot be legal, although it is not permitted at present. We would want to translate the function signature internally into something like:
[c

[2019-05-09 13:54] alexcrichton commented on #60652
This seems likely related to an `unwrap` in [this function](https://github.com/rust-lang/rust/blob/9f8396158457943b63bb39534b9ef86868f7cfac/src/librustc_codegen_llvm/back/archive.rs#L207-L298) which may come about due to weird path names, nonstandard filesystems, etc. That's just a guess though based on the backtrace without digging in more, but I'm not sure what you mean by vendored LLVM?

[2019-05-09 13:56] xNxExOx commented on #60629
For the first question:
I am on windows 10 Pro 1809, CPU 1950X, 64 GB RAM and steps to reproduce are simple for me:

- start IntelliJ IDEA
- new rust project
- to Cargo.toml add `slotmap = "0.3.0"`
- replace main.rs with
[code]
- build
- add `MyKey` as mentioned above
- build ~50% chance it fail
- if the build worked just rename `MyKey`
- build failed 5 of 6 times I get that far without deleting `

[2019-05-09 13:57] nikomatsakis commented on #58548
@nikic @hoodie any updates on the issue?

[2019-05-09 13:58] nikomatsakis commented on #58840
Compiler triage: It seems like are still missing a case for reproduction?

[2019-05-09 14:15] nkostoulas commented on #49132
Using travis as below:
[code]

Build fails for an unused mut inside a match. When I do `cargo +nightly build` locally though it still succeeds. Any clues why?

[2019-05-09 14:32] auscompgeek commented on #44109
My 2c: I think it would be worth taking the chance now to add docs about relevant attributes to each of the keywords in the std docs.

[2019-05-09 14:35] nikomatsakis commented on #43081
Removing the `I-nominated` label -- but it seems like this would make a good design meeting topic, since the fix is non-trivial? I see that there is lots of active discussion.

[2019-05-09 14:36] nikomatsakis commented on #45600
Discussed in compiler team meeting, removing nomination as it seems like we sort of know what steps we need now.

[2019-05-09 14:41] jswrenn commented on #60553
Has anyone stepped up to implement this? If not, I'd like to take a stab.

The current error arises in parsing. I haven't fiddled with it yet, but I suspect a good first step is to remove the `else` before this `if`: https://github.com/rust-lang/rust/blob/33cde4aac2ec1b0a493d0acaa4c4fb45de0c6e94/src/libsyntax/parse/parser.rs#L7781-L7789

[2019-05-09 14:43] nikomatsakis commented on #57443
Discussed in the triage meeting. I pointed @oli-obk at the [procedure for creating new crates](https://github.com/rust-lang/compiler-team/blob/master/procedures/crates.md#how-should-stabilizationsemantic-changes-be-handled-in-out-of-tree-crates)

[2019-05-09 14:44] nikomatsakis commented on #58485
Removing nomination since it's not clear what's left to discuss at the meeting.

[2019-05-09 15:03] oli-obk commented on #60553
I don't know of anyone

Go for it!

That looks like the right start, yes.

[2019-05-09 15:07] hellow554 commented on #60629
Sadly I cannot reproduce it. Let me try to summarize it:

1. `cargo new bar`
2. add `sloptmap = "0.3.0"` as dependency in Cargo.toml
3. use
[code]
4. `cargo build`
5. use
[code]
5. cargo build (hope it crashes)
6. if not, use
[code]

Am I correct? Please be as precice as possible and clarify "just rename `MyKey`". Do you want me to change lower/upper case? Remove one character? Add one?

Your nigh

[2019-05-09 15:08] hoodie commented on #58548
sorry, I didn't manage to build it again, I'll try to put aside some time this weekend

[2019-05-09 15:09] taiki-e commented on #60660
Reduced:
[code]
Seems the actual problem is not about importing but using `std::r#await`.

[2019-05-09 15:11] hellow554 commented on #60629
🎉  (update soon)

[2019-05-09 15:50] jonas-schievink commented on #60479
The idea is to have another internal lint in rustc that runs on libstd/libcore, and reject any public items in libcore that don't also exist in libstd at the same path.

The motivation is that 1.34.0 contained many stabilizations for libcore items, where the libstd reexport was forgotten (which can happen very easily).

(I tagged this as `T-compiler` since this lint would be implemented in rustc;

[2019-05-09 16:03] cuviper commented on #60528
https://aws.amazon.com/blogs/aws/amazon-s3-path-deprecation-plan-the-rest-of-the-story/

So our existing buckets will be fine after all.

[2019-05-09 16:03] #60528 closed

[2019-05-09 16:32] main-- commented on #32408
Since the function is naked the compiler cannot generate code to access the parameters, or what am I missing?

[2019-05-09 16:39] BurntSushi opened #60673 "io::Stdout should use block bufferring when appropriate"
I feel like a pretty common pitfall for beginning Rust programmers is to try writing a program that uses `println!` to print a lot of lines, compare its performance to a similar program written in Python, and be (rightly) baffled at the fact that Python is substantially faster. This occurred most recently here: https://www.reddit.com/r/rust/comments/bl7j7j/hey_rustaceans_got_an_easy_question_ask_h

[2019-05-09 16:40] BurntSushi commented on #60673
cc @killercup @kbknapp as other folks that might have opinions here.

[2019-05-09 16:46] estebank commented on #49132
@nkostoulas Have you updated nightly recently?

@PramodBisht this has been fixed in stable.

[2019-05-09 16:46] #49132 closed

[2019-05-09 16:59] dtolnay opened #60674 "Async fn loses mut pattern when passed to attribute macro"
#### Cargo.toml

[code]

#### src/lib.rs

[code]

#### src/main.rs

[code]

Between nightly-2019-05-07 and nightly-2019-05-08, the `mut` pattern that should be part of the macro input went missing. https://github.com/rust-lang/rust/compare/a19cf18c7dbbcc46dddea81df3a4cee1735c2349...cfdc84a009020c59e53e4039beae22eb59e41685

[code]

Originally reported by @kjvalencik in https://github.com/dtolnay/sy

[2019-05-09 17:00] sfackler commented on #60673
If we're worried about regressing people that are depending on it being line buffered, we could minimally have methods on `Stdout`/`Stderr` to switch it between line and block buffering.

[2019-05-09 17:06] kjvalencik commented on #60674
FYI, `&mut` is not lost.

[2019-05-09 17:06] davidtwco commented on #60674
Thanks for the report, I'll look into this.

[2019-05-09 17:17] mark-i-m commented on #32408
Oh, I see what you are saying now. I was thinking from the other side: the compiler _can_ generate code to pass the parameters, but yes, I think the naked function would then need to write it's own code to access them.

We could enforce that all arguments to the naked function need to be `_: T`...

[2019-05-09 17:17] taiki-e commented on #60674
Hmm, seems it was too early to remove `mut` with this timing:
https://github.com/rust-lang/rust/blob/ef01f29964df207f181bd5bcf236e41372a17273/src/libsyntax/parse/parser.rs#L8813-L8820

[2019-05-09 17:34] cramertj commented on #60660
Yeah, I wouldn't expect the old macro to work anymore-- intentionally.

[2019-05-09 17:34] #60660 closed

[2019-05-09 17:37] taiki-e commented on #60674
This problem only occurs with by-value binding(and simple patterns), so...

[code]

[2019-05-09 17:42] cramertj commented on #60661
printing this is going to be kind of odd given that the HIR-equivalent would be to use `existential type` but with strange generics parenting. What do we do for `impl Trait` here?

[2019-05-09 17:44] cramertj commented on #60655
No, this should definitely compile.

`&x` isn't yielded, but yes, it's a local variable inside the generator.

[2019-05-09 17:49] estebank commented on #7462
Triage:

[code]

[2019-05-09 17:52] cramertj commented on #60660
Opened #60675 to remove the old macro to prevent further confusion.

[2019-05-09 17:53] nikomatsakis commented on #60654
Oh, I guess I was indeed incorreect. I tried it on play but didn't notice that, after the "correct" error, it goes on to print an ICE.

[2019-05-09 18:18] samanpa commented on #55307
Run into a similar problem today with the simplified test case below. The error message was not very helpful in diagnosing the problem.

[code]

[2019-05-09 18:21] davidtwco commented on #60674
I've filed #60676 with a fix.

[2019-05-09 18:24] jethrogb commented on #58840
@pietroalbini do you still have a local checkout of @jatsrt's repro?

[2019-05-09 18:27] burtonageo opened #60677 "Could `std::sync::atomic::Ordering` implement `Default`"
A lot of the literature about atomic orderings recommends using `SeqCst`, as that is usually the ordering which is most likely to be correct.

Could a `Default` impl be added to `sync::atomic::Ordering` which returns `SeqCst` to further hint at this?

[2019-05-09 18:35] alexcrichton commented on #60673
FWIW I personally continue to feel that we can do this at any time (change libstd's buffering strategy on non-TTY stdout/stderr streams) and I agree with @sfackler that if breakage arises we can work around it with methods and such.

[2019-05-09 18:37] taiki-e commented on #60674
@davidtwco Thanks for the fix!

[2019-05-09 18:40] kbknapp commented on #60673
I would be very much in favor of *at least* the minimal giving `Stdout`/`Stderr` the option to switch between line and block buffering.

Another slightly less minimalist approach is to use block buffering by default on `print!("..\n")` and to prominently displaying the characteristics of both macros in the docs. The downside being to change `println!("..")` calls to `print!("..\n")` is a multi cur

[2019-05-09 19:31] petrochenkov commented on #43081
https://github.com/rust-lang/rust/pull/60679 addresses the issue for literals (all literal tokens are passed to proc macros precisely).

[2019-05-09 19:31] lqd commented on #58840
@julien1619 by the way, were you able to create the minimal testcase you mentioned ?

[2019-05-09 19:41] ZacLiveEarth commented on #38078
Is this issue one that someone could take on as a first issue for fixing the compiler or is this still in the area of experts? It seemed like something quite hard a while ago, but maybe progress has been made? If this is something easier than it used to be, could someone point me to the area of code that would need to be fixed?

[2019-05-09 19:53] matthewjasper commented on #60548
I'd rather not use "Fixes" with no test and no idea what the actual problem is here.

[2019-05-09 19:55] nikomatsakis commented on #15287
We discussed in the lang team meeting -- treating the existing errors as "AST borrowck errors" for purpose of migration mode seems like a good solution, and we are generally in favor of moving forward here once that is done plus test cases are finished.

[2019-05-09 19:59] DerickEddington commented on #31740
I encountered this yesterday and was quite confused by it for a while.

I wonder if this issue also occurs with the other comparison operators?

I'd written a new issue report for it today because the issue searcher wasn't finding this issue #31740 for me until I entered a title for my issue, so I may as well add what I boiled down my case to:

[code]

[code]

The following alternative form that i

[2019-05-09 20:00] nikomatsakis opened #60680 "crater run to estimate impact of full NLL transition"
In the @rust-lang/lang meeting today, we were saying it'd be a good idea to do a crater run against full NLL just to get a rough idea of how many affected crates there will be.

There are two ways we could do this and both have some value:

- change the "warning lints" to "deny" and then do the crater run. This has the benefit that if crate X fails to compile, dependencies of crate X will still be

[2019-05-09 20:01] nikomatsakis commented on #58781
Created https://github.com/rust-lang/rust/issues/60680 as an issue to do a first crater run to get a rough idea.

[2019-05-09 20:03] Centril commented on #60680
I would suggest that we do both of the two ways since it's an important ticket.

[2019-05-09 20:06] spease opened #60681 "Clippy attributes have no effect on struct fields"
Example:

[code]

The #[allow] directive must be placed on the variable assignment to have an effect - where it is now does not seem to cover the field value.

Searched a little bit, but wasn't sure if this goes with any existing issues (not sure if this would be #53012 since I don't think clippy attributes are procedural)

[2019-05-09 20:08] Centril commented on #60681
cc @oli-obk

[2019-05-09 20:15] pietroalbini commented on #58840
@jethrogb nope :(

[2019-05-09 20:18] nikomatsakis commented on #47949
We discussed in the @rust-lang/lang meeting. Everyone agreed this behavior is wrong; the returned value ought to be dropped, presumably after all other variables in the frame have been dropped. Basically it should be equivalent to having stored the value into an outer let.

However, as a good first step, it seems like we should begin by verifying the behavior with a more thorough set of test cases

[2019-05-09 20:19] nikomatsakis commented on #47949
I'm leaving nominated so we follow up next meeting and discuss priority -- how serious do we think it is to fix this. Obviously, this is a long-standing behavior.

[2019-05-09 20:38] matthewjasper commented on #47949
Oh, there's an issue for this.

This should be done for evaluation order as well.

The bug is in MIR construction. I don't think it's that hard to fix (except possibly for the return place).

=)

[2019-05-09 20:44] nikomatsakis commented on #57012
Nominating for discussion in lang-team meeting to try and get "unstuck". We discussed a bit today.

I think we generally agreed that, with respect to the second question at least, an appealing option would be to extend coherence so that it was treated "as if" such an impl existed, without actually *having* the impl. That would require some careful coding, though, from what I can tell.

It would ce

[2019-05-09 21:16] matthiaskrgr opened #60682 "-Z time-passes got very spammy due to nll messages"
Debugging slow compiles via `-Z time-passes` was quite easy until at some point nll messages were added and when building some crates, there are thousands of them.

For example when building walkdir, 109 of 241 lines are about nll.
When building serde_json, 3934 of 4334 lines are about nll.

Could we disable the nll prints again or hide them behind a `-Z time-nll` flag or something similar?

[2019-05-09 21:17] matthiaskrgr commented on #60682
I'm talking about lines like these:
[code]

[2019-05-09 21:27] jswrenn commented on #60553
I've started work on this [here](https://github.com/jswrenn/rust/tree/arbitrary_enum_discriminant) by [removing the parsing restriction preventing non-unit variants from having explicit discriminants](https://github.com/jswrenn/rust/commit/ff93aed9022145beb1a37dc618d0db4735e0df18). As you predicted @eddyb, things seem to basically just work; e.g.:
[code]

As it stands, adding this feature required

[2019-05-09 21:51] #60014 closed

[2019-05-09 23:05] nagisa opened #60686 "Types made public via associated types are not documented"
Given following code:

[code]

The generated documentation will not include documentation for `<Peach as Apple>::Juice`.

![Screenshot_2019-05-10 lib Peach - Rust](https://user-images.githubusercontent.com/679122/57492050-01c19400-72c8-11e9-9a57-0392a8016a44.png)

[2019-05-09 23:11] Mark-Simulacrum commented on #60682
It's probably better to use the self-profile architecture instead of -Ztime-passes these days, though I'm unsure of how well it supports the "some part of my build is slow" use case today.

cc @wesleywiser

[2019-05-09 23:42] BaoshanPang commented on #60561
I am seeing this problem too, it is really painful to figure out what's the problem.

[2019-05-09 23:47] BaoshanPang opened #60688 "error: duplicate lang item in crate `std`"
I am seeing this issue:
error: duplicate lang item in crate `std`: `f64_runtime`.
  |
  = note: first defined in crate `std`.

It looks like the crate 'std' has been linked twice, the problem is how can I figure out why it has been linked twice? Is there any tool to check which rlib is pulling the 'std'?

[2019-05-09 23:51] nagisa commented on #60605
Very nicely investigated issue.

Fixing this in our fork involves knowing what the fix should look like. I imagine the easiest and fastest approach will be to wait for LLVM to get a patch from one of the ARM’s engineers and then include that patch in our fork.

[2019-05-10 00:41] lqd commented on #58840
I created a simple (but not minimal) [project](https://github.com/lqd/repro_58840/) based on the initial comment, and checked it indeed ICEs on nightly with the expected "cannot convert `ReScope(Node(...))` to a region vid" error.

I haven't tried minimizing or bisecting, however (but since very similar errors had been fixed by #60449, I thought this issue here would have been fixed at the same ti

[2019-05-10 00:59] estebank commented on #60571
CC https://github.com/rust-lang/rust/issues/7462

[2019-05-10 01:19] Aaron1011 commented on #60688
Can you post instructions for reproducing this?

[2019-05-10 01:51] arobase-che opened #60689 "sendfile syscall"
Should we implement the sendfile syscall to TCPStream and/or UDPStream ?

Even if it's not totally portable (Linux and BSD, windows using transmitfile), I may be a convenient way to send a file effectively.

[2019-05-10 03:42] #47287 closed

[2019-05-10 03:42] #59975 closed

[2019-05-10 03:43] #60674 closed

[2019-05-10 04:22] dtolnay commented on #60551
Potentially related to https://github.com/rust-lang/rust/issues/43408.

[2019-05-10 05:21] sequencer opened #60690 "`riscv64gc-unknown-none-elf` link failed in a784a80228c9eac3aa0fd86fc90887d5fa20c82e"
[code]
compile success.
[code]
compile failed with error information:
[code]

[2019-05-10 05:36] Aloxaf commented on #27395
I met the same problem, but https://github.com/rust-lang/rust/issues/27395#issuecomment-126494271 get a `error: invalid operand for instruction` now. ( on Linux x64 )

Finally I found out that adding `${:uid}` to the label name can solve this problem.

eg.
[code]

Reference: https://llvm.org/docs/LangRef.html#inline-assembler-expressions

[2019-05-10 06:37] sequencer commented on #60690
compile successful after `cargo xbuild`

[2019-05-10 06:37] #60690 closed

[2019-05-10 07:03] #58174 closed

[2019-05-10 07:05] hellow554 commented on #60689
What about macOS? At least all [tier1 targets](https://forge.rust-lang.org/platform-support.html) should be supported at least.
Also I'm not really convinced why this should be in `std` and not in an own crate.

@rustbot modify labels: C-enhancement T-libs

[2019-05-10 07:31] hellow554 commented on #60654
What about adding the I-nomiated tag again?

[2019-05-10 07:35] hellow554 commented on #60629
I would suggest to remove the P-High and I-nomiated tag, because it is fixed on nightly. I'll add the E-needstest tag. I just have to reduce the above example without external dependencies. Lets see what I can do.

@rustbot modify labels: E-needstest

[2019-05-10 07:51] amark commented on #25289
This is still happening and it should be considered a Rust bug. I've been trying to fix this for days and trying every possible answer online and none of them work.

OpenSSL works just fine for all my other developer environments, for what it matters.

I just upgraded to MacOS Mojave and can't get anything Rust to work, link, etc. correctly.

Now what?

[2019-05-10 08:27] oli-obk commented on #60553
Sweet! Yes please open a PR with the feature gate and throw some tests in for good measure (there may already be tests checking for the "discriminator values can only be used with a field-less enum" error message, those should now be emitting a feature gate error instead)

[2019-05-10 08:37] oli-obk commented on #60661
That seems to be the problem :D we don't do anything: https://github.com/rust-lang/rust/blob/407536e38db4c7ebd33288db450703a7588e0a9d/src/librustc/hir/print.rs#L396

Ok, so for any implementor: we need to emit `impl` followed by the bounds instead of doing nothing as shown above. The bounds can be printed like https://github.com/rust-lang/rust/blob/master/src/librustc/hir/print.rs#L650-L660 just w

[2019-05-10 08:38] oli-obk commented on #60655
Hmm, so because the generator contains references, it has lifetimes, but these lifetimes actually refer to the generator again? Do we have a special kind of lifetime that we use for this? We should just ignore those generator lifetimes for existential types.

[2019-05-10 08:40] oli-obk commented on #60681
This is not a clippy issue:

[code]

[2019-05-10 08:49] arobase-che commented on #60689
Should work on macOS too but i never had used macOS. [Mac OS sendfile documentation](https://developer.apple.com/library/archive/documentation/System/Conceptual/ManPages_iPhoneOS/man2/sendfile.2.html)

___________

I'm not sure it should be in `std`. Actually,  it's a syscall so a very low level feature. As `send`, `accept`, `bind`, `recvfrom`, ... that are already in `std::net`. Other languages a

[2019-05-10 09:50] zrzka commented on #60605
Agree. Will ping Will again to get the LLVM bug # (if exists) and the patch which will fix this.

[2019-05-10 10:15] Pulkit07 commented on #60662
While adding test, I am getting following error message:

`unexpected error: '8:5: 8:43: existential types are unstable [E0658]'`

The existing test can be seen here: https://github.com/rust-lang/rust/pull/60694/files#diff-b122eeedc759d82eab86eafd6445ce8e

[2019-05-10 10:16] mocsy opened #60695 "Since 1.33 imports conflict with variable in local scope"
Since 1.33 imports conflict with variable names which used to work with 1.32 and before.
I found nothing about this in the change logs, so I assume it's a regression.
In Some(...):
[code]
In fn params:
`fn get_token(id: i64) -> String`

[2019-05-10 10:35] michaelwoerister commented on #60629
Thanks a lot for looking into this, @hellow554!
@xNxExOx, can you confirm that the crash doesn't occur anymore with the latest nightly compiler?

[2019-05-10 10:42] mati865 commented on #60580
https://github.com/rust-lang/rust/issues/37939 should be fixed first

[2019-05-10 11:04] oli-obk commented on #60662
you need to add `#![feature(existential_types)]` to the test

[2019-05-10 11:07] abonander commented on #60689
This _could_ be an internal specialization for `io::copy()`, and/or maybe exposed in `std::os::unix::io` as

[code]

Windows actually has a painfully close equivalent but it's specifically to copy from a file handle to a socket (which are separate object types in the Windows API) whereas `sendfile()` works for any pair of file descriptors, so it couldn't be the same interface unless separate trait

[2019-05-10 11:13] hellow554 commented on #60695
Can you provide a little example? Some thing simple as

[code]

[2019-05-10 11:24] abonander commented on #60689
@arobase-che `sendfile()` is actually already available in the [the libc crate](https://docs.rs/libc/0.2.54/libc/fn.sendfile.html) but that's the unsafe extern bindings to the actual function in `sys/sendfile.h`.

It's of course completely possible to build a safe wrapper around it and it's actually pretty trivial:

[code]

[2019-05-10 11:27] abonander commented on #60689
The libc wrapper function for reference: http://man7.org/linux/man-pages/man2/sendfile.2.html

[2019-05-10 11:44] xNxExOx commented on #60629
After a lot of effort I switched toolchain to `nightly-2019-05-09-x86_64-pc-windows-msvc` and it seems to work here (over 20 rebuilds without error)

[2019-05-10 11:54] hellow554 commented on #60629
@xNxExOx  please do **not** close this issue. I created a PR which will automatically close this when it has been merged. Please reopen it

[2019-05-10 12:18] Zoxc commented on #60629
This is likely caused by https://github.com/rust-lang/rust/pull/59517 and fixed by https://github.com/rust-lang/rust/pull/59723.

[2019-05-10 12:32] hellow554 commented on #60629
Can confirm that the bug has been fixed in #59723 (bisecting ftw)

[2019-05-10 12:43] saona-raimundo opened #60698 "[rustdoc] Wrong Re-exports display"
In this [documentation](https://bheisler.github.io/RustaCUDA/rustacuda/prelude/index.html), the re-exports are oddly displayed:
There are structs and traits that are not shown as re-exports, but further in the documentation.

I am new to Rust, sorry if this is not the place to rise this issue.

[2019-05-10 13:37] measlytwerp commented on #59851
Got a lot more small bits finished today, things are looking a lot nicer.

It'd be good to get some feedback on this work, I've had some elsewhere that's been mostly positive, but constructive criticism is wanted.

https://measlytwerp.github.io/rustdoc-reskin/std/

[2019-05-10 13:38] updogliu commented on #31844
Report a weirdness:

[code]

Why is `Box<dyn std::error::Error>` peculiar (avoid using word "special") in this case? Even if it impls `std::error::Error` in the future, the `impl MyTrait for Box<dyn std::error::Error>` is still a valid specialization of `impl<E: std::error::Error> MyTrait for E`, no?

[2019-05-10 13:38] fintelia commented on #45323
This issue seems to have been stuck in a strange limbo state for quite a while now. Pinging more people the rfcbot mentioned...  @alexcrichton @aturon @dtolnay @withoutboats

[2019-05-10 13:54] SimonSapin commented on #45323
Sorry we dropped the ball here. This is now one method on the `BufReader` and `BufWriter` structs.

[code]

@rfcbot fcp merge

[2019-05-10 13:57] SimonSapin commented on #45323
@edef1c There is nothing called `BufWrite` in std. Did you mean the `BufRead` trait? A downside is that to add it now we would have to make it a default method, which would (at first) have an inconsistent behavior with `fill_buf` for existing impls. We can update impls in std at the same time, but that leaves impls in other crates.

[2019-05-10 14:00] petrochenkov opened #60699 "`HashMap::with_capacity` doesn't work if the hasher is not `RandomState`"
You have to use `HashMap::with_capacity_and_hasher(capacity, Default::default())` instead.

`with_capacity` should probably be available for any hasher that implements `Default`.

[2019-05-10 14:04] petrochenkov commented on #60699
Same applies to `HashMap::new`.

Perhaps type inference is the reason why they are not provided?
Not sure.

[2019-05-10 14:05] hellow554 commented on #60698
Can you explain what you mean by oddly? They are listed as re-exports.

[2019-05-10 14:07] Mark-Simulacrum commented on #60699
@rustbot label: -E-easy

I think it's safe to say that if we haven't done this yet it's likely not actually an easy thing to fix; I suspect that the reason is indeed type inference (and/or type parameter defaults) and we just haven't gotten around to fixing it.

[2019-05-10 14:33] sfackler commented on #60699
We haven't done this because parameter defaults aren't taken into account for type inference.

[2019-05-10 15:05] bjorn3 commented on #31844
In your case the `impl<E: std::error::Error> MyTrait for E` can not be specialized, as it doesnt have any `default` methods.

[2019-05-10 15:11] gabdube commented on #60375
Hey this is my project. I'll try to isolate the problem to make it a bit easier to fix... hopefully.

[2019-05-10 15:28] pietroalbini opened #60702 "Pietro's little testing corner"
Did you expect anything interesting here? Uh...

[2019-05-10 15:28] #60702 closed

[2019-05-10 15:29] pietroalbini commented on #60702
@craterbot run mode=check-only start=master#ef01f29964df207f181bd5bcf236e41372a17273 end=try#a7cff45e655f886da150e206c7acbe984df4ab71 assign=agent:aws-1

[2019-05-10 15:30] pietroalbini commented on #60702
@craterbot assign=agent:aws-2

[2019-05-10 15:35] pietroalbini commented on #60702
@craterbot abort

[2019-05-10 15:44] Pulkit07 commented on #60662
Added that, many thanks!

[2019-05-10 15:51] pantaloons opened #60704 "Stable 1.34.0 compiler panic unexpected const parent in type_of_def_id()"
Following code sample causes a compiler panic. `<32>` should be `<u32>`.

[code]

[code]

[2019-05-10 15:54] Pulkit07 commented on #60653
Hi, I will like to work on this bug.

Going through the code which the linked PR added, looks like we need more smarter parsing here: https://github.com/rust-lang/rust/pull/60586/files#diff-da9d34ca1d0f6beee2838cf02e07345cR2754.

Does that sound right?

[2019-05-10 15:55] jonas-schievink commented on #60704
Also happens on nightly. Likely due to const generics changes.

[2019-05-10 16:03] Centril opened #60705 "Tracking issue for RFC 2603, "Symbol Mangling v2""
This is a tracking issue for the RFC "Symbol Mangling v2" (rust-lang/rfcs#2603).

**Steps:**

- [ ] Implement the RFC (cc @rust-lang/compiler -- can anyone write up mentoring instructions?)
- [ ] Adjust documentation ([see instructions on rustc-guide][doc-guide])
- [ ] Stabilization PR ([see instructions on rustc-guide][stabilization-guide])

[stabilization-guide]: https://rust-lang.github.io/rust

[2019-05-10 16:14] jethrogb commented on #58781
Is this the right place for comments/questions about the migration warning?

I got this warning:
[code]

The warning is good, my code definitely has UB. I found that I can't upgrading the warning to an error with `deny(warnings)`. Why is that?

This code compiles and has UB on Rust 1.0, I thought NLL is only supposed to relax things? Are you fixing any bugs in the old borrow checker?

[2019-05-10 16:20] Centril commented on #60704
Minimal reproduction:
[code]

[2019-05-10 16:22] Centril commented on #60704
Another case:
[code]

[2019-05-10 16:27] cramertj commented on #60655
There's no special lifetime afaik (cc @Zoxc @tmandry).

[2019-05-10 16:30] cramertj commented on #60661
@oli-obk even if you do that, it still won't compile: the code that `async fn` desugars to can't be written with `impl Trait` today because of how it captures multiple lifetimes that don't appear in the bound.

[2019-05-10 16:44] Phrohdoh opened #60706 "Request: Format change for doc test cli output"
_Originally filed at https://github.com/rust-lang/cargo/issues/6927_

---

When running `cargo test` on a project with some doc tests I see the following output:

[code]

This ticket is focusing on this portion:

[code]

I believe this output could be more useful, perhaps at the cost of being 'pretty', if the line numbers were joined to the source file path with a `:` to produce a clickable (in so

[2019-05-10 16:56] jonas-schievink commented on #60706
I believe libtest has or is in the process of moving out into https://github.com/rust-lang/libtest/

[2019-05-10 17:01] kazcw commented on #51559
[It seems](https://play.rust-lang.org/?version=nightly&mode=release&edition=2015&gist=e12ae9a840ee31ab41a7d9b6f8767fdb) this is no longer allowed by any means:

[code]
[code]

[2019-05-10 17:04] Phrohdoh commented on #60706
🙄

I think we need to make it more clear where to file tickets, somehow.

[2019-05-10 17:54] Centril opened #60707 "Cleanup hack to expect `scrutinee: bool` in if-to-match desugaring in match-expr typeck"
In https://github.com/rust-lang/rust/pull/59288 a hack is introduced in `rustc_typeck::check::_match::check_match` that checks, via `MatchSource::IfDesugar`, whether an `if`-expression was desugared to `match` and if so, it requires that the scrutinee be typed at `bool`.

We might want to remove this hack in favor of a more principled solution, with options:

1. Fix type ascription such that it ad

[2019-05-10 17:56] grantslatton commented on #47960
Is anything preventing stabilization of this?

[2019-05-10 18:03] oli-obk commented on #51559
Yes that is intended. This issue is for adding a regression test testing what happens when you use a pointer casted to a usize in an array length.

[2019-05-10 18:21] fabric-and-ink commented on #60666
I will look into it!

[2019-05-10 18:26] #42778 closed

[2019-05-10 18:34] gabdube commented on #60375
Ok I think I've found something. Hopefully it makes sense. It seems like there are two methods named "type_id" (one from `Any` and another from my `ResourceT` trait) available and the code. The method that compare the types use the wrong one.

For example, this code does not compile:

[code]

The compiler will output

[code]

That said, if you remove `use std::any::Any;` from the imports, everythi

[2019-05-10 18:50] joshtriplett commented on #58794
Would someone (@kornelski, @centril, @comex) be willing to write up an RFC for an `unwind(Rust)` attribute, to give us a path forward for unwinding past FFI functions? I'd be happy to review and sponsor such an RFC.

[2019-05-10 18:53] ambr-e opened #60709 "future miscompiling to ud2"
Using rustc 1.36.0-nightly (3991285f5 2019-04-25), the following test compiles to `ud2`, when using the following command: `rustc --edition=2018  -Copt-level=z -Cdebuginfo=2 --test test.rs -o test`. Both the `opt-level` and `debuginfo` are necessary to get `ud2`.

[code]

@cramertj @tmandry

[2019-05-10 18:56] cramertj commented on #60709
This does not reproduce for me on current nightly (`rustc 1.36.0-nightly (a784a8022 2019-05-09)`). I wonder if some of @tmandry's generator representation work has affected this.

[2019-05-10 19:15] jethrogb commented on #58840
@lqd if I change `main` to no longer ICE, I get this error. Do you think you can have a repro that doesn't error when the ICE is gone?
[code]

[2019-05-10 19:23] jethrogb commented on #58840
Got it:
[code]

[2019-05-10 19:50] BaoshanPang commented on #60688
After "./x.py clean" and rebuild, the problem went away. Sorry for the false alarm.

[2019-05-10 19:52] jonas-schievink commented on #60688
In that case, I'll close this. If this ever reappears and you can reproduce it, feel free to open a new issue!

[2019-05-10 19:52] #60688 closed

[2019-05-10 20:00] nikonthethird opened #60711 "`impl Trait` changes mutability requirements of closure"
This code behaves in a way that is not obvious to me:

[code]

This code compiles without any warnings in stable Rust. But notice, the `modify_unit` closure is not declared `mut`, but it modifies the `unit` variable inside at location `(2)`.

However, when you comment out the line marked `(1)`, suddenly Rust complains that the closure is not mutable:

[Link to the code on the playground.](https://

[2019-05-10 20:03] varkor opened #60712 "Spurious unconstrained const parameter warning in impl"
[code]
produces:
[code]
which is clearly incorrect.

[2019-05-10 20:18] BatmanAoD commented on #58794
@joshtriplett I'll take at a stab at it. Not having written an RFC before, is there anything I should read first other than the [template](https://github.com/rust-lang/rfcs/blob/master/0000-template.md)? Also, should I just leave the "RFC PR" and "Rust issue" out of my drafts for now?

[2019-05-10 20:21] jonas-schievink commented on #60711
In the first case, `modify_unit` is actually a `move` closure since it has to capture `impl_trait` by value (it isn't `Copy`). You can test this by trying to call it again. Since calling a closure via `FnOnce` *consumes* the closure instead of mutating it, this is accepted.

In the second case, no by-value capturing is needed (instead, only `unit` is captured by mutable reference), so calling the

[2019-05-10 20:22] jonas-schievink commented on #60711
Perhaps the "cannot borrow as mutable" diagnostics could be improved in general to note the precise reason for the mutable borrow (since there are plenty of implicit ways to borrow something)

[2019-05-10 20:23] cuviper commented on #60699
At least with `S: Default`, you can use `HashMap::default()` -- in fact that's all `new()` does.

[2019-05-10 20:24] nikonthethird commented on #60711
Thank you for pointing that out, it didn't occur to me at all!

[2019-05-10 20:29] Centril commented on #60709
@cramertj In that case, add it as a regression test?

[2019-05-10 20:41] varkor commented on #60712
What I believe is happening here is that `{X}` is no longer treated as a parameter, because it's in brackets. It's a `ConstValue::Unevaluated` when it gets to https://github.com/rust-lang/rust/blob/cff1bdbd77d29a28a94ff9f5bf1e1c84e5bb6259/src/librustc_typeck/constrained_generic_params.rs#L81-L86
rather than a parameter.

[2019-05-10 20:43] tmandry commented on #60709
It looks like this was fixed by #59897, specifically 5a7af5480c5f9a7d1b5964e3c77ef18326a3a67b. I'm not sure why, though.

[2019-05-10 20:54] cramertj commented on #60709
@tmandry possibly the inhabitedness fix?

[2019-05-10 20:55] dekellum commented on #44663
I like this feature! The produced warning messages were very clear. In 1 out of 5 crates trialed, I decided based on the results to make 2 dependencies private that were needlessly public. This makes me think there is value and wonder if there is an opportunity to stabilize just the information collection part of this sooner (public dependency attribute, rustc warnings, uploads to the crates.io in

[2019-05-10 21:03] jethrogb opened #60713 "ICE in rustc_typeck::check::method::suggest::<impl rustc_typeck::check::FnCtxt>::report_method_error"
[code]

Encountered while trying to produce a reduced test case for #58840. Will add source code later.

[2019-05-10 21:13] varkor commented on #60473
This ICEs in a different place after https://github.com/rust-lang/rust/pull/60714, hitting:
https://github.com/varkor/rust/blob/aa9369c7a4f463ea9e2d1f5ceecccbeb026baa41/src/librustc_mir/util/elaborate_drops.rs#L829

[2019-05-10 21:19] mtak- opened #60715 "Request: Make `std::marker::Freeze` pub again"
I had heard tell of `Freeze` but didn't really know what it was until today. [`swym`](https://github.com/mtak-/swym/blob/1dcf0a9d7d61be3bd3cbb6993d5d27bda2874e6d/src/tx.rs#L228), a hybrid transactional memory library, has an accidental reimplementation of `Freeze` using `optin_builtin_traits`. Unfortunately `optin_builtin_traits` is the only feature keeping `swym` on nightly.

The [ticket](https:/

[2019-05-10 21:29] Aaron1011 commented on #44663
That sounds like a good idea to me!

Implementing that will be a little tricky. Currently, `rustc` isn't explicitly aware of the underlying `public-dependency` feature - it simply treats all dependencies as `public` by default. We would want to avoid showing 'unecessary public dependency' warnings to users who don't have the `public-dependency` feature enabled, as these warnings would be both usel

[2019-05-10 21:40] tmandry commented on #60709
@cramertj I was thinking that, but `Never` in this example is very much inhabited.

[2019-05-10 21:52] cuviper commented on #60686
Isn't this true of _any_ pub-in-private use? i.e. not just associated types, but also parameters, return values, trait constraints, etc. There's no publicly reachable path to `Banana`, so it don't get docs.

However, if you put doc comments on the `type Juice`, it does generate documentation there.

[2019-05-10 22:26] BatmanAoD commented on #58794
@joshtriplett @gnzlbg @kornelski

I've finished a draft of the RFC. Please take a look!

I assume that I submit this just by changing "XXX" and "???" to have the next number in the RFC sequence, and then opening a PR?

[2019-05-10 22:29] jethrogb commented on #60713
[code]

[code]

[2019-05-10 22:59] #60629 closed

[2019-05-10 23:02] KrishnaSannasi commented on #31844
@bjorn3 This looks like it should work, but it doesn't even if you add in dummy methods

In crate `foo`
[code]
in crate `bar`
[code]

Note that if you change crate `bar` to
[code]
Then crate `foo` compiles.

[2019-05-10 23:19] varkor opened #60718 "x.py test should be able to test subfolders"
It would be very useful if `./x.py test src/test/ui/subfolder` would run every UI test in `src/test/ui/subfolder` (at the moment it runs every single UI test). `./x.py test` currently works for [individual files](https://github.com/rust-lang/rust/issues/48483) and for entire test suites, but not directories.

[2019-05-10 23:20] varkor commented on #60718
The `--test-args` flag might become obsolete if this becomes possible.

[2019-05-10 23:30] Centril commented on #60718
Please no... :) `--test-args` is still useful for testing files that have similar names or if you are just too lazy to give an absolute path.

[2019-05-10 23:38] dekellum commented on #44663
Or the alternative "--extern(_:pub_|:_private_)? name=PATH" syntax proposed by @petrochenkov could also get `rustc` that detail, if it chose to preserve the distinction for this?   It sounds like an implementation detail to me, but what do I know! ☺

[2019-05-10 23:45] RReverser commented on #60540
I've got a bit more specific one from Node.js:

[2019-05-11 00:03] Centril commented on #60715
cc @rust-lang/lang and possibly @rust-lang/libs

I'm sorta interested in this direction. However, `Freeze` is also a lang item used by other parts of the language so we need to tread carefully here and possibly consider exposing a version of `Freeze` that isn't a lang item.

I would also be interested in seeing more use cases to justify the exposure of `Freeze`.

[2019-05-11 01:01] estebank commented on #55815
No longer reproduces.

[2019-05-11 01:02] estebank commented on #55266
No longer reproduces.

[2019-05-11 01:05] #54427 closed

[2019-05-11 01:07] estebank commented on #54022
No longer reproduces.

[2019-05-11 01:07] #54022 closed

[2019-05-11 01:26] estebank commented on #49703
@sgrif could you point us to a commit sha for diesel to reproduce this case? I am tempted at closing this ticket given @varkor's comment above.

[2019-05-11 01:28] estebank commented on #47713
Closing as it seems similar to #53498 which has been fixed and this has no repro case.

[2019-05-11 01:28] #47713 closed

[2019-05-11 01:31] estebank commented on #46184
Closing as per @ltratt's prior comment.

[2019-05-11 01:31] #46184 closed

[2019-05-11 01:42] rust-highfive opened #60722 "`rls` no longer builds after rust-lang/rust#59288"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#59288, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @oli-obk, the PR reviewer, and @rust-lang/compiler -- nominat

[2019-05-11 02:03] estebank commented on #34035
Current output:

[code]

[2019-05-11 02:42] joshtriplett commented on #58794
On May 10, 2019 6:27:49 PM EDT, BatmanAoD <notifications@github.com> wrote:

You can leave it templated, and the person who merges it will number it.

[2019-05-11 03:04] Matthias247 opened #60723 "async/await: Compiler talks about async generators when the old await macro is used"
This error confused me when trying to convert async/await code to latest nightly:

This function:
[code]

produces the following diagnostic:
[code]

I was mostly confused what it had to do with async generators, since there is no generator involved. Tracking it back to the old `await!` wasn't obvious, since for my case that one was hidden in the "old" version of futures-rs `select!` macro. Thereby

[2019-05-11 03:06] Matthias247 commented on #60723
I just figured out that seems to be a duplicate of #60660

[2019-05-11 03:11] #60723 closed

[2019-05-11 04:06] Matthias247 opened #60724 "Type which uses const generics leads to ICE when using Derive"
This code

[code]

leads to

[code]

It doesn't seem `Debug` related, since the same happens for deriving `Copy`.

[2019-05-11 04:17] estebank commented on #60653
@Pulkit07 I think you might have to look further down. The error is emitted in `parse_block_tail`, but it is being bubbled up from the code you linked:

[code]

[This error is caused by the line below the place you linked, `self.expect(&token::Not)?;`](https://github.com/rust-lang/rust/pull/60586/files#diff-da9d34ca1d0f6beee2838cf02e07345cR2757). If you add `self.check(&token::Not)` to the if expr

[2019-05-11 04:53] rasa200 commented on #60698
Hi, sorry for the delay. Thanks for the quick answer.

In the code you can see `pub use crate::stream::{Stream, StreamFlags};`, where Stream is a struct of the crat. It is shown in the documentation as `pub use crate::stream::Stream`, which is how it was intended.

In the other hand, in the code there is also `pub use crate::memory::{CopyDestination, DeviceBuffer, UnifiedBuffer};`, to re-export tw

[2019-05-11 05:48] yodaldevoid commented on #60619
This can also be reproduced with the following code:
[code]
Due to this, I think that this is related to the const parameter being in braces in the array length.

[2019-05-11 06:43] #53498 closed

[2019-05-11 06:43] #59406 closed

[2019-05-11 06:58] upsuper opened #60725 "Compiling is signification slower with long return position impl types"
I have the following (relatively complicated) parser code (with dependency `combine 3.8.1` and `either_n 0.2.0`), which takes ~45s on my computer to run `cargo test`:
<details>

[code]

</details>

However, if you replace the function `type_like` with the commented code above it (the `parser!` macro and `type_like_inner` function), it compiles significant faster, and only takes ~18s.

There might

[2019-05-11 07:39] rodrimati1992 opened #60726 "rustdoc:ICE with field that has a conditional Send impl."
Edited:
Please [look at this comment](https://github.com/rust-lang/rust/issues/60726#issuecomment-491535962) for a self-contained example that reproduces the ICE.

<br>

In the process of finishing the 0.3 release of abi_stable,I got this ICE:
[code]
Trying it out again in nightly (rustc 1.36.0-nightly (d595b1135 2019-05-10) running on i686-unknown-linux-gnu) ,I got:
[code]

For the abi_stable::st

[2019-05-11 09:34] hellow554 commented on #60724
@rustbot add labels: I-ICE C-Bug A-const-generics

[2019-05-11 09:35] hellow554 commented on #60726
Can you provide a small example (maybe on [the playground](https://play.rust-lang.org)) that will crash reproducibly?

[2019-05-11 09:39] vorner opened #60728 "Tracking issue for Weak::into_raw/from_raw & similar"
Changing this to a tracking issue for the feature:

* [x] Pull request #60766
* [ ] :question: What to do about dangling Weak (created by `Weak::new()`) and `T: ?Sized`? These seem to be incompatible.
* [ ] Stabilization

# The original proposal

Hello

The Arc has the `into_raw` and `from_raw` methods. I think it would be technically possible to have the same on `Weak`. Obviously, as `Weak` is no

[2019-05-11 10:02] vorner commented on #55981
Hello. This looks potentially useful. How long does a feature this small need to sit around before it's considered for stabilization? (if I'm not missing something, there's no issue raised with this currently)

[2019-05-11 10:18] Thomasdezeeuw commented on #55981
If the team agrees I can make a stabilisation pr for 1.35/1.36.

[2019-05-11 10:26] varkor commented on #60619
If that's the case, it might be related to https://github.com/rust-lang/rust/pull/6071.

[2019-05-11 10:35] nikic commented on #60540
LLVM IR for @bjorn3's reproducer: https://gist.github.com/nikic/fb45d54844f6feb698a309418e948866

Running this through `llc -O0` against current LLVM master gives the following assertion failure:

[code]

With backtrace:

[code]

[2019-05-11 10:51] laanwj commented on #60012
Closing, this specific issue is no longer relevant to me, sufficiently has now been implemented in rust to no longer need this unholy linkage with the Kendryte SDK.

[2019-05-11 10:51] #60012 closed

[2019-05-11 10:54] nikic commented on #60540
Reduced test case:

[code]

[2019-05-11 11:03] nikic commented on #60540
Upstream report: https://bugs.llvm.org/show_bug.cgi?id=41841

[2019-05-11 11:38] HadrienG2 commented on #60619
@varkor Are you sure about that PR/issue number ? To my untrained eye, the linked ancient PR seems largely unrelated to the issue at hand.

[2019-05-11 12:01] varkor commented on #60619
Thanks, I had missed off the final character 😄

[2019-05-11 12:25] #60712 closed

[2019-05-11 12:53] aristarh2704 opened #60731 "Nested structures"
Please, add support for nested structures.

[2019-05-11 13:16] Aaron1011 commented on #60726
@rodrimati1992: I can't reproduce this crash by running either `stable` or `nightly` on https://github.com/rodrimati1992/abi_stable_crates/commit/d3c4327dd3c3f85e48e53513b8372d1d48b4c8f1. Is there a particular commit I should use?

[2019-05-11 13:23] HadrienG2 commented on #60677
While SeqCst is indeed most likely to be correct if using atomics is correct at all, given that it is a restrictive superset of other atomic orderings, I would be a hesitant to promote it as strongly as e.g. C++ does, because when compared with Acquire/Release the extra guarantees that it provides are relatively obscure, easy to misunderstand and lose, and expensive to implement in hardware.

In m

[2019-05-11 13:35] oli-obk commented on #60661
You can use something like the `Captures` trait to emulate that, right? https://doc.rust-lang.org/nightly/nightly-rustc/rustc/util/captures/trait.Captures.html

[2019-05-11 13:37] Centril commented on #60728
A PR is sufficient; the motivation can be justified in there.

[2019-05-11 13:37] Centril commented on #60731
Please elaborate.

[2019-05-11 13:46] HadrienG2 commented on #60724
I strongly suspect this might be because the derive implementation will copy-paste `N` everywhere, whereas the current const generics implementation requires using `{N}` when instantiating a const generic type.

This should definitely be fixed before the feature is stabilized.

[2019-05-11 13:47] lzutao commented on #60677
@HadrienG2 Where are those? I wanna know.

[2019-05-11 13:55] oli-obk opened #60734 "Excess reference levels causing bound-not-satisfied errors should suggest dereferencing"
If `Trait` is implemented for `T`, but not `&T` and we're passing a `&T`, we should suggest to dereference first. This is especially confusing if a trait exists for `T`, we expect a `&T` and are passing a `&&T`.

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e9effa07b8ed56132a340e8c2d4f22f1))

Errors:

[code]

cc @rust-lang/wg-diagnostics

[2019-05-11 14:39] HadrienG2 commented on #60677
When it comes to Rust in particular, I love [this blog post from Jeehoon Kang](https://jeehoonkang.github.io/2017/08/23/synchronization-patterns.html), which provides a reasonably accessible overview of the [promising semantics](https://sf.snu.ac.kr/promise-concurrency/) research that they participated in as part of the Rust memory model effort. Basically, the goal is to summarize what programmers

[2019-05-11 14:40] leonardo-m opened #60735 "chunks_exact variant with const generic argument"
In the stdlib I'd like an iterator like chunks_exact that yields fixed-sized arrays, using a const usize argument (mostly useful for short arrays).

    .chunks_exact_ct::<3>()
    .map(|[a, b, c]| a + b + c)

Those arrays could allow better optimizations and also better pattern matching.

This issue has been assigned to @DutchGhost via [this comment](https://github.com/rust-lang/rust/issues/60735

[2019-05-11 14:45] yodaldevoid commented on #60619
Updating to latest master which includes #60717 fixes this for my minified case, but there seems to be an additional issue here as the original case still fails.

[2019-05-11 14:47] cramertj commented on #60661
Yeah, but we don't expose anything like that in std today, so you'd have to add it to the lowered crate...

[2019-05-11 14:49] cramertj commented on #60709
@tmandry yeah- the stack slot that it returns to is never going to be hit, though, since it's always pending. Not sure if that matters...

[2019-05-11 14:50] cramertj commented on #60715
Note that this would make it an api-breaking change to add interior mutability to a type.

[2019-05-11 14:51] varkor commented on #60619
The original issue will continue to fail because the expression `{ P }` (for a const parameter `P`) is special-cased to be treated as `ConstValue::Param`, whereas `{ P * 2 }` (and any other more complicated expression) is going to be treated as `ConstValue::Unevaluated`. So I suppose https://github.com/rust-lang/rust/pull/60717 is really just hiding the issue in the reduced test case: there should

[2019-05-11 14:51] timvisee opened #60736 "Missing documentation for while keyword"
I noticed the `while` keyword seems to be missing from the [official documentation][docs]. Keywords like `loop` and `for` are documented. Nor does `while` come up when searching at the top.

Is there a reason for it missing?

[docs]: https://doc.rust-lang.org/std/#keywords

[2019-05-11 14:53] jonas-schievink commented on #60736
These are probably just missing because nobody added documentation for them yet, so feel free to send a PR.

[2019-05-11 15:12] yodaldevoid commented on #60619
Ah, I see, that makes sense. it sounds like #60717 was a bit of a hack, or rather that our AST conversion code is a bit of a hack as it stands now.

It seems like we need to either drill into `ConstValue::Unevaluated` until we are sure there exists no const param anywhere in it, or we need to plug into the `const_eval` mechanism and find const params when it decides a constant is "too generic" (as

[2019-05-11 15:13] #60371 closed

[2019-05-11 15:14] DutchGhost opened #60737 "Weird generated documentation with const generics"
When playing around with const generics, I found some weird generated docs:

http://prntscr.com/nn8fgg

How to reproduce:
[code]
and go to the documentation on the VecSet struct (inside the vecset module), and find the auto impls.

[2019-05-11 15:16] jonas-schievink commented on #60737
My guess is that rustdoc just doesn't yet handle const generics properly

[2019-05-11 15:51] varkor commented on #60619
Yes, I think this is the case. We're being very strict about parameters: at the moment, we only allow quantification directly over a parameter, rather than being in any more complex expression.

At what point are you thinking this should happen? Ideally we want to permit parameters everywhere, but at the moment, I'm assuming we hit this path:
https://github.com/rust-lang/rust/blob/b3207d531d01c1dc

[2019-05-11 15:55] lzutao commented on #60736
If anyone is interested, you need to add documentation here: https://github.com/rust-lang/rust/blob/master/src/libstd/keyword_docs.rs

[2019-05-11 15:55] varkor opened #60738 "Consts in const generics should be pretty-printed"
Often consts are debug-printed (e.g. `ConstValue::Unevaluated(..)`), rather than being pretty-printed. I don't have an exhaustive list of places that need to be fixed here, but I've noticed it in some errors.

[2019-05-11 15:56] varkor commented on #60737
Support for const generics in rustdoc has not been tested very thoroughly at all (I don't think there are any tests in the test suite for it at all yet). We also have a number of issues with pretty-printing consts (https://github.com/rust-lang/rust/issues/60738). That said, I imagine this would not be too difficult to fix: we're getting the right parameter — we're just debug printing it instead of