[2015-06-27 20:02] BigBoneDaddy commented on #26607
@jruderman That is very confused!

[2015-06-27 20:05] steveklabnik commented on #11562
There's a bug filed with Mozilla's legal team, they've been slow to respond though :(

[2015-06-27 20:07] alexcrichton commented on #26618
As @eefriedman mentioned the LLVM versions between emscripten and Rust must be the same, and even after that there's likely some extra work to be done to get things working. Emscripten currently isn't a supported platform, however, so I'd recommend opening an issue in rust-lang/rfcs if you'd like to request support as it will likely be a somewhat significant undertaking.

[2015-06-27 20:07] #26618 closed

[2015-06-27 20:08] alexcrichton commented on #26624
We currently compile as much in parallel as possible, and there are technical limitations preventing us from gaining more parallelism. We certainly plan on exploiting as much as possible, and it will likely always be turned on by default when available, so I'm going to close this as there's not much to track here.

[2015-06-27 20:08] #26624 closed

[2015-06-27 20:13] adjivas commented on #26618
@eefriedman, @alexcrichton, thank you for your recommendation.
@BigBoneDaddy, it's for build my projects to a true terminal's version and web's version but it's essentially by curiosity.

[2015-06-27 20:15] BigBoneDaddy commented on #26618
@adjivas Thank you for explanation! A million apologies from me to you I did not implicate that you are wrong to want what you want! Explore and dig deep my friend! Dig deep into the wild unknown of EcmaScript! :dancers: :dancer: :dancers:

[2015-06-27 20:32] cmr commented on #26612
@lambda Yeah, it looks pretty conservative right now. I suspect many locals would end up on the unsafe stack. Alas.

[2015-06-27 21:50] cmr commented on #24384
Yeah, this has annoyed me recently too, when I originally did this I decided not to validate the precense of extra fields for compatability with future fields in other rustc versions (As otherwise it's not possible to have a new target spec work on an old rustc at all)

[2015-06-27 22:26] reinerp opened #26628 "Missing std::raw type for structs/enums ending in DSTs"
There's no std::raw type to represent these DSTs:

[code]

Either the existing `std::raw::Slice` and `std::raw::Trait` types should document how to be used for the above DSTs, or new types should be defined in `std::raw` for the above examples.

[2015-06-27 23:34] eefriedman commented on #26628
You can safely transmute any DST to either an std::raw::TraitObject or an std::raw::Slice; `*const ()` and `usize` are guaranteed to have the same representation.  I suppose the documentation could make that a bit more explicit, maybe?

[2015-06-27 23:46] reinerp commented on #26628
Yes, improving the documentation would help.

The type parameter `T` in `Slice<T>` is also a bit misleading here. In the case of

[code]

if I transmute to `Slice<u16>` I'll get:

[code]

but the data pointer actually points to `MyDst`, not to a `u16`. I'd consider dropping the `T` type param entirely from `Slice` and just make it:

[code]

[2015-06-28 03:23] liigo commented on #26554
It's not a fully function completed Unicode library, name it `foo_unicode`
will confuse people. Especially, std_unicode implying
standard/official/default unicode. Perhaps we should name it `chars` or
else, avoiding 'unicode'.
On Jun 25, 2015 07:26, "Brian Anderson" <notifications@github.com> wrote:

[2015-06-28 03:57] tamird opened #26632 "build failure on latest llvm 3.7"
[code]
cc @alexcrichton

[2015-06-28 04:38] richo commented on #26632
I have a patch for this https://github.com/richo/rust/commit/c29eeb94ffd70dfe1285f7e5961bf62a7afd2486

But it faults in LLVMBuildLandingPads and I haven't gotten to the bottom of it. You could try cherry picking my patch and see if you make any ground though (I would love to get llvm updated so I can play with safe stacks)

[2015-06-28 04:40] tamird commented on #26632
Yeah, I ended up with the same patch locally and hit a segfault. How did you work out that the problem is in `LLVMBuildLandingPads`?

[2015-06-28 04:41] tamird commented on #26632
Oh, my LLVM must be compiled without assertions. Urgh.

[2015-06-28 04:45] richo commented on #26632
This is partially from memory, I mostly just wanted to share state to hopefully avoid duplicating work (Looks like I was a bit late for that!)

My LLVM was also without assertions, I got as far as running `rustc` in a debugger, and had a quick look at the crash. I've long since blown away that tree, but one sec I can give you some context for the crash on my machine, on the offchance it helps.

[2015-06-28 04:45] richo commented on #26632
This is partially from memory, I mostly just wanted to share state to hopefully avoid duplicating work (Looks like I was a bit late for that!)

My LLVM was also without assertions, I got as far as running `rustc` in a debugger, and had a quick look at the crash. I've long since blown away that tree, but one sec I can give you some context for the crash on my machine, on the offchance it helps.

[2015-06-28 05:46] tamird commented on #26632
Well it turns out having assertions on doesn't help, still just a segfault.

[2015-06-28 05:50] richo commented on #26632
Are you faulting on a `cmp [rcx],0x0` as well?

I didn't dig very far into it, but rcx being not null stuck out as weird. I'll build with symbols now and see if I get anything more, happy to collaborate if you like (I'm `richo` on irc)

[2015-06-28 06:06] tamird commented on #9367
So this reminded me to check thing again, and they totally worked. Looks like LLD is able to link at least a trivial hello world rust program! I've updated https://github.com/tamird/rust_lld for those interested.

[2015-06-28 06:09] #12842 closed

[2015-06-28 06:09] #19992 closed

[2015-06-28 06:09] #24776 closed

[2015-06-28 07:01] Tobba opened #26633 "Type parameter defaults are not checked correctly"
This typechecks:

[code]

Which doesn't really make a lot of sense and seems like it could be a backwards compatibility footgun.

[2015-06-28 07:11] thepowersgang commented on #26469
Possible cause located (thanks @eddyb) - Related to  #26466 - If badly-sized values are passed to asm!, it can cause llvm asserts (or in this case, a crash). Reproduced on playpen and using latest nightly (`rustc 1.3.0-nightly (cb7d06215 2015-06-26)`) with optimisation *enabled* (with out optimisation, an assert is generated instead of a LLVM crash)

[code]

[2015-06-28 07:15] richo commented on #26632
Ok, I tracked down the bug. The signature of LLVMBuildLandingPad has changed, hence a value that makes no sense as the functions name.

@alexcrichton Is there machinery for generating this file? If not I can just go through and update it by hand.

[2015-06-28 07:28] Tobba opened #26634 "Default type parameters are handled improperly when calling methods"
[code]

[2015-06-28 07:50] richo commented on #26632
ok, I have a branch with as far as I'm going to get tonight. This fixes landing pad construction, but fails when trying to process IR because codegen doesn't know that it needs to move the landing pad decl onto the function. Would love to pair with someone to get this along the line!

My branch is here: https://github.com/richo/rust/tree/richo-llvm-upgrade

[2015-06-28 10:03] jroesch commented on #26633
Can you clarify what you are expecting here? this looks fine to me. You are allowed to declare that default and it will be manifested at a call site to `Foo::foo`.

[2015-06-28 10:47] colin-kiegel opened #26635 "Compiler suggests wrong import `collections::borrow` instead of `std::borrow`"
Example
[code]

[results in](play.rust-lang.org):
[code]

it would be correct if it suggested to use `std::borrow::Borrow`

[2015-06-28 10:56] colinmccabe commented on #25540
I encountered the same error when trying to build https://github.com/0xc0170/frdm-kl25z-rust after upgrading Rust to 1.3.0 nightly (cb7d0621556fabcdcc36d0da279305ad285ec662). It turns out I had neglected to rebuild libcore with the new rustc. After doing that the build completed successfully. Unfortunately I can't figure out what version of Rust was installed before -- it may have been from March

[2015-06-28 11:01] eddyb commented on #26633
@jroesch the default depends on `Self: Bar` but that is implicit (due to a use of `<Self as Bar>` projection).
I am not sure that is actually a problem, as it will get type-checked at call sites (not in that specific form, though, not yet. would need defaults to be used in inference for that default to be instantiated).

[2015-06-28 11:12] dumindu commented on #15684
@Noctune This should be reopen.

[2015-06-28 11:16] Noctune commented on #15684
@dumindu Alright, I'll re-open it.

[2015-06-28 13:53] mitaa opened #26636 "ICE using external Trait Impl with associated default type"
[code]

[code]
This causes a ICE:
[code]

If the trait is defined in the same crate it compiles without error.
## Meta

[code]
Backtrace:
[code]

[2015-06-28 14:08] emabee opened #26637 "Dealing with env - lifetime is getting difficult"
Here's a mini version of code I destilled from my attempts to deal with env::args.
[code]
I'd appreciate some help and explanation - I've tried a lot already, using to_owned() etc.
What I wanted to do: learn rust by writing code. Here I wanted to deal with program parameters (intentionally ignoring the libs crates.io).

[2015-06-28 14:19] shepmaster commented on #26637
If you are asking for help, Stack Overflow, the Rust subreddit, or the IRC channel are all more likely places to get it.

[2015-06-28 14:36] wsaar opened #26638 "Compiler panic - assertion failed: !self.has_escaping_regions()"
Compiler panic. Found an ealier issue in the same file that had been closed because the problem had gone away in later compiles. This is the stable 1.1 though.

<b>Version info</b>
rustc 1.1.0 (35ceea399 2015-06-19)
binary: rustc
commit-hash: 35ceea3997c79a3b7562e89b462ab76af5b86b22
commit-date: 2015-06-19
host: x86_64-pc-windows-gnu
release: 1.1.0

<b>RUST_BACKTRACE=1 rustc --verbose src/main.rs<

[2015-06-28 14:37] Stebalien commented on #26637
Or the forum. Also, you might find https://github.com/rust-lang/rust/pull/26623 useful.

[2015-06-28 14:56] iopq commented on #25781
@ndarilek try this work-around: https://iopq.wordpress.com/2015/03/09/how-to-update-the-path-variable-on-windows-without-logging-off-or-rebooting/

[2015-06-28 14:58] iopq commented on #25565
I'm a Windows user and not only did I not know that I have to dig into Advanced to get the path, I think uninstalling should remove from path when you remove the folder.

[2015-06-28 16:56] arielb1 commented on #26638
Does this reproduce on 1.2.0 (or nightly)? If not, could you provide us the source?

[2015-06-28 17:00] arielb1 commented on #26637
This isn't a bug in rustc.

[2015-06-28 17:00] #26637 closed

[2015-06-28 17:07] arielb1 commented on #26637
To be more precise, your code doesn't have any use-after-free in it. It is just that a variables declared earlier (in your case, `vec0`) are *required* to be valid after variables declared later (in your case, `vec1`) are destroyed. This can be overcome easily, either by reordering the variables:
[code]

Or you could even declare the variables simultaneously:
[code]

[2015-06-28 20:35] alexcrichton commented on #26632
Ah yeah I noticed that this syntax change happened soon after we landed the LLVM upgrade. I'm going to close this bug because we're not really guaranteeing that we work with an arbitrary LLVM commit at any point in time, but @richo is right in that the "fix" for this would be to upgrade LLVM.

@richo I suspect that we'd just need to find where the personality function is added to a function declar

[2015-06-28 20:35] #26632 closed

[2015-06-28 20:46] Tobba opened #26639 "File paths in --target are handled in a sub-par manner"
Currently if a file path is passed to --target it will be used as the target name. This has a few nasty side effects:
- If relative paths are used different relative paths pointing to the same file will be seen as different targets
- Relative paths pointing to _different_ files may result in a match
- If absolute paths are used the target specifications may not be moved around the filesystem witho

[2015-06-28 20:46] Tobba commented on #26639
The workaround for this is using the (mostly) undocumented RUST_TARGET_PATH environment variable.

[2015-06-28 20:54] Tobba opened #26640 "funcs::posix::fcntl::open from libc magically becomes a public symbol"
Minimal test case:

[code]

Compile with:

[code]

[2015-06-28 21:02] zegl opened #26641 "Compiler error - cannot relate bound region: ReScope(Misc(1068)) <= ReLateBound(DebruijnIndex { depth: 1 }, BrAnon(0))"
# Error

I've been playing around with rust for a while, and while trying something new out, this happened:

[code]

# Code

This code will reproduce the error:

[code]

# Meta

[code]

# Backtrace

[code]

[2015-06-28 21:16] jroesch commented on #26633
@eddyb yeah that was my point, currently we don't actually check implied constraints like that in most places. You can do similar things in trait declarations but will receive a type error at a call site.

[2015-06-28 21:16] wsaar commented on #26638
Here is the trace from 1.3.0 nightly

$ RUST_BACKTRACE=1 rustc src/main.rs
error: internal compiler error: unexpected panic
note: the compiler unexpectedly panicked. this is a bug.
note: we would appreciate a bug report: https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md#bug-reports
thread 'rustc' panicked at 'assertion failed: !self.has_escaping_regions()', ../src/librustc\middle\ty.rs

[2015-06-28 21:33] wsaar commented on #26638
Uploaded the code that produces the problem here
https://github.com/wsaar/fragments/blob/master/rust-issue-26638_main.rs

[2015-06-28 22:37] eefriedman commented on #26638
Reduces to
[code]

[2015-06-29 00:28] sj6219 opened #26643 "function calls in statics cause internal compiler error"
Source is very simple.

//
//
static F : Box< Fn(i32) -> i32 > = Box::new(move |x:i32| x);

fn main() {
}
//
//

this code generate fault as follows.

src\main.rs:2:34: 2:58 error: function calls in statics are limited to struct an
d enum constructors [E0015]
src\main.rs:2 static F : Box<Fn(i32) -> i32> = Box::new(move |x:i32| x);
                                               ^~~~~~~~~~~~~~~~~~~~

[2015-06-29 01:50] eefriedman commented on #26638
I think I've tracked this down to a bug in ty::accumulate_lifetimes_in_type: it ignores the trait's Binder, and therefore returns a region with the wrong De Bruijn index.  @nikomatsakis , you were the last one to touch this, I think?

[2015-06-29 03:19] retep998 commented on #26591
Since build scripts link to their dependencies dynamically instead of statically, this means that statics have to be properly marked with dllimport and dllexport, unlike for functions where those attributes can be left off with only a minor performance hit. MinGW's `ld`patches up those missing references for us which is why the MinGW version works, but MSVC's `link` does not.

[2015-06-29 04:46] Gankro opened #26646 "#[repr(C)] #[repr(packed)] incorrectly warns about unused attribute"
[code]

[code]

[2015-06-29 05:24] tomaka commented on #26591
cc @alexcrichton I guess

[2015-06-29 05:49] SimonSapin commented on #26625
Untested fix:

[code]

[2015-06-29 05:56] saixmh opened #26647 "Compiler on windows 8.1 issues"
Source compiled to binary can not be run. But after I use UPX to compress the binary, it can be run successfully.

[2015-06-29 05:58] uzytkownik opened #26648 "Inline assembly disappears from output"
It seems like bug in LLVM generator. Code

[code]

Produces correct LLVM IR:

[code]

But the output sometimes does not contain the instruction and the value of `rip` is `0x1d1d1d1d1d1d1d1d`.

[2015-06-29 06:21] huonw commented on #26647
Could you be more specific? E.g. what source? In what way does it fail to run?

[2015-06-29 06:39] richo commented on #26632
Closing the issue seems entirely reasonable, but I'm going to keep dumping state here if that's ok, since it seems as reasonable place as any. I dug a fair bit further into this on that same branch (Which now has a lot of yolo printf debugging in it).

I got as far as finding out that putting a personality on functions without landing pads is entirely broken, and discovering that the functions tha

[2015-06-29 06:40] jroesch commented on #26516
Yeah I believe that it is definitely implementable, just not sure if the internals are currently factored in such a way that will allow us to do this easily. I hope to have some time to generally improve trait resolution and indirectly error reporting this summer. Of course if some one else has a patch I'm sure everyone would be interested :)

[2015-06-29 07:50] Gankro commented on #26403
Worth noting that tuples have their last field ?Sized, so any decision here may affect them too.

[2015-06-29 08:09] emabee commented on #26637
Got it, thanks!
And the difference to the second example (that would compile) is that with
```let vec1: Vec<_> = env::args().collect();```
a couple of new Strings come into life, so it does matter where within main() this happens, while
```let vec1: Vec<_> = vec!["foo", "bar"];```
manages references to 'static strings, which live even longer than any variable in main().

[2015-06-29 09:30] eddyb commented on #26403
@Gankro you sure? I'd be very surprised if that were the case, as I've never seen any compiler code supporting unsized tuples (or enums, for that matter).

[2015-06-29 10:27] Aatch commented on #26403
@Gankro @eddyb seems to be right: https://play.rust-lang.org/?gist=38f03e1c1ed02dafffa9&version=nightly

[2015-06-29 11:16] KostaCitrix commented on #12842
First of all: Thank you so much for fixing this! This is awesome! :+1:

Is there a way to detect at _compile_ time or at _application init_ time whether a panic'ing API would be used? If I have an app that should run on Windows XP, I don't want to have to test _every_ code path to make sure some unsupported API doesn't panic...

Thanks in advance for your consideration! :)

[2015-06-29 11:48] whitequark opened #26650 "io::Seek should implement .tell()"
A `file.tell()` is much nicer than `file.seek(std::io::SeekFrom::Current(0))`. Additionally, I think `.tell()` doesn't need the file to be mutably borrowed (but I'm not sure).

[2015-06-29 13:40] steveklabnik commented on #12842
Not currently, no.

[2015-06-29 14:02] Roxxik commented on #26449
I've investigated this a little further:
libcore cannot be compiled without mmx, sse and sse2
the following commands all fail
$ rustc -O -g --crate-type=lib --emit=link --emit=obj -C target-feature=-mmx --crate-name core lib.rs
LLVM ERROR: SSE register return with SSE disabled
$ rustc -O -g --crate-type=lib --emit=link --emit=obj -C target-feature=-sse --crate-name core lib.rs
LLVM ERROR: SSE regi

[2015-06-29 14:27] KostaCitrix commented on #12842
Is this planned or possible? I think that would be crucial to be able to write code without being "really careful about which APIs to use". If I wanted to be careful, I wouldn't choose Rust ;)

[2015-06-29 14:27] jcmiller11 opened #26652 "Configure File's Regular Expression no longer valid for newest version of Apple's LLVM"
At line 990 the Clang version checking does the following:

sed 's/.*\(version .*\)/\1/; s/.*based on \(LLVM .*\))/\1/' \

It looks like in the newest version of Apple's LLVM they removed the "based on (LLVM *)" part.  Running Clang --version returns

Apple LLVM version 7.0.0 (clang-700.0.53)

I could have submitted a simple patch to get around this, but since it looks like Apple is just going to

[2015-06-29 14:48] steveklabnik commented on #12842
Not currently. You may want to open an issue on the RFCs repo and/or write up an RFC with details on how to do such a thing. :)

[2015-06-29 15:12] saixmh commented on #26647
Thanks. Anything sources can be compiled but not run. (windows 8.1 chinese)
E.g.
[code]
[code]
The error message just like: test.exe has already stop working.
With this information:
[code]
I'm sorry for my terrible translations. After compress, it can run normally.
[code]

[2015-06-29 15:18] tshepang commented on #12842
@KostaCitrix I'm sure I understand this joke:

Do you mean Rust is too young?

[2015-06-29 15:32] KostaCitrix commented on #12842
I meant "If I wanted to be careful _about which API to call in order to not panic_, I wouldn't choose Rust". I want my rust to "it compiles, let's ship it" ;)

[2015-06-29 16:01] alexcrichton opened #26654 "Investigate fallback implementations on Windows XP"
Right now we have a [large list](https://github.com/rust-lang/rust/blob/40db46c6ba0d59e5ad9aa056a73055d2d3b83d04/src/libstd/sys/windows/c.rs#L415-L474) of APIs we're using on Windows which aren't available on XP. The fallback implementations range from "call SetLastError" to "panic when called". There are likely at least somewhat compatible fallbacks in each situation that can be used:
- Condition

[2015-06-29 16:09] mitaa commented on #26652
dup of #26292

[2015-06-29 16:21] arielb1 opened #26655 "Enum destructors don't get run while unwinding"
[code]

Notice that `Dropping` won't get printed.

[2015-06-29 16:25] arielb1 opened #26656 "dropck can be bypassed via a trait object method"
## STR
[code]

This fails the assertion. cc @pnkfelix. I think the problem here is that `Box<Trigger<B>+'static>` does not require that `B: 'static` (cc @nikomatsakis).

[2015-06-29 16:27] arielb1 opened #26657 "dropck can be bypassed via associated types"
## STR

[code]

## Notes

This seems like just an implementation bug to me - we should check that projections are also drop-valid. cc @pnkfelix.

[2015-06-29 16:35] alexcrichton commented on #26656
triage: I-nominated

[2015-06-29 16:36] alexcrichton commented on #26652
Thanks @mitaa!

[2015-06-29 16:36] #26652 closed

[2015-06-29 16:37] arielb1 commented on #8636
This limitation doesn't have anything to do with slice patterns. It is even well-documented as `E0009`.

[2015-06-29 16:54] arielb1 commented on #10481
The last of these is just a duplicatet of #10184, the others are expected behaviour.

[2015-06-29 16:54] #10481 closed

[2015-06-29 16:58] arielb1 commented on #23032
Backtrace?

[2015-06-29 17:06] arielb1 commented on #18296
This gives a privacy error now. Not sure this is a bug.

[2015-06-29 17:08] arielb1 commented on #18240
Trait matching got refactored in-between - I'll close this.

[2015-06-29 17:08] #18240 closed

[2015-06-29 17:09] arielb1 commented on #18154
The segfault is gone BTW

[2015-06-29 17:10] alexcrichton commented on #26650
Thanks for the report! Additions to the standard I/O traits, however, should go through the RFC process, so this issue should go into rust-lang/rust instead of this repo.

[2015-06-29 17:10] #26650 closed

[2015-06-29 17:10] alexcrichton commented on #26650
Er, rust-lang/rfcs*

[2015-06-29 17:10] arielb1 commented on #17756
This works on 1.1+:
[code]

[2015-06-29 17:12] frewsxcv commented on #23032
No luck getting a backtrace:

[code]

At the time of writing, this is still an issue on stable, beta, and nightly channels

[2015-06-29 17:16] Gankro commented on #26403
https://github.com/rust-lang/rfcs/blob/master/text/0401-coercions.md#coercions specified this (last bullet of "coerce_inner").

https://github.com/rust-lang/rfcs/blob/master/text/0982-dst-coercion.md does not appear to overturn this decision.

If it doesn't work, it's a bug.

[2015-06-29 17:28] arielb1 commented on #25801
cc #26324

[2015-06-29 17:30] arielb1 commented on #24152
Seems like a dupe of #25679

[2015-06-29 17:47] steveklabnik commented on #3232
Given that this is mentioned in https://github.com/rust-lang/rfcs/issues/440, I'm going to be closing as 'not a bug' at this time, anyway. If we decide to improve macros, this is something that'd be nice to fix, for sure, but that RFC issue will be where that happens.

[2015-06-29 17:47] #3232 closed

[2015-06-29 17:49] arielb1 commented on #13902
You need to use `const` instead of `static` of course.

[2015-06-29 17:53] steveklabnik commented on #13254
I believe we do this now, right @brson @edunham ? https://static.rust-lang.org/dist/staging/index.html has signatures

[2015-06-29 17:58] alexcrichton commented on #13254
Currently we just sign nightlies, not snapshots unfortunately

[2015-06-29 17:58] steveklabnik commented on #13810
How relevant is this issue today? I don't have a Windows machine...

[2015-06-29 18:09] arielb1 commented on #23111
Duplicate of #26638.

[2015-06-29 18:09] #23111 closed

[2015-06-29 18:33] anfractuosity commented on #12842
I'm waiting for the nightly to try out this patch.

When I run my Rust program on WinXP at the moment currently I get 'the procedure entry point TryAcquireSRWLockExclusive could not be located in the dynamic link library kernel32.dll'

With this patch, I'm wondering, will my program likely just panic out, or may it run.

[2015-06-29 18:43] ptal commented on #24914
After investigations, it is normal that the code does not compile. This is due to the introduction of `ImplItem`. We tried to add free functions of type `Item` as method of an implementation (that should be of type `ImplItem`).

So the only problem is the bad error message.

[2015-06-29 18:55] alexcrichton commented on #12842
This will take some time to propagate into the nightlies currently. The 32-bit Windows compiler is currently still using MinGW and is unlikely to work on Windows XP (although I have not tested this). The triple I tested was `i686-pc-windows-msvc`, which we currently cannot build a compiler for due to [this LLVM bug](https://llvm.org/bugs/show_bug.cgi?id=23957). Instead you'd need to build a compil

[2015-06-29 18:57] steveklabnik commented on #4950
Update: this code is now in https://github.com/rust-lang/rust/blob/216f6645ef0c93776e9f350f29c02780fb7bf673/src/librustc_resolve/lib.rs#L1742-L1758 and the `for` loop has been fixed.

[2015-06-29 18:58] whitequark commented on #26650
And... you're just closing? That's not a very nice way to handle this...

Anyway, https://github.com/rust-lang/rfcs/issues/1181.

[2015-06-29 19:13] eddyb commented on #26403
@Gankro 401 is obsolete wrt unsizing. 982 specifies `struct` only, and that's it. Nothing else is specified atm. If there is a bug, it's that 982 doesn't make it clear that it obsoleted 401's unsizing, which was overreaching and remained unimplemented.

[2015-06-29 19:13] eefriedman commented on #26648
Umm, I think you meant to write "leaq (%rip), %rax"?  You can't MOV out of RIP.

It's probably a bug that LLVM doesn't reject it, though.

[2015-06-29 19:14] anfractuosity commented on #12842
Thanks a lot!

I'll give that a shot, I didn't realise it requires a separate target

[2015-06-29 19:19] #26471 closed

[2015-06-29 19:22] nagisa commented on #26590
Is there any way to see backtrace at the time of exception?

[2015-06-29 19:27] tomaka commented on #26590
I don't think so :-/

[2015-06-29 19:27] mkpankov opened #26661 "TRPL broken link"
The page at https://doc.rust-lang.org/stable/book/academic-research.html has [Scheduling techniques for concurrent systems](http://www.ece.rutgers.edu/%7Eparashar/Classes/ece572-papers/05/ps-ousterhout.pdf), which is 404

/cc @steveklabnik

[2015-06-29 19:36] steveklabnik commented on #15479
The error _now_ says that `error: the trait `core::iter::FromIterator<&Foo>` is not implemented for the type `collections::vec::Vec<Foo>` [E0277]`, so I think this is basically fixed. @Manishearth , if you can come up with a different reproduction of this squiggle being wrong, let me know.

[2015-06-29 19:36] #15479 closed

[2015-06-29 19:38] eefriedman commented on #25205
The "compiletime" label seems wrong: this can't compile.  There's an infinite monomorphization loop.

Reduced example:

[code]

[2015-06-29 19:41] steveklabnik commented on #15391
I'm going to close this issue for being a bit too vague. If you see something like it with some concrete code, please open a new issue so we can tackle those specific issues.

[2015-06-29 19:41] #15391 closed

[2015-06-29 19:42] eefriedman commented on #25205
Oh, and this appears to be fixed; on nightly, it gives "error: reached the recursion limit during monomorphization".

[2015-06-29 19:43] steveklabnik commented on #15355
This is now fixed. It suggests casting through `usize`, then actually compiles and runs just fine.

[2015-06-29 19:43] #15355 closed

[2015-06-29 19:45] steveklabnik commented on #15303
This has gotten fixed somewhere down the line, as both error for me with `usize`.

[2015-06-29 19:45] #15303 closed

[2015-06-29 19:51] steveklabnik commented on #15282
This kind of code isn't even legal anymore:

[code]

This would seem to be ' Alternatively, we could disallow generics on impl blocks that are not used as type parameters on the implementing type.'

Closing!

[2015-06-29 19:51] #15282 closed

[2015-06-29 19:52] steveklabnik commented on #15278
Triage: still true as of `rustc 1.3.0-nightly (8fa2185e0 2015-06-27)`

[2015-06-29 19:54] steveklabnik commented on #15268
I am not sure, but given that this code is very old, I'm going to give this ticket a close.

If someone else has a specific, current way to produce an ICE in a syntax extension, please file a new issue.

[2015-06-29 19:54] #15268 closed

[2015-06-29 19:55] steveklabnik commented on #15193
Closing until proven not-guilty.

Or something.

[2015-06-29 19:55] #15193 closed

[2015-06-29 19:57] steveklabnik commented on #25205
Yup, it's fixed on nightly. Thanks @dpc for reporting and @eefriedman for double-checking!

[2015-06-29 19:57] #25205 closed

[2015-06-29 20:00] steveklabnik commented on #13254
Ah! Right.

[2015-06-29 20:19] steveklabnik commented on #15432
I'm not sure how this has gottne shuffled, but `to_str_digits` nor most of these modules still exist. Let me know if this refactor is still worthwhile!

[2015-06-29 20:19] #15432 closed

[2015-06-29 20:32] marcusklaas commented on #23666
I believed this has been resolved now. The new metadata functionality is pretty sweet!

[2015-06-29 20:32] #23666 closed

[2015-06-29 21:03] nham commented on #22599
Smaller example with the same error:

[code]

[2015-06-29 21:31] eefriedman commented on #23032
A somewhat more clear testcase:
[code]

[2015-06-29 21:39] azerupi commented on #26016
I haven't read into details yet, but this page has some info: http://javascript.info/tutorial/keyboard-events

**Especially:**

[code]

At the moment the docs use the `keyup` event

I will make some tests when I have time, unless someone beats me to it :)

[2015-06-29 21:54] jbornschein opened #26665 "Changing a moved struct"
I was very surprised that this code compiles and outputs `1`. When I try to print `a.val` after the assignment I get a compile error -- as I expected.

Assuming A has move semantics, this should IMHO never compile ... and/or, (according to my newbie mental model of move semantics) output a 2.

    struct A {
        val: i32
    }

    fn main() {
        let mut a = A{val: 1};
        let a_ = a;

[2015-06-29 22:05] steveklabnik commented on #26665
/cc @rust-lang/lang

This isn't unsafe or anything, but we may want to change that? Or have a diagnostic of some kind?

[2015-06-29 22:11] azerupi commented on #24355
It may be a good idea to use a CDN for the font's (like [Google font](https://www.google.com/fonts/specimen/Fira+Mono)) with a local fallback when the CDN can't be reached, for example when offline. This has a couple of advantages

- loading the latest version from the CDN
- parallel http request and thus faster load times
- if the font from the CDN has been loaded on another page, it will be cach

[2015-06-29 22:12] huonw commented on #26665
Local variables are semantically memory locations on the stack, which can own values. Move semantics means that something like `let a_ = a;` moves the *value* out of `a` (into a new independent stack slot `a_`), leaving the latter as an "empty" stack slot. It's possible to reinitialise the slot (i.e. put a new value into it) and continue to use it, e.g. `a = A { val: 2 }; println!("{}", a.val);` w

[2015-06-29 22:12] #26665 closed

[2015-06-29 22:18] Gankro commented on #26403
Works for me :+1:

[2015-06-29 22:22] jbornschein commented on #26665
Thanks for the explanation!

[2015-06-29 22:50] richo commented on #26632
I did a tiny bit more refactoring this morning, but I also thought about it a lot more overnight. My plan for this evening is to go back and instrument the implementation on master to panic when it tries to attach a personality to a landingpad, which will hopefully give a meaningful stack trace that elucidates the conditions under which we need to attach to a function in the new world.

[2015-06-29 22:52] tamird commented on #26632
Good stuff, I'll be following along :)

[2015-06-30 00:05] anfractuosity commented on #12842
I'm a tad confused I've ended up with a rustc in the stage2 dir you mention however during compilation I got

[code]

I've tried doing
[code]

[2015-06-30 00:12] frewsxcv commented on #17756
Regression test added in #26668

[2015-06-30 00:29] frewsxcv commented on #13902
Regression test added in #26670

[2015-06-30 01:45] #21705 closed

[2015-06-30 01:45] #26333 closed

[2015-06-30 03:14] logannc commented on #21232
Real quick question after seeing this on Reddit:

When we are "writing into the uninitialized memory that resulted from moving p into the closure", where does that written value go? Does the compiler actually emit write instructions? If so, could that lead to a vulnerability by overwriting an important field?

(I would check the LLVM output myself, but I wouldn't have a clue how to read it.)

[2015-06-30 03:18] #18183 closed

[2015-06-30 03:18] #26638 closed

[2015-06-30 03:18] #26655 closed

[2015-06-30 03:21] huonw commented on #21232
It will generate writes to `p`'s stack slot, but it shouldn't cause any problems: see also https://github.com/rust-lang/rust/issues/26665.

[2015-06-30 03:34] eefriedman commented on #23032
Err, a much more clear testcase:
[code]

[2015-06-30 03:37] frewsxcv commented on #23032
@eefriedman Both of those examples seem to not cause an ICE:

http://is.gd/awTiuu

http://is.gd/w6HUF9

[2015-06-30 03:47] eefriedman commented on #23032
If you flip the declaration of C and ALNUM, it ICEs.  The accepts-invalid and crash-on-invalid are essentially two variants of the same issue.

[2015-06-30 04:57] frewsxcv commented on #26643
This causes an ICE on 1.1.0. This does not cause in ICE on 1.2.0 beta.

I assume this caused by the use of a static closure. If so, this is a duplicate of https://github.com/rust-lang/rust/issues/25180

[2015-06-30 07:08] azerupi opened #26672 "make command for js and css in docs"
It would be really great to have a make command for when only the `js` or `css` files are modified in the docs. At the moment we have `make docs` and `make trpl` but this builds quite a lot and when no rust file has been modified it does nothing...

I have to modify a rust file (and revert it) to be able to trigger a build when I work on the `js` and `css` files.

[2015-06-30 07:30] frewsxcv opened #26673 "rustdoc: Pressing back after search doesn't reset <title>"
1. Navigate to https://doc.rust-lang.org/nightly/std/index.html
2. Type a query in the search bar (wait for results to appear)
3. Take note of the title of the search results
3. Press 'back' and notice how the title doesn't reset

[2015-06-30 07:42] kworr opened #26674 "unreachable pattern in match"
Here I have a sample:

    fn test (x: u32, y: u32) {
      match x {
        1 => println!("1"),
        y => println!("y"),
        _ => println!("_"),
      };
    }

    fn main() {
      test(5, 4);
    }

It fails with "unreachable pattern" at "_" which actually is a case that should be executed. Probably a flow in statical analysis. My rust is 1.1.

[2015-06-30 08:01] mitaa commented on #26674
This code doesn't do what you think it does ->
The second arm unconditionally binds x to a new variable (just like `let` would).

You'd have to write:
[code]

[2015-06-30 08:04] #17756 closed

[2015-06-30 08:40] thepowersgang opened #26676 "rustc build warning: diagnostic code E0045 already used"
When building current rust master, the following warning is emitted (non-fatal)

[code]

[2015-06-30 08:48] azerupi commented on #26016
@bluss I made a pull request but it needs some testing, could you try http://www.mathieudavid.org/test/rustdoc/std/index.html and let me know if it works? It fixed the issue for me but I only tested it with an Azerty keyboard on Google Chrome.

[2015-06-30 08:59] bluss commented on #26016
Nice! Tested with Firefox & Chromium and it works well.

[2015-06-30 09:03] dotdash commented on #26674
Thanks @mitaa

[2015-06-30 09:03] #26674 closed

[2015-06-30 09:04] azerupi commented on #26016
Perfect :) Thank you for testing

[2015-06-30 09:10] thepowersgang commented on #26676
A quick check of the repo using github's search shows that [librustc_typeck/check/mod.rs L697](https://github.com/rust-lang/rust/blob/master/src/librustc_typeck/check/mod.rs#L697) and [src/librustc_typeck/astconv.rs L1565](https://github.com/rust-lang/rust/blob/master/src/librustc_typeck/astconv.rs#L1565) both define E0045

[2015-06-30 09:39] gnzlbg commented on #21232
@logannc If one omits the assignment to `a`:

[code]

the optimizer should omit the stack slot of  `a` since assigning to `a` and then moving into `a_` should be optimized into just initializing `a_`.  However, the code in the example is equivalent to just initializing `a_` and having an uninitialized `a` variable that is initialized later:

[code]

[2015-06-30 10:26] #13902 closed

[2015-06-30 10:48] arielb1 commented on #26676
Can the code in `check` even be reached?

[2015-06-30 11:29] retep998 commented on #26591
See also https://github.com/rust-lang/rust/issues/7196

[2015-06-30 12:30] goyox86 opened #26679 "ICE Compiler Panicks while compiling exa"
Trying to compile via 'cargo build' the latest master of  the crate https://github.com/ogham/exa results in a ICE.

I tried this code:

[code]

I expected to see this happen:

The crate to compile successfully.

Instead, this happened: got an ICE.

Complete output here: -> https://gist.github.com/goyox86/e442adca31c1626badcc
## Meta

`rustc --version --verbose`:

rustc 1.3.0-nightly (e6596d005 201

[2015-06-30 12:54] #26661 closed

[2015-06-30 12:55] jooert commented on #26673
Which browser are you using? It does work fine for me in Firefox 38 under Linux.

[2015-06-30 13:31] michaelsproul opened #26680 "Default associated types defined in terms of other associated types don't work."
I was trying to do something like this:

[code]

It fails on nightly with the following message:

[code]

My intention was for the `Self::KV` type to act as a local type alias (typically not override by implementers). From the [RFC][rfc] I got the impression that this should be supported:

[rfc]: https://github.com/rust-lang/rfcs/blob/master/text/0195-associated-items.md#defaults

[2015-06-30 13:47] mitaa commented on #26641
Reduced

[code]

[2015-06-30 14:11] pnkfelix commented on #26676
How about we just factor out the common three-lines of the check into its own subroutine in the crate, to placate the duplicate-checker.

[2015-06-30 14:23] arielb1 commented on #26643
Duplicate of #25180.

[2015-06-30 14:23] #26643 closed

[2015-06-30 14:31] arielb1 commented on #26680
That part of the RFC wasn't yet implemented.

[2015-06-30 15:00] arielb1 opened #26681 "Resolution problem with associated types with defaults"
## STR

[code]
## Results

[code]

Removing the default (`#[cfg(works)]`) removes the error. cc @quantheory

[2015-06-30 15:13] #26571 closed

[2015-06-30 15:54] frewsxcv commented on #26673
Latest stable Firefox and latest stable Chrome on OSX 10.10

[2015-06-30 16:06] alexcrichton commented on #12842
@anfractuosity you probably won't get very far if the build doesn't complete, so I'd start out diagnosing why `rust_try_msvc_32.o` didn't build. Perhaps a reconfigure was needed?

[2015-06-30 16:11] jimrandomh commented on #20475
This isn't just for error buffers, and this is very problematic even if the function is guaranteed to set the buffer and terminate it with a null. As part of my first Rust project, I'm trying to call ptsname_r to get a string, and pass the result to open(2). Hours later, I still haven't found a way to do this correctly, even awkwardly. The given example does not compile in current versions of Rust

[2015-06-30 16:24] filsmick commented on #26673
Doesn't reset for me on OS X 10.10.2 (Yosemite), Chrome 43.0.2357.130.

[2015-06-30 16:26] thelostt commented on #26673
Doesn't reset here. Mozilla Firefox 38.0.5

[2015-06-30 16:35] nhowell commented on #23900
I'm not seeing these 404s. Has it since been fixed?

Unrelated: I've noticed that the sidebar doesn't highlight the active module in the sidebar, though. (Structs, functions, et al. get highlighted when active, though). Seems like a bug to me.

[2015-06-30 16:37] steveklabnik commented on #23900
I am not seeing them anymore as well, so I think this has. Thanks for the prompt!

[2015-06-30 16:37] #23900 closed

[2015-06-30 16:51] MrAlert commented on #26654
I'm looking into implementing SRWLocks and condition variables in a similar way to their actual implementation in Vista+ (atomics and [keyed events](http://joeduffyblog.com/2006/11/28/windows-keyed-events-critical-sections-and-new-vista-synchronization-features/).) Keyed events are undocumented and don't perform as well under XP as they do under Vista+, but for compatibility code, I think it would

[2015-06-30 16:52] arthurprs commented on #26516
Big +1 to this, lots of people are bit by this.

Including me: https://internals.rust-lang.org/t/better-error-message-when-method-name-matches-but-not-the-where-clause/1779

[2015-06-30 16:59] eefriedman commented on #9837
This is fixed in nightly.

[2015-06-30 17:00] eefriedman commented on #9837
Err, wait, nevermind, wrong bug; sorry about the noise.

[2015-06-30 17:02] eefriedman commented on #20600
This is fixed in nightly.

[2015-06-30 17:04] steveklabnik commented on #20600
Confirmed, thanks @eefriedman !

[2015-06-30 17:04] #20600 closed

[2015-06-30 17:32] alexcrichton commented on #12842
Oh wow it looks like I just totally forgot to commit the file! I'll add it in a PR I'm prepping now, but you can add `src/rt/rust_try_msvc_32.ll` with these contents:

[code]

[2015-06-30 17:33] arielb1 commented on #26680
This would be a [breaking-change], so I think we missed it.

[2015-06-30 17:53] Yamakaky opened #26685 "Permissions in the source tarball"
Currently, the files in the source tarball have permissions 600, and 700 for directories. Shouldn't it be 644 and 755 ? I'm packaging the sources for Archlinux, and I need to change the permissions for the files to be world-readable.

Tested : https://static.rust-lang.org/dist/rustc-1.1.0-src.tar.gz

[2015-06-30 17:54] alexcrichton commented on #26685
cc @brson

[2015-06-30 17:59] anfractuosity commented on #12842
Cheers!  That works for me.

In msys2 I did, just so I don't forget ;)

[code]

[2015-06-30 18:56] jooert commented on #26673
My browser probably cached an old version, now it doesn't reset on my setup, too.

[2015-06-30 19:43] anfractuosity commented on #12842
Just wondering if anyone can point me in the right direction, I can compile a simple rust program fine, but I'm getting the following error with a more complex one:

[code]

[2015-06-30 20:02] #25483 closed

[2015-06-30 20:22] MrAlert commented on #12842
The MinGW target seems to work for Windows XP. Or at least `stdtest-i686-pc-windows-gnu.exe` gets this far:
[code]
Looks like the test infrastructure already relies on condition variables for something.

[2015-06-30 20:27] MrAlert commented on #26654
Since the `TryAcquireSRWLock*` functions are unavailable in Vista, but SRWLocks are otherwise available, I'm thinking we should also split the compatibility fallbacks into groups where all the fallbacks will be used if ANY of the functions are unavailable, since the compatibility implementations of `TryAcquireSRWLock*` are unlikely to be compatible with the real thing.

[2015-06-30 20:55] alexcrichton commented on #26625
triage: P-high

We're also likely to backport the fix to beta. Note that this is not broken on 1.1.0 stable but it is broken on 1.2.0.

[2015-06-30 21:00] pornel opened #26689 "Warn that Chars iterator does not iterate "characters""
The `Chars` iterator iterates over Unicode Scalar Values, but when people think about "characters" they usually mean something closer to what Unicode calls "grapheme clusters".

This leads to surprising results and thus potential errors, [for example][1]:

    "éé".chars().count() == 3
    "🇺🇸".chars().count() == 2

I suggest adding a warning to the documentation that this iterator isn't iteratin

[2015-06-30 21:10] steveklabnik commented on #26689
Rust's `char` type is a unicode scalar value, and its documentation does currently say 'codepoints', explicitly: http://doc.rust-lang.org/stable/std/primitive.str.html#method.chars

[2015-06-30 21:25] pornel commented on #26689
The documentation is technically correct, but I think insufficient to prevent users from falling into a trap.

The difference between Unicode codepoint and a character is subtle and tricky, and to make it worse in most cases (and all examples in Rust documentation) it _appears_ to be the same thing.

The documentation shows only simple cases where one codepoint is one grapheme cluster, which—along

[2015-06-30 21:25] anfractuosity commented on #12842
@MrAlert Was that using the latest nightly build then?

[2015-06-30 21:37] eefriedman commented on #26308
Working on nightly.

[2015-06-30 21:37] #26308 closed

[2015-06-30 21:39] #26646 closed

[2015-06-30 22:06] nrc opened #26690 "prelude_import should be unstable?"
cc @chris-morgan, @eddyb

If this is a bug, we should fix it asap.

[2015-06-30 22:09] eddyb commented on #26690
@brson can the impact be estimated without merging a patch to make `#[prelude_import]` unstable?

[2015-06-30 22:14] steveklabnik commented on #26689
Yeah, I guess what I meant was "here's what we have, what specifically could improve?"

A PR would be a great way to workshop it :)

[2015-06-30 22:47] azerupi commented on #16572
I made a pull request for this #26675 there is a more recent duplicate issue #26016.

[2015-06-30 22:48] steveklabnik commented on #26507
Yeah, after thinking about this more, given that the book isn't exactly a reference, I think this is fine.

[2015-06-30 22:48] #26507 closed

[2015-06-30 22:49] steveklabnik commented on #26497
cc @rust-lang/libs , is this the actual behavior we want? if so, I can document it

[2015-06-30 23:10] aturon commented on #26497
@steveklabnik Yes, this is the intended behavior.

[2015-06-30 23:47] #26636 closed

[2015-07-01 01:18] michaelsproul commented on #26680
Ah yes, you're right. We don't have the default type/default method interaction at all:

[code]

[code]

You're also right about it being a breaking change, in the example above, adding the `Display` bound allows it to compile. Overriding `X` in an implementation then allows `foo` to keep working without redefinition, which would be broken with the new/RFC rules.

[2015-07-01 01:20] #26620 closed

[2015-07-01 01:43] eddyb commented on #26690
If [GitHub search](https://github.com/search?l=rust&q=prelude_import&type=Code&utf8=%E2%9C%93) is to be believed, the only uses of `#[prelude_import]` appear only in the compiler and in pretty-printed output.

[2015-07-01 02:08] alexcrichton opened #26697 "Add conversions from Box<str> and String"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1152

[2015-07-01 02:09] frewsxcv commented on #18304
I don't have a BSD machine to test this on; can anyone else confirm if this is still a valid issue?

[2015-07-01 02:15] frewsxcv commented on #20018
I updated the code to compile with 1.1:

[code]

Playpen: http://is.gd/kEYfDA

[code]

The error seems less obscure now, so it might be okay to close this?

[2015-07-01 02:18] frewsxcv commented on #16801
There is a third party crate for ascii available here:

https://github.com/SimonSapin/rust-ascii

This can probably be closed

[2015-07-01 02:22] frewsxcv commented on #19578
Playpen: http://is.gd/xCtbIm

This is currently possible as of 1.1.0. This can probably be closed

[2015-07-01 02:29] frewsxcv commented on #19475
1.1.0 Update: The warning is still given for `x__y`

Playpen: http://is.gd/mmKJtz

[2015-07-01 02:38] eefriedman commented on #10402
We now print a message like ``warning: pattern binding `Hello` is named the same as one of the variants of the type `Greeting` ``; that's probably good enough.

[2015-07-01 02:44] eefriedman commented on #17119
This works correctly on current Rust: https://play.rust-lang.org/?gist=266c07479fc9c8d16d38&version=stable .

[2015-07-01 03:08] #19578 closed

[2015-07-01 03:40] arthurprs opened #26701 "Shadowed variable isn't droped until the end of outer scope"
[code]

produces

[code]

I think most people would expect "dropping 1" to appear just before "Hello, world 3.0!"

Is this expected?

If yes, what's the reasoning? This is totally unexpected. I stumbled across this just now trying to understand why one of my tests were failing. After baning my head into a wall for some time I tried to insert a drop() just before the shadowing and voilà.

[2015-07-01 03:50] posix4e opened #26702 "Add support for cross compiling to the rump kernel"
https://github.com/rumpkernel/ is a neat project for a minimal netbsd anykernel. Since rump kernel is compatible with netbsd I've started adding support for cross compiling a amd64 netbsd rustc at
https://github.com/rust-lang/rust/pull/26682
https://github.com/rust-lang/rust-installer/pull/38

An additional pull request needs to be filed actually get rust to use that rust-installer pull request. O

[2015-07-01 03:50] posix4e commented on #26702
For some reason I can't assign this to myself

[2015-07-01 03:57] Gankro commented on #26702
Only members of the organization can be assigned an issue.

[2015-07-01 03:58] posix4e commented on #26702
Gatcha! cheers

[2015-07-01 04:19] sanxiyn commented on #25871
I implemented this in #26684, and there is a question whether the lint should warn-by-default. You may want to comment.

[2015-07-01 04:28] dobrite opened #26704 "CoerceUnsized isn't implemented for rc::Weak"
[code]

[code]

[code]

[2015-07-01 05:18] alexcrichton commented on #26591
We currently do place dllimport on statics (and dllexport), but I haven't had a chance to investigate this thoroughly yet. I'm surprised that this doesn't work when the bootstrap works.

[2015-07-01 05:20] dpc opened #26706 "Chaining Arc<RefCell<..>> confuses borrowck."
http://is.gd/rNjThX

[code]

This should compile, but it does not. Breaking the chain is a workaround.

[2015-07-01 05:20] alexcrichton commented on #20018
Thanks @frewsxcv!

[2015-07-01 05:20] #20018 closed

[2015-07-01 05:22] alexcrichton commented on #10402
Thanks @eefriedman!

[2015-07-01 05:22] #10402 closed

[2015-07-01 05:23] Aatch commented on #26706
cc @pnkfelix is this an issue with destruction scopes specifically, or related to rvalue lifetimes in general?

[2015-07-01 05:23] alexcrichton commented on #17119
Yay!

[2015-07-01 05:23] #17119 closed

[2015-07-01 05:29] dev-priporov commented on #26518
up

[2015-07-01 05:57] sfackler commented on #26518
Do you have SP1 installed? If not, it's most likely #26658.

[2015-07-01 05:59] remram44 commented on #26701
I don't feel like this is unexpected at all. There is no reason for the accidental collision in names to change the semantics of anything. And how would you expect this to work?
[code]
You also have the case where the first a might be borrowed somewhere (or even, by the new a).
[code]
Guards are used this way, and it would be awkward if they were destroyed before you leave the scope. I can't think

[2015-07-01 06:07] #26625 closed

[2015-07-01 06:32] uzytkownik opened #26707 "Generic bit operations are cubersome"
I've tried to implement operations which operates on bitvectors. For example:

[code]

This has 2 problems:
- For relative simple operation it requires 13 trait declarations
- It panics for trivial edge case (setting all field)

The latter could be solved by using `Wrapping`. However for some reasons `Shl<usize>` is only `Shl` implemented for `Wrapping` while for all others `Shl<T>` is implemented

[2015-07-01 07:18] rodolf0 opened #26708 "internal compiler error: cannot relate bound region: ReEarlyBound(7289, TypeSpace, 0, 'a) <= ReStatic"
Hit this bug converting my code from using moving to references, ie: started adding lifetime specifiers. I don't exactly know what is happening to give more context sorry.

## Meta

`rustc --version --verbose`:
rustc 1.1.0
binary: rustc
commit-hash: unknown
commit-date: unknown
host: x86_64-apple-darwin
release: 1.1.0

Backtrace:
08:12:05 ~/Source/tox/src/lisp 146 $ RUST_BACKTRACE=1 cargo build

[2015-07-01 09:37] arielb1 commented on #26708
Does this occur with 1.2? If it does, could you post some code that reproduces that bug?

[2015-07-01 09:39] arielb1 commented on #26706
I think this is intentional well-known fallout of dropck.

[2015-07-01 09:46] thepowersgang opened #26709 "ICE with type-pruned complex smart pointer"
Converting my `Aref` type to handle unsized types has exposed an ICE (assertion failure) in `librustc_trans/trans/glue.rs` when handling `ArefInner`'s  destructor.

[code]

Reproduction code (triggers assertion on playpen, and current nightly `rustc 1.3.0-nightly (faa04a8b9 2015-06-30)`)
[code]

[2015-07-01 09:48] DaniJVaz opened #26710 "Unexpected behaviour with stdin and .lines() on Windows"
Using .lines() for input on Windows always reads an '\r' at the end of the string.

For example:

	fn main() {
		use std::io::prelude::*;
		use std::io;

		let stdin = io::stdin();
		for line in stdin.lock().lines() {
			let line = line.unwrap();
			println!("You entered (String): {:?}", line);

			match line.parse::<i32>() {
				Ok(num) => println!("You entered (i32): {}", num),
				Err(_) => pri

[2015-07-01 10:21] #11715 closed

[2015-07-01 11:40] eddyb commented on #26709
Reduced test case:
[code]

The assert seems to be tripped by #26411, `trans::glue` wants a single argument for a `Drop::drop` call, but it's seeing two (because a fat pointer is now passed in two immediate arguments).
cc @dotdash

[2015-07-01 11:41] GuillaumeGomez opened #26714 "ICE "Type parameter `Bar/TypeSpace.0` (Bar/TypeSpace/0) out of range when substituting (root type=Some(Bar)) substs=Substs[types=[[];[];[]], regions=[[];[];[]]]""
I got this ICE while trying to get E0128 error with code:

[code]

I'll add the backtrace when I'll have a rust compiler (other than play.rust-lang at least).

[2015-07-01 12:26] arielb1 commented on #26714
Should be fixed in nightly.

[2015-07-01 12:37] arielb1 commented on #26707
You can use relative paths instead of absolute paths:
[code]

Anyway, you can create  `Bits` trait manually:
[code]

[2015-07-01 12:39] RalfJung commented on #26710
I should add that the code above works fine on Linux (with Rust 1.2 Beta). So this is a cross-platform compatibility hazard.

[2015-07-01 12:46] arielb1 commented on #26710
This is just "binary mode".

[2015-07-01 13:08] GuillaumeGomez commented on #26714
It isn't on play.rust-lang nightly version (I built with it).

[2015-07-01 13:15] arielb1 commented on #26714
play.rust-lang.org is slow to update

[2015-07-01 13:16] GuillaumeGomez commented on #26714
Damn !

[2015-07-01 13:16] #26714 closed

[2015-07-01 13:38] steveklabnik commented on #26710
Yes, this is expected behavior. You get a `\n` on the end in Linux as well.

[2015-07-01 13:43] steveklabnik commented on #16801
agreed!

[2015-07-01 13:43] #16801 closed

[2015-07-01 13:48] arielb1 commented on #26706
@Aatch

The issue here is that the first borrow must be valid during the destruction of the second borrow, but the current destruction-scope implementation requires it to be valid for the entire `is_foo` block.

[2015-07-01 13:52] DaniJVaz commented on #26710
The documentation explicitly says that this shouldn't happen

https://doc.rust-lang.org/std/io/trait.BufRead.html#method.lines

Additionally, if this was the case, I would think that in Windows it would be '\r\n' instead of just '\r'.

Anyway, if .lines() is supposed to work in "binary mode", then everything is technically fine, though I still think it would be nice to have (maybe optional) "text

[2015-07-01 13:57] steveklabnik commented on #26710
If this is true, it's been a bug for a very long time, as the Guessing Game example has used `trim()` for this purpose for.. a year?

Let's ask @rust-lang/libs if this behavior or the documentation is wrong.

[2015-07-01 14:18] RalfJung commented on #26710
@steveklabnik The guessing game does not use the `lines()` iterator, it uses `read_line()`. That function is documented to include the delimiter, while `lines()` is documented to *not* include it. And reality matches the documentation on Linux: the `\n` is stripped. On Windows, the `\n` is stripped as well, but the `\r`is not. That's very surprising.

After all, there's a reason many languages hav

[2015-07-01 14:20] steveklabnik commented on #26710
Ugh, you are correct. I should finish coffee before starting my morning triage :(

This is pretty certainly a bug, then. Sorry :/

[2015-07-01 14:26] arielb1 commented on #26710
That's not a Windows/Linux issue - you can have files with DOS-style line-endings on Linux and files with Unix-style line-endings on Windows.

[2015-07-01 16:15] rodolf0 commented on #26708
I haven't tried 1.2. Sorry for the lack of context, I ran into this bug
with some throw away code. I thought the stack would be enough :(

- Rodolfo

On Wed, Jul 1, 2015 at 10:38 AM, arielb1 <notifications@github.com> wrote:

[2015-07-01 16:26] alexcrichton commented on #26710
This is currently working as intended and it's also why `lines_any` exists on strings, and we can perhaps investigate adding `lines_any` to the `Read` trait.

[2015-07-01 16:55] alexcrichton opened #26716 "fs::create_dir_all fails for directory junctions on Windows"
First reported in https://github.com/rust-lang/cargo/issues/1749, it looks like if an intermediate directory is a junction on Windows then `fs::create_dir_all` will fail. Unfortunately the standard library doesn't provide away to create a junction, but a setup like this should work:

[code]

[code]

[2015-07-01 16:55] alexcrichton commented on #26716
The Cargo report claims this was a regression, so I'm going to nominate this.

[2015-07-01 16:59] alexcrichton commented on #26716
I suspect `fs::metadata(&junction).is_dir()` is returning `false` (when it should perhaps return true), but I have not had a chance to investigate this too closely.

[2015-07-01 17:25] arielb1 opened #26717 "Crash/Deadlock when using RUST_LOG=rustc::middle::ty"
[code]

[2015-07-01 17:36] RalfJung commented on #26710
Wow, that's certainly surprising. I thought Rust was supposed to abstract away from the ugly platform differences. Why are character sets more important to abstract away from than line endings? At the very least, I'd argue this warrants a *big warning* in the documentation.

`lines_any` on a `String` is obviously not very helpful in that situation. Should I write a feature request for `line_any` o

[2015-07-01 17:49] evadnoob commented on #24819
I get this same error, right after I added serde_macros to my Cargo.toml.

[code]

[2015-07-01 17:51] arielb1 commented on #26717
The problem is that ppaux can be reentered (e.g. via `lookup_item_type`), which causes the thread_local `borrow_mut` to fail.

[2015-07-01 17:51] arielb1 commented on #26717
cc @eddyb

[2015-07-01 17:55] #16572 closed

[2015-07-01 17:55] #26016 closed

[2015-07-01 17:57] arielb1 commented on #26717
This actually isn't a bug with the thread_local, just with the interner.

[2015-07-01 18:34] arielb1 commented on #26710
@RalfJung

DOS/Unix line-endings aren't a platform difference – DOS line-endings are more common on Windows and Unix line-endings are more common on Linux, but you can get both kinds of line-endings on both platforms (e.g. files can be transmitted between machines).

[2015-07-01 18:38] RalfJung commented on #26710
In general, I agree. For the specific case of "reading from interactive stdin" though, this reduces to a platform difference.

[2015-07-01 18:57] stygstra opened #26719 "`rustc -o -` crashes"
When I tried this, I was hoping it would output the executable to stdout. Saving it as a file called `-` would be reasonable behavior too.

[code]

[2015-07-01 18:59] steveklabnik commented on #26701
/cc @rust-lang/lang

[2015-07-01 19:15] steveklabnik commented on #24985
This code no longer ICEs for me as of

[code]

[2015-07-01 19:15] #24985 closed

[2015-07-01 19:16] steveklabnik commented on #23406
This still ICEs for me on today's nightly.

[2015-07-01 19:19] nham opened #26720 "Display note for "unused variable" warning suggesting that the warning can be disabled via underscores"
For reference, see [this Reddit thread](https://www.reddit.com/r/rust/comments/3be26r/for_loop_with_unused_variable/)

It seems to me that if you have code like this

[code]

Then in addition to the "unused variable" warning that you currently get:

[code]

it should also display a note, perhaps saying

[code]

Barring that, the lint could have an error code and the error explanation could mention

[2015-07-01 19:24] steveklabnik commented on #3738
Is this issue still relevant today?

[2015-07-01 19:59] jroesch opened #26721 "Internal Fulfillment Context assertion tripped, needs more investigation"
I'm not sure if this is a bug or not, needs further investigation. It appears that by reusing the fulfillment_cx [here](https://github.com/jroesch/rust/blob/fulfillment-context-refactor/src/librustc/middle/traits/mod.rs#L452) we incur more obligations and later trip an [assertion](https://github.com/jroesch/rust/blob/fulfillment-context-refactor/src/librustc_typeck/check/regionck.rs#L337).

The tw

[2015-07-01 20:04] Gankro commented on #26701
This is 100% expected behaviour as far as I'm concerned. Especially if you consider

[code]

To be sugar for

[code]

[2015-07-01 20:10] huonw commented on #26701
This makes code like the following work:

[code]

The key point being the second `s` borrows out of the first, so the first needs to live for long enough to be useful. I find this pattern useful, because it ensures I use the correct/"processed" version always: it's literally impossible to access the first raw `s`.

[2015-07-01 20:11] huonw commented on #26701
Closing since it's not a bug (and 1.0 has been released), but feel free to continue the discussion (here is fine, but users.rust-lang.org or internals.rust-lang.org might be more appropriate).

[2015-07-01 20:11] #26701 closed

[2015-07-01 20:49] edunham commented on #11562
Also I just noticed that a modified version of the Rust logo is being sold in the StickerMule marketplace: https://www.stickermule.com/marketplace/3726-rust-logo . According to the byline of the marketplace, "The Sticker Mule marketplace is the easiest way to buy and sell stickers. All of our customers can sell their stickers at no cost. We ship directly to buyers and you keep the profit."

Just a

[2015-07-01 20:59] petrochenkov opened #26723 "vec![elem; size] with run-time size should be highly visible in docs for std::vec, std::vec::Vec and std::vec!"
It's a common beginner's problem to create a vector with run-time size filled with identical values, but the idiomatic solution is pretty much undiscoverable without asking people on IRC/StackOverflow/Reddit.

cc @steveklabnik

[2015-07-01 21:08] arthurprs commented on #26701
Kinda unexpected but it does make sense. Thank you all.

[2015-07-01 21:30] nrc opened #26726 "cfg!(linux) should work"
Currently you need cfg!(unix), but we use #[cfg(target_os="linux")]. I haven't tested, but we should make sure #[cfg(target_os="unix")] also works.

[2015-07-01 21:42] pnkfelix commented on #26701
@arthurprs BTW maybe you meant to write this instead, which does drop the first instance of `Test` before saying Hello 3.0: http://is.gd/E3aZ9X

[2015-07-01 21:46] pnkfelix commented on #26706
cc #22321

[2015-07-01 21:47] pnkfelix commented on #26706
this seems like a probable dupe of #22323

[2015-07-01 22:47] arthurprs commented on #26701
That's a fairly good idea. I will probably use that instead of the drop and
then redeclaring.
Em 01/07/2015 18:43, "Felix S Klock II" <notifications@github.com> escreveu:

[2015-07-01 23:52] steveklabnik commented on #26723
It's already covered in the book at least, and I thought in some of these places too. Duplicating thing everywhere isn't the answer, though. If it's not on the macro or std::vec docs, it should be, though.

[2015-07-01 23:56] BigBoneDaddy commented on #26697
This sound so useful! When maybe it be implemented?

[2015-07-01 23:59] aturon opened #26729 "Tracking issue for Add some of `[T]`’s methods to strings and vice versa (RFC 1152)"
https://github.com/rust-lang/rfcs/pull/1152

[2015-07-02 00:09] huonw commented on #26729
Dupe of https://github.com/rust-lang/rust/issues/26697.

[2015-07-02 00:09] #26729 closed

[2015-07-02 00:10] sethlopezme commented on #11562
Just wanted to point out that the Rust logo does now appear in the [List of Mozilla Trademarks](https://www.mozilla.org/en-US/foundation/trademarks/list/), so I would assume the [Mozilla Trademark Policy](https://www.mozilla.org/en-US/foundation/trademarks/policy/) applies.

[2015-07-02 00:11] BigBoneDaddy commented on #11562
@sethlopezme Maybe we have confirmation from Mozilla instead of assume? @steveklabnik can you use influence at Mozilla to get answer faster?

[2015-07-02 00:13] BigBoneDaddy commented on #3552
@steveklabnik Still with out movement?

[2015-07-02 00:14] BigBoneDaddy commented on #3965
@tshepang Thank to your hard work we getting near the end!

[2015-07-02 00:15] BigBoneDaddy commented on #4952
@tamird Well it depend on how good refactorer is with closure! I know to some people closure comes easier than easy but yes to others it is hard as rock!

[2015-07-02 00:16] BigBoneDaddy commented on #3533
@tbelaire Does that fix fix this?

[2015-07-02 00:18] BigBoneDaddy commented on #5846
@kmcallister Is this still problem?

[2015-07-02 00:19] BigBoneDaddy commented on #5977
@cmr Has you made the progression on this problem?

[2015-07-02 00:20] cmr commented on #5977
Nope.

[2015-07-02 00:20] BigBoneDaddy commented on #7539
@FlaPer87 Yes I too am of agreement that one mangling is best.

[2015-07-02 00:21] BigBoneDaddy commented on #8614
@huonw You make no progress I am assume?

[2015-07-02 00:21] BigBoneDaddy commented on #5977
@cmr Ok no problem

[2015-07-02 00:22] uzytkownik commented on #26707
Yes, sure - that's what I intend to do for now. However:
 - operations on bits as bits seems very useful in system programming language and it seems that many people could benefit of having it in core. Currently even Haskell has it in standard library (of course the fact that language X has feature Y does not imply that Rust needs to have this feature).
 - Probably you would want to have a few ext

[2015-07-02 00:23] BigBoneDaddy commented on #12618
@FlaPer87 @brson Does LLVM still only do Python 2 and not yet Python 3?

[2015-07-02 00:24] BigBoneDaddy commented on #12466
@steveklabnik Steve is this something you work on during doc update or you just update doc contents and not googleabiliyt?

[2015-07-02 00:24] uzytkownik commented on #26648
It looks like this is issue 22892 after all.

Yes, I just didn't remembered that I cannot.

[2015-07-02 00:25] BigBoneDaddy commented on #13224
@frewsxcv I like your work around

[2015-07-02 00:25] BigBoneDaddy commented on #13842
@BurntSushi Good idea to leave open

[2015-07-02 00:26] BigBoneDaddy commented on #26654
@MrAlert Slow code better than no code I am thinking!

[2015-07-02 00:28] BigBoneDaddy commented on #26647
@saixmh That so strange! Are you run anti virus?

[2015-07-02 00:29] BigBoneDaddy commented on #26606
@steveklabnik No problems Steve mistakes happen and we move on!

[2015-07-02 00:33] #26543 closed

[2015-07-02 00:45] Valloric commented on #24659
I'll [link to a comment I've made before](https://github.com/rust-lang/rust/issues/12466#issuecomment-55336614) about duplicate URL structures on rust-lang.org.

This is something you should strongly consider fixing.

[2015-07-02 03:03] sinistersnare commented on #12618
@BigBoneDaddy, after a cursory glance, I would say they support 2, with a heavy eye towards 3.

[Here is a comment alluding to how they might be py3k compatible](https://github.com/llvm-mirror/llvm/blob/68081f41fafc13e194dfa639a3219b21c176489f/utils/lit/lit/TestRunner.py#L345-L354)

[A script that runs exclusively on 2.7](https://github.com/llvm-mirror/llvm/blob/1348f57925f17a804b46034b0471f64b615

[2015-07-02 03:08] richo commented on #12618
I got as far as [making sure `make check`][0] works on python3 a while ago. afaik llvm is still broken.

[0]: https://github.com/rust-lang/rust/pull/25749

[2015-07-02 03:21] eternaleye commented on #26449
To explain somewhat:

The x86_64 ABI states that it is *mandatory* for floating-point return values to be passed in SSE registers. On one level, this makes an enormous amount of sense: the x87 FPU is a weird 80-bit thing, and every x86_64 CPU possesses SSE2.

On the other hand, LLVM doesn't not offer functionality along the lines of GCC's `-mfpmath` to *override* this behavior. At least at one poi

[2015-07-02 04:54] thepowersgang commented on #26449
And to state why one would want to disable SSE etc. When writing kernel-mode code, it is very undesirable to touch the floating-point or vector units, as they both require explicit initialization, and have very large register states that would have to be saved on all context switches.

[2015-07-02 05:02] #26608 closed

[2015-07-02 05:03] saixmh commented on #26647
@BigBoneDaddy Just running a simple anti virus. But if it has Intercepted virus, It will give me a tip. I also feel very strange.

[2015-07-02 05:04] sfackler commented on #26726
`#[cfg(unix)]` and `#[cfg(windows)]` are shorthands for `#[target_family = "unix"]` and `#[target_family = "windows"]` respectively, not `target_os`.

[2015-07-02 05:06] eternaleye commented on #26449
Personally, I'd actually like the idea of splitting libcore into float-free and float-using parts, as there are embedded CPUs with no FPU that are also of interest.

[2015-07-02 07:47] #8640 closed

[2015-07-02 08:05] yongqli opened #26735 "Can't infer the type of index"
This doesn't type-check, failing with

    fn main() {
        let m = [[0.; 2]; 2];
        println!("{}", (|i, j| m[i][j])(0, 1));
    }

    <anon>:19:28: 19:35 error: the type of this value must be known in this context
    <anon>:19     println!("{}", (|i, j| m[i][j])(0, 1));

Annotating as `usize` fixes it, but I would expect the compiler to be able to infer the type. Is there a reason why i

[2015-07-02 08:55] bluss commented on #26735
See also issue #12679

[2015-07-02 09:06] bluss commented on #26710
Shouldn't `.lines()` just strip `\n` or `\r\n` if they are present? The current `.lines()` seems to a simple "dwim" method. It's surprising to me that it doesn't do this since we chose to have a trimming lines iterator. It seems unfair to burden the user.

[2015-07-02 09:19] #26717 closed

[2015-07-02 09:23] KokaKiwi commented on #26480
Had the same issue, it seems to me that it's caused by macros: https://gist.github.com/2084b4bb800dd6a08939

[2015-07-02 10:43] oli-obk opened #26736 "cannot move into irrefutable slice patterns with multiple elements"
[code]

fails with

[code]

while the following work fine:

[code]

[code]

[2015-07-02 10:45] cybergeek94 commented on #24111
@Munksgaard That just adds support to the compiler AFAIK. There's a lot of functions in the stdlib that need to be changed to `const fn` and tested for breakage. I don't know what the progress is on that.

[2015-07-02 10:52] #26704 closed

[2015-07-02 10:53] arielb1 commented on #26736
Slice patterns are broken.

[2015-07-02 11:14] oli-obk commented on #26736
yes they are, is there any consensus on whether to report bugs and fix it or simply rewrite it from scratch?

[2015-07-02 11:57] RalfJung commented on #26676
The warning message is particularly confusing, because the code snippet showing the "previous invocation" demonstrates a use of E0044, not E0045.

[2015-07-02 14:01] #26497 closed

[2015-07-02 14:49] MrAlert commented on #26654
Got a work in progress for SRWLocks and condition variables at MrAlert/rust@dbf7ca041b7079ecfb7d18f5b60003b4655f2851. Most of the related tests seem to pass under XP except for `sync::condvar::tests::wait_timeout_with`. Don't have the fallback grouping stuff yet though, so this'll cause problems under Vista.

[2015-07-02 14:51] gz commented on #26449
Just adding a feature to disable floating point related functions/types etc. should be sufficient for architectures that do not support it or codebases that do not want to use it, right?

[2015-07-02 14:57] huonw opened #26737 "{String,Vec}::from_raw_parts docs need to be much clearer about incorrectness"
The docs for these are currently fairly meagre:

They need to be more specific about the details, e.g.:

- `ptr` needs to have been previously allocated via `String`/`Vec` (at least, it's highly likely to be incorrect if it wasn't)
- `capacity` needs to be the capacity that the pointer was allocated with.

Violating these may cause problems like corrupting the allocators internal datastructures.

[2015-07-02 15:05] tbelaire commented on #3533
No.  #11715 just fixes the line numbers to line up properly when we go from 9 to 10, or 99 to 100, as the formatting broke by one space.  If we removed the line numbers and column numbers, it would be moot.

[2015-07-02 16:09] thepowersgang commented on #26449
@gz Adding a `cfg()` flag that disables compilation of the floating-point functions did allow libcore to be compiled with SSE etc disabled. See https://github.com/thepowersgang/rust_os/blob/master/libcore_nofp.patch for a patch on for the latest nightly.

I'm not sure what the best long-run solution would be, but probably having a `#[cfg]` flag is best (and making sure it gets tested correctly).

[2015-07-02 16:44] Stebalien opened #26739 "In macros, expr followed by { is buggy"
The following compiles:
[code]

However, (1) this technically isn't allowed by the macro future proofing rules and (2) it doesn't work when `$e` is an ident because rust tries to parse `ident {}` as an invalid struct literal instantiation.

The following works:

[code]
And the following doesn't:
[code]

Error:

[code]

[2015-07-02 17:00] thepowersgang commented on #22892
This issue appears to have returned with the recent LLVM update. If the data type passed to the inline assembly does not match the register size, the assembly is not emitted into assembly.

[code]

[2015-07-02 18:26] BigBoneDaddy commented on #26654
@MrAlert Supertastic work Alan we really like it!

[2015-07-02 20:39] nhowell opened #26744 "Windows: Self compiled rustdoc not interpreting `code` in markdown correctly"
For example:
[code]
This code runs fine in the playpen (http://is.gd/HVGloB) and when using the official nightly (`rustc -V`
`rustc 1.3.0-nightly (bf3c979ec 2015-06-30)`). Expected output:
[code]

However, I compiled Rust on my machine (`rustc -V` `rustc 1.3.0-dev (71a644136 2015-07-02)`) and I get the following output instead:
[code]
Needless to say, this is wreaking havoc on the generated docs,

[2015-07-03 00:58] niconii opened #26746 "Function pointers don't seem to be mentioned in the book"
The fact that function pointers implement the closure traits `Fn`/`FnMut`/`FnOnce` also doesn't seem to be mentioned in either the book or the reference.

[2015-07-03 01:16] steveklabnik commented on #26746
We do mention the type, but not that they implement Fn: http://doc.rust-lang.org/book/primitive-types.html#functions

[2015-07-03 02:32] #24880 closed

[2015-07-03 04:04] #26737 closed

[2015-07-03 04:44] GBGamer opened #26748 "Codegen bug: UnsafeCell<T: ?Sized> is declared noalias, despite it being aliasable"
`fn(&UnsafeCell<i32>)` => `define internal void @and_test(%"2.core::cell::UnsafeCell<i32>"* dereferenceable(4)) unnamed_addr #1`

As you can see, no `noalias`, and, weirdly, no `nocapture`.

`fn(&UnsafeCell<[i32]>)` => `define internal void @and_test({ %"2.core::cell::UnsafeCell<[i32]>"*, i64 }* noalias nocapture dereferenceable(16)) unnamed_addr #1`

And, as you can see, there is a `noalias` and

[2015-07-03 04:52] pnkfelix commented on #26484
yes I can reproduce this locally as well (thought it was somehow related to my own branch, glad I checked against master as well...)

[2015-07-03 07:44] Gankro commented on #26748
This doesn't appear to repro on beta or nightly.

Problem solved?

[2015-07-03 07:49] tomaka commented on #26591
I'm going to replace `static` by `const` in the khronos_api crate, so the test case above will no longer produce an error.

However any static + build script combination seems to trigger this problem, so it should be easy to reproduce.

[2015-07-03 08:08] GBGamer commented on #26748
Guess not, weird... Probably should've tested on beta and nightly.

[2015-07-03 08:08] #26748 closed

[2015-07-03 08:09] jashank opened #26753 "#[no_mangle] is silently ignored on generic functions"
A grossly simplified illustrative example.

Assume we're in a library crate (I want to get a shared object out of this so I'm using `--crate-type dylib` but this appears to be a problem for the general case), and we have the following items defined.

[code]

If we now wish to expose a function that uses a `Game` implementor across the library boundary (if, for example, you wish to `dlopen(3)` then

[2015-07-03 08:53] nrc opened #26755 "The inner span for an empty module should point to the module's file"
Assume you have `mod foo` where foo.rs is an empty file. There will be an `ItemMod` for the module and it's `inner` span will be a dummy span. It would be more useful if that span could be a zero-length span pointing into foo.rs's `FileMap`. (This is possible with a PR which should land soon). This would be useful since it gives tools an easy to deal with empty modules, at the moment they have to

[2015-07-03 09:40] retep998 commented on #26710
I really think that anywhere we strip `\n` we should also strip `\r\n`.

[2015-07-03 09:41] retep998 commented on #26647
So `rustc` runs fine but not binaries created by it?
Does `cargo` work?
Does it still crash if the `println!` is removed?

[2015-07-03 09:52] tomaka opened #26758 "The .msi installer freezes if you try to overwrite an existing Rust installation"
I can't belive this issue wasn't reported. Many people on IRC had this problem at the release of 1.1.

If you have the version 1.0 of Rust installed for example in `C:\Program Files\Rust`, then try to install version 1.1 to the same location, the installer will freeze forever and you have to kill it.

The problem disappears if you uninstall the previous version first.

[2015-07-03 11:47] RalfJung commented on #26710
I submitted a PR for implementing `lines_any` on `BufRead`: <https://github.com/rust-lang/rust/pull/26743>. However, I agree with @retep998 and @bluss in that the expectation of a method called `lines()` is to support both kinds of line endings. I don't even see any reason *not* to do so. A programmer that explicitly wants to split only at `\n` should use a byte-based splitting function.

However,

[2015-07-03 12:27] Stebalien commented on #26753
Rust can't export *generic* functions (because monomorphization happens at compile time, not link time); this has nothing to do with traits. However, rust probably *shouldn't* allow generic functions to be marked extern in the first place. As a matter of fact, using a generic extern function *is* an error:

[code]

[2015-07-03 13:59] rmathew commented on #14441
Related Issue: #24668
The problem is still present in the 1.1.0 release-binaries (mfence usage in llvm::sys::MemoryFence()).
Can the build-slaves (presumably running on an x86-64 box) be configured to generate binaries for a "pure" i686-unknown-linux-gnu target?

[2015-07-03 14:29] pfalabella opened #26760 "f32 seen as ambiguous associated type"
see http://stackoverflow.com/questions/31208465/pi-constant-is-ambiguous

[code]

fails to compile with:

[code]

on rust 1.0 stable and 1.1 stable

using the full path `std::f32::consts::PI;` works. The compilation error looks wrong (why is f32 an associated type)?

[2015-07-03 15:12] bluss commented on #26753
It's not about the trait bound but the type parameter of course. Rustc only instantiates those versions of the function that are actually used. Your workaround -- using `&Box<Game>` is not generic, has only one version, and so it is compiled in by default.

[2015-07-03 15:31] #26709 closed

[2015-07-03 15:33] jonas-schievink commented on #26760
You're using the type `f32`, not the module, so rustc tries to resolve `consts` as an associated type. If you put a `use std::f32` somewhere, it works.

[2015-07-03 15:46] pfalabella commented on #26760
Yes, I probably haven't made myself very clear in the description above.
I've noted that fully specifying the path works, but I still think "ambiguous associated type" referring to f32 is a confusing error message (I can't blame the person asking the SO question for interpreting it as "f32 is an associated type and defined in two or more traits" none of which is true).

[2015-07-03 16:09] jonas-schievink commented on #26760
That's true. The message should read something like "no associated type `consts` found" (at least this seems to be the case here). It would also help if rustc would output a list of implemented Traits that have the ambiguous associated type whenever this happens.

[2015-07-03 16:25] bluss commented on #26760
Rustc is underlining all of `f32::consts::PI`, and it should call it an associated item, not just type.

[2015-07-03 17:02] steveklabnik commented on #26758
/cc @brson @edunham

[2015-07-03 18:23] cybergeek94 commented on #26046
[Here's a user on Reddit who was confused by these error messages](https://www.reddit.com/r/rust/comments/3bz74g/cryptic_error_passing_closure_to_ironnew/).

This is a real problem.

[2015-07-03 20:54] tylerwhall opened #26764 ".note.rustc dylib section flagged SHF_ALLOC on Linux (can cause crashes)"
Having the metadata note section flagged "alloc" can cause two types of crashes in certain environments.

## 1. Dynamic loader crash
Glibc's dynamic loader will try to allocate and copy the entire section onto the stack which will crash if the stack size is limited. This section is particularly large (~2MB for libstd) - not something that can generally be expected to fit on the stack.

The loader

[2015-07-03 21:35] cybergeek94 opened #26765 "Rust .msi installer ignores current install"
One of the convenient features of the removed .exe installer is it would remove old library archives before installing new ones, so that one could update Rust just by running over the current install. The .msi installer does not do this, it just naively installs the new libraries next to the old ones, and Rust can't figure out which to use:

[code]

[2015-07-03 21:52] BigBoneDaddy commented on #26765
@cybergeek94 What if one want to install more than one version of Rust in parallels?

[2015-07-03 21:53] BigBoneDaddy commented on #26736
@oli-obk Are you volunteer to rewrite it from scratch?

[2015-07-03 21:57] BigBoneDaddy commented on #26746
@steveklabnik Sound to me like maybe clarification be needed if @niconii confuse.

[2015-07-03 21:58] cybergeek94 commented on #26765
This issue is about installing a new version of Rust over an old version in the same folder. It doesn't concern installing separate versions of Rust in separate folders. An "Update" option to the installer that automatically selects the current Rust install path would be great as well.

[2015-07-03 22:00] BigBoneDaddy commented on #26647
@retep998 It very confusing is not it? @saixmh Can you post us the assembly codes Rust compiler is making?

[2015-07-03 22:03] BigBoneDaddy commented on #26765
@cybergeek94 Why not you have multiple version of Rust installed? Do not you compile your code with multiple version of compiler to test compatibility? On my system I install each version of Rust in separate folder. That way I can test all my Rust code with all major version before push to git.

[2015-07-03 22:05] BigBoneDaddy commented on #26602
That LLVM bug status now RESOLVED FIXED!

[2015-07-03 22:06] cybergeek94 commented on #26765
No, because I'd rather not muck with it. I compile locally with a (preferably) recent nightly, and assume my code compiles on the latest Stable branch if I don't have any feature-gate annotations in my crate. I also have Travis-CI set to use Stable on most of my repos.

[2015-07-03 22:39] eefriedman commented on #26764
You could use module-level inline asm; not sure if that qualifies as "elegant".

[2015-07-03 23:04] #26332 closed

[2015-07-04 05:40] tksfz commented on #22968
This  is  still an issue in 1.3.0-nightly:

$ rustc test.rs
[thom@xps tmp]$ rustc test.rs
error: internal compiler error: unexpected panic
thread 'rustc' panicked at 'assertion failed: index.end <= self.len()', ../src/libcore/slice.rs:544

stack backtrace:
   1:     0x7fd6c19bd5ee - sys::backtrace::write::h04a6ced565b26815Lqs
   2:     0x7fd6c19c5214 - panicking::on_panic::h521f84b604e22dfel8w

[2015-07-04 05:41] tksfz commented on #22968
$ rustc --version
rustc 1.3.0-nightly (bf3c979ec 2015-06-30)

[2015-07-04 06:13] gz commented on #26449
FYI I made a pull request for this: #26449

[2015-07-04 06:53] michaelsproul commented on #26680
I'm satisfied this won't work, closing.

[2015-07-04 06:54] #26680 closed

[2015-07-04 07:16] nathanross commented on #26338
Interesting:

rustc -C llvm-args='--list' gives the option list for clang.tidy

the option he's requesting goes with LLC, which is probably more intuitive from seeing "llvm args." Perhaps a better name for that codegen option would be "llvm lint args"

[2015-07-04 07:21] eddyb commented on #26708
@rodolf0 these kinds of bugs are almost impossible to hit unless you try random things.
The only interesting bit in the stack trace is `resolve_ty_and_def_ufcs`, which means the issue occurred in a path to a method.

[2015-07-04 08:24] justinas opened #26767 "Nightly: thread 'rustc' panicked at 'parse_region: bad input'"
Building justinas/fortythree@d4b377ce8d2c0ba4fd4e3c2360a308e6c122bf08 with the latest nightly (2015-07-01 at the moment) makes the compiler panic unexpectedly.

     thread 'rustc' panicked at 'parse_region: bad input', ../src/librustc/metadata/tydecode.rs:358

This is seemingly caused by the usage of `write!` macro from libcore. The code compiled fine up until nightly-2015-06-15 at least IIRC.

Y

[2015-07-04 09:15] cybergeek94 commented on #26758
I'm having the opposite problem in #26765. In a non-default folder, the .msi installer just naively adds the library files to the current install, confusing `rustc` on which to use.

[2015-07-04 10:12] saixmh commented on #26647
@retep998
It can created binaries but the binaries can't work.
The ```cargo``` can't work, it's the same as the binary which is ```rustc``` created.
It still crash without ```println!```

[2015-07-04 10:36] dgoldstein0 opened #26768 "Compiler both suggests and forbids the use of the core module"
This is on Rust 1.1 stable.

I'm learning Rust right now, and decided a good way to start off would be to write a linked list.  In the process, I decided to add a `print_list` function that would traverse my linked list and print out it's contents.  This would probably be fine had I not made my list generic, but having done that, I started getting compiler errors about T not being core::fmt::Displ

[2015-07-04 11:06] retep998 commented on #26647
Could you try running a binary created by `rustc` with `gdb` and get a backtrace of the point where it crashes?

[2015-07-04 11:23] pmarcelll commented on #26768
It's a known issue, core::fmt::Display is reexport as std::fmt::Display (because core is unstable), but the compiler is not smart enough to suggest the "public" trait. This also happens with private traits.

Related issues:
https://github.com/rust-lang/rust/issues/23355
https://github.com/rust-lang/rust/issues/23224
https://github.com/rust-lang/rust/issues/13065
https://github.com/rust-lang/rust/i

[2015-07-04 12:22] tomaka commented on #26591
So this is not specific to statics. I don't really know what happens, but build scripts seem to cause troubles.

I have the same problem with my `pocket-resources` crate: https://github.com/tomaka/pocket-resources
When compiling the demo, I get the following:

[code]

If I add `crate-type = ["dylib"]` in pocket_resources' Cargo.toml it works.

[2015-07-04 12:40] tomaka commented on #26591
Apparently using `panic!` seems to store the line number and filename in a static.

For each usage of `panic!`, `assert!` or similar you get either a warning `LNK4217` or an error.

I tried to compile a complex project with the MSCV target, and I got hundreds and hundreds of warnings, and 9 errors.

[2015-07-04 13:38] azerupi commented on #25535
Just an idea, i'm not sure how helpful / feasible that would be. But you could build a "search friendly" index when you build the docs and store that in a javascript friendly file (json?).

[2015-07-04 13:44] azerupi commented on #25513
I like the way they do it in the [Django docs](https://docs.djangoproject.com/en/1.8/) for example. Bottom right corner, you can choose the version. It's a lot less intrusive than a banner. It's not very obvious, but you could ad an explicit text stating that this version is out of date.

[2015-07-04 15:03] saixmh commented on #26647
@retep998
I try to use gdb and get this info.
[code]

[2015-07-04 15:09] mdinger commented on #25513
See also https://github.com/rust-lang/rust/issues/14466#issuecomment-73439058

[2015-07-04 16:02] tksfz commented on #22968
Btw for some reason this seems to happen only on my  Arch Linux machine, and not on  my mac.

[2015-07-04 16:30] steveklabnik commented on #25535
That's how rustdoc search works already, so it's certainly feasable.

[2015-07-04 16:33] steveklabnik commented on #26768
yes, as @pmarcelll says, this is a dup.

Basicaly, re-exported types don't have the information stored with them that they've been re-exported, so they use their non-re-exported name. Fixing this is going to be a fairly big refactoring, from what I've heard.

This is because it's not stable yet. If you used a nightly compiler, you'd be allowed to.

Anyway, I'm closing since this is a dup, but you'

[2015-07-04 16:33] #26768 closed

[2015-07-04 16:56] azerupi commented on #25513
Ow, Sorry for the duplicate :)

And actually I spoke without checking, but Django uses a deprecation banner too for old versions. You can't miss it but it some weird way it still is non-intrusive :yum:

Also one thing they have in Django docs, is a box with more information when something has changed recently. Like this:

![image](https://cloud.githubusercontent.com/assets/7647338/8508752/c3e73c1e

[2015-07-04 16:57] azerupi commented on #25535
How hard would it be to make it more general and usable for rustbook ?

[2015-07-04 17:02] arielb1 opened #26773 "Structs can be created via type-aliases"
## STR

[code]

This also works with type parameters:
[code]

## Result

Code compiles and works.

## Expected Results

This should not compile. Actually, we may keep this for backwards-compatibility. cc @brson @eddyb

[2015-07-04 17:10] arielb1 commented on #26767
Does this reproduce on a clean rebuild?

[2015-07-04 17:15] lambda opened #26774 "rustc panic trying to unwrap error "failed to open archive""
I was trying to build cargo using the latest rustc nightly, and encountered the following error while building libgit2-sys:

[code]

I had configured Cargo using `./configure --local-cargo=/usr/local/bin/cargo`.

[2015-07-04 17:18] arielb1 commented on #26753
`#[no_mangle]` can't possibly work with generic functions. We should make this an error through.

[2015-07-04 17:44] steveklabnik commented on #25535
I have no idea, but that would be the way forward, I'd imagine.

[2015-07-04 17:59] brson opened #26775 "`extern crate` is always treated as `pub` within the crate, but is not visible outside it; `pub extern crate` makes no difference"
Two examples:

[code]

That is accepted but `core` cannot be accessed from outside the crate.

[code]

That *is* accepted and reexports `core`.

In other words, `extern crate` is always public to other modules, but can never be made public to other crates.

There are no tests for `pub extern crate` so I suspect this is not intentional.

[2015-07-04 18:07] sfackler commented on #26773
Why should this not compile?

[2015-07-04 19:00] huonw commented on #26753
Dupe of https://github.com/rust-lang/rust/issues/15844. Thanks for filing!

[2015-07-04 19:00] #26753 closed

[2015-07-04 19:43] arielb1 commented on #26773
@sfackler

I think of struct literals as a resolve thing.

[2015-07-04 19:50] arielb1 commented on #26760
And we have the wonderful comment
[code]

[2015-07-04 20:01] tomjakubowski commented on #26773
Given that this snippet works, I'd expect that the struct literal initialization would work too:

[code]

[2015-07-04 20:21] #26339 closed

[2015-07-04 20:34] eddyb commented on #26773
@tomjakubowski not exactly, `Alias::new` is shorthand for `<Alias>::new` (this is true even if you have `S` instead of `Alias`), whereas `struct` literals don't (or weren't intended to) have this property.
E.g. `Self::new(42)` works inside an `impl` but `Self { v: 42 }` doesn't.

[2015-07-04 22:51] retep998 commented on #26647
@saixmh Can you enter in the command `backtrace` inside gdb to get a backtrace?

[2015-07-04 22:55] retep998 commented on #26765
I think because the name of the software changes with each version of Rust, the msi installation system ends up thinking that they are two different pieces of software and thus doesn't recognize the old version to ask you what you want to do with it. Ideally the installer would detect if there is an existing installation of Rust in the folder you're installing to and automatically uninstall the ol

[2015-07-04 23:45] saixmh commented on #26647
@retep998 Thanks.
[code]

[2015-07-04 23:49] vincentbernat opened #26779 "TRPL Dining philosophers should all eat together when threaded"
The first output of the threaded example is:

[code]

And there is a remark about eating out of order. I would have expected an output like this instead:

[code]

(blank line has been added for clarity)

[2015-07-05 00:11] retep998 commented on #26647
I guess we can chalk up yet another issue to jemalloc being easily broken on Windows.
A workaround for now can be to use the msvc version of Rust, which doesn't use jemalloc. You'll have to install VS 2013 and use `Microsoft Visual Studio 12.0\VC\bin\amd64\vcvars64.bat` to setup your environment variables so it'll work (at least until https://github.com/rust-lang/rust/pull/26741 lands). Also unwin

[2015-07-05 00:12] retep998 commented on #26647
Also, what command line or terminal are you using? `cmd.exe`? Git bash? Conemu? Msys2?

[2015-07-05 00:34] SimonSapin opened #26780 "std::slice::SliceConcatExt impls should rely on AsRef rather than Borrow"
`HashMap` assumes that `Borrow` implies compatible hashing, which may not be desirable: https://github.com/servo/string-cache/pull/89

[2015-07-05 00:41] frewsxcv commented on #26780
A couple RFCs related to SliceConcatExt (for the sake of crosslinking):

* https://github.com/rust-lang/rfcs/issues/1137
* https://github.com/rust-lang/rfcs/issues/1141

[2015-07-05 01:09] bluss commented on #26780
See discussion on  #25162 whyit was changed to Borrow

[2015-07-05 01:46] steveklabnik commented on #26779
The output is nondeterministic, so it depends on your system.

Are you on a multicore system? Last time I heard of someone getting sequential output, they were in a VM with only one core....

[2015-07-05 02:06] cybergeek94 commented on #26765
It's disappointing because the .exe installer did this. It was my preferred method of updating when it was still available.

[2015-07-05 02:27] retep998 commented on #26765
cc @brson @vadimcn

[2015-07-05 03:08] tksfz commented on #22968
This problem has gone away for me now.  It may have been from mixing versions?  It may have  gone away  after a  `cargo  clean`.

[2015-07-05 03:09] frewsxcv commented on #22968
It is still an issue on nightly according to the playpen:

http://is.gd/OCanBI

[2015-07-05 03:59] tksfz commented on #22968
You're right.  I must have been in the wrong project.

[2015-07-05 06:11] vincentbernat commented on #26779
If we do the timeline of the original events, we get:

[code]

So, the initial example takes at least 4 seconds to execute. I am talking about the example without the forks. Unless the threads are cooperative (and `thread::sleep_ms` isn't yielding which would be odd), this is quite improbable  to find a system where Karl Marx is eating after at least 3 seconds. Also, if the threads were cooperativ

[2015-07-05 06:38] eddyb commented on #26775
Also see #21757.

[2015-07-05 07:03] dgoldstein0 commented on #26768
Thanks for the super quick response, and for the pointer to use it from `std` - that did the trick for me.

[2015-07-05 10:19] KostaCitrix commented on #26602
Now that the llvm bug is closed, what in what rough timeline can we expect an i686-pc-windows-msvc triple?

I don't want to be pushy, I'm just wondering whether we need to wait for an llvm release (not sure how often that happens) or what other roadblocks there might be...

Thanks in advance & keep up the great work! :)

[2015-07-05 11:38] michaelsproul commented on #26676
Or, should we reconsider the concept of a duplicate-checker all together? Unifying errors for different code paths seems like it may be useful if the errors are manifestations of the same thing...

[2015-07-05 11:39] michaelsproul commented on #26676
On the other hand, maybe we should just factor it out for clarity.

[2015-07-05 13:03] tshepang opened #26793 "reference: explain what "implies" means in Closure types section"
There are these 2 statements in [8.1.10](http://doc.rust-lang.org/reference.html#closure-types):

Is the word *implies* used correctly? What does it mean?

[2015-07-05 13:28] justinas commented on #26767
Yes, tried `make clean && make` to the same effect.

[2015-07-05 14:37] dimbleby opened #26794 "Export fd_set in libc or libnative"
This is essentially re-opening #16297.

Per the original reporter, I'm trying to write a binding to a C network-related library and would like fd_set to be available without having to duplicate effort.

That issue was closed on the grounds that the desired function did exist, which indeed it did at the time.  But e136421 removed it.

[2015-07-05 15:28] steveklabnik commented on #26793
It means that if you implement `FnMut`, you've also implemented `FnOnce`. It's a trait inheritance hierarchy.

[2015-07-05 15:28] #26793 closed

[2015-07-05 15:31] dimbleby opened #26797 "ICE path not fully resolved, associated constants"
Implementing my own fd_set because, per #26794, I can't find one exported elsewhere.  But trying to be clever about the size of the required array causes a panic:

[code]

Causes the following output:

[code]

[2015-07-05 15:42] dimbleby commented on #26797
Using `std::usize::BITS` instead of `usize::BITS` makes the panic go away.

[2015-07-05 16:22] tshepang commented on #26793
I was hoping a PR would close this issue @steveklabnik

[2015-07-05 16:42] alexcrichton commented on #26602
The LLVM bug was just one blocker for getting this compiler bootstrapped, there are likely to be a good number of other bugs (perhaps more LLVM ones) to overcome before we get to a full compiler. Hopefully soon though!

[2015-07-05 16:42] ErinCall opened #26801 "comments.md doesn't know about `//!`"
[The chapter on comments](http://doc.rust-lang.org/book/comments.html) discusses two types of comments: `//` comments and `///` doc comments. [The section on testing](http://doc.rust-lang.org/book/testing.html#documentation-tests) mentions a third type: `//!` module doc comments. Should src/doc/trpl/comments.md be updated to include `//!`, or have I misunderstood something?

I'd be happy to help u

[2015-07-05 16:47] qrlpx opened #26802 "ICE: "Type parameter out of range when substituting in region 'b ""
Stumbled upon the following error when trying to box a trait where a inner lifetime (function) needs to be a subtype of an outer lifetime (trait)

### playpen
http://is.gd/tFVEpb

### code
[code]

### rustc output
[code]

### rustc version
[code]

[2015-07-05 16:57] arielb1 commented on #26797
cc @quantheory

[2015-07-05 17:02] alexcrichton commented on #26794
Thanks for the report! We typically don't keep open issue for missing exports from liblibc, but feel free to send a PR to export it!

[2015-07-05 17:02] #26794 closed

[2015-07-05 17:09] alexcrichton opened #26803 "Remove windres.exe from MinGW distribution"
We're not shipping all the dependencies anyway right now and should just stop shipping everything related to this (cc https://github.com/rust-lang/rust/pull/25030)

[2015-07-05 17:26] jonas-schievink opened #26804 "Confusing error messages when invariant type is involved"
Playpen: http://is.gd/f1SPdn

[code]

Gives this error:

[code]

This is confusing, since the compiler seems to demand that `s` is valid in the line before it is declared (the only difference between the regions is that the first one includes the `fn main() {`). It is never mentioned that this is caused by `S` being invariant on `'a`, which disallows rustc to enlarge the lifetime to include the wh

[2015-07-05 18:27] vadimcn commented on #26765
The .msi installer only updates versions which have the same (platform,channel,major,minor) tuple.  For example it will update nightly 1.3.X -> 1.3.Y in-place.  Everything else is treated as different software version - to enable installing them side-by side (which the .exe version did not allow).  The detection is based on versions stored in the registry, not on the installation path.
In other wo

[2015-07-05 18:43] Marwes commented on #25467
Getting the same ICE occasionally in https://github.com/Marwes/parser-combinators-language.
(At https://github.com/Marwes/parser-combinators-language/blob/master/src/lib.rs#L6-L32 more specifically, not minimized because I don't think I can produce a smaller example than the package above).

[2015-07-05 18:45] cybergeek94 commented on #26765
That's an issue because I only really bother to update when the minor version gets bumped, as I expect is the same with many people. And, like I said, this is a pretty big discrepancy when you look at how easy it is to install and update Rust on the *nixes, package manager or otherwise.

Why does the Rust installer care about side-by-side installs anyways? Can't `multirust` be updated to support W

[2015-07-05 19:22] vadimcn commented on #26765
This is based partly on my own preferences and partly because Python also does upgrades this way.

Multirust is a shell script that uses a bunch of unix command line tools, so it won't work on Windows without msys.

[2015-07-05 19:26] eddyb opened #26805 "Where-clause based exclusion of default methods from vtable doesn't normalize correctly."
@Ms2ger reported that on rustc-1.3.0-dev (f3b97a74a), https://github.com/mlalic/solicit ICEs with:
[code]
This turned out to occur due to the instantiation of `Iterator::min`'s default body for a vtable, while `Self::Item` *doesn't* implement `Ord`.

#26677 left two uses of `infer::new_infer_ctxt` in trans, where only `infer::normalizing_infer_ctxt` should be used.

Shorter testcase:
[code]
[code]

[2015-07-05 19:27] eddyb commented on #26805
cc @jroesch I'll try to get a fix ready, could you confirm that not using `infer::normalizing_infer_ctxt` was accidental?

[2015-07-05 19:47] tshepang commented on #26793
here goes: https://github.com/rust-lang/rust/pull/26808

[2015-07-05 20:00] bluss commented on #26801
The reference [lists all four (or six) syntaxes](http://doc.rust-lang.org/reference.html#comments) for doc comments. Maybe mentioning `//!` is a good idea for the book though.

[2015-07-05 20:46] steveklabnik commented on #26801
Yeah, I would not be opposed to describing `//!` in the comments section as well.

[2015-07-05 21:04] russellmcc commented on #26488
I can't reproduce this on 320bd6f, so I guess it's probably fixed

[2015-07-05 21:04] #26488 closed

[2015-07-05 21:31] bluss commented on #22477
Thanks kimundi for updating your status comment. It looks like this is as good as done — what remains is related followup.

[2015-07-05 22:10] #24249 closed

[2015-07-05 22:30] eefriedman opened #26810 "Recursive constant checker needs to check types"
[code]

Currently accepted without errors; I would expect an error.

[2015-07-05 23:18] miot opened #26812 "error: internal compiler error: unexpected panic"
[code]

I tried this code:

[code]

I expected to see this happen: code should compile or the compiler should report an error.

Instead, this happened: the compiler panicked.

## Meta

`rustc --version --verbose`:

[code]

Backtrace:
[code]

[2015-07-05 23:39] Ryman opened #26813 "Regression on beta for trait bounds on supertrait's associated items"
The following playpen works on 1.0, Stable(1.1) and Nightly(1.3 bf3c979ec 2015-06-30) but fails to compile on current Beta (1.2).

http://is.gd/cQJ1Xk

It would be good if we could backport whatever fixed the behavior for 1.3.

cc @nagisa

[2015-07-06 01:27] Aatch commented on #26810
Whats wrong with it, other than being a bit confusing? There's no recursive dependency for the values, just a slightly odd dependency between the constant and the type of the constant. It's not actually recursive though.

The fact that it compiles and gives the expected result suggests that this isn't a bug.

[2015-07-06 02:06] nstoddard opened #26815 "ICE - path not fully resolved"
This code triggers an ICE:

[code]

[code]

This ICE is especially annoying because rustc doesn't give any other error message. It gives no indication of where the problem is in your code.

[2015-07-06 02:08] eefriedman commented on #26810
Well, that particular testcase isn't fundamentally unsound by itself, I guess... it's just hard to write testcases here because const_eval is very limited at the moment.  Another testcase, which I just came up with:

[code]

Rust currently rejects this with ```non-scalar cast: `i32` as `<[u8; 257] as A>::T` ```... but clearly there's an inconsistency somewhere.  I would argue that the issue is tha

[2015-07-06 02:31] saixmh commented on #26647
@retep998
Too many thanks.
It's ```cmd.exe```.

[2015-07-06 02:35] retep998 commented on #26647
Another option you have is to manually build Rust yourself and when doing `./configure` you can pass the `--disable-jemalloc` flag.

[2015-07-06 02:40] saixmh commented on #26647
@retep998
All right, I'll try it. Thanks.

[2015-07-06 06:50] mitaa commented on #26815
This is fixed in beta and nightly (#23173 -> #26479)

[2015-07-06 07:16] mitaa commented on #26812
Reduced

[code]

[2015-07-06 07:46] reem commented on #15022
This is no longer an issue, this:

[code]

compiles with:

[code]

[2015-07-06 09:18] #26815 closed

[2015-07-06 11:06] aepsil0n commented on #24838
Just for reference: this also leaves the (perhaps not entirely obvious) operator impls on HashSets undocumented. Also see [this SO question](http://stackoverflow.com/questions/31137928/where-is-the-rust-documentation-for-trait-implementations) on this issue.

[2015-07-06 11:47] pix64 commented on #9367
"With this achievement, I think I can say that the new COFF linker is
now mostly feature complete for x86-64 Windows. I believe there are
still many lingering bugs, though."

http://reviews.llvm.org/rL241318

[2015-07-06 13:25] oli-obk commented on #26810
[code]

fails with

[code]

same error with `const C2: (usize, [u8; C2.0]) = (1, [1]);`
which should be identical to @eefriedman's

[code]

which doesn't error

[2015-07-06 14:41] rick68 opened #26823 "rustc panic when shifting SIMD types"
I tried the `core::simd::f32x4` which I wanted to invoke operator `Shl`.

I tried this code:

[code]

Causes the following output:
[code]

## Meta
[code]

Backtrace:
[code]

[2015-07-06 15:04] steveklabnik commented on #26780
Yes, @aturon @alexcrichton , is this actually intended? Seems so

[2015-07-06 15:04] steveklabnik commented on #26780
/cc @rust-lang/libs

[2015-07-06 15:08] steveklabnik commented on #26726
So this isn't a bug then?

[2015-07-06 15:09] steveklabnik commented on #26708
Yes, unfortunately, without a code sample, there's no way to tell if this bug is fixed. If you can reproduce, please let me know!

[2015-07-06 15:09] #26708 closed

[2015-07-06 15:31] tamird commented on #26632
@richo I got this working, pretty minimal changes in the end. https://github.com/tamird/rust/tree/llvm-upgrade

[2015-07-06 15:36] tamird commented on #26632
Wait, spoke too soon! Linking failure.

[2015-07-06 15:51] arielb1 commented on #26823
We should really handle this better:
    * I don't think shifting a float by a float is legal
    * Why are we handling this in check::op, rather than with explicit trait impls?

[2015-07-06 15:55] alexcrichton commented on #26726
Ah yes this isn't a bug in the sense where it's intended to work, and we'd need an RFC to get it to work.

[2015-07-06 15:55] #26726 closed

[2015-07-06 16:09] steveklabnik commented on #24800
I don't know when this was added, but http://doc.rust-lang.org/reference.html#trait-objects says

[2015-07-06 16:09] #24800 closed

[2015-07-06 16:17] steveklabnik commented on #25115
This whole bit is gone now, so this issue is effectively closed.

[2015-07-06 16:17] #25115 closed

[2015-07-06 16:18] steveklabnik commented on #25448
Agreed with @liigo .

[2015-07-06 16:18] #25448 closed

[2015-07-06 16:22] #26801 closed

[2015-07-06 16:23] jonhoo opened #26826 "Improve multi-core performance of Arc"
A long time ago (2010), [a post](https://mail.mozilla.org/pipermail/rust-dev/2010-December/000140.html) was made to the rust-lang mailing list on the topic of immutable data structures and reference counting. In particular, the author points out that naïve reference counting is quite expensive in a multi-core setup (due to the large number of cache invalidations), and that there are many known tec

[2015-07-06 16:25] jonhoo commented on #26826
This is of particular important to read-mostly data structures in which readers are constantly accessing objects, but where those objects are occasionally modified or deleted. If readers are required to always modify the global refcount atomically, this kills multi-core scalability as the cache coherency traffic becomes the bottleneck.

[2015-07-06 16:29] Gankro commented on #26780
To be clear: Almost the entire reason for Borrow to exist is to have "AsRef where Hash/Eq/Ord are expected to hold". (the rest of the reason is differing blanket impls in a world without specialization)

[2015-07-06 16:33] steveklabnik commented on #26826
These kinds of discussion issues are better posted to http://internals.rust-lang.org/, would you mind opening a discussion there, please? Thanks!

[2015-07-06 16:33] #26826 closed

[2015-07-06 16:36] steveklabnik commented on #26343
The chapter does say:

So this is covered.

[2015-07-06 16:36] #26343 closed

[2015-07-06 16:44] alexcrichton commented on #18900
I believe these tests have since been removed, so closing.

[2015-07-06 16:44] #18900 closed

[2015-07-06 16:44] jonhoo commented on #26826
Sure. Reposted at https://internals.rust-lang.org/t/multi-core-reference-counting/2330

[2015-07-06 16:45] alexcrichton commented on #17690
I believe we do this now, so closing.

[2015-07-06 16:45] #17690 closed

[2015-07-06 16:46] alexcrichton commented on #17677
This no longer happens on stable, so closing as fixed, yay!

[2015-07-06 16:46] #17677 closed

[2015-07-06 16:47] alexcrichton commented on #23566
This no longer causes an assert on nightly, so closing as fixed. Yay!

[2015-07-06 16:47] #23566 closed

[2015-07-06 16:48] alexcrichton commented on #17833
This is unfortunately fairly unlikely to happen, and we're unlikely to stabilize `DynamicLibrary` as-is, so I'm going to close this as we're not tracking feature requests for various libs in this issue tracker.

[2015-07-06 16:48] #17833 closed

[2015-07-06 16:56] alexcrichton commented on #26780
Yes this was switched to `Borrow` from `AsRef` as @bluss pointed out due to coherence issues. Whether or not this is desirable we cannot switch to `AsRef` today, so I'm going to close this as working as intended.

[2015-07-06 16:56] #26780 closed

[2015-07-06 17:00] SimonSapin commented on #26780
In [string-cache](https://github.com/servo/string-cache) we have:

[code]

The whole point of this library is to make `Atom::eq` fast. While we’re at it, we make `Atom::hash` fast in the same way. (That is, we only compare/hash the `u64` value, not the `str`’s bytes.) The rest of the library ensures that `*atom_1 == *atom_2` if and only if `atom_1.magic == atom_2.magic`.

To make make `Atom::hash`

[2015-07-06 17:24] ErinCall commented on #26801
Thanks y'all! :)

[2015-07-06 18:27] brson commented on #26758
Nominating because this is pretty bad.

[2015-07-06 18:28] brson commented on #26765
Nominating because this is surprising behavior to a lot of people.

[2015-07-06 18:38] eefriedman opened #26830 "Weird inference failure with unary minus"
[code]
[code]
As far as I can tell, there's enough information here for inference to succeed.

[2015-07-06 18:40] richo commented on #26632
@alexcrichton has a very similar branch as well. I can have a look at the linking error tonight probably. (I built his branch, saw the linking error and want to bed)

[2015-07-06 18:42] Stebalien commented on #26830
`a` could be either `&i32` or `i32`.

[2015-07-06 18:52] jroesch commented on #26279
@bluss I'm out of the std loop could you elaborate?

[2015-07-06 18:54] eefriedman commented on #26830
I don't think that's relevant... this still doesn't work:
[code]
And this works fine:
[code]

[2015-07-06 18:58] steveklabnik commented on #15300
After talking with @nikomatsakis , we're not quite ready to define these things yet. Given that that will take a lot of work, I'm going to be giving this issue a close, as it's really more of an RFC type of thing, but

nailing down pretty precisely as part of the MIR construction work,

and so documenting all that would fall under that work anyway.

[2015-07-06 18:58] #15300 closed

[2015-07-06 18:58] steveklabnik commented on #12032
https://github.com/rust-lang/rust/blob/master/src/librustc/middle/region.rs#L891-L950 has some info

[2015-07-06 18:59] emosenkis commented on #24732
Not sure if it helps any, but @WaDelma's code runs fine on play.rust-lang.org with Stable and Beta now (same error on Nightly) while [my code](https://play.rust-lang.org/?gist=eca09289a0e63281eef5&version=stable) fails with a different error *playpen: application terminated abnormally with signal 4 (Illegal instruction)* with Stable and Beta (still same error on nightly)

[2015-07-06 19:03] nikomatsakis commented on #26438
https://github.com/rust-lang/rust/pull/26370 has landed on nightly, it implements the warnings. PR #26829 rebases the same work to beta. Once that has landed, we can modify nightly to use the newer defaults (and not issue warnings anymore).

[2015-07-06 19:07] brson commented on #26690
I've got a crater run of @eddyb's pr started.

[2015-07-06 19:09] brson commented on #26685
Yes, that sounds right. We've had several problems with the permissions in the tarballs. @Yamakaky if you can figure out how to get them to come out right please do.

[2015-07-06 19:17] brson commented on #13254
The current thinking is that we will remove snapshots entirely and move to using nightlies for bootstrapping.

[2015-07-06 19:19] bluss commented on #26279
Sure, `Vec<T>` and other collections used to implement only `Extend<T>` so `x.extend(vec![Zero::zero()].into_iter())` would infer the type for the `Zero` uniquely, from the type of `x`.

Now, `Vec<T>` implements both `Extend<T>` and `Extend<&T> where T: Copy`, so it is ambiguous which type the `Zero` call should produce.

One convenient workaround is to just use the explict form: `i32::zero()` (hm

[2015-07-06 19:49] #26812 closed

[2015-07-06 21:06] nikomatsakis commented on #26656
Hmm, so I don't think that the problem has to do with `Trigger<B>: 'static` requiring that `B: 'static` per se, though I suppose it might help with the problem. Rather, it seems to be a flaw in the "parametricity" argument -- that is, today, we consider the definition of drop "uninteresting" if `B` does not have any bounds, with the intention of screening out code that treats instances of B opaque

[2015-07-06 21:12] nikomatsakis commented on #26830
So, sometimes we try to resolve methods (and, in this case, overloaded operators) "in the moment", and other times we allow that resolution to be deferred. In the case of sub, we are doing the latter -- but I'm not sure why unary minus is not. I'd have to go look at the code. I tentatively agree we could do better here, and that unary operators should work in the same way as binary ones.

[2015-07-06 23:19] jhasse opened #26839 "Should emit error about private struct before unresolved name"
I was trying to use std::thread::sleep and created the following code:

[code]

The (only) error message is:

[code]

But it would have helped me a lot more if it would be:

[code]

[2015-07-06 23:23] eefriedman opened #26840 "negate_unsigned feature gate triggered for user-defined Neg"
[code]
[code]

[2015-07-07 00:27] eefriedman opened #26841 "Inference failure with int inference variable"
[code]
[code]

Given that the type of `b` is `u8`, the type of `a` is a builtin integer type, and the result of `a+a` is assigned to `b`, the type of `a` must be `u8`.  Currently, this rule only applies "forwards": it only works if `a` is known to be a builtin integer type when the addition is being checked.  However, type inference could be extended to apply it backwards as well.

I'm not sure if

[2015-07-07 00:28] eefriedman commented on #26841
The code that current applies this rule: https://github.com/rust-lang/rust/blob/a973e4cda5191040ca219fb4a4f8041e9b560301/src/librustc_typeck/check/op.rs#L130 .

[2015-07-07 00:36] alexcrichton commented on #26632
After we update LLVM I've found that two commits are needed to get the bootstrap working on linux-64:

* https://github.com/alexcrichton/rust/commit/7f68575c7db02dfa03fc1d18f8ae1522d737b2f7
* https://github.com/alexcrichton/rust/commit/050bc8a89a1b282d106d7a1db74d72d9e97ca490

I haven't tested out other platforms yet. Unfortunately a debuginfo tests fails after the update, so I haven't been able t

[2015-07-07 01:04] Gankro opened #26842 "Rustdoc does not properly escape colons in hrefs"
Given

[code]

Rustdoc creates the following anchor

[code]

which browsers (Firefox at least) vomit on if you try to enter it the URL bar.

I suggest just eating the colon.

[2015-07-07 01:06] P1start commented on #24387
Alternatively, we could use U+203E OVERLINE (`‾`, also part of WGL4) to create a simpler underline effect:

![U+202E OVERLINE in a warning](https://cloud.githubusercontent.com/assets/2055302/8536639/1d16e38a-24a8-11e5-8bfc-beca87dcfffc.png)

This is different from using an ANSI escape code such as `\x1b[4m` because it allows the underline colour to be different from the text’s colour.

[2015-07-07 01:46] CodingAnarchy opened #26843 "concat_idents! fails "expecting comma""
Attempting to use the concat_idents! macro in some code I'm messing around with locally, and it keeps failing on compile with:

[code]

As one can see from the code, I'm following the documentation and there IS a comma in that list.

As it's likely relevant:

[code]

[2015-07-07 03:07] eefriedman commented on #26843
Granted, the diagnostic could be a bit better.  That said, what the heck are you trying to do?  `token::str_to_ident(argv[1])` is a call expression, not an identifier.

[2015-07-07 03:23] wthrowe opened #26845 "Integer division/remainder rounding behavior should be documented"
Using Google I can find lots of old arguments over how integer division should work in Rust, but I cannot find anything in the reference, the API docs for the integer types, or the API docs for the `Div` trait that says what was actually decided.  (And the documentation seems to imply that `/`, `checked_div`, and `wrapping_div` may not all do the same thing.)  This is further confused by the integ

[2015-07-07 03:35] steveklabnik commented on #26845
http://doc.rust-lang.org/reference.html#behavior-not-considered-unsafe talks about 'overflow' and mentions wrapping, but you're right that we can surface this better.

[2015-07-07 04:08] CodingAnarchy commented on #26843
I expected that to fail - overall I wanted to convert a string to an ident. Or compare an ident to a string - either would work.

However, this still fails even when I did it literally - the equivalent of `concat_idents!(foo, bar)`

[2015-07-07 04:12] P1start opened #26847 "Associated constants should not be object safe"
The following code compiles:

[code]

Furthermore, adding the line `<Foo>::FOO;` to `main` causes an ICE:

[code]

[2015-07-07 04:23] CodingAnarchy commented on #26843
Correction, it looks like that was because it was including the `::`.  Ok, maybe it's just getting a hang of the odd corner cases involved with all this that's causing me to be confused.

[2015-07-07 04:44] eefriedman commented on #26843
If you're not sure how to do something in Rust, please post a question on StackOverflow or users.rust-lang.org, not here.

[2015-07-07 05:40] CodingAnarchy commented on #26843
To be fair, I didn't post this because I didn't know how to do something, but because I was discovering an error that I didn't expect or understand when trying something that seemed like it should work.

I understand there's a lot of churn and development despite the 1.1 release, so that's to be expected.  It's also new, so I'm learning as I go.  I don't find it unreasonable that this is here, eve

[2015-07-07 05:40] #26843 closed

[2015-07-07 05:58] nrc commented on #26767
I'm having trouble reproducing this. I tried pulling the branch you mention and running make, this didn't get quite to the end of the build process. I am missing  i386-elf-ld and couldn't figure out how to get it.

I tried creating a minimal test case with various combinations of `write!`, but couldn't repro.

@justinas could you provide a minimal test case please? Or at least a version of your pr

[2015-07-07 06:06] #26805 closed

[2015-07-07 06:06] #24802 closed

[2015-07-07 06:06] #25765 closed

[2015-07-07 06:06] #25786 closed

[2015-07-07 06:36] justinas commented on #26767
I think I had a version mismatch between the installed rustc (through multirust) and the tree from which `libcore.rlib` was built. Updated the latter and the problem has disappeared.

[2015-07-07 06:36] #26767 closed

[2015-07-07 11:16] arielb1 commented on #26845
@steveklabnik

This is about rounding, not wrapping. We use LLVM's `sdiv`, which rounds towards zero (and `srem` has the same sign as the dividend). We should document this (the documentation for `wrapping_div` currently *lies*, claiming that it rounds towards negative infinite).

[2015-07-07 11:21] arielb1 commented on #20825
This currently reports `error: unsupported cyclic reference between types/traits detected [E0391]`

[2015-07-07 11:26] arielb1 commented on #21140
duplicate of #26812.

[2015-07-07 11:31] arielb1 commented on #20770
Seems like intended behaviour to me, now that arguments are associated types.

[2015-07-07 11:31] #20770 closed

[2015-07-07 11:32] arielb1 commented on #20872
I don't think this is relevant today.

[2015-07-07 11:37] arielb1 commented on #22731
This is fixed & tested.

[2015-07-07 11:37] #22731 closed

[2015-07-07 11:39] IvanUkhov commented on #24857
[Here](http://is.gd/CAKMEX) is another context where default values could be useful:

[code]

Regards,
Ivan

[2015-07-07 11:40] arielb1 commented on #21259
This is fixed, and has tests.

[2015-07-07 11:40] #21259 closed

[2015-07-07 11:45] bluss commented on #21259
Thanks!

[2015-07-07 11:59] arielb1 commented on #22697
Fixed between 1.1-1.2.

[2015-07-07 12:03] arielb1 commented on #23073
These were fixed when defaults were implemented.

[2015-07-07 12:03] #23073 closed

[2015-07-07 12:14] arielb1 commented on #23118
Supertraits are explicitly required to be acyclic. This is intentional (@apasel422's specific example can be broken by moving the `Value` associated-type to a `Container` supertrait).

[2015-07-07 12:14] #23118 closed

[2015-07-07 12:16] arielb1 commented on #23439
@cmr-s example is the only one that ICE-s current rustc.

[2015-07-07 12:39] gkoz commented on #22697
Thanks @arielb1 this compiles fine in the playpen on beta and nightly channels indeed.

[2015-07-07 12:39] #22697 closed

[2015-07-07 12:43] gkoz commented on #23345
This is now rejected with `the type parameter `T` is not constrained by the impl trait, self type, or predicates` in beta and the diagnostic seems correct, that `impl` doesn't make sense to my current self.

[2015-07-07 12:43] #23345 closed

[2015-07-07 12:47] gkoz commented on #23346
This is rejected by beta with `the type parameter PAR is not constrained by the impl trait, self type, or predicates` which is logical I guess. But technically a breaking change.

[2015-07-07 12:55] apasel422 commented on #23118
@arielb1 Could you explain your suggested refactoring a bit more?

On Tuesday, July 7, 2015, arielb1 <notifications@github.com> wrote:

[2015-07-07 13:03] shinglyu commented on #24387
I'm a noob, can I give it a try? I could try writing a unicode version, then implement the `--output-plain-ascii` flag.

[2015-07-07 13:05] Manishearth commented on #24387
@shinglyu sure! You can borrow a lot of stuff from Keegan's impl [here](https://github.com/rust-lang/rust/pull/21406/files), feel free to ask me if you have more questions!

[2015-07-07 13:07] shinglyu commented on #24387
@Manishearth : nice to see you again :)

[2015-07-07 13:13] vojtechkral opened #26851 "Difficult for plugins to set visibility of Items"
Even though the `vis` field of `syntax::ast::Item` is `pub`, it's pretty difficult for compiler plugins to set visibility of an item, since they tend to be passed around wrapped in `P<>`. `ExtCtxt` doesn't seem to provide any means to do it.

I had to write this horrible hack to set visibility of Items:

[code]

Or maybe I missed something...?
Am I supposed to create `use` statements for each item

[2015-07-07 13:38] steveklabnik commented on #26779
Are you sure you have the exact same code? There's a possibility you're actually joining sequentially....

[2015-07-07 14:02] vincentbernat commented on #26779
I am talking about this code (unfortunately, I don't know how to point to a line number in a markdown document):

[code]

So, yes, join is done sequentially, but join is just about waiting for threads to end. All threads should (and they do) execute in parallel. The output should be 5 lines of philosophers starting to eat and 5 lines of philosophers done eating. Any other output would show a flaw

[2015-07-07 17:05] nikomatsakis commented on #26656
After thinking on this last night, I laid it out in my head this way. There is a properly very similar to variance, let's call it "`Type` *may access* `X`" where `X` is one of the type parameters declared on `Type`. It indicates whether having access to a `Type<Foo>` potentially lets you manipulate the contents of `Foo`. This can be inferred in a global way just as variance can be inferred by sett

[2015-07-07 17:16] nikomatsakis commented on #26656
Some implications of this, presuming this property is inferred in a similar fashion to variance:

- adding a fn or trait object into a type is (technically) a breaking change. That worried me some, but I realized that it is likely true already, since it also affects the variance calculation (triggers invariance).

[2015-07-07 17:21] arielb1 commented on #26656
Personally I think of the issue as being more related to liveness - every lifetime parameter to a function (or impl) is required to be alive when the function (that can access that impl) is called, but (because of dropck) type parameters passed to a function may not be alive. This is preserved by normal selection (as it can't dig into the dead type and find the dead lifetime), but trait objects (a

[2015-07-07 17:22] steveklabnik commented on #12032
After doing https://github.com/rust-lang/rust/pull/26833 , @nikomatsakis and I decided to not actually go through this right now. At some point, we'll be developing a more formal model for Rust, and this information will belong there, but as it is, it feels weird in the reference.

[2015-07-07 17:22] #12032 closed

[2015-07-07 17:38] batisteo opened #26860 "Rustc doesn't run on Fedora 22"
batisteo@w650sz:~$ curl -f -L https://static.rust-lang.org/rustup.sh -O

[code]
    batisteo@w650sz:~$ sh rustup.sh

[code]
    batisteo@w650sz:~$ rustc -v

[code]

Might be similar to this [comment on issue 21215](https://github.com/rust-lang/rust/issues/21215#issuecomment-89846979)

[2015-07-07 17:41] #26690 closed

[2015-07-07 17:45] nikomatsakis commented on #26656
@arielb1 I don't disagree with all that. It is certainly intentional that dropck allows access to "potentially dead data" in some cases. The original formulation did not, but we found it was very strict. The goal of the "may observe" relation I was discussing is to specify precisely when it is ok to allow access to potentially dead data, because we can be sure that the data will not be used.

/me

[2015-07-07 17:51] durka opened #26862 "ICE compiling "solicit" crate"
Sorry about the giant backtrace. This is attempting to compile [solicit](https://github.com/mlalic/solicit).

    nri@nri-desktop:~/software/nri/solicit$ RUST_BACKTRACE=1 cargo build --verbose
           Fresh libc v0.1.8
           Fresh log v0.3.1
       Compiling solicit v0.4.0 (file:///home/nri/software/nri/solicit)
         Running `rustc src/lib.rs --crate-name solicit --crate-type lib -g --

[2015-07-07 17:52] durka commented on #26862
BTW, it builds on stable and beta so this is a new ICE.

[2015-07-07 17:56] arielb1 commented on #26656
Heh, dtors could always refer to dead types (with `unsafe_destructor` then).

[2015-07-07 17:59] durka commented on #26862
ICE was introduced between nightly-2015-07-01 and nightly-2015-07-07.

[2015-07-07 18:02] jroesch commented on #26862
I believe this this the bug I created and @eddyb fixed yesterday in #26807

[2015-07-07 18:05] eddyb commented on #26862
@durka The fix will be in the next nightly.

[2015-07-07 18:05] #26862 closed

[2015-07-07 19:02] #23346 closed

[2015-07-07 19:52] nikomatsakis commented on #26656
@arielb1 yes, they were only ever `Send+'static` in a fictional dream world :)

[2015-07-07 20:04] frewsxcv opened #26864 "Redundant trait bounds in compile error suggestion"
code:

[code]

message:

[code]

in particular, the 'not satisifed' trait bounds has two duplicated results:

this currently happens on the beta and nightly release channels (stable doesn't display this message at all)

[playpen link](http://is.gd/iEs3Nq)

[2015-07-07 20:26] Wmaxlees opened #26865 "Generic to determine size at compile time"
It would be nice to be able to make a datatype like the following:

[code]

Where N is not a type but an integer. So, for example:

[code]

would create an instance of `Vec<int; 5]>`

[2015-07-07 20:49] BurntSushi opened #26866 "ICE with trait object + associated type"
Probably not minimal example:

[code]

Version: `rustc 1.3.0-nightly (6d71ce536 2015-07-06)`

This code was working on the previous nightly---I think the 2015-07-06 nightly introduced this regression. In particular, this very badly breaks any non-trivial use of QuickCheck (which has the same signature as `shrink` above).

[2015-07-07 20:50] steveklabnik commented on #26865
We do have http://doc.rust-lang.org/std/mem/fn.size_of.html to determine size at compile time, but it doesn't seem this is exactly what you're talking about.

To put a `5` in a type position like this, we would need https://github.com/rust-lang/rfcs/issues/1038 , I think, and so this feels like a duplicate of that to me.

[2015-07-07 20:56] Wmaxlees commented on #26865
Yeah I think that it is a duplicate of that other issue.

[2015-07-07 21:10] crumblingstatue opened #26867 "libstd: Div is not implemented for Wrapping"
Is this intentional or has this been an oversight?

[2015-07-07 21:11] jhasse commented on #22968
I just ran into the same assertion (with both stable 1.1 and nightly 1.3), but with different code. Would it help if I try to create another minimal working example and post it here or a new bug report? This is my backtrace:

[code]

`cargo clean` didn't help.

[2015-07-07 21:27] retep998 commented on #26003
Now I'm wondering if a library built by `cl.exe` has PDB data, will `llvm-ar.exe` properly carry forward that debug info?

[2015-07-07 21:30] stej commented on #11986
I tried to use the proposed solution, but it looks that the API changed significantly. What is the current way how to find a string starting from given index?

[2015-07-07 21:39] huonw opened #26868 "Add issue references to each `#[unstable]`"
`#[unstable]` now supports the `issue = "NNN"` field, that allows linking it to an issue here, e.g. `#[unstable(feature = "foo", reason = "bar", issue = "1234")]`. We should use it more.

The exact arrangement of which library features need issues/how those issues will be laid out is up in the air at the moment, so this issue isn't yet a call to action.

[TODO: make some sort of checklist]

cc @ru

[2015-07-07 21:44] BurntSushi commented on #26866
I forgot to show the output of compilation:

[code]

[2015-07-07 22:01] #26865 closed

[2015-07-07 22:01] steveklabnik commented on #26867
/cc @rust-lang/libs

[2015-07-07 22:04] Gankro commented on #26867
Should be implemented.

[2015-07-07 22:13] alexcrichton commented on #26867
Yeah this is fine to implement, but we tend to not keep tracking issues open for minor things like this, so closing. Feel free to send a PR though!

[2015-07-07 22:21] crumblingstatue commented on #26867
Right now I don't plan on hacking on the Rust codebase, so I won't implement this myself.
Won't not tracking this issue make it easy to forget implementing this?
Or is it not beneficial enough to implement that forgetting it is fine?

[2015-07-07 22:24] huonw commented on #26867
Reopening.

Tagging as E-easy, since this should just be calling the normal `/` operator (we can't avoid checking for 0 and -1, since they're actually undefined behaviour).

[2015-07-07 23:44] posix4e commented on #26702
So we got the first two pull requests in, now we need to build a stage0 snapshot

fetch: x86_64-unknown-netbsd/stage0/bin/rustc
Traceback (most recent call last):
  File "/root/rust/src/etc/get-snapshot.py", line 78, in <module>
    main(sys.argv)
  File "/root/rust/src/etc/get-snapshot.py", line 60, in main
    snap = determine_curr_snapshot(triple)
  File "/root/rust/src/etc/snapshot.py", line 3

[2015-07-08 00:21] tomjakubowski commented on #26866
Smaller example:

[code]

[2015-07-08 00:23] tomjakubowski commented on #26866
This also seems to only happen if the associated type binding is the `Self` type in an impl. This works for example:

[code]

[2015-07-08 00:47] IvanUkhov opened #26871 "rustdoc: show the descriptions of traits’ implementations if any"
Right now if one adds additional information to an implementation of a trait’s method, that information is not shown in the output of `rustdoc`. For instance, the [implementation](https://github.com/rust-lang/rust/blob/master/src/liballoc/rc.rs#L457-L482) of `Drop` for `Rc` has an elaborate description with an example; however, this information is [not accessible](http://static.rust-lang.org/doc/m

[2015-07-08 00:56] jroesch commented on #26866
99% sure this is also due to the fulfillment context bug I committed that @eddyb fixed yesterday. The PR should be in tonights nightly.

[2015-07-08 00:59] cybergeek94 commented on #24028
Same with `slice::position_elem`.

[2015-07-08 01:08] bluss commented on #24028
@cybergeek94 For `position_elem` I just guess that it's related to the want for a more extended searching API for slices. For string slices we have patterns, and you can `.find()` a char, substring, set of chars etc. The question is what we want to do with `&[_]` and stabilizing `position_elem` is affected by that.

[2015-07-08 01:10] steveklabnik commented on #26871
This used to work. @alexcrichton did you change this?

[2015-07-08 01:11] #26346 closed

[2015-07-08 01:11] #26375 closed

[2015-07-08 01:11] #26344 closed

[2015-07-08 01:11] #26345 closed

[2015-07-08 01:27] TheNeikos opened #26872 "Linking error unless 'use'd"
While working on a sample game with rust I encountered a strange bug which I believe to be a corner case of the setup I have. I am unable to recreate it in a simpler crate, so I am going to submit the code as I have it right now, hoping someone else might spot what is going wrong.

I have created a branch on my project that should reproduce this bug: https://github.com/TheNeikos/rpg/tree/error-lin

[2015-07-08 01:52] durka opened #26873 "unresolved import using separate files, but not mod statements"
This code compiles:

[code]

[code]

However, splitting the code into files causes compilation to fail:

[code]

[code]

[code]

[code]

[code]

I am not sure whether `use C::T` or use `self::C::T` is correct; regardless, replacing the latter with the former in `A/mod.rs` produces a similar error:

[code]

[2015-07-08 01:55] durka commented on #26873
cc @TheNeikos

[2015-07-08 02:08] alexcrichton commented on #26871
I do vaguely remember intentionally removing this because it was way too noisy, but I have a feeling that we just blanket inlined documentation instead of only displaying documentation that was explicitly written. I think it'd be fine to implement this, and at the very least we could just browse around the docs and see how they looked.

[2015-07-08 02:10] alexcrichton commented on #26872
I believe that this is a dupe of https://github.com/rust-lang/rust/issues/16734, so closing in favor of that.

[2015-07-08 02:10] #26872 closed

[2015-07-08 02:37] alexcrichton commented on #25185
cc #14344, also very similar.

[2015-07-08 04:52] eddyb commented on #26866
Incidentally, those examples are very close to the test case added in #26807.

[2015-07-08 06:13] MrAlert commented on #26654
Updated WIP at MrAlert/rust@08413003f32f2cc554215ff942e43ca47aa2362d. Added fallback groups, and removed branches on calls to compatibility functions by initializing the function pointers to point to loader stubs instead of NULL. Should perform roughly as well as regular DLL calls now (if it didn't already.)

I also tested the fallbacks under Windows 7, and for whatever reason `sync::condvar::test

[2015-07-08 06:35] sfackler commented on #26851
You probably want to use `P::map`: https://doc.rust-lang.org/stable/syntax/ptr/struct.P.html#method.map

[2015-07-08 07:02] tshepang commented on #26344
@Gankro ^

[2015-07-08 07:03] tshepang commented on #26344
@Gankro Does this mean Atomics should be mentioned in the Language Reference? What about Send and Sync? Currently, only Sync is mentioned, and that only in passing.

[2015-07-08 07:26] #25901 closed

[2015-07-08 09:41] pnkfelix commented on #26656
okay clearly the Sound Drop RFC needs some updating.  The observation that parametricity is not a sufficient condition is important.  I will try to incorporate the comments above into a PR on the rfcs repo (either a new RFC or an amendment to Sound Drop, depending on how bad the damage is).

[2015-07-08 09:48] zonyitoo opened #26875 "Rustc unexpectedly panicked"
Backtrace:

[code]

Rustc version

[code]

[2015-07-08 09:55] Aatch commented on #26875
Could you provide some code that reproduces the error?

[2015-07-08 10:15] vojtechkral commented on #26851
Ah, yes, that's what I missed! Thanks! :smile:

[2015-07-08 10:15] #26851 closed

[2015-07-08 10:47] zonyitoo commented on #26875
@Aatch Please build this project: https://github.com/mlalic/solicit

[2015-07-08 11:31] IvanUkhov opened #26880 "Do not require to implement a trait method if a constraint is not satisfied"
Consider the [following example](http://is.gd/TOrGVM):

[code]

The example produces the following error:

[code]

However, `Baz` doesn’t implement `Bar`, and presumably it shouldn’t be required to implement `bar` when implementing `Foo`.

Regards,
Ivan

[2015-07-08 11:50] batisteo commented on #26860
Adding `export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib` in my `~/.bashrc` did the trick.

I hope this will be resolved soon in
https://github.com/rust-lang/rust-installer/issues/30

I guess this issue can be close as it doesn't concern Rust itself.

[2015-07-08 11:50] #26860 closed

[2015-07-08 12:35] tomaka commented on #19878
This seems.

[2015-07-08 12:35] #19878 closed

[2015-07-08 12:36] tomaka commented on #24601
This problem is still around with the 2015-07-01 nightlies.

[2015-07-08 12:47] arielb1 commented on #24601
It is LLVM that takes 1 hour ("LLVM function passes"?) Are you sure there is no swapping going on?

[2015-07-08 13:12] arielb1 commented on #26875
dupe of #26807?

[2015-07-08 13:23] tbu- opened #26886 "ICE: a type named `...` has already been imported in this module."
$ RUST_BACKTRACE=1 make
    cfg: version 1.3.0-dev (fd8e175c4 2015-07-08)
    cfg: build triple x86_64-unknown-linux-gnu
    cfg: host triples x86_64-unknown-linux-gnu
    cfg: target triples x86_64-unknown-linux-gnu
    cfg: host for x86_64-unknown-linux-gnu is x86_64
    cfg: os for x86_64-unknown-linux-gnu is unknown-linux-gnu
    cfg: good valgrind for x86_64-unknown-linux-gnu is 1
    cfg: us

[2015-07-08 13:35] tomaka commented on #24601
I was going to investigate that, and it looks like the 07-07 nightlies no longer have this problem!

@arielb1 Thanks :D

[2015-07-08 13:35] #24601 closed

[2015-07-08 13:37] tomaka commented on #24601
One thing to note is that the 07-01 nightlies that I had installed were the MSVC nightlies (and not MinGW). But it's highly unlikely that the problem just disappeared from the MinGW nightlies.

[2015-07-08 14:26] apasel422 opened #26888 "Document replacement behavior of map and set insertion methods"
The behavior of the following methods is undocumented when the key/item being inserted is equivalent to one already in the collection:

- [`BTreeMap::insert`](https://doc.rust-lang.org/nightly/std/collections/struct.BTreeMap.html#method.insert)
- [`BTreeSet::insert`](https://doc.rust-lang.org/nightly/std/collections/struct.BTreeSet.html#method.insert)
- [`HashMap::insert`](https://doc.rust-lang.or

[2015-07-08 15:01] shinglyu commented on #24387
@Manishearth : I tried to read the patch https://github.com/rust-lang/rust/pull/21406, but I had a hard time understanding the codebase. Is there any document/blog post/diagram/etc that explains the folder structure and runtime behavior? Most of the docs I found are explaining the Rust language syntax.

Or should I start by reading the llvm tutorial?

[2015-07-08 15:43] RalfJung opened #26890 "`Stdin:read_line` does not need `&mut self`"
Currently, `Stdin::read_line` takes `self` as `&mut`. Why is that? The implementation simply locks and calls `read_line` on the guard, and locking doesn't need a mutable `self`. So this is unnecessary, and the doc doesn't say why this was done. (Nor does the source.)

So I propose for this to be changed to `&self`. Looks like an oversight of some refactoring to me.

[2015-07-08 16:11] sfackler commented on #26890
I imagine it's like that because the signature was copied off of the `Read` trait - changing it to take `&self` seems fine to me personally. cc @alexcrichton

[2015-07-08 16:52] steveklabnik commented on #26779
Sorry, I did a poor job of articulating my concern here. It looks fine.

[2015-07-08 16:56] steveklabnik commented on #26723
This usage is already mentioned

1. in the macro docs http://doc.rust-lang.org/stable/std/macro.vec!.html
2. in the std::vec docs http://doc.rust-lang.org/stable/std/vec/index.html

[2015-07-08 16:56] #26723 closed

[2015-07-08 16:58] steveklabnik commented on #26689
@pornel are you still persuing a PR, or should I write something?

[2015-07-08 17:02] steveklabnik commented on #26628
Any suggestions for how to best improve the docs here? I'm not sure which approach is best, as `std::raw` isn't something I use.

[2015-07-08 17:22] apasel422 commented on #23118
For anyone who comes across this later, the pattern ends up being something like:
[code]

[2015-07-08 17:30] alexcrichton commented on #26890
Yeah I think it'd be fine to switch to `&self`

[2015-07-08 19:37] Gankro commented on #26868
* [ ] all the features

[2015-07-08 19:43] RalfJung commented on #26890
Is it quicker for one of you to just do that, or should I submit a PR?

[2015-07-08 19:50] sfackler commented on #26890
Go for it!

[2015-07-08 20:03] RalfJung commented on #26890
See #26897.

[2015-07-08 20:24] vincentbernat commented on #26779
I am confused. Do you want me to do a PR or do you disagree?

[2015-07-08 20:35] huonw commented on #26813
triage: I-nominated

Seems to be a regression.

[2015-07-08 20:35] alexcrichton commented on #26716
triage: P-high

[2015-07-08 20:48] arielb1 commented on #20433
cc #25388

[2015-07-08 20:53] arielb1 commented on #20842
Seems like a dupe of #20862.

[2015-07-08 20:54] arielb1 commented on #20842
also, code missing. closing.

[2015-07-08 20:54] #20842 closed

[2015-07-08 21:01] arielb1 commented on #21073
Simpler:
[code]

[2015-07-08 21:05] arielb1 commented on #21111
cc #25388

[2015-07-08 21:07] arielb1 commented on #21139
dupe of #22565

[2015-07-08 21:08] arielb1 commented on #22565
Also reachable more "legitimately"

[code]

[2015-07-08 21:09] arielb1 commented on #21216
Seems like a duplicate of #21390, and unlikely to be reproduced. Closing.

[2015-07-08 21:09] #21216 closed

[2015-07-08 21:13] #4951 closed

[2015-07-08 21:13] #26482 closed

[2015-07-08 21:13] #26552 closed

[2015-07-08 21:14] arielb1 commented on #22566
Clone of #22565

[2015-07-08 21:16] arielb1 commented on #21533
Confirming still ICEs

[2015-07-08 21:22] arielb1 commented on #22603
seems like more const trouble.

[2015-07-08 21:25] arielb1 commented on #22789
Minimal:
[code]

[2015-07-08 21:26] arielb1 commented on #22799
Example uses an unconstrained projection (`ToPtr<*mut <PAR as Wrapper>::Inner> for CHI`) - fixed by rust-lang/rfcs#447. Closing.

[2015-07-08 21:26] #22799 closed

[2015-07-08 21:36] alexcrichton opened #26900 "Rename SliceConcatExt::connect to join"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1102

[2015-07-08 21:53] RalfJung commented on #26710
The pull request <https://github.com/rust-lang/rust/pull/26743> is now in final comment period, so that's the right place to comment about "adding lines_any to BufRead" vs. "changing lines to cover Windows line endings".

[2015-07-08 21:59] Gankro opened #26902 "Ensure loops optimize right at the LLVM level"
This involves 4 steps:

1) Gather up several different loop/iterator idioms that should optimize to e.g. memset/memcopy and run it through `rustc -opt-level=0 --emit=llvm-ir`
2) Feed the IR from step 1 into `opt -O2 -print-before-all` and grab the IR from before `Recognize loop idioms`
3) Write a LoopIdiomRecognize pass that handles the IR in step 2
4) Write codegen tests for rustc that verify tha

[2015-07-08 22:14] jroesch commented on #24857
I currently have a PR open that implements default type parameter fallback, if anyone is so inclined any test cases would be appreciated. PR: https://github.com/rust-lang/rust/pull/26870

[2015-07-08 22:17] pornel commented on #26689
Sorry, I've been a bit ill. It's still on my todo list.

[2015-07-08 22:41] steveklabnik commented on #26689
It's all good! Feel better. I have other work I can do, was just curious.

[2015-07-08 22:52] Gankro commented on #26902
@pcwalton has said their willing to mentor anyone who wants to take a crack at this.

[2015-07-08 23:25] Gankro opened #26905 "DST coercions are prevented by phantom data"
This prevents Rc from having a sound definition with respect to dropcheck

[code]

[code]

[2015-07-08 23:25] Gankro commented on #26905
CC @nrc @eddyb

[2015-07-08 23:28] bluss commented on #26871
This is the same issue as #24838.

Note that you can document the impl by putting the doc on top of the `impl` block now. (Please don't remove that! :smile:)

[2015-07-08 23:33] alexcrichton opened #26906 "Rename slice::{tail, init} per RFC 1058"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1058

[2015-07-09 00:17] #14344 closed

[2015-07-09 00:17] #25185 closed

[2015-07-09 00:30] nrc commented on #26905
I think DST coercions should just ignore all zero-sized fields

[2015-07-09 01:13] kballard commented on #26906
If nobody else gets to it first, when I have the spare time I'll try and update my old PR #24184 for this. But please don't let that stop anyone else from tackling this if they get to it first.

[2015-07-09 02:27] kaelliu commented on #26454
i use rust 1.1.0 stable,use your #[cfg(unix)] still not work,have to use std::os::unix::fs::MetadataExt and then works

[2015-07-09 02:33] yongqli opened #26908 "illegal hardware instruction"
rustc generates an executable which crashes with `illegal hardware instruction`.

Steps to reproduce:

    git clone https://github.com/j-e-k/rust-dmat-bug
    cd rust-dmat-bug
    cargo bench

[2015-07-09 02:50] yongqli commented on #26908
Ok, I think I figured out what's going on. `bug[(i,j)] = x.clone();` causes the destructor for `bug[(i,j)]` to be run, but it is uninitialized.

[2015-07-09 03:18] yongqli commented on #26908
Actually, shouldn't it be safe to drop an zeroed out `Vec`? This doesn't crash: https://play.rust-lang.org/?gist=f657533bf78cbaba8549&version=nightly

[2015-07-09 04:32] eddyb commented on #26905
@nrc the only immediate solution would be ignoring `PhantomData`. Actually, that's still problematic.
I guess would could ignore `PhantomData<T> -> PhantomData<U> where T: Unsize<U>`.
Otherwise, it's possible to construct a type where coercing can modify its properties in an incompatible way.
Although, could it lead to memory safety, if no unsafe code is used with it?

[2015-07-09 04:46] Aatch commented on #26908
This isn't a bug. The Vec isn't zeroed out and even if it was, all-zeroes isn't valid for a Vec. While your example there doesn't crash, that doesn't really mean much. The optimizer can be very finicky about these kinds of things.

I suggest using the `from_elem` method on `DMat` instead.

[2015-07-09 04:46] #26908 closed

[2015-07-09 05:08] bombless opened #26911 "Unstable features should not appear in API documents built for stable Rust"
Users on stable and beta channel cannot use unstable features, so it makes no sense to print those APIs to their documents.

[2015-07-09 05:11] arielb1 commented on #26905
@eddyb

I don't think `PhantomData` serves as a witness today (and you have to implement `Unsize` for this to be important).

[2015-07-09 05:15] #23302 closed

[2015-07-09 05:57] nrc commented on #23032
bt:

[code]

[2015-07-09 06:03] Kraxxis opened #26912 "internal compiler error: translating unsupported cast"
[code]
The following minimal example will cause an internal compiler error:
[code]
Error text:
[code]

[2015-07-09 06:09] mitaa commented on #26912
This is fixed in beta (dup of #25143)

[2015-07-09 06:18] alexcrichton commented on #26912
Thanks @mitaa!

[2015-07-09 06:18] #26912 closed

[2015-07-09 06:24] alexcrichton commented on #26911
This is currently an intentional feature of rustdoc because there are relatively few unstable features and it gives a good preview of what's upcoming in Rust.

[2015-07-09 06:24] #26911 closed

[2015-07-09 07:16] Manishearth commented on #24387
src/librustc/session/config.rs contains the stuff for sorting out command line arguments

src/libsyntax/diagnostic.rs has the stuff for printing out a span.

You don't need to understand the rest at this stage, really :)

[2015-07-09 08:43] zonyitoo commented on #26875
Fixed in new nightly build `rustc 1.3.0-nightly (e6a9be10b 2015-07-07)`

[2015-07-09 08:43] #26875 closed

[2015-07-09 08:44] retep998 opened #26915 "LLVM assertion regression for msvc"
While it's been building fine for a while now, an appveyor build for `glutin` failed with an LLVM assertion for `x86_64-pc-windows-gnu` on `winapi-build`. The `i686-pc-windows-gnu` build, using the same rustc version, was fine though.

https://ci.appveyor.com/project/tomaka/glutin/build/1.0.1287/job/923vn1edivaxvhl6

`rustc 1.3.0-nightly (e6a9be10b 2015-07-07)`
`cargo 0.4.0-nightly (5f4c188 2015-0

[2015-07-09 08:47] #26867 closed

[2015-07-09 09:05] pnkfelix commented on #26484
This was injected by f9d4149c29e8b989fa3624993be379f380e48dcf

cc @alexcrichton @michaelwoerister

[2015-07-09 09:16] pnkfelix commented on #26454
@kaelliu that is exactly what the linked gist is demonstrating.  This bug is not yet fixed (and thus it is still open).

[2015-07-09 09:18] pnkfelix commented on #26454
(dupe of #13065 ; perhaps I will close this in favor of that, though this bug has the advantage that it provides a concrete test case)

[2015-07-09 10:21] bluss commented on #23344
Some notes on Stdin as it is today:

There seem to be some inefficiencies, the [allocation of a 4 kB vector](https://github.com/rust-lang/rust/blob/9c3ba763891b0fe626adefc19ad7908b0862a41c/src/libstd/sys/windows/stdio.rs#L97) can possibly be turned into an array on the stack. A new String is then allocated again from that result.

The [MemReader comment should go,](https://github.com/rust-lang/rus

[2015-07-09 11:31] gobwas commented on #21469
@Thiez Does `RwLock` is for single threaded too?

[2015-07-09 12:02] eddyb commented on #21469
@gobwas no, `RwLock` and `Mutex` are multi-threaded locks.

[2015-07-09 12:10] arielb1 commented on #19182
@nikomatsakis claims this is intentional.

[2015-07-09 12:13] arielb1 commented on #19182
closing.

[2015-07-09 12:13] #19182 closed

[2015-07-09 12:20] pnkfelix commented on #26484
backtrace from the assert under lldb on OS X : https://gist.github.com/pnkfelix/13851983520628197add

[2015-07-09 12:46] carols10cents opened #26916 "Explain when/why to use lifetimes in TRPL Lifetimes chapter"
Some [feedback from Reddit](https://www.reddit.com/r/rust/comments/3cl12r/is_rust_too_complicated/csx0y6t):

I totally agree that the reasons are important.

[2015-07-09 12:53] carols10cents opened #26917 "Explain the `<>` more, in or before the Lifetimes chapter of TRPL where it first appears"
Some [feedback from reddit](https://www.reddit.com/r/rust/comments/3cl12r/is_rust_too_complicated/csx0y6t):

The Lifetimes chapter currently has:

which does say "declares our lifetimes", so maybe further explanation isn't appropriate here, but it looks like the Functions chapter is sticking to the bare minimum.

I'm not sure where this would fit, but I think the `< >` could use another sentence o

[2015-07-09 13:10] ihrwein opened #26918 "Trait inherits from other traits, but cannot be casted back to them"
I don't know why I cannot cast `FooBar` back to `Foo` or `Bar`.

I tried this code:

[code]

I expected it to compile.

Instead, this happened:

[code]
## Meta

I used playpen with the stable channel.

[2015-07-09 13:13] gobwas commented on #21469
@eddyb :beers: thanks )

[2015-07-09 15:00] retep998 commented on #26915
cc @alexcrichton

[2015-07-09 16:53] shmerl commented on #11562
Is there an SVG version of the brown Rust logo? Above only b&w version is listed in SVG format.

[2015-07-09 17:05] nikomatsakis commented on #26656
triage: P-high (soundness issue)

[2015-07-09 17:06] nikomatsakis commented on #26739
triage: P-high (decision needed)

For this and other macro rules, it's unclear how much we can change here, but I think we should make an effort to fix these bugs sooner rather than later if we are going to do so!

[2015-07-09 17:07] nikomatsakis commented on #26775
triage: P-high

We should nail this down. I'm assigning this to @nrc since iirc he last touched the privacy code. ;)

[2015-07-09 17:10] nikomatsakis commented on #26813
It's unclear what's changed here. @nrc do you think this could be the DST coercion stuff? It wasn't obvious to me that it was, but it's a possible candidate, in which case @eddyb was perhaps right ;P.

[2015-07-09 17:10] nikomatsakis commented on #26813
triage: P-high (regression)

[2015-07-09 17:12] nikomatsakis commented on #26813
Not sure who to assign this one too! I'll take it for now.

[2015-07-09 17:13] nikomatsakis commented on #23286
All right, I'll give it P-high. I've been thinking of tackling this issue that @arielb1 is describing as part of another change. This is kind of a dup but I'm going to keep it separate.

triage: P-high

[2015-07-09 17:19] pnkfelix commented on #26641
cc me

[2015-07-09 18:47] pnkfelix commented on #26775
(any reason we can't just ... make `pub extern crate` a parse error ... ?)

[2015-07-09 19:11] nrc commented on #26813
Seems unlikely to be DST-related to me

[2015-07-09 19:46] bluss opened #26920 "Debug for `str` writes one byte at a time"
The `Debug` formatter for `str` outputs one byte at a time to the underlying writer.

We could improve this, for example we could skip forward while no escaping is needed, and if we find a char to escape, write the backlog and then write escape for the current char, and continue.

Exploration impl:

[code]

[2015-07-09 19:51] pnkfelix commented on #26484
[code]

[2015-07-09 20:39] posix4e commented on #26624
Taking a step back... are we sure that we are doing as much as possible. It seems as though lots of the rustc calls could be done in parallel.

Take
rustc: x86_64-unknown-linux-gnu/stage2/lib/rustlib/x86_64-unknown-linux-gnu/lib/libcore
rustc: x86_64-unknown-linux-gnu/stage2/lib/rustlib/x86_64-unknown-linux-gnu/lib/liblibc
rustc: x86_64-unknown-linux-gnu/stage2/lib/rustlib/x86_64-unknown-linux-gnu

[2015-07-09 20:50] Toby-S opened #26922 "ICE using an associated constant as an array length in a function parameter"
The following code causes an ICE using the latest nightly.

[code]

Running with RUST_BACKTRACE=1 gives

[code]

[code]

This might be a duplicate of #24938 (although that issue is now closed) or #26402.

[2015-07-09 21:19] steveklabnik commented on #26880
The `Foo` trait here has a `bar` method that's not implemented.

[2015-07-09 21:58] comex opened #26925 "#[derive] is too conservative with field trait bounds"
In the following code:
[code]
both derives expand to impls that require the corresponding trait to be implemented on the type parameter, e.g.:
[code]
However, this isn't actually necessary, as `Y<T>` will still be eligible for `Copy` regardless of whether `T` is.

This may be hard to fix, given the compilation phase at which `#[derive]` works...

[2015-07-09 22:13] posix4e commented on #26624
OK NM i am crazy

[2015-07-09 22:14] huonw commented on #26925
This is a dupe of https://github.com/rust-lang/rust/issues/7671 which I suspect may've been accidentally closed. (i.e. the patch that closed it was modified to no longer tackle it.)

[2015-07-09 22:53] huonw opened #26927 "Deref and DerefMut docs don't mention autoderef/deref coercions"
Current docs are:

&nbsp;

[2015-07-09 23:29] liigo commented on #23286
Does https://github.com/rust-lang/rust/pull/26617 fix this issue?

[2015-07-10 03:31] wesleywiser commented on #26900
Hi, I'd like to take this if that's OK.

Should I also change all of the places in this repo where `.connect` is called to call `.join` instead? Or does that break bootstrapping?

Thanks!

[2015-07-10 04:19] slimsag opened #26930 "1.1.0: glob imports break re-exporting a crate"
`cargo new mycrate`

Add to `Cargo.toml`:

[code]

Make empty `x.rs` file: `touch mycrate/src/x.rs`

Contents of `mycrate/src/lib.rs`:

[code]

[code]

Try removing the `use self::x::*;` line and everything will work just fine.

- OS: Ubuntu 15.04 (beta)
- `rustc --version`: `rustc 1.1.0 (35ceea399 2015-06-19)`

[2015-07-10 04:38] reem commented on #26888
This is... unexpected.

[2015-07-10 04:42] reem commented on #26746
Note that `fn` items are not actually function pointers, they share the same mechanism as closures of being anonymous types with impls of `Fn*`, they are only coercible to `fn` pointers (`fn(X) -> Y`).

[2015-07-10 05:20] aij commented on #18285
This bug makes debugging errors returned through `try!` really annoying.

[2015-07-10 06:02] alexcrichton commented on #26900
You should indeed! The stage0 libstd will have the rename so the bootstrap should be just fine (aka if `make` finishes then you're fine)

[2015-07-10 06:56] dotdash commented on #26468
Patch landed upstream.

[2015-07-10 08:22] filsmick commented on #21757
This just bit me, the `pub` should behave as expected or not compile.

[2015-07-10 08:59] ben0x539 opened #26933 "`std::fs::copy` sets permissions too late"
`std::fs::copy` makes a new file, reads permissions of the old file, copies contents of the old file to the new file, and then sets permissions of the new file to those it just read. If used to copy a file that is only readable to the current user into a public directory, there's an opportunity for another user to get ahold of the just-created file before permissions are set and read all the secre

[2015-07-10 09:40] jalanb commented on #25289
I'm on Ubuntu 12.04

[code]

[2015-07-10 10:46] oli-obk commented on #26847
I think the code should be legal to compile. It's impossible to get the value of `FOO` from a variable (there's no such thing as `a::FOO` where `a` is a binding of type `&Foo`).

[2015-07-10 11:27] Thiez commented on #26933
How would this work when copying a file that has no write permissions for anyone? :)

[2015-07-10 12:18] wesleywiser commented on #26900
Thanks! I'm working on this now.

[2015-07-10 13:14] Diggsey commented on #26933
It will also fail to preserve any additional metadata or alternate data streams attached to the file. The only reliable way I could find of doing this on *nix was to invoke `cp` which is rather unfortunate...

[2015-07-10 13:25] diwic opened #26937 "Incorrect lifetime inferred for closure"
Example:

[code]

Fails with:

[code]

The problem can be worked around by writing `|s: &str|` instead of just `|s|`, but according to @eddyb this behaviour should be improved to infer the correct lifetime.

[2015-07-10 14:13] #26915 closed

[2015-07-10 14:15] RalfJung opened #26938 "Rules for object safety should be documented"
Currently, the only documentation of the rules for object safety I could find is in [this blog post](https://huonw.github.io/blog/2015/01/object-safety/). However, this should also become part of the official documentation, for example [here](http://doc.rust-lang.org/stable/book/trait-objects.html).

[2015-07-10 14:18] steveklabnik commented on #26938
It is currently defined in http://doc.rust-lang.org/reference.html#trait-objects but having it in the book would be nice too.

[2015-07-10 14:33] Stebalien commented on #26933
@Diggsey `cp` also copies permissions *after* copying the data (so does python incidentally).

However, `cp` will try to create the target file with the source's mode if it doesn't exist (good). Unfortunately, even if you copy the permissions first, anyone who has the file open will still be able to read it (at least on linux) and, as ACLs can actually remove access to a file, creating the destina

[2015-07-10 15:23] SirVer opened #26939 "Compile error when compiling rustc for ios."
This is d0d37075a54b68df99c46d42655a06c575eecd3f.

I am trying to follow [this tutorial](https://www.bignerdranch.com/blog/building-an-ios-app-in-rust-part-1/) to learn something about iOS. It contains a step about cross compiling rustc for iOS:

[code]

Seems like an honest bug - I wonder why I only see this with these config flags? Am I doing it wrong?

[2015-07-10 15:36] apasel422 commented on #26925
#19839 is relevant.

[2015-07-10 16:11] Gankro opened #26940 "Allow destructuring of Drop types by-value"
This is equivalent to mem::forget, and therefore seems to be safe if a bit foolhardy. Only really a problem within the module that defines the type regardless.

Maybe have a warn on by default.

I don't like having to ptr::read out my fields when they aren't Copy.

[2015-07-10 16:43] azilber commented on #26939
I've literally just went through this same guide a few hours ago, including the 'Makefile'.  I've had a successful build and tested on iphone 4-6plus emulators.  Not sure what your versions are, and it would be helpful if you posted that, but I'm on OSX 10.10.4 using Xcode 6.4 and Rust 1.1.0-dev.

I didn't follow the instructions completely though, because I woudn't really want to use nightlies fo

[2015-07-10 16:47] SirVer commented on #26939
As stated, I am using a current checkout, namely https://github.com/rust-lang/rust/commit/d0d37075a54b68df99c46d42655a06c575eecd3f.

I have no doubts that it works with earlier versions (the blog author could make it work obviously) - but the bug seems to be a real one in rust, so I reported it.

[2015-07-10 16:55] bluss commented on #26920
Reported a bug to gauge the importance. I'd tackle it, but is it a bug? Worth fixing?

[2015-07-10 16:57] huonw commented on #26920
It seems silly to have unnecessarily slow code hanging around, but if the fixed code is complicated, maybe it's not worth it yet?

[2015-07-10 17:33] pnkfelix commented on #26940
-1.  I don't agree with the reasoning by equivalence with `mem::forget` here -- it is usually easy to grep for and otherwise notice uses of `mem::forget` to catch (non-leak) cases where the destructor is not run, but this change would make it much hard to catch such cases.

(That is, I am inferring that is the effect you want here, that the destructor will not be run... maybe I misunderstood that

[2015-07-10 17:35] Diggsey commented on #26940
It's only possible to get equivalent behaviour via `mem::forget` if the type has no private fields. At the moment you're guaranteed that the destructor for private fields can only ever run if the container's destructor has already run. Even if you only allow destructuring of the public fields, that's new behaviour that couldn't be emulated before.

However, with the restriction that destructuring

[2015-07-10 17:55] Gankro commented on #26940
@pnkfelix you understand my proposal, but I think the warn lint would handle grepping, no?

[2015-07-10 18:58] SirVer commented on #26939
`stable` works, I checked with this:

[code]

the `beta` branch fails with the same error as current HEAD.

[2015-07-10 19:29] eefriedman commented on #26940
Another problem you might not have considered:

[code]

This code is safe on current Rust, but isn't safe if destructuring arbitrary types where all the fields are visible is allowed.  This is kind of subtle: it depends on the property that it isn't possible for safe code to create a value of type MaybeCrashOnDrop that isn't wrapped in an InteriorUnsafe.

[2015-07-10 20:14] nikomatsakis commented on #25954
I'm curious what is the origin of this example?

[2015-07-10 20:31] Gankro commented on #26940
Hmm... that's an interesting example, for sure! I suppose I will have to live with ptr::read'ing the fields and mem::forgetting the struct.

[2015-07-10 20:31] #26940 closed

[2015-07-10 20:59] comex opened #26946 "improve error message for using unbound 'self' in macro"
I just mistakenly tried to naively use `self` in a macro (which is only invoked by a method taking self), and got the error:

[code]

As described in #15682, failure is intended due to hygiene.  However, the error message is inaccurate, because a macro body is not a static method.  It should be changed to take this case into account.

[2015-07-10 21:27] comex opened #26948 "ICE with attempted functional record update on struct-like enum variant"
[code]

produces:

[code]

Note: omitting the field before the `, ..orig` yields a "missing field" error.

(I can't find anything this would be a dupe of.)

[2015-07-10 21:37] debris opened #26949 "Alias for Box of Arrays not working properly"
I cannot use `my_alias::new` when box is wrapping an array.

I tried this code:

[code]

I expected alias `Values` to work properly.

Instead, I got error:

[code]

## Meta

`rustc --version --verbose`:

[code]

os: osx 10.10.3

[2015-07-10 21:53] bluss commented on #23600
This also gives the same ICE:
[code]

If you size it just right you actually get an out of memory instead (= abort)
[code]

[2015-07-10 21:59] bluss opened #26951 "Abort on some large allocation requests, Panic on other"
Compare these two:

[code]

We request a vector with 18446744073709551615 elements.

- For `u8` we receive out of memory (null) from the allocator, and call `alloc::oom`, which aborts the program.
- For `u16`, we get an assertion: `thread '<main>' panicked at 'capacity overflow', ../src/libcore/option.rs:330`

This is inconsistent. Why don't we abort on both of these cases? We abort on too large a

[2015-07-10 22:12] frankmcsherry opened #26952 "Stable regression in nightly"
Type inference broke, or something. Hard to see why, as the file (broadcast.rs) is probably one of the simpler cases.

Easiest repro to is clone the repo (it is also up on crates, though as an earlier version)

[code]

[2015-07-10 23:06] jethrogb opened #26953 "Clarify public type aliasing behavior"
Compile:

[code]

[code]

Yet A is quite obviously imported. The same error appears in a different place when compiling:

[code]

[code]

This compiles:

[code]

But wait, I thought in example no. 1, we couldn't resolve `A` from `main()`?

Using `pub use` instead makes example no. 1 work:

[code]

For completeness, here is the tuple-struct version:

[code]

[code]

And the regular struct version (

[2015-07-10 23:10] eefriedman commented on #26949
The important part of the error message is ``note: the method `new` exists but the following trait bounds were not satisfied: `[u8] : core::marker::Sized` ``.  (Translation: `Box<[u8]>::new` doesn't exist because `[u8]` is unsized, as opposed to `Box<[u8; 8]>::new`.)

This isn't really a bug, but the error message could be a bit better.

[2015-07-10 23:23] nagisa commented on #26951
`usize * size_of::<u16>` doesn’t fit into an `usize`, therefore it can’t even go to the allocator.

I’d rather `alloc::oom` panic instead, but that might hit oom while unwinding again, so it is tricky if not impossible.

[2015-07-10 23:23] vitaly opened #26954 "internal compiler error: unexpected panic"
tried to compile the following code using `cargo build`:

[code]

version:
[code]

error message and backtrace:
[code]

[2015-07-10 23:29] nagisa commented on #26933
Open a file for writing and change permissions before writing anything. While there’s still a window for a malicious party to open the file, it is much smaller.

[2015-07-10 23:32] nagisa commented on #26922
Duplicate of https://github.com/rust-lang/rust/issues/26797

[2015-07-10 23:33] FreeFull opened #26956 "Excessive repeated errors when unsized slice is used in a for loop"
This code:
[code]
produces the following errors
[code]
Both the Sized and Iterator errors repeat multiple times, and I suspect they would repeat indefinitely if rustc didn't have an error threshold.

[2015-07-11 00:12] quantheory commented on #26797
@arielb I've been out of commission for any significant compiler changes for the last month, and it will probably be bit longer before I can tackle something this big again. I'll try to come up with a real error message as a stopgap, but we probably won't be able to properly compile affected code until some upcoming collect refactoring is done.

[2015-07-11 00:40] quantheory commented on #26681
This is at least blocked on the generic const RFC, though I do intend to take a crack at implementing that, or at least the groundwork, in the coming weeks.

On top of that, handling this example probably requires some changes both to the code and to how we deal with casts/coercion in constant expressions. Right now, I think that unsuffixed literals always have a specific integer type inferred. Bu

[2015-07-11 00:53] alexcrichton commented on #26952
This is likely due to the new implementation of `Extend` on collections for `&T`. Do you have some source code that we could poke around with? This may just entail an annotation on a call to `collect`.

[2015-07-11 00:57] shinglyu commented on #24387
@Manishearth : thanks! I'll take a look.

[2015-07-11 01:41] Stebalien commented on #26933
1. If the file already exists you should just fail and return an error instead of trying to overwrite a read-only file.
2. (On linux, I don't know about windows) If the file doesn't exist, it doesn't matter what mode you create the file with, you will always be able to write to it (as long as you open it for writing):
[code]

&lt;ta mode>
Forget this entire concept; this is not how computer securi

[2015-07-11 02:21] jroesch commented on #26954
Have you tried upgrading your compiler to a stable release? it appears that your version is from before the 1.0 stable release.

[2015-07-11 03:10] #26716 closed

[2015-07-11 03:34] frankmcsherry commented on #26952
Well, you can poke around with a copy of the repo? The file that is causing the issues is https://github.com/frankmcsherry/timely-dataflow/blob/master/src/progress/broadcast.rs, and thought it doesn't seem to use `Extend` or `extend` directly, it used to (so, the issue might be similar).

If I misunderstand what you mean by code to poke around with, let me know. I don't have a smaller reproduction

[2015-07-11 03:51] steveklabnik commented on #26954
Yes, this does not ICE on 1.0.0 final. And 1.1 is now the stable release, where it works as well.

Sorry about that @vitaly ! Just update your compiler.

[2015-07-11 03:51] #26954 closed

[2015-07-11 08:29] bluss commented on #26952
I didn't understand the reason it didn't infer, looks like it should be quite simple. Smells a bit like a regression in the language, not caused by libstd changes(?)

[2015-07-11 10:46] bluss opened #26962 "Additional 1.2. relnote items"
* PR #26416 -- better error information for `std::io::Error`.

cc @brson

[2015-07-11 10:53] arielb1 commented on #26953
These (`A`) are not structure expressions - they are just the (nullary) tuple-struct constructor. Every tuple-struct declaration declares both the struct and the struct's constructor, which have the same name. The struct constructor is pretty much an ordinary constant/function (with type `A` if the struct is nullary, or type `fn(Foo,Bar)->A` if the struct contains fields). `type` aliases only the

[2015-07-11 10:57] bluss opened #26964 "Debug for CString is lossy"
CString should escape its contents like a byte string, not trying to show it as utf-8. Right now it does the latter via `to_string_lossy()`

[2015-07-11 11:00] bluss commented on #26964
For example, if the CString contains the byte `\xff`, I would expect that to be visible in the Debug output.

[2015-07-11 11:26] niconiconico9 commented on #5492
Is there a reason why this bug is tagged as "P-low"?
The alternatives that are proposed and I guess currently used entails that a great care is taken for handling alignement properly.
The last example on how this can be fixed without any language addition, is a perfect example how the language is promoting to write code that is incorrent because it don't provide a proper solution

[2015-07-11 12:03] arielb1 commented on #26951
@bluss

For the record, your code is the equivalent of
[code]

In the `u16` case, the amount of memory that is supposed to be allocated is `2*(2^64 - 1)`, which exceeds the size of `usize`. That is checked for rather explicitly in `Vec::with_capacity`. Maybe we should abort instead of panicking in that case too.

[2015-07-11 12:04] arielb1 commented on #26949
I don't see how can we improve this situation.

[2015-07-11 12:06] arielb1 commented on #26948
I really don't see how this could work. This should give an error rather than an ICE through.

[2015-07-11 12:12] Manishearth commented on #24407
I'm not sure how to trigger E0079, E0308 keeps getting in the way. Anyone want to try?

[2015-07-11 12:37] bluss commented on #26951
Additional info: already `!0` bytes is more than we can safely allow allocating (due to known fact #22104). We should treat that as capacity overflow, but decline to do so, because it will abort anyway.

[2015-07-11 13:47] bluss commented on #26949
@debris `Values::new` doesn't make sense, it is in fact not implemented, because the requirement `T: Sized` is not fulfilled. It needs to be created as a `Box<[u8; 8]>` first and then cast or coerced into `Box<[T]>`.

[2015-07-11 14:18] ThinkChaos opened #26968 "Explicit difference between .. and _ in patterns in docs"
When reading the book, specifically the [Ignoring Variants](https://doc.rust-lang.org/book/patterns.html#ignoring-variants) in Patterns, I found it unclear that in a pattern `..` can match multiple fields. Thus couldn't figure out what made it differ from `_`, without playing with code.

This is because of:
 - the phrasing, specifically "**the** value and type in the variant"
 - the example not ex

[2015-07-11 14:54] DoumanAsh opened #26969 "LTO faulty build which is fixed by print!()"
Found strange thing when i enable ```lto``` optimization:
It always panics at this place https://github.com/DoumanAsh/collectionScripts/blob/lto_hyper/rust/vim_updater/src/main.rs#L43
[code]

But if i'll place printout here https://github.com/DoumanAsh/collectionScripts/blob/lto_hyper/rust/vim_updater/src/main.rs#L43
Then it works just fine.

Rust version:
[code]

I'm not sure if there is bug in h

[2015-07-11 14:56] DoumanAsh commented on #26969
Ping you @reem and @seanmonstar in case if you have some ideas for that :) or just FYI :)

[2015-07-11 15:03] Diggsey commented on #26933
This isn't an issue on windows because it provides `CopyFile`, `CopyFileEx` which do the job properly, including preserving metadata and alternate data streams.

[2015-07-11 15:17] llogiq opened #26970 "Misleading error message on use of FnOnce<(T, U), Output=V>"
[This stack overflow question](http://stackoverflow.com/questions/31353960/how-to-use-parentheses-for-generics/31354984?noredirect=1#comment50696461_31354984) shows that if one tries to declare a `FnOnce<(T, U), Output=V>` (which should be a `FnOnce(T, U) -> V`), the error message is quite misleading.

[2015-07-11 15:41] cactorium commented on #24407
It looks like the spreadsheet says michaelsproul already finished that one

[2015-07-11 15:43] Manishearth commented on #24407
I'm working on improving existing ones

-----Original Message-----
From: "cactorium" <notifications@github.com>
Sent: ‎7/‎11/‎2015 9:12 PM
To: "rust-lang/rust" <rust@noreply.github.com>
Cc: "Manish Goregaokar" <manishsmail@gmail.com>
Subject: Re: [rust] Add error explanations for all error codes (trackingissue). (#24407)

It looks like the spreadsheet says michaelsproul already finished that one
—

[2015-07-11 15:53] cactorium commented on #24407
Ah, my bad. I got E0079 to trigger though! Does triggering both E0079 and E0308 count?

[code]

[2015-07-11 16:22] arynhard opened #26971 "Cannot build rust on OS X 10.11 public beta"
[code]

[2015-07-11 16:27] nagisa commented on #26969
A few diagnostic questions:

* How do you enable LTO? Is it via `-C lto` or do you pass linker-specific arguments via `-C link-args`?
* Is that windows?
* Could you run your panicking program with `RUST_BACKTRACE` environment variable set (to `1`) and post the backtrace here?

[2015-07-11 16:34] nagisa commented on #26447
I’ve hit this in both exactly this test and compiling a regular program (i.e. not a test) via `cargo rustc -- -C lto`.

[2015-07-11 16:42] jethrogb commented on #26953
What do I know, I just go by what the [reference says](http://doc.rust-lang.org/reference.html#structure-expressions).

[2015-07-11 16:45] DoumanAsh commented on #26969
It is passed by Cargo.
* I set ```lto = true```
* platform is windows, yes
* Backtrace:
[code]

[2015-07-11 16:47] nagisa commented on #26971
Duplicate of https://github.com/rust-lang/rust/issues/26292

[2015-07-11 17:32] arielb1 commented on #26953
Then the reference is wrong – `TuplePoint(10.0, 20.0)` is just a *call expression* with the function being the path `TuplePoint` and the arguments being `10.0` and `20.0` - there is no such thing as a *tuple structure expression*.

[2015-07-11 18:21] tshepang commented on #24407
playpen: http://is.gd/cAbc2m

[2015-07-11 18:55] SirVer commented on #16259
+1. seeing this error on 1b28ffa5216c845d1cef6b0cb3e5ac7db12025d0 while building a cross compiler from darwin to linux using `../configure --target=i686-unknown-linux-gnu && make -j3`.

[2015-07-11 20:06] #26971 closed

[2015-07-11 20:25] alexcrichton commented on #26952
Oh oops sorry I missed the git link in the initial report! Nominating as this does look like a regression

[2015-07-11 20:25] alexcrichton commented on #26952
cc @rust-lang/lang and @rust-lang/comipler

[2015-07-11 20:25] alexcrichton commented on #26952
er, @rust-lang/compiler

[2015-07-11 20:35] alexcrichton commented on #26969
It's not clear to me that this is a bug caused by LTO, adding something like a print can seriously alter the timings of when things are run and a PoisonError only comes up in concurrent situations. How are you running this? (`cargo run --release`?). I'm not able to reproduce this locally on Linux, and this may also just be a bug in one of the underlying dependencies.

[2015-07-11 20:38] geraldstanje opened #26975 "for loop issue"
hi,

the following code just just terminates without any error...ideas?
if this code is not allowed the compiler needs to create an compile error?

[code]

playground: http://is.gd/yLCmj2

i know you could use: for i in (0..10).rev()

[2015-07-11 20:46] alexcrichton commented on #26975
This is intentional as the range `10..0` is an empty range because the start is larger than the end. Looks lie you've seen the fix, though, of `(0..10).rev()`!

[2015-07-11 20:46] #26975 closed

[2015-07-11 20:52] Gankro commented on #26975
@manishearth is this something rust-clippy can handle?

On Sat, Jul 11, 2015 at 1:47 PM, Alex Crichton <notifications@github.com>
wrote:

[2015-07-11 20:54] Manishearth commented on #26975
Yes, cc @llogiq

[2015-07-11 20:57] DoumanAsh commented on #26969
@alexcrichton It is not clear to me too, but i decided first to try post this issue here as i don't know where to start :(
I'm building my crate with ```cargo build --release``` and then execute in manually. But it should be the same as ```cargo run --release``` :)

[2015-07-11 21:00] geraldstanje commented on #26975
@alexcrichton shouldnt the compiler return a compiler error or warning in this case?

[2015-07-11 21:02] Manishearth commented on #26975
It's not necessarily the job of the compiler to emit warnings for footguns like these. We do it in some cases, but not all. Projects like rust-clippy exist to write lints for a wider range of footguns.

[2015-07-11 21:12] retep998 commented on #26933
@Diggsey We actually do use `CopyFileEx` on Windows as of https://github.com/rust-lang/rust/pull/26751, so this is purely a non-Windows issue :grinning:

[2015-07-11 22:34] barosl opened #26978 "Deref coercions do not work with blocks"
It seems that the compiler handles a block differently when coercing a value.

[code]

[RFC 401](https://github.com/rust-lang/rfcs/blob/master/text/0401-coercions.md) says that a block with type `U` is also a target for coercion, so I think this behavior is a bug.

Also, the compiler seems to be able to coerce blocks using some "trivial" rules (e.g. `&mut T` -> `&T`).

[code]

So I guess this is m

[2015-07-11 23:03] Gankro commented on #26978
CC @nrc

[2015-07-12 07:21] DoumanAsh commented on #26969
Is it possible to make backtrace more proper? with file lines and etc? :)

[2015-07-12 08:45] bluss commented on #26978
As some users have discovered, `{x}.item` can be used to force a `x: &mut X` to move instead of reborrow. Is that related? We might not be allowed to break that.

[2015-07-12 09:50] #26697 closed

[2015-07-12 12:14] Gordin commented on #23189
Was about to open a new Issue but I guess I'm having the same problem here. This will be an update that this still happens in rustc 1.3.0-nightly (98dcd5e10 2015-07-11) as well as in stable 1.1.0.

I tried to write a very simple rust program split into two files. I couldn't figure out the right way to use modules from the documentation so I did trial and error for a bit and ended up with a compile

[2015-07-12 13:16] #26964 closed

[2015-07-12 14:16] Eljay commented on #24746
This seems to only happen for code spans <= 8 characters, e.g:

![image](https://cloud.githubusercontent.com/assets/6574/8638136/84d5e74c-28a8-11e5-894f-b9677e20f009.png)
The other problems (e.g. screwed up formatting) are just a result of the "leaked" span content being output directly as html.

[2015-07-12 14:38] simonsimon006 opened #26989 "only string and byte strings supported in compare_values"
When I try to compile my code, the compiler fails with "only string and byte strings supported in compare_values";.
 My code:

[code]

I am learning the language, so I don't know if this really is a bug.

Here the backtrace:

[code]

[2015-07-12 15:23] #26906 closed

[2015-07-12 15:35] petrochenkov commented on #26989
Minimized:
[code]

[2015-07-12 16:23] bkoropoff commented on #26952
Note that changes to type inference that require the addition of annotations to existing code are considered "fair game".  I'd still like to understand what changed, though.

[2015-07-12 18:42] shepmaster opened #26991 "impl<T> is not introduced in the book"
There's only a few references to `impl<` in TRPL:

1. src/doc/trpl/deref-coercions.md
2. src/doc/trpl/lifetimes.md
3. src/doc/trpl/unsized-types.md

None of these really mention that you use `impl<T>` to declare a typename that will participate in either the trait or item involved in the implementation.

[2015-07-12 19:10] nrc opened #26994 "quasi-quoting a block expression doesn't work"
`quote_expr!(self.cx, { $result_name = Some($expr); break $loop_label; })` failed with `error: expected one of `.`, `;`, `}`, or an operator, found `'__hoare_2`` (`__hoare_2` is the expected value of `$loop_label`). This failed in expansion so I couldn't get an expanded AST to find out what was going on.

The work around:

[code]

worked fine

[2015-07-12 19:26] jroesch commented on #26952
I don't think any intentional inference changes have landed, but I agree @bkoropoff we should at least figure out what changed and advise people accordingly.

[2015-07-12 19:58] nrc commented on #26994
I think this has something to do with the ident loop_label, quasi-quoting is not pasting it into the break label position correctly. I previously had similar problems when I forgot to start the label name with a `'`, but that is not the problem here.

Note that the 'correct' version above compiles without an error, but generates incorrect code - no label to break to. If I build that part of the AS

[2015-07-12 20:36] SimonSapin opened #26995 "404 for rustdoc [src] links for files with absolute paths"
When the path to a source file as known to the compiler is absolute (which can happen with `#[path = "/…"] mod foo;` or `include!`), rustdoc fails to include the source of these files in its output.

For example, the [src] link on http://doc.servo.org/script/dom/bindings/codegen/Bindings/DOMParserBinding/enum.SupportedType.html goes to http://doc.servo.org/src/script///home/servo/buildbot/slave/do

[2015-07-12 20:53] eefriedman opened #26996 "Wrong code with assignment in match body"
[code]
[code]

[2015-07-12 21:16] brson commented on #26962
Thanks!

[2015-07-12 21:39] istankovic opened #26997 "ICE: 'assertion failed: index < LLVMCountParams(llfn)', ../src/librustc_llvm/lib.rs:2250"
The compiler panics when trying to compile this code:
[code]

This is with
[code]

[code]

[2015-07-12 22:38] eefriedman opened #26998 "Pattern guards should run at most once"
[code]
[code]
Granted, putting expressions with side-effects into pattern guards is a little dubious, but the behavior here doesn't seem intuitive.

[2015-07-12 22:46] nrc commented on #26978
I suspect this is something specific to deref coercions. I think it is 'just a bug', but I don't know how easy it is to fix.

[2015-07-12 23:37] #26900 closed

[2015-07-13 01:07] Aatch commented on #26998
Pattern guards need to be run multiple times in order to match mulitple patterns in the same arm with the same guard:

[code]

We actually do limit a fair amount of behaviour in pattern guards, but to limit it any further would make it useless.

Anyway changing this behaviour would be a **massive** backwards compatibility break, so I'm closing this.

[2015-07-13 01:07] #26998 closed

[2015-07-13 01:41] Aatch commented on #26989
Wierd, just swapping the first two arms causes it to start compiling again...

[code]

[2015-07-13 01:53] eefriedman commented on #26998
Oh, right... sorry about the noise.

[2015-07-13 03:39] milesrout opened #27004 "ICE when using macro as for loop parameter"
macro_rules! foo {
        () => ()
    }

    pub fn main () {
        for foo!() in (1..) {
        }
    }

error:

    error: internal compiler error: unexpected panic
    note: the compiler unexpectedly panicked. this is a bug.
    note: we would appreciate a bug report: https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md#bug-reports
    note: run with `RUST_BACKTRACE=1` for a backt

[2015-07-13 03:43] Aatch commented on #27004
I haven't looked yet, but I assume that this is due to the order in which expansions happen. With the `for` expansion happening before macro expansions. I'm not familiar enough with the code to know if simply doing macro expansion first is a sensible fix or not.

[2015-07-13 03:56] eefriedman opened #27005 "Missing "unreachable pattern" error with range"
[code]

Currently compiles, but the `'a'...'b'` pattern is clearly unreachable.

[2015-07-13 04:58] Aatch commented on #26997
Arg, `extern` methods again! Seriously, can we get these made invalid already!

[2015-07-13 05:38] Aatch commented on #27005
I looked into this, and I'm not sure it's possible to fix without a massive amount of work. Basically, we check for unreachable patterns by seeing if a pattern is still "useful" by the time we get to it. We determine whether or not it's useful by specialising as we go down. The way the code is written right now means you can't create new patterns or modify existing ones, so we can't modify or spli

[2015-07-13 06:07] SiegeLord commented on #5477
Code like this compiles and runs without error in stable rustc today:

[code]

Is the intention to stop that code from compiling or issue a runtime error?

[2015-07-13 06:35] DoumanAsh commented on #26969
@alexcrichton
just out of curiosity were you testing it with nighty/beta compiler?

[2015-07-13 06:51] ihrwein commented on #16293
@eternaleye try this way:

[code]

[2015-07-13 07:03] #20549 closed

[2015-07-13 07:29] eternaleye commented on #16293
@ihrwein

Those are completely different. My destructuring() takes self by read-only reference, while yours takes it by value - and of course it can be destructured in the body; by then it's a variable like any other. That's not the point.

The point is that UFCS, as far as I can see, was specified as making it such that defining a first parameter of type `[&[mut] ]Self` would permit method-call s

[2015-07-13 08:10] Thiez commented on #26996
Actually what happens here is the following:

The tuple you create in `c` is moved, because it is not `Copy`. When you perform the `match` you move *out* of `c`, into `c2`, leaving `c` uninitialized. Your assignment to `c.0` is basically to uninitialized memory, and doesn't have an effect. When you perform the assertion you see the old value of `c.0`, because your assignment to `c.0` had no effect

[2015-07-13 08:34] #26845 closed

[2015-07-13 08:45] oli-obk opened #27008 "wrong error when using a unit struct as length of a repeat expression"
[code]
yields the expected
[code]

while

[code]

thinks that `B` is a variable
[code]

[PlayPen](http://is.gd/IgyXUb)

[2015-07-13 08:51] mitaa commented on #26996
Don't we see the new value `c.0 = 2;`, even though we're accessing `c2.0`, when performing the assertion, which causes it to fail?

Doing this without a match statement passes the same assertion sucessfully:
[code]

[2015-07-13 09:14] DanielKeep commented on #24000
Ran into this just now helping someone with cloneable iterators.  Turns out that you can't clone a `Filter` due to `fn`s not being cloneable.  Also, just to be clear, functions *definitely* implement `Copy`, but don't implement `Clone`.

[2015-07-13 09:15] nagisa commented on #5477
Yes, although that would be somewhat of a breaking change.
On Jul 13, 2015 9:08 AM, "SiegeLord" <notifications@github.com> wrote:

[2015-07-13 09:28] Thiez commented on #26996
Oops, you are correct, I am mistaken :(

On Mon, Jul 13, 2015 at 10:52 AM, mitaa <notifications@github.com> wrote:

[2015-07-13 10:08] r-arias commented on #25690
I have the same bug on OS X when building 1.1.0.
[code]

[2015-07-13 10:53] llogiq commented on #26970
Thanks, @steveklabnik!

[2015-07-13 11:12] Leopard2A5 opened #27009 "Ownership error masks missing implementation of trait"
I would expect the main function to not compile because clone() has not been implemented for struct Test. However this error is masked by:

`src/main.rs:26:2: 26:7 error: cannot borrow `tests` as mutable because it is also borrowed as immutable`

The error here is the missing implementation though, because it solves the ownership issue. rustc doesn't complain about the missing implementation at al

[2015-07-13 11:25] pnkfelix opened #27010 "Buildbot Request: Add one `--enable-debug --enable-optimize` bot that at least bootstraps (no tests)"
Spawned off of #26484

Just as it is important to developers that we try to avoid injecting test regressions (and thus we have bors check that the regression test suite passes before every commit to master), it is also important to developers that the debug-enabled build of `rustc` actually be able to bootstrap.

Unfortunately, none of the current bots build with `--enable-debug`.  This is justifi

[2015-07-13 12:01] mitaa commented on #27009
This compiles because `Copy` and `Clone` ([Make Copy a subtrait of Clone](https://github.com/rust-lang/rust/pull/23860)) are implemented for any `&T`. So in this situation just the pointer is copied, which retainins the borrow.

Maybe a lint which warns when this [impl/method](https://github.com/rust-lang/rust/blob/master/src/libcore/clone.rs#L54) is invoked could help?
Because I don't think this

[2015-07-13 12:06] Leopard2A5 commented on #27009
(I have to point out that i've only just started with Rust.)

So if i get you right i should have dereferenced tests.last().unwrap() before calling clone and that would have been a compiler error because it doesn't use the Clone impl's for &T?

[2015-07-13 12:22] pnkfelix commented on #5477
The intention was to force examples like [above comment](https://github.com/rust-lang/rust/issues/5477#issuecomment-120824098) to be feature-gated (and thus you'd have to opt-in to be able to write them).  But it seems like the feature-gating code in #23945 did not catch this case (or it has regressed since then, which seems less likely to me...)

[2015-07-13 12:24] mitaa commented on #27009
Well, yes, if you do that you will get the correct compiler error, but I don't think the error message is worth the additional verbosity in general.

[code]

[2015-07-13 12:32] Leopard2A5 commented on #27009
So to wrap it up it was my bad, because i didn't know that references can be cloned by default... kinda hard to put my finger on the actual problem here :P

[2015-07-13 12:44] jhasse commented on #22968
Okay here it is:

[code]

Unfortunately it has something to do with glium, so I guess this doesn't help much :/

[2015-07-13 12:50] apasel422 commented on #26217
https://github.com/rust-lang/rust/blob/560b1dab1532c75415751d63250136d02efb0612/src/librustc/middle/traits/fulfill.rs#L416-L419 contains the following comment:

            // regions.  If there are, we will call this obligation an
            // error. Eventually we should be able to support some
            // cases here, I imagine (e.g., `for<'a> int : 'a`).

[2015-07-13 13:36] SimonSapin commented on #24000
I ran into this again with code like this:
[code]

When trying to clone `iter` later in the same function, I got this error message:
[code]

`FlatMap` *does* implement `Clone`, but it’s derived and requires all type parameters to be `Clone` as well. I tried `.flat_map(|x| x.clone())` but closures are apparently not `Clone`. With @eddyb’s help on IRC, the only way we found to have both `FnMut` and

[2015-07-13 13:38] frewsxcv commented on #13427
Can anyone confirm if this is still an issue?

[2015-07-13 13:40] bluss commented on #24000
@DanielKeep @SimonSapin You can clone a Map iterator with a fn pointer, but not a Filter.. :-(  This since `fn(T) -> R` is Clone but not `fn<'a>(&'a T) -> R`

Best solution is probably @nikomatsakis idea of somehow providing Clone for everything that's Copy.

[2015-07-13 13:55] #26996 closed

[2015-07-13 14:56] frewsxcv opened #27014 "Rustdoc error output is unnecessarily verbose when encountering unknown file"
What `rustc` displays when encountering an unknown file:

[code]

...and what `rustdoc` displays:

[code]

[2015-07-13 15:09] sinistersnare commented on #21118
MSI installers currently run for windows. should this be closed?

[2015-07-13 15:18] Dineshs91 commented on #24266
@nrc I would like to work on this

[2015-07-13 15:19] KostaCitrix commented on #24658
Please fix. It's really confusing to see missing/wrong documentation if working on non-linux. This is one more 'gotcha' that you need to know, so this makes it harder to start working with rust on non-linux platform.

Thank you for you consideration! :)

[2015-07-13 15:51] arielb1 commented on #26970
I think we just have to write a better message in `--explain`. cc @GuillaumeGomez

[2015-07-13 15:52] Diggsey commented on #24200
Additionally, with generic implementations there may not even be a `Self` type which can be viewed to see the associated types, eg.
[code]

Presumably `<[T] as ToOwned>::Owned == Vec<T>`, but there's no way to tell that from the documentation, and it could just as well be `Box<[T]>`.

[2015-07-13 15:53] GuillaumeGomez commented on #26970
I'm on it!

[2015-07-13 16:02] 0X1A commented on #13427
@frewsxcv I can't say but I believe there are unofficial builds of cargo and rustc floating around some user's repository

[2015-07-13 16:53] alexcrichton commented on #26969
Unfortunately not currently with Windows, that's only available on Linux right now.

All of stable, beta, and nightly operate normally for me without causing a panic.