[2020-08-08 10:45] bs2kbs2k commented on #47048
I solved this issue by running
[code]
to downgrade those 3 packages on archlinux.

[2020-08-08 10:58] infinity0 commented on #68973
@mati865 it doesn't work for me. I am using Debian gcc-mingw not "rust-mingw".

[2020-08-08 12:19] SOF3 commented on #75277
In some larger projects, some values might be computed by somewhat complex logic that needs longer time to think about how to write, and one might create a lot of them quickly. For myself, I often use `todo!()` to fill in missing expressions and compile the crate before I go on so that I can e.g. make sure I didn' t make any type errors. Reachability warnings interferes with this workflow greatly

[2020-08-08 12:19] canova commented on #75252
Ah, interesting. Was that intentional, or just not implemented yet?
Then we can use the case @nbdd0121 provided, although it's a bit different than what first comment explains.

[2020-08-08 13:32] nu8 commented on #4287
@RalfJung as mentioned earlier in this thread:

[code]

hangs forever. I would consider that a bug. A better result would be to bail out.

[2020-08-08 13:56] infinity0 commented on #68973
To follow up, Debian's gcc-mingw does provide libssp, yet my build still fails with the `RUSTFLAGS` described. So I think merely having rust-mingw provide libssp would not be sufficient to get things working - you will probably run into what I described, and we'll have to patch `windows_gnu_base.rs`. Unless you (or someone else) has actually tried it?

[2020-08-08 14:25] poliorcetics commented on #75080
Hello !

I wrote a Python (3.6+, tested with 3.7 and 3.8) script to help with this issue, [here is the gist](https://gist.github.com/poliorcetics/b3cba87c02711fe90cfd6c10ece52c1c).

By default it will not modify the files you pass it, only showing what it would do. You can find more informations about it in the documentation of the script.

Feel free to use it to speed up the work but be aware it

[2020-08-08 14:31] canova opened #75294 "Tracking Issue for {HashMap,BTreeMap}::into_{keys,values}"
Feature gate: `#![feature(map_into_keys_values)]`

This is a tracking issue for `{HashMap,BTreeMap}::into_{keys,values}`.

### Public API

[code]

### Steps / History

- Requested in #55214.
- [x] Implementation: #75163
- [ ] Final commenting period (FCP)
- [ ] Stabilization PR: #84328

### Unresolved Questions

- None yet.

[2020-08-08 14:39] cuviper commented on #75247
In 2020-08-08 nightly-x86_64-unknown-linux-gnu, `libLLVM-10-rust-1.47.0-nightly.so` is 85M.

The rest of `llvm-tools` is only 4MB.

[2020-08-08 14:39] Mark-Simulacrum commented on #75247
The LLVM library in question is 85 MB, but it's also duplicated with an identical file in the lib/ directory. tarball size likely wouldn't be affected by putting it in the rustc component (which has the `lib/` LLVM), but unpacked size on disk would go up by those 85MB. Maybe we should just eat that cost, not sure.

[code]

[2020-08-08 14:42] RalfJung commented on #4287
Yes, it's a bug -- something there clearly needs a counter or so, similar to `recursion_limit`.

I was just commenting on the undecidable aspect.

[2020-08-08 15:19] #74425 closed

[2020-08-08 15:57] jyn514 opened #75296 "Consider creating intra-doc-links for any inline code snippet"
Intra-doc links currently are very useful, but they have to be opted into explicitly. This means the hyperlinks only show up if the crate authors know about them and choose to use them. However, there are many more code snippets used in documentation without the explicit `[]` link. If rustdoc tries to render those links, it would have a much wider impact even for users that don't know about intra-

[2020-08-08 16:03] jyn514 commented on #75296
This would require sweeping changes to `pulldown`, so not sure how feasible it actually is.

[2020-08-08 16:16] canova opened #75297 "Better Debug implementations for HashMap and BTreeMap Keys/Values iterator structs"
For `HashMap`, we have `ValuesMut` struct as the return type of `HashMap::values_mut` method. Although, it return an iterator over values of the map, its Debug implementation prints both keys and values because of the implementation detail. We should only print values for this struct.

For `BTreeMap`, we also have `ValuesMut`  struct for `BTreeMap::values_mut` method. We directly derive Debug for

[2020-08-08 16:16] canova commented on #75297
@rustbot claim

[2020-08-08 16:25] leonardo-m opened #75299 "[ICE] in inner const generic function"
[code]

Compiled with:
`rustc -Z mir-opt-level=3 bug.rs`

Using:
`rustc 1.47.0-nightly (09f4c9f50 2020-08-07) running on x86_64-pc-windows-gnu`

Gives:
[code]

[2020-08-08 16:25] infinity0 commented on #68973
This is what I'm doing:

[code]

In particular, adding `-fstack-protector-strong` here but omitting the `-l`s seems *not* to work.

Feasibly, we could set this only if either CFLAGS or CXXFLAGS contains "stack-protector", and omit it otherwise. The `cc` crate checks these envvars so I don't think it's that bad here either.

After doing this, I can successfully cross-compile a simple hello-world pr

[2020-08-08 16:31] leonardo-m commented on #75299
The problem is not tied to box:

[code]

[2020-08-08 16:45] simonvandel commented on #75144
I would like to work on this
@rustbot claim

[2020-08-08 17:29] Aaron1011 opened #75300 "False positive 'unnecessary parenthesis' with 'if let':"
The following code:

[code]

produces the following warning:

[code]

However, removing the parenthesis results in an error:

[code]

[2020-08-08 17:49] pickfire opened #75301 "Improve codegen for single argument format_args!"
I was using `write!` in a lot of places, some I just do `write!(writer, " ")` but I noticed that the generated assembly is not as good as `writer.write_all(b" ")`. Since we have minimal `const fn` now, I wonder if we could improve the generated assembly when a single character or a single argument is passed in.

[code]

[code]

https://rust.godbolt.org/z/zzEMjd

I also `write!()` could accept a si

[2020-08-08 19:25] Aaron1011 commented on #75300
Closing as duplicate of https://github.com/rust-lang/rust/issues/60336

[2020-08-08 19:25] #75300 closed

[2020-08-08 19:26] ssomers commented on #62953
This is effectively google's landing page for an explanation of this mysterious Rust error E0521, given that the [official error spokeswomen](https://doc.rust-lang.org/nightly/error-index.html#E0521) and `rustc --explain` deny its existence. Most of the links here badmouth the error, but I couldn't figure out what the actual problem in the code is about. #67007 goes into a lot of detail, but if I

[2020-08-08 19:30] RDambrosio016 opened #75303 "Tracking Issue for improved item code blocks"
This is a tracking issue for the improved item code blocks feature. Which is aimed at overall improving the quality of code blocks by removing explicit coloring and instead using the syntax highlighter. And also adding hyperlinks to each field (where applicable) which links to the specific section below the declaration. It was initially discussed in #75178 and it was decided it should be multiple

[2020-08-08 19:40] jyn514 opened #75305 "Improve diagnostics when intra-doc-resolution fails"
Similar to but not the same as https://github.com/rust-lang/rust/issues/74207. Right now rustdoc reports the same error for all the following cases:

[code]
[code]

However we can give much more helpful errors:
[code]

Most of these do not require special help from `rustc_resolve` (that would just let rustdoc duplicate less code).

[2020-08-08 19:42] jgarvin commented on #75241
In creating a test case for this I think I discovered this bug is in cargo expand, not rustc. I filed an issue with them [here](https://github.com/dtolnay/cargo-expand/issues/90). I assumed it had to be rustc because it is allegedly just an alias for a rustc command, but it turns out it has different behavior.

[2020-08-08 20:10] periodicaidan commented on #75240
Ah, thank you for the explanation and the resource!

[2020-08-08 20:10] #75240 closed

[2020-08-08 20:30] yshui commented on #60759
Sorry, I don't quite understand why we couldn't just have `impl<T: Error + ?Sized> Error for Box<T>` ?

[2020-08-08 20:35] stepancheg commented on #51402
@Diggsey

But the user has to explicitly import that trait, which is worse for discoverability and for typing in less advanced IDEs.

[2020-08-08 20:43] #55214 closed

[2020-08-08 20:48] andrewhickman opened #75307 "ICE in format macro"
### Code

The full repository is here, on branch `ice`: https://github.com/andrewhickman/rusty-git/tree/ice

I minimized the code down to one line
[code]

### Meta

`rustc --version --verbose`:
[code]

I can also reproduce the bug on stable (1.45.2), beta (2020-07-23 6f959902b3103c49ca98) and nightly (2020-08-07 09f4c9f5082f78b0adce) versions in the playground

### Error output

[code]

<details><

[2020-08-08 21:02] MSxDOS commented on #72016
How do we rewrite a simple [bittest](https://doc.rust-lang.org/nightly/src/core/up/up/stdarch/crates/core_arch/src/x86/bt.rs.html#8-15) intrinsic using this new syntax without the support of memory operands?

[2020-08-08 21:03] Amanieu commented on #72016
By passing the address in as a register operand.

[2020-08-08 21:12] infinity0 commented on #12859
I am hitting this issue when trying to cross-compile from linux to 32-bit windows.

@mati865 if I patch `src/libpanic_unwind/dwarf/eh.rs` so that `USING_SJLJ_EXCEPTIONS` is `true` on 32-bit windows, do you see any potential issues resulting from this? As I understand, there should be no issues about compatibility between a linux-host rustc vs a windows-host rustc, since rust puts the metadata hash

[2020-08-08 21:13] qiujiangkun commented on #75242
I tried this code and it works
[code]
- The two code being the same assembly does not mean they have the same semantic meaning.
- It's really a strange bug.

[2020-08-08 21:49] simonvandel commented on #75144
Hi @oli-obk
While working on this I see that SwitchInt values are of type u128. This would mean that this optimization could only be done if the integer value is unsigned.

Is it an oversight that SwitchInt does not allow to switch on signed values?

[2020-08-08 21:58] bjorn3 commented on #75144
The u128 is just a zero-extended version of the value to switch on. For example `if i == -1i8` would be something like `Switch(i) -> [0xff: bb1, otherwise: bb2]`.

[2020-08-08 21:59] SNCPlay42 commented on #75307
Reduced format invocation:

[code]

All of using the `r""` syntax, having a named argument, and having at least 3 positional arguments seem necessary.

[2020-08-08 22:14] ThePuzzlemaker commented on #75197
@rustbot claim

[2020-08-08 22:15] ThePuzzlemaker commented on #75197
I'll look into any other obscure search features like this, and be sure to document them. (I'll be sure to document at least this one)

[2020-08-08 22:29] ThePuzzlemaker commented on #75197
![image](https://user-images.githubusercontent.com/12666617/89720862-776d5180-d99c-11ea-8f22-e7d27658d555.png)
@jyn514 I've actually found that this feature is documented in the "Search Tricks" section of the help dialog.

[2020-08-08 22:30] ThePuzzlemaker commented on #75197
And I don't find that it would really be helpful to document this in the rustdoc book as it's more of an emitted feature rather than a rustdoc feature itself. If it wasn't added to the search tricks already, I would add it there.
@rustbot release-assignment

[2020-08-08 22:31] ThePuzzlemaker commented on #75197
I feel that the help dialog is already easy to find enough, though the `for more options...` might be disambiguated to `for help...` or something like that.
![image](https://user-images.githubusercontent.com/12666617/89720912-04b0a600-d99d-11ea-8bac-9956bea5864f.png)

[2020-08-08 22:57] clarfon opened #75311 "Provide auto-fix suggestion for for..of loop"
Been working in JavaScript a lot lately and find myself accidentally typing this a lot. It would be nice to automatically detect this and offer a proper fix. For those who don't know, in JavaScript, `for..of` uses the iterator API, whereas `for..in` iterates over the keys in an object.

Playground example below.

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=

[2020-08-08 23:14] clarfon opened #75312 "Provide auto-fix suggestion for triple equals"
Been working in JavaScript a lot lately and find myself accidentally typing this a lot. It would be nice to automatically detect this and offer a proper fix. Lots of languages use this syntax in addition to JavaScript so it seems like a reasonable error to make.

Playground example below.

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1dd65e329efa94

[2020-08-08 23:21] MSxDOS commented on #72016
That [doesn't work](https://rust.godbolt.org/z/6ssMac) and I think it would be rather weird if it did - the memory address is not a register.

[2020-08-08 23:24] Amanieu commented on #72016
It [does work](https://rust.godbolt.org/z/eoqKKr) if you wrap it in [] to indicate a memory operand.

[2020-08-08 23:29] jyn514 commented on #75197
Hmm that does seem simple enough but I never found it after a year in rust ... cc @rust-lang/rustdoc, does anyone have ideas how to make this more discoverable?

[2020-08-08 23:36] MSxDOS commented on #72016
I see. I'd rather have `in(mem)` syntax here though. `reg` doesn't make much sense since there's no register involved.

[2020-08-08 23:38] Amanieu commented on #72016
There is a register involved to hold the address you want to perform a bit test on.

[2020-08-08 23:41] nbdd0121 commented on #72016
Not necessary true. For an operand on stack, with `in(mem)` you can just access it with `[rsp + offset]`, and for an readonly operand you can access it with `[rip + offset]`. I do see a use-case of `in(mem)` which would allow address with offsets.

[2020-08-08 23:49] nukeop opened #75313 "Panic when compiling gluon on 1.46"
I created an empty hello world project with Cargo, added the "gluon" library to it, then tried to compile.
I understand this is something more than just an incompatibility between the nightly compiler and the library.
Does not occur on stable.

### Code
There's no code, I added `gluon = "0.16.1"` to Cargo.toml of an empty project.

### Meta
`rustc --version --verbose`:
[code]

### Error output

[c

[2020-08-09 01:05] #74997 closed

[2020-08-09 01:38] infinity0 commented on #12859
Never mind, I found [this PR and comment](https://github.com/rust-lang/rust/pull/55444#issuecomment-434044002) which explains why my intended approach would not be feasible (and it's also not as simple as setting that flag).

[2020-08-09 01:50] lzutao commented on #75268
Closed by #74533 .
The new asm generated by nightly (ceedf1d5f 2020-08-08):
[code]

[2020-08-09 02:00] #75268 closed

[2020-08-09 02:32] lzutao commented on #75312
I think the current error message is clear enough.
Also I don't think providing auto-fix suggestion is easy, because the error happened when parsing AST.

[2020-08-09 02:38] infinity0 commented on #32859
I tried writing a patch to have rustc 32-bit windows use sjlj, but later found out someone already tried it (#55444), and there was an explanation on [why it would take much more effort](https://github.com/rust-lang/rust/pull/55444#issuecomment-434044002).

`panic=abort` sounds like too much of a nasty hack with unforeseeable other consequences (like the break from 1.43 -> 1.44), I've asked the De

[2020-08-09 04:19] estebank commented on #75312
@lzutao https://github.com/rust-lang/rust/pull/75321 😉

[2020-08-09 04:25] Ryan1729 commented on #62412
I ran into an ICE that appears to be the same as this one, since the error message also included `thread 'rustc' panicked at 'no entry found for key'`.

I've reduced the code down to a single crate containing a single ~20 line source file, and a single direct external dependency, which still produces an ICE. The code is available [here](https://github.com/Ryan1729/rote/tree/94eeb23f7cc5e003f09349f

[2020-08-09 04:26] estebank commented on #75283
The unclosed delimiters were a red herring, [it reproduces even with correct delimiters](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e07e2cc01f8882febf8b6c4beaa61293). My guess is that we're trying to perform some evaluation on the body that should not have been done and instead treated as no body present for `extern` items.

[2020-08-09 05:00] lzutao commented on #75312
Nice. But I still think the current error message is fine as is.

[2020-08-09 05:22] JulianKnodt opened #75323 "`min_const_generic` ICE w/ const-argument-non-static-lifetime"
### Code

[code]

### Meta
Nightly on playground
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-08-09 06:07] youknowone commented on #75268
Nice to know this will be fixed. Thank you all.
And thanks for the advice @rodrimati1992

[2020-08-09 06:35] spacejam commented on #40156
@tmiasko `sled::Reservation` is `Send`, [as is `std::sync::mpsc::Sender`](https://doc.rust-lang.org/1.15.1/src/std/sync/mpsc/mod.rs.html#339-342):

[code]

`Reservation` can't be used from multiple threads without synchronization because it is `!Sync`.

[2020-08-09 08:38] tmiasko commented on #40156
@spacejam `Arc<Sender>` is `!Send`, because `Sender` is `!Sync`. It is true that `Reservation` itself is only sent between threads (not shared), but it does shares the `Sender`, by cloning the plunger arc: `plunger: self.plunger.clone()` and then sending resulting `Reservation` around.

[2020-08-09 08:55] spacejam commented on #40156
Mmm right, good catch. I would not be surprised if it's related.

[2020-08-09 09:07] GuillaumeGomez commented on #75197
It's true that it's hard to find it, maybe we should add a `?` button that would also show the popup alongside the search input?

[2020-08-09 09:18] Aaron1011 commented on #62412
@Ryan1729: That example no longer ICEs on the latest nightly.

[2020-08-09 09:46] tmiasko commented on #40156
I don't think this example could be used to demonstrate any issues in mpsc:

* It introduces a data race in `Sender::send`, when the channel flavour stored inside the sender has to be changed after oneshot is used.
* It introduces a data race in a single producer single consumer queue, which is a channel flavour used afterwards, by using it from multiple producer threads.

I was looking at this, b

[2020-08-09 10:49] Aaron1011 commented on #75313
It looks like the bound regions are preventing us from normalizing an opaque type, leading us to conclude that the LHS and RHS types are not actually equal.

[2020-08-09 10:49] davidtwco opened #75325 "`TypeId` and Polymorphization"
When polymorphization is enabled (`-Zpolymorphization=on`), then this can currently be observed by `TypeId`. For example, the following code when built with a polymorphization-enabled compiler will fail the asserts (and succeeds normally; [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0fc2372645557cbbdc60f2d8d0e5be80)):

[code]

This issue was discovered while

[2020-08-09 10:49] davidtwco opened #75326 "Symbol ambiguity with polymorphization and new mangling scheme"
rustc will not currently bootstrap with `-Zsymbol-mangling-version=v0` and `-Zpolymorphization=on` due to the following issue:

Consider the following example:

[code]

..which produces the following error:

[code]

(*unmangled:* `<impl_param_mangling::Foo<_, _> as core::iter::traits::iterator::Iterator>::next::{closure#0}`)

Polymorphisation correctly determines that `I` and `E` are unused and th

[2020-08-09 10:55] jonas-schievink commented on #75313
cc @RalfJung

[2020-08-09 10:55] davidtwco opened #75327 "Remove `ParamEnv::reveal_all` from codegen"
Instead of using `ParamEnv::reveal_all`, the `ParamEnv` should be tracked in the mono item - this is necessary to enable more complex forms of polymorphization in future.

(source: [eddyb in Zulip](https://rust-lang.zulipchat.com/#narrow/stream/216091-t-compiler.2Fwg-polymorphization/topic/next.20steps/near/204597203))

[2020-08-09 11:05] RalfJung commented on #75313
Well I thought our subtyping check would catch such things? Cc @eddyb

It would be great to get a minimal testcase out of this.

[2020-08-09 11:14] RalfJung commented on #75313
I thought something like this could be used to reproduce the problem, but so far I could not get it to ICE:
[code]

[2020-08-09 11:30] mati865 commented on #68973
@infinity0 I have not tried `-fstack-protector` with Rust but it appears to require `advapi32` library so this should work: `RUSTFLAGS="-Clink-arg=-lssp_nonshared -Clink-arg=-lssp -ladvapi32"`. I have no idea how `late_link_args_dynamic` pulled that library when you added `libssp` libs to `late_link_args`.

`rust-mingw` component is only available for `windows-gnu` host so it doesn't matter for cr

[2020-08-09 11:34] olotenko commented on #28728
The claim about non-termination as a side-effect requires not only an agreement that it is (that is non-controversial), but also an agreement about _when_ it should be observed.

Non-termination sure is observed, if the loop computes the value. Non-termination is not observed, if you are allowed to re-order the computations that do not depend on the loop's outcome.

Like the example on the LLVM th

[2020-08-09 11:42] RalfJung commented on #28728
What I am expressing is the consensus of the entire research field of programming languages and compilers. Sure you are free to disagree, but then you might as well re-define terms like "compiler correctness" -- it's not helpful for a discussion with others.

What the permissible observations are is always defined on the source level. The language specification defines an "Abstract Machine", which

[2020-08-09 12:59] Aaron1011 opened #75331 "Spurious 'type annotations needed' error when a struct definition has an error"
The following code:

[code]

produces the following errors:

[code]

We should suppress the 'type annotations needed' message, since it will likely be resolved by fixing the type of `val`.

[2020-08-09 13:00] steffahn opened #75332 "Macro expansion moves comments around."
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9be4f9ada5f085e66bd203de17d6bc99))

Macro Expansion:

[code]

[2020-08-09 13:21] ThePuzzlemaker commented on #75197
That makes sense, as the settings and theme dropdown are triggered by buttons rather than keyboard shortcuts.

[2020-08-09 13:22] Mark-Simulacrum commented on #75275
Hopefully this'll be fixed by #75315.

[2020-08-09 13:25] jyn514 opened #75334 "Rustdoc wrapper doesn't support --on-fail=print-env"
This makes it impossible to e.g. run gdb on rustdoc for a failure that only happens when documenting the standard library.

[2020-08-09 13:25] petrochenkov commented on #75332
I first thought this would be about doc comments, then it would be a duplicate of https://github.com/rust-lang/rust/issues/67839.

But this is about regular comments that are not parsed into AST and don't participate in expansion at all.
Pretty-printing used by `--pretty=expanded` then tries its best to put comments into their old places based on spanse, but there aren't any guarantees.

[2020-08-09 13:28] GuillaumeGomez commented on #75197
Ok, I'll send a PR tomorrow to add the button then.

[2020-08-09 13:50] lzutao commented on #75326
cc @eddyb as maintainer of new mangling scheme.

[2020-08-09 13:57] infinity0 commented on #68973
@mati865 Ah, it might just be the difference between static vs dynamic linking. The main difference between `RUSTFLAGS` and `late_link_args` is that `RUSTFLAGS` comes earlier in the eventual CLI invocation to `*-ld`. In particular it seems `late_link_args` comes after a `-Bdynamic` flag. So then only the direct dependencies have to be linked, rather than all the transitive dependencies which would

[2020-08-09 14:14] Aaron1011 opened #75335 "Investigate speeding up `x86_64-apple` jobs"
Looking at some most recent builds, it looks like the `x86_64-apple` family of jobs are usually the last to finish, and take significantly longer (over an hour) than certain other jobs. Speeding up these jobs could give us a nice win in build times.

I don't know how much of the build time is under our control (e.g. running more work on these jobs vs other jobs), and how much is related to the Git

[2020-08-09 14:16] davidtwco opened #75336 "Apply polymorphization to `Instance` substitutions"
When #75255 landed, all `Instance` substitutions were polymorphized which enabled optimisation of the following test case:

[code]

However, due to an oversight, it wasn't noticed that this made other tests and stage2 bootstrapping fail when polymorphisation was enabled (cursory investigation suggested regressions were related to #69925), so it was restricted in #75337 to cases that didn't result

[2020-08-09 14:22] joshtriplett commented on #74924
I would love to see this as well. An example from the standard library: https://doc.rust-lang.org/std/process/struct.Command.html . Notice how both impls of `CommandExt` look identical but refer to different traits.

[2020-08-09 14:26] lzutao commented on #75335
Note that Apple builders are in 2-core CPU.

[2020-08-09 14:35] Mark-Simulacrum commented on #75335
I feel like this is way too vague to be useful, personally -- AFAIK, there's not much we can do and 2 hours builds are already pretty good (and other tooling, e.g., perf, would suffer from reduced build times).

The approved PR queue has been quite small as of late, too, so I'm personally not too worried by our CI times.

[2020-08-09 14:53] protonesso commented on #75258
@alexcrichton

[2020-08-09 14:54] zackw commented on #28728
For concreteness, if your division example were changed to

[code]

then I hope you would agree that the conditional _cannot_ be hoisted above the division, because now we have the possibility of division by zero, which would terminate the thread.

In the same way, in

[code]

the Rust abstract machine allows this to be rewritten as

[code]

but the first condition and the loop cannot be discarded

[2020-08-09 15:34] eddyb commented on #75313
@RalfJung You're missing the `impl Iterator` from the original. Here's a short repro:

[code]

<hr/>

For the record, the thing of note about `primitive!(2, std::regex::prim::captures)` is that it [casts](https://github.com/gluon-lang/gluon/blob/v0.16.1/vm/src/api/mac.rs#L102) ([twice](https://github.com/gluon-lang/gluon/blob/v0.16.1/vm/src/api/mac.rs#L110), even, presumably accounting for the two

[2020-08-09 16:02] eddyb commented on #75326
Incredible, I wish I thought of this when the polymorphization work was ongoing, I guess I was overfocusing on shims.

So the problem is `T` is an alias for `I::Item`, not an "independent variable", the only reason it *appears* to work in other situations is the trait system is feeding you the value of `T`. Probably the simplest hackaround is to mangle trait impl "parameters".

But it seems more p

[2020-08-09 16:26] RalfJung commented on #75313
Ah, so return-position impl-trait is crucial here.
Any proposal for how this could be handled? I don't even understand why it doesn't work, I thought we are deleting all the lifetimes, but clearly not enough of them.^^
Would moving back to a "type fold" (instead of this relator thing we are currently doing) help?

[2020-08-09 16:41] RalfJung opened #75340 "In `const fn` in a macro call, raw ptr deref does not work even inside `unsafe`"
The following code should build, but for some reason it does not:
[code]
Removing the `const` or adding a `const_fn` feature gate makes it build.

Cc @oli-obk @petrochenkov

[2020-08-09 16:42] RalfJung commented on #75340
Ah, adding the `const_fn` also helps... is that the expected behavior @oli-obk?

[2020-08-09 17:29] jyn514 opened #75341 "Rustdoc should run all doctests in one binary"
Raised by @Lokathor on discord:

I don't think there's any intrinsic reason the tests have to be their own process? The only issue is that many of them have `fn main`, which would have to be rewritten somehow. This could speed up CI times across the Rust ecosystem, including for the rust compiler itself.

Somewhat related to https://github.com/rust-lang/rust/issues/51228.

[2020-08-09 17:29] camelid opened #75342 "Docs are out of date for rustc_codegen_llvm"
The [docs for `rustc_codegen_llvm::base`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_codegen_llvm/base/index.html) reference functions named `codegen_expr` and `codegen_block`, but those functions [do not appear](https://doc.rust-lang.org/nightly/nightly-rustc/?search=codegen_expr) anywhere in rustc. It seems the docs for this module have [not been updated in two years](https://github.c

[2020-08-09 17:30] camelid commented on #75342
@rustbot modify labels to T-doc

[2020-08-09 17:33] camelid commented on #75342
It looks like `rustc_codegen_ssa::base` has the [same docs](https://github.com/rust-lang/rust/blame/543f03d24118d3af784aa98c507c00e30c796a0e/src/librustc_codegen_ssa/base.rs#L1-L14).

[2020-08-09 17:49] alex commented on #61415
As of #74060 these are now being used on a bunch of traits -- possibly everywhere except `Default`, which is challenging for reasons discussed.

[2020-08-09 17:59] elomatreb commented on #63037
It's especially visually disruptive with a `&self` parameter, making simple methods look significantly more complex than they actually are. It also feels surprising to special-case async functions like this, if it makes sense to show these lifetimes symmetry with traditional functions would be nice.

[2020-08-09 18:08] alex commented on #74267
Is there any way to express the semantics of `assume_init` in C code? That's my traditional next step in trying to understand LLVM optimization differences.

[2020-08-09 18:12] yshui opened #75343 "Invalid help message when traits in #[derive()] miss type annotation"
[code]

Which gives me this error message:

[code]

Which suggests invalid modification.

`rustc --version --verbose`:
[code]

[2020-08-09 18:14] MikailBag commented on #61415
TL;DR there are two problems:
1) If we want that this impls play nicely with the rest of compiler, we have to use marker traits + specialization. It seems they are not going to be stable in the enar future. There were other approaches proposed, but they have problems with trait selection, type inference and similar stuff. AFAIK this problem waits for a T-lang decision.
2) [Current implementation](

[2020-08-09 18:16] camelid commented on #75245
I'd be interested in doing this.

@rustbot claim

[2020-08-09 18:28] Ryan1729 commented on #62412
Just to be sure, I checked my earliest commit that had the ICE, and it also does not show the ICE message either. So whatever was causing my issue does seem to have been fixed.

[2020-08-09 18:36] RalfJung commented on #74267
It's basically an identity function -- a function that takes an array of some fixed size and returns the same array.

[2020-08-09 19:06] Mark-Simulacrum commented on #75142
@craterbot retry name=beta-1.46-1

[2020-08-09 19:09] pietroalbini commented on #75142
@craterbot abort name=beta-1.46-rustdoc-1

[2020-08-09 19:10] pietroalbini commented on #75142
@craterbot retry name=beta-1.46-1

[2020-08-09 19:10] pietroalbini commented on #75142
@craterbot run name=beta-1.46-rustdoc-1 start=1.45.2 end=beta-2020-07-24 mode=rustdoc cap-lints=warn p=5

[2020-08-09 19:28] davidtwco commented on #75336
#75346 fixes one of the regressions that #75255 introduced (a out-of-bounds substitution when compiling `rustc_metadata` in stage2) but stage2 compilation later fails with a linker error compiling `rustc_driver` and it fixes neither of the UI test failures.

[2020-08-09 19:53] aWeinzierl commented on #60074
https://github.com/rust-lang/rust/issues/20770

[2020-08-09 20:20] alex commented on #74267
https://godbolt.org/z/5eKxE5 looks like it's a roughly correct C rendition of this problem. And it reproduces. I'm afraid part of the answer here is "aliasing", but adding `-Z mutable-noalias=yes` to the Rust reproducer didn't solve it.

[2020-08-09 20:40] Nemo157 commented on #75341
`fn main()` doesn't seem to hard to rewrite, but a lot of nightly-only crates have `#![feature(...)]` and other crate-level attributes which will be more difficult.

[2020-08-09 21:23] jlgerber commented on #63193
I was just googling to see about a solution to this very problem. I too have code that I don't want doctests run on for the very same reasons. I have never seen ```norust``` documented anywhere, and it is surely a step up from ```ignore``` , but the current solution still has a number of drawbacks as has been pointed out.
Perhaps cargo could
    (a) ignore any code block with an unrecognized tag (

[2020-08-09 22:01] eggyal commented on #75343
This invalid error doesn't really have anything to do with `#[derive()]`—it also occurs in the expanded code.

MCVE:

[code]

includes the error

[code]

[2020-08-09 22:07] #60608 closed

[2020-08-09 22:23] eggyal commented on #75335
Are build benchmarks very different on OS X vs other platforms?  I use OS X and can report that compilation subjectively appears a bit slow (some fairly small projects can take minutes to compile from scratch), but I've never compared against other platforms and frankly don't have particularly powerful hardware—so my anecdote is as good as useless.

[2020-08-09 22:59] jhpratt commented on #74924
Another example is the time crate, where traits are frequently implemented on both `time::Duration` and `std::time::Duration`. In some places, it will output the latter as `StdDuration` (due to aliased imports). Having this feature would be great and would provide a significant amount of clarity to end-users.

[2020-08-09 23:18] estebank commented on #75312
@lzutao don't disagree, but handling it was relatively easy because there's no case where `== =` would be valid.

[2020-08-10 00:09] #74800 closed

[2020-08-10 00:21] lzutao commented on #74267
GCC seems to optimize better than LLVM: https://godbolt.org/z/hWEWvM
[code]

[2020-08-10 00:56] yshui commented on #75343
Right, but the suggested change is invalid because of `derive()`

[2020-08-10 01:04] eggyal commented on #75343
The suggested change in the expanded version is also invalid.

[2020-08-10 02:08] #75311 closed

[2020-08-10 02:08] #58699 closed

[2020-08-10 02:08] #75245 closed

[2020-08-10 02:08] #75283 closed

[2020-08-10 02:25] #46597 closed

[2020-08-10 02:25] frewsxcv commented on #46597
Closing unless there's something else actionable here

[2020-08-10 05:29] sanxiyn commented on #34902
Yes, I think we should open a new issue for reproducible build CI. I also think it would be impractical for a while due to computational demand, but then I am not a member of infra team.

[2020-08-10 06:02] olotenko commented on #28728
Ralf, I don't pretend to know half of what you do, and I don't want to introduce new meanings. I totally agree with the definition of what the correctness is (the execution order must correspond to the program order). I only thought the "when" the non-termination is observable was part of it, as in: if you aren't watching the loop outcome, you don't have a witness of its termination (so can't clai

[2020-08-10 06:05] olotenko commented on #28728
@zackw Thank you. That's different code, which of course will result in a different optimization.

My premise about the loops being optimized the same way as the division was flawed (can't see the outcome of division == can't see the loop terminate), so the rest doesn't matter.

[2020-08-10 06:57] joshtriplett commented on #49804
@cindRoberta That's an unrelated proposal. This RFC is about unnamed fields within other types, not fully general anonymous types.

[2020-08-10 07:34] oli-obk commented on #75340
Yes and no. The MIR is `&raw const (*_1)`, where `_1` is `x`. We prevent the `deref` on the raw pointer, even if that's not an actual read. Basically it's a combination of https://github.com/rust-lang/rust/blob/4a86573c6b5c8b1ba179487f06e5f69a6f37e895/src/librustc_mir/transform/check_unsafety.rs#L232 and https://github.com/rust-lang/rust/blob/4a86573c6b5c8b1ba179487f06e5f69a6f37e895/src/librustc_m

[2020-08-10 08:05] alvinhochun opened #75356 "Superfluous assignment does not give warning"
This code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0981c16b1164fddee551c75d6375dc72)):

[code]

contains superfluous self-assignments (`a = a` and `boo.b = boo.b`). These assignments are useless (especially so in Rust since assignment operations cannot be overloaded) and almost always means incorrect code.

However, `rustc` does not give a warning at al

[2020-08-10 08:35] #72390 closed

[2020-08-10 08:46] geofft commented on #46043
So, this diagnostic notices creating a reference/pointer to a misaligned field. But isn't initializing a misaligned field also UB?

[code]
seems to be accepted without complaint, and at least on x86_64, it seems to do an unaligned write.

[2020-08-10 08:50] retep998 commented on #46043
No, that is not UB. Rust can easily see that you're assigning a value to a misaligned location and tell LLVM to generate the correct code for it. It is only the creation of references to misaligned locations that is bad because the reference does not preserve any alignment information.

[2020-08-10 09:07] RalfJung commented on #72396
My assumption with this plan was that for `const` items, codegen would work pretty similar to `static` items, as both have to work with all types (not just valtree-compatible types). But @oli-obk points out in https://github.com/rust-lang/rust/pull/74949 that e.g. for consts of integer type, we want to emit LLVM integer constants.

Does this also apply to larger valtree-representable types, e.g. a

[2020-08-10 09:16] RalfJung commented on #28728
@olotenko I don't know what you mean by "watching the loop outcome". A non-terminating loop makes the entire program diverge, which is considered *observable behavior* -- this means it is observable *outside* the program. As in, the user can run the program and see that it goes on forever. A program that goes on forever may not be compiled into a program that terminates, because that changes what

[2020-08-10 09:53] lzutao commented on #75301
I opened one in #75358

[2020-08-10 09:54] olotenko commented on #28728
@RalfJung it's ok, I got it now. My original problem was what role the "forward progress guarantee" plays here. The optimization is possible entirely from data dependency. My mistake was that actually data dependency is not part of the program order: it is literally the expressions totally ordered as per language semantics. If the program order is total, then without forward progress guarantee (wh

[2020-08-10 10:15] RalfJung commented on #28728
Stack overflows are challenging to model indeed, good question. Same for out-of-memory situations. As a first approxmation, we formally pretend they do not happen. A better approach is to say that any time you call a function, you *may* get an error due to stack overflow, or the program may continue. This way you can soundly approximate what actually happens.

Indeed. Morevoer they have to be "pur

[2020-08-10 10:20] AgarwalPragy commented on #40062
Before closing, it would be great if someone could suggest a "one clean and obvious" way to remove the first/last occurance of an item from a Vector.

Irrespective of the arguments made here, a method removing the first/last occurance of an item is provided across all major programming languages, and is to be "expected"

Anyone new to rust is bound to google "remove from vec rust" and end up on th

[2020-08-10 10:21] RalfJung commented on #72396
In [another thread](https://github.com/rust-lang/rust/pull/74949#discussion_r467794781), @oli-obk wrote something that confused me a lot:

I do not understand this statement. Are you saying mir::Const will not just be an AllocId? I think that is the wrong approach, I'd rather make the caller that has these weird special needs (i.e., codegen for consts) deal with "I want raw representation except s

[2020-08-10 10:31] LukasKalbertodt commented on #40062
[This StackOverflow Q&A](https://stackoverflow.com/q/26243025/2408867) should answer those questions. But here is a copy of my answer for convenience:

---

### Remove *first* element equal to `needle`

[code]

You can of course handle the `None` case however you like (panic and ignoring are not the only possibilities).

### Remove *last* element equal to `needle`

Like the first element, but repl

[2020-08-10 10:33] LukasKalbertodt commented on #40062
It might be worth adding more examples (maybe all of the ones above) to the `Vec::remove` docs.

[2020-08-10 10:36] rylev commented on #73215
I'm going to open a PR for this which should hopefully push the discussion along.

[2020-08-10 10:47] jplatte commented on #38078
Will chalk resolve this?

[2020-08-10 10:48] oli-obk commented on #72396
`mir::Const` is a hypothetical thing that we haven't specified, and I think we both have different pictures of it and are thus talking past each other.

We don't need it at all if I'm understanding your proposal correctly, as it would just be a `&'tcx Allocation` (or `AllocId`), so we can use that directly instead of having a wrapper.

What we do need is for the `mir::Body` to contain both `ty::Co

[2020-08-10 11:06] Deuchier opened #75361 "Failed to compile a graph test"
I am a student trying to write graph algorithms in Rust, but encountered an internal Compiler Error.

### Here is my code:

[code]

### Meta

`rustc --version --verbose`:
[code]

On Dell G3 3590, Windows 10

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

I cannot figure out what's probably wrong. I wrote C++ code using Visual Studio 2

[2020-08-10 11:17] Aaron1011 commented on #75361
Minimized:

[code]

[2020-08-10 11:18] jonas-schievink commented on #74918
https://github.com/rust-lang/rust/issues/75361 shows that this can result in no user-facing error message. I suggest increasing priority to `P-high`.

[2020-08-10 11:18] jonas-schievink commented on #75361
Same underlying issue as https://github.com/rust-lang/rust/issues/74918, presumably

[2020-08-10 11:18] infinity0 opened #75362 "CI for deterministic / reproducible builds"
#34902 was finally closed as we got a [positive result on tests.r-b.org](https://tests.reproducible-builds.org/debian/rb-pkg/unstable/amd64/rustc.html) for rustc 1.44.1 on Debian Unstable, where we test for build-path-independent reproducibility. However for rustc 1.45.0 the test turned negative again. (The codenamed suites e.g. "bullseye", "buster", only test for build-path-dependent reproducibil

[2020-08-10 11:30] RalfJung commented on #72396
Yeah that sounds accurate.^^

Indeed, I think that's what I had in mind.

Okay, so we actually have two places where we do not want to use `ty::Const` (valtree) or `&'tcx Allocation`: in `mir::Operand`, because when *constructing* we often have a known scalar (or `ScalarPair`?) value that we want to embed directly without having to create an allocation; and in codegen, because LLVM likewise has a

[2020-08-10 11:40] Aaron1011 commented on #75361
Bisected to rollup https://github.com/rust-lang/rust/commit/0e9e4083100aa3ebf09b8f1ace0348cb37475eb9 - it looks like this was caused by https://github.com/rust-lang/rust/pull/67460

[2020-08-10 11:42] RalfJung commented on #73722
This is an LLVM bug: https://bugs.llvm.org/show_bug.cgi?id=47090

[2020-08-10 11:44] RalfJung commented on #73722
But MIR optimizations also have to be aware that folding equality tests on functions is subtle (Cc @rust-lang/wg-mir-opt). And @oli-obk recently had to prevent me from making a similar mistake for pointer equality tests in CTFE (Cc @rust-lang/wg-const-eval).

[2020-08-10 12:22] oli-obk commented on #74939
So, some examples that we ran reliably check:

* `std::ptr::null::<T>().is_null()` will always be true
* `NonZeroUsize::new(x).unwrap().is_null()` will always be false
* `(&x as *const T).is_null() will always be false
* `((&x as *const T as usize - &x as *const T as usize) as *const T).is_null()` will always be true (if you get it or an equivalent to compile)

The problematic case `(&x as *const

[2020-08-10 13:32] oli-obk commented on #72396
I think we're in agreement here, but I think this wording is more precise: It's something that *should* be evaluable to a valtree and will error if trying to do so fails.

This is similar to my first attempt, but it failed badly because getting there is very hard with the way `ty::Const` is hardwired into things like https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/mir/visit/trait.MutV

[2020-08-10 13:57] danielhenrymantilla commented on #75075
[code]

  - (Hopefully this ends up being a bundled `cfg`)

and then:

[code]

[2020-08-10 14:30] uglyoldbob commented on #28728
I have some demo code that I think might be this issue but I am not entirely sure. If necessary I can put this in a new bug report.
I put the code for it in a git repo at [https://github.com/uglyoldbob/rust_demo](url)

My infinite loop (with side effects) is optimized out and a trap instruction is generated.

[2020-08-10 14:33] Shelim commented on #38078
Still happens with Rust 1.45.2

Following code:

    pub struct MyStruct {
        rng : rand::Rng::SmallRng
    }

Outputs:

     error[E0223]: ambiguous associated type
        --> src\algorithm\m_struct.rs:11:11
           |
        11 |     rng : rand::Rng::SmallRng,
           |           ^^^^^^^^^^^^^^^^^^^ help: use fully-qualified syntax: `<(dyn rand::Rng + 'static) as Trait>::SmallRng`

I

[2020-08-10 15:06] #75274 closed

[2020-08-10 16:24] zhibo501 opened #75367 "Is it possible to implement **foldmap** function for *Iterator*?"
Hi guys,

Is it possible to implement **foldmap** function for *Iterator*?

Like this:
[code]

which is equals to :
[code]

Thanks.

[2020-08-10 16:27] jonas-schievink commented on #75367
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2020-08-10 16:27] #75367 closed

[2020-08-10 16:39] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:39] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:40] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:40] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:40] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:40] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:40] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:40] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:40] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:40] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:40] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:40] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:40] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:40] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:40] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:40] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:40] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:40] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:40] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:40] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:40] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:40] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:40] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:42] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for iteration to support foldmap.

In this way, **foldmap** can be composed conveniently than only **map**.

[code]

[2020-08-10 16:47] zhibo501 commented on #75367
@jonas-schievink

Sorry, I didn't make it clear. I want to make a small requirement for *Iteration* to support foldmap.

In this way, **foldmap** can be composed conveniently than **map**.

[code]

[2020-08-10 17:54] poliorcetics commented on #75080
Doing `library/std/src/prelude/mod.rs`.

I also updated the gist to handle `tymethod` on traits as well as links to module -- those should be heavily checked, I think they can interfere with links to the the book for example if the right (well, wrong) pattern appears.

[2020-08-10 18:09] poliorcetics commented on #75080
Doing `library/std/src/time.rs` right now.

[2020-08-10 18:17] pnkfelix commented on #75100
@jyn514 I just reviewed it. I assume the rustdoc team is onboard with the other changes it makes. (Certainly ignoring the resolution errors in those cases seems to be in line with what rustdoc does elsewhere at this point.)

[2020-08-10 18:20] GuillaumeGomez commented on #75100
Yup. :)

[2020-08-10 18:40] RalfJung commented on #72396
:+1:

Those would be two different types then, `ty::Const` and `mir::Const` respectively. What is the problem?

Good point, I had forgotten about that. It would be more like
[code]

[2020-08-10 18:42] RalfJung commented on #72396
We don't really need the full `Valtree` in `MirConstValue` though, we just need `Scalar` and `ScalarPair`. I am not sure what is easier for producers and/or consumers here. I think if we can make it actually just be `Scalar` and `ScalarPair` then codegen and Miri do not have to handle valtrees, which would be good. So maybe more like

[code]

[2020-08-10 18:44] RalfJung commented on #72396
I just realized `MirConstValue` is identical to our current `ConstValue` :rofl:

[2020-08-10 18:52] RalfJung commented on #28728
I have no idea if that is an instance of this problem or something else... embedded devices are not my specialty at all and with all these external crate dependencies I have no idea what else that code is doing.^^ But your program is *not* safe and it *does* have a volatile access in the loop, so I'd say it is a separate problem. When I [put your example on the playground](https://play.rust-lang.o

[2020-08-10 19:02] olotenko commented on #28728
It seems everything in the loop is a reference to a local variable (none escaped to any other thread). In these circumstances it is easy to prove the absence of volatile stores and the absence of observable effects (no stores they can synchronize with). If Rust doesn't add special meaning to volatiles, then this loop can be reduced to a pure infinite loop.

[2020-08-10 19:04] #74579 closed

[2020-08-10 19:31] Mark-Simulacrum commented on #75142
Finished triage:
 * https://github.com/rust-lang/rust/issues/75313
 * https://github.com/rust-lang/rust/issues/74868
 * https://github.com/rust-lang/rust/pull/71896/

No new issues (somewhat unsurprising, given how late this is in the cycle).

[2020-08-10 19:47] withoutboats commented on #64552
We looked at this in lang triage and retagged it as T-compiler; since its not a soundness bug and seems like strictly an implementation issue, we don't think it needs lang input.

[2020-08-10 19:59] Nufflee opened #75373 "std::arch does not implement some Neon SIMD intrinsics"
I tried this code:

[code]
Godbolt: https://godbolt.org/z/1no41v

I expected to see this happen: Intrinsics found without compile errors

Instead, this happened: Compile errors about Neon functions and types not found. I was able to reproduce this same issue on a Raspberry Pi 3 with a ARM v8 CPU running 32-bit Raspbian. Keep in mind that these intrinsics are supported on ARM v7 and some of them, l

[2020-08-10 20:18] mvanthoor opened #75374 "8.5% runtime performance degradation for GNU-toolchain 1.45.x vs. 1.44.x in Windows"
Hello,

For some time now I've been writing a chess engine in Rust. I develop on Windows at this time, but because I wanted to use only open source software for this engine, the GNU toolchain has been my primary target. I've been using the MSVC toolchain for profiling. Generally, This was the speed ranking:

1. GNU toolchain
2. MSVC toolchain using the LLD linker (installed on MSYS2)
3. MSVC toolc

[2020-08-10 20:20] joshtriplett opened #75375 "Lint on cfg(token) if a feature "token" exists"
It's easy to make the mistake of writing `cfg(some_feature_name)` when you mean to write `cfg(feature = "some_feature_name")`. The compiler will silently ignore it and treat it as false.

I'd like to suggest a warn-by-default lint for `cfg(some_feature_name)` in the case where the compiler does not know any other meaning for `some_feature_name`, would otherwise ignore it, *and* there's a feature n

[2020-08-10 20:23] joshtriplett commented on #75362
@infinity0 I would love to see this. Yes, it'll require some extra CI time, but it's worth doing. Reproducible builds are important.

Right now, the critical path in bors is actually macOS builds. I think we could do two builds on every other platform in the time it takes to do one on macOS, without slowing down CI.

[2020-08-10 20:30] petrochenkov commented on #75374
@mvanthoor
There's a tool for bisecting nightly releases of rustc by running arbitrary scripts on them - https://crates.io/crates/cargo-bisect-rustc.
If you could run it with your benchmark as a script and return "false" when the slowdown is detected, then we could determine the source of the regression very precisely.

[2020-08-10 20:32] retep998 commented on #75374
Why is there even any sort of performance difference based on which linker is used? Shouldn't Rust be generating the same code regardless?

[2020-08-10 20:54] Mark-Simulacrum commented on #75362
I don't think we can afford to double build on *every* other platform -- even just doubling CI time on the linux builders would be pretty unfortunate, even though they're not currently the ones blocking auto builds, having them run longer reduces spaces in the pool for PR builders and such too. (Unfortunately we don't currently have metrics to know how much space we have on average).

That said, I

[2020-08-10 21:02] mati865 commented on #75362
What about job that would run biweekly or similar when Homu queue is empty?

[2020-08-10 21:25] Mark-Simulacrum commented on #75362
We have no precedent for such and personally I think it's much less useful, nor would that need to be in-tree necessarily.

I also don't think it's out of the picture to double up or builds or so, I just want a better understanding of the requirements before (possibly) agreeing to such.

[2020-08-10 22:15] alex commented on #75335
I believe all the linux/windows jobs were sped up primarily by moving to big computers. Because of limitations in running macOS in the cloud, I imagine that's much more challenging.

[2020-08-10 22:32] mati865 commented on #75374
@retep998 when LTO is enabled linker will apply few optimisations on it's own.

I'm unable to reproduce on 2700X CPU using `RUSTFLAGS="-C target-cpu=skylake" cargo run --release` and windows-gnu targets:
- LLD:
  - nightly 220.7s
  - stable 220.6s
  - 1.44.1 223.1s
- LD (BFD)
  - nightly 219.8s
  - stable 219.7s
  - 1.44.1 221.9s

[2020-08-10 22:34] rodrimati1992 commented on #31383
It is possible to implement a macro to concatenate `&'static str` `const`ants in Rust 1.46.
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1555757f31d8b98f514806c4f94b634c
Example use of the macro:
[code]
prints
[code]

[2020-08-10 22:58] jyn514 opened #75381 "Consider reporting an ambiguity if both modules and primitives have the same name in an intra-doc link"
Originally this defaulted to the module. #75318 changed this to default to primitives since seemed to be the less confusing behavior (https://github.com/rust-lang/rust/issues/58699). However I'm wondering if the real issue is that rustdoc didn't report an ambiguity like it normally would for multiple namespaces. I think it would be better to say 'both `module@char` and `type@char` are in scope, pi

[2020-08-10 22:58] mvanthoor commented on #75374
@petrochenkov : Thanks, tomorrow I'll look into this tool. I've determined the last 1.44.0 nightly (good) and the last 1.45 nightly (which is bad). I'll run the bisect with start and end for those.

@mati865 : Thanks for testing. In your case, it actually seems that current rust is faster than 1.44.1. (It also seems that an LLD link is a tiny bit faster than an LD link). I'll have to try and link

[2020-08-10 23:13] jonas-schievink commented on #45838
Marking as `E-hard` since this requires not just a fix for https://github.com/rust-lang/rust/issues/57965, but also a complete rewrite of the formatting infrastructure to avoid dynamic dispatch

[2020-08-10 23:31] Lonami commented on #75367
Is [`Iterator::fold`](https://doc.rust-lang.org/stable/std/iter/trait.Iterator.html#method.fold) not what is being proposed here?

[2020-08-10 23:40] mati865 commented on #75374
@mvanthoor FYI that's how I'm enabling LLD with `windows-gnu`:
[code]
You can simply add that to `RUSTFLAGS` without modifying Cargo config.

This issue sounds like LLVM could be potential cause here but it's mystery for me why only `windows-gnu` was affected in your case.

[2020-08-11 00:09] Dylan-DPC commented on #75313
Marked this as p-critical as per the [wg-prioritization discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375313.20Panic.20when.20compiling.20gluon.20on.20nightly)

[2020-08-11 00:19] Dylan-DPC commented on #75307
Marking this as p-medium based on the [wg-prioritization discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375307.20ICE.20in.20format.20macro)

[2020-08-11 00:51] estebank commented on #70464
We no longer report the invalid suggestion for the original reports, but we still do for the example in the previous comment.

[2020-08-11 00:59] mbrubeck commented on #59618
I have implemented this on a branch, but it will need to wait for a new release of the `hashbrown` crate because it depends on rust-lang/hashbrown#185 and rust-lang/hashbrown#187:

https://github.com/rust-lang/rust/compare/master...mbrubeck:hash_drain_filter

[2020-08-11 02:15] estebank commented on #50034
Current output:

[code]

[2020-08-11 02:15] #50034 closed

[2020-08-11 02:29] mvanthoor commented on #75374
@petrochenkov

Had a lot of issues with Cargo Bisect; many errors. Also if it does work, it seems to only compile the project and when it succeeds, it's OK. I'll have to look into this more. I'd appreciate some assistance. For now, I did the bisection by hand.

Start: nightly-2020-04-23-x86_64-pc-windows-gnu (last 1.44.0 nightly) GOOD
2020-05-14: GOOD
2020-05-18: GOOD
2020-05-20: GOOD
2020-05-21:

[2020-08-11 02:42] nbdd0121 commented on #75242
This is expected behaviour. `i` is inferred to have the same type as the `&mut *b`, rather than `&mut i32`. Therefore the type of foo becomes `fn(&'a mut i32)` for a concrete `'a`, rather than `for<'a> fn(&'a mut i32)`. Because both calls of `foo` uses the same `'a`, the two borrows must last for the same duration, and therefore is not allowed because you cannot two mutable borrows for the same du

[2020-08-11 02:46] estebank commented on #63040
Current output:

[code]

[2020-08-11 02:46] #63040 closed

[2020-08-11 03:08] ehuss commented on #63339
I believe this is now resolved, probably via #70642 (or one of its related PRs).

[2020-08-11 03:08] #63339 closed

[2020-08-11 03:29] #74918 closed

[2020-08-11 03:29] #75361 closed

[2020-08-11 03:29] #75275 closed

[2020-08-11 04:59] glandium commented on #73908
Not sure if I should open a separate issue, but running the x86-64 rustc on a DTK (via Rosetta 2) yields `<jemalloc>: Unsupported system page size` messages (but things still work), so it's likely that the arm64 port would need some adjustment in that area. (Not sure if the x86-64 rustc should be adjusted to to work without those messages under Rosetta 2)

(The issue being that the page size is 16

[2020-08-11 05:05] rocallahan opened #75385 "Link fails with actix-web when using GNU linker's default linker script"
This code:
[code]
fails to link on stable and nightly, with the error:
[code]
Stable 1.45.2, nightly 1.47.0-nightly (6c8927b0c 2020-07-26). This happens when using GNU ld 2.32-31.fc31 (Fedora). It does not happen with Fedora's LLD 9.0.1. It *does* happen if I run `/usr/bin/ld.bfd --verbose`, extract the linker script, and run with `RUSTFLAGS="-C link-arg=-Wl,-Tlinker-script"`. This only affects de

[2020-08-11 05:06] rocallahan commented on #75385
The offending relocation does look rather unusual:
[code]
Adding 2^31 minus a bit to a symbol location does seem like it could easily overflow the signed 32-bit RIP displacement.

[2020-08-11 05:14] rocallahan commented on #75385
Building with 1.44.0 works, so this is a recent regression.

[2020-08-11 05:39] #62879 closed

[2020-08-11 05:51] lcnr commented on #68366
Considering that anon consts are mostly just projections, wouldn't this be similar to
[code]
which doesn't really make a lot of sense (we have to guarantee that the projection maps each value of `T` to a unique type).

While `Some(N)` is injective, finding an intuitive subset of expressions for which this is the case is hard and imo not actually desirable rn.

Not quite sure what's the best error

[2020-08-11 06:01] petrochenkov commented on #75385
Does this reproduce with `-C code-model=medium` or `-C code-model=large`?

[2020-08-11 06:04] sergeken commented on #31383
This is exactly what I want.  Next step is to add syntactic sugar to replace the macro with a '+' operator :-).  However, I'm happy with the current syntax for declaring const's.
Is there any plan to enhance the original concat macro?  Or will this be a breaking change?

[2020-08-11 06:14] rodrimati1992 commented on #31383
The thing with replacing the `concat` macro with this is that it have to do two things:
- Expand to a literal when it's given literals.
- Expand to code that computes the concatenated `&'static str` when it's given at least one `const`ant.

I think that might be possible? I don't really know.

[2020-08-11 06:38] rocallahan commented on #75385
`-C code-model=medium` does not build at all.
[code]

[2020-08-11 06:42] rocallahan commented on #75385
Same thing happens with nightly.

[2020-08-11 06:46] rocallahan commented on #75385
`-C code-model=large` works fine on stable.

[2020-08-11 06:46] runiq opened #75386 "Rustdoc: Help dialog doesn't open when the `?` key is not behind Shift"
I'm using a [weird keyboard layout](https://neo-layout.org) which doesn't put the `?` key behind Shift, which stopped me from ever viewing the help popup in Rustdoc. If I had managed to open the help popup, I would have learned about the incredibly useful [type-based search feature](https://github.com/rust-lang/rust/issues/75197) much sooner. :+1:

As far as I can tell, the code responsible is [he

[2020-08-11 07:13] Gaelan opened #75387 "std::fs::copy fails on NFS volumes on CentOS 7"
I tried this code:

[code]

I expected to see this happen: The file is successfully copied

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:

<img width="379" alt="Screen Shot 2020-08-11 at 12 08 34 AM" src="https://user-images.githubusercontent.com/4495750/89867940-cd8df080-db66-11ea-8f43-06ca4e12b6af.png">

<details><summary>Backtrace</summary>
<p>

<img width="703" alt="Sc

[2020-08-11 07:19] nixphix commented on #75080
I'll take all the files of form `library/std/src/os/*/fs.rs`

here's the complete list

[code]

[2020-08-11 07:50] comex commented on #28728
@uglyoldbob What's actually happening in your example would be more clear if `llvm-objdump` weren't being spectacularly unhelpful (and inaccurate).  That `bl #4` actually means branch to 4 bytes after the end of the `bl` instruction, aka the end of the `main` function, aka the start of the next function.  The next function is called (when I build it) `_ZN11broken_loop18__cortex_m_rt_main17hbe300c9

[2020-08-11 07:52] Tavi-Kohn commented on #75387
This bug doesn't occur every time, because `fs::copy` remembers if the `copy_file_range` system call is available. If `fs::copy` is called with two files on the same XFS filesystem, I think it determines that the `copy_file_range` system call failed. It then sets a flag to always fall back to a more generic copy method, which prevents the bug from occurring for subsequent calls.

<details>
<summar

[2020-08-11 08:05] RalfJung opened #75390 "CTFE: nullary function memoization munges backtraces"
This code:
[code]
produces a fairly reasonable error:
[code]

However, when I remove the dummy argument `x`, I get the following set of three separate errors:
[code]
All the information is still there, but it is now not clear at all that this is in fact just a single const-eval stacktrace we are seeing here.

Cc @rust-lang/wg-const-eval

[2020-08-11 08:24] RalfJung commented on #71800
As part of this we should probably also clean up our span handling for const errors... currently there are up to 3 spans which the party reporting the error is specifying, and it is entirely unclear what they all mean:

https://github.com/rust-lang/rust/blob/441fd2255763c2aeea616aeac61b2c795a4c5330/src/librustc_mir/const_eval/error.rs#L71

https://github.com/rust-lang/rust/blob/441fd2255763c2aeea6

[2020-08-11 08:49] GuillaumeGomez commented on #75386
I added a button to show the help yesterday in #75366. However, it shouldn't fail like this. Sending a fix.

[2020-08-11 09:12] oli-obk commented on #72396
the change is massive if I do this, I was hoping to give reviewable PRs, but it's a huge huge change with lots of moving parts. I can split it into reviewable commits, but it won't be like each of the commits actually builds successfully

[2020-08-11 09:19] hyd-dev commented on #73894
@joshtriplett Should this be fixed like that?

[2020-08-11 09:29] RalfJung commented on #72396
Hm, I don't think I understand why the change would become massive, or rather why it would become more massive than any other proposal which starts distinguishing `mir::Const` and `ty::Const` (such that at least one of the visitors has to change). What is it about `NotSureWhatToCallThis` that makes this harder?

If we want to not distinguish `mir::Const` and `ty::Const`, then another thing we coul

[2020-08-11 09:44] oli-obk commented on #72396
I don't think that proposal is per-se harder, but I am currently trying to separate the generics parts of `NotSureWhatToCallThis` into separate methods, so we don't duplicate code, but maybe I should just go for `NotSureWhatToCallThis` directly, but without introducing `mir::Const`. This could be a good first step

Yea, and all of these are reasons to go with a scheme like you described, I'm just

[2020-08-11 10:31] shebang89 commented on #57958
Same experience here with Jenkins and building inside a Docker container... it happens totally randomly.
Had to put CARGO_INCREMENTAL=0 in front of cargo commands to disable caching. CI pipelines take forever now but at least there are no surprises anymore.

Hopefully someone turns this into a warning or something like that. Soon.

[2020-08-11 11:09] zakarumych opened #75397 "Nonsensical error in rustc output."
Given a code with few issues I got completely unrelated error bound to line with one of those issues.

I tried this code:

[code]

I expected to see this happen:
[code]

Instead, this happened:

[code]

### Meta

Simplified reproduction.
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4ded409a017da7b3d6d0a4dcbfc1bebb

[2020-08-11 11:11] izik1 opened #75398 "Odd inference error reporting around generics"
I made a MRE of a bug I encountered (in someone else's code actually):

[code]

I expected to see this happen: A compile error mentioning something about not being able to infer the type that `as_ref` should return, I suppose.
Instead, this happened:
[code]

### Meta
Tested on playground, using stable, beta, and nightly (same error for all):
[code]

Interesting variation:
[code]
Which instead yiel

[2020-08-11 11:19] RalfJung commented on #51713
It seems like the checks we already have already cause a very notable slowdown when building rustc with debug assertions enabled. We mitigated this a bit by making some checks abort instead of panic on failure (avoiding unwind paths), but this still still something to be aware of.

It might be a good idea to have a separate `cfg` flag for checks that would run a lot, like the ones we already have

[2020-08-11 11:48] RalfJung commented on #75313
I'm afraid I have no idea how to fix this. I tried using a `reveal_all` `ParamEnv`, to no avail. I also tried switching the validation type comparison back to a `BottomUpFolder`, but that did not help either.

The only thing I can offer is disabling the sanity check for assignments entirely.
I wonder if the check that @bjorn3 has in the cranelift backend can handle this case.

[2020-08-11 11:51] jonas-schievink commented on #75313
I thought that code was already getting a `reveal_all` `ParamEnv` passed into it

[2020-08-11 11:53] jonas-schievink commented on #75313
Is the problem really due to `impl Trait` alone, or do the late-bound lifetimes cause it? Because the ICE message kind of looks like *they* are the thing that causes issues:

[code]

[2020-08-11 12:21] alex commented on #74267
I've filed an LLVM bug for this: https://bugs.llvm.org/show_bug.cgi?id=47114

[2020-08-11 12:25] LunarLambda opened #75401 "Suggestion: CStr literals"
## Why?

Currently, creating a `CStr`, even from a bytestring literal, is quite noisy.

[code]

Furthermore, there's no way to ensure the well formed-ness of that literal at compile time¹, despite hardcoded C-strings being fairly common when creating bindings for C libraries.

## How?

To address this, I would like to propose a new string literal type:

[code]

It would function nearly identical t

[2020-08-11 12:27] RalfJung commented on #75313
Late-bound lifetimes work elsewhere though and the `impl Trait` is needed to reproduce the problem.

[2020-08-11 12:38] lzutao commented on #75401
Alternative: Make CStr associated methods const. That is a lib changes only rather than a language change.

[2020-08-11 12:46] jonas-schievink commented on #75401
Another alternative: Provide a `cstr!` macro that turns a regular string literal into a `&'static CStr` (and checks that it doesn't contain null bytes)

[2020-08-11 12:47] newpavlov commented on #51713
@RalfJung
Considering that debug asserts are usually enabled only for debug builds with low optimization level, shouldn't this slowdown be acceptable?

[2020-08-11 12:57] RalfJung commented on #51713
It is quite common for compiler contributors to enable debug assertions in the compiler (this helps catch many bugs). This also enables debug assertions in libstd which makes the generated compiler a lot slower.

With https://github.com/rust-lang/rust/pull/72146 we now have the option of only enabling debug assertions in rustc and not libstd, but contributors still have to know to do that. And the

[2020-08-11 13:16] TimDiekmann opened #75402 "Tracking Issue for pointer methods returning `MaybeUninit<T>`"
This is a tracking issue for methods on pointer types returning `MaybeUninit`: `as_uninit_ref/mut` and `as_uninit_slice(_mut)` on mutable and const raw pointers and `NonNull`.
The feature gate for the issue is `#![feature(ptr_as_uninit)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant i

[2020-08-11 13:17] LunarLambda commented on #75401
This does not resolve the ergonomics / potential unsoundedness issue

A macro would work (and is in fact probably better as CStr is specific to `std` and not a built-in type), but would have to take a byte string, as C-strings need not conform to any encoding, including `str`'s UTF-8.

[2020-08-11 13:28] jonas-schievink commented on #75401
It could take either, it just has to check that there's no 0 bytes contained within

[2020-08-11 13:47] mati865 commented on #17684
Does anybody have reproducer?
[Example from docs](https://play.rust-lang.org/?code=%23!%5Ballow(unused)%5D%0Afn%20main()%20%7B%0Ause%20std%3A%3Acell%3A%3ARefCell%3B%0Ause%20std%3A%3Athread%3B%0A%0Athread_local!(static%20FOO%3A%20RefCell%3Cu32%3E%20%3D%20RefCell%3A%3Anew(1))%3B%0A%0AFOO.with(%7Cf%7C%20%7B%0A%20%20%20%20assert_eq!(*f.borrow()%2C%201)%3B%0A%20%20%20%20*f.borrow_mut()%20%3D%202%3B%0A%

[2020-08-11 13:53] Hyuuko commented on #75242
Thanks your answer! I fully understand it now.

[2020-08-11 13:53] #75242 closed

[2020-08-11 14:00] mati865 commented on #16581
@rustbot modify labels: -O-windows +O-windows-gnu

Fixed in Binutils 2.34: https://sourceware.org/bugzilla/show_bug.cgi?id=17321
There is reliable workaround for older versions: https://github.com/TheRyuu/FFmpeg/commit/91b668acd6decec0a6f8d20bf56e2644f96adcb9
LLD was never affected.

[2020-08-11 14:00] Aaron1011 commented on #75374
@mvanthoor: Could you write a script that determines if the performance is 'good' or 'bad'? We can help you integrate that with `cargo-bisect`

[2020-08-11 14:14] denisvasilik commented on #75080
I'll take these files:
* library/core/src/any.rs
* library/core/src/hint.rs
* library/core/src/char/convert.rs

[2020-08-11 15:14] mvanthoor commented on #75374
@Aaron1011

Of course.

If the speed difference between 1.44.1 and 1.45 had been 1-2 seconds, I wouldn't even have posted an issue. I've often seen fluctuations of 1-2 seconds up or down between Rust versions. Heck, I've seen improvements or degradations of 4-5 seconds due to refactoring. A time increase of 17 seconds for this test between two versions without touching the code is very large.

Whe

[2020-08-11 16:32] eddyb commented on #75313
Are you normalizing? The `reveal_all` aspect is not going to be used unless you actually normalize. You might need to do the hacky excessive erasure of lifetimes *before* even attempting to normalize as the bound lifetimes may block normalization.

(so the bottom-up folder could erase lifetimes *then* normalize, at every single step)

[2020-08-11 16:45] zhibo501 opened #75410 "a small requirement for Iteration to support foldmap"
Hi guys,

I want to make a small requirement for *Iteration* to support foldmap.

**foldmap** provides an accumulator for mapping like this:

[v0, v1, v2, v3]

  ->  [v0, v0+v1, v0+v1+v2, v0+v1+v2+v3]

  ->  [v0, v0*(v0+v1), v0*(v0+v1)*(v0+v1+v2), v0*(v0+v1)*(v0+v1+v2+v3)]

In this way, **foldmap** can be composed conveniently than **map**.

[code]

_Originally posted by @zhibo501 in https://githu

[2020-08-11 16:55] slightknack opened #75411 "Rust can't incrementally compile project over remote file system [Internal Compiler Error]"
After setting up a NAS device (exfat over smb via RPI3), Rust has trouble compiling any project stored on that device. This isn't so much a problem with the Rust compiler as it is with my awkward NAS setup.

Here's an ascii diagram to illustrate:
[code]

The idea is that the source code is hosted on the NAS (slow but lots of storage), and compiled/run on the local machine (fast but less storage).

[2020-08-11 17:02] mgeier opened #75412 "DOC: slicing with begin = end?"
https://doc.rust-lang.org/std/slice/trait.SliceIndex.html#impl-SliceIndex%3Cstr%3E mentions "Panics [...] if begin > end, or if end > len", which I think is correct.

However, https://doc.rust-lang.org/std/slice/trait.SliceIndex.html#impl-SliceIndex%3Cstr%3E-1 mentions "Panics [...] if begin >= len", which I think is wrong, isn't it?

Shouldn't this be "Panics [...] if begin > len"?

The current s

[2020-08-11 17:33] quixotrykd opened #75413 "Rustdoc: generated documentation doesn't include Sized"
In generated Rustdoc documentation, it would make sense to show whether a type is `Sized` or not.

Looking at the documentation for [slice](https://doc.rust-lang.org/std/primitive.slice.html#synthetic-implementations) (which is !Sized) and [Cell](https://doc.rust-lang.org/std/cell/struct.Cell.html#synthetic-implementations) (which is Sized), we see no reference to `Sized` in either location.

DSTs

[2020-08-11 17:44] svenknobloch opened #75415 "[nightly] ICE when using GATs with const generics"
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=af00f39dc4b303b0579133416d712db9)

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-08-11 18:01] Shnatsel commented on #75075
Unfortunately hacks involving build.rs are not a solution - they break `cargo test` because build.rs is not executed when running tests.

[2020-08-11 18:03] Shnatsel commented on #75075
Unfortunately anything involving build.rs is not a solution because it breaks `cargo test`. Cargo doesn't execute build.rs when running test.

[2020-08-11 18:06] JayKickliter commented on #75373
I just now ran into this same exact problem. I was able to get sse/avx version of my code to compile, but not neon.

[2020-08-11 18:43] bjorn3 commented on #75313
It does handle this. I just tried to compile the repro with cg_clif. Compilation fails on the same `delay_span_bug!` as without cg_clif, but not before cg_clif successfully finished codegen.

[2020-08-11 18:50] RalfJung commented on #75313
What was the link to that check again?

[2020-08-11 18:55] bjorn3 commented on #75313
https://github.com/bjorn3/rustc_codegen_cranelift/blob/master/src/value_and_place.rs#L411-L462

[2020-08-11 19:07] RalfJung commented on #75313
@eddyb calling `normalize_erasing_regions` with a reveal-all `param_env` doesn't help. :/

[2020-08-11 19:07] RalfJung commented on #75313
@bjorn3 hm, interesting. That looks like it would bail if the types are inside a struct, tuple or array though?

[2020-08-11 19:13] estebank opened #75418 "`match` arm without tail expression diverging type error has non-ideal spans"
[Given](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=caad3bdfe7badbe191aad8d8ae5f6246):

[code]
we emit
[code]

We should be

* [ ] checking that removing the `;` in the incompatible arm would solve the issue and suggest it
* [ ] point at the last statement in the incompatible arm instead of the whole arm

[2020-08-11 19:14] camelid commented on #75080
I'll work on:

* library/std/src/io/mod.rs
* library/std/src/process.rs
* library/core/src/option.rs
* library/core/src/result.rs

[2020-08-11 19:22] mlodato517 commented on #75340
Has this ticket been picked up by anyone? If not, I'd be happy to hop in (especially if it's as easy as changing that one parameter!)

[2020-08-11 19:24] RalfJung commented on #75313
@eddyb found a fix, I coded it up: https://github.com/rust-lang/rust/pull/75419

[2020-08-11 19:25] eddyb commented on #75313
@RalfJung for the record, I specifically meant *after* removing all the bound lifetimes. miri already normalizes, so it would have to be stronger than that.

<hr/>

However, I believe I may have found the bug, and it's actually in normalization itself: https://github.com/rust-lang/rust/blob/cbe7c5ce705896d4e22bf6096590bc1f17993b78/src/librustc_trait_selection/traits/project.rs#L327

That `if !subs

[2020-08-11 19:27] dylni opened #75420 "Constants in `macro_rules!` aren't hygienic"
I tried this code:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6a373c7bb61038f44867919a753db411

I expected to see this happen: the code compiles without warnings

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

---

This code compiles without warnings, because it uses `let` instead of `const`, which is hygienic:

[code]

https:/

[2020-08-11 19:33] petrochenkov commented on #75420
This is by design, only local variables, labels and `$crate` are hygienic in `macro_rules`.

Macros 2.0 (`macro`) items are supposed to change the hygiene rules by making everything hygienic, but they are unstable and still far from being stabilized.

[2020-08-11 19:33] #75420 closed

[2020-08-11 20:07] nikomatsakis commented on #57374
Oof, I'm surprised you hit it actually

[2020-08-11 20:10] dylni commented on #75420
Thanks @petrochenkov. Is there anywhere I can read about why that decision was made, or is it just because macros 2.0 is being developed?

[2020-08-11 20:26] nikomatsakis commented on #75208
Yeah, it sounds plausible indeed, but it may have implications. I wouldn't be opposed to experimenting but I admit I also don't feel very highly motivated, it'd be nice to have a more concrete motivation for this change. Is this just experimentation with strange programs, or is there a use case here?

[2020-08-11 20:31] petrochenkov commented on #75420
@dylni
Hygiene for items (including constants) is hard to implement, and it wasn't implemented in the Rust 1.0 time frame when `macro_rules` were stabilized. So `macro_rules` were stabilized as is, with partial hygiene, with an eye on implementing the full hygiene in macros 2.0.

[2020-08-11 20:34] nnethercote commented on #57374
I hit it again a couple of days later in a different piece of code, but I didn't record the exact problem that time.

If the error message said something like "there might be a problem with lifetimes of a closure", that would be a significant hint in the right direction.

[2020-08-11 20:35] dylni commented on #75420
Thanks. I didn't consider their similarity to items, so that makes sense

[2020-08-11 20:36] 5M1Sec commented on #75340
Hello, can I take this issue? This is my first time trying to make a PR. Thank you.

[2020-08-11 20:38] mlodato517 commented on #75340
That's okay with me (unless someone got here before both of us and took it 😉)

[2020-08-11 21:08] branan commented on #74812
Are there additional issues/complications that are blocking this? I bumped rustfmt/racer locally and rls seems to build - I'd be happy to open PRs if that's all it takes to get this green again

[2020-08-11 21:22] #75386 closed

[2020-08-11 21:35] spastorino commented on #75374
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375374.208.2E5.25.20runtime.20performance.20degradation.20fo.E2.80.A6) and removing `I-prioritize`.

[2020-08-11 21:39] calebcartwright commented on #74812
It's my understanding that @Xanewok is already working on step 2 (updating the references in rls). I can't really speak to what's going on in rls, which branch is planned/whether there's other commits to be included/etc. You may want to ask directly in rust-lang/rls or on #74811

[2020-08-11 21:39] the8472 commented on #75411
running it under strace to see which syscall fails might be helpful.

[2020-08-11 21:52] joshtriplett commented on #73894
Given the above research, I don't think `libc::abort()` is safe to use either.

[2020-08-11 21:56] joshtriplett commented on #73894
Using `std::intrinsics::abort()` seems like a *potentially* reasonable approach here. (`std::process::abort()` just calls `libc::abort()`.)

[2020-08-11 21:56] the8472 commented on #75387
This might be a kernel bug or documentation error because EOPNOTSUPP is not listed in the `copy_file_range` man page [as possible error](https://man7.org/linux/man-pages/man2/copy_file_range.2.html#ERRORS) and the kernel even has a warning [that this stuff shouldn't happen](https://github.com/torvalds/linux/commit/64bf5ff58dff757253cf2142542672de4b21cd1a#diff-63018726069897e4a3a3b5b03ff71613R1673)

[2020-08-11 22:31] the8472 commented on #75387
If a kernel update doesn't fix it you could also report this to the distro maintainers too, they might have missed something when backporting patches. I haven't looked at the centos kernel sources though, so that's just a guess.

[2020-08-11 22:49] Mark-Simulacrum commented on #75387
Cc @cuviper @joshtriplett, though not sure if you are the right people to ask about the possible kernel issue mentioned above.

Regardless we will likely need to handle this ourselves as kernel or distro updates will likely be slow.

[2020-08-11 22:53] the8472 commented on #75387
Ok, should be easy enough. @rustbot claim

[2020-08-11 23:02] bugadani commented on #75410
Interesting idea. I think it may be possible to implement this in userland, maybe it would be useful to add to [itertools](https://github.com/rust-itertools/itertools)?

[2020-08-11 23:07] the8472 commented on #75387
It only remembers that if it encounters [specific error codes](https://github.com/rust-lang/rust/blob/ac48e62db85e6db4bbe026490381ab205f4a614d/library/std/src/sys/unix/fs.rs#L1165-L1166) (`ENOSYS` or `EPERM` but not `EOPNOTSUPP`). So it should also try copy_file_range on the second attempt and encounter the same error.
Could this be related to automounting?

Can you trace the syscalls of your test

[2020-08-11 23:12] cuviper commented on #75387
I know that RHEL 7.8 disabled `copy_file_range` -- see the last note in the [7.8 release notes, section 9.4](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/7.8_release_notes/deprecated_functionality#other_deprecated_functionality):

However, I think an `EOPNOTSUPP` from NFS accidentally leaked through, and will be changed to `ENOSYS` too:
https://bugzilla.redhat.com/

[2020-08-11 23:20] the8472 commented on #75387
Oh that's a mess, so it returns ENOSYS in most cases but in some cases `copy_file_range` would still succeed? The detection logic behaves overly pessimistic then, but I guess that's ok if it was broken in older centos versions.
I'll treat EOPNOTSUPP like ENOSYS then.

[2020-08-11 23:22] Lokathor commented on #75401
Yeah this can just be a proc macro in a crate that takes a string literal or byte string literal and then produces a `&[u8]`.

[2020-08-11 23:27] LunarLambda commented on #75401
I suppose so. I still think it would make sense to include it into
`std`/rustc.

I'm not familiar with writing proc-macros, unfortunately

On Wed, 12 Aug 2020, 01:22 Lokathor, <notifications@github.com> wrote:

[2020-08-11 23:35] mankinskin opened #75429 "Traits for or_else, and_then, then ... etc. methods?"
Types like [`Option`](https://doc.rust-lang.org/std/option/enum.Option.html) and [`Result`](https://doc.rust-lang.org/std/result/enum.Result.html) have a kind of binary nature to them, and often I notice that I want to use the same kinds of logical operations on other types than these two (same with `map`, actually). An example would be [`std::poll::Poll`](https://doc.rust-lang.org/std/task/enum.P

[2020-08-11 23:35] Amanieu commented on #73894
I would prefer just using `rtabort!` since that is precisely what it was designed for.

[2020-08-11 23:39] Lokathor commented on #75401
Probably something _similar to_ this <https://github.com/Lokathor/utf16_lit/blob/main/src/lib.rs#L62>, but instead of recoding the bytes from `utf8` into `utf16`, you'd just spit them out directly as `u8` values.

[2020-08-11 23:44] cuviper commented on #73894
That call chain is `rtabort!` -> `sys_common::util::abort()` -> `sys::abort_internal()`, which on unix calls `libc::abort()`.

https://github.com/rust-lang/rust/blob/e5e33ebd2ba12a78dbf6e2d5f154d5f71f28576c/library/std/src/sys/unix/mod.rs#L159-L168

[2020-08-11 23:47] cuviper commented on #73894
The note about flushing files isn't something we can rely on:

https://man7.org/linux/man-pages/man3/abort.3.html

       Up until glibc 2.26, if the abort() function caused process
       termination, all open streams were closed and flushed (as with
       fclose(3)).  However, in some cases this could result in deadlocks
       and data corruption.  Therefore, starting with glibc 2.27, abort()

[2020-08-12 00:13] cuviper commented on #75410
You can do this with [`scan`](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.scan), or even just a regular `map` and captured closure arguments. It's a little more verbose to separate the state update and the item return, but also more flexible.

[2020-08-12 00:17] cuviper commented on #75341
There are a lot of things a test may do with the assumption that it's an isolated process, like configuring global resources.

[2020-08-12 00:22] codonell commented on #73894
In upstream glibc the goal is for abort() to be AS-safe as required by the standard and it should be today (after glibc 2.27). In fact doing anything superfluous during the abort() generally constitutes a security hazard because the process can be in an unknown state when corruption is detected and the abort() called. For the sake of reducing restart latency and avoiding executing any compromised

[2020-08-12 00:25] jyn514 commented on #75341
Hmm so this has backwards-compatibility issues, I see. Maybe we could do this in a new edition?

[2020-08-12 00:34] cuviper commented on #75341
I could see this in an edition, but I think you'd need an RFC. I think there should be an opt-out too -- maybe tests that contain `fn main` would remain in their own process, side-stepping the rewrite questions.

[2020-08-12 00:36] Mark-Simulacrum commented on #75341
FWIW I am somewhat doubtful that this is a good idea. We likely would have a hard time managing the distinct complexity merging these into a single compilation unit without causing a long stream of issues, not only at run-time but also at compile time (e.g., remapping warning spans and such).

I also don't know that this is truly that high overhead, at least on linux, spawning processes is not too

[2020-08-12 00:39] Lokathor opened #75430 "[rustdoc] Docs search gives overly narrow results"
When searching through a crate using generated docs, the search doesn't show the correct results. Specifically, if you go to a page such as [this one](https://docs.rs/safe_arch/0.5.2/safe_arch/?search=mul) we can see that there are many many functions with `mul_` as part of their name. And yet, when you change `mul` to `mul_` in the search box, the results are filtered to only 6 results.

On top o

[2020-08-12 00:52] jyn514 commented on #75430
At first I thought this was related to https://github.com/rust-lang/rust/pull/75347, but https://docs.rs/safe_arch/0.5.1/safe_arch/?search=mul was published earlier and also reproduces the issue.

This needs a bisection, ideas for doing so in the dropdown for https://github.com/rust-lang/rust/issues/74780.

[2020-08-12 01:04] Lokathor commented on #75341
Just anecdotally using two crates I had at hand:
* 809 doctests take 30.3 seconds to run (26.6 / second)
* 67 integration tests take 0.6 seconds to run (111.66 / second)
The timings were just taken by hand with a stopwatch, but both test suites were doing similar work per test, just math functions that setup some inputs, run the op, and check the outputs.

It probably varies by test suite, but I e

[2020-08-12 01:05] joshtriplett commented on #75387
Yes, treating EOPNOTSUPP as ENOSYS here seems like an appropriate workaround for the kernel bug.

[2020-08-12 01:18] camelid commented on #75080
@jyn514 it says that I claimed `library/std/src/os/*/fs.rs`, but I think @nixphix is the one who claimed those.

[2020-08-12 01:36] evanrichter opened #75433 "Labels scoped too highly"
Hello, I believe I found a bug in how labels are defined to a scope. The same text `abcd` defines two distinct labels, each inside an anonymous scope using `{ ... }`.

I tried this code:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c595115c12fd17130908c4391ef63f81))

Errors:

[code]

I expected to see this happen: *code compiles*

Instead, this hap

[2020-08-12 01:57] Mark-Simulacrum commented on #75341
That seems like not quite an apples-to-apples comparison; for one thing the doctests today are all compiled out of process. Plus, is that including the rustc time for compiling those integration tests?

[2020-08-12 02:00] 5M1Sec commented on #75340
This is the error after the commit. I am also learning the code as I am investigating it.

[code]

[2020-08-12 02:03] Lokathor commented on #75341
that's a `cargo test` with the tests having already been built. Building the integration tests adds about 2s to that case, putting them about even in terms of tests per second.

I don't recall the extra time taken to build the tests in the doctest case.

Are you saying that the doctests get built, run, and then immediately discarded as part of the `cargo test` command?

[2020-08-12 02:06] Mark-Simulacrum commented on #75341
That's the case today -- currently doctesting involves:
 * rustdoc collection of doctests (amortized across all of them), generating the altered source code (e.g., adding `fn main`)
 * spawn a rustc process to compile the doctest
 * execute the doctest itself

I have a long-term outstanding TODO for myself to verify that the rustc spawned there receives appropriate access to the jobserver, so I am

[2020-08-12 02:19] Tavi-Kohn commented on #75387
I've run strace on the test program I wrote earlier.
For two files on an XFS filesystem:
[code]
On an NFS filesystem:
[code]

[2020-08-12 02:32] LennyKappa commented on #75433
This seems to be intentional, as indicated by tests for this situation in `src/test/compile-fail/loops-reject-duplicate-labels-2.rs`, but I think it would be nice if there was someone else to discuss this with.

(also see #21633)

[2020-08-12 03:02] Tavi-Kohn commented on #75387
For some systems (like the one I'm working with), updating is likely not going to happen, and this bug pretty much breaks rustup.

I agree with treating `EOPNOTSUPP` as `ENOSYS`. I still don't know precisely why the kernel bug occurs, but I can't think of a reason why this workaround would be problematic.

Future testing for this and related bugs should be done carefully. A simple `cargo test` set

[2020-08-12 03:03] jyn514 commented on #75080
Oops, fixed. I wish there were a way to automate updating the issue, it's getting a little unwieldy :/

[2020-08-12 03:17] jyn514 opened #75437 "Struct.field should resolve for intra-doc-links"
Found in https://github.com/rust-lang/rust/pull/75432#pullrequestreview-465538679. `std::process::Child.stdout` should resolve to the struct field, but instead gives a resolution error - you have to use `Child::stdout` instead. This is a break from the original RFC: https://github.com/rust-lang/rfcs/blob/68e17ace829e81239fe5020b7a6dbc22550b6d16/text/1946-intra-rustdoc-links.md#linking-to-fields

[2020-08-12 03:19] jyn514 commented on #75437
Relevant code: https://github.com/rust-lang/rust/blob/b11e2f23411ec9aea4aa261c644f2c9e0df9457a/src/librustdoc/passes/collect_intra_doc_links.rs#L256, https://github.com/rust-lang/rust/blob/b11e2f23411ec9aea4aa261c644f2c9e0df9457a/src/librustdoc/passes/collect_intra_doc_links.rs#L369. Treating enum variants and struct fields the same looks very wrong.

[2020-08-12 03:22] Manishearth commented on #75437
I'm actually kinda iffy on this, I prefer the current behavior and we get to avoid clashes with `foo.com`.

[2020-08-12 03:25] jyn514 commented on #75437
Hmm, I think `struct.field` is more clear though since it's how you'd use it in rust code. But fortunately this only adds new behavior so it doesn't block stabilization, we can always choose to add it later.

[2020-08-12 03:36] Manishearth commented on #75437
Yeah I'm just worried about the possibilities of ambiguity. It was listed as an optional extension in the rfc and iirc this was part of why.

[2020-08-12 04:27] tesuji opened #75439 "[mir] or-patterns duplicate the same branch"
Consider [this snippet](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=51140255b8f238da7acc6e47d3c4226b):
[code]

The or-pattern `0 | FF` has this MIR:
[code]

While `bb6` and `bb7` points to the same branch:
[code]

I would expect the or-pattern points the same branch.

[2020-08-12 04:29] lzutao commented on #75439
@rustbot modify labels: A-mir F-or_patterns A-patterns

[2020-08-12 04:43] #74811 closed

[2020-08-12 04:43] #74812 closed

[2020-08-12 05:58] oli-obk commented on #75340
From the error I'd guess that setting the `const_fn` feature gate should make it work now. We can work on getting this ready for `min_const_fn` in a separate PR

[2020-08-12 06:03] oli-obk opened #75440 "-Zvalidate-mir should check that `SwitchInt` values are valid for their type"
Hypothetically we could have a

[code]

we expect this not to happen, so this is an invariant of MIR that we can check

cc @rust-lang/wg-mir-opt @RalfJung

[2020-08-12 06:38] #74933 closed

[2020-08-12 06:39] rust-highfive opened #75441 "`miri` no longer builds after rust-lang/rust#75436"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#75436, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @JohnTitor, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-08-12 06:42] JohnTitor commented on #75441
Here's the fix by oli: https://github.com/rust-lang/miri/pull/1507

[2020-08-12 06:49] RalfJung commented on #75313
@eddyb the old code doesn't normalize, so I don't see how changes to normalization could help. Also I don't know any of that code so it likely makes more sense for someone else to take over then.

[2020-08-12 07:02] RalfJung opened #75442 "x.py says "patch for the non root package will be ignored""
`x.py` recently started saying something like this several times on almost every invocation:
[code]

[2020-08-12 07:03] RalfJung commented on #75442
Probably caused by https://github.com/rust-lang/rust/pull/75427
Cc @Xanewok  @calebcartwright

[2020-08-12 07:10] RalfJung commented on #75362
An alternative, at least initially, would be to do something like https://github.com/RalfJung/miri-test-libstd: out-of-tree CI which tests the latest nightly every morning.

But I am not sure if there is a free CI service that actually provides enough time budge for building rustc twice.

[2020-08-12 07:11] RalfJung commented on #75327
Likely Miri would need similar changes?

[2020-08-12 07:14] RalfJung commented on #75301
This is entirely unrelated to `const fn`. `const fn` doesn't change assembly, it just changes which code you can write
[code]

However, I agree a string-only `format_args!` could likely be improved.

Another case taht could possibly be improved is

https://github.com/rust-lang/rust/blob/c94ed5ca91f1363b66970ce2cbd6e2773e3cb1d3/library/core/src/panicking.rs#L50

[2020-08-12 07:18] RalfJung commented on #75239
This creates a reference-to-function-pointer. So it is not what you want.

The error could possibly be improved, and the entire situation documented better, but I think getting an error is expected here. `bar` is *not* a function pointer, it is an anonymous ["singleton type"](https://en.wikipedia.org/wiki/Singleton_(mathematics)) (of size 0) indicating exactly the function it was created from. Thi

[2020-08-12 07:19] RalfJung commented on #75239
It might also be worth linting against `&function`.

[2020-08-12 07:25] RalfJung commented on #75340
`const_fn` already makes it work on master. But my expectation was that when enabling `const_raw_ptr_deref`, that should work even without `const_fn`. Not sure if that is the intention though.

[2020-08-12 07:35] hyd-dev commented on #73894
It's not. It tries to [hold a lock](https://sourceware.org/bugzilla/show_bug.cgi?id=26275#c3).

[2020-08-12 07:36] oli-obk commented on #75340
Ah, now I see, https://github.com/rust-lang/rust/blob/master/src/test/ui/consts/min_const_fn/min_const_fn_unsafe_bad.rs doesn't actually have any of the other feature gates, thus mentioning `const_fn`. I think everything is correct now, you just need to `./x.py test --stage 1 --bless src/test/ui --test-args min_const_fn` to update the `.stderr` files.

[2020-08-12 08:00] RalfJung commented on #75340
(I think that comment was meant for the PR, not this issue.)

[2020-08-12 08:02] RalfJung commented on #75340
@5M1Sec  please post PR-specific questions in the PR, not the issue. That just mixes up the discussion about a particular fix and the discussion about the problem in general -- very confusing. Instead, leave a message here to point out that a PR exists, or ping people on the PR.

I hid your comment here to avoid that confusion.

[2020-08-12 08:40] #72213 closed

[2020-08-12 08:56] davidtwco commented on #75327
It's possible - I'm not that sure.

[2020-08-12 09:19] Nemo157 commented on #75341
On a very small crate (`bs58`) I copied all my doc-tests into a `docs` integration test file then tested how long they take to run including build time each way:

[code]

so writing doctests seems to give an ~9x walltime or ~28x cputime slowdown compared to identical integration tests.

[2020-08-12 09:21] jonas-schievink commented on #75433
Yeah, this is working as intended. Feel free to discuss this on https://internals.rust-lang.org/ though.

[2020-08-12 09:21] #75433 closed

[2020-08-12 10:04] h33p opened #75446 "fs::copy hangs on docker (Linux)"
Running Fedora 32 with selinux set to non-enforcing, building a project with OpenCV.

I am building a rather weird docker setup, but what I ran into was hanging during build stage of opencv-rust, [around here](https://github.com/twistedfall/opencv-rust/blob/34c94516668f91e28257b85a0a5ce2b212559c84/build.rs#L1019).

I expected to see this happen: build succeed rather quickly

Instead, this happened

[2020-08-12 10:16] RalfJung opened #75447 "Bad printing of const-eval queries"
Evaluating of promoteds currently looks very confusing in the query stack:
[code]
`main` is not a const, so "const-evaluating `main`" is just nonsense.

I presume that this is easy to fix but only @oli-obk would know how. ;)

[2020-08-12 10:16] RalfJung commented on #75447
Also see https://github.com/rust-lang/rust/pull/75445#issuecomment-672785117

[2020-08-12 10:17] h33p commented on #75446
Update: I reimplemented the Linux version, and the `written` count always gets stuck on `0` in the function.

[2020-08-12 10:44] #75312 closed

[2020-08-12 11:13] RalfJung commented on #71193
@pnadon fixed the remaining ones in https://github.com/rust-lang/rust/pull/75226, I think we are done. Thanks a lot to everyone involved. :)

[2020-08-12 11:13] #71193 closed

[2020-08-12 11:30] varkor commented on #68366
That's a good point @lcnr. I think adding a note explaining the problem would be the best solution, though the tricky part is working out how to explain it concisely (rather than just stating _what_ the problem is).

[2020-08-12 11:41] Mark-Simulacrum commented on #75442
@rust-lang/cargo, is there any way for us to make that warning an error? Ideally this wouldn't pass CI...

[2020-08-12 11:52] mati865 commented on #75442
It was done to fix CI in RLS repo and has no effect on Rust. Why should it be hard error?

[2020-08-12 11:52] Xanewok commented on #75442
It's worth noting that functionally it doesn't change anything - the `patch` section in the RLS manifest should always point to the version checked in the submodule.

I'll update the RLS.

I understood that this use case might be useful to support in some ways - my intent was to patch the dependency from the crate PoV to emphasize that pulling Rustfmt from git is a temporary measure and a regular

[2020-08-12 11:54] Mark-Simulacrum commented on #75442
It should be a hard error or silenceable -- we shouldn't have warnings on master.

[2020-08-12 12:13] GuillaumeGomez commented on #75437
I'm not a big fan of this syntax but it's not a strong position either...

[2020-08-12 12:31] mati865 commented on #51239
@zonyitoo could you try again?

For me it fails with unrelated error:

<details>
<summary>Details</summary>

[code]

</details>

[2020-08-12 12:46] RalfJung commented on #67465
I think this is actually closely related to https://github.com/rust-lang/rust/issues/67534. I am not sure if it is worth keeping both of them open.

Basically this issue is "we should validate promoteds maybe", and the other issue is "we cannot validate promoteds as we promote some things that are not valid".

[2020-08-12 12:47] RalfJung commented on #67465
Okay it's different kinds of validation -- one is the interior mutability part, done during interning, and the other is type-based validation of the final value.

[2020-08-12 12:57] RalfJung commented on #67534
Here's another horrible thing we could do: we could change the type of the promoted to replace all `UnsafeCell<T>` by `T`...

Or does this also work for custom struct constructors, not just with tuples like in the example?

[2020-08-12 13:16] tavianator commented on #75446
Any chance you can `strace` the process that gets stuck?

[2020-08-12 13:17] Mark-Simulacrum opened #75453 "expected suffix token in proc macro"
Picked up by the beta crater run

* https://crater-reports.s3.amazonaws.com/beta-1.46-rustdoc-1/beta-2020-07-24/gh/retro486.task-progress/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.46-1/beta-2020-07-24/reg/woff2-sys-0.0.1/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.46-1/beta-2020-07-24/reg/static_map_macros-0.2.0-beta/log.txt

I've not attempted to reproduce these locall

[2020-08-12 13:18] Mark-Simulacrum commented on #75453
cc @petrochenkov proc macros / parser / resolution

[2020-08-12 13:18] Mark-Simulacrum commented on #75142
One new issue (missed in the non-rustdoc run, not sure why though): https://github.com/rust-lang/rust/issues/75453

[2020-08-12 13:27] petrochenkov commented on #75453
The first two regressions are known from https://github.com/rust-lang/rust/pull/73345#issuecomment-652336543, older versions of `cpp-macros` relied on some incorrect pretty-printing from rustc.

Not sure about the third regression, perhaps @Aaron1011 has seen it in one of the other expansion-related PRs.

[2020-08-12 13:35] oli-obk commented on #67534
Yea this will also work for your own structs. We can wrap the entire thing in a `MaybeUninit` :D

[2020-08-12 13:47] RalfJung commented on #67534
That does nothing with `UnsafeCell`...

[2020-08-12 13:49] Aaron1011 commented on #75453
The `static_map_macros` regressions is also due to pretty-printing changes:

https://github.com/cbreeden/static-map/blob/14cada499fcbdeacf0735775978320f226876f8b/static_map_macros/src/lib.rs#L15-L25:

[code]

Before/after:

[code]

[2020-08-12 13:49] h33p commented on #75446
It's an endless `copy_file_range(6, NULL, 11, NULL, 41205, 0) = 0`

[2020-08-12 13:52] h33p commented on #75446
According to man, `If the file offset of fd_in is at or past the end of file, no bytes are copied, and copy_file_range() returns zero.`, although the behaviour is odd. If I were to guess running this under docker does not return `EXDEV`, even though it is technically on external device.

[2020-08-12 13:55] h33p commented on #75446
This particular case of 0 is not being handled in [the current implementation](https://github.com/rust-lang/rust/blob/2c31b45ae878b821975c4ebd94cc1e49f6073fd0/library/std/src/sys/unix/fs.rs#L1163), only the errors. Adding match arms and redirecting 0 to one of the errors to force using fallback mode could work. However, there may be cases where 0 gets returned legitimately?

[2020-08-12 13:55] p0lunin commented on #42671
Can someone review this?

[2020-08-12 14:02] mati865 commented on #38743
I've build Rust with 32-bit MinGW like dozen times now and there are no issues with the README steps. We can close this I think.

[2020-08-12 14:19] #38743 closed

[2020-08-12 14:25] mati865 commented on #61710
This issue is now obsolete since Rust prefers system C toolchain instead of shipped one so builds no longer fail with `undefined reference to __onexitend`.

[2020-08-12 14:30] spastorino commented on #75385
Assigning `P-high` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375385.20Link.20fails.20with.20actix-web.20when.20using.20GN.E2.80.A6) and removing `I-prioritize`.

[2020-08-12 14:32] mati865 commented on #50906
@rustbot modify labels: -O-windows-gnu +O-windows
Affects all terminals running on Windows (no matter the toolchain).

[2020-08-12 14:45] pietroalbini commented on #75198
We discussed this during the [infrastructure team meeting](https://zulip-archive.rust-lang.org/242791tinfra/16403meeting20200812.html#206697647) and agreed to **remove** the `full-bootstrap` builder. The builder doesn't provide much value for the stability of the project, as it rarely fails and we'd catch any failure it would prevent as soon as we promote nightly to beta.

[2020-08-12 14:47] pietroalbini commented on #75362
During this week's [infrastructure team meeting](https://zulip-archive.rust-lang.org/242791tinfra/16403meeting20200812.html#206699149) we agreed to dedicate a builder for this! The builder will replace the existing `full-bootstrap` one. The main requirement we have is that this builder shouldn't take longer than the current slowest builder.

[2020-08-12 14:48] mati865 commented on #67960
@1480c1 could you retest with nightly or provide steps to reproduce the error?

[2020-08-12 14:49] zonyitoo commented on #51239
Yup. It is fixed somehow in the latest version. I should close this issue.

[2020-08-12 14:49] #51239 closed

[2020-08-12 14:52] 1480c1 commented on #67960
Sure, I can try once I have time.
The way I encountered it was trying to compile rav1e(rust but using cargo-c to generate a c library) https://github.com/xiph/rav1e with FFmpeg(C) and compiling them both static. I will try to see if I can get steps to reproduce exactly or if there's a simpler way

[2020-08-12 15:30] mati865 commented on #61925
Triage: works for me.

I've tried with directory symlink and directory junction. In both cases `windows-gnu` cargo can compile hello-world example with only symlink/junction being available in PATH.

[2020-08-12 15:35] spastorino commented on #74427
@Mark-Simulacrum I think we should close this issue given that we decided to not backport to stable, right?.

[2020-08-12 15:38] Mark-Simulacrum commented on #74427
Given that it's fixed on beta/nightly that does indeed seem reasonable.

[2020-08-12 15:38] #74427 closed

[2020-08-12 15:40] Mark-Simulacrum commented on #61925
I'm going to go ahead and close this per @mati865's testing. New issues can be filed if this is still a bug.

[2020-08-12 15:40] #61925 closed

[2020-08-12 16:03] p0lunin opened #75456 "`_lzma.LZMAError: Corrupt input data` occured when try to test the compiler"
I try to test compiler usign command `python x.py --stage 1 test src/test/ui/issues` and see the output:
[code]
OS: Windows 10.0 2004
rustc: (last)[https://github.com/rust-lang/rust/tree/cee14d8c300feb2ac2a949848911bf4c3b143e70]

[2020-08-12 16:05] jonas-schievink commented on #75456
Try deleting those files, they might just be corrupted during download

[2020-08-12 16:07] p0lunin commented on #75456
It really is, thanks.

[2020-08-12 16:07] #75456 closed

[2020-08-12 16:22] mati865 commented on #48737
Triage: Latest GCC and Binutils still don't handle `Администратор` in the path but this is not actionable by Rust. The same path works fine when using Clang+LLD as the linker.

I think we should leave this issue open since we ship `gcc.exe` and `ld.exe` which don't handle it.

[2020-08-12 16:30] zhibo501 commented on #75410
@bugadani

OK, that's good.

But it's better if the language supports this function natively.  :)

[2020-08-12 16:44] zhibo501 commented on #75410
@cuviper
Thanks for your reply.
*scan* only supports to return Option type, and flatten is required.
If we use the regular *map*, we need to define additional variables to store state, like this:
[code]

[2020-08-12 16:52] cuviper commented on #75410
The `scan` function returns `Option` because you can terminate early with `None`, just like an implementation of `Iterator::next()`. When you return `Some(value)` the next stage of the iterator will get an unwrapped `value`.

[code]

(The dereferencing `*acc` is because the closure gets `&mut St`.)

[2020-08-12 16:54] Nufflee commented on #75373
Yep, SSE and AVX works without issues but Neon refuses to work.

[2020-08-12 17:14] bodqhrohro opened #75458 "Documentation pages are not displayed in Opera Mini"
[Migrated from the www.rust-lang.org repository.](https://github.com/rust-lang/www.rust-lang.org/issues/1223)

### Page(s) Affected
For example, http://doc.rust-lang.org/std/vec/struct.Vec.html (lots of them actually, probably all).

### What needs to be fixed?
It's just a typical case when Opera Mini transcoders try to execute JS, but do it partially and thus break the page at all :/
![2020-08-12

[2020-08-12 18:15] jyn514 opened #75460 "debug_assert! does not actually compile out the assert"
I tried this code:

[code]

I expected to see this happen: The crate compiles correctly in release mode.

Instead, this happened: The crate does not compile, because `debug_assert` uses `if cfg!` instead of `#[cfg]`.

https://github.com/rust-lang/rust/blob/2c31b45ae878b821975c4ebd94cc1e49f6073fd0/library/core/src/macros/mod.rs#L183-L185

[2020-08-12 18:16] the8472 commented on #75446
The current implementation queries the size of the source file and then does a decrementing loop. Does the file in question get truncated by another thread while the copy is in progress?

[2020-08-12 18:22] jonas-schievink commented on #75460
Pretty sure this is intended

[2020-08-12 18:23] jyn514 commented on #75460
What's the point of compiling it in? It slows down compile times in release mode too because LLVM has to optimize out the branch.

[2020-08-12 18:34] jonas-schievink commented on #75460
It type-checks the expressions involved

[2020-08-12 18:35] RalfJung opened #75461 "Cleanup CTFE error reporting code & centralize promoted error reporting logic"
CTFE error reporting code is quite complex, and some of the logic is repeated in many places -- e.g. the fact that we do not report hard errors for evaluation failures in promoteds. We should try to centralize that logic (and with https://github.com/rust-lang/const-eval/issues/53 we can hopefully get rid of some of it eventually).

Cases I know of:
* [ ] [This here](https://github.com/rust-lang/ru

[2020-08-12 18:35] RalfJung commented on #71802
I realized that the cleanup here is not actually made easier by opportunistically evaluating things, because promoteds can still fail to evaluate later. Thus I moved the cleanup to a separate issue: https://github.com/rust-lang/rust/issues/75461.

[2020-08-12 18:52] Mark-Simulacrum commented on #75460
We should be eliminating the IR before it hits LLVM with MIR opts, since it's a trivial case - not sure if that's enabled by default though.

[2020-08-12 19:04] jonas-schievink commented on #75460
`if false` should get optimized out by `SimplifyBranches`. It is also run after const prop, so many cases should be handled (even at opt-level 0).

[2020-08-12 19:16] Mark-Simulacrum commented on #75460
Perfect, that's what I had thought.

It would also be backwards incompatible in theory (though unlikely in practice) to change this as you could implement a trait inside the debug_assertion conditions which would then get dropped when moving to `#[cfg()]`.

Closing as won't fix; continued discussion should take place on internals and eventually perhaps a lang-team MCP.

[2020-08-12 19:16] #75460 closed

[2020-08-12 20:32] spastorino commented on #75100
@jyn514 now that your PR is merged, is this issue fixed?. I wonder we still want it open to find a proper solution but in that case, shouldn't we lower the priority of this issue?.

[2020-08-12 21:00] poliorcetics commented on #75080
I'll do:

- `library/std/src/panic.rs`
- `library/std/src/ascii.rs`
- `library/std/src/lib.rs`
- `library/std/src/fs.rs`

[2020-08-12 21:18] jyn514 commented on #75100
The issue should be fixed but I haven't heard back from @yoshuawuyts to be sure.

There's no need to beta nominate because [the bug wasn't present in beta](https://github.com/rust-lang/rust/issues/75100#issuecomment-668191796), only on nightly.

Maybe we should open a separate issue for the long-term fix? It shouldn't affect behavior too much, the fix is just really hacky.

[2020-08-12 21:23] spastorino commented on #75100
Ok, we can use this issue for the remaining work but let's adjust the priority to `P-medium`.

[2020-08-12 21:24] spastorino commented on #75313
This regressed in #73830 which is a rollup.

[2020-08-12 21:32] RalfJung commented on #75313
This regressed in https://github.com/rust-lang/rust/pull/72796. I removed the label because we knew that, but it's not helpful -- we don't want to just revert that PR as that would mean not checking MIR assignments any more.

[2020-08-12 22:01] camelid commented on #75080
I've used this regex:

[code]

[2020-08-12 22:02] camelid commented on #75080
How do I link to the Book? E.g., here's the old line:

[code]

[2020-08-12 22:06] yoshuawuyts commented on #75100
@jyn514 just built async-std locally with the latest nightly, and it seems to work! -- thanks so much!

[2020-08-12 22:11] poliorcetics commented on #75080
@camelid if you want to go faster I made a python script to help, there is a link to the relevant comment in the first comment. :)

About the book, you don't need to change the links, they are not intra doc ones.

[2020-08-12 22:22] the8472 commented on #75446
Can you check which syscalls are used in the direction that works?

Recent kernels support cross device copy_file_range under certain circumstances, e.g. overlayfs can delegate to the underlying device and btrfs can copy between volumes. Bind mounts also should count as the same device. But maybe there's a bug in there in combination with selinux?

[2020-08-12 22:25] cuviper commented on #75446
If selinux is non-enforcing (per OP), that should rule it out.

[2020-08-12 22:59] gwillen commented on #60461
Just to come back to this for anybody who may read it in the future -- I can't actually tell if it is ever required to use libfaketime with current rustc, in order to get deterministic builds. (I think it's pretty good about not including the time in the output anywhere. It's not totally clear to me whether it was even required at the time we were trying to do it in the first place.) In which case

[2020-08-12 23:41] the8472 commented on #75446
It still seems really odd. The kernel's copy_file_range implementation itself does a lot of fallbacks internally when the preferred methods return a 0, i.e. 0 bytes copied ultimately lead to a splice operation from file to file which is not all that different than what we're doing in userspace. So 0 bytes being copied is quite unexpected for a non-empty file. There are lots of layers involved thou

[2020-08-13 00:03] nagisa commented on #75411
File locking support is required as thus running compilers on most network file systems won't work.

Duplicate of https://github.com/rust-lang/rust/issues/56976 (picked randomly out of many others on [this list](https://github.com/rust-lang/rust/issues?q=is%3Aissue+is%3Aopen+trying+to+get+session+directory+from+%60IncrCompSession%60%3A+NotInitialized)

Feel free to complain if you disagree with th

[2020-08-13 00:03] #75411 closed

[2020-08-13 00:06] camelid commented on #75441
It looks like the PR is merged. Should this issue be closed?

[2020-08-13 00:15] JohnTitor commented on #75441
The submodule should be updated to fix toolstate.

[2020-08-13 00:28] spastorino commented on #75313
@RalfJung right, I was going over the prioritization process and noticed that the PR where this regressed was lacking. I wasn't suggesting more than just that :).

[2020-08-13 00:33] camelid commented on #75441
Thanks! I'm trying to understand the protocol around tool breakages, so I was trying to understand why the issue wasn't yet closed :)

[2020-08-13 01:16] JohnTitor commented on #75412
You're right, I guess it's a copy/paste error from `RangeToInclusive` in #57604? We're happy to see a PR to fix it :)

[2020-08-13 01:52] Nugine opened #75475 "include! doesn't work with inner attributes"
I tried this code:

[code]

[code]

I expected to see this happen: lints should take effect.

Instead, this happened: compile errors.

[code]

### Meta

`rustc --version --verbose`:
[code]

[2020-08-13 02:11] tavianator commented on #75446
Coreutils tests for a zero-byte copy_file_range() and falls back on a read()/write() loop if that happens: https://github.com/coreutils/coreutils/commit/4b04a0c

Their code has a comment mentioning that this happens for /proc special files.  I tried to reproduce it with

[code]

but ran into another bug: stat() says that file is empty, so fs::copy() creates an empty file and doesn't copy anything.

[2020-08-13 04:20] #72404 closed

[2020-08-13 04:20] #74264 closed

[2020-08-13 04:20] #74739 closed

[2020-08-13 06:32] RalfJung commented on #75239
https://github.com/rust-lang/rust/pull/75477 helps with the docs. But to close this issue, it would probably make sense to write a lint against `&expr` where `expr` is the name of a function.

That should be a matter of adding a new `LateLintPass` in `librustc_lint/builtin.rs` which checks all expressions for being [`AddrOf`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_hir/enum.ExprKind.

[2020-08-13 06:35] RalfJung commented on #75441
I'll get https://github.com/rust-lang/miri/pull/1504 into Miri and then submit a submodule update that will close this issue. :)

I often wait a bit after Miri is fixed before doing the submodule update, to collect more things into the same update. It's okay when Miri is missing for a few days.

[2020-08-13 07:34] the8472 commented on #75446
@rustbot claim

[2020-08-13 07:41] RalfJung commented on #72396
I think the names we agreed on now are `const_eval_alloc(ation)` to the low-level query that returns an `AllocId`, and `const_eval_valtree` for the higher-level query that returns a valtree (and fails if no valtree can be created).

What is not clear to me yet is how to handle the problem that we permit consts in patterns that cannot be converted to valtrees -- raw pointers and function pointers.

[2020-08-13 09:00] smmalis37 commented on #67830
This is the exact same stack trace and error message as #54895. Should one of these be duped to the other?

[2020-08-13 09:01] the8472 commented on #75446
@tavianator that's another good reason to change the logic, but it'd still be good to know what's actually causing it so we can add the root cause to comments or report things upstream if they haven't been fixed already.
The direction-dependence smells like something overlayfs-related, but that's just a guess without further details from @h33p

[2020-08-13 10:04] tmiasko commented on #73894
Example demonstrating a deadlock. After a dozen of so runs leaves deadlocked children behind:

[code]

At least the conditions for deadlock are quite unlikely, since both a child process and a thread in the parent process must abort.

The musl implementation looks correct (it also uses a lock, which by itself is only a weak indicator of a potential issue).

[2020-08-13 10:25] h33p commented on #75446
This is interesting. Kernel's [generic_copy_file_checks ](https://elixir.bootlin.com/linux/v5.7.12/source/fs/read_write.c#L1691) sets the length to zero upon return, because [i_size_read](https://elixir.bootlin.com/linux/v5.7.12/source/mm/filemap.c#L3095) returns 0. Which ultimately means, that the inode's size in the kernel is zero, while the metadata returns size of 41205. Possible kernel bug?

[2020-08-13 10:31] #75441 closed

[2020-08-13 10:57] bjorn3 opened #75481 "Constprop can create aggregates that won't get deaggregated anymore"
Before #73656 the deaggregator ran after aggregates. Now it doesn't anymore, breaking cg_clif.

[code]

[code]

@rustbot modify labels: +A-mir +A-mir-opt +A-cranelift +C-bug +T-compiler

cc @oli-obk (PR author)

[2020-08-13 11:09] oli-obk commented on #75481
Are you talking about `_1 = (const 42_i32, const false)` not being separate assignments to `_1.0` and `_1.1`?

[2020-08-13 11:49] bjorn3 commented on #75481
Yes

[2020-08-13 12:31] petrochenkov commented on #75475
Duplicate of https://github.com/rust-lang/rust/issues/66920.

[2020-08-13 12:31] #75475 closed

[2020-08-13 12:31] 149-code opened #75484 "Cargo throws an error when trying to compile with object code generated by c and with import libc"
I was attempting to get rust to call a c function by using extern "C" and it worked until i tried to import the libc crate which is when cargo build started throwing an error.

I then removed the extern "C" declearation and the code compiled normlly so I think its a problem with the combination of extern "C" and use libc

This is the rust code:

[code]

And this is the c code:
[code]

This is my c

[2020-08-13 12:44] jonas-schievink commented on #75484
That `#[link(name = "hello")]` usage is incorrect

[2020-08-13 12:44] #75484 closed

[2020-08-13 12:48] alex commented on #74878
👋 I'm trying to understand the limitations of `min_const_generics`. Is it expected that https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=59cca2f3891e9fa921afdcbcda9f2588 compiles ok without `min_const_generics`, but fails with it?

[2020-08-13 13:01] tavianator commented on #75446
Maybe it's getting `i_size` from the stacked inode in the overlayfs, not the underlying one

[2020-08-13 13:29] Amanieu commented on #73894
@tmiasko You may want to post that on the glibc bug report here: https://sourceware.org/bugzilla/show_bug.cgi?id=26275

[2020-08-13 13:32] est31 commented on #75442
AFAIK it's hardcoded. I've suggested introduction of `cargo::` lints in https://github.com/rust-lang/cargo/pull/8437#issuecomment-663098291 , to build upon https://github.com/rust-lang/cargo/issues/5034 .

The largest implementation complexity I see with the cargo feature is in fact non-cargo lints because rustc prints the source of the lint level, and if cargo sets arguments, rustc would only see

[2020-08-13 13:35] est31 commented on #75442
Yeah it's hardcoded to warn: https://github.com/rust-lang/cargo/blob/7bce509826e29bd79566f7a33621fea7e7a657f9/src/cargo/core/workspace.rs#L828

[2020-08-13 13:57] lcnr opened #75486 "`min_const_generics` prevents references to concrete `Self` param"
👋 I'm trying to understand the limitations of `min_const_generics`. Is it expected that https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=59cca2f3891e9fa921afdcbcda9f2588 compiles ok without `min_const_generics`, but fails with it?

_Originally posted by @alex in https://github.com/rust-lang/rust/issues/74878#issuecomment-673457909_

[2020-08-13 13:59] lcnr commented on #75486
We should not break stable code and change the `generic parameters must not be used inside of non trivial constant values` check to only run for const parameters.

So this is a bug of the current `min_const_generics` implementation.

[2020-08-13 14:06] lcnr commented on #74878
:neutral_face:  `min_const_generics` should not cause breaking changes, that's a bug. Opened #75486

We will most probably write a more detailed summary of what will be allowed with this feature in the near future, for now I can recommend the post by @withoutboats about this: https://without.boats/blog/shipping-const-generics/

In general, please note that a tracking issue is *not* meant for large

[2020-08-13 14:07] alex commented on #75486
Thank @lcnr! Sorry about the noise on the tracking bug!

[2020-08-13 14:17] alex commented on #75486
FWIW, I was able to work around this in my own code by replacing `mem::size_of::<Self>()` with `mem::size_of::<what self is>()`: https://github.com/alex/rust-asn1/compare/ee5e5b48b5c765b8d460dc1b44b7716c59325706..bc7be1da41d86e99b602c8df66c320f8edc01f63

[2020-08-13 14:42] oli-obk commented on #75481
oh oops, optimizations should not be producing new `Rvalue::Aggregate`s, maybe we should add this to the mir validator, so after a certain point it would check that there are no `Rvalue::Aggregate`s (cc @RalfJung does that sound like too horrible a thing to do to the validator).

[2020-08-13 14:44] RalfJung commented on #75481
No that sounds totally reasonable. We gave several MIR dialects (like before and after drop elaboration), and formalizing this through an explicit `enum` would make a lot of sense.

I am just not sure how to best integrate this with our MIR pass system.

[2020-08-13 14:49] nikomatsakis commented on #74820
Could somebody reproduce this and print updated line numbers etc? Also, maybe run with `RUST_BACKTRACE=1`?

[2020-08-13 14:50] nikomatsakis commented on #74820
Although I'm guessing the error is now on line 559:

https://github.com/rust-lang/rust/blob/1a7d9f52bc3545631c7485dce65b31742ef81c4d/library/test/src/lib.rs#L555-L558

so really what is happening is that the lock is being poisoned by a panic somewhere else...

[2020-08-13 14:51] nikomatsakis commented on #74820
Is this specific to qemu?

[2020-08-13 15:01] 1480c1 commented on #67960
Hmm, seems like I am no longer able to reproduced inside a clean VM with just msys2 installed

[code]
[code]

I guess I will close this issue now

[2020-08-13 15:01] #67960 closed

[2020-08-13 15:06] mati865 commented on #67960
Thank you for testing this again.

[2020-08-13 15:28] mati865 commented on #60781
Triage:
Rust now prefers to use linker from the system instead of the shipped one and the example from OP works fine.

We can close this issue.

[2020-08-13 15:32] stephanemagnenat opened #75489 "Instantiating a struct with default derive containing vector of generic types that do not implement default fails"
I tried this code:

[code]

I expected to see this happen: *successful compilation*, because `Vec` implements default regardless of whether the element type does.

Instead, this happened: *compilation fails with error E0599*. My understanding is that the expansion of `#[derive(Default)]` adds the constraint of Default on `T`, although that is not necessary. Indeed, looking at the expanded code:
[c

[2020-08-13 15:34] #60781 closed

[2020-08-13 15:37] Aaron1011 commented on #75489
This looks like a duplicate of https://github.com/rust-lang/rust/issues/26925

[2020-08-13 15:46] jonas-schievink commented on #75489
Yes, another duplicate of that issue

[2020-08-13 15:46] #75489 closed

[2020-08-13 16:55] zhibo501 commented on #75410
@cuviper  It's great. I'm wrong about *scan*.
However, *scan* is meaning of browsing elements, and it maybe terminate during scanning. In an abstract sense, it is different from fold and map.
And the code implementation with *foldmap* is more concise and graceful. :)

[2020-08-13 16:55] zhibo501 commented on #75410
@cuviper  It's great. I'm wrong about *scan*.
However, *scan* is meaning of browsing elements, and it maybe terminate during scanning. In an abstract sense, it is different from fold and map.
And the code implementation with *foldmap* is more concise and graceful. :)

[2020-08-13 16:59] nicbn commented on #29594
Hello, `#[thread_local]` can currently be applied to fields of a struct without any errors or warnings (it won't work oc):

[code]

Outputs:
[code]

[2020-08-13 17:56] RalfJung commented on #75313
Reopening as the problem remains on beta.

@lcnr can you do a backport?

[2020-08-13 18:07] spastorino commented on #75313
@RalfJung https://github.com/rust-lang/rust/pull/75443 is already `beta-nominated`

[2020-08-13 18:18] wesleywiser commented on #75481
That sounds a bit like `MirPhase`

https://github.com/rust-lang/rust/blob/0a49057dd35d9bd2fcc9760a054809c30eee2a58/src/librustc_middle/mir/mod.rs#L78-L84

[2020-08-13 18:19] RalfJung commented on #75313
Oh I thought the beta PR would get nominated?
Clearly I do not know the process. Feel free to close again if that's the process. :)

[2020-08-13 18:29] vivia opened #75492 "Typoing dot instead of comma in `println!` gives a warning at the wrong place"
[code]
says:
[code]

... which isn't exactly where the `,` was expected.

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e2837f62f524065616b120f71269b78c))

Another variation is this code:

[code]
which gives this result:
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0c6aef1d9e5224185984d2af854da750))

[2020-08-13 18:41] hjhk1911 opened #75493 "Rust"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=cbc611bdc6f520c43e48e5196e05152f))

[2020-08-13 18:51] Mark-Simulacrum commented on #75313
Hm, when you say "beta PR" -- is there a dedicated PR intended for beta backport? Or is #75443 slated for beta backport? Whichever PR's commits should be cherry-picked onto beta should get nominated.

[2020-08-13 19:19] RefinedSoftwareLLC commented on #62184
This error message sent me on a wild goose chase, please fix.

[2020-08-13 19:26] #74571 closed

[2020-08-13 19:34] RalfJung commented on #75313
Oh gosh now I confused everyone.^^
What I thought would happen is that someone cherry-picks https://github.com/rust-lang/rust/pull/75443 onto the beta branch, opens that PR, and then marks it as nominated for the team to discuss. But best to ignore me as I clearly have no idea how you are doing backports.^^

[2020-08-13 19:42] spastorino commented on #75313
@RalfJung the way it works is ... a PR that was made against master is labelled with `beta-nominated` requesting a backport for beta or `stable-nominated` requesting a backport for stable. During the following compiler weekly meeting members vote if the request should be accepted or rejected, if it is accepted a label `beta-accepted` or `stable-accepted` is added and at that point @Mark-Simulacrum

[2020-08-13 20:04] poliorcetics commented on #75080
Taking `library/std/ffi/*.rs`

[2020-08-13 20:21] kpp opened #75497 "Add an option to exclude source code from docs"
**Describe the problem you are trying to solve**

I ship a proprietary cdylib which I build from Rust code. I want to document the API using doc comments. However at the moment `cargo doc` puts the source code into target/doc/src/ which is not an option. I know I can `rm target/doc/src/` however there is `[src](goto source code)` button left in the top right corner of the docs.

**Describe the sol

[2020-08-13 20:38] ehuss commented on #75497
This is more of an issue for rustdoc, so moved to rust-lang/rust where its issue tracker resides.

[2020-08-13 21:08] glandium commented on #73908
For the record, I've built the rust compiler on the DTK with https://github.com/rust-lang/rust/pull/75500, a tweak to stage0.txt to pick a recent nightly, and a config.toml that sets the following:
[code]
and was subsequently able to build all the rust code in Firefox *but* I had to make changes to three crates that were passing the wrong --target to clang because the rust target differs from the

[2020-08-13 21:36] ollie27 commented on #75497
The [`#![doc(html_no_source)]`](https://doc.rust-lang.org/nightly/rustdoc/the-doc-attribute.html#html_no_source) crate level attribute prevents the source files from being emitted. Does that solve this issue?

[2020-08-13 22:12] couchand opened #75504 "AVR: interrupt code broken by unused alloca"
I've run into an issue with code that uses interrupts on AVR.  I'm not sure if this applies to any other platform.

I've attempted to minimize the example, but there's still a fair amount here, largely because I'm having trouble coming up with good, simple ways to observe the chip's behavior.  It's written for the ATmega2560 (and specifically the Arduino Mega2560 board), but should be easily adapt

[2020-08-13 22:24] the8472 commented on #75446
I'm trying to reproduce it from basic pieces but so far it works just fine

[code]

[code]

[code]

* kernel 5.7.12-arch1-1
* btrfs

[2020-08-13 22:43] mexus commented on #75497
OMG it does! Thanks a lot, @ollie27! Although why don't we make a rustdoc flag for that?

[2020-08-13 22:55] matthiaskrgr opened #75506 "ICE array-size-in-generic-struct-param.rs: const parameter `CFG/#0` (Const { ty: Config, val: Param(CFG/#0) }/0) out of range when substituting substs=[]"
### Code
code from `./src/test/ui/const-generics/array-size-in-generic-struct-param.rs`
[code]

### Meta

repo @ 5e3f1b148db5bfa27fee52464ae1f5d34c49d77b

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-08-13 23:03] matthiaskrgr opened #75507 "LLVM_ERROR with -Zmir-opt-level=3: match.rs"
Code from ./src/test/codegen/match.rs
[code]

There was an LLVM ERROR with
`rustc ./src/test/codegen/match.rs  -Zmir-opt-level=3`

[code]
### Meta

repo @ 5e3f1b148db5bfa27fee52464ae1f5d34c49d77b

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-08-13 23:08] matthiaskrgr commented on #75507
Probably related to https://github.com/rust-lang/rust/pull/75382

[2020-08-13 23:38] #74834 closed

[2020-08-14 01:10] tmandry commented on #68936
I suppose this is possible to do on generic POSIX with something like the following:

Spawn one thread to read the file handles, and have another to wait on the subprocess with `wait`/`waitpid`. Once the subprocess dies, signal the first thread through some mechanism (closing the file handles? a third file handle?).

On Fuchsia the extra thread isn't needed, and I'm still unsure how this affects W

[2020-08-14 01:17] tmandry commented on #62318
This was originally added in #64158 and Cargo support landed in rust-lang/cargo#7460.

#67650 tracks the unstable feature.

[2020-08-14 01:17] #62318 closed

[2020-08-14 01:45] goffrie commented on #73709
#72121 has landed and this indeed appears to be fixed:
[code]

[2020-08-14 01:59] #73709 closed

[2020-08-14 02:13] jyn514 commented on #68427
This is now blocking https://github.com/rust-lang/rust/pull/75176.

[2020-08-14 02:26] jyn514 commented on #68427
Instead of `Resolver` having its own copy of `cstore`, is it possible to pass one in and have `Resolver` use that instead? I think `TyCtxt::cstore()` might come from the resolver in the first place so maybe it should be a public field or something so that having a cstore on hand is optional.

[2020-08-14 02:27] jyn514 commented on #68427
Another idea is to store the resolver in the TyCtxt itself so that it never has to be cloned in the first place: https://github.com/rust-lang/rust/pull/75176#issuecomment-673838564

[2020-08-14 02:32] comcma opened #75512 "Stack overflow in rustc frontend on Windows"
It seems rustc can no longer handle how much is defined in these two binding files. If I comment out either module, it will successfully build. It was previously building on `rustc 1.45.2 (d3fb005a3 2020-07-31)`.

### Code

Building this project on Windows:
https://github.com/gamozolabs/applepie/tree/master/whvp_bindings

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<de

[2020-08-14 02:34] nixphix commented on #75080
I ll take `library/std/src/os/raw/*.md`

complete list
[code]

[2020-08-14 02:55] couchand commented on #75504
I have a bit more information.  After going over the generated assembler for the ISR with a fine-toothed comb, I've uncovered an apparent miscompilation.  Here is the complete text of the ISR in the problematic program:

[code]

First, let's examine the sequence corresponding to the alloca:

[code]

We use r28 and r29 to store the stack pointer and decrement it by one.  We use r0 to store the stat

[2020-08-14 03:50] lzutao commented on #75493
What problem do you raise with the code? Also there are issue template to fill in for better bug report.

[2020-08-14 04:41] hbina commented on #75493
@lzutao I don't wanna call its a troll or whatever but this is the exact code from here https://doc.rust-lang.org/std/fmt/#width
@hjhk1911  You might want to elaborate.

[2020-08-14 04:59] petrochenkov commented on #68427
I already mentioned my preferred solution:

\+ eddyb's comment - https://github.com/rust-lang/rust/issues/68427#issuecomment-578526219

[2020-08-14 05:18] #74233 closed

[2020-08-14 05:18] #54186 closed

[2020-08-14 05:18] #75307 closed

[2020-08-14 05:44] comcma commented on #75512
This is the stack overflow. Some recursive call in ClashingExternDeclaration checking. I think this is `master`. I tried to set
`#![allow(clashing_extern_declarations)]` across the files to see if it might help, but I am not sure if that is exposed. I didn't dig into too much, but it still seems to trigger.

### Meta

I am not sure why I don't see the commit hash in the `stage1` build. First time

[2020-08-14 05:50] lzutao commented on #75512
Pinging @jumbatm for clashing_extern_declarations in the meantime.

[2020-08-14 06:08] jumbatm commented on #75512
Uh oh, that's not good. Thanks for reporting! I'll get on this now.

@rustbot claim

[2020-08-14 06:46] h33p commented on #75446
I'm sorry I made one horrible mistake, the directories are not mounted on the same overlayfs, they seem to be bind mounted

Output on docker container:
[code]

I am not sure how exactly would one reproduce this environment without actually using docker/podman to do so.

[2020-08-14 06:59] eddyb commented on #64102
I was seeing some weird effects from using `black_box` in conjunction with counting instructions, and then I remembered that `black_box`'s current incarnation has to place the value on the stack.

So I tried making my own, and ended up with this, which is sadly limited to values that fit in a register ([godbolt](https://godbolt.org/z/eP3ocG)):
[code]
From my brief testing, it seems to result in 3

[2020-08-14 07:13] Lokathor commented on #75341
If doctests were to be merged, i'd expect doctests without a `main` to just be merged into a single file and run as a batch.

[2020-08-14 07:26] h33p commented on #75446
Not only that, I noticed that the behaviour is very strange. Some files do cause the lock ups, some don't.

Now, building by using `opencv-rust` directly from crates.io, running build script creates this file:
`/home/developer/.cargo/registry/src/github.com-1ecc6299db9ec823/opencv-0.45.0/bindings/cpp/opencv_4/aruco.cpp`

Running fs::copy script with the path causes it to lock up. But, if I cp the

[2020-08-14 07:29] h33p commented on #75446
My current kernel version is `5.7.14-200.fc32.x86_64`, but the same happened with an older 5.7 kernel as well.

[2020-08-14 07:46] lcnr commented on #75506
this is pretty much a duplicate of #69913, we will hopefully be able to prevent these ICE on stable soon

[2020-08-14 07:46] #75506 closed

[2020-08-14 07:53] ThibsG commented on #75447
Let's give a try :wink:

[2020-08-14 07:53] ThibsG commented on #75447
@rustbot claim

[2020-08-14 07:55] RalfJung commented on #75447
@ThibsG awesome. :) Let us know if you need any help.

I am not very familiar with that specif code, but can still help with more general questions, and I hope @oli-obk can help with the specifics. :D

[2020-08-14 08:08] xobs commented on #49535
It looks like the text has been fixed (as of 2020-07-11).

It would be really nice if the compiler told you to specify `rustc` instead of `build`, however. I discovered this issue because the error does say "run with -Z macro-backtrace for more info", and if you do as it says and add "-Z macro-backtrace" it produces the error described in this issue.

The error should be changed to say that you ne

[2020-08-14 08:12] the8472 commented on #75446
Those are the target directories. But the source also matters and depending on the docker storage driver you're using that might be overlayfs.

Yeah, again if overlayfs is involved that may make a difference whether the file comes from the upper or the lower.

A step by step reduced testcase would help. I grasp the rough outline what is happening but there are many details that might make a differ

[2020-08-14 09:13] rossmacarthur commented on #74820
I just ran this on a real armv7 device and the test runs correctly. So it could be specific to QEMU.

[code]

[2020-08-14 09:16] drahnr commented on #74697
`v0.4.0-alpha.2` is the first pre-release that contains sufficient quirks to cover all the mentioned use-cases :tada: (it's a pre-release so, be aware of :bug: and :beetle: )

[2020-08-14 10:25] WildCryptoFox commented on #72016
Is there an `asm!` equivalent for this `llvm_asm!`? Note the `%gs:${1:c}`

[code]

[2020-08-14 10:36] bugadani commented on #13926
#36962 actually fixed the `table[enum as usize + x]` cases, but adding the assumption that `value >= valid_range.start()` should (at least in theory) also fix the `table[enum as usize - x]` cases.

[2020-08-14 10:44] RalfJung commented on #72396
@oli-obk and me discussed a bit more the `MirConstValue` type. Basically, its non-`&Allocation` variants would only exist to simplify translation from [HIR literals](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_ast/ast/enum.LitKind.html). This means they are either integer scalars, an `AllocId`, or a wide ptr of `AllocId`+length. That is simpler than what we have currently, which supports

[2020-08-14 11:37] Mark-Simulacrum commented on #75493
We try to keep the issue tracker solely for issues, and this does not appear to be one. General discussion belongs on the users.rust-lang.org forum. Thanks!

[2020-08-14 11:37] #75493 closed

[2020-08-14 11:39] Mark-Simulacrum commented on #75442
@Xanewok, any news on updating RLS? I can take care of removing the patch and bumping the submodule to a separate branch on rust-lang/rls if you'd like (the patch shouldn't be needed for rust-lang/rust, but I guess is needed upstream).

[2020-08-14 11:39] Amanieu commented on #72016
[code]

[2020-08-14 12:08] est31 commented on #75442
You don't need a separate branch. You only have to create a different Cargo.toml file and then change ci to do sth like `--manifest-path Cargo.toml.ci`.

[2020-08-14 12:23] Mark-Simulacrum commented on #75442
I guess that would work too, but personally that seems somewhat more complicated and more likely to lead to problems of only updating one of them.

[2020-08-14 12:25] JohnTitor commented on #72793
Seems this is fixed in the latest nightly (not bisected yet). Marking as `E-needs-test` and will try to bisect later.

[2020-08-14 12:27] jethrogb commented on #75109
It doesn't necessarily need to be merged, the submodule commit just needs to be in the set of allowed remote branches for the upstream project. Potentially each project could designate their own set.

[2020-08-14 13:03] GuillaumeGomez commented on #75497
Well, let's add one then...

[2020-08-14 13:23] Amanieu commented on #64102
You don't even need specialization, you can just check `size_of::<T>` to see if it fits in a `usize` and then `transmute_copy` it. ([godbolt](https://godbolt.org/z/1Mjb7f))

[2020-08-14 13:33] mankinskin commented on #75429
So I experimented a bit, and mostly it comes down to mapping all of these types to `Result`. Soany Type that can be converted from and into a `Result`, can be used as a "dual" value, meaning a value that is either one or the other.
Here an incomplete example of the kind of trait I am talking about:
[code]
Now there are other methods which are universally useful for types of this kind, like:
- `unw

[2020-08-14 13:47] GuillaumeGomez opened #75520 "Improve "visibility" of rustdoc books ("stable" and unstable ones)"
Currently, very few people know the existence of https://doc.rust-lang.org/nightly/nightly-rustc/rustdoc/ and of https://doc.rust-lang.org/rustdoc/what-is-rustdoc.html, which is a shame considering how huge is the amount of available options and tips.

I suggested adding those links (the unstable one only in unstable build of course) at the beginning of the "help display".

[2020-08-14 13:48] GuillaumeGomez opened #75521 "Add more content into rustdoc book"
https://doc.rust-lang.org/rustdoc/what-is-rustdoc.html is a very nice introduction, but maybe it's time to go further and provide maybe guidelines, more tips and customization chapters?

[2020-08-14 14:15] jonas-schievink commented on #75497
Does it make sense to have both an attribute and a command line flag for this? This doesn't seem like something you'd want to configure on a per-invocation basis, it's more like something that's permanent for a given code base (so the attributes fits better).

[2020-08-14 14:19] haraldh opened #75524 ".rodata bloat with aligned zero sized objects"
I tried this code:

[code]

I expected to see this happen:
[code]
A reasonable section size of `.rodata`, like if `Version b` is commented out.

Instead, this happened:
[code]

A `.rodata` section with over 2MB.

With this minimal example, `opt-level` makes it go away, but with more complex code it does not.

The culprit is:
[code]

So, we have an unsized object, but an alignment was forced.
I don

[2020-08-14 14:20] joaopaulocarreiro commented on #74396
I started taking a look at this. Adding the tests should be straight forward, but I am also interested in finding out why the llvm bitcode is being generated the way it is for aarch64.

[2020-08-14 14:26] bugadani opened #75525 "One more missed bounds check optimization"
https://godbolt.org/z/3TGbK9

It looks like bounds checks are not eliminated when more than one restriction is applied to the index variable (i.e. when it's range checked from two sides). Late edit: It's also interesting that the issue disappears for certain lower limits. For example `if idx > 2 && idx < 8` is optimized, while `if idx > 5 && idx < 8` is not.

Using assumptions, the bounds checks a

[2020-08-14 14:33] Nemo157 commented on #75401
Combining the suggestions, `cstr!` could soon just expand to:

[code]

no proc-macros necessary.

[2020-08-14 14:37] lzutao commented on #75401
Is inline `const` implemented?

[2020-08-14 14:45] Nemo157 opened #75526 "`cargo test -- -Z unstable-options` is accepted by the stable libtest framework"
I tried runnning

[code]

I expected to see this happen: an error message similar to

[code]

Instead, this happened: the tests ran and printed their output in json

### Meta
[code]

(mentioned in https://github.com/rust-lang/rustfmt/pull/4228#issuecomment-674104358, cc https://github.com/rust-lang/rust/issues/49359)

[2020-08-14 14:48] Nemo157 commented on #75401
No, but it is RFC-accepted and doesn't seem terribly hard to implement (he says as a non compiler developer).

[2020-08-14 14:53] Lokathor commented on #75401
IIRC, `concat!` cannot *currently* work with bytestring values, so that is one limit to the macro_rules version.

Still, regardless of the macro details, I think we can all agree that this ability, while nice, doesn't *need* to exist directly within the compiler or standard library. It can be done as a standard user crate.

So people should make the helper macro they want as a crates.io crate, and

[2020-08-14 14:57] Nemo157 commented on #75401
The `const` features required to make that work are not near stabilization, so only `std` could feasibly implement it that way in the near future (it would be possible to do without inline `const`, but even making `from_bytes_with_nul` a stable `const fn` seems quite far away, and I'm unsure of the const-panic status).

[2020-08-14 15:05] lzutao commented on #75525
@rustbot modify labels:  A-LLVM A-mir-opt C-enhancement I-slow T-compiler

[2020-08-14 15:07] Lokathor commented on #75401
Well, I should clarify: you can get a const `&[u8]` using various macro setups. Which is basically good enough.

I sure don't think you'd get a new language construct into Stable faster than a proc-macro that spits out `&[u8]` values could go up on crates.io

[2020-08-14 15:07] Lonami commented on #75497
I think it fits the use case of being able to produce end-user documentation (without source links if providing binaries only) and internal documentation (with source links that may be helpful in some cases).

[2020-08-14 15:14] Ploppz opened #75527 "While testing: k5_mutex_lock: Received error 22 (Invalid argument) ... k5_mutex_lock: Assertion `r == 0' failed."
I don't know where to best report this issue, so I try here.

Dependencies:
[code]

Code:
[code]

First you have to run postgres:
[code]
Then
[code]

Output (not always but most of the time):
[code]

It seems like these weird k5 errors go away when I actually join the threads I create, at which time I see that there are actually errors from postgres saying `FATAL:  sorry, too many clients already`

[2020-08-14 15:16] lzutao commented on #75525
This could be improved by optimizing MIR. But the problem rely on LLVM too.
The C version: https://godbolt.org/z/EvjdTP
Clang trunk has more optimizations than v10.0.1.
GCC is still ahead in these optimizations.

[2020-08-14 15:23] jonas-schievink commented on #75527
Are you sure this isn't just a bug in libpg, or one of the Rust libraries you're using?

[2020-08-14 15:39] pickfire commented on #75497
Currently the only way to find this is through rustdoc book, which may not be quite discoverable if the users didn't saw that. I wish there is a manpage for rustdoc book but still currently man pages for rust is still not very good yet since we haven't figured out how to get to show the correct man pages for the current directory.

[2020-08-14 15:45] Ploppz commented on #75527
No, I don't know where the errors come from.

[2020-08-14 15:46] matthiaskrgr commented on #72793
Still crashes with `-Zmir-opt-level=2`

[code]

[2020-08-14 15:53] jonas-schievink commented on #75527
In that case, closing under the assumption that this is not a rustc/libstd bug

[2020-08-14 15:53] #75527 closed

[2020-08-14 15:54] JohnTitor commented on #72793
Ohh, good catch! Still, the regression test here is useful but let's keep this open then :)

[2020-08-14 16:09] harrysarson commented on #37854
If I may add a datapoint. I tried to use an exclusive range today and the compiler error took me here. Turned out a wanted an **inclusive** range, so I for one am greatful that rust does not (stabley) allow exclusive ranges and I would argue against stablising as it would have caused me to shoot myself in the foot. :)

[2020-08-14 16:23] jyn514 commented on #74697
@drahnr a point of good news since I know this has mostly been feature requests so far: this caught a typo in rustfmt :)

[code]

[2020-08-14 16:42] tema3210 commented on #35121
Actually, every enum can be threated as there was infinite number of branches that can never occur, and thus they all aren't worth of mentioning.

[2020-08-14 16:46] eddyb commented on #64102
You need to avoid the case when `T` may have destructors, as `transmute_copy` will unsafely duplicate the value, but other than that, seems like it could work great, thanks! (we could presumably also have cases for types smaller than `usize`, or types the size of two `usize`s, like `&[T]`, as long as we don't introduce extra work beyond forcing the values into registers)

[2020-08-14 16:57] ehuss commented on #75526
See also #65770.  There are multiple issues with how this is handled.

[2020-08-14 17:14] m-ou-se commented on #64102
Adding `options(nostack)` removes the `push` and `pop` instructions as well:

[code]
[code]

[2020-08-14 17:17] the8472 commented on #75525
Same as #73396?

[2020-08-14 17:33] RalfJung commented on #72396
I had another long chat with @oli-obk, [here's the design that we are at right now](https://hackmd.io/Qvrj_eOFTkCHZrhJ7f1ItA) as I understood it.

[2020-08-14 17:38] arturoc opened #75533 "Inconsistent resolution for a macro"
Happens when compiling the crate `numext-fixed-uint.core` for target wasm32-unknown-unknown on both stable and current nightly

### Meta

`rustc --version --verbose`:
[code]

and

`rustc +nightly --version --verbose`:
[code]

### Error output

[code]

[2020-08-14 18:16] jonas-schievink commented on #75533
Duplicate of https://github.com/rust-lang/rust/issues/56935

[2020-08-14 18:16] #75533 closed

[2020-08-14 19:43] Lokathor commented on #74970
I definitely put stuff as `pub` in a binary as a deliberate way to shut up the warning about potentially dead code exiting.

[2020-08-14 20:01] camelid commented on #75437
`struct.field` is less surprising which is good, but I definitely understand that it's difficult given the potential for clashes (especially with non-`.com`, `.org`, `.net` domains, e.g. `.name`). Maybe rustdoc could assume that it's an intra-doc link, and if it doesn't resolve then link to the equivalent domain? Unfortunately there's potential for minor breaking changes, although the Rust style i

[2020-08-14 20:04] jyn514 commented on #75437
@camelid the concern I think is that there's no way to _detect_ the ambiguity without reaching out and making network requests, which no one wants. So there's the potential that rustdoc could silently link to something other than what you intended, which is against the spirit of intra-doc links.

[2020-08-14 20:05] jyn514 commented on #75437
and as a corrollary, rustdoc couldn't warn if the link failed to resolve, because it would have to assume it was a network link.

[2020-08-14 20:07] camelid commented on #75437
Yeah, it's too bad that there's not a solution that doesn't involve ambiguity and is unsurprising :(

[2020-08-14 20:15] davidbolvansky commented on #75525
Posted on llvm bugzilla:
https://bugs.llvm.org/show_bug.cgi?id=47172

[2020-08-14 20:33] steveklabnik commented on #49980
Triage: I'm not aware of any changes here. I'm also not sure what to do to reproduce this issue, to be honest.

[2020-08-14 20:34] bugadani commented on #75525
Thanks for that report!

I've played some more with my examples and these three cases are particularly interesting for me: https://godbolt.org/z/z6o3Pc
I'm curious if the improvements shown by Clang trunk are caused by clang or llvm, and if llvm, will it fix these as well. I guess time will tell this :)

[2020-08-14 20:43] davidbolvansky commented on #75525
Since Clang does no optimizations, this is all about about LLVM:)

Also worth to see:
https://reviews.llvm.org/D84547

[2020-08-14 22:13] mexus commented on #75497
@jonas-schievink ,

Well, while the attribute is kinda sufficient, it would be also great to have an option to jump-to-source-code during the development phase. On the other hand, the attribute could be disabled/enabled with a feature flag, so having a rustdoc flag is not exactly required.

[2020-08-14 22:23] infinity0 commented on #52108
Something about 1.46.0 (current beta) is breaking this patch: https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=mips64el&ver=1.46.0%7Ebeta.2%2Bdfsg1-1%7Eexp4&stamp=1597142242&raw=0

[code]

[2020-08-14 22:40] infinity0 commented on #52108
`-Ctarget-feature=+xgot` seems to work.

[code]

[2020-08-14 22:44] infinity0 commented on #62117
@tblah how did you reproduce it? It seems the upgrade to LLVM 10 made things work for us now, we have green builds (native riscv64->riscv64 build) for [1.45.0](https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=riscv64&ver=1.45.0%2Bdfsg1-2&stamp=1596835759&raw=0) and [1.46.0 beta](https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=riscv64&ver=1.46.0%7Ebeta.2%2Bdfsg1-1%7Eexp4&stamp=15

[2020-08-14 23:20] infinity0 commented on #75362
It really depends on what feature someone is adding. It's much harder to track it down after the fact, as the debugging on https://github.com/rust-lang/rust/issues/59542 shows. Off the top of my head, some issues that have affected rustc reproducibility in the past:

- mapping debuginfo appropriately
- not storing the debuginfo map itself to the build output, since it is build-path-dependent, e.g.

[2020-08-14 23:30] Mark-Simulacrum commented on #75362
Hm so that's not quite what I meant but is still helpful.

I guess the right question is - would you (or someone else) be up for submitting a PR with config for testing reproducible builds? If not, what would need to be done to make that possible?

I think the infra team doesn't have anyone who has the background knowledge to actually implement these tests properly, but we'd love to help someone d

[2020-08-14 23:30] weiznich opened #75542 "Expotential compile time with recursive trait bounds"
While developing diesel we've hit a surprising increase in compile time caused by our trait impls for tuples. See https://github.com/diesel-rs/diesel/issues/2480 for details. I've extracted a somewhat minimal example [here](https://gist.github.com/rust-play/f628be0a9405ef11c752ddea91f2c5af). There is an option to control the tuple size up to which traits should be implemented in line [861](https:/

[2020-08-15 00:24] MSxDOS opened #75546 "Unnecessary assertion inside `while i < *::MAX` loop"
[code]
https://godbolt.org/z/oY5ra8

The assertion disappears when comparing against a non-MAX value for a given type, or with `mir-opt-level` 2 and above.

[2020-08-15 00:24] MSxDOS commented on #75546
@rustbot modify labels: A-mir-opt C-enhancement I-slow T-compiler

[2020-08-15 00:43] drewkett opened #75547 "Non Sensical Compiler Suggestion"
I tried this code:

[code]

I expected to see this happen: Not sure, but not this

Instead, this happened:

[code]

### Meta

This occurs both on my local machine and on the playground [LINK](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=82fd50ea04fe3ddab972453ae4bfdeb1)

Looks like it returns an error with valid syntax at least on nightly, which just leads to GATs.

[cod

[2020-08-15 00:45] #34601 closed

[2020-08-15 02:08] jtescher commented on #75131
I had the same issue on mac with clang 12, running `$ sudo xcode-select --reset` to point at xcode version (11.0.3) fixed this for me in case it helps anyone.

[2020-08-15 04:19] lzutao commented on #75546
Another LLVM issue, probably because of wrapping around integers:
C version: https://godbolt.org/z/688dhv
@rustbot modify labels: A-LLVM

[2020-08-15 05:03] tesuji opened #75550 "Should we use an enum to encode fields?"
https://github.com/rust-lang/rust/blob/668a34e0f438d4a950b9440239656d6755ad963c/src/librustc_span/lib.rs#L1079-L1088

[code]

[2020-08-15 06:25] jyn514 commented on #75547
@drewkett it looks like this is fixed on nightly if I understand correctly? Is there a reason you opened a bug?

[2020-08-15 07:24] tblah commented on #62117
@infinity0 `./x.py build` worked okay for me but if I tried anything else (e.g. `rustfmt`) it would fail with the same error you had: things like
[code]

I will try 1.46.0

[2020-08-15 07:47] RalfJung opened #75556 "Promotion of non-ZST mutable references is incompatible with const_mut_refs"
Consider the following code:
[code]
This should just work. But instead it throws an error:
[code]
The reason for this is that `&mut [1,2,3]` gets lifetime extended via promotion, so this reference now points to a separate mutable static -- but mutable statics cannot be mutated during CTFE.

I see no way to fix this, other than stopping to promote mutable references -- which we should IMO do anyway

[2020-08-15 08:33] bugadani commented on #75547
I think the reason is that the error recommends an unstable feature?

[2020-08-15 08:38] matthiaskrgr opened #75557 "diagnostics two unused_import warnings instead of one"
I tried this code:

you need `iced = "0.1.1"` as dep for this to build
[code]

For some reason, there were 2 unused import warnings while one would have been sufficient.
I wonder why rustc does not condense the two into one.
[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-08-15 08:44] petrochenkov commented on #75557
`Sandbox` is a trait, so we can't determine whether it's used or not until very late.
For other names we can determine used-ness early.

Perhaps the second error can use a slightly different message, for example "unused trait import".

[2020-08-15 09:09] tmiasko commented on #75131
There is related iOS issue in libz-sys repository rust-lang/libz-sys/issues/44,
which indicate that snprintf declaration is protected by a feature test macro.
Fixing this on macOS should be analogous to rust-lang/libz-sys/pull/45.

[2020-08-15 09:10] lcnr commented on #71800
Taken from https://github.com/rust-lang/const-eval/issues/53#issuecomment-674370670 as it is more relevant to this issue:

If we convert `const_err` to a hard error, we stabilize when we evaluate associated consts:

[code]

[2020-08-15 09:35] matthiaskrgr commented on #75557
Would it make sense/be worth the effort to defer emitting the "early" unused-import lint to print a complete summary later on?

Anyway, I did not know there were technical reasons for the behaviour (it looked like a bug to me :sweat_smile:) and don't object to having the issue closed.

[2020-08-15 09:48] RalfJung commented on #71800
I think a hard error is the only sensible choice. Leaving aside associated consts, we recently fixed the following to be a hard error:
[code]
This fixes https://github.com/rust-lang/rust/issues/67083, which was considered a critical issue. By the same argument, we have to also make `dummy2` a hard error.

[2020-08-15 09:49] RalfJung commented on #71800
@lcnr your dummy2 and dummy3 btw are already hard errors now -- they fail to compile even with `allow(const_err)`.

[2020-08-15 09:52] lcnr commented on #71800
true :thinking: I was thinking of `4 / Self::ASSOC` here... mb

[2020-08-15 10:06] heckad opened #75558 "Bug in borrow checker with check &mut references."
I tried this code:

[code]

I expected to see this happen: all good

Instead, this happened: compilation error

### Meta

`rustc --version --verbose`:
[code]

[2020-08-15 10:13] mati865 commented on #75557
I feel sooner or later somebody will open similar issue if it gets closed without changes to the code.

[2020-08-15 10:24] RalfJung commented on #75524
I don't see a bug here. Zero-sized objects have alignment requirements like all others, they are not special.

For example, a `&[i32; 0]` must be 4-aligned, otherwise even creating such a reference is UB.

[2020-08-15 10:26] jonas-schievink commented on #75558
This is working as expected. Use `f(&mut *mut_ref_a);` to reborrow manually.

[2020-08-15 10:26] #75558 closed

[2020-08-15 10:29] RalfJung commented on #55149
There's an aspect of the RFC that has not been implemented yet. This still compiles:
[code]
The RFC suggested to not apply `DerefMut` implicitly on union fields, this making the above code a compile-time error.

[2020-08-15 10:41] heckad commented on #75558
Why need to do reborrow manually?  Why can't the compiler do this on its own?

[2020-08-15 10:41] haraldh commented on #75524
Huh, so having 2MB zeros on disk for nothing is OK?

[2020-08-15 10:54] haraldh commented on #75524
How come opt-level 3 doesn't have this problem?

[2020-08-15 10:56] RalfJung commented on #75524
I didn't say that. The object can still occupy zero bytes. But it also has an address, and that address must be appropriately aligned.

I am afraid I don't know the details of the ELF format or the optimizations involved. All I am saying is that "it has size 0 and alignment is forced" is expected behavior. There is possibly a bug elsewhere, but the fact that "alignment is forced" is not a bug. It

[2020-08-15 11:05] jonas-schievink commented on #75558
Automatic reborrows are performed for method receivers only. Changing this would require an RFC.

[2020-08-15 11:10] haraldh commented on #75524
Can't we give it address `0` which is aligned to everything?

[2020-08-15 11:10] lzutao commented on #75524
Is it null?

[2020-08-15 11:11] haraldh commented on #75524
Except querying the len() you can't do much with it.

[2020-08-15 11:12] RalfJung commented on #75524
No, address 0 is not a valid address for any object.

[2020-08-15 11:15] haraldh commented on #75524
But yeah... `dbg!(middle.as_ptr());` should give an aligned pointer.

[2020-08-15 11:27] lzutao commented on #75524
The problem with reference at zero is that when you get raw pointer from it,
how do you know it is null or not?

[2020-08-15 11:31] nixphix commented on #75080
Taking `library/std/src/sys/vxworks/ext/*.rs`

[code]

[2020-08-15 11:34] haraldh commented on #75524
Ok, this is what it can be reduced to:
[code]

[2020-08-15 11:34] oli-obk commented on #49980
`static FOO: () = loop {};` gives (on beta)

[code]

So I think we're good here

[2020-08-15 11:34] #49980 closed

[2020-08-15 11:36] tmiasko commented on #75524
`-Clink-args=-Wl,--sort-section=alignment` might improve the situation.

[2020-08-15 11:38] #75326 closed

[2020-08-15 11:42] haraldh commented on #75524
very good, thank you!

[2020-08-15 11:42] clouds56 commented on #42327
I'm not sure if anyone have already mentioned this, shall we `impl Try for bool`, maybe `Try<Ok=(), Error=FalseError>`?
So that we could do thing like this
[code]
Now I have to use return type `Option<()>` in most cases where I think `?` could make code much more clear.

[2020-08-15 11:43] haraldh commented on #75524
[code]

[2020-08-15 12:18] haraldh commented on #75524
[code]

to the extreme.

[code]

[2020-08-15 12:27] haraldh commented on #75524
So, I would suggest `opt-level=s` at least should include `--sort-section=alignment`

[2020-08-15 12:51] tesuji opened #75564 "rustdoc displayed wrongly higher-kind functions generated by macros"
`rustdoc` displayed wrongly higher-kind functions generated by macros.

For example, in this link to [`rustc_middle::ty::query::Providers`][1]:
![image](https://user-images.githubusercontent.com/15225902/90312678-7e620a00-df30-11ea-9166-ba810f080441.png)

where defined:
![image](https://user-images.githubusercontent.com/15225902/90312686-95086100-df30-11ea-9318-1e62c01faf8c.png)

[1]: https://doc.

[2020-08-15 12:53] lzutao commented on #75564
rustbot modify labels: T-rustdoc

[2020-08-15 12:55] mvanthoor commented on #75374
Hi,

I've consolidated the repository a bit to make this easier to check.

The branch where I started to refactor is "add_king_square". This refactor turned out to be very slow in Rust 1.45.x, as described in the above thread. Therefore I started again from "add_king_square", doing an alternative refactor; roughly the same, but not entirely.

In the end I've removed intermediate branches and did s

[2020-08-15 16:21] alasher commented on #74508
Hey guys, sorry to snipe this - there hadn't been any activity in a few weeks so I had a go at fixing this.

@oli-obk I've implemented your suggestion in the linked PR. One note though is that your post above did not specify if we should suppress only `ty::Const` messages, only `mir::Constant` messages, or both. My change removes them both for the types you listed, but I could see why we'd want to

[2020-08-15 16:32] poliorcetics commented on #75080
Doing `library/std/src/net/*.rs`

[2020-08-15 16:58] SNCPlay42 commented on #57994
@estebank was a note like you suggested in https://github.com/rust-lang/rust/issues/57994#issuecomment-588534790 implemented?

Currently this code

[code]

Outputs

[code]

Without any hint about there being a method by that name with an unusual receiver type.

Not sure wether I should file a new issue or ask for this one to be reopened.

[2020-08-15 17:12] denisvasilik commented on #75080
I'll take the following:

* library/core/src/intrinsics.rs
* library/core/src/alloc/mod.rs
* library/core/src/alloc/global.rs
* library/core/src/alloc/layout.rs

[2020-08-15 18:20] SNCPlay42 commented on #57994
Looks like #69255 didn't add a test for the `Pin<&mut Self>` type, and the code only checks for arbitrary recievers of the form `Receiver<Self>`, not `Receiver<&mut Self>` etc.

[2020-08-15 18:24] drewkett commented on #75547
The main reason is that I wasn't sure of is that if something was fixed on nightly if that was necessarily intentional and necessarily would propagate to stable. I'm just not very familiar with exactly how nightly interacts with stable. And since I couldn't find this specific bug in an existing issue, I figured I'd raise it just so someone sees it.

[2020-08-15 18:26] jyn514 commented on #75547
https://doc.rust-lang.org/book/appendix-07-nightly-rust.html

But it sounds like there is a separate issue even on nightly.

[2020-08-15 19:00] SNCPlay42 commented on #57994
Also fails to provide a hint on opaque `Future`s from `async fn`s:

[code]

Outputs

[code]

[2020-08-15 19:04] theryangeary commented on #73931
@schuermannator Are you still working on this?

[2020-08-15 19:08] schuermannator commented on #73931
Well, yes. I actually just pinged the Zulip chat on yesterday for some help. Just spent a while trying to get up to speed on everything. Have you worked on it some or are you interested?

[2020-08-15 19:13] theryangeary commented on #73931
I haven't worked on it, was just interested. I won't step on your toes.

[2020-08-15 19:25] Aaron1011 opened #75570 "Track time to build compiler on CI"
On CI, we print out the time to build individual crates with the prefix `[RUSTC-TIMING]`. However, we don't seem to do anything with this data (as far as I can tell). I think it would be useful to integrate this with `perf.rust-lang.org` - this would give us a (fairly coarse-grained) idea of how the time to bootstrap the compiler is changing.

I'm not sure if the wall-clock times on CI are too nos

[2020-08-15 19:34] SNCPlay42 commented on #41221
Adding to the inconsistency, this only effects *existential* impl trait, not *universal* impl trait (or the mostly-equivalent trait bound):

[code]

Errors on existential_impl_trait ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=94889a3cbece45a4d7c6227fe2a901e0)), but if existential_impl_trait and the call to it is commented out, the code compiles and runs wi

[2020-08-15 19:49] Systemcluster opened #75572 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value'"
This issue appears in the nightly compiler since toolchain version `nightly-2020-08-14` (`rustc 1.47.0-nightly (81dc88f88 2020-08-13)`). It does not appear with toolchain `nightly-2020-08-13` (`rustc 1.47.0-nightly (576d27c5a 2020-08-12)`) or earlier.

### Code

Create an empty project and add the following dependency.

[code]
Upon `cargo run`, rustc panics with the below output.

### Meta

`rustc

[2020-08-15 20:14] geofft opened #75581 "platform-support: x86_64-linux-kernel should be *"
The tier 3 platform x86_64-linux-kernel has support for core + alloc, and we test it in CI at https://github.com/fishinabarrel/linux-kernel-module-rust, so I think it should be marked **.

[2020-08-15 20:43] gretchenfrage opened #75574 "Rustc unwrap panic at src/librustc_mir/transform/match_branches.rs"
[code]

### Code

I couldn't reduce it to a MCVE, so the whole source tree is here: https://github.com/gretchenfrage/rustc-bug-aug-15-20-1 . I hope that's useful. Clone the repo and run `game/run.sh`. I found this reproducibley panics on my laptop.

### Meta

[code]

### Error output

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-08-15 20:44] JulianKnodt commented on #75507
Should be fixed by #75537

[2020-08-15 21:02] jhpratt commented on #74970
@Lokathor Just curious, why? Dead code warnings are useful.

[2020-08-15 21:07] ethindp commented on #61721
Getting this same error on Rustc 1.47.0 nightly. I can disable soft-float, but would I then need to implement x87 FPU exception handling? Because I have no idea how to do that.

[2020-08-15 21:11] Lokathor commented on #74970
Not while things are in development, or while things depend on cargo features, or when i might want to use it later, or when

[2020-08-15 21:12] ehuss commented on #75570
The data used to be displayed at https://alexcrichton.github.io/rust-ci-timing-tracker/ but it is no longer collecting new data.  That can probably be adapted to work with GHA (the code is at https://github.com/alexcrichton/rust-ci-timing-tracker). I too think it would be useful, since there have been PRs which accidentally add something very expensive, or remove something that should be running.

[2020-08-15 21:46] JulianKnodt commented on #75574
Ah there have been recent changes in this file which might've resolved this, do you think you can pull the latest nightly and see if it still occurs?

[2020-08-15 21:48] JulianKnodt commented on #75574
This is also the same location as #75572

[2020-08-15 22:44] jonas-schievink commented on #75574
Duplicate of https://github.com/rust-lang/rust/issues/75572

[2020-08-15 22:44] #75574 closed

[2020-08-15 22:47] JulianKnodt commented on #75572
Note: should be fixed by #75537

[2020-08-15 23:37] JulianKnodt commented on #75439
Was this resolved by #75537? I believe that this would actually match on it, just because all the statements are the same

[2020-08-16 00:46] pawanbisht62 commented on #74747
@bors can you please look at the PR #75187 as it is related to this issue and still in open state. Thanks

[2020-08-16 00:57] tones111 opened #75576 "Unable to resolve item across crates"
I have a crate that describes some common types (liba) and some others (libb) that are generated which declare instances of variables from the common crate.  I would like to write a test in the common crate but am unable to determine how to specify the path to the item from the generated crate.  The compiler complains of a type mismatch. I'm able to work around the problem in the case where I can

[2020-08-16 01:19] lzutao commented on #75439
I've just checked. The MIR isn't improved with #75537 .

[2020-08-16 01:48] JulianKnodt commented on #75572
I've just checked a crate which depends on `naga` on the latest nightly, and it no longer errors here.
[code]

[2020-08-16 01:51] geofft commented on #74247
Re @nagisa, I could be convinced that the target should really be named `x86_64-none-linuxkernel` or `x86_64-unknown-none-linuxkernel` or something, yeah.

For what it's worth, the actual Clang build of the kernel uses regular x86_64-linux-gnu as the triple, but as far as I can tell, that's because Clang target triples encode a lot less information than Rust target specs do - things like `-mcmodel

[2020-08-16 02:12] ehuss commented on #74247
I believe this is already checked in https://github.com/rust-lang/rust/blob/master/src/tools/tidy/src/pal.rs

[2020-08-16 02:39] ehuss commented on #75576
This is a fundamental restriction of using cyclical dev-dependencies.  The code inside the unit-test crate contains a full copy of liba which is different from the code that libb linked to.

I would encourage avoiding cycles in the dependency structure, and see if you can create a tree structure. Alternatively, if you don't need private access, place the tests in libb, and remove the dev-dependenc

[2020-08-16 03:25] AuroransSolis opened #75577 "Thread 'rustc' has overflowed its stack on dumb program"
It's me again! Back this time with something that throws a spanner in the works for rustc without it taking multiple hundred gigabytes of memory and several days to compile. It's an Advent of Code challenge once more - and this time I tried to solve everything at compile time with macro abuse and types. [Here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=213e3d8fe06d5cde

[2020-08-16 03:55] AuroransSolis commented on #75577
Oh yeah, also, here's a backtrace of `rustc` from when I ran it in `gdb`. [https://gist.github.com/AuroransSolis/9f3b7bb1c1a1cdbdc6f9469aa7d0f9df](https://gist.github.com/AuroransSolis/9f3b7bb1c1a1cdbdc6f9469aa7d0f9df)

[2020-08-16 03:56] JulianKnodt commented on #75439
Ah woops yea I can't count, this has 3 branches not 2, which is the only permitted number of branches being optimized currently.

[2020-08-16 05:24] thomcc opened #75579 "ptr::align_offset generates surprisingly bad code"
I happened to look at more closely at the generated assembly for some code that uses `align_offset`, and noticed... `align_offset` does not compile as efficiently as one might hope for the case of "align pointer to `size_of::<usize>()`"

For example (ignore that I omit handling of align_offset's error return value):

[code]

compiles to

[code]

Whereas performing the same alignment manually (forg

[2020-08-16 07:21] Systemcluster commented on #75572
I can confirm it working now with the most recent nightly.

[2020-08-16 07:21] #75572 closed

[2020-08-16 08:04] heckad commented on #75558
Do these functions are method revivers?
[code]
This code works!

[2020-08-16 08:14] arora-aman opened #75582 "x.py tidy doesn't ignore untracked files"
Tidy exists as an external tool that `x.py` calls, and it has a fixed set of paths that it ignores. Which is unlike other `x.py` commands which ignore untracked files.

This causes problems when some of the ignored paths get moved. eg: as part of https://github.com/rust-lang/rust/commit/2c31b45ae878b821975c4ebd94cc1e49f6073fd0 src/stdarch was moved to library/stdarch.

<details>
<summary>
Error lo

[2020-08-16 08:29] SergioBenitez commented on #53417
As a matter of update: this is unfortunately still an issue. As a result, Rocket's docs for its [`http`](https://api.rocket.rs/v0.4/rocket/http/index.html) module leak hidden types.

[2020-08-16 08:32] unguest opened #75583 "Error on float printing"
I'm on Ubuntu 20.04 FF and I tried this tinny code :
[code]
Instead of printing 43 at the very end, it prints 42... => is that a language bug or something related to the hardware/OS ?

Cheers,

[2020-08-16 08:42] RalfJung commented on #75579
FWIW this is something we'd like to fix (https://github.com/rust-lang/miri/issues/1074).

[2020-08-16 08:58] lzutao commented on #75583
Python3 prints the same result, so this might be hardware/rounding rules:
[code]

[2020-08-16 09:01] unguest commented on #75583
Ok, nice ! I'll look at it in details. Thanks.

[2020-08-16 09:13] #75507 closed

[2020-08-16 09:34] RalfJung opened #75586 "Treat `const fn` like `fn` for promotion."
https://github.com/rust-lang/const-eval/issues/19 gives many arguments for why we should not promote `const fn` calls. However, we currently *do* promote `const fn` calls in `const fn`, even though that has all the same problems. This fails to compile, but really we shouldn't make this a hard error:
[code]
This does not just apply to `const fn` calls; *all* promotion inside `const fn` should be tr

[2020-08-16 09:36] RalfJung commented on #75586
https://github.com/rust-lang/rust/pull/75502 is a crater experiment to stop doing this (at least for the case of `&call()` inside `const fn`).

[2020-08-16 10:11] heckad commented on #34430
Are there any plans to fix this?

[2020-08-16 11:40] jonas-schievink commented on #75558
Ah, sorry, no, it's not just receivers, but it doesn't work when there are generics involved

[2020-08-16 12:03] heckad commented on #75558
Because I think this is the bug. May be reopen this?

[2020-08-16 12:04] Geal commented on #74433
I see, it was a fun thought only :)

[2020-08-16 12:04] #74433 closed

[2020-08-16 12:07] lzutao opened #75588 "Missing Implementors for Join and Pattern trait in rustdoc"
Missing Implementors for [`std::slice::Join`][1] trait.

Current output:
![image](https://user-images.githubusercontent.com/15225902/90333818-17f1f000-dff3-11ea-949a-0d876dfb67ea.png)

While rustdoc displays [`Borrow`][2] trait implementors.

Expected:
Display Implementors for Join trait: https://github.com/rust-lang/rust/blob/de32266a1780aa4ef748ce7f6200a1554fad0aca/library/alloc/src/slice.rs#L63

[2020-08-16 12:26] nagisa commented on #75579
Most of the function is constant-evaluatable (with the only unknown being the pointer value) so there is no reason it could not have a special-case (based on input types) for cases where a more optimal implementation is possible.

[2020-08-16 12:53] Mark-Simulacrum commented on #75582
I would be unopposed to not checking untracked files in tidy, and would accept a PR doing so.

Note that you can also run those long-running tests with `--exclude src/tools/tidy` which should avoid this problem for the time being.

[2020-08-16 14:11] kofls commented on #75080
I'd like to work on:
* library/alloc/src/vec.rs
* library/alloc/src/task.rs

[2020-08-16 14:35] heckad commented on #75558
@jonas-schievink, what do you say?

[2020-08-16 14:39] XAMPPRocky opened #75589 "Compiled program segfaults on Windows with thin LTO."
Compiling Tokei on stable with thin LTO optimisations currently produces a binary which just segfaults at run-time producing a `STATUS_ACCESS_VIOLATION` error. When compiled with no or fat LTO tokei works normally as expected.

### How to reproduce

- Clone [Tokei](https://github.com/XAMPPRocky/tokei)
- `cargo run --release` for ` x86_64-pc-windows-msvc`.

Tokei Issue: https://github.com/XAMPPRock

[2020-08-16 14:58] jonas-schievink commented on #75558
This is a fairly well-known limitation, I don't think we need another issue open for this. The more general problem is that coercions (of which automatic reborrowing is an example) can only apply if both the expected and actual type are known, but that is not the case when calling a generic method (the type parameter is instantiated, turning it into an inference variable).

[2020-08-16 15:21] eddyb commented on #75556
Ugh, that's an ancient rule (believe it or not, it's a workaround for not being able to write `static mut Foo: [T; _] = ...;` and have the length be inferred!) and it was never meant to get this far, I guess I didn't think it through properly when adding the "outermost scope" rule, which is the only position where allowing it makes sense.

In the current implementation, it should've never been pro

[2020-08-16 15:22] Lokathor opened #75591 "Cargo fails to install via rustup because of a detected conflict in a file that doesn't exist."
Hello. I had a fresh install of the 64-bit raspberry pi OS a few days ago. I go to get `rustup` all set.
* The Stable channel works as expected (`aarch64-unknown-linux-gnu`). It can build things, `cargo install` things, and so on.
* The Nightly channel *said* that it it installed, but it does nothing at all.

[code]

Very odd, but Nightly is always dodgy so I gave it a day to see if maybe things w

[2020-08-16 15:45] heckad commented on #75558
Where did the discussion of this fairly well-known problem take place?

[2020-08-16 15:57] mati865 commented on #75589
Commit `d52bc083f9b7f0f9f641dd5f3f585ba97d5fd256` works for me with both `x86_64-pc-windows-gnu` and `x86_64-pc-windows-msvc`.
[code]

[2020-08-16 16:18] nixphix commented on #75080
Working on ` library/std/src/sys/windows/ext/*.rs`

[code]

[2020-08-16 16:31] Lokathor commented on #75591
Someone pointed out that the file paths named in the error messages are actually relative to `~/.rustup/toolchains/[toolchain-name]`. They proposed simply deleting the entire toolchain folder and installing it fresh. This did work, so i'll close the issue.

[2020-08-16 16:31] #75591 closed

[2020-08-16 16:42] jonas-schievink commented on #75558
not sure

[2020-08-16 17:15] little-arhat opened #75597 "ICE: broken MIR in Item(WithOptConstParam...) — encountered `Assign` statement with incompatible types"
Seen in automatic travis build: https://travis-ci.org/github/copterust/proving-ground/builds/718201256.

(error is triggered by [this line](https://github.com/copterust/alt-stm32f30x-hal/blob/master/src/rcc.rs#L379)).

[code]

### Error output

[code]

[2020-08-16 17:15] nagisa opened #75598 "At opt-levels <= 1 the arithmetic operation methods do not get inlined, preventing other optimisations"
Consider code like this:

[code]

[compiler explorer](https://godbolt.org/z/5sq1a7)

at `-Copt-level=1` and lower, the generated assembly for versions with the method call will generate a function call, rather than direct operation. Once the inlining fails, other optimisations that could be done are inhibited, especially at -Copt-level=1`.

More generally speaking, I wonder if we might want to mak

[2020-08-16 17:46] heckad commented on #75558
Not sure in what? Sorry, my English is poor.

[2020-08-16 17:51] jonas-schievink commented on #75558
I can't find the discussion at the moment

[2020-08-16 18:04] dtolnay opened #75599 "Regression involving "is not a logical operator" in match"
The following used to work from rust 1.0.0 through 1.41.0, but has been failing to compile since 1.42.0. I believe the ```"`and` is not a logical operator"``` diagnostic is being overzealous and should not be triggering on this program.

[code]

[code]

[2020-08-16 18:12] dtolnay commented on #75599
Likely introduced in https://github.com/rust-lang/rust/pull/66994.

[2020-08-16 18:36] LunarLambda commented on #75401
Haha, perhaps I should've [looked on crates.io](https://crates.io/crates/cstr) before opening this :D

I think I will close this, since there doesn't seem to be any particular interest in introducing something like this to `core` or `std`.

[2020-08-16 19:00] thomcc commented on #75401
Note that you can't directly pass those to C, as &CStr is a fat pointer. I sometimes do

[code]

which produces a `*const c_char` that I can use directly in calls to C functions like

[code]

and the like. Of course, this doesn't defend against an interior NUL, but it also takes a literal (reducing the likelihood), and is still safe if it happens since it would just see the end of the str sooner.

[2020-08-16 19:03] ethindp commented on #23416
I think this RFC breaks loop labels. Unless I've mis-written my code... I'm trying to do this (sorry about the lack of indent in some places, cargo fmt fails because of this issue):
[code]
Attempting to compile this code on rustc 1.47.0-nightly (8e21bd063 2020-08-14) yields:
[code]
Now in this instance the label isn't necessary, but I was trying something else and I was getting this error so Ithou

[2020-08-16 19:48] joonazan opened #75601 "Weird interaction between integer literals and traits"
I changed some code to use usize instead of u8 and it stopped compiling. I tracked the reason down to `let x: usize = 1.into()`.

It gives the error `error[E0277]: the trait bound `u32: std::convert::From<i32>` is not satisfied`.

u8, i8, i64 and i32 work for whatever reason.

Try it here https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f1d0c42944d9e95fb0cd9ef9b4c3d69f

[2020-08-16 19:51] RaphiJS6-13 opened #75602 "`#![recursion_limit]` behaves strangely"
I was playing around with `recursion_limit`, and I realized that `recursion_limit` doesn't check for bad values. `#![recursion_limit = "malformed"] fn main() {}`, for example, compiles without error. Moreover, when set to `1`, the Rust compiler raises a weird error:

[code]

### Version
`rustc --version --verbose`:
[code]
### Code
[code]

[2020-08-16 19:54] charmander commented on #23416
@ethindp https://doc.rust-lang.org/stable/rust-by-example/flow_control/loop/nested.html: `func_loop:` → `'func_loop:`

[2020-08-16 20:08] jonas-schievink commented on #75601
u32 has several `From` impls that could produce the value, while u8 only has the reflexive one, so this seems to work as expected.

[2020-08-16 20:08] #75601 closed

[2020-08-16 20:17] alecmocatta commented on #75598
Relatedly, https://github.com/rust-lang/rust/issues/74362 is an instance where not inlining a function that wraps an intrinsic inhibits DCE.

[2020-08-16 20:37] ethindp commented on #23416
Oh, whoops. I use a screen reader and I never have it set to announce
all punctuation so I forgot the apostrophes. Perhaps we can add a
suggestion inthe compiler if it sees that kind of pattern?

On 8/16/20, Charmander <notifications@github.com> wrote:

--
Signed,
Ethin D. Probst

[2020-08-16 20:48] c410-f3r opened #75607 "Range and friends don't implement Ord/PartialOrd"
Couldn't find an issue about it. Is there a reason for such limitation?

[2020-08-16 20:51] scileo commented on #75581
Hi,
I'm Sasha, I've never contributed to Rust before, and I'd like to know if I can work on this issue.

If I understand correctly, this issue is just about fixing the Tier 3 table in [the platform support file][platfom-support.md]. Is that correct? Are there some other details that should be discussed before?

[platform-support.md]: https://github.com/rust-lang/rust/blob/master/src/doc/rustc/src/

[2020-08-16 20:51] #72619 closed

[2020-08-16 22:54] ollie27 commented on #75582
It would be a bit inconvenient to always have to `git add` new files before running `tidy`. I usually run `tidy` first.

[2020-08-16 23:06] Mark-Simulacrum commented on #75582
Tidy would still pass though? Just wouldn't give you all the errors, potentially.

[2020-08-16 23:10] estebank opened #75610 "Account for type ascription when trying to label a loop"
_Originally posted by @ethindp in https://github.com/rust-lang/rust/issues/23416#issuecomment-674574914_

[2020-08-16 23:21] lassade commented on #62743
It isn't exactly the same thing, `_mm_storeu_si64` stores only the frist 8 bytes, while `_mm_storeu_si128` store all 16;

Some algorithms may require it, like a base64 decoder: processing 16 hexadecimal chars yields 8 bytes of data, having this intrinsic will greatly reduce the complexity of the final code;

[2020-08-16 23:40] Lonami commented on #75607
It's not clear to me how a "range" is comparable to others. One could argue `8..10 < 0..6` because the first has less elements. Is `2..4` less than `0..8`? Or `5..7` greater than `4..9`? I think this would be too confusing, and I can't think of any motivating example for this.

[2020-08-16 23:51] #74120 closed

[2020-08-16 23:51] #66768 closed

[2020-08-16 23:51] geofft commented on #75581
That sounds right to me, @scileo. Welcome!

Thanks for moving, @XAMPPRocky, apparently I checked right before it was moved :)

[2020-08-17 00:52] rbtcollins commented on #75247
Component dependencies is not *that hard*, yes we'll need to put it in the channel data, but I've written dependency interpreters more times than I care to think about now.

Lets put a heuristic in now to unbreak this and work on declarative dependencies in channel data for the long term.

[2020-08-17 00:57] brendanzab commented on #29641
@ice1000 are you referring to #42640?

[2020-08-17 00:58] ollie27 commented on #75582
The purpose of tidy is to catch errors so if it misses some that's a problem.

[2020-08-17 01:23] vkcz opened #75612 ""Illegal instruction" from oxipng on old CPU (i5-650)"
I was trying to run `oxipng` (PNG optimization software in Rust), but it did not finish correctly; it terminated with the message `Illegal instruction`.

The computer I was using was running Windows 7 on the x86_64 Intel Core i5-650, and I installed and ran `oxipng` through Cygwin bash.

I installed `oxipng` with `cargo install oxipng` and invoked `oxipng` with `oxipng example.png` (in a directory

[2020-08-17 02:11] tgnottingham commented on #75599
@rustbot claim

[2020-08-17 03:02] c410-f3r commented on #75607
If one approach isn't generic enough, then it is possible to create auxiliary methods for each criteria.

[code]

But it is very unlikely to be accepted and looks like most ppl don't care about `Ord/PartialOrd` for ranges.
Thanks for your suggestion, it is probably the way to go for now.

[2020-08-17 03:31] jdm commented on #68324
I've started investigating this. Adding a `rust-toolchain` file to https://github.com/enso-org/ide/tree/wip/wd/rust-bug-68324 that contains `nightly-2019-11-04`, I've verified that commenting out everything from https://github.com/enso-org/ide/blob/a38038abed8ebe64e93724c83a65ed79ac2ad05f/lib/core/src/system/gpu/data/texture.rs#L262-L323 except the Alpha, Rgb, and Rgba entries yields an incrementa