[2022-02-11 11:26] danielhenrymantilla commented on #65991
Came to comment the same observation that @dimpolo has made: I think the impl of `Unsize<dyn '_ + Super>` for `dyn Sub` ought, itself, to be feature-gated by `trait_upcasting`.

[2022-02-11 11:32] petrochenkov commented on #81490
@krasimirgg
Could you say which specific options did you plan to order relatively to `-l`s in https://github.com/rust-lang/rust/pull/83507#issuecomment-1033876170?

[2022-02-11 11:44] csmoe commented on #93895
Duplicated of https://github.com/rust-lang/rust/issues/92163

[2022-02-11 11:44] #93895 closed

[2022-02-11 11:47] csmoe commented on #93200
Seems fixed? feel free to reopen if not.

[2022-02-11 11:47] #93200 closed

[2022-02-11 11:51] csmoe commented on #92485
Fixed by https://github.com/rust-lang/rust/pull/92533

[2022-02-11 11:51] #92485 closed

[2022-02-11 11:53] csmoe commented on #92373
Fixed by https://github.com/rust-lang/rust/pull/92533

[2022-02-11 11:53] #92373 closed

[2022-02-11 11:53] csmoe commented on #92258
Fixed by https://github.com/rust-lang/rust/pull/92533

[2022-02-11 11:53] #92258 closed

[2022-02-11 11:55] csmoe commented on #92189
Seems duplicate of https://github.com/rust-lang/rust/issues/92258
Fixed by #92533

[2022-02-11 11:57] krumelmonster opened #93900 "Compilation often fails on gocryptfs"
I often get these errors when trying to compile any rust project on a gocryptfs filesystem (gocryptfs v2.2.1; go-fuse [vendored]; 2021-10-30 go1.17.2 linux/amd64). There have been such problems with nightly, beta and stable.

[code]

and

[code]

[2022-02-11 11:57] csmoe commented on #92759
Seems fixed, feel free to reopen if not.

[2022-02-11 11:57] #92759 closed

[2022-02-11 11:59] csmoe commented on #93900
@krumelmonster would you mind sharing your code here?

[2022-02-11 12:00] krumelmonster commented on #93900
Any code I tested, for example https://github.com/spiegel-im-spiegel/rust-hello

[2022-02-11 12:03] csmoe commented on #93266
Could you rebuild with latest rustc? Closed due to lack of more details.
Feel free to reopen with reproducible code :)

[2022-02-11 12:03] #93266 closed

[2022-02-11 12:19] csmoe commented on #47438
cannot reproduced on latest nightly.

[2022-02-11 12:19] #47438 closed

[2022-02-11 12:27] petrochenkov commented on #81490
Stabilization PR for the general modifier syntax and the `whole-archive` modifier - https://github.com/rust-lang/rust/pull/93901.

[2022-02-11 12:31] petrochenkov commented on #56306
Closing this issue, the `whole-archive` modifier was implemented about 9 months ago, and https://github.com/rust-lang/rust/pull/93901 now intends to make it available on stable.

[2022-02-11 12:31] #56306 closed

[2022-02-11 12:32] petrochenkov commented on #57837
Closing this issue, the `as-needed` modifier was implemented about 9 months ago, and https://github.com/rust-lang/rust/issues/81490 tracks its stabilization.

[2022-02-11 12:32] #57837 closed

[2022-02-11 12:32] c410-f3r opened #93902 "Check if meta-variable expressions in the RHS are declared in the LHS"
See https://github.com/rust-lang/rust/pull/93545#discussion_r800228940

[2022-02-11 12:33] petrochenkov commented on #58277
Closing this issue, the `whole-archive` modifier was implemented about 9 months ago, and https://github.com/rust-lang/rust/pull/93901 now intends to make it available on stable.

[2022-02-11 12:33] #58277 closed

[2022-02-11 12:37] petrochenkov commented on #81488
Closing this issue, the `verbatim` modifier was implemented about 9 months ago, and https://github.com/rust-lang/rust/issues/81490 tracks its stabilization.

[2022-02-11 12:37] #81488 closed

[2022-02-11 12:38] kornelski opened #93903 "rustdoc: "All items" is misleading due to use of jargon"
Rustdoc-generated documentation has an "all items" page. The problem is that it does not include any methods, because methods aren't "items" per Rust terminology. However, in colloquial English "item" has a broader meaning, and the page could be interpreted as an index of all things/definitions/whatchamacallits in the crate.

For example: "all items" in Tokio: https://docs.rs/tokio/latest/tokio/al

[2022-02-11 12:39] SimonSapin opened #93904 "Should format_args_nl! be #[doc(hidden)] ?"
Initial title: format_args_nl! should link to format_args! where they mention it

----

https://doc.rust-lang.org/nightly/std/macro.format_args_nl.html currently contains:

It would be nicer as:

… although I also find https://github.com/rust-lang/rust/pull/87410 which made it `#[doc(hidden)]`. It looks like that was undone at some point?

[2022-02-11 12:41] kornelski commented on #93903
I'm not sure how it could be improved.  Maybe call it "top-level items"? Avoid using the word "all", because it's not a complete list? Maybe extend the page to include all nameable things in the crate, including associated functions and constants?

[2022-02-11 13:02] dragostis opened #93905 "Consider NonNull::cast::<U: ?Sized>"
[`NonNull::cast`](https://doc.rust-lang.org/std/ptr/struct.NonNull.html#method.cast) is implemented for `U`, but not for `U: ?Sized`.

[2022-02-11 13:03] crlf0710 commented on #93903
Maybe ... just also list the associated items out in a collapsible fashion?

[2022-02-11 13:16] Danue1 opened #93906 "Compilation warning does not appear even if #[must_use] is used in a non-function."
I tried this code:

[code]

I expected to see this happen: Warning that it is unused.

Instead, this happened: Not warning.

### Meta

`rustc --version --verbose`:
[code]

[2022-02-11 13:19] name1e5s commented on #93904
It seems that `#[doc(hidden)]` is removed in #92456

[2022-02-11 13:26] name1e5s commented on #93904
@rustbot claim

[2022-02-11 13:41] Dosan015 opened #93907 "could not compile `rocket`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-11 13:55] w1th0utnam3 opened #93908 "Stack overflow in rustc when compiling generated function (7k+ lines) with debuginfo"
I have some code that heavily relies on generated code (e.g. derivatives obtained using symbolic differentiation) that I manually paste into my code. When I try to compile my code with debuginfo (i.e. `cargo build` or `cargo build --release` with `debug=true`) I get a stack overflow error from `rustc`.

I tried to reduce my code to a "minimal" example and uploaded a crate to reproduce this here: h

[2022-02-11 14:14] saethlin commented on #93908
Adding this to Cargo.toml is also sufficient to get rid of the stack overflow on Linux with `cargo build`:
[code]

[2022-02-11 14:26] pro465 commented on #93831
three people reacted with 🚀 in an issue using the Rocket framework.... boy do i love this community 😆 !

[2022-02-11 14:27] saethlin commented on #93908
Looks like this needs a large but finite stack, `RUST_MIN_STACK=4194304 cargo build` does not overflow.

[2022-02-11 14:31] vityafx commented on #63131
As i see, there are no better ways to improve the name setting with regards to my proposal, so I am closing it.

[2022-02-11 14:39] Scarjit commented on #93907
Reproduceable on Windows

### Code

[code]
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-11 15:05] krasimirgg commented on #81490
WDYT about expanding the guarantee to preserve the relative order between linker flags derived from `-l` [under the `-l link-arg` suggestion] and `--extern` rustc flags? I noticed [in Bazel rules](https://osscs.corp.google.com/bazel/rules_rust/+/main:rust/private/rustc.bzl;l=488;drc=c435cf4478fc6e097edc5dba0e71de6608ab77d8) we have a knob to pass some rlibs via `--extern`.

[2022-02-11 15:07] derekdreery commented on #67364
If anyone wanted to have a go at writing a PR, this (implementing for `DebugTuple`) would be a good first issue. It can go in as unstable for experimentation, assuming that the powers that be agree on its usefulness.

[2022-02-11 15:11] chris-morgan commented on #93907
I just hit this building Conduit (having just updated rustc nightly).

<details>

[code]

</details>

[2022-02-11 15:19] hlopko commented on #81490
I think `-llink-arg` is going to solve all our use cases, which are:

* control over `--whole-archive` (in combination with following items)
* ability to pass libraries by their full path (`-L`/`-l` pairs have a problem when there are 2 different libraries, in 2 different directories, with the same basename)
* ability to pass object files directly without creating a static archive for them (wrappe

[2022-02-11 16:35] tnballo opened #93912 "Exported macros appear twice in left sidebar (rustc 1.60.0 nightly, docsrs 0.6.0)"
Hey! Ran into what appears to be a bug - crate's exported macros each appear twice in the left sidebar:

![doc_err_2](https://user-images.githubusercontent.com/24994892/153630374-27167dd2-26f0-4edb-8ea9-230279de8bbe.png)

* [Build log here](https://docs.rs/crate/scapegoat/2.3.0/builds/507548)
* [Current doc page here](https://docs.rs/scapegoat/2.3.0/scapegoat/)
* Toolchain versions (per log): rust

[2022-02-11 16:37] ehuss commented on #93907
Thanks for the reports, closing as a duplicate of #93831.

[2022-02-11 16:37] #93907 closed

[2022-02-11 17:10] elichai commented on #90829
This is pretty neat. if anyone else is looking then it seems that the current best stable alternative is:
` vec = vec.into_iter().filter_map(|mut elem| {...}).collect()`

[2022-02-11 17:13] GuillaumeGomez commented on #90829
Should we start an FCP to stabilize it?

[2022-02-11 17:39] #92240 closed

[2022-02-11 17:39] #93835 closed

[2022-02-11 18:09] alexcrichton opened #93911 "Incorrect "use of undeclared lifetime name" error with nested async functions"
Given this Rust code:

[code]

the compiler errors out with:

[code]

however this code:

[code]

compiles successfully.

This seems like it might be related to the expansion of async code internally in rustc but I'm not entirely sure myself.

The nightly I tested is:

[code]

[2022-02-11 18:10] SkiFire13 commented on #93905
How would this work for casts that require adding metadata or changing its type? For example going from `NonNull<u8>` to `NonNull<dyn Read>` or from `NonNull<dyn Read>` to `NonNull<str>`

[2022-02-11 19:04] clarfonthey commented on #93890
IMHO.

[2022-02-11 19:05] clarfonthey commented on #93890
Oh, I should clarify, none of these suggestions are unambiguous; the point is to just offer another one. Pointing out the other From implementation covers that case IMHO.

[2022-02-11 19:06] peckpeck commented on #44762
Hi, i've now got a working implementation for some use cases, the probe loop is still not checking all use cases and some questions remain, but I think it's starting to be usable.

[2022-02-11 19:06] joshtriplett commented on #93798
An addition to the unresolved questions: should we add both of these, or only add one of them? It may make sense to only have `#[used]` and `#[retain]`, for instance.

[2022-02-11 19:08] joshtriplett commented on #93817
I'm also not sure we should be more flexible here, given the potential difficulty of reading it in more complex cases.

[2022-02-11 19:23] jonhoo commented on #93880
I don't think this is really a bug in llvm; this is a [standard CMAKE flag](https://cmake.org/cmake/help/latest/variable/CMAKE_EXE_LINKER_FLAGS.html), and the observed behavior is expected behavior; changing it would be a breaking change to cmake sadly.

I'd be happy to push a PR, though looking through the code raised a few other questions for me:

---

First, when `llvm.ldflags` is set, the curr

[2022-02-11 19:27] GuillaumeGomez commented on #93912
Seems similar to https://github.com/rust-lang/rust/issues/89852.

[2022-02-11 19:31] Mark-Simulacrum commented on #93880
I'm pretty sure that most of this behavior is unintentional and can largely be explained by incremental changes without really looking above/below in the file to make sure things aren't being set twice etc. I'm not particularly worried about breaking changes in bootstrap (e.g., if we start respecting LDFLAGS or CXXFLAGS etc), particularly when we're moving to what seems like relatively cleaner mod

[2022-02-11 19:45] danakj commented on #73632
Working on https://bugs.chromium.org/p/chromium/issues/detail?id=1296284 I have a better idea I think of what is needed or not needed here.

Requirements:
1. Linking a bunch of C++ .o files and Rust .o files together effectively, using the C++ frontend to run the linker.
1. We should _not_ link the Rust .o files together preemptively, they should be part of the final linking step as siblings to th

[2022-02-11 19:47] pushkine commented on #93817
How so? `_ if Foo {} => {}` is already valid, the function parsing let expr is just hardcoded to not parse a struct expr

[2022-02-11 19:59] w1th0utnam3 commented on #93908
Ah, that might be a decent workaround for now. Thanks for looking into this so quickly.

[2022-02-11 19:59] 10maurycy10 opened #93914 "failed to get layout for `[type error]`: the type `[type error]` has an unknown layout"
### Code

[code]

### Meta

[code]
<version>
[code]
error: internal compiler error: compiler/rustc_codegen_llvm/src/context.rs:895:13: failed to get layout for `[type error]`: the type `[type error]` has an unknown layout
[code]
error: internal compiler error: compiler/rustc_codegen_llvm/src/context.rs:895:13: failed to get layout for `[type error]`: the type `[type error]` has an unknown layout

[2022-02-11 20:01] #93788 closed

[2022-02-11 20:01] #93794 closed

[2022-02-11 20:01] #93821 closed

[2022-02-11 20:01] #93831 closed

[2022-02-11 20:01] #93841 closed

[2022-02-11 20:12] SNCPlay42 commented on #93903
Is that even correct? Per the [reference](https://doc.rust-lang.org/reference/items/associated-items.html):

* A "method" is an "associated function" that has a `self` parameter
* An "associated function" is one of the kinds of "associated item", which are the things that can appear in an `impl` block
* "Associated items" are "a subset of the kinds of items you can declare in a module"

So methods

[2022-02-11 20:14] mrpink76 opened #93916 "cargo fix aborts after an error"
When i tried to run ```cargo fix``` I got an error message that I should submit a bug with the output of cargo fix which is what I'm doing

`rustc --version --verbose`:
[code]

The error I got after applying ```cargo fix --broken-code```
[code]

The problematic code:

[code]

The warning:
[code]

The output of cargo fix:

[code]

[2022-02-11 20:14] SNCPlay42 commented on #93914
Entire output on current nightly:

[code]

Was this already fixed?

[2022-02-11 20:15] jonhoo commented on #93880
PR: https://github.com/rust-lang/rust/pull/93918

[2022-02-11 20:22] jszwedko opened #93920 "`rustc` error on Windows: The filename or extension is too long"
Hi all!

I think we are running into the same issue described by https://github.com/rust-lang/rust/issues/39644 but with `rustc.exe` rather than `link.exe`.

We have a project where we noticed that any PRs that introduce a new dependency were causing our Windows CI builds to fail with:

[code]

In the example failure below, it does seem like the `rustc` command is 33,184 characters, which would be

[2022-02-11 20:23] 10maurycy10 commented on #93914
I think so, closing.

[2022-02-11 20:23] #93914 closed

[2022-02-11 20:48] tnballo commented on #93912
Thanks for transferring the issue.

One difference between this and #89852 - both macros are exported using a wildcard in crate root `lib.rs` (not `as` rename):

[code]

[2022-02-11 20:52] GuillaumeGomez commented on #93912
Well, just another reexport issue. It's common around here. :laughing:

I'll try to take a look in the next days.

[2022-02-11 20:55] jszwedko commented on #93920
https://github.com/bazelbuild/rules_rust/pull/1076 seems related.

[2022-02-11 21:10] tmandry commented on #73632
We could easily make a mode that emits an archive of object files, I'm not sure what purpose `--emit=obj` has in _not_ doing that. Maybe the option predates having multiple codegen units, and now we need to preserve it for backwards compatibility?

[2022-02-11 21:11] ChrisDenton commented on #93920
Yes, for arguments longer than the 32,767 limit, you would need to [load command-line flags from a path](https://doc.rust-lang.org/rustc/command-line-arguments.html#path-load-command-line-flags-from-a-path).

[2022-02-11 21:13] jszwedko commented on #93920
Is that something we can do from outside? We are just executing `cargo test` which then calls `rustc`.

[2022-02-11 21:23] ChrisDenton commented on #93920
I think so. It seems more like a bug with Cargo because I'm not sure there's much rustc can do here. @ehuss, maybe?

[2022-02-11 21:24] oli-obk commented on #88236
Reopening because the fix was reverted

[2022-02-11 21:25] oli-obk commented on #93411
Reopening because the fix was reverted

[2022-02-11 21:26] jszwedko commented on #93920
Yeah, I think so too. I opened https://github.com/rust-lang/cargo/issues/10381 so I'll close this one out. Thanks for the pointer!

[2022-02-11 21:26] #93920 closed

[2022-02-11 21:34] bbjornse commented on #73632
My current understanding of this is that the requirements can be split in three:

1. Officially supported ability to generate object code for a crate, without its dependencies, into a file which can be passed to the system linker.
2. Link in libraries provided by the Rust toolchain.
3. Generate any required shims.

Looking at how each of these requirements are addressed by different alternatives:

[2022-02-11 21:43] bjorn3 commented on #73632
https://github.com/rust-lang/rust/blob/4c55c8362de32be1530b2441c3e3a51e73edeb21/compiler/rustc_session/src/config.rs#L288 forces a single cgu for any `--emit obj` I think.

I wonder if instead of allowing rlibs to be linked outside of rustc we could allow C object files to be linked with rustc, so rustc takes the place of the linker, handling any orchestration for rust libraries and then forwardin

[2022-02-11 21:46] bbjornse commented on #73632
I see this function where `false` is returned is named `is_compatible_with_codegen_units_and_single_output_file()` - and the code using it at line 1537 seems to only look at emit-flags with an explicit path:
[code]
Which is what makes me suspect that it only forces cgu=1 with an explicit path?

[2022-02-11 21:56] bbjornse commented on #73632
I suspect this is a poorer fit for C++ codebases wanting to integrate Rust code into what they have. The link setup would then have to be recreated *exactly* as it were before, but indirectly through rustc. This is more complex both to read and write than just writing the desired linker invocation directly. It is also more fragile, as rustc must be trusted to produce the exact same linker invocati

[2022-02-11 22:05] bjorn3 commented on #73632
`ot_path` here has the type `(OutputType, Option<PathBuf>)` I think. `None` here represents the case where no path is given. That line you mentioned ignores the `Option<PathBuf>` and only returns the `OutputType`.

[2022-02-11 22:35] the8472 opened #93923 "LLVM miscompilation/assert in `ui/issues/issue-23036.rs` on wasm32-unknown-unknown target"
Context: #93697 - the test had to be disabled there to get a fix in

With [patched library/std/src/path.rs](https://github.com/rust-lang/rust/pull/93697/files#diff-212737b68c4541123dae6916cdde516551e1fafcb343467bfe08a3d7ce72c517) running the UI tests targeting wasm32 causes this failure with LLVM asserts enabled:

[code]

With LLVM asserts disabled it produces invalid wasm bytecode:

[code]

Manua

[2022-02-11 22:40] notriddle commented on #93903
Is this closer to "All pages" in reality?

[2022-02-11 23:30] PatchMixolydic commented on #93906
@rustbot claim

[2022-02-11 23:35] compiler-errors commented on #93905
For the record, `NonNull` implements `CoerceUnsized`, so you should be able to use the `as` operator to turn a `NonNull<T>` into a `NonNull<U>` where `U` is unsized (provided that `T` can be unsize-coerced into `U`).

[2022-02-11 23:36] lo48576 opened #93924 "A concrete type parameter cannot be used as `impl Trait` if `?` is used previously"
### Code

I tried this code:

[code]

I expected to see this happen: Compiles successfully, with `Result<(), impl Debug>` instantiated as `Result<(), Target>`.

Instead, this happened: Compilation error.

[code]

Without `maybe_source()?;` line, the errors don't happen.

### Version it worked on

It most recently worked on:

* rustc 1.58.1 (db9d1b20b 2022-01-20) (current stable)
* rustc 1.59.0-bet

[2022-02-11 23:36] Kay-kay2019 commented on #92948
It probably  needs an update but I'll look at it when I get home. Any recommendations?

[2022-02-11 23:43] lo48576 commented on #93924
Doctests that returns `Result<_, _>` is affected.

[code]

<details>
<summary>Output of <code>cargo +nightly test</code>:</summary>

[code]
</details>

[2022-02-11 23:50] scottmcm commented on #93771
Note that the C++ translation of the if-else chain doesn't become a lookup table either: https://godbolt.org/z/49anv4743

So if you think it should, that would be an [LLVM bug](https://github.com/llvm/llvm-project/issues/new/choose), not something for which rustc would be responsible.

[2022-02-12 00:01] PatchMixolydic opened #93925 "`#[must_use]` on a foreign fn does nothing"
Found while working on a fix for #93906.

I tried this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=eb719eb702b553560f07ffbbd92b56cb)):

[code]

I expected to see this happen:

Both lines in `main` should trip `unused_must_use`. Note that `core::intrinsics::arith_offset` is marked as `#[must_use]`:

https://github.com/rust-lang/rust/blob/e789f3a3a3d96

[2022-02-12 00:07] SNCPlay42 commented on #93916
A smaller example:

[code]

The unused variable warning isn't *wrong* - because the code that uses `x` is never reached, `x` is never used. The problem is that the suggestion fails to realise that although `x` is never used, it is still *named* somewhere else.

The warning in this case should perhaps behave like the one where a variable is assigned to, but never read:

[code]

[code]

Where the ``

[2022-02-12 00:08] lo48576 commented on #93924
searched nightlies: from nightly-2022-02-01 to nightly-2022-02-11
regressed nightly: nightly-2022-02-09
searched commit range: https://github.com/rust-lang/rust/compare/734368a200904ef9c21db86c595dc04263c87be0...0c292c9667f1b202a9150d58bdd2e89e3e803996
regressed commit: https://github.com/rust-lang/rust/commit/e7cc3bddbe0d0e374d05e7003e662bba1742dbae

<details>
<summary>bisected with <a href='http

[2022-02-12 00:10] PatchMixolydic commented on #93925
Note that adding a semicolon after the expressions within the unsafe blocks will cause `#[must_use]` to trip ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=84dc5fb4db1eb7a18af56a968298ae5d)):

[code]
[code]

This is still an issue for FFI since one might not think of `unsafe { foreign_foo() };` as a use, much like I did when initially filing this issue.

[2022-02-12 00:51] compiler-errors commented on #93924
This got reverted in #93893

[2022-02-12 01:06] nsunderland1 opened #93927 "`rustc` suggests adding a `PartialEq` bound where another trait is actually required"
Given the following code (EDIT: see the [comment](https://github.com/rust-lang/rust/issues/93927#issuecomment-1036964865) below for a more concise snippet):

[code]

https://play.rust-lang.org/?version=stable&mode=release&edition=2021&gist=a69190abd7a2b258c588d8e994e69871

The current output is:

[code]

Ideally the output should look like:

[code]

`!=` can't be used here because `MyType<T>` only

[2022-02-12 01:23] #91560 closed

[2022-02-12 01:23] #93598 closed

[2022-02-12 01:43] nsunderland1 commented on #93894
@rustbot label +D-incorrect +D-invalid-suggestion

[2022-02-12 01:43] nsunderland1 commented on #93894
@rustbot label -D-incorrect -D-invalid-suggestion

[2022-02-12 01:44] nsunderland1 commented on #93894
My bad there, had two different issues open.

[2022-02-12 01:44] nsunderland1 commented on #93927
@rustbot label +D-incorrect +D-invalid-suggestion

[2022-02-12 01:46] Mark-Simulacrum commented on #93894
I'd be happy to approve a PR adding a line to the release notes about this.

[2022-02-12 01:47] nsunderland1 commented on #93894
@rustbot claim

[2022-02-12 01:58] erikdesjardins commented on #93739
Duplicate of #46213.

The latest entry in the saga of trying to fix this is #75866, which was closed due to perf regressions. (Niche extraction is much more complex than loading a discriminant--and to a degree, unnecessarily so.) `nox` was working on improvements to match codegen which may unblock it.

I don't think that issue applies in this case. What we can't do is use padding in another type t

[2022-02-12 02:42] joshtriplett commented on #44930
@dlrobertson It'd help to have a rough summary of the current status. Which targets does it work completely on, without any holes as far as we know? Which targets does it work *partially* on, but still needs fixes?

Also, is there a sketch for how to handle multiple calling conventions on the same target, in a forwards-compatible way? We can stabilize this on a target without supporting any non-de

[2022-02-12 02:51] nsunderland1 commented on #93927
Reduced further: https://play.rust-lang.org/?version=stable&mode=release&edition=2021&gist=f6f2cc803587c51738a8b8e058b57290

[2022-02-12 02:52] joshtriplett commented on #28937
@crlf0710 What's the current state of this? Are people using it successfully? Is it a potential candidate for stabilization?

[2022-02-12 03:02] nsunderland1 commented on #93927
This issue is more general than the original title suggested: if we switch the `Eq` bound to `Clone`, the issue is there all the same

https://play.rust-lang.org/?version=stable&mode=release&edition=2021&gist=6d6ad37bfa2e10e8d1ef096296bf2982

[2022-02-12 03:29] ahicks92 commented on #39016
Late to this discussion (and still hoping this gets improved) but that's an interesting workaround.  The problem is that when you e.g. try to use cmake or whatever you still need the debug vs. release knowledge to propagate downward.  I would guess that setting CFLAGS and CXXFLAGS at the top level only works by chance, and not reliably.

[2022-02-12 03:55] ehuss commented on #93916
Thanks for the report!  Closing as a duplicate of #88402.

[2022-02-12 03:55] #93916 closed

[2022-02-12 03:56] ehuss commented on #93030
Thanks for the report!  Closing as a duplicate of #88402.

[2022-02-12 03:56] #93030 closed

[2022-02-12 04:32] asquared31415 commented on #93925
minimal version with no extern or intrinsics:
[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=4478b95b04f948f47c57271515f1282e)

[2022-02-12 04:38] yerke commented on #60302
@rustbot release-assignment

[2022-02-12 04:43] kpreid commented on #90863
I was just thinking about this frequently-confusing message, and I have an additional idea here. I agree with the above that the span over the whole function item is confusing and marking just the signature or name would be better, but, in addition, this error could have a suggestion to change the function's return type:

[code]

where `T` is whatever the existing return type is, and `E` is the er

[2022-02-12 05:05] AbleTheAbove opened #93931 "Inuktitut Brackets are not recognized"
Given the following code: [Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0a009d396cb891704dbd8f2bd8aa78a2)

[code]

The current output is:

[code]

Ideally the output should look something like:

[code]

[2022-02-12 06:00] comex commented on #93923
Quick observations:

The failing assert:
[code]
Looking at the [implementation of `encodeULEB128`](https://github.com/llvm/llvm-project/blob/93d1a623cecb6f732db7900baf230a13e6ac6c6a/llvm/include/llvm/Support/LEB128.h#L104), it seems like the only way this assert could fail is if the value is too large to fit in the specified number of bytes.

There are two calls to `writePatchableLEB<5>`, and one

[2022-02-12 06:38] PrestonFrom commented on #93883
I'm relatively new to rust, but after reading the fasterthanlime blog post about this and the related issues, I'd be interested in taking a swing at it, assuming no one else has already claimed it. Would that be okay?

[2022-02-12 07:47] #93646 closed

[2022-02-12 08:39] VitalyAnkh commented on #93931
The error disappears when using a capital struct name: [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0a009d396cb891704dbd8f2bd8aa78a2). It looks like the parser utilizes [the naming conventions](https://github.com/rust-lang/rfcs/blob/master/text/0430-finalizing-naming-conventions.md).

[2022-02-12 08:42] In-line commented on #93771
@scottmcm what about match?

[2022-02-12 09:10] crlf0710 commented on #28937
@joshtriplett It's fully implemented, and the tests pass. There're no known technical limitations, but I'm not aware whether there're people using it today in nightly builds. I think it's a potential candidate for stablization.

[2022-02-12 09:54] oli-obk commented on #69487
This may be fixed on master now, can someone check and add a regression test if it is indeed fixed?

[2022-02-12 10:10] lo48576 commented on #93924
Thank you!
Closing this issue as I confirmed this is fixed at `rustc 1.60.0-nightly (e789f3a3a 2022-02-11)`.

[2022-02-12 10:10] #93924 closed

[2022-02-12 10:50] RalfJung opened #93935 "const_allocate intrinsic: what should it do at runtime?"
We have a const_allocate intrinsic to perform heap allocations during CTFE. It should not be called during runtime, but we do have to generate *some* code for that case. Currently, we make it return NULL.

I think calling this at runtime is always an error, so we shouldn't just silently continue execution. We should either panic or abort. (The codegen backend already knows how to do both of these

[2022-02-12 11:11] oli-obk commented on #93935
Seems reasonable. I am still hoping we can just not generate code for these intrinsics at all, but considering the extra effort that requires, we can just turn them into aborts and thus force everyone to use const_eval_select and handle the runtime case explicitly.

[2022-02-12 11:12] oli-obk commented on #93935
Maybe i'll just take this opportunity and implement https://github.com/rust-lang/rust/issues/93145 instead, so backends just get MIR instead of having to hand-roll some logic for each backend

[2022-02-12 11:20] RalfJung commented on #93935
We already have a MIR pass that lowers some intrinsics away, you might just add these there.

[2022-02-12 11:36] LHolten commented on #25860
To me it looks like function declarations assume all instances of the lifetimes in the signature to be identical.
But when sub-typing functions, you don't have to substitute all instances of a generic lifetime at the same time (thus breaking the assumption).
Meanwhile for functions generic over types (instead of lifetimes), all instances of the type have to be substituted at the same time.
So why

[2022-02-12 11:40] oli-obk commented on #93883
Yes! So we've set up some procedure for this to make sure other ppl will know you are working on it. Just write `@rustbot claim` on the issue and it will get assigned to you.

On the implementation side there are a few ways to go about it, but you'll likely have the best experience by implementing it in clippy first (going from editing your lint to seeing it in action on a test is quicker in the c

[2022-02-12 11:42] oli-obk commented on #93935
That happens for CTFE MIR, too, so that's not ideal 😆. We'd need an additional pass just for optimized mir.

[2022-02-12 12:02] the8472 commented on #93923
No longer blocks the PR, it now disables the test on wasm32 instead.

[2022-02-12 12:31] fee1-dead commented on #93935
I think we should do this. `const_eval_select` would work in a MIR pass as well.

[2022-02-12 12:46] glaubitz commented on #89498
Bug has been fixed in LLVM https://github.com/llvm/llvm-project/issues/51461.

[2022-02-12 13:08] GuillaumeGomez commented on #93912
This is what I have on currently nightly:

![Screenshot from 2022-02-12 14-07-53](https://user-images.githubusercontent.com/3050060/153712706-226a5467-fbd0-4416-b865-747e25aa1b1d.png)

So I guess it's fixed?

[2022-02-12 13:11] Badel2 commented on #69487
Just checked on commit 9cdefd763b910ffd1d42233a8c752ab5fd84ca4d:

https://github.com/rust-lang/rust/issues/69487#issuecomment-627157837 is fixed (feel free to add the regression test):

[code]

But https://github.com/rust-lang/rust/issues/69487#issuecomment-984897859 is not fixed:

[code]

Also the original example https://github.com/rust-lang/rust/issues/69487#issue-571503341 is now a different I

[2022-02-12 13:27] GuillaumeGomez commented on #93903
It's literally all the items in the crate, not just the top level ones. It doesn't include associated items (such as methods for example).

[2022-02-12 13:31] GuillaumeGomez commented on #85138
Any update on this? :)

[2022-02-12 13:32] GuillaumeGomez commented on #93812
@spacejam Is it still the case? (you can check [here](doc.rust-lang.org/nightly/std)

[2022-02-12 13:42] PrestonFrom commented on #93883
Thank you for the detailed suggestions! It’s very helpful!

[2022-02-12 13:42] PrestonFrom commented on #93883
@rustbot claim

[2022-02-12 14:01] #91139 closed

[2022-02-12 14:01] #91069 closed

[2022-02-12 14:01] #93894 closed

[2022-02-12 14:11] matthiaskrgr opened #93942 "suggest removing ; after derive attribute in case of error"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

Rust could point at the semicolon (which causes the error) and suggest removing it in this case.

[2022-02-12 16:42] glaubitz commented on #89498
@ricky26 If you use LLVM from git and libc with the patches from here https://github.com/rust-lang/libc/pull/2680 and here https://github.com/rust-lang/libc/commit/7a027d34c2d748b23a81fb75c9b84242fe70fcda, you should be able to work on this issue.

If I understood correctly, you already have a potential fix for this issue?

[2022-02-12 17:05] tnballo commented on #93912
Trying locally with the latest nightly (`rustc 1.60.0-nightly (e789f3a3a 2022-02-11)`, more current than that of issue open) I get the same initial landing page for `cargo doc --open` *but* if I click on one of the macros listed (e.g. "drill down") duplicates still appear on the sidebar:

![doc_err_3](https://user-images.githubusercontent.com/24994892/153720749-551544ac-0d5b-435d-9b23-d4b2dff26702

[2022-02-12 18:12] zyansheep opened #93946 "Failed to normalize struct with generic const expression parameter as associated type"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

One weird thing is that it only works if the offending code is in a subcrate, not in the main crate.
Example code is here: https://github.com/zyansheep/rust_const_rkyv_bug

[2022-02-12 18:22] SimonSapin commented on #43467
I think custom metadata would be compatible with extending `null` and friends to `T: ?Sized + Thin`. (with `Thin = Pointee<Metadata = ()>`). Those custom DSTs would not be `Thin`.

As to implicit bounds I’m only talking about the existing ones: `T: Sized` is assumed in most (all?) generic contexts unless `T: ?Sized` is specified. I’m not proposing adding any more. As far as I understand this is ho

[2022-02-12 18:27] bjorn3 commented on #74378
Booleans are always passed as i8 with zero extension rather than bit casting, so all bits are specified. This applies both for arguments and memory accesses. Only local variables can be i1.

[2022-02-12 18:31] smallB007 opened #93948 "ICE"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-12 20:06] nsunderland1 commented on #93927
Likely a duplicate of #92347, and might be related to #93744 as well

[2022-02-12 20:30] jdahlstrom commented on #93903
Isn't this a contradiction? Either associated items are items in the technical sense, in which case they presumably should be listed under "All items", or they're not items, in which case the term "associated item" is a misnomer.

[2022-02-12 20:42] GuillaumeGomez commented on #93903
It's the same as "a global variable is a variable but not all variables are global"... Which makes me agree with you all that it's misnamed. :laughing:

[2022-02-12 20:54] GuillaumeGomez commented on #93912
Ah indeed! I can also reproduce it now. Will take another look tomorrow then.

[2022-02-12 20:58] compiler-errors commented on #93948
@smallB007 did you mean to fill out this issue?

[2022-02-12 21:50] scottmcm commented on #93931
Note that this already has a warning about the "brackets":

[code]

So it's possible the current situation is fine as-is.

[2022-02-12 21:52] AbleTheAbove commented on #93931
While true about the warning I'd like a similar error to the Greek Question mark example.

If it's deemed good as is then that is alright.

[2022-02-12 22:16] Mark-Simulacrum commented on #93034
@craterbot run name=beta-1.59-2 start=1.58.1 end=beta-2022-02-12 mode=build-and-test cap-lints=warn

[2022-02-12 22:24] lcnr opened #93951 "`let_else` returns in surprising borrowck errors with impl trait"
[code]
results in
[code]
I am not sure if this issue exists only in combination with impl Trait of if it can be triggered in some other ways as well, haven't managed to get this bug some other way.

cc #93628 @est31 do you know whether this behavior is known already?

[2022-02-12 22:31] scottmcm commented on #93931
I think this is largely an expected consequence of following Unicode for literals.  If you were writing code in that script, the error message is correct.  And warning about combinations of scripts was decided against, per https://rust-lang.github.io/rfcs/2457-non-ascii-idents.html#mixed-script-detection

And if you're not writing in such a script, you could always turn on the `non_ascii_idents` l

[2022-02-12 22:40] nikic commented on #89498
@glaubitz I believe the problem here is that rust only uses target-specific ABI adjustment when using C (or other foreign) ABI, but not for Rust ABI.

I assume that for other targets, LLVM will handle this gracefully even if it does not match the platform C ABI.

[2022-02-12 23:11] camelid commented on #85138
I'm not sure if it's already been suggested, but what about only showing a note if the trait is _**not**_ object-safe?

[2022-02-12 23:15] nagisa commented on #93879
I'm going to close this issue for two reasons:

1. This issue tracker is used for tracking issues in the code of the Rust compiler, the Rust standard library and other projects part of this repository. There are more appropriate spaces for Rust-related questions, such as [users.rlo](https://users.rust-lang.org/), [stackoverflow](https://stackoverflow.com/), [reddit](https://www.reddit.com/r/rust/)

[2022-02-12 23:25] matthiaskrgr opened #93952 ""cycle detected" with impl Self {}"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

Something more like
[code]
Or even a better message explaining that there should be an actual type there instead of just "Self" ..?

[2022-02-12 23:28] nagisa commented on #93773
The `u32` has an alignment of 4 and `u64` has an alignment of 8 bytes (typically). So for the type to satisfy these alignment requirements there would either need to be padding, or the discriminant itself can simply become larger, which in this case it does.

[2022-02-12 23:37] nagisa commented on #93743
Have methods that return `str` slices instead of indices been considered as an alternative? I didn't really see any discussion to that effect in the issue. Given that these indices are only really usable for slicing into the containing string these were calculated from, it isn't all that obvious to me if this is the right API, as opposed to `split_at_???_char_boundary_{,mut}`.

[2022-02-12 23:52] nagisa commented on #93740
Wouldn't implementing lock algorithms on top of futex et al. effectively mean that both the `parking_lot` based implementations receive less test coverage and that these other algorithms also receive less test coverage? Or is there some plan to share the gnarly implementation details between parking_lot based implementations and the futex/etc. ones?

[2022-02-13 00:08] est31 commented on #93951
The bug is not known to me. cc @cormacrelf who has improved the borrow checking behavior. The suggestion is also weird.

[2022-02-13 00:41] clarfonthey commented on #93743
So, that would work for purely code-based splitting, but if a user were to perform more-complicated splitting by something like graphemes or words, they'd want to be able to look at the string both before and after the truncation point, not just at that point.

Since some cases required the index specifically, I decided to keep the API surface small. But adding extra variants that directly slice t

[2022-02-13 00:59] Ericson2314 commented on #43467
Ah,
[code]
is not valid today. Great That means the `null`, `null_mut`, and `NonNull` changes should be just fine, but also orthogonal to this issue, I think?

[2022-02-13 01:55] thomcc commented on #93889
Hm, fair enough. Perhaps checking based on `sysctl -a hw.optional` (which will list the instruction set extensions on the target) would be the best option then?

[2022-02-13 02:03] cormacrelf commented on #93951
The let-else actually desugars to this if-let:

[code]

And you [get the same error](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=e9dd63995287383db480a4185633d014). However the suggestion actually makes sense for if-let, because putting a semicolon afterwards does indeed fix it. The suggestion is wrong for the let-else because let-else's desugaring is always in tail pos

[2022-02-13 03:19] asquared31415 commented on #93925
Oh the `unsafe` isn't even required.  Just returning it from a block (and then not binding the block's value) fails to show the warning as well
[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6a085b07010735d9d83060e648367769)

[2022-02-13 04:58] iwikal commented on #86845
Even if `stdin().lock()` was supported by the borrow checker, this API would be useful in situations where, even if the lifetime of the temporary was extended to the end of the scope, it would not suffice. Right now I'm in a situation where I can't use `StdinLock` because I need to move it into a static closure.

[2022-02-13 05:31] Toru3 opened #93955 "E0107 and E0275 may occurs ICE"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-13 05:43] Toru3 commented on #93955
Same ICE occurs on stable(1.58.1)

[code]

[code]

[2022-02-13 06:07] Toru3 commented on #93955
<details>
<summary>a part of <code>RUSTC_LOG=info RUST_BACKTRACE=full cargo +stable build</code></summary>

[code]

</details>

[2022-02-13 07:57] smallB007 opened #93958 "ICE"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]
![ICE](https://user-images.githubusercontent.com/3456691/153744324-271850c5-b674-4f50-8a17-0fdeeab752b7.png)

</p>
</details>

[2022-02-13 08:31] SimonSapin opened #93959 "Tracking Issue for extending null, null_mut, dangling to non-Sized thin pointers"
Feature gate: maybe none? There’s no obvious way to use `#[unstable]` for this kind of library change.

This is a tracking issue for extending `ptr::null`, `ptr::null_mut`, and `NonNull::dangling` to work with any thin pointers. This change was accepted as part of [RFC 2580 Pointer Metadata](https://rust-lang.github.io/rfcs/2580-ptr-meta.html).

As of Rust 1.58:
* These functions can only return p

[2022-02-13 09:29] #86470 closed

[2022-02-13 10:19] SimonSapin commented on #43467
This is the tracking issue for `extern` types in general, so whether `null` and friends work with them is relevant. But yes it’s a sub-topic that can be discussed separately to reduce load on this already long thread. I’ve opened https://github.com/rust-lang/rust/issues/93959

[2022-02-13 11:12] #93812 closed

[2022-02-13 11:22] rkuhn opened #93961 "clarify the semantics of core::task::Waker::wake()"
Based on reading e.g. [the Tokio sources](https://github.com/tokio-rs/tokio/blob/master/tokio/src/coop.rs#L156-L182) and knowledge passed down from async monks to novices, I assume that calling `cx.waker().wake_by_ref()` from the task that is currently being polled will ensure that the task is polled again soon, even if no external reason arises. However, this behaviour is not documented, at least

[2022-02-13 12:21] Thomasdezeeuw commented on #93961
I don't think you can guarantee that. A simple counter example would be shutting down the (async) runtime after a `Future` is awoken via `Waker::wake` or `wake_by_ref`. These kind of guarantees (or their lack of) is a property of the runtime, not `Future` or `Waker`.

[2022-02-13 12:21] Alexendoo commented on #85907
No longer ICEs since #93691

[2022-02-13 12:36] Kestrer commented on #82323
I encountered another variant of what seems to be this bad diagnostic recently, this time caused by a missing type parameter in an `impl` block:

[code]

Produces (as well as a helpful diagnostic) this diagnostic:

[code]

[Playground here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b96ea168fe126ede203f5cd3a9d59c3d). I'm not sure whether it's worth filing a new issue f

[2022-02-13 14:31] srbpavel opened #93964 "after some code comment receive: internal compiler error"
hello, during playing with sample code and commenting part of it, i have receive such an error. just posting as asked in backtrace log.

pavel

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-13 14:40] rkuhn commented on #93961
The case of a vanishing runtime is outside the control of both the Future implementor and the runtime implementor, so I think we can carve that out of the discussion. The fact that futures can disappear at any moment does not make other guarantees worthless, like the one I’m after.

Saying that this is a runtime concern is also not going to work, at least not with the path Rust async has chosen. C

[2022-02-13 15:00] tmiasko commented on #79565
The existing test cases should be sufficient. The instrumentation coverage was affected because it defaults to v0 mangling scheme.

[2022-02-13 15:00] #79565 closed

[2022-02-13 15:01] #75597 closed

[2022-02-13 15:38] Toru3 commented on #93955
1.56.1 doesn't panic. 1.57.0 panics.
<details>

[code]

</details>

[2022-02-13 15:43] Thomasdezeeuw commented on #93961
(my emphasis)

These two statements conflict. You can't just throw away part of the problem and still speak of *always and unconditionally*.

Could you please restate the guarantee you'll looking for? Including (very reasonable) assumptions such as the runtime is still running.

I'm not sure why this isn't going to work as a runtime concern? Could you elaborate?

Isn't that the agreed upon mechani

[2022-02-13 15:51] rkuhn commented on #93961
I think we’re in violent agreement here :-) And since you confirm the _agreed upon mechanism_, I’ll just open a PR where we can hammer out the precise wording.

[2022-02-13 15:54] sourcefrog commented on #79121
Thanks for working on this.

I just wanted to note that the blog post <https://blog.rust-lang.org/inside-rust/2020/11/12/source-based-code-coverage.html> now has a broken link to <https://doc.rust-lang.org/nightly/unstable-book/compiler-flags/source-based-code-coverage.html> under "how to get started" - maybe because it's stablizing? (Which is very exciting!)

[2022-02-13 15:55] Toru3 commented on #93955
1.57.0-beta.1 panics.

<details>

[code]

</details>

[2022-02-13 16:07] Toru3 commented on #93955
rustc 1.57.0-nightly (485ced56b 2021-10-07)  doesn't panic. rustc 1.57.0-nightly (54bb4fec6 2021-10-08) panics.

[code]

[2022-02-13 16:27] edmorley commented on #88081
Confirmed still reproduces in latest Nightly (2022-02-12).

[2022-02-13 18:06] Aaron1011 commented on #93964
This should be fixed in the latest nightly.

[2022-02-13 18:11] drager opened #93968 "thread 'rustc' panicked at 'no errors encountered even though `delay_span_bug` issued"
### Code
[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e94948546902a54e2ba4e1fab9ec5eee

The compiler doesn't seem to crash on Beta nor on Nightly. However, I was thinking I should report it anyways, wasn't sure if you "accidentally" fixed it or was aware of the issue from another bug report and fixed it. I suppose the suggestion could also be improved. To make th

[2022-02-13 18:36] workingjubilee commented on #93490
Having read this issue, I believe this is functionally a duplicate of #64609 and #85265, so I am closing this.

[2022-02-13 18:36] #93490 closed

[2022-02-13 18:54] pierwill commented on #79121
Feel free to submit a PR at
https://github.com/rust-lang/blog.rust-lang.org

On Sun, Feb 13, 2022 at 9:54 AM Martin Pool ***@***.***>
wrote:

[2022-02-13 18:55] SimonSapin commented on #93959
As @scottmcm [pointed out on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/213817-t-lang/topic/.600.20as.20*const.20Extern.60/near/271735652), instead of of extending `as` the implementation of `null` could look like this: `ptr::from_raw_parts(0 as *const ())`. So I’m withdrawing the language change proposal. (I someone else wants to propose the same elsewhere, feel free.)

[2022-02-13 18:55] pierwill commented on #79121
@sourcefrog Feel free to submit a PR at
https://github.com/rust-lang/blog.rust-lang.org

On Sun, Feb 13, 2022 at 9:54 AM Martin Pool ***@***.***>
wrote:

[2022-02-13 18:59] SimonSapin commented on #93959
In terms of its own signature `NonNull::dangling` seems like it could be extended to all thin pointers, but in terms of its behavior it relies of `align_of`. What should `align_of` (or `align_of_val_raw`) be for extern types? Let’s… not get into that here. So not touching `dangling` and only extending `null` and `null_mut`.

[2022-02-13 19:30] compiler-errors commented on #93968
This should be fixed on nightly.

[2022-02-13 19:32] SimonSapin commented on #93959
We know that, but the compiler doesn’t (yet)

… so this wrong. I in `core` itself I get only one error, but it likely affects every user of `null` or `null_mut` in a generic context where `T: Sized` holds but `T: Thin` doesn’t without an explicit bound:

[code]

I tried encoding the desired implication with this:

[code]

But this caused many errors like:

[code]

I think this is because `Default`

[2022-02-13 19:40] ehuss commented on #93968
Thanks for the report!  This was fixed via #90521.  I'm not sure if this particular situation was entirely intentional (the PR mentioned some ICE, but not this one).  I'm not sure if it would make sense to add a test for this.

[2022-02-13 19:52] compiler-errors commented on #93968
@ehuss, I actually fixed the weird diagnostic part of this in #93574, and added a similar test that covers this ICE too.

@drager, sorry, didn't see that you already tested on nightly. I had meant to investigate why the suggestion of adding a `*` to the LHS was being suppressed. I'll file an issue for that one.

[2022-02-13 20:23] Bernie opened #93972 "Compile panic on Rust nightly when compiling Rocket version 0.5.0-rc.1"
### Code

Compile panic occurred while compiling Rocket version 0.5.0-rc.1
(rocket = "0.5.0-rc.1")

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>
[code]

</p>
</details>

[2022-02-13 20:23] ehuss commented on #86941
Is there anything else needed for this issue, or can it be closed?

[2022-02-13 20:30] ehuss commented on #93972
Thanks for the report!  Closing as a duplicate of #93831.  This should be fixed on the latest nightly.

[2022-02-13 20:30] #93972 closed

[2022-02-13 21:03] Badel2 commented on #93955
Thanks for the report. cargo-bisect-rustc points to #89576 as the cause:

searched nightlies: from nightly-2021-10-07 to nightly-2021-10-09
regressed nightly: nightly-2021-10-09
searched commit range: https://github.com/rust-lang/rust/compare/485ced56b8753ec86936903f2a8c95e9be8996a1...54bb4fec68cb592e23077896baea072919721573
regressed commit: https://github.com/rust-lang/rust/commit/e0aaffd8a45cd0

[2022-02-13 21:06] pierwill opened #93973 "Consider using `sha2-asm` feature in `rustc_span`"
_Originally posted by @klensy in https://github.com/rust-lang/rust/issues/93863#issuecomment-1035633536_

[2022-02-13 21:25] SUPERCILEX opened #93974 "Wrong optimization strategy used when performing constant comparison against byte array smaller than u128"
### Code

Godbolt: https://rust.godbolt.org/z/G5GGq4bEK

[code]

### Meta

From godbolt: rustc 1.60.0-nightly (e646f3d2a 2022-02-10)

### Details

It's the difference between `byte_array == [0; N]` and `byte_array.iter().all(|&x| x == 0)`. The former version uses fast and simple `mov`/`or`s whereas the latter end up doing a bunch of vectorization which is unnecessary when N=16 (since you can just

[2022-02-13 21:36] dlrobertson commented on #44930
@joshtriplett

AFAIK all tier 1 targets are supported for `{i,u}{8,16,32,64,size}` and `f64`. I have not tested targets beyond that enough to claim reasonable support, and as a result there are bugs to be found there. The targets I know there are issues with are `target_os = "uefi"` and `target_arch = "s390x"`. FWIW a good way to test if we can support a target is to run the `c-link-to-rust-va-lis

[2022-02-13 21:47] blackdragon2447 opened #93975 "can't compile std for riscv64gc-unknown-linux-musl"
trying to compile a project for `riscv64gc-unknown-linux-musl` using `cargo build --target riscv64gc-unknown-linux-musl -Zbuild-std=core,std,panic_abort` will result in cargo reporting not being able to find value `SYS_clone3` while building the std:
[code]
i do have rustflags setup specifying the correct c toolchain for the target in `~/.cargo/config.toml`:
[code]

### Meta

`rustc --version --ve

[2022-02-13 22:09] Lipen commented on #83701
Another "workaround" is to use "normal" generic type instead of the `impl` sugar and use `_` (inside turbofish) when calling in order to auto-derive the "unnecessary" type.
(example somewhat similar to @alexxbb's):
[code]
[code]

[2022-02-14 00:01] compiler-errors opened #93980 "Missing suggestion to dereference LHS of assignment when LHS is invalid"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

The root cause seems to be the coersion error being suppressed, since there is already logic that suggest dereferencing the LHS of an assignment operator. In fact, this diagnostic code path is being hit, but somewhere along the way the diagnostic is being canceled (hence the fact that w

[2022-02-14 03:46] jsgf commented on #73632
Semantically `--emit obj` seems fine to me, but the codegen units = 1 problem would be a real practical blocker. Something that emits a plain .a file would be a fine replacement and seems straightforwardly compatible with multiple cgus. In practice this could be a plain .rlib, or an rlib with an extra step of stripping out the rmeta files if that confuses the linker.

Ideally this would also suppo

[2022-02-14 04:03] ChayimFriedman2 opened #93983 "Compiler does not suggest to dereference a reference to reference"
If I miss a `*` when assigning to a variable, rustc suggests dereferencing it:
[code]
[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=36e7c53bd5802be5d8f98f80d910add0).

But not the referent is a reference:
[code]
[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=ddaba7afea9a60c6f47f05727106aa0f).

This is becaus

[2022-02-14 05:24] compiler-errors commented on #92341
@rustbot claim

Strongly agree. Stabilizing GATs when rustdocs don't properly render associated types' own generics is kinda a big problem, IMO.

As far as I can tell, this doesn't seem _too_ hard. I'm working through it right now. I've got GATs rendering in trait definitions fine right now, working through some rendering issues, but I can probably get help in the rustdoc zulip.

[2022-02-14 05:26] compiler-errors commented on #92712
Someone with powers mind closing this? @fee1-dead

[2022-02-14 05:26] compiler-errors commented on #93744
Actually I probably won't get around to fixing this. Someone can steal it :)

@rustbot release-assignment

[2022-02-14 05:37] mikemcdermottredjack opened #93985 "vector.binary_search_by fails to find item it should"
Rust playground:  https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=afd59ad80e822d38adb352dfd136b0b1

I tried this code:

[code]

I expected to see this happen: found 9, found 10

Instead, this happened: found 9, did not find 10

[2022-02-14 05:38] mikemcdermottredjack commented on #93985
My mistake

[2022-02-14 05:38] #93985 closed

[2022-02-14 05:47] #92712 closed

[2022-02-14 06:15] drager commented on #93968
No worries! Awesome, thanks!

[2022-02-14 06:40] srbpavel commented on #93964
verified and complied with below version.
[code]

 solved, thank you

[2022-02-14 07:24] AlbertMarashi commented on #87121
@chorman0773 anything I can do to help move this forward? I'd really love to see this feature in rust, it would be insanely useful for deep matching of things like ASTs.

[2022-02-14 09:31] ChayimFriedman2 commented on #93980
@rustbot claim

The culprit is here:

https://github.com/rust-lang/rust/blob/b11733534d95aebe0b4f949f8e4c8f21c312f108/compiler/rustc_typeck/src/check/demand.rs#L251-L255

I'm not quite sure how to solve this. After all, the comment is correct. Do we want to show both errors? Or just attach the help to the "invalid left-hand side of assignment" error?

[2022-02-14 10:31] fee1-dead opened #93986 "Invalid suggestion when nested slice pattern used on `Deref<Target = [T]>` types"
Given the following code: [play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=2c9e0945116b9eac71ab55676370219b)

[code]

The current output is:

[code]

[2022-02-14 11:09] clarfonthey commented on #77174
("Implements" isn't on GitHub's close term list, but, this was merged.)

[2022-02-14 11:09] #77174 closed

[2022-02-14 11:26] danielhenrymantilla commented on #93904
After some discussion in that PR, it was deemed that a macro being `unstable` did not warrant, _on its own_, marking the macro as `#[doc(hidden)]`. **Hence why a bunch of such macros were unhidden by that PR** (but maybe `format_args_nl!` shouldn't have been part of those?). I really don't have a strong opinion here myself, so lemme wash my hands 😄, but:

  - on the one hand, I do lean towards not

[2022-02-14 11:36] edmorley opened #93988 "On macOS, `strip=symbols` results in "error: symbols referenced by indirect symbol table entries that can't be stripped in <file>.dylib""
When the new [`strip`](https://doc.rust-lang.org/stable/rustc/codegen-options/index.html#strip) codegen option is used on OS X with mode `"symbols"` (which is the highest strip mode, and what is used when `strip=true` is passed to Cargo), the build emits the following warning for the testcase below:

[code]

Doing any of the following stops the warning from appearing (see the workarounds section b

[2022-02-14 12:08] adamgemmell commented on #86941
https://github.com/rust-lang/rust/pull/90271#issuecomment-1038400916 continuing discussion here.

Looks like the error macro (in `stdarch/crates/std_detect/src/detect/error_macros.rs`) is still marked as unstable under `stdsimd`.

The same is also true for the x86 version - so you get an unstable warning when using `is_x86_feature_detected!` on aarch64 platforms, for instance.

Both should clearly

[2022-02-14 12:10] Kixunil commented on #93959
I don't see a problem with defining `Sized: Thin` since the trait is implemented by the compiler anyway. Is there any obstacle I don't see?

[2022-02-14 12:19] #93964 closed

[2022-02-14 13:20] SimonSapin commented on #93959
The obstacle is that things break when I do it, as described in my previous comment. It looks like https://github.com/rust-lang/rust/pull/93977 might fix that.

[2022-02-14 14:40] nikomatsakis commented on #44930
I agree with @joshtriplett that we should stabilize this on a per-target basis.

[2022-02-14 15:00] nikomatsakis commented on #74378
When generating LLVM types from Rust types, do we ever emit padding explicitly or something like that? I could imagine us "taking charge" of some aspects of enum lowering in this way.

[2022-02-14 15:07] nikomatsakis commented on #93883
Cool! I'd love to see this get fixed. I would say that -- implementation wise at least -- we should do it with an attribute placed on the type, analogous to `#[must_use]`. This can in fact be a start towards that "noisy drop" distinction that @pnkfelix described oh-so-many-years-ago.

[2022-02-14 15:10] PrestonFrom commented on #93883
@nikomatsakis Do you mean that mutexes would need the attribute to trigger the lint or as a solution outside the lint?

[2022-02-14 15:11] Mark-Simulacrum commented on #93883
We already have a similar attribute (at least in theory) for the RFC 2229 work, right? `#[rustc_insignificant_dtor]` https://github.com/rust-lang/rust/blob/master/library/alloc/src/vec/mod.rs#L399

That's obviously perma-unstable under that name, but we could consider a stable version of it.

[2022-02-14 15:13] nikomatsakis commented on #93883
@PrestonFrom I mean that the lint would not hard-code particular types, but we would annotate the "guard" types with the attribute. And yes, @Mark-Simulacrum is right that `#[rustc_insignificant_dtor]` is the same general idea, except that it is biased in the opposite direction (i.e., significant unless annotated otherwise).

[2022-02-14 15:20] PrestonFrom commented on #93883
@nikomatsakis Thank you -- to make sure I am correctly following your suggestion:
1. I should create a new attribute to annotate types whose `Drop` impl has a side effect that would be delayed in a surprising way if it had a static lifetime when it is used as a scrutinee in a match block
2. I should create a new lint to check for types that have the new attribute in match scrutinees *and* that hav

[2022-02-14 15:31] nikomatsakis commented on #93883
Hmm, I'm unclear on why the lifetime of the scrutinee is significant. I was expecting to just look for cases where a drop is executing and the type being dropped has this flag. (We probably do want to discuss whether to "traverse" the type, e.g., to detect things like a `Vec<LockGuard>` or something...)

Really this problem is larger than `match`, I think, but let's just start with `match` -- I'd

[2022-02-14 15:33] minhajuddin opened #93992 "TCP connection closed errors not surfaced to the consumer"
## Summary
When a TCP connection is closed (`FIN,ACK`) from the consumer it is `ACK`ed by the rust server, but writing to this stream after this does not raise an error.

Here is a sequence of events:

1. Rust TCP server starts listening to port 4050.
2. A connection is made from netcat to this port which is successful.
3. netcat sends a payload which is successfully read by the server. At this po

[2022-02-14 15:34] lcnr opened #93993 "supplying generic args to variant and enum results in weird error"
[code]
results in
[code]
this error is far from ideal. we ideally mention that variants may only have generic arguments if their enum doesn't have any. not sure what's the best wording here or how to best achieve this

[2022-02-14 15:38] PrestonFrom commented on #93883
@nikomatsakis This might be confusion on my part. I thought we'd want to look at the lifetime because it would indicate that the object's lifetime was being extended (and thank you for mentioning the `if let` case, because I'd totally missed that).

Maybe instead of checking the lifetime, it should check that the object is not a ref?

[2022-02-14 15:51] Aplet123 commented on #81615
I made a [potential implementation of approach 4](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=89c3da273e5c8fd78775a0fc60894820) that passes data back with any type that implements `FromIterator<A>`. Note that people might not actually want any data back on failure, so there might have to be some accompanying zero-sized type that implements `FromIterator` to avoid alloc

[2022-02-14 16:04] bjorn3 commented on #74378
Yes. https://rust.godbolt.org/z/xd4er1hTY

[code]

[code]

[2022-02-14 16:47] lcnr opened #93995 "destructuring assignment and let else"
[code]
results in
[code]
i.e. a general parser error. This should either be supported and compile, or get a better error.

[2022-02-14 17:41] hkratz commented on #93992
This behaves as expected as far as I can see. The client has requested close with FIN which the server has acknowledged with ACK. The client has received this ACK. Now the client is in the FIN-WAIT-2 state and the server is in the CLOSE-WAIT state. In those states the server can still send data ([TCP spec - SEND Call](https://datatracker.ietf.org/doc/html/rfc793#page-56)) and the client can still

[2022-02-14 18:28] mejrs opened #93997 "failed to get layout for `[type error]`: the type `[type error]` has an unknown layout"
### Code

[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=138cf67f530a643fb1c44ba50ba4b498)

Original example that triggered this:
[code]

### Meta

It exists on stable, beta and nightly.

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-14 18:32] DanielJoyce commented on #90662
Seems kinda major to

Yeah, this seems rather significant. It's right there in the results.

https://crater-reports.s3.amazonaws.com/beta-1.56-3/beta-2021-10-15/reg/shaku-0.6.1/log.txt

[2022-02-14 18:43] fschuetz opened #93998 "Compiler panic (rustc 1.58.1 (db9d1b20b 2022-01-20) running on x86_64-apple-darwin)"
### Code

Unfortunately I cannot provide a minimal example as my code base is quite large and I do not know what triggers the bug exactly. I did a commit in the git repo, so I can provide access to the full code. Bug triggers if I remove some code and try to compile (a Vec<Port> that I don't need in the struct).

Original part that compiles:
[code]
If changed to this triggers panic:
[code]

The tr

[2022-02-14 19:35] PonasKovas opened #94000 "PhantomData<T> doesn't trigger improper_ctypes_definitions lint"
Given the following code:

[code]

Based on the documentation of [`PhantomData`](https://doc.rust-lang.org/std/marker/struct.PhantomData.html):

I would think that it should trigger the `improper_ctypes_definitions` compiler lint, like this example would:

[code]

[code]

I think that it is intuitive that `PhantomData<T>` should be marked as not FFI-safe if `T` is not FFI-safe.

There is a workaro

[2022-02-14 20:04] adamgemmell commented on #86941
@ehuss also mentioned that the docs still show the error_macro docs for none-x86 platforms. Yet to find the reason but everything's fine with `cargo doc` in stdarch, but not with `./x.py doc`.

[2022-02-14 20:06] Fishrock123 commented on #93995
You are not using `let … else`. The syntax you provided is invalid and should be invalid.

Adding a `let` to that destructuring assignment makes it work as intended: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=65cdac15a8c224569ab6415bfadcb990

[2022-02-14 20:06] Amanieu commented on #86941
Maybe some issue due to std_detect being a separate crate from std which causes `#[cfg(doc)]` to not work correctly?

[2022-02-14 20:13] rpjohnst commented on #93995
@Fishrock123 There's a pre-existing feature distinct from `let` bindings called "destructuring assignment": https://github.com/rust-lang/rust/issues/71126

This issue is about the question of how `let else` and destructuring assignment should (or should not) interact, not just a syntax error.

[2022-02-14 20:25] wwylele commented on #94000
Should `Ptr` not be FFI-safe? The definition of it is basically the definition of `std::boxed::Box`, yet `Box` is FFI-safe.

[2022-02-14 20:33] PonasKovas commented on #94000
If your `Ptr` has methods which assume it is FFI-safe (like dereferencing
the pointer and doing things with it), then you would want to make sure
that `T` is FFI-safe, even though the type signature doesn't require it.
That's when you would want to add `PhantomData<T>`.

[2022-02-14 20:34] fschuetz commented on #93998
Note: Changing edition from 2018 to 2021 in Cargo.toml leads to a successful compilation that does not trigger the crash.

[code]

[2022-02-14 20:35] That3Percent commented on #93607
Sorry for the belated reply. I'm swamped at work and unable to investigate further. I can confirm though that cleaning and rebuilding did solve the issue.

[2022-02-14 20:55] wwylele commented on #94000
It sounds to me that we need a different marker like `PhantomFFIUnsafeData` for this purpose. `PhantomData<T>` is not used for marking FFI safety. I believe that for this piece of doc

it means that the type stores a T in terms of ownership (which borrow checker etc cares, but ABI doesn't care), but not in terms of data layout (which borrow checker doesn't care, but ABI does). Maybe we should clar

[2022-02-14 20:58] bbjornse commented on #73632
Ah, you are right of course. Feeling stupid now :slightly_smiling_face:

Not giving up though, I'll suggest one more way in which the `is_compatible_with_codegen_units_and_single_output_file()` function can live up to its name. Looking at the code using the list of incompatible output types (shortened a bit):
[code]
I.e. it appears cgu is set to 1 only if the `-o` option is used, or if it was not

[2022-02-14 21:10] ComputerDruid opened #94003 "Rust compiler fails to build when host linker requires extra arguments"
Using a config.toml, I've configured a custom host linker (building on a Mac):

[code]

[full config.toml](https://logs.chromium.org/logs/fuchsia/buildbucket/cr-buildbucket/8822353775825996097/+/u/generate_config.toml/raw_io.output_text)

On this machine, the linker requires a custom `--sysroot` to be passed to it, so I also set some environment variables:

[code]

[full environment](https://logs.

[2022-02-14 21:20] ehuss commented on #86941
When a dependency is built for rustdoc, `cfg(doc)` is not set.  So the re-export is just re-exporting the normal macros, not the `cfg(doc)` ones.

[2022-02-14 21:27] luksan commented on #81474
I don't know if it's the same issue, but I would like the following to work, without putting a lifetime on struct A.
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=038f1b78575df957dd948bdf3f714151
[code]

[2022-02-14 21:29] ehuss commented on #92938
I think this can be closed with #93377 merged?  For some reason, GitHub didn't auto-close this.

[2022-02-14 21:43] est31 commented on #93995
I think refutable patterns is where the symmetry breaks down between `let` and assignments, as `let` *must* have a diverging `else` clause while an `else` clause for destructuring assignments with refutable patterns does not make sense. See https://github.com/rust-lang/rust/pull/93628#issuecomment-1039494123 where I suggest adoption of a destructuring assignment construct introduced by `maybe` so

[2022-02-14 21:51] Mark-Simulacrum commented on #92938
Seems right.

[2022-02-14 21:51] #92938 closed

[2022-02-14 22:01] annmarie-switzer opened #94004 "Nightly compiler bug: "lifetime mismatch""
Nightly 2022-02-13 seems to have introduced a bug. Code that compiles properly on stable and nightly-2022-02-09 does not compile with nightly-2022-02-13:

[code]

[2022-02-14 22:07] nyurik opened #94005 "Hard to read assert_eq!() custom message output"
The custom message in [assert_eq!(...)](https://doc.rust-lang.org/std/macro.assert_eq.html) macro is shown right after the `right:`. This is hard to read because the value strings could be very long.  I think it is better to print the custom message (if available) on a separate line.

[code]

The above [code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d534f77fd85202724

[2022-02-14 22:42] jsgf commented on #73632
It's a bit awkward if we don't know what their filenames are though. Ideally it's something we could know in advance (eg by specifying the, or they're computable in a straightforward way). I guess we could use artifact notifications or just inspect what was left in a previously empty directory after the fact.

[2022-02-14 23:30] Aaron1011 commented on #93998
@fschuetz Can you link to your full repository?

[2022-02-15 00:03] jonhoo opened #94007 "bootstrap: RUSTFLAGS_*_BOOTSTRAP does not affect build scripts"
It's unclear if this _should_ be a bug report for Rust's bootstrap or not, but it feels like it's appropriate if only for tracking the problem for when others run into the same. I think closing this is also reasonable.

When `RUSTFLAGS_BOOTSTRAP`/`RUSTFLAGS_NOT_BOOSTRAP` is passed to to `x.py` (gets picked up [here](https://github.com/rust-lang/rust/blob/c5c610aad0a012a9228ecb83cc19e77111a52140/sr

[2022-02-15 00:17] jonhoo commented on #94007
I just tried a quick-n-dirty build where I removed the line above that adds `--target` to every `cargo` invocation, and unfortunately then the build panics at

https://github.com/rust-lang/rust/blob/c5c610aad0a012a9228ecb83cc19e77111a52140/src/bootstrap/compile.rs#L1325

with

[code]

[2022-02-15 00:51] jonhoo commented on #94007
For others who run into this, this patch worked for me against Rust 1.58.1, though should almost certainly not be upstreamed in its current form:
[code]

[2022-02-15 01:04] jonhoo commented on #94007
Unfortunately I don't think there's a `-Z` flag to make "the right thing" happen here. @alexcrichton sorry to loop you in, but I think your familiarity with the intricacies may be necessary to point us towards the best workaround here. Which, to be fair, could be "if this hits you, apply the above patch before building" in the short-to-medium-term.

[2022-02-15 01:09] Mark-Simulacrum commented on #94007
Yes, I meant that given the backwards compat concern with just changing RUSTFLAGS behavior in Cargo, a -Z flag to opt-in may be one path forward.

[2022-02-15 01:20] willcrichton commented on #93927
The relevant code is in op.rs, primarily added in this commit from @estebank: https://github.com/rust-lang/rust/commit/8f40dae93b3a66a9cdd0f940244da7f602618fba

I believe the issue is that the high level `missing_trait` is not the same as the trait needed to fulfill the actual obligation. One possible solution is to avoid using `suggest_constraining_param` (and getting rid of it!), and instead use

[2022-02-15 01:27] tmandry commented on #94003
I talked with @ComputerDruid about this some. After the initial bootstrap.py patch, it looks like we hit https://github.com/rust-lang/cargo/issues/4423.

[2022-02-15 01:34] tmandry commented on #94007
Fuchsia also _just_ ran into this in #94003 🤔

[2022-02-15 01:56] repnop opened #94008 "ICE with `Box::new_in` when taking the `Allocator` by reference"
### Code
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=852b2d4833c2c88c774a3630f0f6362b
[code]

### Error output

[code]

[2022-02-15 02:07] repnop commented on #94008
duplicate of https://github.com/rust-lang/rust/issues/92054

[2022-02-15 02:07] #94008 closed

[2022-02-15 02:12] cosmicchipsocket commented on #83125
cc @jpernst

I am using `alto` which uses `al-sys` and `rental`, both crates that throw this warning. What's my best course of action here? I need maintained OpenAL bindings and I am only a single dev with limited time and resources.

[2022-02-15 02:53] clarfonthey commented on #63063
Any status updates on this?

Right now, not being able to properly name function types is still a huge bummer, and another big case I ran into is the lack of any meaningful way to name the type of `iter.map(Into::into)`, to avoid having to write my own boilerplate. I was considering offering such an adapter to libstd to get around this (for example, `iter.cloned()` has a dedicated type even though

[2022-02-15 03:43] compiler-errors commented on #93980
@ChayimFriedman2, amazing find!

If we remove that delay-as-bug, do we see a lot of unnecessary new errors being emitted in the ui tests?

On the other hand, it might be useful just to special case this logic and attach it to the "invalid left-hand side" error.

[2022-02-15 03:45] fanninpm commented on #93370
- Are you able to provide some code that reproduces this problem? It's completely understandable if the code causing this ICE is proprietary/closed-source/NDA, but please understand that it's often easier for the rust-lang devs to isolate and reproduce this ICE if they have enough clues to find out how it happened. Often, an [MCVE](https://dba.stackexchange.com/help/minimal-reproducible-example) w

[2022-02-15 03:46] fanninpm commented on #93958
- Are you able to provide some code that reproduces this problem? It's completely understandable if the code causing this ICE is proprietary/closed-source/NDA, but please understand that it's often easier for the rust-lang devs to isolate and reproduce this ICE if they have enough clues to find out how it happened. Often, an [MCVE](https://dba.stackexchange.com/help/minimal-reproducible-example) w

[2022-02-15 04:02] Mizobrook-kan commented on #94005
I will try it. @rustbot claim

[2022-02-15 04:33] jyn514 commented on #94007
The -Z flag is `host-config`, but [it doesn't work](https://github.com/rust-lang/cargo/issues/10206).

[2022-02-15 04:39] #93197 closed

[2022-02-15 04:46] ehuss opened #94010 "bad span for suggestion in format string"
The span for a typo suggestion inside a format string encompasses the `{}` characters, causing them to be removed, breaking the format string.

[code]

The current output is:

[code]

Applying the fix results in:

[code]

which is now missing the `{}` characters.

[code]

[2022-02-15 05:18] pierwill commented on #93973
https://github.com/rust-lang/rust/pull/93994 did not show any relevant performance results. Closing this for now.

[2022-02-15 05:18] #93973 closed

[2022-02-15 05:29] ChayimFriedman2 commented on #93980
Here's what the compiler emits if I comment the above code out:
[code]

Not so bad, but maybe it can become more verbose in other cases and not emitting redundant errors is always better. I'll try to update the logic so it'll just append the help.

[2022-02-15 06:16] alexcrichton commented on #94007
This is what `-Zhost-config` is for but testing it locally I don't think it's ready for this use case yet, I think it may be buggy internally or not have a finished implementation.

[2022-02-15 06:51] nyetwurk commented on #86470
[code]
1) it seems adjtime(3) can cause a rewind
2) what is the difference between "consecutive" and "successive"?

[2022-02-15 07:04] #93676 closed

[2022-02-15 07:32] Stargateur commented on #83125
@cosmicchipsocket look like [alto](https://github.com/jpernst/alto)is archived so not much.

You can use a fixed rustc version where you know your project compile but this is a no update solution, you can of course fork alto, rental can be replace with [ouroboros](https://crates.io/crates/ouroboros)

I don't don't much about openAl, I found [`ears`](https://lib.rs/crates/ears) but that all.

[2022-02-15 08:06] xfix commented on #41221
I would argue that not having to import a trait into scope for `Box<dyn Tr>` is a bug, however because of backwards compatibility it's here to stay.

I think extending it to existential `impl Trait` would be a big mistake as that would mean that replacing `impl Trait` with a concrete type  could be a breaking change.

[2022-02-15 08:29] bombless commented on #89122
I just noticed that the syntax is alreay arbitary
[code]

Even after we decide `where` should behind something or before anything, we still need to think of a new way to express `struct A<T> (bool, T) where T: Copy;`
I imagine it should be `struct A<T> where T: Copy (bool, T);`
Okay we have a new problem, we don't know the ending of the type part here.
So maybe `struct A<T> where T: Copy {(bool, T

[2022-02-15 08:54] oli-obk commented on #63063
The PR ran into some unexpected corner cases and had to be reverted, i'll post a new one as soon as the known problems have been addressed and will run crater then. Even if merged, it'll bake a while on nightly and need 6-12 weeks after stabilization on nightly in order to hit stable

[2022-02-15 08:58] djc commented on #63063
For the semi-detached reader of this issue, it might not be clear which PR you are referring to (since that PR doesn't seem to have reference this tracking issue?). I think you might mean #92007?

[2022-02-15 09:31] #70468 closed

[2022-02-15 10:38] GuillaumeGomez commented on #92940
I can't find a case where the impl is added if the type is in the generics. Do you have an example maybe?

[2022-02-15 10:40] GuillaumeGomez commented on #92859
Isn't it the same as #93882?

[2022-02-15 10:51] GuillaumeGomez commented on #92421
It has been fixed differently in the end:

![Screenshot from 2022-02-15 11-50-48](https://user-images.githubusercontent.com/3050060/154047406-434ba53a-533d-412d-94a2-c6b99c2a220b.png)

[2022-02-15 10:51] #92421 closed

[2022-02-15 11:24] danielhenrymantilla commented on #93904
Yeah, I share the feeling: feel free to go and make it `#[doc(hidden)]` again then

[2022-02-15 12:02] bikeshedder opened #94018 "ICE when spreading a reference returned by a method"
### Code

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=18b5d1e136c1560a01287bb5466b0228

[code]

### Meta

`rustc --version --verbose`:
[code]

When running it with beta or nightly it reports the proper error:

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### My findings

- The error only exists wh

[2022-02-15 13:25] GuillaumeGomez commented on #90351
![Screenshot from 2022-02-15 14-24-24](https://user-images.githubusercontent.com/3050060/154070863-08365333-9479-4550-bab9-66fd359e90d2.png)

It seems to be fixed so closing.

[2022-02-15 13:25] #90351 closed

[2022-02-15 13:38] PonasKovas commented on #94000
I personally see no reason not to make it so.

I don't think you understand my problem. Here's a more specific example: say you wanted to make a FFI-safe `Vec`. Since `Vec` can be easily disassembled to it's raw parts (pointer, length and capacity), you can create
[code]
And implement methods for converting from/to the original `Vec`.

Now the problem is that you can use any `T` in this `SafeVec<T

[2022-02-15 13:58] DCNick3 commented on #67650
[nextest](https://nexte.st/) seems to use separate processes for each test and (usually) can be used as a drop-in replacement for `cargo test`

[2022-02-15 14:45] bikeshedder commented on #94018
Looks like the exact same problem. Since it is no longer existant in the beta or unstable channel I guess it was fixed by #92112 as well.

[2022-02-15 14:45] #94018 closed

[2022-02-15 16:12] bstrie commented on #32408
I am not on the lang team, but since the FCP has ended I hope it is not presumptuous of me to close this in acknowledgement of the lang team's decision to supersede RFC 1201 with RFC 2972. Allow me to once again **strongly** encourage anyone interested in naked functions to please review the tentative stabilization report for RFC 2972's minimal subset of naked functions ( https://github.com/rust-l

[2022-02-15 16:12] #32408 closed

[2022-02-15 16:20] oli-obk commented on #81996
Small update after checking in with some very helpful MSVC folk:

* `int arr[0]` is treated as `int* arr` due to legacy reasons
* it causes problems within MSVC C++ itself
* it is unlikely to ever change due to the fact that it would break their own ABI

So, basically, considering this feature is

* broken on clang in MSVC compat mode
* broken in rustc in `#[repr(C)]` while compiling for MSVC
* br

[2022-02-15 16:42] fintelia commented on #90957
Are you sure that this actually happens when rustc decides to inline a naked function? In the past, [inlining a naked function also skipped setting up the callstack properly](https://github.com/rust-lang/rfcs/pull/2774#issuecomment-536145700).

If I understand correctly, this is equivalent to saying that **asm blocks in naked functions may not export symbols** because you'd get linker errors if an

[2022-02-15 17:07] ehuss commented on #94004
Thanks for the report!  Is this a public project you can share? Or perhaps you can put together a minimum reproduction?  And perhaps you can narrow down to one specific nightly where it starts happening?

[2022-02-15 17:18] bstrie commented on #90957
We're at the mercy of LLVM to not inline a naked function. We emit LLVM's `noinline` attributes on naked functions, which is documented like so: *"This attribute indicates that the inliner should never inline this function in any situation."* We have (a codegen test)[https://github.com/rust-lang/rust/blob/dca1e7aa5a8ac05ddaea731f4eab20de91acb46b/src/test/codegen/naked-noinline.rs]to ensure that th

[2022-02-15 17:20] fschuetz commented on #93998
I can. However, its on gitlab. The repo is not public, so a user would be needed, or I can temporarily switch it to public. I can also checkin the code here in github. However, I just noticed one thing: When I checkout the code to a new directory, the compiler does NOT crash. Also, when I copy the directory (cp -r) containing all source and compile, it does not crash. It seems it only crashes in t

[2022-02-15 17:44] pierwill opened #94025 "Document `rustc_middle::mir::Field`"
This type, defined [here](https://github.com/rust-lang/rust/blob/87dbccd4b525daa0516dc43184905afb45eb88ee/compiler/rustc_middle/src/mir/mod.rs#L1844), lacks documentation. Documentation might want to answer questions like: What does this type represent? What are its uses?

@rustbot label +T-Compiler +E-Easy

[2022-02-15 18:27] joshtriplett commented on #32976
We discussed this in today's @rust-lang/lang meeting. We'd like to roll back the portion of the stabilization PR that stabilized `target_has_atomic_load_store`, and only stabilize `target_has_atomic`. We want to make the decision *separately* about whether we want that fine-grained cfg.

We'd also like to have documentation for `target_has_atomic`, and we'd like that documentation to reflect that

[2022-02-15 18:45] jonhoo commented on #94007
Interestingly, the patch I posted above (and probably more generally when the bootstrap rustflags _are_ applied to build scripts) somehow trips up `indexmap`'s [`build.rs` std detection](https://github.com/bluss/indexmap/blob/master/build.rs) when building stage0 compiler artifacts and makes it think it doesn't have `std` available when it does. This in turn causes it to [not provide](https://gith

[2022-02-15 18:59] cuviper commented on #94007
I only added `CARGO_ENCODED_RUSTFLAGS` recently in autocfg 1.1.0, so the vendor in Rust 1.58.1 is probably not using the right flags at all, since cargo has been un-setting `RUSTFLAGS` entirely after the encoded version landed.

[2022-02-15 19:00] ehuss commented on #57398
I'm going to close this as I don't think there is anything particularly actionable here.

When #57101 landed, the other tools were already in the "broken" state.  There would be no way to check for the failure when they were already failing.  Also, it did detect that `miri` failed.

Nowadays, clippy is in-tree and its tests are now required to pass, so that should detect this particular problem.

[2022-02-15 19:00] #57398 closed

[2022-02-15 19:02] joshtriplett commented on #93838
We discussed this in today's @rust-lang/lang meeting. We'd be fine with stabilizing such a guarantee.

We'd want to make sure that the language used to make the guarantee still allows the compiler to optimize away code (e.g. anything that doesn't have a visible side effect such as a panic).

[2022-02-15 19:16] pierwill commented on #53590
I'd like to look into this. @rustbot claim

[2022-02-15 19:16] jonhoo commented on #94007
Ah, right, so these flags would be applied to the compilation _of_ `indexmap`'s `build.rs`, but would not actually be passed _to_ `build.rs`. That makes it sound even more as though what's at fault here is that there's _some_ logic I missed that tries to copy stage0's `std` under the assumption that `--target` being passed to `cargo`. The digging continues!

You make a good point though that I'll

[2022-02-15 19:22] talchas commented on #81996
Doing this in general would break the most obvious way to represent flexible array member (either the spec-supported `char x[]` or the old `char x[0]`) in rust, which MSVC supports, or the align hack usage. MSVC only breaks for the case of a struct with nothing but the single zero-length array. Loudly warning /that/ seems totally fine though.

[2022-02-15 19:44] nikomatsakis commented on #93203
# writeup on scoped threads

In the @rust-lang/lang meeting today, I [agreed to do a writeup](https://github.com/rust-lang/lang-team/blob/master/minutes/2022-02-08.md#tracking-issue-for-scoped-threads-rust93203) about the question of whether a more ergonomic API is possible. I see that @danielhenrymantilla has a nice write-up [here](https://github.com/rust-lang/rust/issues/93203#issuecomment-10192

[2022-02-15 19:52] scottmcm opened #94026 "`Hasher::write` should clarify its "whole unit" behaviour"
Inspired by https://users.rust-lang.org/t/hash-prefix-collisions/71823/10?u=scottmcm

[`Hash::hash_slice`](https://doc.rust-lang.org/std/hash/trait.Hash.html#method.hash_slice) has a bunch of text clarifying that `h.hash_slice(&[a, b]); h.hash_slice(&[c]);` is *not* guaranteed to be the same as `h.hash_slice(&[a]); h.hash_slice(&[b, c]);`.

However, [`Hasher::write`](https://doc.rust-lang.org/std/

[2022-02-15 19:59] drewkett commented on #73448
Not sure if I should make a separate issue for this, but I found some surprising behavior when running into this when using `arrayvec::ArrayString` which has a const generic length and manually implements `PartialEq, Eq`.

The following compiles without complaint
[code]

But if I change `Bar` to `Self` in the const definition like below, it warns that the constant initializer is nontrivial
[code]

[2022-02-15 20:10] m-ou-se commented on #90470
I think the unresolved questions above can be ideas for future additions, but aren't blockers for this API.

@rfcbot merge

[2022-02-15 20:11] Frederik-Baetens commented on #85132
Resolving #73741 seems to have removed the extraneous error messages. Newer compilers have much cleaner output.

The error could still be improved to include the suggestion to "return"(?) something within the async block, perhaps by removing the ";". If the analysis for such a suggestion is too complex to be feasible, feel free to close this issue.

[2022-02-15 20:14] Frederik-Baetens commented on #85131
Solved in newer compiler versions, thanks to whomever did the fantastic work on this!

[2022-02-15 20:14] #85131 closed

[2022-02-15 20:31] fintelia commented on #90957
I'd prefer that inlining a naked function was always considered a compiler bug. No one wants it to happen. No one has demonstrated a case where it currently happens. No one has shown that the code exists to configure the callstack properly if it did. And at least one case where inlining used to happen _didn't_ do anything to configure the callstack.

The current text is even rather vague about wha

[2022-02-15 21:13] danielhenrymantilla commented on #93203
Okay, that 2021-edition-captures tangent about a `&T` being captured by "value" rather than by ref (`&&T` on older editions) is actually a very interesting escape hatch. It basically provides one case `favor_capture_by_move`, and one case is all I needed:

[code]

scope parameter that would be captured "by value", and with the inner `'scope`, made interiorly invariant, so as to be able to use `F :

[2022-02-15 21:20] #93278 closed

[2022-02-15 21:22] colin-grapl opened #94028 "ICE when running `cargo test`"
Unfortunately, I can't reproduce this. I ran `cargo clean` so that I could start to narrow things down and it went away. It did happen multiple times in a row.

This command triggered it:
`RUST_LOG=debug cargo test smoketest -- --nocapture`

But this didn't:
`cargo check --all-features --all-targets`

### Code

I can't post everything, but here's the line it's referencing. It seems totally benign.

[2022-02-15 21:27] hiaselhans opened #94029 "Regression bug: Code never stops compiling (rustc>=1.45)"
### Code

reproducer:
https://github.com/hiaselhans/rust_reproducer

I tried this code:

[code]

with
[code]

##### I expected to see this happen:

- code should compile

#### Instead, this happened:

- cargo/rustc never stops compiling.
- one thread is stuck at 100% use.

### Version it worked on

It most recently worked on: Rust 1.44

`rustc --version --verbose`:
[code]

### Version with regress

[2022-02-15 21:30] andrewbanchich commented on #94004
Seems like this may be related to [this PR](https://github.com/tokio-rs/tokio/pull/4359) which was part of Tokio 1.16, although I'm not sure why it the same code would compile on stable and not nightly.

[2022-02-15 21:50] cuviper opened #94032 "optimized i686 fails primal-sieve tests"
Discovered in https://github.com/huonw/primal/pull/37#issuecomment-1040750795

### Code

I don't have reduced code, but the `primal-sieve` testsuite fails on `i686-unknown-linux-gnu` when compiled in `--release` mode, specifically on this line:
https://github.com/huonw/primal/blob/79bafd3400ecf530bea1d26db4f3854407588c2a/primal-sieve/src/sieve.rs#L769

[code]

It fails when compiled from x86_64 ho

[2022-02-15 21:56] workingjubilee commented on #92859
No, that instance did not require `#![feature(generic_const_exprs)]` to be enabled (we controlled for that variable using `cfg_attr`).

[2022-02-15 22:09] cuviper commented on #94032
I just tried `armv7-unknown-linux-gnueabihf` under qemu to see if the bug is a 32-bit thing, but that passes fine.

[2022-02-15 22:16] tmiasko commented on #57596
Reduced test case:

[code]

The following condition used by symbol printer seems to be responsible for producing different symbols.

https://github.com/rust-lang/rust/blob/bfb2856f271fcb647b3cad1b88b29ec97bbab2a3/compiler/rustc_middle/src/ty/print/mod.rs#L191-L194

[2022-02-15 22:31] ChayimFriedman2 commented on #94010
@rustbot claim

[2022-02-15 22:42] Jc2k commented on #93998
I had the same panic (same file, same line), also on x86_64-apple-darwin.

I `rm -rf` my `target` folder and it fixed the problem, unfortunately I can't recreate the issue now.

One data poin I guess is that i'm using VSCode with rust-analyzer.

[2022-02-15 22:44] joshtriplett commented on #90470
I feel like the comment on the PR about `try_join` (ignoring any naming questions) seemed right: the use case for this seems like "check is_running and then immediately join, but don't block for any appreciable amount of time".

That said, the type signature (`fn try_join(self) -> Result<..., Self>` would be annoying to deal with in practice, and it doesn't seem like a good idea to make it work wi

[2022-02-15 22:52] joshtriplett commented on #90470
https://github.com/rust-lang/rust/pull/94033

[2022-02-15 23:06] dbrgn opened #94035 "Tracking Issue for ASCII trim functions on byte slices"
Feature gate: `#![feature(byte_slice_trim_ascii)]`

This is a tracking issue for ASCII trim functions on byte slices.

### Public API

The feature adds three new methods to byte slices (`[u8]`):

- `const fn trim_ascii_start(&self) -> &[u8]`: Remove leading ASCII whitespace
- `const fn trim_ascii_end(&self) -> &[u8]`: Remove trailing ASCII whitespace
- `const fn trim_ascii(&self) -> &[u8]`: Remove

[2022-02-15 23:34] cosmicchipsocket commented on #83125
My project is a public crate so I can't just freeze the Rust version. `ears` isn't going to work for me because it's an engine rather than just a wrapper around OpenAL. It also relies on external (possibly OS-specific) C libraries to load sound formats, which I am trying to avoid.

I'm most likely just going to end up forking `alto`. But my big worry is that dependency-breaking changes are going t

[2022-02-15 23:46] Aaron1011 commented on #83125
Can you post the output you're getting from the compiler?

[2022-02-15 23:51] cosmicchipsocket commented on #83125
[code]

[2022-02-15 23:54] tczajka commented on #94026
While we are at it, it would be good to also clarify what prefix-freedom means in the presence of o mix of `write` calls, `write_u64` calls, etc when the type is also `Eq`.

I propose the following rules:

For `Hash::hash`:
* Compress the sequence of `Hasher` method calls by combining consecutive `write` calls, concatenating the byte slices.
* If `x == y`, the resulting sequences of calls must be

[2022-02-16 00:07] Dirbaio commented on #32104
If your image is a SVG, you can include it directly with `include_str!`, as SVG is valid HTML.

[code]

[2022-02-16 00:21] Aaron1011 commented on #83125
Thanks! It looks like all of these warnings stem from the `rental` crate. Fortunately, `rental 0.5.6` (which you're using) includes a fix that will allow it to continue compiling, even when the `proc_macro_back_compat` hacks are removed. Specifically, you do *not* need to fork `alto` (or take any action, in fact) for your crate to continue compiling in future versions of Rust. However, the compile

[2022-02-16 00:42] jonhoo commented on #94007
I missed the early `continue` for proc-macros when the host prefix is matched (which is now identical to the target prefix) here:

https://github.com/rust-lang/rust/blob/6bf3008f0757c7c89c3f02e0e7eaac5ee30c1c6c/src/bootstrap/compile.rs#L1281-L1289

Still figuring out how to properly replace that check. My earlier patch seems to fail to find the `stage0` `libstd`, and instead links the `libstd` fro

[2022-02-16 02:21] cosmicchipsocket commented on #83125
Thank you for the response. I'm feeling a bit better about this now.

You mentioned that the warnings are only stemming from `rental` though, when the output specifically lists `al-sys` as well. Is it just because the warning is pointing to `rental` specifics within the `al_api` macro?

[2022-02-16 02:22] Mark-Simulacrum opened #94038 "Tracking Issue for warning on unused lifetimes (by default)"
### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions, or bug reports about a feature.
Instead, open a dedicated issue for the specific matter and add the relevant feature g

[2022-02-16 02:24] #63964 closed

[2022-02-16 02:26] Mark-Simulacrum commented on #41960
Closing this in favor of https://github.com/rust-lang/rust/issues/94038, which is tracking the enabling of this by default -- I opted to file a new issue so that we have a cleaner history given its tracking status.

[2022-02-16 02:26] #41960 closed

[2022-02-16 02:26] Mark-Simulacrum commented on #82998
Going to go ahead and close this in favor of https://github.com/rust-lang/rust/issues/94038 since this is otherwise working as intended (just needs that to be enabled).

[2022-02-16 02:26] #82998 closed

[2022-02-16 02:31] Mark-Simulacrum commented on #93034
@craterbot retry-report

[2022-02-16 02:36] Mark-Simulacrum opened #94039 "Tracking Issue for cfg_target_has_atomic_load_store"
The feature gate for the issue is `#![feature(cfg_target_has_atomic_load_store)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions, or bug reports about a feature.
In

[2022-02-16 02:36] Aaron1011 commented on #83125
That's right - you can use `RUSTFLAGS="-Z macro-backtrace"` on nightly to see this

[2022-02-16 02:53] Mark-Simulacrum commented on #32976
I've filed https://github.com/rust-lang/reference/pull/1171 to document target_has_atomic in the reference, and https://github.com/rust-lang/rust/pull/94040 to destabilize load_store.

[2022-02-16 03:21] camelid commented on #92940
On Vec's page: https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html#impl-PartialEq%3CVec%3CU%2C%20A%3E%3E-5

![image](https://user-images.githubusercontent.com/37223377/154189901-3fcb3b1c-01df-4aa3-b0eb-950f8c4a75ae.png)

[2022-02-16 04:18] jonhoo commented on #94007
I wonder if I'm running into the fact that with `--target` _more_ artifacts are supposedly generated (https://github.com/rust-lang/cargo/issues/5730#issuecomment-405629218). It may be that I instead need to resort to setting `CARGO_TARGET_X86_64_UNKNOWN_LINUX_GNU_RUSTFLAGS`, modifying `.cargo/config`, or something along those lines. Or fix `-Ztarget-is-host` 😅

[2022-02-16 06:05] Stargateur commented on #83125
@cosmicchipsocket you mix a lot of thing, true that breaking is disappointing, but archived repository is not rust compiler fault. with or without this you would end up with an unmaintained dependencies. So you are already in a situation with no upgrade cause of this dead crate.

[2022-02-16 06:26] fschuetz commented on #93998
I edit in VSCode with rust-analyzer running, but I do compile in the shell. Also, the panic occurs when VSCode is not running.

[2022-02-16 06:43] camsteffen commented on #93951
Could we just wrap the `if` in the let-else desugaring with a `DropTemps`?

[2022-02-16 06:52] wllenyj commented on #83552
The same problem reappeared in 1.60.0-nightly (09cb29c64 2022-02-15)
[code]
See https://github.com/wllenyj/dragonball-sandbox/runs/5212083346 for details.

[2022-02-16 06:57] Mizobrook-kan commented on #94025
I recently read this section, can I try it?

[2022-02-16 07:09] cormacrelf commented on #93951
Well isn't that convenient! Yeah, I suppose we could.

[2022-02-16 07:45] Jc2k commented on #93998
Same here, it's probably a co-incidence. But just making sure to capture anything I've done or use that could have contributed to something getting corrupted in my target folder.

It has been fine since I did cleaned out target, so your broken directory is key to repro atm.

[2022-02-16 07:51] cormacrelf commented on #93951
I've just tried this, and it also suffers the same thing #94012 did, with the unreachable code warnings when the desugaring ends up with a return in both branches. It is probably complaining about the DropTemps expression itself being unreachable. We can't slap an `#[allow(unreachable_code)]` on it lest it ignore all unreachable code inside, but I think we can disable the emission of such warnings

[2022-02-16 07:53] TotalKrill commented on #32104
We should encourage usage of SVG as format in documentation output, it is a well working format for block-diagrams, flowcharts and similar things that are actually useful for documentation purposes.

Nice tip though!

[2022-02-16 08:02] a-lafrance opened #94047 "Tracking Issue for `Iterator::try_collect`"
Feature gate: `#![feature(iterator_try_collect)]`

This is a tracking issue for adding the `try_collect()` method to the `Iterator` trait. `Iterator::try_collect()` is a fallible variation of `Iterator::collect()` analogous to similar methods for `reduce` and `fold`, among others, that provides a simpler, generic way to collect iterators of `Try` elements into `Try`-wrapped types.

### Public API

[2022-02-16 08:18] Andlon commented on #32104
If you can rely on Rust >= 1.54, then using [embed-doc-image](https://docs.rs/embed-doc-image) is also similarly simple:

[code]
This should work with all major file formats supported on the web. The example code in the docs are much more complex because they explain how to have a graceful fallback to Rust < 1.54. If you don't need this then it's simple to use. I should probably update the docs wi

[2022-02-16 08:38] cormacrelf commented on #93951
Ah cool, turned out to be pretty easy.

[2022-02-16 09:03] GuillaumeGomez commented on #32104
You can make it generate `cfg(doc)` and it'll only be generated when rustdoc is running.

[2022-02-16 09:06] Andlon commented on #32104
@GuillaumeGomez: that sounds perfect. Seems like `cfg(doc)` has not been stabilized yet, is this correct? According to https://doc.rust-lang.org/beta/unstable-book/language-features/doc-cfg.html.

[2022-02-16 09:06] wllenyj commented on #50203
The same problem reappeared in 1.60.0-nightly (09cb29c64 2022-02-15)
[code]
See https://github.com/wllenyj/dragonball-sandbox/runs/5212083346 for details.

[2022-02-16 09:11] GuillaumeGomez commented on #32104
`doc(cfg())` != `cfg(doc)`. :wink: It's been stable for a while now. There is also `cfg(doctest)` (which is when you run `rustdoc --test`).

[2022-02-16 09:12] GuillaumeGomez commented on #32104
The documentation is [here](https://doc.rust-lang.org/rustdoc/advanced-features.html?highlight=cfg(doc#cfgdoc-documenting-platform-specific-or-feature-specific-information).

[2022-02-16 09:33] michaelwoerister commented on #53590
In my estimation this would be a rather fundamental change with correctness implications that are hard to predict. I also don't see how it would fundamentally improve performance. As a reference point, we recently fixed the hashing of modules to take item order into account (for correctness reasons) and that basically had no negative effect on the benchmarks, IIRC. With current, already hard to ma

[2022-02-16 09:34] ast-ral opened #94048 "T keyboard shortcut no longer functions on new docs layout"
In the "?" menu in the nightly* stdlib docs, it's documented that pressing "T" should "Focus the theme picker menu", however this menu appears to no longer exist.

\* specific version: `1.60.0-nightly (09cb29c64 2022-02-15)`

@rustbot label P-low T-rustdoc

[2022-02-16 09:35] Andlon commented on #32104
@GuillaumeGomez: that's very interesting! I was led to believe otherwise by the following sentence in the unstable book (see link above):

![image](https://user-images.githubusercontent.com/578309/154235566-b0971c11-d380-4002-9b31-a0e2bf4c7561.png)

I couldn't find out *when* `cfg(doc)` was stabilized. This would be useful info for documenting a fallback solution. Do you know where to find this in

[2022-02-16 09:35] ast-ral commented on #94048
@rustbot label +T-rustdoc

[2022-02-16 09:39] GuillaumeGomez commented on #32104
No even though there is an open issue about that on cargo. But it hasn't received much attention unfortunately.

As for `cfg(doc)`, it's stable since 1.40.

[2022-02-16 09:40] GuillaumeGomez commented on #32104
And [here](https://github.com/rust-lang/cargo/issues/8905) is the cargo issue.

[2022-02-16 10:12] ChayimFriedman2 commented on #94047
The name `try_collect()` may become a problem if one day we would want a `collect()`-like method with fallible allocations (like e.g. `Vec::try_reserve()`).

[2022-02-16 10:33] dhardy opened #94049 "rustdoc: glob-import name clash (re-export)"
When a local module clashes with a re-exported module...

### Internal module
[code]

Resulting documentation (library root's module list):
[code]
Both links for `x` link to the same page, which shows the documentation for `internal::x` (only lists constant `ONE`).

### Cross-crate re-export
Almost as above, but move `internal` into a different crate:
[code]

[code]

Resulting root documentation i

[2022-02-16 10:45] m-ou-se commented on #93740
@nagisa Yes. That's an issue with all platform-specific code, I suppose. But we do plan to also have the CI test the generic implementation (parking lot) on Linux as well, so it gets test coverage.

[2022-02-16 10:48] petrochenkov commented on #81490
This is harder because crates are not just names for rustc, unlike native libraries, they have dependencies between each other, they are sorted by topological sort to avoid breaking those dependencies, dependency crates may also bring their own native libraries.
So the resulting linker command line may be very different from what was originally passed to rustc with `--extern` options.

[2022-02-16 11:03] klensy opened #94051 "rustc build artifacts should contain checksum to pervent unrelated ICEs / miscompiles / etc"
Checked with incremental compilation artifacts:

1. Created default cargo project with:
main.rs:
[code]
2. in Cargo.toml turned on `incremental = true`
3. `cargo build`
4. in `target/debug/incremental/[some_path]` folder opened some `dep-graph.bin`, `query-cache.bin` (didn't checked other types yet) and randomly changed few bytes.
5. opened main.rs and added\removed spaces around (to use increment

[2022-02-16 11:05] klensy commented on #94051
@rustbot label +T-compiler +I-ICE

[2022-02-16 11:28] m-ou-se commented on #93740
I'm now reading through the various popular lock implementation to see how those are implemented.

Starting with **musl**.

#### Mutexes

Musl's `pthread_mutex_t` is 40 bytes (on 64-bit), although for regular/normal mutexes, only two 32-bit integers are relevant/used: the `lock` futex and the `waiters` counter. (Pthread mutexes support various attributes and different types which are all runtime s

[2022-02-16 11:58] petrochenkov commented on #46736
Branch in progress - https://github.com/petrochenkov/rust/tree/cstr.
I've only moved stuff to liballoc yet, not to libcore, but it seems like there are no technical reasons (coherence or something) preventing this issue from being resolved.

[2022-02-16 12:19] hellow554 commented on #94047
Maybe I'm blind and I can't find it, but you can already to something like this:

[code]

What is the different to `try_collect`?

[2022-02-16 12:22] ChayimFriedman2 commented on #94047
IIRC the point was to ease the discovery.

[2022-02-16 12:27] hellow554 commented on #94048
The "All crates" drop down has also disappeared:

Beta:
![grafik](https://user-images.githubusercontent.com/921462/154264365-dd1b7906-d7d0-4858-8559-7b25395c9d29.png)

Nightly:
![grafik](https://user-images.githubusercontent.com/921462/154264398-94df02d7-8bd7-4a3a-97a2-60bfda47bc8e.png)

@rustbot modify labels: regression-from-beta-to-nightly

[2022-02-16 12:41] kamulos commented on #39699
Is it possible to get a quick overview of the status of this? The ASAN on Linux seems to work really well and is an invaluable tool in a mixed Rust and C application. Is it possible to stabilize this in steps?

After the incredible recent push of @joshtriplett to stabilize commonly used features like `instrument-coverage` this will be the last thing forcing a nightly compiler in the test pipeline

[2022-02-16 12:48] lcnr commented on #93995
Why that? The reasoning behind adding something like `maybe` seems to be the same for `let-else` where we explicitly decided against adding anything apart from the `else`.

[2022-02-16 12:54] Mark-Simulacrum commented on #94051
I'm not sure that it makes sense to add checksums - they'll likely add overhead to compilation, and ultimately even source code could have bits flipped to be different in a way that rustc can't detect. I sort of see this as similar to writing random data into a running rustc's memory - it doesn't really feel in scope.

[2022-02-16 13:08] nikic commented on #94032
The relevant difference with the NewPM seems to be that the next() method gets inlined now.

[2022-02-16 13:30] peckpeck commented on #44762
It works \o/ and passes existing tests (the current behaviour is not broken)
Now I need to write tests to exhibit the new behaviour and fix the search loop (it currently tries everything including mutability change for example)

What would be the next step after this ?

[2022-02-16 13:54] burrbull commented on #36887
Any chance this restriction to be removed for functions?

[2022-02-16 14:11] Xiretza commented on #94047
Right, the name of this function made me think it was about collecting regular (non-`Try`) values into things like arrays or fallibly allocated `Vec`s.

[2022-02-16 14:23] annmarie-switzer commented on #94004
@ehuss It is broken on nightly-2022-02-13 and nightly-2022-02-15, but works on nightly-2022-02-09. I can not share the repo but I will try to put together reproduction soon.

[2022-02-16 14:51] m-ou-se commented on #93740
Next: **glibc**'s *mutexes*. (Glibc's condition variables and rwlocks are a bit more complicated. I'll come back to those later.)

#### Mutexes

Glibc's mutexes are 40 bytes and support a lot of different properties. The 'normal' kind, (`PTHREAD_MUTEX_TIMED_NP`) however is very simple, and only uses three 32-bit fields: the lock futex, the owner thread id, and the number of users. The last two fie

[2022-02-16 14:52] annmarie-switzer commented on #94004
Sorry I misunderstood. We tested on nightly 2022-02-12 and it compiles. So something broke on the release on the 13th.

[2022-02-16 14:53] memoryruins commented on #93995
There were considerations about these two features interacting in the `let_else` tracking issue <https://github.com/rust-lang/rust/issues/87335#issuecomment-901067006> and the rfc <https://github.com/rust-lang/rfcs/pull/3137#issuecomment-866801443>, but discussion was paused for when the features matured a bit, which appears to be now. @matklad if you've had more thoughts about this since that com

[2022-02-16 14:57] bstrie commented on #90957
@fintelia I'm happy to tweak the proposed language in the reference (PRs accepted). As mentioned, I think the risk of anything going wrong here is quite low, and plenty of things to do with soon-to-be-stable-asm already feature relatively fragile semantics (e.g. [labels](https://github.com/rust-lang/rust/issues/81088) and [directives](https://rust-lang.zulipchat.com/#narrow/stream/213817-t-lang/to

[2022-02-16 15:06] nikomatsakis commented on #93203
@danielhenrymantilla Heh, thanks for proving my conclusion a bit hasty! I think indeed that this scheme can work, though whether the type is too complex is a good question.

To elaborate a bit around this point, if we had the ability to write `for<'a where 'a: 'b>` (not a syntax I would recommend, but hopefully you get the idea) then effectively what we want to be able to say is something like

[c

[2022-02-16 15:13] nikomatsakis commented on #44762
@peckpeck you can open a PR and put "r? @nikomatsakis" in it

[2022-02-16 15:20] edmorley commented on #87437
This misleading diagnostic also caught me out too recently.

I also found #90970 which seems related.

[2022-02-16 15:21] edmorley commented on #90970
See also #87437 (which may be a dupe of this or vice versa, unless I'm misunderstanding).

[2022-02-16 15:47] nagisa commented on #94035
If we're adding `ascii` variants to `[u8]`, we should also add equivalent operations to `str` at the same time. I feel this is pretty important because otherwise the APIs made available by libstd can come across like a grab bag of random stuff.

It seems reasonable enough to want to trim ASCII whitespace from a `&str` too (there's already `split_ascii_whitespace`), and so today one would resort to

[2022-02-16 15:52] Mark-Simulacrum commented on #93034
@craterbot run name=beta-1.59-2.1 start=1.58.1 end=beta-2022-02-12 mode=build-and-test cap-lints=warn crates=https://crater-reports.s3.amazonaws.com/beta-1.59-2/retry-regressed-list.txt

[2022-02-16 16:06] dbrgn commented on #94035
Since `str` is validated unicode, `trim_start` and `trim_end` could be used, which uses the unicode definition of whitespace. On the other hand, we have `char::is_ascii_whitespace`, so it should be fairly easy to add these functions to string slices as well. However, I don't really see a use case for this. Why would someone use `trim_start_ascii` over `trim_start`?

Yes, you have a point there! Th

[2022-02-16 16:14] pierwill commented on #53590
Thanks, @michaelwoerister! Since I'm not in a position to do such a review, let's leave this for now. @rustbot release-assignment

[2022-02-16 16:18] smallB007 commented on #93958
Hi and thank you for the reply.

No, after running cargo clean project compiles

If you interested in the source code, it is just my home project that I'm using to learn rust, I'm OK with sending it to you.

[2022-02-16 16:20] annmarie-switzer commented on #94004
Sorry again - I thought I was on nightly-2022-02-13 when in reality I was not. **It actually appears to be the release on the 14th that broke things.**

9th - works
10th - works
11th - works
12th - works
13th - works
14th - BROKEN
15th - BROKEN
16th - BROKEN

[2022-02-16 16:24] Mark-Simulacrum commented on #93034
@craterbot run name=beta-1.59-2.2 start=1.58.1 end=beta-2022-02-12 mode=build-and-test cap-lints=warn crates=https://crater-reports.s3.amazonaws.com/beta-1.59-2.1/retry-regressed-list.txt

[2022-02-16 16:31] Mark-Simulacrum commented on #93034
I think none of these are new failures, so we should be good with the couple of beta backports done.

[2022-02-16 16:32] edmorley opened #94056 "The "this function takes ownership of the receiver `self`" diagnostic hint not shown inside closures"
Given the following code:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=bfca5a5df52348cba46546d72a36ccb6

[code]

The current output is:

[code]

This diagnostic was confusing to me, since:
1. It doesn't mention the reason why `update()` takes ownership
2. It talks about the `Copy` trait, which whilst true, isn't really the correct way to fix this

Ideally the output sho

[2022-02-16 16:32] Mizobrook-kan commented on #94025
Thanks. I'll do my best.@rustbot claim

[2022-02-16 16:35] TrolledWoods commented on #83871
I realized I sort of forgot about this, sorry about that, is there anything I need to do to move this along in stabilization?

[2022-02-16 16:39] y86-dev commented on #85099
@Aaron1011 I tried to implement your approach, but @steffahn 's example still compiles and segfaults.
I removed the `CoerceUnsized` impl on `Pin`:
[code]
from `pin.rs`. Because some coercion with `Box` is used in the stdlib, i added the following impl to `boxed.rs`:
[code]
This is would normally be implemented due to the `CoerceUnsized` impl on `Pin`
I might have made a mistake, but I was still ab

[2022-02-16 16:45] hkmatsumoto opened #94058 "Bad diagnostics span for unmatched angle brackets of generic args"
Given the following code: [Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=2792a5be7755440d66bdb9dbb0f05c47)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-02-16 16:58] danielhenrymantilla commented on #93203
The gist regarding the lifetimes involved here, would be:

  - `for<'scope where 'env ⊇ 'scope> F : UsableWithin<'scope>`
    ⇔
    `F : for<'scope where 'env ⊇ 'scope> UsableWithin<'scope>`
    ⇔
    `F : UsableWithin<'env>`

      - Where I'm using the `trait UsableWithin<'region> = 'region;` alias for better readability, and `'a ⊇ 'b` notation for `'a : 'b`.

    So we can replace the `F : 'env

[2022-02-16 17:01] wihobbs commented on #90698
Hi @AkechiShiro, yes, I'm still working on it. Been bogged down with a few other things lately but if you'd like I'm happy to collaborate!

[2022-02-16 17:14] ehuss commented on #94004
I think it is likely caused by #91403, cc @cjgillot

[2022-02-16 17:23] adamgemmell commented on #86941
That makes sense https://github.com/rust-lang/cargo/issues/8811

So, with beta cutoff next week, we could:

- Modify the rustc-args via a section like `[package.metadata.docs.rs]` in std_detect's Cargo.toml. Does that docs.rs section also affect doc.rust-lang? Is there another (presumably unused as I couldn't find any) section for doc.rust-lang.org?
- Apply the doc comments in `aarch64.rs` to the

[2022-02-16 17:28] bkaestner commented on #70494
I just noticed that it has been almost two years since I've created this issue. Is there any interest in a mention of `TryFrom` in `AsRef`? I'd be happy to propose a documentation change if that's considered good practice. Otherwise, if there's no interest, I'd also be happy to close the issue to remove it from the list of open issues :)

[2022-02-16 17:38] edmorley opened #94060 "Bad suggestion when implicit loop iteration should be made mutable"
Given the following code:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=eda0bc06b2047145bfbda74c962a5e91

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

ie: To suggest changing `for item in items` to either `for item in &mut items` or else `for item in items.iter_mut()`.

CC #62387, #82081. (I've filed a new issue since the #62387 u

[2022-02-16 17:40] ehuss commented on #86941
Cutoff is Friday morning this week.

It does not.

Adding comments to the error macros might help a little, but I imagine will still show up as unstable so it might still be confusing.

Unfortunately I don't have much time to help here.  It's a bit of a thorny issue that can be tricky to fix.

[2022-02-16 17:53] pmetzger commented on #83871
No idea but I'd really love to see it stabilized.

[2022-02-16 17:57] dylanede commented on #93333
Is there any chance of splitting stabilisation of this so that `sym` in `asm!` can be stabilised first, without waiting for `global_asm!` support?

[2022-02-16 18:42] TrolledWoods commented on #94060
In this case the compiler suggestion would compile just fine, so I'm a bit unsure whether suggesting &mut item here is the right thing, since you may want to consume the item later in the loop body.

[2022-02-16 19:39] a-lafrance commented on #94047
@hellow554 the main differences are:
1. Discoverability (as @ChayimFriedman2 pointed out): It seems like the discoverability of this technique is lower than ideal, so adding a `try_collect()` helper is meant to make the technique more discoverable by "promoting" it into its own method.
2. `Try` but not `FromIterator` types: This is the main functional difference between `try_collect()` and `collec

[2022-02-16 19:56] edmorley commented on #94060
@TrolledWoods Thank you for taking a look. It seems I over-reduced the testcase, since the original did not compile when following the compiler suggestion. I've updated the issue description with a less reduced testcase that still shows the issue.

[2022-02-16 20:18] glaubitz commented on #89498
@nikic

Can you give me a hint where the Rust code is located that generates the return code?

[2022-02-16 20:21] nikic commented on #89498
@glaubitz See https://github.com/rust-lang/rust/blob/f90b06d7fb00470177516c5881bcec0432cb4f24/compiler/rustc_middle/src/ty/layout.rs#L3177. Note that adjust_for_foreign_abi is only called for non-Rust ABI.

Possibly a target option could be added to always use the C ABI for a target, if LLVM doesn't support non-C ABI for it.

[2022-02-16 20:24] glaubitz commented on #89498
Ah, that somewhat rings a bell. I think I've heard that before that one had to enforce the C-ABI for a target. Now I just need to remember where ;).

[2022-02-16 20:29] oli-obk commented on #94004
Considering this regression and the perf regression, we should probably revert and try again in a new PR

[2022-02-16 21:00] cuviper commented on #44286
These methods will currently `unwrap`-panic if the `OccupiedEntry` was created by `VacantEntry::insert_entry` or a vacant `Entry::insert_entry`, both of which will be stable in Rust 1.59. In this case we no longer have a key because it was used for the new insertion.

[2022-02-16 21:32] Amanieu commented on #94026
I strongly disagree with the notion that `h.write(&[a, b]); h.write(&[c]);` and `h.write(&[a]); h.write(&[b, c]);` are required to result in the same hash value. This would prevent a lot of optimizations on hashers, in particular with the use of unaligned memory access.

Consider the case of a 7-byte slice: this can be hashed by reading the first 4 bytes and last 4 bytes (with 1 byte of overlap) a

[2022-02-16 21:44] tczajka commented on #94026
Wouldn't that mean that strings "abcdefg" and "abcddefg" always hash to the same value? If so, that would make a poor `Hasher`.

[2022-02-16 21:48] Mark-Simulacrum commented on #94026
I think more generally, beyond the optimization for unaligned memory access, it seems easy to assume a simple hasher -- e.g., [FxHash](https://github.com/rust-lang/rustc-hash/blob/master/src/lib.rs#L85) from rustc, is not going to keep a buffer around to keep 'partial' writes prior to inserting them into the hash function. If you write a partial slice, it'll still end up hashing a full usize -- so

[2022-02-16 22:06] tczajka commented on #94026
If multiple calls to `write` are not concatenated, the section about "prefix collisions" in `Hash` documentation really needs rewriting, because it becomes very unclear what it means for one sequence of calls to be a prefix of another sequence of calls.

[2022-02-16 22:11] #93688 closed

[2022-02-16 22:16] tczajka commented on #94026
`impl Hash for str` currently assumes that it is the same. It calls `write_u8(0xff)` as the end marker rather than `write(&[0xff])`. If it's not the same thing, it's a bug.

[2022-02-16 22:19] hlopko commented on #81490
@petrochenkov I'll double check with @krasimirgg and come back if I'm wrong, but for the time being please assume we don't need to preserve relative order between `--extern` and `-l`.

[2022-02-16 22:47] Mark-Simulacrum commented on #94051
cc https://github.com/rust-lang/rust/pull/87896

Performance results from that attempt seem to suggest that the performance hit is pretty large for tiny crates (e.g., helloworld), but a not-insignificant 1-2% for larger crates -- without a clearer motivation (e.g., lots of spurious-seeming failures due to random bit flips), it seems like it's not something we'd probably want to take a hit on.

(I

[2022-02-16 23:10] eholk opened #94067 "MIR generation for generators considers any borrowed or assigned value as live across yield points"
Consider an example such as this:

[code]

Let's assume `info` is `!Send`. The future returned from `handle` is currently `!Send` as well, because the MIR generation for the generator considers `info` to be live across the await point, despite the fact that `info` is consumed by `parse_info`. The reason is because the generator step [explicitly considers any borrowed local as live across the suspe

[2022-02-16 23:17] MingweiSamuel commented on #34261
You could implement this with a macro which renders the latex expression then converts it into a data url image.
[code]

[2022-02-16 23:23] eholk commented on #69663
I think #94067 counts as another instance of this bug.

[2022-02-16 23:40] reez12g commented on #87707
@rustbot claim

[2022-02-17 00:07] jonhoo commented on #94007
Fix for the Cargo issue is in https://github.com/rust-lang/cargo/pull/10395.

[2022-02-17 01:10] #91177 closed

[2022-02-17 01:54] est31 commented on #94029
Probably due to the LLVM update to version 10. Could you try with the nightly `2020-05-19` and nightly `2020-05-22`?

[2022-02-17 02:52] SUPERCILEX opened #94071 "Tracking Issue for MAIN_SEPARATOR_STR"
Feature gate: `#![feature(main_separator_str)]`

This is a tracking issue for adding a static path separator str to match the static char already available.

### Public API

[code]

### Steps / History

- [x] Implementation: https://github.com/rust-lang/rust/pull/93976
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

Can we combine the char and str API into one ty

[2022-02-17 03:35] est31 commented on #93995
In refutable patterns, there is a default behaviour that destructuring assignments can fall back to, which is not doing the assignment. There is no need for the `else` clause to diverge, in fact no need for the else clause at all (beyond having *some* syntax to make it obvious the assignment is not a given). While there is a strong need in the case of `let`, because `let` creates a binding.That's

[2022-02-17 03:59] clarfonthey commented on #29625
Silly question, but is there any particular reason why the `Fn*` traits actually need to stabilise the `rust-call` ABI in order to be implementable?

I mean, we already have the custom `Fn(A, B, ...) -> C` syntax as sugar for `Fn<(A, B,), Output = C>`, so, I don't think it'd be unreasonable to adopt a special syntax just for implementing them too.

Maybe something like:

[code]

Could get desugare

[2022-02-17 04:14] rpjohnst commented on #93995
I wouldn't go quite that far- how do you *detect* whether the assignment occurred? Refutable patterns have a control flow component that is often useful. You'd still want to be able to take different branches based on whether the pattern matched.

Not at all. When `let` first got refutable pattern support, it was added via `if`, and only now extended to `else`. *That's* the symmetry that refutable

[2022-02-17 04:26] #32976 closed

[2022-02-17 04:29] thomcc commented on #32976
Should a tracking issue be filed for `cfg(target_has_atomic_load_store)` now that it's unstable?

[2022-02-17 04:37] est31 commented on #93995
I meant "need" in the sense of a hard requirement for `else` clauses. There is no need to require else clauses for assignments (outside of wanting introducer syntax for which else is a suboptimal solution).

Oh I see where you are coming from. I'm not convinced that this is the better way of looking at it. `if let` has always had support for `else` for example.

[2022-02-17 04:49] ehuss commented on #93988
This happens with any proc-macro, it is not unique to libcnb-proc-macros.

The reason it only happens with path-based dependencies is because registry dependencies suppress warnings from being displayed.

I believe the issue is that bare `strip` is too aggressive for a dylib.  `strip -u` seems to work.  I'm not sure if `-r` should also be added.  I might suggest adding `-u` to any dylib crate.  Th

[2022-02-17 04:54] ehuss commented on #93988
Hm, I think it's actually `-x` is what should be used for dylibs:

From the man page:

[code]

[2022-02-17 04:59] TrolledWoods commented on #94047
On the point about `collect` consuming the iterator, I think you could already do `.by_ref().collect()`. This might be useful to prevent mistakenly using the iterator again, the `by_ref` makes sure the programmer actually wanted to continue using the iterator. So would it be a benefit for `try_collect` to also consume the iterator and then mention using `by_ref` in the docs if you actually want to

[2022-02-17 05:24] rpjohnst commented on #93995
I don't think there's a need to require *else* clauses in particular, but I do think there should always be an `if` or and `else` rather than ever dropping the control flow silently. That's the place I'm coming from that makes standalone `maybe` seem to be the odd one out.

[2022-02-17 05:40] matthiaskrgr opened #94073 "ICE: for_variant called on zero-variant enum: rustc_middle/src/ty/layout.rs:2254:25"
### Code
`./src/test/ui/issues/issue-46855.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc  --emit=mir -Zmir-opt-level=3 ./src/test/ui/issues/issue-46855.rs`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-17 05:50] matthiaskrgr commented on #94073
searched toolchains 6bf3008f0757c7c89c3f02e0e7eaac5ee30c1c6c through 930fc4f59ddeb9f26d554a2c75c5355989189540

********************************************************************************
Regression in 75d9a0ae210dcd078b3985e3550b59064e6603bc
********************************************************************************

which is my rollup :sweat: ...
Maybe https://github.com/rust-lang/rust/

[2022-02-17 06:28] TaKO8Ki commented on #93829
@rustbot claim

[2022-02-17 06:37] lhy1024 commented on #92477
`cargo clean` may be helpful.

[2022-02-17 07:03] hellow554 commented on #94047
@a-lafrance thanks for that explanation. That helps me understanding your intent. And yes, IMHO that should be in the original post as a description :)

@TrolledWoods That was my first thought too, why don't you just use `by_ref`. Then I looked at the [other](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.try_find) [three](https://doc.rust-lang.org/std/iter/trait.Iterator.html#metho

[2022-02-17 07:06] ChayimFriedman2 commented on #94047
@hellow554 If there is an argument for them to take `self` by reference, fine. But we should not repeat past mistakes in new APIs 😃

[2022-02-17 07:08] lcnr commented on #93995
I don't think that this is always true, consider the following:
[code]

[2022-02-17 07:14] hellow554 opened #94074 "Mismatched type in macro attribute"
Given the following code: https://github.com/estebank/makeit/blob/97518801c2ff265b6de226dbaa77f2cfd645a674/makeit/examples/invalid2.rs

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

I think the span for the integer is too big.  It includes the paranthese, but I'm not sure if that has something to do with expansion of the macro.
Maybe @estebank can something

[2022-02-17 08:22] hiaselhans commented on #94029
exactly.

- 2020-05-19 compiles fine
- 2020-05-22 hangs

[2022-02-17 08:35] Andlon commented on #34261
While this is an interesting idea, it doesn't work well in practice, for several reasons:

- TeX is often *inline*, meaning that LaTeX expressions like $\alpha$ appears inline with the text. This suggests that we cannot really completely decouple the TeX rendering from the text rendering, because they need to have compatible size and styling.
- It makes it awkward to define global macros for re-us

[2022-02-17 08:56] apiraino commented on #94032
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2394032.20optimized.20i686.20fails.20primal-sieve.20tests) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2022-02-17 09:02] a-lafrance commented on #94047
Yeah, given that the `by_ref()` technique exists I can definitely see the desire to take `self` rather than `&mut self`, so I'm definitely willing to consider that change. I guess since the PR is already landing we can leave it as-is for now and revisit it later, so I'll add it as an unresolved question for now.

[2022-02-17 09:13] apiraino commented on #94004
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2394004.20Nightly.20compiler.20bug.3A.20.22lifetime.20mismatch.22) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2022-02-17 09:15] LebedevRI commented on #85133
FWIW this has been fixed in llvm trunk in https://github.com/llvm/llvm-project/commit/371fcb720e15906e8c63600253afcb806b9b10d0.

[2022-02-17 09:26] GuillaumeGomez commented on #94048
The "All crates" drop down is now directly in the search result page (the PR is [here](https://github.com/rust-lang/rust/pull/92490)).

As for the theme picking menu, it's in the settings page now. Only exception: it is displayed when browsing docs with `file:///` URL (the PR is [here](https://github.com/rust-lang/rust/pull/92629)).

[2022-02-17 09:36] apiraino commented on #94029
Additional observation: does not happen setting `opt-level=1` in the cargo.toml:
[code]

[2022-02-17 10:12] mejrs opened #94077 "Confusing message when using unsafe to initialize statics"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

It could suggest moving the unsafe block:

[code]
Or perhaps this should be valid? It *is* inside an unsafe block after all.

[2022-02-17 11:19] nikic commented on #94029
Duplicate of #75045.

[2022-02-17 11:19] #94029 closed

[2022-02-17 11:30] nikic commented on #94032
Just tested this with the 9f2b322c3782ddda66efcfa36900d27f4507707e toolchain and it still fails, so this issue is not fixed in LLVM 14.

[2022-02-17 11:51] qm3ster commented on #44286
This is actually really wild.
It looks like `OccupiedEntry.key` has always been an `Option<K>`, but it was always constructed as a `Some(key)` and `unwrap`ed everywhere.
Was `entry_insert` planned from the initial commit of `hashbrown`?

[2022-02-17 12:15] Mark-Simulacrum commented on #32976
I filed one - #94039. Forgot to actually link it from here though.

[2022-02-17 12:39] lyinch commented on #91417
It tried to use `clock_gettime_nsec_np(CLOCK_UPTIME_RAW)` but this didn't fix the issue. I also added a test which still fails:

[code]

I'm not sure how to correctly get `CLOCK_UPTIME_RAW` from Rust, so I looked the value up in my local `time.h` file:

[code]

https://github.com/lyinch/rust/blob/issue-91417-fix/library/std/src/sys/unix/time.rs#L154
https://github.com/lyinch/rust/blob/issue-91417-

[2022-02-17 13:08] #91550 closed

[2022-02-17 13:08] #94010 closed

[2022-02-17 13:23] episage commented on #86470
I can consistently reproduce it on a machine running 24/7 for the past month.

<details><summary>rustc --version --verbose</summary>
<p>
[code]
</p>
</details>

<details><summary>cat /etc/os-release</summary>
<p>

[code]
</p>
</details>

<details><summary>cat /proc/cpuinfo</summary>
<p>

[code]
</p>
</details>

<details><summary>cat /sys/devices/system/clocksource/clocksource0/current_clocksource<

[2022-02-17 14:20] tarcieri commented on #34261
Cryptography is another problem domain that would benefit from LaTeX in rustdoc.

We presently use Unicode characters instead, but the result is limited, difficult to compose, still oddly formatted, and on the whole leaves quite a bit to be desired.

[2022-02-17 14:21] nikomatsakis commented on #46813
would be "fixed" by #79098, which would forbid such an impl

[2022-02-17 14:32] #93905 closed

[2022-02-17 14:34] glaubitz commented on #89498
I have tried this hack now and it _seems_ to fix the issue for me:

[code]

It just fails with a different error now which could be due to the lacks of support for atomic operations in the M68k LLVM backend:

[code]

See this related LLVM bug: https://github.com/llvm/llvm-project/issues/48236.

[2022-02-17 14:37] lyinch commented on #91417
The test passes now with your proposed changes: https://github.com/lyinch/rust/commit/f9f0c974f54dad1caf82ae7578ad92d7c4174b46

[2022-02-17 14:38] dragostis opened #94083 "vget_low_s8 behind feature flag on beta"
While using the `aarch64` intrinsics that are stable on beta I've noticed that [`vget_low_s8`](https://doc.rust-lang.org/core/arch/aarch64/fn.vget_low_s8.html#) still complains about not being given the `stdsimd` feature.

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-02-17 14:55] danakj commented on #73632
I came across an issue with using an archive output. The linker drops object files from an archive when there is no unresolved symbol that the object file satisfies. In particular, this means that in a test binary, a file of unit tests which are registered with static initializers produces object files that get dropped if linked through an archive. This happens because the object files have no ext

[2022-02-17 15:01] pnkfelix commented on #93866
This bug appears like it was also injected by PR #93006, so that's a similarity with issue #93871.

However, I do not see the feature gate for `unsized_tuple_coercion` in the source code for `libcore`, so I am assuming that this represents a *different bug* injected by PR #93871.

I spoke to @michaelwoerister and I plan to revert PR #93871 based on these factors. It can reland after it has a succe

[2022-02-17 15:34] matthiaskrgr commented on #94073
Reduced:
[code]

[2022-02-17 15:35] bjorn3 commented on #73632
Static initializers don't work reliably even when using rustc as linker either. I think you probably shouldn't use static initializers with rust for the time being until it is fixed.

[2022-02-17 16:02] notriddle commented on #90526
This seems related to https://github.com/rust-lang/rust/issues/88696.

[2022-02-17 16:05] vexx32 opened #94089 "rustdoc: Generated themes hide/make navigation links not-obvious"
Currently some of the navigation links in rustdoc are being colored the same color as surrounding text, which is super bad for actually being visually navigable.

Easiest example is basically any page on docs.rs, one example: https://doc.rust-lang.org/std/collections/struct.HashMap.html

<img width="688" alt="image" src="https://user-images.githubusercontent.com/32407840/154520372-d53abbb8-6a1f-49

[2022-02-17 16:21] compiler-errors commented on #94089
@rustbot label T-rustdoc A-rustdoc-themes A-rustdoc-ui

[2022-02-17 16:39] wllenyj opened #94090 "`-Zprofile` and `should_panic` don't work together."
When I run the cargo test as follows:
[code]
The test will panic. This test case is a `should_panic` test.
[code]
This is a probability issue, as I am running in project ci and using rust nightly are the latest version. The most recent recurrence is rustc 1.60.0-nightly (75d9a0ae2 2022-02-16).

See https://github.com/openanolis/dragonball-sandbox/runs/5234196020 for more details.

Sorry about this

[2022-02-17 16:53] GuillaumeGomez commented on #90526
Thanks for the link!

[2022-02-17 17:09] pierwill commented on #94025
@Mizobrook-kan: This comment might be helpful: https://github.com/rust-lang/rust/pull/94006#issuecomment-1043197748

[2022-02-17 17:15] ehuss commented on #32976
There's a small mention at [atomic.rs](https://github.com/rust-lang/rust/blob/30b3f35c420694a4f24e5a4df00f06073f4f3a37/library/core/src/sync/atomic.rs#L68-L70) that says it is still unstable.  Would someone be willing to rewrite that paragraph to mention using `cfg(target_has_atomic="...")`?

[2022-02-17 17:24] tmiasko commented on #94073
Thanks for report and test case.

In #94020, I removed the special case for enums without variants, expecting that now that we handle `read_discriminant` failure gracefully it would be caught there. Alas, in this specific case, the `read_discriminant` succeeds while returning a non-existing variant index.

[2022-02-17 17:35] chrisnc opened #94092 "TCP_NODELAY setsockopt uses BYTE on Windows when it should use BOOL"
This bug was found and mitigated by the Wine project here:
https://source.winehq.org/git/wine.git/commit/d6ea38f32dfd3edbe107a255c37e9f7f3da06ae7

The types for each setsockopt are documented here:
https://docs.microsoft.com/en-us/windows/win32/api/winsock/nf-winsock-setsockopt

As the Wine commit explains, Windows itself is more liberal in what values of optlen it will accept for boolean argument

[2022-02-17 17:55] ChrisDenton commented on #94092
Thanks for reporting this! Would you mind creating a pull request with your changes? The rustc dev guide has information on the [rustc PR workflow](https://rustc-dev-guide.rust-lang.org/contributing.html#pull-requests).

[2022-02-17 18:11] Manishearth commented on #93096
I have an open source crate having this problem in https://github.com/manishearth/icu4x/tree/ice-dep-hash : `cd utils/zerovec && cargo check --all-features`

I'm unable to reproduce after cargo clean, but the last commit is what caused the ICE

[2022-02-17 18:14] chrisnc commented on #94092
Sure thing: https://github.com/rust-lang/rust/pull/94094

[2022-02-17 19:26] msmania opened #94098 "Firefox crashes on Windows because BCryptGenRandom fails"
Hi, I'm an engineer working for Mozilla on Firefox.  We recently noticed we'd been getting crash reports indicating Firefox crashes during `env_logger` initialization.  Upon debugging, we found out it was caused by a failure of `BCryptGenRandom`, that was introduced by #84096.

Almost all reports are from Windows 7 32-bit.  We don't know the reason why `BCryptGenRandom` failed.  Possibly the crypt

[2022-02-17 19:38] pnkfelix commented on #94032
@cuviper and I just found a slight variant that shows a similar failure on x86_64....

[2022-02-17 20:03] hamza1311 commented on #80967
FWIW, I discovered this method today because I did `bool.th` and pulled up intellisense. At first glance, the name was consuming. `then` and `then_some` both return `Some(_)`.

I guess it's too late to rename the methods. I can't think of a name which doesn't involve renaming `then`. `and(Some(_))`/`and_then(||Some(_))` would follow the convention of a word followed by "then"/"or" which denotes th

[2022-02-17 20:05] the8472 commented on #86470
#89926 landed recently, nightlies and 1.60 onwards will no longer panic in this situation.

[2022-02-17 20:36] kprotty commented on #93740
* Has anyone looked into the condition variable darwin libpthread? Works with a futex-based api (ulock), uses 64bits of space, doesn't do extra wakes or require requeue, and is simpler than glibc's condition variable implementation.

* Would `os_unfair_lock` be possible for darwin systems? It supports priority inheritance, is 32bits large and movable, but is only available on macos 10.12+

* For n

[2022-02-17 20:40] thomcc commented on #93740
Lack of timed wait is a problem, and libstd supports back to 10.7+ (and I'm not sure what's required to reconsider this).

[2022-02-17 20:50] kprotty commented on #93740
Ah, fair point for the 10.7+ requirement. Does the new `Mutex` impl need timed wait? SRWLock and the [current API](https://doc.rust-lang.org/std/sync/struct.Mutex.html) don't support it.

[2022-02-17 20:50] thomcc commented on #93740
It's supported via condvar.

[2022-02-17 20:52] bjorn3 commented on #73632
Native linking modifiers fixes it for C static libraries. They don't apply to regular rust dependencies.

[2022-02-17 21:11] Aaron1011 commented on #83125
Rust's stability policy should ensure that an unmaintained crate will continue to compile with future versions of Rust (the crate itself may have bugs, but that's not caused by the compiler). This is a case where it's necessary for the compiler to violate that policy, but this kind of event should be very rare. In normal circumstances, users should be able to rely on the compiler not making breaki

[2022-02-17 21:13] Aaron1011 commented on #83125
@CosmiI've opened https://github.com/rust-lang/rust/pull/94063 to gauge the impact of starting to phase out one of these backwards-compatibility hacks (a hack that changes how we pretty-print certain types). It will still be applied to older versions of `rental`, but not anything else. If merged, that PR will suppress the spurious warnings that you're currently seeing.

[2022-02-17 22:25] andylizi commented on #59117
Should this be closed now that #91673 is merged?

[2022-02-17 23:19] jackh726 commented on #89122
This was discussed in a lang design meeting a couple months back: https://github.com/rust-lang/lang-team/blob/master/design-meeting-minutes/2021-10-13-where-the-where.md#q-4

This 100% has to block, given that where clauses on associated types are currently unstable. It doesn't matter too much; this question is resolved and just waiting for the PR to be approved and merged.

[2022-02-17 23:54] Dirbaio commented on #94004
I have a standalone repro of something that builds on nightly-2022-02-13, fails on nightly-2022-02-14 as well. I'm not sure if it's the same bug. [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=80555a83c5f95aedadd37f888114d841)

[code]

[code]

[2022-02-18 00:19] workingjubilee commented on #73288
Belatedly: if that is the case, then that answers why this changes! Our functions wind up annotated with `fastcc` in LLVM after we run optimizations, but not before, so we actually change our calling conventions when calling into Rust code. We can close this bug simply by tuning rustc to be more insistent and consistent in passing arguments.

[2022-02-18 00:23] nnethercote commented on #60705
The suffixes are now handled by gcc/libiberty, and those changes have been imported into Valgrind, and this Valgrind bug has been closed.

[2022-02-18 00:24] jonhoo commented on #94007
When https://github.com/rust-lang/cargo/pull/10395 lands, I think there's still an open question about what Rust's bootstrap logic should do. Should it generate a `[host]` section in `.cargo/config` to ensure its rustflags also apply to the build scripts? Or should it not, and make callers generate said `.cargo/config` if they want rustflags to apply to build scripts (in which case the bootstrap-g

[2022-02-18 01:13] tinaun commented on #93216
I think the paintbrush should be brought back on the right, next to the settings icon - currently I find all these recent css changes incredibly off-putting but I think I could get used to them, but I really did like the paintbrush and the lack of it makes documentation much less usable for me

[2022-02-18 01:29] danielhenrymantilla commented on #70263
## Workaround

Btw, for those stumbling upon this issue, and until rust-lang/rfcs#3216 gets accepted/implemented, there is https://docs.rs/higher-order-closure as a workaround.

[2022-02-18 02:10] #78459 closed

[2022-02-18 02:10] #92986 closed

[2022-02-18 02:26] danakj commented on #50297
Hello, I just wanted to give the feedback (on request of @Manishearth) that I was hoping to use the custom test frameworks for hooking Rust unit tests into the [C++ Gtest framework](https://github.com/google/googletest), however I am not able to. The problem is simply that:

1. `rustc --test` still has the compiler produce its own main() function.
2. The set of #[test] functions is only known to t

[2022-02-18 02:38] norpadon opened #94109 "Compiler doesn't optimise away memory allocation."
In the following code rustc nightly (but not 1.58!) can successfully remove memory allocation and directly inline the answer: https://godbolt.org/z/s8G33jWEv
[code]
But if I replace
[code]
with
[code]
it stops applying this optimisation: https://godbolt.org/z/oY8WrvfE7

Both clang and GCC can easily optimise equivalent C code:
https://godbolt.org/z/be9zPvYMj

[2022-02-18 03:46] djrenren commented on #50297
Ah interesting, you want to basically build tests as a library. Ultimately, the magic of #[test] in rust is, as youve realized, is breaking lexical scope and aggregating definitions from throughout the crate. At the time I built the custom test framework experimental implementation, there was a lot of resistance to supporting this primitive directly. Basically the concerns were that we shouldn’t i

[2022-02-18 04:12] Manishearth commented on #50297
I'll note that the original version of the test frameworks RFC was designed to be like a whole-crate proc macro, with the main RFC work being that Cargo integration would be provided but the rest would be cobbled together from other crates (likely with a published crate implementing the basic Rust testrunner with hooks).

Perhaps it's worth trying that instead? Overall I feel like a lot of the use

[2022-02-18 04:46] ast-ral commented on #94048
Right, I know about the theme options in the settings menu. This is just a minor gripe about the "?" menu's documentation not matching the real behavior of the "T" key. It says it should open up a theme picker menu (and it does still open the paintbrush in `file:///` URLs) but on the online docs it appears to actually do nothing (presumably because the paintbrush is hidden).

[2022-02-18 05:07] djrenren commented on #50297
Yeah the whole crate macro is definitely a viable option, but I’m not sure they enable much that couldn’t be accomplished by combination of aggregation and proc macros. But both seem reasonable to me.

[2022-02-18 05:08] clarfonthey commented on #80908
Would very much like some version of `uninit_array` and `array_assume_init` to be stable; right now there's not really a stable equivalent.

IMHO, we should at least collect the array-based issues into a single issue (likely this one) like what's already done with the slice methods in #63569.

[2022-02-18 05:17] clarfonthey commented on #52662
Getting a lot of issues similar to #76593 when `#[feature(associated_type_bounds)]` is enabled, whether I use associated type bounds or not.

Essentially, if you have:

[code]

Then it considers `Super<Assoc = T>` ambiguous and explicitly requires that you say `Base<Assoc = T> + Super` instead.

IMHO, this feature should be tagged as incomplete and trigger a warning since it modifies stable behavi

[2022-02-18 07:34] lcnr commented on #93647
this is now fixed on beta

[2022-02-18 07:34] #93647 closed

[2022-02-18 07:53] scottmcm commented on #94047
Note that `by_ref` is a huge performance footgun, since it prevents using [internal iteration](https://medium.com/@veedrac/rust-is-slow-and-i-am-the-cure-32facc0fdcb), as it uses the `&mut I where I: Iterator` impl that, because it works for `dyn Iterator`, can't use any of the generics.  The benchmarks in `core` can be used to see the extra cost: https://github.com/rust-lang/rust/blob/f838a425e31

[2022-02-18 08:18] jsgf commented on #73632
@hlopko

Yeah, I think you're right. From my perspective, thin archives are mostly a disk IO/copy bandwidth saving rather than specifically for disk space saving, though that's a nice side benefit. If the flow is cc -> .o -> ar -> .a, then it can get expensive if you have, for example, lots of debug info enabled (typically 10x the .text size). But if you're right that llvm directly emits .a withou

[2022-02-18 08:38] a-lafrance commented on #94047
Oh that's an interesting point @scottmcm. I was wondering why some methods took `self` while others took `&mut self` so this clears it up for me. In that case I'm personally in favor of continuing to take `&mut self` rather than `self`.

[2022-02-18 08:41] nikic commented on #94109
Duplicate of #50519. This is a general problem with `println!()` captures, not really related to allocations.

[2022-02-18 08:41] #94109 closed

[2022-02-18 08:58] peckpeck commented on #44762
Hi, i will be offline for a week, so the PR will wait a little bit

[2022-02-18 09:21] jingslunt opened #94116 "Can not use LLVM12 with Rust >= 1.56"
[code]

[2022-02-18 09:27] GuillaumeGomez commented on #94048
I'm waiting for https://github.com/rust-lang/rust/pull/93097 to be merged to remove it (it should be removed in the PR directly).

[2022-02-18 09:29] GuillaumeGomez commented on #93903
It's a bit misleading in my opinion. When I see "all pages", I'm expecting to see a map of the website, not the list of all the items.

[2022-02-18 09:50] ChayimFriedman2 commented on #94047
Can this situation be improved using specialization? I.e. specialize `impl<I: Sized> Iterator for &mut I` to use internal iteration where possible? If not, I think this definitely should be mentioned on the docs, since it is not at all obvious.

[2022-02-18 10:26] #94004 closed

[2022-02-18 10:45] tinaun commented on #93216
this is purely anecdotal evidence but i've noticed a lot more people in beginners channels asking how to change the documentation theme since this change was implemented - I wouldn't mind having just the settings icon instead of two, but removing the instant feedback is a major setback

[2022-02-18 11:11] nikic commented on #93707
LLVM doesn't currently have a notion of sized deallocations, which would be necessary for this transform.

[2022-02-18 11:30] Lancern commented on #93707
Maybe this optimization can be done on the MIR.

[2022-02-18 13:19] hkratz commented on #94116
RedBPF, which you appear to be using, [requires LLVM 13](https://github.com/foniod/redbpf#requirements). This is not an issue with the Rust programming language or the Rust compiler issue.

[2022-02-18 13:59] pymongo commented on #93002
still reproduce in rustc 1.60.0

[code]

src/lib.rs

[code]

[2022-02-18 14:20] GuillaumeGomez commented on #90526
It is, but the `miniz-oxide` crate might still want to show these impls though.

[2022-02-18 16:08] estebank commented on #94074
I'm closing this as I agree with @ChayimFriedman2's take on this: it is a bug of the proc-macro and not of rustc's `Span`s. That being said, IMO the proc-macro API leaves a bit to be desired to begin with 😅 (I understand *why*, but I don't have to like it.)

[2022-02-18 16:08] #94074 closed

[2022-02-18 16:20] #94116 closed

[2022-02-18 16:43] dragostis commented on #93034
Sorry for posting #94083 here, I just wanted to make sure it gets visibility before next week's release.

[2022-02-18 16:47] cuviper commented on #94032
We're discussing in this [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/187780-t-compiler.2Fwg-llvm/topic/optimized.20i686.20fails.20primal-sieve.20tests.20.2394032/near/272278633). After discovering variant where x86_64 fails, we found that it also failed on stable back to 1.55, but passed on 1.54. Bisecting between those took me to #84560, a simple `#[inline]` addition, which I ta

[2022-02-18 16:53] glaubitz commented on #89498
I have been looking at the corresponding Rust code in `layout.rs` and I have to admit that I don't fully understand the following code:

[code]

If I read the code correctly, the code will never get beyond the `match` statement if `arg.layout.abi` equals `Abi::ScalarPair` and thus the fix-up starting at `let max_by_val_size = Pointer.size(self) * 2;` will never be executed for the `ScalarPair` typ

[2022-02-18 16:56] carols10cents opened #94124 "ICE index OOB in 1.59.0-beta.8 🚨"
I know it's late in the release cycle and I know there were bugs similar to this in previous 1.59.0 betas, but I don't see any issues for this bug in beta 8, so this seems pretty high priority to me @rust-lang/compiler

### Code

I'm working on some changes to https://github.com/influxdata/influxdb_iox. I ran a workspace level `cargo check` that succeeded, I made a few small changes, then I ran `c

[2022-02-18 17:01] glaubitz commented on #89498
Ah, that actually makes sense and that explains why my hack above fixes the issue.

[2022-02-18 17:05] Mark-Simulacrum commented on #94124
I believe this is https://github.com/rust-lang/rust/issues/93029

(also https://github.com/rust-lang/rust/issues/93823, https://github.com/rust-lang/rust/issues/93371, https://github.com/rust-lang/rust/issues/93131, https://github.com/rust-lang/rust/issues/93336)

Which is fixed in 1.60 by https://github.com/rust-lang/rust/pull/92533 which didn't get backported, seems like intentionally.

[2022-02-18 17:43] Amanieu commented on #94083
Yes, it seems this was overlooked in the stabilization. It's an easy fix, but probably not worth backporting at the last minute. In the meantime it should be possible to work around using some of the other intrinsics.

[2022-02-18 17:46] TrolledWoods commented on #94047
Thinking about it more there's also the argument that &mut self signifies that it's _intended_ to sometimes resume the value, whereas if it's self by value, you should expect weird behaviour when resuming, so it may be a better idea, yeah. Surprising that by_ref is a performance footgun though, that feels like something that should be fixed asap

[2022-02-18 17:51] estebank commented on #94060
I think the right change would be for the following

[code]

to suggest iterating on `&mut bingo_game.cards` instead.

[2022-02-18 18:11] Aaron1011 commented on #94124
That's correct. This ICE was exposed in the process of fixing a *different* incremental compilation ICE. Unfortunately, it seems that this new ICE occurs much more frequently than the old one.

Given the complexity of the incr comp system, I'd like to avoid backporting the fix unless absolutely necessary.

[2022-02-18 18:17] reinerp opened #94125 "Attribute `#[link_section]` can cause type confusion; use should be marked unsafe"
Attribute `#[link_section]` allows code to be placed into named linker sections. Some of these sections have special meanings to the operating system or other parts of the runtime environment. For example, in ELF binaries, objects in section `.init_array.65534` (or any other `.init_array.<N>`) are assumed to be function pointers with a specific signature. These function pointers are executed by th

[2022-02-18 18:21] ChrisDenton commented on #94125
See also: #82499

[2022-02-18 19:00] estebank commented on #94124
Should we have a beta revert of this change while we work on master to fix it?

[2022-02-18 19:33] Manishearth commented on #50297
@danakj I guess y'all could require having a `gtest_init!()` macro at the top that adds a `#![no_main]` and some initializer code? Unsure if that would work.

[2022-02-18 20:15] danakj commented on #50297
Perhaps, but it would need to be at the crate root, and need as input a list of all the test functions, file!(), line!(), and their attributes (in order to read the test suite+name). Or some custom structure derived from an attribute macro on each test function.

Just skipping main isn't enough, and maybe I am not being imaginative enough at what the gtest_init!() macro is able to do.

[2022-02-18 20:35] djrenren commented on #50297
Nah I think your intuition is right. Unless you could somehow invoke the generated main

[2022-02-18 20:57] Aaron1011 commented on #94124
If you're referring to the time when we had to disable incremental compilation, then that was a special case - enabling the fingerprint checks caused a large number of *distinct* incr comp bugs to start producing ICEs. Since then, we've let fixes for *individual* incremental comp bugs ride the train to stable. I don't think that the frequency of this ICE is especially high compared to any of those

[2022-02-18 21:30] nagisa commented on #94125
Right, I believe this to be duplicate of the #82499 linked above. It would be helpful if you reproduced your comment on that issue. I'll close this for now, since tracking work on this specific attribute by itself doesn't seem like it would provide extra value over the older aggregated issue.

[2022-02-18 21:30] #94125 closed

[2022-02-18 21:31] Aaron1011 commented on #94124
Yes, but the PR we would be backporting is really a distinct, unrelated change. There are really *two* PRs that we would need to backport to fully fix the ICE that you're seeing: https://github.com/rust-lang/rust/pull/93095 and https://github.com/rust-lang/rust/pull/93095. Backporting those PRs would fix a known ICE on beta, but it would mean that we would lose out on some of the normal testing th

[2022-02-18 21:53] scottmcm commented on #94047
I probably shouldn't have used a word as strong as "footgun" for this.  If you're just iterating over, say, a slice, then it makes no difference at all.

It's only in certain cases -- `Chain` being the usual example -- where it matters.  And even then only when the body of the loop is tiny.  As soon as the body is doing anything substantial, any difference immediately disappears in the noise.

So

[2022-02-18 21:55] Ewpratten opened #94132 "Diagnostic suggesting adding lifetime to derive list"
With my Enum definition, the compiler realizes `Deserialize` is missing a lifetime, and suggests both adding it in the correct place, and again inside of `#[derive(...)]` (which I know is wrong.)

---

Given the following code:

[code]
([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f484dac78047dbaa7e53f8e41e69a04c))

The current output is:

[code]

I'm n

[2022-02-18 22:05] matthiaskrgr commented on #79465
No longer crashing
[code]

[2022-02-18 22:44] ibraheemdev opened #94135 "Tracking Issue for `fs::append`"
Feature gate: `#![feature(fs_append)]`

This is a tracking issue for the `fs::append` function:
[code]

### Public API

[code]

### Steps / History

- [ ] Implementation: #94136
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2022-02-18 22:48] Manishearth commented on #50297
oh, good point, yeah

[2022-02-18 23:43] szbergeron commented on #84277
Commenting on the bullet of "Decide whether to block return types that are FromResidual but not Try", I have a use case in an error handling system for a parser:

[code]

[2022-02-18 23:45] danakj opened #94138 "Compiler drops fn symbols from rlib when not inlined."
### Repro
I tried this code, which I have saved as `repro.rs`:

[code]

I run this:

[code]
### Result

I expected to see this happen:

Normally all the symbols for the functions are present in the rlib's object files. So the grep is empty. However..

Instead, this happened:

With this carefully crafted repro case, the test_fn() (symbol: _ZN15values_unittest7test_fn17h9cefd472d6bb8276E) gets dropp

[2022-02-18 23:51] danakj commented on #94138
Originally I thought that `catch_unwind()` was involved, but that was just there to get `test_fn()` to be not called inline. I've updated the repro and title as such.

[2022-02-18 23:53] danakj commented on #94138
I can also reproduce with upstream stable compiler:
[code]
% rustc --version
rustc 1.56.1 (59eed8a2a 2021-11-01)
[code]

[2022-02-19 00:11] aDotInTheVoid opened #94140 "rustdoc-json: replace jsondocck with jsondocckng"
We want to use <https://github.com/aDotInTheVoid/jsondocckng> which allows writing the tests in a seperate rust files, instread of the current `jsondocck` and `check_missing_items.py`

## Reasons to do this

- Easier for new contributors: They don't need to learn how to use `JsonPath`  and `@set`... commands
- Easier for exising contributors: Common idioms (`"$.index[*][?(@.name=='...')]`) can be

[2022-02-19 00:43] aswild opened #94147 "x.py install uses different compiler stage for extended tools than x.py dist"
Scenario:
1. Set up config.toml with `extended = true` and `tools = ["cargo", "clippy", "rustfmt"]` and a custom prefix like `prefix = "/opt/rust-dev"`
2. Run `./x.py dist`
3. Run `./x.py install`

In the `dist` step, tools are built using the stage1 compiler and then zipped up into dist tarballs. Then, without making any changes, the `install` step rebuilds all of the tools using the stage2 compi

[2022-02-19 01:11] jack2f commented on #42639
install scrapy in termux with command
`pip install scrapy`
meet error message below:
`This package requires Rust >=1.41.0.
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for cryptography
Successfully built lxml
Failed to build cryptography
ERROR: Could not build wheels for cryptography, which is required

[2022-02-19 03:36] joshtriplett commented on #93995
I think it makes sense to consider the possibility of destructuring assignment with an `else`. I also think such a combination needs to pull its own weight, with use cases independent of let-else, that themselves come across much more clearly than alternatives. And in particular, I think destructuring assignments with `else` have a disadvantage and higher bar than let-else does, because `let ... e

[2022-02-19 04:10] scottmcm commented on #84277
What if you have the function return the latter, and implement `FromResidual` for it, but not `Try`?

Then they'll have to do something to the function return value to convert it to the former -- which implements `Try` too -- before they can `?` it.

[2022-02-19 04:25] szbergeron commented on #84277
I think that's roughly what I've done below, but IMO it is somewhat more complicated to write than the simple "divergent residual" code above:

[code]

This imitates the approach I see in Result<V, E> for converting E from one error to another

[2022-02-19 04:34] szbergeron commented on #84277
I just reread what you said earlier, and I tried doing that but ran into a roadblock: FromResidual requires Self: Try

[code]

[2022-02-19 05:08] #92458 closed

[2022-02-19 05:19] jackh726 commented on #85991
Should have been closed by #89892

[2022-02-19 05:19] #85991 closed

[2022-02-19 07:07] matthiaskrgr opened #94149 "debug assertion failed: debug_assert_eq!((thin_pointer_size, thin_pointer_align), cx.size_and_align_of(ptr_type));"
### Code
glacier fixed/83764.rs
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./83764.rs -Cdebuginfo=2`
Note: you need a build with rustc debug assertions enabled!

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-19 07:28] JamesMc86 commented on #54760
I wanted to add a failure mode which made this important to me.

I was trying to use command::spawn to start a process that outlives mine. It works from console but if stdout is piped then my process is held open until the spawned process is complete - breaking the expected behaviour of spawn.

Calling the following function operates as a workaround for now:

[code]

[2022-02-19 10:49] orlp commented on #91399
During merging of my implementation a new unresolved question popped up due to failed tests:

#### What should we do when the platform flushes denormals to zero and/or does not preserve NaN payloads?

I thought that my implementation would be immune to these issues since I call `to_bits()` at the start, `from_bits()` at the end and perform all logic with integers. Apparently not so.

For example,

[2022-02-19 10:53] GuillaumeGomez commented on #93770
cc @pnkfelix

[2022-02-19 11:44] paolobarbolini commented on #92967
I was able to confirm that #93577 fixed it
https://rust.godbolt.org/z/o6bqsKEjs

Closing

[2022-02-19 11:44] #92967 closed

[2022-02-19 12:18] Alexendoo commented on #89682
The reference ICE is fixed (#94043), original still ICEs

[2022-02-19 12:25] crlf0710 commented on #75704
Current status with `cargo tree -d --depth 1`:
<details><summary>Duplicates</summary>
block-buffer v0.7.3
└── sha-1 v0.8.2
    [build-dependencies]
    └── pest_meta v2.1.3

block-buffer v0.10.2
└── digest v0.10.2
    ├── md-5 v0.10.0
    ├── sha-1 v0.10.0
    └── sha2 v0.10.1

cargo-platform v0.1.2 (L:\ThirdParty\rust\src\tools\cargo\crates\cargo-platform)
└── cargo v0.61.0 (L:\ThirdParty\rust\sr

[2022-02-19 12:25] Alexendoo commented on #92407
Fixed by #94043

[2022-02-19 12:25] #92407 closed

[2022-02-19 13:27] GuillaumeGomez commented on #85016
The `union` keyword highlighting has been fixed in #87428. Please open another issue for the other "weak" keywords so we can fix them as well.

[2022-02-19 13:27] #85016 closed

[2022-02-19 14:42] oli-obk commented on #94124
We could consider making a commit directly on beta that removes all the stable hash project attributes. This is entirely risk free (I don't see how it could possibly cause problems to stop ignoring spans during stable hashing) and only makes incremental perf worse by a few percent, while also fixing the bug.

[2022-02-19 14:43] klensy commented on #86106
Fixed by #93577 https://rust.godbolt.org/z/vMdfPzfT5, but test should be added, to check regressions in future.

[2022-02-19 14:55] #92765 closed

[2022-02-19 15:00] nikic commented on #90609
Fixed by the LLVM upgrade in https://github.com/rust-lang/rust/pull/93577.

[2022-02-19 15:00] #90609 closed

[2022-02-19 15:04] nikic commented on #83585
Remaining case is fixed by the LLVM upgrade in https://github.com/rust-lang/rust/pull/93577.

Adding a codegen test for this may be worthwhile.

[2022-02-19 15:10] nikic commented on #62446
I think this is about as fixed as it's going to get, but it may be worthwhile to add some codegen tests for it.

[2022-02-19 15:47] szbergeron commented on #84277
Neat, that works. It does come at the cost of requiring a potentially "wrong" FromResidual impl to exist.

Take https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=41467f8b6250614106f7b5ab13655e12 as a simple(ish) example.

Currently, I'm forced to add a
![image](https://user-images.githubusercontent.com/7364398/154807932-8466ad69-3d8b-497e-90af-085725708cfc.png)
block even th

[2022-02-19 16:03] Toru3 opened #94160 "Associated type in higher-rank trait bounds cause unexpected E0227 and useless help"
Given the following code: [code in playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=edb7c5bf275b057585f888024d52aaa5)

[code]

The current output is:

[code]

Ideally the help should look like:

[code]

Not *higher-rank* trait bounds (below code) is compiled successfully.
[code]

[2022-02-19 16:25] the8472 commented on #91448
Addresses on a loopback device are not automatically local ones. E.g. when using [IP_FREEBIND](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=ab79ad14a2d51e95f0ac3cef7cd116a57089ba82) feature one can add arbitrary addresses to `lo` which then get routed over another interface.

The `is_*` functions on IP addresses only check address categorization based on IETF RFCs

[2022-02-19 16:32] nagisa commented on #94138
Most likely a duplicate of https://github.com/rust-lang/rust/issues/47384.

More generally, Rust provides no guarantees about the `rlib`'s other than that they are suitable as an argument to the `rustc`'s `--extern`, and even then `rustc` which produced the `rlib` must be the same as the `rustc` that receives the `rlib` as an argument.

[2022-02-19 16:32] #94138 closed

[2022-02-19 17:05] zseri commented on #84277
@szbergeron I tried to get your first example to work and came up with:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=21ae1121a515b43d206b21272f146944
A problem I see with this approach is that we can't enforce every property we want via the language directly; the following ones conflict:
* the return type should be `GuardedResult<_, Unjoined>` to force the user to handl

[2022-02-19 17:19] John-Nagle opened #94163 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', /rustc/f1edd0429582dd29cccacaf50fd134b05593bd9c/compiler/rustc_hir/src/definitions.rs:452:14"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-19 17:28] GodTamIt commented on #48287
This no longer seems to be a problem with the latest versions of both rustc and clang: https://gcc.godbolt.org/z/c4187cno3

[2022-02-19 17:38] klensy commented on #83585
Thats true for `-Copt-level=3` https://rust.godbolt.org/z/bWEo5qE6d, for `-Copt-level=2` it's still the same.

[2022-02-19 18:04] John-Nagle commented on #94163
Did "cargo clean" and rebuilt OK.

[2022-02-19 18:11] thomcc commented on #91399
CC @workingjubilee who has recently been thinking some about platforms like x87 and such.

[2022-02-19 18:19] droundy commented on #81513
I'm wondering whether the pointer could be changed from `const *()` to a new `const *Opaque<T>`, so users could have a little help from the compiler in keeping straight which "artificially thin" pointers are to which types.

Maybe not worth the added complexity, but it would feel nicer not to lose all type information on `to_raw_parts()`.

[2022-02-19 18:29] Aaron1011 commented on #94163
This is a known issue with incremental compilation - it should be fixed in the latest Nightly.

[2022-02-19 18:32] John-Nagle commented on #94163
OK, thanks. I will look forward to seeing it fixed in Stable.

[2022-02-19 19:01] 5225225 commented on #66151
Could we start showing a future compat warning when people leave something uninit? (which I believe shows to the user even if it's in a dependency?) That might help cut down on the people who continue to use outdated dependencies (notably, tokio-fs shows up in the above crater run, and gets around 4k downloads a day despite not being updated in years (since it was moved to `tokio`), which is conce

[2022-02-19 19:17] Aaron1011 commented on #66151
Unfortunately, there are legitimate reasons to have a call to `std::mem::{uninitialized, zeroed}` with an invalid type. You could have a macro or generic function that contains such a call, but gated behind a check:

[code]

We could try to warn on code that appears to come from the same expansion context (to catch something like an explicitly written `std::mem::uninitialized::<bool>()`, but there

[2022-02-19 19:45] SimonSapin commented on #81513
What would `Opaque` be? Could you spell out some more the specific definitions and signatures you have in mind?

[2022-02-19 20:40] nikic commented on #48287
And looks like this has been the case for quite a while already, since 1.52.

Worth mentioning that LLVM intentionally does not use 512-bit vectors here by default.

[2022-02-19 20:40] #48287 closed

[2022-02-19 21:04] ChayimFriedman2 commented on #93980
@estebank The problem is that this code is not self-contained; [it's inside `check_ref()`](https://github.com/rust-lang/rust/blob/e08d5693609a659e45025b8ea4dbd9efa342fa68/compiler/rustc_typeck/src/check/demand.rs#L689-L712) that performs a bunch of other suggestions. I'm working on extracting it and improving it BTW because it has some other reported bugs (#93983, #46276) and I have to refactor it

[2022-02-19 21:07] #82333 closed

[2022-02-19 21:09] compiler-errors commented on #94160
This is fixed by #94070, and thus (likely but not checked) also fixed by #90887 (since those are basically equivalent).

While this does fix the compiler error here, I am somewhat doubtful that we could make the compiler give this feedback in general. This issue is really just because the compiler has troubles with associated types that have higher-ranked lifetimes in them.

[2022-02-19 22:21] jlogan03 opened #94170 "Missing trait bounds error without justification"
Taking Rust's const generic expressions for a drive and ran into a situation where the compiler identifies a missing trait bound, but not which bound is missing.

Code: https://github.com/jlogan03/catnip/blob/0ea28658e2d76874258569a89f42ad0091e6e26f/catnip/src/udp.rs#L66

I expected to see this happen:
* Evaluate without error

Instead, this happened:
* Trait bounds error, but with no indication o

[2022-02-19 22:36] tgnottingham commented on #85318
This can be closed. Works as of nightly-2021-10-18 (well, with updates to changed feature names). Most likely fixed by #89514.

[2022-02-19 22:47] #85318 closed

[2022-02-19 23:07] matthiaskrgr opened #94171 "ICE: "attempt to add with overflow" in error emitter when building clippy_utils lib"
code is from clippy: `./src/tools/clippy/clippy_utils/src/lib.rs`
:warning:  you need rustc build with debug assertions :warning:

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./src/tools/clippy/clippy_utils/src/lib.rs --crate-type lib -Wsingle-use-lifetimes`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-19 23:08] matthiaskrgr commented on #94171
[full_backtrace.log.tar.gz](https://github.com/rust-lang/rust/files/8103133/full_backtrace.log.tar.gz)

[2022-02-19 23:16] #91615 closed

[2022-02-19 23:31] vt-alt opened #94173 "Non-LFS functions on 32-bit platforms"
As of 1.58.1 rustc compiles with non-[LFS functions](https://en.wikipedia.org/wiki/Large-file_support) on 32-bit platforms.

Linux kernel have special 64-bit versions of some important syscalls that 32-bit programs could use if they want to access large files. In C (and glibc) there is transparent function & syscall replacement if program is compiled with `-D_LARGEFILE_SOURCE -D_FILE_OFFSET_BITS=6

[2022-02-20 00:35] vgsantoniazzi commented on #69133
If you want to interpolate like that, you can use `stringify!`

https://doc.rust-lang.org/std/macro.stringify.html

[2022-02-20 00:58] workingjubilee commented on #90470
Hm. At the risk of getting philosophical, what does it mean for a thread to be "running", if this would return `true` when the thread is sleeping?

And did this get answered in the negative?

[2022-02-20 01:23] workingjubilee commented on #46345
EAGAIN and EWOULDBLOCK differ only on Windows, Redox, and VxWorks, according to our libc crate. We could add an io::Error::TryAgain variant and make sure we return that, but is it worth changing that return value and potentially confounding users?

[2022-02-20 01:25] JakobDegen opened #94176 "Missing trailing expression in block with `let else` yields incorrectly spanned error message"
I tried this code:

[code]

I expected to see this happen: A helpful error message pointing to the end of the block.

Instead, this happened: An error message with a wrong span:

[code]

### Meta

`rustc --version --verbose`:
[code]

cc #87335

@rustbot labels: +T-compiler +F-let-else +requires-nightly +A-diagnostics

[2022-02-20 01:26] JakobDegen commented on #94176
Let's try that again...

@rustbot label +T-compiler +F-let-else +requires-nightly +A-diagnostics

[2022-02-20 03:07] tnkemdilim commented on #92789
Were you able to resolve this? Also ran into a similar issue when using the `schemafy` proc maco.

[2022-02-20 03:50] Toru3 commented on #94160
If this compiles successfully, that's good enough for me. (There is no need to display help.)

[2022-02-20 03:58] Toru3 commented on #94160
This issue seems same as #90729. Should I close this issue?

[2022-02-20 04:00] compiler-errors commented on #94160
I would argue that this is sufficiently different from #90729, since it doesn't require `#![feature(generic_associated_types)]`. Feel free to keep it open.

[2022-02-20 04:06] Toru3 commented on #94160
I understand.

[2022-02-20 04:38] workingjubilee commented on #24157
Triage report: emits the correct diagnostic for Rust Edition 2021, and thus we **could** close this, but before we do so, I should note that I added the caveat there quite deliberately as this actually emits the wrong diagnostic still, in a very weird way, on Edition 2015 and Edition 2018:
[code]

stable/nightly doesn't seem to matter. rustc version is 1.61.0

[2022-02-20 05:01] #27747 closed

[2022-02-20 05:16] chordtoll commented on #84097
Looks like the change is caused by rust-lang/cargo#5506, which stabilizes the config-profile feature. We've been setting the `CARGO_PROFILE_RELEASE_DEBUG` environment variable, and prior to this merge, this was ignored, since we were not setting the `-Z config-profile` option.

[2022-02-20 05:19] chordtoll commented on #84097
I'm not yet sure where that environment variable is set, but my initial impression is that this is likely a misconfiguration in the debian build config. I'll investigate further.

[2022-02-20 05:24] #78186 closed

[2022-02-20 05:24] #85088 closed

[2022-02-20 05:24] #93912 closed

[2022-02-20 05:24] #94073 closed

[2022-02-20 05:24] #90526 closed

[2022-02-20 05:47] est31 commented on #94176
FTR this is the error for the `if let` equivalent:

[code]

[code]

[2022-02-20 05:51] est31 commented on #94176
I wonder how #94012 is affecting this, as this seems to be a bug in the desugaring and that PR changes it. @cormacrelf what is the error output with your PR applied? Does it fix the issue? If so, maybe adding a test to your PR would be helpful.

[2022-02-20 05:52] est31 commented on #94176
I meant *caused by* the desugaring, not *in* the desugaring.

[2022-02-20 05:54] cormacrelf commented on #94176
It won't fix it. This needs a bit of work I think, to push the error further inside the if-let-else branch, so the span marked is the implicit return expression.

[2022-02-20 09:06] Amanieu commented on #90470
I think the question that you are usually asking is "has this thread finished running" rather than "is this thread still running". Perhaps this function could be inverted and renamed to "is_finished"?

[2022-02-20 10:35] ranfdev opened #94180 "rustdoc: macro calls in alias (stringify!)"
When working with ffi, sometimes I need to alias the rust function to the foreign one.
[code]

Since I need to wrap many foreign functions, I use a macro (created with macro_rules) which looks roughly like this:
[code]

`stringify!`, `concat!` and other similar macros are really useful to generate the alias. It would be nice being able to use them

[2022-02-20 11:37] 5225225 commented on #66151
Hm, good point.

Though we *do* already have a warning for literally writing `std::mem::uninitialized::<bool>()` (which *does* trigger with that macro if it's in the same crate as you), so that *could* be expanded to warn on arrays, I suppose? Depends how many false positives we'd expect from that.

Though I'm not sure how much that would help, since basically *all* of the panics come from old dep

[2022-02-20 13:04] bunnie opened #94182 "crash when crate is not `used` but referred inside a module"
### Code

The setup to this is a bit complicated, but I will try to describe it as compactly as possible. We have a multi-crate workspace. In this example, the crate in question is called `dns`.  It has a dual `lib`/`bin` construction, e.g. it has interfaces callable by other crates, but also its own `main`. There is a module called `api` that defines common structures between the lib/bin halves.

[2022-02-20 13:06] Xiretza opened #94183 "rustdoc: blanket impl is not listed if trait is reexported from a private module"
I tried this code:

[code]

I expected to see this happen: the documentation for `S` shows that it implements `Actual`.

Instead, this happened: `Actual` is not listed in the list of blanket impls on `S`.

If `actual_sub` is made `pub`, the `Actual` blanket impl is now listed in the docs for `S`.

### Meta
`rustc --version --verbose`:
[code]

cc #24305

[2022-02-20 13:25] tmiasko commented on #57596
The earlier issue was fixed by #94037, but it wasn't the only one:

[code]

[code]

[2022-02-20 13:30] phil-opp commented on #50297
Maybe something like this could work:

[code]

Instead of running the tests, you could also only collect the test metadata that you need in a static and report it back to your C++ code. For example, to report the number of available tests:

[code]

[2022-02-20 13:53] zhiburt opened #94185 "`cargo test` panicked at 'called `Option::unwrap()` on a `None` value' rustc_metadata/src/rmeta/def_path_hash_map.rs:18:85"
Hi there I was running `cargo test` when this happened.
It was repeatedly happening unless I did `cargo test`.

It may be a duplicate (Sorry if it's the one).
And unfortunately I forgot to test it on nightly.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-02-20 13:54] zhiburt commented on #94185
Well as I see it already happened to me #92770

[2022-02-20 13:55] #94185 closed

[2022-02-20 14:25] #93806 closed

[2022-02-20 14:58] tmiasko opened #94187 "`type_name` depends on `-Zverbose` flag"
[code]

[code]

cc #63084

[2022-02-20 15:23] RalfJung commented on #66151
Yeah, extending the lint to arrays should be rather uncontroversial at this point. That would be an `Array` case in [this `match`](https://github.com/rust-lang/rust/blob/d54195db22421c51fd14560aba3bbf9b79a52677/compiler/rustc_lint/src/builtin.rs#L2535).

Indeed such an enum can *not* be left uninitialized.

[2022-02-20 15:42] hameerabbasi commented on #63713
I've begun work on this in #94188.

[2022-02-20 15:53] Toru3 commented on #94160
FYI

[code]

[above code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7bedd965d5a59fc67bd0337f949aab6c) generate below output.

[code]

[2022-02-20 16:17] RalfJung commented on #73448
That seems to be an accident in the analysis, which does not know how to handle `Self` and then falls back to a less precise analysis that takes into account both variants of `Bar`. `Bar::A` isn't even generic, but it is an associated const, and AFAIK we usually treat them all the same even if we could make a special case for monomorphic associated consts.

[2022-02-20 18:53] RalfJung commented on #73662
The [docs](https://doc.rust-lang.org/nightly/core/mem/fn.variant_count.html) mention constness in the top-right corner: `const: [unstable](https://github.com/rust-lang/rust/issues/73662)`.

`const fn` is only printed for functions whose constness is stable.

[2022-02-20 18:55] RalfJung commented on #94187
Cc @rust-lang/wg-const-eval strange type-level equality quirk?

[2022-02-20 19:00] tmiasko commented on #94187
`pretty_print_const` used by `type_name` implementation depends on `-Zverbose`:

https://github.com/rust-lang/rust/blob/c1aa85475cf5623caf50f7ef3b62903bb084e518/compiler/rustc_middle/src/ty/print/pretty.rs#L1152-L1162

[2022-02-20 19:03] RalfJung commented on #93773
Agreed -- but padding seems like the more obvious choice, so this doesn't exactly explain how the discriminant type comes to be.

[2022-02-20 19:07] RalfJung commented on #94026
Why that? As long as `write_u8(0xff)` always hashes the same way, the `impl Hash for str` seems fine.
(Incidentally, I just wondered what that `0xff` is for anyway. There is no comment explaining it so the reader has to resort to guessing.)

[2022-02-20 19:14] bjorn3 commented on #94026
`0xff` can never exist in a valid UTF-8 string. The only bit patterns used in the UTF-8 encoding of any codepoint are `0xxxxxxx`, `10xxxxxx`, `110xxxxx`, `1110xxxx` and `11110xxx`. `11111111` is not valid.

[2022-02-20 19:16] oli-obk commented on #94187
That's not really a const eval issue. This likely also happens for any lifetimes or impl trait types or anything else affected by the verbose flag.

Not sure we want to fix this, relying on a specific name is not something that should be done afaik. You should only use type names for printing to users

[2022-02-20 19:19] Patryk27 opened #94191 ""doesn't have a size known at compile-time" should point to the type alias' definition, not its usage"
Hii! :wave:

Given the following code:

[code]

([playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c45fafb7e475d1c7e0326a8361cd9d3a))

... the current output is:

[code]

Without the context that `FooWrapper` is a type alias, pointing out at `Box<FooWrapper>` seems to be misleading, since on its own, `Box<T>` doesn't require for its `T` to be `Sized`.

How

[2022-02-20 19:28] tmiasko commented on #94187
* `-Zverbose` is an untracked option. Producing different query output based on its value is incompatible with incremental compilation.
* `-Zverbose` might vary between crates which makes type system unsound.

[2022-02-20 19:28] Patryk27 opened #94192 ""help: consider removing" yields an empty suggestion"
Hii! :wave:

Given the following code:

[code]

The current output is (there are more messages, but focusing on the only problematic one):

[code]

Though the suggestion works correctly when the bound is represented as `fn foo<T: ?Sized>`:

[code]

[2022-02-20 19:30] Patryk27 commented on #94192
Whoopsie, I guess this should be marked as a bug, actually:

@rustbot label: +C-bug

[2022-02-20 19:41] phil-opp commented on #40180
I created a Pre-RFC for initial feedback at https://internals.rust-lang.org/t/pre-rfc-interrupt-calling-conventions/16182. Please let me know what you think!

[2022-02-20 19:46] RalfJung commented on #94026
That doesn't explain why `write_u8` is called at all. My guess is that it serves to give a byte slice and `str` with the same data different hashes, but (a) it's just a guess, and (b) that still doesn't explain why one would want those hashes to differ in the first place.

[2022-02-20 19:47] tczajka commented on #94026
It is required for the property that unequal values write different sequences to the `Hasher` (at least for standard types).

For instance, suppose that a hasher (say, `SipHasher`) were to treat `write_u8(0xff)` the same way as it treats `write(&[0x41])`.

Then this would cause a guaranteed collision between `("AAA", "AAA")` and `("AA", "AAAA")` regardless of the random seed inside `SipHasher`, de

[2022-02-20 19:47] bjorn3 commented on #94026
To ensure that hasing `abc` and the `def` gives a different hash from first hashing `abcd` and then `ef`.

[2022-02-20 20:05] hrkz commented on #73448
I also came across this warning while trying to match a `const` initialized with a `const fn`, I don't know if this is an expected behavior or not, since the structs `Foo` and `Bar` are directly annotated with `#[derive(PartialEq, Eq)]`.

Here is the playground link : https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=b8a524fa8d710581190495a481ecad60

Note that the warning is

[2022-02-20 20:10] scottmcm commented on #94026
Hmm, if hashers *don't* merge `write`s that's a shame since the nice `\xFF` trick for `str` ends up not really being any better, since if it'll do a whole block for the one byte anyway, and thus doesn't matter compared to using the length.

(And the `AHash` approach of length-prehashing on *every* `write` makes the `\xFF` pointless, so I feel like that's wrong for `AHash` to do that regardless.)

[2022-02-20 20:13] RalfJung commented on #94026
That sounds like a job for the slice hash function, not something `str` should do. And indeed that function [hashes the length](https://doc.rust-lang.org/1.58.0/src/core/hash/mod.rs.html#754-760), so the `write_u8` is unnecessary to achieve the goal you state.

[2022-02-20 20:21] tczajka commented on #94026
This is [not true](https://doc.rust-lang.org/1.58.0/src/core/hash/mod.rs.html#696). The `str` `Hash` implementation doesn't call the slice `Hash` implementation, it calls `Hasher` `write` and `write_u8` methods directly.

[2022-02-20 20:24] tczajka commented on #94026
It's worse than that -- if it doesn't merge the FF byte with the previous write but instead does something else on a whole block, you might lose the prefix free property for strings (depending on the details of what the block hash is).

[2022-02-20 20:26] RalfJung commented on #94026
Oh, I missed that it calls `write` instead of `hash`ing the byte slice -- my fault, sorry.

Maybe they *should* just be hashed as byte slices though, that would resolve all the concerns above... wouldn't it?

[2022-02-20 20:37] scottmcm commented on #94026
Well if the hasher *does* merge writes, [like SipHash does](https://github.com/rust-lang/rust/blob/6bf3008f0757c7c89c3f02e0e7eaac5ee30c1c6c/library/core/src/hash/sip.rs#L270-L287), then the `write` approach is great, since hashing "abc" can just hash one 4-byte block instead of needing to hash the potentally-8-byte length in addition to the string itself.

But yes, just using the normal hash for `

[2022-02-20 20:45] tczajka commented on #94026
It would solve the issue for for `str`, but if writes are not merged, the the prefix-free property guidance/requirement in `Hash` documentation would need to be strengthened. The first different calls to `write` would already have to be prefix free for two unequal values. Based on the current docs, implementors of `Hash` may be assuming that just the whole sequences of bytes written must be prefix

[2022-02-20 20:52] est31 commented on #85753
cc #82450

[2022-02-20 22:54] russelltg opened #94197 "Invalid code suggestion for ambigous trait generic argument"
I tried this code:

[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c4b5fd0b0d2eed6d0ae557056587354b)

I expected to see this happen: Compiler error with either correct suggestion or no suggestion at all

Instead, this happened: Suggestion that does not compile:

[code]

What even is the correct way to disambiguate this situation?

### Meta

`rustc --ve

[2022-02-20 22:58] est31 commented on #94176
Hmm if you move the println into the `if let`, it gives a similar error to the one emitted by `let else`:

[code]
gives
[code]

[2022-02-20 23:27] aDotInTheVoid opened #94198 "rustdoc-json: Rename `implementors` to `implementations`"
The ID's in `Trait`'s `implementors` field are those for `impl Trait for Type`, not `Type`

Eg:

[code]

[code]

[code]

@rustbot modify labels: +T-rustdoc +A-rustdoc-json

[2022-02-20 23:55] #88260 closed

[2022-02-20 23:55] #90776 closed

[2022-02-21 00:20] workingjubilee commented on #90470
While an async method was decided against, I will note Poll uses the idiom `is_ready` or `is_pending`.

[2022-02-21 00:40] yurivict opened #94201 "Rust project's build fails without any error message"
The ```solana``` project build fails, and the [log](https://people.freebsd.org/~yuri/solana-1.9.8.log) doesn't have any error message:
[code]

rust-1.58.1
FreeBSD 13

[2022-02-21 00:55] EricHe56 commented on #69133
maybe a inline function can help on it.

[2022-02-21 02:45] JonathanWoollett-Light opened #94204 "error: internal compiler error: compiler/rustc_traits/src/normalize_erasing_regions.rs:54:32: could not fully normalize"
### Code

The code cannot easily be entirely summarised in a small segment. It involves a [criterion benchmark](https://github.com/bheisler/criterion.rs) on a library.

Specifically running `cargo bench` in on this branch (https://github.com/JonathanWoollett-Light/static-la/tree/bench-error) triggers the error.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><sum

[2022-02-21 03:18] workingjubilee commented on #86511
Yes, for that one, the optimizer successfully normalizes the code into the same form it uses in both versions. And it looks like the difference is that by about `-Copt-level=2` the optimizer manages to optimize out the actual `switch` in the LLVMIR and normalize it into comparisons and jumps.

[2022-02-21 03:25] PrestonFrom commented on #93883
@oli-obk Thank you for the initial review on the fork -- I have opened a proper pull request in this repo: https://github.com/rust-lang/rust/pull/94206

Any feedback/comments/suggestions/general advice would be welcome!

[2022-02-21 03:30] Dirbaio opened #94207 ""trait bound not satisfied" error with HRTBs when just mentioning a fn."
rustc stable 1.58.1

The following code gives a strange error when just mentioning `foo`, without even calling it. As far as I can tell the bounds are well-formed, and the error can't be about passing the wrong type to `foo` because it isn't even getting called. [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=37e8be108458b0d98602f12cbba9e4fb)

[code]

Full erro

[2022-02-21 03:48] cormacrelf commented on #94176
That's because you have only now reproduced the actual desugaring.

[2022-02-21 03:50] cormacrelf commented on #94176
I'm starting to think the nested desugaring is not such a good idea. Even the guy who implemented it forgot how it worked the other day, it continues to mystify, and now we have some more error message complications. It's less work in hir lowering, but has absolutely no other benefits.

[2022-02-21 05:45] rcls commented on #92790
One thought is that deleting a dead tuple field may be non-trivial, if it is not the last field. E.g., imagine if someone got:
[code]
You can't simply delete the dead field. You have to also renumber all the uses of `.1`, which might be a non-trivial and error prone task.  So the cost v. benefit tradeoff of having a warning is different to the named-field case.

[2022-02-21 05:48] lcnr commented on #94187
jup, should fix that :sweat_smile: type_name should always not be verbose i think

[2022-02-21 07:49] maghoff opened #94210 "Imperfect diagnostic when attempting to print PathBuf"
Given the following code: <https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=175c4f812be74f3fdab4a225687bfb23>

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

The change in output is only to make sure the tip to use `.display()` or `.to_string_lossy()` shows up when attempting to print a `PathBuf`. It currently only shows up when attempt