[2019-04-24 14:33] RalfJung commented on #60219
Might be worth changing the title of this issue? The issue is not about the order confusing the type checker, it's about using the wrong lifetimes.

[2019-04-24 14:34] estebank commented on #60233
I'm pretty sure this is fallout from the "missing comma here" suggestion for macros, that evaluates the macro again with the current arguments but adding a comma token in between the argument tokens in different combinations to see if it would be correct. My guess is that that is causing a parse error that doesn't happen for normal things than only have one token in them. We can disable the sugges

[2019-04-24 14:36] oli-obk commented on #49146
@jyn514 that is already covered by making *as usize* casts unstable (https://github.com/rust-lang/rust/issues/51910), but users can also compare raw pointers (https://github.com/rust-lang/rust/issues/53020) which is just as bad and thus also unstable. We can handle these independently of control flow.

[2019-04-24 14:45] nomeata commented on #60231
Since I passed `-fpic` to `clang` here, I tried passing `-C relocation-model=pic` to `rustc`, but the output is unchanged.

[2019-04-24 14:47] oli-obk commented on #45600
Yes

[2019-04-24 14:54] nomeata commented on #60231
Possibly related:
* https://github.com/rustwasm/wasm-bindgen/issues/1420#issuecomment-479920562
* https://github.com/rust-lang/rust/pull/59712
Maybe the conclusion is that `rustc` simply doesn’t support producing the PIC code needed for shared libraries.

[2019-04-24 15:00] czipperz commented on #60200
It seems like we should have a compile time check to ensure links aren't broken.  Is this possible?

[2019-04-24 15:12] ehuss commented on #60200
@czipperz There is a linkchecker, but it is [disabled](https://github.com/rust-lang/rust/blob/bfb443eb1de484fde141fa9090a9f4291cbe60a5/src/tools/linkchecker/main.rs#L127) for String due to #32129.

[2019-04-24 15:33] froydnj commented on #60235
It's worth noting that my claimed workaround on the C/C++ side does not work for nontrivial programs (e.g. a plain `x86_64-apple-darwin` triple won't be able to use thread-local storage).  So there's no good way to make things work at the moment, I think.

[2019-04-24 15:35] steveklabnik commented on #60223
The docs do say

However, I *do* like @scottmcm 's suggestion, about talking about which methods you may want to override.

[2019-04-24 15:40] eddyb commented on #60229
@marimeireles Sure, go ahead!

[2019-04-24 16:09] kpcyrd commented on #58674
It seems this has been resolved at some point, 1.34.0 works correctly again. I've asked the original reporter to re-test and I'd close this issue if he reports a success.

[2019-04-24 16:15] little-dude opened #60239 "add a disclaimer to the net::ip methods that are susceptible to change"
This issue has come up in https://github.com/rust-lang/rust/pull/60145
See in particular [@the8472's comment](https://github.com/rust-lang/rust/pull/60145#issuecomment-485977968).

The IP specifications are constantly changing as new [RFCs](https://www.ietf.org/standards/rfcs/) get written and accepted, and the bits of the specification that are implemented in the standard library may need to be u

[2019-04-24 16:33] mati865 commented on #31322
Bootstrap doesn't respect `RUSTFLAGS` and defaults to `--build <target>` passed to `x.py`.

To bootstrap with musl you have to uncomment https://github.com/rust-lang/rust/blob/bfb443eb1de484fde141fa9090a9f4291cbe60a5/config.toml.example#L475 uncomment and set https://github.com/rust-lang/rust/blob/bfb443eb1de484fde141fa9090a9f4291cbe60a5/config.toml.example#L115 to `x86_64-unknown-linux-musl`.

--

[2019-04-24 16:44] sunjay opened #60241 "All links in std::cmp docs are broken"
https://doc.rust-lang.org/std/cmp/index.html

![image](https://user-images.githubusercontent.com/530939/56677440-91433200-668e-11e9-867f-e6420dbbe413.png)

Notice the `[` and `]` around various things in the docs. Those should be links.

[2019-04-24 16:53] jonas-schievink commented on #60241
Looks like they've been broken since they were rewritten to use the intra-doc-links feature.

[2019-04-24 17:12] mtak- commented on #60141
@LifeIsStrange it has been inlined here.

I would like to fix this, but I'm not sure if the bug is on the rustc side or libstd. Is there anyone who can give some guidance on where to look? If not I'll just submit a platform specific version of the `read_volatile` trick which feels more like a workaround than a proper fix.

[2019-04-24 17:57] davidtwco commented on #53249
Alright, so here's what I've worked out so far:

I was able to reproduce the ICE from the original code snippet using the compiler version and library versions from when the issue was reported (`nightly-2018-08-05` was the closest version I could find and I had to use patch to make Cargo download versions of libraries that worked). I was then able to confirm that the reproduction supplied in the n

[2019-04-24 18:08] ehuss commented on #60241
See #59833. I think this is because the module is reexported and the intra-doc-links don't handle that.

[2019-04-24 18:14] davidtwco commented on #53249
I've submitted #60243 with a regression test for this issue.

@Ekleog if you are able to reproduce this failure on a more recent nightly then feel free to re-open or file a new issue.

[2019-04-24 18:15] sunjay commented on #60241
Heh. @ehuss I seem to be catching many of the same issues as you. :smile:

Closing as duplicate. Thanks everyone!

[2019-04-24 18:15] #60241 closed

[2019-04-24 18:15] dotdash commented on #59375
I played around with this and have a WIP branch (https://github.com/dotdash/rust/commit/a5dc7e393a5177019d2831c19affb2a175769bd7) that teaches the deriving code about trivial cases, so the generated code turns from:

[code]

into

[code]

Which saves 32 bytes of stack in the eq function in this case (it depends on the repr type for the enum). Additionally, the derive for PartialEq emits `#[inline(

[2019-04-24 18:52] dotdash commented on #59375
@tdaede could you try and see whether this helps with your code in rav1e?

[2019-04-24 19:19] Nemo157 opened #60245 "Tracking issue for Pin::{into_inner, into_inner_unchecked} (feature `pin_into_inner`)"
This is a tracking issue for `Pin::into_inner` and `Pin::into_inner_unchecked`, proposed and implemented in https://github.com/rust-lang/rust/pull/60165.

[2019-04-24 19:26] the8472 commented on #60223
Such hints should be non-normative though to allow the implementations, especially specializations, to use different approaches in the future.

[2019-04-24 19:26] Nemo157 commented on #60245
@rustbot modify labels to T-libs, C-tracking-issue.

[2019-04-24 19:28] nikomatsakis commented on #56238
I spent some time reading into the related code etc and refreshing my memory how things work.

Presumably the plan is going to look something like this:

Extend [the `RegionConstraintData` structure](https://doc.rust-lang.org/nightly/nightly-rustc/rustc/infer/region_constraints/struct.RegionConstraintData.html) with a new sort of constraint, the "in" constraint.

Modify the [the code that constrai

[2019-04-24 19:55] scottmcm commented on #60223
Agreed, @the8472.   I was picturing more which methods to consider overloading, not specifically which things use them.  (Or, contrapositively, which things there's usually no reason to overload, like `for_each`, because the default implementation is generally as good as it gets because it's a trivial wrapper.)

[2019-04-24 20:02] estebank commented on #45600
I want to briefly bring this ticket up in tomorrow's meeting.

[2019-04-24 20:14] SimonSapin commented on #56995
https://github.com/rust-lang/rust/issues/54054 tracks adding more impls of `nth_back`, but I think this doesn’t need to block stabilization.

@rfcbot fcp merge

[2019-04-24 20:29] alexcrichton commented on #60235
We should probably just update rustc to match clang in this regard, dynamically telling LLVM about the more precise target triple with version information.

[2019-04-24 20:35] GuillaumeGomez commented on #60215
If I get approval from @rust-lang/rustdoc, I'll change the default values so the functions aren't collapsed by default.

So what do you think about it @rust-lang/rustdoc?

[2019-04-24 20:36] GuillaumeGomez commented on #60200
I added this issue to my "I need to fix that" list.

[2019-04-24 21:04] cuviper commented on #60184
@alexcrichton, any idea why statics would be apparently lost by ThinLTO?

[2019-04-24 21:50] QuietMisdreavus commented on #59557
Oh hey, this looks to be related to https://github.com/rust-lang/rust/pull/60065#issuecomment-484684146 and https://github.com/rust-lang/rust/issues/59313, cc @ollie27

[2019-04-24 22:48] BatmanAoD commented on #58794
@gnzlbg @kornelski

Unwinding is not possible without the right metadata, so I believe that no matter what Rust does, Kornel's use case in a non-Windows, non-SEH environment is *only* well-behaved when `-fexceptions` is used.

This is a subtle point, and one I didn't realize, since it is not mentioned in the `-fexceptions` description. The `-fexceptions` documentation would seem to imply (for both

[2019-04-24 23:10] Ekleog commented on #53249
Sounds good to me, thanks!

[2019-04-25 00:03] Firstyear commented on #60215
Thanks for this! What about changing the “[+]” element to be clearer about it’s behaviour?

[2019-04-25 00:10] jxs opened #60249 "Compiler fails to identify type mismatch on function that returns impl Trait"
the following function, added to  [tower-grpc](https://github.com/tower-rs/tower-grpc/) hello world client [example,](https://github.com/tower-rs/tower-grpc/blob/master/tower-grpc-examples/src/helloworld/client.rs) to wrap the service connection setup, when used, the compiler fails to identify the type mismatch, `()` in the return type should be `BoxBody`
[code]

and gives the following error:
[co

[2019-04-25 00:22] estebank commented on #60016
CC #51751

[2019-04-25 01:59] cramertj commented on #60016
@estebank Yeah, it fixes #51751 and #51719.

[2019-04-25 02:05] estebank commented on #59384
Fixed in beta.

[2019-04-25 02:05] #59384 closed

[2019-04-25 03:13] kpcyrd commented on #58674
It seems this has been resolved.

[2019-04-25 03:13] #58674 closed

[2019-04-25 05:11] KrishnaSannasi commented on #48135
This is probably intended, coercions only happen when there is no type inference needed to resolve the coercion, so `&mut _` to `&_` is fine, because all `&mut T` can be coerced to `&T`, but in your example the argument type and the return type of the closure are inferred (even if it is simple inference), so coercion won't kick in. Although, we could special case simple cases like this, it doesn't

[2019-04-25 05:15] KrishnaSannasi commented on #47545
I have the same issue, but I think this is not ambiguous

[code]

playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0303c8f3ddd73801e5fb0f83d7e570d7

If you un-comment out the last line in main, this program fails to compile. It seems to be that it doesn't infer that the closure `|| ()` could in fact implement `FnMut()`, so it doesn't implement it.

[2019-04-25 06:33] #58270 closed

[2019-04-25 06:34] #53249 closed

[2019-04-25 06:52] crlf0710 opened #60251 "Consider shipping llvm-rc.exe on windows."
I wonder if it's feasible to ship llvm-rc.exe for windows targets. This tool has limited capacity compared with windres.exe from MinGW and rc.exe from MSVC, but i think it can make steps towards solving https://github.com/rust-lang/rfcs/issues/721 or similar issues.

[2019-04-25 07:04] Ekleog commented on #50547
I've just noticed that currently `await!(fut)` requires that `fut` be `Unpin`: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9c189fae3cfeecbb041f68f02f31893d

Is that expected? It doesn't appear to be in the RFC.

[2019-04-25 07:19] Nemo157 commented on #50547
@Ekleog that's not `await!` giving the error, `await!` conceptually stack-pins the passed future to allow `!Unpin` futures to be used ([quick playground example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=38b1639bb102c94d29c8d2c3ac06b44e)). The error comes from the constraint on `impl Future for Box<impl Future + Unpin>`, that requires the future to be `Unpin` to stop

[2019-04-25 07:36] michaelwoerister commented on #60235
@alexcrichton Would you say that's generally in line with what people can expect, i.e. that the actual target triple can be more specific than the specified one? (Clang seems to do just that)

[2019-04-25 07:45] hellow554 commented on #60251
CC https://github.com/rust-lang/rust/issues/49584

I think one could this could by done by adding it to `llvm-tools-preview`. What do you think about that @japaric? (ping to you, because you were the moving force for `llvm-tools`).

[2019-04-25 07:49] gnzlbg commented on #58794
Since we only have 8 weeks left till abort is enabled again, I think that just starting with `#[unwind(Rust)]` would be enough.

This would mean that @kornelski's code using `#[unwind(Rust)]` would be brittle, but less brittle than what it is today. Adding more `#[unwind(...)]` attributes that makes @kornelski use case more robust can be done later, maybe as part of the WG-FFI roadmap for this yea

[2019-04-25 08:20] matthiasbeyer commented on #43301
I guess "Implement the RFC" can be ticked off, right? At least according to [this](https://blog.rust-lang.org/2019/04/11/Rust-1.34.0.html#-in-documentation-tests)! :smile:

[2019-04-25 08:25] GuillaumeGomez commented on #60215
That's another debate.

[2019-04-25 09:07] Firstyear commented on #60215
If that is another debate would you prefer to have another issue opened with relation to that matter?

[2019-04-25 09:48] Centril opened #60253 "Do `for` loops still need to be a terminating scope?"
See: https://github.com/rust-lang/rust/pull/60225

[2019-04-25 10:01] Centril opened #60254 "Deduplicate diagnostics in `if-without-else-as-fn-expr.rs`"
https://github.com/rust-lang/rust/pull/59288 introduces some duplicates in diagnostics in `if-without-else-as-fn-expr.rs`. Specifically, you have e.g.:
[code]
We want to get rid of the first one since the second is better...

...but this is not done in https://github.com/rust-lang/rust/pull/59288 since I wanted to avoid too many temporary changes for diagnostics that may get obsoleted quickly.

[2019-04-25 10:03] GuillaumeGomez commented on #60215
Yes please!

[2019-04-25 10:19] TimDiekmann commented on #34511
I think I found a bug in the current `existential type` implementation:

<details>
<summary>Implementation</summary>

[code]

</details>

<details>
<summary>Error</summary>

[code]

</details>

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=000b2ad6956592756ddc3e4b88467f9d)

You can find [this on stackoverflow](https://stackoverflow.com/questions/55826693/why

[2019-04-25 11:00] Firstyear opened #60255 "Docs rs "[+]" ui element does not afford usage clearly"
In docs.rs, the UI has elements on the page similar to this screenshot:

<img width="658" alt="Screen Shot 2019-04-24 at 07 56 31" src="https://user-images.githubusercontent.com/271005/56730886-6d6e1200-679c-11e9-9d18-b94f3336fc2e.png">

The UI element is the light grey "[+]".

This element does not clearly afford it's usage: this means people do not see that it is first a UI element at all, and t

[2019-04-25 11:38] ethanboxx opened #60258 "Tracking issue for `Option::flatten`"
[PR](https://github.com/rust-lang/rust/pull/60256)

[2019-04-25 11:45] Thermatix commented on #44034
Has there been any movement on this issue?

[2019-04-25 11:57] oli-obk commented on #44034
The problem with such a scheme is that invocations of the same macro are still not ordered, so you can easily end up in a situation where the order of invocation changes the result.

If an ordering scheme between proc macros is implemented, one could consider giving `bar` read access to `foo`'s storage. Though, this would depend on `foo` only ever being called once per crate (due to the output of

[2019-04-25 12:16] #60233 closed

[2019-04-25 12:52] jq-rs commented on #44113
Adding submodule support may be useful when combining several crates with custom global allocator with c libraries. With several crates the ´´´__rg_alloc´´´ symbol is overlapping in the linking phase and linking is failing. Or is there a workaround already for this (besides allowing  multidefs)?

[2019-04-25 13:04] SirTates commented on #60139
Ah, I was getting the idea this was what it might get down to in my then sleep deprived mind. As long as it doesn't divert too much from the original design. This might get a bit over my head and I shouldn't jump in that early in the morning. Now that I reread it, I see what's up more clearly.
So then, I think it's relatively trivial for the crates to patch for the new change, and it's so early on

[2019-04-25 13:04] withoutboats commented on #50547
await should possibly be special cased to allow `Box<dyn Future>`since it consumes the future

[2019-04-25 13:08] Nemo157 commented on #50547
Maybe the `IntoFuture` trait should be resurrected for `await!`? `Box<dyn Future>` can implement that by converting to `Pin<Box<dyn Future>>`.

[2019-04-25 13:24] nagisa commented on #59932
I would be fine with disabling altivec by default on both ppc64, because it is easier to enable it back for new binaries than to disable it for already-built ones.

Removing `I-nominated`, because T-compiler don’t have stakeholders in PPC support to the best of my knowledge, so it is impossible for us to arrive at a meaningful decision.

[2019-04-25 13:37] gnzlbg commented on #59932
@nagisa is there a group for packagers / distros contributors ? I think this would interest them, since the ppc targets are being shipped for some linux distros.

[2019-04-25 13:42] Mark-Simulacrum commented on #54712
It'd be helpful to know how much rustbuild can "trust" the compiler here. Can we keep incremental artifact directories around from previous versions of the compiler?

[2019-04-25 13:48] DutchGhost opened #60263 "Const generic ICE without feature specified"
The following ICE's on nightly only:
[code]

Notice I didn't specify the `#![feature(const_generics)]` feature

<details>
<summary>Backtrace:</summary>

[code]
</details>

[2019-04-25 14:02] petrochenkov commented on #60263
In general, presence or absence of `#![feature(X)]` shouldn't affect compiler's behavior in any way beside reporting the "feature `X` is unstable" error, so ICEs like this need to fixed unconditionally.

[2019-04-25 14:04] nikomatsakis commented on #60136
@matthewjasper can you elaborate a bit on how #59500 is related here?

[2019-04-25 14:06] DutchGhost opened #60264 "Const generic ICE on stable, beta and nightly"
The following only crashes on stable, beta and nightly:

[code]

Notice the lack of `#![feature(const_generics)]`

<details>
<summary>Backtrace Stable:</summary>

[code]
</details>

<details>
<summary>Backtrace Beta/Nightly:</summary>

[code]
</details>

[2019-04-25 14:06] nikomatsakis commented on #60127
It seems like what we really need here is to reduce this to a smaller, standalone test case -- or at minimum to bisect the failure to a particular PR, perhaps using https://github.com/rust-lang-nursery/cargo-bisect-rustc.

[2019-04-25 14:09] nikomatsakis commented on #60228
@matthiaskrgr does this reproduce reliably for you? Is that still true if you do a fresh checkout (so as not to have an incremental history?)

We're trying to figure out if this is an incremental bug or what.

[2019-04-25 14:13] nagisa commented on #60228
Marking P-high so can keep track of this, but we are still trying to ascertain just what's going on.

[2019-04-25 14:18] Centril commented on #60228
Similar: https://gist.github.com/Centril/be64d49ccc758cab4c11d921bc9eb1f6

[2019-04-25 14:20] nagisa commented on #60136
Would be great to have a bisection and/or reduction of the reproducer. Cursory look at the contents of the web-dom crate indicates that it should be fairly easy to make a reproducer here.

[2019-04-25 14:23] michaelwoerister commented on #54712
The compiler can only work with incremental artifacts that it created itself. For any other version of the compiler it has to assume that it's incompatible. It usually just ignores such incompatible artifacts, but in the bootstrapping scenario, it might not always be smart enough to do that.

[2019-04-25 14:24] nikomatsakis commented on #60218
I will investigate.

[2019-04-25 14:27] hellow554 commented on #60264
Related https://github.com/rust-lang/rust/issues/60147 and https://github.com/rust-lang/rust/pull/57272

[2019-04-25 14:27] nagisa commented on #60050
I will bisect this and then pass the baton to @oli-obk to fix this.

[2019-04-25 14:28] hellow554 commented on #60263
Strongly related (not sure why two issues though) with https://github.com/rust-lang/rust/issues/60264 and therefore with https://github.com/rust-lang/rust/issues/60147 and https://github.com/rust-lang/rust/pull/57272

[2019-04-25 14:34] nagisa commented on #60059
It seems that this issue would be mostly resolved by documenting which cases and linker/flag combinations we know to work. We could then see if there are any changes to the CLI that could be made to improve the experience here.

[2019-04-25 14:34] oli-obk commented on #34511
I'm not 100% sure we can support this case out of the box, but what you can do is rewrite the function to have two generic parameters:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b4e53972e35af8fb40ffa9a735c6f6b1

[code]

[2019-04-25 14:35] petrochenkov commented on #60147
https://github.com/rust-lang/rust/pull/57272 rather uncovered the issue than introduced it.

Semi-implemented features should issue errors rather than ICEs regardless of presence or absence of `#![feature(...)]`.

[2019-04-25 14:35] nikomatsakis commented on #60059
[Discussion from Zulip](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/weekly.20meeting.202019-04-25.20.2354818/near/164175079)

[2019-04-25 14:35] hellow554 commented on #60127
Sadly I haden't time yet to look into it :| If somebody comes up with a MCVE I will happily bisect it

[2019-04-25 14:36] Keruspe opened #60265 "Current beta cannot bootstrap itself"
When trying to build the current beta (https://github.com/rust-lang/rust/commit/2bc1d406dd5eda8bb3fd0d08a9a1a534740f9e79) using itself, the build of bootstrap fails with

[code]

[2019-04-25 14:40] QuietMisdreavus commented on #60215
Oh, i didn't realize our default was to fold up the function docs! Yes, we should leave those unfolded if there's no overriding setting.

[2019-04-25 14:45] TimDiekmann commented on #34511
Thanks!
Yup, this is what I did as posted on the stackoverflow post:

[code]

[2019-04-25 14:46] hellow554 commented on #60147
True.. sorry for that :|

[2019-04-25 14:48] hellow554 commented on #60264
:)

[2019-04-25 14:51] QuietMisdreavus commented on #60255
cc @rust-lang/rustdoc @rust-lang/docs (tagging docs team as this is a "docs display" issue)

I'm hesitant to expand the text there, since those unfold markers appear *everywhere* on the docs page. Adding a full word to them would create a lot of extra text on the page and shift over all the items they appear beside.

Would it be sufficient to give them some kind of alt-text like "collapse/expand d

[2019-04-25 14:52] DutchGhost commented on #60263
2 issue's because the ICE messages are different, sorry for the confusion!
To clearify, on both issue's there are 2 things wrong:
* Being able to get the ICE's, without specifying the feature
* The ICE's themselves

[2019-04-25 14:54] hellow554 commented on #60265
@rustbot modify label: A-rupstup regression-from-stable-to-beta

[2019-04-25 15:03] lqd commented on #60136
Reduction — [playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=0264234238f23c284494b1b35d47066a)

[code]

[2019-04-25 15:06] tan20290 opened #60268 "Someone should rewrite Docker and Kubernetes in Rust."
Someone do it.

[2019-04-25 15:17] sfackler commented on #60268
General discussions are better left for reddit.com/r/rust or users.rust-lang.org.

[2019-04-25 15:17] #60268 closed

[2019-04-25 15:23] mark-i-m commented on #44113
I think it is intentionally disallowed to have multiple global allocators. After all, they would no longer be global...

[2019-04-25 15:24] whatisaphone commented on #42202
I see what you did there, and I like it.

More seriously, I'm just swinging by to say I use this feature independently of bindgen, and I hope it's stabilized one day (or at least sticks around in some form)

[2019-04-25 15:26] RyanBluth commented on #60127
Would seeing the diff between the working code and failing code help at all?

[2019-04-25 15:47] Zoxc commented on #54712
I think the question here is will rustc's incremental artifacts correctly deal with crates changing (including adding and removing crates) in the sysroot. If so, we could keep the `incremental` folder around. Cargo assumes the sysroot is unchanging, which is why we remove the `target` directory in the first place.

[2019-04-25 16:00] matthiaskrgr commented on #60228
does `./x.py clean` count as a fresh checkout?

I'm currently trying something like
[code]

to see if that reliably reproduces the crash.

[2019-04-25 16:08] LucioFranco opened #60269 "Rustdoc ICE `'Infer', src/librustdoc/clean/mod.rs`"
Hello! I searched around and couldn't find any issue that is related to this. I have compiling code here https://github.com/tower-rs/tower-hyper that seems to fail when in run `cargo doc` with:

[code]

[code]

Specifically speaking, I am able to document the crate without an ICE happening if I disable this module https://github.com/tower-rs/tower-hyper/blob/master/src/server/mod.rs.

More specifi

[2019-04-25 16:15] mgeier opened #60271 "Inconsistent parameter name "capacity""
I've been told that parameter names are not part of the API, so this might not matter at all (except to pedantic people like me):

I've found 17 functions with the name `with_capacity()`: https://doc.rust-lang.org/stable/std/index.html?search=with_capacity

Most of them use `capacity` as parameter name:

1. https://doc.rust-lang.org/alloc/vec/struct.Vec.html#method.with_capacity
1. https://doc.rus

[2019-04-25 16:20] nikomatsakis commented on #60136
OK, wait, I didn't read #59500 closely enough. I can see why this regression occurred. We didn't used to consider `Box<fn(...)>` to implement `Fn`, but we do now (because of the impls added in #59500). This means that `(controller.processor)` winds up being desugared as a call through `Fn` to the `Box<..>`, instead of inserting an auto-deref. This is the sort of breakage we typically accept (for b

[2019-04-25 16:21] jhfrontz commented on #59542
@eddyb wrote

I just realized that you may have been asking me to do some further data gathering -- if so, I'm not sure I understand what you're requesting.  Should I unroll the loop in  [build.sh.txt](https://github.com/rust-lang/rust/files/3096459/build.sh.txt) and have the `two` pass do something different?

[2019-04-25 16:21] sfackler commented on #58452
So it sounds like the changes we want to make are `IoVec`/`IoVecMut` -> `IoSlice`/`IoSliceMut`, and we'll retain the current name of the methods. Is that correct?

I'll make a stabilization PR if so.

[2019-04-25 16:21] alexcrichton commented on #60184
Oh wow starting from a bisected LLVM commit is quite nice, thanks for doing the legwork to find that!

That commit in LLVM sounds pretty suspicious though because it sounds like it's working from the assumption that ThinLTO has complete and total knowledge of the entire compilation, I'm not sure there's ever a case you can internalize something that's otherwise public. Especially in Rust's case we

[2019-04-25 16:22] nikomatsakis commented on #60136
The workaround is to change to `(*controller.processor)`, although I suspect the *better* fix is to remove the `Box` altogether and just store the `fn(&mut CustomElements)` directly. =) (but maybe there's another reason to have the `Box`)

[2019-04-25 16:22] nikomatsakis commented on #60228
@matthiaskrgr should be good enough, yes

[2019-04-25 16:26] alexcrichton commented on #58452
That was my read on this as well! And thanks @sfackler!

[2019-04-25 16:37] lqd commented on #60127
Looks related to #57464 ? (which @pnkfelix is working on)

[2019-04-25 17:06] estebank commented on #60271
Parameter names are not part of the API because arguments in Rust are always only positional, which means that changing the name is never a breaking change. This means that we both don't care to change it nor to keep it as is ^_^

I think this is for T-libs/T-docs to decide.

[2019-04-25 17:32] estebank commented on #60264
I think I have a tiny patch that can fix beta and nightly, but I don't think it'll apply to stable.

[2019-04-25 17:42] hellow554 commented on #60269
Can you please `RUST_BACKTRACE=1 cargo doc` and post the result here?

[2019-04-25 17:44] LucioFranco commented on #60269
@hellow554 yup! here it is

[code]

[2019-04-25 17:45] jq-rs commented on #44113
In this case they are the same allocator as they are using the same global alloc crate. Still, as they are from different internal crates, they are seen as different allocators during linking. Multidefs is the workaround, but it of course may cause other issues elsewhere. But yes, I agree that maybe submodules is not the way to properly solve this problem.

[2019-04-25 17:52] nagisa commented on #60271
I encourage you to post a PR which unifies the names. They appear in the documentation, so this is essentially a documentation improvement, and those are generally well accepted.

[2019-04-25 17:55] KrishnaSannasi opened #60274 "Rust ICE when using for all binder (panics in MIR) on stable 1.34.0 and nightly 1.35.0"
[code]
While I was trying to make a general `Generator` impl, I came across this ICE. Note that inlining `indicies` makes this ICE go away.

[2019-04-25 17:57] EEVV opened #60275 "rustc tried to unwrap None (only nightly)"
While using the `rand` crate I accidentally misread `rand::random::<f64>()` as `rand::random<f64>()` and the compiler responded with an error and also a panic.

[code]

## Meta

`rustc --version --verbose`:
[code]

(also fails on playground): https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=229b9583f1b448072b0a182bb75f7900

Backtrace:
[code]

[2019-04-25 18:00] jonas-schievink commented on #60274
[code]

[2019-04-25 18:03] KrishnaSannasi commented on #60274
@jonas-schievink thanks for putting the stack-trace, I forgot about that

This also works
[code]

[2019-04-25 18:25] cuviper commented on #60184
Huh, can it be so simple? I did have a suspicious eye on that argument, but the callers in LLVM made me think we would want `true` too. But yes, setting that `false` does seem to work! :tada:

I'll run through more tests to make sure that's not regressing anything, but I'm hopeful -- thanks!

[2019-04-25 18:51] cuviper commented on #59932
By "both", do you mean ppc64le too? AFAIK little-endian only became a viable Linux target starting with POWER8, which definitely has Altivec. LLVM also defines the [ppc64le CPU](https://github.com/rust-lang/llvm-project/blob/ce9347ddd09ec04eb2cc0eb7c46e5001efe22af5/llvm/lib/Target/PowerPC/PPC.td#L442) as POWER8.

It's easy to add features for your own code, but `std` is stuck at the baseline unles

[2019-04-25 19:03] nagisa commented on #59932
Yes. Then again, if ppc64le without altivec cannot possibly exist, then the lowest common denominator is good as well. Knowing PPC, though, you can run most of the chips in either endianess.

On one hand you’re right, on the other most of `std` is so generic, that in practice most of the code will end up using whatever features that are enabled for the final artifact. I guess https://github.com/ru

[2019-04-25 19:14] cuviper commented on #59932
I don't know the full details, but this IBM [FAQ](https://www.ibm.com/developerworks/community/blogs/fe313521-2e95-46f2-817d-44a4f27eba32/entry/just_the_faqs_about_little_endian?lang=en) says:

[2019-04-25 19:14] estebank opened #60279 "Detect when unresolved import is caused by item that's `cfg`ed away"
When having an annotated import like `#[cfg(test)] use foo::bar;` and elsewhere in the same scope we have `use self::bar::baz;` we currently get an error about unresolved imports when building regularly. We should point out that the import would be valid if it wasn't restricted to `test` runs and suggest to either remove the other imports annotation or adding one to the current import.

[2019-04-25 19:21] Diggsey commented on #59845
IMO, there should definitely be no distinction in colour between enums, structs and type aliases - either it's an opaque type in which case you shouldn't even care how the type was defined in the library, or else you need to use the type, in which case you need to go to the documentation for that type anyway.

Traits should be a different colour, but shouldn't be the current bright blue that overp

[2019-04-25 19:23] estebank commented on #60275
Possibly introduced in https://github.com/rust-lang/rust/pull/59798.

[2019-04-25 19:30] cuviper commented on #60184
With `ImportEnabled = false`, it failed a couple tests on i686, although x86_64 still passed. :confounded:

[code]

[2019-04-25 19:45] matthunz opened #60282 "RLS panics at Box<Any>"
RLS panics when I include [romio](https://github.com/withoutboats/romio) or similar crates involing futures.

[code]

RLS Backtrace:
[code]

[2019-04-25 19:47] cuviper commented on #60184
Umm, actually those tests fail for me on i686 without modification too... :confused:

[2019-04-25 19:52] alexcrichton commented on #60184
Those tests are pretty brittle and are probably likely to produce false negatives, but I'd also be curious to see what causes it! Sounds like otherwise it may be fixed so yay!

FWIW all I do when updating llvm is copy their code for thinlto as well and this is the first time that strategy hasn't worked!

[2019-04-25 20:08] KrishnaSannasi opened #60283 "Rust panics at typecheck ICE stable 1.34.1 and nightly 1.35.0"
possibly related to #60070, #52812, and #29997

[code]

stack trace

[code]

[2019-04-25 20:09] cuviper commented on #60184
:laughing:

I'm trying again in the `i686-gnu` docker image -- if I can get that to pass, I'll open a PR.

[2019-04-25 20:14] joshtriplett commented on #58794
On Thu, Apr 25, 2019 at 07:50:42AM +0000, gnzlbg wrote:

This sounds reasonable to me.

Would someone be willing to write up an RFC for `#[unwind(Rust)]`?

[2019-04-25 20:24] varkor opened #60286 "Only permit `structural_match` types as const generic types"
This should also allow us to clean up the implementation of https://github.com/rust-lang/rust/pull/60284.

[2019-04-25 20:35] estebank commented on #60282
Could you set the `RUST_BACKTRACE=1` environment variable so we can get the full backtrace?

[2019-04-25 20:45] nikomatsakis commented on #60203
We discussed this in [the @rust-lang/lang meeting today](https://paper.dropbox.com/doc/T-Lang-Meeting-2019.04.25--Ab_hdtYL6iRmHL8WdJtKWPe5Ag-sy3LYoQJVG7Y6PofdX0Jt) and reached the following conclusions (however, we did not have a large quorum, so perhaps these conclusions can be considered tentative):

We are content to go ahead and make hidden parameters a hard error in `async fn` for now; we did

[2019-04-25 20:48] BatmanAoD commented on #58794
@gnzlbg Hmm. Since the Rust unwind implementation is not specified, isn't adding an annotation that explicitly exposes a potentially non-forward-compatible API fairly dangerous? I know it'll be `unsafe`, and that it will only break if the `panic` implementation changes to not use the platform-default stack unwind, but it still seems less helpful than something like `unwind(exception)` (to match th

[2019-04-25 20:48] matthiaskrgr commented on #60228
Ok, I poked around in the git reflog and got this recipe
[code]
I was able to reproduce this in 2 out of 2 attempts :)

[2019-04-25 20:53] matthewjasper commented on #60274
Small repro:

[code]

I'll try to have a PR up for this next week.

[2019-04-25 20:54] BatmanAoD commented on #52000
@oli-obk Sorry for the long absence. I'm still up for writing some docs, although at the moment I'm still not sure exactly what needs to be written.

If that's the case, then doesn't that solve the "third problem" you described above, regarding `drop`ping `T` during `const` evaluation?

[code]

[2019-04-25 20:57] matthunz commented on #60282
Sure thing, here's what I got:
[code]

[2019-04-25 21:49] pietroalbini commented on #60265
@rustbot modify labels: T-infra

I'm not sure we support bootstrapping a beta with itself. @Mark-Simulacrum?

[2019-04-25 21:54] mati865 commented on #60265
Once beta is promoted to stable it will be bootstrapping stable with stable which Linux distributions do a lot so it'd be nice.

[2019-04-25 22:11] Lonami commented on #60255
Maybe the main page of the documentation could explain how items are displayed with some examples and what the `[+]` and such mean?

[2019-04-25 22:52] Firstyear commented on #60255
The problem with this, is imagine someone links me to new documentation from a different location? What if I search and and placed deep into the page? Maybe I don't go past the mainpage? This would probably not work, because people won't find the example usage and description of "[+]", and the examples would probably cause more frustration at their "length" and presence.

I think that alt text als

[2019-04-25 22:55] tdaede commented on #59375
I've been trying to get it to reproduce, and now despite using the same compiler version and code, I see it suddenly decide to inline now :( I wonder if it's dependent on what codegen unit boundaries rustc decides to use at a given time? My smaller testcases in the bug still reproduce.

FWIW in rav1e I was using the following to try to reproduce it:
```$ perf record cargo test --features=decode_te

[2019-04-25 23:22] #58930 closed

[2019-04-26 00:54] insanitybit commented on #55900
https://rusoto.github.io/rusoto/rusoto_dynamodb/struct.PutItemInput.html

I've experienced serious lag/ hangs/ CPU spikes on rusoto docs.

[2019-04-26 00:59] donbright opened #60294 "LLVM ERROR: out of memory building rustc on powerpc ppc64"
howdy

this is on the GCC Compile Farm,

[code]

[code]

this is a very recent clone of github.com/rust-lang/rust

thanks

[2019-04-26 01:29] Mark-Simulacrum commented on #60228
Probably https://github.com/rust-lang/rust/pull/60190 then I suspect? cc @alexcrichton and @nnethercote

Might also be #56278 but I doubt it.

[2019-04-26 01:31] shepmaster commented on #43081
A concrete case arose while trying to use a raw identifier in an attribute:

**alpha/src/main.rs**

[code]

**alpha/beta/src/lib.rs**

[code]

This produces the ident *without* the raw identifier marking (`r#`):

[code]

<details>
<summary>Complete <code>TokenStream</code></summary>

[code]

</details>

[2019-04-26 01:46] Mark-Simulacrum commented on #60265
We try to support distro's efforts to support self-bootstrapping; the PR (#60273) already posted looks fine to me. I'll leave a comment to that effect there as well.

[2019-04-26 01:57] dragonmaus opened #60297 "Stable rustc always panics on arm/musl"
Stable rust is unable to compile anything on `arm-unknown-linux-musleabihf` (Raspberry Pi gen 1 running Void Linux).

Even a simple program like the following:
[code]
throws an "internal compiler error: unexpected panic" at "already borrowed: BorrowMutError".

## Meta

`rustc --version --verbose`:
[code]

Backtrace:
[code]

[2019-04-26 03:01] dchammond opened #60298 "x86(_64) _mm256_store_p(s/d) intrinsics have incorrect signatures"
All of: `x86::_mm256_store_ps`, `x86::_mm256_store_pd`, `x86_64::_mm256_store_ps`, and `x86_64::_mm256_store_pd` have an incorrect signature where the destination is a `*const f32`, it should be a `*mut f32`. Additionally the implementation of these functions invokes UB:

[code]

[2019-04-26 03:45] dchammond commented on #60298
Moved to https://github.com/rust-lang-nursery/stdsimd/issues/743

[2019-04-26 03:45] #60298 closed

[2019-04-26 04:42] #60096 closed

[2019-04-26 04:42] #60181 closed

[2019-04-26 04:42] #60264 closed

[2019-04-26 04:42] #60275 closed

[2019-04-26 04:42] rust-highfive opened #60299 "`rls` no longer builds after rust-lang/rust#60296"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#60296, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and @rust-lang/compiler -- nominat

[2019-04-26 04:57] Centril commented on #60299
I looked at the rollup but I don't know why this happened; it would be nice if highfive tried to highlight the source for each failed tool.

[2019-04-26 05:16] scottmcm commented on #60214
Note also that, in cases like this, it means that `MyStruct { field }` can't figure out which of possibly-many `B`s you meant, so it's probably not what you want even if it were to work.

Usually this is handled by not bounding the struct, and just bounding methods on the struct.

[2019-04-26 05:42] phansch commented on #60299
@Centril I think this may be because of Clippy not because of RLS. I had a quick look but ran out of time for today. We essentially have to correctly handle the new [`ExprKind::Use`](https://github.com/rust-lang/rust/pull/60225) in Clippy.

[2019-04-26 07:04] RalfJung opened #60301 "miri component gets shipped even though the tests fail"
Looking at https://rust-lang.github.io/rustup-components-history/, it seems like Miri is getting shipped as a rustup component even though the tests fail. Unfortunately, Miri is currently entirely usable, so it'd probably be better if it did not get shipped in this state. Is that something we can do?

Cc @oli-obk

[2019-04-26 07:11] flip1995 commented on #59952
Quick update on this:
The lint writing is done: https://github.com/flip1995/rust/commits/internal_lints

Now I have to fix the findings of the lints. This may take a little bit of time (I had to touch 18 files for `librustc` alone)

[2019-04-26 07:38] hrydgard commented on #60230
This in fact still happens on Rust 1.34.1. Please re-open.

[2019-04-26 07:47] CryZe commented on #44488
What's the status of this?

[2019-04-26 07:54] jonas-schievink commented on #60230
@hrydgard The compiler team decided not to backport the fix for this issue. It is already fixed on beta and nightly and will be fixed in 1.35.0. I closed the issue because it is a duplicate of https://github.com/rust-lang/rust/issues/59898, however, which is still open.

[2019-04-26 07:56] jonas-schievink commented on #60294
@donbright How many cores and how much RAM does this system have?

[2019-04-26 08:05] arthurprs commented on #60197
There are some explanations here https://users.rust-lang.org/t/compiler-seems-confused-about-the-argument-lifetime/27536

I'm not sure if this should be closed or not.

[2019-04-26 08:09] Lonami commented on #60255
[The HTML `details` tag](https://www.w3schools.com/TAGS/tag_details.asp) (`<details><summary>Short</summary> Long</details>`) looks like this:
<details><summary>Short</summary> Long</details>

[2019-04-26 08:12] hellow554 commented on #60230
@hrydgard can you please confirm that it has been fixed on beta by using `rustup default beta`?

[2019-04-26 08:14] gnzlbg commented on #58794
Doing Rust->Rust via FFI is a reasonable thing to do (e.g., DLLs, hot reloading in games, ...), Rust does not have a stable ABI, and for all we know that might never happen and `extern "C" + #[unwind(Rust)]` could be the only ABI Rust will ever get (as long as all toolchains match, etc.).

Rust programs are already doing that, this code would break if we `abort` in C FFI, and this is the problem t

[2019-04-26 08:23] jonas-schievink commented on #60230
Yes, that's a good idea. The weird thing is that #59898 only really happens on crates that target non-tier1 platforms, so this might still be something else.

[2019-04-26 08:35] jerch commented on #59399
If speed is a concern, Bob Steagall showed that a state machine based version in C++ can greatly enhance UTF8 decoding throughput. You can find the implementation [here](https://github.com/BobSteagall/utf_utils) and a great video explaining his efforts [here](https://www.youtube.com/watch?v=h5oczBeib_M).

[2019-04-26 08:45] michaelwoerister commented on #59542
I don't think incremental compilation should be used at all when trying to create reproducible builds. @jhfrontz, could you try to set `CARGO_INCREMENTAL=0` in your test setup?

[2019-04-26 08:49] mati865 commented on #60297
Probably not musl specific: https://github.com/rust-lang/rust/issues/57665

@dragonmaus can you try with nightly? Hopefully it will have better debug info.

[2019-04-26 08:57] RalfJung commented on #44488
In terms of process, this FCP includes `align_offset` from what I can tell. So I guess all this needs is a stabilization PR?

[2019-04-26 08:58] julien1619 commented on #58840
@pnkfelix I've just checked on Rust 1.34.1 and I confirm the bug is still present. @darnuria and @GuillaumeGomez told me yesterday at the Paris meetup to bump this issue. I'll try to create a minimal testcase later today.

[2019-04-26 08:59] hrydgard commented on #60230
It appears to be fixed in beta for me.

Still, indeed mysterious that it doesn't seem to happen for others on Windows. If there's anything you'd want me to check about my installation, I'm happy to do so.

[2019-04-26 09:09] varkor opened #60302 "Split up files with `// ignore-tidy-filelength`"
These files are over 3,000 lines, which is not ideal for navigating or comprehending. If we can, it would be good to split these up. See also https://github.com/rust-lang/rust/issues/60015, which is a specific issue of this problem.

[2019-04-26 09:19] CryZe commented on #44488
Cool, I'll look into creating that then.

[2019-04-26 09:52] najamelan commented on #58088
Ha, this does seem to be a duplicate of #50310 though. Only just found that one now, and it's still open.

[2019-04-26 09:56] najamelan commented on #50310
As I said in #58088 , I would suggest banning all path names from types in error messages and to include use statements in the error message to avoid ambiguity and to allow the user to verify the path if needed.

It's exponentially useful when the same types are referred to more than once, which is quite common. The problem seems also especially bad with generics, which are common in rust as well.

[2019-04-26 10:02] hellow554 commented on #50310
Sorry, but I'm not the same oppnion as you are. Let's suggest you have to structs called `Foo` in different paths in your code. You only import/use one at the moment. Now you compile your project and your compiler will complain something related to `Foo` but because there are no paths you will likely end up digging at the wrong `Foo`.

I don't think that removing paths from the error is a good sol

[2019-04-26 10:17] najamelan commented on #50310
@hellow554 That's why I'm suggesting use statements to be included in the error messages, with full, unambiguous paths. I don't know, but I feel that unfortunately the [screenshot](https://user-images.githubusercontent.com/449589/56084906-15452080-5e2a-11e9-8e29-8c02f8e7b7d3.png) I posted speaks louder than a thousand words, and I mean literally speaking... that can't be a desirable UX, no?  Maybe

[2019-04-26 11:15] oli-obk commented on #52000
This "problem" is solved by rejecting the above code. It's not so much a problem of the source, but of the analysis. The analysis needs to figure out which things are dropped *and* have a `Drop::drop` impl. Introducing loops will make this problem impossible to solve in the general case (because of the halting problem). We can introduce a pessimistic analysis that knows a bunch of cases and keeps

[2019-04-26 11:28] Firstyear commented on #60255
That seems really good actually: simple, part of standards, probably works with accessibility tools, can be defaulted to open/close based on preference.

There may also be ways to customise it’s style to make it more visible too, but I like this suggestion. Thanks!!

[2019-04-26 11:40] Lonami commented on #60255
Unfortunately, [Microsoft Edge doesn't support the `<details>` tag](https://caniuse.com/#search=details), so the best we can do is emulate its look and feel. To make it worse, we can't just make the entire summary clickable, because we already use links there (for example to navigate to the reference of the return type). So perhaps all left is the triangle instead of `[+] [-]`.

How about a text `

[2019-04-26 11:45] GuillaumeGomez commented on #58840
cc @rust-lang/compiler

[2019-04-26 12:02] Phrohdoh opened #60304 "Display original source location for doc test failures"
I have the following file:

[code]

When I run `cargo test` for this package I get the following, valid, failure:

[code]

Unfortunately the reported error location is from the generated (I assume) code that is actually tested and not the correct location in the original source.

It is indeed the 7th line in the doc but that isn't as helpful as it could be.

Ideally I would see `src/lib.rs:16:30`.

[2019-04-26 13:13] wafflespeanut commented on #55900
I have a suggestion related to trait pages (open to bikeshedding).

Most often, we're only interested in *whether* a type implements a trait (when we're in some trait's page) or finding a trait implementation in a type's page. Does it make sense to get rid of the detail on trait implementations (under "Implementations on foreign types" and "Implementors" sections)?

Basically, these:

![trait-impl

[2019-04-26 13:17] kornelski commented on #55900
BTW, all content under these `[+]`'s is duplicate. You get all the same iterator  methods repeated over and over again for every `Itearator` impl. It'd make sense to group implementations by trait, and include methods *once*.

[2019-04-26 13:26] froydnj commented on #60235
I am attempting to write patches for this.

[2019-04-26 13:26] froydnj commented on #60020
I am in the process of bisecting this.

[2019-04-26 13:58] glittershark commented on #59032
This is happening to me with `LD_PRELOAD=/usr/lib/libjemalloc.so.2`

[2019-04-26 14:07] Aaron1011 commented on #60269
I'd like to work on this.

[2019-04-26 14:08] flosse commented on #44052
We @slowtec would also love to use Rust for our AVR projects and of course we would open source a lot of our production code :)

[2019-04-26 14:16] euclio commented on #60304
Can you post the full code? When I try running a simplified example I see the expected line number.

[2019-04-26 14:38] sci4me opened #60308 "What does ! before a trait mean?"
For example: https://doc.rust-lang.org/src/std/sync/mpsc/mod.rs.html#495

[2019-04-26 14:38] akshayknarayan commented on #31436
I tried using this for the first time yesterday, and I was a little surprised that this:
[code]
does not compile due to
[code]
Rather, I had to do
[code]
instead.

This was confusing at first, so maybe it is worth changing the error message or mentioning in `--explain`?

[2019-04-26 14:46] Centril commented on #60308
It denotes that `Send` is *not* implemented (i.e. a "negative" implementation).
See https://github.com/rust-lang/rfcs/blob/master/text/0019-opt-in-builtin-traits.md#default-and-negative-impls for more details.

[2019-04-26 14:51] sci4me commented on #60308
Thanks!

[2019-04-26 14:51] #60308 closed

[2019-04-26 14:58] alexcrichton commented on #60228
This doesn't look like #60190 to me at first glance, but I could of course be wrong. Given that it requires incremental build state it could just be a preexisting bug that hasn't been hit yet.

[2019-04-26 14:59] GuillaumeGomez opened #60310 "Line numbers not correctly aligned on source code page"
Can be seen in this issue: https://github.com/rust-lang/docs.rs/issues/337

[2019-04-26 15:03] alexcrichton commented on #46981
A misconfigured jobserver can still cause issues in rustc, and this error is indicative of a misconfigured jobserver in one way or another. This indicates an environmental problem rather than a problem in rustc AFAIK. If someone else manages to fix rustc we can of course merge, but I don't personally believe there's much we can do in rustc for this.

[2019-04-26 15:09] Phrohdoh commented on #60304
Bizarre!  I am unable to reproduce this locally or on the playground but I have seen this many times in many different projects.

I'll leave this open myself but please feel free to close.

[2019-04-26 15:13] Mark-Simulacrum commented on #60228
Sure, yeah -- that deduction was purely based on most likely PRs from the rollup in 8a44125f557.

[2019-04-26 15:17] reyou commented on #46113
I am a little late but you can try

[code]

[2019-04-26 15:35] #44488 closed

[2019-04-26 15:38] Manishearth commented on #55900
I think that somewhat makes sense for common traits like Iterator, but not in general.

One useful side of the expanded doc view is being able to see what methods you have available. Often these are through traits.

[2019-04-26 15:52] whmountains opened #60312 "Compiler error when I remove unreachable code"
Consider the following minimal example ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5fd9665e0b90ff589f07af468da21d98)):

[code]

It compiles successfully but warns me that line 6 (`Ok(()) as Result<(), ()>`) is unreachable.  That is correct, because `std::process::exit` is a diverging function.  But when I remove that line, compilation fails with the follow

[2019-04-26 15:54] Stargateur commented on #55900
Note that @shepmaster give me a trick, use a past version of the doc, https://doc.rust-lang.org/1.29.0/std/iter/trait.Iterator.html. Not perfect but that do the work until the problem is solved.

[2019-04-26 16:04] danielhenrymantilla opened #60314 "`mir_borrowck` ICE with HRTB and lifetime in associated type"
# Summary

When `T` is **not** `: 'static`, calling a function of signature
[code]

leads to an ICE.

# Steps to reproduce

[code]

  - [Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0bed9a62f129cd68ac89ed5487f50a8d)

# Tested on

  - 1.33.0 nightly and stable

  - 1.34.1 stable

  - 1.36.0 nightly

# ICE Backtrace

[code]
___

# Hypothesis

Maybe `rustc`

[2019-04-26 16:06] nikic commented on #60184
Should we be making a distinction between local and global ThinLTO here? The latter should have a full cross-crate picture, right?

[2019-04-26 16:12] kevincox commented on #46981
There is no other jobserver in my environment. I have checked numerous ways and am highly confident.

[2019-04-26 16:22] jonas-schievink commented on #60314
Duplicate of https://github.com/rust-lang/rust/issues/60274

[2019-04-26 16:22] #60314 closed

[2019-04-26 16:22] jonas-schievink commented on #60274
Another repro from https://github.com/rust-lang/rust/issues/60314:

[code]

[2019-04-26 16:25] jhfrontz commented on #59542
No effect.

[code]

[code]

[2019-04-26 16:44] carols10cents commented on #60299
i'm not sure why the book failed either, is that because of clippy too? can you tell me where to look @phansch ?

[2019-04-26 16:47] alexcrichton commented on #60184
I think we could do that if no native libraries are linked, but as soon as there's some native library is somewhere we also don't have the full picture because it could be relying on linking to a static that's only read from Rust (or something like that)

[2019-04-26 16:52] mgeier commented on #60271
Done: #60316

[2019-04-26 17:31] matthieu-m commented on #55900
There are two distinct use cases though:

 1. Showing which traits are implemented by the current struct/trait A on the page of A, and the methods available.
 2. Showing all implementations of a trait A on the page of A, and duplicate the trait methods for each implementation.

I agree with you that (1) is very useful, however (2) is a completely separate usecase and the cause of the issue for `It

[2019-04-26 17:34] sujayakar commented on #56167
I submitted https://github.com/rust-lang/hashbrown/pull/54 to support using a `K` that doesn't implement `Hash` via the raw entry API.  See https://github.com/rust-lang/hashbrown/issues/44 for the original motivation.  Now that hashbrown is merged into `std`, could we expose this functionality on the `std::collections::hash_map` types as well?

If so, I'd be happy to submit a PR!

[2019-04-26 17:34] Manishearth commented on #55900
Oh, I see. Hmm. That seems okay.

(Though I'll note the performance issues are due to various bugs and not the actual page content. Browsers are pretty good about not processing display:none things)

[2019-04-26 18:56] estebank commented on #60312
I'm intrigued on whether this is something we want the language to support: performing escape analysis and ignoring typechecking when appropriate. It sounds to me like a very niche corner case to encode, but at least we could silence the lint...

[2019-04-26 19:20] wafflespeanut commented on #55900
This is true and this is the case for "type" pages. I never suggested to remove anything there. I was talking about removing the stuff in "trait" pages, because we already have all the trait methods up top (so why duplicate everything?). I'm also suggesting to provide a link (next to the trait impl in a trait's page) for the user to see that impl in the corresponding type's page.

I agree that bro

[2019-04-26 19:26] sinesc commented on #55900
As soon as the last "Loading content..." appears the browser has processed the entire HTML. After that it is "just" layouting the blocks that were previously display: none.
One could flip those blocks individually from hidden to visible with a setTimeout(.. ,0) inbetween to allow the browser to layout the blocks individually. Total rendering time would go up slightly, but the stuff at the top woul

[2019-04-26 19:30] Manishearth commented on #55900
Yeah I agree with that.

I'm more saying that this isn't the cause of the performance issues.

[2019-04-26 20:17] Phrohdoh opened #60319 "Empty doc tests should be linted"
Run tests for https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8ac29ea8121d53906e7a77cd01ccbe70 and you'll get the following diagnostic:

[code]

But to be as helpful as possible the diagnostic should, if possible, point to the start of the invalid code block.

[2019-04-26 21:37] estebank commented on #18150
Current output:

[code]

[2019-04-26 22:53] estebank commented on #46991
@dtolnay you could use `rustc_on_unimplemented` to annotate `serde::Deserialize` and `serde::Serialize` when building in nightly where you can rewrite the E0277 errors to your own needs.

Fixing this in a general way will be hard to accomplish in the short term.

[2019-04-26 23:52] matthiaskrgr opened #60320 "llvm lint: "Unusual: Address one pointer dereference" on unsafe code"
[code]

[code]

code:
[code]

Is this expected given the snippet contains `unsafe` code?

cc https://github.com/rust-lang/rust/issues/7463

[2019-04-26 23:55] matthiaskrgr opened #60321 "llvm lint: Unusual: "Load from function body" on unsafe code"
[code]

[code]

the code contains unsafe code though:
[code]
cc #7463

[2019-04-26 23:59] matthiaskrgr opened #60322 "llvm lint: Pessimization: Static alloca outside of entry block / UB"
[code]

[code]

code:
[code]
cc https://github.com/rust-lang/rust/issues/7463

[2019-04-27 00:02] matthiaskrgr commented on #48310
Another example from rusts own codebase
[code]
src/test/run-pass/issues/issue-51907.rs ( when compiled with opt-level 3)

[code]

[2019-04-27 00:29] KrishnaSannasi commented on #31436
If you move the question mark in your first example down a bit to
[code]
You get a better error message. The error comes up because Rust can't decide which type to resolve the `try { ... }` to, due to how general it is. Because it can't resolve this type, it can't know what the `<_ as Try>::Ok` type is, which is why you got the error that you did. (because the `?` operator unwraps the `Try` type a

[2019-04-27 01:57] dragonmaus commented on #60297
@mati865 Rustup steadfastly refuses to work on this machine at all*, and -nightly is not available in the distro repositories, so I do not think I can be very helpful with that.

*The one from rustup.rs fails when it tries to run the rustup-init it downloads (with nothing more than a generic OS error message), and the one from the distro repositories complains as follows:
[code]
so I can make neit

[2019-04-27 02:04] tmandry commented on #57717
I've been looking into this. One question is how hard it will be to successfully do this across multiple crates that depend on each other. e.g. I want to run rustc with `--dep-info-only` on crate A, then crate B which depends on crate A.

I know that in the case of `cargo check`, for instance, we obviously emit enough metadata for our dependent crates. Ideally, I don't want to go through a full `c

[2019-04-27 02:24] estebank commented on #34692
The code now works on 2018 mode and needs no diagnostic change.

[2019-04-27 02:24] #34692 closed

[2019-04-27 02:28] froydnj commented on #60020
OK, I have run into an issue that must involve some subtlety with `rustc` that I don't understand.  I can use the above instructions with a released `rustc` to get an artifact I can analyze with `readelf`.  But when I try to do the same with a freshly-built `rustc` from stage2, the resulting objects in the archive suddenly contain *no* debug information (even with `-C debuginfo=2`)...and significa

[2019-04-27 03:16] estebank commented on #35946
We now point only at the `?` when we can't cover the error type, but otherwise no changes from my last comment.

[2019-04-27 03:51] euclio commented on #60319
Hm, this error was actually removed in #60140 because I didn't think it could actually be produced. Looks like it was possible to trigger by writing an empty doc test.

On master, this code produces a passing doc test now. IMO, that is the correct behavior.

[2019-04-27 04:43] estebank commented on #39703
Current output:

[code]

[code]

[2019-04-27 05:47] jonas-schievink commented on #48310
Nominating to figure out how bad this is. Might be related to https://github.com/rust-lang/rust/issues/55976.

[2019-04-27 05:47] jonas-schievink commented on #60322
The UB issue looks similar to https://github.com/rust-lang/rust/issues/48310 at least

[2019-04-27 06:23] nfm commented on #59032
I'm hitting this too on Ubuntu 18.10 when trying to compile the first 'hello world' example from the Rust Programming Language book.

I also have `LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libjemalloc.so.2`, and when I unset `LD_PRELOAD`, I can compile without segfaulting.

I don't have ESET installed, it looks like this only relates to jemalloc for me.

[2019-04-27 07:40] nikic commented on #60321
This seems fine. The lint complains exactly about what the code is intended to do (inspecting instructions in the function), and it's just an "unusual" lint. What the code does is indeed very unusual ;)

[2019-04-27 07:46] nikic commented on #60320
This one looks okay as well. The code is dereferencing a 1-pointer to generate a segfault, which is (some special cases notwithstanding) UB.

Might be nice to raise sigsegv in a more conventional way for this test though.

[2019-04-27 07:58] nikic commented on #60322
Not sure if we can do anything here. We don't generate those allocas that way, but the originally dynamic alloca size is statically determined during optimization.

[2019-04-27 08:31] glandium commented on #60020
Search for debuginfo in the rust section of config.toml.

[2019-04-27 11:04] varkor commented on #40531
@guruhegde: as far as I can tell, you should just be able to add a new line under:
https://github.com/rust-lang/rust/blob/597f432489f12a3f33419daa039ccef11a12c4fd/src/tools/build-manifest/src/main.rs#L120
containing `"x86_64-pc-solaris",`, and then add a new line under:
https://github.com/rust-lang/rust/blob/597f432489f12a3f33419daa039ccef11a12c4fd/src/librustc_target/spec/mod.rs#L432
containing:

[2019-04-27 11:09] updogliu opened #60326 "[doc-gen] Vec::iter_mut is missing from the side list of the doc page"
The page: https://doc.rust-lang.org/beta/std/vec/struct.Vec.html#method.iter

See the screenshot - missing `iter_mut` below `iter` in the side-list.

![image](https://user-images.githubusercontent.com/1288299/56848906-26a92500-6920-11e9-90e7-309c3ed93088.png)

[2019-04-27 11:27] GuillaumeGomez commented on #55900
It could be part of it. That's something that has been suggested a while ago and that I wanted to give a try to. I'll try to find some time to check locally if that improves things.

[2019-04-27 11:58] arunthomas commented on #59802
Greetings from Oxidize!

It'd be great if someone could bump LLVM, so we can start adding support for Linux/RV64 targets. It was suggested @alexcrichton might be the person to ping about this.

@asb Is there a specific LLVM version you would recommend? I assume we want at least https://github.com/llvm/llvm-project/commit/da20f5ca74522c5ad7630180e7b99709e453dee5, but I imagine there may be other up

[2019-04-27 12:43] Phrohdoh commented on #60319
I agree completely.

Would this mean re-introducing this message but improving the message (replacing _invalid_ with _empty_ or something similar)?

I believe that is the best course of action as warning on an empty code block is completely valid and desired IMO.

[2019-04-27 13:14] matthewjasper opened #60331 "Remove `-Ztwo-phase-borrows`"
This flag does nothing, so can be removed from `librustc/session/config.rs`.

The `-Z two-phase-beyond-autoref` flag could also be removed, since it will usually result in an ICE rather than anything helpful. Removing this will require a bit more work to remove any usage of the flag.

[2019-04-27 14:19] AlvaroBernalG commented on #46981
@alexcrichton I am also having the same problem as @kevincox when running **entr** with the reload flag.

[code]

[2019-04-27 14:40] rkruppe commented on #48310
I believe LLVM's linting is in the wrong here. The purported type mismatch is that the caller passes `{}*` as first argument but the callee was declared with parameter type `%Bar*`. But the pointee type doesn't matter [1] so this call is perfectly ABI-compatible.

[1] slight caveat -- currently it still matters for `sret` "arguments", but I don't see that here.

[2019-04-27 14:41] euclio commented on #60319
The original code only caught this incidentally. I think this check would make more sense as a rustdoc lint instead of a hard warning. Could be added to `check-code-block-syntax` or a new pass entirely.

[2019-04-27 15:29] estebank commented on #31701
Current output doesn't point at the return type, but otherwise _says_ the right thing:

[code]

[2019-04-27 15:37] cup commented on #33933
https://github.com/rust-lang/rust/issues/29418

[2019-04-27 15:37] cup commented on #29418
https://github.com/rust-lang/rust/issues/33933

[2019-04-27 15:38] cup opened #60335 "If I download Rust using:"
[code]

from here:

https://forge.rust-lang.org/other-installation-methods#standalone-installers

it seems the compiler cant actually compile anything:

[code]

[2019-04-27 15:40] cup commented on #29418
https://github.com/rust-lang/rust/issues/29418
https://github.com/rust-lang/rust/issues/33933
https://github.com/rust-lang/rust/issues/60335

[2019-04-27 15:40] cup commented on #33933
https://github.com/rust-lang/rust/issues/29418
https://github.com/rust-lang/rust/issues/33933
https://github.com/rust-lang/rust/issues/60335

[2019-04-27 15:40] cup commented on #60335
https://github.com/rust-lang/rust/issues/29418
https://github.com/rust-lang/rust/issues/33933
https://github.com/rust-lang/rust/issues/60335

[2019-04-27 15:42] estebank commented on #39316
[The current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9c8a74d34a2210e5209380115ce5131f) is slightly clearer:

[code]

All the code in [the first comment](https://github.com/rust-lang/rust/issues/39316#issuecomment-275396674) now compiles.

The explanation for why the original code [_should_ be rejected is now](https://play.rust-lang.org/?version=nightly&mode

[2019-04-27 15:53] nagisa commented on #60050
Bisection claims 9217fe0e2f04d61dd29c9aaebee2c993705e1d26, (#59850). cc @Zoxc

[2019-04-27 15:59] fintelia commented on #59802
@arunthomas Rust can already target bare metal Rv64 (with the riscv64imac-unknown-none-elf target). What is missing is the ability to place the code/symbols at locations outside the range [-2GB, 2GB]. That isn't too much of an issue for writing supervisor mode code which can just configure the MMU to map those addresses to point to RAM, but machine mode can't pick the memory layout of the board it

[2019-04-27 16:28] Centril opened #60336 "unused_parens incorrectly lints on `if let true = (false && true) {}`"
[code]

If we remove the parens we correctly get:
[code]

cc https://github.com/rust-lang/rust/issues/53667 #53668

The lint should take `let_chains` into account.

[2019-04-27 16:29] Centril commented on #60336
This is a rather obscure bug which no one seems to have hit thus far... I only found it due to working on `let_chains`. I'll fix the issue as part of this work.

[2019-04-27 16:58] #60271 closed

[2019-04-27 18:03] brettcannon commented on #59543
Looks like someone snagged fixing this before I had a chance to get to it, so I'll let #60022 and its author handle fixing this.

[2019-04-27 18:04] Julius-Beides commented on #41260
I have looked into this and the easiest way to do it is to internally use 0 as the issue number if it wasn't given.
This feels a bit hacky. Should I try to change the type in `StabilityLevel::Unstable` from `issue: i32` to `issue: Option<i32>` instead?

[2019-04-27 18:05] Zoxc commented on #60050
My guess is that `no_mangle` should be a `Whitelisted` attribute? It was declared twice before https://github.com/rust-lang/rust/pull/59850 and the `Whitelisted` variant got removed.

[2019-04-27 18:06] SoniEx2 opened #60339 "Switch rustc/std/etc ("Rust") to an anarchy-based development model"
Mozilla appears to be moving to a hostile management structure, as such it seems reasonable to explore alternative development models for rust so as to decouple it from mozilla.

My personal proposal, and the only one I know of (I don't know anything else that works like this), is the use of [GAnarchy](https://ganarchy.autistic.space/). GAnarchy is a "project page generator", written in Python, de

[2019-04-27 18:08] Zoxc commented on #60050
Also our scheme to track unused attributes does not work the incremental compilation, which is probably why it only happens with that.

[2019-04-27 18:13] varkor commented on #41260
Yes, that's right. `0` should not be used to encode an issue anywhere; we should be using `Option` instead.

[2019-04-27 18:52] Centril commented on #60339
Rust is a project independent from Mozilla. For example, the language team consists to 5/9 of people that are not Mozilla employees. Of the core team, only 3 of 9 are Mozilla employees. I don't think Mozilla has even the most employees in the world that program Rust. That title probably belongs to Google by now. The suggestion that Rust is coupled to Mozilla is therefore just wrong.

Rust uses a d

[2019-04-27 18:52] #60339 closed

[2019-04-27 18:58] SoniEx2 commented on #60339
lock the issue?

[2019-04-27 19:47] donbright commented on #60294
hello. It has 64 cores and 64 GB of RAM.

[2019-04-27 19:49] donbright commented on #60294
to be more specific it is machine 110 at https://gcc.gnu.org/wiki/CompileFarm shared amongst many people, so the RAM availability goes up and down

[2019-04-27 20:06] DevQps commented on #59543
@brettcannon Nice :) Let's wait for that then :)

[2019-04-27 20:11] Disasm commented on #59802
I also really want these patches to be merged. I've already tried to merge upstream branch as well as to deduce a cherry-pick-able set of commits but failed in both cases. Because of that, I can't tell whether these patches will fix the issue or not. At the moment I'm stuck waiting for help. I'm ready to give it another try, but I need some guidance. Maybe @alexcrichton or @asb could help me?

[2019-04-27 20:41] erikdesjardins commented on #60312
This might make it clearer why the compilation error is necessary ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0b3d32bff5b290ab3e0a383328cb56a3)):

[code]

[2019-04-27 20:58] erikdesjardins commented on #60312
Maybe that's not the best example, because `Future` doesn't have any functions without a receiver (I think).
Looking at `then`:

[code]

`then` has no obligation to call `F`, so it doesn't matter whether or not it diverges.
In either case, the return type has to implement `IntoFuture` because the where clause requires it.

[2019-04-27 20:59] erikdesjardins commented on #60312
I should have mentioned, you can annotate the return type instead:

[code]

[2019-04-27 21:08] yaahallo opened #60342 "borked looking src files in docs.rs"
The html view of the source files from tokio-trace seem to be coming out malformed.

https://docs.rs/tokio-trace/0.1.0/src/tokio_trace/macros.rs.html#331-403

![Screenshot from 2019-04-27 14-00-01](https://user-images.githubusercontent.com/1993852/56855092-df0da380-68f5-11e9-8b36-95a7a00de143.png)

This can  be reproduced locally by cloning tokio then running

[code]

and clicking on pretty much a

[2019-04-27 22:19] BO41 opened #60343 "tuple destruction to initialized variables"
(I hope I am in the right repo and this isn't a duplicate or a dump question :)

Currently (using rust `1.34.1`) destructing a tuple is only possible to newly created variables.
[code]
This code fails with following error.
[code]
---
But this is valid.
[code]

I think it would be **intuitive** to destruct into already known variables rather than having to create a new one.

[2019-04-27 22:29] varkor commented on #60343
This is https://github.com/rust-lang/rfcs/issues/372.

[2019-04-27 22:38] #60184 closed

[2019-04-27 22:47] kpp commented on #58639
Futures API moved from `&Waker` to `&mut Context`, so if previously this code worked, the new one fails to inference the type of context:

[code]

With error:

[code]

This one does not help either:

[code]

So I have to explicitly set the type of the arg:

[code]

Is it an expected behavior?

[2019-04-27 22:47] #60343 closed

[2019-04-28 00:55] qiangshou007 opened #60345 "mpsc may be crashed as tail is some"
https://github.com/rust-lang/rust/blob/938d4ffe16c4430e1dcede570b06227114cb73d5/src/libstd/sync/mpsc/mpsc_queue.rs#L97

tail may be some as hold the shadow value when concurrent

[2019-04-28 00:58] estebank commented on #33375
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5317eb8f48b4876cdf05b7f1f79f61b1):

[code]

[2019-04-28 01:04] estebank commented on #39029
[This code now builds](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1fbaf2506a3378e367f9912fc16348d5).

[2019-04-28 01:05] estebank commented on #38621
Current output:

[code]

[2019-04-28 01:07] estebank commented on #38564
I'm going to close this issue as I see very little we could improve over the following, other than maybe unifying them both:

[code]
[code]

[2019-04-28 01:42] JohnTitor commented on #60331
I'd like to work on this.

[2019-04-28 04:30] #57127 closed

[2019-04-28 07:45] matthewjasper commented on #55312
Updated this to reflect the change to migrate mode everywhere.

This is waiting for #60171 to land first.

[2019-04-28 07:48] #60265 closed

[2019-04-28 07:55] matthewjasper commented on #37785
Closing since the code now compiles on both editions on nightly

[2019-04-28 07:55] #37785 closed

[2019-04-28 07:56] matthewjasper commented on #39943
Closing since this is no longer a problem on nightly in either edition

[2019-04-28 07:56] #39943 closed

[2019-04-28 08:01] matthewjasper commented on #37302
Closing as this is now fixed on both editions

[2019-04-28 08:01] #37302 closed

[2019-04-28 08:07] crlf0710 opened #60349 "Switch to `termcolor` (first)?"
There're on going effort to move libtest out of tree, however i think the current approach(#59440) is a little too aggressive by changing everything in a huge PR. I think it the effort should be splitted and happen in several separate steps.

The first big step in it is replacing `libterm` with `termcolor`, which means:
* Add separate features to `termcolor`, `wincolor`, and `winapi` to mark these

[2019-04-28 08:41] matthewjasper opened #60350 "Use of uninitialized variable after pattern error"
The following code reports a warning that `x` is uninitialized as well as the expected pattern error.

[code]

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a728ed9d4b08603379abc7d7a70c966e)

[2019-04-28 10:19] DutchGhost commented on #51350
As of now, this no longer ICE's. Looking on godbolt, since stable 1.33 this code just compiles.

[2019-04-28 10:38] DutchGhost commented on #54189
As of 1.33, this just gives back a normal error, and no longer ICE's. issue can be closed?

[2019-04-28 10:41] #60153 closed

[2019-04-28 15:36] JohnTitor commented on #54062
At least it seems we cannot see ICE on the original example now (emitted two errors without ICE).

[2019-04-28 15:39] #59543 closed

[2019-04-28 15:39] #60331 closed

[2019-04-28 19:46] djc commented on #58375
Any news? Since the assignment more than a month ago, there seems to have been zero updates or progress. For a stable-to-stable regression, I would have expected more priority. @nikomatsakis (as compiler team lead), should this be reassigned?

[2019-04-28 20:15] rasendubi commented on #51350
Added a test case: https://github.com/rust-lang/rust/pull/60360

[2019-04-28 21:15] iliekturtles commented on #42008
`cargo +nightly expand` shows that the compiler is inserting a `pub mod` with a `pub static`. I didn't find the code that does the insertion in a very brief search.

[code]

[2019-04-28 22:35] nickolay commented on #46379
I believe cargo compiles each "integration test" (i.e. file in `tests/*.rs`) independently. So if the helper in a common module `tests/routines/mod.rs` is used in `tests/test_one.rs`, but not in `tests/test_two.rs`, there will be a warning when compiling `test_two.rs`.

(`cargo test` re-builds only what needs to be rebuilt, that's why it only warns on the first execution.)

I've worked around this

[2019-04-28 23:08] timotree3 commented on #27113
Is there any progress on this issue? Are Polonius or Chalk going to fix this?

I can reproduce it with something as simple as

[code]

[2019-04-28 23:32] #59952 closed

[2019-04-28 23:42] Centril opened #60361 "Tidy: Enforce that groups in declare_feature! are sorted by version number"
In the `declare_features! ( ... )` list in `src/libsyntax/feature_gate.rs`, enforce that groups (internal, user-facing, ...) of features are ordered by version number with the newest last. The groups will need to be scoped in some way with a comment, e.g. `// feature group START` + `feature group END`.

This makes it easier to see what things are newer and gives a better overview when considering

[2019-04-29 00:38] bjc opened #60363 "ICE `librustc_mir/monomorphize/collector.rs:776:` Cannot create local mono-item for DefId"
Rust nightly: % rustc --version
rustc 1.36.0-nightly (6d599337f 2019-04-22)

[code]

Test code attached: [intfn6.zip](https://github.com/rust-lang/rust/files/3125683/intfn6.zip)

[2019-04-29 00:43] bjc commented on #60363
This panic did not occur when all code was combined into a single main.rs. It occurred as I moved code from main.rs into a new lib.rs, as it is in the attched .zip file.

[2019-04-29 01:25] nnethercote commented on #59718
A problem with the current `Symbol` implementation is that if you want to convert a `Symbol` to a string -- which is common -- you have to access the array within `Interner`, which involves TLS.

I tried changing `Symbol` so that instead of an index into the interner, it just held a raw (thin) pointer to the string's chars, which avoids this problem. (This required putting the string length in the

[2019-04-29 02:04] ishitatsuyuki commented on #59718
I don't get which part of your change made this slow - as it now doesn't use TLS isn't it supposed to be faster? Or the indirect string length made things slower?

Random note: if we're still struggling with 64-bit pointers, maybe it's time for a [Java-like 32-bit mode](https://shipilev.net/jvm/anatomy-quarks/23-compressed-references/).

[2019-04-29 02:41] pickfire commented on #26179
Is not `match` supposed to be arranged in the order of likeliness? Same goes for branching.
[code]
As well, is it just `likely` and `unlikely`? Or there maybe be something in middle?

[2019-04-29 05:24] sntdevco commented on #59725
@Centril How far is 1.36.0 from roll-out?

[2019-04-29 06:02] michaelwoerister commented on #59542
Thanks for checking, that's a valuable data point.

[2019-04-29 06:19] michaelwoerister commented on #60020
Try with the following `config.toml` settings:

[code]

That should make sure that each crate of the standard library results in one object file, and that debuginfo is generated for the standard library (but not the compiler).

[2019-04-29 06:32] Mathspy commented on #59725
@sntdevco https://forge.rust-lang.org

[2019-04-29 06:33] ehuss opened #60365 "rustdoc: strange font rendering issue"
On the recently nightlies, I've noticed that all &lt;code&gt; and &lt;pre&gt; text is being rendered with all black text on Firefox (66.0.3) on macOS only. This is particularly difficult to read with the dark theme.

<img width="259" alt="image" src="https://user-images.githubusercontent.com/43198/56878928-4f5a1900-6a0b-11e9-9e34-d80eed261a84.png">

<img width="328" alt="image" src="https://user-i

[2019-04-29 06:38] Manishearth commented on #60365
A quick fix would be to revert the Source Code Pro update, the Source Serif Pro one is the only important one. I'd like to keep our fonts up to date though.

But it looks like either the font or the OS stack is buggy here, and we should investigate that.

(Works fine on Firefox for Android, have no Macs to test)

[2019-04-29 07:34] stjepang commented on #59277
Anyone wants to FCP for stabilization?

I find this macro so handy I began putting `#![feature(todo_macro)]` everywhere.

[2019-04-29 07:43] rasendubi commented on #60361
I would like to work on this. I think I'll be able to add the feature to tidy, but I'll need help for splitting features into groups.

[2019-04-29 08:25] davidnorthetal commented on #46981
I created an upstream issue for `entr` as well - it surrounds `entr` closing STDIN, which was added in later `entr` versions for compatibility with some programs reasons - seems it then breaks with `rustc`.

https://bitbucket.org/eradman/entr/issues/81/restart_ops-closing-of-stdin-causes

[2019-04-29 09:00] gnzlbg commented on #26179
No, it is not supposed to be arranged that way.

[2019-04-29 09:19] pnkfelix commented on #60228
(I'll try to look at this early this week.)

[2019-04-29 09:47] phil-opp opened #60367 "impl_trait_in_bindings: Use function return type for binding?"
I tried to lazily initialize a `static` with an `impl trait` value returned by a function ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fb77e39271b659040cbaf7aa6715bc79)):

[code]

This errors with:

[code]

So it can't infer a type that is assigned later. Is this a fundamental limitation or just an incompleteness of the current implementation?

Also, is th

[2019-04-29 09:55] GuillaumeGomez opened #60368 "rustdoc: crate select tends to hide letters when reducing window's side"
![Screenshot from 2019-04-29 11-53-39](https://user-images.githubusercontent.com/3050060/56889007-a72d6a00-6a75-11e9-895b-47d5d12603ee.png)

[2019-04-29 09:56] GuillaumeGomez commented on #60365
That is surprising indeed. I can take a look on mac.

[2019-04-29 10:53] pnkfelix commented on #17462
NLL (migrate mode) is enabled in all editions as of PR #59114. Verified that test case compiled in Nightly 2015 edition; closing as fixed.

[2019-04-29 10:53] #17462 closed

[2019-04-29 11:07] pnkfelix commented on #21114
NLL (migrate mode) is enabled in all editions as of PR #59114.

I went through all the cases listed in the table in the description; 2015 and 2018 editions indeed now match in their behaviors.

The only case in the table that was not addressed by NLL migrate mode, is:

| [jonas-schievink demo][] | 🤢| 🤢 |  ✅  | #42574

[jonas-schievink demo]: https://play.rust-lang.org/?version=nightly&mode=debug&e

[2019-04-29 11:07] #21114 closed

[2019-04-29 11:10] pnkfelix commented on #27282
NLL (migrate mode) is enabled in all editions as of PR #59114.

The only policy question is that, under migrate mode, we only emit a warning on this (unsound) test case. Therefore, I am not 100% sure whether we should close this until that warning has been turned into a hard-error under our (still in development) future-compatibility lint policy.

[2019-04-29 11:14] pnkfelix commented on #27868
NLL (migrate mode) is enabled in all editions as of PR #59114.

The only policy question is that, under migrate mode, we only emit a warning on this (unsound) test case. Therefore, I am not 100% sure whether we should close this until that warning has been turned into a hard-error under our (still in development) future-compatibility lint policy.

[2019-04-29 11:15] pnkfelix commented on #32382
NLL (migrate mode) is enabled in all editions as of PR #59114. Verified that test case compiled in Nightly 2015 edition; closing as fixed.

[2019-04-29 11:15] #32382 closed

[2019-04-29 11:16] pnkfelix commented on #32930
NLL (migrate mode) is enabled in all editions as of PR #59114. Verified that test case compiled in Nightly 2015 edition; closing as fixed.

[2019-04-29 11:16] #32930 closed

[2019-04-29 11:20] pnkfelix commented on #38899
NLL (migrate mode) is enabled in all editions as of PR #59114.

The only policy question is that, under migrate mode, we only emit a warning on this (unsound) test case. Therefore, I am not 100% sure whether we should close this until that warning has been turned into a hard-error under our (still in development) future-compatibility lint policy.

[2019-04-29 11:23] pnkfelix commented on #43058
Ah, the test was added in PR #49634

[2019-04-29 11:24] pnkfelix commented on #43058
NLL (migrate mode) is enabled in all editions as of PR #59114. Verified that test case compiles in Nightly 2015 edition; closing as fixed.

[2019-04-29 11:24] #43058 closed

[2019-04-29 11:27] pnkfelix commented on #45157
NLL (migrate mode) is enabled in all editions as of PR #59114.

The only policy question is that, under migrate mode, we only emit a warning on this (unsound) test case. Therefore, I am not 100% sure whether we should close this until that warning has been turned into a hard-error under our (still in development) future-compatibility lint policy.

[2019-04-29 11:28] pnkfelix commented on #45346
NLL (migrate mode) is enabled in all editions as of PR #59114. Verified that test case compiled in Nightly 2015 edition; closing as fixed.

[2019-04-29 11:28] #45346 closed

[2019-04-29 11:28] svenstaro commented on #46379
So we're running into the same issue and I think the workaround `mod routines; pub use routines::*;` is not optimal as that does hide truly dead code. I think this is a legitimate cargo bug.

[2019-04-29 11:29] pnkfelix commented on #50823
NLL (migrate mode) is enabled in all editions as of PR #59114. Verified that test case compiled in Nightly 2015 edition; closing as fixed.

[2019-04-29 11:29] #50823 closed

[2019-04-29 11:31] pnkfelix commented on #53432
NLL (migrate mode) is enabled in all editions as of PR #59114.

The only policy question is that, under migrate mode, we only emit a warning on this (unsound) test case. Therefore, I am not 100% sure whether we should close this until that warning has been turned into a hard-error under our (still in development) future-compatibility lint policy.

[2019-04-29 11:38] pnkfelix commented on #59299
This was marked NLL-fixed-by-NLL, presumably because the diagnostic is (slightly) improved by full NLL. **Not** by NLL migrate mode alone; you currently have to opt into full NLL mode via `#![feature(nll)]`, at which point you get this output instead:

[code]

(I'm not actually sure we should consider that improved diagnotic to be good enough. At the very least, we should be indicating where `'1`

[2019-04-29 11:40] pnkfelix commented on #55797
This bug is *so* old that NLL migrate mode has already been enabled on all editions (PR #59114), and that PR revised the linked test to be `// compile-pass`.

Closing as fixed.

[2019-04-29 11:40] #55797 closed

[2019-04-29 11:43] KSXGitHub commented on #46379
This is either a bug or a design flaw.

In TypeScript, an exported item (even if it is never used) is never considered dead code. I don't why it is in Rust.

[2019-04-29 12:16] nickolay commented on #46379
@KSXGitHub well, if you export the items from the crate with `mod routines; pub use routines::*;` it's not considered dead code.

What @svenstaro is asking for would require considering all targets/configurations before determining if an item is dead code instead of letting the rust compiler report them when compiling an individual crate...

[2019-04-29 12:35] #51929 closed

[2019-04-29 13:00] froydnj commented on #60020
`debuginfo` and `debuginfo-only-std` do seem to make the testcase work.  They do not explain why `-C debuginfo=2` doesn't produce any debuginfo, not even basic information about the function being compiled.

Anyway, several attempts at bisection later, and I haven't been able to reproduce the issue when compiling 1.34.0 on my machine and testing against that.  I must be using the wrong flags somew

[2019-04-29 13:49] michaelwoerister commented on #59531
@alexcrichton I wonder if I can somehow use `cfg!(target_has_atomic = "cas")` for detecting whether to set the `COMPILER_RT_HAS_ATOMICS` flags. I guess that executing this in the build script would only tell me about the host platform, right? Is there a way to query `rustc`'s target platform spec?

[2019-04-29 13:54] pnkfelix commented on #60020
@froydnj have you tried using a docker image to replicate the exact form used by our builders when they make the distribution artifacts?

[2019-04-29 13:56] michaelwoerister commented on #60020
This is really strange. I don't think we have support for disabling debuginfo generation, so any compiler should be able to produce it, regardless of how the compiler was built. What platform are you on?

[2019-04-29 14:02] michaelwoerister commented on #60020
@froydnj Did you check if the function makes it into the staticlib at all? If it is a Rust function then `rustc` or the linker might remove it along with the debuginfo at some point. Making the function `pub extern "C"` and adding `#[no_mangle]` to it should help.

[2019-04-29 14:13] jespersm commented on #45268
So, I've made a fix for this -- the meat of it is in `Resolver::get_traits_in_module_containing_item`: If a binding comes from an import, just follow the import's binding and collect all the import_id's, instead of stopping after the first (repeat until you reach the actual `Def`).

I've verified that it actually fixes the problem, and I'm running the full test suite now.

Only thing is that then

[2019-04-29 14:19] alexcrichton commented on #59802
There's instructions/rationale about updating LLVM hosted at https://rust-lang.github.io/rustc-guide/codegen/updating-llvm.html. Instructions are slightly out of date but I'll send a PR to fix them.

[2019-04-29 14:42] alexcrichton commented on #59531
If you execute `rustc +nightly --print cfg` Cargo will use that to set env vars for the build script. When a build script is executed the env vars match the target we're executing the script for, so Cargo should set `CARGO_CFG_TARGET_HAS_ATOMIC=cas` (IIRC).

Either that should be fine or just simply enabling it via a whitelist of platforms would be fine by me personally

[2019-04-29 14:54] froydnj commented on #60020
`cargo-bisect-rustc` says that the 2019-01-27 nightly introduced the regression.  That [narrows down the commit range](https://github.com/rust-lang/rust/compare/bf669d1e3295bc688f71b8c91f48a6beaf895f67...20c2cba61dc83e612d25ed496025171caa3db30f).

I'll try bisecting from there; my early (mostly ignorant of how rustc works) predictions are #57675 or #57407.  Maybe #57908.

[2019-04-29 14:59] michaelwoerister commented on #60020
https://github.com/rust-lang/rust/pull/57675/commits/cff075009032d11cff3a625663cf460e71e81609 (from #57675) looks relevant.

[2019-04-29 15:13] michaelwoerister commented on #59531
Indeed: `CARGO_CFG_TARGET_HAS_ATOMIC = "16,32,64,8,cas,ptr"` :heart:

[2019-04-29 15:56] froydnj commented on #60020
Commit bisection with `cargo-bisect-rustc` says that #57675 is responsible (I love bors merge artifact caching!).  So @michaelwoerister's suggestion of cff0750 being relevant seems very reasonable; IIUC, this commit made `rustc` really treat `debuginfo=1` as different from `debuginfo=2`.  Before, I guess `debuginfo=1` effectively meant `debuginfo=2`?  And/or the `rust.debuginfo-lines` setting was

[2019-04-29 16:33] DutchGhost opened #60371 "Existential type ICE without feature specified"
Another ICE that uses a nightly only feature, but still crashes on stable, beta and nightly without the `#![feature(existential_type)]` flag.

[code]

According to godbolt, this sneaked in with 1.34. 1.33 and lower are not affected.
<details>
<summary>Backtrace:</summary>

[code]

[2019-04-29 17:06] Byter09 opened #60372 "ICE when running kcov with proptest as dev-dependency"
At this time, this is the latest job that has this problem:
https://gitlab.com/bit-refined/rsctp/-/jobs/204421934

I ran it manually with: `RUST_BACKTRACE=1 cargo +nightly kcov --verbose -- --include-path=$PWD/src --exclude-region="mod tests"` and this is the result:

<details><summary>backtrace</summary>
<p>

[code]

</p>
</details>

We're using a self-built image: https://gitlab.com/bit-refined/

[2019-04-29 17:24] jonas-schievink commented on #60371
Pretty sure this is a duplicate, but I can't find the original right now

[2019-04-29 17:44] #60024 closed

[2019-04-29 17:48] DutchGhost commented on #60371
Perhaps you mean https://github.com/rust-lang/rust/pull/57272 ? Being able to ICE a feature, without the feature gate turned on?

[2019-04-29 17:49] LukeMauldin commented on #57837
Any update on this issue?

[2019-04-29 17:54] DutchGhost commented on #60371
Again this is kinda 2 issue's in 1, so I dont know if this should have it's own issue...

After some more trying, I found this also panics, but only on nightly:
[code]

<details>
<summery>Backtrace:</summery>

[code]
</details>

[2019-04-29 17:59] AregevDev commented on #50220
Having the same issue as the issue referenced above, trying to build a library with `cmake-rs` but it fails telling me it is too small to be an archive. The output library seems fine though
Job log: https://api.travis-ci.com/v3/job/196405004/log.txt

[2019-04-29 18:35] richardwhiuk opened #60374 "Where bounds are ignored as part of trait type parameters on an impl"
Where bounds are ignored, but suggested by the compiler, when implementing trait objects with second order types.

A full example is available at: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d61ff8acea97a202e00ea6fc32def211

The bound on line 21 is ignored:

[code]

but suggested (with inaccurate markers):

[code]

In fact, in the example give, the error is repeated fou

[2019-04-29 19:00] Julius-Beides commented on #41260
Ok, the types were changed to `issue: Option<i32>` in a few places and I added a basic ui test. It turned out that issue fields were already `Option<i32>` in most places.

Tomorrow I'll try to fix the 79 `#[unstable(... , issue = "0")]` I found. (And make a proper warning)

[2019-04-29 19:16] DutchGhost commented on #60371
Another one, stable, beta & nightly:

[code]

<details>
<summery>Backtrace</summery>

[code]
</details>

[2019-04-29 19:25] IslandUsurper opened #60375 "Regression: Typemap type mismatch in 1.34.0+"
I first reported this issue at gabdube/native-windows-gui#69, but discussion on Discord led me to file an issue here.

native-windows-ui stores data about the application (form controls, state, etc.) through a typemap. While my program worked on Rust 1.32.0 and 1.33.0, it breaks on 1.34.0 and 1.34.1. Sadly, this is a runtime error, and no backtrace is generated even with the RUST_BACKTRACE flag.

[2019-04-29 19:27] IslandUsurper commented on #60375
Ping: @dpc

[2019-04-29 20:31] estebank commented on #52082
E0609 should point at the type that doesn't have the field, in this case it would point at the type argument and not the struct, making it easier to figure out what's happening.

[2019-04-29 20:32] estebank commented on #52118
[The current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=863d8994bdec9a8a8ef25839c08a282f) is correct, if verbose:

[code]

It could maybe suggest using the correct type name, but that might not be completely worth it (anyone using a `Self` path would already know enough about the type system to figure out how to solve it).

[2019-04-29 20:38] estebank commented on #51547
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1339429a8cbfe56e08e71717925c8c64):

[code]

[The case in the comment](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=cf7499b82a61cac8a055491147f28171) still has the same output.

[2019-04-29 20:45] estebank commented on #50652
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=94b6fa613da5de4c9e25588ea4a9800a):

[code]

It _does not_ check wether the type actually `impl Bar`.

[2019-04-29 20:45] #50652 closed

[2019-04-29 20:52] estebank commented on #49756
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018) under mir:

[code]

[2019-04-29 20:54] estebank commented on #49548
Current output:

[code]

[2019-04-29 20:58] estebank commented on #49167
The current output suggests a valid solution:

[code]

[2019-04-29 20:58] #49167 closed

[2019-04-29 21:01] estebank commented on #48743
Current error:

[code]

Duplicate of https://github.com/rust-lang/rust/issues/56104 and https://github.com/rust-lang/rust/issues/52118

[2019-04-29 21:01] #48743 closed

[2019-04-29 21:01] estebank commented on #56104
Current output:

[code]
Duplicate of https://github.com/rust-lang/rust/issues/52118

[2019-04-29 21:01] #56104 closed

[2019-04-29 21:17] GuillaumeGomez opened #60381 "rustdoc: improve position and display of source code files sidebar"
<img width="603" alt="Screenshot 2019-04-29 at 23 16 34" src="https://user-images.githubusercontent.com/3050060/56927631-f5be2100-6ad4-11e9-8bc5-824786897651.png">

[2019-04-29 21:18] Manishearth commented on #60365
Temporary fix: #60382

[2019-04-29 21:27] Centril commented on #60367
Customary warning about `static mut` ==> https://github.com/rust-lang/rust/issues/53639.

Reduced:

[code]

I would expect that this is by design but it would be good to write down a fuller explanation in a less ephemeral location for posterity and for the eventual stabilization report.

cc @cramertj @alexreg @oli-obk

Not to my knowledge. You cannot access `foo` in the type namespace to use `foo:

[2019-04-29 21:30] Centril commented on #60372
cc https://github.com/rust-lang/rust/issues/52478 https://github.com/rust-lang/rust/issues/58375

[2019-04-29 21:33] Centril commented on #60375
Would it be possible to paste the runtime error?

[2019-04-29 21:46] estebank commented on #46969
All of these cases now compile, except for [the original report](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=5e2b5a7c332a33337cea4219e58d3e51), which has a type error:

[code]

[2019-04-29 21:49] estebank commented on #46683
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=32d83a9865be4217e31375b09af09798):

[code]

[2019-04-29 21:50] cramertj commented on #60367
Yes, this is intentional-- items such as `static`s and `const`s cannot use other bodies to determine the types to which they evaluate. This example would be similar to writing the following:

[code]
which we obviously can't make work

[2019-04-29 21:57] withoutboats commented on #57640
Quite a while ago, Niko promised that we would write a summary of the discussion in the language team and the community about the final syntax for the await operator. Our apologies for the long wait. A write up of the status of the discussion is linked below. Before that, though, let me also give an update on where the discussion stands now and where we will go from here.

## Brief summary of wher

[2019-04-29 21:57] #57640 closed

[2019-04-29 21:58] estebank opened #60384 "Do not suggest `try_into` when we can statically verify it would panic"
_https://github.com/rust-lang/rust/pull/60159#discussion_r277263162_, follow up to #60159.

When encountering cases like `let f = [0_usize; -1_isize];`, do not suggest `(-1isize).try_into().unwrap()` as we can verify that this will always panic.

[2019-04-29 22:00] dpc commented on #60375
@IslandUsurper Did you want to ping the other dpc? :smile:

[2019-04-29 22:39] ExpHP commented on #45268
That's marvelous!

Once the test suite passes, I think you should go ahead and submit a PR.  This will give it higher visibility to the people who are best equipped to answer your concern, and it will also enable them to queue up a [rustc-perf](https://perf.rust-lang.org/compare.html/) comparison if deemed necessary.

[2019-04-29 22:52] rbtcollins commented on #59888
Thanks @jonas-schievink  - I don't quite see how the repetition is eliminated there, which was my main critique: the ergonomic issue is having to specify the desired type twice, and ascription would, as I understand it, just provide a different syntax for doing that on the match expression; whereas the issue is that there is no constraint holding the type of the guard expression and the type of th

[2019-04-29 23:35] #58452 closed

[2019-04-29 23:35] #55499 closed

[2019-04-29 23:35] #58215 closed

[2019-04-29 23:35] #48244 closed

[2019-04-29 23:35] #51350 closed

[2019-04-30 00:18] estebank commented on #56589
This now compiles in the current beta.

[2019-04-30 00:18] #56589 closed

[2019-04-30 00:36] nnethercote commented on #59718
I improved things and now the performance is roughly the same -- some workloads are slightly better, some are slightly worse. A Cachegrind diff suggests that the ones that are worse are mostly because `Token` is bigger, and that hurts parsing.

[2019-04-30 00:48] rodrimati1992 commented on #59888
Like I said in my previous comment,there is a feature in progress that would cover this particular case,[rfc 2294:if let guards](https://github.com/rust-lang/rfcs/blob/master/text/2294-if-let-guard.md).
Once that RFC is implemented you can rewrite:
`Ok(val) if val.parse::<usize>().is_ok() => val.parse().unwrap(),
`
to
`Ok(val) if let Ok(len)=val.parse() { len }`

If you want to create an RFC which

[2019-04-30 01:24] estebank commented on #55175
For anyone looking around for help on this case in particular, the appropriate code would be either

[code]

or

[code]

which is now suggested:

[code]

[2019-04-30 01:24] #55175 closed

[2019-04-30 01:37] iximeow opened #60390 "ICE when building with --emit=mir"
This occurs on 1.34.1 and 1.34.0, is a regression from 1.33.0, and does.. not occur on nightly?

Reproduction:

[code]
compiled with `RUST_BACKTRACE=1 rustc --emit=mir test.rs`

Yields:
[code]

I found this in building crates like `cc` and `num-derive` but pared it down to this

[2019-04-30 01:38] fintelia opened #60391 "RISC-V inline assembly ignores input register constraints"
This code:
[code]
When compiled for the riscv64imac target:
[code]
Ignores the input register constraints which say to use `sp` and `t0` (defaulting to a0 and a1 instead):
[code]

[2019-04-30 01:42] fintelia opened #60392 "RISC-V inline assembly ignores clobber constraints"
This code:
[code]
When compiled for the riscv64imac target (and other riscv targets):
[code]
Produces code which uses the clobbered registers to pass in values, resulting in the inputs being overwritten before they can be used:
[code]

See also: #60391

[2019-04-30 01:44] estebank commented on #54931
Closing in favor of the older ticket.

[2019-04-30 01:44] #54931 closed

[2019-04-30 01:47] iximeow commented on #60390
I think this is fixed in https://github.com/rust-lang/rust/commit/3a83cb2c9ba2acca0577a5f4a092d7fc5b243faf#diff-730459e7733d29bbbb60bd1962bf1842 which might explain why it doesn't occur on nightly

[2019-04-30 01:48] sunjay commented on #55175
If this is just a fix for the error message, did you mean to close https://github.com/rust-lang/rust/issues/55174?

[2019-04-30 02:06] estebank commented on #55175
I have a PR out to fix #55174 (do not suggest `v: &i32`). That suggestion will mean that the code you will end up is your second example. Once you are there, you get the suggestion to dereference the borrow, after which you end up with working code. Am I misunderstanding the problem? I don't think that we _should_ accept `[&v]` as a valid pattern here, we would if it was a `&[&i32]`, but it is a `

[2019-04-30 02:24] sunjay commented on #55175
I guess my intuition is that since the match ergonomics feature makes the element `&i32`, we should be able to match on that reference and get `i32`, but after some testing I see that this doesn't work in general even for structs.

[code]

So I think you are understanding the problem and your fix for the error message is probably sufficient. As long as we're being consistent I'm okay with this.

[2019-04-30 02:31] estebank commented on #54536
Current output is much better:

[code]

[2019-04-30 02:31] #54536 closed

[2019-04-30 02:38] sbwtw opened #60394 "Strange `unreachable` warning in `Future`"
[Code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2aa6652b80ed39efe9a8759fcd8733dd):
[code]
And when build with `cargo build`, It will says the `future::ok(unimplemented!())` is unreachable expression.
but when `cargo run`, I got a panic: `thread 'main' panicked at 'not yet implemented', src\main.rs:5:16`. the `unimplemented!()` macro is worked.

[2019-04-30 03:08] timvermeulen opened #60395 "`Iterator::nth` doesn't compose well"
Iterators like `iter::{Flatten, FlatMap, Chain}` that chain multiple iterators together aren't able to implement `Iterator::nth` in terms of the `nth` method on their inner iterators, because when `nth` returns `None`, there's no way to know how many elements are "left".

This can lead to surprisingly bad performance when the inner iterator has an efficient `nth` implementation. For example, `(0..

[2019-04-30 03:09] nnethercote commented on #58465
#60006 just landed, which implements the JSON message rustc gives to Cargo so that Cargo knows when metadata has been written.

I'm now working on #60385, which will move metadata writing much earlier in the pipeline -- currently it happens right at the end, preventing much in the way of crate overlap that is the whole goal of pipelining.

[2019-04-30 03:14] Centril commented on #60394
What happens here is that the function call `future::ok(...)` is unreachable. The macro "call" itself isn't.
We can see this with:
[code]

-------------

cc @estebank Can we highlight the issue like so perhaps?
[code]

[2019-04-30 03:33] Mark-Simulacrum commented on #60395
I'm not sure if we can get away with it (depending on the guarantees `nth` exposes), but it's possible this is simply a lack of specialization. Presumably chain could forward TrustedLen/ExactSizeIterator and the like such that we'd be able to "skip" within it as needed.

[2019-04-30 03:49] estebank commented on #60394
I think this will be a side effect of a long standing paper cut, where we point at the method or entire statement instead of the argument that caused a problem. I can take a look, but I don't think this will be fixed in the near term.

[2019-04-30 04:15] brettgilio opened #60397 "Building on nix"
I am using this script to build rust using the mozilla rust overlay for nix.

https://github.com/brettgilio/guix-system/blob/master/manifests/nightly-rust-manifest.nix

This worked fine for awhile, however about a week or two ago it started failing with this error.

[code]

I thought maybe it was an upstream issue, but I am lost with how long this issue has been persisting. Any suggestions?

[2019-04-30 05:15] #60310 closed

[2019-04-30 05:16] rust-highfive opened #60398 "`rls` no longer builds after rust-lang/rust#60389"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#60389, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and @rust-lang/compiler -- nominat

[2019-04-30 05:27] Centril commented on #60398
Blame ==> https://github.com/rust-lang/rust/pull/60276 cc @matthewjasper

[2019-04-30 05:33] auscompgeek commented on #44109
Given the above, is there anything blocking stabilisation now?

[2019-04-30 06:04] lzutao commented on #60397
Current RLS version is 1.36.0. You should try to update it.
This is error because `str::escape` has been stabilized in #58051
(and bug fixed in https://github.com/rust-lang/rust/pull/58051/files#diff-5df012de31a1bde391411c75eaa4fbfeR540)

[2019-04-30 07:19] rbtcollins commented on #59888
@rodrimati1992 ah I missed that line! thank you <3

[2019-04-30 07:54] Stargateur commented on #60395
That more `chain` that doesn't compose very well ?

[2019-04-30 08:59] bjorn3 commented on #30276
[code]

Rustc now errors on unsized locals being feature gated.

[2019-04-30 08:59] phil-opp commented on #60367
Thanks a lot for clarifying!

Just to make sure I understood it right: It can't work because it would require global type inference for statics, function types, etc, but we only do local type inference by design so that e.g. the type of a function does not depend on how it's used. Is that roughly correct?

So it seems that lazily initializing a `static` with an `impl trait` type will never be poss

[2019-04-30 09:00] kentfredric opened #60403 "rustdoc generates HTML with "div" embedded in an h4"
See also: #17529

Generating documentation for a struct with `#[derive(Clone)]` results in a page with an entry for `clone_from` with the following HTML:

[code]

As per remarks on aforementioned bug, the question "Have you confirmed that this doesn't break anything? Would you be able to host a rustdoc build to demonstrate?", the way this breaks for me is far worse than failing a validator test sc

[2019-04-30 09:44] michaelwoerister commented on #59542
It looks like Cargo is passing different `-C metadata` arguments to `rustc` when compiling the same crate from different directories, so `rustc` has to generate different symbol names for the two binaries (i.e. Cargo is basically telling `rustc` that these are two different versions of the same crate). So this is a regression in Cargo rather than `rustc`, I'd say.

[2019-04-30 10:04] Centril opened #60405 "Tracking issue for RFC 2645, "Transparent Unions and Enums""
This is a tracking issue for the RFC "Transparent Unions and Enums" (rust-lang/rfcs#2645).

**Steps:**

- [ ] Implement the RFC (cc @rust-lang/compiler  -- can anyone write up mentoring instructions?)
- [ ] Adjust documentation ([see instructions on forge][doc-guide])
- [ ] Stabilization PR ([see instructions on forge][stabilization-guide])

[stabilization-guide]: https://forge.rust-lang.org/stabi

[2019-04-30 10:09] Centril opened #60406 "Tracking issue for RFC 2565, "Attributes in formal function parameter position""
This is a tracking issue for the RFC "Attributes in formal function parameter position" (rust-lang/rfcs#2565).

**Steps:**

- [x] Implement the RFC – https://github.com/rust-lang/rust/pull/60669
- [x] Adjust documentation (https://github.com/rust-lang-nursery/reference/pull/657)
- [x] Stabilization PR (https://github.com/rust-lang/rust/pull/64010)
- [x] Fixing https://github.com/rust-lang/rust/iss

[2019-04-30 10:28] phil-opp opened #60407 "ICE with existential_type feature"
Code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3647f89ce24af3db7c673dbc4e02f556)):

[code]
The `core::fmt::Debug` trait is just an example, the error occurs with every trait I tried.

Error:

[code]

<details>
<summary>Backtrace</summary>

[code]
</details>

Possibly related to https://github.com/rust-lang/rust/issues/54899, https://github.com/rust-lang

[2019-04-30 10:30] Centril commented on #60407
Proposed prio: P-Low.

[2019-04-30 10:33] phil-opp commented on #60367
I did some more digging and found out that I want to use the _existential types_ feature for this ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3647f89ce24af3db7c673dbc4e02f556)):

[code]

The example currently [ICEs](https://github.com/rust-lang/rust/issues/60407), but I think it is the way to solve the problem.

So given that impl trait works as intended,

[2019-04-30 10:33] #60367 closed

[2019-04-30 11:35] oli-obk commented on #60407
heh. I don't think using `existential type`s for anything but functions counts as a defining use. You can work around this ICE by placing `foo` and `Debuggable` into their own module: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f244de8aa281ac5960be54980e5ba03f

[2019-04-30 11:54] eddyb commented on #59542
@michaelwoerister Ah, I thought that had been ruled out upthread.

The reason I wanted incremental was to find where the hashes start to diverge, but that was assuming identical invocations (which is not the case here).

Also, unless we want Cargo to parse `RUSTFLAGS`, this may have been a legitimate bugfix?

[2019-04-30 11:58] michaelwoerister commented on #59542
I don't know how Cargo generates the `-C metadata` argument. I assumed it was based the semver of a crate and not on things in `RUSTFLAGS`.

[2019-04-30 12:45] eddyb commented on #59542
I meant that it seems potentially legitimate to include a crate's path (i.e. it may have fixed a different bug), and it presumably doesn't parse `RUSTFLAGS` to find out about `--remap-path-prefix` (so it doesn't do the remapping rustc does).

However, if Cargo had the equivalent flag, that applied to both Cargo and rustc, then that would solve the problem (assuming Cargo has a good reason for hash

[2019-04-30 12:54] eddyb commented on #59718
I don't think this is going down the right route, IMO, we should be making TLS cheaper (or relying on explicitly passed contexts where possible), rather than adding pointers everywhere.

@nnethercote Doesn't making it global cross-thread mean you now pay for locking where there was none before? I don't think we should be using `lazy_static!` or `static` except where impossible otherwise.

Tearing

[2019-04-30 13:04] IslandUsurper commented on #60375
@Centril, here's the error.
    thread 'main' panicked at 'Failed to find a control: They key exists in the Ui, but the type requested did not match the type of the underlying object', src\libcore\result.rs:997:5

@dpc, sorry, are you not the dpc I was talking to on Discord? Who's the other one?

[2019-04-30 13:06] Centril commented on #60375
cc @Dylan-DPC ^---

[2019-04-30 13:12] phansch commented on #60398
Should be fixed by https://github.com/rust-lang/rust/pull/60399

[2019-04-30 13:15] petrochenkov commented on #59718
As I understand, the locking will be there anyway once `#[cfg(parallel_compiler)]` is enabled by default, so the comparison would be fair if `#[cfg(parallel_compiler)]` were used with the "old" scheme.
However, I'm not sure whether @nnethercote did that or not.

Hmm, looks like it's not possible to like to Discord message, so I'll copypaste:

Setting a "session barrier" point (with no session bein

[2019-04-30 13:26] eddyb commented on #59718
That works with indices, and `!Send` encapsulated pointers, but not `&'static str` or even just cross-thread `Symbol` access (I can create a detached thread and intern something there).

[2019-04-30 13:28] quanbrew opened #60413 "closure captures copyable variable doesn't according capture rule"
This code will success compiled.

[code]

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ff9f783397fafc9fda5016266ae8277b)

But if derived `Copy`:

[code]

[code]

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6dd8290447a59bf70dce583bab3ca935)

this is very confusing.

## MIR

[code]

MIR of closure is

[code]
but after d

[2019-04-30 13:35] Ekleog opened #60414 "Using associated types in async fn type break typing"
With the following code:
[code]

comes the following error:
[code]
[(playground link)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=06fb8c16665b724d4ed97e9b99e856ad)

However, this function compiles correctly without the `async` keyword.

[2019-04-30 13:36] eddyb commented on #54712
Incremental doesn't care about `--extern` vs `-L`, so I'd expect it to be pretty resilient here.

[2019-04-30 13:37] Ekleog commented on #60414
cc https://github.com/rust-lang/rust/issues/50547

[2019-04-30 13:38] Ekleog commented on #50547
Here comes my next bug with async/await: it looks like using an associated type to a type parameter in the return type of an `async fn` breaks inference: https://github.com/rust-lang/rust/issues/60414

[2019-04-30 13:48] Ekleog commented on #50547
In addition to potentially adding #60414 to the top-post's list (don't know if it's still being used -- maybe it'd be better to point to the github label?), I think the “Resolution of rust-lang/rfcs#2418” can be ticked, as IIRC the `Future` trait has recently been stabilized.

[2019-04-30 13:50] mjbshaw commented on #60405
I plan on attempting to implement the feature by adapting [my previous implementation](https://github.com/mjbshaw/rust/commit/ec1fe475db3e60c4791a73f717e004c2d5c878e7). I'd appreciate it if someone could take a look at that commit and let me know if it's horribly wrong :)

[2019-04-30 13:52] Centril commented on #60405
@pnkfelix Up for reviewing ^--- ?

[2019-04-30 13:57] eddyb commented on #59542
Ironically, looks like this may be caused by hashing `RUSTFLAGS`, not the directory itself otherwise: @Eh2406 pointed me to https://github.com/rust-lang/cargo/pull/6503 (which would definitely cause this).

One alternative could be a relative `--remap-path-prefix` value, that `rustc` canonicalizes in the same way it does input paths, but I'm not sure that would actually work.

[2019-04-30 14:01] Centril commented on #60236
So in my view, this should be considered blocking for the same reason as the other drop issue. However, if it comes to it and we cannot fix it in time for stabilizing, we can feature gate this part and move on.

[2019-04-30 14:04] najamelan commented on #59367
to follow up on this a bit the deny_warnings issue aside, it still spawns the terminal with warnings from other crates which makes it hard to fix just the warnings in the current crate. I'm trying to fix the warnings in futures-rs if you want to get a feel of what I mean.

Still from running `cargo doc --no-deps` on futures-rs, master branch with today's nightly. I noticed something else. If it's

[2019-04-30 14:05] eddyb commented on #60413
This is not a bug, but expected behavior, you need `move || v` to force a move, in today's Rust.

Explanation:
When the compiler can copy the capture (because it knows `Madoka: Copy`), it doesn't force the capture to become by-move, so it remains in the default (by-ref) mode.
This is why you see `*env.0` in MIR (where `env` is `*_1` because of the closure call also being by-ref).

In the future, a

[2019-04-30 14:05] #60413 closed

[2019-04-30 14:16] najamelan commented on #43466
Do I get it right that `super`, `self`, `crate` are not supported for path resolution?
`super` does not seem to throw a warning of failed resolution where the other two do. However it creates a link as: `<a href="super::AsyncSeekExt::seek"><code>seek</code></a>` which obviously doesn't work.

[2019-04-30 14:32] timvermeulen commented on #60395
@Mark-Simulacrum That's a great point, an `ExactSizeIterator` bound would indeed allow a better implementation. Do note that this isn't quite as powerful as always being able to forward to `nth`, though, because some types could conceivably implement `nth` more efficiently than the default implementation without implementing `ExactSizeIterator`.

[2019-04-30 14:35] najamelan commented on #55907
Seeing false positives in futures-rs as well:
[code]
This will generate a correct link, but still warn. Anything else I tried fails to generate a correct link:
[code]

[2019-04-30 14:37] najamelan commented on #59367
Looks more like the [false positives](https://github.com/rust-lang/rust/issues/55907) need to be fixed...

[2019-04-30 14:38] DutchGhost commented on #60407
I guess you hit the same as this: https://github.com/rust-lang/rust/issues/60371#issuecomment-487679827

[2019-04-30 14:56] eddyb commented on #43081
Nominating for possible prioritization (sorry, the past few months have been pretty hectic).
cc @aturon @nikomatsakis wrt me focusing on a large-scale solution for this

[2019-04-30 15:07] Manishearth commented on #43466
Hmm, they should work, but I think the implementation is buggy around them
right now.

On Tue, Apr 30, 2019, 7:18 AM Naja Melan <notifications@github.com> wrote:

[2019-04-30 15:26] andradei commented on #52118
Where is the line that separates good compiler messages and user must know the tool drawn?
Since the day I opened this issue I've learned enough of the type system to know why `Self` isn't supported in the way I tried to use. The current message, though not helpful to complete beginners like I was back then, today is clear enough to me.

Maybe this issue should be closed, unless there is an intent

[2019-04-30 16:28] cramertj commented on #60414
You can trigger this without async/await using `impl Trait`:

[code]
cc @oli-obk @nikomatsakis

[2019-04-30 16:33] cramertj opened #60418 "Move async/await UI tests into a folder"
We want to move all async / await tests (run-pass, ui, ...) into a single folder under `src/test/ui/async-await` to facilitate overview and the eventual stabilization report. Organization beyond that into sub-folders would also be useful to further make everything clear and reviewable.

[2019-04-30 17:27] nikomatsakis commented on #60236
The only argument I can come up with in favor of this drop order is basically:

- the existing drop order of fn is not what we would have wanted (I believe this, but I also doubt its worth trying to change it)
- having a simple desugaring for async fn is important

You might make a case that, because people sometimes have to manually desugar into a fn that returns an async block for various reason

[2019-04-30 17:29] nikomatsakis commented on #60236
I'm going to mark this as blocking for now.

[2019-04-30 17:32] jespersm commented on #45268
I'm looking into the test failures.

[2019-04-30 17:43] gilescope commented on #55872
Confirmed this is still reproducible as of latest nightly (rustc 1.36.0-nightly (00859e3e6 2019-04-29))

[2019-04-30 17:50] estebank commented on #52118
Personally I push as far towards "cater for newcomers" as possible, but this indeed looks like a relatively advanced feature that now is actually supported only on nightly.

That's what what the nightly feature enables, and should be in track to be stabilized within a few versions.

I'm always for improving the errors, and the originally reported one was bad for all the reasons you stated in the o

[2019-04-30 17:56] estebank commented on #49683
Once this is stabilized, we can close https://github.com/rust-lang/rust/issues/52118 if it hasn't been closed earlier by adding a suggestion to use the enum's path instead of `Self`.

[2019-04-30 18:09] #60269 closed

[2019-04-30 18:09] #59192 closed

[2019-04-30 18:12] alexcrichton opened #60419 "Tracking issue for stable `-C emit-artifact-notifications` rustc flag"
First added in https://github.com/rust-lang/rust/pull/60006 the `-Z emit-directives` flag is currently intended to be paired with the `--error-format=json` flag. The `emit-directives` flag indicates that the compiler will emit a JSON directive for various things it does, currently only for when an rmeta metadata file is produced.

This issue is intended to track stabilizing this flag! The main use

[2019-04-30 18:13] alexcrichton commented on #58465
I've opened a [dedicated tracking issue](https://github.com/rust-lang/rust/issues/60419) for stabilizing `-Z emit-directives`

[2019-04-30 18:19] #60397 closed

[2019-04-30 18:33] ehuss commented on #60419
I'm working on diagnostic caching and have the same problem with the `short` format. I'm wondering if maybe another flag could be added to make rustc include the rendered `short` form as well as the `human` form?  It seems a little clunky, so I'm not sure if this is going in the wrong direction.  The only other option I can think of is to update the JSON format to have full fidelity so that *any*

[2019-04-30 19:31] matthewjasper commented on #59193
@chrisvittal do you still want to work on this?

[2019-04-30 19:32] matthewjasper opened #60421 "Remove rustc_mir::borrow_check::{Context, ContextKind}"
`ContextKind` is completely unused in the borrow checker. It should be removed and any uses of `Context` should be replaced with `rust::mir::Location`.

[2019-04-30 19:40] matthewjasper opened #60422 "Remove the typeck MIR pass"
This is now always run as part of NLL, so the pass is unnecessary

* Remove `rustc_mir::borrow_check::nll::type_check::TypeckMir`
* Remove the `Option`s from `TypeChecker`
* Fix any fall out

[2019-04-30 19:42] cuviper commented on #60395
Would `iter::empty().try_nth(0)` return `Err(0)` or `Err(1)`?

This is an extension of the general off-by-one confusion of `nth`, which needs careful documentation.

[2019-04-30 19:52] cuviper commented on #60294
When I've seen memory errors before, especially on 32-bit hosts, it's usually on the large crates like `librustc` -- but `bootstrap` is pretty small!

[2019-04-30 20:14] Aaron1011 commented on #44663
The Cargo frontend of the implementation has been [merged](https://github.com/rust-lang/cargo/commit/7b13469ee90a24fa5aa06166d447dac3370846ef)

Things still left to do:
* Decide on how public/privates dependencies and dependency naming will interact.
* Merge https://github.com/rust-lang/crates.io/pull/1685 (once the above issue is resolved)
* Decide on a plan to rollout the change to `cargo public

[2019-04-30 20:19] timvermeulen commented on #60395
@cuviper It would return `Err(0)`. It's indeed very important to be wary of off-by-one errors, and I believe this is the more natural choice, because:
- Having the invariant that `n` is always non-zero seems inconsistent with the parameter of `nth` being zero-indexed.
- The combinators that would benefit from this can pass this same `n` to `try_nth` of the next iterator, rather than having to do i

[2019-04-30 20:28] macpp opened #60424 "type inference doesn't work in async fn that return Box<dyn SomeTrait>"
i have following fn that works completly fine:
[code]
if i try trivialy make it async just by adding `async` keyword i get build error:
[code]
i can work around this by defining types of variables explicitly:
[code]
but for obvious reasons this is not as nice as sync version
maybe related to #60414 ?

`rustc --version` : `rustc 1.36.0-nightly (00859e3e6 2019-04-29)`

[2019-04-30 20:29] froydnj commented on #57257
It looks like aarch64-unknown-linux-gnu is built without `--enable-profiling`.

[2019-04-30 20:47] ehuss opened #60425 "FailureNote JSON value is not useful"
Currently the `FailureNote` diagnostic level [serializes to the empty string](https://github.com/rust-lang/rust/blob/5b7baa53c91d7c33b925fc8aec553e3521548a07/src/librustc_errors/lib.rs#L837).  This results in JSON messages containing `level: ""`, which I'm not sure how to interpret.

This was added in #48684, though reading that PR I can't really figure out why it was added and how it relates to c

[2019-04-30 21:20] chrisvittal commented on #59193
I do. I’ll have a PR soon.

[2019-04-30 21:54] nnethercote commented on #59718
I had an idea, I tried it, it didn't improve things, and I'm just reporting my experience in case it's interesting or helpful to others. Don't worry, I haven't filed a PR.

But I don't like the current interner design. I think the `InternedString`/`LocalInternedString` split is confusing, and the way TLS is used to pretend that there aren't lifetimes is un-Rust-like.

[2019-04-30 22:10] nikomatsakis commented on #59985
This is a thorny problem. We've never had a good solution.

In general, I think it's a problem that `{:?}` and `{}` share as much code as they do. I tend to think that `{:?}` should really be much more conservative and closer to the internal representation than it is, which might help us avoid some of these problems. (I basically only use the compiler with `-Zverbose` , for example, which tends to

[2019-04-30 22:11] eddyb commented on #59718
I wouldn't personally mind an [`indexing`](https://docs.rs/indexing)-like system, but propagating the lifetimes through the entirety of rustc is a bit much, so it might get some opposition.
And you still need a context if you want the benefits of integers over pointers.
But at least a lifetime for interning/arena-allocation is becoming more common, with the query system.

IMO Rust could have prope

[2019-04-30 22:16] eddyb commented on #59718
I should mention, as a data point, that the `TyCtxt` access via TLS in rustc was originally meant to be strictly for printing, as there is no other way to make `fmt::{Display,Debug}` work out of the box, and that printing was for debug logging and diagnostics, so not normal successful operation.

It was a compromise and maybe we need to keep it at that, relying on whatever contexts we have on hand

[2019-04-30 22:31] GuillaumeGomez commented on #60425
Serialising as "failure-note" sounds good to me. Weird we didn't do it beforehand...

[2019-04-30 22:55] jethrogb opened #60427 "Some features were removed instead of deprecated/stabilized"
From @varkor in https://github.com/rust-lang/rust/pull/52644#issuecomment-488143743:

This applies at least to the following features:

* collections
* str_char
* unicode
* alloc

There might be others.

[2019-05-01 00:53] mark-i-m commented on #49733
This could possible alleviate my usecase: https://crates.io/crates/copyless

[2019-05-01 00:55] estebank opened #60430 "Hide `found a, expected b` label when suggestion is provided"
I'm ambivalent about this, but @oli-obk pointed this case out in https://github.com/rust-lang/rust/pull/60159#discussion_r277263162

When providing a suggestion for a type error that would fix the problem, we have the following output:

[code]

we could change it to

[code]

but I'm not sure wether that is a good move.

[2019-05-01 00:59] petertodd opened #60431 "ICE with unsized associated type"
[code]

produces:

[code]

Some context as to what that's actually for: the idea was to use the len metadata of the slice within the `DynRef` to smuggle a pointer to the arena in question. At first glance you'd think you could also do:

[code]

But the problem is that is mutable borrows: if `Ref` implements `DerefMut` there's no way to both access the value and the arena at the same time. You need

[2019-05-01 04:42] Centril commented on #60427
If they were stabilized they should be added to the `accepted` list and otherwise to the `removed` list.

[2019-05-01 04:43] Centril commented on #60430
I think a good diagnostic consists at minimum of:
1. what went wrong,
2. how you can fix it

but this move would get rid of 1. so I'm not a fan.

[2019-05-01 08:09] cramertj commented on #60424
I'd put this under a similar camp as https://github.com/rust-lang/rust/issues/54326-- the issue here is that we need to fix the output of the `Future` to the return type as provided, rather than trying to infer it from the context (which isn't smart enough in this case to see that a trait object coercion is required).

[2019-05-01 08:10] forrestthewoods commented on #12335
I've been Googling to ask this very question. It looks like this isn't a thing. I can't tell if there are any plans for that to change?

[2019-05-01 08:41] Elarnon commented on #59956
I got hit by the same thing and was excited that Rust now supported `Self` defaults in structs, but alas no (I guess technically you can define them, just not use them) :(

The ICE was introduced in 1.32.0:

[code]

As long as the `Self` default is not used there is no ICE, so the following is fine (note that `Bug` with default type parameter would be an infinitely-sized type in this case):

[code

[2019-05-01 09:08] MSxDOS commented on #57077
I think this is directly related to the unnecessary memcpy when using `Box::new()` (https://github.com/rust-lang/rust/issues/49733#issuecomment-433150210)

You can do
[code]
to write directly to the allocation as when using ```box``` syntax, but if you try to wrap it in a fuction and return the box, the memcpy is back :angry: -> [Playground](https://play.rust-lang.org/?version=nightly&mode=release

[2019-05-01 09:24] eddyb commented on #57077
This will probably be solved by #46321 (which will hopefully get revived in the next few months).
That's assuming there's a copy/move in the MIR, that we can get rid of.

[2019-05-01 10:46] Xanewok commented on #60398
RLS now builds and is included since [2019-04-30](https://rust-lang.github.io/rustup-components-history/), closing.

[2019-05-01 10:46] #60398 closed

[2019-05-01 12:02] awilfox commented on #59932
Personally over here at Adélie we only ship BE PPC64, and we enable AltiVec in all of our packages.  We may, in the future, offer a separate target for non-AltiVec PPC64 machines.  I would definitely support Rust targeting more types of POWER, and I know the FreeBSD people specifically support the e5500s.

As an aside: IBM's really unreliable for endian questions.  [You can run BE on any generatio

[2019-05-01 12:55] MOZGIII commented on #59127
How about moving this to stable?

[2019-05-01 13:07] najamelan commented on #43466
Ok, we do seem to have success with `crate` actually, but `super` is definitely broken.

[2019-05-01 13:08] nikomatsakis opened #60438 "__arg variables from async fn desugaring are accessible to the user"
The fixes for #54716 and #60236 introduced `__arg` variables that, presently, are accessible to the user ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018)):

[code]

This code compiles, but it should error.

[2019-05-01 13:12] davidtwco commented on #60438
A complete test case:

[code]

[2019-05-01 13:28] nikomatsakis commented on #60010
Also curious:

If you do `SourceDatabase::parse(db)` instead of `db.parse()`, it compiles.

There *are* two distinct systems for trait evaluation (the "evaluate" code and the "confirm" code) which, I suppose, are disagreeing here. Digging a bit more.

[2019-05-01 13:55] jhfrontz commented on #59542
@eddyb writes:

I don't understand -- is this something I should try?   If so, what is the format of the path I should use for the experiment?

[2019-05-01 14:33] chinuno-usami commented on #60375
Same problem while running the example  in [README of natice-windows-gui](https://github.com/gabdube/native-windows-gui#code-example) .
But I got backtrace log below.
[code]
OS : Windows 10 2016 ltsb (version 1607)
Toolchain:
stable-x86_64-pc-windows-msvc (default)
rustc 1.34.1 (fc50f328b 2019-04-24)

The last frame in main is 12 , a nwg_get! macro call, defined as
[code]

[2019-05-01 14:33] bjorn3 commented on #58890
This has been fixed.

[2019-05-01 14:33] #58890 closed

[2019-05-01 14:35] ZhangHanDong commented on #21114
@pnkfelix  https://github.com/rust-lang/rust/issues/49616  has not been resolved yet

[2019-05-01 14:54] peterjoel opened #60440 "Confusing error message when collecting an iterator of results into a single result"
The code:
[code]

Produces this error:
[code]

The message sounds very strange because a collection with _elements_ of type `i32` certainly _can_ be built from an iterator over elements of type `i32`. The real problem is that a _value_ of type `i32` cannot be unambiguously built from an iterator over elements of type `i32`, because a folding function would need to be provided for it to make sense.

[2019-05-01 14:59] c410-f3r commented on #60406
Wow! I've always wanted to contribute to Rustc itself and this is a nice opportunity. I will try to implement this feature with some mentoring.

[2019-05-01 15:30] Songbird0 opened #60442 "doc: dead link to std::boxed::Box::borrow"
Hi,

I don't know if it's related to the issue #60200 (feel free to close it immediatly if so), but for the sake of completeness... [std::boxed::Box::borrow](https://doc.rust-lang.org/std/boxed/struct.Box.html#method.borrow) is dead.

cc @GuillaumeGomez

[2019-05-01 15:49] jbaublitz commented on #57390
Hey @jason-ni, thank you so much for your help! I was able to resolve this with the following options on newer Rust compilers: `--crate-type=staticlib -C relocation-model=static -C code-model=kernel -Z plt=y`. I'm gonna close this out.

[2019-05-01 15:49] #57390 closed

[2019-05-01 16:13] eddyb commented on #59542
I have no idea if it would work (i.e. it might cause rustc to error, or not do any remapping), but something like `--remap-path-prefix=.=BUILDDIR` (the `.` might need to be `..` or `../..` etc. -  depends on your setup).
At least Cargo wouldn't give rustc different `-C metadata` hashes.

[2019-05-01 17:34] sfackler commented on #56686
@rfcbot fcp merge

[2019-05-01 17:36] steveklabnik commented on #46007
With it looking like this was fixed, and no other comments since 2017, I'm going to close this. If you're still seeing this issue, please let me know and we can re-open!

[2019-05-01 17:36] #46007 closed

[2019-05-01 17:47] phil-opp commented on #60407
@oli-obk

Interesting! I'm glad to see that my approach works in principle.

[2019-05-01 17:52] alexcrichton commented on #52609
This was discussed recently at a libs triage meeting, and the conclusion was that following python's precedent of handling EPERM as well as ENOSYS makes sense for our usage of `getrandom`

[2019-05-01 18:03] RalfJung commented on #53491
All right, I tried to incorporate all of that into the stabilization PR: https://github.com/rust-lang/rust/pull/60445

[2019-05-01 18:55] phil-opp commented on #60407
@DutchGhost This seems quite similar indeed. I added the link to the issue description. Since I'm not sure if this is really the same I will keep this issue open for now.

[2019-05-01 19:16] jhfrontz commented on #59542
I did
[code]
and got `all good` on 1.33.

I'm not sure I understand the magic, though.

I'm going to try it on my production build and see if it makes things better.

[2019-05-01 19:17] SimonSapin opened #60446 "Tracking issue for floats ↔ bytes conversions"
~https://github.com/rust-lang/rust/pull/58756~ #62366 adds:

[code]

PR discussion summary: unlike corresponding integer methods, these can be implemented without `unsafe` code. So the need for having them in the standard library feels less pressing. At the same time, it might not be obvious to everyone that `to_bits` and `from_bits` can be combined with integer methods in this way. So having thes

[2019-05-01 19:21] eddyb commented on #54722
@alercah (Sorry for delayed response, I'm clearing out my notifications)

If we were to provide an implementation of the `proc_macro` API in `proc_macro` itself, we would have to move a significant chunk of the compiler frontend in there, and expose a lot of the fiddly details.
And it would be fine-tuned for rustc in particular, while at the same time forcing the proc macro token model onto rustc

[2019-05-01 19:26] eddyb commented on #56132
@estebank For function arguments you'd need global inference to actually know the type, other than that, the only thing you could reasonably do today is turn the `_` into a hole of some sort which doesn't unify with anything (but really, that's no better than writing `()` or `!`).

As for `let` bindings, those are always inside bodies, so `_` just works (it means "infer this").

@vi Only if we spe

[2019-05-01 19:34] ooprala opened #60447 "Cargo build ICE when run with closed STDIN"
**How to reproduce**
[code]
**Actual Result**
[code]

**Actual Result with full backtrace**
[code]
**rustc --version --verbose**
[code]

**Expected result**
[code]

**Additional details**
Please note that the issue will go away once you succeed in building the project (probably thanks due to some compiler caching, sorry, not sure here).
A `touch` is enough to get the error back :)
[code]
Thank you

[2019-05-01 19:43] GuillaumeGomez commented on #60368
Information: The bug only appears on firefox.

[2019-05-01 20:09] #60274 closed

[2019-05-01 20:09] #47213 closed

[2019-05-01 20:10] rust-highfive opened #60448 "`rls` no longer builds after rust-lang/rust#60435"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#60435, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and @rust-lang/compiler -- nominat

[2019-05-01 20:11] Centril commented on #60448
Clippy probably broken by https://github.com/rust-lang/rust/pull/60417; the fix is just to apply the rename in Clippy as well.

[2019-05-01 20:13] matthiaskrgr commented on #60448
Looking into this...

[2019-05-01 20:35] jethrogb opened #60450 "assign to part of possibly uninitialized variable is flagged as UB (but only in 2018 edition)"
Code sample:
[code]

When compiling this with `rustc +1.31.0 --edition 2018`, I get:
[code]

In later versions, the warning message has been changed somewhat:
[code]

If I compile with `--edition 2015` I get no warnings at all. (Edit: this is still silent on 1.34.0 2015, but an warning *is* emitted in edition 2015 on the latest nightly).

There are several issues as far as I can see:
* “This error

[2019-05-01 20:40] eddyb commented on #59542
The "magic" is that `Cargo` sees the same `RUSTFLAGS`, so it doesn't think anything is different, but then `rustc` normalizes the `.` to the right absolute directory (which you used to pass yourself).
Frankly, I'm surprised (and a bit suspicious) that it works!

Can you check in some way that no paths end up in the result, only `BUILDDIR`?

[2019-05-01 20:42] rasendubi commented on #58174
Added an example in https://github.com/rust-lang/rust/pull/60451

[2019-05-01 20:49] apoelstra commented on #59542
Confirmed that only `BUILDDIR` appears in the binaries output from Jeff's script.

I'm also suspicious and surprised because I can't see where in the rustc remapping code `.` would get expanded.

[2019-05-01 20:55] RalfJung commented on #60450
Nothing here says there is any UB. This is just about whether the type-checker accepts this program.

If I grep for that error in the tests, the hits are all in the "borrowck" directory. That would also explain the edition difference; the error likely comes from NLL.

Cc @matthewjasper

[2019-05-01 20:57] eddyb commented on #59985
We used to require methods for printing and it was really cumbersome.
IMO the best solution would be implicit scoped contexts that type-checked and passed as regular arguments (but behind the scenes, so the user doesn't have to mention them at every callsite).
But that's a language feature, and a pretty big one for Rust.

cc @eternaleye (who introduced me to this idea)

[2019-05-01 21:07] matthewjasper commented on #60450
This is just something that NLL chose not to support because the fields can't ever be read (for now). The message isn't particularly great though.

[2019-05-01 21:07] eddyb commented on #59542
I just checked the relevant source, and, yeah, I don't know why this would work.
@jhfrontz Does it pass if you remove `--remap-path-prefix=.=BUILDDIR` completely?

[2019-05-01 21:19] apoelstra commented on #59542
It fails for me without the remapping. And checking the outputted binary it has a lot of stuff like
[code]
i.e. the full path is there, not the literal `.` or anything else.

[2019-05-01 21:29] jethrogb commented on #60450
It says "potential UB" right in the error message. But if as you say it's not UB, then I don't think we should be breaking existing code for it.

[2019-05-01 21:49] #38234 closed

[2019-05-01 21:49] jhfrontz commented on #59542
Also -- `--remap-path-prefix=.=BUILDDIR` does **not** help for my production build (i.e., even with the `.`, I get different binary on each subsequent build).

[2019-05-01 21:56] Centril commented on #60450
cc https://github.com/rust-lang/rust/issues/54987.

Accepting this would be completely useless at the moment as you cannot use the field (as @matthewjasper notes). I think we should therefore convert this into a hard error on both editions and eventually perhaps accept gradual initialization of structs but a sane variant of that (e.g. taking definitive initialization and uninhabitedness into accou

[2019-05-01 22:01] jethrogb commented on #60450
(as mentioned in my edit of the issue description) It's not "completely useless", I am in fact using this today with inline assembly (which is how I ran into this issue): https://github.com/fortanix/rust-sgx/blob/886d08d/enclave-runner/src/tcs.rs#L99. With inline assembly you sometimes have to specify an output variable even if you're going to do nothing with the result.

[2019-05-01 22:04] jethrogb opened #60456 "Use of unknown feature gates should be a deny-by-default lint"
#52644 made it an error to specify a `#![feature(...)]` that the compiler doesn't know about. It could be a deny-by-default lint instead. @varkor in https://github.com/rust-lang/rust/pull/52644#issuecomment-488445125:

[2019-05-01 22:06] eddyb commented on #59542
I believe this would explain why at least some cases are handled: https://github.com/rust-lang/rust/blob/master/src/librustc_metadata/encoder.rs#L346-L356

@jhfrontz I'm not sure I can figure that out without a binary diff between the two binaries.

I doubt `..` can work, since it's never canonicalized by rustc, so it would only affect a literal `..` in the input.
Maybe `src` instead of `.` might

[2019-05-01 22:09] estebank commented on #38234
Closing in view of the output after #60455 closing the last somewhat confusing part (missing types in the match arm):

<img width="1073" alt="Screen Shot 2019-05-01 at 3 06 34 PM" src="https://user-images.githubusercontent.com/1606434/57045574-e4832a80-6c22-11e9-85d0-5b901d0ad2a4.png">

I see very little improvement we could make over this.

[2019-05-01 22:16] jethrogb commented on #54987
There are some concerns about the current state of this in #60450

[2019-05-01 22:17] Centril commented on #60450
@jethrogb Since I'm not familiar with what you are doing... Is there a particular reason you have to use a tuple and cannot use two separate bindings instead? Or is there a reason you cannot just `let mut _tmp: (u64, u64) = (0, 0);`? Or otherwise perhaps use `MaybeUninit`?

This refers to the implementation effort (note *attempt* -- it was attempted successfully).

[2019-05-01 22:21] Centril commented on #60456
I think this should be a warning instead which makes it more feasible to actually garbage collect old feature gates.

[2019-05-01 22:22] jethrogb commented on #60450
The only reason I brought up my example was just to point out that it's not completely useless.

I can work around this by just creating two uninitialized bindings instead, which I didn't do before because it's an additional useless line of code. I'm not particularly bothered about needing to make such a change, especially since it only concerns inline assembly.

[2019-05-01 22:25] Centril commented on #60450
Fair enough; It's *quite* a niche use case and as you say you can do it through other, and in my view *clearer*, ways.

[2019-05-01 23:04] varkor opened #60459 "Overflowing literal lint is silenced in range literals in loops on nightly"
[code]
since https://github.com/rust-lang/rust/pull/60330.

[2019-05-01 23:23] apoelstra opened #60461 "Since 1.32.0 compiler cannot run with libfaketime 0.9.7 (jemalloc stack overflow)"
When running
[code]
I get a segfault. This does not happen with 1.31.0. In gdb I see
[code]

May be related to https://github.com/wolfcw/libfaketime/issues/130

[2019-05-01 23:28] varkor commented on #60459
It *is* hitting the `err.emit()` here:
https://github.com/rust-lang/rust/blob/9b67bd42b7cbf97f72d039afcba02f5177d0d68c/src/librustc_lint/types.rs#L102
So I'm not quite sure why the error isn't being emitted yet.

[2019-05-01 23:48] eddyb commented on #32966
@jamesmunns I can't wait to get back to #46321, hopefully within the coming months.
I still think it's the ticket forward (pretty sure I had tests similar to yours, and more complex ones even).

[2019-05-02 00:13] jean-airoldie commented on #50133
This seem to be due to this core [blanket implementation](https://doc.rust-lang.org/src/core/convert.rs.html#526). Not sure how to circumvent this without negative trait bounds.

[2019-05-02 00:15] Arnavion commented on #60231
FWIW, back in https://github.com/rust-lang/rust/issues/46645#issuecomment-370906261 (March 2018) I had success with making a relocatable WASM module. Of course it requires a preprocessing bundler / the WASM loader to actually relocate the modules, so it's not as trivial as a PIC module.

[2019-05-02 00:15] nnethercote commented on #59718
To expand on what @eddyb said, here's an alternative design.
- The `Globals` are put within `ParseSess`.
- Whenever possible, we access the `Globals` via a `tcx` or `sess`, which avoids TLS.
- We provide TLS access as well, for places where accessing via another structure is difficult.

This is already how `TyCtxt` works, see `ImplicitCtxt`.

This would give a combination of speed and convenience.

[2019-05-02 01:13] Eh2406 commented on #44663
The discussion of the first point is continuing at https://github.com/rust-lang/cargo/issues/6129#issuecomment-464845052

minimal versions is being tracked at https://github.com/rust-lang/cargo/issues/5657. It is implemented, but is not wide enough used to be stabilized as a cli flag. I doubt we can add it to cargo publish, without a magere rethink.

[2019-05-02 01:38] Centril commented on #60406
@petrochenkov You are familiar with most of this, right? Could you perhaps write up some instructions?

[2019-05-02 04:47] #55398 closed

[2019-05-02 04:48] #60236 closed

[2019-05-02 04:48] #60438 closed

[2019-05-02 04:48] #60421 closed

[2019-05-02 06:47] oli-obk opened #60465 "Refactor away `TraitRef::trait_def_id`"
The function

https://github.com/rust-lang/rust/blob/9b67bd42b7cbf97f72d039afcba02f5177d0d68c/src/librustc/hir/mod.rs#L2150-L2155

can abort compilation in case of errors. We're trying to eliminate as many (if not all) early aborts, so this needs to go. I haven't looked into how to fix this yet at all.

Originally reported in https://github.com/rust-lang/rust/pull/60462/files#r280262620

cc @esteb

[2019-05-02 07:15] nomeata commented on #60231
For my use case, I decided that PIC (e.g. importing a global that indicates memory offeset) is more suited than static relocation sections.

[2019-05-02 07:41] RalfJung commented on #60450
*oops* I missed that, sorry.

[2019-05-02 08:00] Joacchim commented on #38234
@estebank Looks fine, we have both the expected return type, and the expectation vs reality on the mismatching match arm. All info is there, and I agree it looks hard to improve :)

[2019-05-02 08:03] llogiq commented on #56232
@QuietMisdreavus @GuillaumeGomez any idea how we could coax rustdoc into extracting the doctests for us to lint?

[2019-05-02 08:57] #60170 closed

[2019-05-02 10:09] Xanewok commented on #60448
Fixed with https://github.com/rust-lang/rust/pull/60432

[2019-05-02 10:09] #60448 closed

[2019-05-02 10:39] quantverse commented on #43122
Hi to everybody,

experimenting with the generators now and I need to store multiple generators into a `Vec`. This code works:

[code]

However I will also need to be able to explicitly specify the `vec` type without using the inference, but this is where I fail. This code does not work:

[code]

I get:

[code]

Any idea what is the correct way to explicitly declare the vector?

[2019-05-02 10:44] Nemo157 commented on #43122
Use `Vec<Box<dyn Generator<Yield = i32, Return = &'static str> + Unpin>>`, `Unpin` is a marker trait you can add on to other trait bounds.

Or use `Vec<Pin<Box<dyn Generator<Yield = i32, Return = &'static str>>>>` if you want to support self-referential generators as well.

[2019-05-02 10:48] pnkfelix commented on #59761
I'd like to assign a priority label to this work. @Xanewok, would you object to this being considered a P-medium matter?

[2019-05-02 10:54] quantverse commented on #43122
Wow, thanks a lot!

[2019-05-02 11:00] Xanewok commented on #59761
I'd say so - it's not crucial but it'd be good to slowly explore using rustc (and thus also Clippy) out-of-process to reduce the synchronization overhead in the RLS process itself (should considerably reduce latency for medium-sized workspaces)

[2019-05-02 11:03] pnkfelix commented on #58952
potentially related to #54540

[2019-05-02 11:04] pnkfelix commented on #58952
assigning P-high for now since this is a stable-to-beta regression.

Given that its already been narrowed down to PR #58730 ... this may be a T-libs issue rather than T-compiler one? Not sure.

[2019-05-02 11:07] pnkfelix commented on #58952
I would normally also remove the nomination tag, since I do not think there is much for T-compiler to discuss here apart from the severity of the regression.

But since it is potentially related to #54540, I figured I'll leave the nomination tag for now, just to help ensure that when we discuss #54540, we will hopefully remember to take note of this issue (#58952) as well.

[2019-05-02 11:11] pnkfelix commented on #58485
triage: It would be great to resolve this. It would also be great if all of our rustc developers had a `-j48` machine so that we would all share the same problem here.

however, I think given the reality of our common-case hardware, I do not think this falls into the P-high prioritization bucket. (Again, I *do* want to resolve it. but I don't want to revisit it's status every week.)

So I'm going

[2019-05-02 11:14] pnkfelix commented on #60283
triage: marking as P-high since its an ICE. Does not seem like there's much to discuss so removing the nomination tag.

[2019-05-02 11:17] pnkfelix commented on #60299
(cc'ing #59761 since that proposes decoupling RLS from Clippy, which might lessen instances of this.)

[2019-05-02 11:18] pnkfelix commented on #60299
triage: I do not know what priority to assign here. Leaving explicitly unprioritized and nominated for now (so that hopefully at rustc meeting we can collectively determine a priority).

[2019-05-02 11:19] pnkfelix commented on #60299
but also, if the issue here is that Clippy needs to be updated, then shouldn't this be tagged with T-dev-tools? Adding that now.

[2019-05-02 11:24] pnkfelix commented on #60297
triage: not sure what tier the given platform is, so I'm not assigning a priority to this yet. Leaving nominated for discussion.

[2019-05-02 11:26] pietroalbini commented on #60297
`arm-unknown-linux-musleabihf` is tier 2.

[2019-05-02 11:46] CodeSandwich opened #60468 "powf for NaN returns 1"
The `powf` for floating point numbers seems to have optimization: when base is 1, always return 1. This optimization does not check if exponent is a number, so
[code]
This behavior is same for debug and release modes, f32 and f64. [playground](https://play.rust-lang.org/?gist=6ae46b284c646d24acfd5704897fe136)

[2019-05-02 12:13] GuillaumeGomez commented on #56232
Well, we already extract the doctest but just for compilation/run at the moment. The only question I have is: what interface do you want rustdoc to provide to do so? Running specifically clippy on the returned code samples or something more generic? And if so, then what would it look like?

[2019-05-02 12:22] pnkfelix commented on #48310
triage: P-high for two tasks: 1. resolve whether this *is indeed* an LLVM bug, and if so, 2. filing a bug against LLVM.

removing nomination since I don't think there's much to discuss beyond 1. what's already in @rkruppe's comment and 2. assigning the issue (like any other P-high T-compiler issue) to someone on the compiler team to address.

[2019-05-02 12:24] nikic commented on #60468
Relevant code in LLVM: https://github.com/llvm-mirror/llvm/blob/b79c73bd103edafbaff703c7230fcf1fe4e3b920/lib/Transforms/Utils/SimplifyLibCalls.cpp#L1421

[2019-05-02 12:24] pnkfelix commented on #60363
triage: P-high due to ICE; removing nomination tag.

[2019-05-02 12:34] pnkfelix commented on #60020
triage: Marking P-high, but I am not sure it actually warrants that prioritization.

Either @michaelwoerister or @cuviper , can one of you assign this to yourself and take charge on figuring out what we should do here?

[2019-05-02 12:38] pnkfelix commented on #60371
triage: P-high due to ICE; removing nomination.

[2019-05-02 12:42] pnkfelix commented on #60372
this is probably a duplicate of #58375. For triage purposes, I'm going to focus on on we're going to address *that*.

triage: P-high, with a focus on confirming that this is a duplicate of #58375.

[2019-05-02 12:44] pnkfelix commented on #58375
Unassigning from @aturon, with intent to assign to someone else at today's rustc meeting.

[2019-05-02 12:44] jonas-schievink commented on #60461
This is very likely to just be wolfcw/libfaketime#130, so maybe we should close in favor of that? libfaketime has never really been an officially supported environment for rustc

[2019-05-02 12:49] pnkfelix commented on #60390
triage: Probably fixed by #59036. Normally an ICE would lead me to tag this as P-high, but the fact that this is only exposed by `--emit=mir` leads me to prioritize this as P-medium.

[2019-05-02 12:50] pnkfelix commented on #60390
assigning to self to confirm that #59036 is the reason this is fixed, and (if need be) add a regression test.

[2019-05-02 12:54] pnkfelix commented on #54712
triage: P-medium. (this inefficiency in incremental comp. would be nice to resolve, but is not P-high IMO.)

[2019-05-02 12:59] pnkfelix commented on #60431
triage: P-high due to ICE. Removing nomination since there's no much to discuss beyond severity.

[2019-05-02 13:11] pnkfelix commented on #60375
triage: Not quite clear on what is going on here; maybe something with using `TypeId` as a key in a hashmap? Leaving unprioritized and nominated for now...

[2019-05-02 13:11] oli-obk commented on #60414
Some more reduction in genericity and clearing up a few things:

[code]

[code]

The problem is that `T::Assoc = i32` is not know in impl trait items. It's also not related to the return position, but refers to any impl trait in the function. Outside of impl trait `T::Assoc = i32` can be resolved without a problem, so it must be something related to the way impl trait reuses the generics of its pa

[2019-05-02 13:14] pnkfelix commented on #60407
triage: P-high due to ICE; removing nomination.

[2019-05-02 13:18] pnkfelix commented on #60447
triage: P-medium due to niche nature of bug. Leaving nominated to try to increase its visibility in short term in case T-compiler members want to attack it.

[2019-05-02 13:20] pnkfelix commented on #59909
removing nomination tag, as this appears to be well in hand.

[2019-05-02 13:25] pnkfelix commented on #46901
triage: downgrading from P-high to P-medium.

[2019-05-02 13:31] pnkfelix opened #60471 "lazy normalization"
@nikomatsakis and @rust-lang/wg-traits have been talking for ages about lazy normalization of types.

But as far as I know there is no issue discussing the work (what it is, why we need it).

I'm creating this issue now to act as a placeholder for such a tracking issue. So that I can easily add links to it from other issues that are blocked on lazy normalization.

[2019-05-02 13:31] pnkfelix commented on #54940
triage: marking as blocked on #60471. Downgrading to P-medium.

[2019-05-02 13:43] pnkfelix commented on #34596
triage: re-prioritizing to P-medium; this is being addressed, and while the task *is* high priority, it does not need to be given the same level of urgency that I would like to associate with P-high.

[2019-05-02 13:45] michaelwoerister commented on #60020
Assigning to myself for now.

[2019-05-02 13:48] ooprala commented on #60447
@pnkfelix I'm not asking you to re-prio. I'd just like to say I don't think the issue is **so** niche, as `cargo run` seems to exhibit the very same behaviour, and I can easily see myself trying:
[code]
Thank you and @Centril again for looking at the ticket :+1:

[2019-05-02 14:13] pnkfelix commented on #59553
closing this ticket as the regression has been addressed (PR #60186) and backported to beta. #60210 tracks the future-compat warning which will eventually turn into a hard error.

[2019-05-02 14:13] #59553 closed

[2019-05-02 14:18] pnkfelix commented on #60136
Closing, as the code breakage described here was an expected consequence of teh `impl` that were added in PR #59500.

[2019-05-02 14:18] #60136 closed

[2019-05-02 14:18] nikomatsakis commented on #60136
[Discussed at the compiler meeting today](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/weekly.20meeting.202019-05-02.20.2354818/near/164711496). We are closing this as a permissible regression -- as I [noted earlier](https://github.com/rust-lang/rust/issues/60136#issuecomment-486741573), adding the impl caused the `()` operator to insert fewer dereferences than is used to

[2019-05-02 14:24] apoelstra commented on #60461
The libfaketime issue has been open for over a year with no activity. Meanwhile it was only triggered by a recent change in rustc.

Are you aware of any way to achieve deterministic builds without libfaketime? It would be unfortunate to leave users who require determinism stuck on 1.31.

[2019-05-02 15:01] alexcrichton commented on #59542
Unfortunately the purpose of that Cargo PR is to affect `-C metadata`, but we could back that PR out if it causes too many problems (or add some flag/config to Cargo to not affect `metadata` but still do it by default or something like that)

[2019-05-02 15:11] apoelstra commented on #59542
It would be nice if there were a flag. I wouldn't want to back out the PR. I'm surprised we didn't see more problems *before* the Cargo PR; I seem to recall a lot of trouble a year or so ago with Miri caused by not enough things going into `metadata` and builds using stale/incompatible dependencies.

Having said that, based on @jhfrontz's original post, and our inability to use the `.=BUILDDIR` tr

[2019-05-02 15:32] pandaman64 opened #60473 "ICE impl_trait_in_bindings with elided lifetime"
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=540971beb17a2f712b41a5a5e8888f51

If you give the lifetime explicitly, it compiles:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ccd7cdc4e4d0e3952f518070fae7fba8

[2019-05-02 16:02] llogiq commented on #56232
I think there might be interesting in running both `check` (for quick checks) and `clippy` (for deeper inspection). However, we may need to somehow flag the code for `compile-fail` tests (& possibly avoid them in clippy runs by default, as clippy doesn't like non-compiling code very much).

[2019-05-02 16:03] petrochenkov commented on #43081
@eddyb
(I've read the ["AST(“CST”)/Parsing Evolution" paper](https://hackmd.io/zrZhb94HS6KxW3sguwXNqA?view#A-Global-node-identity-unique-precise-lossless).)

Both the paper and this issue talks about converting AST to tokens, but it seems like we don't actually need AST before macro expansion, we rather need to build AST as a *result* of macro expansion (with partial AST for already expanded code

[2019-05-02 16:04] asilano opened #60475 "'specified instant was later than self' when installing rustlings on Windows Subsystem for Linux running Ubuntu 16.04"
After installing the latest rust via rustup (`--version` reports 1.34.1), I followed the instructions at https://github.com/rust-lang/rustlings/ to get the rustlings tutorial running. The cargo install fails with:

[code]

It fails this way every time, although the "Downloaded" crate changes (it seems to manage to start the downloads, but fails quickly).

I'm not familiar with Rust's internals at

[2019-05-02 16:14] pietroalbini commented on #59909
This should be fixed now.

[2019-05-02 16:14] #59909 closed

[2019-05-02 16:23] #57080 closed

[2019-05-02 16:34] nagisa commented on #60468
The contract for the `powf` function allows this behaviour (cited from linux’s man-pages for `powf(3)`):

[2019-05-02 16:37] nagisa commented on #60468
Interestingly, that does not correspond to any `IEEE-754` `pow*` operation, but it does properly follow the POSIX and C99 standards, so closing as not-a-bug.

[2019-05-02 16:37] #60468 closed

[2019-05-02 16:42] jonas-schievink commented on #60468
This could use additional documentation though, the docs for `powf` are very bare-bones right now

[2019-05-02 16:48] nagisa commented on #60468
Copying the documentation for most functions from the POSIX standard would make sense for me, but that probably wants a separate issue specifically about that.

[2019-05-02 16:49] cuviper commented on #60020
FWIW, I started setting the emission kind in an attempt to solve Windows debug errors, per https://github.com/rust-lang/rust/pull/57675#issuecomment-456545693. I suggest expanding GitHub's hidden comments for more context. That didn't actually solve the problem -- needed a further LLVM fix for empty type info -- but I still think setting that kind is correct.

[2019-05-02 16:50] jonas-schievink commented on #60461
Perhaps 1.32.0 was the release Rust binaries used the system allocator by default? In that case the compiler would've also started to opt into jemalloc via [jemallocator](https://github.com/gnzlbg/jemallocator), which probably bumped jemalloc's version to one exposing the issue.

There's a few issues relating to reproducible builds, eg. https://github.com/rust-lang/rust/issues/34902 for a sort of

[2019-05-02 17:21] ehuss commented on #60459
It appears to be hitting this line of code which is cancelling the diagnostic:

https://github.com/rust-lang/rust/blob/d15fc173818ccea6f8d97af13a30d454f9e4b35c/src/librustc/lint/mod.rs#L746

[2019-05-02 17:45] Disasm opened #60477 "ICE on lifetime in trait type parameter"
[code]

[code]

## Meta

[code]

<details>
<summary>Backtrace:</summary>

[code]
</details>

[2019-05-02 17:47] AGausmann commented on #44732
@shepmaster Here's my solution that works with docs.rs since they build with nightly.

(@jonhoo It also fixes the problem that you pointed out)

- Add a feature `external_doc` to your Cargo project, and configure docs.rs to use it (Cargo.toml):

[code]

- Enable the unstable feature when your crate feature is on, and include documentation. Leave an empty placeholder documentation line to resolve a

[2019-05-02 18:19] jonas-schievink commented on #60477
Duplicate of https://github.com/rust-lang/rust/issues/60147

[2019-05-02 18:19] #60477 closed

[2019-05-02 18:20] jonas-schievink commented on #60147
Small reproduction from https://github.com/rust-lang/rust/issues/60477:

[code]

yields:

[code]

[2019-05-02 18:21] jonas-schievink commented on #60147
This issue is also a duplicate of https://github.com/rust-lang/rust/issues/58694, so closing in favor of that

[2019-05-02 18:21] #60147 closed

[2019-05-02 18:25] jonas-schievink commented on #42778
@cuviper do you know what the status on Fedora is?

[2019-05-02 18:29] pnkfelix commented on #60253
for future reference: @Centril is referencing my PR #21984 which changed the r-value temporary rules with respect to the temporaries in the `ITER_EXPR` of `for PAT in ITER_EXPR { ... }`

[2019-05-02 18:34] petrochenkov commented on #60253
Even beside the `{ let _result = ...; _result }` part the `for` loop desugaring is so complex.
It would be nice to document what every employed trick changes compared to the naive desugaring.

[2019-05-02 18:39] cuviper commented on #42778
It was "fixed" by #43159 by disabling SIMD in that function -- not really a satisfactory solution IMO. So in that sense, we don't have any issue on Fedora any more. But perhaps we should see what happens to codegen these days if we revert that and try allowing SIMD there again.

[2019-05-02 18:40] pnkfelix commented on #60253
PR #21984 itself was motivated (or at least spawned off of) PR #21972. I'm actually trying to find out what the actual motivation for the described change was.

The change, as described, was that the temporaries within `ITER_EXPR` would previously live until the end of the enclosing block.

So if you consider the following code ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition

[2019-05-02 19:39] NieDzejkob opened #60479 "Compiler-internal lint for public libcore items not reexported in libstd"
Inspired by #60185.

[2019-05-02 19:59] GuillaumeGomez opened #60480 "Search bar should take all width when no select is alongside (when just one crate is documented)"
A good screenshot:

<img width="826" alt="Screenshot 2019-05-02 at 21 57 35" src="https://user-images.githubusercontent.com/3050060/57103257-973bb180-6d25-11e9-8dab-a79fc56f3afd.png">

[2019-05-02 20:19] Richard-W opened #60482 "nightly `cargo doc` panics in font8x8 crate"
`cargo +nightly doc` fails for the [font8x8](https://crates.io/crates/font8x8) crate. Stable works fine.

[code]

## Meta

Backtrace:

[code]

[2019-05-02 20:25] varkor commented on #44580
Here's a summary of progress so far on const generics.

---

Before work on const generics could properly begin, there was some refactoring that needed to be done. @jplatte took on the task with https://github.com/rust-lang/rust/pull/45930. @jplatte then [started working](https://github.com/jplatte/rust/tree/HEAD@%7B2017-12-24T08:11:04Z%7D) on the main implementation of const generics, but found t

[2019-05-02 20:28] Aaron1011 commented on #60475
The issue seems to be due to how 'non-monitonic clocks' are handled (as introduced by https://github.com/rust-lang/rust/pull/56988)

Rust treats [the Winodws system clock as potentially non-monotonic](https://github.com/rust-lang/rust/blob/d15fc173818ccea6f8d97af13a30d454f9e4b35c/src/libstd/sys/windows/time.rs#L45), in order to work around this issue. However, since you're running Rust under WSL,

[2019-05-02 20:30] varkor commented on #60263
This should be fixed on the next nightly, but https://github.com/rust-lang/rust/pull/60277 will add a regression test for it.

[2019-05-02 20:33] GuillaumeGomez opened #60483 "Hamburger button shouldn't appear on mobile view in source code page"
Screenshot:

<img width="673" alt="Screenshot 2019-05-02 at 22 30 55" src="https://user-images.githubusercontent.com/3050060/57105087-38c50200-6d2a-11e9-8592-28be8d46be78.png">

[2019-05-02 20:35] christianpoveda commented on #44580
I've been expecting months for this post @varkor :) I'm no Rust wizard but I'd like to tackle one of the `FIXME`s

[2019-05-02 20:38] Ten0 opened #60484 "Compiler panics on latest RLS when compiling crates that depend on `bitflags` 1.0.5"
Follows rust-lang/rls#1449.
**EDIT:** New elements there.

I'm trying to develop a crate which ends up using `nix` as a dependency.
I'm getting the following error through RLS :
(stable-x86_64-unknown-linux-gnu unchanged - rustc 1.34.1 (fc50f328b 2019-04-24), ArchLinux 5.0.10-arch1-1-ARCH)
[code]

Using `"rust-client.logToFile": true,` to get the log, I get this additional information:
[code]

Thi

[2019-05-02 20:42] nagisa opened #60485 "rustdoc type-based search appears to not support searching by built-in types"
You can search for functions that appear to satisfy some sort of a shape/type as such `input -> output`, however that will not work for more complicated searches involving built-in types, including:

* slices `[T] -> *`;
* pointers `*mut T -> *`;
* tuples `(*, *)`;
    * and similarly multiple arguments
* probably more.

Instead of attempting to guess a what kind of search this is based on `->` I

[2019-05-02 20:49] jonas-schievink commented on #60482
Possibly caused by https://github.com/rust-lang/rust/pull/60140

[2019-05-02 20:54] Aaron1011 commented on #60482
Here's a minimized reproduction:

[code]

[2019-05-02 21:26] Centril commented on #15287
We discussed this in the language team meeting pre-triage (but not the proper language team meeting; cc @rust-lang/lang). Of note, with respect to https://github.com/rust-lang/rust/issues/15287#issuecomment-451265662, is that NLL has been stabilized on both editions.

Therefore, the participants at the pre-triage (e.g. me, @nikomatsakis, and @pnkfelix) found that we should  have *"clearance to pre

[2019-05-02 21:29] Centril commented on #60473
Unstable buggy feature: suggested P-medium;
Might also want to add to `INCOMPLETE_FEATURES` and P-high that aspect alone.

[2019-05-02 21:30] Centril commented on #60479
This sounds great to me; would love to save us the collective embarrassment =P

[2019-05-02 21:33] rasendubi commented on #60427
1. All of the mentioned flags are lib flags. Is it OK to add them to `feature_gate.rs`? (I am not sure as these are "lang" features and might be handled differently.)

2. e.g., `fs_read_write` was stabilized as `fs_read_write_bytes` (0600d0f38d4998f1cacb3b97408224a0ee350db4). Should we add the old name? as `accepted`?

3. A part of `alloc` was renamed to `alloc_prelude` (without stabilization) (5d

[2019-05-02 21:34] GuillaumeGomez commented on #60485
Ah no, I didn't support that **at all**.

[2019-05-02 21:41] alexcrichton commented on #48683
I personally agree that "override" may not be the best term here, but it's worth noting that you can name the current crate like:

[code]

so `dependencies` may not fit the bill as well?

Perhaps something like `crate` or `pkg`?

[code]

[2019-05-02 21:42] jethrogb commented on #60427
I think they should be added as removed

I thought I was with some nightly version between nightly-2018-08-14 and nightly-2019-04-27, but I can't reproduce this right now.

[2019-05-02 22:18] GuillaumeGomez commented on #56232
So something more generic. I see a few different possibilities. Like providing a Rust file like `build.rs` that would be run on the different code samples provided. How does it sound?

[2019-05-02 22:19] GuillaumeGomez commented on #60483
@pietroalbini: However, `highfive` isn't called in here whereas it should. Maybe the condition is too specific? I'll take a look!

[2019-05-02 22:23] filmil opened #60490 "How does one build cargo from scratch?"
The default installation script does not install cargo.  The [cargo install-from-source instructions][1] say that a preexisting installation of cargo is required to install cargo.

So, how does one build and install cargo purely from source?

[1]: https://github.com/rust-lang/cargo

[2019-05-02 22:33] Manishearth commented on #56232
That's not really useful for tooling, tooling shouldn't have to add new files to the tree to be able to run tests.

[2019-05-02 22:33] jonas-schievink commented on #60490
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

I'm not sure what you're trying to accomplish, but since the Rust toolchain is bootstrapped, you need to build off of th

[2019-05-02 22:33] #60490 closed

[2019-05-02 22:37] filmil commented on #60490
The concrete small feature request here would be to describe how one can build rustc and cargo from source, starting from checked out source.  Or at least a pointer to where such an approach is described.

[2019-05-02 23:42] petrochenkov opened #60493 "String literals in asm!() and ABIs are not escaped"
String literals in `asm!()`'s outputs, inputs, clobbers and options are lexed like usual non-raw strings (`asm!("something" : "outputs" : "inputs" : "clobbers" : "options")`).
String literals in ABI specifications are also lexed like usual non-raw strings (`extern "C" fn f();`).
In particular, all escapes are checked for correctness and corresponding errors are reported.

However, during parsing s

[2019-05-02 23:54] petrochenkov opened #60494 "Suffixed string and char literals are accepted if they don't go through parser"
Things like `"abc"suffix` are lexically valid tokens, but they are reported as errors when parsed with the Rust Language Parser.

However, macro inputs are not parsed by the Rust Language Parser, each macro has its own language that it parses by itself.

It means that suffixed string and char literals can be passed to procedural macros (a procedural macro can process them as they want and make the

[2019-05-03 00:18] petrochenkov opened #60495 "Inconsistent literal escaping in proc macros"
Proc macros operate on tokens, including string/character/byte-string/byte literal tokens, which they can get from various sources.

- Source 1: Lexer.
This is the most reliable source, the token is passed to a macro *precisely* like it was written in source code.
`"C"` will be passed as `"C"`, but the same C in escaped form `"\x43"` will be passed as `"\x43"`.
Proc macros can observe the differen

[2019-05-03 01:29] estebank commented on #47168
Current output for the original code:

[code]

[2019-05-03 01:30] #38564 closed

[2019-05-03 01:36] estebank commented on #41695
Closing as I believe we're already in a much better state than we were a year ago. Feel free to reopen if you disagree.

[2019-05-03 01:36] #41695 closed

[2019-05-03 01:38] scottmcm commented on #47168
Nice, @estebank!  That sounds like issue resolved to me.

[2019-05-03 01:46] estebank commented on #51375
I believe the current output is good enough:

[code]

[2019-05-03 01:49] estebank commented on #52423
Current output:

[code]

[2019-05-03 01:49] #52423 closed

[2019-05-03 01:55] estebank opened #60497 "Unify binop errors wording"
[The following](https://play.rust-lang.org/?gist=27c03aa1ea7239c56fb2ec66749ee2c4&version=nightly) [two errors](https://play.rust-lang.org/?gist=9bdfbdb401d5e39baf22a31ff125dae8&version=nightly) are actually the same problem but have different output because they are handled in different parts of the compiler. We should unify the output to have similar, if not the same, text.

[code]
[code]

This

[2019-05-03 02:03] euclio commented on #60482
Looks like this is fixed on pulldown-cmark master, but there hasn't been a release yet. cc @marcusklaas

[2019-05-03 02:11] #47168 closed

[2019-05-03 02:15] eddyb commented on #59542
@alexcrichton Ah, I misunderstood an important aspect: all the artifacts are kept in the same directory, and only `-C metadata` makes `rustc` ignore those from incompatible builds?

[2019-05-03 02:26] taiki-e opened #60498 "async fn forgets the mutability of the arguments"
Code:

[code]

Error:

[code]

Rustc version: rustc 1.36.0-nightly (08bfe1612 2019-05-02)

[2019-05-03 02:28] taiki-e commented on #60498
@rustbot modify labels: A-async-await and T-compiler.

[2019-05-03 02:53] ogiekako opened #60499 "ICE on turbofish without parens followed by >= ."
Given main.rs:
[code]

$ rustc main.rs
thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', src/libcore/option.rs:347:21
note: Run with `RUST_BACKTRACE=1` environment variable to display a backtrace.

error: internal compiler error: unexpected panic

note: the compiler unexpectedly panicked. this is a bug.

note: we would appreciate a bug report: https://github.com/rust-lang/r

[2019-05-03 03:01] remexre commented on #42008
So I guess the low-effort fix here is slapping `#[doc(hidden)]` on that `mod`?

[2019-05-03 03:24] Ryan1729 commented on #46210
Here's an even smaller test case that also produces `E0210`.

[code]
[Playground Link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4dc07587baee10e1874aef396e17cd26)

[2019-05-03 03:31] Ryan1729 commented on #46210
The following slightly more correct version also produces the same error:
[code]

[2019-05-03 03:46] KallDrexx commented on #47168
@estebank Shouldn't that `it` be removed from the error message to make it gramatically correct?  e.g.

Also it seems like a better message would be along the lines of

[2019-05-03 04:10] QuantumBear opened #60500 "Rustc crash when compile"
Code is from learn rust with lists.

[code]

## meta
[code]
And I set #![feature(nll)] in the lib.rs, maybe this is a issue.

The backtrace:

[code]

[2019-05-03 04:16] sfackler opened #60502 "Values created by const fns aren't rvalue static promoted"
This function compiles due to rvalue static promotion:

[code]

This, however, does not:

[code]

[code]

Explicitly creating a static does work, however:

[code]

[2019-05-03 04:22] scottmcm commented on #52423
This looks great!  Thanks @ashtneoi!

[2019-05-03 04:38] measlytwerp commented on #59840
Why are the buttons for theme selection and doc settings part of the search box in the first place? I think they should be removed.

I'd suggest that the search box appears like this:

![image](https://user-images.githubusercontent.com/42093217/57119586-8e40f380-6daa-11e9-80f1-b7679079480b.png)

Until it is focused, in which case it should look like this:

![image](https://user-images.githubuserco

[2019-05-03 04:39] estebank commented on #47168
@KallDrexx yes that seems like the way to go.

[2019-05-03 05:53] JohnTitor commented on #60499
I cannot reproduce ICE on [playground with latest nightly](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=92e83874f914c527f55ad919fa28b22c).

Could you update your local rustc and re-check?

[2019-05-03 05:59] scooter-dangle opened #60503 "Const generic type parameter in trait declaration ICE"
Const generic type parameter in trait declaration causes ICE.

Looks similar to https://github.com/rust-lang/rust/issues/44580#issuecomment-475135851

I tried this code:

[code]

I don't know enough about the const generics plan to know whether they'll be supported for traits, but I got internal compiler errors on Nightly and Beta with the above line.

## Meta

### Nightly
`rustc +nightly --versio

[2019-05-03 06:21] #59725 closed

[2019-05-03 06:22] cramertj commented on #60498
@davidtwco I wonder if this is related to the drop order fix desugaring?

[2019-05-03 07:03] davidtwco commented on #60498
@cramertj Oops, looks like it is. Thanks @taiki-e for the fix.

[2019-05-03 07:09] measlytwerp commented on #59851
Here's a quick mockup of what this might possibly look like:

![image](https://user-images.githubusercontent.com/42093217/57123473-1af6ac00-6dc1-11e9-99e5-99d47b3f96ee.png)

The body font I've used is Source Sans Pro which complements the Source Code Pro that the docs are already using for code blocks.

The length of paragraphs and list items is limited separately from code blocks and headings, I

[2019-05-03 07:39] noelaugustin opened #60504 "Large executable while compiling for windows from Linux systems"
I have a simple Hello World program, which only has a single line in the main function of main.rs, which is
`
println!(Hello World);
`

Adding to the default package that is done by cargo init, the cargo.toml file has
`[profile.dev]`
` panic="abort"`

When I compile the code with target `i686-pc-windows-gnu`, with the linker being `i686-w64-mingw32-g++` on linux, for windows, I get an exe, which i

[2019-05-03 07:54] asilano commented on #60475
That makes sense. Is there any way around this?

[2019-05-03 08:31] oli-obk commented on #60164
@xldenis sorry for not responding earlier. I only have very broad instructions right now, but don't hesitate to ask here or on the `wg-diagnostics` stream on zulip if you need more help.

1. find the place where the diagnostic "a local variable with a similar name exists" is emitted
    * note that the "local variable" part may be a placeholder `{}` and the rest of the string might be broken acros

[2019-05-03 08:32] ogiekako commented on #60499
The issue is gone after I updated nightly (to the following version). Thanks!

[code]

[2019-05-03 08:35] pnkfelix commented on #60253
Note: it is nonetheless possible that the distinction here is more subtle and my above example isn't *quite* right. in particular, I'm a little worried that there was a reason that the example from PR #21984 puts the for-expression in the tail expression of a block, and that examples that don't take similar care might fail to pick up on a relevant distinction here...

[2019-05-03 08:35] #51375 closed

[2019-05-03 08:39] jonas-schievink commented on #60490
I think what you want is to set `extended = true` in [config.toml](https://github.com/rust-lang/rust/blob/08bfe16129b0621bc90184f8704523d4929695ef/config.toml.example#L186) before building.

[2019-05-03 08:43] leonardo-m commented on #47168
The problem with this is that test is performed even in optimized builds, unlike the usual Rust behaviour of performing overflow tests in debug builds only (or on request).

[2019-05-03 08:51] jonas-schievink commented on #60500
(fixed the formatting, please use triple \`\`\` around code blocks and backtraces)

This doesn't reproduce on the playground, please update your nightly and retry. The code block is also missing the `#![feature(nll)]` you speak of, but even with that it doesn't ICE.

[2019-05-03 08:54] jonas-schievink commented on #60499
Duplicate of https://github.com/rust-lang/rust/issues/60275 and closing as fixed

[2019-05-03 08:54] #60499 closed

[2019-05-03 09:00] pnkfelix commented on #60228
okay I have managed to replicate the problem locally via the [above recipe](https://github.com/rust-lang/rust/issues/60228#issuecomment-486832408). Continuing investigation. (Trying to decide whether to expend effort on trying to reduce to a smaller test input...)

[2019-05-03 09:03] Lonami commented on #60497
How should one go about implementing this? Somehow sorting the operator order to pick consistently? Or better to always show the two hints for both orderings?

[2019-05-03 09:03] sntdevco commented on #59113
@cramertj #59725 closed, what about this (#59113)

[2019-05-03 09:09] glandium opened #60505 "thread 'main' panicked at 'internal error: entered unreachable code', src/tools/tidy/src/pal.rs:224:9"
Adding some `#[cfg()]` with unbalanced parens in some file in the rust directory makes `python x.py build` fail with the following error and backtrace:
[code]

Which is rather unhelpful.

[2019-05-03 09:30] jonas-schievink commented on #60504
Those are separate targets (GNU vs. MSVC), what's the size when you build for the GNU target while on Windows?

[2019-05-03 10:04] hellow554 commented on #60505
Looking at

https://github.com/rust-lang/rust/blob/08bfe16129b0621bc90184f8704523d4929695ef/src/tools/tidy/src/pal.rs#L206-L225

means, that `unreachable` should be
[code]
(or similar)

[2019-05-03 10:44] lu-zero commented on #43309
Seems solved now.

[2019-05-03 10:44] #43309 closed

[2019-05-03 10:46] lu-zero commented on #55092
It would need probably some documentation somewhere now.

[2019-05-03 11:25] Bodup commented on #27694
Not as if anyone on Windows is going to install [gpg4win](https://www.gpg4win.org/) just to check the signatures. This should be a higher priority IMO.

[2019-05-03 11:32] rkruppe commented on #60502
This is intentional. A blanket "any const fn call is promotable" is problematic and more restricted versions are, of course, more controversial to design. See https://github.com/rust-lang/rust/pull/53851 for the PR that implemented the current restriction and https://github.com/rust-rfcs/const-eval/issues/19 for further discussion.

[2019-05-03 11:43] varkor commented on #60505
Rather than panicking, it would be better to throw an error (e.g. using `tidy_error!`).

[2019-05-03 11:49] petrochenkov commented on #60495
https://github.com/rust-lang/rust/pull/60506 addresses the raw byte string literal case (no escaping should happen in that case).

[2019-05-03 11:54] pnkfelix commented on #57700
downgrading to P-medium under same reasoning as given in #53598

[2019-05-03 11:56] pnkfelix commented on #53014
(status: I am still under the process of trying to get a basic Windows bootstrap environment set up.)

[2019-05-03 12:01] jonas-schievink commented on #60484
To reproduce, run `cargo +nightly rustc --lib -- -Zsave-analysis` on a fresh checkout (https://github.com/nix-rust/nix/commit/71b35a07cc1cdd9a367773d391848a3cd314c388) of nix:

[code]

[2019-05-03 12:18] kornelski commented on #48683
Yeah. `.package.name` makes sense, since there's `[package] name = ""`.

[2019-05-03 12:19] glandium commented on #60505
Note that there are other cases where there is an error message like:
[code]

It seems like we should get the same here too.

[2019-05-03 12:30] varkor commented on #60505
We could just ignore `#[cfg]`s with unbalanced parentheses in tidy, as they'll be picked up during compilation. In that case, removing the `unreachable!()` and adding a comment to that effect should be enough.

[2019-05-03 12:47] HeroicKatora commented on #39975
One possible way to implement `.count` would be to short-circuit on `Step::steps_between`:

[code]

With inlining, this works out nicely for integer types. And consider that `None` return in `steps_between` signals that the count did not fit into a `usize`. In that case, the current `count` should simply loop a very long time anways and the performance drop from the single conditional check may be

[2019-05-03 12:57] pnkfelix commented on #60228
I have observed the following:

[code]

To be clear, I do not think this implies a bug in 48cb6bead10 itself. I suspect it is just exposing a bug somewhere in incremental compilation.

I'm going to try to test that theory by narrowing the changeset 48cb6bead10 itself.

[2019-05-03 13:02] petrochenkov commented on #60494
This is listed as an unresolved question in the RFC introducing literal suffixes into lexer (https://github.com/rust-lang/rfcs/pull/463).
@nrc argued for the currently implemented behavior in https://github.com/rust-lang/rfcs/pull/463#discussion_r20414904.

[2019-05-03 13:07] petrochenkov commented on #60494
@rust-lang/lang needs to make some decision and document it in the [reference](https://github.com/rust-lang-nursery/reference/blob/master/src/tokens.md).

[2019-05-03 13:18] Cogitri commented on #59302
FWIW, Void has been hacking around this for some time: https://github.com/void-linux/void-packages/blob/742a7d53eb0b373bf8dad3b51db3380c5cdf8dc1/srcpkgs/rust/patches/musl-dont-use-crt-static.patch and https://github.com/void-linux/void-packages/blob/742a7d53eb0b373bf8dad3b51db3380c5cdf8dc1/srcpkgs/rust/patches/link-musl-dynamically.patch

I'm currently working on this for Alpine too (BTW, maybe I

[2019-05-03 13:38] Centril commented on #60494
@petrochenkov What are the advantages to Alt 1. as you see it? Also, do we have some sort of crater data?

[2019-05-03 13:40] pnkfelix opened #60507 "cl.exe handling of llvm\include broken for VS 2019?"
I am attempting to bootstrap rust atop Visual Studio 2019 Community Edition.

I have no `config.toml`, and am doing the build from the `rust.git` root directory, on this version:

[code]

From `x.py build`, during the build step for `rustc_llvm`, I am getting the following error:

[code]

[2019-05-03 13:45] the8472 commented on #59851
Would it make sense to switch to [`<details>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details)?

[2019-05-03 13:48] QuantumBear commented on #60500
Build successfult with latest nightly build, thanks!

[2019-05-03 13:48] #60500 closed

[2019-05-03 14:10] Centril opened #60509 "Extend `async fn` test suite to account for `ref mut?` patterns"
In https://github.com/rust-lang/rust/pull/60501 the handling of `mut` patterns in arguments is fixed (https://github.com/rust-lang/rust/issues/60498).

However, the test suite should also be extended to account for:
[code]
and:
[code]
as well as nestings of those:

[code]

Please be creative in testing for combinatorial interactions when closing this issue :)

[2019-05-03 14:14] Centril commented on #60502
I think however that the diagnostic message could be clearer about this being intentional; cc @oli-obk @estebank

[2019-05-03 14:15] Centril commented on #60503
Un-nominating since @varkor self-assigned and has a fix.

[2019-05-03 14:17] alexcrichton commented on #59542
@eddyb that plus it's the granularity Cargo caches at. The intention of the PR was that if you oscillate back and forth on `RUSTFLAGS` values you'll have incremental builds each time, whereas previously it would recompile the whole crate graph.

[2019-05-03 14:33] sfackler commented on #60502
Oh, interesting. Yeah, it does seem like it'd be nice if the error message would be a bit more explicit.

[2019-05-03 16:07] jhfrontz commented on #59542
@eddyb here're 4 binaries generated using our deterministic process on the same source -- two using 1.32 and two using 1.34 (sorry, I didn't save the 1.33 package before the new one rolled out -- if you want 1.33-generated ones specifically, I can try to roll back a development machine): [rust_issue_59542.zip](https://github.com/rust-lang/rust/files/3142592/rust_issue_59542.zip)  (sorry about the

[2019-05-03 16:42] matthiaskrgr opened #60512 "undefined symbols when building RLS with monolithic lto"
[code]
[code]

repro recipe:
[code]

I get a consistent failure when rls is being linked (`rls(bin)` target):
[code]

[2019-05-03 16:58] jonas-schievink commented on #60512
Can you try with GNU ld instead of LLD?

[2019-05-03 17:03] samoylovfp opened #60514 "ICE RLS 1.34.0 no type for node `expr <Self>::WROTE_NOTHING"
steps to reproduce:
[code]
observe
[code]

Os info
[code]
Please ping me for more information

[2019-05-03 17:07] estebank commented on #60497
We could do it by picking and matching wording from both errors to make them consistent with each other. The E0277 one can be updated by changing the [`rustc_on_unimplemented` text for the trait](https://github.com/rust-lang/rust/blob/38264937fc16624b4f3959dec12c0440e5a8f628/src/libcore/ops/arith.rs#L68-L90), while E0369 can be updated by changing the following code:

https://github.com/rust-lang/

[2019-05-03 17:07] ollie27 commented on #60507
This looks like a duplicate of #56650.

[2019-05-03 17:07] #60507 closed

[2019-05-03 17:12] c410-f3r commented on #44580
Congratulations @jplatte, @yodaldevoid and @varkor. This is a huge step to get rid of custom `Array-like` traits in math libs.

[2019-05-03 17:14] jonas-schievink commented on #60514
Duplicate of https://github.com/rust-lang/rust/issues/60484

[2019-05-03 17:14] #60514 closed

[2019-05-03 17:16] matthiaskrgr commented on #60512
`LD=/usr/bin/ld cargo build --release` show the same symptoms.

[2019-05-03 17:16] #59113 closed

[2019-05-03 17:25] estebank commented on #47168
@leonardo-m that is true, but the aim here is to unblock newcomers who would be stumped by this error and the only two options available at this point to suggest are `as` and `try_into`. Anyone with enough knowledge for performance to matter will be able to find out about casting in other ways.

Also, shouldn't we be able to elide the performance hit of turning an `usize` into a `u32` in the gener

[2019-05-03 17:44] matthiaskrgr commented on #60512
Looks like the problem is caused primarily by using monolithic lto:
[code]

[2019-05-03 17:49] dovahcrow opened #60518 "ICE with the newest nightly in `lower_ty_direct`"
I was using nightly rust extensively for its async/await and specialization feature. After a recent update (nightly-2019-05-02), a new ICE introduced with following logs:
[code]
After a quick search it seems like [this](https://github.com/rust-lang/rust/blob/master/src/librustc/hir/lowering.rs#L1478) is the only `unwrap` in direct cause `lower_ty_direct` (stack frame 10).

~I cannot share the code

[2019-05-03 17:54] mark-i-m commented on #44580
Cross-posting...

@varkor Regarding tests, perhaps it would help to know what is expected to work. For example, I was surprised that this does not work: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d84ffd15226fcffe02c102edb8ae5cf1

[2019-05-03 17:57] mark-i-m commented on #44580
Also, for reference of those interested in FIXMEs: https://oli-obk.github.io/fixmeh/

[2019-05-03 18:00] bjorn3 commented on #44580
@mark-i-m try putting `{}` around `FOO`. That way it will work.

Quoting https://github.com/rust-lang/rfcs/blob/master/text/2000-const-generics.md:

[2019-05-03 18:04] dovahcrow commented on #60518
@Centril @jonas-schievink I've added the minimal case for reproducing. Hope that would help!

[2019-05-03 18:05] #59557 closed

[2019-05-03 18:05] #55174 closed

[2019-05-03 18:05] #60203 closed

[2019-05-03 18:05] #53090 closed

[2019-05-03 18:05] #58695 closed

[2019-05-03 18:05] #60498 closed

[2019-05-03 18:06] rodrimati1992 commented on #44580
`{expression}` should only be necessary if the expression is not an identifier or a literal,that is a bug.

Quoting the same RFC:

[2019-05-03 18:06] jonas-schievink commented on #60518
Thanks! Looks like even this line is enough to trigger the ICE:

[code]

[2019-05-03 18:08] davidtwco commented on #57985
Closing as this was fixed in #60401.

cc @rust-lang/compiler so that everyone is aware the variable has changed.

[2019-05-03 18:08] #57985 closed

[2019-05-03 18:10] mark-i-m commented on #44580
:+1: Thanks. I just found https://github.com/rust-lang/rust/blob/ef9a876f8297e26859469b004047e0946ed10565/src/libsyntax/parse/parser.rs#L6056

[2019-05-03 18:15] dovahcrow commented on #60518
[Another bug may be related](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e4cf7e52f3f8d42b2f56311513a413d7): rustc complains you should have variable mut although it is already mut.

[2019-05-03 18:17] jonas-schievink commented on #60518
That's https://github.com/rust-lang/rust/issues/60498 and should be fixed in the next nightly

[2019-05-03 19:09] yodaldevoid commented on #44580
@mark-i-m Yes, currently we cannot tell the difference between idents for types and consts when initially parsing. We punted the decision on how to handle all that into the future. I suppose now might be the future.

For a little background, we have talked about two ways that I can remember about how to handle this. The first way is to force people to mark const arguments (either by typing `const`