[2022-05-26 08:57] m-ou-se opened #97418 "Atomic compare exchange shouldn't require the failure ordering to be as strong as the success ordering"
Right now, Rust does not support `compare_exchange(a, b, Acquire, Release)`: we require the success ordering to be at least as strong as the failure ordering, which means we must upgrade the success ordering to `AcqRel` in this example.

C++ proposal [P0418r2](https://wg21.link/p0418r2) argues this is unnecessary.

The restriction has been removed in C++17. We should consider doing the same in Rus

[2022-05-26 09:14] tmiasko commented on #97418
Duplicate of #68464.

[2022-05-26 09:46] tmiasko opened #97421 "Pointer to integer casts that expose provenance are incorrectly removed"
The pointer to integer cast has an implicit side effect of exposing the provenance, so it cannot be removed under strict provenance model.

Example of an incorrect transformation:

[code]

[code]

[2022-05-26 09:53] inquisitivecrystal commented on #97318
@complexspaces: since the problem seems to be fixed now and it's hard to pin down in the absence of an MCVE, would you be okay with us closing this?

[2022-05-26 10:05] m-ou-se commented on #97418
Oh, thanks!

[2022-05-26 10:05] #97418 closed

[2022-05-26 10:06] m-ou-se commented on #68464
@tmiasko I'm about to send a PR that implements this.

[2022-05-26 10:37] cjgillot opened #97422 "Complete incremental hash tracking coverage"
The directory `src/test/incremental/hashes` is used to track the performance of incremental compilation granularity.

Each file is compiled 6 times with different configurations. For each run and each item, the hashes of some queries' results are computed.
If a hash stays the same from one run to the next, it is said "clean", otherwise it is "dirty".
The compiler verifies that the set of clean vs.

[2022-05-26 10:49] tmiasko commented on #68464
@m-ou-se I do have implementation ready as well, but that's fine, I can review instead :-).

[2022-05-26 10:51] m-ou-se commented on #68464
I split it in a PR that renames the intrinsics first, and a separate PR for exposing the new ordering combinations afterwards.

[2022-05-26 11:30] CoorFun commented on #37403
Hi there:

I am pointed here by [this post](https://users.rust-lang.org/t/linking-against-c-dependencies/25099/4), what I am actually trying to do now is that I want to find a way to link my rust final c dynamic library (.so) against stdlibc++ statically. So that this shared library can be used under another linux distribution which doesn't have the minimum requried stdlibc++ installed..

From the

[2022-05-26 11:51] clarfonthey commented on #97319
Yeah, in that case I'd say something like: discriminant is computed as (specified) + N variants later = (duplicate)

[2022-05-26 12:07] bertptrs commented on #50727
The ordering for `Option` and `Result` is documented through a small note in the [Derivable](https://doc.rust-lang.org/std/cmp/trait.Ord.html#derivable) section:

And then it lists two examples. The ordering for both `Result` and `Option` is indeed simply `derive`d so that covers that. However that fact could be considered an implementation detail, so I think it's still good to mention it explicit

[2022-05-26 12:50] ijackson commented on #96956
This is *not* a clippy lint.  It is being emitted, here, by rustc:
[code]
The situation is confusing because there is (or was?) also a clippy lint for this; I think this may have been promoted into rustc but something was done wrong there.

I have rechecked and:
 * `rustc 1.61.0 (fe5b13d68 2022-05-18)` (stable) unaffected
 * `rustc 1.62.0-beta.2 (daf68b1f7 2022-05-19)` affected
 * `rustc 1.63.0-ni

[2022-05-26 13:05] ijackson commented on #96956
@rustbot ping rust-lang/release

[2022-05-26 13:12] ijackson commented on #96956
@rustbot modify labels +regression-untriaged

[2022-05-26 13:12] ijackson commented on #96956
Ah!  Looking at the "Regression" bug template gave me a hint.

[2022-05-26 14:14] GuillaumeGomez commented on #90323
Apparently not. :laughing:

I'll take a look to this issue then based on your work.

[2022-05-26 14:28] nikomatsakis opened #97426 "Investigate eliminate `region_scope_tree`"
In https://github.com/rust-lang/rust/pull/95563 and https://github.com/rust-lang/rust/pull/97383, we found that computing the `region_scope_tree` is a non-trivial cost, especially in incremental builds. I was discussing with @dingxiangfei2009 and I am of the opinion that we can *probably* remove the `region_scope_tree` entirely now that we have moved over to the MIR borrow checker (i.e., NLL). We

[2022-05-26 15:06] Gankra commented on #88744
# Summary

Before we had const-generics we had some macros manually implementing Default for a few different array sizes, and we were too clever and special-cased `[T; 0]` to be unconditionally `Default`. As a result when const-generics were introduced, providing a const-generic impl of Default for arrays would have been a regression because it would introduce a `T: Default` bound to the empty arr

[2022-05-26 15:17] Enselic commented on #93588
I figured out how to make rustdoc not cause an ICE when generating rustdoc JSON for the main crate [diesel/diesel](https://github.com/diesel-rs/diesel/tree/master/diesel). Maybe this gives someone enough of a clue to figure out what is wrong?

See https://github.com/diesel-rs/diesel/pull/3190/files for the diff that makes rustdoc JSON work. For example, I had to change

[code]

to

[code]

This fi

[2022-05-26 15:51] ldm0 opened #97428 "Infinite recursion optimized away with `opt-level=z`"
I tried this code:

[code]

I expected to see this happen: *`foo` runs infinitely*

Instead, this happened: *`foo` return directly*

The `opt-level` is set to `z`: https://rust.godbolt.org/z/n1v471j6E

[2022-05-26 16:31] compiler-errors commented on #97226
This regressed between 1.60 -> 1.61 from a compiler error to an ICE.

I will run a bisect in a few hours, but I encourage anyone to do it sooner.

[2022-05-26 16:42] H4x5 opened #97429 "Trait with unsized fn param compiles without feature gate"
I created an unimplementable trait with an unsized fn param. I expected an unsized fn param in a trait function to not compile as it is impossible to implement on stable.

I tried this code:

[code]
<https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=af9c3894dfaa7e09b5fae5b3c83ebb4b>

The trait compiles successfully, but cannot be implemented without the `unsized_fn_params` f

[2022-05-26 16:51] compiler-errors commented on #97226
searched nightlies: from nightly-2022-01-15 to nightly-2022-05-22
regressed nightly: nightly-2022-04-30
searched commit range: https://github.com/rust-lang/rust/compare/e85edd9a844b523a02dbd89f3c02cd13e4c9fe46...a707f401074bc769bab4efb2bfdde7f6c5a4068d
regressed commit: https://github.com/rust-lang/rust/commit/87937d3b6c302dfedfa5c4b94d0a30985d46298d

<details>
<summary>bisected with <a href='http

[2022-05-26 17:02] saethlin opened #97430 "Refutable slice pattern with let produces a possibly misleading diagnostic for &[T; N] and a much better diagnostic with &[T]"
I just saw someone write this code:
[code]
which produces this diagnostic:
[code]
and they then used this message to misunderstand the implications of slice patterns, perhaps thinking that this code would somehow panic at runtime. Changing the type of `x` to a slice like so:
[code]
produces a better diagnostic which mentions the much deeper problem with this construction: The pattern is refutable

[2022-05-26 17:28] kpreid commented on #61640
This would be a good lint to have because many beginners speculate that `use foo;` brings `foo` into scope, as opposed to the actual situation that `use foo::bar;` brings `bar` into scope given that `foo` _already is_ in scope. In my opinion, it would be best if

* The lint has help that specifically explains that 1-element paths in `use` usually do nothing and are only useful in special cases (`p

[2022-05-26 18:07] vvzen commented on #83413
As a new starter on Rust, this also caught me off guard. Thanks for the explanation! Was there any progress made here ?

[2022-05-26 18:25] ThePuzzlemaker commented on #75833
I'd like to see this solved if possible--as a rustc contributor, I often find myself trawling through rustc's internal docs, and I've found that having a local copy is *much* faster to load than a remote copy--just due to the sheer amount of content present. While it is possible to just have rustup try and download the component (and fail, but keep it in `~/.rustc/downloads`), then `tar -xf` and c

[2022-05-26 18:52] tommythorn commented on #40910
Crates (like Stakker) uses Instant and promotes the use of virtual time.  For virtual time, having the Instant be set to some random nondeterministic value is insane.

[2022-05-26 19:49] thomcc commented on #53020
I came here to say yes. In general there's an ongoing issue with several APIs in const eval, where under const evaluation to assume there's no reason you might need to handle the case where the function fails to produce a meaningful result.

Some examples of this are `align_offset` returning `usize::MAX`, and `align_to` returning the whole slice in the first item. These are much worse to use (the

[2022-05-26 19:55] Nilstrieb commented on #97344
If you're not sure what exactly caused it, could you send the entire reproducible code? Or did the problem go away after a `cargo clean`?

[2022-05-26 20:06] hkratz commented on #97428
This was apparently working in 1.58 and regressed in 1.59.

[2022-05-26 20:33] camelid commented on #90323
@Milo123459 the command is <code>@rustbot release-<strong>assignment</strong></code> :)

[2022-05-26 20:34] estebank opened #97439 "Show file path on suggestions when the suggestion file differs from the main label's file"
We currently show structured suggestions without the file path because it is considered redundant output, but when the suggestion is to modify a file that isn't the local file the main diagnostic highlights, then the suggestion is confusing.

[2022-05-26 20:34] Milo123459 commented on #90323
Ahh!

[2022-05-26 20:37] AurelienFT commented on #97422
@rustbot claim

[2022-05-26 20:58] ldm0 commented on #97428
Small reproducer: https://github.com/ldm0/rust_test1

[code]

[2022-05-26 21:23] nikic commented on #97428
From a cursory look, probably due to: https://github.com/llvm/llvm-project/blob/cc871cf6b50f6a76f2083d192e2254a16832224b/llvm/lib/Transforms/Utils/Local.cpp#L2369

[2022-05-26 21:33] dfreese commented on #55724
Thanks for all of the detail and putting that stabilization PR together, @CAD97!

[2022-05-26 21:38] ldm0 commented on #97428
From cargo bisect:
[code]

[2022-05-26 21:38] hafeoz opened #97440 "Multiline (more than 2 lines) inner attribute triggers ICE during doctest"
Following code produces triggers an ICE when running `cargo test` or `cargo doctest`:

### Code

[code]

[Open the code on playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=80df494ade4870d9940f4c267c8a5ee1)

### Meta

`rustc --version --verbose`:
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-26 21:50] joshlf opened #97441 "Presence of type wildcard affects type inference in async"
I've discovered code which compiles differently for `Foo::Bar` and `Foo::<_>::Bar` when used in an async context.

@ezrosent produced [this minimization](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7cee620cbe724560171aaa92a0b25bfc). The core of the repro is:

[code]

...which produces this error message:

[code]

Replacing `Result::Ok(3)` with `Result::<_>::Ok(3)` cause

[2022-05-26 22:06] kupiakos commented on #97441
`anyhow::Result<_>` and `anyhow::Result` mean slightly different things because `anyhow::Result` has a default for `E`. In the first case, I'm saying "use the default `E = anyhow::Error` and infer `T`". In the second case, I'm letting inference guess both types `T` and `E`.

[code]

[2022-05-26 22:12] joshlf commented on #97441
Oh that makes sense!

I wonder if it could help to add a clarifying note to the compiler error that calls out that type defaults aren't used for inference, and maybe even suggests `::<_>::` as a way of explicitly specifying the type default.

[2022-05-26 22:13] estebank commented on #95854
@jyn514 I'm ok with the current direction. Familiarity for new contributors with the normal tooling would be useful, but maybe what is needed is to make cargo flexible enough for rustc, and not the other way around.

[2022-05-26 22:21] estebank commented on #97241
Even if we provide a `guard` method, we would still need a linting mechanism, we would "just" suggest a different remediation.

[2022-05-26 22:27] Manishearth commented on #97441
cc @estebank ^

[2022-05-26 22:38] jyn514 commented on #95854
I don't have a lot of confidence this is possible :( there's a thread in https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/why.20not.20.60cargo.20build.60.20in.20rust-lang.2Frust.3F where I explain some fundamental limitations cargo has.

Anyway, I think having a mismatch between `test` and the rest of the subcommands isn't great so I'm going to close this.

[2022-05-26 22:38] #95854 closed

[2022-05-26 22:49] estebank commented on #97441
I wonder if we could cover this as part of the follow ups to https://github.com/rust-lang/rust/pull/89862, so that it suggests how to annotate `Result::<E>::Ok(3)`, but that seems enough to unblock people on a case where they shouldn't have gotten blocked in the first place.

[2022-05-26 22:52] aDotInTheVoid commented on #93588
Started a minification at https://github.com/aDotInTheVoid/diesel-93588, not made much progress.

[2022-05-27 00:43] scottmcm commented on #55724
Well, I put one in https://github.com/rust-lang/rust/issues/55724#issuecomment-1092410896 above

I think you're looking at the wrong thing -- there's an `align: usize` *parameter* so #95361 didn't fix that.

I'd be happy to make a PR to expose that type so it could be used in `padding_needed_for` -- any thoughts where it would best fit?  (It's current `mem::ValidAlign`, but it could be `core::layo

[2022-05-27 01:38] clarfonthey commented on #97241
What would be wrong with `#[must_use]` as said linting mechanism?

[2022-05-27 01:38] inquisitivecrystal commented on #97428
I'm tagging this as `P-critical`, as discussed in the [prioritization working group](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2397428.20Infinite.20recursion.20optimized.20away.20with.20.60opt-level.3Dz.60/near/284048464).

The following reproduction is concerning:
[code]

This exits with an `illegal hardware instruction`, which is not goo

[2022-05-27 01:52] estebank commented on #97343
@fmease it predates it, [it just had worse output](https://rust.godbolt.org/z/59EGxdan7):

[code]

The issue with the clashing of the literal struct inside of `fmt` can be addressed by changing from the name to `Self`. For the type in the `impl` block, I'm less certain. As shown above, prepending `self::` won't work in any non-`mod` scope.

----

As a separate concern, I would like us to improve E

[2022-05-27 02:03] est31 commented on #97402
I've tried different gcc versions on `gcc.godbolt.org` using the dropdown and the oldest that supported `-fuse-ld=bfd` was 4.8.1 (released May 31, 2013), while the oldest that supported `-fuse-ld=lld` was 9.1 (released May 3, 2019). I couldn't find any mention of the option or of lld in the changelog, but there are public docs for the command line options (way better than what rustc has btw), for

[2022-05-27 02:32] mdx97 commented on #97417
@rustbot claim

[2022-05-27 04:20] gimbles commented on #96956
Ah, I see, I was testing on stable, my bad.

[2022-05-27 04:25] gimbles commented on #96956
Ahh, I see. I was testing on stable, my bad.

[2022-05-27 06:07] #96045 closed

[2022-05-27 06:21] RalfJung commented on #97421
Thanks!
Indeed, this optimization can cause the miscompilation [outlined in my blog post](https://www.ralfj.de/blog/2022/04/11/provenance-exposed.html).

[2022-05-27 06:24] vbmade2000 commented on #97344
It was gone after `cargo clean`.

[2022-05-27 06:26] RalfJung commented on #53020
FWIW, the `align_offset` contract is useful even for runtime code, since it enables more reliable detection of bad alignment code in sanitizers like Miri. But seeing all the confusion it caused, I agree this is not a great API.

`align_to` though I would consider less problematic. The "failure" case there *is* nicely covered by the types in the API I would say.

[2022-05-27 06:34] thomcc commented on #53020
Sort of, but this could have been done in the appropriate cases as `a.align_to::<T>().unwrap_or_else(|| (a, &[], &[])`. As it is if you need to handle that, you can't. I don't think "yes, most people will use this formulation of `unwrap_or_else` to be a good argument for it doing it for you.

As it is, it not only means that you cannot rely on the alignment occurring for non-performance cases, but

[2022-05-27 06:40] RalfJung commented on #53020
That is explicitly and exclusively the case this API was designed for. So IMO it would have been a mistake to make the API worse for that case, and expand its scope.

Anyway, that's water under the bridge. `guaranteed_eq` is different, it's more like `align_offset`, so I can see the argument in terms of an `Option<bool>`. OTOH the "guaranteed" in the same feels redundant then? It could in principl

[2022-05-27 06:43] thomcc commented on #53020
FWIW, the things I'm referring to are things like being able to rely on there being less than `size_of::<T>()` items in `some_u8s.align_to::<T>()`,  in the head. This kind of thing has been desirable every time I've used the function, and I've used it a lot. So I don't disagree this would meaningfully expand the scope.

[2022-05-27 06:50] thomcc commented on #53020
I agree on this point, although it makes it explicit that the `Option` is representing "no guarantee". It also has the benefit, of not shadowing PartialEq::eq.

[2022-05-27 07:09] RalfJung commented on #96185
FWIW, here's basically the same bug during CTFE, though for some reason it doesn't cause an ICE:
[code]
So we can have this as a testcase in rustc.

[2022-05-27 08:48] lcnr commented on #97429
it looks like we generally don't check function headers for well formedness?
[code]

[2022-05-27 08:54] lcnr commented on #97429
Ah, so we started to check function arguments for well formedness in Rust 1.4 but have never checked them for being `Sized`. While looking at this, I went to version 1.0 with `x: str` and then only tested `x: Vec<[str]>` using the 1.0 compiler :sweat_smile:

[2022-05-27 10:03] nikomatsakis commented on #97156
A few thoughts:

### How I understand the bug

Some parts of rustc do indeed assume that `T1 <: T2` and `T2 <: T1` imply `T1 == T2` (what I would call "semantic equality", though perhaps that term is overloaded). However, for many Rust types, there is no canonical type `T3` that both `T1` and `T2` can be converted to, or at least, we don't know of such a type (especially given the directions I wou

[2022-05-27 11:06] veluca93 opened #97449 "Rustc does not terminate on some inputs"
Consider the following piece of code:

[code]

On this input, `rustc` does not terminate (or at least not in a few minutes).

I'd expect the compiler to either succeed (although I don't know how that could happen here ;)) or to receive an error instead.

### Meta

`rustc --version --verbose`:
[code]
but the problem also happens on:
[code]

<details><summary>Backtrace</summary>
<p>
I couldn't get a

[2022-05-27 11:31] #97440 closed

[2022-05-27 12:13] Bryysen commented on #97319
Ok, I think I'll leave the notification for another PR :disappointed: . The reason is that in the duplicate-detection loop, we are only storing the `Discr` type as we go, and not the HIR representation of the variant. This means that (unless I'm missing something) we can't iterate backwards after we hit a duplicate with no assigned discriminant, to the last discriminant assigned explicitly.

As an

[2022-05-27 12:41] pali6 opened #97451 "Reference not updated to describe disjoint capture in closures"
The [Capture Modes](https://doc.rust-lang.org/stable/reference/types/closure.html#capture-modes) section of the Rust reference seems to predate the implementation of the [capture disjoint fields RFS](https://github.com/rust-lang/rfcs/blob/master/text/2229-capture-disjoint-fields.md) and says that composite types are always captured entirely which is no longer the case.

---
@rustbot modify labels:

[2022-05-27 12:46] #81633 closed

[2022-05-27 12:50] pali6 commented on #97451
Whoops, I guess I should have made this in https://github.com/rust-lang/reference instead. Apologies, I was not aware it's a separate repo.

[2022-05-27 13:34] lnicola commented on #61465
Spotted another example of this [here](https://github.com/georust/topojson/pull/19#issuecomment-1138681443). I have no idea what it means.

[2022-05-27 14:04] ehuss commented on #97451
Thanks for the report!  There is open work at https://github.com/rust-lang/reference/pull/1059 to add the new information. Closing as a duplicate of https://github.com/rust-lang/reference/issues/1066.

[2022-05-27 14:04] #97451 closed

[2022-05-27 14:09] pnkfelix commented on #47660
Visiting for backlog bonanza. We debated about whether this issue is providing much value as is, versus just closing it (and saying that this is tracked via all the issues with corresponding labels).

But for now we won't do that. We'll leave it open, and just update the label to reflect its status.

@rustbot label: S-tracking-impl-incomplete.

[2022-05-27 14:12] #69487 closed

[2022-05-27 14:12] #79047 closed

[2022-05-27 14:19] pnkfelix commented on #47745
Visiting for T-compiler backlog bonanza, since it was tagged as C-tracking-issue (perhaps erroneously)

 * I think at this point the disparity between codegen-units + ThinLTO vs codegen-units=1 is, to some degree, something that we are accepting as a "fact of life"
 *  We do have a problem in that people are surprising that `--release` does not produce the most optimal code possible while benchmar

[2022-05-27 14:19] Logarithmus opened #97452 "`Scrt1.o: contains a compressed section, but zlib is not available` with `rust-lld`, `*-musl` toolchain & `-C target-feature=-crt-static`"
Here's a minimal reproducible example:

[code]

I expected it to build a docker image successfully.
Instead, this happened:

[code]

For some reason, `rust-lld` and `librustc-driver-*.so` are statically linked on `musl` targets. I suspect this causes such an odd behavior.
I need `-C target-feature=-crt-static` to make `*-sys` correctly link dynamic libraries.

[2022-05-27 14:20] pnkfelix commented on #47745
@rustbot label: -C-tracking-issue

[2022-05-27 14:22] pnkfelix commented on #47745
Also, given that the original point of the issue was to determine why ThinLTO didn't seem to do a good enough job, that seems like a question that is well-suited for wg-llvm.

@rustbot label: +wg-llvm

[2022-05-27 14:26] pnkfelix commented on #48049
Visiting for backlog bonanza.

@rustbot label: S-tracking-needs-summary

[2022-05-27 14:27] pnkfelix commented on #48049
@rustbot label: S-tracking-impl-incomplete

[2022-05-27 14:37] pnkfelix commented on #48547
Visiting as part of backlog bonanza.

The topic of compiler performance will probably never be "solved", except maybe if the performance improves so much that we stop worrying about it.

In any case, I think the information captured in this issue description is super-valuable; it just should probably live somewhere else, more prominent, like the rustc-dev-guide.

So, my recommendation is that we p

[2022-05-27 14:46] pnkfelix commented on #48750
visiting for backlog bonanza.

It is not clear if there's any information here that isn't already in https://github.com/rust-lang/rustc-perf

@Mark-Simulacrum @rylev @nnethercote I'm just mentioning you in case you happen to see something in this issue's description that seems worth pulling over to the README or other pages for https://github.com/rust-lang/rustc-perf

[2022-05-27 14:46] #48750 closed

[2022-05-27 14:52] ModProg commented on #74524
I also got this problem, but I don't know if this can just be made the implicit behavior, where all separate repetitions start at the level they are defined, as I think that could break things where this is the expected behavior for some reason:
[code]

Therefore, we might need a separate syntax to either "go one repetition level up" or to "start from root":
[code]

[2022-05-27 14:54] masklinn commented on #78402
@tmandry from https://github.com/rust-lang/rust/issues/42940#issuecomment-335390296

(emphasis mine)

So when adding an explicit lifetime bound, it's *in addition* to the implicit one, not instead of. And since `'static` is the widest lifetime it has no effect. I tried the same thing when I hit the issue, with the same results, before I found #42940 :/

[2022-05-27 14:55] pnkfelix commented on #49359
Visiting for T-compiler backlog bonanza.

We're not sure this belongs in our bucket. Kicking it over to T-libs-api instead.

@rustbot label: -T-compiler +T-libs-api

[2022-05-27 15:07] pnkfelix commented on #49434
Visting for T-compiler backlog bonanza.

I'm still of the opinion that I don't want us to invest too much effort in generalizing two-phase borrows without more formal proof of its soundness.

The new T-types team is in the best spot to produce that.

So, moving this to T-types and adding S-tracking-design-concerns:
 * is the generalized behavior indeed what was intended by https://github.com/rust-

[2022-05-27 16:38] eddyb commented on #95152
Sorry, didn't see this - I think this would need to be discussed in a larger context, but maybe RFC is overkill? I genuinely don't know the appropriate venue for something like this (as I'm not that active myself).
<sup>(Btw, due to how GH notifs works, I'm more likely to see something if `@eddyb` is included)</sup>

Maybe someone from @rust-lang/lang can nominate this for further discussion?
To s

[2022-05-27 16:51] eddyb commented on #87341
I described the correct fix in https://github.com/rust-lang/rust/issues/87341#issuecomment-886083646 but didn't realize nobody picked it up last year, whoops.

[2022-05-27 17:13] elliot-midnight commented on #31436
I don't see why this has to be specific to things that return `Result`/`Option`/etc. It would be ideal if we could just introduce blocks that acted like `({ ... })` in C or `(|| { ... })()` in Rust. These would work for any value, not just things that work with `?`.

[2022-05-27 17:56] Enselic commented on #93588
I just wanted to add an observation. One of causes of the ICEs is that the typedef item corresponding to `type Expression = Self` (see https://github.com/rust-lang/rust/issues/93588#issuecomment-1138690037) also can be represented as `type Expression = T`, but ends up having the same ID. But, in this context, `T` and `Self` is equivalent! So failing on the `assert_eq!(old_item, new_item)` in `src/

[2022-05-27 18:03] estebank opened #97459 "Point at type parameter shadowing another type in E0574"
When a [type parameter shadows a type name in a pattern](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1118974f80862e77fe76fa5be67901cf), E0574 should point at the type parameter *and* check if there are other types that could be resolved with the same name and point at them as well.

It currently is
[code]

and should be
[code]

[2022-05-27 18:04] estebank commented on #97343
Filed https://github.com/rust-lang/rust/issues/97459 to improve E0574, while we're at it.

[2022-05-27 18:06] estebank commented on #97343
Thinking about it for a second more, the macro could be smart enough to avoid using type param names that shadow the underlying type, but that might be too much magic for marginal improvements, I'll let @rust-lang/libs decide on that. For myself, I think that focusing on the errors themselves would yield enough benefit already. I *personally* would like to avoid writing code that looks like that,

[2022-05-27 18:20] c410-f3r commented on #95152
@eddyb Thanks for the explanation

[2022-05-27 18:39] complexspaces commented on #97318
@inquisitivecrystal Yes, I'm fine closing this one since we were unable to extract a minimal reproduction from our codebase.

[2022-05-27 18:39] #97318 closed

[2022-05-27 18:46] tschuett commented on #72241
LLVM (https://github.com/llvm/llvm-project/blob/main/llvm-libgcc/docs/LLVMLibgcc.rst) hosts theses strange:
libgcc, libgcc_eh, libgcc_s
files.

[2022-05-27 18:58] estebank commented on #97343
I agree in principle for production code, *but* I can see how someone can end up with that code during development.

This code would start compiling. Any alternative `rustc` impl would have to learn to also do this disambiguation in their `derive(Debug)` impl.

[2022-05-27 20:11] mati865 commented on #72241
I doubt it helps in any way. Implementation details for Windows Dwarf 2 between libgcc and libunwind differ a lot and that library doesn't seem to take it into account.

[2022-05-27 21:04] fparat opened #97463 "Wrong cast of u16 to usize on aarch64"
Hello,

A cast of a u16 value returned from a C function to a usize is invalid when enabling optimization.

I tried this code (with cargo flag --release):

[code]
[code]

I expected to print the same value when casting to usize.

Instead, the value is wrong, the cast seems to "absorb" the neighboring bytes. Worse, I cannot even mask with `& 0xFFFF`!

[code]

Using black_box with nightly on the val

[2022-05-27 21:09] the8472 opened #97464 "`./x.py dist --stage 1` fails on due to rust-analyzer submodule not being checked out automatically"
Output:

[code]

My config.toml does not override any submodules-related settings. The symptoms look quite similar to #96456 but I don't have `build.vendor` set.

Commit: 56fd680cf92

[2022-05-27 21:24] fparat commented on #97463
Criterion has stable-compatible implementation of black_box: https://docs.rs/criterion/0.3.5/src/criterion/lib.rs.html#172-178

[2022-05-27 21:40] mstorsjo commented on #72241
They're not really of any value for this setup. Those files are used for letting libunwind (and compiler-rt) fill the gap where preexisting binaries on Linux have a dependency on e.g. `libgcc_s.so`, to make libunwind and compiler-rt, which provide the same symbols, provide a library interface for ABI compatibility.

[2022-05-27 23:15] clarfonthey commented on #97319
Yeah, I think it's totally reasonable to just fix the extremely obvious bug of reinterpreting the integer before tackling the larger issue of the message being weird to begin with. I mostly just wanted to add my thoughts here for a potential solution so anyone else looking to help with this has some ideas to work with.

[2022-05-27 23:36] estebank opened #97469 "`let_chains` and typo of `==` to `=` produce bad diagnostic"
I wrote code like

[code]

when I meant

[code]

and was confused by the rust-analyzer and rustc output:

[code]

[2022-05-28 00:24] nbdd0121 commented on #96304
This looks similar to #78174 (before inline const type inference is implemented). Essentially the problem is that in `rustc_typeck::collect::type_of`, `tcx.typeck(def_id).node_type(hir_id)` is used, and this returns erased lifetme.

[2022-05-28 00:55] compiler-errors commented on #97429
So technically the same thing applies for a plain `self` receiver. That is:
[code]
That's an unsized fn param, for example. Similarly you can't implement that trait for anything `?Sized`.

I wonder if we should have an implied `: Sized` supertrait if we see a receiver that requires `Sized`.

[2022-05-28 01:28] compiler-errors commented on #97200
@Milo123459, there are a few existing error notes that point to book chapters in the compiler, search for references to `doc.rust-lang.org/book` under the `compiler/` subdirectory.

I can review a PR attaches such a note to some cases. You might need to be careful about only suggesting it for items that aren't valid in patterns but used incorrectly. For example, E0532 fires if you try to use a uni

[2022-05-28 01:29] clarfonthey commented on #58278
So, I thought of a way this could work and started writing up an RFC, but then realised that most of this is kind of out of my league since I don't know nearly as much about compiler internals.

Essentially, the idea is we'd add separate `dbgprint!` and `dbgprintln!` macros which expand to:

1. `eprint!` or `eprintln!` in std-enabled, runtime contexts
2. a compiler warning in no_std, runtime conte

[2022-05-28 01:37] #81899 closed

[2022-05-28 02:00] compiler-errors commented on #96944
cc @Lireer, perhaps we need to adjust where we run some of these lints?

[2022-05-28 02:09] compiler-errors commented on #96598
Hey @brkydnc, is there a way that you could minimize this? The code you provided is missing a _ton_ of types and method signatures. I tried my best to reproduce your issue but I could not because I cannot guess what half of these methods should be taking as inputs and outputs.

[2022-05-28 02:18] CAD97 commented on #97241
The problem is that `let _ = f();` explicitly silences `#[must_use]`. In effect, `let_underscore_drop` as a lint is a strengthening of `#[must_use]` to *not* be silenced by `let _`.

[2022-05-28 02:55] estebank commented on #97343
https://github.com/rust-lang/rust/pull/97471 will also add a bit of context:

[code]

[2022-05-28 04:04] #90323 closed

[2022-05-28 06:00] kdy1 opened #97475 "rustc drops `move`-d function pointer on m1 mac, result in bus error 10 (intel mac works)"
I tried this code:

[code]

I expected to see this happen:

 - `dbg!("after map_to_js");` to be executed

Instead, this happened: *explanation*

[code]

# Steps to reproduce

https://github.com/kdy1/swc/tree/rustc-error-m1-bus-error

1. `git clone https://github.com/kdy1/swc.git -b rustc-error-m1-bus-error`
2. `cd ./swc`
3. `yarn`
4. `yarn test-swcpack`

## m1 mac

[code]

## intel mac

[code]

##

[2022-05-28 06:06] kdy1 commented on #97475
Oh... Sorry.
I updated rustc and it works

[2022-05-28 06:06] #97475 closed

[2022-05-28 06:45] #95701 closed

[2022-05-28 07:47] RalfJung opened #97477 "Constant gets evaluated despite unsatisfied where clauses"
This is the rustc side of https://github.com/rust-lang/project-const-generics/issues/37.

[2022-05-28 08:05] Milo123459 commented on #97200
Hmm, how do we control that / know when it is only invalid?

[2022-05-28 08:30] HeroicKatora commented on #97463
This appears to be an ABI issue for `u16` return values. (More investigation below). The LLVM IR expects a `i16` zeroextended to the architecture width. Of course it then removes any instruction masking bits it assumes to be 0  already.

[code]

This is probably incorrect. [EABI](https://github.com/ARM-software/abi-aa/blob/main/aapcs64/aapcs64.rst) defines returning in terms of calling `fn (T)` an

[2022-05-28 08:47] cjgillot commented on #97417
In addition: the compiler uses `guess_head_span` in many places to obtain a span which corresponds to the first line of an item.  For instance the `impl Trait for Foo` in `impl Trait for Foo { ... }`.

We could add a `head_span` field to `hir::Item`, `hir::TraitItem`, `hir::ImplItem` and `hir::ForeignItem` which is set to `sess.source_map().guess_head_span(item.span)` (lowering happens before incr

[2022-05-28 09:08] #97464 closed

[2022-05-28 10:02] brkydnc commented on #96598
Hi @compiler-errors, I'm sorry that I hadn't included a minimized version before your comment. Here is a minimized version of the code that triggers the exact same compiler bug.

[code]

I realized that this does not crash the compiler on newer versions, should I close this issue?

[2022-05-28 10:06] the8472 opened #97481 "`x.py dist` followed by `x.py build compiler/rustc` causes rustc to be rebuilt"
Observed behavior:

[code]

Expected behavior: The build should use the cached artifacts

Tested on b97bfc3b38a

[2022-05-28 12:21] gilescope opened #97484 "Broke rustc while refactoring method args in async yolo code"
This happens with the latest nightly 2022-05-27 and 2022-05-14

### Code

https://github.com/gilescope/dotsamatown/tree/broke-rustc

`fn process_extrisic` had 6 args and I was de-yoloing the code to have only 4 args when rustc got the right hump.

src/datasource.rs line 810, if I change that call to process_extrinsic to have the right number (and type) of arguments then rustc gets happy again:
[co

[2022-05-28 12:31] oli-obk commented on #58278
We can't change macro expansion depending on whether we are in a const context or not. I'd also prefer to generate the same MIR in constcontexts and outside, as oyjeteise it gets very hard to do stability checking for const things (we may accidentally stabilize things or allow things that are semver hazards).

[2022-05-28 13:57] JohnTitor commented on #79494
Triage: fixed by https://github.com/rust-lang/rust/pull/96046, marking as `E-needs-test`.

[2022-05-28 14:04] RalfJung commented on #74446
The first point, I think, pretty much means the compiler has to make no assumptions about how comparing values of that type actually works, has to always require a fallback case since exhaustiveness checking is impossible, and compiles the `match` to an `if else` chain of equality tests. That is certainly possible; this is what we can / have to apply when we do *do not* have structural equality.

[2022-05-28 14:16] RalfJung commented on #97156
Having two notions of equality (one more fine-grained than the other) is certainly possible, but needs some care to avoid accidentally using the wrong one in the wrong spot. I am not enough of a subtyping expert to know if there are any common pitfalls with this approach. It would of course be nicer, conceptually, to make subtyping antisymmetric, i.e., "a <= b /\ b <= a -> a == b".

Some algebraic

[2022-05-28 14:30] rust-highfive opened #97486 "`miri` no longer builds after rust-lang/rust#97158"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#97158, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @JakobDegen, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-05-28 15:01] Logarithmus commented on #82521
Why can't use just do `apk add libgcc` or `xbps-install libgcc`?

[2022-05-28 15:16] wader commented on #82521
@Logarithmus In my case I want to produce a binary that will run in many different docker base images. Having a binary with no external dependencies makes that very convenient. Installing `libgcc` requires that the base image is a distro with a package manger and has a `libgcc` package that is compatible. One could of course distribute the alpine libgcc somehow but that is less convenient.

[2022-05-28 15:38] CJKay opened #97487 "Mundane HRTB causes constraint satisfaction failure"
I'm trying to understand an error I'm seeing with some project code, which I've minimised down to a test case that I'm trying to get my head around.

The following two snippets build perfectly fine, as I would expect:

[code]

(https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=052cefcd91b153d1958b8452a9ddbfe7)

[code]

(https://play.rust-lang.org/?version=nightly&mode=debug&

[2022-05-28 16:03] compiler-errors commented on #97200
You should be able to check the `res` of the item?

You might need to do some experimentation -- if you can't, then feel free to just fall back to suggesting it always, but leave a FIXME.

[2022-05-28 16:05] compiler-errors commented on #96598
I think this was fixed by #97303, thanks for filing the report and thanks for creating a minimization!

[2022-05-28 16:05] #96598 closed

[2022-05-28 16:11] RalfJung commented on #97486
Tons of test suite failures when testing with mir-opt; probably because the dead stores that cause UB got removed.

[2022-05-28 16:19] VisualDevelopment opened #97490 "Nightly ICE: Using function pointer as reg argument in asm! macro causes rustc panic"
Encountered while compiling my UEFI boot-loader project.

### Issue reproduction code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-28 16:50] cameron1024 commented on #96644
@rustbot claim

[2022-05-28 16:55] Jagholin opened #97491 "ICE in playground(stable channel, 1.61.0)"
### Code

since it's in the playground, here is permalink: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=491e706c54eedac9e3d02498eeddae66

[code]

### Meta

Since it's on the playground, you can change to different versions easily. The ICE also happens in beta and nightly channels(1.63.0-nightly 2022-05-27 ebbcbfc236ced21d5e6a)
`rustc --version --verbose`:
[code]

### Err

[2022-05-28 17:41] clarfonthey commented on #58278
Isn't that how panics work today, though? Or am I misunderstanding how panics are done?

[2022-05-28 19:43] Milo123459 commented on #96452
Happening with serenity now:

<details>

<summary>Logs</summary>
[code]
</details>

[2022-05-28 20:12] compiler-errors commented on #97491
This is due to a trivially unsatisfiable bound. `dyn Trait: Sized` is always false.

[2022-05-28 20:31] mpfaff opened #97492 "Automatic dark theme doesn't work again"
**I tried this:**

- Set system theme to dark
- Set browser theme to dark or "same as system"
- Make sure doc.rust-lang.org is set to "Use system theme"

**I expected to see this happen:**

[doc.rust-lang.org](https://doc.rust-lang.org/stable/std/index.html) uses the dark theme.

**Instead, this happened:**

[doc.rust-lang.org](https://doc.rust-lang.org/stable/std/index.html) uses the light theme.

[2022-05-28 20:40] clarfonthey commented on #84605
So, seeing how I'm one of the people who's been suggesting working on this before stabilisation, I figured I should actually do something about that and try to provide the changes I've suggested.

So, specifically:

1. Add an error similar to that for `#[inline]` being applied to non-functions, where stuff like structs and consts can't be marked as `#[no_coverage]`
2. Add extra notes in warnings o

[2022-05-28 21:22] JakobDegen commented on #97486
@rustbot claim

[2022-05-28 22:08] compiler-errors commented on #97484
Minimized:

[code]

[2022-05-28 23:35] clarfonthey commented on #97241
Oh, I see now what the issue is. Yeah… that makes a lot more sense. I seem to have gotten hyperfocused on one aspect of my argument that that part, which is the main part, flew over my head.

[2022-05-28 23:44] kaya3 opened #97501 "rustc should not suggest `#![feature(core_intrinsics)]`"
Rust beginner here. I was trying something out on the Playground, turns out I didn't understand how to use `wrapping_add` correctly; but following a sequence of suggested fixes from the compiler I arrived at the below, which gives two internal compiler errors. I asked on Discord and was told it is worth reporting it here, even though this code is incorrect and uses an unstable library feature.

##

[2022-05-29 00:00] compiler-errors commented on #97501
searched nightlies: from nightly-2022-03-01 to nightly-2022-05-28
regressed nightly: nightly-2022-04-13
searched commit range: https://github.com/rust-lang/rust/compare/90ca44752a79dd414d9a0ccf7a74533a99080988...52ca603da73ae9eaddf96f77953b33ad8c47cc8e
regressed commit: https://github.com/rust-lang/rust/commit/2a83fbc42a9bb6bfdb8d3fb4ecce83fb410d7642

<details>
<summary>bisected with <a href='http

[2022-05-29 00:15] JakobDegen commented on #97501
Thanks for the report!

Before that PR, this:

[code]

just happily miscompiled, so I don't think this is a regression. I'm tempted to say that we shouldn't bother trying to fix this, and that `#![feature(core_intrinsics)]` is not "supported" in the sense that this bug wants it to be. I'm not sure what the procedure is for making a decision on this though.

[2022-05-29 00:39] kaya3 commented on #97501
I would agree with this. It probably makes sense to exclude `std::intrinsics` and `core::intrinsics` from suggested fixes, too.

[2022-05-29 02:29] jyn514 opened #97503 "Add back `help_on_error` for download-ci-llvm"
I accidentally missed this when porting it to rustbuild: https://github.com/rust-lang/rust/pull/95170/files#diff-9e25a089f077eae8c8cefe9586cc07498e64cd950be4c954cb90e4245e5f9fc3L634-L651

It would be nice to add it back.

Mentoring instructions: Add a new `help_on_error` parameter to `Builder::download_component_helper` and pass it down from `download_ci_llvm`:
https://github.com/rust-lang/rust/bl

[2022-05-29 02:31] jyn514 commented on #97503
Please also remove the dead code from bootstrap.py at the same time: https://github.com/rust-lang/rust/blob/00bb4df1fbfdcc9249f8fd5e009b0e18d30c96bf/src/bootstrap/bootstrap.py#L200-L201

[2022-05-29 02:59] #96395 closed

[2022-05-29 05:43] franklucky001 opened #97509 "The behavior of method ·`unwarp_or` and method `unwarp_or_else` of `Result` is inconsistent"
I tried this code:
[dataset](https://github.com/franklucky001/nl-readers/blob/master/src/dataset.rs) line 155

[code]

I expected to see this happen: both `unwrap_or` and `unwrap_or_else`can consistently capture errors or work ok

Instead, this happened: when parse `str` value "3" to `usize`
- panic, use method `unwarp_or`, and `map_err` seem not work either
- all it's ok, use method `unwrap_or_el

[2022-05-29 05:49] jo-so commented on #22340
Sometimes, I use a “cast function” to declare lifetimes:

[code]

[2022-05-29 05:49] scottmcm commented on #92327
It looks like the checked indexing in C++ also includes the index, as one can get a very similar result with
[code]
Now, the different defaults might make that pick a different tradeoff, but it seems like at least weak evidence that Rust including the bound in the panic message is the right thing to do.

---

That said, in looking at that I realized there's a possible LLVM-side change that could i

[2022-05-29 05:52] jyn514 opened #97510 "`x build src/tools/cargo` builds the compiler"
Cargo builds on stable. This seems wrong.

Changing `ToolRustc` to `ToolBootstrap` avoids building cargo, but gives an error when using `--stage 1` or `--stage 2` with cargo. I think in some sense that's right? Cargo should be the same regardless of the stage you use to build it.

cc @Mark-Simulacrum: I wonder if we should make this change and give a warning when using `--stage` with cargo.

@rust

[2022-05-29 05:53] binggh commented on #97503
@rustbot claim

[2022-05-29 05:56] #92205 closed

[2022-05-29 06:18] jyn514 commented on #97510
`src/tools/rust-demangler` has the same issue.

[2022-05-29 07:22] oli-obk commented on #58278
panics in CTFE use the same machinery as panics at runtime. CTFE just sees the panic functions and runs its own logic at that point. The panic functions are basically intrinsics

[2022-05-29 07:38] DesmondWillowbrook commented on #87864
What's the status of this issue?

[2022-05-29 08:11] Liamolucko commented on #87864
It's dependent on #67792.

[2022-05-29 09:21] cbeuw commented on #58713
Regarding the last "pure Rust target for Windows" bit, I wrote up a summary of things I think we need to do to remove VCRuntime dependency: https://internals.rust-lang.org/t/pre-rfc-remove-rusts-dependency-on-visual-studio-in-4-complex-steps/16708.

This does not remove our dependency on Windows SDK but it's not under Visual Studio licence so it's a lesser issue. I think removing VCRuntime does no

[2022-05-29 09:43] 101arrowz opened #97515 "Generic associated types break lifetime checks"
Here's some code with generic associated types and `impl Trait`:
[code]
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=4ed2c005596454b3692e6fc224f4d443)

Expected: `ex.example().await = "hello"`

Current behavior:
[code]

Clearly `ExImpl("hello")` has a static lifetime and yet borrowck still complains that the lifetime isn't static. Interestingly, if we inlin

[2022-05-29 09:50] SkiFire13 commented on #97509
`unwrap_or` takes a value, and that needs to be evaluated before calling the function, meanwhile `unwrap_or_else` executes the closure only when there's an error. This is the difference between them and the reason to have two methods.

What I suspect is happening in your code is that `*class2id.get(&s.label).expect(&format!("invalid label {}", &s.label))` might not be valid if `s.label.parse::<usi

[2022-05-29 10:54] franklucky001 commented on #97509
@SkiFire13 You are right to say that closures cover up operations. I made this mistake. Thank you for reminding me.

[2022-05-29 10:54] #97509 closed

[2022-05-29 11:22] freemanliu commented on #41517
@reuvenpo,
Not sure if this trick works with Fn, which is implmented by closure. For an alias below:
pub trait MyF: Fn(i32) -> i32

how to implement it for a closure? Like
fn createMyF() -> MyF {
    |i| -> 2*i
}

[2022-05-29 11:46] freemanliu commented on #41517
switched to nightly rust and trait alias works!

[2022-05-29 11:48] reuvenpo commented on #41517
@freemanliu This works in stable:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a41bef6b7ea84bad47461e3834ae7bcc

[2022-05-29 11:56] ink-splatters commented on #50655
In the face of previous comment: are there any activities regarding rustc's BOLT support, currently?
Is it available in nightly builds already? (I anticipate "no" here, so appreciate if someone could mention other relatively straightforward way to test it).

Thanks!

[2022-05-29 12:03] Kobzol commented on #50655
I have been trying to make it work for the past several months. Currently it doesn't seem to work however, since LLVM instrumented with BOLT segfaults.

[2022-05-29 12:15] zamazan4ik commented on #50655
@Kobzol do you have a related issue to this crash? E.g. any from these: https://github.com/llvm/llvm-project/issues?q=is%3Aissue+is%3Aopen+bolt

I am also interested in BOLTing the rustc :)

[2022-05-29 12:24] Kobzol commented on #50655
You can check https://github.com/rust-lang/rust/pull/94381 for more details, there are some related LLVM issues linked.

[2022-05-29 12:27] RalfJung commented on #97486
I'd like to land https://github.com/rust-lang/miri/pull/2158 before we update the in-tree Miri.

[2022-05-29 12:49] Julian-Wollersberger opened #97517 "ICE with Unreachable patterns and Incremental compilation"
### Minimized Code

[code]

### Summary

I got this ICE when compiling one of the UI test files ( [slice-pattern-const.rs](https://github.com/rust-lang/rust/blob/0f06824013761ed6829887019033f1001e68f623/src/test/ui/pattern/usefulness/slice-pattern-const.rs) ) as a normal cargo project.
How can that be? Well, compiler flags are different than in the test suit. The culprit turns out to be incrementa

[2022-05-29 12:50] wangjia184 commented on #84984
I am encountering the same issue , rust 1.61

[2022-05-29 14:12] #97319 closed

[2022-05-29 14:48] Allaman opened #97520 "cargo install in a Docker buildx image fails"
Hello,
I was trying to install [stylua](https://github.com/JohnnyMorganz/StyLua) via [crates.io](https://github.com/JohnnyMorganz/StyLua#from-cratesio) in a Docker [Multi platform](https://www.docker.com/blog/faster-multi-platform-builds-dockerfile-cross-compilation-guide/) image.
However, my build always failed when building the `linux/amd64` image while the `linux/arm64` build was succesful (and

[2022-05-29 14:51] matthiaskrgr commented on #97517
duplicate of https://github.com/rust-lang/rust/issues/83085 ?

[2022-05-29 14:56] jyn514 commented on #97520
@Allaman can you reproduce this outside of a docker container? What version of rust are you installing with rustup, 1.61?

[2022-05-29 14:57] jyn514 commented on #97520
If you could get a stack trace of the segfault, that would be helpful - I think there's a way to get it to generate a core dump but it might be easier just to run gdb on it manually.

[2022-05-29 15:10] Allaman commented on #97520
@jyn514

I can successfully run `cargo install stylua` on my Manjaro system (amd64, Kernel 5.16, cargo 1.61)

I guess, at least the second screenshot states that (just copied the install command from [rust-lang](https://www.rust-lang.org/tools/install)

hmm, I will do some research if and how this is possible from an errored docker build

I think someone should pick my provided example Dockerfile

[2022-05-29 15:27] ehuss commented on #97510
Can you say more about why you would want to change this?  I would prefer to keep cargo building with the latest tip of the compiler to ensure that there aren't any regressions. Also, the testsuite depends on some nightly-only things, which I think would be a problem if rustc weren't built.

[2022-05-29 15:46] mati865 commented on #97022
Related to https://github.com/rust-lang/rust/pull/83785

[2022-05-29 15:49] jyn514 commented on #97510
@ehuss building the compiler is slow. When I need to replicate CI failures that involve cargo, it's frustrating to have to wait for a full compiler build first, even when using `--stage 0`.

Ok - maybe we should still allow using `--stage 2` and pass that in CI, but fix `--stage 0` not to build the compiler? I think cargo is only using `feature(test)` and a few other library features, which we can

[2022-05-29 15:51] jyn514 commented on #97520
@Allaman I added some caching to your dockerfile:
[code]
When I build this locally, I can't replicate your error. So I think this is likely a docker on Mac issue and not actually related to rust itself.

[2022-05-29 16:09] #97305 closed

[2022-05-29 16:25] ibraheemdev opened #97523 "Tracking Issue for `Thread::{into_raw, from_raw}`"
Feature gate: `#![feature(thread_raw)]`

This is a tracking issue for `Thread::into_raw` and `Thread::from_raw`.

These functions allow conversions between a `Thread` and a raw pointer, which is useful in concurrent code as it allows the use of `Thread` with `AtomicPtr`.

### Public API

[code]

### Steps / History

- [ ] Implementation: #...
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

[2022-05-29 16:34] Julian-Wollersberger commented on #97517
Yes, seems to be a duplicate.

[2022-05-29 17:16] Allaman commented on #97520
@jyn514
I copied your Dockerfile and still get the same segfault error
<img width="1901" alt="error" src="https://user-images.githubusercontent.com/12184268/170882793-8475cc4a-1831-4c47-bd4c-187760385fe8.png">

However, I can confirm that a build on a Linux amd64 system works so I would second your assumption!

Thanks for your effort

[2022-05-29 18:22] kjetilkjeka commented on #97174
I did a test with the corresponding cuda c++ code compiled with clang into llvm-ir (using the command`clang-12 main_cpp2.cu -S -emit-llvm --cuda-gpu-arch=sm_52 --cuda-device-only -std=c++11`)

[code]

A similarity between the llvm-ir is that both produces the struct as a type:
 - rustc: `%Foo = type { i8, i8, i8 }`
 - clang: `%struct.foo = type { i8, i8, i8 }`

A big difference is that clang retur

[2022-05-29 19:01] clarfonthey commented on #41517
You are correct, but the suggestion would be to simply make it sugar for that, if such a feature were desired. Right now, the main intent of trait aliases is to act as bounds aliases, but for those who want proper trait aliases, this could be an alternative syntax.

[2022-05-29 19:01] clarfonthey commented on #97319
(Should I create a separate issue for my other suggestions, or would it make sense to reopen this issue until those errors are also fixed?)

[2022-05-29 20:26] Bryysen commented on #97319
It would make sense to me to make a new issue specifically for the stuff we missed from this PR? There are probably good reasons to just go through the entire `check_enum` function. Here's one of the small (possible) imrovements: the check in [this loop](https://github.com/rust-lang/rust/blob/222c5724ecc922fe67815f428c19f82c129d9386/compiler/rustc_typeck/src/check/check.rs#L1347) could probably be

[2022-05-29 20:36] sfackler commented on #97520
When targeting a non-native architecture, Docker will run commands via the Qemu userspace emulator. Unfortunately, that emulator is not perfect, and I think in particular has lots of problems running multithreaded programs properly.

It's also much slower than running native code, so you may want to try a multi-stage Docker build, starting by cross compiling in a native container and then just cop

[2022-05-29 20:39] kjetilkjeka commented on #97174
Opened a issue in llvm https://github.com/llvm/llvm-project/issues/55764

[2022-05-29 21:16] clarfonthey opened #97533 "Improve diagnostics for duplicate enum discriminants"
This is split out from the discussion in #97319.

First, the existing error for duplicate enum discriminants could be improved. The best summary of what we have now can be seen in the test added for #97319, which fixes part of it:

[code]

Which outputs:

[code]

I suggested that the last version of the error should suggest explicitly stating that the discriminant for `Last` is computed as `(Secon

[2022-05-29 21:16] clarfonthey commented on #97319
Alright, filed! Future discussion can go there.

[2022-05-29 21:17] steffahn opened #97534 "ICE with macros in macros and multiple `use ... as ...` with `--edition=2021`"
### Code

[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3f57988efa7eff6f34bc735db3e89559))

### Meta

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-29 21:19] steffahn commented on #97534
Ah, the nested macro is unnecessary! This ICEs, too
[code]

[2022-05-29 21:38] est31 commented on #44752
With #96833 merged, there has been progress on this issue recently. The number of false positives is now way down, but there's still one remaining, according to the PR's description.

[2022-05-29 21:51] mkroening opened #97535 "LLVM target's OS/ABI is lost"
When compiling for `x86_64-unknown-hermit`, the resulting binaries should have the OS/ABI (`EI_OSABI`) field in the ELF header set to Standalone (`0xff`) as per the `x86_64-unknown-hermit` LLVM target, which it did before `nightly-2022-04-26`. Now, it is set to "UNIX - System V", which I only tested on Linux.

`git-bisect` identified the introduction of synthetic object files for exported symbols

[2022-05-29 21:59] Bryysen commented on #97533
Another thing we might want to do is report all the duplicates in one error, instead of generating a new error for every collision. So currently for:
[code]
We get the errors:
[code]
It would be nice if we instead got:
[code]

[2022-05-29 23:04] JakobDegen commented on #92327
Oh, so actually this is a good point. At least in the case where we are only reading, not writing, what the output of the optimization should look like is at least clear. This is even potentially something we could do in MIR, although it's a ways off. There are some important building blocks that we're missing

[2022-05-29 23:11] nnethercote commented on #48750
I agree that closing this issue is reasonable. A lot of changes have been made to rustc-perf in the past four years, and this issue is no longer serving a useful purpose.

[2022-05-30 01:31] QuineDot commented on #90629
[The current plan as I understand it](https://github.com/rust-lang/rust/pull/72493) is for these to continue to be allowed:
[code]
But I'm unsure if that's a problem for you or not.

[2022-05-30 01:35] asquared31415 opened #97540 "`Result` that uses niches resulting in a final size of 16 bytes emits poor LLVM IR due to ABI"
The following code:
[code]
[godbolt LLVM IR](https://godbolt.org/z/b5jjv43nK)
[godbolt ASM](https://godbolt.org/z/jKM8j6hEn)

Both functions should be identical, returning the 128-bit value in RAX and RDX per the sysv-64 ABI, which is the default for the environment godbolt uses by default.

Instead, when returning the value without specifying any ABI, the compiler chooses to return the value usin

[2022-05-30 01:51] #97490 closed

[2022-05-30 01:52] thomcc commented on #97540
To be clear, it's debatable if this is a regression (if it is, it's just a performance issue), since we make no guarantee about the ABI of `extern "Rust"`.

That said, this likely applies to all 128 bit `Result` types, so could have a non-negligible impact on overall performance.

[2022-05-30 02:09] danii opened #97541 "ICE When Swapping Const Generic & Generic In Trait Method Impl"
### Code
This is really as simple as ICEs get.

[code]

### Meta

`rustc --version --verbose`:
[code]

This *also* appears to work on stable from play.rust-lang.org.
[code]

### Error output

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-30 02:33] matthiaskrgr commented on #97541
can't reproduce with latest nightly `rustc 1.63.0-nightly (ebbcbfc23 2022-05-27)`

[2022-05-30 02:38] matthiaskrgr commented on #97534
Note: this only seems to reproduce with `--edition=2021`

[2022-05-30 02:59] erikdesjardins commented on #97540
This is #26494 / #77434, reverted by #85265 / #94570

[2022-05-30 03:17] asquared31415 commented on #97540
This is interesting, because *tuples specifically* seem to have some exceptions for two usize-sized elements specifically.  `(u64, u64)` and `(u64, *mut ())` return by value, while `(u32, u32, u32, u32)`, `(u64, u32)`, and `[u32; 4]` (and *all* arrays) return with a pointer.  Additionally structs containing two usize values exactly are returned by value (both with and without `#[repr(C)]`.

The `R

[2022-05-30 03:48] Nilstrieb commented on #97449
Seems to be a duplicate of #96340

[2022-05-30 06:36] #20561 closed

[2022-05-30 06:48] lcnr commented on #90629
yeah, subtyping also impacts `TypeId`, so we won't be able to just use bivariance once `TypeId::of` is `const`. We can still allow variance by looking into the constant, e.g. for
[code]
but that requires a bunch of additional design so I will only track that in https://github.com/rust-lang/project-const-generics/issues/32

Thanks for reminding me that this issue exists :sweat_smile:

[2022-05-30 06:48] #90629 closed

[2022-05-30 06:56] mkovaxx opened #97543 "rustdoc math support"
Would be nice if rustdoc supported [math expressions in Markdown the way GitHub does](https://github.blog/2022-05-19-math-support-in-markdown/).

[2022-05-30 07:10] scottmcm opened #97544 "Tracking Issue for `extern "rust-cold"` ABI (feature `rust_cold_cc`)"
This is a tracking issue for the experimental `extern "rust-cold"` ABI.
The feature gate for the issue is `#![feature(rust_cold_cc)]`.

This allows emitting functions with [`coldcc` in LLVM](https://llvm.org/docs/LangRef.html#calling-conventions) and [`CallConv::Cold` in cranelift](https://docs.rs/cranelift-codegen/latest/cranelift_codegen/isa/enum.CallConv.html#variant.Cold).  These are more aggr

[2022-05-30 09:50] nbdd0121 commented on #97535
Hmm, the `object` crate sets `EI_OSABI` to `NONE`, which seems to be an alias of `SYSV`.

Unfortunately currently `object` crate provide no ways to set this field, so to fix this I suppose some postprocessing of the generated ELF file would be needed.

I am surprised that this doesn't show up earlier, given that exactly the same routine is used to create rmeta files. Does hermit not support dylibs

[2022-05-30 10:07] est31 commented on #97543
See #16300, #12989, #34261, and probably a bunch of more threads.

[2022-05-30 10:20] lionellloh commented on #96928
@rustbot claim

[2022-05-30 12:43] badboy opened #97549 "Higher memory usage on Rust 1.61.0 (compared to 1.60.0) leading to SIGKILL"
It seems that memory usage during compilation has increased between 1.60.0 and 1.61.0, enough to trigger an OOM kill on CircleCI when trying to build my project.

Running on a [`medium+` instance](https://circleci.com/docs/2.0/configuration-reference/#resourceclass) (3 vCPUs, 6 GB RAM).
Command used: `cargo test --all --verbose -- --nocapture`

[code]

Example run: https://app.circleci.com/pipelin

[2022-05-30 13:09] mkroening commented on #97535
Ah, yes, `object` sets the OS/ABI here: [`object.rs#L297`](https://github.com/gimli-rs/object/blob/b706982aa7543ed4da8c743804c38a34e5905042/src/write/elf/object.rs#L297).

I think there are three possibilities:
1. Add proper support for setting OS/ABI in `object::write::Object`. This would probably take a lot of effort.
2. Patch `file.write(): Vec<u8>` before passing it to `std::fs::write` in http

[2022-05-30 13:24] nbdd0121 commented on #97535
Here's how LLVM determines what OSABI to use: https://github.com/llvm/llvm-project/blob/18c1ee04de448a6a4babbaf8e5ba42866339b466/llvm/include/llvm/MC/MCELFObjectWriter.h. We could look at `sess.target.options.os` and use the same logic to determine the OSABI.

The synthetic object can be placed after real object files (it only needs to be linked before any libraries), but assuming the linker only

[2022-05-30 13:41] nikic commented on #97428
Upstream fix: https://github.com/llvm/llvm-project/commit/2e101cca690645d63ae4de1eb7b0e11d322448fd

[2022-05-30 13:49] Nils-TUD opened #97552 "LLVM IR for generic functions sometimes fails to inline post MergeFuncs with LTO"
For some reason, the compiler decides to not inline `Vec::deref` anymore if LTO is enabled, which ruins performance in my case. I tried to force the compiler to inline it via `-Znew-llvm-pass-manager=no -Cinline-threshold=N`, but even N=10000 (resulting in insane compile times and binary sizes) doesn't convince the compiler to inline the function. This behavior changed between Rust version 76d770a

[2022-05-30 14:22] nbdd0121 commented on #97552
I think this is just due to the missing `#[inline]` attribute -- I have seen multiple cases where putting `#[inline]` on a polymorphic function helps the inlining decision during optimisation.

[2022-05-30 14:32] nbdd0121 commented on #97540
Performance regression is a regression. And I think this is a very bad one.

If I replace the `Ok(0)` with `Ok(1)` then it even starts to loading from memory.

I don't think this is related to niche though; `Result<u64, core::num::NonZeroUsize>` still have the good old codegen. Somehow `Result<u64, core::ptr::NonNull<()>>`  ceased to be passed as a scalar pair, while `Result<u64, core::num::NonZer

[2022-05-30 14:38] klensy commented on #45068
https://rust.godbolt.org/z/hfG734fGf

Replacing tuple with array and iterating over it eliminates bad codegen, even with `-O`.

[2022-05-30 14:41] tmiasko commented on #97552
`#[inline]` attribute should indeed work around the issue. The problem is more about the form of the IR than about inlining decision per se.

The MergeFunc merges functions with compatible but different struct return types. When linking modules for LTO, callsites to merged functions will now include extra casts. Such calls cannot be inlined unless placed into the form expected by the inliner, but

[2022-05-30 14:53] danielhenrymantilla opened #97554 "Higher-order bound on associated type does not support type inference"
I tried this code:

[code]

I expected to see this happen: Code compiles fine, whether `T` is inferred to be `()` or explicitly turbofished

Instead, this happened: when `T` is inferred (explicitly or implicitly), an error about **the trait `for<'any> Bound` not being satisfied for `<_ as Trait<'any>>::Assoc`**:

[code]

  - ### [Demo](https://rust.godbolt.org/z/eec8Yf55f)

This happens on all ver

[2022-05-30 15:19] tmiasko commented on #97552
Try without `--emit=asm` or with `-C codegen-units=16`.

`--emit=asm` overrides the default number of codegen-units to 1, and multiple codegen units with particularly unfavorable partitioning  are essential to reproduce the issue.

[2022-05-30 16:03] asquared31415 commented on #97540
Ah, `NonZeroUsize` or `NonZeroU64` don't reproduce it, but `NonZeroU{32, 16, 8}` do return via an out ptr.

[2022-05-30 16:07] mkroening commented on #97535
All right. Thanks for the quick feedback. I'll cook something up in the coming days.

[2022-05-30 16:20] danielhenrymantilla commented on #97554
FWIW, here is the current way to work around this:

 1. Define a helper trait with a bound on the associated type:

[code]

 1. Have a blanket impl to forward the originals implementations that meet the bound to this new trait (this impl is not higher-order, hence why it dodges the issue):

[code]

 1. Wrap the original function within one which uses this "assoc-type-bounded trait alias" instead,

[2022-05-30 16:31] Allaman commented on #97520
@sfackler I think about that approach - thanks

As this looks like a Docker Desktop on Mac issue I would close this issue

[2022-05-30 16:31] #97520 closed

[2022-05-30 17:01] thomcc commented on #97552
I wonder if this is related at all to the issue mentioned by @nikic here https://github.com/rust-lang/rust/pull/96624#issuecomment-1114658742 (which motivated that PR). This is different in that it happens on LTO, though, although I think the builds I was doing where that came up may have had LTO as well...

[2022-05-30 17:18] nbdd0121 commented on #97540
Okay, I located the reason. `Abi::ScalarPair` is only produced if all variant' data part are scalar and have the same `abi::Primitive`. `NonZeroUsize` and `NonZeroU64` are all `Primitive::Int(Integer::I64, false)` which matches that of `u64`, so it's treated as a scalar pair. However `NonZeroU{32,16,8}` have different integer size, and `NonNull` have `Primitive::Pointer` which never matches with a

[2022-05-30 17:35] lz1998 opened #97556 "rustc panic"
### Code

[code]

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-05-30 17:37] Urgau commented on #97540
@nbdd0121 Look at https://github.com/rust-lang/rust/pull/93564 which was a more targeted fix. Maybe it could be reopened ?

[2022-05-30 17:39] #71363 closed

[2022-05-30 17:39] #97503 closed

[2022-05-30 17:39] #97163 closed

[2022-05-30 17:53] tmiasko commented on #97552
The minimal LLVM reproducer (opt is able to inline the first call in h, but not the second one, for reasons described in https://github.com/rust-lang/rust/issues/97552#issuecomment-1141235702):

[code]

[2022-05-30 18:35] lionellloh commented on #96928
Hey @jyn514, thanks for offering to mentor!

Some questions -

What is the difference between `check-pass` and `run-pass`?

What is the best way to repro this?

[2022-05-30 18:43] jyn514 commented on #96928
@lionellloh "the difference between cargo check and cargo run" - the first just runs `rustc --emit metadata` while the second actually generates a binary and runs it. The reason it causes trouble here is because save-analysis uses --out-dir to determine where to put the generated JSON file, and defaults to the working directory if it isn't passed.

Change any existing UI test with -Z save-analysis

[2022-05-30 18:49] nbdd0121 commented on #97540
Thanks for the pointer. That PR looks like a better approach to me. I think the compile-time perf regression in that PR results from excessive `homogeneous_aggregate` calls when the type is smaller or equal to pointer size (which includes almost all primitives!). I suspect that if you change the nesting of ifs, so that it's only called on types of size between 1usize and 2usize, then the perf regr

[2022-05-30 18:53] compiler-errors commented on #97556
hi @lz1998, can you see if this still reproduces on an up-to-date nightly?

[2022-05-30 18:54] lz1998 commented on #97556
No, the latest nightly version works well.

[2022-05-30 18:55] compiler-errors commented on #97556
If the latest nightly version works, then this was fixed. I will close the issue, thanks for the report :smile:

[2022-05-30 18:55] #97556 closed

[2022-05-30 19:32] Urgau commented on #97540
@nbdd0121 I've reopened https://github.com/rust-lang/rust/pull/93564 as https://github.com/rust-lang/rust/pull/97559. I've confirmed that with the PR the regression is fixed and hopefully the perf regression of the PR is also fixed.

[2022-05-30 20:09] lionellloh commented on #96928
@jyn514

Qq regarding dev efficiency:
I managed to repro the issue by running `./x.py test src/test/ui/const-generics/const-argument-non-static-lifetime.rs` and changing `check-pass` to be `run-pass`. I didn't figure how I should pass the `-Z` flag and arg when invoking x.py.

The command ran for 10 minutes. I deleted the `save-analysis-temp` folder after the repro, made my patch and tried to run

[2022-05-30 21:21] buzmeg commented on #48594
How can I help keep this moving?  This doesn't seem to be stuck on technical issues.

My use case is when attempting to rewrite embedded C code.  The combination of lack of goto and lack of do/while (forcing nested loop/break blocks) makes porting device driver embedded C code to Rust *really* nasty (generally necessitating a full restructure and all the attendant bugs).

Given that the Rust langu

[2022-05-30 21:41] GuillaumeGomez commented on #97543
You need to use external tools to do so. Thanks @est31 for the links! :)

Closing then.

[2022-05-30 21:41] #97543 closed

[2022-05-30 21:42] GuillaumeGomez commented on #97492
You say you did on docs.rs:

And then mention doc.rust-lang.org. So just to be sure: you have done everything you said on only one website, right?

[2022-05-30 21:49] jyn514 commented on #96928
@lionellloh `touch src/test/ui/const-generics/const-argument-non-static-lifetime.rs` should work and be quite fast.

[2022-05-30 21:49] jyn514 commented on #96928
I think there's also a force-rerun flag or something like that.

[2022-05-30 22:30] rust-highfive opened #97563 "`miri` no longer builds after rust-lang/rust#97025"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#97025, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @ouz-a, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-05-30 22:40] lionellloh commented on #96928
Pardon the noob qns again -

Here's my latest attempt, posting because I am not understanding the behaviour I am seeing.

[code]

I ran the compiled the test again at 15:32

I can see that the json file is freshly written:
[code]
But at the same time I also see that the json is `save-analysis-temp` is freshly written:
[code]
When I sub `&self.config.build_base` with an arbitrary string, it worked

[2022-05-30 22:41] JakobDegen opened #97564 "Check for stale files in `src/test/mir-opt`"
This folder currently contains a number of `inst_combine_deref*.diff` files that are completely unused - the associated `.rs` file that generated them was removed all the way back in #81101 . In addition to deleting these files, we should also add a check to compiletest that makes sure that the `mir-opt` folder contains no files that do not belong to any tests (with the exception of the readme).

[2022-05-30 22:42] JakobDegen commented on #97564
@rustbot labels +C-enhancement +A-test-suite +A-mir-opt

[2022-05-30 22:43] JakobDegen commented on #97564
@rustbot label +C-enhancement +A-test-suite +A-mir-opt

[2022-05-30 22:44] JakobDegen commented on #97564
@rustbot label +C-enhancement +A-test-suite +A-mir-opt

[2022-05-30 22:46] JakobDegen commented on #97564
I thought I was getting the command wrong, maybe the bot is down?

[2022-05-30 23:00] compiler-errors commented on #97564
compiler-errorsbot added them for you because rustbot is on holiday :stuck_out_tongue_closed_eyes:

[2022-05-30 23:01] JakobDegen commented on #97564
:rofl: :heart: thank you!

[2022-05-30 23:05] QuineDot commented on #58078
I think it's more that trait resolution doesn't fall back to consider implementations for types you could coerce to  (no function *items* implement your trait.)  It's not specific to function items and function pointers;  [compare here, where no arrays implement the trait.](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a0e7ccc22e67bd527886f18f11613126)

For the function i

[2022-05-30 23:09] HeroicKatora commented on #97463
cc: @jonas-schievink the bot seems to not assigning anyone, could you verify the tags: A-codegen, I-unsound?

[2022-05-30 23:16] nbdd0121 opened #97568 "Personality function not required in no_std code that uses `C_unwind` FFI."
Discovered when thinking about #97235. Exactly the same snippet of code:
[code]

Compiling the above in `-C panic=abort` requires a personality function to unwind. The current criteria for determining whether a personality function is needed just looks at the panic strategy, so not requiring `rust_eh_personality`, causing a linking error.

@rustbot label: F-c_unwind requires-nightly C-bug

[2022-05-30 23:17] jgarvin commented on #48594
@buzmeg  I'm confused why lack of do/while would require a lot of restructuring? `do { ... } while(cond)` -> ` loop { ...; if(!cond) break; }` doesn't look like it introduces any new nesting.

[2022-05-30 23:18] lionellloh commented on #96928
Why do you say it was not passed? It seems like `path` is passed all the time? I think the symptom might be manifesting for a different reason.

[2022-05-30 23:28] compiler-errors commented on #97554
I think this is #88460

[2022-05-30 23:49] WaffleLapkin commented on #48594
fyi `do { ... } while(cond)` can also be written as `while { ...; cond } {}` (though this does not allow to use `break` so :shrug:)

[2022-05-30 23:55] Coder-256 commented on #48594
Not sure about their exact use case, but one issue with that method is it doesn't work properly with `continue`, though it's still [fairly trivial to accomplish with a macro](https://users.rust-lang.org/t/do-while-in-rust-language/39361/5) (note: I'd replace `first` in that example with something less likely to overlap with existing variables, e.g. `__do_loop_first`)

@buzmeg In the meantime until

[2022-05-31 00:11] jyn514 commented on #96928
@lionellloh path is passed all the time, but sometimes passed with -o instead of --out-dir. You can confirm this is the issue by running your `x test` command with -v, adding an --out-dir argument, and making sure that the JSON file is no longer generated in the current directory.

[2022-05-31 00:18] WaffleLapkin commented on #48594
@Coder-256 rust macros are (somewhat) hygienic, so `first` can't actually overlap with anything. See [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=16f6d8996e673a48d6306eafc2818a3f). The only thing that I know of that can break is [`const`](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ae6b5fa73390dc4905dd14c87c7a3a41), but constants

[2022-05-31 00:30] ehuss commented on #97564
See also #77498.

[2022-05-31 00:57] buzmeg commented on #48594
This is an effect of two interacting issues

If your C-code is

[code]

That winds up:
[code]

This is one of the few instances where Rust introduces mechanisms for a bug that doesn't exist in C.

It's not possible to execute code after the conditional test in C because of the structure of do/while while it's quite possible in the Rust replacement idiom.  In addition, the C code has no "break" sta

[2022-05-31 01:14] dtolnay commented on #82223
@rfcbot fcp cancel
Cancelling because I am not anticipating sufficient traction behind this FCP at this point.

[2022-05-31 01:45] lionellloh commented on #96928
@jyn514 So I think the code block is run twice, once matching on `TargetLocation::ThisFile(path)` and once matching on `TargetLocation::ThisDirectory(path)`. The tricky bit is that in the first match. If we set it using `rustc.arg("--out-dir").arg(&self.config.build_base)` the binary also gets directed to somewhere else, and cannot be found.

If we set it using `rustc.arg("--out-dir").arg(path)`,

[2022-05-31 01:52] lionellloh commented on #96928
Ok I think I got it, let me submit a PR for review.

[2022-05-31 02:21] jackh726 commented on #97554
This is #89196. Closing as duplicate.

[2022-05-31 02:21] #97554 closed

[2022-05-31 03:38] mpfaff commented on #97492
Apologies, that was supposed to say doc.rust-lang.org. And more specifically, both https://doc.rust-lang.org/stable/std/ and https://doc.rust-lang.org/nightly/std/.

[2022-05-31 05:01] Corfucinas commented on #94780
This would be a useful method when using `MPSC` and appending to different vectors depending on the object.

[2022-05-31 06:33] luqmana commented on #96464
I think this might be a mis-merge in #94402 which was reverting #92419. The failing test wasn't modified in the original but it was in the [revert](https://github.com/rust-lang/rust/pull/94402/files#diff-a0e7ea0df143c164693bc56b2bce4233777fe52d2e5f989326e1765c4a90f90c). (cc @erikdesjardins)

As for why it did fail in CI but does locally: the test is marked with:
[code]

and far as I can tell most

[2022-05-31 07:53] Thomasdezeeuw commented on #58078
This doesn't work once the arguments or return types are also generic due to "unused generic" errors. Otherwise it would be my preferred implementation as well.

[2022-05-31 08:12] Patryk27 opened #97576 "Compiler suggests adding illegal `where` bounds"
Hi! :wave:

Given the following code:

[code]
(https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=248f8c6fd510d2abf74cb29e90ad8588)

The current output (stable / beta / nightly) is:

[code]

The issue is that I've used `bar.into()` instead of `bar.to_string()` -- and while the compiler suggesting to replace `.into()` with `.to_string()` would be pretty cool, at the very least

[2022-05-31 09:01] digama0 commented on #48594
@buzmeg Why not rename `'exittorecovery` to `'cleanup`? You should just think of `break 'cleanup` as being the rust way to write `goto cleanup` in the C code.

As for flipping the if statements, it's true that you could put code after the test but that's not necessarily a bug, the rust code is just more general about how you want to structure the loop exit test. Obviously if you want behavior equi

[2022-05-31 09:04] GuillaumeGomez commented on #97492
So a few possibilities:

 * I'm not sure exactly how web browsers handle system theme change. Did you restart your web browser? (I think you did but just in case...)
 * Can you show us what your local-storage looks like? You can see it in your dev-tools console in the "storage" tab. If you changed the theme setting, it doesn't take into account the environment anymore.

[2022-05-31 09:34] #41263 closed

[2022-05-31 10:38] WaffleLapkin commented on #97362
I'd like to work on implementing this 👀

@rustbot claim

[2022-05-31 11:11] m-ou-se commented on #93203
NLL is about to be stabilized: https://github.com/rust-lang/rust/pull/95565#issuecomment-1141228104

@rfcbot resolve borrow function arg ref example

[2022-05-31 12:01] Stargateur commented on #82223
@jplatte I also think we need a `Either` structure in std, we already have [`ControlFlow`](https://doc.rust-lang.org/stable/std/ops/enum.ControlFlow.html) where I proposed a similar feature for it, https://github.com/rust-lang/rust/issues/84277#issuecomment-1002434997

I also believe such feature on Result is error prone for user, the need to be very explicit on the name show it.

[2022-05-31 12:58] Diegovsky commented on #21102
Reminder: if gdb says it does not exist, you're probably using a stripped build

[2022-05-31 13:12] apiraino commented on #97463
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2397463.20Wrong.20cast.20of.20u16.20to.20usize.20on.20aarch64) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2022-05-31 13:36] HindrikStegenga commented on #92698
So I ran into this issue, but at the same time I managed to find a rather nifty workaround.
Basically it works if you use an anonymous closure and directly invoke it. (In my case I needed the length of the outputted string)
[code]
For me this works and compiles on stable 1.61.

[2022-05-31 14:22] liuw commented on #97549
Are you sure this is related to Cloud Hypervisor? All I see is a project called `glean` in the log.

[2022-05-31 14:38] sunfishcode commented on #87074
The above phrase isn't intended to be a uniqueness requirement; it's intended to be about types being able to maintain uniqueness *if* they want to. If safe Rust permitted things like `File::from_raw_fd(23)`, it would grant access to file descriptor 23 regardless of how it's being used within the process.

[2022-05-31 15:02] sander2 opened #97584 "Ambiguous import not detected"
I tried this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0c43489bbcbd12ba1144780a45f784be)):

[code]

I expected to see this happen: an error like `error[E0659]: SOME_VALUE is ambiguous`

Instead, this happened: the code compiles and runs to completion.

If you put the `use a::*` _after_ the `mod a`, the expected error is thrown.

### Meta
This happe

[2022-05-31 16:16] BartMassey commented on #21102
Is there something wrong with @andrewrk's suggestion that `rust_panic` should always end by invoking `abort()`? It's what I would have expected given my experience with using other languages (and implementing their `gdb` support). I want this even if `gdb` is active, so that I can get a core dump to examine later…

[2022-05-31 16:42] xhalo32 opened #97589 "rustc segmentation fault with circular module"
The rust compiler segfaults when using the [path attribute](https://doc.rust-lang.org/reference/items/modules.html#the-path-attribute) `#[path = "this_file.rs"]` pointing to itself with an inner line documentation comment in the file.

## Steps to reproduce

Install this version of rust on linux:

[code]

Create the following file structure:

`lib.rs`:
[code]

`recursive.rs`:
[code]

And compiling

[2022-05-31 17:26] joshtriplett commented on #97122
@sunfishcode Should OwnedSocket have the same optimization applied?

[2022-05-31 17:38] sunfishcode commented on #97122
@joshtriplett Yes, [it should](https://docs.microsoft.com/en-us/windows/win32/winsock/socket-data-type-2), and [it does](https://github.com/rust-lang/rust/blob/master/library/std/src/os/windows/io/socket.rs#L61).

[2022-05-31 17:46] Nilstrieb commented on #97589
I could reproduce this on a recent nightly ```
rustc 1.63.0-nightly (ebbcbfc23 2022-05-27)
binary: rustc
commit-hash: ebbcbfc236ced21d5e6a92269edb704692ff26b8
commit-date: 2022-05-27
host: x86_64-unknown-linux-gnu
release: 1.63.0-nightly
LLVM version: 14.0.4
[code]

[2022-05-31 17:52] maxammann commented on #25041
I tried to implement a pipeline with steps. Steps implement the Processable trait. I failed to implement that trait directly for `Fn(I, Context) -> O`.

I suppose this is not possible, right now, correct?

[code]

[2022-05-31 18:01] piegamesde commented on #92698
Yes, this looks pretty much like the same hack fern is using with its `FormatCallback`.

[2022-05-31 18:07] Nilstrieb commented on #96340
Bisecting this examples shows that it started hanging in `1.7.0`. Before, these lifetime where bounds were not possible and failed to compile. So this has been an issue forever.

[2022-05-31 21:01] spastorino commented on #96644
@cameron1024 I ended sending a PR for this because as I've said, I had some things already done. Please feel free to ping us on Zulip and we can find more tasks for you to work on if you want :heart:.

[2022-05-31 22:14] Urgau opened #97601 "Tracking Issue for map_many_mut"
Feature gate: `#![feature(map_many_mut)]`

This is a tracking issue for the `HashMap::get_many{,_unchecked}_mut` functions.

Attempts to get mutable references to `N` values in the map at once.

### Public API

[code]

### Steps / History

- [x] Implementation: https://github.com/rust-lang/rust/pull/94647 and https://github.com/rust-lang/hashbrown/pull/562
- [x] Final comment period (FCP) https://

[2022-05-31 22:15] A1-Triard opened #97602 "Using `-Z build-std-features=panic_immediate_abort` on Linux results in invalid executable."
Cross-compiling windows executable on Linux ends with invalid executable if `-Z build-std-features=panic_immediate_abort` feature is used.

I have reproduced it with GNU toolchain, and with Wine'd MSVC toolchain. Also I have reproduced it while compiling x32 and x64 targets. And it can be reproduced with `no_std` and ordinary project. But it seems it is not reproducible when windows is a compilati

[2022-05-31 22:27] Stargateur commented on #97549
try reduce parallel job `cargo test --all --verbose -j 1 -- --nocapture`

[2022-05-31 22:28] cameron1024 commented on #96644
Ah no problem, been a busy few days so I just got round to this. I'm pretty new to zulip, is there a particular place to ask?

[2022-05-31 23:26] erikdesjardins commented on #96464
Those changes were deliberate, since reverting #92419 introduced additional panics which made the test fail locally.

Before #92419, I believe the test passed by accident--the string `panic` did not occur in the function because it didn't panic itself, it just called a function that panicked (making the test vacuous).

It looks like the test has now returned to that original state. Less inlining i

[2022-05-31 23:41] luqmana commented on #96464
Ah ok, thanks for clarifying!

[2022-05-31 23:41] clarfonthey commented on #64797
One particular pain point I think the above still doesn't address: this currently doesn't work inside macros, since it receives meta variables unresolved. Not sure whether you'd classify this as a complete blocker of stabilisation or not.

[2022-06-01 00:05] BoxyUwU commented on #97541
#96717 fixed this

[2022-06-01 00:12] Diegovsky commented on #21102
I agree with you, it should be default behaviour. I wonder if there is a reason for not using. I read somewhere Windows uses "fastfail" to panic, so it could be something to do with performance.

[2022-06-01 00:14] asomers opened #97606 "Invalid PartialEq and Hash implementation for unions"
`union semun`, in unix/bsd/apple/mod.rs, has three fields.  On LP64, these fields will have unequal sizes.  But its `PartialEq` and `Hash` implementations only check the smallest field.  So the following code should fail (untested, because I don't have access to a Mac):

[code]

A similar situation holds on Linux for `__c_anonymous_ptrace_syscall_info_data`.  That union has three members of differ

[2022-06-01 00:30] SNCPlay42 commented on #97584
This [fails to compile](https://rust.godbolt.org/z/1WY7jMjEa) (after adapting to 2015 edition) on 1.14 and compiles on 1.15 and later.

1.15 [made changes](https://github.com/rust-lang/rust/blob/master/RELEASES.md#version-1150-2017-02-02) to the name resolution rules as described in [RFC 1560](https://github.com/rust-lang/rfcs/blob/master/text/1560-name-resolution.md). The relevant part seems to b

[2022-06-01 00:48] TaKO8Ki commented on #89590
@compiler-errors I'm working on this issue. However, I have some issues I'm not working on, so I will unassign me from them.

[2022-06-01 00:59] Mark-Simulacrum opened #97607 "regression: parameter type may not live long enough"
See https://crater-reports.s3.amazonaws.com/beta-1.62-1/beta-2022-05-20/gh/FSMaxB.rust-genealogy/log.txt:

[code]

This is a 1.62 regression, it seems, based on Crater. At the very least, it's a diagnostics issue that we're suggesting adding an already existing lifetime bound.

[2022-06-01 01:00] compiler-errors commented on #89590
Okay, just be aware that holding onto many issues for months discourages others from working on things.

[2022-06-01 01:06] Mark-Simulacrum opened #97608 "regression: proc-macro to_string change for "invisible" delimiters"
https://crater-reports.s3.amazonaws.com/beta-1.62-1/beta-2022-05-20/gh/Patryk27.lxd-snapper/log.txt

Seems to be due to an older(?) version of indoc, possibly already fixed, but wanted to file in case there was an unintentional change on our end.

cc @dtolnay (indoc-impl author, I believe)

https://github.com/dtolnay/indoc/commit/29e8c968ca8a78beb369c25146637f1adc754132 may have been related to th

[2022-06-01 01:11] Mark-Simulacrum commented on #97324
* https://github.com/rust-lang/rust/issues/97607
* https://github.com/rust-lang/rust/issues/97608

Didn't yet go through the test-failed regressions; those usually have pretty low signal-to-noise ratio though and there are also a lot of them to triage.

[2022-06-01 01:28] nnethercote commented on #97608
cc @petrochenkov, who knows more about all this stuff than I do.

[2022-06-01 03:26] jsha opened #97610 "rustdoc: Clone's implementations on CString is considered foreign"
On https://doc.rust-lang.org/nightly/std/clone/trait.Clone.html#foreign-impls, CString, FromBytesUntilNulError, FromBytesWithNulError, FromVecWithNulError, IntoStringError, and NulError are considered "Implementations on Foreign Types", even though each of those types exists in std.

On stable (https://doc.rust-lang.org/stable/std/clone/trait.Clone.html#foreign-impls), those types are not consider

[2022-06-01 04:44] compiler-errors commented on #97607
## Bisected
searched nightlies: from nightly-2022-04-01 to nightly-2022-05-31
regressed nightly: nightly-2022-05-14
searched commit range: https://github.com/rust-lang/rust/compare/a5ad0d29a401007b51715852cc702e441ac2248c...f1f721e64014863f41c1a386b04af04c2de25321
regressed commit: https://github.com/rust-lang/rust/commit/a7d6408b05912396618dfdcc9cc713d3ace2aa9a

<details>
<summary>bisected with <

[2022-06-01 05:00] compiler-errors commented on #97607
The issue is that `for<'a> U: 'a` bound is causing the new wf check introduced in #96899 to fail.

Regarding the diagnostics being weird, the issue is probably because we don't handle the case where a higher-ranked lifetime doesn't outlive itself. We just see a borrowck error, see that it's due to the binder's `'a` lifetime, and suggest adding it. Not sure if that needs fixed, personally think it'

[2022-06-01 07:40] Veetaha opened #97615 "Rustdoc doesn't play well with `use ... as _` syntax"
I tried this code:

[code]

I expected to see this happen: there should be a way to view all the items reexported anonymously in docs. Maybe even just expose them by original names in docs.

Instead, this happened:

The traits are visible in rustodoc as a single `prelude::_`

<img width="972" alt="image" src="https://user-images.githubusercontent.com/36276403/171352742-2cdab240-c352-4c78-b23b-152d

[2022-06-01 09:08] GuillaumeGomez commented on #97615
The problem is that we "inline" them. The solution could be to keep the original name (and it would be a link to the original location), but if the item is originally in a private module, then there is no link generated and we would end up with `use Trait as Whatever` where you cannot get information on the item at all (since we wouldn't generate a page for `Whatever` or for `Trait`).

I'm not rea

[2022-06-01 09:40] kyegupov commented on #62924
Sorry for barging in, but I think this is a tremendously useful and obvious feature that should have been there from the day one. What can we do to accelerate its stabilization?

[2022-06-01 09:59] Nemo157 commented on #97615
Is there any usecase for an anonymous reexport of a privately scoped trait? Seems like an edge case we don't need to really support.

[2022-06-01 10:04] apiraino commented on #97608
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2397608.20regression.3A.20proc-macro.20tokenization.20change.20for.20liter.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-06-01 10:07] Edgeworth commented on #96645
This is now happening constantly for me (almost every build). Unfortunately, I don't have a repro. It does seem to be somehow related to rust-analyzer though (very low confidence for this).

[2022-06-01 11:46] dave-tucker opened #97618 "E0425: Don't recommend the use of intrinsics first"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=dc1180286b0a5d9e0f1dbac02ccdb7b3

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

In cases where intrinsics have been stabilised in `core`|`std` it would be useful to suggest these to users first.
Especially as using intrinsics generates another `rustc` error that

[2022-06-01 12:03] DzenanJupic commented on #96645
I don't use rust-analyzer, so it's probably not the origin. Though I didn't have any more problems so far.

[2022-06-01 12:08] Demindiro commented on #96645
I also had this happen though I haven't been able to reproduce it either. As far as I can tell it's related to async functions since I haven't seen it occur in any other case. Specifying lifetime bounds manually seems to help though.

[2022-06-01 12:12] Alexendoo commented on #97226
Fixed by #97431

[2022-06-01 12:48] AlphaCodingPilot opened #97619 "clippy bug report"
### This is the output of the 'cargo clippy --fix' command:

cargo clippy --fix
    Checking equation-solver v0.1.0
warning: failed to automatically apply fixes suggested by rustc to crate `equation_solver`

after fixes were automatically applied the compiler reported errors within these files:

  * src\lib.rs

This likely indicates a bug in either rustc or cargo itself,
and we would appreciate a

[2022-06-01 17:25] #71546 closed

[2022-06-01 17:38] estebank commented on #57374
@jackh726 yes, a separate PR is always in the table for these kind of fixes :)

[2022-06-01 17:45] compiler-errors commented on #97618
I'd be satisfied if we filtered out intrinsics altogether except for when the `core_intrinsics` feature was enabled.

[2022-06-01 17:49] nikomatsakis commented on #54503
We reviewed this as part of our @rust-lang/lang team "backlog bonanza" meeting today. Now that @xFrednet's PR is landed, it seems like this is ready for stabilization? (Except that we don't have any docs...)

If so, we'd love to see somebody prepare a [stabilization report](https://rustc-dev-guide.rust-lang.org/stabilization_guide.html#write-a-stabilization-report) and [open a PR to stabilize](htt

[2022-06-01 17:49] nikomatsakis commented on #54503
On a personal note, I'm excited to use this :)

[2022-06-01 17:52] Mark-Simulacrum commented on #54722
Lang briefly discussed this in backlog bonanza today and we'd like to see a summary of the outstanding blockers or expectations here.

I think the thread so far has pointed out:

* def_site/macros 2.0 hygiene
* Do we actually need quote in the in-tree proc_macro?

But it'd be useful to get a summary from folks more familiar on the blockers for stabilization (or removal, if we feel that's better).

[2022-06-01 17:53] nikomatsakis commented on #54724
Reviewed this in our @rust-lang/lang backlog bonanza. We are tagging this as "needs summary" because, while we'd love to see this stabilized, most of us weren't really sure what "def-site" was supposed to mean -- i.e., this needs more than new tests, we need some kind of docs about the intended effect that can be reviewed.

[2022-06-01 17:55] xFrednet commented on #54503
The implementation currently still has an ICE #95540 and doesn't catch some lint emissions in some very specific cases (There is no issue for that). Both of these items are still on my todo list, but I sadly didn't have the time to address them. So, it's sadly not quite ready yet.

Once those issues are solved, I wanted to write the documentation and propose stabilizing it. I've done some testing

[2022-06-01 18:44] halvko opened #97628 "E0364: Bad output for macros/no explanation of `#[macro_export]`"
Given the following code: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=2a98ea84efcb2145200e42a22262750d)

[code]

The current output is:

[code]

Ideally the output should probably look like:

[code]

This error does not help explain how to fix it. In addition to explaining `#[macro_export]`,  `pub(crate) use foo;` could also be shown, so the user can decide

[2022-06-01 19:35] joshtriplett commented on #75638
It looks like the corresponding PR was closed, so closing this tracking issue.

[2022-06-01 19:41] joshtriplett commented on #67521
It looks like this only has `padding_needed_for` left? Can that be stabilized?

[2022-06-01 19:42] jackh726 commented on #57374
Imo this isn't the right issue for that. I think this should be purely to remove any "bad higher ranked subtype"-like errors. As it stands, nearly all have been removed and *match* non-NLL behavior. A separate issue could be opened to *improve* that error in NLL (unlikely to be relevant for non-NLL, since it'll likely get stabilized soon).

[2022-06-01 19:45] afetisov commented on #54726
I don't know whether this was already implicitly finalized, but I haven't seen two other possibilities suggested;

1. Never resolve inner attributes within inner modules. All inner attributes must always be used with a fully qualified path. Perhaps the inner attributes wouldn't be common enough to make it onerous?
2. Introduce a separate "import inner attribute at crate level" syntax. For example,

[2022-06-01 19:45] joshtriplett commented on #61415
@oli-obk @rust-lang/wg-const-eval Is there any potential future change on the horizon that would allow handling "either T: Default or N == 0" without needing full overlapping implementations?

[2022-06-01 19:53] oli-obk commented on #61415
Not that I know of. Though I would love to be able to specify patterns like in matches to restrict const generic impls to something that we already know how to check for overlap (or lack thereof)

[2022-06-01 20:06] #95729 closed

[2022-06-01 20:36] dannymcgee commented on #54725
I had a use case a while back that really would have benefitted from knowing the path to the source file where the macro invocation occurred. I was trying to write something like a custom module resolver — basically, I wanted to be able to "import" a source file written in some other language (like a scripting or templating language), and the macro would facilitate transpiling the import to valid

[2022-06-01 20:41] john01dav commented on #54725
Seconded. I was going to write a similar reply myself -- I had a use case that was almost exactly the same, where I wanted to allow something resembling including a module that's written in another language. This isn't the only use case for a feature like this though. Anything that includes things from the file system can benefit, such as [include_dir](https://crates.io/crates/include_dir).

[2022-06-01 21:22] ChayimFriedman2 commented on #81268
Even after destructuring assignments were stabilized, [it still says that](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=f0dac69c1901f59fe09298f8425fdc2e):
[code]
In addition to the correct error
[code]
Somewhat strangely, [it does work if I enable the feature](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=0bbce27f10c5bfa96911f82b2bd62fc8).

[2022-06-01 21:26] yaahc commented on #49355
we reviewed this issue during todays libs-api meeting and determined that this tracking issue is effectively serving the same role as a label, and that we'd prefer to use a label for this, so I've gone ahead and introduced the `A-stack-probe` label and applied it to all the referenced issues

[2022-06-01 21:26] #49355 closed

[2022-06-01 21:29] yaahc commented on #82725
It looks like the PR for this tracking issue never made it into `master` since it ran into some perf issues, so for now we're going to close this tracking issue. Anyone interested in reviving this proposal should file a PR, work through the issues, and then file a tracking issue once those have been resolved.

[2022-06-01 21:29] #82725 closed

[2022-06-01 22:19] mkroening commented on #97535
I opened https://github.com/rust-lang/rust/pull/97633, but first the necessary changes in `object` have to be released.

[2022-06-01 23:11] #97602 closed

[2022-06-01 23:40] mcscholtz opened #97634 "Casting an enum with const generic causes compiler panic"
Hi all,

I ran into the following error as shown in the example below. The error also happened with version 1.61 stable.

If the cast is on the same line it seems to panic.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-02 00:55] #94937 closed

[2022-06-02 00:58] bigdogs commented on #96486
I'v had same issue on i686-pc-windows-msvc.    `lto` + `build-std` will cause this issue.

[2022-06-02 01:23] nnethercote commented on #97608
#97636 is open for the reversion.

[2022-06-02 03:26] JohnScience commented on #54341
@emilio Assuming you're [Aaron 007](https://medium.com/@Aaron-007?source=post_page-----183e432c32db--------------------------------), I invite you to make some of your work publicly available at [Cross-lang and cross-platform project Github repo](https://github.com/cross-lang-and-cross-platform/cross-lang-and-cross-platform) or notify us about new publications through the [Discord server of the wo

[2022-06-02 04:03] rgwood commented on #96980
FYI, [Nushell](https://github.com/nushell/nushell) has run into this in the wild: https://github.com/nushell/nushell/issues/4975

We'll work around it by falling back to `FindFirstFileW` if `fs::metadata` fails. Would be nice if `fs::metadata` could do something similar automatically, but I appreciate that there's a high bar for backwards compatibility and performance here.

[2022-06-02 05:05] hoodmane commented on #85821
Reported this on Emscripten:
https://github.com/emscripten-core/emscripten/issues/17128

[2022-06-02 05:22] ChrisDenton commented on #96980
To be clear, using FindFirstFile as a fallback (rather than replacement) answers my concerns and I think would be the best solution to this issue.

[2022-06-02 05:40] jsha commented on #97610
With #97613 merged, the situation is better for the `__m256` types, but still is not solved for CString, NulError, etc.

It occurred to me that `std` should actually have no cases of "Implementations on Foreign Types," so we can get a broader view of the issue by searching for that string in std docs:

[code]

https://doc.rust-lang.org/nightly/std/clone/trait.Clone.html
https://doc.rust-lang.org/n

[2022-06-02 06:30] jsha opened #97638 "rustdoc: search links to non-existent tuple field anchors"
Steps to reproduce:

1. Search for `0`: https://doc.rust-lang.org/nightly/std/index.html?search=0
2. Click on first result ([`std::borrow::Cow::Borrowed::0`](https://doc.rust-lang.org/nightly/std/borrow/enum.Cow.html#variant.Borrowed.field.0)

Expected result:

Either (a) Borrowed::0 isn't listed in the search index since it's not a named type, or (b) the hyperlink goes to `#variant.Borrowed` (whi

[2022-06-02 06:35] dclong commented on #85460
I'm encountering the same issue.

[2022-06-02 06:58] hellow554 commented on #85354
hey @ZuseZ4

out of curiosity, can you take your examples and try to run them again today with the latest compiler? The LLVM Version has been increased a few times, maybe it's not performing bad anymore?

[2022-06-02 07:14] apiraino commented on #96340
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2396340.20Trait.20resolver.20hangs.20when.20evaluating.20cyclic.20requirem.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-06-02 07:24] apiraino commented on #97584
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2397584.20Ambiguous.20import.20not.20detected) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-06-02 08:02] inquisitivecrystal commented on #97449
Interestingly, this seems to hang all the way back to 1.0, whereas the repro in #96340 just failed until 1.7.

[2022-06-02 08:07] Nilstrieb commented on #97449
That's because in https://github.com/rust-lang/rust/issues/96340 I used some features that were only added in 1.7. The core issue seems to have been here forever.

[2022-06-02 08:27] 101arrowz commented on #87479
I think this change broke some lifetime checks, as seen in #97515.

[2022-06-02 08:40] ricked-twice commented on #96340
I'd like to work on that issue if no one is already working on it.
I'll claim it if no one complains.

[2022-06-02 09:10] bruxisma opened #97643 "Emit only one note per struct when multiple fields would trigger the same compiler note"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Or something even more compact if possible. Without this, compiler output is almost double, and mostly unnecessary.

[2022-06-02 10:04] A1-Triard opened #97646 "The asm! macro incorrectly zeroes high byte register if both high and low byte registers are used for input, and low byte input value is zero."
STR:

Compile the following code for 32-bit target (e.g. `i686-unknown-linux-gnu` or `i686-pc-windows-msvc`) in release mode:

[code]

[code]

Look at the final machine code:

[code]

AR: As you can see, `eax` is xored after it was set to input `0x3d` value.

ER: Either the compiler should prevent such high and low byte register usage and refuse to compile such code, either it should not clear `ah

[2022-06-02 10:40] m-ou-se commented on #93740
To unblock **const** `Mutex::new`, `RwLock::new` and `Condvar::new`, https://github.com/rust-lang/rust/pull/97647 changes these functions to no longer allocate on any platform, by instead using lazy allocation on the platforms where still use pthread.

[2022-06-02 11:52] RalfJung opened #97649 "Clean up cast categorization"
Currently, our classification of casts is kind of a mess:

- We have `mir::CastKind`, but it has a `Misc` variant and most casts fall in that category (this is what ends up in the MIR).
- We also have `ty::cast::CastKind` that has a seemingly independent classification (no idea where this is used).
- We have a `CastTy` type, but it cannot represent some types that can be involved in casts (such as

[2022-06-02 12:17] Jarcho opened #97650 "`#[expect(..)]` not supported on function arguments"
This isn't used by many lints, but clippy does have a few. This is the only location I've noticed, but I haven't checked everywhere.

[code]

I expected to see this happen: Nothing

Instead, this happened:
[code]

cc #54503

[2022-06-02 12:19] FrozenDroid opened #97651 "Possible regression with `type_alias_impl_trait`"
### Code

I tried this code:

[code]

I expected to see this happen: Successful compile

Instead, this happened:
[code]

### Version it worked on

It most recently worked on: nightly-2021-10-21
It's very possible there are more recent nightlies where this compiles, but I don't know how to easily find this.

### Version with regression

`rustc --version --verbose`:
[code]

### Additional observatio

[2022-06-02 12:29] m-ou-se commented on #95080
This shows the same issue, without any dependencies other than `std`:

[code]

[code]

`std::sys::unix::IsMinusOne` is an internal implementation detail of `std`. It's declared as `pub trait IsMinusOne`, but it's not publicly accessible, since `std::sys` isn't public.

[2022-06-02 12:34] RalfJung commented on #73333
In https://github.com/rust-lang/rust/pull/97652 I am proposing to make this deny-by-default and make it show up in future breakage reports.

[2022-06-02 12:56] LoganDark commented on #97618
I also get quite annoyed when stable rustc recommends I use unstable features

[2022-06-02 13:13] FrozenDroid commented on #97651
I don't have any experience with rustc development but PR #95474 seems relevant?

[2022-06-02 13:20] #62370 closed

[2022-06-02 13:20] inquisitivecrystal commented on #97651
Regresses in #95519 (though it's a nightly feature, so not *really* a regression). CC @oli-obk: I'm guessing this was intentional, but it's worth checking.

[2022-06-02 13:54] inquisitivecrystal commented on #97651
*signs on to apply a label they missed*
*finds the issue reporter has already applied the label*
😄

While I'm thanking you for being helpful, it was nice to have the date of the nightly where this worked. It makes bisecting (running [the script](https://github.com/rust-lang/cargo-bisect-rustc) that figures out when the change was introduced) a lot faster.

[2022-06-02 14:05] b-naber commented on #97634
@rustbot claim

[2022-06-02 14:55] pnkfelix commented on #97463
self assigning: if I can reproduce this, then I'll try out the fix suggested by @nbdd0121

[2022-06-02 15:52] ricked-twice commented on #96340
@rustbot claim

[2022-06-02 16:30] 101arrowz commented on #97651
This seems potentially related to #97515 as well.

[2022-06-02 17:18] estebank commented on #97618
Checking the DefId of each suggested path to see if they are annotated with `unstable` should be doable.

[2022-06-02 17:55] bjorn3 opened #97659 "-Cpanic=abort will skip aborting landingpad for extern "C-unwind""
I tried this code:

[code]

I expected to see this happen: It aborts at the `may_throw()` call.

Instead, this happened: It unwinds all the way to the `catch_unwind` that libstd wraps around the main function and aborts there. This happens because the personality function in libpanic_abort is a dummy personality function that doesn't interpret the LSDA to find out that there is a landingpad at the

[2022-06-02 18:01] Veetaha commented on #97615
@Nemo157 @GuillaumeGomez

Let's not rush with not-supporting this. We in our code use this pattern extensively.

We use it to export extension traits. For example, we have a trait that provides extension traits to the standard library

[code]

We do it this way to guarantee that the users of our extension traits crate will not be able to both:

- Provide an `impl OptionExt<T> for SomeOtherType`, i

[2022-06-02 18:14] pnkfelix commented on #97463
Okay now I have reproduced atop  aarch64-unknown-linux-gnu.

I'll work on making a patch now.

[2022-06-02 18:32] Jarcho opened #97660 "`#[expect(...)]` doen't catch lints from different `check_*` function"
Some lints are emitted from a from a different from the area they are linted. e.g. `clippy::ptr_arg` is linting from `check_body`, but it can be allowed from the argument (`fn foo(#[allow(clippy::ptr_arg)] x: &Vec<u32>) {}`).

The following lints in clippy (and probably more) lint from different `check_*` functions:
* `needless_borrow`
* `ref_binding_to_ref`
* `duplicate_mod`
* `multiple_inherent_

[2022-06-02 18:34] ethowitz commented on #97549
FWIW, I'm having this issue too. 1.61.0 seems to use substantially more memory during compilation (specifically, we are running into the issue with `cargo clippy`), and it's causing CI builds to time out. I'd be happy to provide more detailed information if there's a good way to measure memory usage. Using 1.60.0 solves the issue.

[2022-06-02 18:41] pnkfelix commented on #97463
This might be explained by how "little" our test suite tries to exercise Rust/C interop:

<details>

<summary>line/word/byte counts for all the *.c files under `src/test`</summary>

`% find src/test/ -name '*.c' | xargs wc`

lines | words | bytes | file
-----|-------|-------|-----
417 |  964|  7536 |src/test/auxiliary/rust_test_helpers.c
 11   | 20   |268 | src/test/run-make/raw-dylib-stdcall-ordi

[2022-06-02 18:45] #97615 closed

[2022-06-02 18:56] awygle opened #97661 "ICE related to normalizing erasing regions when using rkyv derive macro"
I am sorry this is not further minimized into the `rkyv` source, I'm not especially familiar with that codebase. The particularly weird thing here is that if I build this as a binary rather than a library I do not get the ICE. I got this ICE in stable and the most recent nightly.

Also, it is more than likely that this code is wrong (as in, will not function for my desired effect), but it still sh

[2022-06-02 19:02] BatmanAoD commented on #97568
To be clear, this should be a compile-time error, indicating a missing lang item.

[2022-06-02 19:09] matthiaskrgr commented on #97634
reduced:
[code]

[2022-06-02 19:13] #97541 closed

[2022-06-02 19:27] compiler-errors commented on #97661
I believe this is #94651

[2022-06-02 19:39] asquared31415 commented on #97646
Minimal reproduction:
[code]
[godbolt with target](https://godbolt.org/z/M6z8z7sMe)

**Requires opt-level 1 or greater to reproduce** otherwise the zeroing of `eax` gets done first, which is correct.  This is possibly a buggy optimization?

In 1.60.0 this code started being accepted by #93868

Reproduces in all stable versions since 1.60.0, up to nightly 2022-06-02

[2022-06-02 20:17] talchas commented on #97646
This is an LLVM thing, and the equivalent C syntax is ```c
    register char al asm("al") = 0;
    register char ah asm("ah") = 1;
    asm volatile("": : "r"(ah), "r"(al));
[code]

[2022-06-02 20:25] wesleywiser commented on #97608
Re-opening to track the beta backport.

[2022-06-02 20:57] mazoti opened #97666 "Memory leak"
Hi!

I'm developing a backup tool in Rust and found some leaks with valgrind using Debian, Alpine and FreeBSD. To reproduce the bug:

git clone https://github.com/mazoti/sync
cd sync
cargo build
valgrind ./target/debug/sync

I'm running on a Virtualbox Debian 11.3.0 machine, Valgrind installed from the distro, and Rust with rustup defaults (1.61.0 stable).

Any trouble I'll be glad to help!

Best

[2022-06-02 21:16] inquisitivecrystal commented on #97651
@101arrowz: I think that's not super likely. #95519, which introduced this, was specifically related to validation for type-alias impl traits. My impression is that it shouldn't have affected GATs.

[2022-06-02 21:28] coolreader18 commented on #87800
Would've found this useful in conjunction with `split_once` today:

[code]

[2022-06-02 22:28] compiler-errors commented on #97666
Do you mind sharing logs so people don't have to run valgrind themselves?

[2022-06-02 22:45] saethlin commented on #97666
Following the directions in the issue, which lands me on commit `f035ae2006a5aacd487a7ce62f4062b7efa81e15` I see this:
[code]
No leaks.

[2022-06-02 23:04] compiler-errors commented on #97666
Not sure if that's useful by itself, mind re-running with `--leak-check=full` so we can have some idea where the leaked memory originates?

On the other hand... that's 10 bytes. I'm sure it's some intentional global leak or something that isn't being suppressed.

[2022-06-02 23:10] saethlin commented on #97666
Sure, here's valgrind with maximum checking as far as I can tell:
[code]

[2022-06-02 23:12] compiler-errors commented on #97666
Yeah, sorry @saethlin, see "edit: I'm not a good reader -- didn't see 'no leaks'." in my previous message. :sweat_smile:

That being said, @mazoti, would appreciate a valgrind log with full leak-check to see where these leaks are coming from on your end.

[2022-06-02 23:19] saethlin commented on #97666
"no leaks" is me editorializing valgrind's output, no worries.

[2022-06-03 00:00] ehuss commented on #66085
Also beware that run-make-fulldeps is now treated differently in CI for various reasons. For example, the macOS tests are split into separate runners because they take too long to run and run-make-fulldeps is one of the suites that is split up.  Also, the "debug" runner *only* runs the run-make-fulldeps tests.

[2022-06-03 00:16] ehuss opened #97669 "Sporadic errors with armhf-gnu CI remote test runs"
The `armhf-gnu` CI runner has been having sporadic errors while running remote tests. The errors typically look something like:

[code]

There's not much to go on here, as we can't really see the qemu server side.

I don't see a pattern in which tests are failing, so it could be just a general issue with the qemu setup?

* 2021-11-21T00:49:48 https://github.com/rust-lang-ci/rust/actions/runs/14857

[2022-06-03 00:21] #96644 closed

[2022-06-03 01:01] Stargateur commented on #97666
still reachable mean it's miss a "free" but that not very important it's also often on purpose, memory will be free anyway.

[2022-06-03 03:04] #97576 closed

[2022-06-03 05:14] deputinizer opened #97671 "ICE RLS rustc_save_analysis::SaveContext::get_expr_data"
### Code

Well it's a crate `libp2p_kad`, version `0.37.0`.
`cargo build` and `cargo check` works.
Only RLS seems to panic.
https://github.com/libp2p/rust-libp2p/blob/2ad905f35a61d7588f74aeea4e8010ccfbc70fcf/protocols/kad/Cargo.toml#L6

### Meta

`rustc --version --verbose`:
[code]

crashes with `1.60.0-x86_64-unknown-linux-gnu - rustc 1.60.0 (7737e0b5c 2022-04-04)`
crashes with `stable-x86_64-unk

[2022-06-03 05:21] Firstyear opened #97673 "When requesting a different default linker (clang) build does not use it."
When building rust from source, if you have defined the default-linker to be clang, and to use lld as the linker, the build can fail during `Building rustbuild` as the linker argument is NOT changed to the linker requested.

Specifically in this case because cc is gcc-12 which adds a flag for `--fix-cortex-a53-835769`, but the system lld14 does not recognise this flag. Had the linker used clang in

[2022-06-03 07:21] qingyunha commented on #54961
I think this is a common function that should live in the standard library of any programming language.

[2022-06-03 08:19] Terrain2 opened #97677 "Give helpful suggestions for code containing {integer} and other non-concrete types"
Given the following initial code:  https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=37a16d044452d822d2e20198fe11f2bc

[code]

The output of this code is acceptable and helpful.

[code]

Ideally the compiler would suggest ``Output = N`` instead of ``Output = {integer}``, and infer that from the function body, i guess? I don't know, really, and it's not the main point of this

[2022-06-03 08:22] megahomyak opened #97678 "Sudden compiler error after another recompilation with slight changes to the code"
I haven't modified anything in my environment, just added two macro calls on the line 73, recompiled and got this. And now I'm getting the same output every time I am compiling this project, no matter what it contains. **Even `fn main() {}` causes the compiler to crash. Other projects compile nicely.**

### `cargo clean` fixed the issue

<details><summary><h4>Code (actually doesn't matter)</h4></s

[2022-06-03 08:22] aliemjay commented on #97651
This is #95922.

The problem is that type-alias-impl-trait doesn't make use of implied bounds from the impl header. As a workaround for now, you can specify explicit bounds instead:
[code]

Unrelated to this issue, but you should expect this impl to break once #96996 is fixed. The correct way would then be:
[code]
`Captures` trait is arguably an ugly hack. We should figure out a better way to indi

[2022-06-03 08:34] xFrednet commented on #97650
@rustbot claim

@rustbot label +F-lint-reasons

[2022-06-03 09:00] leontepe commented on #50133
Why does this receive so little attention? This is a **big** usability problem regarding affecting **the whole trait system**.

[2022-06-03 09:10] leontepe commented on #31844
It's there now. What are the next steps here? I would like to get involved!

[2022-06-03 09:13] leontepe commented on #31844
Why settle? It's certainly possible.

[2022-06-03 09:15] permezel commented on #67939
I would like to be able to access the thread::current().id.0.  IE: the private field in ThreadId.  The reason for this is that I print the TID as a "{:04.4x}" as a fixed component of a trace output line for debugging multi-threaded programmes.
ThreadId(1): .... is not optimal.
0001: ... is optimal.

[code]

what I desire is:
[code]

The second field is n/s counter in hex.
The third field is Info/D

[2022-06-03 09:25] GoldsteinE opened #97680 "“closure references itself” error when it’s not"
I tried this code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=56b506623c60a91aa4280d8a4a6c0e58)):

[code]

Trying to compile it produces the following error:
[code]

I’m not sure if it should compile, but the diagnostic is misleading either way: this closure doesn’t have infinite size (in fact, it’s zero-sized), doesn’t capture itself (it captures nothing)

[2022-06-03 09:52] leontepe commented on #85077
@JulianKnodt why hasn't this landed yet? Sounds like the implementation is done.

[2022-06-03 09:56] #31745 closed

[2022-06-03 10:51] japaric opened #97682 "`-Z simulate-remapped-rust-src-base` is not fully simulating `remap-debuginfo = true`"
alternative title: `-Z simulate-remapped-rust-src-base` is not working as expected with `remap-debuginfo = true`

Hello! We are running the compiler test with a compiler configured with `remap-debuginfo = true` and after a recent PR merge we observed that the `src/test/ui` test suite is no longer passing. After looking into the issue I think a (test only?) `-Z` compiler flag may not be working as

[2022-06-03 11:02] c410-f3r commented on #31844
Like previously said in https://github.com/rust-lang/rust/issues/31844#issuecomment-1100736437, it is possible to reach out the responsible individuals (https://rust-lang.github.io/rfcs/3254-types-team.html#leads-and-membership) in the Rust Zulip platform at https://rust-lang.zulipchat.com/ or maybe through email. I personally don't know their schedule, but chances are they want some people to get

[2022-06-03 11:53] jplatte opened #97685 ""can't find crate" errors"
Given a crate that depends on `bytes 1.1.0`, trying to `cargo build --target target_that_is_not_installed` results in

[code]

followed by a few more ``can't find crate for `core` `` errors, followed by around **500** additional errors about individual items from the standard library not being found. The first of these appear very fast, so it's inconvenient (and sometimes impossible due to scrollb

[2022-06-03 11:55] RalfJung commented on #87184
My plans for how I want to implement this in Miri changed, but that new plan I think cannot work in CTFE.

For Miri, I mentioned using the `PtrFragment` representation of my memory model. But that memory model changed, and now my notion of an AM Byte [looks like this](https://github.com/RalfJung/minirust/blob/master/mem/interface.md#abstract-bytes): an initialized byte is a `u8` with some optional

[2022-06-03 11:55] #87184 closed

[2022-06-03 12:27] rylev opened #97686 "`impl Trait` not working in recursive function"
Given the following code: [[link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6b309eac6df6ba52dfd8aef5d60ba3b8)]

[code]

The current output on stable is:

[code]

and on nightly:

[code]

Ideally this code should compile, but if it cannot be made to compile than the compiler error should use lesson compiler jargon (e.g., "opaque type").

[2022-06-03 12:33] RalfJung commented on #83163
The following code used to work with `swap_nonoverlapping`, but doesn't any more:
[code]

That is a regression introduced by the new implementation of `swap` in https://github.com/rust-lang/rust/pull/94212. (Though arguably it is a mere coincidence that the previous implementation worked.)

This is fundamentally caused by a limitation of compile-time evaluation: we have to good way to represent a

[2022-06-03 13:02] taladar opened #97687 "Do not use term "associated function" in suggestions for "no method named ..." error"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

I just spent a few hours not realizing I had a typo in the name because I was focussed on the method vs. associated function part of the error instead of realizing I was just missing a letter in the method name. Obviously the terminology is fine if there truly is nothing with a self, &s

[2022-06-03 13:24] wwylele commented on #97686
The code cannot compile because, from different points of view, the function is doing either of the following 2 things
 - the return type is *infinite*. The concrete type of such function would be (informally) `ReturnTypeOf(flatten) = Chain<Once, FlatMap<BTreeMapValue, flatten>>`. Note that `flatten` appears on both sides, and you would get an infinitely nested type if you try to deduce the return

[2022-06-03 14:27] Urgau opened #97693 "[rustdoc] No Implementations for `FxHasher`"
I went to https://doc.rust-lang.org/nightly/nightly-rustc/rustc_data_structures/fx/struct.FxHasher.html.

I expected to see this happen: see impl for `Default` and `Hasher`

Instead, this happened: none of the impl appears

![](https://puu.sh/J3R8s/6af85bfd5f.png)

![](https://puu.sh/J3R8B/e9eb536267.png)

@rustbot label +T-rustdoc

[2022-06-03 14:46] pnkfelix commented on #49453
Visiting for T-compiler backlog bonanza.

This doesn't have a clear owner, either as a person nor as a team. The compiler team does not believe it to be a tracking issue in the usual sense.

I am for now assigning it to T-lang, under the philosophy that they are closest to making decisions about how people using Rust interface with it. But I would be fine with it being bounced to T-core, or to any

[2022-06-03 14:57] pnkfelix commented on #83989
is this an instance of #49845, which we had thought had quietly gone away?

[2022-06-03 14:58] jamesmunns commented on #97146
Hey @joshtriplett (picking you as a member of both lang and libs), do you know offhand if this would be a "T-lang" or "T-libs" sort of issue to "rule on"? Would it be possible to get this triaged into one of those piles to get a 'ruling' on this, so we can decide whether to update our wg-embedded docs?

It would be much appreciated!

[2022-06-03 14:59] pnkfelix commented on #49845
visiting for T-compiler backlog bonanza. It seems like this (very specific?) issue hasn't occurred since 2018.

So I'm going to close this. but please reopen if you have evidence of a recent instance of this occurring.

[2022-06-03 15:24] Kixiron commented on #87800
@rust-lang/libs-api can we start the FCP for this?

[2022-06-03 15:51] Dylan-DPC commented on #41841
@rschulman sorry for the "someone pinged me on an old issue" moment but are you still having this issue?

[2022-06-03 16:08] matthiaskrgr opened #97695 "ICE: "failed to normalize" with -Zmir-opt-level=3 --emit=mir"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc crash.rs  -Zmir-opt-level=3 --emit=mir`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-03 16:27] matthiaskrgr commented on #97671
https://github.com/rust-lang/rust/issues/88536 has a similar ice message but not sure how related that is.

[2022-06-03 16:28] LoganDark commented on #97685
I think this can be generalized a bit because I often find myself wanting to fix errors in the order they are reported rather than in reverse. It would be nice if rustc/cargo supported some sort of "max errors" / "max diagnostics" flag that would stop compilation after that point (or just silence further errors/diagnostics). That way I could work through them one by one without having to constantl

[2022-06-03 17:01] matthiaskrgr opened #97698 "ICE: compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs: unexpected path"
### Code
kinda garbish-y but it reproduces the ICE :shrug:
[code]

### Meta

`rustc --version --verbose`:

IMPORTANT: this reproduces with MASTER but not yet with NIGHTLY `rustc 1.63.0-nightly (e71440575 2022-06-02)`
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-03 17:08] RalfJung opened #97699 "const_err spans not rendered when rust-src not installed"
This code causes a const_err somewhere in the standard library:
[code]

When the `rust-src` package is not installed, the error is pretty unreadable:
[code]

This is missing the key information of what goes wrong! With `rust-src`, the following is added, making it much clearer:
[code]

If the sources are missing, we should probably still show the error, even if we cannot attach it to any code.
Cc

[2022-06-03 17:12] RalfJung commented on #97167
This is probably a duplicate of https://github.com/rust-lang/rust/issues/73283.

[2022-06-03 17:13] RalfJung commented on #97270
Ah fun times, we are actually generating a `Box<!>` here?

Maybe `Box` should just be less special in terms of validity etc than it is now...

[2022-06-03 17:15] RalfJung commented on #97501
We might also want to change this message if the crate uses the `core_intrinsic` feature:

ICEs are not always bugs when intrinsics are used directly.

[2022-06-03 17:16] matthiaskrgr commented on #97698
reduced a bit further
[code]

[2022-06-03 17:17] RalfJung commented on #97606
Shouldn't this be reported against https://github.com/rust-lang/libc ? Sounds like a bug in libc to me, specifically [around here](https://github.com/rust-lang/libc/blob/99756b1a974d293a3c61d13f5cf4affe6d0998fc/src/unix/bsd/apple/mod.rs#L1304).

OTOH, that code cannot just compare `buf` or `array`, since the bytes outside of `val` might be uninitialized. I don't think it is possible to have a reas

[2022-06-03 17:28] estebank commented on #89137
@compiler-errors It would be nice if the `obligation.cause.span` that ends up being used in the "the `Copy` impl for `Vector2<T>` requires that `T: Debug`" note pointed at the field type, instead of the whole field as it does now. Would that be something you'd have time to explore? The actual change is simple enough, but finding where the obligation is constructed might require some exploring.

[2022-06-03 17:35] asomers commented on #97606
Oh shoot, I meant to file it to that repository.  Sorry for the noise.

[2022-06-03 17:35] #97606 closed

[2022-06-03 18:13] Timmmm commented on #94347
Why not? Compile time has repeatedly been a top issue for Rust users. Linking is often extremely slow and can dominate build time for incremental compilation.

When it becomes as mature as LLD then "it is faster" definitely seems like a reason to set it as the default.

[2022-06-03 18:54] Nemo157 commented on #97615
For making the trait sealed the standard pattern is to use `trait OptionExt: Sealed { ... }` with a marker sealed trait.

The latter requirement seems like an anti-pattern to me. I blanket-ban all glob imports in my projects so that would make your library unusable in them.

[2022-06-03 19:25] coolreader18 opened #97704 "Using try operator on a future doesn't suggest to .await it"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=b539ebe10f181c1f2b245a021684dff1

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-06-03 19:35] CAD97 commented on #74524
A generalized form of @ModProg's syntax would be `$.N()` to specify to do `$()` at the Nth level of repetition.

[2022-06-03 19:37] coolreader18 commented on #97704
Huh, looks like this is a case where `suggest_await_before_try` doesn't kick in for some reason.

[2022-06-03 19:46] ModProg commented on #74524
One thing to decide is whether this would be relative from the current level i.e. N level up, or from the root i.e. the Nth level or repetition.

A general question, would this need an RFC?

BTW, there is a zulip discussion about this: <https://rust-lang.zulipchat.com/#narrow/stream/213817-t-lang/topic/macro_rules.20back.20to.20repetition.20root>

[2022-06-03 19:49] pnkfelix commented on #97463
Here's something else that's scary exposed by this test: It fails to replicate if you remove the optimization flag (i.e. `-O3`) from the compilation of the `bad.c` file to `bad.o`.

It reproduces for all `-O` levels >= 1 that I tried, but here's why its scary: Our `run-make-fulldeps` suite doesn't *exercise* `-O` by default. There are individual `Makefile`s that opt-into using `-O`, but problems l

[2022-06-03 19:50] CAD97 commented on #74524
It probably should get an RFC. (Good idea to cross-link the zulip thread as well, I didn't think to.)

[2022-06-03 19:57] alexschrod opened #97706 "broken MIR in DefId ..."
This could be a duplicate bug, but I don't know have the know how to tell if it is (I found issues with *similar* but not *identical* error output, and I figured it's better to report and risk a duplicate than to risk leaving it unreported.

### Code

[code]

(Playground link: <https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=1bb970cfa0b428638ff8fd94551bc3a6>)

### Meta

`r

[2022-06-03 20:09] jamesmunns opened #97708 "ICE: "no MIR available for DefId(...)""
### Code

Github: https://github.com/jamesmunns/pellegrino/tree/ice-2022-06-03/oaiu/melpomene

Repro:

[code]

### Meta

Reproduces in:

* Stable Linux - rustc 1.61.0 (fe5b13d68 2022-05-18)
* Nightly Linux - rustc 1.63.0-nightly (e71440575 2022-06-02)

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-03 20:11] jamesmunns commented on #97708
I'll see if I can make a smaller repro case

[2022-06-03 20:12] matthiaskrgr commented on #97706
ICE since f132bcf3bdf6d3ff9be7d02e8d0088b99007cd5e

[code]

[2022-06-03 20:17] #40177 closed

[2022-06-03 20:34] jamesmunns commented on #97708
So, the minimal repro case is MUCH smaller:

in `Cargo.toml`:

[code]

In `main.rs`:

[code]

Which points to these code chunks:

* https://github.com/hawkw/mycelium/blob/bde817203af5b21591cdca0d257173c1e57b20fe/maitake/src/scheduler.rs#L39-L53
* https://github.com/hawkw/mycelium/blob/bde817203af5b21591cdca0d257173c1e57b20fe/maitake/src/task.rs#L440-L476

This seems to work in the tests for `maita

[2022-06-03 20:34] jamesmunns commented on #97708
CC @hawkw

[2022-06-03 20:42] hawkw commented on #97708
Yeah, this seems to occur specifically when trying to compile an external crate that calls this function. Lib tests _inside_ the crate that call the function don't ICE, but adding an integration test (outside of the crate's compilation unit) does trigger the ICE: https://github.com/hawkw/mycelium/commit/e1c5085a2249d209dae3e31c5a1e7ff94b97c337

[2022-06-03 20:46] hawkw commented on #97708
If the function is made `pub`, the ICE no longer occurs. For example, this commit does not ICE: https://github.com/hawkw/mycelium/commit/b811dbefecad1f010f436cae7cb2ff5e9de8b819

[2022-06-03 20:50] matthiaskrgr commented on #97708
@rustbot prioritize

[2022-06-03 20:51] hawkw commented on #97708
...and, if the functions are made `pub` but placed in a private module, they get culled again, triggering the ICE: https://github.com/hawkw/mycelium/commit/aa654001e95770a824ce19ca7b678f87cb6c2013

[2022-06-03 20:55] coolreader18 commented on #97704
Ah, it's that the `impl Future` return type of an async function like this has `HAS_TY_INFER`. I don't know enough about rustc's typechecking to know what that means or if this can be resolved haha.

[2022-06-03 21:08] coolreader18 commented on #97704
It doesn't seem like #72775 is a thing anymore? I can remove the `if self_ty.has_infer_types() { return }` condition and it doesn't ICE on the example given in that issue.

[2022-06-03 21:11] jamesmunns commented on #97708
It also appears that if you move the functions out of the `const fn`, AND mark them as `#[no_mangle]`, the ICE is also abated.

See this PR for addressing: https://github.com/hawkw/mycelium/pull/190

[2022-06-03 21:14] coolreader18 commented on #97704
@JohnTitor do you know if stuff has changed such that #72775 is no longer necessary?

[2022-06-03 21:23] RalfJung commented on #63159
In https://github.com/rust-lang/rust/pull/97712 I am proposing to codify that these functions are all doing untyped copies.

[2022-06-03 21:23] inglorion opened #97713 "referenced symbols in discarded section using sancov-module with inline-8bit-counters"
Building a simple fuzz target using --cfg fuzzing -Cpasses=sancov-module -Cllvm-args=-sanitizer-coverage-level=4 -Cllvm-args=-sanitizer-coverage-inline-8bit-counters results in a linker error: {symbol} referenced in section {section} at {rcgu}: defined in discarded section {other section} of {other rcgu}.

One possible workaround is to set -Ccodegen-units=1 (any higher value triggers the error).

[2022-06-03 21:23] compiler-errors commented on #97704
@coolreader18 I actually have a PR almost up that does just exactly that, though if you want to put one up instead then feel free.

[2022-06-03 21:26] compiler-errors commented on #97704
I'm pretty sure #86901 fixes this underlying issue. This method could use some additional cleanup as well.

[2022-06-03 21:35] jamesmunns commented on #97708
For folks joining now/as a TL;DR, the offending code is basically this:

[code]

The `new_stub()` function produces a value, that gets created in a static:

[code]

Which gets loaded into a static in user code:

[code]

It LOOKS like somehow the two original functions (declared inside a private, const fn; inside a private type), are getting culled, which means that when the static (in another comp

[2022-06-03 21:38] gustav3d commented on #94347
Exactly, why not ?.

[2022-06-03 21:56] edgimar opened #97714 "`pub use` in a cdylib crate does not re-export unused `pub extern "C"` functions"
Perhaps the issue description isn't exactly correct, but here's the gist:

**Expected behavior**:  when a cdylib crate contains `pub use foo;` then any `pub extern "C"` functions within `foo` should be present in the generated dynamic library.  This appears currently to not be the case.

**To reproduce**:

(using cargo 1.61.0 (a028ae4 2022-04-29) and rustc 1.61.0 (fe5b13d68 2022-05-18) on Linux, u

[2022-06-03 21:59] compiler-errors commented on #97708
This is likely a disagreement between [`should_encode_mir`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_metadata/rmeta/encoder/fn.should_encode_mir.html) and [`should_codegen_locally`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_monomorphize/collector/fn.should_codegen_locally.html).

Though I don't know much about codegen.

[2022-06-03 22:03] jgouly commented on #97714
I can't repro this on macOS with:
[code]

You should probably specify your versions etc

[2022-06-03 22:11] compiler-errors commented on #97708
Anyways I think I have a fix, though I am not certain it's the right one. In any case, I at least have a minimized UI test for rustc devs who know codegen better than me. PR incoming.

[2022-06-03 23:05] 0xBACD opened #97719 "rustc macro: unexpected compilation error when `ty` designator is used within where clause"
This code doesn't seem to compile with the following error [[playground]](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=eca2db7fd82b9dd6c0dc00494cf72ff0):
[code]
[code]
There should be no error since `ty` designator stands for type, `std::fmt::Debug` is definitely a type and where clause accepts trait types.
This problem persists on any channel I've tested it - stable, be

[2022-06-04 00:45] eddyb commented on #25041
@maxammann It's not just "right now", the definition of that trait is incompatible with Rust functions.

That is, this trait definition:
[code]

Suggests that every implementer of `Processable` can *only* ever have one input and one output type.

It's suitable for `() -> (Input, Output)` *not* `Input -> Output`.

<hr/>

I didn't check if everything else is agreeable with this version, but it's the

[2022-06-04 00:54] compiler-errors commented on #97719
In this position, `std::fmt::Debug` is not meant to be a type. It's meant to be a trait, which is parsed differently than a type.

Have you tried using the `path` macro fragment?

[2022-06-04 01:58] 0xBACD commented on #97719
Yeah, it seems I just misread the reference. Actually it says that `ty` only matches to trait objects and impl trait so compiler behaviour here seems legit. Thank you, @compiler-errors!

[2022-06-04 01:58] #97719 closed

[2022-06-04 02:03] JohnTitor commented on #96172
Looking at the ICE message, it doesn't make much sense to add a regression test as it's just an unimplemented panic. Going to close without a test.

[2022-06-04 02:03] #96172 closed

[2022-06-04 02:21] edgimar commented on #97714
I've reproduced it on two different linux environments (rust version has been added to the original report).

[2022-06-04 02:27] asomers opened #97723 "dtrace's ustack() function cannot unwind stack frames on FreeBSD since 1.56.0"
One of the best ways to profile Rust code is with dtrace, as described at https://www.brendangregg.com/FlameGraphs/cpuflamegraphs.html#DTrace .  As recently as Rust 1.55.0 that worked fine.  But with Rust 1.56.0 the stack just isn't there.  Dtrace can only see a single Rust-level stack frame.  For example:

### Code
With Rust 1.55.0
[code]

With Rust 1.56.0
[code]

### Version it worked on

It mos

[2022-06-04 03:11] compiler-errors commented on #97618
This seems to be harder than I initially thought... so since we emit this "consider importing" suggestion in `LateResolutionVisitor`, we do not have access to `TyCtxt` it seems. And I have no idea how to extract the attributes from each `Res` without `TyCtxt`... :thinking:

[2022-06-04 03:14] iankronquist opened #97724 "Rustc does not recognize ttbr0_el2 as a valid armv8 system register"
Rustc does not recognize ttbr0_el2 as a valid armv8 system register. clang does.
[ttbr0_el2](https://developer.arm.com/documentation/100403/0200/register-descriptions/aarch64-system-registers/ttbr0-el2--translation-table-base-register-0--el2) is used by hypervisors to configure page tables for the lower half of memory, typically used for userspace.

[code]

This fails to compile with the error:
[c

[2022-06-04 04:05] asquared31415 commented on #97724
That is an assembler error, nothing to do directly with Rust.

I think your arguments are backwards.  To move from `PT` into that register, it would me `msr ttbr0_el2, {pt}`.

[2022-06-04 04:40] compiler-errors commented on #97677
I've been meaning to rework `Ty::is_suggestable` into something that is more precise and generic, and I would also probably like to rework it to opportunistically replace, e.g. `{integer}` with `i32`. Let me see what I can do here.

@rustbot claim

[2022-06-04 04:51] #97695 closed

[2022-06-04 05:36] Veetaha commented on #97615
That's true, but it is not the main benefit of this patter. The trait is sealed for free when we do this.

Clippy specifically allows configuring `wildcard_imports` lint with this ([link](https://rust-lang.github.io/rust-clippy/master/index.html#wildcard_imports)):

So things like `use crate_foo::prelude::*` are allowed, and I don't see a problem with that if crate defines a consistent prelude tar

[2022-06-04 06:05] dtolnay commented on #97698
Regression in nightly-2022-06-04. Bisects to #89862.

@rustbot label +regression-from-stable-to-nightly

[2022-06-04 06:39] matthiaskrgr opened #97725 "ICE: debug_assert with -Zunstable-options"
### Code
code from `./src/test/ui/const-generics/occurs-check/unify-fixpoint.rs`
you need a rustc build with debug assertions enable to reproduce this

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc -Zunstable-options unify-fixpoint.rs`
[code]

[2022-06-04 06:39] matthiaskrgr commented on #97725
<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-04 06:48] matthiaskrgr opened #97726 "ICE: !ty.has_infer_types_or_consts() with instrument-coverage"
### Code
`./src/test/ui/issues/issue-24013.rs`
you need debug-assertions enabled to reproduce this ICE
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./issue-24013.rs -Cprofile-generate=/tmp/foo`
[code]

[2022-06-04 06:48] matthiaskrgr commented on #97726
<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-04 07:03] Nemo157 commented on #97615
And wildcard_imports is allow-by-default anyway. I have just chosen to enable it, and I don't allow prelude imports, because I believe that results in easier to navigate code and all crates should be usable still.

These are only re-exports of items that have other public paths. I know there are other buggy crates that force using paths like `use proptest::prelude::ProptestConfig;`, but most are w

[2022-06-04 07:36] Nemo157 commented on #97615
Anyway, one approach to a fix I can think of is for rustdoc to pretend that `prelude::OptionExt` exists and the `use as _` is a reexport of it. I have no idea how to handle something like `pub use crate::{foo::OptionExt as _, bar::OptionExt as _}` though, which seems like a plausible setup.

[2022-06-04 07:51] matthiaskrgr opened #97728 "ICE: failed to normalize with -Zmir-opt-level=3 --emit-mir"
### Code
`src/test/ui/associated-types/issue-67684.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc  -Zmir-opt-level=3 --emit=mir   ./issue-67684.rs`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-04 08:13] dtolnay commented on #97698
I hit a slightly different manifestation of this in the `cxx` crate. The minimized repro is:

[code]

[code]

I confirmed that this also bisects to #89862, and is also fixed by #97703, and also occurs in `need_type_info::FindInferSourceVisitor`, which is why I haven't made a separate issue. But the panic in this case is index out of bounds whereas the original one in this issue involves "unexpecte

[2022-06-04 08:28] Dylan-DPC commented on #97698
Labeling it as p-medium based on the [discussion here](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2397698.20ICE.3A.20compiler.2Frustc_infer.2Fsrc.2Finfer.2Ferror_reporting.2F.E2.80.A6)

[2022-06-04 09:43] Wandalen commented on #96817
Bug happen on some combination of `include!()` and `trace macros!()`.
`trace macros!()` does not show its output at some circumstances.
Unfortunately I can't reproduce the bug :(

[2022-06-04 09:43] #96817 closed

[2022-06-04 10:41] inquisitivecrystal commented on #97651
Thanks @aliemjay. Closing as a duplicate.

[2022-06-04 10:41] #97651 closed

[2022-06-04 11:39] JohnTitor commented on #54185
@joshtriplett What should we do about the `infer_static_outlives_requirements` feature? Could we remove the support and feature?

[2022-06-04 12:28] JohnTitor commented on #96114
Triage: the `ast-json` option has been removed, closing.

[2022-06-04 12:28] #96114 closed

[2022-06-04 12:35] petrochenkov commented on #97719
FWIW, this will work once https://github.com/rust-lang/rust/pull/96724 and subsequent PRs land (maybe not very soon).
`std::fmt::Debug` will be treated as just an "untyped" token stream then.

[2022-06-04 12:36] maxammann commented on #25041
So, my definition of Processable works nicely for my usecase even though it is incompstible with functions.

I already tried for implement the quoted version of Processable for Fn(I) -> O. I failed because of the same reasons. The problem was that I was unable to forward the generic I from Processable to the Fn.

[2022-06-04 12:40] JohnTitor commented on #95307
Triage: The ICE doesn't occur on the latest nightly, bisecting shows #97694 fixed it but I'm not 100% sure what PR did, perhaps #97471? Marking `E-needs-test`.

[2022-06-04 12:56] JohnTitor commented on #97682
Thanks for reporting! Totally agree with your suggestions, I'm going to open a PR to disable that UI test later.

[2022-06-04 12:59] JohnTitor commented on #72614
Thanks for the detailed explanation, Oli! I've now understood it :)
So, the original issue here was a diagnostics one and the compiler now accepts that code, I think we could just clone this issue without a test.
If someone wants to add it, feel free to re-open and add the `needs-test` label.

[2022-06-04 12:59] #72614 closed

[2022-06-04 13:17] Nemo157 commented on #72614
I don't understand why it is allowed to bring this additional information in:

The type `impl Sub<usize>` should not allow leaking other non-auto traits it implements.

[2022-06-04 13:46] #89137 closed

[2022-06-04 13:46] #96485 closed

[2022-06-04 13:46] #97650 closed

[2022-06-04 13:46] #97708 closed

[2022-06-04 14:09] fishrockz commented on #42868
For anyone else finding things like this you might find this helpful

It was actually solved at the call sight rather than the function

[code]

Normally rustc gives the most excellent tips but i think in this case we could do better..

[2022-06-04 14:40] nbdd0121 commented on #93740
I've noted that the description has changed from "use a thread parker" to "use lazy allocation" (which is just merged). I agree that lazy allocation is the best short-term option, but it should be noted that #85434 will not be fixed with lazy allocation; to fix it we still need a thread-parker based implementation (although this is no longer a blocker for const).

[2022-06-04 15:46] oli-obk commented on #72614
There is no leaking happening. There is a weird situation where as long as you only know about the associated type, but not what it resolves to, you know about the Add but not the Sub. When you normalize the assoc type to its concrete type, you lose the information about the Add but gain the Sub.

[2022-06-04 16:01] Kixiron commented on #81513
Couldn't we be conservative and declare dangling vtables UB in the initially stabilized version with the stipulation that it may change in the future?
This feature is really important to a lot of people and holds back a *lot* of projects (including at least two of my own personal ones) so I think that even a deliberately conservative api akin to `min_const_generics` is really important to get out

[2022-06-04 17:27] Kixiron opened #97732 "ICE from ZSTs not at the front of structs during codegen"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-04 17:40] jsha opened #97733 "rustdoc: curly brace in wrong place for Cow"
On https://doc.rust-lang.org/std/borrow/enum.Cow.html, the summary at the top of the page is:

[code]

The opening curly brace should be aligned to the left, matching the closing curly brace:

[code]

[2022-06-04 17:45] CryZe commented on #97714
This was at least supposedly fixed: https://github.com/rust-lang/rust/issues/50007

Though there the symbol itself was reexported.

[2022-06-04 18:02] kevincox opened #97734 "Unhelpful error spam after syntax error."
Given the following code:

1. Syntax error (visible in error message) in a `ui.rs` module.
2. References to things in that module in other parts of the code.

(I don't appear to be able to reproduce this in the playground because it appears to require multiple files.)

The current output is:

[code]

Ideally the output should look like:
[code]

The hundreds of errors about things functions not exi

[2022-06-04 18:18] jquesada2016 opened #97736 "False unconstrained type error and unresolved lifetime"
Sorry about the title, but I'm not sure how else to describe it.

Taken the following code:

[code]

Both `Iter` and `IntoIter` generic parameters result in a "not constrained" error. However, If I do the following instead:

[code]

Then this error goes away, but I then get another error.

If we add a test to the code, such as the following:
[code]

Then I get an error saying `Ref<T>` does not imp

[2022-06-04 18:19] onlineSoftwareDevOK commented on #61137
I am working on creating documentation for E0208. I need help. My first question is: How would you describe the error in a few words? Variance error? It seems it is related to types, traits, regions, object types, associated types and  associated consts

[2022-06-04 19:05] rodrimati1992 commented on #86935
Lack of support for this can be worked around with a simple type alias
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=92460c3c1d0931dc9fac47d8e9877a51
[code]

[2022-06-04 19:20] joboet commented on #93740
That would make it impossible to use priority inheritance however, as we could not reliably reset the priority of an inheriting thread as it could have been changed while the lock was held.

For macOS, all problems would be solved if we could just use `ulock`: it is fast, lightweight, supports priority inheritance and even [fancy things like spinning while the lock owner is active on another core]

[2022-06-04 19:26] RalfJung commented on #73283
I tried improving this, but something happens that I do not understand... I added to `step` this line
[code]
which should mean `self.tcx` has up-to-date span information on every interpreter step. But this changes nothing about the output of src/test/ui/consts/recursive-zst-static.rs, which is the one that regressed 2 years ago.

I think the problem is that `eval_static_initializer` only exists on

[2022-06-04 19:55] RalfJung commented on #73283
Yes, that was it: https://github.com/rust-lang/rust/pull/97740

[2022-06-04 21:03] jackh726 commented on #96332
I think this can be closed now, after #96352

[2022-06-04 21:30] compiler-errors commented on #97736
I think this error is correct -- there is no way to express the impl you're trying to write, but the error message is pretty vague...

The problem here is the `for<'a> &'a T: IntoIterator<Item = Item, IntoIter = IntoIter>` bound. In your concrete example, this means that every choice of `'a`, `&'a Vec<T>` needs to return the _same_ `IntoIter` iterator. But it doesn't, since for every choice of `'a

[2022-06-04 21:34] compiler-errors commented on #97736
This is made more clear when we remove the `Item` and `IntoIter` generics from the impl block. Let's try doing that by using associated types inline:

[code]

[2022-06-04 21:36] compiler-errors opened #97741 "A Test Issue"
Nominating for T-types

[2022-06-04 21:36] #97741 closed

[2022-06-04 23:14] rust-highfive opened #97745 "`miri` no longer builds after rust-lang/rust#97191"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#97191, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @wesleywiser, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-06-05 00:57] CAD97 opened #97747 "Macro typos generating exponentially growing token streams cause rustc to take exponentially long"
I tried this code:

[code]

**I expected to see this happen:** compilation would terminate after a reasonable amount of time.

**Instead, this happened:** process aborted with a stack overflow after six minutes of pegging a single core.

([The actual code which ran into this issue.](https://twitter.com/CAD97_/status/1532913123006590977?s=20&t=1DbdSrb0SVclkQz5NAHiBg) Above is a minimal reproducer.)

[2022-06-05 00:58] inquisitivecrystal commented on #97428
Reopening to beta-nominate. This is a nasty regression that can silently induce unsoundness in valid code, given the wrong opt-level setting. This patch to LLVM to fix this is pretty small: [llvm/llvm-project@`2e101cc`](https://github.com/llvm/llvm-project/commit/2e101cca690645d63ae4de1eb7b0e11d322448fd)

[2022-06-05 01:04] CAD97 commented on #97747
@rustbot modify labels +A-macros +I-compiletime +I-hang

[2022-06-05 01:33] mazoti commented on #97666
if it's not a leak and not a bug in my code, no problem!

thanks guys!

[2022-06-05 01:33] #97666 closed

[2022-06-05 01:34] #96873 closed

[2022-06-05 01:34] #87142 closed

[2022-06-05 01:41] Kampfkarren commented on #90982
#87349 was closed and this is still an issue.

[2022-06-05 01:43] OliveIsAWord opened #97748 "`#[allow(...)]` doesn't work on expressions"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=01f0dcf3b636948e5c1cf8baeeedb35c

[code]

The current output is:

[code]

The same thing occurs for clippy lints:
[code]

[code]

To reiterate: the issue is that attributes for silencing warnings are ignored when placed on expressions. I realize now the first example might be an issue with higher pre

[2022-06-05 01:44] iMonZ commented on #48862
`rustc --print target-list       ` shows "aarch64-apple-tvos" but then I get the error:

[2022-06-05 02:15] est31 commented on #97748
For #97266 I've recently become very familiar with the code that determines lint levels. @rustbot claim

[2022-06-05 02:19] JohnTitor commented on #97682
Opened #97750, and retitled this issue as the issue is not limited to UI test, I think.

[2022-06-05 03:09] veber-alex opened #97751 "Heap allocation of Arc not optimized out compared to Rc"
I tried this code:

[code]

[godbolt link](https://godbolt.org/z/vTqToedE1)

I expected to see this happen: The heap allocation of both the `Rc` and the `Arc` should be optimized out.

Instead, this happened: Only `Rc` got the optimization.

Looking at the code of `Rc::new` and `Arc::new` the obvious difference is that `Rc` uses `box_syntax` while `Arc` uses `Box::new`, however I did not investiga

[2022-06-05 03:10] veber-alex commented on #97751
@rustbot modify labels +I-slow

[2022-06-05 03:42] edgimar commented on #97714
Ok, I can confirm that this issue appears to be fixed when testing with rustc 1.63.0-nightly (4e725bad7 2022-06-04).  Hoping this will make it into a stable release sooner than later.

[2022-06-05 03:42] #97714 closed

[2022-06-05 03:50] ehuss commented on #97748
I believe the `arithmetic_overflow` example is because attributes bind tighter than any other operator, so the attribute is part of the expression `200`, not `200 + 200`.  You have to place the addition expression in parenthesis for it to work.  See https://rust-lang.github.io/rfcs/0016-more-attributes.html for more.

[2022-06-05 03:52] est31 commented on #97748
Oh yeah good point

[2022-06-05 04:08] mbartlett21 commented on #61137
@onlineSoftwareDevOK It seems to be an internal way to get tests for variance:

For example: this is one of its tests:

https://github.com/rust-lang/rust/blob/673d0db5e393e9c64897005b470bfeb6d5aec61b/src/test/ui/variance/variance-regions-direct.stderr#L1-L9

[2022-06-05 04:10] ghost opened #97753 "Mathematical Sans-Serif Italic Capital Z improper .to_lowercase functionality."
I tried this code:

[code]

I expected to see this happen: The Mathematical Sans-Serif Italic Capital Z should have become Mathematical Sans-Serif Italic Small Z.

Instead, this happened: It is still Mathematical Sans-Serif Italic Capital Z.

### Meta

Bug exists in Stable, Beta, and Nightly.

`rustc --version --verbose`:
[code]

[2022-06-05 04:13] compiler-errors commented on #97734
Perhaps we can limit the number of E0425 to emit here..

[2022-06-05 04:14] RatPerished commented on #97753
I have also had this issue, very annoying how Mathematical Sans-Serif Italic Capital Z does not become Mathematical Sans-Serif Italic Small Z.

[2022-06-05 05:22] clarfonthey commented on #48594
I don't think this was explicitly part of the RFC but another thing that might be worth including before stabilisation: right now labels aren't allowed before statements or expressions, particularly ones that *feel* like blocks, e.g. the below just shows an unhelpful syntax error:

[code]

I think that this could be implemented for all expressions since even something weird like the below could be

[2022-06-05 05:39] compiler-errors commented on #97267
I looked into this one. Seems like there's not really a good way of getting a `TypeTrace` to find out what subtyping relation caused `'a: 'static` to be required...

We have a really bare struct [`ConstraintCategory`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/mir/enum.ConstraintCategory.html) that characterizes the region constraint. That's where we get the wording `type annotat

[2022-06-05 05:39] ehuss commented on #97753
This is a mapping defined by the Unicode standard. They explicitly decided not to define case mappings for the mathematical alphanumeric symbols, presumably because changing the case of a symbol would change its semantic meaning. Due to [character encoding stability](https://www.unicode.org/policies/stability_policy.html#Case_Pair), I do not believe this mapping can be changed.

[2022-06-05 05:44] compiler-errors commented on #97256
This regression is related to #97267 (kinda, not really, but bear with me) -- all we have is the two regions' spans and a  [`ConstraintCategory`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/mir/enum.ConstraintCategory.html) that tells us to print `"returning this value"` before "`requires that [...]`".

We could add more rich information into `ConstraintCategory::Return`, perhaps?

[2022-06-05 05:44] Zre17 commented on #97753
With help from @RatPerished , here is the fix for the .to_lowercase and .to_uppercase. We omitted Greek characters and unmapped characters. We know this won't get in because of canonical Unicode mapping, but you can add it to your rustc if you wanted to anyways.
[rust_to_lowercase_fix.txt](https://github.com/rust-lang/rust/files/8839389/rust_to_lowercase_fix.txt)
[rust_to_uppercase_fix.txt](https:

[2022-06-05 06:00] #73426 closed

[2022-06-05 06:43] ivan770 commented on #95719
This issue is probably related to #90696, since I was able to run your code by adding `for<'a> <G as Get>::Ret<'a>: Send + Sync` bound: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=6827058de35474e1afc64733741d95f7

[2022-06-05 07:14] Kampfkarren commented on #89554
I would like to move forward on this as we are currently using this in [selene](https://github.com/Kampfkarren/selene), but gated by nightly-only CI.

The "Lint message needs to be improved" is doable.

Unsure how the lint name could be improved. CC @camelid since you brought up the concern

[2022-06-05 10:17] tschuett opened #97755 "lld-wrapper failed on Darwin"
lld-wrapper is unhappy.

I tried this code:

[code]

Instead, this happened:
[code]

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

Note that this worked for months. This is a regression for me.

[2022-06-05 10:23] kevincox commented on #97734
In this case 1 is already to many. It might be a mitigation but it doesn't really solge the problem. It seems that that error should only be emitted if the module was evaluated correctly. Otherwise it will be full of false positives.

[2022-06-05 12:14] c410-f3r opened #97758 "Lifetimes should be able to use raw identifiers"
Feel free to close this issue if duplicated.

For example, `type Foo<'as> = &'as i32;` is illegal but `type Foo<'r#as> = &'r#as i32;` is also illegal so reserved keywords are an absolute no-no in this situation.

It is worth mention that this issue is focusing on raw identifiers, i.e., things like `_` prefixes are not considered.

[2022-06-05 13:32] jonasbb opened #97760 "Rust diagnostic for `impl Trait` suggests broken code"
Given the following code:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=87a0987f6c8b7b1a67b03338e2a4ed09
The issues also reproduces with the nightly version on the playground.

[code]

The current output is:

[code]

The proposed code has multiple problems.
The code doubles the `where` leading to broken Rust.
The diagnostic correctly introduces the `I: IntoIterator`, but

[2022-06-05 13:42] acim commented on #97520
This happens at GitHub Actions as well. I am using Buildx there and amd64 works fine, but arm64 fails in some repos with error 137.

[2022-06-05 14:01] Allaman commented on #97520
@acim I also encountered issues while building with buildx that I couldn't solve and gave up :(
(in [this](https://github.com/Allaman/nvim/blob/main/Dockerfile) repo if you are interested)

On dedicated machines both builds, arm64 and amd64, are working fine. So in my opinion we must blame buildx 😄

Your image is building on my arm64 (Apple Silicon)
<img width="1149" alt="image" src="https://user-

[2022-06-05 14:15] acim commented on #97520
Yes, weird, it also works in my other repo with the same pipeline and basically the same Dockerfile. I ended up disabling arm64 build until this gets resolved. I have no real arm64 to try it myself and I am lazy to try it with Qemu on my amd64. You probably have more available memory on your dedicated build machine.

https://github.com/ectobit/vanity/runs/6517723546?check_suite_focus=true

[2022-06-05 15:19] Kixiron opened #97762 "`x build src/tools/miri` doesn't install miri as part of the built toolchain"
Running `x build src/tools/miri` doesn't include miri as part of the built rust toolchain, meaning that `cargo +custom-toolchain miri` doesn't work

cc @jyn514

[2022-06-05 15:20] Kixiron commented on #97762
@rustbot label +A-rustbuild

[2022-06-05 15:36] Cerber-Ursi commented on #86241
Just checked in playground - seems to be fixed for now, probably should be closed?

[2022-06-05 16:21] ehuss commented on #86241
Yea, I'm going to close as resolved by #94584.

[2022-06-05 16:21] #86241 closed

[2022-06-05 18:18] compiler-errors commented on #97760
Working on this.

[2022-06-05 19:31] ghost opened #97769 "error: unknown --json option future-incompat"
I am trying to build my plugin but I get these errors, any ideas on how to fix it?
I also tried with old versions of rustc and cargo but nothing changes.

![1](https://user-images.githubusercontent.com/106928975/172066981-2b752119-1c78-4f31-a086-fcd8478c2a45.png)
![2](https://user-images.githubusercontent.com/106928975/172066982-fc556eb2-f431-4cc4-8262-623ed5f01a9c.png)
![3](https://user-images.gi

[2022-06-05 19:33] cyrozap commented on #92897
I was having the same issue, but updating to rustc 1.59.0 (and later versions) fixed it for me.

[2022-06-05 19:39] Mark-Simulacrum commented on #92897
Based on the dates I believe this should be fixed across all channels at this point, so going to go ahead and close.

[2022-06-05 19:39] #92897 closed

[2022-06-05 19:49] ibraheemdev commented on #97601
Would it be better for this to return `Result<[Option<&mut V>; N], DuplicateKeys>`?

[2022-06-05 22:14] joshtriplett commented on #83186
Nominating to consider stabilization.

[2022-06-05 22:45] JakobDegen commented on #97092
So, I do agree that there is an issue here, but I don't think the issue is the one that is described. I for some reason forgot to include it in the MIR docs, but my working model of `FakeRead` has been that it is a nop at AM runtime. If that is the case, it is effectively just an analysis artifact and certainly sound to remove. However, this issue makes a good point - it seems like we want match e

[2022-06-06 00:59] Cassy343 commented on #94191
@rustbot claim

[2022-06-06 01:16] lqd commented on #97755
Is this issue related to https://github.com/rust-lang/rust/pull/97375 ?

[2022-06-06 01:41] onlineSoftwareDevOK commented on #61137
@mbartlett21 Thanks for your answer. That logic compiles. Where is the error? What am I missing?

[2022-06-06 02:27] mylvghb opened #97775 "Calling the read method of a raw pointer causes the program to exit with an error"
Code:

[code]

Output:

![image](https://user-images.githubusercontent.com/35945793/172084187-39201331-0ed4-4038-b962-dbaa316341fe.png)

### Meta

[code]

[2022-06-06 02:57] ChrisDenton commented on #97775
I think this is dropping the `Vec` twice. See [Ownership of the Returned Value](https://doc.rust-lang.org/std/ptr/fn.read.html#ownership-of-the-returned-value).

So when you call `read()` you create a bitwise copy of the `Vec`. When that copy goes out of scope, the heap memory is freed. But then `x` goes out of scope and the same heap memory is freed again.

[2022-06-06 03:01] unitsoftrover opened #97776 "Macro expand too slowly,there some way to cache Macro like cache function."
I use diesel crate to develope some ERP function,found macro "Table!" expand very slowly every time.  If it can store the expanded result in cache like "function cache" after the first time,  as long as the table definition is not modifie, it will improve the expanding speed a lot.

like:
#[cached]
fn fib(n: u64) -> u64 {
    if n == 0 || n == 1 { return n }
    fib(n-1) + fib(n-2)
}

as:
#[cached

[2022-06-06 03:12] mylvghb commented on #97775
@ChrisDenton Thanks!

[2022-06-06 03:21] mylvghb commented on #97775
@ChrisDenton When I assign to a variable, it's Ok. Why?

Code:

[code]

Output:

![image](https://user-images.githubusercontent.com/35945793/172089078-9cb7059e-3d51-42fe-ac9e-6651681a4208.png)

[2022-06-06 03:55] rust-highfive opened #97777 "`miri` no longer builds after rust-lang/rust#97710"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#97710, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @RalfJung, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-06-06 04:09] ChrisDenton commented on #97775
I would assume that you're just lucky here. A double drop is Undefined Behavior, which means anything can happen. And "anything" includes working as without error.

[2022-06-06 04:21] jyn514 commented on #54880
The ast-json flag was removed in  https://github.com/rust-lang/rust/pull/85993.

[2022-06-06 04:21] #54880 closed

[2022-06-06 06:25] mbartlett21 commented on #61137
@onlineSoftwareDevOK
In other words, it isn't an error that would be presented to end users, since they have to have `#![feature(rustc_attrs)]` for it to appear. Presumably the documentation could just have a table mapping the symbol shown to the variance:

Symbol | Variance
-------|----------
`-`    | contravariant
`+`    | covariant
`o`    | invariant
`*`    | bivariant

[2022-06-06 07:33] pietroalbini commented on #97682
[`remap-debuginfo` is set when the builder deploys dist artifacts.](https://github.com/rust-lang/rust/blob/760237ff785fd14ac7fdab799f4d695d86cf9cbf/src/ci/run.sh#L72-L75)

[2022-06-06 08:06] tschuett commented on #97755
I found no traces of the last working nightly.

[2022-06-06 08:26] pietroalbini commented on #97682
Found the cause of the mismatch between `remap-debuginfo = true` and `remap-debuginfo = false`!

When `-Z simulatem-remapped-rust-src-base` is passed to the compiler, when loading the standard library's `rlib`/`rmeta` file paths are remapped on the fly, reproducing the same behavior of `remap-debuginfo = true`. This is correct.

https://github.com/rust-lang/rust/blob/9a74608543d499bcc7dd505e195e8b

[2022-06-06 09:40] nikomatsakis commented on #97092
At first I thought that perhaps there was confusion because of miri potentially processing things after optimization. But I think you are saying: what should the official operational semantics of a FakeRead be?

If so, it is *meant* to be equivalent to `&x` -- i.e., a logical read of all reachable content -- at least in terms of its borrow check equivalent (I'm not totally sure how stacked borrows

[2022-06-06 09:54] xFrednet commented on #97660
@rustbot claim. I'll go through these lints one by one. The first two were caused by wrong emission functions on Clippy's side.

Todo List:
* [ ] `needless_borrow`
* [ ] `ref_binding_to_ref`
* [ ] `duplicate_mod`
* [ ] `multiple_inherent_impl`
* [ ] `macro_use_imports`
* [ ] `manual_non_exhaustive`
* [ ] `same_name_method`
* [ ] `async_yields_async`
* [ ] `await_holding_lock`
* [ ] `await_holding_

[2022-06-06 09:54] matthiaskrgr opened #97788 "rust could suggest "use" if it finds something like "import ... crate::""
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-06-06 10:03] blueglyph commented on #64248
Same problem here.

[2022-06-06 10:07] pietroalbini commented on #97682
Opened https://github.com/rust-lang/rust/pull/97789 to fix the test, and https://github.com/rust-lang/rust/pull/97786 to fix the behavior of `-Z simulate-remapped-rust-src-base` to be consistent.

[2022-06-06 10:12] petrochenkov commented on #97755
It's certainly somehow related because `-rustc-lld-flavor` didn't exist before that, but I don't know how it can happen, `-Wl,-rustc-lld-flavor=darwin` is in fact passed as snipped posted in the original message shows.

[2022-06-06 10:22] gelfand commented on #61465
Same here with adt-const-params
[code]

code:
[code]

[2022-06-06 10:29] MaeIsBad commented on #77537
Just to add to this, every person I mentioned this issue to(which, to be fair, was only 3 people) agreed that the found the redirect annoying and would've preffered a /std redirect

[2022-06-06 10:33] JohnTitor commented on #64248
@blueglyph Note that this issue is about our CI builder.

[2022-06-06 10:43] #90866 closed

[2022-06-06 10:43] #96954 closed

[2022-06-06 10:43] #97704 closed

[2022-06-06 11:02] Urgau commented on #97601
I don't think so, returning a `Result<_, DuplicateKeys>` would different from any other `get` methods on `HashMap`; they all return `Option<_>` of something; And returning a individual `Option` for every entry would completely change the semantic of the function and make things more difficult for peoples who wants all or nothing to achieve it.

[2022-06-06 11:31] Bromeon opened #97790 "Stack space used by assertions ever-growing with opt-level=0, causing stack overflow"
When using bindgen, I ran into the issue that the generated tests -- which can contain a lot of `assert_eq!` statements in one function -- seem to linearly allocate stack space, not reusing space from a previous independent assertion. With a sufficient number of statements, this causes a stack overflow.

The problem does not occur with `RUSTFLAGS=-C opt-level=2`.

I made a reproducible example [in

[2022-06-06 11:49] RalfJung commented on #97777
Duplicate of https://github.com/rust-lang/rust/issues/97745

[2022-06-06 11:49] #97777 closed

[2022-06-06 11:58] petrochenkov commented on #97352
Closing this issue, lld-wrapper cannot be removed until
- rustup can support symlinks or hardlinks, or the rust-lld copy of lld can be removed (for now it needs to be kept at least for some backward compatibility)
- lld supports passing flavor through gcc/clang reliably, e.g. by supporting the `-flavor` option on any position.

[2022-06-06 11:58] #97352 closed

[2022-06-06 11:59] RalfJung commented on #97092
`&x` would just be creating a reference; Stacked Borrows treats that as a logical read but that might change (for `&mut` and writes, this turned out to be [problematic](https://github.com/rust-lang/unsafe-code-guidelines/issues/133)).

[2022-06-06 12:01] Dylan-DPC commented on #39032
This issue seems resolved now as the code works as intended

[2022-06-06 12:01] #39032 closed

[2022-06-06 12:11] passcod opened #97793 "Error is not the best with mistyping Struct instead of struct"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=0c755cbfa505e42fb58dd902968675e5

[code]

The current output is:

[code]

Identical on stable and nightly (per playground).

It would be friendler to show some help about the proper casing of `struct`.

[2022-06-06 12:21] apiraino commented on #97549
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2397549.20Higher.20memory.20usage.20on.20Rust.201.2E61.2E0.20.28compared.20to.201.2E60.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2022-06-06 12:25] ChrisDenton commented on #97790
A workaround on Windows is to increase the maximum stack size. For example, in a `.cargo/config.toml` configuration file (where `0x800000` is the size in bytes):

[code]

[2022-06-06 12:41] petrochenkov commented on #97402
If we don't need to support old versions then the main alternative to `-B directory` (https://github.com/rust-lang/rust/pull/97375) is always using `-fuse-ld=lld`.
In that case we'd keep multiple "symlinks" named `ld.lld`, `ld64.lld` etc in our directory, and C compiler will find them.

This would be nice in cases where we ship *both* classic LD and LLD, like with windows-gnu targets.
`-Clink-self

[2022-06-06 12:44] RalfJung commented on #97699
Cc @rust-lang/wg-diagnostics : IMO it is a bug in the rustc diagnostic printing that it entirely omits information attached to spans where the source is missing. Is there anything we can do about that?

[2022-06-06 12:52] Sinan-Karakaya opened #97796 "BSOD when installing on WSL2"
Description:
Windows 11 BSOD with system_memory_management error while installing rustc using this command :
`curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh`

How to reproduce:
Just launch this command in Ubuntu 20.04 for WSL2 and choose the default installation, then wait a few seconds.

In the end, rustc seems to be corrupted and wasn't able to compile a hello world file.
Re-laun

[2022-06-06 12:59] tschuett commented on #97755
[code]

[code]

[code]

[2022-06-06 14:22] petrochenkov commented on #97402
Yes, I mean `-B` will still be used in addition to `-fuse-ld` if we are in self-contained mode.

I couldn't find such logic in GCC's source code.

[2022-06-06 14:29] wwylele commented on #97796
Is this the same as https://github.com/rust-lang/rust/issues/96245?

[2022-06-06 14:34] petrochenkov commented on #97755
Yes, output of lld-wrapper with `dbg!(arg)` inserted here https://github.com/rust-lang/rust/blob/master/src/tools/lld-wrapper/src/main.rs#L67

(You don't need whole compiler build to rebuild lld-wrapper, it's a single-file standalone program, it can be built with `rustc` directly or with `cargo build`, and then temporarily put into the `gcc-ld` directory.)

[2022-06-06 14:57] tschuett commented on #97755
[code]
[code]

[2022-06-06 14:59] tschuett commented on #97755
Note that main:rs73 is the failure case.

[2022-06-06 16:34] wesleywiser opened #97799 "Identifiers introduced via `if let` binding can't be debugged"
Identifiers introduced via an `if let` binding can't be inspected in the debugger. For instance:

[code]

Stopping the debugger on line 3 shows no variables in scope other than the function argument `o`. I tested this in both gdb and WinDbg.

This appears to be because rustc generates incorrect scoping information for the call to `zzz`. Looking at the LLVM IR, I see

[code]

Which puts the call to

[2022-06-06 16:38] archshift commented on #90957
This was recently marked ready to merge 3 months ago. Has anything changed since then?

[2022-06-06 17:01] BatmanAoD commented on #74990
Blocked on https://github.com/rust-lang/rust/issues/97659.

[2022-06-06 18:14] estebank commented on #97793
@TaKO8Ki while you're at it, we probably should 1) create a `kw::*` to "concept string" map, and 2) do a levenshtein distance check between current and previous token against that map to see what you might have meant. That would make the report be better for more than just this one case.

[2022-06-06 18:42] tschuett commented on #97755
I don't know whether rustc has utilities for handling response files

[2022-06-06 19:14] estebank commented on #97685
I'm somewhat surprised because I thought we were already silencing resolution errors for paths starting with identifiers that have already emitted a failure, but it seems like [our handling of `extern crate foo`](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=567a60d8cd1f9e4cc092f485e80fed43) isn't as comprehensive as I'd thought.

It should be relatively straightforward t

[2022-06-06 19:18] compiler-errors commented on #97788
@rustbot claim

[2022-06-06 19:22] #97775 closed

[2022-06-06 19:29] estebank commented on #97699
We could emit the information as a `note` instead of a label, but the wording would likely refer to "this blah", making it seem like it's referring to whatever is being pointed at in the main window. That might cause things to be misinterpreted. Another option would be to emit a note when `rustc-src` isn't present asking the user to install it when we encounter cases like this one.

[2022-06-06 19:35] programmerjake opened #97804 "Array Repeat operator should not use a loop for small sizes"
This likely caused poor assembly for `Simd::splat` in some circumstances:
https://rust-lang.zulipchat.com/#narrow/stream/257879-project-portable-simd/topic/Very.20bad.20.60u16x8.3A.3Asplat.60.20codegen.20on.20x86_64

I opened a PR for a workaround: https://github.com/rust-lang/portable-simd/pull/284

Reduced reproducer:
https://godbolt.org/z/rhvEjz5MW
[code]

[code]

[2022-06-06 19:57] estebank commented on #97618
We *might* want to consider adding yet another dumping ground field in the `Res` itself or in `Resolver`... But at that point it seems like too much mem consumption for little gain. The other option is to delay the emitting of these errors until later, but that also seems... like a lot of additional complexity :-/

[2022-06-06 20:00] compiler-errors commented on #97618
For now, I guess it wouldn't hurt just to filter suggesting paths that are literally `["core", "intrinsic", ..]` (and `std::intrinsic::*`) instead of going thru all of the work of adding more info to the `Res`. I can put up a PR that does that later.

[2022-06-06 20:48] nagisa commented on #97796
Sorry, broken operating systems are not a rustc bug.

[2022-06-06 20:48] #97796 closed

[2022-06-06 20:49] nagisa commented on #96245
Sorry, broken operating systems are not a rustc bug. Please contact your operating system vendor.

[2022-06-06 20:49] #96245 closed

[2022-06-06 20:54] nagisa commented on #97723
Does it still fails if you set `-Cforce-unwind-tables=y` (but not frame pointers)?

[2022-06-06 20:56] nagisa commented on #97723
triage note: this is most likely unrelated to debuginfo. Usual mechanisms for unwinding are uwtables or frame pointers, both mechanisms are independent of debuginfo.

@rustbot label -A-debuginfo

[2022-06-06 21:23] TheIronBorn opened #97806 "ICE: need_type_info unexpected path"
### Code

[code]

This may be related to https://github.com/rust-lang/rust/issues/97698

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-06 21:25] asomers commented on #97723
Yes, it still fails if I use `RUSTFLAGS="-Cforce-unwind-tables=y"`

[2022-06-06 21:43] mprovost commented on #62569
This issue comes up in every program in the book on Rust CLI programming
that I'm writing and takes a lot of explanation. At the moment my "best"
solution is to catch the BrokenPipe error and exit with a 141 status but
that's still problematic for the reasons that others have listed. I'd
prefer to have this as a flag for rustc which can be controlled from cargo.
Encoding it into the program doesn'

[2022-06-06 22:36] nagisa commented on #97723
And if you br/bt in a similar location in gdb or use other unwinding implementations?

[2022-06-06 23:17] thomcc commented on #97804
I wonder if this would be something that could/should be done as an MIR optimization?

[2022-06-06 23:18] asomers commented on #97723
Yes, gdb can print stack traces even without a custom `RUSTFLAGS`.

[2022-06-06 23:22] rstk opened #97810 "Unhelpful error message with identifiers named `box`"
The following code, which won't compile because of (edited: ~#49733~) #29641
[code]
yields an unhelpful error message:
[code]
Particularly confusing if your text editor doesn't highlight `box`! It would be nicer to show some help proposing to rename the variable.

[2022-06-06 23:22] #91733 closed

[2022-06-06 23:23] programmerjake commented on #97804
i did some research: in mir, array repeat is a single opcode, translation to a loop occurs in the llvm and gcc backends:

https://github.com/rust-lang/rust/search?q=write_operand_repeatedly

[2022-06-06 23:37] ghanan94 opened #97811 "Coherence issue when using crate-local traits with type parameters"
When using crate-local traits with type parameters, it seems rust incorrectly thinks that downstream crates may implement the trait (which we know to be impossible as the traits are crate-local).

See this (playground)[https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=44ed8db978b15942267b47bb8941097b].

Also captured here for readability:
[code]

Expected both impls to compil

[2022-06-06 23:40] ghanan94 commented on #97811
cc: @brunowonka @zeling

[2022-06-06 23:55] compiler-errors commented on #80161
(for the record, this works w/ polonius)

[2022-06-07 00:06] joshtriplett commented on #90957
I think it just needs a stabilization PR.

[2022-06-07 00:39] winksaville commented on #54724
I'm a noob, but recently while experimenting with proc_macro I discovered a specific circumstance where def_site works and call_site doesn't. [Here is the repo](https://github.com/winksaville/expr-proc-macro-def-site).

I created 3 proc_macro's. In `inner_using_outer_declarations_via_fn`  where I create `do_something` using `Span::def_site()` and in `inner_using_outer_declarations_via_temp` I crea

[2022-06-07 01:50] ChayimFriedman2 commented on #97810
This can be done for any reserved word, not just `box`.

@rustbot claim

[2022-06-07 03:02] raiyansayeed commented on #94905
Hey @camelid , just wondering if you're still working on the task?

[2022-06-07 03:03] raiyansayeed commented on #96346
Hey @kckeiks , are you still working on this task?

[2022-06-07 03:30] onlineSoftwareDevOK commented on #61137
@mbartlett21 Thanks again. Why am I not able to replicate error E0208? Here's the output I get

[code]

Code is:

[code]

[2022-06-07 04:09] ChrisDenton opened #97814 "Windows: Dynamically loaded functions may not be loaded before user pre-main initializers"
first reported at https://github.com/estk/log4rs/issues/263 and https://github.com/mmastrac/rust-ctor/issues/219

## The Problem

On Windows, code can run functions before main by using special link sections. Placing function pointers in `.CRT$XCU` allows the runtime to find and call the functions before it calls `main()`. [More info](https://docs.microsoft.com/en-us/cpp/c-runtime-library/crt-init

[2022-06-07 04:30] bernaferrari commented on #35968
Not anymore 😛

https://developer.apple.com/documentation/xcode-release-notes/xcode-14-release-notes

[2022-06-07 05:04] #97745 closed

[2022-06-07 05:10] est31 commented on #97810
@rstk FTR you linked to the wrong issue, you should have linked to #29641, as it's a box *pattern* not a box *expression* in the case of your snippet.

[2022-06-07 05:20] compiler-errors commented on #80844
This seems to be resolved on nightly.

[2022-06-07 05:20] #80844 closed

[2022-06-07 07:33] petrochenkov commented on #97755
Ok, it's actually clang that packs the command line into a `@file`, so we cannot control or predict when it happens.
That's pretty bad.
I guess we'll have to partially revert https://github.com/rust-lang/rust/pull/97375 and use something based on file names, like https://github.com/rust-lang/rust/issues/97402#issuecomment-1147404520.

[2022-06-07 07:33] m-ou-se commented on #93740
We could also still do [what you suggested](https://github.com/rust-lang/rust/issues/85434#issuecomment-848626679) and `try_lock` the lock before dropping or leaking it.

I've tried through various routes, but it seems like we will not be able to use those APIs any time soon, unfortunately.

Yes, using `os_unfair_lock` together with a queue or thread parker based condition variable would be a good

[2022-06-07 07:35] petrochenkov commented on #97402
Update: turns out we cannot pass `-rustc-lld-flavor=<flavor>` through clang reliably because it can pack linker command line into `@file`s.
So we'll have to partially revert https://github.com/rust-lang/rust/pull/97375 and use something based on file names like https://github.com/rust-lang/rust/issues/97402#issuecomment-1147404520.

[2022-06-07 07:45] #58781 closed

[2022-06-07 07:45] #43234 closed

[2022-06-07 07:54] Roryl-c opened #97820 "ICE: "unexpected path" when reporting type annotations needed"
[playground repro](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=afeaf312d306d74386b4252c16304be4)
Does not repro on beta or stable

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-07 07:58] Roryl-c commented on #97820
maybe it's because I didn't know what I was looking for before, but I only just now noticed a couple other issues about this bug, this is probably a duplicate. My bad! Seems to be a shorter repro than the others though so that might be useful

[2022-06-07 08:00] m-ou-se commented on #94564
It fails with a different stack trace now:

[code]

[2022-06-07 09:20] Globidev commented on #91639
In contrast to:

Helping beginners in Rust every day, I can't even count the number of times where someone has been asking for help by posting a snippet of code that had elided lifetimes in some paths which made it obscure for others to understand the lifetime issue that was involved.
For some of the beginners in question, it made them think that lifetimes were not actually involved since they cou

[2022-06-07 09:36] koute commented on #91639
This sounds like perhaps the error messages could be improved to make it less confusing for the beginners? Or perhaps improve the IDE experience so that the IDE automatically shows you those `'_` without you having to write them out by yourself (if it doesn't already; I don't use this feature so I don't know), just like it can currently show you the elided types as seen here:

![inlay-hints](https

[2022-06-07 10:40] tjallingt commented on #87840
Would love to see this get stabilized. Not sure what the right process is to start an FCP

[2022-06-07 13:23] apiraino commented on #94564
I've tried with the latest nightly on a Debian/bookworm with libc `2.33-7` and it still works. I compiled the [test code](https://github.com/rust-lang/rust/pull/96208/files) with:
[code]

But is my test relevant? I also mention the libc version since in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/crt-static.20.2B.20LTO.20yields.20crash.20.2394564) I un

[2022-06-07 13:50] #94972 closed

[2022-06-07 14:03] tanriol commented on #87074
What are the safety implications of `Into<OwnedFd>` and/or `From<OwnedFd>` and are they documented somewhere?

For example, do I understand correctly that wrappers using `ioctl` for working with hardware shall never implement `From<OwnedFd>` or, alternatively, shall verify that the OwnedFd they're created from actually belongs to a device of that type? Are there some other APIs or groups of APIs t

[2022-06-07 14:28] sunfishcode commented on #87074
There is documentation [here](https://doc.rust-lang.org/nightly/std/os/unix/io/index.html), and more coming with https://github.com/rust-lang/rust/pull/97178.

`OwnedFd` is just about who calls `close`. If you have `ioctl` wrapper functions that take a file descriptor operand and leave the file descriptor open, they should not use `From<OwnedFd>`. If you have a wrapper type meant to close the file

[2022-06-07 14:57] tanriol commented on #87074
If my understanding is correct, there's one more component that you're not mentioning here: implementing `From<OwnedFd>` for a type means that this type can safely work with an `OwnedFd` created from **any** type implementing `Into<OwnedFd>`.

Sure, for `read` and `write` that should be quite obvious except for some degenerate cases. However, what if a user safely does the following:
- using a cra

[2022-06-07 15:10] sunfishcode commented on #87074
Ah, yes. I'm not familiar with the V4L2 APIs myself, but this sounds similar to the case with `mmap`. APIs exposing such functions must be `unsafe`, unless they fully encapsulate the ability to write to arbitrary memory addresses. This isn't specific to `OwnedFd`, and should already be the case in Rust today.

[2022-06-07 15:23] sunfishcode commented on #87074
For example, [`rustix::io::read`] is a wrapper around the `read` system call. The system call takes a raw pointer so it could write to any address. The API encapsulates the unsafety by only allowing users to pass in a Rust slice, rather than an arbitrary pointer value, so it can be a safe API.

[`rustix::io::mmap`](https://docs.rs/rustix/latest/rustix/io/fn.mmap.html) on the other hand doesn't ful

[2022-06-07 15:35] apiraino commented on #96956
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2396956.20.22warning.3A.20unnecessary.20lifetime.20parameter.22.20unsilencea.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2022-06-07 15:48] the8472 commented on #87074
I'd say this is a bit of a grey area. You can already do extremely dangerous (including memory safety) things just by writing to things like `/proc/self/mem` or (if you have root) `/dev/sdx`. We usually ignore those ambient footguns because otherwise even opening files could be unsafe (after all merely opening something on a FUSE filesystem could trigger _anything_).

It leaves the judgment call h

[2022-06-07 15:49] jonabit opened #97836 "ICE: 'no entry found for key' when using `for<T> T: Copy` in current nightly and beta"
This little snippet results in an ICE on current `nightly` and `beta` in the playground today. On stable there's no such error.

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-06-07 15:51] madsmtm commented on #36193
This has recently been implemented as an unstable feature, tracking issue here: https://github.com/rust-lang/rust/issues/94501

[2022-06-07 16:02] kckeiks commented on #96346
@raiyansayeed I was but I have a couple more issues that I'm working on so you can take this one if you want.

[2022-06-07 16:04] Amanieu commented on #36193
Closing in favor of the tracking issue.

[2022-06-07 16:04] #36193 closed

[2022-06-07 16:06] madsmtm commented on #47027
`std::os::raw` has recently been moved to `core::ffi` under an unstable feature flag, so that may be able to solve the duplication issue between `libc` and `std` in the future (at some point in the far future when `libc` drops support for Rust versions that doesn't have this).

Tracking issue here in case you want to provide input: https://github.com/rust-lang/rust/issues/94501

[2022-06-07 16:06] jhpratt commented on #94970
If `staged_api` is intended to be stabilized at some point, there should be some way for stdlib to indicate that it is special to the compiler. I know I've used `#![feature(staged_api)]` as a check to see if the crate being compiled is stdlib.

[2022-06-07 16:06] tschuett commented on #97402
Note that:
[code]
offers a wide range of gccs: from v4.9 to v12 on my Mac. I never bothered to try them. My Apple clang is fine.

[2022-06-07 16:16] madsmtm commented on #94501
The [introductory docs for `core`](https://doc.rust-lang.org/1.61.0/core/index.html) currently says:

So that should probably be modified slightly if we go with this change? (Which I am greatly in favour of btw)

[2022-06-07 16:28] SimonSapin commented on #94501
Should these items also be available in `std::ffi`, in order to keep `std` a superset of `core`? (Though in this case it’s redundant with `std::os::raw`)

[2022-06-07 16:41] sunfishcode commented on #87074
I've now opened https://github.com/rust-lang/rust/pull/97837 to add documentation about `/proc/self/mem`.

[2022-06-07 16:46] Pyrromanis commented on #97422
@AurelienFT are you still working on it?

[2022-06-07 16:56] the8472 commented on #87074
This is specific to `/proc/self/mem`, it's just an easy example. There are many many accessible OS features that can subvert safety, doubly so if you're root.

----

Regarding things that take `AsFd`, I don't think people will defend against shared file descriptions in practice because it means that seek positions can change under their nose and being defensive about that gets really tedious and t