[2021-02-24 07:28] moxian commented on #82466
Can you elaborate on how would `Any` exhibit memory unsafety in presence of specialization?

[2021-02-24 07:28] dcow commented on #79408
If you set the version high enough, it appears you do get the newer load command:
[code]

[2021-02-24 07:32] ubamrein commented on #79408
Ah yes, sorry my answer was edited multiple times, so this probably did not come across. Those load commands are emitted for the newer llvm-targets automatically (XCode itself is using the same LLVM-Targets).

[2021-02-24 07:53] theunkn0wn1 opened #82470 "ICE with async_trait"
Note: ~~This also requires a incorrectly configured `Cargo.toml`, one that declares *but doesn't enable* `async_trait`.~~ The easiest way to reproduce this bug is to clone this repository: https://github.com/theunkn0wn1/Rust-ICE-0

This occurs both on stable and nightly.

### Code

[code]

### Meta

[code]

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Ba

[2021-02-24 09:00] SkiFire13 commented on #82466
I can't see how you could specialize/override any `Any`'s method, even with full specialization feature:

* All the `downcast` methods use `<dyn Any>::is` which can't be specialized because it isn't a trait method.

* `<dyn Any>::is` internally uses `Any::type_id`, however you can't specialize it because it's not declared as `default` in the blanklet `impl`.

* You can't even declare other non-ove

[2021-02-24 09:16] thomcc commented on #82423
You should make sure this works on macOS pre-10.12, as this version changed how a number of things work (possibly most relevant being interpose)

[2021-02-24 09:20] mahkoh commented on #82101
That is what my example does.

[2021-02-24 09:37] apiraino commented on #82400
@de-vri-es and   @rustbot ping libs

any insights to share about this?

[2021-02-24 09:47] catenacyber commented on #82144
It sets `opt-level` to 3 for some crates... So is it really not a problem ?

And it works for my ecc-diff-fuzzer (where there is only a little part of Rust)
Yes, and this worked at some point for Suricata (maybe LLVM 11 indeed)

I will try that again

Version 5 seems only an extension, so it should not be incompatible, or am I missing something ?

It looks like when I try to instrument only rust f

[2021-02-24 09:56] apiraino commented on #82455
@rustbot ping icebreakers-cleanup-crew

can we add a bit more detail and trace where this starts?

[2021-02-24 09:57] apiraino commented on #82455
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2382455.20Compiler.20panic.20with.20incorrect.20JoinHandle.20in.20thread_l.E2.80.A6) and removing `I-prioritize`.

@rustbot label -I-prioritize +P-medium

[2021-02-24 10:01] jeffsmith82 opened #82471 "str::splitn(N, ' ') is slower than it ought to be"
I wrote a small benchmark and was surprised at how much slower it was using str::splitn rather than using bytes directly.

splitn
Time elapsed in parse_response() is: 2.290853462s

as bytes
Time elapsed in parse_response() is: 661.947666ms

Is it possible to do something similar to https://github.com/rust-lang/rust/issues/46693 where if splitting on a single byte.

https://users.rust-lang.org/t/pe

[2021-02-24 10:04] #77355 closed

[2021-02-24 10:10] de-vri-es commented on #82400
Hmm, maybe this has something to do with it: https://android.googlesource.com/platform/bionic.git/+/master/libc/SYSCALLS.TXT#264

[code]

I've never heard of the "socketcall syscall" before, but apparently, on x86 Linux (before 4.3), you have to call `socketcall(SYS_ACCEPT4, &args)`.

A bit annoying, because there is no documentation on what args should be. It "points to a block containing the act

[2021-02-24 10:12] hellow554 commented on #82455
Regression between f509b26a7730d721ef87423a72b3fdf8724b4afa and f4c675c476c18b1a11041193f2f59d695b126bc8

[2021-02-24 10:15] hellow554 commented on #82455
Reduced testcase:

[code]

[2021-02-24 10:16] de-vri-es commented on #82400
Note: although the same weird syscall is required for Linux < 4.3 (which is still a tier 1 platform), it shouldn't affect the Linux target because there rust libc is just calling `accept4`. from the real libc.

[2021-02-24 10:27] joshtriplett commented on #82400
It would be nice if Android's seccomp filter allowed the direct syscalls on x86 too, not just on arm; that'd be worth trying to get added to Android.

But in the meantime, it looks like Android targets on 32-bit x86 will need to invoke `socketcall` for all socket syscalls, rather than making the syscalls directly.

[2021-02-24 10:30] apiraino commented on #82465
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](#) and removing `I-prioritize`.

@rustbot label -I-prioritize +P-high

[2021-02-24 10:34] de-vri-es commented on #82400
It may not be the seccomp filter though. Older x86 kernels really do not have the accept4 syscall.

Anyway, I'm working on a PR for libc to switch to `socketcall`.

[2021-02-24 10:53] de-vri-es commented on #82400
PR opened: https://github.com/rust-lang/libc/pull/2079

[2021-02-24 11:06] apiraino commented on #82400
thank you @de-vri-es and @joshtriplett

[2021-02-24 11:08] apiraino commented on #82400
@rustbot label -I-prioritize -E-needs-bisection

[2021-02-24 11:09] jonas-schievink commented on #82466
This was rejected in https://github.com/rust-lang/rust/pull/67562, so closing.

Even with specialization, `Any` would not be unsafe though, since its only impl is not specializable.

[2021-02-24 11:09] #82466 closed

[2021-02-24 11:12] DutchGhost commented on #82455
Not sure if of any help, but the thread_local macro is not needed:
[code]

[2021-02-24 11:13] troublescooter commented on #76437
Another place where the messages are confusing:

[code]

[code]

[2021-02-24 11:27] apiraino commented on #81920
ok thanks @Aaron1011 I'll downgrade to p-low

 @rustbot label +P-low -P-medium

[2021-02-24 11:33] de-vri-es commented on #82400
Note: back when accept4 was used on more platforms, std couldn't update to the latest libc. So it currently has the same workaround. I submitted https://github.com/rust-lang/rust/pull/82473 to switch to `libc::accept4` so `std` would also receive the fix.

[2021-02-24 12:07] ijackson commented on #62633
Quite.  The pile-on in this issue is rather unedifying.  I had hoped we would treat our libs team with more respect.  Most of the individual messages would be OK by themselves, but I think the cumulative effect is not.  If you just want to +1 something, do that.

Personally I like the idea in this MR but if the libs team don't like it there is no reason it couldn't be done in an extension trait as

[2021-02-24 12:08] sfackler commented on #82457
A const acts roughly like a `#define`, copying the value in place wherever the constant is used. When compiling with optimizations, the actual load of the array can be optimized out (and is in this case: https://rust.godbolt.org/z/Mje443), but that may not be the case for an unoptimized build.

[2021-02-24 12:29] catenacyber commented on #82144
Still getting `Malformed instrumentation profile data` with `llvm-cov-11` clang-11 compilation...

[2021-02-24 12:30] hellow554 commented on #82455
@DutchGhost

    const _: Option<_> =  map(value);

;)

[2021-02-24 12:33] ojeda commented on #82101
Not enough to make `Char` have an alignment bigger than its size.

[2021-02-24 12:53] tesuji opened #82474 "[rustdoc]: Explain what ESC does in the help box"
I think we could include a text to explain what ESC does after #82234 merged.
![image](https://user-images.githubusercontent.com/15225902/109003573-30e20900-76da-11eb-8b09-dc6f378f3977.png)

This helps increasing popularity of the feature. Also, should we need to tag relnotes for the above PR ?

[2021-02-24 12:55] SoniEx2 commented on #82466
What's wrong with showing it as an unsafe trait? Send and Sync are unsafe traits, and nobody complains about making use of them.

[2021-02-24 13:04] GuillaumeGomez commented on #82465
The commit responsible is this one: https://github.com/rust-lang/rust/commit/937f629535f38c655267f1ed21ce6830f592f5df from https://github.com/rust-lang/rust/pull/80653

[2021-02-24 13:35] buzmeg commented on #62633
A) Leave the "pile-on" and commentary for elsewhere, please.

B) As for edifying, I have seen quite a few more substantive options and comments about alternatives after the fcp than before it.  Had some of these options been mooted and discussed prior to simply just "fcp close", my guess is that a "reject on aesthetic grounds" would have gone over much better.

C) Until some of us started jumping

[2021-02-24 13:46] RalfJung opened #82477 "rustdoc: "List of all items" title shown twice"
As can be seen when going to https://doc.rust-lang.org/nightly/std/all.html, the "List of all items" page generated by rustdoc has a header saying "List of all items List of all items":
![Screenshot_2021-02-24 List of all items in this crate](https://user-images.githubusercontent.com/330628/109009669-18102e00-76af-11eb-957f-8ff1112ad2c0.png)

[2021-02-24 13:58] pickfire commented on #76437
@troublescooter That is a different issue, please open a new issue if there is no existing issue on that.

[2021-02-24 14:03] steveklabnik commented on #62633
I specifically did not say that it should be ignored, or that it is not a signal. I said that it is not a strong enough signal to be presented as some kind of "community consensus."

[2021-02-24 14:17] BurntSushi commented on #62633
As I said above:

This issue being turned into a debate about procedure is incredibly draining. I think @steveklabnik has roughly described my understanding of our governance structure. I would like to re-emphasize here that the _legalese_ is that the teams do not have to make decisions based on voting by others or any other such thing. However, in practice, teams do take community feedback into a

[2021-02-24 14:21] pickfire opened #82478 "proc macro (derive) does not recognized as ambiguous intra doc link"
I tried this code:

[code]

Try doing that on https://github.com/cksac/fake-rs crate or serde

I expected to see this happen: ambiguous `Dummy` link found, use explicit `macro@Dummy`.

Instead, this happened: It compiles

[2021-02-24 14:40] jyn514 commented on #82478
This is intentional: https://github.com/rust-lang/rust/blob/6b56603e35b39c9f6cc76782330e5e415f9e43d5/src/librustdoc/passes/collect_intra_doc_links.rs#L808. Otherwise every time you linker to Copy or Debug you'd get an ambiguity error.

[2021-02-24 14:47] shepmaster opened #82479 "Returning a value that causes a borrow checker error is less precise than not returning it"
Given the following code:

[code]

The current output is:

[code]

Ideally, the output would not include the text:

[code]

While this text is *true*, it's not relevant to solving the problem. Changing the tail of the function improves the error message:

[code]

[code]

This is the behavior in Rust 1.50.0 and 1.52.0-nightly (2021-02-23 fe1bf8e05c39bdcc73fc).

[2021-02-24 14:58] jyn514 commented on #81930
lol I also found that this completely ignores all test suites, making it pretty useless:
[code]

[2021-02-24 15:01] m-ou-se commented on #62633
As a general comment to those who might be unaware: Please note that none of us on the library team work on this full-time, but sometimes a few hours or a day a week. We usually have a meeting once a week which is also the moment in the week most of us spend some time on issues like this. Only six days have passed since @buzmeg's first comment on this thread, so talking about 'radio silence' after

[2021-02-24 15:04] troublescooter commented on #76437
I'm confused what you mean by you see no issue with that. Do you mean no Github issue or no problem whatsoever?
I should have formulated the example more clearly, the issue here isn't that the docstring is missing. Swapping `pub` with `async` compiles without errors. So this seems at least related to the issue at hand where `async` was expected to be an item. In this case `async pub fn` doesn't se

[2021-02-24 15:38] the8472 commented on #82410
@rustbot label +T-libs-impl +I-prioritize +regression-from-stable-stable +C-bug +O-linux

workaround is available. fix needs review.

[2021-02-24 15:40] mahkoh commented on #82101
Which wasn't the topic being discussed. The topic being discussed was Enum and Enum[1] having different sizes.

[2021-02-24 15:49] apiraino commented on #82410
Assigning `P-critical` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2382410.20std.3A.3Aio.3A.3Acopy.20returns.20Bad.20File.20Descriptor.20with.20write.E2.80.A6) and removing `I-prioritize`.

@rustbot label -I-prioritize +P-critical

[2021-02-24 15:59] GuillaumeGomez commented on #82465
Actually, I'm wondering about something: why should we see `impl AsRef<Gus> for str` on the `Gus` page? It's not implemented on `Gus` after all...

[2021-02-24 16:00] RalfJung commented on #72016
Yeah, `asm!` should certainly not *implicitly* add something like `willreturn`. It might be interesting to expose that as a flag that the user can set, though.

[2021-02-24 16:05] roblabla commented on #72016
Wouldn't `pure` sort of imply willreturn? The document states:

The loop here is an observable side-effect that gets eliminated due to the willreturn.

[2021-02-24 16:06] guswynn commented on #82465
@GuillaumeGomez because it's both 1. An api that the crate creates (the way I found this was I saw a str.as_ref call in some code I was reading in the camino crate imma fn that returned a &Utf8Path, that public api was not exposed on doc.rs) and 2. Can't be on the docs for the foreign type (as this impl is in the local crate)

This is definitely a really specific case of coherence, but it would be

[2021-02-24 16:09] RalfJung commented on #72016
@robamler good point -- I had missed that @nagisa said "`pure` `asm!`". Indeed an infinite loop is *not* a pure computation (also when using the usual theoretical definition of purity).

[2021-02-24 16:24] pickfire commented on #82478
But what about other crates? It would be weird that users does not know about that? Should we make `Copy` and `Debug` special case that we can ignore for warning? Otherwise users can easily link to the wrong link. Or maybe we should just warn after all.

[2021-02-24 16:28] robamler commented on #72016
I think this was meant for @roblabla.

(Funny that a typo brings me to this thread, I actually happen to be following Rust's progress, you guys do amazing work!)

[2021-02-24 16:32] jyn514 commented on #82477
Mentoring instructions: remove this line: https://github.com/rust-lang/rust/blob/6b56603e35b39c9f6cc76782330e5e415f9e43d5/src/librustdoc/html/render/mod.rs#L1346

[2021-02-24 16:33] ojeda commented on #82101
...and what I said is that whatever Clang is trying to do for `Enum[1]` isn't important because 1) it is not documented and 2) GCC rejects arrays of overaligned types (even if it happens to work for `Enum[1]` because it does not respect the alignment for `enum`s).

[2021-02-24 16:34] jyn514 commented on #82477
I think this regressed in https://github.com/rust-lang/rust/pull/81398. cc @bugadani, do you have time to take a look?

[2021-02-24 16:36] jyn514 commented on #82474
Mentoring instructions: Add an entry for `esc` in https://github.com/rust-lang/rust/blob/6b56603e35b39c9f6cc76782330e5e415f9e43d5/src/librustdoc/html/static/main.js#L2906.

[2021-02-24 16:42] bugadani commented on #82477
How did that happen... Whoops, I'll fix asap

@rustbot claim

[2021-02-24 17:06] CDirkx opened #82485 "Tracking Issue for `#![feature(const_socketaddr)]`"
Feature gate: `#![feature(const_socketaddr)]`

This is a tracking issue for constifying methods of `std::net::SocketAddr`, `SocketAddrV4` and `SocketAddrV6`.

### Public API

[code]

### Steps / History

- [x] Implementation:  #82487
- [x] Final commenting period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

~~The methods `new` on all of the address could potentially also be made const,

[2021-02-24 17:08] xd009642 opened #82486 "Improve error message for wrong attempt to box error"
So this came up when someone at my work started writing their first bits of Rust code for a binary and decided to use `Result<i32, Box<dyn std::error::Error>>` for a function. Given they wanted to go from a `Result<T, E> where E: std::error::Error` it seemed logical to try a `.into()` after the result type but the error message wasn't helpful so they came and asked me.

An example from rust playgr

[2021-02-24 17:23] RalfJung commented on #72016
*oops* sorry, I should not have assumed that GH is smart enough to auto-complete `@rob<tab>` to *the person with that nick that literally just wrote a post here*... *sigh*

[2021-02-24 17:35] davepacheco commented on #62633
Reading this thread and from my own experience, it seems like much of the disagreement here relates to side effects in assertions.  If Rust already has a position on that (not just what's legal, but what's idiomatic), then maybe clarifying that would go a long way towards obviating the need for this?

(Specifically: I got here from the same `BTreeMap::insert` use case that seems to have brought [m

[2021-02-24 17:46] poliorcetics opened #82488 "Wrong fix is suggested when `renamed` is unused in `MyStruct { y: renamed }`"
Given the following code ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7a0fe3e6774ec0a4e45f41098da0a1bf)):

[code]

The current warning output is (ignoring non-relevant parts):

[code]

Ideally the output should look like:

[code]

because using `y: renamed: _` does not work (of course).

Using `cargo fix` is broken by this too, I got the following mess

[2021-02-24 20:05] Lonami opened #82493 "transmute documentation does not explicitly mention alignment requirement"
The documentation for [`std::mem::transmute`](https://doc.rust-lang.org/stable/std/mem/fn.transmute.html) reads:

However, it does not mention that they must *also* have the same alignment. You would only learn about this if you try to dig into the code examples further down the page:

[code]

Must the types `T` and `U` have the same alignment, or is that a particular quirk of the example?

In any

[2021-02-24 20:21] tarcieri commented on #72188
Is there a tracking issue for similar "unsafe attributes" like this? It'd be nice to have a similar lint for all of them.

[2021-02-24 20:30] HeroicKatora commented on #82493
That looks like well-defined behavior to me. The alignment of `T` is a relevant property if a transmute produces a _reference_ to `T` but for values it is the compiler's job to make them addressable at a properly aligned stack location (it doesn't strictly have to if no one takes a pointer to it).

Regarding the quote paragraph, this references a conversion of `Vec<&i32>` to `Vec<Option<&i32>>`. T

[2021-02-24 20:48] Aaron1011 commented on #79825
The pretty-print/reparse has been removed, so this should hopefully be fixed on the latest nightly.

[2021-02-24 20:54] hyd-dev commented on #79825
Confirmed that this is fixed in latest nightly, thanks! :heart: Do I need to leave this issue open (possibly for a regression test)?

[2021-02-24 20:57] Aaron1011 commented on #79825
That sounds like a good idea.

[2021-02-24 21:02] Lonami commented on #82493
Thanks for the clarification! So the documentation could still be updated to clarify when alignment matters, right?

[2021-02-24 21:16] jyn514 commented on #72188
@tarcieri not that I know of but you could open one :)

[2021-02-24 21:31] tarcieri opened #82499 "Add allow-by-default lints for all attributes with unsafe behaviors"
In #72188, an allow-by-default lint was added against `#[no_mangle]`, which previously permitted unsafety even in the event that `#![forbid(unsafe_code)]` was used.

I think it'd be a good idea to collect a list of all such "unsafe attributes" and try to add similar lints for them on a case-by-case basis. This shouldn't be terribly difficult to do by extracting them from the [Built-in attributes i

[2021-02-24 21:31] tarcieri commented on #72188
Done #82499

[2021-02-24 21:56] jyn514 commented on #82499
Tangentially related: macros that "hide" the unsafe keyword behind a macro call: https://rustsec.org/advisories/RUSTSEC-2020-0011.html

[2021-02-24 21:57] jyn514 commented on #82499
I think all of these should be part of `dead_code`, the same way that `no_mangle` is. I don't think they differ significantly from no_mangle.

[2021-02-24 21:59] Nemo157 commented on #82499
`#[export_name]` was also rolled into the same `#[no_mangle]` PR, since it's basically the same thing: <https://github.com/rust-lang/rust/pull/72209>.

Given that `#[link_name]` can only be applied to an `extern { fn }` it seems that it would already be covered by the unsafety inherent in `extern { fn }`.

Can `repr` cause UB on its own? The direct UB from it I know of is `repr(packed)` related, b

[2021-02-24 22:04] nagisa commented on #82499
`repr(packed)` unsafety already has a forward-compat lint for it.

[2021-02-24 22:11] joshtriplett commented on #82499
I don't see any obvious way that `used` could do anything unsafe.

Likewise `repr` (other than `repr(packed)` which is already covered).

`#[link]` can pull in a library, but I don't think it has any more inherent danger than `extern`, or a `build.rs` script.

[2021-02-24 22:22] #74586 closed

[2021-02-24 22:26] nagisa commented on #82499
`extern` by itself does not link any libraries at all, so its fairly orthogonal and does not introduce any soundness concerns as far as I'm aware.

Linking libraries (even if not otherwise used) can cause implicit invocation of FFI calls through the constructors/destructors that library specifies. Those can cause similar problems as calling any other FFI function, though there's nothing you can do

[2021-02-24 22:42] tmiasko commented on #69382
Triage: The instance estimates are still based on a total number of statements (a drop shim often consist entirely of drop terminators and receive estimate of zero).

[2021-02-24 22:43] tarcieri commented on #82499
[Previous `link_section` unsafety example I've seen](https://twitter.com/bitshiftmask/status/1324171751094390785):

[code]

[2021-02-24 22:45] jyn514 commented on #82499
[code]
This uses interior mutability - could we add a more targeted link that warns against putting anything with interior mutability (or any `static mut`) in `.rodata`?

[2021-02-24 22:52] buzmeg commented on #62633
Quoth @m-ou-se:

That's fair.

But please note that @aclysma, @trevyn (both of whom commented earlier than me), and I commented *once* over the 10 day FCP, waited patiently for a response during a time while the team actively was ripping this out of the Rust codebase, and I, personally, didn't start jumping up and down until the bot said "The final comment period, with a disposition to close, as p

[2021-02-24 22:59] jyn514 commented on #82209
@lucas-deangelis all the "preprocessing" of the link (turning `Self` into a path) happens before resolve_link is called, in https://github.com/rust-lang/rust/blob/a8486b64b0c87dabd045453b6c81500015d122d6/src/librustdoc/passes/collect_intra_doc_links.rs#L858.

[2021-02-24 23:03] jonas-schievink commented on #82499
[code]

[2021-02-24 23:03] jyn514 opened #82501 "`x.py test src/test/rustdoc` tries to run src/tools/tidy as if it were HTML tidy"
After #79370 I see this spam in `x.py` output:
[code]

As I understand `compiletest` wants to run some third-party tool called `tidy` (with `tidy --version`), but it actually runs the rustbuild's `tidy` which doesn't support such command line use.

(Also this expensive probing happens unconditionally when running any test, even it is not related to rustdoc.)

_Originally posted by @petrochenkov in

[2021-02-24 23:08] jyn514 commented on #82501
I can't replicate this (specifically, confusing `src/tools/tidy` for `/usr/bin/tidy`) on Linux. @smmalis37 is on Windows and I think @petrochenkov is too. Can you post what your PATH environment variable is?

[2021-02-24 23:10] smmalis37 commented on #82501
Semicolons replaced with newlines for clarity:

C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\VC\Tools\MSVC\14.28.29333\bin\HostX64\x64
C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\Common7\IDE\VC\VCPackages
C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\Common7\IDE\CommonExtensions\Microsoft\TestWindow
C:\Program Files (x86)\Microsoft Visual Studi

[2021-02-24 23:12] cuviper commented on #62633
@buzmeg

I'm not sure what you're referring to. The stabilization PR was closed, but I haven't seen any "ripping out".

But you did get me to go look for usage in the compiler. I don't see any `unwrap_none`, but there are 14 `expect_none`:

[code]

[2021-02-24 23:18] differance1 commented on #50776
@andrewleek-droplab -- worked for me, also trying to upgrade ffmpeg !

Had to brew edit formulas from the same repository for cargo-c and rav1e, but other dependencies worked, except had to force the current asciidoc to link (brew link --overwrite asciidoc) after brew upgrade ffmpeg completed.

Really appreciate the tip, gave me a key window into the whole brew getup, have a sense now of how and w

[2021-02-24 23:32] tgnottingham commented on #82406
@rustbot claim

[2021-02-24 23:32] cuviper commented on #62633
(Sorry, I don't mean to pile on this heated thread, but I realized another valuable thing I wanted to point out...)

The methods also require `T: Debug`, and any unexpected `Some` value is printed in the panic message. So if you want to completely replace these methods with assertions, you would need to save the value so it can be referenced twice, like:

[code]

[2021-02-24 23:32] Lokathor commented on #82499
yeah it's easier to just forbid link_section than try to carve out exactly how it might be misused. You're never *required* to forbid unsafe_code anyway, so we can be overly conservative about the lint.

[2021-02-24 23:34] CryZe commented on #62633
So in that case would it maybe make sense to just have .expect_none() instead?

[2021-02-24 23:37] cuviper commented on #62633
`unwrap_none()` also includes a message, ``called `Option::unwrap_none()` on a `Some` value``, and the `Debug` value.

[2021-02-24 23:55] not-an-aardvark commented on #76354
Is this issue resolved now that `as_chunks` and `as_rchunks` have been added? It seems like it wouldn't be necessary to access a slice with `array_chunks` if `as_chunks` can be used instead. (However, we should make sure to update #74985 to note that the issue is also gating `#![feature(slice_as_chunks)]`  in addition to `#![feature(array_chunks)]`.)

[2021-02-25 00:07] smmalis37 commented on #76956
Came up with another interesting version. This will fail to typecheck:
[code]
Replacing the header of foo with this will successfully typecheck:
[code]
Might be useful for diffing.

[2021-02-25 00:22] scottmcm commented on #76354
I think it still needs a libs decision for direction here.  Could be neither, either, or both.

One might say that `x.array_chunks()` is still preferable for some uses, vs `x.as_chunks().0.iter()`.

[2021-02-25 00:32] danielhenrymantilla opened #82504 "ICE when mixing higher order `macro_rules!` and `macro` macros"
The objective was to be able to feature some macro which would yield a `$self:ident` parameter with the def-site of a there-defined `macro` macro so as to mock the suggested `$self` parameter on macros.

### Code

[code]

  - [Playground with this simpler example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b6d68b105f76362740727080bf5ca2cd)

  - [Original code & Playgr

[2021-02-25 00:33] danielhenrymantilla commented on #82504
@rustbot modify labels: +A-macros +F-decl_macro

[2021-02-25 00:36] chadbrewbaker commented on #68548
I am still getting this on nightly on AmazonLinux2.

[code]

[2021-02-25 00:49] danielhenrymantilla commented on #82504
I have found something that may be interesting. The following ICEs:

[code]

but the following does not:

[code]

___

[code]

[2021-02-25 00:54] chorman0773 commented on #82499
You can also use link_section to put functions into .rodata, or .data, or any section other than a .text section

[2021-02-25 01:29] Rynibami opened #82505 ""error: unresolved import xxx” when compiling with the #![no_std] flag"
Long story short: I tried to compile my code (as shown below) into machine code for an AVR Microcontroller (atmega2560), but I got an errors that should not be there: “error: unresolved import pins” and “no external crate pins".

[code]

[code]

I expected to see my file being imported so I could work with the pins. After looking for hours, I just removed the `#![no_std]` to see if that would chan

[2021-02-25 01:40] camelid commented on #82209
Aha, I bet this is the issue:

https://github.com/rust-lang/rust/blob/a8486b64b0c87dabd045453b6c81500015d122d6/src/librustdoc/passes/collect_intra_doc_links.rs#L837-L845

For fields in enum variants, the parent is the variant, not the enum.

[2021-02-25 01:43] jgarvin commented on #67939
It would be convenient if we knew that there was a particular value that is never used, but I'm not sure how to achieve that on Linux. Both `pthread_self` and `gettid` provide no guarantees on their values. `pid_t` appears to be 32-bits, so you can be sure it never contains `u64::MAX`, but there is no guarantee the values returned won't cycle. Rust could maintain its own global count of total thre

[2021-02-25 01:58] camelid commented on #81930
I don't think this should be enabled by default until [this](https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/.60download-rustc.60.20is.20open.20for.20business!/near/227600115) is addressed as well.

[2021-02-25 02:02] jyn514 commented on #82501
This is indeed Windows only. This is the culprit: https://github.com/rust-lang/rust/blob/1fdadbf13aecd190b277ea2aa1b125d2ed986d55/src/bootstrap/test.rs#L1785-L1792
On windows, `dylib_env_var()` is `PATH`: https://github.com/rust-lang/rust/blob/1fdadbf13aecd190b277ea2aa1b125d2ed986d55/src/tools/compiletest/src/runtest.rs#L71-L73 so PATH is expanded to include `stage0-bootstrap-tools\86_64-pc-window

[2021-02-25 02:16] ehuss commented on #82505
It's a common point of confusion.  It needs to have `mod pins;`, not `use pins;`.  `mod` is used to define a module.  `use` is if you want a short alias for something.

More information can be found in the [chapter of the book on modules](https://doc.rust-lang.org/book/ch07-02-defining-modules-to-control-scope-and-privacy.html), or [this blog post](http://www.sheshbabu.com/posts/rust-module-system

[2021-02-25 02:18] jyn514 commented on #81930
@camelid that's why it has a warning. Do you think it should force you to disable the option? That seems like it could be frustrating.

[2021-02-25 02:19] jyn514 commented on #81930
I definitely don't think it should silently use the in-tree compiler if you make changes, it should always do what you specify in config.toml.

[2021-02-25 02:22] camelid commented on #81930
I was thinking that there could be a `download-rustc = "if-no-local-changes"` option or something like that, where it would only download rustc if `compiler/` isn't dirty.

[2021-02-25 02:22] jyn514 commented on #81930
Ah ok, that seems useful. I don't think it needs to block turning this on by default, though.

[2021-02-25 02:26] camelid commented on #81930
Won't this be annoying to new rustc contributors who have to dig around in their settings?

[2021-02-25 02:27] not-an-aardvark commented on #76354
Thanks, that makes sense. For what it's worth, I found this issue today because I was looking for a way to safely convert `&mut [T]` to `&mut [[T; N]]`. So as a user it would be nice to be able to do that somehow, although I don't have a strong preference about whether that happens with `as_chunks` or by changing `array_chunks`.

(This use case might become more common when const generics are stab

[2021-02-25 02:29] jyn514 commented on #81930
@camelid I found the confusion. When I say "by-default", I mean that I want to add a new `x.py setup tools` option that's specifically intended for rustdoc/clippy/rustfmt contributors and has `download-rustc = true`. I don't want to turn it on for the whole repository, that wouldn't make sense (or at least, not until `if-no-changes` is implemented).

[2021-02-25 02:35] Lokathor commented on #82499
that's only *usually* UB

[2021-02-25 02:37] camelid commented on #81930
Ah, I had a feeling we were talking past each other :)

Sounds good to me, as long as the warning is helpful enough that if people start doing compiler contributions they don't get stuck.

[2021-02-25 02:38] pickfire opened #82508 "write! generate longer assembly compared to format!"
[code]
seemed to be generate more assembly compared to:
[code]

For the above example, https://rust.godbolt.org/z/KPdra8

A larger example available at https://rust.godbolt.org/z/TcsbMK

[2021-02-25 02:44] #82505 closed

[2021-02-25 02:53] chadbrewbaker commented on #68548
It is even worse under Kali Rolling. (These are WSL2 runs if it matters)   The symbols aren't expanded to source locations.

[code]

[2021-02-25 02:56] tesuji commented on #68548
@chadbrewbaker Please open an separate issue since this issue closed, your comments would be lost.

[2021-02-25 03:19] chorman0773 commented on #82499
I mean, I'd presume it must be at least conditionally-supported. Otherwise, it wouldn't be allowed to segfault on properly secured systems that don't allow executing .data.

[2021-02-25 03:28] Lokathor commented on #82499
Right. Some embedded systems allow it, but you can generally assume that a "modern" system with an OS and all that won't let you play fast and loose with the program counter.

[2021-02-25 03:48] pickfire commented on #76437
I don't think the pull request I sent fix the issue you mentioned, need to check.

[2021-02-25 03:51] smmalis37 commented on #82501
I think I figured it out. The tidy that's being run is in build\x86_64-pc-windows-msvc\stage0-tools-bin, which is the same location as compiletest.exe. That's how it's finding a tidy without one being anywhere in PATH.

[2021-02-25 04:37] nickmertin opened #82509 "Suggested resolution to "unconstrained generic constant" does not make sense for types other than usize"
Based on a [StackOverflow question](https://stackoverflow.com/q/66361365/3402566).

Given the following code: ([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=664f18be85840e14c179ae3e21963461))

[code]

The current output is:

[code]

This suggestion fails to compile, because `baz` and `quux` (and their sum) have type `i64`, while the context of a slice length

[2021-02-25 04:54] camelid commented on #44732
To be clear, `include_str` is stable, `doc(include_str)` is not.

[2021-02-25 04:55] jyn514 commented on #44732
`doc(include_str)` does not exist. `extended_key_value_attributes` is what's unstable (`#[doc = include_str!]`)

[2021-02-25 04:58] camelid commented on #44732
Yeah, that's what I meant. I guess I mixed things up even more 😆

[2021-02-25 05:07] tadeokondrak commented on #76915
`send_vectored_with_ancillary` should switch to non-mutable references for its parameters, since `sendmsg` doesn't write through them.

https://github.com/rust-lang/rust/pull/79753 changes just the `bufs` parameter, but it was closed for inactivity.

[2021-02-25 05:53] jyn514 commented on #82508
cc #82397, which had to be closed because of this.

[2021-02-25 06:09] scottmcm commented on #76354
Oh, also there's the problem of what to do about `N == 0`.  Not compiling would be nice, but isn't available with just `min_const_generics`.  It currently panics, so one could just decide that that's fine.  Or it could return `(&[], original_slice)` since making chunks of zero obviously doesn't help, but that has the downside of making the postcondition more complicated than one would like.

@not-

[2021-02-25 06:25] not-an-aardvark commented on #76354
Thanks, I'll make a topic.

I was thinking that `N == 0` would panic for now and then become a compile error when const generics are fully available. (Not sure what the backwards compatibility requirements are for that case -- it seems bad to stop compiling code that compiled before, but maybe it's ok if the code would have unconditionally panicked anyway?)

[2021-02-25 06:35] cuviper commented on #76354
The unconditional panic can be made conditional by a user's own runtime check, `if N > 0 { slice.as_chunks::<N>()... }`

(Just as one might have "runtime" conditions for ZSTs.)

[2021-02-25 06:53] jhpratt commented on #54140
Ping @m-ou-se — could we possibly get an FCP on stabilization for the subset I mentioned? From my understanding of the new process, this should happen _before_ a stabilization PR. I'll create a PR when appropriate.

To be perfectly clear: what I'm proposing is stabilizing everything _except_ `Level::Warning`. This would allow the most common use cases to take advantage of diagnostics, while avoidi

[2021-02-25 07:44] osa1 commented on #82508
Comparing macro expansions, this is `write!`:

[code]

This is `format!`:

[code]

(Identical expressions replaced with `...`)

There isn't a lot of difference in macro expanded code, so it seems like the difference should be as a result of inlining `std::fmt::format` and `String::write_fmt` functions.

[2021-02-25 07:54] osa1 commented on #82508
MIR for write version is actually smaller in terms of lines of code (219 lines for format, 169 lines for write), but LLVM IR is larger (635 lines for format, 821 lines for write).

Comparing LLVM IRs, I see these extra function in `write` version that do not exist in `format` version:

- <&mut W as core::fmt::Write>::write_char
- <&mut W as core::fmt::Write>::write_fmt
- <&mut W as core::fmt::Writ

[2021-02-25 08:37] ancwrd1 opened #82512 "Internal compiler error when compiling an example from "windows" crate"
### Code

When building any of the examples from https://github.com/microsoft/windows-rs/tree/master/examples using cross compilation (from Linux to Windows x86_64-pc-windows-gnu target) the compiler panics.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-25 08:53] vorot93 commented on #61356
Any path to stabilization?

[2021-02-25 09:37] raphaelcohn commented on #23246
@mankinskin I agree completely, and I feel your frustration; I share it, and it's got worse as rust has become more widely used. Rust's core team also have a very narrow view of what a bug is - one that with my software craftsmanship hat on I couldn't disagree with more strongly.

Rust's development has been captured by the bureaucratically minded; the same mindset that has infested wikipedia, and

[2021-02-25 10:02] mankinskin commented on #23246
@raphaelcohn I know what you mean and we should always be wary of overdoing that, it might stagnate innovation, but I also think there is value in organization and strict review. Rust's promise is to be a secure language, that means it must takes steps carefully, which makes it more difficult to innovate. I agree that there eventually needs to be an RFC for this but I don't really see the point of

[2021-02-25 10:06] apopiak opened #82513 "Rustc Confuses Associated Types on Type Inference"
The following code does not compile ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4ca706e8932e3fb5f4309389473554ee)):

[code]

I expected to see this happen: Successful compilation

Instead, this happened: I get `E0271`
[code]
Ways to get this to compile (that shouldn't matter/don't change the semantics):
+ remove the `where` bound
+ use explicit call t

[2021-02-25 10:17] aDotInTheVoid commented on #76578
@rustbot modify labels: +A-rustdoc-json

[2021-02-25 10:45] Plecra opened #82515 "Treating `fn` as trait emits many unhelpful errors"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

## Related diagnostics

The issue also affects return-position impls, where more helpful guidance could be given

[code]

[2021-02-25 10:50] Plecra commented on #82515
Alternatively, @mem✨#0110 (not sure of your name on github!) suggested using E0404

[code]

[2021-02-25 11:17] TaKO8Ki commented on #82474
I'm interested in working on this issue!
@rustbot claim

[2021-02-25 11:26] m-ou-se commented on #54140
@jhpratt I've nominated this issue for discussion in the next libs meeting (next wednesday).

(Temporarily removed the T-lang label so it doesn't show up as nominated on their agenda. We'll have to put it back before we start an FCP.)

[2021-02-25 12:29] apiraino commented on #81757
Removing the I-prioritize label (zulip discussion [here](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381757.201500-arm.20match.20statement.20causing.20a.20major.20build.20time.20.E2.80.A6))

(Feel free to follow-up, though)

@rustbot label -I-prioritize

[2021-02-25 13:02] IQBigBang commented on #39412
This is maybe out of scope of this document, but now that Rust has (or will soon have) constant functions and miri enabling it to run rust code at compile-time, wouldn't it be possible to support in-crate procedural macros which don't work essentialy as a compiler plugin? This seems like something I personally would expect a new macro system to enable.

[2021-02-25 13:14] jonas-schievink commented on #82512
duplicate of https://github.com/rust-lang/rust/issues/56935

[2021-02-25 13:14] #82512 closed

[2021-02-25 13:26] RReverser commented on #82339
Another reason I'm asking is that I want to implement `Path::canonicalize` on WASI because it frequently comes up during cross-compilation, and then fails at runtime - turns out, a lot of crates use it to translate relative paths to absolute ones.

I have partial implementation (modulo symlinks) in a branch, but for now I've restricted it to return error on any attempt to cross boundaries, which s

[2021-02-25 13:41] Nemo157 opened #82518 "ICE with inline-const in match referencing const-generic parameter"
I tried this code:

[code]

[code]

### Meta

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-02-25 14:29] caverym opened #82519 "Rustc cross-compiling to aarch64-unknown-linux-gnu uses wrong compiler"
Cross compiling from x86_64 to aarch64 uses `/usr/bin/ld` instead of `/usr/bin/aarch64-linux-gnu-ld`
This happens using stable and nightly version of rust toolchians/targets

### Code
any simple code
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`RUST_BACKTRACE=1 cargo build --target aarch64-unknown-linux-gnu`

[code]

`file plage-7843fadef320354a.1115kt21cxrb61jx.rcgu.o`

[2021-02-25 14:30] wesleywiser opened #82520 "x.py clean fails to delete the rustbuild executable on Windows and panics"
Rustbuild fails to delete itself when cleaning on Windows and panics:

[code]

[2021-02-25 14:52] caverym commented on #82519
The issue comes from it using the wrong `cc` compiler. It prints out a very long command before the errors using "cc", copying it and chaning `cc` to `aarch64-linux-gnu-gcc` it works without any errors. This means `rustc` is calling the wrong compiler.

[2021-02-25 14:56] jyn514 commented on #82520
This should have been fixed by https://github.com/rust-lang/rust/pull/82177. Can you rebase over that change and see if it works?

[2021-02-25 15:03] pietroalbini commented on #82125
@craterbot retry-report name=beta-1.51-1

[2021-02-25 15:07] BurntSushi commented on #23246
Moderation note: what @steveklabnik said is correct. The kind of unconstructive broad criticism that has taken place in the past few comments is not appropriate here. Since this discussion doesn't seem to be headed anywhere good, and the next steps if one were to make progress have been clarified, I'm going to lock this thread.

[2021-02-25 15:33] Darksonn commented on #63818
I wrote a document a few weeks ago when discussing this with Ralf Jung. The document explains how the same root cause makes it impossible to write sound self-referential and intrusive structs.

https://gist.github.com/Darksonn/1567538f56af1a8038ecc3c664a42462

[2021-02-25 15:40] yshui commented on #62017
I just hit this problem. Did anyone report this bug to LLVM?

[2021-02-25 15:56] sunfishcode commented on #82339
These are good questions, and I myself don't have a complete vision for how this should all work :-}. Big-picture WASI wants to use handles instead of paths, so path support is all about finding the right balance between compatibility for porting code and preserving desirable properties of the capability system where possible.

A `canonicalize` implementation that is good enough for most use cases

[2021-02-25 16:13] pietroalbini commented on #82125
@craterbot retry-report name=beta-1.51-1

[2021-02-25 16:24] pietroalbini commented on #82125
@craterbot retry-report name=beta-1.51-1

[2021-02-25 16:35] apiraino commented on #82151
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2382151.20.60undefined.20reference.20to.60.20linker.20error.20when.20using.20dyl.E2.80.A6) and removing `I-prioritize`.

@rustbot label -I-prioritize +P-high

[2021-02-25 16:45] nagisa commented on #82519
rustbuild may use heuristics to figure out some default, but ultimately these are heuristics. Those can be infinitely improved, but AFAIK its ultimately the responsibility of the users who are cross-compiling to specify the toolchain to use. In particular the `target.{target}.linker` variable for what `linker` to use.

[2021-02-25 16:47] nagisa commented on #82519
Ah, my bad, I missed that this is not about rustbuild, but about using rustc in crosscompiling regular programs.

As far as I know there are no such heuristics when invoking plain rustc. It _is_ a responsibility of the user to specify the linkers etc to use (via e.g. `-Clinker` when invoking rustc directly and via corresponding configuration in cargo when building via cargo).

[2021-02-25 17:01] hansihe commented on #78459
I'm hitting this issue too, on code that basically equates to this:

[code]

Seems like there are plenty of ways to reproduce this in here, but if a minimal test case is needed, I would be happy to try to provide one.

[2021-02-25 17:18] raphaelcohn commented on #55141
Closing as it's not a priority.

[2021-02-25 17:18] #55141 closed

[2021-02-25 17:19] raphaelcohn commented on #50077
Closing as it's no longer relevant.

[2021-02-25 17:19] #50077 closed

[2021-02-25 17:22] lucas-deangelis commented on #82209
Thanks for the clarification.

So if I understand correctly, if we encounter a variant, we should return the parent of the parent of  `item.def_id`?

[2021-02-25 17:25] jyn514 commented on #82209
If you encounter a *field* that's in a variant. Basically make the check recursive (since fields may not be in a variant, e.g. `struct S { x: usize }`

[2021-02-25 17:27] jakobneufeld commented on #31844
Will this feature ever be Stabilised?

[2021-02-25 17:40] RReverser commented on #82339
Yeah, totally - for now my suggestion above was based on the assumption that preopens will remain static, but if we add ability to add them dynamically, such behaviour might become more confusing indeed.

[2021-02-25 17:40] jgarvin commented on #67939
I had an earlier post here I deleted b/c I was conflating two things.

1) Guaranteeing that some value isn't used so you can have a niche. This is fine AFAICT at least on Linux, because pid_t is only 4 bytes, so there's lots of bits to spare.
2) Making sure thread IDs are never recycled like @joshtriplett suggested.

I don't know how to do 2 on Linux. `gettid()` and `pthread_self` have no such gua

[2021-02-25 17:40] RReverser commented on #82339
Sounds reasonable to me. Worst case we'll hear from people for whom it's not enough. Thanks.

[2021-02-25 17:42] bjorn3 commented on #31844
`#![feature(specialization)]` will not be stabilized as it is unsound. `#![feature(min_specialization)]` may be stabilized in the future, or a better way to avoid the unsoundness of `#![feature(specialization)]` may be found before that.

[2021-02-25 17:48] nitsky opened #82521 "-crt-static on musl links with libgcc_s"
Hi, I am building dynamic libraries that I call from scripting languages (elixir nif, nodejs native addon, etc) on Alpine Linux. I have been successful using the `x86_64-unknown-linux-musl` target with `-C target-feature=-crt-static` to enable building `cdylib`s. However, I find that any `cdylib` produced this way links dynamically not only to `musl` but also to `libgcc_s`:

[code]

Unfortunately,

[2021-02-25 18:01] nitsky commented on #82521
Dynamically linking `libgcc_s` with `-crt-static` also causes an error cross-compiling a `cdylib` from gnu linux to musl. I tried the following both on arch linux and in an ubuntu docker container with musl-gcc installed:

`RUSTFLAGS="-C linker=musl-gcc -C target-feature=-crt-static" cargo build --release --target x86_64-unknown-linux-musl`

[code]

[2021-02-25 18:06] RalfJung commented on #31844
It will not be stabilized *as-is* -- but as you say, the plan is to eventually stabilize some version with the soundness holes fixed (and remove the unsound feature entirely).

[2021-02-25 18:14] #78651 closed

[2021-02-25 18:14] #81663 closed

[2021-02-25 18:14] #81943 closed

[2021-02-25 18:14] #82361 closed

[2021-02-25 18:14] #80853 closed

[2021-02-25 18:32] hansihe commented on #78459
As far as I understand it, the issue is as follows:
* std `Box` is special cased, it has the `#[lang = "owned_box"]` attribute
* This corresponds to `AdtDef::is_box()`, which returns true if the type as been annotated to be a `owned_box`
* Somewhere, some code which uses `is_box` makes an assumption that such a box data type only contains one field, the inner pointer itself.
* This causes the allo

[2021-02-25 18:36] RalfJung opened #82523 "Tracking Issue for future-incompatibility warning `unaligned_references`"
This is a tracking issue for the future-incompatibility warning `unaligned_references`.
This warning will fire for code like the following:
[code]
The reason this pattern is being phased out is that Rust requires references to always be aligned; creating an unaligned reference falls under the "creating an invalid value" clause in [the Rust definition of Undefined Behavior](https://doc.rust-lang.or

[2021-02-25 18:44] estebank opened #82524 "Account for match arms statements without a block"
[Given the following code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=70547431cac2d13423237b0bf40179a6):

[code]

The current output is:

[code]

The first error is a generic parse error that we could account for. The second is an inference error that would be completely solved if the parse error was recovered more gracefully.

Ideally, for a generic case the output s

[2021-02-25 18:52] RalfJung commented on #27060
With https://github.com/rust-lang/rust/pull/82525, we are finally reaching the finish line to fixing this problem: once that lands, creating a reference to a packed field will cause a future-incompat warning in *any* context, even inside `unsafe` blocks, and the warning will link to https://github.com/rust-lang/rust/pull/82525 which explains what to do. Then it is just a matter of slowly cranking

[2021-02-25 19:10] lucas-deangelis commented on #82209
Thanks, I'll try that.

[2021-02-25 19:22] caverym commented on #82519
[code]

`cargo +nightly b --target aarch64-unknown-linux-gnu`

still uses the incorrect compiler and linker (`cc` & `/usr/bin/ld`)

[2021-02-25 19:53] evan-brass opened #82526 "'rustc' panicked at 'LocalTableInContext: key not found'"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]
Doesn't panic in Stable.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

Maybe duplicate of #82438?

[2021-02-25 20:05] nagisa commented on #82519
That would mean its either a bug in cargo, or cargo can't find your cargo config (as documented [here](https://doc.rust-lang.org/cargo/reference/config.html)). Where did you put the file with these contents?

Another caveat is that you want to use `aarch64-linux-gnu-cc` as your `linker`, rather than the bare `ld` – there is a way to use `ld` (`-Clinker-flavor=ld`), but by default we rely on `cc` t

[2021-02-25 20:11] Aaron1011 commented on #82526
This is indeed a duplicate of https://github.com/rust-lang/rust/issues/82438

[2021-02-25 20:24] wesleywiser commented on #82520
Ah, I thought this was reported recently but couldn't find the bug report. Thanks @jyn514!

[2021-02-25 20:24] #82520 closed

[2021-02-25 20:29] camsteffen opened #82528 "Invalid suggestion to consider borrowing `Option`'s content in tuple"
Given the following code: ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7733e50640b6be7c6075f1aa5fab80f4))

[code]

The current output is:

[code]

The suggestion does not compile. Presumably it should suggest `(a.as_ref(), b.as_ref())`.

[2021-02-25 20:46] Amanieu opened #82529 "Incorrect ABI when passing f32/f64 on a function with `#[target_feature(enable = "sse2")]`"
[Godbolt link](https://rust.godbolt.org/z/bEGGsa)

The following code passes a floating-point value using the wrong ABI:

[code]

Assembly output:

[code]

[2021-02-25 20:49] Amanieu commented on #82529
Seem to be a duplicate of #64609.

[2021-02-25 20:49] #82529 closed

[2021-02-25 20:57] richkadel commented on #82144
I need to correct at least one thing I said here. I spoke to a colleague that is more familiar with Clang and LLVM, and was told that Clang's implementation of LLVM InstrProf coverage is compatible with at least some of Clang's optimization levels. (Clang -O1 and -O2 at least, maybe higher.)

It's not clear to me if Clang's -O1 is exactly the same as Rust's -O1. (I doubt they are required to be id

[2021-02-25 21:45] LeonineKing1199 opened #82533 "`extend_from_within` leaks elements on panic"
https://github.com/rust-lang/rust/blob/98f8cce6db6c6c6660eeffee2b3903104e547ecf/library/alloc/src/vec/mod.rs#L2163-L2182

Looking here, the internal length of the vector is only adjusted at the end of the loop

This has the caveat that if cloning panics, the Vec will start to unwind and only drop the first `len` elements which doesn't include the most recently appended ones.

Something more in lin

[2021-02-25 22:02] wesleywiser commented on #82144
@richkadel

I think having an external tool that invokes rustc for you, providing the correct flags and then potentially runs tests and collects the coverage data for you would be great! [`cargo-flamegraph`](https://github.com/killercup/cargo-flamegraph) does something similar and packages an entire workflow into an easy to use command.

[2021-02-25 22:20] caverym commented on #82519
Cargo.toml works now. Thank you for the help.

[2021-02-25 22:20] #82519 closed

[2021-02-25 22:25] joshtriplett commented on #67939
My original comment about not reusing IDs was based on the idea of a Rust-generated thread ID. But the more I think about it, the more I'd prefer that Rust threads aren't "special", and that any thread can be a Rust thread. That means there is no opportunity for a Rust-generated ID, and we should just use OS thread IDs. Yes, they might get reused after a thread exits; so be it.

[2021-02-25 22:33] camsteffen commented on #82168
[code]
This is bad for beginners because it promotes a misconception that for loops require an `Iterator` rather than `IntoIterator`.

[code]

This is confusing because it seems to refer to desugared code, which is a compiler implementation detail.

Suggestion:

[code]

[2021-02-25 22:51] Amanieu commented on #67939
In that case the ID should be a `usize` instead of a `u64` and should be guaranteed to never be 0. Most platforms provide that (`pthread_self` is a thread-local pointers, `GetCurrentThreadId` on Windows is non-zero, and we can always fall back to the address of a thread-local variable) and there can never be more than `usize::MAX` threads anyways due to address space limitations.

[2021-02-25 22:57] frewsxcv commented on #82168
The tricky bit is `IntoIterator` has a generic implementation for `Iterator`:

[code]

So saying it requires an "iterator" is not inaccurate, but it's not the whole truth. So your suggestion is an improvement in that it's more accurate, but also comes at the cost of throwing this `IntoIterator` thing at new users, which might be fine but just calling that out as something to consider.

-----

Sepa

[2021-02-25 23:06] tmandry commented on #82144
FYI, linking instrumented Rust and C/C++ in the same binary is likely to fail (or it could work now but break in the future.) The reason is that the separate compilers each expect their own version of the runtime instrumentation library, but only one can be loaded in the binary. There are no compatibility guarantees between versions.

[2021-02-25 23:44] camsteffen commented on #82168
My personal experience is that, when I learned that for loops take `IntoIterator`, I felt late to the party. And it also was easier to understand that way, not harder.

That is precisely why I worded it the way I did.

[2021-02-25 23:56] frewsxcv commented on #82168
Yeah that's fair!

Since there's an implementation of [`IntoIterator` for `&[T; N]`](https://github.com/rust-lang/rust/blob/98f8cce6db6c6c6660eeffee2b3903104e547ecf/library/core/src/array/mod.rs#L194-L202), my assumption is there's no coercion to a slice happening here.

[2021-02-26 00:17] #82477 closed

[2021-02-26 01:05] lucas-deangelis commented on #82209
I think I'm making some progress. I added a new condition to check if we encounter a field that's in a variant before the `matches!` line 837:

[code]

I'll have to find a way to handle the call to `.unwrap()` better once I get this working. Now the error I get is:

[code]

Am I correct in assuming that this is now an error in the link resolution?

[2021-02-26 01:08] jyn514 commented on #82209
Hmm, is this still with the calls to `variant_field` removed? Try adding those back.

[2021-02-26 01:43] jyn514 commented on #44732
I opened https://github.com/rust-lang/rust/pull/82539 deprecating `doc(include)`. Assuming that makes it past FCP, I'll give it a few months then remove the feature altogether.

[2021-02-26 01:45] camsteffen commented on #82168
Ah I see. In that case I'd remove the part about slices. So then my suggested output is pretty short! I also realized `required by into_iter` would seem less out of place if that came after mentioning that `IntoIterator` is required for a for loop.

[2021-02-26 01:55] ijackson opened #82541 "for loop expression type reported after IntoIterator"
Given the following code:

[code]

The current output is:

[code]

This is seriously misleading.  The expression `make()` in fact has type `Result<Vec<..>>`.  If it had the type `Vec<(usize, char)>` as the error message claims, the code would be correct.

The bug in the program is a missing `?`.

I think the diagnostics bug is in the reporting the type of `Item` after the `for`-induced `IntoIterat

[2021-02-26 01:56] ijackson commented on #82541
@rustbot modify labels +D-incorrect +D-confusing

[2021-02-26 02:27] camelid opened #82542 "rustdoc: Search results have larger margins than before"
### nightly (2021-02-25)

![image](https://user-images.githubusercontent.com/37223377/109246332-ec687300-7796-11eb-855d-5dd0e7ec60e0.png)

### beta (1.51.0-beta.3)

![image](https://user-images.githubusercontent.com/37223377/109246369-00ac7000-7797-11eb-85ad-9bfff8592fce.png)

[2021-02-26 02:28] camelid commented on #82542
Pretty sure this happened in the last day or two because otherwise I would have noticed.

Not sure if this change is intentional or not, but the only PR I could find that I think could've caused this is #82313, which doesn't seem like it should've significantly changed UI.

[2021-02-26 02:50] jyn514 commented on #82542
This seems fine to me, or at least not a bug. I think minor css changes are to be expected when we update css library.

[2021-02-26 02:58] #78344 closed

[2021-02-26 03:26] camelid commented on #82542
I don't know, it feels a little too far spaced apart to me.

[2021-02-26 04:19] lambda-fairy commented on #54140
Based on my experience using `proc-macro-error`, I have a few bits of feedback on the [`Diagnostic`](https://doc.rust-lang.org/nightly/proc_macro/struct.Diagnostic.html) API that I think would be worth addressing before stabilization:

- Having [`Diagnostic::new`](https://doc.rust-lang.org/nightly/proc_macro/struct.Diagnostic.html#method.new) *not* take a span feels like an anti-pattern. We should

[2021-02-26 04:23] osa1 commented on #82541
This is a bit tricky because for loops are desugared before type checking. We still have the information that the code with type error originates from a for loop, but it's difficult to make use of that information without a lot of refactoring as far as I can see.

Desugared code for the repro (slightly modified):

[code]

Here the type error occurs in `let (i, j) = __next;`, but it's generated cod

[2021-02-26 04:30] klensy commented on #81051
Hi, any progress on fix?

[2021-02-26 05:34] jrvanwhy opened #82544 "Crate whose `dev-dependencies` depend on it produces confusing "is not implemented for" errors"
Short explanation: If I have a crate `a` which has a dev dependency on crate `b`, which has a normal dependency on crate `a`, then `cargo test` in `a` can produce hard-to-understand errors.

# Full reproduction case (2 crates)

`a/Cargo.toml`:

[code]

`a/src/lib.rs`:

[code]

`b/Cargo.toml`:

[code]

`b/src/lib.rs`:

[code]

# Output

The output of `cargo test` in `a/` is:

[code]

This is confus

[2021-02-26 05:35] csmoe commented on #68196
Fixed in recent rustc.
[code]

[2021-02-26 05:35] #68196 closed

[2021-02-26 05:40] jrvanwhy commented on #82544
Off the top of my head, I can think of 3 ways to improve the situation:

1. Change crate compilation so that running `cargo test` makes `b` depend on `a` with `cfg(test)`, so there's only one version. This would only be feasible in a new edition, if it is feasible at all.
2. Make `cargo` warn if a crate's `dev-dependencies` transitively depend on it.
3. Improve `rustc`'s diagnostics.

I'm posting

[2021-02-26 06:06] ben0x539 commented on #82083
Can I throw in this one?

[code]

suggests the following, which won't work because the field is private:

[code]

[2021-02-26 06:10] sunjay commented on #55724
Could `repeat` be stabilized? I'm using it to know the layout of various sizes of arrays. With `repeat` I can just store the `Layout` of a single item and compute the layout of each array on the fly with the array's length. I'm also not storing any proper type, so this can't just be done with `array`.

[2021-02-26 06:36] bjorn3 commented on #54140
This restriction could be lifted in the future. I think the json error format already allows it.

[2021-02-26 07:23] cole-h commented on #81987
Also can't reproduce, but on NixOS.

[code]

[code]

Running from NixOS/nixpkgs@cb5f00db0038c4006fd327925cc2f3b04739b1e8 -- possibly fixed "recently" (e.g. after the release of 20.09) but not backported?

(Note: I used `rustup` and added the `musl` target, since I don't know how to add the `musl` target in a NixOS-native way... :)

[2021-02-26 07:31] jyn514 commented on #82533
This is not unsafe, leaking items is safe: https://github.com/rust-lang/rust/issues/24456.

[2021-02-26 08:28] gilescope commented on #73533
On the byte slowdown, would this work as a specialisation:
[code]
(will run some benchmarks but takes time...)

[2021-02-26 08:56] RalfJung commented on #80165
That lint always always a bit weird since it allowed packed borrows in `unsafe` blocks even though that is still UB. So with https://github.com/rust-lang/rust/pull/82525, SAFE_PACKED_BORROWS disappears, and instead UNALIGNED_REFERENCES becomes a future-incompat lint. It probably makes more sense to put that on the list here.

[2021-02-26 10:29] lcnr commented on #76200
From what I can tell this is not expected, `is_const_evaluatable` seems to be incorrect here if `feature(const_evaluatable_checked)` is active.

Afaict all of the examples you've given should work without warnings or errors.

[2021-02-26 11:12] hyd-dev commented on #82542
Looks like not only search results are affected?
<details><summary><a href="https://doc.rust-lang.org/nightly/std/#modules">https://doc.rust-lang.org/nightly/std/#modules</a></summary>

![nightly](https://user-images.githubusercontent.com/30410251/109292589-90205480-7865-11eb-817a-2622d828992c.png)
</details>
<details><summary><a href="https://doc.rust-lang.org/beta/std/#modules">https://doc.rust-

[2021-02-26 11:18] hyd-dev commented on #82542
Oh... https://github.com/rust-lang/rust/pull/82313#issue-576852770

[2021-02-26 12:32] SkiFire13 opened #82546 "Confusing diagnostic: cycle detected when using placeholder on a function signature"
I tried this code:

[code]

[playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=020b7e353f174b6216e567318ffc2151)

I expected to see this happen:

[code]

Instead, this happened:

[code]

Interestingly this seems to happen only when the closure captures a parameter (by value or by reference doesn't seem to make a difference) and that parameter contains a life

[2021-02-26 13:41] LeSeulArtichaut opened #82548 "Rustdoc: button text does not respect color themes"
I visited nightly-generated docs, e.g. https://doc.rust-lang.org/nightly/std/?search=a

With the dark and ayu themes, some texts appear black although they shouldn't. This includes:
 - tab buttons in searches ("in names", "in parameters", "in return types")
 - theme selection buttons, including those in the settings page

IIRC this wasn't the case yesterday, so this must have regressed in today's

[2021-02-26 13:49] LeSeulArtichaut commented on #82548
I think this might be due to #82313? cc @jyn514

[2021-02-26 14:14] maxbla commented on #62061
Until this issue is closed, anyone who wants a const `mem::zeroed` can use the [`const-zero`](https://crates.io/crates/const-zero) crate that I recently released after facing this problem myself. Alternatively, to remove dependencies, see [the trick that crate is based on](https://github.com/maxbla/const-zero#how-does-it-work).

[2021-02-26 14:15] Lokathor commented on #62061
Max, you're truly doing Ferris' work.

[2021-02-26 14:59] rylev commented on #81894
@nanguye2496 Can this be closed now that #81898 has been merged?

[2021-02-26 15:28] alexeymuranov commented on #29474
It might be that Markdown has won the battle as a format for blog and forum posts, issue reports and comments. However, documentation and HTML publishing are rather different IMO.

[2021-02-26 16:25] frewsxcv commented on #82168
Also worth mentioning that we can remove this error message altogether once arrays implement `IntoIterator`: https://github.com/rust-lang/rust/pull/65819

[2021-02-26 17:01] magj2006 opened #82555 "why executes two times this code "match self.inner.mkdir(path)" in function create_dir_all of std/src/fs.rs ?"
Hello,

why executes two times this code "match self.inner.mkdir(path)" in function create_dir_all of std/src/fs.rs as shown below ?

<img width="727" alt="屏幕快照 2021-02-26 下午9 49 28" src="https://user-images.githubusercontent.com/8394789/109330972-15176800-787e-11eb-92f3-01ad0542cc85.png">

[2021-02-26 17:23] pickfire commented on #81698
[code]

I believe diagnostic for const generic (example taken from https://blog.rust-lang.org/2021/02/26/const-generics-mvp-beta) needs to be improved too before release, at least I thought that `(` can be used instead, if one didn't know about `{` then they need to search it up.

[2021-02-26 17:35] richkadel commented on #82144
@wesleywiser @tmandry - Before I put together a PR, I'd like to make sure you agree with it and will approve it.

**_tl;dr - I believe issuing an error when `-O1` and `-Z instrument-coverage` are combined is by far the best mitigation for `rustc`. (And offering an additional flag that allows the combination, without error, is not a bad idea either.)_**

As I see it, we have three options:

1. Do n

[2021-02-26 17:48] usbalbin commented on #81615
@bstrie

What about some kind of wrapper type, say `IteratorFixed<I, N>` that holds an iterator of known length. This wrapper type would provide methods like `map`, `zip` and `skip<N>` etc. as well as `collect(self) -> FromFixedIterator` and prevent anyone from calling `next` on the underlying iterator.

My very rough attempt: [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edi

[2021-02-26 18:09] the8472 commented on #82555
It's a fast path in the case the directory already exists.

[2021-02-26 18:12] mbrubeck commented on #67957
I believe this is a duplicate of #62013.

The test case in this bug (as in that one) compiles successfully with `rustc -Z polonius`.

[2021-02-26 18:13] LeonineKing1199 commented on #82533
Sure; never said it was unsafe.

This is more about making sure programs who gracefully handle panics don't wind up eventually exhausting resources.

[2021-02-26 18:17] osa1 commented on #82555
I wonder if it might make sense to add a line of comment here, something like `// Fast path when the parent directory already exists`.

[2021-02-26 18:18] Aaron1011 commented on #54140
From looking at the `Diagnostic` API, this looks like it would allow creating unsilenceable 'note' and 'help' messages via `Diagnostic::new`.

[2021-02-26 18:55] rylev commented on #40460
There has been progress on this issue from several fronts lately:
* https://github.com/rust-lang/rust/pull/79184
* https://github.com/rust-lang/rust/pull/80311
* https://github.com/rust-lang/rust/pull/81898
* https://github.com/rust-lang/rust/pull/82557

Some additional todos/issues:
* Arrays cannot provide custom DisplayStrings
* Option<T> where the option can take advantage of the None == 0 nich

[2021-02-26 18:59] mcy commented on #82544
+1 to looking to how the diagnostic could be improved here. I've been bitten by this *numerous* times, especially with mixed versions of something like `serde`, and something as simple as "hey, we noticed that two items referenced in this diagnostic are different but have the same name, FYI" would go a long way.

[2021-02-26 19:08] lucas-deangelis commented on #82209
It was, and now with it back it works. Thanks. Should I make a pull request now?

[2021-02-26 19:13] jyn514 commented on #82209
That would be great, thanks!

[2021-02-26 19:56] estebank commented on #82083
@ben0x539 I would say that that is better covered by https://github.com/rust-lang/rust/issues/57951

[2021-02-26 20:27] eminence commented on #73556
This can also be reproduced with a `macro_use` -- it doesn't need a proc macro.  Is it the same root cause?  Should I open a new issue specifically for the macro_use case?

[2021-02-26 20:36] eminence commented on #73556
Maybe related to #73556

[2021-02-26 20:38] catenacyber commented on #82144
Thanks @tmandry
If I get it correctly, that is just adding the constraint that I use compatible LLVM/clang/rustc when instrumenting my Rust+C program, right ?

[2021-02-26 20:57] sanxiyn commented on #82435
I would like to note that FreeBSD also changes baseline from pentium4 to pentiumpro: https://github.com/freebsd/freebsd-ports/blob/master/lang/rust/files/patch-compiler_rustc__target_src_spec_i686__unknown__freebsd.rs.

Ignoring Geode question for a moment, does it make sense for Rust to set i686 baseline to pentium4? Who is i686 for anyway? Wouldn't people use x86_64 for new hardwares?

[2021-02-26 21:01] sanxiyn commented on #82435
I would like to note that FreeBSD also changes i686 baseline from pentium4 to pentiumpro: https://github.com/freebsd/freebsd-ports/blob/master/lang/rust/files/patch-compiler_rustc__target_src_spec_i686__unknown__freebsd.rs.

Ignoring Geode question for a moment, does it make sense for Rust to set i686 baseline to pentium4? Who is i686 for anyway? Wouldn't people use x86_64 for new hardwares?

[2021-02-26 21:18] djc commented on #65512
I've posted an initial take on an RFC for this: https://github.com/rust-lang/rfcs/pull/3090. Please comment there.

[2021-02-26 21:32] petrochenkov commented on #47551
https://github.com/rust-lang/rust/pull/82534 adds crtbegin/crtend objects to Rust distribution and links to them in self-contained mode as was suggested in https://github.com/rust-lang/rust/issues/47551#issuecomment-697568814, so it should fix this issue.

[2021-02-26 21:46] davidspies commented on #82406
Any ideas at a workaround? I tried changing all the `.split` calls to `.collect` and that reduced the memory usage quite a bit, but after some more changes to the `dc2` package (https://github.com/davidspies/dc2/commit/d73daf710bf02da48aeb8f2c308575e676e58d5c) it's still more than 32GiB

[2021-02-26 21:58] #82488 closed

[2021-02-26 21:58] #74773 closed

[2021-02-26 21:58] #82542 closed

[2021-02-26 21:58] #82548 closed

[2021-02-26 22:15] BoxyUwU opened #82566 "Bad diagnostics when using associated const on type without turbofish"
Given the following code: [here](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f95f5712fc22fdf85aa2a28b4eaf3e7a)

[code]

The current output is:

[code]

Ideally the output should mention that the user needs to use a turbofish here:
`Add::<10, 12>::SUM`

cc @lcnr

[2021-02-26 22:17] hameerabbasi commented on #82533
Assigning `P-medium` as part of the [`WG-prioritization` discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2382533.20No.20Panic.20Safety.20in.20.60extend_from_within.60).

[2021-02-26 22:21] lcnr commented on #82566
the help message seems to only be missing if there are 2 const arguments:
[code]
using type parameters or just one const param causes a useful help message
[code]

[2021-02-26 22:34] aDotInTheVoid opened #82567 "Rustdoc Json: Import dont have ID"
[code]
Generates
[code]
The problem is
[code]
Doesn't have the id of what is's importing, which it should.

cc @CraftSpider

@rustbot modify labels: +T-rustdoc +A-rustdoc-json

[2021-02-26 22:43] kolbma commented on #82242
Any idea what might be responsible for this?
I've tried
[code]
and division doesn't work.
Could be possible that I have not used divisions in my rust-avr code before, but I can't believe that nobody has used it?
Is it in the **_compiler_builtins_** crate?

Wondering why such nasty bugs are not caught in the compiler build pipeline...

[2021-02-26 22:45] Kixiron opened #82568 "LLD crash with polymorphization"
While working on [this code](https://github.com/Kixiron/sruth/tree/1a71f373d63deb3e619f0a11a70606cbc26247eb) and using the `-Zpolymorphize` flag I managed to get `lld` to crash in a rather large way. Simply removing the `-Zpolymorphize` flag fixes the issue

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

`.cargo/config.toml`:

[co

[2021-02-26 22:57] jacobmischka commented on #82242
The example above does reproduce for me, I receive all 1s, but I also have been successful performing integer division in projects. [The math here for driving a speaker](https://github.com/jacobmischka/tea-whistle/blob/main/src/tone.rs), for example, does properly produce the correct tones on the same device I tested the above code on. I do not understand how both of those could be true, but it se

[2021-02-26 23:51] cuviper commented on #81051
I opened rust-lang/llvm-project#92 to start, a simple revert which reportedly fixed this issue -- <https://github.com/rust-lang/rust/issues/81051#issuecomment-776282631>.

[2021-02-27 00:04] richkadel commented on #82144
@catenacyber - Just to be clear, @tmandry is explaining a case that is known to fail, but the explanation does not state what is known to work.

Until we have evidence that someone has tried generating coverage reports from both Rust and C++, we don't know for certain if there is a configuration that will work.

But known constraints are:

* Both compilers must be built using the same version of L

[2021-02-27 00:12] kolbma commented on #82242
Strange, here u8 and u16 is fine. But u32 definitively not. I've not checked the signed variants.
It looks like memory corruption.
I've got also crashes when writing the result of the division to the usart with hardcoded u32, with u16 there is no problem.

[2021-02-27 00:13] richkadel commented on #82144
I spoke to both @wesleywiser and @tmandry offline, and both agreed with this plan (including the additional flag to override the error, which will be useful for rustc developers in diagnosing this kind of issue). And I see @catenacyber also gave a thumbs up.

I will move forward with a PR for this.

I plan to split out a separate issue that summarizes the feature request to support some `-O` level

[2021-02-27 00:14] jacobmischka commented on #82242
Oh, I didn't include a `u32`, oops, I meant to. Yeah, `u32` uDisplay seems broken, but `to_le/be/ne_bytes()` works around that sort of.

[2021-02-27 00:30] crclark96 commented on #82242
Just a heads up I filed this issue for the `ufmt` crate when printing certain numbers, so using `to_le/be/ne_bytes()` seems to be the most reliable for now

https://github.com/japaric/ufmt/issues/28

[2021-02-27 00:41] ben0x539 commented on #82083
mhm, stayed away from there because it talks about tuple structs and crates, but it's probably really the same thing :+1:

[2021-02-27 05:05] #67839 closed

[2021-02-27 05:05] #81871 closed

[2021-02-27 05:05] #82438 closed

[2021-02-27 05:05] #82455 closed

[2021-02-27 05:15] osa1 commented on #82566
@rustbot claim

[2021-02-27 05:18] osa1 commented on #82566
It turns out @lcnr 's repro is different than the original repro. My PR fixes @lcnr 's examples but not the original one. I'll update it to fix the original one too.

[2021-02-27 05:25] tgnottingham commented on #82406
I haven't been able to fully investigate, so I can't help much yet. But the issue is partly that the compiler is struggling with generic functions whose type parameters are deeply nested. The MCVE results in types whose string representations are extremely long (like `FlatMap<FlatMap<Receiver<FlatMap<Concat<Receiver<FlatMap<Join<Receiver<...>>>>>>>>`). One is 19 million characters.

At one point,

[2021-02-27 09:10] QuineDot commented on #55437
This RFC stated that

However, [the RFC](https://rust-lang.github.io/rfcs/1105-api-evolution.html) has not been updated.  (The reference was updated in [PR 703](https://github.com/rust-lang/reference/pull/703).)

[2021-02-27 09:29] jslupicki opened #82580 "Problem with combile actix-http with rustc 1.51.0-nightly on Windows"
### Code

It is  actix-http library and particular actix-http-2.0.0\src\client\h1proto.rs:58:27

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>
I've run `set RUST_BACKTRACE=1; cargo build --verbose`

[code]

</p>
</details>

[2021-02-27 09:55] InnocentusLime opened #82581 "Rustdoc: the `Sized` bound on traits isn't shown"
`rustdoc` doesn't show that some traits require the type to be sized, which can get a bit misleading.

For example, the docs for `std::default::Default` (https://doc.rust-lang.org/std/default/trait.Default.html) show

[code]

While in reality it is actually

[code]

When looking at a trait definition, `rust` assumes that the type the trait will be implemented for is `?Sized`, so dropping `Sized` i

[2021-02-27 10:02] tazjin opened #82582 "Rustdoc: Sidebar toggle is not accessible"
The sidebar toggle on Rustdoc pages is not recognised as a clickable item by accessibility tooling, making it difficult to toggle in circumstances where mouse usage is difficult.

This is an example of what it currently looks like in Vimium, a common extension for making pages keyboard-accessible:

![Screenshot of Vimium hint view on Rustdoc, showing that the sidebar toggle is not highlighted](htt

[2021-02-27 10:02] SNCPlay42 commented on #82580
This is a duplicate of #81805, which is a duplicate of #81531. Updating to a more recent nightly should fix the issue.

[2021-02-27 10:06] SergioBenitez opened #82583 "invalid ident characters in proc-macro token strings fail to lex post-expansion"
The title is a bit of a mouthful. Hopefully this very short example is illustrative:

[code]

This plus a `fn main() {}` with my local `rocket` as a dependency results in:

[code]

The procedural macro itself _is not_ emitting an error: it is producing valid tokens. Copy/pasting the generated tokens results in a program that compiles successfully.

Note that the following works as expected:

[code

[2021-02-27 10:40] #82580 closed

[2021-02-27 10:48] osa1 commented on #82566
All fixed.

[2021-02-27 10:57] jslupicki commented on #82580
Confirm - with 1.52.0-nightly it compile just fine. Thanks.

[2021-02-27 11:49] jacobmischka commented on #82242
You're right, they don't work with `u32` inputs. The reason why I was able to get it to work in my project I linked above is because they actually were `u16`s, just casted to `u32`.

[code]

<details><summary>Output:</summary>
<pre>
[5, 0, 0, 0] / [1, 0, 0, 0] = [1, 0, 1, 0]
[5, 0, 0, 0] / [2, 0, 0, 0] = [1, 0, 1, 0]
[5, 0, 0, 0] / [3, 0, 0, 0] = [1, 0, 1, 0]
[5, 0, 0, 0] / [4, 0, 0, 0] = [1, 0, 1

[2021-02-27 12:07] jacobmischka commented on #82380
This probably is related to #82242, because shifting does work for `u16`:

[code]

Output:

[code]

[2021-02-27 12:26] kolbma commented on #82242
Yes, it is a problem of handling >16bit data for the architecture.
The instructions need 8-bit or some support 16-bit, the rest need to be handled by code from the compiler.
So I don't know the format of this data-layout-spec, I couldn't find much info about it some time ago, but the only possibility is to use 8bit "fields" for data to handle bigger ones.

I've really strange results here when usi

[2021-02-27 12:30] Nemo157 opened #82588 "Rustdoc allows multiple declarations of a feature"
I tried this code:

[code]

I expected to see this happen: Both `cargo build` and `cargo doc` to fail because of multiple declarations of the `doc_cfg` feature.

Instead, this happened: `cargo build` failed while `cargo doc` succeeded:

[code]

### Meta
`rustc --version --verbose`:
[code]

[2021-02-27 12:45] RalfJung commented on #82101
So, eh, what *is* the effect of it then? The entire issue seems to be written under the assumption that `attribute((aligned))` corresponds to `repr(align)`. `repr(align)` is an attribute to *guarantee* that all values of a type are aligned in a certain way. If that's not what `attribute((aligned))` is doing, then this is not-a-bug since these two attributes are not even meant to do the same thing.

[2021-02-27 13:13] LinkTed commented on #76915
@tadeokondrak  I open a new PR #82589.

[2021-02-27 13:17] spastorino commented on #82437
we were discussing this issue with @apiraino and unless for some reason somebody considers this as `P-critical` or there's some severe implication on this as you've said this is fixed on beta. We were not able with @apiraino to reproduce this using cargo-bisect-rustc because this doesn't reproduce on any nightly. I guess some condition on stable + some stable backport is what causes this behavior.

[2021-02-27 13:30] RalfJung commented on #82493
I do not see a feasible way for the `transmute` documentation to explain *for all possible types* which guarantees matter. Alignment is just one of many examples. Whether you can transmute `T` to `U` depends on the details of `U` (and, less so, `T`), and I don't think `transmute` can cover this for all possible `U`.

For example, `transmute` of `3u8` to `bool` is also UB. And the list goes on fore

[2021-02-27 13:34] RalfJung commented on #82493
However, maybe the comment in the example could be worded a bit more carefully to explain that alignment matters *in this specific case* because we are transmuting a pointer (implicitly as part of the `Vec`). Do you have any suggestions for how that could be worded?

Honestly, that entire example is a bit weird. It says "still using transmute" but the code this comments doesn't even use `transmute

[2021-02-27 13:48] Lonami commented on #82493
If alignment is not a concern when transmuting values (because the compiler will *move* the memory to a stack location which is properly aligned), I think it would be worth explicitly saying this. Unless I was explicitly told (like Heroic explained), it would not have occured to me that it's moving into a proper aligned location.

With regards to "explain all possible types", I don't think this is

[2021-02-27 14:29] RalfJung commented on #82493
I'm not a fan of listing all the things that are *not* a concern. That's a long list. However, you are not the first person to suggest this, so I concede. I guess I will never understand why people *expect* alignment to be an issue here, but it seems they do, and I don't have to understand everything. ;)

It already says that (in double-negated form): "Neither the original, nor the result, may be

[2021-02-27 14:30] Kixunil opened #82590 "std::fs::write is not atomic - document it explicitly or make it atomic"
By not being atomic, `std::fs::write()` may be a footgun for people trying to create correct/secure code.
As an example, nodejs has a function with same behavior that led to [a security risk](https://github.com/Ride-The-Lightning/RTL/issues/610). In that case creation of the secret token file succeeded but writing to it failed leaving an empty token file which caused application to accept empty au

[2021-02-27 14:38] Lonami commented on #82493
In my case, it's because I'm not sure if it was undefined behaviour to read a type from memory with the wrong alignment. IIRC, there are some CPU architectures that fault when a misaligned memory access occurs? Or maybe I'm misremembering. Basically, I wasn't sure if "interpret this bunch of bytes as this other type" is something that is okay to do when "the bunch of bytes" is misaligned.

My bad,

[2021-02-27 14:42] RalfJung commented on #82493
It *is* UB to perform an unaligned read or write. But `transmute` is a by-value operation, so you anyway have no control over the location at which `T` or `U` end up.

Anyway, you made some good suggestions -- do you plan to turn these into a PR, or should we mark this as an E-easy issue for someone else to write the PR?

[2021-02-27 14:52] the8472 commented on #82590
That isn't limited to `fs::write` though. Several of the convenience methods shouldn't be used in security-sensitive contexts since they would suffer from lack of atomicity or TOCTOU races. In some contexts [even path traversal isn't safe by default](https://github.com/openSUSE/libpathrs).

Several crates for atomic file operations exist on crates.io.

Note that the usual atomic file creation danc

[2021-02-27 15:20] Kixunil commented on #82590
@the8472 very good points and I agree 100%. I didn't intend to dismiss those. My idea is to make `std` more helpful somehow. Whether it's by making operations safer or documentation more explicit is up for discussion.

If I was confident that there's one true solution, I'd just open a PR, not an issue. :)

[2021-02-27 15:24] liufuyang commented on #67957
@mbrubeck  Thank you. I encountered this as well and do we have plans to fix it? Also do you know is there a way to use `-Z polonius` with `cargo`?

[2021-02-27 15:25] ethanboxx commented on #82149
@rustbot claim

I am mentoring @Mec-iS on this issue.

[2021-02-27 15:29] Mec-iS commented on #82149
PR opened at #82591

[2021-02-27 15:48] kolbma commented on #82242
I've replaced my rust-core division with https://docs.rs/num-integer/0.1.44/num_integer/fn.div_floor.html
[code]

Not sure if this works for all data sizes, but in my case the memory corruption goes away with this more or less drop-in replacement.

[2021-02-27 15:57] davystrong commented on #82242
Also facing this issue.

[2021-02-27 16:02] the8472 commented on #82590
I think improving the documentation would be fine. There just is that niggling doubt that we can never do enough to document all possible pitfalls for all security-critical use-cases. This could basically fill a book.

I don't want to endorse anything.  `tempfile` and `atomicwrites` both look half-decent in different ways (at least on unix systems) but each lacks some things I would expect from a

[2021-02-27 16:04] Kixunil commented on #82590
I hope it's not *that* bad. :D

Thanks for pointers!

[2021-02-27 16:07] hameerabbasi commented on #82583
This bug has existed since at least `2018-01-01`, according to `cargo-bisect-rustc`. I tried at `{2018,2019,2020,2021}-01-01`, and all of these reproduce the failure. All of these give errors of the form:

[code]

[2021-02-27 16:08] 89z opened #82595 "Zstandard"
I noticed that the files here:

https://static.rust-lang.org/dist/channel-rust-stable.toml

are available with Tar.Gz and Tar.Xz. I was wondering if Zstandard has been considered as an additional format, or even as a replacement for Xz.

https://en.wikipedia.org/wiki/Zstandard

[2021-02-27 16:08] 89z commented on #82595
https://github.com/rust-lang/rustup/issues/2683

[2021-02-27 16:16] usbalbin commented on #81615
...which would allow things like
[code]
keeping the length in the type system removing the need for asserting the length at runtime. Of course this can not support things like `filter` and other methods that may affect the length during runtime.

Are there many real use cases where those limitations would be problematic when collecting into collections of a fixed size? :)

[2021-02-27 16:32] the8472 commented on #82590
It's that bad if we're talking about using filesystem APIs in security contexts in general. Atomically and durably overwriting a file in a potentially attacker-controlled directory is a bit smaller in scope, it would merely take up several blog articles or a chapter in the book.

* https://danluu.com/file-consistency/
* https://lwn.net/Articles/752063/
* https://stackoverflow.com/questions/4383930

[2021-02-27 16:33] Aaron1011 commented on #82583
@SergioBenitez: I'm getting the following error locally:

[code]

I'm using `rocket 0.4.7` - is there a specific version I need to be using?

[2021-02-27 16:36] m-ou-se commented on #82583
@SergioBenitez Do you have an example that reproduces this error? I can't reproduce it with a test proc macro.

[2021-02-27 16:39] de-vri-es commented on #82400
This isn't actually fixed yet, my bad for accidentally linking the issue. Might be good to re-open until it really is solved in std too.

[2021-02-27 16:40] m-ou-se commented on #82583
Ah, looks like this is unrelated to proc macros. Rustc parses `мир` as a valid identifier (even though it complains later that non-ascii identifiers are not supported). Apparently your proc macro ends up using the name as an identifier, outside a string literal:

[code]

[2021-02-27 16:48] the8472 commented on #82595
The last time this was evaluated (#21724) was that xz provided better compression than even very high zstd settings.

[2021-02-27 16:49] m-ou-se commented on #82583
Or at least that would explain the two-byte vs three-byte utf-8 difference.

What happens with `֍`? That's two bytes in utf-8, but would also cause the same error as `♥` as an identifier.

[2021-02-27 17:09] 89z commented on #82595
That may be true, but Compression isnt and shouldnt be the only factor.

Using Zstandard can result in an order of magnitude decrease in decompression speed. That is not an exaggeration:

https://github.com/rust-lang/rustup/issues/2488#issuecomment-692563689

So if you consider the sum of:

1. Time to download
2. Time to extract

Zstandard wins hands down. The downside will be yes, 8% - 10% larger

[2021-02-27 17:10] 89z commented on #21724
https://github.com/rust-lang/rust/issues/82595

[2021-02-27 17:14] 89z commented on #21724
Its kind of disappointing that not a single person mentioned the difference in decompression time. Xz is extremely slow, in fact an order of magnitude slower than something like Zstandard. That is not an exaggeration:

https://github.com/rust-lang/rustup/issues/2488#issuecomment-692563689

Its unfortunate that Rust moved forward with Xz without even considering this factor.

[2021-02-27 17:17] GuillaumeGomez commented on #82588
Indeed, adding a fix!

[2021-02-27 17:46] 29988122 opened #82599 "Internal compiler error when cross compiling with cross for aarch64"
This can be reproduced every time on my side. (vmware ubuntu 20 lts x86-64)

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-27 17:49] eddyb commented on #82583
If that was the case, why is the error complaining about `'\u{2665}'`, which is the correct representation for `'♥'`?

The bridge just uses the usual Rust strings on both sides, and in the RPC they're encoded as length and raw byte data.

And if there *was* an issue with the bridge e.g. UTF-8 validation (I forget if we do that aggressively), you'd know it was in the bridge, because you'd get a ver

[2021-02-27 17:59] the8472 commented on #82595
People live with constrained internet speeds or even data caps. To some bytes are probably valuable than CPU cycles.

[2021-02-27 18:00] jonas-schievink commented on #82599
duplicate of https://github.com/rust-lang/rust/issues/56935

[2021-02-27 18:00] #82599 closed

[2021-02-27 18:01] eddyb commented on #82583
Ugh I was wrong, the thing I thought I read was about panicking, i.e. this: https://github.com/rust-lang/rust/blob/ec7f8d94df0251532c47330abcb7988d77a1f818/compiler/rustc_expand/src/proc_macro.rs#L55-L60

Anyway I'm back to "we need to see either the proc macro or the output".

[2021-02-27 18:05] eddyb commented on #82583
The debugging technique I was thinking of, before getting confused, was this: https://godbolt.org/z/Exa5d1

Add `-Z treat-err-as-bug` in order to turn the error into an ICE, and then you can use `RUST_BACKTRAE=1` to get a backtrace.

[2021-02-27 18:12] 89z commented on #82595
Its not about CPU cycles, its about Time.

I apologize that I didnt make that more clear. If you consider the sum of:

1. Time to download
2. Time to extract

Zstandard takes significantly less time.

[2021-02-27 18:22] est31 commented on #45683
Just as a data point, this issue affects real world programs. Recently rav1e has eliminated an implicit copy of a large type and [gained speed thanks to it](https://dev.to/barrbrain/video-encoder-rollback-optimization-in-rav1e-4d5k).

[PR link](https://github.com/xiph/rav1e/pull/2667)

[2021-02-27 18:23] the8472 commented on #82595
That does not affect my argument. The bytes transferred will also be more valuable than wall-time.

Also, wall-time could probably be optimized by decompressing multiple items in parallel.

[2021-02-27 18:28] yoshuawuyts opened #82602 "Diagnostics: suggest using `array::IntoIter::new` to iterate over arrays"
When following [the const-generics beta MVP blog post](https://blog.rust-lang.org/2021/02/26/const-generics-mvp-beta.html#by-value-array-iterator) we ran into this diagnostics error. The blog post specifically requests filing const-generics related diagnostics issues, so here goes!

- Rust 1.51.0-beta.3 (2021-02-24)

Given [the following code](https://play.rust-lang.org/?version=beta&mode=debug&ed

[2021-02-27 18:36] davidspies commented on #82406
Thanks,

How do I see how long the generated types are?

I want to try various changes and see how that affects things

[2021-02-27 18:42] tgnottingham commented on #82406
You can use `-Z print-mono-items=lazy`. The output will be a couple of GB.

[2021-02-27 18:50] 89z commented on #82595
I think I am doing a poor job of explaining. When a person installs an archive,
they incur two costs:

1. Cost in bytes of archive size
2. Cost in time to download and extract

This is not a point of argument. What is a point of argument, is the respective
value of both. For example, given these options:

option | size   | time
-------|--------|-----
1      | 100 MB | 1 hour
2      | 110 MB | 1 se

[2021-02-27 19:04] the8472 commented on #82595
Was that with the xz defaults or `xz -9`? The issue I linked previously distinguished those cases and found the latter to be smaller.

That depends on several factors, e.g. how often one performs these actions.

From a time perspective alone (i.e. ignoring the monetary costs of data caps/metered connections) you have to consider the pipelining/stream-processing case. If you are downloading and dec

[2021-02-27 19:10] yutiansut opened #82604 "thread 'rustc' panicked at 'no errors encountered even though `delay_span_bug` issued', compiler\rustc_errors\src\lib.rs:974:13"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-27 19:17] alsoijw commented on #59220
@hvdijk can you say version of llvm or hash with fix?

[2021-02-27 19:25] the8472 commented on #82595
I notice that rustup has support for multiple formats.

Adding zstd as *additional* format should be fine. But *replacing* xz wouldn't be a good idea be as long as it still provides superior compression which helps bandwidth-constrained users.

[2021-02-27 19:26] MJohnson459 opened #82606 "std::time::Instant panicked at "supplied instant is later than self”"
This is from a question I posted on stack overflow a few months ago so there is more discussion there about how I came across it.
<https://stackoverflow.com/questions/64159779/rust-stdtimeinstant-panicked-at-supplied-instant-is-later-than-self>

I tried this code:

[code]

This seems to consistently panic with the error "supplied instant is later than self” when the `ready` method is called from w

[2021-02-27 19:41] jonas-schievink commented on #82604
duplicate of https://github.com/rust-lang/rust/issues/81531

[2021-02-27 19:41] #82604 closed

[2021-02-27 19:41] SergioBenitez commented on #82583
HI all! Thank you for taking a look.

Yes, apologies. This is reproducible with the (WIP) [`new-data-forms`](https://github.com/SergioBenitez/Rocket/tree/new-data-forms) branch.

Indeed, this also causes the same error. I'll amend the title. But...

It does not. This was my own first hypothesis. Here is the generated code, which again, when copy-pasted compiles successfully:

<details>
  <summary>

[2021-02-27 19:49] felix91gr commented on #80038
Small update:

It's been a hectic month here. I got an injury in my right elbow and that's limiting my ability to use the right arm in general. Also one of our puppers had to have an urgent, very dangerous surgery and that also took away basically all of my attention and energy. Currently I'm working on getting my arm in better shape, and struggling a bit with MH stuff.

I've been studying the fun

[2021-02-27 19:59] 89z commented on #82595
This file:

https://static.rust-lang.org/dist/2021-02-11/rustc-1.50.0-x86_64-pc-windows-gnu.tar.xz

is 85.9 MB. If I extract the tar and recompress, here are some results with Zstandard:

level | size
------|--------
22    | 74.2 MB
21    | 86.7 MB

So again, in some cases Zstandard is actually smaller than Xz, while still enjoying massive speed benefits.

Ok, but is RustUp, or whatever tools actu

[2021-02-27 20:14] TrolledWoods commented on #75027
@the8472 While it's true that ``iter`` usually returns borrowed iterators, there are a lot of borrowed iterators that do not have ``iter`` in their name. ``values``, ``keys``, ``chunks``, ``windows``, e.t.c. Considering that ``windows`` is already a stabilized name too, it would make sense for this name to also contain ``windows``.

Additionally, if there are any better name suggestions for these

[2021-02-27 20:19] the8472 commented on #82595
If that is the case then maybe zstd has improved since the last measurements and they need to be redone.

That is not really a "benefit", it is an argument that decompression time is not relevant up to the point where it exceeds download time. I.e. for slow connections compression ratio is the sole determining factor for wall-time.

If they aren't that needs to be fixed and may actually be simpler

[2021-02-27 20:30] 89z commented on #82595
You seem content to just hand wave away the massive speed benefits the Zstandard format offers. I find your position strange, its almost like you would be content if no new format were ever made again, and Xz was used for decades into the future. Zstandard was created for a reason, people saw the decompress speed for Xz was lacking.  Because you are not taking these differences seriously, I do not

[2021-02-27 20:32] Ginkooo opened #82609 "Self {..Default::default()} in Default trait implementation causes stack overflow"
Hey, I'm not sure if it's a bug, or if this should be done differently but when i do this:
[code]

It causes stackoverflow:

[code]

I think it enters infinite recursion after this.

Anyway, it would be nice to have that feature, so if we have some custom fields defined in struct Foo, we could provide defaults in a trait implementation and do `..Default::default()` for all others. What do you thin

[2021-02-27 20:36] jamesmunns opened #82610 "ICE on `let mut [N]` when N is a generic parameter"
### Code

[code]

### Meta

This ICE is present on the current stable (1.50), beta (1.51), and nightly (`rust version 1.52.0-nightly (9c09c1f7c 2021-02-26)`)

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

I don't expect this code to compile (I was mid- writing something else and hit this ICE on a `cargo watch` invocation), but also w

[2021-02-27 20:38] CAD97 commented on #81996
If zero-length arrays are both nonstandard C and is an extension to be used for FAM: _why_ do we care what the layout is at all? Such a type should never exist on the stack at all anyway, and only behind a pointer. And the correct way to model FAM on the Rust side of FFI is as `[T]` (if you want a fat pointer<sup>[1]</sup>), or an aligned extern type (unstable).

Even if we say that `#[repr(C)]` m

[2021-02-27 20:39] jamesmunns commented on #82610
Actually, even more simply, this triggers the ICE:

[code]

[2021-02-27 20:48] jonas-schievink commented on #82609
This is working as expected, the compiler warns about it too

[2021-02-27 20:48] #82609 closed

[2021-02-27 21:07] the8472 commented on #82595
I do not. I argue that the benefit can be zero or negative for a significant amount of the user-base, conditional on rustup being properly pipelined and xz still offering superior compression speeds.

For some users zstd could be a net-positive. I never denied that.

I never said any of the words you're putting in my mouth here. I guess that's the "almost" in that sentence does a lot of work here,

[2021-02-27 21:39] leo60228 commented on #82606
I tried reproducing it: https://gist.github.com/07ceec72e0bfec67ab4a61d143bccee2

The panic doesn't trigger for me on NixOS 20.09, including in an `ubuntu:bionic` Docker container.

[2021-02-27 21:53] cart opened #82612 "ICE: cannot relate bound region: ReLateBound"
### Code

While writing a SparseArray impl, I forgot a return on `value.get_or_insert_with(func)`. This _should_ be an error, but I got an ice instead. This fails with the expected on stable.

[code]

playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a3776450ab79249a20b477f8365c88df

(Note that switching to stable resolves the ICE)

### Meta

`rustc --version --v

[2021-02-27 22:01] leonardo-m commented on #82602
Isn't it better to wait for shorter ways to iterate an array by value?

[2021-02-27 22:19] nikic commented on #35981
Looks like there's no bounds checks on f5 either anymore (since 1.45): https://rust.godbolt.org/z/f3aja5

With that, I think we can call this resolved, and other bounds check elimination failures should be reported separately.

[2021-02-27 22:19] #35981 closed

[2021-02-27 22:28] apiraino commented on #82400
@de-vri-es no worries, I'll reopen it

[2021-02-27 22:28] the8472 commented on #82606
On linux the correctness of CLOCK_MONOTONIC depends on the kernel, firmware updates and the CPU to do the right thing. And decisions can be overriden with manual clock source configuration. Running in docker won't replace your kernel or load older firmware images, so it doesn't help with testing.

18.04 is pretty old, so it might be lacking some updates or workarounds for your particular CPU. So i

[2021-02-27 22:55] hvdijk commented on #59220
LLVM 12 will have the fixes.

[2021-02-27 22:59] yoshuawuyts commented on #82602
@leonardo-m it's unclear when, or even *if* such a method will land (though I certainly hope it will). With const generics scheduled to be stable on Rust 1.51.0 (four weeks from now) this seems like a diagnostics improvement which will have a material impact on people's use of Rust.

[2021-02-27 23:10] apiraino commented on #82610
I've tried bisecting, here's the results (I'm afraid not really useful):

[code]

bisect command: `cargo bisect-rustc --preserve --end=2020-04-01 --regress ice`

[2021-02-28 00:20] bstrie commented on #81615
Hm, that's an intriguing possibility. On the other hand it doesn't actually solve the issue for users who didn't start out with a fixed-size array in the first place. Which is to say, even if we had such a size-aware array-only iterator, we'd probably still want one of the other solutions in this thread to fill in the gaps. I'd say your proposal is orthogonal to this issue and deserves to be propo

[2021-02-28 02:36] jsha opened #82614 "rustdoc: CSS for all three themes is fetched"
Right now, light1.52.0.css, dark1.52.0.css, and ayu1.52.0.css are all loaded on each page load. These are early in the page, and as high-priority resources, they loaded first. Even with HTTP/2, they block other resources from starting their downloads (because there appears to be a limit on parallel HTTP/2 fetches made by browsers; though I need to check this).

![image](https://user-images.githubu

[2021-02-28 02:39] ehuss opened #82615 "Renamed lints not honored in attributes"
I tried this code:

[code]

I expected to see this happen: Should generate an error due to the `deny` attribute.

Instead, this happened: Generates a warning about the renamed lint (`single_use_lifetime` -> `single_use_lifetimes`), but otherwise does not generate an error.

Note that lints passed on the command-line (like `-D single_use_lifetime`) do work as expected.

### History

It looks like t

[2021-02-28 02:40] jsha opened #82616 "rustdoc: theme.js may be incorporated into main.js"
theme.js is loaded very early in the rustdoc HTML documents, "to reduce theme switch latencies as much as possible:" https://github.com/rust-lang/rust/blob/master/src/librustdoc/html/render/mod.rs#L782-L834. It seems when themes were first introduced in 003b2bc1c652, theme.js was responsible for setting the displayed theme based on local storage. However, since 5f93159e9, that job is done by stora

[2021-02-28 03:31] camelid commented on #43636
However, note that `everybody_loops` currently does not replace `const fn` bodies:

### input code

[code]

### everybody_loops

[code]

[2021-02-28 03:43] camelid opened #82618 "Remove `everybody_loops`?"
Based on a quick ripgrep, `everybody_loops` seems to only be used for the `-Z unpretty=everybody_loops` CLI option. (#73566 removed rustdoc's use of `everybody_loops`.)

Does anyone use `-Z unpretty=everybody_loops`? If not, I think we should remove the pass.

cc #82617
cc @jyn514

[2021-02-28 03:44] camelid commented on #82618
Not sure if this requires an MCP, but thought I'd start with an issue.

[2021-02-28 03:47] camelid commented on #82618
It looks like this has been discussed before: https://github.com/rust-lang/rust/pull/73566#r445603609

If we can't remove it because people still use it, maybe it's worth adding documentation to #82617 saying that it's only there for the flag and you shouldn't use it in real code?

[2021-02-28 03:50] roboFiddle opened #82619 "Confusing mismatched type error message with const_evaluatable_checked"
I'd be happy to try to fix this, but some pointers on where to start would be greatly appreciated.

Given the following code - [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=962c845e9dbe023df736f78ef7dd6e87):

[code]

The current output is:

[code]
Ideally, the error messages would be identical. Removing the `{N1 + N2}` calculation allows the compiler to prov

[2021-02-28 03:56] #82209 closed

[2021-02-28 03:56] #73979 closed

[2021-02-28 03:56] #82582 closed

[2021-02-28 04:27] SNCPlay42 commented on #82612
@rustbot label regression-from-stable-to-nightly

[2021-02-28 04:38] philip-peterson commented on #65280
@tmandry is that implemented using the Rust standard tooling or some other way? Would be nice for development on this issue to have a minimal repro case, against which to test changes to Rust on.

[2021-02-28 04:44] jyn514 commented on #82618
Closing this since at least @pnkfelix still uses the option.

[2021-02-28 04:44] #82618 closed

[2021-02-28 05:32] jyn514 commented on #82610
Slightly smaller (this doesn't have anything to do with the diverging expression):
[code]

[2021-02-28 05:57] jyn514 opened #82621 "`x.py test src/tools/cargo --test-args x` does not pass x as an argument"
I tried this: `x.py test src/tools/cargo --test-args message_format`
I expected to see this happen: x.py only runs cargo tests with `message_format` in the name.
Instead, this happened: x.py runs all cargo tests:

[code]

### Meta

I'm using 5d02aa1150a2afea958bbeacaa7683ba3a8f00f3 (branched from 8a9f7862bcfa5870a34bb54f77a03c73d1db5c37).

[2021-02-28 06:37] #81514 closed

[2021-02-28 06:45] tesuji commented on #82400
Lmao, github needs to come up with better algorithm to decide when to close issues with keywords.
@JohnTitor could you reopen this issue ?

[2021-02-28 07:22] InnocentusLime opened #82623 "Incorrect error printed by `rustc` when using generics in constants"
I tried the following piece of code:

[code]
What I expected `rustc 1.50.0` to do is abort with an error telling that generic parameters are not yet allowed in constant expressions. The stable version of the compiler, however, prints out the following error, making it seem like it's ignoring the trait bound:

[code]

The `beta` and `nightly` versions of the compiler report the error correctly:

[c

[2021-02-28 07:46] osa1 commented on #72956
Sigh.. I just realized that this has nothing to do with MIRs as the error is generated before MIR generation. I was confused because I saw that MIRs are generated for this program, so thought that it should pass type checking etc. and the error is generated after some of the MIR passes. In reality the error is generated in type checking, but we continue with compilation (even with the error) and g

[2021-02-28 09:18] #81051 closed

[2021-02-28 09:45] moxian opened #82625 "Per-commit CI artifacts seemingly missing starting 2021-02-23"
I was looking for a per-commit builds that used to be published to S3 bucket (and that are used by https://github.com/rust-lang/cargo-bisect-rustc among other things), and it appears that those are not published any more? The last one in the [rust-lang-ci2 bucket](https://s3-us-west-1.amazonaws.com/rust-lang-ci2) is from 2021-02-23 - commit 019610754363d1d92a8d0f364d2c0909d6f53dfd . The artifacts

[2021-02-28 09:47] moxian commented on #82625
@rustbot label: +T-infra

[2021-02-28 09:52] apiraino commented on #82610
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2382610.20ICE.20when.20mixing.20.60todo!().60.20and.20Const.20Generics) and removing `I-prioritize`.

@rustbot label -I-prioritize +P-medium

[2021-02-28 10:10] apiraino commented on #82612
Bisection result

searched nightlies: from nightly-2021-02-22 to nightly-2021-02-28
regressed nightly: nightly-2021-02-24
searched commits: from https://github.com/rust-lang/rust/commit/a15f484b918a4533ad633ea903ccce82910af342 to https://github.com/rust-lang/rust/commit/fe1bf8e05c39bdcc73fc09e246b7209444e389bc
regressed commit: https://github.com/rust-lang/rust/commit/a4e595db8f12f9ee926256745d757

[2021-02-28 10:12] JohnTitor commented on #82612
Caused by #81769.

[2021-02-28 11:40] lucas-deangelis commented on #82209
And it's merged! Thank you @jyn514 and @camelid for the help on the issue, @hellow554 for some of the initial work and @Dylan-DPC for the rollups.

[2021-02-28 11:51] kinnison commented on #82595
For reference, when `rustup` was discussing adding `.zst` support, @joshtriplett did some very basic tests on compression size which he detailed on the issue in `rustup` - At least one data point showed `.zst` being significantly smaller than `.xz` so there may be merit in considering `.zst` from a size/bandwidth perspective as well as a decompression speed perspective.  That comment is here: http

[2021-02-28 12:33] JohnTitor commented on #75883
This issue has been fixed by #82494, marking as `E-needs-test`.

[2021-02-28 12:34] JohnTitor commented on #80779
This issue has been fixed by #82494, marking as `E-needs-test`.

[2021-02-28 13:09] GuillaumeGomez commented on #82616
There are two reasons for this:
 1. This is a completely generated file.
 2. It's small and allow to make the switch much faster than it would if integrated into a (much) bigger file.

[2021-02-28 13:26] lucas-deangelis commented on #82131
Can I claim this one?

[2021-02-28 13:55] franklucky001 opened #82629 "rustc compiler unexpectedly panicked"
### Code
[code]

### Meta

`rustc --version`: rustc 1.50.0 (cb75ad5db 2021-02-10) running on x86_64-pc-windows-msvc

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-28 14:15] 0yoyoyo commented on #82446
@rustbot claim

[2021-02-28 14:24] jonas-schievink commented on #82629
This is fixed on nightly

[2021-02-28 14:25] EkremDincel commented on #26179
Did anybody considered something like [this](https://godbolt.org/z/Pxv6cW) for annotating `match` statements:
[code]

Ideally, LLVM would optimize the `likely(matches!(option, Some(_)))` to no-op since it don't have any side effects. Would this be a reasonable and useful way of doing this and is this enough to hint the compiler for optimizations?

[2021-02-28 14:26] ehuss commented on #82625
The artifacts for fe1bf8e05c39bdcc73fc09e246b7209444e389bc seem to exist for me: https://s3-us-west-1.amazonaws.com/rust-lang-ci2/rustc-builds/fe1bf8e05c39bdcc73fc09e246b7209444e389bc/rustc-nightly-x86_64-unknown-linux-gnu.tar.xz

Perhaps you are looking for alt builds?  Those were recently discontinued, see https://internals.rust-lang.org/t/update-on-rust-ci-removing-rustc-builds-alt/14031

Is th

[2021-02-28 14:27] jonas-schievink commented on #82623
Fixed in beta, so closing

[2021-02-28 14:27] #82623 closed

[2021-02-28 14:32] matthiaskrgr commented on #82629
Could be a duplicate of https://github.com/rust-lang/rust/issues/82156

[2021-02-28 14:51] matthiaskrgr opened #82631 "E0277: wrong span (doesn't have a size known at compile-time)"
Given the following code:

[code]

The current output is:

[code]

I think the span should only cover the `*"hello"`?

Ideally the output should look like:

[code]
The `format!()` returns a String and we know the size of that.

[2021-02-28 14:52] jyn514 commented on #82209
You're very welcome! Thank you for tackling the fix :)

[2021-02-28 15:08] SNCPlay42 commented on #82631
The span on the [expanded](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=40bd7d8c85e0de6c887bb86d59a69517) code is:

[code]

I think the error message in general could be changed to highlight the argument, not the call. (And I imagine `arg0` might already have its span set to that of the format argument.)

[2021-02-28 15:14] SNCPlay42 commented on #82631
The difficulty with that approach would be that `ArgumentV1::new` is generic and the compiler would have to find a span for what caused it to infer `T=str`.

[2021-02-28 16:33] jsha commented on #82616
main.js is also generated, in the sense that it's baked into rustdoc and then emitted and doc build time. rustdoc could concatenate theme.js to the end of main.js at doc build time.

Also, it looks like the only things that are interpolated into theme.js are the theme names. If we wanted to further simplify things, we could put the constant part of theme.js in main.js, and just interpolate an arra

[2021-02-28 16:35] steffahn opened #82633 "`fn() -> Out` is a valid type unsized types `Out`, and it implements `FnOnce<(), Output = Out>`"
`fn() -> Out` is a valid type, even for unsized types `Out`, and it implements `FnOnce<(), Output = Out>`, even though `FnOnce::Output` is _**not**_ `?Sized`.

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=50ed5c1b61ebd346ab0ed9bc5bcb6556))

Errors:

[code]

[2021-02-28 16:41] GuillaumeGomez commented on #82616
You're right, my bad. Then yes, it doesn't make much sense to keep it on its own, we can simply merge it within `main.js` when generating the documentation. Don't know why I was sure it was handling the theme switch...

[2021-02-28 17:30] Aaron1011 commented on #82583
I manually inserted a `panic!()` into the compiler, and got the following stacktrace:

[code]

It looks like Rocket ends up calling `TokenStream::from_str` (via `syn`).

[2021-02-28 18:15] Aaron1011 commented on #82631
This already works in the case of a single argument:

[code]

produces:

[code]

However, when the type parameter is used by multiple arguments, the span switches to point the function call:

[code]

produces:

[code]

[2021-02-28 18:40] jyn514 opened #82636 "Panic when running UI tests without -Z unstable-options"
Steps to replicate: Check out https://github.com/jyn514/rust/commit/0e0bb7b4db3bd7e3cc846cea96c6bf69f201d05e and run `x.py test src/test/ui.

[code]

<details><summary>Backtrace</summary>

[code]

</details>

[code]

[2021-02-28 18:41] jyn514 commented on #82636
Relevant part of the backtrace looks like
[code]

[2021-02-28 18:43] jyn514 commented on #82636
https://github.com/rust-lang/rust/blob/573a697a6197abaad5a2d7208dbf1bbc77f4dcf3/compiler/rustc_metadata/src/rmeta/decoder/cstore_impl.rs#L225

[2021-02-28 18:45] jyn514 commented on #82636
This seems to be non-deterministic - I ran it again and it succeeded :confused:

[2021-02-28 19:01] Smittyvb commented on #82224
Duplicate of #49572?

[2021-02-28 19:02] jyn514 opened #82637 "Error diagnostics for associated items are different with `-Z unstable-options`"
I tried this code: https://github.com/rust-lang/rust/blob/573a697a6197abaad5a2d7208dbf1bbc77f4dcf3/src/test/ui/associated-types/defaults-cyclic-fail-1.rs

I expected to see this happen: The error output is the same with and without -Z unstable-options

Instead, this happened: -Z unstable-options reports more errors than without.

[code]

There are similar issues with other errors related to associ

[2021-02-28 19:08] jyn514 opened #82638 "Error diagnostics for lints are duplicated with `-Z unstable-options`"
I tried this code: https://github.com/rust-lang/rust/blob/573a697a6197abaad5a2d7208dbf1bbc77f4dcf3/src/test/ui/deduplicate-diagnostics.rs

I expected to see this happen: The same error output with and without `unstable-options`.

Instead, this happened: One of the errors is duplicated:

[code]

cc @petrochenkov, do you know what's going wrong here?

[2021-02-28 19:17] JulianKnodt opened #82640 "`pub` on `macro_rules!` not supported in rustfmt"
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=71be237d1aed61df9bbdb665bbd5a056`

I expected to be able to format it with rustfmt,

but when running rustfmt there is an error despite compilation succeeding.

The implementation PR is #82296, but unsure if there's a RFC for the original idea.

[2021-02-28 19:24] jyn514 commented on #82636
Oh oops, I also had `parallel-compiler = true`. Let me try turning that off.

[2021-02-28 19:25] jyn514 commented on #82640
@JulianKnodt this should be reported to https://github.com/rust-lang/rustfmt.

[2021-02-28 19:26] jyn514 commented on #82640
Also, this is probably just waiting on a submodule update.

[2021-02-28 19:31] JulianKnodt commented on #82640
my b, didn't realize that rustfmt wasn't in the compiler repo

[2021-02-28 19:31] #82640 closed

[2021-02-28 20:13] SkiFire13 commented on #81314
Since it has been more than 2 weeks since the last update I guess this is free to pick? In case someone is still working on this let me know

@rustbot claim

[2021-02-28 20:49] scottmcm opened #82644 "Suggest a braced-variant when seeing named fields in a tuple-variant"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b13a063d22518585fb862ee27d3c4b6a

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

(Or however that should correctly look -- you'll probably come up with better strings and formatting than that strawman.)

[2021-02-28 20:50] euppal commented on #82644
I agree. Coming from Swift where this is valid I expect the Rust variant to behave similarly.

[2021-02-28 21:39] steffahn commented on #82633
The labeling is a bit tricky on this one. This is [most definitely `I-unsound 💥`-worthy](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1f1e7ad9d4f61c85b4a6dd7f18d42b21) when using `unboxed_closures`. (And you can, of course, also generate ICE’s in a multitude of ways.)

On the other hand, the fact that there is a type implementing `Fn` with unsized `Output` type [is defi

[2021-02-28 21:55] steffahn commented on #82633
@rustbot modify labels: A-associated-items, A-type-system, T-compiler

[2021-02-28 21:58] bytwise opened #82646 "Wrong error on wrapping arithmetic with -Zmir-opt-level=2"
I tried this code with `-Z mir-opt-level=2`:

[code]

It compiles and runs without mir-opt, but with `-Z mir-opt-level=2` or above I get:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2021-02-28 22:12] SimonSapin commented on #81513
Yes that’s the idea behind this RFC: generalize `slice_from_raw_parts` to other kinds of DSTs

[2021-02-28 22:48] fanninpm commented on #82526
@Aaron1011 is this issue safe to close, since its duplicate is also closed?

[2021-02-28 23:06] tgnottingham commented on #82406
@davidspies, a partial solution is to use `-Z symbol-manging-version=v0`. That enables the newer symbol mangling scheme, which generates smaller symbols in cases where there are repeated components within it. With this, the MCVE compiles in 1.3 GB in debug mode.

However, compiling in release mode (#82445) still requires 14 GB. You can lower this substantially by disabling all LTO, for example by

[2021-02-28 23:13] oysterpack commented on #72110
When do we expect this to be released onto stable rust?

[2021-02-28 23:24] tgnottingham commented on #82445
As mentioned in #82406, a workaround is to use `-Z symbol-mangling-version=v0`, and disable LTO in Cargo.toml:

[code]

[2021-02-28 23:26] usbalbin opened #82647 "Compile error with const generics"
Sorry in advance, might just be me missing something but it feels like this should not happen. I tried the following code in both [tests/test.rs](https://github.com/usbalbin/iter_fixed/blob/wonkyness/tests/test.rs#L37) and [src/lib.rs](https://github.com/usbalbin/iter_fixed/blob/wonkyness/src/lib.rs#L12) and get different results:

[code]

I expected everything to compile fine.

Instead, `cargo bu

[2021-02-28 23:47] leonardo-m commented on #82646
I don't even understand the asm for just "-O" compilation of that code.

[2021-03-01 00:14] calebcartwright commented on #82385
#82640 is a good example of another benefit for making this change (syntax updates being supported more quickly)

[2021-03-01 00:18] ehuss commented on #82647
It looks like `test.rs` is missing `#![feature(const_generics)]`

[2021-03-01 00:25] usbalbin commented on #82647
Oh sorry 🤦.

Thank you so much :)

[2021-03-01 00:25] #82647 closed

[2021-03-01 00:28] jonas-schievink commented on #82629
looks like it

[2021-03-01 00:28] #82629 closed

[2021-03-01 00:59] moxian commented on #82625
Oh i see, that's great news!

Yes, I was looking at -alt builds, since those are the only one that show in the listing (https://s3-us-west-1.amazonaws.com/rust-lang-ci2/ - plenty of `rustc-builds-alt/` keys, zero `rustc-builds/`). But now I realize that's simply because the listing is truncated to first 1000 items (and there's no easy way to increase that limit in the web view).

Out of curiosity,

[2021-03-01 00:59] #82625 closed

[2021-03-01 01:12] moxian commented on #81051
I just want to confirm that the fix is in nightly, and it's working!

Thanks, @cuviper!

[2021-03-01 01:22] quarkjuggler opened #82649 "Mostly, code for installation to other place is NOT FINISHED."
I've been trying for 3 or 4 days to install.  My name is /home/pi, but I wanted to install to /home/production so that everyone could use it.  Here are problems that I encountered:
1. I put '/' at the end of directory names in RUSTUP_HOME and CARGO_HOME.  This was reasonable.  You folks didn't check for it.
2. The install died because etc library wasn't found.  You folks should create it if not fo

[2021-03-01 01:28] klensy commented on #81051
But while it not applied to beta, it can't build rust with `download-ci-llvm = true`, as it download beta files from 2021-02-14, or maybe i do something wrong.

[2021-03-01 01:33] #82649 closed

[2021-03-01 01:34] moxian commented on #81051
Either setting your src/stage0.txt to have
[code]

or setting in your config.toml
[code]
should work

[2021-03-01 02:01] VBGS commented on #80622
Here is another simple snippet of code involving multi-dimensional arrays which is quite slow to compile just in case it may help solve the issue if this is related.

[code]

It is slow only when TEST is declared as a constant.

`time rustc test.rs`
[code]

# Meta
`rustc --version --verbose`
[code]

[2021-03-01 02:01] cuviper commented on #81051
I'm not sure how that download is updated, but the PR is beta-nominated, so once that's approved we can backport it to the beta branch and then update master `stage0.txt`. Hopefully that will sort it out!

[2021-03-01 02:02] ehuss commented on #82625
I think I had the base URL from the cargo-bisect-rustc source, and then I just tacked on the sha from a recent commit.

[2021-03-01 02:20] matthiaskrgr opened #82650 "ICE while building nalgebra with mir-opt-level 3: ErrorReported in rustc_mir/src/transform/inline/cycle.rs"
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-03-01 02:20] Mark-Simulacrum commented on #81051
Normally we only do so once a cycle, but we're happy to accept PRs if there's some reason to update it outside of that.

[2021-03-01 03:10] g-w1 commented on #81987
After some googling, seems like https://github.com/rust-lang/rust/issues/74757 (probably a dupe) I have to disable PIE and then it works `RUSTFLAGS='-C relocation-model=static' cargo build --target=x86_64-unknown-linux-musl`. Seems like it warrants a nixos bug as well as maybe a musl one. Here is the nixos one. https://github.com/NixOS/nixpkgs/issues/94228 I think it is due to compiling static mus

[2021-03-01 03:21] cole-h commented on #81987
Ah, I have `gcc` in my `environment.systemPackages`. That's probably why.

[2021-03-01 03:26] g-w1 commented on #81987
Closing since it is a upstream bug.

[2021-03-01 03:26] #81987 closed

[2021-03-01 04:03] jyn514 opened #82652 "Rustdoc should report unknown `doc(...)` attributes"
I tried this code:

[code]

I expected to see this happen: Rustdoc warns that `xxx` is an unknown doc attribute.
Instead, this happened: Rustdoc silently ignores the attribute.

### Meta

`rustdoc --version`: rustdoc 1.52.0-nightly (0148b971c 2021-02-18)

Found while working on https://github.com/rust-lang/rust/pull/82651.

[2021-03-01 06:22] bakape commented on #26179
Code that never runs can already be optimized out with unreachable and
unreachable_unchecked.

On Sun, 28 Feb 2021, 16:25 Ekrem Dinçel, <notifications@github.com> wrote:

[2021-03-01 08:54] GuillaumeGomez commented on #78824
It was rejected in https://github.com/rust-lang/rust/pull/77333. Closing it then.

[2021-03-01 08:54] #78824 closed

[2021-03-01 09:48] 0yoyoyo commented on #81650
@estebank Can this issue be closed?

[2021-03-01 11:30] MJohnson459 commented on #82606
I updated the example to include a main function that would match roughly the real surrounding code. I suspect the rayon component doesn't do much other than multiply the probability. When I was encountering this issue it was only after multiple hours of runtime but it was happening consistently. I'll see if I can get it to happen again (I have since added a workaround based on the answers in the

[2021-03-01 11:53] #75256 closed

[2021-03-01 11:53] #38686 closed

[2021-03-01 11:53] #82501 closed

[2021-03-01 11:53] #82621 closed

[2021-03-01 12:05] GuillaumeGomez commented on #82652
Oh funny! Gonna fix it then. :)

[2021-03-01 12:13] SparrowLii commented on #48556
@Amanieu I see that the [part](https://github.com/rust-lang/stdarch/blob/master/crates/core_arch/src/mod.rs#L39-L57) about aarch64 and arm in stdarch is still unstable. The main reason for it is the lack of neon instructions? I can help add them if so.

[2021-03-01 12:17] Kogia-sima commented on #26179
LLVM properly optimizes combination of `likely`/`unlikely` and `.unwrap()` as expected.

https://godbolt.org/z/7Y6744

[2021-03-01 12:25] Amanieu commented on #48556
Yes that is the main reason why arm/aarch64 is still unstable.

[2021-03-01 12:45] laurmaedje opened #82656 "Moved value with drop gets borrowed on reassignment"
In the following example, `Dropper` contains a mutable reference and a destructor that uses that reference. The compiler thinks that `Dropper`'s drop code runs when reassigning to the variable `v`. But since here the value is already moved and `v` is basically just an empty slot, that shouldn't haben and as such I would expect that I can reuse the variable.

It works if I create a new let binding,

[2021-03-01 13:55] Evian-Zhang opened #82657 "Error help for ambiguous associated type introduces unstable fixing."
I tried this code:

[code]

It is true that the trait bound  `C<Foo = Foo>` of associated type `E` in `D` is ambiguous, since supertrait `A` and `B` both have `Foo` associated type.

However, the error report is

[code]

Adding a `where` clause for associated type `E` is unstable, but the error help suggests us to do so.

### Meta

`rustc --version --verbose`:
[code]

[2021-03-01 14:00] Evian-Zhang opened #82658 "Associated types specified using equality are still ambiguous."
I tried this code:

[code]

The return type `Self::Foo` of `foo` should not be ambiguous, since `<Self as B>::Foo` is equal to `<Self as A>::Foo`. However, this code can't compile, and the error message is:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2021-03-01 14:21] BoxyUwU commented on #82279
@rustbot claim

[2021-03-01 14:56] EkremDincel commented on #26179
@bakape this is not the point, I ask whether my example code hints the compiler about the likely of `Some(value) => ...` arm.

[2021-03-01 15:14] CryZe commented on #26179
@EkremDincel that doesn't seem to work as a hint

[2021-03-01 15:23] EkremDincel commented on #26179
@CryZe You are right: https://godbolt.org/z/ec6Mn8

[2021-03-01 15:47] qiujiangkun opened #82660 "Calling FnMut on immutable reference causes: internal compiler error: impossible case reached"
### Code
Change `&self.snapshot` to `&mut self.snapshot` would make it work.
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-03-01 16:20] davidspies commented on #82406
thanks so much; I'll try these things

[2021-03-01 16:25] davidspies commented on #82406
I'm using vscode with the rust extension. Is there some way to get `rls` to build with the `-Z` option? Can I modify the `Cargo.toml` for that?

[2021-03-01 16:28] jyn514 commented on #82406
I would not recommend using RLS for anything complicated. `matklad.rust-analyzer` works pretty well, there's some setting to change the arguments to rustc I think.

[2021-03-01 16:29] jyn514 commented on #82406
Alternatively you could put this in `.cargo/config`, which should have cargo pick it up automatically.

[2021-03-01 16:36] Mark-Simulacrum opened #82664 "regression: reduce on iterator conflicts"
https://github.com/rust-lang/rust/pull/79805 stabilized Iterator::reduce, which conflicts with a similar method in the [reduce crate](https://docs.rs/reduce/0.1.4/reduce/trait.Reduce.html).

This caused a number of regressions, as detected by the beta crater run:
* https://crater-reports.s3.amazonaws.com/beta-1.51-1/beta-2021-02-14/gh/7e11.FullTextSearch/log.txt
* https://crater-reports.s3.amazona

[2021-03-01 16:36] TaKO8Ki commented on #82474
close this issue because esc doesn't do anything out of the ordinary. ref https://github.com/rust-lang/rust/pull/82522#issuecomment-786868292

[2021-03-01 16:42] Mark-Simulacrum opened #82665 "regression: AsRef inference breakage"
I'm not quickly finding the PR which introduced the new impls, but it looks like some `AsRef` impls were added in 1.51, and those are causing breakage as determined through beta crater. Usually we don't do anything here, but would be good to at least ping authors.

* https://crater-reports.s3.amazonaws.com/beta-1.51-1/beta-2021-02-14/gh/phideg.neptungen/log.txt
* https://crater-reports.s3.amazonaw

[2021-03-01 16:44] Mark-Simulacrum opened #82666 "regression: unsigned_abs inherent method conflict"
One crate regressed as a result of the stabilization of https://github.com/rust-lang/rust/pull/80959.

* https://crater-reports.s3.amazonaws.com/beta-1.51-1/beta-2021-02-14/reg/geod-0.1.0/log.txt

[2021-03-01 16:45] Mark-Simulacrum commented on #81460
One case of this was found by beta crater: https://crater-reports.s3.amazonaws.com/beta-1.51-1/beta-2021-02-14/reg/strerror-0.6.3/log.txt

[2021-03-01 16:45] TaKO8Ki commented on #82474
@jyn514
Could you close this issue?

[2021-03-01 16:47] #82474 closed

[2021-03-01 16:49] Mark-Simulacrum opened #82667 "regression: cannot return value referencing local variable"
https://crater-reports.s3.amazonaws.com/beta-1.51-1/beta-2021-02-14/gh/bow.gtetools/log.txt regressed in the beta crater run. Unfortunately the span points into a quick_error macro call, so hard to say exactly whether this is caused by something wrong in the compiler code or just changes to inference or something like that.

Probably next steps are to bisect and/or get a MCVE of that crate.

[2021-03-01 16:52] Mark-Simulacrum opened #82668 "regression: inline, used attr no longer accepted in more places"
inline:
* https://crater-reports.s3.amazonaws.com/beta-1.51-1/beta-2021-02-14/reg/debug_iterator-0.1.0/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.51-1/beta-2021-02-14/gh/museun.debug_iterator/log.txt

used:
* https://crater-reports.s3.amazonaws.com/beta-1.51-1/beta-2021-02-14/gh/nickyc975.RustWebServer/log.txt

Filing primarily so that we can get this documented in release notes as a

[2021-03-01 16:53] #81650 closed

[2021-03-01 16:55] Mark-Simulacrum opened #82670 "regression: read_to_string import error"
* https://crater-reports.s3.amazonaws.com/beta-1.51-1/beta-2021-02-14/gh/PragmaTwice.ichigo-lang/log.txt

I suspect this is a change in behavior for the resolver, cc @petrochenkov  -- probably fixing a bug in practice, but in case it was unintentional seems good to flag.

[2021-03-01 16:59] Mark-Simulacrum opened #82671 "regression?: llvm version error"
* https://crater-reports.s3.amazonaws.com/beta-1.51-1/beta-2021-02-14/gh/moparisthebest.sendxmpp-rs/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.51-1/beta-2021-02-14/reg/sendxmpp-2.0.0/log.txt

potentially related, but if not good to file another issue:
* https://crater-reports.s3.amazonaws.com/beta-1.51-1/beta-2021-02-14/gh/Hoverbear.rust-rosetta/log.txt

[2021-03-01 17:08] Mark-Simulacrum commented on #82125
Triaged crater run:
*  regression: reduce on iterator conflicts #82664
*  regression: AsRef inference breakage #82665
*  regression: unsigned_abs inherent method conflict #82666
*  regression 1.51: lifetime may not live long enough with `&impl Error` #81460
*  regression: cannot return value referencing local variable #82667
*  regression: inline, used attr no longer accepted in more places #82668

[2021-03-01 17:12] petrochenkov commented on #82670
This is not a resolver change, but a library addition of `std::io::read_to_string` (https://github.com/rust-lang/rust/pull/80217).

Resolver tries pretty hard to resolve ambiguities like this arising from library additions (e.g. single import wins over glob import, two glob imports do not conflict unless the ambiguous name is actually used), but in case of two glob imports and an actually used amb

[2021-03-01 17:12] GuillaumeGomez opened #82672 "check that attributes passed to doc(test) are valid"
Discussed in https://github.com/rust-lang/rust/pull/82662#discussion_r584871289

[2021-03-01 17:12] GuillaumeGomez opened #82673 "Add test for doc(html_no_source)"

[2021-03-01 17:15] jyn514 commented on #82671
This looks like https://docs.rs/rustc_version/0.3.3/rustc_version/enum.Error.html#variant.LlvmVersionError (note that the crate has a dependency on `rustc_version 0.3.2`). It was fixed in 0.3.2, so I think this can be closed: https://github.com/Kimundi/rustc-version-rs/compare/v0.3.2...v0.3.3.

[2021-03-01 17:16] jyn514 commented on #82671
[code]

This looks like a different issue.

[2021-03-01 17:17] negge commented on #82435
Just ran into this with gentoo on a Pentium III today (yes in 2021):

https://bugs.gentoo.org/741708

Cross compiling your own dev-lang/rust-bin is not an option for everyone, and as more system packages like librsvg are written in Rust this cuts off more and more systems from reaping the benefit of a safe systems language.

I am one who would appreciate if i686 definition matched what distro's us

[2021-03-01 17:22] davidspies commented on #82406
I tried creating a `.cargo/config.toml` file with:

[code]

note I kept your typo sayng "manging" rather than "mangling" and it didn't complain. I think it's ignoring the settings in my `config.toml`. I don't know whether that's because I have the wrong target name or because I'm not supposed to have the `-Z`. I can't find any example `toml` files that do it correctly.

[2021-03-01 17:25] jyn514 commented on #82406
@davidspies remove `nightly`:
[code]

[2021-03-01 17:30] JohnTitor commented on #82660
Duplicate of #82032, this should be fixed on the latest nightly.

[2021-03-01 17:30] #82660 closed

[2021-03-01 17:53] JohnTitor commented on #52284
Current output (nightly):
[code]

Now we have an additional suggestion with `return`.

[2021-03-01 17:58] oli-obk commented on #52284
That looks much more helpful already. I think we can close this and revisit if it comes up again.

[2021-03-01 17:58] #52284 closed

[2021-03-01 18:02] nanguye2496 opened #82674 "Incorrect HashMap visualization in WinDbg"
I tried to debug this program in WinDbg.

[code]

When examining the variable ```map``` in WinDbg, I got this visualization:
![image](https://user-images.githubusercontent.com/74681961/109536734-f4643380-7a72-11eb-9f29-e90dfcc0128a.png)

The screenshot illustrates two problems:
+ The ```Name``` column displays meaningless numeric values (0x0, 0x1) instead of the keys.
+ The ```Value``` column disp

[2021-03-01 18:05] Mark-Simulacrum commented on #82670
Sounds good. I missed that merged in 1.51, re-tagging libs.

[2021-03-01 18:07] b-naber commented on #82453
The compiler doesn't insert a reborrow in the second case. I think in match expressions the mir builder only inserts a `FakeRead` instruction when the scrutinee is a simple `Place` variable, but doesn't move the place, but in the tuple case the `FakeRead` is created for a temp corresponding to the tuple and `val` is moved when creating that temp. E.g.

[code]

doesn't compile as well.

I'm wonderi

[2021-03-01 18:28] jrmuizel commented on #54878
The LLVM update is happening in #81451

[2021-03-01 18:34] GuillaumeGomez opened #82675 "Document no_default_passes attribute or remove documentation for --passes and --no-default-passes?"
From https://github.com/rust-lang/rust/pull/82662#discussion_r584868215.

So not sure which way seems better? What do you think @rust-lang/rustdoc ?

[2021-03-01 18:48] cuviper commented on #82435
There's no consensus between distros either. Fedora now builds C and C++ with `-march=i686 -mtune=generic -msse2 -mfpmath=sse -mstackrealign`, and that [change](https://fedoraproject.org/wiki/Changes/Update_i686_architectural_baseline_to_include_SSE2) called out the fact that i686 is primarily only used for multi-lib compatibility on x86_64 hosts. My impression is that Ubuntu is similar, but I'm n

[2021-03-01 18:53] nanguye2496 commented on #82674
I've attempted to remove the whitespace between $T1 and $T2. This fix does yield the correct visualization on WinDbg, but makes VSCode and VS C++ debuggers unable to visualize Rust HashMap. Since this bug is debugger specific, the proper solution should come from the WinDbg side.

[2021-03-01 19:12] tarcieri commented on #82499
It seems like we have rough consensus that `link`, `link_args`, and `link_section` should get these lints.

I suppose the next step is to open an individual issue for each of them? (and at that point, perhaps this issue can be closed out unless anyone knows of any others)

[2021-03-01 19:20] joshtriplett commented on #82499
Given that all three of those are link-related, I think it'd be reasonable to use one issue for all three.

The next step would likely be a PR adding them to `unsafe_code`, and then a crater run for that PR, to gauge impact.

[2021-03-01 19:20] rami3l commented on #82171
@ramosbugs @estebank

A friend of mine just encountered something similar, and I found [this workaround](https://github.com/rust-lang/rust/issues/34511#issuecomment-373423999), which seems to fit your problem here.

I tried to fix your code using this method, and here's the [playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c4356bc1f70b4d102852ed0bc446c7ee).

[2021-03-01 19:34] Manishearth commented on #82675
Yeah I think we should document the new stuff and remove the docs for the deprecated stuff (perhaps mention that these deprecated features exist, but not document them in depth)

[2021-03-01 19:34] Manishearth commented on #82675
Yeah I think we should document the new stuff and remove the docs for the deprecated stuff (perhaps mention that these deprecated features exist, but not document them in depth)

[2021-03-01 19:37] cuviper opened #82677 "Track Windows 7 vs. delete-on-close fixes"
Rust #82605 reverted LLVM [D81803](https://reviews.llvm.org/D81803), "Avoid setting the delete-on-close bit if a TempFile doesn't reside on a local drive," because that regressed Windows 7 in #81051.

That change was meant to fix [LLVM PR42623](https://bugs.llvm.org/show_bug.cgi?id=42623), which also references Rust #54216. It would be nice if some Windows user could verify if that was fixed on a

[2021-03-01 19:40] cuviper commented on #54216
There was a change in LLVM that might have fixed this, but we had to revert for Windows 7's sake. Copying from #82631:

[2021-03-01 19:43] cuviper commented on #81051
See #82677 to track long-term resolution between Windows 7 and the reverted bug fix.

[2021-03-01 19:53] jyn514 commented on #82673
It already exists: https://github.com/rust-lang/rust/pull/82662#issuecomment-788194681

[2021-03-01 19:53] #82673 closed

[2021-03-01 21:03] SNCPlay42 commented on #82667
Reduced:

[code]

The type of `otherwise` is `&&IntervalError`. Prior to #75180, this was autoderefed; now, `&impl Error` implements `Error` so no autoderef happens and so the function returns a value that borrows `otherwise`.

Similar regressions were [observed](https://github.com/rust-lang/rust/pull/75180#issuecomment-681492119) in #75180's crater run, but this particular repository [failed to b

[2021-03-01 21:05] matthiaskrgr opened #82678 "broken mir after removal of storage markers"
Repo files are of version d2731d8e9338d8fe844e19d3fbb39617753e65f4

[code]
no ICE

[code]
[code]

So it's probably save to say that this is related to https://github.com/rust-lang/rust/pull/78360  cc @tmiasko

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-03-01 21:37] petrochenkov opened #82679 "Tracking Issue for built-in attribute macro `#[cfg_eval]`"
Feature gate: `#![feature(cfg_eval)]`

This is a tracking issue for built-in attribute macro `#[cfg_eval]` that is used for eagerly expanding all `#[cfg]` and `#[cfg_attr]` attributes in its input ("fully configuring" the input).
The effect is identical to effect of `#[derive(Foo, Bar)]` which also fully configures its input before passing it to macros `Foo` and `Bar`.

### Public API

[code]

###

[2021-03-01 21:38] tmiasko commented on #82678
After `-Zdump-mir=all` with 28GB more MIR on hard drive. `_38` is moved twice in a call terminator, after destination propagation, which is currently considered to be an erroneous by the validator (see also discussion in #68364, #71117).

[code]

Thanks for report!

[2021-03-01 21:52] jonas-schievink commented on #82678
Yeah, it should. But I thought I implemented that already.

[2021-03-01 21:56] de-vri-es commented on #82400
Since the `libc` PR is merged, and `std` now uses `libc::accept4`, all that is left to fix this on the main branch is to have a `libc` version bump (and a matching bump of the `libc` dependency for `std`).

Is that going to be on time for 1.49.0, or should someone be pinged to ask for a `libc` release?

[2021-03-01 21:57] usbalbin commented on #80094
@leonardo-m

I have started doing some experimenting [here](https://github.com/usbalbin/iter_fixed). Atleast to me this feels like a much more reusable and flexible solution than adding all of those of methods directly to `[T; N]`.

[2021-03-01 22:17] 38 commented on #82658
Isn't this expected behavior as the compiler don't know which `Foo` you are referring? Giving `A::Foo ==  B::Foo` doesn't means they are semantically equivalent.

[2021-03-01 22:29] petrochenkov commented on #81099
`#[cfg_eval]` implemented in https://github.com/rust-lang/rust/pull/82682 is also affected by this issue.

[2021-03-01 22:52] tgnottingham opened #82685 "Optimize codegen scheduling for memory usage and compile time"
The codegen process keeps a limited number of LLVM modules in memory simultaneously. Specifically, it has modules which are being optimized by LLVM workers, and modules which are ready to be optimized, there to meet demand of LLVM workers as they finish their optimization jobs.

The process also codegens CGUs in decreasing order of size (basically*). This means that the largest LLVM modules are re

[2021-03-01 23:01] tgnottingham commented on #82685
I'm just going to brain dump over a few posts. :)

### Academic Work

Scheduling is a heavily studied problem, so we might look to academic work for solutions.

The largest CGUs are codegen'd first in hopes that this does a decent job of minimizing the total time taken to codegen and optimize. It avoids the case where we codegen and optimize a large CGU last, and there isn't any other work to do i

[2021-03-01 23:13] tmiasko commented on #82678
I opened #82684 to disable destination propagation for now.

The removal of storage markers is significant because it enables extra CFG simplification and one of callees is now within inlining threshold.

<details><summary>Diff</summary>
<p>

[code]

</p>
</details>

[2021-03-01 23:30] jrmuizel commented on #80075
I confirmed that: `rustc --emit=asm -C passes=constraint-elimination -O test.rs` with a rust built with llvm12 branch gives:
[code]

[2021-03-01 23:30] CDirkx commented on #82485
@rustbot label: +A-const-fn

[2021-03-01 23:36] 38 commented on #82610
Seems this also repo the bug:

[code]

[2021-03-01 23:37] #82317 closed

[2021-03-01 23:37] #82615 closed

[2021-03-01 23:39] ralpha opened #82687 "Documentation of Iterator `flatten()` improvement"
While linting my code I came across [`manual_flatten`](https://rust-lang.github.io/rust-clippy/master/index.html#manual_flatten) which was triggered in my code.

This suggests the change from:
[code]
Into:
[code]
Both are valid code with same result.

But the [rust docs on `flatten()`](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.flatten) does not state that this is expected behav

[2021-03-02 00:03] Evian-Zhang commented on #82658
@38 Can you show me an example where `Self::Foo` leads to ambiguity?

[2021-03-02 00:15] camelid commented on #82675
I've felt confused about this before: Why do we even let people customize which passes are run? That seems like unnecessary entanglement with rustdoc internals.

[2021-03-02 00:15] camelid commented on #82675
Also, there doesn't seem to be a `--no-default-passes` flag. Are you thinking of `--no-defaults`? If so, rustdoc says that's deprecated.

[2021-03-02 00:18] camelid commented on #82675
What is "the new stuff"? Do you mean things like `--document-private-items`? Other than my confusion about that, I agree with Manish here. I think we should mention the deprecated features, but not document them extensively since they shouldn't be used anyway.

[2021-03-02 00:23] Manishearth commented on #82675
Yes.

I do think the pass infra should stay mostly internal, with specific options being exposed via specific attributes. How we construct it internally should not be something the user should ever have to care about.

[2021-03-02 00:55] Nicholas-Baron commented on #82687
@rustbot label T-doc.

[2021-03-02 01:36] sanxiyn commented on #82435
@cuviper linked to a change proposal accepted in Fedora 29, but that's misleading, since Fedora 31 dropped i686 install anyway: https://fedoraproject.org/wiki/Changes/Stop_Building_i686_Kernels. Of course Fedora's i686 target is solely used for multi-lib since Fedora can't be installed on i686.

[2021-03-02 01:37] tgnottingham commented on #82685
### Heuristic Solutions

Any decent solution is going to be based on heuristics. We could develop and evaluate heuristics via simulation.

If we assume the basic structure of codegen scheduling doesn't change, there are roughly two places where it would be natural to use a heuristic to decide what to do.

1) At one point, we ask whether the main thread should codegen a module or optimize a module.

[2021-03-02 01:55] eddyb commented on #80048
After #80641 and #80920, what's left? cc @oli-obk

[2021-03-02 02:44] tgnottingham commented on #82685
### Partitioning Solutions

We could just dodge the scheduling issue entirely. For example, if codegen units are all close to the same size, then these scheduling concerns go away. Me might:

* Factor in inlining before or during CGU merging

  This can help merging produce a more even partition. See #65281.

* Balance CGU sizes better during merging

  Combining the two smallest CGUs until we're

[2021-03-02 03:18] jyn514 opened #82692 "Tracking Issue for `-Z normalize-docs`"
This is a tracking issue for the feature `-Z normalize-docs`. This normalizes projections like `<Vec<T> as IntoIterator>::IntoIter` to `std::vec::IntoIter<T>`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* me

[2021-03-02 03:18] jyn514 commented on #77459
Closing this in favor of https://github.com/rust-lang/rust/issues/82692, which has proper links and such so it's clear what this is blocked on.

[2021-03-02 03:18] #77459 closed

[2021-03-02 03:37] jrmuizel commented on #81432
I filed https://bugs.llvm.org/show_bug.cgi?id=49389

[2021-03-02 03:41] jrmuizel commented on #75525
I confirmed that `f2` and `f3` are fixed by #81451

[2021-03-02 03:47] jrmuizel commented on #74938
I confirmed that with #81451 the bounds check is removed.

[2021-03-02 03:56] jyn514 commented on #81091
I made a (very broken) start on this in https://github.com/rust-lang/rust/compare/master...jyn514:recover-overflow.

[2021-03-02 04:09] henryboisdequin commented on #81985
If no one is currently working on this, I would be interested in working on it.

@rustbot claim

[2021-03-02 04:12] HarrisonHemstreet opened #82694 "When I run 'rustup update' I get this error returned:"
$ rustup update
internal error, please report: running "rustup" failed: cannot find current revision for snap rustup: readlink /snap/rustup/current: no such file or directory

I also deleted some rust files in an attempt to delete the Rust programming language in an attempt to later reinstall because the normal rustup self uninstall was not working

[2021-03-02 04:16] MaskRay commented on #40289
Note: `__attribute__((used))` has different behaviors on ELF and non-ELF targets.  I recently added `__attribute__((retain))` to Clang: https://reviews.llvm.org/D97447

See:
https://clang.llvm.org/docs/AttributeReference.html#used
https://clang.llvm.org/docs/AttributeReference.html#retain

[2021-03-02 05:05] jyn514 commented on #66079
This appears to only work for attributes, not lints.
[code]
[code]

[2021-03-02 05:32] SergioBenitez commented on #82583
@Aaron1011 You're absolutely right. Looks like this is indeed https://github.com/rust-lang/rust/issues/58736 but in Rocket, not `rustc`. I'll close this out.

Thank you again, all!

[2021-03-02 05:32] #82583 closed

[2021-03-02 08:02] #66693 closed

[2021-03-02 08:02] #82588 closed

[2021-03-02 08:02] #81314 closed

[2021-03-02 08:02] #82652 closed

[2021-03-02 08:15] WaffleLapkin commented on #82533
I would like to fix this

@rustbot claim

[2021-03-02 08:28] petrochenkov commented on #66079
AFAIK, registering a lint tool is useless without also registering actual lints, which are registered with `rustc_interface` methods (together with their tools), so `register_tool` may only affect diagnostic wording in this case.

[2021-03-02 08:48] thomcc commented on #82435
Anecdotally, I've seen most use it as "32-bit x86 on more modern hardware", and the older i586 is "32-bit x86 on older hardware". I think this distinction is somewhat nice, even if it means the targets are misnamed.

Users of machines where this isn't viable might be better off with i586... But I guess that doesn't solve things for distros...

[2021-03-02 09:11] negge commented on #82435
At least on gentoo this would help for a large set of users.

Just having a dev-lang/rust-bin that runs on the system is enough to build and install packages that require rust. This would unblock a number of users who are stuck back-porting older versions of librsvg, polkit, etc. which do not have dependencies that require rust.

But moreover, in gentoo there is a USE=system-bootstrap on the dev-l

[2021-03-02 09:23] oli-obk commented on #80048
Looked over those PRs, yea, this is fixed now.

[2021-03-02 09:23] #80048 closed

[2021-03-02 10:11] teymour-aldridge opened #82696 "Better error messages for sending `format!` uses across thread boundaries."
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like: I think it would be more helpful to point out which variable is being across a thread boundary. So something like,

[code]

I think it would also be helpful to point out that `ArgumentV1<'_>` comes from a `format!` invocation because it is not immediately obvious. I did run into this bug a few w

[2021-03-02 10:17] leonardo-m commented on #80075
You could also test issue #80620 :-)

[2021-03-02 10:49] lcnr commented on #81985
I think
[code]
has already been fixed but
[code]
could still use a help message in the "expected value, found type parameter `N`" error

[2021-03-02 11:14] lcnr commented on #82668
That's surprising, iirc the crater runs we did during the PRs didn't notice any regressions :thinking:

[2021-03-02 11:17] lcnr commented on #82668
inline PR is #77015

[2021-03-02 12:23] mjdr opened #82699 "Unopitmazed code for big enums (>127 values)"
I tring to write riscv linux emulator in rust.
I have enum Instruction with 203 values.

For small enums (< 128 values) rustc generates optimized code.
https://godbolt.org/z/hMoPKr

But, the moment I add one more value it defaults to standard behavior with table of offsets
https://godbolt.org/z/h6EaPh

I expected to see this happen:
Couple of math instructions

Instead, this happened:
Giant table

[2021-03-02 12:34] Alexendoo commented on #78628
No longer ICEs on latest nightly, bisect shows since #78360

[2021-03-02 13:24] jrmuizel commented on #80620
This is fixed by #81451 even without using the constraint-elimination pass.

[2021-03-02 13:29] mahkoh commented on #81996
Zero-length arrays are the only way in Rust to express FAMs. The C compilers of all targets supported by rustc produce the same layout in situations where they permit zero-length arrays and FAMs in the same position. Therefore there is no ambiguity.

Whether such types can exist on the stack is immaterial, their layout must be known either way. Even so, structures with FAMs do exist on the stack.

[2021-03-02 13:37] bjorn3 commented on #78628
Does it still ICE if you enable optimizations?

[2021-03-02 13:52] mahkoh commented on #82101
The effect is what you think it is but on a best-effort basis.

Of course. If you're saying that this is not the intended behavior of repr(C, align), then I suggest introducing new attributes that guarantee compatibility with C. E.g. `repr(C_aligned, C_attr_packed, C_pragma_packed)`.

Otherwise if there is no way to simply express such C types in Rust, then creating sound bindings for such C code

[2021-03-02 14:00] Trolldemorted opened #82701 "read_volatile/write_volatile uses ldrb/strb only for structs on aarch64"
I am writing low-level code targeting ARMv8 (aarch64), and I have noticed that [read_volatile](https://doc.rust-lang.org/std/ptr/fn.read_volatile.html) and [write_volatile](https://doc.rust-lang.org/std/ptr/fn.write_volatile.html) are emitting unexpected bytecode.

When I use `read_volatile` on a `*const u32`, rustc generates the expected `ldr`:
[code]
[code]

However, if I do that on a struct (ev

[2021-03-02 14:05] jonas-schievink commented on #82701
`#[repr(packed)]` intentionally works like that, it removes all alignment requirements on the struct, so all reads have to assume that the pointer is unaligned. What's the output if you remove that?

[2021-03-02 14:51] wesleywiser commented on #82685
Just a note but I believe this is a [multiway number partitioning problem](https://en.wikipedia.org/wiki/Multiway_number_partitioning).

[2021-03-02 15:04] Alexendoo commented on #78628
It does, looks like it's still an ICE

[2021-03-02 15:04] jyn514 commented on #66079
Then there is no way at all to add tool lints, because `rustc_lint` will give an error if it doesn't recognize the tool, even if there is a lint registered: https://github.com/rust-lang/rust/blob/edeee915b1c52f97411e57ef6b1a8bd46548a37a/compiler/rustc_lint/src/levels.rs#L307-L317
https://github.com/rust-lang/rust/blob/edeee915b1c52f97411e57ef6b1a8bd46548a37a/compiler/rustc_ast/src/attr/mod.rs#L36-

[2021-03-02 15:19] SimonSapin commented on #66079
For what it’s worth this is how Servo uses this feature:

https://github.com/servo/servo/blob/92d6c89a8f3ac3ace5dbf65871dfb7c188ce3f95/components/script_plugins/lib.rs
https://github.com/servo/servo/blob/92d6c89a8f3ac3ace5dbf65871dfb7c188ce3f95/components/script/lib.rs#L10-L17

[2021-03-02 15:40] Trolldemorted commented on #82701
Then the output is as expected:
[code]

Thanks for shedding some light on this! Is that behavior desirable?

I thought the primary purpose of `repr(packed)` was to allow iterop with packed C structs (e.g. by gcc's `__attribute__((__packed__))`) or devices whose registers are defined by packed C structs. gcc's [documentation says](https://gcc.gnu.org/onlinedocs/gcc-4.0.2/gcc/Type-Attributes.html) t

[2021-03-02 15:50] jonas-schievink commented on #82701
Hmm, those are good questions that I can't really answer. Maybe ask on https://users.rust-lang.org/ or on Zulip? People there probably know.

Since `#[repr(packed)]` is working as [intended](https://doc.rust-lang.org/reference/type-layout.html#the-alignment-modifiers) though, I'll close this issue.

[2021-03-02 15:50] #82701 closed

[2021-03-02 16:02] #82137 closed

[2021-03-02 16:02] #82566 closed

[2021-03-02 16:02] #82612 closed

[2021-03-02 16:14] zugzwang commented on #81844
Without commenting the `derive` line, the stack overflow also gets fixed if the definition of `A2` gets moved out of the `impl` scope

Playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3caf353743fc1625b02f50933b6fd348

[2021-03-02 16:18] mbrubeck commented on #67957
It looks like it will be fixed when Polonius becomes stable, at the latest. It would be nice to fix it before then, but I don't know whether anyone is working on that yet.

You can set the `$RUSTFLAGS` environment variable, or create a [config.toml](https://doc.rust-lang.org/cargo/reference/config.html) file and set the `rustflags` key.  However, please note that Polonius is still experimental.

[2021-03-02 16:34] jyn514 commented on #66079
@SimonSapin that looks like it only uses a tool attribute and not a lint. `unrooted_must_root` isn't a 'tool' lint in the sense of this issue because it doesn't use a tool prefix (`servo::unrooted_musl_root` or something).

[2021-03-02 16:40] SimonSapin commented on #66079
Here is an example of attributed used by the lint: https://github.com/servo/servo/blob/3f7697690aabd2d8c31bc880fcae21250244219a/components/script/dom/raredata.rs#L21

[2021-03-02 16:41] jyn514 commented on #66079
Yes, that is an attribute and not a lint.

[2021-03-02 16:43] jyn514 commented on #66079
For an example of someone wanting to use tool lints (not just attributes), see https://internals.rust-lang.org/t/pre-rfc-implementation-defined-lints/13870.

[2021-03-02 16:44] SimonSapin commented on #66079
There is also a custom lint involved, and it looks like we can `allow` it without namespacing: https://github.com/servo/servo/blob/3f7697690aabd2d8c31bc880fcae21250244219a/components/script/dom/bindings/root.rs#L48

[2021-03-02 16:53] jyn514 commented on #66079
We cleared up the confusion offline - plugins adding their own lints is already supported today; what's not supported is lints in a custom *namespace*, like `#[allow(servo::unrooted_musl_root)]`.

[2021-03-02 17:13] mjdr commented on #82699
It's dumb, but

I probably outsmart the compiler.
With padding value and specific indexing compiler generate roughly what I want.

[Hand 'optimized' code on compiler explorer](https://godbolt.org/#z:OYLghAFBqd5QCxAYwPYBMCmBRdBLAF1QCcAaPECAM1QDsCBlZAQwBtMQBGAVlICsupVs1qhiAVwDOBUpMztkBPHUqZa6AMKpW4gLa0QAJk6k16ADJ5amAHJ6ARpmJcAzIcOkADqkmFltLR19IxNvXyU6S2s7XUdnTjcPOQUI2gYCZmICQL0DY1l5TEV/dMyCKNsHJ1d3W

[2021-03-02 17:50] Kimundi commented on #63033
Another short example based on reducing code from a discordquestion:
[code]

[2021-03-02 18:36] RalfJung commented on #82101
That's not `repr(align)` then, which is about hard requirements and guarantees. As you said, a convenient way to define such types in Rust would require some new machinery.

Meanwhile, it might make sense to lint about `repr(C, align)` in cases where the behavior differs from `attribute((aligned))` -- but I am saying that as an outsider, I cannot judge what reasonable expectations people might hav

[2021-03-02 18:44] jyn514 commented on #82633
I had trouble seeing the unsoundness, so here's another example:
[code]
`str: Sized` is false, so `str::a()` should never be executed:
[code]
yet it is anyway:
[code]

[2021-03-02 18:44] mahkoh commented on #82101
I assume that the layout is intended to be the layout of the equivalent C type. https://github.com/rust-lang/rust/issues/81996#issuecomment-780047179

What you could argue is that repr(align) is not supposed to have any precise relationship with the equivalent C annotations. But such a relationship has been advertised in practice by endorsed projects such as "bindgen" and by the original RFC

[2021-03-02 18:51] camelid commented on #82633
And note that you can [observe the unsoundness on stable](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7c35f539b04d1ea8c27cd6cb3957c616) (`@steffahn`'s code, I just wanted to highlight it):

[code]

This code compiles, but it shouldn't.

[2021-03-02 18:56] LeSeulArtichaut commented on #82633
Assigning `P-high` [as discussed as part of the Prioritization WG procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2382633.20.60fn().20-.3E.20Out.60.20is.20a.20valid.20type.20for.20unsized.20types.20.60Out.E2.80.A6).

[2021-03-02 18:58] ricobbe commented on #58713
@rustbot claim

[2021-03-02 19:02] camelid commented on #82633
Another way to observe unsoundness:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8cfa488f2ebc55c43122a3b0147a675a))

This code compiles, but it shouldn't because `Fn::Output` is **not `?Sized`**.

[2021-03-02 19:04] mjdr commented on #82699
Even smaller example
[Smaller](https://godbolt.org/#z:OYLghAFBqd5QCxAYwPYBMCmBRdBLAF1QCcAaPECAM1QDsCBlZAQwBtMQBGAVlICsupVs1qhiAVwDOBUpMztkBPHUqZa6AMKpW4gLa0uAZlJr0AGTy1MAOT0AjTMRAAmUgAdUkwstpad%2Bo3dPbzoLK1tdBydXOQUlOgYCZmICPz0DTmNYzEUfROSCMJt7RxdZJJS0gMzygqKIqJcASllUcWJkDgByAFIABgBBHudDHu4AIWJMN2IIcQA2ABYmsYARfqGRsfG2VlQAdwhaOgB9Fl15M%2BY5E4IATzdMSRXudcG3cTsAajU9L4BJWjSCS5OhfHoAdnGGy%2BsK%2BAHp4f

[2021-03-02 19:05] camelid commented on #82633
That code used to give a compiler error:

[code]

but regressed in 1.49 such that it is no longer erroring.

[2021-03-02 19:06] camelid commented on #82633
I suspect this might be more fallout from #73905, but we'll need a bisection to be sure.

[2021-03-02 19:11] camelid commented on #82633
Yep, it's #73905 alright:

searched nightlies: from nightly-2020-10-01 to nightly-2020-12-31
regressed nightly: nightly-2020-10-07
searched commits: from https://github.com/rust-lang/rust/commit/a1dfd2490a6cb456b92e469fa550dc217e20ad6d to https://github.com/rust-lang/rust/commit/98edd1fbf8a68977a2a7c1312eb1ebff80515a92
regressed commit: https://github.com/rust-lang/rust/commit/08e2d4616613716362b4

[2021-03-02 19:14] camelid commented on #82633
I wonder if the issue is that, quoting from #73905:

But the compiler is the one that implements `FnOnce` for `fn` types? Maybe that's a different thing though.

[2021-03-02 19:20] tinaun commented on #58713
@ricobbe ive been working on a lot of it, and id love to help out if i can - ive tried a bunch of different approaches, and never quite got a working solution

[2021-03-02 19:20] tinaun commented on #58713
id love to chat about it if possible

[2021-03-02 19:25] steffahn commented on #82633
I’m not 100% sure what you mean by “observing the unsoundness”.

Something like

doesn’t feel _necessarily_ unsound in and by itself. As you quoted,

which sounds pretty reasonable to me.

Similarly my reproduction on stable only observes that `fn() -> str` has an illegal `FnOnce` implementation, but I wasn’t able to achieve much “actually unsound behavior” with this implementation without the abi

[2021-03-02 19:48] steffahn commented on #82633
In particular, I don’t think that `regression-from-stable-to-stable` is appropriate. I can get ICE’s all the way since mit-2017 (bisect-rustc doesn’t seem to like older dates) with code like this
[code]

Similarly, reading static memory and segfaulting can be archieved all the way back to e.g. `nightly-2017-03-01` with code such as
<details><summary><i>CLICK TO EXPAND</i></summary>

[code]

</deta

[2021-03-02 20:35] peter-kehl opened #82709 "FloatToInit docs incorrect symbol: round_unchecked_to - should be to_int_unchecked"
https://doc.rust-lang.org/nightly/std/convert/trait.FloatToInt.html mentions a non-existing symbol: `round_unchecked_to`. The correct one is: `to_int_unchecked`. (There is no word `round` anywhere in `library/core/src/convert/num.rs`.)

Notes
- Even though this is a Docs defect, I'm not mentioning steveklabnik, since I don't believe this needs his attention.
- based on my grep search, the current

[2021-03-02 20:41] petrochenkov commented on #66079
I don't think this is correct behavior, `rustc_lint` should not prevent registration and use of such lints.
Lint registration and use have no relation to name resolution, and are performed through their own set of compiler interfaces, I don't think `#![register_tool]` should have any effect on them.

[2021-03-02 20:47] petrochenkov commented on #66079
Ah, wait, I'm wrong.
If the compiler encounters an attribute like `#[allow(clippy::foo)]` in a regular non-clippy run, then it must ignore it instead of reporting an "unknown lint" error if the tool is known, that's the whole point of tool lints.
Then yes, `#![register_tool]` should have an effect.

[2021-03-02 21:47] cramertj commented on #66481
As the person who originally introduced `LocalWaker`, it was very much a conscious decision to get rid of it and to make `Waker` and `Context` `Sync`. This was called out explicitly [in the RFC](https://github.com/rust-lang/rfcs/pull/2592/files#diff-5f92f380a433f22b0c9d1b1a337c52778b96aec3eb0993af53fec17e92318898R553).

[2021-03-02 22:01] Ralith commented on #66481
The cited discussion in the RFC justifies making `Waker` *Send*, and predates the decision to (re)introduce `Context`. Making `Context` `!Send + !Sync` doesn't defeat the objectives discussed there. In particular, it does not impact ergonomics for the common case at all.

[2021-03-02 22:19] leonardo-m commented on #80075
Is `-C passes=constraint-elimination` part of `-C opt-level=3`?

[2021-03-02 22:24] jrmuizel commented on #80075
I would be surprised if it was, but it's probably worth adding.

[2021-03-02 23:21] chadbrewbaker commented on #56371
Is there a script to compile and throw in rustup nightly all the llvm-project binaries for the same branch? Honestly don't care if it's "supported" I'm just tired of rust and clang fighting with each other from being on different llvm-project branches.

[2021-03-02 23:45] HeroicKatora commented on #66741
Under caveat of potentially being a 'clever' solution and not a useful one. What if the standard distribution were to provide a crate, similar to `alloc`, which contains the default implementation of the oom error handler? As a std-internal one it can be annotated with any internal item including nounwind and being marked as a lang item for oom handling. The mechanism for using it would be a famil

[2021-03-02 23:54] obi1kenobi commented on #36375
I recently got bitten by this while working with `Iterator`, which led me to this issue.

The `impl Trait` RFC names `impl Iterator` as a major use case for that syntax, since it's a place where exact types get very complex, but code frequently only cares about the `impl Iterator` part. With current limitations in place, one has to choose between two unappealing options:
- don't use `todo!()` or `

[2021-03-02 23:54] SimonSapin commented on #66741
It’s no the handler definition that is annotated with `nounwind` but [`handle_alloc_error`](https://github.com/rust-lang/rust/blob/35dbef235048f9a2939dc20effe083ca483c37ff/library/alloc/src/alloc.rs#L362) which calls it. So having a separate crate for an opt-in panicking handler does not help with the unwinding question.

[2021-03-02 23:59] CAD97 commented on #81996
This is _literally not true_. I literally wrote two crates [[erasable](https://lib.rs/crates/erasable), [slice-dst](https://lib.rs/crates/slice-dst)] to make working with FAMs (and thin-pointer FAMs) in _stable Rust_ tractable. FAMs are currently used in rust-analyzer's syntax tree, rowan. They used to be served by these crates, and currently by an inlined subset of `triomphe` (because rowan doesn

[2021-03-03 00:18] LeonineKing1199 commented on #82533
The fix seems pretty straight-forward.

The Clone specialization just needs a RAII type that handles adjusting the Vec's new len in its Drop implementation, as I've linked in my MiniVec.

Copy can't fail so there's no need to adjust that specialization. The only thing that could theoretically panic in that case would be reallocating and in that case, there's no need to worry about the len.

[2021-03-03 00:40] Diggsey commented on #66741
Why don't we remove the explicit `nounwind` attribute from `handle_alloc_error`, and just make the compiler smart enough not to generate unwind edges if it knows they're not necessary?

As a first pass, this could just be special-cased in the compiler. Special casing is not ideal, but the extra unwind edges are purely a performance consideration, so this special-casing does not fundamentally chang

[2021-03-03 00:47] jonhoo opened #82715 "No way to run `no_run` doctests"
The Rustdoc book [suggests](https://doc.rust-lang.org/rustdoc/documentation-tests.html) that `no_run`

However, it follows from this that in some cases you _do_ want to run doctests marked as `no_run`, such as if the test environment _does_ have network access. This is possible with regular tests marked `#[ignore]` by passing `-- --ignored` to `cargo test`, but the same does not work with document

[2021-03-03 01:10] HeroicKatora commented on #66741
I didn't meant to suggest that it must, but rather that one _could_ add additional attributes—i.e. including some affecting llvm codegen, or for mir—if that turns out to be necessary for optimization/inlining purposes. Doing it via an external crate does not stabilize _any_ symbol and this allows customizing either part of the interface in separate issues. It's essentially wraping this 'feature(_)

[2021-03-03 01:10] MingweiSamuel commented on #67510
It seems that gat equals gat equality doesn't work, i.e.:
[code]
When you try to use something with the above bound, you get an E0271.

[**Playground Link**](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=415b113c210fea45fe1746d5e0b68f22)

However the following (and other infinitely many variations) do work:
[code]
[code]

I think the first bound should cover both the sec

[2021-03-03 01:24] Jzow opened #82716 "Error in rust syntax"
I'm a rookie of rust. I used to do java ，Error in the syntax of trust, I wrote it according to the example of the official website，mutable = true;
[code]

I tried this code:

[code]

### Reference URL
[https://doc.rust-lang.org/stable/rust-by-example/primitives.html](https://doc.rust-lang.org/stable/rust-by-example/primitives.html)

### Meta

windows X64
[code]

</p>
</details>

[2021-03-03 01:28] jonas-schievink commented on #82716
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2021-03-03 01:28] #82716 closed

[2021-03-03 07:24] osa1 commented on #82541
I looked into this again today. As mentioned in my previous comment, I think we have two options:

- Pass `LocalSource` down to type checker functions, use that information when emitting errors.
- Return errors in type checker functions (instead of emitting directly) and handle the error at the top-level, change the error message in the case of for expressions.

Both of these require refactoring t

[2021-03-03 08:23] wigy-opensource-developer commented on #63033
And 2 workarounds for the issue:
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8e9d97061ce90b8f449c45626dd72448)

[2021-03-03 08:27] mahkoh commented on #81996
If you want to reduce the issue to absurdity, then repr(C) is completely unnecessary. You can simply use an appropriately sized and aligned byte array and pointer operations. (PS: After reading the rest of your comment it appears that you assume that the offset of a FAM in a struct is always trivial to calculate. If we assume this position then your comment makes more sense to me because no help f

[2021-03-03 08:36] #76343 closed

[2021-03-03 08:44] therealprof commented on #53639
I'd also like to add another requirement:

- The replacement must be available on `#[no_std]` and not introduce additional overhead

After reading some discussion above it is possible to come to the conclusion that `static mut` is generally bad and viable replacements already exist for every use case which I don't see is accurate for embedded development where `static mut` is used as building bloc

[2021-03-03 08:51] SimonSapin commented on #53639
Such safe abstraction presumably involve defining a `struct`. What makes it not viable for embedded to use `UnsafeCell` for some fields, manually implement `Sync`, and use that struct in `static` items?

[2021-03-03 08:57] apiraino commented on #82668
(removing `I-prioritize` autolabel added from bot)

[2021-03-03 08:58] therealprof commented on #53639
Not usually, no. They're used for a variety of things, data synchronisation between different independent functions (e.g. interrupts handlers) or global backing storage for dynamic data structures simulating heap allocation, cf. https://docs.rs/heapless/ .

[2021-03-03 09:08] SimonSapin commented on #53639
You mentioned safe abstractions. Makes such usage of `static mut` safe? For example if code borrowing static data is interrupted by a handler that wants to mutate that same data.

I’ve seen embedded code temporarily disable interrupts while touching static data and call it sufficient because that code is known to run on hardware without CPU parallelism, but the language or `core` crate can’t make

[2021-03-03 09:15] moxian commented on #81996
Hey folks, not to minimod, but i feel this comment thread is a bit too hostile to be productive.
As much as I enjoy me some github drama, let's chill out, aye? No need for personal attacks.

[2021-03-03 09:36] mahkoh commented on #81996
While it is great to have many different opinions, unfortunately, in every discussion regarding C interoperability there is an endless number of opinions, stated with great certainty, that are nevertheless based on an incomplete or incorrect understanding of the C side of things. In a more sane world you would correct these opinions and the people would then admit that their opinions were based on

[2021-03-03 09:37] apiraino commented on #81996
While I personally don't see neither "personal attacks" or "github drama" in this technical discussion, I'd relink the relevant comments of `@joshtriplett` ([this](https://github.com/rust-lang/rust/issues/81996#issuecomment-780047179) and [this](https://github.com/rust-lang/rust/issues/81996#issuecomment-784450020)) with the insights from discussions of the rust-lang team, hoping they'll help.

[2021-03-03 09:50] therealprof commented on #53639
You're absolutely right that an abstraction needs to take additional precautions to actually guarantee the safety.

What I'm trying to convey is that `static mut` is a widely used low level building block in embedded Rust and taking that away without a viable alternative is likely not a good move. If there are better ways to declare globally mutable data (for synchronisation and backing) today I'd

[2021-03-03 10:11] rylev commented on #80165
This was discussed in a lang team meeting. You can find more detail [here](https://hackmd.io/7YycPi5ORhiXbualfhaQRw). Essentially only two warnings are slated to be promoted to errors in Rust 2021: `BARE_TRAIT_OBJECTS` and `ELLIPSIS_INCLUSIVE_RANGE_PATTERNS`.

All other lints are either not ready for promotion or are future compatibility warnings (i.e., bugs in the language that we first warn abou

[2021-03-03 10:23] osa1 commented on #82508
Trying to understand why the functions mentioned in my previous comment are generated for the `write!` version. `Write` implementation of `String`:

[code]

this uses the default `write_fmt` implementation:

[code]

In the repro, the default `write_fmt` is inlined, and for the `write(...)` call we need a vtable as the first argument is `&mut dyn Write`:

[code]

If I'm reading the LLVM IR right, t

[2021-03-03 10:37] apiraino commented on #82671
removing the prioritize label @rustbot label -I-prioritize

[2021-03-03 10:44] apiraino commented on #82667
as per the issue analysis (thanks @SNCPlay42 !), removing the prioritize label

@rustbot label -I-prioritize

[2021-03-03 10:54] djc commented on #81883
I looked for some documentation on `feature(staged_api)` but the unstable book has an empty entry and some googling didn't turn up anything either. Can someone provide some guidance on how to use that feature to test this?

[2021-03-03 11:05] #81134 closed

[2021-03-03 11:05] #82409 closed

[2021-03-03 11:47] henryboisdequin commented on #79040
@rustbot claim

#82720 is open :)

[2021-03-03 11:58] osa1 commented on #82646
Wrapping arithmetic operators are lowered here: https://github.com/rust-lang/rust/blob/cbca5689a5a0c63c6c5fda22bb0678164b52fec3/compiler/rustc_mir/src/transform/lower_intrinsics.rs#L43-L67

Looking at the type of MIR binary operators: https://github.com/rust-lang/rust/blob/cbca5689a5a0c63c6c5fda22bb0678164b52fec3/compiler/rustc_middle/src/mir/mod.rs#L2116-L2152

This type doesn't have distinct ope

[2021-03-03 12:01] Kimundi commented on #61949
The situation here is still confusing, as the explanation for the error message, https://doc.rust-lang.org/nightly/error-index.html#E0760, talks about `async`, but the issue also arised with non-async code:

[code]

[2021-03-03 12:08] Count-Count opened #82721 "Raw strings don't preserve carriage return + newline sequences"
According to the _Raw string literals_ section in the [reference](https://doc.rust-lang.org/reference/tokens.html#literals) the "raw string body can contain any sequence of Unicode characters" and "[a]ll Unicode characters contained in the raw string body represent themselves". However in such a raw string carriage return + newline sequences (`U+000D` `U+000A`) are replaced by a single newline cha

[2021-03-03 13:20] danielhenrymantilla commented on #71957
Note that the opposite may also be desirable: some macros may want to spot the elided lifetimes present in a given type, and without type-level information, it is impossible to guess how many lifetime parameters does a given `Path` involve. Because of that, having the macro emit a `#[deny(elided_lifetimes_in_paths)]` would be a great way to require that the caller feed the necessary `'_` lifetime

[2021-03-03 13:36] petrochenkov commented on #80165
How were the lint candidates selected?
There are some notorious deprecation lints like `PUB_USE_OF_PRIVATE_EXTERN_CRATE` that should be turned into errors with high priority, but I can't find them in the list.

[2021-03-03 13:52] Alexendoo commented on #76013
Fixed by #80734

[2021-03-03 13:52] #76013 closed

[2021-03-03 13:57] rylev commented on #80165
@petrochenkov We went through every lint documented [here](https://doc.rust-lang.org/rustc/lints/listing/) and decided whether it was edition bearing or not. The document I linked above has more information on the lints we explicitly discussed.

We did not explicitly discuss `PUB_USE_OF_PRIVATE_EXTERN_CRATE `, but it is a future-compatibility lint which are used for bug fixes. It was determined th

[2021-03-03 14:19] JohnTitor commented on #82709
Fixed by #82710.

[2021-03-03 14:19] #82709 closed

[2021-03-03 14:22] petrochenkov commented on #80165
I see.

Some bugfix lints like `PUB_USE_OF_PRIVATE_EXTERN_CRATE` or `PROC_MACRO_DERIVE_RESOLUTION_FALLBACK` cause hundreds of failures on crates.io when turned into hard errors, e.g. due to old versions of popular crates relying on them.

This makes them practically ineligible for promotion to errors, but it can still be reasonable to promote them at edition boundary.

[2021-03-03 14:39] apiraino commented on #82666
The published crate for `geod` contains code that has been updated in the meanwhile. As of today I can successfully compile the `master` branch of that crate on stable, beta and latest nightly.

[Prioritization Working Group thread on zulip](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2382666.20regression.3A.20unsigned_abs.20inherent.20metho

[2021-03-03 14:39] apiraino commented on #82666
I think we can close this issue (but feel free to reopen in case I've missed something)

[2021-03-03 14:39] #82666 closed

[2021-03-03 14:46] Mark-Simulacrum commented on #82666
I'll just ping @tsionyx to suggest they make a point release, but otherwise I agree we can likely close.

[2021-03-03 14:59] RalfJung commented on #80165
I agree. There are lints for which the question isn't "make them a hard error in all code or in new code"; the question is "make them a hard error in new code or not at all".

[2021-03-03 15:00] henryboisdequin opened #82722 "Tidy error: `src/test/ui` contains over 1418 files"
A directory with over 1418 files is not allowed by tidy. In #82720, the files exceeded the limit of tidy (it's hard coded). And produced this error:

[code]

This issue calls for sorting of all strangling files in `src/test/ui`.

@rustbot claim

[2021-03-03 15:02] Mark-Simulacrum commented on #82722
Closing as a duplicate of https://github.com/rust-lang/rust/issues/73494.

[2021-03-03 15:02] #82722 closed

[2021-03-03 15:03] apiraino commented on #82671
Seems that the master branch of this crate compiles on stable, beta and nightly, I guess the crate used in the crater run is not updated to the latest version (or there's no more recent release of xmpp-rs.

Therefore I would close this issue, what do you think @Mark-Simulacrum ?

Perhaps worth mentioning that `xmpp-rs` fails to compile on nightly+beta (on stable is fine) for another reason, a lint

[2021-03-03 15:11] jyn514 commented on #82671
Is `crater` running without `--cap-lints warn`? That seems bad. Anyway, I don't think making lints more accurate should *ever* be considered a breaking change, the author opted-in to the breakage with `deny(unused)`.

[2021-03-03 15:11] henryboisdequin commented on #73494
I think a good approach to this would be to start sorting the issues manually and then to forbid added UI tests to `src/test/ui` and enforcing them to be inside a subdirectory.

[2021-03-03 15:16] Mark-Simulacrum commented on #82671
crater usually caps lints at forbid, as we want to know if we've added regressions in lints too. This seems reasonable to me. (I might even want --force-lints = deny or something).

But yes it sounds like this is not a rust regression at least.

[2021-03-03 15:16] #82671 closed

[2021-03-03 15:19] jyn514 commented on #82508
Yes, that sounds useful :) and if the benchmarks don't show a noticable change you could take on the rustdoc change I mentioned above, which stresses write! quite a lot.

[2021-03-03 15:29] Nemo157 commented on #80165
I also just had this idea of making future-incompat lints into hard errors at the edition boundary in https://github.com/rust-lang/rust/pull/82702. It seems like this is something that should be applied to _all_ future-incompat lints at every edition boundary, independent of whether the warning may be promoted into a hard error in previous editions as well in the future.

No maintained code should

[2021-03-03 16:01] apiraino commented on #82664
@Mark-Simulacrum  excluding the advent of code crates (I wonder if they should stay in the crater run), I've tried compiling the other failing ones from their respective master branch:

- [gomoku](https://github.com/akuraj/gomoku) compiles on stable with just a lint warning, fails on beta+nightly  => will regress
- [tag-index](https://github.com/rklaehn/tag-index): same as above
- [switchable](htt

[2021-03-03 16:18] Mark-Simulacrum commented on #82664
The master branch not compiling or continuing to compile matters more for git repositories, but for published crates it's encouraging sign if things have been fixed; we ultimately need a point release if we want to streamline upgrade paths.

[2021-03-03 16:21] osa1 commented on #82508
@jyn514 submitted #82724. How do I start perf evaluation now?

[2021-03-03 16:21] apiraino commented on #82665
I've tried bisecting this issue (if it helps):

searched nightlies: from nightly-2021-01-01 to nightly-2021-03-03
regressed nightly: nightly-2021-01-26
searched commits: from https://github.com/rust-lang/rust/commit/1d0d76f8dd4f5f6ecbeab575b87edaf1c9f56bb8 to https://github.com/rust-lang/rust/commit/f4eb5d9f719cd3c849befc8914ad8ce0ddcf34ed
regressed commit: https://github.com/rust-lang/rust/commit

[2021-03-03 16:22] JohnTitor commented on #82400
@de-vri-es Released libc 0.2.87, you can now update the `libc` dependency :)

[2021-03-03 16:42] ShadowJonathan commented on #70513
(after some poking around, it seems #20304 might possibly be related to this?)

[2021-03-03 16:47] osa1 commented on #82508
@jyn514

How do I test #82397 with my PR?

[2021-03-03 16:51] jgarvin commented on #53639
@therealprof For these use cases is it safe to assume there is only a single thread? e.g. if we had something like:

[code]

I don't have it published anywhere yet, but I have made such an abstraction and was wondering if it might have wider use. The key insight is dividing access into 2 phases -- a slower checked access that makes sure you are consistently accessing from the same thread, which th

[2021-03-03 16:52] calebsander opened #82725 "Tracking Issue for slice_to_boxed"
Feature gate: `#![feature(slice_to_boxed)]`

This is a tracking issue for copying/cloning slices into boxed slices.

The current recommended approach for turning a `&[T] where T: Clone` into a `Box<[T]>` seems to be to use `.to_vec().into_boxed_slice()`. This misses some opportunities for optimization, since the `Vec` is allocated with a known length. A Godbolt comparison shows that `Vec::into_box

[2021-03-03 17:09] jyn514 commented on #82508
@osa1 rustdoc uses the in-tree version of the standard library, so it will use any change you make. Any perf runs that end with `-doc` measure rustdoc's performance. You can see exactly what changed by clicking on the percentage. The `-0.4%` here:
![image](https://user-images.githubusercontent.com/23638587/109843656-4fd02600-7c19-11eb-805b-412ca0385800.png)
goes to https://perf.rust-lang.org/detai

[2021-03-03 17:15] osa1 commented on #82508
@jyn514 thanks. So there is no way to test #82397 with #82724, at least on CI?

[2021-03-03 17:17] osa1 commented on #82508
Hm, I guess I could open a PR including both of these PRs, and evaluate that, right?

[2021-03-03 17:28] jyn514 commented on #82508
Yes, that's what I meant.

[2021-03-03 17:29] jyn514 commented on #82508
You could also run the perf benchmarks locally: https://github.com/rust-lang/rustc-perf/tree/master/collector#how-to-benchmark-a-change-on-your-own-machine

[2021-03-03 17:40] edre opened #82729 "Upgrading to 2018 edition with nameless trait arguments gives opaque error message."
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2d5990f9266a843f299cffb49ea24f36

The current output is:
[code]

Ideally the output should look like:
[code]

This was very painful to debug, because there's some type shenanigans going on, and it wasn't clear if some of those didn't work in the 2018 edition now.

[2021-03-03 17:51] m-ou-se commented on #80846
Closing this issue because I don't care enough, especially since this problem is no longer there in edition 2021.

If anyone does care about this issue in edition 2015/2018, feel free to re-open.

[2021-03-03 17:51] #80846 closed

[2021-03-03 18:08] m-ou-se commented on #82001
I'm closing this for now since it's not clear #82002 will be merged. We can re-open it later if needed.

(Next time please open a tracking issue only after the addition was approved by a libs reviewer. Thanks!)

[2021-03-03 18:08] #82001 closed

[2021-03-03 18:31] Manishearth commented on #80165
Yes, with the caveat that not all future incompat lints can be automatically fixed with `cargo fix`

[2021-03-03 18:33] Manishearth opened #82730 "Tracking Issue for `invalid_doc_attributes` lint"
### What is this lint about

The `invalid_doc_attributes` lint detects incorrect uses of `#[doc(...)]` attributes or uses of non-existent `#[doc(...)]` attributes. For example, `#[doc(alias = 42)]` will trigger this lint, since `42` is not a string. Also, `#[doc(foobar)]` will trigger this lint.

If you are here because of a warning about `doc(primitive)`, see https://github.com/rust-lang/rust/iss

[2021-03-03 18:39] GuillaumeGomez commented on #82730
I think the most important thing is to at least prevent non-functioning code to go unnoticed. So at least having warnings seems good enough. Then we can always discuss if we want to make it into a hard error or not when a new edition comes up.

[2021-03-03 18:41] Manishearth commented on #82730
Yep! I think using the future incompat architecture for this is great, because we can declare as early as possible that we're hoping to make this a hard error.

And then as things settle, someone can eventually have the proper discussion about how best to actually remove it.

[2021-03-03 18:42] parasyte commented on #53639
As an author of an embedded crate that needs to deal with safe mutation of static content, I strongly encourage others to accept the advice provided by @SimonSapin. `static mut` is almost always wrong, and almost always unnecessary.

`static mut` has special super powers that are very unwieldy and allows code to do very unexpected things. Avoid at all costs. Build safe abstractions on top of `Unsa

[2021-03-03 19:21] therealprof commented on #53639
@jgarvin Threads in the common sense do not exist in typical embedded contexts. However interrupts are very typical and create a level of concurrency which cannot be properly modelled in Rust, `Send` and `Sync` are pretty much useless in that space. There are some multi-core chips, which are pretty much not supportable at the moment (even the simple one with multiple identical cores, the majurity

[2021-03-03 19:25] Lokathor commented on #53639
now hold on just a moment: interrupts are fairly simple to model as simply another thread on the same core. I'm not sure what the difficulty is. If it's relevant to the static mut conversation, please say more about that one.

[2021-03-03 19:28] est31 commented on #66724
I think I'll close this because such functions would have bad (linear) performance characteristics: https://github.com/rust-lang/rust/issues/82001#issuecomment-778692012

[2021-03-03 19:28] #66724 closed

[2021-03-03 19:40] therealprof commented on #53639
No idea what you mean by that, really. The concept of a thread even doesn't exist outside of `libstd`.

In order to exchange data between what Rust sees as the application and interrupt service routines which are seen by the compiler as opaque freestanding functions (we prevent from being garbage collected) you need `static` globals. We have an abstraction `Mutex` using criticial sections which al

[2021-03-03 19:40] de-vri-es commented on #82400
Thanks! Opened https://github.com/rust-lang/rust/pull/82731 :)

[2021-03-03 19:45] RalfJung commented on #53639
The concept of a thread is wired deep into the Rust Abstract Machine (and the type system, via `Send/`Sync`, which are `libcore` notions), it exists even without libstd. Roughly speaking it refers to there being multiple independent stacks each with their own "program counter".

What doesn't exist without libstd is a way for (safe) code to *create new threads*.

[2021-03-03 19:51] therealprof commented on #53639
@RalfJung Fair enough. However people (much more clever than me) have figured out that `Send`/`Sync` abstractions don't cut it for ISRs and much less so for bare metal multi-core chips.

[2021-03-03 19:52] leonardo-m commented on #82725
See also #80752

[2021-03-03 20:04] parasyte commented on #53639
I don't personally have experience with bare metal multi-core systems (apart from a very old ARM CPU used in Nintendo DS, but it has its own quirks like restrictive access to shared memory) so take this with a grain of salt. At a bare minimum, these ISAs should provide atomic operations which can be utilized by compiler intrinsics to implement `core::sync::atomic`. These basic building blocks are

[2021-03-03 20:11] therealprof commented on #53639
Nope, they don't. ARMv6-M doesn't have CAS, RISC-V without A extension also doesn't, and the list goes on...

Hereby done.

[2021-03-03 20:14] phil-opp commented on #53639
The general replacement for `static mut` is [`UnsafeCell`](https://doc.rust-lang.org/stable/core/cell/struct.UnsafeCell.html), which should be able to replace `static mut` in all use cases (correct me if I'm wrong). It is possible to modify arbitrary values in non-mut statics by creating a custom `UnsafeCell` wrapper type with a blanket `Sync` implementation:

[code]

Usage example ([playground li

[2021-03-03 20:19] parasyte commented on #53639
Are you suggesting there are multi-core ARM and RISC-V platforms (at least) without atomic primitives but with shared access to system resources? Am I reading this right?

[2021-03-03 20:23] therealprof commented on #53639
That is correct. A lot of current multi-core microcontrollers don't have CAS instructions in their ISA, e.g. the recently released Raspberry Pi Pico (aka RP2040).

[2021-03-03 20:24] Lokathor commented on #53639
I'd be very interested in a write up of this, because that kinda seems to imply that Send/Sync wouldn't cut it *ever*.

[2021-03-03 20:32] parasyte commented on #53639
A quick cursory look over the datasheet suggests that RP2040 supports FIFOs and hardware spinlocks for synchronization between the CPU cores. Are these inadequate? I suppose what I'm getting at is what @Lokathor touched on. If there are real issues with the threading model, there should be some research report already available on the topic, right?

[2021-03-03 20:50] bstrie commented on #53639
It looks like the custom mutex used there is already a thin wrapper over `UnsafeCell`, which AFAICT is the suggested replacement for `static mut`. Clearly, as you say, an `UnsafeCell` is unsuitable for multi-core operations without some sort of supporting synchronization primitive, but I don't understand the implicit argument in favor of `static mut` here, which also requires some form of addition