[2022-07-15 04:37] compiler-errors opened #99265 "Incorrect suggestion with `named_arguments_used_positionally` lint"
Code:

[code]

The current output is:

[code]

Ideally it would look like:

[code]

1. The suggestion is not exactly correct. Instead of replacing the first named arg with the suggestion, we should replace the first implicitly positional argument.
2. It would also be nice if we could tighten the span on the structured suggestion (see `~~~` -> `+` in the before and after)

[2022-07-15 04:54] compiler-errors commented on #99265
cc @PrestonFrom

[2022-07-15 04:56] PrestonFrom commented on #99265
@rustbot claim

[2022-07-15 04:57] PrestonFrom commented on #99265
@compiler-errors Thank you for cc'ing me on this!

[2022-07-15 05:01] PrestonFrom opened #99266 "Investigate why named arguments in FormatSpec.precision seem to have indices that don't correspond to a span in Context.arg_spans"
As noted int #99263, named arguments in FormatSpec.precision seem to have indices that don't correspond to a span in Context.arg_spans. This caused an ICE with the `named_arguments_used_positionally` lint, which assumed the index in the FxHashSet for named arguments would correspond to the index for `arg_spans` in context.

Determine if this is a bug or if some sort of translation is necessary and

[2022-07-15 05:02] PrestonFrom commented on #99266
@rustbot claim

[2022-07-15 06:10] bstrie commented on #84056
I think we should hew as closely to Unicode concepts as possible here. Not necessarily because Unicode is always brilliant, but rather because it's standard, and also because in general we're unlikely to do any better than it does. And if people don't want full Unicode support bloating up the stdlib, then by all means leave it to an external library (though I'd love a potential future where I can

[2022-07-15 06:14] #97405 closed

[2022-07-15 07:02] Cryptex-github commented on #99261
Thank you for looking into it this quickly. I really appreciate it!

[2022-07-15 07:10] fenhl opened #99268 "Use inference to fill in missing type parameters"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Possibly with a note explaining that the argument was inferred?

Rationale: This could reduce the number of compiler invocations in the case where the type checker is used to figure out the actual return type by not having to insert a bogus type parameter which is then type checked.

[2022-07-15 07:32] pmf commented on #84056
Raku might serve as an example for @bstrie's suggestion; it exposes Unicode properties as described here: https://www.codesections.com/blog/raku-unicode/

For the given example:
[code]

[2022-07-15 08:04] rhysd opened #99269 "Ignoring return value from `Box::from_raw` does not cause warning"
I tried this code:

[code]

I expected to see this happen: *explanation*

The same as `CString::from_raw`, I expected the following warning:

[code]

Instead, this happened: *explanation*

No warning is reported.

### Meta

`rustc --version --verbose`:
[code]

Note that `#[must_use]` was added to `CString::from_raw` at #89753 following the activity tracked at #89692.

I'm creating this issue after

[2022-07-15 08:24] Sherlock-Holo opened #99271 "cargo build failed"
### Code

[code]

[code]

the main.rs

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-15 08:32] WaffleLapkin opened #99272 "Uplift `clippy::for_loops_over_fallibles` to `rustc`"
@jyn514 showed an interesting bug:

[code]

The sneaky bug is that `rx.recv().await` returns an `Option` and `Option` implements `IntoIterator`. So instead of calling `rx.recv().await` repeatedly until it returns `None` (intended usage), this calls it once and executes the loop body if it's `Some(x)`.

This can easily be written by a newcomer or even an experienced user, it compiles and does an un

[2022-07-15 08:38] da-the-dev opened #99273 "Internal Compiler Error when compiling with mongodb as dependency"
### Description
I've created a new crate and added rocket and mongodb crates as dependencies. Here's what happens when I run `cargo build`.

### How to recreate
1. Run `cargo new somename`
2. Add `mongodb = "2.2.2" crate as a dependency in Cargo.toml
3. Run `cargo build`

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>

[2022-07-15 08:44] laik opened #99274 "use proc_macro test occurred"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-15 08:44] lqd commented on #99233
Note:
- this occurs during typechecking, so a `cargo check` will be enough to reproduce (this is most interesting for people needing to reproduce/debug the issue).
- this looks recent, it doesn't reproduce on my 10 days old nightly but does on a more recent one, so I'll bisect and report back.

[2022-07-15 08:48] #99274 closed

[2022-07-15 08:48] laik commented on #99274
none

[2022-07-15 08:56] jyn514 commented on #99221
cc @petrochenkov

[2022-07-15 08:57] jyn514 commented on #99221
@celinval does this reproduce on beta?

[2022-07-15 08:57] #98308 closed

[2022-07-15 08:59] laik commented on #99274
nightly version occurred

[2022-07-15 09:05] dilawar opened #99275 "'rustc' panicked at 'index out of bounds: the len is 1 but the index is 2', compiler\rustc_builtin_macros\src\format.rs:1001:28"
### Code

Large codebase. Build failed after updating to the latest `nightly`.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-15 09:05] lqd commented on #99233
This seems to have appeared in `nightly-2022-07-09`, via https://github.com/rust-lang/rust/pull/99054 which is unfortunately a rollup.

 - #98533 (Add a `-Zdump-drop-tracking-cfg` debugging flag)
 - unlikely: #98654 (An optimization for `pest-2.1.3`)
 - #98657 (Migrate some diagnostics from `rustc_const_eval` to `SessionDiagnostic`)
 - #98794 (Highlight conflicting param-env candidates)

The last

[2022-07-15 09:15] bugadani opened #99276 "Regression when compiling with 07-14 nightly"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

Playground uses 7-13 nightly still, and the code compiles there: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=acd29a81c627ac9cd863a0a3d843c72e

[2022-07-15 09:18] MaeIsBad commented on #84056
After seeing this issue I looked through other usages of is_numeric in public git repos and most of them I would consider to be bugs, mostly due to people mistaking `is_numeric` for `is_digit`[1][2][3][4][5]. I think if the rust team decides to deprecate and create a new function they should also use this opportunity to try to make sure the new name makes it more explicit that numeric characters a

[2022-07-15 09:26] SergioBenitez commented on #99273
Seeing this in `cookie` on nightly as well. Failing log below.

<details>
 <summary>Failing Log</summary>

[code]

</details>

[2022-07-15 09:36] cbeuw commented on #84056
I fundamentally disagree with Unicode's decision to classify code points as "numeric or not". It is, in general, impossible to determine if a code point (not even a grapheme cluster a.k.a. "perceived character"!) is used as a numeral without context, because human languages are _very_ high up the Chomsky hierarchy, to put it mildly.

They don't even need to look very far to realise this. Is "I" a

[2022-07-15 09:48] MaeIsBad commented on #84056
Maybe we should move this discussion into a separate issue.
I think most of the time people make this mistake it's from them typing char.num and seeing is_numeric pop up as a first suggestion from their IDE. Adding a mention of is_digit in the docs is a good idea but I don't think that's gonna stop most causes of this mistake

[2022-07-15 09:49] joshtriplett commented on #87335
I agree: temporaries should drop before the else block.

[2022-07-15 09:50] kyrias commented on #99271
Should be fixed by #99263.

[2022-07-15 10:06] aDotInTheVoid commented on #99273
Looks like a duplicate of #99261

[2022-07-15 10:06] lqd commented on #99233
I've checked locally that:
- this ICE does not occur on the rollup merge of #98657 https://github.com/rust-lang/rust/pull/99054/commits/dbae8309a0656e0cacf1f4a47524d0d62e5ffe0f
- does occur on the rollup merge of #98794 https://github.com/rust-lang/rust/pull/99054/commits/54dde8678b2c822af8000a9002f18c8a573938f5.
- does not occur after reverting its commit 08135254dcf22be0d5661ea8f75e703b29a83514

[2022-07-15 10:11] 5225225 commented on #99276
Hmmm... I can't seem to reproduce this.

Windows only, perhaps? Or incremental comp issue? I have the input in a `src/lib.rs` and am running `cargo build`.

[2022-07-15 10:19] bugadani commented on #99276
`cargo clean` followed by `cargo build` reproduces this for me. Might be Windows only, haven't tested elsewhere.

[2022-07-15 10:23] bugadani commented on #99276
Yup, fails in WSL, too:

`thread 'rustc' panicked at 'assertion failed: !value.has_escaping_bound_vars()', /rustc/c2f428d2f3340a0e7d995f4726223db91b93704c/compiler/rustc_middle/src/ty/sty.rs:1000:9`

<details><summary>Backtrace</summary>

<p>

[code]
</p>

</details>

[2022-07-15 10:27] gbraad commented on #84056
As @cbeuw points out, Unicode is not a reliable source. It provides information, but no conclusive answer. It is way more about context, completeness, etc. and this is all subject to a lot of nuance

even "万" by itself does not have a real meaning as it needs a preceding numeral to make it meaningful and correct.

This points clearly why this would not work in a generalized way. It would make a lo

[2022-07-15 10:39] ChrisDenton commented on #99276
It fails on latest nightly for me.

Failing version:

[code]

Working version:

[code]

[2022-07-15 10:44] cbeuw commented on #84056
To make it more fun, "千万" can mean either "ten(s) of million" or "please make certain". You need to go well into NLP territory to figure out which "千万" in "千万富翁千万不能乱花一千万元" ("millionaires must not waste ten million yuan") is a numeral

[2022-07-15 10:47] gbraad commented on #84056
I am not a native speaker of Chinese (though my wife is), I think this is a question to ask a native Chinese speaker who has experience with programming. Does this make sense implement?

[2022-07-15 10:52] nagisa opened #99279 "“captured variable cannot escape `FnMut` closure body” diagnostic can be more confusing than the basic “may outlive current function” diagnostic"
Consider the following example ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a3f2f6dc2254b8d395e510b9a401ea9f)):

[code]

Here the `x` is captured by-value by the closure but the `async` block then captures it by-reference and the resulting future is being immediately returned from the closure. This is the standard example of returning function-local variabl

[2022-07-15 11:06] 5225225 commented on #99276
searched nightlies: from nightly-2022-07-13 to nightly-2022-07-15
regressed nightly: nightly-2022-07-15
searched commit range: https://github.com/rust-lang/rust/compare/87588a2afd9ca903366f0deaf84d805f34469384...c2f428d2f3340a0e7d995f4726223db91b93704c
regressed commit: https://github.com/rust-lang/rust/commit/f1a8854f9be2e5cad764d630a53d26c7b72f8162

<details>
<summary>bisected with <a href='http

[2022-07-15 11:10] hikari-no-yume commented on #87335
If temporaries don't drop, this would make let-else a lot less useful in some circumstances. Consider a scenario using RefCell:

[code]

When `may_mutate_cell` attempts a mutable borrow of the cell, a panic will happen. I think that's surprising and unhelpful.

[2022-07-15 11:17] iamtheblackunicorn commented on #98885
@jyn514 I know it isn't a Discord support forum, however, I suspect I've been banned. Therefore I cannot join the Discord server. What would you suggest I do?

[2022-07-15 11:35] voronoipotato commented on #84056
I wonder if this could be attempted within a crate to figure out if there is or is not value through practical use for a more robust is_numeric, and then we could talk about merging it later. It does seem like both statements "this is intractable" and "a simpler approach that is tractable may still be useful" could both be true. A lot of the arguments made here also apply to concepts like "time",

[2022-07-15 11:54] lqd commented on #99276
#99231 is yet another rollup; we really need a try build for each rolled up PR...

Out of:
 - #97720 (Always create elided lifetime parameters for functions)
 - #98315 (Stabilize `core::ffi:c_*` and rexport in `std::ffi`)
 - #98705 (Implement `for<>` lifetime binder for closures)
 - #99126 (remove allow(rustc::potential_query_instability) in rustc_span)
 - #99139 (Give a better error when `x dist`

[2022-07-15 12:15] ltratt opened #99280 "std::fs::create_dir_all can spuriously fail on OpenBSD"
I have a process which repeatedly calls `create_dir_all` in a thread on OpenBSD and, for a directory that already exists, perhaps once in perhaps 5 calls it returns `Is a directory (os error 21)` (which is true -- it is a directory!). Unfortunately I have not managed to replicate this in a small test program, so presumably there is a race condition going on.

What I have noticed is that `create_di

[2022-07-15 12:22] yashwanthsinghm opened #99281 "Build fail after rustup latest update."
Im working on rustBoot repository https://github.com/yashwanthsinghm/rustBoot . After new nightly update 11 July , who ever did rustup update  are facing compiling issue .So would someone hep in solving this issue?

Before update
[code]

After update
[code]

[2022-07-15 12:24] compiler-errors commented on #99233
That makes sense. It was probably foolish to store a span in the first place anyways in a cacheable key like SelectionError.

I'll look into fixing it, or else revert.

@rustbot claim

[2022-07-15 13:07] weiznich opened #99282 "Crash while running compiler with self profile"
### Code

https://github.com/Ten0/diesel_3223_repro

### Meta

I'm trying to debug an issue with extensive compile times in diesel. While running the compiler on an example with RUSTFLAGS="-Z self-profile -Z self-profile-events=default,args" I've got the following ICE, which prompt me to report it here.

`rustc --version --verbose`:
[code]

<details><summary><strong>Backtrace</strong></summary>
<p

[2022-07-15 13:08] oli-obk commented on #55100
T-types triage: closing as it's not tracking anything particularly actionable. We can work on docs or open specific issues for things that should be documented.

[2022-07-15 13:08] #55100 closed

[2022-07-15 13:11] spastorino commented on #55100
Maybe we should open an issue like this in rustc-dev-guide itself.

[2022-07-15 13:18] HTG-YT commented on #99271
Just encountered this ICE: https://github.com/HarTexTeam/HarTex-rust-discord-bot/runs/7358541207?check_suite_focus=true

[2022-07-15 13:20] lcnr commented on #59490
discussed in the [t-types backlog bonanza](https://rust-lang.zulipchat.com/#narrow/stream/326132-t-types.2Fmeetings/topic/meeting.202022-07-15/near/289724216)

While the plan for *how* we want to remove the leak check has changed, we still intend to remove the current version, so we're keeping this open to track that for now.

The goal is to pretty much add a `param_env` aware leak check directly

[2022-07-15 13:23] wwylele commented on #84056
I am a native Chinese speaker. Before seeing this issue, I don't trust `is_numeric` outside of ASCII range at all (and hence would probably never use it given we already have is_digit/is_ascii_digit). And, to me the question "Is 五 numeric?" roughly has the same vibe of "Is 'five' numeric?" - the answer is: yes, but that's not a property on a character/unicode code point - 'five' isn't even a chara

[2022-07-15 13:30] lcnr commented on #78893
discussed during [t-types backlog bonanza](https://rust-lang.zulipchat.com/#narrow/stream/326132-t-types.2Fmeetings/topic/meeting.202022-07-15/near/289725758).

Going to discuss this in a later meeting to make a final discussion here

[2022-07-15 13:37] lcnr commented on #79590
@rustbot claim

[2022-07-15 14:25] #99121 closed

[2022-07-15 14:25] #99234 closed

[2022-07-15 14:42] rseymour commented on #99280
I mentioned this on twitter, but the time of check, time of dir creation (TOCTOU) issue has a greater time delta in the rust version and could have particularly nasty effects with some dir chains being created in parallel. Either way Error handling seems to be the best way to avoid this.

[2022-07-15 14:58] nowave7 opened #99284 "Internal compiler error compiling Neovide"
### Code
I'm unable to isolate a small piece of code. In order to reproduce this bug, please clone the following repository, with this specific hash
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-15 15:03] nowave7 commented on #99284
This looks to be a duplicate of the bug #99273

[2022-07-15 15:08] nowave7 commented on #99284
Closing as a duplicate.

[2022-07-15 15:08] #99284 closed

[2022-07-15 15:09] #96452 closed

[2022-07-15 15:09] GuillaumeGomez commented on #96161
#93518 as is doesn't solve this issue. I'm currently working on it.

[2022-07-15 15:21] pakchu opened #99285 "rust wasm bug report"
### Code

[code]

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]
</p>
</details>

in the `Cargo.toml`:

[code]

[2022-07-15 15:36] oli-obk commented on #44454
@rustbot claim

[2022-07-15 15:39] ehuss commented on #99281
This should be fixed in last night's nightly (nightly-2022-07-15)

cc https://github.com/rust-lang/cargo/issues/10864

If you continue to have issues with cargo, feel free to open an issue at https://github.com/rust-lang/cargo/issues

[2022-07-15 15:39] #99281 closed

[2022-07-15 15:57] jo3bingham commented on #98720
@rustbot claim

[2022-07-15 15:59] Aaron1011 opened #99286 "`std::intrinsics::copy_nonoverlapping` is marked unstable on the latest nightly"
### Code

I tried this code:

[code]

I expected to see this happen: Compilation succeeds

Instead, this happened:

[code]

### Version it worked on

`rustc 1.62.0 (a8314ef7d 2022-06-27)`

It most recently worked on:

### Version with regression

[code]

[2022-07-15 16:06] jo3bingham commented on #98720
@jyn514 is the fix here to still only run `--all-targets` in stage0, or is your latest comment a better solution? If the latter, is that an easy solution? This is my first contribution to `rust` so I'm not well versed on how bootstrap, or anything else for that matter, works.

[2022-07-15 16:15] Fishrock123 commented on #87335
I’m not sure why the above comment was edited out, it seems like a mistake. It had the following comment:

[2022-07-15 16:16] hikari-no-yume commented on #87335
Yes sorry, I edited it out because I realised others were currently talking about dropping after `else` not dropping in general. I suppose something similar can apply to the `else` though, my example is just not immediately helpful there.

[2022-07-15 16:19] #99285 closed

[2022-07-15 16:21] pakchu commented on #99285
@compiler-errors thanks after ` nightly-aarch64-apple-darwin updated - rustc 1.64.0-nightly (c2f428d2f 2022-07-14) (from rustc 1.63.0-nightly (7466d5492 2022-06-08))` the compiler successfully finds this code as compile time error.

[2022-07-15 16:38] jyn514 commented on #98720
@jo3bingham my second comment is a harder but more correct solution. I would accept either as PRs.

(My third comment about sysroots I think is the ideal solution, but involves several large refactors to bootstrap and isn't a good first PR.)

[2022-07-15 16:40] the8472 commented on #99280
Probably not a concern in practice but asymptotically it's probably more efficient to perform a binary search to find the deepest existing ancestor.

[2022-07-15 16:47] compiler-errors commented on #99233
Okay, so this is a deeper issue than just my PR. I reverted my PR and added the line
[code]
in the same place that I was touching in `candidate_from_obligation_no_cache`. This causes the same ICE.

So my PR is only the "cause" insofar as it adds a call to the `predicates_of` query, which actually causes this ICE. I'm not exactly sure what to do in this case. I will probably put up a revert PR for

[2022-07-15 16:48] wsy2220 commented on #84056
As a native Chinese speaker, I think most programmers have the assumption that `is_numeric` is only true for ascii numbers.  Expanding the definition of numbers will generate endless surprises, some of which may be security vulnerablilities.

[2022-07-15 16:51] JanBeh commented on #98905
There is an older issue #45742 (Blanket impl of AsRef for Deref) referring to an old FIXME comment in [`library/core/src/convert/mod.rs`](https://github.com/rust-lang/rust/blob/1.62.0/library/core/src/convert/mod.rs#L509-L515):

[code]

Since this issue (#98905) is a special case (only addressing `Cow`), I would propose closing this issue and refer to #45742 and the already existing FIXME in the s

[2022-07-15 16:51] #98905 closed

[2022-07-15 17:04] lqd commented on #99282
This is unfortunate but somewhat known for bigger crates, there's more than a [u32's worth of strings or similar](https://github.com/rust-lang/measureme/blob/e2d7d6a1bb269927116ac6e81e33c7bcf51f3449/measureme/src/stringtable.rs#L105), e.g. https://github.com/rust-lang/measureme/issues/165 or https://github.com/rust-lang/measureme/issues/196

Maybe we should switch to a u64 🤡. There's no wg-self-pr

[2022-07-15 17:12] V0ldek opened #99289 ""index out of bounds: the len is 1 buit the index is 2" when compiling `time` on docs.rs"
### Description

It's hard for me to provide a MRE, since I can't reproduce the error locally or on GitHub pipelines.

The compilation of docs of my crate [fails on docs.rs](https://docs.rs/crate/rsonpath/0.1.0/builds/593904) with an internal compiler error when compiling the `time` crate (v0.3.9).

I've created an issue at [docs.rs repo](https://github.com/rust-lang/docs.rs/issues/1769) and asked

[2022-07-15 17:15] jyn514 commented on #99289
You have `--cfg docsrs` set in docs.rs, try setting that locally.

[2022-07-15 17:36] compiler-errors commented on #99289
This is a dupe of #99261

[2022-07-15 17:54] Xiretza commented on #90091
Would it be possible to stabilize the slice methods, while the array methods remain unstable and continue to use the temporary API until const generics are more advanced? I don't think method resolution takes stable status and return type into account, right?

This would at least give us the slice methods right now, whereas the necessary const generic work is still quite a ways away from stabiliza

[2022-07-15 18:03] yashwanthsinghm commented on #99281
Thank you @ehuss , after nightly-2022-07-15 update its working fine.

[2022-07-15 18:49] mafrasi2 commented on #84056
That already isn't the case though, for example `is_numeric` is also `true` for ①, ¾ and ৬.

[2022-07-15 19:32] memoryruins commented on #86730
@pnkfelix

The stabilization proposal for `let_chains` is currently entering its final comment period <https://github.com/rust-lang/rust/pull/94927#issuecomment-1182764818>. I believe its macro concern in <https://github.com/rust-lang/rust/pull/94927#issuecomment-1142439496> was resolved by forbidding `let` in certain places in <https://github.com/rust-lang/rust/pull/97295> (unless if there was an

[2022-07-15 19:58] est31 commented on #87335
I've made a PR for the drop order tests: #99291

It's sadly indeed all over the place:
[code]
Compare this to `if let`:
[code]

[2022-07-15 20:09] ChrisDenton opened #99295 "gated-plugin and multiple-plugins tests fail on stage one"
On x86_64-pc-windows-msvc the `src/test/ui-fulldeps/gated-plugin.rs` and `ui-fulldeps/multiple-plugins.rs` tests fail on stage 1 but succeed in stage 2.

Abbreviated error output:

[code]

[code]

I guess one solution would be to make them stage 2 only?

[2022-07-15 21:01] ithinuel commented on #99261
Discovered this issue while installing `cargo-flash v0.13.0` and `svls v0.2.4` both failing during compilation of the `time` dependency.

[2022-07-15 21:15] TheButlah commented on #99286
My build uses [`bevy`](bevyengine/bevy) which in turn is affected by this regression via its dependency on [`inplace_it`](https://github.com/NotIntMan/inplace_it/pull/11)

[2022-07-15 21:15] Phillip-Bociu opened #99296 "Compiler doesn't detect out-of-bounds error when accessing a struct member through a reference"
I tried this code:

[code]

I expected to see this happen:
compiler error because of the out-of-bounds error

Instead, this happened:
code compiled without a single error

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>
</p>
</details>

[2022-07-15 21:27] cgranade opened #99297 "Internal compiler error when compiling `time`"
When using `cargo install cargo2junit`, an internal compiler error was encountered in the [`time` crate](https://crates.io/crates/time/0.3.11) brought in as a dependency. I was not able to immediately find a minimum example that reproduces the problem; will work on doing so and will update this issue accordingly if I find a minimal example.

### Code

[code]

### Meta

`rustc --version --verbose`:

[2022-07-15 21:28] cgranade commented on #99297
Apologies, it looks like this may be a duplicate of https://github.com/rust-lang/rust/issues/99261.

[2022-07-15 21:35] Mark-Simulacrum commented on #99282
I've not fully grasped the code yet, but it looks like there's a constant [here](https://github.com/rust-lang/measureme/blob/e2d7d6a1bb269927116ac6e81e33c7bcf51f3449/measureme/src/stringtable.rs#L121) that's significantly less than u32::MAX -- 100 million. Is that perhaps the limit we're actually hitting?

It seems a little unlikely to me that we're actually seeing u32::MAX unique(?) string IDs in

[2022-07-15 22:04] yaahc opened #99301 "Tracking Issue for `error_generic_member_access`"
Feature gate: `#![feature(error_generic_member_access)]`

This is a tracking issue for the generic member access API on the error trait, which generalizes the pattern of `fn source(&self) -> Option<&dyn Error>` and `fn backtrace(&self) -> Option<&Backtrace>` into `fn request_ref::<T>(&self) -> Option<&T>`

### Public API

[code]

### Steps / History
Now tracked by @waynr in https://github.com/rust

[2022-07-15 22:11] PI-Victor commented on #25289
i understand that you end up here from google, but folks, your errors have very little to do with cargo, you're simply missing the development libraries for the rust crates you are trying to build that are part of your projects.

[2022-07-15 22:18] dwattttt commented on #99031
Is this ever able to succeed on Windows? An OsStr there is not utf8, and this is known at compile time. Relegating it to a runtime failure seems a poor result.

[2022-07-15 22:24] cuviper commented on #98498
The fix was backported in #98949.

[2022-07-15 22:24] #98498 closed

[2022-07-15 22:24] ChrisDenton commented on #99031
On Windows we use [WTF-8](https://simonsapin.github.io/wtf-8/) for `OsStr`. This is a superset of UTF-8 and in practice will almost always be valid UTF-8.

[2022-07-15 22:29] ChrisDenton commented on #99031
Windows itself uses "WTF-16" (aka UTF-16 with unpaired surrogates) but the standard library translate from/to WTF-8 at the API boundary. We also guarantee that an `&str` is bit-for-bit compatible with an `OsStr` (see [`impl AsRef<OsStr> for &str`](https://doc.rust-lang.org/std/primitive.str.html#impl-AsRef%3COsStr%3E)) so the reverse must also be true for any string that can be represented in UTF-

[2022-07-15 22:33] lqd commented on #99282
I haven't grasped the code either, and don't know yet what this 100 million cutoff between "virtual string ids" and "real string ids" means, or why this addition overflows after adding that value. It could for sure be a different issue than there being so many unique strings.

Maybe that 100 million base is somehow added multiple times through a different codepath than the expected checked_sub.

I

[2022-07-15 22:58] paulocsanz opened #99303 "Wrong "lifetime may not live long enough" diagnostic"
The compiler is misdiagnosing some compilation errors as lifetime errors. This has happened 4 times today, but it had happened before in the past usually once a week or less.

A cargo clean + check reports a different error (which was the actual problem). Sadly we don't know how to minimally reproduce it, the things we found were: it always wrongly points to a lifetime problem during the creation

[2022-07-15 23:00] dwattttt commented on #99031
Ah that makes sense. I had no idea an OsStr(ing) needed a copy for win32 (except maybe for Win11)

[2022-07-15 23:25] lqd commented on #99282
Ok that makes more sense: IIUC some of the `StringId`s are addressing a data stream (the `StringTable`), and the overflow would happen if that stream would get bigger than 4GB worth of strings.

[2022-07-15 23:38] kmdreko commented on #98444
In case no one has dug into it yet, the error is suppressed in `1.61` but not in `1.60` and before:

[code]
[code]

[2022-07-15 23:56] Runi-c opened #99304 "rustc should recommend impl Trait before dyn Trait in argument and return type positions"
Given the following code:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=242a6ff23679df5d4ac2f718e0ce8415
[code]

The current output is:

[code]

Ideally the output should look like:

[code]

During my journey learning Rust, I've made this mistake a number of types, and pretty much 90% of the time the compiler error was misleading because my actual intention was an `impl T

[2022-07-16 00:15] vivi90 commented on #99286
## Workaround in the meantime
Using the last working version of `rustc`:
 1. Install via: `rustup toolchain install nightly-2022-07-13`
 2. Using everytime `cargo +nightly-2022-07-13 run --release` for testing.

[2022-07-16 00:18] #99286 closed

[2022-07-16 00:36] clarfonthey commented on #34433
So, this already seems to have been rejected as a PR-- do people feel like this would have any chance of being approved if it had an RFC first? Or maybe people's opinions have changed?

Basically wondering what the path forward for this would be. In my latest case for this, I did `Chain` with a single option iterator and another iterator, which effectively just adds + 1 to the length -- it's very

[2022-07-16 00:58] #97820 closed

[2022-07-16 02:26] #45256 closed

[2022-07-16 02:59] #90357 closed

[2022-07-16 03:17] nixpulvis opened #99310 "from_generator::GenFuture<[static generator@...]> in Error Message"
Given the following code: ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e54e89cdad352eb6cc45b7e1d7f1a8dc))

[code]

The current output is:

[code]

Given that the docs for `from_generator` are explicitly hidden to help with error messages, I would expect this error to not make reference to a hidden item.
https://github.com/rust-lang/rust/blob/e6c43cf8b9

[2022-07-16 03:36] JohnTitor commented on #98163
Another case: https://github.com/rust-lang/rust/pull/99305#issuecomment-1186078677

[2022-07-16 03:52] JohnTitor commented on #95829
Triage: Fixed by #98203, marking as E-needs-test.

[2022-07-16 04:16] saethlin commented on #92958
Oh :facepalm: you're telling me that we're tackling different sorts. I should have noticed that my changes weren't in `core`.

[2022-07-16 05:34] conradludgate commented on #99310
Prior art:

[code]
I believe this used to generate a similar error (including a name for the anon closure type), but now the error is
[code]

[2022-07-16 08:10] scottmcm commented on #99272
(Lang hat on, but not after a team discussion) That sounds eminently reasonable to me.  Using a loop feels wrong when something weaker (like `if let`) would suffice -- and would give fewer move/borrow errors, too, since `for` bodies (unless there's an unconditional break) are always considered to potentially run multiple times.

Exactly what the best suggestion would be I'm less confident.  Especi

[2022-07-16 08:12] EdorianDark commented on #70887
Is there any other programming language, in which ``log`` returns an integer?

Log is a common abbreviation of [Logarithm](https://en.wikipedia.org/wiki/Logarithm), a continuous function which has often non integer values for integers: ``log(5)=0,698...``.
There are [several other languages](https://github.com/rust-lang/rust/issues/70887#issuecomment-626302490) which define the result of ``log`` o

[2022-07-16 08:34] numerodix opened #99313 "nightly compiler crash when running udeps"
### Code

[code]

I hope this helps someone :)

[2022-07-16 08:46] the-emerald opened #99314 "ICE on nightly"
### Code
`cargo new ice-repro && cd ice-repro`

[code]
`cargo +nightly check`

### Meta

This does **not** ICE on stable nor beta.
`rustc --version --verbose`
[code]
`rustc +beta --version --verbose`
[code]

`rustc +nightly--version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-16 08:47] the-emerald commented on #99314
Could be duplicate of #99261

[2022-07-16 10:08] lqd commented on #99313
This is a duplicate of #99261 and will be fixed by https://github.com/rust-lang/rust/pull/99263. I will close it as such.
Thanks for opening an issue!

[2022-07-16 10:08] #99313 closed

[2022-07-16 10:12] lqd commented on #99314
Indeed that's a duplicate of #99261, and it will be fixed soon by #99263.

In the meantime I'll close this one as a duplicate and we can keep tracking progress over there. Thanks for opening an issue!

[2022-07-16 10:12] #99314 closed

[2022-07-16 10:23] JakobDegen commented on #91029
I've been looking at some related stuff in the last few days. [Consider](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=21936f121bed48a9209b4833053d08a0):

[code]

At the end of `real_main`, the discriminant of `e` is read again to check if `(e as Some).0.1` needs to be dropped. That check is UB if the move out of `(e as Some).0.0` left uninit behind.

There is nothing to

[2022-07-16 10:33] matthiaskrgr opened #99318 "ICE: let_else with -Zunpretty=hir, let-else-binding-immutable.r, None in compiler/rustc_ast_pretty/src/pp.rs"
`./src/test/ui/let-else/let-else-binding-immutable.rs`
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./src/test/ui/let-else/let-else-binding-immutable.rs -Zunpretty=hir`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-16 10:43] gimbles commented on #97222
I have found the problem! 👏🏻

Similar to #98458, this *only* occurs in Rustup built toolchains. Build goes with expected behaviour on locally built toolchains.

[2022-07-16 10:56] matthiaskrgr opened #99319 "ICE: capacity overflow in Vec with -Zunpretty=hir let-else-bool-binop-init.rs"
### Code
`./src/test/ui/let-else/let-else-bool-binop-init.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./src/test/ui/let-else/let-else-bool-binop-init.rs -Zunpretty=hir`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-16 10:58] nagisa commented on #43894
The GCC Farm Project has some SPARC machines and I have access to them. I’ll keep the tab open and might get to verifying this.

We had a some fixes to the SPARC ABI code recently, so chances that this might be fixed are quite significant.

[2022-07-16 10:58] gimbles commented on #98458
#97222 is also affected by this.

[2022-07-16 11:44] GuillaumeGomez commented on #98163
It's all linked to the search. I wonder if we're entering things too fast...

[2022-07-16 11:54] JohnTitor commented on #98163
Maybe we could do some retry such a case?

[2022-07-16 11:54] GuillaumeGomez commented on #98163
I have a better idea. :)

[2022-07-16 11:54] Jerrody opened #99321 "Add filters for the search."
@GuillaumeGomez
It's pretty hard to work with results in some huge frameworks when you get unfiltered results.

For example, I search for a method and instead get in result `const`ants, methods, associated functions, and so on. And a user doesn't have a filter.

[2022-07-16 11:58] GuillaumeGomez commented on #99321
You actually have the possibility to use filters already. For example, if you only want functions/methods, prepend your query with `fn:`. We plan to add a UI to be able to enter this information differently and not only with the search input in the coming weeks/months so hopefully this won't be an issue for too long

[2022-07-16 12:00] Jerrody commented on #99321
I'm glad to see it! Alright, I just keep this issue until this feature will be added.

[2022-07-16 12:01] GuillaumeGomez commented on #99321
Maybe update the title to reflect what it will actually be about? :wink:

[2022-07-16 12:02] Jerrody commented on #99321
Yeah.

[2022-07-16 12:47] matthiaskrgr opened #99325 "ICE: "expected to convert valtree to raw bytes for type u8" compiler/rustc_middle/src/ty/print/pretty.rs with issue-70408.rs and -Zunpretty=mir"
`./src/test/ui/const-generics/issue-70408.rs`
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./src/test/ui/const-generics/issue-70408.rs  -Zunpretty=mir`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-16 12:48] yxdxx opened #99326 "error when compiler\rustc_builtin_macros\src\format.rs"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-16 12:52] itsCryne opened #99327 "ICE when running `cargo expand`"
Upon running `cargo expand`, the compiler panics when having
[code]
as a dependency.

`cargo check` and `cargo build` complete without error.

Probably this is related to #99326 ?
### Code

https://github.com/itsCryne/rust_ice_mve

### Meta

`rustc --version --verbose`:
[code]
and
[code]

`cargo expand --version`:
[code]

### Error output
`cargo expand`:
[code]

<details><summary><strong>Backtrace

[2022-07-16 13:01] humb1t commented on #99326
Same issue in different project when using fresh niightly toolchain

[2022-07-16 13:21] jyn514 commented on #99272
We can suggest the latter iff foo() is iterable.

Honestly I think any of these suggestions would be extremely helpful - the hard part is realizing this doesn't do what you want, I think it's ok for the suggestion not to be ideal since the fix will usually be pretty obvious to the author.

[2022-07-16 13:36] feridinverien opened #99328 "Rust-cargo bug"
https://github.com/rust-lang/rust/issues/new?labels=C-bug%2C+I-ICE%2C+T-compiler&template=ice.md

I tried this code:

[code]

I expected to see this happen: *explanation*

Instead, this happened: *explanation*

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-07-16 13:46] letto4135 opened #99329 "could not compile `time` 'index out of bounds: the len is 1 but the index is 2'"
I've seen a few of these opened with a "update rust" solution, but as far as I know I am up to date.

### Code
cargo install trunk

### Error output
[code]

### version
[code]

### computer
M1 Mac Monterey 12.4

### Edit:
Compiles fine on stable, broken on nightly.

[2022-07-16 13:52] Nilstrieb commented on #99329
Duplicate of #99261

[2022-07-16 13:53] Nilstrieb commented on #99328
Do you have any information on the bug? Like an error message or backtrace?

[2022-07-16 13:53] Nilstrieb commented on #99327
Appears to be a duplicate of #99261

[2022-07-16 13:53] Nilstrieb commented on #99326
Appears to be a duplicate of #99261

[2022-07-16 13:55] letto4135 commented on #99329
I even looked at that one, for some reason I thought it was closed.. >_>
My bad, thanks @Nilstrieb

[2022-07-16 13:55] #99329 closed

[2022-07-16 13:57] letto4135 commented on #99261
Reproducible on my m1, just run cargo install trunk when on nightly, complies fine on stable.

[2022-07-16 14:14] BlackDex opened #99330 "Compiler Error: 'rustc' panicked at 'index out of bounds: the len is 1 but the index is 2'"
Running clippy or build on the Vaultwarden code-base using `nightly` breaks.
It is broken since `nightly-2022-07-15` and still works on `nightly-2022-07-14`

Tried to run `cargo clean` before running this without luck.

If you need any more information, please let me know.

### Code

**Vaultwarden:** https://github.com/dani-garcia/vaultwarden

### Meta

Working:
[code]

Broken since:
[code]

### E

[2022-07-16 14:16] BlackDex commented on #99330
Looks like this is a duplicate of #99261 and #99289

[2022-07-16 14:23] jdahlstrom commented on #93050
(This is slightly tangential but also a potential argument against adding a new method when there's an existing, almost as concise alternative:)

Huh. To me the obvious way to write "is_some_and()" has always been `filter().is_some()` rather than `map_or`:

[code]
vs
[code]

but I haven't seen it mentioned in this (or the previous) thread. Maybe it's less idiomatic than I thought? I noticed that `

[2022-07-16 14:26] RalfJung commented on #93050
I didn't even know `filter` existed, I would have thought you would have to `into_iter` first. Nice!

[2022-07-16 14:28] Mark-Simulacrum commented on #99116
@craterbot edit name=beta-1.63-2 end=beta-2022-07-16

[2022-07-16 14:28] Mark-Simulacrum commented on #99116
@craterbot name=beta-1.63-2 end=beta-2022-07-16

[2022-07-16 14:35] matthiaskrgr opened #99331 "ICE: compiler error is promoted to ICE with -Zunpretty=expanded: "unrecognized ABI not caught in lowering""
### Code
`./src/test/ui/codemap_tests/unicode.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
without flags, rustc just reports this as an error, but with ` rustc ./src/test/ui/codemap_tests/unicode.rs  -Zunpretty=expanded` it becomes an internal compiler error for some reason
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-16 15:01] jyn514 commented on #48594
# Stabilization proposal

The feature was implemented in https://github.com/rust-lang/rust/pull/50045 by @est31 and has been in nightly since 2018-05-16 (over 4 years now).
There are [no open issues][issue-label] other than the tracking issue. There is a strong consensus that `break` is the right keyword and we should not use `return`.

There have been several concerns raised about this feature on

[2022-07-16 15:03] jyn514 commented on #48594
@joshtriplett could you please start an FCP?

[2022-07-16 15:33] kpreid commented on #94944
This seems to have been fixed, as 1.64.0-nightly (2022-07-13 87588a2afd9ca903366f) does produce the custom message with the original repro source:

[code]

[2022-07-16 16:30] #99261 closed

[2022-07-16 16:30] #99289 closed

[2022-07-16 16:30] #99273 closed

[2022-07-16 16:30] #99297 closed

[2022-07-16 16:30] #99327 closed

[2022-07-16 16:30] #99330 closed

[2022-07-16 16:30] #99271 closed

[2022-07-16 16:33] Sakul6499 opened #99336 "internal compiler error: unexpected panic - thread 'rustc' panicked at 'index out of bounds: the len is 1 but the index is 2'"
### Code

Not Rust code (at least not mine), trying to install [grcov]() to get Code Coverage reports inside GitHub Actions working, script is:

[code]

**However, the failing (panicing) command is simply this:**

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-16 16:53] kmozurkewich opened #99338 "thread 'rustc' panicked at 'index out of bounds: the len is 1 but the index is 2', compiler/rustc_builtin_macros/src/format.rs:1001:28"
note: rustc 1.64.0-nightly (23e21bdd2 2022-07-15) running on x86_64-apple-darwin
note: compiler flags: --crate-type lib -C embed-bitcode=no -C split-debuginfo=unpacked -C debuginfo=2

### Meta

[code]

[code]

</p>
</details>

[2022-07-16 17:01] GoldsteinE commented on #85138
I think it’s still fine to mention under “Implementors” like “This trait is _not_ object safe: `dyn Trait` doesn’t implement `Trait`”, but I also like the idea of the new section.

I see this issue doesn’t have an assignee currently, can I claim this?

[2022-07-16 17:02] compiler-errors commented on #99326
This should be fixed on tomorrow's nightly

[2022-07-16 17:02] #99326 closed

[2022-07-16 17:03] ehuss commented on #99336
Thanks for the report! Closing as a duplicate of #99261. This should be fixed by #99263 and should be in the next nightly.

[2022-07-16 17:03] #99336 closed

[2022-07-16 17:10] davidbarsky commented on #97331
Would it be helpful if `tracing` added `#[must_not_suspend]` behind an `RUSTFLAGS`? I can then try enabling it at work's monorepo and see what breaks.

[2022-07-16 17:23] GuillaumeGomez commented on #85138
You can but since we didn't reach a consensus, any PR would hang around until we reach one.

[2022-07-16 17:51] kornelski commented on #85619
I've ran into this too. This leads to docs being just incorrect. For example deref for `Entity` (which is a `struct`, not `u8`) includes ASCII method that can't be called: https://docs.rs/bevy/latest/bevy/hierarchy/struct.Children.html

[2022-07-16 18:02] joshtriplett commented on #99272
This looks like a *great* lint. Looking at the example where it would warn made me shudder; catching that seems like a big help.

I agree that just flagging suffices to call attention to the problem.

In terms of suggestions, I *think* it would make sense to suggest:
- Both `if let Some(x) =` and `while let Some(x) =` if it's `Option<T>`, with an explanation of the difference.
- `?` if it's a `Res

[2022-07-16 18:08] lqd commented on #99338
This is a duplicate of #99261. It's already been fixed by #99263 and should be resolved in the next nightly. Thanks for opening an issue!

[2022-07-16 18:08] #99338 closed

[2022-07-16 19:11] scottmcm commented on #95217
Closing since the PR was closed.

[2022-07-16 19:11] #95217 closed

[2022-07-16 19:11] #97947 closed

[2022-07-16 19:11] #99269 closed

[2022-07-16 19:11] #64401 closed

[2022-07-16 19:11] compiler-errors commented on #99122
This was merged into beta so I will close it now. Expect it to be fixed next beta release :)

[2022-07-16 19:11] #99122 closed

[2022-07-16 19:12] scottmcm commented on #91613
Closing since the PR was closed.

[2022-07-16 19:12] #91613 closed

[2022-07-16 19:13] xNxExOx opened #99341 "`std::collections::hash::map::new` stuck on Windows 7"
I tried this code:
[log4rs = "1.1.1"](https://docs.rs/crate/log4rs/1.1.1)
[HashSet::new called here](https://docs.rs/log4rs/1.1.1/src/log4rs/config/runtime.rs.html#104)
[code]

I expected it to work on Windows 7 the same as it works on other platforms.

Instead, this happened:
the code get stuck in the initialization of logging, we acquired same-ish stack from multiple people using Windows 7
It wa

[2022-07-16 19:14] compiler-errors commented on #99254
Since you said this now errors on nightly (instead of ICEs), I think this can be closed. I believe this error message is correct.

[2022-07-16 19:51] fundon opened #99343 "could not compile `time` use nightly version"
My project: https://github.com/viz-rs/viz
Tested successfully in stable version.
Built failed: https://docs.rs/crate/viz/0.2.0-alpha/builds/594250

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-16 19:56] mqudsi commented on #88566
Another interesting point regarding whether or not a feature like avx2 unlocks predecessor features is how many people actually test for all of them before branching. I just realized that my code ended up looking like this:

At the site of dispatch:
https://github.com/neosmart/tac/blob/b9e134adf4fbb97b09594de05a226d24df6de6a7/src/tac.rs#L128-L139

Followed by the actual implementation:
https://git

[2022-07-16 19:57] dtomvan commented on #84056
To add to that: if you want to check if a `char` is `[0-9]`, then you can always use `is_ascii_digit`. Combining it with `str::chars` allows for checking it on any string as well.

The naming of these functions (especially the `ascii`-variant) and the documentation make it very clear how these should be used.

My proposal: add an `is_numeric_unicode` function, to comply with unicode, allowing all

[2022-07-16 19:58] thomcc commented on #88566
It would not. compiler_fence only prevents reordering of memory accesses (and even then only volatile and atomic accesses). In general it does not prevent code motion in the way you would need for this, nor is there anything else we have available that could.

[2022-07-16 20:13] ehuss commented on #99343
Thanks for the report! Closing as a duplicate of https://github.com/rust-lang/rust/issues/99261. This should be fixed by https://github.com/rust-lang/rust/pull/99263 and should be in the next nightly.

[2022-07-16 20:13] #99343 closed

[2022-07-16 20:29] conradludgate commented on #83931
This issue can be reduced down to

[code]

[2022-07-16 20:47] c410-f3r commented on #98351
Closing due to lack of activity

[2022-07-16 20:47] #98351 closed

[2022-07-16 20:53] nagisa commented on #99341
https://github.com/rust-lang/rust/issues/94098 seems possibly relevant, but since this is just hanging, I’m not sure we can blame it all on snake oil _this_ time. Though maybe? Wouldn’t be the first time it breaks the system in incomprehensible ways.

First and foremost – could you minimize the reproducer? Both from the perspective of the Rust code (sounds like simply calling `BCryptGenRandom` fro

[2022-07-16 21:00] tomkarw commented on #69939
Sorry for the late response, apparently I don't get GitHub notification via email.

TBH, I thought it will be easier. The `unsafe` code needed kinda scared me, and I got a job 4 days after claiming this.
I'll try to revisit it now, but will probably look for a mentor/guidance.

[2022-07-16 21:08] nagisa commented on #94098
If it is _indeed_ caused by essential snake oils, then I’d argue that Firefox as an application has just large enough of a profile to get the vendors to fix _their_ software. You all aren’t introducing workarounds to enable Firefox’s operation on systems with random memory bit-flips caused by unstable memory, are you? I would argue a similar line of thinking could apply here to at least some exten

[2022-07-16 21:29] mqudsi commented on #99341
The nightly that it first started failing under is the first nightly after #96917 was merged, which just happens to be directly related to `BCryptGenRandom`? That's really whack given that the stack trace above shows the hang taking place just _before_ any of the changes that PR introduced are invoked.

[2022-07-16 21:31] JoJoJet opened #99348 "ICE with `type_alias_impl_trait`"
### Code

Minimum reproducible example:
https://github.com/JoJoJet/bevy_param_example/blob/4ee1ab4d2ad7858df2a84a5ab2d88fc83c0d882b/src/main.rs

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-16 21:31] maroider opened #99349 "ICE: format_args!() macro expansion fails with "index out of bounds: the len is 1 but the index is 2""
This failure was encountered in `time`, specifically with [this](https://github.com/time-rs/time/blob/94d56ab4cdda876608f9221ef1db8c00304e4d57/src/formatting/mod.rs#L155-L161) macro invocation.

### Code

[code]

### Meta
`rustc +nightly-2022-07-15 --version --verbose`:
[code]

I also checked the `nightly-2022-07-14` toolchain, which works fine, as well as the `nightly-2022-07-16` toolchain, which

[2022-07-16 21:37] joshtriplett commented on #98314
This has been stabilized in #99277.

[2022-07-16 21:37] #98314 closed

[2022-07-16 21:38] #97122 closed

[2022-07-16 21:39] maroider commented on #99349
Welp, just noticed there's already a pinned issue for this (#99261)

[2022-07-16 21:39] #99349 closed

[2022-07-16 21:48] joshtriplett commented on #94501
Stabilized in https://github.com/rust-lang/rust/pull/98315

[2022-07-16 21:48] #94501 closed

[2022-07-16 21:50] joshtriplett commented on #86941
Following up on this: what are the remaining blockers to merge this?

[2022-07-16 21:50] JohnTitor commented on #99328
Please fill out the form and re-open if needed, thanks!

[2022-07-16 21:50] #99328 closed

[2022-07-16 21:51] #84978 closed

[2022-07-16 21:52] joshtriplett commented on #88140
AFAICT this is done.

[2022-07-16 21:52] #88140 closed

[2022-07-16 22:01] joshtriplett commented on #53120
Removed in https://github.com/rust-lang/rust/pull/97254 .

[2022-07-16 22:01] #53120 closed

[2022-07-16 22:05] joshtriplett commented on #65516
Following up on this: if we want to do this in the 2024 edition, someone would need to be enthusiastic about starting that work within the next year. Does someone want to champion this?

[2022-07-16 22:07] joshtriplett commented on #41758
`resize_with` has been shipped in stable, and `resize_default` was deprecated and removed in favor of `resize_with`.

[2022-07-16 22:07] #41758 closed

[2022-07-16 22:10] Amanieu commented on #86941
I believe all of the concerns have been addressed so this is just waiting on a stabilization PR.

[2022-07-16 23:12] #98007 closed

[2022-07-16 23:12] #83057 closed

[2022-07-16 23:12] #96161 closed

[2022-07-16 23:12] #83720 closed

[2022-07-16 23:12] #99233 closed

[2022-07-16 23:12] #98163 closed

[2022-07-17 01:17] scottmcm commented on #70887
@yoshuawuyts The NonZero types already have `log10` and `log2` (https://doc.rust-lang.org/nightly/std/num/struct.NonZeroU32.html#method.log10), and see https://github.com/rust-lang/rust/issues/70887#issuecomment-1091986634 for why I don't think `log` makes sense on them.

So I think (1) is done, and it's just a matter of confirming the names to be able to stabilize.

[2022-07-17 01:29] compiler-errors commented on #99348
Thank you for reporting this issue. I have minimized this into two different issues:

(1.) Checking trait and impl assoc type compatibility might constrain opaques in ways we don't observe during `find_opaque_ty_constraints`:
[code]

(2.) Borrowck's opaque type constraints differ from typeck's constraints. Probably due to reachability during mir build.
[code]

[2022-07-17 01:30] compiler-errors commented on #99348
You were correct about this :stuck_out_tongue_winking_eye:

[2022-07-17 02:09] #98809 closed

[2022-07-17 02:11] JoJoJet commented on #99348
Wow that is much more minimal than mine 😀

[2022-07-17 02:13] compiler-errors commented on #99348
No worries, the fact that you provided sample code is very well appreciated.

[2022-07-17 02:40] danobi commented on #93322
#99357 offers a potential fix for the bad import suggestions.

Once a fix is agreed upon I'll follow up with a fix for the bad type alias suggestion.

[2022-07-17 02:59] est31 commented on #87335
From the added tests in #99291 I made a summary of the temporary drop order behaviour of the current implementation, comparing it to existing constructs:

| construct | order on match | order on mismatch |
|-|-|-|
| if let | body, drop | else, drop |
| match | body, drop | else, drop |
| if | drop, body | drop, else |
| let else most cases | drop, body | else, drop |
| let else & | body, drop | el

[2022-07-17 03:20] justinnoah opened #99359 "riscv codegen for asm! macro generates a runtime error"
I tried this code:

[code]
With the following config files:
<details><summary>Config Files</summary>
<p>
<b>.cargo/config.toml</b>

[code]
</p>
<p><b>Cargo.toml</b>

[code]
</p>
<p><b>rv64-qemu-virt.ld</b>

[code]
</p>
</details>

I expected to see this happen:

The letter 'G' printed

Instead, this happened:

The 'G' is never printed

### Meta

`rustc --version --verbose`:
[code]

<summary>Disasm

[2022-07-17 03:47] Wyvern opened #99361 "#[test] function name with `r#keyword` be auto filtered out by test framework."
If put Rust `keyword` in a #[test] function name like `r#for` `r#while` `r#break` etc, e.g.
[code]
then run test, the test case will be auto filtered out without warning/error.
output:
[code]
is it by design, or an unintentional bug?

env: VScode+RA on nightly channel Rust

[2022-07-17 04:06] compiler-errors commented on #99310
Unfortunately auto traits break this rule, since they "leak" through opaque types :sweat_smile:

[2022-07-17 05:17] matthiaskrgr opened #99363 "ICE: TAIT issue-96572-unconstrained-upvar.rs with edition=2021"
`./src/test/ui/type-alias-impl-trait/issue-96572-unconstrained-upvar.rs`
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc  ./src/test/ui/type-alias-impl-trait/issue-96572-unconstrained-upvar.rs  --edition=2021`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-17 06:24] xNxExOx commented on #99341
I personally do not have Windows 7, and would prefer not not bother players with more testing unless really necessary. But I can confirm that at least one of the systems was clean Windows 7 Home Premium from [here](https://www.partitionwizard.com/partitionmanager/windows-7-iso-file-download.html).
And calling `BCryptGenRandom` directly seems pretty complicated :( It requires calling `BCryptOpenAlg

[2022-07-17 06:37] #72302 closed

[2022-07-17 06:37] #95829 closed

[2022-07-17 07:36] zirill opened #99364 "memory leak in docker"
i tested:

FROM alpine:3.16
musl version release
leak in docker and home system

FROM debian:stable-slim
defult version release
leak only docker container
home system not leak

rustc 1.62.0 (a8314ef7d 2022-06-27)
cargo 1.62.0 (a748cf5a3 2022-06-08)

[2022-07-17 08:42] Seeker14491 opened #99365 "`cargo clippy --fix` fails to fix unneeded return"
Running `cargo clippy --fix` fails to fix the following code:

[code]

It tries to convert the `return 0;` into an implicit return, but it fails to remove the semicolon on the following line, which causes the error.

<details><summary>Full Output</summary>
<p>

[code]

</p>
</details>

### Meta

`rustc --version --verbose`:
[code]

[2022-07-17 08:58] the8472 commented on #99364
The information you provided is not sufficient to reproduce the issue. Please provide some example code and steps to reproduce the behavior.

[2022-07-17 09:00] XAMPPRocky opened #99366 "Index out of bounds on x86_64-apple-darwin nightly with time 0.3.11."
The following ICE appeared in [rasn’s](https://github.com/XAMPPRocky/rasn/commit/9fed0d7e61a9ecbd9f073eb365c8d85dda035404) CI in `main`. Worth noting that this originally [passed in the PR](https://github.com/XAMPPRocky/rasn/pull/106), so the bug was probably introduced after `rustc 1.64.0-nightly (1517f5de0 2022-07-07)`, and is not present in stable or beta.

### Meta

`rustc --version --verbose`

[2022-07-17 09:00] momomo commented on #80485
I have the same issue:

`sslocal -b "127.0.0.1:1080" -s "[::1]:8388" -m "aes-256-gcm" -k "hello-kitty" --plugin "v2ray-plugin" --plugin-opts "server;tls;host=github.com"
`thread 'main' panicked at '`UDP_REDIR` is not an id of an argument or a group.
Make sure you're using the name of the argument itself and not the name of short or long flags.', src/service/local.rs:568:31
note: run with `RUST_BAC

[2022-07-17 09:21] yez730 opened #99367 "thread 'rustc' panicked at 'Failed to extract DefId: local_def_id_to_hir_id 72d14c2d4c75ac75-85fd0b3961a3c5c', compiler/rustc_middle/src/dep_graph/dep_node.rs:276:17"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Reproduce

1. There is a regular `fn` and an async `fn` simultaneously
2. Both `fn`s have a procedure macro applied. here both `#[tracing::instrument]`

The condition for the error is to first uncomment the asynchronous function and the program can be successfully compiled(this makes sure later incremential comiplation based on t

[2022-07-17 09:47] c410-f3r commented on #53667
2 years, 4 months, 3 weeks and 1 day of long nights, obstacles and headaches.

Hope stabilization won't be reverted but regardless, thanks to everyone who helped make this feature a reality.

[2022-07-17 10:00] rami3l commented on #91345
@Elias-Graf You might be looking for something like [`tap_mut`](https://docs.rs/tap/1.0.1/tap/trait.TapFallible.html#tymethod.tap_ok_mut) instead of `inspect`. As the name suggests, `inspect`ing an object doesn't change it.

[2022-07-17 10:09] ChrisDenton commented on #99341
It's unlikely to be a problem with `BCryptGenRandom` itself as that works in the earlier version. Is this code being used in `DllMain`?

In any case, I think the fix here is to simplify the rng code so it's as close to the old version as possible.

[2022-07-17 10:11] xNxExOx commented on #99341
Yes logging is initialized in DllMain, I will soon post a very small example

[2022-07-17 10:19] xNxExOx commented on #99341
So it is related to it being library.
It have something to do with initializing the logs in `DllMain`, but I have no clue what specific small detail it is that breaks it

<details><summary>Exe code (not much interesting)</summary>
<p>

[code]

</p>
</details>

<details><summary>DLL code</summary>
<p>

lib.rs
[code]

Cargo.toml
[code]

rust-toolchain
[code]

</p>
</details>

[2022-07-17 10:25] ChrisDenton commented on #99341
Ok, I've submitted a fix. See the PR linked above. `Dllmain` is tricky because of the loader lock and other tricks the OS does while a dll is loading.

[2022-07-17 10:34] xNxExOx commented on #99341
I know `DllMain` is tricky, 🤔 but is there any better option to do initialization, if I do not control the exe? And I need to fix the exe (by doing memory patches) before it reaches its `main`.

[2022-07-17 10:42] zirill commented on #99364
Are there tools that can show under the docker where the leak is?

[2022-07-17 10:44] ChrisDenton commented on #99341
Possibly not, which is why I filled a fix.

Using the std in `DllMain` only works on a "best effort" basis. We do try to support it as much as reasonably possible but there are always going to be limitations due to the OS.

[2022-07-17 11:16] pietroalbini commented on #99135
@jyn514 just add another builder, we have capacity for that.

[2022-07-17 12:04] ouz-a commented on #99228
Shouldn't this issue be solved before merging #94927

[2022-07-17 12:31] RalfJung commented on #80485
@momomo that is not the same issue, your panic message is very different. You will have to talk to the `sslocal` developers about this one.

[2022-07-17 12:33] unmanbearpig commented on #99367
I just had the same problem and updating nigthly fixed it.

[2022-07-17 13:08] #95996 closed

[2022-07-17 13:19] papricasix opened #99375 "(nightly) internal compiler error: union fields that need dropping should be impossible"
While compiling `rlua` using a nightly build of rust, I triggered the following bug (in https://github.com/amethyst/rlua/blob/10c95b7ffa8ad1a64f755a05c7cf806211f3f27f/src/util.rs#L129):

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-17 13:38] matthiaskrgr commented on #99228
Hmm, apparently this also shows up when checking rustc itself with `-Zvalidate-mir`...

![image](https://user-images.githubusercontent.com/476013/179401010-801c3479-2e4d-46e0-b203-f2e8855cb536.png)

[2022-07-17 13:40] GoldsteinE commented on #75636
@rustbot claim

[2022-07-17 13:41] matthiaskrgr commented on #99366
This is https://github.com/rust-lang/rust/issues/99261  I think the latest nightly should already provide a fix?

[2022-07-17 13:54] JohnScience opened #99377 "`#[doc = format!(...)]` silently fails to produce output instead of producing compilation error"
In order to keep the doc test for [evcxr](https://github.com/google/evcxr) fresh, I wanted to use

[code]

I expected to see a compile error at least when I would run `cargo doc`.

Instead, it silently produced an empty line.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-07-17 14:06] yez730 commented on #99367
my fault. The error went away after updating nigthly

[2022-07-17 14:06] #99367 closed

[2022-07-17 14:15] TmLev commented on #61137
E0667 can be marked as done: https://github.com/rust-lang/rust/commit/eae29031504d62769b94dffca4aba3d78a6fafae

[2022-07-17 14:47] LeSeulArtichaut commented on #72359
I'll try to see if we can special-case const blocks as we do with closures. @rustbot claim

[2022-07-17 14:47] est31 commented on #99304
This should maybe be edition dependent, and maybe one needs to wait for the 2024 edition.

The old meaning of `Trait` was `dyn Trait`, and legacy code was using it with that in mind. Later, for clarity's sake, the requirement to do `dyn` was introduced. The requirement became lint-enforced on the 2018 edition, and error-enforced on the 2021 edition. Which means that people who have for some reason

[2022-07-17 14:51] GuillaumeGomez commented on #61137
Updated!

[2022-07-17 15:13] est31 opened #99380 "Confusing "arbitrary expressions aren't allowed in patterns" error"
Take the following code:

[code]

Currently it fails with:

[code]

If you expanded the macro manually, `Some(3)` would be parsed as a pattern, but the `$p:expr` above changes it to be parsed as an expression. So what you *need* to do here is to change the `$p:expr` above to `$p:pat`. But this is very non-obvious.

Ideally, the compiler would try to check if the input is a valid pattern, and if so

[2022-07-17 15:34] #99224 closed

[2022-07-17 15:51] CAD97 commented on #82363
Just as a note: std is missing a reëxport of these names from core.

[2022-07-17 15:56] mstankus commented on #70887
Question: I am new to rust and am a mathematician. log base 2 of 0 is either not defined or NaN. log base 2 of 1 through 255 is between 0 and 7. Why are the log2, log10 and log functions return u32?

Thanks.

[2022-07-17 16:10] carbotaniuman commented on #99375
This looks related to #97995.

[2022-07-17 16:58] Kobzol opened #99381 "Use ICF linker optimization for other platforms than Linux"
https://github.com/rust-lang/rust/pull/99062 added ICF (identical code folding) for Linux builds of `rustc`, in order to slightly optimize binary size and i-cache utilization. It could be worthwhile to also investigate if we can apply it on other platforms.

[2022-07-17 17:16] Logarithmus opened #99382 "`error: cannot open rcrt1.o: No such file or directory` while running `src/test/ui/process/nofile-limit.rs`"
### Steps to reproduce
1. `git clone https://github.com/rust-lang/rust`
2. `./x.py setup`
3. Choose `compiler`
4. `./x.py test src/test/ui`

### Expected behavior
All tests should pass

### Actual behavior
[code]

### System
Void Linux rolling
I guess `./x.py` uses its own bootstrap compiler, so `rustup` toolchain version is irrelevant, but anyway, it's `1.61`.

[2022-07-17 17:24] ehuss commented on #99366
Thanks for the report! Closing as a duplicate of https://github.com/rust-lang/rust/issues/99261. This should be fixed by https://github.com/rust-lang/rust/pull/99263 and should be fixed in the latest nightly.

[2022-07-17 17:24] #99366 closed

[2022-07-17 17:32] RalfJung commented on #61015
Indeed, thanks a lot for resolving this. :)

[2022-07-17 17:35] RalfJung commented on #99160
Same here. I just find the current situation unsatisfying -- either we should require proper structure for both StorageLive and StorageDead, or for none of them. Right now we require it for StorageLive but not for StorageDead (that's https://github.com/rust-lang/rust/issues/98896), and that is just inconsistent.

[2022-07-17 17:43] mati865 commented on #99295
FWIW they have been also failing on `windows-gnu` since forever when using stage 1 as well but never bothered to investigate it 😄

[2022-07-17 17:53] eddyb commented on #99188
Okay I kept missing it but I was using some of the gnarly printing as an example for why we should replace `Debug` with `Display` almost everywhere, and @BoxyUwU pointed out `RePlaceholder`!

![image](https://user-images.githubusercontent.com/77424/179418329-86ecf66f-189e-4a64-8174-f6fe34df4163.png)

So `for<'x> <T as Trait<'x>>::Assoc` gets turned into `<T as Trait<'x!n>>::Assoc` (or w/e the pret

[2022-07-17 18:03] scottmcm commented on #70887
@mstankus Same reason that <https://doc.rust-lang.org/std/primitive.u8.html#method.count_ones> returns `u32`, even though it can only be `0..=8`, and <https://doc.rust-lang.org/std/primitive.u16.html#method.checked_shl> takes `u32` as an argument even though it has to be `0..16`.

[2022-07-17 18:10] ouz-a commented on #99363
This will be fixed by #99383

[2022-07-17 18:10] joshtriplett commented on #48594
@jyn514 Thank you for the detailed summary!

@rfcbot merge

[2022-07-17 18:10] joshtriplett commented on #48594
@jyn514 Thank you for the detailed summary!

@rfcbot merge

[2022-07-17 18:14] lnicola commented on #70887
That's not a very good answer, is it? 😀

One possible explanation is that 32-bit arithmetic can be faster than 16- and 8-bit: https://stackoverflow.com/a/41574531.

[2022-07-17 18:14] compiler-errors commented on #99363
@ouz-a assigned you the task!

[2022-07-17 18:19] joshtriplett commented on #87335
I *think* the behavior on success is now what we want. I think it's just the behavior for the else case that we want to change: I think we should consistently always drop before the else.

[2022-07-17 18:27] Roryl-c commented on #99304
@est31 That makes sense, I didn't know the historical context behind this error. I understand now that it serves in partially to help users migrating from old Rust versions.

In that case, how about altering the error message to suggest both fixes, but featuring the `impl Trait` version more prominently? Something like this:

[code]

[2022-07-17 19:24] CryZe commented on #99361
This seems to be a rust-analyzer bug. `cargo test` works just fine for me.

[2022-07-17 19:30] GoldsteinE opened #99385 "Removal of exact capacity guarantee for `Vec::with_capacity()` is a breaking change"
Link #95614
Cc @jmaargh

### Location
https://doc.rust-lang.org/nightly/std/vec/struct.Vec.html#method.with_capacity

### Summary
Latest stable guarantees that `Vec::with_capacity()` always allocates _exact_ capacity (and this is indeed the case, since `RawVec` [discards](https://github.com/rust-lang/rust/blob/83addf2540ce7ce7d0f875fdbe2a7cd0e7f52d97/library/alloc/src/raw_vec.rs#L198) any extra al

[2022-07-17 19:36] topolarity commented on #54341
It's a hack, but I wonder if breakage could be avoided with the same type of changes made for i128 on Windows-x86_64:

Clang decomposes i128 into types that lower reliably in LLVM (https://github.com/llvm/llvm-project/blob/dd5e3f0e2743df3a0e5c1bdf9b8ef6fb0cbba851/clang/lib/CodeGen/TargetInfo.cpp#L2845), and then the libcalls are manually lowered with the right calling convention by LLVM (since htt

[2022-07-17 20:02] the8472 commented on #99385
Zulip discussion: https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/Vec.3A.3Awith_capacity.20promise

[2022-07-17 20:03] safinaskar commented on #89379
Please, also add this functions:
[code]

[2022-07-17 20:12] mqudsi commented on #52122
@rustbot label +A-incr-comp +T-compiler +WG-incr-comp +I-compiletime +C-enhancement

[2022-07-17 20:45] eddyb commented on #99188
So [I made a few changes](https://github.com/eddyb/rust/commits/issue-99188) (branch is at https://github.com/eddyb/rust/commit/1ac2dca1ee5381310f415a383e2e1cd9c367e673 / https://github.com/eddyb/rust/commit/218932cdfdbb6af0adec632b7e792993650189fa / https://github.com/eddyb/rust/commit/63f5e68023f3ab57a7a228b55df254411307f90e at the time of posting), and then used `RUSTC_LOG=rustc_infer::traits,r

[2022-07-17 20:58] RalfJung commented on #81513
The methods on `DynMetadata` provided for getting the size and alignment are becoming more tricky to provide with https://github.com/rust-lang/unsafe-code-guidelines/issues/338, where we are trying to specify vtables as being not regular Abstract Machine memory, thus making it UB to directly interact with the vtable.

However, we can add intrinsics to fetch the size and alignment from a vtable.

[2022-07-17 21:11] SimonSapin commented on #81513
The current implementation of these methods (based on field access of a private `VTable` struct) should be considered internal details that can changed at any time, including switching them to intrinsics.

More relevant questions for this tracking issue related to what should or should not be UB in the language are: are these methods always available? (Trying not to get in the way of future langua

[2022-07-17 21:18] matthiaskrgr opened #99387 "ICE: delayed_good_path_bugs: trimmed_def_paths constructed"
### Code
code from glacier/fixed/70121.rs
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./70121.rs`
[code]
backtrace does not fit into a single comment :|

[2022-07-17 21:19] matthiaskrgr commented on #99387
backtrace part 1
[code]

[2022-07-17 21:20] matthiaskrgr commented on #99387
backtrace part 2 / cont
[code]

[2022-07-17 21:20] RalfJung commented on #81513
Those are good questions that AFAIK are currently being discussed on the lang team as part of the dyn upcast discussion.

[2022-07-17 21:33] eddyb commented on #99188
Pushed another commit (https://github.com/eddyb/rust/commit/20e26935579714ab3529a68ae679768704c1fa36 - note that if you want to cherry-pick you'll also need https://github.com/eddyb/rust/commit/63f5e68023f3ab57a7a228b55df254411307f90e), with a hacky fix attempt (also cache under the original key if the result has no placeholders anywhere).

before:
[code]
after:
[code]

So finally we have a confir

[2022-07-17 22:05] GuillaumeGomez commented on #99377
I guess not all macros should be allowed in attributes. cc @petrochenkov (I think you were the one who implemented this feature?)

[2022-07-17 22:10] alercah opened #99388 "DynMetadata equality is not documented"
### Location
https://doc.rust-lang.org/std/ptr/struct.DynMetadata.html

### Summary
There is no documentation as far as I should see that defines the behaviour of the `PartialEq` impl for `DynMetadata`. I think the guarantees that are made or not made should be documented. For instance, are vtables for a given concrete type guaranteed to be unique? People will assume they are, and that `==` will t

[2022-07-17 22:10] fasterthanlime commented on #99188
I tried this on the real-world codebase where this bug was originally discovered.

## cargo check

Without the fix (nightly 2022-06-08):

[code]

With @eddyb's "hacky fix":

[code]

(This check time is consistent with the post-workaround version of that code - just don't have tower services that borrow anything)

## cargo build

Without the fix (nightly 2022-06-08):

[code]

With @eddyb's "hacky f

[2022-07-17 22:12] alercah commented on #81513
I just filed #99388, and came across a few other bugs from searching `DynMetadata` that aren't mentioned on this thread. Is a "resolve or triage all outstanding issues" step missing from the tracking step, perhaps?

[2022-07-17 22:29] SimonSapin commented on #99388
Vtables are likely not unique at the moment. Yes, documenting that explicitly sounds good. Related: https://github.com/rust-lang/rust/issues/69757

[2022-07-17 23:04] eddyb commented on #99135
If we do get another builder, can we have incremental enabled on it (or rather, whichever dev profile enables that)?

Some codegen tests haven't been passing for a short while because of the difference, and might be good to be tracking something that strongly resembles local workflows.

[2022-07-18 00:09] workingjubilee commented on #88760
Yes, I am not sure fixing inconsistent hardware bugs is within rustc's scope. It sounds like the crash may have left the incremental cache in a corrupted state, which is something we probably _should_ guard against. But this issue still seems like it is a duplicate of either one of

-#89178
-#89197

So I am going to close this.

[2022-07-18 00:09] #88760 closed

[2022-07-18 00:40] workingjubilee commented on #94347
It may still be unwise to use it by default due to lack of jobserver integration. We could certainly consider shipping it along with the compiler, though, if it were not for the legal issues. I have no idea how those will shake out, positive or negative, mind, but I will make the observation has been that legal questions have been answered... slowly. Granted, so will a linker maturing.

If someone

[2022-07-18 00:50] mark-i-m commented on #70887
I would guess that the most common integer format with a fixed size is i/u32, too, so that would be the type that minimizes casting.

[2022-07-18 01:46] JohnTitor commented on #93857
Stabilized by https://github.com/rust-lang/rust/pull/99088, closing.

[2022-07-18 01:46] #93857 closed

[2022-07-18 01:51] workingjubilee commented on #15398
Welp, my bad! Thank you for catching that, @bjorn3.

[2022-07-18 02:07] workingjubilee commented on #42666
I have been periodically examining codegen issues lately. I would be happy to at least take a closer look given something MCVE-ish to work off of.

[2022-07-18 02:10] germolinal opened #99395 "`EXC_BAD_ACCESS` confused with Stack Overflow...?"
Hello,

This is my first bug report... I hope I can be clear on my error. There was not much more information I can provide here. I am happy to follow up with more specific information, but I guess I'd need some help understanding what to provide.

# The issue

I have a [function in a library which](https://github.com/simPLE-BuildingSimulation/simple_main)—when called—failed, receiving the followi

[2022-07-18 02:27] josephlr commented on #94039
I think the name of this feature is wrong, using it gives:
[code]

It seems like the `#[cfg(target_has_atomic_load_store = ...)]` functionality is still gated on `#![feature(cfg_target_has_atomic)]`

[2022-07-18 02:58] mattfbacon commented on #77143
Deref manually. https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7c82ca60a0948542d77fde6431e40643

[2022-07-18 03:07] workingjubilee commented on #61117
I am somewhat doubtful this is actionable for the codegen or assembly tests but it is probably worth examining for the non-codegen tests.

<details><summary>Failures for codegen + <code>debuginfo-level-tests = 1</code></summary>

[code]

</details>

<details><summary>Failures for assembly + <code>debuginfo-level-tests = 1</code></summary>

[code]

</details>

<details><summary>Failures for increme

[2022-07-18 03:07] #99240 closed

[2022-07-18 03:07] #99331 closed

[2022-07-18 03:34] workingjubilee commented on #54154
No repro with `jemalloc = false` (specifically: the test is there but passes). Assuming fixed or erroneous.

[2022-07-18 03:34] #54154 closed

[2022-07-18 03:37] workingjubilee commented on #47665
Is this still an issue of concern?

[2022-07-18 03:37] jyn514 commented on #99135
@eddyb

[2022-07-18 03:44] workingjubilee commented on #22986
It appears that LLVM now uses `@llvm.invariant.start` to assist reasoning about loop-invariant code motion, but I am not sure if this is profitable to emit in all locations. Maybe some. https://github.com/llvm/llvm-project/blob/40a4078e14c2c6c5e2d0a1776285aa7491e791b3/llvm/lib/Transforms/Scalar/LICM.cpp#L1025-L1030

[2022-07-18 04:24] germolinal commented on #99395
This is what I mean when I say that the error was found NOT in the body of the function:

<img width="430" alt="Screenshot 2022-07-18 at 1 55 03 PM" src="https://user-images.githubusercontent.com/5598086/179444819-48932490-51e1-415b-a79c-eb87e9c4fb94.png">

[2022-07-18 04:36] workingjubilee commented on #70786
I don't share the confidence expressed here that maximal write coalescing would be preferable, when the memory architecture, between the CPU, RAM, MMU, etc. are also entitled to do some coalescing if they like.

Most importantly, there is no `movaps` or `movups` variant that takes a constant value, and this isn't a vector with all the same value, so we couldn't simply splat a 0 or 1 into an xmm re

[2022-07-18 04:37] Lokathor opened #99398 "`core::mem::transmute` doesn't list `const` in the signature"
`core::mem::transmute` and `std::mem::transmute` are **both** listed as const in 1.56 according to the "since" info on the right, but **only** the `std` version lists `const` in the actual signature.

core:
[code]

std:
[code]

[2022-07-18 05:22] dingxiangfei2009 commented on #98672
@camsteffen @est31 Allow me to notify that I am currently looking at how to drop values earlier inside the `else` block.

[2022-07-18 06:45] workingjubilee commented on #97540
Yes, one of the smaller loops that is like what you use, if it can show an even somewhat similar regression (may need generous application of `std::hint::black_box`), would be excellent.

Hm. Honestly, I guess that after the amount of noodling around I have done with LLVMIR and the way the LangRef phrases `byval`'s documentation, implying it is only a polite suggestion, I didn't fully grok that LL

[2022-07-18 06:52] kayabaNerve opened #99402 "ICE with doc comment on for loop"
### Code

[code]

Absolutely not minimal, sorry, yet the relevant section is the doc comment on the for loop. This is not an ICE when I remove one of the slashes.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-18 07:13] workingjubilee commented on #99395
I believe the `EXC_BAD_ACCESS` may be the stack probe triggering. But what's peculiar is that your compiler features `aarch64-apple-darwin` as the host... I thought we didn't have stack probes on non-x86 targets? Hm.

[2022-07-18 07:23] messense commented on #84605
I know it's used in `pydantic-core`: https://github.com/samuelcolvin/pydantic-core/search?q=no_coverage

for example https://github.com/samuelcolvin/pydantic-core/blob/3082c5be70c15c948e9d58783d63693192552fc1/src/input/parse_json.rs#L65

[2022-07-18 07:27] workingjubilee commented on #50890
With respect, I believe you are misinterpreting the printed output there. The code generation features supported by LLVM you mention are called "target features" and they are optional. You may toggle them on or off for compilation, and they are not necessarily inherently part of the base target definition. Like all compiler directives, they are functionally similar to `unsafe` code in that you may

[2022-07-18 07:34] Patryk27 opened #99403 "Misplacing question mark operator throws `field expressions cannot have generic arguments`"
Given the following code:

[code]

([playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=b5a29a229b0ec891805824f83ec0460f))

The current output is:

[code]

Ideally the output could look like:

[code]

I'd consider myself a seasoned programmer, but with the current error message it nonetheless took me a while to notice the error, especially since I swear it's

[2022-07-18 07:39] davidhewitt commented on #84605
Also https://crates.io/crates/coverage-helper/reverse_dependencies

[2022-07-18 07:51] steffahn opened #99405 "Trait method takes precedence over inherent method on ambiguous numeric type"
So this is arguably quite confusing:
[code]
Ouput:
[code]

---

So the first `x.abs()` call resolves to the trait method, which is then used to influence type inference to make `x` an `i64`. With `x` being `i64`, the second `x.abs()` call calls the inherent method.

[2022-07-18 07:53] steffahn commented on #72498
Coming back to this issue with a lot more Rust experience under the belt, this last behavior seems arguably quite problematic/confusing, as it results in things like:
[code]
Ouput:
[code]

---

I’ve opened a separate issue on that (#99405)

[2022-07-18 08:15] MatrixDev commented on #89379
Can't you just `use std::mem::transmute` for this? IMHO problem with `from_fn` is that it is much harder to replicate that functionality and also it is a very widely used  pattern.

[2022-07-18 08:42] workingjubilee commented on #99215
If you are satisfied this issue has served its purpose, then you may close it as you like, yes.

[2022-07-18 08:47] germolinal commented on #99395
Hi, thanks for this. So, the issue was not related to SIMD or Nightly, as I have disabled them both... but it is still there.

I am not sure what guard pages are. Can you point me somewhere? Thanks!

[2022-07-18 08:52] Stargateur commented on #84277
It's look like curent `FromResidual` is just the `From` trait. Why do we need this trait if From is mostly the same ? Unless I miss something they shouldn't have a problem with conflit implementation cause a crate that would have a type that implement Try would by definition own the type.

[2022-07-18 08:54] adamgemmell commented on #86941
https://doc.rust-lang.org/std/arch/macro.is_aarch64_feature_detected.html I stabilised this back in 1.60. Am I missing anything?

[2022-07-18 08:57] #90620 closed

[2022-07-18 08:59] #86941 closed

[2022-07-18 09:02] petrochenkov commented on #99377
If the output of a macro is not a string literal, then it should produce an error.
Not sure why the error is not produced in this case, someone (probably not me) needs to investigate.

[2022-07-18 09:03] workingjubilee commented on #36001
Well. We now offer considerable `const` evaluation prowess where people might find it useful, and you pay for big binary data too, just less at execution time. Doing this optimization via promotion to `const` would preferably vanish if optimizations for size were requested.

However!
The general class of optimizations that could hypothetically be applied on a similar basis is in fact what `@llvm.i

[2022-07-18 09:12] workingjubilee commented on #52297
I wonder if crossbuild on Debian Stretch was affected by them dropping support for PowerPC?
https://www.debian.org/releases/stretch/i386/ch02s01.html.en

If anyone has access to 32-bit PowerPC silicon, then it would be lovely to hear if this still reproduces or not.

[2022-07-18 09:15] glaubitz commented on #52297
Debian still supports PowerPC, just not through official releases.

Cross-builds still work, just make sure you use a current environment.

If you need access to big-endian PowerPC hardware, check out the GCC compile farm, see: https://gcc.gnu.org/wiki/CompileFarm

[2022-07-18 09:20] germolinal commented on #99395
Ok. It was indeed a Stack Overflow, it is just that this is the first time I find it in this code.

Thanks!

[2022-07-18 09:27] mbartlett21 commented on #84277
@Stargateur Unfortunately, that causes conflicts with using ! in the residual type:

[code]
gives
[code]
([see playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=90b203e0e24e56b1fa427c7afb29918d))

[2022-07-18 09:33] steffahn opened #99408 "Too lenient `#[may_dangle]` on `BTreeMap`; misses `PhantomData` for dropck"
[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=debf42bbc64eefd24b72cc3edeedd5e8))
[code]

@rustbot label T-libs, I-unsound
@rustbot claim

[2022-07-18 09:44] rkuhn opened #99411 "public extern "C" symbols are not public in cdylib target"
(Background: using SWIG requires adding _and exporting_ the contents of a single .o file into the resulting .so/.dll)

Using `cc` in `build.rs` I add a small C library to my crate:
[code]

This results in the required symbols being exported from `target/debug/libmycrate.a`, like so:

[code]

However, the dynamic library `target/debug/libmycrate.so` does not contain this symbol. I can add it by usi

[2022-07-18 09:46] Milo123459 commented on #99135
@rustbot assign

[2022-07-18 09:47] Milo123459 commented on #99135
@rustbot claim

[2022-07-18 10:45] Michael-F-Bryan commented on #99411
[This thread](https://users.rust-lang.org/t/how-to-export-a-c-symbol-from-a-native-library/78479?u=michael-f-bryan) on the user forums has some extra context and shows what else has been tried so far.

[2022-07-18 11:04] GrumpyMetalGuy commented on #90520
@rustbot claim

[2022-07-18 11:41] kellerkindt opened #99416 "Suggest to directly use a value instead of wrapping the unwrapped value"
Given the following code: [this](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7a72bcda8a7c6bc6a7263a5b5a1f7655)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Just encountered this as I was refactoring code to properly use my tuple struct instead of an raw integer identifier.

[2022-07-18 11:48] adamreichold commented on #52297
I am not sure how conclusive this is, but I tried our old reproducer in a Debian 11 container running on OpenSUSE Tumbleweed. Everything works as expected on amd64 both on the host and in the container.

Using `crossbuild-essential-powerpc` and the `nightly-2022-07-17` toolchain, building and running the binary via QEMU's user space emulation, i.e

[code]

whereas using `nightly-2018-09-13` leads

[2022-07-18 11:52] glaubitz commented on #52297
FWIW, the `rustc` (currently 1.59.0 in Debian) package builds fine on Debian unstable on 32-bit PowerPC:

[2022-07-18 12:00] eddyb commented on #99188
Removing `--emit=metadata` on the reduction doesn't show any noticeable slowdown between depths either.

So it's not just codegen in general, but something else in your crate that is somehow codegen-only.
Can you get another `-Z self-profile`? (Maybe re-apply that local patch of yours that collects `eval_predicate_recursively`?)
Could also try various stages of the reduction, too. But I suspect yo

[2022-07-18 12:25] bjorn3 commented on #81567
Since https://github.com/rust-lang/rust/pull/91743 MIR inlining is enabled by default when optimizations are enabled.

[2022-07-18 12:25] eddyb commented on #99405
One thing that fell through the tracks was [one of my suggestions](https://twitter.com/eddyb_r/status/1484998328274374658) (to @workingjubilee) regarding a potential complete replacement for inherent impls on builtin types, that still has a lot of the same user-facing properties (i.e. those methods take precedence over methods defined by traits instead of being ambiguous with them).

The advantage

[2022-07-18 12:36] ChrisDenton opened #99417 "Move stdlib tests from src/test/ui-fulldeps to library/std/tests"
I think std tests should ideally live in the `library/std` directory but today we have a few that are in `src/test/ui-fulldeps`.

Tests I think could be moved:

* [x] [create-dir-all-bare.rs](https://github.com/rust-lang/rust/blob/master/src/test/ui-fulldeps/create-dir-all-bare.rs)
* [x] [issue-15149.rs](https://github.com/rust-lang/rust/blob/master/src/test/ui-fulldeps/issue-15149.rs)
* [x] [rena

[2022-07-18 12:55] JoJoJet opened #99418 "Remove redundant phrasing from trait bound diagnostic"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=5c8b3650fbcd3671c608fd2e6ed118ad

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

The original phrasing is distracting and contributes to visual noise.

[2022-07-18 12:57] #86313 closed

[2022-07-18 13:59] fmease commented on #99418
Coincidentally, there currently is an open PR (#98807) that addresses this problem.

[2022-07-18 14:04] marti4d commented on #94098
FWIW I agree, and we do generally try to get vendors to fix their software: we've worked with many companies like Symantec, AVG, McAfee, etc to fix their products, and I completely agree that this is preferable because it improves the software ecosystem for everyone.

In this case, we were unable to link the BCrypt issue to a specific source; it's still in our queue to investigate it, and once we

[2022-07-18 14:18] #40705 closed

[2022-07-18 14:24] wesleywiser commented on #45010
This was fixed in Rust 1.40 ([godbolt](https://rust.godbolt.org/z/bzxW5frMr)). wg-debugging would like to see a codegen test added to prevent regressions and then this can be closed.

[2022-07-18 14:32] wesleywiser commented on #45218
Visited during wg-debugging triage. Based on the discussion history, it sounds like this was resolved and (testing on Linux with Rust 1.61 no longer repros).

[2022-07-18 14:32] #45218 closed

[2022-07-18 14:53] obi1kenobi commented on #78586
Not sure if this is part of the same issue or just a related one, but here's a similar piece of code that unexpectedly (to me) successfully compiles:

Crate A:
[code]

Crate B:
[code]

Unit structs are unique in being able to be constructed in this way. `#[non_exhaustive]` prevents the cross-crate construction of tuple structs, plain structs, unit variants, tuple variants, and struct variants.

I

[2022-07-18 15:10] wesleywiser commented on #27324
Visited during wg-debugging triage. This doesn't appear to be a Rust specific issue, rather there is something wrong with libpthread and libgcc_s. Here's a repro in C:

[code]

Now if we stop linking with those libraries:

[code]

and those are the same issues I see when running a Rust "hello world" locally:

[code]

because it links with libgcc_s and libpthread:

[code]

Since this isn't a Rust p

[2022-07-18 15:10] #27324 closed

[2022-07-18 15:24] eddyb commented on #95152
Nominating this as nobody has reacted to the ping in https://github.com/rust-lang/rust/issues/95152#issuecomment-1139784021, whoops!

[2022-07-18 15:25] eddyb commented on #39153
Relatedly, whether to treat the macro as opaque has come up in:
* https://github.com/rust-lang/rust/issues/95152#issuecomment-1139784021

(And macros like `file!`/`line!` would likely also want a consistent behavior with that)

I don't have a strong opinion, but I agree it's an issue and it would be good to have a common solution.

[2022-07-18 15:50] daniel5151 commented on #86313
Awesome, thanks for looking into this @saethlin!

[2022-07-18 16:02] petrochenkov opened #99424 "Tracking Issue for native link modifier `as-needed`"
This is a tracking issue for native link modifier `as-needed`, which is a part of RFC "Linking modifiers for native libraries" (https://github.com/rust-lang/rust/issues/81490, https://github.com/rust-lang/rfcs/pull/2951).
The feature gate for the issue is `#![feature(native_link_modifiers_as_needed)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implement

[2022-07-18 16:08] petrochenkov opened #99425 "Tracking Issue for native link modifier `verbatim`"
This is a tracking issue for native link modifier `verbatim`, which is a part of RFC "Linking modifiers for native libraries" (https://github.com/rust-lang/rust/issues/81490, https://github.com/rust-lang/rfcs/pull/2951).
The feature gate for the issue is `#![feature(native_link_modifiers_verbatim)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementat

[2022-07-18 16:21] timvermeulen commented on #68484
Thanks so much for looking into this! This unfortunately does not really match what I'm seeing locally, although it's certainly no where near a 15x difference anymore. Using the 2022-07-17 nightly toolchain, I'm seeing a ~4.5x difference on aarch64-apple-darwin and a ~2.25x difference on x86_64-apple-darwin.

[2022-07-18 16:25] nagisa opened #99426 "Invalid suggestion to introduce `as_ref()` for `Option` used in a place expression"
Consider the following code

[code]

Here the diagnostic suggests to add `as_ref` as such:

[code]

This suggestion is incorrect – `as_ref` will never (AFAIK) produce a mutable reference necessary for the assignment. We should suggest `as_mut` where we know that a mutable reference will be required, instead.

[2022-07-18 16:34] jhelwig commented on #99303
Another variant of the same kind of behavior (lifetime error that goes away with a `cargo clean`) that we've hit in the same codebase @paulocsanz mentioned in the initial report:

[code]

After the `cargo clean` with this variant, there were no errors in the subsequent `cargo check`.

[2022-07-18 17:06] petrochenkov opened #99427 "Tracking Issue for linker arguments respecting their relative order with `-l` library options"
This is a tracking issue for link arguments respecting their relative order with `-l` library options, which is a part of RFC "Linking modifiers for native libraries" (https://github.com/rust-lang/rust/issues/81490, https://github.com/rust-lang/rfcs/pull/2951), https://github.com/rust-lang/rfcs/blob/master/text/2951-native-link-modifiers.md#relative-order-of--l-and--clink-args-options specifically

[2022-07-18 17:19] petrochenkov opened #99429 "Linking modifier `whole-archive` and link time `cfg` are not supported on bundled static libraries"
This is more or less a part of https://github.com/rust-lang/rust/issues/81490.

If you try to combine `+whole-archive` with (possibly implicit) `+bundle` you will encounter this error: ["linking modifiers `+bundle` and `+whole-archive` are not compatible with each other when generating rlibs"](https://github.com/rust-lang/rust/blob/master/compiler/rustc_codegen_ssa/src/back/link.rs#L324-L332).
The

[2022-07-18 17:21] ouz-a commented on #99363
I am sorry I tested this wrongly so it won't be fixed by it. 😿

[2022-07-18 17:24] ouz-a commented on #99363
Yeah, I would like to take a shot at it.

[2022-07-18 17:25] nashley commented on #90829
Apologies if this is not the appropriate place to ask this.

I'd like to be able to call `async` code within `F`.
Would that (presumably in a new method based off of this one) be a good fit for inclusion into `std`?

[2022-07-18 17:33] petrochenkov commented on #99429
We need to make bundled libraries behave more like regular static libraries `libfoo.a`.

The simplest way, which is also most compatible with traditional tooling is to literally move them out of rlibs to separate `.a` files, like this
[code]
It solves all the issues above:
  - `libfoo.a` can be passed to linker as a separate static library, with preserving all the static library semantics, thus it

[2022-07-18 17:39] petrochenkov commented on #81490
Closing this umbrella issue in favor of more specific issues for the remaining unstable and unimplemented pieces:
- https://github.com/rust-lang/rust/issues/99424
- https://github.com/rust-lang/rust/issues/99425
- https://github.com/rust-lang/rust/issues/99427
- https://github.com/rust-lang/rust/issues/99429

[2022-07-18 17:39] #81490 closed

[2022-07-18 18:07] estebank opened #99430 "Improve borrow error when assigning borrowed local value to "argument by mutable reference""
Given

[code]

we currently emit

[code]

but it could be more informative:

[code]

[2022-07-18 18:43] durin42 opened #99432 "rustc `master` has a flaky failure when compiled against LLVM `main`"
LLVM commit [ede600377cb6df1bef71f070130d8cfe734cc5b7](https://github.com/llvm/llvm-project/commit/ede600377cb6df1bef71f070130d8cfe734cc5b7) moved some stuff from being `ManagedStatic` to just thread-local static, and it seems we're not correctly blocking on LLVM threads being complete. If I apply this:

[code]

then I no longer see the failure in 10,000 attempts, which [always looks like this whe

[2022-07-18 19:57] BoxyUwU commented on #99430
I dislike the suggested error message- `p`  is _not_ owned by the callers scope. The lifetime on the `p` reference will outlive the borrow of `number` because it is chosen by the caller who can only name lifetimes that outlive borrows of locals inside of `f`. If this error is to be improved (imo) it should suggest adding a `let mut p = p` at the start of the function to allow shortening the caller

[2022-07-18 19:59] ryanavella commented on #99430
This is an odd one. I used to think that `fn f(mut t: T) { ... }` was just sugar for `fn f(t: T) {let mut t = t; ... }`, but clearly that isn't the case. The error can be suppressed by rewriting it in my hypothetical desugared form, like this:

[code]

I'm not familiar with rustc internals so I don't know what information is known by this pass, but is it possible to distinguish this specific case

[2022-07-18 20:00] jam1garner commented on #99430
[code]
I heavily dislike this phrasing, and would go as far as to say it's *incorrect*.

Now to help demonstrate, here's an example that I think this \*would\* be applicable for:

[code]

(Note the change from `mut p: &mut i32` to `p: &mut &mut i32`, as it's the only change aside from updating deref counts to match)

Going back to the phrasing:

I would argue this implies the reference (not the un

[2022-07-18 20:07] jam1garner commented on #99430
I think @ryanavella's suggestion is not a bad one (honestly not sure I like that's it's necessary though. I'm curious if lifetimes should be coercible to the minimum when not observable by the caller?), although I would add some context explaining *why* this fixes it:

[code]

(phrasing subject to overhaul, my only nit was "this suggestion is too magical and unintuitive without the 'why'")

[2022-07-18 20:10] RalfJung opened #99437 "Raw pointer slicing implicitly creates a temporary reference"
So let's say you know about aliasing models and have learned that to avoid all aliasing rules of Rust you need to use raw pointers throughout, no references. So for example you write:
[code]
Looks good, doesn't it?
Well sadly the MIR for this code looks as follows:
[code]
Note the `_4 = &mut (*_1)`: Rust "helpfully" created a reference for us to subslice into!
This is terrible, because it introduc

[2022-07-18 20:29] cjgillot commented on #98890
Backported to stable.

[2022-07-18 21:01] RalfJung commented on #71146
I realized the implicit-raw-ptr-to-ref-coercion [already happens on stable](https://github.com/rust-lang/rust/issues/99437). So doing this for `ptr.len` doesn't really add a fundamentally new problem, it just makes it possible for an existing problem to show up in more situations. At the same time, having these methods is needed to work around the need for a reference in the first place.

So, I th

[2022-07-18 21:18] matthiaskrgr opened #99440 "rustup linux rustc executable not executable (symbol lookup error)"
since 246f66a905c2815f2c9b9c3d6b1e0649f3360ef8 /  https://github.com/rust-lang/rust/pull/99062 the linux rustc executables distributed by rustup are no longer executable:
[code]
[code]

The toolchain before that merge (263edd43c5255084292329423c61a9d69715ebf ) works fine for me.

My target (is that the right term for it?) is `x86_64-unknown-linux-gnu`

[2022-07-18 21:30] Mark-Simulacrum commented on #99440
I think it would be good to get the dynamic linker version, since perf (which also uses Linux) didn't run into this...

[2022-07-18 21:46] jyn514 commented on #99440
cc @Kobzol

[2022-07-18 21:47] jyn514 commented on #99440
I think we should revert that PR until we figure out why this is broken.

[2022-07-18 22:04] RalfJung commented on #74265
These methods are needed to work around the problem described in https://github.com/rust-lang/rust/issues/99437. Though interestingly, to preserve the full semantics of the original code but fix the aliasing problems, we would want bounds-checked getters on raw slices.

[2022-07-18 22:30] workingjubilee commented on #99440
So the obvious question is:
How was this not caught in CI?

[2022-07-18 22:51] LegionMammal978 commented on #73987
While it would be nice if place-to-reference conversions were always explicit, such a thing cannot be implemented without horribly breaking backward compatibility. To list the implicit place-to-ref conversions we currently allow in stable code:

- `place.method()`, either where `method()` takes `&[mut] self`, or via `Deref[Mut]`
- `place.field`, via `Deref[Mut]`
- `place = value`, where the type o

[2022-07-18 23:38] CAD97 commented on #99035
Relevant:

https://github.com/rust-lang/rust/blob/ed9173276a176126150b4c684a4262a135ce51ef/compiler/rustc_resolve/src/lib.rs#L1724-L1731

This suggests that the current crate-assignment behavior of `$crate` is known not to work correctly for `$$crate`. Unfortunately, the comment is slightly incorrect in saying that such configurations are not stably accessible, as `$d crate` can hit the case that

[2022-07-18 23:40] celinval commented on #99221
That was quick. Thank you!

[2022-07-18 23:43] CAD97 commented on #99437
This ties into the concept that has come up a few times of distinguishing an "unsafe place" (one created from a raw pointer deref) from a "safe place" (on created from a reference deref).

[2022-07-18 23:45] riking commented on #37854
Experience report, seconding the early comments in this issue: This being experimental just stopped me from writing the following bug:

[code]

[2022-07-18 23:52] CAD97 commented on #99437
Would "just" adding an `impl Index[Mut] for *[const|mut] [T]` work to remove this footgun?

[2022-07-18 23:58] RalfJung commented on #99437
I don't think we want to distinguish them in the AM semantics (just like `unsafe` code has no effect on the operational semantics), but I do think that this distinction could be quite meaningful for diagnostics and possible for elaboration (auto-ref, auto-deref, all that stuff).

[2022-07-18 23:58] workingjubilee commented on #52297
Oh okay! My mistake. Thank you for clarifying!

Hmm. The GCC Compile Farm appears to have only PowerPC 64-bit hosts (for both BE and LE) and no PowerPC 32-bit hosts, unless one of the `chrp` machines is one of those?

Given the [Debian buildd logs](https://buildd.debian.org/status/logs.php?pkg=rustc&arch=powerpc) suggest they were failing the rustc build at the time and it has now gone to passing,

[2022-07-18 23:58] #52297 closed

[2022-07-19 00:03] jyn514 commented on #99440
@workingjubilee it seems to not happen on every platform, CI obviously ran the tests successfully and @cuviper tested in a bunch of platforms with old glibc versions / toolchains and it worked on those too.

[2022-07-19 00:08] RalfJung commented on #73987
The only "small" problem with this approach is that it is a false assumption. I don't think programmers will typically assume this. And I can't blame them, even with all I know, I wouldn't have assumed this.

So, while there are indeed many syntactic positions where place-to-ref conversions happen, I am not as sure as you seem to be that this happens regularly in unsafe code *that actually intends

[2022-07-19 00:13] RalfJung commented on #73987
Put differently: I don't think defining the problem away by making it the programmer's problem is a constructive solution to this issue. Sure, it means us compiler devs can wash their hands, but it means more bugs in Rust code, and that's a bad outcome. We should strive to prevent those bugs instead. Our goal here isn't to be "technically correct" when things like https://github.com/rust-lang/rust

[2022-07-19 00:31] workingjubilee commented on #61088
My experimentation suggests they both appear to do nothing.

[2022-07-19 00:46] workingjubilee commented on #99440
@matthiaskrgr May we see `uname -srm && echo "---" && ld --version && echo "---" && ldd --version`?

[2022-07-19 01:01] workingjubilee commented on #57037
The Debian builds seem to pass now and we have [announced a deprecation of RLS in favor of rust-analyzer](https://blog.rust-lang.org/2022/07/01/RLS-deprecation.html), so I think that either this has been fixed or unfortunately it is not going to see any action on it if it hasn't already. My apologies.

[2022-07-19 01:01] #57037 closed

[2022-07-19 01:05] nagisa commented on #99426
Right, originally this was an issue for wrong placement of `as_ref` which is still a bug on stable but has been fixed in nightly at some point, so I left this report as just a wrong as_ref ^^

18 Jul 2022 20:46:40 Vadim Petrochenkov ***@***.***>:

[2022-07-19 01:16] workingjubilee commented on #42532
I would have thought this would have found the error correctly because it emitted an error containing the phrase "instruction"... nonetheless, this test was for a now-deprecated form of inline assembly that we don't support. This should not be an issue anymore. Closing.

[2022-07-19 01:16] #42532 closed

[2022-07-19 01:25] LegionMammal978 commented on #73987
Hmm, I didn't know that, and I don't think it's at all obvious to an intermediate Rust user. Looking at the Reference, it carefully words its way around slices and arrays using `Index[Mut]`, but it doesn't elaborate on the distinction at all ([source](https://doc.rust-lang.org/1.62.0/reference/expressions/array-expr.html#array-and-slice-indexing-expressions)):

The docs for `Index[Mut]` say nothin

[2022-07-19 01:31] RalfJung commented on #73987
If it were a value expression, then the ptr would be actually loaded from, so that would only have more UB.

The problem is writing code where you *don't* want a value expression, like `addr_of_mut!((*(ptr))[..layout_size])`, and then accidentally creating a reference with aliasing guarantees nonetheless.

[2022-07-19 01:33] workingjubilee commented on #60294
I was going to say "we should incorporate the workaround by default, then we can close this", but it appears that the problem is people enabling debuginfo, not needing to disable it. I don't know if there's a good way to discourage enabling debuginfo. "Hello, please don't deliberately exceed your machine's capabilities"?

[2022-07-19 01:40] workingjubilee commented on #68484
Oooh. A 4x disparity on a relatively high-power aarch64 machine, even after fully black boxing things, makes this a lot more Interesting In Particular.

[2022-07-19 01:45] workingjubilee commented on #98768
Fixed in #98998. An alternative proposal for how to fix this and other issues with naked fn, that was brought up in that PR, is Rust lowering naked functions into global asm blocks which then can get compiled separately-ish.

[2022-07-19 01:48] LegionMammal978 commented on #99437
To repeat [my other comment](https://github.com/rust-lang/rust/issues/73987#issuecomment-1188494535), the most unexpected part IMO is that this is valid even with a single index. All official sources say that index notation goes through the `Index[Mut]` traits in general. Since these traits take and produce ordinary references, I'd assume by default that any indexing is unsafe here. Only the Refer

[2022-07-19 02:05] RalfJung commented on #99437
I think the correct alternative is to use the methods in https://github.com/rust-lang/rust/issues/74265, though those don't do bounds checks.

[2022-07-19 02:15] cuviper commented on #99430
Note that you **can** compile code like the OP wrote when there's a deeper pattern involved -- see #86989.

[code]

But still, if the *intention* was to change the caller's reference to the local, that will never work.

[2022-07-19 02:15] Mark-Simulacrum commented on #99221
Reopening to track beta breakage.

[2022-07-19 02:36] workingjubilee commented on #99381
This should not happen until we diagnose what happened to https://github.com/rust-lang/rust/issues/99440

[2022-07-19 02:38] Mark-Simulacrum commented on #99440
Need to finish investigation, but hopefully this is now not affecting anyone.

[2022-07-19 02:58] workingjubilee commented on #67292
Hmm. I don't believe we use a special allocator anymore...?

[2022-07-19 03:06] LegionMammal978 commented on #73987
Hmm, you're right about that, now that I think about it. At the very top of the borrow stack, it's only an issue when you hold on to the `&mut` longer than you need it. The transient `&mut`s are mainly an issue in the middle of the borrow stack, where you end up with long-lived `*mut <- &mut <- *mut` patterns.

So we agree that there's lots of ways to get implicit refs from place expressions, and

[2022-07-19 03:11] workingjubilee commented on #62256
Also see: https://github.com/rust-lang/unsafe-code-guidelines/issues/347

[2022-07-19 03:14] lyming2007 commented on #98982
@rustbot claim

[2022-07-19 03:16] workingjubilee commented on #69755
"Too much time" relative to what?

[2022-07-19 03:19] benluelo commented on #75744
Adding my 2c here - a `map_continue(..)` combinator (to go with the current `map_break(..)` one), would be very useful. Should I open a new issue and link it here, or is this suggestion OK in this issue?

[2022-07-19 03:37] arniu commented on #93050
[RFC: map_or_default in Option and Result](https://github.com/rust-lang/rfcs/pull/3148)

We should add a single `map_or_default` rather than `is_some_and` / `is_ok_and`.

[2022-07-19 03:48] ryanavella commented on #99430
@cuviper That is definitely interesting, even a 1-tuple is enough of a pattern to suppress the error:

[code]

It isn't clear to me which should be the "correct behavior" here. I can see an argument that the error is spurious because there is nothing inherently unsound here. Plus the error message is confusing to newcomers.

But is it possible that some users could be relying on this error to enfo

[2022-07-19 03:49] clin1234 commented on #42743
Is this bounty still open for reward from BountySource?

[2022-07-19 03:52] CAD97 opened #99448 "(incremental?) ICE during rustc development"
Minimizing from rustc is pretty impossible, and my attempts so far to deliberately provoke this didn't work. I initially got this error from the bootstrap/beta compiler while compiling rustdoc. This time it randomly happened again, but this time from my dev rustc on stage1 core.

It doesn't occur again after an `x.py` clean, thus the though that it is incremental metadata related.

<details><summa

[2022-07-19 04:11] jam1garner commented on #99430
wow! great link @cuviper

[2022-07-19 04:13] Nugine commented on #69755
It seems to be solved now.

[y.rs](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=aabcde2e02ce96ce941524b34fade867)

[code]

[2022-07-19 04:13] jyn514 commented on #99448
ICEs in stage 1 are likely https://github.com/rust-lang/rust/issues/76720. If you see ICEs in stage 0, those are more likely to be real bugs.

[2022-07-19 04:30] CAD97 commented on #99448
Closing this since it's likely a dupe.

[2022-07-19 04:30] #99448 closed

[2022-07-19 04:53] workingjubilee commented on #69755
Fair enough, then! Closing.

[2022-07-19 04:53] #69755 closed

[2022-07-19 05:04] bjorn3 commented on #67292
OP is refering to the allocator shim, which we still use.

[2022-07-19 05:08] reez12g commented on #98168
@rustbot claim

[2022-07-19 05:46] #97954 closed

[2022-07-19 06:05] matthiaskrgr commented on #99440
[code]

[2022-07-19 06:37] scottmcm commented on #75744
@benluelo Since `map_break` exists, I think you could just open a PR to add `map_continue` under the same tracking issue.  Feel free to `r? @scottmcm` on it.

[2022-07-19 06:46] JohnTitor commented on #99348
Triage: The ICE itself has been fixed by #99356 but I'm not sure why it didn't close this issue, @compiler-errors Is there a remaining task?

[2022-07-19 07:00] glaubitz commented on #42743
Doesn't seem so. I can't find it on Bountysource anymore.

[2022-07-19 07:01] compiler-errors commented on #99348
There's another issue I pointed out in (2.) that remains, I'll file another task for just that and then close this out..

[2022-07-19 07:05] workingjubilee commented on #37854
With a steadier grasp on the language, I can now add:

The `for x in 5..10` case back that was mentioned by a few programmers a while back is an expression, not a *pattern*. I believe there is an unfortunate amount of confusion in that regard due to other choices, but that asserting they should be made the same due to that superficial similarity is not ideal. I also think that the multiple experie

[2022-07-19 07:18] zirill commented on #99364
The value of the "mem usage" parameter  (docker stats)

When a certain api is called, there is a leak.
But because it is large, it takes a significant amount of time to find in which function it happens.
Considering that you have to create a new docker image for each test. (no leaks in home system)

[2022-07-19 07:57] Dajamante opened #99456 "Error with cargo-generate"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-19 08:12] lcnr commented on #48594
Really exited about this :heart: I don't need it too frequently, but it feels intuitive and there were a bunch of places where it would have meaningfully simplified my code.

Did you intend to show that you can exit `try` blocks using label-break-value? Which is also the behavior for labelled loops and what I expect.
[code]

[2022-07-19 08:47] Rudxain opened #99458 "Reading file from disk redirected to `stdin` is faster than directly from `disk`"
I'm using the byte iterator to get the bytes from a file, and it seems [this post](https://stackoverflow.com/questions/66645551/what-is-a-faster-way-to-iterate-through-the-bytes-of-a-file-in-rust/66646035#66646035) is still relevant.

This is my benchmark code:
Direct:
[code]
Out:
[code]

Redirect:
[code]
Out:
[code]
`xorsum` is the crate I'm developing. The code I benched is not *exactly* the sam

[2022-07-19 09:10] conradludgate commented on #99310
Looking back on this. I think we can get some special casing:

## Unpin

Currently, all generators/futures are `!Unpin`, so there should probably be a simple error case explaining that. I'm not sure if there's been any designs about getting `Unpin` simple futures.

## Send/Sync

A case where people may want nice error messages is in the case that a future is not send.

It seems we already have thi

[2022-07-19 09:10] inquisitivecrystal commented on #99221
I was silly and nominated even though the PR has already been nominated, and that's really the thing that's supposed to be. Please ignore, and sorry for the noise.

[2022-07-19 09:10] mdaffin commented on #99430
It is very confusing to new comers. But so is the whole situation. It seems quite a lot of people seem to assume the problem is that `p` itself somehow outlives the function and so must anything that gets assigned to it otherwise it is unsound when this is not the case. Nothing is technically unsound here but IMO it smells badly of a bug in the code. Why would you ever want to reassign `p` when it

[2022-07-19 09:15] halvko opened #99459 "ICE running `x.py doc`"
I'm not sure this is actually considered a bug, as it happened while running `./x.py doc` in the rust repo. It started working after running `./x.py clean`, so maybe there were something left in the cache from an earlier version of the compiler.

### Code

I did not change any code in the compiler, and it happened after pulling, and updating all submodules.

### Meta

`rustc --version --verbose`:

[2022-07-19 09:35] mraszyk commented on #97919
Building this (simpler) library also results in mismatching WASM hashes on Ubuntu and macOS:
[code]

[2022-07-19 09:45] LoganDark commented on #99377
FWIW, `concat!` does work in `#[doc]` attributes, so that is the preferred way to do this. I do agree this should be a compile error though.

[2022-07-19 09:57] JohnScience commented on #99377
I cannot reproduce it. So I guess it's worth closing.

[2022-07-19 10:18] tmiasko commented on #99382
With `-Ctarget-feature=+crt-static` rustc will try to auto detect support for `static-pie` in the linker. Unfortunately on Void Linux, linker does support the option, but required object files are missing (it seems glibc is built without `--enable-static-pie`):

[code]

Not sure what what could be done on rustc side, short of disabling the test altogether.

[2022-07-19 10:30] Amanieu commented on #93050
I don't think `map_or_default` is the right solution here: if anything, it's less readable than a plain `map_or`.

[2022-07-19 10:48] Urgau commented on #99458
When using `Stdin` the input is [internally buffered](https://doc.rust-lang.org/src/std/io/stdio.rs.html#231) to reduce the number of syscalls required to read the input, but the same isn't done for a bare `File`, in this case you should use your `File` with a [`BufReader::new`](https://doc.rust-lang.org/std/io/struct.BufReader.html#method.new) like the `Stdin` use internally.

Something like this

[2022-07-19 10:49] nbdd0121 commented on #99388
Is it necessary to have `PartialEq` implementaton on `DynMetadata`?

[2022-07-19 11:02] aDotInTheVoid commented on #93588
Yeah, I think this can be closed

[2022-07-19 11:28] rust-highfive opened #99461 "`miri` no longer builds after rust-lang/rust#99451"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#99451, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-07-19 11:42] SparrowLii commented on #75760
Just submitted a new [PR](https://github.com/rust-lang/rust/pull/99457) to fix 3 of the 4 remaining failing tests.

The remaining one is about the extra output of warn from the external cratetracing v0.1.9. This problem is relatively difficult to pinpoint, so I just leave it for now. ([ui] src\test\ui\consts\const_in_pattern\issue-73431.rs)

[2022-07-19 11:52] Rudxain commented on #99458
@Urgau Thank you so much! I got these timings now:
[code]

But I was wondering, what's the rationale behind the file byte iterator not using a `BufReader` by default? Is it related to low-level transparency? (like [multi-threading being 1:1 mapping](https://doc.rust-lang.org/book/ch16-01-threads.html))

[2022-07-19 11:53] BratSinot opened #99463 "`derive(Default)` for struct with `Option<T>` field gives error"
I tried this code:

[code]

I expected to see this compiles.

Instead, I got error:
[code]

### Meta
`rustc --version --verbose`:
[code]
P.S. I get this error at least a year on Windows / GNU/Linux and MacOS. I just didn't care and implemented `Default` manually.

P.S.S. Is this a duplicate of some other issue? I tried to search already opened issues, but didn't find such issue.

[2022-07-19 12:00] RalfJung commented on #73987
I mean, that'd be great, but it is a big change to the language -- much bigger than what I have the time for. So I dearly hope someone will pursue this. :) But meanwhile, I think there are smaller steps we can take that will help improve the situation, and those are the steps I am proposing.

And even once we reach that goal, many people will still write `*ptr` places, since that's how you do it i

[2022-07-19 12:26] fmease commented on #99463
The issue you are searching for is #26925 (“overly restrictive bounds”). If I remember correctly, there was Zulip discussion last year about new approaches at fixing this. Let me search for a link.

[2022-07-19 12:29] BratSinot commented on #99463
Thanks!

[2022-07-19 12:29] #99463 closed

[2022-07-19 12:35] Urgau commented on #99458
This has nothing to do with the `Bytes` iterator but more with `File` not doing buffered reads.

As for the actual reason for why `Stdin` does buffering I have no idea, I find it a bit strange that it does (maybe it's considered high-lever than `File`).
As for the reason why `File` doesn't do buffering, it's mainly because `File` is just a handle/reference to the "an open file on the filesystem",

[2022-07-19 12:44] the8472 commented on #99458
It is. The stdio handles provide thread-safety (e.g. incrementally writing out messages without line-tearing) by wrapping the raw IO in a mutex. And since it already is higher-level it also provides buffering on top.

#78515 aims to make buffering switchable.

[2022-07-19 13:11] btielen opened #99466 "Rustdoc: `fatal error LNK1181: cannot open input file 'windows.lib'` on windows"
While working with rustdoc I have a markdown file with the following contents:

Some docs
[code]

running `rustdoc src/some_docs.md --test --edition 2018 -L target/debug/deps`

produces the error

`= note: LINK : fatal error LNK1181: cannot open input file 'windows.lib'`

This happens when I am using the Tokio crate. On Ubuntu and MacOS everything works as expected, on Windows the tests fail in a

[2022-07-19 13:12] Rudxain commented on #99458
Thank you all for the info, I think the issue can be closed for now. If there's any reason to keep it open, please let me know

[2022-07-19 13:12] #99458 closed

[2022-07-19 13:14] Jasperav commented on #96645
I had this problem as well. I updated to 1.64 and the problem didn't occur when building clean.

[2022-07-19 13:19] not-wlan commented on #74465
FYI: SyncLazy can be found in `std::sync::LazyLock` now

[2022-07-19 13:35] bmacnaughton opened #99468 "i've made a version of `char::is_whitespace()` that performs significantly better"
where/how is the proper place to discuss before arbitrarily submitting a pull request? or should i just submit a pull request with benchmark code and logs?

[2022-07-19 13:37] jyn514 commented on #48594
ah, good catch, thanks - yes, both are allowed. I took my example directly from one of the existing tests, I'll add yours to the same test in https://github.com/rust-lang/rust/pull/99332.

[2022-07-19 13:44] schreter commented on #97540
@workingjubilee I've tried to implement something with `black_box`, unfortunately, Rust happily optimizes it out, so I have to find a different approach (didn't have much time yet, sorry).

What we also see and that is probably at least equally big problem is the handling of larger `Future`s, where a lot of unnecessary memory copying is in play. After doing some `Result`-based optimizations, these

[2022-07-19 13:54] fmease commented on #99468
I recommend you to just open a PR and to request a perf run.

[2022-07-19 13:55] jyn514 commented on #77974
https://github.com/rust-lang/rust/issues/99466 came up with a fascinating solution: Add `-L target/debug/deps` so that rustdoc can still load the crates even when running doctests.

That doesn't actually work for intra-doc links because rustdoc runs in a different mode (that doesn't run the compiler internally) but I think it should be feasible to start loading crates when rendering markdown files

[2022-07-19 13:57] jyn514 commented on #99466
This is fascinating, I've wanted to add links in markdown files for ages and never thought of using `-L`. Added a note to https://github.com/rust-lang/rust/issues/77974.

I'm not sure why this would fail and I don't have a windows crate to test - can you rerun rustdoc with RUSTDOC_LOG=rustc_metadata=info so I can see why windows.lib is being loaded?

[2022-07-19 14:00] jyn514 commented on #99466
also if you can find some way to show the linker command that's being invoked, that would be helpful - I think `-v` may do it?

[2022-07-19 14:01] safinaskar opened #99470 "Error message mentions "x.0" (x is Option)"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=449ac104599c2bb219212dd16afa49d1

[code]

The current output is:

[code]

The output mentions `x.0`, but `x` is `Option`, so `x.0` is nonsense

[2022-07-19 14:07] #99468 closed

[2022-07-19 14:25] ehuss commented on #99456
Thanks for the report! Closing as a duplicate of https://github.com/rust-lang/rust/issues/99261. This should be fixed by https://github.com/rust-lang/rust/pull/99263 and should be fixed in the latest nightly.

[2022-07-19 14:30] btielen commented on #99466
@jyn514

Not sure how I get the rustc_metadata, but here is the complete error:

[code]

[2022-07-19 14:51] tmiasko commented on #91009
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=3291dde278a238c06ce81db3decfb294

[2022-07-19 14:55] RalfJung commented on #91009
Okay, so it is not just a const-time bug then. That code in `main` should not be accepted.
Looks like something is wrong with the handling of nested promotion, where we then fail to properly check for destructors. I never understood what happens with nested promotion...

[2022-07-19 14:57] obeis commented on #99470
@rustbot claim

[2022-07-19 15:33] AngelicosPhosphoros commented on #92174
Filed another issue to mainstream: https://github.com/llvm/llvm-project/issues/56612

[2022-07-19 15:37] jmj0502 commented on #60302
Hey! I would like to start contributing to the project and this seems like a good starting point. Is the `compiletest::runtest` file still available?

[2022-07-19 16:33] #99375 closed

[2022-07-19 16:33] #70922 closed

[2022-07-19 16:54] nikic commented on #99432
I think the problem is that https://github.com/rust-lang/rust/blob/a289cfcfb32593c63d75f113547f63ffe2dde285/compiler/rustc_codegen_ssa/src/back/write.rs#L1534 just returns. We also have a different CodegenAborted message that does wait for other workers: https://github.com/rust-lang/rust/blob/a289cfcfb32593c63d75f113547f63ffe2dde285/compiler/rustc_codegen_ssa/src/back/write.rs#L1489

[2022-07-19 17:01] SimonSapin commented on #99388
All raw pointers (including to trait objects) implement `PartialEq`, and they conceptually do it by comparing `(ptr as *const (), metadata(ptr))`. For that formulation to work, we’d need `DynMetadata: PartialEq`. This is currently reflected in `Pointee::Metadata` having a `PartialEq` bound.

However the current implementation of raw pointer comparison is just bitwise comparison and does not go thr

[2022-07-19 17:15] gimbles commented on #94914
Reducing `codegen-units` *will* increase your compile time by a lot.

[2022-07-19 17:31] joshtriplett commented on #99272
We discussed this in today's @rust-lang/lang meeting, and we're in favor. Let's do it.

[2022-07-19 17:34] hydra commented on #88704
Any update on this?  I find it a bit crazy that such a fundamental issue, i.e. it randomly fails 9/10 times, hasn't been prioritized over other changes.

[2022-07-19 17:36] scottmcm commented on #99272
(Procedural Note: We don't need an FCP for this because it's not a breaking change to remove it later, should that be necessary.)

[2022-07-19 17:43] hydra commented on #88704
This still happens on a very recent nightly:

[code]

example, frustrating, user experience:

[code]

[2022-07-19 17:43] CodesInChaos commented on #97814
Doesn't such user code violate the "no life before main" principle and is thus unsupported?

[2022-07-19 17:53] joshtriplett commented on #93333
@Amanieu It does seem unfortunate to have to write potentially target-OS-specific code to handle relocations, when you might otherwise only need to write *CPU*-specific code.

Is there some variant of `sym` we could provide that *does* do whatever relocations we would have done and provides a callable/dereferenceable address?

[2022-07-19 17:56] Amanieu commented on #93333
Inline assembly is inherently target specific. In C you would have a header file with a bunch of macros to deal with target-specific details, and [the same applies in Rust](https://github.com/Amanieu/corosensei/blob/81a1a84a1f801efe66e55412a59716947c3a2bdf/src/arch/mod.rs#L5).

If you want the compiler to handle this for you then you should use an `in` operand to load the address of a variable in

[2022-07-19 18:05] joshtriplett commented on #71668
Based on the various feedback we've received, I'm going to propose that we *should* enable this by default in the 2024 edition, assuming that we have a rustfix that adds unsafe blocks as appropriate (ideally fine-grained unsafe blocks).

@rust-lang/lang, shall we require `unsafe {}` for unsafe blocks even inside an `unsafe fn`, starting in the 2024 edition?

(If you have thoughts on deny-by-defaul

[2022-07-19 18:08] Lokathor commented on #71668
I believe that the general edition guidance is to begin warning this edition and then deny by default in edition+1

[2022-07-19 18:58] compiler-errors commented on #99426
Yeah, I fixed the `.as_ref` placement recently in #98603

I looked into this, but couldn't find out from the borrowck diagnostic machinery how to tell whether a place is being accessed mutably or not. I can take another look at this though.

@rustbot claim

[2022-07-19 19:02] compiler-errors commented on #99426
Worst case I could just change it to say "`.as_ref()` or `.as_mut()`".

[2022-07-19 20:13] #96270 closed

[2022-07-19 20:24] 0rphon opened #99478 "Invalid proc_macro example causes `internal error: entered unreachable code`"
The following is invalid code that should cause a compilation error but instead causes the compiler to crash on both stable and nightly.

### Code

proc macro:
[code]
main.rs
[code]

### Meta

`rustc --version --verbose`:
[code]

also exists on nightly:
[code]

### Error output

[code]

</p>
</details>

[2022-07-19 20:56] edelsohn commented on #42743
I don't know where @glaubitz  looked. A bounty remains open for this

https://app.bountysource.com/issues/46345753-altivec-vsx-support

however, it's not clear that IBM Power provides the documentation in the easily consumable form that Rust wants.

[2022-07-19 20:59] cmyr commented on #73448
Ran into a compiler warning that referenced this issue in rustc 1.62.0. In case it's useful to anyone, [here is a reproduction](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=b3b2d74a55b99b492702b623365782c9).

[2022-07-19 21:21] lu-zero commented on #42743
I stopped writing the implementation since it w/out it be not accepted in stable, I do not know if the requirement is now relaxed though.

[2022-07-19 21:24] JohnTitor commented on #44434
Triage: The feature has been stabilized by https://github.com/rust-lang/rust/pull/88436, closing as complete.

[2022-07-19 21:32] aticu commented on #98938
This is addressed by #98028. The error message is now

[code]

[2022-07-19 21:38] compiler-errors commented on #98938
Heads up @obeis #99308

[2022-07-19 21:39] #98938 closed

[2022-07-19 22:09] Hezuikn opened #99482 "compiler crashes trying to report an error [regression]"
nightly 1.64(crashes) [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=98118a20e08a59044e58f9d77d69f636)
beta 1.63(behaves correctly) [playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2021&gist=f708086f1bcc9dec30bf43d27766a864)

[2022-07-19 22:25] compiler-errors commented on #99482
99% chance that I introduced this bug, I'll look into it.

@rustbot claim

[2022-07-19 22:28] nagisa commented on #99426
Ah, so I didn’t mean to imply that the relevant code knows this. A reasonable rule of thumb would be to see what context this expression is in. If it is a part of a place expression, `as_mut` is what user will need. I don’t know if this information is already available or, if not, what it would take to pass this around. And, yeah, I guess it wouldn’t be 100% right in all instances, so perhaps just

[2022-07-19 22:40] obeis commented on #98938
@compiler-errors Should i close my pull request #99308

[2022-07-19 22:47] ehuss commented on #99478
Looks like this ICE was introduced in #91313. It looks like it is caused by the fact that a macro expansion error results in creating a "dummy" AST fragment, which the `AstFragment::Crate` doesn't allow.

[2022-07-19 22:57] cuviper commented on #99440
I'm not running that kernel, but rustc `246f66a905c2815f2c9b9c3d6b1e0649f3360ef8` runs fine for me in the [manjarolinux/base](https://hub.docker.com/r/manjarolinux/base) container, using podman on a Fedora 36 host.

[2022-07-19 23:17] jam1garner commented on #93050
Agreed, just to be another data point: I virtually never use the `*_or_default` methods for primitives. Using `unwrap_or*` as an example, not only is `.unwrap_or(false)` *shorter* than `.unwrap_or_default()`, but it is one less layer of cognitive indirection (in terms of what an  internal monologue might looks like: "unwrap or default. what is the default? false". potentially worse if it takes a s

[2022-07-19 23:40] arniu commented on #93050
Maybe `map_or_default` is not the right solution here, but it's better than `is_some_and` / `is_ok_and` / `is_err_and`.

[2022-07-19 23:53] Lokathor commented on #93333
I'm sympathetic to wanting assembly to be portable/reusable and so "inherently target specific" might be a little overkill, but "if you want a thing in a register then assign it to a variable and put that variable in a register" does seem like a reasonable workflow.

[2022-07-20 00:04] Lokathor commented on #98262
i'm mildly concerned that std::mem::copy and std::ptr::copy both would exist but do very different sorts of things. Can we call this new function `copied`, same as the iterator/option method?

[2022-07-20 00:08] jyn514 commented on #98262
Hmm sure, copied seems fine.

I do think that all the functions in std::ptr are kind of expected to deal with raw memory; I don't think it would be hard to tell them apart in practice. But I don't feel strongly.

[2022-07-20 00:25] Lokathor commented on #98262
in an ideal world everything could be fully imported, so this helps the ideal.

[2022-07-20 00:28] newpavlov commented on #93333
As I wrote earlier, I am not sure that it's possible to do properly. Relocation may depend on linking mode, which is impossible to `cfg` our way out.

@Lokathor
Note that it's not possible to do in the context of `global_asm!`/naked functions.

[2022-07-20 00:37] Lokathor commented on #93333
For those you'd have to use a bunch of cfg the same as C would (apparently) use a bunch of macros.

and the cfg would have to go by a cargo feature or other expression that says what the linking mode will be.

[2022-07-20 00:39] marcgalois commented on #93333
Would it be possible to expose the code model and relocation model via `cfg`? If so, then would it be possible to write a macro to generate all the `#[cfg(...)]` statements to generate the proper assembly for getting the address of a symbol?

[2022-07-20 00:39] mdholloway commented on #71898
I think @samrat had the right solution to this one.  I'd be happy to pick it up and drag it over the finish line.

@rustbot claim

[2022-07-20 01:06] Logarithmus commented on #99382
@tmiasko thanks, I'll try reaching out the Void devs

[2022-07-20 01:06] #99382 closed

[2022-07-20 01:25] workingjubilee commented on #60302
Yes, go ahead.

[2022-07-20 01:49] zirill commented on #99364
When you do some actions this value does not change significantly, the memory usage increases and returns. 30-40-30 (mb)

In that case there is a sharp increase, growth without return. 30-100-200-800-1200 (mb)

I will try to find the section when in which this happens.

[2022-07-20 01:56] workingjubilee commented on #99364
...Ah, "this uses a gig" _is_ somewhat remarkable, even for more... voracious possible Docker configurations. Anything you can do to offer a reproduction case would help, yes.

[2022-07-20 03:20] #99348 closed

[2022-07-20 03:27] compiler-errors opened #99490 "MIR dead code analysis affects TAIT inference"
Given the code:

[code]

If you run the code, you can see that the compiler ends up "successfully" inferencing `Tait = One` and succeeding compilation, even though upon visual inspection, the compiler should be raising an error since `fn two` should cause the conflicting inference `Tait = Two<()>`.

The key here is the `todo!()` macro, which causes the `SimplifyCfg` MIR pass to remove MIR that act

[2022-07-20 03:28] compiler-errors commented on #99490
I want to fix this but have no idea how I would begin, lol.

[2022-07-20 04:00] LegionMammal978 commented on #99188
Could this be related to #95402? I worked a while back on minimizing it, but I wasn't able to interpret the tracing logs. To repeat my example code:
[code]

[2022-07-20 04:48] mystenmark opened #99492 "Spurious "implementation of `FnOnce` is not general enough" error"
Hello rustaceans, I'll start with the brief overview and provide repro instructions at the end:

Given the following code:

[code]

The current output is:

[code]

This is pretty fishy looking already - as you can see there is no closure in the code above, and the async block doesn't look anything like `(u64, TransactionDigest) -> u64`

I did however add such a closure _in another file_. And sure

[2022-07-20 05:06] mystenmark commented on #99492
Update: I found an even simpler workaround for the bug, which may be telling: https://github.com/mystenmark/sui/commit/82e936b0c982cf4c67739f1f4cd47efc0c9bc083

(available as branch `rust-bug-repro-workaround-2`)

[2022-07-20 06:14] tmiasko commented on #99382
Ah, one workaround would be to disable the relocation in the test, I will do that.

If you could reach out to Void Linux developers to enable static-pie that would be great as well. Thanks.

[2022-07-20 06:23] JanBeh commented on #45742
I assume that text is supposed to read: "to change the implementations for `&` and `&mut` to a blanket impl over ~~`AsRef`~~ *`Deref`*." Working links to the corresponding FIXMEs can be found [here](https://github.com/rust-lang/rust/blob/1.62.1/library/core/src/convert/mod.rs#L509-L515) and [here](https://github.com/rust-lang/rust/blob/1.62.1/library/core/src/convert/mod.rs#L530-L536).

[2022-07-20 06:24] JanBeh commented on #45742
Yes, see [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d2cb427db1ce47a73e9272024cba1cf9).

[2022-07-20 07:10] JanBeh commented on #45742
Disregarding other existing implementations, there would still be some problems with the mutable case (`DerefMut`), because types which implement `DerefMut` might not want to only provide an `AsMut` implementation in regard to their `Deref::Target` but also, for example, `AsMut<Vec<T>> for Vec<T>`. See [this post on IRLO](https://internals.rust-lang.org/t/semantics-of-asref/17016/7?u=jbe) and the

[2022-07-20 07:20] DrMeepster commented on #87856
This needs to be closed. #78459 is closed.

[2022-07-20 07:24] #87856 closed

[2022-07-20 07:27] zseri commented on #96320
I also encountered this: https://github.com/YZITE/yzix/commit/78311e149c778ae8935ca3045127299b03e41726

[2022-07-20 08:24] lqd commented on #96320
Thanks for the repro @zseri. There have been a few new cases of this ICE in the last week, and they have been fixed since.

Your specific issue (which is likely from a different source than the OP) is indeed already fixed on the latest nightly (but is present on nightly-2022-07-16).

[2022-07-20 08:58] nikic commented on #99432
I saw a related failure in src/test/ui/invalid/invalid-llvm-passes.rs and came up with this patch: https://gist.github.com/nikic/25518d8c0373145d586b7d6dfd602676

That *does* fix the issue for the invalid-llvm-passes.rs test, but *doesn't* fix it for the params-on-stack.rs test. I think this is because this is a codegen error that gets reported in a different way.

[2022-07-20 09:10] #99364 closed

[2022-07-20 09:25] nikic commented on #99432
Okay, I was quite off track here. I believe the actual problem is that we emit a fatal error in the LLVM worker, which will send an SharedEmitterMessage::Fatal message, and then raise a fatal error in the main thread: https://github.com/rust-lang/rust/blob/03d488b48af9f66b91e9400387f781b82411fa82/compiler/rustc_codegen_ssa/src/back/write.rs#L1819 This will unwind and exit the process. However, the

[2022-07-20 09:54] bstrie opened #99502 "Regression on nightly when compiling mio for wasm32-wasi"
Steps to reproduce:

[code]

It's possible that this was accidentally stabilized, then feature gated later.

[2022-07-20 10:02] IgnisDa opened #99503 "Internal Compiler Error while building project"
Please refer to this commit for reproduction: https://github.com/IgnisDa/developrs/tree/418acbcf83d65ecd91cf77408a0175751cd488d2

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

<details><summary><strong>Error output</strong></summary>
<p>

[code]

</p>
</details>

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Additional

[2022-07-20 10:09] michaelwoerister commented on #99282
Yes, that sounds right.

Increasing the size of `StringId` will also increase the size of `RawEvent` (which is the main data structure that self-profiling emits) from 24 bytes to 32 bytes. That's probably acceptable.

Any optimizations to allow for a bigger string address space while keeping `StringId` at 4 bytes are probably not worth the additional implementation complexity.

[2022-07-20 10:34] #96980 closed

[2022-07-20 10:34] #98177 closed

[2022-07-20 10:34] #99276 closed

[2022-07-20 10:34] #71547 closed

[2022-07-20 10:46] lqd commented on #99282
Another way to go at this could be to reduce the size of the strings that rustc records: maybe some of the args' debug output is recorded (and/or some of the `Display` impls [can be verbose](https://github.com/rust-lang/rust/issues/99188#issuecomment-1183717803), looking more like `Debug` impls) and those outliers push this case over the limit.

Maybe we can make these more compact, while retainin

[2022-07-20 10:55] BratSinot commented on #63291
Okay, so there is no way to create array even in unsafe? -_-"

[2022-07-20 11:06] alexzanderr opened #99507 "? compile rustc, cargo and all components with cpu-native 🚩"
hello

i know from rust flags that is possbile to compile your program with cpu native flag

can i do that will all the tools from the toolchain to maybe get faster compile times?

or can i opt for a flag while updating components from rustup to compile them locally with cpu native 🚩?

i guess everything will run faster and more efficient with cpu native and maybe get faster compile times, so i st

[2022-07-20 11:18] Stargateur commented on #93743
I don't see why choice to panic instead of return `Option<usize>` or `Result<usize, ()>`

[2022-07-20 12:13] apiraino commented on #99245
Regressed in #95565 cc @jackh726

searched nightlies: from nightly-2022-01-01 to nightly-2022-07-20
regressed nightly: nightly-2022-06-08
searched commit range: https://github.com/rust-lang/rust/compare/50b00252aeb77b10db04d65dc9e12ce758def4b5...5435ed6916a59e8d5acba2149316a841c3905cbd
regressed commit: https://github.com/rust-lang/rust/commit/bb55bd449e65e611da928560d948982d73e50027

<details>
<s

[2022-07-20 13:51] eddyb commented on #99188
@LegionMammal978 I don't think so, you're not using `for<...>` and don't have amplification through traversing a nesting like `X<X<X<X<...>>>>`, the only outcomes you can have there is it finishing very fast *or never*.

[2022-07-20 13:55] eddyb commented on #99282
IMO we should probably be forcing a pow2 size, and aligning things to the start of a page, to not end up e.g. straddling cache lines randomly and whatnot - though the impact is probably minimal either way.

[2022-07-20 14:26] lyming2007 commented on #98982
do we need to duplicate the statement of loop to emit more information? How about the output like this?
[code]

[2022-07-20 14:31] nikic commented on #99432
I've included a fix for this in https://github.com/rust-lang/rust/pull/99512. Turned out to be less straightforward than I hoped.

[2022-07-20 14:51] RalfJung opened #99514 "Higher-level representation for virtual function calls in MIR?"
MIR currently encodes which virtual function to call via the index of that function in the vtable. That is convenient for codegen backends, but very low-level. It might be better to have some higher-level representation of the intended method in MIR, and provide a convenient function for codegen backends to go from that to a vtable index -- similar to what we do for dyn trait upcasting.

Cc @rust-

[2022-07-20 14:55] RalfJung commented on #61345
With https://github.com/rust-lang/rust/pull/99420, we have the same situation also for vtables -- they have a "symbolic" alloc ID and a "concrete" one that is backed by an actual `&Allocation`.

I think my preferred solution at this point would be to
- make `vtable_allocation` return a `&Allocation`, so that we never have a concrete AllocId for vtables in the global alloc_map. However this will re

[2022-07-20 15:06] eddyb commented on #99514
I'm confused, I don't remember any understanding of virtual calls in MIR, and I can't find anything new like that.

AFAIK what happens is `Instance::resolve` can return `InstanceDef::Virtual` when the input is `<dyn Trait as Trait>::method` - you should be seeing the `DefId` of a trait method in MIR, with a `Self` type of `dyn Trait`.

I believe the current mechanism of `Instance::resolve` qualifi

[2022-07-20 15:09] RalfJung commented on #99514
Maybe "MIR" was the wrong term to use here; I am referring to this `idx`:

https://github.com/rust-lang/rust/blob/108ef8b6d60a2d483c6e68f4eab09014891745aa/compiler/rustc_const_eval/src/interpret/terminator.rs#L522

[2022-07-20 15:11] RalfJung commented on #99514
Are you saying that we can also use the `DefId` (which Miri discards up there) to obtain the function that should actually be called?

Then what should the MIR spec say happens when DefId and vtable-idx-lookup do not agree? Now that I think about it, a similar lookup-does-not-agree concern probably arises for dyn upcasting.

[2022-07-20 15:15] eddyb commented on #99514
Not sure what you're suggesting but you could *theoretically* replace the `dyn Trait` `Self` type in `instance.substs` with the original `Trait` implementor type if you have access to that from the vtable, and then call `Instance::resolve`, I guess?

[2022-07-20 15:19] RalfJung commented on #99514
Okay, I see now what that DefId is for and how it resolves my original problem.

Now I have a new problem: MIR semantics need to say what happens when this is the vtable of another trait than the one we should be calling here. Probably that should just be UB. But I am not sure how to best test for that.

[2022-07-20 15:23] RalfJung commented on #99514
Also, what you suggest doesn't work, @eddyb. Or I misunderstood. See the last commit in https://github.com/rust-lang/rust/pull/99420.

[2022-07-20 15:37] m-ou-se commented on #74690
Closing this in favor of this tracking issue, tracking both `path` and `env`: https://github.com/rust-lang/rust/issues/99515

[2022-07-20 15:37] #74690 closed

[2022-07-20 15:38] m-ou-se commented on #73921
This is now tracked in https://github.com/rust-lang/rust/issues/99515, together with the `tracked_env` feature.

[2022-07-20 15:38] #73921 closed

[2022-07-20 15:42] cristifalcas commented on #89434
When will this go to stable flags?

[2022-07-20 15:43] kckeiks commented on #96524
Update: I started working on this a while back but I got pulled away by other things. I will have more bandwidth in the next couple of weeks and hopefully have a PR.

[2022-07-20 15:55] clarfonthey commented on #93743
The main reason I chose that was that floor_char_boundary can never panic, and I wanted parity for the API with ceil_char_boundary. Do you have a case that would benefit from such an API?

[2022-07-20 16:04] workingjubilee commented on #99507
We've experimented with it, and last time this was tried, it did not greatly improve compile times because the design of the compiler is not significantly advantaged by modern ISA extensions. You can probably squeak out 5%, but it complicates distribution by a lot more than 5%.

In particular, compiling the Rust standard library with `-Ctarget-cpu=native` will result in a standard library version

[2022-07-20 16:19] m-ou-se commented on #99408
It's probably time we move https://forge.rust-lang.org/libs/maintaining-std.html#is-there-a-manual-drop-implementation to the std-dev-guide.

[2022-07-20 16:31] ChrisDenton commented on #84056
I think that is essentially the conclusion that can be drawn from https://github.com/rust-lang/rust/issues/84056#issuecomment-1185350866. I.e. most users of `is_numeric` were using the wrong function.

And from what's been said above, I feel like having `char.is_numeric()` in the standard library was perhaps a mistake even if the name was more explicit about what it does. Not because it can't poss

[2022-07-20 16:43] m-ou-se commented on #84056
Ah yes, thanks.

I agree.

[2022-07-20 16:52] #98947 closed

[2022-07-20 16:53] xFrednet commented on #54503
Hey @ehuss, do you know how we should/can proceed with this?

[2022-07-20 16:56] #99073 closed

[2022-07-20 16:56] #99482 closed

[2022-07-20 16:56] #71898 closed

[2022-07-20 17:01] JanBeh commented on #58469
Would be solved by #45742 (which is difficult), so maybe this can be closed?

[2022-07-20 17:16] joshtriplett commented on #77443
Stabilized in 1.60, closing.

[2022-07-20 17:16] #77443 closed

[2022-07-20 17:27] joshtriplett commented on #80619
What items from RFC 3027 remain to be implemented?

We talked about this in today's @rust-lang/lang meeting, and we know that `const { ... }` still needs further implementation, but we weren't sure if that was a blocker for this or if all the work specified by the RFC was complete.

[2022-07-20 17:34] joshtriplett commented on #80970
For anyone wanting to act on the ready-to-stabilize label: also note the `FIXME` comments in the target files, added in #86922, and make the corresponding adjustments when stabilizing. That PR will also need the `relnotes` label.

[2022-07-20 17:36] joshtriplett commented on #81513
Labeling "design-concerns" on the basis of the work referenced in @RalfJung's comment, though I *think* that's settling on a design at this point.

[2022-07-20 17:41] joshtriplett commented on #82523
Labeling needs-to-bake since we *just* enabled the lint.

[2022-07-20 17:48] joshtriplett commented on #83527
Labeling as design concerns due to various discussions around semantics of `$$` (e.g. `$$crate`), as well as questions about the bits not yet stabilized.

[2022-07-20 17:50] joshtriplett commented on #83701
This will stabilize in 1.63, closing.

[2022-07-20 17:50] #83701 closed

[2022-07-20 17:52] joshtriplett commented on #83788
What is the current state of this? Is there wasm-bindgen support or tooling support for this? Is anything using this?

[2022-07-20 17:58] joshtriplett commented on #84513
The lang portion of this has stabilized and shipped, so un-tagging lang. libs-api may wish to continue tracking this for the proposed documentation changes.

[2022-07-20 18:01] Xiretza commented on #83701
Can someone link #96868 in the issue description?

[2022-07-20 18:06] ehuss commented on #54503
I think you'll just need to wait for the lang team to respond and start an FCP. I think there are two concerns that have been raised that they'll need to make a decision on:

* The name `expect` may not be too generic: https://github.com/rust-lang/rust/issues/54503#issuecomment-1179570739
* The behavior of `expect` being a "level" which both enables a lint, and suppresses it, and which can be over

[2022-07-20 18:15] petrochenkov commented on #99427
Implemented in https://github.com/rust-lang/rust/pull/99467.

[2022-07-20 18:26] RalfJung commented on #81513
That's tracked at https://github.com/rust-lang/rust/issues/65991, btw.

[2022-07-20 18:32] Anindya-Prithvi opened #99522 "Add hints of semicolon to curly brace(d) statements"
**Context:** I was writing `{ somearray.into_iter().fold( . . . ) }` however missed a semi-colon. But, instead of rustc looking at it started complaining for the logic inside `.fold()`. Here is the picture:
![image](https://user-images.githubusercontent.com/29653551/180055260-4dbda494-fa77-4d1c-9694-bff55287cbb2.png)
![image](https://user-images.githubusercontent.com/29653551/180055404-d7d82a21-75

[2022-07-20 18:34] RalfJung commented on #82523
@joshtriplett not exactly sure what "enabled" means here -- this lint was warn-by-default since https://github.com/rust-lang/rust/pull/82525 (landed more than a year ago).

[2022-07-20 18:37] Serentty commented on #71668
So there is a plan to have it start denying by default? I really, really don’t think that that should be done until a more concise syntax is devised for “unsafe function whose body is also an unsafe block”. That is such an incredibly common use case, and having to double up on braces feels like it adds to line noise, and makes unsafe Rust even uglier than it currently is. Distinguishing between “u

[2022-07-20 18:41] Lokathor commented on #71668
Just put an `allow` on your crate. The entire lint is very obviously insufficient for stuff like data structures until we *at least* have something like unsafe fields too, so until then many crates will just want to turn it off and keep using the previous code style.

[2022-07-20 18:43] Serentty commented on #71668
If it’s still insufficient, why would it be on by default? It makes more sense to work those things out before turning it on.

[2022-07-20 18:47] Lokathor commented on #71668
There's many cases where it *does* help make the code more clear. Particularly if the crate is the kind of thing where there's unsafe free functions that do work while calling other unsafe subroutines. In that case, particularly if the functions are medium to large, it helps to highlight the unsafe inner calls.

[2022-07-20 18:49] CAD97 commented on #99106
This is a deliberate design choice of `macro_rules!`: once you've "opacified" a tokenstream into a binder fragment, it's not possible to open it up again. This is important for a macro like the following:

[code]

such that the expansion is `(1 + 2) * (3 + 4)` and not `1 + (2 * 3) + 4`.

When you capture a binder fragment, you get a [None-delimited](https://doc.rust-lang.org/stable/proc_macro/enum

[2022-07-20 19:14] memoryruins commented on #88207
@rustbot label: +O-wasm +A-abi +A-ffi

[2022-07-20 19:18] joshtriplett commented on #92675
Shall we rename these to `cast_*`, and also stabilize them?

@rfcbot merge

[2022-07-20 19:22] joshtriplett commented on #84056
Based on @Manishearth's comment and subsequent discussion, we talked about this in today's libs-api meeting, and we agreed that the code shouldn't change here, but the documentation should: document the Unicode category, and tell people that this *probably* isn't what they want, and point to `is_digit` or `is_ascii_*` instead.

[2022-07-20 19:22] #84056 closed

[2022-07-20 19:36] memoryruins commented on #83788
@joshtriplett

Searching sourcegraph and github, I've so far only found one project previously using it then switched to "C" ABI due to a couple of issues <https://github.com/oasisprotocol/oasis-sdk/issues/561>

[2022-07-20 19:52] estebank opened #99525 "Suggest potentially missing value in empty conditional expression arms with inferred type"
When given

[code]

we should mention that `s` might be missing in the `if` branch of the expression, like we do for

[code]

_https://github.com/rust-lang/rust/pull/98784#discussion_r924871175_

[2022-07-20 19:55] estebank commented on #98982
@lyming2007 that might work as well, but I'd like to see what it looks like in the terminal, as too much text density can affect readability. The `note` for example is redundant with the label in line 2, so that could be removed when we show the label.

[2022-07-20 19:56] Milo123459 commented on #99135
What is the correct course of action here? Adding another builder?

[2022-07-20 20:07] compiler-errors commented on #99525
Actually this aligns perfectly with a refactoring of `IfExpressionCause` I was looking at last night...

[2022-07-20 20:08] compiler-errors commented on #99525
Since we already suggest removing semicolon bidirectionally i.e.  `if a { b; } else { c }` and `if a { b } else { c; }`, we should be able to do the same with the return binding suggestion too.

@rustbot claim

[2022-07-20 20:12] jyn514 commented on #99135
Yes, adding another builder is enough. I want to investigate running --stage 1 *instead* of --stage 2 long term, but that's harder and shouldn't block testing this.

[2022-07-20 20:19] matthiaskrgr commented on #99387
This crashes since `nightly-2022-07-17` / d5e7f4782e4b699728d0a08200ecd1a54d56a85d  / #99346   hmm

[2022-07-20 20:26] clarfonthey commented on #93743
So, the reason why one can panic and one can't is basically because of the fact that indexes can't go below zero, and so you can always round down to 0, which is always a valid char boundary. Here, the context is that if you want to limit the size of a string in bytes, you can "round down" from that to a valid index, such that you can slice up to that.

For ceil... the general idea, if I'm being h

[2022-07-20 20:45] ehuss commented on #99502
This seems to be caused by #95956.

I was thinking #99292 might address this, but I tried that PR and it doesn't seem to work.  Maybe @Aaron1011 can confirm.

cc @yaahc

[2022-07-20 21:20] poliorcetics commented on #99522
I would like to work on this, where should I start ?

[2022-07-20 21:25] RalfJung commented on #80619
@joshtriplett the main open question is what is listed as unresolved question in the issue:

Basically we still promote arbitrary function calls inside const/static initializers. We need to decide whether we want to
- Live with this technical debt
- Try to slowly phase it out in favor of `const` blocks (once those are stable)

This is a MIR building thing so it could potentially be done at an edit

[2022-07-20 21:25] yaahc commented on #99502
Looks like another case of https://github.com/rust-lang/rust/pull/99288, `AsRawFd` is stable but the `std::os::wasi::io` module it lives in is not: https://doc.rust-lang.org/stable/std/os/wasi/io/index.html

Just need to add `#[cfg_attr(not(bootstrap), rustc_allowed_through_unstable_modules)]` and it should work.

[2022-07-20 21:50] alexcrichton commented on #83788
The `wasm-bindgen` crate hasn't updated to using this since it requires nightly Rust and it otherwise wants to compile on stable. I'm otherwise unaware of any other tooling using this myself.

[2022-07-20 21:50] jasl opened #99532 "expected a table, but found a array for `target.wasm32-unknown-unknown.ranlib`"
- macOS 12.5
- Rust nightly-2022-07-11

According to https://github.com/rust-lang/rust/blob/master/config.toml.example#L656

my `.cargo/config.toml`

[code]

When I'm compiling https://github.com/Phala-Network/khala-parachain
It errored with
[code]

[2022-07-20 22:15] poliorcetics commented on #99522
[code]

Progress, now to point to the end of the expression

[2022-07-20 22:19] #99060 closed

[2022-07-20 22:27] Skepfyr commented on #96128
I got some way towards minimising this although I'm pretty sure it still could be simpler than this: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c051d45438f4435e551f09dc2a9a3ad9

[2022-07-20 22:49] tspiteri opened #99534 "Incompatibility between rustc's libgcc_s_dw2-1.dll and MSYS2 mingw-w64-i686-gcc 11.3"
When the stable-i686-pc-windows-gnu toolchain's bin directory is at the beginning of the PATH variable (as will happen when using rustup), MSYS2 x86 gcc versions 11.3 and higher fail.

This can be reproduced
* on the MSYS2 MinGW x86 terminal
* install mingw-w64-i686-gcc package version 11.3 or higher (I tested with 11.3.0-2)
* include the toolchain's bin directory at the beginning of the PATH, for

[2022-07-20 22:59] complexspaces opened #99535 "Printing io::Error panics if current UNIX locale doesn't use UTF-8 encoding"
I tried this code:

[code]

With the test binary built:
[code]

This crash was encountered on a "stock" Fedora 36 installation. The issue is highly dependent on how your Linux system's locale is configured. It seems that it is up to the distro to configure [which locale encoding set](https://wiki.archlinux.org/title/Localization/Simplified_Chinese#Basic_Chinese_support) is used, in this specific c

[2022-07-20 23:02] ehuss commented on #99532
`config.toml` for the compiler is not the same as Cargo's `.cargo/config.toml`, they are two very different files.  The compiler's `config.toml` should be in the root of where you are compiling (usually the root of the repo).

[2022-07-20 23:04] complexspaces commented on #99535
@rustbot label +O-unix

[2022-07-20 23:32] hawkw opened #99536 "nightly 2022-06-29 rejects previously compiling code with missing trait implementations"
### Code

The `linkerd2-proxy` project fails to compile on nighty 2022-06-29 and later due to a "missing" implementation of a trait in an `impl Trait` return value. The same code compiles successfully on stable and on prior nightlies. The error occurs when using `impl Trait` as an associated type of a return value that is itself an `impl Trait`, when the associated type has trait bounds placed on

[2022-07-20 23:33] hawkw commented on #99536
Started attempting to find a minimal reproduction; [this playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=debe50e768cfcc6fcc78bb408e702c35) does not reproduce the issue, so clearly there is something more complex involved than *just* returning an `impl Trait` as an associated type of another `impl Trait`...

[2022-07-21 00:00] dtolnay commented on #93739
Closing as a duplicate of #46213.

[2022-07-21 00:00] #93739 closed

[2022-07-21 00:08] cryopie opened #99537 "Failed to extract DefId: local_def_id_to_hir_id in src/dep_graph/dep_node.rs"
Not sure how to do a minimal verifiable example. It's a fairly trivial error in Diesel where I removed a field from the model and the SQL `create table` statement, but hadn't yet removed it in other locations in the code.

### Meta

`rustc --version --verbose`:
[code]
### Error output

[code]

[code]
I ran a `cargo clean` after which `cargo build` worked just fine.  Can no longer reproduce the bug

[2022-07-21 00:56] RalfJung opened #99538 "Regular incremental (?) build failures during stage 0 build"
Regularly, when I do a `git pull` that skips over a few days worth of commits, or switch between branches based on different master commits, a `./x.py check` fails afterwards. It fails with errors like "lifetime may not live long enough" or "this associated function takes 2 generic arguments but 1 generic argument was supplied" -- regular build errors, not ICEs. The errors are completely bogus tho

[2022-07-21 01:28] workingjubilee commented on #99507
It can also fail to improve things at all, actually. It depends on your architecture.

We don't enable `panic = "abort"` because that would make the quality of the diagnostics that we get from users much worse, which would make it even harder to close the... let me see...

...8136 issues we have open, of the 44378 issues that have ever been opened against this repository. In particular, without hi

[2022-07-21 02:38] workingjubilee commented on #62256
It is my assertion that we had no such contract from the codegen backend thus the contract we were forging with users was always erroneous, and that we should simply drop the promise of offering no machine code emission, **even if** we manage to persuade our backends to comply, as frustrating as that might be. It should be explained as the most minimal barrier possible, which **should** be zero ma

[2022-07-21 03:10] workingjubilee commented on #70426
The `-Cinline-threshold` directive is now impotent, which, amusingly, fixes this problem.

[2022-07-21 03:10] #70426 closed

[2022-07-21 03:26] darbysauter opened #99542 "Rust not specifying Tag_ABI_VFP_args on some objects"
I’m trying to compile a static lib for armv7 to link with a C project. Targeting cortex r5 with vfp3d16 and armv7r-none-eabihf. But it fails to link with the cproject citing an object from the static lib “has a Tag_ABI_VFP_args attribute “0” that is different than previously seen “1”

This happens because some of the objects don’t specify it. 248 of the objects do specify 1 and the rest of the 277

[2022-07-21 03:26] dylni opened #99543 "Tracking Issue for `utf8_chunks`"
Feature gate: `#![feature(utf8_chunks)]`

This is a tracking issue for an improved API for [`str::from_utf8`](https://doc.rust-lang.org/std/str/fn.from_utf8.html).

### Public API

[code]

### Steps / History

- [x] Proposal: rust-lang/libs-team#54
- [x] Implementation: #99544
- [ ] Final comment period (FCP)[^1]
- [ ] Stabilization PR

### Unresolved Questions

- Should the constructor be `Utf8Ch

[2022-07-21 03:29] compiler-errors commented on #99536
@hawkw, are there rustdocs for `linkerd2-proxy` (or, specifically, one of the failing crates like `linkerd2-proxy/linkerd/app/inbound`? There's quite a few types here, and those would help, but I couldn't seem to find a rustdoc-style documentation from the website. I also may just be looking in the wrong place.

[2022-07-21 03:48] #73739 closed

[2022-07-21 04:44] joshtriplett commented on #83788
@alexcrichton Is there a chicken and egg problem there? I think we were waiting to consider stabilization until it was clear this was being used. :)

[2022-07-21 05:18] asquared31415 commented on #99296
[code]
Even simpler code, it doesn't need a struct at all.

[2022-07-21 05:21] asquared31415 commented on #99296
I believe this happens because there is no `Index` for `&[T; N]` and it instead coerces to a `&[T]` slice reference first, which we cannot do the bounds check on, since it has dynamic length.

[2022-07-21 05:32] izkluxcvy opened #99545 "Behavior when write option of std::fs::OpenOptions is false"
In std::fs::OpenOptions, the program panics when
`OpenOptions::new().write(false).truncate(true).`
However, when
`OpenOptions::new().write(false).append(true)`
, it works the same as
`write(true).append(true)`
and does not panic.
How about adapt the spec to one or the other?

[2022-07-21 06:12] compiler-errors commented on #99536
Soooooo, I think I got it to compile. This is not a _correct_ soltuion, because it causes a bunch of UI tests to fail. Draft PR:  #99547

This has to do with the fact that when we [`Equate::tys`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/relate/trait.TypeRelation.html#tymethod.tys) on an inference variable and an opaque type, we end up just inferring that inference variable t

[2022-07-21 06:51] oli-obk commented on #99536
That's on purpose. The only time we don't do that is for return types so that we can merge the types from all the return sites.

how did we miss this in the crater run :/

[2022-07-21 06:55] compiler-errors commented on #99536
@oli-obk linkerd isn't on crates.io i think? 🤔

[2022-07-21 06:57] oli-obk commented on #99536
we run github crates, too, and I was certain I have seen linkerd in crater reports before

[2022-07-21 07:12] jasl commented on #99532
I put my `.cargo/config.toml` into the root of the repo where I am compiling.
and the error message shows Cargo already read the config, but said it's invalid.

the problem is:

example shows

[code]

mine

[code]

the compiler shows

[code]

[2022-07-21 07:21] oli-obk commented on #99536
[code]

uhm... did crater not recognize the regression because it hit a `deny` for a lint?

also it seems like it didn't actually run on the sub-crates like `inbound` (at least I can't find it in the results).

nominating for t-types discussion, as there was a regression we didn't know about.

I think what all users that hit this desire is not actually `impl Send`, but "an opaque type that satisfi

[2022-07-21 07:31] compiler-errors commented on #99536
`f7a8ee98c63b6729e02f54a5182a9b7f56695922` seems really old

[2022-07-21 07:35] JohnTitor commented on #81074
@ssomers The implementation PR has been closed, do you want to follow up or could we close this tracking issue for now?

[2022-07-21 07:37] JohnTitor commented on #71503
@rust-lang/libs-api May I ask to kick off a FCP? Stabilizing it will unblock rust-lang/rust-clippy#9059.

[2022-07-21 07:51] Jasperav commented on #96645
Now I got the problem on 1.64 after a few builds, clean builds help but they take forever

[2022-07-21 07:56] ArtBlnd opened #99548 "Weird HRTB behavior with associate types."
I've trying to compile this code. but looks it

[code]

Everyone knows the lifetime of the `Foo(())` is general enough
[code]

If we remove `Output = B` and its generic type `B` it works fine.
[code]

or in other way, moving references associate type to method signature. it also works.
[code]

I guess at least this code should have same lifetime behavior as first one.
Am I doing wrong with somethi

[2022-07-21 08:07] poliorcetics commented on #99522
@rustbot claim

[2022-07-21 08:11] zakarumych commented on #77125
Why would anyone use `transmute` to extract integer value from `TypeId`?
Use `Hash::hash` to avoid `unsafe`ty  :)

I know that `Hash` implementation for `TypeId` does not guarantee to emit inner value from `TypeId` unmodified, but transmuting opaque type is no better.

And why it is a problem anyway? I thought that transmuting arbitrary `u64` back to `TypeId` is.

[2022-07-21 08:42] Amanieu commented on #71503
@rfcbot fcp merge

[2022-07-21 08:46] Amanieu commented on #71503
I think we should change the API to either:
- Use `&mut` for the closure argument (which is consistent with `HashMap`)
- Or add `retain_mut` like `Vec` does.

I personally prefer the first option: `retain_mut ` was only added to `Vec` because `retain` was already stabilized when we noticed the mistake.

@rfcbot concern &mut

[2022-07-21 09:01] ouz-a commented on #99363
This now crashes even without --edition=2021

[2022-07-21 09:17] mikialex opened #99551 "llvm failed to generate code when trait_upcasting feature used"
I tried this code:

[code]

I expected to see this happen: compile successfully

Instead, this happened: get a compile error:

[code]

### Meta

`rustc --version --verbose`:
[code]

no other backtrace logged

only debug build has this issue

[2022-07-21 09:32] GuillaumeGomez commented on #99041
You can wrap it into a code block like this:

[code]

Since it's not a bug, closing this issue.

[2022-07-21 09:32] #99041 closed

[2022-07-21 09:35] GuillaumeGomez commented on #98929
I'd say the second. `MyThing::default()` doesn't provide any useful information after all.

[2022-07-21 09:38] matthiaskrgr commented on #99363
Yes, the fix was reverted in https://github.com/rust-lang/rust/pull/99495 because of bad perf.

[2022-07-21 09:40] JohnTitor commented on #71503
Sounds good, should it be addressed in a stabilization PR or done before it?

[2022-07-21 09:40] GuillaumeGomez commented on #98828
We could hack something to make it appear as `Self` whereas the URL to the page remains `SelfTy`. I'll write something and propose a few ideas to see where it leads us.

[2022-07-21 09:51] joshtriplett commented on #82523
@RalfJung I was referring to your comment above saying that the future-incompat warning shipped in 1.62, which is the point at which people started seeing warnings about crates other than their own.

[2022-07-21 10:11] ouz-a commented on #99363
🥲

[2022-07-21 10:14] jasl commented on #99532
I tried to move `.cargo/config.toml` to the repo root

![388461658397705_ pic](https://user-images.githubusercontent.com/1024162/180188870-cb3669ce-aa61-4873-a7de-ef57163cc1ee.jpg)

then made a clean build
![388491658397748_ pic](https://user-images.githubusercontent.com/1024162/180188881-7e96022e-2ef9-41cf-978d-6756bfb6b072.jpg)

it fails again

[code]

so the rust or cargo don't read the `config

[2022-07-21 10:32] est31 commented on #99507
If you want to do it locally, you can add `cargo.rustflag("-Ctarget-cpu=native");` to `fn rustc_cargo_env` in `src/bootstrap/compile.rs` and then locally compile the compiler with that change. You will also have to enable all tools in config.toml. Then you can use it as a [local rustup toolchain](https://rust-lang.github.io/rustup/concepts/toolchains.html#custom-toolchains). But yeah you'll probab

[2022-07-21 10:56] lcnr opened #99554 "orphan check incorrectly handles projections"
We consider projections to be foreign types during orphan check

https://github.com/rust-lang/rust/blob/7ed044c075fc0e7ad2574d3144ca00ba14608d8f/compiler/rustc_trait_selection/src/traits/coherence.rs#L780-L782

but do not consider them to be parameters when checking for uncovered types https://github.com/rust-lang/rust/blob/ceeb5ade201e4181c6d5df2ba96ae5fb2193aadc/compiler/rustc_trait_selection/sr

[2022-07-21 11:10] apiraino commented on #98444
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2398444.20Taking.20a.20shared.20reference.20of.20an.20array.20suppresses.20the.E2.80.A6)).

@rustbot label -I-prioritize +P-medium

[2022-07-21 11:26] Amanieu commented on #71503
This can be addressed in the stabilization PR but we do need to make a decision here.

[2022-07-21 11:28] m-ou-se commented on #71503
Agreed.

[2022-07-21 11:39] yoshuawuyts commented on #89780
The FCP on https://github.com/rust-lang/rust/issues/70922 has completed and the `task::ready!` macro will be available from Rust 1.64 onwards.

[2022-07-21 12:08] apiraino commented on #99554
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2399554.20orphan.20check.20incorrectly.20handles.20projections)).

@rustbot label -I-prioritize +P-high

[2022-07-21 12:29] RalfJung commented on #99538
Here re the non-comment non-empty lines of my config.toml:
[code]

[2022-07-21 12:48] bstrie commented on #99502
I'll work on this.

[2022-07-21 13:22] TheWastl commented on #98444
This is caused by #94934. It only ever worked because the lint ran after optimizations.

I made a fix [here](https://github.com/TheWastl/rust/commit/090872eb3d6ca04ed5c5ed78af224c5648c85da0). It specializes the length of arrays as constant, even if the array isn't. I'm going to open a PR when I have time, probably tomorrow.

In the long term, I'd like to implement some more extensive tracking of "

[2022-07-21 13:28] ehuss commented on #99532
Ah, you are not building the compiler.

You referenced https://github.com/rust-lang/rust/blob/master/config.toml which is only for building the compiler. It is a different configuration file.

https://doc.rust-lang.org/cargo/reference/config.html contains documentation for `.cargo/config.toml` files. There is no such setting as `ranlib` there.

I'm going to close as this does not appear to be an i

[2022-07-21 13:28] #99532 closed

[2022-07-21 13:28] davidtwco commented on #39153
I did a little survey of the macros provided by the standard library/compiler to check @wesleywiser's hypothesis that we could do something intelligent here based on what token kinds are used by a macro:

Macro | Token kinds | Desirable behaviour (collapsed/not collapsed)
------|-------------|----------------------------------------------
`concat_bytes!` | `literal` | Collapsed
`concat_idents!` |

[2022-07-21 13:46] ncopa commented on #96876
I was able to crosscompile a rust binary for riscv64 using rust-1.62.0 and llvm14. The built rust compiler did not segfault when running the two testcases above:
[code]

[2022-07-21 14:06] fee1-dead commented on #95094
@rustbot claim

[2022-07-21 14:12] safinaskar opened #99560 "Hard-to-understand order of lines in backtrace"
Rust backtraces are hard to read. Let's consider this example ( https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e171ae87e31ca0f91a502a619f2070ee ):
[code]

How I would pronounce backtrace in my own words? I would say: "Entered `main`, then executed until we reached `main.rs:10`, then entered `f`, then got to `main.rs:6` and called `g`...". In other words, I first pronounce

[2022-07-21 14:35] alexcrichton commented on #83788
Personally I think this is more of a "what is C going to do" problem for stabilization. I don't think Rust is in the position to blaze a trail here when C/C++ otherwise can't access it. One of the main purposes of this ABI is to give access to the ability to define a multi-return function in WebAssembly, but C/C++ have no corresponding mechanism to do that. Until C/C++ figure out how they're going

[2022-07-21 14:55] abhishekdhamale opened #99561 "Main thread panicking at assertion after latest nightly update (d68e7ebc3 2022-07-20)"
We are checking file timestamps in our project but main thread is panicking at the assertion after latest nightly update. Earlier it was working fine.

Here is full `backtrace`

[code]

Version after latest update.
[code]

[2022-07-21 15:35] ChrisDenton commented on #99561
Can you confirm that it still works on old nightly or stable?

[2022-07-21 16:01] padenot opened #99563 "ICE when compiling `cubeb-coreaudio-rs` (macOS only)"
### Code

Tip of https://github.com/mozilla/cubeb-coreaudio-rs/ (or at least `44eca95823`). This only happend when doing `cargo test`, not when doing `cargo build`. This works well in current release. I'm running this on an Apple Silicon Macbook, but I'm not sure it matters.

### Meta

`rustc --version --verbose`:
[code]

### Error output

Immediate backtrace, copied below:

<details><summary><str

[2022-07-21 16:04] GoldsteinE opened #99565 "“consider specifying the generic arguments” is confusing when some types are unnameable"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0a9a81dc70d5d9e9873ad7b65a6975d9

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

Or alternatively shouldn’t contain the suggestion at all.

[2022-07-21 16:13] GoldsteinE commented on #99565
Oh, and `cargo build` doesn’t show the suggestion for some reason, but check/clippy does.

[2022-07-21 16:16] matthiaskrgr commented on #99563
might be the same underlying issue as in https://github.com/rust-lang/rust/issues/99387

[2022-07-21 16:21] #96797 closed

[2022-07-21 16:22] fmease opened #99566 "Const parameter inside `for<>` closure parameter list (feature `closure_lifetime_binder`) crashes the compiler"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

@rustbot label requires-nightly A-const-generics

[2022-07-21 16:29] scottmcm commented on #71668
@rfcbot concern define-required

I don't think we should FCP this without a specific plan for exactly what we're deciding here.  It says "require", but that could be everything from lint-warn to hard-error.

From what I can tell from <https://github.com/rust-lang/rust/search?q=unsafe_op_in_unsafe_fn+path%3Asrc%2Ftest>, it seems like there's not yet a machine-applicable fix for the lint either.  I

[2022-07-21 16:45] Lokathor commented on #71668
there's two machine updates that seem reasonable:
* wrap the entire function body in an unsafe block.
* just mark the crate as allowing the lint.

[2022-07-21 16:57] Emm54321 opened #99568 "Crash using mlua crate."
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-21 17:08] abhishekdhamale commented on #99561
@ChrisDenton thanks for your reply. We found that it was due to wrong configuration in the `config.toml` file not because of `rustup update`. Because of wrong configuration it was generating empty bin file therefore while comparing file timestamp assertion was failing causing main thread to panic. closing this issue now.

[2022-07-21 17:08] #99561 closed

[2022-07-21 17:49] eddyb commented on #77125
I'd say this is blocked on #99189 for now, if for no other reason than the "structural match" aspect.
(i.e. future-proofing `TypeId` by disallowing using `TypeId` constants as patterns and requiring `==`)

[2022-07-21 18:03] eddyb commented on #39153
Do we have any debuginfo attributes at all today? I'm worried about the ad-hoc nature of `#[collapse_debuginfo]`.

As per https://github.com/rust-lang/rust/issues/39153#issuecomment-1187640031, I'm wondering if tackling this from the `#[track_caller]`/`Location::caller()` side of things might result in a better interface for e.g. macro authors, and then debuginfo just follows from there.

At the v

[2022-07-21 18:08] jswrenn opened #99571 "Tracking Issue for Transmutability Trait: `#[transmutability]`"
Feature gate: `#![feature(transmutability)]`

This is a tracking issue for [MCP411: *Lang Item for Transmutability*](https://github.com/rust-lang/compiler-team/issues/411). The MCP defines an experimental, compiler-implemented trait that can be used to audit whether a particular transmutation (or other form of bit-reinterpretation cast) is safe.

At this time, this feature is **NOT** on track to s

[2022-07-21 18:09] Emm54321 commented on #99568
Indeed, it works with 2022-07-20.
I assumed 'rustup update' would give me the latest nightly version, but it gave me 2022-07-18.

[2022-07-21 18:09] #99568 closed

[2022-07-21 18:16] faern commented on #71668
I'd like to add:

- wrap each unsafe statement in separate unsafe blocks.

That's usually how I try to code. So there is a logical place to put the safety documentation for each unsafe statement.

[2022-07-21 18:20] 5225225 commented on #99568
`rustup update` will skip versions that don't have all the components you have, to avoid things not working. Do you have `miri` installed? Miri doesn't work in the latest versions.

[2022-07-21 18:22] Lokathor commented on #71668
But making several small unsafe spans doesn't document the code. Only a human can do that. So I think the auto-fix should lean towards making it very clear that there was just a blanket fix applied, not a careful inspection.

[2022-07-21 18:26] Emm54321 commented on #99568
Ah right, I have miri installed.
Anyway, thanks for your time.

[2022-07-21 18:50] Hoverbear opened #99572 "Misleading error when implementing foreign trait on pointers to local types"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=e0a6148a3b4952ab3abd1f4bd7784029

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2022-07-21 18:52] vadimcn commented on #39153
Technically this is possible, but hard to accomplish in practice.   One would need to:
1. Come up with a novel representation for macro expansions for both debug info formats (DWARF and PDB)
   1.1  Convince DWARF Committee and Microsoft to accept it into their standards.
2. Modify Rust's private LLVM to emit this information.
  2.1 Upstream it to mainline LLVM.
4. Modify all debuggers out there (

[2022-07-21 18:55] the8472 commented on #99545
Can you provide example code - e.g. on the [rust playground](https://play.rust-lang.org/) - that reproduces the issue?

[2022-07-21 19:33] compiler-errors commented on #99572
This could use some work I think. Maybe "impl mentions type from outside the current crate" could work, though we should probably make sure that wording is compatible with current coherence rules.

Though, in this case, for a non-`#[fundamental]` self type like `*mut _`, we could then replace that^ message with something even more specific.

I'm a bit skeptical of mentioning "try implementing `Tra

[2022-07-21 19:43] #52304 closed

[2022-07-21 19:43] #99408 closed

[2022-07-21 19:48] chrisprice opened #99575 "`Unimplemented` selecting `Binder(<std::pin::Pin<std::boxed::Box<B>> as std::ops::Drop>, [])`"
### Code

[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

[2022-07-21 20:05] fmease commented on #99575
ICE also happens on nightly.

<details>
<summary><b>Backtrace</b></summary>
[code]
</details>

[2022-07-21 20:05] ChrisDenton commented on #99545
Are you on Windows?

It seems we currently [hard code it to return an error](https://github.com/rust-lang/rust/blob/1673f1450eeaf4a5452e086db0fe2ae274a0144f/library/std/src/sys/windows/fs.rs#L225-L234) if none of read, write and append are set.

This behaviour was decided years ago based on [RFC 1252](https://rust-lang.github.io/rfcs/1252-open-options.html). `append` is considered a separate acces

[2022-07-21 20:28] ChrisDenton commented on #99545
<details>
<summary><a href="https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=920e2106907f13b4ff5dad5b86319d74">playground link</a></summary>

[code]
</details>

[2022-07-21 20:41] the8472 commented on #99545
Ah, if we hardcode it to return an error then we can return a better error message.

[2022-07-21 21:43] JohnTitor commented on #96572
Re-opening as https://github.com/rust-lang/rust/pull/98582 has been reverted: https://github.com/rust-lang/rust/pull/99495

[2022-07-21 22:08] compiler-errors commented on #99575
This is a fun issue. It's because `Pin<T>` is `#[fundamental]`.

We should be disallowing `impl Drop for Pin<Box<A>>` though. Put up a PR in #99576 to do this.

[2022-07-21 23:05] fmease commented on #99565
@rustbot label D-invalid-suggestion
@rustbot claim

[2022-07-21 23:07] joshtriplett commented on #71503
Agreed: let's make it `retain`, and perhaps mention something in its documentation for people who might be looking for `retain_mut`.

[2022-07-21 23:41] Amanieu commented on #71503
It seems we have a consensus to make `retain` take a closure with `&mut T`.

@rfcbot resolve &mut

[2022-07-22 00:22] c410-f3r commented on #89065
Is there anything blocking the stabilization of this feature?

[2022-07-22 00:25] yanchen4791 commented on #95079
@rustbot claim

[2022-07-22 00:54] vincenzopalazzo commented on #99572
Let's improve this case!

@rustbot claim

[2022-07-22 01:33] #99461 closed

[2022-07-22 01:38] mdholloway commented on #61137
Not anymore as of #99501.  Can't tell whether it's permanently or only temporarily gone, though.

[2022-07-22 02:00] workingjubilee commented on #85238
I'm going to trust @glaubitz's assessment of this as a duplicate of #81334 and close this, in the absence of indications otherwise. This can be reopened if this analysis proves premature down the line.

[2022-07-22 02:00] #85238 closed

[2022-07-22 02:00] saethlin commented on #80674
Should this have been closed by https://github.com/rust-lang/rust/pull/89926?

[2022-07-22 02:09] crlf0710 commented on #80674
Seems indeed so. Closing.

[2022-07-22 02:09] #80674 closed

[2022-07-22 02:15] thomcc commented on #62256
I think it's still wrong to emit a call to a function we don't provide via compiler-builtins on that target.

Admittedly looking at compiler-builtins now it's unclear why it's not provided, although ideally we wouldn't emit the call either way.

[2022-07-22 02:33] matheus-consoli opened #99584 "Compiler suggestions give invalid syntax when trying to constraint associated type with a trait that has the same name as a derive macro"
Sorry if this is duplicated, I think it's well known that problems with derive macros and their correspondent traits are quite a pain to handle, but I couldn't find this reported yet.

Given the following code: [play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=2318f3f870cbcd28950dc28e2d0bfe6c)

[code]

The current output correctly tells me that I need to constrain the

[2022-07-22 02:42] workingjubilee commented on #81334
...Does LLVM, or any of our codegen backends for that matter, actually support PowerPC 32-bit LE targets? Do they really exist? I know PowerPCs are bi-endian, but I thought the endian-switch bit was an extension that 32-bit architectures didn't have to include.

Well, I do know we don't actually support any ppc32le Rust targets. I don't think it would exactly be what one would call a "maintenance

[2022-07-22 02:44] workingjubilee commented on #42743
I don't see why easily-consumable documentation would be necessary for stabilization if we had alternative means of verification.

[2022-07-22 02:45] jrtc27 commented on #81334
Yes. https://reviews.llvm.org/D93918

[2022-07-22 02:48] kevinushey opened #99585 "Expand documentation on cfg!(windows) and cfg!(unix)?"
https://doc.rust-lang.org/reference/conditional-compilation.html includes an example showing how the `windows` and `unix` configuration shortcuts can be used:

[code]

Perhaps naively, after reading that, I figured I could have macOS-only Rust code with something like:

[code]

However, `macos` is not actually a defined configuration option on macOS. Some options that I think could improve the sit

[2022-07-22 02:54] kevinushey commented on #99585
Of course, now I realize that's spelled out here:

https://github.com/rust-lang/reference/blob/a92be0fef439b3d8e0468d82cb24812d303520a0/src/conditional-compilation.md#L145-L148

It didn't click that `target_family` is set by default (presumedly?) by Rust during compilation.

[2022-07-22 02:55] #99585 closed

[2022-07-22 03:30] reez12g commented on #98168
@rustbot release-assignment

[2022-07-22 03:54] Hoverbear commented on #99572
This was actually closer to my original error I got, it uses a type alias to create some extra confusion:

[code]

[2022-07-22 04:01] rust-highfive opened #99589 "`miri` no longer builds after rust-lang/rust#99420"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#99420, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @RalfJung, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-07-22 05:01] yanchen4791 commented on #95079
I came up with a solution of printing an extra line of `help:` to give user a recommendation of fixing the error by adding 'move' keyword before the closure parameter of map(). The following is the output for the first testing code. Is this good enough?
[code]

This is the output from the second testing code (`slightly more minimal`):
[code]

[2022-07-22 05:36] mitchmindtree opened #99591 "Latest nightly (`rustc 1.64.0-nightly (62b272d25 2022-07-21)`) introduces a new borrowcheck error in previously compiling `mdbook` `0.4.20`"
As of `rustc 1.64.0-nightly (62b272d25 2022-07-21)`, a new lifetime error has appeared when attempting to build `mdbook` `0.4.20`.

### Error

[code]

### Version it worked on

rustc 1.64.0-nightly (d68e7ebc3 2022-07-20)

### Version with regression

rustc 1.64.0-nightly (62b272d25 2022-07-21)

### Details

You can find more details at the downstream `mdbook` issue https://github.com/rust-lang/mdB

[2022-07-22 06:16] oli-obk commented on #99490
I'm fairly certain we don't run simplify cfg on MIR before doing borrowck.

Borrowck still does enough dataflow analysis to realize that everything after the panic is dead. I guess typeck will to it correctly... so maybe we have to return all hidden types from typeck and seed the borrowck hidden types with it (so that borrowck only fills in the lifetimes instead of also figuring out the types)

[2022-07-22 06:22] compiler-errors commented on #99490
doesn't this run before borrowck: https://doc.rust-lang.org/nightly/nightly-rustc/src/rustc_mir_transform/lib.rs.html#244

[2022-07-22 06:41] oli-obk commented on #99490
Oh... huh... i was sure I've seems dead code in borrowck before, guess not. Either way, the "grab things from typeck" plan would work here, too

[2022-07-22 06:51] MasterPtato commented on #99106
Thanks for the reply and explanation. It would be a nice feature to create some downright disgusting recursive macros, but hygiene is important :blush:

[2022-07-22 06:51] #99106 closed

[2022-07-22 09:19] Jake-Shadle opened #99596 "Static variables are not exported on multiple platforms."
It appears that #88092 has regressed in nightly, The last working nightly we used was `rustc 1.64.0-nightly (d68e7ebc3 2022-07-20)`, `rustc 1.64.0-nightly (62b272d25 2022-07-21)` was the first nightly that stopped working correctly.

I tried this code:

[code]

I expected to see this happen:

`cargo build --release --target wasm32-unknown-unknown && wasm2wat target/wasm32-unknown-unknown/release/m

[2022-07-22 09:38] #99255 closed

[2022-07-22 09:38] #99525 closed

[2022-07-22 09:40] 5225225 commented on #99591
Ran a bisection in `mdBook`, version https://github.com/rust-lang/mdBook/commit/92afe9bd3c220eded410b91bffe8cf17d1eca129

Looks to be a rollup, #99567. None of them jump out as obvious candidates.

---

searched nightlies: from nightly-2022-07-20 to nightly-2022-07-22
regressed nightly: nightly-2022-07-22
searched commit range: https://github.com/rust-lang/rust/compare/d68e7ebc38cb42b8b237392b2804

[2022-07-22 09:46] 5225225 commented on #99591
This might actually be https://github.com/rust-lang/rust/pull/99413 ? A btreemap is *used* in that bit of code, but it's talking about a RenderContext.

[2022-07-22 09:57] ArtBlnd commented on #99548
I think its because there is no way to proof (or very hard way using dyn and HRTB) generic type `B` has HRTB lifetime `'a` current rust implementation.

[2022-07-22 10:58] SadiinsoSnowfall opened #99597 "Incorrect compiler hint on missing stricter trait bound"
Let's consider the following snippet:
[code]
The compiler will throw the following error + hint:
[code]

But the hint is not correct: changing the `go` function as suggested by the compiler
[code]
Will result in a new error:
[code]

The compiler hint should be something like this:
[code]

The only case where just adding the restriction works out of the box is when taking an owned value as a parame

[2022-07-22 12:02] gimbles commented on #99387
@matthiaskrgr Might be better to use a GitHub gist or similar and link to it instead. :)

[2022-07-22 12:44] theCapypara commented on #89143
I stumbled upon this issue today. In case it helps, here's my particular setup:

Crates involved:
- mio v0.8
- amiquip v0.4.2

`amiquip` provides a trait and an impl as such:
[code]

When trying to use pass a v0.8 `TcpStream` to a method of `amiquip` that wants an `IoStream` I get the following error:

[code]

This is by far the worst error message the Rust compiler has given me so far.
It took me

[2022-07-22 12:51] RalfJung opened #99601 "Random CI failures in xvt (part of cargotest)"
https://github.com/rust-lang/rust/pull/99420 failed twice with the exact same error in xvt (part of cargotest), but the third attempt worked fine. I have not checked whether this happened to other PRs, but it seems somewhat concerning.

The error is thousands of lines long and ends in
[code]
(but there is more than one assertion failure here)

[2022-07-22 13:00] RalfJung commented on #99601
Duplicate of https://github.com/rust-lang/rust/issues/98068, https://github.com/rust-lang/rust/issues/73514

[2022-07-22 13:00] #99601 closed

[2022-07-22 13:01] RalfJung commented on #73514
This just bit me and took a lot of time as I triple-checked that after bors failing twice (!) in xsv, the same test actually works fine on my system.

[2022-07-22 13:02] RalfJung commented on #98068
Duplicate of https://github.com/rust-lang/rust/issues/73514

[2022-07-22 13:02] #98068 closed

[2022-07-22 13:05] RalfJung commented on #73514
The xsv test suite seems to be full of quickcheck tests, so I think the only way to fix this is to remove xsv from cargotest (or to only run a short list of curated tests).

[2022-07-22 13:10] ehuss commented on #73514
@RalfJung See #70659 where there is some discussion fo changing the cargotest set.  I think [the last comment](https://github.com/rust-lang/rust/issues/70659#issuecomment-653252631) implies dropping xsv.

[2022-07-22 13:27] RalfJung commented on #73514
Hm, that discussion seems to have stalled though.

So to fix the immediate problem, I propose we do something like https://github.com/rust-lang/rust/pull/99602.

[2022-07-22 13:57] 5225225 opened #99604 "`repr(Rust)` unions (including `MaybeUninit`) do not preserve padding bytes"
The following program isn't detected to have any UB in miri, and doesn't hit the panic, but *does* panic when ran (with or without optimizations) normally (using LLVM)

[code]

Panics with "`got bbccdd`", so the padding byte, presumably at `aa`, got zeroed.

The LLVM IR for `print` says it passes it as 2 arguments, so it makes sense that the padding is getting zeroed.

`define void @_ZN10playgroun