[2019-09-05 13:52] nikomatsakis commented on #63687
check-in from compiler triage:

marking as p-high, but @petrochenkov has a pending fix already 🎉

[2019-09-05 13:54] nikomatsakis commented on #63479
check-in from compiler triage:

@pnkfelix is back next week. A few weeks back, @archseer reported a real project affected by this regression (sorry!). As I wrote last week, from a lang-team perspective this falls into a grey zone, though I personally am inclined to try and accept the code, both for backwards compat reasons and because I don't think there's a compelling reason not to (though that d

[2019-09-05 13:54] nikomatsakis commented on #63479
I'm going to leave this one nominated to bring it to felix's attention.

[2019-09-05 13:57] archseer commented on #63479
For the time being I've worked around the problem by taking the function pointers, casting them to usize then comparing that: https://github.com/archseer/enigma/commit/81e4fea43dce29501acce83d468ae7819917d8dd

[2019-09-05 14:00] nikomatsakis commented on #51635
One option @vityafx would be to use [cargo-bisect-rustc](https://github.com/rust-lang-nursery/cargo-bisect-rustc) to diagnose the exact nightly which caused the problem. That would be very helpful!

[2019-09-05 14:05] oli-obk commented on #63197
Well... you could have all of the below under the assumption that `#[final_static]` statics cannot be read from other statics, but can only be declared ... and while writing this, I realized, that's true even true right now... so ignore me.

[code]

[2019-09-05 14:06] vityafx commented on #51635
@nikomatsakis  Can do!

[2019-09-05 14:09] nikomatsakis commented on #63895
Discussed in [compiler triage meeting today](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/weekly.20meeting.202019-09-05.20.2354818/near/174976832). Closing as expected and reasonable.

[2019-09-05 14:09] #63895 closed

[2019-09-05 14:12] nikomatsakis commented on #63893
Nominating for lang team to check-in, but recommendation from @petrochenkov is to mark this as "won't fix".

[2019-09-05 14:13] nikomatsakis commented on #63891
check-in from compiler triage: this is the result of a bug-fix and is considered expected breakage. Closing.

[2019-09-05 14:13] #63891 closed

[2019-09-05 14:14] nikomatsakis commented on #63886
This is a result of https://github.com/rust-lang/rust/pull/63083, which was a (largely) bug fix that made lifetime parameters use hygiene in a comparable way to other things. Nominating for lang but recommendation is "won't fix".

[2019-09-05 14:16] nikomatsakis commented on #63894
check-in from compiler team:

Closing as expected breakage. Precise output from token pretty printing is not considered stable.

[2019-09-05 14:16] #63894 closed

[2019-09-05 14:17] tomaka opened #64176 "Lifetime error when Send is enforced on async function return type"
Just like a lot of lifetime issues, I'm not actually sure whether this is a bug in the compiler or a bug in my code.

The following code:

[code]

Triggers the following compilation error:

[code]

Replacing `T: Send` with just `T` makes it compile fine.

Replacing `async fn run<F>(mut foo: F)` with `async fn run(mut foo: FooImpl)` (ie. removing the generic parameter) also works fine.

Code explan

[2019-09-05 14:20] nikomatsakis commented on #63885
Check-in from compiler team:

This is some sort of issue triggered by upgrading RustcSerialize to Rust 2018. It is specific to the rustc-serialize crate itself, as partially caused by having `derive(RustcSerialize)` in a "semi-blessed" state, i.e., built-in to compiler but also in a crate. Not a general purpose problem. Closing as "no action required".

[2019-09-05 14:20] #63885 closed

[2019-09-05 14:21] Centril commented on #63967
cc @nathanwhit @varkor

[2019-09-05 14:24] nikomatsakis commented on #63967
Check-in from compiler team:

Marking as P-high " as this is a regression, though admittedly one without particularly serious consequences (the lint can always be allowed).

@nathanwhit or @varkor, perhaps one of you can take a stab at this? Please [claim the issue](https://github.com/rust-lang/triagebot/wiki/Assignment) if you do start working on it (even if it's just to write mentoring instructi

[2019-09-05 14:24] nikomatsakis commented on #63967
Also, it'd be great to get a minimized version of the problem. Therefore, marking as E-needs-mvce.

[2019-09-05 14:28] petrochenkov commented on #63885
The reason of breakage is that https://github.com/rust-lang/rust/pull/63449 migrated `derive(RustcEncodable, RustcDecodable)` to 2018 edition as a part of compiler simplification (these macros now take their edition from libcore in which they are defined).

As a result, code like this was broken:
[code]

Code like this appears either in code using unstable crate `serialize` from sysroot, or inside

[2019-09-05 14:30] GuillaumeGomez commented on #64162
I agree, it's been already a few times that people are having issues with this.

[2019-09-05 15:07] matthewjasper commented on #31567
Reopening for visibility (other fixed-by-NLL bugs are kept open)

[2019-09-05 15:20] Xanewok commented on #43982
The backtrace in the OP is outdated or at least that's not the issue I first encountered.

In general it seems that generating save-analysis from libcore triggers a debug-assertion (which is why it came up recently when running dist builds with `-C debug-assertions=y`).

I managed to reproduce it with:
[code]
by running
`$ RUSTC_SAVE_ANALYSIS=api ./x.py build`

The current backtrace I'm getting is

[2019-09-05 15:42] ghedo commented on #53488
@blitzerr could you please provide a status update on this? it looks like the related issues (#57482 and #60205) had some work done, but they look stuck now. Anything that needs help with? Not sure if I can do anything, but I can try :)

[2019-09-05 16:00] rkruppe commented on #64102
I don't want to retreat ground that has been covered to exhaustion and beyond in the RFC discussion, but since all discussion here including the issue text is not even mentioning [the key point that was blocking the `black_box` name](https://github.com/rust-lang/rfcs/pull/2360#issuecomment-462873229) it seems necessary to quote it again:

The semantics this concern was in reference to is (roughly)

[2019-09-05 16:10] jkarneges commented on #62321
Are there plans to make this possible someday? More generically, I think this would be a matter of allowing opaque types to be named?

This would also be useful for storing non-boxed Futures in a container like Vec. I managed to get this to work using type inference, but it felt a little dirty.

[2019-09-05 16:17] #60680 closed

[2019-09-05 16:18] BatmanAoD commented on #62321
Is it guaranteed that `async fn` will return an `impl Future`? If so, you will at least be able to make a type alias at some point: https://github.com/rust-lang/rust/issues/63063

That said, I don't see how that could help with getting the size of an `async fn ->` return type.

[2019-09-05 16:27] #63707 closed

[2019-09-05 16:27] #63821 closed

[2019-09-05 16:27] #61281 closed

[2019-09-05 16:27] #63167 closed

[2019-09-05 16:27] #64059 closed

[2019-09-05 16:27] jkarneges commented on #62321
I think it could help? Here's getting the size using `size_of` rather than `size_of_val`, by constructing the opaque type and throwing it away, without taking a reference:

[code]

[2019-09-05 16:28] rust-highfive opened #64179 "`rls` no longer builds after rust-lang/rust#64172"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#64172, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and @rust-lang/compiler -- nominat

[2019-09-05 16:28] rust-highfive opened #64180 "`rustfmt` no longer builds after rust-lang/rust#64172"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#64172, I observed that the tool rustfmt no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rustfmt is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and @rust-lang/compiler --

[2019-09-05 16:32] BatmanAoD commented on #62321
That's not even using a type alias, though! I didn't know you could just call `async fn`'s directly from sync `fn`s, but your code actually works as-is in nightly: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0929f776acca7565497bab5acfe0fe13

[2019-09-05 16:44] alex opened #64183 "Make x86_64-linux-kernel target be tier-2"
This would mean compiling libcore in CI, and publishing those artifacts. This would add a lot of value to the efforts to get Rust support into the mainline kernel, since it will mean all the building can be done with just cargo, no 3rd party tools.

I'm happy to do whatever work is needed to wire this up, but I wasn't sure what code needs changing to make this happen! If someone can point me the r

[2019-09-05 16:49] eddyb commented on #62321
@jkarneges You can just return a pair of both `T` and `usize`, though, and that should let you both log the size and keep using the future.

[2019-09-05 17:05] jkarneges commented on #62321
Hmm, I suppose what I'm asking for is not an alias for all kinds of an opaque type, but an alias for a single kind of an opaque type. For example, if I have two async fn's foo() and bar(), each returning distinct `impl Future` types, it would be useful to be able to individually name the return types of each one. If the return type of foo() could be named `FooFuture`, that could make it possible t

[2019-09-05 17:13] Centril commented on #64183
Already? We landed the `-linux-kernel` target like 1 hour ago...

[2019-09-05 17:19] alex commented on #64183
If there's a preference for letting it sit for a while first, I'll of
course defer to that. It was built entirely on an out of tree target that'd
been stable for a while, so I expect it will be too  :-)

On Thu, Sep 5, 2019, 12:15 PM Mazdak Farrokhzad <notifications@github.com>
wrote:

[2019-09-05 17:25] estebank opened #64184 "Extend `span_label` to include fallback operation"
There are occassions where `DiagnosticBuilder::span_label` can be called with a `DUMMY
_SP`. The current behavior is we don't show those labels at all in the output. In some cases that is the correct behavior. In others, we proactively look for `DUMMY_SP`s and emit a `note` instead. I assume that the former is the most common behavior right now, although I do not know which behavior is most desire

[2019-09-05 17:27] he32 commented on #63828
Hmm, it looks like this specific issue only crops up if you try to use an external LLVM
via use of the `--enable-llvm-link-shared` and `--llvm-root=<directory>` flags.

However, there is still problems with cross-compilation, but I'll file that as a separate
issue since the symptom is quite different, so I'll close this one for now.

[2019-09-05 17:27] #63828 closed

[2019-09-05 17:27] nathanwhit commented on #63967
I'll work on this. Looking into it a bit, I think it has to do with the lint's interaction with custom proc macro attributes. Specifically, when the item `TokenStream` passed to the attribute contains a redundant semicolon, every span in the `TokenStream` is the dummy span. This occurs in both this issue and #63947. It's definitely due to the changes to the parser, but I'm not sure why the changes

[2019-09-05 17:34] he32 opened #64185 "Cross-compilation of rust 1.37.0 fails with multiple crate matches"
Having dealt with issue #63828, another one crops up which is more directly
related to rust.  While building, I hit several instances of this particular error message:

[code]

This error is only seen when trying to cross-compile rust itself; in this instance
I'm building on `NetBSD/amd64` with `NetBSD/aarch64` as target.  The same problem
is seen for the other non-native targets I usually cross-b

[2019-09-05 17:56] nikomatsakis commented on #62601
Sounds good, thanks! Closing per [this conversation](https://github.com/rust-lang/rust/pull/63347#issuecomment-525172315).

[2019-09-05 17:56] #62601 closed

[2019-09-05 18:15] mati865 commented on #64185
Basically duplicate of https://github.com/rust-lang/rust/issues/62558

Tools cannot be build when cross compiling.

[2019-09-05 18:40] estebank commented on #64167
I could have sworn we had it already :-|

[2019-09-05 18:55] alexcrichton commented on #64187
I've transferred this to the rust-lang/rust repository after debugging it and am working on a fix locally (the fix is here in the compiler, not in Cargo)

[2019-09-05 18:57] joshtriplett commented on #63943
I'm not sure why this was filed in addition to #63909; I think #63909 completely addresses this, assuming we either merge it or stabilize `#[unwind]` before the next beta. I'm going to close this issue as a duplicate of #63909. If you feel there's a distinct issue here that #63909 wouldn't address, please clarify that and we can always reopen it.

[2019-09-05 18:57] NNemec commented on #27731
Did anything significant change between 1.37.0 and current nightly concerning this feature? I have been playing with using repr(simd) in cgmath and find that it works as expected building with 1.37.0, but when switching to nightly-2019-09-04 without changing anything else, repr(simd) appears to be completely ignored. I see the difference in the LLVM code which is "align 16" with 1.37.0 bu "align 4

[2019-09-05 19:01] CryZe commented on #27731
There was a LLVM update.

[2019-09-05 19:09] NNemec commented on #27731
That might well be the reason. Are there any CI builds that would detect this kind of issue? Has anyone else observed problems with repr(simd) in nightly? Or can anyone confirm that it still works for them? I see the problem at least back to 2019-08-01, but I have no idea whether I am doing anything special that might trigger the problem.

[2019-09-05 19:13] olegnn opened #64193 "1946-intra-rustdoc-links issue"
**Problem**

Links created according to [1946-intra-rustdoc-links](https://rust-lang.github.io/rfcs/1946-intra-rustdoc-links.html) either don't work as expected or work with ```warning: `[...]` cannot be resolved, ignoring it...```.

**Steps**

1. Go to https://rust-lang-nursery.github.io/futures-api-docs/0.3.0-alpha.18/futures/channel/mpsc/struct.TryRecvError.html.
2. Click on `try_next` link.
It

[2019-09-05 19:34] Alexhuszagh commented on #62146
Ok I've found the issue with building a crate with a "cdylib".

Merely removing `#[derive(Debug)]` from types that are not publicly exposed to the root, and those that store a slice of data (or implement Debug as a slice, like a vector), crate fixes the issues. The diff to patch lexical-core was:

[code]

I wasn't able to get a minimum example up-and-running, but it seems pretty clear a symbol is

[2019-09-05 19:40] AlterionX commented on #38078
Has there been any progress on this front? Was just curious if there was/will be/is planned to have an update of some sort.

[2019-09-05 19:50] shawntabrizi commented on #64143
This ICE is not blocking anything on my side.

[2019-09-05 20:00] vityafx commented on #51635
1) nightly-2019-05-07 - other errors (some enums were unsupported) with code lines in the message.
2) nightly-2019-08-04 - current errors without code lines in the message.

Anything else?

[2019-09-05 20:01] joshtriplett commented on #64183
We want to get there eventually, but I expect this will need to wait for a while. We should find out everything needed to make this tier 2, but I do think it'll need to wait until we have the solution a little more complete.

[2019-09-05 20:09] alexcrichton opened #64191 "Add support for splitting linker invocation to a second execution of `rustc`"
This issue is intended to track support for splitting a `rustc` invocation that ends up invoking a system linker (e.g. `cdylib`, `proc-macro`, `bin`, `dylib`, and even `staticlib` in the sense that everything is assembled) into two different `rustc` invocations. There are a number of reasons to do this, including:

* This can improved pipelined compilation support. The [initial pass of pipelined c

[2019-09-05 20:18] alexcrichton commented on #64191
cc @cramertj and @jsgf, we talked about this at the RustConf and figured y'all would want to be aware of this

[2019-09-05 20:32] estebank commented on #61137
E0307 handled in #64110.

[2019-09-05 20:40] estebank commented on #58771
[Output with nll enabled](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8b42177bbdfd390a8a2762e135b6a8a8):

[code]

[Giving the return type an explicit lifetime `'d` makes it compile](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=dd23ff3eed805949c69354b09114cc67).

[2019-09-05 20:40] sjmann commented on #64169
Would it be ok if I try to tackle this as a first time contributor? Seems like a nice starter issue.

[2019-09-05 20:43] Centril commented on #64169
@sjmann sure, go right ahead!

@rustbot assign @sjmann

[2019-09-05 20:48] nikomatsakis commented on #62649
Hey so @aturon and I were talking and he's going to take a crack at this -- @michaelwoerister and @eddyb, neither of you have any in-progress fixes, right?

[2019-09-05 20:57] abonander commented on #44732
Wouldn't that make it harder to provide correct line numbers in errors for doctests run from included files? `include_str` can't provide spans for individual tokens inside the string.

[2019-09-05 21:21] ehuss commented on #64193
Transferred to rust-lang/rust since this is a rustdoc issue.

[2019-09-05 21:46] Aaron1011 opened #64194 "Maximum number of backtrace frames is not configurable"
The standard library currently has a [hard-coded limit of 100 frames](https://github.com/rust-lang/rust/blob/618768492f0c731fcb770dc2d178abe840846419/src/libstd/sys_common/backtrace.rs#L18) when printing a backtrace. However, some applications may have larger call stacks - without rebuilding libstd, it's impossible for them to obtain proper backtraces.

The standard library should provide an envir

[2019-09-05 22:10] eddyb commented on #62649
No, I don't think anyone has gotten farther than the original testcases.
I tried to construct other examples that result in the same def paths (some of them have been like that forever), but they're not drastic enough to cause the bug to show up.

[2019-09-05 22:27] joshlf opened #64196 "Add Fuchsia to actually_monotonic"
std's internal [actually_monotonic](https://github.com/rust-lang/rust/blob/master/src/libstd/sys/unix/time.rs#L311-L315) function is used to determine which platforms' clocks are truly monotonic. Those that aren't (that have been observed to sometimes go backwards in practice) require more expensive machinery to ensure monotonicity of the `Instant` type on those platforms.

Fuchsia provides a trul

[2019-09-05 22:27] joshlf commented on #64196
cc @cramertj @tmandry

[2019-09-05 22:37] the8472 commented on #64144
On linux there are many uses. It gives you a directory file descriptor (accessible via [AsRawFd](https://doc.rust-lang.org/std/os/unix/io/trait.AsRawFd.html)) which can be used for various other syscalls (not necessarily in the standard library) such as [fiemap](https://www.kernel.org/doc/Documentation/filesystems/fiemap.txt) or the _*at_ syscall family such as [renameat](http://man7.org/linux/man

[2019-09-05 22:41] petrochenkov opened #64197 "Consider moving out-of-line module loading from parser to expansion"
Due to module loading parser has to do some not very appropriate for a parser things like
- expanding `cfg`s on modules (duplicated with expansion)
- keeping the current filesystem position (duplicated with expansion)

We also don't really need to load those files until we need to incorporate their contents into `NodeId`-entified AST, which happens during expansion.

The move will also mean never

[2019-09-05 23:49] cramertj commented on #64194
Once https://github.com/rust-lang/rust/pull/64152 lands, `RUST_BACKTRACE=full` will bypass this limit.

[2019-09-05 23:52] estebank commented on #64130
CC #42855

[2019-09-05 23:57] alex commented on #64183
Is there a good checkpoint I should consider for coming back to this?

[2019-09-06 00:18] mtak- opened #64199 "Poor error message when using `self: Box<Self>`"
The following code produces a very confusing error message.
[code]

[code]

I would expect it to mention that `consume` expects `Box<Foo>` but `x` is only of type `Foo`.

[2019-09-06 00:26] estebank commented on #64199
This should be handled by https://github.com/rust-lang/rust/pull/64056. If you update to latest nightly you should see:

[code]

[2019-09-06 01:12] mtak- commented on #64199
Ah great thanks for the hard work!

[2019-09-06 01:12] #64199 closed

[2019-09-06 01:19] ObsidianMinor opened #64201 "Cannot declare const in function scope that depends on generic impl const"
The compiler misreports the following as error 401, saying you can't use generic parameters from an outer function.

[code]
[code]

This is limiting because if you're implementing a trait like `X` over an external type like `Vec` there's no way to declare a `const` that depends on the `impl` generic type. You can't make the `const` in the function scope, you can't make it in the `impl` scope, and

[2019-09-06 01:39] Aaron1011 commented on #61577
I ran into a similar issue when using `RUSTC_LOG=rustc::ty=debug` - however, I'm not sure if this is exactly the same cause.

I tracked down the cycle error I saw to [the pretty-printing code for opaque types](https://github.com/rust-lang/rust/blob/618768492f0c731fcb770dc2d178abe840846419/src/librustc/ty/print/pretty.rs#L580). When not printing in 'verbose mode', it attempts to call `tcx.predicate

[2019-09-06 04:28] jynnantonix commented on #58041
I found this issue because I was also looking for a way to read a slice of structs from volatile memory.  It turns out that since `read_volatile` and `write_volatile` allow you to read and write arrays of arbitrary sizes, you can implement `{read,write}_volatile_slice` methods using them:

[code]

In this case, I think it would make more sense to stabilize the intrinsics instead of making people w

[2019-09-06 05:01] anp commented on #47809
I'm interested in helping with this, are you still working on it @ayosec? If so, is there any way for me to contribute?

[2019-09-06 05:28] phansch opened #64205 "annotate-snippet emitter: Add UI test where `annotated_files` count is > 1"
Part of #59346

It would be nice to have a UI test for the annotate-snippet emitter, that includes annotations that span multiple files. The goal of this issue is to find and add such a test.

## Instructions

A simple way to look for this, would be to add this code:

[code]

to the top of [`fn slices_for_files`](https://github.com/rust-lang/rust/blob/618768492f0c731fcb770dc2d178abe840846419/src/l

[2019-09-06 05:33] phansch commented on #64205
Under the assumption, that we do have an existing UI test with multiple annotations, I'm happy to help out anyone who wants to take on this issue. Otherwise we'll have to write a test case ourselves.

@rustbot modify labels to +A-diagnostics, +E-mentor, +E-help-wanted

[2019-09-06 07:15] #64163 closed

[2019-09-06 08:19] gilescope commented on #64165
^ This. It really looks unprofessional when the errors are doubled up. And it's pretty unhelpful when your going through errors in the IDE and realise the error is pointing at a location you've already fixed.

Would rustc devs want a switch to see all the errors so they could check if some error was being raised far too many times? Or can we just keep things simple for now?

[2019-09-06 08:25] michaelwoerister commented on #62649
I haven't really been looking into this.

[2019-09-06 08:36] JaniM opened #64210 "Curious errors with misused qualified method call syntax"
The qualified method call syntax (`<Type as Trait>::method()`) accepts both tyṕes and modules as the trait. This leads to some interesting errors.

[code]

Results in

[code]

Reproduced on the playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f297c06425b789bcadfb75232f54bb8e

[2019-09-06 08:43] gilescope commented on #64165
I see all the code is in librustc_errors.

struct Diagnostic supports Hash, PartialEq...

[2019-09-06 08:44] sailfish009 commented on #61561
you can install gcc 8.x from [here](http://repo.msys2.org/mingw/x86_64/).

[2019-09-06 09:17] Centril commented on #10184
@nikic Seems like progress on LLVM's side has stalled, could you give a brief update if possible? Thanks.

[2019-09-06 09:29] elichai opened #64212 "[Feature Request] compile time arguments"
Currently the closest thing to C's preprocessor conditional compilations we have is the cfg and the features.

But there's one missing piece, and that's and that's values in those variables.

Currently the design idea of features is to be incremental which doesn't make sense with having values in those features.
The thing is that in practice a lot of crates don't really use features as incremental

[2019-09-06 10:25] snakehand commented on #39364
I have looked at this just a little using rr, and the problems seems to arise as a result of upgrading the oneshot channel to shared.
The inherit_blocker() function writes self.to_wake with a pointer to a token:
self.to_wake.store(unsafe { token.cast_to_usize() }, Ordering::SeqCst);   - This happens when the sender is cloned.

Then later wen recv is called, decrement() sees the token that was stor

[2019-09-06 10:34] varkor commented on #64210
I think it's a bug that we get as far as to look for methods or constants here: we should be emitting errors about providing types or modules instead of traits.

[2019-09-06 10:37] jsgf commented on #64191
Would the `--only-link` literally just invoke ld? If so, it might be useful to just be able to extract whatever extra libraries/options its adding to the link line, so we can independently regenerate the link line. This would be useful for linking hybrid Rust/C++/(other) programs where the final executable is non-Rust.

[2019-09-06 10:53] varkor commented on #53820
@Nadrieril: thanks for investigating! Your analysis looks correct to me. However, rather than coming up with a new solution for fixed-size arrays, I wonder why we don't just use the handling for slices. Other than the mismatched size error (e.g. `error[E0527]: pattern requires 1 elements but array has 2`), fixed-size arrays should be matched just like slices: the size of the array is completely ir

[2019-09-06 11:07] dotdash commented on #63664
LLVM intentionally discourages inlining for such call sites,  see https://github.com/llvm/llvm-project/blob/master/llvm/lib/Analysis/InlineCost.cpp#L782

Though arguably in this case, the bonus for completely eliminating the called function should still be applied, but isn't because it's handled only at the end of that method, thus the early return skips it. Moving the check for `allowSizeGrowth`

[2019-09-06 11:29] stefanhoelzl opened #64214 "HashMap slow compared to hashbrown implementation"
Since Rust 1.36 the HashMap implementation in the standard library should be ported from [hashbrown](https://github.com/rust-lang/hashbrown) (see #56241)).

But when benchmarking both, hashbrown is a lot faster (3x) on inserts than the HashMap in the standard library:
[code]

Here is my benchmarking code
[code]
## Meta
[code]
 on Windows 10

[2019-09-06 11:31] Centril commented on #64201
Duplicated of https://github.com/rust-lang/rust/issues/64201.

[2019-09-06 11:31] #64201 closed

[2019-09-06 11:36] Mark-Simulacrum commented on #64214
This is expected, as std has a different (slower) hasher due to wanting default DDOS protection and such.

[2019-09-06 11:36] #64214 closed

[2019-09-06 11:36] #61206 closed

[2019-09-06 11:36] #63005 closed

[2019-09-06 11:36] #64146 closed

[2019-09-06 11:36] #64196 closed

[2019-09-06 11:37] rust-highfive opened #64215 "`clippy-driver` no longer builds after rust-lang/rust#64209"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#64209, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and @rust-lang/c

[2019-09-06 11:45] Centril commented on #54883
In https://github.com/rust-lang/rust/pull/64111, written by @Centril and reviewed by @petrochenkov, the late-resolution behavior of or-patterns in nested positions was fixed as was the already-bound check and binding-consistency check. Moreover, the AST now uniformly uses `PatKind::Or` and has no special means of representing or-patterns at the top level.

[2019-09-06 11:53] Centril commented on #64215
I suspect the or-pattern PR, https://github.com/rust-lang/rust/pull/64111, is to blame.

[2019-09-06 12:20] mati865 commented on #64215
Fix for Clippy repo: https://github.com/rust-lang/rust-clippy/pull/4512

[2019-09-06 12:25] oberien commented on #39364
@snakehand You are correct, here is a description of the cause of this error: https://github.com/rust-lang/rust/issues/39364#issuecomment-381446873

[2019-09-06 12:50] gnzlbg commented on #63943
This issue was filled because #62603 re-introduced this soundness bug into nightly. Is this a duplicate of some other issue? #63909 is a PR.

[2019-09-06 13:11] yoshuawuyts opened #64217 "Tracking issue: slice_internals?"
I was looking at the unstable [`core::slice::memchr`](https://doc.rust-lang.org/core/slice/memchr/fn.memchr.html) API, and couldn't figure out the corresponding tracking issue (it's still set to `#0`). Is there meant to be one? How can I read up on its stabilization status?

Thanks heaps!

[2019-09-06 13:21] gnzlbg commented on #64090
@nagisa we can apply attributes to calls through function pointers, e.g., see how clang does it: https://rust.godbolt.org/z/YMv6NJ

@RalfJung That discussion belongs to the RFC PR.

[2019-09-06 13:22] mati865 opened #64218 "LLVM doesn't build on the first try when cross compilling to windows-gnu host"
Running `./x.py build --host x86_64-pc-windows-gnu --target x86_64-pc-windows-gnu` from Linux will fail on building LLVM for Windows (so it's 2nd LLVM build) because somehow LLVM_ON_UNIX is defined:
[code]

Magic happens when running the same command second time without cleaning build dir or changing anything. It will finish LLVM build and install the files.

Rust build will fail on `librustc_code

[2019-09-06 13:52] alexcrichton commented on #64191
I don't think it'd just be a thin wrapper around `ld`, no, but it would also prepare files to get passed to the linker. For example when producing a `dylib` rustc will unpack an rlib and make a temporary `*.a` without bytecode/metadata. Additionally if performing LTO this'd probably be the time we'd take out all the bytecode and process it. (maybe LTO throws a wrench in this whole thing). Overall

[2019-09-06 13:59] Centril commented on #64217
Issue 0 means it is internal and permanently unstable.

[2019-09-06 13:59] #64217 closed

[2019-09-06 14:02] topecongiro commented on #64180
- [x] Release rustfmt 1.4.7 which fixes the build failure
- [ ] Update racer to use rustc-ap-syntax 581.0.0 (https://github.com/racer-rust/racer/pull/1071). We also need a new release of racer which includes the fix
- [ ] Update rls to use racer and rustfmt which depend on rustc-ap-* 581.0.0

[2019-09-06 14:20] gnzlbg opened #64219 "Missed optimization: fn type calls returning never are not noreturn"
We currently do not annotate calls to function types returning Never as `noreturn`, but we probably should. This is similar to #64090 .

[2019-09-06 14:41] gnzlbg opened #64222 "Missed optimization: catch_unwind not removed when closure never unwinds"
Consider this C++ code (https://gcc.godbolt.org/z/iaSj6g)

[code]

which gets optimized to:

[code]

Now consider the semantically identical Rust code (https://gcc.godbolt.org/z/2tXtOM):

[code]

which generates (https://gcc.godbolt.org/z/fzSBl7 - note: to workaround `#[unwind(abort)]` currently not emitting `nounwind` I've added the attributes manually to the Rust output and piped the output thro

[2019-09-06 14:46] rkruppe opened #64223 "Migrate to LLVM{Get,Set}ValueName2"
We currently use the C APIs `LLVM{Get,Set}ValueName` which return/take a 0-terminated `char *`, but those APIs have been deprecated a while ago in favor of `LLVM{Get,Set}ValueName2` which return/take pairs of `char *` + length (the C-friendly lowering of `llvm::StringRef`) which need not be 0-terminated. We should migrate to those APIs. Besides avoiding silly error cases for names that contain a 0

[2019-09-06 14:50] nikomatsakis commented on #62146
OK, that definitely seems like a bug. I'm not sure who would be best to cc here -- I would *guess* @petrochenkov, as it is likely a bug in/around the privacy/reachability code. What do you think, @petrochenkov, about prioritization here?

[2019-09-06 14:54] gnzlbg opened #64224 "Why is the code size of catch_unwind so large ?"
While filling #64222 I noticed that we generate more code than C++ for `catch_unwind`. That did not feel right, since C++'s `catch` can do much more than Rust's catch unwind, e.g., filtering different types of exceptions, etc.

MWE: C++ (https://gcc.godbolt.org/z/z_dgPg):

[code]

generates

[code]

while Rust (https://gcc.godbolt.org/z/4sbc6k):

[code]

generates

[code]

This appears to be a con

[2019-09-06 15:05] eddyb commented on #64223
Any idea how old the new APIs are? I don't see any reason not to switch other than that.

[2019-09-06 15:08] gnzlbg commented on #64086
FWIW I also needed `AssertUnwindSafe` in `#[no_std]` back then, but I don't remember why.

[2019-09-06 15:11] rkruppe commented on #64223
They were added in https://github.com/llvm/llvm-project/commit/025c78f5d7174e4ab7725fcfc7caec03c611d59e which is in the 7.0 release, what's our minimum supported LLVM version these days?

[2019-09-06 15:18] Xanewok commented on #43982
With `debug_assertions`-enabled rustc, I managed to minimize the reproduction case when generating save-analysis to

[code]

[2019-09-06 15:27] s3bk opened #64228 "fmt::Debug for right-to-left strings"
When formatting strings using fmt::Debug, the normal right-to-left characters are printed as is. This will mangle the entire display line in a rather unpredicable way.

[Playground demo](https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=03b109a38ef2ecdd7b318ffd722d3cef)

[code]
is rendered right now as: `["א", "ב", "ג", "a", "b", "c"]`
where it should be rendered as `[⁨"א"⁩,

[2019-09-06 15:28] rkruppe commented on #64223
The current minimum is 6, but considering the constraints raised when it was bumped from 5 to 6 (https://github.com/rust-lang/rust/pull/56642) it seems to me that bumping to 7 might be OK already. Worth a try IMO.

[2019-09-06 15:35] Nadrieril commented on #53820
@varkor Oh right, that sounds easier. We can probably just use the smallest between the `max_slice_length` of the patterns and the length of the array ? It might just be tricky to produce witnesses that have the correct length.

[2019-09-06 15:42] #64109 closed

[2019-09-06 15:49] vityafx commented on #51635
Found an MCVE, bisecting.

[2019-09-06 15:57] s3bk commented on #64228
My proposes solution is to insert

before the opening quotes and

after the closing quote.

[2019-09-06 16:13] varkor commented on #53820
@Nadrieril: I think it'd be easier just to go with `max_slice_length` — if the slice length is greater than the size of the array, then E0527 will report the error before we attempt to start checking the `match`, so by the time we get to `is_useful`, we know all the patterns are valid ones for the array.

If you'd like to take this issue, you're very welcome to; you seem to have a good understandi

[2019-09-06 16:13] vityafx commented on #51635
Could you guys tell me how can I specify `serde` version less than `1.0.99`. Rocket needs toml 0.4.2, which needs serde 1.0.99, while serde 1.0.99 can't be compiled on rustc 1.35 (of April-May). Is there a way?

[2019-09-06 16:20] leo60228 commented on #60424
This even more minimal example has the same problem:
[code]

[2019-09-06 16:24] varkor commented on #64219
Here, it is suggested that we do:
https://github.com/rust-lang/rust/blob/766b10a8d544550712fd6352863457a86f46db3c/src/librustc_codegen_ssa/mir/block.rs#L237-L243
Also see tests `src/test/codegen/noreturn-uninhabited.rs` and `src/test/codegen/noreturnflag.rs`.

[2019-09-06 16:34] vityafx commented on #51635
So far, I have only been able to achieve [this](https://github.com/vityafx/rust-bug-53635):

[code]

[2019-09-06 16:47] nikic commented on #64223
@rkruppe We'll have to wait for #63649 to land first, as emscripten is still on LLVM 6.

[2019-09-06 17:06] snakehand commented on #39364
@oberien I am wondering if maybe it would be simpler and safe to just set to_wake to 0 here:
            if let Some(new_port) = port_or_empty {
                unsafe {
                    mem::swap(self.inner_mut(), new_port.inner_mut());
                }
	    }
inside recv_deadline() - this is where the RX thread detects the upgrade, and it should not be sleeping, so I am guessing it would be

[2019-09-06 17:12] cramertj commented on #60424
@leo60228 Yup, you need

[code]
which correctly generates an error:
[code]

[2019-09-06 17:17] leo60228 commented on #60424
@cramertj Whoops, I didn't test the non-async version... This does have the problem I intended to demonstrate, though:

[code]

[2019-09-06 17:29] PlasmaPower commented on #59337
I think this is actually a problem with regular closures. It's just a lot more noticeable with async closures. In the working example, replace:
[code]
with:
[code]
This isn't an async closure. It should have the same function signature as baz, taking a borrowed u8 and returning a future. However, it doesn't compile:
[code]

[2019-09-06 18:12] Manishearth commented on #64228
This will only happen on the playground, terminals don't handle this at all.

I don't think we should be adding bidi directives to the debug output.

Perhaps the playground should have a strong directionality on its output field.

[2019-09-06 18:12] #64228 closed

[2019-09-06 18:29] the8472 commented on #64170
This isn't specific to `is_file()`. When you build tools that recurse into directories you also may or may not want to skip symlinks. If you write archives you may need special handling for non-regular files and so on. CLI tools often also probe whether a stdout is a TTY or something else to adjust their behavior for interactive or non-interactive mode or to avoid breaking the console with binary

[2019-09-06 18:35] tspiteri opened #64234 "Unnecessary mov instruction"
For the following code
[code]
I get the following assembly
[code]
The marked `mov` instruction is not necessary, as `rdi` is already equal to `rbx`.

I also think that the `LBB0_2` label can move down one line to just before the `pop` instrucion, as if the branch is taken then `rdi` is still equal to `rbx` as well.

[2019-09-06 19:06] varkor opened #64238 "Factor out pluralisation checks in diagnostics"
The following pattern is common in diagnostic messages in rustc:

[code]

It would be good to extract all of these pluralisation checks into a function or macro:

[code]

There's already one in src/librustc/ty/error.rs, but it's not used anywhere else, so we could move it to somewhere in src/librustc_errors, and replace the occurrences of this pattern with the macro.

https://github.com/rust-lang/

[2019-09-06 19:39] kentfredric commented on #64170
Sure, as long as the documentation conveys "If you are using this for usecase X, then !is_dir() is probably more appropriate".

Just because the average novice programmer who first encounters the need to differentiate that a given thing is what *they* consider to be "a file", and they'll point `is_file()` at it, reducing their usefulness without realizing it.

( People have been making this mistak

[2019-09-06 19:42] maurer opened #64239 "compiler-rt missing from rustc-1.37.0-src.tar.gz"
In #60981 we switched to detecting compiler-rt's presence in `src/llvm-project/compiler-rt` and enabling the `c` feature for `compiler-builtins` if present, falling back to rust-only otherwise.

In the git checkout, this works fine, however the `compiler-rt` directory is missing from the `rustc-1.37.0-src.tar.gz` vendored source tarball. As a result, builds from this tarball fall back to rust-only

[2019-09-06 19:57] nikomatsakis commented on #57893
OK, I'm taking a bit of time today to look into this. I want to start by implementing some version of the check proposed here:

just to get an idea what kind of scenarios arise when we do this.

A few thoughts so far:

First off, I was wrong when I said that "the impl in question must be be implemented for some type parameter `T` where `T: ?Sized`". It seems clear that one could write (for example

[2019-09-06 20:08] matklad opened #64242 "Ambiguity between type ascription and absolute paths"
I am not sure, but I think the following program should be valid:

[code]

It currently fails with

[code]

because we don't try to decompose `::` token.

I am not sure what should be the behavior of

[code]

but I lean towards allowing it as well, looks like it requires only constant look-ahead to handle.

Anyway, `rg ':::' --type rust` shows that we don't have a test here.

@petrochenkov what ar

[2019-09-06 20:13] matklad commented on #64242
сс @rust-lang/wg-grammar

[2019-09-06 20:22] nikomatsakis commented on #57893
So say we *do* have a suitable test we can apply to a trait to "disable the compiler-supplied impl". What does this actually mean?

To start, it means that traits have three categories:

- object safe -- in which `dyn Foo` is allowed, and compiler ensures that `dyn Foo: Foo`
- object safe, degenerate -- in which `dyn Foo` is allowed, but `dyn Foo: Foo` may not hold
- non-object-safe -- `dyn Foo` i

[2019-09-06 20:23] petrochenkov commented on #64242
I was aware of this, but never planned making a fix due to low priority.
It's quite possible that some other multi-character punctuation is not broken into parts when it should.
As you could [notice](https://github.com/rust-lang/rust/issues/47856) things like this are fixed on "on demand" basis.
Hopefully, issues like this will disappear as a class after migrating to the single-character punctuati

[2019-09-06 20:25] Centril commented on #64242
According to libsyntax (`fn parse_path`), the grammar is:
[code]

A path cannot end with `::` and so an identifier is correctly expected but not found.

Unless I'm missing something fundamental here, the same issue as above applies and this should remain an error.

[2019-09-06 20:28] matklad commented on #64242
@Centril I think you are trying to read this as `:: :`, while I read it as `: ::` I believe `(): ::X` and `Y: ::X` are unambiguous parses, it's just that the current implementation is to eager to eat `::`.

I've checked with syn, and it parses the first example but not the second one.

[2019-09-06 20:30] matklad commented on #64242
Yeah, that's exactly how I found this. My fear here though is that a genuine ambiguity might lurk in there...

[2019-09-06 20:34] Centril commented on #64242
Oh I see. What's the ambiguity referenced in the title then?

[2019-09-06 20:39] matklad commented on #64242
@Centril that was a non-formal use of the word, in a sense that rustc's parser can confuse the two. I am almost sure that there's no ambiguity on the grammar level here with tokens-with-jointness model, but I want to double check

[2019-09-06 20:48] #61810 closed

[2019-09-06 20:48] #31968 closed

[2019-09-06 20:50] rust-highfive opened #64244 "`miri` no longer builds after rust-lang/rust#64230"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#64230, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and @rust-lang/compiler -- nomi

[2019-09-06 23:02] nagisa commented on #64090
The code generated by `clang` applies no attributes to its arguments in LLVM-IR, All that happens is clang carefully selecting whether to generate `call` or `invoke` during lowering to LLVM, which is different. Though it is true that Rust could do the same, but this then touches heavily upon how certain RFCs will go.

[2019-09-06 23:05] Goirad opened #64245 "Tracking Issue for Cross Compiling Doctests"
This is an issue to track the functionality added by [PR#60387](https://github.com/rust-lang/rust/pull/60387), and also by extension [this PR](https://github.com/rust-lang/cargo/pull/6892) in cargo.

PR#60387 adds three options to rustdoc:
   + `--enable-per-target-ignores` which adds a compiletest-like mechanism for ignoring platform on a substring basis (eg `ignore-foo`)
   + `--runtool` and `--

[2019-09-06 23:51] EFanZh commented on #63908
It seem that my iterative code actually works with nightly Rust with `-Zpolonius` option (https://users.rust-lang.org/t/how-do-you-remove-the-last-node-from-a-singly-linked-list/31805/7?u=efanzh). So I am closing this issue.

[2019-09-06 23:51] #63908 closed

[2019-09-07 00:12] Ericson2314 commented on #56443
Can we just have the workspace root decide how things are built?

[2019-09-07 01:00] alexreg commented on #61631
So... is someone tackling this issue?

[2019-09-07 06:12] V1shvesh commented on #64238
I'd love to be assigned to this issue!

[2019-09-07 06:25] Centril commented on #64090
@nagisa specifically which ones?

[2019-09-07 07:01] marmistrz opened #64247 "Self::EnumVariant not considered const fn"
When using `Self` to create an enum variant in Rust 1.37+, we get an error:
[code]
results in:
[code]
but if the enum is constructed explicitly, the compilation succeeds:
[code]
Looking at https://github.com/rust-lang/rust/issues/53555, it looks like `Self::EnumVariant` should be considered a `const fn` with `min_const_fn`.

Playground links for both variants: [error](https://play.rust-lang.org/?v

[2019-09-07 07:36] ayosec commented on #47809
Yes. I'm sorry for the lack of updates. During August I had almost no time, and I'm trying to start to continue now. At this moment I'm working with the shim to add the location parameter.

Right now I spend most of the time reading and understanding how everything works, so there is not so much code to write.

Something that would be very helpful is writing the documentation for the new errors (l

[2019-09-07 08:14] Centril commented on #64242
@matklad I see. For now, I think it would be good to add a test documenting the current behavior to prevent accidents.

[2019-09-07 08:20] sam09 commented on #63962
This https://github.com/rust-lang/rust/pull/64161 seems to have changed some things here. Is this issue still relevant?

[2019-09-07 08:23] Centril commented on #64247
Duplicate of https://github.com/rust-lang/rust/issues/61456 (will close in a bit).

@oli-obk It seems like folks open this issue because on stable, the error message does not point to the tracking issue, e.g. you don't see:
[code]

can we fix this?

[2019-09-07 08:24] Centril commented on #64238
@rustbot  assign @V1shvesh

[2019-09-07 08:43] Centril commented on #63962
cc @estebank

Ostensibly it is still relevant as we could emit a specific suggestion in this case.

[2019-09-07 08:51] oli-obk commented on #64247
I think we should just stabilize it

[2019-09-07 08:54] Centril commented on #64247
@oli-obk Is this diagnostics problem specific to this feature gate? I meant a more general fix to const-fn related gates.

[2019-09-07 09:24] gnzlbg commented on #64090
@nagisa See https://godbolt.org/z/O67kh1, we currently optimize

[code]

to essentially this

[code]

This optimization is sound if the `extern "C"` ABI of the function pointer is the same as the `extern "C"` ABI of the function declaration, which in this case, it does never unwind, and this allows us to remove the static, remove the landing pads in bar, and make bar nounwind.

[Declaring a functi

[2019-09-07 09:55] oli-obk commented on #64247
Not sure. I thought we're using the normal feature gate infra

[2019-09-07 10:32] nikic commented on #63791
LLVM bug: https://bugs.llvm.org/show_bug.cgi?id=43230

[2019-09-07 10:35] Xanewok commented on #50328
The specific case of
[code]
might be the cause for the backtrace in the https://github.com/rust-lang/rust/issues/43982 OP and it seems to have been fixed.

However, the `extended` build with `debug-assertions` is still failing, see https://github.com/rust-lang/rust/issues/43982#issuecomment-528896765.

[2019-09-07 10:40] jsgf commented on #64191
Firstly, we'd want the final linker doing LTO in order to get it cross-language, regardless of whatever language the final target is in and what mix of languages went into the target.

Secondly, since Buck has full dependency information, including Rust dependencies on C/C++, it will arrange for all the right libraries to be on the final link line. As a result we never want to use or honor `#[link

[2019-09-07 10:42] Centril opened #64248 "Builder got stuck on "Updating crates.io index""
In https://github.com/rust-lang/rust/pull/64246#issuecomment-529094551, the test-various builder got stuck (https://dev.azure.com/rust-lang/rust/_build/results?buildId=7573):
[code]

cc @pietroalbini

[2019-09-07 10:57] sanxiyn commented on #64219
Closing. Currently `noreturn` attribute is applied, and it is tested that we do so.

[2019-09-07 11:18] gnzlbg commented on #64219
@sanxiyn where is it applied and could you point me to a test that checks this for fn type calls ?

I haven't been able to find any tests, and for this rust code:

[code]

we emit:

[code]

like @varkor says and not

[code]

[2019-09-07 12:32] Rosto75 opened #64249 "`cargo new` generate symbolic link of unknown purpose"
Every time I create a new Rust project in a folder that is not the part of Git repository, cargo creates an extra file, which seems to be some kind of symbolic link, with the name of the following format:
`_git2_a#####` where the `#` is a (random?) single digit.

Example:
[code]
## Meta

`rustc --version --verbose`:
rustc 1.37.0 (eae3437df 2019-08-13)
binary: rustc
commit-hash: eae3437dfe991621e8a

[2019-09-07 12:34] V1shvesh commented on #64238
So, I have moved the macro under `src/librustc_errors` in a file called `pluralise.rs`. I have also located all the occurrences of the pattern.

I am a bit new to Rust, so I still am learning about the module system. How shall I pull the macro into the scope of all the relevant files?

[2019-09-07 12:39] Rosto75 commented on #64249
Nevermind. It seems the issue is already fixed in the nightly build (tested with `rustc 1.39.0-nightly (6e19f3f38 2019-09-06)`).

[2019-09-07 12:39] #64249 closed

[2019-09-07 13:33] LukasKalbertodt opened #64251 "Incorrect mixing of reexport and definition documentation of proc macros"
The PR #62855 improved the situation about documenting proc macros. Thanks for that! However, I noticed a bug with it. I'm using `rustc 1.39.0-nightly (6e19f3f38 2019-09-06)`.

**`Cargo.toml`**
[code]

**`src/lib.rs`**
[code]

**`macros/Cargo.toml`**
[code]

**`macros/src/lib.rs`**
[code]

Running `cargo doc` results in this:

![image](https://user-images.githubusercontent.com/7419664/64475552-92c

[2019-09-07 13:34] yoshuawuyts opened #64252 "Diagnostics: help text for missing left-hand side in arbitrary self type"
Forgetting to include the left-hand side of an arbitrary self type can give some confusing errors. This was reported by someone trying to implement a future manually, and the diagnostics threw them off.

I realize diagnostics for arbitrary self types are an open issue, but figured I'd include this variant as to not overlook it. Thanks!

[Link to playground](https://play.rust-lang.org/?version=stab

[2019-09-07 13:34] LukasKalbertodt commented on #64251
Oh, and also, running `cargo doc` prints:

[code]

Not sure if this warning is expected there. And not sure if related to this bug.

[2019-09-07 13:56] sanxiyn commented on #64219
Where it is applied can be easily found by grepping `Attribute::NoReturn` inside `librustc_codegen_llvm`.

[2019-09-07 13:57] varkor commented on #64238
@V1shvesh: I'd put it in `src/librustc_errors/lib.rs`, so we don't have one new file for a single macro. Then you can use it from `use syntax::errors;`.

[2019-09-07 13:59] sanxiyn commented on #64219
Guess: it seems `noreturn` is applied for Rust functions but not applied for extern functions?

[2019-09-07 13:59] gnzlbg commented on #64219
So how do you explain that the LLVM-IR generated by rustc that I just showed does not contain it ?

[2019-09-07 13:59] gnzlbg commented on #64219
@sanxiyn this issue is about __function types__, like `let x: fn() -> ! = ...; x();`.

[2019-09-07 14:00] sanxiyn commented on #64219
Oh.

[2019-09-07 14:04] gnzlbg commented on #64219
@varkor that comment says that functions returning uninhabited types are marked noreturn, but we can't mark function pointers noreturn (they don't support LLVM attributes). We can add attributes to the call site of the function pointer, e.g., as shown above, but since we are emitting an `unreachable` instruction right afterwards, then maybe it isn't necessary to do that ? If the function pointer c

[2019-09-07 14:06] nayeemrmn commented on #59117
A function called `normalize()` will not be expected to convert to an absolute path, that name should be used for https://github.com/rust-lang/rfcs/issues/2208.

[2019-09-07 14:12] #61329 closed

[2019-09-07 14:12] #64239 closed

[2019-09-07 14:35] bjorn3 commented on #51872
Is it already defined on the lowest supported LLVM version?

[2019-09-07 14:51] rkruppe commented on #51872
It's in LLVM 7 but we still support LLVM 6 right now.

[2019-09-07 15:48] Centril commented on #64252
The output with:
[code]
is:
[code]

[2019-09-07 16:06] varkor opened #64260 "Tracking issue for `bool::then_some`"
Tracking issue for the `bool::then_some` method, which abstract the following pattern:

[code]

`bool:then` has previously been stabilised as part of this feature gate: https://github.com/rust-lang/rust/pull/79299

RFC: https://github.com/rust-lang/rfcs/pull/2757
Implementation PR: https://github.com/rust-lang/rust/pull/64255

[2019-09-07 16:37] edwardw opened #64261 "Compiler spuriously infers data needs to be borrowed as mutable"
All credits are due to [this SO question](https://stackoverflow.com/questions/57828602/what-is-rusts-borrow-checker-really-complaining-about-here). This code is tried:

[code]

I expect it to compile. Instead, `rustc` complains that the data needs to be borrowed as mutable, which is incorrect:

[code]

This happened on `rustc-1.37.0`, `beta-1.38.0` and `nightly-1.39.0`.

[2019-09-07 16:45] V1shvesh commented on #64238
Thanks for pointing me in the right direction @varkor!

[2019-09-07 17:04] matklad commented on #64197
This is on my todo list, as it is a per-requisite for moving parser into a library.

[2019-09-07 17:48] bIgBV commented on #64205
Hey @phansch I'd like to pick this issue up.

[2019-09-07 18:11] estebank commented on #63962
Yes, that PR only adds a bit of context that should generally be useful, but this is about adding a structured suggestion for this case in particular. This is more focused and more useful for this case in particular :)

Looking forward to it!

[2019-09-07 19:18] petrochenkov opened #64266 "Tracking issue for `soft_unstable` compatibility lint"
#### What is this lint about

When some feature is unstable, but was allowed on stable due to some stability checking hole or oversight we may unstabilize it in a "soft" way to avoid breaking crates depending on the crates using the feature.

This soft unstabilization can be done using this lint.

#### How to fix this warning/error

Remove or `cfg`-out uses of the unstable feature in configuration

[2019-09-07 19:40] Xanewok commented on #62558
See also https://github.com/rust-lang/rust-clippy/issues/4015#issuecomment-485396021.

This is the same breakage - when cross-compiling, we have a proc macro crate mismatch when it's used both by the compiler and by the included Rust distribution tool itself.

The fix used there was to explicitly disambiguate the multiple matching proc macros by passing `--extern <crate>=<path_we_want_to_use>' but

[2019-09-07 20:39] matthewjasper commented on #53042
Closing as this is no longer an issue. Output on nightly

[code]

[2019-09-07 20:39] #53042 closed

[2019-09-07 21:15] NonCreature0714 commented on #64261
@edwardw Thank you for filing this issue! If there is a rustacean out there who is willing to do a bit of hand-holding, I'd love to help on this issue.

[2019-09-07 22:05] #64132 closed

[2019-09-07 22:05] fenhl opened #64268 "E0514 compiling hello world on nightly-armv7-unknown-linux-gnueabihf"
# Steps to reproduce

[code]

Output:

[code]

[2019-09-07 22:24] estebank commented on #51635
`probably_equal_for_proc_macro` is failing to recognize the closure as the same, because the pretty printer unconditionally adds parenthesis around closures:

[code]

We should probably look at `Nonterminal::to_tokenstream` to normalize the closure representation.

CC @petrochenkov

[2019-09-07 23:13] Janrupf commented on #61721
Hi, I want to add to this issue that this also happens using the `x86_64-uefi-unknown` target. Enabling sse fixes the issues. While my UEFI application still runs, I'm not sure if its a good idea.

However, in case anyone needs the new uefi target:
[code]

[2019-09-08 00:44] Aaron1011 commented on #64251
This is a consequence of the fact that https://github.com/rust-lang/cargo/pull/7159 has not yet been merged. Once it gets merged, and rust updates its Cargo submodule, this issue should go away.

[2019-09-08 00:54] Mark-Simulacrum commented on #24361
I'm going to go ahead and close this as I think we've essentially intentionally chosen a path here and I believe the suggestion has been implemented, if indirectly, by showing what the literal in i16 would be. It seems like largely writing the "end result" or allowing the lint is an acceptable tradeoff.

[2019-09-08 00:54] #24361 closed

[2019-09-08 01:59] richfelker commented on #62569
Changing any signal disposition by default in the startup code is inherently broken, because dispositions are inherited across fork/exec. The same goes for signal masking. IMO this behavior should just be removed.

If you really really don't want `SIGPIPE` to happen, without applications having to take their own measures to stop it, there is a right way that does not clobber any state. For each `w

[2019-09-08 02:12] #64050 closed

[2019-09-08 02:12] #63798 closed

[2019-09-08 02:12] #64103 closed

[2019-09-08 02:49] johnfercher commented on #63390
Hi, I would like to work in this issue. Could you explain the context of the modification?

[2019-09-08 04:50] spastorino opened #64276 "Rust compiler creating huge files on tmp directory"
Was surprised to get the following no space left error ...

[code]

This happens because rustc_driver is placing a lot of huge places on `/tmp` and tmp on my machine is of type `tmpfs` which is stored usually in RAM or swap and it's by default half of the RAM, so 4GB in my old machine.

The following are the files created ...

[code]

I think that the compilation process shouldn't place this kind

[2019-09-08 06:35] gilescope commented on #64165
In librustc, session has a one_time_diagnostics for deduplicating helpful notes so that we don't repeat them (#24690 and #44953).

[2019-09-08 06:59] estebank commented on #51635
I couldn't compile the project linked in https://github.com/rust-lang/rust/issues/51635#issuecomment-401080571

The case in https://github.com/rust-lang/rust/issues/51635#issuecomment-403452510 is already fixed

https://github.com/rust-lang/rust/issues/51635#issuecomment-528924677 is fixed by #64277, but that PR might need some back and forth before it is mergeable.

[2019-09-08 09:51] #64061 closed

[2019-09-08 10:09] phansch commented on #64205
@bIgBV sure, it's all yours! Let me know if you have any questions. The [`rustc-guide`](https://rust-lang.github.io/rustc-guide/how-to-build-and-run.html) should help you to get started working on the compiler.

[2019-09-08 10:46] bbqsrc opened #64282 "Regression of #63210 param attributes not showing in proc-macro TokenStream"
It seems https://github.com/rust-lang/rust/issues/63210 isn't actually fixed.

Run `cargo test -- --nocapture` and you'll see the `TokenStream` does not contain any attributes on a parameter: https://github.com/bbqsrc/params-attribute-example

[2019-09-08 13:39] Mark-Simulacrum commented on #64276
Hm, so it seems like we do need _a_ temporary directory for these files. If we can't place them in `/tmp` or it's equivalent, then they'll probably end up going into the current directory of the compiler, which seems somewhat bad as well.

Do we know what other compilers do here? Presumably, gcc/clang etc all need to write out version scripts and such too?

[2019-09-08 14:29] Centril opened #64285 "Enforce `min_const_fn` by default in `staged_api` with opt-out"
We want to switch to a scheme where everything inside the standard library requires `min_const_fn` by default. If an additional `#[rustc_not_min_const_fn]` is present, then the function will be uncallable from any `min_const_fn`.

It's also important to note that a function `#[rustc_const_unstable(feature "foo")] const fn bar() {}` without `#[rustc_not_min_const_fn]` should a) enforce that that th

[2019-09-08 14:53] Centril opened #64286 "EXPERIMENT: Make `async fn`, `.await`, `async move? {` legal on 2015"
The parser currently will not parse `async fn`, `async move? $block`, and `<expr>.await` on Rust 2015.

Check whether:
- doing so would simplify the parser & the grammar.
- it is feasible with a crater run for `<expr>.await` and `async move? $block`

Drawbacks include:
- folks having fewer incentives to use Rust 2018.

[2019-09-08 14:56] Centril commented on #63840
@oli-obk Seems the answer is "yes". I'll close this for now.

[2019-09-08 14:56] #63840 closed

[2019-09-08 15:17] tapaswenipathak opened #64287 "Error: Can't find crate for core"
Hi folks! I am testing few things for a rust based operating system. I run make and I get

error[E0463]: can't find create for `core`
note: the `x86_64-unknown-none` target may not be installed

When I do `rustc --explain E0463`, I get:

[code]

I asked in discord channel, there folks said I create a ticket. Would be great having any pointers, I have never written a hello world as well in Rust, mi

[2019-09-08 15:23] tapaswenipathak commented on #64287
I have few pointers, someone just responded in another channel, closing, thanks.
<img width="706" alt="Screen Shot 2019-09-08 at 8 55 26 PM" src="https://user-images.githubusercontent.com/4143778/64490468-9f2ed380-d27a-11e9-9b57-6b4131b79691.png">

[2019-09-08 15:23] #64287 closed

[2019-09-08 16:23] the8472 commented on #64276
O_TMPFILE descriptors could be an option, they never pollute the directory tree unless they get linked into it.

That said I would also like them to go into a separate path designated for temporary files. My project folders are under btrfs and get snapshotted via cron jobs. It is preferable if tempfiles don't make it into the snapshots.

[2019-09-08 16:33] nikic opened #64289 "Support running with new pass manager"
Rustc currently still uses the legacy LLVM pass manager. There's been some discussion about enabling NewPM by default for Clang 10, so we might want to start migrating in that direction as well.

To start with, we'd probably want a debug option `-Z llvm-pass-manager=new` that is not enabled by default, but can be used to perform initial evaluation.

For reference, this is how newpm use looks like

[2019-09-08 16:34] Ixrec commented on #64081
I think this is simply incorrect: it's the em dash (—) that I'm trying to emulate when I use a double hyphen (--), not a single hyphen (-) or an en dash (–) for that matter. Obviously "the actual hyphen character" is easy to type, since a double hyphen is literally just typing it twice.

But assuming that was just terminology confusion, auto-converting a double hyphen to an em dash makes a lot of

[2019-09-08 16:49] #63724 closed

[2019-09-08 17:29] Mark-Simulacrum commented on #64276
I believe we can't use O_TMPFILE and such as we usually need to pass paths to linkers and such that don't accept file descriptors as inputs.

[2019-09-08 17:42] the8472 commented on #64276
You can pass them as `/proc/<pid>/fd/<n>`, with *pid* either being the parent process or the child if the fd hasn't been closed on exec.

[2019-09-08 17:46] Mark-Simulacrum commented on #64276
Unfortunately, that's not supported on all platforms I believe, though I could well be wrong. It's also likely to cause problem when trying to debug what went wrong since all of the files are by definition gone :)

[2019-09-08 18:25] ehuss opened #64291 "Hard-linking incremental files can be expensive."
Doing some profiling to determine why incremental Cargo builds are slow, I noticed that hard-linking the incremental files takes a nontrivial amount of time. This issue is to ask those in-the-know if it may be possible to improve it.

On my system (macos, apfs, an extremely fast ssd), it takes between 500 to 750ms of a 7s incremental build (7% to 10%) just to hard-link the incremental files. The i

[2019-09-08 18:35] comex commented on #64090
Even if we had a separate `extern "C+unwind"` or similar, we’d probably translate calls to function pointers of that ABI to the same IR that we currently generate for `extern "C"`.  Thus, if you declared a function as `extern "C"`, created a pointer to it, casted that to an `extern "C+unwind"` function pointer, and called the new pointer, you’d run into the same optimization.

As such, either:
- T

[2019-09-08 19:25] sam09 commented on #63962
Thanks @Centril @estebank. I have one more question though,
https://github.com/rust-lang/rust/blob/24d0a01b75c034d52bdca10cca08e69538e871ca/src/librustc_typeck/check/pat.rs#L686-L709

This `fields` parameter in the above function gives the number of fields of expected type, while `subpats` gives me the  number of fields in the tuple pattern.

The condition to show a missing parenthesis message sho

[2019-09-08 20:00] Centril commented on #62231
The reference PR https://github.com/rust-lang-nursery/reference/pull/607 has been merged.
Closing this issue as "merged".

[2019-09-08 20:00] #62231 closed

[2019-09-08 20:07] Centril commented on #63962
You'll need to look at `expected: Ty<'tcx>` to see that it resolves to an `TyKind::Adt(adt_def, substs)` and then you'll need to match up the `variant` with the right one in the `AdtDef`. Once you have the right `variant`, you'll need to check that it has one field and extract it. You'll need to check that the single field is also a tuple and match the length of that tuple up with `subpats.len()`.

[2019-09-08 20:23] Nadrieril commented on #53820
I'm not quite sure: the following is a valid exhaustive match for a size-1 array:
[code]
However, if I understand the doc of `max_slice_length` correctly, this match's `max_slice_length` is 2. So this would trigger `E0527` when it shouldn't. I think that using the array's size when it's smaller than the pattern's slice_length solves this correctly.

Thanks ! I'm not sure if I'll find a lot of time

[2019-09-08 20:27] davidtwco commented on #63832
I've opened #64292 for this, sorry about the delay!

[2019-09-08 21:00] alexreg commented on #64081
@Ixrec

1. That was was just me accidentally writing them the wrong way round (I had written it correctly earlier, oops!).
2. The en/em-dash is definitely not easier to type on most keyboards (which don't have it) and OSs. On Windows you need an Alt+code combination, and on macOS you need Alt + Shift + `-` for the em-dash! Double-tapping the same key twice is a lot easier, I'm sure.
3. Glad you th

[2019-09-08 21:02] alexreg commented on #64081
Ah, seems there's already an "optional extension" to the spec, but it has `--` meaning en-dash and `---` meaning em-dash, which is slightly awkward I think. (In practice, en-dash is encountered much less often, I find, since it used primarily for ranges, and the typographic difference from hyphen is less noticeable.)

https://github.com/commonmark/commonmark-spec/issues/593

[2019-09-08 21:52] KodrAus opened #64295 "Tracking issue for iter_order_by"
Landed in #62205

Before stabilization:

- [ ] Accepted RFC
- [ ] Stabilization PR

[2019-09-08 21:58] varkor commented on #53820
`E0527` isn't based on `max_slice_length`; I think it's completely independent. In any case, we should be able to work out whether we need to take this into account during implementation.

https://github.com/rust-lang/rust/blob/7b3f72906ffea5a8aec9e3d109d8e012f771a672/src/librustc_typeck/check/pat.rs#L1060-L1065

[2019-09-08 22:23] Xanewok commented on #61047
Fixed with https://github.com/rust-lang/rust/pull/61052.

[2019-09-08 22:23] #61047 closed

[2019-09-08 22:32] Nadrieril commented on #53820
Ok, I see what you meant. I've started reading the rustc guide, then I'll have a go at this :)

[2019-09-08 23:12] clarfon commented on #64103
GitHub wasn't clever enough to read that the PR said "might close" instead of "close." The PR seems to imply more work can be done on this.

[2019-09-08 23:15] Centril opened #64297 "Cleanup: Refactor `librustc_typeck/check/op.rs`"
`librustc_typeck/check/op.rs` has some seriously over-complicated methods, e.g. `fn check_overloaded_binop`, that obscure the happy path and do way too much. The file and especially the aforementioned method should be refactored.

[2019-09-08 23:26] estebank opened #64298 "Suggest introduction of new type argument"
When writing `impl Trait<T> for X {}` We correctly complain about `T` not being in scope. We should also suggest introducing a new type argument in the correct place.

[2019-09-08 23:46] estebank commented on #61973
Fixed by https://github.com/rust-lang/rust/pull/64110

[2019-09-08 23:46] #61973 closed

[2019-09-09 00:25] scottmcm commented on #64234
Can you try repro'ing this in clang?  If it happens there too, then it's an LLVM issue, not a Rust issue.

[2019-09-09 04:44] #36836 closed

[2019-09-09 04:45] bIgBV commented on #64205
@phansch I made the change suggested in the issue and ran all the ui tests. None of them failed, meaning a new test needs to be written for this specific usecase, correct?

[2019-09-09 05:10] ayazhafiz commented on #63988
I took a look at this today. I am a first-time contributor to this project and would like to contribute this enhancement, but I'm not sure how much work this will end up requiring. Here are some notes/leads I've noticed; I'm hoping someone may be able to provide suggestions, and at the very least I hope this is helpful for anyone else wishing to tackle this.

Consider the example provided in the f

[2019-09-09 05:31] phansch commented on #64205
Thanks! Unfortunately I just realized I made a mistake in the instructions :/
If it's included in `annotate_snippet_emitter_writer.rs` it will only get executed for UI tests that use the new work-in-progress emitter, which only has one UI test currently

Instead, you'll want to include the snippet below this line in `emitter.rs`:

https://github.com/rust-lang/rust/blob/7eb65dfe66e56618f87531cdc378

[2019-09-09 05:33] hclarke commented on #62569
an alternate solution:
println! calls `std::process::exit(141)` instead of `panic!()` if it fails on `EPIPE`

that way, both servers and cli tools work by default

[2019-09-09 05:37] NightBalance opened #64300 "RustC Panic"
[code]
when is cross compile x86_64-unknown-linux-gnu

[2019-09-09 06:23] hellow554 commented on #64300
The log looks very incoplete.
Can you try it again please and surround it by three backticks?

\`\`\`
your
backtrace
goes
here
\`\`\`

Also, do you can share the code that produces the problem?

[2019-09-09 07:50] nnethercote opened #64301 "Too many `memcpy`s"
Cachegrind profiles indicate that the Rust compiler often spends 3-6% of its executed instructions within `memcpy` (specifically `__memcpy_avx_unaligned_erms` on my Linux box), which is pretty incredible.

I have modified DHAT to track `memcpy`/`memmove` calls and have discovered that a lot are caused by obligation types, such as `PendingPredicateObligations` and `PendingObligations`, which are qu

[2019-09-09 07:56] nnethercote commented on #64301
#64302 shrinks the size of some of these types by 24 bytes. For a clean check build of `serde`, it almost halves the number of instructions executed in `memcpy`. AFAICT, the effect is so big because some of the types (e.g. `PredicateObligation`) shrink enough that the compiler generates code to copy them instead of calling `memcpy`.

[2019-09-09 08:20] gilescope commented on #64165
Hang on, those diagnostics aren't pure duplicates. One is fn, the other is for.

[2019-09-09 08:41] tspiteri commented on #64234
I reproduced in clang, so it is indeed an LLVM issue, so I'll submit a bug report there instead.

[2019-09-09 08:41] #64234 closed

[2019-09-09 09:32] RalfJung commented on #64090
We are optimizing based on the assumption that calling a function through a function pointer behaves the same as if calling the function directly.
*If* we can figure out the function the pointer points to, and *if* that function is `nounwind`, that lets us assume that the fn ptr call is also nounwind. And that's what we see happening here.

[2019-09-09 09:33] RalfJung commented on #64090
Well, right now we are (in our handling of fn ptrs) future compatible with `extern "C"` functions existing that *can* unwind. Given those RFCs, now is a bad time to remove that bit of future compatibility.

https://github.com/rust-lang/rfcs/pull/2753, I imagine.

[2019-09-09 09:51] nikic commented on #63791
Fixed & backported to LLVM 9.

[2019-09-09 09:57] RalfJung commented on #63943
I agree with @gnzlbg, the existence of an unmerged PR does not usually suffice to close issues.

[2019-09-09 10:45] gnzlbg commented on #52652
I wrote [here](https://github.com/rust-lang/rust/pull/63909#issuecomment-529348783) that, a way to close this soundness hole on safe stable Rust, without any language changes, without any performance regressions, and without unconditionally making it impossible to unwind through FFI on stable Rust would be to just enable abort-on-panic for safe FFI functions.

This allow us to continue emitting no

[2019-09-09 11:15] xfix opened #64304 "SGX's std::env::args function is not thread-safe"
The `args` method is defined as follows.

[code]

Clean-up function is defined as follows;

[code]

It is possible for another thread to use `std::env::args()` while the main thread quits, and access already freed memory - assuming the following sequence of events.

[code]

This issue has been assigned to @Goirad via [this comment](https://github.com/rust-lang/rust/issues/64304#issuecomment-582273

[2019-09-09 11:18] #63879 closed

[2019-09-09 11:23] GuillaumeGomez opened #64305 "Instead of hiding rustdoc search bar by default, disable it"
It'd have the advantage of not having the not so pretty effect we have currently when the search bar "appears".

[2019-09-09 11:26] andreasbaumann commented on #60294
Thanks, --debuginfo-level=1 works around the huge memory usage and I was able to build it for
Archlinux32 (IA32).

[2019-09-09 11:43] sfackler commented on #62569
You can't do that - the value passed to [`exit(3)`](http://man7.org/linux/man-pages/man3/exit.3.html) is masked off by `0x377`.

[2019-09-09 11:53] richfelker commented on #62569
The issue of igoring `SIGPIPE` is related to, but separate from, the issue of what `println!` does on write failure. Changing signal dispositions behind the application's back in a way it has no way to fix up before `exec`'ing something else (AFAICT the original disposition is lost) is a much bigger problem than what `println!` does, since applications can just refrain from using `println!`.

With

[2019-09-09 12:01] RalfJung commented on #52652
Oh, so you are not suggesting to change anything about `nounwind`, just not add the abort-on-panic shim only for `unsafe extern "C"`?

This does not help at all with the issue https://github.com/rust-lang/rust/pull/63909 was opened to fix. Specifically, everything I [said here](https://github.com/rust-lang/rust/pull/63909#issuecomment-529393176) still applies.

[2019-09-09 12:19] gnzlbg commented on #52652
Exactly, and this is enough to close this soundness bug.

Your PR does many things, what it doesn't do, is close this soundness bug. We could do some of those things as well (fixing `#[unwind]`, maybe disabling `nounwind` temporarily for `unsafe extern "C"` definitions, ...), but I don't think closing this soundness bug should be blocked on doing those.

[2019-09-09 12:29] varkor commented on #64238
@V1shvesh: searching for `{ "s" } else { "" }` in rustc, I can see a few cases that weren't caught by https://github.com/rust-lang/rust/pull/64280, e.g. in `resolve_lifetime.rs`, `diagnostics.rs`, etc. Let's keep this issue open until they've all been replaced with the new macro.

[2019-09-09 13:16] steveklabnik commented on #64081
This is my opinion as well.

[2019-09-09 13:20] steveklabnik commented on #64212
Feature requests like this go through our RFC process https://github.com/rust-lang/rfcs

I would encourage you to pursue this over there. Thanks!

[2019-09-09 13:20] #64212 closed

[2019-09-09 13:25] Vlad-Shcherbina opened #64309 "Doc tests use RUST_LOG variable"
### To reproduce
1. `cargo new --lib doctest_spam`
2. `cd doctest_spam`
3. `RUST_LOG=info cargo test --doc`

### Expected results
[code]
Because `RUST_LOG` is the `env_logger`'s default for application-level logging and should not affect the output of the tools.

### Actual results
[code]

### Version info
[code]

[2019-09-09 13:38] michaelwoerister opened #64310 "Cannot opt out of LLVM MergeFunctions pass on stable"
LLVM's MergeFunctions introduces aliases which can trigger a bug in macOS's `ld64` linker when compiling with ThinLTO: https://github.com/froydnj/ld64-aliases-bug

For this reason Firefox has to be built with a patched version of `ld64` when compiling with xLTO. Since the bug in question is pretty nasty (the above example shows a program just returning a different value with no indication that any

[2019-09-09 13:39] yangzhe1990 commented on #35203
Hi there, today I found that define something like fn into_blah(mut self) in a trait trigger this error. I wonder if this is intended behavior.

[2019-09-09 13:45] michaelwoerister commented on #64153
Thanks a lot for the bug report, @nikhilm! And great debugging too!

This does look problematic indeed. It might be easy to fix by making the compiler behave consistently when `-o` is passed.

[2019-09-09 13:46] michaelwoerister commented on #64153
Nominating for prioritization.

[2019-09-09 14:02] nox commented on #64310
Is it a mergefunc bug or a ThinLTO bug? Can it be triggered without ThinLTO? If not, I would rather not blindly disable it on macOS, at least not when ThinLTO isn't enabled.

[2019-09-09 14:24] michaelwoerister commented on #64310
It's not a bug in mergefunc. It might not even be a bug in ThinLTO. It's just that mergefunc is the only thing in `rustc` that generates symbol aliases in LLVM IR, and these are what can lead to "miscompilations" when using the macOS linker.

[2019-09-09 14:51] eddyb commented on #64074
cc @michaelwoerister I wonder if this is the no-assertions equivalent to https://github.com/rust-lang/rust/issues/63784.

[2019-09-09 15:06] nikic commented on #64310
Has the ld64 bug been reported somewhere?

[2019-09-09 15:08] dotdash commented on #63664
There was already a bug report at https://bugs.llvm.org/show_bug.cgi?id=26495

I commented there with what I found out so far.

[2019-09-09 15:12] Centril commented on #35203
@yangzhe1990 Yep; that's intended behavior, at least for now.

[2019-09-09 15:16] nox commented on #64310
We could use `mergefunc-use-aliases` to prevent the pass from emitting aliases on macOS, AFAIK.

https://github.com/llvm-mirror/llvm/blob/2afd9e698dbfc2f3011baf3bfdb47d03c253272b/lib/Transforms/IPO/MergeFunctions.cpp#L168-L171

[2019-09-09 15:21] alexreg commented on #64081
@steveklabnik See my above comment. It's an optional extension already part of the spec, according to that thread. :-)

[2019-09-09 15:24] nikic commented on #64310
@nox This is already supported via either `-Z merge-functions=trampolines` or `merge_functions: MergeFunctions::Trampolines` in the target spec.

[2019-09-09 15:31] calidion commented on #32559
@mboecker

Your example is broken now!

[2019-09-09 15:32] nox commented on #64310
@nikic Do you mean that the test case also fails with `mergefunc-use-aliases` enabled, or that we already have a knob to disable them?

[2019-09-09 15:35] nox commented on #64310
https://github.com/rust-lang/rust/blob/185b9acb66438894596f3c40d2ae4c6f7deeb8ab/src/librustc_codegen_llvm/llvm_util.rs#L65-L74

Answering my own question, we already have a knob for that.

[2019-09-09 15:38] nox commented on #64310
Which was added because [aliases already cause issues on other architectures](https://github.com/rust-lang/rust/issues/57356).

[2019-09-09 15:49] Alphare opened #64314 "Add other variants to std::io::ErrorKind enum"
I was trying to rewrite Python code in Rust and I need to match against what could be `NotADirectory` (`ENOTDIR`) and saw that `ErrorKind`'s variants do not include many `errno`s present in `libc` - to speak only of the Unix platform - including the one I need.

Is there a reason why those variants were not implemented? Could this be my first contribution to Rust?

[2019-09-09 15:57] mboecker commented on #32559
no, its supposed to throw an error, it just wasnt supposed to cause an internal compiler error.

[code]

this is due to the function having the explicit length 32 in its signature. since the vector is dynamically sized, it cannot be coerced into a fixed size array. the function should take &[u32] as an argument, a slice (of, at compile-time, unknown length). I hope this answers your question, othe

[2019-09-09 16:02] calidion commented on #32559
how to easily convert an vec<u8> to a fixed [u8;32]?

[2019-09-09 16:09] mboecker commented on #32559
you could try [this solution](https://stackoverflow.com/questions/25428920/how-to-get-a-slice-as-an-array-in-rust) by implementing your own function to convert it or use the recently stabilized [TryInto trait](https://doc.rust-lang.org/std/convert/trait.TryInto.html) like suggested in [this answer](https://stackoverflow.com/a/50080940).

Although I love answering your questions, please dont use th

[2019-09-09 16:26] cramertj commented on #64191
+1 to wanting the ability to turn off / disable `#[link]`.

[2019-09-09 16:33] #15287 closed

[2019-09-09 16:50] RalfJung commented on #64090
I have no idea what you mean by this. Calling an `extern "C+unwind"` fn ptr would generate IR that can handle unwinding out of that call. What is the problem?

Unwinding from an `extern "C"` fn is UB (in a world with an `"C+unwind"` ABI), and the fact that we call an `extern "C"` fn via an `extern "C+unwind"` ptr changes nothing. In general, when the caller and callee signature differ, *both* sign

[2019-09-09 17:04] gnzlbg commented on #64090
If you do this:

[code]

We will optimize `bar` under the assumption that `BAR()` and `foo()` do not unwind because `foo` is declared as `nounwind`.

So either this optimization is unsound _or_ it is UB to call a function declared as not-unwinding via a function pointer that supports unwinding.

IMO, this is just another issue of:

[code]

[2019-09-09 17:20] hdevalke commented on #62208
I also needed this recently to decode some protocol where a stop bit is used to indicate the last byte of a field. The other 7 bits are used to encode the data. I could not use the iterator API because of this.

The implementation should be less or more the same as [`TakeWhile`](https://github.com/rust-lang/rust/blob/a24f636e60a5da57ab641d800ac5952bbde98b65/src/libcore/iter/adapters/mod.rs#L1526).

[2019-09-09 17:52] estebank commented on #64165
They are caused by different `Obligation`s, because closures introduce two. But that is the internal state of how the compiler reasons about closures, not something that needs (or can) to be communicated succinctly to the user in a way that makes sense. We have multiple places where we just keep a set of `Span`s or some other identifier and deduplicate specific errors where the underlying cause is

[2019-09-09 18:57] saturday06 commented on #35968
I succeeded to link   `rustc  nightly-2019-09-05 aarch64-apple-ios  and rustflags = "-C lto -Z embed-bitcode"` staticlib with  `clang-1100.0.33.5 (Xcode 11 beta 7) and -fembed-bitcode` app. Source code is https://github.com/saturday06/rust-ios-bitcode-test .

[2019-09-09 19:01] joshtriplett commented on #58794
@rfcbot resolved blocked-on-rfc-2699
@rfcbot concern blocked-on-rfc-2753

Summarizing much further discussion: RFC 2699 is a much more general "how do we handle cross-language panics/unwinds/etc", while [https://github.com/rust-lang/rfcs/pull/2753](RFC 2753) is a much simpler proposal to just provide an `#[unwind]` attribute to disable `nounwind` and fix the UB.

[2019-09-09 19:14] alexcrichton opened #64319 "Symbol names may not correctly account for optimization level differences between crates"
On investigating https://github.com/rust-lang/wg-cargo-std-aware/issues/32 I've managed to reduce this down to:

[code]

The platform used here to reproduce the error is x86_64-pc-windows-msvc, but it looks like macOS also generates the same error. The error doesn't appear to manifest on Linux, presumably because the linker options just ignore non-defined symbols.

Here you can see that when both

[2019-09-09 19:15] alexcrichton commented on #64319
cc @michaelwoerister and @eddyb, y'all may know where to start looking for this?

[2019-09-09 19:22] joshtriplett commented on #63943
@RalfJung I tend to treat PRs and issues as synonymous (a PR is just an issue with commits attached) and thus potentially redundant, but your call.

[2019-09-09 20:12] #63443 closed

[2019-09-09 20:14] nikic commented on #57517
I don't think #64121 fixes this issue, as it affects internal iteration only, while this one is about external iteration.

[2019-09-09 20:23] alexcrichton commented on #64319
I did a bit of instrumentation in the compiler, and it looks like [this line](https://github.com/rust-lang/rust/blob/0b36e9dea3f2ff25b1d0df2669836c33cce89ae5/src/librustc_codegen_utils/symbol_names/legacy.rs#L124-L125) is changing depending on which crate is compiling. When compiling the `foo` crate the value being hashed there is `"foo"`. When compiling `bar`, however, if you turn off optimizatio

[2019-09-09 20:33] benw opened #64322 "Incorrect doc for checked_duration_since"
"... or None if that instant is earlier than this one"

should be

"... or None if that instant is *later* than this one"

[2019-09-09 20:35] snakehand commented on #39364
I have a fix / workaround that is more convoluted.
When the recv_timeout detects that an uprade has happened, it sets a flag in the shared channel that an upgrade has happened.
The recv function now checks for this bool, and performs a "downgrade" that fixes the to_wake / cnt / steals value before it does anything else.
This is pretty robust, even under fire from all the races that the first examp

[2019-09-09 21:22] bIgBV commented on #64205
Will do!

[2019-09-09 21:44] peterhj commented on #64310
As @nikic and @nox point to there is the unstable `-Z merge-functions` option which I've only tested on nightly. I guess there could be a stabilized `-C merge-functions` option, but maybe what you really want to do is to patch the x86_64 macos target definition (see: https://github.com/rust-lang/rust/blob/97ba4c95d00108ac79c86d2bbc6834b1fef008a2/src/librustc_target/spec/x86_64_apple_darwin.rs).

[2019-09-09 21:58] wfraser commented on #53716
This seems extra weird to me in the workaround, that if you specify the return type of the closure in the `map` manually, the coercion works fine, and you don't even need the `as`:

[code]

I don't get why the return type of the closure has to be specified manually here, when it's already in the return type of the function. It has to match the function return type, so shouldn't type inference figu

[2019-09-09 22:27] alexcrichton commented on #64319
Ok, posted https://github.com/rust-lang/rust/pull/64324!

[2019-09-09 22:36] plantenos commented on #60268
Please stand by for an upcoming release of Kubernetes, Docker and LXC/D in rust

[2019-09-09 23:08] ehuss commented on #63484
I just learned about the `-Zshare-generics=yes` flag (#48779), which will export/link the monomorphization from the optimized crate instead of instantiating it in the local one. It still acts a little wonky (it isn't as fast as being fully optimized), but it is more consistent.

This has the counter-intuitive result that if you change the override from `opt-level = 3` to `opt-level = 1`, it's actu

[2019-09-09 23:17] ehuss commented on #48683
cc #63484, a surprising result of using profile overrides.

[2019-09-10 01:08] elahn commented on #60258
I was trying to `flat_map()` and found `map().flatten()` does the trick. This has been on nightly for 4 months, can we stabilise it?

[2019-09-10 01:23] Mark-Simulacrum commented on #64314
The docs do say "This list is intended to grow over time and it is not recommended to exhaustively match against it." currently (and we enforce non exhaustive matching via an attribute); I think our hands technically aren't tied here but we'll want to be very cautious.

@rust-lang/libs -- does anyone have thoughts on growing `io::ErrorKind` to have more variants? I don't recall us doing so in the

[2019-09-10 01:27] Mark-Simulacrum commented on #64309
eh, it's only recently we've shifted away from using it for tools -- but seems like the trend is definitely to do so. I've filed https://github.com/rust-lang/rust/pull/64329.

[2019-09-10 01:28] Mark-Simulacrum commented on #64305
When are we hiding it? Without JS?

[2019-09-10 01:28] Nashenas88 commented on #57180
After some more analysis today, I realize the above comment is not the cause of the issue. I was using `cargo rustdoc` in my bisect script. The above commit is what causes `cargo rustdoc` to start failing, but `cargo doc` was failing before this. I'll do some more bisect analysis to see if I can figure out when this really started.

[2019-09-10 01:38] Mark-Simulacrum commented on #39316
Hm, yeah, I agree that this is much better, but I think changing the "mutable borrow later used here" text to something like "mutable borrow's lifetime later used here" would be much clearer, as `v` is clearly _not_ a mutable borrow.

[2019-09-10 01:47] Mark-Simulacrum commented on #39047
I'm going to close this as I personally don't think trying to catch UB in unsafe code is too viable. If you're using raw pointers, you need to be very careful with lifetimes, and that's just sort of the way of things.

[2019-09-10 01:47] #39047 closed

[2019-09-10 03:26] arcnmx commented on #20671
It seems worth noting that in some cases with associated types you can work around this by duplicating them to trade off verbosity at the definition+impl instead. Taking some examples from this thread:

[ex1](https://github.com/rust-lang/rust/issues/20671#issuecomment-151353352)
[code]

[ex2](https://github.com/rust-lang/rust/issues/20671#issuecomment-167056607)
[code]

[2019-09-10 04:24] Centril commented on #64282
So I investigated the issue and I don't believe there's a bug here. The macro prints out the following:
[code]

If you look closely, you will see that before the line with `error[E0658]: ...` it says `send_help ...`.

If you slightly change the macro into...
[code]

...you will see it more clearly:

[code]

This seems to be in order.

[2019-09-10 04:26] #63918 closed

[2019-09-10 04:26] #64179 closed

[2019-09-10 04:26] #64180 closed

[2019-09-10 04:26] #63791 closed

[2019-09-10 06:42] fenhl commented on #64268
The issue seems to be fixed on the latest nightly.

[2019-09-10 06:42] #64268 closed

[2019-09-10 06:44] glandium opened #64335 "Missed niche opportunity in simple nested enum"
[code]

So the compiler does know to "merge" the enum discriminants in the simple cases, and it seems to me it could do the same for the slightly less simple case above: `{0, u8}`, `{1, u8}`, `{2, u8}` could be both the representation of a `Foo2<u8>` and of a `Bar2::Foo(Foo<u8>)`

[2019-09-10 06:53] whitequill opened #64336 "manifest path to bootstrap/Cargo.toml does not exist, when it does"
I do not know what is going on when I am building rust from source.
what is going on is that I run `python x.py build` and it caches `rust-std-beta-i686-pc-windows-gnu` for whatever reason even though I've set my target in config.toml to be `x86_64-pc-cygwin`
so I'd think it should be caching the `x86_64` version.

Then after its gotten to the part where is tries to run bootstrap/Cargo.toml it err

[2019-09-10 07:17] michaelwoerister commented on #64310
@nikic

Yes, I've been told that it has been reported to Apple.

On nightly, one can already control the mergefunc pass. On stable, however, one is stuck with the default behavior. That's what this issue is mostly about.

[2019-09-10 07:41] bbqsrc commented on #64282
That isn't the problem.

[code]

[code]

[2019-09-10 07:45] bbqsrc commented on #64282
Mm, in the _absolutely most recent nightly_, it seems to be working now! :D

[2019-09-10 07:45] #64282 closed

[2019-09-10 07:59] michaelwoerister commented on #64074
Maybe this could be fixed by making the check a bit more lenient. `[...]` can be used as a wildcard in the check patterns. @ranweiler, would you mind giving this a try locally by changing the check to:
[code]
That version should work for both old and new versions of LLDB.

[2019-09-10 08:04] GuillaumeGomez commented on #64305
No, by default it's not displayed. We make it "appear" when we're done loading the index file.

[2019-09-10 08:29] bjorn3 opened #64338 "Ffi safe lint ICE with type alias impl trait"
[code]

[code]

[2019-09-10 08:31] #64215 closed

[2019-09-10 08:31] #64244 closed

[2019-09-10 08:32] pnkfelix commented on #64310
@michaelwoerister just want to double-check my understanding: I would have thought one could use the `-C` options `-C no-prepopulate-passes` and `-C passes=val` to override the set of passes, even on the stable channel.

Am I incorrect about this?

(If I am correct, I nonetheless will admit that this is an *ugly* method to opt out of the MergeFunctions pass)

[2019-09-10 08:39] michaelwoerister commented on #64310
@pnkfelix I think that is correct, yes. It would be rather hard, however, to re-create the set of passes meaningfully, I suspect. Even the compiler delegates this to methods within LLVM, iirc.

[2019-09-10 08:53] Ploppz opened #64339 "Error with -Z time-passes"
[code]

[2019-09-10 09:22] matthiaskrgr commented on #64339
I encountered this as well.

What project are you trying to build?

My theory is that it tries to run something like `rustc --print=cfg -Z time=passes` (in `build.rs`?) and then fails to parse the output which is a mix of `--print=cfg` and `-Ztime=passes`...

[2019-09-10 09:36] vitvakatu opened #64340 "Linking issue with Rust 1.37.0"
See [build log](https://gist.github.com/vitvakatu/0e76378d0977e6e6dfd5fb5e29473179).

It looks like name mangling doesn't work correctly when linking with a dynamic library which is also depends on `libstd`.

The application structure is the following:
1. Large `dylib` crate `java_bindings`, containing 400+ dependencies and is dynamically linked to `libstd.dylib`.
2. `exonum-java` binary applicati

[2019-09-10 09:37] matthiaskrgr opened #64341 "toolstate: allow toolstate x->build_fail in rollup PRs"
I was trying to implement this myself but was not sure about implementation details, so making a ticket...

Currently, a PR that modifies a tool and does not change it to "test pass" will fail.
If we allowed "test pass"  -> "build fail", "build fail" -> "test fail", and "build fail -> build fail" we would allow tool fix PRs to be rolled up more aggressively.

Currently, tools-change prs are rarely

[2019-09-10 09:39] moshg commented on #64335
This might be related to: https://github.com/rust-lang/rust/issues/46213#issuecomment-415807521

[2019-09-10 10:26] eddyb commented on #58485
Huh, I wanted to do some other testing and found this out about `mir-opt` tests:

| `-j` |  Time  | > `60s` |
| ---: | :----: | :--- |
|  `1` |  `92s` | `0`  |
|  `4` |  `94s` | `0`  |
| `12` | `138s` | `3`  |
| `24` | `178s` | `22` |
| `48` | `197s` | `49` |

That is, the more threads (forced with `-jN`), the longer the total time it is, and the more "running over 60 seconds" messages are printed

[2019-09-10 10:26] mati865 commented on #64074
Using code from comment above does fix the error for LLDB 8.0.1.

[2019-09-10 10:38] glorv commented on #64238
I have open a [pr](https://github.com/rust-lang/rust/pull/64342) to refactor the pluralisations remain, @Centril please have a look at it, thanks.

[2019-09-10 10:46] eddyb commented on #58485
Okay all that analysis was pointless except it led me to realize all of those `rustc` processes are producing likely millions of syscalls.

`mir-opt` takes only a couple seconds once it's buffered.

[2019-09-10 10:47] mati865 opened #64343 "debuginfo/pretty-uninitialized-vec fails with `Cannot access memory at address 0x7fffff7fe000`"
[code]

[2019-09-10 10:47] msizanoen commented on #62558
Or we can properly rename the crates in the publish script for rustc-ap_* crates.

[2019-09-10 10:55] mati865 commented on #62558
@msizanoen I've tried it and it won't work (or at leas not easily).
Those crates [specify exact library name](https://github.com/rust-lang/rust/blob/61dced18277a8cd55c963502db5a4cdf837858f3/src/libfmt_macros/Cargo.toml#L8) which can be easily changed in automated way but automatically finding and changing code which loads them is a bigger task.

[2019-09-10 10:56] Xanewok commented on #62558
I'd like to add that it's a hack but it won't solve the case of proc macros shared by the compiler and the tools (e.g. `serde_derive`) and we'd like to see this use case supported as well.

[2019-09-10 11:01] msizanoen commented on #62558
Also clippy is failing with another error:
[code]

[2019-09-10 11:06] msizanoen commented on #62558
@mati865 But we can use cargo external crate renaming.

[2019-09-10 11:14] msizanoen commented on #62558
@mati865 We can use cargo external crate renaming (dependencies.*.package property)

[2019-09-10 11:16] msizanoen commented on #62558
This is the Cargo.toml file for rustc-ap_syntax_pos: https://docs.rs/crate/rustc-ap-syntax_pos/585.0.0/source/Cargo.toml

[2019-09-10 11:29] lithic opened #64345 "decrease compilation time"

[2019-09-10 11:33] lithic opened #64346 "question: when there will a Cranelift backend will available"

[2019-09-10 11:49] nikic commented on #64310
I think using `-C llvm-args=-mergefunc-use-aliases=false` might work on stable.

[2019-09-10 11:50] MSleepyPanda commented on #64346
Development of a cranelift backend happens at [bjorn3/rustc_codegen_cranelift](https://github.com/bjorn3/rustc_codegen_cranelift). It now passes [large portions](https://github.com/bjorn3/rustc_codegen_cranelift/issues/381#issuecomment-526846544) of the standard library tests.

[2019-09-10 11:56] jonas-schievink commented on #64346
Closing since this has an answer.

(questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community)

[2019-09-10 11:56] #64346 closed

[2019-09-10 11:58] msizanoen commented on #62558
Instead of renaming, we will use cargo's external crate renaming property like this: https://docs.rs/crate/msiz_rustc-ap-syntax_pos/1.0.0/source/Cargo.toml so that it automatically passes the right `--extern <name>=...` flags.

[2019-09-10 11:59] jonas-schievink commented on #64345
Please open more concrete issues, this isn't actionable as-is.

[2019-09-10 11:59] #64345 closed

[2019-09-10 12:02] michaelwoerister commented on #64074
I'd be happy to r+ a PR providing that fix.

[2019-09-10 12:13] janriemer commented on #59112
I am new to Rust and just came here after searching for 'rust value moved after match' on the internet.
The suggestion `--- help: consider borrowing instead of consuming here: &msg` has worked perfectly for me. I didn't know/wasn't aware that values are also moved in `match` expressions.

Thank you very much for the suggestion. I'd really like to see this in the compiler.

[2019-09-10 12:19] #64309 closed

[2019-09-10 12:27] est31 commented on #48683
For reference, this is happening in https://github.com/rust-lang/rust/pull/64316 .

also cc https://github.com/rust-lang/rust/pull/64324

[2019-09-10 13:08] linkwik opened #64350 "sender Cannot exit while using nested"
When I crawled the web pages with rust and curl, I needed to handle the redirected connections, so I created channels to handle the target, but when all the channels were finished, the program didn't quit and was still waiting

I tried drop(), but it didn't work

the code:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5df8459d891e6e4e020f12becf7a843

[2019-09-10 13:44] withoutboats opened #64351 "ManuallyDrop should be an object-safe receiver type"
We should extend the set of library-defined self types on stable to include types involving `ManuallyDrop`. `ManuallyDrop` is a transparent wrapper around another type which is completely unconstrained; there should be no technical limitations on making it an object-safe receiver type.

To be explicit, I am proposing to make the following types valid self types on stable, and all but the first wou

[2019-09-10 13:48] withoutboats commented on #64351
(Note: I believe for now, the way to express the method I'm interested in so that it is object safe is `self: Pin<&mut Self>` and document that it is safe to `ptr::read` from `Self` if `Self: Unpin`, but I'm not 100% clear on whether its actually safe to `ptr::read` from `Self` with the way unsafe code guidelines are shaking out.)

[2019-09-10 14:54] #64335 closed

[2019-09-10 14:55] Centril commented on #64282
Odd; I tried this out on nightly-2019-08-05 and it seems to be including `angery` in the tokenstream output.

[2019-09-10 14:58] bbqsrc commented on #64282
Yup, I was doing something wrong somewhere. 🤷‍♂ Just happy it's working now so I can do the cool things :D

[2019-09-10 15:04] alexcrichton commented on #64314
I agree that it's been so long since we've added one that we should probably do so carefully (aka use crater) but I think in general it's fine to add more.

[2019-09-10 15:10] jonas-schievink commented on #64350
`for x in receiver` will block until the other side of the channel is dropped. How did you try to use `drop`?

[2019-09-10 15:13] ethanboxx commented on #60258
@Centril Helped me get this merged. What is the stabilization process?

[2019-09-10 15:14] varkor opened #64352 "Rename `Kind`"
A `Kind` is not really a kind: it's a term (e.g. a particular type, a particular lifetime or a particular value). However, "`Term`" is overloaded as terms are usually values of particular types (which is just one case here). `KindedTerm` has been suggested.

[2019-09-10 15:15] varkor opened #64353 "Rename `.sty` field on `TyS`"
`.kind` makes more sense, but could be confusing, as it's not a [type-theoretic kind](https://en.wikipedia.org/wiki/Kind_(type_theory)). There's also the issue of having inconsistent ways to name a field containing a `*Kind`, e.g. `.node` and `.kind`. It would be good to make these consistent.

[2019-09-10 15:16] Centril commented on #60258
@ethanboxx I'd just file a PR to stabilize it and we'll ask T-libs to FCP.

[2019-09-10 15:28] shivan1b commented on #49660
Hi @clarfon ! Are you or anyone else working on adding the missed tests?

[2019-09-10 15:37] SimonSapin commented on #64314
The enum has `#[non_exhaustive]` so I’m not too worried a priori.

[2019-09-10 15:44] clarfon commented on #49660
They're free for anyone to implement right now!

[2019-09-10 15:45] iluuu1994 commented on #49660
Nope, not right now. Feel free to take over. It should be pretty similar to #63692, just add the missing types (bool, fp) and operators (bit operators).

[2019-09-10 15:50] Centril commented on #64353
I don't like `ty.kind` -- that's a bit of high-degree confusion in the heart of the type system.

I'd like to suggest a third alternative `.form` and `ExprForm` to use consistently everywhere.

[2019-09-10 16:02] shivan1b commented on #49660
Thank you very much @clarfon and @iluuu1994 , I'll send a PR.

[2019-09-10 16:26] a-rodin opened #64355 "Nightly segfaults in release mode on armv7-unknown-linux-gnueabihf"
Building any binary in release mode on `armv7-unknown-linux-gnueabihf` with `nightly-2019-09-09`  results in segmentation fault:

[code]

Rust compiler version:
[code]

The operating system is Raspbian Buster with fresh updates running on Raspberry Pi 4.

It looks like the issue is with the optimizer because building in release mode but with `opt-level=0` succeeds:

[code]

[2019-09-10 16:44] crlf0710 opened #64356 "Tricky error with `rustc-std-workspace-core` crate."
I'm not very sure whether this is a bug or not. But let me write down the reproduction steps. I'm using the newest stable.
Cargo.toml:
[code]
src/lib.rs
[code]
compiler output:
[code]
The `rustc-std-workspace-core` crate here is the one on crates.io. @alexcrichton

[2019-09-10 16:46] crlf0710 commented on #64356
If i add this to lib.rs:
[code]
There'll be extra error:
[code]

[2019-09-10 17:15] Mark-Simulacrum commented on #64356
Why are you using `core = { version = "1.0", package = "rustc-std-workspace-core"}` in Cargo.toml? That should only be for rustc-std deps, it shouldn't generally be used by anyone else.

I believe what you're finding is that you've overridden core crate with what is essentially an empty crate which is not going to contain Clone appropriately...

cc @petrochenkov

[2019-09-10 17:37] ehuss commented on #63330
This also trips up edition transitions.  Using `cargo fix --edition` will fail (see https://github.com/rust-lang/cargo/issues/7349).  If the suggestion is changed to add parentheses, then you'll end up with unnecessary parentheses in 2018.  Perhaps rustfmt could strip them afterwards, though. (Or maybe a clippy warning?)

[2019-09-10 17:38] nikomatsakis commented on #64130
I laid out something thinking in [this Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async-foundations/topic/future-not-send.20diagnostic.20.2364130)

[2019-09-10 18:00] V1shvesh commented on #64238
@varkor Oh, my bad. @glorv thanks for helping out!

[2019-09-10 18:01] crlf0710 commented on #64356
i'm trying to add these dependencies to the crate `winapi`. And i'm checking whether these hacks works outside rustbuild. Then i saw this error.
cc #63725

[2019-09-10 18:10] Mark-Simulacrum commented on #64356
See e.g. how libc does it for a working example. https://github.com/rust-lang/libc/blob/master/src/lib.rs#L41

You'll only want to replace core with rustc-std-workspace-core if a rustc-dep-of-std feature is set or so

[2019-09-10 18:23] estebank commented on #64300
This is likely caused by a malformed span pointing at the middle of an unicode grapheme. We _can't_ know for sure the culprit is the parser without the stack trace :-/

[2019-09-10 18:28] hdevalke commented on #62208
I created a crate with this functionality: https://github.com/hdevalke/take-until

[2019-09-10 18:48] comex commented on #64351
👎 .  We should focus on stabilizing [`arbitrary_self_types`](https://github.com/rust-lang/rfcs/pull/2362) rather than giving the standard library more special privileges.

[2019-09-10 19:15] memoryruins commented on #64355
Potentially a duplicate of #62896
Does the `RUSTFLAGS='-Ccodegen-units=1'` workaround mentioned in that issue help?

[2019-09-10 19:26] a-rodin commented on #64355
@memoryruins `RUSTFLAGS='-Ccodegen-units=1'` helps, the compilation succeeds using it.

[2019-09-10 19:32] varkor commented on #64353
@eddyb suggested `.which`.

[2019-09-10 19:49] Centril commented on #64353
I would like to have `.thing` and `ExprThing` be consistent. Idk if `ExprWhich` works so well here.

Another alternative: `.shape: ExprShape`.

[2019-09-10 20:00] iliana opened #64362 ""variant is never constructed" lint appears to be incorrect?"
This code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c03d4fa0a396d0476637d39c43bda0c2)) causes a "variant is never constructed" lint, even though the variant is constructed in the `FromStr` implementation:

[code]

[code]

Changing `Self` for the type name in `from_str` for `Foo` ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&editio

[2019-09-10 20:04] RalfJung commented on #64090
That certainly is UB, as I said above.

It is UB for a function to unwind if at least one of the caller and callee signature says this may not unwind. In your case, the callee signature declared here
[code]
says "cannot unwind", and hence this may not unwind, no matter the signature used by the caller.

[2019-09-10 20:07] xire28 commented on #64343
Related WIP pull request: https://github.com/rust-lang/rust/pull/60826

[2019-09-10 20:21] #37904 closed

[2019-09-10 20:21] #58485 closed

[2019-09-10 20:21] #63832 closed

[2019-09-10 20:22] rust-highfive opened #64363 "`miri` no longer builds after rust-lang/rust#64354"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#64354, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and @rust-lang/compiler -- nomi

[2019-09-10 20:32] jonas-schievink commented on #64322
Fixed by https://github.com/rust-lang/rust/pull/64331. Closing.

[2019-09-10 20:32] #64322 closed

[2019-09-10 20:40] mikeyhew commented on #64351
I'm not sure I agree with @comex, I don't think adding another special case would get in the way of stabilizing `arbitrary_self_types`. But I do get his/her/their frustration. All of the above listed receiver types are usable with the `arbitrary_self_types` feature, and they are object-safe. I don't necessarily think that the entire feature should be stabilized in one go, but we should work toward

[2019-09-10 21:15] tmandry opened #64364 "`extern crate foo as core` breaks resolution in macros"
Broken in a recent nightly. Reproducer ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b2ebe9fed3b69a7eaef700018e5a9b51)):

[code]

Gives the following:

[code]

I've also observed this if a crate is named `core` and gets used without any `extern crate` items.

modules named `core` do not trigger this, only crates.

Seen in the wild: https://github.com/gfx-rs

[2019-09-10 21:18] petrochenkov commented on #64364
Duplicate of https://github.com/rust-lang/rust/issues/63687, fixed in https://github.com/rust-lang/rust/pull/64060.

[2019-09-10 21:23] spacejam opened #64365 "ICE encountered in 1.37 stable borrowck"
reproduction branch:
https://github.com/spacejam/sled/tree/tyler_ice_ice_baby

the last commit is the one-line-change that induces the panic

rustc 1.37.0 (eae3437df 2019-08-13) running on x86_64-unknown-linux-gnu

[code]

edit: confirmed this works without target-cpu=native, edited that out of the text above

[2019-09-10 21:35] #64364 closed

[2019-09-10 22:14] jonas-schievink commented on #64185
Closing in favor of #62558

[2019-09-10 22:14] #64185 closed

[2019-09-10 22:17] memoryruins commented on #64365
It also emits ICE for me on stable `1.37.0`. The assert message is the same that occurred in #62107 and #63932. Trying on beta and nightly, it no longer produces an ICE

[code]

`rustc 1.38.0-beta.5 (d097af105 2019-09-03)` / `rustc 1.39.0-nightly (0b36e9dea 2019-09-09)`

[2019-09-10 22:18] jonas-schievink commented on #64144
Re-categorizing as a documentation issue. `File::open` should mention that it (might) work on directories.

[2019-09-10 22:21] jonas-schievink commented on #64365
Closing as fixed then.

[2019-09-10 22:21] #64365 closed

[2019-09-10 23:27] Centril commented on #60857
@V1shvesh sure, go for it. :)

(I have personally not investigated how or where to fix it so you'll need to do some digging.)

[2019-09-10 23:39] alexcrichton commented on #61521
I believe that this is a bug elsewhere than rustc itself, the error message here isn't coming from Rust/LLVM and the code compiles/works for me, so you may want to narrow this down to which part of the wasm pipeling is error'ing out and report it there.

[2019-09-10 23:39] #61521 closed

[2019-09-11 00:31] jhpratt commented on #53120
@Centril A few of us were just discussing the way forward on #rocket. Based on your recent-ish comment, is there a possibility of a proposed FCP in the near future?

[2019-09-11 00:34] Centril commented on #53120
@jhpratt I've been meaning to do a write-up and eventually propose it but I've been busy with other things. I'll try to find some time in the near future.

[2019-09-11 00:39] comex commented on #64090
But that's not the callee signature; it's only a signature we're using on the caller's end to declare the symbol.  I'm assuming that the callee's actual implementation (which might be in another crate, or written in a different language altogether) is properly declared as unwinding.

[2019-09-11 00:51] withoutboats commented on #64351
These things don't block one another - stabilizing the ability for users to define custom receivers doesn't have any kind of ordering with which std types can be custom receivers. We've already given std the special privilege to use this feature beyond what other crates can do (as we have with many other features), these types were just overlooked from the set we stabilized for no particular reaso

[2019-09-11 01:53] nagisa commented on #64291
Producing fewer files for incremental compilation would reduce reuse/hit ratio. Not sure whether number of links can be reduced, but OS taking 0.2ms on average to increment a link count and add inode to a directory list seems so excessive that I suspect there might be something else going as well (e.g. perhaps we’re saturating the I/O interface with other ops?)

[2019-09-11 02:19] linkwik commented on #64350
In the get_html function, before return and after the sender is sent

[2019-09-11 02:20] linkwik commented on #64350
What should I do ？

[2019-09-11 02:33] V1shvesh commented on #60857
Will do my best!

[2019-09-11 02:46] sinkuu commented on #64350
It seems there is a circular-dependency: `gen_target` owns `task_send` and blocks on `for i in redirect_rece`, and the closure in `let run_task = thread::spawn(..)` owns `redirect_send` and blocks on `for i in task_rece`. You might need to reconsider the architecture.

[2019-09-11 03:32] ZNielsen opened #64370 "Failure to install cargo package"
When attempting to install a binary via cargo, I got a build failure.

I tried this code:

`cargo install fd-find`

I expected to see this happen: Successful installation of fd.

Instead, this happened:

[code]

## Meta

`rustc --version --verbose`:
[code]

Backtrace:
[code]

[2019-09-11 04:05] kentfredric opened #64371 "Rustdoc generates illegal "<div>" inside "<pre>" with traits"
Similar to the previous bugs I've filed in this regard with illegal html:

In:  1.39.0-nightly (34e82a7b7 2019-09-10)

The following trait definition:
[code]
Emits invalid html ( hand formatted ):
[code]

"pre", like headers, only permits child nodes that are "phrasing content", of which, div is excluded.

So the error is from `<div class='item-spacer'></div>`

`htmltidy` handles this by premature

[2019-09-11 04:07] ZatchBo commented on #64370
I was able to build when running with `cargo install fd-find -j1`.

[2019-09-11 04:37] #64187 closed

[2019-09-11 04:37] #63687 closed

[2019-09-11 04:39] comex commented on #64351
The reason I care about ordering is that every new `std`-exclusive feature makes it harder to migrate from `std` functionality to alternatives.

In fact, the ordering is the *only* aspect of these features I care about.  I'm not personally interested in `arbitrary_self_types` for its own sake.  Rather, my sole interest is in minimizing the amount of `std`-exclusive functionality.  Stabilizing `arb

[2019-09-11 05:08] crlf0710 commented on #64356
https://github.com/unicode-rs/unicode-width/blob/master/Cargo.toml#L22
This also fails when running `cargo build --features core`.
@alexcrichton Could you also release a new dot version for `rustc-std-workspace-core`? I'm not entirely sure what the content should be, maybe something like this:
[code]

[2019-09-11 05:41] mikeyhew commented on #64351
I just realized that's not true. Right now, if the feature flag is not enabled, we require that the receiver type implements `Receiver + Deref<Target=Self>`. `&ManuallyDrop<Self>` implements `Deref<Target=ManuallyDrop<Self>>` and does not work. I had a PR (https://github.com/rust-lang/rust/pull/55880) that allowed composed receiver types like `&&Self` in stable, but we ended up going with these mo

[2019-09-11 07:07] mati865 commented on #63848
@lienke https://github.com/rust-lang/rust/pull/63806 was merged, could you check if latest nightly works for you?

[2019-09-11 07:09] mati865 commented on #64006
@johalun could you check if this works in latest nightly?

[2019-09-11 07:12] hellow554 commented on #64362
This is correct. Your snippet is treated as a library, where the enum `Foo` is not reachable, because it is not public.
If you prepend a `pub` the error will go away.

Behavoir inteded and therefore this can be closed.

[2019-09-11 07:43] pypypypypypypypypyp opened #64373 "closure compilation fails depending on type inference"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=772e2a833bd2bdcf4296d3667e2ff4b7))

Errors:

[code]

[2019-09-11 08:59] jakubadamw commented on #64362
The bug is that it doesn't trigger for `B`.

If the lint triggered for all variants, then it would just say:

[code]

[2019-09-11 09:26] petrochenkov commented on #64353
I'm for `FooKind` / `foo.kind`, which is an existing and widely used convention.
`TyKind` / `ty.kind` is also ok.
The confusion with type-theoretic kinds applies only to a couple of selected cases, and even in case of `ty.kind` it's clear what kind it is, not worth changing conventions everywhere.

`.node` is a legacy convention, I always thought is didn't make much sense, personally, I'd gladly r

[2019-09-11 09:38] pnkfelix commented on #57431
Hi @saleemjaffer ; I was on leave, but I am back now.

Sometimes we decide a given short-term solution is not worth the effort, and jump straight to a long-term solution. I.e. if initial investigation of the short-term solution indicates that it is nearly as much effort as the long-term one would be.

My guess is that this is not one of those cases. I believe we could have people independently wor

[2019-09-11 09:39] jonas-schievink commented on #64373
I've definitely seen this reported in another issue before, but can't seem to find it

[2019-09-11 09:40] michaelwoerister commented on #64191
I'm generally in favor of this. Some thoughts:
- One of the computationally more heavy things that linking needs is the list of exported symbols (i.e. the linker script). Getting this list involves analyzing the HIR and reading upstream crate metadata. But it should be easy to serialize this information during the `--do-not-link` step and store it in the `.rlink` output.
- Could we move all of LTO

[2019-09-11 09:41] jonas-schievink commented on #64350
Yeah, this is not a bug in Rust, so closing. Feel free to ask on the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community though.

[2019-09-11 09:41] #64350 closed

[2019-09-11 10:02] mati865 commented on #64370
I believe this is duplicate of https://github.com/rust-lang/rust/issues/64355

[2019-09-11 10:03] wagnerf42 commented on #62529
hi, I think I just go bitten by that too.

Not sure if you are interested but my code is here :
https://github.com/wagnerf42/rayon-adaptive/commit/8294776a3ac6fd86e84f98a1d87b8985b275bb11

it's not a minimized version, sorry.

i'm a bit sad, it took me so much time to write it. well, life is hard.

[2019-09-11 10:15] mati865 commented on #62896
@msizanoen I doubt it has something to do with sccache.
Official Rust binaries are built with `rust.remap-debuginfo = true` and `debuginfo-level-std=1` and few other options. Could you try with those two changes?

[2019-09-11 10:16] matklad commented on #49803
@MaulingMonkey I think this indeed goes well beyond the scope of the metabuild. I think what you want here are cargo workflows, or cargo tasks. As far as I know, they didn't get past the vague ideas stage.

* Blog post introducing the task concept: http://aturon.github.io/tech/2018/04/05/workflows/
* Blog post about a hack which sort-of gives you tasks on stable: https://matklad.github.io/2018/01/

[2019-09-11 10:28] msizanoen commented on #62896
@mati865 How do I enable it in config.toml?

[2019-09-11 10:49] withoutboats commented on #64351
@mikeyhew is it challenging to implement the work for composed receivers but not stabilize them? I would think that's just a matter of the Receiver impls. Composed receivers are a bit more uncertain to mebecause they make the set of receivers infinite with absurdity like `self: &&&mut &Self`

[2019-09-11 11:12] nnethercote commented on #64301
I'm going to modify this issue to be about all types that cause many calls to `memcpy`. These types are all > 128 bytes in size.

`DiagnosticBuilder` is another one (and consequently `PResult`). #64374 deals with that.

[2019-09-11 11:14] est31 opened #64376 "Document endianess of octets function on ipv4addr/ipv6addr"
The docs of the octets function on [ipv6addr](https://doc.rust-lang.org/stable/std/net/struct.Ipv6Addr.html#method.octets) and on [ipv4addr](https://doc.rust-lang.org/stable/std/net/struct.Ipv4Addr.html#method.octets) don't tell about the endianess. Network or host order?

This issue has been assigned to @fhartwig via [this comment](https://github.com/rust-lang/rust/issues/64376#issuecomment-53721

[2019-09-11 12:01] kornelski commented on #42940
A smaller test case (fails to compile in 1.39-nightly):

[code]

[2019-09-11 13:20] daniel-shimon commented on #47048
### For whoever is getting here with the original problem, the following worked for me:
#### (`undefined reference to '__imp___acrt_iob_func'`)

## 1. Create workaround.c with the following
###### (thanks @tspiteri for the workaround code)

[code]

## 2. Compile and create the library
[code]

## 3. Move the library to rust's lib folder
[code]

## 4. Add the following to `~/.cargo/config`:
[code]

[2019-09-11 13:29] Mark-Simulacrum commented on #39341
The top-level comment example compiles today, so I think this is fixed, possibly due to 2018 edition.

[2019-09-11 13:29] #39341 closed

[2019-09-11 13:48] Darneas opened #64379 "Additional methods for TcpStream to provide more sockopts"
Dear all,

I'm writing a small TCP-based time-measuring tool and use the `std::net::TcpStream`. It turned out that I want to manipulate additional options via `setsockopt()`, but this is not available in the
stable API of https://github.com/rust-lang/rust/blob/master/src/libstd/net/tcp.rs.

However, in https://github.com/rust-lang/rust/tree/master/src/libstd/sys_common, the raw `setsockopt()` meth

[2019-09-11 13:49] alexcrichton commented on #64356
Hm can you explain why it's necessary? The `rustc-std-workspace-core` crate from crates.io should never actually be compiled, the feature should never be turned on by consumers.

[2019-09-11 13:51] alexcrichton commented on #64191
I don't disagree that y'all's sorts of projects don't want to use the rustc-baked-in LTO, but I don't think we can remove it because many other projects do use it (and rightfully want to). Also this is still just a sort of high-level concept, but if a lot of feature requests are piled onto this it's unfortunately unlikely to happen.

[2019-09-11 14:27] johalun commented on #64006
Test with async-std and backtrace-rs and it is working as expected now.
Thanks!

[2019-09-11 14:29] lienke commented on #63848
Hi.
Thanks for all the time and effort. Here are the results. These are the most recent items being compiled:
[code]
Command used:
`cargo install nu`

On this system:
[code]
Thanks ... cheers, drl

[2019-09-11 14:36] lienke commented on #63848
( Previous attempt at reply failed.)
Hi -- thanks for work and effort. Here are the results of `cargo install nu`:
[code]
On a system:
[code]

[2019-09-11 14:37] lienke commented on #63848
( Needed to re-open apparently ... cheers, drl )

[2019-09-11 14:39] jonas-schievink commented on #64006
Closing as fixed

[2019-09-11 14:39] #64006 closed

[2019-09-11 14:52] mati865 commented on #63848
`rustc 1.37.0 (eae3437df 2019-08-13)` probable fix landed only in `nightly` but you are using `stable` release.

[2019-09-11 14:54] msizanoen commented on #62558
That PR did not fix the issue. Also clippy is failing with another error (see https://github.com/rust-lang/rust/issues/62558#issuecomment-529884322)

[2019-09-11 14:56] Alphare commented on #64314
Is this something I can reasonably tackle as a first contribution?

[2019-09-11 14:58] Manishearth commented on #62558
The issue won't be fixed till the next nightly.

[2019-09-11 15:00] pietroalbini commented on #62558
Keeping it open until then.

[2019-09-11 15:07] msizanoen commented on #62558
There is a hack awaiting to be merged in alexcrichton/rustc-auto-publish#12. This make sure rustc-ap-rustc_macros is compiled as librustc_ap_rustc_macros.so and not librustc_macros.so to prevent confusing the compiler.

[2019-09-11 15:08] lienke commented on #63848
Hi.
I thought about that afterward, so (after some research) I did this:
[code]
So I checked for the version after install nightly and failed compilation:
[code]
Where does it put the updated (nightly) compiler? ... cheers, drl

[2019-09-11 15:18] RalfJung commented on #63848
`rustc +nightly` will call the nightly compiler. `rustup override set nightly` makes nightly the default for your current directory (and its subdirs).

[2019-09-11 15:24] crlf0710 commented on #64356
I just think it might be a little strange if the most important crates in the ecosystem has an optional dependency that's causing compilation errors when enabled~

Maybe it's not a must. but if the `rustc-std-workspace-*` crates on crates.io can work as a drop-in replacement for the sysroot corresponding crates, it might be slightly more natural?

[2019-09-11 15:25] msizanoen commented on #62558
@Manishearth @pietroalbini This issue is still not fixed yet. Even after alexcrichton/rustc-auto-publish#12 is merged then the rustc-ap crates still need to be re-published and somebody will need to send a few PRs to tool repositories to update the autopublish crate versions.

Even after that somebody will need to update the tool submodules in the main repo.

I guess it will take a while.

[2019-09-11 15:32] lienke commented on #63848
Hi.
Still failed:
[code]
Thanks ... cheers, drl

[2019-09-11 15:44] mati865 commented on #64356
@crlf0710 you are not supposed to use it directly or have it enabled by default.
`libc` is a good example as it pulls this crate only when `rustc-std-workspace-core` feature is enabled meaning it never gets enabled outside of `libstd`.

[2019-09-11 15:47] pustaczek commented on #64176
I also ran into this while trying to rewrite one of my projects. The issue does not seem to be related to lifetimes at all:
[code]

[2019-09-11 15:50] mati865 commented on #63848
Thanks, it's valuable data.

Guess we gotta get rid of `rand < 0.7` from every `rustc` dependency.

[2019-09-11 15:51] cramertj commented on #64351
I'm in the process of working to stabilize composed receivers in https://github.com/rust-lang/rust/pull/64325

[2019-09-11 15:55] lienke commented on #63848
Hi.
After running ``rustup override set nightly`
It finally compiled. Whether it runs or not, we shall see, but this is a giant step in the right direction
[code]
This is a pretty big rust code compared to others I have seen (perhaps 6 or so), so good work.

I have no idea how setting the default as I first did differs from the way RalfJung suggested, but his suggestion appeared to be the correct

[2019-09-11 15:55] newpavlov commented on #63848
Can you add a backtrace? `rand 0.6.1` is still a dependency for the following crates:
- `miri`
- `parking_lot_core` (v0.4.0 is used, while the latest version is v0.6)
- `phf_generator` (it was [updated](https://github.com/sfackler/rust-phf/commit/522f8230b9e738707764aed699bafc7c7ca997d0#diff-a8926d3b93d1847cfb531c2789754784) recently, but new version have not landed on crates.io yet)
- `rls`, `rls

[2019-09-11 15:59] lienke commented on #63848
@newpavlov:
it compiled. Do you still need a backtrace? I might not be able to replicate the problem, but it may be related to how the default was set ... cheers, drl

[2019-09-11 15:59] mati865 commented on #63848
Overrides are explained in https://github.com/rust-lang/rustup.rs#directory-overrides

I identified `parking_lot 0.7.1` and `tempfile` as `rustc` dependencies pulling in old rand.

[2019-09-11 16:21] alexcrichton commented on #62558
@msizanoen I've merged your PR and published a new suite of crates on crates.io as v587

[2019-09-11 17:03] cuviper commented on #64289
I'm going to take a shot at this.

[2019-09-11 17:12] mati865 commented on #63848
@newpavlov it's true the tools might not work because of the old `rand` but much more important is to have `rustc` working.
https://github.com/rust-lang/rust/pull/64381 should take care of it, I'll see about the tools this or next week (it's hard because upgrade has to be coordinated).

[2019-09-11 17:15] RalfJung commented on #63848
For Miri I already opened https://github.com/rust-lang/miri/pull/947.

[2019-09-11 17:20] estebank opened #64382 "Consider async blocks on lifetime errors"
[The following incorrect code](https://github.com/bluejekyll/trust-dns/pull/849/files#diff-5cbe22b68a836c7213c624099dedb640R182)
[code]
emits the following error
[code]

The correct code needs the `buf` to be part of the `async` block because it is a stack allocation that needs to be in the generator:

[code]

Ideally, the error message would mention `buf`:

[code]

*thanks to @bluejekyll for brin

[2019-09-11 17:36] ztlpn commented on #64362
The problem seems to manifest itself when variants with named fields are constructed using `Self::`.

Here is a minimal example ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8ef0a80dfd2e424af00e1c7ba9724232)):

[code]

[2019-09-11 18:41] RalfJung commented on #63848
I don't think so. That check is for the same version of the same crate being compiled multiple times due to different feature flags.

[2019-09-11 19:45] SimonSapin commented on #64314
Add variants sounds fine, but when would `NotADirectory` be returned? If it’s in existing APIs, what do they return today?

[2019-09-11 19:47] dtolnay opened #64385 ""Don't know the field number in this context""
##### src/lib.rs:

[code]

Stable, and nightly-2019-09-09:

[code]

nightly-2019-09-10:

[code]

https://github.com/rust-lang/rust/compare/2b8116dce...0b36e9dea

Mentioning @c410-f3r @petrochenkov because this is likely from #63468.

[2019-09-11 19:52] Alphare commented on #64314
@SimonSapin I think one case where it can happen is when you try a filesystem operation on `a/b` where `a` is not a directory. As of now it falls into the `Other` variant, but the match clause should translate [this constant](http://rust-lang.github.io/regex/src/libc/unix/notbsd/mod.rs.html#388) into `NotADirectory`.

[2019-09-11 20:00] Arnavion commented on #42940
Updating [the workaround I mentioned](https://github.com/rust-lang/rust/issues/42940#issuecomment-410762919) with the new syntax for trait aliases:

- [`type PostFuture<'a> = impl Future + 'a; fn post<'a, B>(&'a self, _body: &B) -> PostFuture<'a> {`](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1e0f4f0df63fb37c2aea73c299b43cbd)

- [`type SomeTr = impl Tr; fn foo<T>(_t:

[2019-09-11 20:02] novacrazy commented on #50951
Added in #63166

[2019-09-11 20:02] #50951 closed

[2019-09-11 20:06] petrochenkov commented on #64385
Yeah, this is some known shortcut taken in https://github.com/rust-lang/rust/pull/63468, sorry.
Didn't expect people to hit it that fast.
Will fix ~this weekend.

[2019-09-11 20:15] dtolnay commented on #64385
Thanks. The realistic usage where this appears is if you forget to import a derive macro, which happens commonly.

[code]

[2019-09-11 20:32] nikomatsakis commented on #64351
I personally have no objection to extending the set of stabilized types a bit farther. That said, I would appreciate a few more details on the proposed use cases.

Otherwise:

- a stabilization write-up, of course, which would mostly be a small extension to what @withoutboats has written but with some added test cases
- we should of course have such test cases
- and coverage in the rust reference

[2019-09-11 20:36] Mark-Simulacrum commented on #42188
2018 edition mostly deals with this as `std::io::Error` is valid now, along with other similar paths as well I believe.

[2019-09-11 20:36] #42188 closed

[2019-09-11 20:40] Mark-Simulacrum commented on #44535
It does seem like ultimately what we want here is the diagnostics feature of macros stabilized, before that happens I don't expect this'll have too much movement, so I'm going to go ahead and close as it's edging on either "needs RFC" and/or "won't fix".

[2019-09-11 20:40] #44535 closed

[2019-09-11 20:48] jakubadamw commented on #64362
@rustbot claim

[2019-09-11 20:51] Mark-Simulacrum commented on #44710
The diagnostic registration is "just" a macro_rules macro now so I suspect this is pretty simple to implement per the suggested path in the issue description; I'm going to mark as E-easy and E-mentor with myself as the mentor.

You'll want to edit the `DIAGNOSTICS` array definitions [here](https://github.com/rust-lang/rust/blob/master/src/libsyntax/diagnostics/macros.rs#L178) to have the type `(&s

[2019-09-11 20:57] nikomatsakis commented on #63893
In the @rust-lang/lang meeting on [Sep 05](https://paper.dropbox.com/doc/T-Lang-Meeting-2019.09.05--AkmYatur2MDikhHZuCgppWpxAg-qA0w3GsE7WJMX3v05orXV), we decided that "won't fix" was an appropriate decision.

[2019-09-11 20:57] #63893 closed

[2019-09-11 21:00] nikomatsakis commented on #63896
Just FYI, we discussed this in the [Sep 05](https://paper.dropbox.com/doc/T-Lang-Meeting-2019.09.05--AkmYatur2MDikhHZuCgppWpxAg-qA0w3GsE7WJMX3v05orXV) @rust-lang/lang meeting. We felt like the action here was appropriate -- while in general we do not guarantee stability of pretty printing, it makes sense to be judicious, and in this *particular* case not having a leading space before `,` just look

[2019-09-11 21:01] nikomatsakis commented on #63886
We discussed this in the [Sep 05](https://paper.dropbox.com/doc/T-Lang-Meeting-2019.09.05--AkmYatur2MDikhHZuCgppWpxAg-qA0w3GsE7WJMX3v05orXV) @rust-lang/lang meeting and decided this is a "bug fix" and hence "won't fix" is the appropriate result. Closing.

[2019-09-11 21:01] #63886 closed

[2019-09-11 21:16] Centril commented on #64385
Un-nominating since Vadim self-assigned.

[2019-09-11 21:16] Mark-Simulacrum commented on #48885
I agree that in practice we can't do this in rustc since it is too false-positive prone so I'm going to close this; if someone wants to pursue this I would either go through the RFC process to try and argue the case for a false-positive prone lint here or add it to clippy.

[2019-09-11 21:16] #48885 closed

[2019-09-11 21:21] Mark-Simulacrum commented on #51219
I suspect this is somewhat "unfixable" -- proc macros sometimes just lose spans if they make no effort to preserve them. As such, I'm going to close; if a minimal example can be shown to have a similar error with just macro_rules we can probably reopen.

[2019-09-11 21:21] #51219 closed

[2019-09-11 21:35] Mark-Simulacrum commented on #61132
@Electron-libre Are you still working on this? If so please `@rustbot claim` this issue, thanks!

[2019-09-11 22:36] cdisselkoen opened #64388 "Error diagnostic suggests syntactically invalid code"
For the following code ([Playground link]):

[code]

`rustc` provides the following error and suggestion:
[code]

But applying this suggestion results in a syntax error:
[code]

Using the [Playground link], I reproduced this invalid suggestion on Rust 1.37.0 stable, 1.38.0-beta.2, and 1.39.0-nightly 2019-08-23.

[Playground link]: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&

[2019-09-11 22:57] estebank commented on #51219
I don't entirely agree, but we already have https://github.com/rust-lang/rust/issues/51635 covering related remediations so closing this should be ok.

[2019-09-11 23:01] Centril opened #64389 "Spurious "found two different crates with name `alloc`" errors in PR builder"
- https://github.com/rust-lang/rust/pull/64378#issuecomment-530412814
- https://github.com/rust-lang/rust/pull/64429#issuecomment-531692042

[2019-09-11 23:17] Mark-Simulacrum commented on #64389
Some relatively unscientific digging for where we create SVHs dug up this [bit of code](https://github.com/rust-lang/rust/blob/74d5c70b174f06843049af2d764ff57ddc81c81c/src/librustc/hir/map/collector.rs#L188-L195) -- that sort_unstable looks rather suspicious, as it's presumably possible for two crates with different hashes to end up in a different order, and then when we go on to hash it it'll lea

[2019-09-11 23:21] Mark-Simulacrum commented on #64389
Another note is that this is likely to prove rather hard to track down as to what caused this as we've seen relatively few of these errors - the PR description lists one case, and anecdotal data suggests maybe around 6 or so errors that we've noted like this. Interestingly, all were specifically in these liballoc doctests which explicitly have an `extern crate alloc;`; maybe that points to the bug

[2019-09-12 00:25] chumd commented on #54528
Laptop hang up

[2019-09-12 00:42] chumd commented on #54528
Support  window10   x'64  hang up

[2019-09-12 00:46] ehuss commented on #64389
Has this happened before #63827?

[2019-09-12 01:20] Mark-Simulacrum commented on #64389
I believe so, but not completely confident. It occurs really rarely, so it's hard to be certain unfortunately.

[2019-09-12 02:15] sfackler opened #64391 "async functions fail to move values into generated futures in the latest nightly"
This simple async function fails to compile on the newest nightly: https://github.com/sfackler/rust-postgres/blob/2cc5bbf21b654c26bfd8b1e80b1e5c7cbd81235f/tokio-postgres/src/lib.rs#L163-L172

[code]

I'm guessing this was caused by #64292 (cc @davidtwco)

[2019-09-12 02:19] sfackler commented on #64391
This can be hacked around via an `async move {}` block:

[code]

[2019-09-12 02:33] khionu opened #64392 "Async function return type inference fails without an ending return"
I have a function of the signature `async fn run() -> Result<!, Box<dyn std::error::Error>>`. It ends with a loop that, as you may infer, never returns `Ok`. The inference for code generation failed, and the various compiler errors said that my function actually returned `()`.

[2019-09-12 03:34] chumd commented on #64218
Someone manipulated s scricpt

[2019-09-12 03:58] memoryruins commented on #64392
Can you provide a function/ playground that reproduces the errors?

[2019-09-12 04:56] nnethercote commented on #64301
`SubregionOrigin` is another one, #64394 improves it.

[2019-09-12 06:27] bobbobbio opened #64397 "rustdoc crashes parsing yet another strange doc-comment on 1.37"
I had a similar issue on 1.36 that seemed to have been fixed: https://github.com/rust-lang/rust/issues/62571

That fix looks like it went into 1.37, but I'm getting a crash running on a similar doc comment once again.

Here is the offending doc-comment
[code]

And here is the backtrace
[code]

[2019-09-12 06:32] bobbobbio commented on #64397
I'm sorry. It seems that the original issue I linked must not be fixed in 1.37. If I try this or the original issue on nightly, it goes away. So I probably just was wrong about which release the fix went into.

[2019-09-12 06:32] #64397 closed

[2019-09-12 07:09] Mokosha commented on #55300
@umanwizard I have no idea what the standardization process is for features, so I don't really know how to answer that. Happy to support whatever needs to be done for that though!

[2019-09-12 08:08] H-ZeX opened #64399 "(1<<64) can not be precisely represent by f64 in rust (in c, it is ok)"
[code]

[code]
`(1<<64) == 18446744073709551616`, so IEEE754 can represent it use 64 or 32 float number

[2019-09-12 10:30] ajuvercr opened #64401 "ICE FulfillmentError in trait codegen"
When trying to use generic function with capnproto structs the compiler fails to infer types correctly.
I failed to distil the problem to a smaller size.
Capnproto generates code that implements traits like this
`  impl <'a> ::capnp::traits::Owned<'a> for Owned { type Reader = Reader<'a>; type Builder = Builder<'a>; }
`
<details>
  <summary>Error</summary>
<pre><code>
error: internal compiler erro

[2019-09-12 12:54] H-ZeX opened #64403 "behavior about 18446744073709552000f64 is very different in `const`, `let`, `cargo run`, `rustc`"
This code

[code]

if save it in `1.rs` and `rustc 1.rs && ./1`, the output is
[code]

if `cargo new rust-demo` and write the code in `main.rs` then `cargo run`, the output is
[code]

my rustc is
[code]
my cargo is
[code]

[2019-09-12 13:03] michaelwoerister opened #64405 "debuginfo: Line-tables-only mode emits much more debuginfo than Clang"
We probably could emit less debuginfo when compiling with `-Cdebuginfo=1` than we do at the moment. Clang 8.0 emits a lot less debuginfo when compiling with `-gline-tables-only`, with debuginfo not containing any `DW_TAG_subprogram` entries; while stepping through the code with gdb still works.

However, reducing the amount of debuginfo emitted should be done with care since external tools rely on

[2019-09-12 18:16] bjorn3 opened #64410 "libstd build without backtrace feature broken"
Likely because of https://github.com/rust-lang/rust/pull/64154.

[code]

[2019-09-12 21:02] nikomatsakis opened #64412 "`re_rebalance_coherence` doesn't properly account for fundamental types"
As part of an effort to stabilize the `re_rebalance_coherence` RFC (#63599), I was creating tests trying to get more coverage of all possible scenarios, and I found that we don't seem to be handling fundamental types in the way that the RFC specifies.

In particular this test is presently accepted and yet ought to be rejected:

[code]

I'll be adding this test (along with some others) in a PR soon

[2019-09-12 23:06] glandium opened #64417 "The compiler should be more helpful when trait bounds are not met."
Here's a reduced testcase:
[code]

This fails to compile with:
[code]

The way `#[derive]` works (#26925), and with 20/20 hindsight, it's obvious what's wrong. But even when you know about #26925 it takes a mental effort to go from that error message to "oh, right, `#[derive(Clone)]` adds `T: Clone`".

It would be useful if the compiler went further, and, considering there *is* an `impl Clone for

[2019-09-13 08:47] pnkfelix commented on #58178
After further discussion with @Mark-Simulacrum and @nnethercote , closing as essentially fixed (at least to the point of not being worth tracking in this issue).

[2019-09-13 08:47] #58178 closed

[2019-09-13 08:56] carado commented on #61903
This bug no longer occurs.
(I just checked with rustc 1.39.0-nightly (0b36e9dea 2019-09-09))

[2019-09-13 08:56] #61903 closed

[2019-09-13 09:02] jonas-schievink commented on #61903
Probably fixed by https://github.com/rust-lang/rust/pull/62221

[2019-09-13 09:42] z0mbie42 opened #64421 "unexpectedly panick when compiling mysql_common"
Compiler panics when compiling `mysql_common`.

I tried to lint a project using `mysql_common` as dependencies using `cargo clippy` but I got the following error:
[code]

I got the same error with the following Rust versions:
* `nightly-2019-08-01`
* `nightly-2019-08-17`
* `nightly-2019-09-11`
* `nightly-2019-09-13`

But it works with:

`nightly-2019-07-19`

[2019-09-13 10:27] jyao1 commented on #62785
https://reviews.llvm.org/D56548 changed the policy to generate _fltused symbol - *"It should be emitted when any floating-point operations (including calls) are present in the object, not just when calls to printf/scanf with floating point args are made."*

To resolve the x86_64-unknown-uefi issue, we may have below possible options:
1) Let LLVM not generate _fltused.
1.1) Add option to force LLVM

[2019-09-13 11:11] hameerabbasi commented on #44580
A small update: I'm working my way up the Rust tree. I do plan to contribute but want to self-study to the place where I don't need excessive coaching.

[2019-09-13 11:27] sfackler commented on #64410
Yep, there's already handling for that case: https://github.com/rust-lang/rust/blob/master/src/libstd/backtrace.rs#L119

[2019-09-13 12:01] bjorn3 opened #64426 "Duplicate error code usage lint removed"
https://github.com/rust-lang/rust/commit/b437240ceefaad3cdf92ad7e9d1255b8da88dbb3#diff-57a272214ca8c5aee61b8ce7e023a336L43

https://github.com/rust-lang/rust/commit/b437240ceefaad3cdf92ad7e9d1255b8da88dbb3#r35071110

cc @Mark-Simulacrum

[2019-09-13 12:06] hirschenberger commented on #64371
So, I assume a `<span class="item-spacer"></span>` would be legal as it is [phrasing content](https://html.spec.whatwg.org/multipage/text-level-semantics.html#the-span-element).

I can change that?

[2019-09-13 12:21] Mark-Simulacrum commented on #64426
Before I go and re-implement this (I imagine it'll be somewhat annoying to do so, fwiw), I'd like @GuillaumeGomez and @estebank (and maybe others?) to give feedback on the usefulness of such an error. If we deem it useful, then I can work on an impl.

[2019-09-13 12:21] Mark-Simulacrum commented on #64426
Maybe worth a compiler team nomination? Not sure whose domain this is.

[2019-09-13 13:09] jrmuizel commented on #50584
This is still pretty bad
[code]

[2019-09-13 13:29] pnkfelix commented on #63438
I'm in favor of the second suggested approach, namely:

[2019-09-13 13:37] afnanenayet commented on #60425
I'd like to pick this up

[2019-09-13 13:38] pnkfelix commented on #63479
(okay, after looking at the code, I think this should be pretty easy to fix and backport.)

[2019-09-13 14:12] leo60228 commented on #63161
I got this same panic, and it also went away after a clean build.

[2019-09-13 14:17] phil-opp opened #64430 "Confusing `owned_box` error message since nightly-2019-09-04"
Test Program:

[code]

Error message on nightly [_9af17757b 2019-09-02_] and before:

[code]

Error message since nightly [_b9de4ef89 2019-09-03_]:

[code]

**Diff Between the Nightlies:** https://github.com/rust-lang/rust/compare/9af17757be1cc3f672928ecf06c40a662c5ec26d...b9de4ef89e0e53099a084001b26ec3207c5f8391

---

Reported by @wgfm and @ambye85 in https://github.com/phil-opp/blog_os/issues/40

[2019-09-13 14:28] Mark-Simulacrum commented on #50584
It does seem like an odd thing to track a particular crate though -- if this was reopened as "X pattern makes compiler super slow" then that would make more sense to me.

We also have a somewhat long-standing issue I believe on rustc-perf to add webrender/wrench as a benchmark so I'm going to loosely close in favor of that.

[2019-09-13 14:28] #50584 closed

[2019-09-13 14:31] 12101111 commented on #64430
I'm testing this with [cargo-bisect-rustc](https://github.com/rust-lang-nursery/cargo-bisect-rustc/)

[2019-09-13 14:34] hirschenberger commented on #63710
After some codereview I found that [code](https://github.com/rust-lang/rust/blob/3287a65fc05028dce3b521765f4643384ebc4346/src/librustdoc/clean/inline.rs#L233).

There seems to be a reset of the *asyncness* when the function gets duplicated. Unfortunately I don't know from where I can get the *asyncness information* for `hir::FnHeader` there.

[2019-09-13 15:40] gnzlbg commented on #63597
The reference section about [Behavior considered undefined](https://github.com/rust-lang-nursery/reference/blob/master/src/behavior-considered-undefined.md#behavior-considered-undefined) mentions this.

[2019-09-13 15:41] hirschenberger commented on #55643
Does not ICE with current nightly `rustc 1.39.0-nightly (eb48d6bde 2019-09-12)`

I'll close this.

[2019-09-13 15:41] #55643 closed

[2019-09-13 15:51] Bunogi opened #64433 "Lifetime errors on nightly-2019-09-11 but not nightly-2019-09-10"
The code below will compile without warnings on `nightly-2019-09-10`, but returns a lifetime error on `nightly-2019-09-11` and later.

[code]

`cargo +nightly-2019-09-10 build` compiles the code without warnings, and `cargo +nightly-2019-09-11 build` gives the following error:
[code]

### Meta
[code]

[2019-09-13 15:53] Centril commented on #64421
Please provide a backtrace as the message above suggests.

[2019-09-13 15:55] Centril commented on #64426
The compiler team.

(Do you need to maintain state between macro invocations to fix this?)

[2019-09-13 15:57] Centril commented on #64430
cc @estebank -- I think we need to be more graceful by checking if liballoc exists or not or not requiring the language items.

[2019-09-13 15:57] hirschenberger commented on #41448
On the current nightly compiler: `rustc 1.39.0-nightly (eb48d6bde 2019-09-12)` the old version is faster. I'm closing this because it seems to be irrelevant.

[2019-09-13 15:57] #41448 closed

[2019-09-13 15:58] 12101111 commented on #64430
PR #64056 fix #62373, show more suggestions on method take `Box<Self>` ,`Pin<Self>`, `Arc<Self>` or `Rc<Self>` when method not found
[code]
However,`Box` , `Arc` and `Rc` don't exist in `core`, but in `alloc`.

[code]
Error message of this code:
[code]

[2019-09-13 16:02] Mark-Simulacrum commented on #64426
Well, sure, compiler team but I was hoping for less checkboxes so to speak.

I would implement this via a "global" though per-crate (lazy) static that has a hashset of `(line, code)`. So it would be a runtime ICE vs compiletime error like before; I don't know of a way to do this at compiletime today without depending on something we explicitly want to disallow (state between proc macro invocations

[2019-09-13 16:08] Centril commented on #64430
Mentoring instructions:

- Change `mk_lang_item` to return `Option<Ty<'tcx>>` and use `self.lang_items().require(lang_item)` instead of `require_lang_item`.

- Make `try_alt_rcvr` take in `recv_t` and call `mk_lang_item` instead and return early `if let None = new_rcvr_t`. Also be sure to not use `mk_box`.

- Include tests like above and make sure to check for Box, Rc, and Arc.

- Use `./x.py -i t

[2019-09-13 16:13] Centril commented on #64426
I personally don't feel duplicated error codes is bad if they are semantically similar so imo let's skip the lint.

[2019-09-13 16:13] Centril commented on #64426
cc @estebank @oli-obk

[2019-09-13 16:19] RalfJung commented on #64090
I would say it is the callee signature; if we have both declarations *and* a definition of the same symbol floating around and they are not the same then we are looking at https://github.com/rust-lang/unsafe-code-guidelines/issues/198 which is an orthogonal issue.

[2019-09-13 16:25] gnzlbg commented on #63466
I think that we want a solution that either errors when incompatible features are used, or works (e.g. generates shims).

How we store the target-feature information is an implementation-detail (and the crate metadata sounds like a reasonable place to put this information for the features a crate was compiled with), but since functions can also have target features that deviate from the crate, we

[2019-09-13 16:47] Mark-Simulacrum commented on #64426
Yeah, I have the same opinion. It feels like this lint doesn't really help, since it doesn't catch bugs in practice -- typos, I guess -- but UI tests mostly cover "you emitted the wrong diagnostic during refactoring" and otherwise we can fix things as needed I feel.

[2019-09-13 16:52] bIgBV commented on #64205
@phansch looks like edits on github don't generate notifications, apologies. But I retried the tests with the second change you suggested. Still no failing tests.

[2019-09-13 17:19] hirschenberger commented on #37251
I think this can be closed after #45333 landed.

[2019-09-13 17:57] CJKay opened #64437 "Higher rank trait bounds cannot genericise across functions with a generic parameter sharing a lifetime with the prototype"
The current implementation of higher rank trait bounds does not appear to be able to match on functions which take a generic type that uses a lifetime that the function also uses. Case in point:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=268e418107096468f8588dd9fdecb17c))

Errors:

[code]

[2019-09-13 17:59] khionu commented on #64392
In trying to get a solid reproduction, the issue has disappeared from the codebase I discovered it in. 👻

[2019-09-13 17:59] #64392 closed

[2019-09-13 18:08] stephaneyfx commented on #64437
[Slightly minimized] (https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=da6d27096a6d09206ab796d7a0297a5f):
[code]

[2019-09-13 18:26] Centril commented on #57893
@nikomatsakis Thanks for the investigation.

We should also include @arielb1's various versions on the weaponized transmute which "giving up on coherence" did not address.

It would be good to consider what implications this has for quantifying over traits (e.g. `fn foo<trait B>(...)` and projecting to associated traits (e.g. `MyType: Self::KeyBound`).

I considered something like `struct Foo<dyn

[2019-09-13 18:37] That3Percent commented on #62420
The changes made to the documentation of align_offset, and in particular the present stance that

is not very pragmatic. The need to get an aligned reference inside a Vec<u8> is a very mundane and common one. Eg: [bumpalo](https://github.com/fitzgen/bumpalo).

The way that bumpalo seems to be working around this limitation is just to cast to a usize, do the rounding there, and then cast back to a

[2019-09-13 18:40] rkruppe commented on #63597
That is one way in which target_feature is unsafe, but it's not the one which was the subject of #63466 so just pointing at the reference as it is is insufficient. Plus, it's also more about `-C target-feature` than `#[target_feature]` (where the compiler will hit you in the face with `unsafe`). So the rustc book is a better place for it than the reference IMO.

[2019-09-13 18:57] rkruppe commented on #63466
My point is that you'll always be linking in at least libcore, which was compiled with a different and most likely incompatible list of features (unless you're using Xargo or an equivalent Cargo capability which doesn't exist yet).

[2019-09-13 19:16] tmandry commented on #44591
I don't know of a short-term fix. That said, an interesting data point would be to run this program through [chalk](https://github.com/rust-lang/chalk) and see if it can solve the constraints correctly. See [here](https://rust-lang.github.io/rustc-guide/traits/chalk-overview.html) for an overview of chalk.

The basic steps are to clone chalk, start the chalk repl with `cargo run`, load your progra

[2019-09-13 19:20] bjorn3 commented on #64339
Way earlier, it runs it right at the start of a compilation to get the rustc version and enabled `#[cfg(...)]`.

Probably

[2019-09-13 19:24] retep998 commented on #30027
Given the RFC has been accepted and a tracking issue has been created, please direct all further discussion there.

https://github.com/rust-lang/rust/issues/58713

[2019-09-13 19:24] #30027 closed

[2019-09-13 19:24] retep998 commented on #29130
Given that Rust provides the ability to statically link the CRT, and there are plans to provide a pure Rust Windows target in the future when https://github.com/rust-lang/rust/issues/58713 is implemented, closing this issue.

[2019-09-13 19:24] #29130 closed

[2019-09-13 19:26] nikomatsakis commented on #57893
@Centril

That all sounds about right. I think if we assume that we adopt RFC 2027, then `dyn A` would always be a legal type, and hence it seems pretty reasonable to make `dyn trait A` mean "some trait where `dyn A: A`".

On a completely different but related note, I've long wished that we make "dyn-compatibility" more explicit -- something like `dyn trait Foo { .. }` might be an explicit asserti

[2019-09-13 19:27] nikomatsakis commented on #57893
[Zulip thread where we're discussing work on this issue](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/coherence.20bypasses.20for.20traits.20.2357893)

[2019-09-13 19:36] rust-highfive opened #64440 "`clippy-driver` no longer builds after rust-lang/rust#63420"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#63420, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @spastorino, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @oli-obk, the PR reviewer, and @rust-lan

[2019-09-13 19:36] rust-highfive opened #64441 "`miri` no longer builds after rust-lang/rust#63420"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#63420, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @spastorino, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @oli-obk, the PR reviewer, and @rust-lang/compiler -- no

[2019-09-13 19:53] Mark-Simulacrum commented on #64339
Could someone use https://github.com/rust-lang-nursery/cargo-bisect-rustc to narrow this down to a particular commit?

[2019-09-13 20:14] RalfJung commented on #62420
Quick remark (will come back to the rest of your comment eventually):

Note that this is not a *change*. Already the [very first stable doc for `align_to`](https://doc.rust-lang.org/1.30.0/std/primitive.slice.html#method.align_to) says

Guaranteeing more than that would be a change.

[2019-09-13 20:15] RalfJung commented on #64441
Duplicate of https://github.com/rust-lang/rust/issues/64363.

[2019-09-13 20:15] #64441 closed

[2019-09-13 20:43] Aaron1011 commented on #64194
Fixed in https://github.com/rust-lang/rust/pull/64152

[2019-09-13 20:43] #64194 closed

[2019-09-13 21:31] Mark-Simulacrum commented on #64426
Assigning to myself so I don't forget about this and going to nominate for compiler team as a stopgap.

[2019-09-13 21:45] ehuss commented on #64339
It looks to be caused by #62419 (I would assume it is #62110 in that rollup).  It is now printing the time-passes information even for `--print`.

[2019-09-13 22:24] jonhoo opened #64445 "Unification fails when type alias impl trait is used in non-return position"
The following code fails to compile, but I believe this should be a supported use-case under https://github.com/rust-lang/rfcs/pull/2515 (and https://github.com/rust-lang/rust/issues/63063):
[code]
with
[code]
This code on the other hand works just fine with the above `X`:
[code]
Including both `Foo` and `foo` in the same file still produces the same error, so `foo` does not "help" identify `X`.

[2019-09-13 22:58] Mark-Simulacrum commented on #64339
@nnethercote would you be up for a fix here?

[2019-09-14 00:19] stepancheg commented on #42721
@kennethbgoodin more complicated use cases are not possible with trait specialization.

For example:

[code]

[code]

[2019-09-14 00:44] estebank commented on #64426
It is a necessary lint when merging to master, because two different PRs adding a new EXXXX will always end up using the same one and we can't hope merge conflicts to always catch these cases because they can easily be in different crates.

[2019-09-14 01:29] Mark-Simulacrum commented on #64426
How would we consider use sites equivalent? My proposal of "by line" doesn't work well if you're producing the same error code multiple times in a single file (or, possibly, spread amongst multiple files).

We can make cross-crate overlapping definitions for error codes an error since we collect all error codes/descriptions for `--explain` though; wouldn't that solve the unseen merge conflict prob

[2019-09-14 01:43] Mark-Simulacrum commented on #64426
In fact, I believe the current code is equally powerful at detecting definition duplication at compile time, and detecting use site duplication is as yet unclear what semantics we want.

I believe tidy might be ensuring definitions are unique cross-crate, or at least trying to; I can try to formalize that and ensure it works.

[2019-09-14 04:04] spastorino commented on #64441
It's unrelated to #64363, providing a PR ...

[2019-09-14 04:07] nnethercote commented on #64339
I'll take a look on Monday. In the meantime, here's my best guess: I added an extra entry to the `-Ztime-passes` output that prints the total time for the compilation. That extra line may not be indented at all, and it's possible this means it isn't ignored the same way as indented lines.

[2019-09-14 05:47] scottmcm commented on #64399
Closing a duplicate of the issue that @ExpHP mentioned.

You can use https://evanw.github.io/float-toy/ to see that both strings mentioned are the same float.

[2019-09-14 05:47] #64399 closed

[2019-09-14 06:05] kennytm commented on #42721
It is possible if specialization is enhanced to recognize intersection (previously attempted in #49624) i.e.

[code]

(If you need to specialize to N traits like these you'll need 2<sup>N</sup> impls)

[2019-09-14 06:41] #64440 closed

[2019-09-14 07:31] AnthonyMikh opened #64447 "`EmitterWriter::get_max_line_num` works incorrectly"
**TL;DR:** [`EmitterWriter::get_max_line_num`](https://github.com/rust-lang/rust/blob/master/src/librustc_errors/emitter.rs#L1037) unconditionally returns `self.get_multispan_max_line_num(span)` no matter what is contained in `children`.

Longer explanation: let's take a look at the code of method (it's rather short):
[code]
Here `self.get_multispan_max_line_num(span)` returns a plain `usize`. Fir

[2019-09-14 08:01] RalfJung commented on #64441
Well, both issues track "Miri doesn't work". There are currently multiple things that break Miri, but these issues here do not track any particular reason *why* Miri is broken, they just track the bad toolstate.

[2019-09-14 08:15] axos88 commented on #42721
@kennytm  That doesn't seem like a solution for anything with N >= 4...

[2019-09-14 09:01] RalfJung commented on #64410
I am working on a fix at https://github.com/rust-lang/rust/pull/64444.

[2019-09-14 09:41] gnzlbg commented on #63466
If it were true that `libcore` is often compiled in an incompatible way, using `-C target-cpu=native` would be very often incorrect. In my experience, it isn't. While there are features that are truly incompatible with each other in an unfixable way, most features are actually compatible. For example, consider:

[code]

We currently incorrectly assume that `foo` and `bar` are `extern "Rust" fn(f64

[2019-09-14 09:59] gnzlbg commented on #63597
I think that for users to better properly understand the UB involved, it might be more educational to say that `-C target-feature=+X` stamps `#[target_feature(enable = "X")]` on all functions, but with the subtle difference that it doesn't make them `unsafe fn`.

The reference does not document all current perils of using `#[target_feature(enable = "X")]`. In particular, it does not document that

[2019-09-14 10:04] rkruppe commented on #63466
Please take a step back to consider context. In the month old comment you quoted, I was talking about the possibility of erroring when crates are linked together which are compiled with different "global" target_features. That would also have prevented the issue @roblabla experienced, and it's vastly simpler to implement than everything you propose here (none of which is original, IIRC, the two of

[2019-09-14 10:13] Centril commented on #64445
I'm going to say this is a bug... @cramertj confirm?

[2019-09-14 10:13] #57277 closed

[2019-09-14 10:23] Centril commented on #64447
cc @estebank @phansch

[2019-09-14 10:25] thiolliere opened #64450 "rustc panic with `inconsistent resolution for a macro` for proc macro imported different name for wasm target."
# Context

I compile with `cargo check --target=wasm32-unknown-unknown` for a project with a proc macro imported with a different name as such:
[code]

and it fails with:
[code]

removing the dependency renames works:
[code]

# Reproduce

use this repo: https://github.com/thiolliere/debug-inconsistence
and run `cargo check --target=wasm32-unknown-unknown` in the runtime crate.

[2019-09-14 10:28] silverweed commented on #62408
+1: having a non-guaranteed O(1) `truncate` pretty much defeats the purpose of having a deque in many cases. And I agree that a `truncate_front` (O(1) as well) would come very handy to have built-in for VecDeque.

[2019-09-14 10:55] petrochenkov commented on #64450
If cross-compilation is involved, then it might be a duplicate of https://github.com/rust-lang/rust/issues/56935.
In that case the workaround is to use `extern crate` explicitly in source code, instead of relying on crate names passed with `--extern` automatically being in scope.

[2019-09-14 13:49] acnologia000 opened #64453 "ICE: borrowck/check_loans: assertion failed: `self.bccx.region_scope_tree.scopes_intersect(...)`"
err :
[code]

code i was compiling :

main.rs
[code]

rest code lives at https://github.com/acnologia000/rust_web_api_example

[2019-09-14 13:58] nox commented on #64371
Why is there even an element to do *spacing*, of all things?

[2019-09-14 14:01] nox opened #64454 "Don't discriminate unions and structures and enums"
Unions, structures and enums are all different kinds of data, but I don't think it makes any sense to discriminate them in the documentation.

Whenever I explore the documentation of a crate, I don't know if the concept I'm looking for is an enum or a structure, but I most often have a vague idea what it is named, and I don't want to look at multiple lexicographically ordered lists to find it.

I

[2019-09-14 14:05] nox commented on #55160
Changing a struct to an enum isn't backwards-compatible (one can match against `Struct { .. }`), but I support removing the type kind from URLs, for the same rationale as in #64454.

[2019-09-14 14:20] RalfJung commented on #64454
Would it make sense to include type aliases as well?

Types, functions and macros form three disjoint namespaces in Rust; I think it would make sense for documentation to follow the same structure.

[2019-09-14 14:25] nox commented on #64454
@asajeffrey was of the opinion that they should be included too, I'm on the fence for them but I don't have any counter-argument and the fact they share the same namespace as the actual data items (for lack of a better term) is a good argument in favour of including them too.

[2019-09-14 14:52] petrochenkov commented on #64385
Fixed in https://github.com/rust-lang/rust/pull/64457.

[2019-09-14 14:53] Centril commented on #64453
@acnologia000 Can you please check the beta & nightly compilers to see if you can reproduce?

Also, if you can reproduce it, can you provide a backtrace (instructions in the ICE) and try to minimize the reproducer?

[2019-09-14 14:55] Centril commented on #64453
cc @matthewjasper

[2019-09-14 14:56] asajeffrey commented on #64454
Does it make sense to treat type aliases the same as re-exports?

[2019-09-14 14:58] Centril commented on #64454
I frequently discriminate between `enum`s and `struct`s when looking at rustc internal docs. For example, an enum is often a `***Kind` of some sort. If we merge them it would be nice to have some sort of filtering mechanism in the searches, e.g. by searching for `:enum thing`.

[2019-09-14 15:15] est31 commented on #64454
IIRC this should already work. You search for `enum:thing` or `fn:thing` and it only returns enums/fn's named that way. At least in theory. It's explained in the help screen when you press ? or [here](https://github.com/rust-lang/rust/blob/4a8ccdbeeb346e80417bd6b5c9cb7d62e225659d/src/librustdoc/html/layout.rs#L136-L151) in the source code.

[2019-09-14 15:23] Centril commented on #64454
@est31 oh neat, TIL.

[2019-09-14 15:43] joshtriplett commented on #62785
Ah, it seems unfortunate that using a format function triggers this even if not trying to format floats. (Though the LTO results seem encouraging.) In that case, yeah, I would suggest adding the LLVM option long-term, and until then, I think it makes sense to just define this in core internally.

`target_os` *should* work given that you use the uefi target; it defines the target OS as "uefi". (Als

[2019-09-14 15:45] Mark-Simulacrum commented on #44710
One additional thing that we should probably add as part of this work is an error if the same diagnostic code is registered twice (cc https://github.com/rust-lang/rust/issues/64426). I imagine this would mostly be a matter of inserting all the codes into an FxHashSet and panicking if there's one inserted twice; an ICE here is fine since it'll definitely be caught in CI.

[2019-09-14 15:53] bjorn3 opened #64458 "Foreign type tests not covering all operations"
For example foreign type pointer comparison is not tested. Also `&(*val).0` where field `0` of `*val` is a foreign type is not tested. As a last thing pointer to `*mut ForeignType` casting it not tested.

These were all cases which were mishandled in [rustc_codegen_cranelift](https://github.com/bjorn3/rustc_codegen_cranelift/). I didn't discover them until I tried to compile rustc itself using cg_

[2019-09-14 16:13] lu-zero commented on #64454
Ideally searchability should be improved, see #61190 for an example.

[2019-09-14 17:05] bluss commented on #55160
We have a bunch of redirects that only focus on the namespace.

For example the URL https://doc.rust-lang.org/stable/std/mem/ManuallyDrop.t.html with "t" for type, will redirect to the correct place and I assume this URL was there before the struct/union switch happened. Only problem is that it's not the canonical URL.  (And, it would be more ideal if we didn't have lots of extra redirect files, t

[2019-09-14 17:17] stefson commented on #62896
You might want to update the bug title, as it now affects beta 1.38.0:

[code]

while it's working with `codegen-units = 1`

[code]

dmesg is clean

anything I can provide, to make debugging easier?

[2019-09-14 17:28] timvermeulen opened #64460 "Tracking issue for `cmp::{min_by, min_by_key, max_by, max_by_key}`"
Tracking issue for the `cmp_min_max_by` feature, which adds the `min_by` / `min_by_key` / `max_by` / `max_by_key` functions to `std::cmp`.

PR: #64047

[2019-09-14 17:34] gnzlbg commented on #26494
@eddyb didn't `Abi::ScalarPair` solve this?

[2019-09-14 17:39] gnzlbg commented on #26494
Yes, this appears to be fixed. The following Rust code (https://rust.godbolt.org/z/LhQGOM):

[code]

generates

[code]

and

[code]

[2019-09-14 17:41] gnzlbg commented on #26494
Ah no, I see that this issue also suggests:

We don't do that yet: https://rust.godbolt.org/z/qnK9Ta .

[2019-09-14 18:09] mati865 commented on #62896
Running build with asserts could hopefully produce useful debug info.
I'm on my mobile so I cannot check right now if there are dowloadable builds with assertions available.

[2019-09-14 18:11] Lokathor commented on #62896
You could always also cargo-xbuild to your own target and that would rebuild core/alloc/std which should have debug stuff when built like that.

[2019-09-14 18:18] stefson commented on #62896
For enabling assertion on armv7, I'm going to need a prebuilt rustc+cargo. The 30$ rpi2 can't handle compiling it nativly, while going cross is a topic for a professional. That's certainly not me, I'm just an average user, sorry!

[2019-09-14 18:34] Lokathor commented on #62896
I have a Pi2, and if you setup a swap file ahead of time to avoid potentially running out of memory you can totally do it.

I'm away from home at the moment but your steps (using Nightly) are probably something like this:

[code]

It'll certainly take some time to build the cargo-xbuild tool, but after that it's actually pretty fast to build core and std.

[2019-09-14 18:46] Mark-Simulacrum commented on #27626
I'm going to go ahead and close this; the error today in a project that just has rand in Cargo.toml seems mostly acceptable for this niche case, if the extern crate is moved to root scope then things just work, as expected.

[2019-09-14 18:46] #27626 closed

[2019-09-14 18:53] #32626 closed

[2019-09-14 18:53] #63479 closed

[2019-09-14 18:53] #64430 closed

[2019-09-14 19:06] devsnek commented on #29599
has there been any movement on being able to use this in definitions?

[2019-09-14 19:36] stefson commented on #62896
na, that's all not going to work. I'm on beta, not nightly. I don't use rustup, never have, never will.

But hey, if you're familiar with all of this, go for it.

[2019-09-14 19:36] Osspial commented on #31844
I'm asking this here, because I haven't noticed this topic come up anywhere else - are there any any plans to `default`-ify various standard library functions, similarly to how we've has `const`-ified functions when it's been deemed safe to do so? The main reason I'm asking is that the default generic `From` and `Into` implementations (`impl<T, U: From<T>> Into<U> for T` and `impl<T> From<T> for T

[2019-09-14 19:42] elichai commented on #39699
Any updates on this?
Using UBSan is an important feature, though I think it will require recompiling libstd with UBSan enabled

[2019-09-14 19:54] Mark-Simulacrum commented on #28419
The error today is:
[code]

That seems pretty much perfect to me, so I'm going to close this (a minor improvement might be to note that `Deref` _is_ implemented, but that seems like we don't need an issue to track it).

[2019-09-14 19:54] #28419 closed

[2019-09-14 20:02] hch12907 opened #64464 "as_*e_bytes for primitive types"
Recently I've encountered a problem, when I wanted to return a slice of bytes in an integer:
[code]
(This is an oversimplification of the original code, which is generic over every integer type along with other stuff)

Obviously, since `to_le_bytes(*num)` is dropped when the function returns, this piece of code failed the borrow check. Hence my need for `as_le_bytes(num)`, as `num` is actually ali

[2019-09-14 20:05] xpe opened #64465 "Suggestion: say "field is never read" instead of "field is never used""
As of rustc 1.37.0, this code:

[code]

gives the warning:

[code]

I understand that the compiler can optimize out the `tree` field. Forgive me for stating the obvious; namely, the warning doesn't mention anything about "optimizing away" the field; it only says "field is never used". A user would be justified in thinking: "this warning doesn't make sense; the `Owl::find` method most certainly **u

[2019-09-14 20:08] jebrosen commented on #61914
As another example, forgetting or not knowing to move a project to the 2018 edition before adopting `async/await` currently causes error messages such as these:

[code]

[2019-09-14 20:25] Mark-Simulacrum commented on #64464
In this case I believe you can do this via a cast, e.g. `unsafe { slice::from_raw_parts(num as *const u32 as *const u8, 4) }` but I'm not sure if that's entirely well-defined, in particular, the u8 slice would then I believe be over-aligned.

It does seem viable that we could provide something like this, though.

[2019-09-14 20:52] Mark-Simulacrum commented on #64403
Closing in favor of https://github.com/rust-lang/rust/issues/10184.

We have an issue tracking lack of / desire for let promotion I believe but I can't find it right now.

[2019-09-14 20:52] #64403 closed

[2019-09-14 20:53] Mark-Simulacrum commented on #64356
I'm going to close this as won't fix.

[2019-09-14 20:53] #64356 closed

[2019-09-14 22:19] Mark-Simulacrum commented on #43288
I personally think that the current diagnostic is good enough here so I'm going to close this; the only improvement I could think of would be to indicate that MyMap has lifetimes attached to it via `MyMap<'1, '2>` but I believe we're already tracking that elsewhere and it'll presumably become increasingly common to specify them implicitly via `'_` which'll make the diagnostic even clearer.

[2019-09-14 22:19] #43288 closed

[2019-09-14 22:21] Mark-Simulacrum commented on #43353
I'm going to close this as there's not a reproducible example and we have plenty of "closures and {lifetimes, inference, etc} can be better" issues so I'm fairly certain it's covered by one of them.

[2019-09-14 22:21] #43353 closed

[2019-09-14 23:47] Mark-Simulacrum commented on #43004
I can't reproduce with a simple test case, so I'm going to close; we can reopen if there's a reproduction for this issue.

[code]

[2019-09-14 23:48] #43004 closed

[2019-09-15 00:03] Lokathor opened #64476 "The "unused manifest key" warning doesn't print or halt the publishing with `cargo publish`"
Normally if you have a manifest key that cargo doesn't understand many of the commands will print a warning

[code]

However, if you use `cargo publish` not only does the accidental key not halt the publishing process without an override flag (as one might expect, similar to how you can't publish with a dirty git state without a flag), but it doesn't even directly print the warning about a bad key

[2019-09-15 00:09] #36561 closed

[2019-09-15 00:09] #36979 closed

[2019-09-15 00:09] #55981 closed

[2019-09-15 00:15] dtolnay opened #64477 "Spurious new Send requirement in async block"
This is minimized from code that was working with nightly-2019-09-10 but broken on nightly-2019-09-11.
https://github.com/rust-lang/rust/compare/0b36e9dea...34e82a7b7

[code]

[code]

I think the old behavior was correct. No `T`-by-value exists in this code so `T: Send` shouldn't come up as a requirement.

Mentioning @davidtwco because #64292 looks relevant in the right commit range.

I am filing

[2019-09-15 01:15] tmandry commented on #61849
I'd like to consider adding something like `StorageRefresh(x)` which @eddyb suggested earlier inside generators, ideally before async/await stabilizes. That way, if we do decide to make this optimization for generators later, we won't be breaking any code that was considered valid by miri at the time it was written.

`StorageRefresh` would have no effect on codegen, so LLVM couldn't rely on it. No

[2019-09-15 04:00] rust-highfive opened #64480 "`rls` no longer builds after rust-lang/rust#60584"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#60584, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @jonas-schievink, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @oli-obk, the PR reviewer, and @rust-lang/compiler --

[2019-09-15 06:47] msizanoen1 commented on #62558
Looks like we have another error:
[code]

[2019-09-15 06:50] vitiral commented on #29722
Can I just say that as someone new to these concepts can I just say... this whole discussion seems _silly_. How is it that a language (assembly) which is supposed to be a **1 to 1 mapping with it's machine code** causes this much headache?

I'm pretty confused:

- If you are writing asm, shouldn't it have to be rewritten (by a human with `#[cfg(...)]`) for every architecture _and backend_ you are

[2019-09-15 07:12] hirschenberger commented on #64371
I think it makes sense as the non spacing list looks more confusing.

![Screenshot_2019-09-15 modbus Client - Rust](https://user-images.githubusercontent.com/1053180/64917876-56a17980-d796-11e9-99c2-3dd497cd6507.png)
![Screenshot_2019-09-15 modbus Client - Rust(2)](https://user-images.githubusercontent.com/1053180/64917892-89e40880-d796-11e9-9b03-2af567e90b70.png)

[2019-09-15 07:42] msizanoen1 commented on #62896
Note that the CI configuration used for testing and distribution is different. The CI configuration for testing is `Linux armhf-gnu` but the configuration used for distribution is `Linux dist-armv7-linux`. The former uses the cross tools from Ubuntu but the latter uses cross compilation tools compiled using crosstools-ng.
This explains how this got pass CI testing.

[2019-09-15 07:43] gnzlbg commented on #29722
The reason there is no progress here is that nobody is investing time in fixing this issue. That's not a good reason for stabilizing a feature.

[2019-09-15 07:48] #43142 closed

[2019-09-15 07:48] #43144 closed

[2019-09-15 07:48] #64385 closed

[2019-09-15 07:53] KrishnaSannasi commented on #31844
Even if we allow specialization for `From`/`Into` it wouldn't help generic impls because of the lattice problem.

[2019-09-15 09:13] matthewjasper commented on #61456
# Stabilization proposal

I propose that we stabilize `#![feature(const_constructor)]`.

Tracking issue: https://github.com/rust-lang/rust/issues/61456
Version target: 1.40 (2019-11-05 => beta, 2019-12-19 => stable).

## What is stabilized

### User guide

Tuple struct and tuple variant constructors are now considered to be constant functions. As such a call expression where the callee has a tuple

[2019-09-15 09:28] phansch commented on #64205
@bIgBV Sorry, been out sick the past couple of days. Thanks for testing again!

It's weird that you don't get failing tests :thinking: Could you try to apply this specific patch?

[code]

When you run `./x.py test src/test/ui` with the patch you _should_ see at least 5 failing UI tests (At least I do, but I didn't have time to take a closer look, yet)

[2019-09-15 09:32] Bejaenka opened #64482 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', src/libcore/option.rs:347:21"
when following [these install instructions](https://github.com/mad-de/IMPP#build-library-for-android) (which work under Ubuntu 18.04) compiling for openssl-sys fails with:
     thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', src/libcore/option.rs:347:21

     note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace.

     error: internal compiler erro

[2019-09-15 09:40] nox commented on #64371
That’s not the issue here. The issue is that empty DOM elements aren’t how you are supposed to do spacing. That’s a CSS concern. If you have 1000 methods to space, that’s 999 spacing elements, those things add up and then the page is really hard on browsers.

[2019-09-15 10:02] kentfredric commented on #64371
Its also rather redundant in the context of a `<pre>` where all you need to add a line feed is ...:
[code]

Or equivalent.

I mean, you're already doing horizontal alignment with literal whitespace.

[2019-09-15 10:29] phil-opp commented on #62918
@cavedweller

Are you still working on this? I don't have much experience with the Rust compiler, but maybe there is still a way I can help?

[2019-09-15 11:27] acnologia000 commented on #64453
@Centril  after rebooting my issue seem to be gone , but i believe i should leave issue open for investigation , and beta channel test i could not test that as issue was resolved after my laptop rebooted due to system update , i apologize of being unhelpful !

[2019-09-15 11:28] RalfJung commented on #55160
@bluss wow, I had no idea these files even existed!

For use in rustc/libstd, if they should be useful we need a tidy pass that tells people to link to the "t" file instead of the "struct"/"enum"/"union" file.

[2019-09-15 11:37] RalfJung opened #64484 "Rc/Arc: get rid of "value" terminology"
The Rc docs use the term "value" to refer to an `RcBox` instance (and similar for `Arc`). That's IMO a bad use of terminology: A "value" is something like "5" or "true" that does not have an identity beyond its mathematical interpretation; an `RcBox` has a *location* so that even two distinct `RcBox` that contain the same value (say, both contain "5") are "not the same".

This is particularly bad

[2019-09-15 11:58] jonas-schievink commented on #64476
Please file this at https://github.com/rust-lang/cargo

[2019-09-15 11:58] #64476 closed

[2019-09-15 12:01] jonas-schievink commented on #64482
Can you run against with `RUST_BACKTRACE=1` and post the backtrace?

[2019-09-15 12:41] gnzlbg commented on #64484
In my mental model `Rc<T>`, `Arc<T>`, etc. are "pointers" that point to a "value" of type `T`, such that `Rc::ptr_eq` does pointer equality in an analogous way to what `*mut T as usize == *mut T as usize` does for raw pointers.

I understand that these types contain a raw pointer which does not actually point to a `T`, but to some other type that stores a `T` along with some meta-data (e.g. refere

[2019-09-15 12:59] RalfJung commented on #64484
Agreed. I was just looking for a term for what this pointer points to. It doesn't have to be a type, but I think "reference-counted object" is a reasonable choice. Would you agree?

[2019-09-15 13:00] matthewjasper commented on #45266
This appears to have been fixed by #63114

[2019-09-15 13:14] Mark-Simulacrum commented on #45149
This is a UI test today afaict so closing (https://github.com/rust-lang/rust/blob/master/src/test/ui/error-codes/E0621-does-not-trigger-for-closures.rs and a few others were checked manually).

[2019-09-15 13:14] #45149 closed

[2019-09-15 13:17] Mark-Simulacrum commented on #45556
Error today; seems like this has been fixed.

[code]

[2019-09-15 13:17] #45556 closed

[2019-09-15 13:19] jonas-schievink commented on #64480
Upstream fix has landed: https://github.com/rust-lang/rls/pull/1553

[2019-09-15 13:24] Mark-Simulacrum commented on #46125
This appears to essentially be a duplicate of https://github.com/rust-lang/rust/issues/64088.

[2019-09-15 13:24] #46125 closed

[2019-09-15 13:28] Mark-Simulacrum commented on #45533
Today we say "error: `#[panic_handler]` function required, but not found" which seems basically perfect since that'll lead you to https://doc.rust-lang.org/nomicon/panic-handler.html which'll hopefully make it mostly clear what needs to happen.

[2019-09-15 13:28] #45533 closed

[2019-09-15 13:47] Mark-Simulacrum commented on #54377
Duplicate of https://github.com/rust-lang/rust/issues/34896.

[2019-09-15 13:47] #54377 closed

[2019-09-15 13:51] Mark-Simulacrum commented on #31691
Seems like a duplicate of https://github.com/rust-lang/rust/issues/64088 essentially

[2019-09-15 13:51] #31691 closed

[2019-09-15 13:52] Mark-Simulacrum commented on #31422
Closing. We can reopen with reproduction instructions but otherwise this isn't worth keeping around.

[2019-09-15 13:52] #31422 closed

[2019-09-15 13:53] Mark-Simulacrum commented on #64088
Closing as duplicate of https://github.com/rust-lang/rust/issues/33575.

[2019-09-15 13:53] #64088 closed

[2019-09-15 13:53] Mark-Simulacrum commented on #36161
Closing as duplicate of https://github.com/rust-lang/rust/issues/12166.

[2019-09-15 13:53] #36161 closed

[2019-09-15 13:56] Mark-Simulacrum commented on #41851
We now note that it's due to the previous iteration of the loop, which seems like that resolves this issue.

[code]

[2019-09-15 13:56] #41851 closed

[2019-09-15 14:42] lithic opened #64489 "question: how can i look at macro expansion"

[2019-09-15 14:46] jonas-schievink commented on #64489
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2019-09-15 14:46] #64489 closed

[2019-09-15 15:09] cavedweller commented on #62918
Not actively working on it, but i'm interested in giving it a go again, it's a gnarly one. Just moved cross-country and only now just returning to a somewhat stable life pattern.

That being said, if you want to do it and have the time, give it a go please!!

On September 15, 2019 6:30:39 AM EDT, Philipp Oppermann <notifications@github.com> wrote:

[2019-09-15 15:54] Mark-Simulacrum commented on #41960
We have an `unused_lifetimes` lint now.

[2019-09-15 16:00] Mark-Simulacrum commented on #44835
This test case works today.

[2019-09-15 16:00] #44835 closed

[2019-09-15 16:10] estebank commented on #41960
@Mark-Simulacrum it is not warn by default and I think it probably should be (gated may be on ecosystem prevalence).

[2019-09-15 16:13] Centril opened #64490 "Tracking issue for RFC 2582, `&raw [mut | const] $place` (raw_ref_op)"
This is a tracking issue for the RFC "an operator to take a raw reference" (rust-lang/rfcs#2582), feature(raw_ref_op).

**Steps:**

- [x] Implement the RFC (see [this comment](https://github.com/rust-lang/rust/issues/64490#issuecomment-531579111) for a detailed checklist)
- [x] Adjust documentation ([see instructions on rustc-guide][doc-guide]): https://github.com/rust-lang/reference/pull/1567
- [

[2019-09-15 16:14] Mark-Simulacrum commented on #41960
Hm, yeah, that makes sense. Reopening. I personally think we can probably "just" land this as a PR with FCP T-lang.

[2019-09-15 16:22] matthewjasper commented on #64490
I'll try to get a PR open for this soon.

[2019-09-15 16:23] steveklabnik commented on #64484
This might be true in some domains, but not Rust.

Rust doesn't have "objects", though we do in the sense you probably intend.

I can appreciate trying to add clarity, but I think the current wording is a good balance between precision and understandability.

[2019-09-15 16:23] Centril commented on #64490
I would suggest splitting the implementation work up into phases to make each part thoroughly reviewed and tested. However, think of this list as a bunch of tasks that need to be done at some point.

1. [ ] Implement `&raw [mut | const] $expr` in the parser and AST.
    - [ ] Ensure the `unused_parens` lint works alright.
    - [ ] Handle interactions in librustc_resolve.
2. [ ] Push things down f

[2019-09-15 16:27] Centril commented on #61456
@matthewjasper Thanks! Could you embed this report in a PR with the aforementioned test added there as well? I'll FCP that PR.

[2019-09-15 16:28] Centril commented on #64247
Reopening this to make sure we add a test per https://github.com/rust-lang/rust/issues/61456#issuecomment-531548840.

[2019-09-15 16:41] Centril commented on #64484
I agree that the current wording is confusing by using the term "value" in two different senses in the same sentence. I would suggest:

I think we can afford a bit more elaboration than the current docs provide.

[2019-09-15 17:01] gnzlbg commented on #64484
It's unclear to me whether "reference-counted object" refers to the `T`, or to the object storing the reference count. If it refers to the object that stores the reference count, I think this is fine, but as mentioned I would prefer not to mention such an implementation detail here.

If it refers to the `T`, AFAICT, `ptr_eq` does not require a value of type `T` to exit at all. That is, I think the

[2019-09-15 17:36] ChoKyuWon opened #64492 "In WSL(Window Subsystem Linux) environment, can't run compiled binary because of Invalid argument error(22)"
I use WSL2 ubuntu 18.04, kernel version ```4.19.43-microsoft-standard ```.
My WSL $HOME is C drive, so I install rust in C drive(```/home/myname```).
But my Rust Worspace is D drive, so I write source file ```main.rs``` in D drive.
And this is the result:
[code]

I can't run binary on D drive, but If I move it to C drive, It work well.
How can I run my binary on D drive?

[2019-09-15 17:43] varkor opened #64493 "Spurious "unused lifetime parameter" warning with async function"
[code]

[2019-09-15 17:43] varkor commented on #41960
https://github.com/rust-lang/rust/issues/64493 should be considered blocking for making this warn-by-default.

[2019-09-15 18:04] Aaron1011 commented on #64490
I'm not sure that this is a good idea. This would make it impossible to gradually migrate a codebase over to using raw references - once the feature gate is enabled, all references to packed structs must be fixed at once in order to get the crate building again.

[2019-09-15 18:12] moshg commented on #64490
I wonder why not `&raw $expr` but `&raw
const $expr`. Is there a discussion about this?

[2019-09-15 18:33] mjbshaw commented on #64490
@moshg Yes, this was discussed. See [here (and the following comments) for an initial discussion](https://github.com/rust-lang/rfcs/pull/2582#issuecomment-465519395). And [here (and the following comments) for a signoff from grammar-wg](https://github.com/rust-lang/rfcs/pull/2582#issuecomment-483439054). And [here for an example that `&raw (expr)` can be ambiguous](https://github.com/rust-lang/rfc

[2019-09-15 18:33] Ixrec commented on #64490
The RFC thread noted a couple times (including [in the FCP comment](https://github.com/rust-lang/rfcs/pull/2582#issuecomment-515640943)) that `&raw expr` without the `const` conflicts with existing syntax and would break real code. https://github.com/rust-lang/rfcs/pull/2582#issuecomment-465515012 goes into some detail. My understanding is that it is still possible to migrate to `&raw expr` with b

[2019-09-15 18:50] Aaron1011 opened #64494 "Unclear interaction between const generics and coherence checking"
Consider the following code:

[code]

Coherence checking needs to determine whether the two `MyTrait` impls can ever overlap. This requires determining (among other things) if `{T::VAL == 5}` and `{T::VAL == 6}` will ever have the same value - if they do, then the impls will overlap.

In this case, we can see that `T::VAL == 5` and `T::VAL == 6` can never both be true. However, in the general case

[2019-09-15 19:48] jonas-schievink commented on #56493
I think this is intentional. The `default impl` means that both `Err` and `from_string` are specializable further, so the impl must not assume that `Err` has a concrete type. Moving the `default` to the `fn from_string` makes it compile by fixing `Err` to a concrete type.

Closing as working as intended.

[2019-09-15 19:48] #56493 closed

[2019-09-15 19:55] jonas-schievink commented on #46707
I don't think whether the projection is allowed is decided based on visibility or on the crate hierarchy, and changing this probably requires an amendment RFC

[2019-09-15 20:06] #43400 closed

[2019-09-15 20:10] Osspial commented on #31844
@KrishnaSannasi I don't believe that's the case. For example, this code *should* work if `From` and `Into` were specializable, but doesn't because they aren't:

[code]

That works if you convert `From` and `Into` into a custom trait that doesn't have those generic implementaitons: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=cc126b016ff62643946aebc6bab88c98

[2019-09-15 20:11] kpp opened #64496 "reached the type-length limit while instantiating `std::thread::LocalKey::<std::syn...e, ()}]>>]], std::vec::Vec<i32>>`"
# Code

https://github.com/kpp/futures-async-combinators/blob/master/examples/stream.rs

[code]

On master (commit 4f0ca7b4afec)

# Error

[code]

# Fails with

[code]

And later (2019-09-10, 2019-09-12, 2019-09-13, 2019-09-14)

# Works with

[code]

# How to reproduce

[code]

[2019-09-15 20:43] ChoKyuWon commented on #64492
I test some binary after upload issue, and I found this problem is happened on all binary, not just on rust-compiled binary. I think this is WSL's problem. I'm sorry to make a issue so hasty.

[2019-09-15 20:43] #64492 closed

[2019-09-15 21:53] KrishnaSannasi commented on #31844
@Osspial Well, if you try and simulate using a default impl, you will see the issue,

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e5b9da0eeca05d063e2605135a0b5ead

I will repeat, changing `From/Into` impl to be a default impl in the standard library will not make generic impls for `Into` possible. (and it doesn't affect generic impls of `From`)

[2019-09-16 00:15] #50328 closed

[2019-09-16 00:15] #63663 closed

[2019-09-16 00:15] #43279 closed

[2019-09-16 00:15] #43982 closed

[2019-09-16 00:23] Avi-D-coder commented on #32836
This currently plays terribly with atomics, since they do not implement `Copy`. Does anyone know a workaround?

[2019-09-16 00:28] SimonSapin commented on #32836
When https://github.com/rust-lang/rust/issues/55149 is implemented, you’ll be able to use `ManuallyDrop<AtomicFoo>` in a union. Until then, the only work-around is to use Nightly (or not use `union` and find some alternative).

[2019-09-16 03:31] nnethercote commented on #64339
My theory about indentation was wrong. It was indeed a bad interaction between `-Ztime-passes` and `--print=...`, because they both print to `stdout`. #64497 has a fix.

[2019-09-16 04:24] #64480 closed

[2019-09-16 05:10] estebank commented on #43861
Current output:

[code]

[2019-09-16 05:10] #43861 closed

[2019-09-16 05:33] moshg commented on #64490
@mjbshaw @lxrec
Thank you for your explanations! I've understood why `&raw $expr` is breaking change.

[2019-09-16 05:38] hellow554 commented on #64453
@acnologia000 maybe it wasn't the reboot, but did you execute `cargo clean` in between? Then it may be a incremental compilation issue.

[2019-09-16 06:22] hirschenberger commented on #64371
Yes, adding an extra '\n' instead if the spacer-div adds a slightly bigger vertical space, but looks ok.

[2019-09-16 07:35] RalfJung commented on #32836
With that implemented, you shouldn't even need `ManuallyDrop`; after all rustc knows that `Atomic*` does not implement `Drop`.

[2019-09-16 07:42] devyn commented on #56556
I believe this issue I ran in to might be related - [StackOverflow](https://stackoverflow.com/questions/57949348/rustc-weirdly-assuming-that-type-parameters-have-to-be-the-same-even-when-theyr/57952295#57952295).

I was trying to put a bound on an associated type `Key` from two different types and require them to be `PartialOrd`, but Rust always just wanted to assume the types must be the same. By

[2019-09-16 07:50] jonas-schievink commented on #57298
This should be fixed by https://github.com/rust-lang/rust/pull/64250