[2021-01-14 10:48] pandaman64 commented on #81005
By the way, [the second example](https://doc.rust-lang.org/std/ptr/fn.swap.html#examples) of `ptr::swap` contains unrelated UB.
The example calls [`.as_mut_ptr()`](https://doc.rust-lang.org/std/primitive.slice.html#method.as_mut_ptr) twice, which accidentally invalidates the first pointer `x`.

[code]

[2021-01-14 10:51] pandaman64 commented on #81005
possibly related: #80778 #80682

[2021-01-14 10:54] ojeda commented on #29639
Please don't make `core` depend on anything unless there is a very good reason for it, much less on external repositories or on a particular build system.

[2021-01-14 10:57] apiraino commented on #80949
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380949.20regression.201.2E50.3A.20Borrow.20checker.20reports.20function.20par.E2.80.A6) and removing `I-prioritize`.

[2021-01-14 11:17] Mark-Simulacrum commented on #80988
https://github.com/rust-lang/rust/pull/78864 is the "fix" which should mean that the breakage is limited to leaf crates, which aren't lint capped.

I believe we're otherwise likely to accept the breakage in crates - my recollection is that lang felt that it was more important that forbid actually took effect than to retain compatibility, because people specifying forbid are making a pretty specifi

[2021-01-14 11:20] apiraino commented on #81000
mentioning issues #79559 and #73584 as possibly related

[2021-01-14 11:26] lzutao commented on #80996
Note: Please add `;` after `pub fn` line in the API summary above. Without it, syntax highlighting broke.

[2021-01-14 11:28] #49660 closed

[2021-01-14 11:31] illdefined opened #81006 "Format string/argument mismatch triggers internal compiler error"
### Code

[code]

This is the smallest set of lines from the original source file (`main.rs`) successfully triggering the error. Please note the mismatch between the number of specifiers in the format string and arguments. It should obviously not compile, but I assume that it shouldn’t make rustc panic either.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summ

[2021-01-14 11:37] b-naber commented on #80833
Why do you think that this is the correct error code for this case? In the documentation it says that "Inner items do not inherit type or const parameters from the functions they are embedded in", but lifetime parameters are neither type nor const parameters to my knowledge.

[2021-01-14 11:40] apiraino commented on #80988
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](rhttps://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380988.20regression.201.2E50.3A.20deny.20after.20forbid.20breaks.20build) and removing `I-prioritize`.

[2021-01-14 11:48] DimiDimit opened #81007 "ICE when calling syn::parse_macro_input! in proc macro applied to a function with a doc comment in a declarative macro"
### Code

[code]

### Meta

`rustc --version --verbose`:
To get this output I compiled commit `rustc` on commit c7b0ddb, because the binaries don't show anything useful.
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

Was rmanoka/async-scoped#6 but we narrowed it down to `rustc`.
This only occurs on any `rustc` version after co

[2021-01-14 11:50] apiraino commented on #80772
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380772.20rustc_mir.3A.3Aborrow_check.3A.3Aregion_infer.3A.3ARegionInferen.E2.80.A6) and removing `I-prioritize`.

[2021-01-14 11:53] apiraino commented on #80950
Issue has been mentioned and noted in the latest crater run, so it will tracked there.

[2021-01-14 12:01] jonas-schievink commented on #81001
What's the intended behavior of that `size_hint` impl? It seems like it's estimating the number of total iterators it will flatten, which doesn't really relate to the number of elements. Should it be removed instead?

[2021-01-14 12:04] jonas-schievink commented on #80997
https://rust-lang.github.io/rust-clippy/master/index.html#unused_io_amount

[2021-01-14 12:06] jonas-schievink commented on #80998
Panic location:

https://github.com/rust-lang/rust/blob/a4f022e1099c712fdcc8555fd10caccb1a631877/compiler/rustc_middle/src/ty/mod.rs#L3071-L3073

[2021-01-14 12:07] lzutao commented on #81004
@rustbot label E-needs-bisection I-hang T-compiler regression-from-stable-to-stable

I tested on 1.47 x86_64-linux-gnu, the compiler still hangs but there are errors displayed about trait bound not satisfied.
Memory always goes up in the hanged process.
Given that this is a regression about **errors -> hang**, maybe we could tag this issue with P-medium.

<details><summary>The backtrace of hanged

[2021-01-14 12:12] lzutao commented on #81004
<details> <summary>Backtrace of current nightly rustc:</summary>

[code]
</details>

[2021-01-14 12:48] cargodog commented on #81001
Sure, its not technically broken, but I would expect a precise result in this case.

Looking at [this](https://github.com/rust-lang/rust/blob/c7b0ddbffebee1cb06f184e815ca637706c53053/library/core/src/iter/adapters/flatten.rs#L275) implementation, I believe the intent was for `size_hint()` to return the sum of minimum and sum of maximum sizes recursively for the iterators in the `Flatten` struct, b

[2021-01-14 13:13] apiraino commented on #81006
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381006.20Format.20string.2Fargument.20mismatch.20triggers.20internal.20co.E2.80.A6) and removing `I-prioritize`.

[2021-01-14 13:38] tj-yazman opened #81009 "example1"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=376c52564103d1b78572e24d453b4c46))

Output:

[code]

Errors:

[code]

[2021-01-14 13:39] #81009 closed

[2021-01-14 13:52] #80997 closed

[2021-01-14 14:08] tj-yazman opened #81010 "partialOrd"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e752f8f7b1fd256a9ddf1ed61ea50c8c))

Output:

[code]

Errors:

[code]

[2021-01-14 14:22] cargodog commented on #81001
I think you may be right. I forgot that the `map()` adapter depends on a closure, which indeed cannot be known before execution. Thanks for your reply.

[2021-01-14 14:23] berkguldiker opened #81011 "Error during the build of tock"
Hello, I am trying to build tock by `$ ninja -C build-out sw/device/tock/tock`. However it does not get build because of an error.

[code]

Can you please help?
Thanks in advance.

[2021-01-14 14:25] kornelski commented on #69350
Another case of a user stuck, because the compiler told them to have `&'static self`:

https://users.rust-lang.org/t/how-to-solve-this-lifetime-problem/54129?u=kornel

[2021-01-14 14:26] #81011 closed

[2021-01-14 15:02] SNCPlay42 commented on #81004
Reduced:

[code]

@rustbot label -E-needs-mcve

[2021-01-14 15:07] tmiasko commented on #80954
The current implementation of liveness analysis doesn't model control flow between guards and following arms. Additional example showcasing related but somewhat different issue:

[code]

[code]

[2021-01-14 15:15] #81001 closed

[2021-01-14 15:17] ojeda commented on #81006
It also breaks stable. Reduced:

    fn f() {
        format!("→{} \t")
    }

[2021-01-14 15:36] Mark-Simulacrum commented on #80949
@rylev how common was this bug in the crater report? just the one crate?

[2021-01-14 15:42] rylev commented on #80949
Yes the [linked crate](https://crater-reports.s3.amazonaws.com/beta-1.50-1/beta-2021-01-01/reg/euca-0.1.0/log.txt) was the only crate to show signs of this issue in the crater run.

[2021-01-14 15:47] rylev commented on #81010
@tj-yazman Can you please describe the error you're seeing in more detail. This code looks correct to me.

[2021-01-14 15:51] steveklabnik commented on #60312
The futures crate has since changed, and so I'm having a tough time reproducing this exactly on the playground...

[2021-01-14 15:56] nagisa commented on #81010
Code seems to be broadly copied from https://doc.rust-lang.org/book/ch10-02-traits.html#fixing-the-largest-function-with-trait-bounds and there are various signals indicating this might be a spam, similar to https://github.com/rust-lang/rust/issues/80773. Closing for now, but if the author does provide more explanation, we can reopen.

[2021-01-14 15:56] #81010 closed

[2021-01-14 15:57] steveklabnik commented on #72050
Triage: this hasn't changed, and I'm personally not convinced it should.

[2021-01-14 16:12] spastorino commented on #80810
@Jakob-Naucke @cuviper is it easy for you to test against #80732?, we [did a try build](https://github.com/rust-lang/rust/pull/80732#issuecomment-754879677) so you can install the compiler with that PR included using rustup-toolchain-install-master.

[2021-01-14 16:15] rylev commented on #66273
The second error has been improved:
[code]

This error message seems pretty good to me now. Is it good enough to close?

[2021-01-14 16:34] tj-yazman opened #81014 "Generixs mixup"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=41fbb6664a0e553a8ce57e7cca457ab4))

Output:

[code]

Errors:

[code]

[2021-01-14 16:35] #81014 closed

[2021-01-14 16:43] rylev commented on #63799
This is still an issue, but at least the incorrect help message is no longer displayed:

[code]

[2021-01-14 16:45] Jakob-Naucke commented on #80810
@spastorino I'm afraid *try* does not generate an s390x target:
[code]
(but `x86_64` works)
I can try it with my x86_64 and s390x machines anyways.

[2021-01-14 16:49] estebank commented on #66273
I would say so :)

[2021-01-14 16:49] #66273 closed

[2021-01-14 16:51] tmiasko commented on #81000
Fixed by #81003.

[2021-01-14 17:00] sivadeilra commented on #80289
As general guidance, you should never use the stack for "large" data structures. Placing a 1 MB array on the stack is just bad design.

First, because as you've seen, you're very close to overflowing the stack.  By default, Windows assigns 1 MiB of virtual address space (not memory, virtual address space) to the stack of the first thread in a process. That's 1,048,576 bytes. So if you declare a da

[2021-01-14 17:01] sivadeilra commented on #80289
@camelid I suggest closing this issue. The root problem is described above, and is not a problem in the Rust language or implementation.

[2021-01-14 17:37] tj-yazman opened #81016 "generics ex2"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3fc9760fab6108a48a969053a0393eaf))

Errors:

[code]

[2021-01-14 17:39] scottmcm commented on #80988
That's certainly my position.  If they wanted to allow tweaking the level later, they could have used `#![deny(warnings)]` instead.

[2021-01-14 17:55] rylev commented on #65669
Going to close this. If a PR is opened then that can be used for tracking.

[2021-01-14 17:55] #65669 closed

[2021-01-14 17:56] rylev commented on #64723
Closing as the behavior is correct and has already been discussed [here](https://github.com/rust-lang/rust/issues/26487#issuecomment-169828205)

[2021-01-14 17:56] #64723 closed

[2021-01-14 17:57] rylev commented on #64024
Closing since the incorrect help text is no longer being suggested.

[2021-01-14 17:57] #64024 closed

[2021-01-14 17:58] rylev commented on #63513
Closing this since Azure Pipelines is no longer being used.

[2021-01-14 17:58] #63513 closed

[2021-01-14 18:15] rylev commented on #45888
This no longer produces an error and compiles fine on 1.49. Closing.

[2021-01-14 18:15] #45888 closed

[2021-01-14 18:16] Zymlex commented on #53155
Same problem.

Normal:
[code]
Normal:
[code]
Bug:
[code]
Bug:
[code]

Windows 10
1.51.0-nightly
1.49.0-stable

[2021-01-14 18:20] timleg002 commented on #69350
Thanks for the answer. This needs to be fixed asap

[2021-01-14 18:23] rylev commented on #45745
This is now an error due to literals overflowing is now deny-by-default. Of course, if users turn that to allow, they will run into this issue.

[2021-01-14 18:29] tj-yazman opened #81019 "ex3"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=71c43c55517cdf925d305dfe3249dd91))

Output:

[code]

Errors:

[code]

[2021-01-14 18:29] scottmcm commented on #80950
`clamp` is almost certainly `wont-fix` as being expected -- `Ord::clamp` was [backed out back in 2017](https://github.com/rust-lang/rust/pull/44438) for breakage, so it finally stabilizing now seems like acceptance of this (allowed) breakage.

[2021-01-14 18:34] xNxExOx commented on #80289
[code]
this is how the stacktrace looks for me at the crash site.
17 - 14 is runtime and other stuff before main (not very interesting)
13 is main
12 - 0c are try catch wrappers, and iterator something? (not interesting stack size either)
0b is `advent_of_code`::`y2020`::`day_10`::`solve` 🤔 this is unexpected, do I read it correctly? is the 1 MB difference here?
0a is `advent_of_code`::`y2015`::`s

[2021-01-14 19:07] tj-yazman opened #81020 "ex4"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6fa4e2e3657400eeb3a411b8d6a07209))

Output:

[code]

Errors:

[code]

[2021-01-14 19:26] matthewjasper commented on #80949
@nikomatsakis @pnkfelix @nagisa wanted a longer explanation of what's going on here.

When we type check the MIR we find that:
* The lifetime of the borrow at bb3[3] must outlive the lifetime in the type of `_8`
* the lifetimes in the types of `_8` and `_7` are the same because of the signature of `diff`
* The lifetime in the type of `_7` is the same as the lifetime in the type of `_1` (from the a

[2021-01-14 19:29] #81020 closed

[2021-01-14 19:29] #81019 closed

[2021-01-14 19:29] #81016 closed

[2021-01-14 19:38] tmandry commented on #81000
Thanks @tmiasko!

[2021-01-14 19:38] #81000 closed

[2021-01-14 21:10] davidtwco opened #81024 "split dwarf doesn't work with crate dependencies"
As reported in https://github.com/rust-lang/rust/pull/77117#issuecomment-752872709 (cc @philipc), Split DWARF currently fails when compiling a crate with a dependency.

To reproduce this, compile  `backtrace-rs` with the following command:

[code]

[2021-01-14 21:10] davidtwco commented on #81024
As of writing, here's what I've figured out - using `backtrace-rs` as an example, as that was the crate which was used when reporting the bug:

Compiling `backtrace-rs` with `RUSTFLAGS="-Z split-dwarf=split" cargo +nightly --verbose build` produces the following output:

[code]

`llvm-dwp` expects to be able to find all of the `dwo` files referenced by the linked `build_script_build-6f3f4877020435

[2021-01-14 21:11] steveklabnik commented on #61821
Triage: no change

[2021-01-14 21:45] sivadeilra commented on #80289
The details don't matter. They can vary by compiler, target ISA, optimizations on/off, host OS, etc.

Don't allocate huge stack locals. Use `Vec`.

[2021-01-14 22:09] erik55 commented on #77270
I would vote for leaving it like it was. I know from other [Linters](https://en.wikipedia.org/wiki/Lint_(software)) (for example HLint), that they only show one hint at a time, not recursive hints. This hints and suggestions are for learning. You learn step by step, and are then able to understand every single step. If you change a lot of code at a time, in the end you don’t know why you did what.

[2021-01-14 22:19] Velrok opened #81025 "thread 'rustc' panicked at 'Failed to recover key for generics_of(4a7312a36d4dc886-c48dde1a2cdd103e) with hash 4a7312a36d4dc886-c48dde1a2cdd103 e', compiler/rustc_middle/src/ty/query/mod.rs:235:5"
I'm running through [Shesh's blog: Single Page Applications using Rust](http://www.sheshbabu.com/posts/rust-wasm-yew-single-page-application/)

I made it to the point where you create a initial hard coded list.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-01-14 22:22] Velrok commented on #81025
Just a note. Running a `cargo clean` resolved the issue.

[2021-01-14 22:30] jyn514 commented on #81025
@Velrok I think this was fixed a few weeks ago - can you try with a newer version of nightly?

[2021-01-14 22:38] bjorn3 commented on #81024
I was under the impression that this already happend. At least my FCP proposal for `-Csplit-dwarf` was made with this assumption.

[2021-01-14 22:51] davidtwco commented on #81024
I assumed that the `-Csplit-debuginfo` proposal wouldn't enable Split DWARF initially, only `-Zrun-dsymutil`, since it had only been in nightly for a short time.

[2021-01-14 22:55] bjorn3 commented on #81024
`-Csplit-debuginfo` will be gated behind `-Zunstable-options` for all targets other than macOS, but it is supposed to work for both Linux and Windows.

[2021-01-14 23:07] #79950 closed

[2021-01-14 23:07] #73128 closed

[2021-01-14 23:07] #73129 closed

[2021-01-14 23:07] #80010 closed

[2021-01-14 23:07] #40062 closed

[2021-01-14 23:07] #80894 closed

[2021-01-14 23:16] Velrok commented on #81025
Thanks for coming back on this so quickly.

It's been running fine since the `cargo clean` and it's setup to build after every save, which means I don't have a reproducible way of triggering the error.

I'll stay on my current version until I see it again, and on the next occurrence I'll update to latest nightly to see if that fixes it.

Does that sound reasonable?

[2021-01-14 23:44] jyn514 commented on #81025
Unfortunately that won't tell us whether the bug was fixed or not - cargo uses completely separate caches based on the version of the toolchain. So updating to latest nightly would always work even if the bug wasn't fixed.

[2021-01-15 00:10] camelid commented on #80289
Closing [by request](https://github.com/rust-lang/rust/issues/80289#issuecomment-760328571) of @sivadeilra.

[2021-01-15 00:10] #80289 closed

[2021-01-15 00:14] Walther opened #81026 "x.py build: error: XZ support is required to download LLVM"
Steps:
- Follow instructions at https://rustc-dev-guide.rust-lang.org/getting-started.html
- `git clone https://github.com/rust-lang/rust.git` (at commit e38fb306b7f5e65cca34df2dab1f0db15e1defb4 )
- `git submodule update --init --recursive`
- `./x.py setup`, select `b) compiler: Contribute to the compiler or rustdoc`
- `./x.py build`

[code]

Both `python` and `python3` exist
[code]

Note: https:/

[2021-01-15 00:23] bholley commented on #42763
Is that just replacing the memcpy with an inline series of moves? If so I hope we can do better. :-)

[2021-01-15 00:27] lzutao commented on #80289
This issue is concluded that it's not a regression
@rustbot label -regression-from-stable-to-nightly -C-bug

[2021-01-15 00:30] Walther commented on #81026
Additional note:

[code]

on a server with a Ubuntu 20.04 focal fossa installation, where `python` is not even be present:
[code]

[2021-01-15 00:38] cuviper commented on #81026
See also #71818 and #80625 -- cc @jyn514

[2021-01-15 00:40] Walther commented on #81026
Ah my bad, was searching with the full error and didn't find those two. Closing as duplicate 👍

[2021-01-15 00:40] #81026 closed

[2021-01-15 00:56] camelid commented on #80258
Hmm, that is pretty weird. You might want to ask in `#t-compiler/help` on Zulip if you haven't already – somewhere there may be able to help.

[2021-01-15 00:56] jrmuizel commented on #42763
No. There are 50 `mov`s to initialize with `5` and only 8 other `mov`s to set up parameters for the call to `print`. It would be better if the initialization of the array could get removed too, but that's another issue.

Here's what it looks like by default without `-Zmir-opt-level=2`

[code]

The initialization is there along with 2 400 byte memcpys.

[2021-01-15 01:09] jsgf opened #81028 ".debug_gdb_scripts is being loaded into memory"
If I build:
[code]
with `rustc -g --crate-type bin --emit obj -o t.o t.rs`, and look at the output of `readelf -St t.o` I see:
[code]

According to https://github.com/rust-lang/rust/pull/41627, this is not supposed to be an alloc section (ie, loaded into memory), but only present in the object file.

Having this section loaded isn't a huge problem in itself, but when combined with `--link-arg -Wl,

[2021-01-15 01:25] tmandry commented on #78522
Fixed in #79689

[2021-01-15 01:25] #78522 closed

[2021-01-15 01:27] tmandry commented on #77217
Presumably fixed in #79689, leaving this open to try the original example in the next nightly.

[2021-01-15 01:27] jsgf commented on #81028
This is basically a regression of issue https://github.com/rust-lang/rust/issues/41626
cc @whitequark

[2021-01-15 01:59] jyn514 commented on #81026
There is not a good way to fix https://github.com/rust-lang/rust/issues/71818 (see https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/x.2Epy.20.2B.20download-ci-llvm.20-.3E.20explicit.20python3.20needed.3F/near/221414355 for more discussion). https://github.com/rust-lang/rust/pull/80625 should be merged as soon as I rebase it.

[2021-01-15 02:12] dbr opened #81031 "Better listing of dependencies in 'cargo docs' sidebar output"
**Describe the problem you are trying to solve**
In short: in the generated HTML docs, the sidebar list of dependencies isn't very useful in any project with many (tens or hundreds) of dependencies.

Longer:

In the `cargo docs` output for my application, there is a huge list of crates listed in the sidebar (around 200). Very few of these are interesting to me - a huge majority are indirect depend

[2021-01-15 02:13] ehuss commented on #81031
Transferred to rust-lang/rust, as this issue is about rustdoc and its issues are tracked here.

[2021-01-15 02:35] Boscop commented on #80967
So instead of `cond.then_some(foo())` you'd have to write `cond.then({ let v = foo(); || v })`
or write it in multiple lines.

[2021-01-15 04:51] xNxExOx commented on #80289
I did not want to directly question if it was identified correctly, I am no assembly expert, and I just can not find it in there, because it happen with day 6 commented I still suspect it could be something else.

[2021-01-15 04:57] #80576 closed

[2021-01-15 06:29] jyn514 commented on #81031
I agree we should fix this. If you want to go to the root of the current crate, you can always click on the crate name on the item you're looking at.

I'm not *opposed* to this, but it's the sort of change that only happens if someone volunteers to put in the time. I'm happy to help mentor if you want to work on it.

[2021-01-15 07:37] jhpratt commented on #48556
I believe the FCP label should be removed — that was for something nearly three years ago.

[2021-01-15 08:12] osa1 commented on #80258
Creating a Zulip topic for this: https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/Type.20checker.20change.20causing.20unexpected.20errors

[2021-01-15 09:03] iago-lito commented on #80967
The following two versions are not strictly identical indeed:
[code]
prints
[code]
So it's not just a matter of syntax.

Not sure whether this particular behaviour of `then_some` is useful though.

[2021-01-15 09:03] hellow554 commented on #81004
There is no regression to find.
I tested it with the 01-06-2016 compiler (rustc 1.11.0) and even there it hangs, so it seems like it has been forever (01-01-2016 doesn't compile the code, but it doesn't hang (but IMHO that's not the same here))

@rustbot modify labels: -E-needs-bisection

[2021-01-15 09:08] lzutao commented on #81004
Removed regression label as above
@rustbot label: -regression-from-stable-to-stable

[2021-01-15 09:21] rylev commented on #56029
Closing as this doesn't seem to be a specific issue.

[2021-01-15 09:21] #56029 closed

[2021-01-15 09:46] lzutao opened #81037 "Some internal rustdoc links broke"
https://github.com/rust-lang/rust/blob/dcf622eb70aebe16d40c5f88fa2a41fa7019541c/library/alloc/src/vec/spec_from_iter_nested.rs#L8

[code]

And in [stdarch submodule](https://github.com/rust-lang/stdarch/):
[code]

@rustbot label: T-rustdoc C-bug E-easy

[2021-01-15 10:47] petar-dambovaliev opened #81039 "Error message improvement for function argument macro"
Consider the following code

[code]

The corresponding error

[code]
I suggest adding to the error that attribute macros can be used in this context, if they are removed by the top level macro,
in this case `handler`.
I could create a PR, if this is considered an improvement.

[2021-01-15 11:00] b-naber commented on #74679
@RalfJung The reason this currently doesn't work is that the compiler doesn't identify *const [T] as a supertype of *const [T;n]. This happens [here](https://github.com/rust-lang/rust/blob/dcf622eb70aebe16d40c5f88fa2a41fa7019541c/compiler/rustc_typeck/src/check/method/probe.rs#L1324-L1326), `get_unchecked` is actually considered as a candidate, but rejected because of the type relation.

I'm not s

[2021-01-15 11:12] Jakob-Naucke commented on #80810
@spastorino yes, that's working. Built with `DEPLOY=1 src/ci/docker/run.sh dist-s390x-linux` on x86_64:
[code]

[2021-01-15 11:40] #45745 closed

[2021-01-15 11:40] oli-obk commented on #45745
Yea I don't think we can take further actions here

[2021-01-15 12:24] KodrAus commented on #55002
Now that `atomic::spin_loop_hint` is deprecated I'll go ahead and close this tracking issue.

[2021-01-15 12:24] #55002 closed

[2021-01-15 12:25] #80233 closed

[2021-01-15 12:25] #80998 closed

[2021-01-15 14:03] hyd-dev commented on #80907
Miri is *still* not available in latest nightly from rustup. The ["rustup" PR](https://github.com/rust-lang/miri/pull/1669) has already been merged. Is rust-lang/miri#1670 blocking the submodule update or the submodule update is just forgotten?

[2021-01-15 14:26] RalfJung commented on #80907
The update could be done any time, it just did not seem to be particularly urgent. ;)

[2021-01-15 14:30] hyd-dev commented on #80907
But I think some components being missing from rustup is not good, especially for people like me that use a `rust-toolchain` file, update it from time to time and gate CI on Miri.

[2021-01-15 14:39] oli-obk commented on #80907
that's an orthogonal issue. We are moving away from submodules, at which points tools will never break again, but it takes a bit of time. Until then, please be mindful of the available time of all the volunteer contributors. If an update is important to you, you can also open a PR doing a bump yourself.

All the tools are available on beta/stable toolchains, it is only nightly that can have missin

[2021-01-15 14:40] FH0 commented on #79609
same problem
1.43 works
lto=true can't solve

[2021-01-15 14:47] hyd-dev commented on #80907
Yes, I know you are moving to `git subtree`.

As the rust-lang/miri#1669 PR has been merged, I think the update only requires *a single* git command? I assume there's not too much work, apologize if I'm wrong.

Yes, I'll do that.
@rustbot claim

[2021-01-15 14:51] RalfJung commented on #80907
There's a reason the [recommended CI setup for Miri](https://github.com/rust-lang/miri/#running-miri-on-ci) has some magic in it to pick a toolchain that contains Miri. :)

Thanks! Please `r?` me in the PR.

[2021-01-15 15:56] RalfJung commented on #74679
Without this coercion, raw-ptr-as-`self` is unergonomic in yet another way. That's why I think the coercion should happen, at least in method receiver position.

[2021-01-15 16:42] pderouen opened #81045 "Windows PathBuf/Path"
A Path derived from a canonicalized PathBuf and then joined to another Path that includes ".\\" in the path cannot be resolved correctly (Windows os error). Removing the leading ".\\" or starting from a PathBuf that hasn't been canonicalized will allow the path to resolve correct (Windows finds the file).

I tried this code:

[code]

I expected to see this happen: I expect the final prinln to show

[2021-01-15 17:24] glittershark commented on #64460
Stabilization PR up at #81047

[2021-01-15 17:29] ehuss commented on #81045
This is a fairly well known problem where `canonicalize` returns a `\\?\` device path which does not support relative paths or normalization.  See #59117 and #42869 and all the linked issues.

[2021-01-15 17:55] yoshuawuyts commented on #79221
Stabilization PR filed: https://github.com/rust-lang/rust/pull/81048

[2021-01-15 18:07] pderouen commented on #81045
thank you

[2021-01-15 18:28] #81045 closed

[2021-01-15 18:57] MSxDOS opened #81051 "Starting with nightly-2021-01-13 (1.51) rustc fails to build archives on Windows 7"
E.g. `cargo check --verbose` on https://github.com/japaric/ufmt
[code]
[code]

[2021-01-15 19:19] jyn514 commented on #81037
@lzutao those warnings are denied on CI, so they shouldn't ever be happening. How did you compile the standard library?

[2021-01-15 19:46] nikomatsakis commented on #80165
I'm nominated this for @rust-lang/lang discussion. I'd like us to review these lints and make sure we are happy with them.

[2021-01-15 21:13] #80907 closed

[2021-01-15 22:10] steveklabnik commented on #50701
Triage: i tried to recreate this bug, in both the 2015 and 2018 editions, and it compiles in each one https://play.rust-lang.org/?version=stable&mode=debug&edition=2015&gist=768534f142eaea262b568767f02adacb

[2021-01-15 22:12] steveklabnik commented on #50701
Oh. Immediately after posting that, I realized my error: the original example did not have a `mod` declaration. That means the actual equivalent is

[code]

and the error is now

[code]

with no suggestions, in the 2018 edition, but

[code]

in the 2015 edition.

[2021-01-15 22:41] nagisa commented on #81028
somewhat relevant is https://github.com/rust-lang/rust/pull/77961

I wouldn't be surprised if somebody went ahead and marked it as allocatable so that the linker preserves it in the final binary at all...

[2021-01-15 23:17] mstange opened #81059 "Error message improvement: Manual reborrowing with `&mut *variable`"
In this testcase, I wanted to reborrow `outer`, but accidentally wrote `&mut outer` instead of `&mut *outer`. However, the error's suggestion was ```try removing `&mut` here``` which wouldn't have worked.
It would be better to have the suggestion ```try adding `*` here``` in this particular scenario.

[code]

[code]

[2021-01-15 23:31] cuviper commented on #80810
I do worry that we're still missing a root cause, because it doesn't look like that code should behave differently for cross compiling, let alone s390x in particular. That could be a totally unrelated codegen bug though, which just happens to get tickled the wrong way by this change.

[2021-01-15 23:44] Velrok commented on #81025
I see. However that means there is no 100% reliable method to confirm it fixed right?
I've just see it again. I'll update to latest but as you pointed out that will have a separate cache, so we don't know.

I've been seeing this kind of error about once a day. So I guess if I update to latest and don't see it for a few days I consider it fixed?

[2021-01-15 23:50] Havvy commented on #80833
It's all generic parameters that are not inherited into inner items. Singling out lifetimes as different would be special casing something that is not special.

[2021-01-15 23:51] Velrok commented on #81025
I'm now on
[code]

If you don't see any new messages from me here in the next week you can assume it's no longer occurring on my machine.

[2021-01-16 00:39] KodrAus opened #81061 "Tracking Issue for cell_filter_map"
Feature gate: `#![feature(cell_filter_map)]`

This is a tracking issue for `Ref::filter_map` and `RefMut::filter_map`, which lets you optionally project data inside a `Ref` or `RefMut`, wrapped in a `Ref` or `RefMut`. If the projection returns `None` then these methods return a `Err(Self)` so that you can still get the original `Ref` or `RefMut` back out.

### Public API

[code]

### Steps / Histo

[2021-01-16 01:44] lzutao commented on #81037
I pass `--document-private-items` flag to rustdoc. Maybe this helps emitting these errors
when the doc are not build in normal cases.

[2021-01-16 02:38] jyn514 commented on #81037
I still can't reproduce:
[code]
Can you please post the full command line you're using?

[2021-01-16 02:43] lzutao commented on #81037
If that helps, sure:
[code]

[2021-01-16 02:59] lzutao commented on #81051
Cannot reproduce on [Windows target on CI](https://github.com/lzutao/ufmt/runs/1712388009?check_suite_focus=true).
Maybe check you systems again.

[2021-01-16 03:10] jyn514 commented on #81037
I can reproduce with that, thanks.

I looked at the code that's failing and I'm surprised it worked with my `RUSTDOCFLAGS` command, `SpecFromIter` isn't in scope at all. It should be an easy fix, just use `super::SpecFromIter` instead.

[2021-01-16 04:31] ExpHP opened #81066 "include!()-ing stuff that uses $[macro_export(local_inner_macros)] triggers #[deny(macro_expanded_macro_exports_accessed_by_absolute_paths)]"
### Summary

The following code compiles:
[code]

But if you move the contents of the submodule into another file and `include!()` it, it triggers an error:

[code]

### Reproduction case

<details>
<summary>Shell script to create and run a reproduction case</summary>

[code]

</details>

### Current compiler output

[code]

### Meta

`rustc --version --verbose`:
[code]

[2021-01-16 05:02] Uniminin commented on #81024
oh

[2021-01-16 05:03] Uniminin opened #81067 "crate fails to download"

[2021-01-16 05:03] #81067 closed

[2021-01-16 09:32] mbartlett21 commented on #81059
The mutable reference does not seem to be reborrowed when it is used in a pattern, but is still when passed to a function that explicitly takes a mutable reference. The code below works:

[code]

[2021-01-16 09:37] lambda-fairy opened #81070 "Incorrect span used for doctests defined using `#[doc(include)]` or `#[doc = include_str!("...")]`"
Given these two files:

`ducks.rs`

[code]

`ducks.md`

    test
    test
    test
    test
    test
    test
    test
    test
    test
    test

[code]

When I run `rustdoc --test ducks.rs`, I get an error:

[code]

The error message is correct. However, the position (`ducks.rs:14:9`) is invalid. I would expect it to reference either the original `include_str!` call, or (preferred) the snippet i

[2021-01-16 10:40] b-naber commented on #80833
Yes, I'm not saying that lifetime parameters are inherited into inner items, it's just that maybe there's a reason for why they are not included in the error code. Looking at the implementation, the clean way to do this would be to use the information contained in the [lifetime scopes](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_resolve/late/lifetimes/enum.Scope.html), but we [don't cons

[2021-01-16 12:44] ssomers opened #81074 "Tracking Issue for {BTreeMap,BTreeSet}::drain"
This is a tracking issue for a range-based `drain` method on `BTreeMap` and `BTreeSet`, similar to the one in `Vec`.
The feature gate for the issue is `#![feature(btree_drain)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue

[2021-01-16 12:51] ssomers commented on #81074
@rustbot modify labels: +S-A-collections +S-B-unstable +S-C-tracking-issue +S-Libs-Tracked +S-T-libs

[2021-01-16 13:24] herofqy opened #81078 "Dereference [RefCell] error when [use std::borrow::{Borrow, BorrowMut}]"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-01-16 14:04] #77433 closed

[2021-01-16 14:10] SNCPlay42 commented on #81078
Duplicate of #39232

[2021-01-16 14:51] bugadani commented on #61933
@rustbot claim

[2021-01-16 15:10] RustyYato commented on #81066
On further investigation, this seems to be a problem with macros expanding to `macro_rules` macros. The following doesn't compile with the same error message
[code]

[2021-01-16 15:15] osa1 commented on #81006
Fix at #81071

[2021-01-16 15:25] bugadani commented on #34792
@rustbot claim

[2021-01-16 15:36] Mark-Simulacrum commented on #80988
[code]

I think this exposes a potential problem in the current implementation - forbidding a lint group prevents you from then lowering the lint level for some parts of that group. This could be seen as a positive, but it's also pretty restrictive, and could be annoying for users. I feel that we should close this as accepted breakage, documenting in relnotes that forbid now applies at the same le

[2021-01-16 15:38] #81078 closed

[2021-01-16 15:43] Mark-Simulacrum commented on #80988
As another note, I noticed the crater run was cap-lints=warn, which means the quantity of crates doing this isn't fully assessed. It looks like rustdoc doc tests ignore this for some reason.

[2021-01-16 15:54] bugadani commented on #71898
@rustbot claim

[2021-01-16 16:21] Mark-Simulacrum commented on #80988
[code]

This code fails to compile on beta, because serde expands with a number of [allow attributes](https://github.com/serde-rs/serde/blob/2b504099e4e480625e74d3599f5ddab2f42c63de/serde_derive/src/dummy.rs#L33). I guess it's an open question exactly what kind of hygiene is appropriate here, but presumably the intent would be that we don't propagate lint levels into macro-expanded code. I imagine

[2021-01-16 16:57] matthiaskrgr opened #81086 "false positive unused_result when passing closure to macro"
I tried this code:

[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c4ba98093d3140e119f0776ebddd0eb3)

There's an unexpected warning about unused results although I don't see `Results` being used anywhere in the code.

Does rustc think that we could potentially pass a function that returns a result?
[code]

### Meta

`rustc --version --verbose`:
[code]

[2021-01-16 17:04] Amanieu opened #81088 "asm! should automatically rewrite labels in assembly code"
Defining labels in inline assembly is broken because inlining, function cloning and other compiler optimizations may result in an `asm!` block being emitted more than once in the final binary. This can cause duplicate symbol errors or even compiler crashes (#74262). For this reason it is recommended to only use GAS local labels when using `asm!` (#76704).

To improve user experience when using `as

[2021-01-16 17:31] jonas-schievink commented on #54725
We had to rely on `Span`'s `Debug` impl because the line/column access methods are still unstable: https://github.com/knurling-rs/defmt/issues/344

[2021-01-16 17:34] Amanieu commented on #60705
v0 name mangling support has been added to the GCC 10 development branch: https://sourceware.org/bugzilla/show_bug.cgi?id=27194

I think we should switch the default name mangling to v0 on nightly once GDB 10.2 is released.

[2021-01-16 17:55] zackmdavis commented on #71957
It turns out that thanks to #73300, there's at least a "ignored unless specified at crate level" lint on the attribute, but that's still not ideal. I don't think there's a good _reason_ for elided-lifetimes-in-paths to need to be at the crate level; I think it just turned out that way because of my _incompetence_ in #52069.

Guided by intuition rather than understanding, I tried this diff:

[code]

[2021-01-16 18:27] zackmdavis commented on #71957
I ... don't think I know what I'm doing here. :crying_cat_face:

This diff (trying to ignore macro code, inspired by the diff in my previous comment failing inside a Derive macro)

[code]

hits a similar failure:

[code]

[2021-01-16 18:27] jyn514 opened #81091 "Move reporting recursion limit errors outside of the trait system"
This is the proper fix for the breakage in https://github.com/rust-lang/rust/issues/79506 and https://github.com/rust-lang/rust/issues/79459.

The steps are basically to find all of the places that create a `OverflowError` or `SelectionError::Overflow` and make sure that they are always early returned until outside of `rustc_trait_selection::traits::{select, project}`, at which point they should b

[2021-01-16 18:32] Amanieu opened #81092 "asm! needs a better way of specifying clobbers"
Clobbered registers are currently represented as [an output to `_`](https://doc.rust-lang.org/nightly/unstable-book/library-features/asm.html#clobbered-registers). However there are several limitations to this approach:
- It is impossible for registers that are not supported as inputs/outputs (e.g. x87 float registers, MMX registers, RISC-V vector registers, etc) to be marked as clobbered.
- ~~The

[2021-01-16 19:04] Amanieu commented on #72016
I've drafted up a rough plan for the stabilization of `asm!`, in particular with regards to what issues need to be resolved.

1. Hard blockers. These issues must be resolved before we consider stabilization.
   - https://github.com/rust-lang/rust/issues/72016#issuecomment-753356240: `const` operands should switch to using the new inline consts instead of explicit promotion. In theory this should h

[2021-01-16 19:25] LukeMathWalker opened #81096 "Poor error message when spawning the future returned by an async fn that takes an owned value as reference"
Let's consider [this snippet](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5545059d2100141c2c6a21fe5bd870b9):

[code]

If we try to compile it, we'll get the following error:

[code]

The intent here is quite clear: I have ownership of `owned`, I want to pass it to `test` and then call `tokio::spawn` on the resulting future. The error message, though, does not point the

[2021-01-16 19:26] RalfJung commented on #72016
Some syntactically restricted version of `const` operands (only literals and named `const`s) would be easy to support without promotion right now -- so that much could be stabilized without supporting generic parameters in inline consts.

[2021-01-16 19:29] sgrif commented on #81096
I would also like to add that if the value was not `'static` to begin with, the compiler should additionally suggest `to_owned`. For example:

[code]

Even if the compiler suggested `async move`, the diagnostic would recommend requiring `'static` on `a`, which would ultimately lead to the same error in `main` if followed. The code should recommend calling `.to_owned()` or similar on `a`. The code

[2021-01-16 19:37] scottmcm commented on #80988
I think my main takeaway here is that nobody should ever do something as broad as `#![forbid(warnings)]` -- that picks up enough things that there's no way they need *that* strong a guarantee about it, and they should be using `#![deny(warnings)]` instead.

But bleh, hygiene is hard.  Should macro-expanded code be using the lint levels from the crate defining the macro?

[2021-01-16 19:43] Mark-Simulacrum commented on #80988
Cc https://github.com/rust-lang/rust/pull/81087

Yeah, I tend to agree that forbid warnings is too broad and you shouldn't do it.

I'm not sure about derive macros. It feels like macros shouldn't necessarily hide things from forbid, but I can also see the encapsulation argument - it's not really clear what the user actually wants. Probably forbid shouldn't affect macro expanded code as it's intent

[2021-01-16 19:45] bugadani commented on #80988
Well, even deny and warn can annoy me a lot if the proc macro generates code that doesn't have docs ;) I believe this might scream for defining hygiene rules for proc macros/derives?

[2021-01-16 19:51] Mark-Simulacrum commented on #80988
I think I figured out what the actual cause of the issue here is. forbid was just fundamentally broken, IMO, on lint groups - e.g. warnings - before https://github.com/rust-lang/rust/commit/eb4860c7e1e4109d94e84adc2794f720120604e3. I'm going to nominate this for T-lang, and I think there are two questions to answer:

* should forbid act on lint groups such that you cannot lower individual lints wi

[2021-01-16 19:53] Mark-Simulacrum commented on #80988
IMO, the answer is probably yes for the lint groups (this seems like a clear bug in previous behavior; if a lint is forbidden it should not be lowerable, regardless of precisely how that forbid was added), and a no for the second, for which an implementation exists at https://github.com/rust-lang/rust/pull/81087

[2021-01-16 19:55] bugadani commented on #80988
I think this should be extended to any lint level. And with the same breath I'd want to argue for not propagating them. The code macros generate is something the user has little control over, and the user probably isn't even interested in any warnings the compiler may give for those.

[2021-01-16 20:09] zackmdavis commented on #80929
I think the issue is that `&self` _is_ a function pointer?—though we don't usually think of it that way.

[2021-01-16 20:37] Amanieu commented on #80303
We discussed this in the libs meeting 2 weeks ago and came to the conclusion that `VecDeque` is in the wrong here: `Hasher` only guarantees hash equivalence for the *exact* same set of calls to `Hasher` methods. This allows hasher to perform various optimizations when hashing slices, such as using unaligned load instructions.

[2021-01-16 20:40] Amanieu commented on #80303
Incidentally [`hash_slice`](https://doc.rust-lang.org/nightly/std/hash/trait.Hash.html#method.hash_slice) could use some additional documentation to clarify that it is not necessarily equivalent to hashing each element individually in sequence.

[2021-01-16 21:19] sfackler commented on #80303
We could potentially add a new method to Hasher that *does* behave that way, but I don't know if it'd really be useful in many contexts outside of something like VecDeque.

[2021-01-16 21:23] camelid commented on #80929
It is? Even if it is, I don't think that's what the diagnostic is saying:

[code]

IIUC, it's saying that it expected a function takes `&mut self` rather than `&self`.

[2021-01-16 21:36] clarfonthey opened #81097 "Poor diagnostics for [T, N] turbofish"
Minimal example:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4f71238582d5427dafcae07a57f66b0a))

Errors:

[code]

Here, there actually isn't an unmatched angle bracket; the issue is that `[(), 0]` isn't a type, and that it should be `[(); 0]`. There might be other cases where this mistake causes awkward errors that might need fixing too, but this

[2021-01-16 22:09] adlerd opened #81098 "Consider removing a non-existing semicolon"
I tried this code:

[code]

I expected to see this happen: An error explaining that () does not impl Display (although a different message would be nice, cf #54771).

Instead, this happened: I got that error, but I also got a suggestion to remove a semicolon. As you can see, this program does not contain any semicolons to remove.

[code]

[code]

---

Of course, I understand why the suggestion exi

[2021-01-16 22:29] euclio commented on #80929
I think the label does a good job of pointing out the actual problem, but I would expect the note to say something like

[code]

[2021-01-16 23:15] #80992 closed

[2021-01-16 23:15] #76281 closed

[2021-01-16 23:15] #80913 closed

[2021-01-16 23:15] #34792 closed

[2021-01-16 23:18] petrochenkov opened #81099 "`#[derive(...)]` doesn't invalidate tokens for nested items"
Reproduction:
[code]

`#[derive]` will fully configure the item `S` and remove `#[cfg(FALSE)] { 10 }` before outputting the item or passing it to `PartialEq` and `Eq`.
`#[print_attr]` however will print tokens for both `cfg` cases because its input tokens are not invalidated and are stale.

Fix:
- `#[derive]` should walk the whole input item and invalidate tokens for all nested nodes, not only for

[2021-01-16 23:22] petrochenkov commented on #81099
The part about `CanSynthesizeMissingTokens::Yes` also becomes relevant with https://github.com/rust-lang/rust/pull/79078, because once that PR lands `#[my_attr]` in
[code]
should be ready to receive an item with invalidated tokens as an input.

[2021-01-16 23:34] Ekleog commented on #79187
Workaround that worked for me for something similar: add type annotations to closure arguments and returns until things start to compile.

[2021-01-17 00:32] petrochenkov commented on #81099
I'm going to feature-gate macro attributes on nested nodes in https://github.com/rust-lang/rust/pull/79078 because they are very similar to attribute macros after derive in the sense that they allow macros to observe derive's output, and the lang team's position is that it shouldn't be allowed on stable yet.
(It's unlikely to be used in practice, but beta crater runs will us is something breaks.)

[2021-01-17 01:17] ehuss opened #81104 "no_implicit_prelude attribute is not validated properly with unused_attributes lint"
The `no_implicit_prelude` attribute can only be applied to modules and the crate root. However, it seems to be silently ignored in all other positions:

[code]

I expected to see this happen: The UNUSED_ATTRIBUTES lint should trigger for all positions where it is ignored (with a future-incompatible note, since this should never have been allowed), possibly transitioned to a hard error in the futur

[2021-01-17 02:18] camelid commented on #80976
It seems `const_evaluatable_checked` is not required to repro?

[2021-01-17 02:42] reese commented on #80174
Hey folks, I'd like to work on this ticket. One clarifying question: what's the best way to suggest proper syntax in this case? We can just tell them to use tuple syntax, but is there an effective way to give them an example? Something like [this test](https://github.com/rust-lang/rust/blob/8a6518427e11e6dd13d6f39663b82eb4f810ca05/src/test/ui/missing/missing-fields-in-struct-pattern.stderr#L4-L5)

[2021-01-17 02:46] reese commented on #80174
@rustbot claim

[2021-01-17 02:50] zackmdavis commented on #80929
The "fn pointer" language is at

https://github.com/rust-lang/rust/blob/8a6518427e11e6dd13d6f39663b82eb4f810ca05/compiler/rustc_middle/src/ty/error.rs#L259

but I'm not immediately sure how we'd inspect it to determine whether to say "method" or "function". (The inner value [is a `PolyFnSig`](https://github.com/rust-lang/rust/blob/2e46cb38f174a4112fcfeecf6d4235f18830552f/compiler/rustc_middle/src/

[2021-01-17 02:55] camelid commented on #80929
I think saying

[code]

would be fine.

[2021-01-17 03:27] scottmcm opened #81106 "Tracking Issue for NonZeroUn::is_power_of_two (feature nonzero_is_power_of_two)"
Feature gate: `#![feature(nonzero_is_power_of_two)]`

This is a tracking issue for `NonZeroUsize::is_power_of_two` (and friends for the other unsigned types).

Like `NonZeroUsize::leading_zeros` (#79143), this generates simpler code than the underlying integer type because it can avoid a separate zero check.

### Public API

[code]

### Steps / History

- [x] Implementation: #81107
- [ ] Final com

[2021-01-17 03:29] estebank commented on #40107
Given the story behind this I think that a possible course of action would be to promote this to a hard error _only on 2021 edition_. This would neatly sidestep the breakage observed in the ecosystem.

cc @rust-lang/compiler

[2021-01-17 04:01] Mark-Simulacrum commented on #40107
I don't think an edition-specific hard error buys us much over the current situation. I think we should make the lint an error on all editions, but affected by cap-lints - essentially a forbid-by-default lint. That should remove the global state that @matklad wanted to remove and avoid too much complexity, while essentially avoiding any of the known cases where there's breakage.

I suspect that we

[2021-01-17 04:12] mbartlett21 commented on #74674
Here is an example implementation:

[code]

[2021-01-17 04:32] osa1 commented on #81096
Repro without dependencies:

[code]

[2021-01-17 04:33] osa1 commented on #81006
The fix is in, should we close this?

[2021-01-17 04:36] lzutao commented on #81006
The issue will be closed when the patch landed.

[2021-01-17 05:57] Lokathor opened #81109 "[docs] pointer::wrapping_sub has typo"
The docs for pointer::wrapping_sub say

but they should say `.wrapping_neg()` instead

[2021-01-17 06:56] clarfonthey commented on #76393
Note: I didn't even realise this method existed despite searching for it, and ended up adding an implementation of `SliceIndex` for `(Bound<usize>, Bound<usize>)`, which could potentially be a better way of doing this? Both could coexist but I haven't thought enough about how that would happen.

[2021-01-17 07:11] dylni commented on #76393
I thought about that. Also, this is the PR for anyone reading this issue: #81108

I think it depends on how you expect your impl to be used. Would it be used in a way this method would already cover? The advantage of this method is that it can be used when you don't have a slice: https://github.com/rust-lang/rust/blob/95cbcad920d602cb7319e819e7ebc3cf56c20cd7/library/alloc/src/collections/vec_deque

[2021-01-17 07:32] arcturusannamalai commented on #28979
It's 2021 and we should be more inclusive in language design and whats allowed in identifiers; coming from Python world Python3 support for unicode identifiers/functions/module names is truly great progress and I wish this for Rust community as well.

[2021-01-17 10:09] RalfJung commented on #76393
IMO `assert_len` is not a great name, since it sounds like this is asserting the length *of the range*. It is impossible to tell what this function does without reading the docs. In this regardg, IMO it is worse than the previous `slice::check_bounds(len, range)`.

The `assert` in the name makes sense because it panics on OOB, but on the other hand usually `assert` functions don't return anything.

[2021-01-17 10:18] sasurau4 commented on #49839
I'll work on it. @rustbot calim

[current output](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1288c15b1d5bec4219ee6a05edd41874
) is following.

[code]

[2021-01-17 10:25] scottmcm commented on #76393
Idea: it could take `RangeTo<usize>` to help clarify the meaning of the argument, without introducing overhead.

That would allow a call like `range.assert_subset_of(..self.len())`, pending bikeshedding.

[2021-01-17 11:05] petrochenkov commented on #73494
Some subdirectories besides `issues` that were found to be "special":
- `error-codes` - very specialized, but can contain anything (not used during training).
- `bad`, `did_you_mean`, `rfcs`, `span` - meaningless, need to be dismantled (not used during training).
- `binding` - has too many misclassified tests, needs an audit.

[2021-01-17 12:55] BurntSushi commented on #62569
This came up in a [StackOverflow question](https://stackoverflow.com/a/65760807/619216), and my advice was basically, "either don't use `println!` in non-toy programs, or use this `unsafe` FFI binding via libc to re-enable the default behavior for handling `PIPE` signals."

[2021-01-17 13:45] nagisa commented on #81088
Any reason to bother with `.L` and `${:uid}` instead of just replacing them with numbered labels?

[2021-01-17 14:09] ojeda opened #81117 "Cannot emit `metadata,obj` without `link`"
Requesting both `metadata` and `obj` without `link` fails:

    $ echo | rustc --crate-type rlib --emit=metadata,obj -

The output files are created, but the compiler thinks it still has to build the archive:

    error: failed to build archive: No such file or directory

The same behavior happens for other metadata + non-link combinations.

### Meta

Both latest stable (1.49.0) and nightly exhibi

[2021-01-17 14:29] petrochenkov opened #81119 "Tracking issue for macro attributes in `#[derive]` output"
This is a tracking issue for macro attributes that can observe output of the `#[derive]` attribute.
This includes macro attributes on the same item as `#[derive]` but below it, and macro attributes on nested nodes of the item with `#[derive]`.

`#[derive]` *fully configures* its input, eagerly evaluating `cfg`s everywhere in its target, for example on fields.
Attributes expanded after the `#[deriv

[2021-01-17 14:51] arnabanimesh opened #81120 "No warning on duplicate function outside trait implementation"
[code]

[2021-01-17 15:09] jyn514 commented on #81091
@jonas-schievink I don't know if I would describe this as cleanup - this is blocking a major rustdoc feature: https://github.com/rust-lang/rust/pull/79525

[2021-01-17 15:21] MSxDOS commented on #81051
The failure happens on a Windows 7 x64 machine. I reproduced this on another machine running Windows 7 x86, this time with `i686-pc-windows-gnu` toolchain.

[2021-01-17 15:21] MSxDOS commented on #81051
@rustbot modify labels: I-prioritize T-compiler

[2021-01-17 15:33] WaffleLapkin commented on #77101
Why is the mut version name differs from the slice variant? (`from_ref_mut` vs `from_mut`)

And what is blocking stabilization, it seems like there aren't any open questions/controversies. Shall I make a stabilization PR?

[2021-01-17 15:38] lzutao commented on #81051
I don't have any Windows machine to test (left alone Windows 7 which not available on CI).
All builds on Windows 10 with msvc and gnu toolchain succeeded: https://github.com/lzutao/ufmt/runs/1717188912?check_suite_focus=true

Let's ping Windows group to see if any folks can verify the issue:
@rustbot ping windows

[2021-01-17 15:40] jonas-schievink commented on #81120
New lints generally have to go through the RFC process, so closing in favor of that (or alternatively discussion on https://internals.rust-lang.org/).

[2021-01-17 15:40] #81120 closed

[2021-01-17 16:36] Mark-Simulacrum commented on #80804
@sunfishcode would you be up for filing a PR to fix this?

[2021-01-17 16:40] LeSeulArtichaut commented on #81051
@rustbot ping windows

[2021-01-17 16:50] jyn514 commented on #81109
@Lokathor are you interested in making a PR to fix it?

[2021-01-17 16:52] Lokathor commented on #81109
Josh you know I don't ever dare PR to rust-lang/rust ;3

[2021-01-17 16:55] jyn514 opened #81124 "Rustc takes 3.5 GB RSS to check `vtparse`"
I tried this code: https://github.com/wez/wezterm/commit/fa4bbbd077837d4eafe26805079f95a51054c4d7

I expected to see this happen: The compiler builds the code in a reasonable amount of memory (say, < 800 MB).

Instead, this happened: The compiler uses over 3 GB, causing docs.rs to kill the process: https://github.com/rust-lang/docs.rs/issues/1247

### Meta

`rustc --version --verbose`:
[code]

<de

[2021-01-17 16:56] 1000teslas commented on #80313
I'm not sure how given a `Location` or `Place` of a call, we can obtain the `Local` pointing to the definition for `self.body.local_decls`.

[2021-01-17 17:38] blaind commented on #73755
I've been trying to investigate this further. No solution yet, but some pointers:

* LLVM commit: https://reviews.llvm.org/D72972 for multivalue handling
* Tweet by the commit author (?) https://twitter.com/tlively52/status/1229944658354032640
* Commit histories of LLVM webassembly target files (https://reviews.llvm.org/source/llvm-github/history/main/clang/lib/Basic/Targets/WebAssembly.cpp, https

[2021-01-17 17:43] sivadeilra commented on #81051
Speaking for the Windows team at Microsoft, Windows 7 has reached [End of Life](https://www.microsoft.com/en-us/windows/windows-7-end-of-life-support-information). We're not interested in providing any further support for Win 7 development.

We (and members of the Rust community) are also actively working on [min_api_target_version RFC](https://internals.rust-lang.org/t/pre-rfc-min-target-api-vers

[2021-01-17 17:51] #77084 closed

[2021-01-17 17:51] #79798 closed

[2021-01-17 17:51] #61933 closed

[2021-01-17 17:55] sivadeilra commented on #81051
Also, you might check whether you have any anti-virus products installed. If so, try disabling them, or at least adding an exception that covers your development tree. Sometimes "permissions" problems are caused by anti-virus products opening and scanning executable files.

[2021-01-17 18:45] blaind commented on #73755
With further investigation, the ``-target-abi experimental-mv`` seems to be a crucial part. In addition, rust should return the value as a struct (maybe the target-abi will effect that?).

I tried the -C values with no help:

[code]

Some relevant tickets:
https://github.com/rust-lang/rust/issues/80970
https://github.com/rust-lang/rust/issues/60617#issuecomment-490299913

[2021-01-17 19:30] Amanieu commented on #81088
Internally the assembler will turn numbered labels into `.L` local symbols. Doing it directly makes the implementation slightly simpler since we don't need to track whether a label is before or after a particular instruction.

[2021-01-17 19:32] Aaron1011 commented on #80313
@1000teslas I think the information you need already exists in `closure_kind_origins()`.

You can see an example of retrieving this here: https://github.com/rust-lang/rust/blob/edeb631ad0cd6fdf31e2e31ec90e105d1768be28/compiler/rustc_mir/src/borrow_check/diagnostics/conflict_errors.rs#L295-L298

and of using it: https://github.com/rust-lang/rust/blob/edeb631ad0cd6fdf31e2e31ec90e105d1768be28/compile

[2021-01-17 19:43] Aaron1011 commented on #40107
I think this would be a good fit for `cargo report-future-compat` once https://github.com/rust-lang/cargo/pull/8825 is merged.

[2021-01-17 20:00] bstrie commented on #60705
Before stabilization, do there exist benchmarks to determine if this has an effect has on compilation times? Presumably longer symbol names would have a negative effect on performance, so do we have an idea of how the length of an average symbol compares between the new and old schemes?

[2021-01-17 20:09] dylni commented on #76393
Naming this method has [always been a problem](https://github.com/rust-lang/rust/pull/76885#pullrequestreview-491644624). That was simply the best name I found at the time, and I'd be in favor of changing it.

This is a great idea. To avoid confusion with other `assert_*` items, maybe `ensure_subset_of` would be better. I'll open a PR later with this new design to continue the discussion.

[2021-01-17 20:19] Aaron1011 commented on #81124
It looks like the high memory usage is being driven by the MIR for the `TRANSITIONS` static: https://github.com/wez/wezterm/blob/fa4bbbd077837d4eafe26805079f95a51054c4d7/vtparse/src/transitions.rs#L300-L315

It has 33,826 (!!!) basic blocks.

[2021-01-17 20:26] pietroalbini opened #81133 "Remove inline scripts from the rustdoc output"
Rustdoc currently emits two inline `<script>` tags into each HTML page it generates, making it hard to enforce content security policies on websites hosting documentation. The two tags in question are:

[code]

[code]

Both of the tags just define variables used by the JavaScript code, and it should be possible to replace them with `data-` attributes loaded by `main.js` without other changes to th

[2021-01-17 20:34] Aaron1011 commented on #81124
Running `cargo expand` shows that the large number of basic blocks is caused by the initialize being enormous: https://gist.github.com/Aaron1011/73c3f35c6aa1b07bf5a5d2240bc71b19

[2021-01-17 21:00] pietroalbini opened #81134 "Add a flag to generate a redirect map in rustdoc"
Rustdoc needs redirects in the output it produces, for example when an item is publicly re-exported. Currently redirects are implemented by generating HTML pages like this:

[code]

The problem with this approach is that the user sees the HTML page for a brief moment of time while the redirect is performed, which is not really a great UX. The HTML page also includes an inline `<script>` tag, which

[2021-01-17 21:39] bjorn3 commented on #60705
I couldn't fine any past perf run. Even the original implementation PR seems to miss one. I opened https://github.com/rust-lang/rust/pull/81137 for a perf run.

[2021-01-17 21:50] xfix opened #81138 "String::replace_range is unsound"
It's possible to use `String::replace_range` to create invalid strings containing broken Unicode. This happens because `replace_range` checks range bounds twice - first time to check parameter validity and second time for actually doing the splice.

[code]

This will print `Utf8Error` showing that a string is not valid UTF-8.

[2021-01-17 22:24] bstrie commented on #60705
To get some quick points of comparison, I built regex and ripgrep using both schemes.

Compilation time for regex:
[code]

Symbol size for regex:
[code]

Compilation time for ripgrep:
[code]

Symbol size for ripgrep:
[code]

So regex sees its symbols grow by 40%, and ripgrep's symbols grow by 60%. Both take 2% longer to compile in a single trial, which is within the margin of error but worth keepi

[2021-01-17 22:29] Yuri6037 opened #81139 "BufReader is broken"
I have tried to read multiple 20 bytes blocks using a BufReader connected to a File::open. For some reasons BufReader will finish by reading fewer bytes than asked. Removing the BufReader and issuing direct calls to read from the file fixes the problem. Is this expected behavior?

EDIT: After some more testing it seem to happen only on files exceeding 1Kb

[2021-01-17 22:40] FrostKnight commented on #77234
I would also like this trademark issue resolved, as it is too restrictive to include in some linux distros. :/

Please fix! :)

[2021-01-17 22:50] bstrie commented on #60705
Looks like bjorn's perf build is ICEing in the test suite due to panics in rustc_symbol_mangling, which suggests this could use some battle-testing before stabilization. Would it be uncontroversial to make v0 the default in nightly only, without letting that default get uplifted into beta until formal stabilization has occurred?

[2021-01-17 23:16] Mark-Simulacrum commented on #60705
We can switch it on for (some of) our test builders, but I am opposed to enabling on nightly prior to at least a crater run and our tests passing.

[2021-01-17 23:30] GrayJack commented on #43301
There is something blocking the stabilization of `Termination`?

[2021-01-17 23:37] jdahlstrom commented on #43301
Deciding the name, at least.

[2021-01-17 23:38] ehuss commented on #43301
There are some "rough edges" with the current design. There is an entire project group dedicated to fixing it among other things: https://github.com/rust-lang/project-error-handling

[2021-01-18 00:01] Aaron1011 commented on #81139
@Yuri6037 Can you post the code you're using?

[2021-01-18 00:07] camelid opened #81141 "rustdoc renders renamed imports using the new name"
rustdoc renders renamed imports (`use foo as bar;`) using the new, private name
(e.g., `bar` in `use foo as bar;`). This is confusing behavior since the new
name is an implementation detail. I think it should be using the original
item's name instead.

As an example, `chrono::Date::signed_duration_since` returns a `Duration`, but
the module it's defined in renames `Duration` to `OldDuration`. I wo

[2021-01-18 00:21] camelid opened #81143 "rustdoc: `#[doc(spotlight)]` doesn't work on re-exports"
This code correctly triggers the "Notable traits" dialog:

[code]

But this does not:

[code]

The difference is that the first one puts `#[doc(spotlight)]` on the trait,
while the second puts it on the re-export. I'm not certain that this is supposed
to work, but there is code in `src/librustdoc/clean/inline.rs`, which seems to
be used for re-exports, that supposedly detects `#[doc(spotlight)]`:

[2021-01-18 00:27] camelid commented on #81005
cc @RalfJung

[2021-01-18 00:31] PatchMixolydic opened #81145 "`Iterator::intersperse` doesn't seem to work correctly when collecting into a String"
I tried this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=282381d3d08c3ff8d42e2979ebce6bdd)):

[code]

I expected to see this happen: `", "` is placed between each digit:
[code]

Instead, this happened: `intersperse` does not insert `", "` between `"1"` and `"2"`:
[code]

Note that this works as expected when collecting into a `Vec` ([playground](http

[2021-01-18 00:36] tgnottingham opened #81146 "Generated Result propagation code is needlessly complex"
This case was found in #80463. Replacing some infallible code with code that needed to propagate `Result`s led to some performance issues. It looked like the `Result` propagation code was less efficient than it could be. The code below approximately reproduces the original issue.

[code]

The assembly for `foo` (for x86_64 Linux target) is what we're interested in:

[code]

I believe this could op

[2021-01-18 00:51] Aaron1011 commented on #78189
On Nightly, this now produces the following output:

[code]

So, this issue just needs a test.

[2021-01-18 00:56] KodrAus commented on #64295
A [comment was made on Twitter](https://twitter.com/BarryRevzin/status/1350861720185663488) about whether or not this should be able to use `size_hint` to determine whether or not the iterators have any chance of containing equal elements.

`size_hint` can't be relied upon for safety, but it seems like it could be reasonable to use it for short-circuiting `eq_by`.

[2021-01-18 01:01] jrmuizel opened #81148 "rustc --print target-cpus prints cpus that are not supported by the target"
Running `rustc --print target-cpus` on x86-64 prints a bunch of target-cpus including `pentium2`.
However, when running `rustc -C target-cpu=pentium2` I get `LLVM ERROR: 64-bit code requested on a subtarget that doesn't support it!`

Rust currently uses `MCSubtargetInfo::getCPUTable()` to get the list of cpus. In https://reviews.llvm.org/D93789 Craig Topper recommends against it and instead sugges

[2021-01-18 01:06] estebank commented on #40107
I am a fan of promoting lints to hard errors on edition boundaries, despite the implementation burden. It gives us a remarkably powerful tool for language evolution (once we have determined that is the right decision).

[2021-01-18 01:11] estebank commented on #80174
@reese hi! Thanks for taking this on!

I believe the ideal way to deal with this would be to make the `Foo { 0, 1 }` use _valid_ in the parser and emit an explicit error when encountering it in a later step of the compiler. But that work is tangentially related (but important to tackle) to the one described on the ticket: this ticket was originally intended to stop suggesting `Foo { 0, 1 }` and in

[2021-01-18 01:12] jyn514 commented on #81141
I don't think this should be changed until https://github.com/rust-lang/rust/issues/42066 is fixed. Otherwise you could have two items shown with the same name and namespace in the same scope.

[2021-01-18 01:48] estebank commented on #60705
I've seen cases in the past of bugs not being caught until beta (or even worse, stable) because nightly wasn't using the stable algorithm. If we were going to do something along those lines I would prefer if it was only in a single platform or some other similar strategy to avoid us finding that we've introduced a bug later in the release train and have to scramble to fix it.

[2021-01-18 01:49] Amanieu commented on #60705
I would prefer holding back on changing the default on nightly until we at least have support for v0 in a released version of GDB.

[2021-01-18 01:57] estebank commented on #49839
@sasurau4 you might want to first focus on [the case where the `values()` method has been called in the `for` loop](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0f01fc121903cada78e3fe83417788a2) as it will be easier to find the needed expressions and types to verify that `values_mut` is available. It would also be interesting to account for `.iter()` vs `.iter_mut()` as

[2021-01-18 02:00] pandaman64 commented on #81005
The same argument seems to apply to [`ptr::copy`](https://doc.rust-lang.org/std/ptr/fn.copy.html).

Miri (tracking raw pointers) reported undefined behavior for the following code:
[code]

When I set the `count` argument of the `ptr::copy` to 1, Miri did not report any undefined behavior. This may be an implementation detail.
<details>

[code]

</details>

Note that the pointers are valid individu

[2021-01-18 02:03] Aaron1011 commented on #81099
https://github.com/rust-lang/rust/pull/80689 will automatically fix the `#[derive(MyTrait)] #[my_attr]` case, since the AST node for the derive target will have its tokens cfg-stripped, and then passed to `#[my_attr]`. It will not directly fix the 'nested attribute' case, but will give us the infrastructure to do so (we'll want to run cfg-stripping for the tokens of all AST nodes, not just the top

[2021-01-18 02:15] reese commented on #80174
Ah okay, I see what you mean. Sure, I can definitely do both! Thanks for clarifying 👍

[2021-01-18 03:34] dylni commented on #76393
I created the PR: #81154

[2021-01-18 03:39] PatchMixolydic commented on #81086
This still happens without using macros or closures ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ab44f5bf57ea23f4523bfbe11d56ed92)):

[code]

[code]

This only happens when taking a reference to the result of the function call. [unused_results] checks if the result of any expression is unused. Presumably, this lint ignores `()` (which is the type of `dummy

[2021-01-18 03:48] PatchMixolydic commented on #81086
Additional note: `unused_results` isn't needed to see if an instance of the `Result` enum goes unused. `Result` is marked as [`must_use`], so it should be picked up by the [`unused_must_use`] lint, which is set to `warn` by default.

[`must_use`]: https://doc.rust-lang.org/reference/attributes/diagnostics.html#the-must_use-attribute
[`unused_must_use`]: https://doc.rust-lang.org/rustc/lints/listin

[2021-01-18 04:58] tgnottingham commented on #81146
I just tried adding `-Z mir-opt-level=3`, and found that it produces almost exactly the desired assembly:

[code]

The only thing I'm not sure is necessary is the clearing of `edx`. Still, a big improvement. Apparently the MIR optimizations we do with `-Z mir-opt-level=3` produce an initial LLVM-IR that LLVM is better able to optimize, which...I guess is not that surprising. :)

<details>
<summary

[2021-01-18 05:31] FH0 commented on #79609
Debug can't compile, while release can.
`cargo build --target=i686-pc-windows-gnu --release`

[2021-01-18 05:41] tesuji opened #81155 "`./x.py fmt` uses incorrect rustfmt with download-ci-llvm=true and custom rustc (not stage0/beta)"
On master branch with commit c4df63f47f37cfb8fff80919be560e4d51ae9a44, replace `RUSTUP_HOME`
with actual value and apply this diff:

[code]
</details>

Run `./x.py fmt` after that. Then run `git status` to check status of the repo.

I expected to see this happen: Nothing should change.

Instead, this happened: Many files changed dues to using wrong rustfmt.

cc @Mark-Simulacrum as in https://githu

[2021-01-18 05:57] Yuri6037 commented on #81139
The code is pretty big but I'll try to point you to the part that is problematic:

https://gitlab.com/BlockProject3D/eitools/-/blob/master/BPMToOBJ/src/bpm.rs

This link points you to the file where I'm reading data. You can enable the buffered reader on line 176. You will observe that when loading a file with the buffered reader the data is corrupted, however without the data is fine. If you need

[2021-01-18 06:06] bjorn3 commented on #60705
The perf run indicated significant regressions up to 10%.

[2021-01-18 07:15] xfix opened #81157 "Vec::drain is unsound with range_bounds_assert_len feature"
Manually implementing `assert_len` can cause unsoundness in `Vec::drain`. This only happens in nightly, as overriding `assert_len` is only possible in nightly releases.

The following program will segfault.

[code]

Related issues: #76393, #81154.

[2021-01-18 07:25] TheRawMeatball commented on #68648
I'm also running into this issue, but I can't see what the error in this code is. Can someone please explain why this code is wrong?

[2021-01-18 09:03] Amanieu commented on #60705
It seems that almost all of the the runtime increase comes from `LLVM_module_codegen_emit_obj` and `run_linker`, which explains why the % increase is so high on incremental builds.

Also keep in mind that the % are regressions in instruction count, which has less impact on the wall time than it may seem since the linker is multi-threaded.

[2021-01-18 09:31] SkiFire13 commented on #81139
At [line 58](https://gitlab.com/BlockProject3D/eitools/-/blob/master/BPMToOBJ/src/bpm.rs#L58) you're using [`Read::read`](https://doc.rust-lang.org/std/io/trait.Read.html#tymethod.read) to read from the reader, however this isn't guaranteed to fill the buffer and will instead return how many bytes it actually read. Use [`Read::read_exact`](https://doc.rust-lang.org/std/io/trait.Read.html#method.re

[2021-01-18 09:44] RalfJung commented on #81005
Well, they are valid individually, but they are not "both valid *at the same time*". In separation logic terms, we have `valid(p1) ∧ valid(p2)` but we do not have `valid(p1) * valid(p2)`. The issue is to find a way to express that without using separation logic terminology.^^

#80778 is entirely unrelated, as it concerns the safety invariant of `Cell` and the soundness of its `swap` method in ways

[2021-01-18 09:46] RalfJung commented on #80682
FWIW, in case `a != b` this can also be viewed as an instance of https://github.com/rust-lang/unsafe-code-guidelines/issues/133. However, for `a == b` I cannot really see a way that this code could be legal.

[2021-01-18 10:25] RalfJung commented on #80682
This PR fixes the problem: https://github.com/rust-lang/rust/pull/81160

[2021-01-18 10:35] haraldh commented on #66741
May I unassign myself? I can't help much with the remaining issues, because I lack the time and knowledge.

[2021-01-18 10:46] booleancoercion commented on #81143
I think you may have pasted the same code snippet twice, I can't find a difference...

[2021-01-18 11:16] djc opened #81162 "Seemingly incorrect error for missing trait bounds on associated type"
I tried this code:

[code]

I expected to see this happen: this should work, since `[f32; N]` implements `TryFrom<&[f32]>` with `Error = TrySliceError` and `TrySliceError` implements `Debug`.

Instead, this happened:

[code]

### Meta
`rustc --version --verbose`:
[code]

[2021-01-18 11:50] RalfJung opened #81163 "Improve ptr::read code in debug builds"
In https://github.com/rust-lang/rust/pull/80290, some people raised concerns about the quality of the code that `ptr::write` compiles to in debug builds. Given that, to my knowledge, reads are much more common than writes, I would think that one should be much more concerned with the code that `ptr::read` compiles to -- and currently, there's going to be quite a few function calls in there, so wit

[2021-01-18 11:52] RalfJung commented on #81163
Also Cc https://github.com/rust-lang/rust/issues/80377

[2021-01-18 11:54] RalfJung commented on #80377
Let's say they are on the wish list. ;) With https://github.com/rust-lang/rust/pull/80290, making them `const` should actually be pretty easy now.

[2021-01-18 11:59] RalfJung commented on #81163
Actually, `transmute_copy` is implemented using `read`, so scratch that plan.^^
I don't think there is a way to do this without calling `ManuallyDrop::into_inner`.

[2021-01-18 12:01] Mark-Simulacrum commented on #81155
I think custom rustc also overrides rustfmt, though probably shouldn't. Will investigate fixing.

[2021-01-18 12:44] varkor commented on #78189
There are already existing tests for this situation, so I think it's safe to just close.

[2021-01-18 12:44] #78189 closed

[2021-01-18 12:49] soniasingla commented on #81109
@jyn514 can i take this bug? :)

[2021-01-18 12:58] rylev commented on #81138
Assigning P-high as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381138.20String.3A.3Areplace_range.20is.20unsound) and removing I-prioritize.

[2021-01-18 13:06] usbalbin commented on #80377
Do we need to wait for #80418 to hit beta before `write` can be implemented without multiple implementations behind `#[cfg(bootstrap)]` or is there any other (not too ugly) way? :)

Also `intrinsics::forget` seems to be not const while `mem::forget` is const but internally calls `ManuallyDrop::new`. So how would one best solve that without undoing the "inlining" in #80290?

[2021-01-18 13:11] RalfJung commented on #80377
Well... you could use `&mut`. :laughing:
Probably it's better to wait, though.

This is supposed to be changed in https://github.com/rust-lang/rust/pull/79989.

[2021-01-18 13:12] sasurau4 commented on #49839
@estebank Thanks for your advice! I was stuck on how to get the binding rhs expression `for`.
I'll focus on the case you suggest :+1:

[2021-01-18 13:21] bluss commented on #76393
As @xfix detected in #81157, this method is mildly dangerous. The method cannot be trusted for asserting unsafe-critical invariants, because the trait is neither sealed nor an `unsafe trait`.

[2021-01-18 13:31] JohnTitor commented on #74713
Seems it has been fixed (finally) in the latest nightly, marking as `E-needs-test`

[2021-01-18 13:41] dylni commented on #81157
Thanks for noticing this. I think the best fix is to define the method on `Range` instead. I'll update [this PR](https://github.com/rust-lang/rust/pull/81154) with that change unless anyone has a better idea.

[2021-01-18 13:41] dylni commented on #76393
Thanks @bluss.

[2021-01-18 13:59] RalfJung commented on #81157
Good catch!

[2021-01-18 13:59] jyn514 commented on #81109
Go for it! The docs for this will be somewhere in library/, you can find them by hitting `[src]` in the docs. There are instructions for building at rustc-dev-guide.rust-lang.org/, the main command is `x.py doc library/std`.

[2021-01-18 14:54] RalfJung commented on #80795
FWIW, given that this relies on the coherence bug, I think trying to fix this is a game of whack-a-mole... we *already* check that `size_of` is only called on sized types, simply by doing type-checking. The type-checker has a bug, but that bug should be fixed... I am not convinced it is worth putting up second lines of defense here as that's a lost cause, there are just too many things relying on

[2021-01-18 14:56] RalfJung commented on #80795
OTOH, I guess if it's as easy as [this check](https://github.com/rust-lang/rust/blob/0677d9729318441a1cdb0c74812ec4140fa4d35f/compiler/rustc_mir/src/interpret/step.rs#L268) then it doesn't really hurt either.^^

[2021-01-18 15:16] Mark-Simulacrum commented on #81155
Yeah, if you configure a rustc we currently default to the sibling rustfmt - that's probably a bug, we should use the python-downloaded rustfmt.

The likely correct thing here is to move to setting RUSTFMT from bootstrap.py on download, and then detecting that in config.rs similarly to rustc/cargo. We should probably treat it as an optional env variable for now though.

[2021-01-18 15:36] LunarLambda commented on #53485
I would like to have `is_sorted_by_key`, for sure.

I'm using `binary_search_by_key` to make sure I always insert elements into a Vec in a way that preserves a sorted order, but just to be absolutely sure I wanted to throw in a `debug_assert!(list.is_sorted_by_key(...))`, which led me here

[2021-01-18 16:37] Yuri6037 commented on #81139
What is the use case for read then ? If it's not guaranteed to fill the buffer like the system read then why does it even exist?

[2021-01-18 16:54] camelid commented on #81143
Oops, fixed! Thanks :)

[2021-01-18 17:30] #81006 closed

[2021-01-18 17:40] sfackler commented on #81139
That is not the behavior of the system for many things, including TCP sockets.

[2021-01-18 17:45] SkiFire13 commented on #81139
Instead of writing your own `BufferedReader` why not propose to add a new method to the `Read` trait for your usecase? It doesn't feel that niche to me. For example what about:

[code]

This is pretty much equivalent to `std::io::copy(&mut reader, &mut buf)`, except it avoids an useless copy. Maybe we could also specialize it to avoid using an additional buffer when `W` is `&'_ mut [u8]`/`Cursor<&

[2021-01-18 18:15] Yuri6037 commented on #81139
I don't know for now I will just write my own BufferedReader so that I don't have to update the read in all of my projects. Ideally I'd like some way to activate a flag in the existing BufReader so that the read behaves like the underlying File.read.

[2021-01-18 19:00] CPerezz commented on #81037
Happy to fix that if hasn't been addressed yet.

@rustbot claim

[2021-01-18 19:03] shepmaster commented on #28728
After #77972, this is the smallest reproduction of the original case I could make. Fails in Rust 1.49.0 and 1.51.0-nightly (2021-01-17 4253153db205251f72ea):

[code]

[2021-01-18 19:04] Aaron1011 commented on #48677
With https://github.com/rust-lang/rust/pull/80723, we will start linting on calling `clone` on a reference.

[2021-01-18 19:06] tmiasko commented on #80767
Minimized:

[code]

Related to changes from #65858, which to produce a suggestion for `const_in_array_repeat_expression` feature, re-run const qualifs on MIR body after promotion.

[2021-01-18 19:24] camelid commented on #80150
Assigning `P-medium` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380150.20unclear.20diagnostic.20with.20invalid.20suggestion.20for.20lifet.E2.80.A6) in the prioritization working group.

[2021-01-18 19:34] camelid commented on #81051
Apparently, Windows 7 is still a [Tier 1 target](https://doc.rust-lang.org/nightly/rustc/platform-support.html#tier-1), so even though it's EOL for Microsoft, Rust still has to support it. It seems that maybe we should reduce Windows 7 to a lower tier at some point soon.

[2021-01-18 19:37] SimonSapin commented on #42847
Is `null` and `null_mut` for extern types the only remaining thing tracked in this issue?

---

[RFC 2580](https://github.com/rust-lang/rfcs/pull/2580) (implementation PR: https://github.com/rust-lang/rust/pull/81172) add public APIs for pointer metadata and a `pub trait Thin = Pointee<Metadata = ()>;`.

Building on top of that, I hoped that fixing this issue would be as simple as

[code]

However

[2021-01-18 19:39] SimonSapin commented on #43467
Update on `null` and `null_mut` for extern types: https://github.com/rust-lang/rust/issues/42847#issuecomment-762437779

[2021-01-18 19:49] Ericson2314 commented on #42847
I hope we can do `trait Sized: Thin {}` in the library in addition to whatever compiler tricks are needed, as the supertrait is "morally correct" and good for documentation.

[2021-01-18 19:51] Ericson2314 commented on #43467
@SimonSapin post (rightly) points out that `Sized` now should imply other things, and so no longer is a root of the trait hierarchy. I hope this can help dispel the resistance to `DynSized`.

[2021-01-18 19:57] RustyYato commented on #76314
Can `Atomic*::from_mut`'s signature be changed to `fn(&mut _) -> &mut Self` instead of `fn(&mut _) -> &Self`. This way `from_mut` and `get_mut` are inverses. (I view `Cell::from_mut`'s signature as a wart, that can't be fixed, but `Atomic*::from_mut` can be changed).

[2021-01-18 19:58] DutchGhost commented on #68648
Funny, it can trip up LLVM as well:
[code]

[code]

[2021-01-18 20:05] scole66 commented on #79899
Might be worth a comment in the document about this problem. I've had `-Zinstrument-coverage` just bundled into my environment, and I just realized that my coverage broke because I added "cargo install cargo-binutils", which compiled a bunch of things, _all with coverage enabled_ (oops), and every time I run "cargo cov ..." I destroy my profraw files, unwittingly.

[2021-01-18 20:13] nikic commented on #80963
Upstream fix: https://github.com/llvm/llvm-project/commit/a13c0f62c38131ef2656b06de02d82110abaf272

[2021-01-18 20:15] DutchGhost opened #81175 "GAT's + const generics error yields Invalid suggestion"
The following code errors, and the error contains a suggestion how to fix the error:
[code]

The error message states:
[code]

Obviously, writing `trait Funk: Sized<const P: usize> {` is invalid syntax.

[2021-01-18 20:25] nikic commented on #81146
The fact that Rust packs everything into an i128 instead of representing it as a struct is probably a large part of the problem here.

[2021-01-18 20:31] camelid commented on #81175
It seems the issue is that it's inserting the suggestion after the trait name and before the generics, rather than after the generics.

[2021-01-18 20:33] SNCPlay42 commented on #81175
No-nightly-features code that exhibits the same problem:

[code]

[code]

@rustbot label -requires-nightly

(should the F-labels go as well?)

[2021-01-18 20:52] m-ou-se commented on #76314
@RustyYato Is there a use case for that? There's not much more you can do with a `&mut Atomic` other than `get_mut()`.

[2021-01-18 21:05] RustyYato commented on #76314
@m-ou-se No specific use-case, it just seems odd to me that `from_mut` and `get_mut` are not inverses.

[2021-01-18 21:11] m-ou-se commented on #76314
Okay. I've added your suggestion to the unresolved questions to resolve before stabilizing this.

[2021-01-18 21:34] SimonSapin commented on #43467
You’re putting words in my mouth. That the trait resolver should be able to deduce `Metadata == ()` from `T: Sized` is not an argument for adding a new opt-out `?Trait`, nor does it alleviate the practical concerns with those proposals.

[2021-01-18 22:21] Yuri6037 commented on #81139
`That is not the behavior of the system for many things, including TCP sockets.`

I know that. I was speaking about the behavior of read/ReadFile on files not network streams. I expect that the buffer should not alter the behavior of the underlying sys-calls. In the case of a File it clearly has a different behavior as explained in this post.

Anyway, the issue is now completely resolved thanks to

[2021-01-18 22:25] nagisa commented on #81163
If all of `ManuallyDrop`, `MaybeUninit` and `ptr::read` are defined in the same crate, the fields of the wrappers could be made `pub` to `ptr::read`.

[2021-01-18 22:47] SkiFire13 commented on #81139
The buffer altered the observable behaviour, however the behaviour you're speaking of is implementation details. You shouldn't expect them to be the same when changing the implementation...

[2021-01-18 23:57] Yuri6037 commented on #81139
I know it is implementation defined but the matter is this behavior is standard on Windows Mac Linux, Free BSD and even Android. And even if this wouldn't be defined on all platforms I still expect a file buffered reader to read more when not enough are available until no more data can be read...
When it comes to networking I usually prefer to control buffering on my own especially with UDP.

[2021-01-19 01:26] Aaron1011 commented on #43081
Progress update: The pretty-print/retokenize check was removed in https://github.com/rust-lang/rust/pull/79472. We now only lose spans when we explicitly remove the original `TokenStream`. This happens in two cases:

1. The input to a derive proc-macro has `cfg` or `cfg_attr` attributes (except when a `#[cfg]` attribute is kept due to its predicate evaluating to `true`)
2. Inner attributes are pre

[2021-01-19 01:40] Ericson2314 commented on #43467
https://github.com/rust-lang/rfcs/pull/2984#issuecomment-762540405 what I wrote that I don't want to twist your words, I just see that chipping away at the argument against effectively.

[2021-01-19 02:40] jamadazi opened #81181 "impl PartialEq for comparing primitive integer {u,i}N with NonZero{U,I}N"
It should be possible to directly compare primitive integers with their NonZero equivalents:

[code]

Currently, such code produces a type mismatch compiler error due to `PartialEq` not being implemented for these types, to allow it.

Such a comparison seems trivial. It should be non-controversial to add support for it?

[2021-01-19 02:54] #42226 closed

[2021-01-19 02:56] Celthi commented on #43122
Is it possible to add the primitives: `co_await`, `co_yield`,  `co_return` into Rust as C++'s coroutines in C++ 20?

[2021-01-19 04:17] KSXGitHub opened #81182 "dbg! on Ipv6Addr should not show leading '0x'"
[prior discussion](https://users.rust-lang.org/t/why-does-dbg-of-ipv6addr-show-leading-0x/54364)
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=385e6c132ab24c4e7086f9f52332badb)

---

I tried this code:

[code]

I expected to see this happen: It prints `7b:0:3::24:2`

Instead, this happened: It prints `0x7b:0x0:0x3::0x24:0x2`

### Meta

`rustc --version --verb

[2021-01-19 05:14] camelid commented on #57374
I've been hitting this in rustdoc recently (cc #79781).

[2021-01-19 05:40] osa1 opened #81183 "`cargo build` fails but building macro-expanded file works"
Cargo.toml:

[code]

The 'tracing' package is https://github.com/tokio-rs/tracing master branch (fe570af).

main.rs:

[code]

If I build this with current rustc master (4ba1aaf35f1):

[code]

However if I expand the macro/attribute using the same rustc using `cargo-expand` and replace main.rs with the expanded code, it builds fine. Expanded code:

[code]

Interestingly `cargo expand` prints the sa

[2021-01-19 05:58] #78511 closed

[2021-01-19 08:36] leonardo-m commented on #81181
Do you have an use case?

[2021-01-19 08:50] SkiFire13 commented on #81139
But `BufReader` is not file specific, it's generic. Does it have to preserve only `File`'s implementation details? Or any reader's implementation details?

[2021-01-19 08:59] #81138 closed

[2021-01-19 09:00] RalfJung commented on #81163
Yeah, that would work... but we'd have to make them public to the entire `ptr` module I think, so there is a significant risk of this being misused down the road. IOW, this is a bit too hacky for my taste.^^

[2021-01-19 09:29] Yuri6037 commented on #81139
In general only for files. But after all the behavior that I expect from my buffer is just to retry loading more data if the buffer is not full. If it can't read more cause the underlying syscall said no in that case only should it stop trying.

[2021-01-19 09:45] xfix commented on #81051
I would like to point out that according to [Firefox Hardware Across the Web report](https://data.firefox.com/dashboard/hardware), Windows 7 is used by 22% of Firefox users. Of course, I'm very well aware that this statistic is probably much much lower for programmers, but I feel like it's too early to drop support.

That said, this particular issue feels like an issue with anti-virus.

[2021-01-19 10:17] therealprof commented on #81163
Any chance of implementing those lowest level functions exclusively with intrinsics? It seems non-ideal to rely on a (non-existing in debug mode) optimizer to turn this into a decent binary code.

I would argue that the most fundamental building blocks to low-level applications should never cause unnecessary overhead, even in debug mode.

[2021-01-19 10:18] RalfJung commented on #81163
Intrinsics carry a significant implement cost in various layers of the compiler (typechecking, CTFE/Miri, codegen), so IMO we should keep the number of intrinsics to the absolute minimum necessary.

[2021-01-19 10:29] therealprof commented on #81163
Fair enough. I still think `write`, `read`, `write_volatile` and `read_volatile` qualify as essentials for a systems programming language.

If we can get efficient implementations for the mentioned functions another way that would be great.

[2021-01-19 10:34] RalfJung commented on #80875
Cc @rust-lang/wg-const-eval

This is expected behavior.  Casting a pointer to an integer *sometimes* works (when the pointer was created by casting an integer to a pointer), and sometimes doesn't. So this is a dynamic check performed when the code in question is being evaluated. That means there is no check in dead code.

So this is very similar to how `debug_assert!(1/0 == 0)` will only raise a "

[2021-01-19 10:38] RalfJung commented on #81163
That might be a good enough justification to make the fields of `MaybeUninit` and `ManuallyDrop` "public enough" to avoid function calls in `read`.

OTOH, the volatile operations have to be intrinsics anyway, so potentially much of the code could be shared between `read_volatile` and a `read` intrinsic.

[2021-01-19 10:51] asaadmohammed74 commented on #81051
im having the same issue, i also use windows 7 x64. and don't have any anti virus installed

[2021-01-19 10:52] leonardo-m commented on #72762
Now with much less unsafety:

[code]

[2021-01-19 11:31] alecmocatta commented on #81163
I may be off the mark here, but might we see net perf gains with certain cheap wrapper functions (e.g. `ptr::copy_nonoverlapping`) just being marked `#[inline(always)]`? Might be worth testing before expending effort on manual inlining.

[2021-01-19 11:37] bjorn3 commented on #81163
`#[inline(always)]` won't help for cg_clif until the MIR inliner is enabled by default. It also requires the LLVM inliner to do more work, thus causing debug builds to become a bit slower.

[2021-01-19 11:45] RalfJung commented on #81163
I thought `inline(always)` only affects release build? If it also affects debug builds, that might still be better overall than some of the more hacky alternatives.

[2021-01-19 11:55] bjorn3 commented on #81163
`#[inline(always)]` is also enabled when optimizations are disabled. Except when `-Cno-prepopulate-passes` is used.

For the old pass manager: https://github.com/rust-lang/rust/blob/4e208f6a3afb42528878b0f3464e337c4bf3bbc8/compiler/rustc_codegen_llvm/src/back/write.rs#L1047
For the new pass manager: https://github.com/rust-lang/rust/blob/2ba7ca2bbbff6cd424aebc654308febc00b9497a/compiler/rustc_llvm

[2021-01-19 12:03] alecmocatta commented on #81163
It doesn't seem implausible to me that `#[inline(always)]` might be a net gain for debug build times, while also improving perf of debug binaries. The `llvm.memcpy` intrinsic might be cheaper for LLVM to reason about than a call to the external `ptr::copy_nonoverlapping`, possibly making up for the increased cost to the inliner.

[2021-01-19 12:07] bjorn3 commented on #81163
I mean compared to manual inlining.

[2021-01-19 12:17] alecmocatta commented on #81163
Sure, `#[inline(always)]` may have a (I would assume very small) cost over manual inlining. The potential "net gain" I'm referring to is from automatically inlining in every place where `ptr::copy_nonoverlapping` is called (including user crates and applications) rather than a limited number of manual inlinings in `std`.

[2021-01-19 13:10] bjorn3 commented on #81163
`ptr::copy_nonoverlapping` is a thin wrapper around the intrinsic named the same. I would very much like all intrinsic wrappers to become re-exports of the intrinsics themself. This would eliminate the need for inlining but would require some way to change the "abi" of intrinsics from "rust-intrinsic" to "Rust" to make them indistinguishable from real functions.

[2021-01-19 13:14] RalfJung commented on #81163
FWIW, `copy_nonoverlapping` *was* such a reexport until I added the debug assertions. Now that the debug assertions are disabled, if we feel like we don't want them back anyway, we could change it back to a reeexport.

I think the main issue here is that using re-exports makes the intrinsics stably callable at `std::intrinsics::X`. Rust stability is not fine-grained enough to let us stabilize the

[2021-01-19 15:00] #80378 closed

[2021-01-19 15:00] #81109 closed

[2021-01-19 15:00] #81133 closed

[2021-01-19 15:11] drahnr commented on #78700
Still present in `1.49.0`

[2021-01-19 15:26] jplatte commented on #78700
More generally, `dyn X` and `dyn X + Send` are apparently considered entirely separate types, even though `X: Send`. Here's a smaller example that shows this ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=aa9453e7af0dcd5a3d08f3b5a7b77e14)):

[code]

[2021-01-19 15:27] str4d commented on #33147
This is now an annoyance when using [`-Clinker-plugin-lto`](https://doc.rust-lang.org/rustc/linker-plugin-lto.html). We use a modern `config.guess` in `zcashd`'s build system, so `clang` is given a target of `x86_64-pc-linux-gnu` for the C++ code, while Rust continues to use `x86_64-unknown-linux-gnu`. At linker time, this causes multiple warnings of the form:
[code]
Since we build with `-Werror`,

[2021-01-19 15:29] jplatte commented on #78700
CC @nikomatsakis who is probably the most knowledgable person about `dyn Trait` and all its problems.

[2021-01-19 15:36] cdmistman opened #81188 "rustc hangs when generating very large arrays"
I tried this code:

[code]

It seems that generating large arrays causes `rustc` to start using up a LOT of memory - eats up over 32gb for this.

### Meta

`rustc --version --verbose`:
[code]

[2021-01-19 15:45] str4d commented on #33147
I see that the target mismatch warnings were mentioned back in 2018 when `-Clinker-plugin-lto` was first being implemented (https://github.com/rust-lang/rust/issues/49879#issuecomment-382785340) but I can't find any subsequent mention of it anywhere.

[2021-01-19 15:47] MSxDOS commented on #81051
I've already checked and eliminated that from the list of possible causes along with any possible system issues I could think of. The problem appears on two machines with different hardware and software, one of which had a fresh installation of Rust toolchain via rustup and the issue appeared instantly.

There's not much I can draw from that cargo log. By the looks of it the issue happens with cra

[2021-01-19 15:47] jonas-schievink commented on #81188
You are creating an array containing 4 billion elements, the compiler isn't too happy about that

[2021-01-19 16:37] cdmistman commented on #81188
Makes sense - still, `clang` is able to compile similar programs with no problem and much less memory usage.

[2021-01-19 17:29] jyn514 commented on #81188
I think this is a duplicate of https://github.com/rust-lang/rust/issues/81124.

[2021-01-19 17:30] sundbry opened #81189 "Test for repr-transparent-aggregates-1.rs fails cross-compiling wasm32-unknown-unknown with LLVM 11.0"
[This test](https://github.com/rust-lang/rust/blob/582071c1ebd5ec19ded8648223e9108b5ce65d85/src/test/codegen/repr-transparent-aggregates-1.rs) fails on rust-1.49 cross compiling wasm32-unknown-unknown with LLVM 11.0. It looks like the intermediate representation for a void function has significantly changed from what is expected (see attached .ll file).

[repr-transparent-aggregates-1.ll](https://

[2021-01-19 17:31] b-naber opened #81190 "Missing links to src of implementors in docs of hir and ast visitors"
In the docs for the compiler no links to the source code of the implementors of the [ast::Visitor](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_ast/visit/trait.Visitor.html#implementors) and the [hir::Visitor](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_hir/intravisit/trait.Visitor.html#implementors) are provided. @jyn514 said that this is likely a bug.

[2021-01-19 17:33] jyn514 commented on #81182
@KSXGitHub are you interested in fixing this yourself? I think the relevant code is https://github.com/rust-lang/rust/blob/f09fb488f70c5965ec4f64453a6e681fbfcff56c/library/std/src/net/ip.rs#L1614

[2021-01-19 17:34] jyn514 commented on #81190
Related: https://github.com/rust-lang/rust/issues/76736

[2021-01-19 17:42] michaelwoerister commented on #60705
Those perf results are rather interesting. I wish we had less noisy wall-time data.

I think *building* the symbol names could be made faster by introducing some kind of caching, but the perf data seems to suggest that the slowdown actually comes from feeding longer symbol names to the linker. @eddyb collected some data a while ago, comparing symbol name lengths with various schemes: https://gist.

[2021-01-19 17:44] lnicola commented on #60705
Switching to lld (which is planned, but currently in limbo, I guess) might also mitigate this. From what I've seen it's much faster on large amounts of debug info.

[2021-01-19 18:19] joshtriplett commented on #74878
We discussed this in the @rust-lang/lang meeting today, and we feel that this feature warrants a Rust blog post. Would one of the const-generics team members be up for writing that post?

[2021-01-19 18:28] ThePuzzlemaker commented on #80466
I'm not really sure how to solve this or what I even need to get help on to solve this so I'm going to release assignment.
@rustbot release-assignment

[2021-01-19 18:35] ThePuzzlemaker commented on #81031
This sounds like a pretty interesting project to work on. It may take a while for me to do this but luckily this doesn't seem like an issue that is very critical, to be honest (Though I may split it into two parts: fixing that first issue about the rust logo, and possibly prioritizing packages in the sidebar). Wish me luck!
@rustbot claim

[2021-01-19 18:39] asaadmohammed74 commented on #81051
using RUSTC_LOG=debug
`INFO rustc_codegen_ssa::back::link preparing rlib to "G:\\Development\\rust\\hello_world\\target\\debug\\deps\\libanyhow-a96d4d06084a2ac6.rlib`

[2021-01-19 18:48] ThePuzzlemaker commented on #81031
As for sidebar reordering, I'm thinking something like this could be helpful:
1. Top-Level Dependencies
2. Local Dependencies (path deps or workspace deps)
3. Direct Dependencies
4. Indirect Dependencies

(maybe in their own sections? idk)

[2021-01-19 19:01] estebank opened #81192 "Account for missing `'` in break tags"
[Given](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9e04c8bd2fc029c8f1f219b224603807)

[code]

the current output is

[code]

It should instead be 5 errors with appropriate suggestions to add the missing `'` to the tags.

[2021-01-19 19:03] m-ou-se commented on #80165
As discussed in the lang meeting: Let's have separate PRs to turn each of these lints into deny-by-default on 2021 (which should be trivial changes), such that each lint can have its down discussion on its own PR. Then we can use this issue as the tracking issue for tracking those PRs. (cc @rylev)

[2021-01-19 19:06] joshtriplett commented on #80165
:+1:

We should also discuss (on an appropriate issue once filed) whether `bare_trait_objects` should be a deny-by-default lint, or a hard error. The argument for the latter is in https://github.com/rust-lang/lang-team/issues/65 : making `bare_trait_objects` a hard error in an edition will make it easier to give better error messages for const-generics in that edition and newer.

[2021-01-19 19:11] lcnr commented on #74878
yes, I still intend to write a post for when this feature hits beta.

[2021-01-19 19:23] jrmuizel commented on #54878
The current place to watch for this fix is https://reviews.llvm.org/D92887. It has not landed yet. LLVM 12 branches on Jan 26 and releases March 2.

[2021-01-19 20:01] jackh726 opened #81193 "Escaping late-bound regions during canonicalization with associated type bounds"
### Code

[code]

### Meta
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

Playground link: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1ac61e265f265fb1a096491da37893ff

[2021-01-19 20:02] jackh726 commented on #81193
@rustbot label: +requires-nightly +F-associated-type-bounds

[2021-01-19 20:04] ojeda commented on #66699
Something cannot be sometimes unsound -- it is either unsound or not. Unsafe does not imply unsound or sound.

[2021-01-19 20:05] scottmcm commented on #80988
We discussed this in the @rust-lang/lang triage meeting today.

Given that:
- This is about lint levels, so breakage is officially "minor" -- and thus allowed -- per https://rust-lang.github.io/rfcs/1105-api-evolution.html#minor-change-introducing-new-lint-warningserrors
- Cap lints correctly applies to these cases, so one is not impacted by a dependency that encounters this
- This only applies to

[2021-01-19 20:09] thomcc commented on #66699
It's unsound if you write MaybeUninit::uninit to it, or expose it to safe code (that can do this trivially). It's sound otherwise.

[2021-01-19 20:16] camelid commented on #81183
I'm guessing it's just running rustc, and the error occurs after macro expansion (though I may be totally wrong).

[2021-01-19 20:26] ojeda commented on #66699
That means it is unsound. It doesn't matter that sometimes there may not be code triggering the UB.

[2021-01-19 20:27] Kixunil commented on #66699
So the title should be "Document that casting &mut T to &mut MaybeUninit<T> and exposing it to safe code is not sound"

[2021-01-19 20:47] dtolnay commented on #78691
I would like if this were fixed. I find the comment about language lawyers uncharitable. Emitting a scary warning like this in correct code just puts even more of a needless barrier toward someone becoming a language lawyer. The relevant piece of the language (temporaries drop at the end of the statement) is quite simple &mdash; understanding why the linter is actively misleading you about the cor

[2021-01-19 20:54] addrianyy opened #81196 "inline-asm stack probe used but not defined on x86_64-unknown-uefi"
I tried this code:

[code]

.cargo/config.toml
[code]

I expected to see this happen: successful build

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

I believe that this problem was introduced in commit #77885.
The same problem exits if building `compiler-builtins-mem` is not enabled.

</p>
</details>

[2021-01-19 20:57] jamadazi commented on #81181
Yes, I came here after being surprised by this in my own project.

I have an enum where I use `NonZeroU8` to take advantage of the size packing optimization to keep it as one byte:

[code]

This is useful for it to be used in binary messages, and in general, because I don't consider `0` to be a valid player id in my multiplayer game.

However, it is extremely annoying to use in practice, because I

[2021-01-19 20:58] sunshowers commented on #78485
I have a PR to add an `inner_mut` method to Tokio's implementation of `ReadBuf`: https://github.com/tokio-rs/tokio/pull/3443. As far as I can tell it's a valid use case that there's no other way to do short of pointer arithmetic, so it may make sense to have this be in upstream Rust's `ReadBuf` as well.

[2021-01-19 21:04] estebank commented on #81162
Note that not using `for<'a>` makes [the code compile](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e6ca89df5e0c8ac41d8b2767a8977bd7), but doesn't have the same lifetime semantics.

[2021-01-19 21:56] leonardo-m commented on #81181
There's also the option of using id.get()

[2021-01-19 22:01] c410-f3r commented on #80377
Thank you, @RalfJung !

[2021-01-19 22:28] slerpyyy commented on #81181
Implementations of `PartialEq` which compare values of different types are fairly rare in the std crate and may be surprising to some users. I definitely see the appeal to having this impl in your case, but I'm not convinced adding abstractions to the language which hide safety wrappers is such a good idea in general.

That being said, how about you add these abstractions on your end directly?

[P

[2021-01-19 22:33] steveklabnik commented on #57772
Triage: I am not sure if this is a library bug, or a docs bug. That is, is the current behavior the desired one, and the docs should be updated to reflect that, or does the implementation need to be changed?

[2021-01-19 22:48] guswynn opened #81199 "Normalizing <T as Trait>::AssocType in a union causes an ICE"
https://github.com/rust-lang/rust/pull/81172/files
was reading this and trying to test how unions work with generics, and got an ICE

removing the union causes the ICE to NOT trigger

### Code

[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b3888d392c9bf1a2ee1bf1cfb961b84b

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

### Backtrace
[code]

[2021-01-19 22:49] hermanventer opened #81200 "write_mir_pretty no longer works for non local def_ids"
The expect_local call here means that write_mir_pretty no longer works for non local def_ids. The ability to print out MIR for non local functions this way is critical for the MIRAI project.

_Originally posted by @hermanventer in https://github.com/rust-lang/rust/pull/78407#r560551603_

[2021-01-19 22:51] guswynn commented on #81199
Minimization:
[code]
ICE's

and
[code]
Errors with a `unions may not contain fields that need dropping`

[2021-01-19 23:03] guswynn commented on #81199
Appears to only be unions:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=963f3ae6d30dd91fdd7ee5c30857ddc1

[2021-01-19 23:14] jyn514 commented on #62569
If you have multiple threads, this will abort the whole process instead of only panicking the current thread.

[2021-01-19 23:14] nagisa commented on #81196
Could work around in https://github.com/rust-lang/rust/pull/80838, but I'm surprised LLVM doesn't just emit probing there?

cc @cuviper @erikdesjardins

[2021-01-19 23:25] BurntSushi commented on #62569
@jyn514 yes. That's exactly what you want in most CLI programs.

[2021-01-19 23:28] jyn514 commented on #81188
A similar program causes rustc to OOM:

[code]

<details>

[code]

</details>

[2021-01-19 23:28] cuviper commented on #81196
We define `x86_64-unknown-uefi` using llvm target `x86_64-unknown-windows`, and `X86TargetLowering::hasInlineStackProbe` returns false for `isOSWindows`. Then `X86TargetLowering::getStackProbeSymbolName` returns the attribute as if it were a real symbol.

Off-topic, but that `table::POWERS` should probably be made indirect as a `static`.

[2021-01-19 23:35] jyn514 commented on #81188
Relevant code: https://github.com/rust-lang/rust/blob/c5a96fb7973649807a7943e7395456db158dcab6/compiler/rustc_mir/src/const_eval/eval_queries.rs#L49

[2021-01-19 23:42] jyn514 commented on #81188
Not sure who to ping, maybe @oli-obk - would it be possible to only allocate places if they're something other than a constant value? Something like this:

[code]

[2021-01-20 00:31] joshtriplett commented on #62569
@BurntSushi Programs using `println!` are not necessarily CLI programs, though. They may, for instance, be servers that use stdout/stderr for logging.

[2021-01-20 01:14] xpe commented on #51293
@rizakrko There is more to this story...

One can use raw identifiers, as explained at https://doc.rust-lang.org/reference/identifiers.html :

These raw identifiers are *not* allowed: crate, self, super, Self

So, if you want to use 'match' in a struct, do this:

[code]

https://doc.rust-lang.org/reference/identifiers.html

[2021-01-20 01:18] KSXGitHub commented on #81182
@jyn514 Nope, I'm not interested spending half a day compiling this repo.

[2021-01-20 02:56] x87 commented on #80967
With `.then_some` I can do the following:

[code]

how do I use the `?` operator inside a `.then` closure?

[code]
gives an error that a closure should return either a `Result` or `Option`.

[2021-01-20 06:33] jamadazi commented on #81181
Thanks for the suggestion. You are right that there are things I can do on my end to improve the experience.

I guess adding such "conveniences" to the language is more controversial than I imagined.

[2021-01-20 08:53] RalfJung commented on #81200
Cc @oli-obk

[2021-01-20 09:09] YangKeao commented on #81199
I have run `cargo bisect` between `2020-07-01` and `2020-12-29` and found that this regression was brought by https://github.com/rust-lang/rust/commit/e3051d8c24467b54c81da9d9ad70a3e82e106ec1

Here are more information:

[code]

[2021-01-20 09:46] rylev commented on #80165
I will submit PRs for each of these lints. 👍

[2021-01-20 10:04] #81117 closed

[2021-01-20 10:21] oli-obk commented on #81200
I think what we can do is to check `is_const_fn_raw` for the `const fn` path, and use `tcx.instance_mir(ty::InstanceDef::Item(def_id))` if it is not a const fn, as `instance_mir` already does the correct dispatching for anything that is not a const fn.

[2021-01-20 10:43] nagisa commented on #71009
#80838 is an example of an unstable change to JSON targets.

[2021-01-20 10:53] jplatte opened #81205 "Allow multiple aliases in one doc(alias) attribute"
It would be nice to be able to specify multiple aliases in one `#[doc(alias)]` attribute (as an array). This would be particularily useful for crates that export multiple derive macros with different sets of attributes. With `#[doc(alias)]`, these can make the derive macro findable by any of its attributes names, e.g. serde could do sth. like

[code]

but needing one attribute / line for every att

[2021-01-20 11:16] oli-obk commented on #81188
cc @rust-lang/wg-const-eval we could delay the allocation of local `_0` (return value) until its first use (and its only use, now that we have mir_for_ctfe). This would allow

[code]

to actually show the panic and not run out of memory or hang when called

[2021-01-20 11:17] jplatte commented on #80967
If you use `?` on your `Option<Vec<u32>>` anyways, might as well do it before assigning to a local:

[code]

[2021-01-20 11:25] RalfJung commented on #81188
First of all, even if we end up supporting the case where the function panics, the OOM will still occur once you actually implement the function. So I'd say the benefit of supporting this is rather marginal.

On the cost side, the interpreter is already complicated enough as things are; every extra bit of complexity will increase the risk of bugs. If we do anything here, I think the right layer to

[2021-01-20 11:29] slerpyyy commented on #80967
If you insist on eagerly evaluating the value inside the option, you can also make use of [`Option::filter`](https://doc.rust-lang.org/std/option/enum.Option.html#method.filter).

@iago-lito
[code]

@x87
[code]

[2021-01-20 11:33] ojeda commented on #71009
We are using target spec files in Rust for Linux. I don't think it is reasonable to expect all users to use only pre-defined targets. It also creates a cyclic dependency between `rustc` and other projects that should be avoided (see related discussions at https://github.com/rust-lang/rust/issues/74247 and https://github.com/rust-lang/rust/pull/77916).

Having said that, a certain degree of instabi

[2021-01-20 11:36] michaelwoerister commented on #79442
https://github.com/rust-lang/rust/pull/80262 added PGO support for the Rust part Linux x64 dist builds and perf.rlo shows the expected speedups for check builds and other test cases that don't invoke LLVM 🎉

I think this is confirmation enough that the results from my blog post can indeed be extrapolated to other systems too.

[2021-01-20 11:42] michaelwoerister commented on #79562
@luser What's the best way of getting support for `-fprofile-use` into sccache? Should I open an issue? Or try to implement it myself and make a PR?

[2021-01-20 12:16] apiraino commented on #81004
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381004.20Non.20returning.20compilation.20on.201.2E48.2C.201.2E49.2C.201.2E50-beta.20a.E2.80.A6) and removing `I-prioritize`.

[2021-01-20 12:35] apiraino commented on #80303
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380303.20VecDeque's.20Hash.3A.3Ahash.20implementation.20is.20incorrect) and removing `I-prioritize`.

[2021-01-20 12:37] oli-obk commented on #81188
*Specifically* this example allocates an all-zero static allocation, which is guaranteed immutable. This kind of static allocation has custom support in LLVM and won't take up any memory until runtime. So if we can track this kind of information through the compiler, we can support that, too. But all of this is a big rabbit hole.

Related issues:

* https://github.com/rust-lang/rust/issues/30083
*

[2021-01-20 12:39] daira commented on #52652
Another 4 months with no fix to a problem that causes widespread unsoundness. This is due to bad policy, and people making excuses for it.

[2021-01-20 12:44] oli-obk commented on #81163
I don't think we should be trying to solve this at the library level. We are getting rather close to making MIR inlining work everywhere, and in my personal opinion we should look into improving debug mode by adding more `mir-opt-level=1` optimizations that do not affect debug info negatively. There are still various operations that require intrinsics and function calls at the code level, but have

[2021-01-20 12:49] RalfJung commented on #81188
This is not an all-undef array though, it is an all-zero array. A lot more extra hackery is needed to add "lazy zeros" everywhere throughout CTFE. I assume writing all these zeros is what takes so much time.

[2021-01-20 12:49] lukaslueg opened #81206 "Clarify std::mem-docs wrt host/target"
Functions like `std::mem::align_of` (and also parts of `std::alloc::Layout`) which are const can be used to initialize other constants and, soon, types like `[u8; { std::mem::align_of::<String>() }]`. As far as I can see the docs currently do not explicitly make it clear that the compiler *guarantees* (including future versions) that the return values of those functions are valid for the _target_-

[2021-01-20 12:51] RalfJung commented on #81163
`forget` is already removed by https://github.com/rust-lang/rust/pull/79049. So the only thing that's left is [this optimization](https://github.com/rust-lang/rust/pull/80290#issuecomment-753490300) (and I keep repeating it but somehow it seems to get lost all the time^^).

[2021-01-20 12:51] RalfJung commented on #81163
Anyway, this issue is about `ptr::read`, not `ptr::write`. Let's stay on topic please.

[2021-01-20 12:54] oli-obk commented on #81188
The original issue

[code]

is an all undef array, because we create the array before running the initializer body. Otherwise I would agree with the assessment that interpreting 2^32 index + assignment ops (even if not in actual MIR ops, but just a loop in the interpreter) would be the issue here.

[2021-01-20 12:58] lzutao commented on #81188
Consider this Rust program (file named `hang.rs`):

[code]

Run `rustc hang.rs`. Then I have the following backtrace through gdb.

<details><summary>Backtrace</summary>

[code]
</details>

[2021-01-20 13:01] oli-obk commented on #81188
Thanks, but that's the program that will actually initialize the bits with all zeros, if you replace the initializer body `[0; u32::MAX as usize]` with `todo!()`, does it also "hang"?

[2021-01-20 13:04] lzutao commented on #81188
Rustc doesn't hang in that case. I just have this error from rustc:
[code]

Also run through `time -v` I got:
[code]

[2021-01-20 13:10] oli-obk commented on #81188
Oh, then I don't know what happened to the original example of @cdmistman Maybe your OS started using swap space and that slowed everything down?

I'm going to close this issue as not actionable then.

Thanks @lzutao for investigating

[2021-01-20 13:10] #81188 closed

[2021-01-20 13:21] djc commented on #75017
I wonder how this API relates to `ReadBuf`. It would be great if there was some safe API that wrapped around the use of `ReadBuf` to access a `Vec`'s spare capacity, then updated `len` based on the `ReadBuf`s `filled`.

[2021-01-20 13:26] RalfJung commented on #81188
The original issue was

So, it's about RAM usage, not hanging. `[usize; 2^32]` is indeed 32GB in size (on a 64bit system). So the fix here would be to make `Allocation` allocate its `bytes` lazily.

[2021-01-20 13:36] danielhenrymantilla commented on #80988
So, things like the following pattern would fail to compile?

[code]

  - See, for instance:

    https://github.com/jyn514/saltwater/blob/5cc8a4ba33cdd557b14b6b6c15940baf23b769aa/saltwater-parser/macros.rs#L41-L50

[2021-01-20 13:45] Mark-Simulacrum commented on #80988
I would expect that to fail on stable already, macros do not currently mask or provide any kind of hygiene to forbid checking (and never have as far as I know). The new behavior that may cause local breakage is that a forbid of warnings would previously not cause allows or denies of more specific lints to error, but now does.

[2021-01-20 13:48] apiraino commented on #81051
@asaadmohammed74 and @MSxDOS just a blind shot, IIUC the error `error: failed to build archive: permission denied` suggests there's an issue when `rustc` tries to write on those volumes (`F:` and `G:`).

Does the user executing `rustc` have proper permission to those volumes? Does the error happens intermittently or it is always reproducible?

[2021-01-20 14:05] ThouCheese commented on #78530
I think that @SNCPlay42 is on the money after all, I forked chrono and did some extra tests, so I will close this issue.

[2021-01-20 14:16] mjbshaw commented on #52652
@daira Rust is an open source project, and the developers are largely volunteers who work on it in their own, personal, limited free time. People *have* been working on this. If you haven't been an active participant in the discussions or efforts to implement this then I don't think you can make accusations like that.

[2021-01-20 14:27] chorman0773 commented on #43467
I would like to raise an issue about this.
`extern type` does not currently have a way to specify the type class of the extern type. This does not pose an issue in rust, but may affect the ability to use this with a C abi.

In [ISO 9899 N1124[(http://www.open-std.org/jtc1/sc22/wg14/www/docs/n1124.pdf), §6.2.5 Clause 26 defines the classes of pointer types which are required to be compatible. Notab

[2021-01-20 14:29] apiraino commented on #80953
Assigning `P-high`,  [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380953.20overflow.20evaluating.20the.20requirement.20.60.3CSelf.20as.20Filter.E2.80.A6) Zulip thread and removing `I-prioritize`.

[2021-01-20 14:40] wesleywiser commented on #81163
I started working on that optimization last night.

[2021-01-20 14:47] mjbshaw commented on #43467
@chorman0773 Are there any existing ABIs that differentiate between pointer types? Strictly speaking C doesn't have or define an ABI, only implementations of C's "abstract machine" have an ABI (i.e. OS and ISA). If there are ABIs that really do differentiate between pointer types then I suppose something like `extern { struct Foo; union Bar; }` would probably be sufficient.

[2021-01-20 15:08] Tamschi commented on #43467
@mjbshaw An option for void/character-like extern types would also be highly appreciated, at least on my part.

It's not strictly necessary to correctly interface with C due to `*mut c_void` being available, but it still makes for a fairly large ergonomics improvement when FFI-binding APIs that take/provide `*void` with effectively constrained lifetime. (e.g. an OOP API that holds user data pointe

[2021-01-20 15:11] Nemo157 opened #81208 "ICE with non-ascii byte string in #[path] attribute"
### Code

[code]

### Meta

[code]

Also tested on `rustc 1.49.0 (e1884a8e3 2020-12-29)` and `rustc 1.50.0-beta.6 (ea20aa255 2021-01-14)`, it errored without ICEing on 1.49 and ICEd on 1.50 so

@rustbot modify labels: +regression-from-stable-to-beta

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-01-20 15:19] chorman0773 commented on #43467
I am not aware of any, though I am only familiar with the System V x86_64 abi. I also raised a similar issue in https://github.com/rust-lang/unsafe-coding-guidelines/issues/266, and [one of the comments](https://github.com/rust-lang/unsafe-code-guidelines/issues/266#issuecomment-750464112) pointed out control-flow integrety schemes. I don't know that this is implemented, though as it mentions, cla

[2021-01-20 15:21] steveklabnik commented on #28979
@arcturusannamalai please see the final comment here, this work is still ongoing, and including that is the plan.

[2021-01-20 15:54] pickfire opened #81209 "dbg! put spaces around ::"
While trying out `Ipv4Addr` for https://github.com/rust-lang/rust/pull/81202

I tried this code:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d4e00191c64a2608f3306178bff743c8

[code]

I expected to see this happen:
[code]

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`: Same happens for nightly
[code]

[2021-01-20 15:58] jonas-schievink commented on #81209
This is just what `stringify!` does, I believe

[2021-01-20 16:10] danielhenrymantilla commented on #80988
Hmm, you're right, that behavior seems to have been around forever. I personally find it _very_ and deeply counterintuitive for a `#[forbid(lint)]` to cause further `#[deny(lint)]`s to fail; it also thus leads to a special handling to be done by macros:

  - when dealing with non-user-provided code (_i.e._, only macro-specific code), `#[forbid(…)]` must be used instead of `#[deny(…)]`, since the l

[2021-01-20 16:23] tmiasko commented on #81163
Lowering `copy_nonoverlapping` to an assignment removes the dead cleanup pad (MIR building currently doesn't understand that some intrinsics don't unwind). It still introduces an extra alloca for `src` during LLVM code generation because `src` has its address taken, unlike what happened with `move_val_init`.

[2021-01-20 16:25] guswynn commented on #81199
@YangKeao  was it this PR? https://github.com/rust-lang/rust/pull/77547/files

[2021-01-20 16:26] RustyYato opened #81211 "Method resolution error"
I tried this code:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5ce8c7b1f8fdb39762765a7bf1576cfb

[code]

I expected it to compile, but it doesn't because the `Debug` macro expands to something like `foo.field("field_name", &value)`, which incorrectly resolves to `Access::field` instead of `DebugTuple::field` (which is an inherent method).

<details><summary>error mess

[2021-01-20 16:26] guswynn commented on #81199
Yeah with the code "fixed" with the constraint it disappears, ideally rustc would tell the user that (like it does in the struct case i think I linked above), and not ICE

[2021-01-20 16:30] djc commented on #65262
This has been implemented in cargo, merged as of https://github.com/rust-lang/cargo/commit/8e075c9cab41eb1ed6222f819924999476477f2e, currently with the "rust-version" name.

We should probably discuss the unresolved questions:

* Name bike-shedding: rust vs rustc vs min-rust-version

I implemented `rust-version` since it seems a decent compromise of terseness and being obvious about what it does.

[2021-01-20 16:48] apiraino commented on #81208
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381208.20ICE.20with.20non-ascii.20byte.20string.20in.20.23.5Bpath.5D.20attribute) and removing `I-prioritize`.

[2021-01-20 17:07] Mark-Simulacrum commented on #80988
I think this problem was noted in lang discussion, but I would encourage you to open a different issue about it.

[2021-01-20 17:54] m-ou-se commented on #80676
Changing it to `-> impl '_ + fmt::Display + fmt::Debug` makes this line in `sys_common/backtrace.rs` fail:

https://github.com/rust-lang/rust/blob/a4cbb44ae2c80545db957763b502dc7f6ea22085/library/std/src/sys_common/backtrace.rs#L230

With this error:

[code]

The problem is very subtle. For `path::Display<'a>`, it is known `'a` will not be relevant when it gets dropped, so may be dangling at that

[2021-01-20 18:00] m-ou-se commented on #80676
Looks like `thiserror` names the `path::Display` type directly, which would fail with this change: https://github.com/dtolnay/thiserror/blob/c09ddc2241516b8c5859b8ef1f70305f762f2d0a/src/display.rs#L15

[2021-01-20 18:01] SNCPlay42 commented on #81211
This works on stable and beta, but not on nightly.

@rustbot label regression-from-stable-to-nightly

[2021-01-20 18:07] lygstate commented on #72016
@Amanieu can this to be implemented in asm?
https://github.com/rust-lang/compiler-builtins/blob/master/src/x86.rs

[2021-01-20 18:12] Amanieu commented on #72016
Yes but this uses naked functions, which will be stabilized separately.

[2021-01-20 18:40] SNCPlay42 commented on #81211
searched nightlies: from nightly-2020-12-25 to nightly-2021-01-20
regressed nightly: nightly-2021-01-18
searched commits: from https://github.com/rust-lang/rust/commit/8a6518427e11e6dd13d6f39663b82eb4f810ca05 to https://github.com/rust-lang/rust/commit/4253153db205251f72ea4493687a31e04a2a8ca0
regressed commit: https://github.com/rust-lang/rust/commit/edeb631ad0cd6fdf31e2e31ec90e105d1768be28

<deta

[2021-01-20 18:52] angelsl commented on #70263
I think I'm running into this issue too, but I'm not too sure:

[code]

This produces:

[code]

[2021-01-20 19:12] pnkfelix opened #81218 "beta regression: forbid(warnings) interacts poorly with common derives."
Spawned off of #80988, but specifically talking about `forbid` and `derive` interacting in a surprising manner.

### Code

I tried this code ([play](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=743432ebbce1203446fc7737cc003c62)):

[code]

I expected to see this happen: Successful diagnostic-free compile, just like what happens on stable 1.49 Rust

Instead, this happened:

[2021-01-20 19:13] SNCPlay42 commented on #81211
I think part of the problem is that `f.field(...)` sees the `<&mut DebugTuple as Access>::field` before it tries autoderef and finds `DebugTuple::field`. This issue with trait methods taking precedence over inherent methods from autoderef/autoref has cropped up before, e.g. in #39232 (where the compiler finds `<T as BorrowMut>::borrow_mut(self)` before trying autoref and finding `RefCell::borrow_m

[2021-01-20 19:20] pnkfelix commented on #80988
I interpreted @scottmcm 's [FCP proposal](https://github.com/rust-lang/rust/issues/80988#issuecomment-763096218) as saying that the [problem raised by @Mark-Simulacrum above](https://github.com/rust-lang/rust/issues/80988#issuecomment-761590580) is a more specific issue that should be dealt with on its own, and that is why i filed #81218.

(If I misinterpreted your proposal, @scottmcm, let me know

[2021-01-20 19:23] SNCPlay42 commented on #81211
Looking at the rollup that this regressed in, #80765 seems like it might be the cause.

cc @petrochenkov

[2021-01-20 19:25] joshtriplett commented on #39081
I agree that `XDG_RUNTIME_DIR` isn't the right directory, both because it doesn't match the general policy of respecting `TMPDIR`, and because the runtime directory is a guaranteed ramdisk that may not be suitable for all kinds of temporary files. It's most commonly used for things like sockets. It's also not guaranteed to be set, even on modern distributions; for instance, it often won't be set f

[2021-01-20 19:28] est31 commented on #39081
You make good points @joshtriplett , I retract what I said earlier.

[2021-01-20 19:29] estebank opened #81220 "When field isn't found, see if any of the available fields has it"
I just encountered this output:

[code]

We currently mention available fields when the field used isn't found. It would be nice if we peeked at the types for the available fields to see if any of them has any fields (including through deref) of the name we originally wanted. In this case, I would love to see the following output:

[code]

[2021-01-20 19:39] Michael-F-Bryan opened #81221 "Segfault while compiling bootstrap on a fresh git clone"
While trying to reproduce #78778 with a brand new `git clone` (a4cbb44ae2c80545db957763b502dc7f6ea22085) I ran into a segfault while trying to build the bootstrapper.

More precisely, it seems to be the first build script that is run while compiling bootstrap's dependencies. I don't think it's related to the build scripts themselves because I tried running multiple times and different build script

[2021-01-20 19:43] cuviper commented on #65262
Is dependency resolution still future work? And if so, is there a separate tracking issue for that?

[2021-01-20 19:45] estebank opened #81222 "When pattern doesn't match the type of if let expression, see if a field would be of the correct type and provide an apprpriate structured suggestion"
Just encountered the following output:

[code]

It would be nice if we could peek at the fields of `break_expr` and provide an appropriate structured suggestion:

[code]

[2021-01-20 19:53] djc commented on #65262
If you mean that the resolver would select dependencies based on their Rust version compatibility, that was explicitly scoped out of this RFC, so it would need follow-up work, presumably after we gain some experience with this more minimal take.

[2021-01-20 20:06] Lokathor commented on #65262
So this has essentially zero practical effect?

[2021-01-20 20:15] scrabsha opened #81224 "Out-of-bound array access not reported when checking the crate"
It seems that `rustc` is able to check for invalid array indexing at compile-time under some circumstances.

For instance, let's consider a crate, with the following code in it.

[code]

`cargo run` and `cargo build` both report the following error:

[code]

However, `cargo check` reports nothing.

Running `cargo clean` before each command does not change anything.

I have set up [a repository][sc

[2021-01-20 20:42] 8573 commented on #65262
Would the immediate practical effect be making crates that would fail to build because of MSRV [fail faster](https://en.wikipedia.org/wiki/Fail-fast) and fail with a clearer error message?

[2021-01-20 20:57] djc commented on #65262
Yes, that is the practical effect of the current implementation. Also, this makes the metadata available in a standard way, so there's lots of tooling that can be built on top of that.

[2021-01-20 21:06] jonas-schievink commented on #81224
I believe this is expected behavior, since these warnings are reported by the constant-propagation pass, which might not always run

[2021-01-20 21:20] egilburg commented on #81181
Semantically it feels to me that a `NonZero` wrapper is a constraint which is more important to be explicit about at write time (when the constraint is enforced) rather than at a read time. Consider that `i32` and `i64` can also be seen as data types with different constraints (one can hold a larger number than the other), and Rust makes this explicit at assignment time (requires explicit annotati

[2021-01-20 21:29] jyn514 commented on #81221
This is super weird because bootstrap hasn't actually run yet. This is just the latest beta trying and failing to compile syn, which should have been caught *weeks* ago because everyone uses syn. The only thing I can think of is a corrupted download in the compiler, maybe?

@Michael-F-Bryan if you run `cargo build` in src/bootstrap with any other version of the compiler, does it work?

[2021-01-20 21:33] jyn514 commented on #81221
@Michael-F-Bryan by the way you ran gdb on the wrong process: proc-macro2's build script segfaulted, but you ran gdb on syn's build script.

[2021-01-20 21:58] tmiasko commented on #81051
The commit range includes the update of LLVM submodule #80796, so it is probably caused by one of:
* https://github.com/rust-lang/llvm-project/commit/6ec777c2f6496b4fe1d78cc6d6871a3dc931a185
* https://github.com/rust-lang/llvm-project/commit/f684355e0292b8e24a0870ecfda126fb15c9eb93

[2021-01-20 22:02] MarnixKuijs opened #81228 "Unexpected compiler error when building std for custom Windows target"
When building the standard library for a custom Windows target I get unexpected compiler errors. The errors appear when compiling  the `compiler_builtins` crate. When looking into `compiler_builtins` there is [a cfg](https://github.com/rust-lang/compiler-builtins/blob/63ccaf11f08fb5d0b39cc33884c5a1a63f547ace/src/probestack.rs#L46) to prevent the file at fault from compiling on Windows platforms. A

[2021-01-20 22:05] lzybkr commented on #81051
Permission denied sometimes means another process has an open handle to the file. [Process Monitor](https://docs.microsoft.com/en-us/sysinternals/downloads/procmon) has been useful to me in tracking down similar issues, which turned out to be an antivirus product in my case.

[2021-01-20 22:28] KodrAus commented on #74465
On the naming and organization question, I've found myself coming back to:

[code]

Based on a few observations:

- In my own usage I haven't need the "unsync" versions of `OnceCell` or `Lazy` yet. Just the sync ones, so giving them the canonical name seems preferable to me.
- In wanting to split up the `std::sync` module I find myself wanting to deprecate `sync::Once` in favor of `lazy::Once<()>`

[2021-01-20 22:32] camelid commented on #78695
I feel like I remember Guillaume or someone else working on something to fix this recently, but I can't find the PR. Am I mistaken or do you know which PR it is?

[2021-01-20 22:34] camelid commented on #81190
I believe this is a duplicate of #78615.

[2021-01-20 22:39] jyn514 commented on #81221
@Michael-F-Bryan found that this worked after uninstalling and reinstalling their toolchain. I think the issue might be that the download was corrupted. @Mark-Simulacrum doesn't x.py use a checksum for checking the download?

[2021-01-20 22:39] petrochenkov commented on #81211
Minimized:
[code]

`derive(Debug)` should certainly use UFCS instead of method calls, regardless of https://github.com/rust-lang/rust/pull/80765.

If https://github.com/rust-lang/rust/pull/80765 causes other issues we'll find out sooner or later, in theory it shouldn't change any behavior unless macros 2.0 (which are unstable) or built-in macros (which we can fix) are involved.

[2021-01-20 22:40] petrochenkov commented on #81211
(I'll leave the fix itself to someone else, unassigning myself.)

[2021-01-20 22:44] Michael-F-Bryan commented on #81221
This may not even be a `A-rustbuild` issue. We tried compiling `src/bootstrap/` with the `cargo` on my machine (completely skipping `x.py` and stage0/beta) and it still segfaulted.

Interestingly, I could build another Rust project (who's dependencies had build scripts) and everything worked as expected. I also had a copy of `nightly-2020-07-27-x86_64-unknown-linux-gnu` on my machine and *that* co

[2021-01-20 22:57] Michael-F-Bryan commented on #81221
After reinstalling the `nightly` toolchain (same version and commit hashes) I am no longer able to reproduce this issue.

`cargo bisect-rustc` is also unable to figure out when the issue was introduced because both the start and end versions compile bootstrap fine. I'm guessing something went wrong when I did a `rustup update`?

[2021-01-20 23:36] camelid commented on #80676
Would it be worth a crater check run, or no? Since this is pretty low-priority, maybe we could consider a crater run on just some popular crates?

[2021-01-21 00:12] nagisa commented on #81206
`host` vs `target` vs `build` is a concern build system needs to deal when selecting toolchains, libraries and flags to use. Such a distinction doesn't exist within the toolchain itself, however… if you ignore accidental breakage once in a while due to failures to normalize for byte order when handling the libraries, that is.

With that in mind I feel like documenting this on potentially every con

[2021-01-21 00:23] jyn514 commented on #81190
Good catch, it is indeed a duplicate.

[2021-01-21 00:23] #81190 closed

[2021-01-21 01:01] joshuawarner32 opened #81232 "Confusing error & warning message when importing a function and using it as if it were a module"
When importing a function and using it (accidentally!) as if it were a module, rustc says the name doesn't exist. This lead me to quite a bit of head-scratching. I would humbly suggest either clarifying the error message in such a case, or adding a 'note:' with such a clarification.

I tried this code (playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e960202

[2021-01-21 01:15] lzutao commented on #81208
searched nightlies: from nightly-2020-12-01 to nightly-2021-01-21
regressed nightly: nightly-2020-12-11
searched commits: from f0f68778f798d6d34649745b41770829b17ba5b8...d32c320d7eee56706486fef6be778495303afe9e
regressed commit: 58d2bad9f7ab0971495247b6c94978848760ca9d

It's #78837 cc @petrochenkov

<details>
<summary>bisected with <a href='https://github.com/rust-lang/cargo-bisect-rustc'>cargo-bi

[2021-01-21 01:48] camelid commented on #81208
@rustbot glacier "https://gist.github.com/rust-play/47376b89a715489824408a48804d68f4"

[2021-01-21 02:38] wesleywiser commented on #80683
@pietroalbini Since #80797 has merged, can this now be closed?

[2021-01-21 02:47] repnop commented on #75072
@Skallwar oh, somehow I missed the notification from this issue. yeah, currently I'm (ab)using that in a `#[naked]` fn (I have no idea if it works for non-naked fns).

Opened a PR so we'll see where this goes :)

[2021-01-21 04:22] jyn514 commented on #55795
I opened https://github.com/rust-lang/rust/issues/74704 for this.

[2021-01-21 04:23] jyn514 commented on #55795
https://github.com/rust-lang/rust/pull/62655 was closed, are there still plans to implement this?

[2021-01-21 05:41] tesuji opened #81237 "Bound check for multiplication in for loops"
Bound checking happens when I using `x + y * HEIGHT` formula to
calculate the coordinate in an array. The generated code is
saved on Godbolt: <https://rust.godbolt.org/z/76qEhK>.

I tried this code:

[code]

I expected to see this happen: No bound checks in generated code.

Instead, this happened: There are bound checks.
Note that bound checks doesn't happen if I don't use for loop and just use a

[2021-01-21 05:56] lzutao commented on #81237
The code in C with both gcc and clang optimized well but not in Rust ?
https://rust.godbolt.org/z/9KEE9h
The code in C:
[code]

Gcc and clang just straights to generate `return true` for `draw` function.

[2021-01-21 05:59] lzutao commented on #81237
Comparing llvm-ir outputs between clang and rust: <https://rust.godbolt.org/z/8z5PEj>.
Somehow clang (front-end) just generates `ret i1 true, !dbg !37`.

[2021-01-21 06:45] YangKeao commented on #81199
Yes. It calls `normalize_erasing_regions` before the `type-check`. A quick fix could be delaying the union unstable api check until the end of `type-check`, but I don't know where is the most suitable place for the check :crying_cat_face:

[2021-01-21 06:58] LeSeulArtichaut commented on #80777
I'll try to investigate and see if I can find something interesting :)

[2021-01-21 08:16] iago-lito commented on #80967
@slerpyyy Well, this does work, but it becomes really hard to read IMO. I would argue that this being the only workaround to "eager evaluation" would be a good reason to actually *include* `then_some` ;)

Note that I'm still unsure whether "eager evaluation" is useful anyway, has anyone ever needed this?

To summarize my understanding of the advantage of `then_some` against `then` so far:
- permit

[2021-01-21 08:28] leonardo-m commented on #81237
For a more fair comparison you can add the array update in the C code too, to make the two Rust/C versions as close as possible.

[2021-01-21 08:30] Michael-F-Bryan commented on #81221
The problem turned out to be between seat and keyboard, here. The terminal I was trying to build bootstrap on had `RUSTFLAGS=-C link-arg=-nostartfiles` set, whereas when I reinstalled `nightly` I was using another terminal without a modified `RUSTFLAGS`.

This isn't an issue with Rust.

[2021-01-21 08:30] #81221 closed

[2021-01-21 08:43] leonardo-m commented on #81237
Something like this (untested):

[code]

[code]

[2021-01-21 08:46] lukaslueg commented on #81206
@nagisa I agree. My concern came up specifically with `std::mem::align_of`, where one might wonder if `const foo: usize = std::mem::align_of::<String>()` is String's alignment on the target-platform or it's alignment on the host-platform, which is definitely different.

[2021-01-21 08:57] RalfJung commented on #81163
FWIW, the `MaybeUninit` and `ManuallyDrop` functions called by `ptr::read` are all already `inline(always)`.

[2021-01-21 09:04] Michael-F-Bryan commented on #78778
@jyn514 I believe this may have been resolved some time between the issue being created and now. When i tried to reproduce it locally (a4cbb44ae2c80545db957763b502dc7f6ea22085) the error index tests were able to start and run just fine.

The tests failed with *"error[E0658]: const generics are unstable"* because some snippets use `#![feature(const_generics)]` instead of the recently stabilised `mi

[2021-01-21 09:21] oli-obk commented on #55795
Not right now... there are other more important construction sites in const eval.

[2021-01-21 09:23] Michael-F-Bryan commented on #80571
@thomcc do you have any idea how this might be implemented?

If this is just intended as an optimisation, one idea is to look in the build directory for a well-known file and see when it was last modified, then we could traverse the directory of whatever you are building, looking for files which have been modified since. While you can't get the "true" module name without actually parsing files, th

[2021-01-21 09:34] linclelinkpart5 commented on #76560
@clarfonthey This is a feature I'm in mighty need of in my personal project, I'd love to be able to use associated consts more heavily and do something like this:
[code]

Right now however, using `#[min_const_generics]` on nightly, I have to resort to something like this:

[code]

[2021-01-21 09:50] RalfJung commented on #78778
I just tried this and it still fails:
[code]
I haven't checked, but I assume the "incorrect version format" is precisely because there's still some error such as "cannot open shared object file" being reported. (That's what used to happen.)

Note that I have `download-ci-llvm = true`; maybe that's important to reproduce the problem.

[2021-01-21 09:53] egeyar opened #81239 "'failed to spawn thread' from OS is not handled early on and causes ICEs later."
Not easily reproducible.
Seems related to the issue [#77894](https://github.com/rust-lang/rust/issues/77894).

A colleague saw ICEs after spawning a thread failed. Maybe the compiler can exit gracefully at that point, rather than continuing and throwing ICEs later on.

The error logs state the version as:
`note: rustc 1.45.2 running on x86_64-unknown-linux-gnu`

The following is the logs we got:
[

[2021-01-21 10:13] Michael-F-Bryan commented on #78778
It looks like `download-ci-llvm` has something to do with this because when I switched to `download-ci-llvm = true` I also got the same "incorrect version format" error.

I printed the output of `rustc -vV` ([here](https://github.com/Kimundi/rustc-version-rs/blob/0294f2ba2018bf7be672abd53db351ce5055fa02/src/lib.rs#L112)) and apparently `rustc` doesn't generate any output. I'm not sure if that is r

[2021-01-21 10:39] lzutao commented on #81237
The problem for bound checks in Rust is that the compiler couldn't prove that `x + y*WIDTH < DISPLAY_SIZE`,
while clang/gcc can do that. This godbolt link demonstrates the issue fairer: https://rust.godbolt.org/z/soE8d3

[2021-01-21 10:44] RalfJung commented on #78778
That's stdout; what does stderr say?

[2021-01-21 11:11] pietroalbini commented on #80683
I kept it open waiting for a backport, but it landed in https://github.com/rust-lang/rust/pull/81151! Closing.

[2021-01-21 11:11] #80683 closed

[2021-01-21 11:11] pietroalbini commented on #80494
Backported to beta in #81151! Closing.

[2021-01-21 11:11] #80494 closed

[2021-01-21 11:36] MarnixKuijs commented on #81228
Upon further investigation it isn't a bug in the building process. The problem lies in the target spec json. I based my target spec on the one you get from running `rustc +nightly -Z unstable-options --print target-spec-json`, which in my case give the spec from `x86_64-pc-windows-msvc`, which I than started modifying. In this spec there is the following entry: `target-family = "windows"`. This ho

[2021-01-21 12:06] oli-obk commented on #81237
cc @felix91gr I guess this is a good test case for value range analysis on MIR?

[2021-01-21 12:09] oli-obk commented on #81224
yea, in order to make `cargo check` as fast as possible, we skip the entire MIR optimization pipeline, which also includes const prop. This is obviously not ideal, but so far we haven't been able to come up with anything that won't either duplicate the const prop pass or make `cargo check` much more expensive to run in some cases.

[2021-01-21 12:36] apiraino commented on #81218
Assigning `P-high` as sibling issue #80988

[2021-01-21 12:37] apiraino commented on #81211
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381211.20Method.20resolution.20error) and removing `I-prioritize`.

[2021-01-21 14:03] Michael-F-Bryan commented on #78778
Ah yep, it's the "unable to load shared libraries" error message:

[code]

[2021-01-21 14:09] Michael-F-Bryan commented on #78778
Inspecting the failing `miri` binary shows it isn't able to find `rustc-driver` or `std`:

[code]

Should bootstrap be fiddling with `LD_LIBRARY_PATH` or setting `rpath` for these sorts of things? I was able to make things work by setting `LD_LIBRARY_PATH` to the stage1 directory.

[code]

[2021-01-21 15:29] RalfJung commented on #78778
The error is about `libLLVM-11-rust-1.51.0-nightly.so` though, not `rustc_driver` or `std`.

I think `x.py` already sets `LD_LIBRARY_PATH`.

[2021-01-21 15:30] RalfJung commented on #78778
The error you got first is a different one though. Possibly it's not loading the codegen backend. Can you try `miri -vV` instead of `miri --version`?

[2021-01-21 15:43] felix91gr commented on #81237
@oli-obk definitely!

... hmm, I'll open an issue on this. We'd better start listing the use, test and edge cases we notice :)

[2021-01-21 15:50] #63799 closed

[2021-01-21 15:50] #80742 closed

[2021-01-21 15:50] #81037 closed

[2021-01-21 15:58] felix91gr commented on #80038
Another space where VRA can help: https://github.com/rust-lang/rust/issues/81237

[2021-01-21 16:09] RalfJung commented on #78778
Even on your machine [it complained about LLVM, not rustc_driver](https://github.com/rust-lang/rust/issues/78778#issuecomment-764663650). So far it doesn't look like there is a difference between our machines.

FWIW, this also works here:
[code]
Probably `x.py` sets some other LD_LIBRARY_PATH...

[2021-01-21 16:37] pnkfelix commented on #80949
discussed at T-compiler meeting. We want to resolve this issue, and plan to revert PR #78373 as a short-term resolution. Longer term will be to re-land PR #78373 with hopefully some further modifications so that we don't cause regressions like this in the process.

[2021-01-21 16:49] apiraino commented on #81024
Nominated for discussion for next week's compiler meeting ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/split.20dwarf.20and.20dependencies/near/222784950))

[2021-01-21 17:07] mibmo commented on #68125
Regardless of the name, this would be extremely useful.

I myself am partial to `fold_first` and `fold_with_first`, since they'd be right next to `fold` in the docs, like @leebenson mentioned.
`fold1` would still be next to `fold`, but I'd be confused if I hadn't seen it before and encountered it in code.

[2021-01-21 17:30] jyn514 commented on #78778
It sounds like the only change that needs to happen is setting LD_LIBRARY_PATH correctly?

[2021-01-21 17:45] jyn514 commented on #80571
There are a few issues here:
- Even if we implemented the feature, it wouldn't help much because doctests don't show which test failed until all of them fail. It would be nice to do something like ninja where it shows the errors as it goes:
[code]
  I think this would need changes in rustdoc, but not cargo.
- I would indeed prefer to upstream this into Cargo. I'm ok with adding this to rustbuild t

[2021-01-21 18:16] RalfJung commented on #78778
Possibly? I don't know anything about our LD_LIBRARY_PATH handling.^^

[2021-01-21 18:19] wesleywiser commented on #80951
Discussed in the release triage meeting. The above theory sounds plausible but we want to make sure there's not an actual issue here.

One possibility @Mark-Simulacrum mentioned is that our rules around `no_mangle` symbols being exported has changed somehow in this release. @petrochenkov do you happen to know if something like that has changed in this release?

[2021-01-21 18:19] Mark-Simulacrum commented on #80950
Closing as expected and acceptable breakage.

[2021-01-21 18:19] #80950 closed

[2021-01-21 18:31] DrMeepster opened #81246 "ICE when returning a Box with a reference as its Allocator"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-01-21 18:36] petrochenkov commented on #80951
No, I didn't follow the `no_mangle` changes.

[2021-01-21 18:38] DrMeepster commented on #81246
@rustbot label: +requires-nightly +A-allocators

[2021-01-21 18:39] Mark-Simulacrum commented on #79537
@cjgillot - would you be up for fixing this bug or temporarily reverting PR https://github.com/rust-lang/rust/pull/79362 presuming it is the cause?

[2021-01-21 18:42] rodrimati1992 opened #81247 "`transmute::<(), Never>` triggers invalid_value lint, but `transmute::<Option<Never>, Never>` doesn't"
I tried this code:

[code]

I expected to see this happen: both functions warn with the "the type `!` does not permit zero-initialization" error message

Instead, this happened: Only the `warns` function produced the warning.

The same happens with the `Never` type replaced with `!` .

### Meta

`rustc --version --verbose`:
[code]

[2021-01-21 18:43] #78210 closed

[2021-01-21 18:43] Mark-Simulacrum commented on #78210
I don't believe we're intending to fix this.

[2021-01-21 18:52] jamadazi commented on #81181
I went to look at the docs to find examples, and found that there are already some such implementations:

 - `Path`, `PathBuf`, `OsString`, `OsStr` can all be compared with each other (which makes sense since the underlying string is the same)
 - ditto for slices, arrays, `Vec`s, `VecDeque`s
 - `OsString` can be compared with `&str`, which seems more controversial, as `str` is guaranteed utf-8, bu

[2021-01-21 19:18] LeSeulArtichaut commented on #80777
MCVE:

[code]

[2021-01-21 19:19] bugadani commented on #81124
In this concrete case the memory mostly goes to the dataflow framework. The dataflow framework allocates a vector of bitsets for the *entire* universe. This bitset vector is `number of move paths` wide and `number of basic blocks` long. This particular initializer has 33.826 basic blocks and 124559 move paths, which means a single dataflow pass (`MaybeUninitializedPlaces`, `MaybeInitializedPlaces`

[2021-01-21 20:11] joho-stop commented on #80772
It looks like the ICE was introduced with #66642 / bbb664a99c0188fa756cbbb3a6c4e5d8825c372b.

The `unwrap` that triggers the ICE is at the end of `RegionInferenceContext::best_blame_constraint`.

Issue #74599, mentioned above by @kpreid, is triggered by a `None` on the same `unwrap` but the error was already happening earlier in history. I observed it with the immediate parent commit f453d11.

[2021-01-21 20:56] SkiFire13 opened #81248 "Flatten and FlatMap have incorrect bounds for their FusedIterator impls"
I would expect the following code to either not compile (because `iter` shouldn't implement `FusedIterator`) or to not panic (because it does, so its contract should guarantee that calling next after the first `None` will always return `None`), however it compiles and panics:

[code]

[Playground example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5d9a8cf1438d3ac4a1260

[2021-01-21 21:13] cuviper commented on #81248
I think this is the best choice. They're already semi-fused in an unspecified manner, so I'm not concerned about the behavior change of going all the way.

That's *not* to say the front/back should be `Fuse<U>` though, because that has some potential performance impacts for the specialized `U: FusedIterator` -- we'd end up calling those no-ops repeatedly before moving to the other parts. That's al

[2021-01-21 21:40] jyn514 commented on #79103
This also [impacts `windows-rs`](https://github.com/microsoft/windows-rs/issues/420#issuecomment-764953190).

[2021-01-21 22:35] cuviper commented on #81181
Having more `PartialEq` will break type inference in some cases, for example:

[code]

[code]

[2021-01-21 22:43] jyn514 opened #81251 "A third of the time rustdoc takes to document windows-rs is `<unknown>`"
I tried this code: https://github.com/microsoft/windows-docs-rs/commit/3371c03c6ad79e7fe22f7b0c44db43a4175a72ec

I expected to see this happen: `cargo rustdoc -- -Z self-profile` shows where the 50 minutes are being spent.

Instead, this happened: Rustdoc completely loses 20 of the 50 minutes and gives up.

Here's the top 6 items from `summarize summarize`:

[code]

Note that `<unknown>` is at the

[2021-01-21 23:27] camelid commented on #79783
I believe this still needs a test?

[2021-01-21 23:31] leonardo-m opened #81253 "Array bound tests with for loop that get removed with while loops"
I think there's something wrong with Rust loops, they could lose some range information. So even if a for loop should be slightly simpler to analize compared to a while loop, the foo2 has no array bound tests, unlike foo1 (if N becomes 10 both get compiled to about the same asm without array bound tests):

[code]

rustc (V.1.51.0-nightly a4cbb44ae 2021-01-20) gives:

[code]

[2021-01-21 23:35] jyn514 commented on #81239
This indeed looks like a duplicate of https://github.com/rust-lang/rust/issues/77894.

[2021-01-21 23:35] #81239 closed

[2021-01-21 23:43] jyn514 commented on #81251
I am still baffled what this could be. `item_types_checking` is clearly being measured, and the only places I see `<unknown>` are
- https://github.com/rust-lang/rust/blob/65767e56537e20903b54ecde7c371cbfb1b201b0/compiler/rustc_codegen_cranelift/example/std_example.rs#L24 (clearly not it)
- https://github.com/rust-lang/rust/blob/65767e56537e20903b54ecde7c371cbfb1b201b0/compiler/rustc_codegen_llvm/s

[2021-01-21 23:50] jyn514 commented on #81251
I can also reproduce on https://github.com/rust-lang/cargo/commit/4de00d2c7fdd961e72eb189a31f8ae677833ed99, which works on linux and is overall easier to build.

[2021-01-21 23:52] jyn514 commented on #81251
This is definitely not from https://github.com/rust-lang/rust/blob/65767e56537e20903b54ecde7c371cbfb1b201b0/compiler/rustc_interface/src/passes.rs#L1021 because `RUSTC_LOG=rustc_interface` doesn't show "Post-codegen" anyway.

[2021-01-21 23:54] jyn514 commented on #81251
The only places this is emitted in measureme are for https://github.com/rust-lang/measureme/blob/16688a5da98f403b2b7f1942564adf3361c99cff/analyzeme/src/stringtable.rs#L48 and https://github.com/rust-lang/measureme/blob/16688a5da98f403b2b7f1942564adf3361c99cff/analyzeme/src/stringtable.rs#L95.

@michaelwoerister do you have any idea what could be going wrong here?

[2021-01-22 00:01] #81145 closed

[2021-01-22 00:06] KodrAus commented on #66741
@haraldh! No problem :heart: Thanks for helping take it all this far.

So is our current decision point:

- Block stabilization on fixing the [possible UB from unwinding in our allocation error handler](https://github.com/rust-lang/rust/pull/76448#discussion_r502293959) so that when it is possible to unwind on stable in `no-std` we're all good by:
    - Requiring that `#[alloc_error_handler]` not

[2021-01-22 00:38] estebank commented on #81208
I spent some time looking at this.

1. This will not ICE in stable because the assert should be compiled away. What will happen is an incorrect span in the output duplicating a prior error.
[code]
2. I think this is caused by the double duty that `Span`s and `BytePos` have. We sometimes treat `BytePos` as indices into a byte buffer, but there's an additional piece of info in `Span`s that isn't car

[2021-01-22 00:39] Lokathor commented on #66741
Right now, we don't have a solution, but what we'd be stabilizing wouldn't *need* a solution. Any solution we come up with would affect other cases which aren't being stabilized by this.

So probably the second option.

[2021-01-22 00:41] estebank commented on #81232
[Minimized repro case](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9c591e51af28cfe0cd8d6c6beedcc748):

[code]

[2021-01-22 00:48] est31 commented on #64796
@nikomatsakis I'd imagine it being part of `RUSTFLAGS` or `~/.cargo/config`

[2021-01-22 01:12] Michael-F-Bryan commented on #80571
If you know that file was updated in the last build you can use its "Last Modified" property to figure out which `*.rs` files were modified since the tests were run last.

I was doing a bit of experimenting locally and it seems like failing doctests will be reported when they occur, although you don't see the output (i.e. the panic message or compile errors) until all of them have finished.

https

[2021-01-22 01:31] Mark-Simulacrum commented on #80571
I will caution that this feels like a pretty big project, and one that will make x.py even harder to test due to blowing up the possible orderings in which things run. I think I would prefer that we not land this.

[2021-01-22 01:46] jyn514 commented on #81251
@wesleywiser do you remember where you've seen this before?

[2021-01-22 02:01] SoniEx2 commented on #78174
This throws ICEs on stable. Pretty sure you're not supposed to get ICEs on stable, even if they relate to nightly features?

[2021-01-22 02:19] 742362144 opened #81256 "interrupted by signal 4: SIGILL"
i try to use generator_trait and build rust project as dylib,like this:
lib.rs
[code]

main.rs

[code]

when i try to load dylib use libloading crate, error occur：

thread panicked while processing panic. aborting.

Process finished with exit code 132 (interrupted by signal 4: SIGILL)

-----------------gdb-------------------------------
(gdb) run
Starting program: /home/coder/IdeaProjects/add/targ

[2021-01-22 02:42] #80682 closed

[2021-01-22 02:45] KodrAus commented on #66741
@Lokathor do you think there’s a single clear point where we’ll know that it’s becoming possible on stable to unwind while also being able to specify your own alloc error handler? If not I guess we run the risk of accidentally stabilizing with no decision having been made.

[2021-01-22 02:58] Michael-F-Bryan commented on #78778
Looking back through the Zulip chat linked earlier, I don't think setting `LD_LIBRARY_PATH` would be the right approach. Based on these comments from @Mark-Simulacrum...

... we should set `tool_cmd.current_dir(sysroot)` whenever running a tool, probably somewhere around [here](https://github.com/rust-lang/rust/blob/a9a396d8ed0244ba8bb3fe1793ae2a6fdabd7754/src/bootstrap/tool.rs#L710).

Is that the

[2021-01-22 03:19] pnkfelix commented on #80949
While setting up my system for the revert, I narrowed the MCVE down a bit further. I don't think I illuminated much more in the process, though I do find it curious that I wasn't able to easily find a way to take the `Box<dyn Trait>` out of the equation for reproducing the bug:

[playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=3502a305989c8aaa4f8e6f051c7d6957)

[c

[2021-01-22 03:42] camelid commented on #81208
Why would the assert be compiled away in stable but not beta and nightly? I'm pretty sure the issue here is that the PR that causes this ICE was merged for 1.50 (which is the current beta version), not 1.49 (which is the current stable).

[2021-01-22 03:44] camelid commented on #78174
I think that's expected since the compiler usually continues compiling even if you use a nightly feature on stable (it emits an error, but keeps going since there's not anything wrong with your *code* per se).

[2021-01-22 04:34] KodrAus commented on #79676
The `Backtrace::frames` method currently returns a `&'a [BacktraceFrame]`, which gives us slicing, indexing, and iteration for free. We might want to consider a `BacktraceFrames<'a>` wrapper though that gives us more wiggle room for lazy resolution. It'll just mean adding more types and boilerplate since we'll need to implement traits for all the iteration and slicing ourselves.

[2021-01-22 04:49] Lokathor commented on #66741
If you want to have unwinding you need to use the `eh_personality` language item, so as long as that's not stable then you can't unwind on stable. I'm not sure where to note that down though, i don't know of a tracker issue for that or anything.

[2021-01-22 05:30] #81007 closed

[2021-01-22 05:48] estebank commented on #81208
Am I wrong to understand that `debug-assertions` in `config.toml` controls whether `assert`ions get evaluated, which in turn is only enabled if `debug = true`?

Regardless, a small patch to remove that assertion would get around the ICE without major negative impact (the `Span` label is shifted one char to the left and nothing else), if we don't cut a more comprehensive PR before the next release.

[2021-01-22 05:50] camelid commented on #81208
I'm not sure if that gets rid of `assert!` calls (it may only get rid of `debug_assert!` calls). However, what I'm referring to is that you said it wouldn't ICE in stable, whereas my understanding is that if it ICEs in beta, it will ICE in the next stable.

[2021-01-22 05:52] osa1 commented on #81181
Would it be possible to run crater with this change to get an idea on how much breakage this would cause?

[2021-01-22 07:00] osa1 commented on #81247
The lint works like this: for a transmute with an "all zeros" argument (in our case `()` and `None`), checks if the zero value is valid for the target type (in our case `Never`).

The problem is "all zeros" check is overly simplistic and doesn't consider `None` as all zeros, even though it is.

The check is here: https://github.com/rust-lang/rust/blob/dc1eee2f256efbd1d3b50b6b090232f81cac6d72/compi

[2021-01-22 07:13] osa1 commented on #81247
Perhaps another improvement on this lint (or perhaps a new lint) would be to complain when the target type (in our case `Never`) doesn't have any values. Any transmute to this type will be invalid, not transmutes of zeros.

[2021-01-22 07:56] bkolobara commented on #81092
The `clobber("all")` option would be perfect for our use case. Currently, a big part of our `asm!` macro is just a list of all registers with different combinations for different architectures. It's hard to maintain, especially as you mentioned the forwards compatibility could be an issue later.

[2021-01-22 08:14] RalfJung commented on #66741
At the very least, the code that marks the allocator functions as `nounwind` should have its comments extended tos ay that this is correct even for the default `alloc_error_handler`, because [all the things we discussed above].

[2021-01-22 08:14] est31 commented on #79436
Filed a PR: #81259

[2021-01-22 08:37] RalfJung commented on #50230
Cc https://github.com/rust-lang/rust/pull/81198

[2021-01-22 08:54] glandium opened #81261 "NEG_INFINITY * 0.0 is not a negative NaN but NEG_INFINITY.mul(0.0) is"
The following code:

[code]

has the following output:
[code]

In other words, the first `assert_eq!` passes, but the second doesn't, while they should be the same thing.

Another variant that works: https://internals.rust-lang.org/t/should-neg-infinity-0-0-return-a-negative-nan/13883/2

[2021-01-22 08:55] glandium commented on #81261
The first `assert_eq!` also fails in release mode.

[2021-01-22 09:01] weiznich opened #81262 "Non linear runtime increasment for `expand_crate` pass while compiling diesel with `128-column-tables`"
This is a followup issue to https://github.com/rust-lang/rustc-perf/pull/807, where I've suggested to add `diesel` with the `128-column-tables` enabled to the rustc-perf test-suite as this is taking quite a lot of time to compile. As part of that request we discovered that the `expand_crate` pass scales non-linear with the number of codes expanded through a macro. (For diesel that would likely be

[2021-01-22 09:04] weiznich opened #81263 "Nonlinearity in `check_mod_privacy` pass for a large number of impls"
This is a followup issue to rust-lang/rustc-perf#807, where I've suggested to add diesel with the `128-column-tables` enabled to the rustc-perf test-suite as this is taking quite a lot of time to compile. As part of that request we discovered that the `check_mod_privacy` pass scales non-linear with the number of code lines. See the linked PR for the exact numbers. I suspect that this is somehow re

[2021-01-22 09:20] RalfJung commented on #79047
The same issue also arises with `SizeOf` and its requirement that the type be sized.
Cc https://github.com/rust-lang/rust/pull/81185#issuecomment-765217308

[2021-01-22 09:53] sivadeilra commented on #79118
Btw, this PR: https://github.com/rust-lang/rust/pull/81250 will remove the need for many of these.

[2021-01-22 09:58] m-ou-se commented on #79118
If we can do the conversion (to nul-terminated utf16 for the module name, and nul-terminated ascii/utf8 for the function name) at compile time, this wouldn't need to allocate at all. For the function name, this can be as simple as just a `concat!(stringify!($symbol), "\0")`. The other one is a bit more effort.

[2021-01-22 10:29] RalfJung opened #81265 ""arithmetic_overflow" and "unconditional_panic" lints do not fire on `const fn` in bin crate that is only const-used"
I tried the following code:
[code]
On stable, the emits a lint warning about the arithmetic overflow. On nightly, it does not.

This probably is related to https://github.com/rust-lang/rust/pull/78407. However, the part I do not understand is that I can only reproduce the problem with a binary crate, not with a library crate. Cc @oli-obk

[2021-01-22 10:33] RalfJung commented on #74696
Also see https://github.com/rust-lang/rust/issues/81265 for the kinds of problems that are caused by using an optimization pass to emit lints. I am more and more convinced that that's just bad design. It leads to coupling effects that are very hard to control.

[2021-01-22 10:50] oli-obk commented on #81265
That is odd indeed. I think it is a bug. Apparently the library crate will build the `optimized_mir` for `overflow` even though `overflow` is not public.

Is it a problem that we do not emit these lints on `const fn` that are only used in constants?

[2021-01-22 10:55] RalfJung commented on #81265
Yeah I think so. We should properly emit lints for all `fn`, no matter if they are `const` or not and no matter if they are used or not and no matter if this is a bin crate or a lib crate.

Emiting lints as part of an optimizations makes this hard. To me that just shows it's a mistake to emit lints as part of an optimization.^^

[2021-01-22 10:58] oli-obk commented on #81265
Note that there are a bunch of lints that we do not emit in dead code. I feel like this is a similar situation. Either the lint is triggered on dead code in the const fn, or the interpretation of the const fn as part of the interpretation of a const item will report the same error anyway.

[2021-01-22 11:03] RalfJung commented on #81265
If this is a dead code argument, then I assume we certainly *should* still emit the lint in a lib crate if the fn is `pub`?

No error will be reported in release mode, since overflow checks are disabled. So the fact that there is an overflow is entirely lost when no lint is emitted.

[2021-01-22 11:17] oli-obk commented on #81265
Yes, and we would, because libraries generate `optimized_mir` for all their pub functions

ugh, right.

So... if we want these lints unconditionally, we can run const prop just in analysis mode in the place where we also run borrowck and similar guaranteed MIR passes. in the optimization pipeline we'd then run const prop in mutating mode and possibly even not report *any* diagnostics from there.

[2021-01-22 11:24] KodrAus commented on #63514
This was stabilized in #80968

[2021-01-22 11:24] #63514 closed

[2021-01-22 11:53] nagisa commented on #81256
Your code has a number of undefined behaviour. ABI mismatch between caller and callee and panicking across FFI boundary are the two most obvious issues.

rust-lang/rust issue tracker is intended for tracking issues that concern specifically the rust compiler and the language, as thus I'm going to close this issue. You are welcome to ask this to be reopened and/or file a new issue when you encounte

[2021-01-22 11:53] #81256 closed

[2021-01-22 12:25] slerpyyy commented on #81181
I added an implementation (#81266) in case you to try things out.

Looking at the CI, it seems things are already falling appart:
[code]

[2021-01-22 12:35] bjorn3 commented on #81261
MIR excerpt:

[code]

Miri also fails on the first assertion. This combined with the fact that with LLVM it fails in release mode too makes me suspect that this is a bug in apfloat, which LLVM uses for compile time float operations. Rustc uses the rust port rustc_apfloat for const eval and by extension miri.

[2021-01-22 12:35] p0lunin opened #81267 "Wrong lifetime inference in closures"
I tried this code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b12eb2156476d65e668f66630a107a51

I expected to see this happen: both `check` calls will compile.

Instead, this happened: compiled only one call, another broken with error.

This is a bug with lambdas (not closures) as i can see.

I think compiler infer '0 lifetime for argument and '1 lifetime for return v

[2021-01-22 12:48] tesuji opened #81268 "False error about destructuring assignments when using _ as implicit array length"
I tried this code:
([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8d4d7c74fe0c8eb9979f24254c603167))

[code]

I expect to see this happen: There are no errors complain about destructuring assignments are unstable.
Instead: The compiler complains about that:

Errors:

[code]

Build using the Nightly version: 1.51.0-nightly (2021-01-21 202720bf483088dbdb34)

@

[2021-01-22 13:10] #69184 closed

[2021-01-22 13:10] #80766 closed

[2021-01-22 13:31] jfrimmel opened #81270 "ICE with `#![feature(allocator_api)]`"
Hello,
I've tested the `allocator_api` feature and encountered an ICE:

### Code
If tried this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0d054d0c18a867259b756c73fd34e972)):
[code]

### Meta
I've used the "current" playground nighty compiler, but I can reproduce locally.

`rustc --version --verbose`:
[code]
and also on
[code]

### Error output

[cod

[2021-01-22 13:31] jfrimmel commented on #81270
@rustbot label: +requires-nightly +A-allocators

[2021-01-22 13:33] varkor commented on #80967
I prefer to use `then_some` than `then` when possible: needlessly creating a closure feels inelegant, even if in practice it makes no difference to generated code. It is also more consistent with existing APIs. I agree the name is unfortunate, but I don't view this as a reason not to have both. There's no way to make the names consistent with existing APIs now, so we could always go with a shorter

[2021-01-22 13:41] jfrimmel commented on #81270
Slightly minimized:
[code]

[2021-01-22 13:46] jfrimmel commented on #81246
Another code snippet, that hits this assertion is ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1e88d6aa15bd28f2121d074bb1d005c4)):
[code]
This is a slightly changed variant of #81270, but the array was changed to a 1-element-tuple.

[2021-01-22 14:23] sivizius commented on #74836
Is a `[ T; 0 ]` of any use anyway? I mean, the size is `0 * sizeof(T) = 0`, so effectively a `()` or `struct U`. `[ T; 0 ]` might be a result of typo in `[ T; 10 ]` ore something like that, so why not a hard error for that?

[2021-01-22 14:45] svenknobloch opened #81273 "ICE with Unboxed Closures and HRTB"
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b6c84f85b291a9cbdb0366628e17da83)

### Code

[code]

### Error output

[code]

[2021-01-22 14:58] SimonSapin commented on #74836
The `[T; 0]` type *can* be very useful (for example to unsize it to an empty slice of type `&[T]`), but it’s typically created with a `[]` expression.

This issue is about `[sub_expression; 0]` expressions which are indeed much less useful, but introducing new hard errors is a very big hammer and not necessary here. We only need to change such expressions from behaving like `{ std::mem::forget(sub

[2021-01-22 15:07] tesuji opened #81274 "Wrong `pub` modifier in each function of trait documentation"
The [documentation of Iterator](https://doc.rust-lang.org/1.49.0/std/iter/trait.Iterator.html#tymethod.next) trait on 1.49.0 (current stable) doesn't contain `pub` modifier in function declaration of that trait.
![image](https://user-images.githubusercontent.com/15225902/105507407-b9494480-5cfd-11eb-9666-1cb8b56ce77c.png)
However, on [beta](https://doc.rust-lang.org/beta/std/iter/trait.Iterator.ht

[2021-01-22 15:14] slerpyyy commented on #80967
You're right, this is a function that users want and there is no reason not to add it to the std. I'm still annoyed that after more than a year of discussion about what we want to call these two functions in the [original issue](https://github.com/rust-lang/rust/issues/64260), we went with the only combination of names [I actively dislike](https://github.com/rust-lang/rust/issues/80967#issuecommen

[2021-01-22 15:24] jyn514 commented on #81274
Yes, this needs the same fix as https://github.com/rust-lang/rust/pull/77820#issuecomment-727174134 (in particular https://github.com/jyn514/rust/blob/0e1a302f599ea1714f1ffa1a34dfb71ce2682c4c/src/librustdoc/clean/mod.rs#L1732-L1733 should work).

[2021-01-22 15:25] wesleywiser commented on #81251
I had an theory that I ran by @jyn514 and they're testing it out: rustdoc never calls `start_codegen()` and therefore `alloc_self_profile_query_strings()` is never called which means the `<unknown>` events are actually *every query in rustc*!

This seems to hold if we look at the `summarize` output for a rustdoc self-profile like [this one](https://gist.github.com/rylev/498bd19539dcff01c7be08e0ac7

[2021-01-22 15:29] jyn514 commented on #81251
@wesleywiser that did it! `unknown` doesn't show up at all any more :)

[code]

[2021-01-22 16:01] jplatte commented on #78700
My above example works all the way back in 1.0.0 (if you remove the `dyn`).

[2021-01-22 16:28] silene commented on #81261
Note that the IEEE-754 floating-point standard states the following: "For all other operations, this standard does not specify the sign bit of a NaN result, even when there is only one input NaN, or when the NaN is produced from an invalid operation." (Multiplication is one of these "other operations".) So, the fact that both assertions behave differently is certainly not forbidden by the standard

[2021-01-22 16:52] pnkfelix commented on #81211
(Regarding the assignments here: i am going to make `derive(Debug)` use UFCS. @Mark-Simulacrum is going to investigate if there is *other* fallout from PR #80765, I think via a directed crater run.)

[2021-01-22 17:19] rvolgers commented on #50784
Just ran into this today.

To the people explaining why this is tricky to implement in a consistent way: I hear you, and I understand.

To the people who (seem to?) be arguing that this is good and normal and expected: you are seriously wrong.

Things that normally work and then in another context quietly *don't do anything* are really bad papercuts.

While I understand there needs to be some guid

[2021-01-22 17:32] dylan-bowker opened #81278 "Can't compile huge struct"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-01-22 17:52] jyn514 opened #81280 "Incremental occasionally causes link failures"
I tried this code: https://github.com/rust-lang/rust/pull/81275/commits/b717882fb6f678606acc88d870987cab40e26107

I expected to see this happen: It compiles successfully.

Instead, this happened:

[code]

### Meta

`rustc --version`:
[code]

cc @Aaron1011 , I think you were looking into something similar a while back.

[2021-01-22 17:54] dylan-bowker commented on #81278
Removing derived traits gives an even bigger backtrace:

[code]

[2021-01-22 18:36] Aaron1011 opened #81282 "Attributes are silently ignored on `..` (rest) in struct pattern (StructPatternEtCetera)"
The following code compiles successfully:

[code]

However, placing attributes on a normal field pattern:

[code]

produces the following error:

[code]

We should either handle attributes consistently across field patterns and `..` patterns, or emit an error when any attributes are present on `..` patterns. This is technically a breaking change, but there's precedent here (we've made misplaced `#

[2021-01-22 18:49] jyn514 commented on #31387
Do you have suggestions for how this could work?

[2021-01-22 19:00] #81182 closed

[2021-01-22 19:00] #81192 closed

[2021-01-22 19:06] GuillaumeGomez commented on #50784
No one said it was a feature, we just said it was out of rustdoc scope. Having doc tests in a binary doesn't sound crazy to me, it's simply something that we need to agree upon and then to update rustdoc source code so that it can work there too (which might be quite tricky...).

[2021-01-22 19:13] joshtriplett commented on #81261
@silene It's allowed by the standard, but it seems inconsistent to have different behavior depending on whether an operation is evaluated at compile time or runtime.

[2021-01-22 19:15] m-ou-se commented on #62543
Status update:

The [stabilization PR](https://github.com/rust-lang/rust/pull/76505) was not merged. See https://github.com/rust-lang/rust/pull/76505#issuecomment-715282252 and https://github.com/rust-lang/rust/pull/76505#issuecomment-740905035 for the relevant feedback.

[2021-01-22 19:32] felix91gr commented on #74696
I think this is a valuable feature to have, but it's a pain when it gives false positives, and we should change that. Is there a model or a set of rules that we could use to decide where it makes sense to emit lints?

I like the idea of piggybacking on certain optimizations for the purpose of emitting lints, because many of the operations used in the optimizations can also be used to conclude trut

[2021-01-22 19:39] joho-stop commented on #74599
The snippet in the [original report](#issue-663232766) starts ICE'ing on `nightly-2019-10-05`. Tracked it down to 2180c243214ebce29c45c37020e929924a8520d.

[2021-01-22 19:52] SNCPlay42 commented on #81273
Duplicate of #76168

[2021-01-22 19:53] petrochenkov commented on #81282
Technically `..` is not a pattern in this context (unlike `..` in other contexts), it's a part of the struct pattern syntax, so attributes are supposed to be syntactically rejected on it.

[2021-01-22 20:10] Aaron1011 commented on #81282
The reference states that `..` (`StructPatternEtCetera`) supports outer attributes: https://doc.rust-lang.org/reference/patterns.html#struct-patterns. Should it be updated?

[2021-01-22 20:23] petrochenkov commented on #81282
Actually disregard my comment, it's true that `..` is not a pattern in this context, but it doesn't matter - attributes on regular patterns are not supported at all.
So whether attributes should be supported on `..` in struct patterns is a standalone question.

I'd say they should not despite what the reference says.
The equivalent syntax is not supported in expressions
[code]
and we should be abl

[2021-01-22 20:27] Aaron1011 commented on #81278
When compiling with a local rustc with debug insertions enabled, I got an earlier panic:

[code]

[2021-01-22 20:28] joho-stop commented on #80772
Actually it looks like f9ed2199ff is the first commit with this issue

[2021-01-22 20:39] dekellum commented on #65262
Thanks!  Any progress is to be commended on this, @djc!  The prior failed attempt (rust-lang/cargo#7801) suggests making progress is difficult.

I guess I can wait to test this when it lands in stable, but if I understand rust-lang/cargo#8037 well enough, then I fear that no production-targetting crates are going to be published with it, because it would make the crate a nightly-only crate, given

[2021-01-22 20:53] glandium commented on #81261
Interestingly, the corresponding C++:
[code]
works with GCC at -O0 and -O3, but not clang, at neither optimization level.

[2021-01-22 21:11] tgnottingham commented on #81262
Are you able to reproduce this on the nightly compiler? I'm wondering if #78317 addressed this problem.

[2021-01-22 21:46] djc commented on #65262
Yeah, the implementation so far is mainly for early testing, and crates using it probably cannot be published to crates.io at all. For all of that, you'll have to wait until this hits stable. I hope to be pushing it forward, but progress will depend on consensus in the cargo and crates.io teams (my prior attempts to get stuff done on the crates.io side were quite frustrating).

[2021-01-22 21:48] #38527 closed

[2021-01-22 21:49] camelid commented on #81274
Self-assigning because this is a beta regression.

[2021-01-22 21:56] camelid commented on #81274
Note that this also occurs for the impl's docs.

[2021-01-22 22:10] pnkfelix commented on #81211
I have something put together that seems to fix the problem for the cases listed in this bug, namely `field`, and presumably `finish` though I need to double-check that one.

However, I also tried applying my solution to the `debug_struct` and `debug_tuple` calls that we make on the `Formatter` argument, and in those cases, the UFCS code I generated did not compile. I'm still working that out (and

[2021-01-22 22:13] newpavlov commented on #65262
@djc
Since Rust 1.27 cargo accepts unknown fields and only emits a warning, so it's possible to publish such crate, but it seems that currently crates.io removes all unknown fields. I wonder if post-1.27 versions will be able to properly process dependency crates with unknown fields in their Cargo.toml.  In other words, I wonder if specifying MSRV would cause crate MSRV to be bumped to a version i

[2021-01-22 22:19] Amanieu commented on #79175
This program generates a malformed coverage error from `llvm-cov` when built with `-O -Zinstrument-coverage`:

[code]

`llvm-cov` works correctly when the program is built without `-O`.

I think this is the same root cause, but I can open a separate issue if you prefer.

[2021-01-22 22:21] ehuss commented on #65262
You should be able to publish, it will just be supported on nightly-only, so most non-nightly packages probably shouldn't.

This feature does not touch crates.io, so they will not be involved.

Starting with the nightly that contains the PR, it shouldn't be removed, and you should be able to publish with it (with the caveat that it is nightly-only).

Versions older than 1.51 will ignore it.

[2021-01-22 23:54] davidpdrsn commented on #68508
I’m seeing a similar issue when using Tower and impl Trait. Made issue on rust-analyzer but “cargo build” is also slow so probably also a rust issue https://github.com/rust-analyzer/rust-analyzer/issues/7403

it includes a reproduction script.

[2021-01-23 01:37] dekellum commented on #65262
@ehuss could you elaborate on how (if at all) the situation will change once 1.51 becomes a stable release?

[2021-01-23 01:52] tesuji opened #81289 "rustdoc documents `mut self` as `mut self: Self`"
Rustdoc on [nightly documents][1] methods have signature of `fn(mut self)` as `fn(mut self: Self)` while it only has to document it as `fn(self)`.
![image](https://user-images.githubusercontent.com/15225902/105565172-0823c800-5d58-11eb-9347-c2d7a5743021.png)

On [rustdoc stable][2], things are normal:
![image](https://user-images.githubusercontent.com/15225902/105565195-2b4e7780-5d58-11eb-9eb0-a11

[2021-01-23 03:27] pnkfelix commented on #81211
Okay, so it seems to me like there's some oddity in how we resolve method calls that has left us somewhat robust against injections of new methods on `fmt::Formatter` and `fmt::DebugTuple`, etc, all this time, and that #81211 removed some of that accidental robustness, but not all of it.

Here is the result of my experiments in the space ([play](https://play.rust-lang.org/?version=nightly&mode=deb

[2021-01-23 03:52] osa1 commented on #81278
Cargo.toml for the repro:

[code]

It builds fine with nightly 2021-01-11 (c5eae5629) but fails with current master (34b3d41e1ad).

[2021-01-23 04:05] osa1 commented on #81278
I can't reproduce this locally with stable or nightly builds installed with rustup, but I can with stage 1 build (34b3d41e1ad).

[2021-01-23 04:13] camelid commented on #81247
Or a tuple with every element being `0`; e.g. `(0, 0, 0)`.

[2021-01-23 04:19] osa1 commented on #81247
Right, that's what I mean by

[2021-01-23 04:38] camelid commented on #76579
@oli-obk Did that ever end up in the dev-guide? If not, I can try to put it there :)

[2021-01-23 04:39] lopopolo opened #81292 "What guarantees does core::iter::Repeat give around observing calls to clone?"
Currently, `core::iter::Repeat::nth` calls `core::iter::Repeat::next` `n` times.

This allows a struct with interior mutability or other global state and a custom clone implementation to observe the number of times it has been cloned.

[code]

Currently, this program outputs:

[code]

Would it be possible to override the implementations of some `Iterator` methods that have default implementations

[2021-01-23 05:12] estebank commented on #81208
@wesleywiser taking over, I've figured out the problem.

[2021-01-23 05:32] lzutao opened #81293 "Wrong suggestion usize::from for LHS expression"
I try this code: ([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8182f670dae21851a7ff7d41274ab4dd))

[code]

I expect to see this happen: No invalid suggestion for `usize::from(a) = c + b*5`.

Instead, I got this errors:

[code]

@rustbot label D-invalid-suggestion T-compiler

[2021-01-23 06:09] Michael-F-Bryan commented on #78778
So it looks like the issue is that we need some way to tell tools where to find LLVM and the other dynamic libraries it needs.

What I've done is found where we create the `std::process::Command` which runs the tools, then inside an `if build.config.llvm_from_ci { ... }` I have tried:

- Setting the command's `LD_LIBRARY_PATH` (or rather, the result of `utils::dylib_path_var()`) environment variab

[2021-01-23 08:29] oli-obk commented on #76579
Not as far as I know. That would be great! Thanks.

[2021-01-23 09:33] oli-obk opened #81295 "Deprecate the `expr_method_call` function entirely in favour of ufc"
Using method calls in built in derives keeps causing problems due to different imports in the surrounding scope.

Maybe we should just remove the `expr_method_call` function entirely (or perma-deprecate it so ppl searching for it get an explanation of why they should use ufcs)

_Originally posted by @oli-obk in https://github.com/rust-lang/rust/pull/81294#discussion_r563043413_

[2021-01-23 09:36] oli-obk opened #81296 "Semi-spurious ui test fluctuation"
Since a few weeks we are getting an unrelated failure in a ui test where the order of two diagnostics changes. It is not entirely random, since it only changes if there are compiler changes, but we should still find and fix it

<details><summary><i>Click to see the possible cause of the failure (guessed by this bot)</i></summary>

[code]

</details>

_Originally posted by @rust-log-analyzer in htt

[2021-01-23 09:38] oli-obk commented on #81296
The first time I've seen it was in https://github.com/rust-lang/rust/pull/80418

The second time in  #81294

[2021-01-23 10:41] RalfJung commented on #78778
Those sound like questions for @Mark-Simulacrum

[2021-01-23 12:38] Areredify commented on #78586
@jsomedon do you plan to continue working on this?

[2021-01-23 12:47] m-ou-se commented on #73831
Moved from #81012:

@dtolnay's comment (https://github.com/rust-lang/rust/pull/81012#issuecomment-765887883):

@rfcbot fcp merge

[2021-01-23 12:51] leonardo-m commented on #79143
It seems on my (common) architecture it doesn't give an advantage:

[code]

`-O`:

[code]

`-O -C target-cpu=native`:

[code]

So the question is: is this NonZero method worth keeping? Are the architectures where it gives a performance advantage common enough?

[2021-01-23 13:14] m-ou-se commented on #73831
@rfcbot concern name

I was completly unaware we even had this function, and even suggested a few times we might want to add something like this. I guess because the name doesn't remind me of a binary search. This at least means that we should update the documentation of `binary_search` to point out the existence of this function, and probably add a `doc(alias)` to this function too. But we might

[2021-01-23 13:29] andjo403 commented on #79143
but as you show in your example if you want to make a distributable binary and due to this not set the target-cpu there is a big difference

[2021-01-23 13:38] leonardo-m commented on #79143
The architecture I'm using is quite standard. A distributable binary could probably use it as "universal target".
I don't know much common is going to be an instruction like tzcnt in the future. If you think a similar instruction will be sufficiently uncommon then please ignore my comments here :-)

[2021-01-23 14:34] BurntSushi commented on #73831
I second @m-ou-se's naming concern. My first reaction was, "what the heck is a partition point?"

I think my preference would be to have "binary search" or at least "search" in the name somewhere. A bit verbose, but maybe `binary_search_by_pred`? Not sure.

[2021-01-23 15:17] ehuss commented on #65262
We did things a little differently than usual with this feature. On stable it will only issue a warning that the rustc-version field is ignored. (Typically unstable features are an error.) Since the field doesn't actually affect compilation, that seemed like a safer route to take, so that whenever it is stabilized, you can still reference versions prior to the stabilized release.

However, @djc, i

[2021-01-23 15:52] LeSeulArtichaut commented on #80777
Not self-linking seems to be expected behavior, this was made in #32558 back in 2016. What is inconsistent however is that "Implementations on Foreign Types" do self-link.

[2021-01-23 16:10] #61821 closed

[2021-01-23 16:30] nikic commented on #28728
This should be mostly fixed in LLVM 12 by https://reviews.llvm.org/D94106. There's still a minor issue remaining (side-effects can be hoisted across infinite loops).

[2021-01-23 17:04] artorias111 commented on #80937
Hey! Is this a good issue if I'm just getting used to contribute to various projects. Not really familiar with the rust codebase but would like to try if I can contribute.

[2021-01-23 17:07] jyn514 commented on #80937
@artorias111 yes, this would be a good first issue I think. I'm not 100% convinced we should make the change, but the implementation is easy, just add `atty` as a dependency and use it in libtest: https://github.com/rust-lang/rust/pull/80897#discussion_r554689224

[2021-01-23 17:08] artorias111 commented on #80937
@jyn514 sure, I'll give it a try then

[2021-01-23 17:39] lcnr commented on #80795
it looks like we already implement the check described here. Don't think that we need to add a test for this.