[2022-07-22 13:59] RalfJung opened #99605 "Miri tests fail with debug assertions enabled"
I thought I had tested the debug assertions that I added in https://github.com/rust-lang/rust/pull/99420, but it seems I hadn't tested them on enough code, because they do actually fail, for example:
[code]
That's this assertion:
https://github.com/rust-lang/rust/blob/41419e70366962c9a878bfe673ef4df38db6f7f1/compiler/rustc_const_eval/src/interpret/terminator.rs#L600
failing on this code:
[code]

@

[2022-07-22 14:04] eddyb commented on #99605
Oh yeah my bad I forgot to double-check that `Instance::resolve_for_vtable` is used, not `Instance::resolve`.

(which can convert the `resolve` result into `VtableShim`, but it looks like it has some other conditions/outcomes too so it's better to call `resolve_for_vtable` directly)

[2022-07-22 14:05] lo48576 opened #99606 "Guarantees of content preservation on `try_reserve` failure?"
### Location
Any `try_reserve` methods of container types (12 in Rust 1,62.1, including duplicated ones in `alloc`), and maybe corresponding `try_reserve_exact` methods.

- `std::collections::BinaryHeap::try_reserve[_exact]`
- `std::collections::VecDeque::try_reserve[_exact]`
- `std::collections::HashMap::try_reserve`
- `std::collections::HashSet::try_reserve`
- `std::ffi::OsString::try_reserve[_e

[2022-07-22 14:13] RalfJung commented on #99605
What would those situations look like?

[2022-07-22 14:20] 5225225 commented on #99604
This also comes up as an issue for functions that happen to use MaybeUninit internally, see

[code]

swap_nonoverlapping is explicitly mentioned as being untyped, so this failing is wrong, IMO.

[2022-07-22 14:24] eddyb commented on #99605
Looks like `#[track_caller]` in the `impl` but not in the `trait` ([see on godbolt](https://godbolt.org/z/PPM83dEnb)):
[code]
`&Bar as &dyn Foo` ends up with this vtable entry:
[code]
which is the `ReifyShim`, and it calls:
[code]

[2022-07-22 14:25] ehuss commented on #99591
Confirmed that it is caused by #99413. Here is a slightly smaller repro:

[code]

I think the error here is correct and #99413 is a valid fix. It's just a consequence of how the lifetimes in the handlebars crate are defined that cause the error.

[2022-07-22 14:36] RalfJung commented on #99605
You are right, that used to ICE mentioning a `ReifyShim`. `resolve_for_vtable` fixes both cases. :)

[2022-07-22 14:52] poliorcetics opened #99608 "Consider returning `/private/tmp` instead of `/tmp` on macOS with `std::env::temp_dir()`"
The first is a regular directory, the second is a symlink to the first. This can lead to software failing in strange and unexpected ways (especially during testing, with the tempfile crate or similar) if symlinks are forbidden, e.g. I recently encountered the case with SQLite

Since `/tmp -> /private/tmp` software that was already working correctly should not start to fail unexpectedly. Software t

[2022-07-22 14:54] poliorcetics commented on #99608
The first is a regular directory, the second is a symlink to the first. This can lead to software failing in strange and unexpected ways (especially during testing, with the `tempfile` crate or similar) if symlinks are forbidden, e.g. I recently encountered the case with SQLite

[2022-07-22 15:04] nmeum commented on #96876
Looks like this was fixed in 1.62.0 then.

[2022-07-22 15:04] #96876 closed

[2022-07-22 15:19] scottmcm commented on #99606
At least for `Vec` (and `Vec`-based things like `String`) it's obvious to guarantee that, so we might as well.  (Thank you, Rust, for insisting on move-is-`memcpy` so we don't have the "what if the move constructor panics" problems like C++.)

I think it'll need to be added to hashbrown before we can consider promising it for `HashMap`/`HashSet`, through -- there's no guarantee in <https://rust-la

[2022-07-22 15:55] fasterthanlime opened #99610 "Figure out why `x.py test --stage 0 rust-analyzer` doesn't work"
(This issue only makes sense after #99603 lands)

@jyn514 is convinced it should if the proper sysroot is used to compile both the `proc-macro-srv` and `proc-macro-test-impl` crates.

There's one nested invocation of rustc in `proc-macro-srv`'s build script, but it uses `$RUSTC` (all it does is grab the trimmed output of `rustc -v`).

There's one nested invocation of cargo in `proc-macro-test`'s b

[2022-07-22 15:56] danielhenrymantilla commented on #99591
Until the fix to `mdbook` is officially released, btw, for those running into this, the workaround is to use the `git` dev, potentially as a `patch`:

  - for those using `cargo install mdbook`, instead, do

[code]

  - for those depending on `mdbook` as a library, on the `Cargo.toml` file of your workspace (where the `Cargo.lock` file lies / is generated), add:

[code]

[2022-07-22 16:03] workingjubilee commented on #99604
My understanding was that at some point it had been decided that we didn't have to promise anything regarding the padding byte in exactly these cases.

[2022-07-22 16:08] workingjubilee commented on #99604
In the models where memory accesses are typed, this too does have a type! It's just suggesting the type of "a blob of bytes". But this would not be the first time we wrote a check that (our lowering to) LLVM can't cash.

[2022-07-22 16:13] RalfJung commented on #99604
Ah, yeah, good point. :(

I agree, the implementation of `swap_nonoverlapping` should be fixed.

The docs have recently been adjusted to say "The operation is “untyped” in the sense that data may be uninitialized or otherwise violate the requirements of T. The initialization state is preserved exactly". So what you say is not the intention of the implementation.

See https://github.com/rust-lang/r

[2022-07-22 16:20] chris-laplante opened #99611 "ICE when compiling toolshed on nightly"
### Code

Just create an empty bin project with this dep in Cargo.toml:

[code]

### Meta
This exists on nightly, but not stable or beta.

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-22 16:42] workingjubilee commented on #84181
An established process for promoting targets now exists, please file an MCP if you desire this:
https://doc.rust-lang.org/nightly/rustc/target-tier-policy.html

[2022-07-22 16:42] #84181 closed

[2022-07-22 16:56] CAD97 commented on #75301
Did `fmt::Arguments::as_str` improve the situation here? If it's not being used by `write!` impls yet, it probably can/should be.

[2022-07-22 17:25] smessmer commented on #23465
Since Rust 1.62 has a new Mutex implementation without pthread, should this be reconsidered?

[2022-07-22 17:27] smessmer opened #99613 "Make MutexGuard Send?"
Since Rust 1.62 has a new Mutex implementation that doesn't use pthread anymore, can we now mark MutexGuard as `Send`?

[2022-07-22 17:31] workingjubilee commented on #99604
We also claim that `mem::transmute` will simply be "like a memcpy", which leads to https://github.com/rust-lang/rust/issues/96140 where LLVM disagrees with us on our interpretation of our own claims. While I am all for taking LLVM to take a hike, I must stress that committing to preserving some bits what we claim we really care about is a `u16` and a `u8` is asking lowering and the optimizer to re

[2022-07-22 17:38] 5225225 commented on #99604
Yeah, the only reason I used swap_nonoverlapping here instead of any other one is that swap and copy don't actually move a MaybeUninit<T>, they just use one as storage space on the stack, and use the `copy_nonoverlapping` intrinsic (which is presumably memcpy-like in that it doesn't care about the type).

However, `swap_nonoverlapping` seems to eventually call [core::mem::swap_simple (stdrs.dev)](

[2022-07-22 17:43] bjorn3 commented on #99613
We still use pthreads as fallback for platforms where futex based Mutexes are not yet implemented: https://github.com/rust-lang/rust/blob/22d25f21dc008785f52e7c2833de4f4236b1066b/library/std/src/sys/unix/locks/mod.rs#L24-L29

[2022-07-22 17:46] bjorn3 commented on #99596
Regression range: https://github.com/rust-lang/rust/compare/d68e7ebc3...62b272d25 I expect this to be caused by https://github.com/rust-lang/rust/pull/93718 cc @thomcc

[2022-07-22 17:59] ehuss commented on #99611
Thanks for the report!  This should be fixed in the latest nightly. Closing as a duplicate of #99375.

[2022-07-22 17:59] #99611 closed

[2022-07-22 18:39] RalfJung commented on #99604
Well, we say it's like memcpy "under the hood", which is not wrong, but then the inputs and outputs are fundamentally "clamped" by this being a by-value operation. memcpy does not act on values. The type-changing memcpy is not what makes the padding disappear here, it's the passing-args-to-transmute and passing-ret-from-transmute (and it'd be the same with any safe function as well).

But probably

[2022-07-22 18:50] daira commented on #39364
Reading through this ticket, I strongly recommend that `std::sync::mpsc` be deprecated with a prominent warning in the API doc &mdash; probably suggesting to use `crossbeam-channel`. I only found this ticket by luck browsing through the docs for a function we didn't propose to use (`recv_timeout`), even though as far as I can see, the potential race conditions aren't limited to that function at al

[2022-07-22 18:51] 5225225 commented on #99604
Yep. I think that's a Terrible idea, come to think of it.

So.... Well, we don't promise what MaybeUninit actually *is*, so it could be Compiler Magic

that knows if it needs to be the ABI of an untyped blob, or if it needs to be the ABI of T.... based on the calling convention of the function it's passed to?

that seems extremely strange (and would mean passing a MaybeUninit through a `C` functio

[2022-07-22 18:56] rdrpenguin04 commented on #99604
That breaks down if it's passed to multiple functions though. Also, @chorman0773 would probably have some choice words about making a fundamentally "normal" type be magic.

[2022-07-22 19:00] CAD97 opened #99616 "LGAT associated type bounds diagnostics are not great"
Tested on nightly 2022-07-21.

Illustrating as a edit-compile cycle:

[code]

[code]

Apply the suggestion.

[code]

[code]

That looks wrong, let me try:

[code]

[code]

Okay, let's do what the compiler suggested

[code]

[code]

Success! Time to use it...

[code]

🙃

[2022-07-22 19:01] CAD97 commented on #99616
@rustbot modify labels +requires-nightly +F-generic_associated_types

[2022-07-22 19:06] RalfJung commented on #99613
AFAIK the plan is to keep using pthreads on macOS. This means `MutexGuard` cannot be made `Send` on all tier 1 platforms. I doubt we want this to be a per-platform thing.

[2022-07-22 19:08] RalfJung commented on #99388
One can compare vtable pointers via wide raw pointer comparison, so for better or worse I think we should also allow it on `DynMetadata`. That might be a good place to document the footguns related to comparison of vtables.

[2022-07-22 19:08] compiler-errors commented on #99616
Check out `#![feature(generic_associated_types_extended)]` -- GATs are not allowed in object types currently.

[2022-07-22 19:09] compiler-errors commented on #99616
Though fair warning that `#![feature(generic_associated_types_extended)]` is unsound.

[2022-07-22 19:13] compiler-errors commented on #99616
I guess there are a few actionable things here:

1. The "add missing lifetime argument" should try to look for a binder or set of generics to add `for<'a>` to if the suggestion is being made.
2. The "`for<...>` is not allowed on associated type bounds" suggestion could probably suggest moving the binder outside of the `dyn`.

Probably more.

[2022-07-22 19:14] RalfJung opened #99619 "`./x.py test src/test/codegen` fails"
Codegen tests currently fail in stage 1:

[code]

I think this started with https://github.com/rust-lang/rust/pull/91743.

[2022-07-22 19:15] RalfJung commented on #99135
This would have caught https://github.com/rust-lang/rust/issues/99619, I assume?

[2022-07-22 19:50] TheTechRobo opened #99621 "union fields that need dropping should be impossible"
### Code

Just add `mlua = {version="^0.8.1", features=["lua54"]}` to the Cargo.toml.

Post-error tarball:

https://thetechrobo.ca/cargo.test.tgz

### Meta

**I can't reproduce this on another, freshly-installed rustup/cargo on a Linux machine.** But that could be down to configuration.

`rustc --version --verbose`:
[code]

This only became a problem after updating using `rustup update` - in fact,

[2022-07-22 19:51] TheTechRobo commented on #99621
Oops - looks like this is a dupe of #99375. I'll wait for the next nightly.

[2022-07-22 19:51] #99621 closed

[2022-07-22 19:52] jackh726 commented on #99616
I'm confused. Was this done this was because the suggestions don't make sense? Either one of the suggestions would have worked.

This certainly isn't great. We should be better (not just with GATs) about making sure we suggest lifetimes in scope or suggest creating a new one. (We obviously are smart enough because of the next suggestion, just need to "apply" it earlier.)

🤷‍♀️ not much that can be

[2022-07-22 21:16] CAD97 commented on #99616
It was done out of the (misguided?) assumption[^0] that this would be the correct place to put the binder; `for<'a> dyn Task<Output<'a> = ...>` *feels*[^1] like the wrong place, since the associated type is the generic introducer, not the trait. A suggestion on that form to move the binder out would be sufficient.

(This was the form I originally wrote, and only backed up to not providing it after

[2022-07-22 22:16] lopopolo opened #99625 "Recover from C++-style "pub enum struct X""
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

Highlight to the user that the keywords `enum` and `struct` are mutually exclusive. Replace `enum struct` with `enum`.

[2022-07-22 22:36] eddyb commented on #99619
This is because MIR inlining disables itself w/ incremental and you likely have incremental enabled locally.
Previous discussion [can be found on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/topic/Codegen.20tests.20failing.20on.20master).

My opinion is that we should just not check for incremental at all and just let it run.

[2022-07-22 22:38] eddyb commented on #99135
@RalfJung Yes, despite not being filed as an issue, that's exactly the kind of test failure I was referencing in https://github.com/rust-lang/rust/issues/99135#issuecomment-1186623983 (it does require that we do enable incremental, not just test at stage 1).

[2022-07-22 22:57] estebank commented on #93415
https://github.com/rust-lang/rust-clippy/pull/9040 will cover this case.

[2022-07-22 23:05] vincenzopalazzo commented on #99572
Amazing example :) thanks, I'm on it

[2022-07-22 23:23] vincenzopalazzo commented on #99572
This is a reproducible example without serde!

[code]

[2022-07-23 01:07] RalfJung commented on #96140
It doesn't -- for programs that do not have UB. For programs that have UB, no promises are made. Ever. That's how `unsafe` works.

Passing any value other than 0 or 1 to your `foo` causes UB, and for 0 and 1 the underlying data is preserved. So, I think we should close this issue as not-a-bug. The docs state:

[2022-07-23 01:23] 8573 commented on #39364
One alternative to `crossbeam-channel` could be https://github.com/zesterer/flume/issues/18

[2022-07-23 01:24] alex commented on #98833
@tmiasko Unfortunately while this fixes the minimal reproducer, it doesn't fix the full case. Would you prefer I file a new bug, or should this one be re-opened?

To reproduce:

[code]

[2022-07-23 01:26] workingjubilee commented on #78944
This seems to have been significantly changed by LLVM upgrades of late as now the same code without `#[inline(never)]` produces exactly the same assembly and the two function bodies also almost exactly match. I am not sure if it's **better**, exactly, but at least there's no discrepancy...?

[2022-07-23 01:34] alex commented on #98833
It's not _very_ minimized, but slightly better.

`RUSTFLAGS="-Cinstrument-coverage" cargo +nightly build --release`

`Cargo.toml`:
[code]

`src/lib.rs`: Empty

[2022-07-23 01:51] lopopolo commented on #80996
I'm implementing my own Range type with `Bound` and would love to at least have `Bound::as_ref` to simplify the trait implementation for `RangeBounds<usize>`:

[code]

[2022-07-23 01:57] lopopolo commented on #80996
Would it be possible to split this tracking issue into two features, propose `bound_as_ref` for stabilization, and defer `bound_as_mut` for more discussion?

[2022-07-23 02:34] wmstack commented on #87335
What do you think of allowing non `!` types for the else branch of the statements? The idea is this, that a let statement creates new bindings for variables. In any situation, let statements don't have the job of initializing those variables. Normal let statements can also create uninitialized variables, and refutable patterns just embody *possibly uninitialized values*. Rust by default prevents y

[2022-07-23 02:42] #73514 closed

[2022-07-23 02:42] #99605 closed

[2022-07-23 02:49] workingjubilee commented on #62256
Oh, I would absolutely agree that we shouldn't be linking in code on `no_std` platforms that we can't provide. I just think we should think of emitting a call to it, if we provided it, as... disappointing, a missed opt, not a violation of our compiler contract. Strengthening a barrier should remain a valid interpretation of a barrier if the codegen backend is ever in doubt.

[2022-07-23 04:02] analog-hors opened #99630 "Rustdoc displays private internals of associated constants when reexporting types"
`types/src/lib.rs`:
[code]

`main/src/lib.rs`:
[code]

This leaks private fields:
![Doc page displaying private fields in associated constant initializers](https://user-images.githubusercontent.com/44050761/180588518-cbb80554-af09-47f3-af6e-0f036a8dad15.png)

Tested with `cargo clean && cargo +nightly doc`.

Note that this also applies to verbose initializers.

This issue was first brought up in #

[2022-07-23 04:05] Fishrock123 commented on #87335
@wmstack Please see the [“Future Possibilities: Fallback Assignment”](https://github.com/rust-lang/rfcs/blob/master/text/3137-let-else.md#fall-back-assignment) section of the RFC.

The RFC leaves this open as a possible addition by using some additional syntax. See [the “`else`-clock fall-back assignment” rationale section](https://github.com/rust-lang/rfcs/blob/master/text/3137-let-else.md#else-b

[2022-07-23 06:08] nyurik opened #99633 "index out of bounds in rustc_builtin_macros/src/format.rs"
I tried this code:

[code]

`cargo build` crashed with `thread 'rustc' panicked at 'index out of bounds: the len is 1 but the index is 1', compiler/rustc_builtin_macros/src/format.rs:1001:28`.  I tried it on stable 1.62.1 and nightly `1.64.0-nightly (848090dcd 2022-07-22)`

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2022-07-23 06:40] saethlin commented on #30112
Looks to me like all the bounds checks in the original examples are gone now: https://godbolt.org/z/fcexGna7s

[2022-07-23 07:04] tmiasko commented on #98833
[code]

searched nightlies: from nightly-2022-07-07 to nightly-2022-07-22
regressed nightly: nightly-2022-07-09
searched commits: from https://github.com/rust-lang/rust/commit/1517f5de01c445b5124b30f02257b02b4c5ef3b2 to https://github.com/rust-lang/rust/commit/06754d8852bea286a3a76d373ccd17e66afb5a8b
regressed commit: https://github.com/rust-lang/rust/commit/eba361ae36be41e42fb8fdf138455307e0ad407

[2022-07-23 07:57] #99589 closed

[2022-07-23 09:50] zesterer opened #99635 "Function signature probably shouldn't be reported if an argument type mismatch is 'trivial'"
I've been recently doing a large amount of refactoring on my compiler. Although this has broadly been a pleasant experience, recent diagnostic changes have put a little pressure on my scroll wheel. Diagnostics that I (and I think many others, even newcomers) would consider trivial can sometimes take up many dozens of lines of compiler output. I definitely appreciate the verbosity, but I don't thin

[2022-07-23 10:01] oli-obk commented on #96140
Yea, the only actionable thing I can see here is to remove the extra asm instructions for perf reasons or to allow follow up optimizations to trigger.

I guess let's close this and if someone encounters a repro for more complex programs that have missing opts we can revisit

[2022-07-23 10:01] #96140 closed

[2022-07-23 10:21] alexschrod opened #99637 "`alloc` methods are available in `#![no_std]` when running tests, despite not being imported."
I was messing around in a test in a `#[no_std]` crate and discovered that this code:

[code]
([playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a2a27cb0adbe28cf8d4165ac364379ad))

compiles, which really surprised me, because `[T]::to_vec()` is defined in the `alloc` crate, and as you can see, I don't have any `extern alloc;` directive. It's even more surpri

[2022-07-23 10:28] kevincox commented on #87335
Strong agree. Let's start with the simple case and we can consider options like that in a new RFC with some real-world experience under our belt.

[2022-07-23 10:48] avl commented on #87840
I love these methods!

I would love to see *_sub_signed and friends too. I just had a use for saturating_sub_signed (subtracting a signed residual from an unsigned value to create a corrected value). In my case, I can just negate the residual. However, that might cause overflow, in which case the final calculated value would not be correct. This won't really matter in practice, but saturating_sub_

[2022-07-23 12:28] alex commented on #98833
Interesting, I had assumed based on the matching panic message that it'd have the same regressing commit.

[2022-07-23 12:32] nagisa commented on #39699
On the naming of `no_sanitize` – as I was reviewing the shadow stack PR it seemed to me much more natural that you’d be able to say which functions you want to sanitize as well. Is this really the best design for an attribute in the context of knowledge that a) not every sanitizer requires linking in a support library; and b) it might make sense to sanitize specific functions (does it?) at some po

[2022-07-23 12:46] daxpedda commented on #97762
The same thing applies to `cargo` and `clippy`.

[2022-07-23 12:48] jyn514 commented on #97762
We need to call `add_to_sysroot` in all of these steps. I think that currently adds all libraries as well which isn't correct - someone should look into how this is done for rustdoc and do the same for the other tools.

I agree it's a bug that we don't copy these today.

[2022-07-23 12:54] reez12g commented on #93330
@b-naber
Could you give me any clues as to what areas I need to fix?

[2022-07-23 13:02] #99565 closed

[2022-07-23 13:06] fmease commented on #99630
Huh, that's unexpected. Let me look into that.

@rustbot label T-rustdoc A-rustdoc-ui A-cross-crate-reexports
@rustbot claim

[2022-07-23 13:49] fmease commented on #98929
Sadly I don't know of any such crate. Maybe `bnum`? See [`bnum::BInt`](https://docs.rs/bnum/0.1.0/bnum/struct.BInt.html).
I must admit that my proposal is merely based on assumptions and speculations.

This is a *very* fair question. Obviously I lean towards printing *evaluated* constants but deep down I wish it constants could be handled in a more nuanced way: I imagine a system where `const`s an

[2022-07-23 14:02] 5225225 opened #99641 "`expected ConstKind::Value` ICE when putting `(fn(),)` in a const generic parameter (requires `adt_const_params`)"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-23 14:15] aliemjay opened #99642 "ICE on nested RPIT: cannot prove CoerceUnsized predicate"
### Code
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=b8de6af93ef2a54292829ffbc9cbea25
[code]

Regressed between (263edd43c 2022-07-17) .. (62b272d25 2022-07-21). ~Probably #99495~. Cc @oli-obk.

Edit: Regressed in #99506

Minimized from [HFQR/xitca-web](https://github.com/HFQR/xitca-web). Cc @fakeshadow.

@rustbot label regression-from-stable-to-nightly A-impl-trait

<

[2022-07-23 14:17] matthiaskrgr commented on #99641
note: this does not crash without `-Cdebuginfo=1` (or `2`)

[2022-07-23 14:18] 5225225 commented on #99641
Bisection says #96591, but before that, the code *built* which is presumably wrong?

I'm not too familiar with const eval, but I assume we don't want a `fn()` showing up *anywhere* in the type, not just directly.

[2022-07-23 14:23] RalfJung commented on #99538
Now that the bootstrap compiler was bumped, I am getting new exciting errors:
[code]

[2022-07-23 14:34] semarie commented on #99280
@ltratt do you reproduce the same problem on other OS ? (`create_all_dir()` isn't OpenBSD specific).

else, could you run your program with ktrace(2) ? (`ktrace -di program` ; `kdump -H -TR`)

[2022-07-23 14:35] madsmtm commented on #54725
Another use-case noted [above](https://github.com/rust-lang/rust/issues/54725#issuecomment-761602093) that is quite different from diagnostics is getting a unique identifier to use in `link_section`/`export_name`s.

I've [opened an internals thread](https://internals.rust-lang.org/t/get-unique-identifier-inside-macro/17071) for discussing that.

[2022-07-23 14:38] ehuss commented on #99637
I *think* this is similar to #90907.  This isn't exactly related to `#[test]`, other than the fact that libtest gets linked in and it depends on std/alloc.

For example:

[code]

[code]

[code]

[2022-07-23 14:49] daxpedda commented on #96472
I stumbled on this bug and did't understand why this is a suboptimal diagnostic and not a regression.
#87402, which is what introduced the warning to my understanding, only checks the actual existance of target features and if they were added with the proper `+` or `-` sign.

The bug report uses `+bulk-memory`, which has the `+` and is an existing target feature for the target used: `wasm32-unknow

[2022-07-23 14:52] fmease commented on #99633
I cannot reproduce this with a more recent nightly (e.g. 2022-07-20). This seems to have been fixed by #99480. Can you check if that's the case on your machine as well?

[2022-07-23 15:12] 5225225 commented on #99641
@rustbot label +requires-nightly

[2022-07-23 15:44] b-naber commented on #93330
@reez12g I'm sorry, I can't. Not familiar with rustdoc. Try to ping Joshua Nelson or GuillaumeGomez on zulip.

[2022-07-23 15:51] GuillaumeGomez commented on #98929
Yes. #97974 is the WIP PR.

[2022-07-23 16:10] ehuss commented on #99538
I don't suppose you could look back through your history just before the error to see what steps you took? Like did you run commands A, B, C, switch from commit X to commit Y, and then run D and immediately there was an error?

Also, it can be helpful to post the entire output from `x.py`, to at least know what steps it is taking. Like, did it try to build `unicode_xid`? Or, did for some reason, d

[2022-07-23 16:36] dhardy opened #99645 "Diag: closure with implied type lacks generic lifetime"
Given the following code:

[code]

The output on nightly is as follows. (Rust v1.62 only omits the second error + notes.)

[code]

Ideally a hint like the following would be included:
[code]

See also the [discussion on internals.rust-lang](https://internals.rust-lang.org/t/implied-lifetime-of-parameter-to-fnonce-trait/17068/13).

Note: the impl of `Foo for F` has an elided lifetime which expands

[2022-07-23 17:05] bjorn3 commented on #96472
Because it is still passed to LLVM even if rustc doesn't understand it. Rustc itself didn't understand it in the past either, but it did pass them through to LLVM. The only difference is that rustc now gives a warning if it doesn't understand a feature.

[2022-07-23 17:21] daxpedda commented on #96472
Ah! Thanks @bjorn3!
You seem to appear out of thin air every time I don't understand something :heart:.

Just to clarify then, `+bulk-memory` is something `rustc` should understand, which was already fixed in #97808.
The remaining issue is to improve the diagnostic message to make it less confusing for target features that should actually not be recognized.

[2022-07-23 17:26] ZhangHanDong commented on #80437
How about this sample code?

[code]

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=8747318c1e4e5b5881f656b9163cad4e)

[2022-07-23 17:31] daxpedda commented on #54725
@Aaron1011 closed by mistake? Can't seem to find an alternative tracking issue, a PR stabilizing it or a PR removing the feature.

[2022-07-23 17:49] compiler-errors commented on #99635
I took a stab at this in #99646, let me know what you think. Specifically, we now only highlight the single mismatched parameter: https://github.com/rust-lang/rust/pull/99646/files#diff-e60ae3276b7c8ae96680b146101fe6e91f5bd3240aac50d11f88fdf110daa4ae

[2022-07-23 17:52] RalfJung commented on #99538
Here is the full output that `./x.py check compiler/rustc` produced:
[code]

Yes. But I have no idea how to get my checkout into that state.

I am increasingly suspecting that this might be the case. That would explain why it never happens when I just chain some commands on the terminal. rust-analyzer does some weird things for its proc-macro support (`useRustcWrapper` is a thing, it injects itsel

[2022-07-23 17:53] obeis commented on #99625
@rustbot claim

[2022-07-23 17:56] bjorn3 commented on #99538
I had the same issue for cg_clif in https://github.com/rust-lang/rust-analyzer/issues/12845

[2022-07-23 17:58] matthiaskrgr opened #99647 "ICE: issue-73050.rs with generic_const_exprs: !value.has_escaping_bound_vars()"
### Code
`./src/test/ui/async-await/issue-73050.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

`rustc ./src/test/ui/async-await/issue-73050.rs  --edition=2018 -Zcrate-attr="feature(generic_const_exprs)"`

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-23 18:02] ChrisDenton opened #99648 "`x.exe` reports `x.py` not found when python isn't found"
I was playing with a dev server config and forgot to put python in `PATH`, leading to a confusing error message:

[code]

[2022-07-23 18:02] Aaron1011 commented on #54725
Oops, sorry about that

[2022-07-23 18:41] the8472 commented on #97549
#97925 landed, so next nightly will have support cgroupv1 quotas too.

[2022-07-23 19:27] ehuss commented on #99538
OK, I think this almost certainly an issue with rust-analyzer. Here are some reproduction steps using the config you posted:

1. Exit VSCode
2. `git co be9cfb307e6928600a9769695e02d6296e8e1174`
3. `./x.py clean`
4. `./x.py check compiler`
5. `git co 22d25f21dc008785f52e7c2833de4f4236b1066b`
6. `code .`
7. Wait for r-a to do its indexing stuff.
8. `./x.py check compiler`

[2022-07-23 20:05] eddyb commented on #99440
`--set rust.use-lld=true` was being added at the same time as passing a flag with a value of `all` when there apparently is also a value of `safe` <sub>(which in this context could maybe mean "safe to use with any dynamic linker because it behaves as if LLVM `mergefunc` was used originally" or something else like that)</sub>.

IMO we should reland `--set rust.use-lld=true` right away (possibly gat

[2022-07-23 20:19] Mark-Simulacrum commented on #99440
LLD was not landed standalone because it's a regression for us to do so (binary size increases). I suppose we could temporarily land such a change, but it seems like we still are failing to reproduce the bug here, so I'm hesitant to say we'd be able to verify that LLD alone (or safe, or any other options) still cause the problem or not. Maybe we can rely on @matthiaskrgr to test, but that seems ho

[2022-07-23 20:22] dexygen opened #99654 "First code example regarding stdin emits a warning"
### What needs to be fixed?
The very first code example on the page in the docs regarding `stdin` is confusing because, using Rust 1.6.2, when executing the line with the comment `// We get Stdin here` appended, the warning "variable does not need to be mutable" is emitted.

### Page(s) Affected
https://doc.rust-lang.org/std/io/struct.Stdin.html

### Suggested Improvement
If the need for a mutable

[2022-07-23 20:35] thomcc commented on #99613
I believe we could do this if we decided to implement [usync](https://github.com/kprotty/usync)-style locks based around thread parking. This has been discussed at one point but has various drawbacks, and I'm unsure if it's still on the table.

In general I don't think we should do this. It's reasonable for the OS to want to know which thread holds a lock, in order to be able to implement various

[2022-07-23 20:41] jyn514 commented on #99610
fix here:
[code]
will try to write this up more thoroughly soon

[2022-07-23 21:38] lopopolo opened #99653 "Recover from 'public' in 'pub' position"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

Suggest replacing `public` with `pub`.

[2022-07-23 21:50] zesterer commented on #99635
Based on the changes in the diff, this seems like it would be a big improvement, much appreciated! I also like that only the parameter in question is mentioned now.

[2022-07-23 21:51] Kobzol commented on #99440
I already did tests with safe and ICF and LLD only. Both fail for @m. So even with just using LLD, it's broken in some environments.

[2022-07-23 22:08] nyurik commented on #99633
@fmease I confirmed - the irony is overwhelming, years with this bug unnoticed, but the moment it gets fixed in the main branch, I somehow stumble on it... Weirdly enough, when I used `rustup update && rustup default nightly && rustc -vV`, I still see the `2022-07-14` nightly being used, whereas the updated version shows `2022-07-22`.  Is this a bug?

[2022-07-23 22:08] #99633 closed

[2022-07-23 23:05] kvxmmu commented on #32838
According to the https://doc.rust-lang.org/alloc/alloc/trait.Allocator.html#required-methods, `Allocator::alocate` on success returns `NonNull<[u8]>`, but `Allocator::deallocate` takes `NonNull<u8>` instead of `NonNull<[u8]>`. It looks inconsistent. Is it design problem or there are something that I misunderstood?

[2022-07-23 23:24] eddyb commented on #99440
Ah, thanks for testing, I wasn't been able to gather that detail from either the Zulip thread or this thread. That's the kind of situation I was imagining switching only one aspect at a time would find.

<hr/>

The only thing I can think of for diagnosing LLD is doing something like this:
[code]
for 2 toolchains, using `gold` vs `lld` for linking, but with the rest of the build unaffected
(i.e. id

[2022-07-23 23:55] kpreid commented on #86290
If the field name does not happen to be an attribute, the note is less confusing but still unhelpful:

[code]

[code]

It seems to me that there is little point in saying “a field by this name exists”, since we're in a struct initializer — if there _wasn't_ such a field, we'd be getting a different error. Or perhaps it would be helpful to say “a field by this name exists in `Self`, but there is no

[2022-07-24 01:08] nyurik opened #99655 "Incorrect named_arguments_used_positionally suggestion in obscure case"
This code is not really something anyone SHOULD write, but because rustc catches it and makes a suggestion, it should either handle it correctly, or not suggest anything at all and give a different warning because it is clearly not something anyone should ever write, and thus it is likely a bug.

[code]

#### Expected
I expected to see this happen (one of these):
* suggest corrected version
[code]

[2022-07-24 01:15] tigregalis commented on #57525
Would love this.

It is already called out as a future possibility in [RFC 2565: Attributes in formal function parameter position](https://github.com/rust-lang/rfcs/pull/2565)

[2022-07-24 01:20] jyn514 commented on #57525
The next step here is for someone to make a lang team MCP or RFC. It is not something rustdoc can do on its own.

[2022-07-24 01:22] #98629 closed

[2022-07-24 01:22] #99295 closed

[2022-07-24 02:21] AngelicosPhosphoros commented on #55005
@RalfJung Can we solve this by changing Drop trait API?

Something like this:

[code]

All existing code would just work because it delegates to old methods that accept the reference.
For cases like discussed ITT, user can implement it like this:

[code]

This way we would solve issues caused by dropping code like this without giving up `dereferencable` on `&UnsafeCell<X>` arguments.

[2022-07-24 02:27] RalfJung commented on #55005
It's not the reference in `drop` that caused the trouble. It's the `&self` reference in this `AtomucIsize` method:
[code]

Anyway, with https://github.com/rust-lang/rust/pull/98017 having landed, I think we can finally close this issue. :) We barely managed to do it in less than 4 years. :D

[2022-07-24 02:27] #55005 closed

[2022-07-24 02:44] compiler-errors commented on #99655
I think @PrestonFrom is working on this?

[2022-07-24 02:46] jyn514 commented on #99648
Mentoring instructions: change src/tools/x to have a better error in this case.

@ChrisDenton note you'll have to manually reinstall it once that's done; we don't currently have an upgrade path for that tool which is one of the reasons we're planning to use shell scripts in https://github.com/rust-lang/rust/issues/94829

[2022-07-24 02:46] PrestonFrom commented on #99655
Yea, I am! Sorry, taking a little longer than I expected.

Thank you for the additional test cases!

[2022-07-24 02:49] compiler-errors commented on #99655
No rush @PrestonFrom.

[2022-07-24 03:15] nyurik commented on #99655
@PrestonFrom awesome! I have been hacking on https://github.com/rust-lang/rust-clippy/pull/9233 -- a clippy lint to inline `print!("{}", var)` into `print!("{var}")`, and there are [a lot more test cases](https://github.com/rust-lang/rust-clippy/blob/43a8c95625003694ff2e4294f3bab5b674982031/tests/ui/inline_format_args.rs) including two that broke rustc up until a few days ago (note that that PR is

[2022-07-24 03:16] compiler-errors commented on #99655
Lol, yeah the current implementation in rustc doesn't track these spans either. :rofl:

[2022-07-24 03:37] kpreid commented on #91639
What about _just_ enabling `warn(elided_lifetimes_in_paths)`, with no specific plan to then make it an error? Then beginners get the help (at least, those who read warnings when they also have errors), and those who find the elided syntax useful can turn the lint off. That seems to me to be a substantial net improvement on the status quo.

[2022-07-24 04:08] Phosra opened #99656 "Example iterator fold vs. loop emit different code"
This simple example of a naive factorial (`n!`) implementation emits different code for using a range fold, and a loop over the iteration. Notably, the iterator fold emits many more instructions than the basic loop. This is unexpected, as this should be a zero-cost abstraction.

<https://rust.godbolt.org/z/3cMMh67rE>
[code]

@rustbot label I-heavy I-slow

[2022-07-24 04:12] Phosra commented on #99654
Yes, this `mut` definitely required in an older version... I don't know which one, if it matters.

[2022-07-24 04:56] dullbananas opened #99658 "Confusing error when forgetting a semicolon before an array"
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=24c2bfc94a9b3b8bf34128a19ea81041)

Given the following code:

[code]

The current output is:

[code]

This is very confusing unless you notice the missing semicolon. The error message should mention that `foo()[1, 2]` is interpreted as an indexing expression, with something like "error when parsing index expressio

[2022-07-24 05:31] alexschrod commented on #99637
I don't know if anyone else agrees, but this feels like some kind of boundary violation to me. If nothing else it cost me a bunch of time because I knew I wasn't supposed to have `.to_vec()` available to me, and yet it just kept on working. 😅

[2022-07-24 05:42] compiler-errors commented on #99490
I'm finding a few issues with this strategy. Firstly, since the typeck results have their non-late regions erased, I'm not exactly sure how we're supposed to use the erased hidden type to seed the borrowck hidden types.

One thought I had was that we could capture the opaque type key and hidden type's lifetimes in a binder, like generator interior does to avoid being erased in the typeck resuls.
S

[2022-07-24 06:08] oli-obk commented on #99490
Yes, that's why we actually need to do opaque type resolution in borrowck. The typeck hidden type would only be used as the initial value for the opaque types constrained by this item. All erased regions can be replaced by inference vars (which is effectively what borrowck does for all regions in the MIR). Then, the each time the hidden type is constrained again, the inference lifetimes from the s

[2022-07-24 06:21] oli-obk commented on #99642
Duplicate of https://github.com/rust-lang/rust/issues/96572

[2022-07-24 06:23] oli-obk commented on #99642
No wait, huh? That's another issue

[2022-07-24 06:24] oli-obk commented on #99642
This must've been broken before. That revert should not be able to cause a stable to nightly regression

[2022-07-24 06:39] bsilver8192 commented on #59426
Looks like this got fixed at some point, the warning includes this now:
[code]

[2022-07-24 06:44] bsilver8192 opened #99661 "Overeager `consider adding a #[cfg(test)]` for unused imports in `mod tests` with the cfg"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=8d2bf12d3315c3719787852baf7e0ba0 (make sure to use TEST instead of BUILD even though there are no tests in this minimal example):

[code]

The current output is:

[code]

The `help: consider adding a #[cfg(test)] to the containing module` does not apply here, because that has already been added. The p

[2022-07-24 07:06] taiki-e commented on #73908
For CI:

- AWS now has macOS M1 instance (preview): https://aws.amazon.com/en/blogs/aws/use-amazon-ec2-m1-mac-instances-to-build-test-macos-ios-ipados-tvos-and-watchos-apps/
- Cirrus CI's macOS VM is now M1: https://cirrus-ci.org/guide/macOS

(FWIW, we are using the later in [crossbeam's CI](https://github.com/crossbeam-rs/crossbeam/blob/master/.cirrus.yml#L22-L39))

[2022-07-24 07:39] reez12g commented on #99648
@rustbot claim

[2022-07-24 08:16] pwnorbitals commented on #74836
If this is closed, the warning update on this page might be outdated : https://doc.rust-lang.org/reference/expressions/array-expr.html

[2022-07-24 08:26] matthiaskrgr opened #99662 "ICE: "region constraints already solved'": with_negative_coherence"
### Code
`./src/test/ui/coherence/coherence-negative-outlives-lifetimes.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc  ./src/test/ui/coherence/coherence-negative-outlives-lifetimes.rs "-Zcrate-attr=feature(with_negative_coherence)"`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-24 08:51] compiler-errors commented on #99490
I'm mostly writing this out for my understanding, and to express some continuing confusion.

So I've gathered that we handle opaque types in two stages during borrowck -- first during `type_check`, where we collect a list of opaques `opaque_type_values: VecMap<OpaqueTypeKey, OpaqueTypeDecl>` , and then later on in `RegionCtxt::infer_opaque_types`, where squash all of the `OpaqueTypeKey`s with diff

[2022-07-24 08:59] Hirrolot opened #99663 "Documentation build failed for `teloxide` v0.10.1"
The full log is available from this link: https://docs.rs/crate/teloxide/0.10.1/builds/597656.

### Meta

From the aforementioned link:

[code]

[2022-07-24 09:00] aliemjay commented on #99642
I was wrong, bisection points to #99506.  I guess it is #99383. Cc @ouz-a.

[2022-07-24 09:16] rust-highfive opened #99664 "`miri` no longer builds after rust-lang/rust#98674"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#98674, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @RalfJung, do you think you would have time to do the follow-up work?
If so, that would be great!

[2022-07-24 09:34] compiler-errors commented on #99663
Do you have a more concise way of reproducing this? I can't seem to get it to ICE when I run with `+nightly-2022-07-21`, no matter if I use `cargo +nightly-2022-07-21 rustdoc`, etc.

[2022-07-24 09:42] compiler-errors commented on #99663
nvm, should be using `+nightly-2022-07-22`..

[2022-07-24 10:10] WaffleLapkin commented on #99663
This is actually reproducible even with [`teloxide-core`](https://github.com/teloxide/teloxide-core). It seems to only ICE with `nightly` feature.

Command for reproduction: `cargo +nightly-2022-07-22 c --features=nightly`
<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

We don't use `nightly` feature much, so it should be easy, to make a MRE, I'll try.

[2022-07-24 10:26] windowsboy111 opened #99665 "borrowck: no entry found for key"
See code at ~~https://github.com/windowsboy111/rustc-bug-reproduce~~ https://github.com/rust-lang/rust/issues/99665#issuecomment-1193319943.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

(edit starts here)
To people who are reading:
# This Github issue contains 2 ICE issues
The original

[2022-07-24 10:27] compiler-errors commented on #99663
I found an MRE. I'll put up a fix in a second.

[2022-07-24 10:33] WaffleLapkin commented on #99663
I found a MRE too :(

[code]

[2022-07-24 10:49] compiler-errors commented on #99663
+1, I basically reproduced that in the UI test https://github.com/rust-lang/rust/pull/99666/files#diff-269b1c1ea2d431a283067ef6982b52c20379f0631bc6d3714cc2cfb1429907e0 but manually expanding the part of the `pin_project` macro that causes the ICE.

[2022-07-24 10:56] 5225225 commented on #99665
Minimised example:

[code]

[2022-07-24 11:06] 5225225 commented on #99665
searched nightlies: from nightly-2022-04-01 to nightly-2022-07-24
regressed nightly: nightly-2022-06-08
searched commit range: https://github.com/rust-lang/rust/compare/50b00252aeb77b10db04d65dc9e12ce758def4b5...5435ed6916a59e8d5acba2149316a841c3905cbd
regressed commit: https://github.com/rust-lang/rust/commit/bb55bd449e65e611da928560d948982d73e50027

<details>
<summary>bisected with <a href='http

[2022-07-24 11:21] windowsboy111 commented on #99665
![image](https://user-images.githubusercontent.com/48051237/180644567-2e23daa6-7307-45c4-bd49-191c6c98a975.png)
The minimised code is actually a separate issue; no ICE under stable.

[2022-07-24 11:26] Centimo commented on #31844
I found a strange compiler behavior, and I think it's a specialization bug.
[code]
[code]

[2022-07-24 11:37] GuillaumeGomez commented on #57525
Just something I thought about (not a blocker): I hope it won't increase rustdoc source code complexity too much and won't have a negative impact on performance. But I still like the idea.

[2022-07-24 11:56] GuillaumeGomez commented on #93330
I see the function in both cases without problem:

![Screenshot from 2022-07-24 13-54-55](https://user-images.githubusercontent.com/3050060/180645831-34b68ee1-c4d3-4f9a-bd67-9909985cee50.png)
![Screenshot from 2022-07-24 13-54-47](https://user-images.githubusercontent.com/3050060/180645830-b1027f26-0510-409d-997f-29ca4e2c0431.png)

So either I don't understand the issue, or it's not an issue. Clos

[2022-07-24 11:56] #93330 closed

[2022-07-24 12:07] Amanieu opened #99668 "How should we expose atomic load/store on targets that don't support full atomics"
Some embedded targets (`thumbv6m`, `riscv32i`) don't support general atomic operations (`compare_exchange`, `fetch_add`, etc) but do support atomic `load` and `store` operations. We previously supported this on `thumbv6m` (but not `riscv32i`, see #98333) by `cfg`ing out most of the methods on `Atomic*` except for `load` and `store`. However recent changes to LLVM (#99595) cause it to emit calls to

[2022-07-24 12:13] cjgillot opened #99669 "Investigate mutating the AST during late resolution"
Late name resolution happens on the AST and is responsible for finding which definition each name in the AST points to, be it a type, trait expression, pattern, lifetime or label.  The name "late" means that this resolution happens after all macros have been expanded, in opposition to "early" resolution which resolves macros.  The corresponding code lives in `rustc_resolve::late`.

The results of

[2022-07-24 12:15] jamesmunns commented on #99668
Just wanted to add my $0.02, option two, "Remove support for atomic load/store on targets that don't support full atomics", would be a breaking change to (at least) one Tier 2 target: `thumbv6m-none-eabi`.

It would break a non-trivial number of embedded projects (there are lots of Cortex-M0+ cores out there, including the very popular RP2040), and might not be picked up by a crater run, as crate

[2022-07-24 12:16] jamesmunns commented on #99668
Also just as a note, we might want to check in that `armv5te` still builds with these relevant changes. It has "native" load/stores, but no CAS operations. These are provided by an OS-level polyfill for the linux target.

It's likely their load/stores will also be affected by any change here.

[2022-07-24 12:19] Amanieu commented on #99668
AFAIK `armv5te` should not be affected by this change, but we should double check with the upgrade to LLVM 15.

[2022-07-24 12:20] adamgreig commented on #99668
Currently [the core::ptr docs](https://doc.rust-lang.org/nightly/core/ptr/index.html#safety) say:

One downside of requiring users on these platforms to use volatile ops instead is that (in Rust) volatile is a property of an access (so a static UnsafeCell/static mut could still be accessed with a non-volatile operation) while the Atomic types only have atomic operations (via AtomicU8, AtomicBool,

[2022-07-24 12:25] taiki-e commented on #99668
That is unsound on multi-core systems. (See https://github.com/tokio-rs/bytes/issues/461#issuecomment-1072028462 for an approach to handle such cases soundly.)

[2022-07-24 12:27] adamgreig commented on #99668
I thought it used the [critical-section](https://crates.io/crates/critical-section) crate, which requires users to provide a critical section implementation for their system - so on a multi-core system you need to provide something with the appropriate guarantees, and it won't compile if no implementation is provided. It doesn't simply disable all interrupts on the CM0 core to obtain the CAS locks

[2022-07-24 12:28] petrochenkov commented on #99669
I'm not sure whether it's a good idea in general, but the implementation/prototyping here can be simplified by splitting this job into two steps:
- Step 1: turn the AST mutation into a separate `MutVisitor` pass that runs immediately after late resolution and uses the tables built by immutable late resolution. This pass becomes a some kind of "pre AST lowering" or "early AST lowering". The equival

[2022-07-24 12:29] petrochenkov commented on #99669
@cjgillot
How does all this map on incremental compilation changes you've been planning to do?

[2022-07-24 12:36] apiraino commented on #99668
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2399668.20How.20should.20we.20expose.20atomic.20load.2Fstore.20on.20targets.20th.E2.80.A6)).

@rustbot label -I-prioritize +P-critical +T-compiler

[2022-07-24 12:55] ltratt commented on #99280
@semarie It's happening in a network facing daemon and the problem happens intermittently under some sort of load: I haven't been able to work out any real way to replicate it. My best attempt to cut the problem down is something like:

[code]

but this doesn't trigger the bug. I'm at a bit of a loss, to be honest.

[2022-07-24 12:58] taiki-e commented on #99668
FWIW, my [portable-atomic](https://github.com/taiki-e/portable-atomic) crate implements the equivalent of the atomic types that will be removed in https://github.com/rust-lang/rust/pull/99595 ([by using inline assembly](https://github.com/taiki-e/portable-atomic/pull/18)). It also provides equivalents on other platforms where atomic load/store is not provided (riscv without A-extension, msp430, av

[2022-07-24 13:11] jyn514 commented on #93330
Please don't ping me here or on Zulip, I'm no longer on the rustdoc team. There's a #rustdoc Zulip channel you can use

[2022-07-24 13:12] robbert-vdh commented on #99596
This also seems to affect at least `x86_64-unknown-linux-gnu`, `x86_64-pc-windows-gnu`, `x86_64-apple-darwin`, and `aarch64-apple-darwin`. Since about three days ago `#[no_mangle]`+`#[used]` static symbols no longer appear in the data section (/other platform's equivalents). With an explicit `#[used(linker)]` it works, but that feature is of course still unstable.

[2022-07-24 13:14] thomcc commented on #99596
Hm, interesting. That doesn't make much sense at  I suspect this is an issue with how we compile `#[used(linker)]`? That patch just selects between `#[used(linker)]` and `#[used(compiler)]` based on some settings. CC @nikic, who might have more of an idea about why it may be broken.

I don't have time to fix this right now, and it's very non-obvious to me why this would happen, so if it's as broke

[2022-07-24 13:21] reez12g commented on #93330
Sorry, I'll be careful next time. Thank you very much.

[2022-07-24 13:31] RalfJung commented on #99668
That seems in conflict with us telling people for years now that volatile operations are *not* atomic. And they aren't, so this strategy risks subtle miscompilations.

[2022-07-24 13:36] 5225225 commented on #99665
[code]

Hmm... try this? This *does* seem to ICE on stable.

[2022-07-24 13:37] taiki-e commented on #99668
If we implement this in the compiler (i.e., the first way that Amanieu mentioned), I think it is safe to use volatile load/store -- If there are tests to ensure that these operations are lowered properly by LLVM, we can guarantee compiler that abusing UB of using non-atomic volatile load/store as atomic load/store will never be shipped.

[2022-07-24 13:40] uselessgoddess opened #99675 "Compile error when conditionally compilation nightly const_trait_impl"
I tried cfg nightly feature `const_trait_impl` and I get a compilation error with the following code:
[code]
But this leads to compile error (with `cargo run`):
[code]

For example, with `try_blocks` feature there is no compile error:
[code]
I think it looks like a bug, is it?
---
I use `nightly-x86_64-pc-windows-msvc - rustc 1.64.0-nightly (93ffde6f0 2022-07-23)`

[2022-07-24 13:50] RalfJung commented on #99668
If we do this *after* LLVM, yes.
But if we tell LLVM that these are (implicitly non-atomic) volatile accesses, it might optimize accordingly. So at that point inline assembly would be the safer choice.

[2022-07-24 13:50] thomcc commented on #99596
The first PR should definitely fix this. The second fixes the bug. I don't really have the ability to dig into this at the moment, but this should unblock either option.

That said, some evidence in favor of reverting is that this may have been fixed in the meantime, perhaps by https://github.com/rust-lang/rust/pull/95604 ? Not sure.

[2022-07-24 14:00] nikic commented on #99668
I think the ideal solution would be to add a new target feature to LLVM, which makes the promise that no atomic CAS will be used, and thus allow lowering atomic load/store without libcalls (I've commented to that effect here: https://reviews.llvm.org/D120026#3674333). That would restore the status quo.

We should probably also document the special assumptions made by this target (or any other with

[2022-07-24 14:02] windowsboy111 commented on #99665
I'd say this is probably the same even though this panics at `compiler/rustc_borrowck/src/region_infer/mod.rs:2174:9`, which has a different line number to the original ICE.

[2022-07-24 14:04] nagisa commented on #43894
The extern-fn-struct-passing-abi test still fails with 1.59.0:

[code]

Unfortunately there are no nightly/beta/etc. builds of rustc for sparc, and I couldn’t be bothered enough to figure out how to crosscompile/get x.py work with the stable host rustc/if it would work at all.

1.59.0 sounds like a recent enough version to be a meaningful enough update for this issue though ^^

[2022-07-24 15:18] gimbles commented on #99653
@rustbot claim

[2022-07-24 15:35] Xenunxenunowski commented on #61405
could be a great thing for new comers :)

[2022-07-24 15:38] eddyb commented on #99440
Well, ignore all that, this one was user error: @matthiaskrgr had `LD_LIBRARY_PATH` set, causing this behavior:

@eddyb:
[code]
@matthiaskrgr:
[code]

(system libs omitted for brevity)

Note how in @matthiaskrgr's case, instead of doing the relative `../lib` traversal specified in the rpath of `librustc_driver-*.so`, it actually uses the fully absolute path to the `nightly` toolchain.

That happen

[2022-07-24 15:58] Joshimmor opened #99681 "https://doc.rust-lang.org/error-index.html"
New to rust , would like to contribute. I would like to find a better way to navigate this page. I could work on that if you show me the front end component

[2022-07-24 15:59] eddyb commented on #99440
Aha! And here's why @matthiaskrgr's setup only broke now:
[code]
Unrelated(?) to the LLD change, in the same nightly, we stopped changing `rustc_driver`'s file hash - not sure if this is intentional or coincidental.
I believe @matthiaskrgr at the time had `nightly-2022-07-18` as the `nightly` toolchain, and so `librustc_driver-47fae6bd857f5148.so` was being used from there, instead of from the too

[2022-07-24 16:04] RalfJung opened #99682 "'cargo check' passes but 'cargo build' fails"
Consider the following code:
[code]
When I do a check-build of this (`rustc --emit=metadata`), it works fine. But when I do a full build (`rustc --emit=link`), it fails:
[code]
This is a post-monomorphization error. It is a long-known problem but I could not find an issue tracking it.

It seems worth tracking as it is rather surprising, so if we can find a way to fix it, that would be great. It al

[2022-07-24 16:05] RalfJung commented on #99682
So what would be a way to fix it? The only option I can think of right now is to perform some kind of "fake monomorphization" with `--emit=metadata`, to ensure that we actually evaluate all the constants that will be evaluated in a proper build, but skipping all the actual generation of LLVM IR.

[2022-07-24 16:25] Mark-Simulacrum opened #99683 "regression: Join impl for OsStr insufficiently generic"
In https://crater-reports.s3.amazonaws.com/beta-1.63-2/beta-2022-07-16/reg/belong-0.1.0/log.txt, the code is using a custom Join trait (https://github.com/rossmacarthur/belong/blob/master/src/util.rs#L61) with a different signature from the impl added in https://github.com/rust-lang/rust/pull/96881 (taking `AsRef<OsStr>` rather than &OsStr, I think). The std impl is preferred since `slice::join` i

[2022-07-24 16:28] Mark-Simulacrum opened #99684 "regression: "self" in writeln! drops too early"
In https://crater-reports.s3.amazonaws.com/beta-1.63-2/beta-2022-07-16/reg/cabot-0.7.1/log.txt, it looks like the `stderr()` temporary isn't living long enough with the changes after https://github.com/rust-lang/rust/pull/96455. However, I've not actually bisected or investigated thoroughly to confirm this -- it seems likely that this is the expected breakage noted in the FCP comment here (https:/

[2022-07-24 16:28] Mark-Simulacrum commented on #99116
* https://crater-reports.s3.amazonaws.com/beta-1.63-2/beta-2022-07-16/reg/gapbuf-0.1.3/log.txt
  * breaks due to ptr::* and mem::* imports now conflicting on finding `copy`, seems like acceptable breakage
  * No issue filed, obvious "ok" breakage, just the one crate.
* https://crater-reports.s3.amazonaws.com/beta-1.63-2/beta-2022-07-16/reg/belong-0.1.0/log.txt
  * https://github.com/rust-lang/rust

[2022-07-24 16:30] cr1901 opened #99685 "Binary size regression on msp430 due to #98582"
I recently had CI start [failing](https://github.com/cr1901/AT2XT/runs/7380638368#step:9:71) for some firmware I use to make sure Rust still compiles msp430 code correctly. It appears that as of #98582, Rust has stopped optimizing out dead panic code; there is no I/O device to send the panic strings to, and so panic strings- and setting up arguments to access panic strings- should be considered de

[2022-07-24 16:55] dtolnay commented on #99684
Yeah this would be #96455; it's the "needs_late_drop" due to "custom signature for write_fmt" situation described in https://github.com/rust-lang/rust/pull/96455#issuecomment-1110522350.

https://docs.rs/async-std/latest/async_std/io/prelude/trait.WriteExt.html#method.write_fmt

[code]

IMO this signature obviously doesn't fit the "contrived" characterization I made about custom write_fmt signatur

[2022-07-24 17:22] gimbles commented on #99681
Heyo @Joshimmor! Welcome to Rust! 🦀 🤎

I appreciate the enthusiasm, however it would be better to share exactly how you would like to improve the page.

Moreover, prefer to change the title and the description of the issue to be more specific. Something along the lines "Possible improvement in said webpage" and then the description including how it can be improved would be ideal.

Thanks!

[2022-07-24 17:22] dtolnay commented on #99684
Sadly I think that combination might be impossible to implement (from a brief attempt) and we'll end up forced to drop the format args of `write!` and `writeln!` late as well.

[2022-07-24 17:24] eddyb commented on #47815
@nikomatsakis So I think there's a nice framing of this, esp. given `impl Trait`:

Out of these 2, [we only allow the first (`assoc`)](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5a2843d41983ff9fb93f4c632cb7afc1):
[code]

Why is that? Well, the argument goes something like this:
[code]
(though IIUC we may choose to only apply the `forall` form to `impl Fn(impl Trait)`?

[2022-07-24 17:33] dtolnay commented on #99684
Some nonworking implementations:

[code]

[code]

[code]

[2022-07-24 17:34] eddyb commented on #47815
Note that the `exists` formulation also helps with code like this [that works on stable](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=2a2608b803c0ec8fd1220b238f70a0cb):
[code]

Inside a body, every `_` is an inference variable, which is why this works today.

But what is an "inference variable" other than a body-scoped `exists`? (which is also how `impl Trait` works when

[2022-07-24 17:38] dtolnay commented on #99684
I think I got it:

[code]

[2022-07-24 17:57] CAD97 commented on #99675
So this is the difference between "syntax valid" and "semantics valid".

If an item is `#[cfg]`'d out, it is still checked for being valid syntax. Though various (perhaps incidental) decisions, `try { }` is a stable syntax, but `~const Trait` is an unstable syntax. The consequence of this is that `try { }` has to always be accepted syntax for `#[cfg(FALSE)]` and proc macro attribute input, but `~c

[2022-07-24 18:01] uselessgoddess commented on #99675
Ok, thanks for your reply

[2022-07-24 18:25] dtolnay commented on #99684
I put up a revert for now in #99689.

[2022-07-24 18:53] tgross35 commented on #83186
Is there any chance the docs could be clarified a bit? (assuming that's relevant to talk about in this thread, I don't know any better)

[code]

It's kind of a quadruple negative `doesn't + silently ignore + unrelated + not existing` and it's been a bit tricky wrapping my brain around. If I understand it correctly, I think something like the following might be a bit easier to read:

[code]

[2022-07-24 18:56] camelid commented on #57525
Yeah, we should make sure that we feel comfortable with the implementation approach. However, I think since we already have items that are not actually items (e.g., fields), it shouldn't be too different from existing stuff.

[2022-07-24 19:00] jsha opened #99691 "rustdoc: mobile sidebar has gap at top and bottom"
Steps to reproduce:

1. In mobile Chrome, visit https://doc.rust-lang.org/nightly/std/index.html.
2. Click the hamburger menu in upper left.

Expected results:

Sidebar opens and presents a solid background with no gaps.

Actual result:

Sidebar opens and there is a gap at top and bottom showing the main page.

![image](https://user-images.githubusercontent.com/220205/180661938-9e03314b-f411-4e07-

[2022-07-24 19:02] GuillaumeGomez commented on #99691
I's pretty bad indeed. I'll take a look at it tomorrow.

[2022-07-24 19:20] jsha commented on #98929
I can't claim to have the definitive answer here but I lean towards displaying what the doc author wrote. This makes it possible to express either semantic. If the doc author wants to hide the details of a complex object, they write a `const fn` that evaluates to the thing they want, and use that in the assignment. If the doc author wants to show the details, they can evaluate it once and write an

[2022-07-24 20:00] compiler-errors commented on #99661
cc @TaKO8Ki who added this I think

[2022-07-24 20:23] dtolnay commented on #41875
I put up a pre-RFC in https://internals.rust-lang.org/t/pre-rfc-non-footgun-non-static-typeid/17079 with a counterproposal that unblocks many of the use cases that wanted non-'static TypeId, but in a way that does not open up the risks that have been discussed above in this issue.

[2022-07-24 20:30] workingjubilee commented on #99542
Some of the built objects in question may need to specify `Tag_ABI_VFP_args = 3`, which is a declaration that the flag should be ignored (implicitly: because it is irrelevant). I believe some of the objects you mention are integer-only objects, in which case emitting `3` would be correct.

[2022-07-24 20:33] Jardynq opened #99693 "Chaining too many iterators in nightly debug causes stack overflow"
I tried this code:

[code]

I expected to see this happen:
That iter.next() would run and the result is ignored, then the program continues on.

Instead, this happened:
The program crashes with exit code: 0xc00000fd, STATUS_STACK_OVERFLOW

Though I would like to note that I'm not expecting iter being able to chain infinitely many iterators together, but code similar to this has  worked in previous

[2022-07-24 20:52] CAD97 opened #99694 "import #[macro_export] from crate root help uses 2015 use syntax"
Given the following code: [[playground]](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=de0dfebeda4fa8465ec8b3653401948d)

[code]

The current output is:

[code]

This is using the edition2015 syntax to import from the crate root, rather than the edition2018+ required `crate::nu`.

Related: #

@rustbot label +D-edition +D-invalid-suggestion

[2022-07-24 20:52] CAD97 opened #99695 "import #[macro_export] from crate root help broken by use trees"
Given the following code: [[playground]](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=48dddf636bdd62b020eaea0bd0e04393)

[code]

The current output is:

[code]

<details><summary>If the starting order is reversed, the suggestion puts the macro first in the tree</summary>

[code]
</details>

This is suggesting to change the code to itself 🙃 It needs to move the import in

[2022-07-24 20:54] CAD97 commented on #99694
In this case, the ideal solution is actually to write just `pub use nu;` and get the import from legacy-lexical-macro-scope into the namespace.

[2022-07-24 20:57] vincenzopalazzo commented on #99669
I'm taking a lock on it because its feet on my learning path! and see the evolution of the discussion in the meanwhile

@rustbot claim

[2022-07-24 20:57] CAD97 commented on #99695
In this case, the ideal solution is actually to write just `pub use nu;` and get the import from legacy-lexical-macro-scope into the namespace. I originally hit this with just multiple macros in the use tree, and removing the `self::{}` was the correct fix. I "simplified" for the error report to use a second non-macro item here (to reduce the number of diagnostics).

So bonus challenge: handle thi

[2022-07-24 20:58] eddyb commented on #41875
There was one usecase which came up early on IIRC, that wouldn't be solved by the "dynamic conservative `: 'static` check" shenanigans, which was something like `TypeId::of::<Foo<'a>>()` being used as a workaround `TypeId::of::<FooTag>()`.

Nevertheless, I'm extremely wary of anything allowing actual lifetimes in there, compared to just doing the `: 'static` check in a different way (which "just"

[2022-07-24 21:00] CAD97 commented on #99695
@rustbot label +D-invalid-suggestion

It's not producing *invalid* code, but it's surely suggesting a fix which will cause an error (the identical one).

[2022-07-24 21:08] WaffleLapkin commented on #99272
fyi: I've opened an uplifting PR: https://github.com/rust-lang/rust/pull/99696

[2022-07-24 21:12] 5225225 commented on #99693
Pro tip, if you want a backtrace from a stack overflow, use `RUSTFLAGS="-Zsanitizer=address"`.

It doesn't give anything terribly interesting

[code]
(i cut it off at there, but it just repeats up to 246 entries long).

[2022-07-24 21:21] ouz-a commented on #99642
@rustbot claim

[2022-07-24 21:25] pierzchalski commented on #62924
This seems to have stalled, anything I can do to help push it along?

[2022-07-24 21:30] WaffleLapkin opened #99697 "Tracking Issue for `impl Trait` as output type of `Fn` traits in function return position"
This is a tracking issue for `impl Trait` as output type in `Fn` traits in return position of functions, for example `fn f() -> impl Fn() -> impl Sized { ... }`.
The feature gate for the issue is `#![feature(impl_trait_in_fn_trait_return)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant

[2022-07-24 21:36] #99654 closed

[2022-07-24 21:42] darbysauter commented on #99542
yeah sounnds like a reasonable solution. I ended up going to nightly and there were less objects failing. And then i added the crate: https://github.com/rust-lang/compiler-builtins

And now my project compiles fine

[2022-07-24 21:54] dmccreary opened #99699 "Guessing Game Does Not Work On Current Release"
### Location

In the Rust Language Book, In Chapter 2, the guessing game does not work:

https://doc.rust-lang.org/book/ch02-00-guessing-game-tutorial.html#processing-a-guess

this line:

println!("You guessed: {guess}");

Generates the error:

error: there is no argument named `guess`

But this works:

println!("You guessed: {}", guess);

There is a similar problem with secret_number

[2022-07-24 21:55] nikic commented on #99668
Dropping regression label and downgrading priority as the change is reverted now. We still need a solution for the LLVM upgrade of course.

Quoting Eli's response from https://reviews.llvm.org/D120026#3674604:

I think option one is what we want, and it seems like a pretty elegant solution. With a custom target spec one could even set `atomic_cas: true`, as long as one provides the necessary `__sy

[2022-07-24 22:11] mqudsi commented on #99699
My guess: you're using an old version of rust.

[2022-07-24 22:40] JohnTitor commented on #99699
Yeah, I think so too. You have to use Rust 1.59 or higher as described in https://doc.rust-lang.org/book/title-page.html (or 1.62 if you're reading https://doc.rust-lang.org/nightly/book/title-page.html), could you check your Rust version (`rustc -vV` will show it)?

And this repo's issue tracker is for the Rust compiler, std, and some more stuff, issues related to the book should go to https://gi

[2022-07-24 22:40] #99699 closed

[2022-07-24 22:50] aliemjay commented on #99665
@rustbot claim

[2022-07-24 23:34] Amanieu commented on #99668
I believe load/store atomics are mainly used for synchronization with an interrupt handler. Somewhat like `volatile sig_atomic_t` in C, hence my suggestion to lower it to volatile load/store.

[2022-07-24 23:55] 5225225 opened #99701 "Miri `-Zmiri-retag-fields` libstd test failure inside `VecDeque::drain`"
Using https://github.com/rust-lang/miri-test-libstd, running `MIRIFLAGS="-Zmiri-retag-fields" ./run-test.sh alloc --all-targets collections::vec_deque::tests::test_drain`, I get

[code]

The test is a bit large, will try and shrink this down, but figured I'd make the issue now. I can reproduce this by copy pasting the test into a normal rust file.

[2022-07-25 00:00] 5225225 commented on #99701
[code]

And here's a minimal example.

[2022-07-25 00:32] adamgreig commented on #99668
I think almost all use cases are indeed synchronisation with interrupt contexts, but then again that's pretty much the only concurrency present in many bare-metal thumbv6-m systems. Usually multi-core Cortex-M0 systems (like RP2040) have to use some hardware-specific primitive for cross-core synchronisation, which is outside the scope of atomics.

Many uses are probably in application firmware whi

[2022-07-25 00:48] 5225225 commented on #99701
Okay, thinking out loud as to what the problem is.

I'm being told that I can't do this copy, because some allocation that was created, is protected. It's the drop in the `spec_extend`. When you go to drop `tester.drain(1..2)`, for some reason it can't go and read from it? `not granting access to tag <2685105> because incompatible item [SharedReadOnly for <3084900>] is protected by call 841439` im

[2022-07-25 00:52] Lokathor commented on #99668
If you're looking for examples: on the GBA (ARMv4T / ARM7TDMI) I do exactly what you're describing with UnsafeCell so that the interrupt handler can communicate with the main program ([gba_cell.rs](https://github.com/Lokathor/gba2k/blob/main/src/interrupts/gba_cell.rs)). Currently this is technically unsound to mix with non-volatile accesses (though in practice there's never been an issue).

[2022-07-25 00:59] TaKO8Ki commented on #99661
@bsilver8192 What version of Rust do you use? rustc on stable and latest nightly does not seem to show your output.

latest nightly: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=780b40403d24e4ebf3d612ffafe53d86

[2022-07-25 01:45] saethlin commented on #99701
I never gave the protector errors much love because they're relatively rare to encounter. In general, if you're asking "is that information we have" the answer is yes.

I'm wary of writing an error code library with suggestions for Miri because I think the effort there scales relatively poorly. That's why I've focused on surfacing more information in the diagnostics (which as you point out, is not

[2022-07-25 02:21] saethlin commented on #99701
We debugged this in the community Discord. The problem is that `VecDeque`'s `Drain` type:
https://github.com/rust-lang/rust/blob/3ae03e027a66744e934a7bfa7127256489bed3c2/library/alloc/src/collections/vec_deque/drain.rs#L16-L25
wraps `VecDeque`'s `Iter` type: https://github.com/rust-lang/rust/blob/3ae03e027a66744e934a7bfa7127256489bed3c2/library/alloc/src/collections/vec_deque/iter.rs#L15-L19

But

[2022-07-25 02:54] gcxfd commented on #90091
maybe can add split_array to Box<[T]> ?

[2022-07-25 03:31] mqudsi commented on #99682
Tangential question: is there an official guarantee as to what `cargo check` is supposed to catch?

[2022-07-25 03:45] mqudsi commented on #99656
On your wasm target, [this was nicely optimized in 1.33.0](https://rust.godbolt.org/z/hrs3n4aT8), 1.34.0 [introduced a change](https://rust.godbolt.org/z/rf5Y9z5E3), 1.56.0 [made it much worse](https://rust.godbolt.org/z/cKfGE69z8).

On x86, 1.34 [actually improved the results](https://rust.godbolt.org/z/dbPd4sfqn) considerably [over 1.33.0](https://rust.godbolt.org/z/xW4773Ex5). 1.42.0 [has nice

[2022-07-25 04:03] mqudsi commented on #99683
It *would* be nice if the `slice_concat_ext` impl could also be updated to `AsRef<OsStr>`; as for conflicts, `Path` implements `AsRef<OsStr>`, doesn't implement `Join`, but would probably benefit from this impl (join an array of paths with a `/` separator?). but I think the question would be `String`/`str` which both implement `AsRef<OsStr>` but we obviously want them using their own `Join` impls

[2022-07-25 04:32] CAD97 commented on #99701
That means the fix should fairly simple to use `IterMut` instead of `Iter`, right? [IterMut](https://github.com/rust-lang/rust/blob/3ae03e027a66744e934a7bfa7127256489bed3c2/library/alloc/src/collections/vec_deque/iter_mut.rs#L13-L20) is already using a pointer rather than a reference, so `Drain` aliasing it shouldn't be an issue.

[2022-07-25 05:05] bsilver8192 commented on #99661
I'm using 1.62.1. Indeed it looks like it's already fixed, thanks for taking a look!

[2022-07-25 05:05] #99661 closed

[2022-07-25 06:06] alexschrod commented on #99637
I'm seeing more strange behavior related to this odd `alloc` "leak." I had this problem:
[code]
(which makes sense, we're in `#![no_std]` right? So I changed it to `alloc::format!`, but still:
[code]
Right! I forgot to add `extern crate alloc;`! But uh...:
[code]
It finally compiles with `extern crate alloc;` there, though. (I have `#[warn(unused)]` there because my crate-wide setting is `#![deny(

[2022-07-25 06:30] luojia65 commented on #99668
In RISC-V the ISA (micro architecture implementation) would provide different levels of atomic instructions, but different address range in internal bus would choose to support them or not. In this way when I develop RustSBI, I use inline assembly directly to avoid problems on atomic operations

[2022-07-25 06:43] Xiretza commented on #71083
Should the `type T = impl Debug;` in the trait impl really be required? Shouldn't this also work?

[code]

With a `type T: Debug = impl Debug;` in the trait declaration, it's clear that a concrete type still has to be decided by the trait impl; it can either use `type T = Concrete;` to override the opaqueness, or do nothing at all to "inherit" the opaque associated type from the default.

[2022-07-25 07:06] Aaron1011 commented on #86935
The main use-case would be macros (for example, if you want to assert a type built from a user-provided type). However, I don't know if there are currently any macros in the wild that would benefit from this.

[2022-07-25 07:06] Darksonn commented on #84223
This has had a stabilization PR merged, but the todo list still lists the stabilization PR as missing.

[2022-07-25 07:37] jannic commented on #99668
There is also code like https://github.com/rp-rs/rp-hal/blob/main/rp2040-hal/src/rom_data.rs#L80-L92, where a data race would not really matter as the value written is always the same. I think in this case the AtomicU16 is only necessary because otherwise the concurrent access would be technically UB.

Or more general, code that doesn't care if it reads the old or the new value of some memory whic

[2022-07-25 07:49] tyranron commented on #86935
The situation where we name a concrete type via an associative type is quite regular in macros, yes.

At least, [`#[cucumber::when]` does](https://github.com/cucumber-rs/cucumber/blob/v0.13.0/codegen/src/attribute.rs#L148-L155).

[2022-07-25 07:52] #88180 closed

[2022-07-25 08:51] Nassiel commented on #99668
In heap and global allocators is very frequent to use it. Being able to ensure that read and write are linearly executed is critical, while CAS is only necessary against interruptions in the case of single core chps, something "easily" fixable.

That's why I guess, many single cores don't implement natively the CAS and, I'd say all, multi-core CPUs have CAS, due to being impossible to ensure inter

[2022-07-25 08:57] estebank commented on #99645
The two "solutions" to get the code to compile are

[code]

and

[code]

I was surprised because, I expected an E0106 or a lint about referring to `A` without a lifetime set. I originally thought it is because we don't check trait bounds, but we don't seem to complain about it in fn arguments either. :-/

[2022-07-25 09:01] thomcc commented on #95969
In https://github.com/rust-lang/rust/pull/96110#issuecomment-1134133493 there are several reasons this should probably be closed. Further work on this (perhaps in the form of a more fleshed out `{core,std}::ascii` as mentioned) should be done as an API Change Proposal, rather than in this issue -- see https://std-dev-guide.rust-lang.org/feature-lifecycle/api-change-proposals.html for more info on

[2022-07-25 09:01] #95969 closed

[2022-07-25 09:31] dhardy commented on #91639
I'd like to add some data-points...

First, (embarrassingly) I [had to ask](https://internals.rust-lang.org/t/implied-lifetime-of-parameter-to-fnonce-trait/17068/9) what this means:
[code]
The answer is obvious enough when you see it:
[code]

---

Second, for parameters passed into methods, this can come up a lot, and it's tedious. This is mentioned above:

- `fn fmt(&self, fmt: &mut fmt::Formatte

[2022-07-25 09:34] jannic commented on #99668
rp2040 is multi-core and doesn't have CAS. Yes, it's strange.

[2022-07-25 09:40] dhardy commented on #99645
Maybe this is obvious to you, but the latter "solution" is a foot-gun. Try adding a method to `Foo`:
[code]

[code]
Whoops, how do we solve that? Add a lifetime parameter to `Foo` (`Foo<'a>`)? That completely changes the meaning.

[2022-07-25 09:40] Neo-Zhixing opened #99705 "No associated item found when the associated item was used as const generic parameter in return type"
I tried this code:

[code]

This code should compile normally.

Instead, this happened:

[code]

In the `test` function, T was already bounded by the `Foo` trait which does have an associated item named `ABC`. However, Rust complains that no associated item named `ABC` was found for `T`.

### Meta

`rustc --version --verbose`:
[code]

[2022-07-25 09:55] oli-obk commented on #99490
You have identity substs, so yea, we could do it at the end where we convert everything to identity substs anyway

[2022-07-25 10:10] Dirbaio commented on #99668
I have a few! :)

- `AtomicPtr` for storing pointers to async tasks to wake them. `register` is called from futures when polled, `wake` is called from interrupt context to wake them. (Embassy "compresses" wakers to just 1 ptr, instead of vtable+data ptrs)

https://github.com/embassy-rs/embassy/blob/84cffc751ac0a38e6736959e68d441b99138d6d0/embassy/src/waitqueue/waker.rs#L72

- "small global state"

[2022-07-25 10:19] estebank commented on #99645
It does indeed, and the "right" thing to do always is unclear, but usually I advice people to parameterize the trait as you suggest. It does change the meaning quite a bit, but until we can have better HRTB for lifetimes we're kind of stuck on what you can do :-/

[2022-07-25 10:26] ivan770 opened #99708 "Missing `f32::ceil` on `#![no_std]`"
Hi! Is there a reason for `f32::ceil` to be missing in `core`? Its intrinsic counterpart seems to [work just fine](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=048b54ecb07bd8455ad6546837082ae4):
[code]

[2022-07-25 10:29] dhardy commented on #99645
Why? Interesting that your suggestion appears to be a viable alternative, without too much difference in meaning (since the lifetime on `Foo` is not used for anything else), but still, why?

Is it *because* it forces introduction of an explicit `'a` on the `impl`?

[2022-07-25 10:36] ivan770 commented on #99708
Closing, found https://github.com/rust-lang/rust/pull/27823

[2022-07-25 10:36] #99708 closed

[2022-07-25 12:29] Nilstrieb commented on #93881
Locally, I get the improved message like this now on stable and nightly (1.62.1 and nightly-2022-07-23):

[code]

But for some reason, there is no error message at all on the playground and it just says

[code]
on stable and nightly on the playground.

[2022-07-25 12:44] RalfJung commented on #99668
Atomic reads and writes are not necessarily linearly executed. For example, two atomic 'relaxed' loads can be reordered. This is covered by the as-if rule; reordering them does not introduce any new behavior that was not already possible before. Atomic != Volatile.

[2022-07-25 13:34] nikic commented on #99668
I've put up https://reviews.llvm.org/D130480 to add a target feature.

[2022-07-25 13:50] the8472 commented on #99701
The `Drain` impls for Vec and VecDeque are a bit bizarre because they keep both the `Iter` and a `NonNull< Vec{Deque}>`. In Vec this was solved with this dance:

https://github.com/rust-lang/rust/blob/2f320a224e827b400be25966755a621779f797cc/library/alloc/src/vec/drain.rs#L160-L169

but VecDeque wasn't updated to match.

[2022-07-25 14:04] #94981 closed

[2022-07-25 14:43] MatrixDev commented on #91249
Maybe we can just "reuse" `export` keyword inside `macro`? This way behaviour will be self-documenting and will do almost the sample thing as it does for the `macro_rules`.

[code]

[2022-07-25 14:45] crumblingstatue commented on #54503
I really like this feature! It motivates me to enable more lints, for example clippy's family of cast lints, which helped solve real bugs in my application, while elsewhere I can use `expect` to better document invariants.

For example
[code]
Here I document the invariant that `r` `g` and `b` are always in the range `0..=1`, as returned by the `rgb_from_hsv` function.
I think this is great for hel

[2022-07-25 15:06] Nassiel commented on #99668
Sorry I should have written using the proper word: linearizability

[2022-07-25 15:07] mkroening opened #99721 "Linking to a static library does not always include exported symbols"
Similarly to https://github.com/rust-lang/rust/issues/47384, statics in a static library that are marked as `used` are not included in the resulting binary if a non-inlined function is used in the same module.

## Example

`staticlib.rs`:

[code]

`bin.rs`:

[code]

Build using:

[code]

Display static library notes:

[code]

Display binary notes:

[code]

If `note::dummy` is made `inline(never)`,

[2022-07-25 15:08] RalfJung commented on #99668
What linearizability even means when using weak memory (anything but SeqCst) is a [complicated](https://link.springer.com/content/pdf/10.1007/s00165-019-00499-8.pdf) subject [under](https://www.mpi-sws.org/~dreyer/papers/compass/paper.pdf) active [research](https://iris-project.org/pdfs/2021-icfp-cosmo-queue-final.pdf).

[2022-07-25 15:10] mkroening commented on #99721
CC: @nbdd0121 @petrochenkov

[2022-07-25 15:29] kadiwa4 commented on #79450
This issue applies again, it seems that the part of the test that checked this was removed in #96964.

Or is this intentionally accepted without an error now?

[2022-07-25 16:07] bstrie commented on #99502
@yaahc Using your suggested fix, I have a simple PR to address this, if you'd like to review: https://github.com/rust-lang/rust/pull/99723 . I've confirmed locally that a toolchain built with this patch fixes the regression.

[2022-07-25 16:12] mkroening commented on #99721
That makes sense.

I just found that you can force link the symbol with `-Clink-arg=--undefined=<symbol_name>` when building the binary. I was hoping there would be some general way of doing this that does not require modifying the binary.

I'll resort to using the `inline(never)` approach in the meantime, although that is really not a nice way of forcing a reference into the object file.

[2022-07-25 17:11] thomcc commented on #95969
(Ah, my bad, thanks)

[2022-07-25 17:30] agluszak opened #99727 "Default type parameters are not used in type inference"
I tried this code:

[code]

I expected `_boxy_err` to compile (i.e. that the compiler would use the default type during inference, as it does with `_boxy_ok3`).

Instead, this happened:
[code]
In the best case, this is working as intended (but that's unintuitive) and the suggestion is wrong ("where the type for type parameter `T` is specified"). But maybe that's a bug in the compiler.

If it's a b

[2022-07-25 17:33] ChunMinChang commented on #99563
The problem is in `test_plug_and_unplug_device_in_scope`.I haven't worked out the minimal pattern causing the problem yet but the top of the stack looks similar to what https://github.com/rust-lang/rust/issues/99387 has.

[2022-07-25 17:45] fzaiser commented on #62807
We hit the same issue in the [Kani Rust verifier](https://github.com/model-checking/kani/). In our code, we simply use `layout.size.bytes()`, which seems to be the same thing that WASM does. I'm not sure where exactly it happens in the LLVM codegen, but the only places I've found use `layout.size.bytes()` too. Does anybody know why the LLVM backend behaves differently from WASM?

[2022-07-25 17:46] yaahc commented on #99031
looks like rfcbot had issues with the issue transfer from the libs-team repo.

[2022-07-25 17:49] yaahc commented on #99031
The final comment period, with a disposition to merge, as per the https://github.com/rust-lang/rust/issues/99031#issuecomment-1178345763, is now complete.

As ~~the automated~~ a representative of the governance process, I would like to thank the author for their work and everyone else who contributed.

This will be merged soon.

[2022-07-25 18:22] WaffleLapkin commented on #90091
@gcxfd if you want `(Box<[T]>, usize) -> (Box<[T]>, Box<[T]>)` kind of function, that's impossible without re-allocating the boxes, so I don't think this will be added to `std`. If you want to get slices (`(Box<[T]>, usize) -> (&[T], &[T])`), then you can use the methods implemented on slice thanks to the deref coercion.

[2022-07-25 19:18] memoryruins commented on #99727
This is expected behavior #27336

The suggestion reads correctly to me, but is definitely a general one. Do you expect it to suggest the default type or something else?

[2022-07-25 19:29] #99664 closed

[2022-07-25 19:33] GabrielMajeri commented on #62785
Hello! This issue seems to have reappeared.

See, for example, [this](https://github.com/rust-osdev/uefi-rs/runs/7503555075?check_suite_focus=true) GitHub Actions job:

[code]

We've made no changes to the code, the CI simply downloaded the latest nightly. The errors seem to have started with `rustc 1.64.0-nightly (62b272d25 2022-07-21)`.

[2022-07-25 19:50] Tiwalun opened #99732 "Combination of no_mangle and used attribute leads to mangled symbol name"
I tried this code:

[code]

This is compiled into a binary. I expect that the symbol is part of the binary, and that the name is not mangled, due to the `no_mangled` attribute. Example nm output of a correct case:

[code]

Instead, the symbol name gets mangled:

[code]

However, if I remove the `#[used]` attribute, then it works correctly:
[code]

### Meta

This only occurs on the nightly compiler

[2022-07-25 20:16] yaahc commented on #80996
Although consistency is a significant design consideration in many situations, I don't believe it is sufficient justification to add APIs on its own. We've updated our API proposal process since this PR was opened[^1], and the template that goes along with it includes a mandatory section for motivating examples. This should hopefully show how important real-world motivating use cases are to us. Ot

[2022-07-25 20:24] imbrem opened #99734 "ICE when attempting to document crates re-exporting std"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

Also fails on
[code]

### Error output

[code]

[2022-07-25 20:57] jannic commented on #99732
Probably already fixed with commit 6cfd471ffe997c56848d27e688dd8bd30f18412a by @thomcc

[2022-07-25 21:56] glandium commented on #42666
It doesn't look like to be happening anymore.

[2022-07-25 22:37] 5225225 commented on #99701
*yes* but also Drain needs to be covariant, and just putting an IterMut in it would make it invariant.

So I'm thinking an internal `IterRaw` that yields `*mut T` (and is covariant itself) and does all the logic, with the Iter/IterMut/IntoIter/Drain being thin wrappers over that, might work.

[2022-07-25 22:50] lopopolo commented on #80996
@yaahc I put up a partial stabilization PR here:

- https://github.com/rust-lang/rust/pull/99736

[2022-07-25 22:59] 5225225 commented on #99734
searched nightlies: from nightly-2022-01-01 to nightly-2022-07-24
regressed nightly: nightly-2022-04-23
searched commit range: https://github.com/rust-lang/rust/compare/de1bc0008be096cf7ed67b93402250d3b3e480d0...f4ec0e7cff545e932ce30e39087b16687f0affa1
regressed commit: https://github.com/rust-lang/rust/commit/0b3404b01b251401e6b45cb1c4df8f883dfab2d7

<details>
<summary>bisected with <a href='http

[2022-07-25 23:00] Lokathor commented on #99668
@nikic question: does that new feature also allow 16 and 8 bit (non-CAS) atomics on ARM?

[2022-07-25 23:20] Amanieu commented on #99668
This only solves the issue for ARM, but not other targets like RISC-V which also want load/store-only atomics (#98333). From a quick search of the target specs, AVR and MSP430 might also be affected.

[2022-07-25 23:36] hoangph271 opened #99737 "I'm not sure what does this error mean"
### Code

I'm not sure which part went wrong

[code]

### Meta

I'm using `rustc@1.63.0-nightly`

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-25 23:58] compiler-errors commented on #99737
@hoangph271 please update your compiler, this is an old nightly version.

[2022-07-26 00:09] hoangph271 commented on #99737
Thank you, I think the issue here is I failed to update `rustc` in M1 mac...!

[code]

[2022-07-26 00:09] #99737 closed

[2022-07-26 01:18] sunshowers opened #99740 "posix_spawn_file_actions_addchdir_np lookup doesn't work on linux musl"
I tried this code:

[code]

(compiled under x86_64-unknown-linux-musl)

I expected to see this happen:

The `posix_spawn` fast path is used.

Instead, this happened:

Rust fell back to the fork/exec slow path. (Inspected this using gdb and strace).

This is presumably because https://github.com/rust-lang/rust/blob/6dbae3ad19309bb541d9e76638e6aa4b5449f29a/library/std/src/sys/unix/process/process_un

[2022-07-26 01:47] #99691 closed

[2022-07-26 02:33] nicholasbishop commented on #62785
I think this is now re-fixed fortunately :)

This regressed in https://github.com/rust-lang/rust/commit/ceeb5ade201e4181c6d5df2ba96ae5fb2193aadc, and I think https://github.com/rust-lang/rust/pull/99676 fixed it. The latest nightly no longer has this error.

[2022-07-26 03:38] ChrisDenton opened #99744 "Diagnostic for missing method `as_ptr_mut` does not mention `as_mut_ptr`"
[Given the following code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=c5f1905e3e5f02a3e4b974a77a107e30):

[code]

The current output is:

[code]
Ideally the output should look like:

[code]

A common pattern is to append `_mut` for functions that return `&mut` references. But the pointer types use a different convention.

[2022-07-26 04:28] #93842 closed

[2022-07-26 05:57] Tiwalun commented on #99732
I can confirm that it's fixed in `rustc 1.64.0-nightly (6dbae3ad1 2022-07-25)`.

[2022-07-26 05:57] #99732 closed

[2022-07-26 06:26] thomcc commented on #99596
@Jake-Shadle @robbert-vdh Can you confirm that this is fixed in `rustc 1.64.0-nightly (6dbae3ad1 2022-07-25)`? (Or later)

[2022-07-26 06:34] compiler-errors commented on #99490
yup i can see this being the right way to do it. working on it now.

[2022-07-26 06:42] zofoc opened #99749 "The EXE file compiled by rust cannot export related export functions"
I encountered a problem with the rust compiler. In the bin program made by rust, I exported a function in the main unit, but I couldn't find the exported function with a third-party tool. I also use several other languages to do the same thing, and I can find the relevant exported functions. The function is simple in the following format:
#[no_mangle]
pub extern "C" fn func1(data:String)->i32{}
My

[2022-07-26 06:44] Jake-Shadle commented on #99596
Confirmed, nightly build went green again, I'll mark this issue as fixed.

[2022-07-26 06:44] #99596 closed

[2022-07-26 07:09] #99416 closed

[2022-07-26 07:09] #98833 closed

[2022-07-26 07:49] Ayush1325 opened #99750 "src/test/ui/numbers-arithmetic/i128.rs causes pagefault in UEFI target"
Hello everyone, I have been working on implementing Rust std for the UEFI target as a part of GSoC 2022. It is now finally possible to run Rust tests in UEFI using qemu and `remote-test-server`. While many tests fail for one reason or another, a few tests (mainly numeric ones) seem to cause different types of CPU exceptions rather than panics. So I thought it might be a good idea to open bugs for

[2022-07-26 08:04] Rageking8 opened #99751 "Suggest ```fn``` if ```fun```, ```func```, ```function``` or ```def``` is used instead"
Given the following code:

[code]

The current output is:

[code]

Ideally the error message should suggest replacing ```func``` or ```function``` with ```fn```.

[2022-07-26 08:50] ltratt commented on #99280
Further investigation suggestions that this is probably due to a dodgy disk/file system. Closing unless I can actually find a way to replicate this on another box.

[2022-07-26 08:50] #99280 closed

[2022-07-26 09:19] ypprog commented on #99751
@rustbot claim

[2022-07-26 09:53] izderadicka opened #99755 "CStr::to_string_lossy"
### Location
https://github.com/rust-lang/rust/blob/master/library/core/src/ffi/c_str.rs#L69

### Summary

CStr::to_string lossy is still used documentation  example, but method in no long on this struct after it  was moved to core,  so method is not documented, so example is confusing.

[2022-07-26 11:27] aDotInTheVoid commented on #99118
@rustbot claim

[2022-07-26 12:47] chrysn commented on #94970
Stabilizing the `scalar_valid_range` attributes would not only help save memory space, but also help in error handling across C FFI boundaries that is both idiomatic and zero-cost, because typical `i32` results could be expressed as a `Result<NonnegativeU32, SomeNewtypeAround(NegativeU32)>` whose conversion should become the identity function after optimization.

[2022-07-26 13:02] zakarumych commented on #93032
I imagine that partial initialization would be kinda like syntactic sugar.
Where given type
[code]
additional "type" is defined
[code]
and which fields are initialized is tracked separately.

Therefore if uninhabited field zeroes size of struct, partially initialized version of that struct would have unoptimized size, with space to store all inhabited fields.
For normal structs sizes of partially

[2022-07-26 13:07] aDotInTheVoid commented on #94140
It might be worth just rewriting [src/etc/check_missing_items.py](https://github.com/rust-lang/rust/blob/96b9bb4620f4d48aa25c381c7ea77e0cab48ac5b/src/etc/check_missing_items.py) to start with, as that should fit nicely into rustbuild, and it's out of sync whenever the format changes (and even when it doesn't due to undertesting). Eg

[code]
fails it.

Theirs a very barebones implementation [here](

[2022-07-26 13:22] bjorn3 commented on #94970
I don't know if rustc optimizes `Result<NonnegativeI32, NegativeI32>` into an i32 right now. In any case even if it does, this is not guaranteed independent of `scalar_valid_range` being stable or not. The only niche filling optimization guaranteed right now is for `Option` like enums where the wrapped type has a zero niche.

[2022-07-26 13:31] texel-sensei opened #99763 "Sporadic ICE when compiling in gocryptfs mount"
### Code

Code is not relevant to the bug, tested example:

[code]

The repository is located in a [gocryptfs](https://github.com/rfjakob/gocryptfs) mount, running on Arch Linux. The crash happens sporadically, sometimes compilation works as expected, sometimes the code aborts with SIGBUS and sometimes it panics with the listed error message.

Other tools have no issues running in such a mount.

O

[2022-07-26 13:31] #99663 closed

[2022-07-26 15:53] Alexhuszagh commented on #50890
Sorry, I should have mentioned we did a full build with soft-float, however, this seems to be a toolchain error on our part (not sure where though). The first step fails:

[code]

And we're linking to this:

[code]

However, it also fails with the same error on a hard-float build, so this is probably an error on our part. Sorry for the miscommunication.

[2022-07-26 16:27] eddyb commented on #93032
If we actually had syntax to do it *and* that was the only way it could occur, sure, you could imagine it as syntactic sugar, and transform it appropriately (IIRC generators, which underpin `async fn`, do something like that? it may have been to avoid false positives in miri checks).

But what happens is that every time you write anything like `(foo(), bar())`, the MIR is roughly:
[code]
but given

[2022-07-26 16:47] #99440 closed

[2022-07-26 16:54] Alexhuszagh commented on #50890
Sorry I should have mentioned we used a `RUSTFLAGS="-C target-feature=+soft-float" cargo +nightly build --target mips64-unknown-linux-muslabi64 --verbose -Zbuild-std` build. and this still failed, however, it seems to be a toolchain error on our end. Sorry for the miscommunication.

[2022-07-26 17:27] zakarumych commented on #93032
If return type is uninhabited there's no reason to place partially initialized return value in return place, function diverges anyway.

But I get the idea.
If the goal is to make the following code acceptable and non-panicking
[code]
Then keeping `size_of::<Foo>() == 1` would be impossible.
Because then `1` would be stored on stack and address would differ.

[2022-07-26 17:50] the8472 commented on #99763
The cache uses mmap'ed IO, perhaps other tools aren't using mmap or aren't verifying file contents? SIGBUS points in the same direction.

[2022-07-26 17:58] kennystrawnmusic commented on #61721
Getting a similar result when attempting to compile `rand_chacha` for the `x86_64-unknown-uefi` target. Only reproducible on the latest version of such though.

[2022-07-26 18:35] estebank commented on #13998
https://github.com/rust-lang/rust/blob/master/src/test/ui/async-await/issues/issue-63388-1.stderr no longer shows a repro, but https://github.com/rust-lang/rust/blob/8cc87250efc5b5fcec85d43eaa73f7a9acc2198a/src/test/ui/nll/closure-requirements/escape-argument-callee.stderr does

[2022-07-26 18:37] cr1901 commented on #99478
I am uncertain whether this is the same bug, but I am able to duplicate this message on a `rustc` that I compiled myself locally (toolchain override `msp430-fix`- name not important). The `rustc` I compiled the same commit hash as `1.62.0` stable. However, I can only duplicate this on the toolchain that I compiled locally and not `1.62.0` or the nightly on Jun 30th.

## Code

`macros/src/lib.rs`:

[2022-07-26 18:45] pnkfelix commented on #71668
I'm in favor of a rustfix that takes the first listed approach ("wrap the entire function body in an unsafe block"), because we cannot infer whether the crate author is someone who uses `unsafe { ... }` as something to highlight unsafe operations, or if the crate author is someone who uses `unsafe { ... }` to demarcate the lexical scope during which runtime safety invariants are broken (and must b

[2022-07-26 18:48] joshtriplett commented on #71668
We discussed this in today's @rust-lang/lang meeting. Summary:

- We don't want to make this warn-by-default in 2021 or earlier, because we were still in 2021 emitting a warning telling people to *not* do this.
- We don't want to make this a hard error in 2024. We're skeptical about doing so in any future edition either.
- We're still talking about whether it should be warn-by-default or deny-by-d

[2022-07-26 18:50] joshtriplett commented on #71668
(My own intent with the FCP was to confirm "we're definitely doing either warn or deny, so it's worth working on the rustfix and related aspects".)

[2022-07-26 19:16] Lokathor commented on #71668
[2502-epochs](https://github.com/rust-lang/rfcs/blob/master/text/2052-epochs.md)

If it's not warn by default at any point in 2021 edition, the 2024 should stick to only warn by default, not deny by default.

[2022-07-26 19:21] Mingun opened #99774 "Found unstable fingerprints for mir_borrowck, probably related to async code"
### Code

Unfortunately it is not reproduced anymore, so I cannot create a minimal example. The problem was reproduced in that state. Before that I've doing a rebase and compiled the 2 previous commits using the same command.

The bug happened on this commit:
https://github.com/Mingun/quick-xml/tree/rustc-panic

Checkout the branch and run in the root repo directory:
[code]

### Meta

I use stable

[2022-07-26 19:22] Mingun commented on #84970
Encounter another ICE -- #99774.

[2022-07-26 19:24] dpaoliello commented on #58713
With the completion of #98989 this feature is ready to be stabilized for non-x86 platforms (`x86_64` and `aarch64` for both `msvc` and `gnu` environments, it should work on `thumbv7a` as well, but that's not a tier 1 target).

For x86, we still need two more pieces:
- #99476
- https://github.com/rust-lang/compiler-team/issues/525

[2022-07-26 19:44] spideynn opened #99777 "ICE when using the doc alias attribute on expr or local"
### Code

[code]

[code]

### Meta

Stable `rustc --version --verbose`:
[code]

Nightly `rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-26 19:52] eddyb commented on #93032
The way to think about this is that the `foo` and `bar` calls may be worlds apart.

With more components/functions: `(a(), b(), c(), d(), e(), ..., z())`.

Let's say you learn, during monomorphization/codegen, that `z()` always diverges, but what does that mean for every call before it? Not much, they *still* have to execute.

If, say, `d` panics, then the values returned by `a()`, `b()` and `c()`

[2022-07-26 20:47] vincenzopalazzo commented on #99744
@rustbot claim

[2022-07-26 21:48] cjgillot commented on #99774
Thanks for the report.  This is https://github.com/rust-lang/rust/issues/98890.  This bug is fixed on the latest stable 1.62.1.  You are running 1.61.0, upgrading should fix the problem.

[2022-07-26 21:48] #99774 closed

[2022-07-26 22:20] #90032 closed

[2022-07-26 22:25] Mythra commented on #93481
Sorry I'm coming in late. It's not clear to me exactly if there are any blockers with regards to stabilizing `const_eval_limit`. I have a codebase running up against this (very similarly filling out constant arrays for validation rules that I get from a third-party, that are guaranteed to not change), and would like to use it on stable. Splitting up is not easily doable in this case unfortunately,

[2022-07-26 22:47] est31 commented on #91632
I've filed a PR to make this deny-by-default: #99784

[2022-07-26 22:58] Cryptex-github opened #99785 "Clippy Error during auto fix"
Clippy reported error during auto fix

[code]

Original code is
[code]
Clippy attempted to change it to
[code]
which leads to an error

Note: `data` is `&[u8]`

[2022-07-26 23:41] workingjubilee commented on #99668
I would concur that whatever solution is arrived at, it should not be "we now ask Rust programmers who are not themselves writing `core` to use `volatile_*` to express `atomic`ity". We should not confound volatile access with atomic access, as an operation can be separately volatile and atomic (and thus potentially we could need `atomic_volatile_load` in the future).

As far as the matter of Rust

[2022-07-26 23:55] hdelc commented on #99777
@rustbot claim

[2022-07-27 00:39] csmoe opened #99788 "`-no_dead_strip` cannot be recognized by ld on osx"
https://github.com/rust-lang/rust/blob/4d6d601c8a83284d6b23c253a3e2a060fd197316/compiler/rustc_codegen_ssa/src/back/linker.rs#L569-L570

The linker failed with
[code]

[2022-07-27 01:13] JennDahm commented on #96472
Does this warning actually indicate a real problem, or is it just "Hey, you should ask the rust-lang devs to add this to the list of known/sanctioned LLVM codegen options"? If it's not actually indicating a real problem, is there a way to suppress the warning? It's unclear from the warning message what I need to pass to suppress it. My team uses an LLVM option not recognized by rustc, and the nois

[2022-07-27 01:18] alex commented on #98833
Happy to report that with the latest nightly we're back to green on nightly. Thanks much @tmiasko!

[2022-07-27 02:13] Lokathor commented on #71668
**Having thought about the matter more:** I think for the warning level, it does not matter what we did in past *editions*, it just matters what we did in past *compiler versions*. It has been 2 years since the RFC was accepted and Rust began to move away from the previous style to the new style.

If we're saying that this lint is an appropriate guidance in edition 2021 (which we are), and there's

[2022-07-27 02:49] CAD97 opened #99791 "Unhelpful missing try type annotation help suggestion"
Given the following code: [[playground]](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=2d7c85eb820226381a345a97d46bd65b)

[code]

The current output is:

[code]

... alright, I'll try it

[code]

The same `<_ as Try>::Residual == _` error and `: _` help occurs with just `Err("lol")?`, but the example here gives the `Ok` type to give the compiler maximal information to pr

[2022-07-27 03:32] cole-miller commented on #70919
Probably the same underlying issue affects this example ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=5fef0cd3afb1ca92757655cfac6d3ae6)):

[code]

[code]

I believe this is spurious because the destructor for `one` never runs -- the value is consumed by the `one.step()` call.

[2022-07-27 03:37] yvt opened #99793 "False-positive "cycle detected" in `const fn` with RPIT"
I tried this code:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=a29f964e865804f8732e5d53731b3df4))

I expected to see this happen: Successful compilation

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

[code]

[2022-07-27 04:53] workingjubilee commented on #50890
I would only expect `-Ctarget-feature=+soft-float,-fp64` to work.

By merely enabling `-Ctarget-feature=+soft-float`, you are actually requesting both a hard float and a soft float target at once, which makes the float ABI ambiguous to LLVM.

[2022-07-27 05:00] ultimaweapon commented on #87021
I was tried to implement a single threaded async executor on the stable branch and just got bitten by this issue, which forced me to use a [global variable](https://github.com/locenv/locenv/blob/main/crates/locenv/src/service_manager/dispatcher.rs) to store the future-specific data when it got suspended.

[2022-07-27 05:01] jsha opened #99794 "rustdoc: settings menu toggles are cut off on mobile"
Steps to reproduce:

1. Visit https://doc.rust-lang.org/nightly/std/string/struct.String.html.
2. Click settings icon.

Expected result: all toggles are the same size.

Actual result: some toggles are narrower or partially cut off.

![image](https://user-images.githubusercontent.com/220205/181164966-02d9322e-983d-40b2-94ec-820f462c40f5.png)

cc @GuillaumeGomez

[2022-07-27 05:34] jsha opened #99797 "rustdoc: horizontal lines are too dark for h3+"
Steps to reproduce:

1. Run `rustdoc foo.rs` on the following file:

[code]

2. Open doc/foo/fn.blah.html in a browser (in light mode).

Expected results: all horizontal lines under headings have the same grey color.

Actual results: the horizontal line under h3, h4, and h5 is black.

![image](https://user-images.githubusercontent.com/220205/181168972-871ba194-0db2-46a8-99d0-786aa9bcc263.png)

cc

[2022-07-27 05:48] workingjubilee commented on #99381
Given what happened in #99440 we're probably fine proceeding here, but should keep an eye peeled for more Hilarity.

[2022-07-27 05:49] workingjubilee commented on #42666
Ah, excellent! Then this can be closed. Thank you!

[2022-07-27 05:49] #42666 closed

[2022-07-27 05:52] ekuecks commented on #46060
This is now fixed on master, presumably by NLL Stabilization, cc @compiler-errors

[2022-07-27 05:56] workingjubilee commented on #99507
There doesn't seem to be anything actionable, fixable, or resoluble here, so I am closing this.

[2022-07-27 05:56] #99507 closed

[2022-07-27 06:31] catenacyber commented on #98833
Thanks @tmiasko the first fix was enough for Suricata :-)

[2022-07-27 06:52] Dirbaio commented on #99668
Mixing C+Rust in embedded is somewhat common: writing Rust code on top of a C RTOS, or using C libraries (in both source or precompiled blob form) from chip vendors.

However sending pointers to atomics across the FFI boundary is not common I'd say. I think it should be sound to mix C+Rust atomics in the same binary, as long as only Rust touches Rust atomics and only C touches C atomics, right? If

[2022-07-27 06:53] workingjubilee commented on #97601
Bikesheddy note: this is very similar to the notion of a "gather" (a la `Simd::gather_*`) and that term is used extensively in similar interfaces (though it is also called something like "indexed vector load" in some cases).

[2022-07-27 06:59] #97125 closed

[2022-07-27 07:06] Neo-Zhixing commented on #99705
I did some digging and this might be related to https://github.com/rust-lang/rust/blob/e33cc71a61c91e1d510bf283e9d345067e64eed2/compiler/rustc_typeck/src/collect.rs#L2468-L2480

@BoxyUwU Mind taking a look?

[2022-07-27 08:13] poliorcetics commented on #91930
Is it possible to stabilize the methods that do not depend on `~const` ?

[code]

[2022-07-27 08:27] ivan770 opened #99799 "Misleading TAIT diagnostic on missing `Send + Sync` bound"
I tried this code:

https://gist.github.com/ivan770/709330e60ce2dcfbfcb04d5dd539247b
(I think it's possible to minimize it a bit, however I'm not sure on how to do that in this case)

I expected to see this happen: It provides a meaningful diagnostic that I have to add `Send + Sync` bound to `NonSendSync`.

Instead, this happened: Misleading error occures:
[code]

### Meta

`rustc --version --verb

[2022-07-27 08:28] ivan770 commented on #99799
@rustbot label +T-compiler +F-type_alias_impl_trait +A-diagnostics +D-confusing +requires-nightly

[2022-07-27 08:39] ivan770 commented on #99799
Duplicate of #55997

[2022-07-27 08:39] #99799 closed

[2022-07-27 09:16] bjorn3 commented on #99668
There is code that depends on atomics being non-blocking. For example the futex based mutex implementation in libstd would deadlock if the atomic libcalls were to use libstd mutexes. Or because they are mapping the same atomics in two different processes and expect them to be atomic across process boundaries, which usage of locks doesn't guarantee.

This is not true. There are targets where atomic

[2022-07-27 09:50] alexzanderr commented on #99507
sure. i will play around on linux machine. thanks for time and responses.

[2022-07-27 09:56] samuelcolvin commented on #98833
Thanks so much, pydantic-core has been pinned to `2022-07-01` but is not back on nightly.

[2022-07-27 09:58] samuelcolvin commented on #80549
This would be very useful, a generic way to disable coverage for `unreachable!()` and similar would be very useful.

[2022-07-27 10:01] nikic commented on #99668
It should be possible to implement similar support for other targets. I've put up a patch for RISCV: https://reviews.llvm.org/D130621

[2022-07-27 10:20] oli-obk commented on #93481
I'm on board with just scrapping the limit entirely and adding some way for users to output `note` or `warn` messages, so they can println debug their own long running const eval things.

Having a print mechanism doesn't need to be a blocker for just removing the limit.

[2022-07-27 10:21] oli-obk commented on #93481
Wrt automatically detecting loops, we've had that before and it was messy logic. We can detect plain `loop` but anything more complex gets annoying fast

[2022-07-27 10:39] eddyb commented on #99684
Hmm, `|args: $crate::fmt::Arguments<'_>| $dst.write_fmt(args)` obviously doesn't work because `$dst` can be an arbitrarily expression, but I believe that the intended call is `$dst.write_fmt`, if we allowed using that syntax to automatically create a closure for the method call, *after* evaluating `$dst` (tho that's still not great because one could have a field with that name *anyway*, which coul

[2022-07-27 11:04] eddyb commented on #99684
If autoref is all that's needed to make `$dst` drop later than the format args, it can be done:
[code]
([playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=d1b011f4faf2d7be621aa68c68f161e8))

A type parameter could be used instead of a `const` generic, but then you need a **sealed** `trait` to bound it, and frankly they're equivalent and we could pick based o

[2022-07-27 11:36] hehaoqian opened #99804 "Crate level attribute does not work in file included by `include` macro"
I want to share deny warnings settings among multiple crates,
so I want to use the include! macro to include files

I tried this code:

[code]

[code]

I expected to see this happen: *Compilation success*

Instead, this happened:

error: an inner attribute is not permitted in this context
 --> deny_warnings.rs:1:1
  |
1 | #![deny(warnings)]
  | ^^^^^^^^^^^^^^^^^^
  |
  = note: inner attributes, li

[2022-07-27 11:42] steffahn commented on #98294
@rustbot label I-slow, E-needs-bisection

[2022-07-27 12:09] joboet opened #99805 "Improve `VecDeque` implementation"
`VecDeque` currently allocates one extra empty element because it needs to discern between an empty and full queue. Besides wasting memory, this means `VecDeque::new` cannot currently be `const`.

## Solution

The most elegant solution would be to reimplement `VecDeque` based off the (third) technique described by Juho Snellman [in this blog post](https://www.snellman.net/blog/archive/2016-12-13-r

[2022-07-27 12:19] 5225225 commented on #99805
Note: That limit is for isize::MAX *bytes*. You can handle an array of `usize::MAX` ZSTs just fine. And indeed, Vec handles it fine.

But it seems like `VecDeque::<()>::with_capacity(isize::MAX + 1)` fails already, so that's not a breaking change.

[2022-07-27 12:30] joboet commented on #99805
Since the size is known at compile, ZSTs can be checked for. Also, since their address and order is irrelevant, it should be possible to use just one of the indices as counter for the number of elements, which should make operations faster.

[2022-07-27 12:31] Nilstrieb opened #99809 "`src/test/ui/process/nofile-limit.rs` failing with linker error on WSL"
It's failing during the normal UI test procedure, but I'm running it in isolation here to simplify debugging.

Running `rustc src/test/ui/process/nofile-limit.rs -Ctarget-feature=+crt-static -Crpath=no -Crelocation-model=static` returns a linker error on my WSL system.

[code]

Curiously, running it with mold (`mold -run rustc +dev src/test/ui/process/nofile-limit.rs -Ctarget-feature=+crt-static -

[2022-07-27 13:33] apiraino commented on #99656
probably this also needs some bisection to start narrowing down where these codegen regressions come from. I'll try to signal this by adding:

@rustbot label E-need-bisection

[2022-07-27 13:38] therealfrauholle opened #99813 "libtest's junit formatter does not produce valid XML for doctests"
This issue is related to #85563. The junit formatter of libtest does not produce correct XML for some doctests. Take the following as an example:

[code]

When running `cargo +nightly-2022-07-26 test --doc -- -Z unstable-options --format junit`, the following (invalid) XML is generated (formatted with an external tool):

[code]
The XML is invalid because of the `name` attribute of the `testcase` e

[2022-07-27 14:17] apiraino commented on #99536
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2399536.20nightly.202022-06-29.20rejects.20previously.20compiling.20code.E2.80.A6)).

@rustbot label -I-prioritize +P-high

[2022-07-27 14:41] fee1-dead commented on #91930
@poliorcetics Yes. Feel free to open a PR.

[2022-07-27 14:47] gimbles commented on #91917
@rust-lang/libs-api 👋🏻 🤖

Should this be stabilized? It doesn't seem to have had any issues since the start (Dec 2021).

[2022-07-27 14:49] jplatte commented on #91917
I don't think APIs that use `~const` bounds can be stabilized yet.

[2022-07-27 14:51] apiraino commented on #99256
bisection seems to lead to commit bb55bd449e65e611da928560d948982d73e50027 #95565 cc @jackh726

searched nightlies: from nightly-2022-05-01 to nightly-2022-07-27
regressed nightly: nightly-2022-06-08
searched commit range: https://github.com/rust-lang/rust/compare/50b00252aeb77b10db04d65dc9e12ce758def4b5...5435ed6916a59e8d5acba2149316a841c3905cbd
regressed commit: https://github.com/rust-lang/rust

[2022-07-27 14:52] fmease commented on #55686
The _Show hidden undocumented items_ subsection does not exist anymore in today's rustdoc, right?
So this issue is essentially fixed.

[2022-07-27 14:54] apiraino commented on #99256
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2399256.20Source.20of.20lifetime.20coercion.20is.20not.20reported.20starting.E2.80.A6)).

@rustbot label -I-prioritize +P-high +A-diagnostics

[2022-07-27 14:55] taiki-e commented on #99668
@Dirbaio

I have tried [something similar to this in the past in portable-atomic](https://github.com/taiki-e/portable-atomic/commit/5e851252f52899d158ac0a7f889d84734bc0b816).
However, there was a problem when atomic builtins were implemented in a way that was incompatible with the guarantees provided by portable-atomic. (It was a case similar to the one bjorn3 mentioned.)
There was also an unresol

[2022-07-27 15:04] GuillaumeGomez commented on #55686
Indeed. Closing.

[2022-07-27 15:07] oli-obk commented on #99536
Let's revert for now, this seems more useful in practice than we thought

[2022-07-27 15:40] Nemo157 opened #99815 "False positive on `non_exhaustive_omitted_patterns_lint` with closures"
I tried this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=5eda6149e4d8df5ec233e5133d06b0f1)):

[code]

I expected to see this happen: no warnings.

Instead, this happened:
[code]

### Meta
[code]

cc #89554

[2022-07-27 15:47] Nemo157 commented on #99815
(Note: it's not to do with the `_` pattern, in the real code I found this in the argument was used).

[2022-07-27 15:51] Nemo157 commented on #89554
I sort of want a more expanded version of this lint that isn't limited to just patterns. I have some code parsing a non-exhaustive enum:

[code]

It would be useful to be able to tag this function as needing to mention every variant of the enum, so if a new variant is added I remember to start parsing it.

[2022-07-27 16:04] #87684 closed

[2022-07-27 16:34] mqudsi commented on #99256
@apiraino thanks for teaching me about cargo-bisect-rustc 👍

[2022-07-27 16:44] dtolnay commented on #99684
@eddyb I tried coding up your suggestion (ddaa6e7b498e81ca93a667e7ebdbca677d048a50) but it failed `x.py install` with code like [this](https://github.com/tokio-rs/tracing/blob/tracing-subscriber-0.3.3/tracing-subscriber/src/fmt/format/mod.rs#L922-L927):

[code]

[code]

In the T-lang zulip I floated the idea of `receiver.fn methodname` for partial function application of a receiver, as illustrated

[2022-07-27 16:57] camelid commented on #89554
@Nemo157 that seems like something for clippy.

[2022-07-27 16:58] camelid commented on #89554
I think I've come up with a better name for the lint: what about `non_exhaustive_wildcards` or `wildcards_for_non_exhaustive`? Then denying it would look like `#[deny(non_exhaustive_wildcards)]` or `#[deny(wildcards_for_non_exhaustive)]`. I think that is more self-explanatory.

[2022-07-27 17:15] Mark-Simulacrum commented on #86618
We think this is implemented now, so closing this issue. https://github.com/rust-lang/rust/issues/86555 is still tracking the feature.

[2022-07-27 17:15] #86618 closed

[2022-07-27 17:16] joshtriplett commented on #86555
It looks like this has been implemented; are there any further known issues or blockers with it?

[2022-07-27 17:16] Mythra commented on #93481
I think this all sounds good, sounds like the next steps are (posting explicitly here to make sure everyone's okay with it, and I'm reading @oli-obk 's responses correctly):

1. Open a PR to remove the limit.
2. Add on this usecase to: https://github.com/rust-lang/rust/issues/58278, or perhaps open a new issue?
3. Work on that issue separately as the PR opened in step 1 eventually makes it's way t

[2022-07-27 17:18] joshtriplett commented on #86935
This seems like it may be ready to stabilize. Could we get a stabilization report and documentation PR?

[2022-07-27 17:18] paolobarbolini commented on #99656
Could this simplify be the case for `factorial2` getting unrolled and even vectorized if the configuration allows for it, while `factorial1` doesn't?

See https://rust.godbolt.org/z/vE51sGWY5

[2022-07-27 17:19] scottmcm commented on #84277
Marking design concerns because there's still [on-going discussion](https://github.com/rust-lang/rust/issues/84277#issuecomment-1078700107) here about trait structure.  I don't think there's concerns about the general idea of this (coloured residuals, matching on controlflow, etc), so I don't think there's foundational concerns here, but future work on `try` blocks might also want to add a few mor

[2022-07-27 17:27] jhpratt commented on #86935
Why is the proc macro unable to know the name of the concrete type?

[2022-07-27 17:32] jsenkpiel-godaddy commented on #47506
It would be nice to be able to denote unit tests to have this as their behavior.

[2022-07-27 17:41] joshtriplett commented on #89460
Could we get a more detailed summary of the case this lint is addressing? dyn upcasting / coercion seems to have made a lot of progress, but this aspect of it doesn't seem to have gotten much discussion that I recall.

[2022-07-27 17:41] Mark-Simulacrum commented on #65991
cc https://github.com/rust-lang/rust/issues/89460, which is tracking a future-compat lint that seems related to this feature.

[2022-07-27 17:46] leonardo-m commented on #99805
Let's keep in mind the sequence of implementation bugs that have being found in VecDeque. It's one of those situations where having a formal proof of code is useful.

[2022-07-27 17:46] Mark-Simulacrum commented on #99815
I think this is a good thing to fix, but I don't think this would block stabilization since:

* It's unlikely you're enabling the lint across an entire crate -- most of the time, it'll be limited to a few tests or specific matches, probably.
* The lint can be fixed in the future (we should definitely do that though!)

[2022-07-27 17:47] joshtriplett commented on #90957
@Lokathor Both of those can still change after stabilizing naked functions; that's not a blocker.

@bstrie or others: gentle ping on stabilization?

[2022-07-27 17:53] cuviper commented on #84277
Is it possible to stabilize some subset, like enough to write your own `Iterator::try_fold`, while leaving those design concerns open in unstable space? You wouldn't be able to `impl Try for ...` until it's finished, but maybe we can *use* it a little more...

[2022-07-27 18:01] joshtriplett commented on #91971
Context for labels applied: it sounds like we need a summary of what precisely this means, as distinct from `align_of`, in a way that isn't tied to the LLVM backend.

[2022-07-27 18:16] joshtriplett commented on #99606
Modulo needing to add it in hashbrown, shall we see if we have consensus to say that `try_reserve` failures preserve the current contents?

@rfcbot merge

[2022-07-27 18:26] yaahc commented on #98862
Okay, I just finished reviewing this whole thread and I think the focus on the specific mechanisms for how we restrict `mem::uninitialized` is muddying the conversation. I think we should instead reach a consensus on exactly what restrictions we want to enforce and then once those are agreed upon we can figure out the exact mechanisms available or needed in order to reach those goals.

From my rea

[2022-07-27 18:42] workingjubilee commented on #99805
It is intended that const capabilities expand to allow expressing this. Redesigning VecDeque around this limitation, if it would affect correctness, doesn't seem necessary.

[2022-07-27 18:45] joshtriplett commented on #99684
@dtolnay If the language had `let autoref = ..., would that help? (We've talked about that in @rust-lang/lang.)

[2022-07-27 18:46] joshtriplett commented on #99684
Meanwhile, applying the revert seems fine as a fix for now.

[2022-07-27 19:02] dtolnay commented on #99684
Yes Josh, I believe that could be defined in such a way as to work here. It'd be:

[code]

but it potentially gets weirder with borrowchecking than hypothetical `receiver.fn methodname` does, in particular to support:

[code]

[2022-07-27 19:14] agausmann commented on #58326
In my application I need to forward I/O from a serial port to stdio, and the serial port is an interactive console where the remote device echoes the characters back if they should be printed on the terminal, and controls various other aspects of the terminal. (Come to think of it, It doesn't have to be a serial port, another similar example with this behavior is an SSH client)

Having Stdin and S

[2022-07-27 19:16] joshtriplett commented on #99683
We discussed this in today's @rust-lang/libs-api meeting, and we'd be in favor of trying to generalize the `Join` trait impl to accept `AsRef<OsStr>` *for the separator*. That should, among other things, allow `[os_str, os_str_2].join(" ")`, which seems useful.

[2022-07-27 19:24] yaahc commented on #99683
We discussed this in the libs-api team meeting today[^1] and our preliminary consensus was that this is acceptable breakage, though I'm going to run a poll to confirm this because we did this weeks meeting async so I'm not sure everyone who wanted to participate in that discussion has done so already.

@rfcbot poll libs-api Is this breakage acceptable?

Also, we're interested in trying out the sug

[2022-07-27 19:26] mqudsi commented on #99683
cc @est31

[2022-07-27 19:27] joshtriplett commented on #64102
We discussed this briefly in today's @rust-lang/libs-api meeting.

We seem to have rough consensus on wanting to ship this, as people do use it or want to use it, and want to see it stabilized. It *seems* like we can treat some of the other aspects as quality-of-implementation issues, as this is still an improvement over not having it at all. There's plenty of potential bikeshedding to be had on n

[2022-07-27 19:34] ehuss commented on #92666
Closing as a duplicate of #50132.

[2022-07-27 19:34] #92666 closed

[2022-07-27 19:41] ehuss commented on #58069
I can't seem to reproduce this issue (even with older releases).  Files included via `include` are registered in the dep-info output. If you're still able to reproduce this, feel free to reopen.

[2022-07-27 19:41] #58069 closed

[2022-07-27 19:42] ehuss commented on #99804
Closing as a duplicate of #66920 (and #47995 and #18810 and https://github.com/rust-lang/rfcs/issues/752).

[2022-07-27 19:42] #99804 closed

[2022-07-27 19:49] Powdee commented on #25289
Got same error message `error: linking with cc failed: exit code: 1`

After upgrading to newest MacOS I needed to install xcode `sudo xcode-select --install`.  👍

[2022-07-27 19:51] yanchen4791 commented on #95079
Refined the fix with a verbose suggestion of where to add `move` keyword. The output of the first test case is:
[code]

The output of the second test case is:
[code]

In addition, the fix will also add the suggestion for nested closure block like this test case:

[code]

The output of the above test case is:

[code]

[2022-07-27 19:55] joshtriplett commented on #76801
Attempting to revive this:

If we haven't already, we should make an attempt to seal `OpenOptionsExt`, assuming we can do so without widespread breakage.

If we *can* seal it, we can then add this method. If we can't, we'll have to add a new sealed trait for it.

[2022-07-27 19:58] matthiaskrgr opened #99820 "ICE: compiler/rustc_middle/src/ty/layout.rs:3199:21: argument to function with "rust-call" ABI is not a tuple"
### Code
code is from glacier `fixed/69487-1.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

It's a bit weird, since this is in glacier/fixed, apparently this one crashed, then it was fixed and then it regressed again..?
I ran `cargo-bisect` and it said
[code]
Searching for the code in the bugtracker though points to
https://github.com/rust-lang/rust/issues/69487 and https://github.com/

[2022-07-27 20:02] est31 commented on #99683
Oh this caused some breakage, I'm sorry. I guess it's legal breakage as per policy, and only one broken crate is not that bad. Still I'm not as happy now as I was when my PR got merged :).

I just copy pasted one of the existing implementations and then modified it, think it was the one for `str`. If you check the [rustdoc](https://doc.rust-lang.org/stable/std/slice/trait.Join.html) for the Join t

[2022-07-27 20:05] matthiaskrgr commented on #99820
The code from https://github.com/rust-lang/rust/issues/66696 also crashes again
[code]

[2022-07-27 20:07] matthiaskrgr commented on #89271
triage: still crashing :upside_down_face:

[2022-07-27 20:09] joboet commented on #99805
The implementation in the blog post does not have any known errors, so correctness is not affected. On the other hand, even if `VecDeque::new` could be made `const` with the current design, the issue of over-allocating would still persist. Additionally, with the proposed variation, conversions from `Vec` would be essentially free.

Definitely, but I do not think that this should block the usage of

[2022-07-27 20:09] matthiaskrgr commented on #81920
@Aaron1011 any updates? :upside_down_face:

[2022-07-27 20:31] yaahc commented on #99683
https://github.com/rust-lang/rust/issues/26780#issuecomment-118924075

Coherence issues, probably worth reinvestigating to see exactly what the issue was.

[2022-07-27 20:45] cuviper commented on #84277
Here's what it looks like for rayon's implementation of `try_*` methods to use just that subset:
https://github.com/rayon-rs/rayon/compare/master...cuviper:rayon:unstable-try

[2022-07-27 20:56] the8472 commented on #99805
We could even check if the capacity is a power of two and then do masking and otherwise do modular arithmetic.

But imo that should be done separately from allowing non-allocating `VecDeque::new` since that should be much simpler.

[2022-07-27 21:01] jdahlstrom opened #99822 "Extra semicolon inside trait definition gives nonideal error message"
Given the following code: [(playground)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=9ec53b4c323b5ee395ba6e52cc5041e4)

[code]

The current output is:

[code]

(In both stable 1.62.1 and nightly)

Ideally the output could be less generic and use more precise terms like "an unexpected semicolon" rather than "non-item" and "trait definition" rather than "item list", as we

[2022-07-27 21:06] hdelc commented on #99777
Hi, so I've realized that this issue is extremely similar to #86239, and the fix is basically fully templated by that issue's closing pull request. The issue seems to come from this `check_doc_alias_value` function, which has a `Target` blacklist, followed by a call to `rustc_middle::hir::map::Map::name`, which fails with an ICE for any `HirId` without an associated `Symbol`:
https://github.com/ru

[2022-07-27 21:07] thomasarmel opened #99823 "Compiler panic with "features": "16bit-mode" on JSON target file"
The issue comes from **"features": "16bit-mode"**

### Code

**.cargo/config.toml**
[code]

**i586-rust_dos.json**
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-27 21:13] TheButlah opened #99824 "Borrow checker gives E0499 in loops with mutable borrows, but it is misleading"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=6a4dbffaa1c7bfe6e167b40eacaca921
The current output is:

[code]

It looks like the error is pointing to the wrong spot in the code and is quite misleading.
Ideally the output should mention that `decoder` is still mutably borrowed because it holds a reference to `frame` between loops. Or something, im

[2022-07-27 21:26] #98932 closed

[2022-07-27 21:26] #94231 closed

[2022-07-27 21:26] #99325 closed

[2022-07-27 21:26] #99641 closed

[2022-07-27 21:26] #99797 closed

[2022-07-27 22:01] xFrednet commented on #54503
Hey @rust-lang/lang, I've created a [stabilization report](https://github.com/rust-lang/rust/issues/54503#issuecomment-1179563964) and we identified [two concerns](https://github.com/rust-lang/rust/issues/54503#issuecomment-1190593273). Would you mind reviewing them? :upside_down_face:

[2022-07-27 22:07] Phosra commented on #99656
That sure does explain what is occurring! Yet, not why?

(i.e. Wouldn't we want them both vectorised for opt-level=3?)

[2022-07-27 22:13] paolobarbolini commented on #99656
If I use a while loop it works, so I guess something it preventing LLVM from optimizing the for loop

https://rust.godbolt.org/z/sha96Ga3a

[2022-07-27 22:16] aDotInTheVoid commented on #94591
This is at risk of happening again with #99688 and #99787 for the 16->17 change

[2022-07-27 22:38] rmurrells opened #99828 "ICE when specifiyng invalid `{}` as the associated type for `impl Iterator` as a return type"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-27 22:47] LeSeulArtichaut commented on #71668
Opened https://github.com/rust-lang/rust/pull/99827 as a starting point, which simply adds an `unsafe` block wrapping the entire function with no regards to proper style.

Having finer-grained unsafe blocks sounds possible to me, though we'd have to be careful around field expressions, places, etc.

[2022-07-27 22:49] cuviper opened #99830 "Misoptimization around asm mul+div"
While trying some inline assembly in my solutions to an online math puzzle site (without spoiling which one), I ran into a case that gets the right answer in debug mode or `opt-level = 1`, but fails at `opt-level = 2` or higher. I've extracted as much as I could to make this stand alone.

[code]

[code]

I expected to see this happen: the 3 assertions in `main` should pass.

Instead, this happened

[2022-07-27 23:07] workingjubilee commented on #81334
Fair enough!

@stefson The patch you ask for is simple so if you send it in we probably would happily accept it, but the best way to make sure Void Linux's `powerpcle-unknown-linux-*` targets are accounted for in the future would be to go through the process of upstreaming them as a tier 3 target. [Tier 3 Platform Support](https://doc.rust-lang.org/nightly/rustc/platform-support.html#tier-3) doesn

[2022-07-27 23:21] BurntSushi commented on #64102
I strongly agree.

I'm personally in favor of `black_box`. Not `bench_black_box`. The former is what it has been known by for a long time, and it's also what similar routines inside other benchmarking harnesses are called.

I read most of the discussion up until this point (although not the full RFC discussion), and it's not totally clear to me what the differences are between these two choices.

[2022-07-27 23:59] Lokathor opened #99834 "doctests show a full stack trace of the panic despite `RUST_BACKTRACE` not being set"
at least since yesterday, when i get a panic in a doc test it shows a full backtrace of the panic. Over a page long, full of the old-style useless stack frames info, not the newer info that's usually nicer by cutting out the stuff burred inside the standard library.

however, *normal* tests using the `#[test]` attribute give the expected output of just saying "FAILED" and then printing the panic m

[2022-07-28 00:00] bkolobara commented on #86654
I have also been struggling with this issue [for some time now](https://users.rust-lang.org/t/implement-trait-bound-for-fn/76891).

My use case is a bit specific, I use `fn pointers` to pass functions between a WebAssembly guest and host environment. It's the only way to get a reference to a guest function.

[code]

I can't use `Fn` traits, because you can't turn a closure into a Wasm table index.

[2022-07-28 00:04] joshtriplett commented on #64102
@BurntSushi In terms of naming, I would favor something that describes functionality: `bench_no_opt` or similar. (There are frameworks that use `do_not_optimize` or similar, so there's precedent there.)

Regarding ref vs owned, it seems like the main difference is avoiding a copy of a large object.

[2022-07-28 00:16] nbdd0121 commented on #64102
I strongly disagree. `black_box` describes the functionality of the function perfectly -- this function is not opaque and optimizer will not see through it. Meanwhile, `bench_no_opt` is a very vague and non-descriptive name. What's not optimized? `bench_no_opt(expr)` wouldn't prevent `expr` from being optimized and wouldn't prevent the usage of the result from being optimized. `black_box` is an op

[2022-07-28 00:38] cuviper commented on #99830
Adding `assert!(self.0 < Self::MOD);` to the end of `mul_assign` also makes it work -- codegen is rather sensitive here.

[2022-07-28 01:15] cuviper opened #99836 "Compiling ndarray: alignment mismatch between ABI and layout"
### Code

[ndarray](https://github.com/rust-ndarray/ndarray) master as of `ddef4d280fb5abc82325287e68ecacfc81882a1e`.

### Meta

`rustc --version --verbose`:
[code]

That's commit 2643b16468fda787470340890212591d8bc832b7 built with this `config.toml`:

[code]

### Error output

[code]

Note that this assertion is under `if cfg!(debug_assertions)`:
https://github.com/rust-lang/rust/blob/2643b16468f

[2022-07-28 01:41] cuviper commented on #99740
That used to call `dlsym`, but it has used `#[linkage = "extern_weak"]` since #90846, released in Rust 1.59.0.

I do see `posix_spawn_file_actions_addchdir_np` in `x86_64-unknown-linux-musl/lib/self-contained/libc.a`, and the corresponding weak symbol reference in its `libstd-*.rlib`, so I don't know why that isn't working.

[2022-07-28 01:43] sunshowers commented on #99740
Huh, thanks for looking at this. That's really weird then.

[2022-07-28 02:51] cuviper commented on #99836
cc @RalfJung since you re-enabled these assertions in #98968.

[2022-07-28 03:11] cuviper commented on #99836
Here's a smaller reproducer:

[code]

<details><summary><strong>Output</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-28 03:36] cuviper commented on #99836
This can make safe misaligned references: [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=2e9eef459d1b059f7e3973bbf1b3f835)

[code]

[code]

[2022-07-28 03:46] carbotaniuman commented on #99721
You need `[used(linker)]` for this to work. That has spotty availability sadly, but there are workarounds.

[2022-07-28 03:47] asquared31415 commented on #99830
The `pure` and `nomem` options on your asm block are incorrect, that asm modifies memory.  However in practice that does not seem to be affecting the codegen here, it still fails with them removed.  Adding `#[inline(never)]` to the `mul_assign` function *does* make the function work, so it seems to be an unsound inlining change.

[2022-07-28 03:50] nbdd0121 commented on #99721
That won't work either. Object file inside static libs will not participate in linker if it does not provide any undefined symbol. SHF_GNU_RETAIN are not special in this regard.

[2022-07-28 03:56] JakobDegen opened #99838 "Misaligned reference from drop field in packed struct"
I tried this code:

[code]

I expected to see this happen: The reference is aligned

Instead, this happened:
[code]

### Meta
`rustc --version --verbose`:
[code]

@rustbot label I-unsound A-mir

[2022-07-28 03:56] #87675 closed

[2022-07-28 03:58] JakobDegen commented on #99838
We have a pass to add moves for drops in packed structs, but it doesn't fire in this case. That's because there's a bug [here](https://github.com/rust-lang/rust/blob/ada80a13b97a01176a1660453060e296a72cf1bb/compiler/rustc_const_eval/src/util/alignment.rs#L58) - this computation cannot just take into account the innermost field, it needs to compute a minimum of some sort.

[2022-07-28 04:07] cuviper commented on #99830
How is it modifying memory? I only expect it to read+write `eax` and `edx`, and read the other divisor `reg`.

[2022-07-28 04:09] asquared31415 commented on #99830
Oh good point, I suppose the translation from the memory location to the value is done outside the asm, with the `inout`.  Either way I don't think it's relevant here, this seems to be entirely caused by inlining.

[2022-07-28 04:55] crlf0710 commented on #89460
@joshtriplett Sure.

It is known that from user's perspective, coercions has "priorities", and dyn upcasting coercion has a higher priority than user defined `Deref`-based coercions. In the end, this coercion "shadows" a rare certain setup of user `Deref` implementation, which mimicks dyn upcasting coercion manually(see #89190 for an example).

For now we don't want to break user's code, since dyn

[2022-07-28 05:32] lcnr opened #99840 "TAIT: it's possible to impl a trait for a tait by using projections"
[code]
As coherence checking keeps opaque types opaque this should not be unsound. Considering that a direct impl for opaque types is forbidden, this is an inconsistency we should resolve though.

cc @oli-obk

[2022-07-28 07:06] ankane opened #99842 "Tracking Issue for `float_gamma`"
Feature gate: `#![feature(float_gamma)]`

This is a tracking issue for adding the [gamma function](https://en.wikipedia.org/wiki/Gamma_function) to `f32` and `f64` (`tgammaf` and `tgamma` from C).

Refs:
- https://github.com/rust-lang/rfcs/issues/864
- https://github.com/rust-lang/rust/issues/18271

### Public API

[code]

### Steps / History

- [ ] Implementation: #99747
- [ ] Final comment perio

[2022-07-28 07:46] #99254 closed

[2022-07-28 07:49] compiler-errors commented on #99206
The error message now:

[code]

[2022-07-28 07:49] eranfu commented on #67306
I have the same problem, and I just want to link to a *.dll, not *.lib.

[2022-07-28 08:47] eddyb commented on #60705
So @Gankra was showing my some non-trivial `v0` symbols and that got me pondering about richer presentation than just text. [Even for plain text, I was able to prototype some stuff w/ `jq`](https://gist.github.com/eddyb/33c12bbf582fd9b5d93c8c2d3ed5c169), but that's a pile of hacks approximating "balanced `<>`/`()`" parsing.

Ideally we wouldn't be going the long way around through the "parse v0 ma

[2022-07-28 08:55] eddyb commented on #99684
Yeah, I almost suggested something like `k#autoref` binding modifiers, but it won't do you much more good than `.autoref_mut()` (where all of the complexity goes into ensuring that method resolution actually finds the right autoref helper, and not some user-controlled impostor)

But that worst-case example is an example of ["two-phase borrows" (aka 2Φ)](https://rustc-dev-guide.rust-lang.org/borrow

[2022-07-28 09:15] apiraino commented on #99836
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2399836.20Compiling.20ndarray.3A.20alignment.20mismatch.20between.20ABI.20an.E2.80.A6)).

@rustbot label -I-prioritize +P-critical

[2022-07-28 09:18] GoldsteinE commented on #94067
Also encountered this with `Mutex` guards

[code]

[2022-07-28 09:23] EFanZh commented on #60705
@eddyb I have written a demangler that can demangle v0 syntax: <https://github.com/EFanZh/ast-demangle/>.

[2022-07-28 09:28] apiraino commented on #99838
@JakobDegen is this a regression? What did you exactly expected the output to be? (I'd like to run a bisection). thanks.

[2022-07-28 09:29] JakobDegen commented on #99838
This is not a regression, it was wrong all the way back in 1.0

[2022-07-28 09:46] apiraino commented on #99838
WG-prioritization assigning priority ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2399838.20Misaligned.20reference.20from.20drop.20field.20in.20packed.20struct)).

@rustbot label -I-prioritize +P-high E-needs-bisection

[2022-07-28 09:56] mkroening commented on #99721
Yeah, that does not work unfortunately.

[2022-07-28 09:57] mkpankov commented on #87555
Was FCP started?

[2022-07-28 09:59] eddyb commented on #60705
Oh, my bad @EFanZh, now that I'm looking at it, I'm pretty sure I've seen it before and just forgot :(

[2022-07-28 10:38] GoldsteinE commented on #94067
Actually, it seems to break even if local is never borrowed ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f55bc00341aaf44c64e858900e404f41))
[code]

[2022-07-28 10:54] nikic commented on #99830
I see this in the input IR:
[code]
So looks like this happens before LLVM.

[2022-07-28 10:54] GuillaumeGomez opened #99848 "rustdoc: Remove `Item::visibility` and add `ItemKind::ReexportItem`"
Currently, we store the `visibility` in `Item`. I think this is mostly because of reexports since we need to inline them. A way to go around this limitation would be to have a `ItemKind::ReexportItem` which would store the reexport `DefId` and the reexported items.

Then when we render the HTML, we simply bypass this `ReexportItem` like we currently do.

[2022-07-28 10:55] oli-obk commented on #99840
The two commented out lines do not cause any errors (https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=8366951aa5afd218745dd0ebc4564387) So I'd say this is unsound or at least causes ICEs: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=07fbbfb3b0ecc1dc59ffc71b18b06f1e

[2022-07-28 11:05] lcnr commented on #99840
what, is that a recent regression? :o these do error with `rustc 1.63.0-nightly (5435ed691 2022-06-07)`

[2022-07-28 11:12] Alexendoo commented on #90871
No longer ICEs since 2643b16468fda787470340890212591d8bc832b7

[2022-07-28 11:20] Nemo157 commented on #89554
@camelid great idea, moved to https://github.com/rust-lang/rust-clippy/issues/9255

[2022-07-28 11:34] jfrimmel commented on #67209
Confirmed fixed with the toolchain 1.62.1! When redoing the steps in the issue description, the current toolchain 1.62.1 produce the desired result:
[code]
As you can see in the last output line, the section is now non-empty and has a size of 4 (a single `u32`).

Seems like this bug was fixed by accident 😉

@Amanieu should we add a test to the Rust repo, so that this doesn't break accidentally? Or

[2022-07-28 11:37] BaderSZ commented on #67209
Possibly related to #95604?

[2022-07-28 11:49] H2WO4 opened #99852 "ICE when returning value bound by `if let ... && let ...`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-28 11:50] dvdhrm commented on #97322
Note that you can avoid building `std` by setting `no-std = true` in your `build.toml` like this:

[code]

This avoids relying on the hard-coded values in `src/bootstrap/`, but does not solve the issue entirely. I think a possibility would be to avoid building `std`, except for targets that opt-in. I am unsure how and where to encode that information, though. `std` could list the targets it has be

[2022-07-28 11:55] Kixunil commented on #64102
Note that I first read `no_op` instead of `no_opt`, so prefer `no_optimize` to `no_opt` to avoid confusion. `optimizer_fence` sounds good.

[2022-07-28 12:28] ypprog commented on #99751
New to rustc community and wants to contribute code.
Are there any options to debug rustc which line of which file the error abort happens.

[2022-07-28 12:35] Amanieu opened #99853 "compiler-builtins CI fails on powerpc64"
Some `memset` tests fail on both powerpc64-unknown-linux-gnu and powerpc64le-unknown-linux-gnu, but only with `--release`. Bisecting show #91743 as the culprit, but I think it just exposes an existing LLVM bug rather than being the root cause.

### powerpc64le

[code]

### powerpc64
[code]

[2022-07-28 12:42] nikic commented on #99830
Gah, ignore my last comment. I used an old version of llvm-dis, and apparently that corrupted the IR. That shouldn't be happening, but it's an unrelated problem...

[2022-07-28 12:53] lqd commented on #99840
It looks to be from last week's https://github.com/rust-lang/rust/pull/99506, and out of that rollup [#99345](https://github.com/rust-lang/rust/pull/99345) looks likely.

[2022-07-28 12:57] Nilstrieb opened #99854 "Bad MIR spans"
In https://github.com/rust-lang/rust/pull/99780#issuecomment-1197909020, I tried to add an assertion in the span formatting function to validate that the span for the `mir::Body.span` span always contains all spans of MIR statements/terminators.

[code]

But this assertion failed for many tests. One such case was for associated constants.

We should investigate all the cases where the MIR body spa

[2022-07-28 13:00] nikic commented on #99830
Based on opt-bisect the problem is introduced by `Early Tail Duplication on function (_ZN7mul_bug5solve17h72587f293f9deb66E)`, but I haven't checked whether that actually introduces the miscompile or just exposes it.

[2022-07-28 13:04] oli-obk commented on #99840
Hmm... that one got reverted in https://github.com/rust-lang/rust/pull/99079

cc @compiler-errors

[2022-07-28 13:13] lqd commented on #99840
Was that a revert, or a targeted fix for closures ?

[2022-07-28 13:14] oli-obk commented on #99840
revert + actual fix of the original issue

[2022-07-28 13:24] est31 commented on #99852
cc @c410-f3r

[2022-07-28 13:28] lqd commented on #99840
The behavior is the same on master, no errors + ICEs. I'll try to manually bisect within the rollup to see confirm cargo-bisect-rustc's findings.

[2022-07-28 13:41] c410-f3r commented on #99852
Code does not compile. Here goes a local attempt that was OK.

[code]

IFAICT, `compiler/rustc_const_eval/src/transform/validate.rs` isn't very related to `let_chains`.

[2022-07-28 13:44] compiler-errors commented on #99840
Isn't this just another form of #99554?

[2022-07-28 14:03] lqd commented on #99840
(I wish we had try builds for each rolled up PR 😅) It was indeed introduced in the same rollup: by eecfdfb8a12367cb292a85b6a30981eb35a56379 / #99383.

Reverting *that* does indeed bring the conflicting implementation errors back, and fixes the ICE.

[2022-07-28 14:06] nrc commented on #74465
ISTM that since OnceCell has a take method which resets it back to the initialised state, it can be set multiple times and therefore 'once' in the name is misleading. Am I missing something about the once-ness?

[2022-07-28 14:08] lcnr commented on #99840
no, #99554 is using projections in ways which should fail the orphan check, here we have projections which should pass the orphan check, but can be normalized to opaque types.

These issues need two distinct fixes

[2022-07-28 14:10] oli-obk commented on #99840
I have a proper fix locally, but we should investigate how #99383 affected this

[2022-07-28 14:19] matklad commented on #74465
I think this is just a special case of the more general phenomenon of "nothing is immutable, b/c you can always overwrite the variable itself". This is true of the `Once` we already have:

[code]

This is also similar to the docs for `Mutex`, which currently say

This is the right intuition, but also a lie, because you can do whatever if you have `&mut Mutex`.

Admittedly, this is a common questio

[2022-07-28 14:24] inflation opened #99855 "Cannot build std for `*-apple-watchos*` targets"
Since `*-apple-watchos*` are Tier 3 targets without a precompiled std lib, I need to build one

I tried this code:

[code]

I expected to see this happen: build the hello world successfully

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

It turns out some platform-specific definitions are missing. Using the iOS counterpart in place compiles successfully. Then I doub

[2022-07-28 14:25] est31 commented on #99852
@H2WO4 would it be possible to upload a self contained example that reproduces the issue?

[2022-07-28 14:39] aviramha opened #99858 "naked + variadic args partially ignores the naked"
I found out that if I define a `#[naked]` function that has variadic args it still emits a function prolog.

I tried this code:

[code]

I expected to see this happen: asm output:
[code]

Instead, this happened: asm output
[code]

### Meta

`rustc --version --verbose`:
[code]

[2022-07-28 14:55] pnkfelix commented on #98568
Closing as fixed. I believe PR #98567 fixed this in nightly, and I believe PR #99098 fixed this in beta.

[2022-07-28 14:55] #98568 closed

[2022-07-28 14:57] Amanieu commented on #99853
#88520 might be related: we previously had some test failures due to the LLVM 13 upgrade, which we never got around to fixing (we just disable those tests on PPC64).

[2022-07-28 15:01] dingiso opened #99859 "Value was released prematurely"
The Value `rpos` was released prematurely ,

I tried this code:

[code]

I expected to see this happen: *rpos should be 3 for all the time*

Instead, this happened: *the stdout is
mid:3 rpos:3, midn:6
mid:5 rpos:3, midn:1
mid:0 rpos:0, midn:0*
rpos turn to be 0 in the third circulation;

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</detail

[2022-07-28 15:02] apiraino commented on #98437
Revisited during T-compiler meeting ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.5D.202022-07-28/near/291204340)), downgrading priority since it has been decided this is an acceptable breakage.

@rustbot label  +P-high -P-critical

[2022-07-28 15:06] Urgau commented on #99852
It seams that the ICE only occurs with `opt-level` >= 1 not below. Using the example from `@c410-f3r` I got a very similar ICE as the issue.

[2022-07-28 15:06] H2WO4 commented on #99852
This panics for me:
[code]

But removing the generic `U` in `lambda` allows it to compile:
[code]

[2022-07-28 15:08] H2WO4 commented on #99852
Additionally, it still panics if we remove the generic `T`:
[code]

[2022-07-28 15:23] RalfJung commented on #99836
Looks like the assertions found a bug in layout computation? The assertions are right I think, and that layout seems very bogus. Layout was wrong already before my PR, we just didn't catch the problem.

[2022-07-28 15:30] MarcelCoding commented on #65225
Hi, I really like this feature. Are there any news since mid-May?

[2022-07-28 15:41] bjorn3 commented on #99859
Can you please write a complete standalone reproducer? Your code doesn't have a main function and as such can't be executed to reproduce the error.

[2022-07-28 15:56] eddyb commented on #99836
Ahh, zero-sized aligned types, the bane of layout algorithms...

Likely needs an audit for everywhere we special-case ZSTs and maybe just make them require align == 1 for now.

In this specific case though, we could keep the niche optimization, just need to increase align of the whole type to the max `variants[v].fields[f].align` (across all variants `v` and their fields `f`).

Then it will look l

[2022-07-28 15:56] bjorn3 commented on #99858
As workaround you could use `global_asm!`.

[2022-07-28 16:01] bjorn3 commented on #99854
This is trivially false in the face of macros and MIR function inlining, right?

[code]

when compiled with nightly and optimizations enabled gives the following MIR:

[code]

`_0 = const 42_u32;` here is not contained inside `root`.

[2022-07-28 16:04] apiraino commented on #99838
I have run a bisection with [cargo-bisect](https://github.com/rust-lang/cargo-bisect-rustc) on your `main.rs`.

[code]

The bisection could not pinpoint a single commit, maybe it sinked into a rollup merge. But if it helps, the regression should be in `nightly-2021-03-30` and coming from one of these PRs
[code]

@JakobDegen do you see in any of those a possible culprit? (I don't have the context t

[2022-07-28 16:09] Nilstrieb commented on #99854
Good point, I did not consider this. I guess then the assertion should not be added, and the spans from outside should be better dealt with (I am not sure how that would look like though).

cc @oli-obk

[2022-07-28 16:13] bjorn3 commented on #99820
Typeck should probably just check that functions with the rust-call abi have two arguments. One of arbitrary type and a second of a tuple type. That would also fix https://github.com/bjorn3/rustc_codegen_cranelift/issues/1236.

[2022-07-28 16:19] bjorn3 commented on #99813
The standard library can't use proc macros as that would break cross-compilation. This means that using serde_derive is not an option. Using serde without it is somewhat awkward. Serialization is less awkward than deserialization, but still somewhat awkward. Looks like serde_xml_rs uses xml-rs for the actual xml parsing and serialization, so using xml-rs directly would be an option, if not for the

[2022-07-28 16:19] Stargateur commented on #84277
This trait is core to the Rust language, I think it shouldn't be rushed. Specially https://github.com/rust-lang/rust/issues/84277#issuecomment-1066120333 suggest change that are not compatible with your suggestion, we should test it before commit to anything.

[2022-07-28 16:19] cuviper commented on #99836
I don't understand how you could require that -- `[T; 0]` must still be aligned like `T`, right?.

[2022-07-28 16:22] #99502 closed

[2022-07-28 16:22] #99642 closed

[2022-07-28 16:22] #99794 closed

[2022-07-28 16:31] JakobDegen commented on #99838
Yeah, it's #83605, cc @RalfJung

[2022-07-28 16:46] lyming2007 commented on #98982
now the output looks like:
[code]
Is that good enough?

[2022-07-28 16:54] est31 commented on #99852
Minimized:

[code]

[2022-07-28 16:57] c410-f3r commented on #99852
From my local tests, all the above snippets only happen in optimized builds using the latest master branch.

I also couldn't reproduce using a sightly older compiler version (nightly-2022-07-15).

[2022-07-28 17:14] paulocsanz commented on #99303
Closing this we haven't seen that anymore and 1.62.1 has a changelog that seems to fix a similar issue, so that might be it. Will reopen if it happens again.

[2022-07-28 17:14] #99303 closed

[2022-07-28 17:15] Neo-Zhixing commented on #99705
#76560

A fix exists here at #99801 but we're waiting on @spastorino 's pending RPIT refactor work to fix this. In the mean time, developers who need this feature can use the branch in #99801.

https://rust-lang.github.io/rustup/concepts/toolchains.html#custom-toolchains

[2022-07-28 17:19] c410-f3r commented on #99852
OK, just updated the compiler and the ICE happened. Since I've only worked in the parser these past weeks, it is possible that some recent MIR change caused this current behaviour.

[2022-07-28 17:28] cuviper commented on #84277
I agree it shouldn't be rushed, but I'm trying to give it some forward momentum. This stuff has been around in stable use for a long time -- `?` since 1.13, `try_fold` since 1.27 -- so I don't think anyone can accuse it of moving too quickly. Right now we seem to be stuck in a mostly-bikeshed limbo, although there are some functional aspects still being hammered out too. "Perfect is the enemy of g

[2022-07-28 18:02] compiler-errors commented on #99828
@TaKO8Ki are you working on this? I started working on a solution but didn't claim it, and I saw you claimed a few other issues recently too 😆

[2022-07-28 18:08] ArthurKValladares opened #99866 "broken MIR in Item (nightly)"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

This came from a workaround for what seems to be an old compiler bug. removing the workaround gets ride of the ICE:

[code]

[2022-07-28 18:31] scottmcm commented on #84277
I do like the interim goal!

I'll note that it's actually *possible* to (indirectly) get to `Try::from_output` on stable today:
[code]
<https://play.rust-lang.org/?version=stable&edition=2021&gist=9c3540cb33148314790bd75840aab638>

Another option for letting people call it without stabilizing trait details would be to stabilize `try{}` blocks -- that's actually how the standard library calls it:

[2022-07-28 18:48] cmpute commented on #70887
Just come up with this thought. Since counting the digits of the number in certain radix is one of the most common applications of logarithms, it will be more convenient if the logarithm of signed integers accepts negative values. The result will just be the logarithm of the absolute values (so `log(0)` is still invalid). Does this make sense?

[2022-07-28 18:49] kennykerr commented on #58713
Ship it! As soon as that is stabilized, I can turn it on for non-x86 targets in the `windows` and `window-sys` crates.

![ExcitedImGIF](https://user-images.githubusercontent.com/9845234/181614838-ed907e00-9720-4840-a572-be3576a10d4c.gif)

[2022-07-28 19:15] 5225225 commented on #99866
Can you post what your dependencies are? Or include the `use` statements? Ideally with the versions too.

Or something that can just be stuck in a `main.rs` that compiles? I'm not sure where the `B` is coming from in the code above.

[2022-07-28 19:23] Nilstrieb opened #99869 "Bootstrap doesn't clone llvm-project if profiling is enabled"
When using `profiler = true` in the `cargo.toml` to enable profiling, having a local copy of `src/llvm-project` is required. If no such copy is present, errors about missing libraries are emitted and the build fails.

Expected behavior:
Bootstrap initializes the `src/llvm-project` submodule when `profiler` is enabled.

[2022-07-28 19:24] 5225225 commented on #99813
`xml-rs` only uses that proc macro for tests. It's to test that the `Readme.md`'s code examples run fine. They'd very likely take a PR to remove it, seeing as it's test only, bumping the MSRV and using `#[doc = include("Readme.md")] mod readme_test {}` be fine.

*However*, `xml-rs` seems unmaintained. So, maybe best not.

Manually implementing XML escaping ourselves would probably be the easiest o

[2022-07-28 19:29] jyn514 commented on #99869
This should be pretty easy to fix - call builder.update_submodule("src/llvm-project")` in `impl Step for compile::Std` if profiling is enabled.

[2022-07-28 19:33] Nilstrieb commented on #99869
@rustbot claim

[2022-07-28 19:34] Stargateur commented on #84277
I don't understand what you mean by that, you can use ControlFlow of std that is stable.

I agree I just think naming is important, the feature of current Try is fine for me.

[2022-07-28 19:38] cuviper commented on #84277
I mean for your own custom type implementing `Iterator`, it should be possible to write a custom version of the `try_fold` method, just like we do for the implementations for `Chain`, `FlatMap`, etc. At minimum, that means you must be able to match the constraints of that method, `R: Try<Output = B>`.

[2022-07-28 19:39] vi opened #99870 "Broken source link on documentation page for `std::is_x86_feature_detected`"
### Location

https://doc.rust-lang.org/stable/std/macro.is_x86_feature_detected.html

### Summary

Clicking at "source" in `1.27.0 · source · [−]` leads to https://doc.rust-lang.org/1.62.1/src/std_detect/detect/arch/x86.rs.html#18-197 that serves a "Not found" page.

[2022-07-28 19:48] ArthurKValladares commented on #99866
Of course, my bad for not providing this upfront. I've been able to repo it with this setup:

deps/features:
[code]

lib.rs
[code]

[2022-07-28 19:49] 5225225 commented on #99852
searched nightlies: from nightly-2022-06-01 to nightly-2022-07-28
regressed nightly: nightly-2022-07-08
searched commit range: https://github.com/rust-lang/rust/compare/7665c3543079ebc3710b676d0fd6951bedfd4b29...1517f5de01c445b5124b30f02257b02b4c5ef3b2
regressed commit: https://github.com/rust-lang/rust/commit/3e51277fe638dc0c8ceb6d1d3acc5aa247277c29

<details>
<summary>bisected with <a href='http

[2022-07-28 19:52] est31 commented on #99852
From that list, #98930 seems to be the most likely cause.

[2022-07-28 19:53] 5225225 commented on #99866
Ah yes, thank you very much. I can reproduce it (with the `empty` feature, so all the other crates can presumably be removed). I'll look into this.

[2022-07-28 19:56] 5225225 commented on #99852
I wonder if this has the same cause as https://github.com/rust-lang/rust/issues/99866 .... Hmmm..... They're both broken MIR, but it's a different exact error.

[2022-07-28 20:06] scottmcm commented on #70887
@cmpute I think that if someone wants log₁₀|x| for signed, it's fine for them to type `x.unsigned_abs().log10()`.

`unsigned_abs` can't overflow, so that'll always work just fine, and it's much clearer to the reader what's happening.

[2022-07-28 20:07] 5225225 commented on #99866
For reference, minimised it down to this:

[code]

I also bisected this, and it turns out to be the same rollup as in #99852... So I suspect both these errors were introduced in the same commit. Interesting!

[2022-07-28 20:09] scottmcm commented on #70887
Hello libs-api folks!  I'm nominating on behalf of https://github.com/rust-lang/rust/issues/70887#issuecomment-1181686322

I [think](https://github.com/rust-lang/rust/issues/70887#issuecomment-1186363240) these just need a decision from you whether to be called `log2` or `ilog2`, then they're ready for stabilization.

[2022-07-28 20:16] lnicola commented on #70887
I'd here prefer `ilog2`, both because of tradition and because `ilog2` is a completely different operation from `log2`, and it's confusing to call it like that.

[2022-07-28 20:16] compiler-errors commented on #99820
@bjorn3 I don't think this can exist in typeck, at least not without extra type information encoded into the program, since we can't determine if a `ty::Param` is tupled or not.

[2022-07-28 20:19] mqudsi commented on #99683
Based off of https://github.com/rust-lang/rust/pull/25162#issuecomment-100309359, the underlying reason is the ambiguity of  `Vec::<String>::new().concat()`  - does that return a `Vec<Vec<u8>>` or `String`? Using `Borrow` instead of `AsRef` caused that to become deterministic (returning the way more probably desired outcome of type `String`).

For `OsStr`, `Vec::<&OsStr>::new().concat()` isn't/was

[2022-07-28 20:33] mqudsi opened #99874 "It's not possible to search for specialized generics in docs"
It should be possible to search for types implementing/using a particular specialization of a generic, as these specializations are already broken down and available either in the prototype/declaration (for parameters to and return values of functions) or in the "trait implementations" section (for specific trait implementations).

e.g. I should be able to search the rust docs for the literal stri

[2022-07-28 20:34] Nilstrieb commented on #99866
Here is the MIR for the `iter` function when I manually disabled validation:
[code]

[2022-07-28 20:44] Nilstrieb commented on #99866
After looking into this a bit, I got the following:

The body is treating the generic type `DST` and the concrete associated type `<Back as Backend>::DescriptorSetLayout` to be of the same type. The MIR validator probably thinks that this is very sketchy and bails out (I haven't looked at it closely).

This is actually ok though, since in the where bounds `DST` is constrained to be equal to `<Back

[2022-07-28 20:50] Nilstrieb commented on #99866
This was probably regressed by #96856. cc @DrMeepster

[2022-07-28 20:50] RalfJung commented on #99836
Yes, and for that reason `[T; 0]` is not a ZST for many `T`. In the WG-UCG we started using the term "1-ZST" to refer to types with size 0 and alignment 1; that's really what we usually mean when we say "ZST".

[2022-07-28 20:54] Nilstrieb commented on #99866
Yes, manually reverting the PR fixed the issue for me locally.

[2022-07-28 20:58] Nilstrieb commented on #99852
I think this is caused by #96856 as well. My local revert of it didn't ICE on the snippet, but nightly did (both compiled with `-O`).

[2022-07-28 21:21] cuviper commented on #99836
Oh I see, the places looking for ZSTs should be looking for "1-ZST", where they want no effect on layout.

[2022-07-28 21:28] kadiwa4 commented on #99069
The unstable `ATOMIC_*_INIT` constants can be removed, right? Or should they be stabilized for consistency with the stable `ATOMIC_*_INIT` constants? (All of them are deprecated.)

[2022-07-28 21:38] CAD97 opened #99875 "Trait bound not satisfied should specify "fn item" vs "fn ptr" kind"
Given the following code: [[playground]](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=b14b884b40223c3864d9c4ebabce0f4d)

[code]

The current output is:

[code]

Compare E0308 mismatched types: [[playground]](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=2db6dd0f0533bd0c07d70573c507f57e)

[code]

Ideally the output (of the reported example) sho

[2022-07-28 21:49] Nilstrieb commented on #99866
While it regressed in that PR, the PR only called validation that wasn't called before. The validation has been broken for longer.

[2022-07-28 21:57] RalfJung commented on #99838
Not sure how https://github.com/rust-lang/rust/pull/83605 would have an effect here, it should be a NOP for `repr(packed(N))` with `N < 2`.

Where is the logic that moves packed structs to a new place before dropping implemented?

That's odd, I would have expected this to be inside `drop_in_place`... after all calling `drop_in_place` on a packed struct also has to do this move. Why does MIR buildi

[2022-07-28 22:01] Nilstrieb commented on #99852
While it seems to be caused by the same PR, they don't appear to be caused by the same underlying issue.

[2022-07-28 22:02] #99788 closed

[2022-07-28 22:24] steffahn commented on #99875
I believe instead of "fixing" the error message, there's an underlying problem to be solved that function item types and function pointer types are rendered ***wayyy too similar***. That should be changed. I've expressed some thoughts on an alternative way to represent them in [this post on IRLO](https://internals.rust-lang.org/t/extending-implicit-coercion-of-function-items-to-function-pointers-d

[2022-07-28 22:39] yaahc commented on #99683
I wonder if having something like generic type parameter defaults would let us have our cake and eat it too in this case. I'm not familiar enough with the `slice_concat_trait` APIs to know if it would help in this case, but I'd be on the lookout for missing language features that could unblock ideal versions of this API.

[2022-07-28 22:40] 5225225 commented on #98862
I agree with those.

As for the last point, I believe we should eventually make it completely unusable, across all editions.

My reasoning for that is I don't believe there's a significant amount, if any, of non-UB uses of mem::uninit in the wild.

One thing that might be an interesting experiment is sticking a forbid by default lint on uses of it, and doing a crater check run, to find any crate t

[2022-07-28 22:47] matthiaskrgr opened #99876 "ICE: 'unexpected `def_kind` in `codegen_fn_attrs`: AnonConst', compiler/rustc_typeck/src/collect.rs:2695:9 with target_feature_11"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
`rustc ./28189.rs  "-Zcrate-attr=feature(target_feature_11)"`

You will need debug assertions to reproduce this ICE!!
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-28 22:48] matthiaskrgr commented on #99876
backtrace continued

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-28 23:08] est31 commented on #87335
In *theory* there are some scenarios where we could drop earlier. E.g. in this one:

[code]

It prints:
[code]

The first example makes sense: `v` is not moved out of `Droppy` because we only have it by reference. In the second example, however, no binding is created, we only do pattern matching on Droppy. Basically we could replace it with a use of `matches!()`.

Note that this *is* similar howev

[2022-07-28 23:10] JakobDegen commented on #99838
@RalfJung the pass is called `AddMoveForPackedDrops` or something like that. And this can't take place inside the callee because the callee receives a `&mut Self`, and if that reference is unaligned then UB has already occurred and there's nothing the callee can do to fix things anymore

[2022-07-28 23:17] CAD97 commented on #99875
I agree that's the better the long-term fix, but this is a fairly simple incremental change in theory (just copy what E0308 is doing to E0277). And probably that makes it a good

@rustbot label E-easy

for entering in to diagnostics hacking.

[2022-07-28 23:21] obeis commented on #99875
@rustbot claim

[2022-07-28 23:36] softdevca opened #99878 "Panic in escape_ascii().len()"
I tried this code:

[code]

I expected the length of the`escape_ascii` iterator.  Instead, panic:

[code]

### Meta

[code]

<details>
<summary>
My first suspicion would be the size_hint() on the iterator.  It also happens in no_std.
</summary>
<p>

Stacktrace:
[code]

</p>
</details>

[2022-07-28 23:39] petrochenkov commented on #73632
I wanted to confirm one thing.
Scenarios in which people want to use rlibs as "regular static libraries" also assume `-Z link-native-libraries=false`, right?
I.e. the linking of libraries is managed entirely by some outer build system rather than rustc.

In https://github.com/rust-lang/rust/issues/99429 we may want to change representation of native libraries bundled into `.rlib` files, and it wou

[2022-07-29 00:10] bsilver8192 commented on #73632
+1 for my use case being like this, I want to manage those via Bazel.

[2022-07-29 00:20] akriegman opened #99879 "Failed to build json docs with `rustdoc -w json`"
I'm trying to use the rustdoc `-w json` option, but it crashes with a difficult to understand error, and suggests reporting it here.

### Code

[code]

Cargo.toml:
[code]

### Meta

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2022-07-29 00:30] jsgf commented on #73632
@petrochenkov Yes, that's what I'd expect.

Scenarios in which people want to use rlibs as "regular static libraries" also assume -Z link-native-libraries=false, right?
I.e. the linking of libraries is managed entirely by some outer build system rather than rustc.

In https://github.com/rust-lang/rust/issues/99429 we may want to change representation of native libraries bundled into .rlib files, a

[2022-07-29 01:25] dingiso commented on #99859
Sorry, that's my fault , not the compiler , thanks

[2022-07-29 01:25] #99859 closed

[2022-07-29 01:29] cr1901 opened #99882 "Imprecise error message for tuples with explicit type annotations"
## Issue

Consider the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f565a2698f3decfb6f2e40cb9fb882e2)):

[code]

The current output as of a recent nightly

[code]

What the error's actually saying is "partition() returns a tuple of two elements of the same type". However, the error message as written suggests the whole expression returns an `

[2022-07-29 03:37] ryanavella opened #99885 "Improve suggestion for field initializer on tuple struct"
Given

[code]

The output contains this suggestion, among others

[code]

Both the initial error message and the recommendation are confusing. Ideally we should recommend removing `0:` since tuple structs do not use field initializers.

[2022-07-29 04:16] Enselic commented on #99879
Thanks for reporting! Looks like one of several  known bugs that has been fixed. Can you try the latest nightly please? 2022-06-14 is pretty old

@rustbot label +A-rustdoc-json -T-compiler +T-rustdoc

[2022-07-29 04:23] #99432 closed

[2022-07-29 04:32] mikebenfield opened #99886 "segfault when compiling with address sanitizer and debug variable locations"
In the crate `rustc-demangle-capi` version 0.1.0
(`wget https://crates.io.api/v1/crates/rustc-demangle-capi/0.1.0/download`)

I do this

[code]

I get a segfault:
[code]

`rustc --version --verbose`:
[code]

Note that `-experimental-debug-variable-locations=1` is now the default on x86-64 (since [this LLVM commit](https://reviews.llvm.org/rG6e03a68b776dc06826dacbdab26d24a90bb2173b), which is in Ru

[2022-07-29 05:21] TaKO8Ki commented on #99828
@compiler-errors I've already started working on this, but I spent only a little time on it, so I have no problem with you taking it over!

[2022-07-29 05:49] compiler-errors commented on #99828
Thanks. I will try my best to claim issues I am working on earlier in the process so I don't have to bother you like this.

[2022-07-29 07:06] #99265 closed

[2022-07-29 07:06] #99266 closed

[2022-07-29 07:07] thomcc commented on #99878
This is pretty unfortunate. This type should not implement `ExactSizeIterator`, but it has for a few stable versions now :(

Se ealso https://github.com/rust-lang/rust/issues/77174 (the original tracking issue) and https://github.com/rust-lang/rust/pull/83130 (the PR that added it)

[2022-07-29 07:44] xmh0511 opened #99896 "The inconsistent meaning of lifetime parameter in struct"
[code]
As a contrast
[code]
It is obscure here.  Such two examples have inconsistent behaviors.  For the second case, they are two issues

These are two obscure points. It should make sense that the access to `v.d` at `#4` is valid since we have changed the reference value at `#3` to make it refers to `i` that is valid at `#4`.

[2022-07-29 09:25] thomcc opened #99899 "Improve `core::intrinsics::black_box` output."
On discord, the user kangalioo (unsure of github name) shared a custom version of the `black_box` (https://github.com/rust-lang/rust/issues/64102) function they're using to improve the asm output of black_box, and reduce the overhead of its use.

[code]

Which produces the following output:

[code]

In comparison, the current black box `black_box` spills the output in basically all cases. The equi

[2022-07-29 09:31] thomcc commented on #99899
This is probably not worth doing if the outcome of #64102 is not to stabilize it.

[2022-07-29 11:19] tsoutsman opened #99901 "Add option to disable checking conditional compilation at compile time in `std`"
Hi, I've forked the Rust compiler to add a new target operating system. However, I ran into issues with the work being done for #82450.

My builds were failing with the following error:
[code]
even when using a custom target spec with `os: "theseus"`. To circumvent the issue [I removed the checks](https://github.com/theseus-os/rust/pull/2/commits/1e95d1023e7490e6c8145f0bbfbc97af697a9191), but this

[2022-07-29 11:20] GuillaumeGomez commented on #99874
Simply remove the `[]`. But you can search for `AsRef<u8>`, it'll pick the `[u8]` too.

[2022-07-29 11:23] GuillaumeGomez commented on #99870
It seems to be a reexport bug. The macro is reexported at the top of the `std` library.

[2022-07-29 11:23] gimbles commented on #99901
I don't think that is valid Rust? You might be confusing it with the `cfg!` macro. =)

[2022-07-29 11:27] tsoutsman commented on #99901
Sorry for the bad example, the code is from the `cfg_if!` macro [here](https://github.com/rust-lang/rust/blob/master/library/std/src/sys/mod.rs). I think the issue is still valid.

[2022-07-29 12:44] DutchGhost commented on #68543
The code in question now needs some extra `(&mut f).await`:
[code]

[2022-07-29 12:45] #99572 closed

[2022-07-29 12:45] #99755 closed

[2022-07-29 12:45] #99869 closed

[2022-07-29 12:47] DutchGhost commented on #68543
Same also occurs with generators and unsized locals acros yield points:
[code]

[2022-07-29 13:14] jackh726 commented on #78893
Discussed today during [t-types meeting](https://rust-lang.zulipchat.com/#narrow/stream/326132-t-types.2Fmeetings/topic/meeting.202022-07-29/near/291317862).

We agreed that this should compile, given this also compiles:
[code]
In other words, the bounds specified in the function arg are a convenient way to add new bounds, but don't change the fact that you still must prove the bounds on the trait

[2022-07-29 13:24] mati865 commented on #99901
You can probably workaround it by guarding it with `bootstrap` cfg.

[2022-07-29 13:26] jackh726 commented on #98543
There's a PR open that fixes this.

[2022-07-29 13:29] yshui commented on #78893
@jackh726 Then shouldn't this also compile with the same logic?

[code]

Why is associated type treated differently from type parameters?

[2022-07-29 13:38] Urgau commented on #99901
@tsoutsman Sorry, for the trouble you had. The reason why you have the error is because the `stage0` compiler is based on the beta compiler who doesn't know (yet) about you're (new) target. The way to fix it is by adding an exception for your target to the list `EXTRA_CHECK_CFGS`: https://github.com/rust-lang/rust/blob/2f847b81a0d8633f200f2c2269c1c43fe9e7def3/src/bootstrap/lib.rs#L205-L209

I woul

[2022-07-29 13:48] gimbles opened #99906 "Properly suggest fn when function is used"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like: ``help: you likely meant to define a function using the `fn` keyword instead``

___

Rustc already does this *to an extent*, for eg. here

[code]
[code]

However, using a similar implementation to #99903, this could become ideal.

@rustbot claim

[2022-07-29 13:50] PrestonFrom opened #99907 "For position named arguments lint, underline both curly brackets when inserting and don't add $ to formatting names in messages"
A comment asked why we only underline the closing curly brace when inserting (https://github.com/rust-lang/rust/pull/99660/files/1b2e05e212f9e2d50fb35817a80136018fbea4ba#r932952838) a named argument. This was originally because that's where it gets inserted -- but on reflection, this is potentially confusing. So underline both.

Also, in the lint message, the formatting argument names are emitted

[2022-07-29 13:50] PrestonFrom commented on #99907
@rustbot claim

[2022-07-29 14:10] oli-obk commented on #99854
Yea, I think we should not use relative offsets unless the span is within the function's span. Basically fallback to just the original span in that case

[2022-07-29 14:13] Nilstrieb commented on #99854
That sounds good, I'll improve that.

[2022-07-29 14:15] lcnr commented on #78893
@yshui we've ended up quickly talking about your question in the [t-types meeting](https://rust-lang.zulipchat.com/#narrow/stream/326132-t-types.2Fmeetings/topic/meeting.202022-07-29/near/291329478) as well

my intuition for this is that bounds on associated types have to be proven by the impl while bounds on generic arguments have to be proven by the user of that impl.

A bound like `T: Trait<Ass

[2022-07-29 15:04] Rageking8 commented on #99906
Possible duplicate of #99751

[2022-07-29 15:16] gimbles commented on #99906
Ah, that *is* a duplicate. Thanks for reporting!

[2022-07-29 15:16] #99906 closed

[2022-07-29 15:22] gimbles commented on #99751
@rustbot label +E-easy +E-mentor

@ypprog Welcome to Rust! ✨

This might be some help --
This issue is *very* similar to #99903, so take a peek at the diff there. IMO the following tokens are enough to check against

- function (Julia/JavaScript/etc)
- func     (Go)
- fun      (Kotlin)

Have fun! <3

[2022-07-29 15:26] gimbles commented on #99751
Instructions --

- Add a check if prev_token is either `function`/`func`/`fun` [here](https://github.com/rust-lang/rust/blob/master/compiler/rustc_parse/src/parser/diagnostics.rs#L603)
- Emit a message, something along the lines of "use `fn` instead of <prev_token> to make a function"

Should be helpful to take #99903 as a reference

[2022-07-29 15:28] Rageking8 commented on #99751
We can include ```def``` if necessary.

[2022-07-29 15:34] bjorn3 opened #99909 "Proc macros should limit symbol exports"
`readelf --wide --syms build/x86_64-unknown-linux-gnu/stage0-rustc/release/deps/libproc_macro_hack-cdb4209108fe6fa9.so  | grep GLOBAL | grep -v UND | wc -l` shows over 5500 exported symbols. It should limit exports to only those that are used, just like for cdylib's. This should decrease the size of proc macros by allowing more effecting garbage collection of dead code.

[2022-07-29 16:05] Rageking8 opened #99910 "Suggest removing ```let``` if ```const let``` or ```let const``` is used"
Given the following code:

[code]

The current output is:

[code]

Ideally the output should inform the user that ```let``` and ```const``` are mutually exclusive and suggest the user remove the ```let```.

[2022-07-29 16:42] mqudsi commented on #99874
Do `[` and `]` have special meaning to the search right now such that they can't be treated as literals?

[2022-07-29 16:44] DaviRain-Su opened #99912 "Type derivation problems with closed packages"
I think rust should have a good type push for such closures.
[code]
As you can see here the x here should be automatically pushed to the i32 type。

[2022-07-29 16:55] GuillaumeGomez commented on #99874
They don't have any meaning.

[2022-07-29 17:01] mqudsi commented on #99874
I'm not sure if you want to discuss the other points in this issue or in a new issue, but the search results aren't really illuminating for trait implementations. The search for `AsRef<u8>` in the current nightly docs [returns the following](https://doc.rust-lang.org/nightly/std/slice/trait.Join.html?search=AsRef%3Cu8%3E#implementors):

![image](https://user-images.githubusercontent.com/606923/181

[2022-07-29 17:27] mqudsi commented on #99805
Just a point: the solution proposed by Eli Dupree was actually originally proposed by dizzy57 in the comments on the original jsnell article on 2016-12-14.

@the8472 I don't think it would make sense to check the capacity and then use one of two methods depending on if it's a power-of-two or not: that's additional branches, more code complexity, etc all to avoid some integer math.

[2022-07-29 17:36] the8472 commented on #99805
I would hope those branches branches are well-predicted and cheaper than divisions.

[2022-07-29 17:48] jyn514 opened #99914 "ICE: index out of bounds: the len is 323 but the index is 324, ena-0.14.0/src/snapshot_vec.rs:199:10"
### Code

This was in a closed source codebase I don't have time to minimize right now. It happened when I called `.unwrap_or_else()` (or something like that, don't exactly remember) on a value with type `impl Future<Output = Result<T, E>>`. Don't remember what T or E were :(

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></sum

[2022-07-29 17:51] steffahn commented on #98117
This link points to the prioritization discussion @jackh726

[2022-07-29 17:58] jyn514 commented on #86824
Relevant code: https://github.com/rust-lang/rust/blob/48e4bf115f2c4a4ac051f49dab862610fe57f622/compiler/rustc_lint/src/non_ascii_idents.rs#L147-L167

[2022-07-29 18:18] matthiaskrgr commented on #99914
might be related to one of these ^^
https://github.com/rust-lang/rust/issues?q=is%3Aissue+is%3Aopen+src%2Fsnapshot_vec.rs

[2022-07-29 18:20] dpaoliello commented on #58713
# Request for Stabilization
I'd like to stabilize `raw-dylib` for **non-x86** architectures. A stabilization PR has been submitted as #99916.

## Summary
The following two features will be stabilized:

- The `raw-dylib` kind for the `link` attribute:
[code]
- The `link_ordinal` attribute:
[code]

Using either of these features when targeting an x86 architecture will result in an error, unless the

[2022-07-29 18:30] crusader-mike commented on #79532
I get a lot of these (but only during incremental compilation) on Win7:
[code]

[2022-07-29 18:37] Aandreba commented on #48869
Are there any updates?

[2022-07-29 18:39] compiler-errors commented on #99914
Ugh, this is due to adding this [`InferCtxt::resolve_vars_if_possible`](https://doc.rust-lang.org/nightly/nightly-rustc/src/rustc_infer/infer/error_reporting/mod.rs.html#2657) call -- something is calling this `InferCtxt::same_type_modulo_infer` with a type that has region variables that no longer exist, probably from an `InferCtxt::probe` or `InferCtxt::commit_if_ok`...

I can possibly try to rep

[2022-07-29 18:59] matthiaskrgr commented on #99914
@compiler-errors can you try `rustc ./src/test/ui/hrtb/issue-95034.rs --edition=2021 --crate-type lib` or is this a different issue?

[2022-07-29 19:08] the8472 commented on #99878
Nominating for discussion whether the stabilization should be reverted, the crater run and a should be expedited and perhaps beta-backported.

[2022-07-29 19:16] softdevca commented on #99878
I would prefer stabilization to be reverted as there is additional book-keeping required to implement `ExactSizeIterator`.

[2022-07-29 19:25] compiler-errors commented on #99914
This is a different issue. #95034 is a trait solver issue having to do with higher ranked type equality and the [`Generalizer`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_infer/infer/combine/struct.Generalizer.html).

This has to do with a region variable escaping out of a `InferCtxt::commit_if_ok`. Specifically it's this one: https://doc.rust-lang.org/nightly/nightly-rustc/src/rustc_ty

[2022-07-29 19:25] compiler-errors commented on #99914
Actually wait this is a _type_ variable that's escaping. Ugh, probably due to opaque types :?

[2022-07-29 19:27] Enselic opened #99919 "Build rustdoc JSON for all crates with crater before stabilization"
Before we stabilize [rustdoc JSON](https://github.com/rust-lang/rust/issues/76578), we should make sure that we can build rustdoc JSON for all crates on crates.io without ICEs or other errors.

This issue is meant to be used as a trigger point for crater runs.

See [this](https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/rustdoc.20JSON.3A.20look.20for.20ICEs.20using.20crater.3F)

[2022-07-29 19:38] jyn514 commented on #99914
oh I forgot I saved this code

I will try to trim it down to something I can post publicly

[2022-07-29 19:39] compiler-errors commented on #99914
@jyn514 if you can, it would be incredibly useful here.

[2022-07-29 19:44] GuillaumeGomez commented on #99919
Let's try.

@craterbot run name=rustdoc-json-1 mode=rustdoc crates=list:serde cap-lints=allow start=nightly-2022-06-01+rustdocflags=-Zunstable-options\ -wjson end=nightly+rustdocflags=-Zunstable-options\ -wjson

[2022-07-29 20:12] crusader-mike commented on #79532
Looks like the bug is in Rust std library.

It is [here](https://github.com/rust-lang/rust/blob/master/library/std/src/sys/windows/fs.rs#L1005). They try "posix delete" semantic, and when it fails -- fallback to "windows delete" semantic. Unfortunately they never restart directory iteration (which is a hidden state stored in kernel "directory" object -- duplicating handle to this doesn't affect th

[2022-07-29 20:26] eddyb commented on #99836
Sorry for the confusion - when I wrote:

I should've been more specific instead of "them", and phrased it more like:

(or used the 1-ZST naming, but I completely forgot we had that)

<hr/>

<details>
<summary>(click to open old notes, ended up tracking down the bug and was wrong)</summary>

Those special cases, FWIW, are almost always **ignoring** ZSTs in a larger aggregate (which is also somethin

[2022-07-29 20:31] eddyb commented on #99899
Heh, looks like an expansion of https://github.com/rust-lang/rust/issues/64102#issuecomment-673921803 and following comments (cc @m-ou-se).

[2022-07-29 20:34] thomcc commented on #99899
Thanks. I was pretty sure I had seen it before, but didn't feel like crawling the thread (and wasn't sure if it was there, in the RFC thread, or just in some random codebase).

[2022-07-29 20:38] joshtriplett commented on #52331
@jackpot51 I don't think attempting to use the existing `Prefix` will work; we can't add new variants, and none of the existing variants really fit (and will break expectations of software written for Windows).

Given that, that leaves us with:

- Make `kind` panic on non-Windows platforms.
- Add a `redox_kind` method to `PrefixComponent`, returning `Option<RedoxPrefix>`, which should be a non_exh

[2022-07-29 20:38] ryanavella commented on #99885
Ah, TIL about type ascriptions. The error really confused me at first, but now I can see why rustc is getting tripped up.

Knowing that, this looks superficially related to #78907 because the user intended to move/bind a value but rustc just sees an invalid type ascription.

[2022-07-29 20:47] CAD97 opened #99922 "Unsatisfied trait bound on fn item should suggest `as fn()` if it is satisfied for fn pointer"
Given the following code: [[playground]](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=47c96512e5b66aac5fab70201ece0d87)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

<details><summary>A more involved diagnostic example:</summary>

[[playground]](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=56c1021f84a061

[2022-07-29 21:00] Nilstrieb commented on #99866
@rustbot claim

[2022-07-29 21:06] eddyb commented on #99909
I just about almost opened my own issue, as this looks like it could cause e.g. #59998:
[code]
(noticed the excess of exports in [@fasterthanlime's latest blog post, about RA/proc macros](https://fasterthanli.me/articles/proc-macro-support-in-rust-analyzer-for-nightly-rustc-versions))

Frankly I think I got confused at some point and expected proc macros to get more `cdylib` treatment than they ac

[2022-07-29 21:11] eddyb commented on #59998
Not sure yet if relevant, but: turns out my expectation of proc macros being "most `cdylib`" is wrong because (more details here: https://github.com/rust-lang/rust/issues/99909#issuecomment-1199945273) of this bail-out: https://github.com/rust-lang/rust/blob/9067d5277d10f0f32a49ec9c125a33828e26a32b/compiler/rustc_codegen_ssa/src/back/linker.rs#L651-L661

AFAICT that's what's causing proc macro dyl

[2022-07-29 21:13] #99901 closed

[2022-07-29 21:24] Manishearth opened #99923 "Regression in consteval: error[E0080]: could not evaluate static initializer (unable to turn pointer into raw bytes)"
Unfortunately I'm not able to come up with a minimal working example for this, but running `cargo check -p icu_datetime --examples` on https://github.com/unicode-org/icu4x (commit https://github.com/unicode-org/icu4x/commit/021a92e43a07f4178d97fd48ba509fb72164fa14 should be fine)

ends up throwing a ton of errors that look like this:

[code]

([full errors](https://gist.github.com/Manishearth/2b45

[2022-07-29 21:25] jackpot51 commented on #52331
If deprecating `kind` is on the table, maybe move this to an os-specific trait like `PathExt`?

[2022-07-29 21:26] bjorn3 commented on #99909
That is exactly what I was reading when I opened this issue :)

[2022-07-29 21:26] rben01 commented on #94047
I think the iterator methods prefixed with `try_` can all be (and should continue to be) taken to be mean "this iterator method short-circuits with the first error encountered". The `try_` in `Vec::try_reserve` is like the `try_` in `Rc::try_new` and `array::try_from` — it simply means "this thing might not work out". Since the proposed method is/would be defined on iterators and not more general