[2021-01-05 16:27] greyltc commented on #80721
That build failed after some time with:
[code]
I'll try again removing the `llvm-config = "/usr/bin/llvm-config"` lines from my config.toml

[2021-01-05 16:58] jyn514 commented on #80713
Oh, I didn't realize that from the comment. I see - the issue is that rustdoc processes the submodules (`async`) before the impls in the current module (starting with 'Streams').

I'll change this issue to track that bug instead, since it sounds like https://github.com/rust-lang/rust/issues/40273 is already tracking the table of contents issue.

[2021-01-05 16:59] SNCPlay42 commented on #80725
<details>

<summary>Backtrace</summary>

[code]

</details>

Possibly not a rustc bug - the segfault comes from autocxx's proc macros trying to load LLVM (through clang). Nevertheless, this works on 1.48 and crashes on 1.49. Maybe rustc's LLVM and clang's LLVM are clashing when loaded in the same process?

@rustbot label I-crash A-llvm regression-from-stable-to-stable

[2021-01-05 17:00] RalfJung commented on #55149
I'm sorry, discussion language in this issue tracker is English... what are you trying to say?

[2021-01-05 17:04] apiraino commented on #80725
@rustbot ping llvm

[2021-01-05 17:20] jyn514 commented on #80706
@fominok can you remove 'dep and post the new code? I don't have time right now.

Normally issues aren't prioritized unless they're regressions or unsound, but I can make an exception since you asked nicely :)

[2021-01-05 17:31] fominok commented on #80706
@jyn514 it's up to you, but many thanks anyway!

I just tried to remove 'dep for a simplified example you posted and it **compiles**, but it doesn't compile for a snippet I posted first, so here is a version that sill larger than yours, but without lifetime parameter for a User struct:

[code]

[2021-01-05 17:47] steveklabnik commented on #51776
Triage: it appears that there are no changes here.

[2021-01-05 17:49] nagisa commented on #80725
Very plausible given that it crashes during the initialization of the dynamic library! I'd report this issue against the relevant repository(-ies) – autocxx and maybe clang_sys. They are better served to investigate why the LLVM they load is crashing during initialization.

Thanks for obtaining the backtrace @SNCPlay42!

[2021-01-05 17:49] #80725 closed

[2021-01-05 17:50] steveklabnik commented on #64769
Triage: I believe this is fixed? I'm seeing `  "label":"expected one of `!` or `::`",` now.

[2021-01-05 17:56] cuviper commented on #80725
That sounds a lot like #76980. The problems there are more general libstdc++ conflicts with C++ proc-macros, but I could certainly see multiple LLVMs raising this problem to a larger extent. I doubt that's something we could support.

[2021-01-05 17:58] adetaylor commented on #80725
Thanks for all the comments and diagnosis here everyone. Over in autocxx, I already concluded that loading llvm in a procedural macro was excessively Bold, and https://github.com/google/autocxx/issues/51 is a plan eventually to fix that. Sounds like I might need to accelerate it :)

[2021-01-05 18:00] greyltc commented on #80721
Yep, `lld = true` in `[rust]` causes the install step to install /usr/lib/rustlib/x86_64-unknown-linux-gnu/bin/rust-lld which means my wasm linking now works out of the box, thanks!

[2021-01-05 18:00] #80721 closed

[2021-01-05 18:02] nagisa commented on #80725
It has been a long-standing goal to run procedural macros in a separate process as well as about giving more meaningful error messages when procedural macros fail. I'm sure both ideas have their own issues somewhere as well if you're interested in keeping eye out of how these pan out.

[2021-01-05 18:26] cramertj commented on #65516
@dtolnay
[code]

There may be an exception when the trait is defined in `f`? This feels related to coherence to me.

e.g.
[code]

[2021-01-05 18:30] mgeier commented on #63567
@RalfJung

It is true that the name is supposed to signal that initialization has been done (before calling the function) and the compiler may assume that the data is initialized (after calling the function). But there is still no information about any "action" that the function might be doing during its runtime (which is fine as long as there is only one function containing `assume_init`).

@faer

[2021-01-05 18:35] ibaryshnikov commented on #79904
Can we have a summary of what happened? Or maybe a mention in the rust blog? After following through linked issues and pull requests I found a few mentions of security holes, but it's hard for me to reason about it. Some explanations from those who are more familiar with the topic would be much appreciated.
And what should I do with the code which compiled on stable rust 1.48.0 but stopped to comp

[2021-01-05 18:38] varkor commented on #80687
@Armavica: ah, you're right, sorry! I'm not sure the origin of the const parameter is necessary incorrect, but I think we could be including more data in `InferenceDiagnosticsData`, namely a `parent_span: Option<Span>`.
https://github.com/rust-lang/rust/blob/b63a7a2c6cd809e3eb3765bdcfc4236a04dcea64/compiler/rustc_infer/src/infer/error_reporting/need_type_info.rs#L216-L222
After we get the parent `

[2021-01-05 18:46] ehuss commented on #64769
Thanks for checking @steveklabnik, I think the dummy span issue was resolved by #70199.

[2021-01-05 18:46] #64769 closed

[2021-01-05 18:49] SNCPlay42 commented on #80706
Turns out this *is* a regression: the code works on 1.47 and ICEs on 1.48.

searched nightlies: from nightly-2020-08-24 to nightly-2020-11-14
regressed nightly: nightly-2020-11-09
searched commits: from https://github.com/rust-lang/rust/commit/b2d115f6db5172c961dfeb50de15f35784dbc7c9 to https://github.com/rust-lang/rust/commit/1773f60ea5d42e86b8fdf78d2fc5221ead222bc1
regressed commit: https://gith

[2021-01-05 18:50] SNCPlay42 commented on #80706
rustbot did not like that, huh

@rustbot label A-async-await

[2021-01-05 18:57] SNCPlay42 commented on #80706
Here's a no-dependency version that gives the alternate ICE from https://github.com/rust-lang/rust/issues/80706#issuecomment-754387803. `bisect-rustc` says it regressed in the same commit, so *probably* the same root cause:

[code]

[2021-01-05 18:58] camelid commented on #80713
I have this issue in a personal project as well: I have a parser that's split up into several submodules and each submodule has an `impl Parser`. rustdoc shows the submodules' impls before the top-level module's impl.

Even if I put the `mod`s at the bottom of the file, it still shows their impls first.

[2021-01-05 19:01] AaronKutch commented on #80712
I know the basics around calling conventions in assembly, but I'm not familiar with the implementation details in Rust and LLVM. Shouldn't LLVM be pushing values onto the stack instead of giving up when it realizes that the registers cannot hold all the values? I can define a function
`pub fn test(x: u128) -> (u128, u128, u128, u128, u128, u128, u128, u128, u128, u128, u128, u128, u128, u128)` and

[2021-01-05 19:05] cramertj commented on #80158
We discussed this in the lang team meeting today, and the general consensus was that we'd like to make sure we understand the path forward for using this with custom DSTs prior to expanding the abilities of `MaybeUninit`.

It'd be helpful to see an example using one of the previous custom DST designs combined with a hypothetically-expanded `MaybeUninit` API to see how they interact. The most recen

[2021-01-05 19:08] nagisa commented on #80712
Well, if the functions in question are internal implementation details, you can mark them as `extern "C"`:

[2021-01-05 19:11] RalfJung commented on #66741
Right now, there are quite a few pieces that assume that the alloc-err-handler will never unwind. So IMO the first step is to fix the documentation to match reality. If we want to permit unwinding handlers, that seems like a change that will have to affect quite a few places.

[2021-01-05 19:18] RalfJung commented on #63567
The "action" is the same for all of these functions -- there is no action. They are all equivalent to `transmute`.

The fact that after `assume_init`, things get dropped, is a consequence of the general rules of Rust, not of any "action" that is being taken here. If we follow your argument, a `transmute` from `ManuallyDrop<T>` to `T` should also be considered to take an "action" such as "activatin

[2021-01-05 19:30] AaronKutch commented on #80712
I suppose that would have also worked, but still an ugly workaround for just on edge case, the root of which should be fixed. I should mention that the choice I made in `compiler-builtins` is more of a permanent workaround. SPARC is an awful architecture to optimize several classes of algorithms for because it does not have widening multiplication. Widening multiplication is very important for the

[2021-01-05 19:45] AnotherLife commented on #75833
This type of error is peak linuxery.

[2021-01-05 19:49] Koxiaet opened #80731 "Relax the lifetime bound on references"
Currently Rust requires that `T: 'a` in order for `&'a T` to be a valid type. However, I don't think this restriction is technically necessary - it can be enforced at creation instead of in the type itself. [Here is an example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f977d6bd76f837b374ab77af6165389b) of code that doesn't compile because of this restriction (and [GAT

[2021-01-05 19:49] #80668 closed

[2021-01-05 20:22] spastorino commented on #79560
@weiznich @kvark @workingjubilee @matthiaskrgr can you try #80732? where I'm re-introducing the thing that undercover this problem that ended affecting your code bases.

[2021-01-05 21:15] jyn514 commented on #80731
I think this would probably need an RFC.

[2021-01-05 21:19] abonander commented on #66693
@RalfJung I'd like to tackle this but I'm not very experienced with the CTFE code. I get that we need to check `args[0]` from the `Terminator::Call` that we've matched on in this branch and we need to match on the `Operand` enum, but:

[code]

For the first question, I see `Place::iter_projections()` and that we probably want to check that the `PlaceElem` type of the tuple and that there's variant

[2021-01-05 21:39] RalfJung commented on #66693
@abonander you can use `Operand::ty` to get the type of the `Operand`.

[2021-01-05 22:21] dtolnay commented on #47236
Closing as a duplicate of #30827, which has some discussion from compiler team members on how to solve this.

[2021-01-05 22:21] #47236 closed

[2021-01-05 22:41] oli-obk commented on #79140
Note that "works just fine" in the presence of UB is meaningless. Your example does exhibit UB, because the `foo` variable contains an invalid `Vec<()>`. You can see this [on the playground, by running Tools -> Miri](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ed4e77d7ea4965f86856d546fe5f6d4f).

If you want to do this, you need to wrap the `Vec<()>` in a `MaybeUninit`:

[2021-01-05 23:44] VTCAKAVSMoACE opened #80735 "Unable to run any binary with riscv64gc-unknown-linux-gnu (target-feature=+crt-static) (segmentation fault)"
Using an empty program:

[code]

Using the following `.cargo/config`:

[code]

- `/usr/bin/riscv64-linux-gnu-*` is provided by: https://packages.ubuntu.com/search?keywords=gcc-riscv64-linux-gnu
- `/opt/riscv/bin/riscv64-unknown-linux-gnu-*` is provided by: https://github.com/riscv/riscv-gnu-toolchain

I have tried building with each of the grouped combinations under `[target.riscv64gc-unknown-linu

[2021-01-06 00:19] camelid opened #80737 "rustdoc: Notable traits shows wrong type parameter"
The "Notable traits" popup for [`Entry::or_insert`] shows notable traits for `&'_ mut I` when it should show `&'a mut V` (or at least `&'_ mut V`):

![image](https://user-images.githubusercontent.com/37223377/103713542-76ebdd80-4f71-11eb-8611-3c8d13323096.png)

Note that this happens for other functions on `Entry`. Another example is [`Entry::key`] which shows `&'_ mut I` when it should show `&'a

[2021-01-06 00:30] wisonye opened #80739 "error: 'sysinfo not supported on this platform' in FreeBSD"
Hi there, there is some problems when installing and running `Rust` in `FreeBSD`.
I've already tried that on my son's laptop.

When installing `rust` via the command show in official website:

[code]

It prints out many `error: 'sysinfo not supported on this platform' in FreeBSD`. When I add some components, it also show that error like below:

![screenshot-2021-01-06_12:58:20](https://user-images

[2021-01-06 00:40] Armavica commented on #80687
Thank you for your very detailed answer. However, unless I am doing it wrong, I don't think that this works, because `parent_def_id` refers to the structure definition (`struct Foo<const N: usize>`), and not to the `Foo` part of the path `Foo::new()`. This is what made me think that it is `origin` that is to blame. Did I misunderstand something?

[2021-01-06 00:53] jonas-schievink commented on #80739
rustup issues should be filed at https://github.com/rust-lang/rustup

[2021-01-06 00:53] #80739 closed

[2021-01-06 01:37] camelid commented on #80706
@jyn514 To my understanding, this is expected. A function needs to be used in order to be monomorphized (otherwise, what should it be monomorphized to?). So, if the bug happens during monomorphization, it should only happen for functions that are actually used.

[2021-01-06 01:44] varkor commented on #80687
@Armavica: ah, my mistake, that does sound right 😓  Sorry for wasting your time. The origin span is coming from
https://github.com/rust-lang/rust/blob/b63a7a2c6cd809e3eb3765bdcfc4236a04dcea64/compiler/rustc_typeck/src/astconv/mod.rs#L492
Let's see whether changing that span fixes the issue (and doesn't regress any other diagnostics). Otherwise, we might need a more sophisticated solution like for

[2021-01-06 01:56] camelid commented on #79560
(See https://github.com/rust-lang/rust/pull/80732#issuecomment-754879677 for how to try out the PR.)

[2021-01-06 02:07] mental32 opened #80742 "ICE'd during const eval of generic with DST"
Reproducible in the playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a7e62bb084b21bc2081c79e320c740a0

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-01-06 02:42] songzhi commented on #57983
It's still not working now when I run it in Windows.

[2021-01-06 02:43] camelid opened #80743 "Add `u8::escape_default` and `[u8]::escape_default`"
The standard library has several functions for printing escaped text:

- `char::escape_default` for printing escaped Unicode characters
- `str::escape_default` for printing escaped Unicode strings
- `std::ascii::escape_default` for printing escaped ASCII bytes

I propose that we add associated functions to `u8` and `[u8]` that are like
`{char,str}::escape_default` but for ASCII. The `std::ascii::e

[2021-01-06 03:25] mental32 opened #80745 "ICE'd from type checking of generic paramter in const block"
Encountered after refactoring code from #80742 and it doesn't look like the same bug.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-01-06 03:35] jyn514 commented on #80737
I think this is a duplicate of https://github.com/rust-lang/rust/issues/14072.

[2021-01-06 03:48] camelid commented on #80737
Hmm, that seems possible.

Wow, that issue is so old: it refers to `uint`! Off-topic: is there a way to see what the docs from then look like?

[2021-01-06 04:43] PaulGrandperrin opened #80747 "Infinite loop when trying to fill a Vector of MaybeUninit<SomeZeroSizedType>"
I tried to reduce the demonstration to the minimum possible.

I wrote a function that fills a vector of `MaybeUninit<T>` values that I think is safe (free of UB).
The code works well with `cargo miri run`.

But when calling this function with a zero-sized type, the execution goes into an infinite loop.
The exact same code without the `MaybeUninit` logic works as expected.

Here is the code:

[code

[2021-01-06 04:48] camelid commented on #80165
There's also the `mutable_borrow_reservation_conflict` lint. There's a PR to turn it from warn-by-default to deny-by-default: #76104.

[2021-01-06 05:44] mental32 opened #80748 "ICE'd (twice in a row!) when not enabling `const_generics` but a downstream crate that does enable and use it"
So this time rustc ICE'd with a SIGILL, I'm not sure how bad that's supposed to be...

### Code

tree

[code]

main.rs

[code]

lib.rs:

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

<details><summary><strong>Error output</strong></summary>
<p>

[code]

</p>
</details>

[2021-01-06 05:48] mental32 commented on #80748
I could probably word the title better but I'm not exactly sure how... if anyone has ideas let me know :D

[2021-01-06 08:34] weiznich commented on #79560
@spastorino Diesel builds fine for me using the toolchain build from c963187c6f959417cbb13a33e9eaea4607696fc4.

[2021-01-06 08:34] as-com commented on #54688
I submitted a PR for a fix: #80749

[2021-01-06 10:11] SkiFire13 commented on #80747
Note that since `v` is a `Vec` of ZST `v.capacity()` will always be `usize::MAX`, even if you created it by using `with_capacity`. This will result in a really long loop when trying to drop it

I wonder if `Vec`'s and in particular `Vec::with_capacity`'s docs may be a bit more specific on this behaviour.

[2021-01-06 11:19] davidlattimore opened #80751 "Warnings missing on second compilation on OSX"
I don't have access to a Mac, but the tests for one of my projects (Evcxr) run on Travis on Mac and I've observed warnings not showing up on the second run of `cargo check`.

I do the following:

- Write some code
- Run `cargo check`
- Modify the code so that there should be a warning
- Run `cargo check` again

On the second run, the warning that I expect doesn't appear. It's intermittent though.

[2021-01-06 12:30] dalcde commented on #80685
I tried to rmove the directory `/home/$USER/.rustup/toolchains/nightly-x86_64-unknown-linux-gnu/lib/rustlib/wasm32-unknown-unknown/lib/libcore-73412d1456c20040.rlib`. What I get is
[code]

[2021-01-06 12:38] dalcde commented on #80685
Running `cargo build` with `-v` gives
[code]
Manually running this command and adding
[code]
at the end makes it proceed

[2021-01-06 12:49] dalcde commented on #80685
The same bug is triggered when building an empty binary with `-Z build-std` and `panic = "abort"`, without needing to cross-compile and/or use `cdylib`. The effect of cross-compiling to `wasm32-unknown-unknown` was simply to trigger `panic = "abort"`. I have updated the issue title accordingly

[2021-01-06 13:06] #80702 closed

[2021-01-06 13:07] dalcde commented on #80685
Closing as duplicate of #69090, https://github.com/rust-lang/wg-cargo-std-aware/issues/29 . Fixed by setting `-Z build-std=panic_abort,std`

[2021-01-06 13:08] #80685 closed

[2021-01-06 13:15] leonardo-m opened #80752 "box (for arrays and slices) uses rust_alloc + memset instead of rust_alloc_zeroed"
[code]

Gives (rustc 1.51.0-nightly 80184183b 2021-01-03):

[code]

I think box should use rust_alloc_zeroed instead.

[2021-01-06 13:18] GroteGnoom commented on #80751
Yes, on a MacOS 10.15.5 with rust 1.49.0 I can't reproduce the issue after 5 runs of 10 checks.

[2021-01-06 13:54] Sympatron commented on #66741
I hope this is not a stupid question, but what is the alloc-err-handler supposed to do then? I thought panicking would be a reasonable thing to do.

[2021-01-06 14:02] RalfJung commented on #66741
Not a stupid question at all. :)
It may *panic* as long as it does not *unwind*. So if one knows that panic leads to abort, then panic is fine.

[2021-01-06 14:08] dalcde commented on #60231
I'm having difficulties building a cdylib with these instructions. I am able to produce a `lib`, but when I set `crate-type=cdylib`, I get `wasm-ld: error: unknown file type: lib.rmeta`

I get something reasonable-looking if I manually extract the `.rlib` file and run `wasm-ld` by hand, but that is intractable for larger projects with lots of dependencies.

[2021-01-06 14:17] aDotInTheVoid commented on #80597
The panic is in trying `Debug` a `DefId`,

On [this branch](https://github.com/aDotInTheVoid/rust/tree/def-id-dbg), I've changed the impl (280cc10f1c57dc53d62e7673e859743af573c0dc) so it doen't crash if it cant find the path.

`RUSTDOC_LOG=rustdoc::formats::cache RUST_BACKTRACE=1 rustdoc +stage1 src/test/rustdoc/issue-80597-log-ice.rs`

[code]

It seems like it's triping up on the blanket impls

[2021-01-06 14:21] PaulGrandperrin commented on #80747
@SkiFire13 oh yes, if I change

[code]
to
[code]

then the code works fine, so I guess it's fair to say that there are no bugs!

However, it is true that it's surprising that `v.capacity()` is not equal to the one specified at construction.

I'm willing to do a PR adding that to the doc, are there other small surprising behaviors related to Vec (or other std containers) and ZST that I should inclu

[2021-01-06 14:40] Sympatron commented on #66741
What about defaulting to abort instead of panic then?

[2021-01-06 15:03] pietroalbini commented on #80494
Fixed by https://github.com/rust-lang/rust/pull/80514

[2021-01-06 15:10] SimonSapin commented on #66741
Wait, I thought we’d already stabilized this. We have [team consensus](https://github.com/rust-lang/rust/issues/66741#issuecomment-621930678) and [an implementation](https://github.com/rust-lang/rust/pull/76448).

It sounds like UB with unwinding is the only remaining issue? However:

* The `std` crate defines a handler that aborts
* The default handler proposed here only applies when no other han

[2021-01-06 15:16] alexcrichton commented on #34651
For reference, https://github.com/rust-lang/rust/pull/79570 is attempting to stabilize this option for macOS and provides a path for stabilization for the recent split-dwarf support from #77117

[2021-01-06 15:27] pietroalbini commented on #80494
This actually affected beta too, keeping this open to ensure we backport the fix.

[2021-01-06 15:29] pietroalbini opened #80753 "Tracking issue for only producing .xz on CI"
This issue tracks the work needed to only produce .xz tarballs on CI, recompressing them into .gz only during the release process. The effort will greatly reduce the amount of artifacts we need to store.

**Implementation work needed:**

* [x] Change `rust-installer` to allow choosing which tarballs to produce https://github.com/rust-lang/rust-installer/pull/105
* [x] Switch CI to only produce .xz

[2021-01-06 15:29] pietroalbini commented on #80753
Forgot to create the tracking issue when the work started :)

[2021-01-06 15:43] LeonineKing1199 commented on #65816
Ah, that's an interesting implementation detail. I wasn't aware Rust made that kind of optimization so thank you for the correction.

What does a user gain if the result of `into_raw_parts()` returns a `NonNull` if they'd still have to actively handle the dangling case?

In the case of returning a simple `*mut T`, it's at least apparent that this pointer can be completely invalid (i.e. `NULL`). Wi

[2021-01-06 15:45] ehuss commented on #80751
I believe Travis is still using HPFS on macOS, which has an mtime resolution of one second.  For various reasons (see https://github.com/rust-lang/cargo/issues/5918#issuecomment-451587876), Cargo is unable to treat that as a changed file, so it cannot detect the file change.  You will need to add a 1 second sleep in-between invocations to allow it to detect the change. Hashing support was started

[2021-01-06 15:53] pietroalbini commented on #80683
@vext01 tried doing a `./x.py install`, and it seems that all the files are properly installed, and docs are not installed. Could you try removing the `build`, `build/ykrustc-stage2-latest` and `etc` directories?

[2021-01-06 15:59] SimonSapin commented on #65816
You don’t need to check the pointer for being dangling. The valid region of memory you can access through the pointer has size `capacity * size_of::<T>()`. The pointer is dangling if and only if the capacity is zero, which means you cannot access any memory through the pointer regardless of its address.

`NonNull` has a [`cast`](https://doc.rust-lang.org/std/ptr/struct.NonNull.html#method.cast) me

[2021-01-06 16:08] DutchGhost commented on #67456
This can now be implemented it seems. But Im not sure whether its decided yet what the plan is on allowing to cast pointers to usizes in const contexts, which is needed for `is_aligned_and_not_null`:
[code]

[2021-01-06 16:29] RalfJung commented on #66741
Is there some mechanism which ensures that for non-std binaries, the panic runtime is `abort`?

[2021-01-06 16:31] Lokathor commented on #66741
None, in fact I've seen at least one example (ever) with custom unwinding.

[2021-01-06 16:35] RalfJung commented on #66741
That requires unstable though, doesn't it?

But I could imagine the "regular" `unwind` runtime could be used on stable even without `std`... or maybe not, I do not know.

[2021-01-06 16:35] danielhenrymantilla commented on #77828
Hmm, this is still the case when the `macro` is defined inside a value-namespace-inhabiting scope:

[code]

now yields:

[code]

Should a new issue be opened, or this one be re-opened?

[2021-01-06 16:38] Lokathor commented on #66741
you can make a no_std bin on stable, though it's usually tricky to get right, and also I think it was never put in the release notes that you can do it.

[2021-01-06 16:38] SimonSapin commented on #66741
I believe it can’t, that’s what I meant by the `unwind` crate is `#[unstable]`.

[2021-01-06 16:40] RalfJung commented on #66741
`-C panic=unwind` works on stable though, so I am not sure if the stability of the crate is that relevant?

[2021-01-06 17:07] SimonSapin commented on #66741
As far as I understand `-C panic=unwind` v.s. `-C panic=abort` is represented in compiler code by the `PanicStrategy` enum and controls:

* Whether code generation includes landing pads for unwinding
* Which of the `unwind` or `abort` crates gets linked, but only if `std` is also linked. (Technically, if a crate with the perma-unstable `needs_panic_runtime` attribute is linked.) This is implemente

[2021-01-06 17:12] m-ou-se commented on #80743
This sounds like https://github.com/rust-lang/rust/issues/77174

[2021-01-06 17:16] RalfJung commented on #80682
I did not know about `Cell::swap` (or I had forgotten about it)... this is very interesting, and it makes some rather strong assumption: it assumes that two `Cell` of the same type will either start at the same address or be disjoint. They may never "partially overlap". That does preclude some other possibly sound APIs...

But anyway, that is just a tangent.

[2021-01-06 17:18] Lokathor commented on #66741
so can't the custom panic handler potentially unwind the stack?

[2021-01-06 17:28] xfix commented on #80682
Actually, existence of `Cell::swap` pretty much means that overlapping `Cell`s cannot exist in safe Rust. Consider the following code:

[code]

This will cause double-free due to swapping two overlapping pointers.

[2021-01-06 17:30] SimonSapin commented on #66741
On Stable it would get no help from the standard library to do it.

I don’t know what it takes re-implement unwinding. Probably a fair amount of platform-specific code, but that aside I don’t know if it’s possible without relying and unstable language features.

[2021-01-06 17:37] RalfJung commented on #66741
Oh right, I forgot about that...

So... the safe thing to do would be to document that *if* `#[panic_handler]` unwinds, then `#[handle_alloc_error]` must be changed to *not* panic. The latter is impossible on stable; for the former we are not sure. But even if the former is not possible on stable this feels like something worth documenting.

[2021-01-06 17:39] RalfJung commented on #80682
`ptr::swap` works fine for overlapping regions.

Your code is unsafe, so I don't see how this could possibly demonstrate a soundness problem. You could write the same code without `Cell::swap` just using `ptr::swap`.

[2021-01-06 18:02] xfix commented on #80682
In short, if `Cell` did allow getting two cells of the same type that is `!Copy + Sized` then swapping them could cause UB.

In this example I'm using `unsafe` to create two overlapping regions and then swap them using `Cell::swap`.

[code]

Of course, having an API that creates two overlapped `Sized` types is unlikely to be very practical.

[2021-01-06 18:19] jpakkane commented on #78913
Please don't. Environment variables are an awful way of configuring anything. The compiler switch way is better in every way.

[2021-01-06 18:20] RalfJung commented on #80682
That's what I was trying to get at, but concludes is not possible. To demonstrate this, you need to use only safe code, except for an API that arguably also should be sound, like for example:
[code]
Can you cause UB using only safe code and `cell_idx`?

[2021-01-06 18:22] m-ou-se commented on #76904
This has been in a few releases, is used in many places in rustc itself, and there's no open questions so far. Time to stabilize?

@rfcbot merge

[2021-01-06 18:23] RalfJung commented on #80682
[Yes you can](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=510c96acdec5f7dcad6ce109cd2e2002)! I now see what you mean by double-free. Good catch!

[2021-01-06 18:37] RalfJung commented on #80647
I just realized one can write `place_ref.ty(...)` instead of `PlaceRef::ty`, so cleaning this up could be done as part of the same task or separately.

[2021-01-06 19:31] Koxiaet opened #80760 "Panic with 'Missing tokens for nt ";"' when passing statement to proc macro from declarative macro"
This the the lib.rs of a proc macro crate `pm`:

[code]

And here is the main.rs of another crate:

[code]

When building, this outputs:

[code]

### Version it worked on

1.49.0, 1.50.0-beta.5

### Version with regression

rustc 1.51.0-nightly (da305a2b0 2021-01-05)
binary: rustc
commit-hash: da305a2b00530aa34dea4e48389204c26fa35dbb
commit-date: 2021-01-05
host: x86_64-unknown-linux-gnu
release:

[2021-01-06 20:01] Cldfire commented on #74182
It could be neat for this attribute to support linking to the changelog for the version specified (inspired by the [Rust Search Extension](https://rust.extension.sh/)):

<details>
<summary>Image</summary>

![Screen Shot 2021-01-06 at 3 00 37 PM](https://user-images.githubusercontent.com/13814214/103814645-08ba2000-5030-11eb-91d9-41daa4122e1f.png)

</details>

[2021-01-06 20:02] Cldfire commented on #79663
It could be neat for this attribute to support linking to the issue specified (inspired by the [Rust Search Extension](https://rust.extension.sh/)):

<details>
<summary>Image</summary>

![Screen Shot 2021-01-06 at 3 00 37 PM](https://user-images.githubusercontent.com/13814214/103814645-08ba2000-5030-11eb-91d9-41daa4122e1f.png)

</details>

This would probably require a way to globally specify a ro

[2021-01-06 20:16] Nemo157 commented on #79663
Pre-emptively, I would like it if the URL is not required to be an `http(s)` one. As an example of current non-http issue URLs there is Apple's `radr://` scheme, and I think there is a decent chance of decentralized/federated/p2p project management solutions using custom schemes becoming popular enough within the next few years.

[2021-01-06 20:29] steveklabnik commented on #54740
It's been a while. Is this still an issue?

[2021-01-06 20:35] camelid commented on #80743
Yep, I'll close this. Thanks!

[2021-01-06 20:35] #80743 closed

[2021-01-06 21:02] camelid commented on #80760
cc #79812

[2021-01-06 21:06] tmiasko commented on #70749
The performance bug can be triggered in original example by slightly increasing the LLVM inlining threshold (currently the issue starts at `-Cinline-threshold=336` or above). This also came up in the past attempts to enable MIR inlining by default, e.g., in #68213 and #77307. The problem disappears with a single code generation unit.

The partitioning `-Zprint-mono-items=lazy` reveals a proximate

[2021-01-06 21:08] camelid commented on #80735
cc #80346

[2021-01-06 21:14] nightmared commented on #73551
Considering there have been multiple stable releases where this issue is fixed since the moment this issue was opened, I'm closing this.

[2021-01-06 21:14] #73551 closed

[2021-01-06 22:01] davidlattimore commented on #80751
Ah, thanks @ehuss, that makes a lot of sense. Thanks @GroteGnoom for checking.

[2021-01-06 22:01] #80751 closed

[2021-01-06 22:52] tmiasko commented on #51388
Since #49433, `rustc --emit=metadata` doesn't include optimized MIR, so produced rlib cannot be used to perform codegen. It would be nice to detect that particular situtation and produce more meaningful error describing that this is unsupported.

[2021-01-06 23:08] ibraheemdev commented on #44524
Is there any update on this issue? It seems to have been dead for over a year now....

[2021-01-06 23:18] SkiFire13 commented on #80682
The (hypothetical) conversion from `&[Cell<T>; N]` to `&Cell<[T; N]>` would also be unsound since it would allow to create overlapping subarrays. [Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=23bffa201f8d724d7fe8ceda043f1e3c)

[2021-01-06 23:37] kangalioo commented on #65439
Why does such a method need to exist in the first place? `std::fs::OpenOptions::new()` already exists. Having two options for the same things is confusing and annoying.

[2021-01-06 23:39] mbartlett21 commented on #67456
@DutchGhost
You can type `ptr as usize`, but as soon as you try that in const-eval, you get a compiler error:

[code]

([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2b3395368f43e5696a9f6d68716cfc66))

[2021-01-06 23:45] DutchGhost commented on #67456
Oh, I see. Funny thing is that if you compile in release mode, _it works_, but debug mode indeed gives this error message. Perhaps thats a bug, and should be fixed?

[2021-01-07 00:18] bobbobbio opened #80766 "Incorrect unused parameter with GAT"
I tried this code:

[code]
I got this error:
[code]

I think it doesn't make sense since `'a` is used in the field `f`, if I add the `PhantomData` like suggested, it works fine.

### Meta

`rustc --version --verbose`:
[code]

[2021-01-07 00:56] nagisa commented on #80735
qemu-riscv64 is a user-space emulator. Those are well known to be flaky, especially for more obscure platforms. Not sure about spike. Please test either with full system emulator (though that is _also_ sometimes buggy, but significantly less oftenly so) or actual hardware.

[2021-01-07 01:00] tommythorn opened #80767 "Borrow Checker Paniced Upon Gifted Code"
"Look Pal, it's either borrowed or taken.  No gifting or buying stuff here."

### Code

[code]

### Meta

It reproduces on nightly and two other versions
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-01-07 03:06] ThePuzzlemaker commented on #80701
@rustbot modify labels: A-diagnostics A-traits C-bug D-confusing D-papercut T-compiler A-lifetimes

[2021-01-07 05:22] clmay opened #80770 "Add 'language' tag to repo"
It would be great to see Rust represented in the [Languages topic](https://github.com/topics/language). My understanding is that this can be accomplished trivially by adding the tag `language` to the repo's tags.

Sorry for opening an issue for this. I just get sad every time I am browsing topics and don't see Rust listed in the Languages topic. I think it deserves to be showcased as one of the to

[2021-01-07 05:35] lzutao commented on #80767
This is a stable-to-stable regression. https://rust.godbolt.org/z/Kr7Peh
Happen from Rust 1.40 onwards.
error -> ICE : Could be P-low or P-medium
@rustbot prioritize
@rustbot label: regression-from-stable-to-stable

[2021-01-07 05:55] lzutao commented on #80767
Regression commit between 2019-10-29 and 2019-10-30
fetching (via local git) commits from b497e18995d6b6992f97512c6b86b5cb3f2f34f5...aa69777ea2902208b24b3fd77767d577ceaf6386
found 7 bors merge commits in the specified range
  commit[0] 2019-10-28UTC: Auto merge of #65202 - pietroalbini:scriptify-ci-config, r=alexcrichton
  commit[1] 2019-10-28UTC: Auto merge of #65907 - Centril:rollup-9i8ev23, r=C

[2021-01-07 06:46] kpreid opened #80772 "rustc_mir::borrow_check::region_infer::RegionInferenceContext::find_outlives_blame_span called `Option::unwrap()` on a `None` value"
### Code

[code]

[On playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=93d6c56fb58b81120a70dd3e358dd3b1)

### Meta

`rustc --version --verbose`:
[code]

Also happens on 1.48.0 and nightly.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-01-07 07:11] t10-13rocket opened #80773 "Inclusion"
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2015&gist=c866536a8ade81d9c44d4ceeb0e92227))

Errors:

[code]

[2021-01-07 07:11] t10-13rocket commented on #80773
Should be optional for inclusion of alphabets of all languages.

[2021-01-07 09:45] dalcde opened #80775 "Cannot build cdylib for wasm32-unknown-emscripten"
Create an empty file `test.rs` and run
[code]
It gives the error
[code]

[2021-01-07 10:36] alecmocatta opened #80776 "--remap-path-prefix not remapping out_dir in debug info on Wasm"
I'm seeing an un-remapped path in a Wasm bin compiled with `--target=wasm32-unknown-unknown` `--release` `debug = 1` `--remap-path-prefix=$CARGO_MANIFEST_DIR=` on `nightly-2021-01-02`. Here's a snippet of it and a couple of preceding strings that help contextualise:

[code]

It looks like it's the out_dir that's not getting remapped: https://github.com/rust-lang/rust/blob/dfdfaa1f0442dac516ba87d27

[2021-01-07 10:37] jyn514 commented on #80760
cc @Aaron1011

[2021-01-07 10:39] SkiFire13 commented on #80773
Note that your code has a bug in release mode because `self.count` could overflow

[2021-01-07 10:46] apiraino commented on #80760
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380760.20Panic.20with.20'Missing.20tokens.20for.20nt.20.22.3B.22'.20when.20passing.20.E2.80.A6) and removing `I-prioritize`.

[2021-01-07 10:48] EkremDincel commented on #78174
Another opssible duplicate:
[code]

[2021-01-07 10:49] apiraino commented on #80706
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380706.20ICE(stable).3A.20thread.20'rustc'.20panicked.20at.20'called.20.60Opt.E2.80.A6) and removing `I-prioritize`.

[2021-01-07 10:49] jplatte opened #80777 "rustdoc renders stability attribute for trait implementations on type pages, but not trait pages"
For example, `impl BitOr<NonZeroU128> for NonZeroU128` being stable since 1.45.0 is visible [on the page for `NonZeroU128`](https://doc.rust-lang.org/core/num/struct.NonZeroU128.html#impl-BitOr%3CNonZeroU128%3E):

![Screenshot_2021-01-07 core num NonZeroU128 - Rust](https://user-images.githubusercontent.com/951129/103884049-52f9da80-50de-11eb-8775-f39f2795b010.png)

but not [on the page for `BitOr

[2021-01-07 10:50] RalfJung commented on #80682
@SkiFire13 good point, one can use the slice-to-array methods that already exist.

This issue is about `slice::swap` though, sorry for derailing it -- I'll open a new one for `Cell::swap`.

[2021-01-07 10:57] apiraino commented on #80767
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380767.20Borrow.20Checker.20Paniced.20Upon.20Gifted.20Code) and removing `I-prioritize`.

[2021-01-07 10:58] RalfJung opened #80778 "Cell::swap assumes Cells never overlap"
In https://github.com/rust-lang/rust/issues/80682#issuecomment-755437022, it was uncovered that `Cell::swap` is making some rather strong assumptions: two `Cell`s with different address but the same type must not overlap. Not only is this a scarily non-local safety invariant, it is also fundamentally incomaptible with some APIs that ought to be correct, as demonstrated by this snippet (thanks to @

[2021-01-07 10:59] RalfJung commented on #80682
Opened https://github.com/rust-lang/rust/issues/80778.

[2021-01-07 11:24] bjorn3 commented on #80778
`swap` was added in https://github.com/rust-lang/rust/pull/39716/commits/a5e8bbf32b32ed7d3b06149fdfa0977c0ec0a22e, which was authored by a "Charlie Fan". This is probably @ghost.

[2021-01-07 11:34] RalfJung commented on #80778
Cc @rust-lang/libs

[2021-01-07 11:51] hombit commented on #78220
Is there any work around?

[2021-01-07 11:52] Darksonn commented on #80778
This makes the `as_cell_of_array` method sound, but it seems like there could be other seems-like-they-should-be-ok cell projections that break under this behavior.

[2021-01-07 12:12] ptal opened #80779 "cannot relate region: LUB(ReErased, ReFree(...))"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

Note: Same error on stable and beta.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-01-07 12:15] Amanieu commented on #66741
It is currently not possible to support unwinding in no_std on stable because you need to define the `eh_personality` lang item and use `intrinsics::try`, both of which are unstable.

However I would like this to be supported *eventually*, so we should design `handle_alloc_error` with the goal of eventually supporting unwinding from alloc error handlers.

[2021-01-07 12:32] GroteGnoom commented on #80618
Hi,  @cole-miller could you claim this? Then it's easier to see which issues are not yet being worked on.

[2021-01-07 12:39] rnestler commented on #47040
Well this is a pretty old bug and I'm not sure if it is worth to try and reproduce, since `xargo` isn't actively developed anymore.

[2021-01-07 12:43] RalfJung commented on #80778
I don't think so. This makes the `swap` function behave "strangely", but since no data is duplicated nor discarded, I think it is sound.

[2021-01-07 12:46] RalfJung commented on #76001
Regarding `rustc_args_required_const`, also see https://github.com/rust-lang/stdarch/issues/248. However, not promoting them at all breaks widely used crates, see https://github.com/rust-lang/rust/pull/80759. So if we want to get rid of explicit promotion, we do indeed have to use inline consts for `rustc_args_required_const` -- or we use implicit promotion.

[2021-01-07 12:49] RalfJung commented on #66741
I agree.

I don't think that is a direct consequence; there is also the alternative of requiring the alloc error handler to not unwind or wrapping it in an abort-on-unwind shim.

If allocation truly can unwind, we'll have to get rid of the `Box` nullary operator and also carefully review all the `nounwind` LLVM annotations for allocation functions.

[2021-01-07 12:58] RReverser commented on #60231
FWIW instead of this, you can ask Rust to produce the object file directly with `--emit=obj`.

[2021-01-07 13:01] danielhenrymantilla commented on #80778
I share this hunch, although the code, out of nowhere, may look very contrived.

Consider:

[code]

So it seems like `panic!`-king is the only option that would allow us too keep the structural property of `Cell`s, which, imho, is a very intuitive programmer mindset (and thus, a mistake that many would do should they not know about this caveat), and so a quite important thing to preserve 🙂.

[2021-01-07 13:03] cole-miller commented on #80618
@rustbot claim

[2021-01-07 13:17] RalfJung commented on #80778
That is an example of the "strange" behavior not being the right thing for this code, but it is not an unsoundness of `swap` *per se*. Your unsafe code is simply making wrong assumptions about the *functional behavior* of `Cell::swap`.

Current `Cell::swap` favors the first operand in case of overlap (according to `ptr::swap` documentation); unsafe code that incorrectly assumes it would favor the

[2021-01-07 13:39] GroteGnoom commented on #76268
@jyn514

https://github.com/rust-lang/rust/pull/79163#issuecomment-730707265

Since #79038 is merged, should this issue be closed?

[2021-01-07 13:43] jonas-schievink commented on #80773
@t10-13rocket I'm not sure what you are asking for, can you clarify?

[2021-01-07 13:48] jyn514 commented on #76268
Sounds good to me!

[2021-01-07 13:48] #76268 closed

[2021-01-07 13:48] jyn514 commented on #76268
Thank you everyone who helped fix this!

[2021-01-07 14:00] lzutao commented on #80770
That maybe useful. Do you know how could we do that in our side?

[2021-01-07 14:02] jplatte commented on #80770
Sbd. with owner permission has to do it AFAIK.

[2021-01-07 14:03] lzutao commented on #80773
@t10-13rocket The Rust repo has issue templates that ones can fill in to help
readers understand the problem in the issue. Could you use that?

[2021-01-07 14:03] steffahn opened #80783 "Object safety of traits with generic implementation for `?Sized` and with associated types is unsound"
Traits such as the `IsEqual` trait at the beginning of the code below are object safe in a setting where this object safety leads to unsoundness.

Perhaps the case where we might want to remove object safety is best described along the lines of:
* a trait with associated types
* with a generic implementation that overlaps with the trait’s own trait object type
  * in particular, a fully generic im

[2021-01-07 14:05] steffahn commented on #80783
@rustbot prioritize

[2021-01-07 14:06] steffahn commented on #80783
@rustbot modify labels: C-bug, A-traits, T-compiler, T-lang, A-associated-items

[2021-01-07 14:07] steffahn commented on #80783
@rustbot modify labels: I-unsound

[2021-01-07 14:08] lzutao commented on #80770
So you mean add topic tags just like golang repo:
![image](https://user-images.githubusercontent.com/15225902/103901857-48663200-512c-11eb-9744-851e4010e543.png)

[2021-01-07 14:10] jplatte commented on #80770
I think that's what OP meant, yes. Rust has two of those too right no: `rust` and `compiler`.

[2021-01-07 14:11] steffahn commented on #80783
@rustbot modify labels: A-dst, A-typesystem

[2021-01-07 14:15] Darksonn commented on #80481
I was just reminded by this because another person was bitten by it. It would definitely be useful to add a note on impls that are always false, although it would of course be better doc-wise if we can somehow convince it to display `impl !Unpin for Sleep`.

I don't think this can be fixed in `pin-project-lite`, because in this case, it _has_ to emit an always-false `impl Unpin` impl to prevent th

[2021-01-07 14:24] GroteGnoom commented on #75080
Could `[std::convert::identity]: crate::convert::identity` be removed from the unclaimed list?

[2021-01-07 14:57] pnkfelix commented on #78893
This is a stable-to-stable regression now with the 1.49 release.

[2021-01-07 14:58] GroteGnoom commented on #76704
@castarco Are you still working on this? If yes, could you claim it?

[2021-01-07 15:16] pnkfelix commented on #80760
assigning to self to confirm if #79812 is the cause of the breakage, and if so, revert the PR until it can be revised to handle this case.

[2021-01-07 15:19] CAD97 commented on #80778
At the very least, an argument that `&Cell<(bool, u8, bool)>` aren't allowed to overlap is easier to defend than that `&Cell<[T; N]>` aren't allowed to overlap.

Plus also, `(bool, u8, bool)` doesn't have guaranteed layout in the first place, so any example using tuples is (currently) implementation-detail-tied even before hitting `Cell::swap`.

You could still construct an example using only `#[r

[2021-01-07 15:33] GroteGnoom commented on #70953
This should be closed because of
https://github.com/rust-lang/rust/pull/77493

[2021-01-07 15:36] #70953 closed

[2021-01-07 15:40] DNNX opened #80786 "Internal compiler error - tuple_fields called on non-tuple"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

Note: when I remove `.to_owned()` from the source code, the internal compiler error goes away, so it must be connected.

Don't look at the source code too closely. ~I don't know what I am doing.~

UPDATE: I removed irrelevan

[2021-01-07 15:42] pnkfelix commented on #80176
Discussed at today's T-compiler meeting: https://zulip-archive.rust-lang.org/238009tcompilermeetings/41447weeklymeeting2021010754818.html#221955336

Downgrading to P-medium to make consistent with #25860. (We think the right path for fixing this is something that would also resolve #25860.)

Removing nomination label.

[2021-01-07 15:42] vext01 commented on #80683
I nuked my whole git clone and started afresh. Cloned today's git code (b5c496de374407c0937cf5257d89230b5358d053), put the above config in place, ran `x.py install`:
[code]

So it seems it created an empty directory this time.

So do we suspect this is something local to me, if you see something else?

[2021-01-07 16:00] gilescope opened #80787 "There's no flag to allow assert_eq to format as multi-line results"
I think this is a `bug`, rather than a feature request, but maybe others will disagree - it certainly feels like a UX missed opportunitiy.

Looking at the `assert_eq` code, we *always* debug format on one line despite us having the ability to nicely format as multi-line.

https://doc.rust-lang.org/src/core/macros/mod.rs.html#48-49

Given that IDEs like intellirust have really nice diff viewers to

[2021-01-07 16:03] gilescope commented on #80787
I'm going to reference the json test format here ( #50297 ) as that's the most useful way to ensure one gets the expected and actual results out nicely. We can improve on the json test output but first we need to be able to format mutli-line on the test asert_eq.

[2021-01-07 16:08] kpreid commented on #80772
On taking another look at the issues I found before filing this one, it looks like #74599 _might_ be the same thing, as it has a similar stack trace. That code sample requires nightly, however, and this one does not.

From a superficial examination (I know nothing about the compiler internals), both issues involve:
* multiple subexpressions (an array expression or a match) where the problem is sen

[2021-01-07 16:13] rylev commented on #80048
@rustbot claim

[2021-01-07 16:15] SkiFire13 commented on #80778
I don't think `&Cell<[T]> -> &Cell<[T; N]>` would be immediately unsound, you would still need a way to create overlapping `&Cell<[T]>`s.

[2021-01-07 16:21] Aaron1011 commented on #80760
This is caused by us not handling `StmtKind::Empty` properly - I'm working on a fix.

[2021-01-07 16:34] RalfJung commented on #80778
In particular, they certainly can only overlap in restricted ways -- if they overlap such that one's `bool` sits on the other's `u8`, I can already cause UB without `swap` just by storing `3` into that `u8` and then reading it as a `bool`.

Oh I see... to only swap the non-overlapping parts we have to make an argument that these parts have the same type. Which... seems utterly bogus now that I thi

[2021-01-07 16:38] gilescope commented on #80787
If the test binary was built with a mutliline feature that might be one way this could be implemented?

[2021-01-07 16:44] Aaron1011 commented on #80760
Opened https://github.com/rust-lang/rust/pull/80789

[2021-01-07 16:50] vext01 commented on #80683
I also tried a different prefix outside of `build` and got the same behaviour.

This is odd...

[2021-01-07 16:57] pietroalbini commented on #80683
I found out why my local result and your local result differ, and the piece of code that change it, but I still need to figure out why my change triggered the bug.

If we look at the log you posted, the path in this line has an extra `build/tmp/empty_dir` in it:

[code]

That means the installation script is running successfully, but it's installing stuff on the wrong prefix, which is then deleted

[2021-01-07 17:08] RalfJung commented on #72016
To follow up on:

See [this comment](https://github.com/rust-lang/rust/issues/76001#issuecomment-753468185)---having both explicit promotion and inline consts seems like two slightly different solutions to basically the same problem, incurring a lot of extra complexity and maintenance burden. I'd like to avoid that if we can, and I think we totally can.

We don't even need to change the syntax of

[2021-01-07 17:21] CAD97 commented on #80778
Fair. I'm fairly confident that it'd be possible to come up with some safety invariant that a partial swap would break, though, with more data-dependent qualities.

The parenthetical is an optional relaxation of the potential requirement (but at the cost of a lot of complexity).

[2021-01-07 17:24] RalfJung commented on #80778
But shouldn't it be forbidding overlapping `Cell`s to `Cell::swap`-*incompatible* types? Not that I know what either of these things mean, but forbidding incompatible seems to make more sense than forbidding compatible.^^

[2021-01-07 17:25] mgeier commented on #63567
@RalfJung The `transmute()` function is actually a very good counter-example. Its name mentions an "action", namely the verb "to transmute". Therefore, it is no problem to have additional functions containing the word `transmute`, e.g. `transmute_copy()`.

[2021-01-07 17:53] gyakovlev commented on #77721
@jyn514 yes, I believe it's the same problem fixed in #80240 and reported in #80238
I'll close it for now then. thanks for the ping! Just got back from  holiday break.

[2021-01-07 17:54] #77721 closed

[2021-01-07 18:01] jyn514 commented on #77828
@danielhenrymantilla which case did https://github.com/rust-lang/rust/pull/80415 fix? Is the bug fixed for things in modules, but not in other contexts?

[2021-01-07 18:02] Trolldemorted commented on #70925
Wouldn't a panic be appropriate? I don't think the current behaviour suites any use case.

[2021-01-07 18:02] dcbaker commented on #78913
I don't think this issue is really specific for what we need, I'm going to close this and open a different one.

[2021-01-07 18:02] #78913 closed

[2021-01-07 18:07] pietroalbini commented on #80683
Found the cause of the regression! https://github.com/rust-lang/rust/pull/80240 moved the path canonicalization code, causing the `prefix` path to be absolute while all the rest of the paths are relative. Before that PR all paths were instead absolute.

Working on a PR now.

[2021-01-07 18:12] Aaron1011 commented on #80783
I think this is a duplicate of https://github.com/rust-lang/rust/issues/57893

[2021-01-07 18:14] jyn514 commented on #80786
@DNNX this works for me on both 1.49 stable and 1.51 nightly. Can you double check it works for you? If so I think this has already been fixed.

[2021-01-07 18:15] jyn514 commented on #80777
I would guess the same bug is causing both issue.

[2021-01-07 18:17] jyn514 commented on #80779
@ptal this works for me on latest nightly. If you update your version of the compiler, does it work for you? https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8ac488d8147229b6a0435e5a73c15333

[2021-01-07 18:18] jyn514 commented on #80779
Oh oops, I was missing `pub fn g`, sorry: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fb952ebdeb5a191252a7caba44ff970c

[2021-01-07 18:19] dcbaker opened #80792 "Add option to pass environment variables to rustc with a flag"
See #78913 for more background.

I'm a meson developer, working to make rust work better with meson. I know that cargo is the official build system for rust, but for me and the projects I work on cargo is unacceptable, we have a *massive* C/C++ codebase already using meson, with interest in migrating some (but not all) of our code to rust. Mostly things work fine, but one problem we do have is inc

[2021-01-07 18:22] jyn514 commented on #80779
Slightly smaller:
[code]
If you change `T<'a>` to `T<'static>`, it works, so I think this is while trying to infer `'a`.

[2021-01-07 18:24] jyn514 commented on #80792
For what it's worth, this is exactly what x.py does: https://github.com/rust-lang/rust/blob/master/src/bootstrap/bin/rustc.rs

To be clear, you only need this to support `env!`, right, not actual environment variables?

[2021-01-07 18:25] danielhenrymantilla commented on #77828
It looks like it: it definitely fixes it for macros inside `mod`ules, and the whole re-export ordeal works. Basically, in my PR, the only tests to fail were those involving a macro defined within a function or within a constant.

[2021-01-07 18:26] cjgillot commented on #77828
I don't think this is an issue any more.
The second output `core[8787]::C` is not a module, so `parent_module` will not return it.
#80415 allows to compute the correct parent module (ie. not crate root) when the macro is inside a module.

[2021-01-07 18:31] CAD97 commented on #80778
Yeah, poor verbage. I meant roughly "forbidding overlapping `Cell`s of types that can be used in `Cell::swap` (i.e. sized types)", with the optional extension of "only for those actually broken by `Cell::swap`" (however that would be defined).

[2021-01-07 18:39] jyn514 commented on #80737
Yes, you can manually type the version number in the URL: https://doc.rust-lang.org/1.0.0/std/

[2021-01-07 18:44] danielhenrymantilla commented on #77828
Interesting, so it's intended that `.parent()` and `.parent_module()` not always agree. I think we can close this again (and maybe submit a PR clarifying that in the documentation), and I'll adapt my PR accordingly 🙂

[2021-01-07 18:45] #77828 closed

[2021-01-07 18:49] steffahn commented on #80783
Ah, goddammit, I didn’t read that one far enough to notice that that one’s not just about lifetimes. I’m a bit surprised that it went from high priority directly to no priority at all.

[2021-01-07 18:59] dcbaker commented on #80792
Yes exactly, just `env!`.

[2021-01-07 19:04] jyn514 commented on #80792
Just so you know, I doubt anyone will pick this up as-is. Normally the way small things like this get implemented is by making a PR implementing it, which then goes through [FCP](https://forge.rust-lang.org/compiler/mcp.html#public-facing-changes-require-rfcbot-fcp). If you don't know how to implement it, you could make an [MCP](https://forge.rust-lang.org/compiler/mcp.html) and hope someone picks

[2021-01-07 19:08] tmiasko commented on #80245
Closing in favour of https://github.com/rust-lang/stdarch/issues/248.

[2021-01-07 19:08] #80245 closed

[2021-01-07 19:08] steffahn commented on #80783
hm, let’s see if I can @rustbot modify labels to -I-prioritize

[2021-01-07 19:11] steffahn commented on #80783
Okay, great. I think this really is just a full duplicate, then. I guess it can contribute with more examples to #57893. The proposal to add a check that makes `size_of` create an ICE instead of returning `0` can be a separate issue.

[2021-01-07 19:11] #80783 closed

[2021-01-07 19:14] steffahn commented on #57893
I got some more example code in #80783, which I closed as is’s a duplicate.

I guess they aren’t any worse than the examples that we already have in this thread.

[2021-01-07 19:17] dcbaker commented on #80792
Thanks, I'm new in these parts and don't know all of the process yet :)

[2021-01-07 19:22] steffahn opened #80795 "Add a compiler check that `std::mem::size_of` isn’t called on unsized types?"
While re-discovering #57893 (in #80783) and in particular while poking around in the world of all the wonderful ICEs that you can get once you’ve convinced the compiler that a trait object is actually `Sized`, I noticed that calling `size_of` does actually still compile without any error. It returns `0`, e.g. see this example:
[code]
[code]

I wonder what that value of `0` is good for! Couldn’t it

[2021-01-07 19:46] bjorn3 commented on #80795
0 is the lower bound on the dereferencable size for pointers to unsized types as told to LLVM.

[2021-01-07 19:52] jyn514 commented on #65677
cc @Darksonn , you were asking for something like this in https://github.com/rust-lang/rfcs/pull/2963#issuecomment-669344913.

In retrospect I think this should be possible as long as there aren't name resolution errors or type errors in the body. That may work for tokio but it will definitely break for async-std (https://github.com/rust-lang/rust/issues/75100).

[2021-01-07 19:59] pietroalbini commented on #80683
Opened a PR with a fix: https://github.com/rust-lang/rust/pull/80797

[2021-01-07 20:01] VTCAKAVSMoACE commented on #80735
They both crash at the same place due to the same segmentation fault despite being completely different implementations, so it is likely not the fault of the emulator. Looking at the place in Ghidra that it crashes, it appears to be in startup. Moreover, I am able to run non-static Linux binaries with QEMU (but not Spike) successfully.

Spike uses a proxy kernel (that's what the pk argument is), a

[2021-01-07 20:10] VTCAKAVSMoACE commented on #80735
Here is the instruction trace and the binary (gzipped) generated by the scenario provided above.

[riscv-check.gz](https://github.com/rust-lang/rust/files/5783751/riscv-check.gz)
[riscv-check.trace.txt](https://github.com/rust-lang/rust/files/5783743/riscv-check.trace.txt)

[2021-01-07 20:24] nagisa commented on #80735
You mentioned the issue appears to happen during startup. Do you know if its the glibc part of the startup procedure or Rust part of it? From the number of instructions executed in `trace.txt` it would suggest that its `glibc` and thus it probably isn't a Rust bug. However if its the latter case, you _should_ be able to obtain the stacktrace with gdb and that would help significantly.

[2021-01-07 20:26] camelid commented on #80737
Thanks! I forgot about that. However, I meant for the docs pre-1.0. Do you know of any way to view those?

[2021-01-07 20:35] VTCAKAVSMoACE commented on #80735
GDB doesn't list a stacktrace; I believe it happens before a __libc_start_main. I can compile C static binaries otherwise, however; is crt-static doing anything different or special in that regard?

[code]

[2021-01-07 20:59] nagisa commented on #80735
It shouldn't be doing anything special, no. Although there are some ways in which minimal Rust binaries differ from minimal C binaries. Most notable difference often being Rust's use of thread-local storage.

[2021-01-07 21:00] VTCAKAVSMoACE commented on #80735
Not sure why that would cause either of these emulators to get a segfault, though. How would I recreate such an environment with a minimal C static binary to verify this is a glibc problem?

[2021-01-07 21:03] #79919 closed

[2021-01-07 21:03] #80060 closed

[2021-01-07 21:03] #80559 closed

[2021-01-07 21:06] paulie4 commented on #36683
NOTE: the new location for the added `move` documentation is here:
https://doc.rust-lang.org/reference/expressions/closure-expr.html

[2021-01-07 21:08] betamos commented on #69781
I agree with the premise but would rephrase it as _identifying asynchronous functions is unnecessarily complex_. However, I wouldn't automatically assume that drilling into the details of the return type, and exposing them, is what the users want and need.

There are three ways to declare an "asynchronous function" that I know of:

[code]

Whichever style is more frequent in the user's projects mi

[2021-01-07 21:15] VTCAKAVSMoACE commented on #80735
Doesn't appear that thread-local storage is the culprit.

[code]

[2021-01-07 21:37] camelid commented on #79669
Regression is on beta now.

[2021-01-07 21:43] camelid commented on #80772
This also reproduces the ICE:

[code]

[2021-01-07 21:55] richkadel commented on #80060
Update: The solution implemented by #80521 is different from what we initially agreed on. More detail can be found in the PR discussion, but to be more future-proof, we didn't want to disable everything at the same `mir-opt-level` that enables inlining. That means `mir-opt-level` 2 is allowed with `-Zinstrument-coverage`, but the `Inline` pass is disabled, regardless of the level. If inlining is e

[2021-01-07 22:04] poliorcetics commented on #75080
`library/core/src/str/mod.rs` has been done in #77875

[2021-01-07 22:09] richkadel commented on #79417
This Issue is partially resolved by #79762. (Thanks @Swatinem!)

There are some known issues still to resolve:
* Column positions are incorrect, as shown, for example, at https://github.com/rust-lang/rust/blob/c8915eebeaaef9f7cc1cff6ffd97f578b03c2ac9/src/test/run-make-fulldeps/coverage-reports/expected_show_coverage.doctest.txt#L25 (and described in the [FIXME](https://github.com/rust-lang/rust/bl

[2021-01-07 22:40] VTCAKAVSMoACE commented on #80735
With the same source and clang-11, some finagling is required:

[code]

Though, once again, it still successfully builds. Doesn't appear to be LLVM's fault, either.

[2021-01-07 22:41] VTCAKAVSMoACE commented on #80735
Note that:

[code]

[2021-01-07 22:53] VTCAKAVSMoACE commented on #80735
Interestingly, I don't see any querying for crt1.o when using crt-static, but it should be if it's attempting to link it statically.

[code]

[code]

[2021-01-07 23:10] steffahn commented on #57893
@nikomatsakis

It surely can:
[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=64d854a31609afef63ac6e14e042654d))

[2021-01-07 23:12] ijackson commented on #73413
I think this issue wants to be set to merged or something now?  The docs were dealt with in #75078 and the stabilisation was in #77853, both merged now.  I'm not sure I can do that myself...

[2021-01-07 23:52] steffahn commented on #57893
Which means that we can get unsafety _without any dyn-overlapping implementation_:
[code]

[2021-01-08 00:11] steffahn opened #80800 "Trait object types aren’t enforcing equality constraints on associated types of super-traits"
Found in https://github.com/rust-lang/rust/issues/57893#issuecomment-756457205
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3a8d01264d94834f4767d2a6538277f1))

Errors:

[code]

@rustbot modify labels: T-compiler, C-bug, A-traits, A-dst, A-associated-items, A-typesystem
and please add “I-unsound 💥”

[2021-01-08 00:20] estebank commented on #34792
@SimonSapin so we have any `// check-pass` regression test? I couldn't see any.

[2021-01-08 00:21] jyn514 commented on #76526
It is not.

[code]

[2021-01-08 00:44] Aaron1011 commented on #80800
cc @matthewjasper - this looks like it might be related to some of your work.

[2021-01-08 01:45] pkgw opened #80804 "1.49 seems to have bumped required macOS version"
After the release at 1.49, we at [conda-forge](https://github.com/conda-forge/) are seeing some new build failures on macOS builds due to a missing `_linkat` symbol:

[code]

`linkat` is only availabe starting in macOS 10.10, while on conda-forge our targeted minimum version is 10.9. It looks like this may have been introduced unintentionally in #78026.

I'm filing this as a regression because I d

[2021-01-08 01:51] estebank commented on #51635
Confirmed that https://github.com/rust-lang/rust/issues/51635#issuecomment-590568549 and https://github.com/rust-lang/rust/issues/51635#issuecomment-622385097 are now fixed on nightly. Couldn't verify https://github.com/rust-lang/rust/issues/51635#issuecomment-528924677 due to a failure on the `pear` crate, but don't see why the original issue wouldn't be resolved by the recent changes. Thank you

[2021-01-08 01:51] #51635 closed

[2021-01-08 01:59] jyn514 commented on #80804
https://github.com/rust-lang/rust/pull/78026#issuecomment-712227232

Is there a way to tell if we're compiling on MacOS 10.9 or lower and special case it if so?

[2021-01-08 02:15] pypypypypypypypypyp commented on #79140
obviously reading the value is UB, but initializing it with a ptr::write before it is read should make sure no UB is possible right?

regardless, "works fine" was referring to the fact that it compiled with no errors, when the first example would not compile, and that was inconsistent.

[2021-01-08 02:30] is8ac opened #80807 ""overflow evaluating the requirement" regression in nightly-2020-12-27"
### Code

[code]
## Error

On current nightly or stable `1.49.0`, `rustc` errors with:

[code]

but on `nightly-2020-12-20` it compiles without issue.

`bisect-rustc` gives:

searched nightlies: from nightly-2020-12-22 to nightly-2021-01-06
regressed nightly: nightly-2020-12-27
searched commits: from https://github.com/rust-lang/rust/commit/bb178237c5539c75e1b85ab78a8ab902b1f333d5 to https://githu

[2021-01-08 03:13] ehuss commented on #80804
I think the [`weak` macro](https://github.com/rust-lang/rust/blob/master/library/std/src/sys/unix/weak.rs) is normally used for runtime detection of a symbol.

[2021-01-08 03:26] lzutao commented on #73413
Closed by #77853 .

[2021-01-08 03:26] #73413 closed

[2021-01-08 03:52] pkgw commented on #80804
@jyn514 In the interest of generating portable binaries, one could make the argument for not using the API even if one is compiling on a newer macOS. For precompiled stdlib in particular, I'd guess that somewhere there's a specification for the minimum supported OS version?

[2021-01-08 04:02] Mark-Simulacrum commented on #80804
We can't really compile on old macos feasibly in CI, but it should be fairly straightforward to use linkat via the weak macro (which performs runtime detection of availability). I think we'll likely want to land using weak on nightly for testing, and then follow up with a beta backport. We can consider a stable backport as well, since this seems like a major problem for (all?) users targeting olde

[2021-01-08 05:24] camelid commented on #80807
cc @matthewjasper (bisection points to #80246)

[2021-01-08 05:26] camelid commented on #80807
Just to be clear: it seems this was fixed and then regressed again in nightly-2020-12-27?

[2021-01-08 05:58] #72381 closed

[2021-01-08 05:58] #79669 closed

[2021-01-08 05:58] #79497 closed

[2021-01-08 08:01] SimonSapin commented on #34792
Oh good point. Sorry I missed the label.

@humancalico Yes, feel free to work on adding a regression test!

[2021-01-08 09:04] matthewjasper commented on #80807
Not a regression, this has never compiled on stable.

[2021-01-08 09:18] Jakob-Naucke opened #80810 "Cross-compiling Rust to s390x yields a faulty toolchain"
### Code

I tried this code **on s390x**:
[code]

(originally discovered in and derived to make an MWE from [gimli](https://github.com/gimli-rs/gimli)) with all of the following:

- rustup toolchains 1.50 (current beta) and 1.51 (current nightly)
- https://static.rust-lang.org/dist/2020-12-30/rust-beta-s390x-unknown-linux-gnu.tar.gz which is used as stage0 when compiling Rust
- Rust cross-compiled

[2021-01-08 09:31] rylev commented on #80810
Assigning P-high as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380810.20Cross-compiling.20Rust.20to.20s390x.20yields.20a.20faulty.20toolch.E2.80.A6) and removing I-prioritize.

[2021-01-08 10:15] StyMaar opened #80811 "Type inference issue when trait objects are used in combinations with closures"
The following snippet fails

[code]
With the following error :

[code]
The compiler is smart enough to infer the type after adding a simple `as _`, but it shouldn't be necessary.

[code]

### Meta

This bug occurs in rust 1.49 stable and the current nightly as well (1.51.0-nightly (2021-01-07 c8915eebeaaef9f7cc1c))

[2021-01-08 11:35] DNNX commented on #80786
Works for me as well on the latest 1.49 stable and 1.51 nightly. Sorry for the trouble. I'm closing the issue.

[2021-01-08 11:35] #80786 closed

[2021-01-08 11:54] apiraino commented on #80268
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2380268.20Getting.20SIGSEGV.20with.20.60-fp-armv8.60.20featur.E2.80.A6) and removing `I-prioritize`.

[2021-01-08 12:07] nagisa commented on #80268
I wouldn't be surprised if there's some assumption somewhere in the LLVM backend that aarch64 implies floating point support at hardware level. Which then in turn is making some assertion fail, which in your case manifests itself as a SIGSEGV.

[2021-01-08 12:34] #80333 closed

[2021-01-08 12:59] ksqsf opened #80813 "Incomprehensible error messages regarding lifetime"
I tried this code:

[code]

I expected to see this happen: compiles or displays understandable error messages

Instead, this happened:

[code]

[2021-01-08 13:06] Amanieu commented on #60705
In the hopes of moving forward with this, I propose the following plan:
- Backport the libiberty demangler changes to the gcc-8, gcc-9 and gcc-10 branches. This should cover most actively used distros including debian 10 (gcc-8) and ubuntu 20.04 (gcc-9).
- No changes to perf are needed: it will automatically pick up the new demangler in libiberty.
- Valgrind uses a vendored copy of libiberty for d

[2021-01-08 13:35] Amanieu commented on #60705
Valgrind patch: https://bugs.kde.org/show_bug.cgi?id=431306

[2021-01-08 13:45] jonas-schievink commented on #80811
There's no coercion from `Result<T, E>` to `Result<U, E>`, so this is working as expected.

[2021-01-08 13:45] #80811 closed

[2021-01-08 13:56] ojeda commented on #60705
binutils/gdb also were waiting for GCC's libiberty but it was done three days ago: https://github.com/bminor/binutils-gdb/commit/d750c713c9a34c8835e8e60370708cae675edb40

If we are backporting it to gcc-8 for distros etc., I guess those need backporting too.

[2021-01-08 14:03] nagisa commented on #80776
Are you passing `$CARGO_MANIFEST_DIR` as an argument verbatim (that probably won't work, rustc won't expand arguments)? Can you post the arguments that the invocation of rustc receives?

(Doing so may involve suspending the execution of rustc and then obtaining the CLI through operating system; e.g. on Linux via `cat /proc/<PID>/cmdline`)

[2021-01-08 14:04] humancalico opened #80815 "`x.py build` fails on NixOS in a `--pure` shell"
[code]

This is failing since most pre-compiled binaries don't work directly on NixOS. If there are any NixOS users here is there any workaround for this?

[2021-01-08 14:09] nagisa commented on #80773
Note that the code snippet is copied from the [documentation of `std::iter`](https://doc.rust-lang.org/stable/std/iter/index.html#implementing-iterator).

This issue might be spam.

[2021-01-08 14:23] jyn514 commented on #80815
I think @matklad uses NixOS. I'm not sure if it's supported though - that looks like you're missing the dynamic linker, which seems hard to solve in general.

[2021-01-08 14:23] #80773 closed

[2021-01-08 14:25] nagisa commented on #80712
Filled bugs for the LLVM asserts upstream https://bugs.llvm.org/show_bug.cgi?id=48698 and https://bugs.llvm.org/show_bug.cgi?id=48699 but we should still adjust ABI code in Rust.

[2021-01-08 14:31] nagisa commented on #80815
We generally patch the binaries for NixOS transparently. Seems like one of the binaries or libraries isn't since some recent change. See https://github.com/rust-lang/rust/blob/master/src/bootstrap/bootstrap.py#L504-L593

[2021-01-08 14:35] StyMaar commented on #80811
@jonas-schievink can you explain a bit more ? What are T and U in your answer ?

[2021-01-08 14:37] nagisa commented on #80815
I'm unable to reproduce:

[code]

[2021-01-08 14:38] jonas-schievink commented on #80811
Arbitrary types with a coercion from `T` to `U`

[2021-01-08 14:43] StyMaar commented on #80811
Oh TIL. What's the rational behind such a behavior ?

[2021-01-08 14:46] StyMaar commented on #80811
And how comes this works btw ?

[code]

[2021-01-08 14:47] humancalico commented on #80815
@nagisa Can you try it with the pure flag?

[2021-01-08 15:04] mati865 commented on #79649
cc @richkadel you might want to include it in https://github.com/rust-lang/rust/issues/79121

[2021-01-08 15:13] PatchMixolydic commented on #80813
To clarify, the error in this code is that `&mut v` and `s` are both given the lifetime `'a`, so `&mut v` must live for as long as `s`. Because of this, it's still live when execution reaches `println!("{:?}", v);`:

[code]

To fix this, remove the explicit lifetime on the `v` parameter (but not its generic argument) ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&

[2021-01-08 15:14] alecmocatta commented on #80776
<details><summary><code>RUSTFLAGS='--remap-path-prefix=/Users/alec/Documents/frontend= --remap-path-prefix=/Users/alec/.rustup/toolchains/nightly-x86_64-apple-darwin= --remap-path-prefix=/Users/alec/.cargo/registry/src='</code>:</summary>

`rustc --crate-name frontend --edition=2018 frontend/src/lib.rs --error-format=json --json=diagnostic-rendered-ansi --crate-type cdylib --emit=dep-info,link -C

[2021-01-08 15:21] #26207 closed

[2021-01-08 15:23] Amanieu commented on #60705
Hmm that's inconvenient, I was expecting binutils to use gcc's libiberty rather than vendoring a copy. Considering the situation, I think it's only worth backporting the demangler to the latest stable releases which are:
- GCC 10
- binutils 2.35
- GDB 10

Distros maintaining older versions will just have to backport the changes themselves.

[2021-01-08 15:43] kodieg opened #80816 "regression 1.49: problem with autoderef and trait method"
A code attached below used to compile with rustc 1.48 (stable) and stopped to work with 1.49 (stable). Two thing help to make the code compile:
1) comment out `use arc_swap::access::Access;`
2) explicitly deref `(*s).load()`.

To compile code below one need to add `arc-swap = "1.2"` to Cargo.toml dependencies. Maybe this is due to some conflict between ArcSwap instance method and Access load metho

[2021-01-08 16:02] nagisa commented on #80815
So:

[code]

works and starts building. However if you do something like this:

[code]

The first command will fail to patch the solibs/executables and the 2nd and further invocations won't attempt to do it again (even if those fix `NIX_PATH`).

Not clear to me if this is actionable, as `NIX_PATH` being filtered out (by e.g. `--pure` usage) seems super rare.

[2021-01-08 16:05] richkadel commented on #79649
Actually, at last I checked, this is not in any stable version of LLVM yet. I think it's feasible to stabilize Rust coverage in rustc, based on the current feature of LLVM InstrProf, without depending on proposed future LLVM features. So, IMO, I don't think we should add this to the tracking issue, as a dependency. In fact, until this capability is stabilized in LLVM, and available in a version of

[2021-01-08 16:06] richkadel commented on #79649
Cc @tmandry

[2021-01-08 16:34] jyn514 commented on #80175
This can be fixed after the beta bump now that #80181 is merged.

[2021-01-08 16:35] mati865 commented on #79649
I have no idea how adding features like that works, I thought it will be available right away in LLVM 12 around March.

[2021-01-08 16:56] pnkfelix commented on #80059
Another interesting variation that I do not think is covered by the comments above:

[code]

this also does not compile, due to unsafety-checking:

[code]

[2021-01-08 17:17] nagisa commented on #80776
Yeah, I just wanted to make sure it is not something obviously wrong with how arguments get to rustc, especially as you mentioned use of environment variables, that are typically set inside cargo.

[2021-01-08 17:58] Aaron1011 commented on #80143
I think this is an expected result of the left-to-right/top-to-bottom order of attribute invocation. `#[test]` gets invoked with the input:

[code]

so it sees a return type of `()`. You should be able to fix this by moving `#[test]` after `#[test_utils::matches_image("tests/data/blue_pixel.png")]`

[2021-01-08 18:19] nagisa commented on #54268
I believe we have ability to have multiple distinct test revisions now, but still no ability to FileCheck assembly output.

[2021-01-08 18:20] clmay commented on #80770
Yes, that's exactly what I mean, and yes, someone with access to repo settings must make the change.

[2021-01-08 18:21] irh opened #80817 "Linker errors when cross-compiling from Xcode on Big Sur"
Hi all, invoking `cargo build` from Xcode on Big Sur currently fails when a crate needs to link against a system library from a build script, unless `SDKROOT` has been [explicitly set to the path of the macOS SDK](https://github.com/irh/rust-big-sur-test/blob/e4fdc1fa73c32ad9b54cce077367fe4f45e3f207/xcode/rust-build-script.sh#L2). Test project [here](https://github.com/irh/rust-big-sur-test/tree/5

[2021-01-08 18:39] mmulet opened #80819 "Issue with std::process::Command on macOS."
I tried this code:

Directory structure:
[code]
main.rs:
[code]

I expected to see this happen:
Command should run the hello_world bash script located in `./sub_directory/hello_world`. The exit code should be 0.

Instead, this happened:
Command does indeed run the hello_world bash script located in `./sub_directory/hello_world`, but the exit code is 2 (Not found), and the main thread panics.
I not

[2021-01-08 18:43] tmiasko commented on #80819
Proposed workaround #80537 (this a bug in macOS `posix_spawnp` implementation).

[2021-01-08 18:45] mmulet commented on #80819
Thanks!

[2021-01-08 18:45] #80819 closed

[2021-01-08 19:27] chrysn opened #80821 "Types pass through generic functions in 1.49 on"
The following code compiles in 1.49 and newer (tested1.49 and two recent nightlies) but does not in 1.48 or older (easily testable with [godbolt](https://gcc.godbolt.org/#g:!((g:!((g:!((h:codeEditor,i:(fontScale:14,j:1,lang:rust,selection:(endColumn:1,endLineNumber:22,positionColumn:1,positionLineNumber:22,selectionStartColumn:1,selectionStartLineNumber:22,startColumn:1,startLineNumber:22),source:

[2021-01-08 19:41] RalfJung commented on #80059
What... is going on there? Why does adding a type annotation change anything?!?

The only thing I can imagine is that this forces some kind of MIR to be emitted. `--emit mir` on playground shows an empty body... likely this is optimized away already then. :/

But that sounds very wrong -- one can debate whether a `_` pattern should trigger the place-to-value coercion or not, but I would never expe

[2021-01-08 19:44] Aaron1011 commented on #80821
I think this is related to https://github.com/rust-lang/rust/issues/78893

[2021-01-08 20:01] pnkfelix commented on #80059
I think the answer is going to be "because this is 'just a bug' that arose from the ad-hoc manner that some things are implemented in the compiler."

If you look at this code in the compiler:

https://github.com/rust-lang/rust/blob/ddf2cc7f8eb34f1a63b491d6a52e3e8208393c09/compiler/rustc_mir_build/src/build/matches/mod.rs#L306

it is a spot where we have two special-cases, one for `let x = expr` an

[2021-01-08 20:05] chrysn commented on #80821
I had discarded that possibility when I saw that it happened after
1.48.0-beta.8, but looking at the dates now, it might easily just have
been the latest version at that point and they may indeed coincide.

[2021-01-08 20:07] RalfJung commented on #80059
Yeah, something like that... e.g. I could imagine that the type ascription case emits a `AscribeUserType` MIR statement, and maybe that is treated differently by unsafety checking.

[2021-01-08 20:13] camelid commented on #80807
I think the author's saying that it compiled on a recent nightly though?

[2021-01-08 20:16] programmerjake commented on #66741
I think wrapping the panic in abort-on-unwind code is probably the best option, since I'm pretty sure I've written code that assumes allocation doesn't unwind for safety, and I'd guess I'm far from the only one.

[2021-01-08 20:18] camelid commented on #80059
I think this is right. This is the dumped MIR:

[code]

[2021-01-08 20:19] SNCPlay42 commented on #80816
searched nightlies: from nightly-2020-10-01 to nightly-2020-11-14
regressed nightly: nightly-2020-10-07
searched commits: from https://github.com/rust-lang/rust/commit/a1dfd2490a6cb456b92e469fa550dc217e20ad6d to https://github.com/rust-lang/rust/commit/98edd1fbf8a68977a2a7c1312eb1ebff80515a92
regressed commit: https://github.com/rust-lang/rust/commit/08e2d4616613716362b4b49980ff303f2b9ae654 (#7390

[2021-01-08 21:16] Revlin commented on #66916
Example: https://github.com/Revlin/wasm-rust-emscripten

`cargo build --target wasm32-unknown-emscripten` compiles and links, but appears to produce invalid wasm output, using Emscripten SDK version 1.39.20 (is there a new version that will link successfully?). Can no longer bundle this target using webpack (_see link above to reproduce_):
[code]

[2021-01-08 21:31] camelid commented on #80059
(Working on an experimental PR to not treat `AscribeUserType` as a use – it'll be interesting to see what if any side effects it has.)

[2021-01-08 21:31] cuviper commented on #80810
This has come up before when some part of the crate metadata is accidentally written in native-endian order -- so x86_64 rustc writes some little-endian data in the standard library rlibs, and s390x rustc reads that as big-endian.

[2021-01-08 22:18] cuviper commented on #80810
I can reproduce this on RHEL 7 s390x, but not ppc64, so it would seem to be something other than endian order.
I will try to bisect this.

[2021-01-08 22:34] camelid commented on #80810
I know you said based on testing it doesn't seem to be endian order that's causing this issue, but in general can't we just standardize on either little-endian or big-endian somehow?

[2021-01-08 22:34] cuviper commented on #80810
searched nightlies: from nightly-2020-10-01 to nightly-2021-01-08
regressed nightly: nightly-2020-12-04
searched commits: from https://github.com/rust-lang/rust/commit/f4db9ffb22dfcb702dbdb2e0607cb91791866b57 to https://github.com/rust-lang/rust/commit/5be3f9f10e9fd59ea03816840a6051413fbdefae
regressed commit: https://github.com/rust-lang/rust/commit/b4def89d76896eec73b4af33642ba7e5eb53c567

<deta

[2021-01-08 22:36] camelid commented on #80810
Since this may be an rlib-related issue, did you have cargo-bisect-rustc run `clean` in between each toolchain run? Not sure if that could be the issue.

[2021-01-08 22:37] cuviper commented on #80810
@camelid

I think we do normalize to/from little endian, but it's possible something was missed.

[2021-01-08 22:40] cuviper commented on #80810
Doesn't it use a new target dir by default? That seems implied by the option to `--preserve-target` anyway.

[2021-01-08 22:42] camelid commented on #80810
I think you're right – I forgot about that :)

[2021-01-08 22:51] camelid commented on #80772
[code]

Regression was too long ago to bisect to an individual commit, but the commit range is e87a205c2e117d9fb57f6cdeac0a7f6e95c88316..bbb664a99c0188fa756cbbb3a6c4e5d8825c372b.

[2021-01-08 23:18] CAD97 commented on #80778
[notriddle brings up](https://internals.rust-lang.org/t/pointers-are-complicated-ii-or-we-need-better-language-specs/13562/87?u=cad97) that partially overlapping `Cell`s through an enum is problematic even without `Cell::swap`:

[code]

[2021-01-08 23:24] Darksonn commented on #80778
Enums isn't really the same thing. That enum projections are unsound [is already known](https://ryhl.io/blog/temporary-shared-mutation/), but as also discussed in that article, struct projections _are_ typically ok, and the array projection discussed here is essentially a struct projection, not an enum projection.

[2021-01-08 23:33] nagisa commented on #54268
We also have a assembly test suite as well, apparently (`src/test/assembly`) making this fixed.

[2021-01-08 23:33] #54268 closed

[2021-01-08 23:33] matthewjasper commented on #80807
Yes, I mean that none of the regression lables apply

[2021-01-09 00:58] RustyYato commented on #80778
I would like to bring up my crate [`cell-project`](https://crates.io/crates/cell-project) which allows projecting through `&Cell<_>` using a macro.

example usage:
[code]

Note: `cell-project` doesn't allow projecting through enums for exactly the reasons that @notriddle explained.

I'm not sure how `cell-project` could interact with `Cell::swap` to produce bad behavior, because you can only proje

[2021-01-09 01:26] tmandry commented on #79649
Neat. This would certainly improve the way we present coverage for these things, and might make it possible to be more intuitive about how we handle closing braces.

Just to throw it out there, since I'm thinking about async/await right now: This does offer an intriguing possibility of measuring drops at await points. It's possible for buggy code to assume it will never get canceled at an await po

[2021-01-09 01:43] tmandry commented on #79565
Agreed with @richkadel. This looks to be a result of using a number of incomplete/unstable features in combination, and not really coverage related.

[2021-01-09 02:01] tmandry commented on #78522
Ping from triage. @Vooblin are you still interested in working on this?

[2021-01-09 02:05] c410-f3r commented on #78522
@tmandry -> https://github.com/rust-lang/rust/pull/79689#issuecomment-744262270

[2021-01-09 02:09] tmandry commented on #78522
Oops ☺️ sorry about that. This slipped through my email filters. I'll give it a review next week.

[2021-01-09 02:40] jsgf opened #80832 "--pretty=expanded crashes with --remap-path-prefix"
I tried this code:

[code]
in `t.rs`.

With `rustc +nightly -Zunstable-options --pretty=expanded ./t.rs` I see the expected output:
[code]

However adding `--remap-path-prefix ./=` causes an ICE:
[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-01-09 07:36] chrysn commented on #78893
Closing #80821 as a duplicate of this; the code provided there is something that can easily come up in development on 1.49, and all the types involved are used in the example code (showing that this is not just about errors in traits that can't be implemented anyway).

[2021-01-09 07:36] chrysn commented on #80821
Closing as duplicate, see also https://github.com/rust-lang/rust/issues/78893#issuecomment-757111216

[2021-01-09 07:36] #80821 closed

[2021-01-09 07:42] Havvy commented on #44524
At a minimum, this should be a hard error:

[code]

It currently compiles without a warning.

[2021-01-09 07:48] #54688 closed

[2021-01-09 07:48] #38218 closed

[2021-01-09 07:48] #48464 closed

[2021-01-09 07:57] Havvy opened #80833 "Attempting to reuse lifetime in inner function should give E0401, not E0261"
Errornous code:

[code]

Current error message:

[code]

This is wrong. The lifetime `'a` is declared, but in the parent function and items defined in function bodies cannot use generic parameters from their parents. Which we have an error for, [E0401](https://doc.rust-lang.org/nightly/error-index.html#E0401).

As such, this error message should be:

[code]

[2021-01-09 09:36] bugadani opened #80836 "VecDeque is_empty and get(0) together generate unreachable panic."
https://rust.godbolt.org/z/oe4q69

For some reason, the knowledge that a `VecDeque` is empty, is not preserved when calling `get(0)` (or even `front`) and the compiler generates panics which are unreachable.

[2021-01-09 12:45] m-ou-se commented on #78500
@rfcbot merge

[2021-01-09 13:12] sfackler commented on #78500
It seems like the function signature is missing a `'static` bound?

[2021-01-09 13:27] m-ou-se commented on #78500
`Any: 'static` already requires that. I can add it in the stabilization PR to make it explicit.

[2021-01-09 13:45] RalfJung commented on #80778
I agree with @Darksonn here. Sum types and product types are different, and `Cell` really should commute around product types, i.e., `as_cell_of_array` ought to be sound.

[2021-01-09 14:07] sfackler commented on #78500
Oh right, I think I asked this same question when this function was added! Yeah, might be best to add the duplicate bound in.

[2021-01-09 14:50] khyperia opened #80837 "Defining extension trait for `f32::sin()` in `#![no_std]` program produces incorrect warning"
Originally found here: https://twitter.com/khyperia/status/1346902124806942730

`a/src/lib.rs`:
[code]
`b/src/lib.rs`:
[code]

**Note the lack of `#![no_std]` in `a/src/lib.rs`**

<details>
  <summary>both `a` and `b` are typical crates, created with this (click to expand)</summary>

[code]
</details>

I expected to see this happen: Because crate `b` is `#![no_std]`, `f32::sin()` does not exist (i

[2021-01-09 14:58] khyperia commented on #80837
@m-ou-se pointed out that this isn't related to the extension trait, but rather `std` getting pulled in:

`a/src/lib.rs`:
[code]
`b/src/lib.rs`:
[code]

causes `unused import: a::thing` but still succeeds compilation, deleting `use a::thing;` fails with `sin() not found`. So, still an incorrect warning I guess?

[2021-01-09 15:04] PatchMixolydic commented on #80833
@rustbot claim

[2021-01-09 15:22] steveklabnik commented on #66249
@jyn514 sorta; you can take it that way, or you can take it as "be able to make mdbooks with rustdoc too", that is, expanding rustdoc to not just be for API documentation, but for all documentation in your project.

[2021-01-09 15:29] PatchMixolydic commented on #80833
It seems like E0401 and E0261 are generated at different points in `rustc_resolve` (E0401 is generated during early resolution and is tied to `Resolver`, while E0261 is generated during late resolution and is tied to `LifetimeContext`). This might complicate matters a bit.

[2021-01-09 15:31] jyn514 commented on #66249
Related: https://github.com/rust-lang/mdBook/issues/1356

[2021-01-09 15:49] xNxExOx commented on #80289
Because of no answer I attached the target folder
[target.zip](https://github.com/rust-lang/rust/files/5791350/target.zip)
I was hoping someone else will be able to reproduce it, but it seems I am the only one, so I will need to test everything myself :(

[2021-01-09 15:54] lzutao commented on #80770
cc @Mark-Simulacrum if this issue would slip from the core team's eyes.

[2021-01-09 16:07] tblah commented on #78911
This also affects 64-bit RISC-V

[2021-01-09 16:19] tao-eternal commented on #62031
@yanshenxian it works, thank you 👍

[2021-01-09 16:27] PatchMixolydic commented on #80833
I think I might be in over my head... I'm not familiar with name resolution (or anything else, really), so I'm not sure how I could check any outer functions for lifetime parameters during late resolution.

In case it may help anyone else, E0261 is generated in `rustc_resolve::late::lifetimes::LifetimeContext::resolve_lifetime_ref()`, and E0401 is generated in `rustc_resolve::Resolve::validate_res

[2021-01-09 16:27] PatchMixolydic commented on #80833
@rustbot release assignment

[2021-01-09 16:31] Susurrus commented on #66249
There is a related bug to this against Cargo as well: rust-lang/cargo#739

[2021-01-09 16:39] Mark-Simulacrum commented on #80770
Done. I don't think we want to add all the tags that might possibly apply (seems unclear as to why it's good), but this seems fine.

[2021-01-09 16:39] #80770 closed

[2021-01-09 16:50] PatchMixolydic commented on #80179
This still fails on generators ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7ac611ca1bd560116d4b9a804817ad20)):

[code]

[code]

I'm working on a PR to fix this as well as making this suggestion and E0308's `try adding a return type` suggestion use the same mechanism for checking if a type is suggestable directly.

@rustbot claim

[2021-01-09 17:14] PatchMixolydic opened #80844 "E0121 suggests the use of the unique type of a generator"
cc #80179

This still fails on generators ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7ac611ca1bd560116d4b9a804817ad20)):

[code]

[code]

Tested on:
[code]

I'm working on a PR to fix this as well as making this suggestion and E0308's `try adding a return type` suggestion use the same mechanism for checking if a type is suggestable directly.

@rustbot cl

[2021-01-09 17:15] PatchMixolydic commented on #80179
Moving this to #80844

@rustbot release-assignment

[2021-01-09 17:49] Michele31415 commented on #74551
"Yes. Latest Solaris 11.4 SRU contains Firefox 78."
Unfortunately I simply can't afford the price of SRU's so I'm stuck with the original 11.4.

Does the solaris-userland archive require that you already have Rust?  Because I've also been unable to build Rust for Solaris 11.4 SPARC, since you apprently have to have Rust before you can build Rust.  Meanwhile, I've been pulling my hair out trying to

[2021-01-09 18:13] m-ou-se opened #80846 "core::panic!() cannot be used everywhere std::panic!() can."
This compiles:

[code]

This does not:

[code]
[code]

The cause seems to be that `std::panic!()` expands to `{ some_function(..) }` while `core::panic!()` expands to `some_function(..)`, without `{ .. }`. Adding `{ .. }` in the `core::panic!()` `macro_rules` 'fixes' it.

[2021-01-09 18:30] PatchMixolydic opened #80849 "`x.py` sometimes causes spurious rebuilds of rustc"
I tried this:

src/test/ui/fn/issue-80844-no-gate.rs
[code]
[code]

I expected to see this happen: the `ui/fn` test suite is run, possibly building the testsuite binary using the existing stage 1 `rustc`.

Instead, this happened: the stage 1 `rustc` is rebuilt before running the test suite.

This seems to happen randomly; I had rerun the test suite quite a few times using the same command with no

[2021-01-09 18:44] Mark-Simulacrum commented on #80849
Can you try running with CARGO_LOG=cargo::core::compiler::fingerprint=info and provide a build log when you see a spurious rebuild?

[2021-01-09 19:05] PatchMixolydic commented on #80849
Got one [ended after seeing it was building `rustc` to spare my poor swap]:

<details><summary>Log</summary>

[code]
</details>

Also encountered an ICE that I'll file another report on

[2021-01-09 19:15] PatchMixolydic opened #80852 "ICE after modifying a rustc test (and nothing else)"
### Code

`src/test/ui/fn/issue-80844-no-gate.rs`
[code]

[code]

This did not happen every time I tried to change the test.

### Meta

Using `rustc` built from [PatchMixolydic/rust/issue-80844](https://github.com/PatchMixolydic/rust/tree/issue-80844), which only has [this change](https://github.com/rust-lang/rust/pull/80847) applied.

### Error output

I was not able to reproduce the ICE to get a

[2021-01-09 19:16] camelid opened #80853 ""call expression requires function" error points to wrong definition"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3a0a4eb8cb5c7c139b4637c2df4febf1))

It should either point to the definition of `S` or it should say "`thing` defined here":

[code]

[2021-01-09 19:16] camelid commented on #80853
Relevant code:

https://github.com/rust-lang/rust/blob/ef589490a709984d3be80c9b59a1a10a4dd05e3c/compiler/rustc_typeck/src/check/callee.rs#L335-L383

[2021-01-09 19:20] PatchMixolydic commented on #80852
@rustbot modify labels +E-needs-mvce

[2021-01-09 19:20] PatchMixolydic commented on #80852
@rustbot modify labels +E-needs-mcve

[2021-01-09 19:33] #80540 closed

[2021-01-09 19:37] AaronKutch opened #80854 "`dead_code` lint doesn't treat uses in underscore-prefixed names as real uses"
I am making a crate with practical custom DSTs (If there is a will, there is a way). I have a number of constants which determine layouts at compile time or stop compilation in case something went wrong.

[code]
However, the compiler seems to think that "hello" is unused.

[2021-01-09 19:39] Mark-Simulacrum commented on #80849
cc @rust-lang/cargo, any idea on what could be causing the nothing obvious fingerprint error here? Or how to debug it?

[2021-01-09 19:53] leo60228 commented on #54724
What's this blocked on?

[2021-01-09 20:13] camelid commented on #80854
I think this behavior is "correct". The reason the compiler is warning that `hello` is unused but not that `_ASSERT_ASSUMPTIONS` is unused is that neither of them are actually used. The only reason you don't get a warning for `_ASSERT_ASSUMPTIONS` is that it starts with an underscore.

[2021-01-09 20:15] camelid commented on #80854
Note that this behavior is not limited to constants; it also happens with:

[code]

[code]

[2021-01-09 20:17] AaronKutch commented on #80854
Is this just a case where a manual `#[allow(warnings)]` is what should be done?

[2021-01-09 20:18] camelid opened #80856 "`#[allow(dead_code)]` ignores warnings for other items too"
I believe this should give a warning for `hello`, but it does not:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ce0a955bca31b26ee17a299a5079eb71))

Errors:

[code]

[2021-01-09 20:19] camelid commented on #80854
I don't know what your code looks like, so I can't tell you for sure. Why is `hello` (or the equivalent function in your actual code) only used in the assertion? I would expect it to be public if it's intended to be used externally.

[2021-01-09 20:24] camelid commented on #80836
Does the compiler have any support for that kind of optimization? I don't think it has special knowledge of `VecDeque`'s methods.

[2021-01-09 20:25] camelid commented on #80836
This is the generated MIR (in release mode) by the way:

[code]

[2021-01-09 20:25] AaronKutch commented on #80854
It was an extremely reduced example.  It was an associated function marked `pub(crate)` on a struct. It was an important immutable constructor (the mutable constructor happened to be the only one used).

[2021-01-09 20:33] AaronKutch commented on #80854
What makes this look like a bug worth fixing to me is that I wouldn't expect compilation to ever fail if I removed a function warned by the dead_code lint.

[2021-01-09 20:57] camelid commented on #80844
@PatchMixolydic By the way, you don't need to open an issue if you're immediately going to open a PR.

[2021-01-09 21:41] PatchMixolydic commented on #80844
My mistake :sweat_smile:

[2021-01-09 22:02] camelid commented on #80844
Don't worry about it! It's not a problem; I was just letting you know that you shouldn't feel obliged to do it :)

[2021-01-09 22:06] TheBlueMatt commented on #71871
This is mostly tracked at https://github.com/rustwasm/team/issues/291 and would be fixed by https://github.com/rust-lang/rust/pull/79998.

[2021-01-09 22:20] bugadani commented on #80836
I don't think special knowledge is necessary. There are some assumptions that are missing, which make the `if idx < self.len()` check in `VecDeque::get()` something LLVM can't optimize.

Also, the MIR isn't particularly helpful here as calls aren't inlined, so we just see `_6 = VecDeque::<usize>::get(move _7, const 0_usize) -> bb4; ` in place of the interesting bits :)

[2021-01-09 23:22] Zenthae opened #80858 "rustdoc table of content"
i know that it was already discussed before but i believe that it as more weight now since the language got quite a bit improved since then, lot of crate now have extensive documentation and it's quite tedious to read through them, so i think making rustdoc automatically generate a table of content on each page is a need (maybe having an inline comment to disable it on some page could be a good id

[2021-01-10 01:01] in42 commented on #79153
@rustbot claim

[2021-01-10 01:57] PatchMixolydic commented on #80852
Looking at the logs, this actually seems to be from a rebuild of `rustc` (cc #80849)

[2021-01-10 03:00] jyn514 commented on #80858
Duplicate of https://github.com/rust-lang/rust/issues/40273 and https://github.com/rust-lang/rust/issues/14475.

[2021-01-10 03:00] #80858 closed

[2021-01-10 03:04] jyn514 commented on #80852
This is probably https://github.com/rust-lang/rust/issues/76720.

[2021-01-10 03:14] johanngan opened #80861 "Tests with #[should_panic(expected = *)] should print a failure message if no panic occurs"
As of #60790, a `#[should_panic]` `#[test]` produces a helpful error message when it fails because there was no panic. However, a `#[should_panic(expected = *)]` `#[test]` still fails with no error message in this case.

For example, consider the following two tests:

[code]

When run with `cargo test`, `no_panic()` fails with the message "note: test did not panic as expected", but `no_panic_with_

[2021-01-10 03:39] lzutao commented on #80289
I cannot reproduce on x86_64-unknown-linux-gnu either.
* Did you use msvc toolchain or windows gnu toolchain?
* What is your system's default stack size?
* Maybe try and find other Windows folks to see if they can reproduce the issue.

[2021-01-10 06:03] Havvy opened #80862 "Error Index for E0207 needs to mention const parameters"
As it is currently written, E0207 talks entirely about type parameters. Now that const parameters also need to constrain implementations (under the same rules described for types).

[2021-01-10 06:20] triscuitcircuit commented on #80346
Strange, even with the latest nightly it still segfaults at the `http`crate for me.

[2021-01-10 06:42] alok opened #80863 "is there a way to disable seeing warnings if there are errors blocking compilation?"
most of the time, if i have compile error(s), i want to see only that error. warnings take up my attention needlessly.

could this be a command line flag or an option to how error format is set now?

[2021-01-10 06:56] oliviacrain commented on #80647
@RalfJung I went ahead and did some of this work for the `rustc_mir` crate in rust-lang/rust#80865. If I'm not completely off-base with these changes, I can go ahead and take a deeper look at this.

[2021-01-10 07:43] johanngan commented on #80861
I'll put up a quick PR for this I guess; it seems simple enough.

[2021-01-10 07:44] xNxExOx commented on #80289
- msvc as I write 18 days ago `host: x86_64-pc-windows-msvc`
- Do not know where to get it, but it should not matter, because it works when there is only few days compiled and they are on same level so the stack to this point should be exactly same no mater how many days is in the code, and they should not affect each other.
- I tried on 2 PCs with same error, that is most I can do.

the callstack

[2021-01-10 07:49] gyfis commented on #80863
@alok it seems using `RUSTFLAGS=-Awarnings` with `cargo build` hides warnings. Not conditionally, and it [leads to recompile](https://users.rust-lang.org/t/suppress-warnings-from-the-cargo-command/10536/2) it seems, but maybe that's enough for you.

[2021-01-10 08:01] #74355 closed

[2021-01-10 08:05] Koxiaet commented on #80731
Nevermind, I found a different solution to the problem making this change unnecessary. The solution was add `where Self: 'a` to the trait bound.

[2021-01-10 08:05] #80731 closed

[2021-01-10 08:34] lzutao commented on #80289
Okay. I can reproduce the issue on [Windows msvc on CI](https://github.com/lzutao/rust_inline_bug/runs/1676112390?check_suite_focus=true). However, I think it because of small default stacksize on Windows (1M)
so recursive algorithm may explode the stack size, causing STATUS_STACK_OVERFLOW.
Usual default stack size on Linux is 8M by comparison.

[2021-01-10 09:55] xNxExOx commented on #80289
But that does not explain why **it works in debug, or with other days commented out**, stack size would explain it crashing deep in `solve_gate`, but it crashes in the first `find_gate` where no recursion is involved yet.

[2021-01-10 10:48] #77465 closed

[2021-01-10 11:42] matklad commented on #74773
@rvolgers great summary!

Would you like to submit a stabilization PR perhaps?

[2021-01-10 11:46] matklad commented on #73831
@VillSnow this has been baking in the nightly for a while, I think this is ready for stabilization. Would like to send a stabilization PR?

[2021-01-10 12:45] c410-f3r commented on #80377
Are `write` variants also on the track for "constification"?

I guess it can be checked now

[2021-01-10 13:11] TurtlePU opened #80871 "`Clone` and `Default` derive macros have seemingly useless constraints"
I am toying with algebra and Rust, with abelian groups in particular. I tried this code:

[code]

I expected the code to compile successfully.

Instead, `rustc` complained that `N99` is missing implementation for `Default` (see Backtrace for exact message). But, logically, `<N99 as Fin>::Value` being `Default` is enough for deriving.

The same problem occurs with `Clone`: current derive macro requ

[2021-01-10 13:13] jonas-schievink commented on #80871
duplicate of https://github.com/rust-lang/rust/issues/26925

[2021-01-10 13:13] #80871 closed

[2021-01-10 13:29] m-ou-se commented on #70887
The original PR was never merged, which means that this isn't tracking anything at the moment. Closing this for now.

[2021-01-10 13:55] jyn514 commented on #79542
I think I would want to see at least an MCP for this, it would be quite a lot of work (and like petrochenkov mentions, affect stability guarentees) for IMO not much benefit.

[2021-01-10 13:55] #79542 closed

[2021-01-10 13:55] DutchGhost opened #80875 "Const raw pointer to usize cast allowed in release mode, disallowed in debug mode"
While making a PoC for https://github.com/rust-lang/rust/issues/67456 it was discovered that the code beblow fails to compile in debug mode (https://github.com/rust-lang/rust/issues/67456#issuecomment-755780541), saying that "pointer-to-integer cast needs an rfc before being allowed in constants", while in release mode, the code compiles and runs.
Here's a [playground](https://play.rust-lang.org/?

[2021-01-10 14:05] jyn514 commented on #80863
You could also use `cargo rustc -- -Awarnings` which doesn't recompile, but can only build one crate.

[2021-01-10 14:06] jyn514 commented on #77732
`crate` too (I think since https://github.com/rust-lang/rust/pull/76467). `crate` doesn't fail to resolve, it's just wrong across crates (see the hack in https://github.com/rust-lang/rust/pull/77253).

[2021-01-10 14:35] vjancik opened #80877 "implementing From<AsRef<LocalStruct>> for a foreign type"
I tried this code:

[code]
where `Header` is a local struct.

I expected to see this happen:
It should work in Rust 1.41+

Instead, this happened:
[code]

**Expectation:**

`T: AsRef<Header>` should be considered a local type because it's trait specification is relying on a local type.
The alternative is having to use `.into()` for types that implement `Into<&Header>`

Unless I shouldn't use `AsRe

[2021-01-10 14:52] SkiFire13 commented on #80877
The problem with allowing this implementations is that implementing traits for [u8; 20] becomes a breaking change. Yes, you know the stdlib won't `impl<T> From<T> for [u8; 20]`, however you can't say the same thing for other libraries, and this rule has to be universal.

I don't think there's a way to do this with `AsRef`, you're better off just writing `impl From<&Header> for [u8; 20]`

[2021-01-10 15:00] vjancik commented on #80877
No they couldn't (the other libraries), for the same reason I can't implement `From<ForeignStruct> for ForeignStruct`.

But it should be possible to allow "foreign trait restricted" type implementations, as long as those traits are "local type specified". That way you can guarantee a downstream library won't implement a foreign trait on an upstream type.

[2021-01-10 15:04] vjancik commented on #80877
Specifically:
`impl ForeignTrait<LocalType> for ForeignStruct` is non-breaking and works from Rust 1.41+ and
` impl<T: ForeignTrait<LocalType> ForeignTrait<T> for ForeignStruct` falls into the same category, just with an extra layer of indirection. It should also be non-breaking...

Am I missing anything?

[2021-01-10 16:02] dylni commented on #80877
This is annoying, but another crate could have a similar impl:

[code]

where `Header2` is a local struct and `String` implements `AsRef<Header>` and `AsRef<Header2>`. The compiler wouldn't know which to use.

[2021-01-10 16:42] VillSnow commented on #73831
If the team think all right, I'm glad.

I still concern about code duplication, and I'm watching this PR #74024.
However, how predicate is called is not documented, so even if the algorithm was changed, it never change the stable branch.

I have no objection to merge this.

[2021-01-10 16:56] RalfJung commented on #78435
@oli-obk @camelid  I'm afraid the problem was not solved by that PR. When I run Miri like this locally
[code]
I still get all the ANSI codes in that logfile, which makes the file very hard to work with.

[2021-01-10 16:57] RalfJung commented on #78435
Looks like the code tests `stdout_isatty`, but logging goes to stderr so this is the wrong test.

[2021-01-10 17:36] SkiFire13 commented on #80875
If you change the first `debug_assert` to an `assert` it will fail to build in release mode too. [Playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=f915fd5d0cedc95657268c35100aaa45)
I guess this is because in release mode the `debug_assert` is never executed and so the invalid function is never used in a const environment. Still I would expect it to fail anyway

[2021-01-10 17:36] ericseppanen opened #80882 "rustdoc intra-doc link can pick the wrong target due to case-insensitivity"
I found a glitch in the std/core library docs.  The docs for [`PartialEq`](https://doc.rust-lang.org/core/cmp/trait.PartialEq.html) contain this snippet:

[code]

At present, the `Eq` link has the wrong target, because rustdoc links it to the method `eq` instead.

I sent a PR that forces the correct linkage (#80864) for this instance, but perhaps rustdoc could be smarter here?

On that PR @jyn514

[2021-01-10 17:39] Koxiaet commented on #42788
Can this be closed now that [the reading into unintialized buffers RFC](https://github.com/rust-lang/rfcs/pull/2930) is merged and #78485 exists? Since the API is going to be removed anyway, it seems pointless to keep this open.

[2021-01-10 17:43] sfackler commented on #42788
It will be closed when the API is removed.

[2021-01-10 17:58] jyn514 commented on #80882
@ericseppanen do you have time to make a smaller reproduction than the standard library? No problem if not, I just won't get around to it for a while.

[2021-01-10 18:00] jonas-schievink commented on #80877
Closing as expected behavior

[2021-01-10 18:00] #80877 closed

[2021-01-10 18:08] ericseppanen commented on #80882
Sure, I'll give it a try!

[2021-01-10 18:09] bugadani commented on #80836
The main problem looks something like this:

[code]

For whatever reason, even if the compiler knows `size > 1` (I added an `assume` call to test), the compiler can't deduce `count() > 0` and so get(0) isn't optimized properly.

The main issue seems to be that the binary and loses information. See here: https://rust.godbolt.org/z/77MaGW - if you delete the `& 2`, most of the generated code goes aw

[2021-01-10 18:11] kornelski commented on #71763
Are there any blockers to stabilizing this?

[2021-01-10 18:45] ericseppanen commented on #80882
Everything works correctly under these cases:
- trait `Foo` and freestanding function `foo`
- trait `Foo` and `impl Foo { fn foo() {} }`
- trait `Bar` docs link to trait `Foo`, with a similarly named `fn foo()`

After staring at the PartialEq example in the standard library, I was able to reproduce problem: we need an explicit link target specified at the end for the lowercase member fn. I think t

[2021-01-10 18:47] m-ou-se commented on #80846
#80848 is an attempt at fixing this, by adding `{ .. }` in the `macro_rules! panic` in `core`.

But as mentioned in https://github.com/rust-lang/rust/pull/80848#issuecomment-757348656, the braces were not added in `std::panic!()` for this purpose, and seem to be left there by accident.

Is this a bug? Should this behave the same with and without those braces?

[2021-01-10 19:15] b-naber commented on #80433
This should work once https://github.com/rust-lang/rust/pull/79554 lands using `fn test_simpler<'a>(dst: &'a mut impl TestMut<Output<'a> = &'a mut f32>)`

[2021-01-10 19:36] camelid commented on #78435
Hmm, I guess I didn't notice any issues because I always redirect stderr to stdout and then view that.

[2021-01-10 19:42] ericseppanen commented on #80882
I can also make it broken in the opposite direction.  If I replace it with
[code]

Then both links change.  I.e. ``[`foo`]`` now links to `Foo`.

So the problem seems to be that *link reference definitions* are case-insensitive, and take over links to differently-cased names.

[2021-01-10 19:42] camelid commented on #78435
Working on a fix.

[2021-01-10 19:48] matthewjasper commented on #54724
This needs more tests, especially for cross-crate cases. Any bugs found from that would have to be fixed and any unexpected behavior would need to be reviewed.

[2021-01-10 19:49] camelid commented on #80882
Darn, I'm pretty sure the issue is that pulldown-cmark treats link references as case-insensitive. I'm not sure what the standard is supposed to be though and I'm not sure if there's anything we can do it. We might be able to convince them to add an option to treat them as case-sensitive, but even then it might cause a lot of breakage for us.

By the way, you can see that it's not an intra-doc lin

[2021-01-10 19:50] camelid commented on #80882
@ericseppanen Thanks for debugging this!

[2021-01-10 19:52] camelid commented on #80836
That would be nice! :D

[2021-01-10 19:58] matthewjasper commented on #79904
* #27675 was fixed. Trait objects require that their associated types meet any bounds specified in the trait definition. If the associated type is specified is a type parameter (e.g. (`dyn Iterator<Item=T>`) then adding the bounds to the parameter suggested by the compiler should fix it.
* #54121 was fixed. Some ambiguous method calls were being arbitrarily decided. Adding type annotations (often

[2021-01-10 20:36] bugadani commented on #80882
https://spec.commonmark.org/dingus/?text=%5Bfoo%5D%0A%0A%5BFOO%5D%3A%20https%3A%2F%2Fexample.com

The CommonMark reference implementation handles link references case insensitive.

As per [the spec](https://spec.commonmark.org/0.29/#example-174) labels are case insensitive.

[2021-01-10 20:36] jyn514 commented on #80882
That indeed looks like the issue :/ https://daringfireball.net/projects/markdown/syntax#link

I don't know what we can do about this, other than to document that this is a footgun. @Manishearth what do you think?

[2021-01-10 20:48] #80760 closed

[2021-01-10 20:50] Ciantic opened #80884 "Windows: Already canonicalized path cannot be re-canonicalized with relative paths"
I tried this code:

[code]

**I expected to see this happen:**

Last line should work. Error on the last line means that already canonicalized path (with UNC start) cannot be re-canonicalized with relative paths in them.

This is especially problematic because `canonicalize` is only way to normalize paths. Issue could be solved if there were a way to normalize paths (e.g. #59117) without calling W

[2021-01-10 21:16] alok commented on #80863
i’m actually looking for the conditional behavior since it automates a common workflow: first make it work (no errors), then make it work well (no warnings).

[2021-01-10 21:16] RalfJung commented on #78435
Yeah, for now using `&>log` to redirect *both* to the logfile is an oaky work-around.

[2021-01-10 21:18] jyn514 commented on #80863
@alok you may be interested in https://github.com/Canop/bacon/

[2021-01-10 21:27] camelid opened #80888 "Use `atty` crate instead of rolling our own"
Currently the driver and some other parts of the compiler roll their own
functions to detect if they are connected to a TTY. We should instead use
something like the `atty` crate (which we already depend on).

[2021-01-10 21:39] scottmcm commented on #42327
For anyone following along here: I've posted a new RFC with an alternative `Try`/`?` design at https://github.com/rust-lang/rfcs/pull/3058

[2021-01-10 21:47] scottmcm commented on #31436
Agreed, boats!  I've posted an RFC with a potential new `Try` design: https://github.com/rust-lang/rfcs/pull/3058

For scoping reasons it doesn't try to specify exactly how `try` should work, leaving that to a future RFC, but it discusses the problem and some variations in the future possibilities section: https://github.com/scottmcm/rfcs/blob/do-or-do-not/text/0000-try-trait-v2.md#possibilities-f

[2021-01-10 21:51] ehuss commented on #80884
I think this is fundamentally a duplicate of #42869 and #59117.  On Windows, `\\?\` paths fundamentally cannot be normalized.  Some of the various considerations:

* `canonicalize` should stop returning `\\?\` device paths, since they are so cumbersome, and instead use something like `GetFullPathNameW`.  One major drawback here is the difficulty with long path names.
* A new function should be add

[2021-01-10 21:51] brson commented on #28728
I don't see it mentioned here: LLVM now has a "mustprogress" attribute:

- added here: https://reviews.llvm.org/D85393
- described in the manual: https://www.llvm.org/docs/LangRef.html

It appears to implement the proposal from [way back in 2015](https://lists.llvm.org/pipermail/llvm-dev/2015-July/088095.html), wherein C/C++ must annotate their functions "mustprogress" to enable these types of opt

[2021-01-10 22:08] rodrimati1992 opened #80890 "Constants in array repeat expression feature doesn't work with unit structs"
I tried this code:

[code]

I expected to the code to compile without errors, since `Foo` is a constant and [constants in array repeat expression is stable](https://github.com/rust-lang/rust/pull/79270)

Instead, this happened: the code doesn't compile, saying that `Foo` isn't `Copy`
[code]

Unit structs are described as creating a constant of the same name in the reference:
https://doc.rust-lang.

[2021-01-10 22:12] Ciantic commented on #80884
This was news for me, and reason I opened this issue. It's not obvious.

In short term, implementing a `normalize` function along the lines of #59117 should be doable already. It would be highly beneficial. At least I don't find it risky, it just requires someone to implement it.

On your last point, any external crate experiment for larger re-think should probably try to architect it along these

[2021-01-10 22:43] fmease commented on #80890
This issue will be solved with const-in-array-repeat-expressions #49147 or alternatively partially addressed with inline consts #76001. So this issue should be closed.

[2021-01-10 22:50] #80890 closed

[2021-01-10 22:52] rodrimati1992 commented on #80890
[This pull request](https://github.com/rust-lang/rust/pull/79270) acknowledges that array repeat expressions are already stable, which is how I was able to make this work with the explicit `const`.

[2021-01-10 22:52] jonas-schievink commented on #80884
Closing in favor of those.

[2021-01-10 22:52] #80884 closed

[2021-01-10 22:55] fmease commented on #80890
Only a small subset:

[2021-01-10 23:00] rodrimati1992 commented on #80890
I'm saying is that this is part of the stabilized subset:
[code]
so this should also work:
[code]
I fail to see how they're not exactly equivalent.

[2021-01-10 23:12] nagisa commented on #80836
There are two issues here. First is convoluted implementation of VecDeque itself where implementations of `len` and `is_empty` are distinct enough that `len` will check for more things than `is_empty`, and therefore `vec_deque.is_empty()` not being equivalent to `vec_deque.len() == 0`… to LLVM at least, which hasn't the domain specific knowledge to tell that some computation involving `head`, `tai

[2021-01-10 23:12] fmease commented on #80890
As far as I am aware, it is not. Read the pull request again but carefully. I don't intend to sound rude but the subset solely contains the syntactic class of _paths_ to constants defined by a const item. `Foo` is not defined as a `const`. Yes, it is a constant but that is not what was accidentally stabilized.

[2021-01-10 23:28] nellshamrell commented on #80658
Looks like #66463 touched areas of code that are relevant to this issue (not to say that it caused the issue, only that it provides a potential pointer to the parts of the code related to generating this error message)

[2021-01-10 23:36] #78927 closed

[2021-01-10 23:56] teryror opened #80893 "rustdoc: unstable --test-builder option is parsed incorrectly ("too many file operands")"
Preliminary experimentation with making Miri run doc-tests leads me to believe this is a bug. I tried invoking this command:

    rustdoc --crate-type lib --test /home/tld/Documents/coca/src/lib.rs --crate-name coca
    -L dependency=/home/tld/Documents/coca/target/x86_64-unknown-linux-gnu/debug/deps
    -L dependency=/home/tld/Documents/coca/target/debug/deps --cfg feature=\"default\"
    --exter

[2021-01-11 01:01] ThatsNoMoon commented on #80890
This seems like an appropriate and correct explanation for why this happens, but not an appropriate justification. This *should* work, in my opinion. Is there some argument against this just working as is? In the RFC it seems clear that it was decided that it's acceptable for this subset to be stable anyway, and this makes the stable subset more confusing. From a user's perspective, these cases ar

[2021-01-11 01:16] Qwaz opened #80894 "Heap buffer overflow in `read_to_end_with_reservation()`"
https://github.com/rust-lang/rust/blob/c97f11af7bc4a6d3578f6a953be04ab2449a5728/library/std/src/io/mod.rs#L358-L403

At line 393, the guard object's `.len` field is incremented by the value returned from a read implementation. If a questionable `Read` returns a value larger than the buffer size, it will take that value and set the length of the vector over the boundary.

This bug is reachable from

[2021-01-11 01:34] sfackler commented on #80894
This is definitely broken - nice find.

A simple fix would be to just add an `assert!(self.len <= self.buf.len());` in the drop impl: https://github.com/rust-lang/rust/blob/c97f11af7bc4a6d3578f6a953be04ab2449a5728/library/std/src/io/mod.rs#L302-L306

You can still get weird behavior in read_to_end_with_reservation, but it should be memory safe and it seems best to avoid a bunch of extra logic in t

[2021-01-11 01:37] sfackler commented on #80894
It looks like the bug was introduced in https://github.com/rust-lang/rust/commit/ecbb896b9eb2acadefde57be493e4298c1aa04a3.

[2021-01-11 02:01] JohnTitor commented on #79913
I'm going to close this because the test has been already added. We could use the revision check to run code with or without the feature-gate but it doesn't make much sense as or-pattern will be stabilized anyway, as mentioned above.

[2021-01-11 02:01] #79913 closed

[2021-01-11 02:02] camelid opened #80896 "rustdoc: Put `pointer` intra-doc target behind a feature gate"
We may want to put other targets behind the feature gate too, but we at least
want to get `pointer` behind one before #80181 hits beta.

See [the discussion on Zulip][z] for more.

[z]: https://rust-lang.zulipchat.com/#narrow/stream/266220-rustdoc/topic/intra-doc.20.60pointer.60.20primitive

cc @jyn514

[2021-01-11 02:52] quarksb commented on #25289
i have solve this problem by install xcode(I delete xcode due to lack of disk space)
command: xcode-select --install

[2021-01-11 02:53] JohnTitor commented on #80779
@rustbot glacier "https://gist.github.com/rust-play/06e42695a4bd3a1001dc5d571c6308e4"

[2021-01-11 03:09] pkubaj commented on #80586
Our ELFv1 port currently requires external patch to link with non-base compiler (that is non-upstreamable).

However, ELFv2 currently works without any patches (apart from replacing ELFv1 with ELFv2 in `compiler/rustc_target/src/abi/call/powerpc64.rs` and adding ELFv2 to `compiler/rustc_target/src/spec/powerpc64_unknown_freebsd.rs`). Once https://github.com/rust-lang/rfcs/pull/2992  lands, we'll b

[2021-01-11 03:29] lzutao commented on #80586
cc @pietroalbini or @Mark-Simulacrum as infra team members.

[2021-01-11 03:33] eddyb commented on #80846
The never type never ceases to surprise, does it? cc @nikomatsakis

I'd be worried about changing typeck behavior here, personally, I'm not even sure it would survive crater, and could have subtler implications still. Adding the braces to `core::panic!` should be fine.

[2021-01-11 03:39] rodrimati1992 commented on #80162
I'm a little confused about what's supported.

Do the changes here allow you to panic in `#![no_std]` crates with a non-literal `&'static str` constant at compile-time?

I made the `const_format` crate to allow me to do formatting at compile-time before the standard library can do it, and need to be able to panic with a non-literal `&'static str` to have my own static assertion macros.

[2021-01-11 03:56] mbartlett21 opened #80899 "Transmute doesn't work on arrays of generic types"
I tried transmuting an array of [T; 10] to itself, but rustc gives an error.

[code]

Error:
[code]

### Meta
`rustc --version --verbose`:
[code]

[2021-01-11 04:03] jyn514 commented on #78435
@RalfJung FYI you can view the original color with `less -R`, which prints them directly to the terminal. That doesn't work in an editor, though.

[2021-01-11 04:11] trevyn commented on #44732
For reference, `#[doc = include_str!("my_doc.md")` is now stable in 1.50 via https://github.com/rust-lang/rust/pull/78837

[2021-01-11 04:14] jyn514 commented on #44732
@trevyn include_str is not stable, it's still behind a feature gate.

[2021-01-11 04:20] camelid commented on #80899
Hmm, that does seem weird.

[2021-01-11 04:23] camelid commented on #80899
This compiles fine, so it's not that rustc thinks `[T; 10]` is unsized:

[code]

[2021-01-11 04:27] rodrimati1992 commented on #80059
This also compiles
[code]
Is this caused by the same bug?

[2021-01-11 04:38] ciphergoth commented on #31436
I can't figure out - does this block stabilization of "try" as is? In other words, if it were stabilized as is, would that hinder a later move to the design in [rust-lang/rfcs#3058](https://github.com/rust-lang/rfcs/pull/3058)?

[2021-01-11 04:39] camelid commented on #80059
Yes, in general any checks that are done on the MIR will not happen for `_`.

[2021-01-11 05:02] hongliang5316 opened #80903 "Is there an official semaphore api?"
I found one, but I found it is not too mature
https://docs.rs/semaphore/0.4.0/semaphore/

[2021-01-11 05:11] mbartlett21 commented on #80899
The error also comes from transmuting generics:

[code]
gives the same error.

[2021-01-11 05:23] camelid commented on #80899
Looks like the code that does this check might not work on generic parameters:

https://github.com/rust-lang/rust/blob/26d451f4b3bcbea68eb80856aeddf37af52991ac/compiler/rustc_passes/src/intrinsicck.rs#L71-L73

It does say that it's conservative:

https://github.com/rust-lang/rust/blob/26d451f4b3bcbea68eb80856aeddf37af52991ac/compiler/rustc_middle/src/ty/layout.rs#L1792-L1810

[2021-01-11 05:48] Manishearth commented on #80882
I don't really think there's a good way to fix this, aside from perhaps tweaking the markdown parser to preserve the original casing for unresolved link hooks

[2021-01-11 06:00] scottmcm commented on #31436
@ciphergoth `try { E }` as currently implemented on nightly is the "always requires context" version.  So the question is whether we want that syntax to be that version.  If we do, then we could stabilize it without waiting for 3058.

The problem is that it's not obvious to me that that syntax _should_ be the one that uses context.  Perhaps it would make sense for `try { E }` to be the one that do

[2021-01-11 07:05] Havvy opened #80906 "Point to usage in associated type that causes a lifetype parameter to need to be constrained"
Errornous code:

[code]

Current error message:

[code]

Proposed change to:

[code]

[2021-01-11 08:46] DutchGhost commented on #80899
See https://github.com/rust-lang/rust/issues/61956 for a previously opened issue

[2021-01-11 09:01] #77732 closed

[2021-01-11 09:01] #78435 closed

[2021-01-11 09:02] rust-highfive opened #80907 "`miri` no longer builds after rust-lang/rust#80905"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#80905, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @JohnTitor, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-01-11 09:04] joboet opened #80908 "Tracking Issue for maybe_uninit_array_assume_init"
Feature gate: `#![feature(maybe_uninit_array_assume_init)]`

This is a tracking issue for `MaybeUninit::array_assume_init`.

### Public API

[code]

### Steps / History

- [x] Implementation: #80600
- [ ] Final commenting period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- [ ] Should this be a const function?
- [ ] Should this be a method of array?
- [ ] Should this method be replaced

[2021-01-11 09:05] CoffeeBlend commented on #80908
@rustbot modify labels: +T-libs

[2021-01-11 09:09] JohnTitor commented on #80907
Caused by #80878.

[2021-01-11 09:19] LukasKalbertodt commented on #75243
That should be solved by https://github.com/rust-lang/rust/pull/75490. Then you can simply as `array.each_ref().map(...)`, for example. That makes it work like `Option`, where you also only have one `map` that takes `self` but also have `Option::as_ref` and `Option::as_mut` to work on references to the underlying data instead.

[2021-01-11 09:19] LukasKalbertodt commented on #75243
What do you all think about specifying the order in which the closure is called and then already stabilizing this method? I know it hasn't been on nightly for very long, but I don't see what we would want to change about this. It's a pretty straight forward method.

Let's go through the parts of the signature:
- Name: I'm pretty sure we all agree `map` is the best choice here.
- Receiver `self`, `

[2021-01-11 09:26] mbartlett21 commented on #80899
If and when the Project Safe Transmute's [ext-layout-traits rfc](https://github.com/rust-lang/project-safe-transmute/blob/master/rfcs/0000-ext-layout-traits.md) goes through the process, `transmute` could be changed to have a bound where the types are `SizeEq`, which should stop this problem.

[2021-01-11 10:26] b-naber commented on #80766
https://github.com/rust-lang/rust/pull/80558 is the fix for this.

[2021-01-11 10:27] jonas-schievink commented on #80903
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2021-01-11 10:27] #80903 closed

[2021-01-11 11:02] oli-obk commented on #79140
Ah, we have this with all errors around const eval. For example `static FOO: () = panic!();` will cause a compiler error, while `fn main() { panic!() }` will not cause an error, but panic at runtime. The UB checks are just something which doesn't even cause panics at runtime but causes errors at compile-time.

It may not be too obvious in your example, so I have a different example for you:

[code

[2021-01-11 12:10] ChrisJefferson opened #80912 "Unclear error / information about E0282 (cannot infer type for type parameter)"
Given the following (greatly simplified) code, it was (for me) hard to see how to fix the problem (the problem is `self.is_x()` in `Q::f` doesn't know what value to use for `S`. I am referred to `rustc --explain E0282`, but I could not see from that how to fix it. I was told be users.rust-lang to try `<Self as Refiner<()>>::is_x(self)` .

[code]

[2021-01-11 12:35] xfix commented on #75243
Thread usage has to do with `Send` and `Sync` bound, and I don't think `map` should require those bounds for its callback. Let's leave multi-threaded array maps to rayon.

`FnMut` I think makes most sense. Using `Fn` doesn't prevent mutation anyway, and only will make API more annoying to use.

[2021-01-11 12:48] usbalbin commented on #75243
There were some light [discussion](https://github.com/rust-lang/rust/issues/80094#issuecomment-749247177) in #80094 about something like iterators that encode the length. Would that be something to consider before stabilizing this array_map?

[2021-01-11 13:01] hellow554 commented on #80908
I think the question is, should this ever be stabilized? As you (?) wrote [in the docs](https://doc.rust-lang.org/nightly/core/mem/union.MaybeUninit.html#method.uninit_array):

Maybe therefore this should stay an unstable option until (and later removed) until #49147 is stabilized?

[2021-01-11 13:03] NieDzejkob opened #80913 "Invalid suggestion: consider creating fresh reborrow in pattern"
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d278e7867382828d1111f46e749a7450))

Errors:

[code]

`if let Some(&mut *_x) = opt {}` is not valid syntax.

[2021-01-11 13:04] NieDzejkob commented on #80913
@rustbot tag: A-suggestion-diagnostics D-invalid-suggestion

[2021-01-11 13:20] 1000teslas commented on #80313
@rustbot claim

[2021-01-11 13:34] CoffeeBlend commented on #80908
This is the wrong issue, it does not cover `MaybeUninit::uninit_array`, you're looking for #65580, which seems not to have a tracking issue.

I do intend for this (`MaybeUninit::array_assume_init`) to become stable, even when mem::transmute supports const generics it is a handy abstraction.

[2021-01-11 13:43] sasurau4 commented on #42226
I'll try it. @rustbot claim

[2021-01-11 13:48] hellow554 commented on #80908
I don't know why I picked that function and assumed this tracking issue was the correct one. Sorry for that!

[2021-01-11 14:08] Mark-Simulacrum commented on #80586
I am inclined to wait for https://github.com/rust-lang/rfcs/pull/2803 to get approved before we examine new targets or tier movement for existing targets.

[2021-01-11 14:33] matklad commented on #73831
Submitting a stabilization PR is a way to figure that out! I am not on the libs team, but this seems stabilization-worthy to me.

I wouldn't worry about impl details -- they can be adjusted after stabilization.

[2021-01-11 15:20] alexcrichton commented on #80849
It looks like this has to do with:

[code]

is this a case where a `-Z` flag is used to track rlib/rmeta files, and the sysroot files are changing somehow? Are those files indeed missing? Or maybe they're linked in at a later stage of rustbuild?

[2021-01-11 15:54] FabianWolff opened #80915 "Confusing error message about mismatched but equal types"
Consider this code:

[code]

This produces the following error message:
[code]
I fail to see the difference between the expected and actual type here. Also, which types is rustc even comparing? Where does the `FnOnce` come from?

**Expected behavior:** The code should compile, with the closure argument type being inferred as `&i32`. In fact, this is what happens as soon as I change the closure def

[2021-01-11 16:04] Mark-Simulacrum commented on #80849
Hm, yes, we're definitely tracking sysroot files, but they shouldn't be missing - @PatchMixolydic can you check whether those files are actually present? Do you perhaps have something like x.py check running from your editor in the background?

[2021-01-11 16:32] PatchMixolydic commented on #80849
That file does seem to exist. I am running `x.py check` via rust-analyzer, so that may be part of the issue.

[2021-01-11 16:33] dylni commented on #80884
If anyone's interested in this, I created [normpath](https://crates.io/crates/normpath) for this reason. It's still pretty new, but I've been attempting to integrate it into Cargo to improve Windows support: https://github.com/rust-lang/cargo/pull/8881, https://github.com/rust-lang/cargo/pull/8964

[2021-01-11 16:42] dylni commented on #80915
This might be the same issue as #75791.

[2021-01-11 16:43] alexcrichton opened #80916 "Regression in wasm simd compilation in debug mode"
It looks like the CI of stdarch [started failing recently](https://github.com/rust-lang/stdarch/issues/981). Bisection shows that this is caused by https://github.com/rust-lang/rust/pull/76896. That PR looks relatively innocuous on the surface, however, so this may be a longstanding bug in wasm simd just uncovered by that. I wanted to open this to track the regression nonetheless.

The regression

[2021-01-11 16:43] 1000teslas commented on #80313
Is anyone going to work on this issue? If not, I want to work on this to help me learn how Rust works.

[2021-01-11 16:57] Aaron1011 commented on #80313
@1000teslas Go ahead! If you need any help, feel free to reach out to me on Zulip or Discord

[2021-01-11 17:13] alexcrichton commented on #80916
Ok after some more debugging I think https://github.com/rust-lang/rust/pull/76896 is indeed at fault. After reading that PR more closely it looks like it only changes the behavior of `inline(always)` in debug mode, which indeed has been known to break SIMD-related things in the past.

[2021-01-11 17:39] michaelwoerister commented on #40552
I think this might be more of an issue for the @rust-lang/core team rather than the @rust-lang/compiler team to discuss.

[2021-01-11 17:51] NieDzejkob opened #80921 "Optimizer believes vector's length field may alias with its own buffer"
Consider the following code:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=0934f95f6f633219828056919b0a9a83))

I'd expect the assertion to get optimized-out. However, the following assembly is generated:

[code]

The only instruction between the two `cmpq $42, (%rax)` comparisons is a write to `16(%rdi)`. Thus, LLVM seems to believe that these tw

[2021-01-11 18:11] yoshuawuyts commented on #70887
The original PR was approved by the libs team, but when attempting to merge failed on bors. I've re-filed the PR in https://github.com/rust-lang/rust/pull/80918 which include a fix which should make the failing tests pass.

Apologies for not doing this sooner; going from `src/libcore` -> `library/core` midway through trying to fix the PR left me feeling overwhelmed and not sure how to proceed. I'm

[2021-01-11 18:14] skysch commented on #80854
Dead code is code that is never called, not code that is never referenced.

[code]

This will produce dead_code warnings for both functions, and removing either results in a compilation failure. (And that is probably what it should do, as these functions clearly do nothing by themselves.) It seems like you're actually expecting the `_` prefix to apply transitively.

[2021-01-11 18:41] nagisa commented on #80921
Duplicate of https://github.com/rust-lang/rust/issues/54878. Thanks!

[2021-01-11 18:41] #80921 closed

[2021-01-11 18:44] nagisa commented on #80921
And/or https://github.com/rust-lang/rust/issues/71354

[2021-01-11 19:36] scottmcm commented on #44524
@ibraheemdev None as far as I know.  I think the three subparts that were spun out from this have been great, and that might have reduced the overall appetite for the in-band declarations.  There's still [more work](https://github.com/rust-lang/rust/issues/44524#issuecomment-408466368) that can be done along those lines too, like having a lint that lets you know when a named lifetime could be repl

[2021-01-11 20:14] mahkoh opened #80925 "Accessing DST field of packed struct calculates the wrong field address"
Execute with Miri:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7e7d31feebbea4c3caceaccff1fa6bac

The problem is that https://github.com/rust-lang/rust/blob/6526e5c772f2da07db745c94ca6bb0a591a39ba4/compiler/rustc_codegen_ssa/src/mir/place.rs#L181-L182 and https://github.com/rust-lang/rust/blob/6526e5c772f2da07db745c94ca6bb0a591a39ba4/compiler/rustc_mir/src/interpret/pla

[2021-01-11 20:30] spastorino commented on #80810
Sorry, I don't have time right now to check this properly but a quick answer I can give you now is:
Could be that this was "tested" between my original PR was merged and the revert and that's the reason why this "regressed". If so, it's not really a regression, my original PR fixed a very old issue and this revert, reverted it because it uncovered a different bug. In that case, #80732 will fix the

[2021-01-11 20:55] mahkoh opened #80926 "Aligned-in-packed restriction can be circumvented with generic parameters"
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=596ca7ba423417b421439fa86cc57e9c

See also https://github.com/rust-lang/rfcs/issues/3060

The effective layout seems to correspond to the layout used on non-MS platforms. This is quite useful to circumvent the restriction and I'll have to make use of it to interact with certain C apis as described in the RFC issue. So please d

[2021-01-11 21:23] camelid commented on #80313
I was working on this, but I guess I should have pinged Aaron: https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/finding.20mutated.20upvars.20in.20borrowck. Oh well :)

@1000teslas you can work on this, I have other things that I've been meaning to get to anyway.

[2021-01-11 21:25] AaronKutch commented on #80854
That reasoning makes sense to me. I suppose my use case is pretty rare, even though I think I have encountered it more than once. If no one else thinks it is a problem, I can close this issue.

[2021-01-11 22:23] jonas-schievink commented on #80926
I think this works as intended? Packed representation ignores field alignment requirements

[2021-01-11 22:24] jonas-schievink commented on #80926
Ah, apparently not:

[code]

Not sure what the rationale is there

[2021-01-12 00:13] euclio opened #80929 "Diagnostic refers to Iincorrect trait method as "fn pointer""
I tried this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=cd4ab0e3e20944f1868d16905d1ba9a9)):

[code]

I expected to see this happen: Diagnostic mentions an expected method type and a provided method type.

Instead, this happened: Diagnostic mentions that it expected a "fn pointer" of a different type:

[code]

This was pretty confusing to me, because

[2021-01-12 00:18] camelid commented on #80882
I don't that would work, because the links are not treated as broken/unresolved.

[2021-01-12 00:56] estebank opened #80931 "Mention expectation of `{` for parse error immediately after `async` in expressions"
The following code

https://github.com/rust-lang/rust/blob/fe531d5a5f1404281e3fb237daaf87b8180bd13d/src/test/ui/parser/block-no-opening-brace.stderr#L34-L40

should also mention an expectation for an open brace `{`, and potentially even suggesting a new block, like the other test cases in that file.

[2021-01-12 02:29] mbartlett21 commented on #76976
`as_ne_bytes_mut` may be more useful.

[2021-01-12 02:52] camelid commented on #80915
Yep, almost certainly a duplicate of #75791.

[2021-01-12 02:52] #80915 closed

[2021-01-12 02:53] camelid commented on #73521
Should this be considered a duplicate of #75791?

[2021-01-12 02:56] #79199 closed

[2021-01-12 02:57] camelid commented on #80929
Seems like we should just skip saying "fn pointer". Something related that's confusing:

[code]

[code]

It makes it sound like they are different in ways other than their return type, when in fact making `bar()` return `i32` fixes the problem.

[2021-01-12 03:14] josephlr commented on #57349
I think the implementation change @oli-obk is referring to is #78578, so I assume that needs to merge before stabilization can occur.

[2021-01-12 03:58] camelid opened #80936 "Rename `doc(spotlight)` to `doc(notable_trait)`"
Leaving this as a todo for myself:

We should probably rename this flag to `notable_trait` since (a) it's clearer and (b) that's what the popup that it triggers is called. We should probably do it in another PR though; I'll try to do that soon.

_Originally posted by @camelid in https://github.com/rust-lang/rust/pull/80914#discussion_r555491002_

@rustbot claim

[2021-01-12 04:18] camelid opened #80937 "Use `atty` crate in libtest instead of rolling our own"
cc #80888
cc @jyn514

This issue has been assigned to @mattwilkinsonn via [this comment](https://github.com/rust-lang/rust/issues/80937#issuecomment-1079303047).

[2021-01-12 04:21] jyn514 commented on #80937
@camelid what happened to https://github.com/rust-lang/rust/pull/42732#discussion_r125191880 ?

[2021-01-12 05:30] jenra-uwu opened #80938 "Rust project won't build (possibly related to partitions?)"
I tried compiling my code (https://github.com/jenra-uwu/curly-lang/) and it gave me the following error:
[code]
When I moved the project from the original HFS+ partition to an EXT4 partition, it successfully built.

### Meta

`rustc --version --verbose`:
[code]

`uname -a`
[code]

[2021-01-12 05:51] #76011 closed

[2021-01-12 07:36] phansch commented on #78862
fwiw, I believe we're running into similar issues with various Clippy lints:

* https://github.com/rust-lang/rust-clippy/issues/6249
* https://github.com/rust-lang/rust-clippy/issues/6514

AIUI, there is currently no way to tell if a span originated from `quote_spanned` usage, right?

[2021-01-12 08:14] PatchMixolydic opened #80940 ""Unused macro" lint still fires when a private macro 2.0 is used in a public macro 2.0"
I tried this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5de2c72352cc9fc568b6ddc87ef04790)):

[code]

I expected to see this happen: the code compiles with no errors or warnings.

Instead, this happened: the "unused macro definition" lint is tripped:
[code]

### Meta

`rustc --version --verbose`:
[code]

@rustbot modify labels: +A-lint +A-macros-2.0

[2021-01-12 08:24] PatchMixolydic commented on #80940
@rustbot modify labels: +A-macros +A-visibility

[2021-01-12 09:08] SimonSapin commented on #76976
How so? Trying to go beyond "I want to borrow because I want to borrow"

[2021-01-12 09:17] RalfJung commented on #57349
Besides that, the approach in #78578 also is highly experimental and a lot of discussion (possibly an RFC) needs to be had before we can stabilize it as-is, see https://github.com/rust-lang/rust/issues/80384 for some of the concerns.

[2021-01-12 09:48] Rua commented on #63065
What's the status on this now? Is it ready to be stabilised?

[2021-01-12 10:16] lzutao commented on #80289
Ok, I can confirm running the executable in debug mode is never crash.
However, maybe only i686-msvc crashes in [my tests on CI], which includes 4 targets: 2 msvc and 2 gnu.
Maybe this is a codegen issue in msvc for x86 only.

@rustbot label: O-windows-msvc T-compiler I-unsound
@rustbot prioritize

[2021-01-12 10:28] xNxExOx commented on #80289
🤔 you say you can not reproduce it on 64 bit?
I tested it only on `x86_64-pc-windows-msvc` and that is 64 bit, also I am sure the binaries I attached [(here)](https://github.com/rust-lang/rust/files/5791350/target.zip) are 64 bit.
I do not have 32 bit compiler installed, but that is something I can install `i686-pc-windows-msvc` and try it if that would help.

[2021-01-12 11:20] #78438 closed

[2021-01-12 11:20] #80888 closed

[2021-01-12 11:20] #80293 closed

[2021-01-12 11:32] JohnTitor commented on #80894
Assigning `P-critical` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380894.20Heap.20buffer.20overflow.20in.20.60read_to_end_with_reservatio.E2.80.A6) and removing `I-prioritize`.

[2021-01-12 11:45] nagisa commented on #80937
winapi has since been improved to no longer imply long build times at the very least.

[2021-01-12 11:50] nagisa commented on #80926
https://github.com/rust-lang/rfcs/pull/1358#issuecomment-217582887

[2021-01-12 11:55] nagisa commented on #80926
Do bear in mind that you are relying on what is explicitly been considered to be unspecified behaviour. While this loophole existing does introduce some soft constraints for when the interaction between packed and align needs to be defined, it is not necessarily the case that Rust will be super hard-pressed to maintain the current behaviour.

[2021-01-12 12:08] JohnTitor commented on #80899
Closing as duplicate of #61956 and removing `I-prioritize`.

[2021-01-12 12:08] #80899 closed

[2021-01-12 12:27] lzutao commented on #80289
I was using stable toolchain. Now on [nightly both x64 and x86](https://github.com/lzutao/rust_inline_bug/actions/runs/480170791) are crashed when running in release mode.

[2021-01-12 13:55] jyn514 commented on #80936
This is a user-facing change. I know doc(spotlight) is nightly only, but is the improvement worth it? I think `spotlight` is reasonably clear.

cc @Manishearth

[2021-01-12 14:17] Aaron1011 commented on #75820
The hack was removed entirely in https://github.com/rust-lang/rust/pull/79472.

[2021-01-12 14:17] #75820 closed

[2021-01-12 14:46] mahkoh commented on #80926
Nevertheless it is exactly the behavior documented in the reference if the sentence disallowing it were omitted.

[2021-01-12 15:26] Ciantic commented on #59117
I think this should be mentioned here too, @dylni has created a `normpath` crate to do pretty much this: https://crates.io/crates/normpath it seems to also call the `GetFullPathNameW` on Windows, and doesn't hit the disk.

[2021-01-12 16:23] ojeda opened #80946 "ICE on proc macro --extern import"
### Code

[code]

  - Use a non-installed target or a target spec file.
  - `#![no_core]` is there to avoid having to build `core` etc. in the repro.
  - Explicit paths (`--extern p=libp.so`) or `extern crate p;` do not trigger the issue.

### Meta

Latest stable (1.49.0) and nightly break.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</detail

[2021-01-12 16:25] jonas-schievink commented on #80946
Duplicate of https://github.com/rust-lang/rust/issues/56935

[2021-01-12 16:25] #80946 closed

[2021-01-12 16:48] ojeda commented on #56935
In case it helps others: using an explicit path also does the trick (e.g. `--extern p=libp.so`). This is helpful to keep the source and the build system of a project closest to what it will be when this is solved.

[2021-01-12 17:08] steffahn opened #80948 "Rustc isn’t warning about usage of and even suggests importing #[doc(hidden)] items."
Motivated by [this thread](https://users.rust-lang.org/t/serde-compatibility-broken/54041) on URLO, I’m wondering if we shouldn’t add warnings for using items that are hidden in documentations, in particular hidden modules (but e.g. also hidden fields that can be used to make structs with public fields extensible while still supporting `Struct { foo: 1, bar: 2 ..Struct::default() }`-style initiali

[2021-01-12 17:15] jyn514 commented on #80948
Relevant code: https://github.com/rust-lang/rust/blob/fc9944fe84a683f0450c0921a935456e51b1c3ae/compiler/rustc_resolve/src/diagnostics.rs#L1651

[2021-01-12 17:18] rylev opened #80949 "regression 1.50: Borrow checker reports function param as not living long enough"
This might not actually be a regression an instead the code may have previously erroneously compiled. I cannot find an an open issue obviously related to this though.

As you can see [here](https://crater-reports.s3.amazonaws.com/beta-1.50-1/beta-2021-01-01/reg/euca-0.1.0/log.txt) this code does not compile with a "borrowed value does not live long enough" where it did previously. This comes from

[2021-01-12 17:18] m-ou-se commented on #80162
@rodrimati1992 Panicking at compile is unstable, both before and after these changes. The current unstable implementation of `const_panic` will not work right away with the new 2021 version of `panic!()`, as `panic!(SOME_CONST)` is no longer accepted. The 2021 version of the `panic!()` macro will accept the exact same arguments as the `println!()` macro. That is, the first argument must be a forma

[2021-01-12 17:23] rylev opened #80950 "regression 1.50: Code breaks due to newly stabalized std lib methods `Ord::clamp` and `bool::then`"
Two newly stabalized APIs (`Ord::clamp` and `bool::then`) caused regressions in crates due to their stabalization in the [latest crater run](https://crater-reports.s3.amazonaws.com/beta-1.50-1/index.html). In total 4 crates were impacted by this.

This is likely to be closed with `wont-fix`, but I wanted to ensure it was noted somewhere.

@rustbot modify labels: +regression-from-stable-to-beta

[2021-01-12 17:36] rylev opened #80951 "regression 1.50: Duplicate symbol linker error"
In the latest crater run, a crate that compiles on 1.49, did not compile on 1.50 with a linker error you can [see here](https://crater-reports.s3.amazonaws.com/beta-1.50-1/beta-2021-01-01/gh/devrandom.utxo-oracle/log.txt).

@rustbot modify labels: +regression-from-stable-to-beta

[2021-01-12 17:40] b-naber commented on #78113
I don't think this is a bug. What happens here is that the implementation of A for `Box<dyn A>` is used as a candidate for the trait object A in the Type alias `type T<'a> = Box<dyn A + 'a>`. Since `impl A for Box<dyn A>` resolves to `impl A for Box<dyn A + 'static>` the lifetime 'a in the TyAlias is equalized to 'static. If you parameterize over any lifetime (`impl<'a> A for Box<dyn A + 'a>`) the

[2021-01-12 17:46] pnkfelix commented on #80059
While the matching behaviors here may have the same root cause, I do not immediately classify that example as a bug. The idea is that `*uninit` is just describing how to reach a place, not necessarily a memory read, and the use of `_` in the pattern means "we *won't* try to read from that point in the pattern match.

Having said that, I am not saying I would veto changing our behavior in this scen

[2021-01-12 18:04] m-ou-se commented on #80162
@rodrimati1992 By the way, note that `core::panic!(SOME_CONST)` in `const_panic` in the current editions [was fixed](https://github.com/rust-lang/rust/pull/78069) and works now. Also, if your crate uses edition 2018 and has a macro that expands to `panic!(..)`, it would always be the 2018 version of `panic!()`, even if the crate that uses your macro is a 2021 crate.

[2021-01-12 18:21] weiznich opened #80953 "overflow evaluating the requirement `<Self as FilterDsl<_>>::Output` with 1.49.0"
### Code

I've tried to compile [wundergraph](https://github.com/weiznich/wundergraph/tree/ed4986f3e24f38531726125783917bf61af0bbd0/wundergraph) with the current stable release (1.49)

I expected that the code compiles because it worked with 1.48.

Instead, this happened: The code fails to compile with the following error message:

[code]

### Version it worked on

It most recently worked on: Rust

[2021-01-12 18:26] steveklabnik commented on #41082
Did https://github.com/rust-lang/rust/pull/72357 close this?

[2021-01-12 18:44] TheBlueMatt commented on #71871
This should now work for wasm32-wasi (on current git head).

[2021-01-12 18:46] meiomorphism commented on #80143
Unfortunately, all six orderings of the three attributes yield identical results.

[2021-01-12 18:53] steffahn opened #80954 "Rustc diagnostics don’t realize that assignments from a match guard can be used in the following match arms."
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e7024ccae1da8b707c092163bf09f883))

Output:

[code]

Errors:

[code]

@rustbot modify labels: T-compiler, A-diagnostics, A-lint, D-incorrect, C-bug

[2021-01-12 19:13] Michele31415 commented on #74551
Actually, looking at that link I'm afraid I still don't know how to proceed.  Just download everything and type gmake?  And this is going to work even if Rust (which doesn't exist for Solaris SPARC AFAIK) is not on my machine?

[2021-01-12 19:14] ortem commented on #41082
@steveklabnik Yes, thank you!

[2021-01-12 19:17] scottmcm commented on #80059
It wasn't obvious to me that the initialization checking wasn't also a bug.  But @pnkfelix said something in the meeting today that was persuasive to me: it's fundamentally flow-sensitive, not scope-based, so while this might feel strange, it fits.

[2021-01-12 19:49] matthiaskrgr opened #80955 "diagnostics could be improved when creating references inside structs conditionally"
[code]
This produces one error for each of the `&format!()`s

[code]

The suggested solution seems kinda overkill when we could simply move the `&`  from in front of the `format()` in front of the `if`
This looks very strange but I think it might be the most straightforward solution:

[code]

[2021-01-12 20:14] camelid commented on #80937
But I think we should probably use `atty` since it's so widely used.

[2021-01-12 20:16] SNCPlay42 commented on #80953
A stable-to-stable regression like this *should* have been caught by crater, but it looks like wundergraph [fails to build](https://crater-reports.s3.amazonaws.com/beta-1.49-1/1.48.0/reg/wundergraph-0.1.2/log.txt) on crater.

[2021-01-12 20:17] camelid commented on #80936
I don't think it's that clear of a name. "spotlight" could mean many things, but `doc(spotlight)` means a very specific thing. For example, I could imagine "spotlight" meaning that rustdoc puts it at the top of the module page and highlights it.

[2021-01-12 20:22] GuillaumeGomez commented on #80936
Also cc @Manishearth

[2021-01-12 20:48] #80854 closed

[2021-01-12 20:50] estebank commented on #40660
Yes, I think we should do exactly that. I think that https://github.com/rust-lang/rust/issues/57621, https://github.com/rust-lang/rust/issues/52544 and https://github.com/rust-lang/rust/issues/44695 cover that requirement as well (but lets keep them open and close in one sweep once we fix this).

[2021-01-12 21:06] SkiFire13 opened #80956 "Broken MIR (and diagnostics) using Higher-Rank Trait Bounds and associated types"
### Code

[code]

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fb12ea3e1f456a49dc52b54d4324e6d9)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

Strangely the backtrace is empty (I got the error output section with `RUST_BACKTRACE=1`). Should I report that bug separately?

[2021-01-12 21:27] nagisa commented on #80951
Seems like a not-genuine-regression, its just a case of cargo building and linking two different versions of the same crate (`secp256k1`), which appears to export `no_mangle` symbols if the error message looks right.

[2021-01-12 21:30] psumbera commented on #74551
Can you contact me offline via email (first name . surname @ company . com ) ? I can try to help you to bootstrap Rust for Firefox build.

[2021-01-12 21:33] leo60228 commented on #64552
Since it seems like fixing this is a somewhat large task, maybe having the diagnostic link to this issue would be a workable stopgap solution?

[2021-01-12 22:39] folex commented on #68119
I also got bitten by this error message
[link to playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f1336d257916ed3a86fcddc143aba0bc)
[code]

And the error got me confused because I'm not familiar with the "generator" concept - I have seen it in some blog posts but never met it in practice.

Consider a very similar situation
[code]

which yields

I've much more acc

[2021-01-12 22:56] jerel commented on #64650
I ran into this same issue this week using tokio. Here's my conclusion, in case it's helpful for narrowing in on the bug.

Reduced down to as few lines as possible it looks like this:
[code]
and fails with:
[code]

Those types _are_ identical aren't they? I managed to work around it like this:
[code]
The first version has been working fine in another part of the codebase, something about how it's

[2021-01-12 22:58] #79581 closed

[2021-01-12 23:39] estebank commented on #79187
CC https://github.com/rust-lang/rust/pull/79588

[2021-01-13 00:05] jhpratt commented on #53120
So if this isn't going to be stabilized, which seems to be the case, is there any plan for removing this feature from nightly?

[2021-01-13 00:05] estebank commented on #77238
Reopening as per https://github.com/rust-lang/rust/pull/77283#issuecomment-726679347

[2021-01-13 00:13] staticfloat commented on #79609
I just tested this, and using LTO on Rust 1.48.0 does not solve these errors for me.

Here is example output while compiling `Librsvg` `v2.50.2`:

[code]

Perhaps this works for simpler packages, but for more complex things, it doesn't appear to properly eliminate the dependency on `libunwind`.

[2021-01-13 01:25] Manishearth commented on #80936
Yeah, I feel like we should call it `notable_trait` or something since most users won't know the name "spotlight".

[2021-01-13 02:32] jyn514 commented on #80956
This also crashes on nightly, but it has a backtrace there (not that it's very helpful):

[code]

@SkiFire13 can you see if using nightly gets you a backtrace?

[2021-01-13 02:34] jyn514 commented on #80954
@steffahn you're correct, but also ... I hope you feel properly ashamed of yourself for writing this code :laughing:

[2021-01-13 02:42] steffahn commented on #80954
@jyn514 Always a question of context, [here's mine](https://internals.rust-lang.org/t/somewhat-random-idea-deref-patterns/13813/14?u=steffahn). This is not supposed to be proper Rust code but was me trying to figure out how bad guards can become in order to evaluate my intuition on how `deref` patterns could potentially be translated. TL;DR, it's _intentionally_ bad rust code 😜 (and _yet, I do sti

[2021-01-13 02:43] jhpratt commented on #53718
#80962 is up to stabilize all remaining methods mentioned at the top of this issue. The diagnostic on nightly is functionally the same as already-stable equivalents (`5 % 0` vs `5.rem_euclid(0)`, for example).

[2021-01-13 02:44] newpavlov opened #80963 "Missed optimization: computing smaller index than length does not elliminate bound check"
Code:
[code]
[godbolt](https://rust.godbolt.org/z/Grvvs3)

Even replacing `usize::MAX/3` with any non-zero small number (even 1) does not result in removal of the bound check.

This behavior can be reproduced on current Nightly and previous stable compiler versions.

[2021-01-13 03:27] #41082 closed

[2021-01-13 03:36] wchargin opened #80964 "Adding struct/variant causes inference error in unrelated code"
I tried this code:

[code]

I expected it to compile, and it does. But when I uncomment the final
line, a new inference error appears on the `assert_eq!` line:

[code]

By itself, the inference error seems reasonable enough, and I can just
add type annotations. But the change has nothing to do with the error.

This is a stripped-down example. In my real code, I’m adding a variant
to an existing er

[2021-01-13 03:37] wchargin commented on #44345
I found this issue by searching for “action at a distance”, so thanks
for adding this comment!

Believe it or not, I am _also_ hitting this with `serde_json`. Hmm…

[2021-01-13 03:37] wchargin commented on #80964
Perhaps related: #44345? Mine doesn’t involve a dep upgrade, though.

[2021-01-13 04:20] dylni commented on #59117
Thanks @Ciantic! To clarify, [`PathExt::normalize`](https://docs.rs/normpath/0.1.0/normpath/trait.PathExt.html#tymethod.normalize) only doesn't touch the filesystem on Windows. On Unix, it needs to canonicalize the path to resolve it correctly. Canonical Unix paths don't have the same issues as verbatim paths on Windows.

[2021-01-13 04:37] camelid commented on #49177
Closed by request of @jackh726.

[2021-01-13 04:37] #49177 closed

[2021-01-13 04:37] camelid commented on #57193
Closed by request of @jackh726.

[2021-01-13 04:37] #57193 closed

[2021-01-13 04:48] KodrAus opened #80967 "Tracking Issue for bool_to_option"
Feature gate: `#![feature(bool_to_option)]`

This is a tracking issue for `bool::then_some`, a value-receiver version of `bool::then`, split off from #64260.

### Public API

[code]

### Steps / History

- [x] Implementation: #64255
- [x] Final commenting period (FCP)
- [x] Stabilization PR: https://github.com/rust-lang/rust/pull/96628

### Unresolved Questions

- Do we actually want this method?

[2021-01-13 04:49] KodrAus commented on #64260
Closing this one in favour of #80967, so that we'll get a chance to issue a fresh FCP if we decide to in the future.

[2021-01-13 04:49] #64260 closed

[2021-01-13 04:58] KodrAus opened #80970 "Tracking Issue for cfg-target-abi"
This is a tracking issue for the RFC "Add `target_abi` configuration" (rust-lang/rfcs#2992).
The feature gate for the issue is `#![feature(cfg_target_abi)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* mean

[2021-01-13 05:00] camelid commented on #80228
Closed by request of @jackh726.

[2021-01-13 05:00] #80228 closed

[2021-01-13 05:01] camelid commented on #80229
Closed by request of @jackh726.

[2021-01-13 05:01] #80229 closed

[2021-01-13 05:01] camelid commented on #80230
Closed by request of @jackh726.

[2021-01-13 05:01] #80230 closed

[2021-01-13 05:01] camelid commented on #80231
Closed by request of @jackh726.

[2021-01-13 05:01] #80231 closed

[2021-01-13 05:07] jackh726 commented on #80228
Just want to leave some reasoning behind closing this: We discussed this in our wg-traits meeting today. We basically agree that right now the chalk-integration is *so* experimental that things not working is basically expected. Most of the test suite doesn't even pass with `compare-mode=chalk`. Once we get to a point that nearly all of the test suite passes with `-Z chalk`, it'll make more sense

[2021-01-13 05:07] jackh726 commented on #80229
Just want to leave some reasoning behind closing this: We discussed this in our wg-traits meeting today. We basically agree that right now the chalk-integration is *so* experimental that things not working is basically expected. Most of the test suite doesn't even pass with `compare-mode=chalk`. Once we get to a point that nearly all of the test suite passes with `-Z chalk`, it'll make more sense

[2021-01-13 05:07] jackh726 commented on #80230
Just want to leave some reasoning behind closing this: We discussed this in our wg-traits meeting today. We basically agree that right now the chalk-integration is *so* experimental that things not working is basically expected. Most of the test suite doesn't even pass with `compare-mode=chalk`. Once we get to a point that nearly all of the test suite passes with `-Z chalk`, it'll make more sense

[2021-01-13 05:07] jackh726 commented on #80231
Just want to leave some reasoning behind closing this: We discussed this in our wg-traits meeting today. We basically agree that right now the chalk-integration is *so* experimental that things not working is basically expected. Most of the test suite doesn't even pass with `compare-mode=chalk`. Once we get to a point that nearly all of the test suite passes with `-Z chalk`, it'll make more sense

[2021-01-13 05:54] clarfonthey opened #80976 "Additional bounds are required for const generics using associated constants"
Example below. Based on the description in #76560, I'd expect to not be required to add `[(); From::DIM]:` and `[(); To::DIM]` bounds to `Transform` because the associated consts are inherent to the trait's definition and thus are public APIs.

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4dbd1bdce73b47ca4ae2abc65e6fd0d2))

[2021-01-13 05:57] clarfonthey opened #80977 "Using associated constants for generics is not considered using a type generic"
Filing in addition to #80976 because this seems to be a separate issue. Includes the same example below. Essentially, even though the associated constant `To::DIM` is being used in the definition of the struct, the compiler marks `To` as being unused since no types related to it are being used.

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4dbd1bdc

[2021-01-13 07:18] chengniansun opened #80978 "ICE:panicked at 'expected `NodeId` to be lowered already for res Local(NodeId(14), )', compiler/rustc_ast_lowering/src/lib.rs:710:17"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-01-13 07:33] clarfonthey commented on #76560
So I was looking through the current design for this feature and noticed that there isn't a clear definition of how const generics should interact with associated consts. I filed #80976 and #80977 for specific errors that show up when associated consts are used in const generics directly, but noticed that we don't actually have any defined syntax for how you would constrain associated consts in bo

[2021-01-13 07:38] #72457 closed

[2021-01-13 07:38] #71895 closed

[2021-01-13 07:38] #73722 closed

[2021-01-13 07:38] #80832 closed

[2021-01-13 08:10] teryror commented on #80893
Fixed by PR #80924.

[2021-01-13 08:10] #80893 closed

[2021-01-13 08:33] weiznich commented on #80953
@SNCPlay42 To just cite from the crate log you've linked: Wundergraph did not fail to build, crater did only fail to build the corresponding tests (which is understandable, because they are not included in the release, because that's impossible to do with cargo (as you cannot release a package that tests depends on another crate that depends on the released crate)).
[code]

Anyway I believe crate

[2021-01-13 09:09] iago-lito commented on #80967
I personally like `bool.then_some(value)` better than `bool.then(|| value)` because it's less circuit in my head (althought I do expect both to produce same machine code). I would also favour it if it's more consistent with the rest of `std`.

Otherwise, `bool.then(|| value)` is fine and I could definitely live with that, so the stakes aren't high. What's the overhead of having both methods in `st

[2021-01-13 09:43] apiraino commented on #80804
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380804.201.2E49.20seems.20to.20have.20bumped.20required.20macOS.20version) and removing `I-prioritize`.

[2021-01-13 09:50] SkiFire13 commented on #80956
I can't get a normal backtrace even on nightly, however I can get one with `RUST_BACKTRACE=full` (on both stable and nightly), but I don't think it will be very helpful:

[code]

[2021-01-13 10:03] dhardy commented on #78113
The second example can be "fixed" in the same way: `impl<'a> A for Q<dyn A + 'a> {}`

*But*, by that logic, `_f` and `_g` should also fail to compile, so I'm not convinced.

[2021-01-13 10:11] SNCPlay42 commented on #80953
Oops, looks like crater wouldn't have caught this then because the beta compiler *also* [successfully built](https://crater-reports.s3.amazonaws.com/beta-1.49-1/beta-2020-11-26/reg/wundergraph-0.1.2/log.txt) (the previous log I posted is the 1.48 compiler acting as a baseline) the crate without tests. (Was this regression introduced in a backport after the crater run, then?)

But it looks like cra

[2021-01-13 10:15] apiraino commented on #80289
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380289.20Optimizations.20cause.20release.20version.20to.20not.20work) and removing `I-prioritize`.

[2021-01-13 10:19] weiznich commented on #80953
So likely related to https://github.com/rust-lang/rust/pull/80417

[2021-01-13 10:24] jonas-schievink commented on #80964
Presumably this happens when `serde_json` is loaded, so `use serde_json as _;` instead of the struct should also cause this

[2021-01-13 10:24] apiraino commented on #80289
@rustbot ping windows

[2021-01-13 10:25] #72360 closed

[2021-01-13 10:26] lzutao commented on #80289
Summary for windows group folks:

This issue is about an STATUS_STACK_OVERFLOW with exit code 0xc00000fd on Rust nightly msvc toolchain.
The program doesn't crash in debug mode but only in release mode.
We hope someone with Windows machine could locally run debugger and inspect the
assembly for abnormally issues.

[2021-01-13 10:31] SNCPlay42 commented on #80956
For `delay_span_bug`s you can get the backtrace for where they were originally issued with `-Ztreat-err-as-bug`:

[code]

(Should we automatically capture backtraces of `delay_span_bug` when `RUST_BACKTRACE` is set?)

[2021-01-13 10:33] b-naber commented on #78113
In the functions the lifetime in the trait object is resolved to the lifetime supplied by the function `_f<'a>`.

What behaviour would you expect here, i.e. what lifetime would you expect 'a to be in the associated type?

I'd agree that it's inconsistent though that the lifetimes in `type T<'a> = &'a dyn A` and `type T<'a> = P<'a, dyn A + 'a>` are not resolved to 'static.

[2021-01-13 10:48] dhardy commented on #78113
Well then I have two questions:

1.  Why is `Box<dyn A>` resolved to `'static` instead of an elided lifetime? I suppose since it is simpler and usually works.
2.  Why does `fn _f ...` work — simply because there is no `:A` bound as in the trait? (Indeed, removing this bound from the assoc type fixes both failures.)

Then you may be right and this is no more than unclear documentation.

[2021-01-13 11:09] apiraino commented on #80807
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380807.20.22overflow.20evaluating.20the.20requirement.22.20regression.20in.20.E2.80.A6) and removing `I-prioritize`.

[2021-01-13 11:16] apiraino commented on #80978
seems related to #79537

[2021-01-13 11:17] slerpyyy commented on #80967
I'm in favor of deprecating `then_some` for the following reasons:

- I still don't like the name
  - Since it is the conceptually simpler version of `then`, I think it should have the shorter/simpler name of the two functions, similar to `and` vs `and_then`, `or` vs `or_else` and `unwrap_or` vs `unwrap_or_else` and because `then` is already one word (and we don't want to call it `th`) this won't

[2021-01-13 11:42] b-naber commented on #78113
I'm not completely sure, but to me it seems most plausible that in `impl A for Box<dyn A>` the lifetimes for the trait object `A` are taken from the surrounding impl, which resolves to `'static`, since its declared in global scope and no lifetime parameter is supplied.

I think `_f` works for the reason I explained in the previous comment. I don't believe it has anything to do with the trait bound

[2021-01-13 11:42] apiraino commented on #80949
Let's try to reduce it @rustbot ping cleanup

[2021-01-13 11:47] apiraino commented on #80816
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380816.20regression.201.2E49.3A.20problem.20with.20autoderef.20and.20trait.20me.E2.80.A6) and removing `I-prioritize`.

[2021-01-13 11:48] apiraino commented on #80800
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380800.20Trait.20object.20types.20aren.E2.80.99t.20enforcing.20equality.20constra.E2.80.A6) and removing `I-prioritize`.

[2021-01-13 12:21] hellow554 commented on #80949
Still with dependency, but simplified code

[code]

let's see what I can get from there

[2021-01-13 12:31] b-naber opened #80982 "Error in trait solving"
Related to https://github.com/rust-lang/rust/issues/78113. In the following example the trait system cannot resolve the trait object `A` in `Box<dyn A + 'a>` to Foo, even though Foo implements A:

[code]

This yields the error:

[code]

If we don't provide a lifetime bound in the implementation of A for `&'a Box<dyn A>` (`impl<'a> A for &'a Box<dyn A>`) then we get an additional lifetime error sin

[2021-01-13 12:58] hellow554 commented on #80949
searched nightlies: from nightly-2020-12-01 to nightly-2021-01-06
regressed nightly: nightly-2020-12-06
searched commits: from https://github.com/rust-lang/rust/commit/3ff10e74a74ed093fcabac1de27fe1cd65bbbb4a to https://github.com/rust-lang/rust/commit/e792288df31636ca28108516c63a00ce4267063a
regressed commit: https://github.com/rust-lang/rust/commit/9122b769c8306b1cb3c8d1f96fca3ea3e208e22e

<deta

[2021-01-13 13:26] dhardy commented on #78113
This argument doesn't make sense to me since the associated types have a lifetime supplied in the same way — the key difference, assuming that associated types are resolved in the same way as other types, is the lack of a bound. Note that this also works (no bound, not associated):
[code]

[2021-01-13 13:42] steffahn commented on #80800
Without the `dyn` keyword, the `transmute` function type-checks since Rust 1.0.0. And a `main` function like e.g.
[code]
leads to reading a bunch of memory and segfaulting on every Rust version, as far as I can tell (at least in debug builds).

[2021-01-13 14:09] VillSnow commented on #73831
ok I try.
I'm reading https://rustc-dev-guide.rust-lang.org/stabilization_guide.html#stabilization-pr

[2021-01-13 14:30] Alexendoo commented on #76510
No longer ICEs since #78407

[2021-01-13 14:33] chengniansun commented on #80978
@apiraino Yes. Sorry for the duplicate report.

I used the keyword  `compiler/rustc_ast_lowering/src/lib.rs:710` to search for the duplicate.

Closing this report.

[2021-01-13 14:33] #80978 closed

[2021-01-13 14:34] VillSnow commented on #73831
Well, I noticed I had completely skipped https://rustc-dev-guide.rust-lang.org/implementing_new_features.html, sorry.
At first I have to send unstable PR to fix them, right?

[2021-01-13 14:36] chengniansun commented on #80978
Seems that I cannot mark this as a duplicate to #79537

[2021-01-13 14:38] jyn514 commented on #80978
That's ok, it's clear by looking at the issue :)

The line numbers change a lot because the compiler is released so frequently. I would search for the text of the panic and maybe the file name, but not the specific line number.

[2021-01-13 14:45] matklad commented on #73831
@VillSnow which part do you think you skipped? There are [stability markers](https://github.com/rust-lang/rust/pull/73577/files#diff-713b9b67c5c17e062aece3c7b7981da9d51047b0280ae94e6161ec2711865301R2691) (the only thing needed for library features) and a tracking issue, everything else (**p**FCP, *language* feature, warnings) doesn't seem relevant

[2021-01-13 14:47] RustyYato opened #80986 ""Associated type doesn't live long enough", even though it does"
I tried this code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0474ce6d89ae44d17d9ef2df99c0883f

[code]

I expected this to compile, because lifetime elision enforces that `I::Output` will live as long as `self`, and that `SomethingElse` will live as long as `I::Output`, and by transitivity `SomethingElse` will live as long as `self`.

However, I got to following
<deta

[2021-01-13 14:48] RustyYato commented on #80986
This might be related to #77654 or #63253, based on a brief look at those two issues

[2021-01-13 14:49] chengniansun commented on #80978
@jyn514

Thanks. I usually use the message as a keyword.

Reporting bugs at 2am is not a good idea, and clearly my head did not function well at that time. lol.

[2021-01-13 14:51] VillSnow commented on #73831
3. Add a feature gate declaration to rustc_feature/src/active.rs in the active declare_features block. See here for detailed instructions.

[2021-01-13 14:55] VillSnow commented on #73831
Maybe it does not needed because rustc doesn't relevant to this feature?

[2021-01-13 15:23] matklad commented on #73831
Yup, you don't need those, as they are for *language* features, not for std features. For std, `#[unstable` annotation on the API is all you need.

Although I must admit the docs *are* confusing, as they don't really distinguish between the two kinds of features. cc @jyn514 from rusc dev guide wg :)

[2021-01-13 15:31] jyn514 commented on #73831
There's an open issue for it: https://github.com/rust-lang/rustc-dev-guide/issues/932

[2021-01-13 15:32] jyn514 commented on #73831
Happy to take PRs :) it should be pretty easy to fix.

[2021-01-13 15:36] SNCPlay42 commented on #80953
Reduction: (`AlternateTable`, `AlternateQuery` and their impls aren't necessary to reproduce the issue, but without them `Filter` might look like it really is recursively defined, so this shows that that's not necessarily the case):

[code]

The code compiles successfully if:

* The empty predicate `Filter<T::Query, T::PrimaryKey>:` is removed from the where clause
* The references to `T::PrimaryK

[2021-01-13 15:53] SNCPlay42 commented on #80953
searched nightlies: from nightly-2020-10-01 to nightly-2021-01-13
regressed nightly: nightly-2020-12-27
searched commits: from https://github.com/rust-lang/rust/commit/bb178237c5539c75e1b85ab78a8ab902b1f333d5 to https://github.com/rust-lang/rust/commit/0b644e419681835bd0f5871c3bfbd648aa04f157
regressed commit: https://github.com/rust-lang/rust/commit/931aa27922b521d89d472f385882b921d3f8d624

<deta

[2021-01-13 16:17] 1000teslas commented on #80313
@Aaron1011 What is the intended error? Is it meant to point to my_var, similarly to room_ref in https://github.com/rust-lang/rust/issues/78938?

[2021-01-13 16:32] nagisa commented on #80967
That wouldn't necessarily have the same semantics. `then` evaluates the argument, thus executing all of the code necessary to construct the `T` regardless of the `bool`'s value.

[2021-01-13 16:34] Michele31415 commented on #74551
Email sent.

[2021-01-13 16:34] sivadeilra commented on #80289
I'll take a look.

[2021-01-13 16:58] osa1 commented on #80258
I think I have an idea on what's going on. When resolving method receivers, in these lines: https://github.com/rust-lang/rust/blob/fc93e4719c2ced744d75f0c281bb7ba29844bedd/compiler/rustc_typeck/src/check/method/probe.rs#L1069-L1071

we don't consider `Test` (in my example above) as a potential receiver, as that would require dereferencing the pointer, which is unsafe.

However without considering

[2021-01-13 17:23] Aaron1011 commented on #80313
Yes - I was thinking of displaying a message like "a mutable borrow is required because the closure modifies `my_var`", located at the usage of `my_var`. Additionally, we could add another note pointing to the definition of `my_var`.

[2021-01-13 17:24] weiznich commented on #80953
So maybe also related to https://github.com/rust-lang/rust/issues/80807, with the difference that this worked on some older release.

[2021-01-13 17:29] osa1 commented on #80258
This code seems relevant: https://github.com/rust-lang/rust/blob/fc93e4719c2ced744d75f0c281bb7ba29844bedd/compiler/rustc_typeck/src/check/method/probe.rs#L1113-L1117

I think this is the code that, when the original receiver has type `T`, tries receivers with types `&T` or `&mut T` (depending on mutability of the original receiver).

Unfortunately if I do the same treatment to pointers in that cod

[2021-01-13 17:33] m-ou-se commented on #79524
#80567 is adding `intersperse_with` to this feature.

[2021-01-13 17:45] sivadeilra commented on #80289
We spent some time investigating this. At root, the issue is simply that this code is deeply recursive, enough that it reaches the boundaries of the stack. Whether a _specific_ compilation of this app reaches the stack limits is highly dependent on optimizations. I believe that aggressive inlining is causing the stack frames to be larger in release mode than in debug mode.

That is probably the "r

[2021-01-13 17:47] Darksonn commented on #63818
I opened [a question][1] about this topic on the user's forum. In that question I had wrapped the pointed-to field in an `UnsafeCell`, which doesn't work and is unsound, but it _seems_ to me that changing the struct in my linked post to
[code]
with an hypothetical `UnsafeAliasedCell` would solve the issue, at least for this struct. This is because what breaks the struct is that using an `&mut Self

[2021-01-13 17:53] rylev opened #80988 "regression 1.50: deny after forbid breaks build"
The following code compiles on 1.49 but does not compile on 1.50 beta.

[code]

This seems to be a similar (the same?) issue as [#77713](https://github.com/rust-lang/rust/issues/77713) though I'm not sure how it would have been introduced.

This breaks [several crates](https://crater-reports.s3.amazonaws.com/beta-1.50-1/beta-2021-01-01/reg/get_if_addrs-0.5.3/log.txt) in the latest crater run. Inte

[2021-01-13 18:07] xNxExOx commented on #80289
by my investigation of the assembly the first call to the `find_gate` function was on the recursive part (same as the source code).
https://github.com/rust-lang/rust/issues/80289#issuecomment-757433425
I might be wrong thou, because assembly is not my expertise, but can you explain what exactly get inlined to what?
As I already said if it would crash in the recursive part I would understand that (

[2021-01-13 18:08] wchargin commented on #80964
Indeed, it does.

[2021-01-13 18:13] RalfJung commented on #80059
I feel like it would be rather strange to ignore `let _: bool = *uninit;` for initialization checking but honor it for unsafety checking.

[2021-01-13 18:28] jonas-schievink commented on #80964
In that case, closing as a duplicate of https://github.com/rust-lang/rust/issues/44345

[2021-01-13 18:28] #80964 closed

[2021-01-13 18:35] RalfJung commented on #63818
`ptr` would not be invalidated *for the value field*. But if that's enough, then yes, that would be one option.

Also see https://github.com/rust-lang/rust/issues/63818#issuecomment-526579977.

[2021-01-13 18:40] Darksonn commented on #63818
Sure, but if you needed more than the field, you could do something like this, no?
[code]

[2021-01-13 18:51] RalfJung commented on #63818
Sure.

[2021-01-13 19:21] Asminthe opened #80989 "Compiler generates loop that unnecessarily repeats a comparison every iteration."
In some situations, the compiler seems to correctly deduce that it only needs to do one comparison for array boundary checking, but places that comparison inside a loop when it could have been placed outside.

Here is a simple function that demonstrates the issue: https://godbolt.org/z/KExT6c

![image](https://user-images.githubusercontent.com/5125478/104498722-efb1f180-5590-11eb-8466-42fd0e5c0c5a

[2021-01-13 19:32] the8472 commented on #80963
Workaround:

[code]

[2021-01-13 19:58] jrmuizel commented on #42763
It looks like the memcpy in the original test case is removed when running with `-Zmir-opt-level=2`.
[code]

[2021-01-13 20:20] sivadeilra commented on #80289
If you use WinDbg, you can see for yourself when you dump the stack trace.  Use the `k` command to dump a stack trace.  It will show which functions are inlined. For example:

[code]

You can see that some of these frames are displayed as `(Inline Function)`. Also, look at the second column, which lists the stack addresses. Many of these functions have very large local stack frames, which you can

[2021-01-13 20:25] nikic commented on #80963
https://bugs.llvm.org/show_bug.cgi?id=48744

[2021-01-13 20:31] kwf opened #80992 "ICE given unclosed angle-bracket *only* in doctest"
### Code

The following doctest causes an ICE when compiled in a doctest via `cargo test`. However, the same code causes the expected parse error when compiled outside the context of a doctest.

[code]

### Meta

`rustc --version --verbose`:
[code]

This error still exists in beta and nightly as well.

### Error output (when backtrace enabled)

Standard error:
[code]

Standard output:
[code]

<det

[2021-01-13 20:53] sivadeilra commented on #80289
Ok, I have some interesting results, but I have a few meetings to get through. I'll update shortly.

[2021-01-13 21:19] sivadeilra commented on #80289
Oh, it's just this, in `src\y2015\day_06.rs`:

[code]

Don't create local variables that big. Just use:

[code]

instead.

[2021-01-13 23:24] #66228 closed

[2021-01-14 01:52] tmandry commented on #80706
In the minimized version above (https://github.com/rust-lang/rust/issues/80706#issuecomment-754832261), codegenning debuginfo fails because it doesn't know the layout of the unnormalized type `<SaveUser as StorageRequestReturnType>::Output`, which appears in the MIR locals for the `save` method. I think this type should have been normalized during monomorphization.

@lcnr, do you know why #78410 m

[2021-01-14 02:06] jyn514 commented on #80706
`monomorphize` is a query, right? Could the backend call it on-demand instead of crashing?

[2021-01-14 02:08] #80336 closed

[2021-01-14 02:15] glittershark opened #80996 "Tracking Issue for bound_as_ref"
Feature gate: `#![feature(bound_as_ref)]`

This is a tracking issue for providing `as_ref` and `as_mut` on bound. These methods mirror similar methods on the `Option` type.

### Public API

[code]

### Steps / History

- [X] Implementation: #80444
- [ ] Final commenting period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-01-14 02:33] tmandry commented on #80706
It could, but it should already have been done (unless I'm confused). So either `normalize` is not working for that type, or some earlier code is not normalizing where it should – either way we should understand more about what's going on.

[2021-01-14 03:35] jyn514 opened #80997 "Warn when ignoring the number of bytes written by `write()`"
I tried the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b77b69a13a51ac4b787b9c25cc7c6207)):

[code]

I expected to see a warning that I ignored the number of bytes written, because it could be less than the number I tried to write. Instead, no warning happened.

I think this is a limitation of `#[must_use]` currently - it can't be applied to

[2021-01-14 03:43] sampersand commented on #75072
I'd also find this quite helpful for some low-level bit twiddling I'm doing.

[2021-01-14 04:02] xoviat opened #80998 "ICE in github build"
See below:

https://github.com/akiles/embassy/runs/1699580405?check_suite_focus=true

[2021-01-14 04:42] divergentdave opened #81000 "Regression: missing MIR for generic async fn across crates"
I'm getting an ICE when running a nightly version of clippy on https://github.com/smol-rs/smol. I bisected nightly toolchains, and the problem is present in +nightly-2021-01-14, and absent in +nightly-2021-01-13.

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-01-14 05:25] cargodog opened #81001 "flatten() breaks size_hint()"
Using the `flatten()` iterator adapter, causes broken size hints. Consider the following small example:
[code]
I expected to see:
[code]

Instead, I see:
[code]

My Rust version is:
[code]

[2021-01-14 05:27] cargodog commented on #81001
I believe the error is in this impl: https://github.com/rust-lang/rust/blob/c7b0ddbffebee1cb06f184e815ca637706c53053/library/core/src/iter/adapters/flatten.rs#L275

[2021-01-14 05:43] taiki-e commented on #81001
I think this is working as intended. `flatten` cannot know the actual size until the closure is actually executed.

[2021-01-14 05:44] dtolnay commented on #81000
Minimal repro:

[code]

[code]

[code]

[2021-01-14 05:54] xNxExOx commented on #80289
This affecting the `solve_day`->`day_07` callstack? (or is it just general sugestion?)
From my investigation of the assembly the days have `call` instruction to jump to them, so they do not share stack with each other. Did I identify that wrongly?

[2021-01-14 05:58] csmoe commented on #81000
seems caused by https://github.com/rust-lang/rust/pull/80718
cc @tmiasko

[2021-01-14 06:59] fujita commented on #55614
How about using a system-wide configured value as default value like Go instead of hardcoded before introducing a large change for detailed configuration? For example, `net.core.somaxconn` on Linux.

[2021-01-14 07:57] hellow554 commented on #81001
But isn't it at least as long as the old iterator, e.g. `flatten` can't remove elements, it just can add more? So a lower limit should be possible, which would help.

[2021-01-14 08:33] matthewjasper commented on #80949
So #78373 resulted in MIR having one fewer block, which is making borrowck be less precise with how long the borrow lasts. There are a few possible fixes here for me to look at.

[2021-01-14 08:56] hellow554 commented on #80998
Reduced to only use the task proc-macro:

[code]

It seems important, that Foo isn't defined, if I define a `struct Foo`, the ICE goes away.

[2021-01-14 09:20] rylev commented on #80667
Here is a list of the issues found:
* [Cargo: DEP_* env variable not set in nightly test run](https://github.com/rust-lang/cargo/issues/9063#issuecomment-758814836)
* [Code breaks due to newly stabalized std lib methods Ord::clamp and bool::then](https://github.com/rust-lang/rust/issues/80950)
* [Borrow checker reports function param as not living long enough](https://github.com/rust-lang/rust/iss

[2021-01-14 09:25] hellow554 commented on #80998
searched nightlies: from nightly-2020-06-01 to nightly-2021-01-01
regressed nightly: nightly-2020-10-27
searched commits: from https://github.com/rust-lang/rust/commit/4760b8fb886a3702ae11bfa7868d495b2675b5ed to https://github.com/rust-lang/rust/commit/fd542592f08ca0d1f7255600115c2eafdf6b5da7
regressed commit: https://github.com/rust-lang/rust/commit/b9a94c919b8cb09c186ff253360df91f223f6ef3

<deta

[2021-01-14 09:44] krtab opened #81004 "Non returning compilation on 1.48, 1.49, 1.50-beta and nightly-2021-01-13"
Hi!

The crate located here:
https://github.com/krtab/diff/releases/tag/infiloop
Makes cargo/rustc go to an infinite loop. (I tried for 4 hours, it went up to 80GB of RAM).

[code]

Given the amount of type-level black-magic, I'd wager there is some cycle/infinite recursion when trying to type-check.

### Meta

`rustc --version --verbose`:
[code]
I have also tried 1.50-beta and today's nightly, an

[2021-01-14 09:45] PatchMixolydic commented on #81001
`iter::Flatten` seems to be a general wrapper produced by `Iterator::flatten`. Since [it appears that the return type of `Iterator::flatten` is fixed][flat], I'm not sure if accurate size hints could be provided in the case of a slice.

[flat]: https://github.com/rust-lang/rust/blob/0506789014f9aef9ffac7d7d1e22fa72c7b85ab7/library/core/src/iter/traits/iterator.rs#L1374-L1382

Also, just a tiny nit

[2021-01-14 10:02] hellow554 commented on #80998
MCVE:

[code]

[2021-01-14 10:02] rylev commented on #80988
I believe the issue here is that in 1.49 this behaviour was reverted as a [backport to beta](https://github.com/rust-lang/rust/pull/799030) and never changed in master.

@Mark-Simulacrum since you did the previous backport, what's the right step here? Do we backport again? Shouldn't we also revert in master?

[2021-01-14 10:18] osa1 commented on #80258
Re: the code above, I have this diff:

[code]

This causes build errors in libraries like

[code]

Anyone know how can that change cause this kind of errors?

[2021-01-14 10:47] pandaman64 opened #81005 "Safety of ptr::swap is unclear"
The [`ptr::swap`](https://doc.rust-lang.org/std/ptr/fn.swap.html) function allows passed pointers to overlap, and its safety section is as follows:

It says that both pointers must be "valid," but IIUC, the definition of validity becomes unclear under Stacked Borrows.

Consider the following program (all code in this comment is checked using Miri with `MIRIFLAGS="-Zmiri-track-raw-pointers"`):
[cod