[2016-02-20 19:06] petevine commented on #31787
@alexcrichton

What's the mode gcc is using on the buildbot? That's probably the source of this error.

[2016-02-20 20:02] petevine commented on #31505
Ah, thanks - does soft-float work on x86_64 presently?

[2016-02-20 20:15] petevine commented on #30363
I'd like to suggest including the commit info in the full source snapshots so that it can be parsed by the build scripts and `rustc -vV` doesn't end up like this:

[code]

[2016-02-20 20:18] Ticki commented on #30363
Fixed by https://github.com/rust-lang/rust/pull/30622

[2016-02-20 20:42] returntoreality opened #31796 "u64 calculation incorrect on ARMv5"
I've built a cross rust compiler for armv5tel-unknown-linux-gnueabi and using this target json
[code]

and this mk/cfg/armv5tel-unknown-linux-gnueabi.mk:
[code]

I've run into problems with the regex crate, where an assertion ( assert!(start <= end);  ByteClassSet::set_range(&mut self, start: u8, end: u8) in src/compile.rs ) failed when compiling a regex, which worked fine on x86_64. I saw the has

[2016-02-20 20:53] frewsxcv commented on #29453
Implemented in #31608

[2016-02-20 21:56] bltavares commented on #8706
Triaging:

Updating the code to `rustc 1.8.0-nightly (57c357d89 2016-02-16)`

[code]

The error still does not point to the correct location:

[code]

[2016-02-20 23:17] petevine opened #31798 "`-C soft-float` silently ignored on x86"
On 32-bit `x86` compiling with `-C soft-float` produces a binary but judging from the generated assembly this option is silently ignored.

Even if it's silly to expect this to work in absence of library support, shouldn't a warning be printed at least?

[2016-02-21 00:04] jseyfried commented on #31783
There's also precedent here -- this compiles:
[code]

[2016-02-21 00:50] lilydjwg commented on #31787
@petevine my rustc is from the same place as rust-std, all with the same version. There's an "arm-unknown-linux-gnueabi" version in the std library and I tried that, it failed to link. I suppose it's because my toolchain is gnueabihf.

@alexcrichton the hello world program crashes. A page from Google says "cbz" is from thumb2, and cpuinfo indicates my CPU doesn't support that.

Adding
[code]

to m

[2016-02-21 01:10] petevine commented on #31787
For some reason I was convinced Rpi had thumb2 (Rpi2 has) as cpuinfo [doesn't](https://openbenchmarking.org/system/1405010-KH-NVIDIATEG94/NVIDIA%20Jetson%20TK1/cpuinfo) differentiate between thumb and thumb2.

You could also try those unofficial armv6 crates to see if jemalloc was built without `thumb2`.

[2016-02-21 01:12] nixpulvis commented on #31786
The colors of the links have meaning related to the type and module system. I honestly would rather not complicate this further. Documentation is visited time and time again, it's not meant to be read like a book (although it is fun to do so sometimes).

:-1:

[2016-02-21 01:24] jseyfried commented on #31779
This also can allow access to a private trait:
[code]

[2016-02-21 01:36] lilydjwg commented on #31787
@petevine there are several versions of rpi (and I don't know which is the one I have...).

I can't try the unofficial armv6 crates becausse I don't have an x86_64 rustc from the same commit and they don't provide one. My pi is not only very slow at compiling things but also has too little disk space...

[2016-02-21 01:37] Valloric commented on #22649
I can confirm the issue is still present on `rustc 1.8.0-nightly (57c357d89 2016-02-16)`. My testcase still repros.

[2016-02-21 01:58] petevine commented on #31787
You definitely have the original Rpi as it doesn't support T2.

If you found an unofficial nightly from the same day and it had library hashes matching your x86_64 ones you should be able to use them.

Or just wait until buildbot gets fixed.

[2016-02-21 02:22] alexcrichton commented on #31787
Thanks for the info @lilydjwg! Looks like our compilers for ARM are defaulting to armv7 and/or thumb2 things by default. This differs from what clang does I believe, so I've submitted https://github.com/rust-lang/rust/pull/31800 to hopefully tell gcc to emit the right kind of code.

[2016-02-21 02:24] japaric opened #31801 "missing directories in rustc-nightly-src tarball"
### STR

Download and unpack: http://static.rust-lang.org/dist/2016-02-17/rustc-nightly-src.tar.gz

It should contain the same files as 57c357d89183df173b0e42a0f745d9cfdb67fb1a but it's missing the following directories: src/bootstrap, src/build_helper, src/rustc, src/grammar, etc. The files that are present in both cases are equal, so the tarball is only missing files. Perhaps a "whitelist" needs

[2016-02-21 02:45] lilydjwg commented on #31787
@petevine I managed to get it cross compiled, but then it turned out that armv6 build does not have jemalloc:

[code]

@alexcrichton will there be built crates for me to test with? Or how can I build them without build rustc and all the stages?

[2016-02-21 02:53] Robbepop opened #31803 "add insert_get() function to BTreeSet and HashSet"
I am missing a method which I just call `insert_get(...)` in the interface of Set.

The method is a combination of `insert(...)` and the proposed `get(...)` (https://github.com/rust-lang/rust/issues/21234).

So with `insert_get(...)` I could add a new item to the Set if it isn't already contained and return a reference to it.

However, contrary to the combined calls to `insert(...)` and `get(...)`

[2016-02-21 02:55] alexcrichton commented on #31787
Unfortunately there's no great and easy way to do that right now

[2016-02-21 03:17] petevine commented on #31787
Thanks @lilydjwg , I didn't know @warricksothr had disabled jemalloc in his builds too.

[2016-02-21 04:01] arcnmx commented on #31758
As much as I would've liked `link_section` to be in the list of extern indicators, it's true that it isn't necessarily correct. See also https://github.com/rust-lang/rfcs/pull/1459, there's definitely discussion to be had about what counts as an externally reachable symbol vs internal symbols that we simply don't want removed, etc.

[2016-02-21 04:07] apasel422 commented on #31803
This would likely be covered by rust-lang/rfcs#1490.

[2016-02-21 04:24] eddyb commented on #22649
Both arrays and the expansion of `assert_eq` fail to trigger coercions.
The former is easier to fix, try changing [this call](https://github.com/rust-lang/rust/blob/c894ff6b1249fc59ce583054011cf5966c6fcc97/src/librustc_typeck/check/mod.rs#L3553) to be to `check_expr_coercable_to_type` instead.
That *should* make it so the first array element with even a partially inferrable type triggers coercions

[2016-02-21 06:51] KalitaAlexey opened #31804 "Rustc does not stop on error."
[code]
It outputs
[code]
again and again. It does not stop.

[code]

[2016-02-21 07:21] retep998 commented on #31789
Rust is canonicalizing the path in order to get a full path, and the method it uses to do so results in a verbatim path that starts with the prefix `\\?\`. It is very much a valid path in that format and doesn't seem like a bug to me.

[2016-02-21 07:55] #31505 closed

[2016-02-21 09:20] petrochenkov commented on #31779
`PrivacyChecker` is pretty buggy, the last autumn I had time to audit other parts of `rustc_privacy`, but not `PrivacyChecker` unfortunately.

[2016-02-21 09:25] jseyfried commented on #31779
I think this is more of a problem with the data (or lack thereof) that we are giving to `PrivacyChecker` rather than a bug in `PrivacyChecker` itself. The `Path` part of the qualified path is `foo::T::Assoc::f`.
All `PrivacyChecker` is given is the last private segment, `f`, which is visible.

[2016-02-21 09:40] petrochenkov commented on #31783
`DefModifiers` mostly, you take two entities with different modifiers and try to use it with `use foo::type_value`, `pub use foo::type_value`, `use foo::*` and `pub use foo::*`. If one of the modifiers lead to an error when used in such way and other doesn't, then things become interesting (you have already write out several interesting cases above). I'll try to write out all these cases methodica

[2016-02-21 09:42] jseyfried commented on #31779
`PrivacyChecker` looks like it has a lot of unnecessary complexity.

Speaking of bugs in the privacy checker, do you think this should be a privacy error (it is right now)?
[code]
I don't think it should since the trait and method are `pub` so should be visible everywhere by RFC 1422. I was a little surprised that we allowed methods from ancestors of parameter bounds, but that's probably not up fo

[2016-02-21 09:50] petrochenkov commented on #31783
Theoretically, an import with `n` segments can resolve to not even `2`, but `2`<sup>n</sup> entities, because each segment can bifurcate into two namespaces.
Thankfully, items in value namespace can't have children currently.

Note: this currently compiles, but I'm not sure it should
[code]
it allows to observe one initial step of the bifurcation mentioned above

[code]

[2016-02-21 09:59] jseyfried commented on #31783
Interesting. I think that example should definitely not compile.
To avoid the bifurcation, I think it would be a good idea consider of all segments but the last in a path to match only the type namespace, so `f` in the path should not be able to resolve to a value.

[2016-02-21 10:05] petrochenkov commented on #31779
That's a philosophical question!
I don't think it should be an error. Things accessed not directly by paths, but by field/method access with help of values and type inference - fields, inherent methods, trait methods, are normally checked only for the presence of `pub`.
So, for `f()` to be accessible from module `m`, `Parent` should either live in `m` or some of `m`'s parents, or should be marked

[2016-02-21 10:07] petrochenkov commented on #31779
Oh, and `pub` on a trait method is inherited from its trait, since trait items can't have their own publicity.

[2016-02-21 10:14] petrochenkov commented on #31783
This seems to be already done in globs - `use m::f::*;` fails with an error "Could not find `f` in `m`"

[2016-02-21 10:14] jseyfried commented on #31779
Ok, that will make fixing #18241 easier. The fundamental problem is that the core primitive in `PrivacyChecker` that determines if an item is visible in a module, `def_privacy`, checks for nameability when it should be using RFC 1422 compatible visibility, i.e. anything `pub` is visible.

Nameability only matters for paths and `PrivacyChecker` only checks the `LastPrivate` of a path for which, lik

[2016-02-21 10:18] jseyfried commented on #31779
The only reason why this is not more of a problem right now is that the rest of `PrivacyChecker` avoids calling some `pub` items `def_privacy` on a case by case basis.

[2016-02-21 10:31] petrochenkov commented on #31779
I'm pretty sure #18241 can be fixed trivially by reapplying https://github.com/rust-lang/rust/pull/28504, public traits can't inherit from private traits anymore, so the reason why https://github.com/rust-lang/rust/pull/28504 was reverted is not actual now.
If a trait is in scope (it's required for calling its methods), then this trait itself and its parents are guaranteed to either be public or l

[2016-02-21 10:36] jseyfried commented on #31779
Good point, but sometimes it's only a `public_in_private` warning and there are cases where reapplying #28504 would turn correct hard errors into warnings. This might be acceptable.

[2016-02-21 11:07] nistvan86 commented on #28843
I'm trying to build rust with 64bit MSYS2 on Windows10 with the steps described in README.MD by installing a separate MingW GCC 4.9 based toolchain. However MingW cannot be installed right now, since the MingW installer fails to download repositories.txt (this bug reappers with MingW from time to time, the last instance is here: https://sourceforge.net/p/mingw-w64/bugs/528/)

Is there any way to g

[2016-02-21 11:50] rkruppe commented on #31789
Even if the path is correct, it seems like a usability hazard. Most people, even most programmers, have never seen this path format and would be unnecessarily distracted by it. Is there an easy, robust way to omit the prefix when it's not needed? AIUI `\\?\` is redundant when the path is reasonably short and refers to a local file (rather than something on a network share).

[2016-02-21 11:54] Zoxc commented on #31789
You can always remove the prefix. It only needs to be there when calling WinAPI file functions (which is not the case here).

[2016-02-21 13:01] #31659 closed

[2016-02-21 13:45] lipanski opened #31807 "dev-dependencies.crate features leaked into dependencies.crate features"
I have a crate (let's call it `greet`) with a feature `hello` that is not enabled by default. I want to use this feature in my other crate (let's call it `bug`), but **only when running tests**. According to the [cargo documentation](http://doc.crates.io/manifest.html#the-dev-dependencies-section) this should be possible by using `dev-dependencies`.

However, I've noticed that features I enable in

[2016-02-21 13:48] lipanski commented on #31807
not sure if I should rather report it to [cargo](https://github.com/rust-lang/cargo)?!

[2016-02-21 14:35] Jascha-N opened #31808 "rustdoc: implementing trait with associated const for primitive causes panic (regression)"
Nightly rustdoc seems to panic when implementing a trait with an associated const for a primitive type.

Reduced test case:

[code]

Message:
```thread '<unnamed>' panicked at 'called `Option::unwrap()` on a `None` value', ../src/libcore\option.rs:330```

## Meta

[code]

Backtrace:
[code]

[2016-02-21 15:03] bluss commented on #31780
it's expected (the change is tagged relnotes). It also affects people that use JE_MALLOC_CONF to tune jemalloc options.

[2016-02-21 16:07] Jascha-N commented on #31808
The last nightly version that documented the above code successfully is:

[code]

I've narrowed the breakage down to one of the following commits: https://github.com/rust-lang/rust/commit/a085e3bd456c2f8082aad0ce020a57e99fb77eb7, https://github.com/rust-lang/rust/commit/938202c81f309d78925516e13f119a5f1112a62b, https://github.com/rust-lang/rust/commit/5c98ae34a6764deb60f9311cdeca6c7df328cbc8.

[2016-02-21 16:19] eddyb commented on #30123
@arielb1 Coming back to this, I remember that you removed some metadata code for saving inherent methods: wouldn't they be picked up by resolve, instead of letting typeck do UFCS resolution?

[2016-02-21 16:43] #31807 closed

[2016-02-21 17:37] #31801 closed

[2016-02-21 20:30] nagisa commented on #10184
triage: I-nominated

---

for P-high. Apparently this was at some point P-high but got lower over time. This seems pretty important for correctness.

[2016-02-21 22:05] durka opened #31812 "better diagnostic for implicit Box<Trait + 'static>"
[This](http://is.gd/A3Uyx7) doesn't compile because `Box<Trait>` means `Box<Trait + 'static>`. It would be nice if there was a note to that effect, because otherwise it's not obvious at all where the lifetime bound comes from.

[2016-02-21 22:16] petevine commented on #31796
You could try emitting IR and then use your ARM system's llc to produce a binary. (looking at IR form Rust and Clang might reveal the problem)

[2016-02-21 22:53] petrochenkov commented on #31783
After some experimenting, I think there are only two basic scenarios, and there's a simple scheme covering both concrete imports `foo::bar`, glob imports `foo::*` and even something highly hypothetical like `foo::[Rr]ege[x]+` (I assume a future-compatible setup in which private imports are proper items, globs can import private items etc.)

1) `use`

Isolated `use foo::bar` or `foo::*` is "desugar

[2016-02-21 23:26] jseyfried commented on #31783
Interesting, I like these semantics.
I was envisioning something similar except without "decrementing" the visibilities. `pub use foo::[pattern];` under your semantics would be equivalent to `pub use foo::[pattern]; use foo::[pattern];` under my semantics since if a name is imported twice and both imports refer to the same item, the more visible one wins.

[2016-02-21 23:55] jseyfried commented on #31783
After #31726, it will be straightforward to implement the setup you describe (i.e. private imports are proper items, globs can import private items, unused ambiguous glob-imported names are OK, multiple imports of the same item are OK, items and named imports can shadow globs).

The current plan seems to be for the [RFC](https://github.com/nrc/rfcs/tree/name-resolution) proposing these changes to

[2016-02-22 00:52] apasel422 commented on #27732
Right now, because `T` does not implement `Unsize<T>`, one cannot use `CoerceUnsized` to support optional coercions in a generic context. (My use case is supporting DSTs with the placement API). Since `&T` can trivially be coerced to `&T`, would it make sense to add the identity impl?

[2016-02-22 06:33] eddyb commented on #31804
cc @nrc I think this is actually a feature.

[2016-02-22 06:39] KalitaAlexey commented on #31804
@eddyb What do you mean by feature? The Compiler does not stop. It spins three cores.

[2016-02-22 06:41] eddyb commented on #31804
@KalitaAlexey so it does this in a loop? My bad, I didn't understand.

[2016-02-22 06:45] eddyb opened #31815 "Closure return type not deduced from bounds if the type is wrapped."
In a structure, for example:
[code]

AFAICT, we don't deduce that `call_wrap::<$R>(|| &s) expects Wrap<&str>` implies `&s expects &str`, only `&s expects $R`.

[2016-02-22 07:24] petrochenkov commented on #31783
Sure, if you are already working on it, then why wait for macros 2.0, @nrc can review the RFC and ensure it's compatible with the new macro system.

[2016-02-22 08:11] sylvestre commented on #31328
I can confirm that it fixed the test failure on Debian i386 and the build is now green on this arch.
Thanks

[2016-02-22 10:48] GuillaumeGomez commented on #31812
What's even more strange is that it doesn't span an error code as well. As far as I know, libborrowck is built after libsyntax so it should have error codes. The code which spans these messages is here `https://github.com/rust-lang/rust/blob/master/src/librustc_borrowck/borrowck/mod.rs#L1035-L1039`. I'm going to take to see why there is no error code in here.

[2016-02-22 11:02] GuillaumeGomez commented on #31788
Strange error. It comes from [here](https://github.com/rust-lang/rust/blob/master/src/librustc/middle/lang_items.rs#L206-L209) where it checks all objects definition. It is possible to also add from where this definition comes from. I'm taking a look.

[2016-02-22 11:06] arielb1 commented on #31812
This is not specific to trait objects: borrowck errors don't report a lifetime origin - the lifetime origin is not available at the stage borrowck runs.

For example:

[code]

[2016-02-22 11:07] arielb1 commented on #31812
@GuillaumeGomez

borrowck is going to be rewritten pretty soon.

[2016-02-22 11:17] GuillaumeGomez commented on #31812
I'll check once it'll be done then.

[2016-02-22 11:44] arielb1 commented on #31815
I don't think the wrapper is involved here (that's it, unlike the somewhat-similar #20841).

In the first example, you are actually invoking `call::<&String, _>` and the coercion is done after the call.

[2016-02-22 11:47] retep998 opened #31816 "`-msvc` distribution has unused import libraries"
Currently in the binary distributions for the `-msvc` packages, the `bin` folder has import libraries (`.dll.lib`) for all the DLLs there even though they are never linked to and could be removed to save some space.

[2016-02-22 11:57] eddyb commented on #31815
@arielb1 Oops, I reduced the testcase incorrectly. I'm not sure how to get this to cause issues without *some sort* of wrapper. Maybe the MIR can show where the coercion happens?

[2016-02-22 12:00] arielb1 commented on #31815
@eddyb

I think I understand this. The type parameters passed to `call` are still type-variables when the closure is checked, which means that the fn obligation is `FnOnce() -> _`.  As `deduce_expectations_from_expected_type` is keyed on the obligation, it only finds the `FnOnce() -> _`.

The reason the coercion works without a closure is that we provide the "expected argument types". However, the

[2016-02-22 12:03] groucho1890 opened #31817 "Choice of philosophers is offensive"
The choice of philosophers in section 3.2 of the Rust book is extremely offensive.

A few examples: Butler has publicly categorized the terrorist group Hezbollah as a "progressive social movement". Foucault has been a strong supporter of the radical Islamic revolution in Iran. The "philosophy" of Karl Marx is one of violence and divisiveness which has led and continues to lead to death and poverty

[2016-02-22 12:09] bluss commented on #31817
Please see the nightly version of the book before reporting bugs: http://doc.rust-lang.org/nightly/book/

There are no philosophers in the book in the current version. Thank you anyway!

[2016-02-22 12:09] #31817 closed

[2016-02-22 13:07] GuillaumeGomez commented on #31788
@Zoxc: Could you provide me an example to (so I can add it in compile-fail) please?

[2016-02-22 13:09] GuillaumeGomez commented on #31776
I'm not sure a RFC is needed a small that little. cc @pnkfelix

[2016-02-22 13:11] GuillaumeGomez commented on #31798
I think it might be a good idea to prevent users in case this option cannot be run.

[2016-02-22 13:57] Ketsuban commented on #29584
I believe I have an explanation.

The `#[doc(hidden)]` annotation on the modules ensures no documentation is created for the module or any traits or similar contained within it. However, when assessing whether `impl`s should be hidden on *other* pages the documentation compiler considers *only the hiddenness of the `impl` itself*, not its containing module.

I suspect the existing behaviour is wor

[2016-02-22 14:01] retep998 commented on #31817
Clearly we should never use humans in the documentation as someone will always take offense at whatever selection of humans we have. There were earlier issues also taking offense at various choices of pronouns and genders for the philosophers.

In my opinion the only real solution is to use cute fuzzy rabbits which nobody could possibly take offense at.

[2016-02-22 14:18] rkruppe commented on #29584
@Ketsuban Thanka for tracking this down! You are right that impls in private modules should generally be displayed since they are public in a sense. But I think the current state of affairs is very unsatisfying, since Rustdoc generates broken docs for perfectly valid code. Shouldn't it at the very least somit links that will wind up dead? And if both trait and implementing type are dic(hidden), as

[2016-02-22 14:28] Ketsuban commented on #29584
Putting my real-world-concerns hat on, I think this is really just a corner case where `pub` and “public” don't coincide. The Right Thing is to propagate `#[doc(hidden)]` from traits to `impl`s of those traits; I don't know how difficult that is to do, so I opted for recommending a simple fix which I'd confirmed to work.

[2016-02-22 14:57] GuillaumeGomez commented on #29329
I'm going to take a look as soon as I can.

[2016-02-22 15:01] bluss commented on #27336
@nikomatsakis I know the lang team didn't see any future in this proposal, will you put that on record in the issue :smile:?

One example where this seems to be the only way out is this concrete example of API evolution in libstd.

`Option<T>` implements `PartialEq` today, but we would like to extend it to `PartialEq<Option<U>> where T: PartialEq<U>`. It appears this feature can solve the type inf

[2016-02-22 15:02] #21939 closed

[2016-02-22 15:15] frewsxcv opened #31820 "Utilize `if..let` instead of single `match` branch"
https://github.com/rust-lang/rust/blob/98a59cf57e02b6e6a5a3bd74eb47b1422eaacc53/src/librustc_trans/trans/type_of.rs#L320-L323

More info: https://doc.rust-lang.org/book/if-let.html

[2016-02-22 15:17] eddyb commented on #31820
There are `match`es like this *all over the place*. I just replaced some of the ones in `trans` in a branch I'm working on atm.

[2016-02-22 15:57] ticki opened #31821 "Documentation of libstd is lacking of comments on trait implementations"
Currently, a lot of the implementation on types in libstd is unexplained, and the behavior of these are not always obvious.

For example,`PartialOrd<char>` for `char` is unexplained. Since the exact behavior can unobvious in this case, it should be properly documented (that it compares the unicode codepoints, based on their value). This is just one of the many undocumented implementations in libst

[2016-02-22 15:58] steveklabnik commented on #31821
This is because `rustdoc` currently hides them, even if they're there.

[2016-02-22 15:58] steveklabnik commented on #31821
(I don't know when this was changed but it was long ago, I think when @alexcrichton was fixing up rustdoc)

[2016-02-22 16:41] Ticki commented on #31821
No, they're not hidden. Look at `impl Rem<u32> for u32` in https://doc.rust-lang.org/std/primitive.u32.html.

They simply lack of documentation, not hidden.

[2016-02-22 16:41] bluss commented on #31821
Docs on impl methods are hidden, doc on impl block is not. Some impls contain docs that need to be moved to the impl block.

[2016-02-22 16:45] alexreg commented on #27730
I agree with @eddyb's comment about using a Cell-like API for `NonZero` (and other types). It makes semantic sense.

[2016-02-22 16:49] durka commented on #31812
I'll close this for now then as it seems impractical to fix at the moment, until the borrowck architecture changes.

[2016-02-22 16:49] #31812 closed

[2016-02-22 16:49] steveklabnik commented on #31821
Ah.

I would still prefer that they just be shown, personally.

[2016-02-22 16:52] durka commented on #31820
Clippy's [`single_match` lint](https://github.com/Manishearth/rust-clippy/wiki#single_match) should help finding them.

[2016-02-22 17:16] petevine commented on #31798
Provided it's not too difficult I probably wouldn't want to tread on your patch anyway ;)
What exactly were you suggesting?

[2016-02-22 17:22] Ticki commented on #31821
Ah, okay. Though, the docs on impl blocks certainly are missing.

[2016-02-22 17:34] GuillaumeGomez commented on #31798
Just to provide a short code sample in here to help to save some time. :)

[2016-02-22 17:56] petevine commented on #31798
I know, it was a pun.  Are we talking about a warning or an error?

[2016-02-22 17:59] GuillaumeGomez commented on #31798
My bad! :p

Since it's unavoidable, displaying an error which says something like "this option is not available on this computer" just before leaving seems fine to me.

Do you confirm @Manishearth?

[2016-02-22 18:07] Manishearth commented on #31798
I suggest we add a warning, not error. Often such flags are passed down by the build system with a "make it work if possible" intention, so we shouldn't crash.

[2016-02-22 18:09] nxnfufunezn commented on #31820
or maybe this would help
[code]

[2016-02-22 18:16] dylanede commented on #13231
I'm writing a library that depends on OIBIT. In particular, it depends on the following coding pattern working:
[code]
This works on nightly at the moment. Is this relying on any behaviour that is disallowed by the intended functionality? I.e. will this break by the time this is stabilised? Thanks.

[2016-02-22 18:50] alexcrichton commented on #29497
@pitdicker perhaps you could draw up a list of the possible implementation strategies for these functions? That'd also help in terms of weighing the pros/cons of each strategy and we could get a good idea of which terminology is associated with what. So far it sounds like `IFileOperation` may be the best option here, but I'm personally at least not following what `FILE_FLAG_DELETE_ON_CLOSE` would

[2016-02-22 18:55] nagisa commented on #31798
It is a bug we ignore the option and we should fix that instead. Software float emulation is possible regardless of target, but might need some extra libraries (e.g. `-lsoft-fp`) being linked in.

[2016-02-22 19:07] nagisa commented on #31789
`UNC\server\share\something` is not the same path as `\\?\UNC\server\share\something`.

[2016-02-22 19:07] infinity0 commented on #31328
Also fixed on my [rust-nightly](https://launchpad.net/~infinity0/+archive/ubuntu/rust-nightly/+packages) ubuntu builds.

However, I'd suggest that we file this to valgrind even if we're "not sure" if it's a bug, since otherwise this is going to get lost to history - the issue is "closed" and nobody looks at these afterwards.

[2016-02-22 19:23] nagisa commented on #31780
Presence of certain symbols existing by default shouldn’t be covered by our stability policy IMO, because otherwise I could just `link_name` to `backtrace_print` and we’re are never getting rid of libbacktrace in every rust binary by default, for example.

[2016-02-22 19:56] pitdicker commented on #29497
To be fair `IFileOperation` is a bit to diffcult for me to implement. It should "just work" when removing directories. But as far is I can see it is an entirally different kind of API. For example it does not work on handles but `IShellItem`s, and is mostly made for gui applications.

The steps I proposed are more ugly. They use the same simpler but more low-level APIs as the rest of the standard

[2016-02-22 21:07] nikomatsakis commented on #30942
OK, so there's probably something horribly wrong with it, but the [rustypop crate][] now builds without any shift/reduce conflicts. I haven't actually tried RUNNING the code it produces, of course, and I have all empty actions, so it will only yield a "true/false" result. Plus I need to adapt the rustc tokenizer. But it seems like progress. :)

Enough progress that it may be possible to start para

[2016-02-22 21:09] nikomatsakis commented on #30942
Oh, I should mention that it generates a 500MB `.rs` file. Definitely need to do some work reducing the size of LALRPOP's output (@fhahn has actually been pursuing the most immediately obvious strategy, and I've been meaning to implement various other cool optimizations that I've read about...)

[2016-02-22 21:13] lukebitts opened #31823 "Compiler panic."
I was refactoring some code when this happened. I don't know what exactly causes it so I'm attaching the project. It's not really big, 4 files, 2 are empty and the other is the lib file which just re-exports things. The code probably shouldnt work even without the compiler panic since I was just copy pasting before fixing the dependencies.

Removing `use super::*;` from the quaternion.rs file "fix

[2016-02-22 21:16] nikomatsakis commented on #30942
Hmm, now I see some more conflicts. So maybe premature. But still, getting close I think. :)

[2016-02-22 21:20] alexcrichton commented on #31767
Note that the FCP for this should also take into account that the stable compare_and_swap should be deprecated

[2016-02-22 21:26] Amanieu commented on #31767
I'm having second thoughts about the return type of `compare_exchange_weak`. `(bool, T)` doesn't seem very user-friendly, maybe we could replace it with an enum?

[2016-02-22 22:00] huonw commented on #31767
Hm, is there a reason that `compare_exchange_weak` doesn't/can't return `Result`? i.e. the method on the various `Atomic*` types is

[code]

It seems we forgot about this option on the RFC. Thoughts, @rust-lang/libs?

[2016-02-22 22:03] Amanieu commented on #31767
I don't think a `Result` is appropriate in this case since `T` is not an error type.

[2016-02-22 22:14] alexcrichton commented on #31767
Hm, arguably *both* methods could return `Result<T, T>` perhaps? `Ok(T)` means that it was swapped out and `T` was previously there, whereas `Err(T)` would mean that it wasn't swapped out and `T` was the value previously there.

That'd at least unify the APIs, but @Amanieu is right in that `.unwrap()` may not work or `try!` in general because `T` isn't a first-class error. We *could* add a wrapper

[2016-02-22 22:32] Amanieu commented on #31767
I agree with @alexcrichton that both methods should return the same enum type for consistency. Note that this would require a breaking change the `atomic_cxchg` intrinsics, which will affect anyone using them directly. However, I still think we should use a custom enum rather than `Result`.

For reference, here is what I expect a typical `compare_exchange_weak` loop to look like (with the current

[2016-02-22 22:37] Diggsey commented on #29497
Having looked at the IFileOperation, I agree with @pitdicker that it doesn't seem like the right kind of API for low-level filesystem operations: it's very much oriented towards interactive use. (The .net framework doesn't use it either, but then `Directory.Delete` suffers from the exact same problem!)

I'm starting to think that maybe just using the current implementation and retrying on failure

[2016-02-22 22:52] huonw commented on #31767
The intrinsics do not need to change, the exposed functions can wrap the raw return values up into something more Rusty, like we do for checked arithmetic. This approach is in fact significantly easier than getting the compiler to construct the right `enum` internally. (Additionally, changing them is entirely unproblematic, they're unstable for a reason)

---

I don't think anyone would use `unwra

[2016-02-22 23:19] alexcrichton commented on #31767
I personally recommended `Result` for a few reasons:

* We've backed away from custom enums in the past before (towards `Result`)
* While this isn't necessarily a case for `Result`-style manipulation, the suite of methods on `Result` are quite nice
* `Result` is ubiquitously known, ergonomic to use, and doesn't add any extra overhead in terms of what you cognitively need to understand.

I suspect

[2016-02-23 01:13] zetok opened #31826 "rustdoc doesn't generate proper sublists from markdown"
[code]

Reproducible: Always

Steps to reproduce:
1. `rustdoc -o ./ file.md`

Content of `file.md`:
[code]

rustdoc output:
![rustdoc output](https://cloud.githubusercontent.com/assets/3148759/13238023/1a6a9c8c-d9c8-11e5-8f2f-6959916115ae.png)

↓ sublists
http://spec.commonmark.org/dingus/?text=-%20a%0A%20%20-%20b%0A%20%20%20%20-%20c%0A%20%20%20%20%20%20-%20d%0A%20%20%20%20%20%20%20%20-%20e%0A%20%

[2016-02-23 04:28] andrewrynhard opened #31829 "Arithmetic overflow in function but not in main"
I get the error
[code]

with `rustc 1.6.0 (c30b771ad 2016-01-19)`

at runtime with the following code:
[code]

The complete output is
[code]
As you can see, the loop works fine in `main` but acts strange in a `fn`.

[2016-02-23 05:01] alexcrichton commented on #31829
Perhaps it's because the arguments to `this_fails` are switched?

[2016-02-23 05:12] andrewrynhard commented on #31829
Wow. I should get some sleep. Thank you.

[2016-02-23 05:12] #31829 closed

[2016-02-23 05:17] #14077 closed

[2016-02-23 05:25] frewsxcv commented on #31821
Somewhat related: https://github.com/rust-lang/rust/pull/23271

[2016-02-23 05:44] mitaa commented on #31821
Related: #24838

[2016-02-23 05:48] emoon commented on #28794
cc @emoon

[2016-02-23 07:06] jroesch opened #31833 "Potential infinite loop/exponential slow down on infinite type"
This program causes the compiler to loop for 30+ seconds (I killed it before waiting). I reduced this from the head of [hubris](https://github.com/hubris-lang/hubris) which runs for several minutes while consuming 98% of my CPU.

[code]

My current best guess is that there is a bug reporting that this type is infinite and then some processing on it loops forever. If you remove one of the cases fro

[2016-02-23 07:59] Yoric commented on #31504
Ok, fix confirmed: https://travis-ci.org/fxbox/thinkerbell/jobs/111150793

[2016-02-23 08:04] Yoric commented on #31603
Fixed by #31504.

[2016-02-23 08:04] #31603 closed

[2016-02-23 08:40] kajalsinha commented on #29931
hi,

I am learning rust and when I run the attached programs with parameter 100 million in Point size, Rust takes much more memory in vector. Rust compiler generated program (-O) takes 4.5 GB RAM whereas clang++ generated program (-O) takes 3GB.

I tried a swift program as well which tool 3 GB around (same as C++).

The time command output for rust and c++ respectively is:

[Rust 1.5]
MacBook-Pro:

[2016-02-23 09:22] Ticki commented on #29931
@kajalsinha You might want to specify the capacity when you create the vector (see `with_capacity`).

[2016-02-23 09:37] sylvestre commented on #31328
Sure, go ahead @infinity0 !

[2016-02-23 09:38] LukasKalbertodt opened #31836 ""ICE: unprintable span" in assert! macro when passing ()"
[This code](http://is.gd/ur9rtU):

[code]
results in
[code]

[2016-02-23 09:55] arielb1 commented on #31836
Fixed in nightly.

[2016-02-23 09:55] #31836 closed

[2016-02-23 10:18] LukasKalbertodt commented on #31836
Oops, my bad for not testing nightly... Thanks

[2016-02-23 10:41] VladUreche commented on #21221
@nikomatsakis @jseyfried Should we close this bug, or do we want to keep it open for the [extensions that could be added](https://github.com/rust-lang/rust/pull/31674#issuecomment-185989502)?

[2016-02-23 10:45] jseyfried commented on #21221
I think we should close it

[2016-02-23 11:12] #29548 closed

[2016-02-23 12:17] tomaka commented on #27732
I'm not familiar with how this works, but shouldn't the `T` of `CoerceUnsized` be `T: ?Sized`?
Right now `T` is required to be `Sized`, which doesn't make sense for me. [Example](http://is.gd/Sj2tdT).

[2016-02-23 12:27] vlastachu commented on #31826
Hello, I'm absolutly noob and there is a bit of research:

1. rustdoc renders markdown by own [markdown implementation](https://github.com/rust-lang/rust/blob/master/src/librustdoc/html/markdown.rs)
2. That implementation is set of bindings to [hoedown (C lib)](https://github.com/hoedown/hoedown)

My plan for the evening:

1. Check rustdoc html
2. Check isolated html::markdown output
3. Check hoed

[2016-02-23 12:39] retep998 opened #31840 "Nightly `-pc-windows-gnu` missing DLL crash"
First found on appveyor:
https://ci.appveyor.com/project/retep998/winapi-rs/build/1.0.724/job/qiwg0jsw19fyb0b4
It appears that the `libstdc++-6.dll` which `rustc_llvm-fd663c41.dll` depends on has picked up a dependency on `libwinpthread-1.dll`.
Issue does not affect `-msvc` targets.
Last known good version was `rustc 1.8.0-nightly (c894ff6b1 2016-02-20)`.
First version where issue was observed  `r

[2016-02-23 12:57] retep998 commented on #31840
Welp, it's just a missing DLL.
![](http://i.imgur.com/FCgJtfQ.png)

I'm also tempted to blame https://github.com/rust-lang/rust-buildbot/commit/8faa0112e7a1dfa3d09defbbf84d051d666c1c86

[2016-02-23 13:02] arielb1 commented on #27732
@tomaka

You implement `CoerceUnsized` on pointer types, not on DST types.

[2016-02-23 13:06] retep998 commented on #31840
It is specifically `libstdc++-6.dll` which is to blame.
![](http://i.imgur.com/AAlXLnA.png)

[2016-02-23 14:07] petrochenkov commented on #31776
Moreover, the "visibility has no effect inside functions or block expressions" statement is not correct, `pub` can have effect inside of functions/blocks.

Example 1: Rustdoc.

Rustdoc wraps code snippets in `fn main`, so `pub` can't be used in examples in documentation.

Example 2: Inherent methods.

[code]

Example 3: Pulling a function local type out of function through a public impl

[code]

E

[2016-02-23 14:09] petrochenkov commented on #31776
I agree, that the examples above are contrived, but they are still possible.
My conclusion is that "`pub` in a function/block" may be a clippy lint, but it shouldn't be a hard language rule.

[2016-02-23 14:29] ollie27 opened #31841 "Incorrect integer casts for some Windows APIs"
In a few places in `std` there are casts from `usize` to `u32` or `i32` for Windows APIs which causes breakage on 64-bit.

Some examples I have found so far:
- [x] [Files/Pipes](https://github.com/rust-lang/rust/blob/6ffd7cd1664b70fed34861df3957ddee87ec9ad1/src/libstd/sys/windows/handle.rs#L69) (#31825)
- [x] [Networking](https://github.com/rust-lang/rust/blob/6ffd7cd1664b70fed34861df3957ddee87ec9

[2016-02-23 14:56] infinity0 commented on #31328
Alright I filed https://bugs.kde.org/show_bug.cgi?id=359705 feel free to add details, I'm not an expert in this topic.

[2016-02-23 15:51] dileepbapat commented on #31820
can I pick this up?

[2016-02-23 16:00] returntoreality commented on #31796
I tried using llc on the llvm ir, but it failed:
llc: u64_test.ll:410:80: error: missing required field 'tag'
!203 = !DILocalVariable(name: "h", scope: !202, file: !169, line: 4, type: !179)

These are the respective llvm-irs:
[rust_u64.ll.txt](https://github.com/rust-lang/rust/files/142918/rust_u64.ll.txt)
[clang_u64.ll.txt](https://github.com/rust-lang/rust/files/142920/clang_u64.ll.txt)

[2016-02-23 16:07] vadimcn commented on #31840
Did the mingw toolchain get changed from "win32" to "pthreads" flavor?

[2016-02-23 16:09] frewsxcv commented on #31820
@dileepbapat Go for it! Let us know if you need any help

[2016-02-23 16:14] Stebalien commented on #31823
I can't reproduce on `rustc 1.8.0-nightly (c92e910c1 2016-02-21)` (linux, x86_64).

[2016-02-23 16:44] Zoxc commented on #31789
@nagisa For UNC paths only `?\` should be removed

[2016-02-23 16:48] pnkfelix commented on #31776
triage: I-nominated

(I suspect this is a P-medium issue.)

I suspect we can do this without an RFC (though I could imagine some of the details about interaction with private-in-public checking may lead to unanticipated results that could justify one...)

[2016-02-23 17:00] dylanede commented on #28625
Just bumped into this problem when trying to transmute a reference into a `* const ()`. Is there a known workaround?

[2016-02-23 17:35] nikomatsakis opened #31844 "Tracking issue for specialization (RFC 1210)"
This is a tracking issue for specialization (rust-lang/rfcs#1210).

Major implementation steps:

- [ ] Land https://github.com/rust-lang/rust/pull/30652 =)

Unresolved questions from the RFC:

- Should associated type be specializable at all?
- When should projection reveal a `default type`? Never during typeck? Or when monomorphic?
- Should default trait items be considered `default` (i.e. specia

[2016-02-23 17:36] petrochenkov opened #31845 "Regression (?) in name resolution of items defined in functions/blocks"
This code compiles on nightly, but is rejected by stable and beta compilers.
On nightly items defined in a block are visible from all modules defined in this block.
Such "pervasive" visibility is quite unusual and I suspect it was introduced unintentionally.
[code]

cc @jseyfried

[2016-02-23 18:28] alexcrichton commented on #31840
Yes it looks like the wrong libstdc++-6.dll is getting slurped up by `make-wind-dist.py`. On the bots there are two copies installed:

[code]

The former is the one we want to ship, where the latter is what we're accidentally shipping (verified by just checking the md5sum of what's on the bots and what's installed locally). I don't understand why we're slurping up this copy, however. When the `dis

[2016-02-23 18:53] alexcrichton commented on #31840
Whelp, yet another reason to burn mingw with fire:

[code]

Looks like mingw is doing us a favor and prepending to path for us! The other python installed on the system is:

[code]

Which must also explain why we didn't run into this before. Good lord the pain with mingw never ends...

[2016-02-23 18:55] nikomatsakis commented on #31265
In private communication, @BurntSushi suggested the [bench_sherlock benchmark][1] for regex. He also wrote:

[1]: https://github.com/rust-lang-nursery/regex/blob/master/benches/bench_sherlock.rs

[2016-02-23 18:58] petevine commented on #31796
I think it could be related to the datalayout; my `armv7` rustc and your `armv5` clang have:

`"e-m:e-p:32:32-i64:64-v128:64:128-a:0:32-n32-S64"`
`"e-m:e-p:32:32-i64:64-v128:64:128-a:0:32-n32-S64"`

which produces correct results, whereas the custom target:
`"e-m:e-p:32:32-f64:32:64-v64:32:64-v128:32:128-a:0:32-n32-S32"`

Should the different alignment values lead to this error? You could try putt

[2016-02-23 19:04] alexcrichton commented on #31840
Should be fixed by https://github.com/rust-lang/rust-buildbot/commit/77185c83bc8ee100e31aac57a4bf075d35c79d1f

[2016-02-23 19:04] #31840 closed

[2016-02-23 19:30] alexcrichton opened #31847 "Tracking issue for accepting unstable flags in stable compilers"
This issue is intended to track the process of fixing rustc to not accept unstable flags on stable compilers. It's somewhat of a historical mistake that this was allowed, and we're attempting now to repair the logic to disallow unstable flags on the compiler. Today the compiler has a few unstable flags:
- `-Z` - all debugging options in the compiler are intended to be unstable
- `--pretty` - the p

[2016-02-23 19:31] bluss opened #31848 "No deprecation warning for method call on deprecated type alias"
The following should emit a deprecation warning (`feature(deprecated)`)

[code]

Type aliases can emit warnings, like in the following example, but I think it should warn as the use site too (marked "no warning"):

[code]

[2016-02-23 19:32] bluss commented on #31848
cc @petrochenkov

[2016-02-23 19:33] asajeffrey opened #31849 "Typechecking memory use"
Typechecking the rust library at https://github.com/asajeffrey/wasm/tree/typechecking-blowup uses more than 10G of memory. The program uses a lot of nested generic traits and lifetime polymorphism. The timing details are:

[code]

at which point the process starts using large amounts of time and memory.

The same behaviour happens with nightly-2015-12-01, so this is not part of the recent rewrite

[2016-02-23 19:35] #21221 closed

[2016-02-23 19:37] Zoxc commented on #31847
Can -C link-args, -C llvm-args join this list? Both need a replacement which acceps spaces (#30947)

[2016-02-23 19:38] durka commented on #27245
How is this going? Is anything on fire yet?

[2016-02-23 19:39] alexcrichton commented on #31847
@Zoxc for now, no, those are both stable flags and this is just targeted at unstable flags.

[2016-02-23 19:41] nikomatsakis commented on #27336
@bluss I HAVE been dubious of this feature, but I'm been slowly reconsidering. @aturon is supposed to be doing some exploration of this whole space and writing up some detailed thoughts. I actually started rebasing @jroesch's dead branch to implement the desired semantics and making some progress there too, but I've been distracted.

One advantage of finishing up the impl is that it would let us e

[2016-02-23 19:41] nikomatsakis commented on #27336
That said I still have my doubts :)

[2016-02-23 19:42] nikomatsakis commented on #27336
Another example where this could be useful -- basically the same example as petgraph -- is adding allocators to collections in some smooth way.

[2016-02-23 19:45] petrochenkov commented on #31848
This is probably caused by the same reasons as https://github.com/rust-lang/rust/issues/30209

[2016-02-23 19:51] nikomatsakis commented on #31849
cc me

[2016-02-23 20:01] bstrie commented on #5258
Triage: still relevant, though rustbuild may be upon us at last to free us from our woes: https://github.com/rust-lang/rust/issues/31590

[2016-02-23 20:39] vlastachu commented on #31826
Well, after all hoedown shows the same result.

[code]

You can use 4 spaces or tabs for expected result. ~~Also it may be necessary to inform author of hoedown, but I am not sure that this is bug, because markdown is not standardized.~~

I found very close [issue](https://github.com/hoedown/hoedown/issues/117) in hoedown. There is discussion about CommomMark support https://github.com/hoedown/hoe

[2016-02-23 20:47] steveklabnik commented on #31826
Thanks for the investigation @vlastachu ! I do think this should be closed as an upstream issue.

I would like to see rustdoc use a commonmark-compatible tool, but we haven't gotten the chance to do it yet. That's the only way I see this being resolved. Thanks again!

[2016-02-23 20:47] #31826 closed

[2016-02-23 21:30] durka commented on #31847
For myself I use **`-Z trace-macros`** and **`--pretty=expanded`** for debugging macros, though all need improvements in their output.

I also use **`-Z no-trans`** for a faster compile-edit cycle, so I can fix all the errors before even trying the slow translation/linking steps. And I use `cargo clippy` for extra lints, which uses this flag internally (I think `cargo check` does too). Something l

[2016-02-23 21:34] returntoreality commented on #31796
I've recompiled rust and the test program with the "e-m:e-p:32:32-i64:64-v128:64:128-a:0:32-n32-S64" datalayout, unfortunately with the same result.

[2016-02-23 22:01] bltavares commented on #10038
Triaging: Would this be a task easy to mentor someone?

[2016-02-23 22:32] ruud-v-a opened #31852 "Can access invalid memory and cause sigsegv using safe Rust"
When working on a crate I discovered the following issue. I did not succeed in making a minimal example that reproduces on play.rust-lang.org, so let me just link to the actual code:

 * `git clone -b rust-bug https://github.com/ruud-v-a/rx`
 * `cd rx`
 * `cargo test this_causes_sigsegv -- --nocapture`
 * [This is the code that exploits the bug](https://github.com/ruud-v-a/rx/commit/6f3cc4f61c66b0

[2016-02-23 22:39] ruud-v-a commented on #31852
Oh, and rustc version: `rustc 1.8.0-nightly (75271d8f1 2016-02-09)`. I updated to `rustc 1.8.0-nightly (c8fc4817d 2016-02-22)` and the issue is still present.

[2016-02-23 22:43] petevine commented on #31796
I've compiled your rust IR file with a compatible llc:

`./llc -march=arm -float-abi=soft -mattr=+v5te,+soft-float rust_u64.ll`

If you don't see any problems with that command line, you can try the following on your ARM system:
[code]
[rust_u64.s.txt](https://github.com/rust-lang/rust/files/143566/rust_u64.s.txt)

[2016-02-23 23:46] alexcrichton commented on #31852
After reducing this, it looks like the bug is that the compiler accepts this:

[code]

The `i32` implementation is allowed to assume it's only given `'static` content, when in fact we can feed in anything!

[2016-02-23 23:48] alexcrichton commented on #31852
In your code specifically @ruud-v-a  the [`Observable::subscribe` method](https://github.com/ruud-v-a/rx/blob/1d45f90383877486207f9233e5efa94e7f49dc23/src/observable.rs#L63-L64) requires just an `O` parameter whereas [`SubjectObservable::subscribe`](https://github.com/ruud-v-a/rx/blob/1d45f90383877486207f9233e5efa94e7f49dc23/src/subject.rs#L86) adds on `'static`

[2016-02-23 23:50] alexcrichton commented on #31852
triage: I-nominated

This seems familiar as in we've had it reported before, but... I thought we fixed it with a bunch of well-formededness RFCs? Seems good to get visibility though!

cc @rust-lang/compiler

[2016-02-23 23:57] alexcrichton commented on #31852
Aha! and @nikomatsakis pointed out on IRC that this is https://github.com/rust-lang/rust/issues/18937, so I'll just close in favor of that. Thanks for the report though @ruud-v-a!

[2016-02-23 23:57] #31852 closed

[2016-02-24 00:06] aturon commented on #31844
Some additional open questions:
- Should we revisit the orphan rules in the light of specialization? Are there ways to make things more flexible now?
- Should we extend the "chain rule" in the RFC to something more expressive, like the so-called "lattice rule"?
- Related to both of the above, how does negative reasoning fit into the story? Can we recover the negative reasoning we need by a clever

[2016-02-24 00:07] returntoreality commented on #31796
It was a bit trickier, but I managed to get it to link and run and it reports
Hello, world! 3470322685770408467
This suggests that this is a llvm problem. I could  probably build correct binaries using "your" llvm. What version/setup do you have?
Thanks for your help!

[2016-02-24 00:08] nagisa opened #31853 "[MIR] Variable dropped before use"
[code]

will result in

[code]

This is likely to be caused by me.

[2016-02-24 00:11] Zoxc commented on #31788
@GuillaumeGomez I'd require error to give me the source location of 2 definitions before considering this fixed (or if that is not possible, the full path to the item implementing the language item in the external crate)

[2016-02-24 00:20] petevine commented on #31796
Haven't we just exonerated llvm and implicated your cross-toolchain?

I simply used llvm 3.8 from my last Rust build to match your built-in stuff.

[2016-02-24 00:31] comex opened #31854 "Allow linking against dylibs in LTO mode"
I would like to build a binary that links against some crates using LTO and others dynamically.  (Why?  Because I have a dynamic library that contains all of LLVM and is 30MB, slowing down linking.  Note that this is not LLVM's own dynamic library, it's a Rust crate compiled to dylib that itself links LLVM statically.  One might imagine more generic use cases, e.g. LTOing small dependencies and dy

[2016-02-24 03:14] wesleywiser commented on #23977
I think this might be fixed now:
[code]

[code]

[2016-02-24 04:30] jseyfried commented on #31845
This was introduced in #31105 while fixing #23880.
This bug existed earlier (in some sense) but was benign. Before #31105, only type parameters and local variables leaked, but using these "captured" locals and parameters is already a separate error.

[2016-02-24 05:24] durka opened #31856 "Hygiene broken in multi-statement macros"
Multi-statement macros (macros that expand to multiple statements) are hard to use because hygiene runs separately on each line, meaning it's very easy to "lose" identifiers.

[Here are some examples.](http://is.gd/sGjll7) The macro is trying to declare a variable in the scope where it was called, but it takes multiple statements to construct.

[code]

This is a long-standing bug, not a regression

[2016-02-24 05:28] Sgeo commented on #31856
I am experimentally playing with the idea of using hygiene to hide one object, then exposing another object that refers to the hidden object. The macro I have is

[code]
Trying to use this fails with

[code]

[2016-02-24 08:11] GuillaumeGomez commented on #31788
Hum... I'll try to add as much information as possible.

[2016-02-24 11:52] nagisa opened #31859 "Depgraph: ICE with RUST_LOG=debug"
[code]

[2016-02-24 12:13] arielb1 commented on #31844
I am not sure that specialization changes the orphan rules:
* The "linking" orphan rules must stay the same, because otherwise you would not have safe linking.
* I don't think the "future compatibility" orphan rules should change. Adding a non-specializable impl under you would still be a breaking change.

Worse than that, the "future compatibility" orphan rules keep cross-crate specialization und

[2016-02-24 12:51] Robbepop opened #31860 "Add warning for hexdec literals with mixed case-sensitivity"
In Rust it is possible to define hexadecimal number literals with

[code]
After the `0x` preix the programmer may use numerals from `0..9`, `a..f` and `A..F`.
So this makes it also possible to mix the case-sensitivity even within the same numeric literal:
[code]
It is also possible to suffix the literal for type explicity:
[code]
This is not only likely unreadable but also may lead to confusion:
[

[2016-02-24 12:59] GuillaumeGomez commented on #31860
@Robbepop: Nicely found! I think we should also add a warning to force users to add '_' because the hex number and the type (it's even more important with float types). However, I think an RFC might be needed in here.

[2016-02-24 13:07] returntoreality commented on #31796
What I meant was that we showed that the llvm-ir created by my rust is valid, but the binary is not, so the error is somewhere between llvm-ir and binary on my setup. I thought it is probably llvm, since llvm is responsible for that part. I was able to create the exact same assembler output using the llvm from my rust build. This would suggest that my cross-toolchain setup is indeed wrong in some

[2016-02-24 13:13] nagisa commented on #31860
Consider filling issue to https://github.com/Manishearth/rust-clippy instead.

[2016-02-24 13:20] GuillaumeGomez commented on #31860
@nagisa: Some clarification should be added in here, not only adding a lint.

[2016-02-24 13:40] nagisa commented on #31860
@GuillaumeGomez lints can print their own HELPs and HINTs too. Either way I very strongly doubt this will land into rustc since it is a very preference-based feature request.

[2016-02-24 14:48] steveklabnik commented on #31860
New lints require an RFC, and yeah, we suggest starting off in clippy here. Yes, there are other changes than just adding a lint, but they are also potentially breaking, and so would be serious enough to merit an RFC as well. So I'm gonna give this one a close. Thanks!

[2016-02-24 14:48] #31860 closed

[2016-02-24 14:58] frewsxcv opened #31862 "Unicode character in codeblock causes panic when generating docs"
[code]

[code]

[code]

https://github.com/servo/webrender/pull/197

[2016-02-24 15:01] larsbergstrom commented on #31862
See also: https://github.com/servo/servo/issues/9704

[2016-02-24 15:01] nox commented on #31862
https://github.com/rust-lang/rust/issues/12834

[2016-02-24 15:03] #31862 closed

[2016-02-24 15:03] frewsxcv commented on #12834
Relevant issue: https://github.com/servo/servo/issues/9704

[2016-02-24 15:26] Robbepop commented on #31860
I also think that this may be suitable for more than just a lint.
The problem with hexdec literals and their definition is that they make it hard for future Rust specifications from adding support for user-defined literals as in C++.

**Problem**
The current definition is unambiguous because the current suffixes for hexdec literals start with letters `i` and `u`, but what about future Rust specifi

[2016-02-24 16:14] di1 commented on #31820
@frewsxcv let me know if this is ok

[2016-02-24 16:15] dileepbapat commented on #31820
@frewsxcv let me know if this is ok

[2016-02-24 16:18] frewsxcv commented on #31820
@dileepbapat Looks good, nice job! Your changes are waiting in a queue to be merged:

http://buildbot.rust-lang.org/homu/queue/rust

[2016-02-24 16:25] WiSaGaN commented on #27780
This is very useful in `FFI` as it is a common pattern in `C` library to use null pointer to represent absence. `as_ref`/`as_mut` here produces compact `FFI` code. Maybe even more readily optimized to a no-op?
But I am not very sure whether this should exist as a "built-in" method for pointer, or a library trait considering the most often usage is in `FFI`, and whether there's difference in conver

[2016-02-24 16:54] julienw opened #31864 "Error message about importing traits should use a working code"
Current error when using `io::stdout().flush()` without importing std::io::Write looks like this:

[code]

I think the last line should not have the backticks so that we could use the command directly in code.

[2016-02-24 16:59] alexcrichton commented on #29717
cfg target_feature -- for github issue searchability as well

also a new forum link -- https://internals.rust-lang.org/t/comprehensive-list-of-desired-cfg-target-feature-s/3201

[2016-02-24 17:08] alexcrichton commented on #31854
This seems like the most reasonable interpretation of "LTO for a dylib" to me, but there'd be a few caveats.

Right now when we create a dynamic Rust library, we keep track of what rlibs are included statically inside of it. That way if anything else needs to rlibs, we know that it get get all the symbols through the dylib. LTO, however, typically internalizes symbols that would otherwise be publi

[2016-02-24 17:23] dikaiosune commented on #31265
At the risk of spamming, I did try @eddyb's suggestion of using getrusage to measure time and wrote up a bit about how it went (TLDR: better than using cargo bench, but still not perfect):

https://dikaiosune.github.io/rust-runtime-cargobench-vs-getrusage.html

I also posted it to the subreddit to see if anyone not following this thread had some ideas about improving the method:

https://www.reddi

[2016-02-24 17:27] jonas-schievink commented on #23977
Yes, I think this was fixed by @arielb1's PR that also fixed #25916

[2016-02-24 17:27] nikomatsakis commented on #31849
On IRC, @asajeffrey posted this self-contained example that exhibits the same phenomena:

[code]

[2016-02-24 17:27] asajeffrey commented on #31849
You beat me to it :) https://play.rust-lang.org/?gist=5183e32b3f0fcdfccf61

[2016-02-24 18:06] asajeffrey commented on #31849
There is a work-around for this example: https://play.rust-lang.org/?gist=ed22452c4eda71821a6d

[2016-02-24 18:32] vi opened #31865 "Missing Default for std::sync::Condvar"
It has `fn new()`, so there should be no problem for `Default`.

See also: https://github.com/Manishearth/rust-clippy/issues/705

[2016-02-24 18:34] vi opened #31866 "Missing trait Debug for std::time::Instant"
Although

, I think Debug may leak internal representation which can include those number of seconds (or some other increasing number).

[2016-02-24 18:36] mattico commented on #24561
I believe I'm having the same issue with nightly-2016-02-22. I posted a backtrace over here https://github.com/SkylerLipthay/interpolate_idents/pull/7 and I'll be trying to debug this sometime soon. Unless the issue is very simple I won't have the ability to fix it, but I should be able to identify what the problem is.

[2016-02-24 18:44] durka commented on #31866
Debug doesn't have to be derived. `println!("{:?}", Instant::now())` could simply print "Instant".

[2016-02-24 18:50] vi commented on #31866
But it's not really useful for debugging the code that compares them a lot.

[2016-02-24 19:14] mrZalli commented on #22204
Same as Ralle, I came here from combine. It seems like a really nice parsing library for my project, but even the simple demonstration test that was in their docs took alarmingly long to compile, so I hope this gets fixed soon.

[2016-02-24 19:25] seanmonstar opened #31869 "Missing Debug Implementations"
The `missing_debug_implementations` will detect any public type that does not implement `Debug`. Usually all public types should implement `Debug`, even if it doesn't share all the internals in its formatting. This allows users to `derive(Debug)` on their types when they contain a type from `std`.

I ran the lint against crates that have types exported in `std`, and I've grouped the results below.

[2016-02-24 19:52] nagisa commented on #31869
What sense it makes to implement `Debug` for iterators? These can’t really show any useful state.

[2016-02-24 20:12] seanmonstar commented on #31869
If it truly doesn't make sense to implement for an iterator, it can be marked `#[allow]`. Others have suggested useful state they would like see, such as @bluss.

[2016-02-24 20:19] bluss commented on #31869
Any value that can end up being part of a user's data structure should have Debug. The slice iterator is the simplest example, but I don't think we can find a good excuse for any iterator.

[2016-02-24 21:46] returntoreality commented on #31796
Unfortunately using "armv4t-unknown-linux-gnueabi" as llvm-target and arm7tdmi as processor had the same results

[2016-02-24 22:20] durka commented on #27336
What are the drawbacks to turning this on? It seems to mainly make things compile that otherwise cannot infer enough type information.

[2016-02-24 22:20] petevine commented on #31796
Yeah, the llvm target is fine. Have you tried dumping assembly instead?
If it doesn't differ from what my llc produced, then maybe `llvm-as` is to blame? (were you using GNU as on your ARM system, BTW?)
There's the `-C no-integrated-as` option to force using e.g. `gas` during rust compilations.

The bundled llvm source was recently updated - as a last resort you could try building rust against an

[2016-02-24 22:23] Diggsey opened #31871 "Misleading error message when trying to mutate outer variable captured with move"
Code:

[code]

Error:

[code]

The error message implies that mutating the outer variable is disallowed because this is a `FnMut` closure, or because mutating a capture is forbidden. However, the real problem is simply that `x` is not marked as mutable, and captured variables inherit their `mut`-status from the outer scope.

[2016-02-24 22:42] mkroman opened #31872 "Destructuring irrefutable enums with ref inside match causes a panic"
When destructuring an irrefutable enum inside a destructured match pattern with references, the compiler crashes. I tried replicating the case with as little code as possible, but it seems to only happen when I use the enum from the `irc` crate.

This is the code I managed to narrow it down to:
[code]

Note that it is destructuring from the `command` argument to the `process` function, and not the

[2016-02-24 23:12] huonw commented on #27780
This isn't true: it can be incorrect/undefined behaviour to convert an unaligned pointer to a reference. (In any case, I believe `u64` is 4 byte aligned on x86, but I'm actually sure.)

[2016-02-24 23:44] vi opened #31874 "Diagnostic when using moved value in loop{} could be clearer"
Consider this error message:

[code]

<pre>
&lt;anon>:6:13: 6:14 error: use of moved value: `a` [E0382]
&lt;anon>:6     consume(a);
                     ^
<b>&lt;anon>:5:13: 5:14</b> note: `a` moved <b>here</b> because it has type `Qqq`, which is non-copyable
<b>&lt;anon>:5     consume(a);</b>
</pre>

It look more or less clear. But if we move and try to use on the same line:

[code]

the diagnost

[2016-02-25 00:19] durka commented on #31872
Note that it's not actually expected to compile, because `Command::PRIVMSG(ref target, ref msg)` is refutable. But it shouldn't crash.

[2016-02-25 00:35] durka commented on #31856
For the record, you can write code that relies on this bug. [This code](http://is.gd/CAHUIH)

[code]

produces code that looks the same under pretty-expansion, but `no_macro` (which represents what the code would look like were this bug fixed) prints 3, while `yes_macro` prints 2.

[2016-02-25 03:10] frewsxcv commented on #30259
Implemented in #31877.

[2016-02-25 03:59] Xion opened #31879 "Spurious behavior of Display::fmt errors"
I've encountered a surprising and undocumented behavior of `Display::fmt`, which I was advised on #rust to file an issue about.

Given the code (http://is.gd/iRjVCG):
[code]

the expected result, as far as I can tell, is a panic. Instead it just prints `1`, apparently terminating at the formatting error of `Foo` but otherwise suppressing the error and returning `Ok` from `write!`.

(I encountered

[2016-02-25 05:42] comex commented on #15701
FYI, the `stmt_expr_attributes` feature gate still mentions this issue number.

[2016-02-25 06:05] comex opened #31881 "some feature gate errors abort compilation before the warning about putting #![feature(...)] in the wrong module"
Suppose I'm on nightly and I try to use gated syntax in a module (other than the crate root).  As expected, I get an error:

[code]

An easy mistake to make is to misunderstand "crate attributes" and add the suggested feature attribute to the top of the current file instead.  The problem is that if I do so, rustc doesn't tell me what I did wrong: it just seems to silently ignore the attribute.

In

[2016-02-25 06:09] #31773 closed

[2016-02-25 06:09] #29332 closed

[2016-02-25 06:09] #31598 closed

[2016-02-25 10:46] GuillaumeGomez commented on #31871
Interesting. I'll take a look when I have time (if no one did before me).

[2016-02-25 10:49] GuillaumeGomez commented on #31869
I'll work on this a bit then.

[2016-02-25 11:04] jseyfried commented on #28514
If I understand correctly, this is not an issue after #29973 given `#![deny(public_in_private)]`. Should we still disallow this with more than the `public_in_private` lint?

[2016-02-25 11:14] keeperofdakeys opened #31885 "MADV_DONTNEED causing lots of minor page faults"
I've got a [program](https://github.com/keeperofdakeys/Process-Query) that is experiencing lots minor of page faults (>12000 in >100 ms runtime), doubling its runtime. I suspect the issue is because of excessive madvise(..., ..., MADV_DONTNEED) calls. The following excerpts from perf stat, strace output, and perf trace output show the evidence. The behaviour occurs on a nightly from one week ago,

[2016-02-25 11:21] cybergeek94 commented on #27336
I have a pretty good use for this too. It's basically what @bluss mentioned, adding new types to an `impl` without breaking inference on existing usage.

[2016-02-25 14:49] gereeter commented on #4950
`search_ribs` and the FIXME seem to both be gone. Should this be closed?

[2016-02-25 15:00] asajeffrey commented on #31849
Sad to say the work-around doesn't scale up completely. The problem is the interaction between this issue and https://github.com/rust-lang/rust/issues/30867#issuecomment-184748050.

The work-around for this issue is to make what were type parameters into associated types, the work-around for https://github.com/rust-lang/rust/issues/30867#issuecomment-184748050 is to turn what were associated types

[2016-02-25 15:04] tmiasko commented on #31885
It is the jemalloc that calls madvise. To avoid it you can switch to system
allocator:

[code]

The root cause, are costly allocations (deallocations) coming from BufReader.
By default it allocates a buffer with size of 64 * 1024 bytes which exceeds
allocation size that is cached in jemalloc in default configuration (32 KiB).
Thus another potential solution is to use smaller buffer with
`BufReader

[2016-02-25 15:28] palad1 commented on #31490
I cannot build 1.6.0 from source, the snapshots.txt file is referencing an old cargo that breaks with the current crates.io :/

[2016-02-25 15:30] oli-obk opened #31886 "very slow derived PartialEq/PartialOrd implementation of enum"
The following code goes into an infinite loop or at least takes more than 10 seconds without optimizations. With optimizations it runs and the assertion fails. If anything but `0` and `0x8000_0000_0000_0000` are chosen for the discriminants, the code finishes instantly even in debug mode. [Playground](http://is.gd/C4V7iL)

[code]

There's something odd going on anyway, as the discriminant is infer

[2016-02-25 15:34] keeperofdakeys commented on #31885
Thanks a lot, using the system allocator does resolve the problem. Limiting the size of BufReader also sounds like a good idea, especially for my case, where most of the files I'm reading are quite small.

Other measurements by perf suggest that nearly 50% of the running time was just page faults. If there are many other Rust programs out there doing such frequent big allocations, they may see sim

[2016-02-25 15:42] durka commented on #31886
Expanded:

[code]

Red flags:

- the discriminant is casted to `i32`, rather than `isize` or even `u64`!
- the logic is confusing. If the (truncated) discriminants are equal, it ignores them and checks the variants. The generated code would presumably make more sense if there were data in the variants.

Other than that, I don't see what's causing the slowdown. Indeed, the [full expanded code](http

[2016-02-25 15:43] steveklabnik commented on #31490
@palad1 that seems bad, please file a bug against homebrew!

[2016-02-25 16:28] palad1 commented on #31490
Thanks, just so I'm clear, I can use cargo HEAD  with rust 1.6.0?

[2016-02-25 17:09] alexcrichton commented on #4950
Yay!

[2016-02-25 17:09] #4950 closed

[2016-02-25 17:18] alexcrichton commented on #31879
Hm I thought we already had an issue for this, but I can't seem to find it now. The problem here is that we assume that `fmt::Error` is never "just generated", but rather it always originates from the underlying writer returning an error. This is probably a relatively easy fix in the code.

[2016-02-25 17:31] sfackler commented on #31885
There used to be a comment next to the default buffer size constant but it seems to have been lost at some point: https://github.com/rust-lang/rust/pull/9091/files#diff-b131eeef531ad098b32f49695a031008R60. The rationale was never that great when I added it, and I'd be fine dropping it to 4k or 8k which I think is somewhat more standard?

[2016-02-25 17:34] sfackler commented on #31885
It's also worth noting that there's no reason to use BufReader at all in a context like this: https://github.com/keeperofdakeys/Process-Query/blob/master/src/procrs/pid/mod.rs#L51, since `read_to_end` will be making large read calls. BufReader is designed for use cases where you're reading a couple bytes at a time and don't want to pay for a syscall per 4 bytes.

[2016-02-25 17:42] asajeffrey commented on #31849
Chaining iterators has a similar problem: https://play.rust-lang.org/?gist=a0c05fbf5c43234fb7c3

[2016-02-25 17:42] gbersac opened #31888 "Why can't we have mutable iterator on BinryHeap ?"
Not only, we can't have mutable iterator on `BinaryHeap`. We first convert it to a `Vec` using `BinaryHeap::into_vec()` and then create it back from a `Vec` using `BinaryHeap::from`.

By the way, I found the `BinaryHeap` container not practical.

[2016-02-25 17:48] sfackler commented on #31888
Mutations of the entries in the heap could change their sort order. Turning it into a Vec and back will handle that properly.

[2016-02-25 17:53] gbersac commented on #31888
Yes, but is there an overhead to use `into_vec` and `from` ? It may slow down the all thing.

[2016-02-25 17:58] asajeffrey commented on #22204
Ditto, coming here from perf issues with my parser library (https://github.com/rust-lang/rust/issues/31849). My minimal example is just chaining iterators (https://play.rust-lang.org/?gist=a0c05fbf5c43234fb7c3):
[code]
On my machine, chaining 15 iterators takes 1min to typecheck, and uses about 500M of memory.

[2016-02-25 18:01] durka commented on #31886
In a debugger, it is always stuck on the line (of the expanded source):

[code]

Disassembly shows it stuck on this instruction:

[code]

Well then... I don't know x86 assembly but that looks like an infinite loop to me! I dumped the assembly from rustc and found this gem:

[code]

[2016-02-25 18:02] markuskobler commented on #29791
Looks like `JoinHandleExt` exposes `as_pthread_t` or `handle` now but is there a reason for not implementing something similar on `Thread` itself?

[2016-02-25 18:06] durka commented on #31886
Oh, suddenly it makes sense. `LBB7_6` must correspond to the catchall arm of the match, which is unreachable. It's unreachable because the discriminants compared equal, but we already know that's a false positive caused by integer truncation. So it triggers undefined behavior.

[2016-02-25 18:15] pczarn commented on #31888
@gbersac
`into_vec` has zero overhead, and `from` only restores the order, so it couldn't be faster with a special function.

[2016-02-25 18:26] pnkfelix opened #31890 "slice.iter_mut is not zero cost (vs IndexMut) when initializing a fresh vector"
While working on some demonstration code involving a matrix multiply, I discovered that the claim that Rust's iterator abstractions boil away to something competitive with hand-written assembly does not hold for a `for`-loop over `slice.iter_mut`.

That is, I would like to be able to give the following blanket advice:

But here is a concrete example where that is not good advice:

[code]

I made a

[2016-02-25 18:28] aturon commented on #31890
cc @bluss @dotdash

[2016-02-25 18:34] asajeffrey commented on #31849
A possible work-around for chaining iterators is to distinguish between top-down and bottom-up iterators: https://play.rust-lang.org/?gist=8532619e7f8bae0ffbef

[2016-02-25 18:36] retep998 commented on #29791
The documentation for `Thread` says "A handle to a thread." however this is a complete lie. A `Thread` is nothing more than the name of the thread and a condition variable + mutex so it can unpark the thread. It doesn't actually have a handle to the thread.

[2016-02-25 18:38] pitdicker commented on #29497
YES! I've got the manual method working.

Now to clean up my messy code, and do a lot of testing...

[2016-02-25 18:39] steveklabnik commented on #31490
I _think_ so, but we only make strong guarantees about the version that ships with Rust itself. Rust 1.6.0 shipped with `cargo 0.7.0-nightly (1af03be 2015-12-08)`.

[2016-02-25 18:40] durka commented on #31886
Talked with @talchas on IRC. Turns out if you give a value for an enum variant, it has to be the same type as the given `#[repr]`, or `isize` if no attribute. Therefore, perhaps the only change necessary is to change the default cast from `i32` to `isize` in the derived code.

[2016-02-25 18:46] dotdash commented on #31890
@pnkfelix What hardware is this running on? I don't see quite as much of a difference between `applicative_add_index` and `applicative_iter_mut`. Also, your results seems to have quite a large degree of variance, was there something CPU heavy running in the background? Or something else that messed with CPU frequencies or caused task switches or whatever?

This is what I get on a mostly idle i7-37

[2016-02-25 18:49] gbersac commented on #31888
Ok, thanks.

[2016-02-25 18:49] #31888 closed

[2016-02-25 18:54] bluss commented on #31890
Your code is not the same as in the advice  it's a different case :smile:,. I've spent some time looking into lock step iteration and not found anything better to recommend than the slice to equal length and iterate method. It requires a quite exact adherence to the template, and it will optimize very well. Forum post: https://users.rust-lang.org/t/how-to-zip-two-slices-efficiently/2048/14

We nev

[2016-02-25 18:54] talchas commented on #31886
Obnoxiously
[code]
both compiles and prints "0 9223372036854775808" on 32-bit (same with `as i64` and equivalents with using 0x1000... instead of 0x8000). And of course Foo is 8 bytes wide (it's even [tested](https://github.com/rust-lang/rust/blob/master/src/test/run-pass/enum-discrim-autosizing.rs)!).

So values that don't fit in an i32 give silently crazy behavior on 32-bit in other places.

[2016-02-25 19:03] markuskobler commented on #29791
Am I missing something obious. Is it not a case of exposing the following inner type with a `ThreadExt`?
https://github.com/rust-lang/rust/blob/master/src/libstd/sys/unix/thread.rs#L155
or
https://github.com/rust-lang/rust/blob/master/src/libstd/sys/windows/thread.rs#L81

[2016-02-25 19:07] bluss commented on #31890
This is how to write it in the "how to zip slices" approach and it gives a 5-10x speedup over the best of the other cases.

[code]

[2016-02-25 19:29] pnkfelix commented on #31890
@dotdash the machine is a Core i7-4980HQ @2.8Ghz.

I didn't think it was too heavily loaded when I did the runs, but then again I did have two Firefox instances running, so who knows... I'll try it again after shutting those down and rebooting, to see if the variance drops.

the results you showed in your run are very encouraging; if the applicative cases match this well for most target configurat

[2016-02-25 19:33] pnkfelix commented on #31890
@bluss hmm thanks for that post. I guess I won't be able to show off the "prettiest" code in this case and still claim that its the best you could hope to get.

[2016-02-25 19:35] bluss commented on #31890
I'm not sure what the result should be for any of the loops, because they don't ensure that all indices visited in the loop are in bounds before starting.

I believe that's a boundary which will be *very* hard to overcome. What should eventually work here is `zip()` or another way to ensure we don't hit bounds checking. Like the "how to zip a slice" approach.

@pnkfelix Covering this is going to b

[2016-02-25 19:37] markuskobler commented on #29791
Ignore me I understand the issue now. The use case I was after was something I thought would be as simple as  `thread::current().as_pthread_t()` but I get the need for `Thread` using `Arc` now.

[2016-02-25 19:42] bluss commented on #31890
@pnkfelix Another downer from the harsh reality of rust + numerics

Consider the sum of a sequence: `.fold(0, |a, b| a + b)`

- Integers: Autovectorizes, produces a big hunk of code, is fast.
- Floating point: No autovectorization because reordering float additions are not allowed by the default rules for float arithmetic. There's no "fast-math" support in rust.

[2016-02-25 19:44] pnkfelix commented on #31890
@bluss It seems like you are focusing on the fact that all of my loops, even the ones that use `iter_mut`, have *some* indexing operations (namely for the source expressions) where I have not ensured apriori that the indices are in bounds. Does that sound correct? Are you thinking this could somehow be causing problems for the initialization of my destination vector via `iter_mut`?

Is it wrong of

[2016-02-25 19:51] pitdicker commented on #29497
@Diggsey Thanks for looking up how .NET handles this!

And I like the simplicity of just retrying on failure. But I don't like that it needs a little luck. So I prefer moving files the instant before they are deleted.

[2016-02-25 19:51] nagisa commented on #29791
@retep998 what *our* handle to a thread is, is up to us, not the operating system. As long as we’re capable of communicating to the OS’s threads, that is.

[2016-02-25 19:54] bluss commented on #31890
@pnkfelix Yes. I just have a very square head; both of those loops have bounds check and branch to panic in the loop body, so I didn't think anything else would be important (and it basically isn't). A branch to panic inside a loop will disrupt many potential optimizations, even seemingly unrelated ones.

itermut is slightly better on an x86-64 Sandy Bridge laptop

[code]

[2016-02-25 20:04] bluss commented on #31890
And yes, `.zip()` outperforms the indexed approaches, even if it's far from optimal.

[code]

[code]

[2016-02-25 20:16] bltavares commented on #25461
Triaging: On the [download official webpage](https://www.rust-lang.org/downloads.html) there is no option to download the `.tar.gz` package for windows, but it is available on the [archives](https://static.rust-lang.org/dist/index.html).

I don't have access to a Windows machine at this moment to check if this is still an issue.

[2016-02-25 20:37] #26775 closed

[2016-02-25 20:37] #31787 closed

[2016-02-25 20:37] #26995 closed

[2016-02-25 20:37] #31808 closed

[2016-02-25 20:43] wesleywiser opened #31891 "The "Traits" section in the book doesn't mention "Self""
See https://doc.rust-lang.org/book/traits.html

The [Syntax Index](https://doc.rust-lang.org/book/syntax-index.html) links to that section for "Self" so it should be mentioned in there.

[2016-02-25 20:46] GuillaumeGomez commented on #31788
It needs to be reopened. My PR didn't fix it.

[2016-02-25 20:49] retep998 commented on #29791
@nagisa The point was simply that `std::thread::Thread` currently does not store a handle to the OS thread , so it didn't make sense to implement those traits for `std::thread::Thread` as the current implementation doesn't have a OS thread handle to provide.

@markuskobler To get the current OS thread handle you can just use `pthread_self` or `GetCurrentThread` depending upon the platform.

[2016-02-25 20:52] pnkfelix commented on #31890
@dotdash just an FYI: I redid the benchmarks on this Mac after logging in and not firing up any application but Terminal; the results were odd: the overall elapsed times themselves seem like they went down (so there probably was interference from background tasks), but the variance if anything seems to have gone up. Ugh.

 * (I also tried rebooting into Single User Mode (SUM), since in the past I

[2016-02-25 20:53] pnkfelix commented on #31890
(I'm also going to try running the benchmark on a desktop linux machine I have handy...)

[2016-02-25 21:08] pnkfelix commented on #31753
I'd say that gate is pretty *effective*, but it isn't *effect-free* ... ha ha ha...

[2016-02-25 21:08] nikomatsakis commented on #31753
Discussed in @rust-lang/compiler triage mtg. Since compilation doesn't succeed, it's not really possible to publish crates that rely on this. If we take it away, some people could get upset, but it won't cause widescale breakage (and people can always get upset when you take something away, feature-gate or no). Therefore, P-low.

triage: P-low

[2016-02-25 21:15] nikomatsakis commented on #10184
It seems like the precedent from the overflow stuff (e.g. for shifting) is to just settle on some behavior. Java seems to produce the result modulo the range, which seems not unreasonable; I'm not sure just what kind of LLVM code we'd need to handle that.

[2016-02-25 21:15] durka opened #31895 "OpAssign can cause unused_assignments false positives"
[This code](http://is.gd/59aE3a)

[code]

reads the variable `b` by calling its `AddAssign` implementation. However, the warning still triggers. If you expand `b.add_assign(1)` manually, there is no warning.

cc @bluss. Found by "jatentaki" on IRC.

[2016-02-25 21:17] nagisa commented on #10184
I would consider a +∞ a correct result for a overflowing cast.

[2016-02-25 21:32] steveklabnik commented on #31891
I am not really working on the existing book at this point, but if someone wants to take a crack at it, I would be happy to take a PR!

[2016-02-25 21:48] asajeffrey commented on #31849
Separating out the projection for the iterator from iterator function itself seems to do the trick... https://play.rust-lang.org/?gist=1cf9886dd074e073cd6a

[2016-02-25 21:51] asajeffrey commented on #22204
Separating out the projection trait (`HasItem`) as a separate trait seems to be a work-around... https://play.rust-lang.org/?gist=1cf9886dd074e073cd6a
[code]

[2016-02-25 22:04] pnkfelix commented on #31890
Okay, apparently @bluss 's suggestion does make a huge difference to how well LLVM is able to optimize writing to the `iter_mut` generated destination: I redid the tests ([gist here](https://gist.github.com/pnkfelix/382f26009a69c3fdfedf)) where the old ones are called "original", or "orig" for short, and the new ones are called "resliced" ("resl" for short)

[code]

The performance delta between i

[2016-02-25 22:24] Noctune opened #31898 "Lifetime bound error that occurs for `String` but not `str`"
I'm getting a somewhat odd error for the following code. The lifetime bound error happens only for `String` and not for `str`. I'm really unsure whether this is my understanding of lifetimes that is incorrect or a bug in the compiler.

[code]

[Playground link](http://is.gd/HlX7Nz)

[code]

[2016-02-25 22:25] keeperofdakeys commented on #31885
I'd be happy to make a PR to change the default buffer size then. Should a warning also be added to the API docs regarding jemalloc and large buffer sizes?

As for my code, using read_to_end directly on the File is causing reads of a single byte. I just did some measurements, and this seems to have a detrimental impact.

No BufReader, 50ms, ~280000 syscalls (lots of read(1) calls)
BufReader::new,

[2016-02-25 22:30] nikomatsakis commented on #31776
This example makes me think that a lint would be wrong:

[code]

After all, in this case you *have* to use `pub` (or move the `impl`) or the compiler contains. So maybe it should just be plain legal to put `pub` on a nested fn?

[2016-02-25 22:32] nikomatsakis commented on #31776
Discussed in @rust-lang/lang meeting and conclusion was that we should just drop this restriction and not replace it with a lint, due to aforementioned examples.

triage: P-medium

[2016-02-25 22:38] nikomatsakis commented on #31379
Another more challenging example might be:

[code]

should the methods from `path1::Trait` be available, given that it is shadowed by `path2::Trait`?

[2016-02-25 22:43] nikomatsakis commented on #31379
My feeling is that the simplest rule is to say that methods come from "traits that are in scope", and shadowed traits are not in scope. This interpretation is shadowing of items from prelude and globs, which seem like they should clearly not count towards method resolution.

[2016-02-25 22:43] durka commented on #31820
This can be closed now.

[2016-02-25 22:44] nikomatsakis commented on #31379
Discussed in @rust-lang/lang meeting and settled on "methods from shadowed traits should be unavailable".

triage: P-medium

[2016-02-25 22:44] #31820 closed

[2016-02-25 22:44] keeperofdakeys commented on #31885
I noticed a PR to update jemalloc (https://github.com/rust-lang/rust/pull/31889), and I think this will explain why the beta version did not show the problem. Nightly and stable are using jemalloc 3, the beta is still using jemalloc 4. If jemalloc 4 handles big buffers better (not calling madvise a lot), would it still be worth changing the default buffer size?

[2016-02-25 22:44] frewsxcv commented on #31820
Thanks again @dileepbapat!

[2016-02-25 23:07] sfackler commented on #31885
I'm not sure where read requests with a 1 byte buffer could be coming from - this is the implementation of read_to_end: https://github.com/rust-lang/rust/blob/master/src/libstd/io/mod.rs#L340-L375. It'll start with 16 byte reads and then ramp up exponentially to 64k reads.

[2016-02-25 23:13] alexcrichton commented on #27714
The libs team discussed this during triage yesterday and the conclusion was to **stabilize** with the name `encode_utf16`.

[2016-02-25 23:13] alexcrichton commented on #27715
The libs team discussed this during triage yesterday and the conclusion was to **deprecate**

[2016-02-25 23:14] alexcrichton commented on #27746
The libs team discussed this during triage yesterday and the decision was to:

* Stabilize `Ref::map` and `RefMut::map`
* Deprecate everything else (if it still exists), including `filter_map`

[2016-02-25 23:14] alexcrichton commented on #27748
The libs team discussed this during triage yesterday and the decision was to **deprecate**

[2016-02-25 23:27] alexcrichton commented on #27780
The libs team discussed this during triage yesterday, and the conclusion was pretty inconclusive. Some points brought up were:

* The names here, `as_ref` and `as_mut` as quite small, and are perhaps easily confused with other methods called `as_ref` or `as_mut`. For example when scanning an expression it's difficult to see which `as_ref` is the relevant one if there's multiple.
* We continue to b

[2016-02-25 23:29] alexcrichton commented on #27809
The libs team discussed this during triage yesterday and we reached a few conclusions:

* We're fine stabilizing the `into_` variants proposed by @SimonSapin, they fit in nicely with conventions and the module itself.
* We couldn't reach a conclusion on what to do with the mutable variants. While they seem useful, we couldn't agree on a name for the operation.
* We were opposed to `uppercase_ascii

[2016-02-25 23:30] Nemo157 commented on #14969
I agree that disabling for the whole crate seems like it would be the common case (as a contra contra point it's how I want to use it :stuck_out_tongue:).

If it does get changed then it would be nice to be able to apply it as a crate attribute as well that disables the prelude throughout the crate (although, I guess that would mean not being able to apply it to just the root module, maybe it woul

[2016-02-25 23:30] alexcrichton commented on #27908
The libs team discussed this during triage yesterday and the conclusion was to stabilize in the `ptr` module.

[2016-02-25 23:31] alexcrichton commented on #28235
The libs team discussed this during triage yesterday and this has our stamp of approval. Gonna wait for the lang team to also weigh in on the FCP before stabilizing, however.

[2016-02-25 23:33] wesleywiser commented on #31891
Thanks Steve. I'll take a shot at it.

On Thu, Feb 25, 2016, 4:32 PM Steve Klabnik <notifications@github.com>
wrote:

[2016-02-25 23:34] alexcrichton commented on #29866
The libs team discussed this during triage yesterday and we reached a few conclusions:

* We decided to stick with the name `Instant` over the alternatives of `MonoTime` or just `Time`. As @wycats [pointed out](https://github.com/rust-lang/rust/issues/29866#issuecomment-178242446) the term `MonoTime` seemed a bit niche, and we felt that the name `Time` was a bit "too sweet" and also may convey the

[2016-02-25 23:35] jseyfried commented on #31379
Do we also want methods from `path1::Trait` in your more challenging example to be unavailable?

[2016-02-25 23:35] alexcrichton commented on #29866
Ah, and the other conclusion was to also stabilize everything, which is probably worth mentioning!

[2016-02-25 23:39] keeperofdakeys commented on #31885
I am using the .bytes iterator in one place, I might have mistook one file being read with read(1) for all files being read with it. That's why I started using BufReader originally.

[2016-02-25 23:43] bluss opened #31899 "rustdoc summaries include parts of doc examples"
A documentation comment like the one cited verbatim below, produces a main page summary that includes the first line of the code in the example. This is very surprising since there's an empty line in between, and the code example inserts a large colored box in the overview page (the parent module).

cc @mitaa since it's probably related to PR #31602

[code]

![screenshot](http://i.imgur.com/UqiUdF

[2016-02-25 23:46] sfackler commented on #31885
Ah yeah, .bytes() will read one byte at a time.

[2016-02-25 23:47] alexcrichton commented on #27719
The libs team discussed this during triage yesterday, and we reached a few conclusions!

An interesting point from the discussion since the first FCP was that it seems that almost no one is happy with the situation we have today. It seems to clearly be a set of unfortunate compromises between various strategies, and this certainly appears to need remedy. Some of the various alternatives that have

[2016-02-25 23:47] alexcrichton commented on #27719
Also nominating for another FCP next cycle.

[2016-02-25 23:51] aturon commented on #27719
Another thing we discussed in the meeting is that it's actually possible to implement the `RecoverSafe` system externally to the standard library, and use your own wrapping of `recover` that retains those bounds. So those that *do* find the bounds useful for discovering potential panic safety problems can still reap the benefits in their own crates.

[2016-02-26 02:18] sbeckeriv opened #31905 "Consider no matching named test a failure"
Hello,
I was running a test to watch it fail but it was not. It turns out I typed the test wrong. It seems like that if a test name is provided but not found it should be a failure or at least a warning.
`cargo test test_something_that_is_typo`

Thoughts?
Becker

Closed: https://github.com/rust-lang/cargo/issues/2410

[2016-02-26 02:26] rkjnsn commented on #31436
Wasn't the whole argument for not reserving several keywords prior to 1.0 that we'd definitely be introducing a way to add new keywords to the language backward compatibly (possibly by explicitly opting in), so there was no point? Seems like now would be a good time.

[2016-02-26 03:18] bluss commented on #31905
That's tricky to fix in just libtest too, since cargo test can possibly run multiple test runners, and you would want tests to fail if none of the runners have a match, it's annoying if it would fail if any runner was without match.

[2016-02-26 03:22] aturon commented on #31436
@japaric Are you interested in reviving your old PR and taking this on?

[2016-02-26 04:32] rroelke opened #31906 "rustc segfault when matching against &'static [u8]"
Straightforward reproducer in the playpen on rust-lang.org:

pub const MY_BYTES : &'static [u8] = b"AXVE";

// This code is editable and runnable!
fn main() {
    let bytes : [u8; 10] = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9];

[code]

}

Even if this code is invalid the compiler ideally would not segfault...

[2016-02-26 06:19] tomaka commented on #27719
Why is the "no bounds" solution more acceptable than the compromise?

As usual, nobody is going to use something that's no in the stdlib.

[2016-02-26 07:52] zitsen opened #31907 "Doc-tests not compiled ok when setted as `no_run` on target x86_64-unknown-linux-musl"
To list usage in documents, add a example in the `lib.rs` documents with mark `no_run`. It's ok when
target not setted(it's `x86_64-unknown-linux-gnu`), but failed on target `x86_64-unknown-linux-musl`:

I tried this code:
[code]
src/lib.rs:
[code]

default test is ok:
[code]

Test it on target `x86_64-unknown-linux-musl`:
[code]
Doc-tests should not run as I expected, but it fails as this:
[code]

[2016-02-26 07:56] jseyfried commented on #31845
@petrochenkov this can be closed -- I think bors didn't close it because the magic words were only in the title.

[2016-02-26 08:01] #31845 closed

[2016-02-26 08:04] jseyfried commented on #28514
cc @petrochenkov

[2016-02-26 08:16] oli-obk commented on #31906
with llvm-debug-assertions this triggers

[2016-02-26 08:59] oli-obk opened #31910 "ICE when using associated const in enum discriminant"
[code]

[2016-02-26 09:31] cuviper commented on #31173
I ran into this using a closure that captured a local called `found`.  I minimized mine to:

[code]

If I change that to `unfound`, the successfully wrapped error is:

[code]

[2016-02-26 09:32] Aatch commented on #31895
It's likely that the lint isn't aware of `OpAssign` and is therefore technically correct in it's assessment that `b += 1` has an assignment that isn't read (since it's assuming it's the same as `b = b + 1`, not true).

[2016-02-26 09:43] ranma42 commented on #10184
According to https://docs.oracle.com/javase/specs/jls/se7/html/jls-5.html#jls-5.1.3 Java also guarantees that `NaN` values are mapped to 0 and infinities to the minimum/maximum representable integer. Moreover the Java rule for the conversion is more complex than just wrapping, it can be a combination of saturation (for the conversion to `int` or `long`) and wrapping (for the conversion to smaller

[2016-02-26 10:18] retep998 commented on #10184
The problem isn't "let's return any integer, you obviously don't care which", it is that it causes an undef which isn't a random value but rather a nasal demon value and LLVM is allowed to assume the undef never occurs enabling optimizations that do horrible incorrect things. If it was a random value, but crucially not undef, then that would be enough to fix the soundness issues. We don't need to

[2016-02-26 11:04] Sgeo opened #31912 "doc: Book uses Result::expect() but still makes reference to Option::expect()"
https://doc.rust-lang.org/book/guessing-game.html contains statements like

The book used to use `.ok().expect(...)`, but has switched to `.expect(...)`, from two methods for error handling/crashing to one.

[2016-02-26 13:02] tillarnold opened #31913 "ICE when generating MIR"
I tried to look at the MIR for the following code in the rust playground and got an internal compiler error. ( http://is.gd/oJVeYh )
[code]

[code]

If I try to run this in the playground using Nightly (and not to generate the MIR) I only get the correct mismatched types error.

[2016-02-26 13:38] #31864 closed

[2016-02-26 13:38] #31879 closed

[2016-02-26 15:30] petrochenkov commented on #31783
What I don't like in this https://github.com/rust-lang/rust/issues/31783#issuecomment-186938547 scheme  (and in the current scheme as well) is that resolution depends on privacy. I.e. to determine the import set for (1)
[code]
we need to resolve paths `path1`, `path2`, `path3` first, which in their turn can depend on the resolution of (1).

Can we come up with a scheme not using privacy informatio

[2016-02-26 16:10] nagisa commented on #31913
Backtrace:

[code]

[2016-02-26 16:54] durka commented on #31895
@Aatch yes, presumably the warning should only trigger if += has been overridden.

[2016-02-26 17:06] alexcrichton commented on #31907
I believe there are two bugs at play here:

1. Cargo isn't passing `--target` to rustdoc, which is because of...
2. Rustdoc doesn't handle `--target` correctly. I think it assumes it can always generate documentation tests for the host platform.

Cargo should probably just ignore documentation tests for anything that's not the host platform as you're not really guaranteed to be able to run it anyw

[2016-02-26 17:29] steveklabnik commented on #31907
Yes, Rustdoc should ignore doc tests for cross, IMHO. I think that's probably better than cargo, though it would save time by never invoking Rustdoc

On Feb 26, 2016, 12:07 -0500, Alex Crichton<notifications@github.com>, wrote:

[2016-02-26 17:34] steveklabnik commented on #31912
This has been fixed in nightly: https://doc.rust-lang.org/nightly/book/guessing-game.html

[2016-02-26 18:09] #31293 closed

[2016-02-26 18:21] sbeckeriv commented on #31905
I understand the multi-test framework case would be very annoying. I finally got to testing this in rspec to see what they do and they pass the test but print out "All examples were filtered out". I need to double check the output again but I think the warning would be a nice solution.

[2016-02-26 18:29] bluss commented on #31905
It's enough that you have more than one file in `tests/` for it to be annoying.

[2016-02-26 19:37] alexcrichton commented on #27719
My own personal opinion is that stabilizing a design no one is happy with is just a bad decision. If no one's happy with it unstable then no one's gonna be happy with it when it's stable, and it's a signal that it's not done being designed.

To me, when I say "no one is happy with it", I mean that no one has argued in favor of the compromise bounds over one of the other solutions (at least to my k

[2016-02-26 19:46] tomaka commented on #27719
I don't know for others, but I very much prefer the current bounds to no bound at all.

An alternative solution could be to add two functions:
 - `recover`, with the current bounds.
 - `weak_recover`, with no bounds.

[2016-02-26 21:08] japaric commented on #31436
@aturon My implementation simply desugared `foo?` in the same way as `try!(foo)`.  It also only worked on method and function calls, i.e. `foo.bar()?` and `baz()?` work but `quux?` and `(quux)?` don't. Would that be okay for an initial implementation?

[2016-02-26 21:12] eddyb commented on #31436
@japaric What was the reason for restricting it to methods and function calls? Wouldn't parsing it be easier as a general postfix operator?

[2016-02-26 21:26] japaric commented on #31436
easiest way (for me) to test the `?` expansion

probably

[2016-02-26 21:28] jseyfried commented on #31783
[code]

[2016-02-26 21:31] aturon commented on #31436
@japaric It'd probably be good to generalize it to a full postfix operator (as @eddyb is suggesting), but it's fine to land `?` with the simple desugaring and then add `catch` later.

[2016-02-26 21:39] jseyfried commented on #31783
It would be doable to implement such a scheme, but it would add quite a bit of complexity.
I think that having multiple consistent/stable ways to resolve a crate is bad idea, even if the compiler can select a canonical one.

[2016-02-26 21:44] aturon commented on #28273
cc @michaelwoerister

[2016-02-26 21:52] jseyfried commented on #31783
Maybe we could only allow `pub` to be annotated with a path for which no segment resolves to an import (i.e. the "canonical paths", plus possibly a leading `self` or `super`s).

It seems like overkill to allow all paths since all we need to express is a De Bruijn index -- the paths `self`, `super`, `super::super`, ... alone would be sufficient.

[2016-02-26 22:01] japaric commented on #31436
@aturon Alright, I'll look into the postfix version by next week if no one beats me to it :-).

[2016-02-26 22:04] sfackler opened #31924 "Consider changing the non_snake_case lint to skip names of #[no_mangle] extern functions"
Since the function is tagged `#[no_mangle]` the exact name presumably has to exactly match something that another system is expecting, which may not be snake case. For example, JNI bindings will look something like

[code]

[2016-02-26 22:05] steveklabnik commented on #31924
Modifying lints requires an RFC now, as it can impact a LOT of code.

[2016-02-26 22:05] steveklabnik commented on #31924
(By modifying I mean "major changes" not bugfixes)

[2016-02-26 22:14] Aatch commented on #31895
@durka hmm. The thing is, I think most implementations are going to be logically side-effect free. Ramp is, since doing `a += b` can't affect some other variable due to unique ownership constraints. Maybe a check for contained `&mut` and/or interior mutability to disable the warning? It wouldn't be perfect, but it would probably be a decent balance.

Yet another option is to detect the overloaded

[2016-02-26 22:20] bluss commented on #31895
@aatch This originally came up in ndarray which as a mutable view type `ArrayViewMut<'a, Elem, Dimension>` where using it with assign-ops will definitely be common. The view mut represents for example a subqudrant or other sliced out part of an array.

[2016-02-26 22:22] #29584 closed

[2016-02-26 22:22] bluss commented on #31895
Ndarray supports both  `Array += &Array;` and `Array += Scalar;` btw. I think those being sugar for in place modification of the array data is fine.

[2016-02-26 23:23] aturon commented on #29720
The lang team has decided to **stabilize** this feature.

[2016-02-26 23:23] aturon commented on #28235
The lang team has likewise decided to **stabilize** this feature.

[2016-02-26 23:37] xrisk opened #31927 "Unclear paragraph in The Book"
From https://doc.rust-lang.org/book/guessing-game.html#looping (emphasis mine).

[2016-02-26 23:42] steveklabnik commented on #31927
Agreed, this is a bit unclear. I would say maybe

Thoughts?

[2016-02-27 00:06] aturon commented on #31924
Hm, while I think **new** lints definitely want an RFC, modifications to existing ones can probably go through the lang team's nomination process, leading to either an immediate decision or request for RFC.

[2016-02-27 01:04] steveklabnik commented on #31924
I'm fine with that, just following (what I thought was) procedure. :smile:

[2016-02-27 01:46] Luke-Nukem commented on #31927
I saw someone already had a go at clarification. Good work! I Added some further refinements which should help enhance it a bit more.

[2016-02-27 05:34] WiSaGaN opened #31933 "rustc enters infinite loop during compillation of an incomplete program"
Compilation of a simple incomplete program

    fn main() {
        match
    }

makes the nightly `rustc` to enter an infinite loop of printing

src/main.rs:3 }
              ^
src/main.rs:3:1: 3:2 error: unexpected token: `<eof>`
src/main.rs:3 }
              ^

This only happens in nightly. Stable and beta are fine as of Feb 27, 2016.
This can be reproduced in https://play.rust-lang.org/?gist=3

[2016-02-27 05:38] durka commented on #31933
likely the same as #31804

[2016-02-27 05:40] durka commented on #31895
Changing `a += 1;` to `a.add_assign(1);` silences the warning even when `a: i32`. So clearly it's not perfectly accurate.

We could put an attribute on the `AddAssign` impl but I think it would have to be called `#[impure]` and we probably don't want to open that can of worms :)

[2016-02-27 06:27] WiSaGaN commented on #27780
One minor point is that the already stabilized method `is_null()` shares the same "nullable" property as `as_ref()` and `as_mut()`. `as_ref()` and `as_mut()` do no more than simplify the idiom of `is_null()` and unsafe dereference, which looks to me the major use case of "is_null()".

[2016-02-27 06:31] photino commented on #27809
`to_ascii_uppercase_in_place()` sounds the best choice. Then we can introduce the naming convention `to_*_in_place` for the `fn to_*_in_place(&mut self);` signature.

[2016-02-27 06:46] aseaday opened #31935 "Build Problem"
commit 9c6a0088fbdae5a6554c39f8db9207c1b878eb05

[code]
So how could I solve it.

[2016-02-27 07:03] sanxiyn commented on #31935
Are you passing `--llvm-root` option to `./configure`? If so, don't pass it.

[2016-02-27 07:37] aseaday commented on #31935
No, I don't pass it .

[2016-02-27 07:49] mitaa commented on #30197
I was surprised that I didn't get a suggestion here
[code]

[2016-02-27 07:52] Wafflespeanut commented on #30197
What could one possibly suggest there? :)

[2016-02-27 07:56] mitaa commented on #30197
`is_empty`? (p and t are flipped)

[2016-02-27 08:01] Wafflespeanut commented on #30197
Hmm, looks like we currently show suggestions only for the stuff that exist in the source file.

[2016-02-27 08:02] comex opened #31936 "libstd Mutex can cause POSIX undefined behavior"
Not sure if anything needs to be done about this, since I don't know of any actual implementations having a problem with it, but it occurred to me when thinking about moving mutexes.

On Unix, `Mutex::new` corresponds to initialization with `PTHREAD_MUTEX_INITIALIZER`; `Mutex::lock`, which returns a `MutexGuard`, corresponds to `pthread_mutex_lock`; `MutexGuard::drop` corresponds to `pthread_mutex

[2016-02-27 08:02] Manishearth commented on #30197
No, we just don't handle methods.

[2016-02-27 08:32] sanxiyn commented on #31935
How are you building it? `./configure; make`, as written in README, or something else? Also it would be helpful to have complete build output starting from `./configure`, not just last lines.

Also note that Rust needs internet connection to build at the moment. This is just a guess, but it seems possible some files are missing because they weren't downloaded because of network issues.

[2016-02-27 08:41] aseaday commented on #31935
I find the problem. Because I terminate build process before. And make clean didn't work well. Thank you !

[2016-02-27 08:43] #31935 closed

[2016-02-27 11:07] #29334 closed

[2016-02-27 15:27] itaibn opened #31941 "Rustonomicon: Missing bounds check in later `Vec` allocation code"
In the Rustonomicon example code for implementing `Vec`, the first version of the `grow` method to increase capacity includes a bounds check to ensure that the new capacity is not an integer overflow, but when `grow` is reimplemented in later sections this check is omitted.

Specifically, in the section named "Allocating Memory", the method `grow` is implemented for `Vec` which includes the follow

[2016-02-27 19:36] apaprocki opened #31943 "rustc/rustdoc invocation fails during build due to lack of sysroot / chroot build issues"
For starters, I need to build rust within a `chroot` jail to generate a package. This jail has no access to `/proc`, and this causes issues with `librustc` here:

[code]

I was able to work around this by explicitly passing the `--sysroot` to `rustc` during the build process by passing appropriate `..._STAGE#` flags for each stage when invoking `configure` and `make`:

[code]

This allows all of t

[2016-02-27 20:21] apaprocki commented on #31943
`librustc` just calls into `libstd` `sys/unix/os.rs` for `current_exe()`, so change in the behavior would need to go there.

[2016-02-27 20:27] #31913 closed

[2016-02-27 20:49] Aatch commented on #31933
Duplicate of #31804

[2016-02-27 20:49] #31933 closed

[2016-02-27 22:25] hatahet commented on #30123
@brson:

What caused it to fail the first time?

[2016-02-27 23:17] apaprocki commented on #31943
Confirmed that with the `RUSTFLAGS_STAGE#` flags above and passing `--disable-docs` to `configure` results in a successful build in a `chroot` jail.

[2016-02-28 00:15] cuviper commented on #31173
It's hard to tell from out-of-date PR diffs, but I found https://github.com/rust-lang/rust/pull/19870#issuecomment-68823522 -- it sounds like it started out printing newlines at the error source, then @nrc thought this was fragile and asked for expected/found substring matching.

I don't understand why that was preferred though, as this issue reveals how fraught substring-matching can be.  Even if

[2016-02-28 00:20] cuviper commented on #31173
For example, this isn't an ICE, but it's still wrapped incorrectly:

[code]

[code]

[2016-02-28 01:15] tomjakubowski commented on #31936
From later in the document:

[code]

That's interesting, do Rust's supported platforms follow that advice? I guess in that case leaking the guard would end up leaking the mutex as well.

[2016-02-28 02:09] durka opened #31946 "cannot define a capturing macro in an expr passed to println!"
[This code](http://is.gd/iHlFci)

[code]

fails with a nonsense "unknown macro variable `name`". It works if the macro has no captures or if it's defined outside. And you can normally define a macro in an expression.

Somehow related to the `format_args!` expansion, but it doesn't occur without the intermediate `passthru!` macro (which represents `println!`, `print!`, or `format!`). And I can't se

[2016-02-28 02:17] cuviper commented on #31936
Glibc appears to check and return `EBUSY` for all but robust mutexes: [pthread_mutex_destroy.c](https://sourceware.org/git/?p=glibc.git;a=blob;f=nptl/pthread_mutex_destroy.c;h=8a57d49272c14e3860acc09b36fe11e04fe5df7e;hb=HEAD)

Leaking in this case is trivial anyway, because it only wants to invalidate that `mutex->__data.__kind`.

[2016-02-28 03:03] cuviper commented on #15890
It now fails saying, "called `Result::unwrap()` on an `Err` value".  I believe this is simply due to `rustc_driver::main()` using `env::args()` rather than `env::args_os()`, so it panics on the non-utf8.  You can reproduce this with any bad argument at all, e.g. in bash:

[code]

Accepting `OsString` will require changes down through the `getopts` crate, and I guess all the other users of that sho

[2016-02-28 03:32] antrik commented on #19315
I'd like to point out that in lack of a rendered/linked version from the "official" repository, everyone just keeps linking to http://aturon.github.io/ , which I suppose is an outdated snapshot? No matter how "unfinished" the official one is considered, having an even more unfinished version as the only one public is certainly worse.

[2016-02-28 03:35] steveklabnik commented on #19315
They're very, very close to each other, at least.

On Feb 27, 2016, 22:32 -0500, Olaf Buddenhagen<notifications@github.com>, wrote:

[2016-02-28 05:29] jseyfried commented on #21670
This happens because `resolve` only loads the items in an external module if this is needed for name resolutions (i.e. if the module appears as a non-final segment in a path). Since we build the set of external exports while loading external modules, unused external modules are not counted as exported, leading the privacy checker to incorrectly consider them to be private.

[2016-02-28 08:17] matklad opened #31947 "It is possible to write to a filed of uninitialized struct"
It is impossible to read a filed of uninitialized struct, but for some reason the write is allowed (but you can't read it back later):

[code]

Originally reported at https://users.rust-lang.org/t/use-of-possibly-uninitialized-variable-on-an-initialized-variable/4799/4

[2016-02-28 08:34] Aatch commented on #31947
This is fundamentally the same issue as #21237, as the analysis treats uninitialized variables and moved ones essentially the same way.

Closing as a duplicate of that.

[2016-02-28 08:34] #31947 closed

[2016-02-28 09:21] rkruppe opened #31948 "Nightly docs missing relevant float parsing impls"
#31903 hid all trait impls from `doc(hidden)` modules. This was a step in the right direction, since it removed several dead links (mentions of traits that really should be hidden). Unfortunately currently `FromStr` is implemented in the hidden module `core::num::dec2flt` and thus the current nightly doesn't document this impl at all (neither on the trait's page nor on the primitive pages). For th

[2016-02-28 09:26] rkruppe commented on #31948
cc @mitaa @alexcrichton

Since AFAIK one can't override this behavior with an explicit `#[doc(..)]` annotation (and several of the traits that `ParseFloatError` is missing are derived) I fear we have to either ditch the strategy introduced by #31903 or move `impl FromStr for $float_type` and `ParseFloatError` back up to `core::num`. The latter doesn't help other code which might have the same prob

[2016-02-28 09:57] lilianmoraru commented on #31947
@matklad I think you should probably paste your code example in the original issue since it's a lot more simple than what is in that issue.

[2016-02-28 10:02] Noctune opened #31949 "SipHasher should derive Eq"
It would be useful to check if two hashers are in the same state. For example, I need a bloom filter that supports efficient union operations. Iff two bloom filters have equal hashers and size, union is as easy as bitwise OR the filters together.

While we're at it, might as well derive some other traits too. Hash would be useful. Ord maybe, though possible, it doesn't make that much sense other t

[2016-02-28 10:05] #31899 closed

[2016-02-28 12:42] petrochenkov commented on #31783
I expected shadowing to precede privacy checks.
I.e. a crate is resolved as if it were completely public and all the conflicts are resolved based on shadowing. Privacy violations are checked after that.

But it still leaves "glob vs glob" conflicts. And they *need* to be resolved based on privacy, otherwise using two globs in one module could lead to unpredictable conflicts due to implementation d

[2016-02-28 13:10] nodakai commented on #21724
FYI, nowadays even [Busybox](https://busybox.net/downloads/binaries/) supports `xz`

[2016-02-28 13:37] Sgeo commented on #31912
The first line looks fixed, but the second doesn't, "we can use these two little methods" is still present.

[2016-02-28 15:47] DGolubets commented on #24010
Is it going to be fixed in any upcoming version?

[2016-02-28 16:44] lukaslueg opened #31950 "Minor improvement to docs for rc::Rc"
The docs for `try_unwrap()` currently read

If I read this correctly, what it is actually saying is

Is this what is says?

[2016-02-28 17:38] sfackler commented on #31949
I'd just open a PR for something small like a new derived impl.

[2016-02-28 18:05] alexcrichton commented on #31936
Bah oh well. I suspect that the undefined behavior here is written in with the intention of not wanting to specify what it means to unlock a destroyed mutex. As in the specific failure mode for us is that we destroy a locked mutex but still guarantee that it will never be used again. I suspect this is probably not a problem in practice, but would be good to handle nonetheless! We can likely just g

[2016-02-28 18:14] ubsan commented on #31683
I quite like this error. At least keeping around the spirit of the message would be nice. When I was building my compiler, I saw this error and it made me stop for a second and smile :)

[2016-02-28 18:40] alexcrichton commented on #27809
@photino yeah that was kinda what we were leaning towards as well, the downside being that it's a *very* long method name to type out.

[2016-02-28 18:56] comex commented on #31936
OS X is also in the "returns EBUSY if locked, doesn't actually need to free resources anyway" camp: [see pthread_mutex_destroy](http://www.opensource.apple.com/source/libpthread/libpthread-138.10.4/src/pthread_mutex.c).

musl's `pthread_mutex_destroy` is literally `return 0;`: [link](http://git.musl-libc.org/cgit/musl/tree/src/thread/pthread_mutex_destroy.c).

[2016-02-28 19:01] steveklabnik commented on #31912
I thought I accepted PRs for all of it, will double check. Thanks.

[2016-02-28 19:03] bluss commented on #31936
The Windows api also has a comment about destroying a locked mutex, but it seems to refer only to undefined ness of other active users of the same mutex. (Requires a Windows-savvy developer to do the real interpretation though).

[2016-02-28 19:07] retep998 commented on #31936
To quote [MSDN](https://msdn.microsoft.com/en-us/library/windows/desktop/ms683483%28v=vs.85%29.aspx) "SRW locks do not need to be explicitly destroyed." and since we use SRW locks for `Mutex` everything is totally fine.

[2016-02-28 19:09] bluss commented on #31936
Dropping a mutex does call `DeleteCriticalSection` though, which is what I would look closer at.

[2016-02-28 19:10] bluss commented on #31936
It just says "If a critical section is deleted while it is still owned, the state of the threads waiting for ownership of the deleted critical section is undefined."

[2016-02-28 19:13] retep998 commented on #31936
Oh, we do use critical sections for the fallback implementation, but that only occurs on Windows XP and older. Also when we destroy a mutex we know nobody is currently waiting for ownership, as clearly we can only destroy it when there are no other owners. If another thread has leaked the guard, it isn't waiting for ownership so that sentence doesn't apply to it.

[2016-02-28 19:16] bluss commented on #31936
And it's only XP, not much to worry about!

[2016-02-28 19:25] cuviper commented on #31936
Android's bionic implementation also looks harmless: [pthread_mutex.cpp](https://android.googlesource.com/platform/bionic/+/master/libc/bionic/pthread_mutex.cpp#634)

[2016-02-28 20:05] Thinkofname opened #31951 "libstd fails to build on emscripten"
https://github.com/rust-lang/rust/blob/master/src/libstd/os/mod.rs#L38
The linux os module is named `emscripten` when targeting javascript but as of https://github.com/rust-lang/rust/commit/aa23c98450063992473d40d707273903f8a3937d the linux module references itself directly https://github.com/rust-lang/rust/blob/master/src/libstd/os/linux/fs.rs#L19 which fails when its been renamed to `emscripten`

[2016-02-28 21:04] brson opened #31952 "rustc prints unexpected token in infinite loop"
Parsing this

[code]

Spews this repeatedly:

[code]

[2016-02-28 21:07] brson commented on #31952
rustc 1.8.0-nightly (15e9a95a4 2016-02-26)

[2016-02-28 22:22] Nercury opened #31953 "Complex iterator chain is very slow to compile"
I thought this was a cool way to implement collection of values from a builder into an array, and stumbled upon this case:

[code]

__On stable:__

[code]

__On nightly:__

[code]

__On nightly-2016-02-28:__

[code]

__Without "slow part":__

[code]

Feel free to close if this is a duplicate/won't fix.

[2016-02-28 22:39] Nercury commented on #31953
For the record, reducing type hierarchy helps, i.e.:

[code]

[code]

[2016-02-28 22:52] bytwise commented on #31952
This looks like a duplicate of #31804

[2016-02-28 23:21] brson commented on #31952
Thanks @bytwise !

[2016-02-28 23:21] #31952 closed

[2016-02-28 23:28] japaric commented on #31436
rebased/updated my PR in #31954 :-)

[2016-02-28 23:41] apasel422 commented on #21714
This can be addressed the same way as #24270.

[2016-02-28 23:53] notmatt commented on #30172
@nagisa quick update: apart from an unexpected shortage of spare time, this is going well. I've mostly been reading/understanding Placer et alia & the LinkedList implmentation. I'm starting with the VecDeque given its broad similarity, but not a lot to show yet.

[2016-02-29 00:01] bluss commented on #23977
This is fixed, because it's no longer pathologically slow. However, it's still slow (takes seconds to compile). With 2700 lines expanded (pretty=expanded), maybe that's ok.

[2016-02-29 00:01] #23977 closed

[2016-02-29 00:13] bluss commented on #31953
This is a bad bug, and there is already an issue open for it, see #22204.

[2016-02-29 00:13] #31953 closed

[2016-02-29 00:18] aidanhs opened #31955 "Some doc links are broken under core"
For example, https://doc.rust-lang.org/core/ptr/index.html, click on "See also the pointer primitive types".

This can be perplexing if you've accidentally entered the `core` area by clicking on the 'wrong' search result, because now all your searches throw up results from `core` first and you end up with 'not found'. I've had this happen to me a few times over the past week and I've only just fig

[2016-02-29 00:31] andruhon opened #31956 "To define in custom-allocators.md from which version system allocator used for dyn libs by default"
"Dynamic and static libraries, however, will use alloc_system by default."
It is not clear in this paragraph https://github.com/rust-lang/rust/blob/0672ed4e82abb562660c8a6d7183288c15e4526a/src/doc/book/custom-allocators.md#default-allocator was it always like that or it works like that after some particular version.

(it seems to me that it is true from 1.6+)

[2016-02-29 01:10] steveklabnik commented on #31955
It's be cause those links are written by hand from the perspective of std, and the docs are blindly the same between the two.

There's another bug open about this...

On Feb 28, 2016, 19:18 -0500, aidanhs<notifications@github.com>, wrote:

[2016-02-29 01:49] aidanhs commented on #31955
Ah ok, I did have a search for something related but couldn't find anything - feel free to close.

[2016-02-29 01:51] aidanhs commented on #16022
https://github.com/rust-lang/rust/issues/16022 - rfc discussing aliasing.

[2016-02-29 03:15] est31 commented on #31436
What about support for providing stack traces? Is that planned?

[2016-02-29 04:54] adamcavendish opened #31961 "Should we make rustbook as a submodule?"
The repo of rustbook no longer builds, so if we can make rustbook a submodule, then we can update the cargo rustbook to the latest version. And enables to install rustbook via `cargo install rustbook`
https://github.com/steveklabnik/rustbook

[2016-02-29 05:14] steveklabnik commented on #31961
That's just because I haven't updated it in a while; it's a copy of what's in-tree.

We're pretty much going to replace rustbook with mdbook eventually.

On Feb 28, 2016, 23:54 -0500, Adam Basfop Cavendish<notifications@github.com>, wrote:

[2016-02-29 14:01] naktinis commented on #27787
What's the state of this? I'm using btree ranges in production code and would be happy to help as much as I can to stabilize this feature.

[2016-02-29 14:30] barosl commented on #31301
I tested `MoveFileEx` with `MOVEFILE_REPLACE_EXISTING` on Windows, and the explanation on MSDN seems to be a bit different from the implementation. `lpNewFileName` must not be a directory, yes, but `lpExistingFileName` *can* be a directory. So replacing a file with a directory using `MoveFileEx` is entirely possible (!). Note that the `rename` POSIX API demands both `from` and `to` are of the same

[2016-02-29 15:13] crumblingstatue opened #31964 "ICE on type mismatch: Index out of bounds"
Test case:
[code]

Output:
[code]

[2016-02-29 16:09] steveklabnik commented on #31961
So, the core issue here is that I'm hosting `rustbook` as a copy of the in-tree one. It's not that rustbook should be a submodule of me, but that I'm not syncing as often as I should. Please file issues on the repo if it gets out of date.

As such, I'm going to give this issue a close; it's more about my repo than it is about rust itself.

[2016-02-29 16:09] #31961 closed

[2016-02-29 16:10] steveklabnik commented on #31961
(Also, it builds for me. Would you mind opening an issue about this on my repository?)

[2016-02-29 16:13] steveklabnik commented on #31955
Ah, I found it! https://github.com/rust-lang/rust/issues/30214

Let's use that one :+1: Thanks again for reporting!

[2016-02-29 16:13] #31955 closed

[2016-02-29 17:45] alexcrichton opened #31968 "Valgrind tests fail when compiled dynamically"
Right now on our bots we're basically in a state where if valgrind rpass tests are compiled dynamically they will all fail, but when compiled statically they will pass. I'm not really sure what's going on unfortunately, but this is either a bug in valgrind or a bug with us, and we should know precisely what it is to ensure something more sinister isn't lurking.

Some links:
- 595d5b2 - first pass

[2016-02-29 17:50] alexcrichton commented on #31948
To me when thinking about #31903 it seemed like a mild antipattern to have public interfaces you want documented in a `#[doc(hidden)]` module. Would it be "easy enough" to move these impls up to `core::num`? If privacy or something gets in the way we can reconsider reverting perhaps.

[2016-02-29 17:55] rkruppe commented on #31948
Well it used to be that way, then (IIRC) you moved the impls into `core::num::dec2flt`, so it should just work.

[2016-02-29 18:21] bluss commented on #31574
Generating `match *self {}` is simple and correct (it's safe Rust), but the same derive code is also used for n-ary match clauses, specifically for `PartialEq` and so on, where it generates `match (&*self, &*rhs) { /* multiple cases */ }` when there are more than 0 variants.

For that reason, changing it to use intrinsics unreachable may be the simplest. `match (*self, *rhs) { /* empty */ }` does

[2016-02-29 18:34] bluss opened #31972 "Generate less code when deriving"
Here are some ideas for generating less code when deriving. All of these break down with generic fields, since then we have to fall back to the current general scheme.
### `PartialEq`

For C-like enums, only produce `eq` and not `ne`. The default ne calls eq and is always enough. Edit: implemented in #31977.

### `PartialOrd`

For C-like enums only produce `partial_cmp` and not the four other meth

[2016-02-29 18:35] mitaa commented on #31948
FWIW, I thought of another related testcase which is broken in the same way
[code]
[code]
(the impl-inlining code doesn't look at privacy at all)

AIUI this would need to be solved in the same or similar way as necessary for

[2016-02-29 18:47] alexcrichton commented on #31948
Oh maybe it was privacy related in that case...

[2016-02-29 19:52] durka commented on #31972
Seem like good ideas in general. Why do you assume that omitting `ne` is good but omitting `gt` might not be?

Do we have a derive-heavy crate somewhere that'd be good for compile-time and runtime benchmarks?

[2016-02-29 20:01] bluss commented on #31972
ne just uses !eq, but gt uses a slightly more complicated expression based on the return value of partial_cmp.

[2016-02-29 21:49] hexsel commented on #31436
I hate to be the +1 guy, but stack traces have saved good chunks of my time in the past. Maybe on debug builds, the ? operator could append the file/line to a Vec in the Result?  And that could be either exposed or turned into part of the error description?

[2016-02-29 21:49] Manishearth commented on #26114
@Aatch could you post a link to the general area of code that needs tweaking?

[2016-02-29 21:51] devonhollowood commented on #26114
I'd be happy to work on this if no one else is doing so yet.

[2016-02-29 21:51] Manishearth commented on #26114
Go ahead! I'll help if necessary, though @Aatch knows more about this bug.

[2016-02-29 21:55] Manishearth commented on #29124
Are you still working on this?

[2016-02-29 22:24] Manishearth commented on #31686
The note should use fileline_note instead, and we should have an extra help message in case the type alias has a span (which will not be the case if it's from a foreign mod)

[2016-02-29 22:30] #27714 closed

[2016-02-29 22:30] #27715 closed

[2016-02-29 22:30] #27748 closed

[2016-02-29 22:30] #27908 closed

[2016-02-29 22:30] #28235 closed

[2016-02-29 22:30] #29720 closed

[2016-02-29 22:30] #29866 closed

[2016-02-29 22:30] #30383 closed

[2016-02-29 22:39] Manishearth commented on #31686
Mentoring this.

[Relevant code](https://github.com/rust-lang/rust/blob/504ca6f4221b5745c5d72902c1c30415845afa26/src/librustc_resolve/lib.rs#L1991)
Change the `span_note` to `fileline_note`.

You will also need to use `resolver.ast_map.span_if_local(def_id)` on the defid contained in the `TyAlias` to find the span for the alias (to use for outputting the extra note)

Let me know if you have any qu

[2016-02-29 22:52] nagisa commented on #31686
@Manishearth while I do not disagree with general suggestion to use `fileline_note` but I think that won’t resolve the issue, because `mir::transform::Passes<'tcx>` is not a typedef in a first place.

---

https://github.com/rust-lang/rust/issues/31687#issuecomment-184627673 has a code sample which reproduces the issue, by the way.

[2016-02-29 22:57] Manishearth commented on #31686
As I see it there are two distinct issues. One is tha

[2016-02-29 22:59] nagisa commented on #31686
Oh, it doesn’t fail on nightly. I guess, then, original issue I reported is not really an issue anymore.

[2016-03-01 01:28] bltavares commented on #24841
Triaging: I've checked out the repository on that exact commit and it does not ICE anymore.

[code]

Now it causes an error because of incompatible types on an arm during macro expansions.

[code]

[2016-03-01 01:37] Aatch commented on #26114
The code you need to change is in [trans/adt.rs](https://github.com/rust-lang/rust/blob/master/src/librustc_trans/trans/adt.rs#L356-L415). `min_ity` is the discriminant type chosen earlier, which will take account of the hint. To do the better fix, you want to add check to see if the alignment type is smaller than the `min_ity` type and use `min_ity` instead when setting the actual discriminant ty

[2016-03-01 02:36] sfackler opened #31980 "It should be possible to override the dsymutil path"
The compiler currently invokes `dsymutil` directly, but a cross compilation toolchain may have it located under a different name like `x86_64-apple-darwin15-dsymutil`. There should be a compiler flag to override it like there is for the linker.

[2016-03-01 04:45] dpc opened #31983 "libtest captures stdout&stderr only on first thread."
Hi,

When testing anything multithreaded, the output of non-first thread are directly printed on the console.

I wonder if libtest could maybe expose the `set_panic` and `set_print` handlers, so other spawned threads can installed it manually as a workaround.

[2016-03-01 04:57] alexcrichton commented on #31980
The "best" option here would actually be to vendor `llvm-dsymutil` the way we do `llvm-ar` (just link to it). At a first glance, however, it looks like it may not be librarified so we may not be able to benefit :(

This would likely manifest itself as `-C dsymutil=foo` the same way `-C linker=foo` exists.

[2016-03-01 10:02] mitaa commented on #31577
This is actually filed here (#29093) already

[2016-03-01 11:07] djrollins commented on #29124
Hey @Manishearth. Sorry, I've not actively looked at it for a while and let it slip away from me. I do want to carry on tackling this issue though if that's OK.

[2016-03-01 11:20] vegai commented on #29124
I'd like to give this a shot @Manishearth -- can I reach you in irc?

[2016-03-01 11:59] vegai commented on #29124
Sure

[2016-03-01 13:46] tomaka commented on #18241
For those who may fall on this issue, it can be bypassed by using the UFCS syntax: `TraitName::method(&trait_implementor, params...)`.

For example http://is.gd/QG9LGU becomes http://is.gd/zYo5Qm

[2016-03-01 14:46] #31910 closed

[2016-03-01 15:00] nagisa commented on #31968
All the failures seem to be within platform’s dynamic loader. Here’s a few things to try:

1. Does updating kernel+glibc to the most recent versions (4.4-ish and 2.23-ish, respectively) help?
2. Does downgrading kernel+glibc to some older version help?
3. Does non-linux/non-glibc work correctly?

[2016-03-01 15:46] Robbepop commented on #29646
I am not sure about this but I think that associated constants could allow us compile time execution for things similar to non-type template parameters as in C++ which are quite useful. Using functions wouldn't work in the example below since Rust currently has no mechanism to detect if a function can be evaluated at compile-time (constexpr as in C++ or even templates).

**Example:**
https://gist.

[2016-03-01 16:13] bluss commented on #31405
I think this was intended to be picked up by Rust 1.8 stabilization? @alexcrichton, do you know? There was a wish to stabilize it soon when it was added.

[2016-03-01 16:17] retep998 commented on #30027
@SlugFiller I really wish you'd create an RFC for this. It's such a genuinely useful thing to have.

[2016-03-01 16:31] TyOverby opened #31988 "Infinite Loop of Errors (rustc 1.8.0-nightly (d5558825b 2016-02-28))"
On `rustc 1.8.0-nightly (d5558825b 2016-02-28)` attempting to compile the source

[code]

results in the following output from the compiler:

[code]

Repeated on indefinitely.

[2016-03-01 16:44] mitaa commented on #31988
Duplicate of #31804

[2016-03-01 17:17] #31988 closed

[2016-03-01 18:00] srinivasreddy opened #31991 "Explain different types of iteration"
in the section Iteration of Vectors - https://github.com/rust-lang/rust/blob/master/src/doc/book/vectors.md, a note about difference between types of iteration would have been better, especially between reference iteration - &vector and ownership iteration - vector.

[2016-03-01 18:09] steveklabnik commented on #31991
I am not actively working on the in-tree book anymore, but would accept a patch for this.

[2016-03-01 19:23] asajeffrey commented on #31849
I implemented the work-around for parsell. The trick was to separate out bottom-up computation of associated types from their top-down use as type parameters. You can see this, for example, in http://asajeffrey.github.io/parsell/target/doc/parsell/trait.StatefulInfer.html which used to be one trait, but is now given as the union of a trait for bottom-up calculation of an `Output` associated type h

[2016-03-01 19:26] asajeffrey commented on #22204
The work-around does scale up to the Parsell parser library (see, e.g. http://asajeffrey.github.io/parsell/target/doc/parsell/trait.StatefulInfer.html). It may be that combine can use a similar work-around? cc @Marwes.

[2016-03-01 19:40] arielb1 commented on #31804
We got to fix that in beta.

[2016-03-01 19:48] Marwes commented on #22204
@asajeffrey It would unfortunately be a backwards incompatible change so I am afraid I cannot do it at the moment for combine. I may do it for 2.0 though I am not inclinded to rush towards that at the moment.

(I did test compiling a branch I already had where combine's `Input` type is a parameter instead of associated and it cut compiling the tests into half 1m10s -> 32s)

[2016-03-01 19:49] #24841 closed

[2016-03-01 19:56] brson opened #31994 "parse errors result in massive, useless spew"
In a recent project I had a single typo - failing to close a paren. The error message is below. Remember, there is only one error here, a missing paren. *Every single error here is useless*. This happens a lot.

[code]

[2016-03-01 20:04] asajeffrey commented on #22204
@Marwes indeed, Parsell has the luxury of still being at v0.x.x so I can make changes like this more easily.

[2016-03-01 20:14] nagisa commented on #31994
I blame the fact that we’re trying to recover from errors too hard. At the very least we should not continue into resolve after parse failures, should we?

[2016-03-01 20:26] petrochenkov commented on #31994
This is a result of https://github.com/rust-lang/rust/pull/31555 and/or https://github.com/rust-lang/rust/pull/31065, so the post-parsing error messages are kind of expected, but still mostly harmful.

[2016-03-01 20:26] nikomatsakis commented on #31994
I think continuing after parse errors can work well, but perhaps we should disable this sort of recovery on stable channels until we are better able to handle it. Another common failure I see is lifetime errors due to random type-checking failures -- I'm not exactly sure what causes those, but I'm sure you all have seen them.

[2016-03-01 20:27] nikomatsakis commented on #31994
We could recover "opt in" with `-Z continue` or something, but I'd like us to all experience the errors better so we can work better on heuristics and improvements...

[2016-03-01 21:07] bluss commented on #23707
Here's a reduction that shows where I am hitting this in ndarray.

The basic idea is to implement both addition of arrays and addition of array with scalar. [Playground link to code.](https://play.rust-lang.org/?gist=4f7f08be87757fdca4f6&version=nightly)

[code]

My current workaround looks approximately like the following. It's suboptimal since it requires a marker trait on all allowable scalars

[2016-03-01 21:08] alexcrichton opened #31997 "Resolve failures cause too many typechecking failures"
I noticed that on https://github.com/rust-lang/rust/pull/31618 there was a [resolve failure](https://gist.github.com/alexcrichton/f8ac0ed0b8a7f5c55be5) from [this line](https://github.com/alexcrichton/rust/blob/58e96a897252ffb78f810722272106bb4bdefb1c/src/libstd/sys/unix/pipe.rs#L94), specifically:

[code]

The only real error here is that `libc::select` doesn't exist. All other errors are spawned

[2016-03-01 21:09] alexcrichton commented on #31994
Although not related to parse errors, I've found a very similar bug related to worse error messages in the case of a resolve failure: https://github.com/rust-lang/rust/issues/31997

[2016-03-01 21:23] mikedilger commented on #21297
I'm spending half the morning searching for the syntax crate docs to see how the ast changed so I can fix tojson_macros, and I can't find them presumably due to this issue.

I'm all for not confusing new users, but the docs ought to exist somewhere.  These are currently not found under  http://doc.rust-lang.org/nightly , but IMHO should be.

For now I'm reading the source code.

[2016-03-01 21:24] nikomatsakis commented on #31994
We probably want some kind of meta issue here, ultimately -- but my feeling is that we should continue to work towards better support for generating more errors, but we should not jump the gun and inflict these things on the "waiting public" until they are ready.

cc @rust-lang/compiler @rust-lang/tools

[2016-03-01 21:26] alexcrichton commented on #31994
I personally like the idea of perhaps a `-Z` flag to change the behavior here in terms of not letting this propagate to stable. I'm not a huge fan of using a flag to test our error messages as the likelihood of anyone using it seems very small, however.

[2016-03-01 21:31] steveklabnik commented on #21297
@mikedilger we have a different issue tracking this, they will end up being hosted. However, in the meantime: http://manishearth.github.io/rust-internals-docs/

[2016-03-01 21:34] ahmedcharles commented on #18404
Is this still relevant/reproducible?

[2016-03-01 22:33] asajeffrey commented on #31849
The work-around took the compile time for https://github.com/asajeffrey/wasm/tree/9297d84654c74d24f1f8cc0ff96e468a39c12bb2 down from 10G to about 200M. It compiles in about 45 sec, which isn't perfect but is a lot better than never terminating, which is what was happening before.

[2016-03-01 23:04] comex opened #31998 "Surprising lifetime inference with closures"
The following code fails to compile due to a lifetime error: the intent is for the closure to mutably borrow the variable only until it returns, but somehow the lifetime of the borrow gets inferred to last as long as the variable itself.

[code]
[code]

Either of the commented alternatives makes compilation succeed.  The first, making the lifetime signature (semi-)explicit, makes sense; it's odd t

[2016-03-02 00:02] mitaa commented on #31998
I think the closure is inferred to be `FnOnce`.

[2016-03-02 02:40] #31853 closed

[2016-03-02 03:12] frewsxcv commented on #30259
Now that https://github.com/rust-lang/rust/pull/31608 landed, getting the length and emptiness is pretty easy:

[code]

Does anyone think it's still worth it to add the `len` and `is_empty` methods on `Path`?

[2016-03-02 04:25] typoon opened #32003 "fn pointer coercion fails for method on type with lifetime"
The following code does not infer the type of the method correctly:

[code]

As one can see in the error message (**found `fn(MyStruct<'_>) {MyStruct<'a>::func}`**), it seems that the compiler is getting confused when inferring the type of the expression.

If the lifetime from MyStruct is removed, the code compiles fine.

**PS:**
Thanks to `huon` for simplifying the example demonstrating the issue

[2016-03-02 04:52] Aatch opened #32004 "Can omit fields in pattern match"
This code compiles on nightly:

[code]

Which it shouldn't, since `Foo::Bar` variant has a field and the pattern doesn't mention it. This can also cause an ICE:

[code]

[2016-03-02 04:54] #31776 closed

[2016-03-02 05:14] vegai commented on #31686
https://github.com/rust-lang/rust/pull/32005

[2016-03-02 07:43] brson commented on #31936
It sounds like there's nothing to be done here. Can we close this?

[2016-03-02 08:40] #31936 closed

[2016-03-02 09:03] dhardy commented on #30259
I don't see why you'd want `len()` but `is_empty()` would be useful.

[2016-03-02 10:41] adamcavendish commented on #31961
@steveklabnik Thx, it builds now. I'm asking it here because ur repo doesn't allow issues.

[2016-03-02 11:59] #27340 closed

[2016-03-02 13:05] sanxiyn commented on #32004
nightly-2016-02-17 is good, nightly-2016-02-21 is bad.

[2016-03-02 14:29] daniel-vainsencher opened #32008 "Confusing error msg for lifetime mismatch (possibly a bug in lifetime inference as well)"
Originally opened in wrong repository (rfcs) as [0].

The problem is demonstrated by compiling [1]. I can work around the problem by using [2](first half of the diff is relevant to this problem, second part not so much), or by patching ndarrays to give parameters of binary operators distinct lifetime parameters.

A few problems here:
1. The basic error message is not very clear:

[code]

Lifetime

[2016-03-02 14:31] steveklabnik commented on #31961
Ah, sorry about that! :( Glad it's working now.

[2016-03-02 14:33] bluss commented on #32008
This is an error that appears when you call: `input + &local` but **does not appear** with the equivalent desugaring `Add::add(input, &local)`.

[2016-03-02 15:20] Ryman commented on #32008
Should the definition of `Add` not be more like [this](https://play.rust-lang.org/?gist=0d840680345dfa99c4e4&version=stable) (note the extra lifetime `'b`) or is that impossible in the real implementation?

[2016-03-02 16:24] adamcavendish commented on #31961
@steveklabnik Sorry, I still cannot get to the issues page. https://github.com/steveklabnik/rustbook/issues (it just redirects to pull-requests)

[2016-03-02 16:51] steveklabnik commented on #31961
Yes, I had turned them off, because it's not the place you should file issues against rustbook: this main repository is.

[2016-03-02 17:09] daniel-vainsencher commented on #32008
That is a good fix to that particular library (already merged). This about
the compilers feedback/rejection.

Should the definition of Add not be more like this
<https://play.rust-lang.org/?gist=0d840680345dfa99c4e4&version=stable>
(note the extra lifetime 'b) or is that impossible in the real
implementation?

—
Reply to this email directly or view it on GitHub
<https://github.com/rust-lang/rust/i

[2016-03-02 18:22] devonhollowood commented on #26114
I've been having some trouble getting the compiler to build with 32-bit emulation on my 64-bit machine. I thought `./configure --target=i686-apple-darwin` or `./configure --host=i686-apple-darwin` would work but neither has (it's also possible I'm running the tests wrong--I've been using `make check -j4` and `make check -j4 TESTNAME=src/test/run-pass/enum-discrim-manual-sizing.rs`. As a result I h

[2016-03-02 18:36] dotdash commented on #26114
FWIW, I'm using `--build=i686-unknown-linux-gnu` to cross-compile. I'm doing that seldomly enough not to be sure what exactly is the difference between that, `--host` and `--target`.

[2016-03-02 18:46] Manishearth commented on #26114
Please ask for a try run when you need it :smile:

IIRC Travis doesn't run all of the tests. Not sure.

[2016-03-02 19:00] devonhollowood commented on #26114
@Manishearth This might be a newb question, but what's a try run? Is that a bors-specific thing? If so, is there some documentation somewhere about the different bors options and when to use them?

[2016-03-02 19:04] Manishearth commented on #26114
It just runs all tests on the infrastructure without merging the PR. The commands are documented [here](http://buildbot.rust-lang.org/homu/), however you don't have permissions to run any of them. (but you can ask us to if you need something run)

[2016-03-02 19:05] devonhollowood commented on #26114
Gotcha. Thanks!

[2016-03-02 20:04] devonhollowood commented on #26114
@dotdash I successfully reproduced the issue on my machine by using `--build` instead of `--target` or `--host`. Thanks for the tip!

[2016-03-02 20:18] arielb1 commented on #32008
We don't auto-reborrow when we don't have a known target type.

[2016-03-02 20:34] arielb1 commented on #32008
Actually, in this case the lifetime error wasn't *totally* stupid. The compiler thinks that the lifetimes of the references must be related (this is a bug that should be fixed), and it proposes that you force them to be equal (in fact, an `'a: 'b` bound is enough but the error proposes to unify the lifetimes. why?).

Of course, with the problem being that the lifetimes are related, just satisfying

[2016-03-02 20:45] arielb1 commented on #32003
The issue is early vs. late-bound lifetimes.

[2016-03-02 21:02] nikomatsakis commented on #31994
The main reason I proposed having the more advanced errors enabled by default (not behind a flag) on nightly was to ensure that we actually exercise the code, find ICEs, and so forth...

[2016-03-02 22:06] Noctune commented on #31949
Closing. It probably makes more sense to make RandomState implement Eq instead (see #31975).

[2016-03-02 22:06] #31949 closed

[2016-03-02 22:14] TimNN opened #32013 "_ allows declaration of unsized variables / parameters"
[Playpen](http://is.gd/oNgrAJ)

This compiles:

[code]

This does not:

[code]

[2016-03-02 23:04] nikomatsakis opened #32014 "Incorrect "krate -> trans" dependent in incr. comp."
Currently, for some reason I do not know, there is a `Krate -> TransCrateItem(X)` edge for every `X`. I need to track this down and fix it. The incremental test harnesses have FIXMEs related to this issue.

[2016-03-02 23:08] nikomatsakis opened #32015 "Clarify cross-crate dependency story"
We're currently doing some wrong-ish things with respect to dep-graph tracking across crate boundaries. I think what I want to do is this:

- Create a `DepNode::MetaData(DefId)` variant that plays a role like `Hir`
  - it basically represents the metadata for some item
- Whenever we load from metadata for item `X`, we'll generate a read on `MetaData(X)`
- In the metadata, we'll include a hash for

[2016-03-02 23:36] nikomatsakis commented on #31994
We discussed in the @rust-lang/core meeting today. General feeling was that we should make surgical changes to try and stop issuing so many follow-on messages, and then revisit later when we think we can do better about being more targeted in these error reports to things we think are likely real problems. We decided having nightly diverge from beta behavior was a bad idea.

[2016-03-03 00:39] brson opened #32019 "src/test/rustdoc/issue-27362.rs does not pass on beta"
cc https://github.com/rust-lang/rust/pull/32017

This test is checking for nightly-specific behavior in rustdoc (that `const fn` is displayed), but when gating is on, rustdoc does not display `const fn`, so the test fails.

[2016-03-03 00:39] alexcrichton commented on #32019
cc https://github.com/rust-lang/rust/pull/31329, the PR where this behavior changed
cc @quodlibetor (author)

[2016-03-03 00:55] ollie27 commented on #31841
Well I didn't find any more so I'll close this.

[2016-03-03 00:55] #31841 closed

[2016-03-03 01:20] #31686 closed

[2016-03-03 02:42] ollie27 commented on #27809
I don't understand why we'd want to stabilize the `into_` methods:
* They are less versatile than the `make_` versions.
* The implementation itself is a bit of a hack.
* They do not fit into conventions. The standard library prefers self mutating functions (or at least I thought it did). For example `sort()` and `reverse()` on slices which work seamlessly on anything that `DerefMut`s to a slice li

[2016-03-03 03:41] briansmith commented on #31227
Also, it isn't documented (AFAICT) that one can pass a reference or mutable reference where an extern "C" function takes a const pointer or non-const pointer.

[2016-03-03 03:45] lu-zero opened #32021 "std::mem::size_of::<type> is non-const"
It is sort of surprising and makes a little harder to generate code using macros like:

[code]

[2016-03-03 03:51] huonw commented on #32021
This is a dupe of https://github.com/rust-lang/rfcs/issues/1144. Unfortunately, the feature has some (possibly) surprising subtleties that make it trickier than one might hope.

Thanks for filing!

[2016-03-03 03:51] #32021 closed

[2016-03-03 05:16] #12334 closed

[2016-03-03 05:16] #31779 closed

[2016-03-03 07:50] adamcavendish commented on #31961
@steveklabnik So, if next time we got an error, where should we ask?

[2016-03-03 08:35] bstrie commented on #31590
Does this imply that any of the zillion crates under src are going to be split out onto Crates.io?

[2016-03-03 08:47] kajalsinha commented on #29931
The memory consumption remains 1.5 times even with_capacity

[2016-03-03 12:26] vegai commented on #30701
Is anyone working at this? I could take a shot.

[2016-03-03 14:39] steveklabnik commented on #31961
post it here

On Thu, Mar 3, 2016 at 2:50 AM, Adam Basfop Cavendish <
notifications@github.com> wrote:

[2016-03-03 15:15] jorendorff commented on #31683
OK, this is clearly not something worth changing.

[2016-03-03 15:15] #31683 closed

[2016-03-03 15:36] crumblingstatue opened #32024 "rustdoc: Named fields should have their types displayed next to their descriptions"
Right now, the types of (struct / enum variant) fields are only displayed in the "code box" at the top:
![](https://hostr.co/file/970/GDszAZSpSCwx/rscrot_screenshot.png)

But the "code box" is not the usual place to go for documentation, as it is lacking the descriptions written by the author.

The actual descriptions are located further down. How much further depends on how many fields the struct

[2016-03-03 16:32] rkruppe commented on #31590
@bstrie Not in the near future, since the old buikdsystem will still be around for a while. Once the Makefiles are gone, I expect that at least the crates that already have an official (owned by rust-lang or rust-lang-*) crates.io equivalent will be phased out in favor of of depending on the crates.io versions.

[2016-03-03 16:44] lilred commented on #29898
Ran into the same issue.

[2016-03-03 16:53] ollie27 commented on #31972
Does it make sense to derive an implementation of `ne` for any types? It's impossible to implement it in a way that's faster than `!eq`.

[2016-03-03 16:56] durka commented on #31972
@ollie27 if we don't call `ne()` for the inner types, then it's an observable behavior change.

[2016-03-03 17:01] ollie27 commented on #31972
While it's technically observable we have a rule "`!(a == b)` if and only if `a != b`" in [`PartialEq`](https://doc.rust-lang.org/nightly/std/cmp/trait.PartialEq.html) so any `PartialEq` implementation for which it is a behaviour change is broken anyway.

[2016-03-03 17:05] durka commented on #31972
While I agree this was not a convincing argument over at #31414 so I recommend we keep this PR small :)

[2016-03-03 17:31] durka commented on #24822
`#[derive(FromPrimitive)]` was removed in #31400 so this can be closed.

[2016-03-03 17:41] #24822 closed

[2016-03-03 17:44] bluss commented on #31972
Why do we even have two methods then?

@ollie27 I agree with your observation. And isn't it so that any fast path to either proving equality or nonequality (whichever is easier), is applicable in both .eq and .ne?

[2016-03-03 18:01] alexcrichton commented on #27809
The `into_*` methods follow standard conversion idioms in the standard library, so from our point of view they're essentially "free of charge". We figured that if `AsciiExt` exists it may as well provide a nice suite of methods. Stabilizing `into_*` doesn't preclude stabilizing the mutable variants.

[2016-03-03 18:11] ollie27 commented on #27809
Everything the `into_` methods can do can be done with the mutable variants so while is doesn't preclude stabilising them, that would make the `into_` variants redundant.

So my questions are:
 1. Should AsciiExt now be implemented for arrays, Box<[u8]>, Box<str>, ArrayVec, ArrayString etc...?
 2. Will the `into_` variants be depreciated if/when we stabilise the mutable variants?

[2016-03-03 18:34] alexcrichton commented on #30259
Closing due to the reasons outlined in [this comment](https://github.com/rust-lang/rust/pull/31877#issuecomment-191901957)

[2016-03-03 18:34] #30259 closed

[2016-03-03 18:49] hexsel commented on #29931
@kajalsinha your C++ program is using long, Rust is using f64, right?

According to [google](https://www.google.com/search?q=c%2B%2B+long+size), a long may be 32 bits, I expect f64 is 64 bits.

Caveat: I was never a C++ programmer, and google is occasionally wrong.

[2016-03-03 19:27] alexcrichton commented on #27809
Sure, `AsciiExt` should probably be implemented for a more wide array of types. I don't think we'd deprecate `into` if mutable variants were stabilized, they're useful on their own right sometimes.

[2016-03-03 19:39] durka opened #32026 "bad error message defining a macro with invalid identifier"
[code]

says "expected item, found `macro_rules`" which is not helpful, doesn't even point at the ident which is the problem.

The analogous error message on `fn 1() {}` is much better.

[2016-03-03 19:41] devonhollowood commented on #26114
@Aatch So I'm a little confused about [this line](https://github.com/devonhollowood/rust/blob/675723e24376527afd36173bab2954154c474e27/src/librustc_trans/trans/adt.rs#L836) on master. In the case covered by this issue, it seems to me like the discriminant should be bigger than the alignment, since the alignment will be 4 bytes but we want the discriminant to be 8 bytes. But this means that `align_

[2016-03-03 20:14] ollie27 commented on #27809
My point is that all these array types can already use all of the `AsciiExt` methods except `into_` because they implement `Deref` and `DerefMut`. Having to implement `AsciiExt` for all these types just to get access to two of the methods which offer no more functionality than the `make_` methods seems silly to me. I don't understand why we don't want to take full advantage of `Deref` in this case

[2016-03-03 21:04] nikomatsakis commented on #31804
triage: P-high

[2016-03-03 21:07] nikomatsakis commented on #10184
Discussed in @rust-lang/compiler meeting. The most consistent course of action remains:

1. when overflow checks are enabled, check for illegal casts and panic.
2. otherwise, we need a fallback behavior, it should be something which has minimal (ideally, zero) runtime cost for valid values, but the precise behavior is not that important, so long as it is not LLVM undef.

The main problem is that w

[2016-03-03 21:08] nikomatsakis commented on #10184
triage: P-medium

[2016-03-03 21:09] dhardy commented on #30259
@alexcrichton My use-case was completely different: using `path == PathBuf::new()` as a synonym for `None`. Possibly I should just wrap with `Option` even though technically it's more abstraction than needed.

[2016-03-03 21:16] arielb1 commented on #31997
The type error is correct in your "minified" example - `bar` takes zero parameters and you passed one.

[2016-03-03 21:20] alexcrichton commented on #31997
Guh right, sorry!

[2016-03-03 21:23] nikomatsakis commented on #31561
According to @arielb1 we used to block the use of refutable patterns in resolve, but it was changed, perhaps by @petrochenkov. @petrochenkov any thoughts?

[2016-03-03 21:25] nikomatsakis commented on #30891
cc @oli-obk, maybe related to some of the recent work on constants?

[2016-03-03 21:25] arielb1 commented on #31561
On further look, the error on old versions is an E0005 match error. Who's familiar with that?

[2016-03-03 21:27] arielb1 commented on #30891
[code]

[2016-03-03 21:30] alexcrichton commented on #30259
Yeah for now you probably want to take a look at `.as_os_str()` if you want to test a literally empty buffer, and otherwise `None` would probably be best for "this hasn't been initialized"

[2016-03-03 21:32] arielb1 commented on #30891
An `if` is not needed:
[code]

[2016-03-03 21:35] alexcrichton commented on #27809
No, I don't think we should add `into_foo` for all other sorts of methods. Methods like reversal and sorting aren't conversions, they're operations. These are all just conversions one way or another, and the operation we just don't have a great name for.

[2016-03-03 21:37] #28950 closed

[2016-03-03 21:38] mmuggli opened #32030 "Broken link"
http://doc.rust-lang.org/book/getting-started.html links to
http://doc.rust-lang.org/book/learn-rust.html in the sentence "You have two options: Dive into a project with ‘Learn Rust’, or start from the bottom and work your way up with ‘Syntax and Semantics’. "

Following that link leads to a 'not found' page.

[2016-03-03 22:03] petrochenkov commented on #27809
This separation looks pretty artificial. As if it were specially invented to justify the `into_ascii_*` methods.

[2016-03-03 22:35] bsteinb opened #32031 "Sub-optimal codegen for float newtypes"
It seems that floating point types wrapped in newtypes are passed to functions in general purpose registers instead of SIMD registers the way plain f32 and f64 are. Consider this [code example in playpen](http://is.gd/5oW5Nn).

Without inlining, `add_f32()` and `add_f64()` compile to a single instruction (plus return) while `add_newtype_{f32|f64}()` first have to move their arguments from a genera

[2016-03-03 22:40] Aatch commented on #26114
@devonhollowood yeah, that'll need to be changed. I think the assertion is supposed to be ensuring that the alignment of the type is an integer multiple of the alignment of the discriminant, and is assuming that the alignment of an integer and the size of an integer are the same (which isn't true). Specifically, I think it's there to protect against a problem I encountered where I was accidentally

[2016-03-03 23:08] steveklabnik commented on #32030
Thank you! This is indeed broken as of stable, but was fixed and will be fixed in the next release, see http://doc.rust-lang.org/beta/book/getting-started.html

[2016-03-03 23:08] #32030 closed

[2016-03-03 23:12] briansmith commented on #29754
Other alternatives include just making the current SipHash implementation faster or switching to another algorithm entirely. I recommend checking out https://github.com/google/highwayhash, where 10x performance improvements over already-optimized implementations are claimed. However, based on IRC conversation, it isn't clear if the 10x numbers are for cases that would be common in Rust. Also, ther

[2016-03-03 23:27] ollie27 commented on #31972
Yeah, if there's a fast path for one then the fast path for the other is just negating the output. I don't think there's ever a reason to override `ne()` and I think it only exists so the operator `!=` has something to map to.

[2016-03-04 00:06] notriddle commented on #19509
No, because you could always construct new types at every level using generics.

[2016-03-04 00:10] GuillaumeGomez opened #32033 "Lang item invalid code compiles"
The following code compiles whereas it shouldn't:

[code]

cc @brson
#31957

[2016-03-04 01:57] jrvidal commented on #31847
+1 on this.

(I'm guessing "+1" are fine in this thread...?)

[2016-03-04 05:15] kylone commented on #31364
@durka Best guess: Ran out of stack before hitting the recursion limit. This could happen if the function call chain is long enough during the constant evaluator working on evaluating these recursive functions.

[2016-03-04 06:33] ubsan commented on #27719
I think no bounds at all is the best solution. It'll be the best for FFI, and while it's a dangerous function if used without care, I believe that "syntactic salt" is the wrong way to stop people from using it, especially when there's a *really* good reason to; i.e., prevention of undefined behavior.

[2016-03-04 06:39] cybergeek94 commented on #27719
I'm not against `recover` being `unsafe` since it's meant for FFI already. I think that would be enough of a deterrent for casual use and make it easy to spot in code review.

[2016-03-04 06:49] Ticki commented on #29754
Or switching to something better like Murmur hashing, and dropping Robin-hood probing in `HashMap`....

[2016-03-04 06:58] dotdash commented on #32031
I'm working on this

[2016-03-04 07:16] veorq commented on #29754
FWIW, Highwayhash isn't backed by any security analysis, and at first
glance it doesn't look as secure as SipHash (the multiplications may be
abused, message chunks are injected only once, etc.).

On Fri, Mar 4, 2016 at 12:13 AM Brian Smith <notifications@github.com>
wrote:

[2016-03-04 07:47] Ticki commented on #29754
Why is security of hash tables such a big deal? 99.5% of the time, you don't need any security.

[2016-03-04 08:09] e-oz commented on #27719
"recover" can be useful not only for ffi, but also for daemons (web
server), and memory safety is very important in this case.

On Fri, 4 Mar 2016 at 07:39, Austin Bonander <notifications@github.com>
wrote:

[2016-03-04 08:09] tarcieri commented on #29754
@Ticki MurmurHash is a non-cryptographic hash function whose various iterations have been repeatedly broken. Here was one of the latest incarnations of a MurmurHash attack:

https://www.youtube.com/watch?v=wGYj8fhhUVA#t=18m51s

SipHash looks like the most secure option, although HighwayHash looks interesting as well (but probably could use some more analysis)

[2016-03-04 08:12] briansmith commented on #29754
Even still, they also have an ultra-fast implementation of standard SipHash and an even-ultra-faster implementation of a variant of Siphash in the highwayhash repo.

[2016-03-04 08:14] briansmith commented on #29754
It's about secure defaults. Let's say you have 200 hash tables on your server. Then with 99.5% security, you have at least one vulnerability that could have been avoided with a more secure hashing function. However, there's no good reason to have a slow implementation of a secure hash function. Security tools need to be effective *and* fast so that it isn't tempting to bypass them.

[2016-03-04 08:52] cybergeek94 commented on #27719
In any case, it's already commonly recognized as a "speed-bump" that signals you should only use an API if you know what you're doing.

One example is `String::as_mut_bytes()` which is `unsafe` yet does not have much to do with memory-safety AFAICT, just sanity in maintaining properly formed UTF-8.

[2016-03-04 09:05] e-oz commented on #27719
@cybergeek94 I disagree. Words like "commonly recognized" are more suitable for world of Ruby, with all of their implicit magic. In Rust things should be explicit.

[2016-03-04 09:17] cybergeek94 commented on #27719
Exactly. And the message that `unsafe` sends is clear: if you don't do your homework and get this right, bad things *will* happen.

[2016-03-04 09:21] mitaa commented on #31561
It seems like this is somehow caused by the changes to `is_useful` in #31020.

[2016-03-04 09:25] e-oz commented on #27719
Right, and I've tried to say that unsafe behavior is not desirable for daemons, where `recover` could be very very useful.

[2016-03-04 09:44] dgrunwald commented on #27719
@cybergeek94: `unsafe` is about  memory-safety and type-safety (which are interlinked). Type-safety includes upholding a type's invariants, so `String::as_mut_bytes()` is `unsafe` because we allow unsafe code to rely on strings being properly formed UTF-8.

It's important that there's a clear boundary between what's possible in safe Rust and what needs unsafe Rust. When that boundary is unclear, u

[2016-03-04 10:05] #31624 closed

[2016-03-04 10:35] Ticki commented on #29754
I still don't get the rationale behind choosing such a slow hash function. Recently, I have been working on a ZFS implementation for Redox. By replacing the default hash function (SipHasher) with DJB2, I got a ~1.5-2 speed-up of the directory map.

If you need a secure hash function, you should replace your hash function. Default should reflect the majority of usecases, not some edge cases. Furthe

[2016-03-04 12:02] bluss commented on #32031
Probably the same issue as #24963

[2016-03-04 12:34] dotdash commented on #32031
Apparently it will be more useful to tackle this when @eddyb is done with his current work on trans.

[2016-03-04 12:41] bstrie commented on #29754
Title changed to reflect that there are now multiple options to consider for replacing the default algorithm.

[2016-03-04 12:46] bstrie commented on #29754
@Ticki Rust tries to be both secure by default and fast by default, which is a tension that C and C++ don't attempt to balance. This means that the statement "if you need a secure hash function, you should replace your hash function" is not intrinsically more valid than "if you need a fast hash function, you should replace your hash function".

[2016-03-04 12:51] Ticki commented on #29754
The point is, you do, in the vast majority of cases, not need a secure hash function, and when you do, SipHasher is not sufficient. The trade-off is simply too costly to be worth making.

[2016-03-04 12:54] arthurprs commented on #29754
Can all agree that rust default has her needs to be hidden behind a generic definition?

Because even for the defense advocates, this guarantees we can release a version with an even more secure algorithm if the current breaks.

[2016-03-04 12:54] bstrie commented on #29754
@Ticki Can you elaborate on how Siphash is not sufficient for preventing DoS attacks?

[2016-03-04 12:55] arthurprs commented on #29754
@ticki siphash has no known attacks, so it should be more than enough.

[2016-03-04 12:57] bstrie commented on #29754
@arthurprs I don't believe we've ever made an explicit compatibility promise about the default hashing function. I think it isn't too difficult to argue that we can change the algorithm to whatever we want without needing a major version bump.

(Though if there *are* any regressions from such a change, Crater probably wouldn't be able to find them.)

[2016-03-04 13:16] Ticki commented on #29754
SipHasher do not have known attacks. That's true, assuming your run enough rounds, which Rust does not.

[2016-03-04 13:33] nagisa commented on #31847
`--pretty` and `--unpretty` should probably be `-Z pretty/unpretty` instead. cc @nikomatsakis

[2016-03-04 13:56] cmbrandenburg opened #32040 "Rustdoc search results ignore markdown formatting"
Using Rust 1.7, a rustdoc search result shown in the browser (as a consequence of pressing the `S` key and entering a search term) displays raw Markdown, not formatted text. For example, take the standard library documentation, press `S`, then enter the search term `trait: Neg`, and the search result will show this text verbatim:

[code]

Whereas, it should be formatted—i.e., no backticks.

[2016-03-04 14:11] DanielKeep commented on #27721
I'm currently trying out some runtime scanners for [`scan-rules`](https://crates.io/crates/scan-rules).  Basically: I want users to be able to parse text based on `Pattern`s (*e.g.* accept anything that matches this pattern, consume input until this pattern is matched, *etc.*).  The current example is being able to do something like (where `until` accepts a `Pattern`):

[code]

The problem I'm hav

[2016-03-04 14:38] DanielKeep commented on #27721
Oh, another thing I just realised: there doesn't appear to be any way to find out how *long* a match is given a pattern and, say, `str::starts_with`.

[2016-03-04 14:39] bluss commented on #27721
You can use .next_reject for that.

[2016-03-04 14:40] nikomatsakis commented on #27719
So @wycats reminded me of something over IRC. The original intention was that `RecoverSafe<F>` would implement `FnOnce()` iff `F: FnOnce()`. This then implies that one can "assert recover safety" by **wrapping the closure** and not by **wrapping the upvars**. In other words, `recover(|| foo)` in a world where recover had no bounds would be equivalent to `recover(AssertRecoverSafe(|| foo))` in a wo

[2016-03-04 14:46] nikomatsakis commented on #27719
@cybergeek94

This is a common misconception. In fact, there is code for `str` and `String` that assumes the input is valid utf-8; if you violate that, you can cause memory safety violations. That said, I don't think anybody argues that `unsafe` should be strictly intended for memory safety. Rather, the argument is that `unsafe` should be used to protect **strong invariants**. I think [@aturon art

[2016-03-04 14:48] funny-falcon commented on #29754
@ticki rust run enough rounds, and SipHash's author comfirms that. Read comments carefully, author answered here.

[2016-03-04 14:49] nikomatsakis commented on #27719
I was also thinking about the name. I do think that "recover" is perhaps not the right emphasis. When using `recover`, you aren't necessarily expecting to *recover* from a panic -- typically you are going to **propagate** that panic, whether that be by further unwinding (perhaps translating the panic to a return code, or translating the panic across threads) or by poisoning out data that may be af

[2016-03-04 14:58] nagisa opened #32043 "SipHasher documentation says too much"
on http://doc.rust-lang.org/stable/std/hash/struct.SipHasher.html

is not something we should be telling people and the sentence should be removed.

[2016-03-04 15:02] tomaka commented on #26758
I just installed the 1.9 nightly. The installer still froze, but only for about 30 seconds instead of forever.

[2016-03-04 15:05] nikomatsakis commented on #27719
Anyway, regarding the `AssertRecoverSafe` bound, I will say the following. I think people tend to view `AssertRecoverSafe` as a burden, but I don't see if that way. I see it as an **opportunity** -- basically the compiler is reminded me that I should add some comments to explain that, since I am taking manual responsibility for propagating panics, I should describe how I plan to do that, and justi

[2016-03-04 15:38] erickt commented on #29754
@bstrie: we explicitly left the hashing algorithm abstract behind the name RandomHash to give us the flexibility of switching to a better algorithm, or if attacks on SipHash are discovered.

[2016-03-04 15:43] steveklabnik commented on #32043
/cc @rust-lang/libs , I want your opinion on this.

[2016-03-04 16:07] steveklabnik commented on #20526
Triage: looks like https://github.com/rust-lang/rust/pull/29463 is stuck in review, but should fix this.

[2016-03-04 16:08] steveklabnik commented on #13978
Triage: I'm pretty sure this is still an issue, but will eventually go away with rustbuild.

[2016-03-04 16:11] steveklabnik commented on #14962
I think this has just worked out? A small diff:

[code]

transcript:

[code]

[2016-03-04 16:13] steveklabnik commented on #15020
Triage: this is a very old ticket, which is a bit in the weeds... but I read this as saying "cfg should work on fn items", which does work? It's not clear to me.

[2016-03-04 16:22] steveklabnik commented on #15144
Triage: I _think_ that I've properly updated this code?

[code]

it still errors with

[code]

[2016-03-04 16:23] steveklabnik commented on #15687
Triage: another very old ticket. @nikomatsakis @pnkfelix has this question been resolved over the past few years?

[2016-03-04 16:26] steveklabnik commented on #20224
Triage: I was trying to update this code, and got here:

[code]

But it's still failing with

[code]

This is one of those errors I always forget how to fix. @AndyShiue , what do you think about this ticket today?

[2016-03-04 16:27] steveklabnik commented on #16860
Another old ticket that's too in-the-weeds for me to properly evaluate it. @nikomatsakis @aturon how do you feel about this today?

[2016-03-04 16:32] steveklabnik commented on #20649
Triage: FIXME is still in the code.

[2016-03-04 16:33] steveklabnik commented on #20590
Triage: would this be an RFC now? Post 1.0, a change like this feels pretty big.

[2016-03-04 16:35] steveklabnik commented on #15449
By changing `int` to `i32`, this error persists today.

I feel like this is a duplicate of another ticket, but I cannot find it right now.

[2016-03-04 16:38] steveklabnik commented on #14064
Triage: same as @frewsxcv , These are still presently ignored, but I don't have the proper machinery.

@alexcrichton , should we maybe try removing the ignore, and letting bors take a look? If it was a bug in LLVM, well, a lot has changed since 2014....

[2016-03-04 16:40] steveklabnik commented on #9447
Today, these almost all end with a period, and I plan on doing so as I go through the docs.

/cc @rust-lang/libs, is that acceptable? Or should I not put one?

[2016-03-04 16:43] aturon commented on #9447
@steveklabnik Consistency is most important. I personally like periods in this context, even for sentence fragments.

[2016-03-04 16:44] Nokel81 opened #32044 "Array indexing acting as array.get"
I know that
`let ar = [1, 2, 3, 4];`
`ar[4];`
will error out at runtime but
`ar.get(4);`
will return `None`.

Would it make sense for there to be a compiler tag that makes `ar[4]` behave like `ar.get(4)`?

[2016-03-04 16:44] steveklabnik commented on #21905
Traige: `staged_api` is now only available to the compiler, so I was unable to come up with a quick test case.

[2016-03-04 16:47] steveklabnik commented on #11094
Triage: echoing what @frewsxcv says, but also noting that rustbuild will eventually obviate this.

[2016-03-04 16:47] steveklabnik commented on #21434
Triage: I don't know if this is still a problem or not.

[2016-03-04 16:48] sfackler commented on #32043
What in particular is wrong with that sentence?

[2016-03-04 16:48] steveklabnik commented on #21270
@mkpankov , have you been seeing this lately? Also, should this be refiled against https://github.com/rust-lang/rustup ?

[2016-03-04 16:53] steveklabnik commented on #21934
Triage: it seems like a private type can no longer be exported as a public type at all

[code]

gives

[code]

So I believe this is effectively fixed? My `core`/`std` comment is more about reexports where both are public:

[code]

which gives

[code]

which is covered by another ticket whose number escapes me.

[2016-03-04 16:54] bluss commented on #31898
I think you have found the correct workaround for this. Another way to do it is `let doc = &doc;`

So, what sets the two cases apart? `&String` and `&str` that compile, those are simple `Copy`able references, in the other case `doc` is a `String`.

I think this means that the innermost closure will choose to take its captures as copies (copies of the references) instead of by reference.

[2016-03-04 16:57] steveklabnik commented on #21956
Triage: not aware of any diagnostics changes here. Unsure what we can do, though it's not my area of speciality.

[2016-03-04 16:57] petrochenkov commented on #15449
https://github.com/rust-lang/rust/issues/12334 and it's closed.
This "strange" behavior is intentional currently.

[2016-03-04 16:59] steveklabnik commented on #21508
Well, a loooong time after 1.0, I guess this is stuck here, closing.

[2016-03-04 16:59] #21508 closed

[2016-03-04 17:00] steveklabnik commented on #8256
Triage: it looks like @pnkfelix did some work, but I'm unaware of any further things. Is there a way we can get a reproduction of this issue?

[2016-03-04 17:03] petrochenkov commented on #21905
Still an issue.
(Also, `staged_api` is still available to everyone on unstable, it just uses misleading error message to hide the truth.)

[2016-03-04 17:04] alexcrichton commented on #32044
Thanks for the report! This would be a pretty significant language change, however, so I think that this probably belongs in the rust-lang/rfcs repo for now. Could you open an issue over there instead?

[2016-03-04 17:04] #32044 closed

[2016-03-04 17:05] alexcrichton commented on #9447
I don't have much of an opinion beyond ensuring we're consistent, whatever's easiest I'm game for :)

[2016-03-04 17:08] petrochenkov commented on #21934
The issue is relevant to "unnameable" `pub` types which are still allowed.

[code]

`m::PrivateName` is still used in error messages, while it's preferable to use `PublicName`.

[2016-03-04 17:11] steveklabnik commented on #18952
Triage: same error today. Here's the updated code:

[code]

[2016-03-04 17:16] alexcrichton commented on #14064
Sure, I'd be game for unignoring them

[2016-03-04 17:17] steveklabnik commented on #21952
Triage: adding the extra bound on the impl makes this fail to compile, since the signature doesn't match.

[2016-03-04 17:17] steveklabnik commented on #20438
Triage: I'm not aware of any changes here, and I don't have `/tmp` mounted on a separate partition to be able to try this out.

[2016-03-04 17:18] steveklabnik commented on #20297
Triage: no idea what's going on with this, and it's very, very old. @nikomatsakis is this still relevant?

[2016-03-04 17:18] tarcieri commented on #29754
To the contrary, attacker-controlled data can wind up quite deep in your program, and any time that may happen you're better off with a hash function that mitigates hashDoS.

SipHash is among the few functions that *is* generally considered sufficient to mitigate this case.

[2016-03-04 17:19] #30891 closed

[2016-03-04 17:21] steveklabnik commented on #22043
Triage: none of these work today, but I haven't followed the `box` syntax changes closely enough to know how to update them. Removing the type annotations on the closure arguments leads to

[code]

which seems... quite bad.

[2016-03-04 17:25] steveklabnik commented on #21203
Triage: this now works. Full reproduction:

[code]

[2016-03-04 17:29] steveklabnik commented on #22001
Triage: `std::num::Float` doesn't exist any more. I'm not sure of the best way to reproduce this. Using the `num` crate, I get

[code]

and it doesn't look like `one` is implemented for `Float`.

[2016-03-04 17:31] steveklabnik commented on #22108
Triage: no changes here

[2016-03-04 17:32] steveklabnik commented on #22083
Triage: this is still true today.

[2016-03-04 17:34] steveklabnik commented on #12690
Triage: `sleep` now takes a `Duration`, and so will grow a nanosecond precision when `Duration` does.

[2016-03-04 17:35] steveklabnik commented on #9159
Triage: no change.

[2016-03-04 17:36] steveklabnik commented on #12932
Triage: no src link on methods as of today.

[2016-03-04 17:39] steveklabnik commented on #8552
Triage, still listed alphabetically. Here's a sample source file:

[code]

![2016-03-04-123942_243x238_scrot](https://cloud.githubusercontent.com/assets/27786/13535036/162063a0-e206-11e5-979b-28a9dd744a80.png)

[2016-03-04 17:39] sfackler commented on #27719
Altering `AssertRecoverSafe` to work on the closure itself does take care of my ergonomic concerns!

When discussing a rename, it's worth noting that the `panic::propagate` function also exists to pair with `panic::recover`, so renaming `recover` to `manually_propagate` might not fit exactly.

[2016-03-04 17:41] steveklabnik commented on #11724
Triage: no change

[2016-03-04 17:43] alexcrichton commented on #9159
I... don't think we're going to do this as this is the standard terminology, so gonna close. (also a super old bug...)

[2016-03-04 17:43] #9159 closed

[2016-03-04 17:44] sfackler commented on #27719
I am concerned about `AssertRecoverSafe` becoming an increasingly complex web of impls and !impls over time.

[2016-03-04 17:45] alexcrichton commented on #12690
Oh this is actually done, `Duration` has nanosecond precision.

[2016-03-04 17:45] #12690 closed

[2016-03-04 17:46] alexcrichton commented on #27809
@petrochenkov it's how the AsciiExt trait has turned out, it's intended for conversions.

[2016-03-04 17:46] steveklabnik commented on #16135
Triage:

[code]

[code]

[2016-03-04 17:47] steveklabnik commented on #10324
Triage: timers are no longer in the standard library at all. Closing.

[2016-03-04 17:47] #10324 closed

[2016-03-04 17:48] steveklabnik commented on #16442
Triage: no changes I'm aware of.

[2016-03-04 17:48] ismail commented on #25457
This is still true for 1.7.0 release, it would be immensely helpful if you could sign your releases.

[2016-03-04 17:50] steveklabnik commented on #21764
Triage: the original file is gone. @GuillaumeGomez if you're still seeing this, can you give me a new reproduction? Closing till then.

[2016-03-04 17:50] #21764 closed

[2016-03-04 17:51] steveklabnik commented on #22207
Triage: still giveing the original error, rather than a privacy error.

[2016-03-04 17:53] steveklabnik commented on #22239
This example no longer reproduces:

[code]

[2016-03-04 17:53] #22239 closed

[2016-03-04 17:56] steveklabnik commented on #14462
Currently:

[code]

shows

![2016-03-04-125625_327x119_scrot](https://cloud.githubusercontent.com/assets/27786/13535481/79798b28-e208-11e5-908c-9fdfde2224e2.png)
![2016-03-04-125630_396x128_scrot](https://cloud.githubusercontent.com/assets/27786/13535480/7979af40-e208-11e5-91ca-7c7bb0e0d644.png)

And the original method in the example doesn't exist anymore. I think I'm treating this one as "innoce

[2016-03-04 17:57] steveklabnik commented on #22183
Triage: not aware of any changes here?

[2016-03-04 17:59] steveklabnik commented on #22231
This specific example is much nicer today:

[code]

gives

[code]

can this be closed, then, or are there other cases?

[2016-03-04 17:59] steveklabnik commented on #6759
Triage: no change here.

[2016-03-04 18:00] steveklabnik commented on #21198
Triage: too in the weeds for me.

[2016-03-04 18:03] steveklabnik commented on #11011
A change like this would be a very large one today; I haven't heard anyone clamoring for this in a while. We have been changing the way that some of this happens; notably, https://github.com/rust-lang/rust/pull/31333

as such, i'm giving it a close.

[2016-03-04 18:03] #11011 closed

[2016-03-04 18:06] steveklabnik commented on #18043
Triage: no change.

[2016-03-04 18:15] steveklabnik commented on #21905
Ahhh I thought I was using unstable, I guess I wasn't.

On Mar 4, 2016, 12:03 -0500, Vadim Petrochenkov<notifications@github.com>, wrote:

[2016-03-04 18:16] steveklabnik commented on #15449
Closing the .

[2016-03-04 18:16] #15449 closed

[2016-03-04 18:16] bsteinb opened #32045 "Sub-optimal codegen for f32 tuples"
Similar to the behavior observed in #32031, tuples of `f32` and `f64` seem to be passed to functions in GPRs.

The `f32` tuple takes an especially large hit, since the two f32 are passed inside a single 64 bit GPR and have to be excracted and compressed via `shift` and `or` instructions. Even with inlining turned on, this does not go away.

The `f64` tuple is not as bad as the `f32` tuple. Without

[2016-03-04 18:31] wycats commented on #27719
The original intent of `AssertRecoverSafe` was something like the following:

* Most of the time, people are using `recover` through abstractions like `thread::spawn`. Those abstractions handle recover safety through the `Send + 'static` bound.
* The `thread::scoped` API handles recover safety through re-propagation.
* For people writing FFI functions meant to be called from C, recover safety can

[2016-03-04 18:40] nagisa commented on #32043
@sfackler we’re telling that some arbitrary hasher should be considered a main hasher (whatever main is supposed to mean here) for hashtables even while we reserve a capability to change (and likely will, eventually) default hasher for hashtables at will. Especially see https://github.com/rust-lang/rust/issues/29754.

[2016-03-04 18:44] sfackler commented on #32043
Ok, that makes sense. We could drop the hashtable reference entirely or weaken it to mentioning that it it is *currently* the default algorithm for our hash tables, though this may change in the future.

[2016-03-04 18:46] ollie27 commented on #27809
You can't. Or at least it wouldn't make much sense for them to. The `into_` methods return `Self::Owned` rather than `Self` like the `to_` methods. So when implementing `AsciiExt` for any of the existing array types that already implement `Deref` you can either set `Owned` to `Self` which will break any existing calls to the `to_` methods because the return types will have changed or you can set `

[2016-03-04 19:14] SimonSapin commented on #27809
The trait is implemented for `str` and `[u8]`. You can’t return them unboxed.

[2016-03-04 19:41] rillian opened #32047 "Build with --disable-elf-tls doesn't disable tls"
Sorry for not testing this earlier, but the no-tls builds we were doing for gecko seem to be broken in 1.7.0.

If I set `MACOSX_DEPLOYMENT_TARGET=10.7` and `configure --disable-elf-tls` as before, the resulting build uses thread-local storage:

[code]

So it seems like --disable-elf-tls is broken. The target_thread_local changes in #30417 added MACOSX_DEPLOYMENT_TARGET-based detection. However, it

[2016-03-04 19:55] steveklabnik commented on #22528
Triage: no change, same error.

[2016-03-04 19:56] rillian commented on #32047
Building with `MACOSX_DEPLOYMENT_TARGET=10.6` doesn't work in rust 1.6 either, so the issue is just that --disable-elf-tls doesn't work any more.

[2016-03-04 19:56] steveklabnik commented on #22216
Triage: this diagnostic remains the same today.

[2016-03-04 19:57] steveklabnik commented on #22449
Triage: no change.

[2016-03-04 19:57] steveklabnik commented on #22445
Traige: there's been renewed work on a real grammar, but this is still far from done.

[2016-03-04 19:59] steveklabnik commented on #20678
Triage: no change today.

[2016-03-04 20:04] steveklabnik commented on #18133
/cc @rust-lang/compiler is this something that's going to be changed, or is this pretty much expected behavior?

[2016-03-04 20:06] steveklabnik commented on #22405
Update: this code errors with

[code]

I have no idea what's been going on with the placement syntax, so I'm not sure if this is expected or not. It seems like what @nikomatsakis is talking about.

[2016-03-04 20:07] eddyb commented on #18133
It would be nice to have a list, but maybe really compact? Especially if there are more than a dozen implementations.

[2016-03-04 20:08] steveklabnik commented on #22171
Triage: over a year later, do you still feel this might be moot, @pnkfelix ? or a test case?

[2016-03-04 20:09] steveklabnik commented on #16593
Triage: not sure if anything has changed here, but I don't think so.

[2016-03-04 20:10] steveklabnik commented on #22380
Triage: same issue today.

[2016-03-04 20:11] steveklabnik commented on #22340
Triage: there is still no way to declare lifetime parameters for closures like this today.

[2016-03-04 20:12] eddyb commented on #22405
My first attempt at a solution resulted in #27292, but I now believe there is no point in desugaring to Rust code when we can handle this much better in type-checking if we know it's placement syntax and not just a bunch of function calls ([see comment](https://github.com/rust-lang/rfcs/pull/1426#issuecomment-167010445)).

[2016-03-04 20:14] steveklabnik commented on #22451
Triage: no change.

[2016-03-04 20:15] steveklabnik commented on #21042
Triage: no change.

[2016-03-04 20:16] steveklabnik commented on #22654
Update: it's been a year, and nobody else has commented on this. @plashchynski are you still seeing this today?

[2016-03-04 20:16] steveklabnik commented on #22630
Triage: no change

[2016-03-04 20:18] steveklabnik commented on #22552
/cc @rust-lang/lang, @rust-lang/compiler  is there any discussion on what this limit should be?

[2016-03-04 20:19] alexcrichton commented on #32047
Yeah with #30417 the `--disable-elf-tls` option was basically obsoleted as the environment variable is the way to control it now. We may need to change how we compile/link LLVM to work with 10.6, however.

[2016-03-04 20:27] steveklabnik commented on #21904
Triage: unclear if we ever did this.

[2016-03-04 20:28] eddyb commented on #22552
@steveklabnik IMO we should implement macro expansion without recursing in the compiler.
That would mean it could potentially never terminate, but at least we wouldn't have errors like this.
It could also be much more efficient, by reusing ranges of tokens instead of copying them over and over again.

[2016-03-04 20:29] steveklabnik commented on #22760
Triage: runnable example:

[code]

no change to the diagnostic, however.

[2016-03-04 20:35] steveklabnik commented on #22684
I've created a self-contianed example of this behavior:

[code]

/cc @rust-lang/lang . I am not sure that this is fixible? It would seem like a big change to modify these rules.

[2016-03-04 20:37] jonas-schievink commented on #22552
@eddyb Isn't the recursion limit supposed to prevent never-terminating compilations? Being able to stack-overflow the compiler with a `#![recursion_limit = "5000"]` sounds bad. (I always thought it limits recursive user code, be it macros, monomorphizations, etc. and *not* rustc-internal recursion)

That said, the recursion limit isn't doing a very good job if this is what it's supposed to do:
[co

[2016-03-04 20:37] steveklabnik commented on #22710
Over a year later, with no comments. @klutzy are you still seeing this?

[2016-03-04 20:38] steveklabnik commented on #22706
Triage: this still compiles.

[2016-03-04 20:39] jonas-schievink commented on #21904
There's rust-lang/rust-buildbot#16

[2016-03-04 20:39] eddyb commented on #22552
Macros and monomorphization both recurse in the Rust compiler and would otherwise end up in stack overflows.

[2016-03-04 20:40] steveklabnik commented on #15618
Triage: no idea.

[2016-03-04 20:43] steveklabnik commented on #22472
Triage: this ticket overall is unclear to me, or rather, I'm not sure how to come up with an example here.

[2016-03-04 20:55] ollie27 commented on #27809
The trait is but the `into_` methods aren't because of `where Self: Sized` so it should be okay to return `Self` right?

[2016-03-04 21:01] #32004 closed

[2016-03-04 21:22] ghost opened #32049 "LLVM error while cross-compiling Servo for ARM"
The profile_csv3 branch compiles successfully on a Mac OS X 10.10 and on a 64-bit Ubuntu 14.04. However, while cross-compiling the profile_csv3 branch for ARM (following instructions here: https://github.com/servo/servo-nightly/blob/master/.travis.yml) using the arm-linux-gnueabihf toolchain on an Ubuntu (14.04/15.10) host, I get the following error:

rustc: /buildslave/rust-buildbot/slave/nightly

[2016-03-04 21:32] rzambre commented on #32049
I posted this issue. I had to delete my old account.

[2016-03-04 21:55] SimonSapin commented on #27809
IIRC the compiler would complain about `Sized` and not let me do that. An alternative would be to have a separate `OwnedAsciiExt` trait (which we did at some point, but someone (Alex?) disliked having two traits).

[2016-03-04 23:02] bluss commented on #16135
Since we did the Vec / RawVec split, it should now be the case that the RawVec allocation itself is always free'd even if one of the elements panic in Vec's drop.

[2016-03-04 23:11] CryZe opened #32052 "Endless Loop or Error Messages when parsing in Beta and Nightly Compiler"
I just encountered an infinite loop of error messages when compiling this simple code:
[code]
[PlayPen Link](http://is.gd/tOYGdW) (Warning: will most likely crash your browser)

The error messages I get are:
[code]

## Meta

$ rustc --version --verbose
rustc 1.9.0-nightly (e91f889ed 2016-03-03)
binary: rustc
commit-hash: e91f889ed3a7ced584e90cf7b05e2c0ac476f900
commit-date: 2016-03-03
host: x86_64

[2016-03-04 23:14] ubsan commented on #27719
@nikomatsakis I've recently started thinking that we need to stop using the term "memory safe". What we really mean is "defined behavior". If something is safe, it cannot cause undefined behavior in the presence of no unsafe code. Marking something `unsafe` means "With only this thing, you could cause undefined behavior in safe code". As an example of something which could invoke undefined behavio

[2016-03-04 23:22] steveklabnik commented on #5551
Triage: have had several conversations about this, never quite been sure exactly what we want to put and where.

[2016-03-04 23:27] CryZe commented on #32052
This seems to be a duplicate of #31804, closing this.

[2016-03-04 23:27] #32052 closed

[2016-03-05 00:27] bluss commented on #22380
This is basically #30961

[2016-03-05 00:30] bluss commented on #6759
Using headings is very unsatisfactory. I prefer `**Panics** if you blah`.

[2016-03-05 01:04] nagisa commented on #22380
I disagree. The linked issue is only complaining about us suggesting to use `llc` whereas here the issue is about option value working this or another way depending on whether a specific stage of compilation is reached.

[2016-03-05 02:32] tomjakubowski commented on #14462
This issue was about inlined documentation, i.e. documentation for functions which are re-exported from another crate.  A single-crate test case doesn't suffice to close this issue.

[2016-03-05 02:34] tomjakubowski commented on #14462
Here's an example showing why this issue should still be open:

collections docs for String::from_utf8_lossy, includes the `<'a>` to declare the named lifetime:

http://doc.rust-lang.org/collections/string/struct.String.html#method.from_utf8_lossy

std docs for String::from_utf_8_lossy, doesn't include the`<'a>` to declare the named lifetime:

http://doc.rust-lang.org/std/string/struct.String.html

[2016-03-05 03:19] steveklabnik commented on #14462
Understood! Thanks for elaborating.

[2016-03-05 06:09] e-oz commented on #27719
no, memory safety is not only defined behavior, but also data safety.
On Sat, 5 Mar 2016 at 00:15, Nicole Mazzuca <notifications@github.com>
wrote:

[2016-03-05 06:20] kamalmarhubi commented on #27751
I have a possible use case for stabilizing `Slice`: I would like to use byte slices directly as `struct iovec` for `readv` and `writev` in nix. There's an issue with more detail: https://github.com/nix-rust/nix/issues/263

Mostly I'm looking to exploit the (pointer, length) representation matching up with iovec, and thereby allowing a nice ergonomics win for calls using iovecs.

[2016-03-05 08:23] llogiq commented on #29754
@Ticki I'd like to argue your point from another angle: If you have a slow-ish but secure hash by default, you only need a profiler to find out those usages that are your bottleneck and optimize those (perhaps even by just using fewer hash lookups, or parallelizing the hash computations and computing hashes up-front, ...). There are always multiple ways to do this, but measuring performance is the

[2016-03-05 08:40] mzabaluev commented on #27719
@e-oz If your definition "data safety" includes prevention of memory leaks, safe Rust does not guarantee that.

[2016-03-05 09:13] ranma42 commented on #22380
This is going to be affected by #31709, as it moves the initialisation of LLVM to a much earlier stage.

[2016-03-05 09:53] e-oz commented on #27719
@mzabaluev it does. And data safety is not about memory leaks, but about... data safety. Race conditions, etc.

[2016-03-05 10:06] Noctune commented on #31898
I have reduced it a bit:

[code]

The above stops working if you remove the `let v = &v` line. Weirdly, the following does not work in either case:

[code]

Somehow `&v[...]` has a different lifetime bound than `&v`.

[2016-03-05 10:14] mkpankov commented on #21270
@steveklabnik no, I didn't, but I don't use `rustup` frequently enough now.

[2016-03-05 11:47] glaebhoerl commented on #10184
@nikomatsakis Does `as` ever currently panic in debug builds? If it doesn't, for consistency and predictability it seems preferable to keep it that way. (I think it *should have*, just like arithmetic, but that's a separate, and past, debate.)

[2016-03-05 12:09] petrochenkov opened #32057 "`slice[slice.len()..]` doesn't result in an index out of bounds error"
`..` ranges are `[inclusive, exclusive)` and index access is normally bounds checked, e.g. `slice[slice.len()+100..]` or `slice[slice.len()]` panics, however `slice[slice.len()..]`/`slice[slice.len()..slice.len()]` is an exception, it just returns an empty slice despite the first inclusive index being out of bounds.

I agree this is convenient and I *guess* this was implemented intentionally, and

[2016-03-05 12:41] Manishearth opened #32059 "Check for version control conflict markers"
See https://twitter.com/whitequark/status/706091651979083776

If a C file has a version control conflict marker (e.g. `<<<<<<<<< HEAD` or `>>>>>>>>>>>>> branch`), clang will helpfully detect it and spit out a more specific parse error. Sounds like something we could be doing too.