[2016-08-16 15:18] nikomatsakis commented on #31436
Oh, and, a slightly better version of my `Carrier` trait would probably be:

[code]

where you would implement it like:

[code]

And `expr?` would generate code like:

[code]

A downside (or upside...) of this of course is that the `Into` conversions are pushed into the impls, which means that people might not use them when it makes sense. But also means you can disable them if (for your particula

[2016-08-16 15:30] metajack commented on #34434
I think release+debuginfo should be a tested Rust compiler code path. Do we need to file a separate bug from this to propose that Rust CI start doing this?

[2016-08-16 15:32] eddyb commented on #34434
@metajack We have `debug-opt` but it doesn't run tests.

[2016-08-16 15:35] metajack commented on #34434
@eddyb Then it sounds like my proposal is to enable tests on the existing debug-opt. I assume they are disabled because these code paths don't currently pass?

[2016-08-16 15:37] eddyb commented on #34434
I don't know the exact details. cc @rust-lang/tools

[2016-08-16 15:37] faebser commented on #35631
ah okay, my error. @canaltinova is already working on this.

[2016-08-16 15:38] sanxiyn commented on #34434
#27010 has discussion why debug-opt does not run tests.

[2016-08-16 15:40] faebser commented on #35233
I take 409

[2016-08-16 15:40] larsbergstrom commented on #34434
We would probably also like to test at least compiling on ARM32 or ARM64 (hopefully both), as those ICE even more often, or at least have over the last couple of years.

[2016-08-16 15:41] faebser commented on #35698
I'm gonna work on this, Part of #35233

[2016-08-16 15:42] michaelwoerister commented on #33727
#35340 has landed, closing `:D`

[2016-08-16 15:42] #33727 closed

[2016-08-16 15:43] jonathandturner commented on #35233
@faebser - @mikhail-m1 already chose 409, but it looks like you meant 408?  Signing you up for that one :)

[2016-08-16 15:44] metajack commented on #34434
@sanxiyn So it's just https://github.com/rust-lang/rust/issues/25270 that prevents enabling tests on debug-opt builders?

[2016-08-16 16:00] bugaevc commented on #34713
A bit off-topic: is there a reason why these prototypes are not syntax-highlighted?

[2016-08-16 16:08] knight42 commented on #35233
I will take 394 and 422

[2016-08-16 16:08] Stebalien commented on #31436
@nikomatsakis IMO, the trait should be `IntoCarrier` and `IntoCarrier::into_carrier` should return a `Carrier` (a new enum) instead of re-using result like this. That is:

[code]

[2016-08-16 16:17] felixalias commented on #35673
Hey all, thanks so much for all the investigation and deep dive into this. One of the Tessel developers also pointed me to #34906 with the same findings. Please feel free to resolve, I'll see about updating the target. Thanks again!

[2016-08-16 16:17] michaelwoerister opened #35720 "Add a file header for validation purposes to various incr. comp. artifacts"
This file header should at least include the `rustc` version that produced the file so that we know if we can use it or not. We already do a similar thing for metadata, so this shouldn't be too much effort.

cc @nikomatsakis

[2016-08-16 16:17] mikhail-m1 commented on #35699
I've managed to solve bonus like this:
h``  --> src/test/compile-fail/E0409.rs:15:23
   |
15 |         (0, ref y) | (y, 0) => {} //~ ERROR E0409
   |                 -     ^ bound in different ways
   |                 |
   |                 first binding

Is it OK?

[2016-08-16 16:21] jonathandturner commented on #35699
Yes, underlining the name of the binding works just fine.

[code]

[2016-08-16 16:24] alexcrichton commented on #34727
Current status:

| toolchain + flags | time for one `catch_unwind(|| {})` |
|--------------|------------------|
| stable, no LTO | 8ns |
| stable, LTO |   5ns |
| nightly, no LTO | 3ns |
| nightly, LTO | 0ns |

That is, I think we're as fast as we're gonna get. Without LTO we can't inline the panic runtime itself (because it's swappable), and in this case we're about as fast as we're gonna get. Wi

[2016-08-16 16:37] asajeffrey opened #35721 "vec::IntoIter is now invariant"
#35447 replaced a `*const T` by a `*mut T` in `IntoIter<T>`, which changed `IntoIter` from being covariant to being invariant. This breaks crates like `vec_map` which relied on `IntoIter` being invariant, e.g. https://travis-ci.org/asajeffrey/presort/jobs/152720189#L208 has error:
[code]
cc @alexcrichton @frewsxcv @apasel422

[2016-08-16 16:37] apasel422 commented on #35721
See my comment here: https://github.com/rust-lang/rust/pull/35447#issuecomment-240160056

[2016-08-16 16:40] frewsxcv commented on #35721
I'll be honest, I don't entirely know what covariant means, but I'm sorry for whatever pain it caused and wouldn't be offended if it got reverted.

Does anyone know of a resource explaining the terms 'covariant' and 'invariant' in this context?

[2016-08-16 16:41] asajeffrey commented on #35721
@frewsxcv the docs on variance are at https://doc.rust-lang.org/nomicon/subtyping.html

[2016-08-16 16:41] apasel422 commented on #35721
@frewsxcv: Basically, we just need to change `ptr: *mut T` back to `ptr: *const T`.

[2016-08-16 16:44] asajeffrey commented on #35721
@apasel422 is it safe to do that without also removing `as_mut_slice`?

[2016-08-16 16:46] frewsxcv commented on #35721
We probably need [something like this](https://github.com/rust-lang/rust/blob/master/src/libcollectionstest/vec.rs#L537-L540) for `IntoIter`.

[2016-08-16 16:49] apasel422 commented on #35721
@asajeffrey It seems to me that `IntoIter<T>` is logically a `Vec<T>`, so if `Vec<T>` is covariant in `T` and supports deref-ing to a mutable slice, then `IntoIter<T>` should also be OK to provide `as_mut_slice`.

[2016-08-16 17:01] asajeffrey commented on #35721
@apasel422 okay, good point. The thing that's worrying me is that the *const T is being treated as a constant pointer by LLVM, which may trigger unsafe LLVM optimizations it it's then exposed as a &mut[T].

[2016-08-16 17:05] asajeffrey commented on #35721
@apasel422 I think the difference is that `Vec` can be a `Unique` pointer, whereas `IntoIter` has two pointers into the vector, in order to be double-ended, so can't be `Unique`.

[2016-08-16 17:08] apasel422 commented on #35721
@asajeffrey It's already safe to cast a `*const T` to a `*mut T`. The standard library does this all over the place, including in `RawVec` (which internally uses `Unique`), which is how `Vec<T>` is covariant in the first place.

In terms of duplicating `Unique`, yes, eventually Rust might make use of optimizations that indicate that the underlying pointer is globally unaliased, so we should probab

[2016-08-16 17:13] #35584 closed

[2016-08-16 17:17] Amanieu commented on #34727
We could go one step further and move `__rust_maybe_catch_panic` into libstd and mark it with `#[inline]`. This would bring the non-LTO overhead to 0ns as well.

[2016-08-16 17:49] asajeffrey commented on #35721
@apasel422 okay, sounds like I'm being overly conservative!

[2016-08-16 18:00] sanxiyn commented on #34434
I just ran `make check` for debug-opt build, and it passed! So it seems to work on x86_64-unknown-linux-gnu.

[2016-08-16 18:04] ereichert opened #35724 "rust-gdb starts with error on nightly"
This may be related to

https://github.com/rust-lang/rust/pull/35585
https://github.com/rust-lang/rust/issues/35155

Tried to run rust-gdb for the first time in a while so I'm not sure when this started.

nightly-x86_64-unknown-linux-gnu unchanged - rustc 1.12.0-nightly (197be89f3 2016-08-15)

rust-gdb --args target/debug/tlx ~/Downloads/moviesample/trailer.mp4
GNU gdb (GDB) 7.11.1
Copyright (C) 2

[2016-08-16 18:13] alexcrichton commented on #34727
I don't think we can do that unfortunately due to how panic runtimes. work. The fact that switching the panic runtime is a compiler switch means that we have to have a strict ABI between the two, which means that `#[inline]` isn't possible.

[2016-08-16 18:14] alexcrichton commented on #35721
Thanks for the report @asajeffrey! As pointed out by @nikomatsakis we may just want to use `Unique<T>` here as well to have the correct variance just fall out.

@apasel422 or @frewsxcv, would either of you be interested in making a PR for this?

[2016-08-16 18:15] alexcrichton commented on #35721
Er `Unique` may not exactly be right, I think @apasel422 is [correct here](https://github.com/rust-lang/rust/issues/35721#issuecomment-240169654)

[2016-08-16 18:16] frewsxcv commented on #35721
I can't do anything at this very moment, but if no one gets around to it after a few hours when I get home from work, I can look into it.

[2016-08-16 18:30] alexcrichton commented on #34434
To clarify what we build today:

* We have builders for an optimized + debug assertions + debuginfo compiler. This does not run tests, it takes too long.
* We have a builder for an optimized compiler and non-optimized tests. Debug info is disabled
* We have a builder for an optimized compiler and optimized tests. Debug info is disabled.

I believe we have no builders that build tests with debug in

[2016-08-16 18:36] alexcrichton commented on #35092
The libs team discussed this yesterday and the conclusion was that a change like this would require an RFC, so as a result we're going to close this in favor of a future incarnation in the rust-lang/rfcs repo.

[2016-08-16 18:36] #35092 closed

[2016-08-16 19:06] Amanieu commented on #34727
What I mean is that we could use `intrinsics::try` for both panic runtimes. This will have practically zero cost in the case of `panic_abort` since the unwind path will never be called. However it will allow the `try` to be inlined entirely into the calling crate.

[2016-08-16 19:23] metajack commented on #34434
@alexcrichton is it debuginfo or the debug asserts that cause the slowdown when running tests?

[2016-08-16 19:32] Stebalien opened #35727 "iter::Zip is now invariant"
The following compiles on stable but not beta:

[code]

[2016-08-16 19:35] Stebalien commented on #35727
(also a regression from stable to beta)

[2016-08-16 19:44] michaelwoerister commented on #34955
@OlliV Normally we would not copy .o files at all, just create a new hard-link to the data. If data would have to be copied, that would indeed not be good for performance (although it probably still faster than generating the code from scratch and letting LLVM optimize it).

[2016-08-16 19:46] nikomatsakis commented on #29149
So, I implemented a fairly restrictive version of this check based on the dropck code -- it basically requires that the impl can only add the restriction that types add `Copy` where-clauses.

I did a crater run with the following results <https://gist.github.com/nikomatsakis/7a4951b1b819b58798186ecd6b544afa>:

- 5529 crates tested: 2653 working / 1000 broken / 17 regressed / 1 fixed / 1858 unknown

[2016-08-16 19:50] michaelwoerister commented on #34955
@nagisa What would be the advantage of using a reflink over using a hard-link? Ref-links are really interesting but they only seem to be supported by very few file systems.

[2016-08-16 20:00] nagisa commented on #34955
You would not need to reimplement CoW by yourself on those filesystems. The
filesystems are also better at doing CoW themselves than whatever you can
do from an application. E.g. it can handle CoW on both reflink and
reflinkee without any extra effort.

On Aug 16, 2016 10:51 PM, "Michael Woerister" <notifications@github.com>
wrote:

[2016-08-16 20:06] michaelwoerister commented on #34955
OK, but since we have to support the hard-link case anyway there would not be much of a difference in practice, right? Especially since we always either completely reuse a file or completely rewrite it (so far, at least).

[2016-08-16 20:10] DanielShaulov commented on #35716
The following compiles:

[code]

What is the difference between initializing a static struct and a regular one?

[2016-08-16 20:10] arielb1 commented on #29149
Problem: `ndarray` uses the following pattern:

[code]

There is an associated type, so even lattice impls won't really save us.

[2016-08-16 20:21] TimNN commented on #35716
`let a = ...` is an expression / statement.

`static A: Foo = ...` is (the definition of) an item.

Items are basically anything you can write outside of a function (`type`'s, `trait`s, `impl`'s, `static`'s, `const`'s, ..., for details see [the reference](https://doc.rust-lang.org/reference.html#items)).

An item defined inside of a block / function is basically the same as if the item was defined

[2016-08-16 20:24] TimNN commented on #35716
To quote the reference on [items inside of functions / blocks](https://doc.rust-lang.org/reference.html#item-declarations) (emphasis mine):

[2016-08-16 20:26] #35540 closed

[2016-08-16 20:38] alexcrichton commented on #34434
I don't personally know, but enabling them both causes the compiler to take just about as long to build as a no-debug-assertions and no-debug-info compiler takes to build and run tests.

[2016-08-16 20:39] alexcrichton commented on #34727
Perhaps! If we wanna change that ABI then I'd love to solve this issue to get solved even without LTO

[2016-08-16 20:40] alexcrichton commented on #35687
cc @jonathandturner, I think you're running into this as well

[2016-08-16 21:11] JustAPerson commented on #32905
Looks like this can be closed?

[2016-08-16 21:17] alexcrichton opened #35729 "Tracking issue for the `SliceIndex` trait"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1679

The implementations are stable, but the `SliceIndex` trait is not.

[2016-08-16 21:51] alexcrichton opened #35730 "Implementing a trait allows changing lifetime requirements, leading to memory corruption"
This code snipped, when compiled locally on OSX segfaults on stable (1.10.0) and exhibits memory corruption on nightly:

[code]

I believe the issue here is that the implementation of the `A` trait allows application of the `'static` bound, enabling the implementation of that function to assume that. The trait, however, uses the `'a` bound. When calling this function we can then feed in non-`'stat

[2016-08-16 21:52] apasel422 commented on #35730
Is this related to #18937?

[2016-08-16 21:54] alexcrichton commented on #35730
Aha indeed! Appears to be a dupe of that. I'll close and add a comment over there.

[2016-08-16 21:54] #35730 closed

[2016-08-16 21:55] alexcrichton commented on #18937
I've just closed https://github.com/rust-lang/rust/issues/35730 as a dupe of this which [has another example](https://github.com/rust-lang/rust/issues/35730#issue-171526768) of a segfault related to this we believe.

Renominating as this came up again, unfortunately...

[2016-08-16 22:03] Ericson2314 commented on #30027
Cause nobody mentioned it yet, `dlltool` is the binutils way of getting something for the linker when only a dll is present.

[2016-08-16 22:03] alexcrichton commented on #35590
I'd be personally wary of having the definition of a target vary depending on how the compiler was built. I feel like we get a lot of mileage of having a common vocabulary when talking about targets. That is, `arm-unknown-linux-gnueabi` means the same thing no matter what compiler you're using, what platform you're compiling from, etc.

It seems that we don't necessarily have a reason to *not* fol

[2016-08-16 22:43] frewsxcv commented on #35721
@apasel422 Just opened a PR to resolve this: https://github.com/rust-lang/rust/issues/35733

Sorry again for the accidental invariance!

[2016-08-16 22:43] retep998 commented on #30027
All an import library really is, is a mapping from a symbol such as `_foo@4` to a symbol in a dll such as `foo` in `BAR.dll`. A `.def` file is one way of explicitly specifying this mapping, and both `lib` and `dlltool` can create an import library from that `.def`. The only issue is that `lib` doesn't support mapping from one symbol name to a different symbol name, so on 32bit it _only_ supports c

[2016-08-16 23:02] brson opened #35735 "Change SipHash implementation to an optimized assembly version"
It's crucial that our secure hash maps are as fast as we possibly can make them, and there's more we can do yet. This is worth dropping down to assembly or even C for.

The best candidate is https://github.com/google/highwayhash. Unfortunately, it is apache2 only. We would need to get them to dual-license, but let's not bug them until we're sure we have a patch that's acceptable on our end.

This

[2016-08-16 23:24] brson commented on #35727
If this is a beta regression that means it is going to hit stable thursday.

[2016-08-16 23:27] brson commented on #35727
If somebody fixed and landed this _right now_ and we started a stable build _tonight_ we might be able to manage getting this into a Thursday release.

[2016-08-16 23:29] brson commented on #35727
... or we could just end up flubbing and missing our date.

[2016-08-16 23:31] mikedilger opened #35737 "drop not always behaving since nightly-2016-08-03-x86_64-unknown-linux-gnu"
This was discovered in database connection pooling where connections were not returned to the pool properly, and reported under https://github.com/sfackler/r2d2/issues/25

Unfortunately I do not have example code small enough to share at this point.

I narrowed down the rust-nightly version that introduced the bug to nightly-2016-08-03-x86_64-unknown-linux-gnu

@sfackler

[2016-08-16 23:37] alexcrichton commented on #35735
I've updated https://github.com/alexcrichton/siphash-bench to include the highwayhash repo, and the results look like (on nightly):

[code]

That is, SipHash13 in our standard library still beats out everything. There's a lot of hashes in that repo, though, and I could be building it wrong. @brson could you clarify which one you were referring to?

[2016-08-16 23:40] crypto-universe commented on #35697
@jonathandturner give me a hint how to implement bonus part, please.
I see, that my span is transferred into error handler from here:
rust/src/librustc_resolve/lib.rs:1952
[code]
ImplItem does not contain useful info. impl_item.span corresponds to whole function. The only stupid idea, that I tried - hardcode, like this:
[code]
Hardcoded shift for lower bound is more or less acceptable, because usu

[2016-08-16 23:41] alexcrichton commented on #35727
I don't think this is a serious enough regression to halt the release. @Stebalien this was just manufactured, right? There's no code that actually hit this?

[2016-08-16 23:47] mikedilger commented on #35737
when compiled with RUSTFLAGS="-Zorbit=off" the issue does not appear, so yes it is the MIR as suspected.

[2016-08-16 23:49] nagisa commented on #35737
The compiler not running drop glue is not considered unsafe behaviour (i.e. it is allowed to happen), but it is still weird this happens.

cc @arielb1 could be your drop elaboration not catching this (`&*Doop`) case?

@mikedilger Something that we could run without having postgresql installed would be ideal “minimal” case, even if it depended on other crates for now.

[2016-08-16 23:55] nagisa commented on #35737
Minimal reproduction:

[code]

[2016-08-17 00:07] brson commented on #35735
Huh, _siphash_ in the highway hash repo is _not_ AVX2 optimized. It's just C. It's only SipTreeHash and HighwayTreeHash that are AVX2 optimized. Neither are the same algorithm (though I think any crypto-hash is fair-game for the default).

[2016-08-17 00:12] nagisa commented on #35737
More minimal:

[code]

Removing either of early `return`s in the function makes the issue go away. Seems like a scoping issue.

[2016-08-17 00:14] brson commented on #35735
Here's what I think I want in an ideal world:

- The hasher buffers inputs up to some number of bytes that determines a 'big' input
- If `finish` is called before the input reaches that size it uses a hypothetical crypto-safe hash that is fast for small inputs (I don't know if such a thing exists)
- Otherwise it does cpu detection and if it has AVX2 drops to HighwayTreeHash
- If no AVX2 then SipHa

[2016-08-17 00:19] brson commented on #35735
@alexcrichton In your benches c2_siphash24 is faster than rust_siphash24, or am I misreading?

[2016-08-17 00:26] Stebalien commented on #35727
@brson. The fix is to either revert the zip specializations (simplest) or put the extra fields needed by specialization into the main `Zip` struct. We can keep the enumerate specialization as-is (it doesn't need extra specialized fields).

@alexcrichton Not *my* code.

[2016-08-17 00:30] Stebalien commented on #35737
@brson regression-from-stable-to-nightly (for a two more days at least).

[2016-08-17 01:09] alexcrichton commented on #35735
@brson yes I believe that c2 implementation is faster than the Rust implementation, no idea why though (just threw up some numbers)

[2016-08-17 01:11] brson commented on #2476
This is so ancient I imagine it has nothing to do with today's rustc.

[2016-08-17 01:11] #2476 closed

[2016-08-17 01:19] brson commented on #35737
Yeah I jumped the gun on the tag, but the beta is building right now.

[2016-08-17 01:45] sickHamm opened #35738 "A puzzled “[E0283]: type annotations required” error"
maybe a type inference (or trait bound check) bug for array;
[code]

[2016-08-17 03:51] jrmuizel opened #35741 "Generate commented assembly with --emit=asm"
clang -S produces nicely commented .s files. It would be nice if rustc did this too.

e.g. simd shuffles are commented
.loc directives have the corresponding line number comment
        .loc    1 4 25 is_stmt 1        ## test.c:4:25
debug information is commented
        .byte   14                      ## DW_FORM_strp
        .byte   17                      ## DW_AT_low_pc
        .byte   1

[2016-08-17 05:32] nrc commented on #15701
Nominating for discussion at lang-team meeting. I'd like to propose we stabilise on statements, remove from expressions. I suppose that requires an amendment RFC?

Do we have examples of uses where an attribute is on an expression, not a statement (and not an expression in statement position)?

[2016-08-17 05:37] sfackler commented on #35735
SipHash was specifically designed to be fast for small inputs and I think most of Google's effort for things like CityHash have been targeted around high throughput for long strings.

[2016-08-17 05:41] nrc commented on #23121
Status (iiuc) implementation is complete, but recent (2016-06-09) so probably some bugs to iron out (see also #26158, #35044).

I believe there is also general uncertainty among the lang team that slice patterns are generally 'right'. Hopefully, we can get some experience with the implemented feature and think about possible interactions with other features.

Question: there was a conflict with ex

[2016-08-17 05:49] nrc commented on #23416
re the soundness question in the OP, [this comment](https://github.com/rust-lang/rfcs/pull/803#issuecomment-78102035) is probably the best summary.

[2016-08-17 06:00] KiChjang commented on #35212
Here's what I've managed to do:
![progress](https://cloud.githubusercontent.com/assets/3248587/17725773/fe027176-6402-11e6-8159-b124e0295f52.png)
which looks pretty feature-complete, aside from the span including the identifier for the first argument in the second error.

Originally I thought of making spans out of `Mutability`, but that causes 2 problems, first is that `Mutability` does not inclu

[2016-08-17 06:15] comex commented on #15701
@nrc Yes, here is one (which I have used as well): https://github.com/rust-lang/rust/issues/32796#issuecomment-216884218

[2016-08-17 06:21] KiChjang commented on #35212
Oh, nevermind. I think the answer is pretty obvious. E0050 already checks for whether the trait fn and the impl fn have the same number of arguments, and is done before checking for E0053. This means if I simply obtain the iterator for both argument vectors and zip them, comparing only their mutability until I find one that does not match, I would have found the index for the two arguments.

[2016-08-17 06:55] TimNN commented on #35738
The following works (requires `#![feature(type_ascription)]`):

[code]

So apparently the compiler is having troubles inferring the correct type for the `Unbounded` in this specific case.

[2016-08-17 07:09] whitequark commented on #25270
Still fails today--it would be really nice to see this fixed. I'd like use LTO for my embedded platform to get smaller binaries.

[2016-08-17 07:19] KiChjang commented on #35212
Looks like we're done here:
![feature complete](https://cloud.githubusercontent.com/assets/3248587/17727758/4ac350fe-6410-11e6-85d6-5cfc9c877532.png)
PR up in a bit.

[2016-08-17 07:29] whitequark commented on #25270
On top of that, it looks like that, even if I set `debug = false` in profile overrides, I still get this failure because libcore and friends are built with -g.

[2016-08-17 07:52] sickHamm commented on #35738
@TimNN  thank your workaround

[2016-08-17 08:22] sackery opened #35746 "format!("{}{}", "str-", rand_string(10)) what's wrong?"
rand_string() return String type.

error: internal compiler error: Error constructed but not emitted

error: internal compiler error: unexpected panic

[2016-08-17 08:24] sackery commented on #35746
`
let config = figgy.parse().ok().expect("Invalid document parsed");
let sd_config = config.get_node("sd");
sd_config.and_then(|sp| sp.get_attr("session_signing_key"))
                                                        .and_then(|value| value.get_str())
                                                        .unwrap_or(format!("{}{}", "sandech", &*rand_string(10)))

[2016-08-17 08:30] arthurprs commented on #27108
This would be optimized if https://github.com/rust-lang/rfcs/pull/1666 is accepted.

[2016-08-17 08:34] rkruppe commented on #35727
@alexcrichton `Zip` may or may not be hit by actual code, but FYI the similar variance regression in `vec::IntoIter` (#35721) breaks `vec_map` which is a transitive dependency of a couple of popular crates.

[2016-08-17 09:05] jonas-schievink commented on #2476
From a quick look, `TypeVariants` still [exists](http://manishearth.github.io/rust-internals-docs/rustc/ty/enum.TypeVariants.html) and is still 4 words large (1 reference, a fat pointer (3 pointers in total) and a `DefId` which is 64 bits)

[2016-08-17 09:19] jonas-schievink commented on #35738
No need to use type ascription:

[code]

[2016-08-17 09:21] jonas-schievink commented on #35738
Regarding the actual issue, I don't think that's a bug. The signature of `BTreeMap::range` looks like this:
[code]

`K` is `[u8; 20]` in this impl. There are two `K: Borrow` impls in the standard library that could apply:

[code]

I believe this is just the compiler telling you that it doesn't know which one to use.

[2016-08-17 10:01] bluss commented on #35727
Ah this is troublesome, indeed it's the associated types/struct field specialization that causes this, not just the regular "behavioral" specialization isn't it. I can't think of a workaround, we could back out the whole optimization, or just the associated type part?

[2016-08-17 10:02] TimNN commented on #35738
@jonas-schievink: A, thanks, I didn't remember that syntax.

[2016-08-17 10:09] #35746 closed

[2016-08-17 11:05] DanielShaulov commented on #35716
OK, that makes sense, thanks for the clarification. I don't think this behavior should change.

It might be helpful to detect that an unsafe behavior is occurring inside a new item inside an unsafe block and give a note that the unsafe block doesn't extend there.

Other than that, this issue can be closed.

[2016-08-17 11:25] sickHamm commented on #35738
@jonas-schievink  I don't think this relevant to `Borrow`， this is error message `type annotations required: cannot resolve '_: std::cmp::Ord``.
I agree with @TimNN

because `Unbounded` unlike `Included(T)` has a general  a parameter, but this problem is
the type inference system has inconsistent behavior for T, u8, [u8; 20].

[2016-08-17 11:28] dovreshef commented on #11004
Still a problem. Run into this today as well :).
cc @GuillaumeGomez.

[2016-08-17 11:29] GuillaumeGomez commented on #11004
I'll work on it.

[2016-08-17 11:45] TimNN commented on #35738
@sickHamm, I think @jonas-schievink is correct:

* The compiler knows that `K = [u8; 20]`
* Now it must determine the exact type of `Unbound`, that means it must find some type for `Min` such that:
    1. `Unbound: Bound<&Min>` and
    2. `K: Borrow<Min>` or with `K` substituted: `[u8; 20]: Borrow<Min>`
* (i) is fulfilled for *all* types
* So the only constrained remaining for `Min` is (ii): `[u8;

[2016-08-17 12:11] chris-morgan commented on #27108
@arthurprs I don’t see how rust-lang/rfcs#1666 would have any bearing on this. All this should need is

[code]

[2016-08-17 12:24] arthurprs commented on #27108
Yes, but &[u8].hash() is internally

[code]

And that `self.len().hash(state);` would be optimized to a single branch.

[2016-08-17 12:38] sickHamm commented on #35738
@TimNN  Yes,  I'm wrong, Thank you  very much for detailed explanation. improve my understanding for rust's type inference.

[2016-08-17 12:42] sickHamm commented on #35738
BTW: This syntax ` Unbounded::<&'a [u8; 20]>` is have a special term ? Where I can learn more about this.

[2016-08-17 12:43] #35738 closed

[2016-08-17 12:50] alevy commented on #25270
@whitequark FWIW it is possible to get this running with LTO -- we use LTO for [Tock](http://tockos.org).  You just need to, as you mentioned, ensure libcore (and friends) are compiled without debug symbols for now. One simple way to do that for libcore is to depend on the `rust-libcore` crate which, behind the scenes, compiles libcore with whatever target and compiler arguments Cargo would otherw

[2016-08-17 13:00] nikomatsakis commented on #35737
@nagisa I saw your commit -- I feel like the extent *should* be unique for the cleanup scope. That is, we should push a given extent only once -- but perhaps I am wrong about this? It'd be good to add an assertion (or warning) for when we push cleanup scopes with the same extent more than once so we can see what it happens.

[2016-08-17 13:02] nikomatsakis commented on #35737
Ah, but reading IRC chatter I see that the problem is that the extent of the "outermost scope" changed and thus the `extent_of_return_scope` helper is out of date? That seems pretty plausible.

[2016-08-17 13:03] alevy commented on #25270
@whitequark Take a look at the implementation of the rust-libcore crate. It's really just a `build.rs` that pulls in the version of libcore based on your `rustc --version` (which is why it hasn't needed to be updated for a while) and then compiles it. You can do the same (perhaps by just modifying a local copy of the rust-libcore crate) for all of those since they are just in the Rust tarball.

[2016-08-17 13:06] whitequark commented on #25270
That would work well if I didn't also have to use a fork of Rust (the upstream doesn't define the ABI or have the LLVM target initialization for my architecture). But thanks for telling anyway, I might be able to use this in some other form.

The complete lack of caching and reliance on POSIX sh is still an issue...

[2016-08-17 13:25] nagisa commented on #35737
As pointed out on the IRC the commit linked above is a shot in the dark and is not a fix.

[2016-08-17 13:39] michaelwoerister commented on #35724
Can you try opening `/root/.multirust/toolchains/nightly-x86_64-unknown-linux-gnu/lib/rustlib/etc/gdb_rust_pretty_printing.py` and changing the `if sys.version_info.major >= 3:` to `if sys.version_info[0] >= 3:`? That should be compatible with more versions of Python.

[2016-08-17 13:45] ereichert commented on #35724
Is that request still applicable if I'm using rustup instead of multirust?

[2016-08-17 13:48] michaelwoerister commented on #35724
Yes, I just copied the path from your error report above, so that should be the correct one.

[2016-08-17 13:48] ereichert commented on #35724
Ignore that last comment.  I see that rustup uses .multirust.

Same result however.

rust-gdb --args target/debug/tlx ~/Downloads/moviesample/trailer.mp4
GNU gdb (GDB) 7.11.1
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the e

[2016-08-17 13:49] ereichert commented on #35724
Sorry.  I see the problem.

[2016-08-17 13:50] ereichert commented on #35724
That did the job.

rust-gdb --args target/debug/tlx ~/Downloads/moviesample/trailer.mp4
GNU gdb (GDB) 7.11.1
Copyright (C) 2016 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and "show warranty" f

[2016-08-17 13:52] michaelwoerister commented on #35724
Excellent `:)` Thanks for your help! I'll make a PR with the fix.

[2016-08-17 13:53] ereichert commented on #35724
Thanks

[2016-08-17 14:21] steveklabnik commented on #32905
Yes, thanks!

[2016-08-17 14:21] #32905 closed

[2016-08-17 15:19] japaric opened #35752 "rustbuild: can't remove dependency on FileCheck"
With the old build system, one can use the `--disable-codegen-tests` flag to disable the check for the existence of the FileCheck binary.. Passing this flag to rustbuild doesn't have the same effect; it still checks for the FileCheck binary.

cc @alexcrichton

[2016-08-17 15:24] japaric commented on #34486
I'm also experiencing this on x86_64 Ubuntu 16.04 using the `llvm-dev` package and `--llvm-root`.

[2016-08-17 15:45] nikomatsakis commented on #31436
@Stebalien sure, seems fine.

[2016-08-17 16:07] nagisa opened #35753 "run-pass/fds-are-cloexec fails with “No such file or directory”"
Under rustbuild no `Makefile` needs to exist, and this test tries to open that file. The test should be changed to open something else, preferably not a file on filesystem.

[2016-08-17 16:49] #35721 closed

[2016-08-17 18:03] crypto-universe commented on #35697
Right now without bonus. But I work on it!

[2016-08-17 18:14] oconnor663 opened #35757 "misspelling a test name should probably cause failure"
(Originally filed as https://github.com/rust-lang/cargo/issues/3009.)

I'm worried that it's very easy to misspell a test's name, see the (zero tests) success output from cargo, and miss the fact that your test didn't run. Here's a couple examples from my project. First the correct spelling:

[code]

And misspelled, so that no tests actually run:

[code]

You can't see it here on GitHub, but the s

[2016-08-17 18:21] nagisa commented on #35757
The test name isn’t matched exactly though. Are you suggesting that we should fail in case we match no tests? What about the use case of having multiple crates and running some wrapper `test_all_crates ]test_name]` script which only might match some tests from one crate?

[2016-08-17 18:29] jonathandturner commented on #35697
I took a look at the bonus last night.  I had a few ideas, but for what time I spent with it, it seemed like it wasn't going to be one of the easier bonuses :)

In general, it's much better to thread the Span information you need through or to look it up with a span_if_local.  We're trying to avoid actually changing the spans (though there are a couple of rare exceptions).

Pinging @KiChjang who i

[2016-08-17 18:31] alexcrichton commented on #35752
I believe the configure script has some variable for this, so should be easy enough to detect!

[2016-08-17 18:52] KiChjang commented on #35697
My ideas are all bad in this case, because there is no span information stored by the parser :(. Both `span_if_local` and `span_to_string` would still not work in this case since they expect a `span` parameter. We might have to break the parser API again by adding a span field to the `Ident` struct...

[2016-08-17 18:59] nagisa opened #35760 "Rustdoc tests fail due to htmlparser python dependency"
[code]

[2016-08-17 19:36] jonathandturner commented on #35697
@KiChjang - possibly, though I'd like to underline other names as well, like in the case of an unused function we could underline the name instead of the whole function.

@eddyb - any thought on adding spans?  I know @nikomatsakis mentioned you were thinking about possibly adding some spans in the future.

[2016-08-17 19:39] Dushistov opened #35762 "Need way to run some code before any of unit tests"
The details can be found [logging while running cargo test](http://stackoverflow.com/questions/35289510/logging-while-running-cargo-test).

The problem is in usage of [rust log library](https://doc.rust-lang.org/log/log/index.html),
to get it work you need call "initialization" code that provide implementation of  `log::Log` trait
to logging macros.

So to get output from your code that tested by

[2016-08-17 20:04] nrc opened #35763 "Overloaded function error not caught with multiple impls"
E.g.,

[code]

Putting the two `a`s into the same `impl` gives the expected error.

From https://github.com/rust-lang/rfcs/issues/1614

[2016-08-17 20:08] #35642 closed

[2016-08-17 20:08] #35633 closed

[2016-08-17 20:08] #35631 closed

[2016-08-17 20:08] #35323 closed

[2016-08-17 20:08] #35635 closed

[2016-08-17 20:08] #35692 closed

[2016-08-17 20:08] #35192 closed

[2016-08-17 20:08] #35699 closed

[2016-08-17 20:10] apasel422 commented on #27716
I think this would be better expressed like `RefCell::try_borrow`.

[2016-08-17 20:24] apasel422 commented on #35600
CC #27048.

[2016-08-17 20:25] apasel422 commented on #27048
This compiles successfully now.

[2016-08-17 20:59] oconnor663 commented on #35757
I think so, or at least I want to make sure we've considered it. It might be possible to support both use cases by adding a `--matching-no-tests-is-fine-i-know-what-im-doing` flag? Maybe the use case for a flag like that is too obscure to justify adding it, but that could also be an argument for not making it the default behavior :-D

From anecdotal experience using `go test --run ...`, it's prett

[2016-08-17 21:05] GuillaumeGomez opened #35767 "Redundant error information"
For the following code:

[code]

We get the following output:

[code]

This is redundant, only one of the two would be enough.

cc @jonathandturner

[2016-08-17 21:08] cpichard commented on #31906
Hi,
Same kind of issue here, I had this code:

[code]

rustc crashes with the following stack:

[code]

## Meta

`rustc --version --verbose`:
rustc 1.10.0 (cfcb716cf 2016-07-03)
binary: rustc
commit-hash: cfcb716cf0961a7e3a4eceac828d94805cf8140b
commit-date: 2016-07-03
host: x86_64-apple-darwin
release: 1.10.0

[2016-08-17 21:40] edunham commented on #25664
Back to the topic of this issue, I agree that it's almost ready to be closed. Actions that other contributors can help us with to wrap up the loose ends are:

* Find and PR some kind of open data license to crates.io-index (discuss this with @alexcrichton)
* PR a CC-BY license to the blog repo, and get sign-off from all contributors to that repo before merging (https://github.com/rust-lang/blog.ru

[2016-08-17 21:50] nagisa commented on #35763
I’m pretty sure we have a bug for this already, but my search skills fail me.

[2016-08-17 22:17] Stebalien commented on #35762
You can call `let _ = env_logger::init();` (it's safe to call this function multiple times, only the first call will count) at the top of each test but this is far from perfect.

[2016-08-17 22:37] nrc commented on #27751
@rust-lang/libs So was this feature deprecated? Should this issue be closed or a label changed or something?

[2016-08-17 22:39] nrc commented on #28237
Nominating for discussion/possible FCP

[2016-08-17 22:43] comex commented on #27610
In some situations it's possible to implement Once with no memory barrier at all in the common case (except for a compiler barrier to preventing the compiler from reordering instructions across it).  This doesn't matter on x86, since as talchas noted, SeqCst loads don't require a barrier on x86 anyway, but on ARM it could help.  Since typical usage of 'once' executes the no-op case far more often

[2016-08-17 22:43] nrc commented on #29625
Could someone summarise what is blocking stabilisation here please?

[2016-08-17 22:47] nrc commented on #29646
Should we block on #34344? Are there other known bugs? Are there design questions to resolve here?

[2016-08-17 22:50] nrc commented on #31436
Nominating for discussion (and possible FCP of the `?` operator alone) at the lang team meeting. I assume we need to land some kind of temporary Carrier trait in the next few days to FCP.

[2016-08-17 22:53] nrc commented on #29721
Is anyone using this? What is the motivation for it existing?

Nominating for discussion/FCP (my opinion: deprecate unless someone really wants this).

[2016-08-17 22:58] jonathandturner commented on #35233
We have now fixed over 100 unit tests!!  🎉🎉🎉

![screen shot 2016-08-17 at 3 57 43 pm](https://cloud.githubusercontent.com/assets/547158/17756219/6d4dda26-6493-11e6-97e2-455c7aa71f47.png)

[2016-08-17 23:06] brson commented on #25664
There's a thread open on irlo about the RFCs repo https://internals.rust-lang.org/t/relicense-the-rfcs-repo-under-the-cc-by-4-0-license/3870/3

[2016-08-18 00:00] nagisa commented on #29625
@nrc uncertainty about `Args` being the right thing given the possibility of variadic generics coming along around 2030 is the most major reason this is unstable.

[2016-08-18 00:43] durka opened #35772 "error causes subsequent spurious error about literal cast"
See this code:

[code]

It has an error on the second line, obviously. But it also prints an error about the third line (illegal cast). But the cast is perfectly legal and removing the first error also "fixes" the second one.

[2016-08-18 00:43] durka commented on #35772
I suspect this somehow has to do with the constant evaluator. @oli-obk?

[2016-08-18 02:26] alexcrichton opened #35774 "Tracking issue for check methods on Duration"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1640

[2016-08-18 02:36] alexcrichton commented on #27751
@nrc currently this covers `raw::TraitObject`, which is still unstable.

[2016-08-18 04:07] Mark-Simulacrum commented on #35763
@nagisa You were probably thinking of the [rfcs#1614](https://github.com/rust-lang/rfcs/issues/1614) issue (from which this was created). I couldn't find anything else similar either.

[2016-08-18 04:18] sorear commented on #34333
FYI, [the upstreaming has started](http://lists.llvm.org/pipermail/llvm-dev/2016-August/103748.html).

[2016-08-18 04:18] nrc commented on #31436
I opened rust-lang/rfcs#1718 to discuss the Carrier trait.

[2016-08-18 04:29] nrc commented on #27751
@alexcrichton is there a plan for `raw::TraitObject` (beyond speculation in this thread)?

[2016-08-18 04:58] retep998 commented on #27060
@DemiMarie The current plan already is to make borrows into such fields unsafe (but not forbidding them outright, nor requiring such types to be `Copy` although it would be really hard to use such a field if it wasn't), and to make access into such fields otherwise safe by emitting unaligned instructions for those fields.

[2016-08-18 05:52] nrc commented on #33807
@rust-lang/compiler and/or @durka is this likely to get fixed or should we give up on this? Does seem a shame to live with this regression, but given that it's been on stable for a while (and Reflect will probably disappear anyway) perhaps it is not worth fixing?

[2016-08-18 06:02] eddyb commented on #33807
@nrc It's good idea to track the underlying diagnostics regression (@jonathandturner may be interested).

[2016-08-18 06:39] alexcrichton commented on #27751
I believe not currently, no. I think we may have vaguely been waiting on the lang team to say whether it's cool or not to stabilize such a structure?

[2016-08-18 06:50] SimonSapin commented on #27751
To make my previous comment more explicit: I think a couple functions in the spirit of `std::slice::from_raw_parts` would be better than a struct intended to be used with `transmute`. `transmute` is dangerously easy to use incorrectly.

[2016-08-18 07:44] crypto-universe commented on #35697
@KiChjang So shell I wait for changes in parser API?

[2016-08-18 07:48] liigo opened #35782 "Document which T can be inside `#[derive(T)]` by default"
It's surprise for me to know that `Display` is not supported now.

[2016-08-18 08:00] liigo commented on #35782
got it: https://doc.rust-lang.org/nightly/book/traits.html#deriving

[2016-08-18 08:00] #35782 closed

[2016-08-18 08:49] jonas-schievink commented on #29721
A quick GitHub search finds no use of this

[2016-08-18 09:01] mrhota commented on #5977
FYI @pnkfelix I rebased @Yoric's work onto @eddyb's recent PR #35764

I'll wait for that to land, then I'll issue a PR for Yoric's rebased work.

[2016-08-18 10:41] SergioBenitez commented on #34981
I've started implementing this and have made headway. Should have a working implementation soon.

[2016-08-18 11:13] KiChjang commented on #35697
You can add span information for the Ident struct yourself. Look in parser.rs.

[2016-08-18 11:30] oli-obk commented on #35772
nope, it's not const eval, it's typeck.

beta/nightly even produce "non-scalar cast: `{integer}` as `f32`", so it's not something weird like the `error;` turning the `1` into another type.

[2016-08-18 11:36] #35696 closed

[2016-08-18 11:36] #11004 closed

[2016-08-18 11:36] #35193 closed

[2016-08-18 11:36] #35737 closed

[2016-08-18 11:36] #35212 closed

[2016-08-18 11:59] caipre commented on #28419
I'm interested in trying this.

I've just started at the Recurse Center and making contributions to Rust, within the type system especially, is one of my goals. So this might be perfect. I may need mentorship, but let's see if I can get anywhere on my own first.

[2016-08-18 12:53] eddyb commented on #35741
There might be a `-C` or `-Z` flag already for this. AFAIK what clang emits comes from LLVM.

[2016-08-18 12:56] eddyb commented on #35706
Odd, we have a testcase similar this, I'll look into it.

[2016-08-18 13:17] nikomatsakis commented on #35398
Why does it take so long? Just the sheer size?

[2016-08-18 13:34] SRGOM opened #35783 "AsciiDoc is superior to Markdown in every way"
Comments should support AsciiDoc formatting too

[2016-08-18 13:40] michaelwoerister commented on #34754
OK, the latest nightly contains the fix. Could you please test whether it solves your problem? (and close the issue if it does)

[2016-08-18 13:48] nikomatsakis commented on #34511
So @aturon and I discussed this issue somewhat and I wanted to share. There are really a couple of orthogonal questions here and I want to separate them out. The first question is "what type/lifetime parameters can potentially be used in the hidden type?" In terms of the (quasi-)desugaring into a `default type`, this comes down to "what type parameters appear on the trait we introduce". So, for ex

[2016-08-18 14:04] arielb1 commented on #34511
Possible options:

## Explicit lifetime bound with output parameter elision

Like trait objects today, `impl Trait` objects have a single lifetime bound parameter, which is inferred using the elision rules.

Disadvantage: unergonomic
Advantage: clear

## Explicit lifetime bounds with "all generic" elision

Like trait objects today, `impl Trait` objects have a single lifetime bound parameter.

Howe

[2016-08-18 14:49] nagisa commented on #35398
Yes. It makes 2¹² functions containing 2⁴ closures each.

[2016-08-18 14:55] steveklabnik commented on #35783
Major changes should be made as [RFCs](https://github.com/rust-lang/rfcs), rather than open issues.

However, given [the history of this particular disucssion](https://internals.rust-lang.org/t/rustdoc-restructuredtext-vs-markdown/356/), I'm not confident such an RFC would be accepted. But that's just a personal opinion.

Please file an RFC if you'd like to pursue this! Thanks.

[2016-08-18 14:55] #35783 closed

[2016-08-18 14:57] tomaka commented on #34754
Thanks, seems to work!

[2016-08-18 14:57] #34754 closed

[2016-08-18 14:58] nagisa commented on #35398
With optimisations

Forcing optimisations off for this test would save a minute while still properly testing the thing this test is testing. AFAIR there’s no way to force optimisation off, though.

[2016-08-18 14:59] alexcrichton opened #35784 "Tracking issue for opt-level={s,z}"
Added in https://github.com/rust-lang/rust/pull/32386 these options are still unstable, this issue will track their progress to becoming stable!

[2016-08-18 15:00] Boddlnagg opened #35785 "Unreadable non-UTF-8 output on localized MSVC"
A localized (e.g. German) MSVC can produce non-UTF-8 output, which can become almost unreadable in the way it's currently forwarded to the user.

This can be seen in an (otherwise unrelated) issue comment: https://github.com/alexcrichton/gcc-rs/issues/87#issuecomment-233023624
Note especially this line:

[code]

That output might be a lot longer for multiple LNK errors (one line per error, but the

[2016-08-18 15:00] alexcrichton commented on #35784
Also note that https://github.com/rust-lang/cargo/pull/3007 is adding Cargo support, currently through `opt-level = "z"` and `"s"`, but as [pointed out](https://github.com/rust-lang/cargo/pull/3007#issuecomment-240583754) we may want more human readable names.

[2016-08-18 15:10] nagisa commented on #35785
I’m surprised we try to interpret any output in Windows as UTF-8 as opposed to UTF-16, like we should.

[2016-08-18 15:14] whitequark commented on #35784
I don't even think there is a single word that describes what `-Oz` does. As far as I know it was first introduced in clang and selected for its closeness to `-Os` and connotations of compression, but this doesn't help at all when you need an immediately understandable token in Cargo.toml.

[2016-08-18 15:21] durka commented on #35772
But it _is_ a scalar cast. Maybe the first error leaves some kind of boolean flag around that "there was an error", and the casting code picks up on it?

[2016-08-18 15:49] petrochenkov commented on #35785
I suspect that the MSVC compiler's raw output is encoded as Windows-1252 or Windows-1250 depending on the current console code page and not as UTF-16.

@Boddlnagg
Does `cmd /c "chcp 65001"` removes the encoding problem?

[2016-08-18 15:59] durka commented on #35763
There was #31925 but I guess that only caught duplicates with the same signature?

[2016-08-18 16:00] durka commented on #35762
Another workaround is to put the initialization code in a lazy static, and make sure to access said static at the beginning of every test (a macro can help). Then it will really only run once.

[2016-08-18 16:11] durka commented on #33807
`Reflect` is going to disappear but there is some underlying problem here with the `#[rustc_on_unimplemented]` getting dropped on the floor.

[2016-08-18 16:24] Stebalien commented on #35762
@durka If you're going to do that, you might as well just use `sync::Once`.

[2016-08-18 16:29] steveklabnik commented on #2369
https://github.com/rust-lang/rust/pull/34956 :confetti_ball:

[2016-08-18 16:34] snej opened #35788 "The Book is missing (links to it are broken)"
The main documentation page prominently links to The Rust Book at https://doc.rust-lang.org/book/ … unfortunately that link is broken ("Not Found / Looks like you've taken a wrong turn.") The suggested links on the 404 page don't mention the book, only the reference. Where did the book go?

I went to the root URL of that site, https://doc.rust-lang.org, but even that page is missing. Huh?

[2016-08-18 16:39] steveklabnik commented on #35788
We are about to release 1.11, and so there is a short period of time (a few minutes) where the docs disappear during the deploy process. Hold tight! (and thanks for reporting!)

[2016-08-18 16:39] #35788 closed

[2016-08-18 16:59] bluss commented on #29149
Ndarray just wants `impl<'a, A, D: Copy> Copy for ArrayBase<ViewRepr<&'a A>, D> {}` (I.e. just the array view is Copy really)

[2016-08-18 17:03] Detegr commented on #35772
I've investigated this a bit. Apologies if I've undersood something wrong, I'm still a total compiler noob :)

Looks like the reason this happens is when there's an error before the cast, the type inference of `1` differs from the case when there's just the cast. These types are checked in `src/librustc_typeck/check/cast.rs` in a function called [do_check](https://github.com/rust-lang/rust/blob/ma

[2016-08-18 17:06] Boddlnagg commented on #35785
@petrochenkov

No, neither in `cmd` nor in `powershell` (usually I'm working with the latter). It prints `Aktive Codepage: 65001.` but the encoding problems persist.

[2016-08-18 17:10] nikomatsakis commented on #35625
@LeoTestard good point. I think I would have expected it, yeah...but I also agree with the complications.

[2016-08-18 17:11] petrochenkov opened #35789 "Incorrect label messages for missing unsafe blocks"
Label message always mention "unsafe call", even when nothing is actually called.
It should duplicate the main message instead, or use some paraphrase of it.

[code]
[code]

cc https://github.com/rust-lang/rust/pull/35565 @wdv4758h @jonathandturner

[2016-08-18 17:15] jonathandturner opened #35790 "E0303 needs to be updated to new format"
From: src/test/compile-fail/E0007.rs

E0303 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-18 17:31] durka commented on #35625
Can't we upgrade Lit to support negative literals?

[2016-08-18 17:31] jonathandturner opened #35791 "E0054 needs to be updated to new format"
From: src/test/compile-fail/E0054.rs

E0054 needs a span_label, updating it from:

[code]

To:
[code]

[2016-08-18 17:38] jonathandturner opened #35792 "E0084 needs to be updated to new format"
From: src/test/compile-fail/E0084.rs

E0084 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-18 18:46] nikomatsakis commented on #35549
It turns out that fixing this bug would also fix #35593 -- that is caused by the fact that typeck rewrites the result of name resolution in place, and hence the name resolution hashes after typeck are different than the ones from before. =(

[2016-08-18 18:46] nikomatsakis commented on #35593
This is caused by the fact that typeck rewrites the result of name resolution in place, and hence the name resolution hashes after typeck are different than the ones from before. =(

The easiest fix is probably #35549

[2016-08-18 18:56] pliniker commented on #35233
I'll take a stab at 84

[2016-08-18 19:26] jonathandturner opened #35795 "E0232 needs to be updated to new format"
From: src/test/compile-fail/E0232.rs

E0232 needs a span_label, updated title, and a note, updating it from:

[code]

to:

[code]

[2016-08-18 19:27] retep998 commented on #35785
Is it just MSVC which is localized, or is your system codepage itself different? If we know that a certain program's output is the system codepage we could use `MultiByteToWideChar` with `CP_OEMCP` to convert it. Perhaps we could check whether the output is UTF-8, and if not attempt to do the codepage conversion instead.

[2016-08-18 19:32] Boddlnagg commented on #35785
@retep998 I am using a German localized Windows. How can I find out the system codepage? The default CP for console windows is "850 (OEM - Multilingual Lateinisch I)".

[2016-08-18 19:43] retep998 commented on #35785
@Boddlnagg You can call [`GetCPInfoEx`](https://retep998.github.io/doc/kernel32/fn.GetCPInfoExW.html) with `CP_ACP` or `CP_OEMCP`.

[2016-08-18 19:43] jonathandturner opened #35796 "E0423 needs to be updated to new format"
From: src/test/compile-fail/E0423.rs

E0423 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-18 19:44] mikhail-m1 commented on #35123
I'd like to work on it

[2016-08-18 19:45] jonathandturner opened #35797 "E0424 needs to be updated to new format"
From: src/test/compile-fail/E0424.rs

E0424 needs a span_label, a note, and an updated title, changing it from:

[code]

To:

[code]

[2016-08-18 19:46] nathanaeljones commented on #28224
There is the problem that I'm running valgrind against a totally different executable, compiled by nightly instead of stable. Essentially this means I can't valgrind products of a stable rust build.

[2016-08-18 19:47] jonathandturner opened #35798 "E0428 needs to be updated to new format"
From: src/test/compile-fail/E0428.rs

E0428 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-18 19:50] jonathandturner opened #35799 "E0426 needs to be updated to new format"
From: src/test/compile-fail/E0426.rs

E0426 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-18 19:51] Boddlnagg commented on #35785
@retep998 That returns codepage numbers 1252 for `CP_ACP` and 850 for `CP_OEMCP`.

[2016-08-18 19:54] retep998 commented on #35785
@Boddlnagg In which case the output from the linker appears to be `CP_OEMCP`, so now someone just has to add code to rustc which detects when the linker output isn't utf-8 on windows and use `MultiByteToWideChar` with `CP_OEMCP` instead.

[2016-08-18 20:08] nikomatsakis commented on #35619
So this particular problem appears to be that we are failing to check trait object bounds, which didn't exist at the time this code was implemented. But there are also deeper problems with this check -- for example, it doesn't consider the possibility `'a: 'b`-style where-clauses. There are probably a number of fixes that could be done here.

[2016-08-18 20:08] nikomatsakis commented on #35619
triage: P-medium

[2016-08-18 20:08] arielb1 commented on #35619
@brson

`I-wrong` is only for wrong-codegen issues.

[2016-08-18 20:10] nikomatsakis commented on #33807
Do we have any code that actually reproduces the problem?

[2016-08-18 20:10] arielb1 commented on #33807
current error message:
[code]

[2016-08-18 20:11] nikomatsakis commented on #33807
Conclusion for @rust-lang/compiler meeting: current behavior *appears* to be correct, so we *believe* problem is fixed, can call this I-needs-test.

[2016-08-18 20:11] nikomatsakis commented on #33807
triage: P-low

[2016-08-18 20:13] nikomatsakis commented on #33807
Actually, this was misunderstood. The problem is that at some point we decided (perhaps incorrectly) that this kind of message we see now is higher priority that `#[rustc_on_unimplemented]` messages, and that is why we do not see the custom message anymore. I am not convinced this is correct, but it *was* deliberate.

[2016-08-18 20:16] arielb1 commented on #35662
What cases *remain* after the LLVM improvement?

[2016-08-18 20:16] nikomatsakis commented on #35662
triage: P-medium

[2016-08-18 20:16] jonathandturner opened #35801 "E0435 needs to be updated to new format"
From: src/test/compile-fail/E0435.rs

E0435 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-18 20:17] nikomatsakis commented on #35662
triage: P-high

Since this is a regression, we'll call it P-high for now, though it's primarily an LLVM problem.

[2016-08-18 20:17] nikomatsakis commented on #18937
triage: P-high

[2016-08-18 20:18] mlayne commented on #35233
I'll take 232.

[2016-08-18 20:19] jonathandturner opened #35802 "E0437 needs to be updated to new format"
From: src/test/compile-fail/E0437.rs

E0437 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-18 20:21] jonathandturner opened #35803 "E0438 needs to be updated to new format"
From: src/test/compile-fail/E0438.rs

E0438 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-18 20:22] nikomatsakis commented on #35044
This is actually fixed on beta.

[2016-08-18 20:22] #35044 closed

[2016-08-18 20:23] eddyb commented on #35662
@arielb1 LLVM can now again figure out that a memset/memcpy has a constant length, but that information comes too late in the pass pipeline and it's not cleaned up properly.
We *could* mess with pass ordering, e.g. moving [the GVN after the InstCombine](https://github.com/llvm-mirror/llvm/blob/443f72b62d81d2497cdfbc8ce7a0096fe3168ec2/lib/Transforms/IPO/PassManagerBuilder.cpp#L322-L334) did help in

[2016-08-18 20:26] durka commented on #33807
OK, that's weird to me (why not print both), but if it was deliberate then this can be closed.

[2016-08-18 20:31] nikomatsakis opened #35805 "investigate compile-time regressions from 2016-08-17"
We don't really know what caused it, but http://perf.rust-lang.org/ reveals:

- 25% drop on issue-32278-big-array-of-strings

and smaller drops on a number of other tests. Merits investigation.

[2016-08-18 20:50] mikhail-m1 commented on #35123
I've briefly review your commit. I should create map from old CrateNum to an new base on name and disambiguator pair. And if old crate has found return retraced path or None in other case. I'm right?

Is it any way to check this issue?

[2016-08-18 21:02] #35111 closed

[2016-08-18 21:03] steveklabnik opened #35807 "Investigate panic behavior of sum"
Originally reported on HN: https://news.ycombinator.com/item?id=12316209

Basically, the docs for [`Iterator::sum`](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.sum) say

Is this a special behavior of `sum`, or is this just the regular behavior of arithmetic? If it's the latter, then these docs are probably wrong / unnecessary.

I am not sure, but am willing to bet that this might

[2016-08-18 21:09] petrochenkov commented on #29721
I use it as a workaround for https://github.com/rust-lang/rust/issues/35566.

[2016-08-18 21:32] eddyb commented on #35408
May be fixed by #35764, we should do a crater run after that's merged.

[2016-08-18 21:32] nikomatsakis commented on #27751
Discussed in @rust-lang/lang meeting. The situation is this. We expect that this will be insufficient in the future, particularly if/when we support trait objects like `Trait1+Trait2` (which would require 2 vtables). We *could* stabilize it, since it would remain correct for all existing objects, but it'd be a shame. In contrast, the various "custom DST" proposals would allow for a much more flexi

[2016-08-18 21:41] jonathandturner commented on #35233
I've added a few more, for those interested in grabbing some.

[2016-08-18 21:43] SimonSapin commented on #27751
Are these written down? Could you link to them?

[2016-08-18 21:56] ubsan commented on #27751
@SimonSapin https://github.com/rust-lang/rfcs/pull/1524

[2016-08-18 21:59] medzin commented on #35233
I'm releasing E0432. I don't have a lot of free time recently.

[2016-08-18 22:06] mike-bourgeous commented on #35807
pbsd posted this: https://news.ycombinator.com/item?id=12316401

[2016-08-18 22:06] crypto-universe commented on #35233
@jonathandturner Give me E0426, please.

[2016-08-18 22:47] Stebalien commented on #35807
There's a key difference between `iter.sum()` and `a + b`: I can detect overflow in `a + b` with `a.checked_add(b).unwrap()` but there's no way to do so with `sum`. Really, we should have a `checked_sum` for this.

As for performance, this appears to be preventing auto-vectorization which is rather unfortunate for a method for adding up a bunch of numbers. It's theoretically possible to vectorize

[2016-08-18 23:05] sfackler commented on #35807
`sum` and `prod` currently use `checked_add`/`checked_mil` explicitly: https://github.com/rust-lang/rust/blob/master/src/libcore/iter/traits.rs#L593.

This is obviously not ideal, but we do it that way because unlike with your own crate or third party crates, libstd is compiled ahead of time so you can't choose if you want overflow to panic or not. I can't find the issue, but I believe MIR in part

[2016-08-18 23:05] ssokolow commented on #28224
@nathanaeljones I'm no expert, but you could look into making a custom rust build with an older jemalloc and/or `--enable-valgrind` (as appropriate) while you wait for alloc_system support to be stable.

[2016-08-18 23:42] apasel422 commented on #27023
The following prints `16` followed by `24` on stable, beta, and nightly: https://is.gd/rQdidj

[2016-08-19 00:05] CensoredUsername opened #35813 "Failure to parse "value as Type[index]""
Summary:

Parsing `value as Type[index]` leads to the error:

[code]

It is currently impossible for a cast expression to have a trailing index expression without surrounding the cast expression by parenthesis. This however seems to be a parser limitation, not a grammar limitation.

As currently the macro language guarantees that ty/path expressions can be followed by a "[", this seems like a bug

[2016-08-19 00:27] alexcrichton commented on #35807
Yes this documentation is both explicit and correct. MIR forces us to make a decision about overflow in the standard library, we can't rely on changing it when it's monomorphized.

[2016-08-19 00:57] alexcrichton commented on #35590
Ok, I've created https://github.com/rust-lang/rust/pull/35814 which disables NEON but enables VFP3D16 on the `armv7-unknown-linux-gnueabihf` target. That should better match distros I believe, right? We can try to add an armv4 target later, but seems good to do that in the meantime.

[2016-08-19 01:01] Amanieu commented on #35590
ARMv4 is tricky. It's possible to get atomic support working for it, but only on Linux. You'd need to use the [kernel user helpers](https://www.kernel.org/doc/Documentation/arm/kernel_user_helpers.txt) to implement various `__sync_*` functions that are going to be emitted by LLVM.

[2016-08-19 01:09] silenuss commented on #35204
addressed by #35415

[2016-08-19 01:20] japaric commented on #35673
Appropriate targets for this use case (OpenWRT 15.05 on MIPS, e.g. Tessel 2) landed in #35734. Proper support for these targets in libc is being tracked in rust-lang/libc#361, which contains instructions about how to update libc and run its test suite.

Once libc is updated perhaps we can start building binary releases of std for these targets. cc @alexcrichton

[2016-08-19 01:49] apasel422 opened #35815 "`mem::size_of_val` returns wrong value for DSTs with certain field layouts"
On stable, beta, and nightly, the follow code prints `16` followed by `24`:

[code]

CC #27023

[2016-08-19 02:07] ssahli opened #35816 "Creating a std::process::Command to run cargo hangs forever"
The issue seems to be when calling cargo within a cargo instance. I'm running a system test on a compiler plugin we're working on using `cargo test --lib`, and the system test's first lines of code are as follows:

[code]

I specifically use `RUST_TEST_THREADS=1 cargo test --lib` to ensure no race conditions. The `.status()` in the above `Command` returns:

[code]

And as expected:

[code]

This o

[2016-08-19 02:31] wdv4758h commented on #35789
How about this :
[code]

[code]

[2016-08-19 03:00] nh2 commented on #2369
@nikomatsakis Thanks for your explanation.

[2016-08-19 03:01] eddyb commented on #35815
This is probably for drop flags, in which case it should get fixed by #35764

[2016-08-19 03:42] knight42 commented on #35233
I will take 54, 432 and 423

[2016-08-19 04:05] wdv4758h commented on #35789
@jonathandturner I've made a [PR](https://github.com/rust-lang/rust/pull/35818), please check the error messages again :)

[2016-08-19 04:07] shyaamsundhar commented on #35233
I will take E0435, E0437 and E0438.

[2016-08-19 04:08] alexcrichton commented on #35816
Cargo has its own file locks and such, and it looks like this is just a case of deadlock? I'm not sure if there's an actual bug here unfortunately.

That is, there was a change in Cargo to hold file locks while tests are running (so other processes don't tromp all over the tests), and that's what cause the "breakage" here.

[2016-08-19 04:19] upsuper commented on #27438
@nikomatsakis

FWIW, this is probably not true. Stylo extensively uses static variables to reference string atoms from Gecko side (see [this script][1]), so it could potentially be affected. Also, I see tons of warnings like
[code]
when linking Gecko with Servo on Windows.

[1]: https://github.com/servo/servo/blob/12fcb7a2e7acd802a4868caf6a1fb5fbf94e3ccf/ports/geckolib/binding_tools/regen.py

[2016-08-19 04:28] retep998 commented on #27438
@upsuper Those warnings mean that static is being referenced with `dllimport` despite the static being statically linked in and not actually imported from a DLL. Ideally Rust would know whether to apply `dllimport` and you wouldn't see those warnings.

[2016-08-19 07:19] whs commented on #34748
1.11 stable release of rust seems to fixed this issue:

[code]

[2016-08-19 07:19] #34748 closed

[2016-08-19 09:03] matklad commented on #35784
`size`/`size-1` for `s` and `size-2` for `z`?

[2016-08-19 09:13] lucab commented on #35590
I'm personally happy with having just armhf and arm64 aligned after this. Rationale:
 * armv4 may need some complex work, due to the above mentioned lack of atomics
 * ARM/Linaro efforts are mostly focused on v7+
 * there have been some discussions in Debian to discontinue the armel port in a not too far future

[2016-08-19 09:33] canndrew commented on #35121
When exactly do we default diverging type variables to `()`/`!` and when do we throw an error about not being able to infer enough type information? Is this specified anywhere? I'd like to be able to compile the following code:

    let Ok(x) = Ok("hello");

But the first error I get is "`unable to infer enough type information about _`". In this case I think it would make sense for `_` to default

[2016-08-19 10:48] tomaka commented on #35121
That's a very good idea in my opinion. Same for `None` which would default to `Option<!>` for example.

[2016-08-19 10:59] oli-obk commented on #35813
I think it's parsed correctly, but should get a tailored error message to suggest surrounding the cast with parens.

[2016-08-19 12:39] apasel422 commented on #35815
Reduced:

[code]

[2016-08-19 12:53] CensoredUsername commented on #35813
Considering that a trailing "[" is never valid in the type syntax (otherwise macros break) and the fact that `foo as Type * bar` and variants are perfectly legal (even `>` which is another symbol that occurs in type syntax).

But if a tailored error message will be made instead, then this should also include other postfix operators like `val as Type . attr` which are currently rejected even though

[2016-08-19 13:57] Mark-Simulacrum opened #35823 "File IO with read_to_end and read_to_string is slower than possible"
Rust's current implementation of `read_to_end` will read exponentially larger chunks of the buffer, but only up to 8192. This is slow when reading a greater than 16KB file if counting by syscalls.

NodeJS reads the entire file in one go, making 3 syscalls: open, fstat, read, and close.
Rust currently makes (for the same file) 58 syscalls not counting mmap/madvise which may be circumstantial (not r

[2016-08-19 15:12] kyrias commented on #33637
(This should be closed now.)

[2016-08-19 15:19] #33637 closed

[2016-08-19 15:24] trinitroglycerin opened #35825 "Using bare trait where not possible should suggest to use a trait object or generic bound"
The following code snippet will generate an E0277 error - I've elided some as it's not entirely necessary for the whole context, but this is not runnable:

[code]

E0277 indicates the following message:

[code]

I want to stress that yes, this error is factually correct: The reason why I have this error is because the naked trait `Iterator` has no defined size at compile time, and that the solutio

[2016-08-19 15:33] mrhota commented on #19601
@anishathalye the reduced test case produces the following error message on stable:
[code]

If we change the test case so `T` is actually used, then the example compiles fine. Maybe this can be closed?

ping @nikomatsakis

[2016-08-19 15:47] Stebalien commented on #35823
I completely agree but we can do better. We can just read directly to the string (given a bit of unsafe code).

[2016-08-19 15:56] kyrias commented on #35233
I'm snatching up E0424

[2016-08-19 16:09] Mark-Simulacrum commented on #35823
The standard library already reads into the underlying `Vec<u8>` buffer of strings and then does a pass to check that the data is valid. That's something that should continue to be done; my point with showing the code above was to demonstrate that it is possible currently, and that including something like what I suggest shouldn't require a massive overhaul of the code which reads to end/string.

[2016-08-19 16:18] mrhota commented on #16935
@huonw This is an old issue, and I updated the test case a bit, but it still seems to happen:

[code]

[code]

Compiling with `rustup run nightly rustc synext.rs && rustup run nightly rustc -L . test-synext.rs -Z unstable-options --pretty expanded` gives:

[code]

[2016-08-19 16:21] mrhota commented on #16935
Also, I get an ICE if I pass `b"one"` and/or `b"two"` to the `write(...)` calls in `synext.rs`

[code]

[2016-08-19 16:28] trixnz commented on #35233
I'll grab E0428

[2016-08-19 16:29] trixnz commented on #35798
Taking care of this one.

[2016-08-19 16:33] Dushistov opened #35828 "vec_map not build with beta, but compiled with stable and nightly"
I tried such code:

[code]

rustup run beta rustc test_code.rs give error:

[code]

[code]

But stable and nightly version of compiler compile such code just fine:

[code]

This bug prevent to compile vec_map crate (from which I extract rust code above),
and racer depend on vec_map, so I can not compile racer project also.

[2016-08-19 16:35] Mark-Simulacrum commented on #35828
Duplicate of #35721. Thanks for reporting, though!

[2016-08-19 16:39] mrhota opened #35829 "ICE: unhandled token in quote!"
In trying to repro #16935 I discovered this ICE in `quote!`:

[code]

caused by the following code:

[code]

[2016-08-19 16:41] Dushistov commented on #35828
@Mark-Simulacrum I am not familiar with internal rules, but why # #35721 marked as closed (this why I not found it), but fix not merge to beta?

[2016-08-19 16:43] Mark-Simulacrum commented on #35828
The fix was [nominated](https://github.com/rust-lang/rust/pull/35733#issuecomment-240263626) for a beta backport, but so far no backport has been implemented; I'm not sure what the project policy is regarding whether to leave issues open/closed when they need backporting.

[2016-08-19 17:35] #35828 closed

[2016-08-19 17:39] jdeeny opened #35832 "'rustup target list' panics"
When I try to look at a list of targets with 'rustup target list', I get a panic:

[code]

[2016-08-19 18:03] #35832 closed

[2016-08-19 18:17] OtterCode commented on #27787
I'm highly against specialized queries as recommended by @Stebalien for range queries. The range API should exclusively depend on Ord for selecting from collections. Queries are fine, but there's an algorithmic cost, since you are adding an implicit filter/sort step to the process, and that should be made explicit.

All that I expect from range is that it can walk the tree from a starting point to

[2016-08-19 18:22] OtterCode commented on #27787
Actually, following both the `..` and `...` convention would be a decent way to avoid having to wrap an additional type. Just have a range method and a range_inclusive method, similar to here: [Range Expressions](https://doc.rust-lang.org/reference.html#range-expressions).

[2016-08-19 18:22] nightlark commented on #35233
I've never done this before, would love to jump in and try something new if there are any available.

[2016-08-19 18:30] Amanieu commented on #27787
@OtterCode It's actually a bit more complicated since both the start and end can be either inclusive or exclusive, whereas `..` and `...` always make the start inclusive.

[2016-08-19 18:37] alexcrichton commented on #35823
This has been [proposed before](https://github.com/rust-lang/rust/pull/27159) as well, and I've written up [some concerns about this solution](https://github.com/rust-lang/rust/pull/27159#issuecomment-123038113).

It basically just boils down to the fact that if you expect `read` to only call `read`, this can cause problems. If you want your program to run fast, though, then it's not unexpected bu

[2016-08-19 18:42] OtterCode commented on #27787
@Amanieu But why? Inclusiveness in the dot ranges is also arbitrary, but necessary to simplify the interface. We can make the same sorts of decisions here. It's trivial to drop the first element of a range, a single skip is all that's required. It's also not difficult to construct most reasonable objects with a defined Ord to be one less or one more than any useful category.

We have to sacrifice

[2016-08-19 18:46] Stebalien commented on #27787
I'm not sure what you're trying to get at here. These collections are already sorted and range queries don't let you filter anything. The algorithm would be pretty much identical to the current one.

[2016-08-19 18:51] mrhota commented on #35829
[code]

[2016-08-19 19:08] OtterCode commented on #27787
@Stebalien

Well, take the following:

    #[derive(Ord)]
    struct Name {
        last_name: String,
        first_name: String
    }

Notice that the derived Ord will sort first by last name, and second by first name.

Now say that you want to get a query where you don't care what the last name is, you just want to get every first name from Aaron to Bob. To make your range, you have to iterate

[2016-08-19 19:10] petevine commented on #34486
The title should be edited then, and btw, the quickest solution looks like this: `RUSTFLAGS='-C link-args=-lffi'`

[2016-08-19 19:18] Stebalien commented on #27787
The **range** in "range query" is important. These aren't general purpose filters, they're queries that can select sorted ranges from sorted collections; in other words, they're queries that describe a sorted range of values. It's already possible to do this in rust using some fancy `Borrow` implementations but it violates `Borrow`'s specification.

[2016-08-19 19:27] OtterCode commented on #27787
That's exactly what I'm arguing for, staying close to the simplest definition of range. I believe that the extended semantics obfuscate, rather than clarify that fact, and they additionally get in the way of getting this feature implemented.

[2016-08-19 19:46] Stebalien commented on #27787
@OtterCode I think this is a problem of naming. Would `OrdRange` (or `OrderedRange`) be less confusing?

The problem with just going ahead with a poor/inflexible design is that we can't just fix it later. One way to solve this is to do the same thing we did with `RangeArgument`: keep the trait unstable and only implement it on simple ranges for now. This would allow the user to query, e.g., `a..b`

[2016-08-19 19:53] jonathandturner commented on #35233
Would anyone with more than one error code be willing to share with @nightlark?

[2016-08-19 20:25] OtterCode commented on #27787
@Stebalien That's a fair point. It also brings up the question, should we even implement this at all? It can be solved by `iter().skip_while().take_while()`. Is that enough?

As you say, and as the comment history clearly indicates, there is no single, concise definition of how to express a range in this context. Covering all possible ranges, such as (), (], [), and [], and layering your partial q

[2016-08-19 20:35] Stebalien commented on #27787
No for the reason you mentioned in your first post: that's way to slow especially when the range is small.

As you say, and as the comment history clearly indicates, there is no single, concise definition of how to express a range in this context. Covering all possible ranges, such as (), (], [), and [], and layering your partial queries on top of that might be counter productive, and I believe it

[2016-08-19 20:55] Mark-Simulacrum commented on #35823
Would it be unreasonable to ask that if a buffer has been pre-allocated to the capacity, the buffer's capacity is used as a heuristic? This requires no extra syscalls. Also, it seems (though I may be wrong here) that this was the behavior before 240734c31e529557583a0dc8e97abf858b4a375d (PR #23847); where the write size no longer used the underlying buffers capacity as a baseline for how much to re

[2016-08-19 21:18] OtterCode commented on #27787
I feel like we're talking in circles. Is there another voice willing to weigh in?

[2016-08-19 21:24] petevine commented on #31503
@eddyb I've profiled just the slower benchmarks together, and turning SSE2 on causes almost a 2x slowdown.

[2016-08-19 21:37] alexcrichton commented on #35823
@Mark-Simulacrum hm it should be the case right now that if you have a pre-allocated buffer (via `Vec::with_capacity` or something like that) we should attempt to `read` into the entire buffer. I could imagine that the growing is not proportional after that, but it seems reasonable to change that!

[2016-08-19 21:39] jonas-schievink commented on #27787
A b-tree is a collection sorted by keys. It, like other tree-based data structures, allows item lookup in `O(log n)` given a key (where `n` is the number of elements in the collection).

Calling `.iter()` returns an iterator over all key-value pairs in the collection. Using `skip_while` and `take_while` always gets you an `O(n)` operation since the iterator walks over *all* pairs, not just the one

[2016-08-19 21:43] Mark-Simulacrum commented on #35823
[This](https://github.com/rust-lang/rust/blob/master/src/libstd/io/mod.rs#L345) is the line in the source code for the `read_to_end` (used by both `Read::read_to_string` and `Read::read_to_end`). I see no reference to the capacity, though I may be misreading something.

I can try to get the description I've listed above implemented, though I'm not sure I can run the tests locally with any success

[2016-08-19 21:43] retep998 commented on #35823
The current default `read_to_end` appears to simply start with a read of 16 always. https://github.com/rust-lang/rust/blob/b30eff7ba72a78e31acd61a2b6931919a0ad62e8/src/libstd/io/mod.rs#L345-L374

Some types however opt into using `read_to_end_uninitialized` instead however, which reads into the space between `.len()` and `.capacity()` however big it is. https://github.com/rust-lang/rust/blob/e1195

[2016-08-19 21:52] retep998 opened #35836 "RwLock and Mutex on Window theoretically allows undefined behavior in safe code"
According to [this](https://blogs.msdn.microsoft.com/oldnewthing/20160819-00/?p=94125#comment-1261485) back and forth on a Microsoft blog post, it is currently undefined behavior to even try to acquire an SRWLock recursively, even recursive read locks.

~~Also apparently NT keyed events have no stability guarantee so the current implementation of `parking_lot` on Windows could theoretically break

[2016-08-19 21:53] nagisa commented on #35836
cc @rust-lang/libs

[2016-08-19 21:59] llogiq opened #35837 "shouldn't we add `Add` for `Cow<'a, str>`?"
After some experience, I've changed my mind in Addition for strings. Let's do it for Cow too. The rationale is that we already have the addition via `Deref` and we can optimize for the case of adding empty strings (or `Cow`s of them, respectively) – we can get rid of one clone in that case.

[2016-08-19 22:06] Mark-Simulacrum commented on #35823
These are the only uses of read_to_end_unitialized that I could find aside from tests/benchmarks. FileDesc is used by File in src/libstr/sys/unix/fs.rs I think, but I don't understand where `std::fs::File` comes from yet.

Either way, it seems that the capacity-based reading either doesn't currently happen or doesn't happen on Windows.

 - FileDesc - src/libstd/sys/unix/fd.rs:150
 - RawHandle - sr

[2016-08-19 22:13] Amanieu commented on #35836
I don't see any easy way out of this. Consider this example:
[code]
To avoid undefined behavior we would have to either:
- Have the `RwLock` track the thread IDs of all active readers so that we can detect a recursive lock.
- Have each thread track the `RwLock`s that it has locked in thread local storage.
Both of these solutions require O(n) space and a lot of overhead to manage it.

[2016-08-19 22:23] glandium opened #35838 "ffi::CString::new(string-literal) is suboptimal"
I noticed this while doing some ltrace using alloc_system on my panicking program. A small test case is

[code]

What I noticed is the following pattern:
- ptr = malloc(14)
- memcpy(ptr, "RUST_BACKTRACE", 14)
- memchr("RUST_BACKTRACE", '\0', 14)
- ptr = realloc(ptr, 28)
- ptr = realloc(ptr, 15)
  (not in ltrace, but likely: ptr[15] = '\0')

If realloc is not in-place, that's 3 copies of the string

[2016-08-19 22:25] nagisa commented on #35836
…or document recursive reader lock as UB for now?

[2016-08-19 22:26] glandium commented on #35838
Note, there might be a second bug hidden in here, where the compiler should probably be able to find out that the realloc(ptr, 28) is useless and that it could realloc(ptr, 15) directly.

[2016-08-19 22:27] rocallahan commented on #27787
Nothing anyone has said convinces me that https://github.com/rust-lang/rust/issues/27787#issuecomment-232217282 is a bad plan.

I've been writing code using the current range API (as implemented in `stable_bst`). It feels good. It looks like intervals in mathematics. The Included/Excluded/Unbounded trichotomy is easy to write and easy to read --- much clearer than the equivalent code using the C++

[2016-08-19 22:27] retep998 commented on #35836
@nagisa So we're just going to accept that a safe function in std can invoke UB?

[2016-08-19 22:27] Amanieu commented on #35836
@nagisa But the code I've just written is entirely safe code. We can't allow UB in safe code.

[2016-08-19 22:29] arc3x commented on #35816
I am working ssahli.
It is worth noting that this issue happens when part of our project is included via a github link in `Cargo.toml`
[code]

This issue evaporates when libsmt is placed in the root of our project and included as:
[code]

[2016-08-19 22:51] danburkert commented on #27787
Is it out of scope to also add a `drain` method along with `range`?  `drain` was included in the original builder-based API, but I haven't seen it mentioned since.

[2016-08-19 23:01] tzakharko commented on #34674
I am still experiencing this issue when trying to *build* rust on OS X.  Rustc just enters a (seemingly) infinite loop with a comparable error message. Note: this also happens if I disable jemalloc via the --disable-jemalloc option to configure. This is under Sierra Dev build 6 (16A294a), Rust 413ada30402f823a86a75578afc63d07179f6a23

[2016-08-19 23:05] alexcrichton commented on #35823
Yes that's the generic implementation of `read_to_end` but that's not the one that's specialized for files. Both [Windows](https://github.com/rust-lang/rust/blob/413ada30402f823a86a75578afc63d07179f6a23/src/libstd/sys/windows/handle.rs#L198) and [Unix](https://github.com/rust-lang/rust/blob/413ada30402f823a86a75578afc63d07179f6a23/src/libstd/sys/unix/fd.rs#L150) bottom out in [`read_to_end_uniniti

[2016-08-19 23:23] OtterCode commented on #27787
@rocallahan Fair enough, not my preference, but it wouldn't be terribly hard to just wrap a function around the bounds selectors for a particular use case. What's holding this back? The comments just suggest that it wasn't a priority. Is there anything I can do to help, inexperience notwithstanding?

[2016-08-19 23:28] Aatch commented on #35838
I don't think we can make it optimal. We can't rely on `&'static str` being a string literal due to unsafe code, so at best we could optimise to reduce the number of copies and reallocations we're doing.

[2016-08-19 23:41] yrnameer commented on #33928
I am experiencing the *same* issue on **Raspberry Pi**. The provided snapshot got me past the segfault, but then:
[code]

[2016-08-19 23:51] alexcrichton commented on #35816
@arc3x I think it's the same issue in the sense that this is not a bug. When `cargo test` is run, it holds locks while it's executing tests. If you then run `cargo clean` *inside* of a test, it will try to re-acquire those locks, deadlocking.

The "fix" you're seeing is that some locks are only acquired with git repositories. If you don't have any git repositories there's no need to grab those loc

[2016-08-20 00:21] Mark-Simulacrum commented on #35823
Hmm, I'm not sure I'm doing this right, but with the code below and debugging in gdb, I'm hitting the read_to_end helper function, not the read_to_end_unitialized. So.. not sure what's going on here. I'm on unix (Ubuntu 16.04)...
[code]

[2016-08-20 00:34] brson opened #35840 "rust-src package is corrupt"
For some reason the manifest.in file is empty.

cc @Diggsey

[2016-08-20 00:41] bosmacs commented on #34741
This appears to remain a problem in 10.12 beta 6, at least when installing from homebrew; both 1.11 and --HEAD.

[2016-08-20 00:54] apasel422 commented on #34943
Closing per #34944.

[2016-08-20 00:54] #34943 closed

[2016-08-20 01:08] kyrias commented on #34903
Is #34990 enough for this, or do you want something more in-depth?

[2016-08-20 01:24] alexcrichton commented on #35823
Oh looks like the implementation of `read_to_string` [calls the `read_to_end` helper](https://github.com/rust-lang/rust/blob/f883b0bbab6c433eb7b7042b605b4339022c563a/src/libstd/io/mod.rs#L568) rather than `self.read_to_end`. We can probably trivially fix that and have `read_to_string` benefit in the same way that `read_to_end` does!

[2016-08-20 01:40] nathan7 opened #35843 "rustc and cargo binaries crash on startup on ARM with glibc, because libpthread is loaded too late"
[code]

related: https://sourceware.org/bugzilla/show_bug.cgi?id=16628

workaround:
[code]

I'm not sure why rustc works at all on x86.

[2016-08-20 02:25] Ericson2314 commented on #18086
@whitequark @succ we could use this for libfringe.

[2016-08-20 02:28] durka commented on #35838
A macro or syntax extension could generate unsafe code to conjure a `CString` into existence, without doing the checks, when it's known to come from a literal.

[2016-08-20 02:34] nathan7 commented on #35843
all of this happens *before main is even called*, this is entirely glibc shooting itself in the foot
[code]

[2016-08-20 02:44] durka commented on #35836
Is there not a non-slim R/W lock primitive on Windows?

[2016-08-20 02:46] durka commented on #35815
@eddyb where would there be a drop flag here?

[2016-08-20 02:47] apasel422 opened #35847 "Overflow in `mpsc::Sender::clone` leads to illegal instruction"
The following crashes with an illegal instruction when compiled in release mode with `1.13.0-nightly (499484f56 2016-08-18)` on `i686-unknown-linux-gnu`:

[code]

It's presumably the result of the unchecked addition in `std::sync::mpsc::shared::Packet::clone_chan`. Another unchecked addition is performed in `std::sync::mpsc::sync::Packet::clone_chan`, and other uses of `fetch_add` in the `mpsc` mo

[2016-08-20 03:07] eddyb commented on #35815
@durka My point isn't that there is, but that the code assumes all trait objects have drop flags. I could be wrong though, it might be a bug in the alignment logic.

[2016-08-20 04:45] Mark-Simulacrum commented on #35741
This flag is already added, should be usable (issue can be closed?):
`-Z asm-comments -- generate comments into the assembly (may change behavior)`

[2016-08-20 05:06] Dushistov opened #35849 "diverging function with wrapped diverging tail expression regression"
Such code:

[code]

compiled just fine with stable(1.11.0 (9b21dcd6a 2016-08-15)),
but failed with beta(rustc 1.12.0-beta.1 (822166b84 2016-08-16)) and
nightly(rustc 1.13.0-nightly (499484f56 2016-08-18)) with such error:

[code]

[2016-08-20 05:17] Aatch commented on #35849
I assume this is related to the recent changes to how we treat `!`.

/cc @rust-lang/compiler

[2016-08-20 05:23] eddyb commented on #35849
@canndrew Did you remove some sort of codepath that assumed a call with diverging arguments is also diverging?

[2016-08-20 05:56] #27429 closed

[2016-08-20 06:43] comex commented on #26179
Now that MIR is a thing, it would be nice if this were implemented.

[2016-08-20 06:49] ogoodman commented on #27787
FWIW (having suggested a "pair of predicates" range method) I can't see anything wrong with @Stebalien 's suggestion: a single monotone 3-valued function (provided by a trait implementation) seems like a perfectly reasonable way to solve the problem. (The problem being that sentinel elements might be hard to find or non-existent, even though the range test is straightforward.)

[2016-08-20 07:12] eddyb commented on #35815
Not fixed by #35764, will have to investigate further.

[2016-08-20 07:21] e-oz commented on #34674
@tzakharko can't reproduce.
Beta 12 installed successfully and working fine on Sierra 10.12 Beta (16A294a).

[2016-08-20 08:25] Manishearth opened #35851 "Extern fn declarations can have dangling lifetimes"
[code]

([playpen](https://is.gd/9PaZfM))

compiles fine. The `&u8` has a dangling lifetime, which doesn't compile for functions that have bodies.

This probably should throw an error.

[2016-08-20 08:26] Manishearth commented on #35851
Probably would be a breaking change to fix. But soundness.

[2016-08-20 08:36] eddyb commented on #35851
Elision was never added to them. cc @rust-lang/lang

[2016-08-20 08:41] petevine commented on #33928
@yrnameer That's because you downloaded an outdated snapshot.
I happened to upload a new one a few days ago, it should be good for bootstrapping the current nightly.

[2016-08-20 09:20] tomaka opened #35852 "Lifetime checker only checks the signature of a type and not its content"
[code]

This fails to compile at the call to `must_be_static` because: `data` does not live long enough, reference must be valid for the static lifetime.

When we call `must_be_static(carrier)`, the type of `carrier` is `Carrier<FooImpl<'a>>`. Rustc presumably sees that there's a `'a` and fails the compilation, since the parameter of `must_be_static` must be static.

However the inside of `Carrier

[2016-08-20 09:22] tomaka commented on #35852
Note that when HKTs are implemented, this could eventually cause a soundness problem as we will be able to create non-static associated type on static structs.

[2016-08-20 09:59] colin-kiegel opened #35853 "nested macros don't allow repetitions in binding patterns"
Example:

[code]

https://play.rust-lang.org/?gist=f7355a6828cc2af68cc17f280a982ad8&version=beta&backtrace=0

results in:

[code]
## Note

If the repetition is removed, i.e. the offending part `( $( $any:tt )* ) => { $( $any )* };` is changed to `( $any:tt ) => { $any };`, the error disappears on rustc 1.12+ due to the fix of #6994: _macros should be parsed more lazily_. I find it a bit inconsiste

[2016-08-20 10:07] colin-kiegel commented on #35853
It appears to be non-trivial to distinguish expansions and binding patterns, because they can both appear in the same position, like this:

[code]

Note that `$( foo )*` is expected to be repeated as often as there are matches for `$some:tt`. But `$( $any:tt bar )*` would be expected a matching binding pattern. Wouldn't it?

These distinctions seem to be very delicate and subtle and prone to error

[2016-08-20 10:12] petevine commented on #35843
Which glibc version is needed to be built against fo this crash to happen? I never had this problem but others sure did:

https://github.com/rust-lang/rust/issues/33483#issuecomment-218019413
https://github.com/rust-lang/rust/issues/33928

[2016-08-20 10:14] colin-kiegel commented on #35853
And another possible problem, this time on the most inner expansion `$( $foo $any )*`
[code]

I have the feeling, that it's not possible to address all these questions without new syntax. Other opinions?

[2016-08-20 10:15] #27708 closed

[2016-08-20 10:15] #32313 closed

[2016-08-20 10:15] #32630 closed

[2016-08-20 10:15] #32713 closed

[2016-08-20 10:15] #34029 closed

[2016-08-20 10:15] #34285 closed

[2016-08-20 10:15] #34392 closed

[2016-08-20 10:15] #34529 closed

[2016-08-20 10:18] colin-kiegel commented on #35853
If matching and expansion syntax were different, this would not be a problem.

@nrc fyi - maybe relevant for macros 2.0?

[2016-08-20 10:27] nox commented on #27708
So where is that method on Cell? On RefCell? We need this in Servo.

[2016-08-20 10:46] nagisa commented on #35836
No, there isn't.

On Aug 20, 2016 5:44 AM, "Alex Burka" <notifications@github.com> wrote:

[2016-08-20 11:36] nikomatsakis opened #35855 "perf.rust-lang.org test for syntex-syntax messed up"
For some reason, we are no longer achieving 100% re-use if you `cargo clean`, though we were at one point. Right now I see 3 out of 50 modules re-used :(. The output is all about cross-compilation metadata still. An excerpt:

[code]

cc @michaelwoerister

[2016-08-20 11:40] tzakharko commented on #34674
@e-oz True, Beta 12 is building and working correctly. However, the current master does not. I do not know whether its a regression or not, as I have no idea about how Rust repo is organised.

[2016-08-20 12:21] nagisa commented on #35855
We probably should test that reuse between `cargo build` → `cargo clean && cargo build` with some simple crates is always 100% and gate landing stuff on that?

[2016-08-20 12:25] nagisa commented on #35851
Seems fine to break to me. References in extern blocks is very likely not what you want anyway (i.e. is a bug).

[2016-08-20 12:27] nagisa commented on #35843
Are we sure its pthread and not

?

[2016-08-20 12:30] Diggsey commented on #35840
If I run `make dist` locally, the source package is fine :confused: (although the manifest could be simplified by using bulk dirs). Will investigate further...

[2016-08-20 12:36] Manishearth commented on #35851
Well, it also happens with lifetime parameter elision. For the servo-gecko stuff we've managed to configure bindgen to return typedefs to types with lifetimes for things which are conceptually borrows. So we're using this _today_ :smile:

(thats how I discovered this, someone else added a dangling lifetime and I was bewildered by it. We're going to merge it for now because my safer bindings glue i

[2016-08-20 13:19] jrmuizel commented on #35741
Any reason not to make this the default?

[2016-08-20 14:05] andlabs commented on #35836
Even though the Windows API might not have non-slim RW locks, it does have loads of other synchronization objects that you can combine to form a recursive RW lock implementation. I wouldn't know what it is, sorry.

[2016-08-20 14:42] Mark-Simulacrum commented on #35741
Likely the fact that it may change the behavior (I don't actually know what that means but this seems like a valid assumption).

[2016-08-20 15:00] Mark-Simulacrum commented on #35629
Should this be closed, since it's by design/not really fixable?

[2016-08-20 15:56] nikomatsakis commented on #35855
Added a fix to https://github.com/rust-lang/rust/pull/35854. I did not add a test though -- the problem @nagisa is that, afaict, this is all pretty non-deterministic. Certainly the bug I fixed, which seems to fix the problem, is pre-existing (in fact, I had noticed it already); I think I was just getting lucky when I saw full re-use. I am reluctant to add a non-deterministic test into our code bas

[2016-08-20 15:57] nikomatsakis commented on #35855
@nagisa hmm, that said, maybe the thing to do is to add some tests to perf.rust-lang.org, where we are testing the incremental compilation state! I think perf is better suited to these sorts of regressions.

[2016-08-20 16:03] nikomatsakis commented on #35855
OK, I decided what I said doesn't make sense. We should add tests for this, of course...I'll try to isolate down the problem in any case.

[2016-08-20 16:12] steveklabnik commented on #35629
Yes. Thank you for reporting, but this is not fixable.

[2016-08-20 16:12] #35629 closed

[2016-08-20 16:22] nagisa commented on #35855
How come `cargo build && cargo clean && cargo build` is non-deterministic given an isolated directory for incremental compilation used only by the test? AFAIR incremental comp does not use any sort of randomness?

Either way, something in `perf` sounds very useful, even if we end up having a test for a simple crate in our own test suite. It would be nice to see reuse graphs.

[2016-08-20 16:25] Mark-Simulacrum commented on #35171
Was this fixed by #35409?

[2016-08-20 16:30] Mark-Simulacrum commented on #35169
Cannot reproduce, versions below:

cargo:
`cargo 0.13.0-nightly (c205132 2016-08-09)`

rustc:
[code]

rustdoc:
[code]

[2016-08-20 16:47] nagisa commented on #35171
yes.

[2016-08-20 16:52] yrnameer commented on #33928
I figured as much. I've located you're build scripts & snapshot, and kicking off another build. Is there any information I can provide that would helpful?

[2016-08-20 17:05] eddyb commented on #35843
@nagisa It would be very interesting if it was that, but I've seen that all the time when using `patchelf` on more or less any binary (the first time, anyway).

[2016-08-20 17:23] eddyb commented on #35815
Uhhhh, the computation starts with:
[code]
Which is completely wrong, because you want no trailing padding, i.e. size would be `9`.

[2016-08-20 17:39] petevine commented on #33928
You can try bootstrapping your own compiler using that latest snapshot (just add `--enable-local-rust --local-rust-root=...`)  or use the workaround from the linked issue above to see if it helps.

[2016-08-20 17:46] GuillaumeGomez opened #35859 "Abusive non-exhaustive error"
This code:

[code]

Throws the following error:

[code]

However, all patterns are covered so this error shouldn't be reported.

[2016-08-20 17:48] petevine commented on #35843
@nagisa It's probably more complicated, a quick recap:
- official, buildbot binaries crash on some systems, but not mine (glibc 2.19)
- my own builds don't crash on affected people's systems, including another `glibc 2.19-based` one, go figure
- kernel versions seem to range from 3.4 to [4.x](https://github.com/rust-lang-nursery/rustup.rs/issues/439#issuecomment-241048686)

[2016-08-20 18:00] eddyb commented on #35852
cc @nikomatsakis Would lazy normalization result in `<FooImpl<'a> as Foo>::AssociatedType: 'static` properly ignoring `'a` by resolving to `u32: 'static`, or is this an orthogonal feature/fix?

[2016-08-20 18:20] TimNN commented on #35859
@GuillaumeGomez: How is `Ok(Failure)` covered? It's not as far as I can tell.

[2016-08-20 18:26] #35693 closed

[2016-08-20 18:26] #35792 closed

[2016-08-20 18:26] #35795 closed

[2016-08-20 18:26] #35798 closed

[2016-08-20 18:50] yrnameer commented on #33928
It's going to be a couple hours before I can report back.

for the record:
[code]

[2016-08-20 18:56] petevine commented on #33928
On Sat, 20 Aug 2016 11:51:07 -0700
yrnameer <notifications@github.com> wrote:

Cool, I take it you're going to compile LLVM from scratch?

[2016-08-20 19:07] yrnameer commented on #33928
Yes, ran into a missing ```FileCheck``` while trying to use the local **llvm**. Enstead of troublshooting I just dropped the flag.

[2016-08-20 19:19] petevine commented on #33928
Great, even though `--disable-codegen-tests` would have helped, it's better to eliminate all variables for now. Next time you should definitely save those 3.5hrs :)

[2016-08-20 19:28] alexcrichton commented on #27708
@nox [`Cell`](https://github.com/rust-lang/rust/blob/490189634b656dcca9e41e6b52093569c03bd4df/src/libcore/cell.rs#L254) and [`RefCell`](https://github.com/rust-lang/rust/blob/490189634b656dcca9e41e6b52093569c03bd4df/src/libcore/cell.rs#L692)

[2016-08-20 19:36] nox commented on #27708
@alexcrichton Yeah sorry, just didn't wake up enough before opening my mouth.

[2016-08-20 19:43] eddyb commented on #35855
I believe @infinity0 was talking about finding non-determinism in metadata encoding - could this be related?

[2016-08-20 19:57] nathan7 commented on #35843
@nagisa Yes, I'm fairly certain it's glibc / pthread. Take a look at the linked glibc bugzilla page, and note how it crashes in the same function, doing the same things. Removing the DT_NEEDED entry again with patchelf brings the problem back, while leaving the kernel bug workaround in place.

[2016-08-20 19:58] infinity0 commented on #34902
I tried replacing HashMap with FnvHashMap in `src/librustc_metadata/loader.rs` but it didn't seem to help. Here is the Makefile i'm using to automate my rebuilds:

[code]

perhaps i'm Doing It Wrong.

[2016-08-20 20:00] infinity0 commented on #35855
@nagisa @eddyb I'm not familiar enough with cargo to tell if this is related, but the non-determinism issue is #34902 if you want more details - including an actual diff of the rust.metadata.bin from libcore.

[2016-08-20 20:02] infinity0 commented on #34902
As background, HashMap in rust is non-deterministic to protect against certain types of DoS attack. You can switch it to the deterministic FnvHashMap if you're sure your code will always be called in a safe manner. This ought to be true for rustc itself. (I notice some online "try-it-yourself" rust web services let me run "ls /" and other shell commands, so I could also exploit this HashMap orderi

[2016-08-20 20:05] nathan7 commented on #35843
whoops, seems I didn't post my *useful* gdb logs, and assumed I'd already posted them for all to read.
I don't have them right now, but it boils down to __pthread_initialize_minimal_internal being the thing that jumps to address 0, specifically somewhere in these two lines, afaik the first statement, resolving the PLT entry
[code]

[2016-08-20 20:07] nagisa commented on #35843
Oh, so yeah, buildbot, as always, uses quite old versions of glibc and binutils/gcc. I’m more inclined to blame this bug on old version of binutils used on buildbot, but it is very possible glibc may also be a cause, especially given it provides no forward stability guarantees whatsoever. The jump to NULL from PLT is one of the more prevalent reasons of library version mismatches, too.

[2016-08-20 20:33] arielb1 commented on #35852
`carrier` is of type `Carrier<FooImpl<'a>>`, where `'a` is the lifetime of the borrow, just as through you had
[code]

I don't see the bug here.

[2016-08-20 20:40] eddyb commented on #35852
@arielb1 Is only variance of parameters taken into account for `Struct<T>: 'a` elaboration?

[2016-08-20 20:49] arielb1 commented on #35852
According to [RFC 1214](https://github.com/rust-lang/rfcs/blob/master/text/1214-projections-lifetimes-and-wf.md), a struct like `Carrier<FooImpl<'a>>` outlives `'static` when all of its components outlive `'static`, so when `FooImpl<'a>: 'static` and `'a: 'static`.

[2016-08-20 20:49] #35852 closed

[2016-08-20 21:11] eddyb commented on #35852
@arielb1 And "components" refers to "covariant type parameters and contravariant lifetime parameters"?
As opposed to "field types", I mean.

[2016-08-20 21:19] arielb1 commented on #35852
The rule is
[code]

It requires all type parameters and all lifetime parameters to outlive `'static`.

Also, the type parameter of `Carrier` is invariant, because `struct Carrier` projects out of it as an associated type (and variance is per-type-parameter).

[2016-08-20 21:29] yilangmok commented on #35836
Boost.Interprocess provides a very complete mutex implementation that allows recursive lock acquisition and upgradeability. (I am not familiar with Rust, but I'd assume you have some way to call into C/C++ code if you're able to call Windows functions).

http://www.boost.org/doc/libs/1_61_0/doc/html/interprocess/synchronization_mechanisms.html#interprocess.synchronization_mechanisms.sharable_upgra

[2016-08-20 21:39] arielb1 commented on #35847
The well-known "optimized leak attack".

[2016-08-20 22:00] 3442853561 opened #35865 "我能够把Rust语言的标准库文档翻译成中文版本吗？"
我能够把Rust语言的标准库文档翻译成中文版本吗？
May I translat the standard library documents into Chinese?
https://www.gitbook.com/book/3442853561/ruststd_chinese

[2016-08-20 22:00] nagisa commented on #35859
…abusive?

[2016-08-20 22:02] retep998 commented on #35836
We are definitely __not__ depending on Boost. We can however look at their implementation to create our own mutex inspired by it.

[2016-08-20 22:04] arielb1 commented on #35121
@carllerche

The `unit_fallback` test is certainly an odd way to demonstrate it. A less-macro-ey version is
[code]

Only the type variable created by `return` defaults to anything.

[2016-08-20 22:06] arielb1 commented on #35865
This is all Chinese to me. Please write in English.

[2016-08-20 22:07] arielb1 opened #35866 "Go over all libstd traits and see which of them !/TyNever should implement"
E.g. `!` should implement `Default`.

[2016-08-20 22:09] nagisa commented on #35865
The standard library documentation has the same license (MIT or Apache 2.0) as the code it documents, so you may change (translate) and distribute the changed (translated) version however you wish.

[2016-08-20 22:14] 3442853561 commented on #35865
@arielb1 I want to translat standard library documents into Chinese,for Chinese people and programers read.

[2016-08-20 22:15] 3442853561 commented on #35865
@nagisa Thank you very much.非常感谢

[2016-08-20 22:20] arielb1 commented on #35849
Nothing to do with `transmute`:
[code]

Stable has something that marks unreachable pointers as type variables.

[2016-08-20 22:27] 3442853561 commented on #35865
I don't know how to use the gitbook ,so I put it on http://doc.oschina.net/ruststd_chinese

[2016-08-20 22:32] arielb1 commented on #35849
Ah well. The issue here is that now, because `!` is a type, typeck checks that the final expression of a diverging function has type `!` (which it doesn't).

The older check was liveness's more general check that diverging functions don't return (see e.g. #31617), which observes that `panic!()` never returns.

As a fix, we can pass `NoExpectation` when the return type is `!` - https://github.com/r

[2016-08-20 22:35] arielb1 commented on #35859
Not a bug.

[2016-08-20 22:39] arielb1 commented on #35849
Note that adding a semicolon to the expression also makes things compile on *all versions* (as it goes straight to the liveness check), even if the function returns something other than `!`:

[code]

Maybe we should just let this one slip?

[2016-08-20 22:41] eddyb commented on #35849
Using `NoExpectation` seems like the direct fix, yes.

[2016-08-20 23:06] bluss commented on #35838
CString::new uses `Into<Vec<u8>>`, so it will create a perfectly-sized Vec (sized for the input string) but then push another byte (0) to it, causing reallocation.

[2016-08-20 23:10] bluss commented on #35838
We can fix the second reallocation by using `v.reserve_exact(1);` just before `v.push(0)`, then it will not have to shrink to fit.

[2016-08-20 23:30] GuillaumeGomez commented on #35859
@arielb1: No it's not! `Err(_)` patterns should cover all remaining possibilities.

[2016-08-20 23:30] #35859 closed

[2016-08-20 23:34] nagisa commented on #35836
That page is for inter-process implementations of synchronisation primitives. It has considerably different design constraints compared to inter-thread stuff (documented [here](http://www.boost.org/doc/libs/1_55_0/doc/html/thread/synchronization.html)). The implementation of RWLocks in Boost seems to use a number (3) of [semaphores](https://msdn.microsoft.com/en-us/library/windows/desktop/ms682438

[2016-08-20 23:40] bluss commented on #35735
Here's another person who implemented sse2/ssse3 siphash and if I understand what they mean correctly, on x86-64, their basic (no explict simd) version was the best. https://github.com/floodyberry/siphash

It seems there's a few things pointing towards siphash not being that amenable for optimization using sse/avx?

[2016-08-20 23:47] briansmith commented on #35735
This is why Google made siptreehash: https://github.com/google/highwayhash#siptreehash.

Note that also Java abandoned the whole "strong hash function" approach due to performance concerns, in favor of a totally different way of structuring the hash table buckets in the face of many collisions: https://bugs.openjdk.java.net/browse/JDK-8046170

[2016-08-21 00:20] yilangmok commented on #35836
Thanks for the correction @nagisa. I knew Boost had a RWLock, so I assumed the first page I found would be the right one. Oops!

@retep998, of course it's up to the Rust community to decide what to use or not use. However, I've found that for some areas (including concurrency and cryptography), it's best to use an existing library that has been battle tested. Boost provides primitives that are wel

[2016-08-21 00:31] retep998 commented on #35836
@yilangmok Because Boost is a massive dependency to pull in. Right now libstd is lightweight and pure Rust. Pulling in Boost would be a massive dependency. Also Boost is C++ so it would depend on the C++ runtime and standard library as well. Furthermore Rust is only able to easily work with C APIs, C++ is a massively complicated beast. Basically, I don't see any chances of Rust depending on Boost

[2016-08-21 01:17] yrnameer commented on #33928
[code]
I was unable to deduce what the **workaround** was.

Just to clarify, the snapshot is ```1.12.0-dev``` and I'm targeting ```1.13.0-dev```. I followed the quick start over at [RustBuild_v7](https://github.com/petevine/RustBuild_v7).

I suspect I'm doing something silly here. :confused:

[2016-08-21 01:35] gmorenz commented on #10184
Just ran into this with much smaller numbers

[code]

Results in 0, 16, etc. depending on optimizations, I was hoping it would be defined as 255 so I don't have to write `x as i16 as u8`.

[2016-08-21 02:21] jseyfried commented on #35829
cc me

[2016-08-21 02:49] xen0n commented on #35865
My opinions (as a Chinese speaker):

Usually the single biggest problem of documentation translations is *difficulty keeping sync*, so I won't encourage individual *ad-hoc* efforts to do so IMO. Documentation translation is a large and far-reaching topic, only participating in the form of individual issues is not enough. We need to at least form consensus inside the Chinese Rust community on how a

[2016-08-21 02:59] xen0n commented on #35865
I see there may well be people having difficulties with English read the former reply, so here's a Chinese version as well.

因为通常文档翻译项目的最大问题都是**难以保持同步**，所以我个人并不赞同单打独斗的不成体系的此类行为。文档翻译是涉及面很广的宽泛话题，单纯用开 issue 吹风的形式来参与是不够的。我们至少要在中文 Rust 社区内部形成整个流程的共识，然后进入 RFC 流程，这样不仅中文用户需求得到满足，整个多元文化的 Rust 社区也会从中受益。

话虽这么讲，我不是 Rust 团队成员，我的观点不一定非要接受。由于 Rust 团队成员非常忙，bug 修复和新功能开发是优先处理事项，国际化/本地化相比之下优先级较低，比如现在 rustc 内部的文本消息处

[2016-08-21 04:13] petevine commented on #33928
Nope, you did really well :)

Even though a similarly dated snapshot worked for me on `x86` a few days ago, due to [this PR](https://github.com/rust-lang/rust/pull/35032), the ARM version is already too new, unfortunately :(

Let me correct my evil ways by offering this [one](https://www.dropbox.com/s/gxtclwno6ru049e/rust-stage0-2016-07-23-2c50f4e48-linux-armv7.tar.xz?dl=0) instead.
If you replace

[2016-08-21 05:30] seppo0010 opened #35869 "compiler panic using nightly on rustc_typeck::check::compare_method::compare_impl_method::_{{closure}}::h08bef90d287aed42"
I'm not quite sure if what I'm doing is correct, but since I got a compiler panic I thought I should report it. You can download the full project from here https://github.com/seppo0010/limitd-rs/tree/rustc-crash ; I created a tag to point to the commit that reproduces the crash.

The relevant code is probably within this function definition
[code]

This is my rustc version
[code]

and the build co

[2016-08-21 06:09] TimNN commented on #35869
Minimized:

[code]

Actual Error:

[code]

**Regression from beta / stable to nightly.**

[2016-08-21 06:16] TimNN commented on #35869
Nightly `nightly-2016-08-18` is still fine, `nightly-nightly-2016-08-19` first shows the ICE.

[2016-08-21 06:25] TimNN commented on #35869
I assume this was introduced by #35765.

[2016-08-21 06:30] TimNN commented on #35869
A bit more simplified (no need for slices, any reference will do):

[code]

[2016-08-21 08:52] arielb1 commented on #35662
@eddyb

Again. What is the specific code that is slow with the new rustc/llvm and fast otherwise?

[2016-08-21 09:13] Manishearth commented on #31645
Next breaking batch will contain the above PRs, waiting on the last one. cc @dtolnay @sfackler @mystor @sgrif @BurntSushi

[2016-08-21 09:51] bluss commented on #35662
The code in https://github.com/rust-lang/rust/issues/35662#issuecomment-239860643 is still slow with MIR and fast with -Z orbit=off using `rustc 1.13.0-nightly (f883b0bba 2016-08-19)`, which includes the four llvm patches.

[2016-08-21 09:52] bluss commented on #35662
The crate matrixmultiply itself has had a workaround applied and has restored performance in version 0.1.9.

[2016-08-21 11:12] jplatte opened #35870 "Using impl trait across crates results in linker error"
I have a small test case that doesn't work in its current state (split into two crates), producing a linker error; but works when everything is moved into one crate: https://github.com/jplatte/rust-impl-trait-across-crates

Error:

[code]

[2016-08-21 12:50] arielb1 commented on #35662
Nice to hear it's not blocking you.

[2016-08-21 12:50] arielb1 commented on #35662
Problem code:
[code]

[2016-08-21 12:51] nathan7 commented on #35843
This is *before main hits*, it's glibc initialisation. The underlying bug exists in just about any version of glibc from the past decade, and no code outside glibc is invoked the entire time.

[2016-08-21 14:23] eddyb commented on #35662
@arielb1 The root problem can be seen in the IR generated by https://github.com/rust-lang/rust/issues/35662#issuecomment-239887794 - which is left with a constant-length memset that isn't removed due to pass ordering problems. Solving that should help the more complex matrix multiplication code.

[2016-08-21 14:26] eddyb commented on #35870
cc @rust-lang/compiler
I have seem some warnings along these lines, that we need to change ehat we internalize to not include what `impl Trait` "exports".

[2016-08-21 14:27] Limeth opened #35872 "Compiler panicked while executing `cargo run`"
The compiler panicked while I was refractoring some code.

**I tried this code:**

I don't know what exactly caused it.
This is the code that causes the panic.
https://github.com/Limeth/euclider/commit/f2a750be376a73d05780e49c38d958880c17d360
I then found this prevents the panic.
https://github.com/Limeth/euclider/commit/6490490931dc2554996cbe63488ccc7ed29def19

**I expected to see this happen:**

[2016-08-21 14:34] Limeth commented on #35872
I updated the issue with a correct link, sorry for the confusion.

[2016-08-21 14:57] tommit opened #35873 "Implementation of Index<Foo> "hides" the std implementation of Index<RangeFull> for arrays"
[code]

[2016-08-21 15:58] rkruppe commented on #35873
see also #24066

[2016-08-21 16:28] Limeth commented on #35872
This fixed the panic: https://github.com/Limeth/euclider/commit/6490490931dc2554996cbe63488ccc7ed29def19

[2016-08-21 16:33] wdv4758h commented on #35789
Fix in https://github.com/rust-lang/rust/pull/35818, should be closed.

[2016-08-21 16:56] TimNN commented on #35872
Duplicate of #35869

[2016-08-21 17:02] arielb1 commented on #35873
@rkruppe

Different problem. Here you are looking for the `<[u8] as Index<RangeFull>>` impl, which is reachable only through an unsizing coercion. Because your impl matches, the unsizing is skipped.

[2016-08-21 17:05] rkruppe commented on #35873
Who's "me"? *This* issue isn't filed by me.

But yes, it does seem to be a different cause on closer inspection, sorry for the noise.

[2016-08-21 17:44] Limeth commented on #35872
Thanks for investigating.

[2016-08-21 17:44] #35872 closed

[2016-08-21 17:53] steveklabnik opened #35875 "Improve docs around File and BufReader"
Part of https://github.com/rust-lang/rust/issues/29356 and related to https://github.com/rust-lang/rust/issues/29300

Inspired by https://www.reddit.com/r/rust/comments/4yinbt/writing_a_jpeg_decoder_in_rust_part_2/d6obhd8?st=is4wut7k&sh=6d31802c

BufReader's talks about why you'd need it, but it's not super clear from File, which is more likely how people will discover this stuff. We should make s

[2016-08-21 18:31] KiChjang commented on #35865
《Rust 程式語言》已有部份繁體中文翻譯，可以去https://github.com/askeing/rust-book參考參考。

[2016-08-21 18:38] petevine commented on #31503
@eddyb As the single-threaded version of this benchmark is also affected (`20% slower`) I profiled just that and produced the main assembly files annotated with operf. I hope they might give you a clue what's wrong here.

[x87_asm.txt](https://github.com/rust-lang/rust/files/429005/x87_asm.txt)
[sse2_asm.txt](https://github.com/rust-lang/rust/files/429007/sse2_asm.txt)

[2016-08-21 18:41] eddyb commented on #31503
Honestly,  I don't know what to say other than maybe LLVM's cost model is inaccurate for your CPU?

cc @rust-lang/compiler @pcwalton

[2016-08-21 18:50] petevine commented on #31503
More like inhibiting optimisations in the default `Pentium 4` or `generic x86_64` codegen (or simply `+sse2`) . I was inquisitive enough to discover basic `i686` produces the fastest code for this codebase. (and that includes many multithreaded libs like `rayon` and `crossbeam`).

[2016-08-21 19:57] durka commented on #35853
cc @jseyfried

[2016-08-21 20:08] durka commented on #35849
Talked to @eddyb on IRC, I will try to fix this (he told me exactly what to write so hopefully it will be straightforward :D).

[2016-08-21 21:00] jonas-schievink commented on #35870
Due to [this check](https://github.com/rust-lang/rust/blob/490189634b656dcca9e41e6b52093569c03bd4df/src/librustc/middle/reachable.rs#L297), this can be worked around by marking `even_elems` as `#[inline]`.

It looks like the actual issue is that privacy can't mark the returned type as reachable, since it's not yet known when privacy is checked. Normally, the privacy checker [marks](https://github.

[2016-08-21 21:03] eddyb commented on #35870
@jonas-schievink That's syntactical, we should be able to make it simpler by running it after typeck.

[2016-08-21 21:06] frewsxcv commented on #35869
Addressed by https://github.com/rust-lang/rust/pull/35877

[2016-08-21 21:18] petrochenkov commented on #35870
@eddyb

I don't think [`AccessLevel::Reachable`<sup>*</sup>](https://github.com/rust-lang/rust/blob/490189634b656dcca9e41e6b52093569c03bd4df/src/librustc/middle/privacy.rs#L29) is appropriate for private types leaked through `impl Trait`, it's more or less public, for example `Reachable` items require stability attributes  + lints like missing copy/debug work on them.
You'd have to add one more `A

[2016-08-21 22:38] nagisa commented on #35609
Similarly with enums:

[code]

[code]

[2016-08-21 23:31] jplatte commented on #35870
@jonas-schievink Thanks for providing a workaround! :)

[2016-08-21 23:46] Diggsey commented on #35840
So far I've determined that it only fails on linux.

[2016-08-21 23:48] durka commented on #35753
How about opening the test source file itself?

[2016-08-21 23:52] slash3g commented on #27245
rustc 1.11 still reports type macros as unstable. Is there any chance of having this feature stabilized in 1.12?

[2016-08-22 00:00] nagisa opened #35886 "-Z treat-err-as-bug panics even when no errors occur"
[code]

[2016-08-22 00:06] Diggsey commented on #35840
Ah I've tracked down the problem: rust-lang/rust-installer#47

While it's technically a bug in rust-installer, we should probably be using bulk-dirs for the source anyway, and that will fix the problem by shortening the manifest.

[2016-08-22 00:32] durka commented on #35886
This is because of [this line](https://github.com/rust-lang/rust/blob/master/src/librustc_errors/lib.rs#L234) added in #33137. I'm guessing it needs a conditional to check whether `self.level == Level::Error`.

[2016-08-22 01:06] c410-f3r opened #35887 "Can't compile a file named "rust.rs" on Linux"
It is not possible to compile a file whose name is equal to a directory already created in the same folder:

[code]

[2016-08-22 01:06] mtanski commented on #34078
This pretty annoying, you can't use it in side of trait const expressions now.

[code]

Clearly this doesn't work, but it seams like it should.

[2016-08-22 01:32] durka commented on #35887
Not really a rust bug.

    $ mkdir foo
    $ echo "int main() { return 0; }" >foo.cpp
    $ g++ foo.cpp -o foo
    ld: can't open output file for writing: foo, errno=21 for architecture x86_64
    clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2016-08-22 01:45] yrnameer commented on #33928
Okay, everything went pretty smooth after that. The compiler works.

I tried using the Cargo from [dropbox](rust-nightly-armv7.tar.xz), but I'm running into a lot of dependency mismatch. Unfortunately I'm not entirely sure how to go about bootrapping a new one. I've looked at some of the older ones in [cargo-dist](https://static.rust-lang.org/cargo-dist/index.html), but they all segfualt.

I threw

[2016-08-22 01:59] c410-f3r commented on #35887
@durka Guess it is not a bug after all

[2016-08-22 02:42] durka opened #35888 "no explicit returns in diverging fns, even if the returned expr diverges"
This works:

[code]

This doesn't work:

[code]

[2016-08-22 03:21] munyari commented on #31891
Just opened a PR

[2016-08-22 03:24] aturon commented on #27245
Yes, it's ready for immediate stabilization. Anyone should feel free to open a stabilization PR and ping me on it.

[2016-08-22 03:42] retep998 commented on #35887
You cannot have both a file and a directory with the exact same name in the same directory.

[2016-08-22 03:54] munyari commented on #27242
@Gankro I'd like to work on this in whatever limited capacity I can, if you're still willing to mentor

[2016-08-22 03:55] munyari commented on #27242
Looks like I unassigned you? oops

[2016-08-22 03:57] eddyb commented on #27242
@munyari Sadly I don't think progress can be made on this without [adopting some strategy for type parameter defaulting](https://github.com/rust-lang/rust/issues/27336#issuecomment-229988042).

[2016-08-22 04:53] munyari commented on #34984
If @nxnfufunezn isn't working on this, I'd like to take it on

[2016-08-22 05:16] retep998 commented on #30027
Also to clarify how important ordinals are, there are 13,907 exports in the Windows SDK only accessible via ordinal (out of a total of 145,802 exports cataloged by me).

[2016-08-22 06:31] mkfifo commented on #35233
:+1:
bumping to sub myself.

[2016-08-22 06:54] 0xmohit commented on #35233
I can pick up some in case someone is willing to release the unfinished ones.

[2016-08-22 07:07] dashed commented on #35887
There could be a nicer error message to indicate to the user that there is a directory with the same name as the program.

[2016-08-22 09:03] petevine commented on #33928
Just satisfy the missing dependencies and then use that `cargo` binary to bootstrap yours with a simple `cargo build --release`. BTW, did the proposed workaround not work for your segfaulting binaries?

`sudo patchelf --add-needed libpthread.so.0 $(which cargo)`

[2016-08-22 09:46] GuillaumeGomez commented on #35233
@nightlark & @mkfifo & @0xmohit: I'll certainly add new err code tests today. Once merged, you'll be able to take some if you want.

[2016-08-22 12:04] bluss commented on #27889
Fixed in #27889, which includes a test.

[2016-08-22 12:04] #27889 closed

[2016-08-22 13:15] yrnameer commented on #33928
I didn't see that proposed anywhere, so I must have just been looking at the wrong thread of discussion. I will give it a try later this afternoon.

The dependencies where a little trickier, for instance ```libcurl-gnutls.so.4``` followed a different semantic versioning in **Arch** so I tried symlinking it, then there was ```armv7l-unknown-linux-gnueabihf-gcc``` instead of ```arm-linux-gnueabihf-g

[2016-08-22 13:17] nikomatsakis commented on #27749
We discussed this in the @rust-lang/lang meeting. We would like to move this issue to **final-comment period** with the intention to **deprecate and remove the `Reflect` trait**. This represents a decision to move away from parametricity; we started down this road when accepting the [specialization RFC](https://github.com/rust-lang/rfcs/pull/1210) (where there was much discussion). This is also re

[2016-08-22 13:21] nikomatsakis commented on #24263
On a related note, we decided to put the `Reflect` trait into FCP, with the intention of deprecating and removing it. That discussion would take place on the [tracking issue](https://github.com/rust-lang/rust/issues/27749). I will try to copy over some relevant comments there though so that people need not repeat themselves.

[2016-08-22 13:42] #35789 closed

[2016-08-22 13:44] nikomatsakis commented on #27749
On the general topic of parametricity, there have been numerous comments. In an effort to summarize the conversation, I wanted to link to some of the most salient exchanges:

- The `Reflect` bound was being used for the `discriminant_value` intrinsic (#24263) and was removed for the proposed `mem::discriminant` alternative (https://github.com/rust-lang/rfcs/pull/1696):
    - the bound existed beca

[2016-08-22 13:44] nikomatsakis commented on #27749
Reviewing this thread did reveal one interesting thing to me: the opt-in proposal still relied on the `Reflect` trait being discussed here, but it made the trait into an implicitly present bound, much like `Sized`, as opposed to the current bound (i.e., one would have to write `T: ?Reflect` to avoid a `T: Reflect` bound). The intention was that it could be introduced backwards compatibly.

[2016-08-22 13:44] nikomatsakis commented on #27749
Also, @eddyb has pointed out a few times that the current `Reflect` trait has the interesting property that individual types can, in principle, "opt-out" of reflection.

[2016-08-22 13:45] nikomatsakis commented on #27245
Indeed I am slow in writing it up, but the @rust-lang/lang team decided formally to **stabilize** this feature (as @aturon commented). Horray!

[2016-08-22 13:46] nikomatsakis commented on #27245
I am tagging the issue with E-mentor because I would be happy to mentor someone through the process of implementing a stabilization PR.

[2016-08-22 13:50] petevine commented on #33928
Symlinking should be enough, but once you've patched the official cargo binary (most of that stuff is statically linked so any openssl vuln. require a new updated binary) you'll be set.

[2016-08-22 13:52] nikomatsakis opened #35896 "Tracking issue for "macro naming and modularisation" (RFC #1561)"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1561.

cc @nrc @jseyfried

[2016-08-22 14:02] nikomatsakis opened #35897 "Tracking issue for static lifetime in statics (RFC #1623)"
Tracking issue for "static lifetime in statics", rust-lang/rfcs#1623, which defaults omitted lifetimes in statics to `'static`.

cc @llogiq

[2016-08-22 14:02] nikomatsakis commented on #35897
I would be up for mentoring someone in implementing this.

[2016-08-22 14:06] nikomatsakis commented on #31436
**Hear ye, hear ye!** The `?` operator specifically is now entering **final comment period**. This discussion lasts for roughly this release cycle which began on August 18th.

With respect to the **carrier trait**, a temporary version landed in #35777 which should ensure that we have the freedom to decide either way by preventing undesired interaction with type inference.

[2016-08-22 14:17] 0xmohit commented on #35887
FWIW, `gcc` behaves similarly.

[code]

[2016-08-22 14:23] slash3g commented on #27245
@nikomatsakis I don't have experience with rustc internals, but I'd be happy to try to implement the stabilization PR. :-)

[2016-08-22 14:34] nikomatsakis commented on #29721
**Hear ye, hear ye!** This unstable issue is now entering **final comment period** with the inclination to **deprecate and remove** -- basically because nobody seems to really want it.

@rust-lang/lang members, please check off your name to signal agreement. Leave a comment with concerns or objections. Others, please leave comments. Thanks!

- [x] @nikomatsakis
- [ ] @nrc
- [ ] @aturon
- [ ] @eddy

[2016-08-22 14:49] nikomatsakis commented on #28237
We discussed this in the @rust-lang/lang meeting. There was a general sense of unhappiness with this feature -- we considered moving to deprecate, but decided to hold off on that for the time being. There are two major objections to `...` as it stands:

- the ease of confusion between `..` and `...`;
- @aturon has been thinking that it would be better to have a more "fully capable" range syntax --

[2016-08-22 14:51] nikomatsakis commented on #15701
**Hear ye, hear ye!** This unstable issue is now entering **final comment period**. We wanted to **move to stabilize** attributes at the statement, but we also wished to seek feedback on attributes on the expression and sub-expression level.

[2016-08-22 14:53] nikomatsakis commented on #15701
My take on the expression-level attributes: I remain somewhat uncomfortable with the precedence and so forth of said attributes, but on the other hand I don't see any fundamental difficulties. The use-case described by @comex seems pretty compelling. I also can't help but think of Java's experience with `@Attribute`, which were initially very limited in where they could be used, but which have bee

[2016-08-22 15:12] durka commented on #28237
I know I stalled for a while, but I opened discuss thread about how to represent those fully-capable ranges in libstd (linked [above](https://github.com/rust-lang/rust/issues/28237#issuecomment-236466491)), but nobody commented :(

[2016-08-22 15:13] durka commented on #28237
With some input on the above, I'd be happy to help with a new RFC.

[2016-08-22 15:19] petrochenkov commented on #28237
That somewhat reflects their usefulness.
While having arbitrary inclusive-exclusive ranges sounds like a nice idea, I'm pretty sure everything except for `..` and to much less degree `...` will never ever be used.

[2016-08-22 15:20] llogiq commented on #35897
Cool! I'm not sure if I can find the time, but if I do, I'd be glad to code this up.

[2016-08-22 15:23] nielsle commented on #31436
I wonder if tokio-based libraries will end up using `and_then` a lot. That would be one argument for letting `foo().?bar()` be shorthand for `foo().and_then(move |v| v.bar())`, so that Results and Futures can use the same notation.

[2016-08-22 15:29] #35689 closed

[2016-08-22 15:53] seanmonstar commented on #31436
Just to be clear, this FCP is about the **question_mark** feature, not **catch**, correct? The title of this issue implies the tracking of both of those features in this one issue.

[2016-08-22 16:01] eddyb commented on #27749
@nikomatsakis Do you mean specialization can "remove" the requirement? Because that's unsound (or rather, it would be for `Send` and `Sync`).

[2016-08-22 16:06] kyrias commented on #35233
@mkfifo Use the subscribe button on the right sidebar instead of leaving a no-content comment.

[2016-08-22 16:11] jonathandturner commented on #35233
While we wait, would anyone who has volunteered for multiple error codes be willing to share?

[2016-08-22 16:20] jonathandturner commented on #35687
I'm hoping this was fixed by https://github.com/rust-lang/rust/pull/35811

[2016-08-22 16:25] yrnameer commented on #33928
The workaround fixed ```rustc-nightly```, but applying it to ```cargo-nightly``` did not.

[2016-08-22 16:25] durka commented on #31436
@seanmonstar the latter hasn't even been implemented, so, yeah. Presumably if the FCP results in acceptance this will be changed to track `catch`.

[2016-08-22 16:33] durka commented on #35772
Nice detective work @Detegr.

[2016-08-22 16:37] nikomatsakis opened #35900 "Tracking issue for "Macros 1.1" (RFC #1681)"
Tracking issue for rust-lang/rfcs#1681.

cc @alexcrichton
## Stabilization TODO

Litmus tests:
- [x] - Does diesel work? https://github.com/rust-lang/rust/issues/35900#issuecomment-251242313
- [x] - Does serde work? https://users.rust-lang.org/t/serde-transitioning-to-macros-1-1/7437

Features:
- Crate name, currently is `proc_macro`
- Crate type, currently `proc-macro`
- The `#[proc_macro_derive(

[2016-08-22 16:52] nikomatsakis commented on #35897
Here are some pointers into the code:

- first off, for historical reasons, the code often calls lifetimes regions :)
- when a region is elided, that winds up being resolved in `librustc_typeck` by a `RegionScope`, defined in `librustc_typeck/rscope.rs`; in particular the `anon_regions()` method is called to figure out what to do
- currently statics use an `ExplicitRscope`; [this is selected in th

[2016-08-22 16:53] nikomatsakis commented on #31436
Yes, just the `question_mark` feature.

[2016-08-22 16:54] jonathandturner commented on #35687
@TimNN - I'm going optimistically close this.  If you run into this with a recent nightly, please reopen.

[2016-08-22 16:59] yrnameer commented on #33928
In the case of dependencies, turns out I had a small typo and symlinking ```libcurl-gnutls.so.4.0.0``` was all that was needed. Cargo is now building. :+1:

[2016-08-22 17:17] chriscoomber commented on #16758
Just hit this when coercing a `Box<RwLock< (struct) >>` to a `Box<RwLock< (trait) >>`.

(Aside: it is of course illegal to coerce a `RwLock< (struct) >` to a `RwLock< (trait) >` - I don't really understand why the outer box makes this legal.)

Here's a small example that produces this warning:

[code]

Will I get a memory leak with this code?

[2016-08-22 17:24] jonas-schievink commented on #16758
This should no longer be relevant after #35764 lands since it will remove in-struct drop flags

[2016-08-22 17:30] petevine commented on #33928
Cool, please mention the problem you had with `patchelf` in the other thread. Thanks.

[2016-08-22 17:36] llogiq commented on #35897
Great! I think with those pointers I should be able to make *some* progress even with a modest amount of time.

[2016-08-22 17:38] nikomatsakis commented on #28237
@durka

This looks like roughly the approach we had in mind, yeah.

----

@petrochenkov

To be honest, I agree, but I still think it may be worth pursuing a more general syntax. In particular, I think that `...` is suboptimal, but if we move to `..=` or something more explicit, it probably doesn't really hurt to do something a bit more general, even if it's rarely used. That is, if we make it syst

[2016-08-22 18:08] eddyb commented on #35499
@nagisa We can check crater after turning them into ICEs.

[2016-08-22 18:11] jonas-schievink commented on #34902
I wrote a small [script](https://gist.github.com/jonas-schievink/18cf82523262b8ca62f94d54bef6f905) to diff metadata (I couldn't really get the makefile to work).

It looks like even more is changing between two compiles using the current master (or nightly): The crate hash and/or disambiguator, which are stored right after the target triple. @infinity0 can you confirm?

[2016-08-22 18:13] alexcrichton commented on #35900
I've updated the issue description with a checklist of what needs to be done. It's likely not exhaustive but it should get us 90% of the way there hopefully

[2016-08-22 18:16] yrnameer commented on #35843
The ```cargo``` installed via this method also produces a segfault.
[code]
However the workaround above ( when applied to cargo) does not fix this.

[2016-08-22 18:40] nathan7 commented on #35843
@yrnameer Awesome! I hadn't gotten cargo working yet, so I'm very glad you've figured this out :heart:

[2016-08-22 18:51] yrnameer commented on #33928
Thanks for the help! I discovered what was wrong while providing a backtrace for the other thread. I'll repeat the process here for clarity.
[code]

[2016-08-22 18:59] Detegr commented on #35772
Thanks, however my initial solution to the problem was too shortsighted and caused more harm than good. Anyway this has been a fun dive to the compiler internals and I'll keep trying.

[2016-08-22 19:22] yrnameer commented on #35843
Just for clarity, I also ran the previous ```patchelf``` against cargo prior to doing that. So I can't say for sure whether or not it was required. The backtrace is from the initial crash, perhaps I should have posted an intermediate one.

[2016-08-22 19:30] jdm commented on #34727
Instruments.app results are looking much better. I still see 5% of time spent in tlv_get_addr underneath std::panicking::try_call, though, which is worrying. LTO is on by default for optimized build, right?

[2016-08-22 19:36] TimNN commented on #34727
@jdm: from what http://doc.crates.io/manifest.html#the-profile-sections says, I don't think LTO is enabled in release mode by default.

[2016-08-22 19:36] michaelwoerister opened #35902 "incr. comp.: Increase partition granularity by for non-inlined functions"
If we put every function into its own codegen unit, we would minimize the amount of functions being re-translated even though they have not changed. The main reason we don't do this, is because it would completely prevent inlining, which in turn has too detrimental an effect on runtime performance.

However, for many functions we could probably predict very well that they would never get inlined b

[2016-08-22 19:37] michaelwoerister commented on #35902
cc @nikomatsakis

[2016-08-22 19:38] golddranks opened #35903 "Indicate when an item or impl depends on a feature"
Crates that have features often cause confusion. For example, the Diesel documentation shows that there exists an `impl` for specific trait+type combination: (in this case DB=Pg, short for PostgreSQL)
(from [Diesel documentation](http://docs.diesel.rs/diesel/types/trait.FromSqlRow.html))

[code]

and again:

[code]

Yet it fails on compilation:

The problem here is that `FromSql<Timestamptz, Pg> f

[2016-08-22 20:01] alexcrichton commented on #35900
Ok, I'm going to look into this today and see how far I get.

[2016-08-22 20:13] jonas-schievink commented on #34902
Okay, apparently replacing `Hash{Map,Set}` in resolve with `FnvHash{Map,Set}` got rid of the first (smaller) blocks of the diff. The big block at the bottom is still there. Will continue to randomly `sed` the compiler and report back ;)

[2016-08-22 20:18] durka commented on #35499
@nagisa I'm not 100% sure I understand that logic -- since we're in orbit now, and MIR is really being used, it seems to me that broken MIR _has_ to stop compilation. For example see https://github.com/rust-lang/rust/pull/35883#issuecomment-241473562 -- crash in safe code caused by generating a binary from bad MIR (indicating a bug in typeck).

[2016-08-22 20:21] retep998 commented on #35902
Even if a function is marked with `#[inline(never)]` that doesn't mean it won't inline other functions into it. Having it in a codegen unit of its own would prevent it from inlining other functions in the same crate.

[2016-08-22 20:25] michaelwoerister commented on #35902
Not necessarily. It could still inline as many functions as it wants (via copying those functions into the codegen unit of its "main" functions). That just leads to another kind false positives when it comes to recompilation.

[2016-08-22 20:29] nagisa opened #35904 "ICE: impossible case reached with conditional constant"
I have

[code]

which causes

[code]

[2016-08-22 21:18] brson commented on #35847
Fix the same way as with Rc/Arc.

[2016-08-22 21:23] jonas-schievink commented on #34902
The remaining issue is that (some?) predicates are encoded in non-deterministic order. Maybe we need to do [this](https://github.com/rust-lang/rust/blob/3c5a0fa45b5e2786b6e64e27f48cd129e7aefdbd/src/librustc_typeck/collect.rs#L2019) for all bounds? Not sure what would be the correct way to do that (or why these are nondeterministic in the first place).

[2016-08-22 21:25] jdm commented on #34727
With LTO enabled that tlv_get_addr is gone. Thanks for investigating and fixing this, @alexcrichton and @cynicaldevil!

[2016-08-22 21:26] michaelwoerister commented on #34902
Just for reference, there's this: https://github.com/rust-lang/rust/pull/34805

[2016-08-22 21:28] eddyb commented on #34727
@alexcrichton @jdm What's the `tlv_get_addr` call for?
Shouldn't the counter not be accessed at all in the non-panicking case now?

[2016-08-22 21:32] jonas-schievink commented on #34902
@michaelwoerister Thanks! Too tired to think about it currently. Will have a look tomorrow :)

[2016-08-22 21:51] nikomatsakis commented on #35852
As @arielb1 notes, this is very much by design (it is kind of crucial to having a usable outlives relation for projection types).

[2016-08-22 21:52] nikomatsakis commented on #35852
That said, I do find some cases of errors unfortunate. It may be that we can evolve more here, though I'm not quire sure how (in some ways, I worry we are not always strict enough, as well, as it makes me uncomfortable to have lifetimes in types that can ever be "out of scope", and I think that may be possible in some particular scenarios).

[2016-08-22 21:58] alexcrichton commented on #34727
@jdm yeah as @eddyb mentioned we shouldn't be hitting that function at all any more unless something actually panics...

[2016-08-22 22:00] jdm commented on #34727
I've seen tlv_get_addr under call stacks that are Servo's code, rather than directly from try_call, so maybe it was misreported or something.

[2016-08-22 22:01] durka opened #35907 "nonsense help message for stray `=>`"
Code:

[code]

Output:

[code]

"Place this code inside a block" doesn't make any sense here.

[2016-08-22 22:06] estebank commented on #35887
I could expand https://github.com/rust-lang/rust/pull/34005 when I get back to it to clean it up to pick this case up as well.

[2016-08-22 22:08] durka commented on #28237
Which one? I suggested several alternatives in my post.

[2016-08-22 22:13] petrochenkov commented on #35566
I investigated this a bit, but without much success.
This is a Windows specific problem (`custom_unwind_resume == true`) happening when the compiled crate contains definition of lang item `eh_unwind_resume` (`lang_items.eh_unwind_resume().is_some()`), basically only `libpanic_unwind`.
cc @vadimcn @alexcrichton maybe you have ideas how to fix this

[2016-08-22 22:14] edunham commented on #15880
Help wanted: Create Docker image with all dependencies to run these tests, and take a guess at the Buildbot PR necessary to run the new image as a non-gating builder.

[2016-08-22 22:15] alexcrichton commented on #32723
cc https://github.com/rust-lang/rust/issues/15880, a bot which is intended to run these tests

[2016-08-22 22:15] alexcrichton commented on #32776
cc https://github.com/rust-lang/rust/issues/15880

[2016-08-22 22:15] alexcrichton commented on #30842
cc https://github.com/rust-lang/rust/issues/15880

[2016-08-22 22:16] alexcrichton commented on #30942
cc https://github.com/rust-lang/rust/issues/15880 (we'll want a bot for this)

[2016-08-22 22:18] #17665 closed

[2016-08-22 22:19] brson commented on #17665
Closing because old. If somebody ever wants to pursue this again just start over.

[2016-08-22 22:20] alexcrichton commented on #25486
The install page now links the release announcement always which transitively links the release notes, so closing.

[2016-08-22 22:20] #25486 closed

[2016-08-22 22:20] #25660 closed

[2016-08-22 22:23] #16795 closed

[2016-08-22 22:27] edunham commented on #21239
TODO: add master config step that runs invalidation at end of nightly build.

[2016-08-22 22:33] brson commented on #21240
Closing because what we really want is to redesign the entire build process.

[2016-08-22 22:33] #21240 closed

[2016-08-22 22:37] brson commented on #25814
@edunham If you send it to @alexcrichton and I we can close this.

[2016-08-22 22:37] edunham commented on #25814
TODO: Encrypt & send revocation certs to Brian and Alex, then close this.

[2016-08-22 22:37] nathan7 commented on #35843
@yrnameer I tested both with and without the pthread patchelf, but cargo already has libpthread in its DT_NEEDED, and the duplicate entry doesn't seem to be necessary.

[2016-08-22 22:38] edunham commented on #25978
Current status: Cloudfront and S3 logs exist; Alex can hand out analytics access for pageviews.

[2016-08-22 22:39] #25978 closed

[2016-08-22 22:43] alexcrichton commented on #24659
cc @steveklabnik (and rest of the docs team, although there's no alias)

Right now we have stable docs available in two locations:

http://doc.rust-lang.org/std/
http://doc.rust-lang.org/nightly/std/

On the infrastructure side we can make one redirect to the other. Does the docs team have a preference as to which is the canonical version

[2016-08-22 22:44] #24677 closed

[2016-08-22 22:45] #18815 closed

[2016-08-22 22:48] edunham commented on #21483
It's now on by default.

[2016-08-22 22:48] #21483 closed

[2016-08-22 22:51] tomjakubowski commented on #24659
Did you mean to say stable docs are available at /std/ and at /stable/std/? Or are the docs at /nightly/std/ docs for the stable distribution?

[2016-08-22 22:52] alexcrichton commented on #17269
Will make a new metabug around this soon

[2016-08-22 22:52] #17269 closed

[2016-08-22 22:55] brson commented on #25461
Is it possible to set the gid to 0 when the tarball is created?

[2016-08-22 22:55] edunham commented on #21434
Still real, still forcing us to 1 builder per slave on Windows.

[2016-08-22 22:55] #21434 closed

[2016-08-22 22:58] brson commented on #16442
cc https://github.com/rust-lang-nursery/rustup.rs/issues/241
cc https://github.com/rust-lang-nursery/rustup.rs/issues/242

[2016-08-22 22:59] brson commented on #16442
Closing this since the specifics are pretty out of date.

[2016-08-22 22:59] #16442 closed

[2016-08-22 23:00] brson commented on #26765
cc https://github.com/rust-lang/rust/issues/35653

[2016-08-22 23:03] alexcrichton commented on #22448
This likely isn't going to happen, we'd basically have to rewrite our entire CI system.

[2016-08-22 23:03] #22448 closed

[2016-08-22 23:05] alexcrichton commented on #32444
This should be a pretty easy bug to tackle for anyone aspiring to do so. Let's just create a file called `VERSION` in our tarballs with basically the output of `rustc -v`

[2016-08-22 23:05] brson commented on #32398
Fixed.

[2016-08-22 23:05] #32398 closed

[2016-08-22 23:09] durka commented on #35888
This was already fixed by #35162 I guess.

[2016-08-22 23:09] #35888 closed

[2016-08-22 23:10] brson commented on #24117
With the `rustup component` subcommand we can make the docs an optional package in the manifests.

[2016-08-22 23:13] edunham commented on #20866
Help wanted: Write a .travis.yml to do this build on Travis and upload it to GitHub's releases storage. (ping me for help if this is confusing)

[2016-08-22 23:14] brson commented on #19505
Not worth doing. File doesn't change much anymore.

[2016-08-22 23:14] #19505 closed

[2016-08-22 23:15] edunham commented on #24052
Help wanted: Please PR to https://github.com/rust-lang/rustup.sh

[2016-08-22 23:16] alexcrichton commented on #8389
Unless we get valgrind working on OSX this isn't really actionable, so closing.

[2016-08-22 23:16] #8389 closed

[2016-08-22 23:17] edunham commented on #33063
Help wanted: Add build step to test whether anything exists at the URL it's about to upload to. https://github.com/rust-lang/rust-buildbot/blob/master/master/master.cfg

[2016-08-22 23:18] edunham commented on #28307
Help wanted: Extend the rust-packaging project to produce .debs

[2016-08-22 23:20] eddyb commented on #35566
@petrochenkov The problem is [this line](https://github.com/rust-lang/rust/blob/3c5a0fa45b5e2786b6e64e27f48cd129e7aefdbd/src/librustc_trans/base.rs#L1101), called from [MIR trans](https://github.com/rust-lang/rust/blob/3c5a0fa45b5e2786b6e64e27f48cd129e7aefdbd/src/librustc_trans/mir/block.rs#L122). The fix is to move this to the call and use the `Builder` API instead of `bcx.with_block`, to get the

[2016-08-22 23:24] edunham commented on #24531
Help wanted: Research whether there's a Git command to test integrity of repo and detect that a clone or update was aborted haldway through.

[2016-08-22 23:26] brson commented on #19535
Almost working. We're producing the source packages, but they are busted. Next fix is https://github.com/rust-lang/rust-installer/pull/48

[2016-08-22 23:27] alexcrichton commented on #28917
rpath is enabled by default, so no longer necessary

[2016-08-22 23:27] #28917 closed

[2016-08-22 23:27] edunham commented on #28592
@dns2utf8, thanks for volunteering! Is there anything we can do to help you out here?

[2016-08-22 23:28] #17356 closed

[2016-08-22 23:29] alexcrichton commented on #35334
We upped the timeouts on buildbot but otherwise haven't seen this recently, so closing.

[2016-08-22 23:29] #35334 closed

[2016-08-22 23:30] rillian commented on #25461
GNU `tar` has a `--group=0` option for this.

[2016-08-22 23:31] edunham commented on #19156
Help wanted: Attempt to reproduce this in another virtualization solution, see whether there are any relevant Vagrant or Raspberry Pi toolchain bugs

[2016-08-22 23:33] alexcrichton commented on #35628
Haven't seen these in awhile, increase in timeout seems to have fixed it.

[2016-08-22 23:33] #35628 closed

[2016-08-23 00:29] estebank commented on #27522
This has been fixed. Can this ticket be closed?

[2016-08-23 00:31] Aatch commented on #35907
It's there to catch this:

[code]

But the way it's implemented means that if we get something that isn't a block, we say to put it in a block. We might be able try parsing an expression, and show the help only if that works.

[2016-08-23 01:54] shepmaster commented on #13998
Continuing on to 2016:

[code]

[code]

[2016-08-23 02:07] Coder206 commented on #35233
@GuillaumeGomez Is there any issues available to work on?

[2016-08-23 03:51] #35339 closed

[2016-08-23 03:52] #35703 closed

[2016-08-23 03:52] #35791 closed

[2016-08-23 03:52] #35797 closed

[2016-08-23 05:32] alexcrichton commented on #24659
Oops, yes!

[2016-08-23 05:39] alexcrichton commented on #35727
Discussed at @rust-lang/libs triage today, we concluded that we're likely to revert but we're not sure. @aturon wasn't present unfortunately and he'll likely also have opinions on this as well. We'll discuss again soon.

Our other conclusion was that this wasn't *super* urgent because it's already hit stable.

[2016-08-23 05:39] alexcrichton commented on #35836
Discussion at @rust-lang/libs triage today concluded that this seems like a good bug to fix, but not high-enough priority for P-high

[2016-08-23 05:40] alexcrichton commented on #35847
Discussed today at @rust-lang/libs triage and the conclusion was that this'd be great to fix but isn't P-high priority b/c it's somewhat manufactured.

As @brson said the fix will probably to just do the same thing as `Arc`.

[2016-08-23 08:19] jroesch commented on #32730
cc me

[2016-08-23 08:30] tbu- opened #35918 "Tracking issue for `File::read_at`, `File::write_at` (`file_offset`)"

[2016-08-23 08:34] tbu- commented on #35918
Implemented in #35704.

[2016-08-23 08:48] F001 opened #35919 "confusing type annotation"
This piece of code can't compile:

[code]
But, if we add the type annotation, it compiles:

[code]

I guess the later form triggers "auto-deref" mechanism, which equals to:

[code]

But this behaviour is still very confusing. Type annotation or not doesn't change the type of `x` at all. Type of  `x` is always `&mut i32`. But they lead to  different compile result. I have no idea whether should we

[2016-08-23 09:22] jonas-schievink commented on #35919
I don't think autoderef is involved here, the type of `x` still seems to be inferred to `&mut i32`. Looks like some weird interaction with reborrows (a reborrow is occurring in the second case but not the first).

[2016-08-23 09:25] jonas-schievink commented on #35919
Looks like a duplicate of #25899, but I think we should keep it open anyways since this is *very* confusing

[2016-08-23 11:16] nikomatsakis commented on #27749
@eddyb

What I meant is that the specialization RFC does not mention the `Reflect` trait -- hence one can "downcast" during monomorphization without regard for whether code has opted in or out of `Reflect`.

I am not sure of what relationship you see between `Reflect` and `Send` and `Sync` though, can you elaborate? Am I forgetting about something?

[2016-08-23 11:27] sanxiyn commented on #34902
#24473 is rustdoc subset of this.

[2016-08-23 14:01] athulappadan commented on #35205
Let me work on this one.

[2016-08-23 14:41] corvinux commented on #33483
@petevine, That's great, Now you are talking :), thank you very much fot this.

[2016-08-23 14:42] frewsxcv opened #35921 "Travis CI should run linkchecker"
Would allow us to find these issues before getting reviewer approved:

https://github.com/rust-lang/rust/pull/35845

https://github.com/rust-lang/rust/pull/35786

[2016-08-23 14:42] #33483 closed

[2016-08-23 15:04] jonathandturner opened #35922 "E0445 needs to be updated to new format"
From: src/test/compile-fail/E0445.rs

E0445 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-23 15:08] jonathandturner opened #35923 "E0446 needs to be updated to new format"
From: src/test/compile-fail/E0446.rs

E0446 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-23 15:13] jonathandturner opened #35924 "E0449 needs to be updated to new format"
From: src/test/compile-fail/E0449.rs

E0449 needs a span_label and a span_note changed to a note, updating this:

[code]

To:

[code]

Bonus (though not sure if this is reasonable, but would be nice to try): let's underline the `pub` if we can.

[code]

[2016-08-23 15:22] jonathandturner opened #35925 "E0450 needs to be updated to new format"
From: src/test/compile-fail/E0450.rs

E0450 needs a span_label, updating it from:

[code]

To:

[code]

Bonus: add a label to where the private field comes from:

[code]

Alternatively, if underlining the private field is too tricky, just underline the whole tuple constructor definition.

[2016-08-23 15:30] eddyb commented on #27749
@nikomatsakis Ah, sure, I was talking about a `Reflect` bound, e.g. on `Any` - specialization shouldn't be able to work around the fact that I *denied it* for my type.
Now the usefulness of that feature is orthogonal, but it is there.

[2016-08-23 15:38] steveklabnik commented on #24659
Let's try this: @rust-lang/docs

:confetti_ball:

[2016-08-23 15:40] steveklabnik commented on #24659
So, there's actually three locations: there is also `/current-version/std`.

I think I prefer the longer one to be the canonical URL.

[2016-08-23 15:44] jonathandturner opened #35928 "E0451 needs to be updated to new format"
From: src/test/compile-fail/E0451.rs

E0451 needs a span_label, updating it from:

[code]

To:

[code]

Bonus (though this may be tricky): just underline the private field

[code]

[2016-08-23 15:48] jonathandturner opened #35929 "E0453 needs to be updated to new format"
From: src/test/compile-fail/E0453.rs

E0453 needs a span_label and a span_note changed to a span_label, updating it from:

[code]

To:

[code]

[2016-08-23 15:49] jonathandturner opened #35930 "E0454 needs to be updated to new format"
From: src/test/compile-fail/E0454.rs

E0454 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-23 15:50] jdm opened #35931 "Bogus conflicting trait implementation error when using unresolved type name"
[code]

yields

[code]

[2016-08-23 15:51] jonathandturner opened #35932 "E0458 needs to be updated to new format"
From: src/test/compile-fail/E0458.rs

E0458 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-23 15:52] jonathandturner opened #35933 "E0459 needs to be updated to new format"
From: src/test/compile-fail/E0459.rs

E0459 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-23 15:53] jonathandturner opened #35934 "E0463 needs to be updated to new format"
From: src/test/compile-fail/E0463.rs

E0463 needs a span_label, updating it from:

[code]

To:

[code]

[2016-08-23 15:56] mikhail-m1 commented on #35123
I replaced Vec by HashMap (for debug purpose, HasSet is enough)
and check at
[code]

But test tests/incremental/krate_reassign_34991 fails, I reverted all my changes and add just trace which outputs crate name and disambiguator, and it fails too. Currently it works because module index is lager than kates vec len.

[2016-08-23 15:57] jonathandturner commented on #35233
@nightlark & @mkfifo & @0xmohit and @Coder206 - there are new ones posted

[2016-08-23 16:09] mikhail-m1 commented on #35233
I'll  take E0450

[2016-08-23 16:09] durka opened #35935 "mem::replace and mem::swap say they don't copy, but they do"
`mem::replace`:

`mem::swap`:

However, `replace` calls `swap` which uses `copy_nonoverlapping`, making the docs technically false. Should it say "without cloning" or "without deep-copying" instead?

[2016-08-23 16:12] Coder206 commented on #35233
@jonathandturner I'd like to take E0446 as my first contribution to Rust.

[2016-08-23 16:14] durka opened #35937 ""cannot assign to immutable field" could be confusing"
[code]

It occurred to me that this might be confusing to newcomers because fields don't have mutability in Rust, instead we have inherited mutability. So maybe it should say "cannot assign to field of immutable struct" or "cannot modify field due to immutable binding" or something.

cf #18150

[2016-08-23 16:16] jonathandturner commented on #35233
Also, heads up to people who volunteered but haven't responded after volunteering.  I'll going through and opening up some of the previous error codes to make them available for other people to work on.  If you have one that you've had for a while and have not gotten to it, you need to respond here to keep it otherwise it will be released.

[2016-08-23 16:29] nikomatsakis commented on #21938
Agreed.

[2016-08-23 16:29] #21938 closed

[2016-08-23 16:32] rkruppe commented on #35935
It *moves*. Moves are in the end implemented by copying bytes, but that's not what "copy" means in most Rust contexts.

[2016-08-23 16:42] silverwind opened #35938 "`make` hangs on macOS 10.12 using homebrew"
It seems the homebrew package of `rustc` (1.11.0 in my case) is unable to compile on the latest macOS Sierra beta. `make` did hang for 12 hours at pretty much full CPU usage for me after which I had to kill the process.

[code]
No additional output is seen, I assume `brew` suppresses it.

XCode Version 8.0 beta 6 (8S201h)
macOS 10.12 (16A304a)

 Possibly related: https://github.com/rust-lang/rust/

[2016-08-23 16:43] Ericson2314 commented on #31436
Following up on https://github.com/rust-lang/rfcs/issues/1718#issuecomment-241764523 . I had thought the current behavior `?` could be generalized into "bind current continuation", but the `map_err(From::from)` part of `?` makes it slightly more than just bind :/.

[2016-08-23 16:45] pcn commented on #35233
I'm still working on E0025, it actually seems like it is making me understand the lifetimes/borrow rules.

[2016-08-23 16:46] 0xmohit commented on #35233
I'll take E0445, E0454, E0458, E0459.

[2016-08-23 16:47] jonathandturner commented on #35233
@0xmohit - can you take 1 or 2 and save some for other people?

[2016-08-23 16:47] jonathandturner commented on #35233
@pcn - thanks, I'll keep that one on you

[2016-08-23 16:48] jonathandturner commented on #35233
@0xmohit - that is, unless they're all related and easier to do in one shot

[2016-08-23 16:48] 0xmohit commented on #35233
@jonathandturner Sure. Striked out a couple.

[2016-08-23 16:49] jonathandturner commented on #35233
@0xmohit - okay you get E0445 and E0454

[2016-08-23 17:07] durka opened #35940 "support code such as `fn(x: !) -> ! { x }` with #![feature(never_type)]"
This kind of code worked with the original implementation of `#![feature(never_type)]`, but that's because the check for diverging functions that converge was removed from liveness. With that restored, it incorrectly fires here.

@eddyb believes the fix involves:

[code]

cc @canndrew. Discovered during #35883.

[2016-08-23 17:14] eddyb opened #35941 "Decide on semantics for enum -> integer casts on non-Copy enums."
Casting an `enum` which does not derive `Copy` to an integer moves atm:

[code]

This matches the behavior of other coercions/casts, specifically unsizing ones (`Box<T> -> Box<Trait>`).

However, one difference arises between old trans and MIR trans, wrt drops:

[code]

On stable, old trans will run the destructor exactly once. After #35764, MIR trans doesn't run it at all.
The reason is that the

[2016-08-23 17:33] nikomatsakis commented on #27245
@slash3g ok, basically all you have to do is to modify `expand_type` in `libsyntax/ext/expand.rs`  and  basically remove the `if` from this code:

[code]

you also need to change this declaration from `libsyntax/feature_gate.rs` and move it to be "accepted" (there is a section of "accepted" features below in the file):

[code]

[2016-08-23 17:34] camlorn commented on #35896
One question I don't think was ever answered on the RFC thread is if providing a way for current macros to opt in is feasible.

Just throwing this out there as to make sure it doesn't get forgotten.  My vote is obviously for yes we can, but I'm also obviously not on a team, or even an active contributor beyond these discussions.

[2016-08-23 17:37] durka commented on #27245
Also remove `#![feature(type_macros)]` from any tests that mention it.

[2016-08-23 17:51] caipre opened #35942 "Formatting regression in Crates and Modules chapter"
The markdown seems fine, but the gitbook isn't rendering correctly:
![screen shot 2016-08-23 at 13 50 34](https://cloud.githubusercontent.com/assets/295094/17903222/a5bba362-6938-11e6-9178-b4eb9800df60.png)

https://doc.rust-lang.org/book/crates-and-modules.html

[2016-08-23 17:56] brson opened #35943 "Error causes can't be downcast"
Originally reported here: https://users.rust-lang.org/t/cant-to-introspect-error-cause/6536/2

Because `cause` doesn't return an `Error` bound by `'static` you can't downcast it.

This seems like a significant oversight. Of _course_ you want to be able to downcast that object.

[2016-08-23 17:56] brson commented on #35943
cc @Stebalien

[2016-08-23 17:57] bluss commented on #35935
They don't copy in Rust semantics, but we should rewrite them to talk about move semantics, which will make it easier for everyone to understand.

These functions are not unsafe or tricky or anything, so we really don't need to reassure users about how they work (they will obey Rust's regular rules, of course)?

`replace`

`swap`

Not sure what to even say about swap. Maybe

[2016-08-23 17:58] eddyb commented on #35408
Actually, how are we going to do a crater run if we don't have an old trans switch?

I suppose before-after on that PR might suffice (and it would catch other problems wrt drop flags).
I'll start it now then, no point in waiting.

[2016-08-23 18:01] durka commented on #35942
Just a missing linebreak. Fixed by #35466 but since these are the most public docs (and an oft-linked chapter) maybe we can get that fast-tracked to the stable site somehow? cc @steveklabnik

[2016-08-23 18:03] eddyb commented on #35805
We have [more accurate stats](https://gist.github.com/Mark-Simulacrum/bc68a236ec2647f4665800363dbd13f4) for the switch to MIR, thanks to @Mark-Simulacrum.

[2016-08-23 18:05] caipre commented on #35942
Oh, sorry -- I saw that change in the history and assumed it was what I was seeing at doc.rust-lang.org. Nightly renders correctly: https://doc.rust-lang.org/nightly/book/crates-and-modules.html

[2016-08-23 18:06] alexcrichton commented on #35938
The 1.11.0 compiler bootstraps from the 1.10.0 compiler, which is [known to fail](https://github.com/rust-lang/rust/pull/34719) on OSX 10.12. We've backported the fix to 1.11.0 so the compilers we ship should work, but otherwise this is an unfortunate case where 1.11.0 won't be able to bootstrap on OSX 10.12.

[2016-08-23 18:25] steveklabnik opened #35946 "Improve `?` error messages per RFC 1859"
RFC 1859 laid out [specific error messages](https://github.com/rust-lang/rfcs/blob/master/text/1859-try-trait.md#error-messages) for the `?` operator, but currently they are not implemented (and instead the compiler's internal desugaring is revealed).

UPDATE: Many parts of this are done, but not all. [Here is a post with examples that are not yet great.](https://github.com/rust-lang/rust/issues/3

[2016-08-23 18:31] brson commented on #34434
Seems like turning off the asserts would help then at least. If we had a (new) release + no-asserts + debuginfo builder we could probably get some amount of testing done in time.

[2016-08-23 18:33] durka commented on #24770
I think this can be closed.

    error[E0308]: mismatched types
     --> <anon>:6:13
      |
    6 |             1 => {}
      |             ^ expected &{integer}, found integral variable
      |
      = note: expected type `&{integer}`
      = note:    found type `{integer}`

[2016-08-23 18:34] nodakai commented on #35904
[code]

Why is this not `(InferSigned(a @ as_i64::I8MIN...as_i64::I8MAX), I8(_)) => I8(a as i8),` as found in `src/librustc_const_math/int.rs` ?

[2016-08-23 18:36] #24770 closed

[2016-08-23 18:36] durka commented on #35946
Now that it's part of the language, we can even print `help: the ? operator can only be used in a function that returns a Result`.

[2016-08-23 18:38] brson commented on #35735
Thanks for that link @briansmith.

In the spirit of the original OP i guess the only thing to do here is to replace the Rust siphash with the C siphash if it is indeed faster, which @alexcrichton's benchmarks indicate may be the case, by a decent percent, assuming the C siphash13 performance compares to the Rust performance similarly to 2-4.

[2016-08-23 18:40] brson commented on #35735
Although if we were to add new C code to std that invalidates some of the logic in the `-C target-feature=cstatic` [RFC](https://github.com/rust-lang/rfcs/pull/1721), which depends on std not containing C code (because MSVC has to compile it differently).

[2016-08-23 18:43] steveklabnik commented on #35946
Yeah, that's exactly what I was hoping.

[2016-08-23 18:53] nightlark commented on #35233
Thanks for the new ones @jonathandturner. I'll take E0449.

[2016-08-23 19:11] silverwind commented on #35938
I've just compiled successfully off master, so I assume it's just a matter of homebrew updating their version, right?

[2016-08-23 19:35] mikhail-m1 commented on #35233
please. assign E0451 to me

[2016-08-23 19:37] alexcrichton commented on #35938
Yeah the master branch is bootstrapping from the 1.12.0 beta, which has a fix for OSX 10.12

[2016-08-23 19:55] bluss commented on #35735
One way to make rust's siphasher faster is to enable one-shot hashing, there's an ongoing rfc for one approach at that https://github.com/rust-lang/rfcs/pull/1666

one-shot hashing would be that the SipHasher type receives a whole byte slice that it can hash into a final hash value in one go. Currently SipHasher is implemented to take chunks at a time, and must have logic that keeps track of non-m

[2016-08-23 19:57] silverwind commented on #35938
Alright, will wait for 1.12 before updating again :)

[2016-08-23 19:57] #35938 closed

[2016-08-23 20:12] #35865 closed

[2016-08-23 20:12] brson commented on #35619
@arielb1 I don't know how you come to this conclusion, but codegen is only one of Rust's many functions, and many of them can be "wrong". Which I-tag do you think applies here?

[2016-08-23 20:15] SimonSapin commented on #33906
I’ve submitted https://github.com/rust-lang/rust/pull/35947 to make this emit errors as specified in Unicode, like `String::from_utf8_lossy` does.

[2016-08-23 20:29] knight42 commented on #29597
Any progress now?

[2016-08-23 20:32] nxnfufunezn commented on #34984
@munyari sure..

[2016-08-23 20:37] SimonSapin commented on #29597
Yes! The "Macros 1.1" RFC at https://github.com/rust-lang/rfcs/pull/1681 was accepted. It’s implementation is tracked at https://github.com/rust-lang/rust/issues/35900.

[2016-08-23 20:45] sfackler opened #35950 "TcpListener docs example contains an explicit drop that can never be reached"
The `incoming` iterator never returns `None`, so the `drop` at the end will never be reached. The explicit matching against the socket result also seems potentially nonconventional docs-wise?

https://doc.rust-lang.org/std/net/struct.TcpListener.html#examples

[2016-08-23 21:01] abonander commented on #35950
Also, what are the semantics of this iterator when the listener is set to nonblocking mode? If it's equivalent to `accept()` it should run the loop with `WouldBlock` errors until a connection is made.

[2016-08-23 21:14] sfackler commented on #35950
That's what it'd do, yeah. The `next` method is super simple: https://doc.rust-lang.org/src/std/up/src/libstd/sys/unix/ext/net.rs.html#532

[2016-08-23 21:34] eddyb commented on #35937
cc @jonathandturner

[2016-08-23 21:45] jonas-schievink opened #35952 "ICE on mismatched trait impl types on nightly"
https://is.gd/IOhgyC

[code]

[code]

Happens on the current nightly, but not the beta/stable rustc installed on the playpen.

[2016-08-23 23:03] nrc commented on #15701
Does Java allow attributes on expressions.

My objection is basically that it is confusing and feels weird, and that there have not been enough use cases to persuade me that it is worth the confusing weirdness. In particular since any expression can be made into a statement by extracting a variable, there is always a work around. I believe, that doing that refactoring where an attribute is require

[2016-08-23 23:05] nrc commented on #35896
@camlorn this was actually address in my final edit to the RFC before merging. To summarise, it might be possible but we need implementation experience to be sure and to work out exactly how it might work. So, basically punting on the issue for now. It is certainly an area where I think we need to tread extremely carefully.

[2016-08-23 23:28] #35549 closed

[2016-08-23 23:28] #35593 closed

[2016-08-23 23:48] Ericson2314 commented on #27438
#1717 should fix this?

[2016-08-23 23:51] Aatch commented on #27438
@Ericson2314 did you mean #31717? Since the issue you mentioned is about changing the precedence of `as`...

[2016-08-23 23:51] Ericson2314 commented on #27438
Sorry, meant to link an RFC.

[2016-08-24 00:04] retep998 commented on #27438
@Ericson2314 It will fix the situation for FFI. However it doesn't apply to inter-crate linking as Rust still doesn't know whether a dependency will be linked as an rlib or a dylib until link time, when it needs to know it at code generation time.

[2016-08-24 00:27] KiChjang commented on #35952
Duplicate of #35869.

[2016-08-24 00:39] nagisa commented on #35904
@nodakai because I changed the compiler, hitting the ICE in process.

[2016-08-24 00:57] nagisa commented on #35904
Seems like not an issue on nightly (cannot minimize or re-reproduce), closing.

[2016-08-24 00:57] #35904 closed

[2016-08-24 01:00] nagisa commented on #35946
Carrier trait.

[2016-08-24 01:39] euclio commented on #34191
I'd like to work on this.

I'm thinking: if we detect that adding "self" to the import resolves it, then a help message suggesting that is added. Otherwise, we add a help message that suggests `extern crate`. Does that make sense?

[2016-08-24 01:44] briansmith commented on #27610
I'm not sure what you mean. This is the signature for `call_once`:

[code]

[2016-08-24 01:52] jseyfried commented on #34191
@euclio Yeah, that makes sense -- I think that's a good idea.

I would check whether prefixing `self` fixes the import in `finalize_import` (`resolve_imports.rs`).
If `resolve_module_path` fails, try `resolve_module_path_from_root` with a root of `self.current_module` (what `self` resolves to).
If that succeeds, prefixing `self` would fix it and you can return ``Failed(Some(span, "Try prepending `

[2016-08-24 02:43] #35511 closed

[2016-08-24 02:43] #35840 closed

[2016-08-24 03:24] gavinb commented on #35233
@jonathandturner I'll take E0458 and E0459!

[2016-08-24 04:45] eddyb commented on #35805
Looking at [this graph](http://perf.rust-lang.org/graphs.html?start=Tue%20Aug%2002%202016%2003%3A05%3A57%20GMT%2B0000%20(UTC)&end=Thu%20Aug%2018%202016%2015%3A54%3A10%20GMT%2B0000%20(UTC)&kind=benchmarks&crates=issue-32278-big-array-of-strings&phases=total&group_by=crate):
* old trans -> MIR trans regression is a false positive
* anomalies on 8/12, 8/14, 8/17 and 8/18 are false positives
 * no com

[2016-08-24 04:45] #35805 closed

[2016-08-24 04:47] RobertWHurst commented on #19535
Very cool. Can't wait 😃

[2016-08-24 04:48] comex commented on #15701
@nrc Keep in mind that you can't work around by extracting a variable if the goal is to conditionally remove an element from some sort of list, including arrays as in the 'backends' case, and potentially function arguments and fields in struct definitions/literals.  Though for the latter, it's probably better to just use a typedef which evaluates to `()` in the omitted case.

Incidentally, a data

[2016-08-24 05:20] eddyb opened #35956 "Remove --{enable,disable}-orbit from ./configure."
All the actual machinery was removed in #35764 but [the `orbit` option](https://github.com/rust-lang/rust/blob/a66fa96d1871ee71cc382a276a3e52f6f6e56e01/configure#L612) was left in for the `no-mir` builders.
Once buildbot restarts and no `no-mir` builders are gone (from the [builder list](https://buildbot.rust-lang.org/builders)), this can be removed.

[2016-08-24 06:05] #35952 closed

[2016-08-24 06:50] alexcrichton commented on #35900
cc https://github.com/rust-lang/rust/pull/35957, an implementation

[2016-08-24 09:02] #35724 closed

[2016-08-24 09:46] vks commented on #10184
@gmorenz Did you try `!0u8`?

[2016-08-24 10:01] getreu opened #35958 "Unjustified warning message "unused variable" with `String::with_capacity()`"
Example from doc: https://doc.rust-lang.org/std/string/struct.String.html#method.with_capacity:
(Concerns: Rust 1.11.0)

[code]

Emits the following unjustified warning:

[code]

[2016-08-24 10:20] KalitaAlexey commented on #35958
`i` is not used in **for loop**. Code must be written like

[code]

[2016-08-24 12:19] GuillaumeGomez commented on #35921
I'm on it.

[2016-08-24 12:25] getreu commented on #35958
I get the same message here:
(and it should not)

[code]

[2016-08-24 13:00] getreu commented on #35958
I have isolated it:

[code]

[code]

[2016-08-24 13:07] Mark-Simulacrum commented on #35958
The example you've shown continues to be supportive of that theory. Assigning a new String to the existing String declared with a capacity of 20 does not reuse that capacity in any form. You never use the initial String, in fact, overwriting it in the `to = from.chars()....` line.

[2016-08-24 13:13] getreu commented on #35958
I see. The `fold()` is probably a clumsy way to compose the `to` string.
I will close this and post a question in our forum. Thank you!

[2016-08-24 13:13] #35958 closed

[2016-08-24 13:33] zlx commented on #9456
@cloudhan

[code]

[2016-08-24 13:44] gmorenz commented on #10184
In context that wouldn't make sense, I was getting the f64 from a transformation on data sent over the network, with a range of [-255, 255]. I was hoping it would wrap nicely (in the exact way that `<i32> as u8` wraps).

[2016-08-24 14:12] regexident commented on #27271
Working fine on OS X with rustc 1.13.0-nightly. Should this be closed?

[2016-08-24 15:12] jonathandturner commented on #35498
Closing the issue as I think this is done now.

[2016-08-24 15:12] #35498 closed

[2016-08-24 15:17] jonathandturner commented on #35205
@athulappadan - I haven't heard anything on this from the first person who volunteered, so feel free to take it.

[2016-08-24 15:22] jonathandturner commented on #35275
@yossi-k - I am releasing this one so someone else can take it, but feel free to come grab another one

[2016-08-24 15:23] jonathandturner commented on #35280
@birryree - are you still interested in this one?  If not, I can release it and let someone else volunteer.

[2016-08-24 15:26] jonathandturner commented on #35385
@chamoysvoice - looks like you need to update some of the unit tests so this can pass:

[code]

You can run the full compile-fail test suite to make sure the changes worked using:

[code]

[2016-08-24 15:27] jonathandturner commented on #35515
@creativcoder - I'm releasing this one so someone else can volunteer since it's gone 15 days without a fix, but there are other error codes you can sign up for if you want to fix more.

[2016-08-24 15:29] jonathandturner commented on #35309
@yossi-k - I'm releasing this so someone else can volunteer since it's gone 19 days without a fix.  There are other error codes if you're interested in fixing more.

[2016-08-24 15:33] jonathandturner commented on #35233
I've released some of the older error codes that weren't being worked on.  So there are now more free ones to sign up for.

[2016-08-24 15:42] 0xmohit commented on #35233
@jonathandturner I'll take E0260, E0277 and E0453.

[2016-08-24 16:07] jonathandturner opened #35964 "E0038 needs better underline"
Currently, we have:

[code]

A better underline would be something like:

[code]

Since we may not have span information for that span, pick something close to it, like underlining the argument or the function name.

[2016-08-24 16:19] jonathandturner opened #35965 "E0072 needs better underline"
Currently, E0072 falls back to a multi-line

[code]

Instead, can we underline a better span.  It might take some experimentation to find the one that works with the ast, but perhaps something like:

[code]

[2016-08-24 16:28] jonathandturner opened #35966 "E0094 needs better underline"
Currently, E0094 looks like:

[code]

A better span would underline the type parameters themselves.

[code]

[2016-08-24 16:45] durka commented on #35946
@nagisa can you elaborate? Do we have to wait on this kind of diagnostic until the Carrier stuff shakes out?

[2016-08-24 17:00] bluss opened #35967 "memrchr uses unaligned loads"
Due to an arithmetic error, the fallback memrchr (used for non-linux) in libstd uses unaligned loads, the intention was to produce only well aligned pointers of course.

This was suspected to cause a crash using ARMv7, found by @tomaka

Original code also had the same issue: BurntSushi/rust-memchr/pull/9

I believe that on x86 non-linux platforms, the bug was harmless and the function still produc

[2016-08-24 17:00] brson opened #35968 "Support Apple app store bitcode"
Bitcode is the future of Apple's app distribution and we don't support it now. Doing so is tricky because Apple choses whatever rev of LLVM they want and upgrade it per their whims. We can't couple our LLVM to theirs because we have our own needs and can't be forced to upgrade whenever Apple decides.

Here are some options:
- We ship an entirely separate toolchain for targetting Apple bitcode. Thi

[2016-08-24 17:02] jonathandturner opened #35970 "E0221 needs more helpful information"
Currently, E0221 can give an error like:

[code]

This isn't terribly helpful.  Ideally, we'd like to show where these associated types that cause ambiguity are coming from:

[code]

cc @nikomatsakis

[2016-08-24 17:08] GuillaumeGomez commented on #35233
I take E0038 bonus.

[2016-08-24 17:10] nagisa commented on #35946
@durka I mean that such diagnostic will make no sense once we implement and accept the carrier trait. First, because then you’ll be able to use `?` in function that returns anything implementing Carrier trait (not just `Result`), but also because it would be possible to implement carrier trait for something like `()` in case anybody wanted to do so in their standard library.

Implementing such spe

[2016-08-24 17:12] nikomatsakis commented on #35970
I'd be up to mentor this. The message is reported by some code in `src/librustc_typeck/astconv.rs`, which has the job of converting the HIR representation of a type into the compiler's internal representation. The challenge here is that the HIR types have spans (because they are basically the things that the user wrote) whereas the internal representations do not. Right now, the routine in questio

[2016-08-24 17:14] durka commented on #35946
Maybe we can just put an `#[rustc_on_unimplemented]` on `Carrier`? It would be neat if that worked, but that attribute has been sorely neglected of late. Regardless I hope that good diagnostics will be taken into account while designing the `Carrier` trait.

[2016-08-24 17:25] jonathandturner commented on #35233
For those looking for bonuses, I've added a few more bonuses at the bottom of the list.

[2016-08-24 17:46] nagisa commented on #35968
Dynamically loading LLVM is certainly not an option. The LLVM API is less stable than its bitcode and, if we build against LLVM x.y, then having LLVM x.z instead of x.y will almost certainly break rustc. Just link to the system LLVM statically (like `--llvm-root` already does).

Just link the system LLVM (statically) for apple distributions. In my experience it already works kinda well.

Okay… so,

[2016-08-24 17:48] nagisa commented on #35968
I’m also very interested in what would happen when Apple upgrades to LLVM version with incompatible bitcode format internally and people still compile stuff with old compilers.

[2016-08-24 17:51] KiChjang commented on #35965
I think the best solution here is to have two spans, one underlining the struct `ListNode` and the other underlining where rustc thinks it is a recursive type.

[2016-08-24 18:09] KiChjang commented on #35966
So we're looking at an `Item` of the `ItemFn` variant. More specifically, it's the `Generics` struct that resides in an `ItemFn`. This should be pretty straight-forward since `Generics` contains a `span` method which we can call to get us the span.

[2016-08-24 18:10] bluejekyll commented on #35968
I experimented briefly with this, i.e. output bitcode during cargo builds, then tried to create a static library with the bitcode included. When I tried to llvm-link against the bitcode library, I got an incompatible LLVM version from the bitcode.

I don't have an easy test to reproduce this, but my guess is there is just a dumb version check that denies linking between different LLVM versions? Or

[2016-08-24 18:28] KiChjang commented on #35965
So in other words, we're basically clarifying "some point" in the help error message and giving it a concrete location. I'm not sure why this isn't done before?

[2016-08-24 18:29] KiChjang commented on #35290
@jaredwy Are you still working on this?

[2016-08-24 18:40] tomaka commented on #35967
The crash is a SIGBUS (which is usually caused by unaligned loads), so this is likely the cause.

If anyone want to reproduce, the exact location is `_ZN3std6memchr7memrchr17hbaa18487c977cd24E+164`, using the rustc nightly from 2016-08-18. I don't know how to introspect the debug infos to find what exactly is the instruction at this location.

[2016-08-24 18:43] aleksanb opened #35973 "Rust internal compiler error"
I managed to crash the nightly compiler!

I tried this code:

[code]

I expected the code to (perhaps) compile successfully.
Instead, this happened:

[code]

I'm not quite sure what to do from here 💃

## Meta

rustc 1.13.0-nightly (3c5a0fa45 2016-08-22)
binary: rustc
commit-hash: 3c5a0fa45b5e2786b6e64e27f48cd129e7aefdbd
commit-date: 2016-08-22
host: x86_64-unknown-linux-gnu
release: 1.13.0-nightly

[2016-08-24 18:48] TimNN commented on #35973
Duplicate of #35869,

the actual error is

[code]

(You'll get that on stable, beta and any nightlies before `nightly-2016-08-18`.

[2016-08-24 19:23] coder543 commented on #33498
which commit fixed this issue? I would be very curious to see it.

[2016-08-24 19:46] bluss commented on #35967
If you have the time, you can try with the posted PR #35969 to verify the fix.

[2016-08-24 19:59] jonathandturner commented on #35965
@KiChjang - could just be that no one had fixed it, yet.

[2016-08-24 20:03] jaredwy commented on #35290
@kichjang I have been yup. :) wound up in hospital. So just no time to clean it up and push yet unfortunately.

Sorry!

[2016-08-24 20:03] sanxiyn commented on #35968
It would be useful to have exact error message from llvm-link.

[2016-08-24 20:13] #35973 closed

[2016-08-24 20:18] nagisa commented on #35968
@bluejekyll LLVM has a number of bitcode files in its test directory. Tests against these bitcode files are run continuously (llvm-dis-3.8 understands a 3 year old bitcode file from 3.2 just fine, for example), so it must be some apple stuff.

[2016-08-24 20:45] nikomatsakis commented on #15701
@comex

FWIW, I am occassionally annoyed at my inability to label unused things with more precision (e.g., an individual binding). I can't come up with any good examples just now though. =)

[2016-08-24 20:47] nikomatsakis commented on #15701
@nrc

To address precedence concerns, one could also imagine limiting the attribute to parenthesized expressions (I think we talked about this at one point?). e.g., `#[foo] (a+b)`. Or even `(#![foo] a + b)`.

That is weird, but also cool. =) The feature applies at the AST level, basically, where things like `,` are not really present at all. It's worth thinking though if this will cause difficulti

[2016-08-24 20:53] nagisa commented on #35836
A nice suggestion from the comment section of the linked blog post:

Extending the Windows RWLock structure as thus:

[code]

would allow to fix the issue. Of course the TLS safeguard could be moved to any of the layers above plain wrapper; idea stays the same.

Alas, this limits the number of locks user could have at the same time to number of available TLS slots, which is 1088.

[2016-08-24 20:58] ricky26 commented on #35968
This is somewhat easier said than done - as far as I'm aware, the only blessed apple-llvm version for App Store uploads is the one shipped with the current Xcode. This also potentially means maintaining the LLVM bindings for two LLVM versions (not necessarily to neighbouring minor versions, either). I don't think it's valid to just use an old version of apple-llvm.

I think they avoid this by only

[2016-08-24 21:05] pmarcelll opened #35974 "The span of `function is never used` seem wrong"
Sample code:

[code]

Output:

[code]

If the function is only one row, the whole function can be highlighted, but if the funcion consists of multiple lines, only the first character (the f from fn) is highlighted.

[2016-08-24 21:07] arthurprs commented on #33519
I think we really need something like this. Like proposed here or some sort of cargo.toml setting.

It's almost always possible to make tests parallel safe but we're making all rust users suffer from that paper-cut over and over again, let's do it once (in core) and save tons of dev hours.

[2016-08-24 21:09] nikomatsakis commented on #35121
Define "specified". :) The answer is that certain operations, which are not afaik written down anywhere outside the code, require that the type is known at that point. The most common case is field access (`.f`) and method dispatch (`.f()`), but another example is deref (`*x`), and there is probably one or two more. There are mostly decent reasons for this being required -- generally speaking, the

[2016-08-24 21:11] nikomatsakis commented on #35855
The problem is fixed now, afaik, so I don't think it's related to that nondeterminism.

[2016-08-24 21:17] bluejekyll commented on #35968
@nagisa thanks for letting me know this. It gives me hope that there might still be a solution here, and that I was probably doing something wrong.

[2016-08-24 21:30] nagisa commented on #35968
@ricky26 good points.

Isn’t Xcode LLVM on apple the same thing as system LLVM? I meant the Xcode LLVM then. We would have to make sure xcode is always the most recent version when shipping rustc.

Of course the way apple does things rules out us producing a valid apple bitcode with an old version of rustc and essentially forces us throw all the benefits our stability story provides out the window

[2016-08-24 21:30] jonathandturner commented on #35290
@jaredwy - woah, that's crazy!  Hopefully things are (mostly) better now.

[2016-08-24 21:34] nagisa commented on #35974
Duplicate of https://github.com/rust-lang/rust/issues/33961

[2016-08-24 21:35] #35974 closed

[2016-08-24 21:45] untitaker commented on #25094
@mitaa It appears that your example currently fails with the same exact message as OP: https://is.gd/eA5RJ0

[2016-08-24 21:57] #35849 closed

[2016-08-24 22:02] slash3g commented on #27245
Ok, I've removed the check on the feature gate in `expand_type`, updated the tests and moved the declaration in `libsyntax/feature_gate.rs`.
Just two questions:
1) should I bump the version number in the declaration to `"1.12.0"`? (or maybe `"1.13.0"`, it's not clear to me if this commit will be backported to the current beta)
2) should I reference this issue in the commit message?
Thanks!

[2016-08-24 22:09] nikomatsakis commented on #32730
@soltanmm I have a branch that is using the plumbing now to handle all region obligations. It's not quite right for higher-ranked stuff yet -- but seems to basically work:

failures:
    [compile-fail] compile-fail/hr-subtype.rs
    [compile-fail] compile-fail/lifetime-bound-will-change-warning.rs
    [compile-fail] compile-fail/object-lifetime-default-from-rptr-box-error.rs
    [compile-fail] com

[2016-08-24 22:10] nikomatsakis commented on #32730
This is the branch https://github.com/nikomatsakis/rust/tree/region-obligations

[2016-08-24 22:31] brson commented on #35968
@nagisa The C++ API is unstable, but we use the C API and have had a lot of success supporting multiple versions of LLVM at once. I don't see the difference in terms of API support.

We could just blanket ship Apple's LLVM for all apple platforms, but this means coupling our LLVM to Apples for even desktop machine code generation, and precludes the option of supporting iOS bitcode on non-apple hos

[2016-08-24 22:52] kyrias commented on #35966
Tried that, but getting

[code]

instead, which is closer, but still not quite. Going to look more at it tomorrow though.

[2016-08-24 22:54] jonathandturner commented on #35966
@kyrias - almost there, just need to also update the span at the start of the error message as well.  When both are updated, it will will turn the new underline into the primary span (the ^^^ underline)

[2016-08-24 23:01] bluejekyll commented on #35968
From this page https://gist.github.com/yamaya/2924292:

[code]

[2016-08-24 23:06] kyrias commented on #35966
Ah, didn't think about that span!  (And I just realized it's almost 01:00.)

To get there I have to match on `rustc::hir::ForeignItem_` which can be either `ForeignItemFn` or `ForeignItemStatic` though, and if I add the original error to the second match branch I of course get a warning that E0094 has already been defined, so I'm not sure how to solve that correctly.  Can `it.node` be `ForeignItem

[2016-08-24 23:15] KiChjang commented on #35966
You don't need to overthink this:
[code]
And then use `span` as the first argument to `span_label`.

[2016-08-24 23:16] KiChjang commented on #35966
Essentially, `it.span` here is being treated as a fallback, and I think that's fine.

[2016-08-24 23:43] Aatch commented on #35941
The safe option is, of course, to execute the drop. However I think that not running makes more sense to me. For one, it would match the semantics of transmute, which is the only other way to get this kind of situation (converting from a type that impls to one that doesn't).

Another option, though it would be more breaking than either already mentioned, would be to disallow enum -> int casts wher

[2016-08-24 23:52] nikomatsakis commented on #35943
cc me

[2016-08-24 23:54] nikomatsakis commented on #35943
This is *definitely* a bug in the trait as written. OTOH, it's a hard one to fix. Just adding the `'static` bound would probably break tons of code.

I did have one thought -- though it probably won't work -- which is adding `Any` as a supertrait to `Error`. Seems worth experimenting with, though I guess there must be some people that implement `Error` for types that are not `'static`.

[2016-08-24 23:54] nikomatsakis commented on #35943
Another possibility might be deprecating the existing method and adding a new one, I guess (with a default). But it'll be a drag to deal with, particularly since there is no way to "bridge" from the old implementation.

[2016-08-24 23:56] brson commented on #35935
All that needs to happen here is update docs per @bluss.

[2016-08-24 23:57] durka commented on #35935
Yeah I wasn't saying the implementations had any problem.

[2016-08-25 00:33] nagisa commented on #35968
That is not true. We have (quite large!) a number of bindings to C++ APIs in form of rustllvm. There’s a number of cases where we compile that wrapper depending on the version of LLVM compiled against. In case version of LLVM used and compiled against does not match, you’ll get linking errors, or worse, run into issues at runtime.

If Apple does not want to take bitcode generated by anything else

[2016-08-25 01:21] alexcrichton opened #35976 "Spurious error about Sized bound when trait needs to be imported"
First reported at https://github.com/alexcrichton/futures-rs/issues/97

xx.rs:

[code]

main.rs:

[code]

This code works.

If `use futures::Future` is commented out in `main.rs`, compiler complains:

[code]

I'm not sure if is it a bug, or just a usability problem, is it in futures-rs or in rust language, but it is hard to understand error message.

rustc 1.11.0 (9b21dcd6a 2016-08-15), futures-rs

[2016-08-25 01:22] comex commented on #27610
@briansmith Hrm... my mistake, I didn't notice that signature.  That's still technically a weaker guarantee than what the documentation requires, since functions like `leak<T: 'static>(Box<T>) -> &'static T` are considered to be safe, but using dispatch_once_t would probably be safe anyway.

[2016-08-25 04:25] comex opened #35978 "cyclic type "of infinite size" may not be"
rustc's error message "cyclic type of infinite size" is produced whenever a type parameter is inferred to refer to the type it's a parameter of, but this does not need to actually result in an infinitely sized type.  I think such cyclic types should be allowed, but at minimum the error message should be improved.

For example:

[code]
produces:
[code]

[2016-08-25 04:40] #35922 closed

[2016-08-25 04:40] #35930 closed

[2016-08-25 05:05] comex commented on #35968
Some notes:

- Xcode doesn't even ship with a linkable libLLVM (static or dynamic), only a libclang.dylib which statically links to LLVM.

- Apple does ship the source to their 'clang' (including LLVM) under 'Developer Tools' on https://opensource.apple.com, but that site tends to take forever to be updated.

- The story may be better with Swift, which has its own fork of LLVM with [release tags](

[2016-08-25 06:31] abonander commented on #33985
This is still occurring on recent nightlies: https://www.reddit.com/r/rust/comments/4zgzfk/is_there_an_unwrap_in_macro_form/d6vrvuw

[2016-08-25 07:38] kyrias commented on #35966
Yeah, I'm not sure what I was thinking.  That serves me right for doing things while going to bed is 3 hours overdue.  Currently compiling, will submit a PR in a while when all tests are done.

[2016-08-25 08:50] retep998 commented on #35978
The problem with cyclic type parameters is not that the struct has an infinite size, but rather the type itself. Trying to describe the type results in an infinitely deep generic which rustc is currently incapable of dealing with. That said, I would like it if rustc could one day be able to deal with such types so they could be allowed, but it isn't a simple fix by any means.

[2016-08-25 09:44] StefanoD opened #35981 "Missed opportunities to eliminate bounds checks"
A user reported a code example that shows that in Go 1.7 there is bounds check elimination and in rust not.

https://users.rust-lang.org/t/bounds-check-elimination-in-go-1-7/7008

[2016-08-25 10:05] #35590 closed

[2016-08-25 10:49] belst opened #35982 "rustc nightly returns 1 (false) on armv7"
I tried compiling a project of mine on my raspberry pi 2 but I couldnt, because rustc always crashed.

After Investigating a bit further I found this out:
[code]
this DOES NOT compile
[code]

this however, DOES compile:
[code]
output:
[code]

## Meta

`rustc --version --verbose`:
[code]
`uname -a`:
[code]