[2019-10-20 14:28] nagisa commented on #65618
Unable to reproduce on my 1st gen Ryzen:

[code]

[2019-10-20 14:35] nagisa commented on #65618
Unable to reproduce with stable compiler on 2400G or 2700 either.

[2019-10-20 14:39] novacrazy commented on #65618
I'm on a Threadripper 1950X. Could the number of threads (32 in this case) affect it?

[2019-10-20 14:47] mati865 commented on #65618
Cannot reproduce on 2700X using nightly linux-gnu and windows-gnu with the command `RUSTFLAGS="-C target-cpu=znver1" cargo bench`.
So it's not related to OS, unlike https://github.com/rust-lang/rust/issues/63959

[2019-10-20 14:49] novacrazy commented on #65618
Ah, I should have specified I'm on the MSVC toolchain (`nightly-x86_64-pc-windows-msvc`).

I can confirm this does not appear on GNU toolchains, only MSVC.

[2019-10-20 15:20] nagisa commented on #53945
This might be related to the linker versions. I.e. something that builds fails to build on travis builds successfully on my local machine with a super recent toolchain.

[2019-10-20 15:32] Manishearth commented on #44580
You can _convert_ a comment to an issue, but not move comments. Locking is fine, and i'd just hide off topic comments.

[2019-10-20 15:45] ssomers commented on #62924
According to a raw benchmark, the specialized functions are about 3 times faster than `.iter().next()`. By the way, `.range(..).next()` is a little slower, despite not bothering with iterator length, because `iter()` has access to internals to construct its unbounded range.

Details: code in liballoc/benches/btree/map.rs:
[code]
Results using the new functions:
[code]
Results using .iter().next()

[2019-10-20 16:21] mjbshaw commented on #64490
I can't recall if this was discussed in the RFC (and failed to find any comments on it), but can `<place>` be a pointer (to allow pointer-to-field computations)? Example:

[code]

Currently `field_ptr` has to be initialized with `unsafe { &(*base_ptr).field as *const _ }`.  Using `unsafe { &raw const(*base_ptr).field }` is a bit better, but avoiding the `*base_ptr` dereference entirely would be id

[2019-10-20 16:51] eddyb commented on #65510
Looking at a `RUSTC_LOG=rustc::traits`, a `type_op_prove_predicate` query involving the `X` associated type, e.g. `WF(<T as Trait>::X)` or `<T as Trait>::X: Sized`, appears to be doing a lot of work for `_Unused`'s bounds, far more than I expected to happen.

However, this explains why an individual query can reach 300ms, it's doing a lot of work.

[2019-10-20 16:58] yodaldevoid commented on #60804
@jplatte I certainly understand getting busy with other projects. I'll see if I can't move this forward a little from the work you did.

[2019-10-20 17:00] RalfJung commented on #64490
That question is ill-typed. A pointer is a kind of value, which is a class of things separate from places.

No, because there is no deref coercion for raw ptrs. But `&raw const (*base_ptr).field` is allowed, because `(*base_ptr).field` is a place.

That has nothing to do with places though, that's just a deref coercion. When you write similar things with references, they work because the compiler

[2019-10-20 17:07] Xanewok commented on #65590
I can't reproduce as of `rustc 1.40.0-nightly (c23a7aa77 2019-10-19)` - @Walther could you please update and try again? Recently another save-analysis PR has made its way through so it's possible that it's fixed in the new release.

[2019-10-20 17:08] mjbshaw commented on #64490
You're right. Sorry for my poor choice of words.

Thanks for answering my question. I'll follow up to your other points in a new thread on internals.rust-lang.org.

[2019-10-20 17:19] eddyb commented on #65623
Sounds like inference variables are leaking out of somewhere.

[2019-10-20 17:26] eddyb commented on #64490
Small nit: a deref coercion is `&T` to `&U` via deref(s). Dot access has its own implicit deref.

[2019-10-20 17:35] varkor commented on #65623
@eddyb: I had a quick look, and didn't spot any obvious asymmetries, but there surely must be for this error to occur…

[2019-10-20 17:54] Centril commented on #65578
I'm going to cc @Nemo157 @withoutboats @RalfJung but I don't think I can do more than that. :)

[2019-10-20 17:56] eddyb commented on #65623
This doesn't seem to have an analogue anymore in `Ty`/`Region`:
https://github.com/rust-lang/rust/blob/857a55b8f0a692cb2304ab7c062d9cc74122e516/src/librustc/ty/flags.rs#L243

This mentions regions even though it shouldn't:
https://github.com/rust-lang/rust/blob/857a55b8f0a692cb2304ab7c062d9cc74122e516/src/librustc/ty/flags.rs#L251

[2019-10-20 18:15] Xanewok commented on #64821
Chances are this has been fixed with https://github.com/rust-lang/rust/pull/65511.

Could you please update to the newest nightly now and see if you can reproduce this?

[2019-10-20 18:20] mati865 commented on #63959
Finally reproduced with local build but experiment proposed by @eddyb only broke 4 unrelated tests (cross compilation, simd detection...).
Tested passing either `-Ctarget-cpu=znver1` or `-Ctarget-cpu=znver1 -Copt-level=3 -Ccodegen-units=1`.

Back to the drawing board I guess.

[2019-10-20 18:21] Xanewok commented on #65411
I'm not sure if this is the correct approach, but I just executed the `./x.py test` with the following patch applied:
[code]

and the test suite did crash/ended up all green.

It might be a good idea to always run the tests along with save-analysis passed. Should that be optionally enabled? Should we run it, e.g. in the `-tools` container?

[2019-10-20 18:28] RalfJung commented on #65578
Yeah I can see how that's confusing. OTOH, even if `Unpin` were unsafe, `PhantomPinned` would still not protect against the implicit unpinning happening in the destructor:
[code]
So, making `Unpin` unsafe would give a false sense of security.

You can only implement traits for a type inside the same crate, so you *do* have this under control and can still provide safe abstractions. What is odd is

[2019-10-20 18:32] Centril commented on #65578
(Unless the type isn't reachable outside the current module in which case the current module again becomes the boundary?)

[2019-10-20 19:12] olegnn opened #65634 "Incorrect compiler hints for traits with methods defined using raw identifiers"
Code:
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=78a4411a7fc24d3cd555b65b410ba095))

Error:
[code]
`async::struct(r#fn {})` should be `r#async::r#struct(&r#fn {})`and `await::struct(r#fn {})` should be `r#await::r#struct(&r#fn {})`. It also misses that function signatures require not `self` but `&self`, however this also happens when not using raw

[2019-10-20 19:19] olegnn opened #65635 "Incorrect compiler hint for method with (&self) and (&mut self) signature when multiple applicable items are found in scope"
Code:
[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c870592075712e461a1a83545bd86e38)

Error:
[code]
Should be `A::method(&Empty {})` and `B::method(&Empty {})`.

[2019-10-20 19:31] matthewjasper commented on #65577
Changes around migrate mode being ignored for `match` expressions with guards:

[code]

Type errors caused by failure to resolve a derive macro:

[code]

Require more investigation:

[code]

[2019-10-20 19:53] mihaigalos opened #65636 "Feature Request: Automatically add author and version to compiled binary"
Since the `author` and `version` of the rust compiled binary is specified in the `*.toml` file anyway, why not automatically add that information to the binary and make it accessible with `--version`?

[2019-10-20 19:57] nikic commented on #55286
@scottmcm I've opened https://reviews.llvm.org/D69224 to add this fold.

[2019-10-20 20:02] RalfJung commented on #65578
Well sure... but even if you newtype it the rest of the crate could still `impl Unpin for` the newtype. And if it is entirely private to the module, well, then it's not very interesting to look at as far as safe abstractions go.

[2019-10-20 20:17] jonas-schievink commented on #65636
This is already accessible through environment variables Cargo sets. Providing command line argument handling is not something Rust will do by default, and would have to go through the RFC process anyways, so closing.

[2019-10-20 20:17] #65636 closed

[2019-10-20 20:18] jonas-schievink commented on #65636
For the environment variables Cargo sets, refer to https://doc.rust-lang.org/cargo/reference/environment-variables.html#environment-variables-cargo-sets-for-crates

[2019-10-20 21:47] estebank commented on #54516
Current output:

[code]

[2019-10-20 21:47] #54516 closed

[2019-10-20 22:20] varkor opened #65642 "Improve span for "cannot provide explicit generic arguments when `impl Trait` is used in argument position""
The spans for this error should point to the generic arguments, not the entire path. See https://github.com/rust-lang/rust/pull/65614#discussion_r336758311.

[2019-10-20 22:25] varkor commented on #65623
The first has an analogue in: https://github.com/rust-lang/rust/blob/1470dc9c94f8c3405d470578b3aec125502f2377/src/librustc/ty/flags.rs#L112-L114
I'll fix the second one.

[2019-10-20 23:35] #65380 closed

[2019-10-20 23:35] #63551 closed

[2019-10-21 00:23] skinny121 commented on #65623
I think the problem is here:

https://github.com/rust-lang/rust/blob/7979016aff545f7b41cc517031026020b340989d/src/librustc/infer/canonical/canonicalizer.rs#L700-L706

We are creating a new canonical variable for the const value but are returning the type unchanged. So if the type has inference variables in it they will leak through.

[2019-10-21 00:49] trivikr opened #65645 "Rustbot self-assigns issues when using "claim" or "assign" keywords"
This appears to be incorrect behavior.
Issues assigned to rustbot https://github.com/rust-lang/rust/issues?q=is%3Aissue+rustbot+assign+assignee%3Arustbot

Example comments:
* https://github.com/rust-lang/rust/issues/65523#issuecomment-543703822
* https://github.com/rust-lang/rust/issues/65440#issuecomment-542319420
* https://github.com/rust-lang/rust/issues/65254#issuecomment-540657880

Note that

[2019-10-21 00:50] trivikr commented on #65645
@rustbot claim

[2019-10-21 00:50] trivikr commented on #65645
Example comment in this issue: https://github.com/rust-lang/rust/issues/65645#issuecomment-544311174
The issue was self-assigned by rustbot, and not to @trivikr

[2019-10-21 00:54] trivikr commented on #65645
Relevant code:
* https://github.com/rust-lang/triagebot/blob/365fdb0ac2ea440ceec7d0193c42a8feffa3868a/parser/src/command/assign.rs#L46-L50
* https://github.com/rust-lang/triagebot/blob/365fdb0ac2ea440ceec7d0193c42a8feffa3868a/parser/src/command/assign.rs#L55-L60

[2019-10-21 01:00] trivikr commented on #65645
This issue can be transferred to https://github.com/rust-lang/triagebot
Documentation: https://help.github.com/en/articles/transferring-an-issue-to-another-repository

[2019-10-21 01:14] scottmcm commented on #55286
That's awesome, @nikic; Thanks!

I particularly like the other forms of it you did; I hadn't even thought about `usub.sat`.

[2019-10-21 01:32] nnethercote commented on #60869
Here is how the various impls are used. These lists may be incomplete.

Symbol::Hash needed for:
- Ident::Hash
- Stability::Hash
- StabilityLevel::Hash
- RustcDeprecation::Hash
- BUILTIN_ATTRIBUTE_MAP
- edition_enabled_features
- probably other things too

Symbol::{PartialOrd,Ord} needed for:
- ProjectionElem::{PartialOrd,Ord}
- BoundNameCollector::regions: BTreeSet<Symbol>

InternedString::Hash n

[2019-10-21 01:35] Mark-Simulacrum commented on #65645
Intentional behavior. GH API doesn't let us assign to a non-member user. See issue description for who it is assigned to.

[2019-10-21 01:35] #65645 closed

[2019-10-21 01:45] danguafer commented on #65573
@Mark-Simulacrum yes, it looks like they were included by Rust itself.

[code]

Is there any way I can get rid of these dependencies since I am not directly using, let's say, networking at all?

[2019-10-21 01:45] #65573 closed

[2019-10-21 01:57] scottmcm commented on #44095
+1, this went through a full RFC and I don't think there's anything material that's come up since then.  For example, NaN handling came up in detail [on IRLO](https://internals.rust-lang.org/t/clamp-function-for-primitive-types/4999/16?u=scottmcm) and [in the RFC discussion](https://github.com/rust-lang/rfcs/pull/1961#issuecomment-289893089).

[2019-10-21 01:59] wdanilo commented on #44265
@varkor awesome, thanks!

Yet another note (again, possibly known). Having GATs in place, we would be able to nicely abstract over `&` and `&mut` types, so we could stop constantly copy-pasting code between functions `my_func` and `my_func_mut` :) Here is a possible implementation of such abstraction:

[code]

It **almost** compiles. We can also implement it without GATs but types explode:

[code]

[2019-10-21 02:18] Mark-Simulacrum commented on #65573
`#![no_std]` might work. I would also think about whether that's actually a problem -- I suspect all(?) Windows libraries ship with those dependencies?

[2019-10-21 03:32] #63900 closed

[2019-10-21 03:32] #65492 closed

[2019-10-21 03:32] #65071 closed

[2019-10-21 04:08] wdanilo commented on #41517
Hi! TBH I don't know if this topic was covered or not, but let me express here one serious concern. The current state of the world in Rust regarding code duplication is bad. As someone coming from the Haskell world, I'm often terrified how much code I need to copy-paste here and there and there is no way to generalize it (unless I put every file in one big macro, which honestly, is not a solution)

[2019-10-21 05:39] krumberg opened #65649 "Segfault while compiling unicode-xid on Raspberry Pi 3"
Summary
When I try to install cargo-run-script using the stable (or unstable) toolchain I get a segfault.

The issue occurs on arm v7l (Raspberry Pi 3, Raspbian Stretch), but not on x86_64.

rustc —version
rustc 1.38.0 (625451e37 2019-09-23)
binary: rustc
commit-hash: 625451e376bb2e5283fc4741caa0a3e8a2ca4d54
commit-date: 2019-09-23
host: armv7-unknown-linux-gnueabihf
release: 1.38.0
LLVM version:

[2019-10-21 07:17] eddyb commented on #60869
* `Symbol`'s `Hash` should probably be kept as-is, for O(1) hashing
* `InternedString`'s `Hash` can probably be replaced by `Symbol`'s `StableHash`

Why does `ProjectionElem` need `Ord`? Sounds like uses of `Symbol`'s `Ord` actually should be using `InternedString`'s semantics, especially if user-facing.

`OrdStable` on `Symbol` and derived on containing types sounds good, if we can't get away wit

[2019-10-21 07:19] eddyb commented on #65623
@varkor So `Var(Canonical)` was replaced by `Bound`? The same should be done for consts.

[2019-10-21 07:27] #63183 closed

[2019-10-21 07:30] nnethercote commented on #60869
I have a patch stack that eliminates `InternedString` entirely by converting to `Symbol` and using `LocalInternedString` in the handful of places where we need stability. I will file a PR once I do some more clean-ups and perf measurements.

[2019-10-21 07:41] mati865 commented on #65649
Probably the same as https://github.com/rust-lang/rust/issues/62896
It's fixed in nightly builds.

[2019-10-21 07:51] SimonSapin commented on #44095
Alright, that sounds fair enough.

@rfcbot fcp merge

[2019-10-21 08:32] SimonSapin commented on #63568
@danielhenrymantilla Please do! And submit a PR to get feedback on the wording.

[2019-10-21 08:41] haraldh commented on #58520
So, it seems, that even Path::ancestors() includes itself. So, to avoid confusion and simplify it more, I reduced PR  #65557 to only have `chained` and `Chain`.

Rationale:

   1. Such iterators are helpful. They should better be stabilized sooner than later.
   1. self should be included. It is easy to .skip(1) it.  Not including self is harmful because it is harder to add self to the iterator th

[2019-10-21 08:43] michaelwoerister commented on #58967
Thanks, @wesleywiser!

I'd like to have some documentation on how event recording is implemented somewhere. The best place for that are the [crate docs](https://docs.rs/measureme/0.3.0/measureme/) probably.

[2019-10-21 08:50] michaelwoerister commented on #49300
🎉 🎉 🎉 🎉 🎉

[2019-10-21 09:25] pimeys commented on #64960
Spent some hours trying to find out why my code is not compiling and in the end it was due to the same issue described here. What makes it even worse is the huge amount of type information spamming the whole terminal in my case.

[2019-10-21 09:33] varkor opened #65655 "Replace `ConstValue::Infer(InferConst::Canonical(..))` with `ConstValue::Bound`"
Mirroring the change to bound types in https://github.com/rust-lang/rust/pull/55330.

cc @eddyb

[2019-10-21 09:33] varkor commented on #65623
Opened https://github.com/rust-lang/rust/issues/65655 for that.

[2019-10-21 09:52] novacrazy opened #65658 "Spurious NaNs produced by trig functions with valid inputs on Windows GNU toolchains"
I'm unsure what the root cause of this is, and have been unable to reproduce it in a minimal project for many months, but every so often trig functions such as `sin/cos/sin_cos` will produce `NaN` values on perfectly valid inputs, only when using the Windows GNU toolchains.

In a project I have these lines:

[code]
which panics with this message:
[code]
on `nightly-x86_64-pc-windows-gnu (1.40.0-ni

[2019-10-21 09:52] novacrazy commented on #63959
Also had this happen spuriously on the Windows GNU toolchain (latest nightly), but running `cargo build` again continued where it left off and finished just fine.

[2019-10-21 10:21] vext01 opened #65659 "Error for chained less-than/greater-than comparisons misleading."
Hi,

As I understand, chaining inequality operators like `<`, `>`, `<=` and `>=` is not allowed. Yet trying to do so will ask you to add parenthesies:

[code]

Gives:
[code]

The first error is false advice in the context of `<=`. It would have been ok for `==` though.

Thanks :)

[2019-10-21 11:00] olegnn commented on #65635
UPD: the same problem occurs with (&mut self).

[2019-10-21 11:34] jethrogb opened #65662 "Compiler doesn't work when using Docker"
When I run this sequence of commands:
[code]
I get this error:
[code]

This happens due to the [`statx` syscall](https://github.com/rust-lang/rust/pull/65094) failing with EPERM. I believe Docker uses seccomp to limit which system calls may be made, and the `statx` call is too new, so it's [not whitelisted](https://github.com/moby/moby/pull/36417). Because the syscall fails with EPERM instead of E

[2019-10-21 11:34] #65529 closed

[2019-10-21 11:40] mati865 commented on #65658
Related https://github.com/rust-lang/rust/issues/53254

[2019-10-21 11:40] mati865 commented on #53254
@rustbot modify labels: +C-bug +O-windows-gnu

[2019-10-21 12:00] Mark-Simulacrum commented on #65662
Nominating for libs team as this is a recent regression caused by https://github.com/rust-lang/rust/pull/65094 -- cc @alexcrichton

Personally this leads me to believe we should either be happier to fallback to the previous code (e.g., for any error) or revert the PR entirely since breaking usage of Rust code in Docker is not really feasible (even if this is arguably a Docker bug).

[2019-10-21 12:03] jethrogb commented on #65662
Alternatively, we can try statx on something that should always succeed (maybe `/`?)

[2019-10-21 12:11] michaelwoerister commented on #65610
Yeah, I can imagine that that doesn't work. Maybe https://github.com/rust-lang/rust/pull/59752 is related?

[2019-10-21 12:13] mati865 commented on #65662
Cannot it just match ENOSYS or EPERM just like getrandom syscall does?
https://github.com/rust-lang/rust/blob/ad7c55e1fc55d9af4787b285cec1c64e3480ae84/src/libstd/sys/unix/rand.rs#L51

[2019-10-21 12:15] steveklabnik commented on #47266
Triage: not aware of any changes here

[2019-10-21 12:23] steveklabnik commented on #48900
This example doesn't warn, but the one from https://github.com/rust-lang/rust/issues/48920 does; and does so regardless of debuginfo level. Given @varkor's comment above, I believe that to be true as well, and so I'm closing. Let me know if you've found this behavior elsewhere!

[2019-10-21 12:23] #48900 closed

[2019-10-21 12:24] steveklabnik commented on #48920
This code still errors, but this case doesn't:

[code]

is this expected?

[2019-10-21 12:28] jethrogb commented on #65662
Unlike for `getrandom`, getting EPERM is not sufficient evidence that `statx` *doesn't* work.

[2019-10-21 12:40] nikomatsakis commented on #63576
@rfcbot fcp merge

[Quoting @Mark-Simulacrum](https://github.com/rust-lang/rust/issues/63576#issuecomment-543949724):

[2019-10-21 12:45] rkruppe commented on #47266
It seems we now have a [warning for `-Cremarks` without debug info](https://github.com/rust-lang/rust/blob/89e645ace853d86e8c0002247482eac9073c90fd/src/librustc/session/config.rs).

As for name mangling, improving that would be welcome. Some notes: the function names are handed to rustc from LLVM, but we can post-process them (e.g., in [`OptimizationDiagnostic::unpack`](https://github.com/rust-lan

[2019-10-21 12:56] jonas-schievink commented on #47266
We already depend on [`rustc-demangle`](https://docs.rs/rustc-demangle/0.1.16/rustc_demangle/), so might as well use that (it's a dependency of `rustc_codegen_utils`, among other things).

[2019-10-21 13:00] steveklabnik commented on #40881
Triage; there's been no discussion in a bit over two years. The last comment seems to indicate that this isn't a bug, and provides a workaround. So I'm gonna give this a close. @mitsuhiko let me know if you think this should stay open

[2019-10-21 13:00] #40881 closed

[2019-10-21 13:01] steveklabnik commented on #48956
I guess @rust-lang/lang would have to answer this, but I think the answer is "yes". We've had some things around this area like https://internals.rust-lang.org/t/pre-rfc-add-a-new-offset-of-macro-to-core-mem/9273

[2019-10-21 13:08] Centril commented on #48956
(It's currently not possible to implement `offset_of!` in a sound manner with Rust. The `memoffset` crate, while being unsound, has been improved to make the UB less exploitable.)

cc https://github.com/rust-lang/rust/issues/64490
cc @RalfJung

[2019-10-21 13:42] roblabla commented on #65489
Spent a couple minutes writing a more self-contained reproducer: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=70745ec56da08ff7a8aeee8fbead6488

[2019-10-21 13:48] oli-obk commented on #63576
Are we forward compatible with adding recursive use? It seems to me like adding that later would be a breaking change. Could we error right now on recursive uses?

[2019-10-21 13:50] oli-obk commented on #48920
yes. Constant propagation does not cross variables (for now). To do this correctly we'll need to detect loops and conditions. Without such a detection mechanism our current implemementation will do a few bogus things.

[2019-10-21 14:23] Mark-Simulacrum commented on #63576
It would be no more a breaking change than this -- i.e., we would mostly error today on such a case since `@file` likely doesn't exist. This patch already "breaks" code that uses `@file`, but the fix is trivial, use `./@file`, so this is deemed acceptable (starting filenames with `@` is expected to be super rare).

However, we can likely add a check fairly easily that the recursive usage would def

[2019-10-21 14:40] eddyb commented on #65510
To explain more one of the places I believe the quadratic behavior is coming from:
1. `WF(<T as Trait>::X)` requires all `predicates_of(Trait).instantiate([T])`
   * this is what I've experimented with removing, assuming it'd be sound to do so
2. each resulting `<T as Trait>::Foo: Bar` predicate has to be proven and doesn't get cached
   * maybe we can add a cache here?
3. proving each `<T as Trai

[2019-10-21 15:01] derekdreery commented on #58520
I like the name `chained` because it indicates that it includes the current error, but connects all the others.

[2019-10-21 15:57] alexcrichton commented on #48043
I'm personally pretty wary and against stabilizing something just because progress isn't happening on it. Stabilization takes real work and has a cost. Simply because an API exists doesn't mean we should stabilize it, even if it's been sitting for <insert the amount you calculate at the time here> months. I think it's pretty bad design to get things into the standard library, then point out it's s

[2019-10-21 16:04] SimonSapin commented on #48043
My understanding was that “Should `try_reserve`’s error type carry an error value that generic allocators may return” was the only remaining question that needed resolving. I wrote https://github.com/rust-lang/rust/issues/48043#issuecomment-543952770 on that basis.

But it sounds like you have concerns that are larger than that?

[2019-10-21 16:15] oli-obk commented on #63576
I think it would be good to be conservative if the check is simple to create

[2019-10-21 16:23] alexcrichton commented on #65662
Thanks for investigating this down to `statx` being the culprit, definitely makes sense!

I was searching around for other instances of this, and definitely turns out we're not the only ones running into this

* https://github.com/docker/for-linux/issues/208 - another docker user reporting the same issue. It's pointed out that Docker 18.04 apparently allows `statx` by default
* https://bugreports.

[2019-10-21 16:28] jsgf commented on #63576
I originally handled recursion and it was rejected as being two complicated. The questions it raises are:
1. How do you quote a filename starting with `@` if you don't want to include it as args? Answer: use `./@foo`, like on the real command line
2. What's a reasonable upper recursion bound? I originally chose 8.
3. How does pathname resolution work? Is it relative to the cwd or to the file in wh

[2019-10-21 16:29] alexcrichton commented on #55300
The naming here threw me for a spin and once I got around to reading the documentation this does seems something standard-library-ish but I agree it's pretty niche. On naming `at_index` I think can be replaced with just `at` (e.g. `split_at`, not `split_at_index`). I find the name "partitioning" confusing when it's actually doing a sort and returning the `index`'th element. The documentation also

[2019-10-21 16:32] dbrgn opened #65667 "Async/Await: Confusing error message when using non-Send type in async fn"
With this `Cargo.toml`:

[code]

...and this `main.rs`:

[code]

...I get this error message:

[code]

If I comment out the unused `rc` assignment, then everything works fine.

If comment out the `delay(..).await` statement, it works too!

If I put the `rc` assignment in a block, it compiles as well (because the `rc` is dropped by the time `await` is called).

From what I know about the implementa

[2019-10-21 16:40] benesch commented on #37868
Just stumbled across this myself. Or rather ran rather headfirst into it. The latest macOS makes this situation even worse, in that an invocation like

[code]

will both a) successfully spawn the process `some_dir/script` (assuming said file exists) and b) panic with an ENOENT error. This actually might be a Rust bug; it's not clear to me whether the ENOENT is something macOS's `posix_spawn` funct

[2019-10-21 16:46] oli-obk commented on #63576
Ok, seems reasonable to me to never include recursion, thanks for the detailed explanation

[2019-10-21 17:50] bstrie commented on #28728
By the way, the LLVM bug tracking this is https://bugs.llvm.org/show_bug.cgi?id=965 , which I haven't seen posted yet in this thread.

[2019-10-21 17:50] zackmdavis commented on #65615
Thanks for the report. This is a duplicate of #55768.

[2019-10-21 17:57] lzutao commented on #65615
So is it.

[2019-10-21 17:57] #65615 closed

[2019-10-21 18:24] shepmaster commented on #28728
https://github.com/rust-lang/rust/issues/28728#issuecomment-331460667

[2019-10-21 18:37] DustinByfuglien commented on #52924
The result size of generator _gen = 4100.
Can it be optimized to much small size? I feel yes.

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=14bb598f4c34d636ad8d79a206820694))

Errors:

[code]

[2019-10-21 18:49] Walther commented on #65590
Yep,

[2019-10-21 19:00] DustinByfuglien commented on #52924
But adding one more "yield" to each scope give 4100 again.

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=729fb3fd0c264c57650bb3b35c412786))

[2019-10-21 19:09] DustinByfuglien commented on #52924
@tmandry  May be you can take some time to look at this. May be this examples can be useful to improve optimizing algorythm.

[2019-10-21 19:10] olegnn opened #65669 "Proposal: add `reject` function to std::iter::Iterator"
This method will act as `filter` with complement of provided predicate.

If function defined as `is_something(&value) -> bool {...}` (which is a common way) and we'd like to pick values which are opposite, we need to create unnecessary closure `.filter(|value| !is_something(value))` but instead we could simply write `.reject(is_something)`.

It's also very useful when condition is a complex bool e

[2019-10-21 19:29] nnethercote commented on #60869
After #65657, I have pretty much everything I want:
- `InternedString` is gone.
- `LocalInternedString` is very limited.
- `Symbols`'s `Hash`, `PartialOrd` and `Ord` impls all use the index.

[2019-10-21 19:46] #61338 closed

[2019-10-21 19:46] #61516 closed

[2019-10-21 19:46] #62536 closed

[2019-10-21 19:46] #64087 closed

[2019-10-21 19:46] #64863 closed

[2019-10-21 19:46] #65623 closed

[2019-10-21 19:56] chloekek commented on #55002
If this routine is moved to std::hint then the documentation of std::hint should be updated as well. It currently reads:

Pause instruction is a hint to the CPU, not to the compiler.

[2019-10-21 20:10] Centril commented on #32836
Assigning myself to switch the tracking issue to the new one.

[2019-10-21 20:11] dtolnay commented on #59269
Closing as a duplicate of #21934.

[2019-10-21 20:11] #59269 closed

[2019-10-21 20:14] naim94a commented on #65590
I got a similar error (and rustc crash) when using rls.
Rust: `rustc 1.40.0-nightly (7979016af 2019-10-20)`
RLS: `rls 1.39.0 (a18df16 2019-10-11)`

### Error from rls: `rls --cli`
[code]

### Cargo.toml
[code]

[2019-10-21 20:44] wdanilo opened #65673 "ICE on trait aliases without a flag"
The following code panics the compiler:

[code]

[2019-10-21 20:53] memoryruins commented on #65673
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=04886a41bdc54ca3db727e12fc36543a)

backtrace:
<details>

[code]

</details>

`rustc 1.40.0-nightly (7979016af 2019-10-20)`

[2019-10-21 21:15] koute commented on #65462
Minimal example:

[code]

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=55808196f5ab4fac0e0d82467696a39a).

It works on stable and on beta; it ICEs on nightly.

[2019-10-21 21:22] Centril commented on #65462
Curiously this does not reproduce with `!` instead of `Empty`.

cc @nagisa @eddyb @rkruppe

[2019-10-21 21:28] Aaron1011 opened #65674 "Make TypeFoldable derivable"
Currently, the (internal) `TypeFoldable` trait must be implemented via the fairly verbose `EnumTypeFoldableImpl!` and `BraceStructTypeFoldableImpl!` macros. Adding a `derive(TypeFoldable)` proc-macro to `librustc_macros` would allow us to delete a large amount of code, and would drastically simplify adding new `TypeFoldable` implementations.

[2019-10-21 21:32] cramertj commented on #52924
Yes, that's because we only consider temporaries to be eligible for overlap if they're only live for exactly one yield point.

[2019-10-21 21:38] krumberg commented on #65649
I wiped my rust installation and tried to install nightly, but it fails

pi@raspberrypi:~ $ rustup toolchain install nightly
info: syncing channel updates for 'nightly-armv7-unknown-linux-gnueabihf'
info: latest update on 2019-10-21, rust version 1.40.0-nightly (7979016af 2019-10-20)
info: skipping nightly which is missing installed component 'clippy-preview'
info: syncing channel updates for 'nig

[2019-10-21 22:03] callym commented on #65436
I'm also running into this error using Tide and a DB Pool from Diesel

I've managed to get a slightly simpler/different version of the above code - I'd expect this to work because I'd expect the `Foo.v()` to be finished before the `.async` starts (I guess it's similar to how pre-NLL we'd expect function calls in arguments to work but sometimes they wouldn't because existing borrows?)

[code]

I've

[2019-10-21 22:17] LukasKalbertodt opened #65675 "ICE with const generics and chalk: "var types encountered in super_relate_consts""
Compiling the following code with `rustc 1.40.0-nightly (7979016af 2019-10-20)` **with `-Z chalk`** leads to an ICE. Without chalk, it works fine.

Possible related (because of similar error message) to #62579?

[code]

Output:

[code]

[2019-10-21 22:17] JohnTitor commented on #61137
@GuillaumeGomez Could you make E0697 checked?

[2019-10-21 22:28] eggyal commented on #34701
Great write-up @bossmc!  I'll take a stab at adding LLVM coverage map generation, unless it's already being worked on elsewhere?

Whilst I'm happy to try and figure out a solution on my own, a little direction from the compiler team would no doubt ensure that I arrive at something that's acceptable far sooner!  Would anyone be willing to mentor this?

Cc @michaelwoerister

[2019-10-21 22:53] the8472 commented on #65669
That seems like a spotfix for just one function that takes predicates, a more general solution would be adding a trait for predicate functions that provides `.negate()` on function pointers.

Prior art: the java standard library [function interface for predicates](https://docs.oracle.com/javase/8/docs/api/java/util/function/Predicate.html)

[2019-10-21 22:54] mati865 commented on #53254
Reduced as much as I could:
[code]
Running:
[code]
Godbolt:
https://godbolt.org/z/zKE4i-

[2019-10-21 23:25] estebank commented on #65673
Likely diagnostic related :-/

[2019-10-21 23:29] sfackler commented on #65436
This was an intentional change to match the drop order in synchronous code: https://github.com/rust-lang/rust/issues/64512

[2019-10-21 23:33] ecstatic-morse commented on #65437
@RReverser I opened a PR that contains a test for the proper column numbers (as well as the simple off-by-one fix in `source_loc.rs`). Perhaps it will be useful if you wish to proceed further.

[2019-10-21 23:37] Aaron1011 opened #65677 "Doucment auto traits for `async fn`"
Currently, Rustdoc documents auto-trait impls for types, displaying them along with manually written impls. However, there is currently no way of telling what auto traits are implemented by the `impl Future` type returned by an `async fn`.

I'm not quite sure what the best way of displaying this is. We need to make it clear to users that the auto trait impls apply to opaque return type - not to th

[2019-10-21 23:51] oxalica commented on #65662
@alexcrichton
Do you mean to check current working directory instead of the actual argument before the first call, and regard EPERM and ENOSYS as `statx` not implemented?
I'm glad to fix it.

[2019-10-21 23:57] hugecheese opened #65679 "ICE when aliasing impl Future"
Version: `rustc 1.40.0-nightly (0e8a4b441 2019-10-16)`

[code]

The second function call is necessary. It will compile and run just fine with only one call.

Output:
[code]

[2019-10-22 00:00] jhpratt commented on #11562
@aturon @brson Any chance there's a "shell" logo svg, which is just the gear and no "R"? All that's linked above is one with the ® and the teeth separate.

[2019-10-22 00:20] mati865 commented on #65649
@krumberg it's https://github.com/rust-lang/rustup.rs/pull/2074
You can try adding `--force` to your command until Rustup fix is released.

[2019-10-22 00:27] mincheolsung opened #65680 "Is there "__attribute__(address_space(256))" in Rust compiler?"
Hi, I want to use "Memory references off the GS segment" in Rust.
Below is an example of it in clang.

`#define GS_RELATIVE __attribute__((address_space(256)))`
`int foo(int GS_RELATIVE *P) {`
 `return *P;`
`}`
Which compiles to (on X86-32):
`_foo:`
`movl 4(%esp), %eax`
`movl %gs:(%eax), %eax`
`ret`

Check https://buildmedia.readthedocs.org/media/pdf/clang/release_37/clang.pdf on the page 128

[2019-10-22 00:31] wdanilo commented on #41517
Guys, there is yet another problem with the syntax of trait aliases, and I would consider it pretty serious. Basically, as I mentioned earlier, **trait aliases and GATs solve 2 of the biggest (in my opinion) current problems of Rust – lack of possibility of code generalization**. GATs allow us to generalize `&` and `&mut` in a nice way (more about it here: https://github.com/rust-lang/rust/issues/

[2019-10-22 00:37] alexcrichton commented on #65662
@oxalica yeah that's what I'm thinking, the idea being that if we don't know whether `statx` works we invoke it with a path which we know should work almost all the time (like the cwd) and if it returns EPERM in that situation we can be pretty certain we're seccomp blocked.

[2019-10-22 02:53] timotree3 opened #65682 "Cannot index and immediately call FnMut"
Running this code on the latest stable (1.38.0) as well as nightly (2019-10-20)
[code]
gives the error
[code]
which is clearly wrong.

Notably, the same error does not occur if we switch everything to `Fn`:
[code]

[2019-10-22 03:57] sinkuu commented on #65679
This may be irrelevant to async-await, as we can replace `Future` with any trait and still reproduces:

[code]

[2019-10-22 04:09] #41073 closed

[2019-10-22 04:09] #65655 closed

[2019-10-22 04:10] rust-highfive opened #65683 "`clippy-driver` no longer builds after rust-lang/rust#65671"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#65671, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and nominating f

[2019-10-22 04:10] rust-highfive opened #65684 "`miri` no longer builds after rust-lang/rust#65671"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#65671, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and nominating for compiler team

[2019-10-22 04:26] eddyb commented on #65675
The problem is an inconsistency in the callers of this method.
The `bug!` also exists for type inference variables.
I assume chalk integration is missing something it does for types, for consts.

[2019-10-22 06:26] hellow554 commented on #65673
Slightly reduced:

[code]

`impl<T> WithType for T` can also be `impl<T> WithType for ()`, but I though this will remove one more warning, so it's worth using `T` here ^^

[2019-10-22 07:01] hellow554 commented on #57254
@sriharikapu is this issue still relevant or did you resolve your problem?

[2019-10-22 07:09] hellow554 opened #65687 "implement fence for wasm32"
https://github.com/rust-lang/rust/blob/6576f4be5af31a5e61dfc0cf50b7130e6c6dfb35/src/libcore/sync/atomic.rs#L2422-L2440

The comment says that the issue should be watched, but it has been closed for 2 months now with an implementation for wasm32 at https://github.com/llvm/llvm-project/commit/d85fd5a3f42777bb53835a380b27a796262d434b

The branch rust uses doesn't include that commit yet (https://gith

[2019-10-22 07:34] michaelwoerister commented on #34701
I don't have time to mentor this but feel free to ask specific questions!

[2019-10-22 07:46] skinny121 commented on #65675
The caller(`rustc::infer::nll_relate::TypeRelating`) methods for consts and types look totally different from each other. The ICE happens when it is trying to relate an inference variable to a generic parameter, the method for types does handle this situation but the consts method doesn't.

[2019-10-22 08:22] schulzch commented on #37101
I think the right place to play around with these kind of flags would be [linker.rs:debuginfo()](https://github.com/rust-lang/rust/blob/b7820b28937ba875521a2525cf75223c80faf9f2/src/librustc_codegen_ssa/back/linker.rs#L634) or [windows_msvc_base.rs](https://github.com/rust-lang/rust/blob/50ffa79589600f515ff2710830c23cd2dce7cb76/src/librustc_target/spec/windows_msvc_base.rs#L8).

[2019-10-22 08:37] eggyal commented on #34701
Thanks @michaelwoerister.  I've just noticed that, since @bossmc's write-up, [PGO support](https://github.com/rust-lang/rust/issues/59913) has been [stabilised](https://github.com/rust-lang/rust/pull/61268) including generation of LLVM code coverage instrumentation with `-C profile-generate`.  Does that not close this issue entirely?

[2019-10-22 08:40] retep998 commented on #65573
If your code does not use any std functionality that relies on symbols from those libraries, then you will not have a dependency on those libraries. If you *do* then you have to either change your code to not use that subset of std functionality, or not use std at all.

[2019-10-22 08:57] faern commented on #58520
I fixed this for `IntoStringError` in #65366. Now the only libstd error not properly implementing `Error::source` is the `TryLockError`. I might look into trying to fix that at some point. But it does not feel critical.

I personally don't see why the source iterators should be blocked on helping the ecosystem start using `source` instead of `cause`. The decision to move over to `source` as the pr

[2019-10-22 09:13] withoutboats commented on #53487
@SimonSapin Mainly just that these APIs were only merged about a month ago. I'd like to get more feedback about them from more users, for example the authors of different error handling crates.

[2019-10-22 09:17] eggyal commented on #34701
@bossmc Are you *sure* that `-Zpgo-gen` (now [stabilised](https://github.com/rust-lang/rust/pull/61268) as `-C profile-generate`) adds LLVM's `-pgo-instr-gen` and `-instrprof` passes?  My understanding is that it "merely" instruments via gcov, which is the very issue under discussion here?  Have I missed something?

[2019-10-22 09:31] withoutboats commented on #65578
This is just how all of the features involved here (auto traits mainly) work: the same would be true of using `PhantomData<*mut ()>` to make something un-`Send`.

I think the fact that is really surprising to this user is that `Unpin` is safe to implement, but as Ralf has pointed out that is the (unfortunate) consequence of the signature of `Drop`, which is why pin projecting is always unsafe.

[2019-10-22 09:33] michaelwoerister commented on #34701
`-C profile-generate` is exactly the same as Clang's [-fprofile-generate](https://clang.llvm.org/docs/UsersManual.html#cmdoption-fprofile-generate).

[2019-10-22 09:41] SimonSapin commented on #53487
Fair enough

[2019-10-22 09:50] jonas-schievink commented on #65680
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

I'm pretty sure that address space indices are LLVM-specific, so using them as-is would make programs incompatible with

[2019-10-22 09:50] #65680 closed

[2019-10-22 09:58] phaazon commented on #41517
Your use-case still implies `ItemDirtyCtx` to be implemented for `()`. How should `where Trait` be re-interpreted? As `where (): Trait`? I think it’s a pretty non-common situation, or maybe there’s something I just didn’t get about your snippet.

[2019-10-22 10:12] eggyal commented on #34701
Thanks @michaelwoerister, that's what I thought—the difference being, AIUI, that `-fprofile-generate` instruments the IR whereas `-fprofile-instr-generate` (which this issue seeks) effectively instruments the AST (via source mapping).

[2019-10-22 10:17] glandium opened #65692 "STATUS_HEAP_CORRUPTION crashes are hidden by the test harness"
Consider the following code:
[code]

Yes, it breaks the invariants for dealloc, and yes, it crashes on Windows, with:
[code]

The problem is that when that happens in a test, the test just fails in a completely non-useful manner. (just switch to a lib crate, rename the function and add `#[test]`).

The test fails with:
[code]
And nothing else.
When the crate happens to have other tests, some other

[2019-10-22 10:21] wesleywiser opened #65693 "Consider merging `values` and `targets` fields on MIR `switchInt`?"
Writing some kinds of MIR passes that care about `values` and `targets` on `switchInt` can be a bit messy (for example, passes that remove dead branches). @oli-obk has the idea:

[2019-10-22 10:28] michaelwoerister commented on #34701
Maybe debuginfo can help there?

[2019-10-22 10:40] olegnn commented on #65669
In my opinion, `.negate()` function will only make code less readable because to apply it in place we should write
[code]
If apply to defined function, it still will lose to `|v| !f(v)`
[code]
I didn't write any code on Java for many many years and don't know anything about its current status but as far as I know all modern JVM-compatible languages have the same `reject` function:

[Kotlin filterN

[2019-10-22 10:51] eggyal commented on #34701
Unfortunately, for the reasons @kennytm gave in [the comment](https://github.com/rust-lang/rust/pull/44673#issuecomment-330435323) to which @mssun linked above, debuginfo is not sufficient.

[2019-10-22 10:54] bossmc commented on #34701
@eggyal yes, `profile-generate` enables two passes:

* `pgo-instr-gen` which heuristically adds http://llvm.org/docs/LangRef.html#llvm-instrprof-increment-intrinsic (and related intrinsics) to the LLVM-IR basically by adding them to the beginning of codeblocks.
* `instrprof` which lowers the above intrinsics to "real code" I assume these are intrinsics so the implementation of profile counting can

[2019-10-22 10:55] bossmc commented on #34701
https://github.com/rust-lang/rust/pull/48346/files#diff-2030f049f8df2454e3720ea9403bc14aR446 is where we started adding the `pgo-instr-gen` pass.

[2019-10-22 10:58] krumberg commented on #65649
Thanks! It finally worked

[2019-10-22 10:58] #65649 closed

[2019-10-22 11:22] rkruppe commented on #53254
My best guess is that behavior of this last program is rooted in the MMX instruction trampling all over the x87 FPU stack, making it impossible to use x87 instructions correctly until the `emms` instruction is executed (cc https://github.com/rust-lang/rust/issues/57831). If correct, that would imply:

- the libm used in the windows-gnu target (mingw glibc?) uses x87 instructions as part of its `po

[2019-10-22 11:25] varkor commented on #65675
Looking back over it, the implementation for consts in `src/librustc/infer/nll_relate/mod.rs` is completely wrong. It needs to be changed to align with the handling of types, which requires a fair bit of refactoring.

[2019-10-22 11:35] mati865 commented on #53254
It does but also replacing `transmute(0_i64)` with `__m64(0_i64)` fixes it.

There is open thread on wg-llvm zulip thread if you want to talk about it.

[2019-10-22 11:40] jonhoo commented on #39915
@bstrie do you know what the current status of this is? What are the blockers to moving forward with it?

[2019-10-22 11:42] jonhoo commented on #34651
@alexcrichton This might be a long shot, but has anything changed lately that might unblock this change?

[2019-10-22 11:46] lnicola commented on #39915
@mati865 do you happen to know an alternative invocation for people with an older GCC?

[2019-10-22 12:29] brenzi commented on #46099
I'm still experiencing this bug. Is there a workaround?

[2019-10-22 12:55] steveklabnik commented on #24666
Triage: don't believe anything has changed here

[2019-10-22 13:45] dragostis opened #65697 "rustdoc cannot resolve private intra-rustdoc link"
When in a private `mod`, rustdoc fails to resolve a private member when called with `--document-private-items`.

A project like this...
`src/lib.rs`:
[code]

`src/foo.rs`:
[code]

... results in:
[code]

[2019-10-22 14:02] wdanilo commented on #41517
@phaazon My use case doesn't really care on which `ItemDirtyCtx` is implemented on. The idea here is to create an **alias for multiple trait bounds**. It is an alias for trait bounds of `Ix` and `OnDirty`. This is a much-simplified code. Often I've got like 4 or 5 different type parameters and I don't want to copy all trait bounds for each type separately. Instead, I'm creating a single alias and

[2019-10-22 14:08] olegnn commented on #65669
`reject` seems to be the result of languages convenience evolution - for example, in Erlang there's no such function but its modern version Elixir has it https://hexdocs.pm/elixir/Stream.html#reject/2.

[2019-10-22 14:18] mati865 commented on #65658
@novacrazy does your code use MMX instructions or `packed_simd` crate?

[Discussion on Zulip about #53254](https://rust-lang.zulipchat.com/#narrow/stream/187780-t-compiler.2Fwg-llvm/topic/NaNs.20in.20windows-gnu.20float.20arthitmetic) revealed this happens when using mingw libm and MMX instructions. I suspect this is the same case.

[2019-10-22 14:23] cristicbz opened #65699 "Explore performance benefits of un-nesting ES schema"
Compare a set of queriess' performance with new and old schema on prod data.

[2019-10-22 14:23] alexcrichton commented on #48043
It sounds like your first bullet in that comment has quite a lot of exasperation flowing through it about how slow this process is, and it also sounds like you're drawing attention to emphasize your case about how everyone else should be exasperated about it as well. I understand this process has been slow, and I think it's pretty reasonable that you're exasperated.

I don't think, however, that t

[2019-10-22 14:24] cristicbz commented on #65699
Wrong repo (this is really embarrasing!)

[2019-10-22 14:24] #65699 closed

[2019-10-22 14:30] RalfJung commented on #34433
On the other hand there are cases where your iterators all fit into `usize` comfortably and you are also okay with a panic on overflow... for such cases, not having `ExactSizeIterator` is really painful.

[2019-10-22 14:30] novacrazy commented on #65658
Yes, `phi` is a plain `f32`, but it is constructed from SIMD operations including `.sum()` (`simd_reduce_add_unordered`?) and `.extract()` (`simd_extract`) from the `packed_simd` crate.

[2019-10-22 14:37] mati865 commented on #65658
Then it's the same as #53254 and I think there is no point in keeping it open.

This is (mostly?) `packed_simd` bug and should be fixed there, upstream tracking issue: https://github.com/rust-lang-nursery/packed_simd/issues/72

[2019-10-22 14:38] alexcrichton commented on #34651
I believe the current state of this can roughly be summarized as:

* This isn't implemented by default anywhere
  * On OSX you can pass `-Zrun-dsymutil=no` to simulate what compile times would be like
  * On Linux we have not implemented the requisite support to use fission with DWARF
  * I don't think anyone's looked into Windows MSVC or MinGW
* Switching on by default *at least* needs to preserv

[2019-10-22 14:42] vincentdephily commented on #45040
It seems to me that it would be more obvious and flexible if the relationship went the other way: by tagging the `impl` instead of the trait.

- Drawback: we will need to add the attribute in a lot of places.
- Advantage: we can apply the tag more correctly. It's not hard to imagine a trait that is fundamental to one struct but nice-to-have to another.
- Advantage: it would be more discoverable (s

[2019-10-22 14:45] alecmocatta opened #65700 "Casting away lifetimes using closures"
The following code compiles on stable and nightly. I'm not sure it should as it's effectively casting a `Struct::<'a>` to a `Struct::<'static>` in safe code.

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2bfb6a8f538e4a4c79ffc070cb045f98))

It seems lifetime and type parameters that are used in the closure don't affect the lifetime of the closure its

[2019-10-22 14:51] arturoc commented on #64821
yes this is fixed now, thanks!

[2019-10-22 15:01] oli-obk commented on #34433
This is the third time in 3 years that I have ended up in this issue. Each use case was definitely fine with panicking on overflow.

[2019-10-22 15:02] RalfJung commented on #60301
Status: blocked on https://github.com/rust-lang/rust/pull/65274 which is blocked on https://github.com/rust-lang/rust/pull/65202

[2019-10-22 15:05] zhuxiujia opened #65701 "Error in compilation error"
Error in Compile error:
<code>
 fn decode<T>(& self){
   self.for_each(|item| {});
}
</code>
will painc   move occurs because *self has type mysql::QueryResult<'_>, which does not implement the Copy trait

but  if you edit to:
<code>
 fn decode<T>(&mut self){
   self.for_each(|item| {});
}
</code>
it will Compile successfully！

This error indicates （move occurs because *self has type mysql::QueryR

[2019-10-22 17:03] nikomatsakis commented on #65677
It would be nice if whatever approach we use here also applies to `impl Trait` return types in general.

[2019-10-22 17:05] nikomatsakis commented on #65667
Can you clarify @dbrgn whether you are running this on nightly or on beta? We've been doing work on exactly this error message, but it may not be triggering in your particular case.

[2019-10-22 17:07] davidtwco commented on #65667
Assigning to myself to check if #65345 addresses this.

[2019-10-22 17:07] nikomatsakis commented on #65442
I think the answer is probably *no* but I'm not sure how hard this would be to fix.

[2019-10-22 17:10] nikomatsakis commented on #65442
Assigning to myself to investigate and document the cause of the issue, at least.

[2019-10-22 17:16] nikomatsakis commented on #65436
This was an intentional change but these errors also look like they are caused by "overapproximation" of the set of captured values. We are working to improve that; separately, we are also working on improving the diagnostics here.

[2019-10-22 17:24] nikomatsakis commented on #62097
@rustbot assign @csmoe

[2019-10-22 17:39] alecmocatta commented on #65700
Thanks @jonas-schievink. As far as I'm aware it doesn't enable unsoundness. However the conversion from `Struct<'a>` to a `Struct<'static>` was surprising to me, so I thought I'd seek a second opinion.

[2019-10-22 18:51] the8472 commented on #65669
While `all` could be negated by a universal quanitification `none` there could also be a negated existential quantification as the opposite for any, it would check that there exists at least one element where the predicate doesn't hold true.

Similarly one could find the first element that does not match a predicate, if any.

At least logically those are valid constructs, perhaps they don't have m

[2019-10-22 19:08] matthewjasper commented on #65700
I tried fixing this in #60332, but it ends up breaking too much code.

[2019-10-22 19:12] jamesmunns commented on #65391
Hey @lightblu, thanks for reporting. It seems that the behavior of LLD changed between 1.37 and 1.38 in a way that breaks the ABI of the cortex-m-rt crate (likely due to an LLVM version upgrade).

This is likely either:

* An intended change to LLVM/LLD behavior
* A regression in LLD
    * Possibly related to https://github.com/rust-embedded/cortex-m-rt/issues/188 and https://reviews.llvm.org/D607

[2019-10-22 19:15] jamesmunns commented on #65391
@nikomatsakis were there any LLVM changes that landed in nightly before 2019-04-13 or so, that stabilized in 1.38 (2019-09-26 or so)? If so, that might help us diagnose the specific changes that cause this regression for stable embedded targets.

[2019-10-22 19:19] ninjasource commented on #65419
@rustbot claim

[2019-10-22 19:30] Ixrec commented on #55300
I think "doing a sort and ..." is at best a very misleading description. Every element is guaranteed to end up on the correct side of the `index`th element, but no (non-trivial) subsequence of the slice is guaranteed to end up in sorted order, much less the whole slice. So even something like "partial sort" would be extremely misleading.

Do you know of any other term for this? I've only ever hear

[2019-10-22 19:52] bstrie commented on #39915
@jonhoo I'm not abreast of any of the work in this area, I suppose you'd want to ask the compiler team.

[2019-10-22 19:57] scottmcm commented on #55300
This isn't C++'s `partition`, but rather `nth_element` (<https://en.cppreference.com/w/cpp/algorithm/nth_element>), right?

If so I think it's an excellent thing to have in the library, especially since the complicated parts of the implementation are things that `sort_unstable` already needs, to the maintenance cost is low.

(Interestingly, not that this method is actually an answer to [an exercis

[2019-10-22 20:00] stepancheg opened #65707 "Incorrect can't leak crate-visible type for pub(crate) type"
# Can't leak crate-visible type

[code]

[code]

[Play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=64b368f90c79f63dab63a4c73f63e531)

[code]

# Does not report leak

This typechecks fine, although `foo` is a private mod.

[code]

[2019-10-22 20:05] dbrgn commented on #65667
@nikomatsakis Sorry for forgetting to mention this. I was on 1.39.0-beta.6.

[2019-10-22 20:29] estebank commented on #57663
With #65288, the case brought up in the last comment will look like this:

[code]

and the original report like this:

[code]

[2019-10-22 20:33] LukasKalbertodt commented on #57663
Thanks a bunch! :)

[2019-10-22 20:56] ninjasource commented on #65419
Hi @nikomatsakis, that makes sense. I'll lean on @gilescope for initial guidance on this and I'll add more comments after I dig a little deeper. Cheers, David

[2019-10-22 21:12] therealprof commented on #65391
It seems to me as if the newer versions of rust-ld messed up the upkeep of the internal offset tracking as soon as a custom offset is supplied. The PR referenced above adds some additional labels to track the end of the sections so we can reference them at the beginning of the next section.

I tested the minimal example provided above with both 1.34 and 1.38, before and after the PR applied. For 1

[2019-10-22 21:55] retep998 opened #65709 "winapi broken in recent nightly"
[code]

Using `rustc 1.40.0-nightly (7979016af 2019-10-20)`

[2019-10-22 22:05] jonas-schievink commented on #65709
cc @oli-obk

[2019-10-22 22:05] Centril commented on #65709
and cc @wesleywiser

[2019-10-22 22:56] jhfrontz opened #65711 "Cargo in docker can't find Cargo.toml"
As of `nightly-2019-10-21`, *cargo* seems to be unable to find the `Cargo.toml` file in the current working directory of a docker-based gitlab CI job:

[code]

(maybe related to https://github.com/rust-lang/rust/issues/65662 ?)

[2019-10-22 23:46] SergioBenitez opened #65712 "Specific error message when trying to exhaustively match on pointer types"
As the title suggests, exhaustive pattern checking for `usize` and `isize` fails when checks for similar patterns for `{i,u}{n}` succeed. Consider the following program ([playground link]):

[code]

While checking succeeds for `g` (`u8`) and `j` (`i32`), it fails for `f` (`usize`) and `h` (`isize`).

cc @varkor

[playground link]: https://play.rust-lang.org/?version=nightly&mode=release&edition=20

[2019-10-22 23:48] clarfon commented on #55002
I agree; it should be changed to "compiler and/or CPU".

[2019-10-22 23:52] clarfon commented on #65143
@petertodd That's fair; that said, though, I think that having methods named `is_borrowed` or `is_owned` on a type which implements `ToOwned` would be extremely unusual, because `to_owned` would not affect said methods.

@SimonSapin I agree that `Option` is much more common than `Cow`, but I feel that these are still useful enough to carry their own weight. This is partially because I was writing

[2019-10-23 00:34] pfmooney commented on #52577
@pnkfelix ,
I took a closer look at this today.  With the updates to rustc, floated patch to negate the stack guard behavior on illumos does not appear to be necessary.  I reran a build of the latest version in pkgsrc (1.35) and tested it on a SmartOS machine with the OS stack-clash mitigation present.  The binaries (both rustc, and a subsequent test program) ran without issue.  Thanks for pointin

[2019-10-23 00:35] wesleywiser commented on #65709
I assume in this context `UINT` is a 32-bit unsigned integer? If so, the lint appears to be triggering correctly. This has likely started triggering because of some recent improvements to the `ConstProp` pass.

I believe this behavior is covered under [RFC 1129](https://github.com/rust-lang/rfcs/blob/master/text/1229-compile-time-asserts.md) so this is expected behavior.

If you want to continue u

[2019-10-23 00:46] varkor commented on #65712
Exhaustive pattern matching is disabled by default for `usize` and `isize` because the width differs depending on the platform. You can enable it using `#![feature(precise_pointer_size_matching)]`. There's a tracking issue at https://github.com/rust-lang/rust/issues/56354.

[2019-10-23 01:14] Tloru commented on #65701
There is not an error in the message itself. Are you suggesting that this particular error message should include a note that points beginners in the right direction? If so, what note would point out "where the problem is"?

[2019-10-23 02:14] clarfon commented on #64445
I think that the error I'm dealing with is also this. Example:

[code]

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&code=%23!%5Bfeature(type_alias_impl_trait)%5D%0Ause%20core%3A%3Aiter%3A%3AMap%3B%0A%0Atrait%20Thing%20%7B%0A%20%20%20%20type%20Iter%3A%20Iterator%3CItem%20%3D%20u32%3E%3B%0A%20%20%20%20fn%20do_thing(val%3A%20u32)%20-%3E%20u32%3B%0A%7D%0A%0Aty

[2019-10-23 02:44] ehuss commented on #39948
The intended way to do this with cargo is to use `cargo check --profile=test`.  That forces `panic` to be `unwind` in order to be compatible with libtest.

Additionally, once #65710 lands, there is a new flag `cargo check --profile=test -Zpanic-abort-tests` where it will successfully build with `abort`.

[2019-10-23 02:48] ecstatic-morse commented on #62531
Rust now generates the [following assembly](https://godbolt.org/z/qM23or) for the OP's code:

[code]

I would guess that recent improvements to const propagation in the MIR are responsible for this (thanks @wesleywiser!), but it might also have been a change in LLVM. This seems like a decent candidate for a codegen regression test, although an equivalent one might already exist.

[2019-10-23 02:58] lzutao commented on #62531
It is better now. But are `push rax` and `pop rcx` instructions necessary?

[2019-10-23 03:07] ecstatic-morse commented on #62531
I assume it is due to a difference in calling convention, but it does seem kind of silly. You'll need to ask someone more knowledgeable unfortunately.

[2019-10-23 03:24] ecstatic-morse commented on #62531
@lzutao A quick google leads me to believe that the `push` is used to align the stack to a 16-byte boundary.

[2019-10-23 03:39] lzutao commented on #62531
So does it: <https://stackoverflow.com/a/37774474/5456794>. Looks like only regression tests are needed.

[2019-10-23 04:06] nnethercote opened #65714 "Document comment representation is inefficient"
Imagine a doc comment like this:
[code]
This gets treated like this:
[code]
And each line gets represented with a `TokenStream` containing two elements: a `Eq` token and a `Lit` token. These end up in metadata, and the decoding cost is quite high. Because doc comments can be long, spanning many lines, it would be nice to join them together -- much like rustdoc's collapse-span pass does, but earlie

[2019-10-23 04:19] nnethercote commented on #65714
Hmm, it's slightly different to how I described it above. In the current code, the `/// ` at the start of each line is actually preserved with the doc attribute, and is only stripped when it is converted into a `DocFragment::SugaredDoc` by `rustdoc::clean::Attributes::from_ast()`.

So perhaps I can join the lines like I did, keeping the `///` markers in there, and then change `Attributes::from_ast

[2019-10-23 04:33] nnethercote commented on #65714
I guess a relevant question is whether doc comments need to be put into metadata?

[2019-10-23 05:06] petrochenkov commented on #65714
Duplicate of https://github.com/rust-lang/rust/issues/60936 and https://github.com/rust-lang/rust/issues/60935.
cc https://github.com/rust-lang/rust/pull/60930

[2019-10-23 05:08] lzutao commented on #62531
This version doesn't need any stack  alignment: <https://godbolt.org/z/GP58_F>
[code]

[2019-10-23 05:47] olson-sean-k opened #65715 "rustdoc: document fields exposed by `Deref` implementations."
`rustdoc` provides a very useful "methods from `Deref<Target=...>`" section for types that implement the `Deref` trait, but this section only displays associated functions and never fields. It could be very useful if (public) fields exposed via `Deref` were also documented.

[2019-10-23 06:02] #65714 closed

[2019-10-23 06:08] Mokosha commented on #55300
Yes, this is closer to C++'s [`nth_element`](https://github.com/rust-lang/rust/pull/55448#issue-226379411).

With regards to the naming -- there were some alternatives to `partition` proposed in [the RFC](https://github.com/rust-lang/rfcs/issues/1470), but `partition` seemed to be more akin to what others expected such a function to be called. I'd caution against using simply `at` instead of `at_i

[2019-10-23 07:37] mguillemot-tel commented on #65662
We are encountering a similar issue while building an Docker image with rustc & cargo on CircleCI. We are basically doing:

[code]

and are getting:

[code]

This errors happens since yesterday. Our last successful build with the same script was 2 days ago, with these versions:

[code]

So basically between `rustc c23a7aa77 2019-10-19` and `rustc 7979016af 2019-10-20`, something changed that makes

[2019-10-23 07:37] pnkfelix commented on #64872
More data: I've reduced all of `libcore`, `libstd`, `getopts`, `libtests,` and the crate using them down to something really small.

It seems like the problem here manifests itself when both `libcore` and `getopts` have a `derive(Debug)` on a struct with a field of the same type. In my particular minification, the two crates both have structs that eventually get to a field of type `u32`.

if you e

[2019-10-23 07:52] lrbalt commented on #65431
With the recent nightly compiler the memory usage in linking stage was reduced drastically for me. It may be that the GCC upgrade for ARM caused this improvement. No more OOM there!

https://github.com/rust-lang/rust/pull/65302

[2019-10-23 08:35] jethrogb commented on #65662
@mguillemot-tel On the hosts where things don't work, what is the docker version and host kernel version? Also, can you run your command with `strace` to see if this is because of `statx`?

[2019-10-23 08:49] michaelwoerister commented on #64872
@pnkfelix Can you take a look at the symbols defined in the upstream crate? Is missing function present there (but maybe as a local symbol). `nm` should do the trick.

[2019-10-23 08:52] michaelwoerister commented on #64872
This sounds like `rustc` assuming that it can re-use a monomorphization from a Rust dylib, even though that isn't possible anymore since #64324. Maybe it has something to do with `libstd` being available both as rlib and as dylib? (cc @alexcrichton)

[2019-10-23 08:54] Boscop commented on #42640
@withoutboats @rpjohnst  Any update on this?
I think if we support `move` for this case, we'd also need to allow it in non-match_default_bindings situations for consistency, e.g. `let x = Some(&1); match x { Some(move a) => a, None => 0 }` and `v.iter().map(|move item| ..)` and I wouldn't like that, because then we have 2 competing equivalent ways to express the same thing (which wouldn't be ortho

[2019-10-23 08:54] nnethercote commented on #60936
I would have thought it would be this:
[code]
Here `data` is the processed, useful form, and we can losslessly recover the original form by adding "`/// `" at the start and after each newline, and appending a newline at the end. (Well, I'm not sure about the newline at the end, but it definitely feels to me like the internal `///` markers should be removed.)

[2019-10-23 09:23] jonas-schievink commented on #65711
Can you run this with `strace` to find out whether this is due to `statx`?

[2019-10-23 09:26] pnkfelix commented on #64872
@michaelwoerister here is some `nm` output:

[code]

For this reduction, the symbol we are looking for is `__ZN4core6Object6method17h3c307b2b614e132dE`, so that does seem to confirm the hypothesis that `rustc` is making assumptions about what monomorphizations (or vtables? Take a look at my minimization, linked above) it can re-use.

[2019-10-23 09:31] pnkfelix commented on #64872
@michaelwoerister  wrote:

I don't think this explains it. I tried removing `rlib` from all the `crate-type` settings in the `Cargo.toml`s (so that they all say `crate-type = ["dyllb"]`), and the bug still reproduces then.

[2019-10-23 09:39] gnzlbg opened #65717 "UnwindSafe docs are unclear"
After reading the current docs of `panic::UnwindSafe` I am left with the feeling that the explanation of the concept of "panic safety" and its auto trait has only been handwaved. The docs point to the RFC, which does a better job, but I still do not feel like I fully understood what "panic safety" is, what does `UnwindSafe` convey, and when is it ok to use `AssertUnwindSafe` or not.

I feel like t

[2019-10-23 09:53] #65683 closed

[2019-10-23 11:17] nnethercote commented on #60935
Because `TokenStream` contains a `Lrc<Vec<TreeAndJoint>>`, this would avoid two allocations per doc comment line: one for the `Lrc` and one for the `Vec`. That would get a big chunk of the potential saving. (We would still need one symbol interning per line, which involves a TLS access and a hash table.)

[2019-10-23 12:26] jonhoo commented on #39915
I don't think I can tag teams, and I don't want to cause undue noise for them either. What's the best avenue to get someone from there to take a quick look you think?

[2019-10-23 12:48] oli-obk commented on #65709
It may also have started getting reported due to https://github.com/rust-lang/rust/pull/65320 which makes sure that we report `const_err` even if the code causing the lint to trigger is part of a macro from another crate.

Closing as wontfix because this is the expected behaviour and is easily silenced by an `allow` attribute.

[2019-10-23 12:48] #65709 closed

[2019-10-23 13:20] steveklabnik commented on #49457
Triage: it seems like this isn't a bug, just maybe a possible optimization, but frankly it seems a bit questionable to me. I'd probably close this, but I'll leave it open in case @rust-lang/libs thinks it's valuable.

[2019-10-23 13:24] Mark-Simulacrum commented on #49457
I personally think we should close things like this so I'll go ahead and do so, it's getting really into the weeds of the implementation and if you're optimizing then you probably don't want to use println! anyway (instead locking stdout and such)

[2019-10-23 13:24] #49457 closed

[2019-10-23 13:29] steveklabnik commented on #40623
Triage: I'm pretty sure that I know how to do this, but any chance you could add exact steps to reproduce here, @abonander ?

[2019-10-23 13:30] steveklabnik commented on #65717
I haven't actually looked at these docs, so I can't agree or disagree :) Thanks for opening the issue. I wish that there was something more... actionable, about it, but this is a good first step 👍

[2019-10-23 13:31] XAMPPRocky commented on #39915
Triage; @rust-lang/compiler does anyone know what is the current status of this issue?

[2019-10-23 13:34] SimonSapin opened #65721 "Tracking issue for the `matches!` macro"
https://github.com/rust-lang/rust/pull/65479 adds this macro to the prelude:

[code]

Example usage:

[code]

[2019-10-23 13:34] #59233 closed

[2019-10-23 13:34] #63597 closed

[2019-10-23 13:34] #63237 closed

[2019-10-23 13:34] #65211 closed

[2019-10-23 13:34] #65607 closed

[2019-10-23 13:34] #41366 closed

[2019-10-23 13:34] #51431 closed

[2019-10-23 13:34] #52437 closed

[2019-10-23 13:34] #63496 closed

[2019-10-23 13:40] he32 opened #65722 "Rust 1.38.0 can't build rust 1.38.0 out-of-the-box"
Hi,

it seems the new compiler warns about a construct which isn't warned about
with rust 1.37.0:

[code]

I'll next try the obvious fix of removing `warnings` from what's denied, but, really, this ought to have worked "out of the box".

[2019-10-23 13:49] gnzlbg commented on #65717
Yes, me too. I'm not sure how to word what I got from reading these docs. I think my first intention is whether "it is just me" or whether other people have trouble understanding these.

The docs aren't short, there are a lot of words in there, and a lot of things are explained. By "unclear" I I think I more precisely mean that, after reading the docs, I cannot answer basic questions about what I

[2019-10-23 14:08] wdanilo commented on #41517
@phaazon No! :)
The code before refactoring looked like this:

[code]

Using trait aliases I can introduce alias to **multiple trait bounds on different types**. So after introducing

[code]

I can now refactor that code to:

[code]

The value of that becomes even more visible when you've got more type parameters than two and you want to keep your codebase tidy and well-named. Then you want to nam

[2019-10-23 14:12] RalfJung commented on #41517
I would call that a "bound alias", not a "trait alias". I agree bound aliases are useful but these seem like distinct concepts. Sure, you can "hack" a bound alias using trait aliases and ignoring `Self`, but I that feels like a case of having a hammer and seeing nails.

[2019-10-23 14:34] jackmott commented on #65510
In case another example is helpful as a stress test, or otherwise, I have a library that was very much affected by this issue.  Before the linked commit, the library would take minutes to compile, after the refactor, which grouped trait bounds into marker traits, it took only a few seconds to compile:

https://github.com/jackmott/simdeez/commit/8ffc9ed4677f4334e1ba06966de998ac95803b87

[2019-10-23 14:36] alexreg commented on #41517
Yeah. This seems to generally fall under the ambit of "constraint kinds", which there has been some discussion of in the past. They're more powerful, though I know not everyone is in favour of them. They'd probably need to wait on Chalk too...

[2019-10-23 15:07] jhfrontz commented on #65711
I ran with `strace` but I'm not sure what I'm looking for -- I don't see any `statx` calls in the trace, but I do see a bunch of `ENOENT` (and other failures).  It's hard to tell which are happening "normally" as part of checking for things.  I'll work on sanitizing a trace to post.

[2019-10-23 15:16] oxalica commented on #65662
I tried `ubuntu:xenial` with docker 18.09.2 on Linux kernel 4.14.118,  it seems that `statx` works well.

[code]

Maybe need to update docker?

[2019-10-23 15:21] wdanilo commented on #41517
@RalfJung I completely agree that `bound aliases` with better syntax might be better here (though, I'm not sure we may want to have separate concepts for trait aliases with explicit Self and without explicit Self). Using tuple here is a hack, feels like a hack, but it is currently **the only** solution allowing us to create bound aliases, which are crucial for high code quality in bigger projects.

[2019-10-23 15:22] eddyb commented on #65462
I believe this is an assert @oli-obk added at my request - it already existed in miri, but was missing from the original implementation in `rustc_target::abi`.

[2019-10-23 15:24] vlabo commented on #64465
I would like to fix it. But it will be my first problem so it may take a while.

[2019-10-23 15:33] ehuss commented on #65692
I don't think this is something libtest can do anything about, since once the process has crashed, it is no longer running.  I think this is a Cargo issue where it is not displaying the exit message properly.

I have opened rust-lang/cargo#7535 with a fix.

You still won't see which individual test caused the error, but presumably you can attach a debugger or something in this scenario (or whittle

[2019-10-23 15:42] eddyb commented on #47266
`rustc-demangle` already is used for demangling IR comments somewhere else.

[2019-10-23 15:47] dtolnay commented on #64552
I haven't seen a "me too" yet so I thought I'd mention that I hit this as well, to help assess how frequent this bug is.

[code]

[code]

[2019-10-23 15:47] eddyb commented on #43081
I've been meaning to work on this for a while and made a few plans, but I didn't get the time to spend on it - feel free to talk to me elsewhere, maybe a few things can be done.

E.g. I wanted to add a `TokenStream` to `Nonterminal` to allow recovering the exact original input, and perhaps even get rid of AST nodes embedded in tokens altogether (at the cost of reparsing).

[2019-10-23 15:55] eddyb commented on #65272
cc @michaelwoerister (not `@mw`)

[2019-10-23 16:04] sfackler commented on #65711
syscall_332 is statx, so this is a duplicate of #65662

[2019-10-23 16:04] #65711 closed

[2019-10-23 16:16] lovelife2020 opened #65725 "Why does rust use stupid uft8 strings?"
I found rust two days ago and I really loved the language.
But  but but  but but   ,why does rust use stupid uft8 strings?  Why not use unicode strings?
Even the simplest substring  and replace method does not exist.
Still playing a hammer?
Waste my feelings！

[2019-10-23 16:17] jonas-schievink commented on #65725
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2019-10-23 16:17] #65725 closed

[2019-10-23 16:18] jhfrontz commented on #65662
Related?  https://github.com/containers/buildah/issues/1568

[2019-10-23 16:28] matklad commented on #65564
:+1: on the approach, this is essentially what KotlinNative is doing: calling into runtime to "reflect" values

https://github.com/JetBrains/kotlin-native/blob/838cccf275b121878003d9c8c2f7600d78b10989/llvmDebugInfoC/src/scripts/konan_lldb.py#L178

https://github.com/JetBrains/kotlin-native/blob/838cccf275b121878003d9c8c2f7600d78b10989/llvmDebugInfoC/src/scripts/konan_lldb.py#L249

Production-grade

[2019-10-23 16:30] mati865 commented on #65662
You needs rather recent Docker and libseccomp packges.

Old Docker versions (or new versions running on the old systems) default to aufs but in recent versions this has changed to overlay2. That's possible explanation of what you are seeing.

[2019-10-23 16:37] matklad commented on #65564
Hm, maybe even crazier:

* expose non-generic `fn debug(value: *const T, buf: *const u8, buf_len: usize)`
* make that function *itself* look at the debug info associated with `value` (this might need some additional info like a frame pointer passed it)

That way, debugger can blindly call `debug` on any pointer, without containing logic for figuring out symbol name from a type.

Note that this act

[2019-10-23 16:51] Kixiron opened #65726 "std::io::Stdout does not implement Clone"
`std::io::Stdout` is currently not `Clone`, but there is no reason that I can see that it shouldn't be

[2019-10-23 17:04] eddyb commented on #65564
The problem with using `fmt::Debug` is that I don't know the extent of the power of Python scripts.

That seems... extremely complicated, compared to the debugger which *already has it*.

Also, if DWARF type IDs are exposed in the Python scripts, then it should be trivial to get a per-type symbol name that way.

[2019-10-23 17:05] ecstatic-morse opened #65727 "Incorrect promotion for projection in a `const`"
Consider the following code:

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=cb3b84e62b1979a8aa4bae9e0d71e826)
[code]

The borrow of the tuple field in `main` is promoted out along with the tuple itself in accordance with the rules for rvalue static promotion. However, in the `const`, the mechanism for promotion does not remove `Drop`/`StorageDead` for the tup

[2019-10-23 17:47] yodaldevoid commented on #65391
I will test this minimal example later today.

A note on where things are at with rust-embedded/cortex-m-rt#188: I've taken a few passes at fixing the ELF header overwriting problem, but I haven't been able to find a solution that doesn't break some other feature of LLD. Then again, the LLD tests are not the greatest at defining what is being tested vs. what is simply due to the current implementa

[2019-10-23 17:47] bjorn3 commented on #65564
While I like the idea, I see two problems:

1. Do we want to run arbitrary code during debugging? It may cause an infinite loop or stack overflow. It may also just be plain slow.
2. Sometimes `Debug` instances hide sensitive information (eg encryption keys) to prevent accidentially leaking it. While debugging you may want to be able to inspect it though.

[2019-10-23 18:10] ecstatic-morse commented on #62531
I tried to leave this alone, since I'm not very knowledgeable here, but curiosity got the better of me. The following might be incorrect, but it's my best guess.

In the optimized LLVM IR for rust, a call to `bcmp` remains which has been optimized out in the C++ version. I believe stack alignment on x64 is required only prior to a `call` instruction, so LLVM sees that a non-trivial call instructio

[2019-10-23 18:34] clarfon commented on #65143
It appears that this is now merged.

[2019-10-23 19:03] nnethercote commented on #60935
I have a local patch that changes `TokenStream` to a `Lrc<SmallVec<[TreeAndJoint; 2]>>`. It's a clear win, but it only gets rid of one of the allocations, so the approach suggested in this PR has a greater potential.

[2019-10-23 19:31] nnethercote commented on #60936
That's very unfortunate, if it means that `///` multi-line doc comments and `/**` multi-line doc comments are distinguishable at the language level. Which definitely complicates things.

It's worth noting that if we converted every multi-line `///` doc comment in liballoc/libcore/libstd to a `/** ... */` doc comment, we'd likely get a big chunk of the potential improvement.

[2019-10-23 19:31] ecstatic-morse commented on #62531
There's some discussion of this in [Zulip](https://rust-lang.zulipchat.com/#narrow/stream/187780-t-compiler.2Fwg-llvm/topic/Stack.20alignment.20in.20leaf.20function). I was indeed wrong BTW :smile:.

[2019-10-23 19:39] Mark-Simulacrum commented on #60936
It seems like one avenue is to have some crate-level flag or so (maybe just a feature) that collapses doc comments -- at least for now, it'd be basically internal-use-only but if that makes core/std smaller and faster to decode that's already a pretty good win. Eventually we could presumably edition-gate this change in some way (though the interaction with macros might make that a bit hard).

[2019-10-23 19:50] nikomatsakis commented on #55005
I'm nominating this issue -- and tagging it for @rust-lang/lang -- in response to [some comments by @jamesmunns in today's Project Leadership Sync meeting][m]. In particular, @jamesmunns pointed out that this issue around the deferenceable attribute has potentially large repercussions in the embedded space, and cited [@japaric's RFC](https://github.com/rust-embedded/wg/pull/387) as well as a numbe

[2019-10-23 20:03] vertexclique commented on #55005
@nikomatsakis I have done some work around this. But actually that extended visible API surface by one method. It resolves the problem at a cost of that.

[2019-10-23 20:14] eddyb commented on #65564
Oh, I would prefer if this wasn't based on `fmt::Debug` but rather provided access, through collections, to elements, for debug purposes. So more like `&_: IntoIterator` for debugging.

That is, I want the debugger to do inside, what it was doing outside, e.g. `Vec`.

[2019-10-23 20:18] ecstatic-morse opened #65732 "RFC 2203 not implemented inside a `const` block"
Thanks to [RFC 2203](https://github.com/rust-lang/rust/issues/49147), code like the following compiles on nightly:

[code]

However, [as pointed out](https://github.com/rust-lang/rust/issues/49147#issuecomment-526093579) by @RalfJung, the same code fails to compile in a `const` block ([Playground]()):

[code]

Currently, there's two distinct implementations for promotion of temps, one for `fn` and

[2019-10-23 20:22] Weasy666 opened #65734 "Misleading error message with Trait and unimplemented std::marker::Sized"
When doing something like this

[code]

you get an error like this
[code]

---
I would expect an error like the one from this code
[code]

[code]

[2019-10-23 20:25] GuillaumeGomez opened #65735 "Add doc tip with '?' for exact search (within double quotes)"
Currently, it's not specified into the help popup that you can make a search with double quotes. Also, might be interesting to maybe improve the text inside this helper.

[2019-10-23 20:26] GuillaumeGomez opened #65736 "Click event badly handled in tip popup in rustdoc"
When clicking on the popup, it shouldn't make it disappear!

[2019-10-23 20:33] ecstatic-morse opened #65737 "RFC 2203 does not work for `Vec::new`"
[RFC 2203](https://github.com/rust-lang/rfcs/blob/master/text/2203-const-repeat-expr.md) specifically calls out `Vec::new` as a motivating example, however [this does not work](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=74b019cd4ec9d8656bf7197603fcab3c) on the current nightly.

[code]

There are two reasons for this. First, promotion in array repeat expressions curren

[2019-10-23 20:39] bjorn3 commented on #65564
Is is possible to store `&mut [MaybeUninit<T>]` inside `Vec<T>` instead of ptr + cap or `&mut [T]` instead of ptr + len? That would make special casing `Vec<T>` inside the debugger pretty printer unnecessary.

[2019-10-23 20:43] 64 commented on #55005
I could be wrong, but it seems like LLVM now supports `nofree` and `nosync` function attributes, which would solve the issue. https://lists.llvm.org/pipermail/llvm-dev/2018-July/124555.html

[2019-10-23 20:58] rkruppe commented on #55005
`nofree` and `nosync` exist now, but as far as I can tell the switch from

to

has not yet happened.

[2019-10-23 21:01] Centril commented on #65737
cc @eddyb @RalfJung @oli-obk @nikomatsakis

[2019-10-23 21:08] alexreg commented on #41517
@wdanilo First, the discussion over what to call them has been had to death. "Trait aliases" is the placeholder name.

Also, why are you telling me about constraint kinds haha? I know they're much more powerful. In fact, I just said that.

[2019-10-23 21:16] SergioBenitez commented on #65712
@varkor If that's the case, the error message should allude to this.

[2019-10-23 21:17] SergioBenitez commented on #56354
Is there anything preventing the stabilization of this feature?

[2019-10-23 21:26] adamski commented on #43749
I hit this issue today. I am using CMake and got around it by changing the expected filename of the target to be linked, which is a static library.

[2019-10-23 21:36] varkor commented on #56354
I think we'd need an RFC, or at the very least, a detailed motivation. The problem is that pointer size types have different ranges depending on the target platform, and so there was concern that this could cause confusion. See https://github.com/rust-lang/rfcs/pull/2591#issuecomment-438656338 and https://github.com/rust-lang/rfcs/pull/2591#issuecomment-438697831 for details.

[2019-10-23 21:37] varkor commented on #65712
That's a good point — we could emit better diagnostics here. Let's repurpose this issue for that.

[2019-10-23 21:53] eddyb commented on #65737
The `NeedsDrop` thing (maybe) sounds like a bug in the old promotion logic.
The new logic in #63812 doesn't look at `NeedsDrop` at all, except for `Candidate::Ref`.

[2019-10-23 22:01] ecstatic-morse commented on #65737
A comment in `qualify_consts`:

[code]

I think explicit (non-`Candidate::Ref`) promotion contexts should indeed promote values with `NeedsDrop`, which is implied by the second half of the comment, but not currently implemented.

[2019-10-23 22:09] RalfJung commented on #65737
@Centril or @nikomatsakis mentioned that we might at some point even allow using run-time expressions for array repeats... in the light of that it might not be a good idea to use the "explicit" rules for promotability. "explicit" is only okay if code would fail to compile when not promoted.

[2019-10-23 22:12] SimonSapin commented on #55149
https://github.com/rust-lang/rust/pull/62330 has landed. Are there remaining changes specified in the RFC that are not implemented yet?

[2019-10-23 22:20] Ixrec commented on #65725
Also, UTF-8 *is* Unicode, and [`String::replace` exists](https://doc.rust-lang.org/std/string/struct.String.html#method.replace). Substring would typically be done with iterator methods like `.chars().skip(2).take(5)` that correctly deal with UTF-8's variable-sized code points.

If you're asking about constant-time substring and replace methods whose arguments are byte indices, those aren't provid

[2019-10-23 22:33] ecstatic-morse commented on #65737
If the array element is `Copy`, failure to promote the initializer does not imply the code will fail to compile, so this argument applies to the current situation as well I think. That said, I don't know if we have to be quite that strict when deciding to use the explicit rules, since we don't need to e.g. ignore `Drop` terminators for const array initializers.

[2019-10-23 22:51] wdanilo commented on #41517
@alexreg when talking on a public channel like here I prefer to clarify things to readers not familiar with the concepts. You mentioned that they are more powerful, and I provided an additional explanation of why. In no means, my message was suggesting that you don't know it, sorry if you felt so! :)

[2019-10-23 23:17] eddyb commented on #65564
That wouldn't work for, say, `HashMap`. And there's no nice way to fit both capacity and length into one slice.

[2019-10-23 23:18] nagisa commented on #65610
Did a rustc bisect and it is indeed dbebcee8d07b77eae3725988879001e6205c6e47 (#59752)

[2019-10-23 23:18] nagisa commented on #65610
cc @Zoxc

[2019-10-23 23:33] afranchuk opened #65744 "Improve std::hash::Hasher to finish with an associated type"
`std::hash::Hasher` currently defines a `finish()` method that returns a fixed type (`u64`). This trait could be improved by changing the return type to some associated `Output` type. I don't see a particular reason this wouldn't work, since, for instance, `std::collections::HashMap` can simply provide a `Hasher` which produces the type it expects. This would be nice as then types implementing `st

[2019-10-23 23:34] Centril opened #65745 "Feature gate for `dyn_compatible_for_dispatch` not suggested"
Code:

[code]

errors with:

[code]

But it does not suggest adding the feature gate.

[2019-10-23 23:41] Zoxc commented on #65610
You haven't told rustc where that symbol comes from. Try adding `#[link(name = "foo", kind = "static")]` on the extern block.

[2019-10-23 23:42] Mark-Simulacrum commented on #65744
Hasher is a stable trait so this change cannot be made backwards compatibly, so we cannot make it at this point. As such, closing.

In theory an extension that provides a default _could_ work here, but I imagine that it would run into lots of issues really quickly (e.g., inference, in particular for Hash trait impls, would be problematic).

[2019-10-23 23:50] nagisa commented on #65610
Adding the attribute helped, however these symbols are originally linked via command line arguments that `cc` crate emits to cargo from the build.rs script. Why the two ways to link in stuff have different behaviour?

[2019-10-24 00:11] Zoxc commented on #65610
When you link the library on the command line, rustc doesn't know which symbols are in it, so it won't export any.

[2019-10-24 00:19] sriharikapu commented on #57254
It's resolved thanks everyone

[2019-10-24 00:19] #57254 closed

[2019-10-24 00:20] nagisa commented on #65610
Okay, that’s somewhat bad, then, because libraries that rely exclusively on arguments emitted by `cc` for linking purposes are very abound in the ecosystem.

We should look at updating the `cc`’s documentation to include information about needing the `#[link]` attribute regardless. cc @alexcrichton

[2019-10-24 00:25] Zoxc commented on #65610
We could perhaps just consider all reachable extern fns to have static linkage and export them. I'm not sure if there's any problems with that though...

[2019-10-24 00:59] Centril opened #65748 "Under what conditions can you implement Copy for a union?"
From https://github.com/rust-lang/rust/issues/32836#issue-147034658:

@RalfJung notes in https://github.com/rust-lang/rust/issues/55149#issuecomment-430667174 that:

cc https://github.com/rust-lang/rust/issues/55149

[2019-10-24 01:24] afranchuk commented on #65744
I just want to remark that if RFC 2532 (associated type defaults) gets in then this change could be made in a backwards compatible way.

[2019-10-24 01:54] ObsidianMinor commented on #65642
@rustbot claim

[2019-10-24 01:55] Mark-Simulacrum commented on #65744
I don't think that's entirely true (or, at least, not in general) - Hash::hash takes a Hasher generically, and that can't change to also take a type param which would mean that the extension to this trait is largely useless.

[2019-10-24 03:35] kevgrasso commented on #57413
@estebank Should I add a test for this? If so, how would I implement that? The standard UI testing method doesn't seem to track highlights.

[2019-10-24 03:35] nnethercote commented on #60936
#65750 implements the idea from #60935, which is an alternative to doc comment coalescing that doesn't have any backwards compatibility concerns. After #65750 lands, the potential wins from coalescing would be *much* smaller, and IMO not worth pursuing.

[2019-10-24 03:35] #60936 closed

[2019-10-24 03:36] nnethercote commented on #60935
I have implemented this idea in #65750. It works well!

[2019-10-24 04:39] Lokathor opened #65751 "How can you disable stack checking and set a stack size?"
On Windows-MSCV-x86_64 I am attempting to create a `no_std` binary with Stable (1.38). I'm getting an unresolved symbol for `__chkstk`:

[code]

Normally, you resolve this in the C/C++ MSVC compiler with `/GS-` to disable stack security checks, `/Gs999999999` to disable stack probes, and telling the linker `/STACK:0x100000,0x100000` to force it to commit the entire 1MB of stack right away instead

[2019-10-24 05:05] sorccu commented on #65662
On CircleCI you cannot choose the storage driver, though you can opt in to newer Docker versions, which we've done.

`docker info` on CircleCI

[code]

Kernel and Docker versions are fairly recent, but aufs is indeed being used.

I also tried @oxalica 's snippet on a standard `ubuntu:xenial` image which produced the following output:

[code]

Now, CircleCI may or may not be doing something unortho

[2019-10-24 05:08] petrochenkov commented on #65748
+1
If `Copy` is implemented for a union with non-copy fields, it undermines all the remaining move/initialization checking for unions.

[2019-10-24 06:02] popzxc commented on #63340
Results of `cargo bench` on my machine (core i3-8100):

[code]

[2019-10-24 06:02] est31 commented on #48683
@ehuss now that #6989 and #7504 have been merged, can we maybe think about stabilizing the core `profile-overrides` feature? I'm mainly interested in the "only optimize dependencies" use case and it seems that feature alone would unlock it.

[2019-10-24 06:14] estebank commented on #57413
@kevgrasso sadly, we do not have any way to test correct application of colors in the test suite. Attach screenshots to the PR so that we can see the changes, but we have to rely on being extra careful when touching this part of the codebase.

[2019-10-24 07:13] jimbo1qaz commented on #46276
I encountered a similar issue with terrible error messages. While my case (&mut) was resolved in Rust 1.37.0, OP's test code (MutexGuard) is not resolved.

When I first started learning Rust, I had written code similar to this:

[code]

For my original code, the error is now much better (testing in the Rust Playground). The error was apparently fixed in https://github.com/rust-lang/rust/commit/1e3

[2019-10-24 07:16] #65383 closed

[2019-10-24 07:16] #65571 closed

[2019-10-24 07:17] rust-highfive opened #65754 "`clippy-driver` no longer builds after rust-lang/rust#65733"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#65733, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and nominating f

[2019-10-24 07:27] RalfJung commented on #55149
There are certainly some open questions / TODOs in the tracking issue here and in [the other one](https://github.com/rust-lang/rust/issues/32836). In particular I'd like to make sure we have test coverage for the [examples in the RFC](https://github.com/rust-lang/rfcs/blob/master/text/2514-union-initialization-and-drop.md#union-initialization-and-drop) and these concerns/questions copied from the

[2019-10-24 07:31] RalfJung commented on #65737
Wait, what? I was under the impression that we *first* check `Copy` and only if that fails, force promotion. For us to use explicit promotion rules, failure to promote *must* imply failure to compile.

I think we do. The reason we are so strict is that code might do things (in particular, code inside `const fn` in other crates) that fails during CTFE but would succeed during run-time -- there migh

[2019-10-24 07:52] estebank commented on #47319
@dkadashev I believe that is indeed the case.

[2019-10-24 08:13] hellow554 commented on #65751
Can't you just define a dummy function, e.g. `#[no_mangle] extern "C" fn __chkstk () {}`? There is a similar issue with `_Unwind_Backtrace` I encounter from time to time.

[2019-10-24 08:44] VeaaC opened #65756 "Do not derive Clone/Copy/etc for opaque types"
Currently bindgen will generate code that derives for opaque types, e.g.:

[code]

[code]

This has several problems:
* If a user can obtain a reference to a type they can clone it, even though that is normally only possible through FFI calls, and will almost always result in UB
* It prevents a user from implementing those traits on their own

The only current solution seems to be to turn of those

[2019-10-24 09:02] stefson opened #65757 "use xz files for stage0 download if on system with xz"
I noticed that if `./x.py` is run from a git checkout, the build script downloads the rust-std and rustc, and cargo stage0 archives from static.rust-lang.org in the tar.gz format. Those are a lot bigger in size than the also delivered tar.xz files, usually adds some 30% in download time and consumed bandwith. Do you think you could possibly change the script to use `tar.xz` in the future?

here's

[2019-10-24 09:05] phaazon commented on #41517
Yep, I got you. I got that need too. Thanks for clarifying.

[2019-10-24 09:09] mati865 commented on #63340
Maybe something has fixed it already (like LLVM update).
@Stargateur @csmoe could you try with latest nightly and provide more details if you can still reproduce it?

<details>
<summary>current nightly on Arch Linux (Ryzen 2700X):</summary>

[code]

</details>

[2019-10-24 09:21] csmoe commented on #63340
@mati865 yes, `for_each` faster still holds with ` Intel(R) Xeon(R) Silver 4114 CPU @ 2.20GHz` and the same rustc as yours.

[2019-10-24 09:23] jonas-schievink commented on #65751
This is unsound, so I'm not sure if it should be offered as a regular command line flag. What's the use case of writing a `no_std` MSVC binary?

[2019-10-24 09:24] jonas-schievink commented on #65756
Wrong repo, please file this in https://github.com/rust-lang/rust-bindgen

[2019-10-24 09:38] pnkfelix commented on #65684
triage: P-medium. Removing I-nominated.

[2019-10-24 09:41] pnkfelix commented on #65673
triage: P-medium. removing nomination label.

reasoning: you get the feature flag diagnostic, including the span of the offending code and the suggestion of what to write. So this is reasonable for users to deal with, even with the ICE. (as opposed to cases where the ICE occurs without any useful output for the user.)

[2019-10-24 09:41] lzutao commented on #65754
There is opening PR to fix this: https://github.com/rust-lang/rust-clippy/pull/4650

[2019-10-24 09:45] pnkfelix commented on #65582
@jonas-schievink my understanding, based on the description, is that this is stable-to-stable regression that already has a fix that has ridden the trains to beta, not a stable-to-beta regression.

[2019-10-24 09:48] pnkfelix commented on #65582
(unless the tagging as a regression is due to it being a user observable change in behavior from "stable rust". I need to track down what the behavior of this has been over time...)

[2019-10-24 09:56] pnkfelix commented on #65582
If this *is* "just" a change in observable behavior, where we had "always" accepted the code previously, then I don't think there is any motivation to do a backport-to-stable; there is no need to speed up how soon the change lands. (If anything, we should be trying to evaluate the fallout from the change, and deciding if we need to do a *revert* of the change on beta. But I think the crater report

[2019-10-24 09:57] mati865 commented on #63340
@csmoe are you running on Windows?

On Windows 10 (the same PC) windows-gnu toolchain:
[code]

[2019-10-24 10:00] csmoe commented on #63340
@mati865
[code]

[2019-10-24 10:03] pnkfelix commented on #65582
Okay, so it looks like if you revise the test to work in older versions of Rust (by using `Box<Trait>` instead of `Box<dyn Train>` and fixing the call to `drain` to pass a range), then this has been accepted by the compiler ever since `impl Trait` in return position was stabilized, back in Rust 1.26.0.

So then the question is whether this is an old known bug in `impl Trait`; if not, then the ques

[2019-10-24 10:04] pnkfelix commented on #65582
I think resolving the questions in the previous comment is part of T-lang, not just T-compiler. Tagging with T-lang and leaving nomination tag in place for discussion at T-lang meeting.

[2019-10-24 10:08] pnkfelix commented on #65582
(also, is this related to #53613 and #51525 ?)

[2019-10-24 10:17] pnkfelix commented on #65582
triage: P-high. Leaving nomination tag in place, for both T-compiler and T-lang.

[2019-10-24 10:20] pnkfelix commented on #65581
triage: P-high. Removing nomination label.

reasoning: ICE is pretty inscrutable, and there's no other error diagnostic, so this is a frustrating scenario for the end user. But removing nomination because there isn't really anything to discuss amongst team beyond the prioritization.

[2019-10-24 10:21] julianlalu commented on #47133
I have the same problem when the crate have lib that define pub type and function ( actually extern "stdcall" pub fn ) and a bin that use the lib in the same crate.
#[test] in the lib do not complains, but binary complains about all imports that is not used
type alias is never used, associated const is never used and foreign function is never used.

[2019-10-24 10:27] pnkfelix commented on #65577
triage: P-high for finishing the triage. (Muchas gracias to @matthewjasper for the triage they did up above, reducing it down to only five cases remaining to investigate.)

Leaving nominated for discussion, because I would like to know if we failed to follow through on triaging the regressions because of some process failure, or was the process working as best it could, and we simply ran out of ti

[2019-10-24 10:37] pnkfelix commented on #65553
Hmm, I didn't know that adding a "syntactically trivial bound" could cause something like this. Is there some implicit bound that gets added in cases like this?

[2019-10-24 10:59] elichai commented on #48683
Almost opened a new issue and then saw this.
I want to change globally the default that all release builds will also be built with `-Clto`.
this isn't easy to do in a shell function without having a complicated one (i.e. requires checking on `cargo install` if `--debug` is set and on `cargo build` if `--release` is set)

[2019-10-24 11:04] pnkfelix commented on #65553
minimized test case ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fa7ec37b4eff974b2a2da9f59d109b42)):

[code]

[2019-10-24 11:09] Twey opened #65760 "musl staticlib builds include all of the musl symbols"
## Observed Behaviour

If I produce a simple `staticlib` crate for the `x86_64-unknown-linux-musl` target, I get a `.a` file that includes all the symbols from musl, including standard libc symbols like (for example) `readlink`.  This makes it impossible to link this library into a C program that links against libc itself (or another Rust staticlib) as the linker will fail with duplicate symbol er

[2019-10-24 11:09] pnkfelix commented on #65553
The minimized  test worked in previous stable Rust versions (at least in 1.33 under 2015 edition; though 2018 edition breaks there, which indicates this is with 99.999% certainty injected by MIR-borrowck...)

[2019-10-24 11:10] pnkfelix commented on #65553
triage: P-high. Adding self to assignee list.

[2019-10-24 11:16] csmoe commented on #63340
bench result with jemalloc as @mati865 suggested:
[code]

[2019-10-24 11:29] pnkfelix commented on #65515
Just as a reminder for anyone reading: private state (and state that falls under an unstable parent) does not need a stability attribute.

Here is a demo: [play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=35e14aabf0f46568e9e796fc8f7510e9)

But enums are implicitly public (and there's no way to opt out of that), so the proposal here does make some sense to me, at least

[2019-10-24 11:31] pnkfelix commented on #65515
(also, we don't seem to have a tracking issue for `staged_api`, presumably because it is likely to remain forever an internal implementation detail? So I suspect we might consider removing T-lang from the discussion here...)

[2019-10-24 11:32] pnkfelix commented on #65515
triage: Leaving nominated for discussion. Not assigning a priority yet (I would have assigned P-medium since this is mostly internal technical debt, but the point @estebank makes about this soon become end-user visible is a little worrisome to me...)

[2019-10-24 11:38] pnkfelix commented on #65391
triage:  P-high (unless someone in WG-embedded says it should not be so high priority), removing I-nominated

[2019-10-24 11:40] pnkfelix commented on #65515
wait, are you *sure* we're going to point users to spans *inside* `libcore` and `libstd`? I would have assumed that such spans are not displayed in any diagnostics.

[2019-10-24 11:45] pnkfelix commented on #65523
triage: P-high

[2019-10-24 11:47] pnkfelix commented on #65522
triage: P-high

[2019-10-24 11:49] pnkfelix commented on #65521
triage: P-high to decide whether to close as known-bug with no deprecation lint. Nominating for discussion at T-compiler meeting to decide above.

[2019-10-24 11:51] pnkfelix commented on #65520
triage: P-high to get to bottom of what happened.

[2019-10-24 11:56] Mark-Simulacrum commented on #65577
Mostly process failure -- I had thought that we had already triaged all the regressions given @petrochenkov's comments on the crater issue, and as such did not follow up to file issues that would've brought it to T-compiler's attention. I expect that the rule going forward should be that triage _never_ is just leaving comments, we should always file at least one issue with T-compiler nomination.

[2019-10-24 12:16] JohnTitor commented on #53092
The ICE doesn't appear with the latest example on the latest nightly

[2019-10-24 12:34] steveklabnik commented on #28640
Triage: i don't have a mac, so I can't re-try this. The original report was in 2015, a couple of comments in 2017. Lots has changed. Can anyone reproduce this?

[2019-10-24 12:39] davidtwco commented on #65667
I can confirm that with #65345 that the error message is improved in this case:

[code]

[2019-10-24 12:43] davidtwco commented on #65436
Assigning to myself as this is a case I'd hope to tackle in #65345. It isn't currently handled by that PR, as the current diagnostic improvements only work when the error originates from an `async fn`, not `async { }`.

@rustbot claim

[2019-10-24 13:06] mati865 commented on #63340
@Stargateur I compiled Rust with https://github.com/rust-lang/rust/issues/63340#issuecomment-518919638 but it gave me slightly worse results on windows-gnu toolchain (linux-gnu toolchain doesn't reproduce the issue for me, most likely because I have latest glibc).

@hbina if you still want to work on this issue you will have to create environment where you can reproduce the slowness (maybe running

[2019-10-24 13:42] dbrgn commented on #65667
@davidtwco thanks for checking! This is indeed much better.

Now the question is whether the `rc` could automatically be dropped before the `await` call if it's not being used afterwards...

[2019-10-24 13:45] davidtwco commented on #65667
There was [discussion about that](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async-foundations/topic/future-not-send.20diagnostic.20.2364130/near/178661566) in Zulip which might be of interest to you.

I wonder if there is something we could do in this diagnostic when the destructor is the reason that the type lives across the await point to help explain this.

[2019-10-24 13:53] dbrgn commented on #65667
Hm, it demands a login. What's Zulip? Is that an official channel? (Seems that Rust discussions are now distributed across Discord (official), the Forum (official), Matrix (embedded) and Zulip (?)... :confused:)

[2019-10-24 13:55] davidtwco commented on #65667
Zulip is an official channel, but it isn't used by all the teams, mostly the compiler team. We've spoken to Zulip about allowing logged out users to read, that's tracked in zulip/zulip#13172. I'm going to mark both our comments as off-topic so we don't derail this issue.

[2019-10-24 14:09] qwerty19106 commented on #61522
Now it is ICE:
[code]

[2019-10-24 14:09] nikomatsakis commented on #65523
Based on @petrochenkov's comment, it sounds like we plan to fix this in some form, and hence I am marking this as P-high.

I'm not clear though on **who** is going to fix this and **how** -- I'm going to re-assign @petrochenkov (as well as @XiangQingW) -- but perhaps somebody could clarify exactly which steps they plan to take? Sounds like maybe fixing https://github.com/rust-lang/rust/issues/6233

[2019-10-24 14:16] nikomatsakis commented on #65521
We discussed at the @rust-lang/compiler meeting and decided that the scope of this fallout doesn't merit a future compatibility warning. Therefore, I am closing this issue.

[2019-10-24 14:16] #65521 closed

[2019-10-24 14:27] Lokathor commented on #65751
@jonas-schievink Producing a maximally portable binary. Or even just as a "C parity" issue. We can already do all sorts of unsound things with the command line flags, this wouldn't be breaking new ground.

@hellow554 I'm lead to believe that the stack itself can be fragmented because of how rust/llvm builds things, so it's not sane to make it simply "do nothing", but I will experiment with such a

[2019-10-24 14:38] jonas-schievink commented on #65582
According to https://github.com/rust-lang/rust/issues/65527#issuecomment-544005571, soketto 0.2.0 [broke](https://crater-reports.s3.amazonaws.com/beta-1.39-rustdoc-1/beta-2019-09-28/gh/efb9-860a-e752-0dac.rustchal/log.txt)

[2019-10-24 14:40] nikomatsakis commented on #65561
I'm tagging this as E-needs-bisection -- it'd be good to know exactly what broke this!

[2019-10-24 14:44] nikomatsakis commented on #64872
Removing nomination label since it seems like this is in hand.

[2019-10-24 14:50] VeaaC commented on #65756
Arghs, sorry for that, no idea how I managed to mess that up.

[2019-10-24 14:59] alexcrichton commented on #65610
I don't think you need the `kind` on the block since the kind is specified on the command line and that overrides what the block says, but yes adding this documentation to `cc` seems fine.

[2019-10-24 15:00] memoryruins commented on #65751
rustc has a deprecated flag `no-stack-check`
[code]
but looking further it doesn't seem like it ever affected `__chkstk` https://github.com/rust-lang/rust/commit/bc3831b7303b10781327d270dca2524cefdbff3d#commitcomment-8110134
If you have a custom target.json, e.g. with xargo, try adding `"stack_probes": true,` like in https://github.com/rust-lang/rust/pull/56913
<sub> Note: I have no idea if that w

[2019-10-24 15:04] ecstatic-morse commented on #65737
For non-`Copy` arrays, failure to promote _does_ imply failure to compile. For `Copy` arrays, promotion is not involved at all. If we were to make array initialization occur unconditionally at runtime, promotion will not be involved ever. In this scenario as well as the status quo, we fail to compile if we ever try to promote the initializer and fail. The fact that we only *sometimes* try to promo

[2019-10-24 15:07] vojtechkral opened #65765 "Panicking doesn't work on arm-unknown-linux-musleabi"
Noticed a regression when running tests with a latest nightly on our xilinx arm machine. This seems to be caused by 5941acd80faaf9043cb48737c47d0b94023eddc3 - with Rust 1.38 stable toolchain, panicking works as expected.

With current nightly, when I build a simple program that just panics, I get:

[code]

With libunwind debug env vars turned on, I get:

[code]

Some of the addresses above:
- `0x2

[2019-10-24 15:18] XiangQingW commented on #65523
I'll spend some time to dive into the issue this weekend.

[2019-10-24 15:24] Centril commented on #65523
This already has an outstanding PR in https://github.com/rust-lang/rust/pull/65539.

[2019-10-24 15:31] pietroalbini opened #65767 "Remove msys2 hacks and vendor the whole thing"
On 2019-10-24 we had a CI outage due to the ca-certificates msys2 package being broken. The hack @mati865 implemented (:heart:) is to download an older, known good package beforehand and install it after msys2 updated its packages.

Once https://github.com/msys2/MINGW-packages/issues/5887 is fixed we should revert the hack, but I think at this point it's worth investing in vendoring msys2 as a who

[2019-10-24 15:35] afranchuk commented on #65744
Good point, you'd have to move the `finish()` method from `Hasher` to a separate trait. The only thing `Hash` should care about is the write methods of `Hasher`, I think? So yeah, a breaking change...

[2019-10-24 15:39] Centril commented on #65748
The current behavior does fortunately seems to enforce the "all variants" behavior:
[code]
results in an error:
[code]

I agree that it is a sensible conservative default.

[2019-10-24 15:46] estebank commented on #65515
@pnkfelix [the PR that would make this a more pressing matter](https://github.com/rust-lang/rust/pull/65421) is being held up on this. I might merge the PR without pointing at `std` for now, but we do need to resolve this as we'll likely start pointing more and more into the stdlib, within reason.

[2019-10-24 15:47] Quantumplation commented on #58729
@rustbot claim

I'd like to pick this up as my first contribution.  @jakubadamw had said (on the duplicate) that he intended to work on this, but it's been a few months, so I'm not sure if he's lost interest or not.

I started to work on this, and I figured first step would be to write a ui test for it.  I notice that by now there's a few `dead-code` related tests.  Is there a policy around moving

[2019-10-24 15:49] alexreg commented on #41517
@wdanilo No problem, just a miscommunication then... I appreciate you elaborating!

[2019-10-24 15:57] jeffvandyke commented on #21690
If it helps, a good benchmark comparison article between C++ and Rust floating point optimizations ([link](https://www.reidatcheson.com/hpc/architecture/performance/rust/c++/2019/10/19/measure-cache.html)) inside loops was written recently (Oct 19), with a good [Hacker News discussion](https://news.ycombinator.com/item?id=21342501) exploring this concept.

Personally, I think the key is that witho

[2019-10-24 15:59] jackmott commented on #58729
@Quantumplation I can't speak for the rust maintainers but generally it is greatly preferred to just have one thing per PR.  I would do the test organization as a separate pr.

[2019-10-24 16:03] pedrocr commented on #21690
That's not the case in the article. The clang compilation was using `-Ofast` which apparently enables `-ffast-math`.

[2019-10-24 16:04] crlf0710 commented on #65767
msys2 is using `pacman` and other tools from archlinux distro. Arch Linux provides per-day official repositories snapshots. User can "pin" to a specific date. I think it is possible to reuse that  mechanism to vendoring msys2 as a whole, by providing a mirror of a specific date's version.

See here for more descriptions [about it](https://wiki.archlinux.org/index.php/Arch_Linux_Archive).

[2019-10-24 16:29] eddyb commented on #65737
Did we fix this though? I forget if we actually added that check.

[2019-10-24 16:32] mati865 commented on #65767
@crlf0710 that would be nice but msys doesn't remove old packages from their repo so the mirror would be enormous.
Search for `mingw-w64-x86_64-qt5` in http://repo.msys2.org/mingw/x86_64, only those packages take dozens of GiB.

Also extracting it from archive would make CI a bit faster because you won't be modifying thousands of small files over and over. On Linux that is not a problem but `pacma

[2019-10-24 16:38] ecstatic-morse commented on #65737
@eddyb You're correct. On nightly, all array initializers are promoted [if the feature is enabled](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bfa7db743bb50a6a7adca735ea959255) (look at the generated MIR).

[2019-10-24 16:40] eddyb commented on #65737
This is what I want that table to look like btw, if not obvious:

|  Promotion Context  | Allows `Drop`  | Allows `const fn` calls |
| ------------------------- | ------------- | ------------- |
| `&expr`                    | :x:   | :x:  |
| `[expr; 4]`                 | :heavy_check_mark:   | :heavy_check_mark:  |
| `simd_shuffle(expr)`|    :heavy_check_mark:     |  :heavy_check_mark:    |

The

[2019-10-24 16:56] davidtwco commented on #46477
Assigning this to myself, going to be working on this optimisation as my master’s thesis.

@rustbot claim

[2019-10-24 16:57] jakubadamw commented on #58729
@Quantumplation, I didn't really lose interest. While investigating a fix I got blocked by https://github.com/rust-lang/rust/issues/63091. I think you'll hit it too, though maybe you'll come up with a good idea around it.

[2019-10-24 17:17] matthiaskrgr opened #65768 "diagnostics: suggest putting type behind binding variable in case of match x -> type"
While doing some refactoring I accidentally  ended up with something like this:
[code]

[code]
Obviously  I wanted `let x: type` instead of `match -> type` :sweat_smile:

[code]

Perhaps the compiler could detect this and suggest putting the type after the binding variable?

[2019-10-24 17:23] Quantumplation commented on #58729
@jakubadamw following @estebank's suggestion in the other issue about using `ident` seems to have circumvented the broken span thing.  I'll get a PR up soon in case I'm missing something :)  Just gotta wait for these 9207 tests to run... 😛

[2019-10-24 17:48] Quantumplation commented on #58729
@estebank Do you think I should use the ident span for other constructs as well (struct, enum, etc?)  Or keep it to just functions?

[2019-10-24 17:52] estebank commented on #58729
@Quantumplation we should prefer the ident span whenever possible, but be mindful of the output, as there are some cases where pointing at just the ident might be misleading (like when talking about lifetimes or wanting to point at the whole enclosing span). I think almost all cases where we use `def_span(span)` can be replaced with pointing at the ident's span.

[2019-10-24 18:00] DustinByfuglien commented on #60755
May be "F-trait_alias" label needed for this issue.

[2019-10-24 18:07] Centril commented on #65768
This feels too random to me. Other than you accidentally typing it out, I don't think the sequence `$expr -> $type` is something of a common mistake. Moreover, the suggestion is from the POV of the AST fairly non-local and hacky to achieve with a recursive decent parser.

Imo I don't think we should add recovery for this case, at least not until we have stable type ascription (which would make the

[2019-10-24 18:16] ehuss opened #65770 "libtest --include-ignored nightly-gating is confusing"
The libtest `--include-ignored` flag is intended to be unstable, but it does not present a clear way to use it.

[code]

Hmm, I'm running on nightly.  Only through some sleuthing can one find out that you have to pass `-Zunstable-options` to make it work:

[code]

There are several issues here (some of which were noted in the [original PR](https://github.com/rust-lang/rust/pull/53527#issuecomment-

[2019-10-24 18:37] nikomatsakis commented on #57893
Update: I've got a working prototype now that removes the object candidate, based on the model I described. It is able to bootstrap successfully but for some reason I do not yet understand it afils miserably at running tests, which all die with some obscure ICE while loading the stdlib. Investigating.

[2019-10-24 18:39] nikomatsakis commented on #65582
Hey @twittner -- it looks like soketto 0.2.0 was affected by a recent bug fix that we did as part of the async-await work. Let us know if you need any help fixing the fallout.

[2019-10-24 18:50] nikomatsakis commented on #63197
We discussed this in [our 2019-10-10 meeting](https://github.com/rust-lang/lang-team/blob/master/minutes/2019-10-10.md) -- we considered a proposal by @RalfJung. We didn't reach any firm decisions but at least some people thought that this seemed reasonable:

* `const <expr>` — explicit const-promoted expression form (“anonymous constant”)
* forever decide not to “promote” `*<expr>`
* loosen the v

[2019-10-24 19:32] bradjc opened #65774 "ICE: errors resolving bounds after type-checking for fmt::Display"
pnkfelix: here is the reduced test case ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=46caf21e71c9806d7d8fe431b06c84a0)):

[code]

(Sadly I have not been able to reduce it further. But this should serve us well enough.)

Original bug report follows:

----

I'm getting a compiler error when trying to compile:

[code]

I'm compiling for the `riscv32imac-unknown-non

[2019-10-24 19:35] varkor commented on #65748
There don't seem to be any sensible alternatives to the current behaviour. What else could the condition possibly be?

[2019-10-24 20:11] #65692 closed

[2019-10-24 20:12] nikomatsakis commented on #65748
@rfcbot fcp merge

We discussed this in today's @rust-lang/lang meeting and we all felt that this behavior seemed like the obvious and correct one. It is also the one that is presently implemented. Moreover, it's a *conservative* choice -- if we wanted to permit `Copy` impls under more conditions, we could do so at some later point. Therefore, I move that we "merge". (Since the behavior is already

[2019-10-24 20:14] nikomatsakis commented on #65477
We discussed this in today's @rust-lang/lang meeting. I wouldn't say that there was much of a strong opinion. On the one hand, you can *imagine* cases where you would intentionally have overlap, but that's always true, and the scenario didn't seem super compelling (example: pre-existing constants for various ranges, and you want to give one range precedence). On the other hand, this doesn't feel l

[2019-10-24 20:21] nnethercote commented on #60869
#65545 finished this off.

[2019-10-24 20:23] nikomatsakis commented on #65582
Looking more closely at this example, I am not convinced that this is related to #62849. If it were, I would expect an error message like

That said, this *does* really look like a bug fix -- I am pretty unclear on what fixed it, but I'm glad it got fixed! (Maybe we want to mark this as E-needs-test, even?)

[2019-10-24 20:25] nikomatsakis commented on #65582
It also used to compile with `Vec`:

[code]

[compiles on stable, but not nightly](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e71ddd385cc651b1a62affcb301b812e)

[2019-10-24 20:25] nnethercote commented on #65487
@michaelwoerister: Do you know anything about this? If you could point to me where debug info is produced in rustc, that would be helpful. Thanks.

[2019-10-24 20:30] petrochenkov commented on #65748
The current behavior is [not accidental](https://github.com/rust-lang/rust/pull/36016#issuecomment-242948929) and it has a test (`union-copy.rs`).

[2019-10-24 20:31] nnethercote commented on #60869
#65776 is a final follow-up that just cleans some stuff up.

[2019-10-24 20:39] aidanhs commented on #65760
The culprit is likely https://github.com/gnzlbg/libc/blob/e07cd949b0f5f30c009066b8c074ae32afd7feed/src/unix/mod.rs#L299-L305, where musl libc is unconditionally statically linked in when including the rust stdlib with "crt-static".

When working with @Twey on this, our general observation was that:
 - it's not a good idea to put libc in a staticlib
 - it's not a good idea to put libc in a cdylib

[2019-10-24 20:44] Centril commented on #65515
I've personally wanted to add privacy annotations to enum variants, so while the default would still be implicitly private, if we add such annotations, we'd need to remember to change the behavior here.

[2019-10-24 20:45] Centril commented on #65515
Worth noting that these stability annotations serve as documenting the history of additions. This seems relevant when considering `non_exhaustive` enums.

[2019-10-24 20:45] mati865 commented on #65760
@aidanhs there was an attempt to do it, detailed discussion is available at https://github.com/rust-lang/libc/pull/1327

[2019-10-24 20:51] estebank commented on #65515
Currently the stable attribute is needed in 3 different levels (4 places in this case). Removing the need in at least one of them would be a win in my eyes.

[2019-10-24 20:57] ecstatic-morse commented on #65582
#62849 also had a full crater run, which should have caught this (although sometimes the crate lists are updated).

[2019-10-24 21:40] Centril commented on #65774
If possible, could you please provide a self-contained example that ICEs on e.g. the playground?

[2019-10-24 21:51] twittner commented on #65582
Thanks @nikomatsakis! This was fixed by https://github.com/paritytech/soketto/pull/1 and published as version 0.2.3 of soketto on 2019-08-19.

[2019-10-24 22:03] Pzixel commented on #24066
Small example to illustrate the problem (I do velieve it's the same):

[code]

[2019-10-24 22:18] pnkfelix commented on #65582
(so was this in fact fixed by #63376 ?  that might make sense...  )

[2019-10-24 22:33] Centril commented on #65582
Heh; I've even left a comment wrt. soketto in that PR. 😆

[2019-10-24 22:38] bradjc commented on #65774
Hmm...I tried creating a small example, but I can't seem to replicate the behavior. I'm not really sure what is happening to cause it.

I have found that the error occurs even though I'm not actually creating an object of type `PMPConfig`. However, if I remove

[code]

from a different crate which is where the fmt function would get used if I did create something of the type then the error does no

[2019-10-24 22:39] Quantumplation commented on #58729
@estebank I'm only going to focus on the dead-code case, and if you think it's worth it, i'll follow up with a more extensive PR where I evaluate other `def_span` cases for replacement.  Want to keep my first contribution small :)

[2019-10-25 00:14] mathstuf commented on #45048
Doesn't seem to work on stable today.

[2019-10-25 00:54] sunjay opened #65784 "Improve error message for `impl Self`"
Suppose you have the following reduced code example:

[code]

This gives you the error message:

[code]

This is confusing because there isn't actually any obvious cycle (unless you know things about compilers). E0391 actually describes itself with an example like this:

[code]

This looks nothing like the original code example.

We should probably detect this case and provide a more useful messag

[2019-10-25 01:32] comex commented on #17219
There is still weirdness in this area, but `-C rpath` does have an effect now, so closing.

[2019-10-25 01:32] #17219 closed

[2019-10-25 01:42] comex commented on #28640
In my previous post here (from 2017), I think I pasted the rpath not of a toolchain dylib but of a binary compiled with `-C prefer-dynamic`; sorry for not making that clear then.  Let's try this again.

`LC_ID_DYLIB` and `LC_LOAD_DYLIB` still use rpath:
[code]

Here is the rpath for a dylib from the toolchain:
[code]

No `/usr/local/lib`, which is good.  `@loader_path` is documented in `man dyld`

[2019-10-25 02:00] Centril commented on #65784
I'm curious how `impl Self { ... }` happened -- can you describe the scenario?

[2019-10-25 02:00] anp commented on #47809
I have [a PR](https://github.com/rust-lang/rust/pull/65664) ready for review implementing `core::intrinsics::caller_location` and preparing the panicking infrastructure to use its return value. This lays the groundwork for propagating caller location as a single pointer-sized implicit variable through `#[track_caller]` functions, which is up next.

I'm using this [paper doc](https://paper.dropbox.

[2019-10-25 02:31] icefoxen opened #65788 "`measureme` flame graphs have lots of missing info"
From the "Where rustc spends its time" article, I got a [request](https://www.reddit.com/r/rust/comments/dlk3fj/article_where_rustc_spends_its_time/f4r5oen?utm_source=share&utm_medium=web2x) to make a bug report.  So, here it is.  This is not a terribly *minimal* reproduction, unfortunately, but hopefully it's still useful for someone.

Basically, the flame graph produced from the results of `meas

[2019-10-25 03:41] ecstatic-morse commented on #65737
Trying to implement this has made me a bit more cautious around allowing `NeedsDrop` values (i.e. `Vec::new()` but not `Option::<Box<i32>>::None`). What would happen if `Box::new` were to become a `const fn`? I don't think we can allow `[Box::new(4); 2]`, since most reasonable implementations would create two `Box`es pointing to the same underlying allocation. Changing the semantics so that the ex

[2019-10-25 04:14] #60286 closed

[2019-10-25 04:14] #65611 closed

[2019-10-25 04:14] #65679 closed

[2019-10-25 04:44] retep998 commented on #65751
You *need* stack probes on Windows, otherwise functions that use over one page of stack space might overstep the guard page and do horrible things. Please don't pursue this course of action.

[2019-10-25 04:53] scottmcm commented on #65669
If anyone wants this, I suggest they just make a PR.  This is a small thing that just needs some libs teams eyes on it to see what they think.  (I'm personally not a fan of this, and would rather invert whatever's in the closure, but it's not up to me.)

[2019-10-25 05:15] eddyb commented on #65737
It's the same as `const X = Box::new(4); [X, X]` - we wouldn't allow that either, and it wouldn't be based on the presence of `Drop`.

[2019-10-25 05:25] ecstatic-morse commented on #65737
What differentiates that code from the version with `Vec` replacing `Box`
though? How can we justify one without the other?

On Thu, Oct 24, 2019, 22:16 Eduard-Mihai Burtescu <notifications@github.com>
wrote:

[2019-10-25 05:28] eddyb commented on #65737
I don't know, to be honest. That's a question for @oli-obk I guess.

[2019-10-25 05:47] Centril commented on #65745
cc @nikomatsakis

[2019-10-25 06:03] #59489 closed

[2019-10-25 06:09] Centril commented on #54892
Nothing has happened here for over a year so I think the issue doesn't carry it's weight.

[2019-10-25 06:09] #54892 closed

[2019-10-25 06:10] #48924 closed

[2019-10-25 06:29] semarie opened #65795 "rustdoc on nightly: found two different crates with name `bitflags` that are not distinguished by differing `-C metadata`"
on OpenBSD, I am currently unable to build rust 1.40.0-nightly due to failure with bitflags metadata.

I am downloading `rustc-nightly-src.tar.gz` and build it using rustc beta. The build is done using vendored crates.

The config.toml file used is:
[code]

The build fail when building `rustdoc`:
[code]

Below is my build log output.

[code]

[2019-10-25 06:44] khionu commented on #21319
Suggestion that should be forwards compatible: a function that manually clones the builder, then calls that new builder's spawn. A single function can be deprecated and implementation adjusted.

[2019-10-25 07:15] oli-obk commented on #65737
Please direct all your const heap related questions to https://github.com/rust-rfcs/const-eval/issues/20

It is not a problem, because `Box::new(42)` may never end up in a final constant as per the linked issue above. So `[Box::new(42); 2]` is not ok, but `[vec![]; 2]` and `[Vec::new(); 2]` are. The reason is twofold:

1. if there are no heap allocations, the value may be in a constant as per toda

[2019-10-25 07:22] eddyb commented on #65737
@oli-obk I think you've fallen again in the trap of assuming no polymorphism.
I don't see how you can tell whether allocations exist without looking at the final value (or using symbolic evaluation? but that can't work for associated consts)

[2019-10-25 07:28] pitdicker opened #65796 "Soundness of std::sync::Once"
While working on a refactor of `std::sync::Once` in https://github.com/rust-lang/rust/pull/65719 I stumbled across multiple soundness issues. I now believe the current algorithm that queues waiting threads in a linked list with nodes an the stack of each waiting thread is not worth the complexity.

#### Thread may be parked forever
[Code](https://github.com/rust-lang/rust/blob/master/src/libstd/sy

[2019-10-25 07:32] Centril commented on #43148
This is no longer the case.

[2019-10-25 07:32] #43148 closed

[2019-10-25 07:36] Centril commented on #65796
cc @RalfJung @matklad @alexcrichton

[2019-10-25 07:41] SimonSapin commented on #65721
This caused a regression in html5ever because the prelude macro becomes ambiguous with a macro that was brought into scope by a glob import: https://github.com/servo/html5ever/pull/402

@rust-lang/lang, could we make that situation not an error? It seems that we could resolve the ambiguity in favor of the glob import since it is "more local" to the rest of the code in the module.

[2019-10-25 07:44] matklad commented on #65796
Heh, I remember almost filing an issue about this as well, but I believe the code is correct. Specifically, if a thread is unparked before it is parked, it will not block. [Docs](https://doc.rust-lang.org/stable/std/thread/fn.park.html)

[2019-10-25 07:47] #32836 closed

[2019-10-25 07:47] #65189 closed

[2019-10-25 08:21] eddyb commented on #65721
cc @petrochenkov

[2019-10-25 08:29] novacrazy commented on #63959
Is there anything I can do to speed up fixing this issue? It's been nearly two months since I've been able to compile benchmarks, and it's interfering with my work.

[2019-10-25 08:46] LukasKalbertodt opened #65798 "Tracking issue for by-value array iterator (feature `array_value_iter`)"
This is a tracking issue for `core::array::IntoIter`. Implemented in https://github.com/rust-lang/rust/pull/62959.

Blocked by:
- [x] Const generics (https://github.com/rust-lang/rust/issues/44580)

Unresolved questions:

- [ ] Can/should we add an `IntoIterator` impl for arrays? (see #65819 to discuss)
- [ ] Do we want to add a method like `owned_iter` to arrays (returning `array:IntoIter`) ?

[2019-10-25 09:26] mati865 commented on #63959
I think it's coincidence but this example with `cargo_metadata = 0.9` does *not* reproduce the crash, maybe you can use it as workaround.

[2019-10-25 09:36] michaelwoerister commented on #65487
It looks like setting debug locations for instructions always goes through `set_debug_location`:
https://github.com/rust-lang/rust/blob/9ebf47851a357faa4cd97f4b1dc7835f6376e639/src/librustc_codegen_llvm/debuginfo/source_loc.rs#L60

I don't know where the zeros are introduced though. It might have to do with macros.

[2019-10-25 09:43] michaelwoerister commented on #65487
And `set_debug_location()` is transitively called from `set_debug_loc` when building LLVM IR from MIR, where the span in question comes from a `mir::SourceInfo`:
https://github.com/rust-lang/rust/blob/e369d87b015a84653343032833d65d0545fd3f26/src/librustc_codegen_ssa/mir/mod.rs#L97-L104

I suspect that those `mir::SourceInfo` values already contain the zero lines (but it would be good to verify).

[2019-10-25 09:49] #39524 closed

[2019-10-25 09:52] novacrazy commented on #63959
I don't actually use `cargo_metadata` directly, it was just one of the many crates that was previously crashing rustc. However, on my system `criterion` almost always crashes rustc, or even somehow compiles but hangs during execution (#65618). It's very unpredictable, and sometimes works on tiny one-crate projects, but for my primary work project workspace, it's totally unusable. Even compiling no

[2019-10-25 09:59] SimonSapin opened #65801 "Clarify guarantees for `Vec` and `String` allocation"
Similar to what https://github.com/rust-lang/rust/pull/58183 did for `Box`, I think we should document a guarantee that `Vec<T>` and `String` are allocated through the standard library’s global allocator.

Namely:

* It is valid (under some conditions) to pass a pointer allocated with `std::alloc::Global` (or corresponding free functions in `std::alloc`) to `Vec::from_raw_parts`.

* It is valid (u

[2019-10-25 10:12] dutchmartin opened #65802 "Rustdoc does not display a table in some cases involving whitespaces"
When placing a space between the line comment start `//!` and the start of the table `|`, the table does not render properly:
[code]
![image](https://user-images.githubusercontent.com/5509155/67560443-2f39b700-f71b-11e9-94b5-f803586442f9.png)

If you remove the spaces, it works:
[code]
![image](https://user-images.githubusercontent.com/5509155/67560585-7627ac80-f71b-11e9-84bc-17be1f716833.png)

I

[2019-10-25 10:17] lqd commented on #65561
Even if #65777 will likely fix this, here's the bisection: a5e7bb3e2bae3e8d31c10de66e91cdcea42a97df, which is the #63043 rollup of:
 - #62423 (Fix cycle error with existential types)
 - #62979 (Cleanup save-analysis JsonDumper)
 - #62982 (Don't access a static just for its size and alignment)
 - #63013 (add `repr(transparent)` to `IoSliceMut` where missing)
 - #63014 (Stop bare trait lint applying

[2019-10-25 10:19] mati865 commented on #63959
Removed previous comment as it was just PEBCAK.

@eddyb not sure it it helps but I reduced `cargo_metadata` to this:
[code]
It does not reproduce directly but crashes when another crate depends on crate with this snippet.
It appears it requires specific combination: derive (de)serialize, enum, doc comment inside, `-Ctarget-cpu=znver1` rustc argument and Windows as the OS. Otherwise it just works.

[2019-10-25 10:22] eddyb commented on #63959
You should use `cargo expand` to get the expanded version of that and start reducing.
I doubt you need serde, just a few traits from it that you could copy over etc.

[2019-10-25 10:32] mati865 commented on #63959
@eddyb I tried `cargo expand` while working on latest comment. It produced this snippet
but it does *not* crash when using it from another crate:
[code]

I'm available on both Discord and Zulip btw.

[2019-10-25 10:36] mati865 commented on #65487
Probably related to https://github.com/rust-lang/rust/issues/65437?

[2019-10-25 10:44] nikomatsakis commented on #65582
OK, I'm going to close this as "expected bug fix with no further action needed". Thanks all!

[2019-10-25 10:44] #65582 closed

[2019-10-25 10:45] nikomatsakis commented on #65582
Note that the PR includes a text that seems like the same basic scenario:

src/test/ui/object-lifetime/object-lifetime-default-dyn-binding-nonstatic1.rs

[2019-10-25 11:11] #65754 closed

[2019-10-25 11:12] rust-highfive opened #65803 "`rls` no longer builds after rust-lang/rust#65764"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#65764, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @Manishearth, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Manishearth, the PR reviewer, and nominating for compile

[2019-10-25 11:26] novacrazy commented on #63959
I encountered another odd behavior with these crashes when creating a crate specifically for custom benchmarks in my workspace.

The file structure is simply the following, with only one binary, because I just started:
[code]
Running the specific binary like `cargo run bench1 --release` appears to work fine right now, no rustc crashes.

However, earlier I accidentally typed `cargo run --release` i

[2019-10-25 11:29] jonhoo opened #65805 "impl Trait does not capture lifetime of generic argument"
According to [RFC 1951](https://github.com/rust-lang/rfcs/blob/master/text/1951-expand-impl-trait.md), `impl Trait` in return position should capture the lifetime of any associated generic parameters. However, in this code, that logic appears not to work ([playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=62d220b0533fcb9530ee5f2c75ac31c4)):

[code]

Specifically, th

[2019-10-25 11:30] novacrazy commented on #63959
Actually, I take that back. I was passing the binary name wrong,

If I instead do `cargo run --bin bench1 --release`, it *also* crashes, even with a single binary.

This makes it impossible to have more than one binary, so I guess I'm screwed again.

One binary magically works, but only if I pass its name incorrectly.

[2019-10-25 12:25] CryZe commented on #65798
For an IntoIterator impl we should probably issue warnings as soon as possible.

[2019-10-25 12:32] michaelwoerister commented on #65564
I'm not sure if there is a reliable way for calling trait methods from inside debuggers yet.

[2019-10-25 12:32] m-ou-se opened #65807 "Tracking issue for slice_ptr_range"
Tracking issue for `slice_ptr_range` added by https://github.com/rust-lang/rust/pull/65806. See https://github.com/rust-lang/rfcs/pull/2791

[2019-10-25 12:35] steveklabnik commented on #47114
Triage: it's not clear to me there's a bug here, but I'll let @rust-lang/libs decide.

[2019-10-25 12:44] sfackler commented on #47114
Yeah, this does not seem like a bug to me.

[2019-10-25 12:50] eddyb commented on #65564
@michaelwoerister We would be exposing it as a regular function with a predictable symbol name, so that we can find it from the DWARF type information (via type ID perhaps?).

[2019-10-25 12:53] GuillaumeDIDIER commented on #35119
Is there any difference between having global_asm! and having rustc able to eat .S files. I think the issues with either one are the same, and that supporting either or both is probably the same work.

(But I may be mistaken).

Consequently why not support both.

[2019-10-25 12:55] dylanaraps opened #65808 "Update openssl-sys to v0.9.52 to add support for libressl 2.9.X and 3.0.X"
The current release of rust only supports libressl `< 2.9.0` and a trivial patch is required to support newer versions. I can confirm that `rust` works fine on all versions of libressl `> 2.9.0`.

Source for new release: https://github.com/sfackler/rust-openssl/commit/0e72e5d27fbf9de9c33788b19fc78829137c2e04

[2019-10-25 13:13] steveklabnik commented on #44412
Triage: has anyone seen this lately? both rust and firefox are quite different, two years later.

[2019-10-25 13:13] Centril commented on #64484
Completed in https://github.com/rust-lang/rust/pull/65505.

[2019-10-25 13:13] #64484 closed

[2019-10-25 13:15] steveklabnik commented on #32911
Triage: over three years later, seems like nobody has run into this, and doesn't seem like there's even consensus that this is a bug that should be fixed. I'm going to close this. Thank you!

[2019-10-25 13:15] #32911 closed

[2019-10-25 13:29] therealprof commented on #65391
@lightblu Did you have a chance to check out whether https://github.com/therealprof/cortex-m-rt/commit/d5f2a94d23e921a26350f9d7ba79af3cf8e6bbab is sufficient to adress your problem? We're looking to release a new version to paper workaround the issue.

CC @korken89

[2019-10-25 14:15] luser commented on #44412
I tried with the libxul.so.dbg from Firefox 70 (https://s3-us-west-2.amazonaws.com/org.mozilla.crash-stats.symbols-public/v1/libxul.so/4B768AB4B534F6A880006855AE30129E0/libxul.so.dbg.gz) and the `dwarfdump` on Ubuntu 19.04 (2018-08-09 08:32:59-07:00) and it seems to be able to read the entire file without issue, so this doesn't seem to be an issue anymore.

[2019-10-25 14:15] #44412 closed

[2019-10-25 14:15] JohnTitor commented on #62480
The original example is no longer ICE but the minified example is still ICE on the latest master (on my local). We should re-open this or file it as a new issue? CC: @estebank

[2019-10-25 14:34] #44109 closed

[2019-10-25 14:34] #65029 closed

[2019-10-25 14:34] #65662 closed

[2019-10-25 14:34] comath opened #65813 "const_generics with a macro causes rustc to panic."
<short summary of the bug>

I tried this code: https://github.com/comath/ruiso/tree/error

Run `cargo run --example expanded_struct_bad` to reproduce
Run `cargo run --example expanded_struct`,  `rustup example/expanded_struct.rs`, or `cargo build` to have a passing example. This should be what the bad code with the macro expands to.

I expected to see this happen: Compiled, with a passed test (pul

[2019-10-25 14:36] comath commented on #65813
With `1.40.0-nightly` I get

[code]

[2019-10-25 14:46] bjorn3 commented on #65564
I think we need to add the type ID as custom DWARF attribute for a type (maybe call it DW_AT_rust_type_id) to be able to access the type id from inside a debugger.

[2019-10-25 14:55] ChFarrukh opened #65814 "Mathematical Operations"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a23c81fc00f17dcafad0e7721abffd0a))

Output:

[code]

Errors:

[code]

[2019-10-25 15:03] eddyb commented on #65564
I'm not talking about our `TypeId`, but the code in the compiler led me to believe that "Type ID" is a DWARF concept - however, if we can invent custom DWARF attributes, we can do better than an ID, we can have an entire mangled symbol presumably.

[2019-10-25 15:06] roblabla opened #65815 "Tracking issue for the "efiapi" calling convention"
Tracking issue for the `efiapi` calling convention, added in PR #65809. The feature gate name is `abi_efiapi`.

The `efiapi` calling convention can be used for defining a function with an ABI compatible with the UEFI Interfaces as defined in the [UEFI Specification](https://uefi.org/sites/default/files/resources/UEFI%20Spec%202_7_A%20Sept%206.pdf#G6.999903). On the currently supported platform, th

[2019-10-25 15:15] jonas-schievink commented on #65814
What's your issue?

[2019-10-25 15:18] shepmaster opened #65816 "Tracking issue for `vec_into_raw_parts`"
https://github.com/rust-lang/rust/pull/65705 adds:

[code]

# Things to evaluate before stabilization

- [ ] [Should they return `NonNull<* mut T>`](https://github.com/rust-lang/rust/issues/65816#issuecomment-546405936)?
- [ ] [Should they be associated functions](https://github.com/rust-lang/rust/issues/65816#issuecomment-546448429)?

[2019-10-25 15:20] alexcrichton commented on #65796
Thanks for the report here @pitdicker! I'll try to give my thoughts on the problems here

As previously mentioned I think this isn't a bug, it's just how park/unpark works.

This seems fine to me to tweak, I don't really know what the current state of the rules for mutable references and such are. I don't believe it's actually UB today but if we need to future-proof ourselves somehow seems reasona

[2019-10-25 15:24] bjorn3 commented on #65564
I dont think that DWARF has a type id concept. I believe it only cares about offsets within a debug section.

Yes, that would be nicer than storing a type id.

[2019-10-25 15:43] SimonSapin commented on #65816
Should the returned pointer be a `NonNull` instead? `Box::raw` doesn’t do that because it was stabilized before `NonNull` was.

[2019-10-25 15:44] alexcrichton opened #65818 "Using `include_bytes!` on large binary blobs compiles more slowly than expected"
I've been playing around recently with compiling a crate that simply contains:

[code]

and I've been surprised that the compile time of this crate is pretty nontrivial!

For example this crate:

[code]

takes 0.060 seconds to compile on nightly for me. If a multi-megabyte binary (such as `cargo` itself) is included:

[code]

this crate takes 0.729 seconds to compile!

There appear to be at least

[2019-10-25 15:53] LukasKalbertodt commented on #25725
FYI: an by-value iterator for arrays was implemented in #62959. It is still unstable and missing the actual `IntoIterator` impl for arrays. That impl will (maybe) be added in #65819, but some discussion regarding backwards compatibility is necessary first. In case you want to chime in.

[2019-10-25 15:59] jonas-schievink commented on #65818
Similar to https://github.com/rust-lang/rust/issues/56900 (which kind of went under the radar)

[2019-10-25 16:13] asajeffrey opened #65822 "Footgun with const declarations of type Atomic*"
I just got caught by a footgun where I'd declared a global counter as:
[code]
and incremented it using `COUNTER.fetch_add(1, Ordering::SeqCst)`. It took me a while to realize why I was always getting `0`! There are checks for `const` declarations not having interior mutability to catch these footguns, but they don't apply to atomics.

[2019-10-25 16:14] eddyb commented on #65564
Okay so I dug into that stuff and I found how it works:
1. `rustc_codegen_llvm` tracks something it calls `unique_type_id` / `UniqueTypeId`:
https://github.com/rust-lang/rust/blob/23f890f10202a71168c6424da0cdf94135d3c40c/src/librustc_codegen_llvm/debuginfo/metadata.rs#L2151-L2172
2. this trickles down through LLVM until it's hashed with MD5:
https://github.com/llvm/llvm-project/blob/abd89c243a42da

[2019-10-25 16:19] sfackler commented on #65822
Clippy has a lint for this.

[2019-10-25 16:57] dhardy opened #65823 "Attribute macro helper attributes"
[The reference](https://doc.rust-lang.org/reference/procedural-macros.html) states that custom derive macros support defined helper attributes:
[code]
However, the same does not appear to apply to `proc_macro_attribute`. Please extend it to do so.

[code]

Motivation is limited, but this could provide simpler specification [here](https://github.com/dhardy/kas/blob/master/src/text.rs#L15-L17).

Rel

[2019-10-25 17:07] bjorn3 commented on #65564
That is only for DWARF version 4 and higher. Only those versions support type units, which contain that value as the `type_signature` header field.

[2019-10-25 17:10] fenhl commented on #65149
Is there a way to work around this?

[2019-10-25 17:29] petrochenkov commented on #65721
For macros (and imports) it's hard to do.

To remove the ambiguity error we need to prove that with any expansion order and any import resolution order `matches` materializes from the `use mac::*` glob "not later" than from prelude.

Otherwise we'll get code that compiles today but not tomorrow depending on random implementation details. (Making e.g. things like [this](https://rust-lang.zulipchat.

[2019-10-25 17:48] shepmaster commented on #65816
Should these functions be associated functions like `Box::into_raw`? The `Box` case is required because we want to avoid colliding with methods exposed by `Deref` / `DerefMut`. This isn't a concern for `String` or `Vec<T>`, but it may be nice to be consistent across this family of similar functions.

[2019-10-25 18:37] sfackler commented on #65149
@fenhl see nagisa's comment above. `poll_next` must be called on `Pin<&mut T>`, not `T`.

[2019-10-25 18:57] RalfJung commented on #65737
Oh I see, I misread.

What were you assuming this mechanism would look like?

Agreed.
I'd be much more comfortable requiring people to write `[const { Vec::new() }; n]` as in our floating proposal for explicit promotion.

No please not. My long-term goal is to remove `rustc_promotable` slowly but steadily over many years, starting the moment we have implicit promotion. We shouldn't add this attrib

[2019-10-25 19:46] nikomatsakis commented on #57893
Update: I still don't really understand where those errors are coming from. However, I also added a warning to be emitted on every trait that has a "potentially overlapping impl". The bad news is that there are... quite a lot.

* [`Borrow`](https://github.com/rust-lang/rust/blob/23f890f10202a71168c6424da0cdf94135d3c40c/src/libcore/borrow.rs#L212-L215)
* [`BorrowMut`](https://github.com/rust-lang/r

[2019-10-25 19:49] s97712 commented on #63063
`default_type_params` should also apply to this

[2019-10-25 19:51] nikomatsakis commented on #57893
Heh, I wonder if my bug is actually *caused* by the `Any` case! It must be. I think this code is failing:

https://github.com/rust-lang/rust/blob/23f890f10202a71168c6424da0cdf94135d3c40c/src/librustc_metadata/cstore_impl.rs#L56-L58

The problem here is that `downcast_ref` invokes `type_id` -- it wants to be invoking `type_id` through the vtable, to get the type-id of the underlying type. However,

[2019-10-25 20:10] nikomatsakis commented on #57893
I'm not really sure what the best solution is here, but one thought is that, in all of the above cases, the "vtable impl" could be considered a specialization of the overlapping, generic case.

We might therefore consider a different approach. Instead of *skipping* the generation of the `dyn` impl, we might rather make it *more* official -- we could add it to the coherence check (presently, it is

[2019-10-25 20:23] SimonSapin commented on #65721
I have a memory of a change made to treat differently during name resolution items that are unstable, so that new standard library addition can (at first) warn instead of error when they conflict with existing code. However I couldn’t find this again. Maybe it was only for traits?

[2019-10-25 20:30] petrochenkov commented on #65721
Yeah, that was for method resolution.

[2019-10-25 20:39] SimonSapin commented on #65721
Would a similar special case for unstable prelude items make sense?

[2019-10-25 20:41] bstrie commented on #39915
For anyone here who manages to get LLD working with Rust, can you additionally include the details about your platform and the specific versions of all compilers being used? I'm still seeing people in the wild having trouble with getting it to work, even with the advice listed here.

[2019-10-25 20:42] nikomatsakis commented on #65667
@davidtwco I definitely think that destructors are worth trying to "special case" -- we do some similar things in the NLL logic, as I recall.

[2019-10-25 20:47] lnicola commented on #39915
The command I posted above works on Linux with GCC 9. I think it sometimes also works on Windows, but I've seen someone with a GCC 9 for Windows that did not support -fuse=lld. On MacOS it's not worth trying, according to some links posted here.

[2019-10-25 22:27] Aaron1011 commented on #57893
@nikomatsakis: What would be the migration path for any crates with traits similar to `Borrow` or `BorrowMut`? I'm concerned that a specialization-based approach would leave such crates with no path forward, other than waiting on the stabilization of specialization.

[2019-10-25 23:17] varkor opened #65833 "Compatibility lint for `#[inline]` on associated constants"
Related pull request: https://github.com/rust-lang/rust/pull/65294#issuecomment-545418714.

[2019-10-25 23:40] rodrimati1992 opened #65836 "Removing bound from generic type causes and "overflow evaluating a requirement" error."
With the following code:

[code]

If I remove the where clause for `bar`,it prints this error:

[code]

I expected to get an error mentioning how `slice` does not implement the `Frogg` trait instead.

[2019-10-26 00:35] nagisa commented on #65818
Most ideally this would result in rustc telling linker to link that file into such symbol. Possible but super non-trivial to achieve.

[2019-10-26 03:43] Amanieu commented on #61561
OK, so after a bit of debugging, here's what going on:
- The DLLs in `build/i686-pc-windows-gnu/stage0/bin` are from an older version of MinGW. These come as part of the bootstrap package.
- The DLLs in `/mingw32/bin` are from a newer version of MinGW. They have extra symbols that are not present in the older DLLs.
- The stage1 rustc is built against the system MinGW libraries and the LLVM codegen

[2019-10-26 03:44] Amanieu commented on #61561
As a workaround, you can copy the newer MinGW dlls from `/mingw32/bin` into `build/i686-pc-windows-gnu/stage0/bin`.

[2019-10-26 05:23] est31 commented on #65487
@mati865 that issue is about columns, this issue is about lines. They aren't related.

[2019-10-26 07:42] Michael-F-Bryan opened #65840 "Rustdoc ICE when collecting intra-doc links"
I found an ICE when trying to document the [spirit-log][1] crate on the latest `nightly`.

Skimming through the backtrace, it looks like `rustdoc::clean::inline::record_extern_fqn` accessed an invalid index while traversing links within `rustdoc::passes::collect_intra_doc_links::collect_intra_doc_links`.

Steps to reproduce:

[code]

[1]: https://github.com/vorner/spirit/tree/master/spirit-log

[2019-10-26 07:45] RalfJung commented on #55005
Ah so the tentative plan in LLVM now is to weaken `dereferencable` semantics instead of adding another attribute?

That seems bad though. Quoting:

a function does not, directly or indirectly, call a memory-deallocation
function (e.g., free, C++'s operator delete).

So, e.g., a function that takes a reference and also drops an unrelated `Box` could not express, with its attributes, that the refere

[2019-10-26 08:43] rkruppe commented on #55005
I forgot about this before but there's a (not yet committed) patch introducing a new attribute for "dereferencable forever" at https://reviews.llvm.org/D61652

[2019-10-26 08:46] mati865 commented on #65487
My bad, didn't pay enough attention.

[2019-10-26 09:03] rkruppe commented on #65818
I'm sure you're aware but just to spell it out for completeness: this would not work in general since const eval may need the file contents, it would be a fast path for the special where the bytes are only needed at runtime.

Depending on the details, I am also a bit concerned about robustness. For example, just storing the file path in the rlib could break if the included file is moved or deleted

[2019-10-26 09:05] GuillaumeGomez opened #65841 "Extend rustdoc search"
It'd be nice to write stuff like: `"avec"::Vec` or even `vec::`.

In the first example, you look specifically into the "avec" module/type and look for "Vec" inside it.

In the second example, you just look at everything inside the matching "vec" parent (so that maybe return a lot of things with a bad order).

Of course, both features could be used at the same time like: `hello::"avec"::`.

cc @rus

[2019-10-26 09:08] GuillaumeGomez commented on #65840
Taking a look.

[2019-10-26 09:09] gilescope commented on #62570
There's almost no difference between an async closure and an async function call in the hir. For now async functions may also have to be reported as being an async closure...

[2019-10-26 09:36] GuillaumeGomez commented on #65840
Actually, it's failing outside of rustdoc so I prefer to let someone else handle it.

cc @rust-lang/compiler

[2019-10-26 09:41] rklaehn commented on #57525
My two cents:

I don't mind this feature, but I just wanted to say that I love the fact that documenting every argument individually is not done frequently in the rust docs. In my experience with other languages where documenting every argument with a line of explanation is encouraged or even enforced by a linter, that leads to really pointless documentation since often it is completely obvious fr

[2019-10-26 09:58] est31 commented on #65487
@michaelwoerister I've tried verifying it on the playground [with a non-trivial rosetta code example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1428f297abe90ed0c6fbf934366de9a6) and the "show MIR" feature, but it doesn't create any line number zero spans: [mir.txt](https://github.com/rust-lang/rust/files/3774629/mir.txt)
Grepping that file for ".rs:0" gives no results

[2019-10-26 11:55] nivkner opened #65844 ""LLVM ERROR: Access past stack top!" when compiling without sse2"
the following code produces the compilation error `LLVM ERROR: Access past stack top!` when compiling with `E:RUSTFLAGS="-Ctarget-feature=-sse2" cargo +nightly run`

[code]
only happens when the return values of `get_pair` are named.

also when compiling an example to a library crate like this: `E:RUSTFLAGS="-Ctarget-feature=-sse2" cargo +nightly run --example bug`

i get the following error inste

[2019-10-26 12:02] jonas-schievink commented on #65844
Does this also happen on older Rust versions?

[2019-10-26 12:06] Centril commented on #65823
cc @petrochenkov

[2019-10-26 12:06] #65814 closed

[2019-10-26 12:10] petrochenkov commented on #65823
This is not technically necessary because proc macro attributes can remove these attributes from their input unlike derives, but should be supportable pretty easily as a convenience feature once https://github.com/rust-lang/rust/pull/64694 lands.

[2019-10-26 12:10] Centril commented on #65822
@sfackler I assume this refers to https://rust-lang.github.io/rust-clippy/master/index.html#borrow_interior_mutable_const ?

@asajeffrey Are you happy with that or would you like the language team to consider upstreaming the lint?

[2019-10-26 12:11] mati865 commented on #65844
AFAIK it affects all Rust versions since 1.18.0.

[2019-10-26 12:21] Centril commented on #65823
Good point; I do think it would be useful for the language to do this automatically as an ergonomics thing from the POV of a macro author myself. Nominating based on @petrochenkov's comment to see what the preliminary interest is in the language team. We may or may not ask for an RFC based on the discussion.

[2019-10-26 12:28] JohnTitor commented on #63279
The ICE doesn't appear on the latest nightly

[2019-10-26 12:33] #65684 closed

[2019-10-26 12:35] Centril commented on #65836
cc @rust-lang/wg-traits

[2019-10-26 13:12] Mark-Simulacrum opened #65846 "Pre-expansion gating collects spans from un`Success`ful macro matchers"
Setting high priority as this affects performance collection.

Sample error, likely possible to see more at https://perf.rust-lang.org/status.html

[code]

[2019-10-26 13:14] Mark-Simulacrum commented on #65846
I suspect this was caused by https://github.com/rust-lang/rust/pull/65742 -- presumably, that PR does something wrong, as I suspect that the expression here is _not_ type ascription -- `try!($parse(input))` is not a type -- so we're probably being overeager. If we don't have immediate ideas as to why then I think we should revert the PR.

cc @Centril @davidtwco

[2019-10-26 13:41] RalfJung commented on #53081
This affects not just distros building Rust; at least some tests on the `i586-unknown-linux-gnu` builder in our CI are also affected. So what is the currently recommended fix for that?
I see some tests added `// ignore-x86`. Is that considered best practice for this issue?

[2019-10-26 13:44] petrochenkov commented on #53081
This is certainly not a good practice.
My current suggestion is https://github.com/rust-lang/rust/pull/65421#issuecomment-544261831.

[2019-10-26 13:50] RalfJung commented on #53081
[This](https://github.com/rust-lang/rust/pull/64151/files#diff-23d6366f19a3573312df721d54bbdc09) should probably be fixed then.

That sounds like a hypothetical suggestion that needs libtest work first.
So what is it that we do *right now* to not block PRs on this one-year-old issue?

[2019-10-26 14:10] asajeffrey commented on #65822
The thing about that line is that you have to know to enable it, and pretty much the only way to learn that is the hard way. It would be nice if this was enabled by default, but that's probably a breaking change.

[2019-10-26 14:18] petar-dambovaliev commented on #65784
@Centril I am also curious. I don't know of a language that supports that.
We should improve error messages when there is an actual real world example.

[2019-10-26 14:22] Centril commented on #65822
cc @oli-obk (who is on vacation, but they'll be back one day)

[2019-10-26 14:27] Centril commented on #65568
There's a desire to ditch HIR pretty printing altogether so not having fallback would be good.

[2019-10-26 14:46] petrochenkov commented on #55596
https://github.com/rust-lang/rust/pull/65759#discussion_r339297241 tells how to resolve this issue.

[2019-10-26 14:48] nagisa opened #65847 "Multiple `#[link(name="X")]` attributes result in duplicate link arguments"
Given static libraries, having duplicate `-lfoo` is more likely to result in an error than not. Having multiple `#[link]` blocks with `kind="static"` specified or inferred in any way will cause the linking to fail. Consider for example this:

[code]

will pass to the linker

[code]

which will fail due to duplicate symbols. This is somewhat surprising because `rustc` will avoid passing through to

[2019-10-26 14:50] petrochenkov commented on #55596
@saleemjaffer
Sorry, I never noticed your comment.
If you are still interested, there's now an instruction.
`x.py test --bless --stage 1 src/test/ui` will run the tests and update their outputs.

[2019-10-26 15:46] bsdkurt commented on #57632
This is caused by stdout/stderr being set to non-blocking by node earlier in the build. cargo writes to stdout, receives EAGAIN/EWOULDBLOCK and fails with the above error. Firefox changed the way it invokes node to use popen which islates node's non-blocking changes to its side of the pipe. See:
https://bugzilla.mozilla.org/show_bug.cgi?id=1500436

This is not a cargo bug (unless cargo is intended

[2019-10-26 15:48] ecstatic-morse commented on #49146
Now that #64470 and #63812 have been merged, all the tools required for this exist in the compiler. I still need to make some changes to the query system around const qualification to make sure that it isn't needlessly inefficient with this feature enabled. We are making progress here, and I believe this will be available in weeks, not months (famous last words :smile:).

[2019-10-26 15:53] ecstatic-morse commented on #52000
Cross-posting from #49146:

This issue is next up after the initial implementation of #49146 is complete.

[2019-10-26 16:36] alexreg commented on #49146
@ecstatic-morse Great to hear! Thanks for your concerted efforts to get this done; I personally have been keen on this feature for a while now.

Would love to see heap allocation support for CTFE after this is done. I don't know if you or anyone else is interested in working on this, but if not perhaps I could help.

[2019-10-26 16:44] ecstatic-morse commented on #49146
@alexreg Thanks!

Discussion about heap allocation at compile time is over at rust-rfcs/const-eval#20. AFAIK, the most recent developments were around a `ConstSafe`/`ConstRefSafe` paradigm for determining what can be observed directly/behind a reference in the final value of a `const`. I think there's more design work needed though.

[2019-10-26 16:52] Centril commented on #65846
Reduced to:

[code]

which results in:

[code]

on stable, and:

[code]

on nightly.

[2019-10-26 16:58] LukasKalbertodt commented on #52662
I don't know if this "experience"-information is useful at this point, but I just used this feature in all places where it made sense in a fairly large project of mine: https://github.com/LukasKalbertodt/lox/commit/e2cc0c340b13428e26f01fa0923a969ecc6b6e1e. "48 additions and 92 deletions" sounds good to me. Everything worked just out of the box, I just needed to mechanically replace all occurences.

[2019-10-26 17:03] alexreg commented on #52662
@lukas-code Nope, we appreciate hearing of such use cases! Will make me feel more comfortable about stabilising in the (hopefully) near future. :-)

[2019-10-26 17:11] bsdkurt commented on #61468
This is a duplicate bug of https://github.com/rust-lang/rust/issues/57632. Root cause was non-blocking stdout set by node in earlier in the firefox build. cargo is not prepared to deal with non-blocking stdout. See linked bug report for further details.

[2019-10-26 17:45] Centril commented on #65846
I'm not sure how this code managed to work before because it *is* parsing a type ascription (successfully when using `mac!(label: try!(), MARKER);`). Just to be sure, I verified this with:

[code]
where the input was:
[code]

Somehow this type ascription disappears later before `PostExpansionVisitor`?

---------------------------

All in all, I believe that at least from the POV of the parser, the

[2019-10-26 18:01] Mark-Simulacrum commented on #65846
This is still a breaking change - and I would expect it to be fixed in the parser, especially as in this case the macro input doesn't even look like type ascription, it's token colon expression, whereas type ascription would be token colon type, right?
Plus, the token colon expression macro form seems pretty common (used all over the place, I imagine, in many macros). I don't think we can just who

[2019-10-26 19:20] Walther commented on #65612
@rustbot claim 🙂

[2019-10-26 19:21] Walther commented on #65612
...sorry, my bad!

@rustbot claim

[2019-10-26 19:27] mati865 commented on #65822
This lint is enabled by default (even more, it will stop compilation with the error), candidate for https://github.com/rust-lang/rust/issues/53224

[2019-10-26 19:35] #48478 closed

[2019-10-26 19:35] #65735 closed

[2019-10-26 20:06] Centril commented on #65846
Well it is parsing a type ascription because it is constructing an `ExprKind::Type`. Otherwise https://github.com/rust-lang/rust/pull/65742 would have no effect. For example, consider (*[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2af7f85f155ef44ee14626ba3cad3583)*):
[code]

Because of the first arm, this will error with *"error: expected type, found `1`"*

[2019-10-26 20:09] kinnison commented on #51452
I had a brief attempt at reproducing this with the current compiler and couldn't.  I created a rustdoc with: `./x.py doc -i --stage 1 src/libstd` and then ran it against a `test.rs` containing the example from the initial post, with `///` converted to `//!` as a trivial test case.  I ran it with `.../rust/build/x86_64-unknown-linux-gnu/stage1/bin/rustdoc --edition 2018 -v test.rs` It did not warn

[2019-10-26 20:14] mati865 commented on #65431
@tiagolam could you post your Rust version (`rustc -vV`)?

[2019-10-26 21:42] Quantumplation opened #65853 "Suggestion: provide better report of function argument mismatch"
While discussing #64915 with @estebank, I asked if it would make sense to also provide a more detailed report about how closures mismatched.  For example, introspecting on the types to detect when types are in the wrong order, or when arguments are mismatched.

He pointed out that we don't even do that for regular function calls right now.  For example:

https://play.rust-lang.org/?version=stable&

[2019-10-26 21:55] elbow-jason commented on #24346
This is torture.

[2019-10-26 22:10] estebank commented on #65853
I believe that the only place you'll have to look at to implement this is

https://github.com/rust-lang/rust/blob/46e6c533d08a2c6d22083a2756a0b569e001c3c4/src/librustc_typeck/check/mod.rs#L3311-L3546

particularly, https://github.com/rust-lang/rust/blob/46e6c533d08a2c6d22083a2756a0b569e001c3c4/src/librustc_typeck/check/mod.rs#L3413-L3421

[2019-10-26 22:13] Quantumplation commented on #65853
@rustbot claim

I'll give this a shot! Might be too ambitious for me though. :)

[2019-10-26 22:24] workingjubilee commented on #65853
I have a related remark that I had built up while reviewing related diagnostic commits/issues that have been floating around:

E0631 uses a concept of "found/expected", as does E0271 and E0301, "found/expected", but these errors have been reported as confusing and backwards.  So it seems wise to head off all confusion in the future, and it seems to me that the implied "directionality" could be rea

[2019-10-26 22:27] Quantumplation commented on #65853
@workingjubilee I had noticed the same.  Especially confusing is that in the code for #64915, it seems variable names got swapped around (in multiple places!), so it got really confusing to trace through what happened...

[2019-10-26 22:39] Herschel commented on #57966
Chiming in to say I got bit by this as well and was clueless about the error until googling. The strange part is that the macro was working fine for quite some time without any `#[macro_use]` or `#[macro_export]` but then I reshuffled some modules, and the macro broke as above.

I had to follow @jonhoo's instructions of using `#[macro_export]` and then `use crate::a_macro;` from the crate root.

[2019-10-26 23:03] anp opened #65856 "PanicInfo can hold `&'a core::panic::Location` instead of by-value"
We could reduce a few copies in the constructor of PanicInfo by doing so.

cc @eddyb

[2019-10-27 03:30] Quantumplation commented on #65853
Some notes for myself, while I begin to understand the code and think through the problem.  Please feel free to chime in if you notice something I'm missing or misinterpreting!

## Closures
I think

https://github.com/rust-lang/rust/blob/46e6c533d08a2c6d22083a2756a0b569e001c3c4/src/librustc_typeck/check/mod.rs#L3379-L3383

is where we handle closure cases (this tuple_arguments call seems to be set

[2019-10-27 04:39] clarfon commented on #65143
@SimonSapin it would make sense to revert the changes to the title and tags, or discuss here whether the change should be reverted.

[2019-10-27 05:45] estebank commented on #65853
One thing to note: the AST keeps closures as a function with a single argument which is a tuple. A closure `|()| {}` would be encoded in the AST as a callable with a single argument which is a tuple of a tuple, while `|| {}` would be encoded as a callable with a single argument which is an empty tuple. That is part of what you're seeing there.

As you can see we use `tcx.types.err`, which is a spe

[2019-10-27 05:54] workingjubilee commented on #65853
Only favoring one suggestion off the table you offer seems like it would make mathematical sense, I think, because
1) all suggestions are merely probable answers (though confidence in an answer might exceed 99.9%, eventually the suggestion will falter) but
2) due to simple rules of probability, it is more likely that one suggestion will be correct, rather than two suggestions both being correct. E

[2019-10-27 06:16] Quantumplation commented on #65853
@estebank

Thanks for the detailed writeup! Hopefully my verbose style won't be too big a drain on you as I start to learn more about the compiler. ;)

re: Closures, that's what I figured.  Out of curiosity, why are closures stored this way?

re: err types, also in line with what I figured was happening.

re: algorithm, I wasn't too concerned about a high asymptotic implementation here, for two re

[2019-10-27 07:28] RalfJung opened #65860 ""<feature> is unstable" when building libcore test suite outside bootstrap"
At https://github.com/RalfJung/miri-test-libstd/, I have set things up such that one can run the libcore and liballoc test suite against Miri. The basic idea is to have a `Cargo.toml` file like this (very close to the normal one for libcore):
[code]
Then I make `../libcore` a symlink to the actual libcore sources, cd into the dir with the above `Cargo.toml`, and run `cargo miri test`. This worked

[2019-10-27 07:31] RalfJung commented on #65860
The failing command seems to be
[code]
So this is where it builds libcore itself, not the test crate.

[2019-10-27 08:10] stefson commented on #61468
You're right, thank you! I can now confirm that this happens due to https://bugzilla.mozilla.org/show_bug.cgi?id=1500436, which is actually a bug in the node.js stuff -.-

[2019-10-27 08:10] #61468 closed

[2019-10-27 08:24] TheZoq2 opened #65861 "Allow unused_must_use on result with never type"
[code]
This code yields a warning:

[code]

However since a `Result<T, !>` can never have the `Err` branch, having to handle the resulting error seems kind of pointless. Would it be possible to disable the `unused_must_use` lint for this particular case?

[2019-10-27 08:37] TeXitoi commented on #65861
I'd prefer to have a get method:
[code]

[2019-10-27 09:22] he32 opened #65862 "rust 1.38.0 build fails on NetBSD/powerpc with internal LLVM"
The build of rust 1.38.0 natively on NetBSD/powerpc 8.0 fails if the build is instructed to use the internal LLVM.  The corresponding build with an external LLVM (version 8.0.1) succeeds.

The failure is fairly similar to what is seen in issue #64903 -- in this case the build stops with and not during the build of `ryu`:

[code]

The stack backtrace from GDB is however nearly impossible to make an

[2019-10-27 09:49] bjorn3 opened #65863 "Rustdoc cannot infer type when using type_alias_impl_trait, while rustc works"
[code]

[code]

[2019-10-27 09:50] bjorn3 commented on #65863
@rustbot modify labels: +requires-nightly +F-type_alias_impl_trait

[2019-10-27 10:45] GuillaumeGomez commented on #65863
That is... interesting.

[2019-10-27 10:46] bjorn3 commented on #65863
Forgot to add T-rustdoc :)

[2019-10-27 11:13] gilescope commented on #62570
E.g.
[code]
vs:
[code]
All the other cases seem fine, but not sure for this one how to proceed...

[2019-10-27 11:25] tmiasko opened #65865 "Cleanup: Migrate run-fail tests in src/test/ui from error-pattern to check-run-results"
As tests are moved from `src/test/run-fail` to `src/test/ui` #65440 the meaning
of `// error-pattern` in ui tests becomes overloaded , since tests in
`src/test/run-fail` match error patterns to executable output while
`src/test/ui` tests match them to compiler output.

The changes in #65759 enable such overloaded use: if test is expected to
compile successfully and will be run, the patterns are ma

[2019-10-27 12:23] vojtechkral commented on #65765
This seems like it might be the cause: https://reviews.llvm.org/D68972 ([revision in SVN](http://llvm.org/viewvc/llvm-project?view=revision&revision=375275)). I'll try to test.

[2019-10-27 12:58] #63438 closed

[2019-10-27 13:19] DustinByfuglien opened #65866 "Confusing "cannot infer an appropriate lifetime" error message"
Consider example:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5bd6ac9f31500a89c9f1fcf98b5ffa30))

Errors:

[code]

All 3 notes of this error message is confusing:

note1, note2: Message not point where are the anonymous lifetime #1 and the anonymous lifetime #3. Also it's not obviously why there are two different anonymous lifetimes at one place

[2019-10-27 13:34] rkruppe opened #65867 "Check for improper ctypes in all "stable ABIs""
We should also run the lint for other stable (non-rustc-specific) ABIs such as `win64`, `sysv`, `aapcs`, interrupt ABIs, etc.

[2019-10-27 13:53] nathan-at-least opened #65868 "Slightly confusing grammar in pinning docs."
Hi, I've just read the `std::pin` docs as part of learning `std::future::Future` and attempting to write my own combinator. This section is pretty dense for my first read, and only at the very end, when it mentioned `Future` combinators did I realize I had a misunderstanding through the entire reading due to [this phrase](https://github.com/rust-lang/rust/blob/625451e376bb2e5283fc4741caa0a3e8a2ca4

[2019-10-27 15:03] zhuxiujia commented on #65701
Yes, I suggest pointing out exactly why the compilation failed in rust.  to help new user to  find   where the problem is

[2019-10-27 15:09] jbg commented on #64388
appears to be a duplicate of #62097

[2019-10-27 15:22] Ixrec commented on #65868
I agree that there's an ambiguity here, and that replacing that "every" with "each" will help slightly. Unfortunately, natural languages have never been strict about quantifier scopes, so although both forms of that sentence technically already _imply_ that the decision is separate for each field, it's still ambiguous in practice.

I think the "independent of other fields" phrasing is probably mor

[2019-10-27 16:05] guanqun commented on #65757
I did a quick check and the boostrap script uses `tarfile` module to do the unpacking, and as our build system need to support at least python 2.7 which unfortunately doesn't contain the support of `xz` out of box. see the reference here: https://docs.python.org/2/library/tarfile.html
however, when we transition to python 3, then this `tarfile` supports `xz`: https://docs.python.org/3/library/tarf

[2019-10-27 16:17] olegnn opened #65870 "Incorrect `dyn` method dispatch"
Code:
[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=70cc67e5e57b52e0f2f95502503a3625)

First call will dispatch method from `impl Echo for Box<dyn Echo>`, second from `impl Echo for Box<&dyn Echo>` but third from `impl Echo for &str`, however all items defined with type `dyn Echo`.

Fourth and fifth calls will dispatch methods from `impl Echo for &dyn

[2019-10-27 16:29] safinaskar opened #65871 "Missed optimization: fn f(a: &mut i32){ let b = *a; println!("{}", b); }"
This Rust code: https://godbolt.org/z/HeLrx- gives more assembly than this: https://godbolt.org/z/Aji2U3

[2019-10-27 16:35] SimonSapin commented on #65143
Done.

[2019-10-27 16:37] SimonSapin commented on #65143
Sorry for the somewhat-pointless churn, I’d gotten here from https://github.com/rust-lang/rust/issues?q=is%3Aopen+is%3Aissue+label%3AC-tracking-issue+label%3AT-libs and hadn’t realized there was an implementation PR already.

[2019-10-27 16:39] clarfon commented on #65143
All good! Thanks for updating things :)

[2019-10-27 16:51] steveklabnik commented on #65871
(The difference is an extra

[code]

as far as I can tell)

[2019-10-27 16:51] joshtriplett opened #65872 "wasm32-unknown-unknown target should not make output executable"
The wasm32-unknown-unknown target sets the executable bit on the compiled `.wasm` file. Most uses of wasm don't execute the wasm file directly, and without special configuration (such as binfmt-misc on Linux), most operating systems can't directly run wasm files. Furthermore, the executable bit set on the output tends to get checked into git repositories.

For the wasm32-unknown-unknown target, we

[2019-10-27 17:05] steveklabnik commented on #49331
Triage: this reproduces today

![image](https://user-images.githubusercontent.com/27786/67638414-1fa0a680-f8b2-11e9-9dc2-5c26acec3f21.png)

[2019-10-27 17:25] steveklabnik commented on #39610
Triage: not aware of any changes here.

[2019-10-27 18:53] safinaskar opened #65876 "Missed optimization: regression 1.29 -> 1.30, makes unnecessary load from memory"
Consider this code: https://godbolt.org/z/QpiBK3 .
Code:
[code]
Asm (1.30):
[code]

We read from memory at line `let d = *b` (from `%rdx`) and then we read from memory again at line `(c, d, *b)` (again from `%rdx`).

But in Rust (unlike C and C++) we know that two mutable references cannot point to same location. So, we missed optimization. This is regression

[2019-10-27 19:01] jonas-schievink commented on #65876
This is likely due to the known issues with LLVM's `noalias` annotation. See https://github.com/rust-lang/rust/issues/54878.

[2019-10-27 19:23] yodaldevoid commented on #65391
I have tested the minimal example with the LLD produced by LLVM commit ecc5e8084f500958f3c84335b214b3964356bc15 (it was and old master that I had checked out), and found the example to compile properly. I then checked out the latest master (commit 174967f15369fafb0c0bfc13d35963f7890b2c8b), and found that to also compile the minimal example as well.

This all reminds me that the "Overwriting ELF se

[2019-10-27 19:23] jebrosen commented on #60658
I keep running into this both with and without `async-trait` while trying to implement Future-returning traits in Rocket, which makes heavy use of associated types. In particular I'm currently trying to do this: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=034908e77e7fca31dfbc73fb57c2f3e5 (compare to the version with `Option` that does not have an associated type).

If

[2019-10-27 19:40] #65561 closed

[2019-10-27 21:03] RalfJung commented on #65860
I can get the same errors without Miri being involved by running `rustc +nightly lib.rs --test --edition 2018` in `src/libcore`.

Cc @alexcrichton and @eddyb who helped me to set this up at the all-hands early this year

[2019-10-27 21:21] eddyb commented on #65860
cc @Centril maybe there is something weird going on with the feature-gating here.

[2019-10-27 21:24] Centril commented on #65860
The only relevant information I can contribute here is that feature gating for this is done pre-expansion today.

[2019-10-27 21:33] stepancheg commented on #57977
Exactly my thoughts. So instead of stabilizing `strong_count` and `weak_count` we probably want `fn has_strong(&self) -> bool`.

[2019-10-27 23:02] SimonSapin commented on #10184
Can the saturating cast be implemented as a library function that users could opt into, if they are willing to take some pref regression to get soundess? I’m reading the compiler’s implementation but it seems quite subtle:

https://github.com/rust-lang/rust/blob/625451e376bb2e5283fc4741caa0a3e8a2ca4d54/src/librustc_codegen_ssa/mir/rvalue.rs#L774-L901

[2019-10-27 23:36] anp commented on #47809
The PR I linked above has been approved and is towards the top of the homu queue (fingers crossed!). I've opened [a PR](https://github.com/rust-lang/rust/pull/65881) following that up with the start of a real implementation for the `#[track_caller]` attribute. Right now it only includes a functional const implementation and failing tests for a [not-yet-extant codegen implementation](https://paper.

[2019-10-27 23:44] brion opened #65882 "Return value packing for Option<T> and Result<T,E> on WebAssembly"
I'm looking at how `Result<T,E>` and `Option<T>` return values get handled on the WebAssembly target, using integral types as the `T` and small fieldless enums as the `E` type. It seems hard to predict when Rust will use stack allocation for the return value, and some optimizations that happen on native platforms like x86-64 Linux aren't happening where I expect them.

(I'm aware that internal Rus

[2019-10-28 00:33] nnethercote commented on #65487
@est31: the text I showed above was hand-made, combining `objdump -d` output with some custom debugging output I inserted into Valgrind. So you won't be able to recreate it, sorry :(

[2019-10-28 02:33] dlight commented on #65584
For what's worth, I'm on Arch and can install it without issue. I don't have llvm installed; it's required to build rustc but not to install rustc (with `pacman -S rustc`)

[code]

[2019-10-28 03:54] dorfsmay opened #65886 "Replacing sentences for references by a Bibliography section for keywords"
In the stdlib, at the end of each keyword description, authors add a small sentence with links to reference material.
Here are the six first ones appearing in the keyword file:

https://github.com/rust-lang/rust/blob/9733b0f122db7eb7662799b164bc02b0f54cb84a/src/libstd/keyword_docs.rs#L26

https://github.com/rust-lang/rust/blob/9733b0f122db7eb7662799b164bc02b0f54cb84a/src/libstd/keyword_docs.rs#L15

[2019-10-28 04:02] dorfsmay commented on #65886
I don't mind doing the changes in the keyword files and submit a PR. I have already started working on it to test how to do it, but don't want to go through the whole file before confirming there is appetite for this, or proposition for something similar but better.

[2019-10-28 07:38] #65856 closed

[2019-10-28 07:40] rust-highfive opened #65888 "`clippy-driver` no longer builds after rust-lang/rust#65885"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#65885, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and nominating f

[2019-10-28 07:40] rust-highfive opened #65889 "`miri` no longer builds after rust-lang/rust#65885"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#65885, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and nominating for compiler team

[2019-10-28 07:44] lzutao commented on #65886
@rustbot ping @rust-lang/docs

[2019-10-28 08:19] markand commented on #65051
I've finally built a version using a patched version of my musl. Now it builds fine itself with my native compiler.

Thanks for the help, though I think something should be changed to bootstrap Rust easier when “non traditional” toolchains are used but I have no knowledge in rust internals to help unfortunately.

[2019-10-28 08:19] #65051 closed

[2019-10-28 08:54] realcr commented on #64496
@kpp : Do you know about a workaround for this issue?
My codebase is stuck on `nightly-2019-09-13`, and I can not move forward because of the type length bloat. I am surprised that this issue doesn't affect anyone that uses futures!

[2019-10-28 09:08] pnkfelix opened #65890 "cstore_impl dependency format linkage sometimes unknown"
spawned off of #64872

The `match` input here (on line 245):

https://github.com/rust-lang/rust/blob/9285d401a6070094747465962bc49969b93e14c5/src/librustc_metadata/cstore_impl.rs#L243-L249

sometimes returns `None`

Its not yet clear to me under which scenarios that happens. But when it does happen, the dependency may be (re)exported from a static or a dynamic crate. This is probably a sign that t

[2019-10-28 09:17] pnkfelix commented on #65890
Hmm I guess @alexcrichton has a [theory](https://github.com/rust-lang/rust/pull/65781#issuecomment-546394248) as to how to interpret `None` here.

[2019-10-28 09:23] matklad commented on #65816
Here's an example where this might have helped with avoiding UB: https://github.com/confio/go-rust-demo/pull/1#discussion_r335152634. There, the vector was destructed manually and `mem::forgetted`, however, `len` was used in place of both length and capacity. If `Vec::from_raw_parts` was a thing, it might have prevented this issue, as, with `cap` on your hands, you are more likely to do the right

[2019-10-28 09:47] jethrogb commented on #65662
@mguillemot-tel can you confirm your issue was solved with the latest nightly?

[2019-10-28 09:56] Dylan-DPC commented on #65886
@lzutao don't worry i'm here :P

cc @rust-lang/docs @rust-lang/libs

[2019-10-28 09:58] kpp commented on #64496
Sorry, no. You may add `#![type_length_limit="N"]` and keep N growing to please the compiler.

[2019-10-28 10:23] jonas-schievink commented on #65584
This will be "fixed" by https://github.com/rust-lang/rust/pull/65703

[2019-10-28 11:10] RalfJung commented on #65860
libcore has a `#![cfg(not(test))]`, so the crate really should be empty. I guess "pre-expansion" means stuff happens before the `cfg` is applied?

But then, why does it see the uses of this feature, but does not see the feature flag?

[2019-10-28 11:33] rkruppe commented on #10184
We could expose an intrinsic that generates the LLVM IR for saturation (whether that be the current open-coded IR or `llvm.fpto[su]i.sat` in the future) independent of the `-Z` flag. That is not difficult at all to do.

However, I'm concerned whether it's the best course of action. When (if?) saturation becomes the default semantics of `as` casts, such an API becomes redundant. It also seems ungre

[2019-10-28 11:43] mati865 commented on #65584
I think there is nothing to fix here (from Rust perspective).

OP has Rust installed via distribution package manager [which downloads `llvm-libs`](https://git.archlinux.org/svntogit/packages.git/tree/trunk/PKGBUILD?h=packages/rust&id=60adddc3e45104ced2287cc175b1feab8f22cb9c#n98). I have no idea why it cannot find `libLLVM-9.so` but it's downstream issue.

Official Rust packages ship their own LLV

[2019-10-28 11:47] pnkfelix commented on #65490
Shouldn't that be implemented as a syntactic restriction? As in, something that we enforce via analysis of the AST (e.g. by tracking whether a `ref mut x @ ...` occurred and disallowing further `ref mut` bindings within the `...` as we descend into it?)

Or am I missing something -- e.g., perhaps it is most natural to implement the check as part of the recursive descent performed by MIR lowering?

[2019-10-28 11:54] steveklabnik commented on #65886
I like the idea of adding consistency, but there's just not enough here for a whole "bibliography" section, and we don't do this anywhere else in the docs either, which in some sense, removes consistency. I think I'd prefer standardized wording for these kinds of links.

[2019-10-28 11:59] faern commented on #65662
I can confirm it seems to work well in docker again :+1: We were having these issues last week, and added `--privileged` to docker. Now we can remove it and it still works.

[2019-10-28 12:03] lucashyper commented on #65590
I'm getting the same vscode error as @naim94a on
[code]
Cargo builds fine.

[2019-10-28 12:09] Mark-Simulacrum commented on #65846
I would expect pre-expansion gating in this form (i.e., macro input parsing) to either emit a future-incompatibility warning (like we do for methods that might conflict with a future stabilization, I believe) or simply pretend that the gated form does not exist unless the feature gate is enabled.

I get that this is likely hard -- and might not even be practical -- but as it is currently, even tho

[2019-10-28 12:10] Mark-Simulacrum commented on #65846
We've fixed perf.rlo so removing high priority label.

[2019-10-28 12:15] jafern14 commented on #65254
@rustbot claim

[2019-10-28 12:18] jafern14 commented on #65254
I've got the change locally now with exactly what @Centril had mentioned in a previous message. The only thing I'm getting right now is that the compiler is highlighting the entire statement and not just the `let` keyword like before.

I'm looking for the method where I can get this. I'll put up a PR in a bit to show where I'm at along with some terminal output to demonstrate a bit better what I'm

[2019-10-28 12:29] jonas-schievink commented on #65584
Closing as not-our-bug then.

[2019-10-28 12:29] #65584 closed

[2019-10-28 13:16] jafern14 commented on #65254
Opened #65893

[2019-10-28 13:34] dorfsmay commented on #65886
Does a bibliography need a minimum length? To take Wikipedia as an example again, smaller articles often have a "Reference" section with a singe reference. A standardize wording will have more words than just "Bibliography" + a (few) bullet point(s). Note that by definition, "bibliography", covers both cited reference and other material of interest (extra reading).

What would be a good standardiz

[2019-10-28 13:55] alexcrichton commented on #65801
I personally think that this is a useful enough guarantee while also being flexible enough for us in the standard library that this should be fine to document.

[2019-10-28 14:03] jean-airoldie opened #65895 "Bound UnixDatagram & UnixListener leak socket file on Drop"
Currently binding a path with `UnixDatagram` or `UnixListener` will leak the socket file on drop.

Its quite a pain in terms of usability because it makes binding a non-idempotent operation. For instance, you need to call `libc::unlink` on the path you are about to bind just in case it was previously leaked. Moreover, from what I understand, since `AF_UNIX` sockets don't implement `SO_REUSEADDR`,

[2019-10-28 14:07] sfackler commented on #65895
The standard library should not make this choice for users. If the system does not automatically delete the file when a Unix socket is closed, we aren't going to do that.

[2019-10-28 14:23] jean-airoldie commented on #65895
I'm not sure I understand the reasoning. Whats the difference between this and closing the file descriptor of the socket on drop in the first place? This is effectively "making a decision" for the user, albeit its a sensible decision.

I'm not sure that leaking a socket file just in case somebody has a weird use for it is the most user friendly approach.

[2019-10-28 14:29] alexcrichton commented on #65818
After seeing the const-ness of needing this I tried out a few different formulations as well:

[code]

or...

[code]

unfortunately though while they were *slightly* faster they were still quite slow (on the order of hundreds of milliseconds for a 10MB file or so)

[2019-10-28 14:30] sfackler commented on #65895
That sounds like a concern to bring up with the POSIX standards committee. This behavior was presumably specified for a reason!

We generally want to adhere to the underlying system primitives as closely as possible so that things behave as expected to people who know how the underlying system primitives behave. There are a very small number of exceptions (e.g. we set CLOEXEC on file descriptors).

[2019-10-28 14:31] nikomatsakis commented on #57893
I was thinking about this more over the weekend. @Aaron1011, in answer to your question, it seems obvious we're going to have to manage the timing of our fix here pretty carefully. For one thing, we've talked about stabilizing some subset of specialization, and maybe we should try to execute on that before we make any hard errors here.

One thing that's worth pointing out -- the only thing that us

[2019-10-28 14:50] Mark-Simulacrum commented on #65818
I believe the only reason we pretty print constants is for rustdoc -- though I could be wrong -- I imagine maybe the solution then is to impose some sort of limit? And/or if we can somehow store that the constant came from include_bytes, I wonder if displaying `include_bytes!(...)` makes more sense than the raw contents in rustdoc...

[2019-10-28 14:53] jean-airoldie commented on #65895
Fair enough.

[2019-10-28 14:54] novacrazy commented on #44036
Is there any progress on this feature? Seems odd this is still missing after two years.

I'm running into some situations where specialized instructions on AMD are slower than their naive implementations. e.g. `_mm_dp_ps` is a bit slower than a naive multiplication and horizontal add reduction.

Ideally, I could just exclude `target_cpu="znver1"` using `cfg_if!` or similar, falling back to the nai

[2019-10-28 15:39] Quantumplation commented on #65853
## Algorithm

Been working through a POC of the algorithm I'll use ( in a language I'm more familiar with, still not fluent enough in Rust to make it my scratch pad ;) ).

https://glot.io/snippets/fhbpy4kp93

Essentially, you're filling in a matrix of whether various inputs can be coerced to the relevant parameters.  A row or column of all falses means an input that can't be satisfies or an argume