[2020-12-10 15:59] Mark-Simulacrum commented on #78979
backported in https://github.com/rust-lang/rust/pull/79838 -- I think this should be fixed? Closing.

[2020-12-10 15:59] #78979 closed

[2020-12-10 16:22] rylev opened #79904 "regression 1.49: trait bound no longer inferred for associated type"
Log: https://crater-reports.s3.amazonaws.com/beta-1.49-1/beta-2020-11-26/gh/marcianx.openmesh-rs-core/log.txt

[code]

`ResizeablePropertyHandle::Handle` is constrained to implement `handle::ItemHandle`.

Other logs:
https://crater-reports.s3.amazonaws.com/beta-1.49-1/beta-2020-11-26/gh/Polkadex-Substrate.polkadex-engine/log.txt
https://crater-reports.s3.amazonaws.com/beta-1.49-1/beta-2020-11-26/r

[2020-12-10 16:28] rylev opened #79905 "regression 1.49: failing to infer generic param when not explicitly stated"
Logs https://crater-reports.s3.amazonaws.com/beta-1.49-1/beta-2020-11-26/reg/traitgraph-0.1.0/log.txt

[code]

@rustbot modify labels: +regression-from-stable-to-beta

[2020-12-10 16:29] Manishearth commented on #79872
I believe cmd-up/down is also a system shortcut? If it's not that would work.

[2020-12-10 16:36] rylev opened #79906 "regression 1.49: warn/deny annotations after forbid annotation breaks build"
https://crater-reports.s3.amazonaws.com/beta-1.49-1/beta-2020-11-26/reg/zkp-criterion-utils-0.2.0/log.txt
https://crater-reports.s3.amazonaws.com/beta-1.49-1/beta-2020-11-26/reg/zkp-u256-0.2.0/log.txt
https://crater-reports.s3.amazonaws.com/beta-1.49-1/beta-2020-11-26/reg/as-dyn-trait-0.2.0/log.txt
https://crater-reports.s3.amazonaws.com/beta-1.49-1/beta-2020-11-26/reg/kmp-0.1.1/log.txt

[code]

@

[2020-12-10 16:50] rylev commented on #79906
This was already reported in https://github.com/rust-lang/rust/issues/77713 and is open to be reverted in https://github.com/rust-lang/rust/pull/79903. Closing this as a duplicate.

[2020-12-10 16:50] #79906 closed

[2020-12-10 17:02] Mark-Simulacrum commented on #79904
cc @nikomatsakis, @matthewjasper -- might this be related to #78893? It looks sort of "inverse" of that one I guess

[2020-12-10 17:06] rylev commented on #79904
The `actix-amqp` and `ntex-amqp` logs also show another error (E0271). Perhaps these errors are related, but it's not easy to tell.

[2020-12-10 17:08] GuillaumeGomez commented on #79872
To be checked then! I'll try to do that this evening or tomorrow.

[2020-12-10 17:22] Swatinem commented on #79771
there is actually two bugs here. `mod` not being properly escaped is one thing, the other is probably the way that rustdoc is invoked, or not quite sure. Basically it infers the crate name from the file name if not explicitly given, and then just assumes that a crate with that name exists, which it doesn’t.

[2020-12-10 17:30] pickfire commented on #79887
But 'problems and improvements` is still `Issue` right?

[2020-12-10 17:32] jyn514 commented on #79887
@pickfire no, that also describes PRs fixing an issue, and PRs are not themselves issues.

[2020-12-10 17:37] pickfire commented on #79887
A few more

- `I-compilemem` - `Issue: Compile memory usage problems and improvements.` (I wonder if these should be `Area`)
- `I-compiletime` - `Issue: Compile time problems and improvements.`
- `I-needs-decision` - I wonder if this can be changed to `needs-decision` (yellow color) which is similar to `needs-fcp`?
- `I-slow` - `Issue: Generated code performance problems and improvements.`
- `I-he

[2020-12-10 17:41] PaulDance commented on #78403
@gomain Interesting other approach :+1:

[2020-12-10 18:07] mbrubeck commented on #75667
I believe this is caused by #31506.

[2020-12-10 18:15] nater540 opened #79907 "Internal Compiler Error (Nightly, MSVC)"
### Cargo.toml

[code]

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-10 18:32] jyn514 commented on #79771
@Swatinem that's an issue with compiletest, not rustdoc - it needs to compile the crate itself before running rustdoc on it: https://github.com/rust-lang/rust/pull/79775#discussion_r537146641. I don't know how to fix that, I think compiletest needs to add support for this maybe?

[2020-12-10 18:33] Mark-Simulacrum commented on #76605
#75516 does not seem to revert cleanly on current beta (1.49). @estebank @petrochenkov could one of you prepare a revert PR targeting beta? (I agree we should also revert on master)

[2020-12-10 18:33] Mark-Simulacrum opened #79908 "regression 1.49: macro_rules unexpected tokens"
Unclear on the extent to which these are the same problem:

* https://crater-reports.s3.amazonaws.com/beta-1.49-1/beta-2020-11-26/gh/ErickHdez96.tiger/log.txt
* https://crater-reports.s3.amazonaws.com/beta-1.49-1/beta-2020-11-26/reg/fourier-0.1.0/log.txt

cc @petrochenkov @Aaron1011

[2020-12-10 18:33] jyn514 commented on #79887
I am loath to make those changes unilaterally. If you want to chat about this on Zulip, that might be a better approach so we get more opinions, but I don't want to rename `I-` labels without knowing why they were chosen in the first place.

[2020-12-10 18:35] jyn514 commented on #79907
Duplicate of https://github.com/rust-lang/rust/issues/79783 - although the panic while panicking is odd, maybe that deserves its own issue?

[2020-12-10 18:36] jyn514 commented on #79783
So this just needs a test to be closed.

[2020-12-10 18:36] Mark-Simulacrum opened #79909 "regression: reached recursion limit while instantiating"
* https://crater-reports.s3.amazonaws.com/beta-1.49-1/beta-2020-11-26/gh/hiratara.toy-linear-type-system/log.txt

Would be great to see if this is expected -- I think we've previously seen some issues with combine, so maybe just an old version.

cc @matthewjasper @nikomatsakis

[2020-12-10 18:39] Mark-Simulacrum commented on #79887
I don't think there's any need to say "Issue: " -- I'm still not sure what the point of labeling PRs with anything other than S or T labels is, but there's no reason to limit these. I believe (though wasn't around) that I stands for "importance" or something like that; I wouldn't try to read more into it though. I am strongly opposed to changing it though -- it seems not worth the hassle for every

[2020-12-10 18:47] vultix commented on #43122
I have a use case for generators that isn't currently supported: I need a `Generator` that has access to a reference only for the short duration between yields.

Here's an example:
[code]

This could be done using GATs if the `Generator` trait looked more like this:
[code]

[2020-12-10 18:49] Mark-Simulacrum opened #79911 "regression 1.49: rustdoc runs indented documentation immediately after a header as a doctest"
* https://crater-reports.s3.amazonaws.com/beta-1.49-1/beta-2020-11-26/gh/bes.google-datastore1-generated/log.txt

My guess is that rustdoc's behavior on parsing doc attributes has changed or something like that -- I recall seeing a PR changing how we handle things. Maybe for example previously \n in an attribute worked and now doesn't?

cc @rust-lang/rustdoc

[2020-12-10 18:52] jyn514 commented on #79911
Is there a way to see the full source for this? The error sounds like it's a doctest or something, not documentation directly.

[2020-12-10 18:55] Mark-Simulacrum commented on #79911
It's a public repo, https://github.com/bes/google-datastore1-generated/blob/master/src/lib.rs#L1

[2020-12-10 18:59] Aaron1011 commented on #79908
The `fourier` error looks like an old bug that was fixed by https://github.com/calebzulawski/fourier/pull/17

[2020-12-10 19:02] Mark-Simulacrum commented on #79908
https://crates.io/crates/fourier only lists 0.1.0 so we should probably nag @calebzulawski about a point release one more time :)

[2020-12-10 19:04] Mark-Simulacrum commented on #79911
https://crater-reports.s3.amazonaws.com/beta-1.49-1/beta-2020-11-26/reg/auto-0.0.8/log.txt might also be related (that one is on crates.io)

[2020-12-10 19:10] calebzulawski commented on #79908
Whoops, looks like I half-fixed it.  One of my dependencies is too strict.  It does look like the same error so probably not a regression...

[2020-12-10 19:10] jyn514 commented on #79911
The bug is that this is being interpreted as a doctest instead of normal documentation. Not sure why yet.

[2020-12-10 19:12] Mark-Simulacrum commented on #79911
https://crater-reports.s3.amazonaws.com/beta-1.49-1/beta-2020-11-26/reg/glutin-0.25.1/log.txt also seems to do the same

[2020-12-10 19:14] xkr47 commented on #62358
or `has()`? :)

[2020-12-10 19:18] jyn514 commented on #79911
I think this was https://github.com/rust-lang/rust/pull/77519/commits/fa1b15f6279a95923b8a19046f45f27f243d49d2.

[2020-12-10 19:25] jyn514 commented on #79911
MCVE:

[code]
Stable ignores it, beta runs `x` as a doctest.

[2020-12-10 19:26] jyn514 commented on #79911
For context,
[code]
*is* run on a doctest on stable. So maybe newlines are getting discarded somewhere?

[2020-12-10 19:26] Mark-Simulacrum commented on #79501
Finished non-rustdoc:

* regression 1.49: rustdoc doc attribute parsing newlines? #79911
* regression 1.49: macro_rules unexpected tokens #79908
* regression 1.49: failing to infer generic param when not explicitly stated #79905
* regression 1.49: trait bound no longer inferred for associated type #79904
* regression 1.49: unexpected unsized tail ICE #79902

[2020-12-10 19:44] camelid commented on #79872
Command–Up Arrow and Command–Down Arrow are used for scrolling to the top and bottom of the page in many browsers, including Safari and Firefox (and I assume Google Chrome). I don't think we should override that if we're looking to be as accessible as possible.

Unfortunately, many of the keyboard shortcut options are already taken :/

[2020-12-10 19:47] petrochenkov commented on #44732
@jyn514 is planning to move this forward (to removal) by getting rid of existing uses of `doc(include)` (https://github.com/rust-lang/rust/issues/78835), so unassigning myself.

[2020-12-10 19:55] chris-belcher opened #79913 "thread 'rustc' panicked at 'no entry found for key', src/librustc_mir_build/build/mod.rs:345:9"
### Code

[code]

Cargo.toml
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

If I use `Ok(0) | Err(_) => {` instead of `Ok(0) | Err(_e) => {` then the crash doesn't happen

[2020-12-10 20:02] etherealist commented on #75667
Musl does things different in threading, for example the stacks for threads are much smaller. If rust just expects the same stacksize as for glibc, the guard-pages are probably misplaced.

https://wiki.musl-libc.org/functional-differences-from-glibc.html

People on the musl-mailinglist are very helpful. I wanted to look into this, but never found the time.

[2020-12-10 20:14] #79808 closed

[2020-12-10 20:17] jyn514 commented on #79911
[code]
I confirmed locally that reverting https://github.com/rust-lang/rust/pull/78400/ fixes the issue.

cc @GuillaumeGomez

[2020-12-10 20:28] Aaron1011 commented on #79890
I've fixed the issue locally, and I'm working on a PR.

[2020-12-10 20:46] GuillaumeGomez commented on #79911
It's because the header starts with `//!# Header`. Because there is no space before `//!`, everything is aligned to this, making `//!    x` a doctest because there are 4 spaces. So this is the expected behavior, it was just buggy before. :)

[2020-12-10 20:57] scottmcm opened #79914 "Using ManuallyDrop causes allocas and memcpys that LLVM cannot remove"
It's great that `ManuallyDrop` helps people do the right thing by pre-leaking things they plan to move elsewhere, helping to avoid double-free issues.

But unfortunately `ManuallyDrop::new` gets codegened as copying the whole thing into a local variable, and LLVM frequently cannot remove it.  This is particularly frustrating for large types where the ABI passes them by pointer, as they get copied

[2020-12-10 21:04] scottmcm commented on #79914
I'm happy to put some work into fixing this, if people can suggest what their preferred approach would be.

[2020-12-10 21:05] Aaron1011 commented on #79890
Opened https://github.com/rust-lang/rust/pull/79915

[2020-12-10 21:12] petrochenkov commented on #54883
One question - why is leading `|` only accepted at the top level in `match`/`let`, but not e.g. in parentheses?
[code]
Together with the current definition of `$pat` (or patterns in closures) it gives us three answers to the question "what is a pattern syntactically?".
That's probably one too many (given that we cannot get read of the closure case).

[2020-12-10 21:50] tgnottingham opened #79916 "Tracking Issue for bufwriter_raw_buffer"
This feature adds methods to `BufWriter` that enable raw access and manipulation of the underlying buffer. In particular, it adds methods analogous to the following raw buffer methods available on `Vec`: `as_ptr`, `as_mut_ptr`, `len`, and `set_len`. The names of these methods on `BufWriter` may differ.

The feature gate for the issue is `#![feature(bufwriter_raw_buffer)]`.

See #79921 for implemen

[2020-12-10 22:01] GuillaumeGomez commented on #79872
Arf. :-/

[2020-12-10 22:02] tgnottingham commented on #79916
@rfcbot label T-libs F-bufwriter_raw_buffer

[2020-12-10 22:04] jryans commented on #43364
@rustbot label A-pretty

[2020-12-10 22:10] jryans commented on #43636
@rustbot label A-pretty

[2020-12-10 22:17] genusistimelord commented on #62358
Yeah Has would have the same meaning if it was a String comparison as you mentioned before. Though contains works great for this since we are looking for what is in the Some() and not looking at what is contained within the Variable contained within the Some() =3.

[2020-12-10 22:23] rylev commented on #79911
@GuillaumeGomez can you clarify why this is expected behavior (not sure I fully follow your explanation above). This seems very unexpected to me.

[2020-12-10 22:26] SNCPlay42 commented on #79913
MCVE:

[code]

This was fixed in nightly 2020-05-11 (so the fix shipped in 1.45), almost definitely by #71557, which added a similar, but feature-using, [test](https://github.com/rust-lang/rust/blob/4dd47d3b78a2b6f45dd382ac58fb182e40293ca3/src/test/ui/or-patterns/mismatched-bindings-async-fn.rs). Maybe a test that checks this version that does not require feature gates could be useful, but it look

[2020-12-10 22:28] GuillaumeGomez commented on #79911
So I wrote a whole blog post explaining this change [here](https://blog.guillaume-gomez.fr/articles/2020-11-11+New+doc+comment+handling+in+rustdoc). TLDR:

Since the minimum indent is "0" because of `//!# Header` (where there is no whitespace before `#`), the line `//!    x` has an indent of 4, making it a code block based on the markdown spec.

If you don't want `x` to be a code block, add a whit

[2020-12-10 22:40] jyn514 commented on #43636
This works on latest nightly:

[code]

[2020-12-10 22:40] #43636 closed

[2020-12-10 22:44] rylev commented on #79900
I believe `Option` and `Result` are both library types. This would require special casing in order to provide this diagnostic. Is there precedence for doing such a thing with library types?

[2020-12-10 22:45] branan commented on #79889
For the sake of confirming expected behavior of vtables, I tested the following snippet in avr-gcc, which generates a manual vtable in the data segment:

[code]

This emits pretty much what I would have expected, with the vtable containing 0x004B for a function which is at byte-address 0x0096:

[code]

I have no idea if the version of clang on my

[2020-12-10 22:54] branan commented on #79889
I was able to narrow this down a bit further. Building my example rust code as a shared object, I was able to inspect the relocations in the vtable.

[code]

For my C code built by avr-gcc:
[code]

It looks like the wrong relocation type is being selected for the vtable entries.

[2020-12-10 23:16] lqd commented on #79865
I've removed `cpuid`, `universal-hash`, `generic_array`, `typenum`, `subtle`, and `hex-literal`, it's not exactly minimal (900 lines) but here you go https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=9235420e8d6a2f066d3636f0ecf9f9b3

I may have inadvertently removed a couple target features specific-code or attributes, or too much of the cpu autodetection, as it now doesn't

[2020-12-10 23:42] rail-rain commented on #9607
Update: `rustc` 1.48 does mention that it's from a derive macro:

[code]

[2020-12-10 23:43] jyn514 opened #79919 "'attempt to use non-constant in a constant' should point to the constant"
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3ae11bd57f4d5bd285c4ded6d860d7cd))

[code]
[code]

It would be nice for the error to point to `response` as the constant:
[code]

[2020-12-10 23:50] jyn514 commented on #79914
@scottmcm in this example, could you use [`drop_in_place`](https://doc.rust-lang.org/core/ptr/fn.drop_in_place.html)?

[2020-12-10 23:56] jryans commented on #45395
I can’t reproduce this: Rust and Emscripten are working well.

[2020-12-11 00:02] frewsxcv commented on #73908
I opened a pull request to enable sanitizers for Apple Silicon https://github.com/rust-lang/rust/pull/79883

[2020-12-11 00:11] scottmcm commented on #79914
@jyn514 But that would drop it -- what I want here is more like `forget_in_place`.

[2020-12-11 00:23] jonas-schievink commented on #73088
#73065 was merged, can this be closed?

[2020-12-11 01:33] fawdlstty commented on #79783
I have try to compile the code:
[code]
but still catch question,
[code]
compile output:

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

is that my question?

[2020-12-11 01:35] #73088 closed

[2020-12-11 02:18] KapJI opened #79923 "Long argsfile doesn't work properly on Windows"
Example: https://github.com/KapJI/rust_example
Commands to repro: https://github.com/KapJI/rust_example/blob/main/test.sh
Example CI job: https://github.com/KapJI/rust_example/runs/1534666156

With shorter argsfile it compiled correctly but longer one failed with
[code]
which is very obscure and not really relevant.

Note that I added many duplicated lines in argsfiles to demonstrate that it start

[2020-12-11 03:42] pickfire commented on #79887
I suggest that because we could easily search for it, we search for "issue" but all tons of others pop up.

[2020-12-11 03:42] #79887 closed

[2020-12-11 03:45] dillona commented on #79905
searched nightlies: from nightly-2020-09-24 to nightly-2020-12-11
regressed nightly: nightly-2020-10-07
searched commits: from https://github.com/rust-lang/rust/commit/a1dfd2490a6cb456b92e469fa550dc217e20ad6d to https://github.com/rust-lang/rust/commit/98edd1fbf8a68977a2a7c1312eb1ebff80515a92
regressed commit: https://github.com/rust-lang/rust/commit/08e2d4616613716362b4b49980ff303f2b9ae654

<deta

[2020-12-11 03:55] arafangion opened #79924 "Rustup doesn't check the platform OS version correctly."
I tried this code:

`% curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh`

I expected to see this happen:

Rust gets installed.

Instead, this happened:
[code]

### Meta

`% sw_vers -productVersion` produces
```11.0.1```
`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2020-12-11 04:01] arafangion commented on #79924
Reported at https://github.com/rust-lang/rustup/issues/2606

[2020-12-11 04:01] #79924 closed

[2020-12-11 04:11] dillona commented on #79904
searched nightlies: from nightly-2020-09-24 to nightly-2020-12-11
regressed nightly: nightly-2020-10-07
searched commits: from https://github.com/rust-lang/rust/commit/a1dfd2490a6cb456b92e469fa550dc217e20ad6d to https://github.com/rust-lang/rust/commit/98edd1fbf8a68977a2a7c1312eb1ebff80515a92
regressed commit: https://github.com/rust-lang/rust/commit/08e2d4616613716362b4b49980ff303f2b9ae654

<deta

[2020-12-11 04:49] dillona commented on #79902
searched nightlies: from nightly-2020-09-24 to nightly-2020-12-11
regressed nightly: nightly-2020-10-07
searched commits: from https://github.com/rust-lang/rust/commit/a1dfd2490a6cb456b92e469fa550dc217e20ad6d to https://github.com/rust-lang/rust/commit/98edd1fbf8a68977a2a7c1312eb1ebff80515a92
regressed commit: https://github.com/rust-lang/rust/commit/08e2d4616613716362b4b49980ff303f2b9ae654

<deta

[2020-12-11 05:14] spacenegative opened #79926 "nightly: thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value'"
Nightly compiler panics when <code>cargo check</code> although <code>cargo build</code> works fine. Switching to stable resolved the problem . The only feature I was using from nightly was: <code>#![feature(format_args_capture)]</code>. Code is too big to display here.

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

[2020-12-11 05:26] pengsrc commented on #79199
Got the same error here.

[2020-12-11 05:38] tmandry commented on #78840
Forwarding to the poll function does seem reasonable to me.

@anp any thoughts on this?

[2020-12-11 05:44] tmandry commented on #78543
Triage: This does seem like an important fix to make and @davidtwco describes a pretty clear path to implementing it. Marking on deck for wg-async-foundations.

[2020-12-11 06:32] GreenBeard opened #79928 "Cargo/rustc issue"
### Code
Unknown which part (large library, and small test program). Apologizes for making your life more difficult, although as specified in **Meta** I suspect this is to do with `cargo`.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

Edit: Let me know if I can do anything specific to h

[2020-12-11 06:33] lolgeny opened #79929 "ICE: tuple_fields called on non-tuple"
I was working on some procedural macros when I encountered
[code]

I'm not sure what caused it, probably generated incorrect code. I'm using the latest nightly compiler.

[2020-12-11 06:35] branan commented on #79889
Followup 3: This is supposedly fixed by https://reviews.llvm.org/D87631, which appears to have stalled. I can't find an actual issue on bugs.llvm.org that's tracking this, though.

[2020-12-11 06:37] GreenBeard commented on #79928
Hmm, this may be a duplicate of #79661. Feel free to close this.

[2020-12-11 07:15] scottmcm commented on #79744
I think this suggests an inexpensive way forward for a diagnostic here: suggest that they add a suffix and recompile.  For example, it could see the `230` and say something like "help: if you're unsure why it was inferred as `i8`, try changing it to `230_u8` and seeing where you get a type error".  (Of course, if it's already suffixed, like `300_u8`, then it shouldn't suggest that.)

[2020-12-11 07:42] mati865 commented on #79928
Most likely it's the duplicate. You should try with latest nightly.

[2020-12-11 07:54] #79691 closed

[2020-12-11 07:54] #79859 closed

[2020-12-11 09:54] Nemo157 commented on #43122
See https://github.com/rust-lang/rust/issues/68923, the function signature there doesn't need GATs, if transient references actually worked then it could be:

[code]

[2020-12-11 10:38] steffahn commented on #79636
@snoyberg Only tangantially related to this issue, but you might be interested in [this post of mine on how to do monads in Rust](https://users.rust-lang.org/t/monads-in-rust-with-gats/50487). It does e.g. support writing "join":
<details><summary>Example code of "join" that compiles with my approach:</summary>

[code]
([playground including this example](https://play.rust-lang.org/?version=nightl

[2020-12-11 12:30] #79890 closed

[2020-12-11 12:37] sylvestre commented on #66118
I am starting to experiencing the same thing with rust packages in Debian (grcov & the new version of fd-find)

[2020-12-11 12:50] #79928 closed

[2020-12-11 13:09] jmg-duarte opened #79932 "Nightly Compiler Bug - Failed to recover key for type_of"
The error occurs when running `cargo expand` for <https://github.com/rustype/proc-macro-workshop/blob/18f33a2bf2037f5b020dc508dfc9204467cb2ad5/main.rs>

### Code

Repository: <https://github.com/rustype/proc-macro-workshop/tree/18f33a2bf2037f5b020dc508dfc9204467cb2ad5>

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></su

[2020-12-11 13:24] Amanieu commented on #48556
@novacrazy I don't think there's anything blocking F16C intrinsics, feel free to send a stabilization PR for them.

[2020-12-11 13:46] jmg-duarte commented on #79932
In version `rustc 1.50.0-nightly (d32c320d7 2020-12-10) (from rustc 1.50.0-nightly (f0f68778f 2020-12-09))` the command works.

[2020-12-11 13:47] jmg-duarte commented on #79932
This is probably a duplicate of https://github.com/rust-lang/rust/issues/79890
However I don't know for sure so I'm leaving the issue open for someone with actual experience to comment

[2020-12-11 14:11] jmg-duarte commented on #79932
After all, the panic persists in `rustc 1.50.0-nightly (d32c320d7 2020-12-10) (from rustc 1.50.0-nightly (f0f68778f 2020-12-09))`

[code]

[2020-12-11 14:36] maruel opened #79933 "./x.py setup using option "d" (maintainer) is broken in 1.48.0"
### Code

Following https://rustc-dev-guide.rust-lang.org/getting-started.html

[code]

I expected to see this happen: works

Instead, this happened:

[code]

It's because src/bootstrap/defaults/ doesn't contain config.toml.maintainer

### Version it worked on

1.47.0 doesn't have `x.py setup`.

### Version with regression

1.48.0

[2020-12-11 14:37] maruel commented on #79933
@jyn514 created the directory.

[2020-12-11 14:39] frewsxcv opened #79934 "Compiling with sanitizers results in "Interceptors are not working" error"
Steps:

[code]

Output:

[code]

Platform:

[code]

This also occurs for me on `aarch64-apple-darwin`.

[2020-12-11 14:42] tmiasko commented on #79934
If building with `cargo --target` helps then this is a duplicate of #63986.

[2020-12-11 14:43] maruel commented on #79933
The fix seems to be

[code]

Workaround:

[code]

as in my case, I wanted to build from scratch, so config.toml.user were not defaults I wanted to use.

[2020-12-11 14:47] frewsxcv commented on #79934
@tmiasko yep that fixed my issue, thanks!

[2020-12-11 14:47] #79934 closed

[2020-12-11 14:51] frewsxcv commented on #48199
Regarding a fix for this (#63986) we'd need a way to conditionally check whether `--target` was passed from the command line. Where does this flag get passed through the compiler?

[2020-12-11 15:08] Mark-Simulacrum commented on #79911
Will close as won't fix, but we should include in release notes.

[2020-12-11 15:14] Mark-Simulacrum commented on #79908
cc @petrochenkov

[2020-12-11 15:14] Volker-Weissmann opened #79935 "Rust code segfaults with stack overflow"
If I'm not mistaken, writing an infinite recursing function, is guaranteed to produce this message:
[code]

I recently accidentally wrote an infinite recursing function (src/ir/item.rs:982) and I got this message instead:

[code]

To be fair, rust_bindgen does contain unsafe code, but I still suspect that this SIGSEGV is a bug in rust's handling with segmentation fault, because the call stack of t

[2020-12-11 15:18] Mark-Simulacrum commented on #79905
cc @matthewjasper @nikomatsakis -- looks like this is another bug due to #73905, but looks different from the one we're experimenting with a targeted patch for right now

[2020-12-11 15:18] Mark-Simulacrum commented on #79904
Probably a duplicate of https://github.com/rust-lang/rust/issues/79905

[2020-12-11 15:22] Mark-Simulacrum commented on #79902
cc @matthewjasper -- seems like this one might be an actual bug  #73905

[2020-12-11 15:25] Mark-Simulacrum commented on #79714
I am going to move this to P-low as this isn't breaking working code, we have more urgent fall out from #73905 that needs to be fixed first.

[2020-12-11 15:26] Mark-Simulacrum commented on #79498
Closing as fixed on master/beta.

[2020-12-11 15:26] #79498 closed

[2020-12-11 15:28] xylix commented on #79725
Seems to work! Nice work.

[2020-12-11 15:35] timothybrink commented on #79932
I'm getting this error as well, on `rustc 1.50.0-nightly (d32c320d7 2020-12-10)`. I removed a dependency that I was no longer using, and then when I do `cargo check` I get the same error. `cargo run` and `cargo build` work. Adding the dependency back into Cargo.toml causes `cargo check` to work again.

Backtrace is pretty much the same as above, here it is in case it's helpful:
[code]

[2020-12-11 16:07] marmeladema commented on #56071
Is there any progress on this?

My use-case is that I often use `#[repr(uXXX)]` on enums with the `enumflags2` crate in order to be able to manage set of values packed in an integer. That is very handy to avoid using a `BTreeSet` (heap allocation etc) but as soon as you have more then 64 different values (and less than 128 obviously), you would want to use `#[repr(u128)]` in stable but that's not

[2020-12-11 16:08] Aaron1011 commented on #79932
This should be fixed by https://github.com/rust-lang/rust/pull/79915, which will be in tomorrow's nightly

[2020-12-11 16:17] rvolgers commented on #74773
This function is very useful for writing simple ad-hoc parsers, and I find its current signature perfect for that.

I looked at the other suggestions but returning an enum which indicates whether or not the separator was found or not seems clearly the right choice to me.

I briefly considered the minor variation  `Result<(&str, &str), (&str)>` (in other words, like the current implementation, but

[2020-12-11 16:34] jyn514 commented on #79933
This does work on master, I think it was fixed in https://github.com/rust-lang/rust/pull/77400 but never backported.

@Mark-Simulacrum what's the policy for source-only backports? Backporting https://github.com/rust-lang/rust/pull/77400 to 1.48 wouldn't need a point release, just a cherry-pick on the stable branch.

[2020-12-11 16:39] Mark-Simulacrum commented on #79933
We do not usually land things onto the stable branch unless we are intending to do a point release (though there's no particular reason why, beyond the fact that the branch is not really meaningful since people should be using the tags for stable checkouts).

[2020-12-11 16:45] jyn514 commented on #79926
Duplicate of https://github.com/rust-lang/rust/issues/79783

[2020-12-11 16:45] #79926 closed

[2020-12-11 16:53] maruel commented on #79933
@jyn514 sorry I guess I shouldn't have put my workaround in my comment. I explicitly wanted to build from scratch, and config.toml.user doesn't do that. That's irrelevant to the issue here.

re point release: I'm fine with a WontFix here since it was fixed on tip of tree.

[2020-12-11 16:58] jyn514 commented on #79933
@maruel config.toml.user *does* do that, I'm confused why you think it doesn't.

[2020-12-11 16:59] jyn514 commented on #79933
I'm not trying to berate you, just see how I can improve the defaults in .user if they don't match your needs. I think you're the first person to try to use it.

[2020-12-11 17:13] matthewjasper commented on #79905
Likely #77638

[2020-12-11 17:23] jnqnfe commented on #79885
@scottmcm / @sfackler Please advise on next steps.

 - Do I make the stabilization PR myself or a team member?
 - Given this is such a trivial addition, how much time roughly to wait before doing so? (I presume the FCP starts after that PR is created?)

[2020-12-11 17:30] Mark-Simulacrum commented on #79905
Hm ok, that seems reasonable then. Does it seem right to you to close as won't fix?

[2020-12-11 17:38] In-line opened #79939 "ICE on serde_json::json"
### Code

This is private project, which I can't share.

I was refactoring code using `serde_json::json!` (version `1.0.55`) macro, there was particular key
[code]

Changing from `IterTools::join` (version 0.9.0) to `.collect::<Vec<String>>().join(";")` fixes ICE.

After clean building can't reproduce anymore, seems to be incremental `cargo check` issue.

### Meta

`rustc --version --verbose`:
[co

[2020-12-11 17:46] jyn514 commented on #79932
Closing as duplicate of https://github.com/rust-lang/rust/issues/79890

[2020-12-11 17:46] #79932 closed

[2020-12-11 17:55] jyn514 commented on #79939
Duplicate of https://github.com/rust-lang/rust/issues/79932; this should be fixed in the next nightly.

[2020-12-11 17:55] #79939 closed

[2020-12-11 18:02] camelid commented on #79744
That’s a good idea! :)

[2020-12-11 18:05] maruel commented on #79933
You are right, I misread https://github.com/rust-lang/rust/blob/master/src/bootstrap/defaults/config.user.toml.

[2020-12-11 18:42] marc-casperlabs opened #79941 "Still possible to export private type in a public interface if private through module visibility"
I tried this code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=75c34abb877a9142c54ee50ff2afc9c2

`mylib` library crate, `lib.rs`:

[code]

`mylibuser` binary crate, `main.rs`:

[code]

I expected a `error[E0446]: private type `PrivateType` in public interface` here, instead it compiled just fine.

### Meta

Tried on both:

[code]

[2020-12-11 19:39] djmarcin commented on #79875
I just updated to 2020-12-10 and the ICE occurred again, so it doesn't appear to be fixed.

[2020-12-11 20:09] camelid commented on #79875
Hmm, that's unfortunate. Can you post the ICE you get on 2020-12-10 so we can see if perhaps it's slightly different?

[2020-12-11 20:18] tmiasko commented on #48199
What `--target` does, is to change behavior of cargo so that in no longer uses `RUSTFLAGS` for builds scripts and procedural macros. In this case it is desirable, since otherwise those instrumented procedural macros are loaded into rustc (which to work would require either instrumented rustc or at least pre-loading the sanitizer runtime).

I think there is little that can be done on rustc side (at

[2020-12-11 20:22] newpavlov commented on #76560
We had a short discussion relevant to this feature in #79778.

@oli-obk
If we are to continue it, I think it will be better to do it here.

[2020-12-11 20:22] sfackler commented on #79941
That is how RFC 136 specifies that behavior: https://github.com/rust-lang/rfcs/blob/master/text/0136-no-privates-in-public.md.

[2020-12-11 20:22] #79941 closed

[2020-12-11 20:26] djmarcin commented on #79875
Here's the latest error. At first the build succeeded, but a second build of the same code failed.

[code]

[2020-12-11 20:32] djmarcin commented on #79875
An aside -- when I say 2020-12-10 I mean the file downloaded at https://static.rust-lang.org/dist/2020-12-10/rust-nightly-x86_64-unknown-linux-gnu.tar.gz -- but it appears to have embedded `f0f68778f 2020-12-09`. When saying a nightly version, is it the URL date or embedded date that folks usually use?

[2020-12-11 20:42] WaffleLapkin commented on #76882
Note that this behaviour is also inconsistent with lifetimes which are not captured by default:

[code]

[code]

([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=cc5360dc3f3d7965ec2b6831c4dbddb9))

[2020-12-11 20:43] mark-i-m commented on #54883
@rustbot modify labels: +I-nominated

(not sure if I have permissions)

I would like to nominate this issue for discussion about two things:
- The crater results as mentioned above. It seems like the best solution might be to use `pat<no_top_alt>` in edition 2015/2018, and `top_pat` in 2021 and onwards. I propose to resolve the unresolved questions in this way.
- The question that petrochenkov men

[2020-12-11 20:44] maruel commented on #79582
Got this with `./x.py install` with the user/maintainer profile.

[2020-12-11 20:58] richkadel commented on #79899
Since the file is generated by your own target binary (not from a Rust language tool), it's not something the compiler can easily work around.

The default name `default.profraw` and handling of `LLVM_PROFILE_FILE` is embedded in the LLVM `compiler-rt` library, and it is not language specific (it works the same for Clang and Swift, for example). It may be more effective to file a feature request w

[2020-12-11 21:02] steveklabnik commented on #65042
Triage: not aware of any work done here.

[2020-12-11 21:10] richkadel commented on #79555
Just a follow-up regarding the implementation of `-Zinstrument-coverage` (I'm not sure if this is obvious): The entire rust-side of the implementation, through codegen, ends at the generation of LLVM-IR. There were no special Rust-specific mods to the linkage, so I assume the limitation is in `rust-lld`.

For someone familiar with `rust-lld` (which I am not), It may be worth looking into the [Cove

[2020-12-11 21:19] richkadel commented on #79640
My guess is the version of `rustc` you are compiling with was built without `profiler = true` set in its build configuration (e.g., `config.toml`).

[2020-12-11 21:19] matthewjasper commented on #79905
I think that's right

[2020-12-11 21:20] richkadel commented on #79640
This may be related to #79556

[2020-12-11 21:22] tmandry commented on #79153
I think the query `ongoing_codegen` is what kicks off all the codegen threads? Try starting there.

[2020-12-11 21:26] camelid commented on #79875
To my knowledge, the nightly version is whatever comes out of `rustc --version` :)

In your case, it seems to be `nightly-2020-11-09`.

[2020-12-11 21:27] camelid commented on #79875
It seems like #79721 introduced another bug? The panic message changed.

[2020-12-11 21:27] jyn514 commented on #79875
The new ICE is a duplicate of https://github.com/rust-lang/rust/issues/79890.

[2020-12-11 21:27] #79875 closed

[2020-12-11 21:28] jyn514 commented on #79875
Note that the fix was only merged 9 hours ago, so there isn't yet a nightly that fixes the issue: https://github.com/rust-lang/rust/pull/79915. Feel free to open a new bug if your build is still broken after the next nightly.

[2020-12-11 21:28] camelid commented on #79875
Okay, then @djmarcin can you try again with tonight's nightly (2020-12-11) and let us know if it works? Thanks!

[2020-12-11 21:29] jyn514 commented on #79875
@camelid the next nightly won't be published until 2020-12-12, -11 has the commits from yesterday (and works now): https://github.com/willcrichton/example-analyzer/pull/1/files#diff-335ddbce02d068207f42ecdac988ee267eb014a7a1e7ffe8df7bedd66f716899R2

[2020-12-11 21:31] camelid commented on #79875
Hmm, but rustup says the latest nightly is `2020-12-10`:

[code]

[2020-12-11 21:45] djmarcin commented on #79875
If I'm understanding you correctly, the nightly published sometime in the next ~12 hours or so should have the patch, though it will be labeled something like `rust version 1.50.0-nightly (somehash 2020-12-11)`, correct?

[2020-12-11 21:46] jyn514 commented on #79875
Correct, the rustc version is offset from rustup by one. Or in other words, the latest available nightly was *built* on the 10th but *distributed* on the 11th.

[2020-12-11 21:57] camelid commented on #79929
Hmm, the rustc output you posted says that you're running a nightly compiler that's two months out-of-date (2020-10-18). I think this issue was fixed after then. Can you try with a recent nightly (e.g. 2020-12-10) and let us know if it works? Thanks.

[2020-12-11 22:05] gilesbradshaw opened #79948 "compiler error on cargo test"
It says you'd appreciate report ...

I am 99% sure this code was compiling - but now

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-11 22:05] vandenheuvel opened #79949 "ICE when attempting HRTB with GATs"
This happens on stable 1.48.0, beta 1.49.0-beta2 as well as the current nightly.

[code]
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=75795de1e221c9ab0a6f93c596dd2d9b)

[code]

This error occurs also when the `associated_type_bounds` and `generic_associated_types` features are enabled on nighly, another [playground](https://play.rust-lang.org/?version=nightl

[2020-12-11 22:09] camelid commented on #79948
Appears to be a duplicate of #79661. Can you please try with the latest nightly and let me know if it works? If it does not, you may need to wait for the one after that.

[2020-12-11 22:13] camelid commented on #79901
@matthiaskrgr I tried looking at the branch on GitHub, but it doesn't seem to exist. https://github.com/matthiaskrgr/cargo-cache/tree/rustfmt_bug returns a 404.

[2020-12-11 22:14] camelid commented on #79900
We already special-case `Option` and `Result`: they are what's called *diagnostic items*. `Some`, `None`, `Ok`, and `Err` are also language items.

[2020-12-11 22:15] camelid commented on #79900
I labeled this as P-low since I don't think it would provide that much benefit.

[2020-12-11 22:15] matthiaskrgr commented on #79901
Oh sorry, I forgot to push it :sweat_smile: . It should be online now!

[2020-12-11 22:16] camelid commented on #79901
I was able to reproduce this [on the playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=261017191b15565f0810f8bfdb6d2b61).

[2020-12-11 22:17] gilesbradshaw commented on #79948
actually I have "fixed" it by deleting target directory - now it compiles fine..
If I get it again i will also try and fix by updating and report back ..

[2020-12-11 22:18] camelid commented on #79948
Yes, this is an incremental compilation bug, which means that deleting the target directory will at least temporarily fix the problem. Updating your version should actually fix it though.

[2020-12-11 22:18] #79948 closed

[2020-12-11 22:19] camelid commented on #79901
A bug should probably be opened for rustfmt too, right? I don't think this code should make it crash.

[2020-12-11 22:26] gilesbradshaw commented on #79948
yeap it happened again - fixed with upgrade

[2020-12-11 22:28] camelid commented on #77188
I'm going to close this: like pnkfelix said, this is not actionable. If someone runs into this and can share the code or minimized code, then we can fix it, but there's not really any way to know what the problem is here.

[2020-12-11 22:28] #77188 closed

[2020-12-11 22:31] matthiaskrgr commented on #79901
The `error[internal]: left behind trailing whitespace` is a rustfmt bug, I agree.
This ticket is about the fact that it says
`/home/matthias/vcs/github/cargo-cache/src/library.rs:147:147:0`
instead of
`/home/matthias/vcs/github/cargo-cache/src/library.rs:147:0`
which I suspect to be a bug somewhere in a `rustc_ap.*` crate that rustfmt is using as dependency.

[2020-12-11 22:31] camelid commented on #79103
P-medium: it's annoying that it takes so much memory, but it's not like you *can't* document it. And it's being worked on.

[2020-12-11 22:32] camelid commented on #78724
Prioritized as P-medium for now: it seems people are only running into this in compiler docs and it's not catastrophic.

[2020-12-11 22:35] camelid commented on #79593
P-high: I've run into this a bunch of times and I imagine others have too. It's really annoying and confusing, likely even more so for newcomers!

[2020-12-11 22:41] camelid commented on #79905
Closing as per simulacrum's and matthewjasper's comments.

[2020-12-11 22:41] #79905 closed

[2020-12-11 22:43] camelid commented on #79783
Should `I-prioritize` be removed given that all this needs is a test?

[2020-12-11 22:45] camelid commented on #79901
It's weird that it only seems to be happening in this one instance.

[2020-12-11 22:47] camelid commented on #79593
searched nightlies: from nightly-2020-08-01 to nightly-2020-10-15
regressed nightly: nightly-2020-09-11
searched commits: from https://github.com/rust-lang/rust/commit/e2be5f568d1f60365b825530f5b5cb722460591b to https://github.com/rust-lang/rust/commit/a1947b3f9e2831e2060bc42f0c78e4a2bb67930a
regressed commit: https://github.com/rust-lang/rust/commit/ad3a6f70ac9457173aa1f3f3af372aadec915f8d

<deta

[2020-12-11 22:48] camelid commented on #79593
Seems very likely that this is due to #76524, as eddyb said.

[2020-12-11 22:53] jyn514 commented on #79103
I ran Rustdoc under DHAT and found that a good tenth of the allocations come from `get_blanket_impls` alone: https://github.com/rust-lang/rust/blob/2225ee1b62ff089917434aefd9b2bf509cfa087f/src/librustdoc/clean/blanket_impl.rs#L130. I'm not sure how to upload the full 81 MB file to GitHub, but feel free to ping me here or [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topi

[2020-12-11 23:17] jyn514 commented on #79103
Another 7% just storing the structs themselves: https://github.com/rust-lang/rust/blob/2225ee1b62ff089917434aefd9b2bf509cfa087f/src/librustdoc/passes/collect_trait_impls.rs#L128. Maybe I should be asking just how many impls there are?

[2020-12-11 23:47] yaahc opened #79950 "Update `std::thread::Result` and `std::panic::catch_unwind` documentation to recommend `std::panic::resume_unwind` instead of `unwrap`"
The current version of the `std::thread::Result` documentation recommends unwrapping a `Result<T, Box<dyn Any + ...>>` in order to re-start propagation of a caught panic. This recommendation will not simply resume the panic as it was originally. Once the error type has been erased and Boxed the panic can no longer be downcast directly back to the actual payload type. Instead you have to also try d

[2020-12-11 23:52] FibreFoX commented on #79640
Hm, #79556 is related to musl, you sure it is related? As I am using official `rust:latest`-image, where can I check/see, if it was built with `profiler = true` ? The defaults seem to have no profiler to get built into https://github.com/rust-lang/rust/blob/2225ee1b62ff089917434aefd9b2bf509cfa087f/config.toml.example#L268

[2020-12-12 00:23] #79201 closed

[2020-12-12 00:33] ast-ral commented on #48108
I think a potentially easy solution to this is to just have a function to increment the strong count directly from the pointer, and then have user make two `Rc`s from it later, using `Rc::from_raw`. The current code to increment the strong count on a raw Rc ptr is:
[code]
Which seems a bit silly to just increment one value.

[2020-12-12 00:46] Mark-Simulacrum commented on #48108
https://github.com/rust-lang/rust/pull/79285 stabilizes the increment/decrement operators.

[2020-12-12 00:49] ast-ral commented on #48108
That unfortunately only seems to apply to Arc.

[2020-12-12 01:10] matthiaskrgr opened #79953 "-Ztime-passes: print lint name"
It seems that for each lint that is run, rustc only prints `pre_AST_expansion_lint_checks` when invoked with `-Ztime-passes`:

[code]
[code]
It would be great if it could print the name of the lint here.

[2020-12-12 01:46] eloff opened #79955 "Can't create a constant using mem::size_of inside a function on a sized generic type (E401)"
If you use:

`const size = std::mem::size_of::<T>()` instead of `let size = ...`

You get the misleading compiler error E401:

error[E0401]: can't use generic parameters from outer function

Which is total nonsense. You just need let instead of const here. This fooled me for a while, so I'm opening this issue so it will get addressed and not fool other developers.

For more info see: https://stack

[2020-12-12 01:47] jryans commented on #55153
@rustbot label D-newcomer-roadblock

[2020-12-12 01:48] cynecx commented on #79914
I may have opened a duplicate issue for the same issue? https://github.com/rust-lang/rust/issues/79754

[2020-12-12 01:53] camelid commented on #79593
Update: I've been reading the source code and print-debugging and I think the issue was not introduced in either of those two PRs, but rather that they surfaced a pre-existing issue.

[2020-12-12 01:57] jryans commented on #55468
@rustbot label A-codegen

[2020-12-12 02:32] camelid commented on #79907
@nater540 Can you try again on the latest nightly (`1.50.0-nightly (2225ee1b6 2020-12-11)`)? Thanks!

[2020-12-12 04:04] camelid commented on #79593
Well, it took a while, but I think I fixed it!

[2020-12-12 04:43] cynecx commented on #43122
@tommythorn Is your c++ code publicly available? (regarding your stackless coroutine benchmark)

[2020-12-12 05:03] jyn514 commented on #79953
Honestly I'd prefer it just not print the lint at all. They almost all take basically 0 time and they just clutter up the logs.

[2020-12-12 05:04] #42371 closed

[2020-12-12 05:14] matthiaskrgr commented on #79953
Hm. I was hoping to be able to find out if clippy had some lints that took exceptionally long. There are some cases where linting a single file crate can take several minutes iirc.

[2020-12-12 05:47] jyn514 commented on #79953
Another alternative is to make self-profile smarter and only prints passes that take more than x milliseconds (.005 seconds seems like a reasonable cutoff). Then most lines would be trimmed but long running lints would still show up.

[2020-12-12 07:33] tommythorn commented on #43122
This code is curtesy of Professor Jose Renau, reproduced with permission (attached).  Compile with g++ -fcoroutines -O3 -std=c++2a sample.cpp

[sample.cpp.txt](https://github.com/rust-lang/rust/files/5682649/sample.cpp.txt)

[2020-12-12 08:55] hencrice commented on #79799
@rustbot claim

I would like to give this a try as my first Rust contribution :)

[2020-12-12 12:05] ijackson opened #79960 "rustdoc help popup appears in every new tab when no web local storage"
In current Rust nightly, the std docs search function does a very annoying thing for me: every time I open a new tab onto the rust std docs, I get once again the popup with the keybindings which I then have to dismiss.

I conjecture that this is because I am looking at locally built docs via a `file://` URL.  Presumably the same thing would occur for a user who has sensibly disabled cookies in the

[2020-12-12 12:06] ijackson commented on #79960
@rustbot modify labels +T-rustdoc +A-rustdoc-ui

[2020-12-12 12:07] ijackson commented on #79960
@rustbot modify labels +regression-from-stable-to-nightly

[2020-12-12 12:15] ijackson opened #79961 "rustdoc search results heading illegible colour scheme"
The rustdoc search results page has three tabs of results: "In Names", "In Parameters", and "In Return Types".

In my browser with the default theme, the selected tab heading is drawn in black on black.

![screenshot](https://user-images.githubusercontent.com/2090772/101983576-ea9d1200-3c73-11eb-945f-726f3586e21e.png)

[2020-12-12 12:15] ijackson commented on #79961
@rustbot modify labels +T-rustdoc +A-rustdoc-ui +regression-from-stable-to-nightly

[2020-12-12 12:28] ijackson opened #79962 "focus wrong for unchanged search after mousing over search results"
This one is a relatively minor bug, since it only happens if you try to search for the same thing you are looking at, which is not a very natural thing to do.  But I thought I would report it anyway.

### Steps to reproduce

1. Go to the front page of the std results from rustdoc
2. Click in the search box at the top of the page
3. Type in `assert` (as an example search term) and hit Return
4. If

[2020-12-12 12:28] ijackson commented on #79962
@rustdoc modify labels +T-rustdoc -A-rustdoc-ui

[2020-12-12 12:29] ijackson commented on #79962
@rustdoc modify labels +T-rustdoc +A-rustdoc-ui

[2020-12-12 12:29] ijackson commented on #79962
@rustbot modify labels +T-rustdoc -A-rustdoc-ui

[2020-12-12 12:29] ijackson commented on #79962
@rustbot modify labels +A-rustdoc-ui

Sorry for the rustbot flail!

[2020-12-12 12:36] #79897 closed

[2020-12-12 14:43] philw07 commented on #47814
Issue is still present on current stable and nightly.
Just wanted to add that it only occurs when using a lifetime parameter.

@dtolnay's example ICEs whereas the following with removed lifetime parameter works fine.

[code]

[2020-12-12 15:19] matthiaskrgr opened #79964 "changelog: 1.48.0 does not list cargo changes"
The rust 1.48.0 changelog does not list any `cargo` changes, might be an accident?

[2020-12-12 15:20] poliorcetics opened #79966 "Change display of item name on mobile/narrow windows"
First discussed in #79936.

After #79936, `rustdoc` will display items names as such:

![Screenshot 2020-12-12 at 16 12 36](https://user-images.githubusercontent.com/7951708/101987530-dc132280-3c94-11eb-804c-c37657d18b4b.png)

I wonder if something like this would be better in term of usability. It would add more scrolling but narrow screen, especially mobile ones, are made for scrolling:

![Scree

[2020-12-12 15:32] bjorn3 commented on #77857
@0dvictor are you still working on this?

[2020-12-12 15:43] jyn514 commented on #79966
Duplicate of https://github.com/rust-lang/rust/issues/78799

[2020-12-12 15:43] #79966 closed

[2020-12-12 16:28] KapJI commented on #79923
I also checked that it doesn't fail neither on Mac nor Linux even if argsfile is 100 times bigger.

Also it seems that it starts to fail not because of large argsfile itself but because of total length of paths in `-Ldependency` args. If you replace relative paths with absolute it starts failing earlier even if file size is smaller.
It's also not number of entries, for shorter paths like in my exa

[2020-12-12 16:53] jryans commented on #54880
I cannot reproduce this issue with 1.50.0-nightly (2225ee1b6 2020-12-11). The JSON output is now syntactically valid.

<details><summary>JSON output</summary>
<pre>
{
    "module": {
        "inner": {
            "lo": 0,
            "hi": 144
        },
        "unsafety": "No",
        "items": [
            {
                "attrs": [
                    {
                        "kind": {

[2020-12-12 17:25] dillona commented on #79909
searched nightlies: from nightly-2020-10-23 to nightly-2020-12-12
regressed nightly: nightly-2020-10-28
searched commits: from https://github.com/rust-lang/rust/commit/fd542592f08ca0d1f7255600115c2eafdf6b5da7 to https://github.com/rust-lang/rust/commit/07e968b640e8ff76fa8be4b48b70ab80ea577800
regressed commit: https://github.com/rust-lang/rust/commit/a4d30a7b490065f0aa56f58e508a11546445aea9

<deta

[2020-12-12 17:27] Mark-Simulacrum commented on #79909
cc @tmiasko -- any idea how #77876 could cause that? It seems quite unexpected to me but maybe I'm missing something

[2020-12-12 19:05] MSxDOS opened #79971 "const_item_mutation warning is triggered when modifying an array by pointer"
[code]
[code]
https://github.com/rust-lang/rust/pull/77324 missed that case.

[2020-12-12 19:07] camelid commented on #79960
I've been having a different version of this happen on https://doc.rust-lang.org/nightly/std (and `/nightly-rustc`) too. Whenever I press <kbd>Enter</kbd> after typing in the search field, the Help popup momentarily appears. I don't think mine is a cookies issue; I think rustdoc is handling events wrong.

[2020-12-12 19:09] camelid commented on #79960
cc @rust-lang/rustdoc – this is a pretty severe usability bug, and we should fix it as soon as possible

[2020-12-12 19:09] camelid commented on #79961
Yes, I've been having this too. You beat me to reporting this bug and #79960; thank you for making good reports!

[2020-12-12 19:10] jyn514 commented on #79960
Might be related to https://github.com/rust-lang/rust/pull/78921 or https://github.com/rust-lang/rust/pull/78876 ?

[2020-12-12 19:11] camelid commented on #79960
I'll try to bisect.

[2020-12-12 19:11] GuillaumeGomez commented on #79960
I'll send a fix shortly.

[2020-12-12 19:15] minaminao opened #79972 "E0320 error huge type name output"
I tried this code:

[code]

Compilation resulted in the E0320 error of **3.7MB**:
[code]

Since the error output is very large and taints the terminal, It might be better to use the same error output format as in the recursion limit error. Its format as follows.

In #72412, long type name is omitted:
[code]

In #76843, the full type name of the omitted type is saved to a file:
[code]

### Meta
`ru

[2020-12-12 19:30] camelid commented on #79961
I did some bisection and it seems the most likely cause is #79896.

[2020-12-12 19:30] camelid commented on #79961
Ah, I think I know what the issue is.

[2020-12-12 19:51] AngelicosPhosphoros commented on #74913
Why `unsigned_abs` of `isize` returns `u64` instead of `usize`?
IMHO, it is not valid.
https://doc.rust-lang.org/std/primitive.isize.html#method.unsigned_abs

[2020-12-12 19:52] erikdesjardins commented on #73031
Like https://github.com/rust-lang/rust/issues/77812#issuecomment-743802706, this will be fixed in LLVM 12: https://llvm.godbolt.org/z/jxjEbq

[2020-12-12 19:53] CryZe commented on #74913
This is fixed on nightly (that you need anyway to use this for now)

[2020-12-12 19:53] AngelicosPhosphoros commented on #74913
Nice, thank you!

[2020-12-12 19:56] jhpratt commented on #74913
Yeah, it just hasn't propagated through to stable yet. Once that happens, I think stabilization should happen relatively quickly.

[2020-12-12 19:58] Nadrieril commented on #51085
First, some good news: I got [a PR] up that most probably fixes the [performance issue]. Once/if it gets merged we can confirm if it really fixed perf.

Second, after [some] [discussion] and [a] [lot] [of] [reading] on my part, I understand the situation better. I'll explain what I understood, even though it's nothing new. This explains why the feature can't be stabilized as it is today.

Here is

[2020-12-12 20:14] camelid commented on #79961
Labeled as P-medium since I made the fix and it's in the bors queue.

[2020-12-12 20:15] nikic commented on #77812
The CVP issue is addressed by https://github.com/llvm/llvm-project/commit/afbb6d97b501502b89bedc3da2a5d7ec00f56dba. Assigning this to myself to re-check this after the LLVM 12 upgrade.

[2020-12-12 20:24] hallya commented on #49112
same issue, not sure how to handle it in this case:
[code]

[2020-12-12 20:52] jocutajar opened #79977 "Failed to recover key for generics_of(---)"
I started seeing this on recent nightly rustc. It seems rather random to me, but when it happens it stays it this broken state. `cargo clean` removes the problem. Switching to sable works, switching back still broken.

I have a *hunch* that it gets broken when the code doesn't change (docs only) or when I revert to previously built code state. Other indicators - I'm using rust-analyzer in VS code.

[2020-12-12 20:59] jyn514 commented on #77826
I'm going to close this as a duplicate of https://github.com/rust-lang/rust/issues/77834, but I agree the diagnostic here should be improved.

[2020-12-12 20:59] #77826 closed

[2020-12-12 21:05] tmiasko commented on #79909
Underneath the recursion limit error lies a success story. The combine crate generates a lot of dead code and a new implementation is much better at removing it. The most significant aspect is removal of dead dyn casts, since without them there are fewer codegen items.

The crate has a configured recursion limit 67, which is exactly what is necessary. Since the codegen item collector uses memoizat

[2020-12-12 21:08] camelid commented on #77834
I'm hoping to get to this at some point soon!

[2020-12-12 21:14] Mark-Simulacrum commented on #79909
Hm, and 67 is lower than the default? I am a bit worried at us exposing such low level details, but it sounds like this should be won't fix.

[2020-12-12 21:47] Nadrieril opened #79980 "Can't document compiler crates with --stage 0"
When I try to run `./x.py doc` with `compiler-docs = true` in config.toml, I get several errors. I started discussing this [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/Can't.20document.20compiler.20crate). I am trying this on latest `master` and a clean `build/` directory.

First I got errors related to `-Znormalize-docs`. https://github.com/rust-lang/ru

[2020-12-12 22:47] anp commented on #78840
Forwarding to the generated future SGTM.

[2020-12-12 22:56] Qwaz commented on #79960
Will the affected documentations on docs.rs be rebuilt?

[2020-12-12 23:09] GuillaumeGomez commented on #79960
Unfortunately no. It'll require to rebuild the impacted crates.

[2020-12-12 23:42] jyn514 commented on #77459
This was fixed for rustc by https://github.com/rust-lang/rust/pull/79525. I guess we can reuse this as the tracking issue for enabling `normalize-docs` globally? I'm not planning to work on it myself but I'd love to remove the feature gate.

[2020-12-12 23:44] jyn514 commented on #79977
cc @Aaron1011 - this might be related to your recent incremental changes?

[2020-12-12 23:50] camelid commented on #79977
It's in that same spot in `rustc_middle` as #79661 ... coincidence or no?

[2020-12-12 23:50] camelid commented on #79977
cc #79890

[2020-12-13 00:06] Aaron1011 commented on #79977
The nightly you're using doesn't.cobtain my fix. Can you re-test on the latest nightly?

[2020-12-13 00:06] jyn514 commented on #79980
@Mark-Simulacrum and I think this is the same root cause as https://github.com/rust-lang/rust/issues/74976#issuecomment-667265945: `--target` is getting passed to `rustdoc` but not to rustc, so they use different sysroots. I don't know how to fix this :(

[2020-12-13 00:11] sashaweiss opened #79990 "Crash while type-checking - Nightly 1.50.0"
### Code

I haven't got a minimal viable repro, since I unfortunately hit this with a pretty big local changeset and can't seem to figure out what tweaks resulted in this. Sorry for the lack of detail - wanted to report sooner rather than later since I may or may not have time to dig deeper soon and wanted to make sure I reported.

That said, I committed right when I noticed this, so the code it's

[2020-12-13 00:15] sashaweiss commented on #79990
@nathanshelly

[2020-12-13 00:15] jonas-schievink commented on #79990
duplicate of https://github.com/rust-lang/rust/issues/79783

[2020-12-13 00:15] #79990 closed

[2020-12-13 00:20] coolreader18 commented on #73432
I'm looking into adding support for reactor binaries, since it seems pretty simple -- use crt1-reactor instead of crt1 and set the entry to `_initialize` instead of `_start`, based off [this code from clang](https://github.com/rust-lang/llvm-project/blob/8d78ad13896b955f630714f386a95ed91b237e3d/clang/lib/Driver/ToolChains/WebAssembly.cpp#L78-L97). Would it make sense to add a variant `LinkOutputKi

[2020-12-13 00:22] steveklabnik commented on #67064
This seems to fail to compile pretty quickly for me; is anyone else still seeing this hang?

[2020-12-13 00:46] coolreader18 commented on #73432
Or if we do need to change the entry symbol, maybe it should be a separate target entirely? `wasm32-wasi_reactor` or something? Cause it looks like llvm args are per-target, so if we need to pass `-e` like `x86_64_fortanix_unknown_sgx.rs`, it might make sense to be an entirely separate target rather than try to hack around it, and then all the `*-dylib` `LinkOutputKind`s can map to `crt1-reactor`

[2020-12-13 00:53] coolreader18 commented on #73432
Or does `LinkOutputKind` have the chance to change llvm args at some point? That seems like it should happen.

[2020-12-13 01:13] coolreader18 commented on #73432
Ok, nevermind, the `pre_link_args` are args to the linker, duh. I think I'll just repurpose cdylib to put an `_initialize` func in; I don't think there's much sense in making a `wasm32-wasi` module that can't use wasi functions, so I don't think changing that behavior is really a big deal.

[2020-12-13 01:15] smmalis37 opened #79992 "Calling Vec::extend repeatedly in a for loop is faster than calling it once on iter::flatten"
See https://github.com/smmalis37/aoc2020/commit/3fbf5d9b9e89d18c213c0d9df6a08db9364b2604#diff-6965df871359c91ee03b5564314f3e131c0877b8603aea626b5d8f9180eb4ee8R28-L29

The highlighted change alone resulted in a roughly 30-40% speedup of the entire function (i.e. the entire chain of iterators ending in the collect call that calls this FromIter implementation). If measured in isolation I assume the i

[2020-12-13 01:16] smmalis37 commented on #79992
@rustbot label I-slow

[2020-12-13 01:24] hencrice opened #79993 "x.py setup failed with "No such file or directory""
I'm a first-time Rust contributor. Trying to set up the development environment for the Rust compiler.
When I ran:
[code]
Or any `x.py` commands

**expected to see this happen:**
Downloads the beta rustc as stage 0 compiler and continues

**Instead, this happened:**

Commands all failed with:
[code]
To unblock myself, I'm going to create a copy of `config.toml.example`, set `cargo` add `rustc` to

[2020-12-13 01:46] hencrice commented on #79993
Seems to

[2020-12-13 01:46] #79993 closed

[2020-12-13 02:08] beepster4096 opened #79995 "Tracking Issue for maybe_uninit_write_slice"
Feature gate: `#![feature(maybe_uninit_write_slice)]`

This is a tracking issue for `MaybeUninit::copy_from_slice` and `MaybeUninit::clone_from_slice`.

These methods are the equivalents of `[T]::copy_from_slice` and `[T]::clone_from_slice` for uninitialized slices.

### Public API

[code]

### Steps / History

- [x] Implementation: #79607
- [x] Make slice methods inherent: https://github.com/rust

[2020-12-13 02:24] the8472 commented on #79992
That is likely due to the inner iterators implementing `ExactSizeIterator` (and `TrustedLen`) for which `Vec::extend` has a specialization which uses `Iterator::for_each` instead of `Iterator::next`. An attempt to switch the general case from external to internal iteration (which would have helped the `flatten` case) was made in #68046 but was abandoned due to compile time regressions.

I don't th

[2020-12-13 03:27] DrMeepster commented on #79995
will this work or will someone else need to do it for me :thinking:

@rustbot modify labels: C-tracking-issue, T-libs, A-raw-pointers

[2020-12-13 03:35] smmalis37 commented on #79992
You are correct in that those lines don't do the right thing in the general case, however for the specific case of how i tend to structure my inputs for the advent of code puzzles it's exactly right. When I'm using this type I'm reading input from a file, typically one character per T, one row per line. The outer iterator is a split.map, which both pipe through the previous size hint, which is the

[2020-12-13 05:21] remexre opened #80000 "x86_64-unknown-linux-musl binaries have a DYNAMIC segment"
On the current nightly and stable, compiling hello world with `--target x86_64-unknown-linux-musl` results in a static PIE binary that still has a `DYNAMIC` segment and `.dynamic` section. This causes `file` to report it as:

[code]

This was previously reported as https://github.com/rust-lang/rust/issues/79624, which I believe to be incorrectly closed: on a hand-created binary without a `DYNAMIC`

[2020-12-13 06:25] #27794 closed

[2020-12-13 06:25] #78564 closed

[2020-12-13 06:25] #79960 closed

[2020-12-13 06:25] #79961 closed

[2020-12-13 07:51] arzg opened #80002 "Illegal hardware instruction"
I was helping a friend on [Advent of Code Day 13 Part 2](https://adventofcode.com/2020/day/13), and ran this broken (as in doesn’t solve the problem and accidentally loops forever) code:

[code]

`Cargo.toml`:

[code]

[code]

Running with `cargo run` does the right thing and loops forever (since `valid` is never mutated to be `true`). Running with `cargo run --release` gives an ‘illegal hardware

[2020-12-13 08:35] SNCPlay42 commented on #80002
This is probably #28728.

[2020-12-13 09:50] ThePuzzlemaker opened #80004 "`async` and other Rust 2018+ keywords not recognized as so in Rustdoc highlighting"
I tried this code:

[code]

I expected to see this happen: `async` and other Rust 2018+ keywords are highlighted as my project is set to `edition = "2018"` in its `Cargo.toml`

Instead, this happened: They were not highlighted, but regular keywords (including reserved ones) were.
![image](https://user-images.githubusercontent.com/12666617/102008415-d00b7d00-3cf5-11eb-8981-d1b219c03292.png)

I beli

[2020-12-13 09:55] ThePuzzlemaker commented on #80004
@rustbot label +T-rustdoc +A-rustdoc-ui +A-async-await
Hope these labels are accurate and helpful.

[2020-12-13 10:01] Stupremee commented on #72480
I don't think the methods should be renamed to something else, becuase `Iterator` also has a `next` method, and `Peekable`
should use the same name but with the `if` component.

Also, if these questions are resolved and there are no other blockers, I would like to go ahead and stabilize this feature.

[2020-12-13 10:35] Stupremee commented on #74866
SInce the original PR was closed, I will open a new PR

@rustbot claim

[2020-12-13 10:52] #79593 closed

[2020-12-13 11:28] minaminao commented on #79972
I would like to implement this!

@rustbot claim

I'm new to contributing to rust-lang/rust, so I'd be glad to get some advice.

Background
- The E0320 error output is executed by the `DropckOutlivesResult::report_overflows` function in https://github.com/rust-lang/rust/blob/d149b6579fb118ea75b16cb7a6afa62695d88992/compiler/rustc_middle/src/traits/query.rs#L130
- The omission of the type name and s

[2020-12-13 12:27] jonas-schievink commented on #80002
Yup

[2020-12-13 12:27] #80002 closed

[2020-12-13 13:27] matthiaskrgr opened #80010 "diagnostics: mismatched pattern field: suggest ".." instead of "_""
[code]
trying to ignore the inner fields with `ty::Ref(_)`  does not work because it has 3 fields.
The message could suggest `Ref(..)` if there are multiple fields and it thinks we don't want to bind any:

[code]

[2020-12-13 13:27] matthiaskrgr commented on #80010
@rustbot modify label: +A-diagnostics

[2020-12-13 15:00] peterjoel commented on #76966
I would like to do something like:
[code]

[2020-12-13 15:04] jyn514 commented on #76966
@peterjoel on nightly you can use `doc = include_str!("README.md")`: https://github.com/rust-lang/rust/issues/78835

[2020-12-13 15:33] sasurau4 commented on #79919
I'll try it
@rustbot claim

[2020-12-13 16:10] NieDzejkob commented on #67064
Looks like the code in question got improved in the meantime. Do we want to add a test?

[2020-12-13 17:05] peterjoel commented on #76966
@jyn514 Thanks! I hadn't seen that RFC

[2020-12-13 17:21] gThorondorsen commented on #51085
Note that some people will want `Ok(x)` to be an irrefutable pattern when matching at type `Result<T, !>` (see e.g. #71984). A possible solution is to say that irrefutable matches (in `let`, parameters and `for` but not `if let` or `while let`) may add never patterns as needed when desugaring to an exhaustive `match`.

I believe it is backward compatible to first stabilize never patterns in `match

[2020-12-13 17:25] njor commented on #47739
Hi,
I am currently learning rust, and found this issue while looking up the overflow behavior, but not for arithmetic operations, but for casts, and was surprised that the most « simple » casts (ie. using the `as` keyword) did not check for overflow at all, even in debug mode, and even with the compiler option `overflow-checks` explicitly set to true.
I am not the only one stumbling on this it see

[2020-12-13 18:13] jyn514 opened #80015 "Rename LangString::all_false() to default()"
`LangString::all_false` is not actually all_false - `rust` will return `true`. It would be nice to rename it to `default()` at some point (and maybe add `impl Default for LangString` while we're at it).

cc @poliorcetics

_Originally posted by @jyn514 in https://github.com/rust-lang/rust/issues/80013#issuecomment-744045253_

[2020-12-13 18:15] poliorcetics commented on #80015
@rustbot claim

I'll either get to it before next week is over or when #79454 is merged, whichever comes first

[2020-12-13 18:55] hussamT commented on #79593
Does this necessitate a 1.48.1 release or shall I wait for 1.49?

[2020-12-13 19:04] jyn514 commented on #79593
@hussamT it will be in 1.50 unless backported: https://doc.rust-lang.org/book/appendix-07-nightly-rust.html#choo-choo-release-channels-and-riding-the-trains

[2020-12-13 19:15] hussamT commented on #79593
On Sun, 2020-12-13 at 11:04 -0800, Joshua Nelson wrote:

Ok. Thank you for the quick reply.

[2020-12-13 20:09] camelid commented on #43234
Should this be closed? The AST borrow-checker was removed over a year ago, so haven't we fully transitioned to the MIR borrow-checker now?

Also, I think the "round three" of diagnostics to-do item can be checked; the issue for it has been closed, as has the project board.

[2020-12-13 20:22] matu3ba commented on #47739
[Use TryFrom](https://doc.rust-lang.org/std/convert/trait.TryFrom.html).

`as` cuts away the bits not needed after transformation. The idea behind is, that the semantics should be equivalent to normal arithmetic for performance. Thus no checking is done and you need to opt-in for arithmetic/bitpattern checks.

Can you ask on reddit or another forum, why `as` is not deprecated in favor of [`From`](

[2020-12-13 22:48] hanmertens commented on #77433
In order to determine the new switchover point, I ran some benchmarks for heaps of different lengths. For a constant total heap length (heap length after the `append` operation), the execution time has an (approximately) linear relationship with the length of the smaller heap. This means the data can be fitted with a least-squares linear fit:

![fit-2-17](https://user-images.githubusercontent.com/

[2020-12-13 23:49] dannymcgee commented on #37854
Just to weigh in as a brand new user of the language — I agree with @raphaelcohn that both inclusive and exclusive ranges have their use cases, I really don't understand the logic for locking this behind an "experimental" error. IMO, this type of "Oh, that syntax is _probably_ not what you meant" nannying should be the purview of a linter, not a compiler. (Take that with a grain of salt since, aga

[2020-12-14 01:07] nvzqz commented on #51608
Has any progress been made here? I would like to emit selectors just like in ObjC/Swift in my library (issue: https://github.com/nvzqz/fruity/issues/2).

[2020-12-14 02:21] nvzqz opened #80019 "Creating Objective-C selectors fails compilation at ld phase"
I tried this code:

[code]

I expected to see this happen: The Objective-C runtime to register `CLASS_SEL` on startup and the pointer within `CLASS_SEL` be printed according to the `Debug` impl.

Instead, this happened: a compile failure when invoking `ld`.

<details><summary>Output:</summary>
<p>

[code]

</p>
</details>

I made [rust-selector-example](https://github.com/nvzqz/rust-selector-examp

[2020-12-14 04:56] dmitry-zakablukov commented on #54882
`optimize(none)` will be very useful for code virtualization with VmProtect, for example.
It is known that optimized functions are very hard to virtualize, because they can have unexpected returns within, can be inlined, can include inlined code. All of this may lead to faulty code after virtualization or to failure of virtualization itself.
One way to solve this problem is to simplify a code. But

[2020-12-14 08:35] RalfJung commented on #73337
I have 16GB RAM for my 4 cores / 8 threads, and `./x.py build -i --stage 1 src/libstd` used to work just fine with this a few months ago. But RAM usage increased a lot recently, so now I have to add `-j4` to make compilation succeed. I have seen individual rustc processes taking more than 4GB RAM. Those were building librustc_middle, but I also saw reports on the internet about people having troub

[2020-12-14 10:14] LunarLambda opened #80021 "[Optimization] Equivalent functions are not merged because their panic information differs."
I was playing around in the compiler explorer with APIs using `AsRef<T>` to provide more ergonomic interfaces.
My example used `AsRef<[u8]>` to allow an API to use string literals, byte arrays, byte strings, etc.

I wanted to know if there was an elegant way to avoid monomorphization overhead for large functions that only differ by a `AsRef::as_ref` call at the very top, or if the compiler could d

[2020-12-14 10:46] LunarLambda commented on #79230
Perhaps, if backwards compatibility was a concern (it shouldn't be?), the alternate flag `#` could be used?

[code]

[2020-12-14 11:48] xfix commented on #67064
Seems like this was fixed to take a reasonable amount of time in Rust 1.47.

[2020-12-14 12:15] sasurau4 commented on #79424
I'll try it.
@rustbot claim

[2020-12-14 13:13] mati865 commented on #80000
How have you "hand-created" your binary?
GCC creates PIE the similarly to Rust:
[code]

[2020-12-14 13:30] varkor commented on #56071
I believe there hasn't been any progress on this since the original comment.

[2020-12-14 13:43] kulikjak commented on #68214
I looked into this and probably found out why this is happening.

The above condition fails because while `self.triple` is set to what is passed as `--target` (in this case `x86_64-pc-solaris`), `config::host_triple()` is set during the compilation (as is described here):
https://github.com/rust-lang/rust/blob/a59264b01247836c70e24217e0d346b868387525/src/librustc_session/config.rs#L534-L544

Simil

[2020-12-14 14:23] varkor commented on #68214
@kulikjak: thanks for investigating! At the moment, this is the only alias, so I think that special casing it like this is fine. If it turned out that we wanted to add more in the future, we could think about revisiting the solution. I'd be happy to review your fix if you opened a pull request.

[2020-12-14 14:36] TheButlah opened #80027 "Trivial example gets incremental compilation error on network folder in windows"
### Reproduction

Inside WSL2:
[code]

And then, inside native windows, cd into the WSL-hosted folder over the network folder. Mine is located at `\\wsl$\Ubuntu-20.04\home\ryan\Programming\asdf`. Then run the following, which gives the error:
[code]

### Meta
Happens on both latest stable and nightly:

`rustc --version --verbose`:
[code]

### Error output

[code]

### Backtrace
I couldn't seem to

[2020-12-14 14:41] AXIM0S commented on #80000
@petrochenkov explained the reason at here: https://github.com/rust-lang/rust/issues/79624#issuecomment-737270403

[2020-12-14 14:55] Mark-Simulacrum commented on #79562
I think your layout makes sense for the case where someone sets the profile use config but not profile generate. If both are set, I think it makes sense to do the layout in https://github.com/rust-lang/rust/issues/79562#issuecomment-737826530. If sccache does not properly handle PGO flags for caching then we'll need to leave LLVM out of scope for now, otherwise I expect there should be no problem

[2020-12-14 15:51] luser commented on #79562
sccache should handle clang's PGO flags fine since Firefox builds use them. However, it won't cache the optimized `-fprofile-instr-use` compile, only the `-fprofile-instr-generate` one, so that may not help you as much as you'd like. It's possible that we could add support for caching those compiles to sccache by including the hash of the profile data in the cache key. We never considered that pre

[2020-12-14 16:12] the8472 commented on #80027
Looks like the same issue as #66513

[2020-12-14 16:13] vmx commented on #79899
@richkadel `cargo test` runs several binaries, couldn't `cargo test` then set `LLVM_PROFILE_FILE` to something sensible per test run by default and use `LLVM_PROFILE_FILE` if set by the user?

[2020-12-14 16:17] richkadel commented on #79899
That's a good point. All of the work to-date has been on `rustc`, so I haven't made any changes to `cargo` and that doesn't normally come to mind. Thanks for the suggested feature!

[2020-12-14 17:49] remexre commented on #80000
@mati865 With Rust, of course :) https://git.sr.ht/~remexre/exps/tree/dbe21d43f7902d52bda5a0b3a72520075cd09c89/fa6l/bs/src/main.rs

@AXIM0S Yeah, I saw that; if you look at the https://github.com/rust-lang/rust/pull/70740 PR that was linked, it shows the correct(?) behavior, from `file` at least.

[2020-12-14 17:56] AlexEne opened #80030 "Binary formatter outputs wrong number of characters for 0"
I tried this code:

[code]

I expected to see this happen: Both outputs to have 64 characters in addition to the `0b`.

Instead, this happened: the 1 has 64 characters, but value_0 displays 62 characters.

So the output looks like this:
[code]

### Meta
`rustc --version --verbose`:
[code]

Here's the rust playground link for this: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&

[2020-12-14 17:58] oli-obk commented on #76560
This issue is a tracking issue about the `const_evaluatable_checked` feature, any large scale changes of the kind we talked about should have their own issues (and refer to this issue) or probably better an internals thread, as github issues are not great for long running discussions.

[2020-12-14 17:59] malaire commented on #80030
Few additional examples:
[code]
outputs
[code]

[2020-12-14 18:00] TheButlah commented on #66513
I think this is the same as #80027, which I have closed in favor of this. My link might provide an even easier way to reproduce.

[2020-12-14 18:00] TheButlah commented on #80027
Yep it's the same bug. Closing in favor of that one.

[2020-12-14 18:00] #80027 closed

[2020-12-14 18:02] jonas-schievink commented on #80030
The `0b` prefix is included in the count

[2020-12-14 18:11] seritools commented on #80030
This behavior is [specified/documented](https://doc.rust-lang.org/std/fmt/index.html#sign0):

You specify the *minimum* length of the resulting string. `0b0` is shorter than 64 characters, so it gets padded to that with zeros.

`0b1...` needs 64 chars for the bits alone, and then two additional ones for the `0b`, so no padding occurs since the string already is longer than the specified minimum.

[2020-12-14 18:23] AlexEne commented on #80030
Yes, it does seem documented, I've followed the examples presented here where it's not as documented, and counting the characters is kind of hard :D: https://doc.rust-lang.org/std/fmt/trait.Binary.html#examples

[2020-12-14 18:23] petrochenkov commented on #79798
Fixed in https://github.com/rust-lang/rust/pull/80031.

[2020-12-14 18:23] AXIM0S commented on #80000
Yeah I know, it bothers me as well but the output binary does seem to work alike any other static binary, so guess I'll just ignore this for now or maybe it's `file` which needs an update over this ?

[2020-12-14 18:35] petrochenkov commented on #80000
I didn't investigate why exactly static PIEs have the `DYNAMIC` segment, but given that they basically have a chunk of dynamic linker (`rcrt1.o`) statically compiled into them, it's not *too* surprising at least.
Feel free to investigate further, the source is available - https://github.com/ifduyue/musl/blob/master/crt/rcrt1.c, https://github.com/ifduyue/musl/blob/master/ldso/dlstart.c etc.

[2020-12-14 18:37] Mromson opened #80032 "thread 'rustc' panicked at 'index out of bounds: the len is 68 but the index is 68'"
Unfortunately, I am unable to reproduce this bug. It happened only once so far, the same code compiled a second time without issue...

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-14 18:39] jocutajar commented on #79977
I've updated to rustc 1.50.0-nightly (803c60218 2020-12-13) and will let you know if this re-occurs. I could not reproduce it myself on the previous nightly either as it is rather random.

[2020-12-14 18:56] briansmith commented on #79175
This is good to know, especially for people migrating from other coverage mechanisms. I didn't find it in the documentation in https://doc.rust-lang.org/nightly/unstable-book/compiler-flags/source-based-code-coverage.html. We should add such a statement to that doc.

[2020-12-14 18:58] ChayimFriedman2 opened #80034 "Optimization for bool's PartialOrd impl"
#66780 suggested an optimization for `impl Ord for bool`, and it was implemented in #66881.

However, for some reason, `impl PartialOrd for bool` was not optimized the same way:
https://github.com/rust-lang/rust/blob/1f7762b4fcf47d36bf0718d5265a5c6ca7f33687/library/core/src/cmp.rs#L1286-L1300
https://github.com/rust-lang/rust/blob/1f7762b4fcf47d36bf0718d5265a5c6ca7f33687/library/core/src/cmp.rs#L1

[2020-12-14 19:00] briansmith commented on #79175
Also https://github.com/rust-lang/rust/issues/64685#issuecomment-737695767:

There is more discussion about this topic in that issue.

I'm guessing that a lot of people can work around this issue by simply removing `-C link-dead-code` from their code coverage scripts.

[2020-12-14 19:31] nospam3089 commented on #79558
It is very likely an issue of rustc running out of memory, yes. The question is why, and if rustc should be able to handle the situation better than segfault? (Given the nature of the stacktrace, a wild speculation is that the memory might be exhausted  even if close to infinite amounts were available.)

When attempting to compiling tinyvec inside a debugger:

[code]

the resulting stdout+stderr f

[2020-12-14 19:43] AlexEne commented on #80030
Closing this as it's not a bug.

[2020-12-14 19:43] #80030 closed

[2020-12-14 19:45] jsgf commented on #79923
That array bounds error is from:
https://github.com/rust-lang/rust/blob/fa416394275d2468d104b8f72ac31b1ddf7ee52e/compiler/rustc_codegen_ssa/src/back/symbol_export.rs#L287-L296

which seems to be assuming that all `cnum` in `cnums` are < `cnums.len()`. No idea why that assumption is 1) valid and 2) seems to fail in this case.

Should it actually be:
[code]
?

[2020-12-14 20:18] camelid commented on #80034
By the way, you don't need to open an issue if you're about to open a PR. Just include what you would put in the issue in the PR!

[2020-12-14 20:25] camelid commented on #79929
@lolgeny Could you please try with a recent nightly (use `rustup update nightly`)?

[2020-12-14 20:34] camelid opened #80037 "compiletest: Not all `diff` installations have `--color`"
There is some rustdoc-related code in compiletest that uses the `diff` command-line tool; however, it passes the `--color` flag to `diff`, which `diff` does not accept on my system (macOS). We should probably use `git diff --no-index` instead of `diff` since it will have colors and will automatically use a pager. We may also want to pass the `--minimal` flag to `diff`/`git diff`; the manual page s

[2020-12-14 20:53] matthewjasper commented on #79902
Small case that I think shows this issue, it incorrectly fails to compile on beta/nightly.

[code]

[2020-12-14 21:00] felix91gr opened #80038 "Tracking Issue for Non-Lexical Constant Propagation"
This is a tracking issue for the work I'm doing together with @oli-obk, regarding the upgrade of the MIR `const-prop` pass into a dataflow-analysis-enhanced Constant Propagation pass. This is part of my undergrad thesis, so as long as I am able to work on it, I should have at least the equivalent of part-time availability for the development of the feature.

The feature gate for this issue is `#![

[2020-12-14 21:01] felix91gr commented on #80038
Here's an addendum for questions that might occur to the readers:

#### What about Value-Range Analysis?

[Value-Range Analysis](https://en.wikipedia.org/wiki/Value_range_analysis) is something that the MIR-opts do not have at all yet. It's pretty clear that VRA can be treated like a generalization of Constant Propagation, since a Constant of value `a` can be seen as a range restriction of `[x >=

[2020-12-14 21:39] richkadel commented on #79640
Related in the sense that both issues report that the build of the compiler for their target platforms does not set "profiler = true".

Yes, the default is "profiler = false", but various pre-built distros enable "profiler = true". Some don't. I don't know who makes those decisions, whether we should change this to enable "profiler = true" by default in the future, and/or wither the profiler_built

[2020-12-14 22:05] jyn514 commented on #80032
@Mromson can you provide the code the compiler panicked on? Especially without a backtrace, this isn't really actionable.

[2020-12-14 22:33] Mromson commented on #80032
@jyn514 I don't think I can provide any meaningful code, as I've been unable to reproduce this issue a second time when I tried to run it again with `RUST_BACKTRACE=full`. All successive build/test attempts succeeded. :/ I already assumed that this bug report probably wasn't actionable, however I figured I'd report it anyways.

[2020-12-14 23:14] nagisa commented on #80021
Extremely unlikely to be actionable from the standpoint of code optimizations. If there's _any_ change made to improve this particular example, it'd have to be around how much panic information we preserve (or scrub), potentially exposed via some compiler flag.

(Changes to how panic information is passed in has been rejected in multiple instances in the past, because it is optimised for amount of

[2020-12-14 23:17] nagisa commented on #80019
This looks like an assertion/crash in the linker. We do not develop or have control over the linker shipped with macOS systems. You should report this bug to Apple, I think.

[2020-12-14 23:20] Mark-Simulacrum commented on #80019
I agree that this does not seem like a Rust bug.

[2020-12-14 23:20] #80019 closed

[2020-12-14 23:31] nagisa commented on #79935
We do not guarantee this. We only guarantee that overflowing the stack will touch a guard page, crashing the process (on x86_64 linux with SIGSEGV). Detection of whether a crash is an actual stack overflow is done on a best-effort basis. There are a number of prerequisites for the detection code to work, and therefore plenty of valid reasons this detection could fail.

I'm going to close this out.

[2020-12-14 23:31] #79935 closed

[2020-12-14 23:43] leonardo-m commented on #80038
Value-Range Analysis (and slice-length analysis) is important for lot of things, but I agree it's a better idea to think about CP first.

[2020-12-15 00:09] tgnottingham commented on #80032
Based on the line number and version number, this is highly likely to be fixed in 1.49.0 by #76256.

[2020-12-15 00:39] #56483 closed

[2020-12-15 00:40] jyn514 opened #80043 "The compiler gets hopelessly confused on `enum S(usize);`"
I think the error speaks for itself.

Here is the change I made, applied to 025f0e649e3a9869e42148ee8cf3041e24a13e8c.

[code]
[errors.log](https://github.com/rust-lang/rust/files/5692406/errors.log)

I think the main thing making this so awful (1460 errors) is that it continues to try and do name resolution afterwards. I would not expect any errors other than further syntax errors to be reported.

[2020-12-15 00:41] jyn514 commented on #80043
Oh wait what, that's only 126 errors :( I'm not sure what changed between seeing them and opening the issue.

[2020-12-15 00:43] jyn514 commented on #80043
I think most of these are actually reasonable errors coming from deleting the enum variants. Not sure why it had so many the first time, it has 126 consistently now :/

[2020-12-15 00:45] jyn514 commented on #80043
Oh, I applied the wrong diff - that was with `crate struct` instead of `crate enum`. So that's good actually, it gives a baseline: I would not expect this to give more than 130 errors or so. Here is the full log from using `crate enum` instead:
[enum-errors.log](https://github.com/rust-lang/rust/files/5692430/enum-errors.log)

[2020-12-15 00:52] jyn514 commented on #80032
I think it makes sense to close this then - it's unlikely to get reproduction steps and from we can tell it's already been fixed.

[2020-12-15 00:52] #80032 closed

[2020-12-15 02:38] workingjubilee commented on #37854
@dannymcgee The Rust compiler comes with a built-in linter. The lints built into the Rust compiler have a very low rate of false positives by design, but it is not non-zero. Nonetheless, having extremely strong error messages and linting facilities in the compiler by default is a part of the language.

You will wish to use rustup to install the nightly version of the compiler and then enable the f

[2020-12-15 02:53] richkadel opened #80045 "Unexplained errors applying `-Z instrument-coverage` to some rustc `ui` tests"
When experimentally adding `-Zinstrument-coverage` to the set of `ui` tests in the Rust source tree, most tests still pass; of those that don't, almost all failures can be explained, and some improvements have been made to surface known incompatibilities between `-Zinstrument-coverage` and other compiler options (see https://github.com/rust-lang/rust/pull/79958#issuecomment-743958675).

However, t

[2020-12-15 02:54] richkadel commented on #80045
@tmandry @wesleywiser

I created this issue for the 4 tests that created errors or output that I can't explain.

[2020-12-15 02:57] richkadel commented on #80045
I don't know if any of these issues are actually bugs in `-Z instrument-coverage`, or acceptable incompatabilities. In case there are bugs, they might affect the tracking issue: #79121

[2020-12-15 03:01] jryans commented on #58797
This seems quite unlikely to be actionable at this point, and I suspect the code involved has also changed a lot as well. I recommend closing this issue.

[2020-12-15 03:17] jyn514 commented on #80021
This is https://github.com/rust-lang/rust/issues/77960.

[2020-12-15 03:28] DawnMagnet commented on #79062
It's a cargo issue, and I found that only happens on Windows, Linux seems more stable

[2020-12-15 05:10] tmandry commented on #80045
The first test emits unused code warnings, but only if `-Zinstrument-coverage` is not specified:

[code]

Backtrace:
<details>

[code]

</details>

The error happens during drop elaboration. I'm guessing `-Zinstrument-coverage` somehow marks the code as used; perhaps the [unreachable function handling](https://github.com/rust-lang/rust/blob/5d77fc8d0db3b69f3a3691d86eba23e4cdc390e1/compiler/rustc_c

[2020-12-15 05:18] tmandry commented on #80045
Using `-Ztreat-err-as-bug` again we can see that the `covered_file_name` query is causing `optimized_mir` to be evaluated for the `test` function, when it wasn't before.

<details>

[code]

</details>

This might indicate a performance issue with that query; maybe there's a way we can implement it that doesn't demand optimized MIR.

Also, I feel like this function _should_ be getting called by `ma

[2020-12-15 05:28] tmandry commented on #80045
..skipping the layout one for now..

`trivial-bounds-inconsistent.rs`: This again seems to be happening during drop elaboration, but this time it's happening as a direct result of the `covered_file_name` query, so sort of a combination of the last two.

<details>

[code]

</details>

Here we're generating MIR for a function which can never be called, due to its `where i32: Iterator` clause. So thi

[2020-12-15 05:36] tmandry commented on #80045
I haven't looked into the layout issue yet but it looks like the coverage code is causing a layout to be computed that wasn't before. Unclear to me if that's actually a problem or not; the test is relying on the side effectful outputs of a query computed on demand so that's not going to be super robust.

[2020-12-15 06:19] davyzhang commented on #58797
yeah, you're right

[2020-12-15 06:19] #58797 closed

[2020-12-15 06:55] gilescope commented on #65770
I think it's a footgun that cargo test -- --ignored is the only stable option. We should eliminate that footgun by stabilising --include-ignored.

How does one nominate for stabilising something?

[2020-12-15 06:55] Brooooooklyn commented on #67497
Is this line related to this issue? https://github.com/rust-lang/rust/blob/master/compiler/rustc_target/src/abi/call/mod.rs#L454

[2020-12-15 06:59] MakotoE commented on #59248
I just created crate [debug-macro](https://crates.io/crates/debug-macro). It does the same thing as `dbg!()` but uses `log::debug!()` so that you can control where it prints to.

[2020-12-15 08:45] #78471 closed

[2020-12-15 09:00] oli-obk commented on #80038
cc @rust-lang/wg-mir-opt

Ideally we'd use the new (closed PR https://github.com/rust-lang/rust/pull/77665, feel free to reopen :D) optimization selection framework. This allows us fine grained control over which optimization passes to run via the command line.

There may be a little bit in the rustc guide, but I think keeping optimization specific documentation close to the optimization impl is p

[2020-12-15 09:24] sylvestre commented on #66118
Exporting `RUSTFLAGS = -Clto=thin` in the Debian build system caused:
[code]

[2020-12-15 10:18] michaelwoerister commented on #79562
I don't think we should use the PGOed compiler for perf.rlo. It would just be confusing otherwise.

[2020-12-15 10:20] eddyb opened #80048 "check_attr doesn't check every HIR node type that can carry attributes."
The `check_attr` visitor here is missing several methods: https://github.com/rust-lang/rust/blob/e261649593cf9c2707f7b30a61c46c4469c67ebb/compiler/rustc_passes/src/check_attr.rs#L866-L936

A quick search (for `attrs:`) in the HIR definition finds these additional types that can contain attributes (they're also missing from the `hir::Target` `enum`, which should probably be renamed to `AttrTarget`

[2020-12-15 10:21] Darksonn opened #80049 "`Option::unwrap()` on a `None` value in compiler/rustc_middle/src/ty/query/mod.rs"
I encountered the backtrace that you can find below when compiling the documentation for Tokio. Unfortunately I am not able to provide a reproducible example because the panic appears to have been caused by the specific state of the incremental artifacts in the `target/` directory when compiling the code.

The error was triggered after having performed a `git switch some-other-branch` from one ver

[2020-12-15 10:26] taiki-e commented on #80049
I think this is a duplicate of #79661, this should be fixed on the latest nightly.

[2020-12-15 10:31] michaelwoerister commented on #79562
Oh, good to know! Yes, support for that would have to be added to sccache. The `-fprofile-instr-use` case would be the more common one, I think.

[2020-12-15 10:38] michaelwoerister commented on #79562
I think I'd prefer if we just didn't support doing a PGOed build with a single `./x.py` invocation. It's a rare use case and it should be easy enough to provide a helper script somewhere that executes the steps described in the OP, right?

[2020-12-15 11:03] leonardo-m opened #80051 "[ER] std::mem::array_len"
This is an Enhancement Request, I'd like this since years. I'd like a const function (like `std::mem::size_of`) that given an array returns its length:

[code]

Note that in this code the array 'a' isn't a const, otherwise this suffices:

[code]

The purporse of array_len is to avoid defining a third usize constant LEN when you only want two arrays to have the same length and you want DRY code.

I

[2020-12-15 11:07] 0dvictor commented on #77857
Thank you for reminding and apologize for the delay. I did create a prototype but haven't got a chance polish it yet. I'll create the PR this week.

[2020-12-15 11:58] simias commented on #65439
FWIW I don't think that having `open` not be syntactically distinguished is a big problem. Sure, it would be better if it was, but I can't really come up with a non-intrusive way to do that. All the alternatives I can come up with involve some sort of closure call, but that adds a lot of noise when the whole point of this API is to reduce it.

Besides, that's already how the stable OpenOptions wor

[2020-12-15 12:23] steffahn opened #80052 "Static lifetimes and variance: Consts treated differently (and perhaps incorrectly?)"
If the line after `this does not work` is commented out, _the remaining code does compile_.

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=52380f5878ce99dbe759d2b9d4429079))

Errors:

[code]

[2020-12-15 12:29] steffahn commented on #80052
@rustbot modify labels: C-bug, T-lang, T-compiler, A-associated-items, A-lifetimes, A-typesystem

[2020-12-15 13:49] wesleywiser commented on #80038
This sounds great and I'm really excited to see some work on this!

At least in terms of goal 1 (reducing compilation times), it would be good to keep in mind the [guidelines about `-Zmir-opt-level`](https://github.com/rust-lang/compiler-team/issues/319). It may be necessary to enable or disable some parts of the new pass based on the value of that flag.

I would also recommend starting the new pa

[2020-12-15 15:09] haraldh opened #80054 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_metadata/src/rmeta/decoder.rs:1565:75"
Only happen rarely. We are building crates from within `build.rs`. Yeah, I know... but we are including the binary in the final binary.

Repo: https://github.com/enarx/enarx-keepldr/

Command:

[code]

[code]

[2020-12-15 15:47] Mark-Simulacrum commented on #79562
While working on #80033, I ran into "LLVM Profile Warning: Unable to track new values: Running out of static counters.  Consider using option -mllvm -vp-counters-per-site=<n> to allocate more value profile counters at compile time." - I ended up using 4 for the value, which seems to have fixed this for now, but it would be good to know what exactly we're specifying here (and what the tradeoffs are

[2020-12-15 15:49] yanshenxian commented on #62031
I have the same issue with WSL1. Just add `**/target/**` (instead of `target/**`) to `files.watcherExclude` and delete the existed target directory, then cargo runs without any warning.

![image](https://user-images.githubusercontent.com/58985624/102237727-eb61cc80-3f2f-11eb-8610-5d1df404f27f.png)

[2020-12-15 16:09] steffahn commented on #80052
I just noticed that return types like this are not really an indication of the type being valid. E.g. this compiles:
[code]

I’m not quite 100% sure yet as to why `fn(&T)` isn’t static regardless of `T` being static. (Or perhaps even: why `fn(S)` isn’t always `'static`. How can an `fn` contain non-static reference -- or contain anything for that matter?)

Perhaps I should close this issue or re-la

[2020-12-15 16:13] krojew commented on #63033
Got the error in the following:

[code]

Removing ` topic: &'static str,` helps.

[2020-12-15 16:19] luser commented on #79562
I owe you a longer-form writeup, but for Firefox we had perf testing on both PGO and non-PGO builds, and it was possible to compare the results between them. This was really useful because the PGO builds were what we were actually shipping to users, but being able to compare between the two was good and also allowed for quicker iteration when the PGO perf difference didn't matter. (IIRC enabling P

[2020-12-15 16:28] lachlansneff commented on #80051
https://doc.rust-lang.org/std/primitive.slice.html#method.len

[2020-12-15 16:55] Volker-Weissmann commented on #79935
Ok, then the guy in the forum was wrong.

[2020-12-15 17:46] SoftwareSheriff opened #80056 "rustdoc only writes one file for multiple items exported as `_`"
For example, generating documentation for this code:

[code]

results in two traits named `_`, which is correct, but, no matter which one you click on, you'll only ever see the `a()` xor the `b()` function since rustdoc tries to write the documentation for both traits to the same file. At least, I think that's what's happening.

### Meta

`rustc --version --verbose`:
[code]

[2020-12-15 17:51] leonardo-m commented on #80051
Your suggestions doesn't work:

[code]
Gives:

[code]

[2020-12-15 18:02] lachlansneff commented on #80051
That's because `a` is not a const value. To use it in a const context, the value itself must be const.

[code]

[2020-12-15 18:05] leonardo-m commented on #80051
Right, that's why I'm asking in this enhancement request for a new special function in the std lib. Special because I can't implement it in library code (I think). The array length is known at compile-time even if the array isn't const.

[2020-12-15 18:07] felix91gr commented on #80038
Indeed, I think I completely agree with both points :slightly_smiling_face:

[2020-12-15 18:36] felix91gr commented on #43234
If this is closed, then it should also be removed from the Unstable Book, right? https://doc.rust-lang.org/beta/unstable-book/language-features/nll.html

[2020-12-15 18:37] richkadel commented on #80045
I can't think of a reason the "unreachable function handling" would mark anything as used. It also seems "late" in the process (well after MIR processing is done). But in any case, it doesn't (at least not intentionally) actually use the code. It just gets the spans for unused functions, and adds code regions for those spans to the coverage map for a function that _is_ used (being codegenned).

Bu

[2020-12-15 18:40] #79566 closed

[2020-12-15 18:40] #79569 closed

[2020-12-15 18:40] #71849 closed

[2020-12-15 18:40] #79301 closed

[2020-12-15 18:48] richkadel commented on #79393
@Diggsey - Thanks for the bug report! There have been some new releases with multiple bug fixes since you reported this. This error _should_ be resolved. Can you confirm?

Thanks!

[2020-12-15 18:53] joshtriplett opened #80058 "asm!: lint on bare memory accesses without [] or offset"
In Intel syntax mode without prefixes, writing `mov rax, some_symbol` is equivalent to `mov rax, [some_symbol]`: in both cases it refers to the memory pointed to by the symbol. However, I've seen multiple people think the former syntax obtains the address of the symbol instead. (Referring to the address of the symbol requires `offset`, [which doesn't currently work in LLVM](https://github.com/rust

[2020-12-15 19:04] scottmcm opened #80059 "Unsafe checking skips pointer dereferences in unused places"
Seen in https://github.com/rust-lang/rust/issues/79735

I tried this code:

[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=44e42a069bc7601365f5f21a102178d9

Which, oddly, happily compiled despite the syntactic pointer dereference.

Back in 1.21, however, that gave the expected error:
[code]
https://rust.godbolt.org/z/rP93nf

The conversation in the 2020-12-15 lang

[2020-12-15 19:05] scottmcm commented on #80059
Probably P-low as it's sound as-is, and has been this way for over 3 years.

[2020-12-15 19:06] joshtriplett commented on #54883
@petrochenkov I believe that happened because leading vert was somewhat controversial, and it was only specifically proposed for match and let, so we accepted that proposal as written and didn't generalize to accept it universally in patterns. I personally would have no objections to allowing leading `|` everywhere we accept or-patterns, to simplify the number of variants we need to parse.

[2020-12-15 19:07] LeSeulArtichaut commented on #80059
Why is this sound? Because the dereference gets optimized away?

[2020-12-15 19:14] nikomatsakis commented on #79735
We discussed this in our @rust-lang/lang meeting today. Clearly the current behavior is unsound. The question is what behavior we *expect*. There seem to be two related questions:

* Should `let _ = *foo` be **unsafe**` when `foo` is a raw pointer, independent of everything else?
    * The general feeling was "yes, unsafe ought to be syntactic", and this is a regression from the move to MIR-based

[2020-12-15 19:16] scottmcm commented on #80051
One version of this: `a.map(|_| 0)`.  That'll give you an array the same length as another one, consisting entirely of zeros.

---

I think this boils down to essentially asking for `typeof`, since you're basically asking for `typeof(a)::LEN`.  As such, I think the way this is doable with accepted features is _existential type_.  So it might, one day, be doable something like this:

[code]

[2020-12-15 19:19] joshtriplett commented on #54883
We discussed this in today's @rust-lang/lang meeting.

We had general consensus that we do want to let macros match or-patterns. The primary point of discussion was how or whether to transition `pat` in an edition boundary.

We agreed that we definitely want new macro matchers, available in all editions, that specifically match "patterns excluding or patterns" and "patterns including or patterns".

[2020-12-15 19:32] joshtriplett commented on #54883
Having summarized the general consensus, here's my position:

I think we should introduce `pat_2018` and `pat_2021`, and I think we *should* transition `pat` in the 2021 edition to mean `pat_2021`.

[2020-12-15 19:33] matthiaskrgr opened #80060 "ICE; glacier fixed/27925.rs -Zmir-opt-level=2 -Zinstrument-coverage: add_counter called with duplicate id"
### Code
code from glacier fixed/27925.rs
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-15 19:33] joshtriplett commented on #72016
Update: while https://github.com/rust-lang/rust/issues/79874 is a bug in LLVM, I think it needs addressing as a syntax deficiency of inline assembly as compared to GCC inline assembly. It prevents writing certain types of assembly instructions; there's no way to directly reference the address of a symbol without it. (There are workarounds, but those workarounds require using different instructions

[2020-12-15 19:36] matthiaskrgr commented on #79565
Can someone please reopen this? the issue is still reproducible:
[code]

[code]

[code]

[2020-12-15 19:41] matthiaskrgr commented on #79565
@rustbot reopen

[2020-12-15 19:49] chengniansun opened #80062 "ICE: 'index out of bounds: the len is 0 but the index is 0', compiler/rustc_middle/src/ty/mod.rs:893:14"
Sorry if this is a duplicate. I tried to search but failed to fine a duplicate one.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-15 21:03] camelid commented on #80059
I think so. If you look at the MIR (in debug mode, so this should only have 'guaranteed' optimizations):

[code]

You'll see that the dereference never happens. I think this is because the wildcard pattern (`_`) has special semantics.

[2020-12-15 21:09] scottmcm commented on #80059
It's because `_` is magic.  If you instead try this:
[code]
the error is still there even though LLVM also optimizes away that dereference.

[2020-12-15 21:30] matthiaskrgr commented on #80060
Reduced from another code sample:
[code]

[2020-12-15 21:51] tmiasko commented on #79671
Changes from #79727 reduced max rss for `a` project from 12.3 GB to 1.8 GB.

[2020-12-15 22:05] jyn514 commented on #55256
This is now working:
![image](https://user-images.githubusercontent.com/23638587/102278376-b8034b80-3ef7-11eb-80f5-12f4c44be273.png)

[2020-12-15 22:05] #55256 closed

[2020-12-15 22:06] LeSeulArtichaut commented on #80059
Assigning `P-medium` [as discussed as part of the Prioritization WG procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2380059.20Unsafe.20checking.20skips.20pointer.20dereferen.E2.80.A6).

[2020-12-15 22:11] jyn514 commented on #28360
Duplicate of https://github.com/rust-lang/rust/issues/77763 (I know this was filed earlier, but that issue has more details).

[2020-12-15 22:11] #28360 closed

[2020-12-15 22:15] jyn514 commented on #80049
I think this is probably fixed by https://github.com/rust-lang/rust/pull/79721; feel free to re-open if you run into this again.

[2020-12-15 22:15] #80049 closed

[2020-12-15 22:20] jyn514 commented on #72381
@Nadrieril oh look, I knew I'd seen this bug before, apparently I just forgot.

The fix for this is to turn the `panic!` into a `warn!`.

[2020-12-15 22:30] RustyYato opened #80066 "Infinite loop in type checking"
I tried something like the code below:

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2f6e4deaa95c0384060513f996786fe0)
[code]

I thought this should compile, because everything checks out, but instead I got the compiler to go into an infinite loop! It *never* stops (I had one instance run for over 10 minutes, with no end in sight)

[2020-12-15 22:30] jyn514 commented on #74182
This is a duplicate of https://github.com/rust-lang/rust/issues/74182 (created earlier, but with less discussion).

[2020-12-15 22:38] jyn514 commented on #70965
Since this is fixed in tide I think it makes sense to close this - if you can get a smaller MCVE feel free to re-open, but I think this is a bug in a proc-macro somewhere.

[2020-12-15 22:38] #70965 closed

[2020-12-15 22:42] matthiaskrgr commented on #80066
perf top says
`  55,03%  librustc_driver-17b8b01089c6566b.so  [.] rustc_data_structures::obligation_forest::ObligationForest<O>::register_obligation_at
`
I wonder if that's related to https://github.com/rust-lang/rust/issues/75860

[2020-12-15 22:44] jyn514 commented on #63284
@matklad this only gives one warning on master, I think it was fixed by https://github.com/rust-lang/rust/pull/76068 ?

[2020-12-15 22:47] jyn514 commented on #62763
I think this was fixed by https://github.com/rust-lang/rust/pull/76571 - @17cupsofcoffee can you double check?

[2020-12-15 22:52] jyn514 commented on #60753
Is this actually a bug? It sounds like this was very close to the memory limit already and running in rustdoc just happened to push it over the edge.

FWIW I can't replicate this on Linux.

[2020-12-15 22:57] dodomorandi commented on #74182
@jyn514 Sorry, I think you posted the wrong duplicated issue, because it is just this one 😄

[2020-12-15 23:01] 17cupsofcoffee commented on #62763
Yes, the issue seems to be fixed - the only `HashMap` mentioned on that page now is the `std` one 🎉

[2020-12-15 23:01] #62763 closed

[2020-12-15 23:01] TheWastl commented on #62544
Is there anything blocking this from stabiilization?

[2020-12-15 23:04] jyn514 commented on #74182
Oh oops, thanks! I meant to link to https://github.com/rust-lang/rust/issues/79663.

[2020-12-15 23:08] jyn514 commented on #56900
I can't replicate this on master. I tried `git clone https://github.com/Michael-F-Bryan/include_dir && cd include_dir && git checkout v0.2.1 && cargo test --doc`. Is this still an issue?

[2020-12-15 23:16] jyn514 commented on #67857
Triage: the errors are still the same on 1.50 nightly.

[2020-12-15 23:27] jyn514 commented on #66249
This is `doc(include)`, right? If so I think it should be closed in favor of https://github.com/rust-lang/rust/issues/44732.

[2020-12-15 23:47] jyn514 commented on #63335
This changed over 15 months ago and I plan to deprecate doc(include) on the next beta bump (in favor of https://github.com/rust-lang/rust/issues/78835), so I don't think it makes sense to add at this point. I'm sorry that this change was not communicated clearly at the time.

[2020-12-15 23:47] #63335 closed

[2020-12-15 23:49] matthiaskrgr opened #80067 "diagnostics: no "consider borrowing here" when passing format!() as &str"
[code]

I noticed that rustc suggests borrowing for the first function call but not the second, although borrowing would fix both errors.
[code]

it would be nice to have the borrowing suggestion on the second warning as well. :)

[2020-12-16 00:01] CAD97 commented on #68017
Closing because I accidentally deleted the linked repo repro and can't reconstruct a reproduction anymore. Whops 🤦

[2020-12-16 00:01] #68017 closed

[2020-12-16 00:14] tmandry commented on #80045
LLVM [IR] won't affect any compiler messages emitted by rustc.

I also can't think of how the unreachable code handling would affect this, just throwing out ideas. It does seem that without coverage enabled the functions are marked unused, and with coverage they are considered used, and I'm not sure why.

[2020-12-16 00:25] jyn514 commented on #62559
I wouldn't expect this to be possible currently, since rustc has a nasty habit of aborting the process when it hits the recursion limit: https://github.com/rust-lang/rust/issues/79459

[2020-12-16 00:51] jyn514 commented on #55420
@infinity0 does that answer your question? I'm not sure what we *could* do here, since it means that e.g. adding a new CSS class and highlighting based on that would break documentation compiled with a different version of rustdoc, and that's not a level of stability I think anyone on the team is willing to commit to.

[2020-12-16 00:52] jyn514 commented on #55420
What you could do instead is distribute `librust-1.38.0-doc-common` and have an explicit dependency on that, so you don't have to rebuild all the old crates, they just might not get the latest rustdoc features.

[2020-12-16 00:57] jyn514 commented on #80056
Duplicate of https://github.com/rust-lang/rust/issues/61592

[2020-12-16 00:57] #80056 closed

[2020-12-16 01:06] jyn514 commented on #58737
Since `Arguments` is fixed on master and [`Scope` works as well](https://docs.rs/crossbeam/0.8.0/crossbeam/thread/struct.Scope.html), I'm going to close this. Feel free to reopen if you find somewhere else this bug appears.

[2020-12-16 01:06] #58737 closed

[2020-12-16 01:09] jyn514 commented on #56901
This works fine on current stable:
[code]

Should the issue be closed?

[2020-12-16 01:17] jyn514 commented on #55482
@dtolnay @steveklabnik you've said contradicting things: @dtolnay said `core::assert!` should be accepted as-is and @steveklabnik said the docs shouldn't show `core::assert!` as valid. Which is it? Does it need an RFC?

[2020-12-16 01:25] dtolnay commented on #55482
`$crate::core::assert!` needs to work. It does not require an RFC. According to OP, `$crate::core::assert_eq!` already works.

[2020-12-16 01:27] jyn514 commented on #45939
Same behavior as of rustdoc 1.50.0-nightly (0f6f2d681 2020-12-06).

[2020-12-16 01:28] dtolnay commented on #55482
It's possible there was a rustdoc issue *also*. According to https://github.com/rust-lang/rust/issues/55482#issuecomment-453784352, rustdoc was showing `assert!` in core even though it was not exposed by core in a way that was callable.

[2020-12-16 01:42] jyn514 commented on #55482
Heh, after all that it turns out this compiles as-is (maybe assert was moved to core recently?). I'll add a test for it.

[2020-12-16 01:52] comex opened #80070 "suboptimal diagnostics for fn-item keywords in wrong order (extern unsafe, unsafe pub)"
Before `fn`, the keywords `pub`, `unsafe`, and `extern` may appear but only in that order.  That's fine, but if you get the order wrong, the diagnostics aren't as helpful as they could be:

[code]
[code]

[2020-12-16 01:53] jyn514 commented on #44306
Triage as of rustdoc 1.50.0-nightly (0f6f2d681 2020-12-06): This bug has gone away:

The rest are still changed from the inner crate.

Inner: ![image](https://user-images.githubusercontent.com/23638587/102294564-93b76700-3f17-11eb-95cd-87a122c9d84e.png)
Outer: ![image](https://user-images.githubusercontent.com/23638587/102294480-666ab900-3f17-11eb-859b-0d42695bd842.png)

[2020-12-16 01:54] jyn514 commented on #44306
I expect this is an inconsistency between how `clean` treats HIR and `ty` somewhere (the difference being that `ty` works off serialized metadata).

[2020-12-16 02:00] jyn514 commented on #41903
Personally I would prefer *not* to do this - for something like [`futures::try_join`](https://docs.rs/futures/0.3.8/futures/macro.try_join.html) that's re-exported from futures_util I don't think it makes sense to just show the re-export: this doesn't tell me anything about `try_join!` since futures_util isn't a well-known crate, all it makes me do is go to `docs.rs/futures-util` and try again fro

[2020-12-16 02:04] jyn514 commented on #40480
I don't think this is really a rustdoc bug - the information just isn't available in the source code. I'm not sure who's in charge of `#[stable]` and `#[unstable]`, maybe T-compiler?

That said, I think something like `#[derive(Clone(stable = "1.15.0"))]` might work.

[2020-12-16 02:10] #56901 closed

[2020-12-16 02:13] jyn514 commented on #22108
@sunshowers I would be willing to take a PR for this (especially if it's only in the JSON) but I have no idea how to implement it myself.

[2020-12-16 03:02] jyn514 commented on #79103
20000.

[code]

The strange thing that most of the time is *not* spent on `build_extern_trait_impl`, it's somewhere else in `collect_trait_impls`.

[2020-12-16 03:06] ecstatic-morse commented on #80045
The regression in the first case is legitimate and not related to unused functions. If you look at the MIR after `SimplifyCfg-elaborate-drops`, you'll see that drop elaboration is no longer able to remove the frivolous drops in the presence of code coverage statements. I looked for a very specific pattern when determining whether a `SwitchInt` terminator is a switch on an enum discriminant or not:

[2020-12-16 03:10] jyn514 commented on #79103
Almost all the time in `collect_trait_impls` is being spent on synthetic impls, specifically https://github.com/rust-lang/rust/blob/4031f7b0a8047653f2f989f2d8579bf5650e71ca/src/librustdoc/passes/collect_trait_impls.rs#L19

[code]

[2020-12-16 03:20] jyn514 commented on #79103
`get_blanket_impls` takes about 10x as long as `get_synthetic_impls`, but they're both pretty slow.

[code]

[2020-12-16 04:21] jyn514 commented on #60577
--output-format=json has landed on nightly.

[2020-12-16 06:03] richkadel commented on #80045
@tmandry - I currently inject the `Coverage` statement in the last bb of the bcb, and I push it to the end of the `statements` vec. But looking at this example, I think that looks weird, since `Terminator`s are sort of a special case of a `Statement`, and in this case, one logically flows into the other. Adding the `Coverage` statement oddly breaks up that pair.

 I think I will try injecting the

[2020-12-16 07:39] petrochenkov commented on #40480
It should be available, starting from https://github.com/rust-lang/rust/pull/29152 stability attributes are copied from the item to derived impls.
If they are not displayed in the doc, then something goes wrong along the way.

[2020-12-16 07:40] richkadel commented on #80045
[code]

Now passes, with #80072

[2020-12-16 07:41] richkadel commented on #80045
1 down, 3 to go.

The fix in #80072 did not fix tests 2, 3, and 4 above.

[2020-12-16 07:45] petrochenkov commented on #40480
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9ef33271d10b380c800731eb31835323

[code]
[code]

[2020-12-16 09:15] pwn0rz commented on #73628
In some cases, the `arm64e` arch might be "different". For example:

1.  `thread_set_state` might fail with  `(os/kern) protection failure` if we try to call it from `arm64` process to `arm64e` process.
2. The returning value of `dlsym` is PAC signed on `arm64e`,  while left untouched on `arm64`
3. Some function like `pthread_create_from_mach_thread` requires a PAC signed function pointer on `arm6

[2020-12-16 09:27] Kidsunbo commented on #25289
This helps me!

[2020-12-16 10:09] dima74 opened #80074 "ICE: Missing span for DefIndex(3) in compiler/rustc_metadata/src/rmeta/decoder.rs:749"
### Code

After `cargo new test-project`:

* `lib.rs`:
[code]
* `main.rs`:
[code]

### Meta

`rustc --version --verbose`:
[code]

Reproducible on stable 1.48 as well

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-16 10:49] leonardo-m opened #80075 "Failed analysis of index dominance"
rustc 1.50.0-nightly (f76ecd066 2020-12-15) on this code:

[code]

Can't remove the array bound test (compiling even with aggressive optimizations):

[code]

This shows that value range analysis could be useful.

[2020-12-16 10:50] leonardo-m commented on #80038
An example where Value-Range Analysis could help:
https://github.com/rust-lang/rust/issues/80075

[2020-12-16 11:09] leonardo-m opened #80077 "[ICE] in \ty\subst.rs with wrongly posioned use statement"
Recently I've reported a bug similar to this, and it was closed down as duplicate, so I am not sure if this is novel (this is wrong code because of that import inside the feature):

[code]

It gave:

[code]

[2020-12-16 11:29] kulikjak commented on #68214
One more question: would you be interested in PR, which makes `x86_64-pc-solaris` the default target and `x86_64-sun-solaris` its alias and also builds whole rustc as `x86_64-pc-solaris`? Because even with this fix, e.g. firefox won't get pass configure because it compares the output from `rustc --version --verbose` (which remains `x86_64-sun-solaris` as it is configured as such during the rust bu

[2020-12-16 12:51] #78761 closed

[2020-12-16 13:21] jyn514 commented on #40480
Hmm, that seems like the wrong behavior though? `Duration` was stabilized in 1.3.0 but `impl Default for Duration` is only present since 1.15.0. I would rather not show the stability than show the wrong stability.

[2020-12-16 13:57] RalfJung commented on #79735
Yes that sounds about right, modulo the vagueness of the term "valid pointer". ;)

One way to look at this is by being explicit about place-to-value coercions (`p2v`). The regular `let x = *ptr` then becomes
[code]
Now there are two axes we can adjust:
* Does `let _ = *ptr` perform a place-to-value coercion or not? If yes, certainly the ptr needs to be as valid as in `let x = *ptr` as the same thi

[2020-12-16 14:59] nater540 commented on #79907
@camelid Sorry for the delay - I cannot reproduce the compiler panic error on the latest nightly; looks like this is resolved!

[code]

[2020-12-16 15:20] jonas-schievink opened #80079 "Odd import suggestion for `NonZeroU8` when `std::sync::atomic` is in scope"
[code]

[code]

The suggested import path, `crate::atomic::fmt::str::iter::option::convert::num::NonZeroU8`, goes through private imports (so it doesn't work), and is also ridiculously long. These suggestions might want to take inspiration from rust-analyzer and only display the shortest path(s) to any candidate (and also should not include private imports).

[2020-12-16 15:22] pietroalbini commented on #75633
We discussed this today in the infrastructure team meeting. Nobody has expressed interest in months to address this, and this is a tier 2 target (which is not required to run tests). Closing the issue.

[2020-12-16 15:22] #75633 closed

[2020-12-16 15:44] Mark-Simulacrum commented on #59637
Updated issue description, only macOS builders remain disabled.

[2020-12-16 15:52] danielhenrymantilla commented on #22108
Same here, will have to learn a bit more about the compiler representation of variance, but language-wise, it is a topic I am well acquainted with and would like to push for it 🙂 (will probably team up with @jyn514 💪).

@rustbot claim

[2020-12-16 16:32] apiraino commented on #79658
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379658.20Parsable.20associated.20enum.20constructor) and removing `I-prioritize`.

[2020-12-16 16:43] apiraino commented on #79909
Discussed on [Zulip](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379909.20regression.3A.20reached.20recursion.20limit.20whi.E2.80.A6) and removing `I-prioritize`

[2020-12-16 17:00] pietroalbini commented on #74182
I don't think this is the same feature as #79663: that issue is about having a way to mark items as unstable, while this is just to add a "since 1.2.3" near the function signature.

[2020-12-16 17:17] fanninpm commented on #79902
[Playground link of previous example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=421165a84674e3449b10f19ee18d3931)

N.B. I haven't gotten it to ICE, so I can't add it to the [glacier.](https://github.com/rust-lang/glacier)

[2020-12-16 17:19] ehuss commented on #79218
I have posted a revert for the current release (#80082) since there were several issues on the Cargo side, too.  Hopefully we'll try to avoid these issues when we try again.

[2020-12-16 17:23] CryZe opened #80083 "Impl Trait forces unnecessary lifetime bounds"
It seems like impl Trait forces its own lifetime bound onto anything that it touches, even if that doesn't make sense.

[code]

Here I create an iterator like type that takes a function that produces T values. The implementation of the iterator doesn't really matter here. If I now create a function constructing that type, returning the actual type lets the borrow checker correctly understand that

[2020-12-16 18:12] cuviper commented on #62544
No blocker that I know of. There's some question about the related `partition_in_place`, but `is_partitioned` is straightforward.

[2020-12-16 18:20] pierwill commented on #79950
Would like to work on this with you, @yaahc, if that's alright. 😇

[2020-12-16 18:25] pierwill commented on #79878
Would this be something for the [API docs here](https://doc.rust-lang.org/std/keyword.impl.html), or [the Reference](https://doc.rust-lang.org/reference/items/implementations.html), or both? 🤔

[2020-12-16 18:33] jyn514 opened #80086 "x.py build fails with `download-ci-llvm = true`"
I just started running into this recently - maybe `llvm-dwp` stopped being packaged recently? I think the fix is just to make it optional in bootstrap.

[code]

<details><summary>Backtrace</summary>

[code]

</details>

A workaround is `touch build/x86_64-unknown-linux-gnu/ci-llvm/bin/llvm-dwp`.

[2020-12-16 18:33] jyn514 commented on #80086
`git merge-base HEAD master` reports 2ba7ca2bbbff6cd424aebc654308febc00b9497a.

[2020-12-16 18:37] jyn514 commented on #80086
This is likely a regression from https://github.com/rust-lang/rust/pull/77117, cc @davidtwco

[2020-12-16 18:37] tromey commented on #79530
This is not a bug in rustc.  Instead, this case requires a patch to lldb.  The issue is that `Option` is a discriminated union, so the resulting DWARF looks like:
[code]

However, the variant part construct isn't used by C or C++ (I don't know about Swift) and so stock lldb ignores it.

IIRC the rust lldb patches handled this ok.  So does gdb:
[code]

[2020-12-16 18:51] jrmuizel commented on #79530
@tromey, how hard would it be get an upstreamable fix for lldb out of your rust lldb patches?

[2020-12-16 18:53] petrochenkov commented on #40480
Ah, I see what is the issue now, the reported stabilization version for the impl is incorrect exactly because it's inherited from the item.

I don't think it's something important enough to extend derive syntax for (or do anything else really).

[2020-12-16 19:00] m-ou-se commented on #63291
This was discussed in the libs meeting last week:

- Arc/Rc of MaybeUninit seem a bit awkward to work with, so maybe there's a better way for the cases where these apis would be useful. (Some builder API, maybe?) The new Box methods seem reasonable though.

- We preferred implementing the new functions on `Box<MaybeUninit<T>>` rather than `Box<T>`, as in most cases this would be written `Box::new_

[2020-12-16 19:46] mcoblenz opened #80089 "Confusing error message given for incorrectly-scoped invocation"
This code, which is obviously bogus, unfortunately causes Rust to give an error message pertaining to associated types, even though it uses none:

[code]

Error:
[code]

The error message is particularly confusing because it suggests specifying a trait, but there are no traits in the above code. Of course, the actual code I was debugging (as opposed to the minimal example above) DID use traits, so

[2020-12-16 20:16] mark-i-m commented on #54883
@joshtriplett Just to clarify, are you proposing implementing the edition-specific behavior _before stabilization_? Or would they be implemented under a different feature gate to be stabilized in the future separately from `or_patterns`?

If we wanted to do the latter then it seems like the course of action would be:
- resolve the unresolved question as `:pat` matches `pat<no_top_alt>` in editions

[2020-12-16 20:27] amosonn commented on #79636
It is worth noting, that technically this is the wrong syntax. `Wrapped` is not a type, rather a type constructor, and therefore cannot be bounded; the correct constraint should be:
[code]
which returns correctly (and sadly)
[code]

[2020-12-16 21:09] m-ou-se commented on #68490
We discussed the open questions in the library meeting last week. Our conclusions were:

Yes.

No. At least not as part of this tracking issue/RFC. That could be a separate proposal, with a separate discussion.

[2020-12-16 21:17] usbalbin opened #80094 "Tracking Issue for `array_zip`"
Feature gate: `#![feature(array_zip)]`

This is a tracking issue for the `zip` method on arrays.

Just like `Iterator::zip` combines two iterators into one, `[T; N]::zip()` returns a new array where every element is a tuple where the first element comes from the first array, and the second element comes from the second array. In other words, it zips two arrays together, into a single one.

[code]

[2020-12-16 21:23] fanninpm commented on #79497
[Playground link of example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=da421418415b26e804b82f61564476be)

The playground's nightly compiler doesn't ICE on this example. Are you able to confirm this with the latest nightly?

[2020-12-16 21:25] fanninpm commented on #79496
[Playground link of example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c3754b8ace505b1c27e6c42d2e7a9472)

[2020-12-16 21:26] fanninpm commented on #79495
[Playground link of example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=69fbc1b6a5bdb23efac9a6f80fbfc853)

[2020-12-16 21:27] camelid commented on #79908
@apiraino and I both feel unclear about this: Is this a Rust regression or a regression in a library that was then picked up by Crater?

[2020-12-16 21:29] fanninpm commented on #79461
[Playground link to example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=54fc9b26a7a006721101c1be6be13cc1)

[2020-12-16 21:33] leonardo-m commented on #80094
Could you show two use cases?

[2020-12-16 21:35] fanninpm commented on #79099
[Playground link of example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1a793136bd6aed4389a5357330265f09)

[2020-12-16 21:38] fanninpm commented on #78651
[Playground link of example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6b6711c234be987cef886ed4ea1ac5c7)

Can you confirm if this still ICEs with the latest nightly?

[2020-12-16 21:44] chengniansun commented on #78651
[code]

[2020-12-16 21:52] Mark-Simulacrum commented on #79908
This is a regression in the Rust compiler.

[2020-12-16 21:56] camelid commented on #79908
The `tiger` error seems to me like fallout from implementing `inline_const`. I'm guessing the issue is that it's expecting a block but immediately gets a literal. Not sure how this is supposed to behave though.

-----

Reposting the error here:

[code]

[2020-12-16 21:57] camelid commented on #79908
But I'm not quite sure; the span seems potentially wrong.

[2020-12-16 22:05] camelid commented on #80089
Minimized further:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=56cdf7dccdda7515c15ec652c5918694))

Errors:

[code]

[2020-12-16 22:05] camelid commented on #80089
Not sure how hard this will be to fix; seems potentially tricky.

[2020-12-16 22:10] camelid commented on #80051
Note that `core::mem::size_of` is just a wrapper around a compiler-provided intrinsic – this would require a compiler change, not a library one.

[2020-12-16 22:17] camelid commented on #80077
@leonardo-m Please open issues for ICEs using the ICE issue template; otherwise they can get lost. Also, can you please link to the issue that was closed as a duplicate?

[2020-12-16 22:17] camelid commented on #80077
This code is syntactically invalid, so this ICE is likely very low priority to fix.

[2020-12-16 22:18] camelid commented on #80075
I relabeled this as an enhancement proposal since to my understanding this isn't a bug.

[2020-12-16 22:21] camelid commented on #80070
Ideally we would be able to recover and suggest switching the order (like with lifetime and type parameters).

[2020-12-16 22:27] spastorino commented on #79908
@rustbot ping cleanup

would be nice to get an MCVE

[2020-12-16 22:34] jyn514 commented on #79904
#77638 was marked as wontfix: https://github.com/rust-lang/rust/issues/77638#issuecomment-708074295. If this is the same issue, does it make sense to close it too?

[2020-12-16 22:40] camelid commented on #79908
Somewhat minimized ([playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=d01b6ec160d95f1dad061f8f8d079b94)):

[code]

On **stable**, it produces a bunch of semantic errors (which make sense since I removed a lot of type definitions), but on **beta** it produces:

[code]

[2020-12-16 22:41] spastorino commented on #79908
Assigning `P-high` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2379908.20regression.201.2E49.3A.20macro_rules.20unexpected.E2.80.A6) and removing `I-prioritize`.

[2020-12-16 22:43] camelid commented on #79908
Much more minimized:

[code]

([Playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=d867b513cae56b3dd6eabb4a25e95009))

Errors:

[code]

[2020-12-16 22:52] camelid commented on #79908
Here's the code again:

[code]

I think the issue is that **on beta** the compiler thinks the `const` in the macro invocation is starting an expression because of the new `inline_const` feature – thus it thinks it's using the first rule in the macro. But then when doing macro expansion, it realizes that it's actually not a valid expression because it's missing braces.

**On stable** this is not an

[2020-12-16 23:00] camelid commented on #79908
My bisection is in line with my diagnosis:

searched nightlies: from nightly-2020-10-15 to nightly-2020-10-19
regressed nightly: nightly-2020-10-18
searched commits: from https://github.com/rust-lang/rust/commit/e3051d8c24467b54c81da9d9ad70a3e82e106ec1 to https://github.com/rust-lang/rust/commit/043eca7f0b34d12e61c44206beca740628647080
regressed commit: https://github.com/rust-lang/rust/commit/6af

[2020-12-16 23:06] camelid commented on #79908
I'm going to try working on this. If I get stuck I'll release my assignment since this is P-high!

[2020-12-16 23:11] SimonSapin opened #80096 "error_index_generator: error while loading shared libraries: libLLVM-11-rust-1.50.0-nightly.so"
Steps:

* Checkout commit b32e6e6ac8921035177256ab6806e6ab0d4b9b94
* Have `profile = "library"` in `config.toml`. In particular, this implies `download-ci-llvm = "if-available"`
* Run `./x.py doc`

Output (on the second run):

[code]

[2020-12-16 23:19] usbalbin commented on #80094
What made me open the PR was for doing element wise operations on vector-like objects without the need for any heap allocations or unnecessary zeroing.

[code]

As for a second use case, well I will have to think about that one...

Maybe bit far-fetched but here goes:

[code]

(which I suppose is pretty much the same use case but with different names)

[2020-12-16 23:25] camelid commented on #80096
cc @Mark-Simulacrum

[2020-12-16 23:28] SimonSapin commented on #80096
For what it’s worth b32e6e6ac8921035177256ab6806e6ab0d4b9b94 is just what I happened to get after running `git pull` today. I mentioned it in case something changes later, it’s a coincidence that that commit happens to be related to downloading LLVM from Rust CI.

[2020-12-16 23:29] leonardo-m commented on #80077
Perhaps issue #79853

[2020-12-16 23:57] talchas opened #80098 "rustc infinite loop on unbounded type recursion"
On rustc 1.50.0-nightly (f76ecd066 2020-12-15), 1.49.0-beta.4 (877c7cbe1 2020-12-10), 1.48.0 or 1.47.0

[code]

Appears to somehow dodge the type-length limits and compiler recursion limits, as it has been compiling for several minutes without hitting either (or changing memory usage). Oddly, on the old 1.48.0-nightly (285fc7d70 2020-09-16) I had installed, this gave a proper type-length limit err

[2020-12-17 00:04] danielhenrymantilla commented on #80098
@rustbot modify labels: +I-regression-untriaged

[2020-12-17 00:28] rbalicki2 opened #80102 "Feature request: Blanket Impl's for a trait should be included in that trait's documentation"
# Feature request:

If a trait (like `ToString`) is implemented for all types that implement another trait (like `fmt::Display`), that blanket impl should show up in the `fmt::Display` documentation.

This came up for me, as I was wondering how a particular type's `to_string` method was implemented. I figured it had something to do with `fmt::Display`, but the docs for `fmt::Display` were not help

[2020-12-17 00:56] camelid opened #80101 "rustdoc: Private function is rendered with a verbose visibility"
If I run `cargo +nightly doc --document-private-items` on this code:

[code]

then the output looks like this:

![image](https://user-images.githubusercontent.com/37223377/102423964-07f91580-3fbf-11eb-8269-642f71698347.png)

Note that the visibility is verbose – it says `pub(in foo)` when it should show nothing (and used to show nothing).

This bug only occurs when the function is private and `--d

[2020-12-17 01:08] camelid commented on #80101
searched nightlies: from nightly-2020-11-17 to nightly-2020-11-20
regressed nightly: nightly-2020-11-19
searched commits: from https://github.com/rust-lang/rust/commit/c919f490bbcd2b29b74016101f7ec71aaa24bdbb to https://github.com/rust-lang/rust/commit/8256379832b5ecb7f71e8c5e2018446482223c12
regressed commit: https://github.com/rust-lang/rust/commit/7d747db0d5dd8f08f2efb073e2e77a34553465a7

<deta

[2020-12-17 01:31] jyn514 commented on #80101
This is probably the same cause as https://github.com/rust-lang/rust/issues/79139, although the fix may be slightly different.

The 'prompt' there makes me think you might have hit the wrong 'good/bad' option at some point.

[2020-12-17 01:34] jyn514 commented on #80102
For what it's worth, it is shown on the type, just not on the trait: https://doc.rust-lang.org/std/primitive.u16.html#impl-ToString.

[2020-12-17 01:37] camelid commented on #80101
I did the bisection twice though and both times it had the same result. I wish `cargo-bisect-rustc` could do this automatically somehow.

[2020-12-17 01:39] tgnottingham commented on #80086
Hitting this despite doing `rm -r build` and updating to latest. The workaround works though.

[2020-12-17 01:41] jyn514 commented on #80086
Yup, this still fails for me after b32e6e6ac8921035177256ab6806e6ab0d4b9b94.

[2020-12-17 01:42] jyn514 commented on #80101
@camelid you could write a script that does an xpath query on the generated documentation, maybe.

[2020-12-17 01:44] camelid commented on #80101
At that point it's faster to do it manually.

[2020-12-17 01:44] fanninpm commented on #77708
I'm trying to add this ICE to the [glacier.](https://github.com/rust-lang/glacier) Can you confirm if this still causes an ICE with the latest nightly?

[2020-12-17 01:45] camelid commented on #80101
@jyn514 Did the formatting change happen as part of #77820?

[2020-12-17 01:46] Mark-Simulacrum commented on #80086
Oh, we forgot to bump the stamp file so we're not downloading a fresh copy.

[2020-12-17 01:46] jyn514 commented on #80101
@camelid I wouldn't expect it to but I don't know without bisecting.

[2020-12-17 01:46] camelid commented on #79139
Note from #80101: Another way this issue manifests is that private functions are shown as `pub(in foo)` where `foo` is the module they're defined in.

[2020-12-17 01:46] Mark-Simulacrum commented on #80086
https://github.com/rust-lang/rust/blob/master/src/bootstrap/download-ci-llvm-stamp should be bumped in a PR to fix this.

[2020-12-17 01:54] camelid commented on #80101
I bisected a third time, and again I got the same result. I think it might be a bug in cargo-bisect-rustc.

[2020-12-17 01:57] jyn514 commented on #80101
Well I can at least confirm that the bug is not present in beta, so this is a nightly regression.

[2020-12-17 02:06] jyn514 commented on #80101
These are the PRs merged between the 17th and 18th (the 18th also has this bug): https://github.com/rust-lang/rust/pulls?q=is%3Amerged+is%3Apr+label%3AT-rustdoc+merged%3A2020-11-17..2020-11-18. `fn new() {}` doesn't have the weird formatting so I suspect either https://github.com/rust-lang/rust/pull/79125 or https://github.com/rust-lang/rust/pull/77820.

[2020-12-17 02:12] camelid commented on #57525
We could of course just use the `@param` syntax used in JS Doc and other documentation systems.

Whatever syntax we use, personally I think the No. 1 reason to implement some kind of per-argument docs system that rustdoc understands is that we could add diagnostics so that they never go stale if an argument is removed. I just ran into this and opened a PR to fix it (#80103) but that wouldn't have

[2020-12-17 02:12] camelid commented on #57525
@jyn514 Why did you apply the `A-attributes` label?

[2020-12-17 02:14] camelid commented on #60686
Totally off-topic: I want to see more of this code! It's mouthwatering ;) 🍓

[2020-12-17 02:22] camelid commented on #80101
Based on manually installing toolchains, I've confirmed that the issue was introduced in nightly-2020-11-19, so that's c919f490b...825637983.

[2020-12-17 02:31] camelid commented on #80101
Based on yet more manual testing by installing CI toolchains, I've confirmed that the issue was introduced in c4f836ad1aceb83507810d9499f56988fd24578d (#77820). Phew!

[2020-12-17 02:45] fanninpm commented on #67684
@dpp You may be interested in how @chengniansun uses [Perses.](https://github.com/perses-project/perses)

[2020-12-17 03:09] tmandry commented on #79153
@in42 Checking in, were you able to make progress on this? Feel free to ping me on Zulip/Discord if that's easier.

[2020-12-17 04:00] chengniansun commented on #67684
Further reduced with perses.

[code]

### Stack trace

[code]

[2020-12-17 04:16] mcoblenz opened #80107 "Deprecation warning not easily avoidable when using elim form of enum with deprecated field"
The code below warns for the use of the deprecated field:

[code]

[code]

But I don't see a good way to avoid the warning. I tried matching with `A::X{x: _}`, but that emits the same warning. If I omit the field entirely,  I get an error because the pattern fails to mention field 'x'. If I use `A::X{..}`, that works, but it applies to all remaining fields, not just x. I want to get an error if, i

[2020-12-17 05:25] DrMeepster commented on #78485
Okay, I can continue working on this now that we have `MaybeUninit::write_slice`

[2020-12-17 05:39] tmandry commented on #78755
Another place that was added: https://github.com/rust-lang/rust/pull/76468/files#r484660337

[2020-12-17 05:42] calebzulawski opened #80108 "Invalid bitcast with repr(simd), array type, and wasm"
For some reason this only occurs with wasm.  If you compile this on the playground, it works just fine until you compile for wasm, which produces this error.

### Code

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=685f1384988924fc87ac7760fccab58a
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2020-12-17 06:00] #75709 closed

[2020-12-17 06:00] #78381 closed

[2020-12-17 06:00] #55482 closed

[2020-12-17 06:00] #68214 closed

[2020-12-17 06:00] #79218 closed

[2020-12-17 09:13] jhjourdan opened #80110 "Unsoundness with subtyping of function types"
Consider this piece of Rust code:

[code]

The function evil let's us change the lifetime of a borrow /without/ any constraint of the old and new lifetimes. This is clearly unsound. I tried with the current nightly version of Rust, which compiles this piece of code without error (only warnings).

The core idea of the bug is that the function `f` coerces the borrow r using the implicit constraint `

[2020-12-17 09:21] RalfJung commented on #80110
Is this an instance of https://github.com/rust-lang/rust/issues/25860, or a different bug?

[2020-12-17 09:39] Kixunil commented on #63291
@m-ou-se `RcMut` idea is essentially builder API. Did you mean that or something else?

[2020-12-17 09:50] glandium opened #80111 "Miscompilation in webrender on aarch64-apple-darwin"
The issue was found when Firefox nightly would crash on startup on arm64 macos. It is reproducible in a different set of build configurations, with the common parameters being some sort of LTO being enabled (any of thin, full, plugin-lto), and codegen-units being set to 1. With thin or full LTO, it's also necessary to enable PGO, but no profile data is necessary (except for the fact that rustc wan

[2020-12-17 09:52] Havvy opened #80112 "Suggest adding a comma when match arm expression is followed by a pattern"
[code]

Currently shows:

[code]

It should be expanded with a help message to:

[code]

It should probably only emit this diagnostic if, by rechecking the match with the `,` there, it can find a pattern followed by `=>`.

---

For a more advanced case, consider this more convoluted example:

[code]

It currently emits:

[code]

In this case, the pattern sort of looks like a function call and not

[2020-12-17 09:55] jhjourdan commented on #80110
No, you are right. That's a duplicate of #25860. I just did not remembered of this issue. Closing that one, sorry for the noise.

[2020-12-17 09:55] #80110 closed

[2020-12-17 09:59] Havvy commented on #80112
If this gets done, it can easily be a quick fix in rust-analyzer, helping increase our helpful IDEs story.

[2020-12-17 10:17] varkor commented on #77708
It [appears to be working](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=540434b38e1c9b1b12365522c69e14a0) now.

[2020-12-17 10:19] Kixunil commented on #63291
Great, I agree that without std providing the safe API it'd be a footgun that could end up in users doing it incorrectly (such things happened already), so providing the APi is nicer than not doing it.

[2020-12-17 10:23] skade commented on #43467
I want to add a nite to this discussion: the current implementation seems to be `!Unpin`. I think this is correct, but haven't seen that mentioned explicitly.

[2020-12-17 10:49] rylev commented on #79904
I'm surprised #77638 was marked as wontfix. This is a breaking change that seems to effect several real crates. While I admit I was surprised that this used to work (i.e., the current behavior makes more sense to me), I think we should confirm that how it's currently implemented in beta is how it's supposed to work.

[2020-12-17 11:53] LunarLambda commented on #80021
I see

Thank you!

[2020-12-17 11:54] infinity0 commented on #55420
@jyn514 Thanks for confirming, so I guess the answer is no at this time. :( In Debian we avoid keeping multiple versions of things unless absolutely necessary, so in fact the `librust-1.38.0-doc-common` would result in rebuilding everything anyways. Part of that process is automated but part of it is not, so it's not ideal at this time. Never mind!

[2020-12-17 11:56] RalfJung opened #80116 "Test "mem::uninit_write_slice_cloned_no_drop" leaks memory"
The test `mem::uninit_write_slice_cloned_no_drop` added in https://github.com/rust-lang/rust/pull/79607 leaks memory, which makes a Miri run of the test suite fail:

[code]

Running Miri on the test suite is helpful to find bugs, so we should avoid deliberate leaks to still be able to detect accidental ones. Can the test be changed to use some other means of ensuring that `drop` is not called, e.g

[2020-12-17 12:02] #79667 closed

[2020-12-17 12:30] rajputrajat opened #80117 "i686 GNU/Linux, seg-fault on executing rust tool-chain binaries"
When I am running following,
`$rustc`
I see **Segmentation fault.** The same happens with other binaries as well.

This is the output of `uname -a` from this linux box:
`Linux suse-13-2-rajput 3.9.2-51 #1 SMP PREEMPT Mon Jan 1 00:00:00 UTC 2007 i686 i686 i386 GNU/Linux`

I have added output of /proc/cpuinfo as cpuinfo.txt
[cpuinfo.txt](https://github.com/rust-lang/rust/files/5709331/cpuinfo.txt)

[2020-12-17 12:36] Mark-Simulacrum commented on #80117
Can you run under gdb and try to obtain a backtrace? Can you say which rustup-init you used (or which rustc)?

[2020-12-17 13:05] TheWastl commented on #53485
Regarding the `is_sorted_by_key` question: It seems that `is_sorted_by_key` would be preferred to `is_partitioned` - see #80085.

[2020-12-17 13:10] michaelwoerister commented on #79562
@luser Yes, it would be great if we could benchmark both PGO and non-PGO builds. If we can afford that (which is something @Mark-Simulacrum would know better than me) then all the better. If we had to choose one of the two, I'd opt for benchmarking just non-PGO builds since they would not contain the "random" effects of partially out-dated profiling data.

[2020-12-17 13:16] jyn514 commented on #74182
@pietroalbini staged_api does both those things. I guess it depends whether you count #79663 as a request to stabilize *all* of staged_api or just deprecations.

[2020-12-17 13:20] pietroalbini commented on #74182
I think it's better to keep this and `staged_api` separate.

Stabilizing `#[unstable(...)]` sounds a lot more complex than this issue (would that mean `#![feature()]` for crates too? which channels can use crate unstable features? how does that interact with api stability?), while this issue just proposes adding a way to annotate functions on rustdoc with the version number they were introduced in

[2020-12-17 13:30] michaelwoerister commented on #79562
This is what I've been able to find out so far: "value profiling" allows to record some of the actual values that a variable takes during execution. To do that the profiling runtime has to reserve some space in the profdata. Apparently one does not need many of these counters in the common case:

https://github.com/llvm/llvm-project/blob/37f99a56065209627020428cecb78f55dfa90580/llvm/lib/Transforms

[2020-12-17 13:44] rylev commented on #79904
After discussion in Zulip, we decided to nominate this for discussion:

@rustbot label I-nominate

[2020-12-17 13:45] apiraino commented on #79904
@rustbot label I-nominate

(let me try)

[2020-12-17 14:05] rylev opened #80118 "Compiler performance when compiling built-in derives is worse than desired"
This is a follow-up issue to #80050 which was closed due to the implementation not being 100% correct.

Currently, adding `#[derive]` annotations for built-in traits such as a `PartialOrd` or `Debug` causes slower compile times than if the user implements these traits by hand. We should aim for getting these derives to be as close to "free" as possible when it comes to amount of time it takes to c

[2020-12-17 14:16] clarfonthey commented on #80051
@scottmcm why is the conversion to `Magic` required there? Can't you just return `N`?

[2020-12-17 14:16] spastorino commented on #80111
Assigning `P-critical` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2380111.20Miscompilation.20in.20webrender.20on.20aarch64-.E2.80.A6) and removing `I-prioritize`.

[2020-12-17 14:41] spastorino commented on #79865
@rustbot ping cleanup

Would be nice to get an MCVE for this one.

[2020-12-17 14:52] #80034 closed

[2020-12-17 14:53] dodomorandi commented on #67057
What's the current state of the art? Is it just a matter of low priority respect to other things?

And even if it is not the best place to ask: this will be the foundation for one (or more) RFC(s) to expose safe APIs like [in the pre-RFC](https://internals.rust-lang.org/t/pre-rfc-add-explicitly-named-numeric-conversion-apis/11395)?

[2020-12-17 15:48] spastorino commented on #80111
Downgraded to `P-high` since ARM64 macOS is still tier 2.

[2020-12-17 15:57] DrMeepster commented on #80116
@rustbot claim

I made the test I should fix it

[2020-12-17 16:05] brightly-salty opened #80120 "macOS bug with newest update"
After installing the new macOS update (I am currently on macOS Big Sur 11.1), which also updated the XCode Command Line Tools, I am unable to compile anything that depends on basically anything high-level. [Originally posted here](https://github.com/BurntSushi/rust-memchr/issues/79)

I tried this code:

[code]

I expected to see this happen: *Everything work normally, cargo downloads and installs

[2020-12-17 16:40] RalfJung commented on #80116
@DrMeepster thanks. :-) Let me know if you need any help.

[2020-12-17 17:15] jrmuizel commented on #80075
I filed corresponding gcc and llvm bugs:
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=98357
https://bugs.llvm.org/show_bug.cgi?id=48544

[2020-12-17 17:22] jacob-hughes opened #80124 "Passing `--no-doc` to ./x.py test causes panic_abort tests to fail"
Running `./x.py test --stage 1 --no-doc` on the latest version of nightly (#80114) causes the test suite to crash with the following error:

[code]

This seems like a bug in the bootstrapper where `--no-doc` causes tests to be erroneously compiled with the abort panic strategy, since tests pass as expected with `./x.py test --stage 1` (`--no-doc` omitted)

This error can be also triggered with a s

[2020-12-17 17:25] IoTPanic opened #80125 "str as extern "C" arg causes compiler panic"
### Code

I am still getting used to Rust, and making plenty of mistakes, and I did the silly move of putting a str type as an argument for an external function. I understand this isn't correct rust and rewriting for correctness fixes the compiler panic.

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[co

[2020-12-17 17:39] MarnixKuijs opened #80126 "Windows: arbitrary linking of libraries"
In `library/std/src/sys/windows/mod.rs` some libraries, for either uwp or win32, get linked. The block that follows these linking statements contain no declarations, so to me it seems that these libraries are just linked for the sake of linking them, but it doesn't look like anything depends on them.

[code]

Even when `no-default-libraries` is set to true in a target config they are still getting

[2020-12-17 17:42] #80086 closed

[2020-12-17 17:50] MarnixKuijs commented on #80126
Now looking at it closer it does it for basically every platform, so it might be nice if we can come up with a way to be able to opt-out of linking these libs for all platform so that people can provide there own.

[2020-12-17 17:52] brightly-salty commented on #80120
Was able to fix with `xcode-select --install`. It had been installed prior to the update, so updating to 11.1 must have uninstalled the Command Line Tools.

[2020-12-17 18:05] shepmaster commented on #76560
This may have been incidentally fixed.

[2020-12-17 18:10] tmiasko commented on #78496
While this one particular test case was fixed, the transformation still suffers from issues hinted at earlier comment:

1. It assumes that terminator always switches on a local that was assigned last in the block. The assumption is false.
2. It moves a read of a discriminant from the second block into first without ensuring that it holds the same value still.
3. In some executions it introduces a

[2020-12-17 18:37] bobbobbio opened #80127 "rustc has wrong signature for C function with 16-byte aligned stack argument in x86_64 Linux"
We were writing some code which interacts with a C shared library, but when we were calling a function in the library from Rust, we found our program was crashing. Upon inspection in the debugger, it seems that some of the arguments were getting corrupted. The Rust function signature looked correct so it was surprising. I have managed to reduce the issue down to a minimal repro.

[code]
foo.h
[cod

[2020-12-17 18:39] jrmuizel commented on #80075
It looks like the new ConstraintElimination llvm pass should fix this.

[2020-12-17 19:20] IoTPanic commented on #80125
Here is a working example-
[code]

Note I made a new library project, and didnt modify Cargo.toml, just paste and run.

[2020-12-17 19:29] Gillingham commented on #68912
Did you ever get a working solution? I'm looking to solve the same problem.

[2020-12-17 19:42] Manishearth commented on #48043
So, I'm probably missing something, but is there a similar RFC/tracking issue/etc for `Box::try_new`? Is there some place I can track progress for this?

[2020-12-17 19:47] tmandry commented on #80004
@ThePuzzlemaker I think you have the right idea, though someone from the Rustdoc team might also be able to help with the details (cc @jyn514).

A PR would be welcome! Feel free to claim the issue with `@rustbot claim`. If you have questions, I'm also available to help here or on Zulip or DIscord, but my availability may be spotty over the next week.

[2020-12-17 19:48] ThePuzzlemaker commented on #80004
@rustbot claim

[2020-12-17 19:50] tmandry commented on #79843
This should hopefully be a fairly straightforward patch to the diagnostics code that generates the suggestion.

[2020-12-17 19:54] tmandry commented on #79694
This could be handled directly in the parser code which generates the above diagnostic.

[2020-12-17 19:54] lahwran commented on #60210
in the future how should i do tuple indexing from a macro_rules!() [recursive counting](https://danielkeep.github.io/tlborm/book/blk-counting.html#recursion) macro?

[2020-12-17 20:03] fanninpm commented on #80125
[Playground link of above example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f06e757bb5b010676152f5e13631f802)

[2020-12-17 20:26] camelid commented on #79908
So I'm trying to figure out which code is the culprit here. The `inline_const` PR is the one that introduced the regression, but looking at its changes I don't know if it's actual the underlying cause. I think the issue might be in the macro expansion code, but I'm not familiar with it at all.

Since this issue is P-critical and potentially a release blocker, I'm going to release my assignment so

[2020-12-17 20:28] camelid commented on #79908
Actually, I just noticed that petrochenkov responded to my message asking for help finding the code 😄

[2020-12-17 20:30] bstrie commented on #68490
Checking off "adjust the documentation" (found no uses of the old consts in the reference, the book, or Rust By Example, which I presume faern fixed when originally adjusting the stdlib docs). In addition #79877 has landed, which finishes checking off all the new issues that were filed after the closing of the prior deprecation effort (#78335). Once #79877 rides the train into beta later this mont

[2020-12-17 20:43] leonardo-m commented on #80075
That went better than expected. LLVM devs often deliver.

[2020-12-17 20:56] spastorino commented on #79564
This [was discussed during today's compiler meeting](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.20meeting.5D.202020-12-17.20.2354818/near/220260955)

[2020-12-17 20:56] spastorino commented on #79246
This [was discussed during today's compiler meeting](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.20meeting.5D.202020-12-17.20.2354818/near/220260955)

[2020-12-17 20:57] spastorino commented on #76213
This [was discussed during today's compiler meeting](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.20meeting.5D.202020-12-17.20.2354818/near/220260955)

[2020-12-17 20:58] spastorino commented on #79708
This [was discussed during today's compiler meeting](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.20meeting.5D.202020-12-17.20.2354818/near/220261638)

[2020-12-17 21:00] spastorino commented on #80059
This [was discussed during today's compiler meeting](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.20meeting.5D.202020-12-17.20.2354818/near/220262164)

[2020-12-17 21:09] blipblop2222 commented on #79564
Can confirm that [the issue](https://github.com/rust-lang/rust/issues/79564#issuecomment-735883858) is gone after applying https://github.com/rust-lang/rust/pull/80122 (but without the test case fix which doesn't yet exist in rust 1.48.0 on gentoo)

[2020-12-17 21:29] sylvestre opened #80134 ""é" in the code caused "bpos.to_u32() >= mbc.pos.to_u32() + mbc.bytes as u32""
Was reported here : https://github.com/rust-lang/rust/issues/68730
but still occurring.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-17 21:34] aDotInTheVoid commented on #74824
Triage: this given an error, on nightly.

@rustbot modify labels +E-needs-test

@rustbot claim

[2020-12-17 21:59] jyn514 commented on #80004
Yup, that looks right, good catch! The only tricky thing will be passing in a span in to `Classifier::new`, but I think all the callsites have access to at least a `Session`, and you can get an [`edition`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_session/session/struct.Session.html#method.edition) from there.

[2020-12-17 22:26] sfackler commented on #80126
They are linked because the standard library depends on functions they provide. As the comment says in the code you copied in, we depend on bcrypt for `BCryptGenRandom`.

[2020-12-17 22:56] mbrubeck commented on #42758
Related: #22340 and #58052.

[2020-12-17 22:57] DzenanJupic opened #80137 "Compiler is not able to infer the type of a HashMap, when all types should be known"
I'm currently porting pytube to Rust and encountered a situation where the compiler requires me to specify the type of a `HashMap`s Value, even though all types are known.

## I tried this code:
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&code=use%20std%3A%3Acollections%3A%3AHashMap%3B%0A%0Apub(crate)%20fn%20parse_qs(qs%3A%20%26str)%20-%3E%20Result%3CHashMap%3CS

[2020-12-17 23:03] Arnavion commented on #71997
I found this today as part of minimizing some other code:

[code]

The former retains the bounds check while the latter elids it. There is even more information here than the OP's case because all the lengths are known at compile-time, so it's even more surprising to me.

Is it covered by this issue? Or should I open a separate one?

(1.48.0 stable)

[2020-12-17 23:26] jonas-schievink commented on #80137
This is working as expected. When invoking a method defined in an inherent impl, all relevant types must be known at that point in the program.

[2020-12-17 23:26] #80137 closed

[2020-12-17 23:51] Nadrieril commented on #66551
Could the `Captures` trait make it into std so that rustc can suggest it? It's otherwise impossible to discover this trick but it's a very useful one.

[2020-12-17 23:55] camelid commented on #80125
A bit more minimized:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=186e422a0be5cd5c750e1f0181a4e51c))

Errors:

[code]

[2020-12-17 23:59] MarnixKuijs commented on #80126
Right, my first comment was maybe a bit malformed. My second comment is more the direction that I want to get at. I want to provide my own system libs, in my case windows system libs, that provide the same functionality as the libs that are always linked right now. I would like to see, for example, a feature `external_system_libs`, which will disable the linking of the libs in std. This should be

[2020-12-18 00:08] #76213 closed

[2020-12-18 00:08] #79564 closed

[2020-12-18 00:35] geometryolife commented on #76213
**I ran into the same problem:**
OS: Ubuntu20.04

rustc exited with signal: 9
error: could not compile `rustc_middle`

Caused by:                                                                                                                                                            process didn't exit successfully: `/home/Joe/prog/rust2/build/bootstrap/debug/rustc --crate-name rustc_middle --edi

[2020-12-18 00:39] scottmcm commented on #80051
@clarfonthey Returning `N` would still be a runtime value, though, not a const-eval one, since `a` isn't a const-eval-time value.  Hence the indirection through _existential type_.

[2020-12-18 00:43] clarfonthey commented on #80051
@scottmcm Yeah, which is what `const fn` is for. Is there a reason why that couldn't be done that way?

[2020-12-18 00:46] estebank opened #80139 "Better suggestion for closure that needs to capture bindings, but not all"
[Given](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=887faf2cf5ecc01cfbc3cbb1b1a8078a)

[code]

we currently emit

[code]

if we [apply the suggestion](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9308ebec747edfad090b28a5e1aa5b9e) we get the following

[code]

because we're moving `numbers` into the closure and consuming it.

Ideally, we woul

[2020-12-18 00:53] smmalis37 opened #80140 "impls on arrays seem slower than equivalent tuples"
When running the following program:

Cargo.toml:
[code]

main.rs:
[code]

I get these results in debug builds:
[code]

And these results in release builds:
[code]

I had expected these to be equivalent, but tuples are significantly faster than arrays. This seems to apply to any size of number (i8, u32, etc), and some other traits as well (notably Hash).

[2020-12-18 00:53] smmalis37 commented on #80140
@rustbot label I-slow

[2020-12-18 00:54] smmalis37 commented on #80140
Tagging another interested party: @aldanor

[2020-12-18 01:54] ThePuzzlemaker commented on #80004
@rustbot release-assignment
I'm going to release assignment as I'm still not quite sure how this could be achieved even after looking through a bit of code.

[2020-12-18 02:02] fanninpm commented on #80134
[Playground link of example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4f23a8be7732d473312e5c88fe2d00f0)

[2020-12-18 02:04] sfackler commented on #80140
The only difference in the compiled code is the array impl's extra check for pointer equality: https://rust.godbolt.org/z/1ea4e5

[2020-12-18 02:21] sfackler commented on #80140
Huh, on 1.48.0 the tuple impl ends up branching on each value, and on nightly the array impl spills to the stack (?!).

[2020-12-18 03:01] #75785 closed

[2020-12-18 03:01] #78532 closed

[2020-12-18 03:01] #79424 closed

[2020-12-18 03:09] dreson4 commented on #80120
Tried ``xcode-select --install`` ``xcode-select --reset``  didn't work for me.
Even tried deleting CommandLIne tools folder and reinstalling still no solution can't compile hello world.

This is still a problem.

[2020-12-18 03:41] jyn514 opened #80142 "Rename json::ItemEnum to ItemKind"
This was renamed in `clean` in https://github.com/rust-lang/rust/pull/79041, but I missed `json`.

_Originally posted by @jyn514 in https://github.com/rust-lang/rust/pull/80119#discussion_r545222779_

[2020-12-18 03:44] meiomorphism opened #80143 "#[should_panic]'s return-type check ignores procedural-macro transformations"
When a procedural macro which transforms the return type of a function from `... -> SomeType` to `-> ()` is applied, the resulting function can be used with the attribute `#[test]` as expected. However, adding the attribute `#[should_panic]` to that test results in a compile-time error.

A (slightly simplified) motivating example:

[code]

Result:

[code]

As a simple workaround, the transformed f

[2020-12-18 03:55] meiomorphism commented on #80143
Despite the title of this bug, I suspect the ideal fix would be to have `#[test]` and libtest differentiate between panics and errors, so that the type-check guard for `#[should_panic]` is no longer needed. I haven't looked too deeply into what that would involve, though.

Reference to relevant previous issues: #48854, #49909.

[2020-12-18 04:08] smmalis37 commented on #80140
Correct me if I'm wrong, but since those arrays are being passed by value their addresses can never be the same right? So that check and branch are completely pointless? I could understand if it was over a slice or a ref to an array, but not on an array itself.

[2020-12-18 04:12] vjyanand commented on #61072
What's the fix? Thanks

[2020-12-18 04:13] smmalis37 commented on #80140
Results on current nightly:
Debug:
[code]
Release:
[code]
Looks basically the same to me, just a little bit of noise.

[2020-12-18 07:26] mbartlett21 commented on #80134
Simpler repro:

[code]

([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1f867818e0f25f798868010d83a2f2d4))

[2020-12-18 08:48] Arnavion commented on #60753
As I wrote in my comment, no it's not a bug but just expected behavior for such a function, and yes the default limit of 1MiB for the main thread stack is for programs linked with the Windows (MSVC) linker.

[2020-12-18 09:04] phil-opp opened #80148 "-Z build-std broken on latest nightly: could not read vendor path"
### Steps to reproduce

1. `cargo new --lib example && cd example`
2. `echo "#![no_std]" > src/lib.rs`
3. `cargo +nightly check --target x86_64-unknown-linux-gnu -Z build-std=core`

(The actual target doesn't seem to matter, the `build-std` feature just requires that we pass a `--target` argument.)

The following error occurs:

### Cause

I think this issue occurs because https://github.com/rust-l

[2020-12-18 09:59] rylev commented on #80134
I assume this repros for any non-ascii character, right? I tried with ü, ß, and 名, and I was able to repro.

[2020-12-18 10:04] dreson4 commented on #80120
Ok realized it's macOS big sur issue. The C libraries location have changed and thus rust can't find them.
The solution I ended up with was

``export LIBRARY_PATH="/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/lib"``

That's the current path for the libraries, until Apple changes again with a single update 😡

[2020-12-18 10:26] SimonSapin commented on #48043
In the June 2019 to October 2019 part of this thread, the part of custom allocators that was deemed affecting the design of `try_resreve` is error types.

That is, if error values for allocation failures (potentially) carry meaningful information then the error type of `try_reserve` should forward that information to its own callers. In particular if the allocator trait ends up with an associated

[2020-12-18 10:33] tmiasko commented on #80127
That would be:

https://github.com/rust-lang/rust/blob/fee693d08e98d25f566075cbed73e12236c05abd/compiler/rustc_target/src/abi/call/mod.rs#L452-L454

[2020-12-18 10:37] ben0x539 opened #80150 "unclear diagnostic with invalid suggestion for lifetime error involving an opaque type"
This code is invalid because it returns a reference to a local:
[code]

It produces this diagnostic:

[code]

1) I don't understand what "help: you can add a bound to the opaque type to make it last less than `'static` and match `'static`" means
2) The suggestion(?) of `Option<impl Iterator<Item=T>> + 'static` isn't valid

It's probably trying to say `Option<impl Iterator<Item=T> + 'static>`, if w

[2020-12-18 11:04] leebenson commented on #68125
FWIW, and this may be a minor point, but I like the fact that `fold_first` is right next to `fold` in the docs, alphabetically

If this were `reduce` to fit other languages, it would have probably taken me a little longer to hunt down. I found the naming to be quite descriptive/instinctive, having it grouped with the explicit first value variant.

[2020-12-18 11:22] GopherJ opened #80151 "thread 'rustc' panicked at 'index out of bounds: the len is 76 but the index is 76',"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-12-18 11:23] GopherJ commented on #80151
rustc: *rustc 1.50.0-nightly (d32c320d7 2020-12-10)*

[2020-12-18 11:28] GopherJ commented on #80151
I tried to run cargo clean, it fixed the issue, but it can come again and happens quite frequently

[2020-12-18 11:38] lzutao commented on #80148
Cc @ehuss for #80082

[2020-12-18 11:39] matthiaskrgr commented on #78520
The bug no longer needs the `-Zdump-mir=all` to trigger.

[2020-12-18 11:45] varkor commented on #68214
@kulikjak: perhaps that would be a good idea, yes. Then the default target would match the LLVM target, which is what was probably intended from the start. Thanks!

[2020-12-18 11:50] oli-obk commented on #61933
I reopened this issue (with a title update), because #80080 will reintroduce the issue (with an even odder diagnostic). While trying to come up with a way to fix this issue again with the new system, I came up with the following situation:

Add a way to mark `macro_rules` declarations with an attribute that declares what their returned AST node type is. Then we mark `macro_rules! vec` as only prod

[2020-12-18 11:54] bjorn3 opened #80152 "thread 'rustc' panicked at 'Failed to recover key for type_of(67d9c01528728aa0-119cad37ba2666f0) with hash 67d9c01528728aa0-119cad37ba2666f0', compiler/rustc_middle/src/ty/query/mod.rs:235:5"
### Code

I was working on [Yorick](https://github.com/softdevteam/yk).

### Meta

Commit https://github.com/softdevteam/ykrustc/commit/5ccb675d43f2dda2917b1afc5e48d1c9f10a7e8f

### Error output

<details>
<p>

[code]

</p>
</details>

[2020-12-18 11:58] oli-obk commented on #61933
I did some more experimentation, and we could also get away with just changing the `vec!` macro to enforce it only being used in expression position:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0b222c406e47627273002af5ddfa0b8f

[code]

This gives us

[code]

though line 15 is probably not going to get shown since the macro is from liballoc

[2020-12-18 12:46] ehuss commented on #80148
This will be fixed by #80081.

[2020-12-18 13:18] wfly1998 opened #80157 "cargo build: failed to "SIGSEGV: invalid memory reference""
**Problem**
I am trying to write xv6 os by rust, but when I compile it by `cargo xbuild`, error will occur with "SIGSEGV: invalid memory reference"
What's more, when I deleted `kinit` and `consoleinit` in `main` function, error will disappear.
And others' methods to solve this problem also don't work, for example, adding `codegen-units=1` to `Cargo.toml`
I've also tried many versions of `rustc`, t

[2020-12-18 15:06] Manishearth commented on #48043
I'm talking to some folks doing Linux kernel work in Rust who would like to see this. Should I just open a PR for it, feature gate it with `try_new` (or `try_reserve`?) for the same tracking issue?

[2020-12-18 15:24] #68177 closed

[2020-12-18 15:43] jonas-schievink commented on #76943
#79485 was merged :tada:

[2020-12-18 15:43] #76943 closed

[2020-12-18 15:53] brightly-salty commented on #80120
@dreson Are you on 11.0 or 11.1? After I updated to 11.1, there was a single text file in the Developer/CommandLineTools. After running `xcode-select --install` and following the prompts, I then ran `cargo clean` and `cargo build` again and everything worked again.

[2020-12-18 16:06] ehuss commented on #80157
Transferred to the rust-lang/rust repo, as this is a compiler error.

Backtrace:

[code]

[2020-12-18 16:16] Ericson2314 commented on #48043
@Manishearth maybe https://github.com/rust-lang/wg-allocators/issues/7 might help. You could at least see what unstable annotations those PRs used.

[2020-12-18 16:20] rylev commented on #67683
This no longer reproduces. Running on 1.48.0 I get the following diagnostics:
[code]

[2020-12-18 16:21] mahkoh opened #80158 "MaybeUninit requires T: Sized but it should not"
I tried this code:

[code]

I expected to see this happen: It compiles

Instead, this happened: It does not compile

### Meta

`rustc --version --verbose`:
[code]

[2020-12-18 16:23] jonas-schievink commented on #80157
Ah, you are using `llvm_asm!`, which will be removed in favor of `asm!`, so closing this as wontfix, like the other `llvm_asm!`-specific bugs.

[2020-12-18 16:23] #80157 closed

[2020-12-18 16:24] Mic92 commented on #35119
Is it possible to generate position independent code with `global_asm`?

I tried

[code]

However the `main` address it not position independent which causes a segfault at runtime.
This is possible with naked functions:

[code]

[2020-12-18 16:24] jyn514 commented on #80004
@ThePuzzlemaker where did you get stuck? I might be able to help.

[2020-12-18 16:26] sylvestre commented on #80134
Correct :) é was just the character my big fingers typed when I found that bug!

[2020-12-18 16:33] diondokter commented on #79694
@rustbot claim

[2020-12-18 16:41] vmx commented on #79899
After playing more with the coverage stuff. I think it would be great if the coverage output could be placed next to the binary it was run with. For example if a test executable is at `target/debug/deps/my_test-246fe4d9493aa502`, the coverage output could be at `target/debug/deps/my_test-246fe4d9493aa502.profraw`.

This is useful as the `llvm-cov` expects to provide a binary with the coverage info

[2020-12-18 16:43] Mic92 commented on #35119
Never mind. my actual issue was is that inline asm is using intel syntax, while `global_asm` is using gas. So this is the fix:

[code]

[2020-12-18 16:52] dspencer12 opened #80161 "Bug in borrow checker with 'while let'"
I tried to simplify a `loop` and `match` combination using a `while let` expression, but the result fails to compile while the behavior should be the same.

I tried this code:

[code]

I expected to see this happen: it compiles.

Instead, this happened: it does not compile, with the compilation errors:
[code]

The original `loop` and `match` code, which does compile, is:
[code]

For completeness,

[2020-12-18 16:57] richkadel commented on #79899
@vmx - Sounds good. I don't know if you'd be interested in working on this feature yourself, but I'd welcome the contribution.

I'm not likely to have time to work on this myself due to shifting work priorities.

If you can and want to submit a PR, please `@richkadel` mention me for a review (I will send feedback, but I'm not authorized to approve or anything), and add @tmandry and @wesleywiser as

[2020-12-18 16:59] SNCPlay42 commented on #80157
Reduced, confirming `llvm_asm!` is the culprit:
[code]

This equivalent (I think?) `asm!` appears to work fine:

[code]

[2020-12-18 17:06] seanchen1991 commented on #79676
Looking through the linked document, I don't really see anything that is within scope of this PR. Please let me know if there's any specific points in the doc that should be brought up though; I certainly might have missed something.

[2020-12-18 17:33] memoryruins commented on #39884
https://github.com/rust-lang/rust/pull/78566 allows polly to be passed into llvm-args. It is not available by default on nightly, and to use the pass, one must currently build rustc with polly enabled.

[2020-12-18 17:41] Mark-Simulacrum commented on #79911
@XAMPPRocky Can we add an entry to the 1.49 release notes for this issue? It sounds like roughly

* Leading whitespace is stripped more uniformly in documentation comments, which may change behavior. Read [this post](https://blog.guillaume-gomez.fr/articles/2020-11-11+New+doc+comment+handling+in+rustdoc) for more details.

[2020-12-18 17:48] GuillaumeGomez commented on #79911
That'd be a good idea indeed!

[2020-12-18 17:58] Mark-Simulacrum commented on #79909
I am inclined to agree that this is not readily fixable. I am not sure whether we made the right call exposing such internal implementation details to end users - it feels like recursion limits are always going to be error prone for people to configure. However, the limit of 67 configured by this crate is below the minimum Rust by default sets (128 currently) so I am not inclined to be too worried

[2020-12-18 18:04] Mark-Simulacrum commented on #79904
@matthewjasper can you say whether you expect this to be fixable and backportable in time for the release on the 31st? It looks like a standard regression of inference to me, so maybe not too bad, but would be good to fix if possible. Maybe it is fixed by https://github.com/rust-lang/rust/pull/80132? I could see inference failing as a result of the change there to my naive glance :)

[2020-12-18 18:11] m-ou-se opened #80162 "Tracking Issue for RFC 3007: Making core and std's panic identical in Rust 2021"
This is a tracking issue for RFC 3007 "Plan to make core and std's panic identical": https://github.com/rust-lang/rfcs/pull/3007

### Steps

- [x] Add a lint for format strings incompatible with the edition change: https://github.com/rust-lang/rust/pull/78088
- [x] Add `std::panic::panic_any`: https://github.com/rust-lang/rust/pull/74622
- [x] Stabilize `std::panic::panic_any`: Tracking issue #785

[2020-12-18 18:23] baumanj commented on #48043
In the meantime, you may be interested in (or already know about) https://crates.io/crates/fallible_collections. We've been using (and contributing to) that crate for awhile now to support the rust MP4 parser that Gecko uses. I've found it quite nice to work with.

[2020-12-18 18:26] m-ou-se commented on #72016
Is there anything of `asm!()` that needs to be gated behind the 2021 edition gate?

[2020-12-18 18:46] RReverser opened #80164 "Confusing diagnostic for supertrait cycle"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=21e235bb28d5fe4e17898e3446fce4eb))

Errors:

[code]

Note: it's possible to reproduce the issue with a lot simpler repro, leaving just the `From<Self::Value` part, but example with more traits is more problematic, because in that case it's unclear which one of the trait clauses is actually causing the iss

[2020-12-18 18:47] ldm0 commented on #77910
claim

[2020-12-18 18:53] Stupremee commented on #77910
You have to write `@rustbot claim` if you want to assign this issue.

[2020-12-18 18:54] wesleywiser commented on #79909
@Mark-Simulacrum I think you meant to cc @hiratara

[2020-12-18 19:02] m-ou-se opened #80165 "Promote Certain Lints to Errors in Rust 2021 Edition"
Tracking issue for turning lints into errors in Rust 2021.

- [ ] `BARE_TRAIT_OBJECTS`
- [ ] `ELLIPSIS_INCLUSIVE_RANGE_PATTERNS`

`ELIDED_LIFETIMES_IN_PATHS` is still under active discussion.

cc @rylev

[2020-12-18 19:16] ldm0 commented on #77910
Thanks bro.

@rustbot claim

[2020-12-18 19:18] Ekleog commented on #53605
Is there any summary of what the current status is here to actually get `transmute` to be `const` in `const fn`?

(Coming here because I'd have liked to make `Path::new()` `const`, but AFAIU this requires either pointer deref or transmute to be `const`, and transmute sounds easier to stabilize than pointer deref)

[2020-12-18 19:26] estebank commented on #80164
Another set of cases that should be handled (perhaps separately) is trait bounds on type parameters [like this](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6cda35336d089a7886224f36f5161151) and [others](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ee84078146a2a8ed916dfb4a7bd76c50):

[code]

This can [be written this way](https://play.rust-lang

[2020-12-18 19:36] tmiasko opened #80167 "VecDeque from Vec with ZST elements breaks internal invariants"
[code]

I expected VecDeque constructed from Vec to either work correctly or construction to panic if it is not possible. Instead:

[code]

Introduced by #80003.

[2020-12-18 19:43] camelid commented on #79908
This should be fixed on the next nightly.

[2020-12-18 19:55] camelid commented on #77960
For those (like me!) who don't know what 'trampoline' means in this sense of the word, I think it's related to [this part of the Wikipedia article "Trampolines (computing)"](https://en.wikipedia.org/wiki/Trampoline_\(computing\)#High-level_programming):

[2020-12-18 20:00] camelid commented on #80134
Assigning `P-medium` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2380134.20.22.C3.A9.22.20in.20the.20code.20.20caused.20.22bpos.2Eto_u32().20.E2.80.A6) in the prioritization working group.

[2020-12-18 20:05] Mark-Simulacrum commented on #79908
Reopening to track beta fix.

[2020-12-18 20:07] Aaron1011 commented on #80151
This should be fixed by https://github.com/rust-lang/rust/commit/19eb1c4c526071c430c05fffc64da71ac057a3d5 . Can you re-test on the latest nightly?

[2020-12-18 20:10] Aaron1011 commented on #80152
@bjorn3: I assume that this occured when building using a stage1 ykrustc? If so, you're missing commit https://github.com/rust-lang/rust/commit/19eb1c4c526071c430c05fffc64da71ac057a3d5 which fixes this issue.

In the future, please include the upstream rustc commit that a particular build of ykrustc is based on.

[2020-12-18 20:13] jyn514 commented on #77960
@camelid well sort of - I was mostly thinking of how the PLT is a trampoline: https://stackoverflow.com/questions/43048932/why-does-the-plt-exist-in-addition-to-the-got-instead-of-just-using-the-got. But yeah, same idea of having a short, well-known setup address that calls a much larger implementation.

[2020-12-18 20:17] estebank commented on #79919
My position,[from my comment in the PR](https://github.com/rust-lang/rust/pull/80012#issuecomment-748297783):

[2020-12-18 20:21] bjorn3 commented on #80152
Yes

Thanks for pointing me to that commit. I will suggest another sync.

Sure. I will do that in the future.

[2020-12-18 20:21] #80152 closed

[2020-12-18 20:28] matthewjasper commented on #79904
Looking at this more closely, this is fallout from fixing #27675.

[2020-12-18 20:51] Soham3-1415 opened #80168 "[ICE] Compiler Panics Using Self::CONSTANT and Lifetimes in Struct"
### Code

The following code does produce an error:
[code]

The following code does NOT produce an error:
[code]

The following code does NOT produce an error:
[code]

### Meta

`rustc --version --verbose`:
[code]

`rustc --version --verbose`:
[code]

`rustc --version --verbose`:
[code]

### Error output
`cargo build --verbose`:
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[

[2020-12-18 20:57] Soham3-1415 commented on #80168
Duplicate of #68875

[2020-12-18 20:57] #80168 closed

[2020-12-18 20:57] tromey commented on #62839
FWIW the gdb patch landed a while back.  It is in the latest release.

[2020-12-18 21:22] frewsxcv commented on #77994
To document, we need to know what the actual behavior is. Does anyone know what happens if the clock goes back in time and we try to return [the number of milliseconds](https://doc.rust-lang.org/std/time/struct.Duration.html#method.subsec_millis)?

[2020-12-18 21:33] camelid commented on #80167
cc #78532

[2020-12-18 21:34] frewsxcv commented on #48556
There are four occurrences of `#[unstable(feature = "stdsimd", issue = "48556")]` in the codebase (this issue number is 48556). This seems to conflict with the fact that this issue is closed. Should these occurrences be referencing a different issue? See also: https://github.com/rust-lang/rust/issues/76412

[2020-12-18 21:34] richkadel commented on #80060
@matthiaskrgr - Thanks for the ICE report, and the reduced code sample!

@tmandry @wesleywiser -

The reduced sample produces a couple of MIR that make it to PreCodegen, one of which is:

[code]

And you can see that there are two different counters with ID "1".

Most likely, `-Z mir-opt-level=2` is merging one MIR into another, or something like that, combining counters from different "functions"

[2020-12-18 21:37] Mark-Simulacrum commented on #79904
Okay, sounds like won't fix and that we should note the fix for #27675 as a compatibility note. Assigning to @XAMPPRocky to do so (and close this issue once you have done so).

[2020-12-18 21:57] GopherJ commented on #80151
@Aaron1011 it looks better, but I'm not sure if it's fixed or not because if I clean the cache then the old version can also compile. Can I test it for days and tell you the beginning of the next week?

[2020-12-18 21:59] camelid commented on #80158
@mahkoh Can you explain why you think `MaybeUninit` should not require `T: Sized`?

[2020-12-18 22:02] Aaron1011 commented on #80151
Sure!

[2020-12-18 22:04] #80148 closed

[2020-12-18 22:04] frewsxcv commented on #79950
RP opened https://github.com/rust-lang/rust/pull/80169

[2020-12-18 22:05] camelid commented on #80165
I'm not sure if this one should be deny-by-default; this is what the lint's page says:

[2020-12-18 22:06] ldm0 commented on #34792
This is fixed on current master. Should be closed.

[2020-12-18 22:07] camelid commented on #80165
Also, `MACRO_USE_EXTERN_CRATE` is not warn-by-default – it's actually allow-by-default.

[2020-12-18 22:10] m-ou-se commented on #80165
@rylev GitHub won't let me assign you to this issue; you wanted to work on this, right? I think you can `@​rustbot claim` to claim the issue.

[2020-12-18 22:13] camelid commented on #80165
@rustbot assign rylev

[2020-12-18 22:13] Mark-Simulacrum commented on #79562
Ok, useful to know. I don't feel like it's critical that we avoid the warnings but there seems to not be any significant disadvantage to bumping slightly so I'll leave that in the code for now.

[2020-12-18 22:16] mahkoh commented on #80158
Being `MaybeUninit` is not a property that has anything to do with being `Sized` but with the contents of the occupied memory.

The functions

[code]

occur naturally in APIs that are generic over both uninitialized and initialized arguments.

For example, you want to be able to write

[code]

with the same `read` function. In this case `T = [?]` is unsized.

Because of the `T: Sized` restriction,

[2020-12-18 22:20] camelid commented on #80165
Hmm, I wonder why GitHub won't let us assign rylev directly – they *are* an org member...

[2020-12-18 22:48] camelid commented on #80158
Nominating for T-lang/T-libs discussion.

[2020-12-18 23:01] estebank commented on #61933
I think that's a reasonable solution. Do you want to cut a PR for it and deleting the now unused code, @oli-obk?

[2020-12-18 23:08] rylev commented on #80165
@rustbot claim

[2020-12-18 23:14] #67683 closed

[2020-12-18 23:53] HeroicKatora commented on #80158
The unsizing would be valuable for allocators. In some cases, one wants to use `UnsafeCell<MaybeUninit<T>>` as a generic pool of memory where the alignment and size requirements are controlled by the type parameter `T`, and thus by the caller. The ability to use a DST here would expand this pattern such that the length can be a runtime value. The currently best choice of using a `[MaybeUninit<u8>]

[2020-12-19 00:56] GreenBeard commented on #75294
This change will be much appreciated. Could we please also have an into_entries function which returns a tuple of the key, and value will also be added.

[2020-12-19 01:02] estebank opened #80173 "Detect `;` -> `,` typo on `vec!["_", 10]`"
_Only_ when writing `vec!["_", 10]` we could suggest replacing the `,` with `;`.

[2020-12-19 01:05] jyn514 commented on #80161
The `while let` desugars (with `-Z unpretty=hir`) to this:

[code]
Maybe that causes the borrow checker to infer a longer lifetime than necessary?

[2020-12-19 01:08] jplatte commented on #75294
@GreenBeard that's what the `into_iter` methods do.

[2020-12-19 01:15] estebank opened #80174 "Bad suggestion for tuple struct used in pattern with struct syntax and missing fields"
For [the following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2ef5d51d35dc2d6c343790c79c81cd1e):

[code]

we currently emit

[code]

but struct patterns cannot refer to tuple field names with numbers, as the parser expects identifiers.

I think that 1) the parser [should be changed to accept the positions](https://play.rust-lang.org/?version=stable&mode=debug&edi

[2020-12-19 01:18] GreenBeard commented on #75294
@jplatte For some reason the documentation ( https://doc.rust-lang.org/std/collections/struct.BTreeMap.html ) has that as under "Show hidden undocumented items". Does that mean it was intentionally hidden, or is it an oversight/automatic? I didn't find it when using ctrl+f because of that.

[2020-12-19 01:37] jplatte commented on #75294
@GreenBeard Right, some trait methods are hidden like that. I would generally recommend using the search built into the page rather than the browser's search for rustdoc pages. The method is easy to find if you search for `BTreeMap::into_iter`. But that's off-topic for this tracking issue.

[2020-12-19 01:55] jyn514 opened #80175 "linkchecker is not catching some broken links"
https://doc.rust-lang.org/nightly/std/primitive.slice.html#method.concat-2 links to https://doc.rust-lang.org/std/primitive.slice.html#method.concat, which does not exist in the build directory, only on the website itself (it's linking to the stable docs instead of nightly).

Source code: https://github.com/rust-lang/rust/blob/50a90975c0f78219db45d3bee0676a22695ec103/library/alloc/src/slice.rs#L67

[2020-12-19 01:56] jyn514 commented on #80175
I expect this will break when promoted to the stable channel, it only works by coincidence now.

[2020-12-19 02:01] jyn514 commented on #80175
Hmm, I'm not actually sure this can be fixed without intra-doc links: `Concat` appears in `std::slice::Concat` which does need both `../../`. I guess since this is harmless it doesn't actually need to be fixed?

cc https://github.com/rust-lang/rust/issues/63351

[2020-12-19 02:12] taiki-e commented on #80165
I think these lints belong to a similar category as `unused` lint. I think it probably makes sense to warn by default, but I don't think we need to deny it by default.

The other two (ELLIPSIS_INCLUSIVE_RANGE_PATTERNS and  ELIDED_LIFETIMES_IN_PATHS) are related to compatibility or deprecation, and it seems reasonable to deny them in the next edition. (ELIDED_LIFETIMES_IN_PATHS is actually already

[2020-12-19 02:40] jhpratt commented on #70754
@Centril `Foo<const _>` would be unambiguous, correct? I'm not sure I particularly like it, but I think it would work. I ran into this when doing some impls, where it would actually be unambiguous regardless.

[2020-12-19 02:43] steffahn opened #80176 "Unsoundness in type checking of trait impls. Differences in implied lifetime bounds are not considered."
Applies to current stable and nightly. See comment [further down](https://github.com/rust-lang/rust/issues/80176#issuecomment-748466836) for a simplified example and one that works all the way since Rust `1.19`.

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=90a7c23a7c6bb2cd26651de767fc57cf))

Errors:

[code]

@rustbot modify labels: T-compiler, C

[2020-12-19 02:55] steffahn commented on #80176
@rustbot modify labels: T-compiler, C-bug, A-lifetimes

@rustbot prioritize

[2020-12-19 02:56] steffahn commented on #80176
@rustbot modify labels: T-compiler, C-bug, A-lifetimes

[2020-12-19 02:58] steffahn commented on #80176
@rustbot modify labels: A-traits

[2020-12-19 03:01] jyn514 commented on #80176
This might be a duplicate of https://github.com/rust-lang/rust/issues/57893.

[2020-12-19 03:04] varkor commented on #70754
`Foo<_>` is unambiguous too and doesn't involve new syntax. It's just that it'll take a little bit more implementation work.

[2020-12-19 03:09] dreson4 commented on #80120
I'm on 11.1.
I tried ``xcode-select --install``, ``cargo clean`` , ``cargo build`` all didn't work, even deleting the command line tools folder, reinstalling x-code.
After exporting the LIBRARY_PATH the issue has been fixed. So it's ok for now.

[2020-12-19 03:12] steffahn commented on #80176
@jyn514
Hm.. but isn’t that one about something with trait objects?

[2020-12-19 03:28] wfly1998 commented on #80157
Ok, thanks

[2020-12-19 03:29] steffahn commented on #80176
A modified version that also works with some older Rust versions that the original reproduction above does not work with
[code]

[2020-12-19 03:44] camelid commented on #80161
Based on testing with Godbolt, it doesn't seem like this code has ever compiled.

[2020-12-19 04:32] #77019 closed

[2020-12-19 05:24] PatchMixolydic opened #80179 "E0121 suggests the use of the unique type of a returned function/closure rather than a fn pointer or a Fn trait"
I tried this code:

[code]

The resulting diagnostic suggests replacing `_` with `fn() -> i32 {f}`, the unique type of `f()`:

[code]

This, of course, doesn't work:
[code]

I'd expect the diagnostic to suggest replacing `_` with `fn() -> i32` or `impl Fn() -> i32`, both of which compile successfully.

### Meta

`rustc --version --verbose`:
[code]