[2017-04-26 23:19] wesleywiser commented on #41568
I'd like to take this, if that's ok.

[2017-04-26 23:20] alexcrichton commented on #41568
@wesleywiser sure thing! Let me know if you need any assistance

[2017-04-26 23:41] jonhoo opened #41570 "No way to refresh DNS information leading to indefinite network failures"
Consider the following simple network client:

[code]

This works fine if you run it while your internet connection is up and running. However, if you kill your network connection, it (obviously) does not. What is interesting is if you launch the program while your internet is offline (and crucially, while `/etc/resolv.conf` does not contain any nameservers), and then connect to the internet again

[2017-04-26 23:51] jonhoo commented on #41570
Seems like a lot of big programs have gone through the pain of re-discovering this issue. Here's Mozilla Firefox from [14 years ago](https://bugzilla.mozilla.org/show_bug.cgi?id=214538).

[2017-04-26 23:53] jonhoo commented on #41570
An interesting decision from that Mozilla bug report is:

That seems pretty reasonable, and maybe something that Rust could do too?

[2017-04-27 00:04] #40417 closed

[2017-04-27 00:39] jeandudey commented on #36927
@mjbshaw

Yes, but `bindgen`'s generated bindings are intended to be created at compile time, so this should only be a problem for users that generate bindings from the command line.

I would first approach this with a `proc-macro` that generates constants at compile time before adding yet-another-feature to the language.

I do not agree with this, I do not think that C enumerations are part of Ru

[2017-04-27 00:47] cuviper commented on #36927
I don't think this provides the guarantees that you want!  C enums can still have values outside of the explicitly stated variants.  AIUI, basically anything within the same bit range is still legal.

[2017-04-27 00:48] emilio commented on #36927
Note, also, that bindgen allows customizing the enums as needed (generating plain integers, for example).

The possibilities would be much larger with https://github.com/rust-lang/rfcs/pull/1758, though.

[2017-04-27 01:23] retep998 commented on #36927
Or you could use a regular declarative macro to define enums using normal syntax and have them turned into constants like [winapi does](https://github.com/retep998/winapi-rs/blob/dev/src/macros.rs#L253-L276)

[2017-04-27 01:37] alexcrichton commented on #31840
@BurningMind I've opened https://github.com/rust-lang/rust/pull/41571 for this

[2017-04-27 01:57] kennytm commented on #39699
Just for record. Currently only 4 sanitizers are enabled (asan, lsan, msan, tsan), and only in `x86_64-unknown-linux-gnu` (#38699) and `x86_64-apple-darwin` (#41352).

As of the LLVM 4.0 merge (rust-lang/compiler-rt@c8a8767c5), compiler-rt actually [supports](https://github.com/rust-lang/compiler-rt/blob/c8a8767c56ad3d3f4eb45c87b95026936fb9aa35/cmake/config-ix.cmake#L161) much more targets than ru

[2017-04-27 02:48] #25164 closed

[2017-04-27 02:48] #38110 closed

[2017-04-27 02:48] #33287 closed

[2017-04-27 03:05] jonhoo commented on #41570
Opened a PR to libc over at https://github.com/rust-lang/libc/pull/585

[2017-04-27 03:24] Susurrus opened #41574 "Have an option to output warnings from doctests"
Running cargo test runs doctests by default, and shows warnings for regular code, but not for the doctests themselves. This can be enabled by running cargo test -- --nocapture. I'd like to have warnings also show in our CI tests, even for doctests, but setting -- --nocapture shows all the output which we don't want (and can't control, because they come from the underlying libraries complaining abo

[2017-04-27 07:29] steveklabnik commented on #40116
Don't worry about it; that makes this *more* helpful, not less!

[2017-04-27 09:11] rkruppe opened #41576 "Enable using libraries from crates.io without polluting them with stability attributes"
All (transitive) dependencies of the compiler and standard library wind up in the sysroot, and could therefore be used by anyone. We don't want to guarantee the existence, much less version/API of any crates except (currently) `std`, `core`, and `proc_macro`. Therefore all other crates must be marked as unstable, often with the feature name `rustc_private`. This also applies to crates from crates.

[2017-04-27 09:48] steveklabnik commented on #29641
This is related to box syntax more generally, so the questions around that need to be resolved first.

[2017-04-27 10:08] julian-seward1 commented on #39153
This is also a problem when profiling Rust code, at least with the
Valgrind/Callgrind/KCachegrind stack, since they (as a result of the dwarf
src loc info) wind up attributing all costs in the included file to the include
macro invokation itself, which is pretty much useless.

[2017-04-27 10:38] eddyb commented on #41576
This is a dupe of #27812.

[2017-04-27 10:49] arielb1 commented on #41415
Fixed in #41377.

[2017-04-27 10:49] #41415 closed

[2017-04-27 11:06] michaelwoerister commented on #39153
@vadimcn Didn't you add a command line flag to control how macro source locations are handled?

[2017-04-27 11:07] #41576 closed

[2017-04-27 11:07] rkruppe commented on #41576
Oops!

[2017-04-27 11:15] julian-seward1 commented on #39153
@michaelwoerister yes, -Zdebug-macros does fix it.  It would be nicer if this
was the default setting, though.  At least from a profiling point of view, where
seeing inside the macro is important.

[2017-04-27 11:58] mjbshaw commented on #36927
@jeandudey

How does generating bindings at compile time help? As I mentioned in servo/rust-bindgen#667 if the Rust program dynamically links to the C library then the C library could easily return an "out of range" enum (e.g. if the user's computer has a slightly different version of the C library; C programmers generally don't consider adding a value to an enum to be an API or ABI breaking chang

[2017-04-27 12:23] quixoticaxis commented on #41151
I'm getting the linker error with Visual Studio 2017 installed and VS Build Tools 2015 installed (alongside with Windows SDK from Build Tools installer).

Do we need some specific version of Windows SDK?

`error: linking with `link.exe` failed: exit code: 1181
  |
  = note: "C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\VC\\bin\\amd64\\link.exe" "/LIBPATH:C:\\Program Files
(x86)\\Microsof

[2017-04-27 12:59] giannicic commented on #37653
@nikomatsakis
the PR addressing the 3rd task list item has been merged.
Now i'm working on the first two points.

[2017-04-27 13:18] #41313 closed

[2017-04-27 13:33] arielb1 commented on #41498
Minified:
[code]

[2017-04-27 13:44] carols10cents commented on #41545
FWIW I just tried to search in crates.io's logs for utf8-ranges/0.1.3 with status 500 and I didn't see anything... wonder if that was from S3....?

[2017-04-27 14:11] alexcrichton commented on #41545
@carols10cents oh I was investigating this a long time ago and ended up reaching the same conclusion, that the 500 code was from S3. I think that's a normal ocurrance.

The "solution" here is to likely bake in an auto-retry into Cargo itself when it gets a 500 from S3 which is even [officially recommended](http://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html)

[2017-04-27 14:35] carols10cents commented on #41545
It looks like cargo [has network retry logic](https://github.com/rust-lang/cargo/pull/2396) but it's only being used for git sources? I'm going to file an issue for using that logic for other sources as well

[2017-04-27 14:41] alexcrichton commented on #41545
Oh Cargo has [retry logic](https://github.com/rust-lang/cargo/blob/fa7584c1495c2d9c04a6416f8e7b546abfa88a52/src/cargo/sources/registry/remote.rs#L161-L171) for the registry, it just only retries if the [error claims its spurious](https://github.com/rust-lang/cargo/blob/fa7584c1495c2d9c04a6416f8e7b546abfa88a52/src/cargo/util/network.rs#L24) and a 500 isn't a [`curl::Error`](https://github.com/rust-

[2017-04-27 14:44] carols10cents commented on #41545
oooooohhhh. Yeah was just coming to the conclusion that with_retry IS being used for all sources. Will change what bug I'm filing to be about tweaking the retry logic :)

[2017-04-27 14:50] carols10cents commented on #41545
Issue filed! https://github.com/rust-lang/cargo/issues/3962

[2017-04-27 15:33] wagenet commented on #40973
@alexcrichton thanks for all of your hard work on this! If there's any way I can help, let me know, though I suspect it's pretty far beyond me at this point.

[2017-04-27 15:50] Gankro commented on #27700
I'd like to be involved.

[2017-04-27 16:22] alexcrichton commented on #41570
Sounds like a reasonable solution to me! (calling `res_init` on failure)

Thanks for looking into this @jonhoo!

[2017-04-27 16:27] cuviper commented on #41569
I understand writing the package generators in Rust, but how can you do that for the installer itself?  Doesn't that need to be platform-neutral?
(but then, I don't know how Windows deals with `install.sh` even today...)

[2017-04-27 16:31] alexcrichton commented on #41569
Oh sorry right I should clarify! I definitely do *not* think we should rewrite `install.sh`. I'm just thinking the `gen-installer.sh` and `combine-installers.sh` scripts could be rewritten. Those are just used in tarball generation. The tarballs themselves should not change as a result of this issue.

[2017-04-27 16:33] cuviper commented on #41569
Great, makes sense.  I'd like to work on this, if you don't already have someone else...

[2017-04-27 16:34] alexcrichton commented on #41569
Nah you're definitely more than welcome!

[2017-04-27 16:45] brson opened #41581 "rustdoc crate stable version number is misleading"
Every release I verify the docs, and go to [this page](https://doc.rust-lang.org/std/). Every release this page says, in big text at the top of the page, "1.0.0". Casual users will not understand what this label means - they will expect it to correspond to the current release.

I think this label provides little value (negative actually, considering this issue) - stability attributes only apply to

[2017-04-27 16:46] jonhoo commented on #41570
Do you think it'd be better to add this behavior into `lookup_host`, or in the higher-level `resolve_socket_addr`?

[2017-04-27 16:54] vadimcn commented on #39153
@julian-seward1: You scenario is exactly why I added that flag.   However, I fail to see why would we want to make it the default.  The change was made for the sake of sane debugging experience.  Very few people  want to land in the middle of a macro definition in libstd (for which we don't even emit line numbers), when trying to step over a `println!()` in their source.

[2017-04-27 16:56] alexcrichton commented on #41570
Nah I think throwing it into `lookup_host` is fine, that's already a mega "convenience" api

[2017-04-27 17:24] ConnorGray commented on #30924
Is work still being done on this by @erandur ? If not, I'd like to work on this. I'm experienced with Rust, but I've not done work on the compiler before. @nrc, has your advice above changed much in the last year?

[2017-04-27 17:28] CryZe opened #41584 "Rust never lets you know about RUST_BACKTRACE=full"
Ever since RUST_BACKTRACE got split up into a short and full backtrace, there used to be a message that tells you about the full backtrace when you are seeing the shortened one. The message however only comes up when stack frames are omitted [See here](https://github.com/rust-lang/rust/blob/9f2abadca2d065bf81772cb84981d0a22d8e98b3/src/libstd/sys_common/backtrace.rs#L74). This used to be the case f

[2017-04-27 17:31] ConnorGray commented on #30197
Is anybody working on this currently?

[2017-04-27 17:41] Manishearth commented on #30197
Feel free to take it!

[2017-04-27 19:00] petrochenkov commented on #41584
If no frames are omitted, then full and short backtraces are equivalent.
No reason to spend people's time and recommend using `full` if the result will be the same.

[2017-04-27 19:02] CryZe commented on #41584
The short backtrace hides other information like the addresses and the function hashes though.

[2017-04-27 19:04] arielb1 commented on #40473
1.17 is now stable. This is a nightly -> nightly regression affecting only `-Z mir-opt-level`.

[2017-04-27 19:04] nikomatsakis commented on #41498
@wagnerf42 there is a pending fix (#41578), no action needed on your part

[2017-04-27 19:04] nikomatsakis commented on #41498
triage: P-high

[2017-04-27 19:05] keringar opened #41587 "rustc_errors doesn't check terminal attributes correctly"
Looking at https://github.com/rust-lang-nursery/rustfmt/issues/1180, I found it originated in syntex_errors, which is basically a stabilized version of https://github.com/rust-lang/rust/blob/master/src/librustc_errors/emitter.rs#L1362.

Looking over this code, the emitter doesn't check if the terminal actually supports the attribute before trying to set it. For example, in ```apply_style```, ```st

[2017-04-27 19:06] neosilky commented on #41581
How about something like the following?

![2017-04-27-200515_681x270_scrot](https://cloud.githubusercontent.com/assets/964245/25499928/092ea6b0-2b85-11e7-9197-1e957242043a.png)

[2017-04-27 19:17] arielb1 commented on #36799
can you bisect it?

[2017-04-27 19:27] CryZe commented on #41584
Looks like it's intentional, so I'm closing this.

[2017-04-27 19:27] #41584 closed

[2017-04-27 19:58] cengizIO commented on #41474
Previously, we were dumping the differences between expected and actual compile-fail output like this

[code]

Now, it's something like this.

[code]
So, output-wise, no breaking/confusing changes introduced by this implementation change.

[2017-04-27 20:06] nikomatsakis commented on #41255
Nominating for lang team discussion today.

[2017-04-27 20:07] nikomatsakis commented on #41222
triage: P-medium

We're blocked on LLVM here, and MIPS is not a tier 1 platform or anything like that.

[2017-04-27 20:08] nikomatsakis commented on #38584
I'm tagging this as a @rust-lang/tools issue -- let me know if anyone disagrees with that classification.

[2017-04-27 20:09] nikomatsakis commented on #41479
triage: P-high (regression)

[2017-04-27 20:10] nikomatsakis commented on #41471
cc @brson -- any thoughts on what's going on here? Is this a rustup issue? Compiler?

[2017-04-27 20:14] nikomatsakis commented on #41471
triage: P-high

Tentatively marking as P-high. MIPS is tier 2, but it's not good for it to be horribly broken.

@hsivonen -- you're sure this is not some quirk of your install?

[2017-04-27 20:15] nikomatsakis commented on #41443
triage: P-high

@nagisa will do some investigation and try to reproduce.

[2017-04-27 20:19] arielb1 commented on #41423
On-demand compilation could significantly change the story here. Let's wait for it.

[2017-04-27 20:19] nikomatsakis commented on #41423
triage: P-low

We are still working out the story around mir optimizations and the query system. Once that is more sorted, we can revisit this question. We're barely doing any MIR optimization now anyhow.

[2017-04-27 20:51] Eh2406 opened #41589 "can't build ole32-sys with nightly-gnu"
HI,

Setup:
`Cargo.toml`
[code]
`src/main.rs`
[code]

Expected output:
No errors, as there are no errors when I run `cargo +nightly-msvc build`

Actual output:
[code]

1.18.0-nightly (036983201 2017-04-26), on windows.

Note: that it works with:
- `cargo +nightly-2017-04-20 build`
- `cargo +nightly-2017-04-24 build`
- `cargo +nightly-2017-04-25 build`

does not work with:
- `cargo +nightly-2017-04

[2017-04-27 21:46] erandur commented on #30924
The cycle continues, I overestimated the amount of free time I was going to have. It's all yours if you want it, I'd love to see the solution.

[2017-04-27 22:08] TimNN commented on #41589
I gonna take a wild guess and say that this is likely related to the LLVM 4.0 upgrade (#40123) or more specifically the switch from MinGW-with-win32-threads to MinGW-with-posix-threads.

@Eh2406: Could tell us the the MinGW / `gcc --version` you are using?

[2017-04-27 22:24] briansmith commented on #41215
NIT: It doesn't make sense to measure hashes by the number of bits this way, because the number of bits doesn't correlate strongly enough with the desired collision probability. For example, `SHA-1(x)||"123456789012" is a 256-bit hash but it isn't nearly as strong as SHA-256.

Instead, it would be good to mention the desired collision probability. Also, what's the threat model? I.e. is there any w

[2017-04-27 22:31] ollie27 commented on #41589
Looks like this is the same as https://github.com/rust-lang/rust/issues/31840#issuecomment-297514718 and so should be fixed by #41571.

[2017-04-27 23:24] urschrei commented on #36799
Possibly related to https://github.com/rust-lang/rust/issues/40355. I'll see if I can find a working previous nightly tomorrow.

[2017-04-27 23:43] Mark-Simulacrum commented on #8256
I feel like this should be closed since reproducing is hard, and I see that there have been some efforts (e.g., #21980, and a few more) to fix this. As such, I'm closing, but please reopen if we want to continue tracking this--preferably with some steps that could be taken to at least reproduce this.

[2017-04-27 23:43] #8256 closed

[2017-04-27 23:54] Mark-Simulacrum commented on #8641
As far as I can tell, this is now fixed, or at least equivalent to output from C++ code. Closing, please reopen if that's not the case.

Apologies for my potentially terrible C++, I'm not really familiar enough to speak to it.

[code]

c++ gdb:
[code]

[code]

rust gdb:
[code]

[2017-04-27 23:54] #8641 closed

[2017-04-28 00:08] Mark-Simulacrum commented on #8706
Closing as fixed.

[code]

Now gives:

[code]

[2017-04-28 00:10] Mark-Simulacrum commented on #8706
Never mind, closed prematurely. The `~` was caught in an earlier pass, and since it's before the while true, I assumed this was fixed when it wasn't...

[code]

[2017-04-28 00:38] Veedrac commented on #25982
Seems to be fixed!

[2017-04-28 00:38] #25982 closed

[2017-04-28 00:45] ConnorGray commented on #30197
Great! This is the first issue I've worked on in the compiler–do you have any idea about a good place to start? I'm happy to dive in on my own, but any advice would be appreciated.

[2017-04-28 00:49] #41479 closed

[2017-04-28 01:15] Mark-Simulacrum commented on #9224
I'm a little confused by this issue, since gdb seems to indicate the same output from both C++ code (g++ compiled). Perhaps someone could explain what specifically we expect to be different? I've provided C++ and Rust code below as well as gdb output (which is effectively identical). This issue is somewhat similar to #8641 in my opinion.

[code]

[code]

[code]

[code]

[2017-04-28 01:38] est31 commented on #40872
On IRC, @moonheart08 has expressed desire to implement this. I've helped a little bit, can continue to mentoring.

[2017-04-28 02:47] shahn opened #41592 "no way to disable link suggestions"
When building a static library, rust emits a long list of libraries to link to. --quiet does not help in silencing it, and it really clutters the build output with completely redundant information.

    note: link against the following native artifacts when linking against this static library

    note: the order and any duplication can be significant on some platforms, and so may need to be prese

[2017-04-28 03:18] #35950 closed

[2017-04-28 03:18] #41482 closed

[2017-04-28 03:18] #41498 closed

[2017-04-28 03:29] alexcrichton commented on #40973
I've unfortunately only been able to debug this on/off, and progress is super slow. So far I've managed to get a little farther (I think) each time but I still have no idea where the bug is, I'm just trying to narrow the gap between "working" and "not working".

@wagenet do you know how Ruby on Windows typically works? It'd be useful if I knew how to build Ruby itself and I could perhaps try to ki

[2017-04-28 04:03] withoutboats commented on #41140
Closing this because it isn't a bug.

[2017-04-28 04:03] #41140 closed

[2017-04-28 04:11] withoutboats opened #41597 "Specialization results in spurious associated type errors"
An upstream crate presents me with this API:

[code]

This is a fine API as far as it goes, but my problem is that I only care about one `Foo`, and I need `Bar` to be object safe. For my use case, this is the API I want:

[code]

But I need to bridge `T: MyBar` to `T: Bar`. I have this solution, based on specialization, which I believe is correct:

[code]

However this appears to greedily attempt

[2017-04-28 05:36] hsivonen commented on #39153
I, too, think that `-Zdebug-macros` behavior should be the default. There are many non-macro cases where one wouldn't want to step into standard-library code. It seems to me that some kind of debugger-side ignore filter for the standard-library paths would be a better solution than the compiler obfuscating the location info.

[2017-04-28 05:46] hsivonen commented on #41471
Pretty sure. This was right after install from rustup without messing with the rustup directories in any way manually.

(The underlying system I used _is_ quirky: Debian Wheezy with Rust-compatibly glibc transplanted from Jessie, but I have a hard time seeing how that could result in the error seen here.)

[2017-04-28 06:18] Shtuka commented on #38584
Installing Rust on Windows 10 64 worked for me executing `vcvars64.bat` in `cmd`. But to run `rustc`, I have to rerun `vcvars64.bat` every time. Is there a possibility to circumvent this?

[2017-04-28 06:19] dpc opened #41599 "1.17.0 regression: loop mutable vs immutable alias."
https://github.com/dpc/mioco/blob/0a12aae802256468f30a43cde2689e8846176914/examples/http-server.rs#L47

This code compiles on 1.16.0, but errors on 1.17.0:

[code]

Reproduced and confirmed by another person on `#rust`. I'm working on minimizing, but since it's late, I might not be able to deliver today.

[2017-04-28 06:37] vadimcn commented on #39153
@hsivonen: I can understand that this may be annoying when debugging macro-heavy code (I am guessing you are referring to [this](https://github.com/hsivonen/encoding_rs/blob/master/src/macros.rs)?), but you've gotta agree that such code is pretty uncommon.

But non-macro cases never were a problem - step-over works just fine for plain functions.

That would be debugger-dependent and *everybody* wo

[2017-04-28 07:23] oli-obk commented on #40921
There's an [IRC meeting on the topic](https://internals.rust-lang.org/t/spitting-compiler-team-meetings-into-proactive-reactive/5116/3) on May 4th, 16:00 UTC-04:00 (21:00 CET)

[2017-04-28 07:27] #41549 closed

[2017-04-28 07:33] steveklabnik commented on #40973
@alexcrichton http://rubyinstaller.org/ is what people use to get Ruby on
Windows, but is ... "abandonware" is far too strong, but the main
maintainer dropped out a while back, and some people are keeping new
releases going, but not much else.

On Thu, Apr 27, 2017 at 11:29 PM, Alex Crichton <notifications@github.com>
wrote:

[2017-04-28 07:50] rpjohnst commented on #38584
@Shtuka That's what this issue is about. It should be fixed in a later version of Rust. For now, a slightly easier workaround than running `vcvars64.bat` is using the `x64 Native Tools Command Prompt for VS 2017` shortcut that gets installed with VS2017, which runs `vcvars64.bat` on startup.

[2017-04-28 08:39] ishitatsuyuki opened #41601 "Unifying workspaces for tools and others"
Compiling cargo is known to be slow as hell, and it would be better if we build less.

I'm proposing here to make a cargo workspace for all the stage2 tools. This way,

- If well configured, Cargo will only be built once (shared with RLS build artifacts)
- More parallelism since there's more crates to build at once and less likely to block on single big crate

Also, I'm not sure if it's possible,

[2017-04-28 09:51] hsivonen commented on #39153
Yes.

I filed a [bug to get `-Zdebug-macros` turned on in the Firefox build system](https://bugzilla.mozilla.org/show_bug.cgi?id=1360497).

Would giving the current default treatment only to macros from the standard library meet your goals?

[2017-04-28 09:53] mcarton commented on #40921
@oli-obk So 22:00 CE**S**T? I'm not sure if "4pm Boston time" includes some kind of summer time in it :sweat_smile:

[2017-04-28 10:17] michaelwoerister commented on #8641
Yes, what we are doing here is not really wrong (otherwise the issue would not have stayed unfixed for so long).
Did you look at the DWARF that various compilers generate? I can imagine that they omit this information because it's not used much and just takes up space.

[2017-04-28 10:31] michaelwoerister commented on #41215
I'm working under the assumption that a high-quality hash function will use all bits available.

A collision would result in some piece data not being detected as having changed. I would not talk about "threat model" though. Cache files are not meant to be distributed. An attacker would be better off just manipulating rlibs directly.

Nobody said it has to be written in Rust. But maintenance burde

[2017-04-28 10:31] ufoscout opened #41603 "Rustc version says "nightly" after updating to 1.17.0 stable"
Hi everyone,

After updating to rust 1.17, rustc says that it is a nightly version and the commit hash is not the same reported by rustup.
[code]
I have never installed a nightly build and the rustc version was correct before the update .

System info:
Ubuntu 16.04 64bit

[2017-04-28 10:34] oli-obk commented on #19004
I don't think we should change this.

1. There's an easy workaround when you actually want to borrow only a part of the struct.
2. I actually like this, because it makes me think about what I'm doing.

What should be done imo is to add a suggestion to the error that gives the solution of borrowing the field into a new binding and then using that binding inside the closure.

[2017-04-28 10:47] Diggsey commented on #19004
@oli-obk That's fine if you're only borrowing one field, but it's a fair amount of boilerplate when you're borrowing say, all but one of the fields in the struct. It also produces a larger closure than necessary, which could be the difference between having to allocate the closure on the heap, vs being able to store it inline, if anyone writes a `std::function` equivalent for rust.

[2017-04-28 10:49] ufoscout commented on #41603
Solved uninstalling and installing from scratch:
[code]
I don't know what happened before.

[2017-04-28 11:02] oli-obk commented on #19004
@Diggsey ah, so you are suggesting to store the pointer to the struct, but the borrowchecker will still forbid accessing already borrowed fields?

[2017-04-28 11:21] Diggsey commented on #19004
Yep :)

[2017-04-28 12:02] urschrei commented on #38281
@alexcrichton @michaelwoerister Could someone clarify how to fix this for stable builds?
I haven't defined `#![no_main]`or `#![no_std]` for my crate ([Cargo.toml](https://github.com/urschrei/polylabel-rs/blob/master/Cargo.toml)), but [linking fails on Windows using latest stable](https://ci.appveyor.com/project/urschrei/polylabel-rs/build/1.0.90/job/b5a9e56duawvtxks#L60).

[2017-04-28 12:13] TimNN commented on #40240
Again a broken pipe spawn :(

[code]

https://travis-ci.org/rust-lang/rust/jobs/226778218

[2017-04-28 12:22] GuillaumeGomez commented on #41603
Your default toolchain was certainly nightly. If you don't set it to another toolchain, even if you even the one you want, the selected toolchain will remain the same.

[2017-04-28 12:24] GuillaumeGomez commented on #41574
I can put it back if you want. Just waiting for @rust-lang/docs team confirmation.

[2017-04-28 12:58] frewsxcv commented on #41574
This might be a tools team question, less-so a docs team one.

[2017-04-28 13:10] nox opened #41604 "ICE when compiling image with ace517da0d1e356aa5b42f4cdee6854538591ef2"
[code]

Cc @eddyb

[2017-04-28 13:12] nox commented on #41604
Culprit is in https://github.com/rust-lang/rust/compare/b0a4074c5e87d24ff630f6aa456a64698bff3ed2...ace517da0d1e356aa5b42f4cdee6854538591ef2

[2017-04-28 13:32] nox commented on #41604
Cc @arielb1, I suspect https://github.com/rust-lang/rust/commit/a260df27e0be9a2dd154376ee65c4c5d107927c0.

[2017-04-28 14:13] qnighy commented on #41497
I think you can just put `;` after `include!(..)`. The `;` doesn't disturb parsing of the item therein.

The current behavior is that a macro invocation at the start of a statement is considered to be a macro statement if

- the macro invocation is preceded by `;`, or
- the macro invocation uses `{}` to enclose its arguments.

Otherwise the macro is considered to be a macro expression.

I suppose

[2017-04-28 14:15] qnighy commented on #40408
I'm going to close this issue, because #40589 fixed it.

[2017-04-28 14:15] #40408 closed

[2017-04-28 14:22] SimonSapin commented on #41497
Same error message with a semi-colon:

[code]

[2017-04-28 14:23] SimonSapin commented on #41497
Or curly braces:

[code]
[code]

[2017-04-28 14:32] qnighy commented on #41497
I was only checking the behavior for another macro. Now I know [what you mean](https://github.com/rust-lang/rust/blob/1.17.0/src/libsyntax/ext/source_util.rs#L100-L115). Sorry for bothering you.

[2017-04-28 14:42] nagisa opened #41606 "MIPS executables are not maximally portable"
Running on qemu with `-M malta -cpu 4Kc`, running `rustup-init` results in `run_utf8_validation`:

[code]

`-cpu 4KEc` does work.

[2017-04-28 14:43] tspiteri opened #41607 "rustdoc beta linking trouble in MinGW"
I have a crate `rugflo` which depends on a crate `gmp-mpfr-sys`. The `gmp-mpfr-sys` crate includes three C libraries that are compiled during crate compilation. One of the C libraries apparently makes use of `__emutls_get_address`, and the `rugflo` crate makes use of this library.

If I run

    cargo +beta test -p rugflo

the `#[test]` tests succeed, but the inline documentation tests fail. On st

[2017-04-28 15:06] nagisa commented on #41471
Can only reproduce on stable (meaning it should be fixed on master, already?):

[code]

[2017-04-28 15:24] wagenet commented on #40973
It may also be possible to just look at the C diffs in the Ruby source to get some insight, though I'm not sure how big the delta is. As for RubyInstaller, that is for the initial install, but after that you can use RVM to install new Rubies. Should be possible to get down to patch releases this way.

[2017-04-28 15:25] wagenet commented on #40973
Actually, I take that back about RVM. I thought I had tried it, but now remember that I never did.

[2017-04-28 15:40] kennytm commented on #41599
Reduced test case:

[code]

Changing the type of `_r` from `&'h mut [&'b u8]` to `&'h mut [&'b u8; 0]` causes 1.16.0 to emit error also. Is it possible this is in fact a soundness fix?

[2017-04-28 15:41] alexcrichton commented on #40240
Oh oops, the [fix in mio](https://github.com/carllerche/mio/commit/fe551aa8f80e796321177e542b74ff46b7f9552f) wasn't actually released until mio 0.6.7 came out on crates.io. I was using a local override previously but when I recently rebuilt sccache I used the crates.io version and forgot that.

To fix that we need to update sccache's Cargo.lock to pull in an updated mio, make new binaries, upload

[2017-04-28 15:44] Manishearth commented on #30197
@Wafflespeanut, want to help?

I'm a bit busy for the next few days.

[2017-04-28 15:45] alexcrichton commented on #40240
I've [updated sccache's mio](https://github.com/mozilla/sccache/commit/ef0d77543fdfef2e09df5fbdeb055a5a1eb8fe89), next step is binaries.

I'll be flying for the next ~20 hours and won't have the ability to do so until I land unfortunately :(

[2017-04-28 15:45] alexcrichton commented on #40240
oops didn't mean to close

[2017-04-28 15:53] xgalaxy commented on #38584
Hopefully this can get fixed in a 1.17.1 release instead of waiting for 1.18.

[2017-04-28 15:53] alexcrichton commented on #41607
cc @vadimcn @brson

I wonder if this is related to the pthread business on beta? Or maybe this is just related to updating the MinGW compiler we're bundling?

@tspiteri do you have MinGW and/or MSYS installed? Or do you know if you're using the bundled version of gcc that comes with Rust itself?

[2017-04-28 16:09] jrmuizel commented on #39672
This should be fixed now.

[2017-04-28 16:15] urschrei opened #41609 "Linker error due to undefined rust_begin_unwind when creating an importlib on Windows"
I'm generating an importlib using latest stable on Appveyor using [`-C target-cpu=native -C link-args=-Wl,--out-implib,polylabel.a`](https://ci.appveyor.com/project/urschrei/polylabel-rs/build/1.0.90/job/b5a9e56duawvtxks#L60), but switching from dylib to cdylib now causes a linker error, saying there's an undefined reference to `rust_begin_unwind`. The [crate](https://github.com/urschrei/polylabel

[2017-04-28 16:25] tspiteri commented on #41607
I have MinGW and MSYS installed from the msys2.org (msys2.github.io) page. That is needed to build the copies of the GNU libraries GMP, MPFR and MPC in gmp-mpfr-sys.

[2017-04-28 16:47] vadimcn commented on #41607
@tspiteri: what does `gcc --version -v` say?

[2017-04-28 17:05] tspiteri commented on #41607
The gcc version is
[code]

[2017-04-28 17:06] tspiteri commented on #41607
I've done some narrowing, and the problem is on nightly-2017-04-07-x86_64-pc-windows-gnu, but everything is fine on nightly-2017-04-06-x86_64-pc-windows-gnu. And the problem is only in the testing of inline docs. Other tests, as well as dependent  applications, all run fine.

[2017-04-28 17:24] beingalink opened #41610 "Compile problem with rust 1.17.0"
This is a folluw up to [this issue](https://github.com/nabijaczleweli/cargo-update/issues/27).

I was trying to cargo install `cargo-update` but it errors out when compiling `serde_derive`:
[code]
I'm on macOS 10.12.4 and Rust 1.17.0 installed with homebrew.

[2017-04-28 17:29] dpc commented on #41599
Where is the `*` coming from? Is `&mut self` really `*mut Self`?

[2017-04-28 17:40] QuietMisdreavus commented on #40116
Some elements I remember people being surprised at is how the types used when rustdoc renders function signatures, struct layouts, etc, are actually hyperlinks to the type itself, and how they have hover text to show the full path. (This comes in handy when disambiguating `result::Result` from `io::Result`, which is where this always comes up.) Other tips like the "collapse all" and "view source"

[2017-04-28 17:46] jmesmon commented on #41592
Related: do we actually need to emit the extra newlines between each line here? That definitely contributes to making this an eyesore.

[2017-04-28 18:09] cramertj commented on #41417
Many of these methods don't take `DefId` as an argument, but the `provide` macro at the top of `src/librustc_metadata/cstore_impl.rs` assumes that they do-- should I change the macro to allow specifying the input type, or is there another way you think I should provide those methods?

[2017-04-28 18:32] nikomatsakis commented on #41417
@cramertj good point. I'd prefer to change the macro, but I'm not sure how easy that would be to do. I guess you can leverage the `Key` trait (not public, but it could be -- and in fact on one of my upcoming branches I made it public) in the `maps` crate to extract the krate number from any kind of legal key.

[2017-04-28 18:52] nikomatsakis commented on #41471
@hsivonen, can you verify if this is fixed on a nightly build?

[2017-04-28 18:53] scottmcm commented on #41492
Passes on nightly (94e884b63 2017-04-27)

[2017-04-28 18:53] #41492 closed

[2017-04-28 19:16] nikomatsakis commented on #37653
@giannicic awesome!

[2017-04-28 20:11] nikomatsakis commented on #41255
We discussed this in the @rust-lang/lang team meeting. There was some disagreement about the best path forward, but we agreed that as a compromise we could start issuing **warnings** (**not** deny by default) for floating point literals, and see where that takes us. That was the RFC that we merged, after all.

[2017-04-28 20:13] nikomatsakis commented on #41255
Sorry, I didn't give many details from our discussion (which actually took quite some time). I don't think we really covered any new ground that's not already in this discussion thread, though.

[2017-04-28 20:15] nikomatsakis commented on #41414
We discussed in the @rust-lang/lang meeting, and I think the general feeling was that it is important to keep `catch { x }` and `fn main() { x }` as equivalent. *However,* we would like to support "auto-wrapping". One thought we had was that a useful coercion would be something like this:

- When propagating a value of type `T` "upward":
    - either as the tail expression in a catch block
    - o

[2017-04-28 20:31] alexcrichton commented on #41599
cc @rust-lang/compiler

[2017-04-28 20:44] djzin commented on #41599
Looks like it could be related to https://github.com/rust-lang/rust/pull/40319

[2017-04-28 20:53] eddyb commented on #41599
Yupp! This is #40319, which fixed the slice case - it had accidentally been allowed before.

[2017-04-28 20:53] djzin commented on #41599
Pretty sure it is that - this compiles and runs on rust 1.16, and is clearly unsound

[code]

[2017-04-28 20:55] nikomatsakis commented on #29205
I agree this is a bug. I think it falls under the general category of "failure to normalize" that I expect to basically go away as part of the "chalk overhaul".

[2017-04-28 20:55] nikomatsakis commented on #29205
triage: P-medium

[2017-04-28 20:55] eddyb commented on #41599
What's with the `1.17.1` in the title, btw? I can edit it but maybe it's intentional.

[2017-04-28 21:00] dpc commented on #41599
Sorry. Just a typo.

Anyway, I don't get it. `res` (line 58) holds immutable reference that is dropped at the end of loop scope, so why can't it be used on read (line 49)? Thanks for your help anyway!

[2017-04-28 21:07] eddyb commented on #41599
@dpc Well, the bug *was* found in `httparse`, see seanmonstar/httparse#34.
I believe the explanation is that `headers` *will actually contain pointers into `buf`*.

[2017-04-28 21:47] dpc commented on #41599
Oh, so the lifetime `'a` is spanning furhter than the loop itself... I see... Thanks.

[2017-04-28 21:48] dpc commented on #41599
So I guess all is well. Closing. :)

[2017-04-28 21:48] #41599 closed

[2017-04-28 22:18] rocallahan commented on #39672
Yes, this is fixed. Great!

[2017-04-28 22:18] #39672 closed

[2017-04-28 22:37] Mark-Simulacrum commented on #18146
Closing, please reopen if this is still an issue.

[2017-04-28 22:37] #18146 closed

[2017-04-28 22:37] Mark-Simulacrum commented on #23742
Closing, please reopen if this is still an issue.

[2017-04-28 22:37] #23742 closed

[2017-04-28 22:39] Mark-Simulacrum commented on #22892
If anyone can reproduce, please reopen. I haven't been able to reproduce since the original source doesn't quite compile--we should open another issue about incomplete compiles leaving files behind.

[2017-04-28 22:39] Mark-Simulacrum commented on #25204
Closing, please reopen if this is still an issue.

[2017-04-28 22:39] #25204 closed

[2017-04-28 22:47] jethrogb commented on #26648
Fixed in latest nightly: https://is.gd/Q3RvxB

[2017-04-28 22:47] Mark-Simulacrum commented on #19559
Closing. I think that the decisions that need to be made with regards to ambiguity make closing this for the time being the best option. It's unclear that there are any significant wins, especially since this feature would make it more confusing to see `T::U`: T could now be anything (struct, enum, union, or trait) and to find `U` you have to look through all of `T`'s impls, which seems unfortunat

[2017-04-28 22:47] #19559 closed

[2017-04-28 22:49] #26648 closed

[2017-04-28 22:59] jethrogb commented on #22892
Might be good to add a regression test?

[2017-04-28 23:08] Mark-Simulacrum commented on #22892
Hmm, yeah. I'll reopen and mark as E-needstest.

[2017-04-28 23:43] Mark-Simulacrum commented on #22871
Going to go ahead and give this a close. I'm not 100% sure, but as far as I can tell, with macOS 10.12.4, this works fine, and the r14b Android NDK. Please reopen if that's not the case.

[2017-04-28 23:46] #22871 closed

[2017-04-29 00:01] Mark-Simulacrum commented on #22942
I'm going to close as we've changed a lot since then, and this test works on a wide variety of platforms today.

[2017-04-29 00:01] #22942 closed

[2017-04-29 00:05] Mark-Simulacrum commented on #29562
I believe that Homebrew packages are somewhat-actively being maintained. At the very least, new releases are being added to brew.

[2017-04-29 00:05] #29562 closed

[2017-04-29 00:09] Mark-Simulacrum commented on #23360
I am closing this as an old issue with no actionable steps. If anyone can reproduce this issue, please reopen with concrete steps to reproduce. It seems the primary issue here is that `make install` didn't/doesn't work without sudo, which seems fine to me, since that's common across many programs AFAIK.

[2017-04-29 00:09] #23360 closed

[2017-04-29 00:27] Mark-Simulacrum commented on #20659
Disassembly below. I think this means this is fixed, since I don't see a `push %rax` at the top, but there is one towards the middle of the code, and the assembly on macOS and linux is basically the same. As such, I'm going to close this, but please do reopen if that's not the case.

[code]

[2017-04-29 00:27] #20659 closed

[2017-04-29 00:33] Mark-Simulacrum commented on #41078
Leaving the following issues open, since I don't think they're quite duplicates. The rest of the issues linked in the two comments above are about to be closed referencing this issue.

 - https://github.com/rust-lang/rust/issues/36582
 - https://github.com/rust-lang/rust/issues/22557
 - https://github.com/rust-lang/rust/issues/30786

[2017-04-29 00:33] Mark-Simulacrum commented on #32600
Closing in favor of https://github.com/rust-lang/rust/issues/41078.

[2017-04-29 00:33] #32600 closed

[2017-04-29 00:34] Mark-Simulacrum commented on #26937
Closing in favor of https://github.com/rust-lang/rust/issues/41078.

[2017-04-29 00:34] #26937 closed

[2017-04-29 00:34] Mark-Simulacrum commented on #24680
Closing in favor of https://github.com/rust-lang/rust/issues/41078.

[2017-04-29 00:34] #24680 closed

[2017-04-29 00:34] Mark-Simulacrum commented on #22791
Closing in favor of https://github.com/rust-lang/rust/issues/41078.

[2017-04-29 00:34] #22791 closed

[2017-04-29 00:34] Mark-Simulacrum commented on #34892
Closing in favor of https://github.com/rust-lang/rust/issues/41078.

[2017-04-29 00:34] #34892 closed

[2017-04-29 00:34] Mark-Simulacrum commented on #14037
Closing in favor of https://github.com/rust-lang/rust/issues/41078.

[2017-04-29 00:34] #14037 closed

[2017-04-29 01:18] Mark-Simulacrum commented on #30993
I think this is still an issue. The following command returns no output (and rustc-perf being https://github.com/rust-lang-nursery/rustc-perf). However, macros still report the wrong location (e.g., `..._decl_file [DW_FORM_data1]	("/home/mark/rustc-perf/<panic macros>")`). It's possible this is an indication of a problem specific to macros, or that the overall issue is still a problem, and I just

[2017-04-29 01:23] #39085 closed

[2017-04-29 01:25] Mark-Simulacrum commented on #25415
Cannot reproduce. The linked commit does not build due to lifetime errors, and as such this isn't really actionable. Closing.

[2017-04-29 01:25] #25415 closed

[2017-04-29 01:28] aturon opened #41615 "Tracking issue for RFC 1866: More readable assert_eq"
This is a tracking issue for the RFC "More readable assert_eq" (rust-lang/rfcs#1866).

**Steps:**

- [x] Implement the RFC (#42541)
- [ ] Adjust documentation ([see instructions on forge][doc-guide])
- [ ] Stabilization PR ([see instructions on forge][stabilization-guide])

[stabilization-guide]: https://forge.rust-lang.org/stabilization-guide.html
[doc-guide]: https://forge.rust-lang.org/stabiliz

[2017-04-29 01:38] aturon opened #41616 "Tracking issue for RFC 1824: Proposal for default crate recommendation ranking"
This is a tracking issue for the RFC 1824 (rust-lang/rfcs#1824).

**Steps:**

- [ ] Implement the RFC (cc @rust-lang/tools -- can anyone write up mentoring instructions if appropriate?)
- [ ] Adjust documentation ([see instructions on forge][doc-guide])

[doc-guide]: https://forge.rust-lang.org/stabilization-guide.html#updating-documentation

[2017-04-29 01:54] aturon commented on #41597
Hm, can you give a complete example with error? In particular, I'm not sure where this greedy unification is happening, or where you're seeing the error.

[2017-04-29 01:57] carols10cents commented on #41616
Should this be in rust-lang/rust or rust-lang/crates.io? I was planning on making a bunch of smaller issues in crates.io anyway, I'm fine leaving this open as a larger tracking issue if that makes sense, but I don't think there are any changes to rust-lang/rust to be made....

[2017-04-29 02:01] aturon commented on #41616
At the moment all RFCs are tracked here, regardless. Setting up a TODO list with links into issues on crates.io should do the trick.

[2017-04-29 02:01] withoutboats commented on #41597
Here's all the code from my post in one playpen, which shows the error: https://is.gd/Kem7r0

The error is:

[code]

I've discovered that this is method dispatch specifically, if I use the canonical name it compiles:

[code]

[2017-04-29 02:09] aturon commented on #41597
Heh, yikes. I suspect at this point it probably makes sense to wait until we've got specialization up and running in Chalk, and see the results there.

[2017-04-29 02:39] aturon commented on #29717
@alexcrichton and others: what is the level of urgency here? If we have a strong need to get this done, maybe we can have a synchronous meeting amongst stakeholders to hash out the details?

[2017-04-29 02:46] Mark-Simulacrum commented on #31034
No longer ICEs.

[code]

[2017-04-29 02:46] #31034 closed

[2017-04-29 02:47] dtolnay opened #41617 "Inference disrupted by trait bound that is redundant with a HRTB"
This compiles:

[code]

This following does not. It seems like the impl already has `T: for<'b> Trait<'b>` so adding `T: Trait<'a>` should not affect the behavior.

[code]

[code]

This currently affects the following and *many* people have run into it. The workaround is to remove the bound (https://github.com/Manishearth/rust-clippy/issues/1689).

[code]

[2017-04-29 02:49] Mark-Simulacrum commented on #30745
Closing as duplicate of #30046.

[2017-04-29 02:49] #30745 closed

[2017-04-29 02:57] dtolnay commented on #41610
This is #39870. The homebrew packaging for Rust is screwed up. Uninstall it with homebrew and reinstall it with https://rustup.rs/ to fix this.

[2017-04-29 03:07] Mark-Simulacrum commented on #31320
Is this still an issue today? I can't find `.bat` or `.psc?1` files in the Rust installers for `windows-{gnu,msvc}` cc @retep998

[2017-04-29 03:20] aturon opened #41619 "Tracking issue for RFC 1868: A portability lint"
This is a tracking issue for the RFC "A portability lint" (rust-lang/rfcs#1868).

**Steps:**

- [ ] Implement the RFC (cc @rust-lang/compiler -- can anyone write up mentoring instructions?)
- [ ] Adjust documentation ([see instructions on forge][doc-guide])
- [ ] Stabilization PR ([see instructions on forge][stabilization-guide])

[stabilization-guide]: https://forge.rust-lang.org/stabilization-gu

[2017-04-29 03:32] ishitatsuyuki commented on #41601
@alexcrichton I would appreciate some discussion here. By the way, the dream is blocked by rust-lang/cargo#3976.

BTW, I'm currently working on a local PoC.

[2017-04-29 04:11] japaric commented on #39915
@bstrie #40018 landed a few weeks ago. Since that landed one has been able to use `-Z linker-flavor=ld -C linker=ld.lld` to use an external LLD binary as a linker. Note that, unlike gcc, LLD doesn't know where the system libraries are so you'll have to pass the library search path to the linker using `-C link-args='-L ...'` if you are linking to any system library.

What LLVM 4.0 helps with is mer

[2017-04-29 04:22] whitequark commented on #39915
@japaric What are the arguments against embedding (sysroot-relative library) search paths, as well as things like `-lc -lpthread crt0.o`, directly into rustc? After all, *some* component of the toolchain has to embed them as we don't have any standard for the platforms to follow, and binutils is not a good golden source of this knowledge.

The only drawback I can think of is the situation where th

[2017-04-29 05:09] est31 opened #41620 "Tracking issue for `illegal_floating_point_literal_pattern` compatibility lint"
This is a tracking issue for the compatibility lint disallowing floating point literals in patterns.

The corresponding RFC is [RFC 1445](https://github.com/rust-lang/rfcs/pull/1445). Originally, #36890 was the only tracking issue for floats in patterns, but after it was found out that the implementation of that lint doesn't cover literals (issue  #41255), another lint and tracking issue were requ

[2017-04-29 05:49] djzin commented on #36694
Fixed by https://github.com/rust-lang/rust/pull/36876

[2017-04-29 05:49] #36694 closed

[2017-04-29 06:03] Wafflespeanut commented on #30197
@ConnorGray Now that this has turned into a tracking bug, a good idea would be to pick something more specific and start playing with the code. I usually start with a `git grep` for the error message, and backtrack from there. For example, invalid method calls (like `"".foo()`) always show something like,

    no method named `foo` for type ...

... and the error appears to emit from [here](https:

[2017-04-29 06:50] whitequark opened #41621 "#[deny(non_camel_case_types)] is too aggressive"
Specifically, there are snake_case names that cannot be converted into CamelCase (as interpreted by this lint) without losing semantics: anything that contains two numbers with a separator. E.g `foo_4_20` does not have a CamelCase equivalent that's accepted by the lint but is not confusable with the conversion result of `foo_420`.

Originally discovered in https://github.com/japaric/svd2rust/issue

[2017-04-29 07:11] RalfJung opened #41622 "MutexGuard<Cell<i32>> must not be Sync"
Right now, `MutexGuard<Cell<i32>>` satisfies the `Sync` bound. That is rather bad, because it lets me write a program that has a data race:
[code]
The `get` and `set` calls in the two threads are unsynchronized (as usual for a `Cell`), and they are racing. This is a soundness bug.

The cause for this is that `MutexGuard<T>` implements `Sync` whenever `T` implements `Send`, which is plain wrong. Th

[2017-04-29 07:39] RalfJung commented on #41622
Btw, this bug was found while trying to prove soundnes of (an idealized version of) `Mutex`. Yay for formal methods :D

Also, this hints at a more general problem: OIBITS for types with custom invariants ("unsafe types") are dangerous.

[2017-04-29 07:46] ishitatsuyuki commented on #41478
@nrc would you like to take a look?

[2017-04-29 07:49] colin-kiegel commented on #41615
* IMO `assert_ne` should also print multi-lines, but not show a diff
* Color support in the built-in `assert_eq!` would be awesome. :-)

small side-note: In case anyone wants to use this before it is stabilized, I just implemented multiline display in [`pretty_assertions (v0.2)`](https://docs.rs/pretty_assertions/0.2.0/) and it currently looks like this:

![pretty assertion](https://github.com/col

[2017-04-29 07:59] golddranks commented on #41615
Btw. red and green aren't maybe the best choices for colour coding, as the red-green colour blindness is the most common type of vision deficiency out there. (The coloured pieces would still stand out from the normal text if I understand red-green-colour blindness correctly, but not from each others.)

[2017-04-29 08:05] colin-kiegel commented on #41615
`git diff --word-diff` does the following by default
[code]

Where `[-duck-]` and `{+fox+}` are colored red/green if the terminal supports it. This is also readable without color support (or color blindness). However this might be ambiguous if the underlying text already contains such character sequences.

[2017-04-29 08:41] beingalink commented on #41610
Installing with rustup fixed it. Thank you!

[2017-04-29 08:41] #41610 closed

[2017-04-29 08:56] GuillaumeGomez commented on #41574
Let's make them join the issue then!

cc @rust-lang/tools

[2017-04-29 10:03] bluss commented on #23742
Trivial cast warnings are no longer enabled by default, so the issue is fixed that way.

[2017-04-29 10:29] RalfJung commented on #41622
To elaborate on this (from a formal proof perspective): To prove correctness of Send/Sync for an unsafe type (i.e., a type with its own invariant), I need to know exactly under which bounds the type is Send/Sync -- this defines the theorem I have to prove. However, if the type does not have an explicit impl for Send/Sync, I don't know how to even figure this out -- I would have to chase all types

[2017-04-29 11:31] whitequark opened #41626 "rustc marks .debug_gdb_scripts as ALLOC, LOAD"
To reproduce:
[code]
[code]
This is not a big deal on PCs, but somewhat more important on a microcontroller. On top of that, it produces extremely surprising messages when flashing the firmware via gdb (which is how I discovered it):
[code]
... and the debug script path potentially ends in the non-volatile storage, unnecessarily exposing information about the build environment.

[2017-04-29 11:31] whitequark commented on #41626
cc @japaric

[2017-04-29 11:35] #40240 closed

[2017-04-29 11:36] whitequark commented on #41626
Compare this to the output of clang translating a [GDB example](https://sourceware.org/gdb/onlinedocs/gdb/dotdebug_005fgdb_005fscripts-section.html):
[code]
[code]
[code]

[2017-04-29 12:00] whitequark opened #41628 "dead code lint considers #[used] items unused"
To reproduce (a more realistic example would use `#[link_section]`):
[code]
[code]

[2017-04-29 12:55] est31 commented on #40289
cc #41628

[2017-04-29 12:59] Mark-Simulacrum commented on #15513
The below compiles, so at least basically, this does work. I'm uncertain if the code I came up with is what the author wants, but due to the age of this request and the lack of a code sample within the request, I will close this. Please reopen with a code sample that fails to work (or indicate why mine doesn't) if necessary.

[code]

[2017-04-29 12:59] #15513 closed

[2017-04-29 13:01] Mark-Simulacrum commented on #17027
Should this be closed in favor of the RFC issue: https://github.com/rust-lang/rfcs/issues/1397?

[2017-04-29 13:07] Mark-Simulacrum commented on #40546
This is, unfortunately, still a problem. See https://github.com/rust-lang/rust/pull/41580#issuecomment-298167916.

[2017-04-29 13:10] Mark-Simulacrum commented on #40546
Possibly a false alarm. #41580 is targeting the beta branch, which presumably does not have the fix for this failure, in which case it's "normal" for it to fail spuriously. Will leave open for someone to confirm, though.

[2017-04-29 13:22] Mark-Simulacrum commented on #13760
Is this a backwards compatible change? Technically, it's likely that people rely on the current behavior, though it isn't quite ideal.

[2017-04-29 13:28] Mark-Simulacrum commented on #15188
This now provides a proper, if very long, error message:
[code]

[2017-04-29 13:28] #15188 closed

[2017-04-29 13:32] Mark-Simulacrum commented on #16420
Closing. `pretty=hygiene` is apparently no longer a thing, and the output looks sufficiently different with `pretty=expanded,identified` that I don't think it's the same.

[2017-04-29 13:45] malbarbo opened #41630 "Fail to build compiler-builtins for target x86_64-pc-windows-gnu"
[code]

Works with nightly-2017-04-25 (llvm 3.9)

[code]

Fails with nightly-2017-04-26 (llvm 4.0)

[code]

[2017-04-29 13:47] jrmuizel opened #41631 "Arithmetic not folded"
The following program:

[code]

Compiles to:

[code]

Ideally all of the addq -4 would be folded together. I suspect that either rust is emitting the wrong aliasing info or llvm is not properly dealing with the information.

[2017-04-29 13:50] Mark-Simulacrum commented on #31373
This compiles and runs successfully. Presumably, that's what this issue wanted, though it wasn't very clear. Closing.

[2017-04-29 13:50] #31373 closed

[2017-04-29 14:27] carols10cents commented on #41574
I've updated the title to better reflect what I think this request is, please correct it if I've misunderstood.

Many doc tests are small and would have warnings for unused variables, etc. I wouldn't want to see these by default, but I'd be ok with a flag to turn on just output of doc test warnings. I don't think I'd use it, but I wouldn't mind it being there.

Is there any way to get a sense of h

[2017-04-29 14:32] nagisa commented on #41443
I can reproduce this one. Will attempt to reduce.

[2017-04-29 14:32] leonardo-m commented on #27741
To replace bad looking and not-DRY code like this:

[code]

Is it possible and a good idea to use step_by() on an interval of floating point values too?

`for deg in (-90.0 .. 90.0).step_by(2.5) {}`

[2017-04-29 14:38] Mark-Simulacrum commented on #31393
Do we want to make the change suggested above and check the `CFG_VER_HASH` instead of `CFG_VERSION`? If so, this seems like an `E-easy` issue; @alexcrichton what do you think?

[2017-04-29 14:40] Mark-Simulacrum commented on #16502
Based on discussion above, this is a breaking change, so should be tagged with rust-2-breakage-wishlist, correct?

[2017-04-29 14:41] nagisa commented on #41443
A proper backtrace

[code]

[2017-04-29 14:50] Alex-PK commented on #27741
@leonardo-m  The problem with that is the reason this issue is open. :)

See the implementation by @jbaum98 for a generator for your case.

I agree that some syntactic sugar would be good to have in the language for it, but it should not be step_by(), as it would lead to confusion.

I am not sure what that sugar could be, to be honest.
Maybe `(n..m , s)` but this could look like a tuple with a ran

[2017-04-29 15:01] Mark-Simulacrum commented on #7540
Closing. With rustbuild, it seems this issue is fixed.

[code]

[2017-04-29 15:01] #7540 closed

[2017-04-29 15:03] leonardo-m commented on #27741
Syntax sugar is sometimes nice, but in this case a Prelude or standard library that allows me to write it like this is enough:

[code]

[2017-04-29 15:18] #41474 closed

[2017-04-29 15:27] achernyak commented on #41417
@cramertj in the short term, I think most of these can be handled but using a tuple like `const_eval_dep_node` does, or by pulling the needed information off the `TyCtxt` itself. For example, for `def_span` the `Session` is available on `TyCtxt` and that's actually how it was passed in `&tcx.sess`.

Also `CrateNumber`, which is the other major one, is supported by the query already i.e. `typecheck

[2017-04-29 15:29] shepmaster commented on #27741
There's also the possibility of accumulating floating point error through repeated addition, depending on the specific values chosen. Only you can tell if those errors are acceptable for your case. Were I writing the code, I'd probably do some precomputation and then iterate over integers, converting to floating point repeatedly:

[code]

Sadly, it's not quite as readable.

[2017-04-29 15:32] sunjay commented on #27741
@shepmaster couldn't that be how it's implemented under the hood for floats?

[2017-04-29 15:34] Mark-Simulacrum commented on #31458
Using [cross](https://github.com/japaric/cross), this works on `mips64el-unknown-linux-gnuabi64` and `mipsel-unknown-linux-gnu`. I'm going to close, if you can reproduce with more details, please do so -- and reopen.

[2017-04-29 15:34] #31458 closed

[2017-04-29 15:38] Mark-Simulacrum commented on #31476
No longer ICEs.
[code]

[2017-04-29 15:38] #31476 closed

[2017-04-29 15:43] nagisa commented on #41443
Regression range:

last known good nightly-2017-03-31 (5c94997b6 2017-03-30) first known bad 04-01 (40feadb96 2017-03-31)

[2017-04-29 15:53] shepmaster commented on #27741
I'm not certain, but I don't believe so. That first example nicely divides into integers. A theoretical -10.0 to 10.0 with increments of 3.14 would not. This ends up "losing" the last value in my theoretical algorithm:

[code]

[2017-04-29 15:55] leonardo-m commented on #27741
See also how others do it:
https://docs.scipy.org/doc/numpy/reference/generated/numpy.linspace.html

[2017-04-29 15:59] alexcrichton commented on #40546
@Mark-Simulacrum ah yeah I think we're ok, https://github.com/rust-lang/rust/pull/41420, the fix, is only on master not on beta

[2017-04-29 15:59] #40546 closed

[2017-04-29 16:02] Mark-Simulacrum commented on #18761
The new error can be reproduced with the following, which is a valid error. Closing.

[code]

[2017-04-29 16:02] #18761 closed

[2017-04-29 16:04] Mark-Simulacrum commented on #18864
Closing. No reply and no code sample to reproduce. Please reopen if this is still reproducible with a set of steps to do so.

[2017-04-29 16:04] #18864 closed

[2017-04-29 16:13] hsivonen commented on #41471
rustc 1.18.0-nightly (128aa262e 2017-04-28) no longer exhibits this bug. Thanks!

[2017-04-29 16:13] #41471 closed

[2017-04-29 16:15] Mark-Simulacrum commented on #18712
This bug is still present. Updated title to correspond to the fact that statics can reference thread locals, but they shouldn't be able to.

[2017-04-29 16:42] jimblandy opened #41633 "Reference and Nomicon don't mention that dereferencing an unaligned pointer is UB"
The Nomicon and the Reference don't say that dereferencing a misaligned pointer is undefined behavior, but I certainly would expect it to be. Checked with @gankro on IRC and he agreed.

To verify, I compiled the following:
[code]

This produces LLVM IR containing the following code for the call:

[code]

The `align 4` in the `load` instruction indicates that LLVM should assume that the pointer is

[2017-04-29 16:45] Mark-Simulacrum commented on #18961
I don't think this is actually a bug. I minimized the code, and `qux` borrows the struct for its entire lifetime, so it is logical that you cannot call it twice; if we remove the `'a` annotation on `qux's &mut self`, then everything compiles just fine--as expected.

I'm going to close this, but please do reopen if it's actually a bug, and if possible provide at least a quick explanation as to why.

[2017-04-29 16:45] #18961 closed

[2017-04-29 16:46] rminderhoud commented on #41078
I wanted to re-include and extend @shepmaster's example from #26937 as it includes an example (with potential work-around?) for those running into the issue using closures:

Namely that including the closure directly into the call of the function vs. binding it avoids the problem entirely and using type annotations can sometimes avoid the problem. Hopefully this is insightful for those more experi

[2017-04-29 16:48] Mark-Simulacrum commented on #14648
Closing. It seems that this is fixed, and it's not clear what needs to be done here if it isn't; please reopen with expected output if this isn't actually fixed.

Output from today shows:
[code]

[2017-04-29 16:48] #14648 closed

[2017-04-29 17:10] Eh2406 commented on #41589
Works with the new nightlies, so guess you got it perfect! Thanks!

[2017-04-29 17:10] #41589 closed

[2017-04-29 17:14] alexcrichton commented on #41601
I don't really understand what the issue here is about, but faster builds are faster builds!

[2017-04-29 17:28] alexcrichton commented on #29717
Empirically this seems not urgent. My motivation transitively stems from https://github.com/rust-lang/rust/issues/37406 which I believe is important for a solid MSVC experience. It may be best to just completely decouple that from this.

[2017-04-29 17:29] Mark-Simulacrum commented on #31617
Both functions currently do not compile with the same mismatched types error. Since there's no longer a difference between the two, I'm going to assume that means this is fixed -- "typeck has an different notion of reachability from liveness" is no longer true, at least based on the code above.

Please reopen with an explanation and/or a code example which displays the difference if this is still

[2017-04-29 17:29] #31617 closed

[2017-04-29 17:39] alexcrichton commented on #41574
The standard library handles this by [denying all warnings](https://github.com/rust-lang/rust/blob/e326e86b47edcded3313944a81f126a633032d86/src/libstd/lib.rs#L221-L222), but it seems reasonable to have a flag. I don't think we can change the default behavior.

[2017-04-29 17:48] Mark-Simulacrum commented on #31553
Test case for future visits:

[code]

[code]

[2017-04-29 18:02] alexcrichton commented on #31393
Sounds reasonable!

[2017-04-29 18:12] Mark-Simulacrum commented on #31521
Closing. I don't think we've seen this for a while (at least not on Travis/AppVeyor). Please reopen if you see this issue. I'm unable to reproduce locally based on ~1000 runs of this test.

[2017-04-29 18:12] #31521 closed

[2017-04-29 18:22] hsivonen commented on #41443
Not specific to PPC64. I'm seeing this also on 32-bit big-endian MIPS (also in qemu) using revision `a40401d02b3eff46c63fce0a3e81a34580a1334e` of encoding_rs and rustc 1.18.0-nightly (128aa262e 2017-04-28):

[code]

[2017-04-29 18:33] nagisa commented on #41471
Awesome!

[2017-04-29 18:41] alexcrichton commented on #38281
@urschrei you may be running into https://github.com/rust-lang/rust/issues/18807, can you test the [workaround mentioned](https://github.com/rust-lang/rust/issues/18807#issuecomment-102177511)?

[2017-04-29 18:54] lorenzoi opened #41635 "`rustc --version` displays incorrect version"
When you write `rustc --version` in your terminal you should receive `rustc 1.18.0-nightly (128aa262e 2017-04-28)`

Just me pointing things out...

[2017-04-29 18:59] durka commented on #41635
What's the issue here?

[2017-04-29 19:05] urschrei commented on #38281
@alexcrichton Just adding a [spare function](https://github.com/urschrei/polylabel-rs/blob/master/src/ffi.rs#L11-L12) still [fails](https://ci.appveyor.com/project/urschrei/polylabel-rs/build/1.0.92/job/oejxo1k94lkec830#L60) with the same error. I assume adding it to `lib.rs` instead of `ffi.rs` doesn't matter (Also I opened https://github.com/rust-lang/rust/issues/41609, but lmk if it's a duplica

[2017-04-29 19:27] nagisa commented on #41443
cc @michaelwoerister you sure your `from_le` in https://github.com/rust-lang/rust/pull/40518 are okay?

[2017-04-29 19:48] est31 commented on #41635
The bump of the nightly compiler version doesn't happen immediately when the new stable gets released, but in a separate PR for the bump to 1.19 its #41544.

[2017-04-29 19:54] urschrei commented on #38281
Oops, turns out it *does* have to be in `lib.rs`. Link step passes now.

[2017-04-29 20:31] TyOverby commented on #41604
I think I'm hitting this too, but with a different stack trace:

[code]

[2017-04-29 20:56] ivandardi commented on #27741
Yeah, `linspace` is the way to go for that problem.

[code]

But there's crates that offer this already. I don't know if it would be a good idea to bring it into Rust core, especially when there's so many different ways to implement it.

The idea here is to make `step_by` general for any `Iterator`, which means it can only accept `usize`s as the step, especially because a 1.5 step isn't defined fo

[2017-04-29 21:01] leonardo-m commented on #27741
Stepping on floating point interval isn't a very common operation in Rust. But I have had to do it in Rust. I think it's basic enough, and having multiple ways to do it is one of the reasons to have a standard common way to do it.

I agree that a function like fpinterval() is a topic different from the step_by.

[2017-04-29 21:57] ozkriff commented on #41478
+1

This stops me from using https://github.com/editor-rs/vscode-rust for ZoC's development:

![image](https://cloud.githubusercontent.com/assets/662976/25559294/c12c3c12-2d3f-11e7-80d2-0c78c81a5709.png)

[2017-04-29 22:23] leonardo-m opened #41638 "Compare tiny fixed-size arrays/strings without memcmp"
This is a performance enhancement request. This little benchmark program tests some strings equality:

[code]

Compiling it with rustc 1.18.0-nightly (128aa262e 2017-04-28) with:
-C opt-level=3 -C target-cpu=native

It gives the asm (note the callq memcmp):

[code]

If I test the strings equality manually:

[code]

The generated asm is (the asm is shorter with -O, but the binary is equally fast):

[2017-04-29 22:37] leoschwarz commented on #37903
This might break backward compatibility (if docs are also to be covered by that guarantee) since people might have used `$`s in their docs already not intending them to be replaced. Also if there is no variable found should it just leave the `$word` unchanged there or should a warning or error be emitted?

This feature probably requires a RFC. This discussion might be relevant: https://github.com/

[2017-04-29 23:14] bobtwinkles commented on #41604
I'm also seeing this, compiling `image-0.13.0` from crates.io

[2017-04-30 00:49] TyOverby commented on #41604
^ mine was compiling image 0.13.0 as well.

[2017-04-30 02:08] codewiz opened #41642 "rustc 1.19.0-nightly panics while compiling crate image 0.13.0"
Version: `rustc 1.19.0-nightly (afa1240e5 2017-04-29)`

Works with rustc 1.17 and also worked with nightly on 2017-04-22.

Full stack trace:
[code]

If needed I can try to reduce this to a minimal testcase.

[2017-04-30 02:20] sfackler commented on #41642
Duplicate of #41604

[2017-04-30 02:20] #41642 closed

[2017-04-30 07:12] leonardo-m commented on #41638
The Python2 script I've used to generate the input test file:

[code]

[2017-04-30 07:12] Keruspe opened #41644 "Support configuring more installation directories"
Currently we can specify basic installation directories such as `docdir` `libdir` and such.

At exherbo, eveything arch-related go inside `/usr/<arch>` and everything not arch-related goes directly nside `/usr`.
Setting prefix to `/usr/<arch>` and then `docdir` to `/usr/share/doc` makes it mostly work, but cargo installs its completion inside `/usr/<arch>/etc/` and `/usr/<arch>/share` which we don

[2017-04-30 07:29] steveklabnik commented on #41635
Yes, there's some delay here, but https://github.com/rust-lang/rust/pull/41544 should fix it.

Thank you @lorenzoi !

[2017-04-30 07:29] #41635 closed

[2017-04-30 07:30] steveklabnik commented on #41633
We now have https://github.com/rust-lang-nursery/reference and https://github.com/rust-lang-nursery/nomicon, would you mind filing this at both of them please? Sorry about that!

(I guess duplication is the proper thing here, but this is now the wrong repo for sure)

[2017-04-30 07:30] #41633 closed

[2017-04-30 07:46] #41628 closed

[2017-04-30 07:47] #41234 closed

[2017-04-30 07:47] #41259 closed

[2017-04-30 08:56] andrewufrank opened #41645 "ARM installation"
the automatic installation on an ARM computer (actually Odroid XU4 running debian jessie with xfce) lacks three files:
    apt-get install llvm gcc build-essentials
the error message was ' could not exec the linker cc' and `linking with cc`.
could this be automated or at least an error message generated?
now hello world and cargo works.

[2017-04-30 09:01] Manishearth opened #41646 "Add alias 'nonstandard_style' for 'bad_style'"
@ashleygwilliams mentioned this in her talk today; `#[allow(bad_style)]` is a rather rebuke-y shame-y annotation on code.

While we do want people to use proper style, it's a useful tool whilst learning to be able to turn off all the _extra_ friction that you deal with that you don't have to. Let's be nicer about it; could we rename this to `nonstandard_style` and keep `bad_style` as a backcompat

[2017-04-30 09:05] Manishearth commented on #41646
(Actual name of alias very bikesheddable, I just picked the first thing that came to mind.)

[2017-04-30 09:06] skade commented on #41646
Bikeshed: "relaxed_style" sounds good.

[2017-04-30 09:06] leonardo-m commented on #41646
"bad_style" sounds better than "nonstandard_style" because "nonstandard" sounds un-opinionated. The point of a "bad_style" annotation is to help people feel guilty.

[2017-04-30 09:07] Manishearth commented on #41646
Right, I'm questioning if that's a good thing. Do we need to? Even nonstandard_style (or in general, any warning-allow) does make you feel guilty, bad_style is just very much like a shaming and feels bad.

[2017-04-30 09:09] mgattozzi commented on #41646
Her talk was great. I think using something like relaxed_style or permissive_style would be a better choice then bad_style

[2017-04-30 09:30] tumdum commented on #41646
I think that 'any_style' is short and is not passive aggressive at all :)

[2017-04-30 09:32] michaelwoerister commented on #41443
@nagisa It certainly looks like a hot candidate! @eddyb, the `words_to_bytes` function doesn't seem to do any endianness conversion, but reading from those bytes again does. Is there any deeper reason why it is that way? Otherwise that's probably the bug.

[2017-04-30 09:36] arielb1 commented on #41443
@nagisa

Alignment trouble?

[2017-04-30 09:39] kennytm commented on #41604
The error manifests only when the `webp` feature of `image` is enabled. In particular it is the `webp::vp8` module causing the ICE.

[2017-04-30 09:43] eddyb commented on #41443
@michaelwoerister The endianness conversion [is done ahead of time](https://github.com/rust-lang/rust/blob/78f63181360269981085795b7feb0f4b6591f52f/src/librustc_metadata/index.rs#L54), to avoid having the byte <-> words conversion functions do any work.

[2017-04-30 10:19] arielb1 commented on #41604
I'm on it

[2017-04-30 11:16] steveklabnik commented on #41646
marking as both @rust-lang/compiler and @rust-lang/lang ; not sure who this falls under, really. Also nominating for discussion; I'm not sure if this requires an RFC or not.

[2017-04-30 11:24] steveklabnik commented on #28970
Triage: no change, still reproduces

[2017-04-30 11:35] nagisa opened #41647 "rustbuild: "cannot find required command `python`" when specifically invoked with `python3`"

[2017-04-30 11:35] DenisKolodin opened #41648 "Type can't be leaked out back from inner module"
It's impossible to compile this code:
[code]

[code]

But actually nothing leaking outside.

[2017-04-30 11:36] nagisa opened #41649 "rustbuild: "cannot find required executable `c++`" when `gcc -xc++` works fine"

[2017-04-30 11:37] retep998 commented on #41646
As one of the heaviest users of `bad_style` (https://github.com/retep998/winapi-rs/blob/dev/src/lib.rs#L8), I'd like to voice my lack of opinion on this matter.

[2017-04-30 11:41] kennytm commented on #41638
Reduced test case.

[code]

Produces

[code]

----

Note that if the array length is 4 the `memcmp` does disappear:

[code]

[code]

`memcmp` is eliminated when the length is **1**, **2**, **4** or **8**.

----

The equivalent program in C

[code]

Also keeps the `memcmp` in clang 4

[code]

but is removed in gcc 7 (gcc 6 still contains the call to `memcmp`)

[code]

I think the improvement should

[2017-04-30 12:12] leonardo-m commented on #41638
OK, so do you suggest me to close this issue down?

[2017-04-30 12:45] bjorn3 opened #41650 "wrong `help: try parenthesizing the first index`"
Code:
[code]

Output:
[code]

Expected:
[code]

[2017-04-30 13:01] GuillaumeGomez commented on #41574
Ok, so I think we can consider this as acceptable. I'll add the flag.

[2017-04-30 13:30] whitequark commented on #41626
Closing as per discussion in https://github.com/rust-lang/rust/pull/41627#discussion_r114075358.

[2017-04-30 13:30] #41626 closed

[2017-04-30 13:50] ashleygwilliams commented on #41646
i have no opinion on what we alias it as, but i would be very interested in an alias that is less shame-y. i am also very happy to implement once we decide what a good alias is!

[2017-04-30 14:13] caedn commented on #27189
At least on macOS with zsh I do lose the color with `cargo run --color=always 2>&1|head -n20`. At least for everything that was stderr and is being redirected to stdout. Same with bash.

I also tried the zsh exclusive `cargo run --color=always |& head -n20`, with the same results.

I really hope we'll get a `--limit-errors=n` flag. Using `head` also stops the output mid error message (depending on

[2017-04-30 14:28] messense opened #41652 "rustc panicked at byte index 4 is out of bounds of"
I tried this code:

https://github.com/sozu-proxy/sozu/pull/173

`rustc --version --verbose`:

[code]

Backtrace:

[code]

[2017-04-30 14:39] pjmlp commented on #31320
Not sure now that rustup is being used as the main installation.

This was more a kind of heads up related to Windows devs expectations.

Am 29.04.2017 5:07 Vorm. schrieb "Mark Simulacrum" <notifications@github.com

[2017-04-30 15:00] achernyak commented on #41417
`fn visibility(&self, def: DefId) -> ty::Visibility;` is used in resolve. In case you want to mark it to keep track.

[2017-04-30 15:09] sgrif commented on #38864
The RFC still isn't fully implemented. In particular, this example from the RFC text still fails to compile:

[code]

[2017-04-30 16:12] #41604 closed

[2017-04-30 16:29] cesarb opened #41654 "make install for multiple targets fails with install.sh not found"
When configured for multiple targets (`--target=x86_64-unknown-linux-gnu,i686-unknown-linux-gnu,...`), `make install` exits with a file not found error while trying to install the std component for a target different from the host. Apparently, the `dist` step, which should create the `install.sh` file, is not being run for the other targets.

I'm compiling c0f86f5927377426fbaf72b17c87a6a7291406cb

[2017-04-30 16:48] durka commented on #41650
Fixed by https://github.com/rust-lang/rust/pull/41087.

[2017-04-30 17:04] #41650 closed

[2017-04-30 17:13] phaylon opened #41655 "std::str::SplitWhitespace does not implement Clone"
It seems currently impossible to iterate over a `&str` split by whitespace multiple times, due to `Clone` not being available in any solution.

Given the code
[code]
I get the following error
[code]
Other workarounds (`"foo bar".split(char::is_whitespace)` and `"foo bar".split(|c: char| c.is_whitespace())` also run into `Clone` issues.

[2017-04-30 17:35] rkruppe commented on #40470
@est31 RFC 1105 laid out that [adding inherent methods is a minor change](https://github.com/rust-lang/rfcs/blob/master/text/1105-api-evolution.md#minor-change-adding-any-inherent-items) so it's up to the team(s) to decide whether we're okay with the practical impact of the change.

[2017-04-30 17:45] eddyb commented on #38864
@sgrif What's the error?

[2017-04-30 17:52] rkruppe commented on #27812
So I've been thinking about this issue, because it blocks a PR of mine. @eddyb suggested a -Z flag. This does sound good, except we'd want this mechanism perma-unstable and we don't even fully enforce stability of compiler flags yet. So how about this: Add `-Z rustc-private-hack` (straw name, but it's intentionally unappealing) which is equivalent to adding `#![unstable(feature = "rustc_private",

[2017-04-30 17:52] Mark-Simulacrum commented on #38864
https://is.gd/amqdSq:

[code]

[code]

[2017-04-30 18:36] frewsxcv commented on #41603
It looks like you had rustc 1.17.0 nightly installed in addition to rustc 1.17.0 stable installed. Specifically, you were on the nightly toolchain and did `rustup update stable` which doesn't change toolchains. You'd need to run `rustup default stable` to switch to stable.

[2017-04-30 18:52] frewsxcv commented on #41351
Done in https://github.com/rust-lang/rust/pull/41449.

[2017-04-30 18:52] #41351 closed

[2017-04-30 18:54] frewsxcv commented on #10178
Triage: no change.

[2017-04-30 19:10] Mark-Simulacrum commented on #15102
As far as I can tell, the only remaining problem is that dead_code warns on fields that are used through transmute. However, `#[repr(C)]` fixes that; and using transmute without `#[repr(C)]` is a Bad Idea. Closing. Please reopen if I missed something.

[2017-04-30 19:10] #15102 closed

[2017-04-30 19:17] DarwinSenior opened #41658 "Compiling failed: could not compile image"
I created a new project with 'cargo'
And here is the configuration
[code]

And I met with the following error when running `cargo install`.

[code]

[2017-04-30 19:19] Mark-Simulacrum commented on #26918
This is effectively a duplicate of #5665.

[2017-04-30 19:19] #26918 closed

[2017-04-30 19:20] Mark-Simulacrum commented on #41658
This is a duplicate of #41604.

[2017-04-30 19:20] #41658 closed

[2017-04-30 19:23] Mark-Simulacrum commented on #31823
Checked with `rustc 1.18.0-nightly (036983201 2017-04-26)`. Cannot reproduce, though had to remove clippy due to dependency on rustc_front, which no longer exists... closing.

[2017-04-30 19:23] #31823 closed

[2017-04-30 19:32] Mark-Simulacrum commented on #31723
Closing in favor of #21114. Please reopen if that's incorrect, but from what I can tell this is a duplicate of that issue.

[2017-04-30 19:32] #31723 closed

[2017-04-30 19:32] Mark-Simulacrum commented on #37407
Closing in favor of #21114. Please reopen if that's incorrect, but from what I can tell this is a duplicate of that issue.

[2017-04-30 19:32] #37407 closed

[2017-04-30 19:36] eddyb commented on #38864
Ah that's not part of the actual syntactical support (which works!), but rather the trait system.
You can reproduce by expanding `Self::AssocType` to `<SomeType as SomeTrait>::AssocType`.
This looks like it was overlooked in the RFC, and I'd suggest opening a separate issue.
I suppose we can keep this one open and depend on that issue but they're unrelated IMO.
cc @rust-lang/lang

[2017-04-30 19:39] eddyb commented on #27812
I meant to look into it, and unless something else comes up, I'll try tomorrow.
IMO it should be `-Z force-unstable=rustc_private`.

[2017-04-30 19:44] Mark-Simulacrum commented on #14969
From [RFC 501](https://github.com/rust-lang/rfcs/blob/master/text/0501-consistent_no_prelude_attributes.md):

Once https://github.com/rust-lang/rust/issues/20561 is implemented, this will no longer be an issue, since the `#![no_prelude]` attribute will apply only to the current module. As such, this isn't tracking anything more than that is, so I'm going to close this out.

[2017-04-30 19:44] #14969 closed

[2017-04-30 19:47] Mark-Simulacrum commented on #31788
This has been fixed.

Current error and code:

[code]

[code]

[2017-04-30 19:47] #31788 closed

[2017-04-30 19:50] Mark-Simulacrum commented on #39796
This is a duplicate of #15890.

[2017-04-30 19:50] #39796 closed

[2017-04-30 19:55] Mark-Simulacrum commented on #39741
This issue is currently not actionable, so I'm going to close. If we get a backtrace, we'll reopen. Thanks!

[2017-04-30 19:55] frewsxcv opened #41660 "nightly-2017-04-30 ICE regression - thread 'rustc' panicked at 'assertion failed: !unsize'"
https://github.com/PistonDevelopers/image currently doesn't compile. trying to minimize right now.

[2017-04-30 19:57] est31 commented on #41660
Dupe of  #41604, fixed by #41651

[2017-04-30 19:57] Mark-Simulacrum commented on #41660
Thanks! This is a duplicate of #41604.

[2017-04-30 19:57] #41660 closed

[2017-04-30 20:02] kennytm commented on #41652
Reduced test case:

Crate `a`:

[code]

Crate `b`:

[code]

Output:

[code]

---

Rust stable (1.17.0) doesn't ICE, but produces a span that refers to no source code.

[code]

----

(BTW your code is wrong anyway, there are [no `Deserializer::deserialize` methods](https://docs.rs/serde/1.0.2/serde/trait.Deserializer.html) in serde 1.0)

[2017-04-30 20:03] cuviper commented on #39796
Aha, that's the bug I was trying to remember, and I'd even commented on it! :)

[2017-04-30 20:21] ConnorGray commented on #30197
@Wafflespeanut thanks for the nice workflow example. Excuse my ignorance, but what's the significance of tracking vs non-tracking bug?

I've been working my way down through the code. These are sort of notes for myself, but also can give you an idea of the direction I'm going, in case I'm looking at this wrong. The source for all the method suggestions is a [carried early return](https://dxr.mozil

[2017-04-30 20:40] Mark-Simulacrum commented on #32019
I'm going to close this issue as a duplicate of https://github.com/rust-lang/rust/issues/13745, which tracks a number of tests which are currently ignored. It doesn't seem all that useful to track them separately, but let me know (and reopen) if we don't want this.

[2017-04-30 20:40] #32019 closed

[2017-04-30 22:23] abonander opened #41663 "Improve diagnostics for parse errors in proc macro output"
Currently we make no real effort to inform users of parse errors in procedural macro output: https://github.com/rust-lang/rust/blob/9c15de4fd59bee290848b5443c7e194fd5afb02c/src/libsyntax_ext/deriving/custom.rs#L105

People are stumbling on this in the wild: https://www.reddit.com/r/rust/comments/689ogb/how_to_debug_procmacro_derive_produced/

CC @nrc @jseyfried

I have some ideas on how to move fo

[2017-04-30 22:57] achernyak commented on #41417
@nikomatsakis I was just looking at `visible_parent_map` and has a fairly substantial implementation inside the `cstore::CStore`. Moving that into a provider would require modifying the `CrateStore` trait to expose new methods. Is this something we want to take on as part of this PR?

[2017-04-30 22:58] Mark-Simulacrum commented on #14962
I'm seeing the following. All (compilable) asserts pass. The unused_assignments lint appears incorrect though. I've included some annotated code samples below drawn from the original issue which still represent incorrect behavior. Those that appear to have been fixed are no longer included.

As far as I can tell, we do now correctly detect when reading undefined memory -- so there has been progres

[2017-04-30 22:59] Andriy06 opened #41664 "Invalid linker command line: double LIBPATH arg"
I installed Rust on Windows 10 machine by rustup-init.exe - the method recommended in Rust Book. The installer told me that Rust needs C-runtime of VS2013 or newer. I have VS2017 installed, I assumed Rust doesn't support VS2017 yet and so agreed to install C-runtime. Installation finished successfully.

main.rs:

[code]
Compiling:

[code]
link.exe LIBPATH arg is specified twice.

[code]

[2017-04-30 23:30] Mark-Simulacrum commented on #16860
The original test case still reproduces. I've attempted to minify. It looks like @nikomatsakis thought this might just be a symptom of auto-ref being preferred to auto-deref; is this a bug in and of itself?

[code]

[code]

[2017-04-30 23:36] Mark-Simulacrum commented on #21952
Original test case now compiles without any changes. Closing.

[2017-04-30 23:36] #21952 closed

[2017-04-30 23:37] Mark-Simulacrum commented on #20297
Is this still relevant? It's a very old issue, and it seems there was some progress judging by the items in GH's log.

[2017-04-30 23:54] Diggsey commented on #41569
@cuviper the "installer" logic is technically ported to rust already, it's built into rustup (`install.sh` is not used for rustup installs, which is also why you can install rust on windows!)

[2017-05-01 00:00] cuviper commented on #41569
Ah, thanks!

[2017-05-01 00:01] Mark-Simulacrum commented on #22043
Updated code, as best as I can figure. `b` still breaks with this error. I'm not sure why; I sort of thought that `box` was just sugar for `in (::std::boxed::HEAP)`, but I guess that's not the case.

[code]

[code]

[2017-05-01 00:14] Mark-Simulacrum commented on #22183
I think that not much has changed here. The individual outputs are different, but the overall diff is the same: entry points are included in `staticlib` with `--crate-type bin`.

[code]

[code]

[2017-05-01 00:16] Mark-Simulacrum commented on #22231
I'm going to close pending other examples. Please reopen with those if they exist.

[2017-05-01 00:16] #22231 closed

[2017-05-01 00:20] retep998 commented on #41664
Notice this key part `/usr/bin/link`. That is not `link.exe` from msvc, but rather from some MinGW installation you have on your computer. This means rustc is simply failing to autodetect your VS 2017 installation and is blindly invoking `link.exe` which fails with a confusing error.

Duplicate of https://github.com/rust-lang/rust/issues/38584

[2017-05-01 00:20] #41664 closed

[2017-05-01 00:24] Mark-Simulacrum commented on #21198
This is also going over my head. The example in the original issue does compile successfully today, but I can't get an old enough nightly to install with rustup to verify if it did back in 2015. Can anyone comment on this to say if it's still relevant?

[2017-05-01 01:01] Mark-Simulacrum commented on #22450
Note: the specific issue here is related to https://github.com/rust-lang/rust/issues/17930, since that suggests that `} as u64` should be allowed.

[2017-05-01 01:03] Mark-Simulacrum commented on #22760
The original code compiles without any errors, so closing.

[2017-05-01 01:03] #22760 closed

[2017-05-01 01:06] Mark-Simulacrum commented on #22706
Triage: Still compiles.

[2017-05-01 01:11] Mark-Simulacrum commented on #38541
Since we seem to believe that the author's problem was presumably fixable via recursion limit raising, but we do want to increase the macro recursion limit, I'm going to close this in favor of https://github.com/rust-lang/rust/issues/22552, the original macro recursion limit raising issue.

[2017-05-01 01:11] #38541 closed

[2017-05-01 01:14] Mark-Simulacrum commented on #22552
This has been encountered in the wild once more (#38541).

I'm going to mark this as E-easy since I *think* the primary thing that needs to change is just this https://github.com/rust-lang/rust/blob/master/src/libsyntax/ext/expand.rs#L1041 line, which needs to be updated to a larger value. I'm going to suggest 1024.

@jseyfried Do you agree with the easy designation?

[2017-05-01 01:17] messense commented on #41652
@kennytm I know the code is wrong, I was trying to let the compiler guide me through the upgrading process then it panicked.

[2017-05-01 01:22] Mark-Simulacrum commented on #22472
Without an example (which I can't come up with based on the description), I'm going to close this.

[2017-05-01 01:22] #22472 closed

[2017-05-01 01:30] Mark-Simulacrum commented on #31898
The reduced example now works. I don't think this is really related specifically to `String` vs. `&str`, more so that closures can (and do) copy `Copy` types. With `String`, this isn't possible, so the lifetime of the reference (`&doc[a + '>'.len_utf8() .. b]`) isn't long enough--doc is presumably moved by-value into the closure and as such doesn't live past the iterator's definition, hence, the e

[2017-05-01 01:30] #31898 closed

[2017-05-01 02:07] rosscanning opened #41667 "rustc panics compiling Conrod"
**Steps to repro:**

1. Using the nightly build of the Rust compiler (as of 1 May 2017).
1. Download latest (as of 1 May 2017) Conrod code:
`git clone https://github.com/PistonDevelopers/conrod.git`
2. `cd conrod`
3. `cargo build`
4. Attempt to build & run any Conrod example app - eg
`cargo run --release --features "winit glium" --example text`

**Result:**

rustc panics, with the stacktrace below

[2017-05-01 02:08] Mark-Simulacrum commented on #24047
I'm not sure I quite understand what needs to be done here. The original issue implies that `#[derive(PartialEq)]` should work with trait objects, but [this comment](https://github.com/rust-lang/rust/issues/24047#issuecomment-89625267) suggests that should never work (`PartialEq` isn't object-safe). The discussion then seems to shift to changing derive to *make* it work, which is confusing to me.

[2017-05-01 02:15] Mark-Simulacrum commented on #41667
Thanks for the issue! This is actually a duplicate of the already-fixed https://github.com/rust-lang/rust/issues/41604, though, so closing.

[2017-05-01 02:15] #41667 closed

[2017-05-01 02:21] ofek commented on #36481
Can this be closed?

[2017-05-01 02:23] withoutboats commented on #24047
I was pretty new to Rust when I posted this and I don't think implementing derive of PartialEq for trait objects by using their type ids is a very good idea; looks like @bluss's issue was fixed a year ago, I'm just going to close this.

[2017-05-01 02:23] #24047 closed

[2017-05-01 02:24] Mark-Simulacrum commented on #36481
Seems so!

[2017-05-01 03:02] rosscanning commented on #41667
Ah, sorry. I did search, honest!
Thanks.

[2017-05-01 08:16] andrewufrank opened #41669 "compiler panic in 'filesystem/ui/bin/browser' in thml5ever v0.12.1"
it is not very clear from the output, what should be reported and what details about my environment you would be interested in. could you automatically produce the output (or a routine to produce the information) such that it could be `cut and paste` in the message. This would likely simplify your triage of the messages:

here the output -
[code]
additional comment:
it would be better advertisemen

[2017-05-01 08:26] kennytm commented on #41669
Duplicate of #41604, which should be fixed in #41651.

[2017-05-01 08:29] Veedrac commented on #36481
I'm not convinced this should be closed. The problem is a *lot* less bad than it was, but IIUC we still expose iteration order and this can still cause O(n²) behaviour. We should make sure we're convinced that we're happy with the risks as they stand before closing, and I haven't seen an official statement as such.

[2017-05-01 09:30] arielb1 commented on #41669
@andrewufrank

Can you give me the output of `rustc --version`?

[2017-05-01 09:44] HadrienG2 opened #41671 "Provide a guide to standard traits in the documentation"
When learning Rust, it can be difficult to get acquainted with the standard Rust traits, as their documentation is scattered in many places.

Some are introduced gradually over the course of the Book, some are reviewed in more details in the Nomicon, some are discussed in the Reference, and most are just scattered around the std crates (std::ops, std::marker and many others) with a description tha

[2017-05-01 10:05] whitequark opened #41672 "[ARM] LLVM: Unknown addressing mode for CP reference! UNREACHABLE executed at ARMConstantIslandPass.cpp:755"
To reproduce in a real-world example, follow [these instructions](https://github.com/m-labs/ek-tm4c1294xl-demo/tree/b9814d3e5e793177d6760178fe50b8b83f046a49#steam-cannon-start). Note that the bug is somewhat finicky: it's not exhibited in debug builds, and it's not exhibited also until main crosses a certain threshold size (might be related to inliner, not sure). It also does not crash (or AFAICT

[2017-05-01 10:12] arielb1 commented on #41672
Can you report this bug at bugs.llvm.org?

[2017-05-01 10:19] whitequark commented on #41672
@arielb1 haven't reproduced it with ToT LLVM yet (I don't have a build handy). Do you?

[2017-05-01 10:21] arielb1 commented on #41672
I have a "somewhere between 4 and 5" LLVM and it compiles with it.

[2017-05-01 10:25] arielb1 commented on #41672
Looking around, this looks like https://bugs.llvm.org/show_bug.cgi?id=31997 which is fixed on trunk.

[2017-05-01 10:26] whitequark commented on #41672
Can someone cherry-pick r295964 into rustc's LLVM?

[2017-05-01 10:27] arielb1 commented on #41672
You can do it yourself - open a PR against rust-lang/llvm.

[2017-05-01 10:34] leoschwarz commented on #41671
It might be better to move the issue to https://github.com/rust-lang/book/issues . Essentially appendix "B - Operators" in the second edition of the book already seems to be covering a bit of what you mentioned.

[2017-05-01 10:45] whitequark commented on #41672
See https://github.com/rust-lang/llvm/pull/76.

[2017-05-01 11:26] Kixunil commented on #40640
I've run into similar issue recently. What's weird is that compiler actually [**does** enforce](https://play.rust-lang.org/?gist=a15d9ec0f49a29d690e464f951c19715&version=stable&backtrace=0) trait bounds in type aliases, at least in this case. If you try to compile the example, you'll see that compiler contradicts itself. I can't imagine a universe in which it isn't a bug.

[2017-05-01 11:59] Mark-Simulacrum commented on #36481
Ah, okay. I wasn't aware that O(n<sup>2</sup>) behavior could still occur. I'll reopen in that case.

[2017-05-01 12:15] kennytm commented on #41478
Reduced, but not sure if it's the same bug, since it is a compile-fail case, but `cgmath` certainly is not.

[code]

[2017-05-01 12:19] Mark-Simulacrum commented on #32110
I believe that libcore is now mostly stable, aside from those below. As far as I can tell, none of these are directly in the prelude, though I may be wrong. Perhaps this can be closed?

[code]

[2017-05-01 12:26] arthurprs commented on #36481
I don't think the situation can be improved further without a substantial trade-off (all changes so far had essentially no cost in either memory or runtime) but I'm curious what other people think.

[2017-05-01 12:29] Mark-Simulacrum commented on #32090
I get the following. This isn't an ICE, so I'm going to go ahead and close. Please reopen if there's actually something wrong here!

[code]

[2017-05-01 12:29] #32090 closed

[2017-05-01 12:38] Mark-Simulacrum commented on #32176
Seems that this is still an issue. However, I don't know whether this actually causes problems with rustbuild. Perhaps @alexcrichton could comment?

[code]

[2017-05-01 12:41] Veedrac commented on #36481
`OrderMap` hides iteration order and seems to be faster in most scenarios than std's `HashMap` according to other people. It's not totally without drawbacks, but it seems worth consideration.

[2017-05-01 12:45] Mark-Simulacrum commented on #24092
The original example compiles with an addition of `Self: Sized`, but the one [here](https://github.com/rust-lang/rust/issues/24092#issuecomment-152110644) still doesn't. I suspect that this is related to https://github.com/rust-lang/rust/issues/38864, but I'm uncertain... the error is different. Triage: Still a bug.

[2017-05-01 12:50] arthurprs commented on #36481
Then you get into the substantial trade-off part, it's faster for iterations/inserts/deletes but you pay consuming more memory and slower lookup.

[2017-05-01 12:53] Veedrac commented on #36481
[The Github page](https://github.com/bluss/ordermap) says

[2017-05-01 12:59] Mark-Simulacrum commented on #32087
Is this for debuginfo? In error messages `[closure@test.rs:2:21: 2:26]` is used, which seems accurate enough--in some ways, better than a name. I'm not sure how helpful encoding names into debuginfo or wherever is, anyway, since presumably the variable foo is encoded and has the type of the closure. Can someone explain what specifically is needed here?

[2017-05-01 13:00] SimonSapin commented on #32110
@Mark-Simulacrum How did you make this list? It’s missing at least `core_slice_ext`, `core_str_ext`, and `core_char_ext` for the `core::slice::SliceExt`, `core::str::StrExt`, and `core::char::CharExt` traits, which is what this issue is about. They are re-exported from libcore’s prelude, which is different from libstd’s prelude.

[2017-05-01 13:02] Mark-Simulacrum commented on #32047
`configure` still accepts this, but I don't think it's read anywhere else within Rust, since ripgrep doesn't return any results... I'm going to close this, but please do reopen if this is still a problem.

[2017-05-01 13:02] #32047 closed

[2017-05-01 13:09] arthurprs commented on #38003
I found out that the lookup benchs are broken so ignore those, the others are ok though. I will do another round of tests soon.

[2017-05-01 13:15] arthurprs commented on #36481
That's not true anymore, I think I removed most of the overhead of the std hashmap bucket interface. In the current state of things it's not uncommon to have order-map consuming 2~3x the memory.

_unif can lookup any key from the key set and the _non_ _unif accesses only 10% of the key set (zipf like).

[code]

[2017-05-01 13:20] leoschwarz commented on #41254
Would it be actually good if `assert_eq!` would test values as equal which `==` wouldn't?

Like I can see it making writing tests more easy but at the same time it might be potentially confusing.

[2017-05-01 13:25] sirideain commented on #22552
I would be interested in taking this one as a good way to figure out the process of contributing.

[2017-05-01 13:27] arthurprs commented on #36481
Ok, 2x is too much, it's more like

`y = (8 * (0.75 * 2 / 3)  + (8 + x) * (1 * 2 / 3)) / ( (8 + x) * (0.91 * 2 / 3) )`

which is more like ~30% extra.

[2017-05-01 13:30] Mark-Simulacrum commented on #32110
I can't find the command in my history right now for some reason. I guess I messed up with the ripgrep parameters, though. No need for the list now though, since you've provided it :).

[2017-05-01 14:09] jrmuizel commented on #41631
I guess this might be #31681

[2017-05-01 14:12] arthurprs commented on #36481
While I was at it and for the sake of completeness

std -> ordermap
[code]
86% load factor std lib -> ordmap
[code]
stdlib -> 86% load factor std lib
[code]

[2017-05-01 14:20] luser opened #41674 "impl LowerHex, UpperHex for `&[u8]`"
I've found myself writing some version of `bytes_to_hex` [more](https://github.com/luser/rust-minidump/blob/e420ae4700bacd2505e8ece2955cc2adb291fd77/src/minidump.rs#L256) [than](https://github.com/luser/read-process-memory/blob/42e163c2fb5ea940dadc7619f261781b7b148ed9/examples/read-process-bytes.rs#L7) once, and it looks like I'm not the only one:
https://github.com/search?l=Rust&q=bytes_to_hex&ty

[2017-05-01 14:34] #16994 closed

[2017-05-01 15:02] ollie27 commented on #41674
Dupe of #33127, rust-lang/rfcs#1916.

[2017-05-01 15:09] jrmuizel commented on #41631
I confirmed that reverting #31545 fixes this.

[2017-05-01 15:19] krishnakumar4a4 opened #41675 "Borrow issue inside a for loop"
I am trying to push a string into a vector. The string is obtained from splitting each entry of a vector.
While compiling, shows the borrow is ouliving the scope of for loop.
[code]

Here is the error while compiling:
[code]

I am not able to workaround this problem, can someone help me? What am I missing?

[2017-05-01 15:27] whoisj commented on #41675
I'm not a Rust expert, but it seems to me you do the following:

1. Allocate a collection to borrow reference (`flameStackVec`)
2. Iterate a collection in a loop, and with in each iteration:
    1. Take an item
    2. Break it's contents up in to borrowed, local-scope variables
    3. Push the borrowed, scoped reference into a collection defined in the outer scope.

This seems invalid as the borro

[2017-05-01 16:07] luser commented on #41674
Thanks, should have looked harder!

[2017-05-01 16:07] #41674 closed

[2017-05-01 16:23] krishnakumar4a4 commented on #41675
In that case, the top for loop runs great without complaining when I say push. Why do you think it is only giving problem with the second loop.
If you say borrowed references are causing this problem, how should I actually push a string into the outer scope variable flameStackVec without violating this borrow. I have tried using clone before push, but it didn't help.
Just curious, How can someone

[2017-05-01 16:36] whoisj commented on #41675
Seems to me that the compiler is complaining that the outer loop's collection has a greater lifetime than the elements you're pushing into it from the inner loop. Is there a way to inform the compile the elements from the inner loop have a lifetime that matches the outer loop?

Hrm... [docs](https://doc.rust-lang.org/book/lifetimes.html)!

[2017-05-01 16:55] Veedrac commented on #36481
@arthurprs I don't get why `lookup_100_000` and `lookup_100_000_unif` are giving different numbers. Don't they do the same thing?

[2017-05-01 17:18] kennytm commented on #41478
OK this should be the actual code causing the error.

Reduced case:

[code]

These are reduced from https://github.com/brendanzab/cgmath/blob/bfd9fc1e66dfa27713fbb7890159b2499826c4db/src/matrix.rs#L1136-L1149.

The panic comes from https://github.com/rust-lang/rust/blob/526d39948af4004bb60c04dc82d60b7b395966bb/src/librustc_save_analysis/lib.rs#L301

**The ICE no longer happens if `V<<A as An>::U>`

[2017-05-01 17:23] Thinkofname commented on #41675
https://is.gd/bEBDSM

This line `CallString = CallReturnMapVectorTokens.nth(0).unwrap().to_string().clone();` in your original was allocating a new `String` which only lived during the for loop. Removing the allocation and changing the vector to storing `&str` instead of `&String` solves this

[2017-05-01 17:24] bluss commented on #36481
Can you spell out the memory calculations more explicitly?

[2017-05-01 17:33] arthurprs commented on #36481
I'm not sure I got that 100% right but here it goes:

Assume you're calculating the average case (between resizes, relative load factor is 1 when full and 0.5 after resize 0.5). For that multiply the actual factors by `Z = (1+0.5)/2 = 0.75`.

Ordmap = (size of index / (indexes_load * Z)) + (size of pair+size of hash) / (pairs_load * Z) =  8 / (0.75 * 0.75) + (8 + x) / (1.0 * 0.75)
Std = (size of h

[2017-05-01 17:37] alexcrichton commented on #32176
Unfortunately not much [more than before](https://github.com/rust-lang/rust/issues/32176#issuecomment-195134332), probably still the same crazy ./configure logic

[2017-05-01 17:42] bluss commented on #41675
Closing since the question has been resolved. http://stackoverflow.com/questions/tagged/rust or http://users.rust-lang.org/ are good places to discuss issues like this, for future reference.

[2017-05-01 17:42] #41675 closed

[2017-05-01 17:48] Leovano commented on #23818
I've seen the same problem when trying Rust. Just a question: Why not simply add a new macro that print without newline and flush after? Something like this (ignore the ugly code, please):
[code]
[code]

[2017-05-01 17:50] bluss commented on #36481
Thanks

[2017-05-01 17:55] andrewufrank commented on #41669
thank you - i am a new to redox. perhaps you indicate in the manual that it is necessary to use
    rustup update
and it is not automatic when rustup is set once to nightly.
now it has compiled and make qemu worked. can you point me to some docs about how to use qemu with respect to redox?
how much more can be done with redox? can i use rust to compile and run programs? other languages? (eg. haske

[2017-05-01 17:55] #41669 closed

[2017-05-01 17:58] SimonSapin commented on #39658
Stabilize?

I just wrote `if let b'A' ... b'Z' = b {`, it’s not too bad but might have looked nicer as `if b.is_ascii_uppercase() {`

[2017-05-01 17:59] bluss commented on #36284
That sounds good!

[2017-05-01 18:03] bluss commented on #41655
`"foo bar".split(&[' ', '\n'][..])` and `"foo bar".split(char::is_whitespace as fn(_) -> bool)` should work too, since the pattern is clonable. Unless there's an issue with that function pointer, hope not..

[2017-05-01 18:19] Diggsey opened #41677 "Type inference breakage on beta"
This code compiles on stable, but fails on beta ([playground link](https://gist.github.com/5bdefaad62cb87e2fd2e0a4e4caf9679)):

[code]

Error message:
[code]

[2017-05-01 18:20] soapdog commented on #38584
@rpjohnst regarding using the ```x64 Native Tools Command Prompt for VS 2017```, what I have experienced here is that while inside that prompt, all rust stuff works but if I use it to install something like ```rustfmt```, ```racer``` and the like, then they doesn't work from programs that were not started from that shell such as ```Visual Studio Code```.

[2017-05-01 18:27] arielb1 commented on #41677
minified:

[code]

[2017-05-01 19:29] zackw commented on #39658
There was a request over in #39659 to deprecate `AsciiExt` and convert all the methods to intrinsics on `str`, `[u8]`, etc. but I never got around to it and don't have time in the near future either.  I dunno how a plan to do that would affect the stabilization schedule.

[2017-05-01 20:31] freebroccolo commented on #38584
@soapdog You can get the Rust toolchain to work when it is being invoked by VS Code if you set the environment variables mentioned by @nix-fox [here](https://github.com/rust-lang/rust/issues/38584#issuecomment-292293852). Only a stop gap of measure of course.

[2017-05-01 20:47] bstrie opened #41679 "Suggest `!` for bitwise negation when encountering a `~`"
Here's a program:
[code]
Its output:
[code]
Given that this is our only deviation from C-style bitwise operator syntax, it would be nice to have a note of some kind to suggest `!` here.

Ideally the note would only appear when the `~` looks like it's being applied as a unary operator on a numeric type, but if that would require too much machinery then something simpler will suffice.

[2017-05-01 20:47] bstrie commented on #41679
And no, I'm not concerned about potential confusion with the ancient owned pointer syntax. :P

[2017-05-01 20:48] Mark-Simulacrum commented on #22552
@sirideain Great! Let us know if you need assistance.

[2017-05-01 20:55] Kixunil opened #41680 "Conflicting impls if type parameter is bounded by associated types"
When implementing trait for generic type the compiler fails with "conflicting impls" message if the bounds for the type parameter differ in associated type.

[Minimalistic example](https://play.rust-lang.org/?gist=75eb4ded7afd001dec1a7b7e1b9488fb&version=stable&backtrace=0)

I expected this to pass because if the associated types differ, then types implementing such trait must differ too.

The com

[2017-05-01 20:59] mbrubeck opened #41681 "Tracking issue for struct_field_attributes"
### Status

- [x] Implemented in  #38814: enable attributes and cfg on struct fields.
- [x] [Decided to stabilize](https://github.com/rust-lang/rust/issues/41681#issuecomment-303257198)
- [ ] Documentation PR(s) needed (see the "Updated documentation" section of [the stabilization guide](https://forge.rust-lang.org/stabilization-guide.html) for advice).
- [x] Stabilization PR needed (see the [stab

[2017-05-01 21:00] mzji opened #41682 "The document of process exit code in `std::process::exit()` is wrong"
The document said:
[code]
However from the text above, line `process::exit(0x0f00);` should be changed to `process::exit(0x0100);` . On Windows, all 32 bits of the exit code is available. See [the document of `ExitProcess()`](https://msdn.microsoft.com/en-us/library/windows/desktop/ms682658(v=vs.85).aspx) for more details. (The parameter of `ExitProcess()` is a `UINT`, which maps to a C `unsigned

[2017-05-01 21:06] Diggsey commented on #41680
Duplicate of #20400

[2017-05-01 21:14] jethrogb opened #41683 "Print note when trying to use unstable --print target-spec-json"
#38061 introduced `--print target-spec-json` but it's a little hard to find out how to use it:

Current:
[code]
Expected:
[code]

[2017-05-01 21:17] Kixunil commented on #41680
Sorry, I tried to find it but failed. :(

[2017-05-01 21:18] nikomatsakis commented on #41677
triage: P-high

[2017-05-01 21:23] Kixunil commented on #20400
I ran into this problem just now. I wanted to provide `and_then()` and `map()` methods for my type that would work if `Trait::Type` is `Option` or `Result`.

[2017-05-01 21:25] bstrie commented on #32836
Now that the FCP to merge is complete, what's the next step here? Would be nice to stabilize this for 1.19.

[2017-05-01 21:26] Mark-Simulacrum commented on #31743
It seems that `print_attribute_inline` doesn't print the comments, instead calling `maybe_print_comment` to take care of printing the comment start, which in turn calls [`print_comment`](https://github.com/rust-lang/rust/blob/master/src/libsyntax/print/pprust.rs#L552), which seems to be the answer to your second question.

I'm going to close this since I think that answers your questions.

[2017-05-01 21:26] #31743 closed

[2017-05-01 21:28] mzji opened #41685 "tokei 6.0.0 won't compile on nightly"
OS: Win10 Home x64 version 1607 / build 10.0.14393, Build Tools for Visual Studio 2017
rustc metadata:
[code]
Error messages during installing tokei via cargo:
[code]

[2017-05-01 21:43] aturon commented on #32836
@bstrie [So you want to stabilize a feature](https://forge.rust-lang.org/stabilization-guide.html)

[2017-05-01 21:49] retep998 commented on #41682
@frewsxcv Since you wrote that example in https://github.com/rust-lang/rust/pull/38397, care to explain why you wrote it like that? 😛

[2017-05-01 21:50] retep998 commented on #38584
@soapdog I personally just start VS Code from within my prompt so it picks up the environment variables from it.

[2017-05-01 21:54] frewsxcv commented on #41682
woops, that's just a typo. Feel free to submit a pull request, or I can later

[2017-05-01 21:56] KodrAus commented on #31743
Thanks @Mark-Simulacrum! Cleaning up some old outstanding issues? :)

I don't even remember why I asked this...

[2017-05-01 21:56] solson commented on #32836
It'd be awesome if someone could add more detail to that @rfcbot message ([source code here](https://github.com/dikaiosune/rust-dashboard/blob/c22824e1cdea3ceaa1a3c87c1b4951c602915c9a/src/github/nag.rs#L886)). It might make it easier for someone unfamiliar with the process to jump in and move things along.

[2017-05-01 22:02] Freyskeyd commented on #39226
This PR can be closed I think: refer to #39291

cc @nagisa

[2017-05-01 22:05] aturon opened #41686 "Tracking issue for RFC#1685: Deprecate anonymous parameters"
This is a tracking issue for the RFC "Deprecate anonymous parameters " (rust-lang/rfcs#1685).

**Steps:**

- [x] Implement the RFC (cc @rust-lang/compiler -- can anyone write up mentoring instructions?)
- [x] Adjust documentation ([see instructions on forge][doc-guide])

[doc-guide]: https://forge.rust-lang.org/stabilization-guide.html#updating-documentation

**Unresolved questions:**

- [x] The p

[2017-05-01 22:17] aturon commented on #29717
@alexcrichton How difficult is such a decoupling? It seems like we're not *so* far from being in a position to stabilize target_feature, if we can flesh out the spec a bit (@gnzlbg, still planning to do that?)

[2017-05-01 22:43] est31 commented on #41686
I could work on this. From reading the RFC discussion, I think the "soft" deprecation strategy has been chosen? So on the compiler side, we'll need an allow by default (deprecation) lint for anonymous parameters, right?

[2017-05-01 22:48] aturon commented on #41686
@est31 Awesome! And yes, that's correct. This will be most effective if we add the lint to Clippy as well.

(The open question is around the criteria for moving to a warn-by-default strategy in the future.)

[2017-05-01 22:49] Phlosioneer commented on #38887
Duplicate of #25507?

[2017-05-01 22:55] SimonSapin commented on #40494
This is niche enough that I think it unlikely to get more feedback just by waiting. Stabilize?

[2017-05-01 23:46] Mark-Simulacrum commented on #23542
It feels like based on the following we don't really use trivial casts in the compiler based on the lint allows, though there are a few instances of trivial numeric casts. I've provided a list below of what I could find as of now with a simple grep. I'm uncertain as to whether it's possible to use type ascription already, but I feel like the answer is possibly no.

[code]

[2017-05-02 00:06] eholk commented on #39355
I think the dylib story will depend on how dynamic linking for WebAssembly works. Here is some thinking on the issue, but I don't think it's official or complete yet: https://github.com/WebAssembly/tool-conventions/blob/master/DynamicLinking.md

[2017-05-02 00:37] Mark-Simulacrum commented on #40474
I got this from a non-bors build on Travis for #41684, unfortunately didn't get the raw log link...

[code]

[2017-05-02 00:39] frewsxcv commented on #41682
opened a pr: https://github.com/rust-lang/rust/pull/41688

[2017-05-02 00:40] sirideain opened #41689 "thread 'main' panicked at 'called `Option::unwrap()` on a `None` value'"
I am getting this error when trying to build from source. I am on Windows 10 with the creators update.

[code]

[2017-05-02 00:41] Mark-Simulacrum commented on #25919
I cannot reproduce this specific issue with the following (in a docker container). I suspect that this is a LLVM 3.7 problem.

[code]

However, with the Fedora `dnf` installed rust and cargo (see below), I get a segfault upon trying to run the script. I can't seem to get gdb to work, possibly because of the docker container, but I suspect that this is not this bug, and since I can't really prepare

[2017-05-02 00:41] #25919 closed

[2017-05-02 01:10] estebank commented on #41679
If anyone wants to tackle this, you'll need to modify [`libsyntax/parse/parser.rs`](https://github.com/rust-lang/rust/blob/de4bdd20f87d95d164c883dc141a2763e4df155a/src/libsyntax/parse/parser.rs#L2738).

[2017-05-02 01:23] Mark-Simulacrum commented on #29928
This seems fixed, though I'm uncertain. Please reopen if I misjudged the issue and provide an example we should next gate closing this issue upon, if possible. Closing at least for now though.

Compiles successfully:

[code]

Does not compile:

[code]

[code]

[2017-05-02 01:23] #29928 closed

[2017-05-02 01:27] Mark-Simulacrum commented on #27511
It feels to me like the conclusion reached in this that, if anything, this is a diagnostics issue for a non-`repr(C)` type inside a `repr(C)` struct. However, what Gankro states [here] makes me think that isn't actually something we want to lint about. As such, I'm going to close. Please reopen if there's differing opinions.

[here]: https://github.com/rust-lang/rust/issues/27511#issuecomment-1277

[2017-05-02 01:27] #27511 closed

[2017-05-02 01:31] Mark-Simulacrum commented on #32234
I'm going to close this since I think replicating this will be rather hard without a concrete code sample. If we can come up with such a sample, please reopen.

[2017-05-02 01:31] #32234 closed

[2017-05-02 01:35] Mark-Simulacrum commented on #28310
The two code samples in the original issue now compile with equivalent outputs (no output), which is what I think we expect to have happen, though I'm only ~90% sure. As such, I'm going to close, but please do reopen if this is still an issue with a code sample that demonstrates it.

[2017-05-02 01:35] #28310 closed

[2017-05-02 01:40] Mark-Simulacrum commented on #13779
The original issue is quite old and I *think* I can't reproduce, but I'm not quite sure what files I specifically need to mark as read-only, so can't be certain. Going to close since I can't reproduce. Please reopen if this is still an issue.

[2017-05-02 01:40] #13779 closed

[2017-05-02 01:42] Mark-Simulacrum commented on #32286
@nikomatsakis Is this still a problem today?

[2017-05-02 01:47] Mark-Simulacrum commented on #31259
I feel like this isn't a change we can make backwards compatibly. What are the considerations that are involved in making this change? Can we make it? We at least need documentation for this inconsistency, but I'm not sure what tag to use for those issues: `T-doc`?

[2017-05-02 01:51] Mark-Simulacrum commented on #15677
ANTLR grammar is still in-tree. There is now an answer to the SO question, though, so perhaps that's significant to this discussion? It's possible the easiest answer here is to simply remove the ANTLR grammar from in-tree, possibly moving it elsewhere.

[2017-05-02 01:54] Mark-Simulacrum commented on #32318
The original code now compiles without any warnings, so I'm going to close this.

[2017-05-02 01:54] #32318 closed

[2017-05-02 01:59] Mark-Simulacrum commented on #32315
I think this is something that isn't really resolvable without specialization and we don't need to track this specifically, so I'm going to close. Please file another issue if you try to implement this with specialization and encounter an error (e.g., ICE or similar), and also take a look at the tracking issue: https://github.com/rust-lang/rust/issues/31844.

[2017-05-02 01:59] #32315 closed

[2017-05-02 02:06] Mark-Simulacrum commented on #32354
@GuillaumeGomez Checking in; I think no progress has been made. Do you think you'll have a chance to work on this soon?

[2017-05-02 02:10] Mark-Simulacrum commented on #16688
The original code now compiles successfully, closing.

[2017-05-02 02:10] #16688 closed

[2017-05-02 02:13] Mark-Simulacrum commented on #10413
This is now only tracking the type parameter fragments, which would definitely need an RFC. Lifetimes in macros are tracked here: https://github.com/rust-lang/rust/issues/10413. I'm going to close this since there's nothing left to be tracked in the rust-lang/rust repo for this issue.

[2017-05-02 02:13] #10413 closed

[2017-05-02 02:18] Mark-Simulacrum commented on #23012
Updated code to not give the unrelated `Send` error (by removing `Send` bounds everywhere), still gives the type must be known error.

[code]

[2017-05-02 02:52] dbaron opened #41690 "confusing error message saying variable must be valid for anonymous lifetime that it appears to live long enough for"
I initially [raised this on twitter](https://twitter.com/davidbaron/status/856772994294788097) without a reduced testcase, and @SimonSapin [suggested I file an issue](https://twitter.com/SimonSapin/status/856795953851805696) because the error message could be improved.

A reasonably-reduced testcase for this error is the following code:

[code]

which, when compiled with `rustc --crate-type lib li

[2017-05-02 03:20] clarcharr opened #41691 "Potential specialisation: DoubleEndedIterator::last"
Right now, `Iterator::last` defaults to:

[code]

If the iterator implements `DoubleEndedIterator`, it should default to:

[code]

Many standard library types manually implement this specialisation, but a blanket implementation would be nice too!

Another potential specialisation for `nth` with `DoubleEndedIterator` and `ExactSizeIterator`:

[code]

There's a bunch of stuff here and it might be wo

[2017-05-02 03:40] frewsxcv commented on #34701
afaik, there's a PR open for this: https://github.com/rust-lang/rust/pull/38608

[2017-05-02 04:05] ubsan commented on #28310
I would like to point out that this is entirely undefined behavior, and therefore technically correct compilation :)

[2017-05-02 04:18] i-m-v-j opened #41694 "Tail Recursion Optimization"
Hello, i think memory management and borrowing becomes easy when we use recursion in rustlang. but as i have observed there is very poor support for recursion in rust. that is what making rust for beginner to come and start doing stuff. this is my honest opinion. The solution is if in rust, we provide tail recursion optimization then there will be no need to implement drop trait for those custom d

[2017-05-02 04:24] eddyb commented on #22552
cc @nikomatsakis Another good use for stacker!

[2017-05-02 04:46] scottmcm commented on #27741
Great to see this making progress!  I like the "always take usize and figure out the math stuff later" approach 👍

The step trait is also used for non-`StepBy` iteration of ranges today, so it probably shouldn't be completely removed right away.  I think these are the only trait methods that should be removed (`by` is the step amount, and `is_negative` made `(10..1).step_by(-1)` "work"):
[code]
I

[2017-05-02 04:55] est31 commented on #41686
About the clippy lint, I'll leave that to someone else. Given #41692, it should be mostly copy paste, but maybe with official rust claiming the lint name one has to chose another one. No idea.

[2017-05-02 06:59] oli-obk commented on #29928
Was fixed in https://github.com/rust-lang/rust/pull/38813

[2017-05-02 07:01] nrc opened #41695 "Be consistent about whether the span label duplicates info in an error message"
Often an error message has two parts - the heading and a label on a span. E.g.,

[code]

Here the heading is `cannot find value `labe` in this scope` and the label on the span is `did you mean `label`?` In this case the two contain different information.

However, in some cases, the info is duplicated, e.g.,

[code]

This is a problem for IDEs because all errors are on spans and we must choose to

[2017-05-02 07:08] oli-obk commented on #41694
There's a postponed RFC for that: https://github.com/rust-lang/rfcs/issues/271

Feature requests of this magnitude generally belong to the RFC repository ;)

[2017-05-02 07:11] SimonSapin commented on #29638
Since 1.15.0, `macro_rules!` macro can be re-exported with:

[code]

As far as I’m concerned this removes the need for this feature.

Test case:

[code]

[2017-05-02 07:38] est31 commented on #29638
I'm not sure whether that is a full replacement of the feature, as you can refine by doing `#[macro_use(macro_a, macro_b, macro_c)]`. `std` itself [uses it](https://github.com/rust-lang/rust/blob/5daf557a77391f14a26038d7ab70d424cfe5b040/src/libstd/lib.rs#L335-L336). When I tried your example when replacing with `pub use cc::c`, it failed.

[2017-05-02 07:45] i-m-v-j commented on #41694
it got opened in 2014. i think this is critical than it sounds. why ? because this is stopping lot of new comers to get into systems programming faster because, new comers won't know to manage this lower level when they are getting into systems programming. i hope you guys will give bit more importance to this problem, because this problem can solve some other problems out of the box.

[2017-05-02 07:50] not-fl3 opened #41696 "Long compilation time due to LLVM creating excessive landing pads"
Long compilation time (almost infinity on real project) with every nightly versions after 2017-03-18.

I tried this:
[code]

I expected to see this happen:
On 2017-03-18 it compiles for less than a second (in 0.59 secs on my machine)

Instead, this happened:

With every version newer than 2017-03-18 it compiles for 389+ seconds on my machine.

## Meta

`rustc --version --verbose`:
[code]

Also sam

[2017-05-02 07:58] SimonSapin commented on #29638
Isn’t that a bug to fix?

[2017-05-02 08:04] est31 commented on #29638
lol apparently the reverse is true, the glob use feature is a bug, and [should be feature gated](https://github.com/rust-lang/rust/issues/40768#issuecomment-288918898).

Also cc #35896

[2017-05-02 08:13] oli-obk commented on #41694
@i-m-v-j feel free to open a new RFC. That is the fastest way to get your way! The last RFC was postponed because it wasn't ready for Rust 1.0, but I think a well motivated and detailed RFC has a good chance today, since guaranteed tail recursion could be implemented in MIR

[2017-05-02 08:23] sanxiyn commented on #34701
As far as I can tell, #38608 is still gcov coverage and not instrprof.

[2017-05-02 08:44] oli-obk opened #41697 "Regression in -Z dump-mir=all"
running `rustc -Z dump-mir=all src/test/run-pass/issue-33387.rs`

yields

[code]

Happening on `rustc 1.19.0-nightly (777ee2079 2017-05-01)`. Did not happen on the latest nightly available through rustup on 27.04.2017.

[2017-05-02 08:56] GuillaumeGomez commented on #32354
No I won't. Feel free to take it.

[2017-05-02 09:13] est31 commented on #41697
Last working nightly: `rustc 1.18.0-nightly (94e884b63 2017-04-27)`
First broken nightly: `rustc 1.18.0-nightly (128aa262e 2017-04-28)`
[list of commits in between](https://github.com/rust-lang/rust/compare/94e884b6307a59f1e6e64aa7ebc1996b651a7629...128aa262e8fe445f5c4d5c1f15dd28a2007c0234).

[2017-05-02 09:17] est31 commented on #41697
maybe it was #41368 ? cc @nikomatsakis

[2017-05-02 09:38] kennytm commented on #41696
Not reproducible for me on macOS.

[code]

Are you sure `nightly-2017-03-18` is fast while `nightly-2017-03-19` is slow?

[2017-05-02 09:41] rkruppe commented on #41694
Note that there *is* a new RFC on (explicit) tail calls: https://github.com/rust-lang/rfcs/pull/1888

[2017-05-02 09:59] gaurikholkar opened #41698 "Reorder span_suggestions to appear below main labels #40851"
In #40851, owing to the the fact that suggestions have been moved inline, no doubt is a good idea. But in the case where the span of the suggestion and the span of the main comment coincide, it currently causes the suggestion to appear before the main comment, which seems suboptimal. We should reorder suggestions so they appear below other labels.

Here is the example,
[code]

[code]

In the [move

[2017-05-02 09:59] rkruppe opened #41699 "Merge (most of) rustc_llvm into rustc_trans"
After #41565 is merged, only the rustc_trans crate depends on LLVM. In #41473, @eddyb proposed eliminating the rustc_llvm crate altogether once that is achieved and merging it into rustc_trans, but @whitequark pointed out that this might regress rebuild times when trans changed and LLVM didn't. A better solution might be to make rustc_llvm a `*-sys` crate, i.e., it contains just the build script a

[2017-05-02 10:26] nikomatsakis commented on #41698
cc @oli-obk

[2017-05-02 10:27] nikomatsakis commented on #41698
This seems like it could make a good mentorship issue. @estebank or @oli-obk, do you want to write up instructions?

[2017-05-02 10:59] oli-obk commented on #41698
This is somewhat related to https://github.com/rust-lang/rust/issues/41695

Here we are already duplicating the error in the main message and again in the note. (See https://github.com/rust-lang/rust/blob/master/src/librustc_borrowck/borrowck/gather_loans/move_error.rs#L138-L144 for the creation of the error and note)

In this case I'd just remove the duplication of the message and only show the s

[2017-05-02 11:18] oli-obk commented on #11740
I can confirm that the error is gone:

[code]

[2017-05-02 11:35] Mark-Simulacrum commented on #40672
I'm going to go ahead and reopen this because we've seen at least once, and I seem to recall more, that the OS X builders just don't start (e.g., #40672).

[2017-05-02 11:48] rkruppe opened #41701 "Move attributes from crate source into Cargo.toml where appropriate"
The compiler and std crates in-tree have a few attributes in their source code (lib.rs) that are conventionally set in the Cargo.toml file. I'd say this just wasn't cleaned up when rustbuild became the only build system, and should be cleaned up.

Possibly incomplete list of such attributes:

- `#![crate_name]`
- `#![crate_type]`

Note that some crates have different crate types in between Cargo.t

[2017-05-02 11:49] Mark-Simulacrum commented on #23051
I can't reproduce this failure today, but it might be due to a lack of understanding how to do it with `PhantomData`. I'm going to give this a close since I think it's no longer relevant, but please do reopen with a modern example if possible. What I came up with is below, but it doesn't work.

[code]

[code]

[2017-05-02 11:49] #23051 closed

[2017-05-02 11:49] nagisa commented on #41443
The most recent nightly seems to have fixed this.

[2017-05-02 11:50] #41443 closed

[2017-05-02 11:56] Mark-Simulacrum commented on #32414
The LLVM bug was closed as invalid, and unstable expect/likely intrinsic is now implemented judging by the tracking issue. I'm going to close this, please ask us to reopen if you disagree.

[2017-05-02 11:56] #32414 closed

[2017-05-02 12:03] kennytm commented on #40672
@Mark-Simulacrum The PR link is wrong 😄

The macOS machines typically [take more than 1 minutes to boot](https://docs.travis-ci.com/user/ci-environment/#Virtualization-environments), and at most 216 builds can run simultaneously for the whole Travis (compared with the Linux ones which support over concurrent 700 builds). So probably the macOS doesn't start simply because is the queue is too long.

[2017-05-02 12:10] Mark-Simulacrum commented on #21222
The first example is fixed (i.e., `if foo {}.bar()` parses and runs fine), but the second isn't. I think the discussion came to the conclusion that we don't want to fix this, though. Can someone confirm that?

[2017-05-02 12:11] #21857 closed

[2017-05-02 12:12] SimonSapin commented on #29638
Maybe this should have been feature-gated but it hasn’t been for three release cycles.

[2017-05-02 12:14] Mark-Simulacrum commented on #24963
I feel like this is fixed judging by the bench results below. Please reopen if that's not the case, preferably with a summary of what we should be looking for to close this issue.

Without `target-cpu`:
[code]

and with:

[code]

[2017-05-02 12:14] #24963 closed

[2017-05-02 12:19] Mark-Simulacrum commented on #32335
There's not quite enough information to reproduce exactly since there's no git hash for the commit of xml-rs, but with master I cannot reproduce. Closing.

[2017-05-02 12:19] #32335 closed

[2017-05-02 12:21] Mark-Simulacrum commented on #40672
Fixed the PR link. It's certainly possible that this is entirely out of our hands, but it'd be nice to track it anyway, I think.

[2017-05-02 12:23] Mark-Simulacrum commented on #23667
Since @JIghtuse couldn't reproduce, I'm going to close this.

[2017-05-02 12:23] #23667 closed

[2017-05-02 12:33] tspiteri commented on #41607
I'm attaching a reduced test case. `cargo +nightly-2017-04-06 test` succeeds and `cargo +nightly-2017-04-07 test` fails on inline docs.

[try.zip](https://github.com/rust-lang/rust/files/970403/try.zip)

[2017-05-02 12:36] Mark-Simulacrum commented on #32563
I'm afraid I can no longer reproduce:
[code]

[2017-05-02 12:36] #32563 closed

[2017-05-02 12:54] Mark-Simulacrum commented on #32594
I cannot get pastie.org to work for me. I'll revisit in a few days and close if I still can't access at that point...

[2017-05-02 12:57] neosilky commented on #41701
If this is correct, I'd like to take this.

[2017-05-02 13:34] mitsuhiko opened #41703 "Make std::os::unix::ffi::OsStrExt generally available"
Is there a specific reason why `std::os::unix::ffi::OsStrExt` is unavailable on Windows? It's equally useful there.

[2017-05-02 13:39] nagisa commented on #39226
Great!

[2017-05-02 13:39] #39226 closed

[2017-05-02 13:41] nagisa opened #41704 "cargo test says no_run will not work in the future"
It triggers on e.g. this [code example](https://github.com/nagisa/rust_libloading/blob/37b0bec1ae25492b965c750208d1d2d897562f5e/src/lib.rs#L143), which @steveklabnik says shouldn’t happen.

[2017-05-02 13:56] steveklabnik commented on #41704
/cc @GuillaumeGomez

Basically, this implies we're deprecating `no_run`, which we are not 😦

Also, I thought that all of this stuff was fully reverted. Is that wrong?

[2017-05-02 13:59] steveklabnik commented on #41694
Hello! As mentioned above, this is not the right place for this discussion. We keep the issue tracker for bugs only. As such, I'm going to give this a close. Please weigh in on that RFC! Thanks.

[2017-05-02 13:59] #41694 closed

[2017-05-02 14:02] steveklabnik commented on #15677
Agreed; I'd be happy to just remove it. We're not planning on doing anything with ANTLR in the future that I know of, and if we need it, we can pull it back out of the history.

[2017-05-02 14:07] Diggsey commented on #41703
OsStrings are not byte arrays on windows.

[2017-05-02 14:07] alexcrichton commented on #41701
Sounds good to me! I think that because Cargo unconditionally passes `--crate-type` and `--crate-name` that all the annotations in the source can just be deleted, they should all already be in as much sync as they need to be.

[2017-05-02 14:09] kennytm commented on #41703
The Windows one is like

[code]

[2017-05-02 14:14] mitsuhiko commented on #41703
@kennytm i am aware but the "i have a byte array here and i want an os-str" operation is also common on windows because there are lots of utf-8 based APIs from unix that are also used on windows. Not everything is a windows str style api.

@Diggsey how so? It's a Wtf8 buffer which is just a fancy wrapper around a u8 vec/slice.

[2017-05-02 14:15] alexcrichton commented on #40672
Ok, let's try to collect some samples over time to get an idea of frequency (along with concrete logs) and then we can look into emailing Travis.

[2017-05-02 14:19] kennytm commented on #41703
@mitsuhiko

If the byte array is UTF-8 you could convert it to a String / &str as an intermediate step.

[code]

[2017-05-02 14:39] Diggsey commented on #41703
@mitsuhiko Wtf8 has additional constraints beyond being a u8 slice, but more importantly, it's a private implementation detail of the standard library. The Wtf8 encoding was never intended to be exposed.

If you need to convert to a utf8 buffer, go via `&str`. If you need to serialize it, go via `encode_wide`.

[2017-05-02 14:43] mitsuhiko commented on #41703
@Diggsey in that case I assume what is missing is an API that bridges the differences better.

In my case I'm dealing with a binary file format that contains paths in "bytes" without specifics about what format it uses. So I ended up writing something like this:

[code]

The reason I cannot go through `str` on unix is that there is no guarantee that the path is utf-8 an forcing it through a str wi

[2017-05-02 14:55] Mark-Simulacrum commented on #32198
`git clone https://github.com/hfiguiere/foxbox.git` no longer runs successfully, as foxbox appears to not exist. With that, I don't think there's anything particularly actionable here, so I'm going to close this out.

[2017-05-02 14:55] #32198 closed

[2017-05-02 15:01] kennytm commented on #41703
This seems better handled via a new cross-platform method e.g.

[code]

If you port `OsStrExt::from_bytes` to Windows, you need to consider what to do when the input contains non-UTF-8 bytes like `b"\xff\xff\xff"`, and the current signature `-> &Self` means "panic" is the only possible solution, and it is a bad solution for a library.

I think this should be written as an RFC.

[2017-05-02 15:01] alexcrichton commented on #29717
I'm unsure of how much work it would entail or if it's even feasible. It's mostly just an opportunity to stabilize that sooner.

[2017-05-02 15:02] Diggsey commented on #41703
In that case the best course of action is going to depend very heavily on context, such as how the file format is used: there's no universal solution that the stdlib can provide.

For example, if this is an existing file format, there may already be a convention for how to convert between a byte array and a platform-specific path. In that case you should try to emulate the existing behaviour as cl

[2017-05-02 15:02] Mark-Simulacrum commented on #32657
The example compiles with current Rust. There's some mention of side effects, but I don't quite follow that. Since the example compiles, I'm going to close.

[2017-05-02 15:02] #32657 closed

[2017-05-02 15:03] nikomatsakis opened #41707 "change `internalize_symbols` to work per-CGU"
Right now `internalize_symbols()` walks over all of the generated LLVM IR to decide what is internal. This only happens in non-incremental mode. However, it is a blocker to moving to a pipelined setup, because it requires all of the modules to be in a big array. Ideally, we would refactor things so that we figure out during trans item collection what may be marked internal or not (though in increm

[2017-05-02 15:05] michaelwoerister commented on #41707
cc #39280

[2017-05-02 15:15] Mark-Simulacrum commented on #32653
`format!` has been fixed to no longer cause lint warnings. The general issue about ignoring `__TestTestTest` in the snake case lint is still a problem, though.

[2017-05-02 15:20] oli-obk opened #41708 "Suggest `&foo` when passing `foo` to a function expecting `AsRef<T>`..."
... and trying to use `foo` afterwards, which triggers

Example:

[code]

currently yields

[code]

I suggest that it should also contain

[code]

[2017-05-02 15:21] not-fl3 commented on #41696
@kennytm versions I tried: 2017-03-28, 2017-04-22 and 2017-04-30.

[code]

[code]

Also tried on different linux boxes - same problem.

[2017-05-02 15:23] sirideain commented on #28848
I would be interested in giving this a try.

[2017-05-02 15:25] kennytm commented on #41696
@not-fl3 Could you specifically test with 2017-03-18 and 2017-03-19? You may install it from rustup using `rustup default nightly-2017-03-18`. Just wanna find out which commits are causing the problem for you.

[2017-05-02 15:25] Mark-Simulacrum commented on #23103
I'm not really sure how to test this, but I feel like this is primarily a documentation problem on our side. Could someone provide a specific summary of what needs to be done here?

[2017-05-02 15:31] Mark-Simulacrum commented on #32750
I feel like this isn't something we want, and/or this is superseded by the Macros 2.0 discussion. I'm going to close this, but please do let us know if you still need this. Note that libsyntax is entirely unstable, so this isn't necessarily something you can rely on in the long-term. These two crates might be more to your liking, since they have better compile times and performance, and, I think,

[2017-05-02 15:31] #32750 closed

[2017-05-02 15:33] Mark-Simulacrum commented on #32665
@cengizIO Any progress? If not, could someone else take this issue on, or do you still want it?

[2017-05-02 15:43] Mark-Simulacrum commented on #32799
[code]

[2017-05-02 15:44] Mark-Simulacrum commented on #32799
No, Github, I didn't want to post...

Anyway, this appears to be fixed today, though the error message could be slightly better.

[code]

[2017-05-02 15:44] #32799 closed

[2017-05-02 15:45] not-fl3 commented on #41696
@kennytm just tried continuously:

[code]

And first broken version is 2017-03-21.

[code]

[2017-05-02 15:46] Mark-Simulacrum commented on #28848
Go ahead! Let us know if there's anything we can do to help you out.

[2017-05-02 15:52] Mark-Simulacrum commented on #30230
None of these examples as far as I can tell currently ICE, so I'm going to close this.

[2017-05-02 15:52] #30230 closed

[2017-05-02 15:55] pnkfelix commented on #21198
So if I understand what I wrote (back two years ago), I think that this ticket was meant to track parts of the code that might be improved if we added variance of types (with respect to particular type parameters).

We at this point *do* have variance. (Which presumably would explain why the example in the description does compile.)

So if there was a big list of instances in the code base that co

[2017-05-02 15:55] #21198 closed

[2017-05-02 15:57] Wafflespeanut commented on #30197
A tracking bug contains multiple bugs, all of which may not be doable in one go (because even though they're related, they could be at different places, or might need more work, etc.). Also, I'm sorry, I won't be able to fill you about the overall design (because frankly, I don't know). I just go by inserting debug statements, build stage1 `rustc` and figure things by backtracking (like I said ear

[2017-05-02 15:59] Mark-Simulacrum commented on #32697
No longer ICEs.

[code]

[2017-05-02 15:59] #32697 closed

[2017-05-02 16:02] pnkfelix commented on #22321
@steveklabnik hmm my use of this as a metabug extends beyond just the list of bugs in the description. There are a couple other bugs that cc this one as a way of collecting them, such as #21114.

Having said that, I probably should either update the description to point to the current set of bugs that are still open and relevant, or close this as you suggest.

[2017-05-02 16:03] kennytm commented on #41366
The ICE reduced:

[code]

[2017-05-02 16:11] nagisa commented on #41708
AsRef is a library trait, so IMO we should not do that. Also to me "value moved here" is pretty much the "you need to use this as reference".

[2017-05-02 16:13] not-fl3 commented on #41696
@kennytm hmm it seems that on that 03-21 it hangs forever. It works for 20+ minutes and keep working slowly increasing consumed ram.

[2017-05-02 16:15] kennytm commented on #41696
The commit for 2017-03-21 is **1.17.0-nightly (134c4a0f0 2017-03-20)**
The commit for 2017-03-20 is **1.17.0-nightly (6eb9960d3 2017-03-19)**

PRs between the two are

[code]

[2017-05-02 16:19] alexcrichton commented on #31259
I think we've got leeway to change the implementation on Windows to preserve some environment variables. If a process can just literally not be spawned without an environment variable then we're basically guaranteed to not break anyone if we start preserving it by default on `env_clear`. Existing working code would override it anyway (as it'd specify a value for the variable)

[2017-05-02 16:23] nagisa commented on #41696
Could only reproduce with

[code]

The cause, is of course, the incremental compilation.

[2017-05-02 16:24] kennytm commented on #41696
@not-fl3 Could you do a `RUSTFLAGS='-Ztime-passes -Ztime-llvm-passes' cargo build --release` with nightly-2017-03-21?

[2017-05-02 16:29] not-fl3 commented on #41696
@kennytm
except RUSTFLAGS typed in this gist I had CARGO_INCREMENTAL=1 in my env.

https://gist.github.com/not-fl3/832b85ec9ff08537e479bb42ed4e2402

[2017-05-02 16:33] JelteF commented on #32750
Yes, by now I've switched to the syn and quote crates

On Tue, May 2, 2017, 17:31 Mark Simulacrum <notifications@github.com> wrote:

[2017-05-02 16:52] mbrubeck commented on #41416
Here's the [commit range][1] for the nightly regression range above, for the rust repo.  (I'm not sure whether the bug is in Rust or Cargo, so I might be looking in the wrong place.)

https://github.com/rust-lang/rust/pull/40805/commits/78c3a49044d2f93a008f5e8040a27445c8d2f58c from #40805 looks like it might be relevant.

[1]: https://github.com/rust-lang/rust/compare/91ae22a012fae7fa7589b1bba77bf

[2017-05-02 17:00] mitsuhiko commented on #41703
The stdlib is already making a lot of decisions and providing convenience methods. I do not quite see why this should not be one of them. This does not only come up with file formats (though it is very common there) but really any API that decides to use utf-8 as path names. For instance anything based on glib will uses utf-8 for filename encoding on windows.

This is particularly relevant going f

[2017-05-02 17:01] not-fl3 commented on #41696
@kennytm checked your log from debian and found that in original post I used RUST_INCREMENTAL instead of CARGO_INCREMENTAL=1.
My bad, fixed original post now.

[2017-05-02 17:02] kennytm commented on #41696
Reduced test case:

[code]

Looks like some exponential blow-up.

[2017-05-02 17:06] nikomatsakis opened #41710 "figure out story around linear queries"
PR #41625, in an effort to rationalize the MIR pipeline, introduced queries that yield a `Steal` type. Cribbing from a [rather long and overwrought comment that I wrote][c], the idea is to model linear queries as ordinary queries that return a `&'tcx Steal<D>`, which supports two operations ("borrow" and "steal"). Once a value is stolen, any further operation is a `bug!()`. This means that all par

[2017-05-02 17:08] Diggsey commented on #41703
@mitsuhiko The documentation for `std::filesystem::u8path` says "Constructs a path p from a UTF-8 encoded sequence of chars" - we already have methods to do that!

This is not about whether a convenience method should be provided or not, because there isn't an unambiguous way to do this conversion - it's inherently lossy and/or non-portable.

Paths on unix are `[u8]`
Paths on windows are `[u16]`

[2017-05-02 17:10] malbarbo commented on #41630
@TimNN Do you have some thought about this?

[2017-05-02 17:23] ConnorGray commented on #30197
Okay, thanks for the clarification. And thanks anyway. I'm still wading through it, and I think I've made some progress understanding nonetheless.

[2017-05-02 17:48] #41682 closed

[2017-05-02 17:57] nikomatsakis opened #41712 "[FIXME] settle future of MIR pass manager"
In https://github.com/rust-lang/rust/pull/41625, the role of the MIR pass manager has been significantly scaled back. Once can still register passes, but they always take an `&mut Mir`, and the set of passes is defined in `driver` and cannot be readily changed (in particular, the session no longer has a `Passes` struct). @eddyb would like to go further, I think, and remove the `Passes` strruct fro

[2017-05-02 17:58] bluss commented on #24963
Nice! I can confirm that too.

According to playpen right now, not fixed in stable not fixed in `rustc 1.18.0-beta.1 (4dce67253 2017-04-25)`

But it is fixed in `rustc 1.19.0-nightly (777ee2079 2017-05-01)`

[2017-05-02 18:05] bstrie commented on #41679
@F001 Worth asking on #rust-internals on irc.mozilla.org, or internals.rust-lang.org if you'd prefer something other than IRC.

[2017-05-02 18:07] kgv commented on #41696
Looks like the same problem:

[code]

run: `cargo run --bin=test_bin`
(future - from https://crates.io/crates/futures)

rustc -vV
rustc 1.18.0-nightly (94e884b63 2017-04-27)
binary: rustc
commit-hash: 94e884b6307a59f1e6e64aa7ebc1996b651a7629
commit-date: 2017-04-27
host: x86_64-pc-windows-msvc
release: 1.18.0-nightly
LLVM version: 4.0

[2017-05-02 18:14] eddyb commented on #41712
IMO `elaborate_drops` should just be in `librustc_mir`. I *believe* most of it already is.

[2017-05-02 18:23] kennytm commented on #41696
@kgv Not really the same issue. OP's code is slow to compile due to an LLVM pass, your code is slow to compile due to MIR optimization (specifically the "translation item collection" pass).

[2017-05-02 18:33] eddyb commented on #41710
IMO not requiring declaring *inputs* up-front is a plus, that's why I didn't even mention the scheme you came up with but rather dismissed it *because of the constraints I had*.

That is, I wanted a system that could maintain the current flexibility in that queries are *never declared* (not *even* when setting up the providers, although I like that it *is* possible), but rather *arise from imperat

[2017-05-02 19:24] nikomatsakis commented on #41712
@eddyb

I think I agree. We can probably just merge `librustc_borrowck` and `librustc_mir`, for that matter, particularly once borrowck is operating on MIR.

[2017-05-02 19:26] eddyb commented on #41712
@nikomatsakis Particularly, I would've expected @pnkfelix to experiment with the new borrowck *outside* of `librustck_borrowck` and preferably in `librustc_mir` but I suppose we *still* don't have a lot of precedent in doing analysis on MIR there, or at all.

[2017-05-02 19:53] arielb1 commented on #41696
Adding `-Z no-landing-pads` makes things fast again. It *looks* like the problem is that LLVM somehow manages to cause an exponential # of landing pads while inlining.

[2017-05-02 20:29] nikomatsakis commented on #21222
I'm personally happy with the current behavior, I think.

[2017-05-02 20:30] nikomatsakis commented on #21222
I think I will close; I don't really see that there is anything to *fix* here.

[2017-05-02 20:30] #21222 closed

[2017-05-02 20:32] nikomatsakis commented on #41698
@oli-obk yes, I agree that this is strongly related to https://github.com/rust-lang/rust/issues/41695, though I guess that we can have the problem even if the messages aren't the same. It seems like suggestions ought to come last -- I wonder if the general rule should be that you add labels in order of precedence anyhow (i.e., given two labels with same span, we'd prefer the one added first?).

[2017-05-02 20:36] nikomatsakis commented on #41697
could be. let me try it on my big MIR refactoring branch =)

[2017-05-02 20:40] nikomatsakis commented on #23012
This comes up for me fairly regularly. It would be really nice to fix it. (e.g., it came up recently in https://github.com/nikomatsakis/rayon/pull/318)

[2017-05-02 20:42] nikomatsakis commented on #11740
Do we want to add a regression test, or should we just close?

[2017-05-02 20:49] dwrensha commented on #41697
I confirm that the error occurs at https://github.com/rust-lang/rust/commit/128aa262e8fe445f5c4d5c1f15dd28a2007c0234 but not at https://github.com/rust-lang/rust/commit/ad1461efb92ae85ce8227f52ca79149e368529d1. So it looks to me #41368 is indeed the culprit.

[2017-05-02 20:57] Mark-Simulacrum commented on #32863
I'm going to close this. I don't see anything in particular that's actionable in this issue, though I could be missing something.

[2017-05-02 20:57] #32863 closed

[2017-05-02 21:03] nikomatsakis commented on #41697
Yes. I can reproduce. Will investigate.

[2017-05-02 21:04] nikomatsakis commented on #32286
@Mark-Simulacrum so @soltanmm-google fixed the first part. The second part is.. in theory.. still an issue, but I propose we close this issue anyway, if we can't reproduce a problem. Doing so.

[2017-05-02 21:05] nikomatsakis commented on #32286
Meh, just realized there are still related FIXMEs in the code.

[2017-05-02 21:09] Mark-Simulacrum commented on #13520
I suspect, though am uncertain, that this now breaks within LLVM. It's possible that we run code in between, though, so I can't be certain. I'm also not sure what specifically is breaking, but the exit code is `1`.

Last few lines of time-passes:
[code]

[2017-05-02 21:10] clarcharr commented on #41196
Reposting my comment from #41207: the [`spin`](https://github.com/mvdnes/spin-rs/blob/master/src/util.rs) crate calls this function `cpu_relax`; maybe we should do something similar?

I'd much prefer `spin_loop_hint` or something similar to the current function name. We could even potentially have a warning that suggests using this function, or even better, have the compiler automatically add thes

[2017-05-02 21:22] nikomatsakis commented on #41677
So, I have a branch which fixes this by adding `WF(T)` constraints to the generalized type `T` whenever it includes an unconstrained type variable in a bivariant context. Currently testing now. Here is my comment from the code explaining why I think this makes sense (`Generalization<'tcx>` is the new result from the generalization code):

[code]

@arielb1 I opted for this strategy instead of addin

[2017-05-02 21:24] nikomatsakis commented on #20297
This is all still relevant but I feel this issue adds approximately zero value. Closing.

[2017-05-02 21:24] #20297 closed

[2017-05-02 21:26] nikomatsakis commented on #16860
@Mark-Simulacrum yeah seems like we should just close. We're not changing this behavior now.

[2017-05-02 21:26] #16860 closed

[2017-05-02 21:29] Mark-Simulacrum commented on #32861
Could someone provide a list of steps to follow to reproduce this? It's hard to tell exactly how to do this from the issue itself and I've been unable to come up with them based on ~10 minutes of utilizing Google.

[2017-05-02 21:32] nikomatsakis commented on #41646
For those readers who (like me) were not familiar with the `bad_style` group, it refers to a collection of 3 lints that enforce various capitalization conventions (e.g., `snake_case` methods, `SHOUTY_GLOBALS`, etc).

I'm in favor of renaming. I like `any_style` because it's short and easy to spell, but `#[deny(any_style)]` doesn't make any sense to me. =)

Regarding whether this ought to have an R

[2017-05-02 21:33] Mark-Simulacrum commented on #32747
I believe this is fixed:

[code]

[2017-05-02 21:33] #32747 closed

[2017-05-02 21:34] Mark-Simulacrum commented on #33280
Closing, since this was fixed, it seems.

[2017-05-02 21:34] #33280 closed

[2017-05-02 21:48] nikomatsakis commented on #16502
Personally I'm inclined to leave it as is and not change it.

[2017-05-02 23:34] Mark-Simulacrum commented on #32927
So I'm not really sure what about the second error message is bad, but I think that today's error is better. I'm going to close this since the error messages seem fine to me. Please leave a note stating what you'd prefer as a error message if you'd like this reopened, though.

[code]

[2017-05-02 23:34] #32927 closed

[2017-05-02 23:37] Mark-Simulacrum commented on #23252
I'm going to close in favor of #22750 since that issue has more discussion and this issue doesn't have a specific test case that I can see.

[2017-05-02 23:37] #23252 closed

[2017-05-02 23:40] Mark-Simulacrum commented on #33001
Without an isolated test case, or at least a GH repo of the code, I don't think this is an actionable bug, so I'm going to close. If you can get us either one, please do let us know and we'll reopen!

[2017-05-02 23:40] #33001 closed

[2017-05-02 23:44] Mark-Simulacrum commented on #33004
I think the solution with `-C link-args` is what we should go with for the time being until an RFC is proposed and merged that expands the link kinds. There's not much that can be done on the rustc side until that happens, so I'm going to close. Please reopen if we do actually have something actionable.

[2017-05-02 23:44] #33004 closed

[2017-05-02 23:48] Mark-Simulacrum commented on #33075
Did this happen? I'm not quite sure, but I feel like perhaps not. I think we do have a recent enough version of LLVM for this to be available....

[2017-05-02 23:49] Mark-Simulacrum commented on #33076
This no longer breaks. Closing.

[2017-05-02 23:49] #33076 closed

[2017-05-02 23:53] Mark-Simulacrum commented on #33073
I'm going to close this in favor of #37504, since that has much more elaborate discussion on this topic and the difficulties involved.

[2017-05-02 23:53] #33073 closed

[2017-05-02 23:55] Mark-Simulacrum commented on #33094
I think the error message has been sufficiently improved. Note that the first error now says that the method `foo` exists but the trait bound wasn't satisfied.

[code]

[2017-05-02 23:55] #33094 closed

[2017-05-03 00:14] nikomatsakis commented on #41417
@achernyak

wowsers, that *is* complex. And it even returns a `Ref`. Yeah, I don't really think we want to put that into a query just "as is". I wonder if we can break it down somehow.

[2017-05-03 00:49] shioju commented on #39336
@jdhorwitz are you still working on this? If not, I'd like to take it up. Thx.

[2017-05-03 01:18] cuviper commented on #41569
Here's my work in progress: https://github.com/cuviper/rust-installer/tree/oxidize

One script down (`gen-installer.sh`), three to go...

[2017-05-03 01:33] sirideain commented on #41689
No idea what caused this, but I fixed it by reinstalling Windows.

[2017-05-03 01:33] #41689 closed

[2017-05-03 02:17] lilydjwg commented on #41416
It shouldn't be in Cargo or gcc-rs etc, because they are the same in my case. Only rustc and rust-std are different.

[2017-05-03 03:13] aturon commented on #41646
I definitely don't feel this needs an RFC. I also wholeheartedly agree that we should change the name.

`nonstandard_style` or `alternative_style` seem good to me.

[2017-05-03 03:14] pravic commented on #33004
That telemetry feature was disabled within the one of VS2015 updates.

[2017-05-03 03:17] whitequark commented on #41646
Do we *really* want the "alternative facts" connotation? I can already see someone writing that awful snark and the HN frontpage it'll hit and I'd really rather not have it.

[2017-05-03 03:24] #41622 closed

[2017-05-03 03:30] aturon commented on #41646
@whitequark

Heh, I hadn't realized that the term "alternative" had gotten quite so poisoned! Anyway my preferences here aren't very strong.

[2017-05-03 03:35] ubsan opened #41718 "Allow less than all the generic parameters to be specified"
[code]

I want the middle one to work. There's no real reason for it not to, and it *does* work in C++.

[2017-05-03 03:44] withoutboats commented on #41646
I'm happy with any non-judgmental name, we can FCP the PR

[2017-05-03 03:44] whitequark commented on #41646
FWIW I like the `any_style` suggestion as it makes no statement about the particular style in question. I am not worried at all about this change leading to more deviation from conventions because:

  * humans are very good on exerting conformance pressure on their own, no need for the compiler assist;
  * the fact that warnings are emitted by default already make anyone new to Rust stop and think

[2017-05-03 03:53] InsidiousMind opened #41719 "unexpected panic with path+idents in Macro"
<short summary of the bug>

I tried this code:
lib.rs
[code]
[code]

I expected to see this happen: Able to use ident with path

Instead, this happened:
thread rustc panicked at 'Expected Def::Macro(..)', /checkout/src/librustc_resolve/build_reduced_graph.rs:513

## Meta
`rustc --version --verbose`:
[code]

Backtrace:
[code]

Hope this helps. I tried searching for an issue but did not see one

[2017-05-03 04:10] frewsxcv commented on #39949
Opened a PR that adds a doc example alongside `Duration::as_secs` that demonstrates calculating total number of seconds: https://github.com/rust-lang/rust/pull/41720

[2017-05-03 04:36] joshtriplett commented on #41646
Given that this comes up often in code translators (such as corrode), and potentially in binding generators as well, then having a more neutral alias for this seems appropriate.  I also don't think adding an alias needs an RFC.

I'm not going to add to the bikeshedding on the name itself.

[2017-05-03 05:37] TimNN commented on #41630
Sorry, I'm not really that much of a windows expert, although I can try and minify / reproduce if that also occurs when cross-compiling.

[2017-05-03 05:52] #40941 closed

[2017-05-03 05:52] #15677 closed

[2017-05-03 06:40] abonander commented on #41718
Being a language change, this belongs in https://github.com/rust-lang/rfcs.

Otherwise, you can also do this: `foo::<u16, _>(0u16)`

[2017-05-03 06:40] leonardo-m commented on #41718
Partial type application?

[2017-05-03 06:45] retep998 commented on #41718
What about `println!("{}", foo::<u16, _>(0u16));`?

[2017-05-03 06:45] jseyfried commented on #41646
`any_style` seems too broad -- it includes the standard style, so `#![deny(any_style)]` is weird.

I prefer `nonstandard_style` -- I think it's clearer than `alternative_style` since the latter could sound like we have an alternative in mind and isn't clear about to which it is alternative.

[2017-05-03 06:52] retep998 commented on #41703
Just because C++ finally exposes a sane way to create a path from UTF-8 does not mean that Windows internally uses UTF-8. Also, this isn't going to change the miles of crappy C and C++ code out there that uses narrow C/C++ standard library functions to work with files, which use some arbitrary narrow encoding which is *never * UTF-8 on Windows.

If your bytes are UTF-8, great, you can already triv

[2017-05-03 07:14] mitsuhiko commented on #41703
I never implied that this is the case. However utf-8 filesystem paths show up on windows just as much as on other platforms.

This is where you are not completely correct because on Linux there is absolutely no chance to assume an FS encoding. Which is why at least for many situations on Linux you do want to assume arbitrary bytes rather than utf-8 strings. Which is why I end up making different c

[2017-05-03 07:20] retep998 commented on #41703
Existing issues: https://github.com/rust-lang/rust/pull/27657 https://github.com/rust-lang/rust/pull/27390 https://github.com/rust-lang/rust/pull/26730

[2017-05-03 08:03] oli-obk commented on #41708
While this might be obvious to us, I've had students struggling strongly with these errors. When I tell them "just add an ampersand", they're like "Oh, that makes total sense".

I don't see that as reason not to do it. Could you elaborate?

[2017-05-03 08:14] kennytm commented on #41708
This should also handle `AsMut`, `Borrow`, `BorrowMut`.

[2017-05-03 08:17] oli-obk commented on #41708
`AsMut` and `BorrowMut` aren't as clear, since the object will be modified, so the user might also want to `bar.clone()`, but that can later be signalled through https://github.com/rust-lang/rfcs/pull/1941 and/or multiple suggestions

[2017-05-03 08:57] vadimcn commented on #37945
@luqmana: Looks like [this patch](https://reviews.llvm.org/D27114) causes a LLVM assertion: https://bugs.llvm.org/show_bug.cgi?id=32902.   Commenting out your changes in SROA.cpp makes assert go away.
(as of https://github.com/llvm-mirror/llvm/commit/edadbde29ab34a14b1463318f59ba44bb432fe3d)

[2017-05-03 09:45] GuillaumeGomez commented on #41704
It has been. You have this message only when running with `enable-commonmark`.

[2017-05-03 09:50] steveklabnik commented on #41704
Even then though, why is this test warning?

[2017-05-03 11:03] shioju commented on #41425
Looks like this issue has been resolved. Can someone close this please, so that people looking for issues to work on can skip this. Thanks.

[2017-05-03 11:05] qnighy opened #41723 "Underscore suffixes allowed in literals"
I found these pathlogical examples pass the lexer and the parser:

[code]

The reason is that

1. `scan_optional_raw_name` eats `_`, but reports no suffix.
2. `scan_number` distinguishes between decimal points and field/method syntax by `is_xid_start`, which in fact excludes `_`.

According to the reference, it seems these examples shouldn't be allowed.

Tested on stable (`rustc 1.17.0 (56124baa9

[2017-05-03 11:10] gnzlbg commented on #26847
Can't associated consts be part of the vtable/fat pointers?

[2017-05-03 11:13] withoutboats commented on #26847
Associated consts are inlined at compiletime, they can't have a value which is determined at runtime. This is a hard requirement for making things like const fn and const generics work.

[2017-05-03 11:25] gnzlbg commented on #26847
I think that having to write:

[code]

instead of just:

[code]

or

[code]

is a pain.

The value is determined at compile-time, but I am talking about being able to access that value at run-time via dynamic dispatch.

[2017-05-03 11:27] withoutboats commented on #26847
The value is not determined at compile time for the virtually dispatched type `Foo` (the trait object type).

[2017-05-03 11:30] gnzlbg commented on #26847
I did not say otherwise. What I did say is that currently there is no way to access this value at run-time but there should be one.

[2017-05-03 11:32] gnzlbg commented on #26847
Maybe the problem is that traits supports associated consts, and associated consts are _values_, but traits do not support associated values.

[2017-05-03 11:44] nagisa commented on #41708
Obvious way of doing this would involve making `AsRef` a language item or otherwise special in some other way. To me it is pretty clear that language and the standard library should be as independent as possible and IME a diagnostic is a pretty minor gain for the special casing involved.

One could imagine a similar diagnostic independent of library traits (e.g. always suggest a reference for "val

[2017-05-03 11:47] nagisa commented on #41704
I haven’t anything enabled or disabled. Documentation for the function or Cargo.toml (other than version number duh) hasn’t changed for almost a year now.

[2017-05-03 11:49] oli-obk commented on #41708
I fully agree that that is not desirable

In clippy we have similar diagnostics which in this case would simply check for `core::convert::AsRef` (see https://github.com/Manishearth/rust-clippy/blob/master/clippy_lints/src/utils/paths.rs#L3 for all the paths that we resolve manually).

[2017-05-03 12:00] qnighy commented on #41723
According to the reference, decimal points are optionally followed by another "decimal literal". Since `_` isn't a decimal literal, it shouldn't be allowed.

Here the parser is recognizing `_` in `10._` as a suffix rather than a decimal literal followed by the point. If not, `10._f64` would be lexed as `10._`+`f64`, but actually the parser complains `_f64` is not a valid suffix.

In addition, the

[2017-05-03 12:09] nagisa commented on #41712
So when I was implementing the MirPass stuff, I was imagining one would eventually be able to declaratively specify dependencies between the passes and the pass manager would sort of figure out the ideal order of the passes for each function, not unlike passes are handled in LLVM. All this falls out pretty nicely out of the query interface. So IME the future would look something like this:

[code]

[2017-05-03 12:20] #28848 closed

[2017-05-03 14:40] malbarbo commented on #41630
Thanks for your attention @TimNN. I'm cross compiling from a Linux machine. I minified the case. The problems seems to be with naked functions

[code]

Do you have any suggestion who to contact?

[2017-05-03 15:00] durka commented on #41719
First off this use of `concat_idents` seems suspicious, first because it operates on idents, not paths, and also it doesn't look like your macro will work due to hygiene (e.g. even [this](https://is.gd/GNB0bC) doesn't work). In general, the process of using `concat_idents` is as follows:

1. I have a problem
2. I can use `concat_idents` to solve this problem!
3. This problem is unsolvable

Anyhow,

[2017-05-03 15:05] alexcrichton commented on #41607
Ok thanks for testing @tspiteri! @vadimcn that [range of nightlies](https://github.com/rust-lang/rust/compare/91ae22a01...50c186419) notably includes https://github.com/rust-lang/rust/pull/40805 which I suspect is causing problems here.

After some investigation it seems that this is related to the switch to `static-nobundle` from the previous `dylib` link kind. The doc test is linking dynamically

[2017-05-03 15:10] FauxFaux opened #41726 "nightly only: internal compiler error: broken MIR (Terminator .."
This (probably incorrect) program causes nightly rustc to panic:

[code]

[code]

[code]

On the beta, instead you get:
[code]

[2017-05-03 15:17] hsivonen commented on #41443
Verified fixed in rustc 1.19.0-nightly (6a5fc9eec 2017-05-02) on both PPC64 and mips (32-bit big-endian).

Thank you.

[2017-05-03 15:37] GuillaumeGomez commented on #41704
Strange, I'll take a look then.

[2017-05-03 16:01] jorendorff commented on #10184
The book I'm writing with @jimblandy, _Programming Rust_, mentions this bug.

Our deadline for this chapter is May 19. I'd love to delete that last paragraph, but I feel like we should at least have some kind of plan here first.

Apparently [current JavaScriptCore uses an interesting hack](http://trac.webkit.org/browser/webkit/trunk/Source/JavaScriptCore/runtime/MathCommon.h?rev=215516#L69) on x86

[2017-05-03 16:14] vks commented on #10184
Honestly I think we should deprecate numeric casts with `as` and use `From` and `TryFrom` or something like the conv crate instead.

[2017-05-03 16:21] durka commented on #41719
Ah, now I see the problem, it is in fact looking for the macro `GlobalRegisters::concat_idents`. Minimized:

[code]

cc @jseyfried

(My sense that even after we fix the ICE, this approach to your problem is not going anywhere, still stand.)

[2017-05-03 16:35] TimNN commented on #41630
This affects 64bit MinGW and Msvc targets, here is a non-core repro:

[code]

I'l get try and get some minified IR.

Nominating since this breaks `rust-lang-nursery`.

[2017-05-03 16:43] TimNN commented on #41685
Potentially related to #41630.

Looks like https://bugs.llvm.org/show_bug.cgi?id=32335, in which case this should be fixed by https://github.com/llvm-mirror/llvm/commit/3993050daa60a8d5265c64800157c64585495fcc.

I see if backporting that patch fixes the issue.

[2017-05-03 16:46] jorendorff commented on #10184
Maybe so, but that seems orthogonal to me.

[2017-05-03 17:05] thiolliere opened #41727 "beta and nightly regression: type inference in closure"
on nightly and beta [my code](https://github.com/thiolliere/airjump/tree/9557d73d334001d3ded7ce2fc18ea49f120a8363) doesn't compile because the type of a value is unknown:
[code]
But it compiles on stable.

stable: rustc 1.17.0 (56124baa9 2017-04-24)
beta: rustc 1.18.0-beta.1 (4dce67253 2017-04-25)
nightly: rustc 1.19.0-nightly (6a5fc9eec 2017-05-02)

[2017-05-03 17:39] nagisa commented on #27783
For unicode stuff, now that we can use crates.io crates in rustc build system, could the crates.io crates be used?

[2017-05-03 17:53] Mark-Simulacrum commented on #32872
So looking at the expanded code, it looks like the problem is with the impl of Copy for `FwdIter`. The current implementation only requires that `Meta: Copy`, but that doesn't mean that `Meta::AssocType: Copy`, which leads to this error. I think this is a bug in the derive code, but I'm not sure it's all that easy to fix--if even possible--because in order to know whether `Meta::AssocType: Copy` i

[2017-05-03 17:56] brson commented on #35896
@jseyfried @nikomatsakis I'm also interested in the status of this. Can it be activated for 1.19?

[2017-05-03 17:57] Mark-Simulacrum commented on #33162
The example given now compiles. Does that mean this is fixed?

[2017-05-03 17:58] Mark-Simulacrum commented on #32725
The original example now compiles, closing.

[2017-05-03 17:58] #32725 closed

[2017-05-03 18:00] brson commented on #32836
The path is clear to get this into 1.19. Anybody on the hook for it? cc @joshtriplett

[2017-05-03 18:00] Mark-Simulacrum commented on #33172
I'm going to close in favor of #32574. Thanks for the issue, though.

[2017-05-03 18:01] Mark-Simulacrum commented on #32574
#33172 has good reproduction instructions.

[2017-05-03 18:02] nagisa commented on #35118
Should we consider stabilisation now?

The thing has been baking for a while now and seems to mostly work (as evidenced by rustc itself, which is the largest user of i128, not breaking). The few issues that are still open are bugs, mostly on the LLVM side, and do not affect tier 1 platforms.

[2017-05-03 18:05] brson commented on #39817
cc @rust-lang/lang Is this ready for FCP? Can it get in for 1.19?

[2017-05-03 18:11] ubsan commented on #41718
opened at https://github.com/rust-lang/rfcs/issues/1989

[2017-05-03 18:11] #41718 closed

[2017-05-03 18:18] TimNN commented on #41630
IR:

[code]

Upstream bug: https://bugs.llvm.org/show_bug.cgi?id=32912

[2017-05-03 18:19] nagisa commented on #41727
Quite likely to be the accepted-sort-of-breakage – we allow ourselves to break code that relies of inference, because otherwise it would be impossible to add new trait implementations.

[2017-05-03 18:27] m4b commented on #32721
Linker flavor seems to have been implemented in  https://github.com/rust-lang/rust/pull/40018

I still think -linker is misleading :P but it's too late to change I think.

Closing this issue, tho I suspect as more people experiment with cross linking more people will be confused by the name choices ;)

Anyway the cross compilation story in rust is getting really exciting, awesome work everyone !

[2017-05-03 18:27] #32721 closed

[2017-05-03 18:32] SimonSapin commented on #27730
Would it make sense for `NonZero` to be an attribute of fields rather than a wrapper type? That would enable `string_cache::Atom` to use it. Currently it can’t because we have a macro that expands to an `Atom` struct literal that can be used as a pattern in a `match` expression, so all transitive fields must be public.

[2017-05-03 18:33] gdepoire opened #41731 "the recursive limit doesn't work with println! and other macros"
This code makes the compiler crash with a stack overflow (tested on the playground):

[code]

You can try this code on [the playground](https://play.rust-lang.org/?gist=b32f8a9204baf482cab6fa0f243e7cfc).

If you replace the `println!` by a `print!`, the compiler will crash with a segmentation fault instead.
You can try this on [the playground](https://play.rust-lang.org/?gist=290855cc2d227cbc16f62

[2017-05-03 18:41] m4b commented on #33863
Still here in latest nightly ...

[2017-05-03 18:41] TimNN commented on #41727
@nagisa: Out of curiosity, what does XID mean in this context?

Also, could this be a duplicate of #41677?

[2017-05-03 18:42] Mark-Simulacrum commented on #31367
Is there something in particular that is left to do here? I can't quite see any "bug" in this issue, though it would be great to document what @japaric says about getting a seemingly correct data layout somewhere.

[2017-05-03 18:45] nagisa commented on #41727
@TimNN inference “breaking” due to new implementation(s) of trait(s).

[2017-05-03 19:03] InsidiousMind commented on #41719
Thanks!

Yeah I thought it was mostly my fault (I am in the process of learning), but still found it odd that the compiler should panic. In any case, hopefully I helped through my own misdirection!

[2017-05-03 19:05] TimNN commented on #41630
Potential patch: https://reviews.llvm.org/D32822

[2017-05-03 19:08] withoutboats commented on #39817
It seems to be fully implemented, but I don't know if anyone has actually had any experience using it. Any users who have, it would be great to hear from you.

I don't have any objection to stabilizing in principle, don't know about anyone else. I'd like to know that someone has used it and not had any ICEs or anything though.

[2017-05-03 19:37] alexcrichton commented on #38851
We just recently restructured how Android tests are run, so I'm going to close this.

[2017-05-03 19:37] #38851 closed

[2017-05-03 19:49] Mark-Simulacrum commented on #21403
Closing.

[code]

[2017-05-03 19:49] #21403 closed

[2017-05-03 19:57] Mark-Simulacrum commented on #33241
I am now getting a segfault in LLVM, but I'm uncertain whether that's actually the case, or just a local build problem.

[code]

[2017-05-03 19:59] eddyb commented on #33241
Looks like `from_immediate` called on a NULL pointer? Probably some missing check that something is *indeed* unsized, with *actual* metadata to go alongside it.

[2017-05-03 20:00] bstrie opened #41732 "Remove unnecessary unstable features from libsyntax (and all transitive dependencies) to allow rustfmt to work on stable and enable the deprecation of syntex"
rustfmt needs to parse Rust code. Its options are libsyntax and syntex. @erickt (and everyone else) wants to deprecate syntex now that it's no longer needed for Serde. But libsyntax uses unstable features, which means that it will make people require a nightly compiler in the same vein that clippy currently does (i.e. will need to have one installed, but will not infect user code with nightliness)

[2017-05-03 20:01] ubsan commented on #41732
ping #41729

[2017-05-03 20:03] bstrie commented on #41732
Tracking issue for stabilizing i128: https://github.com/rust-lang/rust/issues/35118

[2017-05-03 20:35] GuillaumeGomez commented on #41704
Ok, so I just downloaded your library and ran the following:

[code]

Nothing out of the ordinary. :-/

[2017-05-03 20:42] Mark-Simulacrum commented on #33259
This no longer causes any warnings, other than `rhs` being unused, so I'm going to close.

[2017-05-03 20:42] #33259 closed

[2017-05-03 20:43] bluss commented on #33162
Yes, it's fixed entirely in the spirit of the issue (as long as it is not a mistake). This is great, and thanks for the triage.

(The issue showed up when working to make arrayvec Copy opportunistically, let's revisit that and see how it goes..)

[2017-05-03 20:43] #33162 closed

[2017-05-03 20:44] est31 commented on #35118
What about the `repr(i128)` issue with enums? Is it solved in some way?

[2017-05-03 20:46] Mark-Simulacrum commented on #33270
So this still happens (exact output below), but from discussion I get the impression that there's not actually anything concrete to be done here: just needs what I presume to be miri to be merged into rustc. As such, I'm going to close--but please do reopen if I missed something.

[code]

[2017-05-03 20:49] #33270 closed

[2017-05-03 21:02] nikomatsakis commented on #33273
I agree it should compile; there are some long-standing issues with our handling of `for<>` bounds. The plan is to clean up them via a larger initiative (https://github.com/rust-lang/rust-roadmap/issues/8).

[2017-05-03 21:16] Mark-Simulacrum commented on #33264
With @tqoitc's code sample updated to not have clobbers in braces and somewhat minimized, [this](https://gist.github.com/Mark-Simulacrum/2f5ee7b698020f4293a6c25e9b407d5a) is the ICE I get. Updated code is also included below.

[code]

[2017-05-03 21:21] nagisa commented on #41704
Ok, it seems to not happen with the most recent nightly. Mayhaps some backporting is in order?

[2017-05-03 21:23] #41704 closed

[2017-05-03 21:25] nagisa commented on #35118
What’s the issue with `repr(i128)` enums? We might need to "fix" `discriminant_value` for that, but that’s it, I think?

[2017-05-03 21:26] Mark-Simulacrum commented on #33286
So this is a duplicate of #31393 (which I've closed in favor of this), but the conclusion reached there appears to be incorrect to me.

@alexcrichton noted in #31393 that if we only check git commits it'll suffice for "these should link together." However, that won't work for this issue's case since there is no commit hash for the version, as far as I can tell. I'm not sure what the right steps ar

[2017-05-03 21:27] Mark-Simulacrum commented on #31393
Closing as a duplicate of #33286. However, in trying to summarize what needs to be done I realized we don't always have a commit hash on hand (e.g., when building from the source tarballs) so the solution reached here won't quite work I think, and I noted this there.

[2017-05-03 21:27] #31393 closed

[2017-05-03 21:37] Mark-Simulacrum commented on #11962
Closing in favor of #22644.

[2017-05-03 21:37] #11962 closed

[2017-05-03 21:38] Mark-Simulacrum commented on #33237
The test no longer uses `#[unsafe_no_drop_flag]`, so I'm going to close this--but please reopen if I'm wrong.

[2017-05-03 21:38] #33237 closed

[2017-05-03 21:43] est31 commented on #35118
yeah. I remember having heard about some problem with debuginfo/gdb, but maybe I mixed up something, and even if that's a bug so probably can be fixed later on as well.

[2017-05-03 21:44] leodasvacas commented on #39817
Use case I found for this:
Implementing a trait for any `T: Fn() + 'static` can cause coherence issues, it's sufficient for my use case to implement it for `fn()`. However that means it's not implemented for closures which sucks for ergonomics. Haven't had much hands on experience with the feature though.

[2017-05-03 21:47] Mark-Simulacrum commented on #33299
I feel like there's nothing concrete to be done here, and discussions such as these are better left for internals.rust-lang.org, so I'm going to close.

[2017-05-03 21:47] #33299 closed

[2017-05-03 21:56] nrc commented on #41732
I'm also in favour of this solution, we were independently discussing it on twitter last night :-)

The other major Syntex client is bindgen. I don't think forcing Rustfmt and Bindgen into the rustup distro model (necessary for stability) is a good idea, really.

IIRC actually making libsyntax stable is a bigger job than we might think, perhaps @erickt or @dtolnay  could give estimates of how much

[2017-05-03 22:03] est31 commented on #39817
[this gives a list of people using the feature on github](https://github.com/search?l=Rust&q=closure_to_fn_coercion&type=Code&utf8=%E2%9C%93). Maybe ask them?

I personally was (positively) surprised that the Rust ABI for having `()` as the type of an argument is the same ABI as not having that argument. We are relying on that fact in the implementation, but most likely when that changes it will b

[2017-05-03 22:08] Mark-Simulacrum commented on #33307
@arielb1 You were assigned to this issue, but I don't believe it's been implemented. Should we unassign you?

[2017-05-03 22:17] nagisa commented on #35118
Oh right, I remember now. There’s a few APIs in LLVM that do not allow for i128, most notably those related to discriminants in debug info or some such.

[2017-05-03 22:53] pornel commented on #11857
For those landing from Google here:

## [realpath has been added as `fs::canonicalize`](https://doc.rust-lang.org/std/fs/fn.canonicalize.html)

[2017-05-03 22:58] Mark-Simulacrum commented on #33397
I admit to not really understanding the save-analysis output, but I think that there is a reference to Clone now, https://gist.github.com/Mark-Simulacrum/7d125a52e8be6151c54e97735d758185.

[2017-05-03 22:58] #33397 closed

[2017-05-03 23:01] Mark-Simulacrum commented on #33398
The save-analysis [output](https://gist.github.com/Mark-Simulacrum/0222c6d5c8ba06fac9c722ed40455565) appears to no longer have a `ctor_id` field, so I'm going to close this.

[2017-05-03 23:01] #33398 closed

[2017-05-03 23:03] Mark-Simulacrum commented on #33395
I don't have the Arietta board to test it on, but rustup.sh is no longer the preferred way to install Rust. I'm going to close this, but please reopen if this is still a problem.

[2017-05-03 23:03] #33395 closed

[2017-05-03 23:05] #22066 closed

[2017-05-03 23:06] Mark-Simulacrum commented on #33418
Unfortunately, this hasn't improved much since then, though the unexpected `?` message is now much better. I'm also not sure what a good message would be for the first case--does anyone have any suggestions so that we can make this bug more actionable?

[code]

[2017-05-03 23:12] durka commented on #33418
Is "negative trait bounds are not supported" too straightforward?

On Wed, May 3, 2017 at 7:07 PM, Mark Simulacrum <notifications@github.com>
wrote:

[2017-05-03 23:14] Mark-Simulacrum commented on #33418
That would work. Thanks for the suggestion!

[2017-05-03 23:15] est31 commented on #41646
As someone who has been annoyed by some C++ codebases that despite having official casing rules use different casing styles in parallel (including libraries using different casing styles), I am glad of those checks to be in the compiler and default on, because they create consistency. I believe this wish of consistency in this issue to be universal, so this isn't just a style issue where everyone

[2017-05-03 23:15] Mark-Simulacrum commented on #33477
The code for this was never linked, as far as I can tell, so I'm going to close this issue since reproducing and as such fixing this is likely impossible.

[2017-05-03 23:15] #33477 closed

[2017-05-03 23:21] archshift commented on #39817
For the record, #40204 (which affects this feature) is yet unresolved.

[2017-05-03 23:24] Manishearth commented on #41646
No more than `#![forbid(bad_style)]`.

Beginners _already_ see that the style is not great. This is just about making it possible to design your own beginner experience without feeling bad about it. This doesn't change the warning's existence, it just changes the name so that it isn't discouraging when disabled.

[2017-05-03 23:35] ubsan commented on #41732
@nrc maybe not a couple of hours, but I believe someone could do it within a week, given stable `u/i128`.

[2017-05-03 23:48] est31 commented on #40204
With current nightly this doesn't ICE any more, but gives an error:

[code]

Is this a problem?

[2017-05-04 00:01] nrc commented on #40921
I agree that we need some solution here, but I think moving Clippy in tree is definitely the wrong one.

To be clear, the RLS does not live in-tree, it lives in its own repo and there is a submodule in-tree which is only used for dist builds. That seems like the upper limit on integration we should accept for Clippy.

The goal here is to make Clippy available on stable, IMO it would be great to do

[2017-05-04 00:10] Manishearth commented on #40921
So @brson and @alexcrichton and I have discussed this in the past and the reason the solution was moving it in tree was because the nightly dist build should never fail, basically, and they wanted nightly builds to be the same as any other CI build.

I am okay with the submodule, but the issue was that this creates friction for people who want to make breaking changes to APIs clippy consumes, so t

[2017-05-04 00:10] Mark-Simulacrum commented on #20936
So testing these locally today, we see ~4 second expansion of deep-vector.rs and ~66 second expansion of deep-vector2.rs. Are we interested in returning these to the tree?

For reference, I retrieved them by doing the following:
[code]

[2017-05-04 00:11] Manishearth commented on #40921
The default plan here is not to have any "integration with rustc", but to make clippy a subfolder in the Rust repository that can be optionally built that CI gates on. The resultant dylib will just float around in the build dir. Rustc won't be aware of it.

(Well, rustc will need to be aware of it a _tiny_ bit so that `cargo-clippy` can load the plugin without hitting stability issues)

[2017-05-04 00:21] Mark-Simulacrum commented on #32852
Closing in favor of #22644.

[2017-05-04 00:21] #32852 closed

[2017-05-04 00:25] Mark-Simulacrum commented on #31036
@brson Do we want to go with the `pdksh` approach suggested above? That seems to be the best option based on discussion above.

[2017-05-04 00:28] Mark-Simulacrum commented on #33527
Today, this errors with the following, which seems correct to me... should this be closed?

[code]

[2017-05-04 00:30] Mark-Simulacrum commented on #33506
I'm marking this as E-easy because all that needs to be done is to remove `Self: Sized` from [here], I believe.

[here]: https://github.com/rust-lang/rust/blob/2d4ed8e0cbe2c5f3763273a5d8f6b15119473ba7/src/libsyntax/parse/lexer/mod.rs#L76

[2017-05-04 00:34] Mark-Simulacrum commented on #33545
Closing in favor of #4287.

[2017-05-04 00:34] #33545 closed

[2017-05-04 00:38] Mark-Simulacrum commented on #33400
From the original issue description, this now compiles, so I'm going to close.

[code]

[2017-05-04 00:38] #33400 closed

[2017-05-04 00:41] Mark-Simulacrum commented on #33536
This has since been fixed.

[code]

[code]

[2017-05-04 00:41] #33536 closed

[2017-05-04 00:42] Manishearth commented on #40921
After discussing with @nrc on IRC, we're leaning towards this proposal. It's different from the original:

Clippy is a submodule (or a pinned commit, w/e). Built on each commit, with notifications to clippy devs or something when it breaks. Built in dist, if it builds it is included, if not the dist is partial (but still published!). The notifications bit isn't necessary for this design, but would

[2017-05-04 00:43] Mark-Simulacrum commented on #33869
Closing in favor of #33575.

[2017-05-04 00:43] #33869 closed

[2017-05-04 00:45] frewsxcv commented on #38831
Would extending `static_in_const` to work with associated constants be a controversial move? Is there any reason it shouldn't be done other than not explicitly being spelled out in the RFC?

[2017-05-04 00:47] Mark-Simulacrum commented on #33070
No longer ICEs.

[2017-05-04 00:47] #33070 closed

[2017-05-04 00:50] Mark-Simulacrum commented on #31426
This no longer ICEs, and gives the following error, which is correct: closing.

[code]

[2017-05-04 00:50] #31426 closed

[2017-05-04 00:54] Mark-Simulacrum commented on #31774
This has been fixed, so closing.

[code]

[2017-05-04 00:54] #31774 closed

[2017-05-04 00:55] Mark-Simulacrum commented on #31647
No code to allow reproducing this, so I'm going to close. Please reopen with a code sample if possible.

[2017-05-04 00:55] #31647 closed

[2017-05-04 00:56] Mark-Simulacrum commented on #27430
This no longer ICEs, and I don't think that tracking the unimplemented constant evaluation makes sense--having a specific tracking issue for that won't make it get implemented, it'll come with miri's merge into rustc.

[2017-05-04 00:56] #27430 closed

[2017-05-04 01:07] Mark-Simulacrum commented on #33690
Note: Probably quite similar if not the same as #33575.

[2017-05-04 01:08] Mark-Simulacrum commented on #24810
Closing, as per the note in the previous comment.

[2017-05-04 01:08] #24810 closed

[2017-05-04 01:10] Mark-Simulacrum commented on #33722
Since there's no code to reproduce this, I'm going to go ahead and close... if this is hit again, we can fix at that point.

[2017-05-04 01:10] #33722 closed

[2017-05-04 01:11] Mark-Simulacrum commented on #23460
Closing since this is fixed.

[2017-05-04 01:11] #23460 closed

[2017-05-04 01:13] Mark-Simulacrum commented on #33751
Plenty of errors, but no ICE, so closing.

[code]

[2017-05-04 01:13] #33751 closed

[2017-05-04 01:49] jseyfried commented on #39336
@shioju feel free to pick it up :)

[2017-05-04 02:06] frewsxcv commented on #39949
Is there anything actionable left to do here from a docs standpoint? Seems like the remaining discussion in the GitHub Issue is related to new functionality on `Duration`, which is more a libs thing, less of a docs thing

[2017-05-04 02:19] mgattozzi commented on #40902
I talked with @nikomatsakis about this at the Boston Rust meetup and he told me to write up a list for this. Here are a few things I think should also be covered:

- Documentation for rustc types should be added. Currently we have to go to @Manishearth's [site](https://manishearth.github.io/rust-internals-docs/) to get access to the internal docs. New comers might not know what a `Ty` or `Ctx` is.

[2017-05-04 02:29] kennytm commented on #41732
Could i128 simply be `cfg`'ed out when not compiling in nightly?

[2017-05-04 02:39] kennytm commented on #39590
cc #35118 (i128 tracking issue)

[2017-05-04 03:02] kennytm commented on #38763
Still ICE-ing but with a different stack trace.

[code]

Relevant line I guess (there is only one unwrap right?): https://github.com/rust-lang/rust/blob/b16c7a235fa0f57fed6b7ec13ffd3cff1bcdd9ad/src/librustc_trans/cabi_x86_64.rs#L246

[2017-05-04 03:20] Mark-Simulacrum commented on #5856
So I'm not quite sure what the status here is. @thestinger is correct as I understand it: this cannot be fixed without crippling LLVM's optimizations. So should this be closed?

[2017-05-04 03:20] mcandre opened #41737 "Spurious unused import warning when import used by #[test] code"
If `thread::sleep()` is used in `#[test]` code, but not by the rest of a lib, then the Rust compiler complains that the import is unused.

:/

Rust 1.16.0 / macOS 10.12.4

[2017-05-04 03:21] mgattozzi commented on #29370
@steveklabnik we should probably update the state of this issue since a few things have landed.

[2017-05-04 03:24] Mark-Simulacrum commented on #41737
As I understand it, this is because `#[test]` has the same effect as `#[cfg(test)]`, so this code simply isn't compiled; I'm not sure how much we can do about this case, though I agree if we could do better that would be great. `#[cfg(test)]` on the import should work though, at least as a temporary workaround.

[2017-05-04 03:39] ubsan commented on #41732
@kennytm you'd have to have some sort of replacement, which means using a struct, which means `as` casts would have to be flipped over to, like, `.into()`, probably.

[2017-05-04 03:40] ubsan commented on #41732
It wouldn't be a huge deal, but it would be a deal.

[2017-05-04 03:41] kennytm commented on #41732
@ubsan Is it possible to use the `rustc_i128` approach i.e. `type u128 = u64;` when it is not supported?

[2017-05-04 03:48] Mark-Simulacrum commented on #22221
I'm not quite sure how to triage this, since this doesn't compile at all today. Perhaps this should be closed until `as Box<_>` becomes possible?

[code]

[2017-05-04 03:49] Manishearth commented on #40902
I can help answer qs about internal types for documentation, but probably will never get around to doing it myself. I did do a preliminary pass a few years ago adding basic docs to the most common types.

[2017-05-04 03:51] Mark-Simulacrum commented on #22488
That error is correct; but either way, the other error you get today is this, which while not ideal, is possibly the best we can do. I guess we could look for a `new` method with a single parameter? But that seems hacky.

[code]

[2017-05-04 03:53] Mark-Simulacrum commented on #22694
This now works, closing.

[2017-05-04 03:54] alexcrichton commented on #33286
I believe it boils down to [these lines of code](https://github.com/rust-lang/rust/blob/b16c7a235fa0f57fed6b7ec13ffd3cff1bcdd9ad/src/bootstrap/compile.rs#L479-L488) in the build system right now. They don't work (return `None`) when built from a tarball, and we need them to operate the same in and out of a tarball.

As to how to do that, I'd be fine with just generating some file during the creati

[2017-05-04 03:54] Mark-Simulacrum commented on #27314
This now works. Closing.

[2017-05-04 03:54] #27314 closed

[2017-05-04 04:05] Mark-Simulacrum commented on #28434
Could someone provide a quick summary of how to reproduce this? Otherwise I think we should close.

[2017-05-04 04:44] ubsan commented on #41732
@kennytm that seems... bad?

[2017-05-04 05:10] aturon commented on #41617
cc @nikomatsakis @eddyb @arielb1

[2017-05-04 05:36] kennytm commented on #41732
@ubsan Sufficient if the crippled libsyntax won't touch 128-bit literals 😄. The 128-bit types are used solely for `LitKind::Int`.

If a custom structure is needed, it only needs to provide `u128::from_str_radix`, impl `Display`, and impl `From<u64>` (and all primitives).

----

The dependencies of libsyntax is in a worse shape though, in particular `rustc_data_structures` (this should be swapped t

[2017-05-04 05:59] mcandre commented on #41737
Cool,

[code]

works for me!

[2017-05-04 05:59] #41737 closed

[2017-05-04 06:09] clarcharr commented on #38831
I personally would be careful to only default to `'static` if the impl doesn't have any lifetime parameters. But otherwise it'd make sense imho.

[2017-05-04 06:29] durka opened #41740 "struct constructors are some kind of weird type/path hybrid"
Is this a known issue?

Consider the following setup:

[code]

You can construct a `Bar`:

[code]

Now I want to try it with a macro.

[code]

The obvious thing doesn't parse at all:

[code]

We need to remove the second `::`, which makes things inconsistent with the macro-less syntax:

[code]

Why this inconsistency? It seems like a struct constructor isn't really a `path`. But that's the only ma

[2017-05-04 06:35] #41425 closed

[2017-05-04 06:37] mikeyhew commented on #34303
I'd like to help implement this. Where do I start?

[2017-05-04 06:39] scottmcm commented on #41414
I'm definitely interested.  I'd been pondering what a solution could look like, but wouldn't have dared propose a new coercion.

[2017-05-04 06:50] TimNN commented on #22694
@Mark-Simulacrum: Are you sure, this is still broken for me on `rustc 1.19.0-nightly (2d4ed8e0c 2017-05-03)`.

(Did you uncomment the two commented lines which cause the problem?)

[2017-05-04 06:53] dtolnay commented on #41617
This may be a duplicate of #21974.

[2017-05-04 06:56] oli-obk commented on #40921
Sgtm. I wonder if we could automatically load the plugin if anyone writes `#[warn(clippy)]`

[2017-05-04 08:25] scottmcm commented on #33417
First of all, thank you @sfackler for a great conversation about this on IRC.  After letting things sit in my head for a bit, here's where I ended up.

I think the core question here is whether infallible conversions belong in the trait.  I think that they do, for things like the infallible conversions in the RFC and for generic use (analogous to how there's the seemingly-useless `T:From<T>`).  Gi

[2017-05-04 09:09] tommyip commented on #33506
I would like to take this issue.

[2017-05-04 09:26] kennytm opened #41742 "ICE (re-trying op failed) when trying to use IndexMut with wrong index type"
(Found while trying to reduce #41726, but I guess it is a different bug)

[code]

Error in nightly:

[code]

[code]

------

Additionally, on stable 1.17.0 and beta 1.18.0-beta.1 this program prints the error E0308 twice,

[code]

[2017-05-04 09:28] steveklabnik commented on #39949
From https://github.com/rust-lang/rust/issues/39949#issuecomment-280901552, looks like there's other issues for the other libs parts of this. Let's close.

[2017-05-04 09:28] #39949 closed

[2017-05-04 09:59] gnzlbg commented on #29717
So I managed to come up with something: https://internals.rust-lang.org/t/pre-rfc-stabilization-of-target-feature/5176

It sketches a plan for stabilization, and mentions what should be implemented before that happens. In a nutshell we just need two white-lists (one for stable and one for unstable target features), a way to error/warn on stable rust when unknown/unstable target features are used,

[2017-05-04 10:03] hsivonen opened #41743 "-Zdebug-macros should either be the default or continue to be available on release-channel compiler"
Firefox is built with release-channel Rust, and `-Zdebug-macros` is [needed](https://bugzilla.mozilla.org/show_bug.cgi?id=1360497) to get useful debuggability, crash/panic reporting and profiling attributability for Rust code in Firefox.

According to build-time output, [the option is going to go away from the release-channel compiler](https://github.com/rust-lang/rust/issues/31847). It [seems](ht

[2017-05-04 10:11] tatref commented on #40944
I this this can be troublesome for beginners, since this can pop up anywhere. Other example:
[code]

Error message:
[code]

[2017-05-04 10:23] steffengy opened #41744 "[Nightly] LLVM Assertion: SrcTy must be larger than DestTy for Trunc"
Last good version: `rustc 1.19.0-nightly (6a5fc9eec 2017-05-02)` (previous nightly)
Version: `rustc 1.19.0-nightly (2d4ed8e0c 2017-05-03)`

Unfortunately I can't provide a small testcase for reproduction,
but the following works reliably:

### Reproduction

EDIT: For readability the reduced example from below:
[code]

OLD:
[code]

### Output:
[code]