[2021-02-02 11:22] Mark-Simulacrum commented on #81657
Is there a reason to cfg attr the deny? I think with cap lints it won't matter non-locally, though I suppose if you have a large workspace you may not be the maintainer of some of the proc macros.

Generally speaking, this does seem desirable - providing a localized warning in cases where folks do want to know of upstream expansion feels on topic for non_exhaustive.

[2021-02-02 12:00] Nemo157 opened #81661 "Inner tool attributes emit spurious unused attribute warning"
I tried this code:

[code]

[code]

I expected to see this happen: No warnings and `bar.rs` will not get formatted by `cargo fmt`.

Instead, this happened: `cargo build` emits a warning, `bar.rs` is correctly not formatted by `cargo fmt`.

[code]

While trying to minimize I changed `mod bar` to be an inline module, but that hits the unstable `custom_inner_attributes` feature (https://github.com/ru

[2021-02-02 12:05] Nemo157 opened #81662 "Rustdoc does not obey --error-format for doctests error messages"
I tried this code:

[code]

I expected to see this happen: Running `cargo test --doc --message-format=short` uses short messages for all errors

Instead, this happened: The build failure for the doc test emits full error messages:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2021-02-02 12:17] lcnr commented on #79356
i think the same problem should also be also responsible for the cycle error in this example:
[code]

[2021-02-02 12:46] tmiasko commented on #81658
An example below (makes no attempt to reproduce FFI aspect since as far as I can see FFI doesn't read the field per se), warns that field `f` is never read; behaviour changed in `rustc 1.51.0-nightly (04caa632d 2021-01-30)`:

[code]

In this case there is an implied read of the field by the drop implementation, so there should be no warning. If the type of field were `Copy`, the warning would be a

[2021-02-02 13:01] sanxiyn commented on #81658
I think I would want a warning for @tmiasko's example, but maybe that's not appropriate for a default-on lint in the compiler (as opposed to Clippy). I can certainly change it to `Copy` fields.

[2021-02-02 13:09] m-ou-se commented on #81654
This is failing because `<integer>::BITS` was added to the standard library and stabilized yesterday: https://github.com/rust-lang/rust/issues/76904

This constant is a `u32` in the standard library, but `Limb::BITS` used to resolve to a `usize` constant associated to a trait. The code now fails because it gets an `u32` where it expects a `usize`.

Unfortunately, breaking things like this is alway

[2021-02-02 13:09] jplatte commented on #70516
Currently, SQLx contains

[code]

The UTF-8 check that is included in there, while not a problem in practice, seems pointless but changing to `var_os` lands me here because of the `eq_ignore_ascii_case`. Also, if somebody did a similar thing with `.ok()` instead of `.unwrap_or(...)`, the `var_os` version could drop that and would then be a bit less noisy.

[2021-02-02 13:11] HTG-YT commented on #81654
So would it be more of an issue on `lexical-core` side?

[2021-02-02 13:13] sanxiyn commented on #81658
Note that `Drop` is not considered in the lint already in stable:

[code]

`S.s` is reported dead in stable. Should I fix it together?

[2021-02-02 13:25] Shnatsel commented on #75017
#79015 has implemented that, albeit as a private function. Sounds like a good idea to me.

[2021-02-02 13:25] m-ou-se commented on #81654
It wasn't really a bug in `lexical-core` or any other crate. This is just what can happen when adding new names to the standard library. There is never a guarantee that `Type::something` will always resolve to the same trait, since types can always add their own associated constants and methods.

`lexical-core` could fix this issue by explicitly using `<Limb as SomeTrait>::BITS` instead.

Dependin

[2021-02-02 13:26] tesuji commented on #70516
#80193 is an stabilization PR.
Since lib team wants to do fcp in the tracking issue. @m-ou-se could you start one ?

[2021-02-02 13:26] HTG-YT commented on #81654
Makes sense.

[2021-02-02 13:30] m-ou-se commented on #81654
`rustc` does warn for potential breakage before things are stabilized:

[code]

However, those warnings are only visible when comping the crate directly (or as a local dependency), not when compiling it as an remote dependency, to avoid flooding end-users with warnings for crates they are not working on.

[2021-02-02 13:32] HTG-YT commented on #81654
I wished I could just clone the crate and make the changes myself, but the only issue is it is a dependency used by sqlformat which is a dependency used by sqlx. Is there _some way_ to force sqlformat to use my local version instead of the remote version on crates.io?

[2021-02-02 13:37] m-ou-se commented on #81654
@HTG-YT Yes, that should be possible with a `[patch]` section in your `Cargo.toml`: https://doc.rust-lang.org/cargo/reference/overriding-dependencies.html#the-patch-section

[2021-02-02 13:43] HTG-YT commented on #81654
Thanks

[2021-02-02 13:48] m-ou-se commented on #70516
@rfcbot merge

[2021-02-02 13:57] m-ou-se opened #81663 "unstable_name_collisions lint gives wrong message and suggestion for associated constants."
The `unstable_name_collisions` lint calls an associated constant a 'method', and suggests `Trait::CONST(...)` instead of `<... as Trait>::CONST`.

Example:

[code]

[2021-02-02 14:11] tmiasko commented on #81658
Based on what you wrote, I feel convinced that it would be useful to warn about those cases. Consistently checking for drop in the fields is probably too conservative. Additionally if the field exists only for the side effect of executing its drop implementation, there is a simple escape hatch available, prepend underscore to the field name.

@rust-lang/wg-diagnostics

[2021-02-02 14:19] weiznich commented on #81658
To give a bit more information about the case linked above. The issue there is not that this field is only read by drop, but that we pass a pointer to some internal part of this field via a ffi function. Now we must keep that field in the same location as long as the underlying part of the ffi data structure is in place (in this case, till we read all values returned by this prepared database stat

[2021-02-02 14:33] tmiasko commented on #81658
Maybe I am misreading the code, but as far as I can see that happens before the value is even assigned to the field, so that operation doesn't read the field at all. A smaller example demonstrating the issue would probably help.

[2021-02-02 14:48] bstrie commented on #81615
I'm not entirely clear what that's suggesting, but it looks like they're asking for an iterator where the length is encoded in the type somehow, which means that the *type* of the iterator would need to change with every call to `next`. Rust types don't have the ability to mutate their type, so you'd need a totally separate interface where each call to `next` returns both a value and a new, smalle

[2021-02-02 14:53] #38917 closed

[2021-02-02 14:53] #40093 closed

[2021-02-02 14:53] #81543 closed

[2021-02-02 14:53] #43475 closed

[2021-02-02 14:53] #63591 closed

[2021-02-02 14:53] #81597 closed

[2021-02-02 16:01] haraldh commented on #58520
So, if nobody objects, I will open a PR with the "Remove chain() and add sources() instead" solution, as nothing else provides an ergonomic solution.

[2021-02-02 16:05] Nadrieril commented on #81657
If you make this lint `warn` in a whole file, then every single match branch in the file will trigger the lint. That would be unfortunate ^^.
That's also why I'm not a huge fan: it would trigger _all the time_. I'd prefer if we could find a more restricted lint, maybe only for wildcards and `#[non_exaustive]` together.

I think I'd like an attribute on the wildcard, like:
[code]

That would trigge

[2021-02-02 16:11] vultix commented on #81653
Here's an example of where `async move` isn't really an option ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0a737a2999f51acc182fcdadc6d1c204))
[code]

This is almost the exact problem that I ran into the other day.  I would expect this to compile - `item` is Copy and `config` is only referenced.

Adding `async move` to appease the Copy bug means that I can

[2021-02-02 16:20] m-ou-se commented on #76976
@shepmaster Something kind of like that exists: [`[u8]::align_to::<u32>`](https://doc.rust-lang.org/stable/std/primitive.slice.html#method.align_to)

It returns `(&[u8], &[u32], &[u8])` because the byte slice might not be aligned properly for an `u32`, so it returns the unaligned parts separately.

It's also unsafe because it can transmute to any type. A safe version for integers could be possible

[2021-02-02 17:06] estebank commented on #24159
All of [the cases I mentioned](https://github.com/rust-lang/rust/issues/24159#issuecomment-549617767) now compile. I believe this can be closed by adding tests.

[2021-02-02 17:08] tiby312 opened #81667 "Array type inference not as good as Tuple?"
Array type inference not as good as Tuple?

I tried this code:

[code]

I expected to see this happen: It to compile

Instead, this happened: It didnt compile

Same behavior on stable and nghtly

[2021-02-02 17:09] estebank commented on #51446
This code now compiles. It just needs a test to close.

[2021-02-02 17:11] estebank commented on #37883
This now compiles.

[2021-02-02 17:41] estebank commented on #37808
This now compiles.

[2021-02-02 17:41] estebank commented on #39532
This now compiles.

[2021-02-02 17:43] estebank commented on #48674
Triage: no change.

[2021-02-02 17:44] joshtriplett commented on #81415
Checking box for boats per https://github.com/rust-lang/team/pull/526 .

[2021-02-02 17:47] joshtriplett commented on #54883
@petrochenkov It looks like we have consensus to make that change, so please feel free to simplify that bit of the grammar by allowing leading `|` everywhere we allow or patterns.

[2021-02-02 17:48] estebank commented on #54149
Triage: no change.

[2021-02-02 17:52] timkordas opened #81669 "Compiler panic with '-Z instrument-coverage' on 1.48.0 w/ RUSTC_BOOTSTRAP=1"
### Meta

Compiler panic with '-Z instrument-coverage' on 1.48.0 w/ RUSTC_BOOTSTRAP=1

Running with RUSTC_BOOTSTRAP=1

[code]

### Error output

[code]
</details>

[2021-02-02 17:52] nikomatsakis opened #81670 "Tracking issue for `forbidden_lint_groups`"
This is the **summary issue** for the `forbidden_lint_groups`
future-compatibility warning and other related errors. The goal of
this page is describe why this change was made and how you can fix
code that is affected by it. It also provides a place to ask questions
or register a complaint if you feel the change should not be made. For
more information on the policy around future-compatibility war

[2021-02-02 18:03] weiznich commented on #81658
Let me unroll the code in diesel a bit:

[code]

Now the warning points at the `input_binds` field in the `Statement` struct. Removing this field as the warning suggests would lead to undefined behaviour as the pointer now points to uninitialized memory. I believe no warning issued by rustc should ever lead to undefined behaviour.

Now it's up to discussion if this code should better be written in

[2021-02-02 18:04] danielbalke opened #81672 "ICE: "type parameter out of range when substituting" when accessing non-existent field of struct"
### Code

[code]

This doesn't work for all structs, for example using `Vec<u8>` produces a normal compiler error.

### Meta

`rustc --version --verbose`:
[code]

Couldn't reproduce this on 1.49.0 or 1.50.0-beta.8.

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-02 18:08] Grinkers commented on #44930
I, like probably many others that rely heavily on c, would really like to see this stabilized.

As a recommended next step, I started porting over some of libffi's more complex tests, but quickly ran into a limitation with #[repr(C)] struct's.  As of right now, we're limited to only these types, even though C can pass structures.
https://github.com/rust-lang/rust/blob/a3ed564c130ec3f19e933a9ea31fa

[2021-02-02 18:21] jyn514 opened #81673 "Confusing lifetime error in the presence of a loop"
I just got the following error ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=92ddb3f799247ef5a01921dfd3203358)):
[code]
The error alone does not give you enough info to see what's going wrong: `push` is called after `f(slice)`, why is the borrow still active? You need to look at the whole code to realize it's because `as_ptr` is called in the next loop itera

[2021-02-02 18:35] joshtriplett commented on #78691
We discussed this in the @rust-lang/lang meeting today. We agreed that we shouldn't lint on this case; the goal of the lint is to catch known-wrong cases, particularly cases that we've seen commonly used by mistake. We shouldn't have false positives, and it's fine to rely on a temporary lasting until the end of the statement.

We do want to make sure that, in improving this lint to avoid the false

[2021-02-02 18:58] poliorcetics commented on #81662
@rustbot claim

[2021-02-02 18:59] matthiaskrgr commented on #81672
duplicate of https://github.com/rust-lang/rust/issues/81627

[2021-02-02 19:16] the8472 commented on #81615
A somewhat tangentional option would be to have a separate iterator source method on the collections. This has the benefit of guaranteed access to the size, so the iterator will know in advance how large the array can be, and the remainder of the elements will remain in the collection.

Similiar to `vec.drain()` which does not consume the vec itself but does consume elements within the vec. I.e. t

[2021-02-02 20:45] shepmaster commented on #76976
A good point! The original case had a `repr(align)`, which I neglected to show here. You get that "for free" if you store a `u32` and have something like the suggested `as_ne_bytes_mut`.

[2021-02-02 20:56] jyn514 commented on #81669
@timkordas can you reproduce this on nightly? RUSTC_BOOTSTRAP isn't supported on stable.

[2021-02-02 21:00] joshtriplett commented on #81657
I like the idea of an allow-by-default lint that's specific to hitting the `_` branch of a non-exhaustive enum. This gives people options: crates can change it to warn or deny at the top level, or on a specific match or match arm, or change the default but allow it in a specific case they don't care about. And cap-lints will make that entirely a crate-local decision.

[2021-02-02 21:33] joshtriplett commented on #44930
@Grinkers I'd like to see support for passing structs by value, but for now, could you port over the tests that *don't* depend on that functionality, or stub out the struct passing?

[2021-02-02 21:39] nikomatsakis commented on #74798
I believe the code is working as intended. This is a bit subtle. See the following table:

| Syntax | who proves it | who can assume it |
| --- | --- | --- |
| `type Foo: Bar = X` | the impl | generic code using `T::Foo` |
| `type Foo<A: Bar> = X` | generic code using `T::Foo<U>`, which must prove that `U: Bar` | the impl, when proving the type `X` is WF |
| `type Foo<A> = X where A: Bar` | generi

[2021-02-02 21:40] nikomatsakis commented on #74798
Re-opening in case I'm missing something. We'll revisit the issue in a later triage pass!

[2021-02-02 21:53] upsuper commented on #22462
Given that we now have editions, is it possible to fix this in a new edition so that we don't break backward compatibility?

[2021-02-02 21:53] nikomatsakis commented on #76407
This variant also fails to compile, but doesn't use GATs:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1ea06f6d50ae8a612feb5a22279e2889

My guess is that this is the same bug. We are missing a normalization somewhere.

[2021-02-02 21:56] nikomatsakis commented on #76535
Might be fixed by #79554

[2021-02-02 22:00] tmiasko commented on #50450
Triage:

* The lint was disabled for derives in 24d410abd6924c175ee776ed84be851b615a555b. One can still use the test case together with `-Zunpretty=expanded` after removing `#[automatically_derived]` from the implementations.
* There is a separate issue for running liveness analysis on MIR #51003.
* In the meantime the memory usage of the lint was reduced to the point where MIR data-flow analysis

[2021-02-02 22:37] anp opened #81684 "`rustc --target wasm32-unknown-unknown -Zinstrument-coverage` fails with "can't find crate for `profiler_builtins`""
I'm trying to [add support for code coverage to wasm-bindgen tests](https://github.com/rustwasm/wasm-bindgen/issues/2276) with the new `-Zinstrument-coverage` flag, and hitting an error that I only partly understand.

I'm building this with https://github.com/anp/moxie/commit/20920cab2bc3a90b15f4fa396434a43058f0111a, if it would be helpful I can make a smaller repro. Here's the command I'm running

[2021-02-02 22:40] Xavientois opened #81685 "Inspect does not feed properly into map"
I tried this code:

[code]

I expected to see this happen: For the code to compile, and for the inspect to not break the iterator like it does. It works when I write it like this:

[code]

Instead, this happened: It gives me a compiler error:

[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Signature of `validate_filename`</summary>
<p>
[code]
</p>
</details>

[2021-02-02 22:41] anp commented on #81684
From the [dev guide](https://rustc-dev-guide.rust-lang.org/llvm-coverage-instrumentation.html#llvm-runtime-dependency) it seems that the config.toml for the rustup toolchains may need to be updated.

[2021-02-02 22:51] bstrie opened #81686 "Emit warning when using `as` to directly cast function pointers to any integral type other than usize"
Imagine you have a `u32`. You want to check if it's larger than the maximum value of a `u16`. Of course, you know that the API will give you a `u16`, so you will need to cast it to a `u32`.

You write a unit test. 100 million should be above the range of a `u16`, you think.
[code]
Output:
[code]
You begin to doubt your computer science education. In a fugue, you abandon all worldly possessions. Yo

[2021-02-02 22:59] timkordas commented on #81669
with nightly it appears to have a different problem
  nightly-x86_64-apple-darwin unchanged - rustc 1.51.0-nightly (04caa632d 2021-01-30)

[code]

[2021-02-02 23:01] timkordas commented on #81669
and that looks exactly like: https://github.com/rust-lang/rust/issues/81531 which appears to have a merged fix, I'll try the next nightly and see.

[2021-02-02 23:01] #81669 closed

[2021-02-02 23:25] asomers commented on #67153
I opened a bug with Valgrind.  We'll see what they say.
https://bugs.kde.org/show_bug.cgi?id=432440

[2021-02-02 23:30] dtolnay commented on #70516
Slight question about `eq_ignore_ascii_case` -- normally when dealing with AsRef args, they come in without an explicit reference in the signature (https://doc.rust-lang.org/std/process/struct.Command.html#method.new), except when necessary to support a lifetime in the return value (https://doc.rust-lang.org/std/path/struct.Path.html#method.new). Currently https://doc.rust-lang.org/1.49.0/std/ffi/

[2021-02-02 23:34] anp commented on #81684
If I set `profiler = true` in my `config.toml` and add `wasm32-unknown-unknown` to the targets, I get a failure in building compiler_rt for wasm:

[code]

Perhaps LLVM doesn't yet support the profiler runtime in webassembly.

[2021-02-03 00:07] camelid commented on #81576
Ah, I forget that methods have to be resolved during typeck. Yeah, might not be as hard as I thought: @rustbot label: +E-medium -E-hard

[2021-02-03 01:02] ehuss commented on #81661
I believe that in other positions, tool attributes like `rustfmt` are only marked as "used" as a side-effect of the macro expansion machinery.  From what I can tell, it looks like inner attributes on file-based modules simply aren't treated as candidates for macro expansion (presumably since that is not supported, so there is no reason to do that).

I imagine @petrochenkov might have a suggestion

[2021-02-03 01:26] anp commented on #81684
This seems to be the case. I have a couple of local patches which seem pretty close to getting things compiling for `wasm32-wasi`, not sure it will work yet though.

[2021-02-03 02:54] lcnr commented on #79356
and
[code]

[2021-02-03 03:03] #24159 closed

[2021-02-03 03:03] #37808 closed

[2021-02-03 03:03] #37883 closed

[2021-02-03 03:03] #39532 closed

[2021-02-03 03:07] Mercerenies opened #81689 "Incorrect Compiler Suggestions when Missing Trait Dependencies on PartialEq"
I tried this code:

[code]

I expected to see this happen: The compilation should fail, possibly suggesting that I constrain my `PartialEq for Example<T>` to require `T : MyTrait`.

Instead, this happened: The compilation does indeed fail, but with the following message.
[code]
Notably, Rust unhelpfully suggests that I constrain my instance to `T : PartialEq`. Amusingly, if I follow this advice, R

[2021-02-03 03:36] saki-osive opened #81690 "Internal compiler error encountered while using Nightly v1.51.0-nightly (04caa632d 2021-01-30)"
While building Polkadot, I encountered this error at the module `Compiling libp2p-mdns v0.26.0`

### Code

The code lives here: https://github.com/paritytech/polkadot

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-03 03:59] camelid opened #81691 "rustdoc: Include attributes in item `[src]` destination?"
Currently when you click on the `[src]` link for an item, you are taken to the first line of the item after its attributes. For example, the `[src]` button for [`Box::new()`](https://doc.rust-lang.org/std/boxed/struct.Box.html#method.new) goes to [here](https://doc.rust-lang.org/src/alloc/boxed.rs.html#177-179):

[code]

Is this preferable, or would we rather link to [here](https://doc.rust-lang.o

[2021-02-03 04:00] camelid commented on #81691
I think in some situations, like for type definitions, it would be better to include the attributes so you can see any `#[derive]`s, but for other situations it might be overwhelming (especially in `std`) to show all the attributes and docs.

[2021-02-03 04:15] Apteryks commented on #79009
I can reproduce also on GNU Guix, even in 1.49 when using GDB 10.  The debuginfo tests pass when using GDB 8.2.

[2021-02-03 05:30] TyPR124 commented on #70516
I think it should be. I'm not sure why I wrote it like I did originally, but this makes more sense to me.

I can make that PR if needed. Or can it be done in the stabilization PR? Not sure what the process is from here.

[2021-02-03 06:16] yshui opened #81693 "Lifetime for match variable is too pessimistic"
I tried this code:

[code]

In this piece of code, the compiler borrows `b` for the entire duration of match, preventing me from assigning to `a` in the `Right` arm. The explanation it gives is that it needs to run drop on `b` at the end of the match.

However, that's not the case at all. `b` is partially moved in both arms, its `drop` cannot be called at the end of match.

### Meta

`rustc --vers

[2021-02-03 07:11] esavier commented on #75833
it was installable before, what's the point in keeping broken profile?
i see two options ahead, either changing complete so it has only components that works, or fixing what's broken.
Also mind that the profile is not failing on any component, (i.e. this is not a build issue). Everything is buildable and runnable. The Problem is with `doc` paths apparently :/

[2021-02-03 07:45] jethrogb commented on #81531
I'm still hitting this bug with the latest nightly.

[code]

[2021-02-03 08:10] petrochenkov commented on #81661
Inner attributes on file-based modules should certainly participate in expansion.

Could someone check whether this is a regression from https://github.com/rust-lang/rust/pull/69838 or a pre-existing issue?

[2021-02-03 08:19] xfix opened #81696 "Methods of core trait that have doc aliases are found twice"
If you search for a method in `core` trait that has an alias it appears twice on the list.

For example:

https://doc.rust-lang.org/nightly/std/?search=length

This shows `core::iter::ExactSizeIterator::len` twice.

![image](https://user-images.githubusercontent.com/1297598/106718144-ebfa1380-6600-11eb-931e-196b955cd73f.png)

[2021-02-03 08:32] workingjubilee opened #81698 "arrays as const parameters result in bad error messages"
This is a much abbreviated version of the code from my experiments with adding a shuffle API to the stdsimd repo, it probably needs further reduction but I wanted to file this before I forgot:

[code]

I expected to see this happen: it works, provides a useful error, or even just ICEs.

Instead, this happened: I got a request to input a type instead!

[code]

And no, that doesn't work either if yo

[2021-02-03 08:36] petrochenkov commented on #81698
The fix is
[code]
Due to parsing ambiguities generic arguments currently need to be put into braces, unless they are really simple (like `1` or `A`), `[3, 1]` is not simple enough.

[2021-02-03 08:40] osa1 commented on #81686
What would be the "lint group" of this lint? Currently we have: "nonstandard_style", "unused", "rust_2018_idioms", "rustdoc". This one doesn't fit into any of these, I think.

Should this be a clippy lint maybe?

[2021-02-03 08:40] workingjubilee commented on #81698
Oh, cool! That does compile! I knew about that but wasn't sure if that was the problem because I thought that was just for expressions? I guess that's technically an array expression?

That is none of the errors I was presented with, though, which makes this a diagnostics problem I suppose?

[2021-02-03 08:55] Xenomojin commented on #34035
What is the current state of this issue?
It's now Feb. 2021 and I'm still getting this error. Are there any plans or is and will be the only solution to outsource the needed parameters into a separate variable beforehand?

I am relatively new to Rust and I don't think I fully understand the borrow checker yet, but this 'workaround' shouldn't be the way to go shouldn't it?

[2021-02-03 08:59] leonardo-m opened #81700 "[ICE] With closure on mutable ref"
[code]

Compiled with `rustc bug2.rs` gives:

[code]

[2021-02-03 09:03] weiznich commented on #81658
As this is marked as needs a minimal example: I've put some [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1d909fac79d42a5c028387642c48d7ca) together that reproduces this issue without depending on diesel or on any ffi. As another note: If you try to follow the implicit suggestion here and remove that field miri will report a error about a read after free err

[2021-02-03 09:15] Nemo157 commented on #81661
Before 1.44 this hits `error[E0658]: non-builtin inner attributes are unstable`, adding `#![feature(custom_inner_attributes)]` on `rustc 1.43.0-nightly (823ff8cf1 2020-03-07)` gives no warning.

[2021-02-03 09:18] petrochenkov commented on #81661
The regression seems pretty bad because it creates a hole in the `#![feature(custom_inner_attributes)]` feature gate, so unstable inner attributes are now accepted.

[2021-02-03 09:20] Nemo157 commented on #81661
Checking some more dates; `rustc 1.44.0-nightly (f4c675c47 2020-03-19)` both added the warning and removed the error, so it seems likely that #69838 accidentally stabilized inner attributes (unless there was another PR touching that code in that exact nightly).

[2021-02-03 09:54] aticu opened #81701 "E0238 could be better for calls to associated functions on the trait itself"
This code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1afd39b6d1676f0b09b79f09120f60d9))

[code]

currently produces this error:

[code]

When I recently stumbled across this error, it took me a little while to figure out what the problem was.
I was trying to call the trait function directly and not an implementation of the function.
I think this may be e

[2021-02-03 10:15] danc86 opened #81702 "bootstrapping rustc for a custom target no longers works since 1.48, assembles stages for `build` not `host`"
I'm working with Yocto's meta-rust layer, trying to build rustc 1.49. I'm building on a regular x86_64 Linux host, but we use a custom JSON target specification due to rust-lang/cargo#3349. So we have `x86_64-unknown-linux-gnu` (real Rust triple) cross-bootstrapping for `x86_64-linux` (custom target which is essentially the same as `x86_64-unknown-linux-gnu` but with a different name):

[code]

Wi

[2021-02-03 10:23] matthiaskrgr commented on #81700
This was caused by 74500b99783d126e330184f0392a78f8b93b73ef
@rustbot prioritize

[2021-02-03 10:33] b-naber commented on #77905
I don't think this is a bug. The following compiles:

[code]

[2021-02-03 10:36] paulfloyd commented on #67153
FreeBSD Valgrind maintainer here.

I'm not at all familiar with Rust. Is this code creating a stack for the main process or for a secondary thread?

With `ktrace` I'm seeing a lot of mmap'ing going on - much more than for 'grep'.

From what I understand for C/C++ applications, on startup fairly recent FreeBSDs mmap a MAP_GUARD region above the user stack, similar to what this code is doing but muc

[2021-02-03 10:45] b-naber commented on #80433
There's another error in @rxcompile 's code, you mutably borrow in the loop, you might be able to fix this if you re-borrow.

[2021-02-03 11:15] michaelwoerister commented on #49737
I don't think that PR takes care of emitting error messages in a deterministic order, right?

[2021-02-03 11:34] philipahlberg commented on #80346
I'm experiencing the same problem (rustc in Docker on M1):

<details>
<summary>Logs</summary>
   Compiling http v0.2.1
thread 'rustc' panicked at 'invalid terminator state', compiler/rustc_middle/src/mir/mod.rs:1204:34
stack backtrace:
   0: rust_begin_unwind
             at /rustc/e1884a8e3c3e813aada8254edfa120e85bf5ffca/library/std/src/panicking.rs:495:5
   1: core::panicking::panic_fmt

[2021-02-03 11:47] AndreaEsposit opened #81703 "Rust and Wasm problems when trying to access a file"
I have been trying to create/read/edit a file though a WebAssembly module originally written in Rust, but it is not working.

The code looks like this(src/lib.rs):
[code]
This is my cargo.toml:
[code]
I am using rustc 1.51.0-nightly, and I compiled the file with this command ```cargo build --target wasm32-wasi```.
The Wa. module will not work either with wasmtime CLI ( ```wasmtime --dir=. --invoke

[2021-02-03 11:53] matthewrobertbell opened #81704 "Failure to compile Rocket master using nightly"
### Code
[code]

[code]

### Meta

`rustc --version --verbose`:
[code]

(This also happens on Github Actions here: https://github.com/matthewrobertbell/rocket-hello-world/runs/1798855771?check_suite_focus=true)

### Error output

[code]

[2021-02-03 12:13] tmiasko commented on #81658
I agree completely that the lint should be conservative when the field address is taken. Though, I disagree with factual statement that the field has its address taken in the example.

The field has a drop implementation, so the behaviour of the program is clearly different with the field removed. Maybe lint indicate that?. The situation is the same as with scope guards which when unused will be w

[2021-02-03 12:17] jonas-schievink commented on #81704
duplicate of https://github.com/rust-lang/rust/issues/81531

[2021-02-03 12:17] #81704 closed

[2021-02-03 12:18] jonas-schievink commented on #81690
duplicate of https://github.com/rust-lang/rust/issues/81531

[2021-02-03 12:18] #81690 closed

[2021-02-03 12:21] haraldh commented on #58520
Here we go: https://github.com/rust-lang/rust/pull/81705

[2021-02-03 12:51] erayerdin commented on #23286
The issue is still present. I have a simple struct as below:

[code]

I use VSCode with rust-analyzer and it complains saying:

[code]

If you prefer screenshot:

![error in vscode](https://user-images.githubusercontent.com/2399084/106748924-f6cf9b00-6636-11eb-9186-d34686067629.png)

`cargo build --workspace` also fails saying below:

[code]

(Yes, I have a `From` implementation.)

***

# Environm

[2021-02-03 13:22] cynecx commented on #77905
@b-naber With your modifications `'a` and `'b` are possibly unrelated without extra outlives bounds. I think a better way to do this is:

[code]

[2021-02-03 13:48] Nadrieril commented on #81657
Oh yeah I like this. It seems I had misread the initial proposal.

[2021-02-03 14:06] apiraino commented on #81408
@rustbot ping windows

[2021-02-03 14:08] apiraino commented on #81408
We think this warrants a  `P-high` priority but feel free to adjust. Zulip thread of [Prioritization Working Group](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381408.20ACCESS_VIOLATION.20when.20dereferencing.20once_cell.3A.3ALazy.20.E2.80.A6).

[2021-02-03 14:18] catenacyber commented on #81654
@HTG-YT I have the same problem. Did you do a `patch` in your `Cargo.toml` ?

[2021-02-03 14:19] HTG-YT commented on #81654
Yes, I cloned the repository of lexical-core and made the fixes myself.

[2021-02-03 14:25] Grinkers commented on #44930
Sure, just to be clear, I assume you mean the va_*.c https://github.com/libffi/libffi/tree/master/testsuite/libffi.call which are mostly the same and testing structs. Without the structs it's mostly just testing various sized c types, which is still very good to test on various architectures, but it seems like we cover quite a few.

Is there any automated tests different architectures or is that w

[2021-02-03 14:27] catenacyber commented on #81654
Do you have a pointer to this fix ?

[2021-02-03 14:29] AndreaEsposit commented on #81703
Found out a way to do it here:
![image](https://user-images.githubusercontent.com/54411648/106760872-8b84c980-6634-11eb-8ccf-a7e7cdb66540.png)

[2021-02-03 14:29] #81703 closed

[2021-02-03 14:30] #81531 closed

[2021-02-03 14:35] samueltardieu opened #81708 "ICE with Drop in static block"
ICE in illegal code in static block, rustc stable/beta/nightly. Found and reduced by @regar42.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

Also happens with

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-03 14:57] Mark-Simulacrum commented on #81702
I suspect this is a similar problem to https://github.com/rust-lang/rust/issues/77352, and the solution of x.py dist / x.py install I recommended there is the one I'd recommend here as well. If that doesn't work for some reason for your case I'd be interested in hearing why.

[2021-02-03 15:00] bjorn3 opened #81709 "error: internal compiler error: compiler/rustc_middle/src/ty/subst.rs:529:17: type parameter `T/#1` (T/1) out of range when substituting, substs=['_#2r]"
### Code

[code]

rustc_codegen_cranelift commit: https://github.com/bjorn3/rustc_codegen_cranelift/commit/3afca541193dfce60992660bd07cc449b4d55fd1
Wasmtime commit: https://github.com/bjorn3/wasmtime/commit/9db6e779ef8c4cea9d4d0fe6d0bb08dbd4c39d40

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</det

[2021-02-03 15:12] bjorn3 commented on #81709
This started happening the moment I added `mir.source_loc` to line 280 in src/debuginfo/mod.rs. Removing the incremental cache doesn't help.

[2021-02-03 15:25] apiraino commented on #81614
Hi @namibj it would be also great to have a smaller reproducible sample for this compiler error. So we can try to isolate and find the regression. Can you give it a try?

Also @rustbot cleanup can maybe help

[2021-02-03 15:31] apiraino commented on #81614
@rustbot ping icebreakers-cleanup-crew

[2021-02-03 15:36] apiraino commented on #81709
didnt check your repro, but could that be linked to #81672?

[2021-02-03 15:38] bjorn3 commented on #81709
It is possible. In both cases it is for a non-existent field.

[2021-02-03 15:38] apiraino commented on #81709
Also this #81627 (perhaps)

[2021-02-03 16:08] estebank commented on #23286
[code]

Are neither of these suggestions applicable for your case? Should their wording be made clearer or more prominent?

[2021-02-03 16:10] MoritzLangenstein opened #81712 "GAT ICE: missing generic associated type in trait path"
This ICE is related to #44265:

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

Ideally, `C<DType<T> = Self>` would compile, but generic associated types in trait paths are currently not implemented. Maybe rustc could give a nice error message when the `<T>` is missing.

[2021-02-03 16:15] leo60228 commented on #59976
Just to add a point of data as to why I want this (well, more specifically support for rustc errors in RA without saving, but they're closely related): I use vim as closer to a traditional editor instead of as an IDE, and using autosave makes "quit without saving" meaningless.

[2021-02-03 16:17] estebank commented on #34035
@Xenomojin for a case like the one above, you must bind the value of `data.len()` (which is `Copy`) to a new binding (`let len = data.len();`) and use that in the call. This is necessary because the borrow checker cannot know for sure that the immutable borrow that `.len()` needs doesn't overlap with the mutable borrow `split_at_mut` needs. This is a case we want to improve in the future, but it w

[2021-02-03 16:27] jackh726 commented on #81712
Duplicate to #79768 and related heavily to others. But this has a nice minimal repro, so worth leaving open. Probably fixed by #79554.

[2021-02-03 16:27] camelid commented on #80346
If it happens while compiling a public library (which it looks like it does), I think you in theory can just set up an empty repo depending on that crate and it should reproduce.

[2021-02-03 16:29] apiraino commented on #81700
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381700.20.5BICE.5D.20With.20closure.20on.20mutable.20ref) and removing `I-prioritize`.

[2021-02-03 16:31] camelid commented on #81700
Looks likely that #81158 is the cause.

[2021-02-03 16:33] camelid commented on #81700
Re-prioritizing as `P-high` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381700.20.5BICE.5D.20With.20closure.20on.20mutable.20ref) in the prioritization working group.

@rustbot label: +regression-from-stable-to-nightly +P-high -P-medium -I-prioritize

[2021-02-03 16:35] stephanemagnenat commented on #46213
I just stumbled upon that question while exploring porting [libnabo](https://github.com/ethz-asl/libnabo), a fast k-nearest-neighbour library with a focus on performance and memory efficiency. Having that feature would allow the same tight memory layout as in C++ in fully safe Rust, by having the following enum as the key data structure:
[code]
for `T = f32`, `LeafNode(u32)` holding an index to an

[2021-02-03 16:36] camelid commented on #81708
Assigning `P-medium` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381708.20ICE.20with.20Drop.20in.20static.20block) in the prioritization working group.

[2021-02-03 16:41] camelid commented on #81672
A somewhat more realistic example:

[code]

On stable:

[code]

On nightly:

[code]

[2021-02-03 16:41] Xenomojin commented on #34035
Thank you very much for your response @estebank, I guess I just need to get used to it. I mean... its not that much of a cost compared to knowing for sure there won't be anything unforeseen at run time, unlike some C code where I was spending hours and hours not getting forward at all. But I'm seeing forward to having handled this little bumpiness in an improved manner some day in the future.

[2021-02-03 16:43] ColinFinck commented on #81702
@danc86 Just chiming in here to report that I have also been trying to upgrade meta-rust from 1.47.0 to 1.49.0 recently and I'm now stuck at the very same problem.

There were a few other obstacles on the road due to moved files and bugs like https://github.com/rust-lang/rust/commit/dd682cb48c8b667859dded98a4bbfbd891a1eca4
See https://github.com/ColinFinck/meta-rust/commits/update-to-rust-1.49.0 f

[2021-02-03 16:49] camelid commented on #81614
This was likely caused by #79757. Specifically, [this part](https://github.com/rust-lang/rust/commit/3537bd80ff1ef12c9fa994133969d8cfcaa356d3#diff-30ebb70100ec1503d6717b14ca64c689594784ca1391fb3b2cb7226748f2390cR16-R18) is where the ICEing code was added. It seems there's a bug in the implementation where it is not always replacing the tabs ahead of time. However, that seems like it should be a `d

[2021-02-03 17:02] ehuss commented on #81661
Ah.  So just to be clear, here's the behavior that I see:

## Inner attribute on file-based module

Proc-macro attribute:
1.43: Requires `feature(custom_inner_attributes, proc_macro_hygiene)`, works as expected
1.44: Does not require a feature, the proc-macro is ignored, and issues an unused attribute warning.
1.51: Same as 1.44

rustfmt::skip:
1.43: Requires `feature(custom_inner_attributes)`, no

[2021-02-03 17:03] namibj commented on #81614
@camelid Are you saying I can clean up locally and just work around it for now? Or do you potentially still need an `rr` recording of it?

[2021-02-03 17:04] jryans commented on #81614
@camelid Right, perhaps best to change to `debug_assert`. I'll prep a PR for this.

[2021-02-03 17:05] camelid commented on #81614
Potentially. Trying searching for tabs (literal tabs, not `\t`) in the project and replacing them with spaces.

What is an `rr` recording?

[2021-02-03 17:20] jryans commented on #81614
@camelid Should I mark the PR as fixing this issue and a new one for working out the root cause, or should this be kept open and reused for the root cause as well? (Unsure if there's a typical workflow for such things here.)

[2021-02-03 17:22] camelid commented on #81614
I'm not sure if there's a usual workflow, but personally I think I would mark it as closing this and then open a new one for working out the underlying cause. Once it no longer panics, this is no longer a P-high issue.

[2021-02-03 17:23] TheAifam5 opened #81714 "internal compiler error: failed to process buffered lint here"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-03 17:25] jonas-schievink commented on #81714
duplicate of https://github.com/rust-lang/rust/issues/81531

[2021-02-03 17:25] #81714 closed

[2021-02-03 17:29] estebank commented on #81614
Let's leave the ticket open but remove the ICE tag once that PR is merged.

[2021-02-03 17:33] Stupremee commented on #81614
[rr](https://rr-project.org/)  is a tool that will record your whole program execution and is able to reproduce it exactly the same to make debugging easier.

[2021-02-03 17:51] camelid commented on #81672
Assigning `P-high` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381672.20ICE.3A.20.22type.20parameter.20out.20of.20range.20when.20substituting.22.E2.80.A6) in the prioritization working group.

[2021-02-03 18:04] ibraheemdev opened #81719 "rustdoc: rename doctest imports on re-exported items"
Currently, a crate can re-export item(s) from it's dependencies with inline documentation:
[code]
[code]

However, documentation tests still display imports from the original crate, meaning if someone goes to the documentation for `hyper::Request`, they will see it being imported from a different crate:
[code]

This is potentially confusing for users. This issue proposes adding a way to rename doc

[2021-02-03 18:08] camelid commented on #81719
How would we figure out which crate should be renamed?

[2021-02-03 18:09] jyn514 commented on #81719
A more general feature would be to allow saying "the name of this item", which doesn't limit it only to doctests. Something like

[code]
That would need to way to deal with renames, though.

[2021-02-03 18:10] jyn514 commented on #81719
It's the crate the item is re-exported from. In this case, `Request` is re-exported from `http` to `hyper`, so the import would change to `use hyper::Request`.

[2021-02-03 18:15] ibraheemdev commented on #81719
That would also allow renaming of the item itself, in the case of `pub use http::Request as HttpRequest`

[2021-02-03 18:16] camelid commented on #81719
Okay, but how are we going to figure out what parts are crate imports that need to be renamed and which ones aren't? For example, someone might have a doctest like:

[code]

If we used brute-force find-and-replace, that would become:

[code]

[2021-02-03 18:17] camelid commented on #81719
That particular syntax seems confusing to me though, since braces are also used for lists of imports.

[2021-02-03 18:17] ibraheemdev commented on #81719
Another thought, why not allow `use crate::Blah` in doctests and have that be replaced with the name of the current crate at build time? It is probably too late for that though...

[2021-02-03 18:22] ibraheemdev commented on #81719
What about without the braces?
[code]
`[Self]` would be an intra-doc link to `crate::hyper::Request` and `use Self` would be replaced with `use hyper::Request`.

[2021-02-03 18:56] eduardosm commented on #75243
It seems that `map` is not getting as optimized as a loop or a manually unrolled version: https://godbolt.org/z/hsEdqv

[2021-02-03 18:57] eddyb opened #81721 "#[rustc_inherit_overflow_checks] should be documented instead of replaced with e.g. Add::add calls."
(*Note: this was originally posted as a comment on #62429 - also cc #35310 but not sure how relevant*)

In https://github.com/rust-lang/rust/pull/62429#discussion_r300818237 @scottmcm said:

While adding more tests is better, I don't agree with removing the attribute. If anything the attribute should be better documented, but relying on more implicit mechanisms that internally use the attribute ob

[2021-02-03 19:13] sfackler commented on #74442
@jhpratt I think you'd generally want to use it as an optimization only, but we can probably guarantee that it will return Some for certain cases in particular (e.g. `format_args!("asdf")`).

[2021-02-03 19:13] scottmcm commented on #81721
+1 to having something in the guidelines for what the correct approach is -- I only said this because it was mentioned to me in https://github.com/rust-lang/rust/pull/45754#issuecomment-341884683

[2021-02-03 19:15] thomcc opened #81722 "ASan/MSan should call `__sanitizer_unaligned_{load,store}` functions for (TSan already calls equivalents)"
There are special functions exposed by several of the sanitizers for performing unaligned loads and stores. The functions have names like [`__sanitizer_unaligned_{load,store}{16,32,64}`](https://github.com/llvm/llvm-project/blob/350fafabe9d3bda75e80bf077303eb5a09130b53/compiler-rt/include/sanitizer/common_interface_defs.h#L61-L98)¹, and come with the runtimes of at least MSan/ASan/TSan, but not LS

[2021-02-03 19:18] scottmcm commented on #46213
@stephanemagnenat I'm not sure I follow the suggestion here.  How could rust figure out the active variant between the two?  `f32` supports all bit patterns, so `LeafNode(1)` can't be distinguished from `SplitNode { cut_dim_and_right_child_index: 1, .. }` AFAICT.

[2021-02-03 19:30] Kixunil commented on #33577
Should this API stabilize after successful FCP or do I misunderstand stabilization process?

[2021-02-03 19:43] mark-i-m commented on #54883
I think we can make this change independently of stabilizing or-patterns because macros in 2015/18 can't see the change yet anyway, correct?

[2021-02-03 19:49] rhendric commented on #46213
`NonZeroU32` has a niche; if that field is zero, you have a `LeafNode`, and otherwise a `SplitNode`, with the remaining 4 bytes used for either the value of the `LeafNode` or the `cut_value` field.

[2021-02-03 19:55] eddyb commented on #81721
Wow, that's really old, thanks for tracking it down! I wasn't sure how far back it might go, I was only shown this pattern recently.

[2021-02-03 20:03] dtolnay commented on #70516
@rfcbot resolve eq_ignore_ascii_case &amp;S
@rfcbot reviewed
Fixed in #81710.

[2021-02-03 20:06] eddyb commented on #81721
Looks like that was potentially a misunderstanding of my comment at https://github.com/rust-lang/rust/pull/36372#discussion_r78279393, heh:

I suggested replacing `iter.fold(0, |a, b| a + b)` with `iter.fold(0, Add::add)`, *not* calling `Add::add` directly.
In retrospect, for documentation purposes, maybe this would've been better:
[code]

[2021-02-03 20:38] clehner opened #81724 ""failed to process buffered lint here" with macro call in async block"
This error started appearing with nightly a few days ago.

The source code triggering it is here: https://github.com/timothee-haudebourg/json-ld/blob/9b0e4521f0f600304c508be17021986f90fe07ba/src/expansion/element.rs#L223

This happens when running e.g. `cargo build` or `cargo test`.

I was able to minimize the code triggering the error to the following, in the `json-ld` crate:
[code]
But I have no

[2021-02-03 20:45] yaahc commented on #81460
related: https://github.com/yaahc/stable-eyre/pull/4

[2021-02-03 20:50] trevyn commented on #81654
@catenacyber See https://github.com/Alexhuszagh/rust-lexical/pull/56

Looks like the maintainer of `lexical-core` hasn't been active on GitHub since March, this is going to be fun.

[2021-02-03 20:52] jonas-schievink commented on #81724
duplicate of https://github.com/rust-lang/rust/issues/81531

[2021-02-03 20:52] #81724 closed

[2021-02-03 20:52] #81627 closed

[2021-02-03 20:52] #81672 closed

[2021-02-03 20:52] #81709 closed

[2021-02-03 20:53] rust-highfive opened #81726 "`miri` no longer builds after rust-lang/rust#81718"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#81718, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @m-ou-se, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-02-03 20:58] Amanieu commented on #33577
Someone needs to submit a stabilization PR for this feature.

[2021-02-03 21:01] clehner commented on #81724
Thanks @jonas-schievink, sorry for the dupe

[2021-02-03 21:02] bstrie commented on #81686
@osa1 , allow me to expand on my reasoning as to why I believe this should be in the compiler, rather than clippy.

Ultimately I believe this to be a flaw in the specification of the type cast operator, `as`. As documented in the reference (https://doc.rust-lang.org/reference/expressions/operator-expr.html#type-cast-expressions), there are four possible categories of type casts that relate to "add

[2021-02-03 21:03] Amanieu commented on #42951
Based on the libs team decision in https://github.com/rust-lang/rust/issues/80303#issuecomment-761637125, I'm going to close this issue. The answer to the question in the issue title is no: `write_u32` is not required to be equivalent to 4 calls of `write_u8`.

[2021-02-03 21:03] #42951 closed

[2021-02-03 21:07] trevyn commented on #81654
In the meantime, you can pop this in your root `Cargo.toml`:

[code]

[2021-02-03 21:25] philipahlberg commented on #80346
Turns out it's not a `rustc` bug, just like @jonas-schievink suspected, at least in my case. My issue was that I was using a Docker image built for `x86_64` on an `aarch64` (M1) machine. I'm still a bit perplexed as to how the build process made it all the way to compiling crates, and also why the bug looked so much like a `rustc` bug, deep stack trace and everything.

[2021-02-03 21:28] m-ou-se commented on #76904
We agreed in the libs meeting just now to revert stablization, since the [breakage](https://github.com/rust-lang/rust/issues/81654) is significant throughout the ecosystem, through `lexical-core`. :( We can stabilize it again once that is solved upstream.

[2021-02-03 21:28] danc86 commented on #81702
Thanks for the pointer @Mark-Simulacrum, it does indeed seem the same as #77352, I didn't find that issue when I was searching. I will try `x.py install`.

In your comments on that issue, you seem to be suggesting it's just the assembly step which is no longer happening. But if I'm understanding the output I pasted above, it seems like there is a significant change in the bootstrapping behaviour.

[2021-02-03 21:29] m-ou-se commented on #81654
We are reverting stabilization of `::BITS` for now, until this is solved upstream.

[2021-02-03 21:36] m-ou-se commented on #81726
Hey @rust-highfive, don't blame the ~~messenger~~ rollerupperer!

Looks like this was https://github.com/rust-lang/rust/pull/80394 :)

[2021-02-03 21:40] m-ou-se commented on #81460
We discussed this in the library team meeting again just now, and agreed that this breakage still seems acceptable. Closing this issue for now.

If this turns out to cause any significant breakage in the ecosystem, feel free to re-open.

[2021-02-03 21:40] #81460 closed

[2021-02-03 21:48] Mark-Simulacrum commented on #81702
Yeah, there's potentially some oddity there. It doesn't sound like it's doing what I would expect in your case. That said, I believe the new root behavior is broadly correct (though maybe exposes preexisting internal inaccuracies/bugs). I don't think it should affect dist/install.

[2021-02-03 21:52] estebank commented on #52237
Current output:

[code]

I don't think we can do much to make the difference between `()` and `{}` more obvious (other than coloring or more verbose output), which I am disinclined to do for this case. If we make the output more verbose, people have a tendency to not read as much of them. I have planned doing some more work on the coloring side that has a larger scope than this one case.

Closing

[2021-02-03 21:52] #52237 closed

[2021-02-03 21:53] joshtriplett commented on #81088
Reposting a comment that I left on #81570:

Forcing all labels within an asm block to be local would certainly improve usability for the common case (so that people don't have to use local labels).

However, it is legal in clang and gcc to define a label in an asm block and make that label a global symbol. And I've seen that used, on occasion, in real projects, including the Linux kernel. (For ins

[2021-02-03 21:57] asquared31415 commented on #81088
That approach would work, and perhaps be better for allowing future choices.  We can always remove an error and make something work later, but if this causes weird behavior, it's a little harder to revert, especially if people rely on it.  As discussion in #81570 progressed I have become more concerned about enforcing things that are wrong, or preventing the use of things that *should* work, so I

[2021-02-03 22:10] Amanieu commented on #81088
There is a precedent for label rewriting: Clang does this for labels in MS-style inline asm ([source](https://github.com/llvm/llvm-project/blob/b3901ef09c74443c7d9deeb1c140ce6b0ea3f13c/clang/lib/Sema/SemaStmtAsm.cpp#L939)), which is what inspired me to suggest this.

Clang is a bit smarter than us since it uses LLVM MC to actually parse the asm as it is rewriting, but it also does a lot more than

[2021-02-03 22:16] joshtriplett commented on #81092
All three of these approaches seem useful. We may or may not need all of them before we can stabilize asm, though.

`clobber("C")` seems like a valuable one to have, to safely call C functions without having to manually maintain a perpetually incomplete clobber list.

@bkolobara Do you specifically need `clobber("all")`, or would `clobber("C")` suffice for your use case? The latter could likely be

[2021-02-03 22:27] pmeredit opened #81731 "Static libraries fail to build with x86_64-pc-windows-gnu with choco mingw installed (with cause of bug)"
We are building a static library on x86_64-pc-windows-gnu on a system that has a choco installed mingw using
cargo 1.49.0 (d00d64df9 2020-12-05).

I expected to see this happen: We expect it to build

Instead, this happened: we get a missing library libgcc_eh. We have seen other examples of this issue through web search, but here is the actual output from gcc:

[code]

The actual problem here is t

[2021-02-03 22:27] the8472 commented on #75935
Requesting a perf run on the PR would be a start, which runs an extensive performance test compiling (but not benchmarking) various crates. It might miss unusual number-crunching uses of slices though.

https://perf.rust-lang.org/

[2021-02-03 22:29] estebank commented on #80207
Reopening for the backport.

[2021-02-03 22:31] pmeredit commented on #81731
A further question would be how to get cargo to use the choco mingw toolchain. We want to link this library into a go program, which expects a far newer version of mingw than 6.3.0 (the self-contained version used by rust).

[2021-02-03 22:36] RalfJung commented on #81726
Yeah I'm on it.

[2021-02-03 22:42] Amanieu commented on #81092
There's also some considerations from LLVM to take into account based on how it handles clobbers:
- Unlike inputs/outputs, LLVM clobbers don't depend on active target features (invalid clobbers are just ignored by the compiler). For example you can clobber SSE registers without the SSE feature enabled.
- Clobbers conflict with both inputs and outputs. So the same register can't be used as both an

[2021-02-03 23:07] jyn514 commented on #81719
Personally, given how hard I expect this to be, I would like to see an RFC for this to make sure it's (close to) the best of the availabile options.

[2021-02-03 23:07] jackh726 commented on #53092
Much more minimized repro:

[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=61fec7be0b4c704d2dd38c2301037a84)

This is only a `type_alias_impl_trait` bug, so we can probably remove the other labels.

[2021-02-03 23:15] jackh726 commented on #55997
Modern repro:
[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=74b5b62971adff981ebda73414b81595)

[2021-02-03 23:21] comex commented on #81088
Sure, but MS-style inline asm is overall quite a bit more magic than GNU-style inline asm.

GNU-style inline asm has always been passed straight through to the assembler, except for making substitutions where substitutions are requested.  In the case of GCC, or Clang with `-fno-integrated-as`, this is done without even validating it in any way: you can take a C file containing `asm("do a barrel ro

[2021-02-03 23:32] jackh726 commented on #58662
This is fixed in master.
A more minimal example that probably still failed previously (needs to be checked) that doesn't depend on `rand` or never type:
[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2e4818aef874c22f0bdee4277b97d291)

[2021-02-03 23:36] #81700 closed

[2021-02-03 23:45] KodrAus commented on #81460
It's unfortunate that we no longer get that auto-deref for free that lops off the `'short` borrow. As noted in #80949 this can be fixed by using a reference binding:

[code]

Or alternatively by accepting a `&(dyn Error + 'static)` when you can instead, since it's still a more useful bound:

[code]

To make `impl Error` more useful, we could look at adding a `chain` method to the `Error` trait its

[2021-02-03 23:57] jackh726 commented on #65384
This is fixed on master.

[2021-02-04 00:02] ObsidianMinor commented on #29821
This doesn't seem to be an issue anymore. Running the provided "non-working" code doesn't trigger a compiler error.

[2021-02-04 00:04] jackh726 commented on #66426
Errors on current master:
[code]

[2021-02-04 00:09] jackh726 commented on #66980
Current errors on master:
[code]

[2021-02-04 00:15] jackh726 commented on #69137
Errors on master give correct suggestion
[code]
Change `Curried` to be `type Curried<'a, A: 'a, B, C, F: 'a + Fn(A, B) -> C> = ...` compiles successfully.

This just needs to be added as a test.

[2021-02-04 00:16] jackh726 commented on #69323
Works on master

[2021-02-04 00:44] alevy commented on #29821
Indeed, this not longer seems to be an issue. Happy to close the issue :)

[2021-02-04 00:45] bstrie commented on #29821
Should we add a regression test first?

[2021-02-04 01:53] asquared31415 commented on #81088
I agree mostly with the assessment that the compiler shouldn't explicitly forbid things that may be legal.  Especially with such a raw construct like inline assembly, outright forbidding thing is probably bad unless it's actually an issue.  I definitely think that the compiler should emit a warning for labels that could be bad, and require the user to explicitly disable the warning if that's reall

[2021-02-04 02:11] jryans commented on #81614
As discussed, we can remove some of the labels now that the ICE is resolved (but the root cause remains).

@rustbot label -I-ICE -I-prioritize +A-diagnostics

[2021-02-04 03:13] leafinsky-li commented on #81051
I encountered the same problem when upgrading the latest version. After downgrading this version, everything works fine again.

[2021-02-04 03:13] JulianKnodt commented on #75243
It seems that `zip` is quite annoying: https://godbolt.org/z/4do8nT,
Here's `enumerate` instead of `zip`: https://godbolt.org/z/MnrEPo.
That being said, I do have a blocked PR up for optimizing it a little.

[2021-02-04 06:18] jackh726 commented on #76187
A slightly more minimized example:
[code]

[2021-02-04 06:27] jackh726 commented on #76187
I've started to dig into this a little. I *think* there is an infinite loop happening in the implict outlives bit of typechecking.

Basically, the `unsubstituted_predicates` [here](https://github.com/rust-lang/rust/blob/e708cbd91c9cae4426d69270248362b423324556/compiler/rustc_typeck/src/outlives/implicit_infer.rs#L168) are growing really large: `<<<<T as Life>::L<'r> as Life>::L<'r> as Life>::L<'r>

[2021-02-04 06:34] Qwaz opened #81739 "Add a safety warning in `ExactSizeIterator` documentation"
`ExactSizeIterator` is a safe trait. Thus, unsafe code cannot rely on the correctness of `size_hint()` when it is related to the program safety. However, this trait seems to be used in the wild in such context, for example:
https://github.com/tiby312/reorder/blob/59ad9be6989de8eee948510b850851105ecad22e/src/lib.rs#L44-L57

I believe adding a warning about such misunderstanding like [what is writte

[2021-02-04 06:49] Qwaz opened #81740 "Soundness issue in `Zip::next()` specialization"
https://github.com/rust-lang/rust/blob/e708cbd91c9cae4426d69270248362b423324556/library/core/src/iter/adapters/zip.rs#L191-L211

https://github.com/rust-lang/rust/blob/e708cbd91c9cae4426d69270248362b423324556/library/core/src/iter/adapters/zip.rs#L395-L396

There is a panic safety issue in `Zip::next()` that allows to call `__iterator_get_unchecked()` to the same index twice. `__iterator_get_unche

[2021-02-04 07:05] osa1 commented on #81686
OK so the long-term goal you have in mind is to restrict pointer to integer casts to usizes. In that case I agree that this check should be in the compiler.

I already implemented the lint. I wasn't sure how to "register" it, but I just realized that we also have built-in lints (like `arithmetic_overflow` that rejects code like `1i32 << 32`) that don't need to be in one of the categories listed in

[2021-02-04 07:40] Qwaz commented on #81740
The bug fixed by this PR seems to have the same consequence, but it didn't get the unsound label.
https://github.com/rust-lang/rust/pull/80670

[2021-02-04 07:47] sdroege commented on #75935
Thanks, but considering that C++ iterators work the same way, it's probably safer to keep it with this pattern and wait for LLVM to solve that. I would assume that patterns (also) used by C++ are more likely to be optimized better.

[2021-02-04 07:48] alercah commented on #42951
Was there any updates to the documentation of Hasher? I didn't see any in a quick scan of threads.

[2021-02-04 08:02] sdroege commented on #81740
Seems like this would be fixed by simply doing the same as in the first branch of the `if` and incrementing the `self.index` beforehand. Are you creating a PR for this?

[2021-02-04 08:14] Qwaz commented on #81740
Agreed :)

Not in the meantime. Fill free to work on a PR if you are interested.

[2021-02-04 08:21] sdroege commented on #81740
Sure, why not :)

[2021-02-04 08:26] mati865 commented on #81731
Newer DWARF/SEH mingw-w64 toolchains still do use `libgcc_eh`.
Sounds like you have SJLJ in `PATH? In that case you can use `RUSTFLAGS='-C link-self-contained=true'` to force Rust shipped mingw-w64 toolchain.

Rust will use `{i686,x86_64}-w64-mingw32-gcc` from `PATH` as the first choice and fallback to shipped one as second choice.
You can force system toolchain with `RUSTFLAGS='-C link-self-conta

[2021-02-04 08:37] bkolobara commented on #81092
@joshtriplett We specifically need `clobber("all")`, because we are using it for a generator implementation and after the `asm!` call we can't guarantee anything.

[2021-02-04 09:50] tmiasko commented on #81722
This is expected, ASAN and MSAN instrumentation usually interacts with shadow memory directly rather than calling into the runtime.

[2021-02-04 09:56] folex commented on #56520
Happened to me on 1.51.0-nightly

[code]

[2021-02-04 10:23] Kixunil commented on #33577
@Amanieu OK, I decided to become that someone. :) Thanks for clarifying!

[2021-02-04 10:32] badboy commented on #81632
Ran into this now too. Happy to help here as well.
@deg4uss3r Did you already get started?

[2021-02-04 10:34] steffahn commented on #69137
Seems like this works (with the additional `F: 'a`) since #72080.

[2021-02-04 10:36] KodrAus commented on #58520
I think @haraldh touched on a reason to consider both a method that iterates over `self` and its sources and one that just includes its sources: you can call the latter on any error, but can only call the former on an error you can downcast into `dyn Error + 'static`:

[code]

So you could write a maximally compatible method to display an error using `sources`:

[code]

but you couldn't write that

[2021-02-04 10:44] raphaelcohn commented on #74479
I'm deeply against including this in Rust's core API. Whilst conceptually it seems helpful and even useful, the technique used for Linux isn't just broken with regard to containers, it's broken in a number of other situations as well. It turns out doing this well is extremely hard. I've gone through several iterations of my own to get it 'right'. First up `sysconf(_SC_NPROCESSORS_CONF)` can not be

[2021-02-04 10:45] raphaelcohn commented on #74479
@strohel - the API *can* do something about CPU hotplugging. It's quite discoverable.

[2021-02-04 10:53] steffahn commented on #69137
Actually it used to work without the `F: 'a` for a while. From 2020-06-16 up to 2020-10-06 after which #73905 was merged. I feel like that it working without the `'a` bound on `F` might potentially have been unsound, so I guess my original code stands corrected.

[2021-02-04 11:06] athre0z commented on #77905
Unfortunately, this code isn't equivalent. With your proposed variant, `'a` needs to be defined by the call site. `somefn_gat` can't, for example, pass a reference to a local variable to `f`.

Comparing two playgrounds (without GAT, to not run into the issue described in the original post of this issue:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=18e76ca1267c0d8f9ee00b

[2021-02-04 11:22] yshui opened #81750 "Tracking Issue for Add Result<Result<T, E1>, E2>::transpose_err -> Result<Result<T, E2>, E1>"
Feature gate: `#![feature(transpose_err)]`

This is a tracking issue for adding Result<Result<T, E1>, E2>::transpose_err which transpose the error type in a nested Result type.

### Public API

[code]

### Steps / History

- [x] Implementation: #81749
- [ ] Final commenting period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-02-04 12:12] eddyb opened #81751 "global_asm! does not register location information to LLVM, resulting in suboptimal error reporting."
Quick example ([run on playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8dcc111cf690e80a409e53c0c260a9c7)):
[code]

Current error output is:
[code]

The reason `asm!` has location information is [because it attaches `!srcloc` metadata](https://github.com/rust-lang/rust/blob/6645da366eed0c61258a04265bea513e94df7ea6/compiler/rustc_codegen_llvm/src/asm.rs#L381-L407

[2021-02-04 12:13] Amanieu commented on #81751
It isn't.

[2021-02-04 12:14] eddyb commented on #35119
Noticed the error reporting was suboptimal and filed #81751 (though there might not be anything we can do without changing LLVM).

[2021-02-04 12:19] b-naber commented on #77905
I don't really understand how you want to call `somefn_gat` in your original example. How is the compiler supposed to infer `T`? You have to somewhere supply an instance that implements `Foo` or let `somefn_gat` be a trait method of `Foo`.

[2021-02-04 14:21] xfix commented on #56167
I find `raw_entry` and `raw_entry_mut` methods unnecessary - unlike `entry` method, they don't take any parameters, they just provide access to methods that could as well be in `HashMap` itself. I think I would consider getting rid of those and putting raw entry APIs directly in `HashMap`. `.raw_entry().from_key(...)` is pretty much unnecessary, unless I'm missing something it's identical to alrea

[2021-02-04 14:27] deg4uss3r commented on #81632
@badboy I did but having trouble I've pushed my changes here: https://github.com/deg4uss3r/rust/tree/degausser/aarch64_apple_ios_sim

More than happy to work with you on this Jan!

[2021-02-04 14:29] badboy commented on #81632
I'll try to get a dev environment set up and then I'll take a look.

[2021-02-04 14:47] apiraino commented on #81658
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381658.20Invalid.20.60field.20is.20never.20read.3A.20.60.20lint.20warning) and removing `I-prioritize`.

[2021-02-04 15:19] nikomatsakis commented on #81357
@rustbot assign @sivadeilra

[2021-02-04 15:25] Schuwi commented on #73755
Just wanted to add that using the `wasm-ld` linker version 12+ makes it work.
For example by adding it to the `~/.cargo/config.toml`:
[code]

[2021-02-04 16:19] apiraino commented on #81514
agreed to demote and drop support during [compiler team meeting](https://zulip-archive.rust-lang.org/238009tcompilermeetings/89477weeklymeeting2021020454818.html#225178063)

[2021-02-04 16:27] jesusprubio commented on #62953
Long explanation added. Thanks for the explanation @ssomers, it helped me a lot :).

https://github.com/rust-lang/rust/pull/81634

Do you consider it enough to close the issue?

[2021-02-04 16:45] ssomers commented on #62953
For my example, that is definitely very helpful and more than enough.

[2021-02-04 17:10] nagisa commented on #81514
We discussed this during the @rust-lang/compiler meeting today.

This FCP is for the removal of this target from rustc. We felt that this target is somewhat similar to the Windows XP situation, support for which was removed recently as part of [this MCP](https://github.com/rust-lang/compiler-team/issues/378) in that the target is unmaintained for long enough that removing it is well warranted.

@r

[2021-02-04 17:57] pmeredit commented on #81731
@mati865 Yes, we definitely have SJLJ in path, the libgcc.a file being picked up is all SJLJ symbols.

[2021-02-04 18:04] deg4uss3r commented on #81632
I built the toolchain successfully, but when I try to compile my project (with either `aarch64-apple-darwin` or `aarch64-apple-ios-sim`) I'm getting:

[code]

 I think I've missed a setting in the build config I'm using, because the normal nightly compiles fine :(

 `config.toml`: https://gist.github.com/deg4uss3r/183ef399590f74353691b21badc382cc

[2021-02-04 18:07] bstrie commented on #43241
Does https://github.com/rust-lang/rust/pull/77885 mean that stack probes are now enabled on all LLVM targets? If so, should this be closed?

[2021-02-04 18:11] pmeredit commented on #81731
@mati865 I'm still getting undefined reference to `_Unwind_Resume` here. Can we just not build against SJLJ?

[2021-02-04 18:21] mati865 commented on #81731
@pmeredit only Dwarf-2 (i686) and SEH (x86_64) exceptions are supported for windows-gnu toolchains. You can try with `RUSTFLAGS='-C panic=abort'` but it might not help.

[2021-02-04 18:33] pmeredit commented on #81731
@mati865 Thanks for the info. We'd already tried `panic=abort`, it still left a few references to `_Unwind_Resume`

[2021-02-04 18:41] adrian17 opened #81757 "1500-arm match statement causing a major build time and memory use spike, especially for wasm target"
Tested on both stable 1.49 and current nightly.

The change in question: https://github.com/tafia/quick-xml/pull/239/files#diff-0acc5298e8580ddde57f322c2f6b70406f8d2b13acd0bebc4125428a66afc585

My reproduction:
[code]
Before this commit, `cargo build --release` took up to 5s irregardless of target.
With this commit:
`cargo build --release` takes 30-40s and 200MB more memory than before.
`cargo bui

[2021-02-04 19:03] estebank opened #81758 "When calling method with incorrect args, check other methods that take the same args"
For large method names that follow some patterns (`maybe_report_foo_if_bar`) it is easy to get them mixed up. When they have different arguments, the error might be confusing for a bit until you realize that the difference is the _method name_, not the wrong arguments.

We should look at other similarly named methods that do have the right arguments and could have been called instead. To avoid too

[2021-02-04 19:29] badboy commented on #81632
Yeah, that looks like upstream breakage in `lexical-core` because of recent changes.
I can try taking your code tomorrow and throw this against my project to see if that fixes my simulator issues.

[2021-02-04 19:32] #81726 closed

[2021-02-04 19:39] Amanieu commented on #81088
Wild idea that I just thought of, what if we added extra syntax to `asm!` for labels:
[code]

This avoids the need to parse the assembly code since labels are defined outside the asm string and references to labels use the placeholder syntax. We could then have a lint which recommends people to use this syntax if we find labels inside the assembly code.

[2021-02-04 19:46] tmandry commented on #81653
The difference between `Copy` and non-`Copy` types definitely seems unexpected. I hope this is something we can improve on.

[2021-02-04 19:48] thomcc commented on #81722
Is the documentation of those functions incorrect then?

[2021-02-04 19:55] axic opened #81759 "Rustdoc testing fails to build with ASan enabled (in some cases)"
While creating/maintaining C++ -> Rust bindings using different sanitizers is very useful. [Recently we added example code](https://github.com/wasmx/fizzy/pull/724) to module-level rustdoc comments for documentation purposes.

It turns out that building doc testing using ASan is not possible and likely the ASan library is not passed as a linker flag to the built rustdoc binaries.

An example sourc

[2021-02-04 20:04] tmiasko commented on #81759
`RUSTFLAGS` do not apply to rustdoc, but `RUSTDOCFLAGS=-Zsanitizer=address` should.

[2021-02-04 20:10] axic commented on #81759
Hmm, I did not even think there should be a different configuration for docs. I can confirm that works.

It did not occur to me when reading https://doc.rust-lang.org/unstable-book/compiler-flags/sanitizer.html, but after going back and searching for `RUSTDOCFLAGS` it is indeed there in one of the code examples.

Perhaps a note would be useful? Should I close this issue?

[2021-02-04 21:40] jyn514 commented on #81759
If you want to add a note I think that would be useful. I don't think the behavior should change.

[2021-02-04 21:53] cuviper commented on #43241
Not yet -- I would like to test additional architectures natively before enabling them, because we did uncover bugs in X86 codegen. Also, PowerPC and SystemZ (s390x) are the only other targets that have implemented stack probes at all.

[2021-02-04 22:27] deg4uss3r commented on #81632
@badboy Yeah I added the patch to my workspace for now and I'm getting somewhere but still failing with `clang`:

[code]

I tried doing this on my own (I have no idea how Xcode is getting this clang call from)..

with:

[code]

and got:

[code]

[2021-02-04 22:30] kitsonk opened #81765 "Nightly Compiler has internal error with dependent crate lspower"
I had been on an older version of nightly and the project compiled fine, I updated to the latest nightly and now the build fails on compiling the lspower crate v6.0.0 at the following line:

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2021-02-04 22:30] deg4uss3r commented on #81632
Yeah I added the patch mentioned in that issue and am getting further but:

[code]

which Xcode still seems to be getting x86_64 somewhere:

[code]

 I tried replacing all the `x86_64` with `arm64` and got closer:

[code]

 but got:

[code]

[2021-02-04 22:31] smklein commented on #79558
FYI, this looks like a dup of https://github.com/rust-lang/rust/issues/79438

[2021-02-04 22:32] jonas-schievink commented on #81765
duplicate of https://github.com/rust-lang/rust/issues/81531

[2021-02-04 22:32] #81765 closed

[2021-02-04 22:36] rychipman commented on #81731
You can force system toolchain with RUSTFLAGS='-C link-self-contained=false'.

Are there flags that can be set to print out all of the invocations for binaries exec'ed during compilation? I'm compiling my `staticlib` project with `RUSTFLAGS='-C link-self-contained=yes -Z print-link-args' cargo build`, but it's not showing any linker invocations for my crate (only dependencies).

[2021-02-04 22:51] mati865 commented on #81731
@rychipman static libraries aren't linked together from objects like dynamic libraries. Instead they are just an archive that contains files assembled by the compiler.

[2021-02-04 22:51] asquared31415 commented on #81088
That solution then prevents the use of multiline strings that could have multiple labels.  I do kinda like it, but it also seems bad for the reasons mentioned by comex regarding transparency.  Inline assembly is not a rust construct, and I don't know how much we should extract from the raw inline assembly.

[2021-02-04 23:01] camelid commented on #81757
I wonder if LLVM is the source of the WASM slowdown.

[2021-02-04 23:25] jyn514 commented on #81696
Relevant code: https://github.com/rust-lang/rust/blob/4f4656d46d84a488ae3df34b08f362d7071036a0/src/librustdoc/html/render/cache.rs#L83, https://github.com/rust-lang/rust/blob/4f4656d46d84a488ae3df34b08f362d7071036a0/src/librustdoc/formats/cache.rs#L322

[2021-02-04 23:30] pacman82 commented on #68354
I am using this feature in `odbc2parquet` without realizing it. Since the crate `parquet` is stable now, I'll probably try not to use it anymore until it is in the stable version of the compiler.

[2021-02-04 23:53] Lokathor commented on #79558
@nospam3089 `tinyvec` is a 100% safe version of the `smallvec` / `arrayvec` crates. It's like a Vec<T> but uses an array instead of a heap allocation below a certain size.

It's written correctly as far as I know (tens of thousands of downloads a day off of crates.io, no significant bugs reported), and should not crash the compiler to build.

[2021-02-04 23:56] jackh726 commented on #76187
Okay, digging in some more.

In outlives checking, here's the sequence of events I'm seeing:

We ask for required predicates for `List<'r, <T as Life>::L<'r>>`
Unsubstituted predicates are: `'r: 'r` and `T: 'r`
We get back required predicates of `'r: 'r` (existing) and `<T as Life>::L<'r>: 'r`

This is a new "global predicate", so we add it to map.

Next round:

We ask for required predicates for:

[2021-02-05 00:14] jackh726 commented on #76187
Much shorter repro
[code]

[2021-02-05 00:21] jackh726 commented on #76187
Very short repro that doesn't use GATs
[code]

[2021-02-05 00:22] jackh726 commented on #76187
This looks a lot like #63650.

As this isn't a GAT issue, I'm removing that label.

[2021-02-05 00:31] camelid commented on #81289
Assigning `P-medium` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381289.20rustdoc.20documents.20.60mut.20self.60.20as.20.60mut.20self.3A.20Self.60) in the prioritization working group.

[2021-02-05 00:35] camelid commented on #81274
Assigning `P-medium` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381274.20Wrong.20.60pub.60.20modifier.20in.20each.20function.20of.20trait.20docum.E2.80.A6) in the prioritization working group.

[2021-02-05 00:36] camelid commented on #81357
@apiraino You removed `I-nominated` instead of `I-prioritize`. Removing `I-prioritize` and adding `I-nominated` now: @rustbot label: +I-nominated -I-prioritize

[2021-02-05 00:42] camelid commented on #81693
I think this is a well-known borrow-checker bug — see https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/borrow.20error.

@rustbot label: T-compiler

[2021-02-05 01:26] gowrizrh commented on #79178
@Diggsey I looked into this, and it kind of seems intentional?

[code]

That condition is never true, and is not executed at all. So the line that's commented out is the first time it is actually called.

Regardless, `hashbrown` never drops (well as of now atleast)  when an item is requested to be removed. It erases the element from the inner table, but does not drop it.

So when the last `guard.s

[2021-02-05 01:53] 1000teslas commented on #81365
@Aaron1011 It doesn't look like `from_hir_call` distinguishes between `issue-81365.rs`, where the deref in `self.target_field` is implicit and `issue-81365-8.rs`, where the deref is explicit.

[2021-02-05 02:08] #33577 closed

[2021-02-05 02:08] #81654 closed

[2021-02-05 02:09] rust-highfive opened #81770 "`miri` no longer builds after rust-lang/rust#81761"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#81761, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @m-ou-se, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-02-05 02:13] rychipman commented on #81731
Ah, ok; I saw that the `ar` to use is configurable, and assumed (perhaps incorrectly) that this was its purpose.

- Does cargo not use `ar` to assemble static libraries?
- If `ar` isn't used for assembling static libs, then what is it used for?
- Are the static libs (`.a` files) from the `winapi` crate included in the static lib generated by my crate? If so, is `rustc` responsible for putting them

[2021-02-05 02:16] memoryruins commented on #68354
@pacman82

No worries, it is stable now!

The feature was stabilized in https://github.com/rust-lang/rust/pull/76119 and was released last month in stable rust 1.49 https://github.com/rust-lang/rust/blob/master/RELEASES.md#version-1490-2020-12-31 . It should be safe to close this tracking issue now ^^

[2021-02-05 02:17] Diggsey commented on #79178
Yes... that's the issue. The expression *should* evaluate to true, but it's not because there is a situation where hashbrown reports a capacity of zero, but the backing memory has not been freed.

That's not the issue: the issue is that `capacity` can report zero when the backing memory is still allocated. Users of standard collections expect `capacity == 0` to mean that the memory is freed.

The

[2021-02-05 02:22] gowrizrh commented on #79178
Why should that evaluate to true? Are you saying that the capacity should reduce appropriately when items are removed?

[2021-02-05 02:28] Diggsey commented on #79178
The way hashbrown works, the capacity *already* reduces (in some cases) when items are removed, and that's what causes the issue.

The logic of the condition is this: "if the hashmap is less than 1/3 full, then shrink it to fit the number of items".

At *some* point whilst removing items, this should result in the hashmap becoming empty, since at some point the number of items should hit zero whil

[2021-02-05 02:31] gowrizrh commented on #79178
Ah! gotcha, sorry I was understanding this the wrong way around

[2021-02-05 03:11] tesuji commented on #81274
Removing E-mentor + E-easy labels since we don't have guides for cross-crate linking:
@rustbot label -E-easy -E-mentor

[2021-02-05 04:03] jyn514 commented on #81274
I think https://github.com/rust-lang/rust/blob/dab3a80f235ed86d64d002e58b35adc3664e21a4/src/librustdoc/clean/mod.rs#L1156 is the cross-crate case.

[2021-02-05 04:23] SoniEx2 opened #81772 "Reborrowing fixes borrowck issue with From?"
I tried this code:

[code]

I expected to see this happen: The code should compile.

Instead, this happened: The code errors with E0382.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-02-05 04:47] laocaoshilaocao opened #81773 "Failed to install fortanix-sgx-tools"
HI! I was trying to install fortanix-sgx-tools on Linux 18.04 LTS using command
`cargo install fortanix-sgx-tools sgxs-tools`
I strictly followed the instruction  https://edp.fortanix.com/docs/installation/guide/

The error is as follows:
[code]

Hope to hear from you if any help could be given.

[2021-02-05 05:44] toku-sa-n opened #81775 "Rustdoc shouldn't lint about missing code examples in derived traits"
I tried this code:

[code]

I expected to see this happen: `cargo doc` succeeds.

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

[2021-02-05 05:56] KodrAus commented on #44874
One limitation of using an associated type for `MethodReceiver` would be that we couldn't provide a blanket `impl<T> MethodReceiver<T> for T`, which unless we wanted to try performing some kind of auto-ref on arbitrary-self-accepting methods would prevent something like this from working (based on the current `Deref`-based design): https://play.integer32.com/?version=nightly&mode=debug&edition=201

[2021-02-05 06:45] osa1 commented on #81770
Where can I learn more about how this check is done? I just built stage 1 compiler with current master, and I was able to build miri with `cargo +stage1 build`.

[2021-02-05 07:43] mati865 commented on #81731
AFAIK rustc uses LLVM to do it.

From docs: `This option is deprecated and unused`.

I don't know how winapi crate works.

---
I also don't see how these questions are related to the original issue here.

[2021-02-05 08:20] osa1 commented on #81757
I tried to profile this, following https://rustc-dev-guide.rust-lang.org/profiling/with_perf.html

- I first built the package in release mode for native and wasm32-unknown-unknown targets
- Then generated perf data using `touch src/lib.rs; perf record -F99 --call-graph dwarf cargo +stage1 rustc --release --target=...`
- Generated how much time was spent in LLVM-related stuff using `perf focus '{l

[2021-02-05 08:58] m-ou-se commented on #81770
I'm guessing one of the tests is failing because it now needs a `#[allow(non_fmt_panic)]`. The failure should be hidden somewhere in the logs of the `toolstate` runner: https://github.com/rust-lang-ci/rust/runs/1834930125

[2021-02-05 09:09] m-ou-se commented on #81770
https://github.com/rust-lang/miri/pull/1701 should fix tihs.

[2021-02-05 09:11] osa1 commented on #81770
Ah, so the problem is in one of the tests.. I only checked building.

[2021-02-05 10:06] hellow554 commented on #81775
searched nightlies: from nightly-2020-09-30 to nightly-2020-11-30
regressed nightly: nightly-2020-11-12
searched commits: from https://github.com/rust-lang/rust/commit/cf9cf7c923eb01146971429044f216a3ca905e06 to https://github.com/rust-lang/rust/commit/5404efc28a0cddee103ef6396c48ea71ff9631c8
regressed commit: https://github.com/rust-lang/rust/commit/38030ffb4e735b26260848b744c0910a5641e1db

<deta

[2021-02-05 10:41] RalfJung commented on #81770
@osa1 usually, `x.py test --stage 0 src/tools/miri` should let you run the tests, but this is currently broken by https://github.com/rust-lang/rust/issues/78778.

[2021-02-05 10:41] erayerdin commented on #23286
@estebank Actually using `PathBuf` instead of `Path` solved my issue.

[2021-02-05 10:45] thiolliere commented on #76874
the inner doc issue is remaining but it is a duplicate of https://github.com/rust-lang/rust/issues/43081

[2021-02-05 10:45] #76874 closed

[2021-02-05 10:55] matsujika commented on #81421
@rustbot claim

[2021-02-05 11:11] apiraino commented on #81740
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381740.20Soundness.20issue.20in.20.60Zip.3A.3Anext().60.20specialization) and removing `I-prioritize`.

[2021-02-05 11:16] apiraino commented on #81661
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381661.20Inner.20tool.20attributes.20emit.20spurious.20unused.20attribute.E2.80.A6) and removing `I-prioritize`.

[2021-02-05 11:52] apiraino commented on #81633
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381633.20private.20macros.20break.20intra-doc.20links) and removing `I-prioritize`

[2021-02-05 11:53] thiolliere opened #81785 "error: `overflow evaluating the requirement` without precise link to origin of the error"
When some type doesn't implement some trait, rust error message overflow evaluating the requirement (which is ok), but it fails to give a proper error message, as it doesn't show where the error comes from. It would be very more helpful if the error message points to where the failing evaluation comes from.

I tried this code:

[code]

I expected to see this happen: have a reference to what trigge

[2021-02-05 12:03] jonas-schievink commented on #81773
duplicate of https://github.com/rust-lang/rust/issues/81531

[2021-02-05 12:03] #81773 closed

[2021-02-05 12:28] Schuwi commented on #73755
This very much seems like a bug in `wasm-ld` v11 because the linker actually produces syntactially invalid WASM bytecode:
[code]
See WASM specification: https://webassembly.github.io/spec/core/binary/types.html

For comparison, this is the (valid) object file before linking:
[code]
---
The only way I found to produce valid multivalue WASM with **LLVM 11** was using `clang` to compile *directly* to

[2021-02-05 12:33] hestati63 opened #81786 "[Rustdoc] Thread 'rustc' panicked at 'Unable to fulfill trait DefId'"
### Code

[code]

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-05 12:39] jesusprubio commented on #62953
@GuillaumeGomez , could you close this issue please? :)

[2021-02-05 12:43] rkowalewski opened #81787 "Cannot bootstrap rustfmt in-tree: unknown feature `array_value_iter_slice`"
Bootstrapping rust nightly fails when building `rustfmt`. I suppose this results from merging #80470, where the [rustc-ap-rustc_arena](https://libraries.io/cargo/rustc-ap-rustc_arena) crate has been modified (remove some features).

Cargo.lock still uses an old version (v697.0.0). However, it should be v702.0.0.

I build on OpenBSD current. For reference, I attached my [build.log](https://github.c

[2021-02-05 12:44] GuillaumeGomez commented on #62953
@ssomers seems satisfied so let's close it. Thanks @jesusprubio !

[2021-02-05 12:44] #62953 closed

[2021-02-05 12:50] wesleywiser opened #81788 "ICE in src/test/ui/issues/issue-74614.rs if MIR inlining is enabled"
[code]

fails with

[code]

<details><summary>backtrace</summary>

[code]

</details>

[2021-02-05 12:54] wesleywiser commented on #81788
I believe the issue is that after inlining, `test` is optimized to

[code]

at which point, its `T` type parameter is unused but we only call `Instance::polymorphize` from codegen and not const eval. So the `Instance` of `test` during const eval is not polymorphized and so we trigger the assert in `ensure_monomorphic_enough`.

@davidtwco does that sound right to you?

[2021-02-05 13:01] davidtwco commented on #81788
I couldn't say for sure without digging into it myself but that sounds likely.

[2021-02-05 14:36] Walther opened #81790 "Apple Silicon M1 - libLLVMX86Disassembler.a: file too small to be an archive"
On a `Mac mini (M1, 2020)` with macOS Big Sur `11.2 (20D64)`

running a `./x.py build` and letting it compile llvm from scratch results in:
[code]

Note, that `llvm` compilation itself seemed to complete successfully before it:

[code]

The file in question seems to be `3.2M` in size. I do not know if that is indeed too small to be correct, or if there is some unknown error in detecting it.

[code

[2021-02-05 14:50] fogti opened #81791 "replace usages of 'wc' in test scripts with simpler ways"
https://github.com/rust-lang/rust/blob/730d6dfdddc0f55d9cbeedb29a14b342f74e2a9d/src/test/run-make-fulldeps/target-cpu-native/Makefile#L11
see also: https://github.com/rust-lang/rust/pull/53642#discussion_r212694002
As noted above, the snip `[ $(wc -c file | cut -d' ' -f1) == 0 ]` should be replaced with `! [ -s file ]` which should make such scripts more portable.
other locations of this are easil

[2021-02-05 14:52] #67510 closed

[2021-02-05 14:52] #68574 closed

[2021-02-05 14:52] #68648 closed

[2021-02-05 14:52] #68649 closed

[2021-02-05 14:52] #68650 closed

[2021-02-05 14:52] #68652 closed

[2021-02-05 14:52] #74684 closed

[2021-02-05 14:52] #76535 closed

[2021-02-05 14:52] #79422 closed

[2021-02-05 14:52] #80433 closed

[2021-02-05 15:31] jackh726 commented on #70303
Should work after #79554

[2021-02-05 15:31] jackh726 commented on #70304
Should work after #79554

[2021-02-05 15:33] wigy-opensource-developer commented on #63033
I know I am late to the game, but this issue still hunted us down with a Rust 1.48 compiler. The workaround is simple, but it pollutes all the callers with extra lifetime parameters. Basically, wherever `'static` saved us from introducing a lifetime parameter, we have to introduce it in `struct`s, `fn`s, everywhere.

[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&editio

[2021-02-05 15:34] jackh726 commented on #71176
Should work after #79554

[2021-02-05 15:37] jackh726 commented on #76826
Should be fixed since #79554

[2021-02-05 15:40] lvyitian opened #81796 "rustc attempts to use old version of msvc for linking instead of new version of msvc"
error: linking with `link.exe` failed: exit code: 0xc0000135
  |
  = note: "E:\\Microsoft Visual Studio 2012 Express\\VC\\bin\\link.exe" "/NOLOGO" "/NXCOMPAT" "/LARGEADDRESSAWARE" "/SAFESEH" "/LIBPATH:C:\\Users\\***\\.rustup\\toolchains\\stable-i686-pc-windows-msvc\\lib\\rustlib\\i686-pc-windows-msvc\\lib" "C:\\Users\\***\\IdeaProjects\\rtpwq\\target\\debug\\deps\\rtpwq.17opqmq9sse2tn3p.rcgu.o" "C

[2021-02-05 15:57] Xdminsy commented on #76984
Say I meet this problem today when I just want to compile a hello world rust file.
`rustc main.rs` gives `error: linking failed. cannot find -lgcc_eh`, the same as this issue.

As I don't want to remove tdm-gcc from my `$PATH`, then I try to find another workaround.
I know that it `cannot find -lgcc_eh` is because of the lack of its library file, namely `libgcc_eh.a`.
But the file `libgcc_eh.a` is

[2021-02-05 16:04] lcnr opened #81793 "Tracking Issue for relaxed struct unsizing rules"
The feature gate for the issue is `#![feature(relaxed_struct_unsize)]`.

This features changes the when a struct implements `Unsize` which
is required for unsize coercion.

A generic struct previously implemented `Unsize` if and only if:
- the tail field depends on at least one type or const parameter
- **all type and const parameters used in the last field must only be used in the last field**
-

[2021-02-05 16:10] mati865 commented on #76984
@Xdminsy you can use `link-self-contained=true` codegen option to make Rust use only shipped linker.
Example: `RUSTFLAGS='-C link-self-contained=true'`.

[2021-02-05 16:17] Xdminsy commented on #76984
Ohh thank you, this environment variable seems to be a better way.

[2021-02-05 16:20] cynecx commented on #81712
I've tested this locally and I can confirm that #79554 fixes this (with this change: `C<DType<T> = Self>`).

[2021-02-05 16:42] poliorcetics commented on #81775
What is the correct option here ? Ignoring derived traits or putting default examples on the derive for those types ?

The first seems hard to do but I'm maybe missing knowledge to see it done.

The second means the examples won't be very relevant to the type on which they are derived. For `Clone` this is not much of a problem, but for thing like `serve::Serialize` I can see it confusing people.

[2021-02-05 16:51] cynecx commented on #79768
I expected this to work (tested on top of #79554):

[code]

Am I missing something? (Or is this a bug?) @jackh726

[2021-02-05 16:56] jyn514 commented on #81787
I think this is expected behavior in some sense - rustfmt is maintained in a submodule and breaks occasionally, that's why it's not available on all nightlies. https://forge.rust-lang.org/infra/docs/rustc-ci.html#toolstate-to-support-allowed-failures

[2021-02-05 17:00] jyn514 commented on #81775
I think rustdoc shouldn't require examples for derived traits. https://github.com/rust-lang/rust/blob/f9435f4c92651d67d5dbaba13c5606c4c4fc1327/src/librustdoc/passes/doc_test_lints.rs#L77-L80

A possible fix is to only call `source_callsite()` in render, and use the macro span everywhere else for the purpose of lints.

[2021-02-05 17:02] ehuss commented on #81796
Transferred to the rust-lang/rust repository, since this is a rustc issue (or more specifically with `cc`), or your installation of visual studio may be incomplete.  Unfortunately beyond the `VCINSTALLDIR`, it may be difficult to diagnose because it uses COM to discover the location of visual studio version 15+.  It also looks like you are using i686, which is fairly rare, and I'm uncertain if you

[2021-02-05 17:16] poliorcetics commented on #81696
Works for `<=`, `+` and presumably all other operators too.

![Screenshot 2021-02-05 at 18 16 10](https://user-images.githubusercontent.com/7951708/107066405-3be20180-67de-11eb-872f-93fe8ddda53d.png)

https://doc.rust-lang.org/nightly/std/?search=%2B

[2021-02-05 17:19] poliorcetics commented on #81696
Works in `core` docs too (https://doc.rust-lang.org/nightly/core/?search=%2B), I tested to see if it was the reexport of core from std that did it.

[2021-02-05 17:47] yoshuawuyts opened #81798 "Tracking Issue for stream_from_iter"
Feature gate: `#![feature(stream_from_iter)]`

This is a tracking issue for `core::stream::from_iter`

### Public API

[code]

### Steps / History

- [x] Implementation: https://github.com/rust-lang/rust/pull/81797
- [ ] Final commenting period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-02-05 17:48] jackh726 commented on #79768
@cynecx looks like the same bug as #76407 (working on it now)

[2021-02-05 18:08] notoria opened #81799 "Unexpected shadow label warning"
This code produces the warning:
[code]
Playground [link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=57eb3928accd50dad69b9f90581d2f9e).

[2021-02-05 18:35] ZhangZhuoSJTU opened #81800 "Thread 'rustc' panicked at 'assertion failed: bpos.to_u32() >= mbc.pos.to_u32() + mbc.bytes as u32', compiler/rustc_span/src/lib.rs:1512:17"
I see an internal compiler error on following code.

### Code

[code]

### Meta

I test it on stable, beta, and nightly version.

`rustc --version --verbose`:
[code]

### Error output

The output is from nightly.

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-05 18:51] lvyitian commented on #81796
rustc -C linker=xxx source can work properly.

[2021-02-05 19:14] ehuss commented on #81799
I believe this is intended behavior, see #21633 and https://internals.rust-lang.org/t/psa-rejecting-duplicate-loop-labels/1833.

I think the warning should be converted to a future-compatible lint if the lang team really wants to keep it.

[2021-02-05 19:25] jackh726 opened #81801 "Bad diagnostics for GATs in trait paths"
The diagnostics introduced by https://github.com/rust-lang/rust/pull/77524 are wrong in some cases, e.g. in [gat-trait-path-missing-lifetime](https://github.com/rust-lang/rust/blob/8dfa5836cd7c94f5eb7cc8489d47ae7a3a9995d0/src/test/ui/generic-associated-types/gat-trait-path-missing-lifetime.rs) we get the following stderr:

[code]

_Originally posted by @b-naber in https://github.com/rust-lang/rust

[2021-02-05 19:28] pnkfelix commented on #47949
Reopening due to PR #81257

[2021-02-05 19:42] nagisa opened #81802 "Sanitizer support allow-list should not be baked into the compiler (outside of the built-in targets)"
We have code such as this in our codebase that encodes an allow-list of targets that support for a given sanitizer:

https://github.com/rust-lang/rust/blob/5605b5d693ac0aba5b506923e3e99ec927969d04/compiler/rustc_session/src/session.rs#L1541

Instead, the code should be adjusted to only encode such support table in the target definitions. The compiler otherwise should be pretty agnostic to both the

[2021-02-05 19:46] nagisa opened #81803 "Incorrect sanitizer error message should only list the sanitizers supported by the target being compiled for"
When you specify an invalid value for `-Zsanitizer` the compiler outputs a message as such:

[code]

This message is pretty poor in that it lists all the values the compiler knows about, but not necessarily supports in the given configuration. This is especially relevant as we start supporting additional sanitizers and backends.

[2021-02-05 19:49] exrook commented on #81246
I believe this is the same issue as #78459

[2021-02-05 20:01] clarfonthey commented on #42951
Yeah, it seems like the thread was closed because the original idea was decided to not be done, but I agree that it shouldn't be closed until documentation is added.

[2021-02-05 20:15] leonardo-m commented on #81686
The long-term goal should be to nearly deprecate the usage of naked "as" and use it only for special situations. And use u32::from (here u32::from avoids this problem), try_from, and other future safer conversion functions (like a standard function/macro that performs a range test in debug builds and works like as in release builds).

[2021-02-05 20:24] notoria commented on #81799
The label isn't in the same scope and there isn't a way to disable/`#[allow(...)]` this warning. Plus [this](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9ea7e4a26122b790d09a0455d71c544b) is accepted by the compiler.

[2021-02-05 20:32] ehuss commented on #81799
I think the intent is to make the entire function one scope, instead of using block scopes.  You are correct that there isn't a way to allow it, and that should be fixed (this warning was added pre-1.0, a lot has changed since then).

[2021-02-05 20:35] ZhangZhuoSJTU opened #81804 "Thread 'rustc' panicked at 'internal error: entered unreachable code'"
### Code

[code]

Another case from #86086:

[code]

The md5 of poc.rs is: a70b98c9f88da9731e44e3888bc0b8de

### Meta

It is test with nightly, beta, and stable versions.

`rustc --version --verbose`:
[code]

### Error output

The output is from nightly.

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-05 20:40] bstrie commented on #81686
I agree that there seems to be a vague and unspoken movement that `as` is less than ideal and that more principled alternatives should be provided and encouraged. However that's a large, disruptive, long-term goal, and I think the way best to move forward while avoiding total design deadlock is through a series of small and gradual improvements such as this one.

[2021-02-05 20:51] tuxiqae opened #81805 "failed to process buffered lint - actix-web"
### Code
Not sure what is the code which caused that panic, since the code snippet the panic shows is the following:

[code]

### Meta
I am running the `nightly` toolchain, I could not reproduce the bug under `stable`.

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>-Z macro-backtrace enabled</strong></summary>
<p>

[code]

</p>
</details>

<details><summa

[2021-02-05 20:53] jonas-schievink commented on #81805
duplicate of https://github.com/rust-lang/rust/issues/81531

[2021-02-05 20:53] #81805 closed

[2021-02-05 20:55] tuxiqae commented on #81805
Thanks for the hasty reply :)

[2021-02-05 20:59] GuillaumeGomez commented on #81633
After a deeper look, this seems like a low priority considering how rare it is. I'll still continue to check what's going on.

[2021-02-05 21:30] ZhangZhuoSJTU opened #81806 "'error constructed but not emitted' when parsing const keyword"
### Code

[code]

md5 of poc.rs: 7593012a00629a632a7b06982cbccb2f

The bug can be reproduced via `rustc poc.rs`

### Meta

The bug is reproduced with nightly and beta versions,  __but not with__ stable version.

`rustc --version --verbose`:
[code]

### Error output

The output is from nightly version.

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-05 22:17] mk12 opened #81808 "Skew between clang and rust's compiler-rt causes linker errors"
We're seeing this failure when linking stage0 rustc-main on aarch64-unknown-linux-gnu, with a recent clang built from tip-of-tree:

`undefined reference to __aarch64_ldadd8_acq_rel`

More information, with some paths elided as `/.../`:

[code]

It seems rust-lang/llvm-project's compiler-rt doesn't include the out-of-line atomic functions that clang is now emitting by default since [D93585](https:/

[2021-02-05 22:33] BruceBrown commented on #62924
minor example error for BTreeSet::last(). Shouldn't assert_eq!(map.first(), None); be assert_eq!(map.last(), None); ?

[2021-02-05 22:33] KenDJohnson opened #81809 "typecheck_ice when attempting to type check trait object with duplicate associated types"
### Code
Link to [gist](https://gist.github.com/KenDJohnson/4c76f900e3eaa60f7f82466e1ba418bf)

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

I did my best to create a small example for this, and I think this is a minimal instance of the problem. Looks like there is an error when

[2021-02-05 22:40] ssomers commented on #62924
Indeed, well spotted.

[2021-02-05 22:41] deg4uss3r commented on #81632
I believe my current version is working but there's something off in my Xcode project that I need to figure out:

[code]

[2021-02-05 22:57] DrMeepster commented on #81246
Yeah, looks like it

[2021-02-05 22:57] #81246 closed

[2021-02-05 23:00] BruceBrown commented on #62924
makes you wonder if there are additional (cut and paste) errors in there...

[2021-02-05 23:16] BruceBrown commented on #62924
I'd also recommend initializing via: let mut a: BTreeSet<_> = (1..=3).collect(); rather than using multi-line initialization, in a few of the examples.

[2021-02-05 23:46] ssomers commented on #62924
I'm not sure the "professional" initialization style helps people understand the examples. I'd rather see some consensus throughout the documentation. Cousin `HashSet` has examples with `let set: HashSet<_> = [1, 2, 3].iter().cloned().collect();`

[2021-02-06 00:14] lvyitian commented on #81796
I manually create a environment variable called `VCINSTALLDIR` and set it to the new install directory but now there is a new error:
`
= note: Non-UTF-8 output: LINK : fatal error LNK1181: \xce\xde\xb7\xa8\xb4\xf2\xbf\xaa\xca\xe4\xc8\xeb\xce\xc4\xbc\xfe\xa1\xb0advapi32.lib\xa1\xb1\r\n

error: aborting due to previous error
`

[2021-02-06 00:23] RandomGHUser commented on #29494
I've also been experiencing this issue, I cannot execute cmd.exe with quoted or escaped parameters.  As a workaround, I've resorted to having rust write and invoke temporary batch files rather than cmd.exe directly.

[2021-02-06 00:46] SoniEx2 commented on #46893
(Disregard this if it's inappropriate)

This would be nice, *without* specialization, for RAII/scoped/transaction guards. Mostly because of generic churn:

[code]

[code]

[2021-02-06 01:20] lvyitian commented on #81796
link.exe cannot find advapi32.lib.

[2021-02-06 01:35] lvyitian commented on #81796
After installing Windows SDK and deleting environment variable `VCINSTALLDIR`, the problem solved.

[2021-02-06 01:35] #81796 closed

[2021-02-06 01:36] ehuss opened #81813 "lldb tests only run on macos"
The lldb tests only run on macos on CI.  I think it might be worthwhile to run them on one CI builder for Linux, just to give a little more coverage.  However, it's not really clear if anyone is actually using rust-lldb.

I discovered this because the debuginfo tests always fail on my local development system because I have lldb installed.  This was a little frustrating, so I investigated and disc

[2021-02-06 01:36] ehuss opened #81814 "lldb hashmap pretty printer broken"
The LLDB provider for hash maps has been broken since #79234.

Repro:

[code]

Run this, notice that it doesn't print any values for the hash map:

[code]

Using an older version works (1.49 or earler):

[code]

I don't understand the motivation for #79234, as you can see the older versions are able to display the type.  @ortem can you clarify what is going on?

I did some debugging, and the `pair

[2021-02-06 01:38] ehuss commented on #78665
I think an unintended consequence of #79094 is that pretty-std-collections is no longer tested on any platform, and it has been broken over time (#81814).

[2021-02-06 01:40] KodrAus commented on #44874
Also, is the expectation that this `MethodReceiver` trait will be publicly implementable? If so, it seems like we'd probably end up recommending types that implementing `Deref` (where there's already an understanding that you don't add inherent methods to avoid shadowing) also implement this trait. If not, I think we shouldn't implement it for any non-fundamental containers, like `Mutex`, otherwis

[2021-02-06 01:43] est31 commented on #78665
@ehuss my PR only ignored the test on Mac OS. It should still be tested on Linux, no?

[2021-02-06 01:44] tmandry commented on #81808
This is the big question I have.. presumably during bootstrapping, we link
- LLVM built with system C++ compiler
- Rust code built with beta Rust compiler

Does Rust emit code which depends on `compiler-rt`?

If not, why can't we use the system's?

[2021-02-06 01:56] ehuss commented on #78665
@est31 See #81813.

[2021-02-06 02:09] repnop commented on #39699
curious question: is there any way that the sanitizers could eventually be enabled in a `#![no_std]` context for currently unsupported targets / is that possible to do with (assumedly) a lot of heavy lifting? I have an OS kernel I've been developing which involves a lot of unsafe code and it would be nice to have at least a sub-selection of the sanitizers available in that environment for debuggin

[2021-02-06 02:11] est31 commented on #78665
@ehuss oh that's unfortunate. It was definitely not my intent when doing that. The gdb tests should still be run. At least when I change something in the gdb related text on my local Linux machine I get a test failure (otherwise a success). For some reason I don't get such a reaction when altering the lldb related text tho.

[2021-02-06 02:14] tmandry commented on #81808
To answer my own question.. the LLVM backend emits code that depends on `compiler-rt`. It's not just the clang runtime.

Looking forward, I don't think we're guaranteed to be able to do this with _any_ version mismatch between the compiler and runtime.

I think one way to fix this would be to build LLVM in two stages.. once with the system compiler (including building clang), and then have clang L

[2021-02-06 02:36] est31 commented on #78665
(To make it clear, the premise of #79094 was that it does still run all the tests on linux, but apparently the lldb ones were only run on mac OS.... I installed lldb locally on my Linux and it's broken.... maybe the solution is really to make the Linux box do `sudo apt install lldb` somewhere)

[2021-02-06 03:51] tgnottingham commented on #81757
Most of the time is spent in two LLVM optimization passes on the largest CGU. I don't think the CGU is particularly large, since it compiles to initial LLVM-IR pretty quickly. Seems like there's an LLVM performance bug. Excerpt of `-Z time-llvm-passes`:

[code]

(FYI, `-Z time-llvm-passes` requires `-C codegen-units=1` normally, but be warned--it exhausted my system memory and thrashed it to death

[2021-02-06 04:14] ZhangZhuoSJTU opened #81815 "Thread 'rustc' panicked at 'expected exactly one expression'"
### Code

[code]

md5 of poc.rs: c06a315316d866befd0e986395948a9b

### Meta

This bug is tested with nightly, beta, and stable versions.

`rustc --version --verbose`:
[code]

### Error output

This output is from nightly version

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-06 04:42] camelid commented on #35121
Is it intentional that `!` is stable as the return type? E.g., this compiles on stable:

[code]

[2021-02-06 04:53] ExpHP commented on #35121
That has been a feature since 1.0.  Historically, `fn foo() -> !` is the signature of a "diverging function", and the `!` in it was not always a type.  Suffice to say, part of the motivation behind the never type was the desire to generalize this feature and get rid of this weird edge case in the language:

[2021-02-06 05:01] jyn514 commented on #81750
This feature was rejected, so I don't think it makes sense to keep a tracking issue for it. https://github.com/rust-lang/rust/pull/81749#pullrequestreview-584744664

[2021-02-06 05:01] #81750 closed

[2021-02-06 05:04] osa1 commented on #81804
Because we already emit some correct errors a potential fix would be to just remove the problematic `unreachable` and return an empty function body.

However there's another problem; `eat_to_tokens` call in `parse_fn_params` generates non-existing tokens outside of the file to close all unmatched brackets. That's why we see column 11 in the error message even though column of the last token is 9 i

[2021-02-06 05:16] cormacrelf commented on #50220
Correct, another repro on an M1 machine, that's currently stopping me from building MaterializeInc/materialize.

[code]

Produces the 'file too small' confusion:

[code]

Where the file in question is a universal binary:

[code]

[2021-02-06 05:47] tesuji opened #81816 "No turbofish suggestion for complex expressions"
The turbofish suggestions are displayed for single expressions, but not for complex expressions.

I tried this code:

[code]

I expected to see this happen: Turbofish `::<>` suggestion for HashMap type.
Instead, this happened: Invalid suggestion to use private field to initialize HashMap.
[code]

### Meta

`rustc --version --verbose`: rustc 1.51.0-nightly (e708cbd91 2021-02-03)

@rustbot label  A-

[2021-02-06 06:28] bjorn3 commented on #35121
This used to cause an ICE with the introduction of MIR. I believe this was also one of the reasons for turning `!` into a real type.

[2021-02-06 07:55] #72480 closed

[2021-02-06 07:55] #81662 closed

[2021-02-06 08:11] WiSaGaN commented on #44265
Now that https://github.com/rust-lang/rust/pull/79554 has been merged,  all blocking bugs listed in the OP have been fixed.
Big thanks to everyone who have worked on this issue!

[2021-02-06 10:00] osa1 commented on #81815
Possibly a duplicate of #80251.

[2021-02-06 10:16] jackh726 commented on #76407
Projections aren't getting normalized because: https://github.com/rust-lang/rust/blob/cfba499271ba53190a1d3647ff8f7202ec9ed6f5/compiler/rustc_trait_selection/src/traits/project.rs#L368

[2021-02-06 10:36] Walther commented on #81790
https://stackoverflow.com/questions/64830635/why-does-my-native-application-compiled-on-apple-silicon-sometimes-build-as-arm6

https://github.com/shepmaster/rust/blob/silicon/silicon/README.md

It seems like running the build under `Alacritty` which was `x86_84` was enough to make _some_ of the calls in the build process use that architecture instead of `aarch64` - even when running with `arch -ar

[2021-02-06 10:44] Krantz-XRF commented on #26925
In Haskell, GHC has an extension called `StandaloneDeriving`, which allows manually specifying "trait bounds" (instance constraints in Haskell) for an automatically derived instance:

[code]

Then we have

[code]

The point here is, `rustc` can do exactly the same thing: allow the user to customize the trait bounds for a certain derived trait `impl`. When the compiler sees such a customized `deriv

[2021-02-06 11:10] badboy commented on #81632
Ah, you're building a binary? Yeah, that seems to sort-of work now?
I managed to build your branch, my static library is still unchanged. I think we actually need LLVM 12 first to fully enable this (#81451).

[2021-02-06 11:17] leonardo-m opened #81819 "[ER] Iterator::reduce docs example code"
I think it's better in general for the standard docs to contain examples that are easy to understand, but are also realistic usages of functions and features. An example of this is in slice::binary_search that shows how to insert an item to a sorted vector while maintaining sort order.

So I think the docs of Iterator::reduce could be improved with a more real usage example (to replace the current

[2021-02-06 11:42] leonardo-m opened #81820 "[ER] std::ops::Shr docs example"
In std::ops::Shr the implementation of SpinVector could be improved using `spun_vector.rotate_right(rhs);`.

[2021-02-06 12:06] matthewjasper commented on #80982
The error here is correct, there is no coercion from `&'a Box<Foo>` to `&'a Box<(dyn A + 'a)>` because there are two layers of indirection here. The diagnostic could probably be more helpful though.

[2021-02-06 12:19] matthewjasper commented on #75415
This no longer needs `feature(const_generics)` since min_const_generics has been stabilized. cc @lcnr

[2021-02-06 12:30] matthewjasper commented on #77905
This isn't specific to GATs.

[code]

This is intended as `<T as Foo<'a>>::In` might be independent of `'a` and so `'a` cannot be inferred from the input type of the function. In this exact case this is fine because the output will also be independent of `'a` in that case, but for something like `for<'a> fn(<T as Foo<'a>>::In) -> &'a i32)` would not be.

[2021-02-06 12:32] matthewjasper commented on #79666
cc #75415

[2021-02-06 12:36] magurotuna commented on #81522
I'd like to investigate it and see if I can fix it.
@rustbot claim

[2021-02-06 12:41] matthewjasper opened #81823 "Trait objects do not work with generic associated types"
I tried this code:

[code]

I expected to see this happen: either code compiles or an error message is emitted for any use of a trait object with generic associated types

Instead, this happened: code produces inconsistent error messages:

[code]

[code]

[2021-02-06 12:41] matthewjasper commented on #44265
OP updated to reflect remaining blocking issues.

[2021-02-06 12:48] SoniEx2 commented on #44265
This would probably work better/be more backwards-compatible by defining a lifetime on the whole trait, tbh:

[code]

[2021-02-06 13:28] Alexendoo commented on #79636
Fixed by #79554

[2021-02-06 13:31] Alexendoo commented on #79768
Fixed by #79554

[2021-02-06 14:07] deg4uss3r commented on #81632
It was just a test to see if the simulator is working at all XD.

Yeah my `.a` file is still saying it's `arm64`:

[code]

[2021-02-06 14:21] tesuji commented on #49147
The feature `const_in_array_repeat_expressions` was removed in #80404.
Should this issue be closed or be replaced with something else ?

[2021-02-06 14:43] ZhangZhuoSJTU opened #81827 "rustc crashed when compiling the crafted input"
I think this issue is more than an internal compiler error, so I report here.

I tried this code:

[code]

The md5 of poc.rs is: 55d1b05bebbe11b76ee62fe193bdd5ff

I expected to see this happen: *normal compilation*

Instead, this happened: *rustc crashes*

[code]

### Meta

I test it on nightly, beta, and stable versions.

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>

[2021-02-06 14:52] ZhangZhuoSJTU commented on #81827
I am not sure whether it is a security-oriented bug. If so, please close this.

But I guess it is ok to be public.

Thanks.

[2021-02-06 15:18] hameerabbasi commented on #81804
Is there an expected buffer overrun here or is it guarded?

[2021-02-06 15:23] henryboisdequin opened #81829 "Incorrect value is never assigned warning"
I tried this code:

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=87c81a4b3acdb4e1fd4700136bc90ecf)

I expected this program to run without any warnings.

Instead, I got a warning saying that `is_true` is never used but it clearly is. Also, the `maybe it is overwritten before being read?` help message is incorrect as I'm doing the if statement (readin

[2021-02-06 15:27] jonas-schievink commented on #81829
The warning doesn't say that, it says that the *value* assigned to `is_true` on line 10 is never read, which is correct.

Note that this is just a guess, hence the "maybe?". It is also not a suggestion, just a help label.

[2021-02-06 16:37] Thomasdezeeuw commented on #72685
Considering #81509 is merged, I think this can be closed.

[2021-02-06 16:37] #72685 closed

[2021-02-06 17:17] nikic commented on #81757
Could you provide the ll/bc file for the problematic CGU?

[2021-02-06 17:18] m-ou-se commented on #80162
Done!

# :tada:

[2021-02-06 17:19] #80162 closed

[2021-02-06 17:27] ortem commented on #81814
@ehuss I checked the issue with two different LLDB:
* `rust-lldb` shipped with `1.51.0-nightly`
* LLDB built from LLVM 10.0.1 sources with Rust patches

by adding the following code to the `StdHashMapSyntheticProvider#update` method:
[code]

#### `rust-lldb`
[code]

#### LLVM upstream with Rust patches
[code]

So it seems like the problem only occurs with `rust-lldb`.

Probably this is due to the

[2021-02-06 17:44] ehuss commented on #81814
I may be misunderstanding you, but `rust-lldb` is just a [shell script](https://github.com/rust-lang/rust/blob/master/src/etc/rust-lldb) that runs the system lldb.  Building lldb with patches was removed a long time ago (#62592), and I suspect is not coming back in the foreseeable future.

[2021-02-06 17:58] ortem commented on #81814
@ehuss Oh, that's even worse since macOS LLDB has very poor Rust support. I believe that debugging support is crucial for any compiled programming language, surely including Rust. So it would be really great to consider shipping rust-enabled LLDB and, more importantly, to maintain and improve Rust support in both GDB and LLDB.

[2021-02-06 18:03] #81770 closed

[2021-02-06 19:19] bstrie commented on #68490
With the merge of https://github.com/rust-lang/rust/pull/80958 , I'm happy with where this is at. I will leave this issue open until such time as the old items are marked as fully deprecated rather than just deprecated-in-future, but making that change is not a priority of mine at this moment.

[2021-02-06 20:18] nagisa opened #81838 "Contents from global_asm! leak into other assemblies"
In code like this as noted [here](https://rust-lang.zulipchat.com/#narrow/stream/216763-project-inline-asm/topic/global_asm.20with.20format_specifiers/near/225426992)

[code]

the macro will leak into the inline `asm!`, but this is likely extremely brittle.  For instance, Rust is free to split this module into 2 distinct CGUs, making the code like this mysteriously work or break.

This could proba

[2021-02-06 20:23] jgouly commented on #81838
The example code above is mine, and I like it "leaking" as it allows me to use `const` and `sym`.

If `global_asm` was extended to support `const` and `sym` too, that would also be a useful alternative, to not leak.

[code]

[2021-02-06 20:27] layderv opened #81839 ""DefId isn't local" ICE"
### Code

The code is based on this example and the following `git diff`: https://github.com/teloxide/teloxide/tree/dev/examples/sqlite_remember_bot (commit fe6429c2790502ae09b04d2659f33e4495f6d314)

[code]

### Meta

It fails on stable and nightly:

`rustc --version --verbose`:

$ rustc --version --verbose
rustc 1.49.0 (e1884a8e3 2020-12-29)
binary: rustc
commit-hash: e1884a8e3c3e813aada8254edfa1

[2021-02-06 20:31] nagisa commented on #81827
This is an explicit `process::abort`:

[code]

So just a plain ICE, just a different one.

[2021-02-06 20:45] LeSeulArtichaut commented on #81839
This looks like an incremental compilation error. Does it disappear after running `cargo clean`?

[2021-02-06 20:47] LeSeulArtichaut commented on #81839
(Checking now)

[2021-02-06 20:55] #71183 closed

[2021-02-06 20:55] LeSeulArtichaut commented on #81839
I can't reproduce the ICE, so it does look like an incremental bug

[2021-02-06 21:03] Amanieu commented on #81838
We do not want to support this behavior. This only exists in LLVM to support building the Linux kernel which relies on a lot of GCC internal details.

However I'm less sure whether it's worth the trouble of messing with the CGU partitioning to actually enforce this.

[2021-02-06 21:07] nagisa commented on #81838
If it is not enforced, people will rely on this and various other non-obvious forms of this unintended feature. It will become stable by convention, even if we say this should not work.

The only alternative I see is to keep `global_asm!` unstable until things we don't want to support are actually enforced, either through the stability system or via compiler's behaviour.

[2021-02-06 21:09] layderv commented on #81839
It does. I have cloned that repo, modified the file as in the git diff above and run `cargo build` fresh too.

[2021-02-06 21:15] layderv commented on #81839
[code]

[2021-02-06 21:18] layderv commented on #81839
<details>
<p>

[code]

</p>
</details>

[2021-02-06 21:24] Amanieu commented on #81838
The same issue happens with just `asm!`. This isn't specific to `global_asm!`.

[code]

[2021-02-06 21:25] wchargin commented on #62569
Another reason not to use `std::process::exit(141)` is that it is _not_
the same as being killed by a SIGPIPE. Standard shells will report
“termination by signal `n`” as return value `n + 128`, but this is a
property of the shell, not the system (e.g., [`man bash`]).

You can distinguish the two cases from the output of `waitpid(2)`:

<details>
<summary>Short Rust program demonstrating signal beha

[2021-02-06 21:44] MusicTheorist opened #81842 "Use grailsort for sort_unstable"
Hello, Rust contributors!

I've been managing a bit of a passion project centered around Grailsort, a stable, in-place, O(n log n) worst-case sorting algorithm, for a while now. It was partially inspired by previous issues brought up in this repo, including https://github.com/rust-lang/rust/issues/19221 and
https://github.com/rust-lang/rfcs/pull/956#issuecomment-78504506.

Our project is currently

[2021-02-06 22:11] hvdijk commented on #59220
This should be fixed automatically the next time rust updates to a newer LLVM. I have recently committed patches to fix x32 codegen to upstream LLVM and am locally running rust with those same patches applied. The test case in this issue works fine here, as do various bigger rust programs such as ripgrep, and with a few trivial patches, rustc itself.

[2021-02-06 22:14] layderv commented on #81839
@LeSeulArtichaut

Sorry I misread.

No, it does not. Sorry for the confusion

[2021-02-06 22:26] tgnottingham commented on #81757
@nikic Sure. Generated with `cargo +nightly rustc --release --target wasm32-unknown-unknown -- -C no-prepopulate-passes -C passes=name-anon-globals --emit=llvm-ir,llvm-bc`. And nightly is `rustc 1.51.0-nightly (a2f8f6281 2021-01-27)`. Let me know if you had something different in mind.

[quick_xml-7fe5361a8734566e.ll.gz](https://github.com/rust-lang/rust/files/5937782/quick_xml-7fe5361a8734566e.ll

[2021-02-06 22:27] nagisa commented on #81827
https://github.com/rust-lang/rust/blob/9a1d6174c925f54c923599e29b09d6855e6b3a78/compiler/rustc_ast/src/mut_visit.rs#L303-L304

is the `process::abort` that's being executed.

[2021-02-06 22:36] moxian opened #81844 "thread 'rustc' has overflowed its stack (when using #[derive(serde::Deserialize)] inside a custom Deserialize impl)"
### Code

[code]
playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8bfc3b0d3b728b256df33a4db645302c

### Meta

`rustc --version --verbose`:
[code]
(but also present in stable and nightly)

### Error output

[code]

[2021-02-06 22:51] tmiasko commented on #81839
Thanks for the report! I can reproduce with:

[code]

[2021-02-06 22:54] jyn514 commented on #81842
Can you explain the difference between Grailsort and the current `sort_unstable` algorithm?

[2021-02-06 23:02] 666666t commented on #81842
The current [`slice::sort_unstable`](https://doc.rust-lang.org/nightly/std/primitive.slice.html#method.sort_unstable) is based off a variant of Pattern-Defeating Quicksort (PDQsort), which generally achieves a high performance in O(n log n) time, and is in-place (non-allocating), however is unstable as the name implies, meaning values which respond as equal within the bounds of the Eq trait may be

[2021-02-06 23:04] gaming32 commented on #81842
By “certain WIP derivative projects,” you mean Holy Grailsort? (there’s also Kota, Ecta, and Helium)

[2021-02-06 23:08] 666666t commented on #81842
Correct, though given the original focus of this issue cites Grailsort in particular, It seemed preferable to keep the focus on that, while Holy Grailsort and similar WIP projects seek to improve adaptability and certain other aspects but generally don't appear as complete as the current Grailsort rewrites.

[2021-02-06 23:17] 666666t commented on #81842
Regardless, as for a generic run-down of the algorithm itself;

Grailsort works by maintaining an in-place buffer of unique values which are collected from the slice at the beginning, generally of some power of 2 size which scales with sqrt(n). It uses this in-place buffer (which is guaranteed to be stable by only collecting unique values) to traverse the array, performing in-place merges with the

[2021-02-06 23:24] ZhangZhuoSJTU opened #81845 "Thread 'rustc' panicked at 'expected `NodeId` to be lowered already for res Local(NodeId(15))'"
It seems duplicated as [#79537](https://github.com/rust-lang/rust/issues/79537) and [#80978](https://github.com/rust-lang/rust/issues/80978). However, as these issues are closed (maybe indicating there are solved?), I open this one.

I apologize in advance for any possible inconvenience.

### Code

[code]

The md5 is: a52dcf5eee71e25184963e0c2f62a9d1

### Meta

This ICE only occurs on nightly vers

[2021-02-06 23:26] BoxyUwU commented on #75415
@rustbot claim

[2021-02-06 23:27] BoxyUwU commented on #79666
Guess I should claim this too since its likely a duplicate of that issue?
@rustbot claim

[2021-02-06 23:41] zserik opened #81846 "delay-span-bug while compiling `thrussh-keys v0.20.2`"
### Code

[code]

Full sources: https://github.com/zserik/broken-pijul (see branch minimal)

I wasn't able at all (for now) to provide a more minimal example. It might depend on a broken cache or the given `Cargo.lock` file below.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

<details><

[2021-02-06 23:42] mqudsi commented on #56520
@folex do you have a repro? I'm guessing it's a different cause.

[2021-02-06 23:49] fanzeyi commented on #48067
I just run into a variation of this issue today. I was trying to append another `$path` to a path metavariable argument, and the parser is unwilling to treat the result as path. Small example:

[code]

This generates an ``error: no rules expected the token `::` ``.  Playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=da96a1f6c5560762d2374465dda9888f

[2021-02-06 23:57] jonas-schievink commented on #81846
duplicate of https://github.com/rust-lang/rust/issues/81531

[2021-02-06 23:57] #81846 closed

[2021-02-07 00:48] nagisa commented on #81827
The problem is that the `cfg` parsing code is attempting to emit a fatal error, but error emission cannot happen through the `visit_clobber` function.

The stack looks something like this:

[code]

Two potential fixes here: adjust `visit_clobber` so that it does not abort on panics or make anything running within the `visit_clobber` incapable of panicking. The latter is way harder and more prone t

[2021-02-07 00:54] 666666t commented on #81842
Ah, sorry, I should make it clear for noting;

Grailsort is a stable sort, in-line with [`slice::sort`](https://doc.rust-lang.org/std/primitive.slice.html#method.sort), but is in-place, requiring no extra allocations, unlike the existing implementation. [`slice::sort_unstable`](https://doc.rust-lang.org/nightly/std/primitive.slice.html#method.sort_unstable) is in-place, but it lacks the stability

[2021-02-07 01:02] MusicTheorist commented on #81842
Right, definitely want to make clear Grailsort is a stable sort. It's not unstable.

[2021-02-07 01:10] ijackson opened #81847 "GlobalAlloc docs example crashes"
I cut and pasted [the example for `GlobalAlloc`](https://doc.rust-lang.org/std/alloc/trait.GlobalAlloc.html) from the stdlib docs into the playground.  Contrary to the implications in the documentation, the program does not run to completion.  Instead, it prints

[code]

I think this is fine behaviour.  The example is wrong and should be fixed somehow.

https://play.rust-lang.org/?version=stable&m

[2021-02-07 01:10] ijackson commented on #81847
@rustbot modify labels +T-libs

[2021-02-07 01:14] Aaron1011 commented on #81839
This is caused by:

https://github.com/rust-lang/rust/blob/b81f5811f96fe750ab28c15219d1b0dba6b1dc90/compiler/rustc_typeck/src/check/fn_ctxt/_impl.rs#L1081-L1082

There is no guarantee that either `last_def_id` or `exp_def_id` is actually local.

[2021-02-07 01:55] bstrie commented on #80846
I see that https://github.com/rust-lang/rust/issues/80162, which listed this issue as a blocker, has been closed. Does that mean this can be closed too?

[2021-02-07 02:31] 0yoyoyo commented on #81650
@rustbot claim

[2021-02-07 04:27] nvzqz commented on #80970
I came across `x86_64_fortanix_unknown_sgx` and I'm wondering if `sgx` should be changed from being `env` to `abi`? I assume not, but I figured I'd ask.

[2021-02-07 06:04] scottmcm commented on #81842
How does its speed compare to `slice::sort`?

[2021-02-07 06:17] MusicTheorist commented on #81842
@scottmcm While Grailsort has a solid design to it, there are many flaws and opportunities to micro-optimize which generally make a "vanilla" implementation slower than Timsort.

Generally speaking, I would characterize Grailsort as decently cache-friendly due to relatively simple linear memory accesses while also scaling pretty favorably. According to the original author, comparisons are about 1.

[2021-02-07 06:59] scottmcm commented on #81686
This makes good sense to me.  I can't imagine any situation in which casting a function to an `i8` is what you want.

(I might even be tempted to go further and require going through `fn(...)`, like casting references requires going through `*const ...`, but as you say that's a bigger conversion and shouldn't block a helpful first step like linting this.)

And to add to the fun, this also happens

[2021-02-07 08:00] bstrie commented on #81686
`max_value` at least is on track to be deprecated (https://github.com/rust-lang/rust/issues/68490), which should ameliorate that particular unfortunate quirk.

And yes, I considered a proposal to ban both function item and function pointer to address casts, although your suggestion of only banning the function item cast sounds both less disruptive and totally sufficient for preventing confusion. T

[2021-02-07 08:09] #75158 closed

[2021-02-07 08:22] the8472 commented on #81842
Is the issue title correct? Would you intend to replace the stable or the unstable sort implementation?

[2021-02-07 09:02] moxian commented on #81051
The issue title downplaying the problem a bit.
nightly-2021-01-14 and onward is unable to compile *any* library crate. I.e. running
[code]
on an empty lib.rs gives the same
[code]

***This makes rustc effectively unusable on windows 7.***

Here's what's happening, per process monitor:
![20210207-085410-Procmon64](https://user-images.githubusercontent.com/7831163/107141644-19590100-6922-11eb-9287-d

[2021-02-07 09:10] moxian commented on #81051
(Not sure if i have permission to do this, but..)
@rustbot modify labels: +I-prioritize

[2021-02-07 09:20] LeSeulArtichaut commented on #81051
Let's @rustbot ping llvm

[2021-02-07 09:40] kinnison commented on #75833
Personally I think that `complete` shouldn't be present in stable releases, and then it would come with all the usual `nightly` has no guarantees statement.

Deciding on the right approach for how to deal with overlapping files in components vs. forcing the components to not overlap is what will help with `rustc-docs` directly though.

[2021-02-07 09:54] osa1 commented on #81845
Beautiful reproducer @ZhangZhuoSJTU. I'm curious how you're generating these? Do you have a program generator or are you doing this by manually?

Smaller repro, it fails the same way if I remove the return type:

[code]

[2021-02-07 10:08] osa1 commented on #81827
It seems like the implementation of `visit_clobber` is copied by [`take_mut`][1]'s `take`: https://github.com/Sgeo/take_mut/blob/master/src/lib.rs#L31-L41

[1]: https://crates.io/crates/take_mut

[2021-02-07 10:11] osa1 commented on #81827
Would this be safe? My understanding is if the callback panics then the pointer will potentially be in an inconsistent state and continuing execution will not be safe.

[2021-02-07 10:58] leonardo-m opened #81851 "[ER] Better use fully-qualified syntax help?"
A possible enhancement request. I am not sure if this is worth doing. On this wrong code:

[code]

rustc 1.52.0-nightly gives:

[code]

Instead of a generic `<u32 as Trait>::NonZero` rustc could suggest one (or few) likely traits like `<u32 as HasNonZero>::NonZero`.

[2021-02-07 10:59] rkowalewski commented on #81787
OK, since I am not yet very familiar with the toolchain of Rust. Is there a simple workaround if I build rust nightly in-tree?

[2021-02-07 11:58] nagisa commented on #81827
Well, not in the exact form it is now, but there are a couple avenues that could be explored to make it more resilient to closure panics – e.g. one could replace the old value with some sort of placeholder default while the original value is being processed.

[2021-02-07 12:11] layderv commented on #81839
I've never committed to this repository; if you want to guide me to fix this issue, I'm happy to do it. If it's better if you do it, no worries

[2021-02-07 12:16] Mark-Simulacrum commented on #75833
For now it probably makes sense to drop rustc-docs from complete, I guess - not sure I'm exactly a fan of that but it seems like the right thing to do.

[2021-02-07 12:17] yoanlcq opened #81852 "ICE in library/test/src/lib.rs:356 on Nightly when running doc-tests, where the first doc-test is executed twice in a row."
Hi,

When running doc-tests with the latest Nightly on my crate, I get an ICE after the first doc-test is executed twice in a row.
The issue does not occur on Stable.
The issue seems to be caused when multiple threads are used for doc-tests.

The ICE is caused by `unwrap()` in [/library/test/src/lib.rs:356](https://github.com/rust-lang/rust/blob/43e1ea29c4e92dfa2ba716fc878984605897fb13/library/tes

[2021-02-07 12:23] esavier commented on #75833
Dropping this is at least something that would make complete viable again. It may be reintroduced later when the issue of paths overlapping is resolved, whatever the resolution may be.

Whenever `complete` should be present or not is for a debate. I think it should stay, since it's not necessary to use it, and it should not be the default, but this is only my opinion.

[2021-02-07 13:01] matthieu-m commented on #27732
Has any consideration been given to having `T: Unsize<T>` for `Sized` types?

When attempting to use `Unsize` in generic contexts, [such as in this example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c9fb1acc121d41ca157d8172160ad13a), the inability to abstract over sized and unsized types requires splitting APIs in 2, with the same code in each, just because `T: !Unsi

[2021-02-07 13:05] Jasonoro commented on #53278
This is currently blocked on rust-lang/regex#476, due to the fact that `regex` requires `std` which isn't available when building `libtest`. See also the following [zulipchat conversation](https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/Adding.20regex.20dependency.20in.20.60test.60/near/225425947).

[2021-02-07 13:23] nagisa commented on #81842
Its the other way around. The `slice::sort_unstable` has been added because people felt the potential performance increase with an unstable sort is worth the extra API surface over `slice::sort`. The desirable properties for the `sort_unstable` are in-place first and speed second. If the `unstable_sort` is replaced with a slower algorithm that's stable, then the API loses half of its intended purp

[2021-02-07 13:52] jyn514 commented on #81787
You can exclude rustfmt from being built (`--exclude rustfmt` or just don't add it to the list of tools in config.toml).

[2021-02-07 14:22] Trolldemorted commented on #57905
It has been over a year, can you estimate when this will be fixed?

[2021-02-07 14:24] hi-rustin commented on #81200
Sorry, I haven't had time to finish it lately. Let's see if others can help.

[2021-02-07 14:41] ZhangZhuoSJTU commented on #81845
Hi, @osa1 . Thanks for your reply.

I am studying the codebase of rustc, so I build a toy fuzzer and static analyzer to play with it. These ICEs are generated by the fuzzer and analyzer. As I am quite new here, I sometimes report duplicated issues (I search the keywords before submitting issues, but it does not always work very well). Anyway, I will try my best to avoid such bortherings.

[2021-02-07 15:42] MusicTheorist commented on #81842
@the8472 To be clear, I wasn't aiming to necessarily replace any functions in Rust. I was asking if people still were interested in a *non-allocating* sort.

[2021-02-07 15:45] yrashk commented on #77839
Anything that can be done short-term to improve the status quo? Happy to contribute if I can. I currently do some shared memory mechanics through `SharedArrayBuffer` (see https://github.com/wasm-rs/shared-channel). This helps integrating with JavaScript right now, but I am wondering if native support for atomic intrinsics in wasm will give me a better way to deal with this shared memory (namely, a

[2021-02-07 15:49] 666666t commented on #81842
(Or at least, a non-allocating stable sort, in this case.)

[2021-02-07 16:48] #29821 closed

[2021-02-07 16:48] #81739 closed

[2021-02-07 17:00] kettle11 commented on #77839
Adding some thoughts here:

What if this approach were partially modified?

A new `wasm` target would be added for threads, *but* instead of having a new target per runtime a common interface would be used. Rust could export functions where it needs support from the host. It would be up to `wasm-bindgen`, `Wasmtime`, and other runtimes to implement the appropriate functions as imports.

For exampl

[2021-02-07 18:06] mark-i-m commented on #81415
This is what the grammar would look like after this change: https://github.com/rust-lang/reference/pull/957/files?short_path=cc629f1#diff-cc629f15712821139bc706c63b3845ab59a008e2a998e08ffad42e3aebcbcbe2

[2021-02-07 18:21] ZhangZhuoSJTU opened #81857 "ICE: cannot convert `ReErased` to a region vid"
It seems like a duplicate of [#78174](https://github.com/rust-lang/rust/issues/78174). But it is, on the other hand, an invalid statements instead of a nightly-only feature (inline_const). So I open this issue.

I will try to understand whether it is indeed a duplicate. But it would be very appreciated if someone can figure it out, so that we do not bother so much. Thanks!

### Code

[code]

md5:

[2021-02-07 18:27] bstrie commented on #81819
Given the close similarity to `Iterator::fold` it should also show an example that demonstrates when they are equivalent, so that people who understand one can understand the other (and hopefully understand the situations in which to use each).
[code]

[2021-02-07 18:56] m-ou-se commented on #80846
For that PR we decided to just change it for edition 2021, but this problem still exists in the current editions. It's not a big problem, but it'd be good to figure out why this difference exists.

[2021-02-07 19:03] mbrubeck commented on #81511
See also #75791.

[2021-02-07 19:31] tmiasko commented on #81722
The instrumentation is performed under assumption that operations will have required alignment. It would be best combined with separate detection of misaligned loads & stores, because otherwise errors caused by such operations might not be detected.

[2021-02-07 19:36] #80501 closed

[2021-02-07 19:45] ijackson commented on #81847
@rustbot claim

[2021-02-07 19:55] tdelabro commented on #62420
Hello,

I'm using `#![feature(const_ptr_offset)]` in one project and I find myself in the need of `align_offset` being `const`.
I never contributed to the rust language before, but is there something I can do to help ?

[2021-02-07 19:55] chrysn commented on #44265
With the big blockers removed, can this move away raising the incomplete_feature warning? Is there a possibility for easy parts of this (if there are any) to be stabilized in a first wave? (Having this at least for lifetimes would be really helpful.)

[2021-02-07 20:08] RalfJung commented on #62420
@tdelabro what exactly do you need from it at const-time? The full functionality of `align_offset` is impossible to implement in `const`, since it is impossible to determine the actual integer address that an allocation will be placed at.

[2021-02-07 20:47] nikic commented on #81757
Running llc, it looks like the majority of the time is spent inside `ReachabilityGraph::calculate()` as part of https://github.com/llvm/llvm-project/blob/main/llvm/lib/Target/WebAssembly/WebAssemblyFixIrreducibleControlFlow.cpp.

The header lists a complexity of `O(NumBlocks * NumNestedLoops * NumIrreducibleLoops + NumLoops * NumLoops)`. In this case there's one huge function with a lot of control

[2021-02-07 21:13] nikic commented on #81757
For test test case, the largest reachability graph computed is on 26122 blocks, requiring 487893113 worklist iterations.

[2021-02-07 21:36] nagisa commented on #62420
Much like `align_to`, the only thing a const `align_offset` could do is placing all the elements in either the first or the last slice it returns. The middle slice would always be empty.

[2021-02-07 21:45] memoryruins opened #81862 "GAT: elided lifetimes in paths errors with `error[E0107]: missing generics for associated type`"
[code]

Expectation from the [rfc](https://github.com/rust-lang/rfcs/blob/master/text/1598-generic_associated_types.md#using-an-associated-type-constructor-to-construct-a-type):

Instead, this happened:

[code]

If we follow the diagnostic and change it to
[code]

It will error with the following:

[code]

If we follow only the suggestion of `fn next<'a>(&mut self) -> Option<Self::Item<'a>>` or in

[2021-02-07 22:41] DrMeepster commented on #78459
Vec is not affected by this, and can even be used to get a Box.

[code]

This code did not ICE on playground.

[2021-02-07 22:57] nagisa commented on #81803
This seems to be working as intended after all.

[2021-02-07 22:57] #81803 closed

[2021-02-07 23:33] tdelabro commented on #62420
@RalfJung I define symbols in a linker script, then get them in my rust code as external symbols. And want to use them in a static objects.

In linker.ld:
[code]

In rust:
[code]

So this works. But I need my struct to contain a 4k page aligned value, so I tried the following:

[code]

But this is not allowed because the cast to usize would allow things that would lead to non constant results, whi

[2021-02-08 00:48] dillona commented on #81857
searched nightlies: from nightly-2020-10-11 to nightly-2021-02-08
regressed nightly: nightly-2020-10-18
searched commits: from https://github.com/rust-lang/rust/commit/e3051d8c24467b54c81da9d9ad70a3e82e106ec1 to https://github.com/rust-lang/rust/commit/043eca7f0b34d12e61c44206beca740628647080
regressed commit: https://github.com/rust-lang/rust/commit/6af9846fcc8797bf97e9fb387385208c2219f3d0

<deta

[2021-02-08 00:57] exrook commented on #78459
@DrMeepster Interestingly, trying to print the Box created in that way gives the same ICE as #81270
[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=398c5c6a401f3cb1f18d8159c4ddf5e1)

[2021-02-08 01:07] thomcc commented on #81722
I'm not sure I follow. I'm just saying to do it using the times the compiler statically knows the loads are misaligned. Most loads wouldn't go through this, only ones in the cases of:

- Explicit calls to `ptr::read_unaligned` and equivalent.
- Access to unaligned `#[repr(packed)]` structs.

These are legal misaligned accesses (when done properly), and the compiler knows about them statically.  E.

[2021-02-08 01:13] memoryruins opened #81867 "GAT: recursive type of infinite size is undetected until MIR optimiziations"
[code]

I expected to see this happen:

An error about a cycle, overflowing requirements, or recursive type of infinite size with a diagnostic underlining the definition of `S` and usage ` S::<u8>(None);`

Instead, this happened:

A cycle is detected only when optimizing MIR for `main`, thus this goes uncaught during `cargo check`. The diagnostic only underlines the function name.

[code]

### Met

[2021-02-08 01:14] rust-highfive opened #81868 "`miri` no longer builds after rust-lang/rust#80652"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#80652, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @calebzulawski, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-02-08 01:28] dillona commented on #81844
`cargo-bisect-rustc` points to the following commits:

[code]

[2021-02-08 02:50] mark-i-m commented on #81415
Implementation: https://github.com/rust-lang/rust/pull/81869

[2021-02-08 02:51] oldwomanjosiah opened #81870 "Nightly compiler crash on Type substitution."
I am following along Philip Opperman blog and was on the [third post[(https://os.phil-opp.com/testing/) about testing. I was able to figure out that if I commented out the following test_case then it would no longer crash. The full code that I was using can be found [here](https://github.com/oldwomanjosiah/blog-os-follow/tree/eeeee62f57a301bbf6eaadacd89587e852e2aebf) if that would help.

### Code

[2021-02-08 02:58] Aaron1011 opened #81871 "Spurious `legacy_derive_helpers` lint when unrelated attribute fails to resolve"
The following code:

[code]

produces the following errors:

[code]

The `legacy_derive_helpers` warning is spurious and will disappear if `#![dummy]` is removed.

[2021-02-08 02:58] Aaron1011 commented on #81871
Caused by https://github.com/rust-lang/rust/pull/79078
cc @petrochenkov

[2021-02-08 04:31] comex commented on #62420
This is impossible.  Const evaluation is done by the compiler, while the final address is determined by the linker, which runs later.  The compiler doesn't know the address; all it can do is emit a relocation to ask the linker to insert the address in a specified place in the code or data.  A relocation can request adding or subtracting an arbitrary offset to the address, but not more complicated

[2021-02-08 04:47] mark-i-m opened #81872 "Tracking Issue for Mutex::unlock()"
Feature gate: `#![feature(mutex_unlock)]`

This is a tracking issue for the `Mutex::unlock` function. The goal of this function is to replace `drop(mutex_guard)` which doesn't clear express that a synchronization event is occurring.

Some earlier discussion, including a previous implementation: https://github.com/rust-lang/rust/pull/79434#issuecomment-757135874

### Public API

[code]

### Steps /

[2021-02-08 04:57] vitalyd commented on #81847
My $.02 is that #81864 is a bit too involved for an example.

The existing example can be fixed by delegating to the `System` allocator up until `main()` runs, at which point the sample allocator can take effect.  Something like [this](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0ad3836e3af007ddfa6328405dcd4e72).

[2021-02-08 05:10] calebzulawski commented on #81868
@rustbot claim

[2021-02-08 06:10] osa1 commented on #81800
@rustbot claim

[2021-02-08 06:14] lsdluis1 opened #81875 "Rust test error"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-08 06:14] #81875 closed

[2021-02-08 07:51] osa1 commented on #81806
@rustbot claim

[2021-02-08 07:54] tmiasko commented on #81722
This is exactly how it works (btw, I wouldn't call loads in `read_unaligned` misaligned). If you compare ASAN instrumentation you will see that `read_unaligned` consults the shadow memory twice to take that into account, while `read` consults shadow memory only once.

[2021-02-08 07:56] #53718 closed

[2021-02-08 08:09] panstromek commented on #44265
@chrysn wg-traits has just been talking about this. Stabilizing just lifetimes first is one likely option. See [triage on zulip](https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/GATs.20triage) or just wg-traits zulip stream in general (latest meeting especially).

[2021-02-08 08:23] tdelabro commented on #62420
@comex Ok yeah, it seems obvious when you explain it. Dunno why I didn't realized it myself.

Thanks for for linker align tip, I got the same idea last night when I went to sleep. That's what I will do. Ty.

[2021-02-08 08:34] cormacrelf commented on #50220
Ok, being a linker problem it's mainly an issue for cargo, and that's being tracked already: https://github.com/rust-lang/cargo/issues/8875. Maybe this one stays open because of the way it make rustc fail to build, but #55235 can probably be closed.

[2021-02-08 09:51] kornelski opened #81877 "When a variable is incorrectly used in a closure, error points to the source of the borrow, not the variable"
Unhelpful diagnostic. It's technically correct, but points to a variable that isn't the direct cause of the problem, obscuring the actual issue.

[code]

  |                     ---- help: add explicit lifetime `'static` to the type of `source`: `&'static

The problem here (apart from #69350) is that the `source` argument is not used directly in the closure.  Searching closure's code for the `sour

[2021-02-08 10:21] SkiFire13 commented on #81867
This isn't exclusive to GATs, the following code produces the same bug on stable:

[code]

[2021-02-08 11:10] pietroalbini commented on #80949
Fix backported to 1.50 and landed in 1.51, closing this.

[2021-02-08 11:10] #80949 closed

[2021-02-08 11:12] pietroalbini commented on #80988
Fix backported to 1.50.0 and landed in 1.51.0, closing this.

[2021-02-08 11:12] #80988 closed

[2021-02-08 11:14] pietroalbini commented on #81218
Fix backported to 1.50.0 and landed in 1.51.0, closing this.

[2021-02-08 11:14] #81218 closed

[2021-02-08 11:17] pietroalbini commented on #81274
Fix backported to 1.50.0 and landed in 1.51.0, closing this.

[2021-02-08 11:20] tesuji commented on #81274
Please reopen. The issue is not entirely fixed for cross-crate trait reexport case.

[2021-02-08 11:33] pietroalbini commented on #81208
The fix landed in 1.51.0, and I cherry-picked a fix for the 1.50.0 stable branch. If the cherry-pick is accepted by CI then we can close this issue!

[2021-02-08 11:47] CryZe commented on #74372
They really should, it doesn't seem like the compiler can reason about it... though maybe that is because the compiler doesn't even inline any of the intrinsics at all, which seems like a decently big problem:

https://rust.godbolt.org/z/h6Y5PY

[2021-02-08 11:59] xfix commented on #80890
The difference is that the case with a constant was accidentally stabilized since 1.38, this wasn't. It was figured that this particular case is fine to stabilize as it doesn't depend on implicit promotion which complicates a lot of things with `const`-initialization.

[2021-02-08 12:25] rkowalewski commented on #81787
Thank you that solved the issue for me. Feel free to close the issue.

[2021-02-08 12:48] Kogia-sima opened #81880 "Rustc cannot optimize sequence of copies while clang does."
I came from [here](https://users.rust-lang.org/t/why-rustc-cannot-optimize-sequence-of-copies-while-clang-does/55248). What I'd like to do is creating a function which writes `&'static str` wrapped with double quotation mark(") into memory, where the string can mostly be evaluated at compile time.

Simplified code:

https://godbolt.org/z/PqaWGW

After reading assembly output I figured out that it

[2021-02-08 13:04] djc opened #81881 "rustc --print cfg prints features that are invalid for `-Ctarget-feature`"
I have been investigating [how to optimize](https://users.rust-lang.org/t/find-out-what-features-are-supported-by-what-cpu/55293/4) my binaries for the least common denominator across a number of different CPU types (that is, something between the default CPU and `target-cpu=native`). In the linked thread, someone pointed me at `rustc --print cfg` and I found some [relevant documentation](https://

[2021-02-08 14:10] SNCPlay42 commented on #81816
There's no turbofish suggestion currently because the code parses validly (the same [bastion of the turbofish](https://github.com/rust-lang/rust/blob/master/src/test/ui/bastion-of-the-turbofish.rs) problem that the reddit thread was about) as:

[code]

Which only errors after parsing, when the compiler checks the kind of items involved. I think the compiler could suggest a turbofish in this case a

[2021-02-08 14:33] #81787 closed

[2021-02-08 14:34] nikomatsakis commented on #53120
Since I wrote my last comment, I've been going back and forth. I do think we need to reach a final verdict and go one way or the other. I'm not sure I'm ready to commit yet to whether this is a hill I want to die on. =)

[2021-02-08 16:07] alexcrichton commented on #77839
Ah that's indeed a good point @kettle11! I would personally be wary of doing something Rust-specific, however, and would prefer that we work with other toolchain folks (e.g. C/C++/...) to figure out a standard set of APIs that could work for everyone. Most likely this seems like a WASI-level concern perhaps.

My fear is that if we do something Rust-specific it's very tailor-made for just us and do

[2021-02-08 16:17] djc opened #81883 "Incorrect diagnostic for multiple applicable items some of which are unstable"
I tried to compile this code written for Rust 1.47+ with Rust 1.46:

[code]

And I got this error (on 1.46):

[code]

However, when I tried to use the inherent impl with `Range::is_empty(&range)`, it still failed to compile:

[code]

As it turns out, `Range::is_empty()` was only stabilized in 1.47.0, so it is not actually available when compiling with stable 1.46.0. So `is_empty()` is arguably not

[2021-02-08 16:29] Mark-Simulacrum commented on #81883
I think we do better at least in some cases - possibly added since 1.46 though. I think it would be good to have a (multi-crate, unfortunately) reproduction that doesn't depend on std to continue having something unstable.

[2021-02-08 16:36] oli-obk commented on #27731
In https://github.com/rust-lang/rust/pull/80652 it was noticed that `repr_simd` introduces two new post-monomorphization errors:

* lane lengths larger than 2^16 cause an error
* non-power-of-two lane lengths cause an error

I propose that we add a const evaluatable bound onto these structs. Instead of checking for validity in the compiler, we can instead change types like

[code]

to

[code]

Thi

[2021-02-08 16:38] Lokathor commented on #27731
Actually we need to support non-power-of-2 lane counts.

[2021-02-08 16:46] oli-obk commented on #27731
ok, in that case I guess we just add the `n as usize` cast in there. This way the type system guarantees that we have a value lower than 2^16. If there are any other checks, we can also add them to the `const fn`.

[2021-02-08 16:47] ytrezq opened #81884 "Rustc official binary from rustup segfault when compiling Openethereum 3.2 with profile feedback and lto (tried several versions)."
I did `export RUSTFLAGS="-Copt-level=3 -Cprofile-generate=/tmp -Ctarget-cpu=native -Cembed-bitcode=yes -Crelocation-model=dynamic-no-pic -Ctarget-feature=+mmx,+movbe,+aes,+pclmul,+adx,+bmi,+bmi2,+clflushopt,+clwb,+cx16,+clwb,+f16c,+fma,+fxsr,+lzcnt,+pku,+popcnt,+rdrnd,+prfchw,+rdseed,+xsave,+xsavec,+xsaveopt,+xsaves,+sse2,+sse3,+ssse3,+sse4.1,+sse4.2,+avx,+avx2,+f16c,+cmov,+lzcnt,+clwb,+fsgsbase,+

[2021-02-08 16:47] oli-obk commented on #49147
Ah good catch :D yea, this issue should be closed.

We removed this feature without replacement as the feature was extremely buggy and problematic and in the future we'll be able to use the `inline_const` feature to get the same behaviour albeit at a slight increase in verbosity.

[2021-02-08 16:49] estebank opened #81885 "Bad suggestion for `_` in `const` type"
As noted in [#81509](https://github.com/rust-lang/rust/pull/81509/files/81ed4cfd0138e68d370873281f53f4e63e5a223f#diff-8bb87d2edef38133d2180f7f80bb3161f1dd9e2cd05071bc7e3a4466e3cb1131), [we currently emit the following suggestion](https://github.com/rust-lang/rust/blob/921ec4b3fca17cc777766c240038d7d50ba98e0d/src/test/ui/typeck/typeck_type_placeholder_item_help.stderr#L28-L35), which is incorrect:

[2021-02-08 16:55] #49147 closed

[2021-02-08 16:56] nikomatsakis commented on #65516
Nominating for the @rust-lang/lang meeting -- if we want these to happen, we're going to have to pay attention.

[2021-02-08 17:10] calebzulawski commented on #27731
This conversation may be more appropriate in https://github.com/rust-lang/stdsimd/issues/63?  But generally we have been opposed to the implications of using a const fn in the generic array length.

[2021-02-08 17:20] osa1 commented on #72956
@rustbot claim

I started debugging this. The diff of working vs. broken HIR:

[code]

The variable `r` has the same type here, but I'm guessing because of the `&*` we copy the value to stack first then move a ref to it to `r`. So that reference tracks to the current closure where in the `[idx]` version it's not copied to stack.

I also checked MIR dumps. I'm not sure which MIR file to look at in

[2021-02-08 17:26] ZhangZhuoSJTU opened #81886 "rustc unwraps on a `None` value in index_hir"
I got a very large poc file, and reduce it into following code. But after reducing (via a simple delta debugging tech), the code looks kind of confusing. Please let me know if anyone prefers a better-formed but long test-case, and I will try me best to get one.

### Code

[code]

md5: ee8b18d572cb8cc464d220338b0be46d

### Meta

The bug is reproduced with nightly and beta versions, but __not with__

[2021-02-08 17:31] ametisf opened #81887 "derive breaks "ambiguous name" diagnostic if there is a level of indirection"
Hello. I've noticed a strange behaviour where rust-analyzer and rustc would disagree what was wrong with my code. Turns out neither of them were right, I've had an "ambiguous name" problem however both rustc and rust-analyzer resolved the type anyway and they chose a different type to disambiguate into.

I've managed to make [this](https://play.rust-lang.org/?mode=debug&edition=2018&gist=d54ca5e48

[2021-02-08 17:45] SimonSapin commented on #49147
Should the accepted RFC be marked as "retracted" or something?

[2021-02-08 17:53] pietroalbini commented on #81208
CI passed on the test runner in the 1.50.0 promotion, but it timed out on an unrelated builder, so the fix worked! Closing this.

[2021-02-08 17:53] #81208 closed

[2021-02-08 18:04] thomcc commented on #47384
If this is considered not a bug, would a `#[used(always)]` (or similar hammer) be viable? There are a lot of very cool use cases enabled by these sorts of things.

[2021-02-08 18:20] nvzqz commented on #47384
If we choose to go with `#[used(always)]`, I think it should be very clearly documented as to why `#[used]` doesn't always emit the symbol. I'm not a fan of making such a bandage since it's very surprising for `#[used]` to need a stronger hint.

[2021-02-08 18:27] workingjubilee commented on #27731
I would like to hear more fully the benefits and disadvantages of using a const fn here before making a full decision, because our previous objections were predicated on certain type signatures. This might not have the exact same concerns, or it might.

[2021-02-08 18:48] ehuss opened #81890 "spurious CI error for MSVC"
There have been a few instances of this error happening on CI:

Or some variant of that.  See:

* https://github.com/rust-lang/rust/pull/81257#issuecomment-771231808
* https://github.com/rust-lang/rust/pull/81411#issuecomment-774824226
* https://github.com/rust-lang/rust/pull/80802#issuecomment-759450136
* https://github.com/rust-lang/rust/pull/80591#issuecomment-753535696
* https://github.com/rus

[2021-02-08 19:05] scottmcm commented on #49147
@SimonSapin Good call.  I'll make a quick RFCs-PR and bring it up in the lang meeting tomorrow.

[2021-02-08 19:06] djc commented on #81883
How would I reproduce the lack of stability without using std?

[2021-02-08 19:16] cramertj commented on #65516
It's probably also worth pointing out that `impl Trait` creates a minor hole in the "type-check function body without looking at impls of other functions" approach due to handling of auto traits. This probably isn't hugely impactful from a practical perspective, but it's more than slightly annoying that you'd have to parse the bodies of `-> impl Trait` functions in order to correctly check `Send`/

[2021-02-08 19:19] luqmana commented on #81051
I haven't look super closely but I think it might be related to https://reviews.llvm.org/D81803. The rollup linked as the regression above did include an LLVM update (#80796). It updated the LLVM submodule from rustc/11.0-2020-10-12 to rustc/11.0-2021-01-05 which brought along https://github.com/rust-lang/llvm-project/commit/6ec777c2f6496b4fe1d78cc6d6871a3dc931a185.

[2021-02-08 19:22] Mark-Simulacrum commented on #81883
`#![feature(staged_api)]` should work to enable any crate to allow declaring things unstable/stable.

[2021-02-08 19:33] calavera commented on #72110
@morr0ne for what I can tell, this option doesn't work on MacOS yet, as expressed in the comment above:

[code]

https://github.com/rust-lang/rust/issues/72110#issuecomment-641169818

[2021-02-08 20:01] jplatte commented on #51783
There is a way for crates to opt out of re-exports being inlined: `#[doc(no_inline)]`. You could ask the hyper devs to consider applying that attribute to its `http` re-exports.

[2021-02-08 20:22] jplatte opened #81893 "Documentation of a re-export doesn't appear on level-two re-export"
I have a macro crate with a "peer dependency" on another crate, i.e. I can't write doctests for the macro itself without introducing circular dev-dependencies which are kind of annoying. The other crate re-exports the macro and the macro is actually expected to only ever be used through there, so I documented the re-export instead. However, there's another higher-level crate that re-exports a bunc

[2021-02-08 20:22] jackh726 commented on #44265
So, just wanted to summarize the current state here and the potential plans towards stabilization. This is mostly just a summary of the conversations we've had in wg-traits, with some of my own thoughts sprinkled in. Expect a "real" blog post at some point.

To begin, a lot of blocking issues related to specifying GATs in trait paths (e.g. `for<'a> T: Foo<Y<'a> = u32>`) have now been "resolved" wi

[2021-02-08 20:28] jyn514 commented on #81867
If you get rid of `Self`, I can reproduce at least as far back as 1.22.0 (error with `rustc`, no error with `rust --emit=metadata).
[code]

[2021-02-08 20:49] djc commented on #81626
Would that also cover this case here, in the idna crate? (The `Mapper::errors` field is a `&mut` reference to an `Errors` type, which is in fact returned to the caller of `processing()`.)

https://github.com/servo/rust-url/pull/674/checks?check_run_id=1855869353

[2021-02-08 20:55] nanguye2496 opened #81894 "Incorrect debug information leading to bad visualzization for &str and slice arguments in MSVC debuggers."
(Fix for this problem: https://github.com/rust-lang/rust/pull/81898)

When lowering MIR to LLVM IR, the compiler decomposes every function argument of type &str or slice into two components: a pointer to the memory address referenced to by the &str or slice and an integer represent the length of the str or slice. Then, the original argument is constructed in the body of the function from the data

[2021-02-08 20:56] vi commented on #44265
Does GAT moving closer to being stable mean that "chalkification" of rustc is already complete or that GAT do not actually require Chalk being the engine of trait-related matters?

[2021-02-08 21:05] emilio commented on #81626
Yeah, I think it's the same.

[2021-02-08 21:21] camelid opened #81895 "Why does panicking in a Drop impl cause SIGILL?"
Why does this code trigger a SIGILL when run? I think what's happening is the
first element is dropped, which causes a panic, and then the second element is
dropped, which causes another panic. But why does that cause SIGILL?

My understanding from #53814 is that this is expected behavior (not a bug), but
I'm curious why it happens. I would think if anything it would trigger a
SIGABRT.

#### code

[2021-02-08 21:31] jackh726 commented on #44265
The latter. While I'm not completely sure of all the impl work here (@matthewjasper would have a better idea), it's my understanding that a few of Chalk's design principals have been ported to the rustc trait solver to enable things like GATs. But there's plenty that the final integration of Chalk can bring us. But in this case, we're pretty confident that we can stabilize GATs without Chalk integ

[2021-02-08 21:50] kaimast commented on #79024
Is there a plan to include a `core::stream::StreamExt` (similar to the one in the futures crate) as well?

[2021-02-08 21:51] estebank commented on #81886
This can be "solved" by using `get` and create a `delay_span_bug` instead of panicking.

[2021-02-08 21:55] jonas-schievink commented on #81895
It calls `intrinsics::abort()`, which LLVM turns into a `ub2` instruction, which is illegal, thus SIGILL

[2021-02-08 22:10] YohDeadfall opened #81899 "Borrow checking fails in case a closure appears in a const expression"
The following code causes compiler panics due to the first line without which the issue isn't reproducible. Calling the function outside of a constant context emits the right compiler errors.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-08 22:36] vandenheuvel commented on #21203
https://github.com/rust-lang/rust/issues/75961 is a duplicate of @nikomatsakis 's example. That issue contains more recent diagnostics: the example no longer compiles.

[2021-02-08 22:38] vandenheuvel commented on #21203
The original issue now compiles with the trivial bounds feature, see https://github.com/rust-lang/rust/issues/48214.

[2021-02-08 22:46] LeSeulArtichaut commented on #81899
Replacing the function body with `todo!()` still gives an ICE:

[code]

[2021-02-08 22:50] Swatinem opened #81902 "RUST_BACKTRACE truncated with -Cpanic=abort"
When using `-Cpanic=abort`, the resulting panic backtrace is being truncated.

Interestingly, when wrapping with a custom panic hook, this problem is even worse.

[code]

Tested on nightly and stable. Only seems to be a problem on mac and linux, windows does not seem to be effected.

<details><summary>RUST_BACKTRACE=full with -Cpanic=unwind</summary>
<p>

[code]

</p>
</details>

<details><summary

[2021-02-08 23:10] LeSeulArtichaut opened #81903 "Exclusive range patterns in function arguments are broken"
I tried this code:

[code]

I expected to see this happen: code compiler successfully

Instead, this happened: `rustc` violates mathematics and claims that `0 >= 256`:
[code]

The error text being wrong probably has the same cause as #68972.
However, the code should compile (?) since `0..256` is an irrefutable pattern for an `u8`

### Meta

`rustc` version: 1.52.0-nightly (2021-02-07 9778068cbc1e0

[2021-02-08 23:11] memoryruins commented on #81899
Minimized slightly further, without const generics:
[code]

<details>
<summary>backtrace</summary>

[code]

</details>

The ICE occurs back to `1.41.0`. In `1.40.0`, it errors with
[code]
By making small changes such as making the closure no longer take paramters or removing the reference at
[code]
It errors, instead of an ICE, on stable `1.49.0` and nightly with
[code]

[2021-02-08 23:16] matthiaskrgr commented on #81899
searched nightlies: from nightly-2020-08-16 to nightly-2021-02-03
regressed nightly: nightly-2020-12-28
searched commits: from https://github.com/rust-lang/rust/commit/0b644e419681835bd0f5871c3bfbd648aa04f157 to https://github.com/rust-lang/rust/commit/257becbfe4987d1f7b12af5a8dd5ed96697cd2e8
regressed commit: https://github.com/rust-lang/rust/commit/1d517afcd0929450ded8f644fa8e8da3776db68b

<deta

[2021-02-08 23:28] nanguye2496 commented on #81894
I made a PR for this issue:
https://github.com/rust-lang/rust/pull/81898

[2021-02-08 23:37] #30422 closed

[2021-02-08 23:37] #80875 closed

[2021-02-08 23:52] spastorino commented on #51253
@awoimbee

[2021-02-08 23:52] #51253 closed

[2021-02-08 23:57] camelid commented on #81895
Oh... I think I might've seen a thread about that somewhere. Can we change it somehow so LLVM doesn't turn it into `ub2`?

[2021-02-09 00:43] nagisa commented on #81895
There's a message ("thread panicked while panicking. aborting.") )in the output that points out the cause and what will be done. With that in mind does it really matter that it aborts with a `SIGILL` as opposed to some other obscure signal (`SIGSEGV`, `SIGBUS` or similar)?

`SIGABRT` could be gotten  with a syscall, but that's a maintenance burden and more code to fill instruction caches with.

[2021-02-09 00:46] camelid commented on #81895
I guess when I see `SIGILL` it makes me think there's memory corruption or something. Maybe I don't understand the meaning of `SIGILL` :)

[2021-02-09 01:43] tmandry opened #81906 "No way to allow an unknown lint on the command line"
When migrating a large codebase to a new compiler version, frequently there are new lints. In codebases that enable `-Dwarnings`, this causes a problem: we'd like to allow the new lint temporarily before fixing in-tree, but passing `-Anew-lint-here` to the old compiler gives us an error. If we can't upgrade the compiler and build flags in lock step, we are stuck.

[`-Aunknown-lints`](https://doc.r

[2021-02-09 01:44] estebank opened #81907 "Suggest async_recursion crate when writing a recursive async fn"
We should suggest the use of https://docs.rs/async-recursion/0.3.2/async_recursion/ when writing

[code]

[which currently only says](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7dbe0a16fa7b06e7b22a27161d66977e):

[code]

[2021-02-09 03:06] tbelaire opened #81908 "Rocket dev branch ice on unstable"
### Code
https://github.com/SergioBenitez/Rocket/blob/master/core/lib/src/logger.rs?branch=master#c24f15c1#L94

`rustc --version --verbose`:

[code]

### Error output

[code]

[2021-02-09 03:29] Aaron1011 commented on #81908
This should be fixed on the latest nightly.

[2021-02-09 03:31] Aaron1011 commented on #81907
Is there any precedent for the compiler suggesting an external crate?

[2021-02-09 03:55] jyn514 commented on #81906
Duplicate of https://github.com/rust-lang/rust/issues/74722.

[2021-02-09 03:55] #81906 closed

[2021-02-09 03:56] thomaseizinger commented on #81907
Yes, for async traits the compiler suggests to use `async_trait`: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b80e16a6aadbc2c76a3ce4c2296af1bd

[2021-02-09 03:56] jyn514 commented on #74722
It does not.

[code]

[2021-02-09 04:01] jyn514 commented on #81895
`man 7 signal` says
[code]
So SIGILL means "to execute ud2 or some other illegal instruction", and has the same effect in practice as SIGABRT.

[2021-02-09 04:02] jyn514 commented on #81895
Also consider that `abort()` requires at least an operating system, while ud2 works even on embedded systems.

[2021-02-09 04:08] tmandry commented on #74722
Copying what I said in #81906:

[2021-02-09 04:16] estebank commented on #81903
The pattern themselves aren't broken, it's just that the diagnostic is confusing as this code should have been written as:

[code]

We should have suggested that instead. The reason is because `256u8` isn't valid and overflows to `0u8`, which is the same as the start of the range, [which gives you that error](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b058d33eb8917835

[2021-02-09 04:20] estebank commented on #81907
As @thomaseizinger pointed out, we do for `async-trait`. We normally wouldn't recommend one crate over another ("don't play favorites"), but for small, single use, specialized crates that fill a common language "hole" that we might be working towards "plugging", I think it is a much better experience to immediately unblock newcomers than send them to a user forum to ask how to get around the limit

[2021-02-09 04:39] saethlin commented on #44452
It looks like going from 1.49.0 to 1.15.0 we now will generate the expected optimal code for any number of pushes when sufficient capacity is provided using `Vec::with_capacity` and `-Cpanic=abort` is passed. But the allocations only fold away for a few pushes without `-Cpanic=abort`.

[2021-02-09 04:41] jyn514 commented on #81893
Some related bugs:
[code]
only shows `baz` in the docs, as does
[code]

[2021-02-09 04:44] jyn514 commented on #81893
A bit of trivia, not particularly helpful: In 1.33, the cross-crate issue behaved as the single crate issue and only showed `baz`.

[2021-02-09 05:05] jackh726 commented on #81823
I've found the cause of this; working on it locally.

[2021-02-09 05:11] robjtede commented on #81719
As an example of a really non-obvious case:

[code]

But B doesn't re-export Alpha; this code is broken ... what to do?

Might even be desired to indicate as such:
[code]

[2021-02-09 05:58] sladyn98 commented on #81903
@estebank Hey, I am a bit new to contributing to rust, is this something easy that can be fixed? If yes I would like to give it a shot.

[2021-02-09 07:39] osa1 commented on #72956
Ignore my comment above, the changes in HIR are following the changes in the original source so they make sense.

[2021-02-09 08:35] kper commented on #81885
@rustbot claim

[2021-02-09 08:47] #72188 closed

[2021-02-09 08:47] #81806 closed

[2021-02-09 08:47] #81814 closed

[2021-02-09 09:40] RalfJung commented on #81868
We still need to land the Miri update in the rustc repo (I'll take care of that)

[2021-02-09 09:41] tmiasko opened #81915 "Create a canonical implementation of traits and use it in tuples & derive macros"
I have a meta-suggestion - make the implementation of `PartialOrd` (and potentially other derivable traits) for tuples in libcore a golden standard, and make built-in macros follow it exactly.
All structures should be equivalent to tuples up to field names.
- Make the same changes as this PR does to `impl PartialOrd for (T1, T2, ...)` in libcore, benchmark them, pass them through T-libs, etc.
- Ge

[2021-02-09 10:15] bjorn3 commented on #81902
This happens because `-Cpanic=abort` omits the unwinding tables necessary for unwinding. You can use `-Cforce-unwind-tables=yes` to add them back at the cost of an increased binary. The fact that you have part of a backtrace at all is because libstd is compiled with `-Cpanic=unwind` and as such does have unwinding tables available.

See https://github.com/rust-lang/backtrace-rs/issues/397 for more

[2021-02-09 10:35] jhpratt commented on #74773
No stabilization PR has been put forth so far, correct? If so, I can do it.

[2021-02-09 10:45] LeSeulArtichaut commented on #81903
Hmm, I thought I tested that `0..256` worked in other contexts, but I think I forgot to force the type to be `u8`, my bad.

[2021-02-09 10:48] LeSeulArtichaut commented on #81903
I'll close this in favor of #68972.

@sladyn98 feel free to claim that issue if you want to try to fix it

[2021-02-09 10:48] #81903 closed

[2021-02-09 10:51] rvolgers commented on #74773
Please do! I missed this somehow, yikes.

[2021-02-09 11:12] #81908 closed

[2021-02-09 11:12] jonas-schievink commented on #81908
duplicate of https://github.com/rust-lang/rust/issues/81531

[2021-02-09 11:19] vandenheuvel commented on #20775
Still fails.

[2021-02-09 11:22] ojeda commented on #81895
Why do you think so? Note that it is not a `SIGSEGV` or `SIGBUS`. More generally, signals do not necessarily mean something bad has happened.

[2021-02-09 11:39] #81373 closed

[2021-02-09 11:54] osa1 opened #81918 ""do not use `optimized_mir` for constants" panic when generating MIR cfg"
The working example in #72956 builds fine, but if I add `-Zunpretty=mir-cfg` it panics. Repro:

[code]

It builds fine:

[code]

Panics with `-Zunpretty=mir-cfg`:

[code]

<details>

<summary>Backtrace</summary>

[code]

</details>

[2021-02-09 12:05] dylanmckay commented on #79889
Committed D87631 upstream in llvm/llvm-project@2ccb941740e608a9cf70a7c5840497149654b0f6

[2021-02-09 12:32] ZhangZhuoSJTU opened #81920 "Thread 'rustc' panicked at 'Stack should be empty: final_buf=FrameData...'"
When I am studying the related in [#81886](https://github.com/rust-lang/rust/issues/81886), I found another ICE. Although I haven't figured out the root cause, I suspect they can be fixed together.

### Code

[code]

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=51df1fc49c89dbba5af36f98261136e3)

### Meta

It can be reproduced by nightly and beta versions.

[2021-02-09 12:42] 12101111 opened #81923 "flate2 with zlib features on static link musl target throw SIGSEGV: invalid memory reference"
This is a Gentoo Linux system with musl libc. (musl 1.2.2)

When I build `cargo` from source code, I I encountered this error：

[code]

In dmesg:
[code]

Backtrace of core file:

[code]

A minimal example:

[code]

[code]
(The source code and dockerfile is at https://github.com/12101111/flate2-rs-zlib-musl-bug )

[code]

The backtrace is basically the same:
[code]

The rust code that cause SIGSEVG

[2021-02-09 12:51] yoshuawuyts commented on #79024
The plan is to add methods directly onto `Stream` much like methods exist on `Iterator`, but we want to do so in a way that won't cause ambiguities with ecosystem-defined methods in order to not accidentally break existing codebases when upgrading to newer Rust versions.

[2021-02-09 12:54] ZhangZhuoSJTU opened #81924 "rustc panics when encountering unknown node (hir_id=HirId { ... })"
I found this also by studying [#81886](https://github.com/rust-lang/rust/issues/81886). Currently, I highly suspect they are the same root cause. It would be very appreciated if anyone can shed some light on this.

### Code

[code]

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ae3015e96dffe03f3aa2c1e05c5f52ea)

### Meta

It affects nightly and beta.

`rustc

[2021-02-09 13:48] dylanmckay commented on #79889
llvm/llvm-project@2ccb941 seems to fix it, although it's not worth cherry-picking it until https://reviews.llvm.org/D95664 lands, as currently we hit https://github.com/rust-lang/compiler-builtins/issues/400 on the master build for the reproduction example on this issue.

[2021-02-09 13:51] danielhenrymantilla commented on #65516
FWIW, there are also people (me included), that try to reduce the number of "meaningful top-level items" or to have "deeply tied code sit next to each other".

An example of the former would be:

[code]

An example of the latter would be:

[code]

  - This way witching from `Box` to `Arc` is locally contained within `new()`.

[code]

In that regarding, losing the ability to do either of these thin

[2021-02-09 13:58] Rahix commented on #77131
Off-topic but this is caused by https://github.com/rust-lang/compiler-builtins/issues/347 ...

[2021-02-09 14:25] #81868 closed

[2021-02-09 14:27] spastorino commented on #79560
The original issue is now fixed and if I'm not wrong @pnkfelix wants to keep this issue open to add a build of diesel to CI.

[2021-02-09 14:30] osa1 commented on #81918
@oli-obk I think the panic was added by you. Could you say a few words on what the issue here? I'd be happy to investigate further and fix, but I have no idea where to start.

[2021-02-09 14:36] lovasoa opened #81928 "rustdoc JS does not handle NO_DEVICE_SPACE error"
**Problem**

No documented item appear in documentation pages anywhere after a localStorage error.

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/552629/107378750-91732280-6aec-11eb-90a1-aba34678be97.png">

(the page should render [like that](https://docs.rs/serde/1.0.123/serde/ser/trait.Serializer.html) instead)

After localStorage raises a `NS_ERROR_FILE_NO_DEVICE_

[2021-02-09 15:02] oli-obk commented on #81918
That's an oversight by me. In https://github.com/rust-lang/rust/blob/ea098255f74923d69ea234ee526df6b9cecc3b9b/compiler/rustc_mir/src/util/graphviz.rs#L25 you instead need to do something similar to mir printing. That is, use `instance_mir` instead of `optimized_mir`, but also create a second dump for `const fn` by additionally using `mir_for_ctfe` to show the graph of the ctfe version of the const

[2021-02-09 15:05] oli-obk commented on #81918
https://github.com/rust-lang/rust/issues/81200 is somewhat related, as we should probably first fix that one and then deduplicate the mir selection logic between cfg printing and regular mir dumps.

[2021-02-09 15:10] madsmtm commented on #74773
No sure if this is the right place to ask, but shouldn't we have `slice::split_once` as well?

[2021-02-09 15:12] osa1 commented on #81200
Do we have a reproducer for this issue? I have some idea of what needs to be done here, but I don't know how to check if it really works.

[2021-02-09 15:48] ZhangZhuoSJTU commented on #81857
Another test-case, maybe MCVE.

[code]

[2021-02-09 16:36] leo60228 commented on #65262
I disagree with this. People should be able to set an MSRV of a currently-beta version. I don't see any way this could be worse than the status quo, since it's not like the version could go backwards.

[2021-02-09 16:38] jyn514 opened #81930 "Follow-up work for `download-rustc`"
These are all the features for `download-rustc` that didn't land in the initial MVP (https://github.com/rust-lang/rust/pull/79540).

## Required before this is made a default

- [x] Download a separate beta compiler for stage0 and only use CI artifacts for stage1 onward. Right now, every time you rebase, stage0 tools (bootstrap, tidy, ...) will have to be recompiled. Additionally running `x.py set

[2021-02-09 16:42] workingjubilee opened #81931 "repr(simd) does not align to Intel recs on x86_64"
I tried this code: ([Playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=7368b80ff5ab55aed15bffdc34cbaad2)). The random inputs are mostly just to keep the compiler fairly "honest" and block optimizing away the instructions it would use.

[code]

Thus, I expected to see this happen:
[code]

Instead, this happened:
[code]

That does not appear to be the correct ali

[2021-02-09 16:53] kper commented on #81584
@rustbot claim

[2021-02-09 17:24] #57831 closed

[2021-02-09 17:29] workingjubilee commented on #46618
I have been informed that the required memory fencing to implement these is not supported by LLVM in a cross-platform way yet, so this is likely blocked on further codegen backend support in order to implement them safely, at least for now. https://lists.llvm.org/pipermail/llvm-dev/2020-April/141279.html

[2021-02-09 17:35] m-ou-se opened #81934 "Use consistent names for locking primitives in std::sys_common"
The methods of `StaticMutex`, `Mutex` and `RWLock` have names that are a bit inconsistent and can be confusing. Some of these methods return guards, but others just return `()` or `bool`. It's not always clear from the name which is what.

[2021-02-09 17:40] m-ou-se commented on #81934
`RWLock` should be renamed to `RwLock`.

[2021-02-09 17:50] roblabla commented on #68793
`-C control-flow-guard` flag was stabilized in 1.47.0, in the form of a flag that can be passed to the compiler. I guess in that sense, this issue should be closed.

However, using this feature is still a bit rough. The libstd distributed via rustup doesn't have the control-flow-guard enabled by default. This means the CFG coverage isn't complete. What are the next steps towards this? Are there an

[2021-02-09 18:06] gilescope commented on #71763
This would be great to stabilise as it trips new users up that the methods aren't availllable on char in stable rust at the moment.

[2021-02-09 18:36] hermanventer commented on #81200
The only way I know of how to do this is to write something that uses the compiler driver, see for example: https://github.com/rust-lang/rustc-dev-guide/tree/master/examples. That seems like quite a lot of trouble to go to. More ideal would be some kind of unit test, but I have no idea of how that may be accomplished.

Perhaps the easiest way to do an ad hoc test would be to build MIRAI with the l

[2021-02-09 19:00] ecton opened #81936 "ICE in nightly compiling Rocket master"
This is minimized as much as I could from an ICE arising from compiling the [HEAD of master as of today](https://github.com/SergioBenitez/Rocket/tree/c24f15c18f02319be83af4f3c1951dc220b52c5e) of [Rocket](https://github.com/SergioBenitez/Rocket). The error messages stayed the same throughout minimization, but upon resolving the issue, it would be good to also test that issuing `cargo build` inside

[2021-02-09 19:09] ecton commented on #81936
I didn't realize my rustup was not updating because of a dependency on rustfmt, which is currently broken on nightly. This affected my CI server too. Sorry for the noise.

[2021-02-09 19:09] #81936 closed

[2021-02-09 19:09] hussein-aitlahcen commented on #77907
Hi folks,

Experiencing the same kind of issue while building a windows kernel driver using msvc.
I can't share the code, but here is a screenshot of the call stack of rustc when failing.

![](https://i.gyazo.com/221eb1d3120ed553de54362394e2b2a2.png)
![](https://i.gyazo.com/0bca9ec5ca8f5e386cabc7a028c78d1a.png)

[2021-02-09 19:22] workingjubilee commented on #44839
@joshuawarner32 You can help by adding more NEON intrinsics to https://github.com/rust-lang/stdarch if you want extensive aarch64 NEON support. It does not cover that many intrinsics, and we'd want more testing of more NEON intrinsics.

[2021-02-09 19:25] workingjubilee commented on #58026
No repro, these tests appear to pass without issue today.

[code]

Possibly related to the MMX removal?

[2021-02-09 19:39] eddyb commented on #73191
My opinion is that the value side of `MyStruct` (in the original example) should be explicitly reexported (to avoid introducing even more complexity into the name resolution system, and to clearly label it in the source), and my favorite way to do so is:
[code]

That is, *pattern aliases*, which are always usable as patterns (expanding to the RHS pattern), but also could be allowed to be called as

[2021-02-09 20:54] nagisa commented on #65262
I want to add that if we expose this as a `cfg`, it cannot be a `#[cfg(foo="bar")]` style cfg – it would be either incompatible or confusing with crates that already set and use the `foo` cfg in other ways.

[2021-02-09 20:58] djc commented on #65262
The crates.io part is off the table for now anyway.

[2021-02-09 21:12] hermanventer commented on #81200
I've uploaded a draft PR to https://github.com/facebookexperimental/MIRAI/pull/754. If you build that with a recent nightly and then run cargo test, you should see failures. If your fix is good, then all tests should pass.

[2021-02-09 21:22] estebank commented on #81903
@sladyn98 the error is being emitted here

https://github.com/rust-lang/rust/blob/50e1ae15e9f3035b06bae00e1b1dc7a358546d3e/compiler/rustc_mir_build/src/thir/pattern/mod.rs#L455-L464

You would also need access to the AST to figure out that the issue is an overflow, unless the const value of variant `Scalar` actually has the right value (255 instead of 0). If it does, it just requires you to see th

[2021-02-09 21:23] estebank commented on #68972
Explanation on how to solve this in https://github.com/rust-lang/rust/issues/81903#issuecomment-776252698:

[2021-02-09 21:28] estebank commented on #57905
Triage: current output:

[code]

[2021-02-09 21:36] nikic commented on #81880
Looks like this is caused by the extra struct wrapper: https://llvm.godbolt.org/z/MW34bz

Note that LLVM doesn't really merge the strings, rather it emits an immediate store instead of a copy, and that store can then gets partially merged with nearby stores. The generated code isn't optimal in either case.

[2021-02-09 21:51] dkg commented on #44394
fwiw, if there is no reason to bind rust's `std::time::SystemTime` to the underlying platform's `time_t`, it would be *great* to abstract it to a something platform-agnostic, like `Duration`.

This is causing [problems for sequoia](https://gitlab.com/sequoia-pgp/sequoia/-/issues/668) on platforms like i386 and armhf (where `time_t` is 32-bit).

[2021-02-09 22:19] moxian commented on #81051
I tried building rustc with rust-lang/llvm-project@6ec777c reverted and that makes rustc work again.
However I have no idea what that commit is doing, so am absolutely not comfortable filing that upstream.

[2021-02-09 22:52] jhpratt commented on #74773
PR is up.

[2021-02-09 22:55] moxian commented on #70439
This appears to have been fixed between 1.44.0 and 1.45.0.
The assembly for all three functions in OP are now identical
[code]

I think this can be closed.

I've checked #62446 and #67484, still have bad assembly, so probably different root causes.

[2021-02-09 22:55] #70439 closed

[2021-02-09 23:33] Necior commented on #28728
I just want to notice that it's a bug on which beginner Rustaceans may stumble upon when working on the final exercise from The Book (Building a Multithreaded Web Server).

When I was playing with the web server's code, for a moment I had an empty loop body:

[code]

instead of ([Listing 20-20](https://doc.rust-lang.org/book/ch20-02-multithreaded.html#implementing-the-execute-method)):

[code]

Ru

[2021-02-09 23:37] the8472 commented on #81584
Couldn't we still recommend both? Recommending bad practices seems suboptimal.

[2021-02-09 23:48] matthiaskrgr opened #81943 ""consider using a semicolon here" when ; is present with dbg!() inside inspect()"
[code]
This will suggest adding a `;`

[code]

 But doing so will "break" the code even more and not fix the error:

[code]
Could rust suggest adding `{    }` around the macro?

[2021-02-09 23:50] KodrAus opened #81944 "Tracking Issue for Vec::split_at_spare_mut"
Feature gate: `#![feature(vec_split_at_spare)]`

This is a tracking issue for `Vec::split_at_spare_mut`, which is used as the basis for a few methods internally to give a slice pointing to the initialized portion of the `Vec` and a slice of `MaybeUninit` pointing to the uninitialized portion.

### Public API

[code]

### Steps / History

- [x] Implementation: #81687
- [ ] Final commenting period (

[2021-02-09 23:59] the8472 commented on #75017
Since #81944 exists now I think `vec_spare_capacity` is redundant.

[2021-02-10 00:35] the8472 opened #81946 "Safe code (ui/issues/issue-69225-SCEVAddExpr-wrap-flag.rs) miscompiles under llvm9 + codegen-units=1"
[code]

Current reproducer: #81945

Original issue: #69225. According to https://github.com/rust-lang/rust/issues/69225#issuecomment-590161333  the testcase originally did work fine for any number of codegen units. Seems like a regression.

[2021-02-10 00:44] ZhangZhuoSJTU commented on #81827
Another test-case. Hope it can help.

[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e72596502d118743b2a4c4916e778d04).

[2021-02-10 01:05] henryboisdequin commented on #81604
@rustbot label +C-enhancement

[2021-02-10 01:16] henryboisdequin commented on #80853
Would it be helpful if the compiler said `expected function, found struct S` and then emitted a note which said `S` is not a function in this case?

[2021-02-10 01:28] Amanieu commented on #81552
There are thousands of AVX512 intrinsics, some of which use `i1` vectors for masks. It isn't practical to implement all of them directly in rustc.

I would like to have something this:
[code]

This would be only for use internally within `stdarch` to bind to LLVM intrinsics that require it.

[2021-02-10 01:42] Amanieu commented on #81944
Interesting! I personally use `spare_capacity_mut` in my code to read into uninitialized buffers. I feel that it may be worth keeping it as a convenience method, but then again it is quite rarely used so I don't mind having to write an extra `.1`.

[2021-02-10 01:44] kamulos opened #81948 "[LLVM 11] link failure when using ASAN and cdylib together with LLD"
System: Arch Linux
Rust: rustc 1.52.0-nightly (0fc6756b4 2021-02-08)
Linker: LLD 11.0.1 (compatible with GNU linkers)

## Reproduction
Create a new library

lib.rs:
[code]

Cargo.toml:
[code]

Compile using:
[code]

## Result

[code]

[2021-02-10 01:57] Amanieu commented on #81552
Alternatively maybe we could have some sort of attribute on the `extern` declaration to indicate that an integer argument should be transmuted into an `i1` vector before being passed in.