[2021-05-28 16:03] jfgoog commented on #85751
OK. I am surprised by that, because the "cargo build" command for clippy uses the version of cargo in the beta toolchain (see my earlier comment)

[2021-05-28 16:10] Aaron1011 commented on #85783
@michaelwoerister I agree with everything you wrote. The only reason that I didn't turn on hash verification for deserislized query results was because of the performance impact - hopefully, we can speed up the re-hashing and comparison.

[2021-05-28 16:18] 12101111 commented on #85751
You should build rust toolchain using `./x.py dist`

[2021-05-28 16:23] davidli2010 opened #85787 "stack overflow in match pattern with '?'"
I tried this code:

[code]

Also see in playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6dbc4990244a9b4650b089c2c7996b34

I expected to see this happen: *print `Done!`*

Instead, this happened: *stack overflow*

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-05-28 16:48] tmiasko commented on #85774
Could you share a full example that can be used to reproduce the warning? For example, following warns only that `value` is unused:

[code]

[2021-05-28 16:58] jonas-schievink commented on #85787
Duplicate of https://github.com/rust-lang/rust/issues/34283

[2021-05-28 16:58] #85787 closed

[2021-05-28 17:04] brson commented on #85773
Wow, the hostility in this thread is stunning.

[2021-05-28 17:13] solson commented on #85773
Polkadot did lie by referring to this situation as a "compiler bug" in [their tweet](https://twitter.com/Polkadot/status/1396936062266716166) on the subject. To be honest, it might be a good idea to preemptively lock this thread, before it gets any more attention.

[2021-05-28 17:17] jfgoog commented on #85751
output from "Building stage1 tool clippy-driver" to the linker error:

[clippy-build.txt](https://github.com/rust-lang/rust/files/6562404/clippy-build.txt)

This was build as described above. I am inquiring as to why we are not doing `./x.py dist`

[2021-05-28 17:48] mati865 commented on #84040
There is no such target for Rust yet but on Windows with mingw-w64 there are toolchains allowing switching between libgcc and libunwind, also there are even toolchains using libunwind exclusively.

[2021-05-28 17:54] 12101111 commented on #85751
There should be lines that contain the log from clippy crate:
`INFO rustc_codegen_ssa::back::link preparing Executable to ".....clippy_driver-.....`
`INFO rustc_codegen_ssa::back::link "clang++ ... -o clippy_driver-......`
But I don't find them in your log.

[2021-05-28 18:02] oli-obk commented on #85776
I was reasonably sure it is just a u32 comparison. But, let's check:

I was looking at the mir interpreter so see what it does, and it also just forwards to the [host char comparison](https://github.com/rust-lang/rust/blob/6f9df55a782c5373c75dfa23e6ba50f8b42318ef/compiler/rustc_mir/src/interpret/operator.rs#L289) 🙃

So I looked at the codegen backend, and that [codegens to icmp](https://github.com

[2021-05-28 18:12] 12101111 commented on #84040
Currently libgcc_s on windows_gnu is pulled in https://github.com/rust-lang/rust/blob/6f9df55a782c5373c75dfa23e6ba50f8b42318ef/compiler/rustc_target/src/spec/windows_gnu_base.rs#L42-L60

It's possible to migrate the logic to libunwind

https://github.com/rust-lang/rust/blob/6f9df55a782c5373c75dfa23e6ba50f8b42318ef/library/unwind/build.rs#L40-L43

[2021-05-28 18:16] jfgoog commented on #85751
I checked all the output I have from the build command. There are no instances of "preparing Executable to.*clippy".

Are you sure I don't need to apply your patch to the beta compiler? As I said, clippy seems to be getting built using "cargo build" from the beta compiler. It looks like we may be setting this explicitly in our config.toml:

[code]

I'm going to try patching and rebuilding the beta

[2021-05-28 18:58] mati865 commented on #84040
Yeah, it was outlined in https://github.com/rust-lang/rust/issues/72241#issuecomment-633053281 but I haven't got time to investigate it further.

[2021-05-28 19:26] apps4uco commented on #60553
Hi, I was just wondering if my use case would be supported by the fix

https://gist.github.com/e0ef47efa0bb5b3865cf5ddcc3eae92d

The idea is that supported enums are represented by known enum tags and
other values are represented by Unknown(u16) which has the discriminant of the u16 parameter.

This would be useful for FFI to and from other languages,
and in my case from extensible file formats.

[2021-05-28 19:46] petrochenkov commented on #84040
This needs compiler support (evaluation of `cfg` predicates in `#[link]` attributes at link time instead of expansion time) which is in my work queue, but I never got to it either.

[2021-05-28 20:14] RalfJung commented on #85776
Fair question. :)
Yeah Miri could use `u32` operations on the host (I also strongly assume that that's what we want), though I don't think that will simplify much: it should still go through `to_char()` to ensure we raise UB for values that are not valid `char`s.

[2021-05-28 20:28] kennykerr commented on #65818
I just came across this with the [windows](https://github.com/microsoft/windows-rs/) crate where I embed the default metadata describing the Windows API amounting to around 20MB. Are there any plans to fix this or should I write my own implementation?

[2021-05-28 20:46] chengniansun opened #85794 "ICE: panicked at 'explicit panic', compiler/rustc_errors/src/diagnostic_builder.rs:424:13"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-05-28 21:04] jsgf commented on #85401
PR #85793 adds `-Zmetadata-link` so that `--emit metadata` generates equivalent rmetas to `--emit metadata,link`.

[2021-05-28 21:15] scottmcm commented on #85776
@osa1 I think you're correct, and it's the same as a comparison on the `u32`.

Would you be interested in making a PR to updates the docs to that effect?  Perhaps there could be a doc comment on `impl Ord for char`...

[2021-05-28 21:21] petrochenkov commented on #65818
I tried to experiment with this last year, there are very real benefits from not escaping bytes from `include_bytes` and not turning them into a `Symbol`, even if nothing else is done (maybe 2x-10x speed/memory by order of magnitude, I don't remember exactly).

The main issues:
- We need to do this without increasing size of `Token` because it regresses other cases. This excludes some naïve approa

[2021-05-28 21:22] scottmcm commented on #85771
Hmm, I'd hoped that MIR would clean some things up here (there was some work done for `if matches!`, IIRC), but no matter what I do (`-Z inline-mir=yes -Z inline-mir-threshold=999999 -Z unsound-mir-opts=yes -Z mir-opt-level=3`), the `Result::unwrap` just isn't getting mir-inlined: https://godbolt.org/z/54EoTYWvT

[2021-05-28 21:22] Smittyvb commented on #85785
I sometimes get a similar ICE when compiling `rustc`. I think it might have something to do with rust-analyzer -- were you running rust-analyzer around when the ICE occurred?

[2021-05-28 21:23] bjorn3 opened #85795 "Merge CrateDisambiguator into StableCrateId"
`StableCrateId` is derived from `CrateDisambiguator` and the crate name. `CrateDisambiguator` alone is likely never what you need as it only depends on `-Cmetadata` and `--crate-type` and as such can easily be the same for different crates when not using cargo.

[2021-05-28 21:25] ralfbiedert commented on #85785
I had CLion idling in the background, but it's not using rust-analyzer to my knowledge, and I haven't installed rust-analyser either.

[2021-05-28 22:25] mstange commented on #74640
Having framepointers is a good default, because it enables simple and reliable stack unwinding for profilers and crash reporters. On macOS, Xcode and clang leave framepointers enabled by default. All macOS system libraries ship with framepointers.
If this issue ever gets fixed, I'd like to argue that the default should still remain the same as it is today: framepointers should be present by defaul

[2021-05-28 22:37] jfgoog commented on #85751
Here's the output with the patch applied to the beta toolchain, but not the nightly (I hope I don't need it applied to both, but if so I can do that next)

[clippy-build.txt](https://github.com/rust-lang/rust/files/6563555/clippy-build.txt)

This does contain the following lines which may be of interest to you based on your earlier comment:

[code]

But I'm not sure this adds much new information,

[2021-05-28 22:42] jfgoog commented on #85751
Full output from building rustc, clippy, etc. after building llvm (a superset of the file above)

[full-rustc-build.txt](https://github.com/rust-lang/rust/files/6563584/full-rustc-build.txt)

[2021-05-28 22:49] jfgoog commented on #85751
This looks suspicious:

[code]

Our llvm.cflags include `-unwindlib=libunwind`. Maybe should be `--unwindlib=libunwind` with a double dash?

[2021-05-28 22:54] Skepfyr commented on #70263
I just hit something that looks very similar but doesn't involve any closures at all. The most minimal I could get it is this:
[code]

It compiles under chalk. Some changes that makes it compile are:
[code]
and
[code]

[2021-05-28 23:24] jfgoog commented on #85751
Nope, that wasn't it. `--unwindlib=libunwind` doesn't work.

[2021-05-29 00:21] Menzer05 opened #85797 "return result from loop"
please how to return a Result every time interval from a loop  exp:  send msg everyr minute

[2021-05-29 00:27] jonas-schievink commented on #85797
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2021-05-29 00:27] #85797 closed

[2021-05-29 00:43] jsha commented on #81031
@dbr for your use case, do you need the less-important docs to still be generated (but hidden)? Or would it be acceptable for them to not be generated at all?

Currently `cargo doc` has these two flags:

[code]

Perhaps a good solution for your use case would be a flag like `--include <crates>`, which would generate docs only for the dependencies explicitly listed.

[2021-05-29 01:06] nikomatsakis commented on #85773
My two cents:

I do indeed think that it's fair to change the details of which of many equal elements gets returned in a binary search, presuming that we have left this explicitly document as not specified. (That said, I think it'd potentially be useful to specify).

However, I agree with @brson that the general tenor of this thread felt hostile. We want to *encourage* people to file bugs when the

[2021-05-29 01:34] 12101111 commented on #85751
`"-lrt" "-ldl" "-lpthread" "-lm" "-lunwind"` is from rustc_llvm's build.rs

[code]

`"-lrt" "-ldl" "-lpthread" "-lm"` is from https://github.com/rust-lang/rust/blob/f58631b4503b5cd34163cf9c3ff19dc3e0c8a09e/compiler/rustc_llvm/build.rs#L216

[code]

`-lunwind` is from https://github.com/rust-lang/rust/blob/f58631b4503b5cd34163cf9c3ff19dc3e0c8a09e/compiler/rustc_llvm/build.rs#L248-L252

https://gith

[2021-05-29 03:08] Imberflur commented on #85360
I managed to remove the `specs` dependency!
https://github.com/Imberflur/incremental-ice-with-specs/blob/6466cddb48c68de3ca19dd675a704e977fee6eba/src/lib.rs
[code]

[2021-05-29 03:34] Imberflur commented on #85019
This might be the issue for me as well since this is occurring after moving a cached target directory (for CI purposes), although I have not tested whether this is the cause.

[2021-05-29 08:23] Thomasdezeeuw commented on #62726
I've created a pr for the changes in https://github.com/rust-lang/rust/issues/62726#issuecomment-848610798: https://github.com/rust-lang/rust/pull/85802

[2021-05-29 08:54] osa1 opened #85803 "Types of char predicates are inconsistent"
I feel like this must be reported already, but I searched for it and couldn't find anything relevant.

`char` predicates (methods that return `bool`) are currently inconsistent in the receiver type: some are `self`, others are `&self`.

These ones have `self` receiver:

- is_alphabetic
- is_alphanumeric
- is_control
- is_lowercase
- is_numeric
- is_uppercase
- is_whitespace
- is_digit

These ones

[2021-05-29 08:57] Aleksander-F commented on #85752
Now I see, is it that index in range is considered to point to _boundaries_ between values?
Basically I assumed it points to _values_, something like this:
[code]
So for (3..3) both ```start``` and ```end``` are out of bounds, making the whole range also out of bounds. Maybe that's just because of my C background :)

Anyway, now I wrapped my head around this and it does not feel that strange anymo

[2021-05-29 09:46] glaubitz commented on #81334
`git bisect` has lead me to 0328e69287b083af4d5d4b49cfc9175e9c82c88e:

[code]

[2021-05-29 09:47] glaubitz commented on #85238
Regression was introduced by 0328e69287b083af4d5d4b49cfc9175e9c82c88e

See #81334

[2021-05-29 09:47] glaubitz commented on #84142
Regression was introduced by 0328e69287b083af4d5d4b49cfc9175e9c82c88e

See #81334

[2021-05-29 09:50] nagisa commented on #81334
At a first blush sounds like a limitation of the platform most likely (much like how it doesn't really support e.g. copy relocations all that well on PPC64) in which case a simple exclusion would make sense here.

[2021-05-29 10:02] r00ster91 commented on #85803
I've talked about this a while ago in #85300. The answer was that it probably wouldn't be backwards compatible to change at this point.

[2021-05-29 10:08] osa1 commented on #85803
Thanks @r00ster91 . Closing this as duplicate.

[2021-05-29 10:08] #85803 closed

[2021-05-29 10:25] xFrednet commented on #85549
Hey reader, this is a quick breakdown of what I found while digging though the compiler to find a starting point for this implementation. It's probably only interesting if you plan to implement this or some other central diagnostic tracking thingy.

### Details diagnostic emission breakdown
<details>
<summary>Collapsed detailed breakdown</summary>

This is just a quick breakdown and not really pro

[2021-05-29 10:48] joshtriplett commented on #76992
Currently giving this a shot in https://github.com/rust-lang/rust/pull/85805

[2021-05-29 11:08] SkiFire13 commented on #85752
Yes, you think like that as well.

If that was the case then `2..2`, `2..3` and `3..3` would be somewhat inconsistent:

[code]

The end is in bounds because it's not inclusive though.

AFAIK C has a similar behaviour where creating a pointer one past the end of an allocation is not UB. This is similar to that.

That's up to either you or a moderator

[2021-05-29 11:48] #85780 closed

[2021-05-29 12:16] glaubitz commented on #81334
I can confirm that reverting that change fixes the Rust compiler on 32-bit PowerPC for me. So, I agree, it should just be disabled on this target.

[2021-05-29 12:25] glaubitz commented on #81334
I can submit a simple patch either tonight or tomorrow some time.

[2021-05-29 12:44] LingMan commented on #85794
This regressed in https://github.com/rust-lang/rust/pull/85057, which is a rollup. Luckily https://github.com/rust-lang/rust/pull/76808 is the only real candidate though.

The panic that gets called is this one: https://github.com/rust-lang/rust/blob/6166929741584d8b3ebcce6c758d5e8ba128d7f4/compiler/rustc_errors/src/diagnostic_builder.rs#L417-L424

From a quick scan of https://github.com/rust-lang

[2021-05-29 13:21] Stupremee opened #85808 "Invalid diagnostic suggestion when coercing `&mut _` to `&_`"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9e4ef3227ccd2cf2b6bd1146458463b3

[code]

The current output is, which is not valid Rust code if applied like suggested:

[code]

Ideally the output should look like:

[code]

[2021-05-29 13:23] Stupremee commented on #85808
Duplicate of #85765. Oops

[2021-05-29 13:23] #85808 closed

[2021-05-29 13:38] osa1 opened #85809 "rustc_lexer's definition of ids are more general than lang ref's spec"
This is how Rust identifiers' lexical syntax is defined: https://doc.rust-lang.org/reference/identifiers.html
This is how the lexer for Rust identifiers is implemented: https://github.com/rust-lang/rust/blob/ce0d64e03ef9875e0935bb60e989542b7ec29579/compiler/rustc_lexer/src/lib.rs#L264-L297

The specification says it should start with ASCII alphabetic and continue with ASCII alphanumeric or undersc

[2021-05-29 13:48] PatchMixolydic commented on #85809
The reference is outdated due to the stabilization of [non-ASCII idents](https://doc.rust-lang.org/stable/unstable-book/language-features/non-ascii-idents.html) in 1.53 (tracking issue #55467).

[2021-05-29 13:52] osa1 commented on #85809
Interesting, thanks @PatchMixolydic. I guess it would be helpful for the reader if we at least have a line in those documentations pointing to #55467.

[2021-05-29 13:57] PatchMixolydic commented on #85809
This seems to be fixed in the [nightly version of the Reference](https://doc.rust-lang.org/nightly/reference/identifiers.html).

[2021-05-29 14:12] #85809 closed

[2021-05-29 14:20] Aleksander-F commented on #85752
Thanks for the explanations, I'm closing this then.

[2021-05-29 14:20] #85752 closed

[2021-05-29 15:18] Manishearth opened #85811 "Tracking Issue for RFC 3085: Edition 2021"
This is a tracking issue for the RFC "3085" (rust-lang/rfcs#3085).

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions, or bug reports about a feature.
Instead, open a de

[2021-05-29 15:51] LingMan commented on #85768
The failing assert is: https://github.com/rust-lang/rust/blob/f77b1a5973521bce26d92d346304cfaca05ae79e/compiler/rustc_mir/src/transform/check_consts/validation.rs#L359-L362

Trying to bisect leads me all the way back to 2020-06-02, but that's just the day the assert was added in the first place (https://github.com/rust-lang/rust/pull/71192/). Had to add `#![feature(const_fn)]` somewhere in late Se

[2021-05-29 16:00] djc opened #85812 "Better diagnostics for trait impl method return value lifetimes not matching trait definition"
Given the following code:

[code]

They ran into an error:

[code]

Playground with solved error: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ae11922513a1e7935cad64df43dc68a5.

It seems reasonable that the error could suggest the solution in this case.

cc @ekuber @jsha @icing

[2021-05-29 16:02] Aaron1011 commented on #85019
@Imberflur: Does this happen on CI, or are you able to consistently reproduce this locally?

I suspect that this will be fixed by https://github.com/rust-lang/rust/pull/85153, since the global untracked state `export_map` is involved in computing `item_children`.

[2021-05-29 16:17] jfgoog commented on #85751
Without `-lunwind`, rustc fails to build, before we get to clippy:

[build.txt](https://github.com/rust-lang/rust/files/6564952/build.txt)

I wonder if this is because we are deleting libunwind.so as a hack to force static linking?

[2021-05-29 16:20] LeSeulArtichaut commented on #85794
Mhh, I don't even remember why I added this call to `parse_fn` in the first place, maybe to consume the fn body and get fewer/cleaner errors? Should have added a comment...
Anyway fixing this should be easy, we can `delay_as_bug` (or `cancel`) the error, or remove the call to `parse_fn`.

[2021-05-29 17:58] jfgoog commented on #85751
A theory about what's going on here:

Based on the code snippets for how `-lunwind` is being passed to the linker, it seems like `-lunwind` is getting picked cleverly out of llvm.ldflags. But it might not be sufficient to just pick out `-lunwind`. We also need the path to the llvm directory, at least if `llvm-libunwind = "in-tree"`.

We're specifying `-L<staging_dir>/llvm/lib` in llvm.ldflags, but

[2021-05-29 18:06] est31 commented on #85753
@rustbot label A-lint

[2021-05-29 18:27] 12101111 commented on #85751
This is a known issue: https://github.com/rust-lang/rust/issues/76020 and will be fixed by #85600. I'm cleaning this pr, but got a strange ICE.

[2021-05-29 19:26] steffahn opened #85813 "Unsound Debug impl for collections::linked_list::IterMut"
[code]
[code]
([playground](
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c9533a6fa3ebdb0be5032a0eb3729b69
))

@rustbot label T-libs-impl, A-collections

<hr>

Caused by violation of safety invariant as documented in `IterMut`
[code]
yet `Debug` implementation does
[code]

https://doc.rust-lang.org/nightly/src/alloc/collections/linked_list.rs.html#79

I’m not sure where

[2021-05-29 20:23] Mark-Simulacrum commented on #85264
@craterbot retry

[2021-05-29 21:00] Mark-Simulacrum commented on #85264
@craterbot edit end=master#881c1ac408d93bb7adaa3a51dabab9266e82eee8 start=master#ff34b919075f35a1787659e9c448a34b06bab8de name=issue-85264

[2021-05-29 21:01] Mark-Simulacrum commented on #85264
@craterbot name=issue-85264 end=master#881c1ac408d93bb7adaa3a51dabab9266e82eee8 start=master#ff34b919075f35a1787659e9c448a34b06bab8de

[2021-05-29 21:01] Mark-Simulacrum commented on #85264
@craterbot retry

[2021-05-29 21:01] Mark-Simulacrum commented on #85264
@craterbot name=issue-85264 end=master#881c1ac408d93bb7adaa3a51dabab9266e82eee8 start=master#ff34b919075f35a1787659e9c448a34b06bab8de

[2021-05-29 22:18] jfgoog commented on #85751
I was able to get it build by hacking `src/tools/clippy/build.rs` and adding

[code]

[2021-05-29 22:35] ehuss commented on #59224
#85698 has changed it so that rustc does not panic in this situation, but it will still generate an error.

I'm going to close this as a duplicate of #49773 to consolidate the issues related to session locking.

[2021-05-29 22:35] #59224 closed

[2021-05-29 22:36] ehuss commented on #66513
#85698 has changed it so that rustc does not panic in this situation, but it will still generate an error.

I'm going to close this as a duplicate of #49773 to consolidate the issues related to session locking.

[2021-05-29 22:36] #66513 closed

[2021-05-29 22:36] ehuss commented on #76251
#85698 has changed it so that rustc does not panic in this situation, but it will still generate an error.

I'm going to close this as a duplicate of #49773 to consolidate the issues related to session locking.

[2021-05-29 22:36] #76251 closed

[2021-05-29 22:36] ehuss commented on #49773
#85698 has changed it so that rustc does not panic in this situation, but it will still generate an error.

Leaving this open as I think it is still worthwhile to consider what other options there are for locking, or if certain situations can be fixed.

A summary of the things people have reported:

* (this issue) NFS synced folder with vagrant (ubuntu 16.04) locking fails with ENOLCK.
* https://g

[2021-05-29 23:18] creikey opened #85821 "Emscripten wasm32 compilation broken"
I tried this code:

[code]

I expected to see this happen: Compiling with `rustc --target=wasm32-unknown-emscripten main.rs` , after the emsdk is activated and emcc works, to compile properly

Instead, this happened: Prints this error:
[code]

I've tried adding `-lstdc++` to no avail

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-05-29 23:27] creikey commented on #85821
[code]

[2021-05-29 23:50] jfgoog commented on #85751
@12101111 thanks for your help. Let me know if you want me to patch in anything to test.

[2021-05-30 00:02] creikey commented on #85821
Also is broken on ubuntu with the same error message (at least windows subsystem for linux)

[2021-05-30 00:21] Tamschi opened #85822 "Strikethrough not visible next to items in Rustdoc module summary"
There seems to be a formatting inconsistency between item pages and what's rendered next to the item's identifier on the module pages.

- - -

I tried this code:

[code]

I expected to see this happen:
"Test" should also be rendered with strikethrough when viewed on the module page of the documentation, next to the item name.

Instead, this happened:
The text isn't strikethrough there, but is rend

[2021-05-30 04:03] rust-highfive opened #85824 "`rls` no longer builds after rust-lang/rust#83772"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#83772, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @jhpratt, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-05-30 04:05] jhpratt commented on #85824
Happy to handle the fallout. Should be minimal so long as it's not a third-party crate.

@rustbot claim

[2021-05-30 04:05] jsha opened #85825 "rustdoc: unknown flag 'skip-rustdoc-fingerprint' with download-rustc"
I have `download-rustc` enabled in my config.toml, and when I run `./x.py doc library/std`, I get the error `error: unknown -Z flag specified: skip-rustdoc-fingerprint`.

[config.toml diffs from config.toml.example](https://github.com/rust-lang/rust/files/6565667/patch.txt)

This reproduces across pulling master a few different times. Currently I'm on 84b1005bfd22e2cb2a4c13b0b81958fe72628354 and i

[2021-05-30 04:54] chengniansun commented on #83702
A duplicate

[code]

[2021-05-30 05:22] matthew-mcallister opened #85827 "`match` extends temporary lifetimes"
Consider this code:

[code]
On current nightly, `panics` panics at `borrow_mut()` while `succeeds` does not. The temporary `std::cell::Ref` created in the `match` scrutinee has its lifetime needlessly extended to cover the `match` body.

The Rust reference has the following to say about `match` (emphasis mine):

Based on this statement, it seems like it was intended for the two functions to be equ

[2021-05-30 05:24] WaffleLapkin commented on #60639
The checked version,
[code]
wasn't implemented. Why?

[2021-05-30 06:57] jhpratt commented on #42168
The `Step` trait has been made safe to implement. A new `TrustedStep` trait has been introduced to indicate that the `Step` implementation upholds all stated invariants, allowing performance optimizations (and adding the `TrustedLen` impl). These changes will be present in the next nightly.

[2021-05-30 07:43] 60nd commented on #85774
[code]

[2021-05-30 09:38] bilelmoussaoui commented on #85433
I'm going to go ahead and close this one, feel free to re-open if you think it's worth it. Thanks again! :)

[2021-05-30 09:38] #85433 closed

[2021-05-30 09:41] RalfJung commented on #60639
As far as I am concerned, mostly due to lack of imagination -- I figured if you'd want checks you'd use references, not raw pointers. The return type `Option<*const T>` is also strange, note that this one cannot be enum-niche-optimized.

[2021-05-30 10:55] Artoria2e5 commented on #29494
My take 2 of the raw_arg and sized arg PR is still available. A recent rebase broke some macro invocation though.

[2021-05-30 11:59] hameerabbasi commented on #85813
Assigning `P-critical` according to the [WG-prioritization discussion on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2385813.20Unsound.20Debug.20impl.20for.20collections.3A.3Alinked_list.3A.3AIte.E2.80.A6) and removing I-prioritize.

@rustbot modify labels -I-prioritize +P-critical

[2021-05-30 12:05] jyn514 commented on #84738
@Aaron1011 came up with a slightly smaller reproduction, the proc macro wasn't related: https://github.com/Aaron1011/spirv-std-3/tree/no-macro

[2021-05-30 12:36] zengming00 commented on #80693
I use this configuration and it works
[code]

[2021-05-30 13:24] calebzulawski commented on #80108
I took another shot at this with no success.

It appears that with an arch without indirect SIMD types it completely skips the operand code and hits this branch in this `project_field` function:

https://github.com/rust-lang/rust/blob/master/compiler/rustc_codegen_ssa/src/mir/place.rs#L97-L101

I tried using `alloca` and `store` to create an array pointer from the vector value, and manually skippe

[2021-05-30 15:02] estebank commented on #57663
@hellow554 because we can always improve things, #85799 :)

<img width="568" alt="Screen Shot 2021-05-30 at 7 59 49 AM" src="https://user-images.githubusercontent.com/1606434/120109153-18d8b600-c11d-11eb-9d86-367e0d0fa256.png">

[code]

[2021-05-30 15:18] abcfy2 commented on #80693
I think this feature should enable by default. https://doc.rust-lang.org/edition-guide/rust-2018/platform-and-target-support/musl-support-for-fully-static-binaries.html As cargo official blog said, musl support for fully static binaries.

[2021-05-30 15:26] ehuss commented on #85825
This needs to point to beta or newer.  Assuming you are using rustup, you can set a directory override. I would probably point this directly to the correct binary in `~/.rustup/toolchains`.  Although I am not sure why it is being set at all, does it not work with download-rustc?

[2021-05-30 15:35] ehuss commented on #85827
I believe this is working as intended.  The match scrutinee is only dropped after the end of the match expression. There is more in the [destructors chapter](https://doc.rust-lang.org/nightly/reference/destructors.html#temporary-scopes) which explains how drop scopes and temporaries work:

[2021-05-30 15:59] matthew-mcallister commented on #85827
So, the language you cited does seem to indicate that this is _expected_ behavior (note the plural: "_temporaries_ in the scrutinee"), but it gives no examples relevant to my case. Without more information I'm not sure whether to believe this is _intended_ behavior or a consequence of the implementation. Extending the lifetime of the scrutinee seems obviously correct; extending the lifetime of tem

[2021-05-30 15:59] #85827 closed

[2021-05-30 16:03] jsha commented on #85825
Aha, that did the trick. Thank you!

This was my mistake - when I set up my config.toml, I went through the example settings looking for what else I should configure, and from the comments on the `cargo` option I thought it would also save me some build time. Re-reading them now I see I had that wrong.

[code]

[2021-05-30 16:03] #85825 closed

[2021-05-30 17:12] #85795 closed

[2021-05-30 17:17] tmiasko commented on #85774
Thanks @60nd, in that case the `let mut m = 0;` can be rewritten to `let m;` or simply `let m = i + (j - i) / 2;` so warning is intended.

I marking this as needs-mcve since without a minimal, complete, verifiable example it is hard to say how the case from the original report could be improved.

@rustbot label: +E-needs-mcve

[2021-05-30 17:27] dns2utf8 commented on #84550
Quick question: Is it documented already that node with some version is one of the optional requirements?

[2021-05-30 17:28] RalfJung commented on #85813
Good catch! Iterator debug implementations seem to be woefully under-audited in terms of soundness problems (this is [not the first](https://github.com/rust-lang/rust/issues/53566) such issue).

[2021-05-30 17:34] RalfJung commented on #85580
Smells like an LLVM miscompilation issue? Since it is target-specific, a MIR issue seems unlikely. Cc @rust-lang/wg-llvm

[2021-05-30 17:40] steffahn commented on #85813
@RalfJung maybe you can help me out with how to run miri while hacking `std` (a question that came up for the PR fixing this: https://github.com/rust-lang/rust/pull/85814#issuecomment-850911789). I have no trouble compiling or testing a modified `std` with `x.py`, or linking a `stage1` toolchain for `rustc` usage (so that `cargo check` or `cargo build` are working) so that I can play around with i

[2021-05-30 17:40] scottmcm opened #85836 "dead-code optimize `if const { expr }` even in opt-level=0"
`inline_const` tracking issue: https://github.com/rust-lang/rust/issues/76001

Inspired by @oli-obk's comment in https://github.com/rust-lang/rust/pull/85828#discussion_r642046617

For things like `if const { expr } { 0 } else { do something complex }` it'd be nice to not have to even give LLVM the code for the else branch to have to emit.  Ought to save time and binary size.

Tentatively marked m

[2021-05-30 17:41] RalfJung commented on #85484
Cc @rust-lang/wg-const-eval

Yes, this is indeed deliberate. Integers and pointers are very different beasts, *especially* during const-evaluation. Future versions of LLVM might even make it UB to transmute a pointer to an integer (without doing a proper cast).

if you want to know more about the (un)depths of pointers, [this blog post](https://www.ralfj.de/blog/2020/12/14/provenance.html) could b

[2021-05-30 17:41] RalfJung commented on #85484
The recommended solution is to use `*const T` for some suitable `T` (might be `()`) instead of an integer type.

[2021-05-30 17:45] RalfJung commented on #85813
Miri uses xargo for sysroot compilation, so setting `XARGO_RUST_SRC` will tell Miri which standard library to use. (It must be set to the `library` folder in a rustc checkout.)

[2021-05-30 17:46] scottmcm commented on #85836
Well, turns out this already works for simple constants in MIR! 🎉
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4d1fe08eec8b705525535ec9ec9d1c89

However, the place I actually needed it was more like `if const { size_of::<T>() < 100 }`, which doesn't work with `inline_const` today.  So maybe come back to this once that's fixed.

[2021-05-30 18:06] RalfJung commented on #85813
Oh, also, if you want to run the alloc/core test suites in Miri, see https://github.com/RalfJung/miri-test-libstd.

[2021-05-30 18:18] GuillaumeGomez commented on #84550
I didn't put a requirement for the node version. And it's in the README in `src/test/rustdoc-gui`. :)

[2021-05-30 19:05] nagisa commented on #85836
This should be done by [SimplifyBranches](https://github.com/rust-lang/rust/blob/59579907ab52ad2369735622185a26f158bf0f0f/compiler/rustc_mir/src/transform/simplify_branches.rs#L19) which AFAIK is run unconditionally. I wonder if its match needs to be expanded?

Is there mcve?

[2021-05-30 19:19] oli-obk commented on #85836
The problem is that this can't be done on generic constants, as we don't mir-optimize post-monomorphization. We could start doing some benchmarks to see how bad running all mir opts (or at least a select few) would be if we duplicated, substituted and optimized MIR bodies for concrete generic parameters.

[2021-05-30 19:25] oli-obk commented on #85836
I would say

[code]

qualifies as an MCVE as the monomorphized `foo::<isize>` gives the following llvm ir

[code]

[2021-05-30 20:09] bstrie commented on #71519
@1000teslas I would ask the compiler team directly in one of the following Zulip channels:

* [\#compiler](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler)
* [\#compiler/help](https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp)

[2021-05-30 20:20] #85356 closed

[2021-05-30 20:21] ammkrn opened #85839 "Inconsistent behavior without lto on Ubuntu"
### Description
I have a repo that uses an indexmap-backed arena to build a graph. It's written such that looking up a pointer that doesn't actually exist causes a panic. If I build the library and run an example without lto on ubuntu, I will either get a semi-deterministic panic, because the program produces a pointer with an index that's far larger than it should be (it happens in the same funct

[2021-05-30 20:26] the8472 commented on #85836
Maybe it should also be evaluated together with polymorphization or const_evaluatable_checked since those can cut down on the duplication before applying further optimizations.

[2021-05-30 20:30] Aaron1011 commented on #85839
@ammkrn: Can you post the backtrace from the segfault that you're getting?

[2021-05-30 20:48] ammkrn commented on #85839
@Aaron1011

I'm not getting any backtrace info even with `RUST_BACKTRACE=1` or `RUST_BACKTRACE=full`, I'm just getting `Segmentation fault (core dumped)`. I have the core dump, but it's  ~1.6gb.

[2021-05-30 20:56] Aaron1011 commented on #85839
@ammkrn: Can you run `gdb` on your coredump, and use the `backtrace` command to print a backtrace?

Also, the program in your repository appears to require a file as input. Could you make a completely self-contained reproducer (e.g. a `crash.sh` script that triggers the panic/segfault)?

[2021-05-30 20:57] Aaron1011 commented on #85839
@ammkrn: I'm not sure why GDB wouldn't produce a useful coredump - that's quite unfortunate. Does adding `debug = true` to the `[profile.release]` section of your `Cargo.toml` change anything?

[2021-05-30 21:12] ammkrn commented on #85839
@Aaron1011

I had `debug = true` set before; my experience with gdb is pretty limited so I'm also not sure why it's being more helpful. `backtrace` in gdb just gives me:
[code]

Minimization/shrinking the input is going to be really difficult; the input file are serialized terms from an interactive theorem prover and the format makes it very difficult to just extract sections. This behavior doesn'

[2021-05-30 21:15] abbec opened #85840 "WASI: Cannot open paths with nightly >= 2021-03-11 when linked with LLD 11.1"
I have code opening a path like `std::fs::read("/absolute/path.txt")` in WASI. All the surrounding code stays the same but when I upgrade nightly from `2021-03-10` to `2021-03-11` it does not work anymore.

## Version details:

[code]

[code]

Looking at the [history](https://github.com/rust-lang/rust/compare/3a5d45f68cadc8fff4fbb557780f92b403b19c19...f98721f886ab52d32d622ad0a46216ad03f3e525), the

[2021-05-30 21:41] abbec commented on #85840
I was wrong, actually it does not work at all on 2021-03-10 and onwards, with or without the leading "/":

[code]
and
[code]
whereas on 2021-03-10 the same code works fine.

[2021-05-30 21:43] jyn514 commented on #84550
This was fixed by https://github.com/rust-lang/rust/pull/84586.

[2021-05-30 21:43] #84550 closed

[2021-05-30 21:45] ammkrn commented on #85839
@Aaron1011

It looks like I was being a bit overdramatic; I shrunk the input down to the file `small.out` that's included in the `segfault` branch.
https://github.com/ammkrn/nanoda_lib/tree/segfault/src

The steps should just be to checkout the segfault branch and run `cargo run --release --example debug small.out`. I neglected to mention this explicitly, but I mentioned Ubuntu because I'm not see

[2021-05-30 22:47] #85422 closed

[2021-05-30 22:47] #85624 closed

[2021-05-30 22:47] #85794 closed

[2021-05-30 22:47] #84429 closed

[2021-05-30 23:12] e00E opened #85841 "Inefficient assembly for semantically equivalent way of matching on enum"
https://godbolt.org/z/fYfohcsax

[code]

Optimized assembly on stable 1.52.0 and nightly:

[code]

I expected next1 to compile to the same assembly as next0.

Edit 2022-12-01: Not fixed on current stable 1.65 and nightly.

[2021-05-30 23:14] Aaron1011 commented on #85839
@ammkrn: I'm unable to observe any panics or segfaults with `rustc 1.54.0-nightly (b663c0f4f 2021-05-29)` on Arch Linux.

[2021-05-30 23:29] #85824 closed

[2021-05-31 01:59] #85459 closed

[2021-05-31 02:19] estebank opened #85842 "Provide structured suggestion on E0282"
[Given the following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=60402668e1f04eb58fd4f7e43ba92ce4):

[code]

The current output is:

[code]

and some [naïve attempts at fixing this don't give good diagnostics](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3a681495f3159a2c792205ae280845ed):

[code]

Ideally the output should look like:

[c

[2021-05-31 02:28] jrmuizel commented on #81432
The upstream llvm bug seems to be fixed.

[2021-05-31 02:29] estebank opened #85843 "Suggest borrowing from argument when return type is a borrow without an applicable lifetime"
Given:

[code]

we currently display:

[code]

Suggesting `'static` lifetimes is _usually_ not what we want to do, and certainly not as the _only_ suggestion.

Someone might try instead to write

[code]

which would display

[code]

In both cases we should (somehow) suggest the user to borrow the argument:

[code]

For the first step, it might be difficult, we might have to do some analysis we are

[2021-05-31 02:34] estebank opened #85844 "Reduce verbosity of E0277 for `Debug` and `Display`"
On missing `Debug` implementation, the current output is unnecessarily verbose:

[code]

We should special case this and `Display` to give less overwhelming output:

[code]

_Taken from https://blog.frankel.ch/start-rust/1/_

[2021-05-31 02:36] estebank opened #85845 "Suggest `#[derive(PartialEq)]` on E0369"
When `PartialEq` isn't implemented for a type, like this

[code]

We should suggest `#[derive(PartialEq)]` on the appropriate type if possible.

_Taken from https://blog.frankel.ch/start-rust/1/_

[2021-05-31 03:40] jkelleyrtp opened #85846 "Documentation request: include_str and format_args"
I noticed some weird behavior today and couldn't find *any* documentation on how it works. It seems that `format_args!` and `include_str!`can actually work together to do compile-time validation of file inputs. Like so:

[code]

Both of these are compiler builtins so their sources aren't easily accessible. However, in neither of their documentation did I see any mention of this behavior. Contrast

[2021-05-31 04:00] jsgf commented on #70093
Resolved by https://github.com/rust-lang/rust/pull/70095

[2021-05-31 04:00] #70093 closed

[2021-05-31 04:07] 1000teslas commented on #71519
@bstrie I've already done so and I'm blocked on this https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/building.20lld.20fails

[2021-05-31 04:40] #71563 closed

[2021-05-31 05:18] ehuss commented on #85846
This is called "eager expansion" and is unfortunately not well documented at this time (the only thing I can find is [this](https://rustc-dev-guide.rust-lang.org/macro-expansion.html#eager-expansion)).  It is only done for some internal macros. There is no mechanism for doing this as a macro developer. There were efforts in the past such as [RFC 2320](https://github.com/rust-lang/rfcs/pull/2320) t

[2021-05-31 05:28] BLucky-gh commented on #85774
[code]

[2021-05-31 05:31] BLucky-gh commented on #85774
sorry for not responding with an example, I didn't have access to a pc this weekend. Unfortunately the real code that emitted the warning is corporate code so I can't show it to you, but I'll try to replicate it with another example later today

[2021-05-31 05:42] jsha commented on #81031
I looked a little at fixing this (I agree, this should work!), and ran into some issues. As I understand it, when you run `cargo doc`, `rustdoc` gets run multiple times, once for each dependency. With the current rustdoc flags, there's no particular notion of one invocation being for the "main" crate of a `cargo doc` invocation. Perhaps we have to add a flag?

Also, `rustdoc` has these flags:

[co

[2021-05-31 05:52] Canop opened #85847 "Failed to get crate data when compiling proc macro crate with --target"
### Meta

[code]

I also tried with rustc 1.54.0-nightly (b663c0f4f 2021-05-29), and I got the same error.

### Reproduction

[code]

### Error output

[code]

</p>
</details>

### Details

The involved crate is a proc-macro : https://github.com/Canop/lazy-regex.git

There's no problem when not using `--target`.

I reproduced the same problem with an app using it ([broot](https://github.com/Canop/

[2021-05-31 06:51] Canop commented on #85847
@AlephAlpha found a workaround: https://github.com/Canop/lazy-regex/pull/6/files

This issue should still probably stay open because of the rustc crash and because the problem isn't clear.

[2021-05-31 07:00] #85235 closed

[2021-05-31 07:27] insanitybit opened #85848 "ICE in rust nightly 2021-05-30"
The code isn't correct anyways, but I did run across this. Minimized a bit, but it's still a fairly sizable example - sorry about that.
### Code
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=49ea5447e438ddb212b8dcbee034255b

### Meta
rustc 1.54.0-nightly (c1e8f3a58 2021-05-30)

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

<

[2021-05-31 07:51] weiznich commented on #85811
I want to officially raise my concern about making `resolver = "2"` default via a new edition. Note that the following statements are **not** about the general usefulness of `resolver = "2"` or what bugs are fixed by the new resolver, but only about if it is allowed to be changed as part of a new edition or not according to the relevant RFC. I fill this as comment here instead as new issue, as I b

[2021-05-31 07:53] apiraino commented on #85840
hi @abbec thanks for filing a report. Do you imply that even a snippet like this returns that error?
[code]
Can you attach a small but fully actionable reproducible snippet (along with the command to compile)? There might be more to investigate and that would be useful. Thanks!

[2021-05-31 08:26] hellow554 commented on #85848
Somewhat smaller, but I guess that more can be done:

[code]

[2021-05-31 08:31] m-ou-se commented on #85434
Lowering priority to P-medium because of the previous discussion in #31936.

[2021-05-31 08:43] hellow554 commented on #77708
I have another example while I was reducing #85848

[code]

Funny enough, the braces around `false` are mandatory for the ICE, although rust suggests removing them: `unnecessary braces around const expression`. If I remove them, the ICE goes away.

[2021-05-31 08:44] hellow554 commented on #82034
Is this a dup of #77708 ?

[2021-05-31 08:44] Kannen opened #85849 "Rust is not able to infer equivalence when it applies to trait associated types."
This bug cause the error "overflowing when evaluating the requirement..."

Consider this example:

[code]

This does not compile:

The code above should compile because
the fact that `T` implements `Add` implies that there exits `A` such that `T:Add<Output=A>`

And this other definitions for `f` does compile as expected.
[code]
I think rust should be able to perform this transformation for the org

[2021-05-31 08:51] abbec commented on #85840
No, that does work and I am using my own version of wasilibc that I am linking against (which is the same version as the one currently used by std) but the strange thing is that it does work on one date and the same code stops working on the next.

[2021-05-31 09:06] michaelwoerister commented on #85783
Great, thanks for taking a look, @Aaron1011!

[2021-05-31 09:16] abbec commented on #85840
Seems to have something to do with using a custom linker and using the external wasilibc, I will investigate more, still something needs to have changed between these two versions.

[2021-05-31 09:40] abbec commented on #85840
Seems to be only when using a custom linker (LLVM 11 in this case). Any tips for debugging would be very appreciated!

[2021-05-31 09:59] apiraino commented on #85840
Which command and rustc flags do you use to compile the sources? Also, do you get an actual error stack? If yes, can you expand that error with `RUST_BACKTRACE=full`? Are you able to test against the latest LLVM 12?

[2021-05-31 10:04] abbec commented on #85840
It seems to be the usage of `-Ctarget-feature=-crt-static` together with [this](https://github.com/rust-lang/rust/commit/fdb899ba4bd5dffab4eec9ea575991ec5499a527) change that causes the breakage.

Unfortunately, it would be some work to get the Nix-setup going with LLVM 12 (we are tracking the 20.09 release which does not have it).

And no callstack sadly.

[2021-05-31 10:13] #47551 closed

[2021-05-31 10:13] #85310 closed

[2021-05-31 10:13] #84033 closed

[2021-05-31 10:23] abbec commented on #85840
Or actually, it seems to be more the use of the non-internal linker (which is required for `-Ctarget-feature=crt-static`) that breaks it

[2021-05-31 10:42] masklinn commented on #43909
Just found this issue after encountering a similar problem: a type with `derive(Debug)` did not respond to formatting information which was somewhat odd (and made me spend some time before concluding that it was intended and not an error of my code), what would be the intended behavior here:

* should `Debug` generally respond to formatting information by default aka the empty tuple behaves proper

[2021-05-31 11:07] jamesmunns opened #85851 "Suggest missing Debug Impl when unwrapping"
Hey all, here's another common pitfall our new Rust learners stumble into during our training. The diagnostics you get on `unwrap` when the `E: Debug` bound isn't met do tell you that it isn't possible, BUT it doesn't tell you how to fix this. I think in most cases, suggesting `#[derive(Debug)]` is a better option, though this might give false positives if the user doesn't control the Error type (

[2021-05-31 11:36] jyn514 commented on #85847
Duplicate of https://github.com/rust-lang/rust/issues/85386 (which was in turn a narrow case of https://github.com/rust-lang/rust/issues/56935).

[2021-05-31 11:36] #85847 closed

[2021-05-31 11:43] m-ou-se commented on #84979
We specifically wanted to make these things a *lexer* error, so we don't have to decide on the lexing rules for that literal yet. E.g. is `fb"\xFF"` valid or not? How about `fb"❉"`? Or `fr"\"`? Or `f"hello {123 + "hey".len()}"`?

[2021-05-31 11:53] m-ou-se commented on #84978
Note that the 'jointness' solution won't really work. That's exactly what we wanted to avoid by reserving prefixes in the *lexer*, to make sure we don't have to decide right now on the lexing rules for every possible prefix. As I wrote in https://github.com/rust-lang/rust/issues/84979#issuecomment-851432665:

---

Also, this doens't seem to be true:

Proc macros cannot accept string literals with

[2021-05-31 11:56] m-ou-se commented on #84978
As for `match"hey"` etc., I think it's perfectly fine if that gives an error and a suggestion for `match "hey"` with a space.

[2021-05-31 12:29] abbec commented on #85840
Yeah, it does work with LLVM 12 but not with LLVM 11.1.

# REPRO CASE:

[code]

## Run this

[code]

## Result
[code]

The same thing works fine with

[code]

[2021-05-31 12:34] abbec commented on #85840
With latest nightly and LLD 12 I instead get: "note: wasm-ld: error: unknown argument: --as-needed"

[2021-05-31 13:07] MihirLuthra opened #85854 "Input to a #[proc_macro_derive] sees underlying derives on the item"
Input to `#[proc_macro_derive]` is able to see underlying derive attributes. This is not supposed to happen as per the change is [version 1.17.0](https://github.com/rust-lang/rust/blob/master/RELEASES.md#version-1170-2017-04-27). A [pull request was merged](https://github.com/rust-lang/rust/pull/39572) to remove this effect.

But [version 1.52.0](https://github.com/rust-lang/rust/blob/master/RELEA

[2021-05-31 13:19] chengniansun opened #85855 "ICE: compiler/rustc_middle/src/ty/generics.rs:188:18: expected type parameter, but found another generic parameter"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-05-31 13:50] Aaron1011 commented on #85854
cc @petrochenkov - I believe the new behavior is the one we want, since it makes derived 'just another attribute'. If so, we should document it more clearly in the release notes.

[2021-05-31 14:21] michaelwoerister opened #85857 "`no_hash` queries bypass `-Z verify-ich` checks"
[It was recently shown](https://blog.rust-lang.org/2021/05/10/Rust-1.52.1.html) that "incremental compilation hash verification" (i.e. `-Z verify-ich`) is an important tool for finding potentially dangerous bugs in query provider implementations.

However, this verification of query result hashes naturally can only work if we actually compute hashes for the results of a given query. This is not th

[2021-05-31 14:34] TornaxO7 commented on #32104
Is there any process yet? I'd like to add some images into the docs as well :)

[2021-05-31 14:34] DoumanAsh commented on #57563
I know there is `const_fn_traint_bound` but I'm wondering why does it affect code inside cosnt fn?

For example:

[code]

Neither timer or uninit has trait bound.
but you get error on `Cell`, probably due to it having `dyn T` implicit

[code]

But error message itself is not correct, and I'm not sure if it is not oversight in current `const fn` implementation.
Thoughts?

[2021-05-31 14:41] Aaron1011 commented on #85857
I don't think a `no_hash` but not `eval_always` query can actually lead to miscompilations. Any query that directly depends on a `no_hash` query always gets re-run, since we have no way of knowing whether or not the `no_hash` query is green. As a result, we will never implicitly re-use the result of the query - if the queries which directly depend on it see a changed result, their result will chan

[2021-05-31 14:44] Aaron1011 commented on #85857
The problem, of course, is that using `no_hash` for performance reasons becomes pointless if we need to compute the hash anyway for `-Z verify-ich`.

[2021-05-31 14:47] RalfJung commented on #57563
`None` here has type `Option<Box<dyn FnMut()>>`, and the "trait bounds" also refers to trait objects -- all types involving trait objects are rejected. The error could probably be made clearer.

The rejection comes out of an abundance of caution. In theory we could have a more precise analysis which realizes that `None` does not actually create a trait object. We need to be careful though since bo

[2021-05-31 14:49] chris-morgan opened #85858 "IntoIterator::IntoIter docs show incomplete trait bounds"
Refer to the [`std::iter::IntoIterator` docs](https://doc.rust-lang.org/std/iter/trait.IntoIterator.html) (and the problem is also visible on [nightly](https://doc.rust-lang.org/nightly/std/iter/trait.IntoIterator.html)).

It shows in both the declaration code and under the “Associated Types” heading: <sub>(<i>sans</i> semicolon in the latter)</sub>

[code]

This is lacking a crucial part of the b

[2021-05-31 14:58] chris-morgan commented on #85858
I just checked on old docs. Until [1.48.0](https://doc.rust-lang.org/1.48.0/std/iter/trait.IntoIterator.html), it looks like rustdoc translated that associated type bound to `where <Self::IntoIter as Iterator>::Item == Self::Item` in the declaration (or similar; back in 1.0.0 it was `where Self::IntoIter::Item == Self::Item`), but in [1.49](https://doc.rust-lang.org/1.49.0/std/iter/trait.IntoItera

[2021-05-31 15:01] DoumanAsh commented on #57563
Ok, I didn't know trait object are automatically denied because these are still concrete types, even if they are unsized.
I can work it around by storing trait object fat pointer as integer of correct size, so it is not so bad.

[2021-05-31 15:07] RalfJung commented on #57563
Forcing you to use integer-pointer-casts sounds pretty bad...

The underlying concrete type behind `dyn FnMut` is not known, so in a sense these are not concrete types.

[2021-05-31 15:12] DoumanAsh commented on #57563
This is true, but `*mut dyn FnMut` is pretty known at compile time (it is always `mem::size_of::<usize> * 2` which is why it is counter intuitive to me)
From that perspective it sounds pretty weird to consider it as trait bound.
I doubt there is any consideration for that case so I only assume it will be fixed with stabilization of non-`Sized` trait bounds

[2021-05-31 15:17] michaelwoerister commented on #85857
That's not actually the case, I think. Let's make sure we talk about the same thing and that I'm not overlooking something. Here's the diagram from #85783 again:
[code]
Let's assume that `Q_i` is `no_hash` but not `eval_always`. That means that when we start marking `Q1`, we'll try to mark `Q_i` as green. It being `no_hash` has no influence on red-green marking at this point. If we can mark all of

[2021-05-31 15:23] rust-highfive opened #85861 "`miri` no longer builds after rust-lang/rust#85704"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#85704, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Aaron1011, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-05-31 15:53] Aaron1011 commented on #85194
@nikomatsakis: With https://github.com/rust-lang/rust/pull/85704 merged, a const panic now results in a hard error.

[2021-05-31 15:54] Aaron1011 commented on #85854
This change was made by https://github.com/rust-lang/rust/pull/79078, but that PR was never tagged with `relnotes` for some reason.

[2021-05-31 15:59] RalfJung commented on #57563
As I said, the true reason for rejection is that we do not want to stabilize creating or calling `dyn Trait` objects during CTFE time. This is done to remain future-compatible with many different options for https://github.com/rust-lang/rfcs/pull/2632.

Your code *should* work, and I think a PR that carefully relaxes the const-checking analysis to accept such code would be accepted -- but @oli-obk

[2021-05-31 16:01] steffahn opened #85863 "iter::Fuse is unsound with how specialization currently behaves around HRTB fn pointers"
## New high-level explanation of this issue, also covering #85873

`Fuse<T>` and `Zip<T, U>` have optimizations relying on specialization if their type parameters implement a trait (`FusedIterator` or `TrustedRandomAccess`, respectively).

These optimizations fundamentally change the way the iterator operates.

All type arguments are covariant. Coercing e.g. `Fuse<T>` to `Fuse<U>` if `U` is a subt

[2021-05-31 16:01] RalfJung commented on #57563
Actually one would have to be even more careful than I though -- this is deliberately rejected:
[code]
This code is similar enough to `const fn foo(x: impl Trait)` that we want to reject both of them to avoid locking us into the wrong corner of the design space for trait bounds.

[2021-05-31 16:07] Aaron1011 opened #85864 "Add debugging flag to assert state of incremental cache"
In PR https://github.com/rust-lang/rust/pull/85702, I added a test that relies on the incremental cache still being saved if a linker error occurs. It would be good for the test to assert that this assumption is actually true. We could add a new flag `-Z assert-incr-state=<state>`, where `<state>` can be:

* `none` - we didn't find any previous session dirs whatsoever
* `mismatch` - we found an ex

[2021-05-31 16:23] ammkrn commented on #85839
@Aaron1011

Thanks for taking a look; If I'm correct in interpreting that as "this compiler version with this target triple doesn't seem to produce this behavior everywhere, so it's an OS issue, not a compiler issue", please let me know and I'll close this until I can find some new/compelling info. If you happen to have any thoughts on what might be causing this, I'd be grateful if you would share

[2021-05-31 16:27] pickfire opened #85865 "Suggest borrowing if a trait implementation is found for &/&mut <type> regression"
**When both `&S` and `&mut S` is implemented**,

Given the following code:

[code]

The previous output was:
[code]

The current output is:

[code]

Ideally the output should look like:

Not sure but it should show both `&s` and `&mut s`. The previous output seemed to do a better job there. Maybe we could keep the last part of the previous output.
[code]

Caused by https://github.com/rust-lang/rus

[2021-05-31 16:28] Mark-Simulacrum commented on #85864
It'd be good to add these flags to rustc-perf's incr tests once this flag is implemented, I think, FWIW.

[2021-05-31 16:48] cjgillot commented on #85857
My understanding is the same as @michaelwoerister's: no_hash queries can be marked as green iff all their dependencies are green. `no_hash + eval_always` essentially means "always red".

There is an order-dependency I don't like: if we try to mark green before computing the result, the query may be green (iff all its dependencies are). If we compute the result before trying to mark green, the quer

[2021-05-31 16:48] Aaron1011 commented on #85839
@ammkrn: Can you try to record the execution of your program with [rr](https://github.com/rr-debugger/rr)? You'll probably want to invoke it via `target/release/examples/debug` instead of `cargo run`

[2021-05-31 16:51] Aaron1011 commented on #85857
It looks like my understanding of `no_hash` was incorrect - thanks @michaelwoerister and @cjgillot for correcting me.

Based on the previous incremental issues we've seen, I think the best way to catch bugs is to have end users running the compiler with the relevant assertions. Ideally, we could improve the hashing performance to the point where `no_hash` is no longer needed for perf, but I don't

[2021-05-31 17:47] #85813 closed

[2021-05-31 18:55] matthiaskrgr opened #85871 "ICE: struct has no associated body with -Zthir-unsafeck=yes"
### Code
code from glacier fixed 67405.rs
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-05-31 18:57] veber-alex commented on #85858
duplicate of #84579

[2021-05-31 19:15] nellshamrell commented on #80658
FINALLY have some time to devote to this. Thank you so much for the pointers, @nikomatsakis, that helps a lot!

[2021-05-31 19:24] nellshamrell commented on #80658
Adding some repro steps for my own reference (and for anyone else!)

[code]

Head into `src/lib.rs` and change to:

[code]

[code]

[2021-05-31 19:33] ammkrn commented on #85839
@Aaron1011
I wasn't able to get much from rr, but I had more luck with gdb after some effort; it looks like the segfault is coming from a derived debug instance, here's what gdb returned after `gdb run...segfault`:

[code]

With this backtrace:
[code]

The calling code uses `format!` to try and debug the original issue of the anomalous large integer index; Cargo expand shows that it becomes:
[code

[2021-05-31 19:58] vakaras commented on #85697
Let me try to summarize my understanding so that in case someone else gets confused about the aliasing of `Vec` contents, they need to read only this comment and not the entire thread.

My original question can be rephrased as:

The answer is: yes, **by default** it can be assumed that the contents of the vector are not aliased.

Unsafe code is allowed to weaken this *type invariant*, but the prog

[2021-05-31 20:16] Mikadore opened #85872 "Failure to optimize `.reverse()` with more than one usage in the same file"
I was experimenting with some code on godbolt, when encountering this:
[code]
with `-C opt-level=3` produces the expected assembly:
[code]
However, when adding (into the same file) this function:
[code]
*The previous* function's codegen changes to
[code]
https://godbolt.org/z/MWTar9xa3
https://godbolt.org/z/sKTznrKh9

The issue: it stores the result on the stack, and then immediately discards that

[2021-05-31 20:32] SimonSapin commented on #85697
I think "using Vec as an allocator" is misleading, as it is mostly unrelated to this issue. Before `std::alloc` was a thing, one might have written code like this:

[code]

As far as I understand there’s nothing wrong with this code.

What’s special and potentially dubious about the `typed-arena` crate is that it uses unsafe code to call `Vec::push` (which takes `&mut Vec<T>`) while there still ar

[2021-05-31 20:35] xFrednet commented on #54503
Issue #55112 is related to the implementation of the `reason` field.  The current implementation apparently allows the usage of an attribute with only a reason `#[allow(reason = "foo")]`. Source:

[Noted as a FIXME in the `LintsLevelBilder`](https://github.com/rust-lang/rust/blob/9d15abe0cc3f8d5dc73c6acc829ca66e1eebaf60/compiler/rustc_lint/src/levels.rs#L255-L256)

Just to keep track that this als

[2021-05-31 20:41] the8472 commented on #85863
I think this is a known hole see #68970 on **rustc_unsafe_specialization_marker**. `Copy` is similar in that regard.

[2021-05-31 20:48] steffahn commented on #85863
@the8472 That section also says

This issue *is* a way to “cause use after frees with purely safe code” (not 100% a “use after free” with the current example code, but it can certainly be turned into “use-after-free” UB, too). So it is not a known hole.

[2021-05-31 20:51] SimonSapin commented on #85697
If fact to implement an arena allocator without `Vec` I might be tempted to write code like this:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3dbaacd318afc84ab726189d68f5f73f
[code]

… which looks a lot like https://github.com/rust-lang/rust/issues/60847 since `slice` can alias with `&mut T` references returned by previous calls to `alloc`. Does this unsafe code viola

[2021-05-31 20:55] nellshamrell commented on #80658
# Notes

## Relevant files/functions

### compiler/rustc_infer/src/infer/error_reporting/mod.rs

**add_labels_for_types**

This function adds some wording async errors (this is where I focused in #82165)

[code]

**suggest_await_on_expect_found**

This appears to generate the help text in the relevant async error from the example, particularly this section:

[code]

**note_type_err**

This functio

[2021-05-31 23:51] chadbrewbaker commented on #79121
I ran into an issue for coreutils, https://github.com/uutils/coreutils/issues/2324. The "ls" tests are angry at the default.profraw file. How do you set an environment variable so that profiles written to a fixed directory like /tmp/coreutils-coverage?

[2021-06-01 00:09] steffahn opened #85873 "TrustedRandomAccess optimization for Zip containing vec::IntoIter is unsound with how specialization currently behaves around HRTB fn pointers"
Related to #85863, which now includes a high-level description covering both #85863 and #85873. _[This issue is not a duplicate because both issues can be fixed independently in different ways.]_

[code]
[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3fe632a24ae62688020e62c83e7a2b0c))

@rustbot label T-libs-impl, T-compiler, A-specialization, A-iterato

[2021-06-01 00:34] chris-morgan commented on #85858
Ah hah, good find; thanks.

[2021-06-01 00:34] #85858 closed

[2021-06-01 00:49] steffahn commented on #85863
@the8472

Funny that you mentioned `Copy`, now I’ve also found an issue involving specialization on `Copy`: #85873

Maybe your remark even helped me a little bit in finding it. (I’m always unable to accurately recall afterwards _how exactly_ I found such a soundness issue, so I’m not sure.)

[2021-06-01 00:50] #85861 closed

[2021-06-01 00:58] Imberflur commented on #85019
@Aaron1011 I'm not able to reproduce this locally

[2021-06-01 01:15] strager commented on #85821
rustc 1.53.0-nightly (42816d61e 2021-04-24)
emcc (Emscripten gcc/clang-like replacement + linker emulating GNU ld) 2.0.12 (d0e647bf266caad50943e78c9841e05e9c499a5d)

Here's some info I gathered:

* Rust tries to [use `__gxx_personality_v0`](https://github.com/rust-lang/rust/blob/d2091147b16a1e3e1f9a73b6ee29fbe941c8abce/library/panic_unwind/src/emcc.rs#L116). I think Rust is assuming that this symb

[2021-06-01 02:28] ctapang opened #85875 "thread 'rustc' panicked at 'assertion failed: args.args.len() == 2'"
This was while compiling code for the Solana blockchain (BPF code generation).

error: internal compiler error: unexpected panic

note: the compiler unexpectedly panicked. this is a bug.

### Code
None
[code]
BPF SDK: /home/ctapang/.local/share/solana/install/releases/1.6.9/solana-release/bin/sdk/bpf
Running: rustup toolchain list -v
Running: cargo +bpf build --target bpfel-unknown-unknown --relea

[2021-06-01 02:36] jyn514 commented on #85875
1.50 is quite out of date, can you reproduce this with 1.54-nightly? Also, 1.50-dev sounds like this is a fork of the rust compiler, please try it with an official binary.

[2021-06-01 02:43] jyn514 commented on #85851
This would be nice to suggest for all traits with derives in the standard library, and maybe with derives from third-party crates too if the crate is in your dependency tree (like `thiserror` and `Error`, or `From` and `derive_more`).

[2021-06-01 03:19] rust-highfive opened #85878 "`miri` no longer builds after rust-lang/rust#85153"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#85153, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @cjgillot, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-06-01 03:29] AaronKutch opened #85879 "Extremely bad codegen of `leading_zeros` on several architectures"
A few months ago, I noticed some problems with the code gen of `leading_zeros` for RISCV and some other architectures, and tried to fix it in a [compiler-builtins PR](https://github.com/rust-lang/compiler-builtins/pull/366). Today, I was looking at the function for another reason and decided to see what the codegen currently looks like. I assumed that LLVM used `__clzsi2` for `usize::leading_zeros

[2021-06-01 04:47] ctapang commented on #85875
BPF SDK: /home/ctapang/.local/share/solana/install/releases/1.6.9/solana-release/bin/sdk/bpf
Running: rustup toolchain list -v
Running: cargo +bpf build --target bpfel-unknown-unknown --release
   Compiling pyth v0.1.0 (/home/ctapang/ZeroInterestDeFi/anchor/oracles/pyth/programs/pyth)
thread 'rustc' panicked at 'assertion failed: args.args.len() == 2', /home/ctapang/.cargo/registry/src/github.com-

[2021-06-01 05:10] cuviper commented on #85863
Wouldn't that be a breaking API change?

[2021-06-01 05:13] ctapang commented on #85875
I upgraded to nightly-2021-05-31-x86_64-unknown-linux-gnu and I lost the bpf code generation feature. So yeah, I must have been using a fork specifically for the Solana blockchain.
I tried "cargo build" instead of "cargo build-bpf" and I get that same error (my problem, not a compiler issue), but no crash:

![image](https://user-images.githubusercontent.com/2825510/120269817-64927900-c25d-11eb-847

[2021-06-01 06:08] qiujiangkun opened #85881 "Cannot use const generics with triat const: type provided when a constant was expected"
rustc version 1.54.0 nightly
I'm hoping this would work without extra features
[code]

[code]

[2021-06-01 06:10] csmoe commented on #36642
Closes as fixed.
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=64db33dc4760d11a21774b36a8fa4584

[2021-06-01 06:10] #36642 closed

[2021-06-01 06:12] qiujiangkun commented on #85744
#85881
Similar issue

[2021-06-01 06:16] BLucky-gh commented on #85774
For some reason I cannot replicate the warning anymore, even with the original code that emitted it. To be honest I have no idea what's different right now apart from maybe a rustc/rust-analyzer/cargo update that fixed that, but since the issue was still happening on nightly that might not be the case.

[2021-06-01 06:23] qiujiangkun commented on #85881
Adding `{}` and `#![feature(const_generics)]` and `#![feature(const_evaluatable_checked)]` would not work, either

[2021-06-01 06:36] XAMPPRocky opened #85882 "Extended key value attributes are parsed too eagerly"
Consider the following rust code, I would have expected the below to compile on stable today when compiled with `rustc src/lib.rs`, but in fact it fails to compile citing that arbitrary key values are unstable. Which implies that the `include_str!` parsing is being handled ahead of handling the `cfg` predicate. While this specific example won't be an issue when this becomes stable in 1.54.0, but i

[2021-06-01 06:56] conradludgate opened #85883 "Leaking private structs in public functions"
I tried this code:

[code]

I expected to see this happen: Rust complain about the leaking of private structs.

Instead, this happened: It compiles, this has caused it to creep into some crates. For instance, this is in [tonic 0.4.3](https://github.com/hyperium/tonic/issues/672)

Fixing this would likely be a harsh breaking change (as I mentioned, it's already in at least 1 crate, possibly many mo

[2021-06-01 07:41] steffahn commented on #85863
Sure, it's a breaking change. I suppose this depends on the long term vision for Fuse. I haven't thought about it for too long myself either at the time of writing the idea of making it invariant, and my feeling when suggesting it was “maybe a Fuse type that holds its promise of being a no-op when the iterator implements `FusedIterator` can never be sound if it's covariant”, in which case consider

[2021-06-01 07:59] SimonSapin commented on #79995
This seems like a great reason to name these methods `MaybeUninit::copy_from_slice` and `MaybeUninit::clone_from_slice`

[2021-06-01 08:01] michaelwoerister commented on #85857
Interesting. I don't think we do that though, that is, we'll always try to mark a query green before re-executing or loading it from the cache, right? If that is not the case anymore we'll need to restore that protocol again (and put assertions in place to keep it that way).

[2021-06-01 08:29] the8472 commented on #85863
CC @matthewjasper for clarification on what kind of unsoundness is expected from user-implementable `#[rustc_unsafe_specialization_marker]` traits.

[2021-06-01 09:01] petrochenkov commented on #85882
*Any* parsing is performed before handling `cfg`s though, it's not specific to key-value attributes.

This issue is a duplicate of https://github.com/rust-lang/rust/issues/82768, which suggests a workaround (for older versions of rustc, since arbitrary expressions in key-value attributes are now stable).

[2021-06-01 09:05] aticu commented on #85883
The type `Bar` is marked with `pub`, so it's public. No private type is leaked. If you remove the `pub` or change it to `pub(super)`, then the compiler will complain.

What you're probably referring to is that the type `Bar` cannot be named outside of the `foo` module. It can still be used normally in every other way though.
As far as I know this is intended behavior. It is used on occasion to imp

[2021-06-01 09:30] conradludgate commented on #85883
Yes, it is technically public, but in all practicality, it's private. As you say, if you change the visibility, it does indeed error because it would be bad to return a type that cannot be annotated by the caller, yet this is exactly what the code above does. So this should also be an error

I am aware it's an intended feature **for traits**, but not for structs.

[2021-06-01 09:33] conradludgate commented on #85883
Specifically, the error is [`A private item was used outside its scope.`](https://doc.rust-lang.org/stable/error-index.html#E0603). Does that description not fit this scenario? `Bar`, in the perspective of the `main` function, is private

[2021-06-01 09:47] RalfJung commented on #85697
@vakaras

FWIW, I don't think this is a general recommendation. Traits should be used when abstraction is required. But I don't think it makes sense to introduce a trait just to specify the weaker precondition. I'd just document it properly in the functions doc-comment.

[2021-06-01 09:49] RalfJung commented on #85697
@SimonSapin

Yes I think it does, right here: `&mut *self.current_block.get()`. This creates a mutable reference to the entire slice, thereby claiming "I hold the only and unique pointer to all this memory". I don't think you intended to make that claim.

[2021-06-01 09:59] weiznich opened #85887 "Internal Compiler Error while compiling a special diesel change"
### Code

While working on diesel rustc crashed. I've uploaded my current local version here: https://github.com/weiznich/diesel/commit/062572ee329243b1c01460adcdf55f1a112e92f8. I'm happy to provide some guidiance about what could be relevant for minimization, but I unfortunally do not have the time to do that by myself.

Steps to reproduce:
1. Clone the repository and checkout the corresponding c

[2021-06-01 10:14] XAMPPRocky commented on #85882
Sure, my point was more that it mismatches with my expectation that the item after the `#[cfg]` is mostly just treated like a token stream, and that it shouldn't matter whether what that stream has an unstable language feature, when to me, the compiler should be throwing it out anyway before it tries to expand. Maybe it would be fairer to say that the feature detection linting is happening earlier

[2021-06-01 10:17] aticu commented on #85883
The following code compiles:

[code]

`Bar` can be used like ever other public type, except that it's impossible to name it.
As far as I understand it the type and the name of the type are two different "things", the type can be public without the name being public too.

If this were changed for structs, it would make the language less consistent, since it is intended for traits (and maybe even fo

[2021-06-01 10:22] petrochenkov commented on #85882
That's true for fn-like macro inputs, but attribute macros always receive valid Rust syntax as input.
https://github.com/rust-lang/rust/issues/65860 contains some more detailed discussion of relevant issues.

[2021-06-01 10:27] XAMPPRocky commented on #85882
Thanks for the link, and the explanation, I think we can close this one anyway as it seems to be known, and the impact isn't as bad as initially thought.

[2021-06-01 10:27] #85882 closed

[2021-06-01 10:28] conradludgate commented on #85883
The reason I consider this a problem is because of https://github.com/hyperium/tonic/issues/672 - notably https://docs.rs/tonic/0.4.3/tonic/transport/server/struct.Router.html#method.add_service this function returns `Router<S, Or<A, B, Request<Body>>>`, I'm trying to wrap the functionality of tonic, but I cannot do so as current because I cannot name that type in my wrapper code. I do personally

[2021-06-01 10:32] jyn514 commented on #85875
That's a bug in a proc macro you're using, not in the compiler itself.

[2021-06-01 10:32] #85875 closed

[2021-06-01 10:42] jonas-schievink commented on #85881
Adding `{}` as suggested in the help message works

[2021-06-01 10:42] #85881 closed

[2021-06-01 12:10] #85878 closed

[2021-06-01 12:36] hellow554 commented on #85887
Your code seems to be very trigger happy :D

[code]

[2021-06-01 12:50] weiznich commented on #85887
Removing [this](https://github.com/weiznich/diesel/commit/062572ee329243b1c01460adcdf55f1a112e92f8#diff-3e97963ccdabdc6f815942f3464b7fbb0980980f9a1d1212168de235b2cf3fd7R104-R110) associated type constraint + replacing the function body below with `todo!()` fixes the compiler crash.

[2021-06-01 12:59] hellow554 commented on #85887
I'm sorry... I posted it to the wrong issue ;) forget everything I posted!

[2021-06-01 14:30] steffahn opened #85890 "`Zip` implementation optimization using `TrustedRandomAccess` can remove observable side-effects."
[code]
[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c05cdb4ff85dd7022cb9d8e1ba8ea6d0))

This is a flaw in the current specialized implementation of `next()`.
[code]

 This implementation makes sure to keep trying to evaluate the first iterator in the `Zip` like the short-circuiting default implementation
[code]

 However, the default implementation d

[2021-06-01 14:41] steffahn commented on #85890
Duplicate of #82303

[2021-06-01 14:41] #85890 closed

[2021-06-01 14:48] steffahn commented on #82303
The documentation of `Zip` says

Which pretty clearly describes the behavior of `Zip`. Following this description one would not necessarily expect the first iterator *not* to be advanced just because the second iterator has size `0`.

[2021-06-01 15:17] ForgottenGensym commented on #85581
Just to clarify, this only happens when the first borrow is in the condition of the `if let`, and the second is in the body

[2021-06-01 15:33] matthewjasper commented on #85863
"purely safe code" includes library code in this context, which `FusedIterator` is not. I would prefer (soft) deprecating `Fused` and removing the specialization, but I can understand the library team not considering that feasible.

[2021-06-01 15:35] steffahn commented on #85822
@Tamschi As a temporary workaround you can use
[code]

I don’t fully understand your notation but in case it’s desired, you could also get rid of the space this way
[code]
or even combine both code items into a single one
[code]

[2021-06-01 15:50] nikomatsakis opened #85894 "Create group containing all Rust 2021 edition lints"
As follow up to #85512, we need to create a group containing all "Rust 2021 migration"-related lints. Let's start by logging them in the comments here.

[2021-06-01 15:50] nikomatsakis commented on #85894
This isn't really blocked on #85512, it's just not as useful without it.

[2021-06-01 15:56] nikomatsakis opened #85895 "prepare PR that will "dry run" the crater migration"
As part of the 2021 Edition release, we want to do a "dry run" crater run that attempts to do migrations and then builds and runs tests. This will help us check the lints.

We cannot actually run this setup until the following issues are closed, but we can still do the work to prepare the PR now:

* [x] Create group containing all Rust 2021 edition lints #85894
* [x] Force-warn for edition lints #

[2021-06-01 15:57] m-ou-se commented on #85894
`non_fmt_panic`

[2021-06-01 16:06] wesleywiser commented on #85783
Perhaps we could start by enabling this for rustbuild? At least then, we will get some testing during rustc development.

[2021-06-01 16:14] scottmcm commented on #85836
Bonus points if this can avoid monomorphizing functions called in the dead code too.

Demo extracted from `core`: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=40cc11066ca1fa8462d0f0f403ee1d8f (cc #52051)

Would be great to not codegen all the downstream stuff that's only called in the else block of a `br i1 true`.

[2021-06-01 16:24] m-ou-se commented on #85894
1. Prelude changes:
    - `future_prelude_collision` (Not ready yet: https://github.com/rust-lang/rust/pull/85707)
2. Panic consistency:
    - `non_fmt_panic`
3. Lints -> hard errors
    - `bare_trait_object`
    - `ellipsis_inclusive_range_patterns`
4. Disjoint captures
    - `disjoint_capture_drop_reorder`
5. Cargo resolver 2
    - \-
6. IntoIterator for arrays
   - `array_into_iter`
7. Or patte

[2021-06-01 16:43] the8472 commented on #85863
That sounds to me like some safety loopholes around specializations on `FusedIterator` and `Copy` were not unexpected since they tend to include unsafe code.

[2021-06-01 16:43] nikomatsakis commented on #85194
@rfcbot resolve hard-error

[2021-06-01 16:46] richkadel commented on #85718
I don't have enough information in this report to understand the problem. Can you provide an MCVE?

`-Z instrument-coverage` is generally not aware of features. Whatever code actually gets parsed and compiled is passed through the coverage instrumentation. By that time, most features have already been handled.

When you talk about "file coverage", without really understanding the issue, my guesses

[2021-06-01 16:48] richkadel commented on #85461
This should be fixed. There was a brief window in the nightly builds (less than a week I think) where this was a known bug. It was resolved.

[2021-06-01 16:49] richkadel commented on #85461
Woops... Sorry I responded to the wrong issue. Deleting

[2021-06-01 16:52] richkadel commented on #85461
I'm adding a note here because my brain gets confused by github's bold-text "mentioned this issue" notes. I see the "No counters provided the source-hash" and jump to the wrong conclusion that this is related. (I think I've done this more than once.)

So, NOTE TO SELF, this issue is NOT related to the "No counters provided the source hash" bug...

Thanks and sorry for the churn... 😄

[2021-06-01 16:56] richkadel commented on #85213
@matthiaskrgr can you close this issue unless you can still reproduce it? (Should be fixed.)

[2021-06-01 16:56] vberger opened #85898 "Associated types from foreign trait impls are considered as conflicting with every other type"
The following code fails to compile
[code]
The error message is:
[code]

It looks like the compiler thinks that somehow `<Range<usize> as Iterator>::Item` might be equal to `Foo`, even though `Foo` is a local type that the foreign impl or `Iterator` for `Range<usize>` cannot possibly refer to.

Furthermore, it looks like the compiler does not even try to evaluate `<Range<usize> as Iterator>::Item`

[2021-06-01 17:01] richkadel commented on #79121
Thanks for asking. This has been discussed, and I think it's a good idea. I don't have a timeline for working on this but I think there should at least be an issue to track it. I'll add one.

[2021-06-01 17:03] richkadel commented on #79121
@chadbrewbaker - Thanks for the comment. Can you create a separate issue on this, preferably with MCVE? Thank you!

[2021-06-01 17:27] mathstuf commented on #73589
Note that even `nightly` isn't sufficient anymore due to missing `aarch64` internal symbols (see sfackler/rust-openssl#1476).

[2021-06-01 17:36] matthiaskrgr commented on #85213
Confirmed, thanks! :)

[2021-06-01 17:36] #85213 closed

[2021-06-01 17:44] steffahn commented on #85863
Nevermind, the same thing doesn’t seem to be possible with trait objects.

[2021-06-01 17:45] richkadel opened #85902 "Add a cargo option to generate coverage reports using `-Z instrument-coverage`"
The Rust unstable book includes some examples of the workflow for generating LLVM coverage reports using [`-Z instrument-coverage`](https://doc.rust-lang.org/nightly/unstable-book/compiler-flags/instrument-coverage.html).

Given the flexibility of this feature, having these detailed examples is useful, but there should be an "easy button" for generating coverage reports for the more common use cas

[2021-06-01 17:49] richkadel commented on #85902
Added to the tracking issue (#79121) for `-Z instrument-coverage` stabilization.

[2021-06-01 17:49] joshtriplett commented on #85194
From the discussion in today's @rust-lang/lang meeting: would it be possible to make `Arguments::as_str` const, so that `panic!("some string")` works?

In any case, since right now `panic!("some string")` won't work in the 2021 edition:

@concern panic_const

[2021-06-01 17:49] steffahn commented on #85863
For the record the same thing _is indeed_ also [possible using trait objects](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=dc1941663205ab63b681e1f6bb186589).

[2021-06-01 17:53] Kannen commented on #85849
It looks like chalk accept it :)!
[code]

[2021-06-01 18:01] LingMan commented on #85855
Regression in nightly-2019-11-07
found 6 bors merge commits in the specified range
  commit[0] 2019-11-05UTC: Auto merge of 66121 - pietroalbini:rollup-8zrwe7l, r=pietroalbini
  commit[1] 2019-11-06UTC: Auto merge of 66141 - Centril:rollup-n2fcvp9, r=Centril
  commit[2] 2019-11-06UTC: Auto merge of 66143 - Centril:rollup-qmzuex0, r=Centril
  commit[3] 2019-11-06UTC: Auto merge of 65830 - Quantumpl

[2021-06-01 18:04] joshtriplett commented on #85194
From the discussion in today's @rust-lang/lang meeting: would it be possible to make `Arguments::as_str` const, so that `panic!("some string")` works?

In any case, since right now `panic!("some string")` won't work in the 2021 edition:

@rfcbot concern panic_const

[2021-06-01 18:10] m-ou-se commented on #85194
Note that `panic!(123)` on edition 2015/2018 with this feature enabled causes an internal compiler error currently:

<details><summary>Error</summary>

[code]
</details>

[2021-06-01 18:15] chadbrewbaker commented on #79121
@richkadel  According to https://clang.llvm.org/docs/SourceBasedCodeCoverage.html#id4 there is a  LLVM_PROFILE_FILE environment variable. I can't seem to figure out how to get it to write to a fixed directory.

[2021-06-01 18:18] richkadel commented on #79121
@chadbrewbaker - This Tracking Issue isn't the right forum for discussing issues like that.

[2021-06-01 18:19] m-ou-se commented on #85194
In the lang team meeting we talked about how `panic!("abc")` won't work in Rust 2021. A few more notes about that:

- In Rust 2021, `panic!(single_argument)` is not special cased, and just expands to something with `format_args!(single_argument)`. The `const_panic` feature only worked on the special case that no longer exists.

- One of the suggestions was to make `panic_any` work in const context

[2021-06-01 18:40] chadbrewbaker commented on #85902
cargo test -Ztimings is also problematic. It would be nice to shim in a prefix script like /usr/bin/time -v to get memory usage; I'm working on a Rust port of /usr/bin/time -v that emits JSON/CSV/PythonDict for easy parsing.

Debug symbols for production call stack profiling is another sore point.  https://pyroscope.io/ uses https://github.com/iovisor/bcc/blob/master/tools/profile.py under the hoo

[2021-06-01 18:46] RalfJung commented on #85194
Uh, I thought we had fixed that... we do emit an error first though, so this sounds a bit like https://github.com/rust-lang/rust/issues/79047.

Why won't this make `panic!(MSG)` work?

The type of `Arguments::as_str` seems to involve function pointers, so that could be a bit tricky -- we currently keep everything even remotely related to fn ptrs in `const fn` unstable to avoid closing down the des

[2021-06-01 18:47] chadbrewbaker commented on #79121
Sorry, didn't mean to spam the wrong forum. What is "MCVE", and where would you suggest I move discussion of fixing the profile writing location within the current nightly toolchain?

[2021-06-01 18:51] RalfJung commented on #85194
Yeah, https://github.com/rust-lang/rust/pull/80734 should have fixed exactly that ICE... and indeed the test cases there seem to work fine, [no ICE](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f3a338ceaf71e3511d5cc0ec09228dc8). @m-ou-se could you report an issue with a self-contained example triggering the ICE?

[2021-06-01 18:58] richkadel commented on #79121
If you believe there is a bug, please file a [new issue](https://github.com/rust-lang/rust/issues/new?assignees=&labels=C-bug&template=bug_report.md).

The template includes a section "I tried this code". MCVE is cryptic (but google-able) for "a small example of code and steps so someone else can quickly and easily reproduce the issue" (my words). I use the term because it's used by Rust (label [`

[2021-06-01 19:01] m-ou-se opened #85907 "ICE: const_panic panics in some cases"
[code]

Playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=31e3a36a34e378389943330936b81dbf

<details><summary>Output</summary>

[code]
</details>

cc @RalfJung

[2021-06-01 19:02] m-ou-se commented on #85194
Because `panic!(MSG)` work at all in Rust 2021, simply because that invokes `format_args!(MSG)`, which doesn't work.

https://github.com/rust-lang/rust/issues/85907

[2021-06-01 19:10] RalfJung commented on #85907
Ah, yes, array lengths... this is like https://github.com/rust-lang/rust/issues/79047

[2021-06-01 19:10] RalfJung commented on #85907
Cc @rust-lang/wg-const-eval

[2021-06-01 19:13] RalfJung commented on #85907
This ICEs on stable:
[code]
I thought we have an issue for this somewhere? Basically, array lengths (and patterns) side-step all prior checks, including stability checks, and try to evaluate this constant anyway.

[2021-06-01 19:17] RalfJung commented on #85194
Ah yeah I see.
I assume there's no good way to make `as_str` work on `format_args!("{}", "msg")`?

[2021-06-01 19:29] m-ou-se commented on #85194
That would be relatively simple to implement as a special case in the builtin macro. But making it work for `format_args!("{}", SOME_CONST_STR)` would be a bit harder. That could work by adding an extra case to `match` in the `as_str()` implementation I suppose. It'd have to compare the function pointer to check if it's a `&str` and not some other type though, which might open a small can of worms

[2021-06-01 19:43] andrewasd opened #85913 "Unecessary Warning message"
I tried this code:

[code]

where `function` is any function that returns a `boolean` , and it gives  the warning
*unused logical operator* , but actually works as expected, so i think this warning should not come up.

[2021-06-01 20:08] cjgillot opened #85914 "LocalDefId <-> HirId conversion functions may not be incremental safe"
The conversion between LocalDefId and HirId relies on mappings that are built during AST->HIR lowering. Those mappings are not tracked anywhere. As a consequence, a node could see its HirId change without notice: for instance a closure above which an extra statement is inserted.

The consequences of this untracked data access are not clear at the moment:
- are there queries whose result store an H

[2021-06-01 20:17] klensy commented on #85907
Hmm

[2021-06-01 20:27] workingjubilee opened #85915 "rustc struggles to recognize legal vectors-of-pointers"
rustc has trouble recognizing legal {tuples,arrays} of pointers for `#[repr(simd)]` to use.

### What Does Work
The following is an example of a vector-of-pointers type that works.
[code]
Note that the pointer-ness here is only determined during monomorphization.  This does not follow the same pattern as e.g. `*const T` being parameterized over `<T>`.

### What Does Not Work
Attempts to define thi

[2021-06-01 20:47] Sp00ph opened #85916 "ICE regarding Allocator API"
I got an ICE while doing `cargo t --features nightly` with this:

### Code snippets

`lib.rs`
[code]

`nightly.rs`
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

When running `cargo t --features nightly` with `RUST_BACKTRACE=1`, no backtrace appears. When running it with
`RUST_BACKTRACE=full`, I get the f

[2021-06-01 20:50] ririsoft commented on #85461
Even worth, I suspect you deleted your previous comment :yum:. In my mail box I got from github on your behalf, I have the message "This should be fixed. There was a brief window in the nightly builds (less than a week I think) where this was a known bug. It was resolved."), but I have no trace of it in the conversation, so I am even more lost with just above message. If you wish you can edit mess

[2021-06-01 20:54] H2CO3 commented on #56556
I just ran into this ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a98558317fc158413e9749fa176588f4)):

[code]
I get the following error on latest stable (1.52.1):
[code]
The workaround in my case was to pull out the associated type into a type parameter, and require that it be invariant w.r.t. the universally quantified lifetime parameter ([playground](http

[2021-06-01 21:05] kornelski commented on #84938
I've ran into this too. It'd be nice if setup could put ninja=false in config.toml automatically. Otherwise it's a funny situation where it requires config.toml in order to create the config.toml.

[2021-06-01 21:12] kornelski commented on #84938
The error message doesn't say in which section to put `ninja=false` in! Just `ninja=false` alone in the file causes a TOML parse error. I've tried putting it in a `[build]` section, but it didn't like it either.

[2021-06-01 21:47] jyn514 commented on #84938
@kornelski it goes in the llvm section

[2021-06-01 22:25] nagisa commented on #85883
This is (ability to use un-nameable types in public API) a conscious design choice, I believe. There are valid use-cases for structs, too. For instance when used as an argument in a trait method, it can [prevent implementors providing implementation](https://github.com/rust-lang/rust/blob/master/library/std/src/error.rs#L110-L122).

There's perhaps slightly less value in doing so for return types,

[2021-06-01 23:00] botika opened #85917 "proc_macro_hygiene not infer type"
I want to do something similar to this.

#### Proc macro
[code]

#### Main
[code]
But I get an error because it cannot infer the type `Type`. I think it should be able to infer this type? Any ideas?

Thanks!

[2021-06-01 23:00] calebcartwright commented on #85726
Another option would be to enable `error_on_unformatted` which will allow rustfmt to report instances where comments and lits exceed the max width, but not attempt to reformat them on your behalf.

Not sure what type of noise that may generate but could be worth investigating

[2021-06-01 23:02] Aaron1011 commented on #85917
@botika - it doesn't look like this is specific to proc-macros. Can you provide a self-contained example that I can run?

[2021-06-01 23:08] botika commented on #85917
Yes, it is reproduced in the `simple` example of `yarte`. Now I upload a branch `rust-lang-85917` with the clean case.
https://github.com/botika/yarte/blob/master/examples/simple/src/main.rs

I'll explain you, `yarte` use the `Buffer` trait for write, it has a constructor and I want to define the specific type by inference (`String`, `Vec<u8>`, `BytesMut`,..).

Thank you very much for the quick an

[2021-06-01 23:28] clarfonthey commented on #85532
From @scottmcm in the original PR:

[2021-06-01 23:31] bstrie commented on #57241
Is it ever a soundness issue if a `const fn` produces a different result at compile-time than it does at runtime?

[2021-06-01 23:31] Aaron1011 commented on #85917
Minimized:

[code]

The above code produces the following error:

[code]

rustc will not infer the type of `tmp` to be `String` in this case.

I think part of the confusion stems from the fact that Rust cannot currently produce error messages that point inside a call to `quote! { }` (in this case, to [`__buf.len()`](https://github.com/botika/yarte/blob/d53bb8a06af7218b8ae9e2bd772ee6d5488dcbfb/yart

[2021-06-01 23:37] DusterTheFirst commented on #57241
A function that is not guaranteed to produce the same result depending on if the compiler decided to evaluate it at compile time or not seems like it would fall precisely into "undefined behavior".

[2021-06-01 23:47] jhpratt commented on #57241
I'm on mobile, but it's an open question whether `const fn` has to have the same behavior at compile time and runtime.

[2021-06-01 23:58] botika commented on #85917
Ok, I'll keep investigating and specify it as `String` for now. Thank you. I close.

[2021-06-01 23:58] #85917 closed

[2021-06-02 00:00] DusterTheFirst commented on #57241
Why would it be ok for them to have different behavior?

[2021-06-02 00:16] jhpratt commented on #57241
Not going to get into the discussion here; that's #77745. Just felt necessary to point out that there is not currently an answer to the original question.

[2021-06-02 00:49] elidupree opened #85921 "Can't pass GAT as FnOnce argument (interaction between GATs and HRTBs?)"
This code [[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=75d9ea7609fb9944e7a767749402ad7a)]

[code]

produces these errors:
[code]

in 1.54.0-nightly (2021-05-27 1c6868aa21981b37cbd3)

Note that you get one of these errors even if you [allow Rust to infer the type by producing a value from thin air](https://play.rust-lang.org/?version=nightly&mode=debug&edit

[2021-06-02 01:20] nhooey commented on #46871
What was the resolution for this?

If it was resolved, what version of Rust contains the fix and how do we use it in our projects?

Is there a convenient workaround that works before the fix?

Forgive my questions, I'm really new to Rust and just trying to get it working.

[2021-06-02 01:30] jsha opened #85923 "rustdoc: make trait methods findable with Ctrl-F"
When looking at a struct or enum page, it's common to look for a method with Ctrl-F. This works if the method is part of an inherent implementation (that is, a method on the struct or enum itself). But if the method is part of a trait implementation, Ctrl-F won't find it because trait implementations are toggled closed by default.

I'm not sure of a great way to do this. Some ideas:

 - Listen for

[2021-06-02 01:48] #45009 closed

[2021-06-02 01:52] est31 commented on #85248
Sounds like a dupe of #85386, which itself was closed in favour of #56935.

[2021-06-02 01:52] est31 commented on #84026
Sounds like a dupe of #85386, which itself was closed in favour of #56935.

[2021-06-02 02:13] jyn514 commented on #85923
This is my preference, people are often confused where to find functionality when it's hidden behind a trait.

[2021-06-02 02:27] scottmcm commented on #46871
The resolution of this is that it's expected that mixing them does not compile.  `NoneError` has been deleted.

As such, the fix is to call [`ok_or_else`](https://doc.rust-lang.org/std/option/enum.Option.html#method.ok_or_else) or `ok_or` to provide a value implementing `Error` that includes the information about what went wrong, or to change the context to return `Option` instead of `Result`.

[2021-06-02 03:17] clarfonthey commented on #71015
(I claimed it since there was no new PR after a year, also repurposing this as a tracking issue)

[2021-06-02 05:31] jsha commented on #85923
It looks like this is the PR that added toggles for trait implementations, with links to some of the issues it was trying to solve: https://github.com/rust-lang/rust/pull/47894. The PR has some discussion about hiding by default. It also links to some issues, like https://github.com/rust-lang/rust/issues/40363.

[2021-06-02 06:13] jsha commented on #85418
Relatedly, there is sometimes a section for "Implementations on Foreign Types" (e.g. https://doc.rust-lang.org/nightly/std/cmp/trait.Eq.html#foreign-impls). It's not clear to me what causes an impl to wind up in "Implementations on Foreign Types" vs appended to the Implementors section by way of JS. Maybe it makes sense for the JS-provided impls to wind up under that section?

Also we should proba

[2021-06-02 06:18] jyn514 commented on #85418
"foreign types" is common in the compiler, but maybe not in the documentation. It means types from another crate; I see it used a lot in explanations of the orphan rules.

Yes, I agree putting everything in "Foreign Types" instead of JS is a better approach. I don't know enough about the code to help, sorry.

[2021-06-02 06:40] conradludgate commented on #85883
Once again, it's a feature for traits. But I see absolutely no use for a returned struct to be un-nameable.

I think if you want to have that power, you can create a trait (with a similar technique to seal it), implement the trait for your private struct, then return `impl Trait`

[2021-06-02 07:28] omerbenamram opened #85928 "Std::time::Instant should not be Send?"
Hi,

I'd like to preface that we're not entirely sure this is a "bug" - but rather a surprising behavior of rust.
We've been experiencing some panics in production with code that kept some `std::time::Instant` in a struct and updated it across threads (using `Arc<RwLock>>`).

minimal reproducible code:

[code]

Will panic almost immediately (on linux):
[code]

The fix we've applied was using `satu

[2021-06-02 07:31] RalfJung commented on #76495
Last time I tried blessing clippy tests, that did not work, so I ended up manually adjusting stderr files. Maybe that's because I didn't try stage 2. Note that `./x.py test --bless` (which is listed as 'working' in the list above) nowadays runs stage 1, so the OP text likely needs adjustments.

@rust-lang/clippy this issue has remained open for more than half a year. The clippy-subtree-merger put

[2021-06-02 07:37] jyn514 commented on #76495
What was the error? That should work, if not it's a bug.

[2021-06-02 07:47] RalfJung commented on #76495
I think `./x.py test --bless src/tools/clippy` is what I tried and got tons of strange linking errors. I figured this was expected so I didn't report a bug, sorry.

[2021-06-02 07:48] RalfJung commented on #76495
Ah, turns out [what I actually tried](https://github.com/rust-lang/rust/pull/85109#issuecomment-837458548) is `./x.py test src/tools/clippy --bless --stage 0`, since I did not want to wait for *two* full rustc builds. (Stage 1 clippy uses the stage 1 rustc libs, so those have to be built first.)

[2021-06-02 07:55] flip1995 commented on #76495
This is already done, if something in the `src/tools/clippy` is touched by the PR. IIRC the decision was made that running it on every PR is not necessary, since most PRs won't cause problems with it.

That would be great. Unfortunately most Clippy folks don't really know how the bootstrapping works exactly and therefore fixing this would be really hard for us to do.

Changes to rustc should not c

[2021-06-02 07:58] jyn514 commented on #76495
The error that @ralfj linked is not a bootstrapping issue. Clippy's fork of compile test needs to be fixed not to reuse the same target directory for tests as for building clippy itself.

[2021-06-02 08:02] RalfJung commented on #76495
Actually that works, since stage 1 is what `x.py test` uses by default -- right?
Stage 0 doesn't work. That might be https://github.com/rust-lang/rust/issues/78778, or it might be a separate problem.

[2021-06-02 08:05] RalfJung commented on #76495
Clippy uses the same fork that Miri uses, and Miri doesn't have this particular problem I think. However, it looks like clippy actually [supports](https://github.com/rust-lang/rust-clippy/blob/cf5f894536e56c580265b066f26719146a08bb98/tests/compile-test.rs#L35) ui tests that depend on 3rd-party crates, so that logic might be wrong -- Miri doesn't have anything like this.

[2021-06-02 08:07] RalfJung commented on #78778
It is also worth noting that this is a regression -- testing Miri on stage 0 used to work just fine some time in summer/fall last year. I have no idea which rustbuild change broke things, though.

[2021-06-02 08:10] omerbenamram commented on #85928
Update: This was a race condition in `Instant::now() - *shared_key.read().unwrap()`. Closing this :)

[2021-06-02 08:10] #85928 closed

[2021-06-02 08:21] RalfJung commented on #57241
No, it might just be non-determinism. We have that all the time.

Also, you are mixing up "constant propagation" and "compile-time function evaluation". This issue is about the latter. The compiler never *decides* to evaluate a function at compile time, it is explicitly told so by the programmer via keywords like `const`.

[2021-06-02 08:55] ccgauche commented on #85845
I'm going to try to fix that as my first contribution!

[2021-06-02 09:02] flip1995 commented on #76495
Yes using external crates in compiletest causes some problems also in Clippy. So this is most likely the reason, why it also causes problems in the Rust repo.

[2021-06-02 09:14] apiraino commented on #85840
great work @abbec for creating a reproducible example.

pinging ICE breakers to try to identify where this started (need to be triaged with both LLVM installed), so also adding LLVM label

@rustbot ping icebreakers-cleanup-crew
@rustbot label A-llvm

[2021-06-02 09:23] apiraino commented on #85330
@Nateckert I'm happy that you solved, so I'll tentatively close this issue. But don't hesitate to reopen this one (or a new one) if you encounter again this problem

@rustbot label -I-prioritize -E-needs-mcve -regression-untriaged

[2021-06-02 09:23] #85330 closed

[2021-06-02 09:53] apiraino commented on #85863
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2385863.20iter.3A.3AFuse.20is.20unsound.20with.20how.20specialization.20curren.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2021-06-02 10:04] apiraino commented on #85873
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2385873.20TrustedRandomAccess.20optimization.20for.20Zip.20containing.20.E2.80.A6) of the Prioritization Working Group, issue will be discussed during T-compiler meeting

[2021-06-02 10:37] apiraino commented on #85736
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2385736.20Regression.3A.20undefined.20symbol.20.60__atomic_load_4.60.20on.20ri.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium +I-nominate

[2021-06-02 10:39] jyn514 commented on #78778
@RalfJung there is not really a rustbuild team - there's me and Mark-Simulacrum, and ehuss has a fair bit of knowledge I think. I'm on break for a while and Simulacrum is always busy.

[2021-06-02 10:50] RalfJung commented on #78778
I mean, I guess that makes you two (or three) the rustbuild team. At least this is exactly how I became part of the Miri and const-eval teams. ;)

[2021-06-02 10:52] RalfJung commented on #78778
Regarding the problem at hand, I could probably try patching `add_rustc_lib_path` so that it sets up `dylib_path_var` to include `ci-llvm/lib` (hopefully I can check to only do this when we are actually using CI LLVM). But would that make any sense?

[2021-06-02 12:54] bugadani commented on #71015
Just want to throw in some food for thought as I think it's loosely related:

In p5js, there is the [`map`](https://p5js.org/reference/#/p5/map) function that can interpolate a value from an input range to an output range. This is more general than @clarfonthey's proposed `lerp` as it doesn't assume a constant input range, but the downside is a lot more parameters.

I think if we were to introduce

[2021-06-02 13:05] uweigand opened #85931 "Missing support for asm! on s390x"
The new asm! feature implemented in https://github.com/rust-lang/rust/pull/69171 is currently not supported on the s390x target.  It looks like we need an implementation of the platform-specific registers and register classes in compiler/rustc_target/src/asm/s390x.rs

[2021-06-02 13:26] asquared31415 commented on #85913
The expression `a && return val` produces a value, though you will never observe it to be true, because if it is, it will return early.  The logical operators are all set up so that it warns if they are not used because in most cases the programmer means to use the value for something.  You are not actually using the returned value, since you never read it or assign it to any variable.  An explici

[2021-06-02 13:40] andrewasd commented on #85913
@asquared31415  thank you

[2021-06-02 13:49] m-ou-se opened #85932 "Suggestions are often invalid for proc-macro produced code"
The tokens generated by proc_macro (e.g. from `quote!()`) use `Span::call_site()`, which makes some suggestions produce invalid output:

[code]

It's a bit tricky, because this call_site span does point into the current crate (to `#[hello]`), so this situaiton isn't detected in the same way as external `macro_rules`.

[2021-06-02 13:49] m-ou-se commented on #85932
Looks like `rustc_middle::lint::in_external_macro` should be used in more places. That one detects this `call_site` span by checking if `def_site` is a dummy or imported.

[2021-06-02 13:52] m-ou-se commented on #85932
I'm working on a fix specifically for these typeck/borrowing suggestions. Not sure how many other suggestions have the same problem.

[2021-06-02 14:32] vakaras commented on #85697
Sorry, for the late response, I was travelling.

Reopening the issue since it seems the discussion is not over yet. By the way, if you think that this discussion (or part of it) should be moved somewhere else, please let me know.

As far as I know, this code is correct and still used in many places. I personally do not like this `as_mut_ptr` + `mem::forget` pattern because `as_mut_ptr` takes `&mut

[2021-06-02 14:39] Boddlnagg commented on #85883
Trying to use some unstable features to come up with a way to name the "private" type I ended up with an ICE:

[code]

[2021-06-02 14:41] johnkjellberg commented on #81899
I'm not sure if this is identical problem or not. The error message is:
[code]

and my code is:

[code]

I need both parts or the COPY tuple for the error to trigger and I'm unsure why. And also, if I put `&(BASE.copy()` in its own  const the bug is not triggered.

[2021-06-02 14:55] m-ou-se opened #85933 ""consider removing the borrow" suggests to only remove `&` and not `mut`"
In the following snippet, rustc suggests to remove just the `&` instead of removing the `&mut`, resulting in an invalid suggestion: `mut format!("")`.

[code]
[code]

[2021-06-02 14:57] m-ou-se commented on #85933
The issue lies in the `strip_prefix('&')` here: https://github.com/rust-lang/rust/blob/1e13a9bb33debb931d603278b7f1a706b0d11660/compiler/rustc_typeck/src/check/demand.rs#L579-L584

Not sure how to easily fix it though, because `&` and `mut` are separate tokens (and unlike `&` is usually followed by whitespace), so `strip_prefix("&mut")` won't do.

[2021-06-02 15:17] SimonSapin commented on #85697
Please ignore that part. I used it because when `std::alloc` didn’t exist neither did `ManuallyDrop` or `into_raw_parts`, but it’s not the point of that example.

When writing a custom container library, in some ways `Box<[MaybeUninit<T>]>` is equivalent to `ptr: *mut T, capacity: usize` but encodes more invariants in the type system, leaving fewer responsibilities to `unsafe` code which seems lik

[2021-06-02 15:22] ehuss opened #85936 "Confused by diverging type of block tail expression"
I am confused by the following, and I wanted to see if it is a bug or not.  The following successfully compiles:

[code]

The following without the semicolon does not:

[code]

I expected to see this happen:

My understanding is that the type of a block expression without a final expression is `()`, so I would expect these to both be the same — probably both should error, since I would expect both

[2021-06-02 15:27] aticu commented on #85883
I do agree that this sort of situation is something that should be prevented from happening accidentally.
A clippy lint for that sort of thing is probably a good place to start.
However since there do seem to be valid use cases for a similar situation, I don't think that it can be considered a bug.

This ICE is unrelated to the issue at hand. I've tried to reduce it and managed to come up with thi

[2021-06-02 15:29] aticu commented on #85113
I'm not sure, if it's the same cause, but this ICE seems related (found in #85883 by @Boddlnagg), so I'll post it here instead of in a new issue:

[code]

[code]

[2021-06-02 15:48] jsha commented on #85418
Unfortunately, this isn't an alternative to loading the implementations from JS, it's just an informational-organization thing.

For a trait in crate `foo`, there are two types of implementations on foreign types (I figured this out since my last post):

 - implementations inside crate `foo` (usually in the same file as the trait is defined). These are currently rendered into "Implementations on F

[2021-06-02 16:17] tschuett opened #85938 "LLVM ld64.lld"
I tried to use the new MachO linker from LLVM:

[code]

First issue, rust appends -Wl, which makes the linker unhappy. Dead stripping is supported since today (https://reviews.llvm.org/D103324).

Second issue the linker requires a platform version:
https://github.com/llvm/llvm-project/blob/06e047227d71b2c1c477e280172abed0f1eed2c8/lld/MachO/Driver.cpp#L598

platform_version was introduced into clan

[2021-06-02 16:27] Smittyvb commented on #85871
Note that there is currently a test, `src/test/ui/consts/issue-68542-closure-in-array-len.rs` , that has the same issue and fails when run under the THIR checker.

[2021-06-02 16:48] benkay86 commented on #77125
I'm not sure I totally understand the steps needed to re-stabilize `const fn TypeId::of()`.

Does this affect the soundness of `const fn TypeId::of()`?  If we are really worried about collisions, then shouldn't the entirety of `TypeId` be unstable, and not just the `const` version?  Or are we worried that a future collision-resistant implementation of `TypeId` may not satisfy `const`, i.e. we want

[2021-06-02 17:04] tschuett commented on #85938
The full error message:
[code]

[2021-06-02 17:09] jyn514 commented on #85418
I don't think those are the same case. "Implementation on Foreign Types" is an implementation by the trait author on types from other crates". "Implementations" is an implementation on a new *downstream* crate in the same crate that the type is defined. "Foreign" here is foreign from the perspective of the impl, not the trait - it matters for coherence.

[2021-06-02 17:19] jyn514 commented on #78778
@RalfJung sure, that seems reasonable.

[2021-06-02 17:37] jsha commented on #85418
Right, they're not the same case from the trait author's perspective (or the struct/enum author's perspective). But from the perspective of a user reading the docs for trait Foo, is it different? As a concrete example, say trait `colors::Green` has a foreign implementation on `fruits::Apple`, and also `vegetables::Celery` has a local implementation of Green. If I'm on `Green`'s page, looking for t

[2021-06-02 18:06] jsha commented on #85418
That said, the problem of sorting would actually be much _easier_ to solve by further subdividing things, so we'd have:

Implementations in this Crate on Types in this Crate
Implementations in this Crate on Types in Other Crates
Implementations in Other Crates

Then each section could be sorted individually. The "Implementations in Other Crates" section would come purely from JS (/JSON) and could

[2021-06-02 18:51] tschuett commented on #85938
The -m64 issue is:
https://github.com/llvm/llvm-project/blob/70804f2a2f7b87227a873cd6d8852ad295068e79/lld/MachO/Options.td#L1040

[2021-06-02 18:53] tschuett commented on #85938
I couldn't find -nodefaultlibs neither in the ld man page nor in Options.td file. It seems to be a GNU thing.

[2021-06-02 19:04] vakaras commented on #85697
Thanks! This is very useful to know.

[2021-06-02 20:03] guswynn opened #85942 "method `xxx` is not a member of trait `XXX` doesn't check spelling"
Today I hit this issue: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=fdce0c73a1c1190a8bd4a82c5cc24b52

but I couldn't for the life of me see the difference in the methods.

In some places, rust suggests differences that are short Levenshtein distance from each other, can that be done here as well?

[2021-06-02 21:32] mibac138 commented on #85713
@rustbot claim

[2021-06-02 21:33] Aaron1011 commented on #85502
The latest nightly contains a fix for another bug that affects `native_libraries`. @kostko Could you upgrade your Rust nightly again?

[2021-06-02 21:53] anp commented on #58590
Sorry for the delay here! Looks like #82973 merged with a stub impl of ExitStatusError for Fuchsia. I think that's fine, and we can clean it up when we land the `cfg(unix)` removal.

[2021-06-02 22:01] RalfJung commented on #85697
FWIW, the recommended way to do that is to use `ManuallyDrop` instead of `mem::forget` (and the `mem::forget` docs say as much).

I see nothing wrong with that. The same happens, for example, when `unsafe` code depends on some entirely safe data structure and relies on its functional correctness. That is totally legitimate.

[2021-06-02 22:05] tlyu opened #85943 "when suggesting `?Sized`, don't suggest indirection in where clauses"
Given the following code: [(playground)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=dbe9b082e6a0b69cbe341fadd2ea76e7)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

The visitor that collects bare type parameters should skip where clauses. I can work on this in an in-progress pull request where I'm making other improvements to uns

[2021-06-02 22:07] tlyu commented on #85378
I'm working on a pull request for this issue.

@rustbot claim

[2021-06-02 22:47] gz opened #85944 "global_asm expands arguments in comments"
I tried this code:

[code]

I expected to see this happen: Compiles without error (on nightly)

Instead, this happened (not sure if this is intended behavior or a bug):

[code]

[2021-06-02 22:53] tlyu opened #85945 "before suggesting `?Sized`, check where clause for explicit `Sized`"
Given the following code: [(playground)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a2040e4be0eef7e5a7595c03610a6ac0)

[code]

The current output is:

[code]

Ideally, the diagnostic shouldn't suggest relaxing an explicit `Sized` bound in the where clause. (There is already code that skips the `?Sized` suggestion for type parameters that have an explicit `Sized` bound.

[2021-06-02 23:05] rust-highfive opened #85946 "`miri` no longer builds after rust-lang/rust#85904"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#85904, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @cjgillot, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-06-02 23:11] klensy commented on #85944
Until raw string closed, all content interpreted as string, so that not a comments inside, but raw string.

[2021-06-02 23:22] gz commented on #85944
Well, I ran into this because my global_asm!{} typically includes a .S file (with `include_str!("file.S")`), now that `.S` file had comments with a `${num}` in it. This used to be fine with nightly-2021-03-25 or earlier but no longer after I upgraded to nightly-2021-06-01 -- so the behavior changed somewhere between these versions.

[2021-06-02 23:26] klensy commented on #85944
Perhaps #84107, try may-11 nightly.

[2021-06-02 23:31] gz commented on #85944
May 11th nightly works (does not produce the error)
[code]

[2021-06-02 23:39] klensy commented on #85944
That pr get merged `May 14, 2021, 1:17 AM GMT+3`, so you can try closest nightly.

2021-05-11, not 2020 )

[2021-06-02 23:46] gz commented on #85944
Ups -- sorry about that, I guess I'm still stuck in 2020!

works:
[code]

does not work:
[code]

[2021-06-02 23:52] klensy commented on #85944
$ git log 6d395a1c2..1025db84a --author=bors --oneline
1025db84a68 Auto merge of #85211 - Aaron1011:metadata-invalid-span, r=michaelwoerister
75da570d784 Auto merge of #83640 - bjorn3:shared_metadata_reader, r=nagisa
36a4d14c7ed Auto merge of #85236 - nikic:update-llvm-submodule, r=cuviper
69b352ef774 Auto merge of #85233 - FabianWolff:issue-85227, r=petrochenkov
91f2e2d2182 Auto merge of #85190 -

[2021-06-03 00:58] Aaron1011 commented on #85360
See https://github.com/rust-lang/rust/pull/85868 and https://rust-lang.zulipchat.com/#narrow/stream/144729-wg-traits/topic/projection.20cache.20and.20subobligations.20.2377325/near/241147624 for discussion about a fix.

[2021-06-03 01:07] cr1901 opened #85948 "Linking MSP430 Code fails with `unrecognized option '-znoexecstack'`"
## `cargo-bisect-rustc` Output

searched nightlies: from nightly-2021-04-19 to nightly-2021-06-01
regressed nightly: nightly-2021-05-23
searched commits: from https://github.com/rust-lang/rust/commit/5dc8789e300930751a78996da0fa906be5a344a2 to https://github.com/rust-lang/rust/commit/e4ca1662f255db774dcd16ed9c3776bf25ac8361
regressed commit: https://github.com/rust-lang/rust/commit/21e1cd9b95854be

[2021-06-03 02:40] kpreid commented on #44345
I'm finding that `assert_eq!` can fail type inference “at a distance” without any traits or dependencies involved. Is this the same bug? I'd love to see something done about this because it creates error message clutter when I'm trying to locate real errors to fix. Repro code (stable 1.52.1):

[code]

[code]

If the error in `troublesome` is fixed, then the error in `innocent_bystander` also vanis

[2021-06-03 03:29] workingjubilee opened #85950 "slice docs could use example functions, clear header"
The API docs for the [slice type] describes what `[T]` is and explains the meaning of `&[T]` and `&mut [T]`, but this can still be vague for Rust programmers. A programmer with even a modest interest in using Rust for what it's been strongly advertised for, systems programming, is very likely to encounter the need to slice bytes between days 0 to 7, when they have not yet adjusted to Rust syntax a

[2021-06-03 05:49] bookofportals commented on #80804
I have a draft for this; I'm getting some comments on Zulip before I open a PR.

@rustbot claim

[2021-06-03 06:49] Amanieu commented on #85944
#84107 changed `global_asm!` to accept arguments just like `asm!`. However this means that the string is now parsed the same way as a format string, which means `{}`, `{1}` and `{name}` are treated as placeholders for asm arguments.

The current workaround is to escape `{` and `}` using `{{` and `}}` just like with format strings. One possibility would be to add `options(raw)` which would force tr

[2021-06-03 06:59] Amanieu commented on #85183
Closing as a duplicate of #85247

[2021-06-03 06:59] #85183 closed

[2021-06-03 07:22] gz commented on #85944
Thanks the explanation. This isn't a problem for me in practice and looks like it's intentional after all, feel free to close this.

[2021-06-03 07:25] kobehz commented on #79556
I have  the same problem for target  aarch64-unknown-linux-musl.
What time do you expect to enable the the profiler feature for these targets?
Or what can I do myself to solve the problem?

[2021-06-03 07:37] hellow554 commented on #85942
It's done for structs and their fields/methods, but not for traits, e.g.:

[code]

[code]

If you would implement this for traits, there's a good chance that you might get a lof of false positives, but I can see your point, so I think this should be implemented! :)

[2021-06-03 07:41] hellow554 commented on #85916
The code doesn't ICE for me. Can you provide a repository which will lead to the error you described with all the necessary files, e.g. I just want to do a `git clone ...` and then use `cargo test --features nightly` and see that ICE. Can you do it for us? :)

[2021-06-03 07:52] XAMPPRocky opened #85955 "ICE: "cannot lex `source_file` without source" with integration test"
If you attempt to `include!` a file in both the library and an external integration test that links to the library (this is important because if there is no `extern crate` or `use` statements, the ICE does not happen), it causes an ICE in the latest nightly. This ICE is not present in stable or beta.

<details>
<summary>build.rs</summary>

[code]
</details>

<details>
<summary>src/lib.rs</summary>

[2021-06-03 08:43] tschuett commented on #85938
`GccLinker`needs to distinguish between LLVM and Apple ld. It needs the Apple deployment target.

[2021-06-03 08:57] Amanieu commented on #85264
All of the new failures that weren't in the previous report seem to come from https://github.com/ejmahler/RustFFT/issues/74, which is already fixed.

[2021-06-03 09:23] apiraino commented on #85948
Thanks @cr1901 for the great write and context.
cc: @luqmana since author of the PR: any insights to share on this?

Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2385948.20Linking.20MSP430.20Code.20fails.20with.20.60unrecognized.20option.20.E2.80.A6) of the Prioritization Working Group.

@

[2021-06-03 09:58] tschuett commented on #85938
ld64.lld is missing here:
https://github.com/rust-lang/rust/blob/016e9b5e33ef1407bffb575ec63d24241912556d/compiler/rustc_codegen_ssa/src/back/link.rs#L957

[2021-06-03 10:18] digama0 opened #85960 "rustdoc intra-doc links cannot disambiguate inherent methods on generic types"
[code]

In this example, there are two implementations of `My::foo` for specific instantiations of the parameter. These both show up in the page for `struct My`, which is fine, I guess, and the links to the two methods are respectively `struct.My.html#method.foo` and `struct.My.html#method.foo-1`, so the URL scheme has difficulty with differentiating them. But I don't think intra-doc links have an

[2021-06-03 10:43] #85561 closed

[2021-06-03 10:43] #85768 closed

[2021-06-03 10:51] Licenser opened #85962 "AtomicUsize `fetch_add` hangs indefinetly on aarch64 (ThunderX)"
I tried this code:

[code]

I expected to see this happen: The program to end

Instead, this happened: The program hung forever with a core at 100% load

### Meta

`rustc --version --verbose`:
[code]

and

[code]

This is running in a Cavium ThunderX ARM cpu:

[code]

<details><summary>Backtrace</summary>

Since the program hangs indefinitely no crash backtrace exists, but running it in `rust-lldb

[2021-06-03 10:52] lqd commented on #85264
And it seems it's only 2 new crates that depend on this version of `rustfft`. So while post-monomorphization errors are tough errors to trigger and find consistently, the results are at least encouraging.

It can also be noted that the rough "evaluation of constant failed" error in the OP, has since improved on nightly, to somewhat acceptable levels.
<details>
<summary>Here's how it looks now</sum

[2021-06-03 11:20] jplatte commented on #57619
Duplicate of #42909?

[2021-06-03 11:41] vakaras commented on #85697
Not so long time ago, I looked into a random sample of `as_mut_ptr` uses (from Rust Corpus) and found that at least in that sample `mem::forget` was more common than `ManuallyDrop`. So, it seems that there is still some code to migrate.

A fair point.

[2021-06-03 11:57] pedrocr commented on #53340
As an update it seems the latest rust versions have gotten this down to a ~4% penalty only:

[code]

[2021-06-03 13:10] #85946 closed

[2021-06-03 13:21] Hoverbear commented on #85962
This works quite fine on my [Honeycomb](https://shop.solid-run.com/product/SRLX216S00D00GE064H08CH/) which is a Cortex A72.

[code]

[2021-06-03 14:14] steffahn commented on #85863
Added a new high-level description for both this issue and #85873 at the beginning of this issue.

[2021-06-03 14:20] pnkfelix commented on #84455
(discussed in T-compiler meeting. This is an issue on stable, and *might* get a backport via #84549. Re-opening to investigate details of what worked, what stopped working, what is fixed, and what is still broken.)

[2021-06-03 14:47] steffahn commented on #85863
Another possible fix for `Fuse` I just thought of, but that one would require new language features, would be to make `Fuse<T>` only use its optimized implementation if `T` _and all its subtypes_ implement `FusedIterator`. Some way of writing a bound `for<U: T> U: FusedIterator` would be needed.

Applying the same idea to `Zip` (i.e. #85873) could work, but I think this would need a `TrustedRandom

[2021-06-03 14:49] steffahn commented on #85873
https://github.com/rust-lang/rust/issues/85863#issuecomment-853927262

[2021-06-03 14:50] Sp00ph commented on #85916
Sure, [here](https://github.com/Sp00ph/init_array) you go

[2021-06-03 14:53] the8472 commented on #85873
Would removing the specialization from Zip be a solution or is its existence on IntoIter itself also an issue? There has been some discussion around introducing a new `zip_exact` that's less fragile to specialize compared to the current Zip.

[2021-06-03 14:58] jyn514 commented on #85960
There are about 4 different problems reported in that issue, I don't plan to reopen it. The problem described in the original issue description is fixed.

[2021-06-03 15:00] digama0 commented on #85960
Sorry, I wasn't intending to re-litigate anything going on in that issue, only to indicate that just because the issue is closed doesn't mean that everything it talks about is no longer applicable. In any case this issue is related but different.

[2021-06-03 15:01] jyn514 commented on #85960
If you find something in that issue that hasn't yet been fixed and doesn't have an open issue, please open a new issue for it.

[2021-06-03 15:01] nikomatsakis commented on #80658
@nellshamrell sounds good-- let me know if I can help

[2021-06-03 15:04] nikomatsakis commented on #85863
@rustbot label +T-lang

I think this is at least worth putting on the lang-team radar.

[2021-06-03 15:07] Sp00ph commented on #85916
Ok so I noticed a couple things:
* There were some pretty obvious bugs in the code, nothing that should've caused an ICE though (In fact the buggy functions passed their tests).
* Somehow the ICE went away when using `Box::into_raw_with_allocator` instead of just `Box::into_raw`:
[code]
[code]
Of course this is only pseudo code, but if I'm not mistaken, the first version should work too.

[2021-06-03 15:09] apiraino commented on #85955
@XAMPPRocky I've tried reproducing on linux:
[code]
where `XX` and `YY` are recent nightlies (`625d5a693 2021-06-01` included), but on my machine it never fails. Can you help me reproduce the ICE? Maybe I'm missing some compilation flags?

[2021-06-03 15:14] XAMPPRocky commented on #85955
@apiraino D'oh, I forgot to include the command. You need to run `cargo test`.

[2021-06-03 15:21] steffahn commented on #85873
AFAIK (correct me if I’m wrong), `TrustedRandomAccess` is currently exclusively used for specializing `Zip`. So the problem will trivially be solved by removing its only use case.

[2021-06-03 15:24] guswynn commented on #85942
@hellow554 for calling trait methods I agree, we should be careful about false-positives, but this issue is more specifically about impl-blocks for traits, where we know the exact list of required methods to implement to compare to

[2021-06-03 15:29] the8472 commented on #85873
It's at least used here

https://github.com/rust-lang/rust/blob/835150e70288535bc57bb624792229b9dc94991d/library/alloc/src/vec/source_iter_marker.rs#L123-L144

and I also intend to use it in other places e.g. #83770 although that particular one had to be reverted since performance initially looked good but turned out mixed later.

[2021-06-03 15:34] steffahn commented on #85873
oh… right, I _might_ have only grepped for `: TrustedRandomAccess` 😅

[2021-06-03 15:38] uazu commented on #39016
For anyone else coming here with MSVCRTD issues, I found that setting CFLAGS and CXXFLAGS in the CMD environment to `-MDd` before doing `cargo build` solved our problem, and the modification to libc in [the 1433 patch](https://github.com/rust-lang/libc/pull/1433) was not necessary.

Here's the full scenario: We are building a Rust library using `cxx` crate to aid with interfacing to C++. The Rust

[2021-06-03 15:42] briansmith commented on #79556
I think there's not much stopping us from making a PR to rust-lang/rust that copies https://github.com/rust-lang/rust/pull/76035/files for the other musl targets.

[2021-06-03 15:47] estebank commented on #85378
@tlyu Oh! Very sorry, if you spent too much time on this already, but I have done some work around this already in https://github.com/rust-lang/rust/pull/85947. If you want, you can take over it and bring it to completion, there are some cases, like https://github.com/rust-lang/rust/pull/85799#discussion_r642008001 that still need to be addressed and I haven't yet figured out. Alternatively, if yo

[2021-06-03 15:54] jsha commented on #84824
I definitely see the utility of this, but I wonder if it might not be better solved by the documentation itself. For instance, right now [the documentation for `handshake`](https://docs.rs/hyper/0.14.8/hyper/client/conn/struct.Builder.html#method.handshake) says:

Instead it could say:

The advantage of this approach is that it can work across crate boundaries, even when the crates are not built t

[2021-06-03 15:54] Aaron1011 commented on #85921
I suspect that this will be fixed by https://github.com/rust-lang/rust/pull/85499

[2021-06-03 15:56] jsha commented on #84639
Fixed!

[2021-06-03 15:56] #84639 closed

[2021-06-03 15:57] steffahn commented on #85873
Great. So this second use case ignores the documentation of `TrustedRandomAccess` by calling `as_inner` on the iterator after a call to `__iterator_get_unchecked`, even though `SourceIter::as_inner` is not in the list of allowed methods. I guess the documentation of `TrustedRandomAccess` would have to be updated to account for this?

[2021-06-03 15:59] jsha commented on #33782
Bumping an old issue. I don't know what rustdoc looked like when this issue was filed, but the current situation is that the `<pre>` tag at the top of the page still keeps the source code order, _but_ the sidebar listing of methods is in lexical order. I suspect that solves the use case of looking for a specific function by name?

[2021-06-03 16:02] steffahn commented on #85873
And while we’re at it, `next_back()` on `Take` calls `DoubleEndedIterator::nth_back` and `ExactSizeIterator::len`. Neither of these is allowed according to `TrustedRandomAccess` docs.

[2021-06-03 16:06] jsha commented on #31060
FYI, in #84462 we recently did this. After searching, you can use the down arrow to focus the results area, and then you can use left/right to focus different result tabs.

[2021-06-03 16:10] jsha commented on #24062
Search results now show `str (primitive)`, and color code different types of results: in the light theme, blue for modules, purple for structs, and orange for fns (not all colors listed here). @mhristache does this solve the issue for you?

![image](https://user-images.githubusercontent.com/220205/120676993-76d20a00-c44b-11eb-908d-6b327f0a753d.png)

[2021-06-03 16:13] apiraino commented on #85955
ok I think nailed it to megacommit e1ff91f439bc09f566da211c6449821b4e949279 from PR #83813
[code]
</details>
[code]

[2021-06-03 16:20] steffahn commented on #85873
Ah, I see you’re personally involved whith the (`: Copy`-bound) `…:IntoIter: TrustedRandomAccess` implementations, the `Take` implementation and the `collect_in_place` use-case, so I’ve got the right person to talk to ^^

@the8472

The `collect_in_place` use case doesn’t have any problem (besides the fact that `as_inner` is called, for which I haven’t checked yet if it can be added to the list of

[2021-06-03 16:23] estebank commented on #85932
@m-ou-se this is a prevalent problem. We need to add metadata to spans to distinguish call sites explicitly in an easy way and _always_ ignore suggestions in them.

[2021-06-03 16:25] hellow554 commented on #85942
Ah! Yes! You're absolutely right! That's a great thing to do :D

[2021-06-03 16:27] jsha commented on #24899
I think the underlying desire here is that browsers should automatically figure out that `doc.rust-lang.org` has a search engine, and when you start typing "doc.." they should suggest "Search Rust documentation." I think that's feasible without running a whole backend search engine, but it would require some tweaks to how we do things, which I talk about here: https://github.com/rust-lang/rust/iss

[2021-06-03 16:31] hellow554 commented on #85916
Unfortunatly this still doesn't ICE for me :( might be a platform specific problem? I see that you're using windows. I try to reproduce this tomorrow.

@rustbot modify labels: O-Windows

[2021-06-03 16:32] pickfire commented on #84824
Yeah, what you said is good but in reality I have never seen any crates that have docs that do this. Documentation is good only if there are good documentation writers, in any case we always have the trait bounds so giving the user the ability will always benefit the users compared to just documentation because we can't force how the documentation is written.

[2021-06-03 16:34] the8472 commented on #85873
`as_inner` comes from its own unsafe trait which is fairly restrictive in what you can do with it, but indeed the interaction should be better documented.

I'm not even sure if enumerating which methods are safe to call and in which order is enough, the constraints are more subtle than that as we discussed in https://github.com/rust-lang/rust/pull/85888#discussion_r643084733
The handwavy idea is t

[2021-06-03 16:34] jsha commented on #39919
This is now fixed with the recent changes to how toggles work.

[2021-06-03 16:34] #39919 closed

[2021-06-03 16:36] Sp00ph commented on #85916
It's important to note that i got it working on the newest commit. To reproduce the ICE you'll have to use the initial commit, not the latest one. Should have maybe mentioned that in my last comment

[2021-06-03 16:37] steffahn commented on #85873
It’s all a question of what the documentation of `TrustedRandomAccess` settles on. Currently it does not explicitly allow coercing to subtypes, so presumably `Zip` is the offender being a type with covariant parameters, and the `IntoIter` implementations are sound. In the PR #85874 I’ve added the necessary changes to the documentation to make `Zip` (more) sound and the `IntoIter` implementations u

[2021-06-03 16:39] steffahn commented on #85873
Haha, regarding those, in my mind I’m already picturing ways to fix the remaining issues around that point (e.g. #82303) by extending `TrustedRandomAccess` even further.

[2021-06-03 16:44] hellow554 commented on #85916
You really should have :D
please update your post with the specific commit. I'm able to reproduce your ICE now. Thanks.

@rustbot modify labels -O-windows -O-windows-msvc

[2021-06-03 16:48] steffahn commented on #85873
By the way, regarding side-effects, here’s a thing I just came up with:

https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=20162c689badc919b523428d5d0d24b3

Actually, that’s not even on stable yet, so kind-of a beta regression?

[2021-06-03 16:49] Sp00ph commented on #85916
Alright I updated the link. Sorry for the inconvenience 😅

[2021-06-03 16:51] mcy opened #85968 "Pointer equality across allocations hits poorly specified parts of LLVM"
While Rust defines raw pointer equality as a safe operation, it appears that this is not so in practice. Consider the
following reduced example:

[code]
[(Godbolt)](https://godbolt.org/z/xc44Pn9zx)

On Rust 1.52.0 with `rustc -O`, this prints `false, true`; this is entirely dependent on the inlining attrs on the
two `eq` functions. `always_false` is optimized to a constant return, while `always_tr

[2021-06-03 16:54] PoignardAzur commented on #74087
I've hit this problem recently and it's *nasty*.

A minimal example:

[code]

[2021-06-03 16:55] jsha commented on #84824
Here's an idea: we could look to see what types are used to satisfy T in a crate's tests, doctests, and internal code. Then we could offer a hover tip on `T` that would say something like "example types that satisfy T: tokio::net::TcpStream, hyper::test::TestStream". That would solve the "crates aren't aware of each other at build time" problem. Which I realize now is not really accurate - a crate

[2021-06-03 17:00] hellow554 commented on #81270
Another MCVE that leads to this ICE:

[code]

[2021-06-03 17:01] hellow554 commented on #85916
Thank you! This is probably a dup of @81270, but with your help I was able to find a very small program that leads to the exact ICE the other person had, which is fantastic, because in the other issue, the example was much larger. I think this can be safely closed therefore.

Thank you for reporting it, I hightly appreciate it!

[2021-06-03 17:03] steffahn opened #85969 "Using Zip & Take allows accessing the middle a Map iterator without “getting there first” from either side."
Look at this iterator.
[code]
We all know that when `map`’s resulting `Iterator` implements `DoubleEndedIterator`, then the side-effects can be re-ordered. However, judging by the implementation of `map` one would probably at least expect that it’s impossible to hit the `"item 50"` without first either going through at least `0, 1, 2, … 49` or `100, 99, 98, … 51` first. Right?

Well, here we go!
[

[2021-06-03 17:04] steffahn commented on #85969
cc @the8472

[2021-06-03 17:05] Sp00ph commented on #85916
Alright I'll close this issue then :)

[2021-06-03 17:05] #85916 closed

[2021-06-03 17:05] tlyu commented on #85378
I've pushed what I have so far to https://github.com/tlyu/rust/tree/suggest-unsized , sorry if it conflicts with stuff you've already done. If you'd like to take a look at it, that would be great. I'll take a look at what you have as well.

There are some issues to be worked out with conflicting suggestions for associated types for `?Sized` vs the existing suggestion for adding an explicit `Sized`

[2021-06-03 17:12] the8472 commented on #85873
Well, I am curious about what you cook up. TRA was originally intended to allow `Zip` optimization and nothing else, but in principle it's also useful for optimizations in other places. So there's some tension about tailoring it just for Zip's current needs vs. making it something general for random access without the zip idiosyncrasies.

Theoretically we could have separate `TrustedZipAccess` and

[2021-06-03 17:15] the8472 commented on #85969
As mentioned in the other issue, I think this is just another instance of #82303

[2021-06-03 17:19] jsha commented on #25061
Related: #85418

[2021-06-03 17:24] FabianWolff commented on #85620
This is the intended behavior. Note the following detail from the [Rust reference](https://doc.rust-lang.org/reference/attributes/type_system.html#the-non_exhaustive-attribute):

Accordingly, if we move your `enum` definition into its own crate:
[code]
and access it as you have suggested:
[code]
it compiles without any warnings; in fact, without the wildcard, we would get
[code]

[2021-06-03 17:25] steffahn commented on #85969
It’s related to #82303. I guess the “random” aspect of `TrustedRandomAccess` is a bit weird for iterators like `Map`.

You can probably do the same thing (accessing the `map` from the center without “walking” there) with `Zip` only, too, on stable already.

[2021-06-03 17:26] ohsayan commented on #85620
Ah I see. Thought it to be a diagnostic error

[2021-06-03 17:26] #85620 closed

[2021-06-03 17:32] the8472 commented on #85969
steffahn brought up some general concerns about the `TrustedRandomAccess` implemention on `Take` (#83990) in https://github.com/rust-lang/rust/issues/85873#issuecomment-853984753
I'll have to think some more about whether combining Take, TRA and backwards iteration is even doing the right thing under all circumstances, beyond the side-effects issue raised here.

I am generally in favor of eliminat

[2021-06-03 17:40] jsha commented on #39952
In #83337, we went the other direction: making the decl visible by default in more cases, but hiding its contents when it is very long. I think we should close this, since the consensus in #83337 seemed to go in the other direction.

[2021-06-03 17:46] GuillaumeGomez commented on #39952
Agreed. Just for the record: cc @Manishearth

[2021-06-03 17:46] #39952 closed

[2021-06-03 17:49] #57619 closed

[2021-06-03 17:49] Manishearth commented on #42909
Closed https://github.com/rust-lang/rust/issues/57619 as a dupe of this

[2021-06-03 18:10] AngelicosPhosphoros commented on #85265
Maybe we should use vector types for this instead of integers for small arrays.
https://llvm.org/docs/LangRef.html#vector-type

[2021-06-03 18:13] #84670 closed

[2021-06-03 18:13] #84671 closed

[2021-06-03 18:29] workingjubilee commented on #85968
To clarify the bug, since I misunderstood it at first, if the `#[inline(never)]` or `eq_{outline,inline}` are changed, the truth value changes. I believe our current behavior may indeed be unsound.

[2021-06-03 19:18] the8472 commented on #85969
https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/eliminating.20side-effects.20of.20iterator.20adapters/near/241436500

I'll submit a revert PR.

[2021-06-03 20:07] tschuett commented on #85938
Add platform_version:
https://github.com/rust-lang/rust/blob/257782579915963c9dbe7433102275743837b9a8/compiler/rustc_codegen_ssa/src/back/link.rs#L2209

[code]

[2021-06-03 20:17] nikic commented on #85968
While LangRef does not explicitly say so, it is our working assumption that pointer equality is integer equality and comparison of pointers of different provenance is not poison. Alive2 was recently updated with these semantics.

[2021-06-03 20:28] ehuss commented on #85936
Ah, it does seem intended, thanks!  I'll close this and defer to https://github.com/rust-lang/reference/issues/1033 to get it documented.

[2021-06-03 20:28] #85936 closed

[2021-06-03 20:47] bookofportals commented on #79551
Note that the Guide to Rustc Development [says](https://rustc-dev-guide.rust-lang.org/stability.html#rustc_const_stable) that `#[rustc_const_stable]` is permitted without `#[stable]`.

[2021-06-03 21:06] mati865 commented on #79556
This might be harder than it sounds since only x86_64 musl target is natively built. Others are cross compiled from Linux GNU target.
But trying to do what Brian said won't hurt.

[2021-06-03 21:29] luqmana commented on #85948
Ooof, the linker errors strike again. In the short term, you could make the msp430 target explicitly set `linker_is_gnu: false`.

In the longer term, we really need a better way of encoded all these linker capabilities :/ You're right, `linker_is_gnu` is pretty under-speced currently. Ideally I think I would instead replace it with a number of more specific flags for each specific feature we need.

[2021-06-03 21:31] FabianWolff commented on #85536
Here is a simplified example:
[code]
The reference seems to be important, because changing both occurrences of `&S` to `S` does not lead to the ICE.

[2021-06-03 22:01] jackh726 commented on #85536
Duplicate of #62529

Going to close because there's many linked issues there and I'm not sure another one will actually help

[2021-06-03 22:01] #85536 closed

[2021-06-03 22:19] jonhoo opened #85978 "Bounds on associated types of super-traits are not implied"
Let me first qualify this with: I'm not 100% sure this is a bug — it _could_ be that this is simply unsupported at the moment, and that it is therefore a feature request instead.

I tried this code:

[code]

I expected to see this happen: the code compiles.

Instead, this happened: compilation fails with
[code]

My hope was that the `C: Foo` bound would imply the `<C as Bar>::Baz: Send` bound from

[2021-06-03 22:23] jonas-schievink commented on #85978
This is a duplicate of https://github.com/rust-lang/rust/issues/20671

[2021-06-03 22:23] #85978 closed

[2021-06-03 23:31] yaahc commented on #80690
I'm with @BurntSushi on this one, the `raw` in this fn name feels odd.

[2021-06-04 02:44] mcy commented on #85968
This seems to motivate that LLVM does not have these semantics today:
[code]
[(Godbolt)](https://godbolt.org/z/18a6nYzPr)

Clang is fully entitled to believe that this is UB, but LLVM emits the naive address comparison. All seems well? There is probably an overlap here between alias analysis feeding back into pointer equality (i.e. pointers do not alias, so the user cannot observe them being equal

[2021-06-04 05:58] oli-obk commented on #79551
This is needed for intrinsics, which are never stable (except for transmute). It may also be needed to allow an unstable const function to be used within a stable const function.

So these two attributes are actually independent. Const stability requirements are recursive in the body, unlike regular stability

[2021-06-04 07:02] weiznich opened #85986 "Regression in version strings accepted by cargo"
### Code

I tried this code: [diesel 1.4.x](https://github.com/diesel-rs/diesel/tree/1.4.x)

I expected to see this happen: Compilation succeeds

Instead, this happened: [Compilation fails with a dependency resolution error](https://github.com/diesel-rs/diesel/pull/2797/checks?check_run_id=2742702998)

[code]

### Steps to reproduce

[code]

This is likely related to https://github.com/rust-lang/c

[2021-06-04 07:10] #85932 closed

[2021-06-04 07:10] #84666 closed

[2021-06-04 08:22] est31 commented on #85986
This is not a rust-lang/rust bug but a rust-lang/cargo bug.

[2021-06-04 08:51] bookofportals commented on #85342
@rustbot label A-iterators C-feature-request T-libs

[2021-06-04 08:58] bookofportals commented on #85902
@rustbot label A-code-coverage C-feature-request T-cargo

[2021-06-04 09:32] bookofportals commented on #85219
@rustbot label A-slice C-enhancement T-dev-tools

[2021-06-04 09:35] m-ou-se commented on #82913
I'm not sure if this is a good way forward. We could definitely move it into a submodule, but making this an edition change (including a migration lint etc.) seems like too much effort for the small breakage this caused.

Having `assert!()` and `assert_eq!()` etc. always available, but `assert_matches!()` only after importing it with `use std::bikeshed::assert_matches` doesn't seem great.

As Mark

[2021-06-04 09:52] BoxyUwU commented on #82775
A separate macro that always requires a `=> expr` arm i.e. `unwrap_matches` `extract_matches` might make it less ambiguous/more clear

[2021-06-04 09:56] eggyal commented on #74231
I'm not sure that holds, because `_explicit_works` is a working example of the exact coercion on inner fields that's required here... is this not instead an inference issue (when trying to compute a mutual supertype of two tuple types)?

[2021-06-04 10:00] BurntSushi commented on #82913
Landing this despite the breakage feels not so great to me. Not horrible. But not great. In particular, it looks like the root cause to the breakage is import behavior. Which I think also in turn means that adding any new macro to the prelude could potentially result in this sort of breakage, which seems really quite unfortunate. (Did this happen when the `matches` macro was added?) Does the @rust

[2021-06-04 10:05] SimonSapin commented on #82913
Indeed. Maybe that behavior could be fixed? Quoting myself from https://github.com/SimonSapin/rust-std-candidates/issues/22#issuecomment-793086963:

[2021-06-04 10:20] RalfJung commented on #78778
Reopening as the issue persists for error_index_generator specifically, which has some custom logic for dylib paths that still needs adjusting:

https://github.com/rust-lang/rust/blob/903e369c831d52726a5292f847e384622189d9a0/src/bootstrap/tool.rs#L396-L400

[2021-06-04 10:23] m-ou-se commented on #65439
I'm not entirely convinced that adding `File::options()` is a good idea.

I agree with these comments made above:

However, I also agree that having to import OpenOptions separately from File to open a File with some options isn't great either.

I think the concerns I mentioned can be addressed by naming it `File::open_options()`, since that puts the verb ('open') directly at the beginning, makes

[2021-06-04 10:40] ijackson commented on #80690
Indeed.  I did some looking around and I think your feeling is justified:https://github.com/rust-lang/rust/pull/85901/commits/ad88a43b2fa26e35bded55a9c245c95932246e61

Hence #85901 where I change this.  That ought to go first.  I'm not sure what the implications are for the stabilisation - does that mean it should wait some more?

Thanks.

[2021-06-04 10:40] BurntSushi commented on #65439
@m-ou-se I like `File::open_options`. I think I do have a slight preference toward `File::options`, but I think `File::open_options` is a fine name too and I like your arguments in favor of it.

My goodness! I have so thoroughly ignored that area of rustdoc that this is the first time I've realized that its names are sorted lexicographically in contrast to source-order. That's actually pretty usef

[2021-06-04 10:55] kornelski commented on #42909
The error message is a bit better now. It still talks about privacy, but adds a note with the right path to use:

[code]

[2021-06-04 11:09] qiujiangkun commented on #85774
A very simple example
[code]
[code]

[2021-06-04 11:42] rylev commented on #85894
@rustbot claim

[2021-06-04 11:42] steffahn commented on #85968
Is there a better demonstration of actual unsoundness? In my view, `always_false` and `always_false` are totally allowed to lay out the local variables different in `always_false` vs `always_true`. Something like
[code]
doesn’t seem to produce inconsistent results. Where’s the _actual_ problem?

[2021-06-04 11:52] petrochenkov commented on #42909
The current output follows https://github.com/rust-lang/rust/issues/42909#issuecomment-311039840 and talks about the privacy intentionally.
The output was implemented by me, with this issue in mind, I forgot to close this issue back then, but I do consider it addressed.

[2021-06-04 11:58] jyn514 commented on #78778
@RalfJung the error index is already tracked by https://github.com/rust-lang/rust/issues/80096

[2021-06-04 11:58] #78778 closed

[2021-06-04 12:00] m-ou-se commented on #82913
Yes: https://github.com/rust-lang/rust/issues/66518

Apparetly that's tricky: https://github.com/rust-lang/rust/issues/65721#issuecomment-546441859

It'd be pretty much trivial to add it only in `prelude::rust_2021`. But we made a promise to the world to detect and automatically fix future edition-incompatible code, and that part is a bit harder. And we technically already froze the set of changes

[2021-06-04 12:01] jplatte commented on #42909
For some context, I've found this issue after looking for one when seeing the current error mentioned in https://internals.rust-lang.org/t/cautiously-consolidating-the-standard-library/14169.

IMHO the current error message is still not good for many cases. I guess it makes sense to talk about privacy if you try to import sth. that is not accessible within the same crate, and maybe also another cr

[2021-06-04 12:21] DesmondWillowbrook commented on #80218
Is this stabilized? Implementation PR looks like it has been merged in 1.51, but I'm getting an error from `cargo check` that this hasn't been stabilized.

rustc version: `rustc 1.52.1 (9bc8c42bb 2021-05-09)`

[2021-06-04 12:24] DesmondWillowbrook commented on #80218
What is the status on stabilizing this addition to the library?

[2021-06-04 12:30] jyn514 commented on #85047
@matthiaskrgr are you still running into this? I can't fix it if I don't know what's wrong.

[2021-06-04 12:56] mati865 commented on #85779
Self contained mode currently works only for native compilation. To cross compile you have to provide mingw-w64 C toolchain in PATH, similary how you need MSVC toolchain for `windows-msvc` target.

[2021-06-04 13:07] hellow554 commented on #85955
Here's a smaller example: Three files are needed as for now:

<details>
<summary>build.rs</summary>

[code]
</details>

<details>
<summary>src/lib.rs</summary>

[code]
</details>

<details>
<summary>tests/crash.rs</summary>

[code]
</details>

afterwards `cargo test` will result in the ICE

[2021-06-04 13:10] XAMPPRocky commented on #85955
@hellow554 Thank you for reducing it! I've moved that to the top of the issue.

[2021-06-04 13:12] #84018 closed

[2021-06-04 14:33] jyn514 commented on #75100
I'm going to close this, no one has a suggested any alternative approach and people are continuing to add `if ! actually_rustdoc` to the codebase.

[2021-06-04 14:33] #75100 closed

[2021-06-04 15:05] estebank commented on #85713
I'm happy to see #85976, but for beta backport we'll likely want a smaller PR or a revert of the PR introducing this issue.

[2021-06-04 15:08] Timmmm commented on #65439
`open_options` seems reasonable but I think all of the options (heh) are reasonable. Doesn't seem like it's enough better to bother changing the PR again.

Also I'm amused that you said you don't think there should be more than one way to do things, but you also want lots of `open_append()` style convenience methods!

[2021-06-04 15:12] BurntSushi commented on #65439
Where did I say this? While I consider "fewer ways to do something" a general abstract good thing, it is not a rule I seek to impose everywhere. If I've ever said anything otherwise recently-ish, then I was likely being imprecise.

[2021-06-04 15:17] estebank commented on #42909
I think the two improvements left to do are providing a structured suggestion for the new import, or at least changing the last span label to mention the ADT's full path, and maybe eliding the chain for external crates and just provide a "not found" and suggestion. That _might_ be confusing to people that expect the reexport to be available, but when that happens in a separate crate the likelihood

[2021-06-04 15:35] kornelski commented on #42909
I think swapping order of the error message and the note would improve it — instead of an error about privacy with a note about wrong path, make it an error about wrong path, with a note about privacy.

1. The main part of the error should be the same as for paths that don't exist ("error[E0432]: unresolved import")

2. For same crate/same workspace, a note can explain that there's a re-export, bu

[2021-06-04 15:45] estebank opened #85991 "Suggest using `-> impl Trait` when returning type parameter `-> T where T: Trait`"
Some newcomers are confused by `impl Trait` in return position because they have first internalized `impl Trait` as an alias for type parameters in argument position. Because of this, some people try the following:

[code]

We don't currently point them in the right direction, like we do in other cases.

_Took inspiration from https://twitter.com/JaapRood/status/1400782159812628482_

[2021-06-04 15:57] joshtriplett commented on #65439
FWIW, I think `File::open_options` feels potentially confusing. Based on other library crates, I would expect `open_options` to be an open method that takes options, not something that creates a builder; in other words, I'd expect it to have a signature like `fn open_options(opts: OpenOptions) -> File`.

[2021-06-04 15:57] fanninpm commented on #84918
Does this still reproduce on the latest nightly? [Here is a playground link, for reference.](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2e0fbe7b2ddcd7d35cef2ee7cc7ed4e3)

[2021-06-04 16:06] mcy commented on #85968
I don't think there's a good way to illustrate this without knowledge of LLVM internals. =( I can try to think of a more complex example, but I've only got so much free time- I'm hoping people who more actively work with LLVM directly than I do can definitively confirm whether Rust is emitting sane IR.

(Compare: Rust having to emit `getelementptr` rather than `getelementptr inbounds` for `wrappin

[2021-06-04 16:31] chengniansun commented on #84108
A potential duplicate.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-06-04 16:38] ralpha opened #85992 "Assertion failed: `import.imported_module.get().is_none()`"
### Code
Exact code unknown code.
The error was generated by using `cargo check`.
Rerunning after `cargo clean` did not fix this.

Did not resolve this yet at the time of writing this.
This might be related to: https://github.com/rust-lang/rust/pull/83336

But I think this was because I compiles first and got this error:
[code]
This was expected to give an error (needed to be `log::error!(...)` )

[2021-06-04 16:39] nikomatsakis commented on #82913
@m-ou-se I'm confused by this -- if we did it in an edition, wouldn't all 3 be available? What makes this so hard to do in an edition? (I haven't thought about what migration is required)

[2021-06-04 16:42] pnkfelix commented on #84297
(Just an update: as [mentioned][] in yesterday's compiler team meeting, and the plan outlined above is what we are going to do. I am doing it.)

[mentioned]: https://zulip-archive.rust-lang.org/238009tcompilermeetings/35967weekly2021060354818.html#241400641

[2021-06-04 16:43] tmiasko commented on #85968
Note that in `let (a, b) = (0, 0);` `a` and `b` are bound to a copy of matched value.

[2021-06-04 16:44] LeSeulArtichaut commented on #85713
Reverting seems fine since #81234 only added a nightly feature. I'll take care of that

[2021-06-04 16:46] m-ou-se commented on #82913
Oh, the comment about `std::bikeshed::assert_matches` applies to Rust 2015 and 2018. (And Rust 2021 with #[no_prelude] i guess, since the others are imported through #[macro_use] and not the prelude.) What makes me reluctant to do it in the edition is specifically the migration. We'd need to detect cases where a macro with the same name is used that was imported through a glob import. It'd be a bi

[2021-06-04 17:06] ijackson opened #85995 "trait extension trait methods not always visible in rustdoc output"
Hi.  I'm not sure if it's right to call this a bug, but it is a thing that can be quite confusing (and time-consuming to resolve via the docs rather than via an IDE) so I thought I would file an issue.

The problem can be seen in `gitlab::api`, for example.  Consider this quote from [the top level example](https://docs.rs/gitlab/0.1312.0/gitlab/api/index.html) on docs.rs:

[code]

Suppose the user

[2021-06-04 17:07] ralpha commented on #85992
I just found out the problem exists because of:
[code]
If I comment out that line it will not report an internal error anymore.
I had a function `rocket()` but I also use the crate [`rocket`](https://crates.io/crates/rocket)
I now renamed the function but still getting errors.

So it is likely because of a ambiguity issue.
Trying to reproduce it in minimal code example, but not yet been able to do

[2021-06-04 17:07] ijackson commented on #85995
@rustbot modify labels +T-rustdoc

[2021-06-04 17:09] workingjubilee commented on #65439
I think the argument about whether something sounds like a nullary function or not is valid, and is reasonable grounds to exclude `File::with_options()` from the running. But we already have `OpenOptions` as a very... interesting type name. So to me, I agree that nullary `File::open_options()` is quirky, but I also think it's "natural" to Rust, simultaneously, because of the existing legacy of Ope

[2021-06-04 17:54] jyn514 commented on #85995
Hmm, the blanket `impl Query for T: Client` should be showing up in https://docs.rs/gitlab/0.1312.0/gitlab/struct.Gitlab.html#blanket-implementations, I don't know why it's not.

[2021-06-04 18:10] ijackson commented on #85995
Thanks for looking at my report :-).  (And sorry for putting the wrong label on it.)

[2021-06-04 18:16] tlyu opened #85998 "E0277 wrong span in diagnostic with explicit `Sized` bound"
Given the following code: [(playground)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c2417382abf18396f2d8710cb3468701)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

When the implicit `Sized` bound is added for generic type parameters, it goes at the front of the emitted predicate list. This means that its span, which is limited t

[2021-06-04 18:23] DusterTheFirst commented on #57241
Out of curiosity where else is non-determinism allowed or accepted in rust. I had assumed this is counter to what a programmer would want with their code.

[2021-06-04 18:26] jhpratt commented on #57241
Non-determinism is of course permitted in Rust — how would you get a random number otherwise? It's a question of whether it should be allowed _in `const fn`_.

[2021-06-04 18:27] workingjubilee commented on #67264
I have temporarily recused from stabilization RangeFrom patterns where they are specifically part of a slice pattern, e.g. in `[X.., Y..=Z, a, ..]`, due to a concern that was brought up about using them in slice patterns. Specifically, it was discussed that they might be considered a desirable for "ranging slice" patterns. For example, the following code snippets could be enabled by taking a diffe

[2021-06-04 18:28] workingjubilee commented on #37854
The specific cases of ranges in slice patterns will not be stabilized in #83918, per the discussion in that PR and the explanatory comment here: https://github.com/rust-lang/rust/issues/67264#issuecomment-854921128

[2021-06-04 18:58] RalfJung commented on #57241
Random numbers are *not* the same as non-deterministic choice. I certainly don't want my crypto keep to be picked non-deterministically...

Examples of non-determinism in Rust are:
* The exact integer address at which objects are allocated in Memory.
* The interleaving of instructions of concurrently running threads.

[2021-06-04 19:07] cjgillot opened #85999 "Turn parent_module_of_macro_def into a query"
Those two methods contain information that is recorded by the resolver, before the incr. comp. infrastructure is set up.

For now, the maps are accessed as-is. They need to be made queries in order to ensure the correct tracking of their result.

In order to avoid having to compute the forcing query, a pre-requisite is to allow recovering an `ExpnId` from a `Fingerprint`.

[2021-06-04 19:10] richkadel opened #86000 "Unexpected deprecation warnings on the declaration of the deprecated enum"
PR #85617 had an unintended side effect that generates invalid warnings on `enum` declarations.

A simple example, below, demonstrates the issue. I reverted the change from that PR, and I don't get the warning, to validate that PR causes the problem.

This is a significant issue for projects that require warnings be treated as errors, so I hope we can prioritize a fix or revert of the change. Than

[2021-06-04 19:11] richkadel commented on #86000
cc: @hi-rustin @estebank

[2021-06-04 19:21] Mark-Simulacrum commented on #86000
I think reverting it to start makes sense to me if it's having significant impact, I'd at least be happy to r+ such a revert (and the PR can be relanded later with a fix).

[2021-06-04 19:28] richkadel commented on #86000
@Mark-Simulacrum - Thank you! I just initiated a revert vis #86001.

[2021-06-04 19:38] DusterTheFirst commented on #57241
I can see how these are non-deterministic, but the language is designed so that these both are -- when using safe rust -- hidden and unimportant to the programmer. The result of a function that a programmer has created feels like it would be in a different class than these concepts. A function that can produce different results if in const position or not seems like it would be super unintuitive a

[2021-06-04 20:34] pnkfelix opened #86004 "For 1.53, must fwd-port RUSTC_FORCE_INCREMENTAL from 1.52.1"
This is part of #84970.

The T-compiler team decided in the [28 may 2021 steering meeting](https://zulip-archive.rust-lang.org/238009tcompilermeetings/41941steeringmeeting20210528fingerprintsand15384970.html), based in part on the discussions logged in the [associated hackmd document](https://hackmd.io/vXRZ4RiNRKWVlDChmsCriA) that we would [forward port](https://zulip-archive.rust-lang.org/238009t

[2021-06-04 20:37] skmendez opened #86005 "The meaning of an "item" in E0121 should be elaborated on"
I tried this code:

[code]

I expected to see this happen: an error which explains why this doesn't work with `const` even though it does work with `let`, like what would happen with the code:

[code]

Instead, this happened: E0121, which doesn't explain that the problem is that const's need to be explicitly typed, but instead refers to an "item signature", which is an unexplained term of art. The

[2021-06-04 20:45] pnkfelix commented on #84297
Also, the discussion about what to do in the long term is taking place on [zulip](https://zulip-archive.rust-lang.org/131828tcompiler/18251reifyingfunctionptrsforintrinsics84297.html)

[2021-06-04 20:53] bookofportals commented on #85968
@rustbot label +T-compiler

[2021-06-04 21:14] CDirkx opened #86007 "Tracking Issue for `windows_case_insensitive`"
This is a tracking issue for dealing with strings on Windows that are defined to be case-insensitive: environment variable keys, registry keys, file paths, resource handle names etc.
The feature gate for the issue is `windows_case_insensitive`.

### Unresolved Questions

What is the API std should offer to deal with Windows specific case-insensitive comparisons?

### Implementation history

[2021-06-04 21:16] joshtriplett commented on #65439
On Fri, Jun 04, 2021 at 10:09:34AM -0700, Jubilee wrote:

One difference is that `OpenOptions` is a type, not a function, so it's
more obvious that `OpenOptions` itself doesn't perform an open
operation. A function named `File::open_options`, living right next to
`File::open`, seems more ambiguous.

I'm not set on the function being called `File::options`; I just don't
think the function name shou

[2021-06-04 21:37] ChrisDenton commented on #86007
I've been thinking about this recently. Filesystem paths are particularly tricky because they handle case insensitivity differently from the rest. On NTFS, case folding is stored in a `$UpCase` file, so it can differ per drive. Also case sensitivity can be turned off [per directory](https://devblogs.microsoft.com/commandline/per-directory-case-sensitivity-and-wsl/#per-directory-case-sensitivity).

[2021-06-04 21:49] CDirkx commented on #86007
Yeah that was my plan, add `system_cmp` and `system_eq` to `os::windows::OsStrExt` as a start (#86008). Not sure what we should say there about the file system paths though.

[2021-06-04 22:06] m-ou-se commented on #65439
Pink!

![image](https://user-images.githubusercontent.com/783247/120867178-ed245880-c580-11eb-8280-8aa17d6d69d9.png)

[2021-06-04 22:18] #83730 closed

[2021-06-04 22:57] jhpratt commented on #79121
Haven't seen this mentioned yet, but @taiki-e has created [`cargo llvm-cov`](https://github.com/taiki-e/cargo-llvm-cov). I just tested it out and it works well.

cc @clarfonthey

[2021-06-04 22:58] jhpratt commented on #85902
Highly related: [`cargo llvm-cov`](https://github.com/taiki-e/cargo-llvm-cov)

[2021-06-04 23:08] shahzayb-dev commented on #44787
I ran this command  `cargo install clarinet --locked`

I've also installed the Visual Studio 2019.

And that's the error i'm getting:
[code]

[2021-06-04 23:13] jsha opened #86012 "rustdoc: highlight all anchored headings on click"
When you visit on a rustdoc URL with a fragment linking to a specific method (e.g. https://doc.rust-lang.org/nightly/std/string/struct.String.html#method.as_bytes), or when you click an internal link from the sidebar, the method declaration is highlighted.

However, if you click an internal section heading in the sidebar, or visit a URL with such a fragment, there is no highlighting. This is parti

[2021-06-04 23:41] tlyu opened #86013 "incremental compilation error with rustc patches that change predicate order"
I'm not sure this counts as minimized. I'm running into #84970 while working on #86011. When either applying or reverting those changes, I get the relevant ICE while running UI tests, if the incremental compilation caches for the tests haven't been cleared. I guess I should expect this sort of thing to happen, but I figured you might want to know some details.

### Meta
`rustc --version --verbose`

[2021-06-04 23:42] tlyu commented on #86013
@rustbot labels +A-incr-comp

[2021-06-05 00:28] bookofportals commented on #85950
@rustbot label +A-slice -C-bug +C-enchancement +T-doc +T-libs

[2021-06-05 00:34] bookofportals commented on #84488
@rustbot label +A-collections +C-enhancement +T-libs

[2021-06-05 00:38] veber-alex commented on #85570
@rustbot label +I-slow

[2021-06-05 00:41] veber-alex commented on #83298
@rustbot label +I-slow

[2021-06-05 00:48] bookofportals commented on #85898
@rustbot label A-traits A-associated-items C-compiler

[2021-06-05 00:54] bookofportals commented on #85512
@rustbot label +A-lint

[2021-06-05 00:55] bookofportals commented on #85894
@rusbot +A-lint +T-compiler

[2021-06-05 00:57] bookofportals commented on #85894
_Sigh._ I apologize for the double message.

@rustbot +A-lint +T-compiler

[2021-06-05 00:59] #30693 closed

[2021-06-05 00:59] #85714 closed

[2021-06-05 00:59] #85933 closed

[2021-06-05 00:59] #85943 closed

[2021-06-05 01:05] bookofportals commented on #85883
@rustbot label +A-visibility +T-compiler +T-lang

[2021-06-05 01:14] cr1901 commented on #67819
While diagnosing another issue, I came back to this one. The script I used to bisect was buggy; the actual commit where dead code stopped being optimized away was 955979a.

As of recent (well as of me writing this) commit dbe459d, I can get the dead code elimination to work again using the following patch:

[code]

This isn't a public interface, so I think the patch can be used as-is. However, I i

[2021-06-05 01:16] bookofportals commented on #85879
@rustbot label +I-slow +A-codegen +C-bug +T-libs-impl +T-compiler

[2021-06-05 01:39] bookofportals commented on #85851
@rustbot label C-enhancement

[2021-06-05 02:42] bookofportals commented on #85821
@rustbot label I-prioritize T-compiler O-wasm

[2021-06-05 03:12] bookofportals commented on #86012
@rustbot label T-rustdoc A-enhancement

[2021-06-05 03:22] Lslightly opened #86017 "Invalid target files cause an ICE"
I'm new to Rust and I try to compile a project with a build.sh.(I'm also new to that project and that project is not well organized.)

when I use Makefile to make, the process of making executes build.sh and it reports it's a bug, so I'm here.

build.sh
[code]

I'm fresh here so if there is some information I don't provide, please tell me and I will try my best to provide it.

Thank you!

### Code

[2021-06-05 04:14] bookofportals commented on #86005
@rustbot label +D-confusing +D-newcomer-roadblock

[2021-06-05 04:20] bookofportals commented on #85581
@rustbot label +A-borrow-checker +D-incorrect-suggestion

[2021-06-05 04:58] Mr-Zzg commented on #55467
Why not support Chinese names

[2021-06-05 05:10] Manishearth commented on #55467
@Mr-Zzg They are! See https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=296bbb7bc2d69f8d2c4245b9df93992a

This feature hasn't hit stable yet, it will in the next release.

[2021-06-05 05:14] bookofportals commented on #86007
@rustbot label +A-ffi +O-windows +T-libs

[2021-06-05 05:20] Nadrieril commented on #67264
We already have the interaction of slice patterns with range patterns. What changes if you add half-ranges? Shouldn't `0u8..` always behave like `0u8..u8::MAX`?

[2021-06-05 05:45] bjorn3 commented on #82320
Proc-macros are run as part of the host process on the main compilation thread. Without `-Cpanic=unwind` the only way to jump out of the panicking proc macro would be longjmp. Longjmp is UB when there are destructors in any of the skipped frames. Unix systems skip the destructors in this case, but Windows will run any destructors that exist. Because libstd is compiled with `-Cpanic=unwind` and the

[2021-06-05 06:37] NicolasDP opened #86019 "Suggest the extra comma for 1-ary tuple when warning about unnecessary parentheses around type"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b6faae0b3f3e40ccb0c2158eb481b989

[code]

The current output is (`1.52.1`, `1.53.0-beta.3` and `1.54.0-nightly`):

[code]

Ideally the output should look like:

[code]

While I appreciate that using 1-ary tuple `(T,)` may seem odd in most cases it is still part of the language: [rust reference](https:

[2021-06-05 07:15] duckinator commented on #18895
I just ran into this problem today -- tried `rust --emit asm test.rs -o -` and it wrote it to the file `./-`.

My usual workaround when programs don't special-case that is to try using `/dev/stdout` directly &mdash; but that just results in this:

[code]

[2021-06-05 08:20] nikic commented on #85570
I expect the problem here is that `self.data[self.ptr] += 1;` could overwrite `self.ptr`. It would be necessary to reason about the range of the induction variable in AA to exclude the possibility.

[2021-06-05 08:30] Timmmm commented on #65439
Sorry, "you" was referring to m-ou-se.

[2021-06-05 08:42] #85915 closed

[2021-06-05 10:19] RalfJung commented on #57241
That is not technically true for the allocator (ptr-to-int casts are safe), and not at all true for concurrency -- `Atomic*` types are easily used in safe code to observe concurrency non-determinism.

As has been said before, that discussion is taking place in https://github.com/rust-lang/rust/issues/77745. Please do not continue this off-topic thread.

[2021-06-05 10:28] RalfJung commented on #77745
@oli-obk would you mind updating the question in the OP here? It conflates CTFE and const propagation, as I pointed out in my first comment. There's already enough people mixing up those things without us further perpetuating that confusion. :)

[2021-06-05 10:43] RalfJung commented on #77745
[This recent discussion on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/146212-t-compiler.2Fconst-eval/topic/NaNs.20during.20CTFE) proposes to make NaNs non-observable during CTFE by re-using the existing "symbolic value" mechanism we have for allocation base addresses. Then at least compile-time code could not observe compile-time-generated NaNs.

However, I am not sure if this really so

[2021-06-05 11:48] leonardo-m commented on #86019
This is nice. But probably it needs to be smart otherwise you get that note every time there are two unused parentheses...

[2021-06-05 12:00] fee1-dead commented on #86005
@rustbot claim

[2021-06-05 12:09] fee1-dead opened #86021 "E0121 wrongly suggests replacements for `_`"
Given the following code: [play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d65e2c7287a0dc10b86956362a1d01d1)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

@rustbot claim
@rustbot label D-incorrect D-invalid-suggestion

[2021-06-05 12:14] mhristache commented on #24062
I guess it does. Thanks for the improvements!

[2021-06-05 12:14] #24062 closed

[2021-06-05 12:29] nagisa commented on #85962
Can you list disassembly of the hanging function? This seems like potentially a hardware issue, maybe related to the exclusive access instructions.

[2021-06-05 12:34] jyn514 commented on #85106
Duplicate of https://github.com/rust-lang/rust/issues/83976.

[2021-06-05 12:34] #85106 closed

[2021-06-05 12:35] jyn514 commented on #82210
This is fixed in 1.51.0.

[2021-06-05 12:35] #82210 closed

[2021-06-05 12:37] jyn514 commented on #78800
@seeplusplus hi, are you still working on this? It's ok if not, but please comment `@rustbot release-assignment` if so.

[2021-06-05 12:51] hkratz commented on #85962
Works fine on Macos with Apple Silicon as well. There it compiles to
[code]
ThunderX Pass 1.1 has some problems with atomic instructions, see e.g. the comment in [this patch](https://lists.freebsd.org/archives/svn-src-all/2018-June/165576.html).

[2021-06-05 13:19] oli-obk commented on #77745
Yea go right ahead

[2021-06-05 13:33] 1000teslas commented on #71519
@bstrie I made a PR. Is there anyone in particular you think should review my PR?

[2021-06-05 13:40] #86000 closed

[2021-06-05 13:40] nagisa commented on #85962
@hkratz This seems like an assembly listing for an optimized build, whereas the issue reported is for the unoptimized one.

If I simply build the code snippet unoptimized, then we get an entirely different implementation:

[code]

but knowing the exact instruction sequences is important here.

All that said, given the link above it seems to me like chances we'll be able to do anything about it are

[2021-06-05 15:20] glittershark opened #86026 "Tracking Issue for `Bound::map`"
Feature gate: `#![feature(bound_map)]`

This is a tracking issue for providing a `map` method on `Bound`. This method calls a function on the contained value of a `Bound` (including both `Included` and `Exclcuded`, returning a `Bound` of the same kind.

### Public API

[code]

### Steps / History

- [x] Implementation: #83646
- [ ] Final commenting period (FCP)
- [ ] Stabilization PR

### Unresolv

[2021-06-05 16:05] m-ou-se opened #86027 "Footgun with `catch_unwind` when catching panic-on-drop types"
Originally reported by @KaiJewson in https://github.com/rust-lang/rust/pull/85927

---

`catch_unwind(code)` is often used to make sure no panics from `code` can cause further unwinding/panics. However, when catching a panic with a payload that panics on Drop, most usages of `catch_unwind(code)` will still result in further unwinding and often unsoundness.

[code]

Example in rustc (found by @myst

[2021-06-05 16:12] m-ou-se commented on #86027
#85927 adds `drop_unwind` as an alternative to `catch_unwind` which safely aborts() when dropping the payload panics. While that does provide a safer alternative, it doesn't solve the easy mistake which we've apparently made ourselves already in quite a few places.

[2021-06-05 16:21] m-ou-se commented on #86027
cc @rust-lang/libs @rust-lang/compiler

[2021-06-05 16:21] Mark-Simulacrum commented on #86027
One option might be to somehow intervene (via an intrinsic or whatever) in the destructor of the Any trait object such that the destructor decrements the panic counter after running (i.e., the caught panic is still "panicking" until it's destructor runs). That would make any panics in that destructor cause an abort.

It's not clear to me that this behavior is what's desired in all cases, but I'm n

[2021-06-05 16:23] mystor commented on #86027
Unfortunately I don't know how possible that will be to do in this particular situation, as `resume_unwind` will allow user code to provide arbitrary `Box<dyn Any + Send + 'static>` types, and it's probably not practical for rustc to change the vtable at that point.

[2021-06-05 16:25] m-ou-se commented on #86027
We could deprecate `catch_unwind` and have a new `catch_panic` or something that doesn't give a `Box`, but gives it wrapped in a `PanicPayloadThingBikeshed` with the abort-on-panic-in-drop behaviour.

[2021-06-05 16:26] BoxyUwU commented on #86027
Can we just change the return type to be `Result<T, UnwindError>` and have `UnwindError` abort in the drop impl if the Box<dyn Any> panics when dropped, it *is* basically a soundness fix. Maybe a crater run? :)

[2021-06-05 16:35] bjorn3 commented on #86027
You can use `catch_unwind` in combination with `resume_unwind` on the panic result. For example https://github.com/bevyengine/bevy/pull/2222/files#diff-30fd76e28519c7fa11f2990e8f7a70c6fc09227f30ea6ffb46ccb243cdb9f15eR42-R50 Changing both at the same time also won't work as compiletest uses `resume_unwind` to fail a test without a panic message and backtrace.

[2021-06-05 16:39] Amanieu commented on #86027
I personally feel that the long-term solution to this and other issues related to panic-on-dropis is to do what C++ did in C++11: destructors were changed to be `noexcept` by default, which causes an immediate abort if an exception is thrown from a destructor. One of the primary motivations for this was that unwinding from destructors is a huge footgun that can very easily lead to memory leaks or

[2021-06-05 16:43] mystor commented on #86027
A potentially less-invasive version of @Amanieu's proposal would be to only require trait object destructors to abort if they panic, and continue to allow panicking from other `Drop` impls.

[2021-06-05 16:47] nagisa commented on #86027
Why is this categorized `I-unsound`? There is no inherent unsoundness in the `catch_unwind` function (which appears  the primary focus of this issue), and any unsound code (such as the libstd example) appears to be a bug in the code that uses said function incorrectly when also interacting with `unsafe` code otherwise.

Those unsoundness instances should be tracked and fixed separately, and this i

[2021-06-05 17:05] nagisa opened #86030 "`lang_start` in std/src/rt.rs is unsound in presence of panic payload that panics on drop"
See https://github.com/rust-lang/rust/issues/86027 for an example of the problem.

[code]

[code]

Here we panic without any landing pads available upstack, because we are already the top-most(-ish) frame in the first place. This is UB.

[2021-06-05 17:14] mcy commented on #85968
Honestly, those LLVM bugs don't make me feel any better. It's pretty clear that we're not sure if `icmp` folding should take advantage of provenance or not-- I couldn't tell if there was consensus anyways (in C++ land I *would* want this to be a thing, but not in Rust where we seem to believe provenance does not flow into comparisons).

It may be worth either closing this or punting it to UCG, sin

[2021-06-05 17:19] m-ou-se commented on #86027
If we make the `Bomb` panic with another `Bomb` in `drop`, the proc_macro case becomes a lot worse:

[code]

[2021-06-05 17:55] iliakonnov opened #86033 "ICE when checking size_of of closure in const generics"
In some cases compiler panicks when, I believe, computing const generic argument containing `std::mem::size_of::<T>()`, where `T` is some closure type. Interestingly, it works well when I put closure into associated type, so expression looks like `size_of::<T::Assoc>()`. Changing closure type to something more simple makes everything fine.

### Code

This gives panic: ([playground](https://play.ru

[2021-06-05 18:34] KaiJewson commented on #86027
There are additional reasons why we may want to add an `UnwindError` type:

- It is shorter and less noisy to type than `Box<dyn Any + Send>`. I have used `type Panic = Box<dyn Any + Send>` multiple times in the past.
- We can add utility methods for panic payloads specifically, such as `fn as_str(&self) -> Option<&str>` and `fn into_string(self) -> Result<Cow<'static, str>, Self>`.
- It can provi

[2021-06-05 19:15] nikic commented on #85742
Upstream fix: https://github.com/llvm/llvm-project/commit/1b84acb23acac2fbb450312049495164a16ee715

[2021-06-05 19:40] masonk commented on #74231
The [reference states](https://doc.rust-lang.org/reference/type-coercions.html#coercion-sites):

[2021-06-05 19:58] jyn514 commented on #86019
"This is valid code" is not a very convincing argument that the compiler should suggest it. Using a tuple for a type named U8 seems odd. Just the warning itself should be a hint that something is wrong, I don't think new users of the language will be trying to work with unary tuples.

[2021-06-05 20:04] jplatte opened #86035 "rustc suggests to `use path::_;` with `as _` trait re-exports"
Given the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=bd5a71280d49dc286126d273b2b743ab)):

[code]

The current output for compiling the doctest is:

[code]

I'm not sure what the output should be. Originally I hit this issue with `tracing`, which re-exports one trait (soon multiple) `as _` in its prelude module. They are of course reachable

[2021-06-05 20:55] steffahn opened #86039 "Default panic message prints the type `Box<dyn Any>` as `Box<Any>`"
[code]
[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e2ba839751077c76ba697726afb8ffd4))

I would’ve expected it to say
[code]

Relevant point in `std` seems to be [here](https://doc.rust-lang.org/nightly/src/std/panicking.rs.html#196).

@rustbot label C-enhancement, T-libs

[2021-06-05 21:02] NicolasDP commented on #86019
I would appreciate the benefit of the doubt here please. indeed type alias U8 does not make sense by itself. The example here is only the simplest example to reproduce the warning message.

I don't understand your point about the new users. Are you suggesting that new users should use only a subset of the language? Or are you suggesting the notes are intended only for the new users?

I think there

[2021-06-05 21:04] bstrie commented on #84958
Note that mutable noalias is on track to be disabled for the upcoming 1.53 beta: https://github.com/rust-lang/rust/pull/86036

[2021-06-05 21:09] #85497 closed

[2021-06-05 21:09] #85948 closed

[2021-06-05 22:12] bookofportals commented on #86039
@rustbot label +A-error-handling

[2021-06-05 22:19] bookofportals commented on #86017
@Lslightly

Thank you for filing an issue! When I click that linked you posted, I get an error. Is it set that other people can view it?

[2021-06-05 22:28] RalfJung commented on #85968
Which part of the C standard do you derive this from (specifically for `eq`)?

I don't think this is correct. To my knowledge, comparing pointers in LLVM is always safe. There are a few bugs here, but those should be reported with LLVM.

I think it is pretty clear that consensus is forming towards "no, provenance may not affect pointer comparison". There are LLVM transformations that assume this,

[2021-06-05 22:30] bookofportals commented on #86033
@rustbot label +A-closures +A-zst

[2021-06-05 22:34] bookofportals commented on #85872
@rustbot label +A-codegen +I-slow +T-compiler

[2021-06-05 22:35] RalfJung commented on #85968
These are bugs, there are other LLVM optimizations that explicitly assume that provenance is *not* transmutted through bitcast and ptrtoint. Se [this blog post](https://www.ralfj.de/blog/2020/12/14/provenance.html) for a more lengthy explanation.

So, overall -- I agree it is important to keep an eye on what LLVM is doing here, and maybe work with them to ensure what they do works for us, but I do

[2021-06-05 22:37] bookofportals commented on #85921
@rusbot label +A-associated-items +A-closures +T-compiler

[2021-06-05 22:41] iliakonnov commented on #86033
@bookofportals, sorry for bothering you, but probably ZST is not a real cause of a problem. I'm very far from compiler internals, but it looks like issue is coming from using `mem::size_of::<{closure}>` in const generics using incomplete feature `const_evaluatable_checked`. Sorry if title was inaccurate. Unfortunately I do not know what tags may be more suitable here and even can't edit them.

[2021-06-05 22:42] bookofportals commented on #85783
@rustbot label +A-query-system

[2021-06-05 22:42] bookofportals commented on #85857
@rustbot label +A-query-system +T-compiler

[2021-06-05 22:45] bookofportals commented on #85849
@rustbot label +A-associated-items

[2021-06-05 22:54] workingjubilee commented on #85968
Untagged per apparent consensus that this is... not unsound, just really weird and definitely erroneous.

[2021-06-05 22:56] iliakonnov commented on #86033
After googling a bit I finally learned how to become a better contributor :)

@rustbot +F-const_evaluatable_checked +A-const-eval +F-const_generics +A-const-generics -A-zst

[2021-06-05 23:00] bookofportals commented on #86033
That's quite alright! You don't need to worry about bothering me. I appreciate any advice on how to make my categorizations more helpful. That said, I might suggest editing the title and opening post to make the probable source of the problem a bit more clear. :)

@rustbot label +requires-nightly

[2021-06-05 23:02] jsgf opened #86044 "--emit KIND=PATH affects crate hash vs --emit KIND"
When emitting to a specific path with `--emit KIND=PATH` the crate hash is affected by what PATH is.
If you use `--emit KIND -o PATH`, or `--out-dir PATH` the crate hash is unaffected.

### Meta

`rustc --version --verbose`:
[code]

[2021-06-05 23:02] bookofportals commented on #85999
@rustbot label +A-macros +A-query-system +C-cleanup +T-compiler

[2021-06-05 23:14] bookofportals commented on #85846
@rustbot label +A-macros +C-enhancement +T-doc +T-compiler

[2021-06-05 23:40] ZuseZ4 commented on #83585
I ran into an issue where using a struct of two arrays was significant slower than passing those arrays directly.
[#issue85354](https://github.com/rust-lang/rust/issues/85354)
My arrays were larger, but the struct also came with a large overhead.
Could those issues be related?

[2021-06-06 00:02] reaganmcf commented on #86039
@rustbot claim

[2021-06-06 00:17] bookofportals commented on #86039
Wow, `E-easy` issues really do go fast. Best of luck, reaganmcf!

[2021-06-06 00:18] Lslightly commented on #86017
Sorry, I have fixed the typo. Now the link should be right.(next time I will be more careful to check my issue)

[2021-06-06 00:33] jyn514 commented on #82637
cc @estebank, this also affects the "required by this bound" diagnostic I think you recently added.

[code]

[2021-06-06 01:07] jyn514 opened #86046 "`invalid_doc_attributes` should not fire on `extern crate` items"
I tried this code:

[code]

I expected to see this happen: Rustdoc gives no warning, and shows the module "core" instead of "pub use extern crate core".

Instead, this happened: Rustdoc shows the module, but still gives a warning:

[code]

### Meta

`rustc --version`: rustc 1.54.0-nightly (cc77ba46f 2021-06-03)

[2021-06-06 01:07] jyn514 commented on #86046
Note that this is a rustc lint, and the false positive also happens with rustc instead of rustdoc.

[2021-06-06 01:16] ZuseZ4 commented on #85354
I added two simplified functions (1a and 1b), one taking the struct and another one taking the arrays directly.
I only access one of those two arrays and here the compiler was able to achieve the same performance for both.

I also ran flamegraph on 2a and 2b.
2b (taking the struct) is roughly 4x slower than 2a.
2a is spending 100% on mark_2(..)
2b is spending 50% on mark_2(..) (in absolute numbers

[2021-06-06 02:11] jyn514 commented on #84619
Well, here's why: https://github.com/rust-lang/rust/blob/6c2dd251bbff03c7a3092d43fb5b637eca0810e3/src/librustdoc/clean/inline.rs#L49-L51

but removing that block breaks rustdoc quite a lot:
[code]

[2021-06-06 02:35] jyn514 commented on #84478
I don't think this is important enough to spend time on an RFC.

[2021-06-06 02:35] #84478 closed

[2021-06-06 02:36] jyn514 commented on #83600
I think this is fixed then? Or at least, this issue isn't tracking anything useful.

[2021-06-06 02:36] #83600 closed

[2021-06-06 02:41] tv42 commented on #76915
What about CMSG_SPACE? Without it, we're forced to either guess or probe the appropriate buffer size.

https://man7.org/linux/man-pages/man3/cmsg.3.html SCM_RIGHTS example shows how it's used to compute the correct buffer size (with some tricky business wrt alignment).

[2021-06-06 02:43] moxian opened #86049 "Missing linker symbols with incremental build"
I'm compiling a project of mine with both --release and incremental. And after a certain code change i'm getting linker errors:

[code]

This is extremely fragile, and almost any attempt to minimize the issue, or even really preserve for posterity is unsuccessful. (as a specific example: this binary depends on another rust project on local filesystem. Trying to move them both to a dedicated place

[2021-06-06 03:13] mr-systems opened #86050 "ICE: `assertion failed: i < this.fields.count()`"
The key line seems to be the `Box::from_raw_in(/*pointer*/, allocator)` where `allocator` is specifically coming out of an Option; other than that I haven't the faintest where this is coming from.

### Code

[code]

### Meta
`rustc --version --verbose`:
[code]

(also breaks on [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8c7a2042edba876663ec5bfd57ad0b7e))

[2021-06-06 04:13] hcsch commented on #42168
Is there any chance of a derive macro for `Step` for C-like enums (probably requiring derived `Ord`) being added? This would allow for iterating over a range of variants of an enum with these derives. I recently wanted this for an enum with variants representing number from 0 to 15 (in my particular case as identifiers for CHIP-8 registers). To me it seems this is generally useful for enums repres

[2021-06-06 04:25] inquisitivecrystal commented on #86049
@rustbot label +A-incr-comp +O-windows-msvc +T-compiler

[2021-06-06 04:36] jyn514 commented on #86050
Duplicate of https://github.com/rust-lang/rust/issues/78459.

[2021-06-06 04:36] #86050 closed

[2021-06-06 05:58] carbotaniuman commented on #77745
Could we add a const function for canonlicalizing the bits of a NaN, and CTFE error ia NaN is returned without going through that function? Although I'm not sure this level of dynamic checks would really be appropriate.

[2021-06-06 06:33] LinkTed commented on #76915
Hi @tv42,
what are the difference between `CMSG_SPACE` and `CMSG_LEN`?

Is there a function, which calculate the alignment for a struct to a specific address in Rust?

[2021-06-06 07:01] jsgf commented on #64191
I tried using the -Zno-link/-Zlink-only mechanism in earnest, and unfortunately I think its deficient in a number of ways. More detail: https://internals.rust-lang.org/t/alternative-approach-to-zno-link-zlink-only-split-linking/14842