[2020-08-17 03:52] #74658 closed

[2020-08-17 04:05] WildCryptoFox commented on #65934
(Still triggers ICE on latest nightly)

[2020-08-17 04:09] ayushmishra2005 commented on #72658
@ogoffart @davidtwco I would like to pick this issue. Can you please guide me?

[2020-08-17 04:21] Nicholas-Baron commented on #75612
What is the output of `lscpu`, specifically the 'flags' category? There may be some flag that the compiler assumes is enabled, when it is not truly enabled.

Is there a way you could use `gdb` or some other tool to determine what instruction causing the issue or even what function it is in?

[2020-08-17 05:01] quark-zju opened #75614 "MSVC LNK2001 errors when building rustc-dev example code"
I tried compiling code from https://rustc-dev-guide.rust-lang.org/rustc-driver-interacting-with-the-ast.html:

<details>
  <summary>Full source code (taken from rustc-dev-guide with minor edits)</summary>

[code]

</details>

I expected the code to compile. Instead, I got link.exe warning and error:

    note: LINK : warning LNK4098: defaultlib 'libcmt.lib' conflicts with use of other libs; use /N

[2020-08-17 05:48] EllenNyan commented on #75080
I'd like to do:
- library/std/src/error.rs
- library/std/src/alloc.rs
- library/std/src/env.rs

[2020-08-17 05:59] Nicholas-Baron commented on #75550
I started writing a naive implementation.

1. `Name` would have to be `pub` if the `name` field in `SourceFile` is `pub`
2. `Name` has to derive the following at a minimum: Clone, Debug, PartialEq, Eq, Encodable, Decodable, Display
3. There are some places in the current code where whether a file was remapped is not taken into account. Should there be something like `fn unwrap(&self) -> FileName`

[2020-08-17 06:01] lzutao commented on #75550
Nice, could you open a draft PR?

[2020-08-17 06:14] Nicholas-Baron commented on #75550
@lzutao Draft PR opened.

[2020-08-17 06:18] Nicholas-Baron commented on #75550
@rustbot claim

[2020-08-17 07:36] bugadani opened #75617 "--emit=llvm-ir produces code that LLVM can't compile"
[Example](https://rust.godbolt.org/z/KbjdvG)
[Example with optimizations enabled](https://rust.godbolt.org/z/exn63o)

What I expected: LLVM successfully compiling the IR (which is the same as rustc emits)
What happened: various errors depending on the rustc optimization settings.

[2020-08-17 07:52] Nemo157 commented on #32553
`no_std` doesn't seem relevant, removing it from the reduced testcase still fails to add a "Mtehods from Deref<Target = str>" section (though it does create a broken link to it in the sidebar).

[2020-08-17 08:07] weiznich commented on #75542
Replacing the `impl_sql_type` with

[code]

speeds up the compile time for large tuples drastically. This is only replacing the recursive "calculation" of the associated type with an explicit version for each tuple size, so instead of having `type IsNull = <FirstTupleElement as OneIsNullable<<(All, Other Tuple, Elements, …) as SqlType>::IsNull>::Out;` we write now `type IsNull = <FirstTupleElement

[2020-08-17 08:24] ollie27 commented on #75612
This is a bit of a guess but `cloudflare-zlib` which is a dependency of `oxipng` is compiled with AVX enabled on Windows MSVC: https://gitlab.com/kornelski/cloudflare-zlib-sys/-/blob/c70f245e7c9533984aac95a28caed78df39e500a/sys/build.rs#L37. The i5-650 doesn't support AVX which would explain the illegal instruction. It would be worth checking if this also reproduces with the `x86_64-pc-windows-gnu

[2020-08-17 08:42] matklad commented on #75550
Super drive by comment, but my gut feeling is that the better fix is to add a type for `(name, name_was_remapped, unmpapped_path)` triple, rather than go for surface level refactoring of eliminated the bool.

Wild-guessing even further, I'd suggest

[code]

[2020-08-17 08:51] infinity0 commented on #75362
@Mark-Simulacrum a basic test that just builds in two different paths, then compares the resulting artifacts, would already be useful and cover most regressions. The two top-level source directories should have different names - very occasionally builds could depend on that inappropriately.

To get more sophisticated you can vary things like system time, username, timezone, locale, hostname, etc.

[2020-08-17 08:52] tirr-c commented on #75418
I'd like to work on this. I've found a similar logic on reporting if-else type mismatch, maybe this could be done in that way.

[2020-08-17 09:32] RalfJung commented on #75402
A possible concern for stabilization is that these methods will be somewhat redundant if we end up deciding that references do not have to point to valid data -- though maybe reflecting the initialization state is a good idea even in that case? Also it seems likely that some `T` will *not* allow uninitialized references, i.e., there is demand for making `&!` uninhabited.

[2020-08-17 09:34] bugadani opened #75618 "Strings are not optimized as vector of characters"
This might be a long shot, but it would be really nice if Rust could do this. I'm working on an embedded application, where I draw some text. For a single symbol, I need to use a different font than I use to draw the rest of the text. Right now, Rust doesn't know that I use a single character and the binary contains all of the unnecessary text processing code to map that character to an index and

[2020-08-17 10:19] mati865 commented on #75612
I don't think `cloudflare-zlib` does support MinGW.

[2020-08-17 10:23] lzutao commented on #75618
You want `str::bytes` to the compiler to optimize it out.

[2020-08-17 10:25] bugadani commented on #75618
But I need characters, not bytes :)

[2020-08-17 10:26] lzutao commented on #75617
Because the IR you copied is incomplete.
![image](https://user-images.githubusercontent.com/15225902/90386405-b98a4780-e0ae-11ea-9561-ad37c3085ec9.png)

[2020-08-17 10:27] lzutao commented on #75618
I don't know if rustc could be able to decode utf-8 at compile time.
At least those utf-8 decode functions are not const fn.

[2020-08-17 10:27] bugadani commented on #75617
Ah, shoot, thanks!

[2020-08-17 10:27] #75617 closed

[2020-08-17 10:29] LeSeulArtichaut commented on #75597
I can't reproduce this issue on latest nightly (7e6d6e5f5 2020-08-16), using the following commands:
[code]

However, I can reproduce it on nightly-2020-08-14 with the same commands, so this issue appears to already be fixed. @little-arhat are you still encountering issues with the latest nightly?

[2020-08-17 10:40] workingjubilee commented on #75429
If you mean "higher kinded types" that's part of what "generic associated types" ([RFC 1598]) are for. But I agree that this would be a Cool Trait To See at some point.

[RFC 1598]: https://rust-lang.github.io/rfcs/1598-generic_associated_types.html

[2020-08-17 11:05] jonas-schievink commented on #68324
Maybe try this with https://github.com/rust-lang/rust/pull/69010 applied? The only case of superlinear compile times in the number of impls that I know of is coherence checking, but that is supposed to be O(n²) only, not exponential.

[2020-08-17 11:08] matklad opened #75619 "Switch rustdoc from `lexer::StringReader` to rustc_lexer"
In #75528, we would like to tweak the structure of the tokens rustc uses. One of the components which heavily depends on the current structure is `rustdoc` (`html` and `check_code_block_syntax` module use `lexer::StringReader`).

I think, for this issue and in general, it makes sense to switch `rustdoc` over to `rustc_lexer`, which produces lower-level guaranteed lossless tokens, which look like a

[2020-08-17 11:26] robinkrahl opened #75620 "Misleading documentation for derived Ord/PartialOrd implementation for enums"
The documentation for the `Ord` and `PartialOrd` traits says:

But apparently, the derived implementation actually orders the variants by their discriminant.  The discriminants do not necessarily match the declaration order.

I tried this code ([gist](https://gist.github.com/rust-play/9b191dbd8f08951dea3ed5173b73a9f1), [Rust Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition

[2020-08-17 11:37] RalfJung opened #75622 "rustdoc: "Type -> *" search does not work."
The rustdoc help says:

Based on this example, I expected the natural generalization `vec -> *` to also work and show all functions that take a vec as input, but that query shows no result at all. I am not sure if there is any way to show "all functions that take `T` as input", which is surprising given that the same is possible for the return type.

[2020-08-17 11:39] RalfJung opened #75623 "rustdoc: confusing use of "type""
The rustdoc help says

However, in Rust lingo, `struct` or `enum` isn't a "type". `Vec<i32>` is a type. And `macro`, `trait` and `const` certainly aren't "types".

IMO this should at least be qualified to something like "item type", but I think "item kind" would be even better.

[2020-08-17 11:45] little-arhat commented on #75597
@LeSeulArtichaut  indeed, this seems to be fixed already, thanks!

[2020-08-17 11:48] juanitotc opened #75624 "rust will not compile natively on RPi4 aarch64"
I've compiled rust-1.42.0 natively on x86, x86_64 and RPi4 armv7 hardware, but cannot get it to compile on RPi4 aarch64.

Using clang/llvm-10.0.0, gcc-10.1.0, glibc-2.31, it fails as per below, what is the best way to trouble-shoot?

[code]

[2020-08-17 11:54] jonas-schievink commented on #75624
You're probably running out of memory

[2020-08-17 12:02] LeSeulArtichaut commented on #75597
Would this be worth finding a test to prevent future regressions? cc @wesleywiser

[2020-08-17 12:13] oli-obk commented on #75586
One data point I want to bring up is https://github.com/rust-lang/rfcs/pull/1229#issuecomment-126410493

From that reading I'm getting the vibes that @nikomatsakis would be mostly fine with hard erroring on promotion or even const propagation of failing code in const fn. But since we did not address this during the stabilization of `const fn`... this train probably left?

[2020-08-17 12:22] AndiDog commented on #63033
Here's another very simple example:

[code]

[code]

Removing **any** of the 3 parameters makes the code compile. Alternatively, removing the static lifetime of `_a` (→ `_a: &str`) makes it compile as well.

[2020-08-17 12:23] RalfJung commented on #75586
The reason promotion in `fn` is subtle is that it needs to be codegen'd, and we cannot say if the code we are generating will ever evaluate or not. There might be things like
[code]
which would never cause div-by-zero at runtime, but will have a failing CTFE query during codegen if `T::ASSOC` is 0.

And all of this applies equally to `const fn`! They are still `fn`, subject to codegen, and thus ha

[2020-08-17 12:45] RalfJung commented on #71706
@alexcrichton do you have any idea why backtraces are formatted inconsistently between panics and `std::backtrace`?

[2020-08-17 12:45] RalfJung commented on #75622
Cc @rust-lang/rustdoc

[2020-08-17 12:46] RalfJung commented on #75623
Cc @rust-lang/rustdoc

[2020-08-17 12:50] RalfJung commented on #74840
Yeah, the problem is here already:
[code]
We are embedding the const at *reference* type (note that `&!`), which is wrong.

Maybe @matthewjasper knows more about how/why this happens.

[2020-08-17 12:50] RalfJung commented on #74843
Closing in favor of https://github.com/rust-lang/rust/issues/74840.

[2020-08-17 12:55] RalfJung commented on #74836
Hm, why does this even build? Usually array initializers only work for `Copy` types.

Is there a special case for when the array length is <= 1? I guess then we also need a special case during drop elaboration (or so) for when the array length is exactly 0?

Cc @matthewjasper @nikomatsakis (not sure who else to ping for MIR stuff)

[2020-08-17 13:05] wesleywiser commented on #75597
@LeSeulArtichaut Yeah, that seems like a great idea!

[2020-08-17 13:26] lcnr opened #75627 "Weird error when implementing Send with a nonexisting type param"
[code]
results in
[code]
The second error is incorrect and quite confusing.

[2020-08-17 13:41] oli-obk commented on #74840
The fix is described in https://github.com/rust-lang/rust/issues/74840#issuecomment-665667945

[2020-08-17 13:53] LeSeulArtichaut commented on #75597
The ICE desappears in nightly-2020-08-16, so the fix should be contained in 8e21bd0633b8d970646ee6eb706c9e8acfad19af...9b88e0a8667040452a94fda8548f0f5f0f801f90.

[2020-08-17 13:54] JGFMK opened #75628 "Confusing terminology with compiler message for traits "parenthetical notation""
Can we perhaps have something more in layman's terms?
Something akin to:
"you have used () for in a trait when you should have used <> instead"

More info [here](https://stackoverflow.com/questions/46615275/how-can-i-define-a-trait-with-arguments-and-return-types-like-fn/46615691?noredirect=1#comment112199846_46615691)

[2020-08-17 14:14] rust-highfive opened #75630 "`miri` no longer builds after rust-lang/rust#75592"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#75592, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @RalfJung, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-08-17 14:42] bjorn3 commented on #75622
![image](https://user-images.githubusercontent.com/17426603/90408816-aaa09680-e0a8-11ea-9ac7-39ea976503e7.png)

[2020-08-17 14:45] alexcrichton commented on #71706
Hm I'm not sure why this is inconsistent. It looks like it's all using the same things internally, but I don't have a Linux machine right now to test with unfortunately.

[2020-08-17 14:47] RalfJung commented on #75622
Ah, I somehow never even noticed these tabs. Thanks!

Seems strange though that of the two tabs on the right, one has a short-hand via the search box ("in return types"), but the other does not.

[2020-08-17 14:50] nixphix commented on #75080
Working on  `library/std/src/sys/unix/ext/*.rs`

[code]

[2020-08-17 14:51] juanitotc commented on #75624
Thanks - the build is still on-going, but since it got much further, I presume that a lack of ram was the problem.

Strange that I don't recall having to activate a swap file for the RPi4 armv7 build.

Surely the error message could indicate an out of memory event?

[2020-08-17 14:53] jonas-schievink commented on #75624
No, Linux just kills the compiler via the OOM killer, there's no way to catch that.

[2020-08-17 14:57] Dylan-DPC commented on #67418
@rustbot release-assignment

[2020-08-17 14:57] utoalex opened #75632 "Using boolean operations with match expressions yields unexpected compiler errors"
Hi Rust team! First of all, sorry if this has been already reported, but I couldn't find any issue related to this one.

Using a `match` expression as a `bool` and combining it with other `bool`s using boolean operators yields compiler errors which appear to be unexpected.

Example code that reproduces the compiler errors:

[code]

This yields the following compiler errors:

[code]

It looks like

[2020-08-17 14:58] jyn514 commented on #75197
Closing since https://github.com/rust-lang/rust/pull/75366 is merged, hopefully that will make this easier to find.

[2020-08-17 14:58] #75197 closed

[2020-08-17 15:03] CohenArthur commented on #67418
I'd like to work in this if @Areredify is not on it anymore @Dylan-DPC

[2020-08-17 15:10] estebank commented on #75632
Output in [nightly](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=42e57d6fe938dd3e1d10206ea3a8db93) after https://github.com/rust-lang/rust/pull/74650:

[code]

[2020-08-17 15:20] Mark-Simulacrum opened #75633 "wasm emscripten tests for std/alloc/core/etc not running"
We attempted to re-enable these in #75380 but that failed with a [linker error](https://github.com/rust-lang/rust/pull/75380#issuecomment-672194922).

[2020-08-17 15:24] utoalex commented on #75632
Oh my, my nightly compiler was not up-to-date, sorry.
Closing this issue then.

[2020-08-17 15:24] #75632 closed

[2020-08-17 15:37] Dylan-DPC commented on #67418
@CohenArthur generally it's fine if it's 3 months and there is no pr from the author. you can start working on it

[2020-08-17 15:38] CohenArthur commented on #67418
Gotcha, thanks

[2020-08-17 15:42] Manishearth commented on #75619
sgtm

[2020-08-17 15:57] estebank commented on #75418
@tirr-c that would be great! That code would probably work with very little modification. If it does, please extract it to a method called from both places :)

[2020-08-17 16:27] oli-obk commented on #74747
@pawanbisht62 `bors` is a bot, You can just post messages like the one you did in this issue without pinging it. We just need to ping it when giving it commands to merge PRs

[2020-08-17 16:52] LeSeulArtichaut commented on #75612
@rustbot ping windows
Maybe someone can look into this? In particular, I think checking @ollie27's hypothesis would be great

[2020-08-17 16:55] pickfire opened #75636 "Better codegen for FromIterator Box<[T]>"
`Box<[T]>` requires 2x assembly (96 -> 185) compared to `Vec<T>`. I think this could be improved.

[code]

[code]

Looking at the generated code, looks like some extra unnecessary checks were added.

https://godbolt.org/z/c9ffTT

However, this does not affect the following.

[code]

I will be taking a look at this in the meantime while looking at `join` for `Iterator`. I wish an `assert` could sol

[2020-08-17 17:02] Lokathor commented on #53827
https://docs.rs/bytemuck/1.3.1/bytemuck/allocation/fn.zeroed_box.html is also an option for many of these cases.

[2020-08-17 17:04] workingjubilee commented on #75618
A String conceptually wraps a Vec of u8s, a char wraps a u32, so a Vec of chars would be a non-optimization here. Can you not render a [char literal](https://doc.rust-lang.org/std/primitive.char.html)?

[2020-08-17 17:08] pickfire opened #75638 "Tracking Issue for Iterator::join"
This tracking issue is to create a more ergonomic method to `join` on `Iterator` without collect. Hopefully, we can do some optimizations on top of it but I haven't think of any case to improve it.
The feature gate for the issue is `#![feature(iterator_join)]`.

Before

[code]

After

[code]

It makes use of `Join` under `slice_concat_trait` feature https://github.com/rust-lang/rust/issues/27747 a

[2020-08-17 17:12] bugadani commented on #75618
Oh I was no way suggesting that a str should represent a Vec<char>, I see putting it like that was unfortunate. Instead, what I want from rustc is to understand that a "literal".chars() could be treated similarly. Iterating through characters and elements of a vector are optimized radically differently, and as I understand (and as @lzutao said) this is probably because the decoding is not const.

[2020-08-17 17:19] BusyJay opened #75640 "false positive in MemorySanitizer when writes are done in a FFI call"
I tried this code:

[code]

I expected to see this happen:
Running with memory sanitizer should exit normally.

Instead, this happened:
[code]
It failed when running the assert check in the last for loop.

However, if I uncommented the first for loop in above code, the program could exit normally. This seemed to be conflict with what the sanitizer suggested. If there was any variable uninitialized

[2020-08-17 17:24] BusyJay commented on #75640
Reproduced it with latest nightly:
[code]

[2020-08-17 17:59] leonardo-m commented on #75636
I opened multiple threads on related topics,  like:
https://internals.rust-lang.org/t/more-efficient-boxed-slice-creation/12271

[2020-08-17 18:02] nikomatsakis commented on #38078
chalk will not resolve this without more work, though we did have some experimental ideas for how to resolve it.

[2020-08-17 18:02] nikomatsakis commented on #64552
I wasn't at the lang team triage meeting, but I do think that's largely right. It's basically a question of implementation doing "the best it can"

[2020-08-17 18:03] leonardo-m commented on #75638
Very good. After this, a basic feature that's still missing in Rust stdlib is to be able to print the items of a lazy iterable (with no vec conversions first), useful for debugging, etc. (This feature is already available in Itertools).

[2020-08-17 18:15] alex commented on #75640
Did you compile lz4 with msan?

Unlike ASAN/UBSAN, for MSAN, _all_ code linked into the process needs to be compiled with MSAN. You can't use normal distro libraries for things.

[2020-08-17 18:28] BusyJay commented on #75640
I'm not sure. Is there anything needs to be taken care of by cc? It seems it just invokes cc normally.  https://github.com/10XGenomics/lz4-rs/blob/master/lz4-sys/build.rs

[2020-08-17 18:30] alex commented on #75640
AFAIK, `cc` does not automatically pass the sanitizer used to compile Rust code down to the compiler used to compile C code. Whether this is a bug in `cc` or in every package that uses `cc` is someone who isn't me's decision.

[2020-08-17 18:34] jyn514 opened #75643 "Intra-doc links should work for deref methods"
I tried this code:

[code]

I expected to see this happen: A link to https://doc.rust-lang.org/std/vec/struct.Vec.html#method.get

Instead, this happened: The link wasn't resolved, because `get` is a method on slices, not `Vec` itself.

[2020-08-17 18:53] Amanieu commented on #74558
It seems that this is caused by LLVM's assembler interpreting `1b` as an x86 binary literal rather than as a label. The workaround is to avoid using the `0:` and `1:` local labels for intel-syntax x86 code.

[2020-08-17 19:33] petrochenkov commented on #75550
Yeah, https://github.com/rust-lang/rust/pull/75616 looks like a regression rather than improvement to me.

[2020-08-17 19:37] vkcz commented on #75612
I was using Cygwin.

I'll try that soon.

[2020-08-17 19:38] GuillaumeGomez commented on #75619
I'm fine with it as well. :)

[2020-08-17 19:41] scottmcm commented on #65512
We talked about this in the lang team triage meeting today, in the context of https://github.com/rust-lang/lang-team/issues/44.

The zulip thread (<https://rust-lang.zulipchat.com/#narrow/stream/243200-t-lang.2Fmajor-changes/topic/MCP.3A.20per-edition.20preludes.20lang-team.2344/near/205701158>) raised a question about how this is going to interact with name resolution in macros.  We'd appreciate

[2020-08-17 19:50] Nicholas-Baron commented on #75550
@petrochenkov @matklad I have started working on the suggestion. The crate itself and some of its dependents compile.

[2020-08-17 20:00] ice1000 commented on #29641
Yes.

[2020-08-17 20:05] poliorcetics commented on #75080
Doing `library/std/src/keyword_docs.rs`

[2020-08-17 20:29] retep998 commented on #75612
`cc.flag_if_supported("/arch:AVX");` is definitely flat out wrong if intending to run the software on CPUs without AVX support. What is the current recommended approach to identifying the CPU target features for the target from the build script?

[2020-08-17 21:01] digama0 opened #75647 "Can't `as` cast Void to usize"
[code]
As reported on Zulip: https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/void.20as.20usize

This works for simple enums with one or more variants, but for zero it fails, possibly due to interaction with `#[repr(C)]`. This kind of code can come up in macro code.

cc @RalfJung

[2020-08-17 21:26] jyn514 commented on #75643
Note that this currently means `Vec::get` can't be linked to at all because of https://github.com/rust-lang/rust/issues/63351.

[2020-08-17 21:26] LionsAd commented on #74870
I guess I should present this as a RFC in the forum instead?

[2020-08-17 21:38] ollie27 commented on #75612
@vkcz could you try a different deflate implementation (i.e. passing `--zopfli` or `--libdeflater` to `oxipng`)? If they work it would suggest the issue is with `cloudflare-zlib`.

[2020-08-17 22:44] mankinskin commented on #75429
I bumped into this when I noticed that `std::poll::Poll` does not implement `and_then`, which seemed weird, because `Poll` is basically an `Option`, structurally and conceptually. But it is nice to know that these kinds of features are already desired and being worked on. I will see if I can contribute something helpful aswell.

[2020-08-17 23:16] #60607 closed

[2020-08-17 23:16] #61019 closed

[2020-08-17 23:20] mankinskin opened #75650 "Improve RFC/Issue browsing and open source project collaboration"
Hello, I am very inspired by the whole Rust project, and can see it going a very long way. I would like to contribute, to advance the project further and take influence. As a newcomer, I find it hard to get an overview of the project state. What are the suggestions (RFCs), what state are there in, where can I find the related discussions, what work has been done related to those issues, to give so

[2020-08-18 00:19] Lonami commented on #75650
I think this might be better suited for discussion in the https://internals.rust-lang.org forum.

[2020-08-18 01:36] #75650 closed

[2020-08-18 01:40] lzutao commented on #75588
This is a regression from stable-to-nightly: https://doc.rust-lang.org/1.45.2/std/slice/trait.Join.html and beta one has Implementors section.

cc @jyn514

[2020-08-18 02:25] pickfire commented on #71861
This might have affected `FromIterator` too https://github.com/rust-lang/rust/issues/75636#issuecomment-675026729

[2020-08-18 02:35] pickfire commented on #75638
That is not quite true, I still have yet figured out a way to do that without doing a vec conversion first. If you don't do a vec conversion, you need to allocate N times the iterator length + N - 1 times for the separator. But if you do the conversion first, you only need to allocate once for the vec and once for the converted size, I think it probably could be done but I haven't figure it out ye

[2020-08-18 03:04] #75581 closed

[2020-08-18 05:49] lassade commented on #62743
After bit of digging, I figure out that we only need these functions for completeness.

Who ever want need these functions should instead use [`core::ptr::copy_nonoverlapping`](https://doc.rust-lang.org/core/ptr/fn.copy_nonoverlapping.html) the assembly generated is optimum:

1. clang with intrinsic: https://godbolt.org/z/3GcGvE
2. rust version: https://play.rust-lang.org/?version=stable&mode=rele

[2020-08-18 06:13] RalfJung commented on #75340
With https://github.com/rust-lang/rust/pull/75578 having landed, is there anything left to do here?

[2020-08-18 06:49] oli-obk commented on #75340
depends on whether we want this to work without the `const_raw_ptr_deref` feature gate. It's not actually a deref, it's a raw pointer reborrow of sorts.

[2020-08-18 06:51] RalfJung commented on #75340
For me, "deref" is the `*` operator. So the gate makes sense for that.

Closing then.

[2020-08-18 06:51] #75340 closed

[2020-08-18 06:59] bkolobara commented on #72016
I have noticed that Call Frame Information directives like `.cfi_*` are ignored in the new syntax. Maybe it would be a good idea to have a warning instead of silently ignoring them.

Also it looks to me like they can be really useful in naked functions to give hints to the debugger/unwind. Could there be an option to not skip them?

[2020-08-18 07:05] RalfJung commented on #75647
I think for zero-variant enums it fails mostly as an oversight. This doesn't even have to generate any MIR as it is unreachable code anyway.

Nominating for lang team discussion.

[2020-08-18 07:19] digama0 commented on #75647
From the head comment at https://github.com/rust-lang/rust/blob/7189ca604ad5d9dfff7d0aeef6a42c89d73cbac7/src/librustc_typeck/check/cast.rs#L10, I infer that this is indeed only designed to work with C-style enums. My proposal would be to add another cast category saying that empty enums can `as` cast to anything, desugaring to `match x {}`.

[2020-08-18 07:24] RalfJung commented on #75647
No, enum casts have nothing to do with C-style enums. This works:
[code]

[2020-08-18 07:25] RalfJung commented on #75647
Oh, the comment says "C-like". That's not the same as `repr(C)`.
"C-like" just means that all enum variants have no data. This is satisfied by `Void` -- there are no enum variants, and thus all of them have no data.

[2020-08-18 07:40] digama0 commented on #75647
Here's the offending check:
https://github.com/rust-lang/rust/blob/668ef72f4429059240ee361a2f0f748558a5326f/src/librustc_middle/ty/mod.rs#L2497-L2499

It seems that the "payload-free" check is not just "all variants have no data" but also "it is not empty". I would hesitate to change this definition because it's likely to affect C-like enum handling elsewhere, but maybe `CastTy` can get another cl

[2020-08-18 07:45] RalfJung commented on #75647
I'd argue a no-variant enum is payload-free. But all uses of that function should be carefully checked.

Adding a new case to `CastTy` seems like a hack to me.

[2020-08-18 08:21] scileo commented on #75492
Hello,
I am a quite new contributor, and I'd like to tackle this issue. Do you think that is possible?

I have looked a bit at the code, and I think this mostly comes from the [`parse_args`] function, more precisely, [this condition][cond] can be tweaked. Is that correct?

[`parse_args`]: https://github.com/rust-lang/rust/blob/668ef72f4429059240ee361a2f0f748558a5326f/src/librustc_builtin_macros/fo

[2020-08-18 08:41] mati865 commented on #32859
@infinity0 Rust uses pthreads so that toolchain would have to be posix+dw2.

[2020-08-18 09:11] GuillaumeGomez commented on #75643
I need to get back to the fix and understand what changes between the two.

[2020-08-18 09:13] leonardo-m opened #75659 "Badly optimized small bytes array search"
[code]
When T is u16, u32, u64 or u128 the generated code is reasonable, like for u32 (rustc 1.47.0-nightly 7e6d6e5f5 2020-08-16, using -C opt-level=3 and more):

[code]
But when T is u8 or i8 it looks sub-optional for small arrays, because for such tiny arrays the overhead of calling another functions is bad:

[code]

[2020-08-18 09:31] mati865 commented on #74517
You are probably using armv7 linker assuming Debian and Ubuntu packages are the same:
[code]
Notice `--with-arch=armv7-a` here.
For Pi Zero I guess you need armv6 linker.

@rustbot modify labels: -E-needs-bisection

[2020-08-18 09:56] matklad opened #75660 "By default, print the total time taken to execute a test suite"
At the moment, the test output looks like this:

[code]

It would be very helpful if the last line said

[code]

I think we should print this by default, without any kind of flag.

This is related, but not equal to `--report-time` options: https://github.com/rust-lang/rust/pull/64663

cc @jakoschiko

[2020-08-18 10:22] CohenArthur commented on #67418
@rustbot claim

[2020-08-18 10:33] Lonami opened #75661 "Clarify use cases for Option is_some and is_none"
Bringing this from a [Reddit comment on Beginner's critiques of Rust](https://www.reddit.com/r/rust/comments/hzx1ak/beginners_critiques_of_rust/fzn8exa):

Maybe the documentation could include something along the lines of showing the moral equivalent:

Personally I think this is a bit long-winded, but it might help people coming to the language with a different mindset. Definitely needs better wor

[2020-08-18 10:34] Lonami commented on #75661
@rustbot modify labels: T-doc, C-enhancement

[2020-08-18 10:50] FabianWolff opened #75662 "Retrieving closure signature causes panic"
I have been trying to write a compiler plugin which, at some point, has to retrieve the signature of a closure. There seems to be a recommended way of doing it, described [here](https://github.com/rust-lang/rust/blob/4717cf2fcbde585d81c47417b1fb921572a3c537/src/librustc_typeck/collect.rs#L1576), but calling this function [as described](https://github.com/FabianWolff/rustc-cl-sig-mwe/blob/ce9b269bc

[2020-08-18 11:30] AqlaSolutions commented on #34502
It seem natural to support Windows JIT Debugger attaching same as in C++, I'm surprised this is not implemented yet.

[2020-08-18 11:54] jyn514 commented on #75643
FWIW I don't think this ever worked, it just wasn't implemented.

[2020-08-18 12:00] GuillaumeGomez commented on #75643
It never did, I was referring to my PR to fix primitive discoverability.

[2020-08-18 12:05] Amanieu commented on #72016
CFI directive should work exactly the same way they did in `llvm_asm!`. There has been no change to the handling of assembler directives.

[2020-08-18 12:22] stream-punk opened #75667 "recursions segfault on x86_64-unknown-linux-musl as target or host"
I tried this code:

[code]

I expected to see this happen: It should cause a runtime-error.

Instead, this happened: Segmentation fault

### Meta

It happens with (on an alpine linux a musl-distro):

`rustup run nightly-x86_64-unknown-linux-musl rustc segv.rs && ./segv`:

[code]

`rustup run nightly-x86_64-unknown-linux-musl rustc --version --verbose`:

[code]

It does not happen with (on fedora):

[2020-08-18 12:30] etherealist commented on #70727
Is this the same issue or should I open an extra issue:

[code]

This does not generate any recursion warnings.

On musl any recursions segfault, which I reported here: #75667. The above was my original case, util I realized that it segfaults for any recursions.

[2020-08-18 12:35] RalfJung commented on #74840
@oli-obk I am not sure if that is the right fix, or at least not a complete one. For this code:
[code]
I'd expect no reference to be created. This makes a difference when there's invalid data in `FOO`.

[2020-08-18 12:36] jonas-schievink commented on #70727
@etherealist Yeah, same issue

[2020-08-18 12:41] juanitotc commented on #75624
Anyway it compiled and works :)

[2020-08-18 12:41] #75624 closed

[2020-08-18 12:44] oli-obk commented on #74840
there can't be invalid data for `FOO`, unless `FOO` is extern, and my fix suggests to make using an extern static create a raw pointer just like we do with mutable statics.

[2020-08-18 12:47] mankinskin commented on #75650
Sure, right. I wasn't thinking.

[2020-08-18 12:55] RalfJung opened #75668 ""-A warnings" cannot be overwritten later by `#[warn]` (but other "-A lint" can)"
Given the following code
[code]
running `rustc -A unused test.rs` shows a warning that `x` is unused as expected (since the module scope takes precedence over the command-line arguments). However, `rustc -A warnings` prints nothing.

This is caused by the following special handling:

https://github.com/rust-lang/rust/blob/01ffbcbeed39b71c9939c7e67e39e59a5a09b254/src/librustc_session/session.rs#L10

[2020-08-18 12:56] jyn514 opened #75669 "Rustdoc shouldn't collect all attributes into a single string when parsing markdown"
Unfortunately, the API seems pretty limited: https://docs.rs/pulldown-cmark/0.7.2/pulldown_cmark/struct.Parser.html

So until it's being extended, I guess we're kinda stuck with this extra allocation...

_Originally posted by @GuillaumeGomez in https://github.com/rust-lang/rust/pull/75665_

[2020-08-18 12:59] GuillaumeGomez commented on #75669
To be checked but I \*think\* we could extend their API to allow them to take an iterator over `char` or something along the line.

[2020-08-18 13:04] RalfJung commented on #45004
Closing as duplicate.

[2020-08-18 13:04] #45004 closed

[2020-08-18 13:06] jyn514 commented on #75254
This could look something like this, with the items as a sub-section under the file. My ASCII art isn't particularly pretty, I'm not tied to exactly this:

[code]
+-------------------------------------+------------+------------+------------+
| File                                | Documented |      Total | Percentage |
+-------------------------------------+------------+------------+------------+

[2020-08-18 13:07] RalfJung commented on #74840
There can be invalid data. `FOO` could be interior mutable and somebody could cast a pointer to it to a different type, and write data that is invalid at `FOO`'s type.

[2020-08-18 13:11] jyn514 commented on #75034
Closing as duplicate of https://github.com/rust-lang/rust/issues/71818

[2020-08-18 13:11] #75034 closed

[2020-08-18 13:20] bkolobara commented on #72016
I just made  a small test app:
[code]

If i dump the DWARF info with: `objdump -r target/debug/libdump_tmp.rlib` I get:
[code]

There is no DWARF info for the second function.

Can it be that the `nounwind` option dismisses the the CFI information from the final result?

[2020-08-18 13:20] m-ou-se commented on #72649
@mpfaff That sounds like a different issue. This issue is about a confusing error message. The example is supposed to not compile. If the compiler rejects correct code, that's another issue.

[2020-08-18 13:22] oli-obk commented on #74840
I was under the impression that it's UB to have a (non extern) static that has invalid data. I thought static items and local variables had the same rules with that. Is there any discussion about this? Because it's definitely news to me.

[2020-08-18 13:27] davidtwco commented on #72658
@ayushmishra2005 Unfortunately, I'm not sure what changes would be required here without digging into the code for a while - perhaps you could look into another issue?

[2020-08-18 13:30] Amanieu commented on #72016
Since `asm!` uses intel syntax by default you need to use `rbp` instead of `%rbp`.

[2020-08-18 13:44] bkolobara commented on #72016
Thanks! I would have never figured this out. It's a bit unfortunate that the CFI directives just compile even with incorrect syntax.

[2020-08-18 13:58] lzutao commented on #75659
I think that's because for we use rust-implemented memchr:
https://github.com/rust-lang/rust/blob/01ffbcbeed39b71c9939c7e67e39e59a5a09b254/library/core/src/slice/mod.rs#L6739-L6768
While clang has built-in memchr: https://clang.llvm.org/docs/LanguageExtensions.html#string-builtins

[2020-08-18 14:02] RalfJung commented on #74840
It's the same for statics and locals. There is nothing [in the UB list](https://doc.rust-lang.org/reference/behavior-considered-undefined.html) that says that locals or statics always have valid data. It only says you may not create invalid data. Through pointer type casts, it is possible to havie invalid data in a local without ever creating invalid data. Whether we want to do something about thi

[2020-08-18 14:23] #75442 closed

[2020-08-18 14:24] oli-obk commented on #74840
oh wow... ok. We'll need to rewrite the entire system around `StaticRef` in that case. I guess what we need to do is to translate `ExprKind::Ref(ExprKind::Path(name_of_static))` directly instead of recursing when encountering `ExprKind::Ref` and translating `ExprKind::Path` to `*&STATIC`. The good thing if we do this is that we can get rid of some hacks in promotion and const checking.

[2020-08-18 14:37] Dylan-DPC commented on #74840
I'm not sure if this issue classifies as "E-Easy" any more :D

[2020-08-18 15:16] fizysky commented on #25289
ubuntu 18 LTS
first add I `--verbose`
`$ cargo build --verbose`
after that i have notice (using command `top`) that cargo took all available resources,
so after that I add `--jobs 1`
`$ cargo build --release --verbose --jobs 1`
and then I get error about missing lib,
after installing missing lib it run without any problems

[2020-08-18 15:23] RalfJung commented on #74840
Not sure if we need to rewrite the entire system... an alternative might be to always use raw pointers, but make unsafety checking recognize these derefs of const raw ptrs that point to a `DefId` of the right type... or maybe they are marked somehow in the MIR.

[2020-08-18 16:18] #75630 closed

[2020-08-18 16:20] poliorcetics commented on #75080
Doing `library/std/src/io/*.rs`. (All files may not need changes)

[code]

[2020-08-18 16:33] squeaky-pl commented on #67728
I've seen that related parts of const generics landed. As of now this does compile out of the box on nightly: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018 so I think there's not much to do here

[2020-08-18 16:33] #67728 closed

[2020-08-18 16:35] scileo commented on #75492
Turns out I was terribly wrong. The problem is that the following snippet:

[code]

Can be rewritten as:

[code]

And that the [`parse_args`] function looks for an expression as the first argument ([corresponding code][expression], [code example][snippet]). Consequently, `"A number: {}".std` is the said expression, which explain why the error is raised on the first `::`.

Now that I know where the

[2020-08-18 16:45] oli-obk commented on #74840
Stop reading my mind :stuck_out_tongue_closed_eyes:. I considered this, but the complexity for that would imo warrant rewriting the system and simplifying everything. Right now we need to look at a deref, check whether its local is a `StaticRef` local as per debug info, if it is, we need to find the last (and only) assignment to that local and look at the rhs to read the constant and process it. A

[2020-08-18 16:51] otaviopace commented on #62277
I've seen that there's more of this to fix in the code. Can I take it?

[2020-08-18 17:02] otaviopace commented on #62277
If so, here's the Pull Request :slightly_smiling_face:
https://github.com/rust-lang/rust/pull/75673

[2020-08-18 17:58] AndyGauge commented on #75521
I'm going to begin working on this.  Many questions to follow :)

[2020-08-18 18:06] steveklabnik commented on #53046
Triage: there is a very small change now:

[code]

(now says function because it's not a method)

[2020-08-18 18:07] RalfJung commented on #74840
I don't think I follow. My proposed scheme should make the insertion of these pointers simpler -- just always use raw pointers. This is in exchange for a bit more complexity in the unsafety checks (as otherwise all static accesses would be considered unsafe). I am not sure if that's a good tradeoff considering how critical the safety checks are, but it doesn't match what you are saying about this

[2020-08-18 18:07] RalfJung commented on #74840
I like the sound of "simplify everything", but I am not sure what alternative you are thinking of.

[2020-08-18 18:23] nagisa commented on #53224
Should we close this?

[2020-08-18 18:41] JulianKnodt opened #75676 "Certain Proc Macros don't work with Intermixed Const & Type Defaults"
I tried this code:

[playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9e8b059b993bd58f00cc8893e7ca1b39

I expected to see this happen: This should compile without error.

Instead, this happened: Compilation Error, expected const over default type.

### Meta
Nightly version of the rust compiler on the playground.

When compiling with a backtrace it provides

[2020-08-18 18:50] novacrazy commented on #44036
Coming up on the 3rd anniversary of this. Has there been any progress on this issue?

[2020-08-18 18:57] vkcz commented on #75612
Both of these also give `Illegal instruction`.

[2020-08-18 19:03] cuviper commented on #71861
#75677 removes the panic, "Tried to shrink to a larger capacity". However, I think this issue could be further improved if the compiler could also see that it will never need a realloc, since the `vec![0; n]` should be created with the exact capacity in the first place.

[2020-08-18 19:03] Andlon commented on #34666
I think perhaps the current `append` implementation is a little problematic. Arguably, one would expect a "batch" operation like `set.append(other_set)` to be generally the better choice when you have to insert one set into the other, because presumably it is able to take into consideration certain optimizations that can not be made when inserting one item at a time. However, the complexity `O(n +

[2020-08-18 19:04] cuviper commented on #75636
#75677 removes the panic, "Tried to shrink to a larger capacity". However, I think this issue might be further improved if the compiler could also see that it will never need a realloc, if we specialize `TrustedLen` iterators to reserve the exact capacity in the first place.

[2020-08-18 19:29] workingjubilee commented on #75429
Oh, I should note since I missed it, ish: Option and Result impl IntoIterator which is slightly more fundamental to iteration than `iter` method itself, which I believe due to various reasons winds up being more per-case implemented instead of Traitful.

`unwrap` will almost certainly be injectable into the concept of a trait abstracting over T(V, N) -> V, !

You also want to pay attention to the

[2020-08-18 19:42] MikailBag opened #75678 "Confusing error message combining arrays, size_of in a container"
Playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ff721dd90338cf7cfa30b9fe7198db36
This code tries to use  `[u8; std::mem::size_of::<T>()]`, where T is generic parameter. This is currently not supported, so for
`good` function compiler gives helpful error: `constant expression depends on a generic parameter`.
However, for functions `bad1` and `bad2` (where ill-for

[2020-08-18 20:20] simonvandel commented on #75141
@wesleywiser This can be closed, fixed in #75382 , see https://godbolt.org/z/Pzv3vc

[2020-08-18 20:28] wesleywiser commented on #75141
Thanks @simonvandel!

[2020-08-18 20:28] #75141 closed

[2020-08-18 20:30] smarnach opened #75680 "`Index` chosen over `IndexMut` incorrectly, with a confusing error message."
Retrieving an element from a vector of mutable references works fine calling `index_mut()` directly

[code]

but fails when using supposedly equivalent indexing syntax:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c7eb87e0e318ccaf8986ad6e88fb599c))

The error message is rather surprising:

[code]

It's clearly not true that `IndexMut` is not implem

[2020-08-18 20:33] jonas-schievink commented on #75680
Duplicate of https://github.com/rust-lang/rust/issues/72002

[2020-08-18 20:33] #75680 closed

[2020-08-18 20:43] lcnr commented on #75678
This has the same underlying reason as #62708 and should hopefully be converted to a more accurate error once we start stabilizing `min_const_generics`.

[2020-08-18 20:45] smarnach commented on #75680
@jonas-schievink I looked at that issue before filing this bug, but came to the conclusion this is separate. The problem with the error message is the same, but the reason that `Index` is chosen instead of `IndexMut` is a different one. (I should have linked the other issue here.)

[2020-08-18 20:51] jonas-schievink commented on #75680
Hmm, right, this still doesn't work on stable, but https://github.com/rust-lang/rust/pull/72068 is on stable. Any idea what might have fixed your example on beta/nightly?

[2020-08-18 20:53] jonas-schievink commented on #75680
Maybe https://github.com/rust-lang/rust/pull/72280?

[2020-08-18 21:10] shssoichiro commented on #75612
My initial guess was also that this was related to cloudflare-zlib, but that shouldn't be triggering with zopfli or libdeflater.

[2020-08-18 21:17] smarnach commented on #75680
Huh, I didn't realize it's fixed on beta and nightly! And no, I don't know why.

On the one hand, it convinces me that this actually isn't a dupe of the linked issue, because the code in that issue is already fixed on stable. On the other hand, it doesn't really matter anymore. :)

[2020-08-18 21:36] memoryruins commented on #34666
cc @ssomers (due to their many improvements to BTreeMap/BTreeSet in the last couple of years)

[2020-08-18 21:56] ssomers commented on #34666
Rest assured, I was subscribed... It's not hard to imrpove this in many cases, as Andlon proved, but hard to prove it doesn't become worse in some other situations. A lot of benchmarking to do.

[2020-08-18 21:59] TTTiNNNy opened #75682 "thread 'rustc' panicked"
### Code

[code]

<details><summary><strong>Original</strong></summary>
<p>

[code]

</p>
</details>

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-08-18 23:19] JohnTitor commented on #75682
Could you provide an MCVE? I.e., it'd be great if your snippet works on https://play.rust-lang.org/ (at least, we should tweak `elem`).

[2020-08-18 23:59] tmiasko commented on #75144
FYI: Codegen does the this transformation in other direction:

https://github.com/rust-lang/rust/blob/30f0a07684f6c1f5df62d69e9519d82e13d6bf2d/src/librustc_codegen_ssa/mir/block.rs#L220-L224

[2020-08-19 01:08] frewsxcv opened #75686 "Add `Cow::to_borrowed(&self) -> Cow<T>` that creates a Cow::<T>::Borrowed from a Cow"
Via https://twitter.com/blinsay/status/1295767219255869452

Implementation would look something like:

[code]

Thoughts? I'd be happy to open a PR for this if the Library Team is happy with it

[2020-08-19 02:25] AndyGauge commented on #75521
Is this the kind of info we want to see:
 - https://github.com/rust-lang/rfcs/pull/1687
- https://rust-lang.github.io/api-guidelines/documentation.html

Also, I'd love to get an idea what customization can be done, haven't seen that in the wild.

[2020-08-19 02:27] blinsay commented on #75686
After looking at how [Cow implements Deref](https://github.com/rust-lang/rust/blob/1.45.2/src/liballoc/borrow.rs#L320-L330), it seems like maybe I could have be doing something like this:

[code]

If that's preferred over adding a method, it'd be awesome to have an additional example or some documentation pointing this out.

[2020-08-19 02:57] ayrtonm commented on #75239
I'd like to help write this lint. The default level for the lint should be `warn` right?
@rustbot claim

[2020-08-19 03:33] AndyGauge commented on #75521
Got started today on this.  Here's a bit of the work:
https://github.com/AndyGauge/rust/pull/1
Is it in the right direction?

[2020-08-19 04:06] cuviper commented on #58996
We have since updated to LLVM 10.

[2020-08-19 04:06] #58996 closed

[2020-08-19 05:24] JohnTitor commented on #75614
I don't see the failure on my local with the `2020-07-23` nor the latest. Could you double-check if it works fine with the latest nightly after running `cargo clean`? If it doesn't help, then try to update your linker.

[2020-08-19 05:35] #53224 closed

[2020-08-19 05:35] Manishearth commented on #53224
It might be worth opening a separate tracking issue that tracks these things, though.

[2020-08-19 06:08] connorskees commented on #75682
Minified,
[code]

[2020-08-19 06:11] RalfJung commented on #75239
Yeah, `warn` feels like a reasonable start.

[2020-08-19 06:51] Pratyush opened #75691 "Changing order of trait bounds changes available impls"
I tried this code ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7036047834cc394106c643e5ca974e69)):

[code]

I expected this to compile, because the trait bounds on `TraitA` are sufficient. Instead, `rustc` fails to find the `AddAssign<B>` bound for `C::Thing`, and errors out with the following error message:
[code]

(Note that the `help` message, while

[2020-08-19 07:07] JohnTitor commented on #75682
It's a regression from 1.40.0 to 1.41.0, confirmed in godbolt (https://rust.godbolt.org/z/hssfz9).

[2020-08-19 07:14] oli-obk commented on #74840
So... we have the folliwing cases:

* `ExprKind::Ref(ExprKind::Path(path_to_static))` (this is taking a reference to a static)
* `ExprKind::AddrOf(ExprKind::Path(path_to_static))` (this is taking a raw pointer to a static)
* `ExprKind::Path(path_to_static)` (this is reading from or writing to a static directly)

And right now we're translating all of them to a constant of `&STATIC` value (sometime

[2020-08-19 07:35] oli-obk commented on #75144
Hmm... that's good to know. Maybe we should additionally have the opposite optimization as a cleanup before we go into codegen, then this codegen arm can just become an assert.

[2020-08-19 07:51] TTTiNNNy commented on #75682
I guess reason of this mistake. Seem like, i get address of the  newly created array here :  ` interrupt_sector_table: &[&TASK_CONT; desc::INTERRUPT_NUM]}; desc::INTERRUPT_NUM]; `.  Code was update by me and now its capable run on rust-playground

[2020-08-19 08:05] JohnTitor commented on #72793
Bisected, it's _fixed_ by #75443.

[2020-08-19 08:15] lzutao commented on #75686
What is the practical use case of this method?

[2020-08-19 08:29] bjorn3 commented on #75144
For cg_clif `Eq + SwitchInt` results in suboptimal codegen over `SwitchInt`. The former has to materialize the flag into a register before comparing it again, while the later can just perform the comparison and directly jump on the flag. This is because bools have to be represented as integers at the abi boundary and when loading and storing memory. Keeping them as bools until these points results

[2020-08-19 08:52] oli-obk commented on #75144
so... should we remove that transformation from codegen_ssa and let the backend handle it?

[2020-08-19 09:10] #75412 closed

[2020-08-19 09:10] #75599 closed

[2020-08-19 09:10] #75512 closed

[2020-08-19 09:17] afwn90cj93201nixr2e1re commented on #67173
Stop saying that this can help, musl doesn't resolve `__cxa_thread_atexit_impl` problems at all.

@cuviper

![https://i.imgur.com/R9zVmYO.png]()

![https://i.imgur.com/lzfwxHL.png]()

[2020-08-19 09:21] lzutao commented on #67173
You are using clang, not musl.

[2020-08-19 09:22] afwn90cj93201nixr2e1re commented on #67173
Im using clang and musl together.

[2020-08-19 09:25] afwn90cj93201nixr2e1re commented on #67173
https://github.com/rust-lang/cargo/issues/8630#issue-680566514
https://github.com/rust-embedded/cross/issues/453

And project:
https://github .com/In-line/g rip/pull/131

i tried to build everything on old centos 5 but nothing happens coz it's need docker rn.

[2020-08-19 09:27] richardwhiuk opened #75698 "Static function call syntax for structs creates ambiguous code, without <Struct as Struct>"
I tried this code:

[code]

I expected to either see:
- An error from Rust, because `Foo::foobar` is not defined, and it would expect `Bar::foobar` in this scenario.
- An error from Rust, because `Foo::get()` is ambiguous.

Instead, this happened:

- `Bar::foobar` calls recursively.
- `Bar::get` calls `Foo::get`.

So the output is: `!!`. With the line commented out in, the code re-curses forever.

[2020-08-19 09:33] afwn90cj93201nixr2e1re commented on #67173
[code]

the build script

@lzutao

[2020-08-19 09:37] afwn90cj93201nixr2e1re commented on #67173
https://github.com/rust-lang/rust/blob/7e11379f3b4c376fbb9a6c4d44f3286ccc28d149/src/ci/docker/host-x86_64/dist-i686-linux/Dockerfile
https://github.com/rust-lang/rust/tree/7e11379f3b4c376fbb9a6c4d44f3286ccc28d149/src/ci/docker/host-x86_64/dist-x86_64-linux

That's how i built docker image (centos 5). Used this branch https://github.com/rust-lang/rust/tree/7e11379f3b4c376fbb9a6c4d44f3286ccc28d149.

[2020-08-19 09:38] lzutao commented on #67173
@afwn90cj93201nixr2e1re I suggest opening a thread in https://users.rust-lang.org/ with information you have.

[2020-08-19 09:42] afwn90cj93201nixr2e1re commented on #67173
Ok, thanks for suggestion, but i think it's useless at least. Most forums threads never gonna be solved.

[2020-08-19 09:47] lzutao commented on #67173
You know: Asking question is an art.
You will get more reply if you demonstrate the question better: what you intend? What is your effort so far? Don't just link to the code or some issue. State the problem more clearly.

[2020-08-19 09:48] bjorn3 commented on #75144
I think so. It can wait though, as I don't yet use codegen_ssa anyway.

[2020-08-19 10:00] RalfJung commented on #74840
IMO then it would make more sense to just bring back static places.

If we can rely on such larger patterns, my proposal would be:
* `ExprKind::Ref(ExprKind::Path(path_to_static))` -> static address at reference type
* `ExprKind::AddrOf(ExprKind::Path(path_to_static))` -> static address at raw pointer type
* `ExprKind::Path(path_to_static)` -> copy deref of static address at reference type

Howeve

[2020-08-19 10:11] afwn90cj93201nixr2e1re commented on #67173
As i said before the only one thing that musl doesn't resolve is cxa.

[2020-08-19 10:17] lzutao commented on #75698
There is warnings when you compile the snippet:
[code]

[2020-08-19 10:21] jonas-schievink commented on #75698
It is defined through the `Bar` trait impl. It is intentional that `Foo::foobar` resolves to trait impls in scope when there is no inherent method defined. As such, closing as expected behavior.

[2020-08-19 10:21] #75698 closed

[2020-08-19 10:22] oli-obk commented on #74840
right, we'll need to keep generating raw pointers there

While my first knee-jerk reaction was nonono, you gave me an idea:

We add a fifth kind of local (we have return place, argument, local, temporary) for statics! Then we have a map from local indices to `DefId`s.

[2020-08-19 10:25] RalfJung commented on #74840
OTOH, the unsafety check says "use of mutable static is unsafe and requires unsafe function or block", so clearly this is not just treated the same as a raw pointer access.

Uh... more indirections don't seem great if we can avoid them. I like the "const ptr" scheme because it reuses an existing mechanism that we have to support anyway.

What about the other scheme I suggested? It doesn't need sta

[2020-08-19 10:32] oli-obk commented on #74840
we keep one level of indirection, there's no new indirection (right now we need to check debug info, except in miri, which just evaluates the operand). Though I do realize that miri will now have an additional step.

This will make some static analyses actually have less indirection, as when reading from a local we don't have to walk to the local's last assignment in case its debug info says it's

[2020-08-19 10:43] matklad opened #75700 "Replace `once_cell` crate from `librustc_datastructures` with an (unstable) impl from std"
After https://github.com/rust-lang/rust/pull/75648 is merged, usage of `once_cell` in this module:

https://github.com/rust-lang/rust/blob/5b04bbfcbb79ed7325ea2b580458a80d95da6bbb/src/librustc_data_structures/sync.rs

should be replaced by `std::[OnceCell|SyncOnceCell]`. The dependency from corresponding Cargo.toml can be removed afterwards.

It *might* make sense to request a perf run, as crates.

[2020-08-19 10:44] xkr47 commented on #62358
Assume you have a function `getFoo()` returning `Option<String>` then it might be misleading if you do getFoo().contains("bar") since it looks like it checks for a substring when it in fact checks for an exact match. Would some other name perhaps be more clear?

[2020-08-19 10:50] RalfJung commented on #74840
I'd expect codegen can also just evaluate the operand? Then it gets a `DefId` pointer but that is something it has to be able to handle anyway.

I don't follow, why would that be an interesting special case?

(I assume you are referring to my "always use raw ptrs" scheme; I don't this this is true for my [later scheme](https://github.com/rust-lang/rust/issues/74840#issuecomment-676066359) which us

[2020-08-19 10:54] RalfJung commented on #75239
Nominated for lang team discussion. It seems we usually ask for lints to be approved before shipping them, so let's do that.

@ayrtonm sorry for this, I wasn't aware of this part of the process. You can still go ahead and implement this if you want, but depending on what the lang team decides, we should submit this lint to clippy instead of the compiler itself. That might require minor adjustments

[2020-08-19 11:02] oli-obk commented on #74840
Oh, apologies. Yes, the lastest scheme would be essentially what we have today from all but mir building, that seems the best way to go about this imo.

The problem with `*RAW_PTR` is that there's no rvalue for that. We need to

[code]

Now this could be resolved by moving the deref projection into a custom `Rvalue::Deref(Operand)`, then we'd have everything in one statement, but currently I have

[2020-08-19 11:05] oli-obk commented on #74840
One example of such a roundabout analysis is https://github.com/rust-lang/rust/blob/5b04bbfcbb79ed7325ea2b580458a80d95da6bbb/src/librustc_mir/transform/promote_consts.rs#L509-L539

[2020-08-19 11:29] Alexendoo commented on #70336
Triage: Hi, are you still working on this issue @ayushmishra2005?

[2020-08-19 11:32] Alexendoo commented on #72240
Triage: Hi, are you still working on this issue @doctorn?

[2020-08-19 11:35] richardwhiuk commented on #75698
Shouldn't the ambiguous call be an error?

[2020-08-19 11:37] Alexendoo commented on #72171
Triage: Hi, are you still working on this issue @immykins?

[2020-08-19 11:41] Alexendoo commented on #71924
Triage: Hi, are you still working on this issue (and/or #66228) @Patryk27?

[2020-08-19 11:41] marmeladema commented on #75700
@bors claim

[2020-08-19 11:42] Alexendoo commented on #72255
Triage: Hi, are you still working on this issue @softwaredeveloptam?

[2020-08-19 11:45] jonas-schievink commented on #75698
Inherent impls take precedence over trait impls, so that also behaves as expected

[2020-08-19 11:45] Alexendoo commented on #63682
Triage: Hi, are you still working on this issue @Areredify?

[2020-08-19 11:48] softwaredeveloptam commented on #72255
Hey there, @Alexendoo I got pretty busy and it slipped my mind, but will give it a shot this week!

[2020-08-19 11:49] Alexendoo commented on #73358
Triage: Hi, are you still working on this issue @maspe36?

[2020-08-19 11:52] Patryk27 commented on #71924
Hi! Thanks for pinging - though I've been busy lately, I'm generally still working on this feature; I've got a simple PoC more-or-less working and I'll try to submit a pull request as soon as I've got more time on my hands :-)

[2020-08-19 11:54] maspe36 commented on #73358
No, I've stalled on this. If its still available in a month or two I can resume work, but if someone else wants it - go for it.

[2020-08-19 11:58] Alexendoo commented on #73358
Thanks for the quick reply, if you find the time to work on it again in the future please claim again

@rustbot release-assignment

[2020-08-19 12:00] Areredify commented on #63682
@Alexendoo nope, you can grab it, check out my pr earlier for reference if you want

[2020-08-19 12:04] Areredify commented on #63682
oh, sorry, it's a triage, I thought you wanted to grab it 😅

[2020-08-19 12:06] tshepang commented on #74976
`x.py doc --stage 1` does not work anymore
[code]

[2020-08-19 12:06] KodrAus commented on #55002
It's been a few years since this landed, so in an effort to un-kitchen-sink the `sync` module I think we should:

- [ ] Inline the comments on `std::sync::atomic::spin_loop_hint` onto `std::hint::spin_loop` and point the docs to `std::hint::spin_loop` instead
- [ ] Add a trivial busy-loop example that demonstrates how we want you to call it as `hint::spin_loop`
- [ ] Update the docs for the `std::

[2020-08-19 12:11] domibay-hugo commented on #67173
Even having installed `musl-gcc` with the official Download it does not produce Static Targets
and keeps requiring `glibc`
[musl-gcc does not produce static targets](https://users.rust-lang.org/t/installation-of-rust-with-x86-64-unknown-linux-musl-target/42922)
[code]

[2020-08-19 12:11] domibay-hugo commented on #67173
Even having installed `musl-gcc` with the official Download it does not produce Static Targets
and keeps requiring `glibc`
[musl-gcc does not produce static targets](https://users.rust-lang.org/t/installation-of-rust-with-x86-64-unknown-linux-musl-target/42922)
[code]

[2020-08-19 12:11] jyn514 commented on #74976
What platform are you on? There might be some weird `cfg`s going on that weren't caught by CI for https://github.com/rust-lang/rust/pull/75501. Feel free to make a PR reverting the links to `ext`, if you don't get around to it today I'll try to make a PR by the end of the week.

[2020-08-19 12:11] domibay-hugo commented on #67173
Even having installed `musl-gcc` with the official Download it does not produce Static Targets
and keeps requiring `glibc`
[musl-gcc does not produce static targets](https://users.rust-lang.org/t/installation-of-rust-with-x86-64-unknown-linux-musl-target/42922)
[code]

[2020-08-19 12:11] domibay-hugo commented on #67173
Even having installed `musl-gcc` with the official Download it does not produce Static Targets
and keeps requiring `glibc`
[musl-gcc does not produce static targets](https://users.rust-lang.org/t/installation-of-rust-with-x86-64-unknown-linux-musl-target/42922)
[code]

[2020-08-19 12:11] domibay-hugo commented on #67173
Even having installed `musl-gcc` with the official Download it does not produce Static Targets
and keeps requiring `glibc`
[musl-gcc does not produce static targets](https://users.rust-lang.org/t/installation-of-rust-with-x86-64-unknown-linux-musl-target/42922)
[code]

[2020-08-19 12:14] tshepang commented on #74976
I am on x86_64-unknown-linux-gnu, Debian unstable.

[2020-08-19 12:14] Alexendoo commented on #73427
Triage: Hi, are you still working on this issue @doctorn?

[2020-08-19 12:20] domibay-hugo commented on #67173
According to this discussion the only viable workaround is building on old _CentOS6_ Build Hosts
as documented in the cited issue:
[Linking against an old version of libc](https://stackoverflow.com/a/4032740)

[2020-08-19 12:22] afwn90cj93201nixr2e1re commented on #67173
Bruh, it's not gonna help you) It's still gonna use glibc as depend at `cxa` at least.

[2020-08-19 12:32] domibay-hugo commented on #67173
Obviously maintaining and building on _CentOS6_ with get you into trouble of other types since all Centos6 SSL Packages are outdated and unusable.
If you are building an Application that uses SSL you will get some serious headaches.
And thus the CentOS6 Build Host is only a conditional Workaround that does not work always.

[2020-08-19 12:36] afwn90cj93201nixr2e1re commented on #67173
yep
eggxactly

[2020-08-19 12:38] jyn514 commented on #75239
As a point of interest, this would have been _extremely_ useful in helping debug a segfault in https://gitlab.com/YottaDB/Lang/YDBRust/-/blob/447c641fcf6945d81d6947fcd9a6a8b34b40537f/src/simple_api/mod.rs#L1891.

[2020-08-19 12:39] RalfJung commented on #75239
@jyn514

Without the `as` cast, this should not compile as transmute checks that the sizes match.
I assume what you describe happens when using `&ydb_lock_st`, i.e., not just remove the `as` but also add a `&`.

[2020-08-19 12:47] jyn514 commented on #75239
Unfortunately I never committed the broken code so I'm not sure what I had originally ... the closest thing is https://gitlab.com/YottaDB/Lang/YDBRust/-/commit/223b86ac99117672ec8ae8d5a70b4e4da691becf#c03d74036e9573cf34d6119f0c039f06492d3997_1581_1587 which doesn't compile. Sorry for the noise.

[2020-08-19 12:55] jyn514 opened #75704 "Remove duplicate dependencies for rustc itself"
Some things that immediately look promising to remove:

- `smallvec 0.6.13`, from `rustc_workspace_hack` (can be upgraded)
- `semver 0.9`, used for the rustc_ crates where cargo uses 0.10
- `env_logger 0.6`, used in rustfmt (can be upgraded)

<details>

[code]

</details>

[2020-08-19 12:59] jyn514 commented on #74976
Hmm, I can't reproduce locally and I have the same link in library/std. Not sure what's going on, I'm on `x86_64-unknown-linux-gnu` as well.

[2020-08-19 13:00] 3v1n0 commented on #66118
Having this still, only in riscv64 architecture when using rust 1.43.0 when compiling mozjs (part of firefox):

[code]

Once again, setting `RUSTFLAGS = -Clto=thin` does the work for it

[2020-08-19 13:05] Alexendoo commented on #71898
Triage: Hi, are you still working on this issue @samrat?

[2020-08-19 13:06] jyn514 commented on #74976
This makes it seem like it should be independent of the platform: https://github.com/rust-lang/rust/blob/5b04bbfcbb79ed7325ea2b580458a80d95da6bbb/library/std/src/os/mod.rs#L7-L22
https://github.com/rust-lang/rust/blob/5b04bbfcbb79ed7325ea2b580458a80d95da6bbb/library/std/src/sys/mod.rs#L60-L82

[2020-08-19 13:10] Alexendoo commented on #63682
@rustbot release-assignment

[2020-08-19 13:11] rylev commented on #29864
I've tried to collect the known open questions and issues here.

### Questions
- [Bike-shedding the name](https://github.com/rust-lang/rust/pull/53693#issuecomment-416583563). Does this require an RFC? @nikomatsakis thoughts on this?
- Is there [any unsoundness around Unpin](https://github.com/rust-lang/rust/issues/29864#issuecomment-515780867) now that you are required to explicitly opt into mark

[2020-08-19 13:20] ayrtonm commented on #75239
no worries. I already have the lint implemented, but in that case I'll wait until they discuss to write the tests

[2020-08-19 13:20] RalfJung commented on #75239
I think `trasmute(&ydb_lock_st)` should compile. That's no noise, it seems very relevant. :)

[2020-08-19 13:58] lopopolo opened #75706 "intra doc links to `std::env` render incorrectly by including `module@` disambiguator"
I tried this code at the suggestion of the compiler to disanbiguate between the `std::env` module and `std::env!` macro:

[code]

I expected to see this happen: a rendered docstring like:

Instead, this happened: The module disambiguator was included in the rendered docs:

### Meta

[code]

[2020-08-19 13:59] lopopolo commented on #75706
A workaround is to write the doc string like this:

[code]

[2020-08-19 14:26] spastorino commented on #75453
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375453.20expected.20suffix.20token.20in.20proc.20macro) and removing `I-prioritize`.

[2020-08-19 14:28] jyn514 commented on #75706
Duplicate of https://github.com/rust-lang/rust/issues/65354

[2020-08-19 14:28] #75706 closed

[2020-08-19 14:34] XopheD opened #75707 "unexpected panic when trait not implemented"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-08-19 14:39] spastorino commented on #75612
Removing `I-prioritize` label until there's evidence that this is an issue on rustc side. [Discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375612.20.22Illegal.20instruction.22.20from.20oxipng.20on.20ol.E2.80.A6).

[2020-08-19 14:49] pietroalbini commented on #75198
To fix this issue, the `x86_64-gnu-full-bootstrap` builders needs to be removed from [the CI configuration](https://github.com/rust-lang/rust/blob/master/src/ci/github-actions/ci.yml) and [the Docker images directory](https://github.com/rust-lang/rust/tree/master/src/ci/docker/host-x86_64).

[2020-08-19 14:55] spastorino commented on #75707
Given that it doesn't reproduce on godbolt I guess this is apple specific?.

[2020-08-19 14:57] #75607 closed

[2020-08-19 14:57] lzutao commented on #75707
I reproduce it in playground: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6cf3b529e30212cf30d3e1af0a106f51
godbolt build Rust code in `crate-type=lib` by default.

[2020-08-19 15:05] JohnTitor opened #75709 "`./x.py run src/tools/expand-yaml-anchors/` is directory separator-sensitive"
On Windows, if we run `./x.py run src/tools/expand-yaml-anchors/`, the script changes this

https://github.com/rust-lang/rust/blob/11a44adc6fadd84fc11ed986179504e883b528d1/.github/workflows/ci.yml#L8

to `src/ci/github-actions\ci.yml`.

This isn't ideal, though it's quite a minor point. I think it'd be nice if we could make it insensitive.

[2020-08-19 15:08] spastorino commented on #75682
Assigning `P-high` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375682.20thread.20'rustc'.20panicked) and removing `I-prioritize`.

[2020-08-19 15:14] spastorino commented on #75707
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375707.20unexpected.20panic.20when.20trait.20not.20impleme.E2.80.A6) and removing `I-prioritize`.

[2020-08-19 16:29] simonvandel commented on #75144
So we still want to do the MIR optimization? I understood from @bjorn3 that switching directly on the integer would be beneficial for cranelift but not necessarily for llvm. Did I get that right?

[2020-08-19 16:45] RalfJung commented on #74840
Oh, because you can only deref places which have to start at a local... yeah that's annoying. This makes me more sympathetic with an option that lets us put a static into a place more directly.

Oh wow okay now I start to see what happens here. We are following the def-use chain backwards to the def. Yeah that's quite awful that we have to do that.

[2020-08-19 16:47] bjorn3 commented on #75144
I think that is correct.

[2020-08-19 16:47] RalfJung commented on #29864
Yes, opt-in is key. Likely none of the existing auto traits can be made `#[marker]`, but certainly not `Unpin`.

[2020-08-19 17:04] tshepang commented on #74976
Here is my config.toml, just in case that makes a difference
[code]

[2020-08-19 17:19] jyn514 commented on #74976
Ah ok, this is because you're targeting wasm - if you look at https://github.com/rust-lang/rust/blob/5b04bbfcbb79ed7325ea2b580458a80d95da6bbb/library/std/src/sys/mod.rs#L68 it doesn't have `unix_ext` at all for that target.

The different from before is that the links would fail silently; now they are failing noisily. I'm not sure the best way to fix this ... from the comments it seems like adding

[2020-08-19 17:29] tshepang commented on #74976
Is there a way of specifying which target to build docs for in `x.py`?

[2020-08-19 17:41] jyn514 commented on #74976
`x.py doc --stage 1 --target x86_64-unknown-linux-gnu`

[2020-08-19 17:47] tshepang commented on #74976
Note also that I no longer experience the initial issue... no need to specify `--stage 1` anymore.

[2020-08-19 17:47] #74976 closed

[2020-08-19 18:05] GuillaumeGomez opened #75714 "Don't count variants/fields/consts/associated types in doc-coverage doc examples"
We shouldn't expect them to have one so it shouldn't be counted.

[2020-08-19 18:16] matklad commented on #71520
The issue says "To test using rust-lld for msvc targets, use -C linker=lld". Shouldn't it be `-C linker=rust-lld`? At least, that's what i need to put in .cargo/config to make this work:

[code]

[2020-08-19 19:02] sinistersnare commented on #62358
how about `contains_in` or `map_contains`?

[2020-08-19 19:13] samrat commented on #71898
Hi @Alexendoo, I don't think I'll be able to devote sufficient time to work on this issue anytime soon.

[2020-08-19 20:20] soc commented on #62358
`option.contains_in("foo")` reads weird. You could of course pick something else entirely different, like `option.has("foo")` or `option.includes("foo")`.

But in the end, Rust is a typed language, so we should not be scared that much about confusion, because the types tell us which `contains` method is used.

[2020-08-19 20:20] #74950 closed

[2020-08-19 20:20] #75047 closed

[2020-08-19 20:30] LeSeulArtichaut commented on #75080
I will work on the rest of `alloc`

[2020-08-19 20:47] GuillaumeGomez opened #75719 "Don't count variants/fields/consts/associated types in missing_doc_code_examples lint"
Related to #75374.

[2020-08-19 20:54] camelid commented on #75080
@jyn514 By the way, the list shows that `core::option` and `std::process` are in progress, but my PRs for those were already merged.

[2020-08-19 21:07] matklad commented on #75700
#75648 is done!

Though, I am not unsure if we maybe should wait until it tickles down to beta? Not sure how bootstraping works with libstd, I guess, we can just try and see if the build fails.

[2020-08-19 21:09] jyn514 commented on #75080
@camelid should be fixed now. Let me know if there's any others I missed.

[2020-08-19 21:24] jyn514 commented on #58745
I documented rand without warnings on the latest nightly, and the upstream issue has been closed (https://github.com/rust-random/rand/issues/737), so I'm going to close this as well. Feel free to re-open if you still have issues!

[2020-08-19 21:24] #58745 closed

[2020-08-19 21:26] jyn514 commented on #53917
I tried reproducing the error, but `erlust` does not compile on master. I'm going to close this since intra-doc links were in a very different state when it was opened, but feel free to re-open if you're still having issues.

<details><summary>Compile errors</summary>

[code]

</details>

[2020-08-19 21:26] #53917 closed

[2020-08-19 21:28] alex opened #75721 "Provide pre-build host compiler for aarch64-unknown-linux-musl"
`aarch64-unknown-linux-musl` is currently a tier 2 platform with pre-built libstd, but not pre-built host compiler (`rustc`, `cargo`, etc.) It would be useful to me if the host compiler was available. Specifically it's important to me because pyca/cryptography -- the most widely used Python crypto library -- builds and tests on Alpine Linux, which uses musl. We're currently looking at expanding aa

[2020-08-19 21:35] jyn514 commented on #59367
I can't reproduce this on current nightly.

[code]

Are you sure the issue in https://github.com/paritytech/substrate/pull/5923 is related to `--no-deps`?

[2020-08-19 21:39] xd009642 commented on #34701
So I just saw the help text for the flag:

And there is an open issue that can make `-C link-dead-code` problematic if you have one a crate doing C bindings in your build tree, which would definitely impact the usability/accuracy of the results https://github.com/rust-lang/rust/issues/64685

[2020-08-19 21:40] jyn514 commented on #55907
This no longer warns on the latest nightly, I expect it's a special case of https://github.com/rust-lang/rust/issues/65983.

[2020-08-19 21:40] #55907 closed

[2020-08-19 21:47] jyn514 commented on #63305
I'm sympathetic to the issue, but because intra-doc links are so close to stabilizing, I think it makes sense to let this be solved 'naturally' by having them work on stable too :) Especially since any fix would be part of rustdoc, so you'd only see it after the fix itself rode the release train for 12 weeks.

I'll leave this open until intra-doc links are finally stable, though.

[2020-08-19 21:55] jyn514 commented on #43466
After https://github.com/rust-lang/rust/pull/75079 this is no longer the case. Should the RFC be updated?

[2020-08-19 21:58] R030t1 commented on #46043
Hi, I'm encountering this from bindgen generated files. I've given the docs to bindgen a look and don't see a good way to modify the output. Is there a recommended solution for this case?

[2020-08-19 22:12] jyn514 commented on #63351
A possible solution is to move from `Res` to `Ty` as the canonical way to look up primitives, using [`TyCtxt::type_of`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/ty/struct.TyCtxt.html#method.type_of). Everything except primitives could keep using Res, it's only primitives that would have to change.

[2020-08-19 22:18] jyn514 commented on #63351
Yeah no I take it back, `resolve()` immediately returns the `Res` and so you can no longer distinguish it from ADTs. So this really does need a full refactor of `collect_intra_doc_links`.

[2020-08-19 22:46] Aloso opened #75724 "Accessing an associated constant with the same name as an enum variant doesn't work"
The following code works:

[code]

However, accessing the associated constant [does not](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=58852435af0d0d9b4e68bd451584be02):

[code]

### Explanation why I think this should work

Most items are in one of three namespaces/universes: The type namespace, the value namespace, and the macro namespace. For example, regular structs

[2020-08-19 22:59] porplax commented on #25289
It's quite annoying to see the devs behind rust not fix this issue after 3+ years.

[2020-08-19 23:23] teor2345 commented on #75313
We experienced a minor regression with the fix in PR #75443, but there are known workarounds.

The fix caused new "reached the type-length limit"  compiler errors in our project. In our particular case, we didn't need the tracing::instrument spans that were creating the large types, so we deleted them (see https://github.com/ZcashFoundation/zebra/issues/923).

This is a known issue in tracing http

[2020-08-20 00:08] jakoschiko commented on #75660
I'm interested in implementing this.

[2020-08-20 00:17] Hakuyume opened #75726 "i32::rem_euclid returns negative remainder"
I tried this code:

[code]

I expected to see this happen:
It should print `1` since the documentation (https://doc.rust-lang.org/std/primitive.i32.html#method.rem_euclid) says "Calculates the least *nonnegative* remainder".

Instead, this happened:
It prints `-1`.

### Meta
I used Rust Playground (https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e8d90ed68a54012341d2e25c8b22

[2020-08-20 00:37] ecstatic-morse commented on #75726
Method calls have higher precedence than unary `-`. You want `(-3).rem_euclid(2)`, which returns `1` as expected.

[2020-08-20 00:37] #75726 closed

[2020-08-20 01:02] Hakuyume commented on #75726
I see. Thank you!

[2020-08-20 01:37] tones111 commented on #75576
Thanks for the insight.  In my particular case since libb is generated code I think moving the tests out to their own crate will be the way to go.

[2020-08-20 01:37] #75576 closed

[2020-08-20 02:17] Nicholas-Baron commented on #75550
@matklad Your wild guess seems to be working.

@petrochenkov I hope now #75616 is not a regression.

[2020-08-20 02:27] mikeyhew commented on #63178
Is there an easy workaround to use until this is stabilized?

[2020-08-20 03:03] MOZGIII commented on #63178
You can use this crate for now: https://github.com/MOZGIII/iter-try-rs

[2020-08-20 03:09] ayushmishra2005 commented on #70336
@Alexendoo No, I didn't get chance. Please go head and fix.

[2020-08-20 03:13] Manishearth commented on #43466
@jyn514 go for it

[2020-08-20 03:16] couchand commented on #75504
Well, now that I know exactly what to look for, I've been able to minimize the example much more effectively.  Here is a minimal reproduction of the bug:

[code]

Compiling for an AVR target produces this reasonable LLVM IR:

[code]

and this broken assembler:

[code]

The LLVM is simple and reasonable, but the assembler is not a true representation of the semantics of the IR.  This leads me to be

[2020-08-20 03:27] 12101111 commented on #74317
musl's `dlopen` only works with dynamic link (`target-feature=-crt-static`),It's pointless to compile a dylib with static musl libc.

In addition, the output of `ldd` from you glibc system is quite confusing. You should using musl's `ldd` (just create a symbolic link to musl's `libc.so`)  or `readelf -d` to get real dependences.

[2020-08-20 03:51] lzutao commented on #75707
There is no need for containing `main`. Renaming `main` to anything and make it `pub` is suffice.
The error traces back to 1.0 Rust release: https://rust.godbolt.org/z/bs7vWY

[2020-08-20 04:19] workingjubilee commented on #75704
Cargo.lock can appear deceptive because many of these dependencies ultimately are rooted in e.g. RLS. It's not quite a duplicate per se, but I recently audited all the instances of depending on the byteorder crate, for example, and

1. Most dependents are somewhere in the RLS dependency graph and actually have already moved on, but RLS has not been updated in a while (it is still on tokio v0.1) an

[2020-08-20 05:28] tgnottingham commented on #74890
Looks the same as #73640 as well. Similar panic and backtrace.

[2020-08-20 05:34] nbdd0121 commented on #73735
It seems that there is a case still not being fixed, when `#[repr(transparent)]` is used with non-zero types.
[code]

[2020-08-20 05:49] joshtriplett commented on #75239
@rfcbot poll T-lang Should we add a lint for taking a reference to a fn?

[2020-08-20 05:50] petrochenkov commented on #25289
@porplax

That's not surprising considering that the issue is closed for 5+ years.

If you have similar issues (and "linking with `cc` failed" can appear for numerous reasons), please make a new issue with a reproduction.

[2020-08-20 06:59] scottmcm commented on #75239
I think I agree here, but to confirm: this isn't actually about linting the taking of a reference to a place of `fn` type, but just about using `&` on the voldemort-typed function name constants, right?

[2020-08-20 07:06] RalfJung commented on #75239
Yes.

[2020-08-20 07:07] oli-obk commented on #75144
Yes, we still want this optimization. The llvm backend already handles this change correctly, so I think we should just keep the optimization unconditionally since it simplifies the MIR.

[2020-08-20 07:40] Aaron1011 opened #75734 "Pretty-printing adds additional parentheses, breaking the proc-macro reparse check"
The following code:

[code]

is pretty-printed as:

[code]

The extra parenthesis completely change the structure of the re-parsed `TokenStream` (we now have tokens wrapped in a `TokenTree::Delimited`), breaking the pretty-print and reparse check done during proc-macro expansion. This results in an instance of https://github.com/rust-lang/rust/issues/43081.

This behavior was introduced by https:/

[2020-08-20 07:53] dtolnay commented on #75734
Also causes https://github.com/dtolnay/async-trait/issues/118. Rustc inserted unnecessary parentheses around the closure before calling async_trait, then lost all the location information on the source tokens and blamed the user for handwriting those unnecessary parentheses.

[2020-08-20 07:54] joshtriplett commented on #71519
I'm really interested in seeing this happen as well.

The proposed `-C linker-flavor=gcc-lld` makes sense to me.

[2020-08-20 08:05] petrochenkov commented on #75734
It would break expressions with "virtual parentheses", like `$expr` in `macro_rules`.
`$expr * 2` where `$expr` is `2 + 2` is not the same thing as `2 + 2 * 2`, which would be the pretty-printing result if it weren't adding parentheses.

[2020-08-20 08:09] petrochenkov commented on #75734
Cases like this could be caught when comparing the original and re-parsed token streams though, because the "virtual parentheses" (`Delimiter::None`) could still be in place in the original token stream.

So we can print without parentheses -> reparse -> compare, and then re-print with parentheses if the comparison fails.
(This may make sense if failing comparisons are rare and don't affect perfor

[2020-08-20 09:04] tesuji opened #75735 "`mir-opt/instrument_coverage.rs` test needs profiler support"
`mir-opt/instrument_coverage.rs` test needs profiler support:
https://github.com/rust-lang/rust/blob/5f6fcad6449aabad3c29c65c1738f8eab89c03ce/src/test/mir-opt/instrument_coverage.rs#L5
However, profiler is disable by default:
https://github.com/rust-lang/rust/blob/5f6fcad6449aabad3c29c65c1738f8eab89c03ce/config.toml.example#L220

So when the test failed I can't notice it in my machine.

P/S: Does

[2020-08-20 11:25] GuillaumeGomez commented on #73721
Since #74148 has been merged, we can close this issue.

[2020-08-20 11:32] Alexendoo commented on #70336
@rustbot release-assignment

[2020-08-20 11:33] oli-obk commented on #74840
Ok, so I've reread the previous plans for virtual locals (https://github.com/rust-lang/compiler-team/issues/291) that we are not performing since there are other things we can try first. Right now a `LocalId` only refers to things that don't alias with anything else, so changing that should not be done lightly here.

*but* we can still implement the part where all `mir::Place` get replaced with `m

[2020-08-20 11:34] Alexendoo commented on #71898
No problem

@rustbot release-assignment

[2020-08-20 11:36] jumbatm commented on #73735
Thanks, I'll open another issue for this case.

[2020-08-20 11:36] jumbatm opened #75739 "Additional incorrect clashing_extern_decl warning for `#[repr(transparent)]` non-zero types"
It seems that there is a case still not being fixed, when `#[repr(transparent)]` is used with non-zero types.
[code]

_Originally posted by @nbdd0121 in https://github.com/rust-lang/rust/issues/73735#issuecomment-677152928_

[2020-08-20 11:37] jumbatm commented on #75739
@rustbot claim

[2020-08-20 12:29] matklad commented on #75619
BTW, is there some chat room for rustdoc team on zulip on discord? I'd like to ask some questions :)

[2020-08-20 12:34] GuillaumeGomez commented on #75619
There is one on discord (simply called "rustdoc").

[2020-08-20 12:44] jyn514 commented on #75619
It's linked at https://www.rust-lang.org/governance/teams/dev-tools#rustdoc (which is I agree pretty hard to find).

Also the text there is wrong and mentions docs.rs, we should probably fix that.

[2020-08-20 13:51] couchand commented on #75504
I've identified the issue, it has been reported upstream as [Bug 47253](https://bugs.llvm.org/show_bug.cgi?id=47253).  The issue is in the [stack frame lowering code](https://github.com/llvm/llvm-project/blob/445739826567e5402b558f2c130d76dc916c82ec/llvm/lib/Target/AVR/AVRFrameLowering.cpp#L156-L174).

[2020-08-20 13:52] Timmmm opened #75742 "Unused `format!()`s are not optimised away"
I was slightly surprised to see that code like this:

[code]

does not get optimised to a nop. It still calls `format!()`. This is surprising from a user point of view - you're calling a function, but it seems like it has no side effects and I don't use the result, so surely it should be removed?

I presume the reason it doesn't is that it allocates a `String` and heap allocation is considered to

[2020-08-20 14:27] Manishearth commented on #75643
I'm against this, `Vec::get` does not exist and does not work in code. I think we should maybe just bite the bullet and allow `slice` to exist as a string.

[2020-08-20 14:28] jyn514 commented on #75643
I'm ok with saying we should fix linking to primitives instead, but it's not as simple as 'allow slice to exist as a string', see https://github.com/rust-lang/rust/issues/63351#issuecomment-676760725.

[2020-08-20 14:29] bkolobara commented on #72016
I have run into another issue. I'm trying to mark the floating point registers as clobbered on `AArch64` with `out("v10") _`, but this results in a `non-trivial scalar-to-vector conversion, possible invalid constraint for vector type` error. Is there another syntax of doing this or are this registers maybe not supported?

Another register I'm having trouble marking as clobbered is `x30 (lr)`. I ge

[2020-08-20 14:42] NoraCodes opened #75744 "Tracking issue for `ControlFlow` enum, for use with `try_fold` and in `Try`"
(edited to turn this into a tracking issue, as it's referenced by the `unstable` attributes)

This is a tracking issue for the `std::ops::ControlFlow` type.
The feature gate for the issue is `#![feature(control_flow_enum)]`.

### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also uses as hubs connecting to other relevant issues, e.g., bu

[2020-08-20 14:44] spastorino commented on #74498
Downgrading priority to `P-high` as [discussed on the compiler team meeting](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.20meeting.5D.202020-08-20.20.2354818/near/207529260).

[2020-08-20 16:00] oli-obk opened #75746 "mir-opt diff tests for 64/32 bit targets doesn't render as diff in github"
mir-opt tests have a `diff` mode where the changes of a specific optimization are shown as a `.diff` file which is rendered as a diff by most tools. For `32/64` bit tests we ended up adding a postfix to the file name (which comes after the `.diff`), and that breaks the tool support. We should change all these tests file-names so they end with `.diff` again.

We should change both https://github.co

[2020-08-20 16:09] mati865 commented on #75746
Maybe it could be handled by https://github.com/rust-lang/rust/blob/master/.gitattributes as an alternative?

[2020-08-20 16:16] oli-obk commented on #75746
Heh, neat idea, let's try that out first!

[2020-08-20 17:00] kotauskas commented on #61695
`into_err` (analogous to `unwrap_err` for `Result<!, E>`) should also be added, I think

[2020-08-20 17:02] mati865 commented on #75746
It did not work 🤷

[2020-08-20 17:15] neeldug opened #75748 "Precision issue in `std::f64::exp_m1`"
I tried this code:

[code]

I expected to see this happen:
No errors to occur, similar to how Ubuntu and Windows to process this.

Instead, this happened: *explanation*
[code]
As this assert exception shows, the extra digit only appears on MacOS, not on Windows or Ubuntu.
### Meta

`rustc --version --verbose`:
[code]

[2020-08-20 17:29] RalfJung commented on #74840
That MCP doesn't say anything about what virtual locals are, does it? It talks about refactoring projections but I don't see the connection.

Woah what does that have to do with statics?^^

This seems way overkill for the problem we have here, I even prefer the "have `LocalId` -> `DefId` mapping" over this.^^ Though this indirection will increase the MIR size for functions that reference many stat

[2020-08-20 17:29] RalfJung commented on #74840
That MCP doesn't say anything about what virtual locals are, does it? It talks about refactoring projections but I don't see the connection.

Woah what does that have to do with statics?^^

This seems way overkill for the problem we have here, I even prefer the "have `LocalId` -> `DefId` mapping" over this.^^ Though this indirection will increase the MIR size for functions that reference many stat

[2020-08-20 18:02] #75481 closed

[2020-08-20 19:32] poliorcetics commented on #75080
I'll do `library/std/src/thread/{local, mod}.rs`.

[2020-08-20 20:27] #75447 closed

[2020-08-20 20:34] LeSeulArtichaut commented on #75080
I'll take `core::ops::*`

[2020-08-20 20:57] avl commented on #37854
I wanted exclusive ranges today, for a case where I had a variable that needed to be handled differently depending on which of the following ranges it fell into: 0..10, 10..100, 100..1000 and 1000..10000. In my opinion the code would have been cleaner if exclusive ranges were supported.

[2020-08-20 21:15] nrabulinski commented on #40062
I'd like to add those to the docs, should they go along the example that we currently have?

[2020-08-20 21:34] infinity0 commented on #32859
@mati865 where is that documented? I was going off #34709 [via google](https://www.google.com/search?q=rust+lang+win32+vs+pthreads) which says

[2020-08-20 21:35] infinity0 commented on #32859
I also managed to build cargo fine with win32 threads, so assumed it was fine.

[2020-08-20 22:36] mati865 commented on #32859
@infinity0 the explanation for building Rust with MinGW: https://github.com/rust-lang/rust/blob/332369110919ac27c8a0bc0b21bf9d2f9fd9829d/src/ci/github-actions/ci.yml#L493
Pthreads are linked here: https://github.com/rust-lang/rust/blob/e8b55a4ad230ebec762fdfc4f241ba98a98560af/src/librustc_llvm/build.rs#L306
You are building only std for MinGW target so you very likely won't need pthreads here (thi

[2020-08-20 22:46] #74868 closed

[2020-08-20 23:30] akanawati opened #75755 "Option::Some becomes Option::None + Illegal instruction error in some cases."
What was I doing?
- I have an implementation of an aligned buffer as a `Vec<Aligned>`, where `Aligned` wraps an array of `u8`.  We use `std::slice::from_raw_parts` and the address of the first character inside the first `Aligned` instance to build a `&[u8]` or `&mut [u8]`.
- For the zero-capacity case, we use the null pointer and 0 with `from_raw_parts`
- The behavior is the same with stable and n

[2020-08-21 00:57] #68536 closed

[2020-08-21 01:05] PrototypeNM1 opened #75759 "Missing suggestion "remove semicolon" for mismatched types compile error"
I tried this code:

[code]

I expected to see this happen:

A error message suggesting to "consider removing this semicolon" with the relevant code highlighted as in prior releases.

Instead, this happened:

[code]

### Meta

`rustc --version --verbose`:
[code]

Issue likely relates to issue https://github.com/rust-lang/rust/issues/67971 and PR https://github.com/rust-lang/rust/pull/71894.

This i

[2020-08-21 01:16] lzutao commented on #75759
If you want to return a tuple of a f32, try:
[code]

[2020-08-21 01:26] PrototypeNM1 commented on #75759
I oversimplified the example. [Here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=33510d330abb8273f7e2f804e5098e7e) is the motivating example.

[2020-08-21 01:29] jonas-schievink commented on #75759
The suggestion would be incorrect for that playground example. For the original example in the issue, the "help: consider removing this semicolon" *is* emitted.

[2020-08-21 01:37] Amanieu commented on #72016
The first issue should have been fixed by #75014, try updating to the latest nightly.

[2020-08-21 01:38] Amanieu commented on #72016
Can you open an issue for the other one?

[2020-08-21 01:51] pnkfelix opened #75760 "UI test failures with parallel-compiler=true"
I changed the `config.toml` to say

[code]

and ran `x.py test`.

I got this result:

[code]

<details>

More specifically:

[code]

</details>

I know that the parallel-compiler setting is still experimental/unsupported.

But it would be nice if it didn't inject test failures like this, if we can fix it.

[2020-08-21 02:48] PrototypeNM1 commented on #75759
Ack, thought I had checked that. Sorry for the noise.

[2020-08-21 02:48] #75759 closed

[2020-08-21 03:03] PrototypeNM1 commented on #75759
I do wonder if this still warrants investigation. The error message as is is not helpful for people not already familiar with Rust syntax. With the (incorrect) semicolon removal suggestion a new user can start to unravel the error (remove semicolon, identify they're returning the wrong types).

Currently they have to reason through two very nonintuitive things, returning () means nothing is being

[2020-08-21 04:58] camsteffen commented on #62358
Naming bikeshed. Sorry if this is the wrong place.

How about the names `eq_some`, `eq_ok` and `eq_err`? Or maybe only using those names for `Result`? I get that `contains` is consistent with containers, but that analogy weakens especially with `Result`.

[2020-08-21 06:18] lcnr commented on #75755
references **must** not be null, see https://doc.rust-lang.org/nightly/std/option/index.html#options-and-pointers-nullable-pointers for more details. This means that your program contains Undefined Behavior, see https://doc.rust-lang.org/nomicon/what-unsafe-does.html?highlight=undefined#what-unsafe-rust-can-do for more details.

Use `ptr::dangling` instead if you need a pointer to a ZST

[2020-08-21 06:18] #75755 closed

[2020-08-21 06:20] lcnr commented on #75755
I can also recommend running your code with [MIRI](https://github.com/rust-lang/miri) when experimenting with `unsafe`, which would also catch this

[2020-08-21 07:10] bkolobara opened #75761 "Marking registers as clobbered on AArch64 inside an asm! block fails to compile"
If any of the floating point registers (v0-31) or x30 on AArch64 are used as an out parameter the code doesn't compile. The following code using `v0` fails to compile on `rustc 1.47.0-nightly (e15510ca3 2020-08-20)`:

[code]

with an error:
[code]

If x30 is used instead of v0 another error message is shown:
[code]

I expect it to be possible to use all these registers as parameters to out.

[2020-08-21 07:12] p-alik commented on #74868
The compilation succeeds with `rustc 1.47.0-nightly (e15510ca3 2020-08-20)` faultlessly.

[2020-08-21 07:15] bkolobara commented on #72016
I have tested with the latest nightly, but the error still shows up. I have opened an issue: #75761.

[2020-08-21 07:30] schatzmeister opened #75762 "No `missing lifetime specifier` error in traits/confusing error message in impl"
When defining a trait like this:

[code]

no `missing lifetime specifier` error is thrown. But adding an impl with these explicit lifetimes:

[code]

the note in the error message is a bit confusing:

[code]

Playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c2d8dbff3071fb04e659a8c032b4b785

[2020-08-21 07:31] oli-obk commented on #74840
There's no regression that we're fixing, none of this is stable, right?

[2020-08-21 08:17] DutchGhost opened #75763 "ICE with non-utf8 const generic &str"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-08-21 11:48] rossmacarthur opened #75770 "Improve syntax diagnostics or suggestions with `enum` vs `struct`"
I changed an enum to a struct but forgot to change the `enum` keyword to a `struct` keyword, it took me a while to realize what the problem was because the error is unclear.

### `enum` used where code looks like a struct

[code]

The error is

[code]

A suggestion saying ```help: change `enum` to `struct` ``` would be useful.

### `struct` used where code looks like an enum

[code]

[code]

A sug

[2020-08-21 13:37] lzutao opened #75774 "rustdoc: Cannot go back page when enable "I'm feeling lucky" setting"
Enable "Directly go to item in search if there is only one result" option on Settings
![image](https://user-images.githubusercontent.com/15225902/90895919-0478c780-e3ed-11ea-8368-730fc514bcfe.png)

Search an unique item in search box generated by rustdoc, it will lead you to the doc of that item.
Click the go back button in browser, the page will change to previous search result and go forward
to

[2020-08-21 16:46] Darksonn opened #75777 "The following error was constructed but not emitted: cannot infer an appropriate lifetime"
### Code

[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=30f4445ed0f97cf822a7510dd9f0af28)

### Meta
The bug does not appear on beta or nightly.

`rustc --version --verbose`:
[code]

### Error output

[code]

[2020-08-21 20:15] SNCPlay42 opened #75785 "Lifetime error points to wrong reference in async fn return"
[code]

Output ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6c4944a18f49286c6eee7fc4e7322f1b)):

[code]

The `'1` lifetime name should be given to the second reference in the tuple.

@rustbot modify labels: C-bug A-async-await A-diagnostics A-lifetimes T-compiler

[2020-08-21 20:39] Blisto91 opened #75786 "f32 division/multiplication and .tan() platform behavior"
I know floats aren't exactly known for their precision and i might be missing something.
But i'm seeing some odd platform dependent behavior when i combine a ``f32`` float division with .tan()

This code run on mac, linux and windows
[code]

Gives the following printout
[code]
All the outputs are the same as i guess is expected.

Now i add one more decimal
[code]

Which outputs
[code]
Now windows

[2020-08-21 23:24] matthiaskrgr opened #75791 "diagnostics: "one type is more general" for two identical types?"
While looking through some clippy lint warnings in https://github.com/rust-lang/rust-clippy/issues/5939 I found this very confusing error message:

[code]

[code]
note that `expected type` and `found type` are identical which is not helpful :sweat_smile:

This happens on
[code]

and also on `1.46.0-beta.4`.

On stable `1.45.2`, the message looks different though:

[code]

[2020-08-21 23:37] dtolnay opened #75794 "Incorrect effect of stability attribute on calling private const fn"
In general we don't require private functions to have stability attributes. Stable functions are free to call private functions, and stable const functions are free to call private const functions that have no stability attribute.

But when a private const function inherits a stability attribute from an enclosing module, it currently can no longer be called from stable const functions. I think thi

[2020-08-22 02:12] danielhuang opened #75799 "Cargo registry paths are leaked in compiled binary"
When compiling a rust program, and inspecting the resulting binary, I can see paths of the form `$HOME/.cargo/registry/...` embedded inside.

## Steps to reproduce:

1. Create a new cargo project: `cargo init --bin`
2. Add a dependency to Cargo.toml, for example `regex = "1"`
3. Add some dummy code that uses this dependency, for example
[code]
4. Run `cargo build --release`
5. Then run `strings ta

[2020-08-22 02:35] wuggen opened #75801 "Attribute macro within macro_rules! macro causes error messages to lose spans"
I tried the following on the current nightly build:

[code]

I expected to see something like the following:

[code]

Instead, the error message lacks any span or additional context at all:

[code]

Removing the `#[foo]` from the `macro_rules!` body, or writing `#[foo] fn bar() { ... }` manually without going through the `foo!` macro, produces a correct error message; it's only when they are combi

[2020-08-22 11:33] tesuji opened #75804 ""hello world" binary size increase in each release"
The binary size of "hello world" program increased in each release:
![image](https://docs.google.com/spreadsheets/d/e/2PACX-1vQOtA1FI_zXtYKCIKoi07FfqafIEJvzjgUyMuTFFIDgZG1l4NBX6rhxJlSLvldogAeXVPLwgQXu4uqg/pubchart?oid=805282086&format=image)
![image](https://docs.google.com/spreadsheets/d/e/2PACX-1vQOtA1FI_zXtYKCIKoi07FfqafIEJvzjgUyMuTFFIDgZG1l4NBX6rhxJlSLvldogAeXVPLwgQXu4uqg/pubchart?oid=16500088

[2020-08-22 15:40] sazzer opened #75808 "Potential compiler memory leak in Nightly"
(Apologies if I've done this wrong. I've used the Bug template and not the ICE one because I'm not getting the "Internal Compiler Error" error message. I've also had a bit of a search and not seen anyone else reporting this at all, but I can't see anything unusual that I'm doing.)

I have a project that recently stopped building, and it's taken me a while to work out why. I still don't know everyt

[2020-08-22 15:57] jyn514 opened #75809 "`Self` does not work in intra-doc links for primitives"
I tried this code in https://github.com/rust-lang/rust/pull/75807:

[code]

I expected to see this happen: `Self::f` and `usize::f` resolve to the same thing.

Instead, this happened: `Self::f` gives a warning that it can't be resolved.

### Meta

`rustdoc --version`:
[code]
(but the problem is also present on master at time of writing)

[2020-08-22 18:09] gardspirito opened #75812 "Reached type-length limit on latest nightly"
I tried this code:

[code]
([link to github project](https://github.com/Guardian-Spirit/potential-rustc-bug/blob/master/src/main.rs))

I expected to see correct code compilation.

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

Error popped up after updating version of nightly toolchain.

[2020-08-22 21:10] Aaron1011 opened #75820 "Replace the pretty-print/retokenize hack with a direct comparsion of AST nodes"
Currently, proc-macro expansion pretty-prints the `Nonterminal` being passed to the proc macro:

https://github.com/rust-lang/rust/blob/5528caf91442729b47b8f818be0a0ddfd0c17ffb/src/librustc_parse/lib.rs#L283-L293

This ensures that the `TokenStream` we pass to a proc-macro always agrees with the AST struct it is attached to. This is necessary because the compiler may directly modify the AST struct

[2020-08-23 01:31] camelid opened #75823 "Highlight crate links as normal links with --enable-index-page"
Rustdoc highlights most links in blue, for example module links:

![image](https://user-images.githubusercontent.com/37223377/90968788-5d0b9b80-e4a5-11ea-9fb8-6fa660beef24.png)

But it does not highlight the links on the docs index page:

![image](https://user-images.githubusercontent.com/37223377/90968798-7ad90080-e4a5-11ea-8054-156631283c01.png)

Generally links are highlighted in blue (or some

[2020-08-23 07:14] Darksonn opened #75829 "Suggest Stream<Item = String> when specifying the item using the trait syntax."
This issue describes a suggestion I wish the compiler made. Given the following code:
[code]
The compiler produces this error:
[code]
It would be nice if the compiler suggested changing it to
[code]
The same applies to impl blocks, that also don't produce the suggestion.

[2020-08-23 11:13] matthiaskrgr opened #75833 "can't install rustc-docs component: `detected conflict: 'share/doc/rust/html/rustc'`"
[code]

https://github.com/rust-lang/rust/pull/75593 was supposed to fix this but it didn't work out I guess?

[2020-08-23 11:16] elichai opened #75834 "rustdoc does not pass `-C link-arg` through to doctests"
I have a C bindings project, all the tests pass with LTO and without, but when I pass `-C linker-plugin-lto` the regular tests pass but the rustdoc tests fail to link:
It looks like the problem is related to the fact that `rustdoc` uses `ld` even though the regular build uses `lld` (because I pass `-C link-arg=-fuse-ld=lld`)

<details><summary>Output</summary>
<p>

[code]

</p>
</details>

[2020-08-23 12:56] jyn514 opened #75836 "Unify error reporting for intra-doc links"
Right now there are two places that deal with disambiguators:
1. The one I wrote in https://github.com/rust-lang/rust/pull/75079: https://github.com/rust-lang/rust/blob/f5d784845801f2c6ec27857f0dff865f376f2ed1/src/librustdoc/passes/collect_intra_doc_links.rs#L782
2. https://github.com/rust-lang/rust/blob/f5d784845801f2c6ec27857f0dff865f376f2ed1/src/librustdoc/passes/collect_intra_doc_links.rs#L113

[2020-08-23 14:46] matthiaskrgr opened #75839 "llvm lint: buffer overflow in src/test/ui/foreign/foreign-truncated-arguments.rs"
code from `tests/ui/foreign/foreign-truncated-arguments.rs`

[code]
When checked with `rustc -Cpasses=lint src/test/ui/foreign/foreign-truncated-arguments.rs`, this generates the following llvm-ir lint warning:
[code]

repo @ 2342cc33333d0e87f692cf0b95b762743c74324d

[2020-08-23 16:45] camelid commented on #75823
The index page is https://doc.rust-lang.org/nightly/nightly-rustc/ and the page that shows the modules is https://doc.rust-lang.org/nightly/nightly-rustc/rustc_ast/index.html.

[2020-08-23 16:48] camelid commented on #75823
@jyn514 Do you know how to get to the index page (https://doc.rust-lang.org/nightly/nightly-rustc/) with docs for other crates? I can't seem to find the "List of all crates" in docs for other projects.

[2020-08-23 16:57] jyn514 commented on #75823
I don't think this is actually generated by rustdoc. This looks like bootstrap is passing `--index-page`.

[2020-08-23 16:58] jyn514 commented on #75823
In which case this should be a feature request for bootstrap, not a bug report for rustdoc.

[2020-08-23 16:59] camelid commented on #75823
Hmm, but it's generated by Rustdoc here: https://github.com/rust-lang/rust/blob/9d606d939a61c2f4c7bb4d89d959b60a53f50241/src/librustdoc/html/render/mod.rs#L1062-L1072

[2020-08-23 17:02] jyn514 commented on #75823
Oh interesting. It's still not on by default, you need to pass `--enable-index-page`, but it's definitely a rustdoc issue.

[2020-08-23 17:02] camelid commented on #75823
@rustbot claim

[2020-08-23 17:07] Grommish opened #75841 "bootstrap/dist.rs hard-coded pathways"
When installing with a --prefix, the bootstrap/dist.rs seems to set hardcoded paths that do not include the set --prefix:
[code]
https://github.com/rust-lang/rust/blob/master/src/bootstrap/dist.rs#L1210

This causes errors when /etc, /share, and the like are not available.  I am building rustc/cargo from the 1.45.2 source for use with OpenWrt.  I couldn't find a missed ```config.toml``` entry or `

[2020-08-23 17:18] danielhuang commented on #75799
I want to remove all debug related information from the binary when compiling in release mode

[2020-08-23 17:52] Kevan0v commented on #50186
Any reason why the API for RefCell and Cell is so inconsistent?

RefCell has a method replace_with similar to the method update for Cell but return the old value instead.

Shouldn't it be named update_with and be available on both or at least have the methods update and replace_with available for both?

[2020-08-23 19:50] GuillaumeGomez commented on #73721
Ok! Putting #75740 on hold then!

[2020-08-23 20:26] tmiasko commented on #75640
The cc crate includes CC & CFLAGS, so for vendored C dependencies following should work (as long as clang is based on compatible LLVM version):

[code]

Generally using MemorySanitizer can be quite challenging since all dependencies need to be instrumented.

Valgrind 3.16.0 improved situation with respect to false positives in memcheck due to compiler optimizations, so that might be an easier to u

[2020-08-23 20:28] alex commented on #75640
I think the conclusion here is that this is not a rustc bug, and this issue can be closed.

[2020-08-23 20:32] #75640 closed

[2020-08-23 20:50] Lucretiel opened #75846 "Stdlib request: AsPtr, IntoRawPtr, FromRawPtr"
I'd like to propose some new conversion traits for `core::convert`: `AsPtr`, `IntoRawPtr`, `FromRawPtr`. These would be defined like so:

[code]

These traits would be implemented for raw pointer types, as well as for smart pointer types like `Box`, `Arc`, `Weak`, etc.

The purpose of these traits would, obviously, be to facilitate conversion of a type into and back out of a pointer. The motivatin

[2020-08-23 20:55] mihneagogu commented on #22868
UPDATE: you can now collect an iterator of chars into a string, so that's all sorted out

[2020-08-23 20:56] XAMPPRocky commented on #75589
Seems like this is resolved in the next release.

[2020-08-23 20:56] #75589 closed

[2020-08-23 21:05] LeSeulArtichaut commented on #75808
It would be great to do some bisection and try to find an MCVE.
@rustbot ping cleanup

[2020-08-23 21:10] Aaron1011 commented on #75820
@petrochenkov: If you're supportive of the general concept, I plan to start working on implementing this.

[2020-08-23 21:10] camelid opened #75849 "ICE: `./x.py doc --stage 1` panics"
###  Command

`./x.py doc --stage 1`

Happens with PR #75842, but I don't think it's because of the PR, for one because the checks passed.

### Meta

Commit hash: 4419e04f167

### Error output

[code]

<details><summary><strong>Full <code>x.py</code> output</strong></summary>
<p>

[code]

</details>

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

Cc @jyn514

[2020-08-23 21:18] petrochenkov commented on #75820
I need to think.
Alternatives 2 + 3 is probably the proper long term solution, and it's indeed invasive and needs design work.

[2020-08-23 21:22] joshtriplett opened #75850 ""use of undeclared lifetime" error on async method has invalid suggestion (lifetime in parameter position)"
Minimal reproducer:

[code]

In both stable (`rustc 1.45.2 (d3fb005a3 2020-07-31)`) and nightly (`rustc 1.47.0-nightly (663d2f5cd 2020-08-22)`) I get this error:

[code]

If I make the method a top-level function, or if I drop the `&self` parameter to make it an associated function, the issue goes away and rustc correctly suggests `buggy<'somelifetime>()`.

[2020-08-23 21:29] camelid commented on #75080
@jyn514 It looks like `library/std/src/os/*/fs.rs` were already completed in #75395, so you can mark these as done:

* library/std/src/os/illumos/fs.rs
* library/std/src/os/openbsd/fs.rs

[2020-08-23 21:35] camelid commented on #75080
I'll take (many of these are relatively small):

* library/core/src/mem/mod.rs
* library/core/src/future/future.rs
* library/core/src/ptr/mod.rs
* library/core/src/marker.rs
* library/core/src/num/dec2flt/mod.rs
* library/core/src/array/mod.rs
* library/core/src/hash/mod.rs
* library/core/src/array/iter.rs

Also, can library/core/src/macros/panic.md really be switched over to intra-doc links since

[2020-08-23 21:37] camelid commented on #75080
I don't think you can link to arrays, right?

[2020-08-23 21:38] jyn514 commented on #75080
I updated the `fs.rs` files.

No, good catch. That one should be left as-is.

Correct, see #63351.

[2020-08-23 21:51] camelid commented on #75080
@jyn514 It seems that MarkDown files were converted to use intra-doc links in #75530. Maybe we can switch to intra-doc in `library/core/src/macros/panic.md`?

[2020-08-23 21:57] camelid commented on #75849
Build finally finished! Posted backtrace.

[2020-08-23 21:58] workingjubilee commented on #75410
@zhibo501 It is very common for crates to be used to demonstrate a functionality is useful and desired before adding them to rustc itself. There has been a recent push to implement Iterator::join based on it being one of the most popular methods of `itertools`. It is easier and lower friction there, since new features, even methods, only get added as unstable implementations in rustc. That was not

[2020-08-23 22:01] jyn514 commented on #75849
The weird thing here is that there's no main function - the backtrace starts at `__pthread_start`. But @camelid isn't using `parellel-compiler = true`. So I'm very confused what's going on.

[2020-08-23 22:02] jyn514 commented on #75849
Actually, this is while compiling `chalk-engine`, not documenting it.

[2020-08-23 22:03] camelid commented on #75849
For reference, the `config.toml` that produced the error is exactly the same as `config.toml.example`.

[2020-08-23 22:19] Mark-Simulacrum commented on #75833
Ah, right. https://doc.rust-lang.org/nightly/rustc/ (and the docs/html/rustc) directory do overlap. I guess we can call the directory rustc-docs or something? Seems rather annoying. I guess we could also put it at `share/doc/rustc/html` but that seems also not great.

[2020-08-23 22:43] Adverg opened #75854 "Ability to configure cargo run configuration"
I'm developing a program that is required to pass command line options and set environment variables. I'd like to have the ability to config `cargo run` so it sets the correct environment since running the program otherwise does not make sense and some error will be reported.

Would it be possible to add the abitility to configure cargo run?

[2020-08-23 22:50] jonas-schievink commented on #75854
Feature requests for Cargo should go here: https://github.com/rust-lang/cargo

[2020-08-23 22:50] #75854 closed

[2020-08-23 23:10] #75418 closed

[2020-08-23 23:32] jyn514 commented on #56922
A possible reason not to do this: it's possible for links to fail only when re-exported, even without bugs in rustdoc: https://github.com/rust-lang/rust/pull/75855

[2020-08-23 23:36] joshtriplett opened #75858 "Polonius performance problem on nix and libc"
Version: `rustc 1.47.0-nightly (663d2f5cd 2020-08-22)`

To reproduce, create a new binary crate, add `nix = "0.18.0"` to the `[dependencies]` section, and then run `cargo check` on it, followed by `RUSTFLAGS=-Zpolonius cargo check`.

Without polonius, this took `5.56s` for me. With polonius, this took `55.95s`, an 11x increase in check time.

To avoid a moving target here, these builds used `libc

[2020-08-23 23:46] jyn514 commented on #56922
It turns out this was already implemented and has a test case: https://github.com/rust-lang/rust/blob/master/src/test/rustdoc/intra-link-extern-crate.rs. I'm still not sure it makes sense to do this but I don't feel super strongly about it.

[2020-08-23 23:46] #56922 closed

[2020-08-23 23:53] richkadel commented on #34701
@xd009642 Thank you!! ❤️

You provided a key clue to resolving an issue running Rust binaries instrumented with `-Zinstrument-coverage` on MSVC!

Linking never failed (or at least, it didn't generate error messages), but when running the program, the program would usually SegFault during the post-exit phase to save the profiling counters to the `*.profraw` file. (If it didn't crash, it would produ

[2020-08-24 00:00] Pluriscient opened #75860 "Compiler hang on function return type"
While coding for a kata challenge ([this one to be exact](https://www.codewars.com/kata/5922543bf9c15705d0000020/train/rust)), the compiler hung when I tried to compile the code below, probably getting stuck trying to determine the return type.
It's late so I'll look into making the code more concrete tomorrow (if this doesn't turn out to be known)
### Code
<details>
<summary> Original code </summ

[2020-08-24 00:06] KodrAus opened #75861 "Tracking Issue for arc_new_cyclic"
The feature gate for the issue is `#![feature(arc_new_cyclic)]`.

Tracking the following API:

[code]

### Steps

- #72443
- [x] Implement `Arc::new_cyclic` (#75505)
- [x] Implement `Rc::new_cyclic` (#75994)
- [x] FCP: https://github.com/rust-lang/rust/pull/90666#issuecomment-1019288209
- [x] Stabilization PR: https://github.com/rust-lang/rust/pull/90666

### Unresolved Questions

-

[2020-08-24 01:55] Aaron1011 opened #75864 "min_const_generics allows defining new types in const argument"
I recently discovered that the following code compiles:

[code]

It looks like an `AnonConst` is allowed to contain arbitrary expressions (as long as no const or type parameters are used), which means that new types can be defined.

I'm not certain whether this should be allowed or not. However, I haven't seen this discussed before, so I thought it was worth bringing up.

[2020-08-24 03:20] raleighlittles commented on #22639
Stumbled upon this issue while working on [this Rustlings exercise](https://github.com/rust-lang/rustlings/blob/master/exercises/error_handling/errors2.rs), as the help text is extremely unuseful.

Trying to compile something like this snippet:

[code]

Throws an error on the second arm of the match, and provides this help text:

But then, after adding the import for that variant (`std::num::IntEr

[2020-08-24 03:30] ehuss commented on #75849
@jyn514 This is normal, the compiler always runs inside a dedicated thread (even for a non-parallel rustc).

Coincidentally I can reproduce this. I believe the issue is that the metadata format changes over time, but when rebuilding rustc, there isn't any versioning in place to check and avoid older versions.  In this particular case, it is trying to load a proc macro (libtracing_attributes in my

[2020-08-24 03:34] jyn514 commented on #75849
Is it possible to add the git hash to the version in a dev environment? That would be helpful for `rustc --version`, not just for rustc_metadata.

[2020-08-24 03:40] ehuss commented on #75849
I think if you set the channel to `nightly` in `config.toml`, it will embed the git hash.  Usually this is undesirable, as any small change to the git hash will rebuild the world.

[2020-08-24 05:11] caranatar opened #75868 "Non-exported public type in return type of pub fn in exported public type"
I ran into a weird issue and I'm not sure if it's a compiler bug, a rustdoc bug, or neither. I took over a crate which has a public struct (`Rule`), inside a non-public module, which does not get exported. That type gets used in the return type of a public function (`get_rule`) in an exported public type (`Grammar`), [docs.rs here](https://docs.rs/tracery/0.1.3/tracery/struct.Grammar.html#method.g

[2020-08-24 06:04] #75620 closed

[2020-08-24 07:09] mati865 commented on #34701
@richkadel profiling does not work with windows-gnu when building profiler library with GCC (but it does with Clang) and is not tested on the CI. With GCC it segfaults like that https://reviews.llvm.org/D86405#2232228
I'll open PR to Rust side of the issue today, LLVM side is waiting on https://reviews.llvm.org/D86405.

[2020-08-24 07:19] richkadel commented on #34701
@mati865 Thanks for the additional info. When you say "profiling" here, you're referring to PGO, right?

Just to be clear, my comment was not about Rust's PGO, but was about the Clang InstrProf coverage profiling feature, enabled by `rustc -Zinstrument-coverage`. I believe the InstrProf profiling depends on Clang and (I assume) would not work with GCC.

[2020-08-24 07:22] richkadel commented on #34701
(I should say, InstrProf depends on LLVM, that is.)

[2020-08-24 07:26] mati865 commented on #34701
@richkadel I'm talking about `llvm-project/compiler-rt/lib/profile` which is used for both PGO and code coverage.
GCC somehow miscompiles that library so we cannot test it on CI. When that library is built by Clang (and used by rustc) code coverage doesn't cause segfaults in the resulting binaries.

[2020-08-24 07:34] richkadel commented on #34701
Ok, yes. (The notes I linked above are pretty extensive, but include disassembled views of the results from both Clang and rustc.) At any rate, rustc appears to be working with that library now, as long as I disable `link-dead-code`. (Granted, I've only tested a few small binaries, but given all of the things I've tried (with no significant difference or improvement), I'm optimistic that the `link

[2020-08-24 07:43] phil-opp opened #75869 "Target spec JSON files are not checked for unknown keys"
This is not a new problem, but I could not find any open issue for this. Feel free to close this me know if this is a duplicate.

[2020-08-24 09:42] Kixunil commented on #74517
@mati865 yes, I have `armv7-a` as well. Do you happen to know if I have to recompile GCC or is there a better way to get it?

[2020-08-24 09:52] JaniM opened #75871 "Confusing error when trying to re-borrow a function argument"
It is a common mistake, especially for beginners, to attempt to reborrow function arguments when calling other functions.

I tried this code:

[code]

I expected to see this happen: Compile error following what the above code does if `foo(&x)` is attempted instead.

[code]

Instead, this happened: Misleading error.

[code]

### Meta
1.45.2 srable & 1.47.0 nightly on the playground

https://play.ru

[2020-08-24 10:09] mati865 commented on #74517
@Kixunil I don't know since I don't use Debian/Ubuntu as my daily driver.

[2020-08-24 10:15] jonas-schievink commented on #75868
This is working as expected. The private-in-public lint only looks at the items visibility modifier. I think there's an accepted RFC to change or clarify this behavior. And rustdoc has no way to document the struct since it only documents the externally usable portion of the API (unless you pass `--document-private-items`).

[2020-08-24 10:15] #75868 closed

[2020-08-24 10:55] pickfire commented on #75871
Seemed similar to https://github.com/rust-lang/rust/issues/71389 except that that is `*x = xxx` but this is `f(x)`.

[2020-08-24 11:04] pickfire commented on #75742
Is there any other samples other than `panic!()`? Wouldn't `format!()` here be optimized out already since it will `panic`?

[2020-08-24 11:21] lzutao opened #75873 "rustdoc: Internal type implementations of From trait leak on std doc"
The "Implementations on Foreign Types" sections doesn't appear in stable and beta doc, which is good:
https://doc.rust-lang.org/nightly/std/convert/trait.From.html#foreign-impls
![image](https://user-images.githubusercontent.com/15225902/91039307-8c054700-e636-11ea-9f5f-9f0f92b44ade.png)

### Meta

`rustc --version --verbose`: Version 1.47.0-nightly (5180f3da5 2020-08-23)

@rustbot modify labels:

[2020-08-24 11:25] lzutao commented on #75873
cc @Mark-Simulacrum this might be related to gimli PR.

[2020-08-24 11:45] #46651 closed

[2020-08-24 11:48] Mark-Simulacrum commented on #75873
Yeah, it almost certainly is. I thought we had fixed this, but I guess not quite. I'll take a look, but I'm not too worried about this personally.

[2020-08-24 12:02] matthiaskrgr commented on #75860
With `rustc 1.47.0-nightly (5180f3da5 2020-08-23)`, this just ate all my ram until my pc hang :sweat_smile:

[2020-08-24 12:07] Mark-Simulacrum commented on #75849
There is a separate ignore-git flag in config.toml, which is enabled by default for dev at least.

I'm going to close this - I agree with @ehuss' diagnosis. There's a fundamental trade-off between rustbuild being over eager to clean things out and people getting annoyed at "spurious" rebuilds. In this case at least I suspect there's nothing we can do to detect this case.

[2020-08-24 12:07] #75849 closed

[2020-08-24 12:15] jyn514 commented on #75080
Looking at those files it looks like they're documented with `doc(include = file.md)`. So rustdoc doesn't seem them as markdown files, just part of the code.

If you can get rustdoc to create the links for markdown files, I think it's fine to convert them too, but I'd want to make sure the pass is actually being run and the links aren't silently being ignored.

[2020-08-24 12:15] a1ien commented on #73151
Fixed in #73526

[2020-08-24 12:21] matthiaskrgr commented on #75860
Some hot functions while ram is being consumed

[code]

[2020-08-24 12:28] Mark-Simulacrum commented on #75142
Crater came back clear.

Closing, we're good to go for 1.46.

[2020-08-24 12:28] #75142 closed

[2020-08-24 12:29] #75381 closed

[2020-08-24 12:46] jyn514 commented on #75873
Possible duplicate of https://github.com/rust-lang/rust/issues/74672

[2020-08-24 12:55] lzutao commented on #75873
Duplicate of #74672 .

[2020-08-24 12:55] #75873 closed

[2020-08-24 13:15] kth5 commented on #74551
Same issue with Rust 1.45.2  on ArchPOWER with Firefox 79.0 (both from tarball)

[2020-08-24 14:06] mental32 commented on #74925
@oli-obk does this only apply to `assert_eq` or does it cover all of `assert`/`assert_eq`/`assert_ne`/`debug_*` variants?

[2020-08-24 14:30] pickfire opened #75880 "Ayu theme hover not noticible"
![image](https://user-images.githubusercontent.com/4687791/91056928-25455500-e659-11ea-8e47-1e965b8cf4d9.png)

Note that "Ayu" is already highlighted, it happens to mdbook too.

CC @GuillaumeGomez

[2020-08-24 14:34] GuillaumeGomez commented on #75880
The contrast is too small indeed. Want to send a fix?

[2020-08-24 14:43] pickfire commented on #75880
I will pass on this, I sent too many pull requests today, I can do this maybe another day (a few days) or if anyone is interested can take up this task before I do.

[2020-08-24 14:45] GuillaumeGomez commented on #75880
I'll certainly send a PR tomorrow then.

[2020-08-24 15:00] mental32 commented on #75861
@Dylan-DPC allow me a day to implement `arc_new_cyclic` on `Rc` :)

[2020-08-24 15:04] jfrimmel commented on #68209
Triage: no change, still happens with
[code]

[2020-08-24 16:06] nbdd0121 commented on #75742
You can replace the `panic!()` there with a `println!("Executed");`

[2020-08-24 16:17] qiujiangkun commented on #70255
I ran into this error a few days ago. My solution was to use raw pointer to work around.
[code]
Is there a way to solve this problem without nightly or unsafe?

[2020-08-24 16:20] akanawati commented on #75755
Thanks

[2020-08-24 16:27] qiujiangkun commented on #66541
I had this simplest example for this "bug". Now I understand why it is intended. It would be nice to have `const {}` or infer const property from source code.
[code]

[2020-08-24 16:35] LeCyberDucky opened #75883 "cannot relate region: LUB(ReErased, ReEmpty(U22))"
Hi, it appears that I've stumbled upon an internal compiler error.

### Code

I'm sorry that I can't provide a minimal example, but I'm not on a level to understand what is going on (at least for now, heh :P). I'm just here, because the compiler told me to go here. I have, however, pushed a commit of my project in the state that yields the error: https://github.com/LeCyberDucky/bitgeon/tree/Error-

[2020-08-24 16:42] Aaron1011 commented on #74616
The hack is here: https://github.com/rust-lang/rust/blob/03017003c77d782cf7ed841a05d7c628a9b93f25/src/librustc_ast/token.rs#L814-L838

[2020-08-24 17:04] jyn514 opened #75884 "Rustdoc does not warn about unknown, renamed, or removed lints"
Found in https://github.com/tokio-rs/tracing/issues/940#issuecomment-679249098.

[code]

[2020-08-24 17:04] scottmcm commented on #75744
As [the one who added `LoopState` initially](https://github.com/rust-lang/rust/pull/45595/files), I'm not at all tied to that name, so morse's rename sounds good to me -- in fact [I've also been calling it `ControlFlow` in the `Try` discussions](https://github.com/rust-lang/rust/issues/42327#issuecomment-379955253).

@NoraCodes Want to take on making a PR here?  There's probably a few parts:
- Ren

[2020-08-24 17:07] jyn514 commented on #75884
`renamed_and_unknown_lints` is also not running, which is even worse in this case because it means no one will see the message about intra-doc links being renamed.
[code]

[2020-08-24 17:16] RReverser commented on #70255
@qiujiangkun Can you share the full working snippet on play.rust-lang.org? In my case, I found than intermediate boolean variable helped as an ugly but working workaround, maybe it's possible in yours too.

[2020-08-24 17:58] scottmcm commented on #75647
These were historically known as "C-like" enums, and `Void` is not C-like.  From GCC:
[code]

Can you maybe elaborate more on this?

[2020-08-24 17:58] pikajude opened #75887 "Accepted convention for incurring dependencies on external files in macro expansion hurts reproducibility"
According to this thread https://internals.rust-lang.org/t/pre-rfc-add-a-builtin-macro-to-indicate-build-dependency-to-file/9242/2 and a few other sources I found online, the common way to force a module with a proc-macro to be rebuilt based on external changes (for example, an HTML template) is to generate an expansion that uses `include_bytes!()` with the path to the file.

[This function](https

[2020-08-24 18:09] scottmcm commented on #75786
This is probably just because of the `tan` -- multiplication and division are required to be good to ½ULP, but IIRC the trig functions only need to be good to 1ULP, which means it's expected that there can be differences.

If you throw that last example into [float toy](https://evanw.github.io/float-toy/), you'll see
[code]
A difference of 1ULP, as expected.

There are plenty of resources about fl

[2020-08-24 18:16] scottmcm commented on #75846
Seems vaguely related to https://github.com/rust-lang/lang-team/issues/23, though different...

[2020-08-24 18:18] scottmcm commented on #75864
Feels to me like this, at the very least, shouldn't be **min**_const_generics.

(I'd personally be happy to block it from `const_generics` too, but there are consistency arguments that's it's not unreasonable to allow types in there, since they're allowed in other blocks.)

[2020-08-24 18:24] AsterixxxGallier opened #75889 "MIR has errors when type of const is Fn with placeholder type"
I'll jump straight into the minimum verifiable example:
[code]
Try it out [here](https://play.rust-lang.org/?gist=cd937f445f800973512650b280c97520).

Here is the standard error output:
[code]

Being a complete beginner I don't really know what I can add to this report, and I have a workaround which I can use to avoid this problem. (I know what I can put in the place of `_`)

Edit:
[code]
([playgro

[2020-08-24 18:39] LifeIsStrange opened #75890 "Tracking Issue for defaulting to DWARF 5 format"
https://www.phoronix.com/scan.php?page=news_item&px=GCC-11-DWARF-5-Possible-Default
GCC 11 will enable DWARF 5 by default.
LLVM supports *should* be good as many backends already enable DWARF 5 by default, such as amdgpu or fuschia.

What are the blockers if any?
I don't think there is a flag to even enable it in an opt-in manner currently?

I think this could be a great improvement to rust as it

[2020-08-24 18:52] RalfJung commented on #75647
Sure, C might not permit them, but I don't see how that's a reason to disallow `as` casts in Rust.

[2020-08-24 19:17] scottmcm commented on #75744
@rustbot assign @NoraCodes

[2020-08-24 19:22] scottmcm commented on #47966
An an update to anyone following this, there's a group working on safe transmutes that may end up being the solution for this desire: https://github.com/rust-lang/lang-team/issues/21

[2020-08-24 19:24] jonas-schievink commented on #75890
What new features would Rust benefit from with this?

[2020-08-24 19:59] kreibaum commented on #66455
I ran into the same problem and a more explicit version of your solution is to import the `Debug` trait like this:

[code]

(So I don't have to read the docs again when I run into the same problem again / someone else runs into it.)

[2020-08-24 21:03] petrochenkov commented on #75820
TLDR: I don't think relying on AST more is the right direction.

We don't really need AST until expansion is done, before that some simplified mostly token-based represenation like https://github.com/rust-lang/rust/issues/43081#issuecomment-488731886 could be used. So it could make sense to rely on it less.

The plans to get rid of nonterminal tokens and always treat them as simply delimited group

[2020-08-24 21:43] richkadel commented on #64685
When compiling Rust binaries with `-Z instrument-coverage` and `-C link-dead-code` enabled, Rust binaries compiled for the Windows-MSVC target would typically crash (seg-fault) during the post-exit phase of writing the coverage-counter results to the `*.profraw` file (or at best, generate an empty file).

After learning of *this* known bug, I discovered a workaround: Disabling link-dead-code, via

[2020-08-24 21:55] xd009642 commented on #34701
@richkadel glad my comment was helpful :+1:

So the approach I'm taking with tarpaulin is to use syn to find coverable lines so I don't need to link dead code and can get the same results. I've been partially taking this approach for code which can be missed out regardless of dead code. But a combination of linker issues with `-C link-dead-code` and users having issues with compile times and targe

[2020-08-24 22:03] richkadel commented on #34701
Yes, Boolean short circuiting will definitely be "covered" (no pun intended) 😄

[2020-08-24 22:05] xd009642 commented on #34701
so just to be extra explicit if I have:

[code]

And test with only a toggling between true and false and everything else false, that would be 50% condition coverage, but 100% branch coverage (and also 100% line coverage).

[2020-08-24 22:24] ehuss commented on #75890
I think one improvement would be split dwarf (#34651).  I believe this would help reduce the size of executables when using the pre-compiled standard library (or at least not require stripping), and may have a performance improvement.  Unfortunately it looks like there is still a long road to support that. It would be interesting to see an overview of what modern tooling supports (gcc, clang, gnu

[2020-08-24 22:30] petrhosek commented on #34701
Doesn't this mean that you're missing one or more references that cause linker to drop symbols that are being used? Note that profile instrumentation is current incompatible with `--gc-sections` which is this issue wouldn't manifest on Linux even if was present there.

[2020-08-24 23:26] Aaron1011 commented on #75820
With regard to the `PreexpTokenStream` described in https://github.com/rust-lang/rust/issues/43081#issuecomment-488731886:

Without const generics, we could probably get away with determining the attribute target via a simple rule like 'stop at the first comma or delimited stream at the same depth' (which would handle `#[cfg] field: Ty` and `field: MyType<#[cfg] T>`). Unfortunately, const generics

[2020-08-24 23:32] richkadel commented on #34701
@xd009642 - Some of the specifics are part of what I'm finally nailing down now, as the final phase of the implementation.

I expect to produce results that resemble the coverage spans produced by Clang, for cases where the syntax is similar (like an if/else, as in your example).

But (at least in my opinion) accurate coverage of the executable code regions is what's most important. Deciding what

[2020-08-24 23:50] cuviper commented on #75839
I captured the LLVM-IR in a single codegen unit, then ran `opt -lint` which has the same complaint, just on `%4`.

[code]

Here are the relevant snippets from that IR:

[code]

I expect `S` has size 12, but `{ i64, i32 }` would have alignment padding up to size 16.

The lint goes away if I change all `{ i64, i32 }` to packed `<{ i64, i32 }>`, but maybe we can do better than that.

[2020-08-24 23:51] richkadel commented on #34701
@petrhosek - That's really interesting. Now that you mentioned it, I now finally see the `--gc-sections` option is enabled based on the value of `-Clink-dead-code`:

https://github.com/rust-lang/rust/blob/2da73717d70ee8583d619dfa12ad8b8306eedab5/src/librustc_codegen_ssa/back/link.rs#L1667-L1675

There are only about 3 or 4 places that the link-dead-code option affects `rustc`. I'm not sure what wo

[2020-08-25 00:14] richkadel commented on #34701
I should also add that the `gc_sections()` function in the referenced `link.rs` snippet is does not directly translate to the `--gc-sections` flag. It depends on which linker is used, and on the value of `keep_metadata`. Here's what rustc does for the MSVC linker:

https://github.com/rust-lang/rust/blob/1627ba19643c18fe9a80e65c8df8bbd2f3ed8432/src/librustc_codegen_ssa/back/linker.rs#L678-L690

[2020-08-25 00:16] jyn514 commented on #75884
Relevant code; https://github.com/rust-lang/rust/blob/6e3e74dd719334e84edd70ba0a842f5d4f94d266/src/librustdoc/core.rs#L225-L228

[2020-08-25 00:31] lzutao commented on #75647
I mean, what value does `Void as usize` have that will make sense?

[2020-08-25 00:37] JulianKnodt commented on #75597
Ah sorry I suspect this was fixed here by: https://github.com/rust-lang/rust/pull/75537
And this might be a replica of other issues linked in that PR. I think there are other regression tests included in that PR, so I believe this should be resolved.

[2020-08-25 00:44] Aaron1011 commented on #75647
It's not actually reachable, so it could just typecheck without actually ever needing to produce a value.

[2020-08-25 00:52] richkadel commented on #34701
(FYI, I had to edit the comment before last. I made a couple of incorrect statements originally.)

[2020-08-25 01:06] #64218 closed

[2020-08-25 02:33] estebank commented on #75871
It not _incorrect_, just stylistically suspect given the circumstances. `&mut x` will reborrow, and [it is what to use if you were calling `foo` multiple times](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=749e2342f0ead7af6d8901cf0de19806). Only in this case, where you only need to pass `x` around once is the suggestion not what you want to do.

[2020-08-25 02:53] digama0 commented on #75647
@lzutao It can compile the same way as `match x {}`, which is to say, produce no code and mark the remainder of the function as unreachable. Compiling to `0` would also work for all numeric types that this could target, although then `x` appears unused which might cause other unintended behaviors in the compiler.

[2020-08-25 03:15] lzutao commented on #75647
The compiler marks `match x {}` code as error. What do you mean ?

Unreachable is unsafe, does it mean that `Void as usize` is unsafe.

[2020-08-25 03:29] lzutao opened #75895 "compiletest: Way to bless pretty testsuite"
Currently, compiletest have no way to bless tests in `src/test/pretty`.
I use
[code]

to manually bless a test.

@rustbot modify labels: T-compiler

[2020-08-25 03:40] digama0 commented on #75647
@lzutao  This uses no unsafe code:
[code]
Here the code after the match statement (if there was any) would be unreachable, and this requires no unsafe code. Basically `x` is an impossible value, therefore the function cannot be called in the first place and no code need be generated.

[2020-08-25 04:25] qiujiangkun commented on #70255
Sure.
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2e990a1e4a1ffb90e38e943bf5d8a9a6)
How a intermediate boolean helps out?

[2020-08-25 05:22] lzutao commented on #75647
Thanks, I got that part now. But the question raised by [Scott still remain](https://github.com/rust-lang/rust/issues/75647#issuecomment-679277980): What is the concrete example of macros that have use cases for `Void as usize` ?

Also, `Void` is a never type, if `Void is usize` allowed, would we want to make any operations on `Void` unreachable?

[2020-08-25 05:47] petrochenkov commented on #75864
Items were allowed in constants expressions since forever, not sure why const generic arguments should be any different.
[code]
https://rust.godbolt.org/z/Ts6YT1

[2020-08-25 06:18] JulianKnodt commented on #75627
This can probably be fixed by adjusting to not return an async await error if there is a type error [here](https://github.com/rust-lang/rust/blob/ee541284bf5008bb0425fae02412352025099707/src/librustc_trait_selection/traits/error_reporting/suggestions.rs#L1265)

[2020-08-25 07:04] digama0 commented on #75647
The actual macro where this came up was a safe wrapper that declares an int-like enum and an array indexed by the enum. Roughly, it creates a type `enum Foo { User, Defined }` and `struct FooVec<T>([T; Foo::LEN])`, and then the `Index<Foo>` implementation for `FooVec` uses `vec.0[i as usize]` where `i: Foo`. When `Foo` has zero elements, this causes the macro to produce malformed code.

It is poss

[2020-08-25 07:36] #48111 closed

[2020-08-25 07:47] RalfJung commented on #75647
It's no surprise that macros run into this -- this happens any time that we have special exceptions. "`enum`s without fields can be cast to integers, *except* if the enum has 0 variants" is such a special exception, and from a language design perspective it has no reason to exist.

Not sure what the next step here is -- probably an RFC? This is a language extension after all.

[2020-08-25 08:15] Josef-Vonasek opened #75896 "Ambiguous associated type."
I tried this code:

[code]

I expected to compile it without errors.

Instead, this happened:

[code]
[E0223](https://doc.rust-lang.org/stable/error-index.html#E0223) states:
[code]

This obviously doesn't apply here - `B` is as concrete as `A`. And the type `A::B::B` is just as specific as `A::A` and `A::B`, yet only the former fails to compile!

[2020-08-25 09:21] xd009642 commented on #34701
@richkadel awesome that makes sense and I can see how to derive other coverage metrics from the info :+1:.

Regarding dead code not causing issues on linux maybe try with https://github.com/rust-ndarray/ndarray-linalg I've found I can get issues with crates that using FFI libraries in their dependency tree. Although, there's always a chance this is some interaction of link-dead-code and the reloca

[2020-08-25 09:29] bkolobara opened #75897 "Naked functions don't produce an active frame for asm! .seh_* directives on Windows"
I'm trying to port some Unix `asm!` code, using the `.cfi_*` directives inside naked functions to provide information to the unwinder/debugger about  call frames, to Windows.

The following code compiles on MacOs and Linux under ` rustc 1.47.0-nightly (f44c6e4e2 2020-08-24)`:

[code]

If I try to do something similar on Windows:

[code]

I get:  `error: .seh_ directive must appear within an active

[2020-08-25 09:35] matthiaskrgr commented on #75883
reduced:
[code]

[2020-08-25 09:42] rylev commented on #73215
@alexcrichton, can we reopen this issue so we can use it to track ARM support?

[2020-08-25 09:57] lzutao commented on #75883
@rustbot modify labels: -E-needs-mcve

[2020-08-25 10:05] mati865 commented on #75897
Could you post full reproduction steps?

[2020-08-25 10:06] jonas-schievink commented on #75896
Caused by https://github.com/rust-lang/rust/issues/22519, so closing in favor of that

[2020-08-25 10:06] #75896 closed

[2020-08-25 10:44] eddyb opened #75899 "Unsizing coercion does not normalize associated types in structs."
Example code I'd expect to work ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=da6411306c5266f6010ff5172838a2d3)):
[code]

(in case the example above seems artificial, the [realistic one](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b3ef269c501b3e6478275335f7922dba) I've reduced this from involves using an associated trait to add `

[2020-08-25 10:56] bkolobara commented on #75897
[code]

Running: `rustc --crate-type=lib lib.rs` on Windows produces:

[code]

[2020-08-25 10:58] eddyb commented on #75899
FWIW, this can be worked around [with explicit `Unsize` bounds in the right places](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b9c7a5f53033f7fe2db73c7c7d5dcb2e) but they're nightly-only and entirely unnecessary if we fix this issue.

[2020-08-25 11:23] Thomasdezeeuw opened #75900 "Index out of bounds in src/librustc_middle/ty/query/on_disk_cache.rs"
[code]

[2020-08-25 11:28] eddyb commented on #75899
Not sure if I should nominate this for compiler team or lang team, but let's try compiler team first.

[2020-08-25 11:40] adrian17 commented on #73916
With recent LLVM upgrade this particular crash disappears, but in general it still fails crashes when compiling a nontrivial crate, like `svg`.

New example:
[code]

Godbolt: https://godbolt.org/z/TTffx3

[2020-08-25 11:45] csmoe commented on #75900
@Thomasdezeeuw It'd be great with a minimal reproducible example.

[2020-08-25 11:58] Thomasdezeeuw commented on #75900
@csmoe I don't have a repro and the code is not open source unfortunately.

[2020-08-25 13:26] scileo opened #75902 "./x.py tidy gives unexpected errors."
When I run `./x.py tidy`, I get a lot of errors:

[code]
(Followed by about 22900 similar errors).

I reported the issue [on URLO][urlo-issue]. @daboross found where in the code the error is emitted ([here][error-emission-place]). According to them, the error comes from the fact I am running `./x.py test tidy` on a NTFS partition on Linux (see [their comment][daboross-comment]).

[urlo-issue]: htt

[2020-08-25 13:55] Mark-Simulacrum commented on #75902
Yeah, this sounds like not something we'd previously encountered.

I am happy to accept a patch adding detection for NTFS, if there's a good way to do that. I'm not sure myself how to go about detecting that.

[2020-08-25 14:01] mati865 commented on #75902
Like I said in https://github.com/rust-lang/rust/pull/74753#issuecomment-664564714 using blacklist based on `/proc/version` should be replaced with a check whether FS has proper permissions.

[2020-08-25 14:18] Aaron1011 opened #75904 "Incorrect 'use occurs' note when value is moved into a closure inside a loop"
The following code:

[code]

produces the following error:

[code]

However, the `&mut a;` statement is not responsible for the move - it's the `a;` statement below it which causes the move.

### Meta

`rustc --version --verbose`:
[code]

</p>
</details>

[2020-08-25 14:22] mati865 opened #75905 "`./x.py test` silently ignores some of ui-fulldeps test and fails on one test"
Yeah, if stage 1 stays a default, then we should probably
- error on `x.py test <suite>`/`x.py test --stage 1 <suite>` if the test suite requiring stage 2 is specified explicitly,
- ignore it with a message in "glob" runs like `x.py test` without arguments.

_Originally posted by @petrochenkov in https://github.com/rust-lang/rust/pull/75404#issuecomment-673006991_

[2020-08-25 14:22] mikeyhew commented on #63178
@MOZGIII  thanks. I realized I had a `.map` call after the `.find` that I was replacing, so I switched to `.filter_map(...).transpose()?`

[2020-08-25 14:30] yoshuawuyts opened #75906 "[diagnostics] Attempting to initialize a private field in a public tuple struct yields confusing error message"
_This is a constructor counterpart to https://github.com/rust-lang/rust/issues/75907_

## Overview

Errors for private fields in public non-tuple structs are pretty good. Given the following code:

[code]

The following error is returned:
[code]

A hint could be useful here, but overall this is good enough to understand. However when we convert this to a tuple struct the errors get more confusing:

[2020-08-25 14:52] yoshuawuyts opened #75907 "[diagnostics] Attempting to destructure a private field in a public tuple struct yields confusing error message"
_This is the destructure counterpart of https://github.com/rust-lang/rust/issues/75906_

## Overview

Attempting to destructure a private field in a public tuple struct yields a confusing error message. Given the following code:

[code]

The following error is generated:

[code]

This seems quite helpful: some field is private, so we can infer we probably should make it public instead. However whe

[2020-08-25 15:02] bugadani commented on #27130
This issue seems to be fixed in nightly.

[2020-08-25 15:17] jyn514 commented on #75836
Now that I think about this, maybe this should be fixed before #75756 gets merged ...

[2020-08-25 15:27] jyn514 commented on #72381
Possibly related to https://github.com/rust-lang/rust/issues/68427.

[2020-08-25 15:29] jyn514 commented on #71912
IMO the links rustdoc generates are not and should not be stable. The fix is to use intra-doc links (#43466), which unfortunately are not yet stable. But I don't think we should change the anchors to be predictable, people shouldn't be depending on them in the first place.

[2020-08-25 15:38] jyn514 commented on #62968
Duplicate of #63351

[2020-08-25 15:38] #62968 closed

[2020-08-25 15:40] jyn514 commented on #62909
https://github.com/rust-lang/rust/blob/6cc268e316d37d97fbdda6c1bf3e5a58dea470fe/src/librustdoc/clean/types.rs#L1313-L1355

[2020-08-25 16:04] nixphix commented on #75080
I'll work on the remaining mod.rs if they are not claimed

[code]

[2020-08-25 16:05] lzutao commented on #75906
Just fyi, the second code snippet is the same as the first one: it doesn't use tuple struct at all.

[2020-08-25 16:06] jyn514 commented on #75080
FYI `slice/mod.rs` is 7k lines so you may want to claim that only after you've done the others.

[2020-08-25 16:10] kinnison commented on #71912
@jyn514 hard to do that across crates.

[2020-08-25 16:11] jyn514 commented on #62940
Possible duplicate of https://github.com/rust-lang/cargo/issues/7677

[2020-08-25 16:11] nixphix commented on #75080
sure, updated the claim

[2020-08-25 16:12] GuillaumeGomez commented on #71912
If it's a crate that is not one of your dependencies, it's not possible, indeed.

[2020-08-25 16:13] yoshuawuyts commented on #75906
@lzutao thanks; fixed!

[2020-08-25 16:14] jonhoo commented on #64102
My latest suggestion from #74853 was `consume_and_produce`. The idea being that it is a function that consumes the given value in some unspecified way, and produces a value in some unspecified way (that happens to be identical to the consumed value).

[2020-08-25 16:15] jyn514 commented on #61562
So this isn't a bug in rustdoc at all, right? This is a bug that we fixed, and the failure was pre-existing?

[2020-08-25 16:21] WaffleLapkin commented on #63291
If anyone is searching for a replacement for `<_>::new_uninit_slice`, the following code seems to produce the same asm as unstable method :)
[code]
([godgolt](https://godbolt.org/z/43b8Kz))

[2020-08-25 16:21] jyn514 commented on #59791
Relevant comments: https://github.com/rust-lang/rust/pull/58894#discussion_r272795560

Looks like this was reverted in https://github.com/rust-lang/rust/pull/59789, so closing.

[2020-08-25 16:21] #59791 closed

[2020-08-25 16:24] jyn514 commented on #71912
If it's not one of your dependencies, then you can't depend on the anchor being present, you have to first navigate to it and be sure it's there before hard-coding it. So I don't think that's an argument to make the anchor predictable, just that doc authors should verify their links are present.

[2020-08-25 16:25] GuillaumeGomez commented on #71912
I personally think that the generated HTML shouldn't be generated, I was just stating a fact. ;)

[2020-08-25 16:28] jyn514 commented on #58737
This is no longer present for `Arguments` on nightly ... can someone come up with an MVCE?

[2020-08-25 16:36] jyn514 commented on #58411
`everybody_loops` is no longer being run, so I don't think we should reuse that.

One possible way is to special case this in `rustc_resolve`. However there are already a lot of hacks in resolve and I'm not terribly comfortable adding that. Maybe instead rustdoc could remove private fields of structs in a new AST pass? It would have to keep track of how many were reviewed so it could add `/* Some

[2020-08-25 16:40] jyn514 commented on #56232
Vaguely related to #73314

[2020-08-25 16:44] jyn514 commented on #55160
I have the same comment as in https://github.com/rust-lang/rust/issues/71912#issuecomment-680097427: direct links should use intra-doc links, the links rustdoc generates are not stable.

[2020-08-25 16:49] jyn514 commented on #54112
Closing as duplicate of https://github.com/rust-lang/rust/issues/74355 - even though this issue is older, that one has more discussion.

[2020-08-25 16:49] #54112 closed

[2020-08-25 16:50] jyn514 commented on #53763
I think this might be fixed since https://github.com/rust-lang/rust/pull/73566 ? Needs a test though.

[2020-08-25 16:55] leonardo-m commented on #74917
The problems is still present in LLVM V.11.

[2020-08-25 17:27] tmandry commented on #67982
@rustbot release-assignment

The trait has been merged in #72459, so this issue remains to track actual integration with `.await`.

[2020-08-25 17:37] Sauro98 opened #75913 "Error documenting code that uses min_const_generics"
### Code

The following code compiles just fine but when trying to run `cargo doc` on it I get the error described below

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-08-25 18:04] kinnison commented on #71912
Another difficulty is linking usefully to docs from (for example) an mdbook.

[2020-08-25 19:06] vkcz commented on #75612
[code]
This was added when I ran it with GDB

[2020-08-25 20:06] poliorcetics commented on #75080
I'll do `library/core/src/ptr/non_null.rs`.

[2020-08-25 20:55] heckad opened #75920 "Can't bound Err for Box<dyn Error>"
[code]

I expected to see this happen: all good

Instead, this happened: error the size for values of type `(dyn std::error::Error + 'static)` cannot be known at compilation time
It seems that `impl<T: Error> Error for Box<T> {` missed `?Sized` for `T`

[2020-08-25 20:57] jonas-schievink commented on #75920
Unfortunately it is not possible to fix this (it was attempted multiple times in the past)

[2020-08-25 20:57] #75920 closed

[2020-08-25 21:27] jgouly opened #75922 "nightly: segfault with asm!() / #[naked] (possible LLVM 11 bug)"
Compiling the following code with `cargo build --release` causes a `(signal: 11, SIGSEGV: invalid memory reference)` error.

### Code

[code]

It was introduced by:
[code]

Using the previous nightly works:
[code]

Looking at https://github.com/rust-lang/rust/compare/663d2f5cd...5180f3da5, the biggest change I see is the upgrade to LLVM 11.

### Backtrace
[code]

[2020-08-25 22:59] Volker-Weissmann opened #75924 "compiler bug: Unexpected panic"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-08-25 23:05] jonas-schievink commented on #75924
https://github.com/rust-lang/rust/blob/8ba22504e8e5dcbbe136d97f63c1280dabc523d0/src/librustc_lint/builtin.rs#L2182

[2020-08-25 23:27] Dylan-DPC commented on #75791
Marking this as P-high based on the [wg-prioritization discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375791.20diagnostics.3A.20.22one.20type.20is.20more.20general.22.E2.80.A6)

[2020-08-26 00:00] camelid commented on #75080
@jyn514 Looks like `library/core/src/macros/panic.md` is being included, so I opened a PR (#75927) with that. I'll make sure it's checked by hand though!

https://github.com/rust-lang/rust/blob/bf4342114e357f2934d59e12e31e94532ddb2adf/library/core/src/macros/mod.rs#L1

[2020-08-26 00:01] camelid commented on #75080
By the way, why is `panic.md` a separate file and not inline docs?

[2020-08-26 01:23] tmandry opened #75929 "Confusing borrow check error when function argument doesn't match type signature"
[code]

gives

[code]

when all that's needed is a reborrow: `&*buf`.

In this case `&buf` is `&&mut str` which doesn't match the type signature of `Db::new`, so it doesn't seem like it should have gotten past type check.

[2020-08-26 01:30] Amjad50 commented on #75080
I'll do `library/core/src/slice/mod.rs`

[2020-08-26 01:36] Amjad50 commented on #75080
Is it ok to take this? Or anyone trying to do it now?

[2020-08-26 01:40] jyn514 commented on #75080
Feel free to take it, but be warned that it's 7k lines. So if you want to do only a partial fix that's perfectly fine.

[2020-08-26 01:43] Amjad50 commented on #75080
Ok thanks

[2020-08-26 02:13] Aaron1011 opened #75930 "Generic parameter definitions are not cfg-stripped before `#[derive]` macros are invoked"
The following code (repository at https://github.com/Aaron1011/derive-bug):

[code]

produces the following output:

[code]

Note how all `#[cfg(FALSE)]` targets are stripped, except for the generic parameter `T`. This seems quite inconsistent.

Tested on `rustc 1.47.0-nightly (de521cbb3 2020-08-21)`

[2020-08-26 02:52] AndyGauge commented on #75520
[code]

[2020-08-26 03:11] lzutao commented on #75924
cc @jumbatm for ClashingExternDeclarations

[2020-08-26 03:15] jumbatm commented on #75924
@rustbot claim

[2020-08-26 05:00] SNCPlay42 commented on #75929
That's just deref coercion (and `&mut T => &T` coercion), right?

e.g. this compiles:

[code]

[2020-08-26 05:32] shawnanastasio commented on #74551
Also hit this on gentoo/ppc64le. I stumbled across [this fedora bug](https://bugzilla.redhat.com/show_bug.cgi?id=1862012) which led me to [this LLVM patch](https://src.fedoraproject.org/rpms/llvm/raw/master/f/0001-PowerPC-PPCBoolRetToInt-Skip-translation-if-there-is.patch). After applying the patch to llvm and rebuilding rust, firefox and gkrust build successfully for me.

[2020-08-26 06:32] mati865 commented on #74551
@shawnanastasio is this patch committed in LLVM 11?
Rust nightly uses LLVM 11 so it should be no longer affected.

[2020-08-26 06:34] sdroege opened #75935 "Doesn't elide bounds checks with slice::chunks_exact() in trivial cases"
Godbolt link to the code below: https://rust.godbolt.org/z/aKf3Wq

[code]

This code has a bounds check for `chunk[c]` although `c < chunk_size` by construction.

The same code a bit more convoluted gets rid of the bounds check

[code]

It seems like the information that `0 <= c < y.len()` somehow gets lost for the optimizer when going via `y.iter().enumerate()`. So this is probably unrelated to `

[2020-08-26 06:43] zeldin commented on #74551
@shawnanastasio This patch does not fix the issue for me on big endian PPC64 (and is of course unlikely to fix the OP:s problem on Solaris/SPARC).  Still, it's probably a good idea to apply it if using PPC64 as a platform to look for the issue, so as not to go down the wrong rabbit hole.  :-)

[2020-08-26 06:46] petrochenkov commented on #75930
The relevant code is `impl<'a> MutVisitor for StripUnconfigured<'a>`, it's quite possible that `cfg`s are not expanded in a bunch of other positions as well. (I never got to auditing that code.)

[2020-08-26 07:13] pragmatrix commented on #68951
Looks like this bug has been fixed in one of the recent Rust updates. Rust stable 1.45.2 compiles the code above without errors.

[2020-08-26 07:13] LukasKalbertodt commented on #40062
@nrabulinski What examples are you referring to? I could imagine those "remove examples" either going on the type (as a new section "Removing elements" or something like that) or directly on the `Vec::remove` method (below the existing docs). And by the way, feel free to add (parts of) my text/examples verbatim.

[2020-08-26 07:36] sdroege commented on #75935
I should probably add that while this code is very contrived, it's based on [real code](https://github.com/sdroege/ebur128/blob/e4114c294ac0fdd6ee27dccb88f4e648082e5581/src/filter.rs#L241-L253) that shows the same behaviour.

[2020-08-26 07:47] adaszko commented on #71732
I got hit by this bug too and in my case the fix isn't obvious.  What do meant by "fixing the get() call"?

[2020-08-26 08:23] lzutao commented on #75935
Maybe a duplicate of #74938: A upgrade to LLVM 12 or so is needed to fix the issue.

[2020-08-26 08:26] cmcqueen commented on #49048
Is there a trait for `mod_euclid()`, for use with generics constraints?

[2020-08-26 08:49] sdroege commented on #75935
I'll try adding only that change to the LLVM version used by rustc. Let's see if that solves anything (or works at all :) ).

[2020-08-26 08:55] RalfJung commented on #55160
@jyn514 so say I am writing a blog post and mentioning some Rust types whose docs I want to reference. Obviously my site generator does not support intra-doc links. What do you propose I do?

This is something people already do -- anything that has a URL has people link to it. It's what makes the web so amazing. Please don't break that.

[2020-08-26 09:08] Amjad50 commented on #75279
I'll work on part of it

[2020-08-26 09:24] matthiaskrgr commented on #75791
I tried to get cargo-bisect-rustc to work and it seems the regression merge is 1557fb031b272b4c5bfcc7de5df7eddc7b36a584

[2020-08-26 09:35] lambda-fairy commented on #49048
I don't think so. The general policy for `std` is to do the minimum needed for operator overloading, and leave anything else to external crates (like `num`).

[2020-08-26 09:39] sdroege commented on #75935
No, does not work at all. Gives a segfault in exactly that function that is changed inside LLVM.

[2020-08-26 09:40] mati865 commented on #13846
FTR this feature works fine nowadays but it causes LD older than 2.32 to misalign relocations information, LLD is unaffected.
Remains disabled for now.

[2020-08-26 10:05] sdroege commented on #75935
Got it to work. It doesn't fix this issue here, but it fixes #75936 . This one here is still valid.

[2020-08-26 10:12] sdroege commented on #75935
My guess is that this is because the slice iterators don't go via a counter but instead via an end pointer, so it's not obvious anymore that it's just iterating exactly `self.len()` times.

[2020-08-26 10:22] danganea commented on #75123
I was just beginning to learn rust and was similarly confused. This is especially because, just to test, I wrapped my method in a Box and it still didn't work.

Of course the following message tells you what to do:
[code]
But the above errors are especially confusing.

[2020-08-26 10:51] Amjad50 commented on #75279
sorry, missed something up

[2020-08-26 10:53] sdroege commented on #75935
Yes, going with a simple iterator that counts instead gets rid of the bounds check:

[code]

[2020-08-26 11:09] oli-obk commented on #74925
It covers all of these unless there's no formatting in `assert` or `debug_assert`, then those will work even without the formatting part of https://github.com/rust-lang/rust/issues/51999

[2020-08-26 11:27] oli-obk commented on #66541
@qiujiangkun I don't think your example relates to this issue. You are just getting a borrow check error. The examples here are actually fully constant and don't rely on arguments.

[2020-08-26 11:42] rbtcollins commented on #71732
It has a parameter type that is a bit bonkers given the type of the Hash, which causes the type inference of the `into()` to go off into the weeds I think; doesn't change that there is a bug - this is about the diagnostics after all.

[code]

is a fixed version of the broken code.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b4332041d4727de8e53025cf2aee89cb

[2020-08-26 11:44] GuillaumeGomez commented on #55160
URLs are stable, the DOM content isn't. However, since you always use a specific version of a crate, you can just link to the element of this specific version of the crate on docs.rs.

[2020-08-26 11:53] oli-obk commented on #75794
The reason we have this wanky system is that we didn't use to have `rustc_const_(un)stable` (and we didn't even get both of these at the same time, `rustc_const_stable` came quite a bit later than `rustc_const_unstable`). So yea, this is an emergent system that tried to not have any effect on unstable const fns because there were quite a few of them and annotating them with the fact that their con

[2020-08-26 11:54] oli-obk commented on #74747
I think we solved all of these

[2020-08-26 11:54] #74747 closed

[2020-08-26 12:00] RalfJung commented on #55160
URLs are not stable when a `struct` becomes an `enum` (which otherwise is semver-compatible if the struct had a private field).

[2020-08-26 12:03] jonas-schievink opened #75940 "-Clinker-plugin-lto breaks with -Copt-level=s/z"
[code]

Using the instructions at https://doc.rust-lang.org/stable/rustc/linker-plugin-lto.html#cc-code-as-a-dependency-in-rust.

Works fine with numerical opt-levels:
[code]

Breaks with `-Copt-level=s/z`:
[code]

[2020-08-26 12:22] JamieCunliffe commented on #75922
I believe this is actually undefined behaviour, naked functions are only supposed to contain inline assembly (https://internals.rust-lang.org/t/idea-naked-functions-2-0/11637/25)... I guess something went into LLVM that causes this to be enforced a little more than previously.

[2020-08-26 12:47] GuillaumeGomez commented on #55160
Then that's on the crate owner, not on rustdoc. We the URLs are defined as `[type].[type name].html`. If you change an item's type, then you change the URL. It's predictable. But again: always reference to a specific version of a crate and that shouldn't be an issue.

[2020-08-26 12:50] davidtwco commented on #53720
Closing, fixed by #75145.

[2020-08-26 12:50] #53720 closed

[2020-08-26 12:55] RalfJung commented on #55160
The entire point of this issue is that there is no good reason to include struct vs union in the URL. The "item type" of all structs, unions and enums should be just `type`.

It's predictable, sure, but that does not make it sensible.

[2020-08-26 12:58] GuillaumeGomez commented on #55160
So you would want to include a breaking change for something stable even before 1.0? You'd need very strong reasons for it to be done and I'm really not convinced...

[2020-08-26 13:02] RalfJung commented on #55160
No we don't need a breaking change -- as @bluss wrote above, reasonably stable URLs already exist: https://doc.rust-lang.org/stable/std/mem/ManuallyDrop.t.html
But nobody knows about them because they are not used by default. So all it would take is swap the role of `ManuallyDrop.t.html` and `struct.ManuallyDrop.html`, making the latter a redirect and the former the target of all the automatically

[2020-08-26 13:05] GuillaumeGomez commented on #55160
Well, we kinda want to remove this URL format since a while. It's still there because it's being used by RLS iirc. Also, this would be a regression in my point of view considering you lose information. And since it's not the default URL format, it's definitely a breaking change.

[2020-08-26 13:11] jyn514 commented on #55160
The point of discussion IMO is whether or not is _is_ stable. Currently, it's stable with respect to _rustdoc_ versions, but not with respect to the code being documented. Either

a) The file names should be predictable across versions being documented, in which case we should recommend `ManuallyDrop.t.html`, or
b) The file names are unstable and no one should depend on them, in which case we shou

[2020-08-26 13:11] RalfJung commented on #55160
The information you lose is not semver-stable and irrelevant for API consumers. That's what this issue is all about -- please consult the arguments given above.

[2020-08-26 13:13] RalfJung commented on #55160
IMO the question is quite simple at a fundamental level -- what does it take to uniquely identify an item in Rust? You needs its name, its full module path, and its "kind" -- which can be value, type, or macro. And that's it. So this information should be sufficient to construct a URL. After all, a "Uniform Resource Locator" is all about being able to locate resources, such as the documentation ab

[2020-08-26 13:24] jgouly commented on #75922
The following also crashes:
[code]

[2020-08-26 13:35] jyn514 commented on #55160
@RalfJung what do you propose we do about all the existing URLs that point to `enum.ManuallyUninit.html`? Should we generate redirects for _all_ pages in that namespace? That seems like it would bloat the size of the docs quite a bit. But if we don't do that, then the URLs are still broken even if we make `union.ManuallyUninit.html` a redirect.

[2020-08-26 14:06] sunfishcode opened #75942 "Documentation for `std::fs::set_permissions` doesn't cover symlink behavior"
The [documentation for `std::fs::set_permissions`](https://doc.rust-lang.org/std/fs/fn.set_permissions.html) doesn't say what it does if the given path names a symlink.

Experimentally, it seems that on Unix-family platforms it follows symlinks, while on Windows it does not. Though surprising, it's likely just a result of using the `chmod` and `SetFileAttributes` functions on their respective plat

[2020-08-26 14:42] shssoichiro commented on #75612
Are you able to get a backtrace? (typing "bt" when that exception occurs in gdb?) Might require recompiling oxipng with `debug = true` for the release profile.

[2020-08-26 15:26] Alexendoo commented on #73427
@rustbot release-assignment

[2020-08-26 15:35] Alexendoo commented on #52544
@rustbot release-assignment

If do you find the time in the future, please claim this issue again. Until then I'll free it up in case anybody else wants it

[2020-08-26 16:38] jyn514 opened #75948 "Add a"

[2020-08-26 16:38] jyn514 commented on #75948
Sorry, hit enter too soon.

[2020-08-26 16:38] #75948 closed

[2020-08-26 16:49] Alexendoo commented on #31060
@rustbot release-assignment

[2020-08-26 16:50] Alexendoo commented on #72240
@rustbot release-assignment

[2020-08-26 16:50] Alexendoo commented on #72171
@rustbot release-assignment

[2020-08-26 16:53] Alexendoo commented on #70381
@rustbot release-assignment

[2020-08-26 17:49] bugadani opened #75950 "Constify everything"
Now that conditionals and loops are allowed in const functions in stable Rust, is there a reason not to constify as much of the std/core library as possible?

[2020-08-26 17:51] spastorino commented on #75808
Adding `T-compiler` label so this can be picked up by our automated prioritization tool.

[2020-08-26 18:10] ehuss opened #75951 "rustdoc: private_doc_tests lint no longer fires on stable"
As of `rustc 1.47.0-beta.1`, the `private_doc_tests` lint is no longer working.

[code]

I expected to see this happen: `cargo doc` should issue `warning: documentation test in private item`

Instead, this happened: No warnings emitted.

This appears to have changed in #74855.  I don't see any discussion there about this, so I'm guessing it was unintentional.

cc @jyn514.

[2020-08-26 18:40] jyn514 commented on #75951
This was definitely unintentional. I thought I added a test for this ...

[2020-08-26 18:41] #75884 closed

[2020-08-26 18:41] jyn514 commented on #75951
Hmm, it tests with `deny(rustdoc)` but not with `deny(missing_doc_code_examples)`. Maybe the _name_ of the lint wasn't registered?

[2020-08-26 18:45] ehuss commented on #75951
The issue is [this line](https://github.com/rust-lang/rust/blob/1f2dd3b56aec4d8f97eb0b0552c166ef549d3316/src/librustdoc/passes/doc_test_lints.rs#L103).  Compiletest runs with RUSTC_BOOTSTRAP set.  I don't recall off the top of my head how to force a test to be stable.

[2020-08-26 18:50] jyn514 commented on #75951
Wait now I'm confused. I thought the point of this lint was that it only runs on nightly, because we're not sure if we want to stabilize it.

cc @rust-lang/rustdoc

[2020-08-26 18:50] jyn514 commented on #75951
@ehuss are you sure this used to work?

[2020-08-26 18:53] ehuss commented on #75951
The `private_doc_tests` lint has been on stable since 1.32. It is documented [here](https://doc.rust-lang.org/rustdoc/lints.html?#private_doc_tests).

[2020-08-26 18:58] jyn514 commented on #75951
Got it, I mixed it up with `missing_doc_code_examples`. Yeah this is a bug then - the two lints should be treated differently.

[2020-08-26 19:02] jyn514 commented on #75951
Actually it looks like I introduced the opposite bug for `missing_doc_code_examples` - it now runs on beta when it shouldn't.

[2020-08-26 19:07] nbdd0121 opened #75952 "Should there be a `Once::try_call_once`"
I wonder if `Once` should have a `try_call_once` method for failable initialization, which accepts a `FnOnce() -> Result<(), E>`.

`OnceCell` has a `get_or_try_init`  method which can fail, so I think it would make sense for `Once` to have a failable initialisation method as well. Note that due to lack of failable init in `Once` right now, `OnceCell` currently need to rely on `pub(crate)` method t

[2020-08-26 19:17] hudson-ayers commented on #59412
Just commenting that this seems very useful, and that any mechanism that allows for mapping LLVM-IR to rust types could also be useful for symbolic execution of Rust binaries. I see that https://github.com/rust-lang/rust/pull/59777 was closed, but I would be interested in contributing to some continuation of it if possible.

[2020-08-26 19:27] steveklabnik commented on #56333
Triage: no change

[2020-08-26 19:27] steveklabnik commented on #75950
Please post questions for discussion to https://internals.rust-lang.org/; we try to keep the issue tracker for bugs only. Thanks!

[2020-08-26 19:27] #75950 closed

[2020-08-26 19:34] spastorino commented on #75883
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375883.20cannot.20relate.20region.3A.20LUB(ReErased.2C.20ReE.E2.80.A6) and removing `I-prioritize`.

[2020-08-26 19:37] RalfJung commented on #55160
If my understanding is correct, currently we generate two pages for every type:
* `[enum|struct|union].$name.html` is the main page with all the fields and methods and stuff
* `$name.t.html` redirects to the above.

What I am proposing is to swap the role of these two files, so every existing link keeps working:
* `$name.t.html` is the main page with all the fields and methods and stuff
*  `[enum|

[2020-08-26 19:38] spastorino commented on #75889
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375889.20MIR.20has.20errors.20when.20type.20of.20const.20is.20Fn.E2.80.A6) and removing `I-prioritize`.

[2020-08-26 19:40] spastorino commented on #75951
Assigning `P-high` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375951.20rustdoc.3A.20private_doc_tests.20lint.20no.20long.E2.80.A6) and removing `I-prioritize`.

[2020-08-26 19:44] Aaron1011 commented on #75864
@petrochenkov: Wow, I didn't realize that we already supported that.

I'm going to close this issue - since we already supprt this in the array repeat position, there's nothing to gain from banning it in other positions.

[2020-08-26 19:44] #75864 closed

[2020-08-26 19:45] jyn514 commented on #55160
I'm happy with that. It doesn't fix the existing links to `union.ManuallyInit.html`, but it encourages good practice for future links without being too much of a burden on rustdoc.

[2020-08-26 19:54] petrochenkov commented on #46981
So, I've found an entirely legitimate way to trigger this error (the "early EOF on jobserver pipe" case) on new versions of `make`, without having stdin closed or anything other exotic setup.

If you call `cargo` from an outer `make`-based build system
[code]
then `cargo` will receive file descriptors for the jobserver pipe through an env var called `MAKEFLAGS`.

Except that new versions of `make`

[2020-08-26 19:58] RalfJung commented on #55160
(I am not sure what `ManuallyInit` is. `ManuallyDrop` changed from union to struct, so if you mean the existing links to `union.ManuallyDrop.html` then I agree.)

[2020-08-26 20:00] jyn514 commented on #55160
I was actually thinking of `MaybeUninit` 😆 so not even close

[2020-08-26 20:12] RalfJung commented on #55160
`MaybeUninit` is a union and always was, so I don't think it is relevant here.^^

[2020-08-26 20:58] brunowonka opened #75957 "Slow compilation caused by check_trait_item"
I'm seeing weirdly high compilation times with specifically tailored traits.

If I define a trait like so ([full-gist](https://gist.github.com/brunowonka/9ef512fe6e58df086ce72aff8040a6f1#file-main-rs)):

[code]

I get very high compilation times that are seemingly very sensitive to the number of bounds on the associated types and the number of pairs of `fn`+`type`.

At ~50 `fn+type` pairs and 4 ty

[2020-08-26 21:04] jonas-schievink commented on #75957
This will probably be fixed by https://github.com/rust-lang/rust/pull/73905

[2020-08-26 21:27] Aaron1011 commented on #71249
I have a pull request up at https://github.com/rust-lang/rust/pull/75534

[2020-08-26 21:30] belkadan opened #75959 "Transmute from one function pointer to another produces "can't transmute zero-sized type""
Compiling the following cursed code:

[code]

Produces the following opaque error:

[code]

I'm not exactly sure why `transmute` won't let me go from one function pointer type to another, but even if that restriction remains, the error message could be more helpful. (My workaround was to use `as isize` before invoking `transmute`.)

### Meta

`rustc --version --verbose`:
[code]

[2020-08-26 21:46] Dark-Legion commented on #42721
In my opinion, negative trait bounds is something we do need as a feature in the language along with specialization.

1. When building a package on the bottom end of the dependency chain, such as an executable, we are, most of the time, protected by the "orphan rule".
1. When building a package in general, people do tend to use the specific version they need, so breaking changes are still possible

[2020-08-26 21:50] tmandry commented on #75929
Yes! I came back here to say this. Edited the description.

[2020-08-26 21:54] ollie27 commented on #55160
The namespace based redirects were removed in #70563.

[2020-08-26 21:58] jyn514 commented on #55160
It looks like that was mostly to fix wonky hash handling? The only comment about namespaces I see is https://github.com/rust-lang/rust/pull/70563#issuecomment-652653459:

Is there any reason _not_ to add the namespace redirects back?

[2020-08-26 21:59] brunowonka commented on #75957
Tried it locally and can confirm it fixes the problem.

[2020-08-26 21:59] vandenheuvel opened #75961 "ICE during codegen of function that can't be codegened"
On stable 1.45.2, `1.47.0-beta.1 (2020-08-25 0f91f5c284c72e69bb71)` and  `1.47.0-nightly (2020-08-25 bf4342114e357f2934d5)`

From [the docstring](https://github.com/rust-lang/rust/blob/48717b6f3ce661d2a0d64f7bdfdfb5fd3484ee5b/src/librustc_middle/mir/mono.rs#L150) of `librustc_middle::mir::mono::MonoItem::is_instantiable`:
[code]

Possible related or duplicate issues are https://github.com/rust-lan

[2020-08-26 22:01] GuillaumeGomez commented on #55160
Why would we want it? It's a duplication of the current system. We removed it to stop having to maintain it and therefore reduce the amount of code.

[2020-08-26 22:03] vandenheuvel commented on #75961
Note that the function doesn't need to be public. Also, after reading the docstring that this example came from, it seems like an attempt is made to generate code, although no code should be emitted (the function can never be called, as the where clause can not be satisfied).

[2020-08-26 22:03] bugadani commented on #75618
An interesting thing here is that the compiler recognises what I'm trying to do if I don't use `.chars()`: https://rust.godbolt.org/z/1786Ko

[2020-08-26 22:09] jyn514 commented on #55160
The _entire issue_ is giving reasons why we would want it. https://github.com/rust-lang/rust/issues/55160#issuecomment-681083071 has a good summary.

[2020-08-26 22:10] matthiaskrgr opened #75962 "ICE: bound-normalization-pass.rs with -Zsave-analysis: node type cannot be placed in TypeckResults"
### Code
reduced from `./src/test/ui/impl-trait/bound-normalization-pass.rs`

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output
rustc ./src/test/ui/impl-trait/bound-normalization-pass.rs  -Zsave-analysis
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-08-26 22:19] bugadani commented on #75618
Looks like this is caused by `next_code_point`. As long as it's not part of a loop, it's fine:

https://rust.godbolt.org/z/778zvW

[2020-08-26 22:28] #75924 closed

[2020-08-26 22:29] scottmcm commented on #75959
Observe the following bit specifically
[code]
That's the unnamable ZST type, not actually a function pointer type.

If you update the lines to cast to a function pointer type first (such as as follows), it'll do what you expect:
[code]

[2020-08-26 22:31] Volker-Weissmann commented on #75924
Thank you for fixing it! There is nothing better than software with only a few open issues.

[2020-08-26 22:33] belkadan commented on #75959
Uh, hm. I suppose that makes sense, since you can't, like, store a function somewhere, but I don't think I would have thought of it on my own. I'm still fairly new to Rust, though, so I can't properly evaluate whether a more specific diagnostic is worth it.

[2020-08-26 22:37] RalfJung commented on #55160
Please read this issue.

[2020-08-26 22:38] ijackson opened #75963 "rustdoc: badges"

[2020-08-26 22:38] #75963 closed

[2020-08-26 22:39] ijackson commented on #75963
Sorry, inadvertantly submitted this by hitting return in the wrong window.  I can't find a way to delete it.

[2020-08-26 22:46] scottmcm commented on #73831
I noticed in passing that this is using `FnMut`.  That seems strange to me, since there's no guarantee which items will be looked at or in which order by this API, so actually mutating in the closure would seem an anti-pattern.  Should it maybe use `Fn` instead?  (People could always use interior mutability if they really really really want to update things in the closure, but this would discourag

[2020-08-26 22:58] matthiaskrgr commented on #75962
Bisection points to 50c0192c64241d723066add22c53d472e2b9cba9 , probably caused by https://github.com/rust-lang/rust/pull/73155

[2020-08-26 22:59] ijackson opened #75964 "rustdoc: please provide way to filter out out-of-document included resources"
I run `cargo doc` quite a lot because I like to have documents locally.  This means I can work without an internet connection; it means docs load very quickly; it means they are the versions I have selected; and it provides better privacy because it means no-one outside my systems is seeing which docs I load when.

However, there is a fly in this ointment: the docs sometimes contain offsite links.

[2020-08-26 23:12] rofrol opened #75965 "Dead link to FromStr from std/string/struct.String.html#method.parse"
On https://doc.rust-lang.org/std/string/str/trait.FromStr.html there is link `[FromStr]` which prodcues link to

https://doc.rust-lang.org/std/string/str/trait.FromStr.html

but should be

https://doc.rust-lang.org/std/str/trait.FromStr.html

[2020-08-26 23:54] jumbatm commented on #75924
Not a problem! Thank you for the report, and especially for taking the time to make a minimal example :)

[2020-08-27 00:11] ehuss commented on #75965
Thanks for the report!  The first link you posted doesn't exist.  Perhaps you meant something like https://doc.rust-lang.org/std/string/struct.String.html#method.parse?  If so, that has been fixed on the beta docs (https://doc.rust-lang.org/beta/std/string/struct.String.html#method.parse) which should reach the stable channel tomorrow.

[2020-08-27 01:01] workingjubilee commented on #15701
Just as a note, I was trying to fix up some code using #[cfg] and [cfg_if](https://docs.rs/cfg-if/) recently and kept slamming into this, even with the workaround to annotate blocks. So consider some interest expressed, at least.

[2020-08-27 01:19] jyn514 commented on #75913
Making this even more strange, this does _not_ panic with `#![feature(const_generics)]` instead.
[code]

[2020-08-27 01:20] jyn514 commented on #75913
<details><summary>Backtrace</summary>

[code]

</detail>

[2020-08-27 01:20] spastorino commented on #75804
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/I-prioritize.20.2375804.20.22hello.20world.22.20binary.20size.20increase.20in.20e.E2.80.A6) and removing `I-prioritize`.

Would be nice to see where (if it's just one PR) this has regressed ...

@rustbot ping c

[2020-08-27 01:26] lzutao commented on #75804
I think a high regression in nightly is from #74682 . Not that I think we should revert it, but it is worth investigating
to improve the situation somehow.

[2020-08-27 01:28] jyn514 commented on #75913
The main function is not necessary, it also crashes on
[code]

[2020-08-27 01:34] Lokathor opened #75968 "Uplift `MaybeUninit::uninit().assume_init()` lint from clippy"
Using `MaybeUninit::uninit().assume_init()` is instant UB unless the target type is itself composed entirely of MaybeUninit (eg: `[MaybeUninit<u8>; 10]`, or similar).

It's also the most common thing for a person to try when using MaybeUninit for the first time. I don't think that Rust has any footgun bigger than this single expression.

Clippy has a lint against this, and the lint needs to be upl

[2020-08-27 01:39] jyn514 commented on #75913
Yeah this one is beyond me, I have no idea why this is breaking.

[2020-08-27 01:43] jyn514 commented on #75913
This never worked with `#![min_const_generics]`; on `2020-08-08` it says the feature isn't recognized and on `09` it crashes.

[code]

[2020-08-27 01:43] camelid commented on #75913
Huh, I built that last code snippet in the Rust Playground and it compiled fine: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f467ccf519a00f5eceacff66a0c1f7a4

[2020-08-27 01:44] jyn514 commented on #75913
@camelid yes, it only crashes with rustdoc, which isn't available on the playground.

[2020-08-27 01:44] camelid commented on #75913
Oops, I missed that part. Sorry about that!

[2020-08-27 01:46] lzutao commented on #69121
Duplicate of #73021 because that issue has MCVE.

[2020-08-27 01:47] lzutao commented on #73021
#75961 has MCVE and doesn't require `-Zmir-opt-level`.

[2020-08-27 01:50] lzutao commented on #75959
Yeah, this is a trap that people come from C/C++ fall for: #75239

[2020-08-27 02:21] Amjad50 commented on #73904
I would like to take `sys/wasi`

[2020-08-27 02:38] jyn514 commented on #71789
The link you posted works for me. Can you still replicate on nightly?

[2020-08-27 02:42] jyn514 commented on #70757
For future readers: this is mostly fixed but was left open to track the edge case in https://github.com/rust-lang/rust/pull/70828#discussion_r403776755.

[2020-08-27 02:45] jyn514 commented on #66623
Duplicate of https://github.com/rust-lang/rust/issues/67533 - cap-lints is currently ignored for doctests.

[2020-08-27 02:45] #66623 closed

[2020-08-27 02:45] nbdd0121 commented on #75929
I didn't see anything wrong with the diagnostics, as this is indeed a lifetime issue. `&&mut T` could be coerced to `&T`, so this passes typeck. However, obviously `buf` is a local variable so `&buf` has its lifetime restricted to the scope of this function. Region inference will cause the type of that expression to be `Db<'buf>`, so it triggers this error.

If you spell out lifetime of Db, it wil

[2020-08-27 02:51] #75774 closed

[2020-08-27 02:51] #75951 closed

[2020-08-27 02:51] rust-highfive opened #75970 "`miri` no longer builds after rust-lang/rust#75966"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#75966, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Dylan-DPC, do you think you would have time to do the follow-up work?
If so, that would be great!

And nominating for compiler team prioritization.

[2020-08-27 02:52] jyn514 commented on #62779
Closing since this was fixed by https://github.com/rust-lang/rust/pull/61613

[2020-08-27 02:52] #62779 closed

[2020-08-27 02:56] jyn514 commented on #62188
This is `doc(cfg())` I think: https://doc.rust-lang.org/rustdoc/unstable-features.html#documenting-platform-feature-specific-information. Can this be closed in favor of https://github.com/rust-lang/rust/issues/43781 ?

[2020-08-27 03:09] ehuss commented on #71789
I believe this is fixed in 1.46 which should go live tomorrow.

[2020-08-27 03:36] VillSnow commented on #73831
@scottmcm memoization or exterior (web/DB) API access using mut handle?

[2020-08-27 03:37] jyn514 commented on #65330
Duplicate of https://github.com/rust-lang/rust/issues/74924, but this is a really good write-up! Feel free to post it as a comment on that issue :)

[2020-08-27 03:37] #65330 closed

[2020-08-27 03:38] jyn514 commented on #62122
Duplicate of https://github.com/rust-lang/rust/issues/74924

[2020-08-27 03:38] #62122 closed

[2020-08-27 03:43] jyn514 commented on #74924
Closing as duplicate of https://github.com/rust-lang/rust/issues/42066 (wow, this is certainly reported a lot!)

[2020-08-27 03:43] #74924 closed

[2020-08-27 03:51] retep998 commented on #62188
It's unfortunate that we have to add an extra attribute to document that instead of preserving the cfg information so rustdoc can report it directly.

[2020-08-27 03:54] jyn514 commented on #62188
That's https://github.com/rust-lang/rust/issues/1998 and is much harder to fix.

[2020-08-27 03:57] jyn514 commented on #62188
I'm going to close this since I don't think it has any requests that aren't covered by https://github.com/rust-lang/rust/issues/43781 or https://github.com/rust-lang/rust/issues/1998. I don't see a way to do this automatically without #1998.

[2020-08-27 03:57] #62188 closed

[2020-08-27 04:11] jyn514 commented on #55605
This has been implemented:
![Screenshot_20200827-001101_Ecosia](https://user-images.githubusercontent.com/23638587/91383337-e0a4ef80-e7f9-11ea-997f-0505f9193433.jpg)

[2020-08-27 04:11] #55605 closed

[2020-08-27 04:20] scottmcm commented on #75968
Even the `[MaybeUninit<u8>; 10]` example wouldn't need to use this pattern if [`uninit_array`](https://doc.rust-lang.org/nightly/std/mem/union.MaybeUninit.html#method.uninit_array) were to stabilize.

[2020-08-27 04:21] Amjad50 commented on #68354
Hi @nikomatsakis @jjpe, I'm interested in helping with stabilizing this feature.

[2020-08-27 05:29] #75823 closed

[2020-08-27 05:43] Lokathor commented on #75968
Ideally once there's a complete confidence that there's no false positives, we upgrade the deny by default into either a hard error, or maybe into an instant runtime panic.

But that might be a controversial step?

[2020-08-27 06:01] rofrol commented on #75965
Yes. Thanks.

[2020-08-27 07:05] RalfJung commented on #75970
The bot is wrong; it's not https://github.com/rust-lang/rust/pull/75966 that broke Miri, it's https://github.com/rust-lang/rust/pull/75687.

[2020-08-27 07:11] qiujiangkun opened #75973 "Buggy tcp_stream with non_blocking mode may receive the last part of a message"
I ran in to this problem:

I have a TcpStream set on non_blocking(true). When I read from it, depending on the delay after I send the http request, it may drop some data of the reponse or not. It shouldn't work like this anyway.

Moreover, it seems like that read_to_end will end when meeting EOF. How will this behavior in non_blocking mode? Is there a way to tell how many bytes is ready without ac

[2020-08-27 07:53] hniksic commented on #64260
This is an excellent proposal. `bool::and_then(...)` and similar feel wrong, first because `bool` is not an option and these methods conflate the two steps (converting to `Option` and doing something withit). The second reason it feels wrong is that it requires the **second** method, `then_some`, which starts to feel like overkill.

But with `bool::as_option()` that returns `Option<()>`, we get:

[2020-08-27 08:48] RalfJung commented on #28179
In [this comment](https://www.reddit.com/r/rust/comments/ielvxu/the_cxx_debate/g2i1r7a/?context=3), @dtolnay brings up the idea of "unsafety at the item level". I feel like that is also relevant for this issue here, which basically concerns an unsafe function-level attribute.

[2020-08-27 08:53] djc commented on #64260
Going to try to summarize updates since my [last summary](https://github.com/rust-lang/rust/issues/64260#issuecomment-608407979)) from 4 months ago:

@withoutboats initially canceled FCP with the following concern:

1. The initial RFC proposal was actually:
  * `fn then<T>(self, t: T) -> Option<T>`
  * `fn then_with<T, F: FnOnce() -> T>(self, f: F) -> Option<T>`
2. Before the RFC was accepted, the

[2020-08-27 09:25] #61076 closed

[2020-08-27 09:41] jdahlstrom commented on #64260
To clarify, I only meant to propose adding *some* function of type `bool -> Option<()>`, not a `From` impl specifically. (My bikeshed name was `bool::as_option`, which is what boolinator also has so there's some precedent). But a `From` impl would be fine as well, assuming turbofish isn't needed too often.

[2020-08-27 10:26] runiq commented on #64260
@djc Would you consider adding @hniksic's [proposal](https://github.com/rust-lang/rust/issues/64260#issuecomment-681726105) too? It sounds like the most straightforward to me.

[2020-08-27 10:26] mitchmindtree commented on #42066
@jyn514 mentioned it might be worth posting my OP at #65330 (a duplicate issue) to the main discussion here, but it looks like a lot of my points have already been covered here so I'll just leave it at a link.

My personal preference would be to prepend the parent modules until there can no longer be any ambiguity to which type is referred to. The paths to some types can get incredibly long. If th

[2020-08-27 10:47] matklad commented on #75700
ping @marmeladema, this is ready to be implemented.

[2020-08-27 10:48] lzutao commented on #75935
You could update the issue description for new information.

[2020-08-27 10:53] marmeladema commented on #75700
I'll start soon! Sorry I got a bit overwhelmed with work. If in the next couple of days I haven't replied feel free to re-assign.

[2020-08-27 11:02] sdroege commented on #75935
Indeed, thanks. Done!

[2020-08-27 11:02] csmoe commented on #75707
here is the unwrap to blame.
https://github.com/rust-lang/rust/blob/6cc268e316d37d97fbdda6c1bf3e5a58dea470fe/src/librustc_mir/monomorphize/collector.rs#L722

[2020-08-27 11:15] djc commented on #64260
@jdahlstrom / @runiq: done (consider hiding your comments as resolved to make this trend easier to follow).

[2020-08-27 11:20] cynecx commented on #75935
Is there any particular reason why the std-implementation (`slice::Iter`) is doing iteration through end pointer equality compared to the counting variant?

[2020-08-27 11:22] steelx commented on #25289
in my case it was due to OpenSSL

[code]

[2020-08-27 11:27] sdroege commented on #75935
I don't know the history, but in theory one instruction less per iteration (one pointer addition vs. one pointer addition and one counter addition). And it might be taken advantage of in some specialized impls but I don't know.

Might be worth looking at what `std::vector` iterators in C++ are doing, I'd hope those are optimizing well with `clang++`.

[2020-08-27 11:46] matthiaskrgr opened #75977 "ICE assertion failed: self.is_struct() || self.is_union()"
### Code
code from `./src/test/ui/async-await/issues/issue-64433.rs`
[code]

### Meta

repo @ f7cbb7a594658099ebb9d0008779511fe2fbe9ab

### Error output
`rustc ./src/test/ui/async-await/issues/issue-64433.rs`
[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2020-08-27 11:49] jyn514 commented on #42066
I think it should be per-page, not for the whole crate. Otherwise you'd get lots of false positives from dependencies when you really are interested in disambiguating the _current_ page.