[2019-08-19 18:09] cramertj commented on #60245
@alexcrichton I don't think you can r+ issues ;)

[2019-08-19 18:18] alexcrichton commented on #48683
Note that I wouldn't necessarily consider that a showstopper. I do think though that if we want to put this feature through its paces we would ideally all but delete `src/bootstrap/bin/rustc.rs` from this repository which largely implements what `RUSTFLAGS` and this feature should encompass instead.

[2019-08-19 18:20] dtolnay commented on #48043
What's the deal with the possible custom error value in TryReserveError::AllocError?

https://github.com/rust-lang/rust/blob/bdfd698f37184da42254a03ed466ab1f90e6fb6c/src/liballoc/collections/mod.rs#L59-L64

Does that involve later possibly adding a type parameter with a default value to TryReserveError? If so, that would break code that constructs CapacityOverflow because default type parameters o

[2019-08-19 18:22] estebank commented on #63697
For the case where we have `i32::from(0_i16)` and an `i16` was expected, what should be the correct behavior? I believe simply suggesting `i16::from(0_i16)` is appropriate, if funny looking, because the `0_i16` _could_ be coming from outside a macro, and the error be inside of one. Thoughts?

[2019-08-19 18:39] hellow554 commented on #63702
Same goes for array and slices

[2019-08-19 18:49] estebank opened #63711 "Suggest setting associated types on type errors"
[The following code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4c099411a96bcca3c01e682ca92e8175) is missing a constraint for `TryInto<Error=TryIntoError>`:

[code]

which causes the following error:

[code]

This should be closer to

[code]

or

[code]

CC reporter @minggfeng

[2019-08-19 19:06] estebank commented on #63526
I'm not sure if this codepath is using `FmtPrinter` (I did a quick check [changing this](https://github.com/rust-lang/rust/blob/d1cdb02e4d408bc9be293e081ba0116f9f7670f6/src/librustc/ty/print/pretty.rs#L449) to `"im pl "` and I didn't see any change to this error. I _think_ that what you want to look at is

https://github.com/rust-lang/rust/blob/afc39bbf2447844569e872468f9440d430b81a46/src/librustc

[2019-08-19 19:06] zekun000 commented on #62649
Hi, I'm affected by this too, I saw from comment it's related to incremental build. What command should I use to workaround this?

[2019-08-19 19:10] estebank opened #63712 "E0267 is used twice in different `struct_span_err` calls"
The following code

https://github.com/rust-lang/rust/blob/1e02bc62bc72d2145a9f11c740714a1a5d94e2b4/src/librustc_passes/loops.rs#L175-L184

Should either assign a new error code to the `AsyncClosure` case, or move the common code to a closure and call it from those two branches to avoid using the same error code twice:

[code]

This issue has been assigned to @u32i64 via [this comment](https://git

[2019-08-19 19:13] bjorn3 opened #63713 "Create a deterministic `FxHashMap` wrapper"
It should not provide iteration support, but only insert/remove/get/get_mut and convertion to a sorted vec. We should then use it where possible

This could prevent accidentially causing hashmap related non determinism in most cases.

_Originally posted by @bjorn3 in https://github.com/rust-lang/rust/pull/58281#discussion_r315305040_

[2019-08-19 19:17] iluuu1994 commented on #63526
I will try that, thanks @estebank 🙂

[2019-08-19 19:20] estebank commented on #63526
It's less than ideal, but using `RUSTC_LOG=rustc::ty::print=debug` causes a `stack overflow`, which makes it harder to figure out what's going on:

[code]

[2019-08-19 19:35] hawkinsw commented on #60593
Amazingly enough, I, too, am seeing a similar error message! Can you show/tell how you applied the `RTLD_DEEPBIND` flag to the `rustc` call so that I can see if it fixes my issue, too? If it does, I will submit more details about my use case to this bug so that it might be possible to see if the fix(es) proposed here will address both problems!

Thanks for all the work that everyone is doing to di

[2019-08-19 19:49] hellow554 commented on #62649
Use `cargo clean` when you encounter it. It should not happen unless you change something between builds. Or you could disable incremental compilation

[2019-08-19 20:27] SimonSapin commented on #48043
Correct.

Ugh, that’s a good point. Back to the drawing board I guess.

@rfcbot fcp cancel

[2019-08-19 20:48] sgrif commented on #63510
This appears to be resolved, please reach out to me if this happens again.

[2019-08-19 20:48] #63510 closed

[2019-08-19 21:00] jhpratt opened #63716 "[bug] async specialization is not parsed"
The `async` keyword doesn't seem to currently work with specialization (namely `default fn`). The order of keywords does not matter — I'm not sure which it's supposed to be.

Minimal example from @dtolnay in dtolnay/async-trait#25:

[code]

which gives the following error

[code]

[2019-08-19 21:21] andjo403 commented on #63638
I can to try implement this.
@Mark-Simulacrum do you have an idea for how to thread trough all the options?
my fist taught was that as the rustdoc command line args is parsed by the rustc code maybe it is possible to filter out the rustc options from the args to rustdoc.
but as I do not know how to do that maybe change the run_test to take a rustdoc::config::options instead of all the parameters t

[2019-08-19 21:33] petrochenkov commented on #63685
Fixed in https://github.com/rust-lang/rust/pull/63717.

[2019-08-19 21:37] Mark-Simulacrum commented on #63638
I would start off by just interpreting the session parameters (they should be close to 1-1 and mostly lossless); I think there's possibly potential for cleanup but I could see the config::options being more complicated to re-stringify into rustc args. Whatever works best though when you get into the weeds is fine by me though!

[2019-08-19 21:54] ecstatic-morse commented on #49146
@alexreg @mark-i-m @est31 @oli-obk I should be able to publish my WIP implementation of dataflow-based const qualification sometime this week. There are a lot of compatibility hazards here, so it may take a while to actually merge it.

[2019-08-19 22:09] alexreg commented on #49146
Super; look forward to it.

[2019-08-19 22:09] DavePearce opened #63719 "Strange E0505 error ... is this a bug?"
Hey Folks,

So, I've been fuzz testing `rustc` nightly using a range of generated programs and am digesting the findings.  This one stood out to me:

[code]

This currently reports an E0505 on the playground and Rust nightly.  However, removing the nop `y=y;` and its fine.  This feels like a bug to me ... thoughts?

[2019-08-19 22:12] tmandry commented on #32512
I agree that this would be ideal. Any suggestions on how to do it?

The best way I can think of off the top of my head is choosing a mode at the time of building libtest. I'm not sure how to detect that a specific binary is linked as panic=abort.

[2019-08-19 22:20] alexcrichton commented on #32512
Choosing when libtest is built is possible but probably not gonna work out well because we ship a prebuilt libtest which is always compiled as panic=unwind. I think though that `fn main()` for the test harness is *always* synthesized at the end crate, so we could synthesize a main function which passes a boolean to libtest. That'd all be unstable and not really usable for other crates, so no new e

[2019-08-19 22:20] varkor opened #63720 "Cannot use `use Self::*;` inside a method"
[code]
It's counterintuitive that this fails. At the very least (if it's not possible to fix this), we should special case the error message to explain the problem.
https://github.com/rust-lang/rust/issues/49683#issuecomment-458886172 may be related.

[2019-08-19 22:28] ExpHP commented on #63719
[code]

I think this is technically a reborrow (`y = &mut *y`) rather than a no-op, because the lhs and rhs are both known to be `&mut _`.  Though this is the first time I've ever seen a reborrow cause *fewer* programs to compile versus a move!

(amusingly, though, the MIR is simply `_2 = _2`)

[2019-08-19 22:30] Centril commented on #63720
cc @petrochenkov @estebank

[2019-08-19 22:49] Mark-Simulacrum commented on #31180
Closing as per the above -- we don't intend to do this.

[2019-08-19 22:49] #31180 closed

[2019-08-19 22:55] cramertj commented on #63716
Note that `async` in traits is not yet allowed, so this would be meaningless even if it parsed.

[2019-08-19 22:56] #33246 closed

[2019-08-19 22:58] Mark-Simulacrum commented on #47008
Presumably this is no longer an issue (I believe I recently compiled libcore quite quickly on macOS). Closing as such, but we can definitely reopen if people are still hitting this!

[2019-08-19 22:58] #47008 closed

[2019-08-19 22:59] Mark-Simulacrum commented on #45317
Since this is quite an old issue and we've not seen anyone chiming in for a while, I'm going to close this issue -- but if this is still a problem we can definitely reopen.

[2019-08-19 22:59] #45317 closed

[2019-08-19 23:00] dtolnay commented on #63716
@cramertj #[async_trait] can handle this if rust will parse it.

[2019-08-19 23:00] jhpratt commented on #63716
@cramertj Where this came up is when attempting to use the `async-trait` crate, which uses a proc macro to transform async traits to current syntax. I was attempting to use it in Rocket when I ran into this.

[2019-08-19 23:01] Mark-Simulacrum commented on #48319
@cuviper Could you comment if this is still an issue for distros? (Going through to triage rustbuild bugs currently)

[2019-08-19 23:02] Mark-Simulacrum commented on #52227
@bryteise Is this still an issue for you? We've changed some things around with proc macros since then I believe, in particular we now uplift them to both host and target sysroots I believe, so perhaps that's helped here?

[2019-08-19 23:03] Mark-Simulacrum commented on #45182
I'm going to loosely say this is probably RFC-worthy territory and close this issue (it's definitely not a rustbuild bug).

[2019-08-19 23:04] #45182 closed

[2019-08-19 23:06] Mark-Simulacrum commented on #44305
Retagging as a compiler feature request as ultimately rustbuild can't do much beyond threading options through to rustc here.

[2019-08-19 23:08] Mark-Simulacrum commented on #50483
Since we've moved CI systems and seem to have never seen this after the first few times I'm going to claim this has been "fixed" and close it.

[2019-08-19 23:08] #50483 closed

[2019-08-19 23:09] Mark-Simulacrum commented on #50396
I'm going to close this since I think fixing this is pretty much out of scope (we can't effectively maintain these docs).

[2019-08-19 23:09] #50396 closed

[2019-08-19 23:10] Mark-Simulacrum commented on #49506
Closing since we never got a reply to my previous comment and I'm pretty sure we do the right thing in librustc_llvm's build script.

[2019-08-19 23:10] #49506 closed

[2019-08-19 23:12] Mark-Simulacrum commented on #49052
Closing -- if this is still reproducible off of Rust master then we can reopen but it looks like it probably wouldn't be...

[2019-08-19 23:12] #49052 closed

[2019-08-19 23:13] Mark-Simulacrum commented on #48667
Hm, I suspect this is possibly fixed now so I'm going to close but if you see this again we can probably modify rustbuild to just assume dirty on stamp files not existing (but we really shouldn't care too much anymore as we read them much less).

[2019-08-19 23:13] #48667 closed

[2019-08-19 23:14] Mark-Simulacrum commented on #48607
Closing as per the above. @aturon is taking over some of the parallel compiler review work though so I think as we move closer to making that stable we'll probably want to enable more builders and such but keeping this open doesn't seem too useful.

[2019-08-19 23:14] #48607 closed

[2019-08-19 23:16] Mark-Simulacrum commented on #39194
I think this is basically works as intended currently (even if I personally think it's a bit gnarly, this is basically the behavior we're ~stuck with).

[2019-08-19 23:16] #39194 closed

[2019-08-19 23:22] cuviper commented on #48319
It hasn't been an issue for me because I stopped using `--enable-full-bootstrap`. I'll try to take a look whether the suspected differences still exist in stage1/stage2 libraries.

[2019-08-20 00:31] #62517 closed

[2019-08-20 00:31] #63594 closed

[2019-08-20 00:40] bryteise commented on #52227
@Mark-Simulacrum I'll take a look at building the latest release tomorrow and get back to you.

[2019-08-20 00:45] Centril commented on #52662
In https://github.com/rust-lang/rust/pull/63620, a bug was fixed where some incorrect spans were used in diagnostics. The PR also added a test [src/test/ui/associated-type-bounds/assoc-type-eq-with-dyn-atb-fail.rs](https://github.com/rust-lang/rust/blob/1808e4da68bd94393c03229550b166cafebf38e8/src/test/ui/associated-type-bounds/assoc-type-eq-with-dyn-atb-fail.rs) which checks that `type Out = Box<

[2019-08-20 01:12] qnighy commented on #63702
Dot operators require immediate resolution of outermost non-reference type of the receiver. In this case the compiler has to know that the expression `v[idx]` is a tuple. However, when the compiler sees the expression for the first time, the type of `idx` is unknown (it might be `Range<usize>` for example). So I guess this isn't a bug in a strict sense but there might be a room for improvement in

[2019-08-20 01:29] estebank opened #63724 "Silence `unused_import` warning on unresolved import"
`use Foo::*;` will cause the following output:

[code]

The warning should be silenced.

CC https://github.com/rust-lang/rust/issues/56982

[2019-08-20 02:38] lopopolo commented on #63697
@estebank that sounds good to me 👍

[2019-08-20 02:55] Karuturirs opened #63727 "offline docs doesnot show symbols proper on firefox"
The offline docs  does not show symbols properly such as navigation to previous page, next page, table of content, change theme, search and print this book in firefox browser only.

tried > rustup docs --book
opened docs in firefox.

//version

rustc 1.37.0 (eae3437df 2019-08-13)
binary: rustc
commit-hash: eae3437dfe991621e8afdc82734f4a172d7ddf9b
commit-date: 2019-08-13
host: x86_64-apple-darwin
r

[2019-08-20 03:13] lzutao opened #63728 "missing specialization: `<serialize::json::Encoder as SpecializedEncoder<syntax_pos::symbol::Ident>>::specialized_encode` not overridden"
The following code when compiled with `-Z ast-json` causes ICE:
[code]

Error:
[code]

[2019-08-20 03:33] idubrov commented on #50297
I'll give a counter-example. In https://crates.io/crates/datatest, each "test" is a template for tests which is "rendered" by the test runner, either based on scanning the filesystem for files matching the pattern or by scanning given YAML file for test cases.

So, there are no "tests" unless test runner renders them based on external data.

I could instead run all the test cases in a single "#[te

[2019-08-20 03:33] philipc commented on #57822
Thanks for the instructions, @michaelwoerister!

Here's a reduced testcase:
[code]
(in lldb:  `break set -n break_here`, `r`, `bt`).

[2019-08-20 03:49] gilescope commented on #61920
@estebank this issue is now fixed. Can you close it for me please?

[2019-08-20 04:09] gilescope commented on #63167
Are opaque types the same as anonymous types in C#/Java? If so I think 'anonymous' is clearer than opaque (pardon the pun!).

[2019-08-20 04:14] #62717 closed

[2019-08-20 04:15] rust-highfive opened #63729 "`rls` no longer builds after rust-lang/rust#62727"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#62727, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @SimonSapin, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @petrochenkov, the PR reviewer, and @rust-lang/compiler --

[2019-08-20 04:37] philipc commented on #57822
Hex editing the DWARF to change the names of the closure types stops the error from happening.

[2019-08-20 04:37] gilescope commented on #63167
This is a real gotcha of rust and needs a great error message. We could show the definition sites of the opaque types so it's clear which type is expected in this position:

Something like:

[code]

[2019-08-20 05:09] shootingsyh commented on #63677
Hmmm, sorry didn't add the src/operators/transform/overlapped_time_buffer.rs file into my diff...
Here is the updated patch. Also updated the previous comments and issue
[patch2.txt](https://github.com/rust-lang/rust/files/3518790/patch2.txt)

[2019-08-20 05:24] edwardw commented on #54771
This opaque `the trait bound ... is not satisfied` error message creeps up in other places too. E.g., [this stackoverflow question](https://stackoverflow.com/questions/57541687/the-method-for-each-exists-but-trait-bounds-not-satisfied-when-using-streamdecks/) regarding `futures::stream::Stream::for_each`. The more prevalent `std::iter::Iterator::for_each` expects a closure of unit type, but this o

[2019-08-20 06:00] #61920 closed

[2019-08-20 06:10] sourcefrog commented on #63556
Thanks for drafting this @hellow554 !

I can imagine people potentially wanting either of these, although my guess would be the first is more of a mistake due to not knowing this detail of the language, whereas the second might be a simple typo. I feel I don't often assign the boolean result of a comparison to a variable very often.

re https://github.com/rust-lang/rust/issues/63556#issuecomment-5

[2019-08-20 06:26] Patryk27 commented on #63100
@estebank Thanks, I understand - I'm not certain about curly braces in this position, since it changes their meaning (from denoting block to denoting location, depending on whether it is part of code block or message) and thus, to me, they are kinda confusing.

IMO the `fn(_) -> _ [file.rs:LL:CC]` construct could be more legible, since brackets are not usually set together with functions (contrary

[2019-08-20 07:44] #61336 closed

[2019-08-20 07:44] #61432 closed

[2019-08-20 07:57] StrausMG commented on #63702
Thank you for the explanation. Well, now the question is if the limitation could be less strict :)

[2019-08-20 08:30] bjorn3 opened #63733 "Incorrect overflowing literals error with saturating_sub"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=17140f6c272a402083da3ce128c17221))

Errors:

[code]

`-128` is not out of range for `i8`, however the lint claims it is. This doesn't happen when printing a plain `-128i8` without `.saturating_sub`.

[2019-08-20 08:31] gnprice commented on #63516
From looking a bit at the code you linked to, it appears that this is in fact the case in the only calls to your `send_message` function ([here, I think](https://github.com/RusPiRo/ruspiro-mailbox/blob/baf443680845ef6331bda9886010b83f9d0aedf8/src/lib.rs) -- where 8 is spelled `MailboxChannel::PropertyTagsVc`) in any of the Rust source code in the project.

In general, the compiler has the freedom

[2019-08-20 08:38] bjorn3 commented on #63733
Never mind. Operator precedence was confusing. The `-` gets applied after calling `saturating_sub`.

[2019-08-20 08:41] michaelwoerister commented on #57822
Very interesting! Generating some kind of unique name for the closure types shouldn't be too hard.

[2019-08-20 08:44] hellow554 commented on #63677
This is small-ish, I'm not sure if it can be simplified further:

[code]

[2019-08-20 08:47] michaelwoerister commented on #62649
DefPaths a probably expected to be unique in many places.

[2019-08-20 08:54] hellow554 commented on #63677
@rustbot modify labels: -E-needs-mcve

[2019-08-20 08:57] hellow554 commented on #63733
Could a hint be emitted? E.g.

[code]

[2019-08-20 09:32] eddyb commented on #62649
@michaelwoerister Not sure that makes sense to me, they're based on names, and names can get reused - sounds maybe like a small red-green oversight?
Or maybe just older quirks of the first incremental attempts, that stuck around?

[2019-08-20 09:44] michaelwoerister commented on #57822
Alright, so I would suggest fixing this issue by doing both:

1. Marking closure environment structs and their fields with `DW_AT_artificial`, and
2. Generating a unique type name for closure environment structs.

The same should probably done for generators (I have not really looked at those yet).

**Implementing item (1)** should be straightforward: Go into [librustc_codegen_llvm/debuginfo/metad

[2019-08-20 10:54] jonas-schievink commented on #63727
Thanks for the report! This should be filed in https://github.com/rust-lang-nursery/mdBook though since it's not an issue with rustc or the standard library.

The symbols are loaded from Google Fonts, did you block that by any chance?

[2019-08-20 10:54] #63727 closed

[2019-08-20 10:55] bjorn3 opened #63734 "Misspelled test name "ui/non-interger-atomic.rs""
[code]

[2019-08-20 11:18] krobmd opened #63735 "[Feature request] Compiler might automatically pick a concrete type for generic Option<T>"
Hello Rust developers,

My versions are:

- rustc: `1.37.0 (eae3437df 2019-08-13)`
- Cargo: `1.37.0 (9edd08916 2019-08-02)`

Currently this does not compile:

[code]

Error message:

[code]

If I change `main()` to below then it will compile:

[code]

May I ask if you could consider adding new feature where:

- If a generic type is within an `Option<T>`, and the user passes `None` to it.
- And, if

[2019-08-20 11:23] nikita-fuchs commented on #62342
hey @mati865 , @nikic , @jonas-schievink , @nikic , the error persists in version `rustc 1.37.0 (eae3437df 2019-08-13)` , installed through `curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh ` . Sorry for spamming all of you, but it is a crucial major blocker to our project, currently in the fundraising phase, so it would be absolutely awesome if the LLVM issue could be resolved someh

[2019-08-20 11:23] jonas-schievink commented on #63735
Hi! Large additions to the language or standard library need to go through our [RFC process](https://github.com/rust-lang/rfcs). Before an RFC is written, the feature can also be discussed in our [internals forum](https://internals.rust-lang.org/) to find other people interested in it.

Closing in favor of an RFC.

This isn't true, the type's trait impls can be used by the called function if there

[2019-08-20 11:23] #63735 closed

[2019-08-20 11:29] jonas-schievink commented on #62342
s390x is not a well-supported architecture at the moment, I can not recommend building a business around it. If this issue is that important to you you can contract people with LLVM/s390x expertise to fix it.

[2019-08-20 11:33] SimonSapin commented on #63729
https://github.com/rust-lang/rust/pull/63736 should fix this

[2019-08-20 11:38] mati865 commented on #62342
@nikita-fuchs the fix is not in the stable release yet. It should be fixed in beta and nightly versions though.

[2019-08-20 11:53] krobmd commented on #63735
@jonas-schievink

Thanks, I'm not clear about your answer (_"This isn't true..."_). But I think you're right. I'm new to Rust so I'll have to learn more.

Since my knowledge is limited, I think I'll won't try the RFC route.

[2019-08-20 11:57] Centril commented on #63167
It doesn't matter where the `impl Trait` resides in. Two uses will result in two distinct types from the POV of the type system. Only by naming an `impl Trait` through a type alias can you refer to the same inferred type. Adding the qualification "in function signatures" does not enlighten.

As for "anonymous", the closest equivalent Java's anonymous classes, which conjure new types, in Rust are c

[2019-08-20 12:06] jonas-schievink commented on #63735
Consider for example:

[code]

Now the type chosen for `P` becomes observable because `test` will call a function that depends on the type.

This doesn't mean this couldn't be done, of course, but it's a non-trivial thing to solve and decide on.

[2019-08-20 12:12] krobmd commented on #63735
@jonas-schievink

I apologize if I'm making github send you a lot of emails. I just want to say thank you, for your excellent explanation.

Have a nice day to you,

[2019-08-20 12:13] Centril commented on #63733
I'm not in favor of a general lint to suggest parenthesizing `-$lit.method()` but adding a hint to the existing overflow lint would be fine.

[2019-08-20 12:17] oli-obk commented on #61808
This has been fixed in #63497

[2019-08-20 12:17] #61808 closed

[2019-08-20 12:17] jonas-schievink commented on #63735
No problem at all!

[2019-08-20 13:08] u32i64 commented on #63712
@rustbot claim

It's unclear why it's `closure` in `Closure` but `async block` in `AsyncClosure`, shouldn't it be `async closure`? If there's a reason for this difference I'd say a new error code is better?

[2019-08-20 13:25] varkor opened #63741 "Suggest removing `self` import when not in a list"
[code]
we should offer the suggestion to remove `::self`, as this is likely what the user intended.

This issue has been assigned to @mibac138 via [this comment](https://github.com/rust-lang/rust/issues/63741#issuecomment-623142619).

[2019-08-20 13:37] michaelwoerister commented on #62649
reused as in "the same name can refer to different things in subsequent compilation sessions" or reused as in "there can be two things with the same name in the same scope"?

The former should be handled just fine incremental compilation. That latter should lead to differing disambiguation indices in the given `DefPath` components.

[2019-08-20 13:41] Centril commented on #63741
@petrochenkov Would it simplify or complicate things if we simply allowed this instead of rejecting it?

[2019-08-20 13:44] petrochenkov commented on #63741
~Simplify.

[2019-08-20 13:46] Centril commented on #63741
Might be worth doing that in that case.

[2019-08-20 13:57] petrochenkov commented on #63741
It needs some amount design work though (not large).

The idea is to treat `self` and `super` in Rust paths as `.` and `..` in filesystem paths.
Some questions arise in the process, e.g. if `bar` is an import (symlink), then whose parent `bar::super` refers too, or whether `use foo::super [as name];` is allowed without the `as name` part and what name it introduces (`use foo::self;` needs to be al

[2019-08-20 14:14] RalfJung commented on #62790
Fixed by https://github.com/rust-lang/rust/pull/63497.

[2019-08-20 14:14] #62790 closed

[2019-08-20 15:05] nikita-fuchs commented on #62342
@jonas-schievink what would you need to support it better? @mati865 there is unfortunately no way that I can download a nightly or beta with rustup:
[code]
gives always the following error:
[code]

although there is enough space on the drive.

[2019-08-20 15:16] jonas-schievink commented on #62342
A more robust LLVM backend would be a start, and there's little to no in-tree tests and no CI for the target. The extraction error you're seeing might also be caused by some other toolchain issue.

[2019-08-20 15:25] tclh123 commented on #45926
Shouldn't the compiler throw error immediately when it find type mismatch? (F != &F)

[2019-08-20 15:31] icefoxen commented on #10389
A... well, not resolution, but partial mitigation might be achieved just by calculating the `TypeId` of all types in a compilation run and making sure they're unique.  This doesn't solve the problem but can at least make it noisy for an end-user instead of possibly silently failing.  Doesn't help the networked/IPC use case like `eventbus` though.

[2019-08-20 15:37] chocol4te commented on #63707
@rustbot claim

[2019-08-20 15:37] newpavlov opened #63748 "Tracking issue for `linux_syscall`"
PR: #63745

Unresolved questions:
- [ ] Should we add syscalls to `core` or keep only in `std`?
- [ ] Do we still need the workaround for `syscall6` on x86?

[2019-08-20 15:41] SoniEx2 commented on #10389
eventbus is not networked/IPC. the idea was to use multiple dll's/so's.

[2019-08-20 15:43] chocol4te commented on #63707
@richardwhiuk Which browser were you seeing this on? I'm not seeing it on latest Safari or Firefox

[2019-08-20 15:46] mati865 commented on #62342
@nikita-fuchs I have no idea what is wrong but if it doesn't get fixed you won't be able to install next stable via rustup.
You should report it to https://github.com/rust-lang/rustup.rs/

[2019-08-20 16:11] eddyb commented on #62649
@michaelwoerister The former, it's what's causing this ICE.
`Something::foo` changes from a `trait` method to a `struct` field and that breaks.

[2019-08-20 16:40] jonhoo commented on #50547
I think that would need to be accompanied by some pretty helpful error messages saying "not `Unpin` because of _this_ borrow" + a hint of "alternatively you can box this future"

[2019-08-20 17:18] Mark-Simulacrum opened #63751 "Check stdout/stderr of run-pass run portion"
We currently check the compiler's output, but it's sometimes useful to check that the run-pass test itself is outputting the same as before. In particular, @tmandry expressed a desire to test libtest in this fashion.

Taking a look at the code, we probably want to add another header flag (`check-run-results`) around  [here in this file](https://github.com/rust-lang/rust/blob/51879c3abaedb926739095

[2019-08-20 17:19] Mark-Simulacrum commented on #63751
I've assigned to @tmandry for now because I believe they might be interested in landing this more quickly than perhaps mentoring will be able to but let us know if you're interested!

[2019-08-20 18:06] cuviper commented on #48319
I see no difference in stage1/2 libraries with `--enable-full-bootstrap` anymore, identical to the last bit. The original issue doesn't reproduce either.

[2019-08-20 18:06] #48319 closed

[2019-08-20 18:14] Centril commented on #63751
This would be great; we could use this to simplify the hacks in testing `dbg!` for example.

[2019-08-20 18:15] Lord-Kamina opened #63754 "Cargo can't find std crates using local-rust-root on macOS."
**Problem**

Cargo won't find std or core crates if I try to bootstrap using the following command:

[code]

I don't run into this issue if I add `--enable-local-rust`, but then something else happens: configure.py overrides `build.rustc` like so:

[code]
The second bit is evidently not related to cargo itself I guess but it's a bit puzzling. Anyway, why won't cargo find the crates in the local-ru

[2019-08-20 18:16] ehuss commented on #63754
I don't really know what is being asked here, but I'm going to transfer this to the rust-lang/rust repo, since this seems to be a question about rustbuild.  However, since this seems more like a support question, I'm not sure this is the best location to ask, either.

[2019-08-20 18:23] Lord-Kamina commented on #63754
Yeah sorry, disregard (part of) this. The whole issue with the crates not being found was my bad due to an error in a script that moved them to my temp stage0 folder.

On the other hand, the issue with `--enable-local-rust` overwriting the rustc binary stands. If I just define a local-rust path, it works. If I additionally add `--enable-local-rust`, the script overrides the rustc binary with a rus

[2019-08-20 18:33] #33609 closed

[2019-08-20 18:33] #63729 closed

[2019-08-20 18:45] estebank commented on #63712
It seems to me that calling it an async closure instead would be reasonable. It would also be nice to point at the `def_span(block.span)` like it's done here:

https://github.com/rust-lang/rust/blob/1e02bc62bc72d2145a9f11c740714a1a5d94e2b4/src/librustc_passes/loops.rs#L140-L147

That way the output wouldn't be

[code]

but rather

[code]

[2019-08-20 18:50] estebank commented on #63556
It does in some cases. It is one of my current focuses: removing redundant errors. An old example of this is:

[code]

But this is a nice to have gradual improvement and should _not_ block other improvements/features.

[2019-08-20 19:44] Defaultldentity opened #63757 "stable rustc panics on adding/removing `dyn` before a trait in a proc macro"
I was doing a small change to someone's crate, and encountered a crash. The weird thing is also that the crash is fixed by doing simple `cargo clean`, i.e. the problem was probably not in the code, but in the way `rustc` (or `cargo`) handles it between runs.

rustc 1.37.0/rustc 1.39.0-nightly (29a54035c 2019-08-19); linux debian buster x64

### Reproduce:

    git clone https://github.com/Defaultl

[2019-08-20 20:55] nagisa opened #63758 "Implementation of Ord for integers is suboptimal"
The current implementation of `Ord::cmp` for integral types results in less than optimal code. Currently the implementation looks something like this:

[code]

This results in the following IR:

[code]

which, on x86, becomes

[code]

where the critical path looks like this (courtesy of `llvm-mca -mcpu=broadwell`):

[code]

---

if the implementation instead was:

[code]

the IR would become

[cod

[2019-08-20 20:56] jonas-schievink commented on #63757
[code]

<details>
  <summary>Backtrace</summary>

[code]

</details>

[2019-08-20 20:58] jonas-schievink commented on #63757
Ah, a duplicate of https://github.com/rust-lang/rust/issues/51716. Closing in favor of that.

[2019-08-20 20:58] #63757 closed

[2019-08-20 20:58] jonas-schievink commented on #51716
Also encountered in https://github.com/rust-lang/rust/issues/63757

[2019-08-20 20:59] killercup commented on #50297
@idubrov, just discussed this in the dev tools meeting. As far as we could tell there was not much progress on this over the last months. We do want this to pick up speed again, though! If you'd like to help out from the rustc side too, let us know! It's always good to have actual use cases to work towards :)

@gnzlbg, it seems you worked on libtest/[extracting](https://github.com/rust-lang/libtes

[2019-08-20 21:34] tromey commented on #62839
Yeah, gdb would have to be modified.  It turns out there is [a gdb bug](https://sourceware.org/bugzilla/show_bug.cgi?id=23662) for this.

My current thought (and I'll update that bug as well) is to mark the `gdb.Type`'s fields as "dynamic" in some way, and then have some method on `gdb.Value` that can be used to see which field (or fields in the Ada case) are actually available.  This is more gene

[2019-08-20 21:40] oli-obk commented on #51909
cc @RalfJung 	@Centril 	opinions on the above comment?

[2019-08-20 21:47] Kobzol commented on #62839
Accessing the discriminant was just a means to an end to select the correct variant. enum The real functionality that we need (and that I would guess any other Rust debugger or pretty printer would like to have) is exactly what you describe, given a `gdb.Value`, get the active enum variant so that we can query and display its fields (and also the variant name, which is useful for debugging).

[2019-08-20 21:50] Centril commented on #51909
There's still the pesky run-time issue in that we get the ptr-to-int operation if we stabilize this now. So we get unconst operations without having settled whether it is UB for `const fn` to act non-deterministically at run-time (and I am sure folks will abuse this if we don't settle it). That is, there's still the "education" aspect that is lacking.

However, we might reasonably use this only in

[2019-08-20 22:03] Aaron1011 commented on #60471
I'm still not sure exactly what lazy normalization is. Why do we need it? What parts of the compiler will need to be changed in order to implement it?

[2019-08-20 22:06] oli-obk commented on #51909
we will get this problem whenever we stabilize. If we want to prevent it we'd need to introduce "blessed transmutes", but that just moves the complexity elsewhere and lock us into layouts.

We could set it up in a manner where the feature is still unstable but doesn't block stabilizing `const fn`s that use it, but we explicitly opted not to do so. We could hijack `#[allow_internal_unstable(const_f

[2019-08-20 22:12] Centril commented on #51909
Granted, but timing is key here imo -- we'll need to work towards having the "education" available.

Yep, and it has served us well but perhaps the pragmatic choice is to make an exception now.

It'll need to be followed by a comment justifying each use but otherwise it seems reasonable.

[2019-08-20 22:15] #62496 closed

[2019-08-20 22:15] #50547 closed

[2019-08-20 22:15] #62149 closed

[2019-08-20 22:55] estebank opened #63764 "Custom diagnostic for bad `mut` in pattern with sub-bindings"
Given (as brought up in https://github.com/rust-lang/rust/pull/63693#discussion_r315926681 CC @Centril):
[code]
[We currently emit a parse error](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=6d82fda1a1539a49791170dbba18a7e0):
[code]

It should instead parse as if it were `let Foo { x: mut x } = Foo { x: 3 };` (medium priority), silence any complaints that `mut` is unnece

[2019-08-20 23:09] Centril commented on #63764
This should be relatively easy to do by hooking into https://github.com/rust-lang/rust/blob/bea0372a1a7a31b81f28cc4d9a83a2dc9a79d008/src/libsyntax/parse/parser/pat.rs#L289 or where it is called. If a `ref` token does not follow you simply call the recursive pattern parser and then once you have parsed a `PatKind` you walk (with a mutating visitor) to all the binding sites, insert a `mut` there, pr

[2019-08-20 23:16] Centril commented on #63764
Marking as blocked for now on https://github.com/rust-lang/rust/pull/63693 so we don't get a lot of conflicts.

[2019-08-20 23:26] MSxDOS commented on #63664
I noticed some time ago that if your code unconditionally ends with a function that returns `!` then some or all of preceding functions may not get inlined unless marked `#[inline(always)]`, which is pretty awful.

Interestingly, in [this](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=ccbfd7e9cbc34f3bf87300663f773024) example `print` is not inlined on Stable 1.37 and B

[2019-08-21 00:14] mal20k commented on #19776
I'm running into what looks to be a related issue when trying to call a Rust function from C. According to valgrind, memory is leaked when Rust allocates the handle for `stdout` or `stderr`, but only once. Subsequent calls to `println!`, `eprintln!` `std::io::stdout()`, even across function calls, don't add to the count (always 8 allocs, 1 free). Could this be related or it it caused by some other

[2019-08-21 00:29] Nashenas88 opened #63765 "Panic while running rustdoc on polonius-engine"
I get a panic ~in beta~ at least as far back as 1.31 while attempting to compile the documentation in [rust-lang/polonius](https://github.com/rust-lang/polonius) (seems to stem from polonius-engine)

[code]

[2019-08-21 01:21] tmandry commented on #63751
I would _like_ to get it soon, but I probably won't be getting to this until next week at least :)

[2019-08-21 01:22] tmandry commented on #63751
Thanks for providing the mentoring instructions, by the way!

[2019-08-21 01:37] estebank commented on #63526
@iluuu1994 this is the code you want to modify:

https://github.com/rust-lang/rust/blob/bea0372a1a7a31b81f28cc4d9a83a2dc9a79d008/src/librustc/ty/print/pretty.rs#L556-L604

probably looking at how associated types are printed for `dyn` types should help:

https://github.com/rust-lang/rust/blob/bea0372a1a7a31b81f28cc4d9a83a2dc9a79d008/src/librustc/ty/print/pretty.rs#L724-L794

[2019-08-21 03:28] iluuu1994 commented on #63526
Thanks! Sorry I've just not gotten around to it. Hopefully tonight 😊

[2019-08-21 03:50] oconnor663 opened #63768 "An async fn which isn't Send but which should be?"
Here's an example which I think should compile, but which doesn't (cargo 1.39.0-nightly 3f700ec43 2019-08-19):

[code]

The error is "`*mut ()` cannot be sent between threads safely", which is to say `my_future()` is `!Send`. I'm surprised by that, because the `nonsend` variable is never used after the `.await` point, and it's not `Drop`. Some other notes:

- This _does_ compile if swap the two li

[2019-08-21 03:59] idubrov commented on #50297
I'm happy to help, but I'm a bit confused about the scope of the problem. I've read RFC, I have some basic understanding of other pieces, however, the big picture is something I'm still not clear about.

To me, the whole testing framework seems like a combination of the following aspects:

1. Test runners. Things like scheduling threads, capturing input and output, collecting statistics (counts of

[2019-08-21 04:18] luojia65 opened #63769 "Are all AVX-512 SIMD functions and types available in Rust `std::arch` module?"
Hello! We are developing our game engine (esp. deserialization and noise generation part) in Rust, which theoretically can make good use of modern SIMD features. There could be relevant x86 CPUs available in market with latest AVX-512 instructions, and as we may concern Rust should have full (or partial) support for them in `std::arch` as there are already AVX2 and earlier technologies available.

[2019-08-21 05:07] djrenren commented on #50297
Hey @idubrov, I can answer a lot of these questions.

### 1. Test Runners
Every executable needs a single entrypoint, so when we build a test executable there needs to be some `main` and that `main` needs access to all the tests it's going to run. This inherently couples three problems: What is a test? How do I run it? How do I report it?

The test runner exists to answer both questions. For `libt

[2019-08-21 05:18] DavePearce commented on #63719
Ok, have found some more related cases:

[code]
Above gives `E0502` and `E0505`.
[code]
Above gives `E0499` and `E0505`.

[2019-08-21 05:51] SergioBenitez commented on #54727
I believe we should stabilize almost all of `proc_macro_hygiene` with the exception of the following (for the reasons outlined in @jebrosen's post above):

  * Applying attributes to non-inline modules.
  * Applying macros to expressions.
  * Expansion to macro definitions containing `$crate`.
  * Expansion to patterns.

In particular, we should stabilize the following:

  * Applying attributes to

[2019-08-21 06:09] hellow554 commented on #63748
How is a syscall supported in a `core` environment? I don't think that that will make sense

[2019-08-21 07:12] pitdicker commented on #63769
I think this is the issue to look :https://github.com/rust-lang/stdarch/issues/310

[2019-08-21 07:31] michaelwoerister commented on #62649
Yes, that's a bug then. Just wanted to clarify.

[2019-08-21 07:58] mati865 commented on #48613
Rust is now using LLVM 9, is this still an issue?

[2019-08-21 08:09] sahsahae opened #63773 "[Const generics] thread 'rustc' panicked at 'no errors encountered even though `delay_span_bug` issued'"
The code simply does "not" compile, because compiler crashes.

I tried this code:

[code]

Which is expected to compile without errors and execute the binary, which prints out `"Hello World"`.

It's internal checks seem to fail while it produces seemingly working binary.

I say so because trying to run it ***again*** after the failure, it does work with no errors and it... prints "Hello World".

#

[2019-08-21 08:12] philipc commented on #57822
Further reduced:
[code]
In lldb: `b /xxx/`, `r`, `p g`.

The requirements are to have the struct for one closure included as a member of the struct for another closure, and then get lldb to print that struct.

I'll take a look at implementing the fix.

[2019-08-21 08:17] martinellison commented on #62558
Please restore `cargo install clippy`, which seems to have gone away, until you have the rustup issue fixed, and similarly for the other affected tools.

[2019-08-21 08:20] nocord opened #63775 "benefits of using macro"
macro makes code less readable. without macro the code is more predictable

[2019-08-21 08:22] nikita-fuchs commented on #62342
Thanks both of you @jonas-schievink and @mati865 , I've opened an issue about this package extraction error, happens only with `nightly` and `beta` release though, the stable installs fine. Do you have an estimate on when this LLVM fix will make it into stable? I'll talk to IBM about considering some support, Rust is definitely nothing they would want to support sloppily.

[2019-08-21 08:22] nocord commented on #63775
even println! is a macro

[2019-08-21 08:23] nocord commented on #63775
They are making code less readable

[2019-08-21 08:23] nocord commented on #63775
One of problems that c/c++ have

[2019-08-21 08:29] nocord commented on #63775
stop the macro hell

[2019-08-21 08:33] software-opal opened #63776 "Improve bytes per second benchmark output"
I'm building a library that implements a somewhat slow compression algorithm and I wanted to see what sort of speeds I was getting. Using the benchmark I can get the speeds for some tests; but not for the slower ones:

[code]

It would be nice to have the speed output in other units, like KB/s and B/s. It could also be extended to produce GB/s if needed.

[2019-08-21 08:39] mati865 commented on #62342
@nikita-fuchs it should be included in the next release, that would be 26th September.

If it doesn't get fixed before next release stable will have the same error.

[2019-08-21 08:42] Nemo157 commented on #63768
Even if `NonSendStruct` doesn't have an explicit implementation of `Drop` it's still dropped at the end of scope so is alive across the yield point.

Having rustc try and infer shorter scopes to kill variables before yield points sounds like it might lead to surprising situations when you try and use a variable that appears live which will suddenly make your future `!Send`, or adding a `Drop` impl

[2019-08-21 08:46] Nemo157 commented on #57478
After being reminded of this I realised this isn't really about "dropping" variables, it's about moving the variables out of the generator, any function that takes ownership should cause the variable to no longer be alive in the generator (this is the same thing since `drop` is just a trivial function to move the variable out, but being explicit about it might help others like me that didn't insta

[2019-08-21 09:19] u32i64 commented on #63712
It appears that there is a good reason for calling it `async block`, for example this is what I got to (I'm using the `Span` of `hir::ExprKind::Closure`):

Regular closure:
[code]

Async closure (note: closure block is highlighted, not the closure itself):

[code]

Async block:

[code]

So in this case leaving it as `async block` makes sense?

[2019-08-21 09:22] petrochenkov commented on #54727
Some status update.

Macro expansion infrastructure is being steadily simplified and bug-fixed right now, filling in the "20%" part of the implementation.
I want to complete some of this infrastructural work before further increasing the stable surface.

The current blocker is https://github.com/rust-lang/rust/pull/63468 worked on by @c410-f3r.
After this PR lands I'm going to rewrite something ca

[2019-08-21 09:27] petrochenkov commented on #54727
Regarding the timing - I'd say vaguely this year.
Note, that these features are not on the roadmap, so we are unlikely to get some quick-and-dirty stabilizations like Macros 1.1.

[2019-08-21 09:44] Marwes opened #63778 "Temporary values do not outlive a direct await"
[code]
https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=2649e4f172c54090d759b2f9484b31e1

A fairly common pattern is to use builder functions that takes `&mut self` and returns `&mut Self` so that multiple builder methods can be used in a row followed by building/using the final value. With normal, sync functions this works fine since the created temporary lives as long a

[2019-08-21 09:56] petrochenkov commented on #63460
Fixed in https://github.com/rust-lang/rust/pull/63717.

[2019-08-21 09:57] walter211 commented on #25289
nope

[2019-08-21 10:01] nocord commented on #63775
also why you need `->` for specifying  return type. It's totally unnecessary

[2019-08-21 10:07] nocord commented on #63775
rust was created because C++ wasn't good. Which is right. This is also a reason behind Golang . but now go doesn't depend on other language. But Rust depends on C++.
......

[2019-08-21 10:09] nocord commented on #63775
When i talk about this they tell me that this project doesn't have the goal of rewriting LLVM in Rust. Why you need LLVM? Can't you write your own compiler infrastructure?

[2019-08-21 10:16] eddyb commented on #60471
@Aaron1011 Normalization is replacing "projections" (such as `<T as Trait>::AssocType` or unevaluated constant expressions - a better name than "projection" might be "expression" or "call" - something that only says how to get to a final "value", not what it is) with what they resolve/evaluate to.
E.g. `&<Rc<str> as Deref>::Target` becomes `&str`, and `[T; {1+1}]` becomes `[T; 2]`.

Right now all

[2019-08-21 10:50] jonas-schievink commented on #63775
Hi! Changes to the language or standard library need to go through our [RFC process](https://github.com/rust-lang/rfcs). Before an RFC is written, the feature can also be discussed in our [internals forum](https://internals.rust-lang.org/) to find other people interested in it.

Closing in favor of an RFC.

[2019-08-21 10:50] #63775 closed

[2019-08-21 10:56] JJJollyjim commented on #63776
I had a go at implementing this: https://github.com/JJJollyjim/rust/commit/f9d2caf7e784791ebfce1bdb5656a8a75a4efa7a

As I understand it, it's a breaking change to an (unstable) API, since it changes the `BenchSamples` struct which is public in libtest. It could probably be implemented without the breaking by splitting the rate into a whole part (which stays called `mb_s`, and a fractional part (by

[2019-08-21 10:57] jonas-schievink commented on #63769
Yeah, closing in favor of rust-lang/stdarch#310

[2019-08-21 10:57] #63769 closed

[2019-08-21 11:03] michaelwoerister commented on #57822
Thanks, @philipc! This should also make for a good regression test.

[2019-08-21 11:03] jonas-schievink commented on #62342
It looks like this is a legit miscompilation, not an issue with rustup or the archives. The fix will need a beta backport within the next 5-6 weeks, or the next stable will have the same problem.

[2019-08-21 11:33] AxelNennker opened #63783 "rustc 1.37.0 panic"
While running clippy rustc panicked.

The code is here https://github.com/AxelNennker/indy-sdk/tree/vcx_clippy

To reproduce:
- `git clone https://github.com/AxelNennker/indy-sdk`
- `git checkout vcx_clippy`
- `cargo clippy --manifest-path vcx/libvcx/Cargo.toml -- -W clippy::style -W clippy::correctness -W clippy::complexity -W clippy::perf > /tmp/clippy.txt 2>&1`

I get this output
[code]

[2019-08-21 11:38] eddyb opened #63784 "debuginfo/issue-22656.rs fails with LLVM/clang Assertion `Prior->FD->hasAttr<NoUniqueAddressAttr>() && "should not have reused this field's tail padding"' failed."
I haven't been running debuginfo tests locally for a long while due to a variety of issues, but I was surprised to get only 1 failure, `src/test/debuginfo/issue-22656.rs` with LLDB:
[code]

If I had to guess, LLDB was trying to compile something as C++, and probably ran into something that's different in Rust (is it synthesizing C++ `struct`/`union` definitions from DWARF?).

cc @michaelwoerister

[2019-08-21 11:42] kuviman commented on #56229
Hitting this error, any updates?

[2019-08-21 11:47] jonas-schievink commented on #63783
Duplicate of https://github.com/rust-lang/rust/issues/62973, confirmed fixed on nightly

[2019-08-21 11:47] #63783 closed

[2019-08-21 11:53] newpavlov commented on #63748
In the essence it's not that different from supporting `target_arch` which we do in `core::arch::x86_64`, but this time those functions will be feature-gated behind `target_os`. And since calling syscalls involves just a tiny assembly snippet, it would not cause `core` bloat. Read the discussion linked in the PR. Also I think this issue is relevant as well: #36193

[2019-08-21 11:57] nocord commented on #63775
This is one of the most annoying things in rust repo issue comment

[2019-08-21 11:58] nocord commented on #63775
Can't you make an rfc

[2019-08-21 11:59] nocord commented on #63775
One of my account is flagged because of this

[2019-08-21 12:03] Lonami commented on #63775
They have better things to do than writing RFCs for everyone's needs. If you want to propose a change, you go through the formal process like everyone else does. The account is probably flagged due to the amount of "spam" you are causing (you could write a single comment with all you have to say).

[2019-08-21 12:05] BurntSushi commented on #63775
I've also reported your account to GitHub. Please stop.

[2019-08-21 12:36] michaelwoerister commented on #63784
AFAIK, yes. @philipc might be able to confirm this.

[2019-08-21 13:16] oconnor663 commented on #63768
Thanks for clarifying for me. While I was playing with this I was thinking about the interaction between `Drop` and non-lexical lifetimes. Like you can have two consecutive uses of a struct that mutably borrow the same variable, so long as the first usage is "dead" before the second. But then that code can break if the struct or any of its members gains a `Drop` implementation in the future.

In m

[2019-08-21 13:21] Centril commented on #60471
(Also see https://en.wikipedia.org/wiki/Evaluation_strategy#Call_by_need)

[2019-08-21 13:24] Triavanicus opened #63785 "Compiler symbol resolution works when it shouldn't"
So here is the code that works when it shouldn't:
[code]

And this doesn't work, as expected.
[code]

the symbol `M` gets resolved to `m` when `#[cfg(target_endian = "big)]` is present. I am currently running the latest stable msvc version of rust.
Edit: same on nightly.

![Capture0](https://user-images.githubusercontent.com/7131135/63435599-d4b76e00-c3ec-11e9-8357-43a401302781.PNG)
![Capture1](ht

[2019-08-21 13:30] Centril commented on #63778
cc @matthewjasper @cramertj

[2019-08-21 13:32] jonas-schievink commented on #63785
What architecture are you building for?

[2019-08-21 13:33] Triavanicus commented on #63785
64 bit

[2019-08-21 13:36] oconnor663 commented on #63768
In particular, I found it surprising that "use a nested scope" works as a solution. To me, non-lexical lifetimes were sort of about how "we don't need to use nested scopes anymore," and it seems like a shame to regress on that a little.

But then again there are a bunch of complexities around NLL that I can't think of an equivalent for here. Like `Vec` is marked `#[may_dangle]` for its contents, s

[2019-08-21 13:38] jonas-schievink commented on #63785
`#[cfg(target_endian = "big")]` will be stripped before name resolution if the target architecture is little-endian, which x86(_64) is, so it's expected that this compiles. You can use `if cfg!(...)` instead to have the compiler check the code for any target.

[2019-08-21 13:38] #63785 closed

[2019-08-21 13:42] Triavanicus commented on #63785
Ah, I see. Thanks for clearing that up.

[2019-08-21 14:41] RalfJung opened #63787 "Ref parameter incorrectly decorated with `noalias` attribute"
The following library:
[code]
[generates IR](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=459fd0c36c90d82ff9abde235febfc7b) for `break_it` that starts like
[code]
Note the `noalias`. That is incorrect, this function violates the noalias assumptions by mutating the data `r` points to through a pointer (`rc`) not derived from `c`. Here's a caller causing bad aliasing:
[

[2019-08-21 14:43] gnzlbg commented on #63787
cc @eddyb

[2019-08-21 14:43] bjorn3 commented on #63787
Maybe pour a `UnsafeCell` into `Ref`?

[2019-08-21 14:46] RalfJung commented on #63787
It should probably use a raw pointer (something I have been arguing for for years now ;). For `RefMut`, `UnsafeCell` wouldn't even help.

[2019-08-21 14:48] RalfJung commented on #60076
See https://github.com/rust-lang/rust/issues/63787: there actually *is* a bug here right now, because we *do* emit `noalias` for `Drain` passed to a function. So what Miri found is actually UB in the LLVM IR that we are generating right now.

Reopening for now, but maybe it makes more sense to treat this as a duplicate of https://github.com/rust-lang/rust/issues/63787.

[2019-08-21 14:48] gnzlbg commented on #63787
Changing `Ref` value field to `value: &'b std::cell::UnsafeCell<T>` fixes this.

[2019-08-21 14:48] RalfJung commented on #63787
Also see https://github.com/rust-lang/rust/issues/60076: `vec_deque::Drain` has a similar problem.

It does, but I think a raw pointer is the better fix.

[2019-08-21 14:51] gnzlbg commented on #63787
Why?

The value field inside `RefCell` is of type `UnsafeCell<T>`, not `T`, so IMO `Ref` has a bug by using `&T` instead of `&UnsafeCell<T>`. Using a raw pointer would mean that we loose the dereferenceable annotation.

[2019-08-21 15:11] alexreg commented on #60471
Great explanation, @eddyb. I've seen this question come up often, so I'm going to have to bookmark that comment and link people to it!

[2019-08-21 15:23] estebank commented on #63712
That's fine.

[2019-08-21 15:28] #34588 closed

[2019-08-21 15:28] #63716 closed

[2019-08-21 15:29] jyn514 commented on #63664
beta version `2019-08-13 e450539c2a8d7f791268` is showing `print` as inlined on playground, what version of the compiler did you use?

[2019-08-21 15:32] oconnor663 commented on #57478
Another twist on the same problem might be using something like `ManuallyDrop`:

[code]

[2019-08-21 15:42] ehuss commented on #62739
I think all the issues have been sufficiently fix, so I'm going to close this.

[2019-08-21 15:42] #62739 closed

[2019-08-21 16:55] alecmocatta opened #63791 "Miscompilation under target-cpu >= haswell"
This example fails when compiled with `target-cpu` "haswell" or more recent:

[code]

[code]

[code]

I bumped into this when compiling with `target-cpu=native` and assumed it was related to https://github.com/rust-lang/rust/issues/54688, but after minimising the testcase I don't think it is. My next guess is an llvm bug but I thought I'd make an issue here in case anyone else bumps into it or wan

[2019-08-21 17:00] idubrov commented on #50297
@djrenren how this proposal relates to the whole RFC? Is it one possible direction?

I still can't make proper connections in my head; your proposal seems to be at least partially implemented in nightly Rust (and custom test runner is what I use in my "datatest" on nightly).

However, RFC itself is very confusing.

[2019-08-21 17:05] tedhorst commented on #48613
I haven't seen the problem since sometime before 9fd3d7899a44 which was merged 2018-07-07

[2019-08-21 17:27] Aaron1011 commented on #60471
I'm interested in working in this. What would the the best place to start?

Would it make sense to work off of @varkor's branch, add a `param_env_normalized` function that actually performs normalization, and start determining which callers need to use it?

[2019-08-21 17:31] KrishnaSannasi commented on #63768
@oconnor663  NLL has nothing to do with drop order, so it won't help there. NLL *only* changed lifetime analysis, which will allow strictly more programs, but won't change the behavior of old programs.

[2019-08-21 17:31] djrenren commented on #50297
Ah yeah, the RFC is very wishy-washy (by nature of being an eRFC). It basically says something along the lines of "find use cases, make them work".

The `test_runner` approach is fully implemented in nightly rustc (though, there's some weirdness around `no_std` to work out). The current approach in nightly is one possible direction, but developed with a good deal of input from the tools team. From

[2019-08-21 17:37] Centril commented on #60471
(Please do note that actually fixing https://github.com/rust-lang/rust/issues/43408 should be feature gated as it has design implications re. associated constant defaults in the sense of https://github.com/rust-lang/rust/issues/29661 and whatnot.)

[2019-08-21 17:55] MSxDOS commented on #63664
The one on playground, but I didn't check its version. Either it was updated since then, or I made a mistake, or something else.

[2019-08-21 17:56] mathstuf commented on #50297
Does my [above comment](https://github.com/rust-lang/rust/issues/50297#issuecomment-510085386) count as something which counts as a "found use case" that can be made to work in an official RFC? Would it help if support for such a thing were added to your experimental branch?

[2019-08-21 17:57] axil opened #63792 "`as_slice` -> `as_str` in the docs"
`core::str::Str.as_slice()` has been renamed to `as_str()` as discussed in https://github.com/rust-lang/rust/issues/14433, but the old name is still referenced in the docs:

https://github.com/rust-lang/rust/blob/18630677cf6c7ac50e6786c504b35bc09501dbe2/src/libstd/primitive_docs.rs#L658

[2019-08-21 18:05] 95th opened #63794 "unimplemented macro doesnt compile with RPIT"
I believe the following should compile but doesn't.

[code]

I get the following error:

[code]

However, this compiles:
[code]

Could anybody confirm if this is a bug or I am missing something very obvious?

[2019-08-21 18:06] eddyb commented on #60471
@Aaron1011 It's not really a caller-by-caller basis. The same callers that cause the cycles also need early normalization right now.

The solution (ignoring the hack I mentioned and which @varkor was playing with) is to add lazy normalization, which is something @nikomatsakis didn't let me, for years, so I assume there is a good reason (likely regarding associated types).

Some infrastructure has

[2019-08-21 18:10] e-oz commented on #50297
So you just don't care that you brought breaking change into language? Don't break your own promise, call it Rust 2.0 then.

[2019-08-21 18:11] bbigras opened #63795 "thread 'rustc' panicked at 'no entry found for key', src/libcore/option.rs:1166:5"
[code]

[2019-08-21 18:15] djrenren commented on #50297
@mathstuf, for sure! Here's a sketch of how you'd solve your problem using the currently tools available in nightly:

1. Create a type to describe tests that allows them to report a reason for skipping.
2. Create a test macro that produces a `#[test_case] const ....` value that generates values of this type.
3. Create a test runner that accepts these and knows how to report reason for skipping.

R

[2019-08-21 18:16] eddyb commented on #60471
Just because this is important, let me spell it out:

**Getting this wrong can introduce unsoundness and I doubt we have enough tests to prevent that**

That is, there may be tricks one might use to get all the code samples we have working, but introduce a subtle unsoundness regarding associated types, perhaps with HRTB involved, or in constants.

It's *very easy* to lose track of obligations (yet

[2019-08-21 18:18] comex commented on #63787
Proof of concept miscompilation: [playground link](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=55c92c46b47f071175f0b5e902793773)

[2019-08-21 18:18] bbigras commented on #63795
I don't have this problem with:
rustc 1.38.0-nightly (8a58268b5 2019-07-31)

[2019-08-21 18:19] shepmaster commented on #50297
@e-oz please keep discussion on-topic and civil. Nothing being discussed here involves breaking changes as far as I can see. If there *are* breaking changes, we appreciate them being pointed out as we do not wish to break backwards compatibility.

[2019-08-21 18:19] jonas-schievink commented on #63794
This isn't *really* a bug, at least. The type `impl Foo` stands for needs to be inferred somehow, and right now the compiler defaults to `()` in this situation. With `#![feature(never_type)]` it would default to `!`, with the same result (right now).

In the second example, the type is just a type parameter specified by the caller, so no issue occurs.

[2019-08-21 18:20] djrenren commented on #50297
@e-oz it sounds like your issue is the result of a library you consume taking advantage of unstable rust features, which is not allowed outside of nightly. This is a long-standing policy of the compiler to have nightly-only features to allow for experimentation with APIs before they are stabilized.

If `#[bench]` was working on stable or beta rust then it was a bug, and it got fixed. If this happe

[2019-08-21 18:22] jonas-schievink commented on #63795
Can you post the backtrace (run with `RUST_BACKTRACE=1`)? Can you post the code that causes this?

[2019-08-21 18:23] cwfitzgerald commented on #63460
Thanks for your work on this!

[2019-08-21 18:23] #63460 closed

[2019-08-21 18:24] idubrov commented on #50297
Yes, this is something that is already supported with nightly features  / @djrenren proposal. The whole "datatest" thing I'm doing is basically generating test instances at runtime. Ignoring at runtime works, too (here I ignore by path, but as well I can ignore by anything else): https://github.com/commure/datatest/blob/114ea40c983ae108f6d7b70e6bb6fc5f3de56e0f/tests/tests/mod.rs#L74-L86

One thing

[2019-08-21 18:30] oconnor663 commented on #63768
@KrishnaSannasi for sure, I was only bringing up NLL as a metaphor for what might be possible/desirable to do about the `Send`/`Sync`/`Drop` -iness of async functions. It seems like the reasoning we do today around "Is this borrow alive?" could be very similar to reasoning we might want to do around "Does this object cross an `.await` boundary and therefore 'infect' the async function?":

- Types

[2019-08-21 18:43] mathstuf commented on #50297
OK. If we have docs for doing that, that sounds fine to me. I really just want the test report to explicitly say "skipped because $reasons" rather than:

  - not showing up at all (compile-time decisions)
  - spurious passing (because nothing was actually tested)
  - spurious failure (really annoying)

Right now, my solution is to have a "sentinel" test whose output is basically "this module's tes

[2019-08-21 19:23] djrenren commented on #50297
Oh and just in case you aren't aware, if you can determine that you want to ignore the test at compile time, you can use the `ignore` attribute either with attr_if or your own macro to conditionally insert it.

[2019-08-21 19:24] bbigras commented on #63795
I tried to make a simpler version and I can't reproduce anymore. I wonder if the problem could have been caused by low disk space.

[2019-08-21 19:30] axil opened #63797 "&str->String in the docs"
This chunk was supposedly copy-pasted as is from `std::str::from_utf8`
https://github.com/rust-lang/rust/blob/bdfd698f37184da42254a03ed466ab1f90e6fb6c/src/liballoc/string.rs#L430-L432
It should read

    A String ([`String`]) is made of bytes

[2019-08-21 19:32] jonas-schievink commented on #63795
Ah, then it's very likely that this is due to incremental compilation and a duplicate of https://github.com/rust-lang/rust/issues/62412, so closing in favor of that

[2019-08-21 19:32] #63795 closed

[2019-08-21 19:33] jonas-schievink commented on #62412
Another instance: https://github.com/rust-lang/rust/issues/63795

Would be great to find an example to reproduce this...

[2019-08-21 19:36] KrishnaSannasi commented on #63768
Ok, that looks like it could work, altough I'm not sure if this would make undesirable changes to drop order (haven't really thought about drop order too much before, so I don't know much about the details). Someone else can evaulate that.

[2019-08-21 19:41] mathstuf commented on #50297
I'm aware; it's just that for cross-compiling, compile-time detection is kind of useless for detecting kernel features available :) .

[2019-08-21 19:55] oconnor663 commented on #63768
I guess I'd frame it as "looking very closely at the existing drop order and figuring out whether a `!Send` object (or field) really lives past an await point."

[2019-08-21 20:21] mark-i-m commented on #62739
@mati865 Thanks for your help!

@ehuss Thanks for your cooperation! I think I underestimated how often links break, though I think we have made spurious failures much more manageable.

[2019-08-21 20:26] e-oz commented on #50297
No, I'm not retarded and I understand difference between nightly and beta. I never was using nightly.

[2019-08-21 20:27] e-oz commented on #50297
I quoted message from compiler.

[2019-08-21 20:32] killercup commented on #50297
As far as I can tell, you've not given enough details, not even the name of the library.

@e-oz, please try to report issues in a civil way. We are not here to guess what errors you have nor are we likely to spend our time on any of it when you comment in that kind of tone.

[2019-08-21 20:34] e-oz commented on #50297
@killercup you don't need to guess anything, I quoted text of the error for you.
One more time:

[2019-08-21 20:44] e-oz commented on #50297
Also, everything I wrote is pretty "civil". 0 insults so far.

If you expect me to be "happy" about not being able to compile project without rolling back to 1.37 - do not expect it. It's not just "hobby" project, it's my job, so yes I'm very worried that some day I will not be able to update Rust version just to be able to compile this binary. And it's too huge to rewrite, so no, I can't stop usi

[2019-08-21 20:50] #61079 closed

[2019-08-21 20:50] #63685 closed

[2019-08-21 20:50] #63673 closed

[2019-08-21 20:50] #63712 closed

[2019-08-21 20:51] Manishearth commented on #50297
@e-oz there is not nearly enough information for us to figure out what the regression is. As far as we can tell, this should not happen on code that used to compile. It's totally possible that there's a bug causing a regression, but without further details we cannot help. You have been asked for details once already and you had an unhelpful response.

Your tone is very hostile, and you are being c

[2019-08-21 20:55] Manishearth commented on #50297
Also, this is a tracking issue, please file a separate issue for this and link it there. Please provide instructions for reproducing the regression.

[2019-08-21 21:23] andjo403 commented on #63638
@alexcrichton @Mark-Simulacrum
have something that works now I think https://github.com/andjo403/rust/commit/9d35469053ef8c8d9d44808fbcd62fd4ee682ec7
I copied the strings that was sent in to rustdoc for the codegen options, libs and external,
was the only way that I was able to make the codegen options work as before when new options is added.

some strange things that I found was the debugging op

[2019-08-21 21:27] andjo403 commented on #63638
and also maybe needs to print the stdout and stderr in some other way then `eprintln!("{:?}", output);`
the printout is I think hard to read
`"/home/andjo403/rust/build/x86_64-unknown-linux-gnu/stage2/bin/rustc" "--cfg" "stage2" "--cfg" "dox" "--cfg" "rustdoc" "--cfg" "doctest" "--sysroot" "/home/andjo403/rust/build/x86_64-unknown-linux-gnu/stage2" "--edition" "2018" "/tmp/rustdoctestQ2MzFE/input.

[2019-08-21 21:30] e-oz commented on #50297
@Manishearth

But it does.

And I should guess what details you need?

If compiler's message is unhelpful - it's not my fault.

https://play.rust-lang.org/?version=beta&mode=debug&edition=2018

This bug created real issue for me and you just prefer to ignore it with response "it should work", so what tone you expect? I should be happy about this response? You've marked all my messages as offtopic,

[2019-08-21 21:36] Manishearth commented on #50297
Like I said, it's totally possible that there's a bug, but we can't figure that out without further information.

Yes, I told you to file a separate issue. Further comments here will be deleted.

You have provided enough information, but please do it in an issue form.

(I'd file it myself but I'm on a train right now)

[2019-08-22 00:41] CAD97 opened #63798 "[1.38] `#[bench]` accepted on stable but not beta"
Initially reported by @e-oz [here](https://github.com/rust-lang/rust/issues/50297#issuecomment-523657376).

[[playground](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=b006497caba8892a0350a517d49c7a2d)]

[code]

On stable, you're allowed to _define_ `#[bench]` tests in your library, even if calling them requires nightly. This broke at least one stable user, so we should at

[2019-08-22 00:44] CAD97 commented on #50297
I created an issue for the `#[bench]` regression at #63798. Please direct any further discussion there.

In the future, if code stops compiling between stable and beta, create a minimized example and open an issue, rather than seeking out the linked tracking issue and just posting the error without context. It's _almost always_ a bug if something stops compiling between stable and beta. Nobody wil

[2019-08-22 02:32] djrenren commented on #63798
I think it's related to this: https://github.com/rust-lang/rust/issues/62048

Unsure how it got marked stable in the first place.

[2019-08-22 02:47] ehuss commented on #63798
`[bench]` was unstabilized in #62507.  A crater run was done during that PR, the conclusion was written [here](https://github.com/rust-lang/rust/pull/62507#issuecomment-513872169).  I think it was deemed unusual enough to proceed.
cc @petrochenkov

[2019-08-22 04:07] martinellison commented on #62558
Is it possible to get this issue resolved please *quickly* ? Some of us are using "tier 2" platforms and we would like to have our development tools back. As I said earlier, please at least restore the earlier installation path using cargo until the current issue is resolved.

[2019-08-22 04:47] joshtriplett commented on #63748
@newpavlov I would very much like to use these functions in `no_std` projects that don't link to std or libc. That would be my primary use case for direct use of syscalls.

[2019-08-22 04:53] joshtriplett opened #63799 "Confusing E0425 error when referencing undefined name with ::foo"
Test program:

[code]

This produces the following error messages:

[code]

Both the error and the help seem entirely unhelpful. The error suggests that it looked for a function `foo` in the crate root, but in fact it looked for a *crate* `foo`. The whole "possible candidate" help seems incorrect, and adding that line would lead to a compilation failure.

[2019-08-22 05:38] ncihnegn commented on #48168
Is lldb still shipped as a component on macOS?

[2019-08-22 07:19] zephyrus00jp commented on #56068
I am creating patches for Thunderbird mail client (originally from Mozilla) from time to time when I notice a bug here and there.

I have a nagging problem since early this year.
Since early this summer, I occasionally run out of my 50GB partition (in a VM setting.) for storing binary object only. This has not happened before.
I found that among the binary directory, the incremental compilation ca

[2019-08-22 07:22] software-opal opened #63800 "rustc panic when trying to unwrap DistinctSources"
When trying to compile the tests for my [code](https://github.com/software-opal/archivelib-rs/tree/compiler-bug-1.37) I get this error:

[code]
<details>
  <summary>`RUST_BACKTRACE=full cargo test`</summary>

[code]
</details>

My understanding is that the compiler was trying to tell me about a borrow checker error; but I have no idea where to start minimizing this error(sorry).

[2019-08-22 08:07] nikita-fuchs commented on #62342
@jonas-schievink it looks like the culprit that's causing the package extraction issues were identified: https://github.com/rust-lang/rustup.rs/issues/1970#issuecomment-523451361 - hopefully someone can take care of it.

[2019-08-22 08:12] 95th commented on #63794
@jonas-schievink The compiler shouldn't default to `()` for `impl Foo`. So doesn't that make it a bug?
Also, with never type `!`, the trait bound `!: Foo` is not satisfied.

This would mean that you can't leave functions having `impl` trait return types unimplemented.

[2019-08-22 08:35] u32i64 commented on #63697
@rustbot claim

[2019-08-22 09:00] petrochenkov commented on #63798
Reverting the unstabilization and making a beta backport is always an option, it's a one line change.

Complaints filed so far:
https://github.com/rust-lang/rust/pull/62507#issuecomment-517719452 - `route-recognizer` broke, apparently it's used as a dependency somewhat commonly.
https://github.com/rust-lang/rust/issues/50297#issuecomment-521660469 and below - unspecified dependency broke, may be t

[2019-08-22 09:02] bjorn3 opened #63802 "ICE trying to compile libstd with -Zmir-opt-level=3"
[code]

I tried to compile it with the `panic_unwind` cargo feature set.

[2019-08-22 09:22] Marwes commented on #63778
Going with a moving API over `&mut` only helps if the value is also moved into future

https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=1c7aecd5a71c3bc18daf6936cf47fd22

For redis, where I encountered this it is possible to avoid capturing `&self` in the future by avoiding `async fn` but I may want to change the API in a way that `&self` needs to be captured. Such an API

[2019-08-22 09:24] mati865 commented on #48168
@ncihnegn it was dropped during migration to LLVM 9: https://github.com/rust-lang/llvm-project/pull/19

[2019-08-22 09:34] davidthomaswood commented on #49794
From looking at https://github.com/cambridgeconsultants/rust-beagleboardx15-demo/issues/1, this flag was stabilized in https://github.com/rust-lang/rust/commit/9536d04a2d1af8163a0ec772ec747a0e98a8e4db, and is now `-C linker-flavor`

[2019-08-22 09:37] philipc commented on #57822
@michaelwoerister Should I be using `tcx.def_path_hash(def_id).0.to_hex()` for the names? That's 32 bytes, which seems a bit larger than needed.

Probably not something to do right now, but maybe we should move these types inside the functions where they are defined, and then use a simple disambiguation index (are we doing something like this for mangling closure symbols?). This would be similar t

[2019-08-22 09:40] hawkinsw opened #63804 "use of proc_macro[2]::TokenStream in a vector in TLS causes rustc panic"
I am relatively new to rust, but I am a huge, huge fan. I hate to report an issue and hope that it's something worthwhile.

I am attempting to use `proc_macro[2]::TokenStream` in the implementation of a proc macro. I share a vector of `TokenStream`s across multiple invocations of those proc macros using storage allocated with `thread_local!`. That sounds complicated, but I promise it's not:

[code

[2019-08-22 09:48] RalfJung commented on #62210
Also see @Mark-Simulacrum's statement at https://github.com/rust-lang/rust/pull/63201#issuecomment-520143325:

[2019-08-22 09:51] andreasbaumann commented on #60294
Can confirm this is also a problem with rust 1.37 on 32-bit Archlinux32:

[code]

[2019-08-22 09:51] lovasoa commented on #53294
What is the status on this ? Has it been discussed somewhere else ?

[2019-08-22 10:15] andreasbaumann commented on #60294
I see a -j8 here

[code]

I wonder how you can tame parallelity, with RUSTFLAGS (analog to MAKEFLAGS='-j1')?

[2019-08-22 10:15] andreasbaumann commented on #60294
I see a -j8 here

[code]

I wonder how you can tame parallelity, with RUSTFLAGS (analog to MAKEFLAGS='-j1')?

[2019-08-22 10:21] michaelwoerister commented on #57822
Yes, I also think that we don't need that many characters for disambiguation. I'd probably do something like:

[code]

This should result in ~11 disambiguation chars which seems fine.

Do DWARF & LLVM allow for type DIEs inside of function DIEs? What would be the implications? I can't remember if we already do something like this (we definitely use namespaces though).

[2019-08-22 10:41] andreasbaumann commented on #60294
When monitoring the rustc process using top I see:

[code]

This must fail in 32-bit address space.

Is there a way to compile and link incrementally?

Or differently put: how are you producing the prebuilt binaries for i686? Via
cross-compiling in a 64-bit address space?

[2019-08-22 10:46] philipc commented on #57822
I haven't checked clang, but here's some output from gcc which does that:

[code]
[code]

[2019-08-22 10:46] mati865 commented on #60294
I think `./x.py build -j<num>` should work.

cross-compiling in a 64-bit address space?

Yes, they are corss-compiled from 64 bit Docker container: https://github.com/rust-lang/rust/blob/2ec6f340cd29f289fea1c5a672195ceeaf44c475/src/ci/docker/dist-i686-linux/Dockerfile

[2019-08-22 10:50] andreasbaumann commented on #60294
There is a python ./x.py build -j"$(nproc)" in PKGBUILD, so yes, this is not really good. :-)

[2019-08-22 11:04] eddyb commented on #57822
This whole thread had me confused because I *just assumed* we were using def-paths (like symbol names do, and we know those are unambiguous), but I thought maybe it was some subtlety everyone else was aware of.

Thanks for asking this "out loud", everything's clear now!

I wonder if there are other bugs/complications arising from debuginfo not (fully) relying on the disambiguating information that

[2019-08-22 11:08] eddyb commented on #57822
You should be able to create a similar situations to closure via this:
[code]

This should create two structs with the same def-path *except* for the disambiguator on the last component (since blocks don't introduce their own def-path components).

[2019-08-22 11:21] andreasbaumann commented on #60294
[code]

So basically, the rust compiler is not compilable from source on 32-bit.. can you confirm?

[2019-08-22 11:23] jonas-schievink commented on #63804
Note that procedural macros do not support retaining state between executions or sharing state between macros.

That said, `fatal runtime error: failed to initiate panic, error 5` is not something I'd expect to see in that case. What machine are you running this on?

[2019-08-22 11:29] hellow554 commented on #63802
I have managed to get it down to two files:

lib.rs:
[code]

ext.rs
[code]

It doesn't work with a `mod` in the `lib.rs`, it has to be a different file.

[2019-08-22 11:30] hellow554 commented on #63802
@rustbot modify labels: I-ICE A-macros C-bug T-compiler

[2019-08-22 11:36] hellow554 commented on #63800
I have managed to get it down to two files:

lib.rs:
[code]

ext.rs
[code]

It doesn't work with a `mod` in the `lib.rs`, it has to be a different file. `cargo test` is then needed to trigger the ICE.

[2019-08-22 11:37] hellow554 commented on #63800
@rustbot modify labels: I-ICE A-macros C-Bug T-compiler

[2019-08-22 11:38] hellow554 commented on #63802
@rustbot modify labels: -A-macros

[2019-08-22 11:41] michaelwoerister commented on #57822
Well, I don't think DWARF actually demands that types have different names. Each DIE has some kind of ID and the `DW_AT_name` attribute is actually optional.

[2019-08-22 11:46] jonas-schievink commented on #63794
What type *should* it choose, then? I don't think this is an easy question to answer in all cases.

Diverging control flow (which is what you get after a panic) can generally be of any type, since the code is unreachable. Rustc falls back to assigning `()` if there is no known, concrete type to assign (this has been the case since before 1.0, I believe). This doesn't really have much to do with `i

[2019-08-22 11:47] mati865 commented on #60294
No idea, I haven't ran 32 bit OS for years.

AFAIK it's not enabled by default.

Those two options only affect LLVM build, your build fails when building Rust parts.

[2019-08-22 11:54] michaelwoerister commented on #57822
@philipc I remember now: We are building a *parallel* tree of `DW_TAG_namespace`s and put the types into those, because at the time (5 years ago?) GDB wasn't able to handle types inside of functions. Here's what this looks like:

[code]
DWARF
[code]
It would be great to get rid of that hack `:)`

[2019-08-22 12:09] eddyb commented on #63787
In https://github.com/rust-lang/unsafe-code-guidelines/issues/125#issuecomment-523876722 I asked:

But it seems like the preferred solution is to change `Ref` to not contain a reference.

@RalfJung Why not? It would have to be `&UnsafeCell`, not `&mut UnsafeCell`, but I expect it to work.

[2019-08-22 12:12] RalfJung commented on #63787
Hm okay that might work. That seems real ugly though.

IMO raw pointers are more honest, as laid out [years ago](https://github.com/rust-lang/rust-memory-model/issues/5). The lifetime in that reference is a lie.

[2019-08-22 12:35] Centril commented on #63798
I don't think we should re-stabilize especially given that some folks have already migrated.
(The one line change is not the issue, but forever committing to a stable `#[bench]`.)

[2019-08-22 12:38] Centril commented on #63799
cc @petrochenkov @estebank

[2019-08-22 12:39] Centril commented on #63800
cc @matthewjasper

[2019-08-22 12:47] Centril commented on #63804
cc @eddyb  -- We get this question every now and then... I think we need to clarify somewhere that this is explicitly unsupported.

[2019-08-22 12:51] hellow554 commented on #63800
Seems to be related to 2018 edition? If I use the nightly-2018-10-01 and execute `rustc src/lib.rs --test --edition=2015` it doesn't ICE, but with `rustc src/lib.rs --test --edition=2018` it does ICE. well...

[2019-08-22 12:54] Centril commented on #63800
Most likely related to the fact that NLL is active in Rust 2018 then.

[2019-08-22 12:56] eddyb commented on #63804
"use-after-free in 'proc_macro' handle" is the correct error, it's saying that you kept something for longer than you should have (if you have any suggestions, feel free to open a PR modifying `libproc_macro/bridge/client.rs`).

No, that would behave much more differently. There is a server attached, it just didn't recognize that handle you held onto (we use atomic counters to guarantee we can det

[2019-08-22 13:01] Centril commented on #63804
@eddyb That does sound drastic but perhaps worth a try -- could we perhaps look for `thread_local!` and friends instead and emit a warning there? It's a less sound analysis but it would have caught this instance. Other than that, I was mainly thinking about documentation changes in some relevant places (idk where proc macros are primarily documented...).

[2019-08-22 13:01] philipc commented on #57822
Ok, but the closure types are all being put under the `DW_TAG_compile_unit`. So we should at least move them into that namespace with the rest of the types, but yes getting rid of the parallel tree would be good too.

Not sure if this will cause problems, but one possible difference from other languages is that these types are visible outside the function by returning `impl Trait`.

[2019-08-22 13:04] hellow554 commented on #63800
Bisecting: Somewhere in https://github.com/rust-lang/rust/compare/d767ee116...b2028828d

[2019-08-22 13:05] eddyb commented on #63804
Kinda tricky to mess around with the layers of indirection around `thread_local!`.
What I was suggesting was a *dynamic* check, which is almost trivial to perform, along the lines of `!handles.TokenStream.is_empty()` (also, it could even print the values being leaked since they are still available at that point).

[2019-08-22 13:08] Centril commented on #63804
@eddyb Let's give it a try as an error (at first) and crater that?

[2019-08-22 13:10] eddyb commented on #57822
@philipc Pretty sure you can get the same in C++ with [`decltype(auto)`](https://en.cppreference.com/w/cpp/language/auto).

[2019-08-22 13:23] CAD97 commented on #63798
I wish we had unsurpressable future-compat warnings so a cycle's worth of just a future-compat warning for `#[bench]` would actually be helpful for catching any other libraries mistakenly using (because it was stable that way) `#[bench]` as `#[cfg(test)] #[bench]`.

Because we don't, I assume said grace period wouldn't help find any remaining uses, just delay the errorification.

So I guess the qu

[2019-08-22 13:27] pietroalbini commented on #63798
[Accidental stabilizations are not part of our stability guarantee](https://github.com/rust-lang/rfcs/pull/2405). Still, if possible I think we should try to avoid breaking crates.

[2019-08-22 13:27] Centril commented on #63798
Implemented in https://github.com/rust-lang/rust/pull/59658; I'll be picking this up shortly to address the concerns raised there re. spam.

[2019-08-22 13:32] petrochenkov commented on #63798
@CAD97
If I'm reading your comment correctly, it has some misunderstanding.
`#[cfg(false)] #[bench]` *still* can be used on stable because `bench` is unconfigured before use.

What was unstabilized is the actual use of `bench`.
[code]
It previously didn't compile in `--test` mode due to requiring unstable things in the `fn` signature, but without `--test` it compile successfully and expanded into

[2019-08-22 13:35] petrochenkov commented on #63798
I'm not sure the back compat warning is a good solution since `#[bench]` doesn't seem to be deprecated in any way, on the contrary, it's going for stabilization with custom test frameworks making progress.

[2019-08-22 13:37] hellow554 commented on #63800
Confirmed. `#![feature(nll)]` gave me the ICE on 2015 as well (forgot that in the good ol' days nll was not a thing)

[2019-08-22 13:44] CAD97 commented on #63798
@petrochenkov That's just a wording issue. I meant that using `#[bench]` had the effect of using `#[cfg(test)] #[bench]`.

[2019-08-22 14:08] hawkinsw commented on #63804
Thank you for responding! Can you explain to me why I am keeping something
too long? Both of these proc macro implementations are invoked from the
same thread, I believe. If they weren't, then they would access different
different vectors through the refcell. I'm not keeping references to the
destination items across calls.

On Thu, Aug 22, 2019, 9:09 AM Mazdak Farrokhzad <notifications@github.com

[2019-08-22 14:18] e-oz commented on #63798
@petrochenkov
I can't update version of `route-recognizer` because requirements of version are written not in mine Config.toml - it's dependency of `iron/router` (and updating `iron` version means rewriting my project from scratch, it's few months of work without any noticeable result).

[2019-08-22 14:20] RReverser commented on #60845
I could use this too - my use case is JavaScript source map manipulation that should be able to deal with both Windows and Linux paths in sources, join paths, resolve them relatively one to another etc.

[2019-08-22 14:22] CAD97 commented on #63798
@e-oz The new version of `route-recognizer` is semver-compatible with every other published version. A `cargo update` _should_ re-resolve your lock file to use the latest version of `route-recognizer`.

[2019-08-22 14:22] hellow554 commented on #63800
Also ICE with `-Z polonius`

<details>

<summary>Backtrace with polonius</summary>

[code]

</details>

[2019-08-22 14:26] Manishearth commented on #62558
The cargo install path is not something that can be re-added, we're long past that point. Clippy no longer works that way.

[2019-08-22 14:29] e-oz commented on #63798
@CAD97
this worked, thanks a lot!
`rm -f Cargo.lock && cargo update && cargo build`

Hope it will not be required after each rust update :)

[2019-08-22 14:29] hawkinsw commented on #63804
The only thing I could imagine that is being retained incorrectly is
something internal to the implementation of a tokenstream that is specific
to the proc macro implementation in which it is constructed. Otherwise, my
use case seems entirely legitimate.

In other words, it is not that sharing generally is unsupported in this
case  it is, specifically, the sharing of tokenstream across invocations

[2019-08-22 14:39] e-oz commented on #50297
@CAD97

Look at the compiles message please, notice the URL:

[code]

I was able to reproduce an error just using that message. It took few seconds literally. Yes, I had no context also, it's not my code.

Come on, nobody tried, response was "it should work, get lost".

[2019-08-22 14:44] Manishearth commented on #50297
The response was "we need more information".

If you keep commenting on this issue on this topic this will lead to a temporary ban from GitHub. Do with this information what you wish.

[2019-08-22 14:44] eddyb commented on #63804
In the original issue report, you wrote:

Which is definitely unsupported (generally you shouldn't assume you can communicate between invocations *in any way*, we don't really guarantee the order your functions will be called in).

What might be happening (and which I overlooked above, my bad) is whenever the `thread_local!` contents are dropped, just before the thread exits, the `TokenStream` att

[2019-08-22 14:47] e-oz commented on #50297
I don't give a fuck about your threats :)

[2019-08-22 14:49] mati865 commented on #57146
@xMAC94x can you provide step by step instructions how to reproduce this bug?

[2019-08-22 14:53] fbstj commented on #63798
@e-oz check out the [`--package`](https://doc.rust-lang.org/cargo/commands/cargo-update.html) option of `cargo update` and run something like `cargo update --package route-recognizer` to only update that package.

[2019-08-22 14:56] e-oz commented on #63798
@fbstj thank you very much! Works great.

[2019-08-22 14:59] sam09 commented on #63797
Hi there. Can I pick this up as first-timer task?

[2019-08-22 15:02] michaelwoerister commented on #57822
@philipc I'm pretty sure `get_namespace_for_item(cx, closure_def_id)` would give you the expected namespace. You can find many examples of how this is used in `metadata.rs`. Right now we seem to re-use the tuple metadata infrastructure for closures, which is why they all end up in the top-level scope.

[2019-08-22 15:31] hawkinsw commented on #63804
I completely understand that this is _completely unsupported_. That said, if possible, I'd like to continue this discussion based on the current implementation and assume that I am willing to accept the attendant risks should the implementation change. I know that you are busy, so please feel free to say that you have better things to do than discuss this, obviously stupid choice ...

If I underst

[2019-08-22 16:01] RalfJung commented on #63787
Nominated for lang team as well.

@rust-lang/lang the interesting question from a lang team perspective here is to decide whether this is a library bug or a language bug. I.e., is the code wrong and the `noalias` right, or vice versa? Do we want non-`repr(transparent)`-structs containing references to be marked `noalias`?

[2019-08-22 16:09] eddyb commented on #63804
I think that message is a bit too confusing (but I didn't know what to call it).
It's not a *memory-safety* "use-after-free", it's a "conceptual" one.

I should explain a bit more about how the system works.

Whenever you get a `proc_macro` "object", such as a `TokenStream`, either in the invocation itself, or from the `proc_macro` public API, what is being passed from the server (rustc) to the cl

[2019-08-22 16:15] eddyb commented on #63804
Wait, I'm glad I'm wrong about the TLS panics, they're just... always broken:
[code]
[try on playpen](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=73c4bb02956832ea8934a13019111386) - results in this output:
[code]

[2019-08-22 16:25] eddyb commented on #63804
Another clue: if you see `fatal runtime error: failed to initiate panic, error 5` but there's no panic message above it, that *probably* means that the panic silencing logic is kicking in (which generally shouldn't happen outside of an active server, which has its own way of getting the panic message and turning it into a rustc error).

As you can see above, panicking *should always* print a messa

[2019-08-22 16:53] u32i64 commented on #63697
@estebank Which of these options makes more sense?

---

Check if the new (suggested) conversion is infallible
- always
- only in the **2**nd case
- never (if `SomeNumberTy::from(...)` is detected, always suggest to replace with `ExpectedTy::from(...)`)

---

**1.** Seems like the user already opted in for panicking if the conversion fails, so conversion was fallible and will stay so:

[code]

**2

[2019-08-22 17:03] Nashenas88 commented on #63765
Going to take a look at this during RustConf :)

[2019-08-22 17:21] idubrov commented on #63150
Seeing similar issue in our project (`error: internal compiler error: src/librustc/dep_graph/graph.rs:687: DepNode Hir(bend[3a80]::{{impl}}[5]::from_request_inner[0]::{{misc}}[0]::{{misc}}[0]) should have been pre-allocated but wasn't.`).

What can I do to debug it / provide more information? I have it failing consistently on `cargo check --verbose`. I'm pretty sure I've seen it before and it alwa

[2019-08-22 18:08] u32i64 commented on #63697
@rustbot release-assignment

[2019-08-22 18:15] estebank commented on #63697
@u32i64 sorry, didn't see your claim before I pushed my PR :-|

[2019-08-22 18:34] hawkinsw commented on #63804
After reading your explanation, I am convinced that we are on the same page. I was just using different words since I didn't understand the behind-the-scenes details. Thank you for taking the time to explain. I get it so much more. Please see below for an additional question/clarification! Thanks again for this description.

I think that we are saying exactly the same thing but with different word

[2019-08-22 19:40] DevQps commented on #40230
I do not know too much about intrinsincs and abort signals sadly. @alexcrichton Could you maybe answer the questions of Simon?

[2019-08-22 19:50] comex commented on #63787
Well, we have other types such as `Box`, `Vec`,  etc. that have `Drop` impls but still want `noalias`.

With such types, the pointer *can* be deallocated by `Drop` and later reused, but... for one thing, the deallocation function takes the pointer itself as an argument, which is treated as the pointer escaping.  If the function makes a new allocation and get the same pointer value back, the new po

[2019-08-22 20:13] SergioBenitez commented on #54727
@petrochenkov

Are you saying that everything in my comment is stabilize-able _now_ or after the changes you're hoping to make? I am advocating for stabilization of the subset of features _now_ on the basis presented in my comment, in particular, that this functionality is largely already possibly today and thus stabilization does not significantly expose a greater surface.

[2019-08-22 20:24] rkruppe commented on #63787
I would argue for the opposite: if an allocation is freed and the underlying memory is recycled to satisfy another allocation later on, the later allocation should result in a pointer of different provenance from the one that was freed, regardless of the physical address reuse. Each new allocation should be considered a fresh allocation for the purposes of the abstract machine (to justify the diff

[2019-08-22 20:31] andjo403 commented on #63638
now all the test in src/test/rustdoc passes for https://github.com/andjo403/rust/commit/2661f79224445d71ef5b061666c94680717305fd

[2019-08-22 20:41] andjo403 opened #63816 "RustDoc: remove the redundant unstable option "--linker""
while working on https://github.com/rust-lang/rust/issues/63638 i have noticed the there is a conflict between the "-C linker" and the "--linker" option where the later overrides the former.

but as the `--linker` flag is unstable I think that it shall be removed as is it confusing where all other "-C" options works but not the linker one.

[2019-08-22 21:04] mark-i-m commented on #61053
@ia0 Thanks! Sorry for the long delay. Things have been busy...

`stringify!` and a few other macros are built-in macros -- they are special-cased in the compiler and are expanded in a special way. One thing we could do is just whitelist any problematic built-ins.

[2019-08-22 21:04] mark-i-m commented on #61053
Also, thanks for all the work you have put into this!

[2019-08-22 21:51] #63164 closed

[2019-08-22 21:51] #63734 closed

[2019-08-22 21:51] #63758 closed

[2019-08-22 22:09] LukasKalbertodt commented on #58935
What exactly is blocking stabilization? Any unresolved questions? Just gaining experience with it?

[2019-08-22 22:17] comex commented on #63787
They're visible if LTO is turned on, but unless the allocator is trivial, the optimizer is nowhere near smart enough to notice that newly allocated pointers might not be 'based on' the previously freed versions.  However, assuming that the optimizer will never be smart enough to notice something is a risky strategy in the long term. :)

Well, it's a combination of two issues mentioned in the paper

[2019-08-22 22:19] Mark-Simulacrum opened #63818 "async/await unsoundness"
async/await is possibly unsound -- I don't consider myself an authority here, so feel free to edit this top post with relevant information.

Current discussion happened in https://github.com/rust-lang/rust/pull/63209

[2019-08-22 22:21] Mark-Simulacrum commented on #63818
cc @rust-lang/lang @comex @rkruppe @RalfJung

[2019-08-22 22:22] bryteise commented on #52227
Okay, I think this is fixed (though I may be hitting a different error earlier in the build now hiding it). I'll close this issue though since I can't readily reproduce it.

[2019-08-22 22:22] #52227 closed

[2019-08-22 22:29] comex commented on #63818
Responding to @RalfJung's post from #63209:

Those hypothetical optimizations could be disabled in async fns across suspend points, though, couldn't they?  I can't think of any case where this would force the compiler to pessimize *all* code because of the mere possibility of async being involved.  Therefore, the question is whether those optimizations being performed on async fns specifically is

[2019-08-22 22:51] nathanwhit commented on #63751
I'm interested in working on this (or rather, I've done some work on this based on the mentoring instructions) if that's okay. Based on what I've done so far, I think I'll be ready to submit a PR within the next day or so.

[2019-08-22 22:53] nikomatsakis commented on #63818
I've not weighed in on this but I wanted to leave a few thoughts. Let me know if I'm confused about something.

First off, the conflict here is between the reference to a generator type G and some `&mut` reference T contained within the generator. What we *don't* have is two `&mut A` and `&mut B` references that overlap where neither A nor B gives any indication of arising from a generator.

This

[2019-08-22 22:54] Aaron1011 commented on #63818
I think it's very important for generators to be able to print out their locals in a `Debug` implementation. With all of the effort that's gone into making async functions and futures zero-cost, it would be a shame if they became intrinsically less debuggable than a hand-written state machine.

[2019-08-22 22:56] idubrov opened #63821 "rustdoc crashes on nightly nightly-2019-08-22"
`cargo doc` crashes on nightly (`nightly-2019-08-22`) and also on stable (`1.37.0`) with "nightly" features turned on via `RUSTC_BOOSTRAP=1`. It does not trigger on stable without `RUSTC_BOOTSTRAP=1` flag.

Here is the output I'm getting:
[code]

I created a small repro case + README.md here: https://github.com/idubrov/rustdoc-crash (it only happens when there is a certain combination of procedura

[2019-08-22 22:58] idubrov commented on #63821
The source code is:

[code]

with `derive` crate being a procedural macro crate with:
[code]

[2019-08-22 22:59] idubrov commented on #63821
Couple of things that are important here:

1. It only happens with two procedural macros.
2. Second macro has to do that `TokenStream::extend`.
3. Doc attribute has to be `[Whatever]`, does not reproduce with anything else.

[2019-08-22 23:06] Nashenas88 commented on #63765
Something in a recent nightly compiler fixes this. When I rebased the PR above to master, I was no longer able to reproduce the issue. Should this be closed or should we identify which change fixed this issue?

[2019-08-22 23:07] benw opened #63822 "impl Display for Path"
It's deliberate that to date Path does not impl Display. It's a conservative stance that says that because the conversion to utf8 can be lossy, there isn't necessarily one obviously correct way to display a path.

I'd like to revisit that decision, in the interests of convenience. I can't imagine that anyone does anything other than call .display() or .to_string_lossy(). The current inconvenience

[2019-08-22 23:08] benw commented on #63822
Also I'd be interested to hear whether @huonw's thoughts on this have changed since #15827.

[2019-08-22 23:12] Mark-Simulacrum commented on #63822
See most recent discussion in https://github.com/rust-lang/rust/pull/49868 -- nominating for T-libs but I suspect that they may (still) not have sufficient bandwidth to deal with this question.

[2019-08-22 23:12] benw commented on #63822
Ah thanks, I searched but failed to find that.

[2019-08-22 23:13] Mark-Simulacrum commented on #63765
Doesn't seem too important to track down presuming this isn't a regression (which seems true). Closing.

[2019-08-22 23:31] nathanwhit commented on #63751
To test the functionality, I updated the test for the `dbg!` macro (noted by @Centril) to use the new header flag. Would it be more reasonable to make a separate PR for that once these changes are approved, or could I include it in the same PR? Apologies if this is off-topic.

[2019-08-22 23:34] Mark-Simulacrum commented on #63751
Not at all! That seems like a reasonable change to make in the same PR, though it would be good to split it out into a separate commit for easier reviewing. Thanks!

[2019-08-22 23:39] benw commented on #63822
Fwiw, after reading #49868 I am personally firmly in the camp of "Display means pretty-printing for user-visible output". I never understood Display to imply that roundtrip would be possible, and it's not obvious to me that "faithful representation" implies roundtrip.

However, I see that people with insight and experience have invested considerable effort in thinking and discussing this issue, it

[2019-08-22 23:45] Mark-Simulacrum commented on #63638
Could you post a PR with your changes? That'll make it easier to keep feedback central and such.

[2019-08-23 01:42] yegortimoshenko commented on #52362
For the record, LLVM 8 lld is good enough, but LLVM 7 lld isn't. In Nix, one can just add `llvmPackages_8.lld` to `nativeBuildInputs` and set `RUSTFLAGS = "-C linker=lld";` in the derivation.

[2019-08-23 03:05] YangZhou1997 opened #63826 "How to disable rust runtime stack_overflow check"
Hi community,

I was using [GEM5](http://gem5.org/Main_Page) architecture simulator to run Rust binaries. However, GEM5 simulator does support syscall sigaltstack, which is called by libstd/sys/unix/stack_overflow.rs further by libstd/rt.rs (sys::stack_overflow::init()).

I was wonder if I can disable the stack_overflow check in Rust libstd. I know there was an option in rustc: -C no-stack-check,

[2019-08-23 03:55] shivan1b commented on #63713
Hi @bjorn3 !
If this is not taken up by someone already, can I work on this? I'm a first time contributor to Rust and am browsing through the Easy marked issues.

[2019-08-23 04:21] martinellison commented on #62558
Any idea of how long it will take to fix this problem?

[2019-08-23 04:49] gz commented on #50297
Is there a plan or way to integrate the #[should_panic] attribute with custom test runners and #[test_case] or is this out of scope for this eRFC?

[2019-08-23 05:10] jaynus commented on #63687
This regression affects another project I am working on as well. is there any status on this?

[2019-08-23 05:43] djrenren commented on #50297
@gz for sure! In fact, `#[should_panic]` is already, currently implemented using custom test runners and `#[test_case]`!

Here's how it works:

First off, because we want to react to a panic, we need to compile with panics as unwinds (as opposed to aborts). This is the default behavior of the compiler, but you can specify otherwise in `Cargo.toml`. I believe the compiler forces this mode for test

[2019-08-23 05:48] eddyb commented on #63804
I should've just compared proc_macro handles to file descriptors, your write-after-close example is spot on!

Another way to see the TLS situation is something like running the same program multiple times, and every time it appends a fd into a file. You could then look at all of those fd's but they are meaningless, because those processes no longer exist.

You can use strings in TLS, yes, but keep

[2019-08-23 06:05] JohnTitor commented on #57242
@estebank this can be closed? It seems fixed in #61782.

[2019-08-23 06:52] RalfJung commented on #63787
Another argument for using raw pointers: not only `noalias` but also `derefencable` is wrong. Consider this example:
[code]
The memory `r` points to is deallocated while `break_it` still runs.

Of course, this could also be viewed as more evidence that `UnsafeCell` should inhibit `dereferencable` as well.

---

I don't think that would be sufficient in general. For example, consider a silly versio

[2019-08-23 07:05] mati865 commented on #62558
@martinellison why don't you go ahead and fix it yourself?
There is no ETA and spamming this thread is not helpful.

[2019-08-23 07:19] bjorn3 commented on #63713
I dont think somebody else is working on this, so go for it.

This wrapper should be put in the `rustc_data_structures` crate.

[2019-08-23 07:29] mati865 commented on #63816
Are you sure `-C linker` works for rustdoc?
I thought rustdoc only cares about `--linker` and rustc about `-C linker`.

[2019-08-23 07:31] #57242 closed

[2019-08-23 07:43] hawkinsw commented on #63804
I'm glad that I _grok_!

Yes, this is a great example, too! In fact, I think this is a better example!

Completely understand. See below for additional context on this design/implementation.

Yes, this is exactly the design that I initially considered. I'll tell you why I didn't go for it immediately: I wanted a POC for whether or not this type of crate API is useful in my own project. The _correc

[2019-08-23 07:49] Geal commented on #62146
@Alexhuszagh any idea about this?

[2019-08-23 07:50] RalfJung commented on #63804
I have not heard about this issue before, but what you are saying makes sense. TLS destructor hooks are basically "extern" fn. We probably need a panic-aborting wrapper around them.

Can you report an issue specifically about that?

[2019-08-23 08:00] he32 opened #63828 "Cross-compile of rust fails in 1.36.0 and 1.37.0"
I'm habitually doing cross-builds of the various rust NetBSD targets, in addition to the native amd64 target (cross-build host).  The normal procedure I've followed and which works with 1.35.0, now fails in 1.36.0 and 1.37.0 inside the LLVM build with:

[code]

and it goes downhill from there (the "unfinished job" builds all the other objects for the current executable target before exiting).

The

[2019-08-23 08:02] RalfJung commented on #63818
Possibly. I am not sure what the memory would look like though. Specifically...

... it is not enough, in general, if only "one side" of a conflict is informed. `&mut T` expects everyone else to respect its rules. If we allow `&mut T` and `*mut T` to conflict arbitrarily (because `*mut T` "knows" to expect conflicts), we get basically no optimizations.

Agreed. I do not have a concrete idea for ho

[2019-08-23 08:04] rkruppe commented on #63787
👍

Oh, yeah, the `noalias` that shows up in the IR when passing `vec_deque::Drain` by value is *on a pointer to the `Drain`* (which points to a stack slot allocated for passing the parameter by value, which indeed isn't aliased), not on an actual data pointer contained in the iterator.

I don't know why @comex brought it up here, I don't think it's related (nor am I convinced there is any issue to

[2019-08-23 08:04] RalfJung commented on #63818
Added back the "unsound" label; to my knowledge, the LLVM IR we are currently generating for some safe self-referential futures is UB and thus we got a soundness bug here.

[2019-08-23 08:37] CreepySkeleton commented on #63161
We've got the same bug with the len number of 70, not on my machine but on [travis-ci](https://travis-ci.org/TeXitoi/structopt/builds/575667984?utm_source=github_status&utm_medium=notification) (the CI account isn't mine). If you guys know how to do the magic to pull the build artifacts from travis - you're welcome, CI account's owner seems willing to cooperate

[2019-08-23 08:40] andjo403 commented on #63816
now rustdoc `-C linker`  do not work but if the `--linker` option is removed the `-C linker` will work as expected

[2019-08-23 08:54] he32 opened #63829 "dli_saddr may be const"
The various NetBSD ports declare `dli_saddr` as

[code]

This gives rise to the need for the following patch to avoid "cast discards qualifier" warnings, which might be ("was" in my case) configured to act as an error:

[code]

[2019-08-23 08:59] hameerabbasi commented on #44580
This feature is useful for me too, `const fn` isn't enough. I want to use it for an N-dimensional array with a terminating condition of dimensions=0.

[2019-08-23 09:40] gnzlbg commented on #63787
Can we answer this question without an aliasing model ?

Independently of who is at fault, fixing this at the "library level", by using raw pointers, would be a small and localized change, that we could justify by trying to avoid relying on unspecified details of the aliasing model.

Fixing this at the language level, by removing `noalias` for all infringing types, would require changing the ABI o

[2019-08-23 09:49] RalfJung commented on #63787
This would be putting a constraint on the aliasing model. We already have many those constraints (e.g. from code where everyone agrees `noalias` is correct). This would be adding one more.

Not really. At least, I don't view whether `noalias` is added as part of the ABI. This is a callee choice. There is no representation change.

[2019-08-23 09:50] mati865 commented on #63816
I think it'd have to be implemented in `rustdoc` first.

[2019-08-23 10:00] gnzlbg commented on #63804
@eddyb

Looks like an instance of: https://github.com/rust-lang/rust/issues/24479

We have an `A-thread-locals` label. I'm not sure if this issue belongs there, but we probably should triage those at some point.

[2019-08-23 10:03] gnzlbg commented on #61512
Independently of whether the overhead is acceptable or not for release bugs, are there any issues with always performing this check in debug builds ?

[2019-08-23 10:07] jonas-schievink commented on #63829
This should be filed against LLVM, not Rust

[2019-08-23 10:07] #63829 closed

[2019-08-23 10:12] andjo403 commented on #63816
yes that is what this issue is about remove the `--linker` option from rustdoc and use the `-C linker` option instead

[2019-08-23 10:33] gnzlbg commented on #63787
They have the same calling convention (the values are passed in the same way from caller to callee and vice-versa), but they are different types, just like `u32` and `NonZeroU32`, and this means that one can't use them interchangeably. The C type that one can probably use interchangeably with `Option<&mut T>` is `T* restrict`, and this matters because `T*` and `T* restrict` and not [compatible C t

[2019-08-23 10:47] abonander commented on #63822
Whether or not it's specified in the API contracts, I think there's a widespread expectation that a `Display` impl for a type will produce the original value when the result is passed to a corresponding `FromStr` (in this case, on `PathBuf`). I can't think of any existing types that go against this expectation. Maybe floats?

[2019-08-23 10:56] 2ndTaleStudio commented on #63516
Hi, thanks again for your time looking into this and for the clarification on the "freedoms" of the compiler ;). You are right that I've missed to provide some further context and you are also right that looking at the compiler output was the attempt to understand why a certain peace of my program does not work.

Please allow me to give some more background, that will hopefully also explain why th

[2019-08-23 11:00] eddyb commented on #24479
It would be nice if this was a clean and intentional abort, which would probably be achieved whenever we make `extern "C"` functions abort to avoid UB (but we can do it sooner manually).

The `fatal runtime error: Could not unwind stack, error = 5` message could lean one to believe this is some sort of bug elsewhere (i.e. in the implementation of panics).

For example, in https://github.com/rust-l

[2019-08-23 11:40] TeXitoi commented on #63161
https://github.com/TeXitoi/structopt/pull/229

Maybe the commit succession can be of interest to investigate the bug.

[2019-08-23 12:31] fenhl opened #63830 "Automatic dark theme doesn't work"
Requested in #61079 and implemented in #61236, the automatic theme switching doesn't seem to do anything: If I visit <https://doc.rust-lang.org/nightly/std/> while the system is in dark mode, I can see in the developer tools that the `<html>` element has the style `content: "dark";`, but the page is still showing as the light theme. Local storage is empty for doc.rust-lang.org, and the issue affec

[2019-08-23 12:40] #63160 closed

[2019-08-23 12:44] mattrutherford commented on #63349
I think unfortunately you tried at a time where master was broken! If you can try again, maybe it's possible to reproduce the original problem

[2019-08-23 13:38] Scarjit commented on #48980
I'm not sure, if my problem is worth it's own issue:
When using std::time::Duration, the [as_nanos](https://doc.rust-lang.org/std/time/struct.Duration.html#method.as_nanos) function returns an u128.
However it is impossible to import it, without casting to u64, since [from_nanos](https://doc.rust-lang.org/std/time/struct.Duration.html#method.from_nanos) has no u128 overload.

[2019-08-23 13:51] nikomatsakis commented on #63818
@RalfJung

Do you mean "with `-Zno-alias`"?

Indeed. The other thing we have going for us here, I think, is that we can be somewhat selective about what sorts of operations on possible on the generator reference. It's not exactly the same as having a `&mut` reference A to a struct and a (simultaneous) `&mut` reference B to its fields, in that you could use A to access the data from B directly. Wit

[2019-08-23 14:02] nagisa commented on #63826
You’ll need to create a new target for your simulator, adjust the so that this target does not use `sigaltstack` and compile your binary for your new target. Most of the compiler flags do not influence the behaviour of libstd.

[2019-08-23 14:31] YangZhou1997 commented on #63826
@nagisa
Thanks for the comments. I am using x86_64-unknown-linux-musl target for building static binaries. Is there any example or tutorial of build new target based on x86_64-unknown-linux-musl? say, how to specify configurations in config.toml under rust/

[2019-08-23 15:27] nagisa commented on #63826
Not aware of any tutorial, but [`xargo`](https://github.com/japaric/xargo) and a custom target json should be all you really need to have/do.

[2019-08-23 15:27] nagisa commented on #63826
xargo readme specifically has  a section on custom targets.

[2019-08-23 15:31] RalfJung commented on #63818
@nikomatsakis

See https://github.com/rust-lang/rust/issues/63787.

(I'll come back to your other points when I find some more time.)

[2019-08-23 16:20] nikomatsakis opened #63832 "temporary lifetime around await is (maybe) unexpectedly short"
So @sfackler pointed out something to me. The problem @sfackler reported was that temporary lifetimes around `await` were too short. The effect was that `foo(&[123]).await` would give an error where `foo(&[123])` would not (in sync code). My assumption was that this was caused by our temporary lifetimes being derived from the desugared version of await, which doesn't seem like what one might expec

[2019-08-23 16:20] nikomatsakis commented on #63832
cc @rust-lang/lang

[2019-08-23 16:22] #63792 closed

[2019-08-23 16:23] eddyb commented on #63832
I assume this would also apply to `foo("123").await`, i.e. the input is *definitely* `&'static _`, and that lifetime is not propagated to the output?

[2019-08-23 17:09] jgalenson commented on #34902
Now that #63505, #63558, and #63621 have merged, rustc builds are almost completely reproducible for me (at least across different directories).  And now that rust-lang-nursery/compiler-builtins/pull/309 has merged, once it is pulled into a compiler-builtins release that rustc uses, the rustc build for me will be fully reproducible when built with gcc 8.

Additionally, with #63352 merged, I manage

[2019-08-23 18:24] Kobzol commented on #63778
It's not super nice, but for the `borrow_async` example you can use it like this:
[code]

If you use moving, it works out of the box:
[code]
Does you API prohibit you from using the moving variants?

[2019-08-23 18:57] lenary commented on #28587
The constraint codes in LLVM inline assembly are very target dependent. Any tests using these should be gated by target, which should avoid flakiness, and most flakiness in the constraints will be caused by LLVM and not rustc.

[2019-08-23 20:24] comex commented on #63787
Sorry, I got pretty far into the weeds.  My point is:
- `noalias` is wrong for `Ref` arguments, because you can drop a `Ref`, then get a unique reference to the same object from another source.
- Is `noalias` also wrong for `Box` arguments, because you can drop a `Box`, then get a unique reference to a new allocation which happens to be at the same address?
- Answer: No, because LLVM would assume

[2019-08-23 20:39] Darksonn commented on #42658
I was checking my old issues and have confirmed that this still happens. See e.g. [here][1].

It looks like the problem occurs on pages with a trait where the Implementors section is empty.

[1]: https://docs.rs/serde/1.0.99/serde/trait.Serializer.html

[2019-08-23 20:56] fintelia opened #63835 "message-format=short output is unnecessarily hard to read"
The `--message-format=short` option is a very convenient way to get a condensed error output from cargo when the same/similar errors occur at many places in a code base. Unfortunately, the current output with this option uses bold/color to place the emphasis on the wrong parts of each output line, making it harder to read.

For instance, consider the screenshot below. The same "trait objects witho

[2019-08-23 22:00] YangZhou1997 commented on #63826
@nagisa
Thanks for the suggestions.

However, I fail in running Xargo :(.
But I find I can build my own rustc using ./x.py build --target x86_64-unknown-linux-musl, and link it using:
rustup toolchain link stage1 build/x86_64-unknown-linux-gnu/stage1
rustup toolchain link stage2 build/x86_64-unknown-linux-gnu/stage2

However, I can only build my project using cargo +stage1 build.
Using cargo +stag

[2019-08-23 22:03] BatmanAoD commented on #52000
@oli-obk Hello again! I just attended your talk at RustConf, and I believe you mentioned that there were PRs this week for const eval `loop` and `if`. I'm having a difficult time finding those; could you please post a link?

[2019-08-23 23:08] cphoenix-google opened #63837 "rustc panic: Inner macro with loop-label inside closure."
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3bc7b5bf33f55dbb70550fb8f4b6804c

[2019-08-23 23:12] comex commented on #63787
Pretty much.

I just wouldn't characterize it as "yet another variation".  If anything, it's one of two variations.  The twin allocation paper creates pointers with the same address but different provenance by using two allocations that are adjacent in space (but exist at the same time).  My second example does so using two allocations that are separated in time (but at the same address in space).

[2019-08-23 23:16] dbartussek opened #63838 "struct containing array of size given in Self and slice causes compiler panic"
A struct containing an array and a reference to a slice causes the compiler to panic if the array size is defined in the impl block.
The issue also occurs for smaller array sizes.

- Size in impl (panics): https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=68c21606e452c40f2330402a9f4768e6
- Moving SIZE out of the impl resolves this: https://play.rust-lang.org/?version=stable

[2019-08-23 23:18] drrlvn commented on #59003
This also happens with enum variants and "variant is never constructed" warning, see [playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bfa072b010825424896010bd08d24e6b).

[2019-08-23 23:21] jonas-schievink commented on #63837
[code]

[code]

[2019-08-23 23:36] dbartussek commented on #63838
I found this issue https://github.com/rust-lang/rust/issues/56445. I think mine may be a duplicate.

[2019-08-23 23:43] comex commented on #63787
[Note: before this reply, I posted and then deleted a reply that was meant for [another thread](https://github.com/rust-lang/unsafe-code-guidelines/issues/196).]

Is there any ABI that actually represents `T *` and `T *restrict` differently?  I suppose it could come up that ABIs that check the type signature out of band in some way, like asm.js using a different array for indirect calls depending

[2019-08-23 23:45] jonas-schievink commented on #63838
Yup, closing as a duplicate, but thanks for the report!

[2019-08-23 23:45] #63838 closed

[2019-08-23 23:45] jonas-schievink commented on #56445
Another occurrence in https://github.com/rust-lang/rust/issues/63838:

[code]

[2019-08-24 00:54] Centril opened #63840 "Is the comment re. unstable-book in `src/libsyntax/feature_gate/active.rs` still relevant?"
See https://github.com/rust-lang/rust/pull/63824#discussion_r316941434.

The comment currently exists in `src/libsyntax/feature_gate.rs` but is being moved in the PR above to `src/libsyntax/feature_gate/active.rs`.

cc @oli-obk

[2019-08-24 03:58] memoryruins commented on #63837
[code]

Same ICE occurs without a macro https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=93265ea0d7805a69b469e948170797af

[2019-08-24 04:40] alexcrichton commented on #46437
cc @petrhosek

we were talking about this at rustconf, and while dated it still has some good information I think!

[2019-08-24 04:41] gregberns commented on #63414
Just ran into this. Would be helpful to explain how to turn it into a slice in the explanation. In my case: `match &rows[..] { [value1] ....`, I had to `&rows[..]`. As some one relatively new, I'd have to google how to transform `Some([x])` into a slice. When the suggestion on what to try is in the error it saves so much time :)
Thanks for a great language!!

[2019-08-24 05:33] memoryruins commented on #63837
The same ICE and backtrace can be found in #62480

[2019-08-24 06:21] est31 commented on #63840
unstable-book-gen at least uses tidy which seems to have been updated by https://github.com/rust-lang/rust/commit/3cfb6bc73a429a67f87c6542de2b8f9395cf4b94

So any autogenerated unstable book page won't need any updates. Any non-autogenerated page will need one though as the tracking issue is hardcoded there. Changes that aren't detected automatically are for example when the tracking issue changes

[2019-08-24 07:07] gnzlbg commented on #63787
I'm not sure how good their checking is, but they do complain here, and in both directions: https://godbolt.org/z/88SKj2

[2019-08-24 08:50] Dylan-DPC commented on #59127
@rust-lang/libs any updates?

[2019-08-24 08:57] javad-salehi opened #63841 "compiler"
my english is not good , So let's say by example.
let x = if {}{};//error:^ expected if condition here
let x = if{()}{};//error : ^^ expected bool, found ()
let x = if{return ()}{}:its correct and condition evaluated to false.but i think -> error:^^ expected bool, found ()
if it is correct why if{()} is incorrect.

[2019-08-24 09:08] gnzlbg commented on #63818
There are a couple of possible "solutions" in between, e.g., having all Generators implement `Debug`, but having the impls printing nothing, e.g., `"Generator(debug-printing is off)"` unless `-C generator-debug-print` is enabled, which we could enable on debug builds by default, or similar.

[2019-08-24 09:22] valff opened #63842 "`use foo::{self, ...}` doesn't import macro `foo!`"
When there is a macro and a module with the same name, `use foo::{self, Bar}` syntax imports the module `foo`, but not the macro `foo!`. So you are forced to use this:

[code]

It is especially annoying because rustfmt automatically merges it like this:

[code]

And the macro is no longer imported. Both procedural and declarative macros are affected. Here is the full example:

[code]

([Playground

[2019-08-24 09:27] rust-highfive opened #63843 "`miri` no longer builds after rust-lang/rust#63637"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#63637, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @alexcrichton, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Mark-Simulacrum, the PR reviewer, and @rust-lang/com

[2019-08-24 09:46] gnzlbg commented on #63791
It would help tremendously if you could reduce that example further.

[2019-08-24 09:46] BO41 commented on #63841
you should use code blocks beginning and ending with \``` or \` :wink:

```{ }``` are markers for code blocks.
`{ ( ) }` is equal to `( )` which isn't a bool.
`if { return () }` is also not an bool, but the `return` exits the current function, so not being a bool doesn't matter.
[code]
^ in this example `println!` never gets called since the function is returned before.

[2019-08-24 09:48] BO41 commented on #63841
[code]
though, the error message is a bit confusing. Not just the block _in_ the `if` expression is unreachable, but everything after `return`

[2019-08-24 09:52] mati865 commented on #63791
You can use C-Reduce to achieve that.

[2019-08-24 10:16] ehuss commented on #63842
According to https://github.com/rust-lang/rust/issues/60941#issuecomment-493691039, this is working as intended.

[2019-08-24 10:24] bjorn3 opened #63844 "Don't print expression result for dbg!() when expr is literal"
[code]

Should give:

[code]

Instead of:

[code]

This should be possible by adding a macro rule matching `$val:literal` before the rule matching `$val:expr`.

[2019-08-24 10:25] bjorn3 commented on #63844
Oops duplicate of https://github.com/rust-lang/rust/issues/61141

[2019-08-24 10:25] #63844 closed

[2019-08-24 10:26] martinellison commented on #62558
@mati865 sorry, I am not familiar with the code base for this. I was hoping that someone more up to speed than me could help. Sorry if I have offended anyone.

[2019-08-24 10:33] valff commented on #63842
Hm. So considering a `use` statement as a tree, the leaves except `self` import modules, functions and macros, but a `self` leaf imports only modules. But what are the benefits of this asymmetry?

[2019-08-24 10:51] valff commented on #63842
There is a precedent in stdlib with `std::vec!` macro and `std::vec::Vec` struct. If they wouldn't be in the prelude, we wouldn't be able to use the single import statement `use std::vec::{self, Vec}`.

[2019-08-24 11:03] jonas-schievink commented on #63837
Duplicate of https://github.com/rust-lang/rust/issues/62480, closing

[2019-08-24 11:03] #63837 closed

[2019-08-24 11:03] jonas-schievink commented on #62480
Another instance: https://github.com/rust-lang/rust/issues/63837

[2019-08-24 11:06] jonas-schievink commented on #63842
Closing as per https://github.com/rust-lang/rust/issues/60941#issuecomment-493691039. Changes to this would likely require an RFC.

[2019-08-24 11:06] #63842 closed

[2019-08-24 11:06] ehuss commented on #63842
I'm not sure, @petrochenkov will need to clarify.

There is a sort of consistency. If path segments are processed in sequence, the resolver only needs to track which module has been resolved until the leaf.  If it allowed `self` to import multiple things, then it would also need to track all things found along the path (or backtrack), both of which sound more difficult and complicated.  It would a

[2019-08-24 11:10] RalfJung commented on #63818
`-Zmutable-noalias`, yes. It is my understanding that a soundness bug with that flag is still a soundness bug. We want to change the default of that once LLVM is fixed.

The pattern you are describing seems fine, yes. I think it actually already is fine with current Stacked Borrows if the "outer" thing is a raw pointer and never turned into a reference. In some cases is this currently not possible

[2019-08-24 11:10] jonas-schievink commented on #63841
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2019-08-24 11:10] #63841 closed

[2019-08-24 11:19] valff commented on #63842
@ehuss Thanks for the explanation!

What is also confusing, if I want to import both the module and the macro, this doesn't work:

[code]

It adds too much friction to using imports. I need to maintain two groups of imports: for macros and for other things. And I need to ensure they are not overlapping.

[2019-08-24 11:21] sinkuu commented on #63842
`use std::{vec, vec::Vec}`?

[2019-08-24 11:27] valff commented on #63842
Yeah, I had to add that I want to use rust-lang/rustfmt#3362. And there should be a blank line between those two imports, so they are not merged.

[2019-08-24 11:29] RalfJung commented on #63787
@comex

Oh I see. Yes that is a good, if only remotely related, question.  Answering it in detail is non-trivial without a proper spec for `noalias` in argument position. But `noalias` does not imply `dereferencable`, and it does also not mean that the *pointer* doesn't alias -- it means that *accesses done through the pointer* don't alias (conflict) with accesses done through other pointers, so t

[2019-08-24 12:10] RalfJung commented on #51909
ptr-to-int is not itself non-deterministic though. Allocation and pointer comparison to my knowledge are the only non-deterministic operations (and for ptr comparison I have not been able to observe this non-determinism in a single execution).

However, ptr-to-int makes the allocator non-determinism observable, maybe that's what you mean? I suppose you are worried about functions like (maybe using

[2019-08-24 12:24] Centril commented on #51909
Yep.

We intentionally tried to prevent that; would be very unfortunate to find out we failed.

Good points; although it would be unfortunate not to take advantage of CSE for calls to `const fn`. But at least the type system should be able to assume deterministic execution of `const fn`s. In either case, if it is a safety condition, it will still need good educational material.

[2019-08-24 12:24] nox commented on #63821
Just a heads-up: AFAIK if a bug only occurs on stable with `RUSTC_BOOTSTRAP=1` (I understand that it is not the case here), then it should probably be disregarded, because **`RUSTC_BOOTSTRAP=1` isn't supposed to be used when not bootstrapping the compiler**.

[2019-08-24 12:25] RalfJung commented on #51909
It would be unfortunate indeed, but non-decidable UB would also be unfortunate.

What do you mean by this?

[2019-08-24 12:26] nox commented on #63821
The bug itself reminds me of https://github.com/rust-lang/rust/issues/46489.

[2019-08-24 12:38] Centril commented on #51909
For example:
[code]

[2019-08-24 13:01] alecmocatta commented on #63791
I'll look into using bugpoint and -opt-bisect-limit to narrow this down. Any other suggestions welcome.

@mati865 Thanks for the suggestion, I didn't know C-Reduce worked for Rust! My suspicion is in llvm's optimization passes, i.e. LLVM IR -> assembly, so I'll give llvm's bugpoint a go first.

[2019-08-24 13:26] lienke opened #63848 "rustc could not initialize thread_rng (on pre-getrandom Linux kernel)"
<short summary of the bug>
nushell: https://book.nushell.sh/en/installation / no on-point issues seen here -- searched for "nushell"

Tried to build nushell from source and it required "nightly" rust. Didn't know how to install that, so I used "cargo install nu"

I expected to see this happen: <explanation>
Build complete -- the cargo install has worked with other tools.

Instead, this happened: <

[2019-08-24 13:42] jonas-schievink commented on #63848
This looks like an issue in the getrandom crate (cc @dhardy @newpavlov).

What distro and hardware are you building on? Can you post the output of `uname -a`?

[2019-08-24 13:45] RalfJung commented on #51909
Ah. Well for executing `const fn` *during CTFE* I think we can guarantee that they behave deterministically. This does not even require any static checks. The Miri engine just doesn't have a source of non-determinism. (The `AllocId` of a `Pointer` is non-deterministic, but it is not observable by the program.)

[2019-08-24 14:27] est31 opened #63850 "Lint for unused unstable feature gates"
I've seen two codebases now that used to have unused feature gates:

* https://github.com/libra/libra/commit/2f44be56a14492be236ec30925dec3d5e31342ad (this commit was in july while duration_float stabilized in August)
* https://github.com/libra/libra/commit/e263fbdc1dd83305d9962d0c239d1f06e462b389
* https://github.com/nushell/nushell/pull/367

It would be cool to lint for feature gates that are st

[2019-08-24 14:33] lienke commented on #63848
Hi.

Fast reply -- thanks ! ... cheers, drl

OS, ker|rel, machine: Linux, 3.16.0-7-amd64, x86_64
Distribution : Debian 8.11 (jessie)
Linux leap 3.16.0-7-amd64 #1 SMP Debian 3.16.59-1 (2018-10-03) x86_64
GNU/Linux

On 2019-08-24 08:43, Jonas Schievink wrote:

Links:
------
[1] https://github.com/dhardy
[2] https://github.com/newpavlov
[3]
https://github.com/rust-lang/rust/issues/63848?email_source=

[2019-08-24 14:34] nico-abram opened #63851 "Possible null trait object pointer misscompolation"
Opening after some discussion in https://github.com/rust-lang/miri/issues/918#issuecomment-524554552

This playground snippet crashes on an illegal instruction on release: https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=7c69493026add62256996d204e1278c0
Are vtable ptrs in trait object ptrs NonNull? Is that intended? This (2 year old) comment would suggest so https://github

[2019-08-24 14:37] bjorn3 commented on #63851
[code]

[code]

The vtable is marked as `dereferencable(24)`.

[2019-08-24 14:38] jonas-schievink commented on #63848
That kernel version is missing the `getrandom()` syscall, so perhaps there's something wrong with the fallback paths in the getrandom crate?

[2019-08-24 14:38] RalfJung commented on #63851
Thanks for reporting!

In https://github.com/rust-lang/unsafe-code-guidelines/issues/166 we have been discussing, rather theoretically, the validity requirements for wide raw pointers. We were not actually aware that there already are validity requirements in place for them. That seems very surprising to me. Was this ever discussed in depth, or did it "just happen"?

Cc @rust-lang/wg-unsafe-code-g

[2019-08-24 14:40] RalfJung commented on #63851
@bjorn3 on top of that, `*const dyn Send` has size 16 -- so, we do enum niche optimizations.

[2019-08-24 14:43] RalfJung commented on #63851
If we decide this is not a bug, we'd have to adjust https://doc.rust-lang.org/nightly/nomicon/what-unsafe-does.html (and also the reference). It would be a very special case to require anything for raw pointers that are not dereferenced.

[2019-08-24 14:45] bjorn3 commented on #63791
It works for pretty much any language. It just does changes like removing a line or changing it a bit, so it often generates invalid C as well. Only a few passes assume C, but those will just not reduce the test case for Rust. See https://embed.cs.utah.edu/creduce/pldi12_talk.pdf

[2019-08-24 15:19] svenschmidt75 opened #63852 "Compile message contains reference to an identifier not used by the erraneous code"
rustc 1.37.0 (eae3437df 2019-08-13)

Repo: https://github.com/svenschmidt75/Rust
Commit: https://github.com/svenschmidt75/Rust/commit/23ec34211661c8f77c040b751500c86157f01305

When building, I get error message

[code]

Where does S come from?

Thanks,

[2019-08-24 15:24] jonas-schievink commented on #63852
`S` is the generic parameter of [`Iterator::sum()`](https://doc.rust-lang.org/std/iter/trait.Iterator.html#method.sum).

[2019-08-24 15:46] RalfJung commented on #63843
Needs a xargo fix, which is on its way at https://github.com/japaric/xargo/pull/250.

[2019-08-24 15:49] eddyb commented on #63851
The assumption is that the vtable is a valid reference, so that all raw pointers have valid pointee *types*.

`*mut dyn Trait` corresponds to (pseudo-notation) `dyn T: Trait.*mut T` or, further expanded, `exists T.(*mut T, &<T as Trait>::vtable)`.

IMO, if the information associated with that `T` is invalid, or doesn't require a `T` to exist in the first place, that complicates the typesystem (or

[2019-08-24 16:04] RalfJung commented on #63851
The curious part here is that no one involved in the UCG realized that this is the current status.

Where is there a complication here? I mean not in terms of the implementation, that shouldn't be a primary concern in terms of language design, but in terms of documentation and teaching.

Requiring vtables of raw pointers to be valid complicates the language as well, it would be an exception from t

[2019-08-24 16:09] eddyb commented on #63851
I don't even think I'm the first to come up with that, but I can't remember who did.

In the end, I guess it's a tradeoff between:
* safe `size_of_val` for `*mut T`, even for `T: !Sized`
* `ptr::null::<T>()`, even for `T: !Sized`
  * I think this was discussed before, since I remember Go being brought up

(these are not the only outcomes, but they should be somewhat representative)

[2019-08-24 16:31] bjorn3 opened #63856 "Unnecessary HasParamEnv bound on C for FnTypeExt"
https://doc.rust-lang.org/nightly/nightly-rustc/rustc/ty/layout/trait.FnTypeExt.html

[2019-08-24 16:33] bjorn3 opened #63857 "Impl HasDataLayout and HasTargetSpec for T where T: HasTyCtxt"

[2019-08-24 16:37] Aaron1011 commented on #48054
@rustbot claim

[2019-08-24 16:37] joshtriplett commented on #63850
I'd like to see this as well.

[2019-08-24 16:38] Aaron1011 commented on #48054
@petrochenkov: Oops - I didn't mean for that to un-assign you.

Is there a way to prevent these lints from becoming insta-stable? Would it make sense to put them behind a feature gate?

[2019-08-24 17:19] Aaron1011 commented on #48054
Perhaps we could only fire the lints if an unstable compiler flag (maybe `-Z type-privacy-lints`) is passed? This would still make the lint names insta-stable, though.

[2019-08-24 18:03] nico-abram commented on #62558
Where should someone start looking to try to fix this, x.py?

[2019-08-24 18:31] Centril commented on #63850
This seems reasonably added to the `unused` lint group as `unused_feature`.

It shouldn't be too complicated but it will require making sure that all the locations where feature gate checking is done is accounted for. Note that this is not just in `libsyntax/feature_gate/check.rs` but is also done in an ad-hoc fashion in later stages of compilation. To do this, you'll need to keep a set of used ga

[2019-08-24 18:32] cuviper commented on #60294
For 32-bit hosts, I suggest checking your debuginfo settings and possibly turning them down. The `rustc` crate in particular requires a ton of memory with full debuginfo.

The official upstream builds use `--debuginfo-level-std=1` for all targets, for just line info, leaving all other debuginfo implicitly off. x86_64 and i686 Linux builds run on x86_64 Linux CI hosts with native target toolchains

[2019-08-24 19:22] Nashenas88 commented on #63765
So... seems I made a mistake and this is not actually fixed. I had made a fix to the compiler, built the docs, rebased the rustc PR, rebuilt rustdoc, then added the original error back, and tried to build the docs again. I didn't wipe the existing docs, so I assume this means it used the cached results since the code the docs were based on hadn't changed, but the rustdoc tool had. This is still oc

[2019-08-24 19:29] comex commented on #63818
One point, which may or may not be obvious, is that printing out variables which are *mutably* borrowed across the suspend point is unsound, even without optimizations.

For example, if the borrowed variable is of type
[code]

...then the function could use `get_mut()` to get a mutable reference to the interior of the `Box` and save it across the suspend point, while the `Debug` impl for `Annoying

[2019-08-24 19:42] sebpuetz commented on #19776
I'm encountering the same behaviour with Rust -> C -> C++

[code]

[code]

[code]

[code]

[code]

[2019-08-24 19:59] Aaron1011 commented on #63791
Unforunately, C-Reduce proved to be too clever when I ran it: it replaced:

[code]

with

[code]

While this is technically a 'minimization', it's not a very useful one.

[2019-08-24 20:17] eddyb opened #63866 "Niche-filling layouts are picked over tagged ones even when detrimental."
This prints the values in comments:

[code]

Note that `Foo` contains *strictly more* opportunities for optimization, but it's optimized worse.

That's because it uses a "niche-filling" layout (using `0` in the `NonZeroU8` field of `A` for `B`), but the "tag" layout wouldn't be any larger, because it has enough space in `8` bytes to fit the (byte-sized) tag, `NonZeroU8` and `u32`.

`Bar` uses the

[2019-08-24 20:40] dhardy commented on #63848
The error report uses Rand v0.6.1 which does not even use the `getrandom` crate. It would be nice to see if updating nu to rand 0.7 fixes the problem @jonathandturner. We are aware of a potential issue when many new thread-rngs are initialised in a short space of time: https://github.com/rust-random/rand/issues/804 (fixed in recent versions of `getrandom`).

I don't understand why this issue was r

[2019-08-24 20:54] Centril commented on #63628
cc @petrochenkov heads up, there are a bunch of derive related regressions errors here, e.g.:
- https://crater-reports.s3.amazonaws.com/beta-1.38-1/beta-2019-08-13/reg/tarrasque-0.10.0/log.txt
- https://crater-reports.s3.amazonaws.com/beta-1.38-1/beta-2019-08-13/reg/rustiful-0.1.0/log.txt
- https://crater-reports.s3.amazonaws.com/beta-1.38-1/beta-2019-08-13/reg/ruroonga_command-0.3.4/log.txt

[2019-08-24 21:00] jonas-schievink commented on #63848
@dhardy the compiler is panicking due to its use of `rand`, not nushell

[2019-08-24 21:22] estebank opened #63868 "Subpar error when lifetime checking for `dyn Trait` evaluates to `'static`"
[code]

the `rustc` output is

[code]

[and with NLL enabled](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e9e72d8997d0f61e9c661fb468061013)

[code]

The output should be similar to what we suggest in the `impl Trait` case:

[code]

CC @obliquemotion @yaahc

[2019-08-24 21:43] JakubValtar commented on #63791
Not sure if it helps, but `git bisect` revealed df0466d0bb807a7266cc8ac9931cd43b3e84b62e to be the first bad commit.

[2019-08-24 21:58] estebank commented on #63100
https://github.com/rust-lang/rust/pull/63870:

[code]

😊

[2019-08-24 22:04] petrochenkov commented on #63628
Yeah, there were a lot of changes in this area.

Here are all the errors:
[code]

[2019-08-24 22:13] petrochenkov commented on #63798
Despite the small number of root regressions, there seems to be a huge amount of indirect breakage - https://github.com/rust-lang/rust/issues/63628#issuecomment-524584111, we cannot leave this as is.

If someone wants to implement a lint reporting `#[bench]` without `feature(test)`, that would be great.
Reverting the unstabilization would be the simplest solution.

[2019-08-24 22:14] petrochenkov commented on #63628
This is caused by https://github.com/rust-lang/rust/pull/62507 and tracked by https://github.com/rust-lang/rust/issues/63798.

[2019-08-24 22:14] ubsan commented on #63851
If one reads the custom DST proposal, there's a reason that we expect raw pointers to DSTs to have valid metadata. The rawness of the pointer is unrelated to the rawness of the metadata, imo -- even if you have `*mut [T]`, you expect the length to be a usize.

[2019-08-24 22:16] estebank commented on #63821
@nox it happens on nightly as well. That detail was included to give context that evidently the ICE has been present for longer than 12 weeks, I believe.

[2019-08-24 22:18] CAD97 commented on #63628
Does crater respect `Cargo.lock`? I wonder what percentage of the `#[bench]` attributes come from e.g. `route-recognizer` and would go away with a `cargo update`.

[2019-08-24 22:24] petrochenkov commented on #63628
Caused by https://github.com/rust-lang/rust/pull/63449.
Tests in `rustc-serialize` and its fork `rustc-serialize2` are broken, no other crates are affected.
(Can be fixed with `extern crate self as rustc_serivalize;`.)
Probably no action required.

[2019-08-24 22:30] petrochenkov commented on #63628
[code]

This may be something caused by derive hygienization - https://github.com/rust-lang/rust/pull/63462 or some of the earlier PRs.
cc @matthewjasper

[2019-08-24 22:32] Nashenas88 commented on #63765
@QuietMisdreavus summary of what we've discovered so far:
This impl https://github.com/rust-lang/datafrog/blob/master/src/treefrog.rs#L592-L598 has possible two issues: `Key: Ord` in the angle brackets and `Key: Ord + 'leap` in the where clause. It could also be possibly related to the duplicate bounds on the `Func` generic param: `Func: Fn(&Tuple) -> (Key, Val)` in both the angle brackets and the

[2019-08-24 22:45] comex commented on #63851
There's also

As well as the ability for methods taking `self: *const Self` to be object safe.  Right now this is possible but guarded by the `arbitrary_self_types` feature; see also [the tracking issue for that feature](https://github.com/rust-lang/rust/issues/44874).

(It claims that "even today you could UB in safe code with `mem::size_of_val(foo)`", where `foo: *const dyn Foo`, but I don't thi

[2019-08-24 22:56] petrochenkov commented on #63628
[code]

Expected breakage from https://github.com/rust-lang/rust/pull/62133, attributes of the form `rustc::anything` are now reserved for `rustc`.

[2019-08-24 23:00] sfackler commented on #59127
@rfcbot fcp merge

[2019-08-24 23:09] Aaron1011 commented on #63791
THe problem appears to be related to the `deconstruct` function inside `un_bit_slice_4x4_with_u16`. For some reason, the high-order bit in `a` (computed as `pb(x7, bit + 12, 31)`) seems to be getting left off.

The earliest point at which this occurs appears to be the call `un_bit_slice_4x4_with_u16(Bs8State(61439, 65535, 0, 4369, 273, 65535, 61439, 4369))`. The correct result is `(2868640763, 166

[2019-08-24 23:11] petrochenkov commented on #63628
[code]

Regression from https://github.com/rust-lang/rust/pull/63114, fixed in https://github.com/rust-lang/rust/pull/63717.
(The fix still needs a backport to beta.)

[2019-08-24 23:11] scottmcm commented on #63851
It seems like this is at least somewhat expected, because if all pointers could be `zeroed` then we wouldn't have had so many conversations about how to make `ptr::null()` work with `extern type`, and would have just changed its implementation to `unsafe { mem::zeroed() }`.

Also, do any of the choices here have any impacts to the optimizations to never reload vtables when multiple calls get made?

[2019-08-24 23:21] petrochenkov commented on #63628
[code]

Expected breakage of an unstable feature (`my_macro! name { ... }` no longer parses), caused by https://github.com/rust-lang/rust/pull/62258.

[2019-08-24 23:36] dlight commented on #10389
Why doesn't `type_id` use a perfect hash function like [rust-phf](https://github.com/sfackler/rust-phf)?

[2019-08-25 00:26] gnprice commented on #63516
Got it. OK, if you're only ever calling your `send_message` from those callsites where the first argument is indeed 8, then the 0xc000_0008 is just a correct optimization -- not only in terms of the language semantics that the compiler promises to respect, but also in terms of the ways you're trying to use the result.

At this point it sounds like you have a debugging challenge. :wink: The best pl

[2019-08-25 00:40] petrochenkov commented on #63628
[code]

Minimized reproduction, run with `rustdoc --test` (all the whitespace is important!):
[code]
Apparently something makes this comment look like code to `rustdoc`, so it tries to doctest it.

Actually, stable rustdoc also gives an error for this, from what I tried locally, not sure why it passed on crater.
cc @rust-lang/rustdoc

[2019-08-25 02:45] JakubValtar commented on #63791
I decided to give it a try and managed to simplify the code:
[code]
Assembly output from 1.33.0 and 1.34.0 is identical, except for this block of AVX instructions:
[code]
Looks like some of them got incorrectly optimized away. I'm not familiar with how LLVM vectorizes and optimizes things, so sadly this is as far as I can get on my own.

[2019-08-25 03:21] krisradio commented on #36542
Even tho this was closed, I seem to have encountered a very similar issue. Here's my output:

[code]

The solution was to remove all three `&mut` casts from line 20 (it was throwing 3 errors). The help output was, again, the opposite of what I had to do.

[2019-08-25 03:44] Nashenas88 commented on #63765
Another important detail is that this occurs on stable at least as far back as 1.31. Any release before that can't compile this version of polonius because of the 2018 edition changes.

[2019-08-25 04:26] #63697 closed

[2019-08-25 04:26] #63800 closed

[2019-08-25 04:28] luigishat commented on #63551
Would love to help but don't know where to start. If mentoring is still possible please ping me or send me in the right direction somehow 👍 .

[2019-08-25 04:36] nico-abram opened #63876 "ICE trying to run cargo clippy on hello world lib.rs"
I just tried running `cargo clippy` on the exercism rust track hello world (https://exercism.io)
I tried this code:

Here are the contents of the folder I'm trying to run it on: https://github.com/nico-abram/rust_test_exercism

I expected to see this happen: Clippy.

Instead, this happened: https://i.imgur.com/VFsT3ig.png . Backtrace: https://i.imgur.com/DYxGBaU.png . Log: https://github.com/nico-

[2019-08-25 04:37] luigishat commented on #63183
I think this can get closed since it seems to have been resolved. Thanks for help @ali-raheem and @abonander for opening the issue

[2019-08-25 04:49] abonander commented on #63183
@luigishat this shouldn't be closed until #63356 is merged.

[2019-08-25 04:54] luigishat commented on #63183
Ah I see still getting used to how all this works. Thanks for letting me know @abonander

[2019-08-25 06:10] hellow554 commented on #63876
Could you please put the baktrace and error message as text here, instead of an image, use a three backticks block to format the text block, like this:

\`\`\`
your error reporting message
goes here
all along
\`\`\`

[2019-08-25 06:39] bjorn3 commented on #10389
Because it already has to decide on type ids during codegen of one crate, at which point type ids from upstream crates are not yet known.

[2019-08-25 07:33] rkruppe commented on #63851
FWIW, `ptr::null` being restricted to Sized types is not *just* because of trait object vtables, there's also concerns about interaction with custom DSTs whose metadata may be a fair bit more complicated than just an `usize` or a pointer.

[2019-08-25 08:20] matthewjasper commented on #63628
This is due to #63083. `E0263` now compares identifiers with `modern` hygiene rather than directly.

Relevant code: https://docs.rs/tarrasque-macro/0.10.0/src/tarrasque_macro/lib.rs.html#193. `'s` is being added to the parameters even when it's already there.
cc @KyleMayes

Appears to be fixed in the recently published `0.5.0`

[2019-08-25 08:30] RalfJung commented on #63851
That won't hold up with custom DST anyway, e.g. if `T` is a "thin" trait object.
So, if we want to be future-compatible with custom DST, I think requiring the metadata to be valid for raw pointers buys us pretty much nothing?

Isn't the issue there just that calling methods with a "raw receiver type" will be unsafe?

[2019-08-25 10:08] gnzlbg commented on #46188
Note that this is not restricted to `extern "C"`, but it also impacts Rust function declarations: https://llvm.godbolt.org/z/03s-aL

I wondered whether, in some cases, LLVM could merge the attributes of the declarations with the definition, introducing UB in _safe_ Rust code like this:

[code]

but I haven't be able to make that happen. What the godbolt link above shows is that the `noalias` of th

[2019-08-25 10:48] mati865 commented on #63876
I suppose it's the same underlying issue as in https://github.com/rust-lang/rust/issues/62717
There is no nightly with Clippy and this fix yet.

[2019-08-25 11:01] GuillaumeGomez opened #63879 "Add missing code examples on Iterator trait"

[2019-08-25 11:47] RalfJung commented on #63848
Not sure how much it would take to update rustc to rand 0.7.0, but updating to 0.6.5 would be easy. @dhardy do you think that could help?

[2019-08-25 11:47] gnzlbg commented on #46188
@nikomatsakis if the incorrect declaration is in a different crate, could it become visible here due to LTO ? If so, then warning against this would need some kind of whole-program analysis.

[2019-08-25 11:56] RalfJung commented on #63848
Actually, doing `cargo update -p rand:0.6.1` breaks the build. Looks like `rand` accidentally released a breaking change as a patch release?

<details><summary>Build error</summary>

[code]

</details>

[2019-08-25 13:00] eddyb commented on #63851
But if we go for `MaybeUninit<T::Meta>`, then that's uniform across all types.

Yeah it would be nice to not tie anything to the `T::Meta` but always require a reference, since you wouldn't need several traits, just something like `DynSized`. I wonder what we lose in that case.

So "it's UB to call with invalid `Self::Meta`"? Sounds reasonable.

<hr/>

Overall I feel like we should look into this

[2019-08-25 13:09] jonas-schievink commented on #63663
Does not seem to be specific to FreeBSD: https://github.com/rust-lang/rust/pull/63861

[2019-08-25 13:12] jonas-schievink commented on #43982
https://github.com/rust-lang/rust/issues/63663 seems like it has an easy reproduction

[2019-08-25 13:15] jonas-schievink commented on #50328
Could it be that `extended = true` will generate save-analysis data for libstd, which then runs into this?

[2019-08-25 13:16] jonas-schievink commented on #54158
This seems to be a direct duplicate of https://github.com/rust-lang/rust/issues/50328, so closing in favor of that

[2019-08-25 13:16] #54158 closed

[2019-08-25 13:18] gopal1996 opened #63881 "rust build/compile on solaris 11.4"
Hi Team,
we are not able to compile rust source on solaris 11.4. Can you please share correct documentation/steps/source/binary..etc for solaris 11.4.

Thanks in advance!!

Regards,
Gopalakrishnan

[2019-08-25 13:19] shepmaster commented on #63628
The comment (`// `) is followed by 4 spaces (`    `), Markdown syntax for a code block.

See also:

- [How do you handle the “could not parse code block as Rust code” rustdoc warning?](https://stackoverflow.com/q/55731174/155423)
- [Why does a comment without fences trigger a doctest? [duplicate]](https://stackoverflow.com/q/57159029/155423)

[2019-08-25 13:20] jonas-schievink commented on #43982
Nominating. This has been reported at least 6 times, and is being hit in random PR builds too.

[2019-08-25 13:33] jonas-schievink commented on #63881
The instructions in the readme should apply. Please file a more detailed issue when you're still having problems.

[2019-08-25 13:33] #63881 closed

[2019-08-25 14:00] petrochenkov opened #63882 "Raw identifier keywords are sometimes silently accepted in paths"
Example:
[code]

Found by crater run (https://crater-reports.s3.amazonaws.com/beta-1.38-1/beta-2019-08-13/gh/xi-frontend.xi-term/log.txt) when visibility resolution switched to a different algorithm (early resolution), which doesn't have this problem.

[2019-08-25 14:09] petrochenkov commented on #63628
[code]

This is the most hilarious case so far.
Apparently due to some recovery going wrong paths like `{crate,self,super}::r#keyword` silently resolve to `Res::Err` without reporting any error (I've made an issue for this - https://github.com/rust-lang/rust/issues/63882).

Code in `xrl-0.0.7` looked like this
[code]
and it broke when visibility resolution switched to a different algorithm ("early

[2019-08-25 14:15] petrochenkov commented on #63882
This is a regression from Rust 1.33.

[2019-08-25 14:18] eddyb commented on #50328
Yeah it will do that. In fact, it's how you test if you broke `save-analysis`.

[2019-08-25 14:19] petrochenkov commented on #63628
[code]

`SliceConcatExt` was an unstable standard library trait removed in https://github.com/rust-lang/rust/pull/62403.

[2019-08-25 14:32] RalfJung opened #63883 "#[unwind(aborts)] does nothing on `extern "Rust" fn`"
I would expect the following code to abort, and never print `Hello`:
[code]
But instead, the `unwind` attribute [is ignored](https://github.com/rust-lang/rust/blob/d760df5aea483aae041c9a241e7acacf48f75035/src/librustc_mir/build/mod.rs#L490).

Cc @gnzlbg

[2019-08-25 14:50] gnzlbg commented on #63883
That looks like a bug. cc @eddyb @alexcrichton

[2019-08-25 14:53] petrochenkov commented on #63628
[code]

Minimized:
[code]
This is a regression from https://github.com/rust-lang/rust/pull/63248, and https://github.com/rust-lang/rust/pull/63867 works in the same direction but hasn't landed yet.

Basically, the import is blocked until the derive is expanded and the derive is blocked until the import is resolved, so we have a deadlock.

This worked previously, because we did some things in less

[2019-08-25 14:56] pietroalbini commented on #63628
@petrochenkov all this triage look great, but it's not easily actionable if it's all done in this issue. Could you move each regression to its own issue, and maybe add checkboxes [in your list here](https://github.com/rust-lang/rust/issues/63628#issuecomment-524584111) to track the progress?

[2019-08-25 15:07] petrochenkov commented on #63628
Ok, I'll make separate issues once I've looked at the remaining regressions.

[2019-08-25 15:56] petrochenkov commented on #63628
[code]

This is a regression from these series of pretty-printing improvements - https://github.com/rust-lang/rust/pull/62393, https://github.com/rust-lang/rust/pull/62574, https://github.com/rust-lang/rust/pull/62667.

Tokens are printed more precisely now, so `#[custom_slice(error(r#type = "()"))]` is now printed as is, while previously it lost the "rawness" qualifier from `type` and was printed

[2019-08-25 16:06] petrochenkov commented on #63628
[code]

One more victim to the pretty-printing changes (https://github.com/rust-lang/rust/pull/62393, https://github.com/rust-lang/rust/pull/62574, https://github.com/rust-lang/rust/pull/62667), whitespace-related in this case.

Here's what the macro does:
[code]
Pretty unreliable check, isn't it?

[2019-08-25 16:14] gnzlbg commented on #63787
Consider this soundness issue https://github.com/rust-lang/rust/issues/46188 applied to Rust ([godbolt](https://llvm.godbolt.org/z/JvQt7n)):

[code]

LLVM will "optimize" the declaration of `crate::foo` making its `y: *mut i32` noalias..., because there is a different declaration in `bad::foo` to the same item that has all those attributes due to its type being `Option<&mut i32>`.

If the type of

[2019-08-25 16:24] sgrif commented on #63628
Yeah, those both seem like reliance on implementation details

On Sun, Aug 25, 2019, 9:07 AM Vadim Petrochenkov <notifications@github.com>
wrote:

[2019-08-25 16:29] petrochenkov commented on #63628
[code]

All of the 62 regressions are due to old versions of `proc-macro-hack` having an assert expecting `#[allow(unused,` instead of `#[allow(unused ,`.
So this is again a consequence of whitespace changes in pretty-printing (https://github.com/rust-lang/rust/pull/62667).

I think we should be able to fix this by special casing the comma token during token stream pretty-printing and not printing

[2019-08-25 16:41] petrochenkov opened #63885 "[1.38] Regression: failed to resolve: could not find `rustc_serialize` in `{{root}}`"
https://github.com/rust-lang/rust/issues/63628#issuecomment-524585041

Caused by https://github.com/rust-lang/rust/pull/63449.
Tests in `rustc-serialize` and its fork `rustc-serialize2` are broken, no other crates are affected.
(Can be fixed with `extern crate self as rustc_serivalize;`.)
Probably no action required.

[2019-08-25 16:43] petrochenkov opened #63886 "[1.38] Regression: lifetime name `'s` declared twice in the same scope"
https://github.com/rust-lang/rust/issues/63628#issuecomment-524585351

[code]

@matthewjasper explains what happens in https://github.com/rust-lang/rust/issues/63628#issuecomment-524610919.

[2019-08-25 16:44] petrochenkov opened #63887 "[1.38] Regression: attributes starting with `rustc` are reserved for use by the `rustc` compiler"
https://github.com/rust-lang/rust/issues/63628#issuecomment-524586506

[code]

Expected breakage from https://github.com/rust-lang/rust/pull/62133, attributes of the form `rustc::anything` are now reserved for `rustc`.

[2019-08-25 16:45] petrochenkov opened #63888 "[1.38] Regression: cannot find macro `trace!` in this scope"
https://github.com/rust-lang/rust/issues/63628#issuecomment-524587231

[code]

Regression from https://github.com/rust-lang/rust/pull/63114, fixed in https://github.com/rust-lang/rust/pull/63717.
(The fix still needs a backport to beta.)

[2019-08-25 16:45] petrochenkov opened #63889 "[1.38] Regression: expected open delimiter"
https://github.com/rust-lang/rust/issues/63628#issuecomment-524587696

[code]

Expected breakage of an unstable feature (`my_macro! name { ... }` no longer parses), caused by https://github.com/rust-lang/rust/pull/62258.

[2019-08-25 16:46] dhardy commented on #63848
@RalfJung that's a known issue; you must update `rand_core` to at least 0.3.1 at the same time. Unfortunately fixing it now would cause breakage for `no_std` users IIRC.

[2019-08-25 16:46] petrochenkov opened #63890 "[1.38] Regression: expected one of `!`, `.`, `::`, `;`, `?`, `{`, `}`, or an operator, found `is`"
https://github.com/rust-lang/rust/issues/63628#issuecomment-524590824

[code]

Minimized reproduction, run with `rustdoc --test` (all the whitespace is important!):
[code]
Apparently something makes this comment look like code to `rustdoc`, so it tries to doctest it.

Actually, stable rustdoc also gives an error for this, from what I tried locally, not sure why it passed on crater.
cc @rust-lang/r

[2019-08-25 16:47] petrochenkov opened #63891 "[1.38] Regression: expected module, found unresolved item `crate::mod`"
https://github.com/rust-lang/rust/issues/63628#issuecomment-524633353

[code]

This is the most hilarious case so far.
Apparently due to some recovery going wrong paths like `{crate,self,super}::r#keyword` silently resolve to `Res::Err` without reporting any error (I've made an issue for this - https://github.com/rust-lang/rust/issues/63882).

Code in `xrl-0.0.7` looked like this
[code]
and it bro

[2019-08-25 16:48] petrochenkov opened #63892 "[1.38] Regression: failed to resolve: use of undeclared type or module `SliceConcatExt`"
https://github.com/rust-lang/rust/issues/63628#issuecomment-524634090

[code]

`SliceConcatExt` was an unstable standard library trait removed in https://github.com/rust-lang/rust/pull/62403.

[2019-08-25 16:48] petrochenkov opened #63893 "[1.38] Regression: cannot determine resolution for the derive macro `Debug`"
https://github.com/rust-lang/rust/issues/63628#issuecomment-524636403

[code]

Minimized:
[code]
This is a regression from https://github.com/rust-lang/rust/pull/63248, and https://github.com/rust-lang/rust/pull/63867 works in the same direction but hasn't landed yet.

Basically, the import is blocked until the derive is expanded and the derive is blocked until the import is resolved, so we have a

[2019-08-25 16:49] petrochenkov opened #63894 "[1.38] Regression: proc macro panicked"
https://github.com/rust-lang/rust/issues/63628#issuecomment-524641105

[code]

This is a regression from these series of pretty-printing improvements - https://github.com/rust-lang/rust/pull/62393, https://github.com/rust-lang/rust/pull/62574, https://github.com/rust-lang/rust/pull/62667.

Tokens are printed more precisely now, so `#[custom_slice(error(r#type = "()"))]` is now printed as is, while

[2019-08-25 16:50] petrochenkov opened #63895 "[1.38] Regression: custom attribute panicked"
https://github.com/rust-lang/rust/issues/63628#issuecomment-524641889

[code]

One more victim to the pretty-printing changes (https://github.com/rust-lang/rust/pull/62667), whitespace-related in this case.

Here's what the macro does:
[code]
Pretty unreliable check, isn't it?

[2019-08-25 16:50] petrochenkov opened #63896 "[1.38] Regression: proc-macro derive panicked"
https://github.com/rust-lang/rust/issues/63628#issuecomment-524643597

[code]

All of the 62 regressions are due to old versions of `proc-macro-hack` having an assert expecting `#[allow(unused,` instead of `#[allow(unused ,`.
So this is again a consequence of whitespace changes in pretty-printing (https://github.com/rust-lang/rust/pull/62667).

I think we should be able to fix this by special casi

[2019-08-25 17:29] partheseas commented on #46529
For those that might still come across this issue in search of a way to do this, the crate that @mattico mentioned above seems to no longer be maintained. [num_enum](https://crates.io/crates/num_enum) seems to be the new go-to for this functionality.

    use num_enum::TryFromPrimitive;
    use std::convert::TryFrom;

    #[derive(Debug, TryFromPrimitive)]
    #[repr(usize)]
    enum ShirtSize {

[2019-08-25 18:25] petrochenkov commented on #63896
Fixed in https://github.com/rust-lang/rust/pull/63897.

[2019-08-25 18:32] estebank commented on #63895
I feel this is a reasonable breaking change.

[2019-08-25 18:36] RalfJung commented on #63638
Out-of-process rustdoc would also help a lot with https://github.com/rust-lang/miri/issues/584. Would be great if a design could be picked that lets the environment override the compiler used for building the test, so that we can run them in Miri instead. :)

[2019-08-25 19:08] nabeghe opened #63898 "Rust Installer: OS Error 649: The create operation failed because the name contained at ..."
I got the below information when installing the rustup-init.exe

<pre>
error: component download failed for rustc-x86_64-pc-windows-msvc
info: caused by: could not rename downloaded file from 'C:\Users\Hadi\.rustup\downloads\923e829d67102e45fc16eeae727a4dad13f7abe6239b99fef0e4a233c7509880.partial' to 'C:\Users\Hadi\.rustup\downloads\923e829d67102e45fc16eeae727a4dad13f7abe6239b99fef0e4a233c7509880'

[2019-08-25 19:18] jonas-schievink commented on #63898
Thanks for the report! This looks like a bug in rustup, so please file it over here: https://github.com/rust-lang/rustup.rs/

[2019-08-25 19:18] #63898 closed

[2019-08-25 20:09] andjo403 opened #63900 "ICE having include! in code from stdin when calling rustc"
to reproduce the fault this can be used:
`echo 'include!("auxiliary/empty.rs"); pub fn main(){}' | rustc - `

will result in this ICE:

`thread 'rustc' panicked at 'cannot resolve relative path in non-file source ', src/libsyntax/ext/source_util.rs:189:22 note: Run with RUST_BACKTRACE=1 environment variable to display a backtrace.
error: internal compiler error: unexpected panic
note: the compiler

[2019-08-25 20:43] estebank commented on #63852
@svenschmidt75 would [the following output](https://github.com/rust-lang/rust/pull/63901) be enough for you to understand what was happening?

[code]

[2019-08-25 20:47] matthewjasper commented on #63832
So we could get the expected temporary lifetime by changing the HIR lowering from

[code]

to

[code]

There is a trade off for a larger temporary lifetime:

* All temporaries in `future` will be considered to live across a yield for the purpose of auto-traits.
* Borrowed temporaries in `future` are likely to be considered to be live across the yield for the purpose of the generator transform.

[2019-08-25 20:56] BO41 commented on #63852
IMO it is better to see where the problem is coming from. But there is still no obvious connection between `'S'` and `sum()`.
But the explanation from @jonas-schievink and the doc does explain it good.

[2019-08-25 20:59] jonas-schievink commented on #63852
It would probably help a lot if the message tells you what `S` is. Something like

[code]

[2019-08-25 21:03] luigishat commented on #63551
or maybe @jonas-schievink if your up to the task :)

[2019-08-25 21:09] RalfJung commented on #63787
In other words, when declaring an FFI function with references, you have to make sure that the body of that function actually respects the noalias guarantees expressed by those references. That seems like a fair requirement to make -- but this is a very subtle interaction indeed. :(

Nit: `noalias` is not about whether the pointers alias but about whether the function uses the pointers in an alias

[2019-08-25 21:16] jonas-schievink commented on #63551
@luigishat I think you just need to look at `src/librustc_codegen_ssa/mir/rvalue.rs` and remove the check for `is_unit` that was mentioned. You can check https://rust-lang.github.io/rustc-guide/ for an overview of the compiler and instruction on how to build it and run tests.

[2019-08-25 21:23] luigishat commented on #63551
@jonas-schievink Thanks seems to be a little simpler then I thought once I dug into the docs. Will do hope your having a good one 👍 .

[2019-08-25 21:26] svenschmidt75 commented on #63852
@estebank It is definitely an improvement. Is there any way that the trait can be mentioned as well? I agree with @BO41...

[2019-08-25 21:32] estebank commented on #63852
@svenschmidt75 I've been looking at doing that but will require a much larger refactor to mention either `Iterator::sum` or `Sum<Iterator::Item>`. I'll leave this ticket open, but I feel that the small PR I put together is a good stop gap to marginally improve things.

[2019-08-25 22:05] Centril commented on #63832
This does seem quite unexpected; cc also https://github.com/rust-lang/rust/issues/63778.

[2019-08-25 22:07] Centril commented on #63778
This seems like the same issue as https://github.com/rust-lang/rust/issues/63832?

[2019-08-25 22:10] estebank opened #63904 "Collect occurrences of `{}` for mismatched braces diagnostic"
Many editors _helpfully_ auto close delimiters when writing them down. It is not uncommon for this to cause the following to occur:
[code]

It'd be a good idea for the parser or lexer to keep track of these empty blocks to provide an error closer to

[code]

[2019-08-25 22:31] Nashenas88 commented on #63765
After more research, this is a duplicate of https://github.com/rust-lang/rust/issues/57180

[2019-08-25 22:31] #63765 closed

[2019-08-25 22:38] spease commented on #49078
Getting this trying to cross-compile from current Arch packages. Tried `panic=abort` but it doesn't seem to fix the issue. What needs to change for this to work out of the box for people?

I did take a look at the workaround, but I'm not running on Windows. So I don't have a C: apart from wine :). And I won't get to running this until I can build it.

[2019-08-25 23:01] drXor commented on #48594
Repeating [some comments I made on IRLO](https://internals.rust-lang.org/t/general-named-blocks-why-dont-we-have-them/10861) at @Centril's suggestion:

In discussing this feature, I suggested the following inspiration (counter to the usual loop-related version):

The above is my primary use-case for this: I like early-return style. `try {}` blocks get us most of the way there, but, again, they don

[2019-08-25 23:08] elichai opened #63905 "No documentation about f32_runtime without std"
Hi,
It seems like all the functions under `f32_runtime` don't work without std (https://doc.rust-lang.org/src/std/f32.rs.html#29-994)
I tried looking for documentation about this and didn't find anything concrete, and since the `core` docs don't have documentation for the primitives and only the `std` ones do it's hard to figure this out.
Some examples:
https://play.rust-lang.org/?gist=5aa47f506cd

[2019-08-26 00:35] oli-obk commented on #52000
The related PRs are https://github.com/rust-lang/rust/pull/63812 and https://github.com/rust-lang/rust/pull/63860

[2019-08-26 00:51] mark-i-m commented on #62884
Sorry for the delayed reply. I haven't tried this in a while, TBH. I'm glad to take a PR on the guide if it needs updating.

[2019-08-26 00:57] mark-i-m commented on #51540
Yep, in the case of a kernel, it happens that never returning can be circumvented because it just means the OS can run instead. It makes much less sense for a common application.

[2019-08-26 04:15] rsimmonsjr commented on #28728
Incidentally I ran into this writing real code for a TCP message system. I had an infinite loop as a stopgap until I put in a real mechanism for stopping but the thread exited immediately.

[2019-08-26 05:34] EFanZh opened #63908 "Cannot convert this tail recursive function into an iterative one due to lifetime error"
Rust version: 1.37.0

This problem has been previously discussed on [Stack Overflow](https://stackoverflow.com/q/57643908/722720) and [Rust Users Forum](https://users.rust-lang.org/t/how-do-you-remove-the-last-node-from-a-singly-linked-list/31805?u=efanzh). And I think it is something the Rust compiler can improve on.

I was writing a function that remove the last node from a singly linked list:

[2019-08-26 05:39] RalfJung commented on #60301
This is biting us again right now, where CI knows that Miri is broken but we ship the component anyway, leading to CI failures in downstream projects that have Miri in their CI.

[2019-08-26 05:44] RalfJung commented on #63851
Turns out that for slices, safe code can cause them to have invalid metadata:
[code]
Ouch.

[2019-08-26 06:07] gilescope commented on #63167
I'll get used to `opaque` :-)

You're refering here to existential types? Most of the time when someone gets this error they're assuming they can do this but don't realise they need `existential types` to make the two impl Traits be the same type. We could hint that there's an unstabilised feature that could help?

But if they weren't trying to bind both impl Traits to be the same type, then given

[2019-08-26 06:33] shivan1b commented on #63713
Hi @bjorn3 do you have name in mind for this wrapper? Also, is it OK if I take some time on this or is this an urgent requirement?

[2019-08-26 06:37] bjorn3 commented on #63713
Not really.

You can probably take some time.

[2019-08-26 07:07] mati865 commented on #49078
@spease for this issue the workaround is copying libs like I said 2 comments above.
`panic=abort` is for i686 toolchain only because Rust is using Dwarf exception handling but Linux distributions mostly ship i686 with SJLJ exceptions.

[2019-08-26 07:45] spease commented on #49078
These have to be copied from mingw installed on Windows though.

[2019-08-26 07:49] marmistrz commented on #49078
No, you can use mingw from AUR. See the Arch wiki: https://wiki.archlinux.org/index.php/Rust#Windows

[2019-08-26 08:14] andreytkachenko commented on #63908
I think truth is on the compiler side, you just need to do some reborrow:
[code]

[2019-08-26 08:21] EFanZh commented on #63908
@andreytkachenko Your code sets `node_ref` which always points to the first node since you have changed the loop variable to `current_ref`. So instead of removing the last node, your code will clear the entire list.

[2019-08-26 08:30] IThawk opened #63910 "linking with `cc` failed: exit code: 1"
error: linking with `cc` failed: exit code: 1
  |
  = note: "cc" "-Wl,--as-needed" "-Wl,-z,noexecstack" "-m64" "-L" "/root/.rustup/toolchains/stable-x86_64-unknown-linux-gnu/lib/rustlib/x86_64-unknown-linux-gnu/lib" "/opt/rust/target/debug/build/log-2c3a5c1cf08eb014/build_script_build-2c3a5c1cf08eb014.build_script_build.tzwt6ic0-cgu.0.rcgu.o" "/opt/rust/target/debug/build/log-2c3a5c1cf08eb014/buil

[2019-08-26 08:31] PramodBisht commented on #63904
@estebank can I take this on, if nobody is working on this?

[2019-08-26 08:38] MightyPork commented on #51530
I'm currently trying to use this feature and it doesn't work with `pub use`. Is there currently a working mechanism to reexport macros?

My use case is caused by the lack of workspace-wide dependency config in Cargo.toml, so I made a crate "deps" that was meant to reexport dependencies that need special feature flags or versions. It works fine, except for macros.

I tried `pub use`, `pub extern cr

[2019-08-26 08:47] petrochenkov commented on #51530
@MightyPork
Could you give some example / reproduction?
`pub use` generally works for macros and is actively used (e.g. for reexporting macros from libcore in libstd).

[2019-08-26 09:02] IThawk commented on #63910
Compiling proc-macro2 v1.0.1
       Fresh unicode-xid v0.2.0
   Compiling syn v1.0.4
       Fresh semver-parser v0.7.0
       Fresh autocfg v0.1.6
   Compiling libc v0.2.62
   Compiling serde v1.0.99
       Fresh rand_core v0.4.2
     Running `rustc --edition=2018 --crate-name build_script_build /root/.cargo/registry/src/mirrors.ustc.edu.cn-15f9db60536bad60/proc-macro2-1.0.1/build.rs --color alway

[2019-08-26 09:15] Keruspe opened #63911 "1.38 beta fails to bootstrap itself"
When using 1.38 beta to bootstrap itself, I get:

[code]

[2019-08-26 09:47] mexus commented on #57563
Seems like the last item "Const constructors: #61456" has been already implemented in https://github.com/rust-lang/rust/pull/61209 (as per Centril's comment https://github.com/rust-lang/rust/issues/61456#issuecomment-502383873)

[2019-08-26 09:49] mexus commented on #61456
Is there anything else needs to be done to resolve this issue?

[2019-08-26 09:50] bjorn3 opened #63912 "rustc should error instead of panic when the generator trait is not found"
This somehow doesn't occur when putting the `abc` function in a non `#![no_core]` crate, yet I can't find any difference between the `libcore` version of `FnOnce` and this one.

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=84ebbafa6a6e8b1d1e57d5190e90ad99))

Errors:

[code]

[2019-08-26 10:03] andreytkachenko commented on #63908
@EFanZh Yep you right.

[2019-08-26 10:03] alecmocatta commented on #58624
see also https://github.com/rust-lang/rust/issues/58011

[2019-08-26 10:09] Nemo157 commented on #58011
Updated example for `type_alias_impl_trait` ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ea8a9f50caee2dc627c18b81639f99e0)):

[code]

[code]

[2019-08-26 10:55] bjorn3 commented on #63912
Seems like it panic when the `Generator` trait is not found:

https://github.com/rust-lang/rust/blob/e2b4165a6c2fbab4c1bde97d0c2e47b4602f7bc0/src/librustc_typeck/check/closure.rs#L269

Maybe it can use [`tcx.require_lang_item`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc/ty/struct.TyCtxt.html#method.require_lang_item) instead.

[2019-08-26 11:28] mati865 commented on #61456
FCP and stabilization pull request.

[2019-08-26 11:30] rust-highfive opened #63913 "`miri` no longer builds after rust-lang/rust#63580"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#63580, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @wesleywiser, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @oli-obk, the PR reviewer, and @rust-lang/compiler -- n

[2019-08-26 11:36] Lord-Kamina opened #63915 "Default sysconfdir"
I'm not sure this is actually a bug but it seems like it could be. The default sysconfdir in config.toml is `/etc`; which means it bypasses the user-defined prefix, in turn resulting in the installation failing if not running as root (even when installing to a user folder or, as was my case, the tree for a package manager or whatever)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-26 11:53] RalfJung commented on #63913
Duplicate of https://github.com/rust-lang/rust/issues/63843.

[2019-08-26 11:53] #63913 closed

[2019-08-26 12:08] he32 commented on #63828
FYI, the native `netbsd-unknown-powerpc` build completed successfully.

[2019-08-26 12:09] eddyb commented on #63883
`extern "Rust" fn` is just `fn`, and having `extern "Rust"` in the testcase may create the wrong impression (i.e. this bug has nothing to do with FFI).

Still, the attribute should either work and cause an abort *or* error as unapplicable.

[2019-08-26 12:11] RalfJung commented on #63883
I deliberately made it explicit, but sure, I can adjust the example.

[2019-08-26 12:11] he32 commented on #63828
The same bug is also evident when cross-building for the `aarch64-unknown-netbsd` or `sparc64-unknown-netbsd` targets, so this looks more like a generic "cross-compile doesn't work" than a specific problem for these particular targets.

[2019-08-26 12:13] MabezDev commented on #30947
@retep998 Seems like `-Cllvm-arg` has dissapeared? Only '-Cllvm-args' exists which has the space issue (in my case I am looking to omit frame pointers with `--frame-pointer none`)

[2019-08-26 12:20] eddyb commented on #63851
@RalfJung Wow, so we couldn't actually have `<[T]>::Meta = (T::Meta, usize)`, it would have to be something opaque that depends on the size of `T` (which in the future might get very complicated with `T: !Sized` slice elements).

[2019-08-26 12:26] RalfJung commented on #63851
[Looks like](https://github.com/rust-lang/unsafe-code-guidelines/issues/166#issuecomment-524798797) probably it should be just `usize`, and the max-size comes in via the requirement that references (including slices) must point to memory that is allocated in a single allocation -- which for LLVM means it cannot be bigger than `isize::MAX`.

So, I was just interpreting that length requirement the w

[2019-08-26 13:10] jonas-schievink commented on #63910
@IThawk What are you trying to build? This looks like your native toolchain is broken (`cc` can't find `ld`). How did you install Rust?

[2019-08-26 13:47] fd commented on #60825
I'm running into the same issue. Imported global appear to be broken currently.

[2019-08-26 14:07] IThawk commented on #63910
use rustup_init

[2019-08-26 14:59] p-avital opened #63916 "Const function sized arrays fail to evaluate `Sized` bound"
Hello,

I was trying to have generic arrays that occupy as much of a single cache line as possible, but get a compile error when trying to use `std::mem::size_of<T>()`, as the `T: Sized` constraint seems to be evaluated later than [T; N] seems to require the value.

Is this behaviour normal? Is there an alternative?
I've included an example of the behaviour.
Thanks.

[code]

([Playground](https://

[2019-08-26 15:11] ratmice commented on #48594
In c'ish languages I often use labels, even without any incoming goto, as locations for stable breakpoints under loops, because the debugger can recognize `break function:label`.
Even without consensus on break, labels might be nice.

[2019-08-26 15:49] gnzlbg commented on #63787
Yeah, without `#[no_mangle]`, if you were linking two Rust libraries and wanted to use a function from one in the other by declaring it, you would need to `extern "Rust" { fn $mangled_name(...) -> ... ; } `. That could be made to work correctly and reliably, e.g., by generating `$mangled_name` using a `build.rs` (IIRC our mangling scheme was RFC'ed? not sure how stable this is), but feels like a l

[2019-08-26 16:18] thiolliere opened #63918 "Wasm code failing regression probably related to update to LLVM 9 trunk"
# Summary:

The following piece of code fail when compiled to wasm32-unknown-unknown since nightly-2019-07-18. This nightly introduces https://github.com/rust-lang/rust/pull/62592/files so probably related.

# Regression test:

[code]

with configuration:
[code]

# Reproduce:

see the repo: https://github.com/thiolliere/wasm-llvm9-issue it contains:
* javascript file `t.js` used to execute test wi

[2019-08-26 17:10] Centril commented on #61456
@matthewjasper Do you think you have time to write a report (e.g. in the style of https://github.com/rust-lang/rust/pull/61682) and amend the reference after?

[2019-08-26 17:15] crlf0710 commented on #63910
If you're using linux, you can install `binutils` and try again.

[2019-08-26 17:33] #63896 closed

[2019-08-26 17:54] Centril commented on #63167
`existential type` was removed from the language in https://github.com/rust-lang/rust/pull/63180 in favor of just `type Alias = impl Trait;`. We could hint towards that on nightly.

Seems like a nice improvement.

[2019-08-26 18:21] RalfJung commented on #63851
"initialized" as a term turned out to be [pretty unsuited](https://github.com/rust-lang/unsafe-code-guidelines/issues/95#issuecomment-518145998). I mean "valid" specifically as in ["validity invariant"](https://rust-lang.github.io/unsafe-code-guidelines/glossary.html#validity-and-safety-invariant).

[2019-08-26 18:47] xfix commented on #62794
@Mark-Simulacrum

Huh, `Display` implementations for non-error/escape types are unstable? That I find myself to be really surprising, and frankly something that I don't think Rust developers can realistically change at this point as many programs depend on `Display` implementations to stay stable.

[2019-08-26 19:14] Centril commented on #62825
We discussed a one version grace period in this issue (see OP) and in the language team meeting. The lint has also been implemented (and then some...) so I think we should go ahead and revert the revert.

[2019-08-26 19:17] gnzlbg commented on #50297
@alexcrichton simplified the build process of rust significantly recently, so retrying the split might now work - not sure. Moving compiletest out of tree is worth doing anyways, and would help. Having to deal with two slightly different compiletests is a bit of a pain.

[2019-08-26 19:23] Centril commented on #63916
Reduced:
[code]

Seems like the standard "anonymous constants cannot reference parameters" issue.

[2019-08-26 19:38] pepyakin commented on #63918
I changed an example a bit, minimized it from the size of wasm binary prespective and used some c-reduce (which hasn't yield much improvements).

[code]

compiling with

[code]

there is no notable difference in [LLVM IR](https://gist.github.com/pepyakin/cc56ab8ab9ef967ebbc4090714ef7c2d), only some identifiers and added imm arg in e.g. `declare void @llvm.lifetime.start.p0i8(i64 immarg, i8* nocapt

[2019-08-26 19:45] gendx commented on #42849
Regarding `BTreeMap/Set::drain`, it looks like most of the implementation can be derived from `IntoIter` (apart from emptying the map instead of `mem::forget`-ing it). I can give it a try if that's the case.

[2019-08-26 19:55] RalfJung commented on #62825
Okay. I personally would prefer to have a dynamic check in place as well on top of the static check that we have, just to be sure.

But either way I won't have time to work on this for this release cycle.

[2019-08-26 19:56] MightyPork commented on #51530
here is a minimal reproduction (tested with current stable):

[debug-macro-reexport.zip](https://github.com/rust-lang/rust/files/3542704/debug-macro-reexport.zip)

[2019-08-26 20:27] Mark-Simulacrum opened #63924 "Migrate test suite to use run-pass stdout/stderr testing"
Where possible, we should prefer to use the functionality added by https://github.com/rust-lang/rust/pull/63825 instead of `std::process` and the like. At least one such test is known, but it's possible more can be found.

[2019-08-26 21:21] loganwendholt opened #63925 "Building a no_std cdylib results in "syntax error in VERSION script""
I'm trying to build a pure `no_std` `cdylib` with no external library dependencies. For an initial proof of concept, I tried to create such a library using the following code:

```Cargo.toml```:
[code]

```src/lib.rs```
[code]

Built using the following command:
```cargo +nightly build --lib```

Results in the following output:
[code]

However, if `crate-type` is changed to `["dylib"]`, it builds

[2019-08-26 21:27] jonas-schievink commented on #63925
Is this also random like #50887, or does it happen every time?

[2019-08-26 21:34] jonas-schievink commented on #63925
Does not happen for me, but I link with LLD

[2019-08-26 22:38] jonas-schievink commented on #63925
What does `ld -v` output? Can you grab the content of the generated file somehow?

[2019-08-26 22:55] petrochenkov commented on #51530
@MightyPork
That example is supposed to use `pub use bson::doc;`

[2019-08-26 23:08] mati865 commented on #63848
The issue with upgrading to rand 0.6.5 is described in https://github.com/rust-random/rand/issues/852
`rand_os` is `no_std` crate using `libc` **with** default features. Why does it matter?
C library is linked by `std` or `libc` **without** default features leaving `rand_os` with undefined references when building Rust (and probably some `no_std` crates), see https://github.com/rust-lang/rust/pull

[2019-08-26 23:17] jonas-schievink commented on #63925
I can reproduce this when using normal binutils ld (2.32).

According to `strace`, the file only contains the bare minimum and no symbols:

[code]

[2019-08-26 23:45] jsgf opened #63928 "./x.py build --help gives misleading help"
[code]
But in practice:
[code]

Should this still work, or is the help message wrong?

[2019-08-26 23:55] jonas-schievink commented on #63925
Yes, this should ideally just work (unless it isn't possible to link?)

[2019-08-27 00:57] petrochenkov commented on #54727
@SergioBenitez
Some subset can be stabilized right now, I've opened https://github.com/rust-lang/rust/pull/63931 for it.

---
Proc macros expanding into `macro_rules` can be stabilized right now too, but for a different reason.
Unfortunately they were never gated in derive macros (and we couldn't do that during Macro 1.2 stabilization as well due to some real breakage), so people in practice just

[2019-08-27 01:12] mark-i-m opened #63932 "ICE on borrow check `check_loans` on stable"
I don't know how to minimize this...

[code]

[2019-08-27 02:03] Centril commented on #63932
cc @matthewjasper

[2019-08-27 02:11] Centril commented on #63932
It doesn't appear on beta either.

Ostensibly we could do a point release but I'm thinking that's unlikely as this only makes an ICE into an error.

[2019-08-27 03:38] IThawk commented on #63910
thank you very much.  i use "yum install binutils"   solve this problem

[2019-08-27 03:45] #63910 closed

[2019-08-27 03:49] #18290 closed

[2019-08-27 03:49] #47091 closed

[2019-08-27 05:48] gilescope commented on #40062
@mathstuf `remove_first` ? Given we already have drain_filter for accepting a predicate, it would be nice to have a method that removed a single object from the vector (if there). Removing something from a vec is exceedingly common code and at the moment getting the position and then removing that position is longwinded for such a common operation.

[2019-08-27 06:08] IThawk opened #63939 "error: failed to run custom build command for `ring v0.14.6`"
error: build failed
[root@eulerOS:/opt/rust]# RUST_BACKTRACE=1 cargo build --target x86_64-unknown-linux-musl
   Compiling ring v0.14.6
   Compiling num-traits v0.2.8
   Compiling atty v0.2.13
   Compiling rand v0.4.6
   Compiling base64 v0.10.1
   Compiling want v0.2.0
   Compiling tokio-resource-pool v0.4.1
   Compiling tokio-current-thread v0.1.6
error: failed to run custom build command for `r

[2019-08-27 07:13] Keruspe commented on #63911
@Mark-Simulacrum Huh? In the past this was always fixed as it's a very common practice for distribution packaging (I don't know of a single packager not doing that).

See e.g. #54322 or #60265 (in which you sort of acknowledged that yourself)

deny-warnings is already set to false in config.toml, so I guess it somehow doesn't apply to building bootstrap itself.

[2019-08-27 07:39] gilescope opened #63942 "Better error message for 'is private'"
[code]

Produces the error:
[code]
[playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3d060124806bfade3ad4432abfef86b9)

It would be great if the error message said _why_ the pub struct 'A' is private.
For example something like this:
[code]

This would remove the head scratching time as one looks at the definition of the struct and sees the `pub` visibility

[2019-08-27 07:41] Keruspe commented on #63911
I hope #63941 is an acceptable compromise wrt this. Thanks for pointing out the deny-warnings option which I forgot (since it has been set to false forever for us and never had any effect on the build of bootstrap itself)

[2019-08-27 07:56] gilescope commented on #63942
(Bonus points for a suggestion that foo::bar::A is public and maybe you meant to use that one.)

[2019-08-27 08:04] RalfJung commented on #63924
It does not at all seem like we do:
[code]

[2019-08-27 08:05] RalfJung commented on #63924
I think that file changed in https://github.com/rust-lang/rust/pull/63825 was ignored just because it uses `process` -- but just running the test seems to work fine on those platforms. I suppose CI has some way to cross-run them and compiletest uses that?

[2019-08-27 08:24] gnzlbg opened #63943 "Undefined Behavior in safe code that unwinds out of `extern "C"` function"
**UPDATE**: this optimization is perfectly correct. It only breaks code that already has undefined behavior. This is however an issue since until #52652 is fixed we want to keep such code working.

**ORIGINAL TITLE**:  mis-compilation of noreturn extern "C" definitions that unwind on stable and nightly

---

Originally reported here: https://github.com/rust-lang/rust/pull/63909#issuecomment-524905

[2019-08-27 09:02] vext01 opened #63944 "rustdoc: link checker cannot be satisfied"
In a recent documentation change, we were unable to create a link to a function in `std` and had to resort to linking to online documentation.

@eddyb described it best:

Thus the link checker can't be satisfied.

For more info, see:
https://github.com/rust-lang/rust/pull/62891#issuecomment-524417564

[2019-08-27 09:14] mati865 commented on #63520
Any idea what to do with this test?
Having to use `--exclude src/test/run-make-fulldeps` for over two weeks isn't very practical.

[2019-08-27 09:31] gnzlbg commented on #50297
Thanks, part of the extraction is merging that somehow with compiletest-rs in crates.io. I'll comment on the PR.

[2019-08-27 09:58] #54669 closed

[2019-08-27 09:58] #63271 closed

[2019-08-27 09:58] #63912 closed

[2019-08-27 10:04] Centril commented on #54883
On 2019-08-27, full and polished parsing landed in https://github.com/rust-lang/rust/pull/63693 which was written by @Centril and reviewed by @estebank.

[2019-08-27 10:30] gnzlbg commented on #63791
I managed to produce a different reduction, but I'm not sure if it also triggers the issue (see the assembly diff in https://gcc.godbolt.org/z/KZVz_O ):

[code]

[2019-08-27 10:43] bazaah commented on #48711
I'm not sure if this or the `?-in-main` thread is the correct venue for my question, so feel free to slap me if this is the wrong place.

I'm curious what needs doing before I can return an arbitrary exit code (between 1-127) from main using `?` in main on stable. I currently do this on nightly by implementing Try + Termination on an enum that is basically a specialized Option<T> where T: From<i32

[2019-08-27 10:43] mati865 commented on #63928
I think it stopped working after https://github.com/rust-lang/rust/pull/63637 and the message should be updated.

[2019-08-27 10:50] varkor commented on #63905
The tracking issue for this is https://github.com/rust-lang/rust/issues/50145. @Lokathor's been making good progress recently towards addressing this problem in https://github.com/rust-lang/rust/pull/63455.

[2019-08-27 11:57] RalfJung commented on #63924
That's how I initially read that comment, and I still do, yes.

[2019-08-27 12:11] eddyb commented on #63944
cc @QuietMisdreavus @GuillaumeGomez

Is there some other syntax that could be used to get the same effect, regardless of where it's used?

But also, could paths be interpreted relative to where the item being documented is *defined*, as supposed to where it's *reexported* from?