[2019-08-10 10:33] #62266 closed

[2019-08-10 10:39] RalfJung commented on #53515
So I think this can be closed because there's no longer an incorrect result. See https://github.com/rust-lang/rust/issues/49146 for the tracking issue for control flow in `const fn` (that includes short-circuiting).

[2019-08-10 10:39] #53515 closed

[2019-08-10 10:39] Mark-Simulacrum commented on #63142
This is just a case of poor diagnostics. Macros today have no way of knowing that they should import from `inner::serde` rather than `serde`, so you're seeing the effects of use-paths directed into the sysroot. If we didn't use serde in the compiler, the message would instead be "no crate serde found."

I think as a standalone issue this is unlikely to get fixed (as it's not _really_ a bug). Closi

[2019-08-10 10:39] #63142 closed

[2019-08-10 10:40] RalfJung commented on #53552
@oli-obk I think this got fixed by your big interning refactoring (https://github.com/rust-lang/rust/pull/58351)?

[2019-08-10 10:43] Mark-Simulacrum commented on #63125
Closing as duplicate of https://github.com/rust-lang/rust/issues/50007.

[2019-08-10 10:43] #63125 closed

[2019-08-10 10:44] RalfJung commented on #61495
This is still an issue: `assume` is not whitelisted and yet this compiles on nightly:
[code]

[2019-08-10 10:44] Mark-Simulacrum commented on #50007
The right fix here might be that the relevant extern blocks should get `kind = "static"` on the link attributes, per https://github.com/rust-lang/rust/issues/62088#issuecomment-505694818.

[2019-08-10 11:02] RalfJung commented on #53646
`Lazy` does some magic to also register an at-exit hook for deallocation:
[code]
Maybe that's why it can't just use `Once`. `self.ptr` is actually written to twice: once to initialize, and once to de-initialize.

[2019-08-10 11:13] adamAndMath commented on #57700
Fixing the compile error makes it compile successfully.
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=dc3852cfabaaa490c7bfe31385e0904f)

[2019-08-10 11:37] Mark-Simulacrum commented on #62877
I'm also not seeing the behavior you noted since AFAICT we don't print the linker invocation unless it fails? This is the output I get:

[code]

[2019-08-10 11:37] eddyb commented on #63430
Ah, the problem is that this wasn't updated (`args` now contains a `CVarArgs`):
https://github.com/rust-lang/rust/blob/d19a359444295bab01de7ff44a9d72302e573bc9/src/libsyntax/parse/parser.rs#L5412-L5415

Thankfully, at the same time, the ICE was added, so calls wouldn't have been possible to such functions.

[2019-08-10 11:42] Mark-Simulacrum commented on #62630
I can't reproduce this and as such am going to close presuming it's been fixed since then, if not, let's reopen with a reproduction.

[2019-08-10 11:42] #62630 closed

[2019-08-10 12:49] gcao opened #63434 "Compilation panicked"
Compilation exited abnormally when compiling [this code](https://github.com/gcao/gene.rs/blob/f861fba0d25f6a6de2f01a680bd39eebcf40b7e2/src/compiler.rs#L162)
I know my code has a lot of issues but the compiler should either pass or fail instead of panicking

Steps to reproduce
git clone https://github.com/gcao/gene.rs.git
cd gene.rs
git checkout f861fba0d25f6a6de2f01a680bd39eebcf40b7e2
cargo build

[2019-08-10 12:56] RalfJung opened #63435 "Rustdoc search result links to 404"
On the following page:

https://doc.rust-lang.org/nightly/nightly-rustc/rustc/?search=niche_start

clicking on any of the two search results yields a 404 error.

[2019-08-10 12:59] lzutao opened #63436 "debuginfo/empty-string.rs test failed on Linux"
When I run `x.py test` on Linux, `debuginfo/empty-string.rs` test failed with
the following error:

[code]

### Metadata

#### Git commits

[2019-08-10 13:04] lzutao commented on #63436
@rustbot modfiy labels: A-debuginfo A-testsuite C-bug T-compiler O-linux

[2019-08-10 13:11] GuillaumeGomez commented on #62741
Problem isn't coming from intra links contrary to my first thought but just that we're "removing" links. For instance we use `[fold]` but define it below, therefore the markdown cannot generate the link.

[2019-08-10 13:14] lzutao commented on #62741
I don't get it. But if you see this as won't fix, feels free to close this issue.

[2019-08-10 14:01] petrochenkov opened #63438 ""Structural match" annotations should be moved from struct/enum items to impl items"
"Structural match" property of a type means that the constants of this type can be used in patterns (https://github.com/rust-lang/rust/issues/31434) or in const generics in the future.

Right now this property can be given to a type in two ways:
- `#[structural_match]` attribute, rarely used, `PhantomData` is the only example.
- If the struct/enum has both `#[derive(PartialEq)]` and `#[derive(Eq)]

[2019-08-10 14:05] Centril commented on #63438
cc https://github.com/rust-lang/rust/issues/60286

[2019-08-10 14:09] oli-obk commented on #63359
Note that only the bytecode of your function needs to be in text. There's no need to have the function pointer in text

[2019-08-10 14:13] oli-obk commented on #63197
Yea. Let's allow these values.

[2019-08-10 14:16] matthewjasper commented on #63438
cc #61188

[2019-08-10 14:34] gnzlbg commented on #54341
Does the implementation of clang/llvm matches that of gcc for the target ? If so, it is possible to make `i128` FFI safe by giving it the same ABI that all compilers of that platform _that support the type_ use. One can't use the type to interface with MSVC, so it doesn't matter that the MSVC ABI doesn't document the type.

There is precedent of doing this, for example, it is exactly how we argue

[2019-08-10 14:36] RalfJung opened #63439 "const_prop makes RUST_CTFE_BACKTRACE unusable"
The idea behind `RUST_CTFE_BACKTRACE=1` was that it should only show a backtrace (of where a Miri error originates) when an error is actually shown to the user. And that worked fine when I implemented it. But since then, something changed in const_prop, and now I get thousands of backtraces even for crates with no errors, making the env var basically unusable. That is a big problem for debugging o

[2019-08-10 14:44] nagisa commented on #54341
I did say in the quoted sentence that they differ from each other; at least they did back when I was looking at it.

[2019-08-10 14:49] gnzlbg commented on #54341
I'm trying to reproduce without any luck. Do you remember what was different? Did you fill a clang bug report about this?

[2019-08-10 14:50] RalfJung commented on #62138
I tried to fix this by using machine arithmetic instead of host arithmetic, and found something odd: For types like `Option<unsafe extern "C" fn(*mut u8)>`, the discriminant has pointer type! Specifically, it has type `*mut ()`. @eddyb why is that? I was certain the discriminant would be an integer type, because clearly it is used as an integer.

[2019-08-10 14:57] oli-obk commented on #63439
Well. Const prop tries to eval things and if it fails it doesn't prop. The reason why there are many errors now is that we are actually using the interpcx instead of reimplementing its logic

[2019-08-10 14:59] oli-obk commented on #63439
I'm not sure how to reduce your noise. Maybe we can disable the env var before const prop and reenable after?

[2019-08-10 15:07] RalfJung commented on #62138
Looks like `Niche::reserve` returns the `Scalar` part of the layout directly from the niche type. Would it make sense to normalize that to always be an integer type, to permit arithmetic?

[2019-08-10 15:13] jonas-schievink commented on #63434
It's in legacy borrowck, so tentatively marking as fixed-by-NLL

[2019-08-10 15:16] jonas-schievink commented on #63435
The first link goes to

    https://doc.rust-lang.org/nightly/nightly-rustc/rustc/ty/layout/DiscriminantKind/enum.DiscriminantKind.html#structfield.niche_start

while it should point to

    https://doc.rust-lang.org/nightly/nightly-rustc/rustc/ty/layout/enum.DiscriminantKind.html#variant.Niche.field.niche_start

So this is doubly wrong (the path has an extra folder that isn't there, and the ancho

[2019-08-10 15:19] eddyb commented on #62138
@RalfJung Oh, right, we even have to special-case that for LLVM, if it's non-integer you can't have a range, but only one niche value (which will be `0` for pointers).

Keep in mind that `Option<fn()>` *must* have a `Scalar(Pointer)` ABI, so the discriminant being an integer would mean that it needs to behave as a "castful" newtype, likely adding complexity elsewhere.

[2019-08-10 15:22] RalfJung commented on #63439
`RUST_CTFE_BACKTRACE=1` only prints when [`print_backtrace`](https://github.com/rust-lang/rust/blob/6f70adcb18e5dc8df0672898a8404fd05a9c32cb/src/librustc/mir/interpret/error.rs#L206) is explicitly called -- somehow const_prop must be triggering that.

Things would still be slow because so many backtraces are captured, but at least the result should be readable.

[2019-08-10 15:24] RalfJung commented on #63439
The really fancy solution, but probably too magic, would be to determine if we are running inside a const_prop query and let that alter the behavior. AFAIK rustc uses thread-local storage so this could actually be done, but it might not be how that TLS is supposed to be used.

[2019-08-10 15:26] RalfJung commented on #63439
@oli-obk my guess is that the printing originates here:

https://github.com/rust-lang/rust/blob/6f70adcb18e5dc8df0672898a8404fd05a9c32cb/src/librustc_mir/transform/const_prop.rs#L258

`error_to_const_error` calls `print_backtrace`, but that line does not always result in an error to be shown, right?

[2019-08-10 15:33] RalfJung commented on #62138
@eddyb what is a "castful" newtype? All I ask is that `layout.field` for the discriminant always returns a `Scalar` that is some integer. What would go wrong with that?

For `Option<String>`, the discriminant also obviously does not have the same layout as the entire enum. So I don't see any problem with `Option<fn()>` being a `Scalar(Pointer)` and its discriminant being a pointer-sized integer. B

[2019-08-10 15:42] eddyb commented on #62138
The problem is that scalar newtypes of scalars *usually* have the same type of scalar, so no cast is required, AFAIK this would be the first one.

Probably the closest thing right now is `Option<bool>` which is represented in LLVM as `i8` (both the whole type and also its discriminant field) while `bool` is represented as `i1`, so we have to zero-extend/truncate to go between the two.

I guess rig

[2019-08-10 15:50] RalfJung commented on #62138
Thanks! <3
Please Cc me.

[2019-08-10 15:52] RalfJung commented on #62790
If I understood @oli-obk correctly, https://github.com/rust-lang/rust/issues/62790 should fix this.

[2019-08-10 15:54] Lokathor commented on #50145
Update (see the above issue that references here): `compiler-builtins` needs no adjustment to support sqrt in core since LLVM will never itself emit a call to sqrt, so compiler-builtins and/or libm already has all bases covered.

How shall we proceed? Is this an RFC level change, or do we just PR to libcore and have T-libs approve it?

[2019-08-10 15:54] Ixrec commented on #49218
I think _most_ of this was already settled by the Editions RFC and the dyn Trait RFCs, and we're _almost_ reiterating discussions that have already happened, but I also think there's a valid point buried under the confusion.

First, [the relevant part of the Editions RFC](https://github.com/rust-lang/rfcs/blob/master/text/2052-epochs.md#hard-constraints):

[The relevant part of the dyn Trait RFC](

[2019-08-10 16:06] RalfJung commented on #62138
Actually, the backtrace in @eddyb's testcase is from `write_discriminant_index`, not from the reading side:
[code]
There's also some arithmetic there, obviously.

[2019-08-10 16:07] eddyb commented on #62138
Yeah, I said "It's presumably related, but it does't even get to my `panic!()`."
I expect if you fix that one, it will trigger the `panic!()` (which should never happen).

[2019-08-10 16:17] RalfJung commented on #62138
Well I fixed the read-side first, so I won't be able to tell. ;)

[2019-08-10 16:20] lukaslueg commented on #51767
May I suggest this issue is re-opened, even if it will stay open for a while. @estebank is doing the Lord's Work on compiler error messages and the recent changes are very welcome. Yet I think the fundamental problem of `E0308` still remains: While `E0308` reads as `mismatched types`, almost all of the times it actually means `two lines of reasoning about these types lead to a contradiction, here

[2019-08-10 16:39] Mark-Simulacrum commented on #63021
Relabeling as T-lang as this does seem like a bit of an unfortunate result of compiler internals, ideally we'd not create different vtables for different codegen units. Maybe there's some sort of linker or LLVM attribute we could set to deduplicate those?

[2019-08-10 16:44] Mark-Simulacrum commented on #62888
Seems like we should forbid `#[inline]` in the interim since fixing this is presumably hard but we should at least avoid the linker errors (even if this is not a common case).

[2019-08-10 17:07] GuillaumeGomez opened #63443 "[rustdoc] on search results, when pressing ESC, either remove text in URL or don't remove text in search bar"
I think the best be the second: not removing text from search bar.

[2019-08-10 17:08] doctorn commented on #63300
I'd like to take a look at this if no-one minds?

@rustbot claim

[2019-08-10 17:10] nagisa commented on #54341
The only related issue filled by myself I can find is https://gcc.gnu.org/bugzilla/show_bug.cgi?id=78799

[2019-08-10 17:19] #63223 closed

[2019-08-10 17:19] #60253 closed

[2019-08-10 17:20] Goncalerta opened #63444 "Rustc panics with comments with non-ascii characters after an error"
Running this on playground:
[code]

Panics rustc:
[code]

Surpressing the comment:
[code]

Makes it fail to compile as intended (without crashing):
[code]

Removing the line that does not compile:
[code]
Also prevents panicing.
[code]
`// é` can be placed in a lot of places and still behave correctly:
[code]
But it can't be after the `A` if it is in the same block as `A` is:
[code]
*Any* of those

[2019-08-10 17:21] jyn514 commented on #63300
FWIW, it doesn't look like the bound has to reference the quantified type, this gives the same crash:

[code]

[2019-08-10 17:36] Goncalerta commented on #63444
Note that this won't panic:
(removed `;`)
[code]
Nor will this:
(`é` appears after at least 52 characters after `A` (counting `//`))
[code]

[2019-08-10 17:45] doctorn commented on #63300
@jyn514 the bound didn’t reference the quantified type in the first example either did it?

[2019-08-10 17:46] s-woodsatchel opened #63445 "rustc hangs on this particular invalid `if let` syntax"
The following code causes rustc to hang, consuming 100% CPU on one core, and unbounded memory until it is killed by the OOM killer:

    fn main() {
        let condition = Some(true);

        (if let Some(x) = condition) && x {
            println!("condition is present and true");
        }
    }

This is the output from `cargo run`:

    error: expected `{`, found `)`
     --> src/main.rs:4:32

[2019-08-10 17:51] tspiteri commented on #22639
If this is to be stabilized, I think that the terminology has to be improved: `IntErrorKind` uses `Underflow` to refer to negative overflow, but underflow usually means when the absolute value of a floating-point number is so small it becomes 0 (or a subnormal).

[2019-08-10 17:51] Mark-Simulacrum commented on #63445
Hm, I feel like we've recently fixed this bug?

Can you give us your version of nightly and try with a more recent one? Playground works at least.

[2019-08-10 17:53] s-woodsatchel commented on #63445
Ah, right you are. I was using stable (1.36.0). Works on 1.38.0-nightly. Sorry, I'll close.

[2019-08-10 17:53] #63445 closed

[2019-08-10 17:55] jyn514 commented on #63300
It referenced the trait, not the type being bounded. I was using the words that @Centril used for the issue title, maybe I'm getting the terminology wrong.

[2019-08-10 18:00] matthewjasper commented on #63434
Can you test this on a newer nightly? Out looks like the issue fixed by #62233

[2019-08-10 18:04] jonas-schievink commented on #63434
Confirmed as fixed on nightly, closing.

[2019-08-10 18:04] #63434 closed

[2019-08-10 18:08] ehuss commented on #63444
I believe this is a duplicate of #61226.

[2019-08-10 18:10] varkor commented on #50145
You should be able to simply open a PR, now that precedent has been set. I'd cc @alexcrichton in the PR.

[2019-08-10 18:20] jonas-schievink commented on #63444
Yep, looks like it. Closing.

[2019-08-10 18:20] #63444 closed

[2019-08-10 18:20] jonas-schievink commented on #61226
More test cases have been brought up in https://github.com/rust-lang/rust/issues/63444

[2019-08-10 18:24] Lokathor commented on #50145
I suspect this will be much trickier than the small PRs I've done in the past, but I will attempt to get us started today or tomorrow.

[2019-08-10 18:41] npmccallum opened #63447 "Incorrect Code Generation"
https://godbolt.org/z/Q0WgsL

[code]

`-C opt-level=0`:

[code]

`-C opt-level=3`:
[code]

The error is easiest to see under `-C opt-level=3`, though optimizers aren't causing the problem. The intent of the rust code is clearly to get the `RTLD_NEXT` version of `getpid()`. But for some reason Rust emits a recursive call.

[2019-08-10 18:45] jonas-schievink commented on #63447
You're calling `lookup` with `T = getpid`, which is a zero-sized function type. Since those are only inhabited by the function they correspond to, rustc correctly concludes that `gp()` can only possibly refer to the `extern "C" fn getpid() -> pid_t` defined in the crate.

[2019-08-10 19:18] npmccallum commented on #63447
1. That is black magic that non-compiler developers won't understand at first glance. The current behavior of silently compiling but doing something unexpected is not approachable. Either this code should be rejected with a clear warning or it should be made to do something expected.

2. Can you recommend an alternative way to write `lookup()`?

[2019-08-10 19:19] zack-emmert commented on #63362
In this particular case, wouldn't it be possible to cache a list of no-mangle'd symbols from dependencies at build time, then have `cargo check` keep track of every no-mangle'd symbol in the current crate, and error if there are any duplicates?

[2019-08-10 19:27] thomcc commented on #50007
@Mark-Simulacrum This issue is about no_mangle symbols from another crate that get brought in by `use`. There are no `extern` blocks.

[2019-08-10 19:45] jonas-schievink commented on #63447
The behavior is documented here: https://doc.rust-lang.org/reference/types/function-item.html

It is unlikely that this behavior will change. Function item types are documented, and so are raw pointer operations, and raw pointer ops on zero-sized type are specifically documented in the Rustonomicon here: https://doc.rust-lang.org/nomicon/vec-zsts.html

One thing I can suggest is not relying on typ

[2019-08-10 20:28] doctorn commented on #63300
This is particularly interesting because the ICE occurs even without `![feature(generic_associated_types)]` (i.e. including a trait bound in the generic associated type somehow means it isn't recognised as such).

[2019-08-10 20:53] GuillaumeGomez commented on #62741
No, I wrote the fix. However it'll certainly break a few things in the std (same issue with short doc when listing items at the top level, the non absolute urls will be bad haha).

[2019-08-10 21:08] andjo403 commented on #59352
have bisected this regression and the PR where the regression started is #55932

seems like the inliner are not able to inline the function any more after that PR

[2019-08-10 21:23] dtolnay commented on #62830
Workaround: leverage rustc's name resolution instead of rustdoc's. https://github.com/dtolnay/syn/commit/ae1983c87afe0e04c884b7d11f513ea6baf54f84

[code]

[2019-08-10 21:40] LunarLambda commented on #63417
I did successfully* build a checkout of LLVM on my system

[code]

\*: This ended up taking much much longer than I expected, it's at 97% and my machine is suffering immensely. But I think if I leave it overnight it'll finish.

I was however informed that Rust actually has its own fork of LLVM, so I will try building that tomorrow, as it's approaching midnight here.

I'll report back, but the bott

[2019-08-10 21:46] nagisa commented on #62877
Well yeah, my original use-case was to debug a linkage issue:

[2019-08-10 22:02] Mark-Simulacrum commented on #63417
Hm, interesting. Presumably our detection and threading through of the C++ STL is wrong then.

[2019-08-10 22:07] nagisa commented on #63447
Closing as a not-a-bug.

As explained above, calling values of a function item type will call the function which this type represents – this is an expected and intended behaviour. The fact that a value of this type is obtained via a dubious sequence of unsafe operations does not make it black magic.

[2019-08-10 22:07] #63447 closed

[2019-08-10 22:10] andjo403 commented on #46227
think this is fixed now from opt-level=1 in rustc 1.36.0 the bound checks is removed for the examples
from opt-level=2 the assembler is the same for the examples see https://godbolt.org/z/yyn-gt

[2019-08-11 00:40] npmccallum commented on #63447
@jonas-schievink That approach really defeats the point. In my code I'm combining it with this macro:

[code]

This basically means you can do this:

[code]

Since I have to override a lot of functions, this makes the code much more ergonomic. But the type which `dlsym()`'s return value needs to be casted to is variable.

[2019-08-11 01:20] AdminXVII opened #63454 "Some(..).is_some() is false for redox_syscall datastructure"
When using the redox_syscall crate, the compiler fail at an `assert!(Some(..).is_some())`. This bug however is only present with the crate: locally defining the same datastructure runs perfectly.

Equality still works, though, as the fields can be compared.

## Minimum reproducible example
[code]

## Expected
The assert is successful

## Actual result
The binary panics at the assert.

## Tested on

[2019-08-11 01:54] Mark-Simulacrum commented on #63454
The default impl is UB; this program is not defined - it may work or may not, but never does so reliably. Function pointers are like references and must never be null; they should be wrapped in Option.

[2019-08-11 01:56] #63454 closed

[2019-08-11 02:07] Mark-Simulacrum commented on #63357
`(0..20).map(|_| ...)` is how I've always done this; it works well, is fairly obvious after looking at it, and I'm confident I'll never reach for an import since this exists. Maybe we can document this pattern instead of adding more types and functions?

[2019-08-11 02:10] Mark-Simulacrum commented on #63344
This is probably better suited for users.rust-lang.org or a similar forum; I'm going to close on the assumption that this isn't a bug in std. It would be worthwhile to include a minimal code example that reproduces your unexpected behavior.

[2019-08-11 02:10] #63344 closed

[2019-08-11 02:13] Mark-Simulacrum commented on #63284
A separate/custom emitter is definitely the way to go here, we should not complicate parsing code anymore than it already is.

[2019-08-11 02:36] alexreg commented on #63357
@Mark-Simulacrum Sure, that's the obvious alternative... but has anyone profiled that vs. a more direct approach? Also, see the above comment vs. issues with trait implementations.

[2019-08-11 02:42] Mark-Simulacrum commented on #63357
Ranges are, in fact, double ended, exact, and TrustedLen. We probably should add Fused to that (looks like it's just an accidental omission). Map preserves all of those.

Performance wise, I'm not sure. I suspect you can't really do better than Range because you basically are just doing what it is...

[2019-08-11 03:23] lopopolo opened #63456 "std::env::var and std::env::var_os do not document panic on key containing null byte"
`env::remove_var` and `env::set_var` document that they panic when the key contains a null byte, but `env::var` and `env::var_os` do not document this behavior.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e43934f459b10424f374f20db846f092

[2019-08-11 04:18] crlf0710 opened #63457 "Consider move libarena and libgraphviz out of tree"
These code doesn't get touched a lot. So maybe it makes sense to move them out instead of generating auto publish packages every day.

[2019-08-11 05:07] GopherJ opened #63458 "incompatible types even if and else uses the same code..."
[code]

code:
[code]

rustc: `rustc 1.35.0-nightly (e4c66afba 2019-04-13)`

[2019-08-11 05:22] csmoe commented on #63367
@brunobell https://rust-lang.github.io/rustc-guide/codegen.html

[2019-08-11 05:47] cwfitzgerald opened #63460 "Recursive macro call inside concat macro fails to find macros referred to by $crate"
[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=5e5eeda6572b99d39911309e18d8f2f8))

Errors:

[code]

If either the recursion ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e7e443dabc9692464ecbb07830286ea0)) or the `concat!` is removed ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2

[2019-08-11 07:11] jfrimmel commented on #63458
The solution is also noted in your post:
[code]
Closures are unique (which you can see by the different line numbers in the expected/actual type line). You can bind the closure to a local variable or apply the help suggested. Another option is to use the `futures::Either` enumeration.

[2019-08-11 07:47] RalfJung commented on #62790
@eddyb last night came to the conclusion that this line is a problem:

https://github.com/rust-lang/rust/blob/ee36cfaff97116bcc6230408015dbeb3fb5e2bb9/src/librustc_mir/interpret/eval_context.rs#L319

Specifically, `subst_and_normalize_erasing_regions` here applies the frame's subst to the argument subst, but that one has (or at least should be) already subst'ed, at least when called in `terminator

[2019-08-11 08:15] #63458 closed

[2019-08-11 09:10] LunarLambda commented on #63417
I checked out https://github.com/rust-lang/llvm-project/tree/rustc/9.0-2019-07-12 instead, and built with the exact same commands as before.

I don't know if I need to go through the entire build again, but it does appear to be working just fine.

[2019-08-11 10:18] #62844 closed

[2019-08-11 11:39] Mark-Simulacrum commented on #62877
[code]

Running the `cc` invocation after that works and produces the same output. However, I don't think there's a linker script in that invocation.. I haven't yet been able to come up with an invocation that would generate one on x86_64-unknown-linux-gnu, but admittedly I haven't tried for very long.

[2019-08-11 11:40] Nemo157 commented on #54010
If you don't put `#[no_std]` inside the doctest it will be linked against `std` even when testing a `#[no_std]` crate, you can think of each doctest as a separate crate. If you do want a different allocator you can add a `#[global_allocator]` static like in a normal binary. Even though this error message is printed the doc tests should still be running.

[2019-08-11 11:55] RalfJung commented on #54010
Also see https://github.com/rust-lang/rust/issues/52243#issuecomment-404088408: the error is basically spurious.

[2019-08-11 12:14] crlf0710 commented on #60015
Current state: file load fine, but blame still doesn't work.

[2019-08-11 12:15] Centril commented on #60015
I'm fixing this permanently today.

[2019-08-11 12:23] eddyb commented on #62868
However, nowadays you could just link against `rustc_interface` and inject your lint, without building the whole compiler, only a small executable.

[2019-08-11 12:32] gnzlbg commented on #54341
I've found a clang bug about this that was fixed on clang 6 (https://bugs.llvm.org/show_bug.cgi?id=31362), so maybe this is fixed now?

---

I'll be fine with having the FFI-safety warning be target dependent, iff we document for the targets for which we issue the warning the reason (e.g. on the msvc targets that Microsoft does not document an ABI for the type, and therefore our implementation cou

[2019-08-11 13:05] metux commented on #43191
Hi,

Unfotunately, that's not enough.

Instead I need to prevent it from attempting to download anything, but just take everything from already prepared sysroot image (where the distro's build system deploys dependencies, before starting the actual build. For that, these deps already have to be packaged.

In that context, we can't pull from any external git repo, nor download anything (build jails

[2019-08-11 13:31] DoumanAsh commented on #50547
Is there plan to implement `Unpin` for futures that are generated by `async fn`?

[2019-08-11 13:43] DevQps commented on #43191
Ahh I am sorry then! I don't know too much about distro's so I'll leave that up to other people :)

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Enrico Weigelt <notifications@github.com>
Sent: Sunday, August 11, 2019 3:06:37 PM
To: rust-lang/rust <rust@noreply.github.com>
Cc: Christian Veenman <chris_veenman@hotmail.com>; Comment <comment@noreply.github.co

[2019-08-11 14:39] roblabla commented on #62729
Going to be working on this. Anyone know a way to get the list of calls LLVM can lower instructions to for soft-float?

[2019-08-11 15:04] Mark-Simulacrum commented on #63417
Yeah, I agree this is probably a bug somewhere in rustbuild. Unfortunately I'd guess that it's pretty hard to reproduce the exact conditions you have; however, we'd most likely be willing to take a PR. The problem most likely lies in src/bootstrap/native.rs, somewhere around here: https://github.com/rust-lang/rust/blob/2b78e10ac1454d2d4190c575f6ece03f484ac398/src/bootstrap/native.rs#L427-L436.

[2019-08-11 15:21] LunarLambda commented on #63417
Hmm, I can take a look but I'm not sure I'll be able to find anything. This
is/was my first time trying to build Rust from source (my original plan was
to submit a pr to the stdlib, actually...)

All I can say is that cmake is looking for libstdc++ 4.8 or up, but doesn't
recognize my installed libstdc++ 6.0 for some reason.

I'll see if I can find anything tonight.

How can I trigger a rebuild whe

[2019-08-11 15:37] Mark-Simulacrum commented on #63417
Since LLVM isn't building presumably it'll just work, otherwise, `rm -r build/x86_64-unknown-linux-gnu/llvm` should work.

[2019-08-11 15:44] skade commented on #63232
First, some words in advance: I'd prefer to keep the word "restrictive" out of here, it isn't a term used in licensing discussions. The GPL is copyleft to ensure that it isn't watered down. On the same note, let's avoid "viral", as the GPL isn't viral, it only has expectations on the _distribution_.

The platform libc question is kind of scope here, for 2 reasons:

* glibc is licensed under the th

[2019-08-11 16:02] alexreg commented on #63357
Possibly. I'd still be interested in benchmarks.

[2019-08-11 16:23] iluuu1994 commented on #63393
I tried again for an hour or two without success. Unfortunately I don't know enough about the internals to understand how this could happen. I'll look at the associated type bounds PR, maybe that will help.

[2019-08-11 16:33] roblabla opened #63466 "segfault with target-feature=+soft-float"
The following program currently segfaults on x86_64-unknown-linux-gnu when compiling with stable rust 1.36.0 with soft-float, and running with TARGET unset.

[code]

Here's the output:

[code]

A backtrace:

[code]

Binary attached.

[hello_world.zip](https://github.com/rust-lang/rust/files/3490185/hello_world.zip)

[2019-08-11 16:41] LunarLambda commented on #63417
I can't really find anything wrong with the snippet you linked

FWIW I ran it again with backtrace enabled:

[code]

I don't really know how to approach this issue right now

Which files are responsible for running CheckCompilerVersion, which is mentioned in the CMake error? (`CMake Error at cmake/modules/CheckCompilerVersion.cmake:83`)

[2019-08-11 16:48] Mark-Simulacrum commented on #63417
Yeah, I'm also at a loss. AFAICT, the check is happening as a normal part of the LLVM build...

[2019-08-11 17:08] alex commented on #62187
Does anyone have a sense of what would be involved in fixing this?

[2019-08-11 17:23] andjo403 commented on #56870
the example do not ICE any more from version 1.34.0 see https://godbolt.org/z/rQN231

[2019-08-11 17:31] dlrobertson commented on #63430
Good catch

[2019-08-11 17:38] LunarLambda commented on #63417
The test that fails in particular is LLVM_LIBSTDCXX_MIN

The particular test says:
`Test for libstdc++ version of at least 4.8 by checking for _ZNKSt17bad_function_call4whatEv.`

The bizarre thing is that

I ran `nm -D /usr/lib64/libstdc++.so | grep _ZNKSt17bad_function_call4whatEv`

And it matches!
`00000000000c8510 T _ZNKSt17bad_function_call4whatEv`

And that test is behind a `elseif(NOT LLVM_E

[2019-08-11 18:25] adrian-budau commented on #56870
I'd like to work on this (specifically to add the tests). I've tested and can confirm as @andjo403 that the example does not trigger an ICE anymore.

Tested on:

* `rustc 1.36.0 (a53f9df32 2019-07-03)`
* `rustc 1.38.0-nightly (9703ef666 2019-08-10)`

[2019-08-11 18:31] LunarLambda commented on #63417
And it is building. So for some reason

A: the use-libcxx flag does not get passed on correctly
B: the LLVM_LIBSTDCXX_MIN test in https://github.com/rust-lang/llvm-project/blob/rustc/9.0-2019-07-12/llvm/cmake/modules/CheckCompilerVersion.cmake#L53-L84, which only runs when compiling with Clang, fails inexplicably.

I'm at a loss, but it's compiling now, so... hooray?

I think this should still be

[2019-08-11 19:01] Mark-Simulacrum commented on #44986
This has since been done AFAICT.

[2019-08-11 19:01] #44986 closed

[2019-08-11 19:02] Mark-Simulacrum commented on #35202
Closing as I believe this is indeed a Cargo bug; and possibly has been fixed since 2016(!), as I recall some recent work in this area.

[2019-08-11 19:02] #35202 closed

[2019-08-11 19:04] Mark-Simulacrum commented on #33609
We support this via `RUSTFLAG_STAGE_NOT_0` and `RUSTFLAGS_STAGE_0` set in the environment today.

[2019-08-11 19:39] ExpHP commented on #27721
I'm looking at this and there doesn't seem to be any way to efficiently perform a search for a single needle in many haystacks?  The only way to make a `Searcher` currently is by starting with a `str` for both the needle and the haystack.  This leads to an expensive call to `ToWaySearcher::new` which performs computations that only seem to depend on the `needle`.

(see how expensive these calls ar

[2019-08-11 19:53] BurntSushi commented on #27721
Aho-Corasick (or similar) is probably the right answer there, but the bstr crate does provide a way to do what you want (including not needing to do utf8 validation, if that helps): https://docs.rs/bstr/0.2.7/bstr/struct.Finder.html

I do think it is a somewhat niche concern though. Consider that libc APIs like memmem don't permit this either.

[2019-08-11 20:18] RalfJung commented on #63130
Does this have any consequences re: promotion or const-checking? The rules for that are currently difference for consts and const fns.

[2019-08-11 20:47] iluuu1994 commented on #62632
@agnxy It doesn't look like you're still working on this. Is it ok if I take over?

[2019-08-11 22:01] yurivict opened #63476 "nightly version fails: invalid version 3 on git_proxy_options; class=Invalid (3)"
On FreeBSD 12 amd64 rust-nightly-1.38.0.20190811_1 fails:
[code]

Project: https://github.com/Twinklebear/bspline

[2019-08-11 22:27] jonas-schievink commented on #63476
This looks like a packaging issue with libgit2, have you reported this to FreeBSD?

[2019-08-11 22:35] yurivict commented on #63476
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=239785

[2019-08-11 22:39] mati865 commented on #63417
The error was:
[code]
Just making sure, does it work when `use-libcxx = true` is commented out or set to false?
To use libc++ on Solus you need `llvm-devel` package among the others.

Clang has few tricks to detect system libstdc++ and that should work just fine but CMake sometimes get confused when compilation options are changed and mixes old config with the new one.

[2019-08-11 22:46] LunarLambda commented on #63417
Aw shucks, I think I missed that package. Though, the value of `use-libcxx`
didn't seem to matter, as it was setting cc/cxx to clang/clang++ on the
first build (prior to setting `use-libcxx`) that caused the issue.
So, I'm guessing Clang looks for the libc++ headers regardless if it's
actually linking to it or not? Which would seem odd to me, but that might
be the case.
I'll give it another go tom

[2019-08-11 22:53] #62137 closed

[2019-08-11 22:53] #61684 closed

[2019-08-11 22:53] #63409 closed

[2019-08-11 23:08] LunarLambda commented on #63417
Scratch most of that, I do have llvm-devel installed.

[2019-08-11 23:39] oyvindln commented on #52144
Even more confusing when you have an empty tuple like this:
```pub struct Tuple(())```

```pub struct Tuple(pub ())```
:confused:

[2019-08-11 23:41] mati865 commented on #63417
actually linking to it or not? Which would seem odd to me, but that might
be the case.

No, that would break almost everything.

I'll into this issue in a few days when I'm back home.

[2019-08-12 00:11] OptimisticPeach opened #63477 "Typo in `println` docs."
There is an unclosed parenthesis in the [docs](https://doc.rust-lang.org/std/macro.print.html) for [`println!`](https://github.com/rust-lang/rust/blob/master/src/libstd/macros.rs#L122).

The line in question is [line 122](https://github.com/rust-lang/rust/blob/master/src/libstd/macros.rs#L122):
[code]

[2019-08-12 00:28] scottmcm opened #63478 "Lots of "cannot find in scope" errors can make name resolution extraordinarily slow"
I missed a `use` and found a `check` that takes _over 4 minutes_ to fail.

Repro: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=aaac7e403ced051c0e4165df25a455a5

time-passes blames this on "name resolution"

[2019-08-12 01:19] Coder-256 commented on #46871
@kennytm After looking through the discussion on #42526, I’m getting the impression that it is indeed an oversight that there is no way to convert `NoneError` to `Box<Error>` so that you can use `optional?` on a function that returns `Result<T, Box<Error>>`.

[2019-08-12 02:12] archseer opened #63479 "Regression: Matching on function pointers fails when one of the formal params implements custom PartialEq"
A contrived [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=401774c0d5d389dc0d621608553f7e99) example:

[code]
This code will build on stable and beta, but not on nightly.

[code]

It looks like it's related to #62307 possibly?

[2019-08-12 04:32] nrc commented on #63460
If you try and build Rustup, you get a similar failure, but without recursion or `$crate`. Seems that just using another macro and `concat` is enough in some circumstances

[2019-08-12 04:57] bstrie commented on #34338
@DevQps Hello! For definitive answers to those questions I would direct you to ask the docs team, but I can hazard guesses:

1. It's desirable that intrinsics mention that they aren't candidates for stabilization, so that people are absolutely clear about the stability/portability guarantees of the API.

2. A checklist would be great, yes! If you manage to come up with a simple list of intrinsics

[2019-08-12 06:19] #60015 closed

[2019-08-12 06:45] JasonShin opened #63481 "Compiler is awkwardly happy with fns without Box"
Hi, I'm writing a functional programming library in Rust, and I found some weird behaviour with typing.

In the below code to emulate `Apply`

[code]

The compiler successfully compiles it without any issues. In short, what it is trying to do is set `F: FnOnce(A) -> B` so HKT3 of Option can pick it up and turn into `Option<FnOnce(A) -> B>`. Please checkout [HKT3 code here](https://github.com/Jason

[2019-08-12 07:20] hellow554 commented on #63164
Latest nightly (2019-08-11) still panics, but with different error message:

[code]

[2019-08-12 07:37] aclysma opened #63484 "Using profile-overrides results in both optimized and unoptimized versions of the same crate in linked executable"
I'm trying to use the "profile-overrides" feature in cargo. The tracking issue for this feature is here: https://github.com/rust-lang/rust/issues/48683

The documentation for this is here: https://doc.rust-lang.org/cargo/reference/unstable.html#profile-overrides

I'm trying to build my crate without optimizations, and upstream crates with optimizations. (The application runs too slowly to properly

[2019-08-12 08:11] OnlyLys commented on #32094
Heads up for future readers, this was fixed in Rust 1.22.0.

[2019-08-12 08:26] SOF3 commented on #37679
This might be useful on macros with many variants.

[2019-08-12 08:40] michaelwoerister commented on #57438
@rust-lang/infra Now that we've switched to a new CI vendor, do we have the resources to test xLTO on all tier 1 platforms? That would be really nice!

[2019-08-12 08:58] MSleepyPanda commented on #53984
@rustbot modify labels: +C-bug

[2019-08-12 08:59] eddyb commented on #33609
@Mark-Simulacrum I wonder if we should switch to `RUSTFLAGS_BOOTSTRAP` and `RUSTFLAGS_NOT_BOOTSTRAP`.

[2019-08-12 09:19] petrochenkov commented on #63478
Suggestion search does a lot of heavy stuff like loading all the known crates and searching names in them (https://github.com/rust-lang/rust/pull/54391) and maybe something else.

This was never profiled or optimized, AFAIK, due to the general stance that "the error case can be slow".
So it's quite possible there are low-hanging fruits there, someone needs to run a profiler on that.

[2019-08-12 09:26] RalfJung commented on #61495
But that PR got closed, so right now there's noone working on this issue AFAK.

Cc @vertexclique

[2019-08-12 10:21] vertexclique commented on #61495
I will take a look in this week. Closed it because not to be pinged by triage. Currently I am rebasing the master.

[2019-08-12 10:35] michaelwoerister commented on #57438
OK, let's revisit at some later point in time then.

[2019-08-12 10:45] Mark-Simulacrum commented on #33609
That would make sense, I'll reopen to track that.

[2019-08-12 11:17] jonas-schievink commented on #63481
`Fn(A) -> B` is a trait object, so it has a dynamic size. `Option<T>` has an implicit `T: Sized` bound and so it can not store a value of that type.

Also see this chapter in the book: https://doc.rust-lang.org/book/ch19-04-advanced-types.html#dynamically-sized-types-and-the-sized-trait

Closing as not-a-bug.

[2019-08-12 11:17] #63481 closed

[2019-08-12 11:49] jbeich commented on #63476
Our libgit2 package didn't change since 2019-03-31, and old Nightly snapshots work fine:
- 20190811 affected
- 20190806 affected
- 20190723 works fine
- 20190711 works fine

[2019-08-12 12:15] jbeich commented on #63476
Bisecting cargo led to https://github.com/rust-lang/cargo/pull/7018 but I'm still puzzled given FreeBSD libgit2 package is at 0.28.1.

[2019-08-12 12:20] jbeich commented on #63476
Updating libgit2 to 0.28.2 doesn't help.

[2019-08-12 12:44] #50831 closed

[2019-08-12 12:44] #62993 closed

[2019-08-12 12:44] #63456 closed

[2019-08-12 12:44] #56870 closed

[2019-08-12 12:44] #53598 closed

[2019-08-12 12:44] #63477 closed

[2019-08-12 12:46] oli-obk commented on #63130
No, this just adds caching to zero arg const fns, there's no language change together with it.

[2019-08-12 12:51] nikomatsakis commented on #63225
@cramertj I see. Indeed, I would expect that, internally, we'd have some way to refer back to the `'_` from the impl header. I believe this should be possible, no? In particular, the `'_` in impls expands (internally) to `LifetimeName::Param(ParamName::Fresh(N))` for some integer N, which I believe is basically treated like any other named lifetime.

[2019-08-12 13:47] hellow554 commented on #63164
Also as a sidenote: Rocket master does not ICE anymore. The ICE "was fixed" by https://github.com/SergioBenitez/Rocket/commit/2f458b5217bc581074432fb110f8a0f3385e8bff

[2019-08-12 13:48] #57700 closed

[2019-08-12 14:18] eddyb commented on #56137
Looks like #61041 is blocked on fixing this.

[2019-08-12 14:43] RalfJung commented on #56137
This is interesting, maybe:
[code]
Notice how `super_visit_with` skips `user_ty`, but `super_fold_with` does not. OTOH, the mismatch you are seeing is between `ty` and `literal`, and they both look to be treated the same.

[2019-08-12 15:08] RalfJung commented on #56137
OTOH, the implementation for `Const` also does some weird stuff:
[code]
In particular it implements `visit_with` and `fold_with`, which does not usually seem to be done? Does it do that correctly (not calling the `super_*` methods, in particular)?

[2019-08-12 15:11] eddyb commented on #56137
@RalfJung All of that is fine. `ty::Const` is "unusual" because it's one of the 3 "entities" (`Ty` and `ty::Region` have the same treatment).

I'm already fixing this. MIR construction *is just wrong* and likely has been since forever.
MIRI kept papering over this issue by not using the `ty` field of `ty::Const`.

[2019-08-12 15:24] eddyb commented on #56137
Huh, looks like the bug is pretty recent: https://github.com/rust-lang/rust/commit/5cd28066214a4a255bac6655c20bf05cb95730fd#diff-c599d3d6879ad974960a24abd4e4bdb6R953
It was introduced in #59178, *after* this issue - had we removed the duplication earlier, the bug would've been prevented, heh.

[2019-08-12 15:27] agnxy commented on #62632
@iluuu1994 Sure. Thanks for your help.

[2019-08-12 15:46] jyn514 opened #63496 "ICE when trying to reference an associated trait constant"
[code]

## Error message

`error: internal compiler error: src/librustc/traits/codegen/mod.rs:51: Encountered ambiguity selecting `Binder(<[type error] as ToBytes>)` during codegen, presuming due to overflow`

This only happens if there are two erroneous functions, if I take out `b` it works fine.

It seems like I was trying to do this wrong in the first place since the first function gives an err

[2019-08-12 16:17] cramertj commented on #63225
@nikomatsakis Yep, I would've expected so as well-- I'm not sure why that isn't working, I'd have to take a look.

[2019-08-12 16:23] oconnor663 commented on #62896
I'm seeing a segfault without any dependency on the `libc` crate. Is this the same issue?

[code]

[2019-08-12 16:29] nikomatsakis commented on #63225
@cramertj I was looking and I think the bug lies here:

https://github.com/rust-lang/rust/blob/c01be67ea40266d6a4c3289654a07ddd7ce2a172/src/librustc/hir/lowering.rs#L2267-L2272

Probably `in_scope_lifetimes` needs to be a `Vec<ParamName>` instead, or we need to use something else for this purpose.

[2019-08-12 16:44] eddyb commented on #61336
I don't understand, how was this fixed without running into #43408?
Special-casing a const generic param as an array length expression?

Then why do I still see the array length expression that depends on a const generic param in #63497, causing the telltale signs of #43408, via ICE?

[2019-08-12 16:48] LunarLambda commented on #63417
How can I verify LLVM is actually being built with ilbc++ (`use-libcxx = true`)

CMake's output doesn't tell me anything, and doesn't mention `-stdlib=libc++` in CMAKE_CXX_FLAGS or similar vars.

[2019-08-12 16:53] eddyb commented on #61336
I think that a full fix for this would involve adding `Node::AnonConst(_)` to this (i.e. the fix for #43408) but *only* if the workaround applies (because in that case, the cyclic issues of #43408 shouldn't trigger)
https://github.com/rust-lang/rust/blob/60960a260f7b5c695fd0717311d72ce62dd4eb43/src/librustc_typeck/collect.rs#L896

[2019-08-12 17:05] LunarLambda commented on #63417
After some manual testing, the error with Clang occurs because `--target=x86_64-unknown-linux-gnu` changes the default header search paths

Without `--target`:

[code]

With `--target`:

[code]

Neither directories in the latter case contain C++ headers, which are in the following directories for me:

/usr/include/c++/8 <-- libstdc++
/usr/include/c++/v1 <-- libc++

[2019-08-12 17:40] EricRahm commented on #57822
@michaelwoerister It seems like #36185 has resurfaced. From what I understand this is causing some issues for WebRender devs.

[2019-08-12 17:43] estebank commented on #63164
@hellow554 I would still wan't `rustc` not to ICE on the face of malformed input.

[2019-08-12 17:45] estebank commented on #63164
https://github.com/rust-lang/rust/blob/60960a260f7b5c695fd0717311d72ce62dd4eb43/src/librustc/hir/map/mod.rs#L517-L530

For future reference, when panicking or using `bug` for not finding what you expect it is a good idea to include in the message what the found value was. :)

[2019-08-12 17:48] nikomatsakis commented on #63388
OK, so, a few thoughts:

I agree this is a serious usability bug. It's not a forward a compatibility hazard, though.

Regarding the code itself, it's a shame that we have to duplicate the elision code -- there are currently two bits of code doing the same check. The one in lowering is the one giving us the error here. The error is also phrased slightly differently than the one from lifetime resolu

[2019-08-12 18:04] nikomatsakis commented on #63388
@cramertj so I guess the buggy code is this:

https://github.com/rust-lang/rust/blob/60960a260f7b5c695fd0717311d72ce62dd4eb43/src/librustc/hir/lowering.rs#L2159-L2163

presumably the way to make it work for `&self` and `&mut self` would be to check the [`implicit_self`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc/hir/struct.FnDecl.html#structfield.implicit_self) field of the `decl` param

[2019-08-12 18:13] nikomatsakis commented on #63388
Er, my mistake, you can't match on the `implicit_self` field, but rather promote this computation earlier:

https://github.com/rust-lang/rust/blob/60960a260f7b5c695fd0717311d72ce62dd4eb43/src/librustc/hir/lowering.rs#L2190-L2214

[2019-08-12 18:14] nikomatsakis commented on #63388
(TBH I'm not 100% sure this code is right, so I'm doing a quick test locally to see if I'm remembering things correctly.)

[2019-08-12 18:32] mati865 commented on #63417
Libcxx doesn't work with GCC.

Regarding Clang search directories with target argument it looks like a bug. I don't know if it's Clang or Solus bug.

[2019-08-12 18:33] nikomatsakis commented on #63225
A closer reading suggests I was mistaken. The `'_` lifetimes from the impl should show up in `lifetimes_to_define` -- `in_scope_lifetimes` includes only the explicitly declared lifetimes written by the user on the impl. I'm not quite sure what the problem is yet.

[2019-08-12 18:53] jakubadamw commented on #57271
@XavilPergis, I tried to compile your `ice` branch with the 2018-12-31 nightly and it produced the expected errors with no ICEs. Same with the newest nightly and the stable 1.36.

[2019-08-12 18:58] nikomatsakis commented on #63225
OK, no, I was correct. When processing impl items, we convert the `'_` lifetimes into `in_scope_lifetime` entries.

[2019-08-12 19:06] LunarLambda commented on #63417
I looked but Clang has no concrete documentation on the searching behavior, and scouting the source code hasn't yielded anything yet

I guess it's a Solus bug in that `x86_64-solus-linux` and `x86_64-unknown-linux-gnu` aren't compatible triples.

So, guess I'm closing this unless anyone else would like to make a suggestion?

[2019-08-12 19:12] nikomatsakis commented on #63388
Actually, the behavior of the current code is (I think) worse than the issue suggests. If I understand what it's doing -- it is looking for exactly one lifetime parameter that was not explicitly declared, and using *that* as the elided lifetime.

so for example this code compiles which should not ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c5a168d760a763d

[2019-08-12 19:14] nikomatsakis commented on #63225
OK, I have a fix for the `async fn` method issue, but not the nested async fn item issue.

[2019-08-12 19:16] nikomatsakis opened #63500 "async fn methods and impl `'_` elision do not interact correctly"
As [reported by @cramertj](https://github.com/rust-lang/rust/issues/63225#issuecomment-519163528), this example:

[code]
currently produces this error:
[code]

but it should work just fine.

[2019-08-12 19:16] nikomatsakis commented on #63225
I forked off https://github.com/rust-lang/rust/issues/63500 for the method issue

[2019-08-12 19:29] estebank commented on #51767
@lukaslueg Thanks for the kind words.

I believe that this would fall under the umbrella of https://github.com/rust-lang/rust/issues/61067: pointing at _where_ the requirement is coming from. Sadly, the way we do type resolution currently means that we lose the chain of decisions that cause the current expected type to be expected. In order to improve diagnostics now (as opposed to wildly refactor

[2019-08-12 19:31] nixpulvis commented on #63351
Yea looking at the code, it seems things might stem from here:

https://github.com/rust-lang/rust/blob/60960a260f7b5c695fd0717311d72ce62dd4eb43/src/librustc_resolve/lib.rs#L770-L793

Based on this and the [list of primatives in the STD docs](https://doc.rust-lang.org/std/#primitives), I'm guessing the following is a complete list of generic (or otherwise unimplemented) primitives:

- `array`
- `fn

[2019-08-12 19:47] mati865 commented on #63417
I will check it when I'm back home in a 3 days.

[2019-08-12 19:51] LunarLambda commented on #63417
I'll keep this open then.

On Mon, Aug 12, 2019, 21:48 Mateusz Mikuła <notifications@github.com> wrote:

[2019-08-12 19:57] russelltg opened #63502 "Error "cannot infer type" when using '?' in async block + bad diagnostic"
This seems related to #42424, except I don't see an obvious workaround like in #42424.

[code]

Fails with the error

[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ea7e5f7b6e1637f6a39aee0b8209c99e

First of all, it seems like this shouldn't be an error--it should be able to deduce that the return type is `Result<(), io::Error>`, but also the diagnostic **does not

[2019-08-12 19:58] TheNeikos commented on #39128
I just ran into this problem and solved it by using a new type like this:

Where before I had:
[code]

I now have:

[code]

[2019-08-12 20:43] estebank opened #63504 "When needing type annotation do not suggest using `impl Trait` or closure"
_Subset of https://github.com/rust-lang/rust/issues/63502_

When encountering

[code]

Do not suggest "consider giving `fut` the explicit type `impl std::future::Future`, with the type parameters specified ", as introduced in https://github.com/rust-lang/rust/pull/61361, when encountering `impl Trait`:

https://github.com/rust-lang/rust/blob/60960a260f7b5c695fd0717311d72ce62dd4eb43/src/librustc/in

[2019-08-12 20:53] estebank commented on #37188
Triage: [current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6053abcbd21d4b56e47fd07ef7917def):

[code]

Giving `q` the type `Qux` (without the assoc type set) [still works](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7d0353884f985e432a2931ed27086a20).

[2019-08-12 20:53] Centril commented on #63504
Btw, when we have the ability to ascribe a type `let fut: impl Trait = async { ... };` then it does seem reasonable to suggest it again, so we should open an issue for undoing the fix to this issue.

[2019-08-12 20:56] estebank commented on #45685
Current output:

[code]
and
[code]

I believe this can be closed as there's little improvement to be had in the medium term.

[2019-08-12 20:56] #45685 closed

[2019-08-12 21:01] nikomatsakis commented on #63388
I have a nice fix now.

[2019-08-12 21:01] estebank commented on #61410
Current output:

[code]

[2019-08-12 21:02] estebank commented on #63502
Opened https://github.com/rust-lang/rust/issues/63504 for the incorrect suggestion. For the main issue, `?` interacts in non-obvious ways with type inference because it does implicit conversion. In this case, because `fut` doesn't explicitly constraint what the expected type is, `rustc` doesn't know what `Result<(), std::io:Error>` should be converted to.

There are other similar tickets filed abo

[2019-08-12 21:03] estebank commented on #63504
Indeed, but suggestions should only be provided when they can be applied, either gated on nightly or not provided at all if depending on nightly features.

[2019-08-12 21:05] nikomatsakis commented on #63225
@cramertj I didn't prep a fix for this one yet. It seems obvious that some internal state is not being reset when we enter a new item.

[2019-08-12 21:06] nikomatsakis commented on #63225
but if you have a chance to investigate, would be appreciated

[2019-08-12 22:06] bbugh commented on #47168
Hi, new to rust and ran into this with a `vec!`. The given advice `n.try_into().unwrap()` then warns about:

[code]

If the given advice requires something extra to be enabled, I think it would be helpful to add that to the comment. I have no idea how to proceed (not asking for help, just giving message feedback).

[2019-08-12 22:14] estebank commented on #47168
What version are you using? You should be seeing the following:

[code]

[2019-08-12 22:52] bbugh commented on #47168
Thanks! It looks like the message in Visual Studio Code is truncated:

<img width="801" alt="image" src="https://user-images.githubusercontent.com/438465/62903900-d9638e80-bd29-11e9-9654-3f8b7d4d4023.png">

but the compilation is correctly reporting the full message as you said:

[code]

I'll look into reporting this to the rust vscode extension. Thank you and sorry for the confusion!

[2019-08-12 23:19] estebank commented on #46680
Current output:

[code]

[2019-08-12 23:25] estebank opened #63506 "Suggest `Box::new` on E0308 when appropriate"
When encountering a boxed value as expected and a stack allocated value that could be boxed to fulfill the expectation, like in the following snippet, suggest `Box::new` wrapping:

[code]

[code]

Should suggest:

[code]

[2019-08-12 23:50] nikomatsakis commented on #63225
Presumably the problem is that `visit_item` doesn't "reset" the `in_scope_lifetimes` vector -- it only seems to extend it...

https://github.com/rust-lang/rust/blob/c01be67ea40266d6a4c3289654a07ddd7ce2a172/src/librustc/hir/lowering/item.rs

[2019-08-12 23:53] nikomatsakis commented on #63225
Indeed, in-band lifetimes are broken in the same way. This fails to compile ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=16cf7032d6071e7eb87ca5e70bf10226)):

[code]

[2019-08-12 23:59] nikomatsakis commented on #63225
Working on a possible fix

[2019-08-13 00:08] nikomatsakis commented on #63225
Yep, have a fix.

[2019-08-13 00:54] Mark-Simulacrum commented on #63225
Inband lifetimes looks similar to https://github.com/rust-lang/rust/issues/52532 fwiw

[2019-08-13 00:55] cramertj commented on #63502
The workaround is this:
[code]

[2019-08-13 01:14] nikomatsakis commented on #63225
@Mark-Simulacrum thanks

[2019-08-13 01:23] d-e-s-o commented on #54776
Just to get everybody on the same page: the proposed solution is unsafe in a very subtle way, so I am no longer suggesting to upstream it. I am keeping this issue open to discuss alternative solutions as the motivating problem seems to be something that others have stumbled over as well.

[2019-08-13 02:36] ackxolotl commented on #63496
Tried to reduce it and found a similar case with the same ICE:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=233300ab42b3986b556a0d38e4d398a5

[2019-08-13 02:49] ackxolotl commented on #62838
This might be the same issue as #61323. What do you think?

[2019-08-13 02:51] shengsheng commented on #63405
Another example:

[code]

Output:
[code]

[2019-08-13 02:58] shengsheng commented on #63405
Also confusing with `move` keyword:
[code]

Output:
[code]

[2019-08-13 03:48] philipc commented on #62839
This is the debuginfo I'm seeing for your example:
[code]

If you had to, I think you could do this by checking if the discriminant overlaps any members in any of the variants. So for the example, the discriminant at 0x000003db overlaps with the `A::__0` member at 0x00000405. But I'm not sure there is a need for this.

I'm not sure that there is a need to handle this differently. The only differen

[2019-08-13 06:17] hellow554 commented on #63164
I think you got me wrong. I haven't said, that this should be closed because upstream code has changed, but I said, that upstream does not ICE anymore, so I looked into it, what caused it to not ICE anymore.

I try to go that ;)

---

Confirmed, that it is related to decl maros

@rustbot modify labels: +A-macros-2.0

[2019-08-13 06:18] hellow554 commented on #63164
@jonas-schievink I need your help with the tags here please ^^

[2019-08-13 07:06] hellow554 commented on #63164
[code]

<details>
<summary>Backtraces</summary>

<details>
<summary>60960a260</summary>

[code]
</details>
<details>
<summary>dddb7fca0</summary>

[code]
</details>
</details>

@rustbot modify labels: -E-needs-mcve

[2019-08-13 07:28] hellow554 commented on #63161
@jfrimmel any luck so far? The code looks good, now you have to recall what you did (rename a variable, changed something from a struct to a trait? Deleted members of a struct? Added functions? Removed them?)
I know it's hard to debug incremental bugs (I encountered two so far). Any chance that you can tell us, what you did between `cargo clean`, `cargo build` and the second `cargo build`?

[2019-08-13 07:39] pietroalbini opened #63510 "Spurious expired crates.io certificate on CI"
We encountered multiple spurious failures while trying to download crates from crates.io, related to an expired certificate. This is probably something happening on the CI VMs, as the crates.io certificate is expiring in a few months (maybe the clock goes back to the epoch for whatever reason?).

[code]

* https://dev.azure.com/rust-lang/e71b0ddf-dd27-435a-873c-e30f86eea377/_apis/build/builds/5716

[2019-08-13 07:46] hellow554 commented on #62838
This is a dup of #61323 indeed. Thanks for pointing it out @ackxolotl

[2019-08-13 07:50] hellow554 commented on #61323
@ackxolotl well spotted ;)
Because this issue has the `I-nomitaed` tag and the other doesn't I will post the incremental test here:

[code]

[2019-08-13 08:09] pietroalbini opened #63513 "Azure Pipelines sometimes doesn't report back its status to GitHub"
It happened a few times that Azure Pipelines doesn't report back the build status to GitHub, causing the commits to be in a permament "in progress" state. For example, a few times it happened yesterday:

* https://github.com/rust-lang/rust/runs/191033192
* https://github.com/rust-lang/rust/runs/191276265

Any idea why this is happening @rylev @ethomson?

cc @RalfJung

[2019-08-13 08:22] gnzlbg commented on #62231
If documenting this is strictly necessary to make progress, @rkruppe I personally would think that a tautological note: "Note: if your hardware doesn't support these rounding semantics floats will be _slow_."

I'm not sure of the value of this note, but not documenting the semantics of  `x_f32 as i32` has a cost. A user just asked precisely that on Discord, and I pointed them to the reference, and

[2019-08-13 09:42] 95th opened #63514 "Tracking issue for map_ok and map_err method for Poll<Option<Result<T, E>>>"
Currently map_ok and map_err methods are given for Poll<Result<T, E>>.

We should provide similar methods for Poll<Option<Result<T, E>>> as they are helpful in stream building code.

---

### Steps

- [x] Implementation: https://github.com/rust-lang/rust/pull/63512
- [ ] Stabilization

### Open questions

None

[2019-08-13 09:49] skade commented on #60652
See https://github.com/skade/leveldb/issues/31#issuecomment-520765968 for a potential hint. The user used GNU ar. Instead of system ar.

[2019-08-13 10:25] Kobzol commented on #62839
Thank you for your response, may I ask what you used to pretty print the debug info? :slightly_smiling_face:
The problem that I'm facing is that I need to find the active variant of an enum from the GDB Python API (I need to read the value of the discriminant and be able to distinguish what variant does the enum hold).

If there is a "classic" discriminant, then I read the value of the discriminan

[2019-08-13 10:32] Mark-Simulacrum commented on #63513
FWIW, I've also seen the checks just not starting, possibly after force pushing.

[2019-08-13 10:52] josephlr commented on #63160
`libc` has released a new version, so @newpavlov's change #63452 can be resubmitted.

[2019-08-13 10:56] newpavlov commented on #63160
IIUC it would also require updating `Cargo.lock`.

[2019-08-13 10:58] philipc commented on #62839
I used `dwarfdump`, but `readelf`, `objdump` and `llvm-dwarfdump` can print it as well.

Right.

You can tell it is a niche enum by looking at the `DW_AT_discr_value` attributes, and these give you the values, you don't need to assume anything.

I don't know anything about how to extract that information in gdb, but if that isn't possible in gdb, then the solution is to fix gdb. As far as I can te

[2019-08-13 11:05] hellow554 commented on #62751
Maybe related to #62649 ?

[2019-08-13 11:10] jonas-schievink commented on #27733
It looks like this has not yet been addressed, but all the features discussed here are already stabilized.

[2019-08-13 11:36] nox commented on #27733
I'm not a technical writer and I don't see how to reduce the main use case into something smaller than how we are using this in Servo.

[2019-08-13 11:38] Kobzol commented on #62839
Thank you, this is what I wanted to confirm. @tromey do you have any suggestions on how to extract this information from `gdb.Value` or `gdb.Type`?

[2019-08-13 11:42] jonas-schievink commented on #62751
Yeah, looks like a pretty clear duplicate. Closing.

[2019-08-13 11:42] #62751 closed

[2019-08-13 12:00] 2ndTaleStudio opened #63516 "Weird compiler behavior with in-lining of a function -> constant value arbitrary changed"
Hey there,

I guess I found a weird bug in the compiler in the following scenario:
I do have a function with the following signature and the first part of the contents given like this:
[code]
When this function get's compiled into a binary and the compiler decides to inline it, the constant value for the OR operation is changed to 0xC000_000**8**. The assembly looks like this:
[code]
This lead to

[2019-08-13 12:01] GuillaumeGomez commented on #63351
The solution would be to "simply"  try to check the current path and if not working, try to check if the first part of the path can be considered as primitive type (such as slice or pointer) and retry with this change. We already do something similar in some cases.

[2019-08-13 12:02] hiddenhare commented on #54776
When it comes to alternative solutions, as I understand it, the use-case is that "I have a struct which uses a `RefCell<T>` internally, and I'd like one of the struct's methods to return a value `U` that borrows from `T`, without requiring the caller to create an intermediate `Ref<T>` on the stack".

The main motivating example for me was a `RefCell` nested within another `RefCell`. For others, it

[2019-08-13 12:05] jonas-schievink commented on #63516
Can you provide the full source code that reproduces this behavior?

[2019-08-13 12:48] steveklabnik commented on #46774
Yes, I think a clarification would be best, along the lines of what @the8472 is talking about.

[2019-08-13 12:48] steveklabnik commented on #47091
Sounds good to me!

[2019-08-13 12:58] jfrimmel commented on #63161
Unfortunately no. I tried to recall things, that I've done at this point, but any change I made either also ICEs or compiles fine. I've tried to reproduce this by writing the same code again, but obviously I write it a little bit different now, so I cannot get it to crash.

Are there any tips how to deal with those incremental compilation crashes? Trying to reproduce like I'm doing it now is pokin

[2019-08-13 13:18] steveklabnik commented on #43191
@metux I know you said you don't have time for Rust anymore, so I'm not sure if this is an active area of research for you or not, but Debian, Fedora, and others have solved a lot of these problems already, with the same constraints. I'd encourage you or anyone else interested in this topic to reach out to them with answers to these kinds of questions.

[2019-08-13 13:22] XAMPPRocky opened #63519 "Dependencies "can't find crate `core`" on nightly for thumbv7em-none-eabi"
The following steps will work and compile on stable, but not on nightly.

# Steps to reproduce
[code]

## Error Output
[code]

[2019-08-13 13:27] 2ndTaleStudio commented on #63516
Hi,
sure. The whole source code of a reproducable example could be found here:
https://github.com/RusPiRo/ruspiro-loader/tree/master/compile-issue

If you patch the ``ruspiro-mailbox`` crate and change the file ``interface.rs`` there from:
[code]

to:
[code]

you can see the different binaries being created. I'm using the make file in this folder to build, but it depents on some path set on my mac

[2019-08-13 13:30] nikomatsakis opened #63520 "run-make-fulldeps/linker-output-non-utf8 failure"
when running `x.py test` locally I get errors in the test `run-make-fulldeps/linker-output-non-utf8`:

[code]

The most notable part being this:

[code]

perhaps related to the linker on my system?

[2019-08-13 13:33] hellow554 commented on #63161
As said, it could be anything ^^
Here are some examples I've seen so far in the wild:

https://github.com/rust-lang/rust/issues/62649#issuecomment-514911358
https://github.com/rust-lang/rust/issues/61323#issuecomment-520728706
https://github.com/rust-lang/rust/issues/60629#issuecomment-490943692
https://github.com/rust-lang/rust/issues/58813#issuecomment-468711669
https://github.com/rust-lang/rust

[2019-08-13 13:41] Centril commented on #63516
Pending investigation I'm labeling this as a soundness hole under the idea of "wrong dynamic semantics + unsafe code can assume right semantics ==> boom!". Also labeling as P-high for now.

[2019-08-13 13:46] jfrimmel commented on #63519
Is the target also installed for the nightly toolchain?
[code]
If not install via
[code]
Note the `--toolchain` option.

[2019-08-13 13:49] jfrimmel commented on #63161
Okay, thanks, I'll have a look at the linked issues :smiley:

[2019-08-13 14:08] alexcrichton commented on #63510
Another report of this at https://bugzilla.mozilla.org/show_bug.cgi?id=1573324, and this is happening all across the community on CI I'm seeing as well, it's not just our own CI. One instance is this build - https://dev.azure.com/alexcrichton/openssl-src-rs/_build/results?buildId=769

[2019-08-13 14:16] sgrif commented on #63510
I've opened a support ticket with Heroku and refreshed the certificate in the meantime (hopefully that clears out whatever cache is stale)

[2019-08-13 14:26] msizanoen commented on #62896
Have you tried `-C codegen-units=1`?

[2019-08-13 14:57] oconnor663 commented on #62896
@msizanoen with `-C codegen-units=1` all the `rustc` commands succeed.

[2019-08-13 15:23] Cipirain opened #63523 "Any rust-related command opens non-unicode file called "cargo" or "rustup""
When using any of the rust related commands, it opens a file that has 3 identifiable characters at the top and a mixed amount of bullcrap in the rest. "ELF" is at the top. Please take a look for yourself cause It's causing me tons of problems.
[rustup.txt](https://github.com/rust-lang/rust/files/3497665/rustup.txt)

[2019-08-13 15:31] Lonami commented on #63523
This "crap" is machine code. For some reason, the `rustup` binary is being opened by your text editor instead of being ran:
[code]

[2019-08-13 15:31] jasonwilliams commented on #20866
@DevQps
There is progress, see https://github.com/rust-lang-nursery/mdBook/pull/1000
Feel free to test it out and give feedback, there are instructions in the PR

[2019-08-13 15:41] pietroalbini commented on #63513
Happened again for a bors merge on rustc: https://github.com/rust-lang/rust/runs/192177675

[2019-08-13 16:27] Cipirain commented on #63523
I figured as much, but was quite confused as it was working fine yesterday until I began working on writing a hashing algorithm in another language, which at that point, it had broken. Sorry for late reply, but I'll try this fix.

[2019-08-13 16:30] Cipirain commented on #63523
I've just realized I can't actually use chmod, as I'm on Windows, and installing anything that isn't a ready-to-go executable is a nightmare on this terrible OS. And I do not use rust on my Ubuntu sub-system.

[2019-08-13 17:07] nikomatsakis commented on #63033
I agree this is a bug -- it doesn't necessarily block stabilization (no fwd compat risk) but would definitely be a good one to fix. Marking as blocking + unclear for the moment and will return to it.

[2019-08-13 17:10] estebank opened #63526 "Include type bindings on string representation of `impl Trait`"
_Follow up to https://github.com/rust-lang/rust/pull/63507#discussion_r313287274_

Include type arguments for traits when displaying `impl Trait`. For example, the following:

[code]

should be

[code]

[2019-08-13 17:11] nikomatsakis commented on #63032
Check-in from async-await foundations wg: marking as blocking for now and self-assigning to do a bit of investigation. Not entirely sure what's going on.

[2019-08-13 17:12] nikomatsakis commented on #62958
Check-in from async-await wg meeting: marking as "deferred" as this does not block stabilization (though it'd still be great to fix!).

[2019-08-13 17:13] nikomatsakis commented on #62572
Check-in from async-await wg: marking as "deferred", since this is not a blocker for stabilization.

[2019-08-13 17:16] estebank opened #63527 "Once `impl_trait_in_bindings` is stable, suggest using it in local bindings"
https://github.com/rust-lang/rust/pull/63507#discussion_r313274523 introduces a check to _not_ suggest `let foo: impl Trait`. Once this is valid, we should remove that gate.

[2019-08-13 17:18] estebank commented on #63527
cc @Centril

[2019-08-13 18:24] Cipirain commented on #63523
I'm just going to resort to reinstalling. This is a major random problem though.

[2019-08-13 18:24] #63523 closed

[2019-08-13 18:33] jakubadamw commented on #39161
The provided code compiles fine both in 1.36 and the 2019-08-12 nightly.

I did a quick search through the test suite and there's none for this particular case. Marking as such.

@rustbot modify labels: E-needstest

[2019-08-13 18:34] jonas-schievink commented on #63519
Cannot reproduce on `rustc 1.38.0-nightly (60960a260 2019-08-12)`

[2019-08-13 18:59] hiddenhare commented on #54776
Some research has uncovered the mature [owning_ref](https://github.com/Kimundi/owning-ref-rs/) crate, which has already solved my own use-case. It provides an `OwningHandle` type, which bundles a pointer to a `RefCell` along with a `Ref` which borrows from that pointer.

There's a [pull request](https://github.com/Kimundi/owning-ref-rs/pull/35) which would add a restricted `OwningIter`, fairly sim

[2019-08-13 19:07] Ixrec commented on #54776
Probably worth mentioning that it's not entirely clear whether crates like owning_ref are sound: https://github.com/rust-lang/unsafe-code-guidelines/issues/194

[2019-08-13 19:09] omac777 opened #63532 "Date time chronology calendar JSR-310 capabilities within rust"
I understand JSR-310 was mentioned earlier.  I understand others have mentioned this as issue on github, but why has the issue been closed when I haven't seen the capabilities as being implemented yet?  If they have been implemented, please indicate where they are.

Thank you
https://github.com/rust-lang/rust/issues/14657
https://mail.mozilla.org/pipermail/rust-dev/2014-June/010247.html

Also, whe

[2019-08-13 19:16] XAMPPRocky commented on #63519
@jfrimmel Ah! Correct, the target is not in nightly. I didn't realise the targets themselves are channel based. That's maybe not the most intuitive, but that's an issue for rustup.

[2019-08-13 19:16] #63519 closed

[2019-08-13 19:24] jonas-schievink commented on #63532
This is better suited as functionality for an external crate such as [chrono](https://docs.rs/chrono). Adding big components like this to the standard library also needs to go through the [RFC process](https://github.com/rust-lang/rfcs), so closing in favor of that.

[2019-08-13 19:24] #63532 closed

[2019-08-13 19:38] joshtriplett commented on #62231
On Tue, Aug 13, 2019 at 01:24:18AM -0700, gnzlbg wrote:

That sounds quite sufficient, yes.

Supporting 64-bit integers via 32-bit math isn't especially slow;
software floating point can be *incredibly* slow, compared to people's
expectations of floating-point performance.

[2019-08-13 19:41] mattrutherford commented on #63349
yes, ok steps I can take to reproduce:

1. make a fresh clone of: https://github.com/paritytech/substrate
2. `cargo build --release`
3. Make change in some rust file in `srml`, such as: https://github.com/paritytech/substrate/blob/master/srml/support/src/dispatch.rs
4. `cargo build --release`

gives the error

[2019-08-13 20:06] jonas-schievink commented on #27733
Sure, no problem. Just noting the inconsistency. I guess it's fine to close this tracking issue though, since everything tracked is now stable.

[2019-08-13 20:06] #27733 closed

[2019-08-13 20:06] est31 commented on #44109
@clarfon is an RFC needed? The `..=` vs `...` decision was done by simple FCP as well, as the `.await` syntax decision.

[2019-08-13 20:22] estebank commented on #40014
#63506 will cause this case to suggest turning it into a boxed fn trait:

[code]

Suggesting annotating the closure itself would probably be better.

[2019-08-13 20:43] jakubadamw commented on #47128
This is related to or even a duplicate of #37707.

[2019-08-13 20:49] comex opened #63533 "Improve error message for `.await` in 2015 edition"
Trivial example:
[code]

Output on current nightly:
[code]

Ideally the error message would suggest using the 2018 edition.

[2019-08-13 21:19] jethrogb commented on #43038
Why doesn't this return `&mut Cell<T>`?

[2019-08-13 21:44] lkillgore commented on #63513
Hi @pietroalbini, I see from our telemetry the check-runs issue.  I'm tracking down the problem with GitHub now.  I'll reply back on this ticket when I have something more to report.  Apologies for the inconvenience.

[2019-08-13 22:36] est31 commented on #63533
Part of #61914

[2019-08-13 23:17] mgoelzer opened #63536 "ICE on roman numeral macro example"
## Description of Problem

I'm trying to run the roman numeral compiler plugin code in the documentation ([here](https://doc.rust-lang.org/nightly/unstable-book/language-features/plugin.html)).  The compiler panics with this error:

[code]

## Code to Reproduce

My code is in this repo:  [github.com/mgoelzer/rust-macros-roman](https://github.com/mgoelzer/rust-macros-roman)

## Expected vs Actual B

[2019-08-13 23:24] petrochenkov commented on #63536
Duplicate of https://github.com/rust-lang/rust/issues/62717.

The problem can be solved by linking to `rustc_driver` (`extern crate rustc_driver;`) from the crate that defines the plugin.
https://github.com/rust-lang/rust/pull/62727 is currently trying to make sure that `rustc_driver` is always linked.

Note that `#[plugin]` in general is deprecated, and the preferred way to solve problems like im

[2019-08-13 23:24] #63536 closed

[2019-08-13 23:44] Osspial opened #63538 "Desugaring of struct update syntax is unnecessarily restrictive"
Take the following example struct:

[code]

Let's say you don't have access to `b`, and you want to create an instance of `Foo` with a non-default value for `a`. The idiomatic way to do that is with the struct update syntax, like so:

[code]

Right now, that fails with the following error:

[code]

That error is unintuitive since we never directly reference `b` in our source code. What's more, it'

[2019-08-13 23:47] petrochenkov commented on #63538
I actually tried to implement the alternative desugaring, the results can be found in [this internals post](https://internals.rust-lang.org/t/proto-rfc-expanded-functional-record-update/3077/2?u=petrochenkov).

[2019-08-14 00:00] Osspial commented on #63538
@petrochenkov Those are interesting points. If that's the case, then it seems my guess about how the desugaring currently works isn't correct. What exactly does the struct update syntax desugar to currently?

(for people reading along that don't want to look into the other thread - the current implementation lets you do this:
[code]
which my proposed implementation wouldn't allow)

[2019-08-14 01:42] abonander commented on #53491
Since the discussion on this tracking issue is so long now, can we break it out into a few other tracking issues for each feature of `MaybeUninit` that's still unstable?

* `maybe_uninit_extra`
* `maybe_uninit_ref`
* `maybe_uninit_slice`

[2019-08-14 01:55] federicomenaquintero commented on #61206
This causes a tarball build, which normally takes about 11000 seconds for Suse's SLE, to take over 30000 seconds.

[2019-08-14 02:51] Mark-Simulacrum commented on #62308
I'm closing this as it's either outdated by this point or should likely be resolved with a concrete implementation via PR, we're generally happy to bump dependency versions as needed for work.

[2019-08-14 02:51] #62308 closed

[2019-08-14 03:00] Mark-Simulacrum commented on #61180
Closing as per the above comments.

[2019-08-14 03:00] #61180 closed

[2019-08-14 05:03] abonander commented on #49147
@RalfJung do we _need_ the same promotion logic? It seems to me that we can have two mutually exclusive situations:

* The element type is `Copy`, thus the expression does not need to be const but is only executed once
* The element type is not `Copy` thus the expression _must_ be `const` and thus cannot be observed executing more than once anyway

[2019-08-14 06:05] eddyb commented on #49147
@abonander Ah, yeah, I forgot that part. So if the expression is `Copy` *do not attempt* promotion, meaning only code which *needs* promotion to compile will evaluate the expression at compile-time, which even if it errors in miri, it couldn't have compiled *any other way*.

This is in contrast with `&expr` promotion, which *should never* be attempted *unless* we're certain it can't fail, because

[2019-08-14 06:17] 95th opened #63547 "CI is shown stuck on github"
The CI seems to be stuck on Github and jobs are shown running for more than a day but it has actually completed in Azure.

![Capture](https://user-images.githubusercontent.com/22871609/62998376-f2368600-be88-11e9-9216-d2617dc8b754.PNG)

![Capture](https://user-images.githubusercontent.com/22871609/62998458-3e81c600-be89-11e9-9b62-0d90584f4f25.PNG)

[2019-08-14 07:16] phansch commented on #63547
Probably a duplicate of https://github.com/rust-lang/rust/issues/63513

[2019-08-14 07:57] pietroalbini commented on #63547
Yeah duplicate of #63513.

[2019-08-14 07:57] #63547 closed

[2019-08-14 08:16] RalfJung commented on #62149
As a follow-up to this, @comex actually managed to [write some (safe) async Rust code that violates LLVM's `noalias` annotations](https://github.com/rust-lang/unsafe-code-guidelines/issues/194#issuecomment-521088911) the way we currently emit them. However, it seems due to the use of TLS, there are currently no miscompilations.

[2019-08-14 08:39] michaelwoerister commented on #57822
I'm going to look into this asap. Thanks for the test case, @xixixao, that should be very helpful!

[2019-08-14 09:40] gnzlbg commented on #62231
software floating point can be *incredibly* slow, compared to people's
expectations of floating-point performance.

My point is that there are many different levels of slowness for many of the features of the language depending on the target and that we don't document these anywhere - we don't even document that you should have an FPU to use f32 and f64 appropriately in the first place.

I really

[2019-08-14 09:43] RalfJung commented on #49147
I am not convinced by that argument. It is still very non-obvious to the user of the code *needs* promotion. In particular, in generic code it could be that if the involved types were fully known, no promotion would be needed, but due to the generic nature of this code promotion happened anyway.

I think we need a clear syntactic marker for promotion, including in array length. Something like `con

[2019-08-14 09:46] RalfJung commented on #53491
Seems reasonable. There also is https://github.com/rust-lang/rust/issues/63291.

[2019-08-14 10:52] #63430 closed

[2019-08-14 10:52] #62632 closed

[2019-08-14 10:52] #63388 closed

[2019-08-14 10:52] #52532 closed

[2019-08-14 10:52] #63225 closed

[2019-08-14 10:52] #63500 closed

[2019-08-14 10:52] #61226 closed

[2019-08-14 11:02] Smicry opened #63550 "thread 'main' has overflowed its stack"
There're something wrong with my code , but I don't know why ?
Please help me , thx very much!
[code]
Output :
[code]

[2019-08-14 11:20] bjorn3 opened #63551 "Codegen backend handles compare binops for the unit type"
https://github.com/rust-lang/rust/blob/c43d03a19f326f4a323569328cc501e86eb6d22e/src/librustc_codegen_ssa/mir/rvalue.rs#L586-L592

libcore however doesn't use those for the implementations for `PartialEq` and `PartialOrd` for the unit type.

https://github.com/rust-lang/rust/blob/c43d03a19f326f4a323569328cc501e86eb6d22e/src/libcore/cmp.rs#L933-L939

https://github.com/rust-lang/rust/blob/c43d03a19f

[2019-08-14 11:23] jonas-schievink commented on #63550
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2019-08-14 11:23] #63550 closed

[2019-08-14 11:37] oli-obk commented on #49147
Even in generics everything is obvious. Either you have a `Copy` bound, or you get promotion. I think not being a full const context will confuse more than it will not. We'll just get requests to add more things or at least issues opened asking why things that are obv OK don't work

[2019-08-14 11:58] orlp opened #63552 "Codegen forgets array size when used with iterators"
Consider these three functions:

[code]

I'd expect all of them to generate roughly the same code since our array `x` has a fixed compile-time size. With rustc 1.27.1 [it does](https://rust.godbolt.org/z/zbmg8p), but after that it seems there was a regression that causes the compiler to forget the size of the array and generate [generic code](https://rust.godbolt.org/z/zFhGI5) rather than code spe

[2019-08-14 12:08] marmistrz opened #63553 "How to install a single target from source without building the whole compiler?"
I'm using Arch Linux and my distribution provides a (usually) up-to-date version of rustc & cargo. In particular, I have a system-wide copy of the `x86_64-unknown-linux-gnu`, placed in `/usr/lib/rustlib`.  Please note that rustup is not used here at all.

Sometimes I need to cross-compile to other targets, such as `x86_64-pc-windows-gnu` or `wasm32-wasi`. This has issues, for instance https://gith

[2019-08-14 12:08] iluuu1994 commented on #63526
r? claim

Should have time tonight. 🙂

[2019-08-14 12:09] iluuu1994 commented on #63526
@rustbot claim

Should have time tonight. 🙂

[2019-08-14 12:36] nikomatsakis commented on #63033
I did a bit of investigation. The error results because we have an inference variable (`'_#3r`) that seems to have no constraints, but must be equal to one of the captured regions (e.g., `'a`). I haven't 100% figured out where this variable comes from, I imagine it's related to `'a` though? In any case, the resolver basically winds up in a situation where it could pick any of the lifetimes but has

[2019-08-14 12:57] nikomatsakis commented on #63033
OK, I think I see what's going on. It doesn't actually have much to do with the unused lifetime per se. What happens is this:

- The type of the generated result is something like `Foo<&'2 (), PhantomData<dyn Trait + '3>>` -- i.e., it includes the types of the parameters, though with region variables in place of the known regions. Those types must be supertypes of the actual parameter types.
- We

[2019-08-14 12:58] nikomatsakis commented on #63033
Now that I understand better what is happening, I don't feel this has to block stabilization -- in particular, I don't think that there is a forward compatibility risk from us improving the region inference algorithm. I don't think we would choose an algorithm that makes existing code illegal. =)

[2019-08-14 13:41] Darksonn opened #63555 "Sporadic linker failure"
I compiled a rather large project and got the error below:

[code]

It only happened once and I am not able to reproduce it again.

[2019-08-14 13:45] hellow554 opened #63556 "warning lint on chained assignment"
(This is a first impl on https://users.rust-lang.org/t/warn-about-using-the-value-of-an-assignment-expression/31324, thanks to @sourcefrog )

Code like `a = b = 3` is a "common" pattern in C, python and other languages. People who are coming to Rust may be surprised to see, that it doesn't work the intended way. There's no warning whatsoever, just a clippy lint:
[code]

I managed to implement this

[2019-08-14 13:46] hellow554 commented on #63556
Also I have a implemention issue right now:
[code]

How do I prevent the linter from visiting the expression again? The code is straight forwards ATM:

[code]

[2019-08-14 13:47] hellow554 commented on #63556
@rustbot modify labels: A-diagnostics A-suggestion-diagnostics T-compiler C-enhancement

[2019-08-14 14:01] nikomatsakis commented on #63032
OK, so, first of all -- removing the `+ 'static` bound (which is not necessary) makes the code compile.

[2019-08-14 14:06] nikomatsakis commented on #63032
I think that this bug is a duplicate of https://github.com/rust-lang/rust/issues/42940. What happens is that the return type of `start` is something like `Opaque<I>` -- i.e., it captures all the type parameters from the calling function. Now, we know that `type Opaque<I> = impl Future<Output=Vec<i32>> + 'static`, so it *ought* to compile, but because of #42940, we wind up requiring that `I: 'stati

[2019-08-14 14:10] nikomatsakis commented on #63032
As this is a duplicate of #42940, it doesn't need to block stabilization. In particular, I believe that improving our ability to figure out that the type is `'static` would be forwards compatible -- also, this is really a bug about impl Trait, more than `async` itself.

[2019-08-14 14:23] Centril commented on #63556
If you write:
[code]
you see a warning.

If on the other hand you actually use `x` at type which isn't `()` or `?T` you will find out that the type is `()` through a type error. In this case the user might be confused as to why the type is `()`.

Lints in the compiler have a cost in terms of compile times, so we need to ensure that they are useful.
So my question: Is there a sizeable number of use

[2019-08-14 16:25] michaelvoronov opened #63562 "Linking with extern function in Wasm"
I am trying to use  functions from an external module and importing them like that:

[code]

But if I have exported functions with the same names in my own module, there will be linked with these local functions (in these case these functions won't be in the import section of a compiled module). Is it possible to link with functions in external module having functions with the same name in your ow

[2019-08-14 16:50] petrochenkov commented on #40569
Closing as works-as-expected and cannot-be-changed.

[2019-08-14 16:50] #40569 closed

[2019-08-14 17:04] cmyr opened #63564 "Confusing error deriving PartialEq when child type impls PartialEq<OtherType>"
Compiling the following code

[code]
produces,

[code]

Which I found very confusing. It would be helpful, at least, if we could indicate that this error occurred during macro expansion?

Playground here: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ac13781b2c40c1966e18adfb919c236c

[2019-08-14 17:08] sgrif commented on #63510
If folks are continuing to see this, please comment here

[2019-08-14 17:23] iluuu1994 commented on #63526
I'll probably better wait until #63507 is merged 😊

[2019-08-14 17:34] sgrif commented on #62838
Closing as a dupe

[2019-08-14 17:34] #62838 closed

[2019-08-14 17:37] estebank commented on #63526
@iluuu1994 that should happen sometime today.

[2019-08-14 17:45] Centril opened #63566 "Meta tracking issue for RFC 1892, "Deprecate uninitialized in favor of a new MaybeUninit type""
This issue tracks the progress of `MaybeUninit<T>` in general. The type was introduced in https://github.com/rust-lang/rfcs/pull/1892. The old tracking issue is https://github.com/rust-lang/rust/issues/53491.

This issue is not for discussion about specific extensions to `MaybeUninit<T>` and only exists to provide links to other places that track the progress of specific issues. If you wish to dis

[2019-08-14 17:53] Centril opened #63567 "Tracking issue for `#![feature(maybe_uninit_extra,const_maybe_uninit_write)]`"
This is a tracking issue for the RFC "Deprecate `uninitialized` in favor of a new `MaybeUninit` type" (rust-lang/rfcs#1892).

This issue specifically tracks the following unstable methods:

[code]
and it tracks const-ness of
[code]

[2019-08-14 17:55] estebank commented on #63556
That would be a good extension of E0308 to explain what's happening in that case.

[2019-08-14 17:58] Centril opened #63568 "Tracking issue for `#![feature(maybe_uninit_ref)]`"
This is a tracking issue for the RFC "Deprecate `uninitialized` in favor of a new `MaybeUninit` type" (rust-lang/rfcs#1892).

This issue specifically tracks the following unstable methods:

[code]
(NOTE: on current nightly, these methods are still called `get_ref` and `get_mut`, but the FCP here decided a rename.)

[2019-08-14 18:01] Centril opened #63569 "Tracking issue for `#![feature(maybe_uninit_slice)]`"
This is a tracking issue for the RFC "Deprecate `uninitialized` in favor of a new `MaybeUninit` type" (rust-lang/rfcs#1892).

Most of this has been stabilized, this issue now only tracks the below unstable methods.

### Public API

[code]

### Steps / History

- [x] Implementation
- [x] Make slice methods inherent: https://github.com/rust-lang/rust/pull/129259
- [ ] Ensure documentation has exampl

[2019-08-14 18:03] Centril commented on #53491
Closing this in favor of a meta-issue which tracks `MaybeUninit<T>` more generally: #63566

[2019-08-14 18:03] #53491 closed

[2019-08-14 18:13] RalfJung commented on #63569
Note: https://github.com/rust-lang/rust/issues/63291 contains some APIs for *creating* uninitialized slices, but still does not have a good story for working with them, AFAIK.

Cc @SimonSapin

[2019-08-14 18:13] RalfJung commented on #63567
Latest status here:

I am beginning to think that `read` should probably be renamed to `read_init` or `read_assume_init` or so, something that indicates that this may only be done after initialization is complete.

[2019-08-14 18:15] RalfJung commented on #63568
The reason these are unstable is that most of the time, people should use raw pointers for as long as possible. So the question remains whether these methods carry their weight.

Of course, without https://github.com/rust-lang/rfcs/pull/2582 it can be hard to avoid creating references.

[2019-08-14 18:34] abonander commented on #49147
I think as long as we somehow clearly communicate that the idea is to not have side-effect that are dependent on the length of the array, I think the intuition that the initializer either needs `Copy` or needs to be a constexpr falls out of that. We can do this easily in error messages:

[code]

[2019-08-14 18:50] abonander commented on #49147
And I'm pushing this point because I'm _assuming_ that's the reason array initializers cannot have variable side-effects because that's what it looks like to me. The reference doesn't specify the motivation.

Does it also/instead have to do with not being able to report panics that occurred in the middle of initialization? That is, if any arbitrary expression was allowed and was run for every elem

[2019-08-14 20:26] Centril commented on #63393
This is odd; I basically pasted the code in `flatten.rs` verbatim into the [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f9643e7164fc020e8c010500abe91abd), made it compile,  and the made the tweaks above. The issue still won't reproduce but it does reproduce when I `./x.py check`.

Maybe this is a bootstrapping issue...

[2019-08-14 20:27] lilyball opened #63573 "Bad compiler warning when code resolves to multiple experimental APIs"
With Rust 1.36.0, `Range` has two implementations of `is_empty`, one in an inherent impl, the other in an impl for the `std::iter::ExactSizeIterator` trait. Both of these methods are experimental in this version of Rust.

Given the following code:

[code]

This produces the following output:

[code]

The problem is this warning does not tell me that either method is experimental. I also get the ex

[2019-08-14 20:29] lkillgore commented on #63513
Quick update: I've made a few changes that seem to have mitigated the problem for now (I'm not seeing the error in our telemetry for your account).  I'm still working at verifying the root cause.

[2019-08-14 21:18] joshtriplett commented on #44109
If we changed the syntax at this point, we'd need to cancel stabilization, and instead make the change in nightly and evaluate it further in nightly.

I think many people are...not enthusiastic about changing the syntax at what feels like the last minute. And in any case we can't just change it and immediately stabilize.

[2019-08-14 21:39] yodaldevoid commented on #44109
Personally I am all for changing the syntax as I do agree it looks better. All I care about is that this isn't just sitting in limbo for another few months.

That all said, my investment in this change is rather small compared to some others.

[2019-08-14 21:41] jsgf opened #63576 "Implement @argsfile to read arguments from command line"
Many tools, such as gcc and gnu-ld, support "args files" - that is, being able to specify @file on the command line.

Implemented in https://github.com/rust-lang/rust/pull/63175

This implements a straightforward form where each argument is on a separate line in a text file. This allows for everything except for arguments with internal line breaks.

Description (also in [docs](https://doc.rust-lan

[2019-08-14 21:56] danielhenrymantilla commented on #63568
I'll repost here something that I posted in the old tracker issue, for the sake of visibility, and because it is something that remains, imho, relevant to the topic at hand:

**Unstable** [`get_ref`](https://doc.rust-lang.org/std/mem/union.MaybeUninit.html#method.get_ref) / `get_mut` are definitely adviseable because the validity of references to uninitialized data (specially integer and floating

[2019-08-14 22:22] clarfon commented on #44109
If people are in favour of the syntax change, I agree with not doing a PR now-- perhaps the syntax version could be added and the attribute given a lint to push people to comment here?

[2019-08-14 22:50] punitkoura commented on #63551
Hi @bjorn3 @Centril, I'd like to work on this. Would be a good initial contribution to Rust :)

[2019-08-14 23:07] kubo39 opened #63578 "SIGSTKSZ may be too small to handle stack overflow exact CPU model and the Linux version"
[This ticket shows](https://bugs.python.org/issue21131) that python's test_faulthandler.test_register_chain() crashed on ppc64 and ARM64 on Linux 3.10 and newer.
It seems that rust has the [same problem](https://github.com/rust-lang/rust/blob/c43d03a19f326f4a323569328cc501e86eb6d22e/src/libstd/sys/unix/stack_overflow.rs#L139-L147).

- https://github.com/python/cpython/pull/15276 (How python fixes,

[2019-08-14 23:14] jonas-schievink commented on #63578
Rust does not directly call the previous handler, so this should not be an issue. See here:

https://github.com/rust-lang/rust/blob/c43d03a19f326f4a323569328cc501e86eb6d22e/src/libstd/sys/unix/stack_overflow.rs#L99-L104

The handler just unregisters itself and lets the kernel deliver the signal again.

[2019-08-14 23:24] punitkoura commented on #63551
I'm really new to the code base, though. Could you clarify what the `cg_ssa` means above?

[2019-08-14 23:28] jonas-schievink commented on #63551
That's `librustc_codegen_ssa`, a part of the code generation code in rustc. The code in the first snippet is located there.

[2019-08-15 00:05] punitkoura commented on #63551
Thanks for clarifying that! I'll go through the code and post any questions here.

[2019-08-15 02:38] CAD97 commented on #37854
I just want to note that the inclusive range pattern erroring with "exclusive range pattern syntax is experimental" is very not great. After all, I didn't use an exclusive range, I used an inclusive one!

[2019-08-15 03:15] CAD97 commented on #37854
(If you're following by email, I'm an idiot)

[2019-08-15 04:24] #60876 closed

[2019-08-15 04:25] #40014 closed

[2019-08-15 04:25] #46680 closed

[2019-08-15 04:25] #63504 closed

[2019-08-15 04:25] #63506 closed

[2019-08-15 04:25] #63398 closed

[2019-08-15 04:25] rust-highfive opened #63581 "`miri` no longer builds after rust-lang/rust#63575"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#63575, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and @rust-lang/compiler -- nomin

[2019-08-15 05:56] hellow554 commented on #63576
You probably mean #63175 because your link PR is just the rollup.
Can you please clarify that this is a tracking issue? You can take https://github.com/rust-lang/rust/issues/63569 as an example (or anything else with the [C-tracking-issue](https://github.com/rust-lang/rust/labels/C-tracking-issue) label)

[2019-08-15 06:22] crlf0710 commented on #46774
Should there be a function that works just like`thread::sleep_ms(1)`? This code doesn't capture the intention well.

[2019-08-15 06:52] GrayJack commented on #35121
What is the state of this one?

[2019-08-15 06:55] the8472 commented on #46774
I don't think such a thing belongs in the standard library because naive polling often is an anti-pattern. It prevents CPUs from entering power-save states and offers poor latency and scalability properties.

And in the cases where other alternatives are not available it one usually uses a more sophisticated approach involving loops over noops, pause instructions, yields and sleeps with backoffs.

[2019-08-15 07:16] Ralith commented on #44109
I don't mind slowing things down to get the syntax right, so long as it's making forwards progress rather than languishing in indecision.

[2019-08-15 08:59] AGausmann commented on #44109
The issue with syntax is mainly deliberation and making sure we have the best option for ergonomics, readability, etc. I would personally be in favor of a trailing `..`. It seems to fit with its existing usage in constructors and patterns, and it is easy to notice in declarations where variants/fields are typically line-delimited.

Something else that we need to consider is displaying the "non-exh

[2019-08-15 09:01] Centril opened #63585 "Cleanup: Use `#[rust_intrinsic]` and nix `rust-intrinsic` et. al"
Per @eddyb's suggestion (https://github.com/rust-lang-nursery/reference/pull/652#discussion_r314206468):

cc @oli-obk, @nagisa, and @nikomatsakis

[2019-08-15 09:19] matklad commented on #63484
I *think* this is actually expected behavior, at least with the current compilation model. Almost all functions in nphysics are **generic**, so the compilation to the actual machine code happens not in nphysics, but in the crate that fully specifies generic parameters (instantiates templates, in C++ parlance).

Because both the main crate and the shim crate fully specify nphysics types, you get tw

[2019-08-15 09:21] eddyb commented on #63585
Ideally these would be regular declarations (empty *or* self-calling, if we want to get clever about it), marked with some attribute (like lang items), without `extern { ... }` blocks at all.

*But* we've been waiting on that for years, so maybe splitting it into steps will help.

[2019-08-15 09:27] matklad commented on #63457
Note that `libarena` already exists out of tree as https://crates.io/crates/typed_arena, which is a well maintained and widely used crate.

[2019-08-15 10:28] phansch opened #63589 "Removing the exact lint count from the readme?"
Addition and deprecation of multiple lints in a short period of time has regularly caused merge conflicts because of the exact lint count at the top of the README: `There are 310 lints included in this crate!`

Does anyone feel like the exact count is worth having?
Removing the exact lint count would mean less friction for contributors.

I would probably just replace it with `There are over 300 li

[2019-08-15 10:28] phansch commented on #63589
Err wrong repo.. This should have been in the Clippy repo :sob:

[2019-08-15 10:28] #63589 closed

[2019-08-15 11:30] michaelwoerister commented on #57822
I can reproduce this on macOS and Linux. On Linux I can reproduce with a recent debug build of LLDB.

[2019-08-15 11:32] michaelwoerister commented on #57822
@rust-lang/compiler, maybe we should make this `p-high`. At least it's what I'll be working on until it's resolved.

[2019-08-15 11:36] xfix opened #63590 "CStr::from_ptr should be documented to not allow strings bigger than isize::MAX"
In #53784, `slice::from_raw_parts` was documented to not allow slices larger than `isize::MAX` bytes. However, `CStr::from_ptr` is not documented to have the same requirement, despite allowing the user to obtain a slice larger than `isize::MAX` bytes with its `to_bytes` method.

[2019-08-15 12:12] Centril opened #63591 "Combination of TAIT and ATB does not allow projection (unsatisfied bound)"
This should pass but does not:

[code]

cc @alexreg @varkor @nikomatsakis

[2019-08-15 12:37] Pzixel opened #63593 "Rust treat Self as dynamic when it shouldn't"
Here is a sample code:

[code]

Which fails to compile with

 --> src/lib.rs:4:5
  |
4 |     fn something<I: Inner<Self>>(i: I);
  |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ doesn't have a size known at compile-time

OTOH if we add a special `This` associated type then we are completely fine:

[code]

It looks like an undesirable behavior.

[2019-08-15 12:44] Centril opened #63594 "Incorrectly-/Un-spanned error with `type Out = Box<dyn Bar<Assoc: Copy>>;`"
With the following, the error appears in the wrong place (1), while it should be at (2).

[code]

cc @alexreg @estebank @varkor

[2019-08-15 12:53] fstirlitz commented on #63585
'Not purporting to the ABI' may be an overstatement. The mechanism by which a compiler realises function calls is usually called an ABI after all (or a 'calling convention'). For regular functions this means mangling the name and putting a call instruction into the caller's body; whereas for intrinsics it means looking up the intrinsic in a table built into the compiler and putting some operations

[2019-08-15 13:14] nikomatsakis commented on #63581
Compiler team triage: marking as P-high, as miri should build. @RalfJung, @oli-obk -- any idea what it takes to fix this?

[2019-08-15 13:15] nikomatsakis commented on #63520
Compiler team pre-triage: marking as P-medium, this is probably something wacky in my local setup. We'll see if others complain about it.

[2019-08-15 13:18] nikomatsakis commented on #63496
Compiler triage: Seems likely to be caused by the need for lazy norm. Marking as p-medium for now.

[2019-08-15 13:19] jonas-schievink commented on #63593
That this fails to compile is intended. Unlike type parameters, traits do not have a default `: Sized` bound, so `Self` in traits has an unknown size.

The issue with associated type defaults might be fixed by https://github.com/rust-lang/rust/pull/61812, I'll check that later.

[2019-08-15 13:22] RalfJung commented on #63581
It's already fixed in the Miri repo. Just takes someone to do the PR for rustc.

@lzutao do you want to do that?

Also @nikomatsakis, in the past we treated these as P-medium. Ultimately of course this is up to the compiler team, I personally will always treat it as high priority to keep at least the Miri repo itself working.

[2019-08-15 13:22] nikomatsakis commented on #63479
Compiler team triage: Definitely related to #62307. Going to assign to @pnkfelix for follow-up, although they are on leave until early September. It seems like this falls in a grey area: it was being accepted due to bugs in the existing code-base, *however* it is also a case that we likely could accept regardless of what rules we ultimately adopted.

@archseer is this regression affecting a real p

[2019-08-15 13:24] nikomatsakis commented on #63581
OK. I think it ought to be high priority to keep things building, personally, but I'm happy to defer to convention for now, as we have too many P-high bugs ultimately.

[2019-08-15 13:26] nikomatsakis commented on #63466
Compiler team pre-triage: Seems problematic! @roblabla do you know if this used to work in older versions? Or has it always been buggy?

[2019-08-15 13:27] RalfJung commented on #49147
@abonander the problem is not code that syntactically wouldn't be allowed in CTFE. The problem is code that *goes wrong* when doing CTFE -- either because it caused UB, or (more interestingly) because it is "unconst", meaning it would be safe at run-time but is not safe at compile-time.

We will, of course, have a proper diagnostic telling the user what went wrong when const-evaluating their code.

[2019-08-15 13:28] nikomatsakis commented on #51626
Compiler team pre-triage: Marking as P-medium as this is a rather old and long-standing issue that we have to resolve.

[2019-08-15 13:31] nikic commented on #63466
When using `+soft-float` on x86, you generally also need to specify `-mmx,-sse,-sse2` (possibly other FP features).

[2019-08-15 13:32] nikomatsakis commented on #55222
cc'ing https://github.com/rust-lang/rust/issues/51626, which presents an interesting case to remember -- basically, if you have a `type` with a default but the default makes the resulting type not well formed

[2019-08-15 13:33] RalfJung commented on #49147
Do we have a good name for the code that we run at const-time without the user asking for it? I used to talk about that as "promotion", but I think @eddyb calls other things promoted. I am talking specifically about the code that obeys `#[rustc_promotable]`, the code where *if* CTFE fails we screwed up because we should have just let that code run at run-time.

"implicitly promoted", maybe? Crucia

[2019-08-15 13:34] Centril commented on #55222
cc https://github.com/rust-lang/rust/issues/21903

[2019-08-15 13:34] lzutao commented on #63581
@rustbot claim

[2019-08-15 13:36] eddyb commented on #63585
@fstirlitz In all other situations, the "ABI string" (after the `extern` keyword) controls *the transfer of values* to and from (i.e. arguments and return value) the callee, but not *how the function is found*.

You mention mangling: mangling *is not* affected *in any way* by that "ABI string".
(`extern "ABI"` shouldn't have been the syntax, because AFAIK *all* it controls in C++ is mangling...)

[2019-08-15 13:43] rkruppe commented on #63466
The use of soft-float disables use of xmm registers, but parts of std are compiled without soft-float and expect parameters to be passed in xmm registers. This can be seen by [looking at the assembly](https://godbolt.org/z/punMJz) build without soft-float, searching for `xmm`, and comparing with same call under `+soft-float`. In this example, `core::result::unwrap_failed`, but this function is is

[2019-08-15 13:47] eddyb commented on #49147
@RalfJung `&expr` is affected by "implicit promotion (to `'static`)" but `const X: &T = &expr;` (and some amount of nesting) follows the same "temporary scope" rules `let x: &T = &expr;` does (but for `const`, the "surrounding scope" is `'static`).

What works for `const X: &T = &expr;` and doesn't when `&expr` is sufficiently nested in the RHS of the `const` (e.g. `const X: &T = { let tmp = &expr

[2019-08-15 13:53] nikomatsakis commented on #58375
Closing, thanks!

[2019-08-15 13:53] #58375 closed

[2019-08-15 14:09] archseer commented on #63479
I would say this is definitely a bug and the old behavior was correct: we're comparing function pointers so it shouldn't matter whether params derive or implement PartialEq, since no concrete parameter will be compared, but the functions themselves.

Real projects being affected: I spotted the regression when updating my erlang VM implementation to latest nightly (and latest tokyo async/await):

I

[2019-08-15 14:26] e-oz commented on #50297
Thank you very much, now I can't compile my project using Rust 1.38.0-beta.1:

"use of unstable library feature 'test': `bench` is a part of custom test frameworks which are unstable"

[2019-08-15 14:40] nikomatsakis opened #63597 "document that target features are unsafe"
When discussing https://github.com/rust-lang/rust/issues/63466 in the compiler team triage meeting, it became clear that target-features ought to be considered generally unsafe. We should document this fact in the `-Chelp` and in the [rustc book](https://doc.rust-lang.org/rustc/index.html). Ideally, we'd also start listing out known gotchas.

For example, in #63466 @nikic noted that:

and @rkruppe

[2019-08-15 14:41] nikomatsakis commented on #63466
We discussed this in today's compiler team triage meeting. We decided to close this issue in favor of the (newly opened) https://github.com/rust-lang/rust/issues/63597, which indicates that we ought to document the safe usage of target features. Thanks @roblabla for bringing this to our attention. =)

[2019-08-15 14:41] #63466 closed

[2019-08-15 14:53] nikomatsakis commented on #63516
Compiler team update:

This looks pretty clearly like a problem caused by LLVM's optimizations, though it could be rustc's fault for generating invalid data. The source code in [this comment](https://github.com/rust-lang/rust/issues/63516#issuecomment-520834166) looks *fairly* minimal. It really needs somebody to try and determine if this is an LLVM bug or what.

[2019-08-15 14:55] euclio opened #63598 "Confusing error message with lifetime in trait"
[Given](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=381d0b8ca9363a314dd16bef11da7c4d):

[code]

[code]

There's no `&` in the code, so it looks like the desugaring is leaking.

[2019-08-15 15:00] rkruppe commented on #63516
The reproduction in https://github.com/RusPiRo/ruspiro-loader/tree/master/compile-issue is small at first look but pulls in a number of non-trivial crates. It would help if someone could minimize it to a smaller single-crate (or perhaps two-crate since inlining is relevant) program that can be built just with a handful of compiler invocations. Ideally, the linker script and other non-standard buil

[2019-08-15 15:09] Centril commented on #63479
Reduced:
[code]

[2019-08-15 15:10] nikomatsakis commented on #63516
Ah, ok, I missed the dependencies =)

[2019-08-15 15:11] Centril commented on #63479
Changing to a raw pointer makes it compile successfully:
[code]

[2019-08-15 15:53] nikomatsakis opened #63599 "Stabilize RFC 2451, re-rebalance coherence"
# Stabilization Proposal

I am writing to propose we stabilize the implementation of [RFC 2451], "re-rebalancing coherence" ([tracking issue]).

[RFC 2451]: https://rust-lang.github.io/rfcs/2451-re-rebalancing-coherence.html
[tracking issue]: https://github.com/rust-lang/rust/issues/55437

## Brief Summary

The RFC modifies the coherence rules. It used to be that, when implementing a non-local tra

[2019-08-15 15:55] nikomatsakis commented on #63599
@rfcbot fcp merge

Dear @rust-lang/lang, I propose that we **stabilize** the re-rebalancing coherence changes. This issue opens with a description of the changes and some examination of test cases. Please review and feel free to note any missing patterns, I'm opening a PR shortly adding and adjusting tests as needed.

Also, I don't think we've updated the reference, so I've included a checklist it

[2019-08-15 15:55] nikomatsakis commented on #55437
@djc see https://github.com/rust-lang/rust/issues/63599

[2019-08-15 15:56] nikomatsakis commented on #55437
Er, I could have worded that a bit more broadly for everyone. =) https://github.com/rust-lang/rust/issues/63599 contains a stabilization proposal. Thoughts etc welcome in that issue.

[2019-08-15 16:18] cuviper commented on #63520
I have also seen this in Fedora and RHEL builds, but I didn't worry enough to chase it down yet.

This error is actually from `rustc` itself:

https://github.com/rust-lang/rust/blob/1cdcea920e56a5d0587307a4c9cf8fff5c77c4bc/src/librustc_driver/lib.rs#L1189-L1194

Arguments 5 and 6 from the `rustc` command in your report are:

    -L /home/nmatsakis/versioned/rust-6/build/x86_64-unknown-linux-gnu/te

[2019-08-15 16:31] #50301 closed

[2019-08-15 16:31] #63226 closed

[2019-08-15 16:31] rust-highfive opened #63601 "`miri` no longer builds after rust-lang/rust#63592"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#63592, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @Centril, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @Centril, the PR reviewer, and @rust-lang/compiler -- nomin

[2019-08-15 16:40] cuviper commented on #63520
Oh, I think I do know why. That `bad_dir` in the Makefile is assuming shell expansion of that `$$'\xff'` (with doubled `$$` to escape from `make` itself). Fedora and RHEL use `sh` -> `bash` which does expand it, but Debian and Ubuntu (used in CI) have `sh` -> `dash`, which is a more limited shell.

bash:
[code]

dash:
[code]

So I think this test hasn't really been working as desired on `dash`-usi

[2019-08-15 16:51] vitalyd opened #63605 "1.37 source component packaging looks different from previous versions"
Hi,
Apologies if reporting this here isn't the most appropriate place, but thought someone else may run into it as well.

It appears there're some material differences in how the Rust 1.37 release is packaged, namely around the source download.

The [tarball](https://static.rust-lang.org/dist/rustc-1.37.0-src.tar.gz) for stable sources is named differently.  Up to 1.36, it used to be of the form `

[2019-08-15 17:01] estebank commented on #52082
The cases `TyParam` and `TyRef` need to be handled in

https://github.com/rust-lang/rust/blob/f7af19c279b8b7ea3d2c21fcbd67164af8d5d968/src/librustc_typeck/check/expr.rs#L1437

for the former by doing something like

[code]

and finding the appropriate param name and use its span to point to. For the `TyRef` case it's slightly harder because you need to dereference to find if it is an ADT or a `Par

[2019-08-15 17:11] vitalyd commented on #63605
@Mark-Simulacrum would you happen to know anything about this?

[2019-08-15 17:12] ehuss commented on #63484
Ah, I had been trying to think of how this might happen, that sounds like a plausible explanation!  I've been having a similar problem trying to override the profile for `std`, but I am getting linker errors due to symbol name munging. I wonder if it is the same issue!

[2019-08-15 17:17] ollie27 commented on #63605
https://static.rust-lang.org/dist/rust-src-1.37.0.tar.gz loads fine for me.

[2019-08-15 17:19] cuviper commented on #63520
Note, the `dist-i686-linux` and `dist-x86_64-linux` builders do use CentOS 5 as the base image, which would have this issue too, but we don't actually run tests there. It would be nice to add some diversity to the testing images, either with Fedora or perhaps the redistributable [RHEL8 UBI](https://www.redhat.com/en/blog/introducing-red-hat-universal-base-image).

[2019-08-15 17:20] jonas-schievink commented on #63605
Yeah, the old format still works and also contains `install.sh`.

[2019-08-15 17:23] vitalyd commented on #63605
@ollie27 / @jonas-schievink thanks - I must've not had enough coffee today cause I could've sworn I looked for the old one earlier and didn't find it.  Sorry for the noise then 🤦‍♂

Ok, and so while we're on the subject - the expectation is the `rust-src` tarball will continue existing and we should install the `rust-src` components via the `install.sh` there, right? I shouldn't try to modify my s

[2019-08-15 17:24] xTachyon opened #63608 "SIGSEGV on arm"
Hello. I've been directed to create a issue here after a talk on one of the rust discord servers. Hopefully I got right.

So I'm trying to compile one of my projects on a Raspberry Pi.
[code]

However, something crashes, but I couldn't make much sense of it:

[code]

What can I do ? Is this a compiler bug ?

[2019-08-15 17:34] matthiaskrgr opened #63609 "pgo: -Cprofile-use can't find file"
[code]
[code]

The file is definitely there, but for some reason it is not found??

`rustc 1.38.0-nightly (c43d03a19 2019-08-14)`

[2019-08-15 17:42] crlf0710 commented on #63457
Opened https://github.com/SimonSapin/rust-typed-arena/issues/28 .

[2019-08-15 17:50] jonas-schievink commented on #63609
Does it work when specifying an absolute path? Maybe Cargo runs rustc in an unexpected working dir.

[2019-08-15 17:54] matthiaskrgr commented on #63609
Oh that works, weird...

[2019-08-15 18:04] ollie27 commented on #63516
I think `0xc0000008` is from inlining `(data & 0xFFFF_FFF0) | ((channel as u8) & 0xF) as u32` from https://github.com/RusPiRo/ruspiro-mailbox/blob/baf443680845ef6331bda9886010b83f9d0aedf8/src/interface.rs#L107. You can see the same constant in the assembly for similar code on the [playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=674002775697bd8e8daf24510e804fb

[2019-08-15 18:09] #63605 closed

[2019-08-15 18:10] vitalyd commented on #63605
Closing as the root issue is my brainfart :).

[2019-08-15 18:42] estebank commented on #57780
Closing in favor of more targeted #26454. The second point has already been fixed.

[2019-08-15 18:42] #57780 closed

[2019-08-15 18:45] estebank commented on #26454
[Self-contained repro case](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=613129e019a1b6e34d77bed488f7a036):

[code]

[code]

[2019-08-15 18:49] estebank commented on #63594
[code]

[2019-08-15 18:51] estebank commented on #63594
HA! Running with `RUSTC_LOG=rustc_typeck=debug` causes a cycle error:

[code]

[2019-08-15 19:11] little-dude commented on #27709
Not much has happened since https://github.com/rust-lang/rust/pull/60145. Should we go ahead an stabilize the `Ipv4Addr` and `Ipv6Addr` that are behind the `ip` feature?

[2019-08-15 19:15] clarfon commented on #44109
Right now there is a header for enums, structs, and variants that clarifies non-exhaustiveness and what it means. I agree that the syntax would be very consistent with a trailing `..`, and that a syntax would be nicer than an attribute.

Right now I'm wondering if anyone has the time to make a PR to add this syntax so people can try it out. The attribute would be deprecated and point others here t

[2019-08-15 19:19] Centril commented on #63599
@rfcbot concern make-sure-we-add-these-tests

:)

[2019-08-15 19:20] scottmcm commented on #63599
Curiosity: is `T` covered by `[T; N]` and `(T,)`?

[2019-08-15 19:29] lkillgore commented on #63513
Quick update: I think we found the root cause, and we have a fix, which should roll out over the next few days.  It appears the last mitigation I mentioned didn't fix the problem completely; our telemetry reports that your account had additional failures afterward.  I made another change, and I haven't noticed this problem on your account for the last few hours, so I think you should be good-to-go

[2019-08-15 19:46] miikkas commented on #61226
I guess this is the same bug, but the examples I've seen here concern non-ASCII characters in comments. I'm getting a similar rustc panic from an erroneous code:

main.rs:
[code]

Compilation attempt:
[code]

[2019-08-15 19:54] alexreg commented on #63594
Yeah, that's often been my bane when debugging issues...

[2019-08-15 19:56] Centril commented on #63594
That's super odd (and also incorrect, from what I can tell...).

[2019-08-15 19:57] rkruppe commented on #62231
I pushed an updated patch including performance note in https://github.com/rust-lang-nursery/reference/pull/607, please check it out.

[2019-08-15 19:59] jsgf commented on #62017
I can reproduce this easily, but only with non-optimized builds. With any level of optimization this goes away. For example, this input:
[code]
will crash if compiled with `rustc -Crelocation-mode=static --emit=asm,link --crate-type=bin reloc.rs`, as it has the bogus
[code]

But if I add -Copt-level=1, it generates a proper rip-relative reference:
[code]

So I think there's more to it than just ha

[2019-08-15 20:03] petrochenkov commented on #48781
`__rust_unstable_column` is removed in https://github.com/rust-lang/rust/pull/63613.

[2019-08-15 20:06] Centril commented on #61226
@miikkas Please file a new issue and reference this one.

[2019-08-15 20:08] ehuss commented on #61226
I think it's fixed, try `nightly-2019-08-14`.

[2019-08-15 20:09] MabezDev opened #63614 "write_fmt return number of bytes written"
The current [`write_fmt`](https://doc.rust-lang.org/std/fmt/trait.Write.html#method.write_fmt) implementation has a return type of `Result<()>` is there any technical reason it couldn't return the number of bytes written? Similar to sprintf in C.

An example use case in Smoltcp:
[code]
The return type of the closure requires indicates the number of bytes used such that smoltcp can flush those byte

[2019-08-15 20:12] jonas-schievink commented on #63614
I don't think there's a technical reason for it, but changing it would be a breaking change, so it's not going to happen.

[2019-08-15 20:15] dtolnay commented on #44109
I don't have an opinion on syntax (please keep discussing) but I'd like to weigh in on one other aspect of #\[non_exhaustive\] that I find makes the current design inappropriate for my use case.

@Centril and I had a chat about #\[non_exhaustive\] because Syn is such an obvious use case for it -- we need to be able to add variants over time as new syntax is added to Rust. Our requirements are:

1.

[2019-08-15 20:17] RalfJung commented on #63601
Duplicate of https://github.com/rust-lang/rust/issues/63581.

[2019-08-15 20:17] #63601 closed

[2019-08-15 20:20] matthiaskrgr commented on #63609
I would suggest the following:
if the path is absolute and works, use it.
If the path is relative but exists, print an error but suggest using its absolute path/form.
Otherwise throw an error as before.

[2019-08-15 20:24] jonas-schievink commented on #63609
Nit: The error message should also be changed to start with a lowercase letter (so "file" instead of "File")

[2019-08-15 20:29] matthiaskrgr commented on #63609
It is also strange that  `-Cprofile-generate` works with relative paths but `-Cprofile-use` does not..
Maybe that should be consistent somehow...

[2019-08-15 20:35] jonas-schievink commented on #63609
I believe `-Cprofile-generate` will just write the relative dir into the binary, so wherever you run the binary it will write to that path (ie. rustc never needs to do any IO with that path). If you run rustc by hand relative paths should work fine with `-Cprofile-use` though.

Oh and the [rustc book mentions this](https://doc.rust-lang.org/rustc/profile-guided-optimization.html):

[2019-08-15 20:36] memoryruins commented on #63608
Thanks for reporting! Potentially a duplicate of #62896

[2019-08-15 20:50] MabezDev commented on #63614
Fair enough. Is there anyway to use the formatter and get the number of bytes it will create? I really want to avoid hand rolling formatting if possible.

[2019-08-15 20:58] jonas-schievink commented on #63614
The only way I can think of is wrapping the formatter and keeping your own count

[2019-08-15 21:03] jonas-schievink commented on #63608
@xTachyon can you try to reproduce this on stable 1.37 and on the current beta?

[2019-08-15 21:03] CAD97 commented on #44109
A solution on the syntax side:

If the syntax for a non-exhaustive enum is `enum E { A, B, .. }`, then it'd make sense for the consumption syntax to match. Specifically, allow

[code]

a trailing `..` would then act as `_ => unimplemented!()` but have a warn-by-default lint if it's reachable. If a use case wanted a fallback other than a panic, they could write

[code]

[2019-08-15 21:19] MabezDev commented on #63614
It's a bit awkward, but it works. Thanks!

[2019-08-15 21:28] Ralith commented on #44109
I'm not a huge fan of having such a small, easily missed piece of syntax introduce a panic. Users should be encouraged to handle new cases with a graceful fallback, not by killing the process. It also requires even *more* attributes than @dtolnay's approach, despite introducing new syntax.

[2019-08-15 21:32] nagisa commented on #63608
Alternatively try to reproduce with `RUSTFLAGS='-Ccodegen-units=1'` environment variable set.

[2019-08-15 22:03] estebank commented on #61226
@miikkas @ehuss confirmed fixed by #63508.

[2019-08-15 22:06] tmandry opened #63616 "Handle partial initialization correctly in generators"
Problem: consider something like the following,

[code]

This can result in a local saved in our generator of type `((), !)`, which is partially initialized across the yield. In the layout code we claim that fields are all fully initialized across yields. (This is still a problem even if the second field is not of type `!`, but is particularly egregious in that case.)

Today this doesn't result in

[2019-08-15 22:06] tmandry commented on #54987
Opened #63616.

[2019-08-15 22:13] andjo403 commented on #63552
have bisected this regression and it is the PR rust-lang/llvm#115 that causes the regression.
maybe @nikic knows what can cause this regression.

[2019-08-15 22:27] nikomatsakis opened #63618 "object lifetime bound defaults in trait bindings are incompletely implemented"
In https://github.com/rust-lang/rust/pull/63376, we fixed the behavior of default object lifetime bounds in "binding arugments", as described in [this gist](https://gist.github.com/nikomatsakis/e0ac0276744d10b952cf4ea3d3d8a814). For example the following type;

[code]

will now default `dyn Baz` to `dyn Baz + 'static`.

However, the rules were incompletely implemented. If the trait has a lifetime

[2019-08-15 22:28] nikomatsakis commented on #63618
(Note also: PR #63376 has not landed yet and this behavior is not finalized as of this writing. I just wanted an issue I could link to.)

[2019-08-15 22:37] nagisa commented on #63585
Agreed that we want intrinsics to be plain function definitions with an attribute.

[code]

It is perhaps a nice thing to make function pointers to intrinsics work; having intrinsics to be function definitions that self-call would make it "just work", solving a long-standing ICE with intrinsics.

[2019-08-15 22:43] zackw opened #63619 "Confusing error message when a trait bound is unsatisfied due to lack of mutability"
In this code, `fp` should have been declared as a mutable reference, and the compiler gives you a nice clear error message saying so:

[code]

⟶

[code]

But you have a BufWriter in between `writeln!` and the match, you get a different and very confusing error message:

[code]

⟶

[code]

How can it possibly be that "the trait `std::io::Write` is not implemented for `&dyn std::io::Write`" ?!  Well

[2019-08-15 22:43] Centril commented on #63585
Would be good to note what gains we expect from this other than making function pointers to intrinsics work (why is that important anyways?...).

[2019-08-15 22:52] zackw commented on #63619
It's also maybe worth mentioning that you get two additional error messages from the second example program, both of which are useless noise -- the second error repeats the first one with slightly different caret highlighting, and the third error complains (at the point of the `writeln!`) that `std::io::BufWriter<&dyn std::io::Write>` doesn't implement `std::io::Write` either.  But it would have i

[2019-08-16 00:11] adamdrake opened #63622 "Short-circuit behavior and order in expressions results in 15x performance difference?"
I have just started playing with Rust again via Project Euler Problem 4 and I noticed some interesting short-circuit behavior in expressions.  In the two functions below, `v2()` is approximately 15 times faster than `v1()` just due to the ordering in the `if`.  It's great that there is a short-circuit option and accompanying speedup, but is it expected that developers will be mindful of the orderi

[2019-08-16 00:17] leijurv commented on #63622
This is intended. If `prod > res` evaluates to true, it will short circuit and not evaluate the slow function `is_palindromic_v1`

Yes

[2019-08-16 00:22] adamdrake commented on #63622
Thank you for the response.  I am familiar with the short-circuit semantics but since I hadn't ever heard of it in relation to Rust I wasn't sure if it was desired/documented behavior.  Perhaps just too new to the language to have perused enough of the documentation.

[2019-08-16 00:22] #63622 closed

[2019-08-16 01:18] estebank commented on #63164
What is the appropriate visibility scope for `macro ABC`? `get_module` is failing because we get the following instead:

[code]

In my mind the expected semantics of this could would be to scope `ABC` to inside `moo`, but currently with a macro by example it would be scoped to the current module.

[2019-08-16 01:20] Aaron1011 commented on #57642
This is now a compiler error with `-Z no-leak-check`:

[code]

[2019-08-16 01:46] lzutao opened #63623 "[llvm build] Host compiler must support std::atomic"
I cannot build rustc locally with commit f7af19c279.

The build log is:

[code]

---

### Host machine

[code]

### Custom `config.toml`

[code]

[2019-08-16 03:16] elichai opened #63625 "Feature Request static asserts"
I think asserts are a pretty common thing, especially in unsafe rust (checking sizes/alignments etc.)

Now with anonymous consts we can already do things like:
[code]

I propose to add macros like this to the core library, with the whole `assert`/`assert_eq`/`assert_ne` facade.

I think these would be really useful

[2019-08-16 04:56] memoryruins commented on #63625
It is definitely useful! Check out the [static_assertions](https://github.com/nvzqz/static-assertions-rs) crate, which offers similar macros for compile-time asserts. It might be worth seeing if there is anything left to explore in that crate before putting the macros into core. The [Rust Internals forum](https://internals.rust-lang.org/) is often a good place for discussions like these. cc @nvzqz

[2019-08-16 05:25] lopopolo opened #63626 "C FFI functions have incorrect signatures in wasm bundle when targeting wasm32-unknown-unknown"
We have a crate called `mruby-sys` which uses the `cc` crate to build a C static library. Building this library fails to link when building the `wasm32-unknown-unknown` target due to function signature mismatches. When using the same build process for the C code with clang-8, the code links and is runnable in node via its `WebAssembly` infrastructure. This code links and runs correctly when target

[2019-08-16 05:47] matthewjasper commented on #57642
Yes, but it should be two compiler errors, one in make_f and one on make_g.

[2019-08-16 05:59] Patryk27 commented on #63598
Same error happens without `async` (https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=73ef6567cb981e4f8a41729e66c0a12a), so seems like it's not related to that.

[2019-08-16 06:41] matthiaskrgr commented on #63625
https://github.com/rust-lang/rust/blob/master/src/librustc_data_structures/macros.rs#L4

[2019-08-16 07:12] pietroalbini opened #63628 "Crater runs for Rust 1.38.0"
cc @rust-lang/release

[2019-08-16 07:12] #62389 closed

[2019-08-16 07:12] pietroalbini commented on #63628
@craterbot run name=beta-1.38-1 start=1.37.0 end=beta-2019-08-13 mode=build-and-test cap-lints=warn p=10

[2019-08-16 07:13] pietroalbini commented on #63628
@craterbot run name=beta-1.38-rustdoc-1 start=1.37.0 end=beta-2019-08-13 mode=rustdoc cap-lints=warn p=5

[2019-08-16 07:43] lopopolo opened #63629 "Wasm bundle for sys crate with FFI exports is empty"
I'm trying to compile [`mruby-sys`](https://github.com/artichoke/artichoke/tree/master/mruby-sys) to wasm. `mruby-sys` builds a C static library using the `cc` crate. `cc` generates two wasm files, one of which I can't read with `0000004: error: bad magic value` error. The other looks like valid wasm and I can read it with `wasm2wat`.

crate `mruby-sys` [exports](https://github.com/artichoke/artic

[2019-08-16 07:55] Erzawenn commented on #54137
I'm facing the same issue with stable version 1.36. I don't know if it is an issue in the documentation which doesn't state that on Windows, you have to link with CRT or in the crate `panic_abort` that doesn't define this symbole on msvc starget.

In [src\librustc_codegen_llvm\context.rs](https://github.com/rust-lang/rust/blob/master/src/librustc_codegen_llvm/context.rs), a different name is defin

[2019-08-16 08:09] RalfJung commented on #63616
Cc @eddyb

[2019-08-16 08:09] michaelwoerister commented on #63226
Nice! Thanks @oli-obk for writing up the instructions and @JohnTitor for implementing them!

[2019-08-16 08:43] 2ndTaleStudio commented on #63516
@ollie27 Well nice spotted, but I think this is not a generic valid optimization...
Check the following please:
[code]
The output is: ``data:C00001A3, opt:C00001A8``
So the optimization is only valid in case the channel value is 8.
However, even if this optimisation is fine and only be the visual spotted symptom I'm still struggling with the fact, that inlining a function might cause different beh

[2019-08-16 08:58] resilar opened #63631 "rustc (>= 1.20.0) fails to optimize moves in trivial cases"
The example code below generates extra stack copies of String (meta)data in function `got()` which is expected to produce identical *optimized* code with `expect()`. For quickly verifying the issue, compare `sub rsp, $FRAME_SIZE` instructions which initialize stack frames in the beginning of `got()` & `expect()` functions compiled with `-C opt-level=3` (or measure & compare the generated code size

[2019-08-16 09:01] resilar commented on #63631
Note that corresponding C++ code is *NOT* expected to optimize due to the braindead aliasing model in C++. Rust aliasing rules are more reasonable allowing more optimization opportunities, including the case presented above. In Rust, `.push_str()` is assumed to behave sanely, i.e., *not* to overwrite arbitrary piece of memory despite mutating data through a `&mut` reference. Therefore, the moves i

[2019-08-16 09:09] andjo403 commented on #63623
what gcc version are you using?
when did it work last time? a week ago llvm-project submodule was updated last time

[2019-08-16 09:09] xTachyon commented on #63608
So I made a new crate with the only dependency `libc = "0.2.62"` and tried to compile it on stable, beta, nightly, with and without that env variable.

[code]

[2019-08-16 09:14] lzutao commented on #63623
[code]

Probably a few days ago. Then I hit `git clean -xfd` at root dir of the repo and cause
llvm to be rebuilt.

[2019-08-16 09:41] andjo403 commented on #63623
strange the atomic test code works on [godbolt](https://godbolt.org/z/_YC1PP) as expected.
can it be some problem with the ccache?

[2019-08-16 09:54] lzutao commented on #63623
Thanks. This shall be problem with my llvm build
[code]

I will check it later and report here.

[2019-08-16 09:58] nikic commented on #63608
Based on armv7-unknown-linux-gnueabihf target and libc dependency, this is very likely a duplicate of #62896.

[2019-08-16 09:58] #63608 closed

[2019-08-16 10:42] #62401 closed

[2019-08-16 10:42] #63533 closed

[2019-08-16 10:42] #63393 closed

[2019-08-16 10:56] lzutao commented on #63623
I rebuilt and install clang from scratch. rust llvm has been build fine since then.
Closing as not a bug.

[2019-08-16 10:56] #63623 closed

[2019-08-16 12:25] eddyb commented on #63585
@Centril using FFI imports causes all sorts of undesireable behavior, such as all intrinsics being `unsafe` and their `const fn`-ness being a complete hack.

There are situations where we have a safe wrapper (or several, in the case of generic intrinsics, especially those generic over integer/float primitives) around an `unsafe` intrinsic, and we would prefer to mark that wrapper as the intrinsic.

[2019-08-16 13:05] gnzlbg opened #63633 "Remove repr(simd) attribute and use a lang-item instead"
After #63531, we should, at some point, expose a `#[lang = "packed_simd"] struct Simd<T, const N: usize>([T; N]);` from libcore that we handle specially in the compiler instead of using a `#[repr(simd)]` attribute for it.

[2019-08-16 13:46] nvzqz commented on #63625
@memoryruins it looks like you're not the only one this week suggesting this: https://github.com/rust-lang/rust/pull/61347#issuecomment-520943044.

[2019-08-16 14:29] michaelwoerister commented on #57822
I've been able to make some progress here. I was not able to pinpoint why exactly LLDB fails to load the type info for fields in question but for the test cases I had, the bug occurred only when LLDB tries to get the type information of fields in a closure environment. I tried debugging further but with my limited understanding of LLDB's codebase makes this very time-consuming.

So, for the time b

[2019-08-16 14:30] clarfon commented on #44109
I am strongly against any syntax affecting match blocks.

One thing that would help solve dtolnay's use case is the ability to modify the visibility of the non-exhaustiveness. If the visibility were public, then it would act as if the non-exhaustiveness weren't there.

The main issue I have with this is that you can't easily put an attribute on the visibility on syntax, and it would be probably ea

[2019-08-16 14:39] nikomatsakis commented on #63599
Hmm, writing up some new tests, I am finding that the current implementation is not working as expected! In particular, the behavior around fundamental types seems wrong, or else I am misreading the RFC.

For example, this impl is allowed:

[code]

This is despite the text in the RFC which says:

I presume here that "`Box<T>` is not considered covered" meant that the `T` is not considered covered

[2019-08-16 14:41] #63581 closed

[2019-08-16 14:46] joshtriplett commented on #62231
The updated version looks great!

@rfcbot fcp merge

[2019-08-16 14:49] SimonSapin commented on #40230
@DevQps I’m not sure what kind of response you expect :/ In my view we are in either one of two situations:

* The two functions are fully interchangeable, or one of them is strictly "better" and could be used instead of the other. In this case we would not have a good reason to keep two functions, and could remove one of them.

* Or, there is some kind trade-off: one function is preferable in som

[2019-08-16 15:06] SimonSapin commented on #43038
Is there a case where this would be useful? I feel that having multiple references to the thing is the point of this API.

[2019-08-16 15:09] jethrogb commented on #43038
You can trivially convert a `&mut Cell<T>` to a `&Cell<T>` and then hand out multiple references. Also, it's too late now because 1.37 has been released.

[2019-08-16 15:32] czipperz commented on #43038
Is there a way to go from `&mut Cell<T>` to `&mut T`?

[2019-08-16 15:36] jethrogb commented on #43038
https://doc.rust-lang.org/std/cell/struct.Cell.html#method.get_mut

[2019-08-16 15:44] alexcrichton commented on #46821
This crate has long since been deleted, so I'm going to close this.

[2019-08-16 15:44] #46821 closed

[2019-08-16 15:47] jesboat commented on #62017
I think this might be in LLVM. I made a self-contained (i.e. doesn't pull in any library stuff like `format!`) example, the tldr of which "call a function where an argument is a function pointer to another crate":

[code]

The last LLIR before the instruction selection phases is

[code]

and immediately after the instruction selection phases, the call is lowered to:

[code]

Note how the MOV64rn h

[2019-08-16 15:52] alexcrichton opened #63638 "rustdoc: Poor CPU usage during thousands of doctests"
When running the doctests for the `core` crate on my 28-core system the system unfortunately never really gets above 40% cpu usage, yet the doctests being compiled are embarassingly parallel and should result in full usage of the cores available to execute.

For now this can be reproduced with `./x.py test src/libcore --doc` and watching CPU usage via `python src/ci/cpu-usage-over-time.py`

One su

[2019-08-16 15:55] SimonSapin commented on #63568
I agree that these methods are useful after the value has been fully initialized, at which points references are valid not matter which way future language decisions go. However I think that dropping the value should be an entirely separate concern, and should not be conflated in the same APIs as obtaining a reference.

[2019-08-16 15:58] SimonSapin commented on #35121
As far as I know the status has not significantly changed since my summary in https://github.com/rust-lang/rust/issues/57012#issuecomment-467889706.

[2019-08-16 16:00] czipperz commented on #43038
So that's the reason why this should return `&mut Cell<T>` imo.

[2019-08-16 16:13] RReverser commented on #60231
@alexcrichton It does look like #59712 is related.

At least passing `-C relocation-model=pic` in addition to `-C link-arg=--shared` doesn't seem to have any effect, so addresses stay incorrect (static).

Do you think there's a way to override relocation mode back to PIC for consumer experimentation with shared Wasm libraries?

[2019-08-16 16:20] SimonSapin commented on #43038
This discussion is somewhat academic since `Cell::from_mut` is now stable on the stable channel, but:

* If you’re gonna convert to `&Cell<T>` anyway, why would it be useful (rather than merely not an obstacle) for `Cell::from_mut` to return `&mut Cell<T>`?
* If you’re gonna call `Cell::get_mut` on the result, why is it useful to go through `Cell::from_mut` in the first place? `&mut T` is what you

[2019-08-16 16:24] eddyb commented on #61978
We could potentially replace the `.rlib`s with just `.rmeta`s, which would still allow to use those crates, we'd just need a way to force linking against `librustc_driver.so` (which contains the actual machine code from those crates).

I've previously suggested this in https://github.com/rust-lang/rust/pull/59800#issuecomment-503990460.

[2019-08-16 16:28] czipperz commented on #43038
I see what you mean.  This is a tool for allowing temporary usage through a `&Cell<T>` for single thread scoped shared state.  But the long term storage solution should be `&mut T`.  I guess this api limits people to not store `&mut Cell<T>` that points to `&mut T`.  But I don't know how useful that is in reality.

[2019-08-16 16:55] Lord-Kamina commented on #55737
@Ionic The problem is most likely the same in as in cargo, people assume `DYLD_LIBRARY_PATH` is equivalent to `LD_LIBRARY_PATH` and set it to whatever but it's actually not thes same. `DYLD_LIBRARY_PATH` is a hack and should not be used at all if possible because it overrides default system search paths. Instead, `DYLD_FALLBACK_LIBRARY_PATH` should be used; as those paths are only searched if a su

[2019-08-16 16:58] Lord-Kamina commented on #36250
I've said this in a bunch of different issues already in both here and the cargo repo. The root cause of the problem is `DYLD_LIBRARY_PATH`; people assune it is equivalent to `LD_LIBRARY_PATH` but it isn't. `DYLD_LIBRARY_PATH` should never be used because it's a hack and overrides default system search paths. Instead, you should use `DYLD_FALLBACK_LIBRARY_PATH` as that only searches anything if a

[2019-08-16 16:59] wesleywiser commented on #62022
This was closed in #62760

[2019-08-16 16:59] #62022 closed

[2019-08-16 17:13] AGausmann commented on #57012
How useful / necessary is the trait impl? Conversion from `!` to any type `T` can be trivially done using the empty match statement, which is guaranteed to work everywhere. I wouldn't mind having to something like `result.map_err(|never| match never {})?` until this is resolved.

[2019-08-16 17:19] AGausmann commented on #57012
I re-read everything and I get it now - preventing `impl<!> for MyType` from happening. :+1:

[2019-08-16 17:23] SimonSapin commented on #48784
https://github.com/rust-lang/rust/issues/48784#issuecomment-433644981 is a poll, not a pFCP. These days rfcbot starts FCP when it has not more than two check boxes missing, so I think this one should be considered accepted. Feel free to send a stabilization PR.

[2019-08-16 17:48] fenhl commented on #62896
This also seems to be a workaround for the original issue.

[2019-08-16 18:02] newpavlov commented on #55615
We have a similar situation in the `wasi` crate. We would like to rely on layouts being exactly the same for these two structs definitions:
[code]
Note the asserts. Since we check at compile time that both structs have exactly the same size, it means that niche optimization is applied, meaning that `Result<(), NonZeroU16>` and `u16` have exactly the same memory representation. So will be casting o

[2019-08-16 18:24] gnzlbg commented on #55615
@eddyb I think this could be a small RFC proposing to guarantee this, and including the couple of motivating examples shown here. We don't have to wait for the UCGs to come up with an RFC.

I don't know if this might also be FCP material for a PR to the reference. I would be more comfortable with it being a proper RFC.

[2019-08-16 18:35] #54712 closed

[2019-08-16 18:35] #50481 closed

[2019-08-16 18:35] #54008 closed

[2019-08-16 18:35] #49979 closed

[2019-08-16 18:35] #52719 closed

[2019-08-16 18:35] #53284 closed

[2019-08-16 18:35] #59105 closed

[2019-08-16 19:44] iluuu1994 commented on #63526
@estebank Would you mind giving me a few pointers? I looked through the source code but it wasn't completely obvious to me on how to achieve this. Is this already supported by the `FmtPrinter` or something new that has to be implemented?

[2019-08-16 19:57] Mark-Simulacrum commented on #63638
I've explored replacing the in-proceess rustc functionality for doctests with writing out doctests and spawning rustc (though not fully fleshed out, e.g. linker arguments and such are not passed down). With my patch, and cpu-usage-over-time reports ~10% idle; libcore doctests finish in 80 seconds. Without, cpu-usage reports ~40% idle, and libcore doctests complete in 140 seconds.

This seems like

[2019-08-16 20:15] tromey commented on #62839
A few things to say on this topic.

First, if this is just about the display of Rust enums on the gdb command line, then you should not need a pretty-printer at all, any more.  gdb understands how to handle enums directly.

Using the example given above, I get:
[code]
Second, note that the state before #54004 was not ideal -- there were variants that weren't represented by the encoding scheme.  I

[2019-08-16 20:25] aturon opened #63643 "Audit sources of shared state across rustc"
Infrastructure for parallel compilation has landed in rustc, but the shared state involved has not been fully documented (in terms of what state exists, invariants, atomicity, lock ordering, etc) or assessed for removal by refactoring.

This issue tracks the PR history for parallelization infrastructure, which is being re-audited to seed an initial list of shared state to assess. The initial outpu

[2019-08-16 20:51] andjo403 commented on #63631
after bisecting this example I have found that it is due to the PR #42313 that the regression starts

[2019-08-16 22:06] #56137 closed

[2019-08-16 22:06] #48781 closed

[2019-08-16 22:07] philipc commented on #57822
@michaelwoerister I may be able to look into the LLDB side further. Do you have a simple testcase I can use? I wasn't able to reproduce with the testcase given earlier.

At a guess, the problem may be because we use the same name (`closure`) for multiple types.

[2019-08-16 22:32] andjo403 commented on #63638
something that I noticed when I was looing in to this two years ago was that if I decreased the RUST_TEST_THREADS to 6 for my 32 thread machine I got a 2x runtime improvement.

at that time (before measureme) I created som chrome trace files for this, links to the log files can be found on the https://andjo403.github.io/rs_tracing/ page (I can only open the log files in chrome).
I think that it is

[2019-08-16 23:12] gamozolabs opened #63646 "`RangeToInclusive` code-generation much worse than equivilent `RangeTo`"
I have two copies of the exact same code, one using `for _ in 0..65` and the other using `for _ in 0..=64`. The `0..65` one optimizes down to very simple code, however the `0..=64` version ends up emitting a large amount of unnecessary code.

---

# RangeTo example

[code]

Emits (https://rust.godbolt.org/z/pcscMB):

[code]

---

# RangeToInclusive example

[code]

Emits (https://rust.godbolt.org/

[2019-08-16 23:15] Kobzol commented on #62839
Thank you for the details! With GDB 8.1, it only prints `$1 = example_project::MyEnum2<alloc::string::String>`, i.e. it doesn't specify the variant correctly. With GDB 8.3 (which is bundled with IntelliJ), I see the output correctly, so clearly there was some change that added support for reading this DWARF format. The print itself is fine, as you said.

However, in IntelliJ we need support for th

[2019-08-16 23:40] comex opened #63647 "inline attribute on async fn doesn't work properly"
[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3e8d2c145ac7edf44e6eb84ae65e1390)

In the playground, an `async fn` is marked `#[inline(always)]`:
[code]

However, if you compile it in debug mode (where inlining only happens for `#[inline(always)]` functions), and search for `12345` in the generated assembly, you can see that it is not inlined.

Indeed, t

[2019-08-17 00:18] tmandry commented on #32512
I'm working on a change to libtest that will implement the first of @alexcrichton's solutions above, specifically to support panic=abort. It should be pretty easy to extend to allow proper death tests, though.

So far I have a working prototype that's around 150 lines of implementation code. My intention is to make it "opt-in," so you have to either compile with a special flag or supply an argumen

[2019-08-17 00:24] sgrif commented on #63599
Yeah, "The `T` in `Box<T>` would be more precise

On Fri, Aug 16, 2019, 8:41 AM Niko Matsakis <notifications@github.com>
wrote:

[2019-08-17 01:28] mark-i-m commented on #63643
@aturon It looks like all of the PRs linked above have been merged?

[2019-08-17 03:59] lzutao commented on #63436
It seems like gdb cannot load the pretty printer:
Run the script manually, I got:
[code]

[2019-08-17 05:01] crlf0710 commented on #52976
I think #62514 is only adding comments, and there seems to be needing language level mechanism if we want to move forward.

[2019-08-17 05:41] gilescope commented on #63100
Move to close this as PR #63337 now merged in nightly fixes this:

[code]

[2019-08-17 05:43] gilescope commented on #63100
@Centril thoughts?

[2019-08-17 06:04] cdisselkoen opened #63650 "rustc hangs/spins on example involving associated types"
The following 5-line example causes `rustc` to spin:

[code]

The spin happens with or without the `--edition=2018` flag.

This may be the same issue as #62430, just an even simpler reproduction case.

Output of `rustc --version --verbose`:
[code]

Using the [Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b60d93f5d514c294149f85a97dff866f), I also reproduced th

[2019-08-17 06:18] dtolnay opened #63651 "Macro-generated macro can no longer be called"
The following crate no longer compiles as of the most recent nightly. The relevant commit range is f7af19c27...bdfd698f3. Mentioning @petrochenkov @matthewjasper because #63535 sounds relevant &ndash; is this an intentional change?

#### Cargo.toml

[code]

#### src/lib.rs

[code]

#### src/main.rs

[code]

---

[code]

[2019-08-17 06:22] H2CO3 commented on #63161
Today I encountered the same ICE with "the len is 1077 but the index is 1077".

I was writing and running some integration tests; it involved a serialization format (with Serde). I changed an `[u8]` array constant in a test case, then the panic occurred. When I changed it again, the ICE went away, and then I couldn't reproduce it anymore, not even with the value that seems to have caused it in the

[2019-08-17 06:41] gilescope commented on #63391
@rustbot claim

[2019-08-17 07:08] lukaseller opened #63652 "Causing stack overflow by calling to_string in Display trait implementation"
As a mentor on exercism.io I came across the following code:

[code]

This causes a stack overflow: The reason for that being that **to_string** is automatically implemented by the **Display** trait - which generates a loop. At least that is my explaination.

Is there a way for the compiler to catch mistakes like this? This is actually the first time i really saw someone generate a runtime error w

[2019-08-17 07:33] lzutao commented on #63646
If you use `-C opt-level=3`, two snippets will output the same assembly: https://rust.godbolt.org/z/tfvYvi

[2019-08-17 07:57] Centril commented on #63100
The message for async/await is still bad:

[code]

Leaving this up to @estebank

[2019-08-17 07:59] bearmate commented on #54137
From the comments it looks like __CxxFrameHandler3 is used as the personality function on msvc to convince LLVM to use SEH instead of Dwarf exception handling, so it does not inject a dependency to _Unwind_Resume. Is this even necessary for panic=abort? Couldn't we keep rust_eh_personality on msvc if panic=abort and everything would work fine?

[2019-08-17 08:11] Centril commented on #63650
Reduced:
[code]

cc @nagisa

[2019-08-17 08:37] petrochenkov commented on #63651
I'll investigate.

[2019-08-17 08:48] lzutao commented on #63436
rust-gdb load and run the script fine.

[2019-08-17 09:00] gnzlbg commented on #52976
The comment there guarantees that box can be used in C FFI. Isn't that enough to resolve this?

[2019-08-17 09:11] RalfJung opened #63654 "Non-exhaustive patterns lead to bogus "unused variable" / "dead code" warnings"
Consider this code:
[code]
This generates the following diagnostics on current nightly:
[code]
The "unused variable" and "dead code" lints are spurious, and not helpful. This only seems like dead code because there's a missing match arm. After adding `_ => {}` in the match, all diagnostics go away.

[2019-08-17 09:19] nikic opened #63656 "Expose llvm.ptrmask intrinsic"
LLVM recently added a ptrmask intrinsic, intended for use with tagged pointers: https://llvm.org/docs/LangRef.html#llvm-ptrmask-intrinsic

It allows masking off bits from a pointer without going through ptrtoint/inttoptr and breaking alias analysis in the process. We might want to expose this somehow...

[2019-08-17 09:25] mati865 commented on #63643
@mark-i-m because this issue is about auditing merged PRs 🙃

[2019-08-17 09:54] crlf0710 commented on #52976
Is it? From FFI ABI perspective, adding those comments doesn't turn ABI for `Box` from representing a `struct` to representing a `pointer`, which is all `#[repr(transparent)]` [all about](https://github.com/rust-lang/rfcs/blob/master/text/1758-repr-transparent.md#motivation), does it?

[2019-08-17 10:02] CryZe commented on #52976
As long as it is guaranteed and there is some test verifying that it is the case, it doesn't need a special attribute.

[2019-08-17 10:17] jonas-schievink commented on #63652
https://github.com/rust-lang/rust/issues/57965 would fix this

[2019-08-17 10:18] jonas-schievink commented on #63652
This also looks like a direct duplicate of https://github.com/rust-lang/rust/issues/45838, so closing in favor of that

[2019-08-17 10:18] #63652 closed

[2019-08-17 11:22] leonardo-m commented on #63656
This could be a quite useful thing for Rust if handled well (at least used by a Cargo crate).

[2019-08-17 11:23] Mark-Simulacrum commented on #14408
Closing as per the above, looks like this was implemented in the unused_doc_comments lint.

[2019-08-17 11:23] #14408 closed

[2019-08-17 12:07] gnzlbg commented on #52976
Box<T> is as special as `&mut T` or `i32`, the compiler already sets the ABI of Box to that of a single pointer. The only thing the comment does is guarantee to users that this will never change (otherwise that would be a breaking change).

[2019-08-17 12:15] gnzlbg commented on #62318
We already have custom test frameworks that run each test in a single process (e.g. [this one](https://github.com/djrenren/rust-test-frameworks/tree/master/multiprocess_runner) but it is easy to write your own), and those solve more problems than the alternative approaches discussed here (e.g. they trivially support `#![should_panic]` test for `panic=abort` which are essentially death tests).

The

[2019-08-17 12:38] oli-obk opened #63660 "Deduplicate closures"
https://github.com/rust-lang/rust/pull/62429 manually deduplicated monomorphizations of closures. We should automate this during building instead of requiring users to do it manually. Ideally we'll revert the parts of #62429 that made things less readable as the last step of closing this issue.

I think the endgame would be that we'd deduplicate closures (in release mode only, so backtraces's file

[2019-08-17 12:59] oli-obk commented on #53552
Yes, the call in `memory.rs` is gone now

[2019-08-17 12:59] #53552 closed

[2019-08-17 14:35] Nemo157 commented on #63647
It appears that `#[inline(always)]` works on generators already, by inspection of the ASM for [this playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=05111ff78dceb90966064699eb610bb3). So getting the `resume` function inlined just requires effectively duplicating the attribute onto both the function and generator during the transform.

The `gen_future` infrastruc

[2019-08-17 15:21] mati865 commented on #63417
Sorry for the delay, I was a bit busy.
Here is output from Clang 8.0.1 on Arch Linux:
[code]

So yeah, seems it's Solus issue and you should report it on https://dev.getsol.us

[2019-08-17 15:28] nocord opened #63661 "please provide JSON support to the standard library"
to work with json we need library. Which we don't want. Please provide support JSON to std lib

[2019-08-17 15:32] LunarLambda commented on #63417
Alright. Closing this. Sorry for the goose chase! ^^;

[2019-08-17 15:32] #63417 closed

[2019-08-17 15:36] nocord opened #63662 "Implement a self hosted compiler"
Make everything of rust in rust

[2019-08-17 15:37] jonas-schievink commented on #63661
Hi! Large additions to the language or standard library need to go through our [RFC process](https://github.com/rust-lang/rfcs). Before an RFC is written, the feature can also be discussed in our [internals forum](https://internals.rust-lang.org/) to find other people interested in it.

Closing in favor of an RFC.

[2019-08-17 15:37] #63661 closed

[2019-08-17 15:38] crlf0710 commented on #52976
ok, i guess that's the magic of `lang_item` then. thank you for the elaboration.

[2019-08-17 15:39] rkruppe commented on #18785
My understanding, too, is that this is basically the same issue as #28728 (just modulo tail recursion optimization, which is definitely permitted) and the fix for the UB it causes is the same, inserting enough `llvm.sideeffect` calls. It seems like @nagisa withdrew their objection, so I'm going to close this as duplicate again.

[2019-08-17 15:39] #18785 closed

[2019-08-17 15:40] jonas-schievink commented on #63662
rustc is already self-hosted, with the exception of LLVM. Reimplementing LLVM in Rust is outside of the scope of the Rust project. An alternative codegen backend using cranelift is being developed [here](https://github.com/bjorn3/rustc_codegen_cranelift/), but it will not replace the default LLVM backend.

[2019-08-17 15:40] #63662 closed

[2019-08-17 15:41] nocord commented on #63661
@jonas-schievink   Why you don't make an RFC?

[2019-08-17 15:42] nocord commented on #63661
@jonas-schievink ,  don't you want JSON support ?

[2019-08-17 15:48] nocord commented on #63662
@jonas-schievink, so we are depending on C++ for working with Rust. But Rust was created, because C++ isn't good enough

[2019-08-17 15:51] nocord commented on #63662
How can it be? You are depending on LLVM for generating machine code

[2019-08-17 16:36] Patryk27 commented on #63100
IMO the `{foo} defined here` part looks weird (why brackets?) - how about:
[code]

[2019-08-17 16:42] Aaron1011 opened #63663 "dist-x86_64-freebsd fails when building with debug assertions"
Steps to reproduce:

1. Run `src/ci/docker/run.sh dist-x86_64-freebsd` (note that `DEPLOY=1` is *not* set, which is why we don't see this on Azure)
2. Observe the following ICE ([full log](https://gist.github.com/Aaron1011/244ec6c1126e433767e117b7d22186fe)):

[code]

This appears to be a legimitate bug, which is normally not exposed due to the `if cfg!(debug_assertions)` block in `validate_hir_id_

[2019-08-17 16:44] nikic commented on #63384
https://reviews.llvm.org/D66380

[2019-08-17 17:03] jyn514 opened #63664 "Some closures are not inlined in release mode"
Consider the following code ([playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2018)):

[code]

When compiled with rustc 1.36, it gives the following assembly:

[code]

Note how the closure is not inlined, even though it would be trivial to do so (replace `	callq	playground::main::{{closure}}` with `	callq	playground::err_exit`).

[2019-08-17 17:09] jyn514 opened #63665 "Fn coercion rules seem inconsistent"
Consider the following code (which compiles; [playground](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=8902809bc4f0bf6a0752131d9695eda9)):

[code]

If you change `let err = Err(());` to `let err: Result<usize, ()> = Err(());`, then it fails with 'error[E0271]: type mismatch resolving `<fn(()) -> ! {err_exit} as std::ops::FnOnce<((),)>>::Output == usize`' ([playground](

[2019-08-17 17:14] KrishnaSannasi commented on #63665
This is because `err` is inferred to be `Result<!, ()>` not `Result<usize, ()>`. Then after the `unwrap_or` the `!` gets coerced into a `usize`

[2019-08-17 17:16] KrishnaSannasi commented on #63664
Your playground link is wrong, use the share button on playground to get a permalink

[2019-08-17 17:17] Arthamys commented on #18285
This seems to be fixed, at least from my test running the same source with rustc 1.37

Source locations are valid for both call sites.

[2019-08-17 17:22] Aaron1011 commented on #63663
Possibly related to https://github.com/rust-lang/rust/issues/57298

[2019-08-17 17:25] matthiaskrgr commented on #63664
Does
[code]
do the trick?

[2019-08-17 17:26] Boddlnagg opened #63666 "Local rustdoc search doesn't work with --no-deps"
I'm having an issue that is similar to https://github.com/rust-lang/docs.rs/issues/316, but it's about local docs.

I'm using `cargo doc --no-deps --open`, and on the opened page the search does not work. It shows "Loading search results..." and doesn't complete, just like in the link above.

The JS console says: `TypeError: paths is undefined (main.js:95:15458)`, and in the JS debugger I see the

[2019-08-17 17:27] jyn514 commented on #63664
That fixes it, yeah. `#[inline]` does not, which seems odd.

[2019-08-17 17:29] #63665 closed

[2019-08-17 17:29] jyn514 commented on #63665
That makes sense, I guess. My real complaint is that `fn () -> !` doesn't get coerced to `fn () -> usize` but that's not related to this issue so I'll close it.

[2019-08-17 17:30] Boddlnagg commented on #63666
And now I noticed: When I build with `--no-deps` after having built without `--no-deps`, the other crates are still shown in the docs and found via the index, but I want to see only my own crate ... do I have to delete the `target/doc` directory?

[2019-08-17 17:35] Ixrec commented on #63661
There's already a bunch of crates for dealing with JSON, most famously `serde`.

[Unlike many other language ecosystems, "X is useful" is not an argument for putting X in Rust's `std` library](https://internals.rust-lang.org/t/expansion-of-standard-library/10475/7?u=ixrec), at least not by itself. There has to be some additional reason why a separate create is not good enough, and I'm not aware of

[2019-08-17 18:05] petrochenkov commented on #63651
Fixed in https://github.com/rust-lang/rust/pull/63667.

[2019-08-17 18:07] jkarneges commented on #50547
@DoumanAsh I suppose if an async fn never has any active self-references at yield points then the generated Future could conceivably implement Unpin, maybe?

[2019-08-17 18:17] nocord commented on #63661
JSON is a standardized file format

[2019-08-17 19:07] ralfbiedert opened #63668 "Panic in 'safe' extern "C" causes SIGILL"
Investigating a SIGILL in a _safe_ library of ours I could reduce the crash to the following code:

[code]

When running the above with `cargo run`:

[code]

[**Link to playground**](https://play.integer32.com/?version=nightly&mode=debug&edition=2018&gist=8545e51cee57f21dfe7e5598fa5a4c32).

Although one can argue that decorating `crash` with `extern "C"` is ugly, observe that there is no `unsafe`

[2019-08-17 19:18] sfackler commented on #63668
You cannot generally unwind through a C ABI: https://github.com/rust-lang/rust/issues/58794

[2019-08-17 19:18] ralfbiedert commented on #63668
But isn't "safe" Rust meant to be free of undefined behavior?

[2019-08-17 19:34] jonas-schievink commented on #63668
Closing in favor of #58794

[2019-08-17 19:34] #63668 closed

[2019-08-17 21:09] alexreg commented on #47938
Any update on this?

[2019-08-17 21:19] JelteF opened #63672 "Types in error message are incorrect when saying what trait is not implemented"
When trying to implement Product for a newtype the error messages saying what I should implement was incorrect.

I tried this code:
[code]

I expected to see this happen:

It complain that there's no Mul implemented for `MyInt * MyInt`

Instead, this happened: It complained about not being able to multiply `i32 * MyInt`
[code]

## The weird part
The correct error message is shown when you remove t

[2019-08-17 21:31] rust-highfive opened #63673 "`miri` no longer builds after rust-lang/rust#63658"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#63658, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @RalfJung, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @oli-obk, the PR reviewer, and @rust-lang/compiler -- nomi

[2019-08-17 23:00] cuviper commented on #63660
Deduplicating is nice, but I believe LLVM is already pretty good about this, so I don't expect too much benefit there. The exploding type lengths were the real practical thing that #62429 addressed. I probably should have emphasized that better in the description.

[2019-08-17 23:19] petrochenkov commented on #49629
https://github.com/rust-lang/rust/pull/63674 supports the modern attribute syntax in `meta`.

[2019-08-17 23:32] jesboat commented on #62017
I am reasonably confident at this point that this is a bug in LLVM's FastIsel. This LLIR

[code]

is sufficient to produce a broken binary on trunk LLVM with `llc -O0 --relocation-model=static`. Adding `-fast-isel=false` to the options produces a non-broken load.

https://godbolt.org/z/Ga7aJg

[2019-08-18 00:00] Mark-Simulacrum commented on #63628
@craterbot run name=beta-1.38-rustdoc-1 p=0

Downgrading rustdoc crater run priority as it usually doesn't catch anything too severe and we have a long Crater queue.

[2019-08-18 00:00] Mark-Simulacrum commented on #63628
@craterbot name=beta-1.38-rustdoc-1 p=0

[2019-08-18 01:02] #63651 closed

[2019-08-18 04:05] ColonelThirtyTwo commented on #39128
Also ran into this. Though unlike the other examples, I was implementing `PartialEq` on the dynamic trait object itself rather than `Box<Trait>`.

[2019-08-18 04:46] lzutao commented on #63460
cc @petrochenkov for the hygiene macro in #63535

[2019-08-18 05:24] Aaron1011 commented on #57642
Looking at this further - why don't want want `magical` to compile? It looks perfectly correct to me.

[2019-08-18 05:49] RalfJung commented on #63673
Miri fix at https://github.com/rust-lang/miri/pull/911

[2019-08-18 05:55] shootingsyh opened #63677 "rustc crash with type alias of impl trait"
I cannot provide a simple repro yet. But what I did is mostly define a type alias of an impl trait and use it as generic parameter of another type. And here is the stack trace

[code]

[2019-08-18 05:58] newpavlov commented on #60553
What are layout guarantees for such enums? Ideally I would like to be able to write code likes this:
[code]
And I want for this type to have exactly the same memory layout as:
[code]
Meaning if `repr(C)` is used:
- Discriminant should always be stored in the beginning.
- Discriminant can not be used for niche-optimizations.
- Variant fields should follow `repr(C)`.

Having such guarantees would al

[2019-08-18 06:05] lzutao commented on #63460
This code ([playpen](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e74a4689efba586e7372d2f37c33da5c)] compiles on stable but not on nightly and beta:
[code]

[2019-08-18 06:21] topecongiro opened #63679 "Redundant semicolons are parsed as an empty tuple semicolon statement"
[code]

Given the above example, the rustc parser used to silently drop the redundant semicolons (`;;;`)  from the AST. However, recently the parse has changed how it treats the redundant semicolons - they are now parsed as a semicolon statement with an empty tuple:

[code]

Found this while updating rustc-ap-syntax to 562.0.0 (which is built from the commit fc8765d6d8623b2b5b4ca1d526ed1d7beb3fce1

[2019-08-18 06:55] topecongiro opened #63680 "#![macro_use] triggers unused attributes warning"
Replacing `#[macro_use] mod foo;` with `#![macro_use]` inside foo.rs triggers unused attribute warning even if it is necessary.

Using rustc 1.39.0-nightly (2111aed0a 2019-08-17).

[2019-08-18 07:39] Centril commented on #54883
Basic parsing PR https://github.com/rust-lang/rust/pull/61708 landed on 2019-08-18. It was written by @dlrobertson and reviewed by @varkor, @Centril, @petrochenkov, @matthewjasper, and @alexreg.

[2019-08-18 08:15] #62865 closed

[2019-08-18 08:42] eddyb commented on #60553
@newpavlov You get most of that (the placement and size of the discriminant) from just `#[repr(u8)]`, I'm not sure if `#[repr(C)]` adds more to that.

Keep in mind that since your discriminants are the default ones (starting at `0` and adding `1` for each variant), you don't need this feature!

We defined all these back in https://github.com/rust-lang/rfcs/pull/2195, for Servo <-> Firefox I believ

[2019-08-18 08:51] Centril commented on #63660
@eddyb  in https://github.com/rust-lang/rust/pull/62429#issuecomment-522303499:

[2019-08-18 08:55] Centril commented on #63680
cc @petrochenkov

[2019-08-18 09:26] Centril commented on #61949
Update: https://github.com/rust-lang/rust/pull/62849 has landed. The `-Blocking` aspect of this has been fixed so I am relabeling as `-Deferred`.

[2019-08-18 09:34] Centril commented on #62121
Thanks to everyone who contributed tests! I believe the test suite is now substantially more robust than from the outset of starting the test drive. While it is desirable to continue the drive for tests (**and please do contribute more tests in areas you find lacking!**), I think the testsuite is non-blocking in terms of stabilization. Therefore I'm relabeling this to `-Deferred`.

[2019-08-18 09:35] Centril commented on #62566
Closing this in favor of tracking the remaining reference work in the reference repo.

[2019-08-18 09:35] #62566 closed

[2019-08-18 09:46] matklad opened #63682 "Warn about non-printable characters in string literals"
Currently a string literal with control characters like `\0` or `\v` is accepted without any warnings. The only exception is `\r`, which gives a hard error.

It makes more sense to treat all non-[printable](https://en.wikipedia.org/wiki/ASCII#Printable_characters), non \t, \n ASCII characters as a warning.

Steps to fix:

1. Add  `NonPrintableAsii` to [EscapeError](https://github.com/rust-lang/rus

[2019-08-18 09:47] matklad commented on #63682
cc @petrochenkov

@rustbot modify labels: +A-parser, +A-diagnostics, +E-medium

[2019-08-18 09:50] RalfJung commented on #55149
https://github.com/rust-lang/rust/pull/62330 is looking for someone to take over, to push disallowing dropping fields in a union to completion. Any takers?

[2019-08-18 09:59] gilescope commented on #63391
I'm assuming its ok to leave this as the same error code of E0267 - in essence it's the same error, just more specific text.

[2019-08-18 10:01] Centril commented on #63391
Yeah I think it's fine.

[2019-08-18 10:10] djc commented on #55437
@nikomatsakis awesome, thanks! Sorry I couldn't contribute anything in the end.

[2019-08-18 10:19] petrochenkov commented on #63680
Cannot reproduce this, neither outer nor inner `#[macro_use]` on modules never produce `unused` warnings, even if they are actually unused.

[2019-08-18 10:21] petrochenkov commented on #63460
@lzutao
Please, file a separate issue for the regression, I'll prioritize it over pre-existing issues (which the original issue seems to be).

[2019-08-18 10:27] petrochenkov commented on #63682
Attach the lint to `CRATE_NODE_ID`, then it'll be able to be enabled/disabled at crate level, but not with higher granularity.

[2019-08-18 10:42] Centril commented on #63618
When considering object lifetime bound defaults holistically, I think we should also consider the interactions with [associated type defaults and trait objects](https://github.com/rust-lang/rfcs/blob/master/text/2532-associated-type-defaults.md#interaction-with-dyn-trait). cc https://github.com/rust-lang/rust/issues/29661.

[2019-08-18 10:51] jonas-schievink commented on #63660
Seems like a clear duplicate, so closing in favor of that.

[2019-08-18 10:51] #63660 closed

[2019-08-18 10:58] lzutao opened #63685 "hygiene: cannot find macro `foo!` in this scope"
This code ([playpen]) compiles on stable but not on nightly and beta:
[code]

[playpen]: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8b3bc98ae358e6ff16fb7dc4003c6233

Standard Error

[code]

**Edit**: Removed `concat!` macro

_Originally posted by @lzutao in https://github.com/rust-lang/rust/issues/63460#issuecomment-522294181_

[2019-08-18 10:59] lzutao commented on #63460
Thanks, I filed it in #63685

[2019-08-18 11:01] lzutao commented on #63685
@rustbot modify labels: A-macros A-resolve C-bug T-compiler

[2019-08-18 11:31] lzutao commented on #63685
I updated the snippet that had outer module.

[2019-08-18 11:36] topecongiro commented on #63680
I was quite mistaken. There were **both** outer and inner macro_use attributes, which is why the inner attribute was warned as unused.

My apologies for the noise.

[2019-08-18 11:36] #63680 closed

[2019-08-18 12:16] theduke commented on #60406
Would love for this feature to hit stable in `1.39`.

Is that a doable timeframe, @Centril ?

[2019-08-18 12:21] Centril commented on #60406
Seems plausible; 1.39 branches on the 26th; - 10 days for FCP - some time to write a report.

[2019-08-18 14:39] qnighy commented on #63661
That "standard" has nothing to do with the Rust "standard" library. Most people are happy with `serde_json` when dealing with the standard format. As an extreme example, there's an ITU-T standard format called ASN.1 but I know of no language with standard support for it.

I agree that JSON is really popular (regardless of whether standardized or not), but that alone does not support inclusion in R

[2019-08-18 15:05] Mark-Simulacrum commented on #13760
Closing as a backwards incompatible change -- though I think it would be desirable to change things here, it seems like too small a gain given that we'd be breaking backwards compat.

[2019-08-18 15:05] #13760 closed

[2019-08-18 15:26] bjorn3 opened #63687 "gfx_device_gl 0.16.1 broken on latest nightly"
Caused by #63613. To be precise the https://github.com/rust-lang/rust/pull/63613/files#diff-c915449964a130718bd732c4f035b2cfR101 change.

It basically does:

[code]

Because `format!` uses `::core::format_args` to refer to `format_args!`, it will try to resolve it in `gfx_core`, which doen't contain `format_args!`.

[code]

[2019-08-18 15:38] Centril commented on #63687
cc @petrochenkov

[2019-08-18 16:32] petrochenkov commented on #63685
This is a regression from https://github.com/rust-lang/rust/pull/63114 (cc @matthewjasper).
Slightly more minimized reproduction will look like this:
[code]

`format_args` performs eager expansion on its arguments and hygienic context of `foo` produced by such expansion looks like it was produced by the opaque `format_args` for some reason, so it's resolved at `format_args`' definition site.

It m

[2019-08-18 16:39] petrochenkov commented on #63685
(I'm currently looking into the details.)

[2019-08-18 16:47] Mark-Simulacrum commented on #15054
I believe we mostly respect environment-variable set flags today; presumably that's sufficient for this use case? It's still relatively difficult to set different flags for different stages of compilation, but I would hope that it's not (ever) necessary to do so. If this is still a problem a specific reproducible example or want would be good to have.

[2019-08-18 16:47] #15054 closed

[2019-08-18 16:48] matklad opened #63689 "Transition rustc Parser to proc_macro token model"
Currently, there are two different approaches for dealing with composite tokens like `>>` in rustc.

1. Keep tokens in composed form, and split into pieces, `>` and `>`, when necessary.
2. Keep tokens decomposed, with jointness information, and join tokens when necessary.

At the moment, the first approach is used by the parser, and the second approach is used by the proc_macro API. It would be go

[2019-08-18 16:50] matklad commented on #63689
cc @petrochenkov

[2019-08-18 17:15] sylvestre commented on #15054
yeah, we (debian) don't need that anymore

[2019-08-18 18:55] sgrif opened #63690 "Diagnostics could be better for unclosed delimiters"
Depending on where the unclosed delimiter is in the file, you can get dozens or even hundreds of meaningless errors after the unclosed delimiter. Since terminals display the last output from a program, this means that the actual error gets completely buried. This afternoon I had to scroll through more than 200 lines of output to find where the actual error was. This can be reproduced by taking any

[2019-08-18 20:51] andjo403 commented on #63638
created some new traces with hacking the rustc self-profile flag to get it working in rustdoc you can find the traces in https://andjo403.github.io/rustdoc_selfprofile/
tested rustdoc from master(e910be8d7c7c3ae00a2839b310cc4062d5de8163) and also tested to add the rustc out of process fix that Mark-Simulacrum linked.

the out of process looks super nice I got way more than 2x (5,4s to 0,7s) in my

[2019-08-18 21:09] Aaron1011 commented on #63677
@shootingsyh: Are you able to provide the repository that reproduces this?

[2019-08-18 21:12] c410-f3r commented on #60406
If possible, I would like to write the report, as well as the stabilization PR and remaining documentation

[2019-08-18 21:17] Centril commented on #60406
@c410-f3r Sure. Here's a report you can use as a template: https://github.com/rust-lang/rust/pull/61682#issuecomment-502472847. I'd like to review and vet the report first however before it is published on a stabilization PR.

[2019-08-18 21:59] iluuu1994 commented on #49660
@rustbot claim

@TheSirC `Wrapping` isn't implemented for `bool` and `f32`/`f64`. So this is probably only useful for integer types.

[2019-08-18 22:01] #63391 closed

[2019-08-18 23:07] varkor commented on #63679
Ah, this is due to https://github.com/rust-lang/rust/pull/62984, where we need to record the redundant semicolons for the lint. Sorry, I forgot that this would affect non-rustc parsing. We should change the representation, but I'm not sure what would be ideal. Perhaps storing the number of semicolons in `StmtKind::Semi`.

[2019-08-18 23:17] shootingsyh commented on #63677
Sorry it’s still under very early developing, so I haven’t open it. I’m trying to figure out a repro though

[2019-08-19 00:07] jamesmunns commented on #54883
Would implementation of this RFC also apply to patterns in `if` conditionals?

For example, could I do something like this?

[code]

[2019-08-19 00:17] Centril commented on #54883
@jamesmunns [Or with this `if let`](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=68d43de474acf09a42cc05f02b8d5b87):

[code]

[2019-08-19 00:34] jhpratt commented on #54725
@alexcrichton @matklad Any update on what blockers are for this issue? It doesn't seem like there should be anything holding this back.

[2019-08-19 00:39] est31 commented on #54725
@jhpratt my question about 1-based vs 0-based is still not answered: https://github.com/rust-lang/rust/issues/54725#issuecomment-497246753

[2019-08-19 00:45] jhpratt commented on #54725
Hm, that's a fairly simple one. My intuition would certainly lean towards 1-based.

[2019-08-19 01:23] Mark-Simulacrum commented on #36785
The correct syntax is `--test-args --ignored` (though this obviously may not work, as they're usually ignored for a reason).

[2019-08-19 01:23] #36785 closed

[2019-08-19 01:33] Mark-Simulacrum commented on #35678
`--exclude src/test/debuginfo` would work today, though there's no way to put this in e.g. config.toml -- maybe it makes sense to add an `exclude` field to that?

[2019-08-19 02:56] Lokathor opened #63694 "core::ffi::c_void is marked as "stable since 1.1", but it was added in 1.30"
The title says it all really.

* Missing `ffi` entirely: https://doc.rust-lang.org/1.29.0/core/
* Present in the new `ffi` module: https://doc.rust-lang.org/1.30.0/core/ffi/index.html

[2019-08-19 04:17] kkoning opened #63695 "ICE caused by using a const_generic fn from a trait or impl"
A function that compiles and runs successfully outside of a trait causes an ICE when it's in a trait.  The expectation is that this should work similarly to other generics on trait functions--while they will prevent a trait object reference, they should otherwise be allowed.  (On [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=72aa50cd4b32c1cc5bbf896e3fc3d44a)

[2019-08-19 04:32] est31 opened #63696 "Invalid value lint not firing"
@RalfJung why is the invalid value lint not firing here?

https://github.com/glium/glium/blob/9248e31f8bb76e972021c4d73ee53c59ecfe0364/src/context/mod.rs#L727

The type of the input param to that function is `extern "system" fn(u32, u32, u32, u32, i32, *const i8, *mut std::ffi::c_void)`, aka function pointer.

[2019-08-19 04:43] est31 commented on #63696
Disregard that. Yesterday's nightly `rustc 1.39.0-nightly (2111aed0a 2019-08-17)` didn't have the PR that cranked up the lint. Today's nightly `rustc 1.39.0-nightly (4cf767307 2019-08-18)` has it and does complain.

[2019-08-19 04:43] #63696 closed

[2019-08-19 05:13] #50125 closed

[2019-08-19 05:15] lopopolo opened #63697 "Compiler suggests unnecessary try into"
I updated a dependency and the type of a struct field changed from an `i32` to a `u16`.

I am assigning a `u16` value to this struct field. Before, I was calling `i32::from` to convert the `u16` to an `i32`. With the upgrade this is unnecessary since the field  and the value are both `u16`.

The rust compiler suggests this fix:

[code]

But it should really suggest removing the `i32::from` and usi

[2019-08-19 05:16] lopopolo commented on #63697
I am using Rust 1.37.0.

[2019-08-19 05:21] XVilka commented on #60577
Note, that the code for generating PDF files already exists, it just require a bit of integration: https://github.com/Geemili/mdproof

[2019-08-19 05:40] ExoticMatter commented on #63625
#51999 allows panicking in constants, and #49146 will allow conditionals in constants. Something like this will be possible once the latter is implemented:

[code]
The error messages are noisy but more descriptive than an integer overflow error:
[code]

[2019-08-19 05:51] shootingsyh commented on #63677
Still cannot find a simple repro. I decided to public my work at https://github.com/shootingsyh/rxstream, and here is patch of my local change:
[patch.txt](https://github.com/rust-lang/rust/files/3514385/patch.txt)

Apply the patch, cargo build with the nightly version, it will crash like that.
Sorry I cannot isolate the issue further. And I'm too new for rust, and this issue happens quite a while

[2019-08-19 06:38] hellow554 commented on #63695
It doesn't have to be in a trait, a regular impl block would do it as well:

[code]

[2019-08-19 06:44] hellow554 commented on #63694
It was just moved in https://github.com/rust-lang/rust/pull/53910 from std to core. So.. both is quite correct.
I can't find any mentioning of the stable since attribute. Maybe it was just accepted because it was just a move?

[2019-08-19 06:52] Lokathor commented on #63694
Ah-ha, but users before 1.30 can't use it in core, I think it should get a new stable-since tag.

[2019-08-19 06:56] hellow554 commented on #63677
@shootingsyh

[code]

If I remove that `pub mod` (and resolve the other issues) it doesn't ICE on my machine. :/

[2019-08-19 07:04] hellow554 commented on #63349
@mattrutherford *"Make change "* can you specify it please? Where did you change what? A diff would be good (e.g. if you happen to have a cloned repo, then you can do `git diff` and show it to us).

[2019-08-19 08:05] snehabhapkar10 commented on #26053
@fuyingfuying , how did the problem solve?

[2019-08-19 08:17] shootingsyh commented on #63677
@hellow554 how did you get this error? use cargo build?

[2019-08-19 08:23] hellow554 commented on #63677
@shootingsyh

[code]

[2019-08-19 08:48] Phosphorus15 commented on #63271
I don't think adding a fast case for -0.0 is enough, codes like
[code]
also reports to be `false`, considering that `asinh` is a monotone function.
`(-0.0 as f64).asinh().is_sign_negative()` and `(-1e-20f64).asinh().is_sign_negative()` should have the same result considering that `-0.0` is strictly larger than `-1e-20f`.
Maybe it is more sound to add a case for any given floating number that is sm

[2019-08-19 09:40] michaelwoerister commented on #57822
That would be awesome, @philipc!

Are you familiar with compiling Firefox? Then getting a test case is straightforward. It's also somewhat lengthy initially so bear with me `:)`

- Get a recent clone of Firefox, e.g. from https://github.com/mozilla/gecko-dev.
- Make sure you've get an up-to-date build environment by running `./mach bootstrap` in the root dir of the FF checkout.
- Place the followi

[2019-08-19 11:31] TitanThinktank commented on #34511
not a single good example anywhere on how to use impl Trait,, very sad

[2019-08-19 11:52] michaelwoerister commented on #63349
I can reproduce on Fedora 30 when also setting `CARGO_INCREMENTAL=1` in the environment. Thanks, @mattrutherford.

It's probably a buggy interaction incremental compilation and LTO (cc @alexcrichton). Not sure if it is wasm specific.

[2019-08-19 12:35] jasonwilliams commented on #60589
@rektide https://github.com/tokio-rs/mio/issues/923 is the issue to follow

[2019-08-19 13:07] Centril commented on #63697
cc @estebank

[2019-08-19 13:18] upsuper opened #63701 "Unhelpful error message E0505 for cycle lifetime constraint"
Given the following code:
[code]

Rust reports:
[code]

This seems to be a confusing error, and doesn't help diagnosing where the problem is. The real fix here is to remove the lifetime annotations on `perform` and have `impl Handler` use different lifetimes for the two places, but this is totally unobvious from the error message.

It might be more helpful if it can point out that this is still bo

[2019-08-19 13:28] tommilligan commented on #60319
@euclio @Phrohdoh I'd like to take this issue - should have a PR this week for review.

[2019-08-19 13:31] alexcrichton commented on #63638
Nice work @Mark-Simulacrum and thanks for helping to confirm @andjo403!

Sounds like an out-of-process solution would fix the lion's share of issues here perhaps, and so long as it jumps back up to close to 100% cpu usage I think that's safe to say it'd close this issue!

It's a good point that the jobserver and/or limiting parallelism isn't done very well today. I think though that clamping the c

[2019-08-19 13:34] StrausMG opened #63702 "Type inference fail in a closure"
Let's have a look at two similar closures:
[code]

The first one is successfully compiled, but the second one requires additional type annotations: [playground 4](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=348436b25088e1bf3e53c52401aff118)

It seems that there is enough information for fully automatic type inference in both cases. Is it a compilation bug then?

[2019-08-19 13:39] alexcrichton commented on #60231
AFAIK no work really has been done to get Rust/wasm working with the dynamic linking proposal. It's pretty highly unlikely that no changes to rustc will be necessary to get things working. I don't personally have time to work on it right now.

My guess is that either the upstream proposal will need to change to support a more ELF-like way of compiling shared objects and linking them into a static-

[2019-08-19 13:45] ckaran commented on #58375
Thank you @alessandrod for fixing this!  I finally had the chance to test this on latest nightly, and it works!  Now I just have to fix the (large) number of holes in my test cases...

[2019-08-19 13:58] alexcrichton commented on #32512
I would personally at least welcome a change to libtest to support `panic=abort` mode in libtest. Ideally this would all be automatically inferred in that the `test` crate would automatically switch to process-per-test if linked into an executable as `panic=abort`, continuing to use threads by default otherwise. Having a runtime switch to use one over the other also makes sense to me though!

[2019-08-19 14:16] alexcrichton commented on #63349
Hm I was getting build errors locally and wasn't able to reproduce. I'm not really sure what compiler is necessary to fix errors like:

[code]

[2019-08-19 15:09] lopopolo commented on #63697
Similarly, this code should suggest replacing `i32::from` with `u16::from`.

[code]

[code]

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4cd158b1081140e5acc54a001b2a6392)

[2019-08-19 15:42] alexcrichton commented on #60245
@bors: r+

[2019-08-19 16:03] SimonSapin commented on #48043
https://github.com/rust-lang/rust/pull/61780 has merged. I believe it resolves the remaining issues. I’ve updated the API signatures in the issue description.

Is there anything else to tweak here before stabilization? CC @Manishearth for the `hashglobe` crate, @rillian for `mp4parse_fallible`

@rfcbot fcp merge

[2019-08-19 16:04] kkoning commented on #63695
Looks like it's the same ICE at `src/librustc_codegen_ssa/mir/operand.rs:79` in both cases.

[2019-08-19 16:08] euclio opened #63706 "rustc suggests invalid syntax for missing method on `impl Trait` parameter"
[Given:](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ea23b1a629ffaed2249b6680002d47f1)

[code]

rustc outputs:

[code]

[2019-08-19 16:16] richardwhiuk opened #63707 "window.hashchange is not a function"
When selecting Rust source code with either the latest stable or the latest nightly, the following is seen:

[code]

e.g. see https://docs.rs/ensure/0.2.1/src/ensure/lib.rs.html#11 and try and select some lines

Suspect that https://github.com/rust-lang/rust/blob/master/src/librustdoc/html/static/main.js#L347 should be `highlightSourceLines(null)`.

[2019-08-19 16:17] omarabid opened #63708 "Debug implementaton for `&(x: impl Debug)` should prepend `&`"
dbg! is not displaying the type correctly for reference objects/variables.

Comment here: https://www.reddit.com/r/rust/comments/cp8y58/hey_rustaceans_got_an_easy_question_ask_here/ex76hhq/

Code here: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ed9fb6649d0a281ac6d2ecf39eb7a51b

Expect output is `&MyStruct` but dbg! is displaying as `MyStruct` which is not accurate.

[2019-08-19 16:22] ehuss commented on #48683
An issue with config-profile has been raised at https://github.com/rust-lang/cargo/issues/7253.  There are ambiguities with environment variables that are difficult to resolve.

[2019-08-19 16:29] jonas-schievink commented on #63708
It's possible to make the `Debug` impl for `&T` prepend a `&` before forwarding, but I'm pretty sure `println!`, `write!`, etc. all implicitly create references to their arguments, so this would make those behave very unintuitively (the behavior with method calls might also be surprising if this is changed).

[2019-08-19 17:19] estebank commented on #63100
@Patryk27 I feel like `fn foo() -> usize` could also work and be more natural. At the same time, I'd like to unify how we refer to functions and closures (currently `[closure@file.rs:LL:CC]`), and I feel that the braces style is would be suitable for them: `fn(_) -> _ {file.rs:LL::CC}`.

[2019-08-19 17:21] Centril commented on #63708
This has nothing to do with `dbg!` as noted in the reddit discussion. If you want to change the behavior of `Debug for &T` to prepend `&` I'd recommend filing a PR.

[2019-08-19 17:47] carllerche opened #63710 "rustdoc renders re-exported `async fn`s incorrectly"
Relates to #58027, but this is the case where an async fn is re-exported by another crate. The docs for the original function shows `async fn` but the re-export shows `fn -> impl Future`.

Example:

- [Original function](https://docs.rs/tokio-sync/0.2.0-alpha.2/tokio_sync/mpsc/struct.Receiver.html#method.recv)
- [Re-exported](https://docs.rs/tokio/0.2.0-alpha.2/tokio/sync/mpsc/struct.Receiver.html

[2019-08-19 17:54] Mark-Simulacrum commented on #63638
I've marked this issue as E-mentor since I think I can provide sufficient guidance for someone interested in solving this (I probably won't get around to it for some time). What we want to do here is take the patch in https://github.com/Mark-Simulacrum/rust/commit/d8fee193b7089d58a2953fa79a7ff48c326f386d and finish threading through all of the options to rustc via command line arguments. There's q

[2019-08-19 17:55] Mark-Simulacrum commented on #62818
Closing per the above comments (and no further feedback here).

[2019-08-19 17:55] #62818 closed

[2019-08-19 17:57] sfackler commented on #63708
Our standard behavior for Debug implementations on smart pointers has them directly delegate - `Arc<T>` debugs just like `T`, not `Arc(T)` or whatever, for example.