[2021-07-29 13:27] Smittyvb commented on #87555
I'm working on an implementation at [Smittyvb:concat_bytes](https://github.com/Smittyvb/rust/tree/concat_bytes).

[2021-07-29 13:27] asquared31415 commented on #87573
Functional [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7f97e010bed0f1e8906eeb4e08c73fcc) example with comments explaining the source of the errors.

I highly doubt that this is a duplicate of that issue you linked.

The first ICE here is an error when trying to figure out generics.  The `drop_in_place` lang item expects its function to have a generic, and

[2021-07-29 13:49] yaymukund commented on #79240
As per [this comment by m-ou-se in chansuke's PR](https://github.com/rust-lang/rust/pull/79257#discussion_r586447615):

Should this be closed in favor of the linked RFC?

[2021-07-29 13:54] jyn514 commented on #87586
This is also very similar to https://github.com/rust-lang/rust/issues/82715.

[2021-07-29 14:06] ehuss commented on #87578
Thanks for the report!  I'm going to close as this is a duplicate of #56625.

To work around the issue, you can manually adjust the paths in the strings to start with `crate::` before doing the migration.  Alternatively, you can migrate with the `--broken-code` flag, and then fix the issues manually.

[2021-07-29 14:06] #87578 closed

[2021-07-29 15:02] Aaron1011 commented on #87577
As a temporary workaround, you can add a comma between the two `>` characters:

[code]

[2021-07-29 15:19] ChaiTRex opened #87591 "Better doctests for HashMap's into_values and into_keys methods"
The current doctests for a few methods don't really test anything when they could. The following changes would:

* improve the documentation for programmers by better showing what the results of the functions are
* bring the documentation in line with [the equivalent methods for `BTreeMap`](https://doc.rust-lang.org/std/collections/struct.BTreeMap.html#method.into_keys), which do include tests lik

[2021-07-29 15:33] asquared31415 commented on #87573
The first ICE with the generics is probably relevant to #9307

[2021-07-29 15:54] cooksey14 opened #87592 "thread 'rustc' panicked at 'no errors encountered even though `delay_span_bug` issued', compiler/rustc_errors/src/lib.rs:1050:13"
I set up a new project and tried to install microserver by running:
`cargo new bug_repro`
`cargo install microserver`

But received the following when doing so:
`thread 'rustc' panicked at 'no errors encountered even though delay_span_bug issued', compiler/rustc_errors/src/lib.rs:1050:13`

### Meta

`rustc --version --verbose`:

[code]

### Error output

[code]

<details><summary><strong>Backtrace

[2021-07-29 15:56] jonas-schievink commented on #87592
duplicate of https://github.com/rust-lang/rust/issues/87455

[2021-07-29 15:56] #87592 closed

[2021-07-29 16:15] Kixunil commented on #87578
Damn, I didn't find #56625 I guess because of funny title. Yeah, `--broken-code` helped. Thanks!

[2021-07-29 16:35] JohnTitor commented on #79240
Hm, makes sense, though the RFC PR has been closed. I think it'd be great if we could provide some explanation for it but it seems it's not time to do right now. Okay, I'm going to close this for now, thanks for pointing out!

[2021-07-29 16:35] #79240 closed

[2021-07-29 17:07] yaymukund commented on #74721
@rustbot claim

[2021-07-29 17:27] ccqpein commented on #87591
I did it.

[2021-07-29 17:35] TheBlueMatt commented on #86442
Just a bit of user feedback, this PR landing in beta broke our CI as we were asserting certain io Errors. I dunno if you can really call it a "language-breaking" change, but it did seem surprising that our CI would fail on beta due to rust lib changes.

[2021-07-29 17:39] Smittyvb commented on #87555
Implementation PR: #87599

[2021-07-29 17:44] SimonSapin commented on #86442
https://doc.rust-lang.org/std/path/struct.Path.html#method.is_dir documents:

I’ve implemented this by coercing `ErrorKind::NotFound` to false and propagating other errors. However some of my tests fail in cases where `ErrorKind::NotADirectory` is (or would be) returned, showing that it should also be coerced to false.

This and the previous comment show that these variants are not like other unst

[2021-07-29 17:45] TheBlueMatt commented on #86442
Yes, it was checking that an error was `Other`.

[2021-07-29 18:12] 0bl-user opened #87603 "generics-related ICE: 'called `Option::unwrap()` on a `None` value'"
having a struct field depending on an a const expression (field: [T; N * 2]) using const_evaluatable_checked and a corresponding where [T; N * 2]: Sized. Think this was working before 1.56 nightly.. Getting called Option::unwrap() on a None value, compiler/rustc_metadata/src/rmeta/decoder.rs:914:54 when importing lib.rs, but, everything works when that same lib is in main.rs. Also any suggestions

[2021-07-29 18:56] JohnTitor commented on #87603
MCVE is here: https://users.rust-lang.org/t/1-56-nightly-change-in-const-evaluatable-checked/62865/11?u=johntitor

lib.rs:
[code]

main.rs:

[code]

[2021-07-29 19:10] joshtriplett commented on #86442
@TheBlueMatt `Other` has been documented for some time as not something you should directly check for:

https://github.com/rust-lang/rust/pull/85746/ is the change that made the standard library stop returning `Other`, which was a prerequisite for adding new ErrorKind values.

We *do* want to stabilize these new variants soon. But in the meantime, if you have code that matches `Other` and checks a

[2021-07-29 19:15] newpavlov commented on #74372
What will happen if code dependent on SIMD intrinsics will be compiled without the necessary target feature being enabled? Will compiler generate respective SIMD instructions no questions asked (well, it will not inline them, but it's not important for the question)? Shouldn't it generate a compilation error? Otherwise generated WASM may silently become unusable in runtimes without SIMD support (i

[2021-07-29 19:22] TheBlueMatt commented on #86442
See-also discussion ending at https://github.com/rust-lang/rust/pull/79965#issuecomment-889382116, but the specific documentation that isn't only lightly implying this being an issue was added middle of last year (which is much more recent than our test code here). Indeed, it was implied earlier, but for those of us who weren't thinking really deeply about the implications of the struct-level docs

[2021-07-29 19:24] alexcrichton commented on #74372
As the [documentation indicates](https://doc.rust-lang.org/core/arch/wasm32/index.html#simd):

where the "both options" are using `-Ctarget-feature=+simd128` or `#[target_feature(enable = "simd128")]`.

The compiler will always generate simd instructions if you call intrinsics in `std::arch::wasm32`, regardless of your compilation settings for the rest of the codegen unit. This is the same as for

[2021-07-29 19:37] MattiaFailla opened #87605 "error: internal compiler error: unexpected concrete region in borrowck: ReStatic"
### Code
--> /home/mat/.cargo/registry/src/github.com-1ecc6299db9ec823/evm-0.26.0/src/executor/stack/state.rs:496:2
[code]
 = note: delayed at compiler/rustc_mir/src/borrow_check/region_infer/opaque_types.rs:87:44

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-29 19:51] newpavlov commented on #74372
Yes, but on other platforms those intrinsics are `unsafe`, so there is a higher barrier for making mistake. Also having a respective instruction in a generated binary does not cause CPU to reject that binary, i.e. on x86 it's fine to have unchecked SIMD instructions in dead branches. In a certain sense using WASM SIMD intrinsic effectively changes target. So i wonder if the current handling of the

[2021-07-29 19:54] jonas-schievink commented on #87605
duplicate of https://github.com/rust-lang/rust/issues/87455

[2021-07-29 19:54] #87605 closed

[2021-07-29 19:56] overlisted commented on #79524
Shouldn't there also be something like `flat_intersperse`? (`intersperse` but with an array (`impl IntoIterator`) as the argument)

[2021-07-29 20:01] ecstatic-morse commented on #73255
Hey y'all. I'll try to summarize exactly what this feature gate does to help inform a decision on stabilization. Oli and Ralf probably already know this information, and can skip the next three paragraphs.

Currently, it is forbidden to run custom `Drop` implementations during const-eval. This is because `Drop::drop` is a trait method, and there's no (stable) way to declare that trait methods are

[2021-07-29 20:03] Frizi commented on #29661
Is the checklist in the first post up to date? If not, what are the most important blockers right now?

[2021-07-29 20:05] jonas-schievink commented on #29661
It is up to date

[2021-07-29 20:23] bstrie commented on #63787
So to be clear, is the fix for this as straightforward as changing `Ref`'s `value` field from `&T` to `*const T`, and `RefMut`'s from `&mut T` to `*mut T`?

[2021-07-29 20:30] est31 commented on #74372
Isn't this a violation of RFC 2045? It seems to me that [RFC 2396's requirement to make calling functions with target features on functions that don't have target features unsafe](https://rust-lang.github.io/rfcs/2396-target-feature-1.1.html#guide-level-explanation) has not been implemented?

@newpavlov the docs you linked mention runtime detection proposals.

[2021-07-29 20:54] jonas-schievink commented on #87576
Duplicate of https://github.com/rust-lang/rust/issues/74935

[2021-07-29 20:54] #87576 closed

[2021-07-29 21:01] ijackson commented on #86442
Hi, @TheBlueMatt

As the author of the MR which actually broke your test, I would like to say that I'm sorry about that.  Unfortunately, risking breakage like yours seemed like the best option.  I know it sucks when you're on the wrong side of a tradeoff like this - especially when it suddenly breaks your stuff.

You are right to say that it would have been better to have arranged to warn about th

[2021-07-29 21:06] inquisitivecrystal commented on #73255
I'm not educated on the details, but it would be super nice to see this stabilized in some form. There are a comparatively large number of new APIs that rely on this. For examples, see issues #76654, #82814, and PR #84087, the last of which is an approved stabilization PR that can't be merged until this is stabilized.

That's why I was checking in on the progress towards stabilization a few days a

[2021-07-29 21:07] newpavlov commented on #74372
Yes, I know and this is why I asked this [question](https://www.reddit.com/r/rust/comments/otydwz/announcing_rust_1540/h6z1bxd/) on reddit. But it [looks like](https://github.com/rust-lang/rust/issues/74372#issuecomment-832947277) that @alexcrichton has acted under assumption that dynamic detection will not be added to WASM:

BTW I want to discuss this point from the same comment a bit:

Unsafety

[2021-07-29 21:36] Fishrock123 commented on #81670
The warning message for this is not very helpful.

The following code:
[code]

Produces:

[code]

And frankly between that and this issue I am not sure what I am supposed to do?

Am I supposed to turn `rust_2018_idioms` into it's dependent lints? Does one conflict with `future_incompatible`? Am I no longer allowed to `forbid(future_incompatible)`? It isn't clear.

[2021-07-29 21:43] joshtriplett commented on #86442
On Thu, Jul 29, 2021 at 12:22:18PM -0700, Matt Corallo wrote:

If you're not checking for any specific error code, then I don't think
it makes sense to check for `Other` at all. That would *inherently*
break if a new ErrorKind variant were ever added. `ErrorKind` is
`#[non_exhaustive]` precisely to allow adding new error types; as a
result, asserting "this is an error type that doesn't have a more

[2021-07-29 21:45] nicholastmosher commented on #87401
I am seeing this same problem using the `Location` feature from `eyre`/`color-eyre`, which appeared after updating to 1.54

[2021-07-29 21:52] ecstatic-morse commented on #73255
The fact that the main blocker (and why this was feature gated in the first place) is the implementation makes this somewhat unusual (see https://github.com/rust-lang/rust/pull/71824#discussion_r421675954). That makes it more the domain of the compiler-team rather than the lang-team. Niko reviewed #71824 and is assigned to this issue, but I'm hesitant to ping them specifically unless their experti

[2021-07-29 21:55] Fishrock123 commented on #87543
How did you install rust onto this? Rustup doesn't seem to provide an easy way to install `i686-unknown-linux-musl`.

Also I believe the author of this is using this: https://ish.app/

Which, seems to work? But I don't know how to easily get the correct toolchain either (I also have an M1 iPad to test this with).

[2021-07-29 22:03] Fishrock123 commented on #87543
Repo for that project: https://github.com/ish-app/ish

[2021-07-29 22:05] Fishrock123 commented on #87543
Related issue by the OP on that project: https://github.com/ish-app/ish/issues/1507

[2021-07-29 22:15] alexcrichton commented on #74372
There's some more discussion on https://github.com/rust-lang/rust/pull/84988 for reference, but my thoughts on this topic are:

* Wasm engines, forever and all of time, will reject modules they do not understand. This means if you have a simd instruction in their an the wasm engine doesn't understand it, then a correct engine will never run any code and simply reject the module.
* If dynamic featu

[2021-07-29 22:26] Amanieu commented on #86063
On second thought, I don't think this is an LLVM bug: it seems that the code calls `__aeabi_llsl` with an out-of-range shift, but then doesn't actually use the result of that call in that case.

I opened https://github.com/rust-lang/compiler-builtins/pull/432 which should fix this, could someone test to see if this actually resolves the issue?

[2021-07-29 22:34] TheBlueMatt commented on #86442
First of all, it’s software, things happen, in our case it was just some minor check in a test, no sweat!

Indeed, sadly because clippy requires rustup I generally can’t use it anyway. :(

I do wonder if it’s practical to do this in an edition? The next edition isn’t shaping up to be that far away, and adding this kind is breaking thing seems like a great candidate for such a thing! I’m not sugges

[2021-07-29 22:50] newpavlov commented on #74372
With the `features.supported` proposal engines will accept feature blocks which they do not understand, but instead of parsing it, they will replace the whole with the `unreachable` instruction. It's effectively analogue of the `ud2` instruction from x86. The question is now: is it allowed for safe Rust code to trigger "unreachable" instructions? AFAIK in the case of x86 the answer is no. Do we al

[2021-07-29 23:19] JulianKnodt commented on #85265
@AngelicosPhosphoros I've been looking at this issue to see if I could fix it, but it seems to me that i128s are never explicitly constructed inside of `rust/compiler/rustc_target/src/abi/call/x86_64.rs`, so I was wondering where I could change the generated integer to small arrays?

[2021-07-29 23:44] JulianKnodt commented on #48538
Is this issue still open/have things significantly changed? I'd like to work on it if so.

[2021-07-30 00:25] camelid opened #87611 "rustdoc: Section icon covers part of enum variant name when hovered"
**This is a regression from 1.53.0 to 1.54.0 (released today).** It's likely that the display of other parts of the docs has regressed in a similar way as well (e.g., `struct` fields), but I haven't checked those.

More broadly, the way the variant looks when hovered has changed as well. I am unsure if that part of the change was intentional; to me it seems like a regression.

### [1.54.0](https:/

[2021-07-30 00:50] carols10cents commented on #84970
It's unclear to me based on this issue being open and me being confused about what state the trains were in when, but is incremental compilation back on by default in the just-released 1.54.0 stable? I would have expected that to be called out in the release notes either way.

[2021-07-30 01:32] tuomas56 opened #87612 "Segfault when using llvm_asm memory constraint"
I tried this code:

[code]

I expected to see this happen:
[code]

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

<details><summary>GDB Backtrace</summary>
<p>

[code]
</p>
</details>

[2021-07-30 01:55] joshtriplett commented on #86442
@TheBlueMatt Unfortunately, it isn't possible for us to make library changes like this in an edition. Editions can affect how code is compiled, but not the underlying behavior of the standard library, partly because you can have code from Rust 2015, 2018, and 2021 all compiled into one binary and sharing the same standard library.

For what it's worth, we *absolutely* value stability as critically

[2021-07-30 02:05] joshtriplett commented on #74372
On Thu, Jul 29, 2021 at 03:50:32PM -0700, Artyom Pavlov wrote:

As far as I know, WebAssembly's "unreachable" is more like
[`unreachable!`](https://doc.rust-lang.org/std/macro.unreachable.html)
(which is entirely safe), not like
[`unreachable_unchecked`](https://doc.rust-lang.org/std/hint/fn.unreachable_unchecked.html)
(which is unsafe and can cause UB).

[2021-07-30 02:19] baoyachi commented on #87543
Yeah, I just install app which name [https://ish.app/](https://ish.app/) on my ipad pro 2021 M1.

Also you can exec cmd below:
[code]

[2021-07-30 03:56] gamozolabs opened #87613 "Strange `async use ...;` compiler suggestion"
Really minor issue, but when building the following, I get a strange fix suggestion which seems incorrect:

[code]

[code]

[code]

[code]

The `async use` seems to be a bit strange for the suggestion. Nevertheless, have a wonderful day <3

[2021-07-30 05:21] jhpratt commented on #51999
Now that #86998 is merged, this should be good to stabilize, correct?

[2021-07-30 07:07] fee1-dead commented on #86328
This has been fixed.

[2021-07-30 07:07] fee1-dead commented on #79898
This is fixed.

[2021-07-30 07:41] orlp commented on #87238
You could replace the derived implementation with an equivalent explicit one, and then add a comment.

[2021-07-30 08:03] pranaypratyush opened #87617 "Random segfaults"
I keep getting segfaults from rustc with different reasons each time. I can't replicate them since the next run always completes successfully.
Has been happening for about a few weeks. At first, I thought my system isn't stable but I now I don't think that's the case.
The latest error message was the following but it keeps changing. I would add more as I encounter them.
[code]
### Meta

`rustc --v

[2021-07-30 08:08] artemii235 commented on #87401
Yes, and we actually achieved it in a different way. As I can see the [RFC](https://github.com/rust-lang/rfcs/pull/2895) mentioned in rust-lang/project-error-handling#9 is not merged so it has no guarantee to be implemented.

I think this issue can be considered as broken backward compatibility because our use case worked fine before the `try_trait_v2` implementation. Hopefully, there is a workaro

[2021-07-30 08:48] benediktsatalia commented on #63713
@RalfJung

This seems to be not correct anymore, see: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=74856625a3f95572f649dc55bce9b15b. Did the behaviour change in the last two years?

[2021-07-30 09:57] #79898 closed

[2021-07-30 09:59] RalfJung commented on #63713
(A notification was sent for a comment that seems to be deleted now? Very confusing.)

[2021-07-30 10:03] yoshuawuyts commented on #70922
Closed via https://github.com/rust-lang/rust/pull/81050

[2021-07-30 10:14] est31 commented on #74372
Yeah one of the reasons to make target_feature unsafe was because some instruction sets might override the meaning of instructions or do other UB when they encounter instructions they don't support. On wasm, there is a safe guarantee that it'll trap so it's well defined.

[2021-07-30 11:10] mocsy opened #87621 "Rust 2021 (seemingly) mistakenly warns 'panic message contains braces'"
Later versions of rust mistake macros like https://crates.io/crates/contracts `requires` as a panic message.

Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=babeae07316ceb37dd7291ff889e9ea3

[code]

The current output is:

[code]

Ideally the output should look like:
Nothing, it's not a panic message, it's an expression.
[code]

[2021-07-30 11:24] booleancoercion commented on #87613
This also appears to happen on the latest stable version (1.54). Here's a [playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3220ec13520a2192c90514b302c4eebb).

[2021-07-30 11:30] Miezhiko opened #87623 "1.54.0 compilation fault with nightly, miri and parallel-compiler"
[code]

[2021-07-30 11:39] Cryptjar commented on #86328
nice

[2021-07-30 11:39] #86328 closed

[2021-07-30 11:41] Urgau commented on #87623
Miri is a nightly-only tool, not a stable one. You shouldn't being able to built it from a stable release.
See https://github.com/rust-lang/rust/issues/86436 for more informations.

[2021-07-30 11:44] Miezhiko commented on #87623
I use nightly flag too, I'm just using release git tag.

[2021-07-30 11:48] oli-obk commented on #87455
Still needs a backport

[2021-07-30 11:58] Urgau commented on #87623
The release source shouldn't include miri, in fact I don't see it in the release source. Where did you download it ? Have you used the [official tarballs](https://forge.rust-lang.org/infra/other-installation-methods.html#standalone) ?

Miri is also one of the few tools that are allow to not always compile, see the [Rustup Components History](https://rust-lang.github.io/rustup-components-history/).

[2021-07-30 11:58] oli-obk commented on #73255
I think your summary post contains most of what we need for a stabilization report (full instructions [here](https://rustc-dev-guide.rust-lang.org/stabilization_guide.html?highlight=stabilization%20report#write-a-stabilization-report)). We can just mark this issue as requiring sign-off from both T-compiler and T-lang and do all of this at once.

[2021-07-30 12:02] primeNumberAndMe commented on #27812
I don't know the exact reason why I triggered this issue, but as the compiler said, it's for the use of ```extern crate libc```, any ideas?

[2021-07-30 12:02] oli-obk commented on #51999
I'm still unhappy that in 2018 we can do `panic!(some_computed_str)` but in 2021 we can't do the equivalent, but it seems better to only allow literal strings for now than to not allow any custom panicking. Imo this is purely a T-libs issue, but I'll let @rust-lang/wg-const-eval weigh in on that before escalating to T-libs for stabilization.

[2021-07-30 12:05] primeNumberAndMe commented on #27812
The env info

#### toolchain
[code]

#### machine
```Apple M1 Mac```

[2021-07-30 12:05] #87426 closed

[2021-07-30 12:12] Miezhiko commented on #87623
miri can be set as additional tool in `tools` in `config.toml` before build, it needs nightly flag too (I have it), yes I use official tarballs

[2021-07-30 12:20] mainrs commented on #44265
Could you link an issue/discussion on why and where this is needed? I am curious and would like to read up on it :)

[2021-07-30 12:22] hyd-dev commented on #87623
That looks like a `parallel_compiler` issue rather than a toolstate issue.

[2021-07-30 12:23] leonardo-m opened #87626 "[ICE] on minimal program on Nightly with edition 2021 and LTO"
With the last Nightly I have problems even with a minimal program:

[code]

Compiling it with:

[code]

Gives:

[code]

[2021-07-30 12:25] Miezhiko commented on #87623
Okay, what is `parallel_compiler`? Does it related with parallel rust compilation (many jobs) or is it some crate?

[2021-07-30 12:29] Miezhiko commented on #87623
Sub-module hashtag for `1.54.0` tag is the same as for `master` at the moment https://github.com/rust-lang/rust/tree/1.54.0/src/tools

[2021-07-30 12:30] hyd-dev commented on #87623
https://github.com/rust-lang/rust/blob/1195bea5a7b73e079fa14b37ac7e375fc77d368a/config.toml.example#L457-L459

[2021-07-30 12:31] Miezhiko commented on #87623
@hyd-dev yes I have it enabled too

[2021-07-30 12:35] Urgau commented on #87623
Yes, but as I said before miri as no guarantee to build with any rust version or even master.
Because 1.54.0 was cut many weeks ago, the problem has already be fixed on master.

I don't know were you are looking, but it's not the case, the 1.54.0 beta-cut happen 6 weeks ago. There have been many commit since.

[2021-07-30 12:50] hyd-dev commented on #87623
I don't think Miri on `master` works with `parallel-compiler = true`. The code still uses `Rc` which would not be work with `parallel-compiler = true`:
https://github.com/rust-lang/miri/blob/453e3ef7dab5aad6450bee09b2c02de94c5b18cb/src/bin/miri.rs#L45.
I don't know whether Miri is intended to work with `parallel-compiler = true` or not, at least it's not tested in CI.

[2021-07-30 12:52] Miezhiko commented on #87623
@hyd-dev it was working for me on `1.53.0`

[2021-07-30 12:56] Urgau commented on #87623
Maybe @RalfJung (the miri maintainer) can help you here.

[2021-07-30 13:00] Mark-Simulacrum commented on #87623
parallel-compiler = true is not a supported configuration at this time, both for rustc and especially for tools. I'd expect that patches to fix compilation and runtime bugs to be accepted for the most part, but there's not currently active development on that configuration and it's definitely not expected that git tags (i.e., stable releases) will build with parallel compiler enabled.

[2021-07-30 13:01] arnaudgolfouse commented on #85336
In the second case, using the constant actually triggers a compilation error:
[code]
The mismatch between normal and associated constants is still very weird.

[2021-07-30 13:02] lerouxrgd commented on #87002
Still happening with `1.54.0`

[2021-07-30 13:15] hkratz commented on #87613
Rustc suggests inserting the use directive between `async` and `fn main()`. Essentially the tokio proc macro removes the async from the main fn declaration so that it is no longer part of the fn for rustc. In absence of other use directives rustc suggests inserting the import directive directly before the `fn main()` leading to this behavior.

[2021-07-30 13:22] hkratz commented on #87626
Can't repro on Linux, maybe Windows-specific?

[2021-07-30 13:25] RalfJung commented on #87623
Shouldn't https://github.com/rust-lang/rust/pull/86413 have landed the change that avoids Miri being built on stable? Or do we need some other change so it is not in `tools` by default?

[2021-07-30 13:27] RalfJung commented on #87623
@Miezhiko why did you even build Miri? Did you explicitly ask for it in your `config.toml`, or did it get enabled implicitly somehow?

(If you want to build Miri, you should always use a nightly compiler. That is the only configuration we support.)

[2021-07-30 13:32] RalfJung commented on #51999
:+1: as long as this is enforced properly(i.e. everything accepted in 2018 on stable also works in 2021).

[2021-07-30 13:41] oli-obk commented on #51999
it is not yet. Not sure how doable that is, it may be easier to just figure out how to do `panic!("{}", some_computed_str)` on all editions.

[2021-07-30 13:44] amalik18 commented on #83584
The PR has been merged. https://github.com/rust-lang/rust/pull/87445 @jyn514  you can go ahead and close if you'd like.

[2021-07-30 13:45] Miezhiko commented on #87623
@RalfJung I enable it manually in config.toml (was thinking maybe it may be useful for me in future) I also build with nightly flag, needed for some features (not sure if FFI is stable already), I'm closing this but personally I'd port (if I know which one) patch fixing this error into sources from which ones I rebuild rust.

[2021-07-30 13:45] #87623 closed

[2021-07-30 13:54] jyn514 commented on #83584
Thanks for working on this!

[2021-07-30 13:54] #83584 closed

[2021-07-30 13:57] ChrisDenton commented on #87626
I can't seem to reproduce with either gnu or msvc toolchains on Windows, unless I'm missing something.

[code]

Maybe there's something else in your environment affecting things?

[2021-07-30 14:00] ehuss commented on #87621
Hm, I'm uncertain how that should be handled.

The `requires` attribute essentially expands to:

[code]

which expands to

[code]

This ends up with a bare `{` in the panic string.  Indeed this code will fail to compile in 2021.

The `contracts` crate could be updated to generate the assert macros with the proper formatting (`assert!(expr, "{}", "the message")`). However, it would be desirable if

[2021-07-30 14:15] RalfJung commented on #87623
Yeah, that doesn't really help for nightly tools like Miri.
The nightly flag will get you a rustc that can use `feature`, but we're still not making any promises about the Miri in a stable release even building.

That said, if you are okay with patching things, I'm happy to give pointers for which patches you'll likely need. :)

[2021-07-30 15:02] Aaron1011 commented on #87626
The ICE you're getting is very strange - I suspect that your libstd install might be corrupted. Can you try reinstalling the version of Rust that you're using?

[2021-07-30 15:41] ralpha opened #87630 "Renaming of feature can cause unexpected behavior"
Renaming of a feature can cause behavior changes if name is also used for an optional dependency.
This will not trigger any warnings or errors from the compiler.

I'll set up 2 parts here, before crate change and after crate change.

## Before create change
Code example:
My crate `my_crate/Cargo.toml` file has this section:
[code]

The other crate `some_crate/Cargo.toml`:
[code]
And `some_crate/sr

[2021-07-30 15:43] ralpha commented on #87630
A potential solution is mentioned above. Issue will be closed, but can be used for future referencing.

[2021-07-30 15:43] #87630 closed

[2021-07-30 15:53] TheBlueMatt commented on #86442
I'm curious if extending the `#[non_exhaustive]` API in rustc to warn around matching `Other` variants was considered? eg adding a tag to `#[non_exhaustive]` to certain variants which indicates "generate a warning if this is matched on or compared against" at compile-time so as to make this exact language pattern better supported. I understand this is maybe part of the goal of #85746, but it does

[2021-07-30 16:09] hkratz commented on #87617
@pranaypratyush What distribution are you on? Best idea would probably be to enable core dumps on segfault and get a backtrace by inspecting the core via rust-gdb.

[2021-07-30 16:09] #87556 closed

[2021-07-30 16:40] adamgemmell commented on #86063
@Amanieu looks fixed to me. Nice work!

[2021-07-30 16:43] JohnTitor commented on #73933
@petrochenkov It's now July 30th, could we start a crater run?

[2021-07-30 16:50] ijackson commented on #86442
No, we didn't think of that.

Now that #85746 has landed, I don't think this situation can arise again with `ErrorKind`.  In the future, new `ErrorKind`s may indeed be added, for new kinds of underlying OS errors.  But when that happens, the new kind will appear instead of `Unknown` - not instead of `Other`.  `Unknown` is permanently unstable so cannot be matched in tests (without turning on an un

[2021-07-30 16:57] eloff opened #87632 "hidden type for `impl Trait` captures lifetime that does not appear in bounds"
Reproduction of issue:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=c4b48a9611f760226b37832138691e1d

See also the stackoverflow question I asked about it:
https://stackoverflow.com/questions/68591843/hidden-type-for-impl-trait-captures-lifetime-that-does-not-appear-in-bounds

This appears to be a long-standing limitation of the rust compiler with a mechanical fix availa

[2021-07-30 17:10] Fishrock123 commented on #87555
Regarding the unresolved questions - can we reject regular string slices if we accept `&[]` since `str::as_bytes()` is const?

[2021-07-30 17:11] jonas-schievink commented on #87632
duplicate of https://github.com/rust-lang/rust/issues/63033

[2021-07-30 17:11] #87632 closed

[2021-07-30 17:18] #85586 closed

[2021-07-30 17:38] TheBlueMatt commented on #86442
I do wonder if it may make sense as a language feature in the future also for non-stdlib users. It doesn't feel strange to think that some crates may want a similar pattern. I admit the 85746 approach may make more sense to them, but there is no way to non-stabilize a particular enum variant outside of std, as far as I understand.

Ah, maybe I partially misunderstood the way 85746 operates.

[2021-07-30 17:39] RalfJung commented on #63787
Yes I think that would be the best fix (and I've [argued for that change](https://github.com/rust-lang/rust-memory-model/blob/master/litmus_tests/refcell_ref.md) even before we knew about this problem^^)

[2021-07-30 17:49] pranaypratyush commented on #87617
I am running `5.13.5-1-MANJARO` kernel on a AMD 2700x.
The problem is that I don't exactly know when this would happen but it has always occurred midway through `cargo build`.

[2021-07-30 17:50] JulianKnodt commented on #87533
Closed for now, as the implementation PR was deferred.

[2021-07-30 17:50] #87533 closed

[2021-07-30 17:57] bugaevc opened #87634 "Explain Fn+Sync requirement"
Given the following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4bc0c9d55bf6300037e374443f31290a)):

[code]

The current output is:

[code]

While technically correct, this doesn't guide the beginner in understanding what "a `Fn` closure" is, why this specific closure is "a `Fn` closure", and what the actual underlying problem is, in domain-specific r

[2021-07-30 17:59] dataphract opened #87635 "ICE on nightly 1.56.0 (2021-07-29) when missing semicolon or function body in impl block"
Playground with repro [here](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0240939444c902f277a55c9d7d9ba3a7). Not present in latest stable or beta.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-30 18:03] hkratz commented on #87617
You don't need to know when it happens, just enable core dumps with:
[code]
and anytime rustc (or something else) segfaults it should leave a `core` file behind in the working directory of the process. Once rustc segfaults again, run:
[code]
and post the backtrace here.

[2021-07-30 18:09] Smittyvb commented on #87555
@Fishrock123 Macro arguments are not a constant evaluation context, so calls to `const fn`s in macros result in the tokens representing the function call getting passed to the macro, not the result of evaluating the function call.

For example,
[code]
gives the output
[code]
The `add_one(2)` call never gets expanded to `3`, since it's not used in a constant evaluation context. (although LLVM will

[2021-07-30 18:10] jesyspa commented on #87238
@rustbot release-assignment

Sorry, I don't really feel qualified to judge whether the added code complexity would be worth it, so I'll leave this to someone with more experience.

[2021-07-30 18:17] zseri commented on #44265
@mainrs I don't have a link to it,
<details>
<summary>I just remember two things that might be related to it:</summary>

1. `async fn`s in traits require GATs, because they return basically anonymous structures, which are dependent on the trait implementation, which means that they are realized via an implicit `type` declaration inside of the trait, but they would require GATs for this to work, be

[2021-07-30 18:21] MikailBag commented on #44265
This is not GAT, but type_alias_impl_trait. However, you will likely need both of them in practice.

AFAIK this issue was fixed several months ago.

[2021-07-30 18:28] nikomatsakis commented on #87621
Indeed, I think that proc-macro hygiene doesn't work all that well. To make it work, presumably, one would have to use the proper spans -- and this is a bit questionable, because the span for this time probably comes from the Rust 2021 crate, but the Rust 2018 crate is the one turning it into a *string*.

In general, macro selection etc is not especially hygiene friendly, so I'm not totally sure h

[2021-07-30 18:34] m-ou-se commented on #87621
Aw, I put effort into making sure the suggestions are handled correctly in macro expansions as well, but apparently it doesn't work here at all. (Suggesting the `"{}", ` in the macro call.) I'll take a look at improving that.

It does see this as a 2015/2018 panic. This warning is for 2015/2018 code. In 2021 code, such a panic/assert call wouldn't compile at all.

[2021-07-30 18:37] oli-obk opened #87638 ""cannot find associated type" could hint existing associated types"
The following error gives no hints for resolving it, even though there is an obvious solution, in this case the only existing associated type of std::ops::Deref.

Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=976e4a98c62d7a0efb2d0d6325774495

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2021-07-30 19:02] JohnTitor commented on #87635
Regressed since #87480, I think #87436 is the cause.

[2021-07-30 19:06] pranaypratyush commented on #87617
Thanks. Would keep the issue updated.

[2021-07-30 19:23] prathikgowda opened #87642 "LLVM error while building Rust Crypto's AES-GCM usage example code for target x86_64-unknown-none-linuxkernel"
I tried this code:

[code]
Build command:
[code]
Alternate build command (with AES and AVX2 explicitly enabled):
[code]

I expected to see this happen: Compilation without an LLVM error, as this is usage example code from the AES-GCM documentation (https://docs.rs/aes-gcm/0.9.3/aes_gcm/index.html).

Instead, this happened: I got this LLVM error (same error for both commands):
[code]

### Meta

The

[2021-07-30 19:29] petrochenkov commented on #73933
IIRC, @Aaron1011 recently did some further deprecation work related to these hacks, but I'm not sure what is the current status exactly.

[2021-07-30 19:37] ShadowJonathan commented on #87479
I'm also in favour of the implicit `'self` lifetime, it balances the need for being explicit with DRY, is easy to hint at by the compiler (for one scenario or another), and easy to reference by the book & other resources.

[2021-07-30 19:45] leonardo-m commented on #87626
Thank you for your answers, I will try to clear the situation (I remove "-C lto" from the compiler arguments, it compiles).

[2021-07-30 19:46] ehuss commented on #87621
So, just to clarify:  The issue is that `contracts` uses [`quote_spanned`](https://gitlab.com/karroffel/contracts/-/blob/edc5ea52e5734bf943fd426a41329faf89d946dd/src/implementation/codegen.rs#L183-185), which tags that entire section of code with the edition of the caller (2021 in this case)?  (At least, in my limited testing, it seems to not fail if I use `quote!` instead of `quote_spanned!`).

A

[2021-07-30 19:49] huxi commented on #67984
Currently suggested improved error message:
[code]

The message should also suggest using a local variable, e.g. `let foo = get_person(); println!("hello {foo}");`.
I would even argue that it should be the main suggestion since it promotes the same style as Field Init Shorthand. It also makes sense to promote implicit named arguments in this way.

[2021-07-30 19:54] AngelicosPhosphoros commented on #85265
@JulianKnodt I don't remember where is it exactly but try to start from here: https://github.com/rust-lang/rust/blob/6f9df55a782c5373c75dfa23e6ba50f8b42318ef/compiler/rustc_target/src/abi/call/x86_64.rs#L213

[2021-07-30 19:57] CryZe opened #87643 "WASM float to int performance regression since 1.53.0"
Both Rust and WASM introduced saturating float to int casts. However WASM originally only had trapping float to int casts. LLVMs internal float casts are speculatable, i.e. it can execute them early, assuming no trap ever happens. This however means LLVM needs to protect itself from WASM's trapping casts by emitting some more code around it. Once Rust introduced saturating float to int casts, rust

[2021-07-30 19:58] #87626 closed

[2021-07-30 20:00] CryZe commented on #87643
Though it seems like the difference is that 1.52.0 is our own rustc saturation implementation and since 1.53 it's LLVM 12's saturation implementation, which seems to be worse?

[2021-07-30 20:05] alexcrichton commented on #87643
Thanks for the heads up, this is behaving as "expected" although the expectation wasn't really thoroughly evaluated by me.

As you've discovered the main difference (which you can see in that diff view with `--emit llvm-ir` is that with Rust 1.52 and prior (pre-those PRs) rustc manually emitted LLVM IR that did the right thing. Rust 1.53.0 and later we're calling the LLVM intrinsic for saturating

[2021-07-30 20:11] Nemo157 commented on #87621
Testing the playground code in an `edition = "2021"` crate it fails to compile, so I don't think the hygiene is correct (but it sounds like that is an implementation issue that `contracts` is applying the incorrect span to the `panic!` macro call).

[2021-07-30 20:22] patrickfreed commented on #87012
I'm happy to report that converting the `async_trait` implementations to regular trait implementations that return futures eliminated nearly all the time spent in `evaluate_obligation`. Given that, it seems like this may be a problem with `async_trait`, so I've filed an issue there.

[2021-07-30 20:37] hkratz commented on #87642
There seems to be some bad interaction with `soft-float` and `sse`. Soft-float is enabled for the x86_64-unknown-none-linuxkernel target and SSE/AVX/... is disabled since one cannot just(TM) use floating point and SSE registers in the kernel, special incantations need to be employed where they are used.

It compiles if you force aes-gcm to use the software implementation:
[code]

[2021-07-30 20:46] CryZe commented on #87643
I didn't do any benchmarks, but it seems like it suffers from the same problem as our original codegen. This is roughly the new WASM translated into Rusty pseudo code:
[code]
This protection against trapping shouldn't be there, the saturation code already checked for all the edge cases. This is probably because this lowering of the saturation casts is backend independent and yet again the WASM bac

[2021-07-30 20:51] Arnavion commented on #82006
Does not repro with 1.54.0

[2021-07-30 20:51] #82006 closed

[2021-07-30 21:41] prathikgowda commented on #87642
thanks so much. can confirm that this fixes things on my machine as well

[2021-07-30 21:51] tarcieri commented on #87642
@hkratz is there a tracking issue for this?

[2021-07-30 22:26] #86940 closed

[2021-07-30 22:26] #74280 closed

[2021-07-30 22:26] #77179 closed

[2021-07-30 22:32] camelid opened #87647 "Parser incorrectly suggests adding semicolon after function in impl"
This also ICEs, but that's a separate issue: #87635. The MCVE here is also from that issue.

I think this issue is also caused by #87436, based on looking at the changes in the test output from that PR. That PR seems to have changed the parser to emit an ``expected `;`, found ...`` error regardless of what token was actually expected.

### Code

[Playground](https://play.rust-lang.org/?version=nig

[2021-07-30 22:42] gheoan commented on #82922
Is this a duplicate of https://github.com/rust-lang/rust/issues/50007?

@rustbot modify labels: +A-linkage, +T-compiler

[2021-07-30 23:00] xd009642 opened #87649 "Link-dead-code and -Z instrument-coverage causes segfault and no coverage on Windows"
With the following `RUSTFLAGS=" -C link-dead-code -C debuginfo=2 --cfg=tarpaulin -Z instrument-coverage "`  and nightly-x86_64-pc-windows-msvc unchanged - rustc 1.56.0-nightly (492723897 2021-07-29)  and this test:

[code]

unused.rs contains just a single function that's never used:

[code]

I expected to see to see it exit fine and the profraw file generated and the test exit successfully. Inste

[2021-07-30 23:01] Aaron1011 commented on #73933
I did a Crater run for this fairly recently, which found 135 regressions:

[2021-07-30 23:09] gheoan commented on #81381
I'm also experiencing linker errors related llvm when building rustc_driver. Using `download-ci-llvm = true`.

[2021-07-30 23:15] Diggsey commented on #63171
This is incorrect. Firstly, innaccuracies in floating point values are caused by conversions and/or computations on those values. A value on its own is completely precise. The value `2147483648.0` is exactly representable in a 32-bit float, and it is a different number from `2147483600`, which is not representable in a 32-bit float.

It is standard when you are doing computation on uncertain value

[2021-07-31 01:34] richkadel commented on #87649
This this is a known bug with link-dead-code implementation on msvc, not instrument-coverage. I implemented a different way to support dead code coverage (enabled by default) because I could never figure out why link-dead-code always caused the binary to segfault. The profraw file is empty because the binary sake bolts before it has an opportunity to write the file on exit.

Can you do me a favor

[2021-07-31 01:40] richkadel commented on #87649
Duplicate of #76038

[2021-07-31 01:42] richkadel commented on #87649
Also see https://github.com/rust-lang/rust/issues/76038#issuecomment-741920297

[2021-07-31 01:50] ttappr commented on #87632
The 'static lifetime applied to the parameter is not meaningfully used within the method - it's unnecessary. I personally prefer that the compiler not allow this and it not be considered a bug. However, the compiler error message could be more exact.

[2021-07-31 02:01] ttappr commented on #63033
I followed the dup link to this issue from this one, https://github.com/rust-lang/rust/issues/87632.  In that case the 'static lifetime applied to the parameter is not meaningfully used within the body of the method. I prefer the compiler not allow this because it unnecessarily constrains code that calls the method. This should not be considered a bug, but the compiler error message could be more

[2021-07-31 04:44] hkratz commented on #87642
Not that I know of. I think it makes sense to leave this issue open. Maybe someone wants to dig deeper and boil it down to the actual LLVM IR for which the backend produces this error.

[2021-07-31 04:46] prathikgowda commented on #87642
Okay that makes sense - I reopened it.

[2021-07-31 05:02] sisungo opened #87651 "Compiler panic at `region constraints already solved`"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-31 05:17] Sl1mb0 commented on #85931
Im interested in tackling this. Is there anywhere I can find documentation about s390x architecture? Online resources aren't yielding much..

[2021-07-31 06:16] cynecx commented on #86631
Can we perhaps revert #85970 for the time
being until this gets resolved?

[2021-07-31 07:38] npmccallum commented on #32408
@kotauskas Under the [Constrained Naked definition](https://github.com/rust-lang/rfcs/pull/2972) the compiler commits to avoid generating instructions **before** the `asm!()` but not afterwards.

[2021-07-31 08:04] apiraino commented on #87611
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387611.20rustdoc.3A.20Section.20icon.20covers.20part.20of.20enum.20variant.20na.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-07-31 08:25] m-ou-se commented on #87621
Ah, yes. The span of the format string itself doesn't really matter, but the call site of the assert!() call itself does matter. So if they used quote_spanned only for the format string, but regular quote for the surrounding tokens, it'd be fine.

Yeah it shouldn't give warnings you can't fix in your current crate, so that part is a bug. It's a bit tricky, because if you have e.g.
[code]
then a wa

[2021-07-31 08:30] xd009642 commented on #87649
Well as it's a duplicate I'll close this one then, thanks :+1:

[2021-07-31 08:30] #87649 closed

[2021-07-31 09:12] apiraino commented on #87647
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387647.20Parser.20incorrectly.20suggests.20adding.20semicolon.20after.20f.E2.80.A6) of the Prioritization Working Group.

Bisection seems to confirm that  #87436 may have a role here (specifically  8bebfe5cc2db1603be0d4ad79ad17d48e3b20e54), @eb

[2021-07-31 09:13] apiraino commented on #87635
right, this issue can be probably be closed as duplicate of #87647

[2021-07-31 10:31] gopherclass opened #87656 "Tracking Issue for `Vec::pop_unchecked`"
Feature gate: `#![feature(vec_pop_unchecked)]`

This is a tracking issue for adding an API to pop from a `Vec` without bounds checking.

`Vec` has the safe and unsafe getter api through `Deref<Target = [T]>`. On the other hand, `Vec` has the safe `pop` method. I'm curious of why `Vec` hasn't the unsafe version of the `pop` method.

### Public API

[code]

### Steps / History

- [ ] Implementation:

[2021-07-31 10:41] the8472 commented on #87656
Do you have an example where it would provide a speedup?

[2021-07-31 11:48] hkmatsumoto opened #87657 "ICE: thread 'rustc' panicked at 'region constraints already solved'"
### Code

[code]
Compiles with `&item` replaced for `item`

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-07-31 12:02] l0calh05t opened #87658 "Miscompilation of `vbsl*_*` NEON intrinsics"
I tried this code:

[code]

using this Cargo configuration

[code]

I expected to see this happen: the generated code includes a `vbsl`/`vbit`/`vbif` instruction, i.e., like Clang's output for an equivalent C function
[code]

Instead, this happened: The function is optimized to returning `to`:

[code]

We discussed this issue on [Zulip](https://rust-lang.zulipchat.com/#narrow/stream/122652-new-mem

[2021-07-31 12:07] gopherclass commented on #87656
@the8472 I believe the reason is the same as `[T]::get_unchecked()`, but I has no evidence.

[2021-07-31 12:23] the8472 commented on #87656
Imo unsafe methods should only be added if there's a practical need for them. For the unchecked variants that's usually because there's some concrete code where the compiler fails to elide bounds checks in very hot loops.

This is less likely for `pop` because you can `get_unchecked()` an element repeatedly, i.e. loop over the data many times. But you can only `pop` each element once before having

[2021-07-31 12:52] steffahn commented on #87635
@apiraino

I would suggest not closing this issue as long as #87647 literally starts with the statement

referencing back to this issue. Furthermore, this issue is older, so if they’d be duplicates, #87647 would be closed.

[2021-07-31 13:28] gopherclass commented on #87656
Okay, your remark is quite reasonable. I realized `set_len` and `get_unchecked` seem to be a powerful alternative to `pop_unchecked` in very hot loops because we would normally know the length of a vec in such situations. As I'm convinced `pop_unchecked` wouldn't be effective, I close this issue. Thank for answering my issue.

[2021-07-31 13:28] #87656 closed

[2021-07-31 13:41] jyn514 opened #87660 "Rustdoc: column for re-exports is unnecessarily narrow on mobile"
I tried this code: https://docs.rs/flume/0.10.7/flume/

I expected to see this happen: The docs are reasonably easy to read on mobile.

Instead, this happened:
![image](https://user-images.githubusercontent.com/23638587/127741643-32237aa0-2cbc-4a95-89b9-cecb0bc9f931.png)

You can also replicate this by scrolling in to 500% zoom on desktop:
![image](https://user-images.githubusercontent.com/2363858

[2021-07-31 13:45] jyn514 commented on #87660
Oh oops, this is fixed on nightly.
![image](https://user-images.githubusercontent.com/23638587/127741867-8e82f5e8-42c3-4129-afc9-36edf98e82d3.png)

[2021-07-31 13:45] #87660 closed

[2021-07-31 13:47] edelsohn commented on #85931
[IBMz ISA](https://linux.mainframe.blog/zarchitecture-principles-of-operation/)

[2021-07-31 13:54] overlisted commented on #79524
Continuing the `flat_intersperse` conversation, here's one way how it can be implemented (TODO make that `Vec` a generic list):
[code]

[2021-07-31 14:33] rbtcollins commented on #78595
Happens for collect, try_collect etc etc as well of course.

[2021-07-31 14:35] samoylovfp opened #87665 "Improve Vec::extend(repeat(once)) error output"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9bcb7aee0de0df58f05d8154a14ff96f

[code]

The current output is:

[code]

Not sure what Ideally the output should look like, maybe somehow detect the "once" here is not necessary and suggest removing it. The output is the same on nightly

[2021-07-31 14:56] pepyakin commented on #55468
I just checked and it seems that this no longer a problem.

[2021-07-31 14:56] #55468 closed

[2021-07-31 16:06] higker commented on #80165
this was previously accepted by the compiler but is being phased out; it will become a hard error in the 2021 edition!

[2021-07-31 16:28] #85913 closed

[2021-07-31 17:41] adamnemecek opened #87670 "If you set RUSTFLAGS, change a file, and run cargo, all dependencies are pulled again"
I set `export RUSTFLAGS=-Awarmings` in order to suppress warnings (including those from dependencies). If I then run `cargo build` things work as expected (cargo runs terminates a hitch). However if I change a single file file in the current project, all dependencies are pulled and recompiled again. The expected behavior is that that only the current project would be checked.

I'm on nightly (2021

[2021-07-31 17:45] adrian17 commented on #87643
Don't you need to opt-in to that with `-C target-feature=+nontrapping-fptoint` ? After adding this to your godbolt link, on nightly (but not 1.52), it'll compile down to:

[code]

[2021-07-31 17:50] jyn514 commented on #87670
Warnings in dependencies are already surpressed. They're rebuilt because cargo doesn't know whether your flags will affect the dependent crates, it doesn't inspect the flags to see if you're passing a --cfg or a lint level.

Anyway, this should be a cargo issue, there's nothing rustc can do.

[2021-07-31 17:51] jyn514 commented on #87670
If you only want to set flags for one crate, you can use `cargo rustc`. I don't know a way to do it for all path dependencies, though.

[2021-07-31 18:01] adamnemecek commented on #87670
I'm not talking about the first time, I'm talking about after that. I set flags, change file, run cargo, things get rebuilt. I change another file, run cargo and things get rebuilt again.

[2021-07-31 18:16] CryZe commented on #87643
Yeah this issue is only concerned with not having the WASM feature active. It should still produce reasonably good code then. Atm it's not as good as before 1.53.

[2021-07-31 18:39] the8472 commented on #79308
Something that was [brought up on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/122651-general/topic/does.20Repr.28C.29.20on.20a.20single.20field.20struct.20hurts.20optimizations.3F/near/245053355) is that this case also fails for `Copy`, i.e. with the `TrustedRandomAccess` specialization is when the wrapper type is `repr(C)`

https://rust.godbolt.org/z/54n7o9KKn

[2021-07-31 18:48] Hpmason opened #87672 "Better Diagnostics When Using Wrong Brackets to Create an Array"
I ended up spending way too much time debugging the following error, since I was trying to port some C code to rust.
[code]
Give the error:
[code]
The error message is very vague and hard to determine the actual error here.
Seeing as though some programming languages like Java and C use `{}` for arrays, I think it'd make sense for the compiler to suggest using `[]` if the user is trying to create

[2021-07-31 20:02] ViliamVadocz opened #87674 "Computing and checking generics of type which uses const generics"
### Code

I tried simplifying my code, but the code is quite complex and I wasn't able to recreate the ICE. Here is the repo which you can try building to see it for yourself: https://github.com/ViliamVadocz/Onitama-Alpha-Zero

The main source of the issue is my Tensor structs which look similar to the below code. I have had issues with this [in the past](https://github.com/rust-lang/rust/issues/8

[2021-07-31 20:04] ViliamVadocz commented on #87674
Please add **A-const-generics**, **F-const_evaluatable_checked**, and **F-const_generics** labels

[2021-07-31 20:08] ViliamVadocz commented on #87674
Maybe related to https://github.com/rust-lang/rust/issues/87603, but I had this ICE already all the way back in 04/06/2021.
Back then the error was
[code]

[2021-07-31 20:20] #83854 closed

[2021-07-31 21:37] jonas-schievink commented on #87670
This is a known Cargo limitation, see https://github.com/rust-lang/cargo/issues/9055

[2021-07-31 21:37] #87670 closed

[2021-07-31 21:40] adamnemecek commented on #87670
It happens not just when you set the flags the first time, but on every recompile after you set the flags.

[2021-07-31 21:48] jonas-schievink commented on #87670
I can't reproduce that, but that should also be filed over at https://github.com/rust-lang/cargo

[2021-07-31 22:20] bstrie opened #87675 "Disarm mem::uninitialized by having it initialize to an arbitrary valid value for each type"
For a while it has been understood that the `mem::uninitialized` API is broken. Originally the intuitive understanding of this API was that it produced a fixed, arbitrary value. However (as extensively discussed elsewhere) uninitialized memory is not a “fixed, arbitrary value”, and that for nearly all types in Rust it is instantaneous undefined behavior for them to be uninitialized.

What’s worse,

[2021-07-31 22:47] fanninpm commented on #87651
Are you at liberty to share the code causing this ICE?

[2021-07-31 23:02] memoryruins commented on #87675
What if there is no valid value?

[code]

currently helpfully panics with

[code]

[2021-07-31 23:49] bstrie commented on #87675
I suspect it would not be a problem for it to continue to panic when used with uninhabited types.

[2021-08-01 01:30] ebobrow commented on #87647
Uh oh, sorry about this. I don't have any good ideas on how to fix it but I'll take a look. Alternatively, since none of the changes in #87436 are necessary, we could technically roll back the whole PR. It's definitely the cause of this issue.

[2021-08-01 08:48] nagisa opened #87678 "`UNSUPPORTED_CALLING_CONVENTIONS` future compat link needs a tracking issue"
Currently when we trigger the `UNSUPPORTED_CALLING_CONVENTIONS` lint, it references issue #00000. We should have a proper tracking issue.

Try (on x96_64 linux)

[code]

We also want to backport this issue number to beta. Adding the regression label for my own tracking purposes.

[2021-08-01 08:50] apiraino commented on #87647
no worries @ebobrow and thanks for investigating

[2021-08-01 12:15] Veetaha opened #87681 "Module path attribute override with nested macros doesnt work"
I tried this code:

[Repository with the reproduction](https://github.com/Veetaha/path-nested-macro-bug-repro)

I expected to see this happen: *explanation*

The code should compile without errors, because this feature was advertised in Rust 1.54 announcement and in https://github.com/rust-lang/rust/pull/83366.

Instead, this happened: *explanation*

Compile error `file not found for module genera

[2021-08-01 14:16] #87450 closed

[2021-08-01 14:38] mirao commented on #46016
Just got the same issue in this code, when playing with [infinity in iterators](https://doc.rust-lang.org/std/iter/index.html#infinity):
[code]
If you run `cargo run|less` and press "q", it fails:
[code]
**Used SW:**
- Ubuntu 21.04
- cargo/rustc 1.53.0

[2021-08-01 14:55] ehuss commented on #87681
I can confirm this doesn't work, and is a bit unfortunate it slipped through (I admit I didn't test it).

From what I can tell, the extended `attr=expr` expansion happens during lowering to HIR (maybe? I'm not sure), but `#[path]` is needed during expansion before that happens. The check [here](https://github.com/rust-lang/rust/blob/8d57c0ab2b2e1aae07c1b8638358fb7a909940bc/compiler/rustc_expand/sr

[2021-08-01 15:00] Mark-Simulacrum commented on #86421
As mentioned in https://github.com/rust-lang/rust/pull/86459#issuecomment-890534891, I'm going to go ahead and close this issue -- I don't think this is something we want to track as rustbuild work.

[2021-08-01 15:00] #86421 closed

[2021-08-01 15:56] LukasKalbertodt commented on #78713
The issue still occurs with 1.54 on Windows.

[code]

[2021-08-01 17:57] protheory8 commented on #83940
Any updates?

[2021-08-01 18:27] klensy commented on #87562
Something wrong:

[2021-08-01 19:05] uzytkownik opened #87682 "Rust confused by associated types in default generic"
I tried this code:

[code]

I expected to see this happen: Code compiles or provide a readable error

Instead, this happened:
[code]

### Meta
It also happens on stable based on [play.rust-lang.org](http://play.rust-lang.org/).

`rustc --version --verbose`:
[code]

[2021-08-01 19:26] ssomers commented on #62924
#86031 fixes the original issue title "Finding minimum/maximum element in BTreeMap does twice the required amount of computation", without introducing new functions. But there are more functions here, there's easy of use (either way, more functions is not necessarily easier), and benchmarks suggest that `first()` is still twice as fast as `iter().next()`.

[2021-08-01 20:55] Cyborus04 opened #87684 "Contradiction in WASM SIMD `all_true` function documention"
The documentation for `u8x16_all_true` and `i8x16_all_true` read "Returns true if all lanes are nonzero or false if any lane is nonzero." This is contradictory. Under this definition, if all lanes are non-zero it should return both true and false, and if all lanes are zero it shouldn't return true nor false. I believe they should be "Returns true if all lanes are nonzero or false if any lane is ze

[2021-08-02 02:29] ebobrow commented on #87647
If we can be sure that this is the only case where the semicolon check creates unwanted suggestions, we could make it optional, like with a helper function or an extra boolean parameter. That would prevent the ICE and give the expected error message, but I'm not sure how elegant it is. Thoughts?

[2021-08-02 04:00] golddranks commented on #82523
Should this be deny-by-default for the 2021 edition, or is it too early for this list (and too late for the edition)?

[2021-08-02 04:59] #86063 closed

[2021-08-02 04:59] #86082 closed

[2021-08-02 04:59] #86436 closed

[2021-08-02 06:33] ammkrn commented on #87479
I have a use case of the kind @cramertj referenced that I ended up working around with macros, but I would like to try and remove them when GATs are available. Also for cramertj, I couldn't figure out how to implement your example with HRTBs, so if you can actually do that I'd be interested to learn how it's done.

My specific use case is a little more complex, but I think the idea is relevant to

[2021-08-02 06:36] Joe23232 opened #87692 "How do I remove my file paths inside the release version of the executable?"
On Windows if I run `cargo build --release`, it doesn't remove my file path if I were to open the executable in notepad and to search up my file path. I wish to strip off such information, is there a way to do so?

I assume anything to do with debug is the reason why my file path is being included in it?

[2021-08-02 06:48] workingjubilee commented on #63171
Your example is a 10 digit decimal, and thus needs to be printed fully according to the standard, as I said. I am very interested if you have a 13 digit example.

[2021-08-02 08:06] RalfJung commented on #82523
IIRC the consensus was that since this problem affects all editions, it would not make sense to make it deny-by-default in only in some editions.

[2021-08-02 08:53] workingjubilee commented on #63171
The point of what I said is that by the time the value may be printed imprecisely then the distance between the values, the points that correspond to the integer solution to the sign, exponent, and mantissa equation, has become _considerably_ greater than the value that may be omitted. Permitting such for values within the range of an equivalent integer seems unwise. Printing the last decimal digi

[2021-08-02 08:56] hellow554 commented on #87692
You can use `strip`.

Please ask questions about programming at https://users.rust-lang.org/
This issue tracker is used for tracking issues around the compiler and library :)

[2021-08-02 09:18] Joe23232 commented on #87692
I tried that but it doesn't seem to support *.exe.

This issue tracker is used for tracking issues around the compiler and library :)

Sure next time mate =D

Strange, I can see you are using Linux so maybe on Linux it doesn't do this but on Windows it does?

[2021-08-02 09:35] poliorcetics opened #87694 "Error suggests additional `pub` when using `pub pub fn ...`"
I tried this code:

[code]

I expected to see this happen: Rust tells me to fix the issue by removing a `pub`.

Instead, this happened: Rust tells me to add a `pub` before the existing ones: `pub pub pub`:

[code]

This will also be an issue with `const async const` (and similar errors with other keywords) after #87235 is merged.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Ba

[2021-08-02 09:40] #87692 closed

[2021-08-02 11:23] GuillaumeGomez commented on #87611
Fixing it.

[2021-08-02 11:26] GuillaumeGomez commented on #87611
It's actually already fixed in [nightly](https://doc.rust-lang.org/nightly/std/option/enum.Option.html) and [beta](https://doc.rust-lang.org/beta/std/option/enum.Option.html). Should we close it then?

[2021-08-02 11:28] lcnr commented on #84955
This test doesn't seem to compile with the most recent nightly but I don't think the underlying issue has been fixed.

Not sure how to retrigger this issue

[2021-08-02 11:28] GuillaumeGomez commented on #60033
It's done.

[2021-08-02 11:28] #60033 closed

[2021-08-02 11:28] GuillaumeGomez commented on #87169
Fixed in #87285.

[2021-08-02 11:28] #87169 closed

[2021-08-02 12:11] BoxyUwU commented on #87674
Smaller repro of ICE:
[code]

[2021-08-02 12:25] Diggsey commented on #63171
Sure, any power of 2 within the exponent range is exactly representable in an f32. eg. `1_099_511_627_776.0`.

The problem is that setting it to zero is not the same as omitting the value. Omitting the value would indicate that the remaining digits are unspecified. Setting them to zero just produces the wrong number.

I disagree: printing the wrong decimal digit is just wrong, and we don't have th

[2021-08-02 13:53] davidbarsky commented on #76156
Out of curiosity, are there any blockers to this being stabilized, other than getting meaningful feedback on its current state? I ask because a stable, const `Location::caller` would be _incredibly_ valuable for [tokio-rs/tracing](https://github.com/tokio-rs/tracing/), as it'd allow tracing to get rid of some pretty gnarly macros.

[2021-08-02 13:54] chorman0773 commented on #87657
I got the same issue on the latest nightly and on play.rust-lang.org, without using rustc-private

[code]

The commented out `lazy_static!` block was used originally and triggers the ICE as well.

[2021-08-02 14:38] SkiFire13 commented on #87657
searched nightlies: from nightly-2021-07-29 to nightly-2021-08-02
regressed nightly: nightly-2021-07-31
searched commits: from https://github.com/rust-lang/rust/commit/492723897e9b4db6701b3a75b72618d08a7d5319 to https://github.com/rust-lang/rust/commit/1f0a591b3a5963a0ab11a35dc525ad9d46f612e4
regressed commit: https://github.com/rust-lang/rust/commit/1f0a591b3a5963a0ab11a35dc525ad9d46f612e4

<deta

[2021-08-02 15:14] m-ou-se opened #87701 "Update array and iterator docs in std / core for new IntoIterator impl and edition."

[2021-08-02 15:21] m-ou-se commented on #85189
That code now produces:
[code]

[2021-08-02 15:21] #85189 closed

[2021-08-02 15:22] m-ou-se commented on #87355
cc @rust-lang/wg-rfc-2229

[2021-08-02 15:25] m-ou-se commented on #84978
This seems to have already been completed. Apart from edition 2021 not being stable yet, this is stable.

[2021-08-02 15:41] CryZe opened #87702 "Which standard do `f32/f64::min/max` follow?"
I've been working on adding the new WebAssembly SIMD instructions to the `wide` crate, which is the most widely used crate for portable SIMD on stable Rust. As I finished up the implementation and ran the tests I noticed that various operations behave quite differently on the different architectures. In particular I ran across floating point min and max. Those have quite differing behavior when it

[2021-08-02 15:54] rust-highfive opened #87703 "`miri` no longer builds after rust-lang/rust#87248"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#87248, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @RalfJung, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-08-02 16:00] RalfJung commented on #87703
Cc https://github.com/rust-lang/miri/pull/1854

[2021-08-02 16:19] 0ble commented on #87674
confirming #87603 potentially predates 1.56 nightly

[2021-08-02 16:58] nikic commented on #87702
Duplicate of #83984.

[2021-08-02 16:58] #87702 closed

[2021-08-02 17:19] shepmaster commented on #59637
Since this now deals with just the macOS builders, there's not much we can do at the moment. It would likely require some external factor, such as GitHub Actions drastically improving the performance of those machines.

[2021-08-02 17:26] lukaslueg opened #87707 "#[track_caller] for std::sync::Once"
https://github.com/rust-lang/rust/blob/3227e35765bab6d02c581928e26ad1d34bacf394/library/std/src/sync/once.rs#L390-L393

Trying to initialize a poisoned `Once` does not track it's caller, yielding panic messages like

Can we add `#[track_caller]` here? I've seen previous PRs regarding other performance-critical methods get rejected due to the overhead (?) `track_caller` has.

[2021-08-02 17:30] CryZe commented on #87702
Ah perfect thank you.

[2021-08-02 17:56] danobi commented on #87681
@ehuss do you think adding support for this eager expansion is feasible / welcome? I'd be interested in hacking on it if it's not terribly difficult.

[2021-08-02 18:05] ehuss commented on #87681
Unfortunately I think it might be difficult to support.  `#[path]` would likely need special handling because it is needed during expansion.  I am not on the compiler or language teams, so I'm not the one to say definitively.

[2021-08-02 18:07] afetisov commented on #54725
Having absolute line&column positions will also break autoformatting. While sensible formatting of macros is mostly impossible, since they don't need to follow the Rust syntax, at the very least we can currently assume that whitespace has no semantic meaning. This means that we can add whitespace around operators, format inner blocks if we can prove that they are valid Rust code, or make macro cal

[2021-08-02 18:24] #87397 closed

[2021-08-02 18:40] stinodego opened #87709 "thread 'rustc' panicked at 'region constraints already solved'"
### Code

Haven't minimized the code yet, but the exact code is up here:
https://github.com/stinodego/gap_solver/tree/360697df92b09e804ce7d0b0f28346a3d13708ee

It's a kind of search algorithm. I think the problematic code is the `expand_node` function in `src/solver.rs`. Will report back if I figure out anything more.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<detai

[2021-08-02 18:56] Mark-Simulacrum commented on #87681
cc @petrochenkov @jyn514 -- I would have expected this to work based on discussions when landing this feature, so I'm a little surprised that it doesn't.

[2021-08-02 18:56] arora-aman commented on #87355
This is the expected lint for RFC 2229.

The `&options` introduces an immutable read within the closure, forcing `options` to be read completely without changing the closure trait(Fn/FnMut/FnOnce).

[2021-08-02 19:31] Lucretiel commented on #78186
No, I'm sorry, but it's not. *Formally*, references are either shared or unique; mutability is orthogonal to this. There are several types that are safe to mutate through shared references (the cells, atomics, mutexes). Shared references being immutable is basically only a convention, albeit one that's assumed by the compiler and optimizer and requires `UnsafeCell` as an escape hatch.

[2021-08-02 19:47] joshtriplett commented on #80190
What's the advantage of returning `Option<ErrorType>` rather than `Result<(), ErrorType>`? Semantically, the latter feels more accurate. And both are capable of handling niches in the same way.

[2021-08-02 20:00] petrochenkov commented on #87681
@Mark-Simulacrum

Internally "`mod m;` -> `mod m { /* contents */ }`" effectively works as "`#[include_it] mod m;` -> `mod m { /* contents */ }`", i.e. it's an expansion of the primary item `m`, which is performed before any nested expansions (including expansions inside attributes).

+1

[2021-08-02 20:12] SkiFire13 commented on #87709
This is probably a duplicate of #87657

You're using the nightly compiler though, so working as intended

[2021-08-02 20:12] SkiFire13 commented on #87651
This is probably a duplicate of #87657

[2021-08-02 20:15] nikic commented on #59637
The issue lists a few `dist-*` targets, but shouldn't assertions always be disabled for those, regardless of capacity?

[2021-08-02 20:55] droundy commented on #54725
I'll like to point out that procmacros can already parse the source code to find where they might have been invoked, and can do any number of bad things that will cause changes to users code to break under various circumstances.  Making it more convenient for them to break tooling does not itself break said tooling. Any user of a proc macro is already relying on the author of that macro to make it

[2021-08-02 21:57] afetisov commented on #54725
You're stating it as if it's a hypothetical problem, while there are already crates which do exactly the position-dependent processing that I'm talking about. Do remember that this can cause issues for downstream users which may not even know about such features, much less use them directly. I shouldn't know which proc macros are called by my transitive dependencies, but if a macro that I use call

[2021-08-02 22:15] Mark-Simulacrum commented on #59637
Yes, that seems correct - I think only alt dist builders are assert enabled today.

[2021-08-02 22:44] eholk commented on #57017
@rustbot claim

[2021-08-02 22:54] jonas-schievink commented on #54725
IDE performance would only be minimally affected if these `Span` APIs are implemented properly. You can already make IDE performance arbitrarily bad by just using a slow proc macro, so I don't really think this is a reason to not provide this API at all.

Hygiene is independent from positional information. We could remove the problematic `Span::parent` and stabilize the `LineColumn`-related APIs.

[2021-08-02 23:16] #87703 closed

[2021-08-03 01:13] Smittyvb opened #87713 "thir-unsafeck query loops when trying to compute frozenness"
I tried this code with `-Z thir-unsafeck`:
[code]

I expected to see this happen: It errors with `cannot resolve opaque type` and a warning

Instead, this happened: There is also a query loop:
[code]

This also happens when using the new unsafety checker with `ui/generator/layout-error.rs`, `ui/impl-trait/recursive-impl-trait-type-indirect.rs`, `ui/impl-trait/unsafety-checking-cycle.rs`, and `ui/t

[2021-08-03 01:15] Smittyvb commented on #87713
@rustbot label thir-unsafeck

[2021-08-03 01:55] goodwjak commented on #79717
Just wanted to note this is still a issue in Rust version 1.56.0-nightly for now I'm using
`#[macro_use] extern crate serde; `

[2021-08-03 04:34] edward-shen opened #87717 "Warn that trait implementation is gated by a feature flag"
Given the following code: (Playground link not provided because this involves a crate not on playground)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

I was trying to call `par_iter()` on the following example, but was very confused with regards to the error message. Consider the following image, snapshotted from the [`dashmap::DashSet` docs](https://docs.r

[2021-08-03 05:36] QuineDot commented on #41756
Forum user a-0xc-67 ran into what I assume is this issue [on URLO](https://users.rust-lang.org/t/requiring-generic-type-t-allow-f32-t-while-doing-f32-f32-in-code/63103).

[Works:](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0df6765aa914b1cecbd88ff50ae03793)
[code]
[Does not work:](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=98d62d4145723d8e85

[2021-08-03 05:41] memoryruins opened #87718 "ICE: 'assertion failed: num_missing_args > 0', compiler/rustc_typeck/src/structured_errors/wrong_number_of_generic_args.rs:234:17"
### Code
Experimenting with #83701, the following compiles without an issue:
[code]

But with multiple APIT using the same type parameter, ICEs occur:
[code]

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=37d29c0eb53292773bb3527d8e9d7527)

`rustc --version`:
[code]

### Error output

The two separate panic messages:
[code]
[code]

<details><summary><strong>B

[2021-08-03 06:12] Ericson2314 commented on #44663
@Eh2406 Sorry to leave your nice response hanging.

Off hand, just https://wiki.haskell.org/wikiupload/b/b4/HIW2011-Talk-Loeh.pdf linked in the other thread, and I found https://opam.ocaml.org/doc/External_solvers.html for OPAM which links some older research. But I would be happy to ask around to get more up to date info for Cabal.

I read up a bit on that. Interesting and looks quite nice! It do

[2021-08-03 07:53] Luro02 commented on #87549
I seem to have run into the same issue with this code:
[code]

`cargo +nightly --verbose check`
[code]

`rustc --version --verbose`
[code]

<details>
  <summary>Backtrace</summary>

[code]
</details>

[2021-08-03 08:25] PTNobel opened #87721 "ggest dereferencing smart pointers to satisfy mismatched types [E0308] in match argument"
Given the following code:

[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=629109fcd26aa8757894e600bfe31f42

The current output is:

[code]

Ideally the output should look like:

[code]

[2021-08-03 08:28] inquisitivecrystal commented on #87406
I'm still working on this. Lifting the macros to top level is surprisingly complicated, but I'm making headway.

[2021-08-03 08:40] GuillaumeGomez commented on #83255
I guess we can now consider this issue to be fixed since #87451 was merged?

[2021-08-03 09:01] HKalbasi commented on #53667
I wrote a [RFC draft about let expression](https://github.com/HKalbasi/rfcs/blob/master/text/0000-let-expression.md). I like to hear comments of people involved here before submitting it officially.

[2021-08-03 09:24] huntiep commented on #84277
How do I use `?` with Option -> Result now? Before it was only necessary to implement From<NoneError> for my error type.

[2021-08-03 10:05] WaffleLapkin opened #87724 "`$pat` followed by a `:` is used in the language, but isn't allowed for MBE"
I tried this code:

[code]
([play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b94b1f7026aea55367d39ec0bf786929))

I expected this code to compile, instead, it fails with the following error:

[code]

It's very weird that the language uses patterns followed by a `:`, but macros-by-example (aka `macro_rules!`, declarative macros, etc) can't parse it.

### Meta

`rustc --

[2021-08-03 10:18] SkiFire13 commented on #87717
I don't think the proposed approach would work. Feature gates implementations are filtered out when expanding macros, meaning their tokens are ignored, not just the higher-level concept of implementation. To make it work rustc would need to expand `cfg` macros regarless and track whether the code generated was `cfg`ed or not, however I would expect this to be a huge performance hit, not even menti

[2021-08-03 10:42] #87017 closed

[2021-08-03 10:51] WaffleLapkin commented on #87724
It seems trivial to fix, so if there are no concerns about allowing this, I would make a PR.

[2021-08-03 10:59] lqd commented on #87549
I believe these ICEs trigger because #83898 cc @Aaron1011 @estebank.

[2021-08-03 11:13] M4tsuri opened #87726 "Confusing error message"
I tried this code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=efe6e56404094abbfbc3c1183587fe23

[code]

I expected to see this happen:

I expect compiling succeeds or give readable error message.

Instead, this happened:

[code]

It seems that the code causing the error at line 11 is missing.

### Meta

`rustc --version --verbose`:
[code]

And I wonder if anyone can e

[2021-08-03 12:06] SkiFire13 commented on #87726
Your initial function `f` required that the references inside the `HashMap` had the same lifetime as the mutable reference to it. This pretty much means that it will be borrowed until it goes out of scope, which includes the second `&mut scores`, thus the error that you're trying to borrow something already borrowed.

This constraint is not present in your second defintion of `f`, because the two

[2021-08-03 12:07] estebank commented on #87549
I'm not able to repro this with rustc 1.56.0-nightly (e3b1c12be 2021-08-02):

[code]

Could you verify that you see it with a recent nightly? There have been significant changes in this area recently.

[2021-08-03 12:23] Luro02 commented on #87549
I am able to reproduce my issue and the other one on `rustc 1.56.0-nightly (e3b1c12be 2021-08-02)` by simply running `cargo +nightly check`:
[reproduce.zip](https://github.com/rust-lang/rust/files/6923982/reproduce.zip)

[2021-08-03 12:52] M4tsuri commented on #87726
Thank you very much. If I'm not mistaken, "sharing the same lifetime" means they can have reference to each other. So in function prototype, an object with the same lifetime of its field can lead to recursive reference, which lead to a borrow to itself. And the compiler always consider the worst case, so it throws an error even there are actually no self-borrowing in my code. I wonder if I'm not m

[2021-08-03 13:23] #87414 closed

[2021-08-03 13:23] #87635 closed

[2021-08-03 13:41] m-ou-se commented on #87724
The allowed list of tokens after certain fragments is very conservative to avoid making too many promises about the syntax, but they can be extended carefully. It'd require an FCP though.

cc @rust-lang/lang

[2021-08-03 14:03] jackh726 commented on #87682
So, you're trying to `impl Bar`, but `Bar` doesn't have an associated type? Only `Foo`

[2021-08-03 14:06] jackh726 commented on #87612
`llvm_asm` is soon to be deprecated in favor of `asm`.

I'm not sure if we're still tracking `llvm_asm` issues cc @Amanieu

[2021-08-03 14:33] LinkTed commented on #76923
Any news?

[2021-08-03 15:22] JohnTitor commented on #87318
Fixed by #87596.

[2021-08-03 15:22] #87318 closed

[2021-08-03 15:41] delbonis commented on #87717
This might be a stretch but I feel like it could be convenient for a lot of users if there was some heuristic that's takes any traits that get filtered out by a cfg attr and put them to the side and if you try to implement a trait with the *name* but can't it gives you a hint saying "hey did you want this?", even if it's wrong.  That would have false positives and false negatives but it could sort

[2021-08-03 16:04] #86162 closed

[2021-08-03 16:30] gbj opened #87732 "auto_traits + negative_impls not working as expected with associated types"
It's possible that this is working as designed or that I'm taking the wrong approach here, so apologies up front if that's the case.

I seem to be able to use the combination of `auto_traits` and `negative_impls` to implement traits in a way that is generic but polymorphic for generic types on concrete types, but not for associated types on traits.

[code]
I would've expected that the compiler cou

[2021-08-03 18:05] joshtriplett commented on #87341
Can we get some clarification on what the question being asked of @rust-lang/lang is here? Is the desire here to fix the semantics (making all of the cell types not have niches)? Or is there a question about the correct semantics? I see in the internals thread several questions about what transmutes are valid (e.g. between `Option<NonZeroU32>` and `u32`), but this issue doesn't seem to be referenc

[2021-08-03 18:12] joshtriplett commented on #87520
We discussed this in today's @rust-lang/lang meeting.

Our initial reaction is that several of the examples currently considered safe should not be. (Some of them might potentially be in the future based on safe-transmute infrastructure, but they shouldn't be until we have that infrastructure. And some of them shouldn't ever be.)

It seems OK to match a ZST without an unsafe block. But matching a

[2021-08-03 18:33] nbdd0121 commented on #87717
For this to work a trait impl needs to participate in trait resolution, but cfg-gated code doesn't even have to typecheck, so I don't think it'll work.

Best way is probably to use `doc_cfg`.

[2021-08-03 19:03] gheoan opened #87733 "Linking error in rustc_llvm when using rustc_interface"
When executing `rustc test.rs` on the code below, linking fails.
[code]
The linker error is:
[code]

I'm using the `nightly-x86_64-pc-windows-msvc` toolchain via rustup. The compiler version is `rustc 1.56.0-nightly (4e282795d 2021-07-31)`. The link.exe version is `14.21.27702.2`.

See my next comment for the error displayed by lld.

I can reproduce this error using the following crate types: `pro

[2021-08-03 19:03] gheoan commented on #87733
Here is lld's output when executing `rustc -C linker=lld-link.exe test.rs`:
[code]

[2021-08-03 19:11] gheoan commented on #87733
@rustbot modify labels: +T-compiler +B-unstable +requires-nightly +A-driver

[2021-08-03 19:26] pnkfelix commented on #87341
It sounds like I should have explicitly included testing of `Cell` when I wrote PR #68491.  At least, based on all the dialogue I can find, we were all operating under the assumption that removing the niche from `UnsafeCell` would imply it would also be removed from `Cell` (unless some action were taken to remove it from `Cell` as well), while the tests given on thisPR demonstrate that this assump

[2021-08-03 19:28] c410-f3r opened #87735 "[`GAT`] Associated type lifetime on regular type"
After playing with Generic Associated Types, the following snippet was successfully created:

[code]

But then I was wondering if it is possible to generalize the above statement for every `Foo<T>` with `T: AsRef2`. Here is what was accomplished so far:

[code]

Any clues? Feel free to close this issue if duplicated.

[2021-08-03 19:47] tmccombs commented on #84277
Use `.ok_or(MyError)?`

[2021-08-03 20:16] camelid commented on #87611
It doesn't look fixed to me in the links you posted. When I hover over the `None` variant, the section icon still covers the word `None`, and the styling of the highlight is still different from 1.53.0.

[2021-08-03 20:18] GuillaumeGomez commented on #87611
That's interesting:

![Screenshot from 2021-08-03 22-16-54](https://user-images.githubusercontent.com/3050060/128080386-849a12b6-b696-4ba3-acf0-596532af9c59.png)

I love when dark magic is involved haha. Well, I'm gonna try to see how to reproduce it.

[2021-08-03 20:21] camelid commented on #87611
The bug is present in all themes, but it looks a bit different in Ayu:

![image](https://user-images.githubusercontent.com/37223377/128080774-a97b26f6-44b5-4bc9-b860-4bb237018bfe.png)

As you can see, it looks like the section icon's background is overlapping with the text `None`.

[2021-08-03 20:23] camelid commented on #87611
Ayu seems to have also had a highlighting regression from stable to beta, perhaps separate from the one described in this issue?

#### stable

![image](https://user-images.githubusercontent.com/37223377/128080955-e0fc76e3-9db4-4a2c-8127-36bc30dc832c.png)

#### beta

![image](https://user-images.githubusercontent.com/37223377/128081078-c52b52cb-4a7e-4a98-8c78-b34f50ad15bf.png)

[2021-08-03 20:40] camelid commented on #83255
@GuillaumeGomez that sounds right to me. Do you want to close it?

[2021-08-03 20:46] GuillaumeGomez commented on #83255
Let's close it then. :)

[2021-08-03 20:46] #83255 closed

[2021-08-03 21:26] est31 commented on #85753
Running a cursory check to find cfg typos across the rust codebase, I couldn't find any:

<details>

[code]

</details>

Maybe it's not *that* valuable to add this if this doesn't occur in the wild very often?

[2021-08-03 22:45] #85735 closed

[2021-08-03 23:04] nicholasbishop opened #87745 "--remap-path-prefix no longer works for compiler messages"
### Code

Create a directory and put a Rust file with bad syntax in it:
[code]

Then compile it with:

[code]

I expected to see output like this:

[code]

Instead, the path is not modified and I get:

[code]

### Version it worked on

rustc 1.53.0 (53cb7b09b 2021-06-17)

### Version with regression

rustc 1.54.0 (a178d0322 2021-07-26)

[2021-08-03 23:14] nicholasbishop commented on #87745
Bisected:

searched nightlies: from nightly-2021-03-17 to nightly-2021-08-03
regressed nightly: nightly-2021-05-13
searched commits: from https://github.com/rust-lang/rust/commit/5c029265465301fe9cb3960ce2a5da6c99b8dcf2 to https://github.com/rust-lang/rust/commit/21e92b97309e15b16bc6b8dd4509d5e3ad4c430d
regressed commit: https://github.com/rust-lang/rust/commit/e1ff91f439bc09f566da211c6449821b4e94

[2021-08-03 23:49] dcsommer commented on #25057
@nhynes that looks similar to rust-lang/rfcs#2771

[2021-08-04 00:10] vi commented on #85360
Is it the same issue or a separate?

[code]

Note that [cg_clif](https://github.com/bjorn3/rustc_codegen_cranelift/) is in use.

[2021-08-04 00:12] dt665m opened #87747 "LLVM Error for --target x86_64-apple-darwin"
Hi all, I'm getting a LLVM error trying to build using the x86_64-apple-darwin target on a very specific repository on an ubuntu distro.  Any pointers would be highly appreciated!

OS:
[code]

Rust Version:
rustc 1.54.0 (a178d0322 2021-07-26)

Problematic Repository:
https://github.com/paritytech/reed-solomon-novelpoly

Build Command:
[code]

Output:
[code]

[2021-08-04 00:12] athre0z opened #87748 "GAT: lifetime mismatch when requiring lifetime bounds despite type not using the lifetimes at all"
Compiling this code:

[code]

I'd expect all of these three versions to compile. The associated type has two lifetimes as well as a lifetime bound `'b: 'a`, but `u32` doesn't use the lifetime. However, I'm getting a compiler error:

[code]

Without the `where 'b: 'a`, all three compile fine.

[Playground Link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ec5f5d95af1164b

[2021-08-04 00:12] Nicholas-Baron commented on #87694
I have been looking at this problem and I would like to share my findings so far.

It seems that the second `pub` is being caught too late.
The function [`parse_fn_front_matter`](https://github.com/rust-lang/rust/blob/a6ece56152d8eb11e049e9fcce147b2859e12c92/compiler/rustc_parse/src/parser/item.rs#L1768) generates this error.
However, the visibility modifier (e.g. `pub`, `crate`) should have been

[2021-08-04 00:22] uzytkownik commented on #87682
@jackh726 Fixed (sorry - I have large app so I try to create minimal repo but sometimes I make errors when I simplify)

[2021-08-04 01:06] jonas-schievink commented on #87747
That is not a valid section specifier on macOS. Some of the crates involved don't seem to support macOS. Not a Rust bug, so closing.

[2021-08-04 01:06] #87747 closed

[2021-08-04 01:57] Mark-Simulacrum opened #87749 "Crater runs for 1.55"
Note: Please do not conduct triage on these runs without discussing how to do so with a release team member first. Thanks!

- [x] #87455
- [x] #83190
- [ ] #85925
- [x] #87991
- [ ] rust-lang/cargo#6313
- [x] #87992
- [x] rust-lang/cargo#9783

[2021-08-04 01:58] Mark-Simulacrum commented on #87749
@craterbot run name=beta-1.55-1 start=1.54.0 end=beta-2021-08-01 mode=build-and-test cap-lints=warn p=10

[2021-08-04 01:58] Mark-Simulacrum commented on #87749
@craterbot run name=beta-1.55-rustdoc-1 start=1.54.0 end=beta-2021-08-01 mode=rustdoc cap-lints=warn p=5

[2021-08-04 03:30] Eh2406 commented on #44663
PubGrub simplifies dependency resolution to a platonic ideal of it self. There is a lot of work to expand it to handle compatibility with all the gnarly details of Cargos resolver. A full discussion of each problem and are current thoughts for how to work around it is somewhat out of scope here, luckily @mpizenberg has written up a guide [here](https://pubgrub-rs-guide.netlify.app/) with a section

[2021-08-04 03:38] memoryruins commented on #87482
Duplicate of #78474

[2021-08-04 03:45] memoryruins commented on #87485
Beta and [nightly's docs](https://doc.rust-lang.org/nightly/std/cmp/trait.PartialOrd.html) are much clearer about both parts after #85637

[2021-08-04 03:50] mzji commented on #77101
Since `core::array::from_ref()` and `core::array::from_mut()` has been stablized, could we now add `impl<T> From<T> for [T; 1]`, `impl<'a, T> From<&'a T> for &'a [T; 1]` and `impl<'a, T> From<&'a mut T> for &'a mut [T; 1]` to libcore? These impls should be easy to implement (just one-liners) and ergonomic to use.

[2021-08-04 03:51] joshtriplett commented on #87724
I'd guess the main thing we'd lose by allowing macros to add this would be ascription within patterns, or some other use of `:` within patterns?

[2021-08-04 03:59] asquared31415 commented on #9307
I've looked at this a little and I think that the existing detection that #85339 added to traits could be expanded to include most or all of the lang items.  This wouldn't be a full solution but it would help to stop some of the ICEs that occur on functions and structs that are lang items.

[2021-08-04 04:01] jhpratt commented on #77101
@mzji Feel free to create a pull request! I would imagine it would be accepted.

[2021-08-04 04:07] memoryruins commented on #66348
#87405 is tracking plans to add artifact size profiling, which I suspect will help keep an eye on some contributing factors of this issue.

[2021-08-04 04:53] dt665m commented on #87747
this crate does support macos though, when compiling natively from macos.

[2021-08-04 05:40] dt665m commented on #87747
@jonas-schievink the crate in question does not do anything fancy with C/CXX unless a specific feature flag is on, which I am not using.  I should clarify that the library compiles fine natively in macos, but fails when compiling using a target flag on linux.  It may not be a rust but it could be some kind of toolchain bug somewhere or a version conflict.

[2021-08-04 06:03] tmccombs opened #87750 "ICE with recursive type using GAT."
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-04 07:18] estebank commented on #39959
Triage:

[Current output for original report](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=81c21e759051732bf954ce925c37d19c):

[code]

For [the third report](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=1e7326267348045e211ae963f664bd3c):

[code]

[Fourth report](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=da821a71

[2021-08-04 07:33] estebank commented on #57854
[The original report no longer emits E0275](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=69a4b74228bcd717f8491debc3c23318), it only complains about the invalid `use`, as it should:

[code]

[The minimized report now looks like this](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=03ada12ca85809b28187973d38a2b087):

[code]

If we apply the suggest

[2021-08-04 07:40] estebank opened #87751 "Provide a structured suggestion on `where`-clause restriction on borrow with no named lifetime"
[Given](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=cd678f2897ad415ddfe21b0ef60dd812):

[code]

The compiler outputs

[code]

I believe missing lifetimes in `where` clauses should [provide a structured suggestion in the same way that we do when we find a return borrowed type without a lifetime](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=12

[2021-08-04 08:05] GuillaumeGomez opened #87752 "Make RenderOptions fields' type into newtype instead of boolean for clarity"
The discussion happened there: https://github.com/rust-lang/rust/pull/84176#discussion_r682380685. Quoting @estebank:

[2021-08-04 08:19] SkiFire13 commented on #87341
Any wrapper that has a non-zero-sized field before the `UnsafeCell`. `#[repr(transparent)]` is not required. See [this playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=cb794479d139acda2e3a867dafa1ac90) (also linked in the first post)

[2021-08-04 08:36] ChrisJefferson commented on #87485
That solves all my problems. Thanks @RalfJung !

[2021-08-04 08:36] #87485 closed

[2021-08-04 08:46] RalfJung commented on #87341
Basically, the question is: should `Cell` hide its niches? And what about other user-defined `UnsafeCell` wrappers?

I think the intention was that yes the niche should be hidden for all `UnsafeCell` wrappers. But I wanted to confirm with t-lang to be sure.

[2021-08-04 08:50] MabezDev opened #87753 "global_llvm_asm!"
I notice that `global_asm!` is now in the new `asm!` format, not `llvm_asm!` - whilst I do plan on adding support for the asm syntax to my target (Xtensa), is there a `global_llvm_asm!` equivalent I can switch to to keep things running right now?

[2021-08-04 09:10] bugaevc opened #87755 "Overflow evaluating the requirement with a where clause on associated type"
I tried this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f807d82c1774e0e747237c3815b45542)):

[code]

Note that while it doesn't use GATs, it requires `feature(generic_associated_types)` for the `where` clause on the associated type to be allowed.

I expected to see this happen: this should build without errors.

Instead, this happened:

[code]

[Err

[2021-08-04 09:14] inquisitivecrystal commented on #87406
After a fair bit of work, the standard library now builds again, even with the macros being lifted to the top level. However, I do still need to make the tests pass again. I'm definitely going to need to spend a while cleaning my code up. It's horribly messy.

[2021-08-04 09:55] nagisa commented on #87753
`llvm_asm!` is being deprecated ( #87590) and will be removed, so it is not likely we'll be adding support for `llvm` style asm in any other scenarios.

[2021-08-04 09:58] #86948 closed

[2021-08-04 09:58] MabezDev commented on #87753
I can work around this for now with precompiled archives - looks like I'll need to look into porting the new asm syntax sooner than I thought.

Thanks

[2021-08-04 09:58] #87753 closed

[2021-08-04 09:59] poliorcetics commented on #87694
I will probably be very hard to handle this from `parse_visibility` because a similar error occurs when using `pub const pub ...` and so `parse_visibility` will not detect this case either.

My first intuition would be to pass a parameter to `parse_fn_front_matter` that says whether a visibility was parsed earlier or not (something like `has_vis: bool`) and act accordingly. I'm waiting for my PR #

[2021-08-04 10:26] tyranron commented on #87277
@spastorino would you be so kind to explain why this should be forbidden? Seems like a nice feature to have, keeping in mind that there is a lot of anonymous types usages in Rust code.

[2021-08-04 10:53] tritone11 opened #87757 "no errors encountered even though `delay_span_bug` issued"
### Cargo.toml

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-04 11:27] JAicewizard commented on #68436
I am still not able to use associated consts in, for example, array sizes. Are there any plans to implement this?

[2021-08-04 11:40] hlb8122 opened #87758 "Stall from overflow caused by `for<'a> F: FnOnce(Self::Gat<'a>)`"
I tried this code:

[code]

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fbd726c1f1bd90e514358a91016581ec

Given that
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f889ed7bfeffb6a6f3179bf6d94f438c
causes an `overflow evaluating the requirement Structure<F>: Trait` I would expect the problem code to give a similar message.

Instead, `rustc` sta

[2021-08-04 11:43] m-ou-se commented on #84981
Yes, that cleanup function would also need to deallocate the `Node` structures next to freeing the TLS slots themselves. This code was originally not designed with freeing these slots in mind: https://github.com/rust-lang/rust/blob/49ca3d9796030fc0a85089460e9f825ceecc08ed/library/std/src/sys/windows/thread_local_key.rs#L87-L92

---

Well that's a very unnecessary comment. What did you hope to achi

[2021-08-04 11:58] yoshuawuyts commented on #58533
C++ has a notion of "Bidirectional Iterators" ([ref1](https://en.cppreference.com/w/cpp/iterator/reverse_iterator), [ref2](https://en.cppreference.com/w/cpp/ranges/bidirectional_range)). If I understand what it does correctly, translated to Rust it would resemble:

[code]

`Cursor::move_next` feels like it would naturally map to `Iterator::next`. And `Cursor::move_prev` could map to `Bidirectional

[2021-08-04 12:11] spastorino commented on #87277
Ohh sorry for the lack of explanation, to be clear, this should be supported at some point. We were in the middle of removing impl traits in bindings for min_taits and the example in this issue is part of that combo that we were removing. In that sense is that it shouldn't work, because we were removing it's support. At some point when let bindings are reintroduced this example should work :). Sor

[2021-08-04 12:17] jonas-schievink commented on #87747
The bug is in this build script, it doesn't handle the `darwin` OS correctly: https://gitlab.com/okannen/static_init/-/blob/master/static_init_macro/build.rs

[2021-08-04 12:46] JohnTitor commented on #81804
Fixed by #87646 but there's no regression test for this case, marking as E-needs-test.

[2021-08-04 13:13] luis-guilherme commented on #40282
Have the same issue when using a Ramdrive as temp folder.
I do use ramdrive as temp to reduce the wear on SSDs

[2021-08-04 13:22] Aaron1011 commented on #87757
This should be fixed in the latest nightly.

[2021-08-04 13:28] godmar commented on #46774
This may be fixed by [PR 86916](https://github.com/rust-lang/rust/pull/86916).
See https://doc.rust-lang.org/beta/std/thread/fn.yield_now.html

[2021-08-04 13:52] ChrisDenton commented on #40282
The problem is not ramdrives exactly. It's just that some ramdrive drivers do not fully implement the kernel interface. This means some basic Windows API functions will fail. I have [created a workaround](https://github.com/rust-lang/rust/pull/86447) for one of the issues caused by this but I don't know if it'll be accepted because it means you might see weird looking paths in the output. I am inv

[2021-08-04 14:53] Kimundi opened #87762 "Broken MIR in DefId(...): equate_normalized_input_or_output: `...` failed with `NoSolution`"
### Code

[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9a86a921f8e11054e77f0ca8ffe0f05b)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-04 15:15] #46774 closed

[2021-08-04 15:36] bstrie commented on #65490
Now that https://github.com/rust-lang/rust/pull/85305 has landed, can this issue be closed?

[2021-08-04 16:10] Kobzol opened #87764 "Slow process spawning using `Command::spawn` with older GLIBC due to use of `fork`"
Hi! I have recently noticed that spawning new child processes using `Command::spawn` can be quite slow on older GLIBC versions on Linux. I have tracked this down to the usage of `posix_spawn` [here](https://github.com/rust-lang/rust/blob/master/library/std/src/sys/unix/process/process_unix.rs#L517).

## Problem description
`posix_spawn` uses `fork` on older GLIBC versions (<2.24). While `fork` is

[2021-08-04 16:13] Amanieu commented on #87612
I'm in favor of closing all `llvm_asm` issues once #87590 lands.

[2021-08-04 16:14] LDY1998 opened #87765 "Mutate error in Compiler Session Diagnostics"
Hi all,

I am working under project prusti, which is a verification tool against rust. The tool is designed to be a plugin that work along with the compiler and verify the user's source code if they annotate it with our syntax.

Recently I am trying to implement a new feature in the project and I would like to access the error recorded during rust compile and map it to a more clear prusti internal

[2021-08-04 16:14] Amanieu commented on #87612
Practically speaking, nobody is working on improving/fixing `llvm_asm`, so I doubt any `llvm_asm` bugs will ever get fixed.

[2021-08-04 16:31] pnkfelix commented on #87341
I was pretty confused by this response, because I took it to mean that the niche is only reexposed when there is another field before the UnsafeCell.

After reading the linked playground, I think that interpretation was backwards. I.e., I think the intended statement of the current behavior is that: Any struct holding an UnsafeCell that has a non-zero-sized field before the UnsafeCell" will *not*

[2021-08-04 16:34] m-ou-se opened #87766 "Tracking issue for organizing the standard library's #![feature]s"
The standard libraries use a lot of `#![feature]`s. We should organize them a bit and make sure it's acceptable for all of them to be used in the way they are.

It'd be nice to split them in language and library features. For the language features, we should check with the relevant team(s) if it's okay that we're using the feature in the library, and document with which of them we need to be extra

[2021-08-04 16:42] lqd commented on #87657
If that's indeed caused by #87559 then we should let its author know: @estebank.

[2021-08-04 17:19] SkiFire13 commented on #87341
You're right, I wrote it backwards. Your final interpretation is the right one.

[2021-08-04 17:40] bagginslin opened #87771 "Compiler panic with "broken MIR in Item(WithOptConstParam { .. })""
### Code

[code]

### Meta
Results in an ICE on both the latest nightly and stable versions:

[code]
### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-04 17:47] Dirbaio commented on #87258
I've found this does work if adding a `+ 'a` bound on the TAIT: `type FooFuture<'a> = impl Trait1 + 'a;`. [Playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=68522741108a9533efe65da578fc8058)

It seems to me that `+ 'a` should be required, so accepting code without it was actually a bug?

Also, how does this work with NLL? I add `#![feature(nll)]` and it still I

[2021-08-04 17:57] m-ou-se commented on #78713
Thanks for testing it! Marking this as a Windows issue. I've tested it on both Linux and Mac, where it works fine.

[2021-08-04 18:03] m-ou-se commented on #78713
It also works fine on `x86_64-pc-windows-gnu` in `wine`.

[2021-08-04 18:03] lqd commented on #87258
It seems the linked example on the playground does not ICE on the 2021-08-03 nightly.

[2021-08-04 18:05] Dirbaio commented on #87258
@lqd that's with the ` + 'a` fixed added. Without it it ICEs, both with and without NLL

[2021-08-04 18:11] programmerjake commented on #58533
C++'s bidirectional iterators are waay more similar to cursors than to Rust's iterators. A C++ bidirectional iterator is like (as of C++17):
[code]

Example usage:
[code]

[2021-08-04 18:17] lqd commented on #87258
Hum, indeed, the 2 minimized examples Oli mentioned in [this comment](https://github.com/rust-lang/rust/issues/87258#issuecomment-883293367) do ICE with or without `#![feature(nll)]`.

[2021-08-04 18:19] npmccallum commented on #32489
@nagisa @steveklabnik I propose we reject this bug in light of the [Constrained Naked RFC](https://github.com/rust-lang/rfcs/pull/2972). There is nothing which prevents a naked function from being safe.

[2021-08-04 19:02] joshtriplett commented on #44434
@rfcbot resolve use-case

[2021-08-04 19:02] Kobzol commented on #87638
@rustbot claim

I'd like to take a shot at this. I suppose that the note should only be shown if there is exactly a single associated type in the trait? (or a single constant/function, depending on the namespace).

[2021-08-04 19:02] dtolnay commented on #66358
@rust-lang/libs-api:
@rfcbot fcp merge

I am proposing to stabilize the UnsafeCell::raw_get associated function as currently implemented in nightly:

[code]

At the call site, use of this associated function looks like:

[code]

In response to the unresolved issue that method syntax would be cleaner at the call site, apparently this use case is already covered by https://github.com/rust-lang/rust/

[2021-08-04 19:10] ChrisDenton commented on #44434
Am I right in thinking that `Command` was originally designed as being, essentially, a function call with optional arguments (or at least the Rust equivalent)? So its use as a container type is basically being retrofitted?

[2021-08-04 19:18] joshtriplett commented on #44434
I've resolved two of the three concerns.

I also want to confirm, here: the *only* plan is to support `get_args` which iterates over the arguments, but not to have something like `get_arg(index: usize)`? Is there a planned API for *changing* a specific argument by index?

As long as there's no API that accepts a numeric "index", I'll resolve the arg0 concern as well. I just want to make sure that

[2021-08-04 20:12] ibraheemdev commented on #87726
The message could probably point to the lifetime, indicating that it extends the first borrow.

[2021-08-04 21:12] Amanieu commented on #44434
My understanding is that we don't want to support any of these APIs because that is not the point of `Command`. As @ChrisDenton said, it's a function call with optional arguments, not long-term data storage.

There is some desire to support an extended `Debug` impl that also prints environment variables for logging purposes, but I feel that this should be a separate issue.

[2021-08-04 21:46] Alovchin91 commented on #83043
Sorry for the late reply,

I have used the latest beta (`rustc 1.55.0-beta.3 (53fd98ca7 2021-07-31)`) to successfully build [rustup](https://github.com/rust-lang/rustup/pull/2835) and tests, so I think this can be pronounced done 🙂

Shall there be future work (e.g. using x64-emulated MSVC on Windows 11 as x64 emulation is significantly faster than x86), I believe it can be tracked in cc-rs repo fr

[2021-08-04 22:39] Fishrock123 commented on #79813
I think this is probably unnecessary churn in situations where the semicolon follows anything which returns `!`, e.g. `return`, `continue`, `break`, `panic!` or the like.

I think the compiler should be able to detect this and ignore it since if that exists the output of the macro will always be `!` regardless of the semicolon.

This was noticed in http-types:
[code]

Commit-pinned code: https://g

[2021-08-04 22:46] Aaron1011 commented on #79813
@Fishrock123: The idea behind this change is to make expansion more 'token-based' - the result of a macro call should (with some exceptions) be the same as copy-pasting the macro body, and replacing all of the metavariables by hand.

In your example:

[code]

will expand to

[code]

[2021-08-04 23:12] ExpHP commented on #87724
This decision was made deliberately.  I can't find where it was (might've been back in the IRC days?), but when I brought it up ages ago, the counter-argument was that we may one day want `$pat` to be able to match `arg: T`.

The way that `|` patterns have been implemented suggests, however, that perhaps we could still have our cake and eat it too?  Basically, if it could be demonstrated that an E

[2021-08-04 23:53] rust-highfive opened #87778 "`miri` no longer builds after rust-lang/rust#86155"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#86155, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @alexcrichton, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-08-05 00:00] alexcrichton commented on #87778
I think this is what's necessary to fix the issue, but I'll test more tomorrow when a nightly with #86155 is released

[code]

[2021-08-05 00:31] Aaron1011 commented on #85360
@vi It looks like that's the same issue.

[2021-08-05 01:08] Nicholas-Baron commented on #87694
I started investigating the call tree between `parse_visibility` and `parse_fn_front_matter`.
The root is at `parse_item_common_`. First is `parse_visibility`, then is `parse_item_kind`.
`parse_item_kind` calls `parse_fn`, which calls `parse_fn_front_matter`.

`&vis` is already passed to `parse_item_kind`, so `parse_fn` will need to take it. However, `parse_fn` is called in `parse_field_ident` to

[2021-08-05 01:41] jeanlucthumm commented on #86102
Yeah sorry, had to deep dive `rustc_parse` (was hard with no rustc background). I agree with eddyb. The relevant current code is this loop in `StringReader::next_token` ([link](https://github.com/rust-lang/rust/blob/25b764849625cb090e8b81d12d2bb2295d073788/compiler/rustc_parse/src/lexer/mod.rs#L74)):
[code]
Which just skips over unkown tokens as if they were whitespace to be ignored. This is where

[2021-08-05 01:43] Nicholas-Baron commented on #87694
[code]

I have got the error message changed! How should I word the message, and how should the spans be shown? The warning for `pub` macros seems like a [decent place](https://github.com/Nicholas-Baron/rust/blob/0d6f92d99b31a0e48b8d26f191867a35fee738d2/compiler/rustc_parse/src/parser/item.rs#L1572-L1577) to start.

Link to [my fork](https://github.com/Nicholas-Baron/rust/blob/0d6f92d99b31a0e48b8d

[2021-08-05 02:28] est31 commented on #72631
With arrays implementing the IntoIterator trait, I'm not sure `extend_one` is still pulling its weight? It seems the reasoning was that `extend_one(v)` is nicer than `extend(Some(v))`? To me at least, `extend([v])` seems even nicer.

[2021-08-05 02:36] bstrie commented on #32976
@bbqsrc This particular issue is currently under the exclusive purview of the lang team, so presumably the libs team doesn't even realize that there's anything libs-related in here. Rather than turn this issue into a joint lang/libs issue, I'd recommend making a new issue for stabilizing AtomicU128 on any supported platforms, which should be tagged with the T-libs label so that the libs team will

[2021-08-05 02:59] cuviper commented on #72631
It's not just how nice it looks, but also simpler implementation, like `Vec` is just a `push`. We call this repeatedly in `unzip`'s own loop, so it's a benefit to keep that simple instead of adding an inner loop (even const 1).

[2021-08-05 03:14] est31 commented on #72631
@cuviper can't this be also solved with specialization? Adding special code for `Option<T>`, `iter::Once<T>`, and `[T;1]`?

[2021-08-05 03:29] cuviper commented on #72631
Yeah, I suppose specialization could do that too. Note that only `[T;1]` is _always_ one item though.

[2021-08-05 03:47] est31 commented on #72631
Good point! `[T;1]` should be enough though.

[2021-08-05 03:55] dvec opened #87782 "rustc E0308 on valid code"
[code]
This code doesn't compile with following error:
[code]
I found three ways to get around this error:
1. Change `dyn` to `impl`
[code]
2. Remove `res` variable
[code]
3. And, most confusing one: remove `Option` from function signature
[code]

### Meta
This error appears in all latest channels (tested in rust playground)

[2021-08-05 04:08] jyn514 opened #87783 "Rustdoc no longer shows 'Methods from Deref impls' at all"
I tried this code:

[code]

I expected to see this happen: Rustdoc shows the docs for `Path::from_str` on the docs for `Foo`, like it used to in 1.51:
![image](https://user-images.githubusercontent.com/23638587/128289181-df8d815a-4b0d-454a-85fd-b873cc1f3a11.png)

Instead, this happened: Rustdoc does not generate those methods:
![image](https://user-images.githubusercontent.com/23638587/128289287-0

[2021-08-05 04:09] jyn514 commented on #81633
I can't investigate this currently due to https://github.com/rust-lang/rust/issues/87783 :facepalm:

[2021-08-05 04:12] jyn514 commented on #87765
This is a question, not a bug, and you'll get more helpful answers on zulip anyway.

[2021-08-05 04:12] #87765 closed

[2021-08-05 05:24] jyn514 commented on #53763
Nope, this is still broken.
![image](https://user-images.githubusercontent.com/23638587/128295590-374feb44-4b4f-4de7-96bc-0dae5075e5f2.png)

[2021-08-05 06:05] shivanandvp opened #87785 "Rustdoc currently does not distinguish between public and private items"
**Rustdoc** currently does not _label_, _mark_, or otherwise _separate_ private items to distinguish them from public items, when the `--document-private-items` command-line argument is passed. The generated documentation hence can be confusing to the reader. I suggest enabling one or more of the below through **rustdoc**:

1. _Separate_ public and private items in the generated documentation
2. E

[2021-08-05 07:01] BenalexCheung opened #87786 "After fixes were automatically applied the compiler reported errors within the file."
I tried this code:

[code]

I expected to see this happen: *cargo fix*

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-08-05 07:17] BenalexCheung commented on #87786
How about fixing lines 11 and 12 at the same time?

[2021-08-05 07:36] Anshrk commented on #71684
Does env::home_dir do the same thing as env::vars("HOME")?

[2021-08-05 08:00] eddyb commented on #87341
My assumption (in https://github.com/rust-lang/rust/issues/87341#issuecomment-886083646) was that the initial implementation "just" has a bug, where it's hiding niches but not invalid values (which give rise to niches in the first place).

Did we guarantee anything around `Cell`? Feels like a crater run might be enough.

[2021-08-05 08:12] eddyb commented on #86102
Hmm, what happens when you add a new `TokenKind::Err`, without any handling in parsing code? Can we special-case it in the "unexpected token" error? (i.e. if the token that caused an "unexpected token" error, happens to be `TokenKind::Err`, emit that error as a `delay_span_bug` instead of a normal error)

cc @petrochenkov

[2021-08-05 09:20] berkus commented on #84970
Says [the announcement](https://blog.rust-lang.org/2021/07/29/Rust-1.54.0.html#incremental-compilation-is-re-enabled-by-default) and links here, but it's not  clear which two it mentions and how to find them here? The table at the top shows 4 unfixed issues.

[2021-08-05 09:23] hyd-dev commented on #87778
There are more failures in `compile-fail` tests (which are not run when `run-pass` tests fail):
[code]

`compile-fail/abort-terminator.rs` and `tests/compile-fail/function_calls/exported_symbol_bad_unwind3.rs` fail with `error[E0557]: feature has been removed`.

Revision `definition` of `tests/compile-fail/function_calls/exported_symbol_bad_unwind2.rs` fails with `abnormal termination: the program

[2021-08-05 09:37] apiraino commented on #87745
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387745.20--remap-path-prefix.20no.20longer.20works.20for.20compiler.20mes.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-08-05 09:47] apiraino commented on #87783
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2387783.20Rustdoc.20no.20longer.20shows.20'Methods.20from.20Deref.20impls'.20a.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-08-05 09:49] dt665m commented on #87747
Thanks for this tip.  I played around with it and couldn't figure out what was causing the problem.  For some reason, even with ```cargo build --target x86_64-apple-darwin``` the proc_macro ends up generating the 'elf' version when compiling from a linux environment.  Not sure where to go from here.  I'm pretty sure the build.rs is OK because building natively in osx is fine.  It's the way the pro

[2021-08-05 10:02] estebank commented on #87657
Just checked and thankfully [it didn't land in beta](https://play.rust-lang.org/?version=beta&mode=debug&edition=2018&gist=8df417bc8316f6ccf1c59006b0a9df5f).

[2021-08-05 10:12] jonas-schievink commented on #87747
Natively building uses a different target which the build script handles correctly

[2021-08-05 10:23] SkiFire13 commented on #87786
MCVE:

[code]

The problem seems to be that the compiler suggest changing an identifier based on whether a variable with that identifier is never used, ignoring however if that exact same identifier is used somewhere else (which can happen in a macro).

Possible solutions:
1. Suggest also changing all the other uses of that identifier. This has the downside that it will mark a variable that are ac

[2021-08-05 10:33] cmichi commented on #78744
@athei I just tried your reproducer from https://github.com/athei/mult-panic with the latest `rustc 1.56.0-nightly (2827db2b1 2021-08-01)` and there is no more `(import "env" …)` in the Wasm. Can you confirm that the bug is no longer existent?

[2021-08-05 10:43] debris opened #87788 "Incorrect help message in internal compiler error"
I'm compiling a crate called `sc-client-db`. Compilation failed with the message:

[code]

Compiler incorrectly suggests to run command

[code]

instead of

[code]

[2021-08-05 10:49] athei commented on #78744
I can confirm that the reproducer no longer reproduces the bug with the new rust nightly. This does not necessarily mean that the root cause is fixed, though.

[2021-08-05 11:00] jonas-schievink commented on #87788
I don't think this is fixable, since rustc does not know the Cargo package name

[2021-08-05 12:05] dwrensha opened #87790 "rustc crashes with "Aborted (core dumped)" on malformed attribute"
rustc crashes ungracefully when given the following input (found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc)):
[code]
[code]

[2021-08-05 12:07] dwrensha commented on #87790
<details>
<summary>stack trace</summary>

[code]

</details>

[2021-08-05 12:07] dwrensha commented on #87790
This looks related to #70763

[2021-08-05 12:13] dwrensha commented on #87790
If I make this change, then rustc exits gracefully:
[code]

[code]

[2021-08-05 12:20] dwrensha commented on #70763
It looks to me like the inputs above still cause rustc to abort ungracefully (using the latest `rustc` releases).

Also, I found another example input triggering the same crash, reported in #87790.

[2021-08-05 12:24] phoekz commented on #32104
In addition to images, I also would love to add small GIFs and videos. I am currently using this workaround for my local docs:

[code]

[2021-08-05 12:47] oli-obk commented on #87258
oof, not sure what I tested here -.- I'll investigate again. But yea, we can just error out instead of ICEing.

[2021-08-05 12:49] #65490 closed

[2021-08-05 13:01] oli-obk commented on #87277
We are trying to avoid any and all mentions of traits other than `Sized` from const fn until we have a proper story here. you can't use the result of an impl trait returning const fn within another const fn anyway, so the usefulness is limited.

[2021-08-05 13:09] estebank opened #87791 "E0433 should do fuzzy matching to look for types that would be valid"
The following code
[code]
[produces](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=aef9a642834a4694cf2fe618acf9c338):
[code]

We should be doing fuzzy matching like we do in other cases and suggest changing `string` to `String`.

[2021-08-05 13:12] BenalexCheung commented on #87786
I Agree

[2021-08-05 13:14] wareya commented on #71684
No.

[2021-08-05 13:35] dwrensha opened #87793 "thread 'rustc' panicked at 'Stack should be empty: final_buf=FrameData ...'"
On nightly, I'm seeing an internal compiler error on the following input (found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc)):
[code]
<details>
<summary> rustc output </summary>

[code]
</details>

[2021-08-05 13:35] dwrensha commented on #87793
searched nightlies: from nightly-2021-02-10 to nightly-2021-08-04
regressed nightly: nightly-2021-07-28
searched commits: from https://github.com/rust-lang/rust/commit/08095fc1f875c89e507f17cf6c6a780c8ffa4c01 to https://github.com/rust-lang/rust/commit/2faabf579323f5252329264cc53ba9ff803429a3
regressed commit: https://github.com/rust-lang/rust/commit/8bebfe5cc2db1603be0d4ad79ad17d48e3b20e54

<deta

[2021-08-05 13:37] dwrensha commented on #87793
It looks to me like the regression was introduced in this pull request: https://github.com/rust-lang/rust/pull/87436
cc @ebobrow

[2021-08-05 13:46] estebank commented on #87657
@rustbot claim

[2021-08-05 13:50] lopopolo commented on #85821
I recall with the LLVM 11 upgrade, the compat notes mentioned which version of Emscripten to use when compiling with the `wasm32-unknown-emscripten` target.

https://github.com/rust-lang/rust/blob/master/RELEASES.md#version-1470-2020-10-08

Once this bug is resolved, can we add a similar note for the releases that upgrade Rust to LLVM 12?

[2021-08-05 13:59] ChrisDenton commented on #81357
For 1. could it not use `WaitOnAddress` on `Overlapped::Internal`? This would avoid the potential issues with event objects, no?

I get that it's not available on older Windows versions but Rust is already using an NT alternative there.

[2021-08-05 14:02] jyn514 commented on #84970
@berkus "done" and "fixed" are different (done means there is a regression test). The two unfixed issues are the last two evaluate_obligation ICEs.

[2021-08-05 14:23] alexcrichton commented on #87778
Ah ok in that case I think I unfortunately don't think I have time to personally look more into this.

[2021-08-05 15:07] apiraino commented on #86831
@rustbot label -to-announce

[2021-08-05 16:01] chazkiker2 commented on #87211
@rustbot claim

(did not mean to unassign myself... sorry that I have not been quick on this issue.)

[2021-08-05 16:18] ChayimFriedman2 commented on #74985
Do we need to wait until `const_evaluatable_unchecked` is stabilized so we can deny `N = 0` at compile time to stabilize this feature? Perhaps we can just mention in the documentation that currently it panics but it may be uplifted to a compile time error in the future.

[2021-08-05 16:54] asquared31415 commented on #68520
This is still and issue and still provides the same `mismatched types` error but then proceeds to talk about the infinitely sized type instead of the mismatch.

[another example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=70aa350df2e79d69f996a15bd0d850de)

[2021-08-05 17:12] hkmatsumoto commented on #87672
I suppose adding manual diagnostic somewhere around `rustc_parse::parse::parse_block_expr` will get the job done.
@rustbot claim

[2021-08-05 17:41] Kixiron opened #87800 "Tracking Issue for `Option::unzip()`"
Feature gate: `#![feature(unzip_option)]`

This is a tracking issue for the `Option::unzip()` method, which turns an `Option<(T, U)>` into an `(Option<T>, Option<U>)`.
This is the inverse of `Option::zip()` and is a nice little convenience function

### Public API

[code]

### Steps / History

- [x] Implementation: #87636
- [x] Final comment period (FCP)
- [x] Stabilization PR: #98204

### Unresol

[2021-08-05 18:17] wesleywiser opened #87801 "Unstable rustc internal attribute to disable optimizations on a module/function basis"
Occasionally, it would be nice to use a debugger with rustc. However, currently the options generally available are to either compile with optimizations enabled which makes debugging difficult but the compiler performs reasonably or to disable optimizations which greatly increases the debugability but makes rustc unbearably slow in many situations.

It would be nice if we had the ability to to sel

[2021-08-05 18:26] jonas-schievink commented on #87801
cc https://github.com/rust-lang/rust/issues/54882#issuecomment-457824508

[2021-08-05 18:54] Pratyush commented on #52662
Has there been any progress on this? Or are there any blockers?

[2021-08-05 18:57] Mark-Simulacrum commented on #87801
Is there a difference between this and #54882? Should we close this in favor of that?

[2021-08-05 19:20] wesleywiser commented on #87801
I don't mind closing in favor of #54882 but the RFC for that tracking issue does explicitly say this functionality is out of scope.

[2021-08-05 19:22] steveklabnik commented on #78283
So, I believe I hit this bug in some other code today. However, I can confirm that the literal bug here has been fixed: https://github.com/rust-lang/rust/issues/78283#issuecomment-715407216

(note: 2021-03-04 is using llvm 11, 2021-03-05 is using llvm 12)

[code]

[2021-08-05 19:22] #78283 closed

[2021-08-05 19:28] kangalioo opened #87802 "ICE when creating ! instance via asm macro"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-05 19:41] ear7h opened #87803 "Typecheck fails when providing explicit types instead of GAT"
I tried to compile this code:

[code]

I expected to see this happen:
The code compile successfully

Instead, this happened:
Rust could not match the lifetimes.
[code]

Changing the `impl` method to:
[code]
Does compile successfully.

This seems somewhat related to #79207 and possibly in scope of #85499

### Meta

I tried this on nightly as well as with the latest code from #85499 [this commit](ht

[2021-08-05 20:04] kangalioo commented on #87802
LLVM's [`InlineAsm::Verify`](https://llvm.org/doxygen/classllvm_1_1InlineAsm.html#a32e8f8fdcd54f65a6ebcf439476de6cf) function returns false when checking "if the specified constraint string is legal for the type" ([relevant rustc line](https://github.com/rust-lang/rust/blob/99f8efec46c72cb11418f858ae142baa5f3582a9/compiler/rustc_codegen_llvm/src/asm.rs#L454)).

Because of that, rustc_codegen_llvm:

[2021-08-05 20:15] cuviper commented on #87764
When Python was considering this flag, Florian Weimer (a glibc maintainer) [said](https://bugs.python.org/issue34663#msg325765):

[2021-08-05 20:53] Kobzol commented on #87764
Well, I don't know enough about `vfork`, but I read many "opinions" about it online, both positive and negative. It seems to be on the level of urban legends sometimes, and it's unclear to me what is still relevant in "modern" kernel versions. After all, `Go` decided to use it. So I wanted to get more opinions here :)

But I understand if there's pushback against using it, even if just to stay on

[2021-08-05 21:08] cuviper commented on #87764
My interpretation is that glibc itself was buggy in its `vfork`, not the kernel syscalls, or else they would be talking about the relevant kernel versions as well. Go bypasses any libc and instead uses syscalls directly.

If you can't get a newer glibc sysroot on your cluster, maybe you could use Rust targeting linux-musl?

You'd need a whole toolchain build, because Rust libraries are only ABI co

[2021-08-05 21:10] thomcc commented on #76014
It's very strange that this API is both private and unstable with a tracking issue. Was this intentional?

[2021-08-05 21:15] Sebi2020 opened #87805 "--remap-path-prefix has no effect"
I tried this code: Not applicable

I expected to see this happen: *--remap-path-prefix should rewrite paths to the new prefix, but fails.*

Instead, this happened: *Paths are still persistent in the binary or rlib*

### Meta

Steps to reproduce:
1. Build a lib or program on windows with rustc 1.54.0 and msvc with --remap-path-prefix in .cargo/config.toml (project directory)
2. Path prefix is not a

[2021-08-05 21:30] Yasgur99 commented on #33297
I'd like to work on this issue if nobody is currently working on it

[2021-08-05 21:34] Kobzol commented on #87764
Oh, that actually explains a lot, I didn't realize that. And since my problem is that my glibc is too old (and probably buggy)... Well, tough luck.

Good idea. Although we use `jemalloc` and I wasn't able to get it working with `musl`. But it's an option, it seems that `musl` does [The Right Thing™](https://git.musl-libc.org/cgit/musl/tree/src/process/posix_spawn.c#n194).

Thanks, good to know tha

[2021-08-05 21:34] #87764 closed

[2021-08-05 23:21] Nicholas-Baron commented on #87694
@rustbot claim.

[2021-08-05 23:51] Nicholas-Baron commented on #87694
@rustbot unassign.

[2021-08-05 23:52] Nicholas-Baron commented on #87694
@rustbot release-assignment.

[2021-08-06 00:10] inquisitivecrystal commented on #73754
This should get fixed as part of #87406.

[2021-08-06 00:11] inquisitivecrystal commented on #87257
This should get fixed as part of #87406.

[2021-08-06 00:50] NickHu commented on #33674
Can this please be reopened? I am also seeing empty output from `source list` in `lldb`. My `lldb` version is 12.0.1, `rustc` is version 1.53.0, on Linux x86_64.

[2021-08-06 00:51] Firstyear opened #87807 "rust 1.54 fails to build on s390x with llvm 11"
Hi there,

I'm the maintainer of rust for opensuse. I have been working to include rust1.54 recently but I have noticed that with distro llvm11 on s390x that rust fails to build. Rust1.54 works correctly on s390x with distro llvm12 or with the bundled llvm that rust provides.

The build error is (a longer extract is below) - I'm quite confident that the error is not in the "either" crate, but this

[2021-08-06 04:54] inquisitivecrystal commented on #59306
This should get fixed as part of #87406.

[2021-08-06 07:43] #79248 closed

[2021-08-06 07:43] #87718 closed

[2021-08-06 10:24] SkiFire13 commented on #87805
I can't seem to fully reproduce this.

My `C:\path\to\project\.cargo\config.toml`:
[code]
I've also tried with the following and the results are the same:
[code]

Building a lib results in a `.rlib` file that doesn't contain `C:\path\to\project`.

Building a binary however results in a `.exe` file that contains `C:\path\to\project\target\release\deps\crate_name.pdb`. In general however paths seem

[2021-08-06 10:43] audunska commented on #84873
I got curious and tested my reproducing repo on nightly, and compile times turned normal again between June 12 and 13. So #86240 seems to have fixed it for me.

[2021-08-06 11:00] 0x182d4454fb211940 opened #87812 "Incorrect suggestion with labelled breaks and blocks on nightly"
When using blocks with labelled break statements, a warning can appear to avoid confusion. The following code:

[code]

produces:

[code]

However when introducing a block via a macro:

[code]

The compiler warns:

[code]
Which suggests the incorrect code `$f(;)`, whereas it should suggest `($f);`. This is only an issue on nightly, as the warning does not exist on stable.

`rustc --version --verbo

[2021-08-06 11:05] haraldh opened #87813 "LLVM ERROR: Invalid LLVMRustLinkage value!"
### Code

https://github.com/haraldh/rust_llvm_error

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

[2021-08-06 11:08] ChrisDenton commented on #87805
Removing this requires an [msvc linker flag](https://docs.microsoft.com/en-us/cpp/build/reference/pdbaltpath-use-alternate-pdb-path?view=msvc-160). E.g. `/PDBALTPATH:nothing_to_see_here`

[2021-08-06 11:41] SkiFire13 commented on #87805
I can confirm that with either `-Clink-arg=/PDBALTPATH:nothing_to_see_here`, `-Clink-arg=/DEBUG:NONE` or `-Zstrip=debuginfo` the executable no longer contains that path. However this is neither intuitive nor documented. In particular the rustc book claims that `--remap-path-prefix` remaps path prefixes in all output, including "debug information", and doesn't mention this caveat with msvc at all.

[2021-08-06 11:54] ldm0 opened #87814 "Closure captures immutable reference when mutable reference is necessary"
### Code

I tried this code:

[code]

I expected to see this happen: *cargo build success*

Instead, this happened: *cargo build failed*
[code]

### Version it worked on

It most recently worked on: `nightly-2021-03-16`

### Version with regression

`rustc --version --verbose`:
[code]

[2021-08-06 12:02] ldm0 commented on #87814
Regression in f5d8117c338a788bd24abec733fd143dfceb25a0

[2021-08-06 12:24] badboy commented on #82412
Closed by #87760

[2021-08-06 12:24] #82412 closed

[2021-08-06 12:36] haraldh commented on #87813
Forgive the unsafe mess :)

[2021-08-06 12:37] SkiFire13 commented on #83994
Note that panics will `drop` all the local variables and can be caught by safe code with `std::panic::catch_unwind` while `std::process::exit` does not and there might be crates that rely on this behaviour (`take_mut` for example used to, nowadays it uses `std::process:abort`)

[2021-08-06 13:15] RalfJung commented on #44434
In building that function call incrementally (which is a common usecase for builder patterns), some amount of read access is required, as I [laid down above](https://github.com/rust-lang/rust/issues/44434#issuecomment-888581100). This has nothing to do with using `Command` as long-term storage.

[2021-08-06 13:25] Sebi2020 commented on #87805
Maybe I had specified the flag in the wrong way. I've used  `["--remap-path-prefix=G:\\WorkSpace\\rust-playground=G:/"]` not the space separated version. not with 2 arguments. The unstable version used to specifiy it like `--remap-path-prefix=from=to`

[2021-08-06 13:26] RalfJung commented on #65303
@alexcrichton  your PR changed since you first posted it; does it still close this issue in the form that now landed?

[2021-08-06 13:30] Sebi2020 commented on #87805
@SkiFire13 Even with your invocation my rlib contains the follwing paths:

[code]

`.config/cargo.toml` contains:

[code]

[2021-08-06 14:08] pnkfelix commented on #82151
FYI you can bring back the former (link error'ing) behavior via `RUSTFLAGS=-Cprefer-dynamic=yes`.

This of course does not resolve the root issue here.

[2021-08-06 14:08] alexcrichton commented on #65303
I believe so, yes, there's only one deduction location in the compiler now for whether a function can unwind or not.

[2021-08-06 14:08] #65303 closed

[2021-08-06 14:20] RalfJung commented on #86299
https://github.com/rust-lang/rust/pull/86155 landed, so we now also have a phase during which "unwinding from a fn call inside a nounwind function" implicitly aborts, and another phase during which it is UB.

[2021-08-06 14:39] agurney commented on #83994
The undefined behavior for multiple calls to `exit()` goes back to C89. My sense is that this is because `atexit()` was a synthesis of several pre-standard implementations of essentially the same idea, but with different functional interfaces; and the committee declined to say what ought to happen if an `atexit()`-registered handler itself called `exit()`. So this longstanding example of undefined

[2021-08-06 14:47] wesleywiser opened #87817 "Unintuitve stepping behavior for `match` expressions in a debugger"
Given some code like:

[code]

Stepping into `foo`, I would expect the sequence of executed lines to look like `6 -> 7 -> 11` but it currently is `7 -> 6 -> 11` which doesn't make much sense.

This behavior appears in all debuggers with any of stable (1.54), beta (1.55) or nightly (1.56) compilers.

https://user-images.githubusercontent.com/831192/128528067-e5643e93-95d4-4b28-9ff3-ed13df419323.mp4

[2021-08-06 14:52] GuillaumeGomez commented on #87611
For for the background, it's definitely on purpose.

[2021-08-06 14:57] Sebi2020 commented on #87805
You're right, stripping the src suffix caused the compiler to replace the paths. But as you mentioned this is not the case for executables build with msvc. (btw. the compiler produces debug symbols for release builds too without a manually added `-Clink-arg=/DEBUG:NONE`.

And I've (maybe) found a second bug. Originally my crate was a subcrate of another root crate. Both crates contained a .config/

[2021-08-06 14:57] DemiMarie commented on #83994
@agurney would it be possible to change the wording in the next version of the C standard?

[2021-08-06 15:14] agurney commented on #83994
@DemiMarie In principle? But that's quite a process that goes far beyond the scope of this issue. You may be interested in the http://www.open-std.org/jtc1/sc22/wg14/www/docs/n2461.pdf, which touches this area and which has seen some positive interest from the C standards committee. I don't know if or how the author is planning to take that forward.

[2021-08-06 15:36] SkiFire13 commented on #87805
I think that's expected behaviour, Cargo looks for `.cargo/config.toml` files in subdirectories too (see [the cargo book](https://doc.rust-lang.org/cargo/reference/config.html#hierarchical-structure) for further details). It also describes how it solves conflicts, in your case `rustflags` is an array so it joins them.

Anyway I would suggest not to nest crates, instead use a workspace or just put

[2021-08-06 16:03] Sebi2020 commented on #87805
I would say it's not solved entirely or there should be a separate issue for this one:

[2021-08-06 16:05] Mark-Simulacrum opened #87821 "initial-exec not reduced to less strict hint on unsupported platforms"
As discovered in https://github.com/rust-lang/rust/issues/81334 and "fixed" for the compiler in https://github.com/rust-lang/rust/pull/85807, -Ztls-model=initial-exec does not work on some platforms. However, it seems like LLVM and/or rustc can automatically detect this on known unsupported platforms and either ignore or reduce the hint as needed.

See https://github.com/rust-lang/rust/pull/85807#

[2021-08-06 16:16] lkbhargav commented on #25289
For Alpine linux, the following worked for me,

`apk add build-base`

[2021-08-06 16:17] roxelo commented on #87814
@rustbot claim

[2021-08-06 16:48] jackh726 commented on #87803
Interestingly, I wonder if this is caused be the same underlying issue as #85533 (though I haven't actually looked into this).

[2021-08-06 16:51] gilescope commented on #84970
Fixing regressions should be higher priority than adding new features (E.g.
higher kinded types). This still hurts people daily. (Yesterday it wasn’t a
problem, today I have hit it 8 times).

On Thu, 5 Aug 2021 at 16:01, apiraino ***@***.***> wrote:

[2021-08-06 17:17] pnkfelix opened #87824 "improper_ctypes diagnostic should advise to avoid improper C types because their ABI is unstable"
Spawned off of this [zulip thread](https://zulip-archive.rust-lang.org/131828tcompiler/23501slicesvectorsinexternC.html).

Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2021-08-06 17:17] SkiFire13 opened #87825 "--remap-path-prefix doesn't map paths to `.pdb` files, even in release mode"
Spawned off of https://github.com/rust-lang/rust/issues/87805#issuecomment-894202194

When passing `--remap-path-prefix C:\\path\\to\\project=nothing_to_see_here` to rustc I would expect all paths that start with `C:\path\to\project` to be replaced with `nothing_to_see_here`, instead a `C:\path\to\project\target\release\deps\crate_name.pdb` is still present.

Note that this happens even in release

[2021-08-06 17:18] XAMPPRocky commented on #84970
The people who can work on new features are not the same set of people who can fix regressions, this was not caused by the introduction of a new feature so the two are unrelated. Can you include more info? As from the Zulip discussion this is the first report since being re-enabled.

[2021-08-06 17:20] SkiFire13 commented on #87805
This issue is already filled with discussions about other problems so I think it's better to open a separate issue.

[2021-08-06 17:23] steffahn opened #87826 "Reservation impls in rustdoc"
I’ve been browsing rustdoc and just noticed a very confusing blanket [impl on `Infallible`](https://doc.rust-lang.org/1.54.0/std/convert/enum.Infallible.html#impl-From%3C!%3E-1).

![Screenshot_20210806_191027](https://user-images.githubusercontent.com/3986214/128547444-d86f9a18-754d-46c9-8343-61b3808c1a97.png)

Confusing because it’s obviously in conflict with the explicit `From<!> for Infallible`

[2021-08-06 17:31] #87805 closed

[2021-08-06 18:04] roxelo commented on #87814
The issue appears to span from this line: [`return_if_err!(mc.cat_pattern(discr_place.clone(), &arm.pat, |place, pat| {`](https://github.com/sexxi-goose/rust/blob/189d2065229944258fe8f621c5e1ec4386b637d4/compiler/rustc_typeck/src/expr_use_visitor.rs#L245).
`mc.cat_pattern` returns an error which leads us to return [before we walk the `arms` of the `match`](https://github.com/sexxi-goose/rust/blob/

[2021-08-06 18:42] Cldfire opened #87828 "Ayu theme code color is off in stable rustdoc"
Rustdoc back in 1.48.0: https://doc.rust-lang.org/1.48.0/std/io/struct.BufReader.html#method.new

![Screen Shot 2021-08-06 at 2 39 37 PM](https://user-images.githubusercontent.com/13814214/128557046-15ed8a2c-55ee-4f84-ab5e-abb626de4ea4.png)

Rustdoc today on stable: https://doc.rust-lang.org/stable/std/io/struct.BufReader.html#method.new

![Screen Shot 2021-08-06 at 2 39 58 PM](https://user-images

[2021-08-06 18:50] tmandry commented on #87613
It looks like the first item in the module is used. We already [check](https://github.com/rust-lang/rust-gha/blob/f50d6ea348c2dd7c2f76e35ecde6560d87bb98ec/src/librustc_typeck/check/method/suggest.rs#L1102) if the item span is from a macro expansion. The span for main ends up in the root context somehow.

[2021-08-06 18:57] P-E-Meunier commented on #87479
GATs are probably the only feature I've been missing in Rust since 1.0, I'm delighted to see progress on that.

@nikomatsakis, I do have an example where `Self: 'a` isn't always the case: in [Sanakirja](https://crates.io/crates/sanakirja), an on-disk key-value store I wrote, memory management is a bit messy. I'd also like to extend it by implementing other transactional datastructures in the futur

[2021-08-06 19:24] LouayKamel opened #87829 "rustfmt removes GATs from associated type"
I tried this code:

[code]

I expected rustfmt to: *keep `<T>`*
[code]

Instead, this happened: *removed `<T>`*
[code]
### Meta

`rustc --version --verbose`:
[code]

[2021-08-06 19:57] roxelo commented on #87814
@LeSeulArtichaut I don't think this error is related to my changes anymore. I think my code instead led us to discover an ICE when `as Result<(), _>` is used. I think some work was done not so long ago on it.

For instance, these 2 code works:
[code]
[code]

Otherwise, I took a look at why `cat_pattern` returns an error with the initial code snippet. When looking at the pattern `Err(_)` the `cat_p

[2021-08-06 20:10] yaahc commented on #59878
I believe the edition cutoff has already passed quite a few months ago, so I doubt it's possible for this to make it into the 2021 edition but there may be some ways we can make it work backwards compatibly as @joshtriplett mentioned. I do believe this is just waiting on someone to get around to writing the implementation so if this is something you're interested in please take a crack at it @btzy

[2021-08-06 20:14] LouayKamel commented on #87829
Moved to rustfmt repo:
https://github.com/rust-lang/rustfmt/issues/4943

[2021-08-06 20:14] #87829 closed

[2021-08-06 20:38] udoprog opened #87831 "Inconsistent treatment of different kinds of trait bounds with GATs"
I tried this code:

[code]

This fails to compile with:

[code]

[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=08b8ddfa747edd9690e7b0853446422f)

`aka/reventant` on Discord discovered the following workaround, which to me seems like it should be treated the same as above:

[code]

It's worth noting that the same issue exists without GATs, but `where` clauses

[2021-08-06 20:39] kangalioo commented on #87802
I added a `dbg!` statement to log the function type and constraints string passed to LLVM:
[code]

[2021-08-06 20:55] apiraino commented on #84873
thank you @audunska for the feedback! Now I'm curious, it would be interesting to hear also from @olix0r how compiling the linkerd-proxy codebase looks like now

[2021-08-06 21:22] #81334 closed

[2021-08-06 21:22] #84219 closed

[2021-08-06 21:22] #87638 closed

[2021-08-06 21:49] crumblingstatue commented on #43467
I have a concern regarding lifetimes/PhantomData.

I sometimes need opaque types that conceptually borrow other types.
For example, a C library I'm binding to has an opaque type called a `Sprite`, which can "borrow" a `Texture`.

[code]

<details>
<summary>How it works</summary>

To create a new instance, we do a C FFI call and wrap it in a special box type that calls the C destructor on Drop
[cod

[2021-08-06 21:53] nbdd0121 commented on #48043
In addition to @kornelski's ZST suggestion, I personally think we shouldn't even have separate `TryReserveError` and `AllocError`.

[2021-08-06 23:00] andersk commented on #79546
Minimal reproduction without Cargo:

[code]

[code]

[2021-08-06 23:09] tmandry commented on #87613
There was some [discussion in Zulip](https://rust-lang.zulipchat.com/#narrow/stream/182449-t-compiler.2Fhelp/topic/span.20context.20for.20macro.20expansion/near/248677875) about this. It's probably a bug in rustc but _could_ indicate a bug in Tokio (if the proc macro is producing root context spans for everything).

[2021-08-07 01:25] tmandry commented on #82922
Looks like it is (other issues mentioning cdylib explicitly have been closed as duplicates of it), thanks. Closing as a duplicate of #50007.

[2021-08-07 01:25] #82922 closed

[2021-08-07 02:22] inquisitivecrystal commented on #87745
After further discussion, there appears to be a consensus in the Prioritization Working Group that this should be `P-medium` for the moment. Sorry for the noise!

[2021-08-07 07:26] seven1oe opened #87837 "`linker x86_64-w64-mingw32-gcc not found` even if `link-self-contained` is set"
I got an error when I build rust code:
[code]
I found some relevant code:
https://github.com/rust-lang/rust/blob/996ff2e0a0f911f52bb1de6bdd0cfd5704de1fc9/compiler/rustc_codegen_ssa/src/back/linker.rs#L125

`new_path` is only passed to the `linker` in `cmd`.
[code]
`rustc` still can not find the `linker`.
[code]

[2021-08-07 08:50] #87837 closed

[2021-08-07 09:01] RalfJung commented on #43467
@crumblingstatue something like this should work:
[code]

[2021-08-07 09:16] udoprog commented on #87831
So I encountered that the proposed workaround might not be as workable as I'd like, in that it requires the caller to specify that bound at each item where the associated type is used, like so:

[code]

And in my mental model I think this makes sense in general with GATs, because the item (`fn iter`) might specify additional bounds on generic parameters. But it also means that it's a difference (i

[2021-08-07 09:43] llenotre opened #87839 "LLVM ERROR: Do not know how to split the result of this operator!"
Greetings!

I'm currently trying to compile my code on a bare metal target. However I get a LLVM error when I do so.
The problem seems to come from libcore.

### Compilation command

[code]

### Code

Cargo.toml:
[code]

arch/x86/target.json:
[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

</p>
</details>

[2021-08-07 10:05] RalfJung commented on #87778
The fix is ready at https://github.com/rust-lang/miri/pull/1868, but bors is broken so we can't land it.

[2021-08-07 10:12] a1phyr opened #87840 "Tracking Issue for `#![feature(mixed_integer_ops)]`"
Feature gate: `#![feature(mixed_integer_ops)]`

### Public API

[code]

### Steps / History

- [x] Implementation: #87601
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

[2021-08-07 10:17] nikic commented on #87839
Can you please try adding `-sse2` to your target features as well? When using `+soft-float` on x86 it's required to disable all SIMD extensions and I think that one may still be enabled in your case.

[2021-08-07 10:22] llenotre commented on #87839
I tried it, it gave the same result.

[2021-08-07 11:21] sonysantos opened #87841 "Better description for Error E0433"
The Rust error descriptions are very good, you do good job on them!

But I suggest a tiny improvement for the error E0433.

The most important sentence for beginners like me is the penultimate line of the message: "Make sure the crate has been added as a dependency in Cargo.toml." - which I failed to pay attention to.

My suggestion is to move it to be the second sentence, below "An undeclared cra

[2021-08-07 11:24] crumblingstatue commented on #43467
@RalfJung I'm running into trouble with trait objects

Is it possible to make `&ExternType` castable to `&dyn Trait`?

[code]

[code]

[2021-08-07 11:34] RalfJung commented on #43467
Hm, I don't think that is possible -- for `&dyn Trait`, the actual dynamic size of the object is given in its vtable; that is simply not possible for `Extern` types.

[2021-08-07 11:49] crumblingstatue commented on #43467
Is it a soundness hole that this cast is possible with Sized "opaque" types?
If not, then it should be considered that extern types are not a replacement for "manually enforced" opaque types in all cases, and some level of support should remain for them.

[2021-08-07 11:54] steffahn opened #87844 "CI tests running rustdoc with `--document-private-items --document-hidden-items` on `std`?"
I recently broke the command `RUSTDOCFLAGS='--document-private-items --document-hidden-items' x doc library/std`, see #87842, which demonstrates that CI doesn’t test rustdoc on the standard library with these flags. In effect, code with broken intra doc links in or other issues with `doc(hidden)` items (and probably also for private items?) aren’t detected and can be merged into `master`. Maybe we

[2021-08-07 11:56] falk-hueffner commented on #70887
Currently, the return type for `T::{log,log2,log10}` is `T` (https://doc.rust-lang.org/nightly/std/primitive.u128.html#method.log2). Since the return value is at most 128, this is inefficient for at least `u128`. Methods such as `T::{leading_zeros,count_ones}` always return `u32`. I would suggest to also always return `u32` here, making the API also more consistent.

[2021-08-07 12:30] RalfJung commented on #78186
@Lucretiel I am well aware. And yet, the borrow checker is entirely based on the idea that shared data is immutable; that is the justification for allowing shared references to be accessible from many functions and even threads. It just happens to be the case that we can slightly break that rule, and mutate some shared state under careful restrictions. The justification for this is extremely trick

[2021-08-07 13:01] jyn514 commented on #87844
@steffahn it seems weird that we'd support this - why would you run document-hidden-items at all?

[2021-08-07 13:16] steffahn commented on #87844
@jyn514 Because it’s super useful when you’re trying to understand implementation details. I’ve recently been contributing on specializations of iterators involving traits like `TrustedRandomAccess` which is public but `doc(hidden)`. The broken link intra doc link actually hindered my progress reviewing a PR for a few hours until I realized that I could add `-Arustdoc::broken-intra-doc-links`. But

[2021-08-07 13:39] jyn514 commented on #87844
Gotcha - this seems reasonable to me, but it couldn't replace building without those flags because they're not actually tested, x.py just builds them directly for upload to static.rlo. But it should be pretty cheap to run it twice since it's just the libraries.

[2021-08-07 13:41] eddyb commented on #43467
Presumably an opt-out syntax like `trait Trait: ?DynSized {...}` would allow `dyn Trait` that can be used e.g. behind references, but not heap-allocated, or passed by-value on the stack, etc.

[2021-08-07 13:51] kornelski opened #87846 "`x.py check` should check tests by default"
It's possible to have errors in files such as: `library/std/src/collections/hash/map/tests.rs` and `library/alloc/tests/lib.rs`, and have `./x.py check` pass.

I would expect `x.py check` to be equivalent of `cargo check --all` and check every file that CI checks. Otherwise, I run `x.py check`, push code to a PR, and only find later that I have a typo or such.

[2021-08-07 14:04] Smittyvb commented on #87713
This was fixed by #87737.

[2021-08-07 14:04] #87713 closed

[2021-08-07 14:52] RalfJung commented on #78186
All that said, I don't feel like I have understood `Pin<&T>` well enough yet. So I'd like to solicit some help from the pinning experts in the room. :)

`Future`, the original motivation for `Pin`, only involves `Pin<&mut T>`. The small examples we considered in our formal model, including an intrusive linked list, also don't use `Pin<&T>`. So it would be great if someone could point me to example

[2021-08-07 15:44] Mark-Simulacrum commented on #87846
We don't check tests by default, but you can pass --all-targets (`x.py check --all-targets`) to check tests. I believe this is consistent with cargo check behavior?

One reason we don't check tests by default is that causes duplicate error messages for the 'base' crate typically which are annoying (and most changes don't actually need them). If Cargo handled that and didn't show duplicate messages

[2021-08-07 16:08] LeSeulArtichaut opened #87850 "Cycle when computing type of recursive opaque type"
I tried this code:

[code]

`rustc` gives the following output:

[code]

This affects both the MIR and the THIR unsafety checkers. However, since the code is obviously wrong and the relevant errors are still emitted, I'd expect this to be closed as wontfix.

### Meta

`rustc --version --verbose`:
[code]

[2021-08-07 16:12] LeSeulArtichaut commented on #87713
For the record, #87737 didn't solve the underlying issue which is #87850 and affects both the THIR and MIR unsafety checkers.
Interestingly the MIR unsafeck also had this issue which was solved in a similar way with https://github.com/rust-lang/rust/commit/4af0952961520d44088107d000b78eb3a698edba.

[2021-08-07 16:27] blaahaj commented on #87093
https://doc.rust-lang.org/std/primitive.fn.html#creating-function-pointers

If `&dyn` always requires dynamic dispatch, maybe it is okay to coerce?

[2021-08-07 16:54] usbalbin opened #87852 "Tracking Issue for const_num_from_num"
Feature gate: `#![feature(const_num_from_num)]`

This is a tracking issue for constifying the `impl From<U> for T` and `impl TryFrom<U> for T` for conversions between the basic built in numeric types(both `T` and `U` are one of `f32`, `f64`, `iX`, `uX`). It also constifies the corresponding `From` conversions for `NonZeroUX` and `NonZeroIX` and from `NonZeroUX`/`NonZeroIX` to `uX`/`iX` of same typ

[2021-08-07 18:16] lukaslueg opened #87853 "Invalid syntax suggested when missing lifetime coincides with const generic"
[code]

On nightly 2021-08-06 the compiler suggests

[code]

The `const 'a, BAR: usize` has the `'a` inserted at the wrong place. It should be

[code]

[2021-08-07 18:21] #87778 closed

[2021-08-07 18:41] eddyb commented on #78186
I believe the usecase is having resources with "stable addresses" (such as C libraries that may keep their own pointers to the Rust-managed data), without having to always `Box` them, and while not needing `&mut` access.

(@m-ou-se can explain better, but AFAIK the standard library *already* uses this feature in that way, for OS-provided synchronization primitives that require a stable address eve

[2021-08-07 18:52] nikic commented on #87807
This sounds like #80810 to me. https://bugs.llvm.org/show_bug.cgi?id=49322 / https://reviews.llvm.org/D97514

[2021-08-07 18:54] nikic commented on #86758
The LLVM fix was backported in #87610, so this issue should be fixed.

[2021-08-07 18:54] #86758 closed

[2021-08-07 20:40] kornelski commented on #87846
Oh, you're right. So my mistake was assuming that `cargo check` is more thorough than it is (my text editor invokes it for me, even for tests, so I didn't realize the command doesn't do everything itself).

[2021-08-07 20:46] pheki opened #87855 "Invalid diagnostic when executing Type associated function inside of module but module is not found (misspelled / not imported)"
When trying to execute an associated function in a type by using the path starting from the module, but the module is incorrect / doesn't exist and a type with that exact name exists, the error says "use of undeclared crate or module" (correct) but the detailed diagnostic shows "Struct not found in module" (incorrect), as if the module existed. A little confusing, better shown by code:

Given the

[2021-08-07 22:15] RalfJung commented on #78186
Yes that is exactly what I meant when I said that "shared unpinned" and "shared pinned" become the same typestate: `&T` and `Pin<&T>` become the same type.

It'd be nice to have concrete examples for use-cases this would break -- do you have links for those?

[2021-08-07 22:18] RalfJung commented on #78186
Sadly, this does not work: even a static *shared* borrow is still *shared*, so you can't just access its data as if it was not borrowed.

RustBelt provides very strong reasoning principles for static exclusive borrows, like `&'static mut`. That's why `Pin::static_mut` is fine. But the same reasoning principles for static shared borrows are a lot weaker since they have to account for sharing.

I am

[2021-08-07 22:51] eddyb commented on #78186
There's a crucial difference here: we *don't* want a "shared pinned" -> "shared unpinned" transition (assuming `!Unpin`), nor "shared unpinned" -> any kind of ownership (modulo details around how `Drop` is handled).

Is the concern that accessing the `T` through a `&'static T`, independently of the `Pin<&'static T>`, requires the undesired "shared pinned" -> "shared unpinned" state transition? Cou

[2021-08-07 23:08] petrochenkov commented on #84738
Further minimized from https://github.com/rust-lang/rust/issues/84738#issuecomment-850989199 and turned into a rustdoc test form:
[code]
[code]
[code]

[2021-08-07 23:12] ehuss commented on #87846
Just FYI, 1.55 now deduplicates messages.

[2021-08-07 23:59] bbros-dev commented on #64829
@Aaron1011 given https://github.com/rust-lang/rust/issues/43081 is resolved can this be considered resolved?

I've a confusing compiler error use case to report, and am looking for open issues.

[2021-08-08 00:02] Aaron1011 commented on #64829
@bbros-dev: That's correct - we now preserve spans in all stable code, and in almost all unstable code. Feel free to open a new issue for the compiler error that you're getting.

[2021-08-08 00:02] #64829 closed

[2021-08-08 00:19] Mark-Simulacrum commented on #87846
Oh, great news @ehuss -- in that case I'm going to go ahead and reopen this as it seems likely to make sense to check tests (by default, and likely without an option to disable that). Should be a pretty simple adjustment to bootstrap.

[2021-08-08 00:27] Firstyear commented on #87807
Indeed, I believe this is a duplicate of that issue. I will talk to the llvm  people at suse about backporting those fixes to llvm 11. Thanks!

[2021-08-08 01:49] ammkrn opened #87856 "panic: assertion failed: i < this.fields.count() (allocator_api)"
I recognize this is an unstable feature, but I'm filing this per the compiler's request. I was trying out the allocator_api feature in conjunction with bumpalo ^3.6.1.

### Code

[code]

### Meta

Not sure if this happens with stable since it's a nightly-only feature.

`rustc --version --verbose`:
[code]

### Error output

[code]

### Backtrace:

[code]

[2021-08-08 02:59] pierwill commented on #87238
Looks like this issue was addressed in https://github.com/rust-lang/rust/issues/87238.

[2021-08-08 03:00] pierwill commented on #87238
Looks like this issue was addressed in https://github.com/rust-lang/rust/pull/87654.

[2021-08-08 03:24] taqtiqa-mark opened #87857 "Nightly (2021): trait bound error for missing use"
Using this rust version:

[code]

Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like issue #36513 and [this comment (Feb 2020)](https://github.com/rust-lang/rust/issues/40375#issuecomment-542337409) in issue #40375 (which seems to have changed back to uninformative [per this comment (Jun 2020)](https://github.com/rust-lang/rust/issues/40375#issue

[2021-08-08 03:53] jhpratt commented on #74970
I'd be interested in trying to do this if someone can point me in the right direction.

[2021-08-08 05:08] oli3k commented on #39232
I've also encountered this issue while learning Rust.
What can make it especially confusing is that `use std::borrow::BorrowMut;` will often by automatically added when `borrow_mut` is called on the wrong thing, e.g. an Option.
I had a hell of a time figuring out why different `borrow_mut` calls were giving me different returns.

[2021-08-08 05:22] taqtiqa-mark commented on #87857
The expected error message in the OP is produced by this subtle change into a different case:

[code]

Which produces this feedback gem:

[code]

[2021-08-08 06:16] gilescope commented on #84970
We don’t report already raised issues. There’s two open issues due to the
regression and people are waiting patiently for these to be fixed.
Meanwhile lots of cargo cleans are happening. One of those issues has a PR.
I guess rather than moaning about it I can build that PR and report back if
that seems to fix the issue for our codebase. I will do that this week -
sorry should have thought of that

[2021-08-08 08:05] m-ou-se commented on #78186
See my comment at the start of this discussion: https://github.com/rust-lang/rust/issues/78186#issuecomment-874334925

[2021-08-08 08:57] opeik opened #87858 "`rustdoc::missing_doc_code_examples` inconsistent with Rust API Guidelines"
When the `rustdoc::missing_doc_code_examples` lint is enabled, `rustdoc` reports that doc comments which reference another example is missing an example. This is inconsistent with the [Rust API Guidelines](https://rust-lang.github.io/api-guidelines/documentation.html#all-items-have-a-rustdoc-example-c-example).

Given the following:

[code]

I expected to see no warnings.

Instead, this happened:

[2021-08-08 09:02] ttencate commented on #63569
The `MaybeUninit::as_mut_ptr` documentation currently warns:

I suppose this applies to `slice_as_mut_ptr` as well, but there is no such warning in its documentation currently, so please consider adding it.

[2021-08-08 09:09] #87238 closed

[2021-08-08 09:19] seven1oe opened #87859 "`Command.env` not working since nightly-2021-07-05"
`Command.env` not work after `nightly-2021-07-05` or commit [`8345538`](https://github.com/rust-lang/rust/commit/8345538fec7aa45fabeb7283707386ac7ed51f5b)(maybe).

Here is my test `main.rs`:
[code]
[code]
[code]

**This also affects `rustc` search for linker after nightly-2021-07-05** (with `link-self-contained=yes` or without mingw installed)

Run the `rustc` in cargo's bin works fine, but run th

[2021-08-08 09:34] palfrey commented on #83190
Just saw this in https://github.com/palfrey/bioyino/runs/3273000488?check_suite_focus=true with `rustc 1.56.0-nightly (574d37568 2021-08-07)`

[2021-08-08 09:51] awslabspl commented on #87857
@taqtiqa-mark Try to cop-out shit from `cargo`. Better use something else. `Cargo` is fa from reaching maturity

[2021-08-08 09:52] awslabspl commented on #87856
[code]
This is rather generic

[2021-08-08 09:59] #87603 closed

[2021-08-08 09:59] #87674 closed

[2021-08-08 10:51] tsoutsman commented on #85138
Could it maybe be a cube icon (like [this](https://thenounproject.com/term/object/2007252/)) to the right of the new `copy item import to clipboard` button? On hover, there would be a tooltip saying `Item is object-safe`. If @vramana doesn't want to work on it I'd be happy to give it a go.

[2021-08-08 11:10] ijackson opened #87860 "unstable fingerprints, generics_of"
Hi.  I got one of these unstable fingerprint ICEs, with a nightly compiler from a few weeks ago.  I'm not sure if this is a useful report; #84970 didn't really say whether it would be, nor precisely what to put in it.  I assume there is no point trying a repro with a recent nightly.

I have preserved a copy of my `target/` directory in case it will be useful. It's 2.9GB so do let me know when I ca

[2021-08-08 11:37] tsoutsman commented on #87828
@rustbot claim

[2021-08-08 11:59] Diomendius commented on #87490
`String::new` can actually also be replaced with `()` or seemingly any type other than the return type in the function signature, but strangely leaving the function body empty does not trigger the ICE.

[2021-08-08 12:52] halldong commented on #72016
I already have added `#![feature(asm)]` in the top of rs file.
But `cargo test` always warn me to add again.
It is normal to run `cargo run`.

[2021-08-08 13:09] y21 opened #87862 "docs: clarify pointer provenance of `Rc::as_ptr()`"
It is unclear whether it is valid to mutate the `*const T` returned by `Rc::as_ptr()` without looking at or relying on implementation details.
A quick look at the function signature in the documentation may suggest that, given it takes a `&Rc<T>` and returns a `*const T`, it should be UB to mutate. However, `Rc<T>` itself does not own the T, so `&Rc<T>` ≠ `&T`.
`RcBox<T>` (private, impl. detail) d

[2021-08-08 13:22] ChrisDenton commented on #87859
Thanks for the report! I see the problem. I'll submit a fix as soon as I can.

[2021-08-08 13:32] steffahn commented on #83882
[This discussion on URLO today](https://users.rust-lang.org/t/trait-visibilities-cannot-call-implemented-function-on-an-variable-when-the-trait-is-sealed/63324?u=steffahn) demonstrates a practical case of a public-in-private supertrait with methods that are (most likely) not intended to be exposed/callable. In my opinion, the fact that such methods are ever callable is surprising and unnecessary a

[2021-08-08 13:39] fee1-dead commented on #87862
I disagree. Modifying through an `Rc`'s pointer is UB *unless* its `strong_count` is `1` and its `weak_count` is `0`.

[2021-08-08 13:45] ohsayan commented on #85019
Update: Even after upgrading to 1.54 and clearing out older caches completely, we're seeing a number of ICEs:
- https://build.skytable.io/skytable/skytable/3/1/3
- https://build.skytable.io/skytable/skytable/4/1/3
- https://build.skytable.io/skytable/skytable/5/1/3

[2021-08-08 13:51] y21 commented on #87862
I forgot to add that to the issue, but what I'm after is clarifying whether it's valid to mutate the `*const T` *assuming* only one strong count and no weaks.
As in, `Rc::as_ptr()` taking `&Rc<T>` and returning `*const T` makes it seem like the pointer is read-only even though it's not, but this relies on implementation details.

[2021-08-08 13:55] fee1-dead opened #87864 "Tracking Issue for `const_default_impls`"
Feature gate: `#![feature(const_default_impls)]`

This is a tracking issue for `const` `Default` `impl`s in the standard library.

### Public API

[code]

### Steps / History

- [x] Implementation: #86808, #95947
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-08-08 14:29] Zapeth opened #87866 "Discrepant behavior of scoped `cfg` attribute specifier"
After reading that about this feature [existing since 1.21.1](https://stackoverflow.com/questions/24396293/is-it-possible-to-conditionally-compile-a-code-block-inside-a-function) (though apparently not mentioned in the [reference](https://doc.rust-lang.org/reference/conditional-compilation.html#the-cfg-attribute)?) I wanted to use it in my project, but apparently it works differently from the "sta

[2021-08-08 14:41] Zapeth commented on #87866
I just realized why these issues occur, I guess the implementation just treats the `{}` block as a normal expression instead of the implied "block" specifier? (at least somewhat implied if you're coming from C/C++).

Either way it would still be nice to have this functionality in rust, instead of having to specify `#[cfg(feature = "")]` for every line if you want to conditionally disable an entire

[2021-08-08 14:45] #87866 closed

[2021-08-08 16:13] Aaron1011 commented on #87860
@ijackson: Thanks for the detailed report!

Before you ran the failing `cargo build` command, do you know what commit you had checked out? I've tried to reproduce this by first building the parent of https://salsa.debian.org/iwj/hippotat/-/commit/ff07ec217de7ead5f497b05fa1026aaf630978bf (which is https://salsa.debian.org/iwj/hippotat/-/commit/0d814a7ef4345ae488ef8b61676fede4a867d7c3), and then bui

[2021-08-08 16:18] RalfJung commented on #43467
Smaller vtables without size/align also seem [interesting for other reasons](https://internals.rust-lang.org/t/aggressive-vtable-compression/15106).

[2021-08-08 16:33] RalfJung commented on #72016
@halldong  `cargo test` builds a separate crate; if the test crate uses unstable features, it also needs a feature flag. So you also need to add it to your file in `tests`. The error should indicate which file you need to add the flag in. (This is not specific for `asm`; all features work like this.)

[2021-08-08 16:38] Aaron1011 commented on #85019
@ohsayan: Have you been able to reproduce the ICE on linux?

[2021-08-08 16:41] RalfJung commented on #78186
Eh, too late for that.^^ One can safely convert `Pin<&T>` to `&T`.

"shared unpinned" → "shared pinned" currently does not exist; `static_ref` proposes to add it specifically for the `'static` lifetime.

If so, is the uniquness in the first step required? As in, is the issue with the shared version kind of like a "typestate race"?

I'm not sure yet if there is a deep issue with the new " staticsha

[2021-08-08 16:46] nagisa commented on #83623
Reopening to track the LLVM 13 regression.

[2021-08-08 16:51] halldong commented on #72016
@RalfJung the tests code block is within the same rs file containing the fn and asm.

[2021-08-08 16:59] ohsayan commented on #85019
@Aaron1011 All our CI runners on Linux use caching, but none of them have shown any ICEs yet.

[2021-08-08 18:02] antoyo opened #87871 "Better diagnostic for missing components"
When using the `rustc_private` feature without the components being installed and you use a compiler crate, you'll get an error like this:
[code]
which is not helpful.

Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

(the last line was added, specifying what could be done to fix the issue)

cc @GuillaumeGomez

[2021-08-08 18:17] HKalbasi commented on #53667
Now I submitted it [in this PR](https://github.com/rust-lang/rfcs/pull/3159). Thanks for your work on `if let chain` and I hope this RFC is a positive step in this direction and for the rust in general.

[2021-08-08 18:47] Ericson2314 commented on #44663
Yes I definitely agree with this approach, to be clear.

Heh that's the tricky bit. I would say "one per name" means all *public* dependencies. Cargo's "one per name and semver compatibility range" to me feel more like an optimization that all-private/unrestricted deps don't cause too much duplicative bloat -- I can't see how having multiple versions that that are semver compatible would actually

[2021-08-08 19:32] mpizenberg commented on #44663
Hi @Ericson2314 I'm just adding a few notes regarding PubGrub. We have to think more about the public/private feature, but I think it will be doable with a ["proxy and bucket" scheme similar to the one presented in the guide](https://pubgrub-rs-guide.netlify.app/limitations/multiple_versions.html). Anyway, we'll have a look at it and report how that goes.

[2021-08-08 20:18] ollpu commented on #87762
Run into what seems like the same issue. Here's a simplified example:

[code]

![playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e5eeaf5e9267eb9a220367427dfb1be3)

[code]

[2021-08-08 22:17] #56431 closed

[2021-08-08 22:20] gheoan opened #87872 "Missing field error in initializer for struct with inaccessible fields"
Given the following code:

[code]

[code]

Using ` rustc a.rs` followed by `rustc -L . b.rs`, the current output is:

[code]

Ideally the output should look like:

[code]

The rationale is the same as for https://github.com/rust-lang/rust/issues/76077. Following the suggestion provided by the compiler will lead to another error. This can be frustrating with structs that have a large number of fiel

[2021-08-08 23:26] ijackson commented on #87860
I think you mean "the last time I ran cargo before the failing
command".  I'm afraid I don't know what the state was then.  It
probably wasn't a formal commit - it was probably a dirty working
tree.  I only committed the failing tree for the purposes of the bug
report.

But, I have magit wip mode enabled.  That makes a private wip commit
every time I save.  So perhaps my reflog will be illuminatin

[2021-08-09 01:08] #87217 closed

[2021-08-09 01:21] jmeggitt commented on #77125
# Can this be re-stabilized now?
@KodrAus Going through the comment that was the basis of reverting stabilization (https://github.com/rust-lang/rust/pull/75923#issuecomment-696676511):

## Part 1

Sure, but this suggests that retrieving a `TypeId` should be `unsafe` not `unstable`. `Any` is currently both stable and safe despite heavily relying on `const fn TypeId::of()`. If there are serious conc

[2021-08-09 01:38] TheIronBorn opened #87873 "ICE on `rustc -C help | echo` on Windows"
I tried this code:

[code]

I expected to see this happen: `echo` should pipe the help output to stdout.

Instead, this happened (on stable and nightly):

[code]

### Meta

`rustc --version --verbose`:
[code]
and
[code]

<details><summary>BACKTRACE</summary><p>

[code]

</p>
</details>

[2021-08-09 03:20] eddyb commented on #77125
Nobody tried AFAIK. 10 months is pretty short on the scale of Rust evolution, especially when you take into account the year 2020.

But also I believe it got stalled because of this potential breakage: https://github.com/rust-lang/rust/pull/75923#issuecomment-699096904

In order to guarantee code that `transmute`s to `u64` gets broken, we can't just replace `TypeId` with a pointer, but because we

[2021-08-09 03:43] #87807 closed

[2021-08-09 03:49] ChrisDenton commented on #87873
I can confirm for `cmd.exe`. Works in powershell though. It dates back to at least Rust 1.0:

[code]

[2021-08-09 05:54] DrMeepster commented on #87856
I believe this is a duplicate of #78459

[2021-08-09 06:24] jfrimmel commented on #87866
Your guess is correct.

Currently, the standard library does not feature the multi-line `#[cfg]`s you want, but 3rd-party crates are:
1. [`cfg-if`](https://crates.io/crates/cfg-if), one of the most downloaded crates
2. [`cfg-match`](https://crates.io/crates/cfg-match) with somewhat nicer syntax in my opinion

[2021-08-09 07:44] jhpratt commented on #87517
Actually, this is a duplicate of #86985. As the tracking issue in code links to this, I'll close that even though it was opened first.

Unresolved question for the record:

- Should multiple `#[default]` attributes on the same variant be denied?

[2021-08-09 07:45] jhpratt commented on #86985
Closing in favor of #87517, which is the one linked to in code.

[2021-08-09 07:45] #86985 closed

[2021-08-09 10:33] danielhenrymantilla opened #87877 "Panic in `region_scope_tree`: `assertion failed: prev.is_none()`"
Context: "regression" caught by future-proofing CI from https://github.com/danielhenrymantilla/stackbox.rs/runs/3278204045?check_suite_focus=true

After working on reducing the code, I've identified the root cause of the ICE.

### Code

[code]

  - For context: this patterns stems from "old" Rust code wanting to support proc-macros emitting item definitions in "statement" position for `<1.45.0` Ru

[2021-08-09 11:15] jplatte commented on #57349
The issue description says

but that issue was closed by #78578, which AFAICT just extended the `const_mut_refs` feature gate to all const contexts? If I understood correctly I think the issue description should be updated.

[2021-08-09 12:08] TheWastl commented on #87872
I guess this also applies to patterns:

[code]
[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8ac3a737ae3434f7e5d6d4693049ef08)

Error:

[code]

Possibly change to something along these lines:

[code]

[2021-08-09 12:45] ChrisDenton commented on #87873
Minimal reproduction:

[code]

[code]

[code]

So the pipe gets broken which causes rustc to panic.

[2021-08-09 12:56] Alexendoo commented on #86530
No longer ICEs since #86795

[2021-08-09 13:31] avl commented on #62924
I think finding the first and last elements of a BTreeMap is a sufficiently common requirement to motivate these methods. Definitely something I'd like to see in stable.

[2021-08-09 14:02] curldivergence commented on #71126
Hello @bstrie, are there any news on the stabilization, by any chance? :)

[2021-08-09 14:23] jonas-schievink opened #87884 "GAT bounds are allowed to shadow existing lifetimes"
This code compiles fine:

[code]

The `Item<'a> = S<'a>` bound introduces a lifetime `'a`, which shadows the lifetime `'a` introduced by the `impl<'a>` block.

No other constructs in Rust are allowed to shadow existing lifetimes, so this seems like something that should be rejected:

[code]
[code]

[code]
[code]

[2021-08-09 14:37] jackh726 commented on #87884
There's no new lifetime here; not a bug

[2021-08-09 14:37] #87884 closed

[2021-08-09 14:45] TheWastl commented on #87872
@rustbot claim

[2021-08-09 15:28] olix0r commented on #84873
This looks promising for us! We ended up adding `Box`es throughout the stack so we could upgrade Rust, but we still see improvements on nightly compiling from the latest main (linkerd/linkerd2-proxy@d843eb1d3621eb5bcb5585c3fc5dec2dda01d3e6):

cargo 1.54.0 (5ae8d74b3 2021-06-22)

    Finished release [optimized] target(s) in 4m 01s
        Command being timed: "cargo build --release"
        User t

[2021-08-09 16:18] nicholasfagan opened #87886 "ICE on 1.56.0-nightly: StableHasher: unexpected region RePlaceholder(...)"
### Code

[code]

### Meta

`rustc +nightly --version --verbose`:
[code]

compiler flags:
`-C embed-bitcode=no -C debuginfo=2 -C incremental --crate-type lib`

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-09 16:19] nicholasfagan commented on #87886
## Related ICE
Possible related to #77708

[2021-08-09 16:38] dsherret opened #87887 "`cargo rustdoc -- --output-format json` now says a tuple variant is a struct variant"
Note the current type of `Variant` in rustdoc-json-types:

https://github.com/rust-lang/rust/blob/eaf6f463599df1f18da94a6965e216ea15795417/src/rustdoc-json-types/lib.rs#L271-L275

### Code

I tried this code:

[code]

And ran this:

[code]

I expected to see this happen (or something along these lines saying it's a tuple variant):

[code]

Instead, this happened:

[code]

### Another Example

Here

[2021-08-09 16:59] TheWastl opened #87890 "bootstrap tries to download the wrong link from ci-artifacts.rust-lang.org if the local repository is shallow"
## Steps to reproduce

[code]

## Expected output

An error message indicating that a full (or at least longer) git history is required.

## Actual output (of final `x.py` invocation)

[code]

The correct link would include a commit hash inbetween the `//`. But the required commit hash is not available because there is no full history.

[2021-08-09 17:05] m-ou-se opened #87891 "Undefined behaviour in `slice::fill` specialization."
This was reported by @the8472 on Zulip: https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/potential.20UB.20in.20slice.3A.3Afill/near/248871405

Demo:

[code]
[code]

[2021-08-09 17:19] Aaron1011 commented on #87891
I think the fix should be as simple as using `MaybeUnint<u8>` instead of `u8` as the type of `value` - that will work regardless of whether or not the memory is initialized.

[2021-08-09 17:21] m-ou-se commented on #87891
The other option is just removing the `if size_of::<T>() == 1` case entirely. Llvm is smart enough to turn that loop in the `else` branch into a memset.

[2021-08-09 17:29] the8472 commented on #87891
It does help the gcc codgen backend at least as it can't manage to produce a memset for u64 so I assume it would fail to do the same for u8 if it weren't for that specialization.

https://rust.godbolt.org/z/hrMYvWz9n

[2021-08-09 17:33] m-ou-se commented on #87891
@the8472: It also fails for the `u8` case: https://rust.godbolt.org/z/Wjx5Mnj5K

[2021-08-09 17:36] the8472 commented on #87891
It does call memset if you don't pass an array. https://rust.godbolt.org/z/x4KT99heT

[2021-08-09 17:41] TheWastl commented on #87890
Hm, can I do this?

@rustbot label +A-rustbuild

[2021-08-09 18:02] Aaron1011 commented on #87886
This should be fixed by https://github.com/rust-lang/rust/pull/87811

[2021-08-09 18:03] patrick-gu opened #87893 "Associated type constraints and higher ranked trait bounds require impossible type annotations"
I tried this code ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8e93f2e93c7a7e440c97139c4a5e4f4b)):

[code]

I expected to see this happen: The code compiles successfully because there are no additional type annotations are needed.

Instead, an invalid suggestion is produced:
[code]

### Meta

`rustc --version --verbose`:
[code]

[2021-08-09 18:10] nisimjoseph opened #87894 "Build succeed but no executable file created (error "could not execute process `target/debug/[project name]` (never executed)")"
I am working on Mac with the latest version (11.5.1) and I installed Rust and create a simple project using the `cargo new learn1` command and then run the `cargo run` which builds and runs the simple "Hello World" project.

The build finish with:
[code]
now, I see this error and the file `learn1` which is the executable file was not created. All the rest of the files in the `target/debug` folder

[2021-08-09 18:35] nagisa commented on #87894
Antivirus(-es)? Sandboxes? Isolations?

[2021-08-09 18:40] nisimjoseph commented on #87894
I work in a company which has things like that, so I ask IT and they turn off the Antivirus.

I also tried another employee's computer, the same as mine, and it worked there even with the Antivirus turn ON.

do we have logs for this in Rust?

[2021-08-09 18:45] nagisa commented on #87894
There's some documentation for [logging from rustc](https://rustc-dev-guide.rust-lang.org/compiler-debugging.html#getting-logging-output). Logging with the `info` level should be sufficient to see the linker invocation line, which is what should be ultimately producing the final executable file.

[2021-08-09 18:58] programmerjake commented on #77125
Maybe it would be better to use this to shrink `TypeId` to only 16 bytes on 64-bit platforms:
[code]

[2021-08-09 19:09] Aaron1011 commented on #87860
I'm at a loss as to how this could have happened. There's not much data stored in `Generics`, and I don't see how any of it could change without also changing the crate hash (e.g. changing the lifetime span would change the hash of the function itself, when we hash the parameter).

I wonder if the incremental compilation data or crate metadata could have been corrupted on-disk. As far as I know, w

[2021-08-09 19:13] nisimjoseph commented on #87894
this is what I got when turn `debug = true` in config:
[code]

[2021-08-09 19:14] Mark-Simulacrum commented on #87749
@craterbot retry

[2021-08-09 19:28] nagisa commented on #87894
Please run with `RUSTC_LOG=info` as per the linked instructions instead.

`package.debug=true` as the warning mentions doesn't do anything.

Just to give you some background information on what's the intended flow is:

1. `cargo` invokes `rustc` (as you see in your verbose output above) to compile an executable into `/Users/nisim.j/Desktop/learn1/target/debug/deps`;
2. `rustc` produces a number of

[2021-08-09 19:34] SNCPlay42 commented on #87893
This is similar to  #85735 - the *actual* problem is that there are two bounds on the trait `TraitWithLifetime` whose generic parameters differ only by lifetimes (see #21974).

A similar fix to the one for #85735 could be applied to avoid the bad suggestion, but I think the compiler should emit a completely different error message from "type annotations needed" when generics on bounds differ only

[2021-08-09 20:04] Aaron1011 commented on #87860
I've opened https://github.com/rust-lang/rust/pull/87896 to detect corruption of crate metadata via a SHA-256 hash.

[2021-08-09 20:20] camelid commented on #87887
Regression occurred sometime between nightly-2021-07-28 and nightly-2021-08-08, and #87451 seems likely to be the cause anyway.

[2021-08-09 21:15] jyn514 commented on #87890
Mentoring instructions: find what this command outputs when the repository is shallow: https://github.com/rust-lang/rust/blob/ae90dcf0207c57c3034f00b07048d63f8b2363c8/src/bootstrap/bootstrap.py#L669-L672
If it's an error, see if you can check for a shallow repository somehow and give a hard error instead of continuing onward just to fail.

[2021-08-09 21:16] jyn514 commented on #87890
Note that this shouldn't need to the full history of the repo, just the past few days, since PRs are constantly being merged.

[2021-08-09 21:25] jackh726 commented on #87762
This should be fixed by #85499

[2021-08-09 21:50] poliorcetics commented on #87694
@rustbot claim

[2021-08-09 22:08] ricobbe commented on #58713
The conversation around stabilization seems to have stalled.  Is there anything outstanding that would prevent moving the functionality that's already been implemented into stabilization?

@joshtriplett

As a side note: it doesn't look like I'm going to be able to devote much time or energy towards addressing the remaining functionality, as we believe that the work done so far handles our use case

[2021-08-09 22:21] ratulb opened #87898 "Compiler error with custom test framework"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-08-09 22:57] est31 commented on #58713
Right now, this feature is only partially supported on the `*-windows-gnu` target family, which has several targets listed as [tier 1](https://doc.rust-lang.org/nightly/rustc/platform-support.html#tier-1-with-host-tools). In order to use the feature, users of those targets [have use the LLD linker](https://github.com/rust-lang/rust/issues/58713#issuecomment-881901525), which is not the default. LL

[2021-08-09 23:23] ATiltedTree opened #87899 "`rustdoc` does not track changes of files included with `#[doc = include_str!("FILE")]`"
When using `#[doc = include_str!("FILE")]` `rustdoc` (e.g. `cargo doc`) does not notice that `FILE` changed and thus does not rebuild the documentation. It should probably track the modification time and rebuild the documentation when `FILE` changes.

[2021-08-09 23:33] ricobbe commented on #58713
@est31

The raw-dylib feature as currently implemented deliberately does not support the `*-windows-gnu` targets, and so the only relevant test is a [UI test](https://github.com/rust-lang/rust/blob/master/src/test/ui/rfc-2627-raw-dylib/raw-dylib-msvc-only.rs) to ensure that we issue a diagnostic upon encountering raw-dylib on those targets.

I did explore the possibility of using LLD, but @mati865

[2021-08-09 23:46] est31 commented on #58713
I agree that officially supporting something without tests isn't good. As for LLD support in the test suite, I wonder how it's solved for wasm targets, because IIRC there, only LLD is being used. Eventually as rustc migrates to LLD, this problem has to be solved anyways, no?

[2021-08-09 23:55] Mark-Simulacrum commented on #87890
We should only need one (bors merge) commit, I believe - each bors merge has the full set of artifacts.

[2021-08-09 23:57] ricobbe commented on #58713
I assume so, yeah.  I think the important question for now, however, is whether solving the LLD-in-automation problem should be required in order to stabilize this work for the windows-msvc platforms.

[2021-08-10 00:36] danii opened #87902 "Cannot Drop A Closure With Non Copy Captures Confusing Error"
The All Mighty Borrow Checker appears to not allow you to drop a closure that accepts a lifetime as an argument, when a pointer to that closure has the same lifetime. I believe this to be a bug, because when you remove the drop call (`drop(func);`), Rust already *does the same thing implicitly* at the end of the block, without error.

[Here's the minimum replicatale error I have found.](https://pl

[2021-08-10 00:38] ijackson commented on #87860
Aaron Hill writes ("Re: [rust-lang/rust] unstable fingerprints, generics_of (#87860)"):

I'm pretty sure my laptop doesn't have disk corruption trouble
although if I'm fair rustc is one of the bigger stress tests of it.

But it is possible that the files were being written at the same time
as rustc was running.  Ie, I might have saved a file in my eitor,
while a cargo invocation was ongoing.  Coul

[2021-08-10 00:43] mati865 commented on #58713
LLD as the default windows-gnu linker has big question mark next to it: BFD.
LLD works fine with all kinds of import libraries but emits only one type, the one that BFD has issues with.
That means we cannot guarantee that dynamic libraries will be linkable by platform default linker when defaulting to LLD.

BTW I hope to add purely LLVM based mingw-w64 targets to Rust but haven't got the time to w

[2021-08-10 00:49] jhpratt commented on #85475
I'd just like to state that while consistent with type generics, I share the concern that it's not clear _why_ this restriction needs to be in place. I'm refactoring some code in anticipation of using const generics soon, but I have to add a few inferred type generics for no apparent reason (they were inferred just fine as `impl Trait` before). My use case isn't something like arrays where the con

[2021-08-10 00:53] jonas-schievink commented on #85475
This was implemented in https://github.com/rust-lang/rust/pull/86176 and is now tracked in https://github.com/rust-lang/rust/issues/83701

[2021-08-10 00:53] #85475 closed

[2021-08-10 00:55] jhpratt commented on #85475
Perfect! Thanks for the info.

[2021-08-10 03:17] xpe opened #87905 "format!() sometimes ignores width while formatting Debug"
I tried this code:

[code]

I expected to see this happen:

[code]

Instead, this happened:

[code]

To summarize, `println!()` / `format!()` ignores width while formatting Debug in some cases but not others.

### Meta

`rustc --version --verbose`:
[code]

I confirmed the unexpected behavior also happens in beta and nightly:
* [beta (playground)](https://play.rust-lang.org/?version=beta&mode=debug

[2021-08-10 03:34] Aaron1011 commented on #85019
This issue isn't platform-specific after all. It occurs when the crate is rebuilt with the same target directory (set with `CARGO_TARGET_DIR`), but from a different source directory path. The M1 builder for `skytable` uses a shared target directory across different jobs, but each job gets a unique path for its clone of the repository.

[2021-08-10 04:14] maurer opened #87906 "`Instant::duration_since` returns a shortened duration if a suspend occurred"
`Instant::now` currently uses `CLOCK_MONOTONIC`, which stops ticking during suspend. This means that creating a `Duration` via `Instant::duration_since` will be notably shorter than expected if the system suspended between the `&self` instance and the `earlier` argument.

If `CLOCK_BOOTTIME` is used instead, the clock is guaranteed to continue ticking during suspend. This closer matches the docume

[2021-08-10 04:22] jackh726 commented on #87831
Ah, so. There indeed is a difference between writing
[code]
and
[code]
Specifically, the *bounds* `type Bar<T>: Debug` must be proved *by the impl*, whereas the where clauses must be provable *by the type*.

The well-formedness rules for these are generally laid out pretty well in the Chalk book (http://rust-lang.github.io/chalk/book/clauses/wf.html). Though, this is the "ideal" world and might no

[2021-08-10 06:24] bstrie commented on #71126
@curldivergence joshtriplett's prior comment is still accurate. All this needs is for someone to write up a stabilization report, after which this issue can be nominated for lang team discussion, at which point they may then decide to proceed with stabilization.

[2021-08-10 06:49] hellow554 commented on #87899
As a workaround you could create a `build.rs` file and use [`cargo:rerun-if-changed=`](https://doc.rust-lang.org/cargo/reference/build-scripts.html#rerun-if-changed).

But I'm with you, it should recompile it.

[2021-08-10 07:29] hellow554 commented on #87877
searched nightlies: from nightly-2021-08-01 to nightly-2021-08-10
regressed nightly: nightly-2021-08-07
searched commits: from https://github.com/rust-lang/rust/commit/2f07ae408fce782bf1058e3de808f1b6f9ab60a4 to https://github.com/rust-lang/rust/commit/5ad7389bdd1abe7d2c6f73a233af1a7a69e96285
regressed commit: https://github.com/rust-lang/rust/commit/5ad7389bdd1abe7d2c6f73a233af1a7a69e96285

<deta

[2021-08-10 08:00] eddyb commented on #77125
Yeah, that's what I meant by "length-prefixed". There's a "standard" way to do that using `extern { type }`, I just didn't want to type it in.

[2021-08-10 08:37] pchampin opened #87911 "Iterator::nth() is badly named"
Intuitively, `.nth(1)` could be expected to return be the *first* element, `.nth(2)` the *second*, and so on...

I am of course *not* suggesting to change the semantics of `.nth()` now, which would obviously cause a backward compatibility trainwreck. I am not suggesting either that this method or another one should start the count at 1, as all other operations start the count at 0.

What I am sugg

[2021-08-10 08:43] hellow554 commented on #87813
Using a self built rustc, I get this (already `c++filt`ered):

[code]

[2021-08-10 08:50] sdroege opened #87912 "rustdoc does not consider (complicated?) trait bounds for listing blanket implementations"
See for example https://gtk-rs.org/gtk-rs-core/stable/0.14/docs/gio/struct.FileInputStream.html#blanket-implementations

In short the relevant code looks as follows

[code]

rustdoc is correctly listing for `FileInputStream` the `IsA<InputStream>` impl and also various blanket impls, but not the `InputStreamExt` blanket impl that also applies to it.

Some blanket impls with trait bounds (e.g. `imp