[2018-12-12 17:22] Emerentius commented on #53823
@pnkfelix

That is exactly it

[2018-12-12 18:05] tromey commented on #37646
FWIW I now tend to think this is just a bug in gdb (and lldb) and should be filed there instead.  (The bugs about things like `{` appearing in the linkage name, though, are rustc bugs.)

In gdb there are two ways to refer to items.

One is "linespecs", which is the syntax you use for `break` and some other commands like that.  If linespecs don't support the `{{closure}}` syntax, then we can fix th

[2018-12-12 18:05] bjorn3 commented on #56745
Yes, that was exactly the fix.

[2018-12-12 19:20] alexcrichton commented on #48683
I think I'd personally be more of a fan of a dedicated profile, and we could figure out later how to have cascading overrides perhaps or something like that. Having a dedicated profile seems best for configuration and simplicity from the get-go

[2018-12-12 19:39] alexcrichton commented on #32976
Ok we've discussed this in a recent @rust-lang/libs triage, and the conclusion was that the proposal to stabilize all these types as-is is probably the way to go. The stabilization would be coupled with documentation updates indicating that these aren't as portable as, say, `Add for u8`, but they're available on most platforms. Additionally it was concluded that stabilizing smaller-size atomics fo

[2018-12-12 19:48] zackmdavis commented on #56750
@nvzqz Thanks for the report! We recently [changed the wording](https://github.com/rust-lang/rust/pull/52332) to say "never constructed" rather than "never used" in the hopes of clarifying that the [liveness analysis](https://github.com/rust-lang/rust/blob/dd8fc7dc06dea00afbd365468cf4804f68a3531c/src/librustc/middle/liveness.rs) doesn't consider destructuring patterns as "live," but the existence

[2018-12-12 19:55] alexcrichton opened #56753 "Stabilize the `integer_atomics` feature: Atomic{I,U}{8,16,32,64}"
Tracking issue: https://github.com/rust-lang/rust/issues/32976
Documentation: https://doc.rust-lang.org/nightly/std/sync/atomic/

This issue is a proposal to stabilize the `integer_atomics` feature as-is on nightly, modulo some documentation updates. Specifically, for each atomic type, this is proposed:

[code]

## Portability

One of the main points on the [RFC](https://github.com/rust-lang/rfcs/

[2018-12-12 19:56] alexcrichton commented on #56753
@rfcbot fcp merge

Proposing a formal stabilization here, lots of words are above!

[2018-12-12 19:56] alexcrichton commented on #32976
Ok for those following along here, I've opened a formal proposal for stabilization at https://github.com/rust-lang/rust/issues/56753, feedback of course is always welcome!

[2018-12-12 20:04] ppannuto commented on #43144
Any headway on this issue? We'd like to enable warnings-as-errors for CI builds on Tock, but this warning is currently generated for every platform.

[2018-12-12 20:36] alexcrichton commented on #56753
I'm not currently proposing it for two main reasons, the first being that it can always be stabilized later and it's more conservative to start out without it. Other than that though I'd like to try to see what the experience is without these cfgs and how bad it is to be portable across these platforms. I'm not sure that it's a great name for a cfg anyway because it doesn't cover thumv6m's case of

[2018-12-12 20:45] Amanieu commented on #56753
I'm not too happy with `target_has_atomic = "cas"` which was added in #51953. I feel that `target_has_atomic` should only be enabled if full atomic support is available for a particular size. A separate cfg `taget_has_atomic_load_store` should be used for minimal load/store support like on thumbv6m.

Maybe we could defer stabilizing atomics on platforms like thumbv6m that only have partial support

[2018-12-12 20:45] Amanieu commented on #56753
cc #54250

[2018-12-12 20:49] tromey commented on #56730
Sorry about that, I didn't mean to imply anything.

I've built 7.12 and I can reproduce the problem.

[2018-12-12 20:53] pnkfelix commented on #56729
i put "needstest" but actually this might just be a dupe of #55394, which would probably mean that the test added for PR #55822 suffices...

[2018-12-12 20:54] pnkfelix commented on #56729
yeah, reviewing PR #55822 and this code, my takeaway is that the test in #55822 suffices.

[2018-12-12 20:54] #56729 closed

[2018-12-12 21:02] pnkfelix opened #56754 "NLL: re-triage all NLL-deferred issues (and delete NLL-deferred label)"
The NLL team marked issues as NLL-deferred every time we wanted to leave something for "after the 2018 edition is out"

The edition is out. We want to re-triage those issues, probably now assigning them the P-high/P-medium/P-low priorities, and potentially also tagging them with NLL-{sound, complete, diagnostics} when appropriate.

[2018-12-12 21:20] tromey commented on #56730
I think this was this gdb bug: https://sourceware.org/bugzilla/show_bug.cgi?id=21763.  I fixed it in 8.1.  There isn't a workaround so I'll be disabling the test.

[2018-12-12 21:21] kinnison commented on #56730
Fair enough :-) Thanks for looking into this.

[2018-12-12 21:39] Manishearth commented on #48683
Here's an example of Firefox's use case that may make some needs clear:

Firefox has a build time dependency on bindgen. Bindgen reads a crapload of c++ headers, does a bunch of analysis, and spits out rust code.

In debug mode, bindgen should be compiled in release mode because otherwise it's _super_ slow.

However, the rust generation step is not slow. Compiling bindgen in release mode means com

[2018-12-12 21:50] retep998 commented on #33158
Fortunately all that discussion of whether it is currently possible to take the address of an unaligned field without causing UB does not actually matter for stabilizing `#[repr(packed(N))]` because it applies equally to `#[repr(packed)]` which is already stable, and `#[repr(packed(N))]` does not force our hand either way with how to resolve that discussion.

[2018-12-12 22:02] KrishnaSannasi commented on #31436
Could this play better with type inference, it fails even in simple cases.

[code]

If this is re-written to use a closure instead of the try block (and in the process loose auto wrapping), then we get

[code]

Which doesn't require a type annotation, but it does require that we wrap the result.

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=cf0444edbdc3bc33

[2018-12-12 22:13] RalfJung commented on #32976
Just to be sure, the encodings of smaller-sized atomics in terms of larger-sized atomics happens by LLVM, as part of LLVM lowering to machine-specific IR or so?  I maintain that doing this at the level of Rust, MIR or LLVM IR is illegal because of potential out-of-bounds accesses, and we shouldn't do it.

[2018-12-12 22:30] Amanieu commented on #32976
@RalfJung This lowering is done either within LLVM, or through a function in compiler_builtins.

The latter is currently only used on armv5te-unknown-linux-gnu at the moment, and uses [this code](https://github.com/rust-lang-nursery/compiler-builtins/blob/master/src/arm_linux.rs). It could be argued that this is UB since `intrinsics::atomic_load_unordered` could be used to read out-of-bounds data,

[2018-12-12 22:44] RalfJung commented on #32976
@alexcrichton makes sense!

@Amanieu

And the argument would be correct :)

And as in the last N cases we have had this argument (and as I am sure you are aware, but not everybody else might be), that doesn't change anything about this being UB when we are talking about code written in Rust, MIR or LLVM IR. ;)

Is this a pattern supported/intended by LLVM?  Is there advise from the LLVM devs for h

[2018-12-12 22:45] jromer94 commented on #56740
I would like to work on this.

[2018-12-12 22:47] narration-sd commented on #56681
ok, last on this I think.  I had a look through old  postings on Rust w/r/t read_line's behavior and related matters, not to say the doc.

I guess all this I ran into is intentional, in stdio. And also non-intuitive to many of experience.

- The point of not not clearing the buffer on read_line seems to be to allow recovery from low-level os errors which stop reads temporarily. Ok, we're relativel

[2018-12-12 22:50] Amanieu commented on #32976
The code is more-or-less based on the GCC implementation, which gets away with a [normal atomic load](https://github.com/gcc-mirror/gcc/blob/master/libatomic/fop_n.c#L120).

Would changing the load to a volatile atomic load help in this case?

[2018-12-12 22:54] alexcrichton commented on #32976
To add to what @RalfJung is saying, @Amanieu just because it works at the hardware layer doesn't mean it's UB in LLVM's IR. For example this function:

[code]

is sort of a simplisitic view but it's guaranteed to never fault because the out-of-bounds load will just load some byte of the return address on the call stacsk or something weird like that. When optimized, however, it yields:

[code]

(a

[2018-12-12 23:10] estebank commented on #56740
@jromer94 do not hesitate to reach out either here or on [zulip](https://rust-lang.zulipchat.com/#narrow/stream/147480-t-compiler.2Fdiagnostics) if you need help!

[2018-12-12 23:16] estebank commented on #27569
Current output:

[code]

[2018-12-12 23:22] estebank commented on #29525
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=aa4a48b30e02d2746e6a2f588e90b9e1):

[code]

[2018-12-12 23:32] estebank commented on #36408
Current output:

[code]

[2018-12-13 00:05] estebank commented on #36542
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=a32fcd515720946e8cfa7f4586b14d53):

[code]

Fixed by #51242.

[2018-12-13 00:07] estebank commented on #36495
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e52ac1625e37ec884882684951b933d6):

[code]

[2018-12-13 00:07] #36495 closed

[2018-12-13 00:16] estebank commented on #36869
[The current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2100c18deb4d1f5a8f5b57e52bb777f7) has a more appropriate suggestion:

[code]

[2018-12-13 00:37] estebank commented on #39057
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=c59f4d0e6ae3d22408d8f0f961689b1c):

[code]

[2018-12-13 01:11] alexreg commented on #56485
This very much looks like a duplicate of #56488.

[2018-12-13 01:16] estebank commented on #45405
Current output:

[code]

Applying the suggestion is (correctly) a parse error. We need to change that suggestion to find the appropriate place for the `mut`: it should be `&mut mem_buffer as &mut std::io::Read`.

[2018-12-13 01:19] estebank commented on #46577
The only test that produces `{{root}}` at the moment is

[code]

[2018-12-13 01:22] Orycterope opened #56762 "ICE const fn: static eval failure didn't emit an error 1.32.0"
[code]

Gives:

[code]
<details>
<summary>Backtrace</summary>

[code]
</details>

[2018-12-13 01:31] estebank commented on #48323
We no longer suggest increasing the recursion depth:

[code]

[2018-12-13 01:31] #48323 closed

[2018-12-13 01:39] estebank commented on #50321
[It warns now](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f45b1e6a54757617d4c567b81cb72c0e):

[code]

[2018-12-13 01:43] estebank commented on #51811
Current output:

[code]

[2018-12-13 01:43] #51811 closed

[2018-12-13 01:51] m4b commented on #37646
This is still an issue and I’m still not able to print things or break on them with {{ with quotes, single quotes, without, etc.

Alternatively quoting demangled cpp names works as expected.

Since I filed this 2 years ago and no action has been taken to fix it in gdb can we just not emit these symbols in rustc ?

[2018-12-13 02:09] Gankro opened #56763 "Vec::append should swap if the lhs is empty"
Here's a reasonable pattern:

[code]

On the first append, we can just swap ourselves with the rhs, avoiding an allocation and copy. This is annoying for our users to remember to do, and is basically free to support given how much work this method otherwise does.

It should perhaps only be done if lhs.capacity is 0, just because we don't want to mess up a user who has preallocated a nice big buffe

[2018-12-13 02:17] narration-sd commented on #56681
p.s. for other unenlightened pre-rusters, this would have been helpful to go through. It does rather prove I wasn't out on a limb to find things to be unusual...but also will help to get 'there'...

http://dtrace.org/blogs/ahl/2015/06/22/first-rust-program-pain/

[2018-12-13 02:21] estebank commented on #42509
Current output still mentions `[u8]` in the main message, but clarifies things a bit:

[code]

[2018-12-13 02:21] #42509 closed

[2018-12-13 02:34] estebank commented on #51222
CC #47666

[2018-12-13 02:34] estebank commented on #54516
CC #47666

[2018-12-13 02:35] x0a commented on #23818
What about a printf! macro that prints and then flushes? Without modifying the behavior of the print! macro

[2018-12-13 02:35] estebank commented on #48160
CC #44767

[2018-12-13 02:37] estebank commented on #44611
Current output:

[code]

[2018-12-13 03:14] devMYC commented on #19776
[code]

[2018-12-13 06:45] RalfJung commented on #56667
Again, no nightly. Isn't it possible to manually trigger the nightly release during the day so that debugging doesn't have to wait an entire day each time?

[2018-12-13 06:51] djc commented on #50321
Yeah, I suppose this has been fixed with NLL.

[2018-12-13 06:51] #50321 closed

[2018-12-13 07:02] da2018 opened #56766 "Blank document comment in trait raises error different from with that in function."
If I use document comment that doesn't document anything in function,

[code]

it will raise error:
[code]

But if I use this in trait, the error confuses me.

[code]

[code]

[2018-12-13 07:15] da2018 commented on #56766
By the way, from https://doc.rust-lang.org/stable/error-index.html#E0585 , if I use blank document comment but not in the end, it doesn't raise E0585 error, so should we adjust the error message of E0585 or adjust the parser?

[2018-12-13 07:19] da2018 commented on #56766
From https://doc.rust-lang.org/stable/error-index.html#E0585 , if I use blank document comment but not in the end, it doesn't raise E0585 error, so should we adjust the error message of E0585 or adjust the parser?

[2018-12-13 08:36] james-darkfox opened #56767 "await macro is not in libcore."
The `await!()` macro is defined in `std` but not in `core`, is there any reason for this?

[2018-12-13 08:36] james-darkfox opened #56768 "`#[allow_internal_unsafe]` evades `#![forbid(unsafe_code)]`"
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b137113f78a25cec34a258505cf41e3f

I'd like the ability to forbid the use of `unsafe_code` over all dependencies with at least a per-crate whitelist. For a quick PoC I've wrapped rustc to add `--cap-lints=forbid` before cargo's arguments and use `RUSTFLAGS=-Funsafe-code` to forbid unsafe code. No per-crate (or better) whitelis

[2018-12-13 09:09] gnzlbg commented on #32976
The operations that @Amanieu wants to perform cannot be performed by a programming language generating LLVM-IR directly. Inline assembly appears to be the only way to perform these right now, so we could still expose them _I think_ (@RalfJung ?).

In the meantime, I think it would be better to open an issue in the LLVM bugzilla about this, explaining why these operations are useful, why the LLVM-I

[2018-12-13 09:31] andysalerno commented on #34511
Will I ever be able to write:
[code]

??

[2018-12-13 09:48] oli-obk commented on #34511
Probably not. But there are ongoing plans to preparing everything so we might get

[code]

You can experiment with this feature on nightly in the form of

[code]

A good start to get more info about this is https://github.com/rust-lang/rfcs/pull/2071 (and everything linked from it)

[2018-12-13 10:13] Nemo157 commented on #31436
@KrishnaSannasi your closure based example has a type inference failure as well ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=eeab174a1dd1023e488b315539357d54)) because `Into` doesn't constrain the output and you don't use it anywhere that does later.

This seems to mostly be an issue with the `Try` trait rather than `try` blocks, similar to `Into` it doesn

[2018-12-13 10:16] petrochenkov commented on #56417
https://github.com/rust-lang/rust/pull/56759 implements suggestions for macro_rules and attribute import future-proofing.

[2018-12-13 10:17] nikic commented on #56618
Based on the timing, I'm assuming this regression also made it into beta, which was cut around 4th/5th Dec.

[2018-12-13 10:33] StyMaar commented on #51811
Cool. I have one question though: Why is the error message different ? “unknown variant” vs “variant not found in `Test`”?

[2018-12-13 10:44] brokenthorn commented on #56667
No `rustfmt` or `clippy` for `rustc 1.32.0-nightly (4a45578bc 2018-12-07)`. 😞

[code]

[2018-12-13 10:59] dlight commented on #46871
It seems to me that if `NoneError` should exist at all, then it should implement `Error`, otherwise `Box<Error>` doesn't work.

[2018-12-13 11:02] spacejam commented on #56700
I hit this a few times per week, and just did an issue search to see what the conversation was like around this.

This has been an issue since before 1.0 (especially before 1.0 since things changed far more drastically and frequently back then) and some work has been done to address it over time:
https://github.com/rust-lang/rust/issues/12466

At the time, the fixes addressed the biggest blocker i

[2018-12-13 11:05] Xanewok commented on #56726
This pulls a specific commit from [rust-dev-tools/rls-analysis](https://github.com/rust-dev-tools/rls-analysis) as opposed to the one from crates.io (https://github.com/Xanewok/rust/commit/c3277aff22bb03c35ec500076310c1efdb8f0664#diff-5d9bf57935c52008319cccc88d4d737dR1813). Will that be a problem?

[2018-12-13 11:08] pnkfelix commented on #55757
The main symptom of this problem on OS X will be resolved if #54153 is closed by PR #56772

I'll go look if Linux has any similar issues.

If it doesn't... then I may close this. I'm tempted to still leave it open because tests should have *some* way to override the setting in `config.toml`. But that might be better left for a broader `compiletest` overhaul.

[2018-12-13 11:32] bjorn3 commented on #56767
It uses thread local storage, which isnt available outside libstd.

[2018-12-13 11:38] mosyp opened #56784 "Undefined reference to `__rust_dealloc`/ `__rust_alloc` when crate-type is ["staticlib", "dylib"]"
**Problem**
A part of Cargo.toml:
[code]
When I build these rust artifact and try to link to it within c program I get a lot of  `undefined reference to '__rust_dealloc' / '__rust_alloc'`. For example, the output of :
[code]
Compiling c code as `gcc main.c my_lib.a -lm -ldl ....`

But once I remove a `dylib` from Cargo.toml, it complies correctly with a success

**Notes**

Actually I don't need "d

[2018-12-13 11:44] bjorn3 commented on #56720
Same for me with firefox dev-edition, Linux.

[2018-12-13 12:14] matklad commented on #55977
@jdahlstrom there's already [repeat_with](https://doc.rust-lang.org/std/iter/fn.repeat_with.html) for infinite iterators.

[2018-12-13 12:14] matthiaskrgr commented on #56667
@brokenthorn The latest nightly that was released unfortunately has broken components.
https://mexus.github.io/rustup-components-history/
In the meantime, tools have been fixed again and should be available again as soon as a new nightly releases (unless of course something breaks them again in the future). :)
https://rust-lang-nursery.github.io/rust-toolstate/

[2018-12-13 12:35] james-darkfox commented on #56767
@bjorn3 Hm. So it does. Looks like @Nemo157 's embrio fills the spot.

https://github.com/Nemo157/embrio-rs/blob/master/embrio-async/dehygiene/src/lib.rs

[2018-12-13 12:40] norru opened #56774 "Rustup cannot update nightly 2018-12-05"
[code]

[2018-12-13 12:51] jonas-schievink commented on #56774
Duplicate of https://github.com/rust-lang/rust/issues/56667

[2018-12-13 12:53] Nemo157 commented on #56767
It's intended to be moved to `core` at some point (there's a few ways to reimplement it, `embrio-async`'s implementation is one but has some relatively spread out safety guarantees, adding the ability for generators to take resume arguments is another that I think would avoid needing any `unsafe` code at all).

I thought this was already noted on the tracking issue (#50547), but looking at it agai

[2018-12-13 12:56] Nemo157 commented on #50547
I just realized that there's no mention of moving `await!` from `std` to `core` in the OP, maybe #56767 could be added to the list of issues to resolve before stabilization to track this.

[2018-12-13 12:58] zutils opened #56776 "hyper not compiling when running "cargo expand""
Checking hyper v0.12.17
    thread 'main' panicked at 'librustc\hir\map\hir_id_validator.rs:31:
    HirIdValidator: The recorded owner of path segment super (id=37553) is ::server[0]::conn[0]::{{?}}[34]    instead of ::server[0]::conn[0]::{{?}}[34]::{{?}}[0]
    HirIdValidator: Same HirId ::server[0]::conn[0]::{{?}}[34]::{{?}}[0]/2 assigned for nodes path segment super (id=37553) and path segment

[2018-12-13 13:02] james-darkfox commented on #56767
Thanks @Nemo157

[2018-12-13 13:05] james-darkfox commented on #56768
@Nemo157 My concern is intended or not, a crate can use it, and that evades the global forbid unsafe-code method I'd like to use. Aside form this, the other issue is generated code and build.rs.

I'm requesting for `#[allow_internal_unsafe]` to be treated as any other `unsafe { .. }` with respect to the `unsafe_code` lint.

[2018-12-13 13:11] #56774 closed

[2018-12-13 13:13] pnkfelix commented on #53823
Okay so I've done some preliminary analysis of the scope of the problem.

On my desktop linux machine, I built the benchmark suite in `libcore/benches` atop the nightly compilers from 2018-02-09 and 2018-02-12. Then I did three runs of the suite on each compiler (for a total of six runs).

Here is the raw data from that exercise: https://gist.github.com/8f511af7012c750928a6bdbf8efa3e6f

Then I put

[2018-12-13 13:15] SimonSapin commented on #55977
This API is not about repetition any more than any iterator is intended to be used by repeatedly calling `.next()`. (And I think that `repeat_with` is also not a good name.)

[2018-12-13 13:22] bjorn3 commented on #56776
You seem to be using nightly: `note: rustc 1.31.0-nightly (96064eb61 2018-10-28) running on x86_64-pc-windows-msvc`. `cargo expand` doesn't work on stable.

[2018-12-13 13:32] pnkfelix commented on #53823
A number of benchmarks improved significantly (i.e. the slowdown ratio is <0.9) over the time period specified. I'm not going to list them here, but there are ~44 of them.

But here are the 9 cases that regressed:

| test |   2018-02-09 min-of-3 ns/iter | 2018-02-12 min-of-3 ns/iter | slowdown |
|-----|  ----------------------------- | ----------------------------- | ---------- |
| char::methods::

[2018-12-13 13:33] james-darkfox commented on #56768
My example (linked above) repeated here.

Another option would be to consider `#![feature(allow_internal_unsafe)]` as unsafe itself, not just unstable; such that the unsafe_code lint would catch the attempt to use the unsafe feature.

[code]

[2018-12-13 13:49] hvenev opened #56777 "Implement AsRawFd and FromRawFd for ReadDir"
Most unixes provide `dirfd()`, which can be used to get a file descriptor from `struct DIR *`.

The two errors are `EINVAL` (`dirfd` called on invalid pointer), which can't occur in correct code, and `ENOTSUP` (not supported by implementation), which doesn't occur on most implementations.

Most unixes also provide `fdopendir()`, which opens a file descriptor as `struct DIR *`. It fails if the file

[2018-12-13 14:07] pnkfelix commented on #56288
T-compiler triage: This is still waiting for the lang team. (Its understandable that they didn't see it yet, as the meeting last week was cancelled.)

[2018-12-13 14:07] pnkfelix commented on #56254
T-compiler triage: I am planning on taking point on this during this week.

[2018-12-13 14:11] pnkfelix commented on #55471
T-compiler triage: The problem *might* have been addressed in the short term via PRs #56467 and #56518. However, it is unclear whether PR #56467 was actually the right short term fix, because @gnzlbg reports that they still get a stack overflow on nightly unless they use `RUST_MIN_STACK=32000000`.
 * It seems super-weird that we successfully bumped the stack via that environment variable but not v

[2018-12-13 14:22] pnkfelix commented on #55396
T-compiler triage: this has one work-item PR (#56349) that landed, and then the final step is in PR #56351, which has gotten approval via rfcbot so I think all that remains is to bors r+ PR #56351 ?

[2018-12-13 14:34] pnkfelix commented on #56611
compiler triage, marking P-high.

@alexreg, did you put up a PR for this? In any case, I will assign to @alexreg since it sounds like they made progress on this.

[2018-12-13 14:34] jonas-schievink commented on #56651
possibly a duplicate of https://github.com/rust-lang/rust/issues/53989

[2018-12-13 14:34] RalfJung commented on #32976
No. Volatile reads *in practice* have some positive effects on racy reads (but LLVM may change those rules any time as we are relying on de-facto behavior here).  It doesn't change anything about the requirement that accesses must be in-bounds.

The proper way to fox this is (as @gnzlbg mentioned) to add an attribute to LLVM that can be set on reads/writes and that indicates that the access may be

[2018-12-13 14:34] pnkfelix commented on #56611
(hmm apparently I cannot assign to @alexreg. I'll assign to self in that case so I am reminded to either poke @alexreg or pick up the torch.)

[2018-12-13 14:49] QuietMisdreavus commented on #56720
It's a CSS issue that's fixed on nightly, which means we need to backport https://github.com/rust-lang/rust/pull/56498 and/or related CSS PRs that happened around that time. cc @GuillaumeGomez

[2018-12-13 15:02] xfix commented on #51709
Example `one` is now optimized correctly.

[2018-12-13 15:03] KrishnaSannasi commented on #31436
@Nemo157

Yes, I did a last minute change to my code, to make it use into, and didn't test that. My bad.

[2018-12-13 15:13] QuietMisdreavus commented on #56707
I'm confused. Are you asking for the forge's "Platform Support" link to be included on the landing page at https://www.rust-lang.org/learn (which would mean reopening the issue you did first), or the landing page at https://doc.rust-lang.org/ (which is managed in this repo, but probably affects less people than the original offer), or for a new page to be created in the docs which copies out that

[2018-12-13 15:19] alexreg commented on #56611
@pnkfelix Hmm, maybe because I'm not a team member? (Although I am an organisation member of course.) Anyway, the fix is in https://github.com/rust-lang/rust/pull/55994 -- all ready & passing CI tests, just waiting for final review & merge.

[2018-12-13 15:30] nikic commented on #32976
As rtlib calls are only inserted at the SelectionDAG layer, while LTO still operates on LLVM IR, I don't believe there is any possibility of these getting inlined.

[2018-12-13 15:35] alexcrichton commented on #32976
@nikic is correct, we explicitly don't LTO compiler-builtins as well (it's a very special crate). In that sense there's no worry for inlining compiler-builtins intrinsics.

[2018-12-13 15:38] weiznich opened #56780 "Huge compile time regression with `edition = "2018"` enabled"
While trying to port diesel to the 2018 edition I've noticed an huge increase in the compile time.

With the 1.31.0 stable release:

* With edition: `cargo check  841,19s user 19,39s system 97% cpu 14:40,77 total`
* Without edition: `cargo check  23,16s user 0,54s system 98% cpu 24,076 total`

Steps to reproduce:

* Checkout [diesel](https://github.com/weiznich/diesel/commit/486786274a97669b836691

[2018-12-13 15:40] pnkfelix commented on #56618
T-compiler triage. P-high. Assigning to @nikic (...if I can)

[2018-12-13 15:41] RalfJung commented on #32976
Okay. I can live with that. We should keep it in mind though for the future, if/when compiler-builtins treatment ever changes.

So, yeah, I agree we should go forwards with such "emulated" small-int atomics implemented via LLVM lowering or compiler-builtints.

[2018-12-13 15:55] pnkfelix commented on #56670
triage: P-high T-compiler

[2018-12-13 16:06] ashleygwilliams commented on #56707
the website does link to forge, though not super obviously as it's audience is small and forge has less active maintenance (it's eventually consistent, though). you can find the link to the forge site on the install page under other install options: https://www.rust-lang.org/tools/install#other-methods

[2018-12-13 16:08] alexreg commented on #56670
Intuition says this is closely related to https://github.com/rust-lang/rust/issues/56288. Thoughts?

[2018-12-13 16:09] bluss opened #56782 "f32 to u32 cast has different result in different context"
A `f32 as u32` cast has different result in two different places.

This [code (playground link):](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=42e34941c171722708c5fb380bce0149)

[code]

has the output:

[code]

which is a surprise! We expect the output should be the same in both cases. Even if the temporary f32 value is outside of the range of values exactly representabl

[2018-12-13 16:12] bluss commented on #56782
Basically #10184

[2018-12-13 16:15] rkruppe commented on #56782
Yes, ultimately due to #10184. The immediate reason there's different output is that `println` takes a reference to its argument so it triggers promotion, and CTFE handles these casts differently (saturating rather than returning `undef`) than runtime code generation w/o `-Zsaturating-float-casts`.

[2018-12-13 16:20] alexcrichton commented on #56667
Next issue to be fixed is at https://github.com/rust-lang/rust/pull/56783

[2018-12-13 16:33] weiznich commented on #56780
`cargo check` generates 1899 error messages. I remember having that much errors before without taking that much time to get them.
Also I expected `cargo fix` to make a crate compatible with the 2018 edition, seems like this does not work for diesel 😟

[2018-12-13 16:41] Mark-Simulacrum commented on #56780
`cargo fix` needs to be run before `edition = 2018` is placed in the toml; did you follow the directions in the [guide](https://doc.rust-lang.org/nightly/edition-guide/editions/transitioning-an-existing-project-to-a-new-edition.html)?

[2018-12-13 16:44] weiznich commented on #56780
I've run `cargo fix`, but it reported:
[code]

[2018-12-13 16:47] KrishnaSannasi commented on #33417
On the note of blanket impls for when `!` gets stabilized,

would this work?
[code]
This way all infallible conversions (with `From` and `Into`) get a corresponding `TryFrom` and `TryInto` impl where the `Err` is `!` and we get a`TryInto` impl for every `TryFrom` impl like how we get a `Into` impl for every `From` impl.

This way if you wanted two write an impl, you would try `From` then `Into` th

[2018-12-13 16:56] SimonSapin commented on #33417
We already have both of these impls:

https://doc.rust-lang.org/1.31.0/std/convert/trait.TryFrom.html#impl-TryFrom%3CU%3E
https://doc.rust-lang.org/1.31.0/std/convert/trait.TryInto.html#impl-TryInto%3CU%3E

[2018-12-13 17:11] xfix commented on #49307
This is now fixed, even in Edition 2015.

[2018-12-13 17:11] #49307 closed

[2018-12-13 17:13] Mark-Simulacrum commented on #56780
Checking out https://github.com/weiznich/diesel/commit/486786274a97669b836691a7d0c7797fb540da45 and running `cargo check` already gives me an error, so I don't expect migration to work...

[code]

[2018-12-13 17:20] weiznich commented on #56780
Are you're sure that you use that version? I cannot reproduce that error on a clean clone. Also our [CI succeeds](https://github.com/diesel-rs/diesel/pull/1936) on that commit.

[2018-12-13 17:38] Mark-Simulacrum commented on #56780
Ah, I was using the master branch, not that commit. My bad.

I am seeing a bunch of warnings and a few errors when attempting to fix diesel; I suspect this may be due to the proc macros (but I thought we had hygiene for those, so not sure).

cc @alexcrichton on the cargo fix failure, full log here: https://gist.github.com/Mark-Simulacrum/0b9935097208f07b93e3b7e522f22e1e

[2018-12-13 17:42] weiznich commented on #56780
So I've managed to get cargo fix to work. (The issue was that diesel generated some code using custom derives that was using the old syntax for use statements …). The fixed branch is [here](https://github.com/weiznich/diesel/tree/test_2018_edition)

After that the compile times are back to ~normal.

[2018-12-13 17:42] #56780 closed

[2018-12-13 17:56] alexcrichton commented on #56784
Thanks for the report! I transferred this to the rust-lang/rust repository as this is a compiler bug rather than a Cargo bug, but perhaps you intended to have the `cdylib` crate type instead of the `dylib` crate type?

[2018-12-13 18:12] robsmith11 commented on #54054
I ran into this issue as well I think.

I was expecting `vec.iter().rev().skip(n)` to be efficient, but it runs 10x slower than `vec[0..(vec.len() - 1 - n)].iter().rev()`, which I would have expected to be similar.

[2018-12-13 18:52] k21 opened #56785 "Incorrect "in later iteration of loop" error diagnostic"
The 2018 edition adds an incorrect "in later iteration of loop" qualifier to the borrow checker error message if an issues occurs within a loop.

### Repro code:
[code]
[Playground Link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1d8f71d5ac7018092374c891f8af783f)

### Actual Output:
[code]

### Expected Output:
The error message should not say **in later iteration of l

[2018-12-13 18:54] jnqnfe opened #56786 "utf-8 surrogate lossy conversion inconsistency"
Lossy conversion of "unpaired surrogate" code points (U+D800 to U+DFFF) is inconsistent, resulting in three Unicode replacement characters on Unix, while only one on Windows.

# Examples

Let's take code point U+D800 as an example.

Raw byte array:

[code]

This results in three because core's `run_utf8_validation` function returns a `Utf8Error` with `error_len` of `Some(1)` due to the byte sequen

[2018-12-13 18:57] PoNienC opened #56788 "Cargo building issue: error: linking with `cc` failed: exit code: 1"
I am running cargo build --release in macOS 10.14.1 However, the following error keeps coming out after I tried almost all the solutions posted here. Could anyone help me out? Much appreciated.

[code]

[2018-12-13 19:01] dtolnay commented on #56286
Updated from:

[code]

to:

[code]

in #56751. Thanks @mbrubeck.

[2018-12-13 19:07] eddyp commented on #56707
@QuietMisdreavus in the end, from some obvious place on the site, there should be a link to a page with the tiers list. As per @nrc's suggestion, I requested the list be documented or maintained in Rust so it can be exported to some page to which the mentioned link could point to.

My actual use case is of somebody evaluating if rust covers his/her target platform before starting anything. So this

[2018-12-13 19:34] tstellar commented on #49572
You may want to experiment using the llvm.assume intrinsic: https://llvm.org/docs/LangRef.html#llvm-assume-intrinsic

[2018-12-13 19:35] estebank commented on #56766
When expecting an identifier, the parser will check if the non-identifier found was a documentation comment and emit E0585:

https://github.com/rust-lang/rust/blob/7489ee9c6f92050a12a3a3097df0a7d3737d82ec/src/libsyntax/parse/parser.rs#L830-L853

An option would be to modify `eat` to check for doc comments in the same manner and complain that it isn't documenting anything (which should always be tr

[2018-12-13 19:36] sfackler commented on #56788
https://docs.rs/openssl/0.10.15/openssl/#manual

[2018-12-13 19:37] jrmuizel commented on #56333
I filed an llvm bug about this: https://bugs.llvm.org/show_bug.cgi?id=40011

[2018-12-13 19:40] estebank commented on #56785
CC #53773 & #54256.

[2018-12-13 20:19] nikomatsakis commented on #56288
Discussed in the @rust-lang/lang meeting.

In short, we think the best fix is to take the ALT2 approach for now -- sidestep the ICE, but retain the benefits of #55687.

(That said, for backporting purposes, it might be fine to revert #55687, that's more of an engineering question.)

In principle it would be nice if `Foo<Out = X>` (given the trait definitions below) would "work", but that is someth

[2018-12-13 20:33] KrishnaSannasi commented on #33417
Ah, didn't see them (too many other impls cluttered the docs). Could we change
[code]
to
[code]
because this will allow strictly more impls, and wouldn't punish people who can only impl `Into` for coherence reasons, that way they also get the automatic impl for `TryFrom`, and the `From` impl would be transitively applied due to the blanket impl for `Into`.

[2018-12-13 20:46] joshtriplett commented on #56668
We'd definitely want to see a crater run. If crater says this doesn't break anything, then by all means let's do this. (We should also go through a full FCP for this, and make sure it shows up in TWiR so that people shout if this might break them.)

[2018-12-13 20:47] nikomatsakis commented on #56503
Discussed in the @rust-lang/lang meeting. We decided that for now we should just make `#[fundamental]` trait objects not act as `#[fundamental]` types.

[2018-12-13 20:48] nikomatsakis commented on #56715
We discussed this a bit in the @rust-lang/lang meeting and decided that we needed to have further discussion.

@pnkfelix -- one thing I would note though is that, as presently implemented, `expr: T` performs a **type equality** rule, but that was considered a temporary hack. I think that is the source of the discrepancy you are talking about?

[2018-12-13 20:49] scottmcm commented on #56334
Lang team discussion agreed with the two comments above; the lint should warn for this.

[2018-12-13 20:56] QuietMisdreavus commented on #56727
I almost have a PR ready for this.

Here's the basic structure of what's happening:

1. Rustdoc scans the doctest to split out crate attributes and crate statements from the doctest. However, the current scan doesn't expect comments in the doctest, so upon encountering the comment at the start of the doctest, it dumps the whole thing into what it calls "everything else".
2. Rustdoc scans the docte

[2018-12-13 20:57] nikomatsakis commented on #54912
I'm having a bit of second thoughts about this RFC. I feel like (a) the intention of `const _: T = { .. }` is pretty unclear and (b) it opens some weird questions about e.g. generic constants and how they fit here and (c) it doesn't support full patterns, which it kind of suggests it would support.

The motivation of "ensure some code type-checks" is real though. I sort of like the syntax `const {

[2018-12-13 20:57] SimonSapin commented on #33417
Would you like to try it, see if it compiles, and send a pull request?

[2018-12-13 20:58] jonhoo commented on #34511
@oli-obk on `rustc 1.32.0-nightly (00e03ee57 2018-11-22)`, I need to also give the trait bounds for `existential type` to work in an `impl` block like that. Is that expected?

[2018-12-13 21:01] KrishnaSannasi commented on #33417
How would I do that,

would it be:

fork and clone rust std lib
make a new branch for change
make change
send pull request

I haven't done this before.

[2018-12-13 21:02] RalfJung commented on #54912
Could that be re-used for explicit promotion as @oli-obk plans it?

[2018-12-13 21:06] nikomatsakis commented on #54912
@RalfJung seems plausible. The one concern I could see is whether there would be some conflict as `const { .. }` could be an item *and* an expression, and we might want the latter to inherit the lexical scope from the surrounding fn, so it can refer to generic constant names -- but we could just say that `const { .. }` items cannot appear in functions (since...what's the point).

[2018-12-13 21:13] alexreg commented on #54184
Has any consensus been reached here lately?

[2018-12-13 21:30] QuietMisdreavus commented on #56727
That PR is now live: https://github.com/rust-lang/rust/pull/56793

[2018-12-13 21:50] frehberg opened #56794 "mem::size_of::<T> not const - use of type variable from outer function"
The following CDR-serde implementation defines functions to serialize data-types such as u16, u32 etc. It is using an abstract function to align write-position, to match with multiple of mem::size_of<T>(), where T is a primitive int or float type.

As the bytesize is known at compile time, I would like to declare the value as const, using the following patch ://github.com/frehberg/cdr-rs/pull/1

[

[2018-12-13 21:59] matthewjasper opened #56797 "Matching on an enum should read the entire enum"
Enum layout optimizations mean that the discriminant of an enum may not be stored in a tag disjoint from the rest of the fields of the enum. Run this example with MIRI to see this is a problem. https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=09a3236685a06b6096e2e2e3968b852c.

This is fixed by #56790, but this issue is being raised for tracking any backports.

cc @nikomatsak

[2018-12-13 22:06] nikomatsakis commented on #56288
@arielb1 are you interested in doing that fix?

[2018-12-13 22:11] cramertj commented on #54912
Wouldn't that defeat the purpose of explicit promotion?

[2018-12-13 22:46] johnthagen commented on #54981
That's the only thing I've heard of. [The Cargo reference](https://doc.rust-lang.org/cargo/reference/manifest.html#the-profile-sections) just says:

[2018-12-13 23:14] jimmycuadra commented on #53443
Just encountered an ICE and searching led me here. Is this just another instance of the same bug or should I report it separately?

Run `cargo test` on [rustin@a100f20](https://github.com/rustinio/rustin/tree/a100f20dc0f5621fe8174758b5ed4312f9ed4d1d) using nightly rustc and you get:

[code]

[2018-12-13 23:18] Centril commented on #54912
With respect to a) the intention of `const _: T = { ... };` being unclear I agree with that *in isolation*. However, in the context of being wrapped in a macro such as `const_assert! { ... }` or inside a derive macro it feels rather clear what the purpose of this construct is.

My main worry is instead b) and c). That is, would we permit this?

[code]
(this would be the natural extension of `const

[2018-12-13 23:21] xfix commented on #56794
I would say that E0401 explains it fairly well, in the first sentence.

And E0401 further explains it.

`const` is an item, so it cannot use a type parameter. As you don't require `const` in this example, you may want to use `let` instead.

[2018-12-13 23:55] Centril commented on #53500
@SimonSapin How do you feel about stabilizing this?

[2018-12-14 00:18] marcusklaas commented on #23286
The current output looks pretty great. Explains what the error is, where it's coming from and how to fix it.

[2018-12-14 00:45] kprotty opened #56798 "u128 atomic compare_and_set (cxchg) emits linker error"
On Rust 1.32.0 nightly for both x86_64-pc-linux-gnu & x86_64-pc-windows-gnu. `undefined reference to '__sync_val_compare_and_swap_16'` while also failing to link to libatomic if provided. Example: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9aeb9e2d8ce7e5b2cac9cdeaadd03ee2

[2018-12-14 01:08] frehberg commented on #56794
Sorry, but E0401 does fit, as there is no such scoping or inner/outer present

[2018-12-14 02:35] AuroransSolis opened #56799 "libcore panic on ridiculous compilation"
I had a friend try to compile my solution for Advent of Code day 2 with 100k inputs instead of the 250 given in the puzzle, since I was unable to compile it myself. Because it ate up so much memory. He ended up allowing an external 2TB HDD to be a swap disk to compile it (on a Lenovo IdeaPad Yoga 11S), and it took eight days before it spat out this error (with said friend's name replaced with `use

[2018-12-14 02:48] saethlin opened #56800 "type validation failed: encountered NULL reference at [2].0"
Minimized as best I could:
[code]
With `rustc 1.32.0-nightly (f4a421ee3 2018-12-13)`
Full error:
[code]

[2018-12-14 03:15] CryZe commented on #56660
There was brief support for them when the unknown target used binaryen as the linker, but with the switch to LLD the support was lost. However as far as I know the long term goal is to have proper debuginfo support (via a web version of DWARF) for WebAssembly. I'm pretty sure source maps were just a short term solution.

[2018-12-14 03:25] win-t opened #56801 "ASK: type aliasing for returning `impl Trait`"
Hi, let's say I have
[code]
then I tried to write like this
[code]
or this
[code]
but none of them works,

Is this possible?, so we dont need to retype everyting for every return type of `fn`

[2018-12-14 04:02] TimDiekmann commented on #56667
Yay, new nightly!

[2018-12-14 04:17] Knium commented on #54807
Is someone working on this issue? I'm a first timer but want to try.

[2018-12-14 04:43] kennytm commented on #56667
Closing since nightly is back. Thanks everyone for patience.

[2018-12-14 04:43] #56667 closed

[2018-12-14 04:53] crlf0710 commented on #56801
Well, github issues are not for questions. Ask in reddit or internals/users forum instead.

For this specific question, there's upcoming feature for this:
[code]

[2018-12-14 05:03] win-t commented on #56801
Ah, sorry I didn't make myself clear.
This is actualy a feature request, but I expressed it as a question, haha.

Can you link to issue about that upcoming feature,
so we can close this issue as duplicate

[2018-12-14 05:10] crlf0710 commented on #56801
#41517

[2018-12-14 05:18] #56801 closed

[2018-12-14 05:46] Gankro opened #56804 "Is this on purpose? -- Conflicting Impl Check"
This was stumbled across while trying to hack around the conflicting trait implementation checker. I can intuit why it's sound, but it was surprising to me that the compiler was this "smart". I wanted to put this up to make sure we intend things to work this way.

So here's a program that is desired to work:

[code]

But the borrow implementation is rejected as conflicting:

[code]

The issue rais

[2018-12-14 07:07] sunchao opened #56806 "Receiver when Self = () should have a Scalar ABI, found ScalarPair ..."
I was trying this code:
[code]

I know, this doesn't make much sense, but I was expecting a proper error message. Instead, I got:
[code]

[2018-12-14 07:44] RalfJung commented on #54912
`const` *expressions* would be allowed in function bodies, just `const` *items* would not.

[2018-12-14 08:00] glandium opened #56807 "libcompiler_builtins and libprofiler_builtins for aarch64-pc-windows-msvc contain x86 objects"
I was trying to look at the code generated by nightly rust for arm64 windows, which turned up to not be supported by my binutils, but in the middle of the otherwise empty `objdump -d` output, I got the surprise to see x86 assembly. As it turns out, several object files embedded in libcompiler_builtins and libprofiler_builtins (but not all of them) are pe-i386 objects.

[code]

Cc: @froydnj, @alexc

[2018-12-14 08:44] lcnr commented on #34447
Should we add `sort_unstable_by_cached_key` as well?

[2018-12-14 08:49] scottmcm commented on #34447
@lcnr `sort_unstable` is in libcore because it doesn't use additional memory, but `_by_cached_key` needs additional memory, so if you need cached keys you're probably fine with stable `sort`.

[2018-12-14 09:04] DoumanAsh commented on #54912
I believe it is pretty clear to user as we can use `let VAR = { ... }`

[2018-12-14 09:08] omni-viral commented on #56804
My guess is that rustc can just figure that `Foo<T> != T`

[2018-12-14 09:58] oli-obk commented on #54912
I don't think that's a useful interpretation. There's absolutely nothing this `const` block could promise us. It's just regular code.

I agree with everything else. We should just allow constants with patterns and generic constants. We already support them inconveniently by defining a const function without arguments.

[2018-12-14 10:09] GuillaumeGomez commented on #56720
Just backporting the linked PR should be enough.

@QuietMisdreavus: I'll let you handle this part I guess. ;)

[2018-12-14 10:37] varkor commented on #34447
In addition, the stability of the current `sort_by_cached_key` is a side-effect of the implementation. It's unclear to me how you would implement an unstable version that had any benefits over the stable version.

[2018-12-14 11:08] pnkfelix commented on #56715
This seems likely.

I wasn't aware it was meant to be a temporary hack. I'll go see if I can find record of discussion of that matter.

[2018-12-14 11:32] gnzlbg commented on #56736
IIUC the _intent_ was for `rustc` to always depend on `jemalloc` by default, since that was the status-quo before that change, but to allow people to build it without `jemalloc`, e.g., if they want to use it in a system where `jemalloc` is not available.  It might be that this did not fully materialize.

[2018-12-14 11:37] pnkfelix commented on #56736
Yes, I too thought that was the *intent*. But...:

https://github.com/rust-lang/rust/blob/f4b07e0713b2d82417968db08cd0575734cdac0d/config.toml.example#L399-L401

----

It could very well be that *I* am wrong about my expectations, and that if one wants to replicate the CI build product, one should take care to actually run `configure` with args taken from e.g.:

https://github.com/rust-lang/rust/b

[2018-12-14 11:43] pnkfelix commented on #56736
I'm just going to open a separate issue about this discrepancy between the CI vs local builds, rather than continuing to clutter up this issue's comment thread. Sorry for the noise!

[2018-12-14 11:57] hsivonen commented on #26179
I'm not claiming that `likely()`/`unlikely()` would address those use cases. I'm saying that `likely()`/`unlikely()` would work for plain `if` and right now the search for perfection means we don't get to have prediction hints for plain `if`, either.

Since plain `if`conditions are evaluated as if the conditions were evaluated in order, the above should be:

[code]

OTOH, what does the following m

[2018-12-14 11:58] faern commented on #55940
This has now been extended so the feature covers both `checked_add` and `checked_sub` on both `Instant` and `SystemTime`. Together with the fact that `Duration` already have these, it's now possible to handle all time types without risking panics on nightly (whenever the next nightly comes out).

[2018-12-14 12:05] pnkfelix opened #56812 "Why is jemalloc linked to rustc by default *only* via CI?"
Spawned off of https://github.com/rust-lang/rust/issues/56736#issuecomment-447297698

Executive summary: I want the out of the box experience for a locally-built `rustc` (assuming one has optimizations on and debug off) to be as close as possible to what you get from the CI-built distribution of `rustc`.

With respect to jemalloc, the above goals means we should either: 1. turn `rustc.jemalloc` on

[2018-12-14 12:10] pnkfelix commented on #56812
cc @alexcrichton , who I suspect can provide much enlightenment about the engineering concerns here (in terms of whether `rustc.jemalloc` in fact *is* a no-op on platforms other than Linux+Mac, and also on what they see as the best path forward to maximize parity between CI and local builds).

[2018-12-14 12:33] nikic commented on #56812
My 2c is that the current defaults are reasonable. On CI we want to produce the fastest binaries we can (within our time budget). That means doing stuff like enabling jemalloc, using one codegen unit where possible, building with cross-language lto, etc.

On the other hand, for a local build you can trade of performance of the final artifact for other factors, such as build time, number of require

[2018-12-14 12:44] gnzlbg commented on #56812
One solution could be to make the `jemalloc` config toggle an "on/off" toggle, and to encode [here](https://github.com/rust-lang/rust/pull/55238/files#diff-6710e3160b86e8cc371d2ff58ae1061cR534) what to do if the toggle is not present in the configuration.

When developing chances are that one is using a custom configuration file anyways, toggling jemalloc off should be possible there.

---

`valgr

[2018-12-14 12:47] pnkfelix commented on #56812
@gnzlbg and @pnkfelix had a brief discussion of this on [zulip](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/subject/.2356812.20-.20why.20is.20jemalloc.20linked.20to.20rustc.20only.20via.20CI.3F/near/151772359)

I would not be opposed to making `rustc.jemalloc` effectively a ternary value (which is analogous to what @gnzlbg suggests: `Present(true)`, `Present(false)`, and `Abse

[2018-12-14 12:52] pnkfelix commented on #55757
Linux didn't have any analogous issues here. And I think PR #56772 will (eventually) go through. So I'm closing this.

[2018-12-14 12:52] #55757 closed

[2018-12-14 12:59] bombless commented on #56387
Cannot reproduce from 1.31 [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f674c966a937d3c37ca2835f203a2fb3)

[2018-12-14 12:59] pnkfelix commented on #53823
Also, there are some pretty interesting discussions among LLVM developers about when they turn cmov *into* branches. It sounds there are a number of scenarios where this exhibits better performance due to the processors branch prediction or something.
 * https://reviews.llvm.org/D34769
 * https://bugs.llvm.org/show_bug.cgi?id=33954
 * https://reviews.llvm.org/D36081

[2018-12-14 13:12] pnkfelix commented on #53823
In particular, in the LLVM developer discussions linked above, I saw mention of the following flag: `-x86-cmov-converter=false`

I gave that a whirl, and the results seem promising:

<details>

[code]

[2018-12-14 13:17] pnkfelix commented on #53823
To be clear: I am not suggesting that we should turn the `x86-cmov-converter` pass off by default in `rustc`. But 1. we should check whether the improved version from https://reviews.llvm.org/D36081 is in our LLVM (and if not, consider cherry-picking it over), and 2. if we can reproduce this issue on the current LLVM version, then we should file an issue with them upstream.

[2018-12-14 13:35] lcnr commented on #34447
@varkor I would add an unstable version that currently has no benefit over the stable version for the sake of completeness/to express intent. If someone does not need the stability of sort, he could use `sort_unstable` instead, even if the function is implemented like this:

[code]

In case we are able to think of a slightly faster unstable version in the far distant future, there would be no need

[2018-12-14 13:52] japaric opened #56814 "regression/thumb: memcmp is missing from compiler-builtins"
### STR

[code]

[code]

[code]

### Meta

[code]

---

It seems that all the unmangled mem* symbols are gone in newer nightlies.

[code]

I think it's fine to remove memcpy, memmove and memset because llvm uses the aeabi counterparts but memcmp is required.

cc @alexcrichton

[2018-12-14 13:53] tstorch commented on #56560
@estebank when building with nightly, it work like a charm

[2018-12-14 13:53] nikic commented on #53823
I think the issue here might be that cmov conversion does not realize that it will not be possible to sink the cmovd chain into the created branches, because the condition also depends on them.

[2018-12-14 14:03] pietroalbini opened #56815 "Windows Defender SmartScreen triggering on rustup-init.exe downloaded from the website"
[Reported on Reddit](https://www.reddit.com/r/rust/comments/a60wfw/windows_defender_smartscreen_triggering_on/). Quickly looking at the issue seems like the website makes you install the 32bit version instead of the 64bit one, and the 32bit one triggers Windows Defender.

cc @rust-lang/infra @ashleygwilliams

[2018-12-14 14:10] jens1o commented on #55528
Is there something to do to get this triaged?

[2018-12-14 14:12] jonhoo commented on #34511
@Nemo157 Ah, sorry, what I meant is that currently you _must_ have bounds there. That is, this won't compile:
[code]
whereas this will:
[code]

[2018-12-14 14:21] jonhoo commented on #53443
I'm running into this with [`noria`](https://github.com/mit-pdos/noria/tree/rpc-rewrite) too. Curiously, I see this when I run tests, presumably because the crate-under-test essentially operates as an "external" crate?

[2018-12-14 14:37] SimonSapin commented on #53500
Let’s.

@rfcbot fcp merge

[2018-12-14 14:40] jonhoo commented on #34511
@Nemo157 yeah, I only realized because I tried literally the code you suggested above, and it didn't work :p I sort of assumed that it would infer the bounds from the trait. For example:
[code]
It seemed reasonable to not have to specify `Future<Output = u32>` a second time, but that doesn't work. I assume that ` existential type Assoc: ;` (which also seems like super weird syntax) won't do that i

[2018-12-14 15:21] arielb1 commented on #56288
Sure.

[2018-12-14 15:37] alexcrichton commented on #56812
Oh sorry for the confusion here!

My intention with the jemalloc switcheroo was to turn it off by default in as many locations as possible, as having it on-by-default has just been an unending headache for us. Turning `rust.jemalloc` on by default as-is would probably break a whole bunch of platforms one way or another, and we'd likely have to encode all sorts of logic to "get it working on all pl

[2018-12-14 15:48] fabric-and-ink opened #56821 "Unhelpful error message for missing `crate` in uses import"
This problem occurs with the new path rules in edition 2018. If the `crate` keyword from a uses import is missing, the current error message is not very helpful. [For example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5fdfbecf7b9683a6a652fe918a21b651):

[code]

returns on stable, beta and nightly the following error message:

[code]
The compiler looks for a crate `bla

[2018-12-14 15:51] SimonSapin opened #56822 "ICE "unresolved inference variable in outlives""
Documenting Servo with rustc 1.32.0-nightly (f4a421ee3 2018-12-13) gives the error below. Compiling the same crate works.

[code]

https://tools.taskcluster.net/groups/WPxk_v22QWeMYOGGDJbBIA/tasks/HSLf3bjIR8u7qj3mkKtYaQ/runs/0/logs/public%2Flogs%2Flive.log

[2018-12-14 15:59] petrochenkov commented on #56821
It's likely that "uniform paths" will be stabilized for Rust 1.32 (https://github.com/rust-lang/rust/issues/56417), in that case the code will simply become accepted on stable, obviating the need in extra diagnostics.

[2018-12-14 16:11] adriamb opened #56823 "u32::checked_shl is not checking for overflows"
Hi,
I'm been doing some tests and it seems that the `checked_shl` is not working properly in `u32`, so the output of the program

[code]
is
[code]
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f22daa97aa101d87131b66a527efacc3

[2018-12-14 16:15] #56510 closed

[2018-12-14 16:15] jonas-schievink commented on #56823
This is what it's supposed to do - it will only return `None` if you try to shift by more than the number of bits in a `u32`.

[2018-12-14 16:47] ColonelThirtyTwo commented on #56387
Yeah looks like its fixed in 1.31

[2018-12-14 16:47] #56387 closed

[2018-12-14 16:54] arielb1 commented on #56503
No warning period needed because this is a nightly feature? I think I'll E-mentor this.

[2018-12-14 16:55] alexcrichton commented on #56814
Sorry for the breakage! I think I've found the issue (almost fure sure a regression from https://github.com/rust-lang/rust/pull/56092), and am testing out a fix locally

[2018-12-14 16:57] fabric-and-ink commented on #56821
Ok. Then I leave this issue open, until the final word is spoken about "uniform paths".

[2018-12-14 17:06] alexcrichton commented on #56814
Ok should be fixed in https://github.com/rust-lang/rust/pull/56825!

[2018-12-14 17:51] nikic commented on #53823
I've filed an LLVM issue: https://bugs.llvm.org/show_bug.cgi?id=40027

[2018-12-14 17:55] estebank commented on #56560
Great to hear!

[2018-12-14 17:55] #56560 closed

[2018-12-14 17:58] estebank commented on #56823
If you change `7` for `33` you will get a panic due to the `unwrap`. This is indeed [working as expected](https://doc.rust-lang.org/std/primitive.u32.html#method.checked_shl).

[2018-12-14 17:58] #56823 closed

[2018-12-14 18:31] retep998 commented on #56510
So now that the change has been implemented, have we actually investigated how much of an impact the change made?

[2018-12-14 18:34] jonhoo commented on #53090
@varkor I ran into what I believe is the same issue over in https://github.com/rust-lang/rust/issues/34511:
[code]
The above doesn't compile. You need to write (note the `: ;`)
[code]

[2018-12-14 18:36] #56659 closed

[2018-12-14 18:36] #56585 closed

[2018-12-14 18:36] #56734 closed

[2018-12-14 18:36] #56730 closed

[2018-12-14 19:31] kballard commented on #50009
This issue is the biggest annoyance I have when using RLS to write Rust code in VSCode, as it causes the entire function to get highlighted as an error, which is very unhelpful. I've started having to adopt a style where I put a dummy statement at the end of the function before writing anything else just to suppress the error while I write the rest of the function, but it's rather annoying to deal

[2018-12-14 19:57] papertigers commented on #55553
@nagisa what's the best way for illumos rustc/cargo builds to make their way into rustup?
Someone mentioned we would need a Dockerfile in `rust/src/ci/docker/` that is capable of cross compiling.  Is that the correct way forward?  If so, we may need to look into the illumos triple sooner. Regardless it would be nice to be able to support rustup in addition to installing via pkgsrc on illumos based

[2018-12-14 20:30] QuietMisdreavus commented on #56822
I'm going to hazard a guess that the "unrecognized option" message is unrelated to the actual error. We get messages in travis about `markdown-css` as well.

The fact that this is an uncaught error makes it harder to see where it came from, though... Is it possible to run this with `RUSTDOCFLAGS="-Z treat-err-as-bug"` so we can catch it as it happens?

[2018-12-14 20:35] adriamb commented on #56823
Ok! Thanks for your quick answer!

The current documentation says:

Shifts a number to the left, checking for overflow. If overflow happens, None is returned.

maybe is better if it says

Shifts a number to the left, checking if the parameter overflows the current type size. If overflow happens, None is returned.

If not, is easy to think that this operation checks the final value, when what has b

[2018-12-14 20:40] SimonSapin commented on #56822
Sure.

[code]

[2018-12-14 20:46] QuietMisdreavus commented on #56822
Aha, this is a problem with synthetic impls again. cc @Aaron1011 @nikomatsakis

Sadly, the PR which triggered this is mainly an upgrade from `nightly-2018-10-05` to `nightly-2018-12-14` and related code changes to bring Servo in line, so i'm not totally sure what is specifically raising this error. :confused:

[2018-12-14 20:53] SimonSapin commented on #56822
Here is the rustdoc command as printed by cargo.

`rustdoc-with-private` is `rustdoc -Z "unstable-options" --cap-lints warn --document-private-items "$@"`

[code]

[2018-12-14 20:59] estebank commented on #56823
What documentation are you referring to? I see:

[2018-12-14 21:30] QuietMisdreavus commented on #56822
Based on trying it myself, i think the type at fault is [`PathParser` here](https://github.com/servo/servo/blob/2aa2aa3e0f174008075eac1c420687779d772fe1/components/style/values/specified/svg_path.rs#L567-L570) - at least that's the last one i get logs from before it bails.

[2018-12-14 21:32] mqudsi commented on #56815
It's not an issue with 32-bit vs 64-bit, it just so happens that the two are flagged differently.

Windows SmartScreen is a pretty nice solution to code signing problems, basically it uses the tuple `(code_signing_certificate?, hash_of_download)` to determine whether a download is flagged. If the binary in question (as identified by the hash) has been downloaded/scanned without actual malware dete

[2018-12-14 21:36] #53118 closed

[2018-12-14 21:37] rodrigorc opened #56828 "try_block cannot be used everywhere an expression can"
The following code fails to compile (`rustc --edition=2018`):
[code]

The compiler error is:
[code]
Adding parentheses or braces, it will compile fine:
[code]
The same issue happens with other constructs such as:
[code]

[2018-12-14 21:37] mqudsi commented on #29722
I am closing out #53118 in favor of this issue and copying the PR here for the record. Note that this is from August, but a brief look seems to indicate the situation hasn't changed:

---
The [section on inline assembly](https://doc.rust-lang.org/unstable-book/language-features/asm.html) needs an overhaul; in its present state it implies that the behavior and syntax is tied to `rustc` and the rust

[2018-12-14 21:43] QuietMisdreavus commented on #56822
If you want to try this yourself with a local rustdoc, i was able to clone Servo, check out the `rustup` branch, and run the following command to reproduce:

May help in the absence of a reduced test case.

[2018-12-14 21:56] nvzqz commented on #56750
I noticed the warning for `Value` not being constructed but in my reasoning, it actually is when returned from `mem::zeroed()` and then immediately deconstructed in the pattern. I know that's a very implicit way of viewing it. I still think that code like this that's correct shouldn't emit warnings despite the warning being generated in `unsafe` code.

Thanks for taking my real-world case in that

[2018-12-14 22:02] nagisa opened #56829 "For *-apple-ios targets, if license agreement is not agreed to (yet), better behaviour is necessary"
Currently if one attempts to use `*-apple-ios` targets right after XCode is installed, it will appear that the target does not exist. This happens because `xcrun` says something about license, sudo and whatnot.

We should have a better behaviour here.

![bad behaviour](https://user-images.githubusercontent.com/679122/50029796-b054f780-fffc-11e8-90fa-805a16dd9bef.png)

[2018-12-14 22:02] nagisa commented on #56829
cc https://github.com/rust-lang/rust/issues/55029

[2018-12-14 22:17] nagisa commented on #55477
Linking still does not work.

<details>
<summary>armv7-apple-ios</summary>

[code]

</details>
<details>
<summary>aarch64-apple-ios</summary>

[code]

</details>

<details>
<summary>i386-apple-ios</summary>

[code]

[2018-12-14 22:19] ExpHP commented on #56768
I do not understand the cause for concern.  Look at the first two lines of that snippet:

[code]

I struggle to picture any form of scenario in which these two clearly contradictory attributes could get added to a crate, go unnoticed, *and cause trouble.*  The feature attribute must be at the root of the crate. The worst you could do is to put the forbid in a submodule so that they're in different

[2018-12-14 22:33] baerbock opened #56831 "LLVM 8.0"
Is there already a LLVM 8 tracking issue? Like https://github.com/rust-lang/rust/issues/50543

Currently Rust doesn't like that
`error: couldn't load codegen backend "/usr/lib64/rustlib/x86_64-unknown-linux-gnu/codegen-backends/librustc_codegen_llvm-llvm.so": "libLLVM-7.so: cannot open shared object file: No such file or directory"`

[2018-12-14 22:35] adriamb commented on #56823
In the first Google result that is in https://docs.diesel.rs/num_traits/ops/checked/trait.CheckedShl.html

Now I see that this is an already resolved issue
https://github.com/rust-num/num-traits/issues/57...

Lesson leart, always check last version (I checked with other guy before reporting and we didn't think that the description could be wrong in this way...)

[2018-12-14 22:57] arielb1 opened #56834 "Surprising error note "this delimiter might not be properly closed""
## STR

[code]

## Expected Result

An error message pointing  to `foo`

## Actual Result

[code]

The heuristic feels incorrect to me - the delimiter on `S` looks perfectly well-closed.

[2018-12-14 22:57] petertodd opened #56835 "ICE: impossible struct constructor"
Example:

[code]

Backtrace:

[code]

[2018-12-14 23:33] arielb1 commented on #56804
The requirement that types be finite in length - the [occurs check] - is a standard rule of [Hindley-Milner-style type systems] that is built pretty deeply into all such type inference engines. That e.g. allows the compiler to conclude that `Foo<$0> != $0`.

See e.g. this code:
[code]

However, Rust's requirement that types have a finite *size* is not that deep (it *might* be as a requirement that

[2018-12-14 23:38] arielb1 commented on #56804
If you had a `where Self: Sized` bound somewhere, the compiler might be able to see that in order for `Self: Sized`, then `Self::Metadata: Sized` must hold too, which given that we know `Self : SuperBackend<Metadata = Self>`, is just `Self : Sized` - an infinite loop. This might lead to coherence succeeding.

However:
1. The current trait-solver is not quite that smart to handle this case and woul

[2018-12-14 23:45] arielb1 commented on #56804
So to sum up:
1. This is completely intentional.
2. A future version of rustc *might theoretically* have the first example working, especially if you add a `where Self: Sized` bound to the impl.

[2018-12-14 23:52] goffrie commented on #56797
err... maybe I'm missing something, but doesn't the linked code sample already get rejected by NLL?

[2018-12-15 00:03] arielb1 commented on #56834
One way to improve the heuristic would be to not treat delimiters where the closing delimiter is more indented than the opening delimiter as suspicious. Are there any false negatives that this causes?

[2018-12-15 00:06] arielb1 commented on #56834
cc @estebank - this lint was introduced in #53949 & #54092.

[2018-12-15 00:37] mqudsi commented on #56831
You're misunderstanding the error. #50543 was about upgrading rust internally to use llvm 8, for various reasons. The rust you're using was built against llvm7, and you don't have it installed.

[2018-12-15 00:45] baerbock commented on #56831
@mqudsi Do I need Rust to compile Rust?

[2018-12-15 01:18] Aaron1011 commented on #56822
Minimized reproduction:

[code]

[2018-12-15 02:01] mqudsi commented on #56831
Yes. Another option: https://www.gnu.org/software/guix/blog/2018/bootstrapping-rust/

[2018-12-15 02:31] johnthagen commented on #54981
@vi Looks like the latest `nightly` (`rustc 1.32.0-nightly (f4a421ee3 2018-12-13)`) might have broken this example / Xargo?

https://travis-ci.org/johnthagen/min-sized-rust/jobs/467982878#L498

[2018-12-15 02:33] scottjmaddox commented on #33417
Is there a case where `From<U> for T` cannot be implemented, but `Into<T> for U` and `TryFrom<U> for T` can be?

[2018-12-15 02:35] Centril commented on #56828
cc @scottmcm

[2018-12-15 02:41] johnthagen commented on #47745
I've always thought that there should be another [Cargo profile](https://doc.rust-lang.org/cargo/reference/manifest.html#the-profile-sections), something like:

[code]

Because I feel like there should be a distinction between release builds the developer compiles on their local machine during development (not debug builds, but "fast" release builds) and truly publishable builds (like, for example

[2018-12-15 02:51] Centril commented on #56800
cc @pnkfelix @RalfJung @nikomatsakis

[2018-12-15 03:02] Centril commented on #56768
@ExpHP

Ehhehehe... well; https://rocket.rs/ had relied on internal details of the compiler for quite some time ;)

[2018-12-15 03:03] Centril commented on #50547
@Nemo157 As `await!` isn't expected to be stabilized it's not a blocker anyways.

[2018-12-15 03:08] Centril commented on #56715
@pnkfelix You might want to take a look here: https://github.com/rust-lang/rfcs/pull/2522.

[2018-12-15 03:30] Centril commented on #56828
Yeah I think `match loop { ... } {` is the better comparison here so it's probably a bug.

[2018-12-15 03:44] scottmcm commented on #56686
Ooh, I like this -- `VecDeque` is a circular buffer internally, so it should be doable with just a single `ptr::copy`.

[2018-12-15 04:11] Gankro commented on #56804
Makes sense, thanks!

[2018-12-15 04:11] #56804 closed

[2018-12-15 04:35] alexreg commented on #56835
Already fixed in https://github.com/rust-lang/rust/pull/56225, I'm glad to say. I've gone and added a regression test for this issue however. It's due to be r+'ed soon, with any luck.

[2018-12-15 06:09] aloucks opened #56839 "MSVC link errors with __imp_ symbols"
Symbols starting with `__imp_` are failing to link on the latest nightly.

Cargo.toml:

[code]

src/main.rs:

[code]

nightly-2018-12-14-x86_64-pc-windows-msvc  <-- **works**
nightly-2018-12-15-x86_64-pc-windows-msvc  <-- **link errors**

[code]

~~Maybe related: #56807~~

[2018-12-15 09:56] Aaron1011 commented on #56296
In an unexpected turn of events, https://github.com/rust-lang/rust/pull/56838 appears to also resolve this issue!

[2018-12-15 09:59] Aaron1011 commented on #44663
I'd like to work on this.

[2018-12-15 10:03] nikic commented on #56839
Probably due to #56568. At least the first symbol is part of DragQueryFileW.

Possibly glfw (or whatever is using those) may need to explicitly declare this dependency now that it's no longer implicitly provided.

[2018-12-15 10:06] nikic commented on #56839
cc @notriddle @alexcrichton

[2018-12-15 10:14] matthewjasper commented on #56797
Yes, the example has been corrected now.

[2018-12-15 10:17] nagisa commented on #55477
This may or may not be fixed after https://github.com/rust-lang/rust/pull/56833.

[2018-12-15 10:31] rodrigorc commented on #56828
This is exactly what a thought. I didn't know that this:

was not allowed, so in my head the parentheses were always redundant. Is there any reason for why we need parentheses around a struct literal? A parser ambiguity, maybe? Because I would expect that to work, too.

[2018-12-15 10:32] james-darkfox commented on #56768
@oli-obk Thanks. I don't currently have (nor want) a rustc-etc build environment. I don't have a priority for this, but if it isn't resolved when I build the per-crate unsafe whitelist tool, then I'll reconsider the storage and CPU time for the rustc build env.

[2018-12-15 11:00] HadrienG2 commented on #47745
I thing "publish" is semantically uncomfortably small to "release". But I could get behind a "debug/optimize/release" terminology proposal.

[2018-12-15 11:03] vi commented on #54981
@johnthagen , Indeed: https://github.com/rust-lang/rust/pull/56092

[2018-12-15 11:12] nikic commented on #44500
I've submitted https://reviews.llvm.org/D55735 to fix this, conditional on us switching to use saturating add intrinsics (#55286).

[2018-12-15 11:19] nikic commented on #56009
https://reviews.llvm.org/D55563 should be the last piece to handle the case encountered here.

I've also tested locally, and the last LLVM upgrade didn't change anything here wrt vectorization. Locally I can only reproduce a 20% rather than 2x difference, probably my CPU is too old.

[2018-12-15 11:30] nikic commented on #55317
Commit range: https://github.com/rust-lang/rust/compare/5af0bb830...77af31408

Not seeing anything obvious in there. #54592 looks the most relevant, but I don't really see how that one would *hurt* performance.

[2018-12-15 11:31] #53990 closed

[2018-12-15 12:06] RalfJung commented on #56800
Cc @oli-obk

[2018-12-15 12:07] RalfJung commented on #56800
Even more minimal example:
[code]

[2018-12-15 12:14] nikic commented on #55413
Not seeing any relevant differences in the assembly output between 1.29.0 and 1.30.0: https://godbolt.org/z/B1PJwc

[2018-12-15 13:46] #56745 closed

[2018-12-15 13:46] #35677 closed

[2018-12-15 14:05] pietroalbini opened #56848 "The toolstate script is not tested inside CI"
At the moment we don't test that `publish_toolstate.py` works on CI. This means if a PR (like https://github.com/rust-lang/rust/pull/56758) makes a change that breaks the script we don't notice until [it breaks master](https://travis-ci.org/rust-lang/rust/builds/468399601).

We should at least check if the script's syntax is correct on CI, and ideally do a dry run.

cc @rust-lang/infra

[2018-12-15 14:08] pedrocr commented on #55413
Strange, the slowdown seems easy to reproduce and consistent. This one has clear godbolt differences and is a much bigger regression if you want to look at that instead:

https://github.com/rust-lang/rust/issues/53340

[2018-12-15 14:47] nagisa commented on #55029
Duplicate of #36156

[2018-12-15 14:48] #55029 closed

[2018-12-15 14:49] konstin opened #56849 "Latest nightly crashes on centos 5"
This can be reproduced in a centos 5 docker container, such as the one provided by python's pypa:

[code]

[code]

The last command produces the following error:

[code]

Versions:

`cat /etc/redhat-release`: `CentOS release 5.11 (Final)`
`cargo -V`: `cargo 1.33.0-nightly (2cf1f5dda 2018-12-11)`
`rustc -V`: `rustc 1.33.0-nightly (96d1334e5 2018-12-14)`
`rustc -vV`: _crashes with the same output as

[2018-12-15 16:03] petertodd commented on #56763
Nit: `lhs.capacity() <= rhs.capacity()` should be fine. :)

Though I could imagine this causing problems in conjunction with `Vec::from_raw_parts()` in unusual cases where the code had done something special with the allocation of the lhs.

[2018-12-15 16:12] nikic commented on #43024
@Mark-Simulacrum A variant of that patch was implemented via https://github.com/llvm-mirror/llvm/commit/1886c8e29a9992d73c5e6ba0d52eb98ee036ab5d in 2016, so we should definitely have it in all LLVM versions we support and can drop that workaround.

However, I don't think this is really related to the issue seen here -- LLVM just doesn't recognize this particular pattern (probably because it would

[2018-12-15 16:20] nikic commented on #43024
Yeah, looks like the macro just isn't doing what it's intended to do: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=33539371298f2c808a22ba3cf40db567

[2018-12-15 16:34] bjorn3 opened #56854 "Rustc tries to emit Linkage::External + Visibility::Hidden symbols"
This doesn't seem to make sense, because external is not hidden right?

http://llvm.org/docs/LangRef.html#linkage-types:

http://llvm.org/docs/LangRef.html#visibility-styles:

[2018-12-15 16:35] pedrocr commented on #55413
The bad news is that the same regression seems to continue to be visible somehow:

[code]

The good news is that I apparently screwed up minimizing the test case. I had wondered why I couldn't reproduce the 17% regression but assumed it was still exercising the problem. As it turns out 1.31 fixed the regression and yet this test case is still showing the same 3-4%. Here's the run for 1.31:

http:/

[2018-12-15 16:35] #55413 closed

[2018-12-15 16:37] pedrocr commented on #53340
The regression is still present in 1.31 and all the way to current nightly:

[code]

The same ~40% regression seen in the minimal test case is also seen in the full benchmark:

http://chimper.org/rawloader-rustc-benchmarks/version-1.31.0.html
(see the bottom of the page)

[2018-12-15 18:04] alexcrichton commented on #56839
Indeed all those symbols are in shell32.dll which was removed from the standard library in the PR @nikic mentioned.

@aloucks the "best" fix here would be for the glfw crate to link to shell32 itself, but do you know if it's possible to get a point release doing that? If it's difficult we could re-add it to libstd for the time being.

[2018-12-15 18:40] infinity0 commented on #53081
Our `const-size_of-cycle` test also [fails](https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=amd64&ver=1.31.0%2Bdfsg1-1%7Eexp1&stamp=1544860609&raw=0) but [passes in Fedora](https://kojipkgs.fedoraproject.org//packages/rust/1.31.0/8.fc30/data/logs/x86_64/build.log) with a similar lack-of-error-details.

[code]

[2018-12-15 18:42] infinity0 commented on #53081
related: #54546

[2018-12-15 18:52] infinity0 commented on #53081
Strangely, if I run rust's own upstream binary compiler from [here](https://forge.rust-lang.org/other-installation-methods.html) the output is also missing error details.

[code]

[2018-12-15 19:05] infinity0 commented on #53081
@oli-obk you created `src/test/ui/impl-trait/impl-generic-mismatch.stderr` in 00842d10cd703263833132867d59c85b343eb202, and @davidtwco you created `src/test/ui/compile-fail-migration/const-size_of-cycle.stderr` in b16a30677f4e641329e768272cf9d3ecc2fa31c4, do either of you have any clues about these mismatching error messages?

[2018-12-15 19:11] #56292 closed

[2018-12-15 19:43] tbu- commented on #56471
This can probably get E-easy(?).

[2018-12-15 19:47] arielb1 commented on #42778
Isn't *this* bug fixed by #43159? - i.e., what is the Rust situation on powerpc?

[2018-12-15 19:48] infinity0 opened #56860 "rustc should output a warning when it encounters problems locating cross-crate sources for error messages"
See #53081 - currently it is hard to diagnose what path it is actually looking for.

Problems might include:
- can't find the file
- the file has the wrong hash.

[2018-12-15 19:51] alexcrichton commented on #56849
Some bisection reveals that this is a regression from https://github.com/rust-lang/rust/pull/56051 actually, and I suspect the most likely candidate of that rollup is https://github.com/rust-lang/rust/pull/55952

cc @michaelwoerister

As to why these symbols are just now showing up, I'm not sure...

[2018-12-15 20:01] infinity0 commented on #53486
Would be nice if #56860 was done at the same time as this work.

[2018-12-15 20:43] infinity0 commented on #53081
@michaelwoerister would our usage of `--remap-path-prefix` during the build, be interfering with the tests? If I `ln -s src/libcore libcore` the compilation output now contains the extra error detail, but the test still fails because the paths are different:

[code]

[2018-12-15 21:16] zackmdavis opened #56861 "prelude path should not appear in error messages"
(Split off from discussion on #56188.)

There are a few places where the path `std::prelude::v1` appears in diagnostic messages.

[code]

I argue that this is bad because the point of the prelude is to relieve the ordinary programmer from having to think about where necessities like `Some` and `Vec` live; the module `std::prelude::v1` is an implementation detail that should be mentioned in places

[2018-12-15 21:33] eddyb commented on #56860
cc @michaelwoerister @nikomatsakis

Not finding the file would be far too common IMO (any system-wide Rust installation pretty much defaults to that), but the file being there and not matching the hash is potentially doable.

[2018-12-15 21:45] jon-ryan commented on #34616
I have the same problem as mention above.
My rustc version: 1.30.1
cargo versoin: 1.30.0

I double checked my Cargo.toml
This are my dependencies:
`[dependencies]

rand = "0.6.0"`

cargo does download the crate.

I try to import the rand crate in "main.rs", as described in the tutorial, with `use rand::Rng;`

The error of the compiler is, that it cannot resolve the import. This is the warning:
err

[2018-12-15 21:58] infinity0 commented on #56860
It would be one extra line on top of an already-existing 4-line warning, and can help people realise what's missing. Maybe guard it behind `--verbose` if it's really considered too spammy?

[2018-12-15 22:04] steveklabnik commented on #34616
You need rust 1.31, or to use extern crate.

[2018-12-15 22:08] zackmdavis commented on #54503
It's a little bit sad/awkward that reason comments are most useful in practice for `allow` (rather than `warn`, `deny`, or `forbid`, which authors are more likely to regard as self-explanatory), and yet `allow` is the only case for which the new `reason =` functionality doesn't actually do anything. :crying_cat_face:

(This observation prompted by my thought that we should be able to dogfood `reas

[2018-12-15 22:35] glandium commented on #56807
I don't have a build environment on any windows machine that would be able to build an aarch64 rust at the moment. And I'm not sure exactly how it's being built on your automation, and this might have something to do with that.

[2018-12-15 23:50] #55892 closed

[2018-12-16 00:49] matthiaskrgr opened #56865 "ICE "Encountered a freshend type with id 0 but our counter is only at 0": eclectic 0.11.0"
Found via this crater experiment: https://crater.rust-lang.org/ex/pr-56550
[code]

[code]

[code]

[2018-12-16 00:52] matthiaskrgr commented on #56865
This also crashes beta rustc (but not stable).

[2018-12-16 00:52] comex opened #56866 "unconditional_recursion lint false positive with specialization"
In this example, a `default fn` in a trait impl unconditionally calls the same fn on a different type.  That type is covered by the same impl containing the `default fn`, but it's also covered by a specialized impl that overrides that fn, hence there is not actually infinite recursion.

[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=69a389b0d71c9dee3fa55

[2018-12-16 00:57] japaric commented on #56814
This appears to be fixed in the latest nightly.

[2018-12-16 00:57] #56814 closed

[2018-12-16 01:07] KrishnaSannasi commented on #33417
Yes, for example

[code]
This is due to orphan rules.
`TryFrom` and `From` are the same in terms of the orphan rules, and similarly `TryInto` and `Into` are the same in terms of the orphan rules

[2018-12-16 01:13] sstangl opened #56867 "Nightly: thread '<unnamed>' panicked at 'couldn't compile the test', src/librustdoc/test.rs:326:13"
Our Rocket-based code is failing since this morning (2018-12-15). It's using the Nightly rust Docker image as a base.

The backtrace is available here: https://gitlab.com/openpowerlifting/opl-data/-/jobs/135130101

It seems to be failing in a doctest. The code wasn't changed recently; the change is likely in rustc since yesterday or the day before that.

To reproduce, you should be able to `git cl

[2018-12-16 01:33] 0e4ef622 opened #56868 "Incorrect "unnecessary parentheses" warning for `&(mut n)`"
[code]

[2018-12-16 03:16] idubrov opened #56870 "Internal compiler error (traits & associated consts)"
Internal compiler error happens compiling weird code with traits and associated consts.

I tried this code:

[code]

I expected to see this happen: compiler not to crash

Instead, this happened: compiler crashed with:

[code]

## Meta

Playground nightly: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=59adf803ef87a6d4b1251408811542dd
Playground stable: https://play.rust-l

[2018-12-16 03:39] isegal commented on #41160
C++ does not have an issue when returning large arrays from functions due to copy elision (https://en.cppreference.com/w/cpp/language/copy_elision):
Ex: https://gcc.godbolt.org/z/Ci6jWs

Using  an assignment loop would cause an extra memset in the beginning of the function:
https://gcc.godbolt.org/z/KKRjes

Rust unfortunately has the extra memcpy regardless:
https://gcc.godbolt.org/z/2W3O6_

True

[2018-12-16 03:47] alexcrichton commented on #56849
Ok I've confirmed https://github.com/rust-lang/rust/pull/55952 is the cause of this bug. I don't really know how this is showing up though as none of the symbols which use `GCC_4.3.0` are even referenced from the file:

[code]

None of those symbols are even used from `llc` or LLVM or... anywhere it seems. I have no idea what's putting that into some symbol table that needs to be resolved.

This m

[2018-12-16 04:32] briansmith commented on #54236
FWIW, I tried this out in *ring* and here's my feedback:

* I wish there was a non-panicking version that failed with an error result when the bounds are out of range. I ended up having to duplicate the range checking in my own code.

* It is very important that the implementation be inlined but the implementation doesn't have `#[inline]`. In practice the compiler was always inlining it for me but

[2018-12-16 08:46] hellow554 opened #56871 "nightly doc gives dark theme only"
On the nightly api page (https://doc.rust-lang.org/nightly/std/) you will automatically have the dark theme selected. That is the unexpected thing number 1. The next thing is, that even if you change it to the light theme, it will only work for the current page. As soon as you click on a link to any other page, it will have the dark theme selected again.

[2018-12-16 09:32] bluss commented on #56866
If you switch the specialization to be this:

[code]

then the lint disappears. So isn't the compiler right all the way? It flags your implementation and for all T!=i32 it will unconditionally recurse.

[2018-12-16 09:37] kjetilkjeka commented on #33417
@KrishnaSannasi  your example will compile, just look at this [playground example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=ee77daa1217fdd0b2e63b858d80cb045)

I think the most updated coherence rule is described in [this RFC](https://github.com/rust-lang/rfcs/pull/2451) and both implementation should be allowed.

[2018-12-16 10:22] JohnHeitmann opened #56872 "New rustdoc "Loading content..." feature breaks inbound anchors"
If you visit a doc page on docs from nightly with a url that includes an anchor, e.g. `'.../doc/std/iter/trait.Iterator.html#method.size_hint'`, then the page stops loading due to a js error. The "Loading content..." messages remain forever and no doc content appears.

The js error is:
[code]

[2018-12-16 10:50] hdhoang commented on #33418
Hello! I would like to implement this improvement.

AIUI, we would like to improve the parse error message for negative supertrait bounds, but negative normal bounds on types are OK.

First we add a new parser test as `ui/parser/issue-33418.rs`:

[code]

and for bounds after `+`:

[code]
Then we have some code to emit a custom error when encountering the unexpected `!`:

[code]

Now I have some tr

[2018-12-16 12:06] nagisa commented on #55553
First, a proper target to rustc needs to be added. This is fairly easy to do since a very similar target (for solaris) already exists and can be mostly copied over for the illumos one.

This would allow building code targeting illumos specifically, but would not result in builds available for download via rustup or direct download quite yet.

Given that no C/C++ compilers make a distinction betwee

[2018-12-16 12:07] nagisa commented on #55553
A recent example of what it takes to add a target to rustc can be found [here](https://github.com/rust-lang/rust/pull/56769)

[2018-12-16 12:16] pietroalbini commented on #55553
@rust-lang/infra more than release :)

[2018-12-16 12:19] Centril commented on #56871
cc @GuillaumeGomez @QuietMisdreavus

I have the same experience (Firefox Developer Edition 65.0b2 (64-bit), Windows 10).

[2018-12-16 12:33] pietroalbini commented on #56726
cc @rust-lang/dev-tools, should this be `stable-accepted`?

Also, I'm not too familiar with RLS, what would be the steps to backport the changes to stable?

[2018-12-16 13:46] glandium opened #56877 "PhantomData fields in repr(C) structs change ABI on aarch64"
Take this testcase:
[code]

Compile with:
[code]

And check the output `test.s` file:

[code]

One would expect `foo` and `bar` having the same code, but that's not the case here.

This is the root cause of https://bugzilla.mozilla.org/show_bug.cgi?id=1512519

[2018-12-16 13:51] stjepang commented on #56867
I'm witnessing very similar linking errors in doctests of `crossbeam-channel`:

https://travis-ci.org/crossbeam-rs/crossbeam/jobs/468644578#L1083

[2018-12-16 13:51] Xanewok commented on #56726
For the 2nd point (go to definition) we'd have to merge https://github.com/Xanewok/rust/commit/c3277aff22bb03c35ec500076310c1efdb8f0664 (updates `rls-analysis` to branched version in Rust lockfile and checks out *branched* RLS using the patched `rls-analysis`).
The other approach would be to `[patch]` Cargo.toml to use the patched rls-analysis version and update it in Cargo.toml, although iirc @nr

[2018-12-16 14:08] main-- commented on #29722
A notion of intel vs at&t syntax only exists on x86 (though there may be other cases I'm not aware of). It's unique in that they are two different languages sharing the same set of mnemonics to represent the same set of binary code. The GNU ecosystem has established at&t syntax as the dominating default for the x86 world which is why this is what inline asm defaults to. You are mistaken in that it

[2018-12-16 14:19] nagisa commented on #29722
You can also invoke the `cc` crate from `build.rs` to build plain assembly files, which gives the maximum amount of control. I strongly recommend doing exactly this in case the two "workarounds" above this do not work for your use-case.

[2018-12-16 15:39] kinnison commented on #56296
Cool.  I look forward to being able to test this.  I'm still a little too green with the compiler codebase to try setting up a non-"release" compiler (counting nightly here) for building my personal projects.

[2018-12-16 15:50] japaric opened #56879 "attributes on struct field expressions are lost in TokenStream.to_string"
## Simplified report

I originally thought that nested proc macros were required to hit this bug but it turned out they were not required.

### STR

- crate: macros

[code]

[code]

- crate: foo

[code]

[code]

Note how the attribute on `z: 2` is lost when stringifying the `TokenStream`.

[code]

---

## Original report

attributes on fields are lost in nested proc macros

### STR

- crate: macro

[2018-12-16 16:02] vorner opened #56880 "Inverse drop order in a tuple?"
Hello

I was experimenting with the code from nomicon (in my occasional attempts to bring it more up to date) and discovered something strange. I have this code on playground:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=88b21c3520dead8c751e9818c2f1e001

It compiles (while if I put the tuple in the reverse order, eg `(inspector, days)`, it doesn't and it complains days

[2018-12-16 16:09] vorner commented on #56880
A little update. It seems to be happening only when unpacked by a pattern, so maybe it is not specified by the RFC at all? But this code *is* a bit surprising in how it acts:

https://play.rust-lang.org/?version=stable&mode=release&edition=2018

[2018-12-16 16:11] jonas-schievink commented on #56880
Yeah, this is happening because you're unpacking the tuple into 2 local variables (which are dropped in reverse order). The second example tries to drop the entire tuple, which would drop `tuple.0` before `tuple.1`.

[2018-12-16 16:16] vorner commented on #56880
OK, then it's likely not a bug. But it did scare me a bit 😇. Sorry for the false alarm.

[2018-12-16 16:16] #56880 closed

[2018-12-16 16:18] japaric commented on #56879
Turns out nested proc macros are not required. The problem seems to be in `TokenStream.to_string`. I have updated the issue description.

[2018-12-16 16:33] Centril commented on #56867
cc @nagisa

[2018-12-16 16:34] Eh2406 commented on #44663
Thanks for offering to work on this! @alexcrichton, do you have any mentoring advice?

I can at any time get a branch ready for the resolver part of cargo, it will be good enough to start experimentation, although not good enough to be ready to stabilize.

[2018-12-16 17:18] isegal opened #56882 "Unnecessary memcpy when using array initialization shorthand"
There is a performance regression with shorthand array initialization that causes temporary stack allocation and copy. It appears to have been introduced between Rust 1.11.0 and 1.12.0 and exists all the way up to current beta.

(All examples henceforth are with -C opt-level=3)

Example:
[code]

It appears that in this case, a temporary is allocated on stack, initialized and then copied.
This coul

[2018-12-16 17:35] nagisa commented on #56867
There are quite a few rollups in the [regression-range](https://github.com/rust-lang/rust/compare/f4a421ee3...93c2f055b) that it is hard see which one exactly could be to blame.

Here’s the excerpt of all merges. No PR jumps out as immediately obvious possible cause.

[code]

[2018-12-16 17:42] nikic commented on #56882
Duplicate of #56333. The issue is that rustc generates many redundant memcpys and LLVM is not always able to optimize them away.

[2018-12-16 17:42] #56882 closed

[2018-12-16 17:44] samueltardieu opened #56883 "Missing iterations"
The following code prints "foo" 4 times with stable and beta, but prints nothing with rustc 1.33.0-nightly (93c2f055b 2018-12-15).

[code]

Replacing `once()` by something else or replacing `for_each()` with `map()` exhibits the same behaviour.

[2018-12-16 17:50] bluss commented on #56883
It looks like the `try_fold` impl for Cycle in commit fbe5aa57ed810733f2fd4047cf5e5c24aebd8b01 is is not correct, this is probably the cause.

[2018-12-16 17:52] BartMassey commented on #29722
@main-- wrote:

I mean, not entirely out of luck. You just have to use Rust's `inline asm`. I have an edge case that none of your listed workarounds cover [here](/BartMassey/popcount). As you say, if you're familiar with the process from other compilers it's mostly fine.

(I have another use case: I would like to teach systems programming computer architecture and stuff using Rust instead of C som

[2018-12-16 17:55] infinity0 commented on #54614
I backported #54004 [like this](https://salsa.debian.org/rust-team/rust/blob/6f119a4340b15d0acdf52e58a08a613e361765f3/debian/patches/u-debuginfo-gdb-8.2.patch) to 1.31.0 and it seems to be resulting in [segfaults when compiling various LTO related tests](https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=amd64&ver=1.31.0%2Bdfsg1-1%7Eexp2&stamp=1544921599&raw=0). I will revert that and try a

[2018-12-16 18:15] KrishnaSannasi commented on #33417
[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=bf626a86ffe85cfe526ec1af70749fe8)
Ah yes, but as soon as you add generic parameters it falls over. If you try and compile each impl individually the `From` one will fail to compile, while the `Into` one will compile.

[2018-12-16 18:31] euclio opened #56885 "rustdoc: some fatal lexing errors are not buffered"
Discovered while working on #56884.

For code like the following:

[code]

rustdoc will fail to output any documentation for the struct and outputs a fatal error. I would expect the lexing error to be caught and emitted without stopping rendering.

[2018-12-16 18:44] samueltardieu commented on #56883
Indeed, it looks like if you try to fold after you have just exhausted a copy of your original iterator, you are out of luck and will exit immediately with the initial value.

[2018-12-16 18:49] nagisa commented on #56867
Observations:

* Crossbeam does not reproduce with `cargo test --doc` but reproduces with `cargo test --doc -- --test-threads=1`;
     * bisect shows a regression in #56243...
* Cannot reproduce opl-data bug with either `--test-threads=1` or without it.
     * Perhaps a request for a minimized test case would be warranted…

[2018-12-16 19:07] oconnor663 commented on #54236
Thanks for trying it out.

1. What's the situation where you need to check against making an out of bounds copy? Would it be possible to see the code where this came up? What fallback would you be using if copy_within returned an error?

2. https://github.com/rust-lang/rust/pull/56886

[2018-12-16 19:37] infinity0 opened #56888 "1.31.0 OOMs compiling itself on MIPS 32-bit"
We previous successfully did a native-compilation of mips rustc 1.30.0 here:

https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=mips&ver=1.30.0%2Bdfsg1-2%2Bb1&stamp=1541331217&raw=0

It was compiling itself using a previously-cross-compiled 1.30.0 rustc mips, cross-compiled from amd64. Only 14 tests failed out of the whole test suite, so we're now shipping it in Debian.

However the build

[2018-12-16 19:56] alexcrichton commented on #56849
Ok I've bisected this to https://github.com/rust-lang/lld/commit/103b4dc7002f33851174a433d63774780a953eba, which makes sense sort of because that's injecting references to *all* builtins, even if we're not actually using them.

I'll follow up with LLVM later tomorrow

[2018-12-16 19:58] ExpHP commented on #35121
An interesting conversation on internals:

* __Problem:__ We can't write
[code]
  because [`!` could not possibly implement `Iterator` for arbitrary associated types.](https://internals.rust-lang.org/t/never-types-and-inference/8924/10?u=exphp)
* __Proposal:__ Let's make `<! as Trait>::Assoc` [produce a type inference variable](https://internals.rust-lang.org/t/never-types-and-inference/8924/11?u=

[2018-12-16 20:00] nikic commented on #43024
Partially implemented in https://reviews.llvm.org/D55745. This will handle only `== n` and `!= n`.

[2018-12-16 20:01] marshallpierce opened #56889 "Write::write_all erroring when encountering Ok(0) interacts poorly with the contract of Write::write"
The documentation of `write` (emphasis added) specifies that returning `Ok(0)` is a valid thing to do, albeit with a possible implementation-specific "this writer is dead" meaning:

Despite the above, `Write::write_all`'s current implementation returns an error when an underlying `write` returns `Ok(0)`, effectively making this a forbidden return value for implementations of `Write`. However, in c

[2018-12-16 20:10] alexcrichton commented on #56849
Or actually, I've gone ahead and opened an [upstream bug report](https://bugs.llvm.org/show_bug.cgi?id=40045) to get the ball rolling there.

This is also a beta regression as well, so I'm retagging as such.

I believe the only solution we have for now on this is to turn off ThinLTO, so I'm going to send a PR to do that.

[2018-12-16 20:16] mark-i-m commented on #29722
Please write  a Rust 2019 blog post and express this concern. I think if enough of us do that, we can influence the roadmap.

[2018-12-16 20:17] alexcrichton commented on #56849
Er turns out this is likely already fixed at https://github.com/llvm-mirror/lld/commit/3be4e82db78b46a8ca349b2b799dec620a6f159f, so I can try out building that locally

[2018-12-16 20:52] pm215 opened #56891 "String trim_start_matches() docs unclear about behaviour if &str is passed"
The documentation for the trim_start_matches() method on String (https://doc.rust-lang.org/std/primitive.str.html#method.trim_start_matches) says "Returns a string slice with all prefixes that match a pattern repeatedly removed. The pattern can be a &str, char, or a closure that determines if a character matches." but it doesn't describe what the behaviour of passing an &str is. I can think of two

[2018-12-16 20:58] GuillaumeGomez commented on #56872
Fixed by #56876.

[2018-12-16 20:58] #56872 closed

[2018-12-16 20:59] #56871 closed

[2018-12-16 21:30] lnicola commented on #51541
@Lucretiel Can this be closed?

[2018-12-16 21:48] MabezDev opened #56894 "proc macro span error information missing after rustfmt breaks"
Before rustfmt:
[code]
after:
[code]

These fields are contained in the proc macro - specifically [cortex-m-rtfm](https://github.com/japaric/cortex-m-rtfm) the error information is reported at the start of proc macro attribute.

e.g
[code]

even though error is produced much further along in the macro

[2018-12-16 21:55] TheIronBorn opened #56895 "internal compiler error: src/librustc/hir/def.rs:267: attempted .def_id() on invalid def: SelfCtor(DefId(0/0:1103"
Another `self_struct_ctor` internal compiler error very similar to https://github.com/rust-lang/rust/issues/56202

A minimal example:
[code]

[code]
[code]

[2018-12-16 22:00] TheIronBorn commented on #56895
even more minimal:
[code]

[2018-12-16 22:02] TheIronBorn commented on #56895
Extremely minimal:
[code]

[2018-12-16 22:59] glandium commented on #56877
Here is the non-optimized llvm-ir:

[code]

For reference, the llvm-ir for the same source code, for x86_64:
[code]

The notable difference is i64 vs. double. Note that the above is the output of `--emit llvm-ir` with no `opt-level`. I don't know if that matches what rustc passes to llvm. (I don't remember what the option to output the llvm-ir before/after all passes is)

[2018-12-16 23:07] matthewjasper commented on #56868
cc #55342

[2018-12-16 23:19] #51541 closed

[2018-12-16 23:37] glandium commented on #56877
It's interesting to note that x86-64 takes the two floats as a single double, while aarch64 takes two floats, but the main problem here is that `bar` is taking an i64 instead of two floats on aarch64...

[2018-12-16 23:39] glandium commented on #56877
BTW, this also happens on aarch64-unknown-linux-gnu, and I've now confirmed that the IR before the first optimization pass is the same.

[2018-12-16 23:48] oconnor663 commented on #54236
I don't imagine it would make sense to hoist the bounds checking requirement up to the caller, and just have _ring_ propagate the panic if the bounds are wrong? I guess the question is whether any of the callers are expected to have a fallback, or whether bad bounds are more likely to be programmer error.

[2018-12-16 23:50] Mark-Simulacrum commented on #56350
This was also hit in crater: https://crater-reports.s3.amazonaws.com/beta-1.32-1/beta-2018-12-05/reg/imprint-0.2.0/log.txt

[2018-12-17 00:01] Mark-Simulacrum opened #56898 "rustdoc: extern crate at crate root"
https://crater-reports.s3.amazonaws.com/beta-1.32-1/beta-2018-12-05/reg/allocator_api-0.5.0/log.txt

[code]

cc @rust-lang/rustdoc

[2018-12-17 00:01] Mark-Simulacrum opened #56899 "Size no longer known at compiletime"
https://crater-reports.s3.amazonaws.com/beta-1.32-1/beta-2018-12-05/reg/fingertrees-0.2.1/log.txt

Possibly related to https://github.com/rust-lang/rust/issues/52852

[code]

[2018-12-17 00:01] Mark-Simulacrum opened #56900 "include_dir rustdoc segfault"
https://crater-reports.s3.amazonaws.com/beta-1.32-1/beta-2018-12-05/reg/include_dir-0.2.1/log.txt

[code]

[2018-12-17 00:01] Mark-Simulacrum opened #56901 "rustdoc: multiple matching crates"
https://crater-reports.s3.amazonaws.com/beta-1.32-1/beta-2018-12-05/reg/liquid-0.17.1/log.txt
https://crater-reports.s3.amazonaws.com/beta-1.32-1/beta-2018-12-05/reg/strip-ansi-escapes-0.1.0/log.txt

[code]

[2018-12-17 00:01] Mark-Simulacrum opened #56902 "mismatched types with from_le_bytes"
https://crater-reports.s3.amazonaws.com/beta-1.32-1/beta-2018-12-05/reg/tinkerforge-2.0.5/log.txt

[code]

[2018-12-17 00:01] Mark-Simulacrum opened #56903 "cannot mutate statics in initalizer of another static"
https://crater-reports.s3.amazonaws.com/beta-1.32-1/beta-2018-12-05/gh/oxidizers.drdns/log.txt

[code]

[2018-12-17 00:15] taralx commented on #35121
If you're going to do that, why not treat ! itself as an inference variable?

[2018-12-17 00:54] MabezDev commented on #56894
I had a rust-toolchain pinning my rustc to an old nightly (months back). Removing this and using a recent nightly has fixed my issue.

[2018-12-17 00:54] #56894 closed

[2018-12-17 01:00] blitzerr opened #56905 "Add a map in the TypeckTables to get all Upvars given the a closure ID"
It is a recurring pattern in the rustc compiler base to iterate thorough all the free-variables (or Upvars as they are also known as) using with_freevars. It might be better to have a list of all the Upvars given a closure id.

[2018-12-17 01:10] briansmith commented on #54236
There are lots of possibilities. This isn't the only API in libstd that has only a panicking version so if that's what libstd people like, I would just carry on as-is.

[2018-12-17 02:55] clarcharr commented on #33417
I'm fairly certain that these use cases were exactly what the RFC @kjetilkjeka linked was supposed to fix. After that's implemented there should never be a case where you can implement `Into` but not `From`.

[2018-12-17 03:07] KrishnaSannasi commented on #33417
@scottjmaddox I don't necessarily want `Into` to imply `TryFrom` as much as I want `Into` to imply `TryInto`, also `From` and `Into` are semantically equivalent, just because we can't express that in our trait system doesn't mean that

is nonsensical. In a perfect world we wouldn't have the distinction and there would only be one trait to convert between types, but due to limitations in the system

[2018-12-17 03:20] dlrobertson commented on #56762
I think I know what is going on here. I think the issue is [here]. Layout is failing with a `SizeOverflow` and we're too eager with throwing the `bug`. As the comment above states, we should only throw the `bug` if the error is `EvalErrorKind::TooGeneric`.

[here]: https://github.com/rust-lang/rust/blob/master/src/librustc_mir/const_eval.rs#L697-L699

[2018-12-17 08:33] #56436 closed

[2018-12-17 10:05] nrc commented on #56726
I've published the rls-analysis branch as `0.16.10-stable`. I created the RLS branch stable-update-1.31.7. I have a PR for Rust in progress, but didn't quite finish it up tonight.

Thanks @Xanewok for doing all the real work!

[2018-12-17 11:08] pietroalbini commented on #56726
Also cherry-picked https://github.com/rust-lang/rls/pull/1170 inside the `stable-update-1.31.7` branch.

[2018-12-17 11:48] pnkfelix commented on #53823
Okay at this point I think I've convinced myself that the scope of this problem is somewhat limited,

So I'm going to downgrade this to P-medium.

It also isn't really going to be addressed on our end (except perhaps via cherry-picking a patch for [the LLVM issue](https://bugs.llvm.org/show_bug.cgi?id=40027)).

So I'm tempted to close it, but I'll maybe wait to let other members of  @rust-lang/com

[2018-12-17 11:50] pnkfelix commented on #53823
I'll leave myself assigned for now, but mostly as a reminder to close it in the future.

If someone else wants to take this issue and run with it, feel free to assign yourself and unassign me.

[2018-12-17 11:59] oli-obk commented on #56903
cc @tarcieri

Repro

[code]

I'm going to fix the regression, but I just want to note that https://github.com/oxidizers/drdns/blob/98c1153a09642c2a5d8d2ed77ef7d9429d94995a/src/buffer.rs#L292 is very dangerous to use. This looks like another argument for https://github.com/rust-lang/rust/issues/53639

[2018-12-17 12:14] KrishnaSannasi commented on #33417
@clarcharr Like @SimonSapin said, where would the into method be defined, and we don't have trait aliases. That would need to be another RFC. And we would need to block this one on that RGC, which is undesirable.

[2018-12-17 12:39] leonardo-m opened #56912 "[ICE] in librustc_metadata\schema.rs"
[code]

[2018-12-17 12:46] nagisa commented on #56888
Just my two cents, It is not likely to be a high priority to support building the compiler on 32-bit systems. 3GiB of memory is increasingly little for a modern project of rustc’s size, and even if this particular regression is fixed it is certain that at some point down the road the threshold will be exceeded again and again.

There may be some things you can change in the build configuration (e.

[2018-12-17 13:01] rkruppe commented on #56782
@bluss Can this be closed as duplicate of #10184?

[2018-12-17 13:24] rom1v opened #56915 "Cannot infer lifetime when mutable (works when non-mutable)"
Given some type with a lifetime parameter (`X`), I want to expose some "view":

[code]

The problem occurs when I try to implement a function returning such a view.

If I implement only non-mutable view, it works:

[code]

or equivalently:

[code]

For mutable view, this works:

[code]

but this does not:

[code]

Which fails with:

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edi

[2018-12-17 13:32] nikic commented on #53823
I think the main actionable point here is to try and change the binary search implementation in a way that does not run into this LLVM issue. Not sure how that would look like, but something that interchanges the order of the compare and the load (i.e. already load for the next iteration) might work, because this is a pattern that LLVM specifically checks for.

[2018-12-17 13:35] jonas-schievink commented on #56915
I don't think this is a bug, `ViewMut` is invariant over `'a`, so both lifetimes in the `&mut self` expression (which is `self: &'1 mut X<'2>`) must be exactly equal

[2018-12-17 13:57] bluss commented on #56782
Ok

[2018-12-17 13:57] #56782 closed

[2018-12-17 14:47] pnkfelix commented on #56715
@Centril hmm while I do see that RFC discusses lifetimes, I'm not sure if it goes so far as to discuss whether `PAT: T` will use subtyping or type-equality (when considering lifetimes within types) when it checks the ascription...? Maybe an unresolved question? Or am I overlooking something?

[2018-12-17 14:59] Centril commented on #56715
@pnkfelix See judgements in the [section on static semantics](https://github.com/Centril/rfcs/blob/rfc/generalized-type-ascription/text/0000-generalized-type-ascription.md#semantics-and-type-checking). The first and second subsections notes that given types `τ` and `σ` and some term `x` (or pattern), then `ImplicitlyCoercible(τ, σ), x : τ => (x : σ) : σ`. This is broader than subtyping; implicit c

[2018-12-17 15:01] pnkfelix commented on #56715
During a [discussion on zulip](https://rust-lang.zulipchat.com/#narrow/stream/122657-wg-nll/subject/.2356715.20meaning.20of.20type.20ascription/near/152030317), @nikomatsakis pointed out to me that given `let PAT: T_LHS = RHS`, it would be weird to perform coercions between RHS based on T_LHS and yet not allow subtyping between `T_LHS` and whatever the type of RHS is.

I found that to be a pretty

[2018-12-17 15:02] #56715 closed

[2018-12-17 15:04] pnkfelix commented on #55748
Further discussion in issue #56715 led me to conclude that the fix proposed above (of changing an `Variance::Covariant` to `Variance::Invariant`) is not the right way to resolve this.

So I'll take a step back and won't continue to assume that the solution lies down that path.

Incidentally, there have been other proposals (to resolve other issues) that might just as well address the problem point

[2018-12-17 16:01] QuietMisdreavus commented on #56898
Here's what that test looks like...

[code]

It looks like the new `fn main` parsing is missing the fact that the main function is inside a macro call. Are we going to need to run macro expansion before we can look for main functions? cc @rep-nop

[2018-12-17 16:18] QuietMisdreavus commented on #56898
Wait, if we want to run macro expansion, that means we need a resolver, which means we need a full compiler session, not just the parsing session we currently have up. That means either spinning up two compiler sessions per doctest (which i fear will slow down doctests even more than they already are) or re-organizing `run_test` to run this processing after the compiler context is set up.

One thi

[2018-12-17 16:23] Mark-Simulacrum commented on #56898
I think either backing that change out or perhaps disabling it if we detect a macro (any macro, no need for anything fancy) and going back to the old behavior are probably both valid options here.

We could also just regress here -- at least this crater run only picked up this 1 crate -- and really, wrapping main in a macro is quite rare I imagine.

[2018-12-17 16:41] alexcrichton commented on #56921
Thanks for the report! I've trasferred this to the rust-lang/rust repository as this is likely a rustdoc bug rather than a Cargo bug

[2018-12-17 16:44] oconnor663 commented on #54236
Yeah I was definitely working by analogy with `copy_from_slice` and friends.

[2018-12-17 17:00] ubsan commented on #49048
Can I fix the names of these functions? Will that be accepted?

[2018-12-17 17:02] infinity0 commented on #56888
If this is hard to achieve, what you say sounds reasonable. I wanted to file this issue anyways in case >4GB RAM usage is anomalous (e.g. compared to other arches) and/or could be easily fixed.

At any rate it seems like another [build attempt succeeded in the meantime](https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=mips&ver=1.31.0%2Bdfsg1-1&stamp=1545059505&raw=0) so maybe we just have

[2018-12-17 17:13] matthiaskrgr commented on #56865
Ah yeah. Not sure why I didn't find that....

[2018-12-17 17:13] #56865 closed

[2018-12-17 17:16] alexcrichton commented on #44663
Sure! @Aaron1011 so this is split roughly into two features, one being rustc knowing what crates are in the "public interface" and a second being the support in Cargo's resolver to make various decisions differently. Are you interested in one of those in particular?

[2018-12-17 17:20] euclio commented on #56693
Minimal repro:

[code]

[2018-12-17 17:41] Aaron1011 commented on #44663
@alexcrichton: I've started working on the rustc part in a branch: https://github.com/Aaron1011/rust/commits/feature/pub-priv-dep, and I plan to submit a (WIP) PR soon. I might also be interested in working on the cargo part as well.

[2018-12-17 17:50] euclio opened #56922 "intra-doc-link resolution failures should not be reported for cross-crate re-exports"
Discovered in #56693.

Currently, if a crate re-exports an item from another crate with resolution failures, then those resolution failures get reported for the original crate. Since the downstream crate has no way to fix the resolution failure in the upstream crate, it shouldn't be reported, much like capping lints.

As of this writing, `std::io::Error` has an intra-link resolution failure in one

[2018-12-17 18:22] parched commented on #56877
This happens because homogeneous aggregates are treated differently in the PCS compared to inhomogeneous aggregates. It depends how zero sized types are defined to behave in `#[repr(C)]` types as to whether this is a bug or not. Should they be completely ignored?

[2018-12-17 18:22] emabee opened #56923 "Identity operation enforced by compiler?"
[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=79bd100b3e7d4c41a23c75c37d1e8b7d))

Output:

[code]

Shouldn't the above code also compile without the "0_u8 + "?
Note that clippy even complains about this identity operation.

[2018-12-17 18:32] #56883 closed

[2018-12-17 18:33] alexcrichton commented on #56807
In theory this should be reproducible with `cargo build --target aarch64-pc-windows-msvc --features c` inside of the [compiler-builtins repository](https://github.com/rust-lang-nursery/compiler-builtins). If that does the right thing though then it's a problem with our build setup, which has a ton of different aspects to it. I'll try to dig in more once I get back to a windows computer

[2018-12-17 18:37] alexcrichton commented on #56879
I suspect this is a bug in the compiler's pretty printer, it may just not support attributes on fields yet!

[2018-12-17 18:50] zackmdavis commented on #56923
Parentheses work:

[code]

I'm not sure how the parser determines when conditionals-as-expressions need parentheses; I agree that it's very counterintuitive for a leading `0 +` to determine whether a subsequent expression even parses (!).

[2018-12-17 19:22] Eh2406 commented on #44663
@Aaron1011 please cc me when you make that PR. I know nothing about the internals of Rust, so will be of no help, but I do want to follow the discussion.

I will redouble my efforts to get the Cargo's resolver part mergeable. I have been enjoying ( and hating ) it because it is the hardest algorithmic problem I have ever worked on. I would be happy for some help, perhaps a new perspective will get

[2018-12-17 19:23] emabee commented on #56923
Not yet good, but already much better ;-)
Thanks!

[2018-12-17 19:48] QuietMisdreavus opened #56925 "Tracking issue: --persist-doctests flag for rustdoc"
First implemented in https://github.com/rust-lang/rust/pull/56189, this flag allows users to save the compiled binaries created when rustdoc runs documentation tests.

Pending work:

- [ ] Related option to also save the processed code, for debugging purposes?
- [ ] Ability to cross-compile doctests and either save the binaries or run them through some test runner
- [ ] Combining the binaries into

[2018-12-17 20:15] Eh2406 commented on #56510
Perf, an lolbench are both linux only. So nether help with this question. So don't waste your time like I did.

[2018-12-17 20:19] glaubitz opened #56927 "rustdoc crashing on linux-sparc64 due to unaligned access"
Since version 1.31.0, ```rustdoc``` crashes when running the test ```src/test/run-make-fulldeps/rustdoc-error-lines```:

[code]

I have not worked out yet whether this is a regression in the Rust compiler itself such that it generates code with unaligned access (we had this before) or whether ```rustdoc``` itself contains broken code.

CC @jrtc27 @psumbera @karcherm

[2018-12-17 20:30] glaubitz commented on #56927
Looking at the build log, it looks like it's affecting ```rustdoc``` only. And it looks like an issue in the crate https://github.com/raphlinus/pulldown-cmark.

[2018-12-17 20:31] estebank commented on #56861
I wouldn't mark this as `E-easy` because I believe the proper solution is dependent on #21934 and probably #14007 being addressed. Just stripping the text wouldn't be needed if we referred to types using the the local scope-dependent path instead of the fully qualified name.

[2018-12-17 21:02] Pslydhh opened #56928 "Different behaviors of allocator between loop code and no-loop code"
Hi there!

Ran into: **loop snippet**
<pre><code>use std::sync::mpsc;
use std::thread;
fn main() {
    const STEPS: usize  = 1000000;
    thread::sleep(std::time::Duration::from_millis(10));
    let now = std::time::Instant::now();

    for _ in 0..2 {
        let (tx1, rx1) = mpsc::channel();
        for _ in 0..STEPS {
            let _ = tx1.send(1);
        }
        for _ in 0..STEPS {

[2018-12-17 21:03] Ericson2314 commented on #35121
Just make a wrapper around `!` with a `PhandomData` to disambiguate the item type.

[2018-12-17 21:06] jonas-schievink commented on #56928
In the second example, the channels only get freed after main exits, while they get freed when the *loop* in the first example exits.

[2018-12-17 21:08] ehuss commented on #56898
I think this also hit criterion, but they have already updated: https://github.com/bheisler/criterion.rs/commit/cf521b007d0c259e0522a4324d06214c86e7a1d9

[2018-12-17 21:12] Pslydhh commented on #56928
@jonas-schievink
Thank you for your quick reaction!
But is it can't be freed in the second example? after all, the (tx1, rx1) are new, It has nothing to do with previous (tx1, rx1).
Is this the result of rust's grammar?

[2018-12-17 21:15] jonas-schievink commented on #56928
Local variables are always dropped at the end of the enclosing scope (unless they're moved somewhere else). The second pair of variables just shadows the first one, it doesn't affect them in any other way.

[2018-12-17 21:41] Pslydhh opened #56929 "Different behaviors of allocator in nuanced snippets"
<pre><code>use std::sync::mpsc;
use std::thread;
fn main() {
    const STEPS: usize  = 1000000;
    thread::sleep(std::time::Duration::from_millis(10));
    let now = std::time::Instant::now();

    let (tx1, rx1) = mpsc::channel();
    for _ in 0..STEPS {
        let _ = tx1.send(1);
//    }
//    for _ in 0..STEPS {
        assert_eq!(rx1.try_recv().unwrap(), 1);
    }

    let elapsed = now.ela

[2018-12-17 21:58] nagisa commented on #56923
This is an expected behaviour of semi-colon insertion for semi-statements.

https://github.com/rust-lang/rust/issues/29071
https://github.com/rust-lang/rust/issues/49865

At best this is a diagnostics issue.

[2018-12-17 22:40] arielb1 commented on #53823
Putting this on T-libs if they can find a libs-level solution.

[2018-12-17 23:00] he32 commented on #55465
Exellent, thanks!

[2018-12-17 23:01] arielb1 opened #56934 "It is possible to redundantly implement an auto trait for a trait-object type"
## STR

[code]

## Expected Result

Code gives the same error as `impl Xyz for dyn Xyz + Abc`, giving `error[E0371]: the object type `(dyn Xyz + Abc + 'static)` automatically implements the trait `Xyz`

## Actual Result

Code passes coherence, but wfcheck fails because of the confusion:
[code]

[2018-12-17 23:02] arielb1 commented on #13231
Added #56934

[2018-12-17 23:03] joelgallant commented on #21102
I wonder if `b rust_panic` is something that the `rust-gdb` helper script can do? (afaik it doesn't, just checked locally)

[2018-12-18 00:12] varkor commented on #56912
I can't reproduce the ICE ([playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9c11ddc6a51b32fa79a97c94970cc4eb)). Is something missing?

[2018-12-18 00:31] estebank commented on #56912
@varkor I'm going to guess this is a Windows GNU specific problem.

[2018-12-18 00:36] petrochenkov opened #56935 "creader: Host crate loaded twice produces different `CrateNum`s if host != target"
Reproduction (as an UI test):
[code]
[code]
[code]

Name resolution will try to load the crate twice, first in initial pass, then in validation pass.
The results will be different due to different loaded `CrateNum`s, so we get the "inconsistent resolution for a macro" assertion.

This happens due to the `locate_ctxt.triple == &self.sess.opts.target_triple` condition in `CrateLoader::load` preventi

[2018-12-18 00:39] estebank commented on #56411
@mockersf we could completely avoid span arithmetics by giving `ImportDirectiveSubclass::SingleImport` more useful spans, instead of having to come up with them on the spot. The counterarguments to that would be that it would increase memory usage in every import and that this suggestion is already useless in macro context (especially in this case).

[2018-12-18 00:39] #48216 closed

[2018-12-18 00:40] petrochenkov commented on #56935
If I'm not mistaken, the issue will affect any idiomatic Rust 2018 code trying to use proc macros together with cross-compilation.

[2018-12-18 00:44] petrochenkov commented on #56935
The workaround is to avoid using host crates through extern prelude and use `extern crate` items instead, like it's done in https://github.com/rust-lang/rust/pull/56647/commits/a5d4544f54dfbd682e8f49f1a58c1205a25ce654.

[2018-12-18 00:44] scottjmaddox commented on #33417
@KrishnaSannasi It's currently impossible to have all four of `From => Into`, `From => TryFrom`, `TryFrom => TryInto`, and `Into => TryInto`, because everything that implements `From` would have two competing impl's for `TryInto` (one from `From => Into => TryInto`, and another from `From => TryFrom => TryInto`).

Since `From => Into` and `TryFrom => TryInto` are both critical, `Into => TryInto` h

[2018-12-18 01:19] alexcrichton commented on #55977
We discussed this awhile back in a libs triage meeting and I've been meaning to post an update here as well!

It was sort of up in the air about an explicit state vs implicit-state-via-closure parameter. I know I still personally feel that this probably doesn't need an explicit state parameter on `unfold`, but there wasn't a clear majority!

In terms of naming it was pointed out that this is simil

[2018-12-18 01:46] Lucretiel commented on #23818
I'd be okay with a macro that guarantees a flush, but I'd be concerned about naming it `printf`, since that's such a ubiquitous identifier in many other languages for "formatted print"

[2018-12-18 01:49] clintfred commented on #52478
@Centril -  tagging you based on a discord discussion regarding proptest.

I experienced this on
rustc 1.32.0-nightly (f4a421ee3 2018-12-13) running on x86_64-unknown-linux-gnu

while trying to use
 * https://github.com/roblabla/cargo-travis (cargo coverage)
 * https://github.com/xd009642/tarpaulin

This is while trying to build [recrypt-rs](https://github.com/IronCoreLabs/recrypt-rs)

I can produ

[2018-12-18 01:57] alexcrichton commented on #49467
I believe this has since been fixed, so closing

[2018-12-18 01:57] #49467 closed

[2018-12-18 01:58] alexcrichton commented on #48996
Implemented in https://github.com/rust-lang/rust/pull/53673!

[2018-12-18 01:58] #48996 closed

[2018-12-18 02:02] alexcrichton commented on #55842
This issue, as titled, is done now in https://github.com/rust-lang/rust/pull/56642, so I'm going to close it. If there's follow-up work though it'd be good to open new issues!

[2018-12-18 02:02] #55842 closed

[2018-12-18 02:02] Lucretiel commented on #56015
What other languages do:

- Go: no built in line buffering
- Python: Flush on Newline or Carriage Return
- C++: By default, follows whatever your local stdio.h is doing. No C++-specific behavior.
- C: (http://www.cplusplus.com/reference/cstdio/setvbuf/) Only looks at newline, not carriage return.

With the caveat that this should be a change to `LineWriter`, as opposed to a change specific to the

[2018-12-18 02:11] glandium opened #56938 "Uses of GlobalAlloc::realloc yield useless code in lto+opt-level=2 builds"
I noticed this in Firefox (where we do build with `-C lto -C opt-level=2`). Essentially any use of an API that ends up calling __rust_realloc generates useless code. A small testcase is:
[code]
which, with the following `Cargo.toml` config:
[code]

generates the following assembly:
[code]

That's a lot of code, and the most table in here is that there's a call to `realloc`, two calls to `posix_mem

[2018-12-18 02:13] RandomInsano commented on #56015
From setvbuf:

I’d need to double check how often my Rust app was outputting carriage-return text, but I want to believe it simply didn’t.

[2018-12-18 02:17] glandium commented on #56938
A condition in `alloc` that gets rid of the extra `posix_memalign` is `layout.size() % layout.align() == 0`, but that would be really bad for all the other cases where the function is _not_ inlined (which is, in fact, most cases, as it doesn't happen unless LTO is enabled *and* optimization level is > 1), because that would mean doing a division by a non constant value, and that's very costly.

[2018-12-18 02:36] glandium commented on #56938
O_o this doesn't make sense. I replaced `libc::malloc` with `libc::realloc` in `alloc`, which is not great, but would theoretically address the last item, but somehow the resulting code is still calling libc's `malloc` (and debug info attributes it to the line calling `libc::realloc`).

[2018-12-18 02:39] IntrepidPig opened #56940 "ICE 'specified instant was less than self' and BorrowMutError on aarch64-linux-unknown-gnu"
When compiling code on an aarch64 system (a [pine a64](https://www.pine64.org/?product=pine-a64-lts)) I get a compiler panic 'specified instant was less than self', which I'm guessing is because the accuracy of the timer given on this system isn't very reliable and the `std::time::Instant` guarantee that a new one won't be earlier than an old one isn't upheld. This problem occurs somewhat reliably

[2018-12-18 03:43] crlf0710 commented on #50547
@cramertj  He meant the macro version not the keyword version i believe...

[2018-12-18 03:45] wesleywiser commented on #56940
Some related issues:

#56612 - Panic on Windows (possibly in a VM)
#49281 - Panic on Linux arm64 (mention of panic on s390x as well)
#48514 - Panic on OpenBSD
#56560 - Panic on Windows (AWS)
#51648 - Panic on Windows

This was fixed in #56170 and can probably be marked a duplicate of that.

[2018-12-18 04:18] clarcharr commented on #33417
Yeah, I didn't think the `TryInto` alias out properly so just ignore me ><

I do agree with what @scottjmaddox says though.

[2018-12-18 04:34] jethrogb opened #56942 "Rustc segfault after compiling with --enable-debug --enable-debug-lineinfo"
Commit 9fe5cb5342244a716055fa0162e795deabd4985c
[code]

Stage 2 build finishes fine, this failure happens when building `std` for `x86_64-fortanix-unknown-sgx` with `xargo`.

[2018-12-18 04:37] KrishnaSannasi commented on #33417
@scottjmaddox

This is just false, simply look at the implementation proposed. Just to clear up a possible misunderstand, I am removing `From` auto impls `TryFrom` and replacing it with `Into` auto impls `TryFrom`.

This one:
`From` -> `Into` -> `TryFrom` -> `TryInto`

`From` auto-impls `Into`
`Into` auto-impls `TryFrom`
`TryFrom` auto-impls `TryInto`

By extension, due to transitive auto-impls we

[2018-12-18 05:03] dtolnay opened #56943 "Path in error message is neither public name nor internal name of type"
#### dep/src/lib.rs

[code]

#### repro/src/lib.rs

[code]

The error message refers to both types as `dep::S` even though one is `dep::S2`. I am reporting this as distinct from #21934 because `dep::S` isn't even the internal name of the other struct. That would be `dep::m::S`. Printing `dep::S2` would be ideal (as tracked in #21934) but printing `dep::m::S` would still be a big improvement.

[cod

[2018-12-18 07:03] IntrepidPig commented on #56940
It looks like the fix in that PR only applies to Windows, right? Also I'm a little unsure about that PRs validity even on Windows. I left a comment reviewing #56170 with more details.

[2018-12-18 07:08] glandium commented on #56938
One thing that addresses the `posix_memalign` and `realloc_fallback` issues is to remove the `layout.align() <= layout.size()` checks entirely. That works out fine because in practice, a type with alignment x has at least size x:

[code]

prints 32, not 1.

That would need more careful consideration, though.

[2018-12-18 07:35] glandium commented on #56938
About that...
[code]

compiles to
[code]
https://rust.godbolt.org/z/5kAI8s

[2018-12-18 07:39] jethrogb commented on #56942
No issues with
[code]

[2018-12-18 07:46] jethrogb commented on #56942
No issues with

./x.py build --stage=2 --target=x86_64-fortanix-unknown-sgx src/libstd

[2018-12-18 08:21] infinity0 commented on #54614
@tromey same result with 1.32.0, e.g. on [i386](https://buildd.debian.org/status/fetch.php?pkg=rustc&arch=i386&ver=1.32.0%7Ebeta.2%2Bdfsg1-1%7Eexp1&stamp=1545089675&raw=0)

[code]

Is your PR 54004 supposed to be used together with some LLVM patches? We are not using rust's LLVM in Debian but the upstream LLVM.

[2018-12-18 08:34] jethrogb commented on #56942
Actually, let me try again with a clean build directory, not sure if LLVM got rebuilt

[2018-12-18 08:36] glandium commented on #56938
FWIW, removing the `layout.align() <= layout.size()` checks in Firefox saves 151KB(!) of code size... but the code size also grows by 364KB... because more functions now get inlined in their callers (so overall, it's a loss of 213KB).

[2018-12-18 09:14] jethrogb commented on #56942
[code]

[2018-12-18 09:18] oli-obk commented on #53819
While monomorphization time errors are not great, we already have a bunch of them from const eval failures:

[code]

This isn't an argument for just opening the door to allowing all kinds of post monomorphization errors. Instead I want us to think about this topic to find out a comprehensible rule for where we do allow them and where not.

One thing that I also find problematic is that we have spl

[2018-12-18 09:23] oli-obk commented on #56942
Is the backtrace for that assertion the same as the backtrace for the segfault?

[2018-12-18 09:28] jethrogb commented on #56942
Close (getShuffleCost)

[code]

[2018-12-18 09:31] jethrogb commented on #56942
Maybe https://reviews.llvm.org/rL346589

[2018-12-18 09:31] dylanmckay commented on #44052
So, good news!

This is now the case!

The current avr-rust fork does not contain any modifications. The only modifications from stock Rust is the extra LLVM are:

* The AVR backend initialization functions `LLVMInitializeAVR{Target,TargetInfo,AsmPrinter,AsmParser, ...}` are declared and called.
* An base-minimum avr target specification `avr-unknown-unknown` has been added. This models avr-gcc's

[2018-12-18 09:37] dylanmckay commented on #44052
There's still a couple LLVM patches from the last two months we've cherry-picked at the moment, but the upstream Rust efforts to separate the emscripten version of LLVM from the version of LLVM used for all other targets has made it really easy to bring these changes in from `rust-lang/llvm` repo, as it is now updated upstream regularly.

The <4 cherry-picked LLVM patches we have are currently in

[2018-12-18 09:45] jethrogb commented on #56942
I think that's it.

[2018-12-18 10:32] chpio commented on #50547
@crlf0710 what's about the implicit await/explicit async-block version?

[2018-12-18 11:02] SimonSapin commented on #56938
I think we need to separate how `GlobalAllocator` is used by `Vec` from how it’s implemented on `std::alloc::System` (in this case on Unix platforms).

I think this particular branch is in `Vec` (though it’s based on `capacity == 0` rather than `ptr.is_null()`, so that `Vec` can contain a `ptr::NonNull` rather than `*mut`):

https://github.com/rust-lang/rust/blob/c9bb68f5ae5cc297246a084a2cd589787d

[2018-12-18 11:05] SimonSapin commented on #56938
But `Layout` has a `from_size_align(usize, usize)` constructor, not just `new::<T>()`.

[2018-12-18 11:09] SimonSapin commented on #56938
I suppose a larger question is: is there any use case for an allocation request more aligned than its size? If not, should we forbid it? If so, how do we deal with existing stable APIs that do not enforce or document this constraint? (Introducing new APIs and deprecating existing ones is always an option, but should be a last resort.)

[2018-12-18 11:11] da2018 opened #56949 "Don't understand imports in 2018 edition."
My code and folder:

[code]
├── [drwxr-xr-x Dec 18 18:09]  utils
│   ├── [-rw-r--r-- Dec 18 18:06]  random.rs
│   └── [-rw-r--r-- Dec 18 18:09]  mod.rs
└── [-rw-r--r-- Dec 18 18:53]  main.rs

[code]

It works before 2018 edition, and I read other issues, but still don't understand? How to do this import in 2018 edition?

[2018-12-18 11:12] da2018 commented on #56949
Is this incompatible?

[2018-12-18 11:38] bluss commented on #56949
Same crate paths start with crate:: with 2018 ed enabled. So you want to use crate::utils::... Or self:::utils:...

[2018-12-18 11:50] rom1v commented on #56915
I'm not sure to understand why this is different between the mut and non-mut version. Could you elaborate?

[2018-12-18 12:01] kali opened #56950 "x86_64 simd fmadd (and other) bug (release only)"
This bit of code falls in the assert in Release, while working in Debug.

Both stable and nightly.

https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=6f280db2aaf8241e46a080f4189e0328

[code]

[2018-12-18 12:04] kali commented on #56950
might be related to https://github.com/rust-lang/rust/issues/50154

[2018-12-18 12:10] kali commented on #56950
Problem was discovered on a skylake mac, if it helps.

[2018-12-18 12:15] peterjoel commented on #56950
Perhaps not discovered sooner because the function isn't being used much. I found it in two Github repositories:

 * [https://github.com/jackmott/simdeez](https://github.com/jackmott/simdeez/blob/6b3d00212af00eeab90b9cb1bc2494245efdcf71/src/avx2.rs#L267)
 * [https://github.com/bluss/matrixmultiply](https://github.com/bluss/matrixmultiply/blob/174971909dbe7e28931daaeaed54f100d8a3067b/src/x86/mod.rs

[2018-12-18 12:18] jonas-schievink commented on #56915
`&'a mut T` is invariant over lifetimes in `T`, while `&'a T` is variant, so the former has stricter requirements for compatible types. You might want to read the corresponding Rustonomicon chapter: https://doc.rust-lang.org/nomicon/subtyping.html

[2018-12-18 12:20] rom1v commented on #56915
Thank you :+1:

[2018-12-18 12:20] #56915 closed

[2018-12-18 12:31] kali commented on #56950
Problem also occurs with simple multiplication.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=affc00bf05919f648a5c4b3e1e053070

[2018-12-18 12:40] lqd commented on #56950
Yeah, it doesn't look like the problem lies with the functions themselves, like this [simple 2.0 * 1.0 multiplication](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=772bfe8d1d72f0da25696dfcdfa9211a) shows.

So it could indeed be an instance of the linked LLVM by-ref args promotion issue ?

[2018-12-18 12:56] BurntSushi commented on #56950
What is the expected behavior here? From what I can tell, the given code isn't correct because you aren't using `#[target_feature(enable = "avx2")]`. (Alternatively, compile with `RUSTFLAGS="-C target-feature=+avx2"`.)

I think you'll want to have a careful review of https://doc.rust-lang.org/std/arch/index.html#overview and https://doc.rust-lang.org/std/arch/index.html#dynamic-cpu-feature-detecti

[2018-12-18 13:21] oli-obk commented on #56281
I have not been able to get anywhere with this issue.

I did some experiments in https://github.com/rust-lang/rust/blob/master/src/librustc/middle/dead.rs and I believe the issue is that using a tuple struct's constructor will only mark the constructor as used (which has a different DefId and NodeId than the tuple struct item). This guess has a further datapoint than my reading: Adding `let x: Wra

[2018-12-18 13:31] hellow554 commented on #56950
@BurntPizza  why avx2? According to the [doc](https://doc.rust-lang.org/core/arch/x86_64/fn._mm256_setzero_ps.html) it only requires "avx"

[2018-12-18 13:37] BurntSushi commented on #56950
@hellow554 I didn't check the precise requirements of each individual vendor intrinsic, and I don't have them memorized. :-) Feel free to `s/avx2/avx`, but I don't think my general point changes.

[2018-12-18 13:38] Hiroki-Nohira opened #56952 "A type inference problem with struct fields and collect method"
Hi, I found a type inference problem like below. You can check it in Rust Playground from link.
If it's possible, i would like to write code with less type annotation.

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=da38ac68e6aba30ab33c0ddc42ecdd3b

[code]

[2018-12-18 13:44] jonas-schievink commented on #56952
Yeah this is a known problem when invoking inherent methods. Also see `0.0.sin()`.

[2018-12-18 13:47] oligami commented on #56952
Thanks!!

[2018-12-18 13:57] lqd commented on #56950
`#[target_feature(enable = "avx")]` works indeed.

[2018-12-18 13:57] kali commented on #56950
all right... going back to hiding, thanks folks :)

[2018-12-18 13:57] #56950 closed

[2018-12-18 14:07] nagisa commented on #56938
Yes. A likely and common scenario here would be a request for a page-aligned allocation that is not necessarily spanning the whole page.

[2018-12-18 14:18] SimonSapin commented on #56938
Can you say more about how that would be used? Can allocator implementations typically do that and still use the rest of the page for other allocations?

[2018-12-18 14:45] adrian-budau commented on #56675
Is this kind of what you had in mind? https://github.com/rust-lang/rust/compare/master...adrian-budau:syscall_fix_musl

I wanna know if I should go like this, or I understood you wrong.

[2018-12-18 14:48] nagisa commented on #56938
It is common for low-level functions to have requirements for page-size alignment. Something that comes to mind is a stack (platforms usually have their own respective alignment requirements, but page-aligned allocations are safe to use on a all known-and-relevant targets).

It is heckin' convenient to be able to write `Layout::from_size_align(x, PAGE_SZ)` and not have to think about `x` being les

[2018-12-18 15:56] steveklabnik commented on #56949
Please file questions at users.rust-lang.org; we try to keep the issue tracker for known bugs only. Thanks!

[2018-12-18 15:56] #56949 closed

[2018-12-18 16:18] alexcrichton commented on #44663
@Aaron1011 ok and it seems like you're off to a great start! I'd be up for reviewing that PR, and if you've got any questions along the way just let me know

[2018-12-18 16:30] neoeinstein commented on #54216
I just ran into this issue as well. I'm running in Parallels on MacOS, building a binary for Windows. The source resides on a mapped network drive that Parallels attaches to the instance. Using the workaround of setting `CARGO_TARGET_DIR` to a folder on a local drive worked for me.

[2018-12-18 16:34] petrochenkov commented on #55478
My plan so far is to implement fallback from crate-relative names (`crate::foo`) to extern crates (`extern::foo`) in imports (`use foo::bar`) on 2015 edition and make crater experiment.
If everything is good, we'll be able to support `use my_crate::bar` imports on Rust 2015 as well as on Rust 2018.

[2018-12-18 16:49] RalfJung commented on #53819
I think the approach outlined in https://github.com/rust-rfcs/const-eval/issues/17 would greatly help me understand const qualification: It is a static analysis approximating some dynamic property, and being more explicit about that property (specifying it precisely and maybe even implementing it) would help tremendously.

[2018-12-18 16:50] Diggsey commented on #56068
I have the exact same issue, and it's really problematic because it results in up 600MB of memory usage when generating a backtrace, for only 50MB of debug info, for a binary that is only 643KB in size when stripped!

That's literally 1000x increase in memory usage 😱

[2018-12-18 17:55] cramertj commented on #50547
@crlf0710 I did as well :)

[2018-12-18 18:14] scottjmaddox commented on #33417
@KrishnaSannasi Ahhh, now I see your point. Yes, that makes sense and I now see how your proposed change solves the problem and provides the desired behavior. Thanks for the thorough explanation!

[2018-12-18 19:10] stjepang commented on #50547
@cramertj Don't we want to remove the macro because there's currently an ugly hack in the compiler that makes the existence of both `await` and `await!` possible? If we stabilize the macro, we'll never be able to remove it.

[2018-12-18 19:17] nagisa commented on #56927
Would it be possible to disassemble the function in question? Does the failure occur with the official builds? If so, bisecting with [`cargo-bisect-rustc`](https://github.com/rust-lang-nursery/cargo-bisect-rustc) might help to quickly narrow down the cause.

I would do it myself, but I’ve been unsuccessful in setting up sparc VMs (installed debian fails to boot, and I haven’t gotten around to deal

[2018-12-18 19:30] glaubitz commented on #56927
I am currently bisecting this, I'm almost there :).

As for SPARC machines, we have set up a SPARC T5 VM in the gcc compile farm which every developer can use who applies for a free account at the gcc compile farm, see: https://gcc.gnu.org/wiki/CompileFarm

[2018-12-18 20:33] clintfred commented on #52478
Out of curiosity, I tried `cargo tarpaulin` on the proptest ([0.8.7](https://github.com/AltSysrq/proptest/releases/tag/0.8.7)) codebase, and it failed in the same way recrypt-rs was failing.
Here is a full stack trace

[code]

I tried `cargo tarpaulin` and `cargo coverage` on a couple other projects that use `proptest`, but all failed in the same way.
**Does anyone have an example repo that uses p

[2018-12-18 20:37] mqudsi opened #56957 "Incorrect "unused import" on using statement for `panic_handler` symbol declaration/definition"
Developing with no_std on an armv6, an incorrect "unused import" message is generated (1.33.0 nightly):

[code]

The `use panic_semihosting` statement is required to pull the `panic_semihosting` crate's `panic_handler` symbol into the project, or else the following error occurs:

[code]

[2018-12-18 20:37] nikic commented on #55054
LLVM patch to fix this: https://reviews.llvm.org/D55786

[2018-12-18 21:16] nikomatsakis commented on #55222
I was thinking about this some more. It may be that we can preserve the existing behavior, though it's not entirely clear we *want* to, for consistency reasons. But backwards compatibility may be kind here.

The basic idea was that we wanted to treat the use `Foo<X1..Xn>` of a type alias `Foo`:

[code]

as effectively "desugaring" to something like `<() as FooTrait<X1..Xn>>::Out` where

[code]

Th

[2018-12-18 21:18] PaulGrandperrin commented on #51713
Hi, I just want to say that I came across the same issue:
https://github.com/PaulGrandperrin/playground/commit/b37152b55aaaf5c1be4b65b24604122e5810aaf9

and I was thinking, wouldn't it be possible to do something like that for `unreachable_unchecked` in the std?:
[code]

As a macro, it would be expanded at crate compilation time and so would respect the `debug_assertion` flag.

[2018-12-18 21:45] sfackler commented on #51713
"crate compilation time" is the time that you're compiling std, not the downstream crate.

[2018-12-18 21:45] GuillaumeGomez commented on #56921
Indeed, fixing it.

[2018-12-18 22:19] Lokathor commented on #55814
Since that PR merged, I think we can close this issue

[2018-12-18 22:19] #55814 closed

[2018-12-18 22:35] #56288 closed

[2018-12-18 22:35] thedavidmeister commented on #46610
wow, crazy this doesn't exist

is there a workaround in the meantime to find slow tests?

[2018-12-18 22:37] FrankSD commented on #55506
Has  this issue been  taken?

[2018-12-18 22:41] nikic commented on #54039
This optimizes well on beta. Unless there is some other case where this issue persists, I'd consider this fixed.

[2018-12-18 22:45] varkor commented on #55506
@FrankSD: no — you're welcome to take this issue! The high-level instructions are in https://github.com/rust-lang/rust/issues/55506#issuecomment-440381411, but feel free to ask any question you have here.

[2018-12-18 22:49] varkor commented on #55506
@FrankSD: this appears to have been completed in https://github.com/rust-lang/rust/pull/56677. However, at least one of the traits could do with a more informative `#[must_use]` message as highlighted in https://github.com/rust-lang/rust/pull/56677/files#r241236020 (and perhaps the others could be improved too). So you're welcome to open a PR with that improvement!

---

I'm going to close this is

[2018-12-18 22:49] #55506 closed

[2018-12-18 22:49] nikic commented on #48253
Codegen for both functions is identical since 1.29. Unless there's some other case where this issue still occurs, I'd consider this fixed.

[2018-12-18 22:53] kornelski commented on #54039
Yes, I can confirm it's nice on beta and today's nightly. Thanks!

[2018-12-18 22:53] #54039 closed

[2018-12-18 23:04] varkor opened #56963 "Incorrect help message for bad tuple indexing on parenthesised array"
[code]
The help message suggests:
[code]
The parentheses have gone missing.

This is related to https://github.com/rust-lang/rust/issues/56714.

[2018-12-18 23:10] nikomatsakis commented on #56877
Nominating: this is likely to be a very high priority for FF over the next month or so, and if we can get a fix in *now* that will be a big win.

[2018-12-18 23:11] brson opened #56965 "Docs: alloc::set_alloc_error_hook clarifications"
In using this function I am wondering a few things:

- What happens if I oom while handling an oom? Is thee oom handler called again? Does the process immediately abort?

- Does triggering oom remove the custom oom handler? The presence of `take_alloc_error_hook` makes it seem like that may the case, but it is not. It looks like the custom handler stays in place through its invocation.

- Is OOM t

[2018-12-18 23:14] cramertj commented on #50547
@stjepang I really don't care too much in any direction about the syntax of `await!`, aside from a general preference for postfix notations and a dislike of ambiguity and unpronounceable/un-Google-able symbols. As far as I'm aware, the current suggestions (with `?` to clarify precedence) are:
- `await!(x)?` (what we have today)
- `await x?` (`await` binds tighter than `?`, still prefix notation, n

[2018-12-18 23:17] zackmdavis commented on #56963
This kind of thing (compare to _e.g_. #55109) happens when we use the pretty printer to synthesize suggestions.

https://github.com/rust-lang/rust/blob/d99a320cba42f661aebfa1293b7b2ec3603dda75/src/librustc_typeck/check/mod.rs#L3375-L3377

[2018-12-18 23:36] novacrazy commented on #50547
I follow this issue very loosely, but here is my opinion:

Personally I like the `await!` macro as it is and as it's described here: https://blag.nemo157.com/2018/12/09/inside-rusts-async-transform.html

It's not any kind of magic or new syntax, just a regular macro. Less is more, after all.

Then again, I also preferred `try!` , as `Try` *still* isn't stabilized. However, `await!(x)?` is a decent

[2018-12-18 23:41] parched commented on #56877
FWIW the code to fix is [here](https://github.com/rust-lang/rust/blob/059e6a6f57f4e80d527a3cd8a8afe7f51f01af8e/src/librustc_target/abi/call/aarch64.rs#L14). The question is, should just PhantomData be ignored or all ZSTs or just ZSTs with aligmnent=1?

[2018-12-18 23:48] rpjohnst commented on #50547
Keep in mind that eventually we'll want async and generators to be distinct features, potentially even composable with each other (producing a `Stream`). Leaving `await!` as a macro that just lowers to `yield` is not a permanent solution.

[2018-12-18 23:50] cramertj commented on #50547
It can't permanently be user-visible that it lowers to `yield`, but it can certainly continue to be implemented that way. Even when you have async + generators = `Stream` you can still use e.g. `yield Poll::Pending;` vs. `yield Poll::Ready(next_value)`.

[2018-12-18 23:53] glandium commented on #56877
There's nothing platform-dependent in that code, how come this only affects aarch64?

[2018-12-19 00:01] alexreg commented on #55222
@nikomatsakis Would we actually want to desugar to trait and impl, or directly to Chalk. Anyway, I am intuitively in favour of "including the where-clause" and thus pushing the duty of proving the WF up to the use site site. I reckon that would work fairly well.

Should we get @eddyb's thoughts on this too?

[2018-12-19 00:03] novacrazy commented on #50547
Are async and generators *not* distinct features? Related, of course, but comparing this again to how JavaScript did it, I always thought async would be built on top of generators; that the only difference being an async function would return and yield `Future`s as opposed to any regular value. An executor would be required to evaluate and wait on the async function to execute. Plus some extra lif

[2018-12-19 00:22] glaubitz commented on #56927
Found the commit which introduced the bug:

[code]

[2018-12-19 01:39] estebank commented on #33418
Looking at this, @hdhoang, it seems to me that the "correct" way of dealing with this would be to add a new `TraitBoundModifier::Bang` that is only used for error reporting, and parse it similarly to how we parse `TraitBoundModifier::Maybe`. The problem with this is that we would have to carry a `GenericBound::Trait(ref poly, TraitBoundModifier::Bang)` around that would be completely artificial pu

[2018-12-19 01:45] eddyb commented on #54712
Looking at the code, these `clear_if_dirty` calls appear to be relevant: https://github.com/rust-lang/rust/blob/d99a320cba42f661aebfa1293b7b2ec3603dda75/src/bootstrap/builder.rs#L758-L786

The problem is that the directory `my_out` refers to is non-trivially structured.

Instead of removing `$my_out/*`, we need to remove all the files (or at least the ones that are artifacts) and the `deps` direct

[2018-12-19 02:35] Pauan commented on #50547
@cramertj Also this one:

* `await? x`

----

@novacrazy Yes, they are distinct features, but they should be *composable* together.

And indeed in JavaScript they *are* composable:

https://thenewstack.io/whats-coming-up-in-javascript-2018-async-generators-better-regex/

[2018-12-19 03:08] shepmaster commented on #56891
Duplicate of #54520

[2018-12-19 04:39] hdhoang commented on #33418
Thank you for your guidance! I will try to work this out.

Do you have any suggestion for run-pass tests and similar to avoid unintended breakage?

[2018-12-19 04:51] jethrogb commented on #56815
Looks like there was some discussion in the infra meeting about signing for Windows, but I couldn't find a specific issue for signing.

@jseyfried can you share Windows binary signing best practices?

[2018-12-19 05:10] jethrogb opened #56971 "Dist index gone"
These indices are out of date:
* https://static.rust-lang.org/dist/index.html
* https://static.rust-lang.org/dist/index.txt

Edit: they're 404's now.

[2018-12-19 05:10] jethrogb commented on #56971
I have no idea how to get a link to discord, but there was some discussion on this in the infra channel at 2018-12-18 10:42 UTC and 2018-12-18 12:32 UTC.

Main takeaways from that discussion:
* generating the index was taking to long, the recommendation is to use the AWS S3 List Objects API
* listing all objects using the AWS S3 List Objects API takes a very long time because you'll be rate-limite

[2018-12-19 05:11] jethrogb commented on #56971
I think there should be an index of at least all available toolchains, and preferably also for each toolchain which components exist.

[2018-12-19 07:22] oli-obk commented on #53819
We can indeed rewrite everything as a dynamic check, but we'd lose all pre-monomorphization errors.

Const qualification is essentially a very limited form of symbolic execution (limited as in "doesn't know about control flow or loops") that solely operates on symbols for "drop", "constness" and "internal mutability" instead of operating on values.

[2018-12-19 09:06] Pslydhh commented on #56929
I must say that I personally disagree with this optimization(only linux, no optimization for windows) .
I think it maybe better used as a parameterized option or something like it. :)
And the Implementation of optimization could't reclaim memory in the nested threads, even when thread done:
<pre><code>use std::sync::mpsc;
use std::thread;

fn main() {
    const STEPS: usize  = 1000000;
    thread:

[2018-12-19 09:36] Nemo157 opened #56974 "Cannot define async fn with no_std"
[code]

([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ff1a2fae4bc9507da9489c5fc1315576)) currently fails with

[code]

This should also work with whatever the syntax for `await` is, currently it fails earlier than this error because of `await!` only being defined in `std`, see #56767.

[2018-12-19 09:53] Nemo157 commented on #50547
@Centril ok, opened #56974, is that correct enough to be added as an unresolved question to the OP?

---

I really don't want to get into the `await` syntax bikeshed again, but I have to respond to at least one point:

Note that I also said I don't believe that the macro can stay a library implemented macro (ignoring whether or not it will continue to appear as a macro to users), to expand on the

[2018-12-19 10:12] jethrogb opened #56975 "Tracking issue: platform-specific APIs for SGX target"
This issue tracks the functionality available behind the `sgx_platform` feature gate. (PR to be submitted soon)

[2018-12-19 10:24] niallobroin opened #56976 "cargo run encounters ICE on filesystems without flock"
I tried this code:
$cargo new hello-rust (OK)
$cargo run

Failed with below error.
I tried `rustc main.rs` and it compiled OK.

## Meta

`rustc --version --verbose`:

[code]

## Backtrace:

[code]

[2018-12-19 10:31] rkruppe commented on #56798
I was initially confused by this issue: of course 128 bit compare-exchange doesn't exist so it has to be emulated in libatomic. But it appears that x86_64 has a 128 bit version of CMPXCHG. To clarify, is the issue that the compiler doesn't emit that instruction?

[2018-12-19 10:59] varkor commented on #56605
@estebank: did you mean to reference a different issue? https://github.com/rust-lang/rust/issues/56605 is this one.

[2018-12-19 11:16] varkor commented on #56132
@FrankSD: it's not, but you'll want to wait until the FCP has (started and) finished before working on this, to avoid wasting time if the FCP does not pass.

[2018-12-19 11:16] nagisa commented on #56927
This *smellls* similar to https://github.com/rust-lang/rust/issues/56267, although the fixes for that particular problem have been backported and are available in stable and the lint pass does not complain about pulldown_cmark in any way...

[2018-12-19 11:19] varkor commented on #56115
It's probably sufficient just to change:
https://github.com/rust-lang/rust/blob/e7b4bc35e99ee3c5b2b42a1b8b3f9cd6eca1f0b2/src/librustc/ty/error.rs#L213-L214
to:
[code]

[2018-12-19 12:05] Avi-D-coder commented on #56345
Will [`std::str::lines`](https://doc.rust-lang.org/std/primitive.str.html#method.lines) be implemented with using this API?
[2500-needle.md#standard-library-changes](https://github.com/rust-lang/rfcs/blob/master/text/2500-needle.md#standard-library-changes) does not explicitly state this.
 I believe it would be a mostly backwards compatible change.

[2018-12-19 12:28] alexheretic opened #56980 "RLS memory usage regression"
I've noticed RLS is consuming **much** more memory with all projects on Linux. My tests indicate this is not an issue with RLS itself.

Downstream: https://github.com/rust-lang/rls/issues/1188

## Reproduction
Originally I produced the regression with stable vs nightly.

Memory usage running `rls --cli`. Reading taken after running once until built, quitting and re-running again and waiting for bu

[2018-12-19 12:50] #42655 closed

[2018-12-19 12:59] Pslydhh commented on #56929
Thank you for the suggestion! @jonas-schievink

[2018-12-19 13:12] SimonSapin commented on #56345
Does it matter? This method only takes `&self`, and returns a dedicated type. Implementation detail changes that are black-box-invisible do not require RFCs. Or, by “mostly” do you mean you expect this change would be observable?

[2018-12-19 13:18] oli-obk commented on #56974
cc @phil-opp

[2018-12-19 13:20] hellow554 commented on #56976
Can you please put the backtrace in triple backticks? (```)

[2018-12-19 13:21] hellow554 commented on #56971
The links above are dead

[2018-12-19 13:31] pm215 commented on #54520
The most salient feature of the Pattern documentation is all the "nightly only", "nightly only" warnings in it. I think it would be better to be able to understand the documentation for non-nightly features without having to look at documentation that is so marked. Also in general, if you're relatively new to Rust, I think it's much easier to understand a concrete example than to follow a link to

[2018-12-19 14:07] hellow554 commented on #54520
https://doc.rust-lang.org/std/primitive.str.html#method.split

### Examples
  * Simple patterns:
  * A more complex pattern, using a closure:
  * If a string contains multiple contiguous separators, you will end up with empty strings in the output:
  * Contiguous separators are separated by the empty string.
  * ...

I honstely think there are more than enough code examples all with explanation. I

[2018-12-19 14:13] ariasuni opened #56982 "Suggest type or module with similar name when code is incorrect"
Given the following code:

[code]

rustc gives me this output:

[code]

when it should give something like this:

[code]

[2018-12-19 14:43] pm215 commented on #54520
Yes, the split method has a good set of examples. I'm here because I started at the trim_start_matches method, which doesn't so much. I raised a bug (﻿﻿﻿56891); it was merged with this one; estebank filed a PR 56898 which I think would be fine as a fix for it; shepmaster commented on that PR saying they were against merging it; so I'm here trying to argue the case for being a bit more verbose with

[2018-12-19 14:49] Avi-D-coder commented on #56345
Changing the internal implementation does appear to be API compatible.
What I was intending to ask, but didn't, is if it would make sense to treat [`std::str::lines`](https://doc.rust-lang.org/std/primitive.str.html#method.lines) like the other `str` methods being deprecated and replaced by Needle API alternatives?

[2018-12-19 15:06] hellow554 commented on #54520
@pm215 pro tip: You can put a `#` in front of the number and the PR/issue will be linked directly ;)

[2018-12-19 15:06] pnkfelix commented on #42574
Re-triaging for #56754. NLL-fixed-by-NLL, so leaving open. Assigning to self for the main remaining task of adding the tests. But also tagging as P-low since I don't think that is a high priority task.

[2018-12-19 15:10] pnkfelix commented on #43058
Re-triaging for #56754. NLL-fixed-by-NLL, so leaving open. Assigning to self for the main remaining task of adding the test. But also tagging as P-low since I don't think that is a high priority task.

[2018-12-19 15:17] pnkfelix commented on #45600
Re-triaging for #56754. NLL-fixed-by-NLL(via PRs #49870 and #54034). Normally that would mean I'd leave the issue open, but I think the tracking issue for #15287 already serves in terms of tracking the feature that is being requested here. (Note that when you have NLL enabled, on nightly, you get a suggestion to enable `#![feature(bind_by_move_pattern_guards)]`.) So, just closing as effectively fi

[2018-12-19 15:21] pnkfelix commented on #45600
Ah there is the second example that was given in the issue:

[code]

which still errors under NLL.

The argument given above is that we already allow partial moves (when you use `_` rather than `ref b`), so it is not clear why we do not use partial moves here to support that code.

I'll reopen this issue to allow discussion of that case (which is indeed something that we might fix in the future.)

[2018-12-19 15:31] pnkfelix commented on #46589
Re-triaging for #56754. Leaving assigned to @davidtwco. P-medium, NLL-complete.

[2018-12-19 15:38] pnkfelix commented on #46702
Re-triaging for #56754. Assuming NLL-sound for now. Tagging P-high based on that assumption. And nominating for discussion at tonight's A-NLL meeting, with the intent that *someone* get assigned to investigate this issue. (If no one is assigned by thursday, then please unnominate since I do not want this clogging up T-compiler again).

[2018-12-19 15:42] pnkfelix commented on #55748
I now have a new approach, built upon the foundation of PR #55937, that rejects the demo from this issue. Yay!

[2018-12-19 16:01] wesleywiser commented on #56940
The fix in the PR applies to all platforms by disabling the profiler unless it's specifically requested rather than always running it.

[2018-12-19 16:03] pnkfelix commented on #56754
[work queue]: https://github.com/rust-lang/rust/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3ANLL-deferred

[2018-12-19 16:05] shepmaster commented on #54520
To be clear, I'm only one voice; others may (and probably do) disagree with me.

I'm mostly arguing from a maintenance perspective; this request is the equivalent of "inline the `Pattern` docs into every API function that takes a `Pattern` argument". We don't do that for `Iterator`, a much more common argument (I believe). It makes it harder to explain things once and keep something up to date. On

[2018-12-19 16:05] wesleywiser commented on #51648
I guess there's still a question for @rust-lang/libs: should we pursue a fix or change in in the `Instant` api?

I left a comment [here](https://github.com/rust-lang/rust/issues/56940#issuecomment-448086386) with some additional findings. This doesn't appear to be strictly a Windows issue. For example, #49281 shows the same issue on Linux/arm64 and #48514 shows the same issue on OpenBSD.

[2018-12-19 16:06] pnkfelix commented on #46891
Re-triaging for #56754. NLL-sound. But since inline ASM is unstable, I'm tentatively tagging as P-medium; there's bigger fish for NLL to fry, IMO.

[2018-12-19 16:08] pnkfelix commented on #46901
Re-triaging for #56754. P-high. Assigning to self.

[2018-12-19 16:09] pnkfelix commented on #46901
(it would be good to take care of this in tandem with resolving the question of #56254 )

[2018-12-19 16:15] pnkfelix commented on #48225
The minimized example from the [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=c0a9e7d227a6615cfd094bb7ab51cdb2)  works now?

@Aaron1011 do you know off hand whether the problem in getopts is still arising today? And also, is it only exposed by `#![feature(nll)`? (I.e. how does just the migration mode enabled via the 2018 edition behave)

----

Marking as NLL-

[2018-12-19 16:16] pnkfelix commented on #48225
(also assigning to self to make the test and followup with @Aaron1011 )

[2018-12-19 16:17] pnkfelix commented on #49434
Hmm. I think this ties into broader questions of the semantics of two-phase borrows (see #56254) and how we document it (#46901).

[2018-12-19 16:18] pnkfelix commented on #49434
In terms of re-triaging for #56754, I think this is NLL-complete, P-medium.

[2018-12-19 16:18] ehuss commented on #56980
I can confirm this is caused by #55238, cc @alexcrichton.

I tried building rls with jemallocator, but it didn't seem to make a difference.

[2018-12-19 16:18] nikomatsakis commented on #55222
We would not *actually* desugar to traits/impls, but rather to (roughly equivalent) chalk predicates.

[2018-12-19 16:22] pnkfelix commented on #50128
Re-triaging for #56754. Seems like PR #49891 addressed this. Closing as "fixed."

[2018-12-19 16:22] #50128 closed

[2018-12-19 16:30] pnkfelix commented on #53114
Re-triaging for #56754. I think this is P-medium, due to logic in my previous comment. But I'm not 100% sure we have unit tests encoding our current behavior for all the various compiler modes (i.e. something encoding the table(s) that have been presenting in the comment thread for this issue.

So, I'm going to assign this to myself for the task of checking what our status is w.r.t. tests, and tha

[2018-12-19 16:33] pnkfelix commented on #45600
oh also I think this is probably related to #54987

[2018-12-19 16:34] alexreg commented on #55222
In that case, sounds like a reasonable plan. The question is now how necessary lazy normalisation is... anyway, if either @eddyb or @scalexm is interesting in working on this, that would be super. (I can offer my help too.)

[2018-12-19 17:50] alexcrichton commented on #56902
cc @rust-lang/libs, this is a regression from https://github.com/rust-lang/rust/pull/56207, tracking the issue https://github.com/rust-lang/rust/issues/52963. We added `from_le_bytes` inherent methods to integer types, and they're shadowing [trait-based methods](https://github.com/Tinkerforge/generators/blob/0f4a2a909eeb6c05e711407a2ae4a202d5466d6e/rust/byte_converter_template.rs#L23) that were pr

[2018-12-19 18:04] cramertj commented on #50547
I think there's a bit of confusion here-- it was never the intention that `await!` be *publicly* visibly expandable to a wrapper around calls to `yield`. Any future for the `await!` macro-like syntax will rely on an implementation not unlike that of the current compiler-supported `compile_error!`, `assert!`, `format_args!` etc. and would be able to desugar to different code depending on the contex

[2018-12-19 18:33] alexcrichton commented on #51648
Oh right yeah thanks for the prod @wesleywiser, I've opened https://github.com/rust-lang/rust/pull/56988 as it seems like the "best" way to go from here

[2018-12-19 18:33] alexcrichton commented on #56612
I've opened https://github.com/rust-lang/rust/pull/56988 to apply such a hammer to libstd as well

[2018-12-19 18:34] nikomatsakis commented on #56670
Hmm, I am not able to reproduce any ICE on a currently nightly. So far I have tried:

- nightly-2018-12-18
- nightly-2018-12-08
- nightly-2018-12-07

with no dice. @Patryk27 are you still seeing this problem? If so, can you run `rustc -vV` and tell me what you see?

[2018-12-19 18:40] TheBlueMatt commented on #43610
This appears to still be the case on latest stable/nightly installed by rustup even on POWER9 ie with full latest altivec support. Running cargo fails with Illegal Instruction. The debian packages work completely fine though, so I guess no one uses rustup cargo on Power?

[2018-12-19 18:41] alexreg commented on #56670
Looks like PR #56863 fixed it?

[2018-12-19 18:44] joshtriplett commented on #56975
cc @jsakkine-intel

[2018-12-19 18:45] TheBlueMatt commented on #43610
BT:

Program received signal SIGILL, Illegal instruction.
0x0000000100000004 in ?? ()
(gdb) bt
#0  0x0000000100000004 in ?? ()
#1  0x0000000100887170 in rand_pool_acquire_entropy ()
#2  0x0000000100886858 in rand_drbg_get_entropy ()
#3  0x000000010088415c in RAND_DRBG_instantiate ()
#4  0x00000001008854d8 in drbg_setup ()
#5  0x00000001008855f8 in do_rand_drbg_init_ossl_ ()
#6  0x00003ffff7f5ed48

[2018-12-19 19:25] anderspapitto opened #56991 "rustc panic with inline asm"
I hit a compiler panic with some inline asm (which is likely itself buggy at the moment, but of course that shouldn't crash the compiler)

[code]

[code]

[code]

[2018-12-19 19:38] shepmaster commented on #29722
Recent progress on [cross-language LTO](https://github.com/rust-lang/rust/issues/49879) makes me wonder if some of the downsides of this avenue can be reduced, effectively inlining this "external assembly blob".

[2018-12-19 19:56] nikic commented on #56991
Could you please also provide the inline asm that triggered this panic?

[2018-12-19 20:23] SoniEx2 commented on #54520
The problem is that Pattern is nightly-only, and the docs aren't written to reflect Pattern matching but instead give examples based on concrete impls.

[2018-12-19 20:31] newpavlov commented on #29722
You can compile and link `.s` and `.S` files directly (see for example this [crate](https://github.com/RustCrypto/asm-hashes/tree/master/sha1)), which in my book are far enough from C. :)

[2018-12-19 20:35] pnkfelix commented on #46702
discussed at A-NLL meeting. assigning to niko. removing I-nominated.

[2018-12-19 20:46] tromey commented on #54614
There were LLVM patches, but they all went in upstream first.  They involved additional APIs, so if your LLVM did not have these changes, then I would expect the build to fail.

Can you get a stack trace at the point of failure?  That might help.

There was also https://github.com/rust-lang/llvm/pull/128 (also upstream).  My recollection is that this bug didn't cause crashes, but you might check t

[2018-12-19 20:46] shepmaster commented on #29722
I believe this is not currently feasible as cross-language LTO relies on having LLVM IR and assembly would not generate this.

[2018-12-19 20:47] anderspapitto commented on #56991
@nikic the asm block looks like this

[code]

[2018-12-19 21:01] nikomatsakis opened #56993 "region tests incorrectly passing with NLL enabled"
The following tests pass under NLL, but ought not to (in some cases, light editing is required to observe that):

- [`ui/regions/regions-assoc-type-in-supertrait-outlives-container.rs`](https://github.com/rust-lang/rust/blob/master/src/test/ui/regions/regions-assoc-type-in-supertrait-outlives-container.rs), [modified variant](https://gist.github.com/nikomatsakis/71755772d41d86daa871a6acc52b506d)
-

[2018-12-19 21:07] Patryk27 commented on #56670
Yeah, it seems to be fixed now - thanks!

[2018-12-19 21:07] #56670 closed

[2018-12-19 21:16] clarfon opened #56995 "Tracking issue for DoubleEndedIterator::nth_back"
PR: #56802

Currently, none of the standard adapters specialise this except for `Rev`, which trivially swaps `nth` and `nth_back`. These should probably be added before this feature is stabilised, and it's probably a good idea to check if `nth` should be specialised for any of these adapters too.

Additionally, the standard collection iterators should specialise this where appropriate.

[2018-12-19 21:17] clarcharr commented on #56995
Ping @alexcrichton (or whomever) to add the appropriate labels to this.

[2018-12-19 21:46] clarcharr commented on #49817
This should be fixed by #55437.

[2018-12-19 21:46] #49817 closed

[2018-12-19 21:52] vi opened #56997 "LLVM crash: Xargo, codegen-units=1, -C panic=unwind, "panic_abort" crate"
Simple Xargo demo:

`src/main.rs`

[code]

`Cargo.toml`

[code]

`Xargo.toml`

[code]

Works: builds, runs.

[code]

Hovewer, if instead specify `codegen-units = 1`, it fails to build:

[code]

[code]

----

Some digging:

[code]

`strace -f rustc ...` shows `SIGSEGV` somewhere when doing `-C codegen-units=1`, but not when doing `-C codegen-units=2`.

Last `RUST_LOG=info` message before exiting in

[2018-12-19 22:34] aloucks commented on #56839
https://github.com/PistonDevelopers/glfw-rs/pull/394

[2018-12-19 22:34] #56839 closed

[2018-12-19 22:46] sinkuu commented on #56776
The problem is on old nightly. #55376

[2018-12-19 22:47] ehouarn-perret commented on #44930
Am I wrong or variadic functions could be used to replace some macros like println / vec etc.?

[2018-12-19 22:51] #56726 closed

[2018-12-19 22:55] alexreg commented on #44930
@ehouarn-perret Yes, they certainly could be. That may happen after they're implemented and stabilised... but anyway this feature is slightly different: it's about C-compatible variadic functions (`VaList`), not Rust-native variadics. The intention is to implement both in time.

[2018-12-19 22:56] hdhoang commented on #33418
I have implemented & pushed your method. It did lead to a better experience with the tests!

I have only added a small note to remove the whole negative bound. I will need some more time to target `!Sized` in particular with a specific message guiding towards `?Sized`.

[2018-12-19 23:13] estebank commented on #33418
Looked at your branch and it already looks quite nice! A couple of nitpicks before you post a PR:

https://github.com/hdhoang/rust/blob/25f7ddc42365bb0a27833797a2eec8172b7b56ec/src/libsyntax/parse/parser.rs#L5086

You're not actually using the `!`'s span, so you can just store a boolean there.

https://github.com/hdhoang/rust/blob/25f7ddc42365bb0a27833797a2eec8172b7b56ec/src/test/ui/parser/issue-3

[2018-12-19 23:35] cramertj commented on #48594
Ping @withoutboats @nrc @joshtriplett :) -- last lang meeting we discussed the possibility that y'all might try to rewrite some of the examples given above and show us how you'd structure them.

[2018-12-20 00:02] nikic commented on #56505
The aforementioned bug has been fixed by https://github.com/llvm-mirror/llvm/commit/c3f9ab51440d34cbe3e113ae40c847f380a96845, you might want to try cherry-picking it.

[2018-12-20 00:16] dlrobertson commented on #44930
@ehouarn-perret as @alexreg mentioned this work is purely for C variadic functions, so it is only valid for `extern "C"` functions. I recently started researching variadic generics. I think that is what you're looking for.

[2018-12-20 01:32] #53843 closed

[2018-12-20 02:09] SoniEx2 commented on #54520
All of those cases are used once or only a few times, and as such are allowed to rely on concrete stuff for the docs.

The problem with Pattern is that it's used MANY times...

Hmm. I wonder if we could boil everything down to one or two core Pattern-using things and describe everything else as a combination of them, so that inlining Pattern's docs only needs to happen a handful of times...

[2018-12-20 02:50] infinity0 commented on #54614
Looks like it's segfaulting inside LLVM:

<details>

[code]

</details>

We don't have debugging symbols for this particular build of LLVM unfortunately but I've asked the maintainer if he could supply them for the next b uild.

[2018-12-20 02:51] scottmcm commented on #56686
PR is r+'d, so I turned this into a tracking issue.

[2018-12-20 02:52] infinity0 commented on #54614
FWIW the versions are:

[code]

[2018-12-20 03:13] Zoxc commented on #56510
Here are just number for `run-pass` on 8 cores / 16 threads on Windows 10 v1809:

Without the `shell32` dependency:
333.012 325.587 320.650

With `shell32`:
310.852 319.165 323.645

[2018-12-20 03:22] kex103 opened #57000 "BufReader: appending more data to buffer"
Unless I'm missing something, after a fill_buf call, there isn't a way for me to request the BufReader to read again, appending the results to its internal buffer.

Would it be feasible to add a function like "append_buff" to the BufRead trait? Or to BufReader directly? This would call self.inner.read, passing to it the subslice of the remaining internal buffer self.buf.

The motivation for this i

[2018-12-20 03:35] mqudsi opened #57001 "Poor errors for common enum matching mistake"
In case a enum variant is used as the name of a pattern catch-all variable (multiple times?), it should be interpreted as a warning or an error with the understanding that the user intended to match against an enum variant and not define (unreachable) code that simply assigns a variable name to whatever the original content was:

[code]

Knowing there's an error here, it's immediately obvious what

[2018-12-20 03:40] Mark-Simulacrum commented on #56510
For what it's worth, though there's no good way to differentiate PR-to-PR due to very high variance, it does look like there was a recent regression in PR build times:

﻿﻿﻿
<img width="1409" alt="image" src="https://user-images.githubusercontent.com/5047365/50262391-52465c80-03ce-11e9-8b17-b8ec14f589b5.png">

[2018-12-20 03:59] acmcarther commented on #56971
I'm not sure if this is the main thread of this issue, but hopefully an observer here can redirect me if not.

Is [this comment](https://github.com/rust-lang/rust/issues/56971#issuecomment-448471533) saying that removing the index was deliberate? That index is the suggested means of finding older releases on the [other installation methods](https://forge.rust-lang.org/other-installation-methods.ht

[2018-12-20 04:21] fschutt commented on #42327
Repost from https://github.com/rust-lang/rust/issues/31436#issuecomment-441408288 because I wanted to comment on this, but I think that was the wrong issue:

Essentially, a situation I have is callbacks in a GUI framework - instead of returning an `Option` or `Result`, they need to return a `UpdateScreen`, to tell the framework if the screen needs to be updated or not. Often I don't need logging a

[2018-12-20 04:32] jethrogb commented on #56971
@estebank T-doc? Should be T-infra

[2018-12-20 04:53] Zoxc commented on #56510
I see that the CPU usage averages about 40% when running `run-pass`, so maybe we'd see some real improvements if we got rid of `shell32.dll` in the compiler too. Something is certainly holding things back.

[2018-12-20 05:13] kex103 commented on #57000
Thanks for the response!

Yes, this proposed function won't help messages that are larger than the buffer size.

However, correct me if I'm wrong, but fill_buf doesn't necessarily fill up the buffer, despite the name. It just makes one read call, which needs to be consumed before it will read again

So my first fill_buf call will populate some of the buffer, but the rest of the request is not read

[2018-12-20 05:57] Aaron1011 commented on #48225
@pnkfelix: Running `RUSTFLAGS='-Z borrowck=mir' cargo +nightly buil` still reproduces the original error.

[2018-12-20 06:09] mikeyhew commented on #56806
@sunchao thanks for reporting this!

@varkor thanks, that seems like the way to go. Since the function returns an `Option`, I'll just let it return `None` as usual.

[2018-12-20 06:56] AliceLanniste opened #57003 "query stack during panic on static string literal"
I writed this code
[code]
when I compile, the output is:
[code]
rustc:1.29.2

[2018-12-20 08:42] jsakkine-intel commented on #56975
Thanks. Interesting development. I haven't really followed Fortanix SGX stack development that closely. If I wanted to write a test program with this what would be the easy steps to get started?

[2018-12-20 08:55] Ploppz commented on #56653
Probably; recently I was able to update.

[2018-12-20 08:55] #56653 closed

[2018-12-20 09:41] leonardo-m commented on #57001
That's why you listen even to formatting warnings in Rust :-)

[2018-12-20 09:50] jonas-schievink commented on #57003
Please try this on the current stable release (1.31) and either provide the full source or a small example that reproduces this (I couldn't reproduce the problem)

[2018-12-20 09:58] #46589 closed

[2018-12-20 10:44] vi commented on #56997
[code]

[2018-12-20 11:10] abonander commented on #57000
@kex103 I created [buf_redux](https://crates.io/crates/buf_redux) as a more flexible alternative to the `std::io` buffered types. Take a look and let me know what you think.

[2018-12-20 12:07] hellow554 commented on #57001
Please update your compiler!

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=854ebdbaf6be00ddce5540b3bdaa1cc7)

[code]

[2018-12-20 12:12] hellow554 commented on #56923
https://github.com/rust-lang/rust/issues/54186

[2018-12-20 13:34] pnkfelix commented on #56611
visiting for triage. No change necessary to meta-data (still P-high, still fixed by PR #55994, which has not yet landed). But if anyone wants to have a go at factoring out a PR focused just on just fixing the ICE, the compiler team continues to be unopposed to such effort.

[2018-12-20 13:35] pnkfelix commented on #56350
okay PR #56282 was approved for beta backport, which I believe landed in PR #56930. Closing as fixed.

[2018-12-20 13:35] #56350 closed

[2018-12-20 13:37] pnkfelix commented on #56254
T-compiler triage: No movement in last week because I was distracted by other NLL stuff.

[2018-12-20 13:39] pnkfelix commented on #55471
T-compiler triage: assigning to self for looking into the oddity mentioned in the previous comment.

[2018-12-20 13:41] pnkfelix commented on #55465
T-compiler triage: I'll leave this open until the issue filer (he32) can confirm its fixed.

[2018-12-20 13:42] pnkfelix commented on #55396
T-compiler triage. PR #56351 landed, so closing this as fixed.

[2018-12-20 13:42] #55396 closed

[2018-12-20 13:43] oli-obk commented on #55471
I have addressed the default stack size problem with https://github.com/rust-lang/rust/pull/56813

[2018-12-20 13:47] oli-obk commented on #46702
I have recently run into this code. I'm not sure I'm doing the right thing though: https://github.com/rust-lang/rust/pull/56723/files#r241086396

[2018-12-20 13:53] glaubitz commented on #49773
@michaelwoerister @alexcrichton

@karcherm has had a look at the Rust sources and he found the problem rather quickly. Rust is hard-wiring the constants for the fnctls from glibc assuming they are constant across which they are not.

Compare:

and:

Rust is trying to call "Set Lock" and uses function control number 6. But that's "F_SETOWN" on sparc64 which expects a PID as a parameter which is why

[2018-12-20 13:55] nagisa commented on #56923
I‘m gonna close this as a duplicate of #54186 as that seems to be pretty much exactly the same thing, with a different operator.

[2018-12-20 13:55] #56923 closed

[2018-12-20 13:58] glaubitz opened #57007 "File-locking API uses incorrect fnctl constants on at least sparc64"
As described in https://github.com/rust-lang/rust/issues/49773#issuecomment-449006397, the file-locking API uses incorrect fnctl constants on sparc64.

Compare the glibc headers on sparc64:

and what's in the rust sources:

Would there be a mechanism to sync the constants directly with the glibc sources, i.e. "using the headers"?

@jrtc27 @karcherm @psumbera @michaelwoerister @alexcrichton

[2018-12-20 14:05] michaelwoerister commented on #49773
Awesome find, @karcherm & @glaubitz!

[2018-12-20 14:12] pnkfelix commented on #56903
triage: P-high.

[2018-12-20 14:16] jonas-schievink commented on #57007
I guess the mechanism would be "use the `libc` crate"

[2018-12-20 14:20] pnkfelix commented on #56611
okay, in fact, this was fixed in nightly by the factored out PR #56850.  The only questions are about how far to  backport #56850. Leaving this open until any backporting questions are resolved.

[2018-12-20 14:22] pnkfelix commented on #56899
T-compiler triage: P-high

[2018-12-20 14:30] glaubitz commented on #57007
I assume the correct code would be:

[code]

[2018-12-20 14:30] karcherm commented on #57007
Also don't forget https://github.com/rust-lang/libc/blob/master/src/unix/notbsd/linux/other/mod.rs containing struct flock. As `rustc_data_structures` is already using the `libc` crate in that block, I strongly recommend to avoid to redefine either the structure or the constants in `flock.rs`, at least for the linux case.

[2018-12-20 14:31] dcreager commented on #47989
I was recently bitten by this bug, trying to link multiple internal helper C++ libraries into a Rust executable.  I was able to put together a [minimal repro](/dcreager/rust-cc-linking): on Linux, one of the subpackages builds successfully, and one gets linker errors, and the only difference between the two is the order in which the helper libraries are built and added to the linker command line.

[2018-12-20 14:33] pnkfelix commented on #56736
T-compiler triage. This issue is tagged as a regression but no T-label, so no team has default responsibility for it. Based on the comments in the issue here, I do not think T-compiler is in a position to fix this; it seems to be probably a T-infra problem?

[2018-12-20 14:34] karcherm commented on #57007
This *will* break, because we lose the dummy field `l_sysid`, but I recommend to solve this a different way, like defining a `make_flock` function that adds `l_sysid = 0` for the BSD case.

[2018-12-20 14:44] michaelwoerister commented on #57007
Could this be fixed in the `libc` crate itself?

[2018-12-20 14:44] jrtc27 commented on #57007
Note that `mips32` (both o32 and n32; mips64 ie n64 is fine) is the odd-one-out in Linux and *does* have `l_sysid`: https://github.com/rust-lang/libc/blob/8565755356f23baf6b2df933ff734ce2f00c8d9b/src/unix/notbsd/linux/mips/mips32.rs#L254.

[2018-12-20 14:47] michaelwoerister commented on #57007
That sounds like it should already work.

[2018-12-20 14:49] michaelwoerister commented on #57007
The code in `rustc_data_structures/flock.rs` is very old, from when we couldn't use any external crates in the compiler itself. I agree that we should switch the implementation to just using `libc`.

[2018-12-20 14:49] karcherm commented on #57007
And actually, it does not matter at all for us, because in the FreeBSD documentation, it says

So this field is an *output* field used by an operation not used at all here. If it's not a syntax error to *not* specify it, we can just ignore its existence.

[2018-12-20 14:55] michaelwoerister commented on #57007
We can handle this via either `#[cfg!(...)]` or `std::mem::zeroed()`. It would be even better if the struct implemented `Default` but I don't think it does.

[2018-12-20 14:56] illicitonion opened #57009 "Type inference fails if less specific call appears before more specific call"
In this code:
[code]

`v` _must_ be a `Vec`, because it's passed to `consume_vec`. This is properly inferred if there is no call to `.len()` before the call to `consume_vec`, or if the call to `.len()` happens after the call to `consume_vec`.

The call to `.len()` doesn't refute `v` being a `Vec`, because `Vec` has a `len` method, so I would expect this code to work without additional type ascript

[2018-12-20 15:07] pnkfelix commented on #56867
triage: assigning to @nagisa

[2018-12-20 15:08] nagisa commented on #56867
@stjepang can we assume that https://github.com/crossbeam-rs/crossbeam/pull/268 fixes the issue in crossbeam?

[2018-12-20 15:08] alexreg commented on #56522
This is just going to be a normal lint now, so closing.

[2018-12-20 15:08] #56522 closed

[2018-12-20 15:12] jonas-schievink commented on #57009
Duplicate of https://github.com/rust-lang/rust/issues/56952

[2018-12-20 15:19] tromey commented on #54614
That crash seems familiar.  Maybe it was the patch I mentioned earlier.  I looked at upstream and apparently that patch did not make it to the 7.0 branch :-(

[2018-12-20 15:22] #55640 closed

[2018-12-20 15:22] #56622 closed

[2018-12-20 15:22] stjepang commented on #56867
@nagisa Unfortunately, it doesn't.

That PR only affects crossbeam-skiplist, not crossbeam-channel (whose doctests are failing).

[2018-12-20 15:31] alexcrichton commented on #57007
@michaelwoerister is spot on that these were added to rustc way before we could depend on libc and crates.io crates. The `libc` crate is the source of truth for these constants, and the `libc-test` crate in that repository is this sync with system headers

[2018-12-20 15:46] pnkfelix commented on #56927
discussed at T-compiler meeting. P-high, since this may be symptom of broader UB beyond the case outlined here.

[2018-12-20 15:49] pnkfelix commented on #56877
discussed at T-compiler meeting. P-high. assigning to self to make sure it doesn't get lost. (@nikomatsakis says "maybe we're close to a fix", which I assume is based on the comment thread here).

[2018-12-20 15:50] nagisa commented on #56927
cc @eddyb do you have any idea in what way could the bisected PR have broken things related to alignment?

The relevant PR here is https://github.com/rust-lang/rust/pull/54547

[2018-12-20 15:53] infinity0 commented on #56927
Since you guys don't run tests on sparc64, is there a way to write a test for this that crashes on x86-64? I originally told @glaubitz to ignore the sparc64 failures but it looks like it was good that he chased it down!

[2018-12-20 15:57] nagisa commented on #56927
We have codegen tests which do not depend on test being run (checks the generated LLVM-IR/Assembly/etc), and so can be run on any target.

[2018-12-20 15:58] nikomatsakis commented on #56899
Hmm, I am not able to reproduce. I am trying to build fingertips-0.2.1 with beta, nightly, etc, and all are presently successful.

[2018-12-20 15:59] nikomatsakis commented on #56899
Ah, I can reproduce with beta-2018-12-05, but not with beta.

[2018-12-20 16:05] pnkfelix commented on #56812
[Discussed](https://rust-lang.zulipchat.com/#narrow/stream/131828-t-compiler/subject/.2354818.20weekly.20meeting.202018-12-20/near/152265154) at T-compiler meeting.

We (or at least I) concluded that it would probably be satisfactory to have more prominent documentation as to the differences between the CI environment vs the out-of-box defaults from config.toml.example.
 * @nikomatsakis did provid

[2018-12-20 16:06] pnkfelix commented on #56812
Now that I have put up the above wishlist for the docs, I'll add that it was pointed out during the T-compiler meeting that perhaps T-infra would be a better team to tackle steps 1 and 2 above. Or at least step 2, in my opinion.

[2018-12-20 16:08] pnkfelix commented on #56812
renominating for discussion amongst T-infra members.

[2018-12-20 16:34] ehuss commented on #56812
A while ago I started (but did not finish) documentation for running CI images locally at https://rust-lang.github.io/rustc-guide/tests/intro.html#testing-with-docker-images.  I've learned a little more since then, and could fill it out some more, along with some docker basics.  But I'm by no means an expert on this, and so any input/help from others would be beneficial.

I think more detail in `c

[2018-12-20 16:39] jethrogb commented on #56975
@jsakkine-intel the toolchain is still in flux, the steps keep changing quite frequently right now. Right now, this should do it (if you have PSW & SDK driver installed):
[code]

[2018-12-20 16:40] wildarch commented on #56166
It seems this issue has been open for a while, is it still relevant? If so, I would like to take a shot at it :smile:.

[2018-12-20 17:18] RalfJung commented on #56166
Nobody has been working on this so far, so you are free to grab it. :)

@eddyb your mentoring is needed :D

[2018-12-20 17:24] SimonSapin commented on #56345
`str::lines` is already implemented as `self.split_terminator('\n').map(LinesAnyMap)`, with `LinesAnyMap` stripping one trailing `\r` if any. (So equivalent to `split_terminator` with a "`\r\n` or `\n`" pattern.)

I think this is subtle enough to be worth a dedicated API. Even if it was as simple as `split('\n')`, I think this is a common enough use case.

[2018-12-20 17:51] cramertj commented on #35121
https://github.com/rust-lang/rust/issues/49593 has now been fixed. This was the reason for the previous revert of stabilization. Previous stabilization report is [here](https://github.com/rust-lang/rust/issues/35121#issuecomment-360027186). Let's try this again!

@rfcbot fcp merge

[2018-12-20 17:52] cramertj commented on #33417
Would someone from @rust-lang/libs be willing to start FCP on this now that https://github.com/rust-lang/rust/issues/49593 has been fixed and [`never_type`](https://github.com/rust-lang/rust/issues/35121#issuecomment-449081795) is a candidate for stabilization once again?

[2018-12-20 17:53] SimonSapin commented on #35121
I think rfcbot might support more than one FCP in the same issue. Let’s open a new issue for this round of stabilization?

https://github.com/rust-lang/rust/pull/50121 not only reverted stabilization but also the fallback semantics. Is this something we want to revisit?

[2018-12-20 17:55] cramertj opened #57012 "Stabilize never_type *again*"
https://github.com/rust-lang/rust/issues/49593 has now been fixed. This was the reason for the previous revert of stabilization (#50121). Previous stabilization report is [here]. Let's try this again!

@rfcbot fcp merge
cc https://github.com/rust-lang/rust/issues/35121

(pnkfelix notes :the previous issue discussing stabilization of `!` was #48950; its possible the `[here]` above was supposed to l

[2018-12-20 17:57] SimonSapin commented on #35121
The remaining unchecked checkbox in the issue description is:

We can add impls later, can’t we? Or is this a blocker?

[2018-12-20 17:57] cramertj commented on #35121
@SimonSapin Opened https://github.com/rust-lang/rust/issues/57012. I'd expect that the fallback to `!` would be enabled again as part of this change, yes (though let's discuss that on the stabilization issue).

[2018-12-20 17:57] cramertj commented on #57012
@rfcbot fcp merge

c'mon, rfcbot!

[2018-12-20 17:59] robmv opened #57013 "New Rust 2018 macro use syntax force the need to add internal macros (if the used macro require them)"
When adding a `use` for an external crate macro, that references other macros, the compiler force to add all internal macros, for example, using the [error-chain](https://crates.io/crates/error-chain) crate

[code]
The following error is shown:

[code]
The only way to fix this is to add all macros to the macro use:

[code]
Many of these macros are not for external use, so this new Rust 2018 syntax

[2018-12-20 18:11] o01eg opened #57014 "Rustc_driver cann't correctly find codegen dirs with multiple subfolders in libdir."
When rust compiled and installed with multiple subfolders in libdir it cann't correctly found directory with codegen-backends. See https://github.com/rust-lang/rust-clippy/issues/3565

[code]
https://github.com/rust-lang/rust/blob/master/src/librustc_driver/lib.rs#L302

It would be work if `rustc_driver` was placed in `/usr/lib64/librustc_driver-62d9b292bf74f4a6.so` so it get `/usr` as sysroot but

[2018-12-20 18:21] SimonSapin commented on #49593
Confirmed that the code below now compiles on `master`. (With a `unreachable expression` warning, but without ``error[E0277]: the size for values of type `dyn std::error::Error` cannot be known at compilation time`` like before.)

[code]

[2018-12-20 18:24] Centril commented on #54881
@Havvy Up for writing the stabilization PR?

[2018-12-20 18:25] #57001 closed

[2018-12-20 18:26] ashleygwilliams opened #57015 "attempting to address path clarity warnings for 2018 edition with StructOpt macro led to ICE"
**the code i tried:**
- https://github.com/ashleygwilliams/cargo-generate/pull/135
- noticed there was a typo, fixed it, still getting an ICE https://github.com/ashleygwilliams/cargo-generate/pull/136

**i expected:**
- cargo-generate/pull/135, to not compile and give an error about `structStructOpt` typo
- cargo-generate/pull/136, to compile (and no longer display 2018 warnings about path clarity

[2018-12-20 18:30] ashleygwilliams commented on #57015
i also get this on stable and earlier nightlies, if that is at all useful.

[2018-12-20 18:31] ashleygwilliams commented on #57015
(also please feel free to let me know if i can provide any more info- this is my first time filing a compiler bug! thanks for all your hardwork and help <3)

[2018-12-20 18:40] SimonSapin commented on #57012
@rfcbot concern impls

The remaining unchecked checkbox in the description of https://github.com/rust-lang/rust/issues/35121 is:

Stabilizing `!` and then (in a) later (release cycle) adding a new impl of existing traits is not a breaking change, is it? If not, this doesn’t need to be a blocker and let’s mark this as resolved immediately.

If it is, let’s discuss it in this issue. Currently in htt