[2021-02-10 02:12] ehuss commented on #81948
Transferred to rust-lang/rust.  Linking and sanitizers are handled by rustc.

[2021-02-10 02:32] dtolnay opened #81949 "Bootstrap assumes llvm-dwp is sibling of llvm-config instead of inside bindir"
The incorrect way: assuming `llvm-dwp` exists in the parent directory of [the path provided for `llvm-config`](https://github.com/rust-lang/rust/blob/87bacf22ec93a9479dbd829de5d1917c16b17255/config.toml.example#L599). In general these two paths cannot be assumed to have any relationship to one another.

https://github.com/rust-lang/rust/blob/87bacf22ec93a9479dbd829de5d1917c16b17255/src/bootstrap/c

[2021-02-10 02:36] Mark-Simulacrum commented on #81949
Good catch! I wish we had tools to lint for this kind of thing in bootstrap, or at least some kind of testing; we consistently get this wrong quite often unfortunately.

I'd be happy to see a PR to fix this. Otherwise it'll likely take some time for me to get to it.

[2021-02-10 02:51] henryboisdequin commented on #81447
@rustbot claim

[2021-02-10 02:54] joshlf commented on #74985
Is there any intention of providing the reverse versions of these functions?

[2021-02-10 03:26] Firstyear opened #81953 "Missing documentation/feature - changing global_allocator in cargo test"
Hi,

From https://github.com/rust-lang/rust/blob/master/library/core/src/alloc/global.rs#L5 this mentions how to use a different global allocator in the main of a binary. It would be beneficial to be able to use the same allocator in tests of that binary, or associated libraries and modules.

Can this documentation be extended to demonstrate how cargo test can use an alternate allocator? Alternate

[2021-02-10 03:28] NightZan999 commented on #81953
Yeah I was also looking for the actual same thing.

[2021-02-10 03:41] cuviper commented on #81949
I think this is also something that dist should ignore when building with external LLVM, although I suspect rust's support for split DWARF won't handle that well as-is.

[2021-02-10 04:06] light4 commented on #80735
I run it without error on archlinux. Tools installed by `pacman -S risc-v`.

`.cargo/config.toml` as follow:

[code]

However, when I change the `linker` to `riscv64-linux-gnu-ld`, cargo build error:
[code]

Can you change the linker to `riscv64-linux-gnu-gcc`, and try again?

[2021-02-10 04:40] light4 commented on #80735
From SO: `Yeah, it's better to let GCC handle the linking, LD has no idea how to find the required libraries.`

https://stackoverflow.com/questions/64603070/risc-v-linker-cannot-find-lgcc

[2021-02-10 04:48] ehuss commented on #81953
Can you clarify why it doesn't seem the allocator is not used in your test?  If you place a `#[test]` function in `main.rs`, and run `cargo test`, that test should use the global allocator defined in `main.rs`.

If you have a `lib.rs`, then you can move the `#[global_allocator]` to the `lib.rs`, and all Cargo tests (and binaries) should inherit that.  The allocator needs to be defined once (and on

[2021-02-10 04:50] Firstyear commented on #81953
@ehuss I think what I'm asking is that that behaviour should be explicitly documented in the global allocator trait page as today it's ambiguous to how you use a custom allocator in tests. Alternately, it could be added to https://doc.rust-lang.org/edition-guide/rust-2018/platform-and-target-support/global-allocators.html

[2021-02-10 06:10] JohnTitor commented on #81025
So let's close this assuming so. @Velrok Feel free to re-open if you still encounter it.

[2021-02-10 06:10] #81025 closed

[2021-02-10 06:21] #81907 closed

[2021-02-10 06:50] lovasoa commented on #81928
Where is the JavaScript source for the the cargo documentation ? Maybe I can attempt a PR myself?

[2021-02-10 07:39] tgnottingham opened #81957 "x.py doesn't limit job concurrency effectively"
tl;dr -- I believe Cargo `-jN` limits you to `N` concurrent codegen workers, while x.py `-jN` limits you to `N * number of CPUs` concurrent codegen workers, which is rough for memory usage during bootstrap. E.g. on an 8 CPU system, `-j4` would not limit you to 4, but to 32 concurrent codegen workers.

---

With Cargo, my understanding is that `-j4` limits you not only to compiling at most four cra

[2021-02-10 08:18] matklad commented on #74773
TOCTOU: stabilization rules changed a bit in the meantime, see https://github.com/rust-lang/rustc-dev-guide/pull/1036/files#diff-c41e6c5c33d6960efeff23f2f54c1d948ea73f64d604deda521e93ae0b4bd79bR75?

@m-ou-se could you kick an FCP here based on [this excellent summary](https://github.com/rust-lang/rust/issues/74773#issuecomment-743286554)?

[2021-02-10 08:31] Eligioo opened #81958 "Failed to process buffered lint"
### Code
I ran `cargo check` on the following Rust project: https://github.com/nimiq/core-rs-albatross/tree/e7205ccd6fc9a481018dd01a2395f13a84b0d3bd, which tries to compile the `libp2p-mdns` crate.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-10 09:08] ivan770 commented on #81958
Duplicate of #81531

[2021-02-10 09:15] #81958 closed

[2021-02-10 10:12] WaffleLapkin commented on #81944
Hm, why there are no unresolved questions yet? It doesn't seem that the questions from the implementation PR were resolved:
- [ ] Should we consider changing the name? `split_at_spare_mut` doesn't seem like an intuitive name
- [ ] Should we deprecate `Vec::spare_capacity_mut`? Any usecase of `Vec::spare_capacity_mut` can be replaced with `Vec::split_at_spare_mut` (but not vise-versa)

[2021-02-10 10:41] 0yoyoyo commented on #81650
Should I just remove wrong `+ 'a` in the suggestion? In this case, we have to add explicit lifetime to `Scope` to resolve the error.
like this:

[code]

Just removing `+ 'a` is a little confusing?

[2021-02-10 10:45] tmiasko commented on #81278
The nightly-2021-02-10 is the first build that avoids the issue. The compilation time is now ~1s rather than >60s (I was testing with all dependencies removed, and NaiveDateTime & Decimal fields replaced with u64, since they weren't essential part of the issue). The original problem remains.

@rustbot modify labels +A-incr-comp

[2021-02-10 10:58] osa1 commented on #81943
The problem is we look at the macro-expanded code when generating this suggestion, which looks like this:

[code]

Note that there are braces around `tmp` here. In this case adding a semicolon *does* work. So in that sense the suggestion is correct.

The problem is it's looking at macro-expanded code and making the suggestion based on that.

I can think of a few ways of improving this error:

- No

[2021-02-10 11:21] m-ou-se commented on #74773
Has this question been resolved yet?

[2021-02-10 11:22] Arnaz87 opened #81960 "Cycle in impl Self in associated function"
I tried this code, in the playground:

[code]

In all of the versions, the same thing happened. A compiler error:

[code]

I guess for best reference, this is the beta version used in the playground the time I tried, but it happened in all stable, nightly and beta.

[code]

and stable:

[code]

I needed this code for an attribute macro, which would wrap an associated function, and reimplement the

[2021-02-10 11:26] matklad commented on #74773
I would think so (by https://github.com/rust-lang/rust/issues/74773#issuecomment-737216336):

* it complicates the common case.
* other pattren based API ('find`, `split`) don't return the range matched by the pattern.

[2021-02-10 11:27] m-ou-se commented on #74773
@rfcbot merge

[2021-02-10 11:50] jonas-schievink commented on #81960
Also happens with just `impl Self {}` by itself. Not a bug, just a bad diagnostic.

[2021-02-10 12:10] apiraino commented on #81886
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381886.20rustc.20unwraps.20on.20a.20.60None.60.20value.20in.20index_hir) and removing `I-prioritize`.

[2021-02-10 12:11] apiraino commented on #81920
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381920.20Thread.20'rustc'.20panicked.20at.20'Stack.20should.20be.20empty.3A.20f.E2.80.A6) and removing `I-prioritize`.

[2021-02-10 12:12] Mark-Simulacrum commented on #81957
I'm not sure if there's anything we can do - to my knowledge, x.py isn't doing anything interesting here, we just pass -j down to Cargo.

If you can provide instructions to observe this or detect it somehow, then there may be more that we can do. It's worth noting that I expect each rustc to start roughly the same number of threads as codegen units, it's just that they should all immediately stop

[2021-02-10 12:14] lcnr opened #81961 "GAT: incorrect suggestion on missing lifetime"
[code]
results in the following error:
[code]
Note that we suggest `<T as Foo>::Assoc<'a3>` here, which is missing a comma.

[2021-02-10 12:40] apiraino commented on #81051
Thank you @moxian so much for the investigation work!

Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381051.20Compilation.20of.20some.20crates.20is.20broken.20starting.20with.20n.E2.80.A6) and removing `I-prioritize`.

[2021-02-10 12:48] arniu opened #81962 "How about renaming `Arc::{increment,decrement}_strong_count` to `Arc::strong_count_{increment,decrement}`?"
According to Cambridge Dictionary, [increment](https://dictionary.cambridge.org/dictionary/english/increment) and [decrement](https://dictionary.cambridge.org/dictionary/english/decrement) both are nouns.

The naming of `Arc::{increment,decrement}_strong_count` is weird.
How about renaming `Arc::{increment,decrement}_strong_count` to `Arc::strong_count_{increment,decrement}`?

[2021-02-10 12:56] #81582 closed

[2021-02-10 12:56] #81583 closed

[2021-02-10 12:59] apiraino commented on #81804
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381804.20Thread.20'rustc'.20panicked.20at.20'internal.20error.3A.20entered.20.E2.80.A6) and removing `I-prioritize`.

[2021-02-10 13:01] henryboisdequin commented on #81801
The fix to this would be pointing to `fn foo<'a, T1: X<Y = T1>>(t : T1) -> T1::Y<'a>` and emmiting the error there right?

[2021-02-10 13:33] apiraino commented on #81827
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381827.20rustc.20crashed.20when.20compiling.20the.20crafted.20input) and removing `I-prioritize`.

[2021-02-10 13:37] Eh2406 commented on #81928
The only reference to localStorage is in: https://github.com/rust-lang/rust/blob/c4e33b51c1a2d5e599b949fa3006467b88df253a/src/librustdoc/html/static/storage.js

[2021-02-10 13:41] apiraino commented on #81920
I wonder if this is close enough to #81886 and #81845 to be considered duplicate

[2021-02-10 14:02] osa1 commented on #81200
Thanks @hermanventer, that's very helpful. I was able to run the tests successfully using the master branch, but if I use my stage 1 build with your branch some of the tests fail, and the backtraces include `write_mir_pretty` so I'm guessing those failing tests are reproducers for this issue.

[2021-02-10 14:18] jyn514 commented on #81899
cc @lcnr

[2021-02-10 14:33] LeSeulArtichaut commented on #81899
Just to clarify, this issue is not due to #79135, the `min_const_generics` stabilization just allowed code with const generics to run into this. @memoryruins's MCVE ICEs before #79135 and shows that this is a borrowck bug not related to const generics

[2021-02-10 14:59] aidanhs commented on #80753
I've got an inventory of the rust-lang-ci2 bucket. Observations:
 - there are three 'categories' of gz
    1. `rustc-builds-alt/.../*nightly*.gz` - ~50k
    2. `rustc-builds/.../*nightly*.gz` - ~500k
    3. beta variants of i and ii - ~20k
    4. version numbered variants of i and ii - ~3k
 - we're still uploading beta .gz files (but not release ones)

[2021-02-10 15:18] raphaelcohn commented on #81106
Great, something else that just breaks my code. Sigh.

[2021-02-10 15:18] camsteffen commented on #21906
I just ran into this and it really confused me for a while. I think a tip along the lines of "try changing the first borrow to an immutable borrow" would have helped me find a solution faster, at least in my case. Even though in retrospect that seems obvious...

<details>
<summary>Example</summary>

[code]
</summary>

[2021-02-10 15:37] varkor commented on #61334
I believe the compiler supports generic parameters in any order now, though the restriction is still enforced for now.

[2021-02-10 15:37] #61334 closed

[2021-02-10 15:52] nielx commented on #81585
More recent build seems to have fixed the issue.

[2021-02-10 15:52] #81585 closed

[2021-02-10 15:55] #79787 closed

[2021-02-10 16:00] slerpyyy commented on #81962
I don't think this is a problem with the std crate, but rather with the Cambridge dictionary.

The Cambridge dictionary might not be the best source if it comes to CS-specific vocabulary, because that's not what it's made for. It will also tell you that neither "[lock](https://dictionary.cambridge.org/dictionary/english/lock)" nor "[atomic](https://dictionary.cambridge.org/dictionary/english/atomi

[2021-02-10 16:02] apiraino commented on #81899
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381899.20Borrow.20checking.20fails.20in.20case.20a.20closure.20appears.20in.20a.E2.80.A6) and removing `I-prioritize`.

[2021-02-10 16:29] mahkoh commented on #80925
The labels are incorrect. Neither does this require nightly, nor is it related to const-eval. This is I-unsound on stable.

[2021-02-10 16:32] apiraino commented on #81845
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381845.20Thread.20'rustc'.20panicked.20at.20'expected.20.60NodeId.60.20to.20be.20.E2.80.A6) and removing `I-prioritize`.

[2021-02-10 17:25] cuviper opened #81967 "[1.50] `./x.py install doc` changed its default location"
I tried this command:

[code]

I expected to see files installed to `foo/usr/local/share/doc/rust/html`

Instead, I see files installed to `foo/usr/local/share/doc/html`

This worked on Rust 1.49, and I noticed the change in testing the Rust 1.50 pre-release.

I'm going ahead to call this stable-to-stable since 1.50 is imminent.
@rustbot modify labels: +regression-from-stable-to-stable -regression

[2021-02-10 17:27] calavera commented on #72110
@AlexApps99 that just landed in cargo's main branch:

Currently both lto and debug also support configuration using true for the highest level, and false for disabled.

https://github.com/rust-lang/cargo/commit/ab64d1393b5b77c66b6534ef5023a1b89ee7bf64

[2021-02-10 17:54] Areredify commented on #78586
@rustbot claim

[2021-02-10 18:22] the8472 commented on #81957
According to this [related zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/247081-t-compiler.2Fperformance/topic/LLVM.20thread.20use) rustc could perhaps use a threadpool that only ramps up on demand. Then if compilers are starved for job tokens they won't need to start additional threads.

Is it the threads themselves that are consuming memory? Have you measured the actual task u

[2021-02-10 18:24] Mark-Simulacrum commented on #81957
Yeah, in theory this is what we want but seems pretty clearly out of scope for *this* issue IMO; it's a hard challenge to get right, particularly given the blocking nature of the token acquisition we currently have to deal with.

[2021-02-10 19:11] Lokathor commented on #75243
I'm also blocked by this hitting stable.

[2021-02-10 20:17] Stupremee commented on #81946
Assigning `P-medium` as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381946.20Safe.20code.20%28ui.2Fissues.2Fissue-69225-SCEVAddExpr-wrap-fl.E2.80.A6/near/225825784) and removing `I-prioritize`.

[2021-02-10 20:19] #68354 closed

[2021-02-10 20:31] KodrAus commented on #62633
@rfcbot fcp close

We discussed this in the Libs meeting and decided against stabilizing these methods in favor of `assert!(option.is_none())`.

The reasoning was that all this method can do is either succeed with a `()` or panic, so is an assert, but that's already handled by the `assert!` macro.

[2021-02-10 20:31] nikomatsakis commented on #79735
We discussed this in the @rust-lang/lang meeting on [2021-02-09](https://github.com/rust-lang/lang-team/blob/master/minutes/2021-02-09.md) and we concluded that:

* We want `unsafe` to be required here, but that is covered by #80059 specifically.
* We don't want to settle whether `let _ = *ptr` is UB or not at this time, it doesn't seem urgent. In other words, it is presently considered UB, and we

[2021-02-10 20:33] leo60228 opened #81971 "Error messages can be ambiguous between types and type parameters"
Someone I know was learning Rust as a beginner. They defined a function like this:

[code]
This resulted in an error:
[code]
Based on this error, they attempted to add an `i32: From<T>` bound:
[code]
This leads to a different, very misleading error:
[code]
`#[warn(non_camel_case_types)]` can give a hint, but I think that the error message should stand on its own. In addition, they appear to have a

[2021-02-10 21:02] KodrAus commented on #21319
It'd be interesting to see a concrete example where having a re-usable thread builder would be useful. It doesn't actually carry much state itself. Otherwise, since we don't tend to have re-usable builders in the standard library we can probably close this.

[2021-02-10 21:17] davepacheco opened #81973 "compiler error refers to dependency's alias for a std trait"
I tried this code:

[code]

I expected to see an error like this:

[code]

Instead, I saw an error like this:

[code]

Note that the compiler is referring to `StdError` -- that's not a type in my code nor in scope where the error occurs.  I found that if I comment out the `use serde::Deserialize;` at the top, then the compiler refers to the trait as `std::error::Error` (as I'd expect).  serde does

[2021-02-10 21:20] AlecsFerra opened #81974 "Compiler panic using fn_traits"
### Code

[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=ebf16c8273c6076fd56838606a78cacc)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]
</p>
</details>

Note: I have the same issue even without a closure or by using the mut call

[2021-02-10 21:36] lcnr commented on #79356
from zulip: https://rust-lang.zulipchat.com/#narrow/stream/260443-project-const-generics/topic/lazy.20norm.20future.20compat/near/217760369
[code]

[2021-02-10 21:44] nikomatsakis commented on #80165
In our [2021-02-02](https://github.com/rust-lang/lang-team/blob/master/minutes/2021-02-02.md) meeting, the @rust-lang/lang team discussed this issue. We want to make decisions on the individual lints, but there is another interesting policy question: how to manage idiom lints in discussions going forward. I agree to write-up some of the pros/cons here. This may not be the right place for this comm

[2021-02-10 21:47] nikomatsakis commented on #80165
Having written the above comment, let me say how I see it -- I think a core question is **why do we keep supporting older editions?** Is it because we **want to** or because we **have to**?

To me, the reason is because we **have to**. If I had my druthers, everyone would move to the newer edition. But I know that there is extant code that won't be updated, so we keep support for the older edition

[2021-02-10 21:53] estebank opened #81976 "Detect intended out argument on mutability and lifetime errors involving fn args"
Given code like:

[code]

we [currently emit](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=dd257a6e7529f899a57540fe9fec3462):

[code]

We should detect cases like these and instead [suggest making `x: &mut String`](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=94c05485c82d5668d6edc7b422fcd646) which is the more likely desire:

[code]

[2021-02-10 21:54] the8472 commented on #81957
profiling `./x.py -j1 test library/core/`.

`rustc` itself runs sequentialy as expected.

![hotspot thread view, rustc](https://user-images.githubusercontent.com/1065730/107576031-e9934d00-6bf0-11eb-8611-8e75e97a5e07.png)

Only linking with `ldd` utilizes all cores, but that doesn't happen for most dependencies.

![hotspot thread view, ldd](https://user-images.githubusercontent.com/1065730/1075775

[2021-02-10 21:56] lcnr commented on #79356
the array len from the obligation does not have to be unevaluated.
[code]

[2021-02-10 22:05] estebank commented on #81976
_Sourced from https://twitter.com/SpikePuppet/status/1357242364520144898_

[2021-02-10 22:09] CraftSpider commented on #81974
Note: This is a known issue with type-checking generic rust-call fns, I fixed this same issue for non-generic cases a bit ago. The reason I didn't fix it at the time is that as far as I could tell, the only way to fix this in the generic case would have been to add a new kind of WF predicate, for 'is a tuple', which was out of scope for my fix. There may be a better way to do this for someone more

[2021-02-10 22:10] camelid opened #81977 "rustdoc: Show generic parameters for item being documented"
Currently, rustdoc does not display generic parameters for the item being documented:

![image](https://user-images.githubusercontent.com/37223377/107578979-4ec35000-6ba9-11eb-9ccc-a1b206278c5c.png)

This can be confusing because you will see generic parameters used that are never documented themselves. This is especially common with enums. As you can see in the image above, the variants section f

[2021-02-10 22:50] jonas-schievink commented on #81974
`"rust-call"` should just be removed in favor of lang items, I don't really see much value in fixing it since it only exists to make closures more efficient internally

[2021-02-10 22:53] camelid commented on #81895
I guess when I hear "illegal" it makes me think there's a memory issue. It's not very rational :)

[2021-02-10 23:19] estebank commented on #81887
A quick check in godbolt seems to show that this is not a regression.

CC @petrochenkov who might be interested in this.

[2021-02-10 23:21] tgnottingham commented on #81957
It's that there are more LLVM modules in memory at once. The main thread tries to codegen CGUs to unoptimized LLVM modules a bit ahead of time to anticipate the needs of the workers (who run optimization passes on the modules). The way everything works out, the more workers that exist at once, the more LLVM modules can exist at once, between those being worked on, and those that are queued up ahea

[2021-02-10 23:32] the8472 commented on #81957
That's `perf record` + https://github.com/KDAB/hotspot

[2021-02-10 23:34] estebank commented on #81960
Somewhat surprisingly a nested `impl Foo {}` is not a problem. This might be a reasonable side step for your macro for now. Modifying the item collection process to make this work might be workable, but it won't happen soon enough for your needs.

[2021-02-10 23:37] estebank commented on #81971
For the benefit of anyone learning Rust that might encounter this ticket while trying to understand how to fix their code, what is needed is to [constrain the type parameter with `Into<i32>` instead](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=e596a4883a3877f319ee36d1f7a035cb):

[code]

[2021-02-10 23:42] estebank commented on #81971
There are two different problems that need to be handled here. The first error is slightly misleading and can only be solved by knowing about the `From`/`Into` dichotomy, but the later is problematic because a new type parameter is masking the `i32` type. [In type errors we clarify what is happening](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a4d3010e5dcfdb27b8cc271cfd

[2021-02-10 23:43] leo60228 commented on #81971
For what it's worth, I believe this error actually came from https://stackoverflow.com/questions/66082378/how-to-add-trait-bound-to-a-non-generic-type (which was linked on [Reddit](https://old.reddit.com/r/rustjerk/comments/lggbkb/um_what_excuse_me_are_you_sure/)). I just assumed that they ran into the issue (it wasn't clear from context/phrasing). This isn't relevant to the issue itself, though.

[2021-02-10 23:44] oldwomanjosiah commented on #81870
Note: This specific instance of the bug did not reproduce on the latest nightly as of 2021-2-9

[2021-02-10 23:44] leo60228 commented on #81971
You could also write `fn test<T>(t: T) -> i32 where i32: From<T>`.

[2021-02-10 23:51] tgnottingham commented on #81957
Okay, nothing to see here. :)

The build of the `bootstrap` binary itself doesn't use the `-j` flag, and I was getting my information from that stage of the build. The stages after that do respect the `-j` flag.

Thanks folks. Closing.

[2021-02-10 23:51] #81957 closed

[2021-02-10 23:53] kamulos commented on #81948
To make this even more confusing:
- The `cc` linker invocation that fails with above error message is displayed by rustc
- When I manually copy it and try to repeat it I get the message `ld.lld: error: cannot find version script /tmp/rustcloZBIX/list`
- I then delete the `"-Wl,--version-script=/tmp/rustcloZBIX/list"` from the arguments and it compiles fine

[2021-02-11 00:22] jhpratt commented on #80165
Imo (2) and (4) are no-go's. (1) is what I've assumed what would happen for the 2018 lints — that is what this issue is for, of course. (3) also seems reasonable to me for the reasons that Niko stated. A warning is functionally a deprecation, and something like `dyn Trait` is objectively clearer on _any_ edition, so warning to avoid potential confusion seems reasonable. The same reasoning would ap

[2021-02-11 00:25] nagisa commented on #81923
I would suspect an issue in the linker or the loader first given this information. Especially given the fact that linking _did_ succeed (and so supposedly the symbols were resolved).

[2021-02-11 00:41] sfackler commented on #81923
Rustc tries to statically link to its own MUSL by default for that target, while your zlib may be dynamically linking to the system MUSL. Setting `-C target-feature=-crt-static` may fix that.

[2021-02-11 00:45] jyn514 commented on #81977
@camelid it's shown if you hit 'Show declaration'
![image](https://user-images.githubusercontent.com/23638587/107591355-75e54600-6bd8-11eb-8824-6d8bd08ea935.png). I think that should be expanded by default - did you changes something in settings.html?

[2021-02-11 00:53] henryboisdequin commented on #80853
@rustbot claim

[2021-02-11 00:58] jyn514 opened #81979 "rustdoc does not warn when linking to an item with no generated docs"
I tried this code:

[code]

I expected to see this happen: Rustdoc warns that the links will all be broken

Instead, this happened: Rustdoc gives no warning and generates HTML that looks bad:
![image](https://user-images.githubusercontent.com/23638587/107592146-361f5e00-6bda-11eb-9a58-4670becc2e79.png)

### Meta

`rustdoc --version`: rustdoc 1.52.0-nightly (9778068cb 2021-02-07)

[2021-02-11 01:05] jyn514 opened #81980 "Rustdoc: `#[doc(hidden)]` should not apply recursively"
I tried this code:

[code]

I expected to see this happen: Rustdoc generates docs for `S` but not `inner`, since the `pub use` does not have a `doc(hidden)` attribute.

Instead, this happened: Rustdoc doesn't generate docs for either (presumably because it applies `doc(hidden)` recursively).

Additionally, I tried this code:
[code]
but got a name resolution error:
[code]

Both of those combined me

[2021-02-11 01:06] jyn514 commented on #81980
Additionally, publicly re-exporting it under a different name doesn't work:
[code]

[2021-02-11 01:09] jyn514 commented on #81980
Ok, as a workaround I can mark other imports as `doc(inline)` and that works correctly.

[code]
I think rustdoc should inline these automatically if the original module has `doc(hidden)`.

[2021-02-11 01:14] jyn514 opened #81981 "Rustdoc does not warn when linking to a private associated item"
I tried this code:

[code]

I expected to see this happen: Rustdoc warns that `S::f` is private, the same way it would warn if `S` were private.

Instead, this happened: Rustdoc gives no warning and generates no link.

### Meta

`rustdoc --version`: rustdoc 1.52.0-nightly (9778068cb 2021-02-07)

[2021-02-11 01:18] estebank commented on #81650
@0yoyoyo ideally we would indeed suggest what you're proposing, but I can see how it might be hard. If the best we can do is change the structured suggestion with just a `help` note, let's leave this ticket open to eventually deal with the full  suggestion. In order to do the right suggestion you might have to look for all types in the parameter list and look for structs and traits with implicit (

[2021-02-11 02:05] 0yoyoyo commented on #81650
@estebank I agree it is difficult. And I think just removing `+ 'a` is enough in the scope of this issue. (I wanted to make sure whether you expect for me to make full suggestion.)
I'll create PR to remove wrong `+ 'a`.

[2021-02-11 03:18] camelid commented on #81977
Ah, I forgot about that feature. I still think there might be value in showing the generic parameters outside of the declaration section. Maybe it would help if it were syntax-highlighted...

[2021-02-11 03:20] khionu commented on #21319
My use case was to be able to spawn multiple threads with identical configurations and names. Atm, you have to wrap the builder with a function that creates the builder and calls spawn. Any library that spawns multiple threads automatically, including every async runtime that supports multiple threads, can use this.

Builders are good for two things: either branching logic in the construction proc

[2021-02-11 03:26] estebank opened #81985 "Better support for common const generic errors in item definition"
Given

[code]

[we currently emit](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=601e51cff8fc9e780c74d829f7f63f13)

[code]

[if we follow the suggestion, it will emit](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8dd7dbc09e6b3879bca992c432c550c4):

[code]

The [correct code would have been](https://play.rust-lang.org/?version=nightly&mode=debu

[2021-02-11 03:38] camelid opened #81986 "std docs settings page logo link goes to `test` crate"
I've just noticed a rather bizarre bug:

- Go to [doc.rust-lang.org/std](https://doc.rust-lang.org/std)
- Click the Settings gear
- Then click the Rust logo in the top-left of the page
- Observe that you have been taken to [doc.rust-lang.org/test](https://doc.rust-lang.org/test)
  (the docs for the `test` crate)

I'm guessing the issue is that the settings page is at `/settings.html` (because
the

[2021-02-11 04:00] camelid commented on #80853
Perhaps, but the bug this issue is about is this:

[code]

It says "`S` defined here", but actually it's *`thing`* that's defined there. Instead it should point to the definition of `S`.

[2021-02-11 04:06] g-w1 opened #81987 "Static musl hello-world segfaults on nixos"
I tried this code:

[code]

I expected to have it say hello world.

Instead, this happened:
[code]
### Meta

`rustc --version --verbose`:
[code]

I am on nixos 20.09.2812.f18fbc33930 (Nightingale)
`uname -a`: Linux dell 5.4.93 #1-NixOS SMP Wed Jan 27 10:47:55 UTC 2021 x86_64 GNU/Linux

</p>
</details>

[2021-02-11 04:41] jyn514 commented on #81986
Maybe because it's the last crate alphabetically?

Because it's the last crate documented. `test` depends on `std`.

[2021-02-11 04:41] jyn514 commented on #81986
Is this worth fixing?

[2021-02-11 04:44] camelid commented on #81986
It's certainly not high-priority, but I figure that we might as well track it so if someone wants to fix it they'll know about it :)

[2021-02-11 04:55] nashley commented on #70460
Looks like that attempt was abandoned: https://github.com/rust-lang/rust/pull/71360#issuecomment-657072894

[2021-02-11 07:02] petrochenkov commented on #81887
This looks like a same issue as https://github.com/rust-lang/rust/issues/56593 linked above, or at least it has the same underlying reasons.
Glob imports from a module are not always properly updated when a macro is expanded in that module.

[2021-02-11 08:39] nospam3089 commented on #79558
I was unable to reproduce this with 1.49.0, and agree it does indeed look very similar to [79438](https://github.com/rust-lang/rust/issues/79438).

I would suggest @mzanrosso, the ticket owner, to verify and either close this ticket or mark it as a duplicate as applicable.

[2021-02-11 09:49] lcnr commented on #81985
wrote mentoring instructions on zulip: https://rust-lang.zulipchat.com/#narrow/stream/260443-project-const-generics/topic/type.20param.20provided.20where.20const.20was.20expected

[2021-02-11 09:53] b-naber commented on #81801
Yes.

[2021-02-11 10:43] apiraino commented on #81839
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381839.20.22DefId.20isn't.20local.22.20ICE) and removing `I-prioritize`.

[2021-02-11 10:51] apiraino commented on #81844
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381844.20thread.20'rustc'.20has.20overflowed.20its.20stack.20(when.20using.20.E2.80.A6) and removing `I-prioritize`.

[2021-02-11 10:54] apiraino commented on #81967
labeling to `T-infra` as per sibling PR #80797

[2021-02-11 12:22] rylev commented on #80165
I've gone through all the "warn-by-default" lints and seen which ones might make sense to promote to deny (usually the ones labeled as future incompatible).

Note: a few lints that had been previously discussed have been removed from the list as they were "allow-by-default" and in my opinion we should promote them first to "warn-by-default before then possibly moving to "deny-by-default" (see @nik

[2021-02-11 12:33] rylev commented on #80165
@nikomatsakis A few aspects that are missing from your analysis:
* Warnings can be introduced at any time. How much *time* must pass before the pattern in question is denied by default in the latest edition. (i.e., is it acceptable to introduce a lint that is warn-by-default in older editions and a deny-by-default in a new edition at the exact same time? Or should users in older editions be made a

[2021-02-11 14:23] nikomatsakis commented on #80165
@rylev

My opinion:

Yes, this was explicitly the goal as described in the RFC.

First, future compatibility warnings are never *mandatory*. They are advisable to help give people a heads up. However, I don't think they apply to Edition migrations. They cover the case where something used to be accepted in Edition N and then later becomes an error in Edition N. I would probably include deny-by-def

[2021-02-11 14:29] nikomatsakis commented on #80165
One additional point: in case this was unclear -- whatever we choose, I believe we should "repurpose" the 2018 idiom lints as 2021 idiom lints. In other words, if we opt for "deny by default in edition N" (what I called Variant 3), then the lints would be deny by default only in Edition 2021.

[2021-02-11 14:30] nikomatsakis commented on #80165
@rylev I see there is an underlying principle in what I am saying:

* The thing we want to avoid is that you upgrade rustc, rebuild, and you get errors (deny-by-default or hard error) that you weren't getting before, with no warning. It's ok to get warnings you weren't getting before, that's normal.
* Editions are the kindest way to avoid that, because you have to opt-in to the new edition to get

[2021-02-11 14:37] sladyn98 commented on #81314
I guess I can give this issue a shot I have the setup ready and stage one works fine. I am new to rust so forgive me for asking too many questions

[2021-02-11 14:46] rylev commented on #80165
[Future compatibility warnings](https://github.com/rust-lang/rust/blob/2918062d1d94b65dfd53d265e957d86fcb8bfdbd/compiler/rustc_lint_defs/src/lib.rs#L141-L143) can explicitly mention editions in their warnings, so I'm not sure it should only be used for semver breaking changes. It's good to know if something in edition N will go from being "just a warning" to being  a hard error in the next edition

[2021-02-11 14:52] leo60228 commented on #81971
After thinking about it, I feel like it's probably best for rustc to always suggest this form. It'd probably make sense to have a clippy lint suggesting rewriting this to the more idiomatic `T: Into<i32>`, however.

[2021-02-11 15:07] hyd-dev commented on #76253
I changed the type definition locally (8ec8939a3e11fa4953639b6794db5ecb33b444ad) and `./x.py check --stage 2 --host x86_64-pc-windows-gnu --target x86_64-pc-windows-gnu` (I'm on `x86_64-unknown-linux-gnu`) succeeded. It seems that the compiler itself can be built sucessfully with the change.

[2021-02-11 15:10] jyn514 commented on #79438
https://github.com/rust-lang/rust/pull/78607 landed in 1.49, which was released today.

[2021-02-11 15:10] #79438 closed

[2021-02-11 15:10] jyn514 commented on #79558
https://github.com/rust-lang/rust/pull/78607 landed in 1.49, which was released today.

[2021-02-11 15:10] #79558 closed

[2021-02-11 15:12] Lokathor commented on #79438
(do you mean 1.50?)

[2021-02-11 15:13] jyn514 commented on #79438
err I meant to say it landed 6 weeks ago. So this has been fixed for a while.

[2021-02-11 15:54] jyn514 commented on #81980
For clarification, my use case for this is that `context_api` was public in the last release, and making it private would introduce unnecessary churn. Using `doc(hidden)` is like a 'soft deprecation' without adding a bunch of warnings.

[2021-02-11 16:06] mahkoh opened #81996 "repr(C) is unsound on MSVC targets"
Consider

[code]

and the corresponding MSVC output: https://godbolt.org/z/csv4qc

The behavior of MSVC is described here as far as it is known to me: https://github.com/mahkoh/repr-c/blob/a04e931b67eed500aea672587492bd7335ea549d/repc/impl/src/builder/msvc.rs#L215-L236

[2021-02-11 16:08] jyn514 commented on #81996
@mahkoh can you reproduce this without `no_mangle`? no_mangle should really require unsafe, it can cause unsoundness if it overlaps with another linker symbol.

[2021-02-11 16:10] mahkoh commented on #81996
@jyn514 Yes

[2021-02-11 16:13] mahkoh commented on #81996
repr(C) has served two purposes:

- A representation with a know layout algorithm which is the same across all targets
- A representation that is compatible with C types

The first purpose is advertised both in the reference and in stdlib code e.g. in `Layout`. It is probably used in many other places.

The second purpose is also advertised in the reference.

However, these purposes are not compat

[2021-02-11 16:29] jonas-schievink commented on #81996
The layout algorithm is not the same across all targets, it is always supposed to be whatever the C ABI mandates on that particular target

[2021-02-11 16:29] jonas-schievink commented on #81996
Does this reproduce with clang?

[2021-02-11 16:37] leo60228 commented on #81971
There's a draft PR for that: https://github.com/rust-lang/rust-clippy/pull/6620

[2021-02-11 16:40] mahkoh commented on #81996
The layout algorithms used by the C compilers are not the same. But repr(C) is advertised with a specific layout algorithm that is the same across all targets. Namely in these places

- https://doc.rust-lang.org/reference/type-layout.html#reprc-structs
- https://doc.rust-lang.org/stable/std/alloc/struct.Layout.html#method.extend

Clang contains many bugs in their MSVC-compatible layout algorithm.

[2021-02-11 17:12] roblabla commented on #60210
It appears to be impossible to promote this warning to an error? I've been trying to write a regression test in a proc macro to catch this error, but to no avail. See https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=933b66f963f15bda1c3b62d0ae19e517

[2021-02-11 17:22] osa1 commented on #81857
This seems to be a bad interaction between constant evaluation and region erasing. It's not specific to string literals, same thing happens with e.g.

[code]

Basically returning a `&'static` value seems to be enough to trigger this.

I'd like to debug this but I'm not sure where to start. Where can I learn more about the handling of regions in constant evaluation?

[2021-02-11 17:25] hussein-aitlahcen commented on #70117
Hi folks, I think I encountered the same issue, I've commented [here](https://github.com/rust-lang/rust/issues/77907#issuecomment-776172570) with a similar stacktrace.

[2021-02-11 17:42] estebank commented on #81971
@leo60228 one consideration is that clippy lints don't always necessarily trigger and having multiple errors can be confusing to people (not everyone reads _everything_ before figuring out what the problem is). Because of that I would _also_ like to _extend_ the existing error to account for this case. :)

[2021-02-11 17:57] scottmcm commented on #80165
I'll push back a bit on the last part of this.  I wouldn't want a lint to have to spend a whole edition as deny-by-default before it could be a hard error.

I would say that warn-by-default to hard-error on an edition boundary is totally fine, assuming of course it's a low-effort (probably automated) fix in the migration.  And that warn-by-default to deny-by-default is fine *without* an edition bo

[2021-02-11 18:29] xumarcus opened #81999 "Panic compiling in wsl (otherwise link error LNK1181)"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-11 18:39] fanninpm commented on #80748
Does it go away after you run `cargo clean`?

[2021-02-11 18:46] mental32 commented on #80748
Actually I cant reproduce it anymore [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=869f80d57e326bee152dd8d714d39128)

[2021-02-11 18:46] #80748 closed

[2021-02-11 18:53] cuviper commented on #80810
Well, I just encountered this on a **native** build of the complete toolchain for s390x:
https://koji.fedoraproject.org/koji/taskinfo?taskID=61725573
(The other arches in the parent task all completed successfully.)

[code]

`either` also failed in the builds of `clippy-driver` and `rls`, and `futures` also failed similarly in `rls`.

Before when I had tried native, I was only building `rustc`+`st

[2021-02-11 18:57] ojeda opened #82000 "`doc(alias)`: should it be a mapping rather than search terms?"
PRs such as https://github.com/rust-lang/rust/pull/81988 and https://github.com/rust-lang/rust/pull/81989 add aliases inspired in terms coming from other languages such as C, Python and Java.

Questions were raised about how far are we willing to go: should we really add a mapping of functions/features from other languages to Rust? Where do we stop? i.e. "how much is too much".

If the changes in

[2021-02-11 18:57] fanninpm commented on #80224
Does this still give an ICE with the latest nightly?

[2021-02-11 19:07] fanninpm commented on #81999
Does it still give an ICE after running `cargo clean`?

[2021-02-11 19:15] lukechu10 commented on #81415
I think rustfmt should add a leading `|` when the pattern is on multiple lines but remove it when it's on a single line:
[code]
Just for consistency

[2021-02-11 19:18] billyrieger opened #82001 "Tracking Issue for `BinaryHeap::contains` and `BinaryHeap::remove`"
Feature gate: `#![feature(binary_heap_contains_remove)]`

This is a tracking issue for `BinaryHeap::contains` and `BinaryHeap::remove`.  These methods are missing from the `BinaryHeap` API and both are common operations that one would expect to have for any general-purpose container.

Previous discussion: #66724.

### Public API

[code]

### Steps / History

- [ ] Implementation: #82002
- [ ] Fina

[2021-02-11 19:22] joshlf commented on #44286
Would somebody mind providing a short status update on what's left before stabilization?

[2021-02-11 19:23] jplatte commented on #81415
@lukechu10 Formatting is not something the compiler does. IIRC there is an issue about this on https://github.com/rust-lang/rustfmt somewhere.

[2021-02-11 19:52] djc opened #82005 "warning: could not find referenced DIE when compiling on macOS"
I just did some of my first compiles with 1.50.0 and I'm getting these warnings:

[code]

This was after running `cargo run --release --bin build-index -- version` in my (proprietary) project on macOS (Big Sur 11.2.1).

[code]

I suspect this may have something to do with the split debuginfo stuff?

[2021-02-11 19:54] ehuss commented on #82005
Transferring to rust-lang/rust, since this looks like a linking issue.  Split-debuginfo is in 1.51, not 1.50.

Some more information may be helpful.  Which version of xcode are you using?  What is `dsymutil --version`?  Does it happen with LTO disabled?  Does it happen with "thin" LTO?

Looking at other users reporting similar things, this sounds like maybe some issue with rustc's version of LLVM

[2021-02-11 19:59] BoxyUwU commented on #79518
@rustbot claim

[2021-02-11 20:00] jyn514 commented on #82000
I think this would good as an internals thread and eventually an RFC. These all sounds nice but I would like to hear some feedback from the community about people will actually use this outside the standard library.

[2021-02-11 20:06] djc commented on #82005
I have Xcode "Version 12.4 (12D4e)".

[code]

If I don't enable `lto`, I don't see these warnings. If I set `lto` to `thin`, I also don't see these warnings.

[2021-02-11 20:19] steveklabnik commented on #82000
Yes, IMHO this should be one of those two things. Additionally, some of this is libs team work, some of this is rustdoc team work.

[2021-02-11 20:31] estebank commented on #81887
Closing as duplicate, copying the text to a comment on the other thread.

[2021-02-11 20:31] #81887 closed

[2021-02-11 20:31] estebank commented on #56593
From #81887:

[2021-02-11 20:41] Arnavion opened #82006 "CentOS 7's rpmbuild can't handle debuginfo generated by Rust 1.50.0"
Full repro and steps at https://github.com/Arnavion/rust-150-centos7 . It's just a minimal bin crate with an RPM specfile that can be used with `rpmbuild`

To summarize, when CentOS 7's `rpmbuild` tries to extract the debuginfo from the binary to build the debuginfo package, it fails with:

[code]

This is new with 1.50.0. It works fine with 1.49.0. Web search reveals https://bugzilla.redhat.com/s

[2021-02-11 21:06] Areredify commented on #50753
I wasn't able to come up with a reasonable solution to this (yet?), but I would like to provide some context for future reference to those who might delve into this.

There are two ways in which this loop bypasses the trait system.
a) When proving, it's only interested in `Unsize` and `CoerceUnsized` trait obligations. All other obligations are postponed (as niko mentioned) and a lot of the time t

[2021-02-11 21:20] holzschu commented on #21727
Hi,
I'd like to re-up this issue as well. As the original poster said, iOS supports dynamic libraries since iOS 8. It would be great to have rustc support them as well.
Among other things, it is blocking cross-compilation of the cryptography module for iOS: https://github.com/pyca/cryptography/issues/5814

[2021-02-11 21:22] kamulos commented on #81948
good: nightly-2020-08-23
bad: nightly-2020-08-24

[2021-02-11 21:25] alex commented on #21727
Is implementing this just a matter of setting `dyanmic_linking: true` on the target spec, or is there more to it?

[2021-02-11 21:33] holzschu commented on #21727
According to this PR, it seems to be, yes: https://github.com/rust-lang/rust/pull/73516
(it was merged, then pulled later: https://github.com/rust-lang/rust/pull/77716 )

[2021-02-11 21:40] alex commented on #21727
Ok, so as a practical matter this appears to be blocked on https://github.com/rust-lang/cargo/issues/4881

[2021-02-11 21:53] ChaiTRex commented on #71024
**Note:** Fully stabilized today in Rust 1.50 in [`HashMap`](https://doc.rust-lang.org/std/collections/hash_map/enum.Entry.html#method.or_insert_with_key) and in [`BTreeMap`](https://doc.rust-lang.org/std/collections/btree_map/enum.Entry.html#method.or_insert_with_key).

[2021-02-11 21:54] Arnavion commented on #82006
[code]

I suspect the problem might be due to this:

1.49.0:

[code]

1.50.0:

[code]

The `//library` in every filename is probably the reason.

[2021-02-11 22:04] aidanhs commented on #80753
I think this is done. I will check the next inventory and, if so, revert https://github.com/rust-lang/simpleinfra/commit/16e3aaa71ad8585841172436780a02ecb2b8250d. For the record, here's my dirty script:
[code]

[2021-02-11 22:29] richkadel commented on #79626
It's possible this issue is fixed.

Note that the sample code with coverage snippet in this issue's description came from:

https://github.com/rust-lang/rust/blob/e9920ef7749d11fc71cc32ca4ba055bcfeaab945/src/test/run-make-fulldeps/coverage-reports/expected_show_coverage.partial_eq.txt#L4-L5

Which was the coverage result from this test:

https://github.com/rust-lang/rust/blob/e9920ef7749d11fc71cc3

[2021-02-11 22:49] logannc opened #82008 "Update Rust String Documentation Regarding Unicode Scalar Value equivalence to Unicode Code Point (in UTF-8)"
Apologies if this is the wrong place to file this bug.

It is well documented that [Rust Strings are _valid_ UTF-8 built off of Unicode Scalar Values](https://github.com/rust-lang/reference/blob/master/src/types/textual.md).

Something that is not obvious but true (I think - see *not obvious*), is that UTF-8 [does not allow surrogate code points](https://www.unicode.org/versions/Unicode13.0.0/ch03

[2021-02-12 00:33] AlephAlpha opened #82012 "Incorrect "unreachable pattern" warning in Rust 1.50."
This seems to be a new issue in Rust 1.50. The latest nightly does not have this issue.

[code]

[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=dcd7b79f01f56a9ebef59805c54543ff)

It prints `"A!"` without any error, but gives the following warning.

[code]

`some!('A')` is obviously reachable, otherwise it won't print `"A!"`.

[2021-02-12 00:34] Mark-Simulacrum commented on #78778
tool_cmd sounds like the right place to me at a high level, yes - it'll be hard for me to be sure without rebuilding all of the context, but if you propose a PR that'll make it easier for me to evaluate.

I don't think there's necessarily a "right place", if you find something that works for the stage 0 tools pretty much across the board that would be good enough most likely.

[2021-02-12 00:38] kamulos commented on #81948
636ca7a4129d0e46483a41fc2687999067b45f8f is the first bad commit
[code]

LLVM issue? I am not sure how to get further

[2021-02-12 00:49] jyn514 commented on #82012
This is https://github.com/rust-lang/rust/issues/80501. It was fixed in https://github.com/rust-lang/rust/pull/80632 but not backported to stable.

[2021-02-12 00:50] jyn514 commented on #82012
cc @rust-lang/release, I don't know the policy for this sort of thing.

[2021-02-12 00:55] #80667 closed

[2021-02-12 00:56] Mark-Simulacrum commented on #82012
Gah. The relevant PR was not tagged beta-nominated so was overlooked; as it closed https://github.com/rust-lang/rust/issues/80501 the release team did not see that the regression was unfixed.

I am not sure this is worth a stable point release over, but I've now nominated the PR for beta backport (to 1.51, as it landed in 1.52) and stable backport (to 1.50).

[2021-02-12 01:51] cole-miller commented on #65512
I'd like to propose adding `std::mem::{swap, replace, take}` to the prelude ([IRLO thread](https://internals.rust-lang.org/t/add-std-swap-replace-take-to-the-prelude/14035)).

[2021-02-12 01:58] camelid commented on #81289
(now a beta regression)

[2021-02-12 02:18] camelid commented on #80224
Yes: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=616f92f94229ebc6711a5aa65b26483f

[2021-02-12 02:35] mbrubeck commented on #65512
As mentioned in the thread, this addition would be backward compatible and so it does not need to be tied to an edition boundary.

[2021-02-12 02:36] fanninpm commented on #80224
@camelid Unfortunately, there's no straightforward way to add it to the glacier, as it depends on an external crate.

[2021-02-12 02:46] cole-miller commented on #65512
@mbrubeck Agh, sorry, I missed scottmcm's note about that. Hid the comment.

[2021-02-12 02:58] asquared31415 opened #82015 "Duplicate Trait Objects Warnings"
The following code emits two warnings about deprecated trait objects without `dyn`

[code]

<details><summary>Error</summary>
<pre><code>
warning: trait objects without an explicit `dyn` are deprecated
 --> src/lib.rs:3:8
  |
3 |     x: Iterator<Item = i32>
  |        ^^^^^^^^^^^^^^^^^^^^ help: use `dyn`: `dyn Iterator<Item = i32>`
  |
  = note: `#[warn(bare_trait_objects)]` on by default

warning

[2021-02-12 04:16] jyn514 opened #82016 "Don't return a `bool` from `get_word_attr`"
[`get_word_attr`](https://doc.rust-lang.org/nightly/nightly-rustc/rustdoc/clean/types/trait.NestedAttributesExt.html#tymethod.get_word_attr) returns both an `Option` and whether the option is `Some`. This is grossly redundant, it should just return an option.

[2021-02-12 06:06] magurotuna commented on #82016
I'm interested in working on it :)
@rustbot claim

[2021-02-12 08:59] weiznich commented on #81658
As a heads up: This has hit beta now. I would really prefer to have this warning fixed before it hits a stable release. As already mentioned multiple times above: I believe the correct place for lints with emit false positives is `clippy` and not `rustc`. If `rustc` warns about something it should mention a clear way how to fix the warning . This lint only suggests that something is uneeded and ca

[2021-02-12 09:17] rylev commented on #81996
Let's make sure the windows notification group is aware of this:

@rustbot ping windows

[2021-02-12 09:21] rylev commented on #81996
Assigning P-high as [discussed as part of the Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2381996.20repr(C).20is.20unsound.20on.20MSVC.20targets) and removing I-prioritize.

[2021-02-12 09:53] hsivonen opened #82024 "Add x86-64-v2, x86-64-v3, and x86-64-v4 as available target_cpus"
Page 14 of the [2020-08-31 version of the AMD64 supplement to the System V ABI](https://gitlab.com/x86-psABIs/x86-64-ABI/-/jobs/711608198/artifacts/raw/x86-64-ABI/abi.pdf?inline=false) defines new microarchitecture levels that bundle instruction set extensions: `x86-64-v2`, `x86-64-v3`, and `x86-64-v4`. According to a [Red Hat blog post](https://developers.redhat.com/blog/2021/01/05/building-red-h

[2021-02-12 11:12] ldm0 opened #82026 "Unnecessary "{}" suggestion for panic with const string"
#78088 implements suggestion for panic with first argument not literal, but forget to handle such code:
[code]
This code is actually legit., but `non_fmt_panic` suggestion is emitted.
Check:  https://gist.github.com/6002a4f7fedfda0e615d0b1158015eee

[2021-02-12 11:29] Mark-Simulacrum commented on #81658
Nominating for T-lang to decide what the correct behavior of this lint is. The change was made in https://github.com/rust-lang/rust/pull/81473, to fix https://github.com/rust-lang/rust/issues/49256 (but perhaps only partially? Unclear why it doesn't close that issue).

[2021-02-12 11:43] jplatte commented on #68125
Stabilized in #79805, this issue can be closed 🙂

[2021-02-12 11:47] #68125 closed

[2021-02-12 11:47] IsaacWoods commented on #82024
The link to the internals thread also points to RedHat's blog. I'm guessing [this](https://internals.rust-lang.org/t/x86-64-v2-and-x86-64-v3-targets-for-linux-and-windows/14030) is the internals thread.

[2021-02-12 11:58] scaphe opened #82027 "ICE at rustc_middle::ty::query::try_load_from_on_disk_cache"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

[2021-02-12 11:59] scaphe commented on #82027
fyi, clean build fixed it

[2021-02-12 12:03] hsivonen commented on #82024
Oops. Updated the link. Thanks.

[2021-02-12 12:04] SNCPlay42 commented on #82026
This isn't #78088's warning, it's #81645's.

And I don't think it's incorrect; only literals, not expressions can be used as format strings, even if the expression is evaluable at compile time. e.g. [this](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=44b71ac38f89cad11aa6403c9aa25b55) doesn't work:

[code]

And indeed the code given [does not compile](https://rust.godbolt

[2021-02-12 12:15] vlisivka opened #82028 "#[derive(Debug)] doesn't support #[non_exhaustive] on enum"
It's expected that derived Debug will print something for non-exhaustive enums when value is out of bounds, instead of wrapping value.

I tried this code:

[code]

I expected to see:

[code]
Instead, this happened:

[code]

### Meta

https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=1946366ee6ae92971e0b08f215e86166

[2021-02-12 12:15] Jakob-Naucke commented on #80810
@cuviper https://github.com/rust-lang/rust/commit/fe031180d0be11ce15ee82872829af4092356188 used to introduce the ICE in the OP for me, but now it's introducing the ICE you're mentioning. That's weird.

[2021-02-12 12:22] e2-71828 commented on #43531
I've just run into this problem as well.  I'm getting the following error message:

[code]

Everything involved here is defined locally.  `iter_all()` shouldn't require `self:'static`, and doesn't appear to at first glance.  An audit of all mentions of `static` in my codebase doesn't turn up anything suspicious, so it is probably an implied bound from some `dyn ...` or `impl ...` clause somewhere.

[2021-02-12 12:28] jonas-schievink commented on #82028
The transmute is UB

[2021-02-12 12:28] #82028 closed

[2021-02-12 13:46] JustAnotherStrange commented on #81987
Cannot reproduce on EndeavourOS (Arch based) - creates a statically linked binary just fine. Must be an issue related to NixOS.
[code]

[code]

[2021-02-12 13:52] ojeda commented on #82024
`rustc` does not manage these options, LLVM does. Thus when we move to LLVM 12, we will get these.

[2021-02-12 13:56] Lokathor commented on #81996
So to summarize:
* repr(C) is inaccurate in the presence of Zero-sized Types.
* A repr(C) enum with a tag value in excess of the normal tag maximum will use a larger tag rather than error.

[2021-02-12 13:58] coolshaurya commented on #80967
With regards to naming, I personally think `then`/`then_do` would have been ideal, but that ship has sailed.
 `then_some` sounds a bit awkward, but I can't think of something better so ¯\_(ツ)_/¯

[2021-02-12 14:11] Alexendoo commented on #82006
Appears to be since #77117

[2021-02-12 14:16] mahkoh commented on #81996
One more thing

[code]

[2021-02-12 14:17] mahkoh commented on #81996
That is, if we assume `repr(packed(1))` to have the same intended effect as `#pragma pack(1)`.

[2021-02-12 14:18] Lokathor commented on #81996
Yikes, I think a lot of folks do assume that, yeah.

[2021-02-12 14:24] mahkoh commented on #81996
Basically all types that have a `__declspec(align)` annotation (such as __m128) in the MSVC stdlib but no such annotation in Rust are broken because MSVC implements the concept of required alignments which are unaffected by #pragma pack annotations.

This particular problem could be fixed by adding such an annotation to __m128 on MSVC targets. The definition of __m128 is broken anyway because it h

[2021-02-12 14:25] SkiFire13 commented on #82015
This code

[code]

expands to:

[code]

While this code (notice there's no `Copy` derived)

[code]

expands to:

[code]

Notice how in the code without `Copy` there's only one usage of `dyn Iterator<Item = i32>` but in the code with `Copy` there are 2, the second one being the one in the `AssertParamIsClone`.

[2021-02-12 14:37] KerfuffleV2 opened #82032 "Panic in nightly rustc when compiling code that tries to borrow *v as mutable behind & reference"
### Code

[code]

#### Dependencies from Cargo.toml
[code]

### Meta

`rustc --version --verbose`:
[code]

The internal compiler error does not occur in stable (`rustc 1.50.0 (cb75ad5db 2021-02-10)`):

[code]

The fix for compilation is to use `values_mut()` instead of `values()` and this also prevents the panic in the nightly version of rustc.

### Error output

[code]

<details><summary><strong>

[2021-02-12 14:48] kamulos commented on #81948
Tried upgrading `src/llvm-project` to `rustc/12.0-2021-02-03` and it still happens.

[2021-02-12 14:48] varkor commented on #80967
I think it's fair to say that few people are happy with the names as they stand, but there was no general consensus, and we'd rather have the feature than not :)

[2021-02-12 14:56] ldm0 commented on #82026
@SNCPlay42 Thanks!

[2021-02-12 14:56] #82026 closed

[2021-02-12 15:27] unpavedmop commented on #40552
im with others. cant recommend rust with this and https://github.com/rust-lang/rust/issues/75263 why is @rust-lang/core ignoring this? seems people are concerned and dont have right skills, yet, to work on compiler or need help

[2021-02-12 15:28] unpavedmop commented on #75263
anyone from compiler team going to comment on this or just ignore it? workarounds dont actually work

[2021-02-12 15:56] estebank commented on #81658
Looking at the fix PR, it seems to me that the only reason the existing code didn't trigger before was because we ignored assignments. That being said, if in the next 5 weeks we can't find a way to make the lint account for `unsafe` usages in other items, we can always revert the PR in beta.

[2021-02-12 16:03] xlmnxp commented on #29494
temporary solution is `spawn` the process

[2021-02-12 16:38] jyn514 commented on #82032
It would be nice to reproduce this without the async-std dependency.

[2021-02-12 16:40] jyn514 commented on #82032
Slightly smaller:
[code]

[2021-02-12 16:49] jyn514 commented on #82032
I bisected far enough to find it regressed between the 9th and 10th, then ran out of disk space :facepalm:

[code]

[2021-02-12 16:53] ssokolow commented on #40552
@unpavedmop The Rust developers only have so much time and a large portion of the user base either don't care or work around it by building release artifacts in Docker containers or on a CI service, so they (rightly) conclude that, barring more contributors showing up, it's more important to work on things that *don't* have such a simple workaround.

(For example, the long-awaited `min_const_gener

[2021-02-12 16:54] Stupremee commented on #82032
[code]

Smaller example without `async_std`

[2021-02-12 16:55] tmiasko commented on #81948
* Most likely related to https://github.com/rust-lang/llvm-project/commit/d76e62fdb7a93d9a33f642b6b528f2562cc3c3f4, but in that case version bump should help since it includes a revert.
* `-Cllvm-args=--asan-globals-live-support=false` should help as a workaround.

[2021-02-12 16:59] KerfuffleV2 commented on #82032
Here you go.

The async part doesn't seem important and the issue still occurs with the `std` versions of `File` and `BufWriter` and `async-std` removed from dependencies:

[code]

It could probably be reduced in size further but I'm not much of a Rust expert. I suspect anything which triggers that particular compiler error would do the trick.

[2021-02-12 17:00] jyn514 commented on #82032
searched nightlies: from nightly-2021-02-10 to nightly-2021-02-11
regressed nightly: nightly-2021-02-11
searched commits: from https://github.com/rust-lang/rust/commit/097bc6a84f2280a889b9ab4b544f27851a978927 to https://github.com/rust-lang/rust/commit/07194ffcd25b0871ce560b9f702e52db27ac9f77
regressed commit: https://github.com/rust-lang/rust/commit/f7534b566c850f860e11735b27a988dd9eec454a

<deta

[2021-02-12 17:01] ssokolow commented on #75263
@unpavedmop This is a piece of team infrastructure that's open to the public, not a discussion forum. The "comment" was "Marking this for prioritisation request as some people have privacy concerns over file names showing up in their production apps" and receiving a [P-medium](https://github.com/rust-lang/rust/labels/P-medium) tag.

If you disagree, check out [P-high](https://github.com/rust-lang/

[2021-02-12 17:01] jyn514 commented on #82032
Probably https://github.com/rust-lang/rust/pull/81466. cc @sasurau4

[2021-02-12 17:05] est31 commented on #82024
LLVM commit for reference: https://github.com/llvm/llvm-project/commit/012dd42e027e

[2021-02-12 17:07] est31 commented on #82024
Also I confirm what @ojeda said. In #79043, all I had to do was patch LLVM to add availability of these target_cpus. No changes in rustc were neccessary.

[2021-02-12 17:08] jyn514 commented on #75263
This sounds like the compiler version is being embedded in the binary

I can't reproduce this.

[code]

[2021-02-12 17:08] sivadeilra commented on #81996
C/C++ do not permit zero-sized structs or arrays.  Aggregates (structures and classes) that have no members still have a non-zero size. MSVC, Clang, and GCC all have different extensions to control the behavior of zero-sized arrays.

It is unfortunate that `#[repr(C)]` means two things: C ABI compatible, and sequential layout. Maybe a new `#[repr(stable)]` could be added, which would request seque

[2021-02-12 17:13] jyn514 commented on #75263
I tried using a library like in the original reproduction instructions, and if I modify `remap-path-prefix` slightly it still works fine:

[code]

[2021-02-12 17:38] #81289 closed

[2021-02-12 17:38] #81928 closed

[2021-02-12 17:38] #81421 closed

[2021-02-12 17:38] #81949 closed

[2021-02-12 17:38] #81967 closed

[2021-02-12 17:38] #81981 closed

[2021-02-12 17:47] unpavedmop commented on #75263
@jyn514 how do you propose that in a cargo.toml otherwise devs cant expect to tell people use this set of flags, and its hardcoded path

[2021-02-12 17:49] unpavedmop commented on #40552
workaround doesnt work or isnt portable tho. guess im switching to a language who cares about privacy

[2021-02-12 17:51] ssokolow commented on #40552
@unpavedmop Whatever you need to do. No programming language is the best tool for *every* job.

[2021-02-12 17:53] ssokolow commented on #75263
@unpavedmop You put it in your README.

Same way ripgrep instructs people to use `RUSTFLAGS="-C target-cpu=native" cargo build --release --features 'simd-accel'` for best performance.

[2021-02-12 17:55] estebank commented on #61465
Triage, [it's gotten more verbose](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=45ccfe06c5cb8350b5ac92a6d5f9b2ec):

[code]

[2021-02-12 17:58] mahkoh commented on #81996
GCC and Clang do in fact accept even completely empty structs and unions and such types have size 0 when compiled with these compilers. (Except that Clang tries to emulate MSVC when compiling for `*-msvc` targets.) The current implementation of repr(C) seems to be correct in all cases accepted by rustc except on msvc targets.

That seems to be the most pragmatic solution. Alternatively one could d

[2021-02-12 18:00] slerpyyy commented on #80967
I would have preferred (written as value / closure)
 - `then`/`then_with`
 - `and`/`and_then`
 - `some`/`then_some`
 - `and_some`/`and_then_some`
 - `to_option`/`to_option_with`
 - `on_true`/`on_true_then`
 - `if_true`/`if_true_then`

but we went with
 - ??? / `then`

which gives us little room to find a good name for the variant of the function which takes a value.

[2021-02-12 18:02] lovasoa commented on #81928
Thanks !

[2021-02-12 18:06] slerpyyy commented on #80967
Going forward, we could either stabilize `then_some` to finally provide the functionality that users want or we could find a coherent combination of names for both functions and deprecate `then_some` and `then` in favor of the two new functions.

I'm sure not everyone is going to be happy with the latter option, but I think changing the name of a stabilized function might still be better than keep

[2021-02-12 18:06] Zettroke opened #82034 "Panic in nightly rustc with type interference for const_generics"
### Code

[code]

Reproduces in [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=b8e87af706c05a8ebf4f1fed2f8712c8)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

### Description
Caught this error while playing with const generics.

After some experime

[2021-02-12 18:14] b-naber commented on #82032
Are `async` functions registered as items in the hir?

[2021-02-12 18:27] hyd-dev commented on #81996
In C++ they have size 1:
[code]

Actually the [nomicon](https://doc.rust-lang.org/nightly/nomicon/other-reprs.html) says:

So it seems that this (unsound) behavior is even documented.

[2021-02-12 18:34] mahkoh commented on #81996
repr(C) is about C compatibility not about C++ compatibility.

Otherwise empty structs in msvc have size at least 4 bytes not 1 byte in C mode.

[2021-02-12 18:42] jyn514 commented on #75263
Hmm, I think this is duplicate of https://github.com/rust-lang/rust/issues/40552 (or the other way around).

[2021-02-12 18:48] Aaron1011 opened #82038 "Rustc incorrectly points to `where`-clause bound when calling static method on invalid type"
The following code:

[code]

produces the following output:

[code]

The root cause of the error is the fact that `bool` does not implement `Foo`, so the `Self: Clone` bound isn't relevant. If the `where` clause is split over multiple lines, then this can obscure the actual cause of the error.

[2021-02-12 19:14] Stupremee commented on #80502
Is there a reason this issue is still open? Since this seems to be fixed already

[2021-02-12 19:18] GuillaumeGomez commented on #80502
We still need to add a test to ensure that the `[src]` link is present, I'll do that so we can close it.

[2021-02-12 19:31] aclysma commented on #62633
When I read the prior comments, I see more people in favor of merging than closing. In particular, I noticed a rebuttal to the rationale for this disposition that was thumbed up 10x (https://github.com/rust-lang/rust/issues/62633#issuecomment-749825758). I interpret this as strong consensus *against* the disposition.

Since we’re entering FCP, I want briefly repeat why I would like to see this mer

[2021-02-12 19:46] kamulos commented on #81948
Thanks, that was really helpful:

- I might have made a mistake and not bumped the version properly. Now if I try to build it, the compilation just fails (which is not unexpected at this stage I guess)
- Great this worked perfectly. All the other workarounds I had thought of were pretty bad.

I'll close this now and check back, when LLVM12 is officially included in rustc

[2021-02-12 19:46] #81948 closed

[2021-02-12 19:53] nikic commented on #81948
@kamulos FWIW, you can test LLVM 12 using `cargo install rustup-toolchain-install-master && rustup-toolchain-install-master cdf4d8eebff783a7bf3da9267accea75dcf6938f` and then using `cargo +cdf4d8eebff783a7bf3da9267accea75dcf6938f`. This fetches CI artifacts from #81451.

[2021-02-12 20:03] Aaron1011 commented on #82027
This should be fixed in the latest nightly.

[2021-02-12 20:08] tmiasko commented on #81948
`cdf4d8eebff783a7bf3da9267accea75dcf6938f` does resolve the issue for me. It also might be the case that the default value of `UseGlobalsGC = true` used now is not always appropriate, but I didn't have time to investigate yet.

[2021-02-12 20:11] xumarcus commented on #81999
`cargo clean`

Then run `cargo build --bin foo`
[code]

Retry `cargo build --bin foo`
[code]

[2021-02-12 20:56] jsha opened #82042 "rustdoc: attempting to select item name selects whole line (on Chrome)"
Steps to reproduce:

1. Visit the rustdoc page for any item (function, struct, etc).
2. Attempt to highlight the item name at the top of the page by using a mouse (for instance, you might want to copy the item name). Specifically: click to the right of the item name, and drag to the left of the item name.

Expected result:

Item name is highlighted.

Actualy result:

Entire line is highlighted, in

[2021-02-12 21:13] estebank commented on #78651
I think this regression was introduced in https://github.com/rust-lang/rust/pull/72603/files#diff-7e4444c107c648eec7167c8fd88b2665cf1f6e68e2a77d7992001677c09dca81R534

`tool_only_suggestion_with_metadata` needs to be reworked to either have actual substitutions or remove the `assert`ion and likely early return higher up to make sure that substitutions are present when emitting the diagnostic.

[2021-02-12 22:31] pacmanmati opened #82046 "Generic Mul Bound Error"
I tried this code:

[code]

I expected to see this happen: Compiler suggests the following bound
[code]

Instead, this happened: Compiler suggests the following bound
[code]

the above bound doesn't constrain the generic correctly and the compiler will keep requesting you add it despite it already being present.

### Meta

The bug also occurs when I use nightly.

`rustc --version --verbose`:
[code

[2021-02-13 00:50] estebank commented on #46606
Building this repo today gives

[code]

which is probably because it didn't clamp the crate versions.

Changing the `Cargo.toml` to use futures 0.1.17 and tokio-core 0.1.11 gives me the same error, but looking at the `Cargo.lock` newer versions of those crates are being pulled 🤷‍♀️

[2021-02-13 01:41] mqudsi commented on #46606
Ok, this confused me too. Then I realized back in 2017 that I had one remote repo for all rust bugs and different branches for each. The error you are quoting is from the master branch, if you check out `rust-46606` you get the correct errors. The floated versions in `Cargo.toml` aren't an issue because `Cargo.lock` is included in the repo.

I don't do this any more, but it seems that at the time

[2021-02-13 02:23] tmandry commented on #77071
Hi @raw-bin, what's the status of this? As I recall this work was planned to land as part of LLVM 12, but I haven't seen updates on the Linaro tracker yet.

[2021-02-13 04:25] myrrlyn commented on #81654
I've submitted [rust-lexical#57](https://github.com/Alexhuszagh/pull/57), and am also personal friends with the maintainer. I will take ownership of getting the crate updated.

[2021-02-13 04:26] camelid commented on #81274
The cross-crate issue is now on stable. @rustbot label: +regression-from-stable-to-stable -regression-from-stable-to-beta

[2021-02-13 04:31] VTCAKAVSMoACE commented on #80735
What on earth? That worked! I just used +crt-static and it absolutely runs.

This a quite peculiar behaviour. Would be good to put this in documentation somewhere or maybe patch the riscv ld. I'll see what causes this and come up with an appropriate PR, I'll close this as it's not an issue with Rust.

[2021-02-13 04:31] #80735 closed

[2021-02-13 05:07] myrrlyn commented on #81654
I am now a maintainer of the `lexical` family of crates. `lexical-core 0.7.5` is published utilizing Gelbpunkt's fix in #56, and `lexical 5.2.1` is published depending on it. This should unblock this issue and resume stabilization, assuming all of `lexical`'s dependents are able to receive patch updates automatically.

[2021-02-13 05:30] trevyn commented on #62633
`option.unwrap_none()`

feels much lower cognitive complexity (two "chunks") than

`assert!(option.is_none())`

which is three chunks. Especially important if it is a part of a larger statement.

[2021-02-13 05:31] jrvanwhy commented on #81092
Is `r14` (aka `lr`) on ARM one of these registers? When I try to mark `r14` clobbered I get the following error:

[code]

[2021-02-13 05:37] #81740 closed

[2021-02-13 05:38] #24151 closed

[2021-02-13 05:38] #75415 closed

[2021-02-13 05:38] #79666 closed

[2021-02-13 05:38] #79771 closed

[2021-02-13 05:41] Amanieu commented on #81092
That's a bug, rustc should be passing `{lr}` instead of `{r14}` to LLVM in the asm constraint string.

If you want to submit a PR, the fix is fairly straightforward: you just need to do the same thing that is done for AArch64's `x30` here: https://github.com/rust-lang/rust/blob/21cbbdc44de84e3ea99bca239091e5d1c49af654/compiler/rustc_codegen_llvm/src/asm.rs#L487-L490

[2021-02-13 06:58] porglezomp opened #82051 "Bad diagnostic: "error: struct literal body without path""
I tried to use a struct literal as part of a condition, and got a bad error message. Here's a reduced version that fails:

[code]

[Playground link.](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=64a09cc9d03174b5a51cb7865adebabc)

This gives this rather poor error message which doesn't align with the actual problem:

[code]

If I change the `one()` to a literal `1`, then

[2021-02-13 07:29] jrvanwhy opened #82052 "Unable to mark ARM32's `r14` register as clobbered in `asm!`"
I attempted to compile a crate containing the following expression:

[code]

I expected it to compile successfully.

Instead, I received this error:

[code]

`rustc --version --verbose`:
[code]

`RUST_BACKTRACE=1` omitted, it did not produce anything else.

@Amanieu diagnosed the cause and offered a solution [here](https://github.com/rust-lang/rust/issues/81092#issuecomment-778567688).

[2021-02-13 07:31] jrvanwhy commented on #81092
Thank you! It sounds like my problem is separate from this issue, so I opened a #82052.

[2021-02-13 07:33] jrvanwhy commented on #82052
While I try to spin up a rustc development environment, can someone point me to the tests for this code? I don't see any tests in the crate.

https://github.com/rust-lang/rust/blob/21cbbdc44de84e3ea99bca239091e5d1c49af654/compiler/rustc_codegen_llvm/src/asm.rs#L487-L490

[2021-02-13 07:42] szdytom opened #82054 "Type inside Option cannot be infered when passing None"
I tried this code:

[code]

I expected to see this happen: The code passes compile-time check.
I'm passing `None` into the function so I expect that the type of T is not important.

Instead, this happened:
[code]

### Meta

I've created a playground of this code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=813fd59ceb3fb1e41d65ff05092ef40d

[2021-02-13 08:31] hbina commented on #82054
Will this _ever_ compile? I assume the compiler have to monomorphize (or whatever its called) to _some_ type before compiling down to assembly.

[2021-02-13 09:23] Iselk commented on #53185
Any news on this? Should I make a pull request depreciating the method or teak the docs?

[2021-02-13 10:09] mati865 commented on #81999
You are probably compiling code using `/mnt/<letter>` path. If so this is WSL limitation I have described in https://github.com/rust-lang/cargo/issues/8439#issuecomment-660310563

[2021-02-13 10:16] RalfJung commented on #79735
FWIW, Miri cannot detect this UB since it is not represented in the MIR.

[2021-02-13 10:44] Amanieu commented on #82052
https://github.com/rust-lang/rust/blob/21cbbdc44de84e3ea99bca239091e5d1c49af654/src/test/assembly/asm/aarch64-types.rs#L99-L108

[2021-02-13 10:55] #80502 closed

[2021-02-13 10:55] #82016 closed

[2021-02-13 12:45] m-ou-se commented on #81654
Thank you, @myrrlyn!

[2021-02-13 12:47] raw-bin commented on #77071
Hi Tyler.

I believe there has been progress but let me get the definitive and circle
back ASAP.

Cheers,
Robin

On Sat, Feb 13, 2021 at 2:24 AM Tyler Mandry <notifications@github.com>
wrote:

[2021-02-13 13:33] kamulos commented on #81948
Thanks @nikic I can confirm this CI version works flawlessly in my full project.

[2021-02-13 13:39] osa1 commented on #82051
How are you trying this exactly? Your link doesn't generate the error you showed, it only generates the last error:

[code]

I tried with both stable and nightly channels of the playground link.

Still, the error message is much better when using `1` instead of `one()` in the field.

[2021-02-13 13:43] porglezomp commented on #82051
Oops, it looks like I messed things up while trying to clean things up. That error message was generated with a comma, here:
[code]
The code with the comma removed produces that shorter (still bad) error message!

[2021-02-13 14:05] jonas-schievink commented on #82054
This is working as expected. All generic parameters need to be known at compile time, even if they don't affect program semantics.

[2021-02-13 14:05] #82054 closed

[2021-02-13 16:41] osa1 commented on #82051
I don't know how to improve this error but let me explain the problem, perhaps someone else can figure it out.

When parsing an `if` expression condition (in `parse_cond_expr`) we update the parser state saying that we don't expect to parse a struct in this context, then call the expression parser as usual.

Then, after a long chain of calls, we see a path (`Example` in the repro) followed by a `{

[2021-02-13 17:00] petrochenkov opened #82064 "Move collection of items accessible directly or through reexports from `rustc_privacy` to `rustc_resolve`"
Directly accessible item `AccessLevel::Public` is an item with a fully public path from a crate root making it nameable from other crates.
`AccessLevel::Exported` item is an item with a fully public chain of reexports or modules making it nameable from other crates.
All such items can be found either by visiting the crate repeatedly and marking new and new items as `Public`/`Exported` until no ite

[2021-02-13 17:03] petrochenkov commented on #82064
cc @jyn514
More precise `AccessLevel` table will fix some things for rustdoc, IIRC we've been talking about this on Zulip or some PR.

[2021-02-13 17:13] awoimbee commented on #60681
This issue is still present.
Attributes have no effect on struct fields during assignment.

How things currently work:
[code]

How we would like things to work:
[code]

[2021-02-13 17:58] BoxyUwU commented on #80561
@rustbot claim

[2021-02-13 18:00] Boscop commented on #49107
@patrickelectric I agree. The reason that some functionality is offered by a thirdparty crate is not a valid reason to not have it in std.
Many functions in std could theoretically be factored out into other crates, but they are part of std for good reasons!
E.g. the `boolinator` crate provides a function to map a bool to an Option, but `bool::then` was still added to std, and for the same reason,

[2021-02-13 18:28] petrochenkov commented on #81871
This looks like a consequence of https://github.com/rust-lang/rust/issues/67839.

Initial resolution of `derive` fails, so it's recovered as an unresolved inert attribute, but due to the linked issue the order of attributes swaps during the "inert attribute expansion".
So we have this code before resolving `my_helper`:
[code]
and `my_derive` gets resolved as a legacy helper.

A fix for https://git

[2021-02-13 18:30] petrochenkov commented on #81871
Copypasting a future test for the ui test suite:
[code]

[2021-02-13 18:47] pitust opened #82065 "SIGSEGV in the compiler"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

`rustc +stable --version --verbose`:
[code]
Note that on stable `RUSTC_BOOTSTRAP=1` is needed to trigger the bug

### Error output
Hmm. What should go here?
[code]

<details><summary><strong>GDB Backtrace</strong></summary>
<p>

[code]

</p>
</details>

I have no clue why this happens, but i guess writing a JIT in rust like this wasn

[2021-02-13 19:04] SNCPlay42 commented on #82065
`llvm_asm!` is deprecated in favor of [`asm!`](https://doc.rust-lang.org/stable/unstable-book/library-features/asm.html); perhaps you could try using that instead.

@rustbot label requires-nightly A-LLVM F-llvm_asm

[2021-02-13 19:11] SNCPlay42 commented on #82065
@rustbot label -I-ICE +I-crash

Looks like there isn't even a feature label for llvm_asm.

[2021-02-13 19:24] nagisa commented on #82065
Yes, `llvm_asm` is not supported and issues arise from use of it will not be fixed.

That said this looks like a potentially genuine LLVM bug, so reporting it upstream may make sense still.

[2021-02-13 19:35] pitust commented on #82065
I couldn't repro it in C, so i assumed it's a rust bug. I guess i was wrong.
What's  that `{} undef`? I don't really know a lot of LLVM IR.

[2021-02-13 19:43] Aaron1011 opened #82068 "Tracking Issue for `-Z macro-backtrace`"
This is a tracking issue for the `-Z macro-bakctrace` flag
### About tracking issues

Tracking issues are used to record the overall progress of implementation.
They are also used as hubs connecting to other relevant issues, e.g., bugs or open design questions.
A tracking issue is however *not* meant for large scale discussion, questions, or bug reports about a feature.
Instead, open a dedicated i

[2021-02-13 19:43] nagisa commented on #82065
Its a unspecified bit pattern of type `{}` (empty structure). In that respect it _is_ a bug in Rust that it a) for some reason ends up generating a type of `{}` rather than a type of a function pointer; and b) it passes in an `undef` value rather than a `@symbol`. But, regardless, `llvm_asm` being slated for removal, this will not be fixed.

[2021-02-13 19:50] sivadeilra commented on #81996
These are non-standard extensions, and they deviate from the C/C++ specification.

If `#[repr(C)]` means "has a representation that is equivalent to that generated by a *conformant* C compiler", then Rust's current behavior is fine. If `#[repr(C)]` means `#[repr(C_with_msvc_and_clang_extensions)]`, then that is something different.

I understand the desire for compatibility with the de-facto stand

[2021-02-13 20:03] SNCPlay42 commented on #82065
This is probably because it considers `main` to have its unique function type `fn() {main}` (which is a ZST) rather than coercing it to a function pointer.

Which suggests this workaround:

[code]

Which indeed doesn't segfault (the linker complains about not not being able to relocate this in position-independent code instead).

[2021-02-13 20:15] ChrisDenton commented on #81996
Surely the reason for `repr(C)` is for interop with existing libraries? Conformance with the C spec is not a goal in and of itself?

[2021-02-13 20:16] mahkoh commented on #81996
That is obviously not what it means. First of all, there is no such thing as the representation of a type when compiled with *a conformant C compiler* because the C specification does not specify the representation of types. Two conformant C compilers on the same OS can have different type layouts. Therefore, even if we only want to talk about the representation of types that have an equivalent in

[2021-02-13 20:39] sivadeilra commented on #81996
The gray area I was pointing out was, when you ask a C compiler to compile non-conformant code, there is no possible well-defined behavior that corresponds to the specification.

Because that line of reasoning boils down to "whatever a specific set of C implementations do". Specification-by-implementation is always a slippery slope. When you go down that path, you often wind up in a place where di

[2021-02-13 20:50] sstudioer opened #82070 "cargo how to disable unused waring i?"
` rustc ./src/main.rs -A unused  // this is rustc
`
I want disable  unused waring in **cargo build**,  how to do?

[2021-02-13 20:57] Nokel81 commented on #43122
I did a cursory look but couldn't find an answer about this.

Given that it is undefined (or maybe just unspecified) what resuming a generator that has returned. Why doesn't `.resume(...)` take an owned self and then return it by owned self in the yield enum varient?

Or would this break the desire to be able to have trait objects of generators?

[2021-02-13 21:03] jonas-schievink commented on #82070
Hi! This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2021-02-13 21:03] #82070 closed

[2021-02-13 21:16] mahkoh commented on #81996
Like I already explained, repr(C) is not about the C specification. It's about the ABI.

This has nothing to do with non-standard extensions. The behavior of bit-fields, a standard C construct, differs widely between targets and compilers and is essentially only defined by its implementation.

You've omitted the option I've suggested. Namely to conform to the behavior of the native OS compiler. Th

[2021-02-13 21:18] asquared31415 commented on #82015
That makes sense.  I just noticed that in my example warning, the first warning is **just** `Iterator` and no associated item, so it isn't a true duplication of the warnings, though it still is a little odd.

[2021-02-13 21:24] mahkoh commented on #81996
If we follow your argument and solutions, then it will not be possible to use Rust in the Linux kernel which makes significant use of GCC extensions. As does the userspace API, though to a lesser degree. The MSVC standard library also makes use of extensions:

[code]

So no more winapi for Rust.

[2021-02-13 21:30] Arc-blroth opened #82071 "Ambiguity between parsing the same ident in a macro"
I tried this code ([playground link][1]):

[code]

I expected for this to compile.

Instead, the compiler errors in a local ambiguity between what appears to be the same identifier:
[code]

### Meta

Tested locally on a recent nightly and stable:

`rustc --version --verbose`:
[code]
[code]

Also tested on the [playground][1] on latest nightly.

[1]: https://play.rust-lang.org/?version=nightly&mode

[2021-02-13 21:33] sivadeilra commented on #81996
My "argument" is simply that we should help the developer get the behavior they were expecting. Since ZSTs are a non-standard part of C, it is reasonable to ask the developer for more information -- basically, confirming what behavior they want.

You are attributing strawman arguments (such as "let's break Rust in Linux kernel") to me that I have not proposed, which is not helping. I am not propos

[2021-02-13 21:33] cberner opened #82072 "vshrq_n_u8 does not generate ushr instruction when used in loop"
I tried this code:

[code]

https://godbolt.org/z/5dzxf6

I expected to see this happen: the `ushr` instruction used twice, since `vshrq_n_u8` is documented as generating the `ushr` instruction

Instead, this happened: the `ushr` is used once, and then 16 single byte load and shift instructions are used

If the loop range is changed to `0..1` then a single `ushr` instruction is generated, so it se

[2021-02-13 21:39] newpavlov commented on #43122
@Nokel81
IIRC this approach was considered in the early stages, but unfortunately was discarded. I also would love for type system to ensure that it's impossible to call a returned generator (same with iterators), but having signature like this one:
[code]
Would mean that on each yielding `resume` the generator state will be moved (read memcopied) to method and then back out of it. Compiler _may_

[2021-02-13 21:44] mareq opened #82073 "Compiler panic: feature(let_chains)"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-13 21:53] Nokel81 commented on #43122
@newpavlov I thought that from the rust ABI point of view moving ownership around didn't necessarily mean that it had to actually move around.

But yes a form of "consume and optionally return" that is guaranteed by the compiler would help.

[2021-02-13 22:17] mahkoh commented on #81996
Why only for non-standard C? The behavior of GCC and MSVC is significantly different even for standard C.

It is quite distressing that I open this issue to *increase* the compatibility of Rust with MSVC and you're floating the idea that we could instead solve the problem by *decreasing* the compatibility of Rust with all other platforms by disallowing certain constructs that are currently broken

[2021-02-13 22:27] bobbobbio opened #82074 "--remap-path-prefix behavior regression resulting in bad paths in 1.50.0"
On Rust 1.50.0 --remap-path-prefix is behaving weirdly

On 1.49.0 it works as expected and gives a path relative to what is passed
[code]

On 1.50.0 it does not work as expected, and gives a path to a non-existent file
[code]

In terms of prioritization of this issue, I'd like to make a plea for the importance of it, because at first glance it seems not a huge deal but it causes us huge problems.

[2021-02-13 22:46] jyn514 commented on #82074
It took me a second to realize at first - the bug is that `bar/` shouldn't be added; bar/ is an *output* path, not an input, and shouldn't be used for debug symbols.

[2021-02-13 23:17] goffrie commented on #82001
This seems like a trap in that you would usually want these to run in less-than-linear time, but they don't. e.g. the standard Dijkstra/A* applications (as in the linked discussion) definitely want sublinear access, otherwise it defeats the point.

That being said `Vec::remove` also exists and takes linear time.

[2021-02-13 23:25] davidspies opened #82079 "Something to do with the parameter to AddAssign"
Note that adding the (redundant) constraint `R2: AddAssign<R2>` at line 16 makes the error go away.

Inlining the call to `other.map` at line 23 results in the compile-time message "cannot add-assign `R2` to `R2`". Inlining the _second_ call to `map` at line 23 makes the error go away.

### [Code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fdcae25fe68c342195241dc4a535

[2021-02-13 23:48] sivadeilra commented on #81996
It is common (when investigating issues) to enumerate options precisely so that we can identify which ones are bad ones, and which ones are good ones. Listing options is not the same thing as endorsing them.

It doesn't even matter with MSVC, because MSVC (in C mode) rejects the program entirely, because it is not conformant C code.  With this code:

[code]

I get this:

[code]

You say we should

[2021-02-13 23:48] bstrie opened #82080 "Actually deprecate `collections::Bound`"
In https://github.com/rust-lang/rust/commit/f2c7917402ebd858f5b517a3406bec8ef187bfb1 , `intrinsics::drop_in_place` was supposedly deprecated in favor of `ptr::drop_in_place`:
[code]
However, this function does not show up as deprecated in the library docs (https://doc.rust-lang.org/nightly/std/intrinsics/fn.drop_in_place.html), nor does it trigger the deprecation warning in the following program:

[2021-02-13 23:56] mahkoh commented on #81996
For empty structs it does but recall the example from the OP: https://godbolt.org/z/jzrasb

For constructs that are rejected by the C compiler there is no problem because we will not be interfacing with such C code. In this case we can emit a warning and leave the layout unspecified.

I've compiled such a list here: https://github.com/mahkoh/rfcs/blob/bitfield/text/3064-bitfield.md#appendix-a

On

[2021-02-14 00:20] nagisa commented on #82074
Bisection says the issue is in 2ba7ca2bbbff6cd424aebc654308febc00b9497a which seems very plausible.

cc @davidtwco

[2021-02-14 00:25] Nicholas-Baron commented on #81820
@rustbot label: +T-doc.
I was wondering where this `SpinVector` was, and I found it tucked away in a [doctest](https://github.com/rust-lang/rust/blob/8e54a21139ae96a2aca3129100b057662e2799b9/library/core/src/ops/bit.rs#L523).

[2021-02-14 00:27] Nicholas-Baron commented on #81819
@rustbot label: T-doc.

[2021-02-14 00:30] Nicholas-Baron commented on #81799
@rustbot label: +A-diagnostics +A-lint.

[2021-02-14 00:33] Nicholas-Baron commented on #81790
@rustbot label: +O-ARM +A-rustbuild.
I do not know if this is a spurious build failure or not.

[2021-02-14 00:34] estebank commented on #49839
Thanks to @sasurau4 [the output for the "inlined" case is now](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6da7c687df7e083ab4ebc059bed1840a):

[code]

The `let values = map.values();` case still needs to be handled.

[2021-02-14 00:42] estebank opened #82081 "Bad suggestion when calling `iter` instead of `iter_mut`"
Given:

[code]

we emit:

[code]

but we should be instead suggesting

[code]

CC #49839

[2021-02-14 00:43] estebank opened #82082 "Wrong structured suggestion for mutability change in for loop pattern"
[Given](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=51109984ed9b9ae537497ae40a93c467):

[code]

we emit:

[code]

when what it should be suggesting is

[code]

CC #82081 #49839.

[2021-02-14 01:15] nagisa commented on #82074
So, after further investigation I can see exactly how this issue started, and why it happened. Warning: 3am rambling ahead.

In particular there are a couple of issues here (I'm going to use LLVM-IR primarily here, because that's I think more convenient to demonstrate the causations, `-Ccodegen-units=1` everywhere for simplicity):

When we compile a `fn main() {}` without `--remap-path-prefix` and

[2021-02-14 01:30] bstrie commented on #72447
Does that issue need to be a blocker for this? The functions in question aren't doing arithmetic on floats, they're just casting bit representations. AIUI while float arithmetic might be nonportable, bit representations are well-specified, yes?

[2021-02-14 01:33] estebank opened #82083 "Better messages when using ADT constructor as value"
[Given](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=6c5c52f56e06df31bea797ef86f64fc6):
[code]

we currently emit

[code]

which is reasonable, particularly the suggestions, but it isn't entirely clear to a newcomer that `S` in TypeNS isn't the same as `S` in ValueNS.

Ideally, the output would look closer to:

[code]

[2021-02-14 01:39] estebank opened #82084 "Incorrect span for suggestion to add type paramater to associated type"
[Given](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e0681b02b38787670516669847a026f8):

[code]

we currently emit

[code]

where the correct suggestion would be

[code]

CC #81712

[2021-02-14 01:43] estebank commented on #70303
This now works with a [small change to the code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9e76dd5f2b14b8a01d95625c534950ec). The current diagnostic with the unchanged code suffers from #82084.

[2021-02-14 01:44] estebank commented on #76826
[Still ICEs](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=650709d6e012c903efc4b4461e6a1a7d):

[code]

[2021-02-14 01:46] estebank commented on #82084
Duplicate of https://github.com/rust-lang/rust/issues/81801

[2021-02-14 01:46] #82084 closed

[2021-02-14 01:46] estebank commented on #81801
Another case:

[2021-02-14 01:52] estebank commented on #81701
A new error code should be given for this case and looks something along the lines of:

[code]

[2021-02-14 02:00] bstrie commented on #72447
Actually, I take that back after looking at https://github.com/rust-lang/rust/issues/73288 . `from_bits(foo).to_bits()` isn't even guaranteed to round-trip properly...

[2021-02-14 02:18] henryboisdequin commented on #82051
@rustbot label +D-confusing +D-incorrect +D-invalid-suggestion +D-newcomer-roadblock

[2021-02-14 02:22] tbu- opened #82085 "`str::as_bytes` and friends have incorrect const stabilization version annotation"
https://github.com/rust-lang/rust/blob/8e54a21139ae96a2aca3129100b057662e2799b9/library/core/src/str/mod.rs#L220

These were stabilized in https://github.com/rust-lang/rust/commit/7767e7fb165d527f1991175809a361f2d2313b80 as part of https://github.com/rust-lang/rust/pull/63770 which was only included in **1.39.0** and up (GitHub displays this in the commit link).

The attribute was added in https:/

[2021-02-14 02:35] estebank commented on #46606
It's a shame to see that the error wasn't improved by any of the changes we've made since then, but at least this is now triaged. Thank you for looking back at what you did 4 years ago to clarify this!

[2021-02-14 02:46] estebank commented on #82051
`if Example { a: one() }.is_pos() {` get's parsed as

[code]

[2021-02-14 02:48] estebank opened #82086 "Add more information to E0599 for small changes that would make the trait bounds be satisfied"
Given

[code]

we currently emit

[code]

It would be nice if we mentioned _anywhere_ that `BufReader<&mut T>: BufRead` _is_ satisfied.

[2021-02-14 02:52] bstrie commented on #81261
One thing is that, short of compiler magic, you'd need some way to provide `f32::NAN`, `f64::INFINITY` et al, which are currently defined like `pub const NAN: f32 = 0.0_f32 / 0.0_f32;`.

[2021-02-14 02:53] Nicholas-Baron commented on #33448
I am going to assume that since this topic has had little discussion for around 3-4 years and the issue still persists (see [this playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1ffd9394805dad02f7e65d9ad2d41a02)), that it has been "agreed to by silence".
Two locations in the `rustc_parse` crate seem to be good places to try implementing this warning.
`0o191` err

[2021-02-14 03:06] mqudsi commented on #46606
No problem. I guess we can remove E-needs-mcve?

[2021-02-14 03:20] subtle-byte commented on #81511
Adding the second argument to the closure

[code]
([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=46d02fd847b2a98795e995654defff80))

makes the error message even more strange:
[code]

It seems like the problem is with the first argument, but indeed adding the explicit type (i.e. `_b: &mut i32`) removes the error.

[2021-02-14 03:58] Nicholas-Baron commented on #60302
I am going to try and land `rustdoc::render`. Moving `Context` and `SharedContext` to separate files seems to be a starting point.

[2021-02-14 04:09] thomcc commented on #81261
It might be fine to allow expressions with NaN outputs, but not inputs.

This would still require fixing APFloat bugs, but not as many.

[2021-02-14 05:33] ATmel91 commented on #42744
Yeah.. that wasn't very bright of me wasting an hour like that. Thanks for the help 😭

[2021-02-14 05:50] moxian commented on #81051
This is now regression-from-stable-to-beta.

Can we please rename the issue to something more alarmist a-la "Starting with 1.51, rustc is no longer usable on Windows 7"?

[2021-02-14 07:13] tesuji commented on #81051
@rustbot label  -regression-from-stable-to-nightly  regression-from-stable-to-beta A-LLVM

[2021-02-14 07:47] thomcc commented on #53185
Seems like it's still blocked on specialization stabilizing...

[2021-02-14 07:56] delamonpansie opened #82089 "ICE in allocator_api"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-14 09:25] henryboisdequin commented on #77696
Link to [playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=91ffbe02e7d33d3eff6e80a2d1c7476c)

[2021-02-14 09:53] osa1 commented on #75439
@rustbot claim

I'm not sure if I'll be able to fix this, but I spent some time this weekend studying lowering to MIR and tried to understand the issue here.

First of all, the inefficiency here exists even in the final LLVM (with `-O`), so I think this may worth fixing. LLVM for the original repro:

[code]

`bb6` and `bb7` are the targets of the or pattern and they're duplicates. I'm not sure why

[2021-02-14 10:13] m-hugo opened #82092 "'assertion failed' after error"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-14 10:18] osa1 commented on #82089
Probably a duplicate of #81246.

[2021-02-14 10:35] RalfJung commented on #81163
`ptr::read` should have gotten better now in debug builds, since `mem::copy_nonoverlapping` is directly exposing the intrinsic.

@wesleywiser

What is the status of that? Both `ptr::read` and `ptr::write` would now benefit from this.

[2021-02-14 10:38] RalfJung commented on #81261
IMO the best way forward for apfloat issues is to report them upstream in LLVM, help fix them there, and backport fixes to the Rust version.

[2021-02-14 10:39] RalfJung commented on #80647
@oliviacrain

That MR has been merged; do you still plan to push the same kind of change through the rest of the compiler?

[2021-02-14 10:44] RalfJung commented on #80647
Another thing I just noticed: [`visit_projection` of the MIR visitor](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_middle/mir/visit/trait.Visitor.html#method.visit_projection) takes a `Local` and a projection list separately; that can become a single `PlaceRef` I think (but I didn't check all use sites).

[2021-02-14 11:48] dot-asm opened #82095 "'either' fails to compile on s390x"
The problem appears to be s390x-specific. At least I failed to spot another target that would fail.

### Code

To reproduce the problem

* `cargo new foo`
* `cd foo`
* add `either = "^1.6"` to `[dependencies]` in Cargo.toml
* `cargo check`

I expected to see this happen: successful completion of `cargo check`

Instead, this happened: failure to compile `either`, see below for error messages

### V

[2021-02-14 12:31] trolleyman opened #82097 "Rustdoc: Omit default generic arguments"
I think it'd be nice to omit generic arguments that are equal to the default. This would be mainly to stop things like `Box<T, Global>` in the `std` docs, which I think leads them to be unnecessarily noisy.

![image](https://user-images.githubusercontent.com/4435960/107876791-1d57c680-6ec0-11eb-9eb2-700345668fe5.png)

The strange thing is, it happens inconsistently - sometimes the argument is give

[2021-02-14 13:14] therealprof commented on #81163
I can confirm that I'm seeing slight binary size reductions (< 1% in the best case) when comparing some STM32F0 applications using `rustc 1.52.0-nightly (8e54a2113 2021-02-13)` to either 1.50 or a previous nightly from a days ago in debug binaries.

[2021-02-14 13:21] sfackler commented on #82097
Duplicate of #80379

[2021-02-14 13:21] #82097 closed

[2021-02-14 13:29] nagisa commented on #82074
So, this is what clang does:

1. It sets the codegen unit directory to the absolute path, no matter what:
[code]

    produces

[code]

    This differs from the behaviour `rustc` implements which sets the `directory` relative to the
    compiler working directory. It also differs in the way that this does point to the _source_
    file rather than the output directory.

2. It will not normalize t

[2021-02-14 13:34] osa1 commented on #82092
There could be multiple ways of fixing this, but I think it would be good to fix this by fixing this function: https://github.com/rust-lang/rust/blob/b86674e7cc8ac9c846ed5aca84aaefc2d0d12e4a/compiler/rustc_resolve/src/late/diagnostics.rs#L92-L106

Given something like `std::prelude::v1::Ok`, this function returns `std::prelude::v1` as the enum path. Instead it should return `std::prelude::v1::Resu

[2021-02-14 13:40] tmiasko commented on #82092
cc #82087

[2021-02-14 13:56] nagisa commented on #64405
How can we possibly reduce the amount of debug info in `-Cdebuginfo=1` if external tools rely on it producing more without it being a breaking change?

[2021-02-14 13:57] nagisa commented on #64405
The only route I see is adding more flags (`-Cdebuginfo=0.5`?).

[2021-02-14 14:00] hyd-dev commented on #80925
@rustbot label -A-miri -requires-nightly -A-const-eval I-unsound 💥

[2021-02-14 14:45] mahkoh opened #82100 "repr(C) on enums is unsound on hexagon-unknown-linux-gnu"
Enums on hexagon-unknown-linux-gnu are packed by default: https://godbolt.org/z/q49s5v

This is not implemented in rustc atm https://github.com/rust-lang/rust/blob/b86674e7cc8ac9c846ed5aca84aaefc2d0d12e4a/compiler/rustc_middle/src/ty/layout.rs#L131-L140

[2021-02-14 14:46] osa1 commented on #82092
#82087 should fix this issue, without generating a suggestion.

[2021-02-14 14:54] henryboisdequin commented on #80647
Working on it in #82091 :)

[2021-02-14 14:58] mark-i-m commented on #75439
It looks like you already figured out most of this, but here some notes I wrote from the last time I went through some of that code: https://github.com/rust-lang/rustc-dev-guide/issues/943

[2021-02-14 15:04] mahkoh opened #82101 "repr(C, align) is unsound on enums"
repr(align) on enums is implemented as described in the reference:

But this is not how aligned enums work in Clang, GCC, and MSVC

- GCC ignores alignment requests on enums.
- Clang sets the alignment to the requested alignment even if this decreases the alignment. The size is unaffected.
- MSVC increases the alignment to the requested alignment. The size is unaffected.

[2021-02-14 15:17] m-ou-se commented on #82085
cc @oli-obk

[2021-02-14 15:20] oli-obk commented on #82085
I just copy pasted these everywhere and forgot to check the versions on some of these. I guess I'll have to go through all of them to find out which ones I missed.

[2021-02-14 15:42] jyn514 commented on #82095
@dot-asm how did you get your rust compiler? https://github.com/rust-lang/rust/issues/80810 may be related.

[2021-02-14 15:52] jyn514 commented on #82064
Is this meant to fix https://github.com/rust-lang/rust/issues/64762? That would let me simplify parts of the `doctree` pass I think. The visibility issue we talked about was https://github.com/rust-lang/rust/pull/77820#issuecomment-727174134 (`tcx.visibility()` returns semantic visibility, even if the `pub` keyword isn't accepted), which I'm not sure this would help this.

[2021-02-14 15:55] dot-asm commented on #82095
I've initially noted the failure on travis-ci.com and then reduced it to the minimal setup with boilerplate project with single dependency on a s390x system. On travis it is was auto-updated by travis itself. And on "a s390x system" it was freshly installed with `curl ... | sh`.

[2021-02-14 16:06] dot-asm commented on #82095
Yes, appears as duplicate. Sorry about the noise.

As potentially relevant additional info, travis runs Ubuntu 16, and "a s390x system" - an seasoned SuSE 12.

[2021-02-14 16:10] petrochenkov commented on #82064
Yes.

Nah, that's not what I meant. I think we briefly talked about #64762 or related issues at some point.

[2021-02-14 16:12] jyn514 commented on #82095
Ok, closing as a duplicate of https://github.com/rust-lang/rust/issues/80810 the. Thanks for the report.

[2021-02-14 16:12] #82095 closed

[2021-02-14 16:20] mbuesch opened #82104 "AVR: Compilation in --release mode fails with LLVM ERROR: Not supported instr"
When compiling the following minimal AVR template in --release mode, the compiler aborts with an LLVM error

https://github.com/avr-rust/template-bin.git

(This is an empty template with an empty main that does nothing.)

[code]

In debug mode the build works correctly:

[code]

### Meta

`rustc --version --verbose`:
[code]

[2021-02-14 16:23] LiamTheProgrammer commented on #42721
It's worth noting that negative trait bounds could also be used in crates to add extra protection from UB for unsafe impls. For example, the `Zeroable` trait in `bytemuck` could require that types that it's implemented on do not have the `ExplicitNonZeroable` trait, which would be implemented for all `NonZero...` types in `core::num` and all references. This would look like `pub trait Zeroable: !E

[2021-02-14 16:36] TaKO8Ki commented on #82042
I'm interested in working on this issue.
@rustbot claim

[2021-02-14 16:44] liarokapisv commented on #76560
I am not sure if this is the proper issue to post this: Is the following expected to work? I would expect that the following deduction would work and so I wouldn't have to ad the extra bound on the create function:

[code]
code:

[code]

[2021-02-14 16:44] nagisa commented on #80776
This might be fixed by https://github.com/rust-lang/rust/pull/82102 as well.

[2021-02-14 16:53] nagisa opened #82108 "remap-path-prefix appears to be applied in a reverse order"
It appears that if multiple`--remap-path-prefix` arguments are supplied on the CLI, they will be applied in the reverse order, rather than in the CLI-occurence order.

To reproduce:

[code]

Note that only the latter `--remap-path-prefix` got invoked and the panic path became `/second/banana/chaenomeles.rs`. Instead users need to specify the order of remappings in reverse:

[code]

(in contrast cl

[2021-02-14 16:53] jyn514 commented on #80684
I took a look into this. The main issue is that the generated `install.sh` is very inefficient; it takes about 5 minutes to copy 2500 files (there are more than 2500, but I got bored and cancelled it). @pietroalbini @Mark-Simulacrum what do you think about rewriting this inner loop in Rust so it's not launching so many external processes?

https://github.com/rust-lang/rust-installer/blob/5254dbfd2

[2021-02-14 16:53] nagisa commented on #82108
Unclear to me if we can fix this, however, so perhaps we should warn if people write more specific paths first and less specific ones later?

[2021-02-14 17:21] m-hugo commented on #82092
i didn't see #78651, closing as duplicate

[2021-02-14 17:21] #82092 closed

[2021-02-14 17:43] m-ou-se opened #82109 "Wrong span used in non_fmt_panic lint for `panic!(a!())`"
The `non_fmt_panic` lint points inside the definition of `a` in:
[code]
Because the argument of `panic!()` is entirely `a!()`, we get the span inside of `a`s definition. We should walk up the macro backtrace to find the span of `a!()` itself in this snippet.

[2021-02-14 17:44] m-ou-se opened #82110 "Better suggestion for `panic!(format!(..))`"
The `non_fmt_panic` lint should have a special case for `panic!(format!(..))` to suggest `panic!(..)` by removing `format(` and `)`.

[2021-02-14 17:46] m-ou-se opened #82111 "Invalid suggestion for `panic![123]`"
The `non_fmt_panic` lint now suggests to replace `panic![123]` by `std::panic::panic_any(123]`. Calling the panic macro with `[]` or `{}` is uncommon, but it'd be good if it doesn't suggest invalid code.

[2021-02-14 17:47] m-ou-se commented on #82111
A problem here is that `panic! { 123 }` doesn't need a `;`, while `panic_any(123)` might need a `;` in that same context, depending on the context. It's probably not worth solving this case though.

[2021-02-14 18:01] apiraino commented on #81996
Thank you @sivadeilra and @mahkoh so much for the discussion and for providing analysis and options for a clearer evaluation.
Just chiming in to remind that unsound issues are definitively regarded with high priority and this one will probably need a bit of thought on how to be tackled.

labeling this for `T-compiler`.

[2021-02-14 18:03] mahkoh commented on #81996
While I agree that soundness issues are critical, let's also keep in mind that this has been the behavior since before 1.0. I don't think there is a need for any short-term solutions.

[2021-02-14 18:28] jyn514 commented on #81996
@mahkoh can you explain why you think this is unsound? Rustc certainly differs from MSVC in the layout, but as far as I can tell that can only go wrong if you use unsafe code and assume the layout is the same for both. I don't know if rust guarentees that for ZSTs.

[2021-02-14 18:31] mahkoh commented on #81996
Can you point me to where the guarantee is that repr(C) structs have the same layout as structs in C?

[2021-02-14 19:05] Lokathor commented on #81996
Minor Note: This is actually a T-lang issue to resolve before it's a T-compiler issue.

T-lang really needs to specify how repr(C) works *for all compilers of rust*, and then the compiler team can update rustc. But this needs to be an official language decision.

[2021-02-14 19:33] Manishearth opened #82114 "[rustdoc] Have a more nuanced take on what is hidden by default"
https://twitter.com/mcclure111/status/1361025145125634061

By default, we:

 - hide attributes
 - hide structs
 - hide unions
 - hide traits
 - hide trait implementation
 - hide implementor list

I feel like traits probably should be shown by default, since everything on the trait is important, especially for implementors.

Furthermore, it might be worth splitting "structs" into "structs with all-

[2021-02-14 19:33] scaphe opened #82115 "panicked at 'Failed to recover key for type_of(232faba9fa9763cb-67a35d6dc40d7ed2) with hash 232faba9fa9763cb-67a35d6dc40d7ed2', compiler\rustc_middle\src\ty\query\mod.rs:235:5"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

[2021-02-14 19:34] scaphe commented on #82115
clean build fixed it

[2021-02-14 19:42] GuillaumeGomez commented on #82114
The traits were the original reason why we added the possibility to change the settings. As far as I can tell, it's the same methods' header, but maybe I missed something? If not, I'm not sure to see how it would improve anything. As for the rest, why not!

[2021-02-14 19:49] camelid commented on #82114
Another way to solve the problem: #81977

[2021-02-14 19:51] mcclure commented on #82114
Hi, I'm the person linked on Twitter-- my perspective is that I am learning Rust and the first time I looked at
https://doc.rust-lang.org/std/convert/trait.Into.html
I was very confused because I was scrolling down the page trying to find the type, and once I found the type there was a "T" but I could not see where T was defined/bound. I had scrolled right past the light gray
 [+] Show declaration

[2021-02-14 19:52] GuillaumeGomez commented on #82114
@camelid: Oh wow. thats so simple yet so nice! What do you think of it @mcclure?

[2021-02-14 19:55] mcclure commented on #82114
Honestly yes I think @camelid 's suggestion would help. Since the name up top looks like a "header" for the entire document, it is natural that we should expect "T" to be reused again and again in the same way throughout the same page if it is in that "header" name.

But it is not so obvious to me that if in a hideable (hidden by default...) section at the top you define a T within a { bracket } s

[2021-02-14 20:02] jyn514 commented on #82114
I would rather show the trait definition by default than show the generic parameters. Showing the parameters won't help much for associated items, and could get overwhelming if there are a lot of parameters.

[2021-02-14 20:02] GuillaumeGomez commented on #82114
Sorry, I'm not sure to fully understand what you mean. In #81977, it's suggested that we add the generics in the "title" but also in the fields/variants.

I thought that your issue was that currently, those generics were only visible in the hidden section. If so, wouldn't #81977 fix this problem? If I'm completely off the plate, more explanations of your problem are welcome. :)

[2021-02-14 20:04] jyn514 commented on #81996
Well right, that's sort of my point - if rust doesn't guarantee that, how can having a different layout be unsound?

[2021-02-14 20:05] GuillaumeGomez commented on #82114
That is a good point too. If possible, I'd prefer to not have the trait definition displayed by default. Just look at [Iterator](https://doc.rust-lang.org/std/iter/trait.Iterator.html), it's (in my opinion) far too big to be really useful. As a reminder: we hid the traits' definition by default in the first place because people complained about it.

[2021-02-14 20:06] jyn514 commented on #82114
Do you have a link to that discussion? It was before I joined the team.

[2021-02-14 20:09] GuillaumeGomez commented on #82114
Time for speleology!

[2021-02-14 20:11] Manishearth commented on #82114
This is kinda what I'm getting at with "nuanced take". What did people _actually_ complain about, trait definitions or `Iterator`? I think _short_ traits like `Into`/etc lose out by being hidden, but yes, giant traits like `Iterator` do not. There's a similar nuanced take to be had on `Options`-style structs with public fields vs structs with private fields.

I actually think our current situation

[2021-02-14 20:12] mahkoh commented on #81996
If rust makes no guarantee about the compatibility of repr(C) and C layouts, and you have not linked any such guarantees, then the C in repr(C) is rather misleading and should be renamed to repr(simple) or something like that. If this is what you are arguing then there is no unsoundness here.

[2021-02-14 20:18] GuillaumeGomez commented on #82114
That seems reasonable indeed. But on big items, wouldn't the missing generics information still be an issue?

[2021-02-14 20:20] Iselk commented on #53185
But I can’t help but notice the function (in the alloc source) turns the slice to an iterator an passes it to extend()
extend_from_slice is then an middlehand

[2021-02-14 20:20] jyn514 commented on #82114
What about still showing the definition, but skipping associated items if there are more than e.g. 3 of them? Remove the option for toggling the whole definition and allow toggling the associated items instead.

[2021-02-14 20:22] Robbepop commented on #60553
Has this potential optimization allowed by this feature has already been discussed somewhere?
https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=e40e4866f6a7864d462ebe9f4d07fa29

tldr; If I did not oversee anything important the compiler is able to fuse discriminants of nested `enum`s if it knows that the discriminants of all variants do NOT overlap. See the playground for

[2021-02-14 20:22] Manishearth commented on #82114
@GuillaumeGomez i think generics can be solved with @camelid's proposal

@jyn514 something like that ,yeah. we should figure out exactly where the configurability should lie, but i'll point out: not _everything_ needs to be completely configurable

[2021-02-14 20:23] porglezomp commented on #82114
It might also be nice to use thresholds on required vs optional parts, so for instance `Iterator` could by default look like:
[code]
and have the "expand to full" show all the optional/provided methods?

[2021-02-14 20:25] GuillaumeGomez commented on #82114
I think the discussion was mostly offline based on the comments from https://github.com/rust-lang/rust/pull/49412... Do you remember it maybe @Manishearth?

@jyn514 pointed out that it might be an issue in case there are a lot of generics, and I think it's a good point that we need to examine.

Agreed.

@porglezomp This is a bit ahead of the conversation but yes, something like that could be nice.

[2021-02-14 20:26] Manishearth commented on #82114
@porglezomp oh that's clever, yeah. Though.... optional/provided only really matters for implementors, right? Might be confusing if the optional method is what people are primarily expected to use.

It's worth drilling down to see what different people need to see.

Like, as a user of iterator, I absolutely don't care about `next()`. Implementors are rarer, and usually can expand.

But there are s

[2021-02-14 20:28] Walther commented on #82114
Possibility to consider: "This definition is large and has been collapsed. Click here to expand" with some heuristic for the size. Might not be perfect, but could be 1. improvement over the status quo 2. a more flexible solution than trying to decide based on type

[2021-02-14 20:34] Manishearth commented on #82114
Actually, I think I haven't been thinking enough out of the box here.

Why do we need to collapse the _entire_ declaration in the first place?

![image](https://user-images.githubusercontent.com/1617736/107888390-c7cfe980-6ec0-11eb-972b-e3cdcd7ca426.png)

This seems more useful as a default for _everything_, structs, etc. Always show the declaration, hide public fields if there are too many, hide

[2021-02-14 20:35] camelid commented on #82114
Instead of showing everything except provided methods, we could hide all associated functions and only show associated types and constants since there are usually only a few.

[2021-02-14 20:35] thomcc commented on #53185
Yes, that's already been discussed.

[2021-02-14 20:37] camelid commented on #82114
Isn't there already a section for associated types and constants?

Yeah, that is one limitation. Another alternative is to have a section at the top of the page with all the generics. But if we're going that route, just showing a trimmed-down definition would probably still be better.

[2021-02-14 20:39] GuillaumeGomez commented on #82114
Only the traits have methods. The other types only have fields/variants, and in those cases, we have them with their documentation just under, so if we go this road, we might need to think about maybe updating that part too. Ideas are welcome! :)

[2021-02-14 20:57] lukaslueg opened #82117 "Documented syntax for `core::env` is wrong"
[The documentation](https://doc.rust-lang.org/stable/std/macro.env.html) for the compiler-built-in macro `core::env` / `std::env` currently reads:

[code]

The text and example state that a second parameter can be given to customize the error message in case the environment variable is not defined. This second parameter is not reflected in the syntax above. The following is valid:

[code]

Looking

[2021-02-14 21:21] jyn514 commented on #82117
@lukaslueg I think you're right; probably the compiler should be checking that the declared macro and the built-in macro accept the same syntax, although that could be hard to enforce. Changing the declared macro seems like a good first step :)

[2021-02-14 21:39] Aaron1011 commented on #82115
This is fixed in the latest nightly

[2021-02-14 21:39] Iselk commented on #53185
So the function exists only if specialisation would disappear for slice iterators in the future?
Are there any updates on specialisation in the last two years?

[2021-02-14 21:45] thomcc commented on #53185
Yes: https://github.com/rust-lang/rust/issues/31844

It's also possible it will go the same route as const generics with a `min_specialization` (which already exists) stabilizing first. But it might not too, and might need to wait for Chalk to be integrated into the compiler more fully.

[2021-02-14 21:58] jyn514 commented on #81371
It would be nice to show something like `(const: unstable)` to mirror how shows rustdoc shows stable annotations like `(const: 1.50)`.

[2021-02-14 23:34] Aaron1011 commented on #78331
This was turned into a hard error by https://github.com/rust-lang/rust/pull/79078

[2021-02-14 23:34] #78331 closed

[2021-02-15 00:06] bstrie opened #82123 "Make `#[rustc_deprecated]` (and `#[deprecated]`) on re-exports either work properly or cause a compiler error"
#82080 laid undetected for years due to the silent inability of `#[rustc_deprecated]` to apply properly to re-exports. For now people simply have to remember not to use it with re-exports, but it would be nice if it either 1) worked as expected, or at least 2) caused a compiler error so that it couldn't pass silently.

Open question: should the chosen behavior extend to the stable `#[deprecated]`

[2021-02-15 00:50] trolleyman commented on #82097
Thanks, sorry for the duplication.

[2021-02-15 01:16] #81200 closed

[2021-02-15 01:16] #81885 closed

[2021-02-15 01:16] #82032 closed

[2021-02-15 01:21] jrvanwhy commented on #82052
I think I have a working `rustc` development environment now. I'll try to fix this -- thank you @Amanieu for making this easy for me!

[2021-02-15 01:22] andrewleek-droplab commented on #50776
@frakman1

I have run into the exact same problem as you, although i was trying to upgrade ffmpeg.  What has worked for me was to use the most up-to-date formula i could find that still had a bottle for high-sierra.  Basically i ran `brew edit rust` and then replace the formula with this one: https://raw.githubusercontent.com/Homebrew/homebrew-core/5b4630757e8748165fe69fbefa0fa7949e64a231/Formula/

[2021-02-15 01:32] Mark-Simulacrum opened #82125 "Crater runs for 1.51"
Note: Please do not conduct triage on these runs without discussing how to do so with a release team member first. Thanks!

[2021-02-15 01:34] Mark-Simulacrum commented on #82125
@craterbot run name=beta-1.51-1 start=1.50.0 end=beta-2021-02-14 mode=build-and-test cap-lints=warn p=10

[2021-02-15 01:34] Mark-Simulacrum commented on #82125
@craterbot run name=beta-1.51-rustdoc-1 start=1.50.0 end=beta-2021-02-14 mode=rustdoc cap-lints=warn p=5

[2021-02-15 01:49] Manishearth commented on #82114
Right, uh, that's what I'm saying, we should be applying this logic to _everything_. To be more explicit:

 - _Always_ display the `struct Foo<T> {` etc part of the item declaration, we _only_ collapse contents, as in [my comment above](https://github.com/rust-lang/rust/issues/82114#issuecomment-778837757)
 - Enums: display all variants unless there's a _really_ large number of them (>50?)
 - Stru

[2021-02-15 01:55] edward-shen opened #82126 "ICE: unmatched subst and hir arg"
### Code

The following is an attempted minimum reproducible sample that causes ICE. From a few minutes of experimentation, I wasn't able to further minimize the example, but I feel as if it should be possible (perhaps an example can be formed with just an async boundary and a mutex?).

[code]

### Meta

`rustc --version --verbose`:
[code]

Also saw the ICE on nightly, but I can't seem to get my i

[2021-02-15 01:55] jyn514 commented on #82114
I would treat unions the same as structs.

Right now we show the pretty-printed initializer expression, I haven't heard complaints about it.

[2021-02-15 02:50] frakman1 commented on #50776
@andrewleek-droplab
Thank you so much! I don't much about brew's backend (what is a bottle, cask, cellar, keg?) so this was quite informative.

[2021-02-15 03:29] ojeda opened #82131 "[rustdoc] Search results: Make fuzzy search less wild for small words"
Fuzzy search is matching too many things [*], e.g.:

- `FRom` due to `FRee`
- `REm` due to `fREe`

It could be improved restricting matches for small words, e.g. for words < 4 in size, match only if 3 characters or more match.

[*]
![image](https://user-images.githubusercontent.com/23638587/107890698-468c4d00-6ee8-11eb-85ed-ea2428ec6d1d.png)

[2021-02-15 03:29] ojeda opened #82132 "[rustdoc] Search results: List exact alias matches before fuzzy ones"
Aliases should be displayed after non-aliases. Since we have fuzzy search [*], we could match in this order:

- Exact matches (non-aliases)
- Exact matches (aliases)
- Fuzzy search (any, assuming it sorts by some "similarity" index)

If we get #82000, then we could even do:

- Exact matches (non-aliases)
- Exact matches (Rust aliases)
- Exact matches (non-Rust aliases)
- Fuzzy search (any, assumin

[2021-02-15 03:41] jyn514 commented on #82126
Smaller:
[code]

[2021-02-15 03:46] jyn514 commented on #82126
Relevant code: https://github.com/rust-lang/rust/blob/9503ea19edbf01b9435e80e17d60ce1b88390116/compiler/rustc_mir/src/borrow_check/diagnostics/region_name.rs#L637-L645

So I think that just needs to be a `delay_span_bug`.

[2021-02-15 04:02] edward-shen commented on #82126
I've actually been looking to contribute to Rust—would this be a good first issue to tackle?

[2021-02-15 04:04] clarfonthey opened #82134 "Spec request: `sort_by` and `sort_unstable_by` take finite time"
Specific use case: given a list of points for a polygon, I want to both sort those points in counterclockwise order and verify that they're convex. To avoid overspecifying details, this involves sorting the points using a given comparison function; I know that this can only succeed if the points form a convex polygon, and so if the list is sorted afterward then I know that it is also convex.

Howe

[2021-02-15 04:19] jyn514 commented on #82126
This would definitely be a good first issue!

[2021-02-15 05:08] jyn514 opened #82137 "Remove unnecessary `tcx` parameter to `param_env_to_generics`"
You can get a tcx from `self.cx.tcx`, there's no need to pass it separately.

Note that this will conflict with https://github.com/rust-lang/rust/pull/82020/ so you may want to wait a day or two (or not, if you don't mind rebasing).

[2021-02-15 05:12] taralx commented on #81823
Appears to now produce a sensible result: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=762eea38fa5bf5914e28e8afab6a7b72

[2021-02-15 05:33] taralx commented on #81823
I did some digging... Is it possible that `Self::Item<'a>` isn't being desugared into a projection?

[2021-02-15 05:37] MForster opened #82139 "ICE with unknown variable in closure and impl trait in type alias"
The code below produces an internal compiler error on the current nightly. The bug was already present on a ~2 weeks old nightly.

Note that while this ICE was found while writing code using `#![feature(type_alias_impl_trait)]`, it also manifests itself when the unstable feature is turned off.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><sum

[2021-02-15 05:42] MForster commented on #82139
The bug is also present in stable rust:

`rustc --version --verbose`:
[code]

[2021-02-15 06:12] nipunG314 commented on #82137
@rustbot claim

[2021-02-15 06:18] Iselk commented on #53185
Okay.
The function docs suggest it’s not specialised, as the issue author points out, but seeing as it turns it into an iterator, the docs are miss-leading. Should we change them?

[2021-02-15 07:18] crlf0710 opened #82140 "E0433 should not purely rely on letter case to report different error."
I've seen this:
[code]
However `kern_node_subtype` is actually an enum type. In this crate i `#[allow(non_camel_case_types)]`. Since this is an error message not a suggestion i think it would be best if this could be improved somehow.

[2021-02-15 07:50] TaKO8Ki commented on #81893
@rustbot claim

[2021-02-15 08:12] osa1 commented on #78651
I think there's another issue as I describe here: https://github.com/rust-lang/rust/issues/82092#issuecomment-778778726

Namely `import_candidate_to_enum_paths` doesn't work as advertised on paths like `std::prelude::v1::Err`, but it's still called on such paths.

Fixing that function (or the call site) would also fix this issue.

[2021-02-15 09:03] thomcc commented on #81996
I think the statement that there's no guarantee applies only to zero-sized types. And in part helps to allow things like:

[code]

It's pretty clearly a bug otherwise, though.

[2021-02-15 09:06] taralx commented on #81823
[code]

I'm just a noob at this, but that extra subst is why we're not detecting the supertype reference..

[2021-02-15 09:09] catenacyber opened #82144 "Invalid LLVM coverage data produced when compiled with `-C opt-level=1`"
I tried this code:

[code]

compiled with `RUSTFLAGS="-Zinstrument-coverage  -C opt-level=1"`
and Cargo.toml having
[code]

I expected to see this happen:
Running `llvm-profdata merge -j=1 -sparse`, then llvm-cov should give me a coverage report

Instead, this happened:
llvm-cov fails with `Failed to load coverage: Malformed instrumentation profile data

When building with `-C opt-level=0`, the bu

[2021-02-15 09:10] catenacyber commented on #82144
Another thing I just noticed is that the problematic functions (ie `fixpoint` in the reproducer case), in addition to be hinted inline, are also called by hinted inline functions themselves, and these caller functions are in traits implementations...

[2021-02-15 09:11] Nemo157 commented on #81996
Both of these only refer to the C language, by my reading of the C spec most of the layout details for a `struct` are then implementation defined, a compliant compiler could sort members alphabetically before layout; so it really does seem like Rust needs to either:

 * document that `repr(C)` is only compatible with C compilers using the same algorithm as specified in the reference (which seems t

[2021-02-15 10:14] Jasonoro commented on #53278
Some more discussion has been started in [this conversation](https://rust-lang.zulipchat.com/#narrow/stream/219381-t-libs/topic/Regex.20support.20for.20libtest/near/226365353). I'll update the issue when a conclusion has been reached.

[2021-02-15 12:03] hameerabbasi commented on #82139
Bisected with `cargo-bisect-rustc`

[code]

[2021-02-15 12:14] mahkoh commented on #81996
This RFC does not mention the algorithm in the reference. Where does this algorithm come from? Who decided to add this algorithm to the reference? Where is the corresponding RFC?

[2021-02-15 12:23] eddyp commented on #75804
I just saw this on Windows (**x86_64-pc-windows-msvc**) in one of my applications on the upgrade from 1.49 to 1.50 and explored if this issue is known and reported.

    c:\>rustup toolchain list
    stable-x86_64-pc-windows-msvc (default)
    beta-x86_64-pc-windows-msvc
    nightly-x86_64-pc-windows-msvc
    1.45-x86_64-pc-windows-msvc
    1.46-x86_64-pc-windows-msvc
    1.47-x86_64-pc-windows-ms

[2021-02-15 12:45] mahkoh commented on #81996
Apparently this was added in https://github.com/rust-lang/reference/pull/156 as part of https://github.com/rust-lang/rfcs/pull/2195. But this RFC does not at all talk about the layout of repr(C) structs or unions and the reference PR goes much further than what was discussed in the RFC. So if only the correct procedure had been followed, we would not find ourselves in this situation.

[2021-02-15 12:58] emilio opened #82146 "Unexpected borrowcheck error when using Cow<>"
It seems to me this ought to compile, or at least it's not clear to me why it doesn't. The following code:

[code]

Yields:

[code]

Obviously my actual code is more complicated than this (it computes multiple outputs in the same non-cached path, might not cache the input, etc), so using `.entry()` etc is not really an option.

What am I missing?

[2021-02-15 13:13] hellow554 commented on #75804
Can anybody explain why there is a huge drop in current beta? 😊

[2021-02-15 13:24] Nemo157 commented on #82114
What about enums with few variants, but many fields in each variant?

Unions are much closer to structs than enums, they have typed members instead of variants (each of which can be a struct-like-variant).

[2021-02-15 13:26] skade opened #82149 "E0382 could be improved and made more beginner-accessible"
Example playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=680b2c1586e6eee26bdb90717fd37a07

Currently, the following piece of code:

[code]

Leads to the following Diagnostics:

[code]

This error message is frequently one of the first that new user of Rust (also in my trainings) see, and it leads to multiple confusions: a) what is a "move" (when learning about Ow

[2021-02-15 13:41] eddyp commented on #75804
Also similar results on my application (on **x86_64-pc-windows-msvc**) which is a parser using pest:

![image](https://user-images.githubusercontent.com/123772/107953210-7cdad280-6fa3-11eb-9b3f-0e82f4255ae7.png)

Sizes are as follow:

  | debug | release
-- | -- | --
1.45 | 614.400 | 175.104
1.46 | 608.256 | 175.104
1.47 | 605.696 | 175.616
1.48 | 604.672 | 168.960
1.49 | 576.000 | 170.496
1.50 |

[2021-02-15 14:55] alexkornitzer opened #82151 "`undefined reference to` linker error when using dylibs"
When including `mongodb` (2.0.0-alpha) into a dylib'd crate that is included in an application, the linker is failing to resolve all references. It is fine when using `mongodb` (1.0) which makes me think this is something that tokio 1.0 is bringing to light.

This seems similar to #67276 except the workarounds it suggested at the time do not work.

### Code
Due to the nature of this making a truly

[2021-02-15 15:48] matklad commented on #73831
Closed by https://github.com/rust-lang/rust/pull/81012

Thanks @VillSnow for bringing this all the way from an idea to the stabilization!

[2021-02-15 15:51] alexkornitzer commented on #82151
Hi @jonas-schievink, could you let me know how small the example needs to be? I have managed to shrink it to just reqwest & tokio, but might be able to get it much smaller assuming I dont need intimate compiler knowledge in order to guess what the issue could potentially be.
https://github.com/alexkornitzer/dylib-errors/tree/error/tokio

[2021-02-15 15:52] jonas-schievink commented on #82151
Ideally it would not contain any external dependencies

[2021-02-15 15:54] alexkornitzer commented on #82151
Okay let me see if I can isolate it down further, but it might be beyond me.

[2021-02-15 16:19] Thomasdezeeuw commented on #80882
Could rustdoc maybe first look at existing paths (structs, function etc.), before using a case-*in*sensitive match (not case-sensitive match) link. Making the following example work?

[code]

Currently all three links go to the `setup` function. However the third link should go to the `struct Setup`, as that is a case-sensitive match.

[2021-02-15 16:42] Lokathor commented on #81996
Mahkoh all the correct procedure has been followed.

The reference doesn't prescribe the operation of rustc it just reflects it. Even if the reference said nothing at all there would be *some* algorithm being performed within the compiler. The reference is just describing that.

[2021-02-15 16:56] mahkoh commented on #81996
Then, in your opinion, it would do no harm to add a comment to the Rust reference that

1. The layout of `repr(Rust)` structs is the same as the layout of `repr(C)` structs.
2. The layout of `&dyn Trait` is `(data_ptr, v_table_ptr)`
3. The layout of `&[T]` is `(data_ptr, size)`

After all, that is how rustc behaves and the reference has no normative function.

[2021-02-15 17:09] matthieu-m commented on #81513
After experimenting with custom implementations of `Box`, I think there is a strong case for having strongly typed meta-data for _all_ kinds of pointers.

The pre-allocator representation of `Box` is:

    struct Box<T: ?Sized> { ptr: NonNull<T>, }

The post-allocator representation is very similar:

    struct Box<T: ?Sized, A: Allocator = Global> {
        allocator: A,
        ptr: NonNull<T>,

[2021-02-15 17:34] plazmoid opened #82156 "ICE instead of syntax error while calling super()"
I tried to call default trait implementation from overriden method. Googling was not so useful as wanted so I started playing with "super" keyword and found this bug.

### Code
[code]

### Meta
Bug appears both on stable and nightly

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-02-15 17:37] Lokathor commented on #81996
Well point 1 would be a [very wrong thing to say](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=b98b2815dd1cd159930b081748201b16)

2 and 3 is technically a possible thing to say without it being inaccurate, but I think that the Reference maintainers would reject such a PR because there's not really much that a person can do with that knowledge. It would still be UB to, fo

[2021-02-15 17:37] cuviper commented on #80810
I ran a new native bisection using the `either` failure as the test, and it blamed eba543261df42672c692e45e3062c4cbbcd03920, which was #81257 backported to beta in #81774. That's a totally different area of code than the previous bisection to #79637, so I think it's fair to guess that neither are really at fault -- probably just perturbed the compiler's build in a way that exposed a codegen issue.

[2021-02-15 17:39] alexkornitzer commented on #82151
Hey @jonas-schievink,

Right got it, so its looks like the issue is when you have the following:
[code]

where `shared` is accessing `bar` by calling `foo::bar` where `foo` re-exports `bar`.

[code]

I have a minimal example here: https://github.com/alexkornitzer/dylib-errors/tree/error/nested

[2021-02-15 17:42] hameerabbasi commented on #82156
Bisected:

[code]

[2021-02-15 17:44] Aurel300 opened #82157 "Cannot tell apart panic!() and assert!(false, "") in macro_backtrace()"
The two expressions:

[code]

Used to result in distinct `macro_backtrace()`. After updating to `nightly-2021-02-14` (and I guess since https://github.com/rust-lang/rust/pull/80851), the backtrace for both is identical, both listing the calls `["std::panic::panic_2015", "std::panic"]`.

IIUC, the latter should contain an additional `core::assert` or `std::assert` item in the backtrace.

### Meta

[2021-02-15 17:46] estebank opened #82158 "Bad suggestion for `_` in associated `const`"
As noted in [#81914](https://github.com/rust-lang/rust/pull/81914#issuecomment-778080585), given the following:

[code]

we emit

[code]

Follow up to #81885.

[2021-02-15 17:50] SimonSapin commented on #81513
`Box<dyn Future<T>, SomeInlineStorage>` would have to be dynamically-sized itself, right? So in order to manipulate it without another lifetime or heap-allocated indirection you’d need the [unsized locals](https://doc.rust-lang.org/unstable-book/language-features/unsized-locals.html) language feature. And if you have that you can manipulate `dyn Future<T>` directly, so what’s the point of a box wi

[2021-02-15 17:51] mahkoh commented on #81996
Of course it would be useful, for example, you could pass `&[i32]` to a C function accepting an equivalent C type.

[2021-02-15 17:53] cuviper commented on #81051
Can someone on Windows 7 debug-step through LLVM's `setDeleteDisposition` and see where the actual error arises? I'm interested in which Windows API call returns the error, and the full backtrace from that point.

I also wonder if this can be reproduced with Clang 11.0.1.

[2021-02-15 18:00] matthieu-m commented on #81513
No, that's the whole point of it actually.

In C++, you have `std::string` and `std::function` implementation typically using the "short string optimization", that is a sufficiently small payload is just embedded inside, and larger ones require a heap-allocation.

This is exactly the same principle:

 - libstdc++'s `std::string` can contain up to 15 non-NUL characters without heap allocation on 64

[2021-02-15 18:21] ericseppanen commented on #80882
Does rustdoc follow the edition system?  If the 2021 edition could declare that link references are now case-sensitive, would that help ease the pain of a breaking change?

[2021-02-15 18:45] jyn514 commented on #80882
The problem is not the specification. It's very clear IMO that this is 'just a bug' and I don't think I would count fixing it as a breaking change. The problem is that this is just not how markdown works: markdown has case-insensitive links. We could ask https://github.com/raphlinus/pulldown-cmark to make a special case just for us, but I don't know if that's a coherent thing to ask for.

[2021-02-15 18:48] jackh726 commented on #81823
@taralx there's a couple different bits here

Part of this (and I think what you're finding) is fixed in #82066 (see https://github.com/rust-lang/rust/pull/82066/files#diff-446fe5fbcfeb9d0936f1774f53b64d2835bc9dd5ece97b9164d12c635d64a505L26)

The other bit is here: https://github.com/rust-lang/rust/blob/185de5f41a64e1b790524d5873dc1f7e368f64ab/compiler/rustc_trait_selection/src/traits/select/confi

[2021-02-15 19:15] mcclure commented on #82114
A couple of thoughts—

I recognize that you've spun off into some kind of other discussion that isn't specifically about my experience getting confused by the docs. But if my beginner's perspective is helpful—

- I wouldn't say the problem I had was really a problem caused by information being hidden. More so, I'd say the problem I had was information was hidden _and I did not know that informatio

[2021-02-15 19:21] Manishearth commented on #82114
Thanks for the feedback!

Yeah I'd explicitly started this discussion as a "we need to solve this problem in general" with your specific example as a motivator but not the focus

This is the problem I'm hoping to solve by making the type declaration _always_ be shown and have an explicit "expand this" thing:

![image](https://user-images.githubusercontent.com/1617736/107985844-bf8ab380-6f7f-11eb-8

[2021-02-15 19:32] SimonSapin commented on #81513
Oh I see, so this is more like `SmallVec` than `ArrayVec` and "inline" really means inline up to a certain size chosen a compile-time, and heap-allocated for values that turn out at run-time to be larger?

Back to pointer metadata though, I have a bit of a hard time following the `CoerceUnsized` discussion. But could you manage what you want if the handle for storage-generic `Box<T>` is not `T::Me

[2021-02-15 19:42] alsoijw commented on #59220
@hvdijk this is about `rustc_data_structures::static_assert_size`?

[2021-02-15 19:48] hvdijk commented on #59220
Yes, those are the only modifications needed on the Rust side of things (as opposed to the LLVM side) to get a working x32 rustc binary. The `static_assert_size!`s are conditional on `#[cfg(target_arch = "x86_64")]` and should be conditional on `#[cfg(all(target_arch = "x86_64", target_pointer_width = "64"))]`. I am planning on submitting PRs for that once the LLVM side of things is ready.

[2021-02-15 19:56] DianaNites commented on #81996
Under what rule would that be UB? The reference documents [Behavior considered undefined](https://doc.rust-lang.org/stable/reference/behavior-considered-undefined.html#behavior-considered-undefined) and I don't think such a transmute runs afoul of any rules, especially if the layouts are documented. Am I missing something, or is there a missing rule regarding UB?

[2021-02-15 20:00] nico-abram commented on #81996
@DianaNites I think the point was technically `&[i32]` and `&[f32]` are allowed to have different layouts (i.e swap the positions of the length and the pointer) such that transmuting between them would be unsound (without going through into_raw_parts and from_raw_parts)

[2021-02-15 20:06] thomcc commented on #81261
I would guess that they don't care that the sign differs for NaNs on the target platform.

Also, fixing it requires complicating the API of APFloat so that it's aware of the target, so it's not a trivial change, unfortunately.

[2021-02-15 20:12] Lokathor commented on #81996
@DianaNites

transmute is an intrinsic, and code can't rely on the layout of a repr rust struct being stable. *in practice* some layouts are stable, but you can't rely on that. eg: all code from before the field reordering update trying to guess the layout of a rust struct would just be wrong with a modern compiler.

also note, very important:

any number of things can be UB without being on that

[2021-02-15 20:16] mahkoh commented on #81996
Since the reference does not say that repr(C) as described in the reference is only valid for the current version of the compiler, then, following your argument, this must mean that repr(C) as described in the reference is stable. Is that what you are saying?

[2021-02-15 20:24] mahkoh commented on #81996
I've been preparing an RFC to address this. It's a work in progress but feel free to comment. httpshttps://gist.github.com/mahkoh/eb95f518a8a4b25237ffd2edd2730c6b

[2021-02-15 20:25] nikomatsakis commented on #79735
In truth, my opinion is that `let _ = *ptr` should not be UB, regardless of the type of `ptr`, but it should be unsafe if `ptr` is a raw pointer.

[2021-02-15 20:52] Lokathor commented on #81996
Yes, repr C is stable. Yes, changing how it works would be a breaking change. Neither of those points are up for debate, that's just the facts. However, breaking changes are allowed without a semver bump when it's related to soundness issues.

What is left to discuss is how we can fix things with as small of a breaking change as possible.

[2021-02-15 20:54] mahkoh commented on #81996
Where was it decided that the algorithm in the reference is the stable algorithm instead of having the algorithm depend on the platform?

[2021-02-15 21:01] Lokathor commented on #81996
Again, I would really like to stress this point: **the reference isn't the source of truth**. The reference is just describing what the compiler does (as best it can). When the reference and the compiler disagree, unless T-compiler says that it's a bug, then the reference is wrong.

[2021-02-15 21:04] mahkoh commented on #81996
You're contradicting yourself. Previously you said that the layout algorithm of `&[T]` cannot be added to the reference because it is not stable. Yet here you are implying that it can be added to the reference because the reference merely describes what the compiler does.

[2021-02-15 21:19] geo-ant commented on #60074
I saw that actix web has a solution for implementing a common interface across different `Fn` types. I was interested in doing a similiar thing for a project of mine, so I took their solution and [documented the crafty trick they used](https://geo-ant.github.io/blog/2021/rust-traits-and-variadic-functions/). If anyone's interested.

[2021-02-15 21:19] taralx commented on #81823
Sure, but IIUC this issue is just about the confusing (and inaccurate) error message, which is fixed in 82066?

[2021-02-15 21:32] bstrie commented on #81615
https://github.com/rust-lang/rust/pull/82098 seeks to add a private helper to the stdlib and might serve as the building block for whatever API is decided upon. Some notes on its design:

1. It accepts an iterator by-reference. This means it does not need to tackle the question of what to do if the iterator is larger than the destination array. It resolves the problem of a too-small iterator via d

[2021-02-15 21:45] ericseppanen commented on #80882
The reason this is so confusing to me is because the standard markdown piece (link references) have the same syntax as the non-standard piece (intra-doc links).  There's no way for me to know without scrolling to the bottom whether `` [`Foo`] `` is an intra-doc link or not. Is it possible to refer to the same bit of link syntax as "standard markdown" and "nonstandard markdown", depending on contex

[2021-02-15 21:46] ericseppanen commented on #80882
Perhaps it would make sense to ask `pulldown-cmark` to implement a callback for all links, successful or broken, that allows the callback to either accept the parser's handling of the link or override it?  That would be a relatively small change to `pulldown-cmark`, but it's powerful enough to allow rustdoc to have much better control over the link resolution process.

[2021-02-15 23:39] taralx opened #82164 "Optimization not triggering for array concat"
Code: https://rust.godbolt.org/z/TjPcbz
[code]

This shouldn't allocate. Nor should it be doing anywhere *near* as many copies. Even if you remove the Vec -> array conversion, it's still doing way more work than it needs to -- the grow calls should not be there for a simple concat.

[2021-02-15 23:48] taralx commented on #82164
(Similarly bad code for 2+2=4, but strangely slightly less bad code for 1+1=2.)

[2021-02-16 00:57] wesleywiser commented on #81163
@RalfJung I opened #81344 with that optimization but completely forgot that we approved an MCP a few months ago to add a MIR `StatementKind::CopyNonOverlapping`. That work is happening in #77511. Once that is finished, I'll redo #81344 if it's still relevant.

[2021-02-16 00:59] kevleyski commented on #44434
I feel this would be generally useful for debugging Command processes

[2021-02-16 01:07] mendess opened #82168 "Misleading "slices are iterators" hint"
[Given this code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=bf624fa2e446f0a81a094ad8e4cca971)

[code]

One of the notes in error message says

[code]

However slices are also not iterators, but can be converted to an iterator as indicated by another note in the same message as the requirement that isn't met

[code]
The full error message is:
[code]

This came up while

[2021-02-16 01:08] richkadel commented on #82144
@catenacyber - Thanks for filing this issue. I was able to build and test your example, and I can reproduce the problem.

Just to be clear, this is not exactly a bug. Due to certain requirements of LLVM's InstrProf coverage, some compiler (and/or linker) optimizations are not compatible. But coverage instrumentation is not expected to be used in production software, so limiting coverage instrument

[2021-02-16 01:51] henryboisdequin commented on #80853
@camelid I've been working on this for a bit and don't really know how to approach it. Since the code is calling `thing` as a function, an error happens. The definition of `thing` is as an argument to `repro_ref`. Would I need to detect whether it's an argument and then, if so, finding the root definition, or is there a better way to do this?

[2021-02-16 02:01] henryboisdequin commented on #82168
@rustbot label +A-diagnostics +D-newcomer-roadblock +D-confusing +D-invalid-suggestion +D-verbose

[2021-02-16 02:43] RustyYato opened #82170 "Generic bounds are used overzealously"
I tried this code:

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=d10a2b403aee136b0426cc7f602d51ef
[code]

I expected it to compile, but it doesn't. Instead, I get the following compile error:

[code]

This is unusual because `Call::build` is implemented for all types `F: FnOnce(A) -> _` (through the `Callable` trait), and since `Call::build` returns a type that implement

[2021-02-16 03:19] jyn514 commented on #82157
@Aurel300 what do you mean by `macro_backtrace`? I can't find it in the docs for the standard library.

[2021-02-16 03:20] jyn514 commented on #82157
Do you mean https://doc.rust-lang.org/nightly/nightly-rustc/rustc_span/span_encoding/struct.Span.html#method.macro_backtrace?

[2021-02-16 03:24] moxian commented on #81051
setDeleteDisposition is called [at least] twice.
First call succeeds with no incident.
Second call fails at `realPathFromHandle`
https://github.com/rust-lang/llvm-project/blob/70d09f218d1c84fedabdb74881e214dacd5b0c3d/llvm/lib/Support/Windows/Path.inc#L408-L409
- the `GetFinalPathNameByHandleW` returns zero and `GetLastError()` gives 13 ERROR_INVALID_DATA
 (i think.. At least EC variable is set to

[2021-02-16 04:15] jyn514 commented on #82168
@mendess for loops accept either `Iterator` or `IntoIterator`, that's not the issue. The problem is that the compiler isn't smart enough to make the reference to an array decay to a slice:

You can work around it with `let a: &[_] = &[1, 2, 3]` or with `for i in &[1, 2, 3] {`.

However I'm not sure how you got to this error - this code works fine for me:

[code]
Can you please post a minimal repro

[2021-02-16 04:20] jyn514 commented on #82164
This happens because `concat` is only implemented on slices, not arrays, so the standard library doesn't know the length of the output at compile time and has to go through a Vec instead. I'm not sure how this would work for slices - maybe with const generics it's possible?

[2021-02-16 04:23] tgnottingham commented on #81757
So we'd probably want to reduce the number of basic blocks generated for the match, and/or reduce the complexity of the optimization, if either are possible.

@adrian17, I don't know if you're looking for a workaround, but if so, moving the match into a separate function avoids the problem. The LLVM optimization only applies to code within a loop, so replacing the giant match with a function call

[2021-02-16 04:26] camelid commented on #82137
I think there are also a couple of other functions that unnecessarily take `tcx` in the same area of the code.

[2021-02-16 04:27] ramosbugs opened #82171 "Unclear compiler error when `impl Trait` return value captures non-'static argument"
(cc @estebank)

I tried this code (the explicit `'static` lifetime is unnecessary but emphasizes the implicit `'static` requirement of `impl Trait`):

[code]

See [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=2434854bb55fd556e785d9e14cf9ffd2).

I expected to see this happen:

Successful compilation or a clear error message suggesting that `impl Trait` can't b

[2021-02-16 04:27] jyn514 commented on #82156
Relevant code: https://github.com/rust-lang/rust/blob/d1206f950ffb76c76e1b74a19ae33c2b7d949454/compiler/rustc_resolve/src/late/diagnostics.rs#L138

In case it helps, the merges in nightly-2020-06-05 were #72948, #72754, #72618, #72975, #72882, and #72995.

[2021-02-16 04:40] jyn514 commented on #82171
This seems similar to https://github.com/rust-lang/rust/issues/79415.

[2021-02-16 04:55] camelid commented on #80853
@henryboisdequin

I thought about this a bit more and realized that my original suggestion of pointing to the definition of the struct `S` is probably not that helpful and would not generalize. Probably a good approach is to:

- Do you what you suggested in https://github.com/rust-lang/rust/issues/80853#issuecomment-776359333
- Fix the note so it says "`thing` defined here" instead of "`S` defined

[2021-02-16 04:58] jyn514 opened #82172 "`-Clink-arg=-fuse-ld=lld` reports 'cannot find ld'"
What it actually means is 'cannot find lld', which is different - you can have one installed but not the other.

[code]
This comes from gcc, so you could make a reasonable case for this being an upstream bug.

[2021-02-16 05:38] camelid commented on #82156
Error from just before the regression was introduced (run with `nightly-2020-06-01`):

[code]

[2021-02-16 05:38] camelid commented on #82156
Assigning `P-medium` and removing `I-prioritize` as [discussed](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2382156.20ICE.20instead.20of.20syntax.20error.20while.20calling.20super()) in the prioritization working group.

[2021-02-16 05:40] camelid commented on #82042
Duplicate of #80582?

[2021-02-16 05:40] camelid commented on #82042
cc @GuillaumeGomez (https://github.com/rust-lang/rust/issues/80582#issuecomment-753360571)

[2021-02-16 05:45] #73734 closed

[2021-02-16 05:45] #74442 closed

[2021-02-16 05:45] #82117 closed

[2021-02-16 05:45] #72377 closed

[2021-02-16 05:45] #78246 closed

[2021-02-16 05:45] #79518 closed

[2021-02-16 05:45] #79690 closed

[2021-02-16 05:45] #80561 closed

[2021-02-16 05:45] #82052 closed

[2021-02-16 05:46] rust-highfive opened #82173 "`miri` no longer builds after rust-lang/rust#82153"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#82153, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @jonas-schievink, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-02-16 05:55] TaKO8Ki commented on #82042
I think this is duplicate of #80582 too. So I'm going to work on it.

[2021-02-16 06:13] camelid commented on #80582
Closing in favor of #82042 since it has more activity.

[2021-02-16 06:13] #80582 closed

[2021-02-16 08:30] RalfJung commented on #80647
@henryboisdequin wrote

If you could leave a summary of the problem here, that'd be good.  Note that I was specifically talking about `visit_projection`; I am *not* suggesting to change `visit_place` in any way. The mutable vistitor does not have `visit_projection`; it has `process_projection` instead which however doesn't even take a `Local`... I am not entirely sure what is going on there.

[2021-02-16 08:34] henryboisdequin commented on #80647
@RalfJung, oops sorry, I think I messed up `visit_projection` and `visit_place`. In #82091, I'll change `visit_projection` to take a `PlaceRef` and leave `visit_place` alone.

[2021-02-16 08:50] mendess commented on #82168
@jyn514

In the code I wrote `a` is an array and not a reference to an array. Hence the error message, saying
[code]

[2021-02-16 08:55] VaibhavDS19 commented on #54878
Is there any option to turn on the mtuable-noalias using cargo? I tried cargo +nightly build --release -Z mutable-noalias=yes and it said no such option.

[2021-02-16 08:58] ojeda commented on #82132
@rustbot label: +A-rustdoc-search +C-enhancement +T-rustdoc

[2021-02-16 09:04] bjorn3 commented on #54878
Try `RUSTFLAGS="-Z mutable-noalias=yes" cargo +nightly build --release`.

[2021-02-16 09:10] VaibhavDS19 commented on #54878
Now it worked, thank you for the quick response.

[2021-02-16 09:18] SkiFire13 commented on #82146
Looks like a duplicate of #54663

I think the fix for now is changing that `if let` to something like:

[code]

However this will probably be slower than it should be.

The definitive solution will probably be the polonius borrow checker but it isn't stable nor ready yet.

[2021-02-16 09:45] Aurel300 commented on #82157
@jyn514 Yep, sorry, I should have linked to it. Yes, it is the `Span::macro_backtrace` you linked.

[2021-02-16 09:58] tdelabro commented on #78459
Hello,
I get this error in two flavor:

By ref:
[code]

Produce the following:
[code]

Without ref:
[code]

Cause:
[code]

Where `Locked<Heap>` does implement both `Allocator` and `GlobalAlloc` traits.

[2021-02-16 10:28] nikomatsakis commented on #77905
I agree this is not a bug. The error message could use work. The key point is that the lifetime `'a` is not *constrained* by the function parameter types -- it is *referenced*, but not in the right way.

[2021-02-16 10:47] emilio commented on #82146
Yeah, indeed, looks like a dupe. Slightly shorter workaround:

[code]

A bit baffled that the fast thing doesn't work but for my use case that workaround is probably good enough.

[2021-02-16 10:47] #82146 closed

[2021-02-16 10:49] nikomatsakis commented on #74798
Closing, I still think this is "not a bug"

[2021-02-16 10:49] #74798 closed

[2021-02-16 10:50] nikomatsakis commented on #70303
Closing per @estebank's comment

[2021-02-16 10:52] nikomatsakis commented on #70303
Well, I can keep it open with "needs test" I guess

[2021-02-16 10:55] nikomatsakis commented on #81862
I believe that we should require an explicit lifetime parameter, but we should suggest (and accept) `'_` here.

[2021-02-16 10:58] VillSnow commented on #73831
Thanks for much assistance.

[2021-02-16 11:05] nikomatsakis commented on #81862
The reasoning is that we are moving towards a model where you are required to "acknowledge" lifetime parameters (elided-lifetimes-in-paths), so why not make it required in newer code.

That said, for consistency, I think having it be consistent with any other parameter would also be ok.

[2021-02-16 11:28] yoshuawuyts commented on #66481
Though I don't have the bandwidth to carry this, this definitely seems interesting. Seeing projects such as `glommio` and closed-source initiatives lead me to believe that there may actually be a decent case to enable some form of `Context` -> `LocalWaker` to avoid the synchronization overhead on single-threaded runtimes.

I don't know if we should make this a priority, but at least we probably sh

[2021-02-16 11:32] liuhangyu opened #82180 "note: compiler flags: -C opt-level=3 -C embed-bitcode=no --crate-type lib"
--> src/raft/server.rs:179:29
    |
179 | ...                   debug!("Full send buffer for peer {}, discarding message", id)
    |                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    |
    = note: delayed at /rustc/04caa632dd10c2bf64b69524c7f9c4c30a436877/compiler/rustc_lint/src/early.rs:384:18
    = note: this error: internal compiler error originates in a m

[2021-02-16 12:18] jonas-schievink commented on #82180
duplicate of https://github.com/rust-lang/rust/issues/81531

[2021-02-16 12:18] #82180 closed

[2021-02-16 13:01] leonardo-m commented on #81615
In my codebase I'm using similar things since many months. So far I've settled to two functions:
1) A collect_array() that returns an array and asserts the input iterator length to be exactly the same length of the result.
2) And a collect_slice(&mut data) function that collects inside a given slice and returns the filled slice, this just asserts that the input iterable isn't longer than the slice

[2021-02-16 13:19] michaelwoerister commented on #79562
FYI: I've made a [PR to sccache](https://github.com/mozilla/sccache/pull/952) that implements the missing functionality. I haven't heard back from the maintainers yet.

[2021-02-16 13:30] henryboisdequin commented on #80173
@estebank Would this help message only be emitted when the code fails and/or when the program compiles successfully (if there is a way to do such a thing)?

[2021-02-16 14:06] jyn514 commented on #82042
@jsha I can't replicate this on doc.rust-lang.org. What version of rustdoc are you using, and do you have the same problem on nightly?

[2021-02-16 14:11] catenacyber commented on #82144
Thanks @richkadel

I also think that `-C opt-level` is not the real problem, only a convenient way to get a reproducer where changing one byte shows the buggy behavior.
But I am not sure (there may be multiple problems)

I will work on minimizing the example and steps to reproduce the problem with `-Copt-level=0` (and double check that I have no optimizations)

[2021-02-16 15:02] nagisa commented on #82172
Does gcc support using `lld` as a linker?

`-fuse-ld=` does not tell the gcc (or clang) to use the specified value as a linker executable. It tells it to use the certain family of linkers as a linker. e.g. `-fuse-ld=gold` will end up invoking `ld.gold`. Its a lot like the `-Clinker-flavor` argument of rustc.

Yeah I don't think there's anything rustc can do about the linker having ungreat diagnost

[2021-02-16 15:16] danielhenrymantilla commented on #76200
Following from https://users.rust-lang.org/t/cant-understand-warning-when-using-const-evaluatable-checked/55630/6?u=yandros, the following snippet causes three warnings associated with the lint of this tracking issue, and a hard error:

[code]

where `foo` in both cases features, for some generic constant `N`:

  - some non-generic type **with an evaluatable constraint** / that depends on a(n assu

[2021-02-16 15:16] jyn514 commented on #82172
It does - the issue was I didn't have lld installed.

Ok, I'll open an upstream issue.

[2021-02-16 15:18] jyn514 commented on #82157
cc @m-ou-se

[2021-02-16 15:52] jplatte opened #82187 "Make async futures `Unpin` if they don't borrow anything across `.await`s"
Am I missing something or could rustc in principle make the anonymous (return) type of `async fn` and `async {}` blocks implement `Unpin` (or maybe it should be "not implement `!Unpin`") if the body does not contain any borrows across `.await` points? I couldn't find an existing issue about this.

[2021-02-16 16:34] JakobDegen commented on #82187
This seems like it would cause problems regarding accidental breaking changes. Changing a function to now borrow something across an await point is an *incredibly* easy change to accidentally make and would result in the `Unpin` impl being removed from the return type.

An alternative would be to make it possible to explicitly mark that an async function/block should be `Unpin` (removing the possi

[2021-02-16 16:38] jplatte commented on #82187
@JakobDegen I don't see how `Unpin` would be different to `Send` and `Sync` in this regard.

[2021-02-16 16:45] eddyp opened #82188 "[Inquiry] Inconsistent binary size with 'cargo +stable build' vs 'cargo +1.50-x86_64-pc-windows-msvc' ?"
**Problem**

I am not 100% sure this is a bug or expected, but while exploring https://github.com/rust-lang/rust/issues/75804, I have identified this inconsistency in the size of binaries of the same sources when using `+stable` vs `+1.50-x86_64-pc-windows-msvc`:

I would have expected that since the current stable is 1.50, `cargo +stable build`, `cargo +1.50-... build` and `cargo build` to yield

[2021-02-16 16:47] alexcrichton commented on #82188
This is unlikely to be a Cargo issue so I've transferred this to the rust-lang/rust repository. My best guess as to what's happening is that you're monomorphizing code from the standard library which uses `file!()` and the value of `file!()` changes depending on the directory of the compiler which contains the rust-src component. I'm not certain about this, but in any case this is likely a rust-la

[2021-02-16 17:07] estebank commented on #82171
That might be reasonable, it'll just be tricky to identify the specific cases where this action would be appropriate to try and avoid a diagnostic that is too verbose for uncommon cases.

It is a similar case, but will likely need to be handled independently. Let's not close either :)

[2021-02-16 17:07] hyd-dev commented on #82187
How about doing this *only* for `async` blocks? `async fn`s will remain returning `impl Future` without `+ Unpin`, and function authors that want to make it `Unpin` can specify the return type as `impl Future + Unpin` manually.

[2021-02-16 17:13] matthieu-m commented on #81513
It's up to you, you can have either a purely inline storage, or you can have "small" inline storage with heap fallback.

The main point is that the "inline" portion is always of fixed size and alignment (up to the storage) and therefore `RawBox` itself is always `Sized`.

_(You can an equivalent of `ArrayVec` instantiated [in this test-suite](https://github.com/matthieu-m/storage-poc/blob/master/s

[2021-02-16 17:18] jplatte commented on #82187
You mean by making it a regular `fn` and wrapping the entire body in `async move {}`? That would be pretty annoying. I think a similar strategy could be used to create an attribute macro that asserts `Send` / `Sync` / `Unpin` for `async fn` (not sure about `async` blocks, can proc-macro attrs be used on expressions?), but doing it manually would be super annoying.

[2021-02-16 17:23] eddyp commented on #82188
How can we confirm/infirm this hypothesis?
Could it be in a directory that does not contain the version in it?

Installed components seem to be different:
[code]

[2021-02-16 17:28] hyd-dev commented on #82187
Yes, and I agree that could be annoying (sorry for not thinking of this point before commenting, stability itself is annoying)...

[2021-02-16 17:31] estebank commented on #82171
There's no way currently to express that an `impl Trait` _doesn't_ capture all the input lifetimes. Once `type Ret<'a> = impl Trait + 'a;` is stabilized you _could_ express the behavior you're looking for, but for now the only option are the ones identified in the report (explicit type and `Box<dyn Trait>`).

[2021-02-16 17:32] estebank commented on #79415
https://github.com/rust-lang/rust/issues/82171#issuecomment-779997655:

[2021-02-16 17:42] bstrie opened #82189 "MIR should never emit references to `std::intrinsics::drop_in_place`"
When the `drop_in_place` feature was first stabilized, its lang item (and stable interface) was `intrinsics::drop_in_place`. Later in https://github.com/rust-lang/rust/commit/f2c7917402ebd858f5b517a3406bec8ef187bfb1 , `intrinsics::drop_in_place` was deprecated in favor of `ptr::drop_in_place`. However the deprecation never actually happened in practice, because `#[rustc_deprecated]` does nothing w

[2021-02-16 17:42] RalfJung commented on #81261
Oh right, I forgot... the spec says the sign is not specified.

In that case I am not even sure if there's a bug here, or does IEEE mandate that these operations all be deterministic? And even then that seems like something we are already tracking at https://github.com/rust-lang/rust/issues/73328, so I am inclined to close this as a duplicate.

[2021-02-16 17:48] jplatte commented on #82187
I guess I'll create that then 😄

[2021-02-16 17:51] eddyp commented on #82188
I ran strings on both executables and there seem to be some differences like the ones below (but these are not the only ones).
Also, I don't know if the differences are limited only to such issues, or if there are differences in the generated code.

![image](https://user-images.githubusercontent.com/123772/108101563-14b5ea80-7090-11eb-8099-c2a37e3557f8.png)

[2021-02-16 17:53] nikomatsakis commented on #81996
Is there a summary of the core issue here? The OP is basically a long code example, so it's not obvious to me what the problem is, and there are a lot of comments for me to sort through.

[2021-02-16 17:54] nikomatsakis commented on #81996
@mahkoh

Whether intentional or not, these comments read hostile to me, as do others you have made on this thread. I would encourage you to speak less personally -- perhaps "But there is a contradiction here. On the one hand... on the other...", for example.

[2021-02-16 18:01] bstrie commented on #82189
Note that the test case here will probably stop working once https://github.com/rust-lang/rust/pull/82122 lands, but that PR contains nothing that should be having any effect on this. The underlying bug will still remain somewhere.

[2021-02-16 18:01] nikomatsakis commented on #80059
We discussed this in a previous lang team meeting and concluded that we did not find that strange =)

Unsafe checking is not flow sensitive (e.g., it applies to dead code), but borrow checking is.

[2021-02-16 18:03] jsha commented on #82042
My testing is on doc.rust-lang.org (and also docs.rs), using Chrome 88.

[2021-02-16 18:05] mahkoh commented on #81996
@nikomatsakis There is no hostility intended. We're in a somewhat heated debate discussing an issue, not each other. Any attacks on each other's ideas are restricted to this debate.

Since you've already chimed in, please settle this question for us so that we can move past it:

- Is the rust reference intended to only document stable parts of the rust language and rustc (as long as the correspond

[2021-02-16 18:05] ehuss commented on #82188
Yes, those differences appear to be due to the presence of the rust-src component.  You can either remove it, or add it to the 1.50.0 install.

You may also consider experimenting with `--remap-path-prefix`, though YMMV, and I don't remember if that is sufficient to remove the differences.

[2021-02-16 18:15] Lokathor commented on #81996
* The Rust Reference only documents Stable Rust. It also ships with the stable compiler as part of its documentation of each stable version. There's a separate document (The Unstable Book) for Nightly things. Source: This is the stated position of the main two people who do some of the most work on the Reference when they were asked about this exact issue ~2 weeks ago (I believe it was Feb 1) duri

[2021-02-16 18:18] mahkoh commented on #81996
We agree on this.

Of course in those areas that are affected by this and which interact with actual C, the behavior is already undefined.

Like I pointed out above, this algorithm was introduced in a PR that implemented a completely unrelated RFC as a sort of drive-by. I've not seen any stabilization PR related to this issue. Please link it if you can find it.

[2021-02-16 18:20] joshtriplett commented on #81996
@mahkoh

Intent doesn't change the net effect. And when something feels "heated", that's all the *more* reason to err on the side of de-escalating wherever possible. Again, we're all here trying to make things better, so let's remember that we're trying to collaborate, not attack or score points, please. It's possible to express a preference for one idea over another, or point out the issues with

[2021-02-16 18:27] Lokathor commented on #81996
If the reference didn't exist, or was a blank document, or simply didn't describe any algorithm for repr C, it would *still* be very dangerous to change how repr C works. Because people use Repr C for a lot more than interaction with C code. They use it to make unsafe code that fiddles with bytes and pointers and things like that do whatever they want to do. It's perhaps unfortunate, but that's th

[2021-02-16 18:31] AlfredTH opened #82193 "Incompatibility between musl and crates linking to shared libraries"
I'm trying to rewrite [kmscube](https://gitlab.freedesktop.org/mesa/kmscube/) in rust, targetting an environment with musl as libc implementation.
kmscube's goal is to demonstrate the use of opengl without any compositor. It relies on mesa3d's libgbm, which is present as a shared library in my musl environment, at `/usr/lib/libgbm.so`. There is a rust crate wrapping libgbm : [gbm.rs](https://githu

[2021-02-16 18:35] mahkoh commented on #81996
@joshtriplett I will not go into this kind of debate here and I don't think you're intending to go into this kind of debate either. There is already too much too much discussion of minor side issues here and this debate would be completely off topic. Do not take this as me ignoring your comment or silently agreeing or silently disagreeing with it.

[2021-02-16 18:41] mahkoh commented on #81996
That is true but let's remember that this would only affect windows targets (excluding MinGW) and only those that use zero-sized types in repr(C). The effects could be negligible. Maybe one could evaluate the crates on crates.io. I'm mostly concerned about repr(C) on types with generic type parameters. However, such types are also unsound on MSVC targets because of

[code]

(That is, if the code a

[2021-02-16 18:43] estebank commented on #82168
The incorrect suggestion is because `[T; N]` indeed used _not_ to implement `IntoIterator`.

[2021-02-16 18:48] Lokathor commented on #81996
Well I wrote such a thing [as a joke once](https://docs.rs/chromium/0.0.2/chromium/struct.SharedSlice.html) and I barely needed it, so I'm sure someone has made such a thing for real.

[2021-02-16 18:54] joshtriplett commented on #81996
We discussed this in the @rust-lang/lang meeting today. Our conclusions:

- `repr(C)` is intended to mean "match the default C ABI for the target". (This applies to structs, enums, or anything else to which you can apply `#[repr(C)]`.) If `repr(C)` for MSVC targets does not match the C ABI of MSVC, that's a bug and should be fixed. If the reference describes `repr(C)` differently, the reference sh

[2021-02-16 18:58] mendess commented on #82168
[It still doesn't](https://doc.rust-lang.org/std/primitive.array.html#impl-IntoIterator) :thinking: and what I think is misleading is saying "slices are iterators"

[2021-02-16 19:05] Matthias247 commented on #66481
I think bringing `LocalWaker` back would be a nice additional improvement. But for the moment it would be nice to just fix the general `Context` sync-ness, which blocks all other fixes and improvements.

[2021-02-16 19:16] estebank commented on #80173
Only on error. The only "suspect" cases would be like `vec![1, 42]` and at that point that is fine, there are plenty of valid reasons for that code to be written. Only in cases where there's an error being emitted it makes sense to help, as the typo might not be obvious.

[2021-02-16 19:21] #82173 closed

[2021-02-16 19:31] Artemis21 commented on #75833
I think the warning that `complete` is not recommended should be stronger, I only got it _after_ I had selected it. Intuitively, it seems like `complete` would be the ideal profile if storage space was not a concern.

[2021-02-16 19:43] sunshowers opened #82195 "Add Path::display_lossy() and display_escaped() methods"
Currently `Path` has:
* a single `display()` method which converts any invalid UTF-8 bytes to REPLACEMENT CHARACTER (U+FFFD)
* a `Debug` impl that always adds quotes and escapes invalid UTF-8 bytes

This can result in some confusion because people that "just want to print a path" may end up

It would be great to:
* add a `display_escaped()` method which is similar to the `Debug` impl if there are

[2021-02-16 19:44] korken89 commented on #63084
Ping again on the status of stabilization?

[2021-02-16 19:45] jplatte commented on #82187
The amount of code required is smaller than I expected. I've hardly tested it, but I think it should work: https://docs.rs/async_auto_traits/0.1

[2021-02-16 20:20] hyd-dev commented on #82187
Maybe off-topic: @jplatte Thanks for the crate :heart:. I have a question though: is `#[async_auto_traits::clear]` supposed to enforce no auto trait implementations can be used (if it's not, ignore me)? Looks like it does not (this compiles):
[code]
And it looks like `impl Future` [does not hide auto traits](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=580746c7682bc3614

[2021-02-16 20:31] jyn514 commented on #82195
Deprecations don't need to be tied to editions, only breaking changes.

[2021-02-16 20:39] aidanhs commented on #80753
Correction - I deleted the nightly ones, so >500k combined. This looks like it's reduced our storage of ci2 from 78.5TiB to ~55TiB.

There are still a few other .gz files:
[code]
The first set are .gz files that mention nightly - not sure where they've come from, maybe they got missed in the initial run?
Of the second command, ~21k are nightly and most of the others are release versions. I estimat

[2021-02-16 20:39] sivadeilra commented on #81996
@joshtriplett I'd like to suggest that Rust should report a lint / warning, if `#[repr(C)]` is applied to any zero-sized types. It should be suppressible. I think a warning is good for two reasons:

1. It's a violation of the C spec, and different compilers handle this differently. It's good to inform the user, since they're already in the danger zone.
2. If the user is using `#[repr(C)]` for inte

[2021-02-16 20:44] Lokathor commented on #81996
Yeah, PhantomData is supposed to be phantom, it shouldn't affect even repr C layout.

[2021-02-16 20:46] fanninpm commented on #82034
Confusingly, I haven't (yet) been able to reproduce this without using `cargo`. @Alexendoo @JohnTitor mind taking a look at this?

[2021-02-16 21:18] ojeda commented on #81996
@sivadeilra Agreed, a warning would be welcome. It would match GCC and Clang which both warn about it under pedantic mode.

[2021-02-16 21:27] Alexendoo commented on #82034
Sure, if you pass `--verbose` to cargo it'll tell you what rustc command it's running, then you can whittle away flags

Here `rustc -C incremental=foo` gets it to fail (if you add a main)

[2021-02-16 21:31] fanninpm commented on #82034
@Alexendoo thanks! `rustc --test -C incremental=foo` did the trick.

[2021-02-16 21:38] nikomatsakis commented on #81823
@rustbot assign @matthewjasper

[2021-02-16 21:40] jplatte commented on #82187
That's kind of surprising but kind of not. I'm out of time for today, testing whether one can explicitly opt out via `+ !Send` or sth. like that would be interesting.

[2021-02-16 22:06] ibraheemdev commented on #19182
@nikomatsakis Why is this intentional behavior? The following code still compiles on Rust 1.50:
[code]

[2021-02-16 22:16] Manishearth commented on #82195
Worth noting: this is its current behavior, it is not documented as such, and it is allowed to differ between platforms

[2021-02-16 22:49] joshtriplett commented on #81996
@ojeda No, it'd mean that we need to fix rustc on MSVC targets to match the ABI of MSVC.

[2021-02-16 22:50] joshtriplett commented on #81996
@sivadeilra That might potentially be reasonable, but I'd ask that you file that as a separate issue (also tagged T-lang), so that we can consider it independently.

[2021-02-16 23:12] JakeStanger opened #82199 "ICE when passing numeric literals to str as generics"
Here's a fun one I discovered back in 2019 when I first started learning Rust and forgot to report (sorry!). I figured I'd try the genius idea of making a string of length 3 by passing `3` as a generic. I dug up the code that caused the problem, and it sure enough causes the same crash now.

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summar

[2021-02-16 23:12] ojeda commented on #81996
@joshtriplett That's the thing: there is no match for that in MSVC (for C) since the compiler does not accept it.

[2021-02-16 23:21] cuviper commented on #81051
Since it's coming from `LLVMRustWriteArchive` calling `llvm::writeArchive`, I wonder if it could be reproduced with clang objects and `llvm-ar`, which calls the same.

Also, this bug looks similar using `wasm-ld`: https://bugs.llvm.org/show_bug.cgi?id=48378

[2021-02-16 23:26] AlfredTH commented on #82193
I will try to build the musl target with `static_position_independent_executables` set to `false` to see if the dynamic linking takes place.

[2021-02-17 00:28] teymour-aldridge commented on #54140
I'd be happy to try some of the implementation if it helps? This is a feature I think would be really useful, so if I can help I'd love too!

[2021-02-17 00:52] jyn514 commented on #82199
1.48-nightly is 6 months old, this is fixed on master. https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=804b1c50345e46ef1473cd7341a3e1e9

[2021-02-17 00:52] #82199 closed

[2021-02-17 00:52] camelid commented on #82199
Dang, you beat me to it by 1 minute! 😆

[2021-02-17 00:52] camelid commented on #82199
Based on testing with Godbolt, it looks like it was fixed in 1.49.0. Probably work on `const_generics` is what fixed it.

[2021-02-17 01:06] moxian commented on #81051
`llvm-ar` does indeed fail with the same error:

[code]

[2021-02-17 01:46] camelid opened #82205 "Replace if-let and while-let with `if let` and `while let`"
I kind of like the look of if-let and while-let, but @varkor and I think that
it's probably clearer and more consistent with other error messages as `` `if
let` `` and `` `while let` ``.

This will have to be changed in the compiler's error messages and the language
documentation (in `src/doc/`). Run `rg -F -e '-let' compiler/ src/doc` to find
out what to change.

*Originally discussed in https://

[2021-02-17 03:11] jyn514 opened #82206 "Don't build rustc_middle for `x.py build src/tools/rustfmt`"
Rustfmt only depends on the parser, not type checking, and building rustc_middle greatly increases the time it takes to build.

[code]

[2021-02-17 03:17] Mark-Simulacrum commented on #82206
While true, it's not clear to me that we expect people to build rustfmt in tree much since it's a submodule, and I think this would increase complexity in an unfortunate way with bootstrap's current architecture based on my expectation for what it would take; I'd prefer not to do it without stronger justification.

[2021-02-17 03:19] jyn514 commented on #82206
I'm hoping to make rustfmt a subtree instead of a submodule. See today's discussion in #dev-tools: https://discord.com/channels/442252698964721669/459149107387170817/811347550660722749

[2021-02-17 03:22] jyn514 commented on #82206
This is true, but I was hoping to make a similar change at some point anyway so you can e.g. run `x.py build library/core` and not build libstd.

[2021-02-17 05:49] camelid opened #82209 "rustdoc: Confusing intra-doc handling of `Self` in enum"
This code works fine:

[code]

But this code's intra-doc link doesn't resolve:

[code]

[code]

Doesn't `Self` usually only refer to types, not enum variants? (Barring the proposed RFC to make enum variant types.)

[2021-02-17 05:52] camelid opened #82210 "rustdoc: Show span of link definition for `broken_intra_doc_links`"
### Code

[code]

### Error

[code]

Instead (or in addition) it should point to `[foo]: Nonexistent`. The way it is now is confusing because you can't see `Nonexistent` anywhere in the span that is pointed to.

Not sure if an issue for this already exists, so I filed this one.

[2021-02-17 05:54] camelid commented on #82209
Yeah, this definitely seems like a bug. I have to use `Foo::Self::abc` (or `Foo::Bar::abc`). `Self::abc` doesn't work because it looks for the enum variant as if it's a free-floating type:

[code]

[2021-02-17 05:56] jyn514 commented on #82209
@camelid do you know if this ever worked? I might have broken it in https://github.com/rust-lang/rust/pull/76467.

[2021-02-17 05:56] jyn514 commented on #82209
But also I agree that this seems like a misfeature, I'd be ok with getting rid of it. To do that, just delete [`variant_field`](https://github.com/rust-lang/rust/blob/master/src/librustdoc/passes/collect_intra_doc_links.rs#L462-L844) and all references to it.

[2021-02-17 06:00] jyn514 commented on #82210
Oh ugh, https://github.com/rust-lang/rust/pull/80550 never got backported. This is fixed on beta.

[2021-02-17 06:00] jyn514 commented on #82210
Personally I don't think this is worth a stable-backport.

[2021-02-17 07:12] hyd-dev commented on #82187
Looks like this can prevent the `Future` from implementing `Send` and `Sync` ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=f9d1e1f625b7962fb8624c0948a5c031)):
[code]

[2021-02-17 07:28] osa1 commented on #82205
@rustbot label: +E-easy

[2021-02-17 07:40] TaKO8Ki commented on #82205
@rustbot claim

[2021-02-17 08:14] osa1 commented on #75439
Thanks @mark-i-m, that's very helpful.

Update: I figured this out and have a working prototype. On the way I was also able to come up with examples where the duplication is much larger then the original repro or my simpler repro above, which my code fixes. I'm hoping to submit a PR this weekend.

[2021-02-17 09:14] bluss commented on #77960
One of the culprits in std (but not the only one) - is that closures inherit all type parameters in their scope, not just those that affect it, and solving that separately would allow us to remove some of the workarounds in `Iterator` specifically.

I don't know the status of polymorphization, is that solving enough to remove the need for the workarounds in Iterator?

[2021-02-17 09:21] m-ou-se commented on #39081
Reading back this thread, it seems that everyone came to the conclusion that temp_dir should *not* return XDG_RUNTIME_DIR, so I'm closing this issue.

However, some other issues were brought up:

1: We're using TMPDIR without a check:

2: A problem with temporary files in a shared folder:

3: A documentation issue:

Issue 1 requires a separate discussion about what the right behaviour would be. @s

[2021-02-17 09:21] #39081 closed

[2021-02-17 10:13] MarnixKuijs commented on #81381
I have tested with different bootstrap compilers, but nothing seems to effect anything

[2021-02-17 11:05] JakeStanger commented on #82199
:facepalm: my bad, I saw my version was nightly and didn't think to update.

[2021-02-17 12:15] apiraino commented on #82139
Assigning `P-low` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2382139.20ICE.20with.20unknown.20variable.20in.20closure.20and.20impl.20trait.20.E2.80.A6) and removing `I-prioritize`.

[2021-02-17 12:19] apiraino commented on #82074
@rustbot label -I-prioritize +P-high

[2021-02-17 12:19] apiraino commented on #82074
Assigning `P-high` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2382074.20--remap-path-prefix.20behavior.20regression.20resulting.20in.E2.80.A6) and removing `I-prioritize`.

[2021-02-17 12:23] hameerabbasi commented on #82151
Bisected, but this goes back to at least `2018-01-01`. I ran `cargo-bisect-rustc cargo bisect-rustc --test-dir=. --start=<date>` with date being the first day of 2018, 2019, and 2020. Got errors of the form:

[code]

[2021-02-17 12:23] apiraino commented on #80925
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2380925.20Accessing.20DST.20field.20of.20packed.20struct.20calculates.20the.20.E2.80.A6) and removing `I-prioritize`.

[2021-02-17 12:24] apiraino commented on #80925
@rustbot label -I-prioritize +P-medium

[2021-02-17 12:33] apiraino commented on #78651
Assigning `P-medium` as discussed as part of the [Prioritization Working Group procedure](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2378651.20ICE.3A.20'assertion.20failed.3A.20!self.2Esubstitutions.2Eis_empty.E2.80.A6) and removing `I-prioritize`.

[2021-02-17 12:33] apiraino commented on #78651
@rustbot label -I-prioritize +P-medium

[2021-02-17 12:35] hameerabbasi commented on #78651
The current nightly doesn't reproduce this:

[code]

I think just a testcase needs adding.

[2021-02-17 12:38] osa1 commented on #78651
This still panics with current nightly ee88f46bb5e:

[code]

[2021-02-17 12:57] hameerabbasi commented on #78651
This is rather strange.

[code]

[2021-02-17 12:59] hellow554 commented on #82209
hey @jyn514

you are correct. Bisecting this leads to https://github.com/rust-lang/rust/commit/b7ebc6b0c1ba3c27ebb17c0b496ece778ef11e18

So the fix is to get rid of the `variant_field` method completly (and of course delete any code that calls it)? Or am I misreading it?

[2021-02-17 13:02] henryboisdequin commented on #80173
@rustbot claim

[2021-02-17 13:05] hameerabbasi commented on #78651
As stated in the edited message above, this ICE only happens on Rust 2015 edition.

[code]

[2021-02-17 13:10] apiraino commented on #82151
@rustbot label I-nominate

We would like the compiler team to have a closer look at this (tomorrow during the meeting) to help assessing the implicatons ([Zulip discussion](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2382151.20.60undefined.20reference.20to.60.20linker.20error.20when.20using.20dyl.E2.80.A6))

[2021-02-17 14:25] jyn514 commented on #82209
Yes, I think so. No one noticed this breaking for 12 weeks and `Self` always refers to the type in normal code, not the variant: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=9655fe188d99f728e90e65a08164e825

[2021-02-17 14:42] eddyp commented on #82188
@ehuss But does that mean that rustc does not make (yet) any claims WRT reproducible builds?

Context: https://reproducible-builds.org/

[2021-02-17 14:53] jplatte opened #82219 "Extra trait bound makes function body fail to typecheck"
I tried this code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2748c19d288d6a1ffcb235cfee18df12)):

[code]

<details><summary>Or with references instead of Option</summary>

[code]

</details>

**I expected to see this happen:** Compile successfully, with or without the unneeded `(): Foo<'a>` bound.

**Instead, this happened:** It works when the `(): Foo<'

[2021-02-17 15:06] Neutron3529 commented on #66724
what about `fn insert(&mut self, value: T) -> bool`?
[code]

[2021-02-17 15:23] est31 commented on #82001
@goffrie good point. Maybe the docs added by #82002 should include this as a caveat and point to using a `BTreeSet` if you need to do such an operation more often?

[2021-02-17 15:54] Neutron3529 commented on #66724
a `fn insert(&mut self, item: T)->bool` is more beautiful here.
[code]
Previously I made a mistake that think `insert` is as fast and easy to implement as `push`..
I'm fixing that problem, the PR will be later.
That PR may provide sub-linear time complexity, but slower than push.

[2021-02-17 16:00] MarnixKuijs commented on #81381
I got the rustc_driver to link, by setting `crt-static = true` in the config.toml and making sure that the `LLVM_USE_CRT` was set to `MT` instead of `MD`. However it seems that linking with dynamic libs is results in these linker errors.

[2021-02-17 16:05] tmiasko commented on #81658
The drop implementation is necessary as otherwise the behaviour of both programs would be equivalent.

The same issue exists for unused variable lint, so it probably would make consistent policy decision whether a warning should be produced or not: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a19dafb0b131fb33225ac4c4e2e15dfa (the same program with unused variable remove

[2021-02-17 16:12] tmiasko opened #82221 "Tests frequently hang when running in CI"
For example:

* i686-gnu, https://github.com/rust-lang-ci/rust/actions/runs/584397542

[code]

* i686-gnu, https://github.com/rust-lang-ci/rust/actions/runs/582799710

[code]

* i686-gnu-nopt, https://github.com/rust-lang-ci/rust/actions/runs/581261402

[code]

* i686-gnu-nopt, https://github.com/rust-lang-ci/rust/actions/runs/580204602

[code]

* i686-gnu, https://github.com/rust-lang-ci/rust/act