[2019-11-15 05:49] estebank commented on #24745
[The current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fba5801d980d62bd9e95de5fc7c85f26) for [this case](https://github.com/rust-lang/rust/issues/24745#issuecomment-289125245) is:

[code]

For the last comment:

[code]

For the original report:

[code]

@nikomatsakis is there anything else we should do here?

[2019-11-15 06:19] moxian opened #66434 "cargo fix fails on non_shorthand_field_patterns"
Code:

[code]

`cargo fix` output:

[code]

Note that `inner inner` in the attempted fix is incorrect syntax (it ate a colon).

~~Github helpfully suggests that #65924 might be related.~~ Edit: it probably actually isn't.

Version info:
[code]

[2019-11-15 07:21] nightmared commented on #66386
In fact this has nothing to do with cyclical types, as teh following can trigger it:
[code]
So I guess it's more of an issue of answering the question`'OwnedE<T>:? PartialEq` that lead to  `E<T> :? PartialEq` that itself leads to `T:? PartialEq`, that is recursively discovering compatible implementations. There might be an explosion in the number of items to expand (how deep should this algorithm

[2019-11-15 08:01] csmoe commented on #65924
it's suggesting to remove `text:`, not `ref text` as:
[code]

[2019-11-15 08:01] #65924 closed

[2019-11-15 08:05] csmoe commented on #66434
thanks for feedback :)
it seems a rustfix bug, could you please file a issue there? cc https://github.com/rust-lang/rustfix

[2019-11-15 08:09] csmoe commented on #66400
this is indented, check out the [reference](https://doc.rust-lang.org/reference/expressions.html#temporary-lifetimes) for details.

[2019-11-15 08:09] #66400 closed

[2019-11-15 08:13] moxian commented on #66434
Will do.
Is it intentional that `cargo fix` suggests filing a bug in this repo (see the error message), or should that be changed?

[2019-11-15 08:44] hellow554 commented on #66422
As already stated in https://github.com/rust-lang/rust/issues/66286#issuecomment-552339589 the `wasm_bindgen` proc macro can be reduced to:

[code]

[2019-11-15 08:52] acnologia000 opened #66437 "Rustup installation failure at installing rustc component"

[2019-11-15 09:03] elichai commented on #66220
I want to take the devil's advocate here.

I think that if someone is passing pointers to C with the point of being opaque the right thing to do is use void pointer.
I think the likely scenario in someone passing pointer to a non-FFI type to extern "C" is just that he forgot the `repr(C)` attribute, not that he's doing opaque magic.

[2019-11-15 09:18] elichai commented on #66220
@CryZe I edited my post.
why lose type safety?
[code]

[2019-11-15 09:59] denisandroid opened #66439 "[E0015] Signs of constant return value are lost when "impl" is used."
[code]

Play: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=99f578dfc7ea70cf59bc59fe86485cd6

[code]

[2019-11-15 10:16] Centril commented on #65774
cc @jonas-schievink re. #61812.

[2019-11-15 10:19] nappa85 opened #66440 "Confusing error message on variables created on the fly and passed to an async fn"
Hello,
when passing variables created on the fly to async functions, I get a really confusing error like that:
[code]

You can replicate this error by compiling my project  https://github.com/nappa85/Pokifications/tree/mysql_async, editing file https://github.com/nappa85/Pokifications/blob/mysql_async/src/bot/message.rs on line 106, putting the query String directly on the query method, like that:

[2019-11-15 10:20] elichai commented on #66220
I understand, I'm just trying to also say that usually people pass stuff to C code by const pointers and not by value, so not checking the repr on those arguments means the lint lose most of it's usefulness for the regular user (who needs the lint the most)

[2019-11-15 10:20] danielhenrymantilla commented on #66220
Hence the need for _two_ separate lints: it depends on the use case.

[2019-11-15 10:26] danielhenrymantilla commented on #66220
As a matter of fact, the following code triggers the lint:

[code]

Given that no members of `Foo` are public, and that it is `Sized` and being passed by pointer, this ought to be accepted, it is literally impossible to misuse.

[2019-11-15 11:54] Michael-F-Bryan opened #66442 "ICE using unknown variable for array length in const generic function"
I found this while playing around with someone's const-generic array concatentation function [on Reddit](https://www.reddit.com/r/rust/comments/dwcazz/implementing_arrayvec_using_const_generics/f7kmvw5?utm_source=share&utm_medium=web2x).

([playground](https://play.rust-lang.org/?version=nightly&mode=release&edition=2018&gist=fc91d966c3b8b0d92dabf997925e9b9e))

[code]

Backtrace:

[code]

[2019-11-15 12:02] hellow554 commented on #66442
ICEs also on stable and beta

[2019-11-15 12:07] hellow554 commented on #66442
probably a dup of #66205

[2019-11-15 12:08] tmandry commented on #65000
Pulling tools in-tree is a separate discussion IMO, and it seems like not everyone agrees. For now I'd like to get this through, so we can have greener toolstate with minimal changes to our process.

What's left? It looks like we still need some people to check their box - someone from nomicon (@Gankra, @frewsxcv) and someone from rust-by-example (@marioidival, @steveklabnik). But the manual FCP h

[2019-11-15 12:18] sfackler commented on #66440
Duplicate of #64960.

[2019-11-15 12:18] #66440 closed

[2019-11-15 12:19] Michael-F-Bryan commented on #66442
Looking at [your minified example](https://github.com/rust-lang/rust/issues/66205#issuecomment-551412399) I'd say it's a dupe.

[2019-11-15 12:19] #66442 closed

[2019-11-15 12:20] Mark-Simulacrum commented on #65000
My feeling is that we can probably move forward with the change, but we don't yet have an implementation. I need to spend a solid chunk of time to figure out the current implementation of toolstate; I have not had sufficient time to do so recently. I'm hoping to dedicate a few hours this weekend to hopefully get a PR up, though, so if nothing else comes up that'll likely happen.

[2019-11-15 12:37] Jasper-Bekkers commented on #54882
+1 For this, in C++ code bases I've worked on this was very useful in a few cases;

* debugging optimized builds (eg. you know which function breaks so you want to toggle some to off just to be able to debug it more easily)
* assert handlers and other error handling things that you want to be able to quickly inspect in a debugger as a known "all the registers are sane" point in the code.

I'd love

[2019-11-15 12:48] gnzlbg commented on #51540
I agree.

[2019-11-15 12:57] #66286 closed

[2019-11-15 12:57] #66353 closed

[2019-11-15 12:57] #66382 closed

[2019-11-15 12:57] #66387 closed

[2019-11-15 13:06] GuillaumeGomez commented on #66249
I think this is a good idea and something we might want to have on the long-term. However it brings some questions:

* How should we render the markdown folder files? All in one page or a page for each file? Maybe we'd like a "book" tab in the docs? If so, what should it look like?
* To include files/folders from markdown, what syntax should we use?

[2019-11-15 13:09] oli-cosmian opened #66444 "Show the location of a type usage for trait bound failures"
cc @estebank

The following diagnostic doesn't tell the user anything about *where* the type that causes the failure is coming from. I understand that we can't report a correct source site, but we could create a heuristic:

Instead of having a `note:` without an associated span, we could check where (if at all) the type is used in the function and report those spans as potential sources of the err

[2019-11-15 13:10] olegnn opened #66445 "Too many `type inside `async` object must be known in this context` errors"
This code ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1bc26deb3213fe0b2fb95f71a2c6e60d))
[code]
currently produces 11 errors:
- 1 of `the trait bound is not satisfied`
- 10 of `type inside `async` object must be known in this context`.

If you increase array length, it will generate even more.

[2019-11-15 13:13] Ppjet6 commented on #66249
@kinnison also raised the question of what to do with these links in reexported symbols (when they reference some file local to the repo that isn't in the one that reexports).

[2019-11-15 14:32] ehuss commented on #66434
This is the correct place to file the issue, it is a bug in `rustc`.

The issue is that the `non_shorthand_field_patterns` lint is providing a bad suggestion.  Either the span needs to encompass the entire binding, or the suggested text needs to be the empty string.

[2019-11-15 15:04] mbrobbel commented on #24843
It seems that the E0394 error was removed in https://github.com/rust-lang/rust/pull/51110 and the tests were moved from compile-fail and ui/error-codes to run-pass.

[2019-11-15 15:50] curiousleo commented on #44489
@bors I think this issue should be re-opened until `panic_info_message` is no longer an unstable feature. Currently it still is: https://github.com/rust-lang/rust/blob/0f12bad718bb8b1fb2b1b7267a02fffaef6e1e3c/src/libcore/panic.rs#L93.

[2019-11-15 16:02] AlexKornitzer commented on #64340
Just finished bisecting and the culprit commit affecting my project is https://github.com/rust-lang/rust/commit/185dcebbff7f3c18fb94be82f76bdfd620cfb096 which appears to be the same changes affecting #66265 and #65610. @alexcrichton is there any chance we can revert this? or is there a way to move this issue forwards?

[2019-11-15 16:05] yodaldevoid commented on #44489
@Centril @japaric about the the above message as @bors is a bot.

[2019-11-15 16:15] vext01 opened #66450 "Syntax of `rustc --cfg` with key and value is obscure."
Hi,

I was recently defeated by `rustc --cfg`.

`rustc -h` says:
[code]

Hrm, well I know that stuff like `--cfg var` should work, but that I should also be able to assign a value:

[code]

Eh? I passed exactly what the error asked. And obviously the backticks can't form the solution, as they'd open a sub-shell.

The solution is to use: `rustc --cfg 'key="val"'`

The quoting is very specific.

Swa

[2019-11-15 16:24] curiousleo commented on #44489
Lol thanks!

[2019-11-15 16:28] steveklabnik commented on #65000
I've checked my boxes, I don't have a strong opinion here and it seems like everyone thinks this is a good change.

[2019-11-15 16:34] iwikal opened #66451 "Replace Debug representation in const value pretty print"
As discussed in #65859, we shouldn't be using Debug for user facing output.

[2019-11-15 16:34] steveklabnik commented on #45857
I don't believe that we've done anything in this area in the past few years.

[2019-11-15 16:57] #62524 closed

[2019-11-15 16:57] #66433 closed

[2019-11-15 17:39] ehuss commented on #66450
It is `key="val"`, or more specifically, the [_MetaNameValueStr_](https://doc.rust-lang.org/nightly/reference/attributes.html) grammar where it is IDENT=STRING where STRING is a Rust string literal (or raw string). The escaping and quoting rules will depend on which shell you use, or if using a programmatic API it depends on the escaping rules of whatever language you are using.   For bourne-style

[2019-11-15 17:48] jxs opened #66455 "expected trait, found derive macro `Debug` error where should be the autotrait error"
when defining additional some prelude traits not auto such as `Debug`
[code]
[link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=df173c47f7aa3280dbf65f18a389c910)
the error given by the compiler is
[code]

if the code above is updated to
[code]
[link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=44aaa07844804739f1e4d585119fb4f2)

then the right

[2019-11-15 18:00] jxs commented on #66455
never mind, Debug is not on prelude

[2019-11-15 18:00] #66455 closed

[2019-11-15 19:00] LukasKalbertodt commented on #40062
Just to bring up a different opinion: how about removing this method instead of stabilizing it? While yes, it would be convenient to have, it might not be worth it.

For one, `remove_item` is not a good name, as many already said. The name doesn't imply that the *first item from the start* is removed. `remove_first` is better in that regard, but still doesn't feel completely right.

More important

[2019-11-15 19:12] jonhoo commented on #40062
@LukasKalbertodt How do you propose this be implemented with iterators?

How about this signature:
[code]

This uses `remove_eq` to make it clear exactly what is removed. The `limit` argument and the return type makes it clear that we remove many items. The user has the option of how many to remove (`None` means all). The returned iterator can be implemented efficiently by shifting the items and t

[2019-11-15 19:18] LukasKalbertodt commented on #40062
@SimonSapin already mentioned this [above](https://github.com/rust-lang/rust/issues/40062#issuecomment-480060761):

[code]

I think that one is too complex. Especially when considering the call site, I think it's fairly hard to understand. And the name still does not imply that the search begins at the beginning, which is a big nono for me.

[2019-11-15 20:17] eddyb commented on #44489
It's not even the bot (@bors) closing the issue, this is a GitHub feature.
When a PR with the right keywords in its description (#51366 in this case) gets merged, issues can be closed automatically by GitHub.

@curiousleo I think the problem there is the unstable feature `panic_info_message` didn't get its own tracking issue, but I'm not sure.

Also a bit surprised that @andreeaflorescu didn't get

[2019-11-15 20:17] comex commented on #47809
Awesome work.

Could we also add a method like `Location::current()` that always returns the location of the code that called `Location::current()`, even if it happens to be within a `#[track_caller]` function?

That way, I think e.g. `line!()` could be replaced with a real macro that expands to `Location::current().line()`.

Admittedly, although it sounds straightforward, it seems like it might b

[2019-11-15 20:32] RalfJung opened #66458 "bootstrap/rustbuild: `--test-args` has no effect for cargo tests"
I tried running `./x.py test src/tools/cargo --test-args rustc`, expecting that only tests with "rustc" in their name would be run. However, this has no effect. It looks like `--test-args` is just ignored.

[2019-11-15 21:04] eddyb commented on #63959
@SiavoshZarrasvand I'd suggest trying my reduced testcase with `-C target-cpu=znver1` either on Windows, or on Linux via cross-compilation + Wine (IIRC, @mati865 got that to work).

If you can get the assertion failure and not a SIGILL or some other crash, then I assume that's enough to work with that testcase and dive into LLVM internals responsible for it etc.

[2019-11-15 21:12] eddyb commented on #47809
It's probably far too heavy for `line!()`, but I think `(|| Location::caller())()` would work even in a `#[track_caller]` function.

[2019-11-15 22:55] the8472 commented on #62645
I have run into this issue several times, here's a case I wouldn't even consider const generics, here it is a const eval problem in a generic context instead

[code]

[code]

[2019-11-15 23:51] pickfire commented on #64796
@csmoe Are you working on this? If not I might want to try out this task first since @petrochenkov mentioned that this task is easier than `cfg(accessible = ::path)`.

[2019-11-16 00:13] alexcrichton commented on #64340
Sorry I don't know much about that change, I didn't author it, I'd recommend bringing it up on the PR and/or with the release team to figure out a revert.

[2019-11-16 00:31] JohnTitor commented on #61137
@GuillaumeGomez could you make E0666 and E0728 checked? It's done in #65855 and #65678.

[2019-11-16 01:01] jplatte commented on #52662
Another use case for this is constraints for associated types of associated types. Since apparently you can't put where clauses on associated types without enabling GAT (??), the only other way I could think of was using this feature.

[code]

[2019-11-16 01:21] Arnavion commented on #65442
Related to / dupe of https://github.com/rust-lang/rust/issues/42940

[2019-11-16 01:32] Matthias247 commented on #34537
I just got this error today, and I am not sure whether this is as intended or a bug. The error shows up in this example

[code]
[playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4e8ecd9266876d2667bee1d2be898371)

It complains about `Xyz` being leaked, even though the place where it is used (module `sub`) isn't exported to the public.

If I do the following change

[2019-11-16 01:34] eddyb commented on #52662
That's sugar for:
[code]
And by further desugaring this feature:
[code]

[2019-11-16 01:39] estebank commented on #61137
@JohnTitor done

[2019-11-16 01:46] jplatte commented on #52662
@eddyb: Thanks! It didn't occur to me that I could put constraints on the associated type in the trait's where clauses. I'd say it's more intuitive with associated type bounds, but having a way of doing the same thing on stable today is really helpful!

[2019-11-16 02:18] Aaron1011 commented on #54899
Can this be closed now that a test has been added?

[2019-11-16 02:19] ethanhs commented on #63959
If that doesn't work, I have a server with the needed hardware, and I could probably spin up a VM if that helps.

[2019-11-16 02:28] SiavoshZarrasvand commented on #63959
@ethanhs That would definitely do the trick. Pretty sure I should be able to get it to repeat on my hardware though. Let me try during the weekend and confirm on Monday.

[2019-11-16 04:08] Seeker14491 commented on #54899
I don't believe a test has been added. Centril's commit above added tests for some related ICEs, but not this one.

[2019-11-16 05:35] rinon opened #66464 "ICE: Can't combine functions in the same CGU that reference both a static and an extern static with the same name"
The following code, when compiled in release mode with `-C codegen-units=2` ICEs with the error below (I initially found this with the default 16 CGUs on a much larger codebase). I'm not entirely sure that the check at https://github.com/rust-lang/rust/blob/master/src/librustc_codegen_llvm/consts.rs#L236 is needed. However, if we're moving a reference to a static to a different CGU, we shouldn't d

[2019-11-16 05:44] #36122 closed

[2019-11-16 05:44] #58094 closed

[2019-11-16 06:30] Lokathor commented on #39915
@bstrie: This works with Stable and Nightly on Windows-MSVC, details in the first post of this gamedev-wg issue: https://github.com/rust-gamedev/wg/issues/50

[2019-11-16 08:10] csmoe commented on #64796
@pickfire I didn't have much bandwidth on this, seems you have already made some progress on `cfg(accessible = ::path)`, so feel free to check this :)
(Don't forget to assign yourself with `@rustbot claim`)

[2019-11-16 10:10] jfrimmel opened #66467 "ICE with proc-macro expanding to illegal type syntax"
I've written a proc macro, that consistently produces an ICE. You'll find the code and the backtrace below. Note, that the ICE occurs with any type, that originates in an external crate, that is not included in the `Cargo.toml` (tested with `regex::Regex` and `spin::Once`).

<details>
  <summary>`proc-macro-ice` Source code</summary>

Cargo.toml
[code]
src/lib.rs
[code]
tests/ice.rs
[code]
</detai

[2019-11-16 10:27] jfrimmel commented on #66467
Note the wrong syntax, that is quoted:
[code]
It seems, that the wrong parenthesis on the specified type cause the crash.

[2019-11-16 11:02] #66232 closed

[2019-11-16 11:14] tmandry commented on #66036
I had to double check to be sure, but the first bad commit was 060b6cbe74f65b8d517c4d4936f4a361f3e4287d, "Update hashbrown to 0.6.2"

The only reason I can come up with for this is that the change in hashbrown caused some IR to be emitted in a different order, and this triggered a bug somewhere, possibly LLVM, but before invoking the linker.

[2019-11-16 11:19] AlexKornitzer commented on #64340
Thank you, appologies for incorrectly @'ing you, I shall do just that.

[2019-11-16 11:26] CosineP commented on #64465
i will take it? @rustbot claim? first time sorry

[2019-11-16 11:35] jplatte commented on #64465
@CosineP I think rostbot was confused by the questionmark after `claim` ;)

[2019-11-16 11:36] CosineP commented on #64465
@rustbot claim

[2019-11-16 12:44] adamreichold commented on #52297
Should probably test this again now that  #66050 has landed.

[2019-11-16 13:05] JohnTitor commented on #63116
Seems fixed in the latest nightly, marked as E-needstest

[2019-11-16 13:07] Alexendoo commented on #63116
I'll add a test for this

[2019-11-16 13:11] csmoe commented on #66467
Fixed by https://github.com/rust-lang/rust/pull/66390

[2019-11-16 13:11] #66467 closed

[2019-11-16 13:41] retep998 commented on #66404
As far as I can tell Windows does not have an equivalent to this.

[2019-11-16 14:27] cup commented on #65296
I am going to close this as I feel it has been fixed in spirit. Current size is
162 MB which is a 20% reduction from the "round 1" issue size. If someone has a good case for why it should be reduced further they can open their own issue, thanks.

[2019-11-16 14:27] #65296 closed

[2019-11-16 15:07] est31 commented on #65296
To give a table for the artifact size impact of #65251 and #65501:

| file name | 7e498005a12548a8fd396312affde05c4d3ca085 (prior to #65251 merge) |  a16dca337de610986252bb800953e57bf395863f (after #65251 merge) | 6576f4be5af31a5e61dfc0cf50b7130e6c6dfb35 (prior to #65501 merge) | 50ffa79589600f515ff2710830c23cd2dce7cb76 (after #65501 merge) |
| - | - | - | - | - |
| rustc-nightly-x86_64-unknown-li

[2019-11-16 15:27] pickfire commented on #64796
@csmoe Nice, thanks a lot for telling me that. I did not know such thing exist.

@rustbot claim

[2019-11-16 16:15] dwrensha opened #66473 "internal compiler error on 'assertion failed: bpos.to_u32() >= mbc.pos.to_u32() + mbc.bytes as u32'"
I'm seeing an internal compiler error on the following input (found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc)):
[code]

Note that a similar issue (https://github.com/rust-lang/rust/issues/58094) was recently closed. The fix for that (https://github.com/rust-lang/rust/pull/66054 it seems) apparently does not prevent this crash.

This issue has been assigned to @CosineP via [this comme

[2019-11-16 16:20] stefson commented on #65765
@vojtechkral do you still need some testing on other targets than arm-unknown-linux-musleabi? I can offer armv7a-unknown-linux-musleabihf (v1.38.0 and v1.39.0)

[2019-11-16 16:51] dwrensha commented on #58094
A similar that still happens: https://github.com/rust-lang/rust/issues/66473

[2019-11-16 16:56] Areredify commented on #63682
@rustbot claim

[2019-11-16 17:48] gibfahn opened #66474 "Make https://static.rust-lang.org/rustup/dist return an index"
*Continued from https://github.com/rust-lang/rustup/issues/722 ...*

It would be really useful to be able to browse the list of files, like how in Node.js there's [a link on the download page](https://nodejs.org/en/download/) called `All download options` which points to https://nodejs.org/dist/v10.16.3/ . This makes it really easy to see what the latest downloads are and find things.

In the [top

[2019-11-16 17:56] Mark-Simulacrum commented on #66474
See https://github.com/rust-lang/rust/issues/56971, but an approximation of what you want is likely to be: https://static.rust-lang.org/manifests.txt. Each of those manifests contains a listing of the tarballs published for a given Rust release (nightly/stable/beta). That txt is updated weekly I believe.

I'm going to close this as we're unlikely to provide anything further -- these index files ha

[2019-11-16 17:57] #66474 closed

[2019-11-16 18:03] aristarh2704 opened #66475 "Nightly channel repo"
Where I can find nightly channel repo that uses "make" build system?

[2019-11-16 18:44] derekdreery commented on #42327
Evil idea : maybe the `?` operator could somehow represent a monadic bind, so

[code]
becomes

[code]

A terrible idea, but it pleases the inner geek in me.

[2019-11-16 18:49] KrishnaSannasi commented on #42327
@derekdreery I don't think that wouldn't work well with imperative control flow like `return` and `continue`

[2019-11-16 18:49] cuviper commented on #42327
Keep in mind that the semantics of the `?` operator are already stable. Only the actual `Try` trait is unstable, and any changes must preserve the same stable effect for `Option` and `Result`.

[2019-11-16 19:10] derekdreery commented on #42327
@KrishnaSannasi

I agree with this statement.

@cuviper

Is this true across epochs as well?

On a more general note, I don't think it's possible to unify concepts like `.await`, `?/`early return, Option::map, Result::map, Iterator::map in rust, but understanding that these all share some structure definitely helps me to be a better programmer.

[2019-11-16 19:33] cuviper commented on #42327
I'm not sure if an epoch/edition would be allowed to change `?` desugaring, but that would certainly complicate a lot of cross-crate concerns like macros.

[2019-11-16 20:05] robamler opened #66476 "Documentation of PartialEq has example that violates transitivity"
The [Documentation of `PartialEq`](https://doc.rust-lang.org/std/cmp/trait.PartialEq.html) states that implementations must be transitive: for all for all `a`, `b` and `c`, `a == b` and `b == c` implies `a == c`. This is followed by a note indicating that the transitivity must also hold if `a`, `b`, and `c` are of different types.

However, the last example implementation in the documentation is n

[2019-11-16 22:09] CosineP commented on #66473
@rustbot claim

[2019-11-16 22:11] Centril commented on #66476
This option seems quite helpful.

[2019-11-16 22:19] c3st7n commented on #66196
Opened a PR for this (https://github.com/rust-lang/rust/pull/66479), but I just noticed it was supposed to be assigned to @peter-wilkins, aplogies I hadn't noticed this.

[2019-11-16 22:21] c3st7n commented on #66196
I must have branched from an old commit or similar, will fix.

[2019-11-16 22:30] quixotrykd opened #66480 "Ref/& Pattern Matching Inconsistency in Structs"
Rust pattern matching and destructuring allows the use of `&` and `ref`.

In the example below, the use of these is intuitive.

[code]

In this case, we end up with ref_a of type `&u32`, and deref_b of type `u32`. Simple enough -- we can go both ways with both `ref` and `&` in pattern matching.

In the instance with structs, this consistency breaks down when matching struct field names. In the exa

[2019-11-16 22:39] niacat commented on #45717
`gmake` is not a special name for `make` but rather the GNU implementation of make with GNU extensions. The default `make` is BSD make with BSD-specific extensions. The NetBSD implementation of make is also available for Linux as `bmake`.

It would be preferable for make usage to be portable rather than assuming that make is always the GNU version.

[2019-11-16 22:45] Matthias247 opened #66481 "Context and Waker might be accidentally `Sync`"
One issue that came up in the discussion [here](https://www.reddit.com/r/rust/comments/dx0vx5/thoughts_on_stdfuture_unnecessary_synchronization/f7nbiqy/?context=3) is that the `Context` type implements [Send + Sync](https://doc.rust-lang.org/beta/std/task/struct.Context.html#impl-Sync).

This might have been introduced accidentally. `Send` probably does not matter at all, given that users will onl

[2019-11-16 22:49] jonas-schievink commented on #66480
"struct field shorthand" patterns are intended to work like this. Changes to the grammar need to go through our [RFC process](https://github.com/rust-lang/rfcs), so closing in favor of that.

[2019-11-16 22:49] #66480 closed

[2019-11-16 22:51] Mark-Simulacrum commented on #45717
I would expect that the path forward does not lie within the standard library (at least, not yet). Similar to the `cmake` and `cc` crates, I presume a `make` crate could exist. In any case, I don't think we can do anything about this until we have a community implementation that gains consensus -- based on @niacat's comment and my own thoughts, I don't think just falling back to gmake/bmake/etc de

[2019-11-16 22:51] #45717 closed

[2019-11-16 22:56] tensor-programming commented on #66402
Yeah, sorry, haven't been on this machine for a few days.  Areredify's backtrace looks right compared to what I saw before.

[2019-11-16 23:44] asomers commented on #45599
My problem is quite similar.  I maintain https://github.com/asomers/mockall , which is normally only used as a dev-dependency.  So some of my examples won't really do anything unless `cfg(test)` is set.  Ideally I'd be able to run the doc tests both ways: both with and without `cfg(test)`.

[2019-11-16 23:46] Hi-Angel opened #66482 "gdb "cannot subscript non-array type" to index a Vec"
Attempt to print content of a `Vec` at index results in error. Since it works fine for C++, I think the problem is in `rustc` not providing the necessary debug information for this to work.

`Vec`s are a widely used type, and not being able to print their content at index hurts debugging process noticeably.

## Steps to reproduce *(in terms of terminal commands)*

[code]

### Expected

A print:

[2019-11-17 00:59] Ralith commented on #55794
Nobody's cared enough to work on it, I think.

[2019-11-17 01:36] SiavoshZarrasvand commented on #63959
I built the [initial example](https://github.com/rust-lang/rust/issues/63959#issuecomment-525482889) on an ASUS ROG with Ubuntu 18.04. The commands I used to build and run on wine were:

`cargo rustc --release --target=x86_64-pc-windows-gnu -- -C target-cpu=znver1 -C linker=x86_64-w64-mingw32-gcc`

`wine /path/to/target/release/cpu_bug.exe`

What should I change to force the error? Somehow it comp

[2019-11-17 01:44] eddyb commented on #63959
@SiavoshZarrasvand Those testcases aren't useful for reproduction (especially outside of Windows on AMD Ryzen CPUs) as they crash `rustc` from a proc macro, which is very involved.

You should only use https://github.com/rust-lang/rust/issues/63959#issuecomment-552234597 which relies on an assertion failure instead of a crash (so if you get a crash that likely means your CPU doesn't support certai

[2019-11-17 01:57] andrewtj commented on #55794
I thought this was waiting on a decision from the libs team. What is the process here?

[2019-11-17 01:58] SiavoshZarrasvand commented on #63959
That worked. I needed to switch to nightly and used the following to compile

`rustc main.rs -C opt-level=3 -C codegen-units=1 -C target-cpu=znver1 --edition=2018 --target=x86_64-pc-windows-gnu -C linker=x86_64-w64-mingw32-gcc`

Running it in wine produces following error (which I believe is what would be expected)

`thread 'main' panicked at 'assertion failed: `(left == right)`
  left: `([1, 1, 1

[2019-11-17 02:03] robinmoussu commented on #61323
I encountered the same bug. I starting to create a new issue, but it's exactly the same than this one. In case it's needed, I uploaded the code on [this repository](https://github.com/robinmoussu/pyrite) on the branch `cargo/ICE` (there is two commit, the first is fine, the second generate the ICE) in case you want to validate your patch when you will eventually have time to fix it.

[2019-11-17 02:06] #66342 closed

[2019-11-17 02:06] #66397 closed

[2019-11-17 02:08] eddyb opened #66484 "Consider using DWARF modules instead of namespaces."
Looking at the DWARF5 spec I noticed it supports "modules", with Modula-2 and Fortran given as examples, not just "namespaces" (typically associated with C++).

However, it's unclear if we can do everything we use namespaces for, with modules, and whether debuggers support modules at all.

Also see #33123, which seems potentially related.

cc @michaelwoerister

[2019-11-17 04:50] ecstatic-morse commented on #66439
I believe this is a duplicate of #63997. `const` function pointers are not yet supported.

[2019-11-17 07:44] #60493 closed

[2019-11-17 07:44] #64561 closed

[2019-11-17 07:44] #63116 closed

[2019-11-17 07:44] #64465 closed

[2019-11-17 07:44] #66340 closed

[2019-11-17 07:45] rust-highfive opened #66486 "`clippy-driver` no longer builds after rust-lang/rust#66485"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#66485, I observed that the tool clippy-driver no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rust-clippy is needed to fix the fallout.

cc @JohnTitor, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @JohnTitor, the PR reviewer, and nominati

[2019-11-17 08:33] gilescope commented on #40062
Removing an item from a vec is a _very_ common codepath. Somehow it needs
to be a one liner. Having swap_remove_first() and not having remove_first()
would be nudging people in the direction of great performance. That seems
quite rustic to me.

swap_remove_last is interesting as there maybe no swap needed if it happens
to be the last item - cute.

Just have those two functions. That’s the 80% case

[2019-11-17 09:11] SimonSapin commented on #62868
`#![register_tool]` now replaces `Registry::register_attribute`: https://github.com/rust-lang/rust/issues/66079

CC @pnkfelix

[2019-11-17 10:39] SimonSapin opened #66487 "ICE 'no entry found for key' in Servo’s style crate"
Since nightly-2019-11-17. Merges in the regression range:

* 5c5b8afd80e Auto merge of #64694 - petrochenkov:reshelp, r=matthewjasper
* 5f00849dc49 Auto merge of #66333 - mark-i-m:fix-rustc-guide-1, r=ehuss
* 9b0214d9c56 Auto merge of #66255 - ehuss:update-cc, r=alexcrichton
* 1d8b6ce89e0 Auto merge of #66453 - Centril:rollup-w1ohzxs, r=Centril
* 82161cda334 Auto merge of #66326 - Nadrieril:refact

[2019-11-17 10:42] SimonSapin commented on #66487
This is not intermittent. I’ve reproduced it locally both in debug and release mode.

[2019-11-17 11:49] retep998 commented on #55794
The correct process is to poke @rust-lang/libs and ask them to make a decision on this.

[2019-11-17 11:56] raphaelcohn commented on #66474
@Mark-Simulacrum It would be handy if that manifest - which doesn't seem to contain tarballs - was more widely documented!

[2019-11-17 12:02] sighoya commented on #63066
What about impl Traist implementing Traits?
[code]

[2019-11-17 12:06] gibfahn commented on #66474
@Mark-Simulacrum Is it not possible to use the [AWS Index Documents](https://docs.aws.amazon.com/AmazonS3/latest/dev/IndexDocumentSupport.html) I linked to above to do this automatically (rather than using the AWS S3 List Objects API, which sounds more complex)?

The manifest seems somewhat useful, but way less useful than an index doc in each directory, which would allow you to easily see and bro

[2019-11-17 12:26] s97712 commented on #66168
I try to use `async fn` as callback:
[code]
but get a error:
[code]
Is there a solution to this problem?

[2019-11-17 12:30] jrvidal commented on #13698
@GuillaumeGomez I was looking into this as a way of better understanding rustdoc internals. Do you plan to tackle it?

[2019-11-17 12:55] thomasetter commented on #66304
The `First difference at char` message sounds good, but I am not sure how well it applies to the `should_panic(expected=...)` comparison, as it is not an equality, but a substring comparison.
Maybe we could adjust the wording of the error message to e.g.:
[code]
to make that easier to spot.

I think the escaping is essential, take for instance [this test](https://play.rust-lang.org/?version=stable

[2019-11-17 13:39] Mark-Simulacrum commented on #66474
Index documents are just "you can host index.html" and auto-link to that from `/` URLs, AFAICT. They don't appear to have anything to do with listing the contents of that folder; we'd have to do that ourselves, and historically have not wanted to for cost (mostly time, but to an extent money) reasons I believe.

You are not wrong that it would be good to document this. If someone wants to step up

[2019-11-17 13:40] Ixrec commented on #42327
My interpretation of the stability guarantees and epochs RFC is that the `?` behavior (sugar or otherwise) could be changed, but its current behavior on `Option`/`Result` types must stay the same because breaking that would create far more churn than we could ever hope to justify.

[2019-11-17 13:50] RalfJung commented on #66301
Fixed by https://github.com/rust-lang/rust/pull/66488

[2019-11-17 13:50] #66301 closed

[2019-11-17 14:12] Aaron1011 commented on #63066
@sighoya: Each occurence of `impl MyTrait` produces a unique type (e.g. `fn foo() -> impl MyTrait` and `fn bar() -> impl MyTrait` do **not** return the same type).

This means that `impl Trait for impl AnotherTrait {...}` would be almost completely useless - it would creat ea new type, implement a type for it, but give you no way of referring to that type.

You might be thinking of type-alias-impl

[2019-11-17 14:28] the8472 opened #66491 "Improve documentation on what len() on ExactSizeIterator means"
If the wrapped iterator implements `ExactSizeIterator` then `Fuse` blindly delegates `len()` to it. The underlying iterator may know its exact size but return spurious `None` results anyway, on which `Fuse` will stop iterating even though the source knows that there are elements left to iterate, meaning `Fuse` will indicate that there are elements left but never return them.

The behavior was intr

[2019-11-17 14:33] CryZe commented on #63066
Well in that position, impl Trait would be a generic T with the trait as the bound `<T: Trait>`, so
[code]
desugars to
[code]

[2019-11-17 14:39] gilescope commented on #66304
Ok I'm sold. Do you want to fork rust-lang/rust and submit this as a PR? (If you don't want to I can do the legwork).

[2019-11-17 14:49] withoutboats commented on #66481
Even if this weren't a breaking change, I'd want to see some really good evidence these optimizations would matter for real world code before choosing to make these types non-`Sync`. I don't think getting rid of an atomic update in `thread::block_on` is a compelling example. Basically, in my view the current API is intentional and correct.

[2019-11-17 15:52] macpp commented on #65823
This will make things easier when multiple attribute macros use the same helper attributes. With `proc_macro_derive` you can write
[code]
And none of the derives has to worry that `serde` attribute will be stolen by some other macro.
In attribute macros this is probably trickier - you could for example check other attributes that are applied to struct, and skip cleaning helper attributes if you kn

[2019-11-17 15:54] bjorn3 opened #66494 "-Zborrowck and #![feature(nll)] still exist"
The AST borrowck was removed in https://github.com/rust-lang/rust/pull/64790, so these flags don't have a purpose anymore.

[2019-11-17 15:58] jonas-schievink commented on #66475
The `configure` script in the repo will generate a Makefile you can use to build Rust.

[2019-11-17 15:58] #66475 closed

[2019-11-17 16:01] gibfahn commented on #66474
Ahh, you're totally right. I didn't read the example at the bottom of the doc in close enough detail, and figured it could populate the index for you. Sorry for the noise.

[2019-11-17 16:06] jonas-schievink commented on #66026
Are you sure the `unreachable` means that the function is *missing*? It looks to me like it was called without problems, and then raised an exception with the text "unreachable". The `artichoke_ary_push` function is here:

https://github.com/artichoke/artichoke/blob/d8a2b74076ce81690934531aa53de1ba3894f7a0/artichoke-backend/src/extn/core/array/ffi.rs#L189

[2019-11-17 16:07] jonas-schievink commented on #65701
Please provide a self-contained example reproducing the bad error message

[2019-11-17 16:14] trevordmiller opened #66495 "Sync "rustup doc" with rust-lang.org"
**Describe the problem you are trying to solve**
Using `rustup doc` presents an incomplete subset of the full documentation available on the Rust website (rust-lang.org).

**Describe the solution you'd like**
Having all the official documentation available locally would be helpful. Like `man {thing}` for rust. It seems `rustup doc` is a good fit for this.

**Notes**

### rust-lang.org (has CLI and

[2019-11-17 16:16] ExpHP commented on #36887
My point was that `foo(Some("I'm a string"));` would suddenly *stop* working for the same reason.

Defining a default in a impl seems like an absolutely crazy idea.  Impls could come into play for all sorts of reasons, and before long you could have two impls trying to specify conflicting defaults for the same type parameter. (this can happen with functions too, but for impls its more subtle becau

[2019-11-17 16:16] bjorn3 commented on #66494
`#![feature(nll)]` seems to matter to `libstd` somehow. When removing `#![feature(nll)]` it gives the following errors:

[code]

[2019-11-17 16:17] jonas-schievink commented on #64183
cc https://github.com/rust-lang/rfcs/pull/2803

Closing since I don't think it's terribly useful to keep this issue open.

[2019-11-17 16:17] #64183 closed

[2019-11-17 16:21] jonas-schievink commented on #65458
I think it would be more useful to discuss this on the [user forum](https://users.rust-lang.org/), or, if this needs new language features to be solved, in the [RFCs repo](https://github.com/rust-lang/rfcs), so closing in favor of that.

[2019-11-17 16:21] #65458 closed

[2019-11-17 16:24] #65897 closed

[2019-11-17 16:25] Mark-Simulacrum commented on #66487
Commit bisection points to 5c5b8afd80e6fa1d24632153cb2257c686041d41, cc @petrochenkov

[2019-11-17 16:26] Mark-Simulacrum commented on #66494
There's a separate tracking issue for this (NLL at least, and I believe @Centril noted recently there was a second one to consider). Closing since this is a duplicate; cc https://github.com/rust-lang/rust/issues/58781 https://github.com/rust-lang/rust/issues/57895

[2019-11-17 16:26] #66494 closed

[2019-11-17 16:41] thomasetter commented on #66304
Thanks for the offer, I'll try to write a PR and will add you as a reviewer once I have a first version ready.

[2019-11-17 17:42] sighoya commented on #63066
Thank you both,

I think the difference between a impl Trait and a dyn Trait is that the first one is a design time existential even in argument position which get monomorphized at compile time, the latter is a compile time existential which gets monomorphized at runtime.

They should both behave mostly the same in my eyes. Implementing by an impl Trait or dyn Trait should state that every T bound

[2019-11-17 18:37] aristarh2704 commented on #66475
No. In nightly source archive I founded "mk" dir, which is missing in master branch and others.

[2019-11-17 18:37] steveklabnik commented on #66495
We intend to have all of these books included, once they're deemed ready by their WGs. That's really up to them.

@rust-lang/wg-wasm and, uh looks like CLI doesn't have a team, @killercup ?

[2019-11-17 18:38] #65674 closed

[2019-11-17 18:38] Ralith commented on #66481
`Context` was introduced to leave room for future unforeseen requirements, and being `Sync` restricts its usefulness as such, which is unfortunate. I can see a case for `Waker: Sync` since we have `wake_by_ref`, but it's difficult to imagine a case where it makes sense to be accessing a single `Context` from multiple threads concurrently.

[2019-11-17 19:22] worktycho commented on #66481
I have an example of where the current API is resulting in performance issues: I am trying to implement a combined Executor/Reactor around a winit event loop. To wake up the event loop from a different thread we have to post a message to the event loop which can be a non-trivial operation. But on the same thread, we know that we don't need to wake up the eventloop, so we can use much cheaper mecha

[2019-11-17 19:33] mark-i-m commented on #63066
[code]

What would this even mean? How do you implement something for type the compiler can't know?

[2019-11-17 20:24] CryZe commented on #63066
That's already a thing. It implements it for the trait object.

[2019-11-17 20:41] withoutboats commented on #66481
@worktycho But that would be true if wakers were just `Send` also, which was an intentional part of the simplification from the previous design.

[2019-11-17 20:53] matthewjasper opened #66500 "ICE when trying to move from reference in union"
The following code ICEs, when it should produce a cannot move error

[code]

[2019-11-17 20:56] matthewjasper commented on #66500
Worse, the following compiles:

[code]

[2019-11-17 21:41] Nadrieril opened #66501 "ICE matching on a non-[u8] const array"
This produces an ICE ([playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=70150cbc54ea6afea05b2e4c8b671256)):
[code]
It points to this assert firing: https://github.com/rust-lang/rust/blob/d8014582b843d8722795b06586ef9c2042094963/src/librustc_mir/hair/pattern/_match.rs#L1739-L1745
This assert assumes that if we match on a `&[T; n]` with a const, then `T` must

[2019-11-17 21:43] jonas-schievink commented on #66501
The feature gate isn't needed to trigger the ICE

[2019-11-17 21:44] Ralith commented on #66481
I think the point is that `Context` being `Send + Sync` precludes the otherwise noninvasive restoration of a more efficient `LocalWaker` through an additional method on `Context`.

[2019-11-17 21:46] Nadrieril commented on #66501
Oh, well spotted. And it appears that fails on stable too then

[2019-11-17 21:47] #66167 closed

[2019-11-17 21:53] matthewjasper opened #66502 "Slice/Array patterns are not correctly move checked"
The following should error, but doesn't

[code]

[2019-11-17 21:54] Mark-Simulacrum commented on #66501
cc @pnkfelix as it's possible this is related to your structural match work I guess?

[2019-11-17 21:55] jonas-schievink commented on #66502
cc https://github.com/rust-lang/rust/issues/62254

[2019-11-17 22:29] nagisa commented on #66491
Implementations of `ExactSizeIterator` have soundness implications, thus marking as `I-unsound`.

[2019-11-17 22:37] Mark-Simulacrum commented on #66491
Hm, seeing as `ExactSizeIterator` is not an unsafe trait, I would not expect code to be able to rely on it for soundness? Maybe we do so internally for std types though...

[2019-11-17 22:51] sfackler commented on #66491
Unsafe code can't rely on `ExactSizeIterator` correctness (there's `TrustedLen` for that).

The length of an iterator is defined as the number of items yielded before it returns None, so Fuse's implementation is correct.

[2019-11-17 22:51] nagisa commented on #66491
Oh my bad, I was confusing it with TrustedLen.

[2019-11-17 22:52] derekdreery commented on #54326
I've hit this today and was confused for a while. [Here's a playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1c5a0aeb94b9a113201a848e771a7260).

[2019-11-17 22:58] Centril commented on #63066
@sighoya @Aaron1011 @mark-i-m @CryZe This issue is not for general discussion about `impl Trait`. It's only intended to collects links.

[2019-11-17 23:12] Centril commented on #65413
Reduced:
[code]

[2019-11-17 23:16] Nadrieril commented on #65413
I found a fix, I'll make a PR

[2019-11-18 00:06] lopopolo commented on #66026
Thanks for taking a look Jonas. There is some UB and segfaults going on in this bit of code. I’ve decided to abandon this investigation and instead will focus on removing my dependency on the mruby C code.

Closing.

[2019-11-18 00:06] #66026 closed

[2019-11-18 00:19] the8472 commented on #66491
Ok, makes sense. But I will be pedantic here since I prefer documentation to have slightly more formal flavor.

`len()` docs:

The `std::iter` module documentation:

Now *resume* can be interpreted as continuing the the previous iteration instead of starting a new iteration (conceptually a new iteration would require a new iterator then). Under this interpretation `len()` should report the complet

[2019-11-18 01:18] Arnavion commented on #24745
I know what the issue is and what the fix is, but I don't understand what "define and implement a trait or new type instead" is trying to tell me.

- "define and implement a trait or new type" should presumably be "define and implement a new trait, or implement the trait on a newtype". As it's written the suggestion doesn't make sense.

- Even with that alternative wording, it implies either optio

[2019-11-18 01:36] smokytheangel0 commented on #61137
I was looking into E0183 and I cannot find where any explanation for it exists at all.
Do I have to try and make each error happen myself, in order to document it, or is there something I am missing entirely?

[2019-11-18 02:11] wdanilo opened #66505 "`std::mem::transmute` compilation error"
Hi! Let's consider the following code:

[code]
Playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5dca98d86cd811ec108f83e01435e69a

It creates an internal-mutable wrapper over a generic type `T` and should expose the iterator. In order to expose the iterator we need to keep both the original iterator as well as the dynamic borrow of `T`. In order to do so we need t

[2019-11-18 03:06] #56368 closed

[2019-11-18 05:49] stephaneyfx commented on #66505
This looks like a slightly simpler way to trigger a similar error. This seems to happen when 2 bounds are identical except for the lifetime in the type part of the bound.

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=532f1c4b78da5b9005e319eee7d77abc)
[code]
[code]

[2019-11-18 05:53] ecstatic-morse commented on #49146
#66507 contains an initial implementation of RFC 2342.

I expect it will take a while to remove the rough edges, especially with respect to diagnostics, and test coverage is pretty sparse (@jyn514 we should coordinate over on that issue). Nevertheless, I'm hopeful that we can release this behind a feature flag in the next few weeks.

[2019-11-18 05:55] notriddle opened #66508 "Cannot compile `dotenv v0.10.1`"
This is a dependency of [diesel](https://github.com/diesel-rs/diesel). I was trying to compile `diesel_cli`; it failed on both the master branch and the current published version.

    `error_chain` is ambiguous (derive helper attribute vs any other name)

Indeed, the code does seem to treat `error_chain` as simultaneously a derive macro and an attribute macro. It works fine on stable.

[2019-11-18 06:09] #65980 closed

[2019-11-18 06:12] mzabaluev opened #66509 "Intra-rustdoc links do not work for unqualified names in doc for a trait impl method"
There may be a problem with using intra-rustdoc links (#43466) in doc for a method implementation in a trait impl item. [This fixup](https://github.com/mzabaluev/futures-rs/commit/080680140af6eee3792e76c027aa1f7665a2395f#diff-3ed4c5e9ab0c32c94bb5516a4ef796b9) had to be made because an unqualified link to the `Policy` trait that is declared into the same module was rendered as `[Policy]` without th

[2019-11-18 06:15] stephaneyfx commented on #66505
Considering that two implementations of the same trait for two types that differ only in their lifetime parameter would conflict, does it make sense to have two such bounds instead of one with only one lifetime or a HRTB?

[2019-11-18 06:47] csmoe commented on #66475
@aristarh2704 checkout `src/bootstrap/`, you can find `mk` inside it.

[2019-11-18 06:57] jsgf opened #66510 "Feature request: add method to unix::process::CommandExt to set argv[0]"
In Unix, the first process argument is the executable name by convention. However, there are various occasions where you might want to set argv[0] to something other than the full executable path:
- to set a normalized program name
- to put multiple functions into one executable, selected by argv[0]
- to put commentary on the execution context for a process
- etc

I suggest adding a `set_argv_0<S:

[2019-11-18 06:59] jsgf commented on #66510
cc @bolinfest

[2019-11-18 07:28] dtolnay commented on #66487
Serde's test suite also hits this ICE. https://travis-ci.org/serde-rs/serde/jobs/613363213

[2019-11-18 07:55] aristarh2704 commented on #66475
Now nightly channel src points to [rustc-nightly-src](https://static.rust-lang.org/dist/rustc-nightly-src.tar.gz), but some time ago another link was available: [rust-nightly-src](https://static.rust-lang.org/dist/rust-nightly-src.tar.gz). It is in this archive that I see the "mk" directory.

[2019-11-18 07:58] aristarh2704 commented on #66475
Sorry, I just found that this archive turns out to contain the code of 2015

[2019-11-18 08:05] haraldh commented on #58520
Addressed in https://github.com/rust-lang/rust/pull/66511

[2019-11-18 08:18] hellow554 commented on #66500
regression from stable-to-beta and stable-to-nightly

[2019-11-18 08:22] hellow554 commented on #66501
Funny enough: this doesn't ICE

[code]

but instead shows the correct "unreachable" warning

[2019-11-18 08:43] haraldh commented on #58520
_Originally posted by @withoutboats in https://github.com/rust-lang/rust/pull/66448#issuecomment-554431107_

[2019-11-18 08:51] haraldh commented on #58520
With:
[code]
We can let Errors implement `Error::source()` and `Error::chain()`.

Sadly we can't do:
[code]
in the trait definition, because `Error` is not `Sized`.

But with the upper trait, we could:
[code]

This would save us from the `impl  dyn Error` and the unergonomic
[code]

[2019-11-18 09:05] haraldh commented on #58520
With:
[code]

we can't use for example:
[code]
[code]

[2019-11-18 09:11] haraldh commented on #58520
Annoyingly `Error::sources()` is easier to implement than `Error::chain()`.

[2019-11-18 09:19] weiznich commented on #66295
Would be great to get that fixed till it is part of the next stable release.

[2019-11-18 09:33] 0dvictor commented on #64191
Hi, my name is Victor and I'm workin with @tmandry.
I am very interested in this Issue as it potentially enables many other great cool. Therefore, I plan to make a prototype and ultimately implement it. @alexcrichton , do you have any suggestions/tips to start?

[2019-11-18 09:41] haraldh commented on #58520
Maybe we can get along with `Error::sources()` and `Chain::new()`

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=70938775c59b7f5b5d748c5c332083c6)

[2019-11-18 09:53] chris-morgan opened #66513 "Incremental compilation ICEs on Windows in file systems that don’t support file locking"
Put a bunch of Rust code with dependencies on WSL in Windows 10, and try to compile it using Rust on the Windows side (so that the working directory will start with `\\wsl$\`), and incremental compilation falls over.

~In order to reproduce this with Cargo, you must include the patch in https://github.com/rust-lang/cargo/pull/7602, or else https://github.com/rust-lang/cargo/issues/7511 (which basi

[2019-11-18 10:02] Kampfkarren commented on #31436
Anything stopping stabilization of this, or just nobody has taken the time to do it yet? I'm interested in creating the necessary PRs otherwise 🙂

[2019-11-18 12:46] GuillaumeGomez commented on #13698
Go ahead! I have a lot of other things to do. :)

[2019-11-18 13:28] HadrienG2 commented on #49227
Now that #48785 is closed, does this problem still occur?

[2019-11-18 14:05] frehberg commented on #55794
AFAICS, a-priori one does not know if hte size of the incoming datagram will exceed the user's message buffer. So, on Unix it may be truncated, and on Windows we may get an error. AFAICS, the appication needs to deal with both cases.
AFAICS, the documentation should be extended, explaining the different use cases on Unix/Posix and Windows.

[2019-11-18 14:06] weiznich commented on #66508
Example of failing builds: https://dev.azure.com/diesel-rs/diesel/_build/results?buildId=624&view=logs.

[2019-11-18 14:09] Mark-Simulacrum opened #66516 "match arms have incompatible types"
https://crater-reports.s3.amazonaws.com/beta-1.40-1/beta-2019-11-06/gh/HristoKolev.sync-dir/log.txt

Possibly due to flatten getting stabilized or something like that, need to investigate further.

[2019-11-18 14:11] mati865 commented on #66508
@rustbot modify labels: +E-needs-bisection

It'd be nice if somebody pinpointed specific PR (or nightly at least).

Maybe @petrochenkov has a clue what could have caused it.

[2019-11-18 14:29] bjorn3 commented on #66484
I believe lldb for latest debian only supports DWARF4.

[2019-11-18 14:34] Mark-Simulacrum opened #66517 "NLL Regressions in 1.40"
* [thrussh](https://crates.io/crates/thrussh): point release needed with a fix: 0.19.6; [broken](https://crater-reports.s3.amazonaws.com/beta-1.40-1/beta-2019-11-06/reg/async-ssh-0.1.2/log.txt)
* [vek](https://crates.io/crates/vek): verify that more recent versions build, 0.9.4 is [broken](https://crater-reports.s3.amazonaws.com/beta-1.40-1/beta-2019-11-06/gh/LEARAX.red_rim/log.txt)
* [florima/age

[2019-11-18 14:34] Mark-Simulacrum opened #66518 "matches macro conflicts with matches crate"
cc https://github.com/rust-lang/rust/issues/65721

https://crater-reports.s3.amazonaws.com/beta-1.40-1/beta-2019-11-06/reg/bronzedb-protocol-0.1.0/log.txt

Any(?) crate using the `matches` crate from crates.io is likely to have breakage as the macro there will be ignored in favor of the std macro at least in some cases.

[2019-11-18 14:35] bjorn3 commented on #66484
`DW_TAG_visibility` can be attached to `DW_TAG_module` but not `DW_TAG_namespace`.

[2019-11-18 14:36] fintelia commented on #31100
@SimonSapin it seems that there was a final comment period for this in Mar 2018 that passed with no objections. Does that now mean there can be a stabilization PR?

[2019-11-18 14:36] Mark-Simulacrum commented on #66244
Filed issues from crater triage:

https://github.com/rust-lang/rust/issues/66517 (NLL)
https://github.com/rust-lang/rust/issues/66516 (match arms incompatible types)
https://github.com/rust-lang/rust/issues/66518 (matches macro conflicts)

[2019-11-18 15:07] t-rapp commented on #31100
At least for my use-case of parsing media files I'm still relying on the `seek_bufread` crate instead of using `seek_relative` because there seems to be no way in stdlib BufReader to get the current position without dumping the buffer.

[2019-11-18 15:14] weiznich commented on #66295
This seems to occur first on nightly-2019-11-02

[2019-11-18 15:21] donaldcallen opened #66519 "Compiler error E0623"
Compiler error E0623 is missing from the error index at https://doc.rust-lang.org/error-index.html

[2019-11-18 15:23] weiznich commented on #66508
Seems to be introduced at nightly-2019-11-17. Unfortunately I'm not able to bisect that further because cargo-bisect-rustc is telling me: `authentication required but no callback set; class=Ssh (23)`

[2019-11-18 16:12] JohnTitor commented on #61137
@GuillaumeGomez E0623 should point to #66186, not #66018

[2019-11-18 16:15] JohnTitor commented on #66519
E0623 is now documented on nightly: https://doc.rust-lang.org/nightly/error-index.html#E0623
And for now, we have many undocumented error codes, tracking issue is #61137

[2019-11-18 16:19] mati865 commented on #66508
Likely https://github.com/rust-lang/rust/pull/64694

[2019-11-18 16:28] joshtriplett commented on #31436
On November 18, 2019 2:03:36 AM PST, Kampfkarren <notifications@github.com> wrote:

Yes, the blocker to stabilization is working through the decision on Ok-wrapping. This shouldn't be stabilized until we have consensus on how it should behave.

[2019-11-18 16:33] JohnTitor opened #66521 "Add message to tell all the error codes aren't documented on Error Index"
For now, all the error codes aren't documented and it causes some confusion like #65326 and #66519.
So, I think it'd be nice to have a message to tell all the error codes aren't documented on Error Index.
It's temporary until adding explanations is complete but it's worth to do so.
What about? @rust-lang/docs

[2019-11-18 16:35] donaldcallen commented on #66519
Ok. Thanks for the explanation and the knowledge that this isn't an oversight.

Good idea to note on the error index web page that all error codes aren't documented and they are being worked on.

[2019-11-18 16:35] #66519 closed

[2019-11-18 16:39] joshtriplett commented on #58520
Side note: once we have these, we should consider providing a simple type for boxed errors whose Debug implementation automatically prints the chain. That would make it do the right thing for question-mark-in-main by default.

[2019-11-18 16:42] alexcrichton commented on #64191
Great @0dvictor! The steps I'd recommend for doing this would probably look like:

* Poke around rustc and the linking phase, and formulate a high-level plan of how you'd like to implement this feature.
* Confirm with compiler team folks that the plan of action you've got is reasonable. The details probably wouldn't be fully fleshed out, but this is likely to be a large-ish change so the compiler

[2019-11-18 16:49] mark-i-m commented on #31436
I'm personally against Ok-wrapping, but I am wondering how hard it would be to add after-the-fact. Is no-ok-wrapping forward compatible with ok-wrapping?

I can imagine tricky cases such as the ambiguity of `Result<Result<T,E>>`, but in such ambiguous cases, we could just fall back to no-wrapping. The user could then explicitly Ok-wrap to disambiguate. That doesn't seem too bad, since I don't expe

[2019-11-18 17:16] iav commented on #40049
What if cross-compilation to another platform? On `x86_64-unknown-linux-gnu` for `armv7-unknown-linux-musleabihf`? What replacement for `RUSTFLAGS="-L native=/path/to/libseccomp/src/.libs -C link-arg=-dynamic-linker -C link-arg=/lib/ld-musl-x86_64.so.1"` should be used?

[2019-11-18 17:40] rpjohnst commented on #31436
There should be no ambiguity at all, because it's not `Ok`-coercion but `Ok`-wrapping. `try { ...; x }` would yield `Ok(x)` just as unambiguously as `Ok({ ...; x })`.

[2019-11-18 17:55] Aaron1011 opened #66523 "Confusing error message with `panic!()` and `impl trait`"
[The following code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e089ab377a6d1c02fcf034827abec591):

[code]

Currently gives the following error:

[code]

This message has a weird span, and doesn't give any clue that the problem lies with the call to `panic!`

[2019-11-18 18:39] hexane360 commented on #60884
It looks like this changed in 2017 with rust-lang#46380. Prior to this, --document-private-items ran strip-hidden.

I agree that the default behavior should be to strip hidden items, because it is the most common use case. The problem in rust-lang#46380 seems to be that there's no way to manually specify private semantics (e.g. #[doc(private)]), not that the semantics for hidden items is incorrect

[2019-11-18 19:04] nikomatsakis opened #66525 "derive-new errors"
So @wycats pointed out to me that some recent changes in name resolution seem to have broken `derive_new`. They pointed me at [this commit from nushell](https://github.com/nushell/nushell/commit/372f6c16b31dab03af0f6adc5e050884f2d854c2) dealing with the fallout -- @jonathandturner maybe you can leave a few notes as to what errors you were seeing before this commit?

cc @petrochenkov -- could this

[2019-11-18 19:04] nikomatsakis commented on #66525
(Nominated for @rust-lang/lang discussion around the breakage policy/implications here.)

[2019-11-18 19:04] petrochenkov commented on #66508
This is a consequence of https://github.com/rust-lang/rust/pull/64694, I'll provide a [fix](https://github.com/rust-lang/rust/pull/64694#issuecomment-535518843) ASAP.

[2019-11-18 19:11] petrochenkov commented on #66525
Duplicate of https://github.com/rust-lang/rust/issues/66508, I'll prepare a fix.

[2019-11-18 19:13] petrochenkov commented on #66525
Or rather a "tiebreaker" for the ambiguity, since both names are indeed in scope and create ambiguity, which is correctly detected after #64694.

[2019-11-18 19:15] petrochenkov commented on #66487
Minimization would be appreciated and may help to get a fix merged sooner.
Otherwise I won't be able to work on this until the weekend.

[2019-11-18 19:24] retep998 commented on #55794
On Windows it is truncated *and* you get an error telling you it was truncated. On Unix it is truncated without any indication that it was truncated.

[2019-11-18 19:42] jplatte commented on #61327
Fixed by https://github.com/rust-lang/rust/pull/66395

[2019-11-18 19:42] #61327 closed

[2019-11-18 19:46] igozali commented on #50133
@jean-airoldie just wanted to clarify out of curiosity, the blanket implementation for TryInto/Into for TryFrom is this one, right?

https://github.com/rust-lang/rust/blob/master/src/libcore/convert.rs#L566-L586

Figured the Rust docs link might be outdated.

[2019-11-18 20:09] dingelish commented on #66368
Hi there, could I create an PR to run the CI so that we could check if we can remove this line? Thank!

[2019-11-18 20:34] ePirat commented on #62576
Related issue: mstorsjo/llvm-mingw#56

This is fixed by d153f4f4936efc8039489083f5561070cf5de029

Longer section names are not used anymore, they were needed for the `.note.rustc` section but this was changed in f9846e902dae169255c2d2b1766e7b9846488a89 and 1bb14445160329c2ca5ff9c202e791ca0098d944

[2019-11-18 20:34] #62576 closed

[2019-11-18 21:50] Monnoroch opened #66528 "cargo doc: add option to document specific private items"
## Problem

I often find myself wanting to expose documentation for a private API that shouldn't be called directly, but is an important enough implementation detail for the advanced users of my library to benefit from reading it.

## Proposal

I want to propose a `#[doc(visible)]` attribute that is analogous to the `#[doc(hidden)]` one. The new attribute would exclude the labeled item from being

[2019-11-18 21:51] ehuss commented on #66528
Transferred this issue to rust-lang/rust, as that is where rustdoc issues live.

cc #60884, which sounds similar to me.

[2019-11-18 21:58] gilescope opened #66530 "ICE when rustc asked to `-o /dev/null` on OSX"
Ok, so rustc outputting to /dev/null is a bit pathelogical but it used to not ICE the compiler.

If you checkout

https://github.com/jethrogb/rust-reduce/tree/master/tests/suite/futures_core

and from dir tests/suite/futures_core run:

rustc --crate-type lib -o /dev/null input.rs

Then rustc is vexed:

[code]
(ICEs on stable and nightly)

The irony is that this is in the test suite of a rust code

[2019-11-18 21:58] petrochenkov commented on #66508
Fixed in https://github.com/rust-lang/rust/pull/66529.

[2019-11-18 21:58] petrochenkov commented on #66525
Fixed in https://github.com/rust-lang/rust/pull/66529.

[2019-11-18 21:59] samuela opened #66560 "unused imports should not be fixed from `use foo;\n` to `\n`"
Right now rustfix fixes unused imports by removing but instead of replacing an unused import `use foo;\n` with ``, it inserts `\n`. This gets really annoying when you have a single block of imports and it ends up looking "hole punched":

[code]
On its own this wouldn't be that big of a deal but since these have now been split into separate import "blocks" rustfmt will no longer condense them.

[2019-11-18 22:08] #54730 closed

[2019-11-18 22:36] gilescope commented on #66530
Thanks to rust-reduce I managed to get the repro down to:
[code]
Interestingly it doesn't ICE on playground - I'm guessing playground is on linux?

[2019-11-18 22:40] Kampfkarren commented on #31436
@joshtriplett Is this unresolved? The tracking issue has `resolve whether catch blocks should "wrap" result value` as checked off, citing https://github.com/rust-lang/rust/issues/41414

[2019-11-18 22:55] aedoq commented on #58987
I believe this is another instance of the error:
[code]
Backtrace:
`RUST_BACKTRACE=full cargo build --verbose`
[code]
Version:
`rustc --version --verbose`
[code]

[2019-11-18 23:19] leo60228 commented on #7756
It’s strange that `std::env::args` works from a `cdylib` on basically everything except Linux. Should procfs be used as a fallback for when the runtime doesn’t initialize the arguments?

[2019-11-18 23:39] nate-onesignal opened #66533 "ICE compiling async fn with multiple early returns, but missing final return"
I triggered an ICE when using an async fn that was missing its final return, but had previous early returns in branches. I'm aware that the code should not compile successfully, but it seems that it shouldn't trigger an ICE either.

I tried this code:

[code]

I expected to see this happen:

Normal compiler error telling me that the function is missing a return value

Instead, this happened:

[cod

[2019-11-18 23:41] jonas-schievink commented on #66533
Please check on the newest nightly, I think this is already fixed there.

[2019-11-18 23:42] nate-onesignal commented on #66533
Yes, it looks like this works as expected in the newest nightly

[2019-11-18 23:42] #66533 closed

[2019-11-18 23:43] Speedy37 commented on #65618
Same here with an AMD R7 1800X and `-C target-cpu=native`

[code]

It's looping at these instructions:

[code]

here is the register values at 00007FF6A05E61D0

[code]

at the same instruction but after one more round:

[code]

and here is the stack trace

[code]

I took a quick look at llvm changes since 9.0.0, but nothing seems related.

https://github.com/llvm/llvm-project/compare/llvmorg-9.0.0

[2019-11-18 23:55] ecstatic-morse commented on #66516
1.37.0-stable gives the following warning when building this crate:

[code]

It seems this is allowed breakage and we should maybe ping the author?

[2019-11-18 23:58] jean-airoldie commented on #50133
Yeah, I should have used a perma-link instead. I'll edit my comment.

[2019-11-19 00:27] Mark-Simulacrum commented on #66516
Makes sense to me. cc @HristoKolev -- this is likely to be closed as accepted breakage, so you'll likely want to update your crate/repository

[2019-11-19 00:31] mark-i-m commented on #31436
@rpjohnst Sorry, I should have been more clear. What I mean is that if we stabilized `try` now without Ok-wrapping, I believe it could be added later backwards-compatibly.

That is, I think most people agree that we should have `try` blocks, but not everyone agrees about `catch` or ok-wrapping. But I don't think those discussions need to block `try`...

[2019-11-19 00:47] alexreg commented on #31436
@Kampfkarren Yes. The above conversation details the progression of this matter. It was prematurely ticked off without fully consulting everyone. @joshtriplett in particular had concerns, which several others (including myself) shared.

[2019-11-19 02:23] Speedy37 commented on #65618
Couldn't this be related to #64609

[2019-11-19 02:41] Speedy37 commented on #65618
I just run cargo bench on the beta and nightly channel and it works fine.

[2019-11-19 03:10] yodaldevoid commented on #31436
@mark-i-m How exactly do you see Ok-wrapping being added in the future? I'm trying to figure out how that might be done, and I can't quite see it.

[2019-11-19 03:49] mark-i-m commented on #31436
So I will preface this by saying I don't know if it's a good idea or not...

We would stabilize `try` block without ok-wrapping. For example:

[code]

Later, suppose that we came to consensus that we should have Ok-wrapping, then we could allow some cases that didn't previously work before:
[code]

The question is whether this can cause something to become ambiguous that wasn't before. For example

[2019-11-19 04:33] U007D commented on #64260
In trying this out, I was puzzled why the eager/lazy argument evaluation versions are `then`/`then_with` and not `and`/`and_then`, which is more consistent with established patterns in `std`?

[2019-11-19 06:03] programmerjake commented on #31436
What about using Ok-wrapping except where the returned type is `Result` or `Option`? That would allow simpler code in most cases but would allow specifying the exact value where needed.

[code]

[2019-11-19 06:54] Areredify commented on #63682
I'm not sure how to handle this: callers assume that errors `unescape_str` produces are hard errors, so if we don't `span_err` on it, that inconsistency causes an ICE later in type deduction (maybe inconsistent array length?). At least that what I think is happening, not entirely sure. Should I change output type to something like Ok(c) | Warn(c) | Err?

[2019-11-19 08:13] matklad commented on #63682
Hm, indeed, `unescape_str` and friends interface is not fully-prepared for emitting warnings.

One approach here is to extend the interface. I think something like this will be cleanest:

[code]

That is, even if we emit error, we still produce a fallback char that should be inserted into the string.

However, this particular warning can be handled with less machinery. At the call-site, we check i

[2019-11-19 08:44] mateon1 commented on #66487
Minified example (From the failing serde test):

[code]

[code]

[2019-11-19 09:06] andreytkachenko opened #66541 "Borrow checker bug: `cannot return reference to temporary value`"
Hi, here is an [example of very strange error](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=94a8a50f292d4414c9bf1fcabe99635b) I have stuck with:
[code]
and the error message:
[code]

[2019-11-19 09:32] faern commented on #58520
Why would the `Debug` impl print a bunch of `Display` impls? Feels a bit weird, but maybe it makes sense.

But yeah, related, something I have wanted since forever is the equivalent of `Error::display_chain()` from `error-chain` or `Error::display(separator)` from `err-context`.

`error.display("\nCaused by: ")` is how I print *all* my errors. It's been my motivation for having a source iterator f

[2019-11-19 10:06] oli-cosmian opened #66543 "`dead_code` lint does not trigger for traits at all."
I'd expect some kind of warning for a crate defining but not exporting and not using a trait. While it would be great to also report traits that are implemented for types but whose implementation is never used, this may be significantly harder to detect, not sure.

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7a9633d234a323a17ddcc6cc6ac75636))

Erro

[2019-11-19 10:20] Centril commented on #66517
Is there anything actionable here?

[2019-11-19 10:22] RalfJung opened #66544 "`Pin` is unsound due to rogue Deref/DerefMut implementations"
@comex [found a soundness bug in `Pin`](https://internals.rust-lang.org/t/unsoundness-in-pin/11311). This issue is to track that.

Discussion is happening on IRLO currently, let's try not to fork that.

[2019-11-19 11:06] Nemo157 commented on #31436
Adding `Ok`-coercion or some kind of syntax dependent `Ok`-wrapping (which is what would need to happen to support stabilising without it and introducing it later on) would be very bad for readability, and has been broadly argued against multiple times on i.rl.o (commonly by people misunderstanding the straightforward `Ok`-wrapping that is implemented).

I’m personally strongly in favour of `Ok`-w

[2019-11-19 11:34] Centril commented on #66523
(Sidenote: "cannot resolve" trips me up every time since it feels like it talking about name resolution, not type checking)

[2019-11-19 11:39] nnethercote commented on #55528
#66537 chops off another 2.4%.

[2019-11-19 11:46] Centril commented on #66541
cc @matthewjasper @oli-obk

[2019-11-19 11:54] joshtriplett commented on #31436
@mark-i-m I don't think we can reasonably move from one to the other after stabilization. As bad as I consider Ok-wrapping to be, *inconsistent* Ok-wrapping that tries to guess whether you want it or not would be even worse.

[2019-11-19 12:01] varkor commented on #64260
There's a long discussion in [the RFC](https://github.com/rust-lang/rfcs/pull/2757) about the naming. The current names are essentially placeholders.

[2019-11-19 12:05] jonas-schievink commented on #47048
Nominating since this affects quite a few users of a tier 1 platform and requires weird and potentially fragile workarounds.

[2019-11-19 12:13] CryZe commented on #31436
In my codebase I'm dealing with a lot of optional values, so I introduced my own try block like macro a long time ago. And back when I was introducing it I had various variants with and without Ok-wrapping, and the Ok-wrapping version turned out to be so much more ergonomic, that it is the sole macro that I ended up using.

I have a ton of optional values that I need to work with, and they are mos

[2019-11-19 12:35] jplatte commented on #64260
As a datapoint, this feature turns out pretty useful in proc macros, and I do think the current naming reads nicely: https://github.com/ruma/ruma-api/commit/cb00188e0371c544c4b8622d5a32731f2f6c54b3

[2019-11-19 12:58] varkor commented on #64260
@jplatte: that would be helpful to share on the RFC!

[2019-11-19 13:00] ssomers commented on #42849
Actually, not to me... which drain? Vec & VecDeque have a range argument; HashMap and BinaryHeap don't (because there is no order or it's not exploitable). BTreeMap has order and exposes range concepts already.

I assumed a range argument was implied, and I believe @arthurprs's comment reveals the same assumption. But then, even if you know how to sew up the remaining tree, you can't simply adjust

[2019-11-19 13:06] mati865 commented on #65618
I think it's different because this one unlike #64609 doesn't appear with `windows-gnu` target.

[2019-11-19 13:15] Mark-Simulacrum commented on #66517
I am hopeful that we can patch crates on crates.io at least, ideally we'd go out and fix all of the above (i.e., PRs, or better yet releases where applicable) in time for the release.

[2019-11-19 13:20] Speedy37 commented on #65618
@mati865 I think you are right, and the part where I think there is a misscompilation is inlined.

How can we validate beta/nightly actually fixes this and it's not pure luck due to some minor change in how rust output things?
Just printing the "bad" value with println at the top of the helper function, made the program work with rustc stable.

[2019-11-19 13:41] Lucretiel commented on #56889
I think it's okay if the user-facing contract of `write` is maintained. The most important part of that (to me) is that there are two outcomes:

- Ok(n > 0): n bytes were "consumed" from the user input, and no errors were returned from anywhere in the `Write` stack. This *doesn't* mean that the bytes reached any specific point, only that no errors have occurred yet. These bytes are to be truncated

[2019-11-19 13:48] oli-obk commented on #66541
The other 3 examples not compiling is not surprising, they contain runtime code, so any reference to it will return a reference to a local variable.

I think the suprising thing to folks is that the first example compiles. I have no idea how to improve diagnostics to the point where this difference becomes clear unless we introduce `const {}` blocks and add a lint to force all implicit promoteds t

[2019-11-19 13:53] csmoe commented on #66541
@oli-obk https://doc.rust-lang.org/reference/expressions.html#temporary-lifetimes this chapter in reference may help for a explanation?

[2019-11-19 14:06] tmandry commented on #64191
Some implementation notes:

## Recommended reading

- [High-level overview of the compiler source](https://rust-lang.github.io/rustc-guide/high-level-overview.html)
- [The Rustc Driver and Interface](https://rust-lang.github.io/rustc-guide/rustc-driver.html)
- [Code Generation](https://rust-lang.github.io/rustc-guide/codegen.html)
- [Backend Agnostic Codegen](https://rust-lang.github.io/rustc-guid

[2019-11-19 14:22] andreytkachenko commented on #66541
Yes, thanks for this doc links, something become more clear, but it is still not obvious with this case:
[code]

[2019-11-19 14:27] andreytkachenko commented on #66541
Why this not compiles?
[code]

[2019-11-19 14:41] oli-obk commented on #66541
Before getting into that, note that

[code]

does in fact compile.

The underlying reason is that `const fn` can do things like panicking. While `const` items can also panic, the difference is that if the user writes `&foo()` right now and `foo` panics, they get a runtime panic. If we automatically uplifted const fn calls to get promoted, the users perfectly compiling code would now fail to compil

[2019-11-19 14:51] tmandry commented on #64191
I don't much like using a directory as output, since some build systems might not support this. (Of course, if it's easier to do this initially while prototyping then that's fine.)

Probably the best thing to do is to make an archive file (which I should note is what an `rlib` is today). I don't much care what the extension is (I like `.rlink`, since it probably gets handled differently than rlibs

[2019-11-19 14:57] bjorn3 commented on #64191
Bundling it together in a single ar file would do unnecessary work (both IO and CPU) Object files are always written to the disk. When building an ar file, they are copied then copied to the ar file and a symtab is created (ranlib). Creating a symtab can't be avoided if you dont want to unpack the ar file again before linking, as the linker requires a symtab to be present.

[2019-11-19 15:22] tmandry commented on #64191
I suppose that in build systems that need it, we can wrap invocations with
a script that tars and untars the files, for example. I'm fine with having
an output directory in that case. Ideally the compiler would support both,
but that doesn't seem realistic for an initial implementation.

On Tue, Nov 19, 2019 at 10:58 AM bjorn3 <notifications@github.com> wrote:

[2019-11-19 15:23] #65923 closed

[2019-11-19 15:23] #66508 closed

[2019-11-19 15:23] #66368 closed

[2019-11-19 15:23] #66525 closed

[2019-11-19 16:16] chaaz commented on #60658
You can get to this error via the use of `try_select`, `try_join`, `pin_mut` and `boxed`: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=0233531e1b7801aca03b4564742d5218. The error given makes it really difficult to figure out what the underlying problem is, and/or what workaround can be done to avoid it. :(

[2019-11-19 16:24] Elrendio commented on #47131
Hello,

I'm still having this issue on rustc 1.39.0 (4560ea788 2019-11-04), how can I know when this will be released ?

Thanks a lot !

[2019-11-19 16:31] Dylan-DPC commented on #66495
Yeh we don't have a team ;)

[2019-11-19 16:43] shepmaster commented on #47131
Click on the PR that closed the issue:

![image](https://user-images.githubusercontent.com/174509/69166565-6fdde380-0ac1-11ea-9304-06e0988c2d67.png)

Click on the commits:

![image](https://user-images.githubusercontent.com/174509/69166653-96038380-0ac1-11ea-811b-262adebe0e1c.png)

Pick any of the commits, then look for the tagged version:

![image](https://user-images.githubusercontent.com/174509

[2019-11-19 16:43] shepmaster commented on #47131
Please provide a minimized example that demonstrates the problem.

[2019-11-19 17:48] mati865 commented on #65618
Probably `println` prevented one of optimisations.

I don't know to move forward.
Maybe compare IR and ASM generated for mingw and msvc?

cc @eddyb

[2019-11-19 17:51] eddyb commented on #63959
I dropped the ball while initially [looking at the ASM diff](https://godbolt.org/z/KmMdZD), but then @Speedy37 pointed out that `xmm6` was getting trashed (after looking at it in a debugger) so I took a closer look, ignoring (irrelevant) stack offsets.

Both use `vmovaps xmmN, xmmword ptr [rip + .LCPI5_0]` followed by a later use of `xmmN` to refer to that value, *but* both the `N` and the initial

[2019-11-19 18:06] eddyb commented on #63959
I've just updated https://github.com/rust-lang/rust/issues/63959#issuecomment-552234597 (I know, I said I wouldn't) with a small change to make this reproduce on a Linux Intel IvyBridge i7 laptop (i.e. it has AVX).

The only reason windows was ever relevant was the fact that it has callee-saved `xmm` registers *at all*, which we can also get by marking `fn opaque_iter_next` as `extern "win64"`.

[2019-11-19 18:10] nikomatsakis commented on #66444
This is possibly addressed by @davidtwco's PR https://github.com/rust-lang/rust/pull/65345

[2019-11-19 18:17] bjorn3 opened #66550 "AllocatorKind::GlobalExe is never constructed"
Defined at https://github.com/rust-lang/rust/blob/9285d401a6070094747465962bc49969b93e14c5/src/libsyntax/expand/allocator.rs#L9

Search results: https://github.com/rust-lang/rust/search?q=DefaultExe

[2019-11-19 18:18] bjorn3 commented on #66550
@rustbot modify labels to +A-allocators +C-cleanup

[2019-11-19 18:19] davidtwco commented on #66444
Assigning to myself, should get handled by #65345 but currently isn't (presumably due to [this comment](https://github.com/rust-lang/rust/pull/65345#discussion_r340748378)).

@rustbot claim

[2019-11-19 18:27] petrochenkov commented on #66487
Same ICE on stable:
[code]
The true source of the ICE is https://github.com/rust-lang/rust/pull/63468.
https://github.com/rust-lang/rust/pull/64694 only "unmasked" that ICE for derive helper attributes because they now go through name resolution like other attributes.

[2019-11-19 19:00] bjorn3 commented on #66530
Indeed

[2019-11-19 19:07] oxalica opened #66551 "impl Trait cannot work well with lifetime bounds"
[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=8615db4e00b2b417d3041b1caa27acb7)
[code]

The `self: &'s mut S<'t>` implies `'t: 's`, so the signature should be correct. But compiler still complain that `'t` is captured but does not appear in `impl` bounds.

I checked the [error description of `E0700`](https://doc.rust-lang.org/stable/error-index.html#E0700) an

[2019-11-19 19:19] jsgf commented on #63576
Now stable.

[2019-11-19 19:19] #63576 closed

[2019-11-19 19:40] estebank opened #66552 "Account for unicode char width when calculating vertical label lines"
In [ui/terminal-width/non-whitespace-trimming-unicode.stderr](https://github.com/rust-lang/rust/blob/master/src/test/ui/terminal-width/non-whitespace-trimming-unicode.stderr) we account for the visible char width when calculating the label and span positions, but we do not do so for the vertical bar tying them together, causing the following output:

[code]

where it should be

[code]

(Found duri

[2019-11-19 19:59] TheSamsa commented on #66552
I would like to solve this as a first time issue. Best with some pointers where to start :)

[2019-11-19 20:01] f2cognite opened #66554 "Internal compiler error for default struct with unknown field in async function"
rustc panics when it tries to compile a struct in an async function with a unknown field and default expansion.

This is the smallest example I could find that would reproduce the problem:

[code]

Even though this code isn't valid (due to the unknown field in the struct), I would have expected an error message like this (which is what I get if `run` is a sync function instead):

[code]

However,

[2019-11-19 20:08] jonas-schievink commented on #66554
This was already fixed (the fix is currently on nightly)

[2019-11-19 20:08] #66554 closed

[2019-11-19 20:12] estebank commented on #66552
@TheSamsa the code that draws the vertical lines is at

https://github.com/rust-lang/rust/blob/3f93ffc3334b77cc9025f68dfcea92098987abf3/src/librustc_errors/emitter.rs#L901-L927

and the one that draws the span labels is right below

https://github.com/rust-lang/rust/blob/3f93ffc3334b77cc9025f68dfcea92098987abf3/src/librustc_errors/emitter.rs#L949-L974

I think the error might be using `margin.comp

[2019-11-19 20:23] DarkKirb opened #66555 "tuple structs with all-public fields can not be instantiated if one of the fields has an external attribute"
In current nightly (2019-11-18 and also 2019-11-16) and stable (1.39.0), tuple structs can not be instantiated from an outside module directly if

- all of the members are public
- at least one of the struct members has an attribute (like `#[serde(rename = "some_name")]`)

Example code that is broken:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7108f99f96b03247b7d44bd

[2019-11-19 20:30] Erk- commented on #66555
It seems to only happen with external attributes. Attributes like `#[deprecated]` and similar does not show this bug.

[2019-11-19 20:39] petrochenkov commented on #66555
Minimized:
[code]

[2019-11-19 20:55] Elrendio commented on #47131
Here's a link to the playground: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=064177eade4f98748bacce0167eb354b

StructAlias is warned as never used yet used in the requirements of the AssociatedType of Trait2

[2019-11-19 21:01] shepmaster commented on #47131
Further reduced:

[code]

[code]

/cc @varkor — should we reopen or create a new issue?

[2019-11-19 21:18] oli-obk opened #66556 "min const fn checks don't check set discriminant target"
Leaving this issue as a reminder for https://github.com/rust-lang/rust/pull/66507/files#r347252249

It should be as simple  as adding a check_place call to the `SetDiscriminant`

This issue has been assigned to @christianpoveda via [this comment](https://github.com/rust-lang/rust/issues/66556#issuecomment-557729322).

[2019-11-19 21:21] oli-obk opened #66557 "const fn in panic=abort land"
It is untested what happens when const eval panics in panic=abort mode. We should add some tests and fix the implementation as per https://github.com/rust-lang/rust/pull/66507/files#r347262825

[2019-11-19 21:28] ecstatic-morse commented on #66556
This bug appears in `check_consts::validation` as well: https://github.com/rust-lang/rust/blob/618b01f9fa0a6b4e7e2ce5b3409abe104b80c4a8/src/librustc_mir/transform/check_consts/validation.rs#L546-L554

[2019-11-19 21:47] ehuss commented on #66560
Thanks for the report!  I transferred this to rust-lang/rust, as that is where lints and suggestions are implemented.

This is very similar to #51176, and I suspect it will have the same concerns listed in that issue. There are also more details on how to approach that issue at https://github.com/rust-lang/rustfix/issues/158#issuecomment-446510755.

[2019-11-19 22:18] gendx commented on #42849
I was thinking about the no-range-argument case. There might exist a clever optimization for `drain`, but indeed given how easy it is to derive `drain` from `into_iter` it's unlikely that such optimization wouldn't apply to `into_iter` as well. So your attempt looks good! (At least from a high-level perspective)

As for the sub-range case, that would definitely be a different and more complex impl

[2019-11-19 22:27] joshtriplett opened #66562 "rustc recommends a trait from a crate the current crate doesn't depend on"
I ran into this in a crate that depends directly on `anyhow`, and depends very indirectly on `quick-error`. When trying to use the `context` method, in a case that wouldn't work with `anyhow` because the error type didn't implement Error, rustc said:

[code]

However, since the crate doesn't directly depend on `quick-error`, it can't add such a `use`.

Rough steps to reproduce:

- Have a top-level

[2019-11-19 22:31] varkor commented on #47131
This isn't the same as the original issue, so let's open a new one (there are already related issues, so it might be worth checking if this is already open elsewhere).

[2019-11-19 22:54] SiavoshZarrasvand commented on #63959
@eddyb It is good that you posted here as it reminds me to update my code on my next debugging session with this issue.

[2019-11-19 23:33] Speedy37 commented on #65618
Well I already reduced the incriminated code to the helper function which use a set of both xmm and ymm.
Seeing what I saw with the assembly of your test case for #63959, I bet this issue is the same.

[2019-11-20 00:05] Elrendio commented on #47131
Do you think it's the same as #59333 ?

[2019-11-20 02:54] Mark-Simulacrum commented on #64197
https://github.com/rust-lang/rust/pull/66565 removes those hacks in favor of a less principled approach (revealing the tight coupling between cfg expansion and parsing).

[2019-11-20 05:32] xobs commented on #51540
If I'm reading the thread correctly, the current proposal to get `alloc` + `no_std` working on stable is to provide a default `alloc_error_handler` that simply calls `panic_handler`, which will allow people to use `alloc` in a `no_std` environment on stable for now while the `#[alloc_error_handler]` discussion continues.

The panic handler that is implemented in `#[panic_handler]` should take care

[2019-11-20 06:34] #60804 closed

[2019-11-20 06:56] joshtriplett commented on #66562
I just attempted to recreate a minimal example, and apparently there's more needed than that to reproduce the issue. I'm going to see if I can reduce the original sample from wasmtime into a test case.

[2019-11-20 07:01] Vesnica commented on #9456
[code]

[2019-11-20 07:28] joshtriplett commented on #66562
OK, I have a few fairly small test cases now that reproduce the problem. They still depend on external crates, but external crates with minimal dependency trees.

# `Cargo.toml`
[code]

# `src/main.rs`
[code]

# Resulting errors (`cargo build`)
[code]

# Variation 1
Adding `anyhow = "1.0.22"` to the dependencies, and adding `use anyhow::Context;` to the top of the source, will result in the follow

[2019-11-20 07:38] TheSamsa commented on #66552
Thank you!
I did read the rustc guide, and even compiled it on my own once. But thanks for the direction, and the note to the PR.
I'll do my best :wink:

[2019-11-20 08:05] pnkfelix opened #66568 "reproducible-build-2 fails if `debuginfo-level` > 0"
On my Mac OS X system, trying to run the full compiler test suite for a build with `debug = true` in the config.toml fails due to something with the run-make-fulldeps/reproducible-build-2 test.

Update: more runs without altering `debug` setting and instead doing `debuginfo-level=2` (which is implied by `debug=true`) or `debuginfo-level=1` also have the same effect. So I assume that is root cause

[2019-11-20 10:36] GuillaumeGomez commented on #66521
Some error codes can't really be added into this list because they only thrown on internal. Also, not sure how you would want this to be done. I added a few securities to avoid having removed error codes without a note or error codes not having at least one test.

[2019-11-20 11:06] pnkfelix commented on #65844
(seems like it might only happen at opt-level=0 ...)

[2019-11-20 11:35] pnkfelix commented on #65844
Building with a compiler that has `optimize=false` in the `[llvm]` section of the config.toml file shows this error:

[code]

However, if I break the compile up into two stages, so that `rustc` generates the `.bc` file and `llc` is responsible for compiling the `.bc` file, I get this:

[code]

The generated LLVM IR in question looks like this:

[code]

So... is this rustc's fault for generating LL

[2019-11-20 11:42] mati865 commented on #65844
Probably @nagisa or @nikic could answer this question.

[2019-11-20 11:44] pnkfelix commented on #65844
My personal suspicion is that we shift this over to LLVM's camp, and that we should try to turn the LLVM IR `.ll` file into something we can file as a bug against LLVM.

[2019-11-20 11:46] michaelwoerister commented on #58155
I did a quick (and messy) proof-of-concept implementation of this here:
https://github.com/michaelwoerister/rust/tree/no-hash-experiment

My findings are:
- It would be lots and lots of work to entirely get rid of stable hashing in the compiler. The POC has to fall back to fingerprint comparison for anything that is not in the cache and it is unlikely that we would ever want to store *everything*

[2019-11-20 11:46] #58155 closed

[2019-11-20 11:48] rkruppe commented on #65844
LLVM should not crash on valid LLVM IR (accepted by `-verify`) so this is definitely an LLVM bug. Assuming it can be reproduced with a standalone .ll testcase, at least.

[2019-11-20 11:56] pnkfelix commented on #65844
I wonder if this reduction would be acceptable to the LLVM developers: https://godbolt.org/z/9RvgsQ

[2019-11-20 11:57] varkor commented on #59333
A similar issue was encountered in https://github.com/rust-lang/rust/issues/47131#issuecomment-555712512:
[code]
If these are not fixed at the same time, we should open a new issue for the unaddressed test case.

[2019-11-20 11:58] varkor commented on #47131
@Elrendio: that's the one I was thinking of, thanks. I've added your example there — I think they probably are the same bug (but if not, we can split out another issue then).

[2019-11-20 12:14] andreytkachenko commented on #66541
Ok. I still has a question. Is this how the compiler intended to work by RFC or it is just current limitations of implementation (meaning unable to use a result of a const function for static slice)? And one more, is this issue has something  what may be considered as an issue or should I just close it, since everyone agreed that it is "working as expected"?

[2019-11-20 12:17] hellow554 opened #66572 "Is the generic passage on `register_dtor` still relevant?"
https://github.com/rust-lang/rust/blob/ab6cb0197188f0c842d7dd2e378777f0bc0f6240/src/libstd/sys/unix/fast_thread_local.rs#L12

The corresponding issue #18804 has been closed by PR #52635, so is that passage still relevant or can it be removed?

This issue has been assigned to @chansuke via [this comment](https://github.com/rust-lang/rust/issues/66572#issuecomment-564599725).

[2019-11-20 12:43] rkruppe commented on #65844
That seems to (relatively) gracefully report an error, not fail an assertion. And not exactly a novel error, see e.g. https://github.com/rust-lang/rust/issues/26449. I can't say for sure but "x86_64 without SSE2" is an extremely odd configuration to begin with, so it seems sensible to require addition of `-sse,+soft-float` to make it work. The only clear bug to me is that in some cases you get a s

[2019-11-20 12:45] blueskyjunkie commented on #43408
Although it is surprising that this is not a standard language feature, I just discovered the crate `[generic_array](https://docs.rs/generic-array/0.13.2/generic_array/)` which appears to achieve the desired effect.

[2019-11-20 13:41] pnkfelix commented on #64343
Of potential interest: This bug does not reproduce for me on a `rustc` build with `debug = true` in the config.toml; I have to turn the `debug` setting back to its default of `false` to reproduce the problem.

[2019-11-20 14:04] #65673 closed

[2019-11-20 14:06] cmcq commented on #66481
Unless I'm mistaken, anyone wanting to add a LocalWaker in the future could explicitly add an unsafe impl Sync and a `fn local_waker(self: &mut Context) -> &LocalWaker`. So the existing definition is fine.

[2019-11-20 14:09] joshtriplett commented on #51540
A few thoughts on moving this forward:

- It sounds like we're close to a consensus on a default allocation error handler that calls the panic handler. Can we confirm that consensus?
- Once we have that consensus, can we get someone specific to volunteer to write a PR implementing that change?
- Once we make that change, I don't think we want to *immediately* move to stabilize; we should give peop

[2019-11-20 14:37] SimonSapin commented on #51540
The formal way to do this is an RFC for the Lang and Libs team. Or do you feel an FCP (in a dedicated issue) would be enough?

This is an interesting case for unstable experimentation because it is about a default behavior when nothing other behavior is opted-in, and affects not just one crate but an executable/staticlib/cdylib as a whole.

Maybe we could have that "default" only apply if *any* of

[2019-11-20 14:46] therealprof commented on #51540
@joshtriplett

That'd be insanely useful for embedded development!

[2019-11-20 15:00] oli-obk commented on #66541
This is not a limitation of the implementation. While the original promoted locals RFC suggested to allow const fn calls, it has since been discovered that doing so poses forward compatibility problems that we'd rather avoid. Since you can always insert an intermediate constant, this seems easily worked around. What we would like to see is a `const { foo() }` block that allows you to create anonym

[2019-11-20 15:19] JohnTitor commented on #66521
I mean we can add a note to the top of https://doc.rust-lang.org/nightly/error-index.html
something like:
[code]

[2019-11-20 15:26] gnzlbg commented on #51540
I don't think that's what they meant, probably only some syntax sugar to write `#[global("allocator")]` instead of `#[global_allocator]` for already existing attributes / hacks. There was already an RFC for such a feature last year which received considerable design work, but the lang team postponed it this year ([Existential types with external definition](https://github.com/rust-lang/rfcs/pull/2

[2019-11-20 15:48] chills42 commented on #27709
Do we know what rust release the stabilization would occur in? I'd love to know when I can move to stable for one of my apps that relies on this.

[2019-11-20 15:53] p-avital commented on #22865
Well, there's conflicting implementation detection, isn't there?
Why should we prevent a library from building if it only MIGHT cause conflicting implementations?
Shouldn't we rather prevent the code that uses the library in ways that DO cause conflicting implementations from compiling?
In most cases, code that would cause conflicts is usually also the code that may have done questionable choices,

[2019-11-20 16:16] joshtriplett commented on #51540
@SimonSapin I feel like an rfcbot poll (along with a clear description of the incremental change to the existing behavior) would be enough to confirm consensus.

Yes, that's what I was suggesting.

@gnzlbg I mentioned that RFC in my comment. I was suggesting something intentionally smaller and simpler in the hopes that it would be easier to do without touching needing existential types.

@SimonSap

[2019-11-20 16:53] tmandry commented on #48329
I hit this assertion today. It's reproducible when compiling a single file with a "hello world" main function. Adding `-Ccodegen-units=1` stops the assertion from firing.

[2019-11-20 16:58] GuillaumeGomez commented on #66521
From my point of view, this isn't a good idea since some people might just then think that this isn't worth looking if not all error codes are there. Also, we have "holes" in the error codes list (some people have issues adding one to the highest error code I think :rofl: ).

[2019-11-20 17:08] SimonSapin commented on #51540
Oh yeah I’m not worried about the implementation, it’s the design that I think has some open questions.

[2019-11-20 17:15] SimonSapin commented on #51540
Back to the idea of a default allocation error handler that panics: it becomes unnecessary (for the purpose of unblocking some use cases in the Stable channel) if we stabilize the `#[alloc_error_handler]` attribute. I personally would be fine with that, since it’s very similar to the `#[panic_implementation]` attribute which is already stable. How does @rust-lang/lang feel about this?

[2019-11-20 17:20] Areredify commented on #59188
@nathankleyn can I snatch this?

[2019-11-20 17:21] #45246 closed

[2019-11-20 17:21] #53820 closed

[2019-11-20 17:21] #65899 closed

[2019-11-20 17:28] Areredify commented on #61709
@sam09 would you mind me picking this up?

[2019-11-20 17:29] gnzlbg commented on #51540
You might want to open an internal thread with a proposal. `GlobalAlloc` is a trait, `alloc_error_handler` is a function, so a feature supporting both as independent "extern global thingies (traits and function types)" sounds at least as complicated as the "extern existential types" feature, which natively supports both because `alloc_error_handler` implements a `Fn` trait. I'm not sure what a "sm

[2019-11-20 17:36] SimonSapin commented on #51540
`#[global_allocator]` works with a trait, but really it’s sugar for four "global functions":

https://github.com/rust-lang/rust/blob/b9cf5417892ef242c783ef963deff5436205b0f6/src/libsyntax_ext/global_allocator.rs#L76-L86

[2019-11-20 17:44] nathankleyn commented on #59188
@Areredify Feel free! Some partial work here if it helps: https://github.com/nathankleyn/rust/commit/f5ec9d8c9136e2368d7f89e44d6e240d7b8e2801

However it was, when I was last working on it, giving me some confusing issues and I couldn't untangle it.

[2019-11-20 17:54] jplatte commented on #52475
@ecstatic-morse This can be closed, right? The PR that fixes this (according to its description) has long been merged.

[2019-11-20 18:02] ecstatic-morse commented on #52475
I haven't looked at that PR, but it seems like the test is passing, so let's close this.

[2019-11-20 18:02] #52475 closed

[2019-11-20 18:22] gnzlbg commented on #51540
That's kind of what the "existential" in "extern existential" literally means. When one writes:

[code]

`Heap` has a single concrete type that implements the `GlobalAlloc` trait, i.e., it is not generic. One of the many ways to implement this is to desugar that into the "four global functions" that you mention:

[code]

where some other crate must actually provide a definition of the type, e.g.,

[2019-11-20 18:25] WaffleLapkin opened #66580 "ICE with type_alias_impl_trait: ty_is_local invoked on unexpected type"
This code:
[code]
([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=48226942be9f3e3761318aa28c27579c))

Causes an ICE.

<details>
  <summary>backtrace</summary>
<pre>
   Compiling playground v0.0.1 (/playground)
error: internal compiler error: src/librustc/traits/coherence.rs:534: ty_is_local invoked on unexpected type: [closure@src/main.rs:12:5: 12:20]

thread

[2019-11-20 19:07] Manishearth opened #66581 "Support a rustup-toolchain-install-master contribution workflow for rustdoc"
Currently to hack on rustdoc you need to build all of rustc, which takes forever and hinders contribution.

It might be better to do what clippy does: use [rustup-toolchain-install-master](https://github.com/kennytm/rustup-toolchain-install-master)

Currently this works on rustdoc with the following steps:

[code]

cc @GuillaumeGomez @QuietMisdreavus @Mark-Simulacrum

It may also be worth making t

[2019-11-20 19:13] Mark-Simulacrum commented on #66581
This was discussed at the all hands this year wrt to integration into x.py. I've not yet had the time/energy to sit down and do it, even though it is not very difficult I expect. I should probably try and write up mentoring instructions.

[2019-11-20 19:15] Manishearth commented on #66581
In the meantime it may be worth investigating the RTIM solution (importantly, how to use this compiled rustdoc, `rustup run master ./target/debug/rustdoc foo.rs`) and documenting it

[2019-11-20 19:28] reinerp opened #66582 "`Copy` as a parent trait has weird simplification rules"
This compiles, which it should:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=f835c3c0b83ba608cca84f9bcf42a650))

Now replace Tr1 with Copy, and #[derive] it instead of implementing it manually. You get this, which fails to compile:

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=98a37830457736ebbb7dfd6

[2019-11-20 19:33] jonas-schievink commented on #66582
Duplicate of https://github.com/rust-lang/rust/issues/26925

[2019-11-20 19:33] #66582 closed

[2019-11-20 19:37] Mark-Simulacrum commented on #66518
cc @rust-lang/libs

[2019-11-20 19:43] JohnTitor commented on #66521
Uhm, somehow we should avoid the confusion but I have no strong opinion for this option. If you have an option better than this, it'd be nice. I'm closing this issue in favor of the above objection.

[2019-11-20 19:43] #66521 closed

[2019-11-20 19:53] Centril commented on #66580
Initial reduction:
[code]

[2019-11-20 20:03] little-dude commented on #27709
@chills42 I just opened a PR to stabilize this.

[2019-11-20 20:03] pnkfelix commented on #65844
So that means its not the right reduction then, it seems. I wasn't sure if there was something going on where `llc` might catch errors that end up turning into LLVM Assertion Failures in the context of `rustc`

[2019-11-20 20:05] pnkfelix commented on #26449
@steveklabnik it looks like someone ran into an LLVM Assert that appears strongly related to this, in #65844

[2019-11-20 20:09] pnkfelix commented on #65844
(It also still seems very bad that this scenario leads to `rustc` itself crashing. So I guess I'll keep looking.)

[2019-11-20 20:15] Centril commented on #66580
cc @Aaron1011 @nikomatsakis (suggested by git blame)

[2019-11-20 20:20] Centril commented on #66501
Reduced:
[code]

[2019-11-20 20:53] MatsPalmgren opened #66585 "error: could not evaluate constant pattern"
In the Firefox style system we have this [enum type](https://searchfox.org/mozilla-central/rev/652014ca1183c56bc5f04daf01af180d4e50a91c/servo/components/style/values/generics/grid.rs#738-753) and in the impl I'm adding a const, like so:
`    pub const INITIAL_VALUE: Self = Self::None;
`
That compiles fine. Then I'd like to add this function:
[code]
which results in:

[code]

which makes no sense t

[2019-11-20 21:05] pnkfelix commented on #55724
Its been ages since I looked at this stuff, but: Can't you use 1 instead of 0 as the initial align?

[2019-11-20 21:23] the8472 commented on #27709
Stabilization concern: There are motions under way[0][1] to slowly free up some of the reserved ipv4 ranges to make them useable as unicast addresses at some point in the future.

We discussed a similar concerns in a previous  #60145 but for ipv6 the spec already says that `is_global` is a heuristic and must include reserved ranges per spec. I wasn't aware of the above-mentioned plans, so we shoul

[2019-11-20 21:32] cscccl opened #66586 "possible bug in rust compiler"
/* I am new to Rust and was trying to create an implementation of Lisp style
   linked lists, just for the sake of understanding Rust memory management.
   The code here compiles, but goes into an infinite loop.  The culprit
   is the line

     p = cdr(p);

   in the *length* function.  However, if this line is replaced by the
   commented-out match statement beneath it, then the function works

[2019-11-20 21:38] CAD97 commented on #55724
[This is what I'm using currently, as it avoids the need for `MaybeUninit` wrangling to avoid zero-initializing a small array.](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=79d3da498b8c9f465c52472151dcde7f) But yes, I think it should work fine if you start with align 1.

[code]

[2019-11-20 21:40] jonas-schievink commented on #66586
The line is

[code]

note the `m` parameter. This explains the infinite loop.

[2019-11-20 21:40] #66586 closed

[2019-11-20 21:43] cscccl commented on #66586
nevermind.  my stupid mistake.  thanks

[2019-11-20 21:47] lukaslueg opened #66588 "Tone down encouragement to make everything Copy"
The docs for `std::marker::Copy` currently say

This piece of advice seems counter-productive to me in it's current, absolute form. It encourages a newcomer to Rust to expect the opposite of what he will experience in the ecosystem and stdlib, where things being `Copy` is the exception, not the norm. As a rule of thumb, almost all "normal" types are _not_ `Copy` to preserve move semantics (detache

[2019-11-20 22:03] little-dude commented on #27709
I'd be in favor of stabilizing everything, because if I understand correctly `Ipv4Addr::is_global` is correct, as per the current state of the RFCs. I prefer your second proposal (adding the disclaimer discusses in https://github.com/rust-lang/rust/issues/60239).

[2019-11-20 22:10] matthewjasper commented on #62254
#66502 is blocking this now.

[2019-11-20 22:13] Aaron1011 commented on #66580
Something appears to have gone horribly wrong with PR https://github.com/rust-lang/rust/pull/63934.

In [my initial commit to the PR](https://github.com/rust-lang/rust/commit/39086478d1eadae15292b79a89576d48397394ba), I make coherence checking for opaque types check the underlying type to determine whether the opaque type is local or not.

After some [feedback from @nikomatsakis](https://github.co

[2019-11-20 22:14] Mark-Simulacrum commented on #66588
In my experience, it's pretty rare to have a type able to be Copy but not be Copy -- the only notable example I believe in std is any Iterator types are not copy since that can be confusing.

However, I agree that expanding a bit here would be good. Perhaps adding a note about why `Iterator` implementing types are generally a bad idea to make Copy would be helpful. We'd be happy to see PRs!

[2019-11-20 22:18] Aaron1011 commented on #66580
I've opened https://github.com/rust-lang/rust/pull/66590

[2019-11-20 22:22] little-dude commented on #60239
@GuillaumeGomez would it be possible to display a yellow box similar to the "This is a nightly-only experimental API" but with a custom message? I think that adding a entire "stability" heading for each method is a little heavy...

[2019-11-20 22:31] #64305 closed

[2019-11-20 22:31] #62480 closed

[2019-11-20 22:31] #62929 closed

[2019-11-20 22:31] Mark-Simulacrum commented on #60239
I am against adding such a special feature to rustdoc; a stability heading makes sense here IMO - if it's too heavy to put it on each method, that may be avoidable by putting a general header at the type level and linking to it from the functions, but I would lean towards functions for the default.

[2019-11-20 22:33] little-dude commented on #60239
Ok, I'm going to go with the heading then.

[2019-11-20 22:52] MatsPalmgren commented on #65381
Fwiw, I made this typo today:
[code]

A better error message would be:
[code]

[2019-11-20 23:20] GuillaumeGomez commented on #66521
No I don't (that's why I'm adding missing long error explanations). I don't think this idea is a good one, but I'm definitely open to hear others!

[2019-11-20 23:54] sunfishcode commented on #44948
I have not continued to pursue this, myself. And, it looks like the new GVN framework based on MemorySSA is not yet enabled by default.

[2019-11-21 00:27] steveklabnik commented on #49853
Visiting for triage. A lot has changed, are you still seeing this? any chance of a smaller reproduction?

[2019-11-21 00:28] steveklabnik commented on #26449
Interesting. Do you think that warrants re-opening this ticket as well?

[2019-11-21 00:49] lzutao opened #66593 "[rustdoc] Cannot select search bar in core crate"
Steps to reproduce:
* Open https://doc.rust-lang.org/nightly/core/index.html
* Click in search bar, which doesn't work. Also the 'S' shortcut doesn't work.

cc @GuillaumeGomez

[2019-11-21 00:50] lzutao commented on #66593
Maybe it's #66514 to blame.

[2019-11-21 01:35] Aaron1011 commented on #63063
There's currently an unfortunate trade-off with usages of type-alias-impl-trait (TAIT from here on out). You can either:

1) Use a TAIT within the defining scope. This requires your function to be fully generic over the TAIT usage (cannot repeat type parameters, have extra bounds, on parametesr to the TAIT, etc).
2) Use a TAIT outside the defining scope. This allows you to use any type or type par

[2019-11-21 02:08] ethindp opened #66595 "Rust compiler crashes during compilation"
So, I have no idea exactly what I did. I'm writing an operating system and am working on implementing SATA disk IO in my kernel. My code is at https://github.com/ethindp/kernel.
In order to actively read from the disk and get all updates, I use read_volatile() all over the place in my disk IO functions. I have no idea what I did, but now my kernel doesn't build. When I run cargo xbuild, the follow

[2019-11-21 02:57] rodrimati1992 opened #66596 "Cannot find impl of trait with literal `&'static str` const parameter"
This code ran in the latest nightly(2019-11-19) [in the playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4ed77ce98cd15d28990e640cf74707f7) does not compile:
[code]
And it prints this error message
[code]

[2019-11-21 03:41] rodrimati1992 commented on #66585
Ì believe this is a minimized version of the error:

[code]

[code]

[2019-11-21 05:02] pnkfelix commented on #26449
I dunno. I guess if still no one is actually trying to compile libcore with sse disabled, then this might as well remain closed

[2019-11-21 06:53] hellow554 commented on #66595
@ethindp any specific commit one should use for the error to reproduce? What OS are you on?

[2019-11-21 06:57] hellow554 commented on #66593
Works for me :/ caching issues? Have you tried ctrl+F5?

[2019-11-21 07:02] hellow554 commented on #66580
@rustbot modify labels: -requires-nightly

ICE also appears on stable (also on 1.38) and beta without feature flag. Backport worthy?

[2019-11-21 07:15] lzutao commented on #66593
Yeah. Clearing cache is helpful. Closing as that.

[2019-11-21 07:15] #66593 closed

[2019-11-21 07:27] tmccombs commented on #40096
Is this documented somewhere in version two of the book? I haven't been able to find it, and this caused me some frustration. At least not explicitly, maybe it would be possible to figure this out from "as a wildcard pattern that will match any value but not bind to the value", but it certainly isn't obvious and there isn't anything that calls out this potential footgun.

[2019-11-21 07:36] nsforth opened #66599 "Compiler optimizer issue?"
Hi all,
I caught strange compiler behavior.
Reproducer is there:
https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=8447146347d99118034f50649c83cc25
It works well in debug mode, but fails in release. Reproduced on x86_64 and thumbv7arm hard float.
I've found two workarounds:
1. Changing type from u32 to i32, works fine for me.
2. [inline(never)]  on "encode" method.
It looks

[2019-11-21 07:49] sam09 commented on #61709
@Areredify @estebank
Apologies for not following up. I have been super busy with some things at work.
@Areredify Please go ahead. I haven't found any time to work on this 😄

[2019-11-21 08:00] hellow554 commented on #66595
So I did some RUSTC_LOG=debug and it seems, that the rust compiler runs into some kind of error. These are the last lines the debug output will give me:

[code]

and then it just halts... Actually busy waiting (100% CPU load on one core).

gdb output:
[code]

[2019-11-21 08:03] SimonSapin commented on #66518
It’s not any crate. Servo’s dependency graph includes a number of [users of `matches`](https://crates.io/crates/matches/reverse_dependencies), but we didn’t run into this particular issue.

We did run into glob imports becoming ambiguous https://github.com/servo/html5ever/pull/402, but this is different. This code is already importing `use matches::matches;` specifically:

https://github.com/Hexil

[2019-11-21 08:31] RalfJung opened #66600 "`Box` is marked as "dereferenceable" for the duration of the call"
This function
[code]
compiles to
[code]
Notice the `dereferenceable` attribute! Under current LLVM semantics, this means "dereferenceable for the entire duration of this function body". That is, clearly, not accurate.

This issue is closely related to https://github.com/rust-lang/rust/issues/55005, but affects *all* `Box` instead of just a few uses of references, so I felt it is a separate discuss

[2019-11-21 08:41] RalfJung commented on #55005
Uh-oh, I just read over that and if I didn't miss anything that new attribute is useless for us. It means "this pointer value is dereferencable for the remaining execution of the program", which is *not* the case for references.

[2019-11-21 08:44] spunit262 commented on #63063
Function that don't qualify to see the underlying type can use private helper function, which won't be horrible uneconomic as long as turbofish isn't required (but [turbofish is currently required](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a70bb37cfe2bbb65644fdf2a2e8752e6), not sure if that's a dup of #66426 or not).

Also I think option 2 can be backward-compatibly

[2019-11-21 08:46] hellow554 commented on #66599
This boils down to something like this:

[code]

Debug: `[src/main.rs:6] a(-1.0) = 4294967295`
Release: `[src/main.rs:6] a(-1.0) = 0`

Not sure what is correct here.

[2019-11-21 09:08] pnkfelix commented on #66599
Is this "just" an instance of #10184 ?

[2019-11-21 09:10] hellow554 commented on #66599
@pnkfelix looks like it. So nothing we could do atm? (Weird that a unsound bug is open for more than 6 years now, but I see that it's partially rusts fault)

[2019-11-21 09:16] pnkfelix commented on #66599
Actually, the freeze instruction has finally landed in LLVM, and from my reading of #10184, having that available is a fundamental part of the preferred solution, I think.

[2019-11-21 09:17] memoryruins commented on #66599
Manually inlining and placing in a loop:

<details>
<summary>code</summary>

[code]

</details>

<details>
<summary>debug</summary>

[code]

</details>

<details>
<summary>release</summary>

[code]

</details>

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=cdcc747351cc8ad122e2148362ef8a6f

[2019-11-21 09:26] pnkfelix commented on #10184
@rkruppe I cannot claim to have digested all of the comments here, but I am under the impression that LLVM [now](https://github.com/llvm/llvm-project/commit/58acbce3def63a207b8f5a69318a9966) *does* have a freeze instruction, which was the item blocking the "shortest path" to eliminating UB here, right?

Though I guess `freeze` is so new that it may not be available in our own version of LLVM, righ

[2019-11-21 09:27] pnkfelix commented on #66599
Closing as duplicate of #10184

[2019-11-21 09:27] #66599 closed

[2019-11-21 09:49] pnkfelix commented on #55005
@RalfJung my reading of the dialogue on https://reviews.llvm.org/D61652 is that LLVM still plans to eventually add no-free/no-sync that will (hopefully?) allow us to fix the normal `deferenceable` attribute, and semi-orthogonally to that they are also adding the `deferenceable_globally` attribute.

That is, the `dereferencable_globally` attribute is not replacing `deferencable`, so we should not n

[2019-11-21 10:05] jonas-schievink commented on #66585
Also happens on stable when omitting the `matches!` macro:

[code]

[code]

[2019-11-21 10:12] jonas-schievink commented on #66518
cc @petrochenkov

[2019-11-21 10:19] RalfJung commented on #55005
We can still emit `dereferencable` with its new semantics, true. But it is much weaker than what we do currently, and there is no replacement. We can't use no-free/no-sync as such global statements ("this function will not deallocate anything") are not things our type system provides to us.

[2019-11-21 10:20] GuillaumeGomez commented on #65502
Reopening as it's not fixed.

[2019-11-21 10:25] Centril commented on #66596
Reduced:
[code]

[2019-11-21 10:26] RalfJung commented on #10184
Using `freeze` is still problematic though for all the reasons [referenced here](https://www.reddit.com/r/rust/comments/apreqi/ucgmiri_allhands_2019_recap/egarzl8/). I am not sure how realistic such concerns are with using freeze for these casts, but in principle they apply. Basically, expect `freeze` to return either random garbage or your secret key, whatever is worse. (I read this online somewh

[2019-11-21 10:31] rkruppe commented on #10184
There are some caveats. Most importantly, even if all we care about is getting rid of UB and we update our bundled LLVM to include `freeze` (which we could do at any time), we support several older versions (back to LLVM 6 at the moment) and we'd need some fallback implementation for those to actually get rid of the UB for all users.

Second, of course, is the question whether "just not UB" is all

[2019-11-21 10:47] SimonSapin commented on #10184
@RalfJung My position is that `as` is best avoided entirely regardless of this issue, because it can have wildly different semantics (truncating, saturating, rounding, …) depending on the input and output type, and those are not always obvious when reading code. (Even the latter can be inferred with `foo as _`.) So I have a draft pre-RFC for proposing various explicitly-named conversion methods th

[2019-11-21 11:06] RalfJung commented on #10184
@SimonSapin

Agreed. But that doesn't really help us with this issue.

So we seem to agree that the final state should be that float-to-int `as` saturates? I am fine with any transition plan as long as that is the end goal we are moving towards.

[2019-11-21 11:10] SimonSapin commented on #10184
That end goal sounds good to me.

[2019-11-21 11:14] Centril commented on #10184
In my view, it would not be the end of the world if those users wait with upgrading their rustc for those 6-12 weeks -- they might not need anything from the upcoming releases in either case, or their libraries may have MSRV constraints to uphold.

Meanwhile, users, who are also not subscribed to the thread might be getting miscompilations just as they might be getting performance losses. Which sh

[2019-11-21 11:29] rkruppe commented on #10184
@Centril

No, most of the implementation can be and already is shared by parametrizing over the source and destination bit widths. Only a few bits need case distinctions. The same applies to the implementaton in miri and most likely also to other implementations and to specifications.

We already have some benchmarking numbers. We know from the call for benchmarks long ago that [JPEG encoding gets

[2019-11-21 11:53] Nadrieril commented on #62254
This is now fixed :)

[2019-11-21 11:59] CodeSandwich commented on #63063
I've found an interesting use for impl trait in type alias: treating specific functions as regular types. I'm not even sure how legal it's supposed to be, but it's partially working, partially rejected by compiler and partially causes ICEs: https://play.rust-lang.org/?version=nightly&gist=f4e134cea703a8a8fbaf6aef687a56f2

[2019-11-21 12:04] hellow554 commented on #66595
[code]

the `65535` is taken from the sourcecode, I'm not sure if it can be lowered any further. but this code triggers the long build time for me.

[2019-11-21 12:17] GuillaumeGomez commented on #60239
You can provide a custom message to the unstable attribute like this:

[code]

[2019-11-21 12:51] Centril commented on #10184
OK so from the existing benchmarking numbers, it seems like there is an active desire for said intrinsics. If so, I would propose the following action plan:

1. Concurrently:
   - Introduce the intrinsics exposed on nightly through `#[unstable(...)]` functions.
   - Remove `-Zsaturating-float-casts` and introduce `-Zunsaturating-float-casts`.
   - Switch the default to what `-Zsaturating-float-cas

[2019-11-21 13:11] SimonSapin commented on #10184
Sounds good. Except that intrinsics are implementation details of some public API, probably methods on `f32` and `f64`. They could be either:

* Methods of a trait, optionally in the prelude
* Inherent methods with a supporting trait (similar to `str::parse` and `FromStr`) in order to support different integer return types
* Multiple non-generic inherent methods with the target type in the name

[2019-11-21 13:16] pnkfelix commented on #66600
triage: P-high. Leaving nominated tag on it for now.

[2019-11-21 13:17] dhardy commented on #63063
I don't follow @Aaron1011's argument. The following is illegal, because it does not fully constrain `MyType`:
[code]
The following is also illegal, in this case because a defining use of `MyType` must exist within the same scope:
[code]
Uses *outside the defining scope* cannot assume any more than the trait bounds (e.g. with the above, `Copy` is available on values of `MyType` but nothing else).

[2019-11-21 13:20] pnkfelix commented on #66530
triage: P-medium, removing nomination tag, assigning self.

[2019-11-21 13:24] pnkfelix commented on #66518
triage: P-high. Leaving nominated for now.

[2019-11-21 13:27] pnkfelix commented on #66501
What the heck?!?

[2019-11-21 13:29] pnkfelix commented on #66501
triage: P-high. Removing nomination. Self-assigning.

[2019-11-21 13:30] oli-obk commented on #66501
That's a leftover from matching on byte strings, which used to be one of the few constants one could actually match on.

[2019-11-21 13:32] pnkfelix commented on #66487
triage: P-high. Removing nomination. Removing E-needs-mcve (I think @petrochenkov 's latest qualifies as such).

[2019-11-21 13:35] pnkfelix commented on #66555
Based on @petrochenkov 's assertion that this was introduced by PR #63468, marking this as a stable-to-stable regression.

[2019-11-21 13:36] pnkfelix commented on #66486
triage: P-medium, removing nomination label.

[2019-11-21 13:38] pnkfelix commented on #66464
triage: has PR; P-high, removing nomination

[2019-11-21 13:40] christianpoveda commented on #66556
I'm taking this one :P

[2019-11-21 13:40] pnkfelix commented on #66406
pnkfelix: triage: P-medium, removing nomination

[2019-11-21 13:48] steveklabnik commented on #40096
https://doc.rust-lang.org/stable/book/ch18-03-pattern-syntax.html?#ignoring-an-unused-variable-by-starting-its-name-with-_

[2019-11-21 13:49] pnkfelix commented on #66517
triage: P-high

[2019-11-21 13:56] pnkfelix commented on #66500
triage: P-high

[2019-11-21 14:01] pnkfelix commented on #66517
nominating for discussion at triage meeting, to see if we can get a subset of developers to divvy up the work here.

[2019-11-21 14:03] pnkfelix commented on #66295
nominating for discussing at T-compiler meeting, namely to take peoples' temperature with respect to the idea of just not linting this case when the flagged code appears as part of a macro definition.

[2019-11-21 14:05] pnkfelix commented on #66295
also, marking as P-high w.r.t. answer the question(s) posed here. (I personally don't think the severity of the actual impact is likely to be worth a P-high rating; the priority is likely just temporary until the discussion happens.)

[2019-11-21 14:17] RalfJung commented on #62061
Status update: that PR was reverted because it broke some programs. Those programs all had UB, but we reverted to give them more time to fix their stuff.

But the main blocker for this issue anyway is `&mut T` in const, and I heard rumors that @christianpoveda is working on this? Any updates?

[2019-11-21 14:40] christianpoveda commented on #62061
Hi Ralf, here is the related PR: https://github.com/rust-lang/rust/pull/66606

[2019-11-21 14:40] ebkalderon commented on #44434
I am working on a crate that would directly benefit from this. Is anyone still working on this feature? If not, would someone mind mentoring me to open a PR?

[2019-11-21 14:49] Centril commented on #10184
Yea, I meant exposing the intrinsics via methods or some such.

This feels like the usual thing we do - any objections to this option?

[2019-11-21 15:03] lqd commented on #66517
I took a look at
1) `chiisai-0.1.6`: the [repository](https://github.com/mgattozzi/chiisai) has been archived
2) the `capnp` root:
- `capnp-gj-0.2.1` depends on `capnp-0.7.5`: the [repository](https://github.com/dwrensha/capnp-gj) was marked deprecated in 2017
- `leaf-0.2.1` depends on `capnp-0.6.2`: the [project](https://github.com/autumnai/leaf) has been abandoned in 2016
- `rotor-capnp-0.1.0` d

[2019-11-21 15:11] Aaron1011 commented on #63063
I believe that your last example should acyaully be illegal: https://github.com/rust-lang/rust/issues/52843#issuecomment-457578915

[2019-11-21 15:11] ethindp commented on #66595
Yeah, I can see how that might take a while, but before I made the
read_volatile changes that didn't take as long as it does now. Now it
taks over an horu and then bails out, which never happened before,
even with the 65535 in there. OS is windows, latest commit.

On 11/21/19, Marcel Hellwig <notifications@github.com> wrote:

--
Signed,
Ethin D. Probst

[2019-11-21 15:20] Nadrieril commented on #66501
I think it's one more of theses cases where we don't know how to handle `ConstValue::ByRef` properly. `slice_pat_covered_by_const` shouldn't even exist: specialization should be able to specialize consts by unpacking a pattern into its subpatterns, like we specialize everything else.

[2019-11-21 16:13] Centril opened #66609 "Rename `rustc_data_structures::Sync` to something else to avoid some problem"
See https://doc.rust-lang.org/nightly/nightly-rustc/rustc_data_structures/sync/trait.Sync.html

Context: https://github.com/rust-lang/rust/pull/60900#discussion_r345025636

cc @alexreg @nikomatsakis

[2019-11-21 16:29] dhardy commented on #63063
No, Aaron, because here `MyType<T>` is an alias for `Result<T, T>` which has no type bounds.

[2019-11-21 17:11] petrochenkov commented on #66518
`matches` was added to the standard library prelude.

The error says
[code]
so it looks like the same issue?
The error even shows the glob's span, but it points to some macro arguments, so the glob is probably produced by a macro.

[2019-11-21 17:13] Twey commented on #42940
Smallest test case I've managed to produce:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=cf4582e81175a18eac9e2abc39c725a2
[code]

[2019-11-21 17:19] alexreg commented on #42940
This should probably be triaged at this point, so we can decide how much effort to devote to it (and how soon). @Centril?

[2019-11-21 17:24] Aaron1011 commented on #63063
Oh, you're right. I missed the fact that `MyType` didn't resolve to `T`, like in the example in https://github.com/rust-lang/rust/issues/52843#issue-345582081.

However, my point about restrictions within the defining scope still stands. Usaages within the defining scope cannot repeat generic parameters, instantiate generic parameters with concrete types, or place bounds on the underlying type. I

[2019-11-21 17:43] SimonSapin commented on #10184
Is it though? I feel that when have the name of a type (of the signature) as part of the name of a method it’s ad-hoc “one of a kind” conversions (like `Vec::as_slice` and `[T]::to_vec`), or a series of conversions where the difference is not a type (like `to_ne_bytes`, `to_be_bytes`, `to_le_bytes`). But part of the motivation for `std::convert`’s traits was to avoid dozens of separate methods lik

[2019-11-21 17:45] withoutboats opened #66611 "Implement Default for NoneError?"
I want to ask: should we implement Default for NoneError?

This would allow users to create a NoneError on stable but still not to name the type. I would like to be able to do this, obviously, which is why I want to implement this.

The biggest hazard I see would be that it would limit our ability to change the definition of `NoneError`. In particular, I want to ask: would this make it impossible

[2019-11-21 17:52] #57012 closed

[2019-11-21 17:52] #58184 closed

[2019-11-21 17:52] #62097 closed

[2019-11-21 17:57] Mark-Simulacrum commented on #66609
It would be super helpful to document the reasons for this here rather than just a link -- I wasn't able to quickly parse out the reasons for this and without knowing them it's hard to know whether a rename makes sense :)

(In particular, we'd presumably also want to do the same for `Send`?)

[2019-11-21 18:11] SimonSapin commented on #66518
Oh sorry, I was looking at the first errors which do not mention ambiguity or glob and missed that later errors do.

[code]

… and there is the glob import:

https://github.com/utkarshkukreti/speculate.rs/blob/4e1a6f4c6dfc325dd9609ba890fc5f0bb4c6e2c8/src/generator.rs#L40-L47

[code]

So yes it’s the same issue. Thanks @petrochenkov.

I’ve already written my thoughts on this at https://github.com/r

[2019-11-21 18:15] Aaron1011 commented on #66595
It looks like LLVM is getting [stuck in this loop forever](https://github.com/rust-lang/llvm-project/blob/de1a7dbf6c6b34f56e65732d45970ff27a8e84bf/llvm/lib/CodeGen/SelectionDAG/DAGCombiner.cpp#L1578)

[2019-11-21 18:29] Centril commented on #66609
So the problem to solve was:

Maybe @alexreg & @nikomatsakis can elaborate re. that?

Seems right, yeah.

[2019-11-21 18:45] Centril commented on #10184
My wonder is whether this would be naturally generalizable to a trait given that the methods need to be `unsafe fn`. If we do add inherent methods, then you can always delegate to those in trait implementations and whatnot.

[2019-11-21 19:28] Areredify commented on #61405
@kennethbgoodin would you mind me picking this up?

[2019-11-21 19:44] CAD97 commented on #60728
Relaxing the restriction of `T` to `?Sized` I don't think is compatible with the current safety requirements. On top of that, I think that as is currently written, it's self-conflicting.

The safety requirement requires that the pointer point to a valid `ArcInner`/`RcBox` (side note: probably should make those naming consistent). But then it also says that it accepts `null`? The reason for this is

[2019-11-21 20:18] varkor commented on #66596
@Centril: that gives a different error, because `FieldType` isn't defined. Perhaps you meant something like:
[code]

[2019-11-21 20:20] varkor opened #66615 "Disambiguate between `()` as type and as value in const generic arguments"
[code]
I wonder if we can resolve the unit value correctly here (though maybe it'll require a small hack), because this is quite unfortunate.

[2019-11-21 20:56] dhardy commented on #63063
You are partially right it seems: partial defining uses within the scope are not allowed, although in theory in combination with a full defining usage (or possibly even multiple partial defining usages) it could be legal. Perhaps this should be an extension?

I have yet to find code which works in the outer scope but not the inner scope. Some examples:
https://play.rust-lang.org/?version=nightly&m

[2019-11-21 20:57] shamatar commented on #57563
Over last months functionality of constant functions has greatly improved. What is a current state of const functions in traits and use of generic parameters?

[2019-11-21 21:03] Aaron1011 commented on #63063
@dhardy: Here's an exmaple of code which works in the outer scope, but not the inner scope:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8b3fd5bbb3b1e9ebb4d2e4b874b696d3

Move `produce_it` into the inner scope to break it.

[2019-11-21 21:05] tmccombs commented on #40096
hmm, that was hard to find, especially since it is under the section about starting a name with _ instead of the section about using just "_". Also it doesn't say anything about the behavior wrt drop.

[2019-11-21 21:08] withoutboats commented on #10184
It does seem odd to me to add traits for unsafe conversions, but I guess probably Simon is thinking about the fact that we'd possibly need a different method for each combination of floating point and integer type (e.g. `f32::to_u8_unsaturated`, `f32::to_u16_unsaturated`, etc).

Not to weigh in on a long thread I haven't read in total ignorance, but is that desired or is it sufficient to have e.g.

[2019-11-21 21:42] icefoxen opened #66616 "Add TAU consts to f32 and f64"
Where `tau = 2 * pi`.

In aesthetic terms, very much in the vein of ha-ha-only-serious, the argument is described [here](https://tauday.com/tau-manifesto).

In practical terms, we already have const's for pi divided by various useful integers, so why not include multiplying it by the only really useful integer as well?

PR is trivial and already implemented in https://github.com/icefoxen/rust/comm

[2019-11-21 21:56] jumbatm commented on #66362
Hi, I'd like to take this one. Just to make sure I'm understanding this right: We want to warn on identifier used to define the struct itself, and not on the match binding. Is that correct?

[2019-11-21 22:03] rkruppe commented on #10184
Providing unsafe conversions only to i32/u32 (for example) completely excludes all integer types whose value range isn't strictly smaller, and that's definitely sometimes needed. Going smaller (down to u8, as in JPEG encoding) is also often needed but can be emulated by converting to a wider integer type and truncating with `as` (which is cheap though not usually free).

But we can't very well onl

[2019-11-21 22:06] elichai commented on #57563
That would require making `AsRef` const fn, which first requires having const functions in traits (see the RFC https://github.com/rust-lang/rfcs/blob/master/text/0911-const-fn.md)

[2019-11-21 22:08] elichai commented on #57563
That would require making `AsRef` const fn, which first requires having const functions in traits (see the RFC https://github.com/rust-lang/rfcs/blob/master/text/0911-const-fn.md)

[2019-11-21 22:46] matthewjasper commented on #66502
This doesn't require nightly:

[code]

[2019-11-21 23:06] marmeladema commented on #23707
Another somehow simple example:
[code]

[2019-11-22 00:06] nikomatsakis commented on #58794
@rfcbot fcp cancel

So a lot has happened since this FCP was created. In RFC https://github.com/rust-lang/rfcs/pull/2797, we created the ffi-unwind project group, for one thing. One of the first things we've been doing is debating this *exact topic* in some depth. Therefore, I'm going to cancel this FCP and close this issue -- we expect to try and resolve this issue very soon with a firmer decisio

[2019-11-22 00:06] nikomatsakis commented on #58794
If you'd like to participate in the group, btw, most of the discussion has been taking place in Zulip in the `#wg-ffi-unwind` stream.

[2019-11-22 00:06] #58794 closed

[2019-11-22 01:08] cramertj commented on #66615
Note that `impl Trait<{()}> for () {}` works and that `impl Trait<(5, 5, 5)> for () {}` results in
[code]

[2019-11-22 01:47] ericseppanen commented on #56798
This is still an issue with nightly-2019-11-20.

I see the same thing when trying to use `core::arch::x86_64::cmpxchg16b`, though for some reason only release mode is broken.

@kprotty : __sync_val_compare_and_swap_16 is not from libatomic; it's a gcc/llvm intrinsic.

I tried setting target-cpu=skylake and/or target-feature=cx16, but it didn't help.

[2019-11-22 01:47] dabek opened #66617 "Single 1600 line file with generics taking 30 minutes to compile in release mode"
Put this in your main.rs file: https://gist.github.com/dabek/3474504ab3dae4d264b78504a4d2ee21
Run:
[code]
See it take half an hour (at least it did for me the only time I had the patience to wait for it).

[2019-11-22 02:09] scottmcm commented on #66362
@jumbatm We definitely want to warn on the struct definition.  My understanding is that we don't want to warn on the binding when you didn't actually _write_ the binding ("for field puns").  So we don't warn on `Foo { iHateSnakes }` but would warn on `Foo { iHateSnakes: iHateSnakes }` (and definitely on `Foo { i_hate_snakes: iHateSnakes }`).

[2019-11-22 02:14] nikomatsakis commented on #57893
So I've been distracted here. I think that the [crater results](https://github.com/rust-lang/rust/pull/66037#issuecomment-554558250) here appear to be promising, but there is still a bit more analysis needed. Those results show that relatively few craters are affected, but what I didn't figure out yet is what kind of fix is needed for those crates. In particular, part of the fix I've proposed lean

[2019-11-22 02:34] sw17ch opened #66618 "ICE on 1.39.0 stable with combination of `async` and `..`"
crate with a minimized reproduction: [crash_repr.tar.gz](https://github.com/rust-lang/rust/files/3877694/crash_repr.tar.gz)

# Crash Report

I found a crash in what appears to be the analysis phase after a compilation error. I expected a normal error output, but instead rustc crashed.

Here is the output from rustc:

[code]
# Reproduction

I minimized the code to the following snippet. Comments do

[2019-11-22 02:43] jumbatm commented on #66362
That makes a lot of sense. Thanks!

@rustbot claim

[2019-11-22 02:52] ericseppanen commented on #56798
Perhaps the label is wrong?  Even though the error appears at the linker, it should have been resolved during the compile.

"A-intrinsics", perhaps?

[2019-11-22 02:55] joshtriplett commented on #66362
On November 21, 2019 1:56:42 PM PST, Jon F <notifications@github.com> wrote:

Right, exactly.

I would suggest starting by writing some (failing) test cases for the desired behavior including warning output. I would be happy to review that step and confirm.

[2019-11-22 03:33] jebrosen commented on #60658
@stephaneyfx pointed out a workaround (using `FutureExt::map`) that appears to work in my case:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=51593d4cd22b7dc0a21d1d7c444d9210

I don't think this helps `async_trait`, but having this to compare to might help figure out the underlying cause.

[2019-11-22 03:53] JohnBSmith commented on #48594
A minor point in favor of early return from blocks would be poor man's contract programming. One simply adds assert statements as pre- and postconditions. In order to maintain comfort, it should be possible to replace `return` with `break 'ret` to allow this construct:

[code]

This is an imperfect solution, however, because `return` should be forbidden inside of the block.

[2019-11-22 04:14] Areredify commented on #61709
@estebank I implemented it, but I don't know how to compile it, since I changed both libstd(added an annotation to the Try trait) and the compiler.

[2019-11-22 04:19] dtolnay commented on #66617
Labeling as a regression because :rofl: something is going on:

| rustc | time cargo build --release |
|---|---|
| 1.0 - 1.18 | \<1 sec |
| 1.19 | 7.5 sec |
| 1.20 | 30 sec |
| 1.21 - 1.23 | 4 sec |
| 1.24 | 2 sec |
| 1.25 - 1.41-nightly | **30 minutes** |

[2019-11-22 04:21] lzutao commented on #66618
ICE on stable and beta compiler. Through nightly is fine: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018

[2019-11-22 04:25] lzutao commented on #66616
Python and C++ doesn't seem to include that constant either.

[2019-11-22 04:39] dtolnay commented on #66618
Closing because this seems to be already fixed in nightly. Thanks anyway!

[2019-11-22 04:54] steveklabnik commented on #47932
Triage: since this ticket has been filed, the abort behavior has been rolled back, and there have been attempts to make this defined behavior in some cases. There's no movement I'm aware of on this specific issue, though.

[2019-11-22 04:58] sw17ch commented on #66618
Excellent! Thanks!

[2019-11-22 05:22] alex commented on #66617
I got bored after 40 seconds (I am not a patient man) -- this reproduces at `opt-level=3`, but not `opt-level=2`. Hopefully that helps narrow it down.

[2019-11-22 05:38] memoryruins commented on #66616
Python 3.6 added a tau constant, `math.tau`.  Nim and Perl 6 include one as well.

[2019-11-22 06:00] Guang1234567 commented on #19279
@emk

My solution:

[code]

[2019-11-22 07:05] hellow554 commented on #66616
@icefoxen without any guarantees, I'm sure it's pretty safe to just open a PR with an explanation and some reasoning and see what happens. To open an issue for asking is not necessary, just a tracking issue afterwards will be needed.

[2019-11-22 08:03] oli-cosmian opened #66620 "Missing braces in macro_rules rule cause unrelated parser error"
The following piece of code errors with a parser error at the `!`, because it doesn't expect an expression. I wonder if we could improve the diagnostics here by rewinding to the `=>` and reparsing with an expression parser.

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7baac6ef007d7a0269060160d8fe097d))

Errors:

[code]

[2019-11-22 08:25] joshtriplett opened #66621 "Provide UnixPath and WindowsPath (ditto PathBuf) on all platforms"
Some applications need to manipulate Windows or UNIX paths on different platforms, for a variety of reasons: constructing portable file formats, parsing files from other platforms, handling archive formats, working with certain network protocols, and so on.

We already have the code in the standard library to manipulate both Windows paths and UNIX paths.

I would propose that we either always supp

[2019-11-22 08:28] kentfredric opened #66622 "rustdoc --test mis-reports origins of #[deny(warnings)]"
Here's an example I stumbled onto with a copy of `rand 0.5.6`:

[code]

Note there is a lot wrong here:

1. The line numbers on the "source listing" don't correspond at all to the context line given ( 2 vs 71 )
2. The lines cited don't at all correspond with any of the files mentioned.

[code]
[code]

No, instead, this rule is inserted somewhere else entirely:

[code]

Obviously macros are to blam

[2019-11-22 08:35] kentfredric opened #66623 "capping lints does not work for rustdoc"
As I mentioned in https://github.com/rust-lang/rust/issues/66622 , there's a fun thing that happens:

`--cap-lints warn` can be over-ridden, apparently by attributes in macros, when run under rustdoc, which pretty much defeats the points of `--cap-lints`

With `rand 0.5.6`:
[code]

It seems that, this line, in `src/lib.rs` takes precedence over lint-capping :(
[code]

[2019-11-22 09:02] qwerty19106 opened #66624 "Const generic arguments require brackets (although #60804 is fixed)"
The [#60804](https://github.com/rust-lang/rust/issues/60804#event-2814072931) issue is closed.
But brackets is required yet in my case:
[code]
Gives error:
[code]
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a693179420e600f4531c4137b180d803)

This code is compiled succesful:
[code]

[2019-11-22 09:29] pnkfelix commented on #66518
okay, based on the dialogue here, I'm treating this as not a T-compiler thing.

(@SimonSapin did propose some compiler/diagnostic changes to try to mitigate the effect of additions like this, in #65721, but that doesn't change the fact that this is still just a library issue, not a compiler or language one.)

Removing T-compiler label.

[2019-11-22 09:35] pnkfelix commented on #66555
Marking P-high for, though that's mostly because of the risk that a crate might rely on being able to use struct literal expressions in other modules, and then a later version of that crate wants to put an attribute on of the fields of the struct literal.

[2019-11-22 09:44] vagola commented on #66599
I dont think this is duplicate. The behaivor are diffrent on `release` and `debug`

[2019-11-22 09:46] jonas-schievink commented on #66599
@vagola Undefined Behavior means that any behavior may happen, at the leisure of LLVM's optimizations (or anything else, really)

[2019-11-22 09:50] jonas-schievink commented on #66624
This is expected, only literals and const parameters do not require braces (I believe)

[2019-11-22 09:50] #66624 closed

[2019-11-22 10:05] leonardo-m opened #66626 "[ICE] with or_patterns"
I don't know if you want bug reports about unfinished features:

	#![feature(or_patterns)]
	enum Foo { A, B, C, D }

	fn main() {
		let x = Some(Foo::B);

		let _y = match x {
			Some(Foo::A | Foo::B | Foo::C) => 0,
			Some(Foo::D) => 1,
			None => 2,
		};
	}

Gives:

warning: the feature `or_patterns` is incomplete and may cause the compiler to crash
 --> ...\bug1.rs:1:12
  |
1 | #![feature(or_pa

[2019-11-22 11:18] alvinhochun opened #66627 "dead_code lint highlights more than the ident for impl function"
This is a follow-up of #58729 and #63064. PR #65830 fixed the issue of too much being highlighted for plain functions, but it appears to not apply to impl functions.

With the following example code:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8b0070c53bbbb09acb83935f395dd55e))

The compiler produces these warnings (on 1.41.0-nightly 2019-11-21 5

[2019-11-22 11:24] kamranajabbar opened #66628 "In Rust: assert_ne! macro has a second form, where a custom panic message can be provided"
#### Issue
I am trying to use assert_ne! macro but facing the following issue as mentioned in attachment, I would like to print my custom message when the case failed but can not print my message. As shares in below screenshot.

#### Reference
[Offical Example URL](https://docs.w3cub.com/rust/std/macro.assert_ne/)

#### Sourcecode

#### Aspected Result
The custom message "we are testing that the v

[2019-11-22 11:29] jonas-schievink commented on #66628
The screenshot is missing.

Doing `assert_ne!(1, 1, "oops");` does correctly print the message:

[code]

[2019-11-22 11:33] RalfJung commented on #63944
@GuillaumeGomez you didn't answer my question -- are links like `crate::vec::Vec` considered stable so that we can actually start using them in the docs? The last I heard is that this is experimental and should not be used.

This is just biting us again in https://github.com/rust-lang/rust/pull/66379, where we want to link to the `ptr` module docs.

There's an easy solution: provide a variable tha

[2019-11-22 11:54] joIivier opened #66630 "Using std::borrow::Borrow has sneaky consequences"
Consider the following playground that compiles fine:
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=d735c0950cb1b25e8ff19e6a5c9d0445
[code]
Uncommenting the `use std::borrow::Borrow;` breaks it quite badly:
[code]
This problem does not appear when there is no RefCell inside the Mutex.
This creates confusion when the same function works in a module and not in another.
Esp

[2019-11-22 12:06] joIivier commented on #66630
On a side note, in my situation this was triggered by the IntelliJ rust plugin that added the `use std::borrow::Borrow` automatically in some situation to help me, which had clearly the opposite effect.

[2019-11-22 12:23] csmoe commented on #66630
As I understood, the snippet without `std::borrow:Borrow` should not compile as `Borrow::borrow` wasn't imported actually.

[2019-11-22 12:25] matthewjasper commented on #66626
Given that the panic message is "support for or-patterns has not been fully implemented", I don't think this issue needs tracking outside of #54883.

[2019-11-22 12:25] #66626 closed

[2019-11-22 12:37] Veykril commented on #66630
To my understanding the snippet without the `std::borrow::Borrow` should compile, since the borrow call there is the borrow method of `std::cell::RefCell`.

[2019-11-22 12:38] csmoe commented on #66630
yep, my bad. `borrow` came from `RefCell`'s inherent method.

[2019-11-22 13:08] pnkfelix commented on #66220
The T-lang design team discussed this matter in their meeting a about a week ago. (Sorry I didn't take the time to write a summary until now.)
 * (some of the points I write here are redundant restatements of comments others have made. I just want to make sure I explicitly acknowledge the issues in this summary.)

Some cases caught by `improper_ctypes` are situations where the given types are not

[2019-11-22 13:11] GuillaumeGomez opened #66632 "rustc --explain shouldn't display hidden lines"
In codeblocks, you can hide lines when starting it with "# ". Currently, `rustc --explain` does display them, whereas it shouldn't.

[2019-11-22 13:27] pnkfelix commented on #66600
The T-lang design team [discussed](https://github.com/rust-lang/lang-team/blob/master/minutes/2019-11-21.md#triage) this last night in their weekly meeting.

It seems like we should indeed look into taking the short-term action of ceasing our emission of `dereferencable` for `Box` parameters.

----

Some members of the Rust team should try to follow the LLVM-dev discussion of  `dereferencable`/`de

[2019-11-22 13:45] rkruppe commented on #66220
FWIW, personally I have come to believe that we should definitely split up the lint (with or without the other option) since it's useful independently of this specific issue, but I don't think I can commit the time to explore this further or write up a more detailed proposal any time soon.

<sub>(If I get pinged to discuss that in Discord or Zulip, I probably won't be able to resist being nerd-sni

[2019-11-22 13:46] RalfJung commented on #66600
I can write the patch to remove `dereferencable` from `Box`, but wouldn't know what to benchmark beyond rust-perf (and likely wouldn't have the time, either).

[2019-11-22 13:46] pnkfelix commented on #58733
I'm curious what we can/should consider the bug here to be.

Specifically, in the absence of `#![feature(never_type)]`, should we consider `fn() -> !` to *not* be covered by the blanket impl `impl<T> MyTrait for fn() -> T` ?

(And maybe this question is going to be made irrelevant so soon that it need not be answered...)

[2019-11-22 13:48] pnkfelix commented on #58733
Ah yes I think my previous question is made obsolete by PR #65355

[2019-11-22 14:01] pnkfelix commented on #66600
@RalfJung well lets start with that and go from there. I bet another community member can handle the benchmarking if you provide a PR with the patch.

[2019-11-22 14:30] davidtwco commented on #66220
I’m happy to perform any implementation required here, but I don’t have any particular opinions on the semantics - I just spotted #19834 as work needing done.

I’m happy to proceed with making the lint behave differently (for this case) depending on `extern “C” fn` or `extern “C” {}`; or with a separate lint if someone has opinions on what each lint would do.

[2019-11-22 15:01] olegnn opened #66634 "Error in `async` function/block produces errors for valid unrelated expressions"
Code ([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=34a89f69431d02a03b71942261e2fdc8))
[code]
produces following errors:
<details><summary>Errors</summary>
<p>

[code]

</p>
</details>

However, if we remove line
[code]
, it will become valid. Error on this line affects unrelated
[code]
and produces `cannot infer type for {integer}` error for valid expression

[2019-11-22 15:46] SchrodingerZhu opened #66635 "Having no right to kill a subprocess after capturing the output"
In order to capture the output, I need to partial move the fields of `stdout` and `stdin`. However, after partial moving these two fields I of course lose the right to kill the child process. Someone may argue that I shall be able to work around using mutable borrow of `stdout` and `stdin`, but in my case, the behaviors are not the same.

[code]
I tested out that if I use mutable borrow here, the

[2019-11-22 16:05] jonas-schievink commented on #66635
If you *must* move out of `stdin`, you can always call `child.stdin.take()`, which will leave a `None` in its place.

[2019-11-22 16:52] Kixunil opened #66636 "Message suggesting prefixing with underscore is unhelpful"
I believe that in the vast majority of cases when an unused variable is present, the author of the code intended to use it, but forgot. Thus the message suggesting to effectively turn off the warning is unhelpful.

I suggest changing it to something like:

[code]

While this doesn't concern me much *personally*, I believe it'd be much more helpful to novice programmers. To put it in extreme, imagi

[2019-11-22 17:26] RalfJung commented on #66600
Turns out I was a bit too quick to promise this... I think I traced the attribute to [this part of codegen](https://github.com/rust-lang/rust/blob/083b5a0a1bb3b2ee0873697ebf37e88d85faa3e5/src/librustc_codegen_llvm/abi.rs#L52), but unfortunately that code ties "nonnull" and "dereferencable" together. (Though, interestingly, the type `NonNull` somehow manages to get just that attribute...) I am not

[2019-11-22 17:33] rkruppe commented on #66600
The code you linked doesn't seem like an obstacle for this change? As long as you can arrange for `ArgAttributes::pointee_size` being 0 for Box arguments (which probably happens somewhere higher-level, @eddyb may know where exactly) this code should do the right thing: keep the nonnull attribute and not add any variant of dereferenceable. Am I missing something?

[2019-11-22 17:35] wesleywiser opened #66638 "Const Prop does not finish propagation into user defined variables"
The const prop pass handles propagation into temporaries correctly but doesn't propagate temporaries into user defined variables.

[example](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=7986a477ff05c3436704d62a4a151ae5)

[code]

currently compiles to the following MIR:

[code]

but should ideally compile to:

[code]

[2019-11-22 17:44] fredrik-jansson-se commented on #64705
This still happens on 1.39 stable.

[code]

[2019-11-22 17:48] jonas-schievink commented on #64705
cc @rust-lang/rustdoc

[2019-11-22 18:22] vojtechkral commented on #65765
@stefson Sure, if you want, you can test which toolchains work (in terms of panicking) on that platform :)

[2019-11-22 18:22] ollie27 commented on #66616
See also: rust-lang/rfcs#1486

[2019-11-22 18:27] Andlon commented on #65934
I'm running into an issue which might be related to this, but I can't really tell if it is the same issue or not. Perhaps someone would be willing to help me determine if it is?

I'm experiencing ICEs across stable, beta and nightly. `cargo check` appears to work fine. I've turned off incremental compilation (e.g. `export CARGO_INCREMENTAL=0`), and the issue persists. I've attached the result of `

[2019-11-22 18:31] ericseppanen commented on #58500
I believe __sync_val_compare_and_swap_* are compiler intrinsics/builtins.

I think that means even though this error appears at the linker stage, it's not the linker's fault: the compiler should have substituted the relevant inline code already.

[2019-11-22 18:41] vivekvpandya commented on #66617
On rustc 1.39.0 I see it hangs when running following command :
`rustc -C opt-level=3 --emit link main.rs `

however
`rustc -C opt-level=3 --emit obj main.rs` generates .a file quickly , so it seems that linker is not happy with something generate by optimization.

[2019-11-22 18:47] ericseppanen commented on #58500
Hm; maybe things aren't that simple.  LLVM's behavior seems to be arch-specific:
https://llvm.org/docs/Atomics.html#libcalls-sync

We probably can't conclude that this linker error means the same thing on different platforms.  While on x86_64 I expect some inline assembly, it looks like some other platforms may emit an actual separate function or even a library call.

[2019-11-22 18:54] jonas-schievink commented on #58500
Unlike with https://github.com/rust-lang/rust/issues/56798, I'd expect no such function call to be generated at all in this case (since the code apparently doesn't make use of atomics).

@lights0123 can you perhaps provide instructions for reproducing this issue, preferably with minimized code?

[2019-11-22 18:58] RalfJung commented on #66600
Ah, I didn't realize that `pointee_size` is what controls "dereferenceable".

And I am also not sure if that is right... the `pointee_size` is set even for raw pointers! (And that is, I think, where it comes from for `Box`.)

[2019-11-22 19:04] rkruppe commented on #66600
That would be super wrong, but empirically we don't get `dereferenceable` on raw pointers, so you must be mistaken. Why do you think `pointee_size` is set for raw pointers? The line I linked earlier only sets it for safe pointers, it's guarded by an `if let` to that effect.

[2019-11-22 19:07] jonas-schievink commented on #66635
This issue tracker is mainly meant for bug reports and concrete, small feature requests. Questions like this are better asked in the user forum at https://users.rust-lang.org/ or on [one of the chat platforms](https://www.rust-lang.org/community) used by the Rust community.

[2019-11-22 19:07] #66635 closed

[2019-11-22 19:10] RalfJung commented on #66600
https://github.com/rust-lang/rust/blob/083b5a0a1bb3b2ee0873697ebf37e88d85faa3e5/src/librustc/ty/layout.rs#L2214

[2019-11-22 19:10] bstrie commented on #31436
Given the venerable history of this tracking issue, its original and regrettable conflation with the `?` operator, and the roadblock over the `Ok`-wrapping issue, I'd suggest closing this issue outright and sending `try` back to the beginning of the RFC process, where this discussion can get the visibility it deserves and (hopefully) reach some sort of conclusion.

[2019-11-22 19:11] rkruppe commented on #66600
But that is the `PointeeInfo::size` field, not `ArgAttribute::pointee_size`.

[2019-11-22 19:13] RalfJung commented on #66600
Yeah I know, but `PointeeInfo` becomes `ArgAttribute` somewhere. That is the only place `UniqueOwned` is used, so I assume the size also gets propagated.

[2019-11-22 19:13] RalfJung commented on #66600
Here it is:

https://github.com/rust-lang/rust/blob/083b5a0a1bb3b2ee0873697ebf37e88d85faa3e5/src/librustc/ty/layout.rs#L2529

[2019-11-22 19:14] rkruppe commented on #66600
That's the line I linked [earlier](https://github.com/rust-lang/rust/issues/66600#issuecomment-557622905)! Although I edited in, so I guess that's why you didn't see it.

[2019-11-22 19:16] RalfJung commented on #66600
Yes so? `PointeeSize` is where all the type-dependent smarts happen, that just gets translated to `ArgAttribute` later. I don't know why both of them exist, but it seems to be abstraction-breaking to do anything type-dependent in that translation. The code is already spaghetti enough without *two* places that incorporate type information.^^

[2019-11-22 19:17] RalfJung commented on #66600
Also you asked where `pointee_size` gets set for raw ptrs, and I did answer that question: first `PointeeInfo::size` gets set for raw ptrs, later that value gets put into `pointee_size`.

[2019-11-22 19:17] stefson commented on #65765
Ok, please give me instructions on what to exactly go for.

[2019-11-22 19:19] rkruppe commented on #66600
Ask @eddyb, I guess 🤷‍♀

But crucially it *doesn't* get put there for raw pointers. So `pointee_size` is not set for raw pointers.

[2019-11-22 19:21] RalfJung commented on #66600
Ah, because that line copying it is guarded by `if let Some(kind) = pointee.safe`. I missed that.

So `ArgAttribute` seems to indicate "dereferencable" via the size... hm. Maybe we just want that to remain 0 then for `UniqueOwned`?

[2019-11-22 19:23] rkruppe commented on #66600
Yeah. Glad we're finally on the same page :)

[2019-11-22 19:34] ericseppanen commented on #56798
Quick C example (this is the whole file):
[code]
Compiling on x86_64 (`clang -c -Wall -march=skylake test.c`) results in the expected inline asm:
[code]
gcc behaves the same.  I take that as evidence that LLVM does consider this an intrinsic or builtin (at least on x86_64)

I think the question is, since llvm is building for the same arch/cpu/feature-set, why did it not replace this symbol with th

[2019-11-22 19:37] ericseppanen commented on #56798
I wonder if this is relevant?
https://llvm.org/docs/Atomics.html#libcalls-sync

How would I find out if rust is doing all those things?

[2019-11-22 19:38] jonas-schievink commented on #56798
Those are controlled by the LLVM backend, not rustc

[2019-11-22 19:44] ericseppanen commented on #56798
Yeah, I think that that snippet was off-topic anyway.  Earlier in that page it says

That threw me off... but I think this part of the hypothesis is still true: llvm has a builtin for this, but isn't using it for some reason.

[2019-11-22 19:54] cjgillot opened #66643 "Rustc does not free memory before calling the linker"
Hello,

While compiling rust-analyzer, I witnessed elevated memory usage by rustc while the linker is active. In that case, more that 600 MB is allocated by the compiler. In cargo-parallelized build, this is a lot.

rustc version: 1.40.0-nightly (5da4b4d47 2019-10-28)

Thank you for investigating this.

[2019-11-22 20:02] RalfJung commented on #66600
I just had to unfold some spaghetti first. ;)

[2019-11-22 20:39] jonas-schievink commented on #47551
Hi! Is this still an issue? If so, is there perhaps a simpler way to reproduce this than the instructions linked above?

[2019-11-22 20:41] jonas-schievink commented on #47449
Looks like a duplicate of https://github.com/rust-lang/rust/issues/28179, so closing in favor of that

[2019-11-22 20:41] #47449 closed

[2019-11-22 20:58] ericseppanen commented on #56798
I think this is user error.  I figured out how to make it work, both for my code and the original example.

All you need is to run rustc with the right cpu feature enabled.  Either of these will work:
`-C target-feature=+cx16`
`-C target-cpu=haswell`  (or any of the other modern families; I haven't searched to find the minimum)

My mistake was trying to do both, but missing the `+` in the target-f

[2019-11-22 21:04] mincheolsung opened #66644 "SSE disabled libstd creates an error"
I added disabling SSE and MMX on https://github.com/hermitcore/rust/blob/ab6cb0197188f0c842d7dd2e378777f0bc0f6240/src/librustc_target/spec/x86_64_unknown_hermit.rs#L7 and built libstd.

When I tried to build an application with `-C soft-float`, I got `LLVM ERROR: SSE register return with SSE disabled`.

[2019-11-22 21:05] RalfJung commented on #66600
PR open at https://github.com/rust-lang/rust/pull/66645

[2019-11-22 21:10] jonas-schievink commented on #66644
It is possible that LLVM simply does not handle this, since you're building for x86-64, which always has SSE available.

[2019-11-22 21:27] retep998 commented on #66621
How would they interact with `OsStr`/`OsString` from `std`?

[2019-11-22 21:31] ericseppanen commented on #56798
Seems like there should be a `target_feature` gate (`"cmpxchg16b"`)? on
`std::intrinsics::atomic_cxchg_relaxed<T>` where `T` is a 128-bit type, and on `core::arch::x86_64::cmpxchg16b`.

But... `core::arch::x86_64::cmpxchg16b` does have one:
[code]

I guess because libstd and stdarch are pre-compiled they already made it past the gate; but if those functions get inlined then rustc emits llvm-ir tha

[2019-11-22 21:46] CAD97 commented on #63292
Are the safety docs for this correct? They currently say

This means that [this is sound](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=a08296f52b302028a214c2bf77bc65f3):

[code]

I don't think this is necessarily incorrect (and Miri passes), but it should be noted that `ArcInner` doesn't put the data payload in an `UnsafeCell`, and it is always behind a `ptr::NonNull`.

[2019-11-22 22:25] SimonSapin commented on #63292
As far as I understand, the absence of `UnsafeCell` is ok here because we’re not mutating through a `&_` shared reference.

Can you say some more about what is subtle and how you conclude that this is sound?

[2019-11-22 22:46] jsgf commented on #66617
-Ztime-passes is showing:
[code]

It hasn't completed yet. I'm also running it under `perf`. So far the top hot functions seem to be `llvm::isSafeToSpeculativelyExecute` and `llvm::SmallPtrSetImplBase::FindBucketFor`.

[2019-11-22 22:47] bossmc commented on #47551
The setup that's needed is:

* A large LOAD segment (the one containing `.text` and `.eh_frame`)
    * Specifically the `.eh_frame` section needs to be deep into the segment
    * How deep it has to be is roughly determined by the first `u32` of the `.gcc_except_table` section

So something like the following should trigger the fault:

[code]

This builds a **huge** `.rodata` section, which lives

[2019-11-22 22:57] CAD97 commented on #63292
The main thing is that I previously considered an `Arc` to be "just" a shared box, where `get_mut_unchecked` exposes the falsehood of that understanding via allowing use of `Arc` for (completely unchecked) internal mutability.

I just found it nonobvious that `Arc` enables shared mutability, that's really it. Without this API it only exposes unshared mutability (of the payload).

[2019-11-22 23:01] SimonSapin commented on #63292
We previously had `get_mut` and `make_mut` that allowed mutability through `Arc`, though yes that is only with (runtime checking that) no sharing (is) happening.

[2019-11-22 23:03] SimonSapin commented on #63292
I initially documented this as safe when there is only one reference (no sharing), then Ralf pointed out this can be relaxed: https://github.com/rust-lang/rust/pull/62451#discussion_r304014459

[2019-11-22 23:12] Dylan-DPC commented on #66616
Closing this as it is easier to create a tracking issue when the rfc is accepted. Thanks

[2019-11-22 23:12] #66616 closed

[2019-11-22 23:15] Dylan-DPC commented on #66556
@rustbot assign @christianpoveda

[2019-11-22 23:26] jonas-schievink commented on #47551
Hmm, that doesn't seem to be sufficient (tested on the current stable and nightly). I get this output when building and running this on Arch Linux:

[code]

I also get the same output when using `std::backtrace::Backtrace::force_capture()` to capture the backtrace.

[2019-11-22 23:55] ollie27 commented on #32735
Fixed by #53409. We don't show the values of consts anymore.

[2019-11-22 23:55] #32735 closed

[2019-11-22 23:55] ollie27 commented on #42759
Fixed by #53409. We don't show the values of consts anymore.

[2019-11-22 23:55] #42759 closed

[2019-11-22 23:55] ollie27 commented on #44348
I think we can consider this fixed by #53409.

[2019-11-22 23:55] #44348 closed

[2019-11-22 23:55] ollie27 commented on #49259
Fixed by #53409. We don't show the values of consts anymore.

[2019-11-22 23:55] #49259 closed

[2019-11-22 23:56] heycam opened #66652 "backtraces are hard to read"
I find Rust backtraces hard to read at a glance.  I think it's because many irrelevant (to me) stack frames are shown -- I'm getting 11 frames at the top relating to panicking and backtrace printing, and at the bottom there are 8 relating to panic catching and other initialization.  The frames I really want to look at are somewhere in the middle, but I have trouble scanning the output to find them

[2019-11-23 01:13] #65041 closed

[2019-11-23 01:13] #66476 closed

[2019-11-23 02:00] ollie27 commented on #63222
Closing in favor of the tracking issue: #50146

[2019-11-23 02:00] #63222 closed

[2019-11-23 03:13] slightlyoutofphase opened #66658 "Infinitely recursive cylic `Deref` impls allow materializing uninitialized structs out of thin air in safe code."
Running the following code on the current stable compiler:

[code]
consistently produces always-slightly-different (in a way that only uninitialized memory usually is) output, such as the following:

[code]

[Here's a runnable playground link](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=cea778acc1bd507865fb9c42318388eb) for the sake of convenience, also.

Beyond every

[2019-11-23 04:19] adlerd commented on #66658
Just for completeness' sake, [here's the obvious way to turn this into a segfault in safe rust](https://play.rust-lang.org/?version=stable&mode=release&edition=2018&gist=4fd31b80b5d48e75fe87ab51b254b4e2). This playground also indicates that this doesn't require any ZSTs at all; `Inner` has been given a size.

RIP memory safety; 2015-2019.

[2019-11-23 04:23] slightlyoutofphase commented on #66658
I was just about to check if it really actually worked for *any* struct, in fact. Yikes! Edited the title.

[2019-11-23 04:28] spunit262 commented on #66658
I think this is just #28728, You making a infinite loop with recursive deref calls.

[2019-11-23 05:11] slightlyoutofphase commented on #66658
I don't think the real problem is the recursiveness of it, though. It's more that the structs obtained by the dereferences are validly assignable by `let` bindings at all, because they're completely uninstantiated variables pulled out of nowhere.

[2019-11-23 05:16] adlerd commented on #66658
@spunit262 is right... `let v: Vec<i32> = loop {};` is also valid.

It's still a compiler bug that this triggers a memory unsafety issue, which is considered a security bug IIRC. It's not obvious from #28728 that the issue is exploitable that way.

[2019-11-23 05:28] slightlyoutofphase commented on #66658
Well yeah, that's pretty much what I meant.

It's allowing something that could never possibly be Rust code with a safely usable result in the first place to even get to the point where LLVM comes into play.

[2019-11-23 06:44] jumbatm commented on #66362
@joshtriplett I've put up a PR with the failing test case. How's this look? Are there any other cases I should test?

[2019-11-23 07:27] #64343 closed

[2019-11-23 07:32] jonas-schievink commented on #66658
Duplicate of #28728

[2019-11-23 07:32] #66658 closed

[2019-11-23 07:33] jonas-schievink commented on #66652
Duplicate of https://github.com/rust-lang/rust/issues/58554

[2019-11-23 07:33] #66652 closed

[2019-11-23 07:35] WildCryptoFox commented on #65934
@Andlon Can you provide the code?

[2019-11-23 07:37] Andlon commented on #65934
@WildCryptoFox: Not publicly, at this point, unfortunately, as it contains algorithms that we need to keep a little under wraps for some time (at least until it's been accepted for publication). But it's intended to be open sourced later on, so I think it won't be a problem to provide the code to select individuals, if that could work for you?

[2019-11-23 07:42] WildCryptoFox commented on #65934
@Andlon I've pinged @eddyb who does enjoy reducing code.

Do you have a function in the form of `make` above?

Does transforming it into `fn make<T: Trait<Assoc=Y>, Y>() -> impl Dummy<Y>` fix the issue?

[2019-11-23 07:59] Andlon commented on #65934
@WildCryptoFox: I don't think I have a function like that in the code that the compiler actually complains about, but there's a whole lot of generic and associated types used in various ways in general.

Actually, I looked at the code again and tried to reduce it a little, and it *seems* as if the problem is independent of the function signature, but instead has something to do with the interactio

[2019-11-23 08:07] WildCryptoFox commented on #65934
@Andlon It might hit the same problem via a different route. Good luck with reducing. I've pinged you in a private gist. I could take a look at the code; though I'm a bit busy right now so no guarantee for when.

[2019-11-23 08:46] luojia65 commented on #65597
I met this issue when I try to write for embedded devices, for example we need to generate PLL configurations from frequencies set and there could be no solution in some situations where a panic should be fired. After this issue being solved we can write more abstract in embedded rust crates.

[2019-11-23 08:54] segfaultsourcery commented on #66099
I wouldn't mind taking this on, if it's not already taken.

[2019-11-23 09:25] Cerberuser commented on #29634
Just run into the issue preparing this [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=cab808774887b67cfe4e49a3da91dd92). Looks like the compiler error E0601 is currently misleading, since it recommends the `main` attribute, even on stable where it is unavailable at all. Probably we should drop the corresponding part from the error message at all, as it seems t

[2019-11-23 10:36] skade commented on #27694
I'd like to bump this again, this - along with rustup-init.exe not being signed - is a substantial speed bump when using Rust on Windows.

[2019-11-23 10:39] pnkfelix commented on #65934
By the way I wrote a recent blog post on generic techniques for reducing compiler bugs in Rust. It might give you ideas.

http://blog.pnkfx.org/blog/2019/11/18/rust-bug-minimization-patterns/

[2019-11-23 11:09] GuillaumeGomez opened #66665 "Allow "#" in intra-docs links"
It'd allow to point to a precise place in the item's documentation. A good example of why this would be nice to have it: https://github.com/rust-lang/rust/pull/66379

[2019-11-23 11:10] GuillaumeGomez commented on #66665
There is already an issue about this here: #62833

[2019-11-23 11:10] #66665 closed

[2019-11-23 11:15] skade commented on #27694
See https://github.com/rust-lang/rustup/issues/1568 for updates, concerning rustup.

[2019-11-23 11:29] Andlon commented on #65934
@WildCryptoFox: thanks, appreciate it!

@pnkfelix: I skimmed your blog post, and there's some really good advice in there. I'll try to follow your approach and see where it takes me.

I observed something strange, btw. I have a workspace consisting of multiple crates, the relevant two are `apps` (which contains the main binary) and a library `fenris`. The following gives me an ICE:

[code]

The fo

[2019-11-23 12:05] Andlon commented on #65934
As I started out trying to reduce the code, I realized the following:

The ICE occurs for `nightly-2019-11-15 1bd30ce2a`. It does however not seem to appear for `nightly-2019-11-16 5c5b8afd8`. I'm not entirely positive that the bug is *gone*, however, or if it's just not being triggered somehow. I can still try to make a somewhat reduced case for `2019-11-15` though. How can I figure out if there

[2019-11-23 12:11] lqd commented on #65934
You may be able to use `cargo-bisect-rustc` to bisect to a commit, as documented in [the tutorial](https://github.com/rust-lang/cargo-bisect-rustc/blob/master/TUTORIAL.md), which also shows how to get the bors commits in that date range.

[2019-11-23 14:00] RalfJung opened #66667 "Cycle error when accidentally comparing a function inside itself"
The following code leads to an inscrutable error message:
[code]
[code]
I had this happen in a 10-line function and it took me a bit to realize that I typo'd the function instead of a variable name somewhere. There is no indication where inside the function the bad use is.

[2019-11-23 14:01] bjorn3 opened #66668 "ICE "alloc id without corresponding allocation: 215" with mir inlining"
[code]

[2019-11-23 14:13] RalfJung commented on #43466
When I tried using intra-doc links in libstd docs a few months ago, I was told they are still experimental and should not be used yet. What is the current status? When writing new docs / adding new links to existing docs, should I use intra-doc links?

[2019-11-23 14:24] bjorn3 commented on #51314
The mentioned link gives a 404.

[2019-11-23 14:31] pitdicker commented on #66136
This seems like a good place to ask, as it concerns a cast from `*const` to `*mut`.

Suppose I have a shared reference to an atomic. Would transmuting it to a mutable pointer for FFI be a problem?
[code]

Or would a dance with `UnsafeCell` be better?
[code]

[2019-11-23 14:40] jonas-schievink commented on #51314
New link: https://github.com/rust-lang/rust/blob/master/src/test/ui/mir/mir-inlining/ice-issue-45885.rs

[2019-11-23 14:41] petrochenkov commented on #66555
Fixed in https://github.com/rust-lang/rust/pull/66669.

[2019-11-23 14:41] petrochenkov commented on #66487
Fixed in https://github.com/rust-lang/rust/pull/66669.

[2019-11-23 15:37] Aaron1011 commented on #51314
See https://github.com/rust-lang/rust/pull/66203

[2019-11-23 15:38] cjgillot opened #66672 "Unhelpful type error for too general trait implementation"
Hello,

When calling trait method with a too-generic type, the error message does not mention the missing trait bound.

Consider this example
[code]

I get this error message
[code]

For derive macros, finding which field is responsible for the error is not obvious.
I would have expected something like
[code]

[2019-11-23 16:36] vojtechkral commented on #65765
@stefson It should be enough to build & run a simple program that panics, such as:

[code]

If the toolchain's panicking support is broken, it may segfault or it may print an error message after the panic message is printed.

[2019-11-23 16:52] slightlyoutofphase commented on #66658
Fair enough. I'm still somewhat of the opinion that the fact this program compiles at all exposes autoderef as being overly aggressive far beyond the scope of what's necessary for ergonomics, though.

[2019-11-23 17:19] mincheolsung commented on #66644
I tried with `-Ctarget-feature=+soft-float` instead of `-C soft-float` and it fixed the issue.

[2019-11-23 17:19] #66644 closed

[2019-11-23 17:58] steveklabnik commented on #50826
Triage: this still warns today

[2019-11-23 18:53] hskang9 opened #66676 "Bug: Inconsistent deserialization of serde_json::from_str"
Hello, I was investigating why `cargo publish` command would convert hyphen and underscore to the same underscore to make upload request to crates.io, and I think I found out that [this line](https://github.com/rust-lang/crates.io/blob/66c60dc1c2f7b582643fe5ccb79f40363e277b4d/src/controllers/krate/publish.rs#L227) created the problem.

`serde_json::from_str` changes hyphens and underscore to under

[2019-11-23 19:01] jonas-schievink commented on #66676
That does not look inconsistent to me.

[2019-11-23 19:36] ethindp commented on #66595
Any progress on this?

[2019-11-23 19:46] wesleywiser commented on #66668
IMO probably a duplicate of #66345

[2019-11-23 20:08] bjorn3 commented on #66668
I think so too.

[2019-11-23 20:08] #66668 closed

[2019-11-23 20:28] jonas-schievink commented on #66595
@ethindp filed https://bugs.llvm.org/show_bug.cgi?id=44128

If you want to help out, you can try minimizing the LLVM IR further.

[2019-11-23 20:43] ethindp commented on #66595
I'm not even remotely familiar with LLVM's inner workings so I don't know how I could help. :(

[2019-11-23 20:46] ethindp commented on #66595
Just looked at the issue. I could reduce the HbaCmdHeader size considerably if I just made an array without a size, but I don't know if Rustc would then allow me to access arbitrary elements when I read it from memory.

[2019-11-23 21:31] Dylan-DPC commented on #66359
Just an update: the linked pr has been merged

[2019-11-23 21:54] Centril commented on #66618
We should try to identify which PR fixed the ICE and possibly beta-backport it.

[2019-11-23 22:14] VirrageS commented on #66339
Reduced:
[code]

But this compiles:
[code]

[2019-11-23 23:02] #66676 closed

[2019-11-23 23:06] hskang9 commented on #66676
Yes This is definitely my mistake.

[2019-11-24 01:38] #61067 closed

[2019-11-24 01:39] mhristache opened #66685 "Segfault when printing a slice"
This code is causing a segfault:

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3b1f0f96eaca688adb042642ee934d07)

[2019-11-24 01:53] qnighy commented on #34761
Is there anything I can help to stabilize this feature?

[2019-11-24 03:45] nagisa commented on #66685
It is not printing the slice that’s segfaulting, but the fact that you’re allocating a 4GB array on stack.

Amusingly stack probing fails to work here as the amount of bytes to probe for overflows and code ends up probing only a few bytes:

[code]

[2019-11-24 04:07] nagisa commented on #66685
https://bugs.llvm.org/show_bug.cgi?id=44129 for probe size overflow.

[2019-11-24 04:13] nagisa commented on #66685
Inclined to close this bug as invalid, as there is nothing actionable on our end here. We cannot make OS allocate us an infinite stack for the main thread, sadly. Consider `stacker` or perhaps creating a thread with a larger stack.

[2019-11-24 04:14] #66685 closed

[2019-11-24 04:17] popzxc opened #66687 "`rustc` doesn't produce warning on unused `mut` if value is taken by reference."
Currently, if function takes a mutable argument, but the mutability is not required by the function body, `rustc` procudes a warning: "warning: variable does not need to be mutable".

However, if argument is taken by a mutable reference, the warning is not produced.

Here's example on the playground: [link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1b454d8566039c0813f

[2019-11-24 05:34] #61577 closed

[2019-11-24 05:34] #54016 closed

[2019-11-24 05:34] #66127 closed

[2019-11-24 07:33] dtolnay opened #66688 "Running rustfmt on rust-lang/rust codebase"
Filing this to track https://internals.rust-lang.org/t/running-rustfmt-on-rust-lang-rust-and-other-rust-lang-repositories/8732 in a way that doesn't get locked every 90 days, since I believe we all still want this to happen.

[2019-11-24 08:12] RalfJung commented on #66136
Right now I think the official ruling is that you must go through `UnsafeCell::get`.

Stacked Borrows says that `&atomic as *const AtomicI32 as *mut i32` is fine. The "`&T`-to-`*const T`" cast has a special exception for `UnsafeCell` (in fact, that is under the hood what makes `UnsafeCell::get` work). But Stacked Borrows is an experiment and not normative.

[2019-11-24 09:42] RalfJung opened #66689 "core::panicking module docs are outdated"
The module docs at the top of https://github.com/rust-lang/rust/blob/e41ced3f8d8e2f3f377ef931458e612d5f3d1f3f/src/libcore/panicking.rs seem outdated: they mention `fn panic_impl(fmt: fmt::Arguments, file_line_col: &(&'static str, u32, u32)) -> !` as the signature for the panic_impl, but the actual signature at the bottom of the same file is `fn panic_impl(pi: &PanicInfo<'_>) -> !`.

The comment al

[2019-11-24 09:56] bjorn3 opened #66690 "Test variadic fnptr uses incompatible definition and declaration"
https://github.com/rust-lang/rust/blob/e41ced3f8d8e2f3f377ef931458e612d5f3d1f3f/src/libcore/tests/ptr.rs#L253-L269

This causes a crash when trying to test libcore with cg_clif, as Cranelift doesn't allow incompatible definitions of the same function. While this currently works for cg_llvm, according to https://github.com/rust-lang/unsafe-code-guidelines/issues/198 it is likely to become forbidden

[2019-11-24 10:08] bjorn3 opened #66692 "Atomic tests in libcore/tests don't test atomicity"
https://github.com/rust-lang/rust/blob/e41ced3f8d8e2f3f377ef931458e612d5f3d1f3f/src/libcore/tests/atomic.rs

They are all single threaded.

[2019-11-24 10:18] RalfJung opened #66693 "const_panic: ICE on non-&str panic payload"
The panic payload of the `std::panic!` macro (as passed on to `begin_panic`) is generic, but the CTFE panic support assumes it will always be an `&str`. This leads to ICEs:
[code]

Cc @oli-obk

[2019-11-24 10:38] AndreaCatania commented on #57166
Hope that this will be improved soon considering the broad use of `Option` and the related functions `unwrap`, `expect`, `...`

[2019-11-24 10:49] mhristache commented on #66685
I don't question the fact that print shouldn't work in this case.
The strange thing for me is that there seems to be some check that gets triggered if I try to print the slice in main() but not if the println! statement is added to a wrapper function, e.g. this doesn't compile (expected):

[code]

[code]

[2019-11-24 10:52] #53268 closed

[2019-11-24 11:07] Andlon commented on #65934
@lqd: thanks for the tip, that sounds like an excellent idea!

So far I've spent hours gradually reducing the test case in the spirit of @pnkfelix's suggestions. That is, I copied the whole git repository, and removed piece by piece while making commits after verifying that the code still exhibits the ICEs. It has taken some time since I keep having to completely rebuild `nalgebra`. However, after

[2019-11-24 11:14] pustaczek opened #66695 "Broken MIR after compiler update when indexing statics with async values"
I have some code which asynchronously computes an integer, and selects an item from a static slice in the same expression. This used to work (it does on stable), but after a nightly update the compiler ICEs when computing generator layout.

The bug stops reproducing if I change the static to a local variable, or extract the index into a separate variable.

[code]

[code]

*rustc 1.41.0-nightly (0c

[2019-11-24 11:40] SethDusek opened #66696 "ICE when transmuting to extern "rust-call" fn()"
Hi, I appear to have found this ICE that only occurs on nightly. Reproducing it is as simple as the below example:

[code]

[2019-11-24 11:48] jonas-schievink commented on #66696
Backtrace:

[code]

[2019-11-24 11:50] jonas-schievink commented on #66687
The lint only warns for unnecessary `mut` bindings, not mutability in the type of any variables. Clippy has a lint for this though: https://rust-lang.github.io/rust-clippy/master/index.html#unnecessary_mut_passed

As such, closing.

[2019-11-24 11:50] #66687 closed

[2019-11-24 12:04] popzxc commented on #66687
The linked lint is not really related: it warns about `&mut` reference passed to the place where immutable reference is enough. In the code I've pointed, it's in the signature of the function (and not required).

[2019-11-24 12:16] jonas-schievink commented on #66687
Ah, you're right. I thought clippy also had a lint for that, but it doesn't look like it. It still seems like Clippy is a good place to prototype this sort of lint.

[2019-11-24 12:16] popzxc commented on #66687
Sure.

[2019-11-24 13:02] petrochenkov commented on #66550
Fixed in https://github.com/rust-lang/rust/pull/66697.

[2019-11-24 13:28] Shnatsel opened #66699 "Document that casting &mut T to &mut MaybeUninit<T> is not safe"
[As discussed on Reddit](https://www.reddit.com/r/rust/comments/e0pivs/psa_casting_from_mut_t_to_mut_maybeuninitt_is_not/), it turns out that casting `&mut T` to `&mut MaybeUninit<T>` is not a safe operation, since it allows UB in safe code.

Playground example demonstrating the UB: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=93dd41cf851bfc0de2233e0a83b4b778

It is prob

[2019-11-24 13:32] ebkalderon commented on #44434
Also, I have a tangential question not related to this, but might be raised as a result of introducing this feature: is there any way in the standard library to check whether a given `std::process::Stdio` is set to inherit, piped, or null? If we add the ability to extract these fields from the `Command` builder, I think it makes sense to add the ability to inspect the values at run-time as well.

[2019-11-24 13:32] ebkalderon commented on #44434
Also, I have a tangential question not related to this issue, but might be raised as a result of introducing this feature: is there any way in the standard library to check whether a given `std::process::Stdio` is set to inherit, piped, or null? If we add the ability to extract these fields from the `Command` builder, I think it makes sense to add the ability to inspect the values at run-time as w

[2019-11-24 13:47] smj389 opened #66701 "aarch-pc-windows-msvc should support hardware floating point by default."
When I cross-compile a project to aarch64-pc-windows-msvc using an x64-pc-windows-msvc toolchain, the output uses software floating point. I am building using this command

`cargo build --target aarch64-pc-windows-msvc --release`

I am on the latest nightly.

When I add target-feature=+fp-armv8, I get hardware floating point.

According to the [Microsoft Documentation](https://docs.microsoft.com/e

[2019-11-24 14:04] jannickj commented on #66699
In the example you are already required to wrap the code in `unsafe` so I am curious why it's necessary to state explicitly for `MaybeUninit<T>`? transmute is unsafe for most types not just `MaybeUninit`.

[2019-11-24 14:18] DutchGhost opened #66702 "Labeled break in async fn ICE's"
The following code ICE's on stable, beta and nightly:
[code]

<details>
<summary>Backtrace:</summary>

[code]

</details>

[2019-11-24 15:14] vorner commented on #60728
It's been a while since I wrote it, so I went back to have a look. I think it is slightly different than how you describe it. If I read through it correctly, there are three kinds of weak pointer values:

* Fully valid ones, pointing to RcBox with `strong_count() > 0`.
* Dead ones, pointing to RcBox, but with `strong_count() = 0`. They've run the destructor on the `T`, but the RcBox is still there

[2019-11-24 15:20] pitdicker commented on #66136
@RalfJung Thank you, that makes sense.

I wonder if it would be useful to add a small `as_mut_ptr` method to the `Atomic*` types to do just this, as I see this pattern at least in the standard library, `parking_lot`, and an experimental crate I am working on. They all go the direct route without the `UnsafeCell` at the moment. I'll make a PR and see how it turns out.

[2019-11-24 15:40] jonas-schievink commented on #65774
#61812 will currently reject this trait due to the unfulfilled trait bound. I've added a test.

[2019-11-24 16:00] WildCryptoFox commented on #65934
@Andlon Removing the registry or `Cargo.lock` may have caused versions of dependencies to have changed. The bisecting may need to involve dependencies... Glad to hear you're out of the ICEy waters.. though it would help if we knew what happened. :confused:

[2019-11-24 16:20] Andlon commented on #65934
@WildCryptoFox: `Cargo.lock` was at least checked in during the whole time.

Unfortunately, I don't think I'm out of the waters yet - in fact, I expect it to come back, as I had the same issue a few days ago. Then I upgraded from 1.38 to 1.39, and I thought at first that this fixed my problems, but they reappeared later in the day. So unfortunately I expect it to come back again.

[2019-11-24 16:27] CAD97 commented on #60728
Ah, I admit, I read the code wrong.

Ok, I agree returning `null` for "fake" weak pointers is probably the correct sentinel. (The use of `usize::MAX` as a sentinel for the inner pointer only works because the `RcBox`/`ArcInner` has `align(usize) > 1`, but the `T` doesn't have that guarantee, so `usize::MAX` is a _theoretically_ valid pointer. I think a `T` pointer within an `RcBox`/`ArcInner` is g

[2019-11-24 16:37] DutchGhost opened #66706 "Closure type error during const-eval (array len context)"
The following code ICE's on stable, beta and nightly
[code]

<details>
<summary>Backtrace:</summary>

[code]
 </details>

[2019-11-24 16:43] Kixunil commented on #62529
Heh, I just thought I can have ATC in Rust already. I have [an example](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=affcd089fbc1139e5923b32626242645) which doesn't work even when called through another generic function (unlike #52812 ).

[2019-11-24 16:47] pickfire commented on #64796
Can anyone please help to write up the mentoring instructions. Based on what I know, this should be similar to https://github.com/rust-lang/rust/issues/64797#issuecomment-540350338

I believed step 1 and 2 should be the same. For step 3, based on what I know requires me to modify somewhere around https://github.com/rust-lang/rust/blob/b56b23988de532744fd05301f87c329b612700e3/src/libsyntax/attr/bui

[2019-11-24 16:48] DutchGhost commented on #66706
@jonas-schievink , I experimented a little further. Generators are not needed anymore, so that label can be removed :)

[2019-11-24 17:06] DutchGhost commented on #66706
Another version of this is:

[code]

[2019-11-24 17:18] matthewjasper opened #66708 "Decide the precise rules for operand of &raw [const|mut]"
#66671 implements a check on the operand of `&raw [const|mut]` to ensure that it's not a temporary. It's similar to the check used for the left-hand operand of `=`, but it only allows field and index projections when they are based on a place expression, or it there is at least one deref adjustment involved.

It's possible that we want to restrict this to "at least one deref adjustment from a refe

[2019-11-24 17:22] Kixunil commented on #66699
@jannickj if you try to write a safe wrapper around `MaybeUninit<T>`, then the fact that `T` can be soundly transmuted into `MaybeUninit<T>` does not mean that you can transmute `&mut T` into `&mut MaybeUninit<T>` and expose the resulting reference to safe code. That's something easily overlooked.

FWIW, there's at least one [crate](https://docs.rs/uninit/0.1.0/uninit/trait.AsUninitSliceMut.html)

[2019-11-24 17:25] sdroege opened #66709 "std::future: Document that each Future (Stream, etc) must only be used by one task at a time"
See https://github.com/snapview/tokio-tungstenite/pull/68#issuecomment-557907777 for context.

I couldn't find anything in the docs about this (maybe I just missed it), but current futures executors / async runtimes only allow remembering one waker per future/etc. So if you use the same in multiple tasks, one of the tasks would potentially never be woken up.

Allowing only one makes sense for perf

[2019-11-24 17:26] #66126 closed

[2019-11-24 17:37] danielhenrymantilla commented on #66699
@Kixunil yes, thanks for the e-mail, I've been quite busy lately so I have not had much time to address this (or answer the e-mail 😉), but I'll try to have it fixed by tomorrow, with the previous versions being yanked (and the repo being published).

___

So, to summarize the issue, it turns out that `&'a mut MaybeUninit<T>` is far stronger than an `OutRef<'a, T>`, since it allows writing garbage.

[2019-11-24 17:50] oli-obk commented on #66693
I guess we could support this, but we'd have to find some way to render the errors. Maybe we need to wait for const traits so we can require const Debug?

[2019-11-24 18:11] vorner commented on #60728
I've tried updating the docs, I hope it's for the better.

It's not the problem with null pointers per se, because `Weak::new` exists for `Sized` types only too. It's simply illegal to put `null` pointer into `into_raw` for unsized type for that reason. However the sized implementation needs to check for `null` equality. It would be fine if this turned out to be `false` every time for unsized type