[2017-03-15 17:37] carllerche opened #40551 "A recent change to beta & nightly channels broke the tokio-core build"
I just noticed that tokio-core builds started to fail on Travis when using the beta and nightly channels. We are going to change our code to fix it, but I wanted to report the regression:

The build: https://travis-ci.org/tokio-rs/tokio-core/jobs/211426672

The function:

[code]

The error:

[code]

[2017-03-15 17:48] mati865 commented on #40546
I've met it few times with MSYS2 and (almost?) always it was caused by CL RF line endings or too long paths or file names.
When compiling Rust from git I found there are files that windows explorer cannot remove since they are too long. Unfortunately I don't have list as I used MSYS2 `rm -rf *` to clean those files.

[2017-03-15 17:48] Twey commented on #21903
Workaround: if you're using an associated type on the type parameter, you can replace `type T<U: Bound> = V<U::Assoc>` with `type T<U> = V<<U as Bound>::Assoc>`, which avoids this warning until there's a way to disable it.

(Interestingly, even `#[allow(warnings)]` fails to disable this warning.)

[2017-03-15 17:49] lnicola commented on #40460
@mzji I think VS loads the PDB, but in VS Code I had to change the launch configuration to run the executable from the `deps` folder (with the PDB next to it). I would have expected WinDbg to behave just like VS does, though.

[2017-03-15 17:54] RReverser commented on #21903
Yeah, was exactly my problem. Thanks for the workaround, I'll give it a try!

[2017-03-15 18:20] mzji commented on #40460
@lnicola Then I think we should at least leave a copy in the directory of binaries, since different debuggers have different behavior (VS will find and load pdb files automatically, Ollydbg/x64dbg and all debuggers only using `DBGHELP` won't).

[2017-03-15 18:30] mzji opened #40552 "Enable --remap-path-prefix for absolute paths by default"
According to #40374 , a part of private information is leaked by the path string living in the compiled binaries. To protect privacy and help debugging, I think we can let rustc to mangle the path. Here is my solution:

Basically, we can hide the 'insignificant' part of the path (which usually contains some private and/or unrelated info), leave 'significant' part untouched. Then what is the 'signi

[2017-03-15 18:43] codec-abc commented on #40460
Back to the original issues, the most 2 annoying things that happen when I try to debug Servo is that:

- Breakpoints are hit multiple times per line in some cases.
- Enums values are not understood in the "local" inspector. This is annoying since most Rust code use heavily Option and Result.

[2017-03-15 18:47] alexcrichton commented on #40551
My guess is that this is fallout from https://github.com/rust-lang/rust/pull/40319 in order to fix the soundness hole exposed by https://github.com/rust-lang/rust/issues/40288.

This was not detected in the crater run on https://github.com/rust-lang/rust/pull/40319 because this code wasn't published on crates.io yet (it was just in git).

@rust-lang/compiler can you confirm though? If it's somethi

[2017-03-15 18:49] jonathandturner commented on #40460
@codec-abc - by chance, have you tried using the natvis from this PR to see if it helps with your second bullet point?  https://github.com/rust-lang/rust/pull/39843

I've been chatting with the author and would like to potentially make it part of the pdb at some point.

[2017-03-15 18:52] codec-abc commented on #40460
I used the one in the [opening message of the issue](https://github.com/jonathandturner/rust_natvis). So there are probably different.

[2017-03-15 18:54] jonathandturner commented on #40460
@codec-abc - yeah, the one in the PR is much better than mine, with support for more common Rust std lib structures.

[2017-03-15 18:54] neuronsguy commented on #38078
So, is @eddyb's fix for this being developed openly somewhere it's possible to track progress (or help?)  This issue is causing me some frustration, so I'd love to know what I could do to help resolve it.

[2017-03-15 19:01] arthurprs opened #40553 "LLVM memcpyopt"
I can't open issues on rust-lang/llvm so I decided to open it here.

This llvm bug https://bugs.llvm.org//show_bug.cgi?id=28958#c5 and review https://reviews.llvm.org/D23470 looks abandoned even if the results looked surprisingly good.

I understand the reasons not to merge in llvm upstream but given the results on rustc alone it's probably worth merging it into rust-lang/llvm fork. It's small eno

[2017-03-15 19:25] cramertj commented on #32409
Just to clarify with everyone: `super` is a path, so both `pub(super)` and `pub(in super)` are valid?

[2017-03-15 19:44] TimNN opened #40555 "compile-fail/asm-src-loc.rs fails on ARM when compiled without optimizations"
(Cross) compiling this test for `arm-unknown-linux-gnueabihf` fails because the error span is missing. (Reproduced on `nightly-2017-03-04`)

[code]

Output of `rustc --target=arm-unknown-linux-gnueabihf -Copt-level=0`:

[code]

Output of `rustc --target=arm-unknown-linux-gnueabihf -Copt-level=1`:

[code]

[2017-03-15 19:49] nrc commented on #37339
Approved for FCP - it seems from comments here that people are using this, so that satisfies my desire for some usage, and this reminder from @aturon is useful too:

[2017-03-15 19:53] withoutboats commented on #32409
Yes

[2017-03-15 19:58] nagisa commented on #40553
The PR wasn’t complete and the author concluded it would be easier to do the same within rustc, which we do now.

[2017-03-15 20:01] ArtemGr commented on #37339
Am definitely using it.

[2017-03-15 20:11] nikomatsakis commented on #40551
@alexcrichton I agree with your diagnosis that this the most likely cause, though it's hard to say **for sure**

[2017-03-15 20:18] arielb1 commented on #40551
Looks like #40319.

[2017-03-15 20:25] arielb1 commented on #40551
Looks like an NLL problem:

[code]

If you invalidated `buf` between the 2 lines, that would have caused trouble.

You should be able to fix it by placing the borrow within its own scope:
[code]

[2017-03-15 21:01] nagisa commented on #40553
https://github.com/rust-lang/rust/pull/36388

[2017-03-15 21:05] arthurprs commented on #40553
Very interesting, thank you.

[2017-03-15 21:05] #40553 closed

[2017-03-15 21:18] jmesmon commented on #40552
Related to #38322 & #39130 (which are for debuginfo). Likely makes sense to use the same mapping mechanism for filenames in strings too.

[2017-03-15 21:24] steveklabnik commented on #39262
Triage: given that this is in the old book, marking as P-low

@pnkfelix regarding your last comment, https://doc.rust-lang.org/nightly/unstable-book/allocator.html

[2017-03-15 21:26] steveklabnik commented on #39295
Docs team triage: p-medium. Not totally sure where exactly this should go, but seems good.

[2017-03-15 21:28] steveklabnik commented on #39588
Docs team triage: p-medium. https://github.com/rust-lang/rust/pull/40332 and cargo work outstanding.

[2017-03-15 21:30] steveklabnik commented on #39625
docs team triage: p-medium, still need to sort out the exact details, thanks for the above comment @nagisa

[2017-03-15 21:31] steveklabnik commented on #39688
https://github.com/rust-lang/rust/pull/40226 was merged, closing!

[2017-03-15 21:31] #39688 closed

[2017-03-15 21:35] steveklabnik commented on #39187
Doc team triage: this is on purpose. It's suboptimal, but expected behavior. We'll talk about it at a future docs team meeting, tagging p-medium.

[2017-03-15 21:36] steveklabnik commented on #38888
tagging p-high, @frewsxcv is gonna take this one. Not a big thing, but we'll knock it out soon.

[2017-03-15 21:37] mzji commented on #40552
We may need to record path mappings in a file if we want to process paths in debug information too.

[2017-03-15 21:38] steveklabnik commented on #39897
docs team triage: tagging p-medium

[2017-03-15 21:40] steveklabnik commented on #39949
Docs team triage: adding p-medium for option 2.

[2017-03-15 21:42] steveklabnik commented on #38831
Doc team triage: tagging as p-low because this is for an unstable feature

[2017-03-15 21:43] steveklabnik commented on #40079
doc team triage: p-medium, still need to come up with a plan.

[2017-03-15 21:45] steveklabnik commented on #40096
Triage: this is already documented, closing!

[2017-03-15 21:45] #40096 closed

[2017-03-15 21:47] steveklabnik commented on #40118
doc team triage: this would make a great first PR. I am happy to mentor anyone who wants to tackle this issue.

[2017-03-15 21:48] steveklabnik commented on #40159
docs team triage: second @durka 's question, @nagisa , that's what you're referring to?

[2017-03-15 21:49] steveklabnik commented on #40176
docs team triage: @GuillaumeGomez is gonna take this one

[2017-03-15 21:50] steveklabnik commented on #40203
doc team triage: p-medium

[2017-03-15 21:51] steveklabnik commented on #40306
docs team triage: p-medium

[2017-03-15 21:52] steveklabnik commented on #40322
triage: p-medium. putting it on the next doc team agenda

[2017-03-15 21:54] steveklabnik commented on #36073
doc team triage: p-medium

[2017-03-15 21:55] alexcrichton commented on #40551
Ah yes and to be clear this has been [fixed and published](https://github.com/tokio-rs/tokio-core/commit/8c1838e0934d1b7f0675fb4fa62eb3898f4f6ec7) in the style @arielb1 mentioned.

If this is classified as an acceptable regression (e.g. just a soundness fix) please feel free to close!

[2017-03-15 21:57] nagisa commented on #40159
That’s the only way to construct a path with arbitrary number of components in a single statement without reallocating for every component that I could find. The other approach is to use `Path::join`, which will allocate a new `PathBuf` every time it is called, and therefore is to be avoided for this purpose. `PathBuf::push` needs a statement for each component.

[2017-03-15 22:03] steveklabnik commented on #40087
moved https://github.com/rust-lang-nursery/reference/issues/15

[2017-03-15 22:03] #40087 closed

[2017-03-15 22:03] nrc opened #40557 "Some debuginfo-gdb tests failing"
On Linux, Ubuntu 16.10, GDB v7.11.90. The following tests fail:

[code]

Seems to be an issue with output formatting/pretty printing, e.g.,

[code]

This appears to be a regression - the same machine was passing tests last week (or maybe the week before).

cc @michaelwoerister

[2017-03-15 22:04] nrc commented on #40557
cc #40184 which looks similar-ish (I'm 99% sure I haven't changed my GDB install since these tests passed for me though).

[2017-03-15 22:06] petrochenkov commented on #32836
@pnkfelix
What I assumed is just to stop requiring `#[feature(untagged_unions)]` for this subset, no new features or other bureaucracy.
FFI-style unions are supposed to be the most often used kind of unions, so a new feature would mean guaranteed breakage just before stabilization, which, I presume, would be annoying.

[2017-03-15 22:08] steveklabnik commented on #39187
Oh, wait. @Manishearth says that this ticket is not "why are there no docs" but "this flag no longer works". Sorry! That is not good.

[2017-03-15 22:11] retep998 commented on #32836
I'd just like to note that because alignment and packing attributes haven't been implemented yet (nevermind stabilized), I don't really have a strong need for this to be stabilized yet.

[2017-03-15 22:18] steveklabnik commented on #36318
@gnzlbg : coming back to this thread after a long time, a bit tough to catch up.

So, last time I chatted with @rust-lang/libs about something like this, they basically said "we'll take it case by case". So, I think the right move here would be to make one PR per guarantee, and we get libs to sign off on it. No RFC needed.

Thoughts, libs team?

[2017-03-15 22:24] projektir opened #40560 "rustdoc: should expect and interpret valid Markdown"
rustdoc currently expects all Markdown files to start with the `%` symbol, turning that line into an `<h1>` heading with the corresponding title. The `%` symbol is not part of Markdown, and this notation seems unnecessary.

Instead, rustdoc should be able to read `#`, `##`, and so on, as expected, turning them into `<h1>`, `<h2>`, respectively, and then correctly numbering the child headings. The

[2017-03-15 22:31] steveklabnik commented on #40560
I don't know why I want to say @cmr may, but maybe?

[2017-03-15 22:33] oberien commented on #40062
What do you think about adding `remove_swap_item`? Just as `remove_swap` reduces the runtime complexity from O(n) to O(1) compared to `remove`, `remove_swap_item` would reduce it from O(2n) to O(n).

[2017-03-15 22:37] petrochenkov commented on #32836
@retep998
Packing? If you mean `#[repr(packed)]` then it's supported on unions right now (unlike `align(>1)` attributes).

[2017-03-15 23:03] retep998 commented on #32836
@petrochenkov `#[repr(packed(N))]`. Packing other than 1 is needed quite a bit in winapi. It's not that I need these things supported on unions specifically, I just don't want to jump to a new major version to increase my minimum Rust requirement unless I can get all of those things at the same time.

[2017-03-15 23:30] durka commented on #40159
Yeah let's put an example in the `Path` and `PathBuf` docs. `p.join("x").join("y").join("z")` sounds like a candidate for a Clippy lint.

[2017-03-15 23:40] clarcharr commented on #40062
I like `swap_remove_item`.

[2017-03-16 02:40] wesleywiser commented on #40473
Is this just a matter of preventing the inliner from inlining trait default methods?

[2017-03-16 03:48] mark-i-m commented on #36318
I'm guessing the motivation is simplifying the effort? or is there another reason?

[2017-03-16 04:32] ishitatsuyuki commented on #40474
Travis uses GCE and I suppose Google won't have problems with their high quality networking, so I guess this is some kind of anti-DDoS triggered. One way is to mirror, and another way is to force them into build cache.

Psst... using Google Cloud Storage will make the transfers completely inside Google's Cloud and potentially decreases: latency, errors, and egress bill.

[2017-03-16 04:52] bstrie commented on #36963
I'd like to see some light benchmarks to get an idea of the magnitude of the default performance regression we can expect.

[2017-03-16 04:56] SergioBenitez opened #40568 "rustdoc bug rendering constant section"
This is a reopening of #40370, which is still not entirely fixed:

![screen shot 2017-03-15 at 9 53 57 pm](https://cloud.githubusercontent.com/assets/1480321/23982310/01077660-09ca-11e7-96ee-bd814df03826.png)

The type is `ContentType` without the `AngleBracketed { lifetimes: [], types: [], bindings: [] }`.

@GuillaumeGomez, @frewsxcv

[2017-03-16 05:49] TimNN commented on #40557
@nrc: Could you post a bit more of the logs? I'm especially interested in the gdb version conpiletest detected and if it thinks that gdb has native rust support (frome the line not found error above, it probaly thinks it does).

[2017-03-16 08:13] gnzlbg commented on #36318
That's reasonable, I can send pull-requests for the individual guarantees. The only thing to be careful about is the order of these pull-request, since lots of guarantees build on-top of each other.

[2017-03-16 09:31] beamspease commented on #29642
Just found this ticket as serde's main documentation says to use it...
https://serde.rs/enum-representations.html

[2017-03-16 13:42] sgrif opened #40569 "`macro_rules!` thinks `use` is an `ident`. It isn't."
This code should fail to compile, giving the same error message as `fn use()` would give, but it compiles successfully.

[code]

This code should compile successfully. However, it fails complaining that it can't decide whether `use` is an ident or not (hint: it isn't). It also shouldn't be trying to match `use` as an ident because of the semicolon, but that's a broader/deeper issue with `macro_rul

[2017-03-16 13:47] GuillaumeGomez commented on #40568
This const thing will drive me crazy. :-/

Checking what's wrong.

[2017-03-16 14:04] Mark-Simulacrum commented on #40240
Looking at the two lines above, there's `Stdio::piped()`, which implies that during process creation we're opening the stdout and stderr file descriptors as pipes, which may be the cause of these problems. Not sure if that's the case though.

[2017-03-16 14:05] alexcrichton opened #40571 "OSX builders are spuriously timing out again"
[Last time](https://github.com/rust-lang/rust/issues/40061) it was on Travis's side. I've pinged them, we'll see what happens.

[2017-03-16 14:06] petrochenkov commented on #40569
`ident` matcher accepts keywords (and also reserved keywords) by design (see very similar issue about `self` - https://github.com/rust-lang/rust/issues/27899#issuecomment-211602385 cc @nrc).

[2017-03-16 14:09] alexcrichton commented on #40571
Travis is taking a look

[2017-03-16 14:11] sgrif commented on #40569
From that issue:

The second case is a very concrete benefit from that restriction. :smile:

[2017-03-16 14:24] sgrif opened #40572 "Rust allows function argument names to shadow unit structs imported in function body"
Assume that `foo::bar` is a unit struct in all these examples. This fails to compile:

[code]

As does this:

[code]

However, this compiles successfully:

[code]

It probably shouldn't. The local variable `bar` can never be accessed for the same reason as the first two. This has led to some confusion by users of Diesel, when they tried to write code like the following:

[code]

However, `users::e

[2017-03-16 14:48] Xaeroxe opened #40573 "Current beta breaks my build that works on stable"
Current beta compiler is segfaulting when attempting to build my project that previously worked on stable: https://travis-ci.org/Xaeroxe/nitro-game-engine/builds/211212522

[2017-03-16 14:52] Xaeroxe commented on #40573
It's also worth noting: This only happens on Linux and OSX.  My Windows build works fine still.

[2017-03-16 14:53] Xaeroxe commented on #40573
Same commit on AppVeyor: https://ci.appveyor.com/project/Xaeroxe/nitro-game-engine/build/1.0.45

[2017-03-16 14:54] vityafx opened #40574 "Unable to see derive attributes anymore"
I have made a procedural macro which implements a trait with some functions for a enums. This the whole code:

[code]

This code worked perfectly like 2 weeks ago but now I have tried to compile it and it can't find any attribute on this struct! As you can see, I try to see what derives does the enum have but now this list is empty! What happened?

Original issue was posted [here](https://github.c

[2017-03-16 14:56] arielb1 commented on #40572
The problem is that the *unit struct* is shadowing the function argument, not the other way around.

[2017-03-16 15:04] alexcrichton commented on #40571
Travis has uncovered nothing of note

[2017-03-16 15:11] sgrif commented on #40569
It looks like repeaters can pretty easily confuse `macro_rules!` even in more ridiculous cases. e.g.

[code]

causes it to complain that it doesn't know if `#` is supposed to be an ident or not

[2017-03-16 15:17] sgrif commented on #40574
Just to pile on, I also was planning to take advantage of the ability to see other derives, which was possible when the feature was stabilized. https://github.com/rust-lang/rust/pull/39572#issuecomment-277559539 seems like a much more flexible (and backwards compatible) solution.

[2017-03-16 15:18] Kimundi commented on #32822
@37761 Seem to have only added the change to core, not to std. Was this intentional?

[2017-03-16 15:28] alexcrichton commented on #40571
(most recent message)

[2017-03-16 15:29] christophebiocca commented on #32822
`libcollections` does not have the change and that was an oversight on my part. Is that what you mean?

[2017-03-16 15:34] alexcrichton opened #40577 "Travis: Add a tool to print timestamp in front of log messages"
Often when debugging travis logs it's difficult to see how long everything is taking as we only time some steps, not all. Additionally there's not a lot of information to see how long it takes between steps.

It'd be awesome if we had a tool where we basically wrapped the entire build (`src/ci/run.sh`) in a process that simply prepended all stdout/stderr messages with a relative timestamp. AppVeyo

[2017-03-16 15:56] nagisa commented on #40573
Stack overflow building MIR. Looking into it more.

[2017-03-16 16:06] Xaeroxe commented on #40573
This project is pretty reliant on generics and auto-generated code so I'm not entirely surprised that's the cause.

[2017-03-16 16:40] Fishrock123 commented on #38805
@CryZe Oops! Must have copied that wrong, fixed. :)

@eholk Right, saw that repo. Got at least some Rust running yesterday without the emscripten wrapper. :D

[2017-03-16 16:44] nagisa commented on #40573
Does not reproduce on a nightly build of my own, but reproduces just fine on the most recent nightly from bots. Ugh!

That does suggest some stupid decisions being made by the optimiser. I feel like at this point just marking a bunch of functions in mir build no-inline would fix a lot of our problems wrt this.

---

The workaround is to set `RUST_MIN_STACK` environment variable to some large value

[2017-03-16 16:48] durka commented on #40569
The repetition thing is because `macro_rules` just doesn't attempt any backtracking. It's obviously not backwards compatible to change the definition of `ident` now...

[2017-03-16 16:50] nagisa commented on #40573
To compare, my local build easily handles 3000 frames on *8MiB* stack, whereas with our binary distribution builds there’s approx 500 stack frames on a *16MiB* stack.

(8MiB here is comparison point because that’s what overflow stacks locally for me as well)

[2017-03-16 16:52] nikomatsakis commented on #40334
PRs from @cramertj:

- https://github.com/rust-lang-nursery/reference/pull/12
- https://github.com/rust-lang/rust-by-example/pull/856

[2017-03-16 16:59] nikomatsakis commented on #40551
Looks correct to me, thanks @arielb1 for looking in depth.

[2017-03-16 16:59] #40551 closed

[2017-03-16 16:59] Xaeroxe commented on #40573
Well thanks for the workaround.  Evidently I didn't report this fast enough, so my bad there.

[2017-03-16 17:09] brson commented on #37499
We should consider backporting to 1.17.

[2017-03-16 17:25] sfackler commented on #38863
@rfcbot fcp merge

[2017-03-16 17:27] nikomatsakis commented on #38078
I think he wound up taking another approach. I'm not sure what's the shortest path here just now.

[2017-03-16 17:29] nikomatsakis commented on #28237
Nominating for @rust-lang/rust discussion. I think we should just adopt `..=` and call it a day. Do we need an amended RFC? Just do it? Does this involve deprecating the existing `...` syntax in patterns? (I assume so.)

[2017-03-16 17:45] solson commented on #28237
I'm strongly in favor of not using `...` for ranges. I don't know if it has been mentioned in this thread or the RFC thread already, but in addition to `...` being unreasonably similar-looking to `..`, we may also want to use `...` in the future for variadic generics, which are much more important than inclusive ranges IMO.

[2017-03-16 17:49] solson commented on #28237
This seems like a good idea. Warn on `...` and support both `..` and `..=` in patterns if we can.

[2017-03-16 17:50] nikomatsakis commented on #40543
I'm not sure -- precisely what conditions would trigger the warning? I agree there is a subtle footgun at play here, if you don't understand the rules.

[2017-03-16 17:52] steveklabnik commented on #28237
I am strongly in favor of `...` because it is more "usual" syntax; I don't know of any language that uses `..=`, but many that use `..` and `...`.

[2017-03-16 17:54] solson commented on #28237
If sentiment against `..=` is strong, I would prefer to go with no inclusive range syntax (instead opting for an `(a..b).inclusive()` method, which seems concise enough to me) to avoid the visual problem and again free up `...` for variadic generics.

[2017-03-16 17:56] joshtriplett commented on #28237
@steveklabnik Apologies if this is already mentioned somewhere in this (very long) thread, but: what other languages use *both* `..` and `...` for exclusive and inclusive ranges, respectively?

Rust has a history of adopting useful features and syntax from other languages, but *selectively*, and rejecting or adapting things where appropriate.

[2017-03-16 17:58] solson commented on #28237
@joshtriplett Ruby uses both, but with opposite meanings (`..` is inclusive, `...` is exclusive). I don't believe it was a good idea in Ruby, and it seems even more potentially confusing for us to have both, but backwards.

[2017-03-16 18:10] steveklabnik commented on #28237
@joshtriplett the one I'm most familiar with is Ruby; I thought it got it from Perl but I'm not entirely sure. I'm more okay with the semantics being backwards from Ruby than I am with `..=`.

Honestly, I would prefer a stable inclusive range syntax over anything else, and recognize that my intense dislike of `..=` is a personal thing, that reasonable people may disagree on.

[2017-03-16 18:12] nikomatsakis commented on #36889
This seems like a good first bug. I wrote up some directions and posted them to forge for converting compatibility lints into hard errors. The descriptions probably haven't landed yet, but here is the PR:

https://github.com/rust-lang-nursery/rust-forge/pull/48

Marking a E-easy and E-mentor, the directions are in that PR. =)

[2017-03-16 18:14] nikomatsakis commented on #35626
Stabilization is a great place for a first PR. There are directions available on the forge:

https://forge.rust-lang.org/stabilization-guide.html

Marking this as E-easy and E-mentor.

[2017-03-16 18:16] nikomatsakis commented on #35626
Ah, an important question -- has this been documented? If so, we ought to do that first.

[2017-03-16 18:17] nikomatsakis commented on #37406
Stabilization is a great place for a first PR. There are directions available on the forge:

https://forge.rust-lang.org/stabilization-guide.html

However, @alexcrichton -- are there docs available for this feature?

[2017-03-16 18:19] nikomatsakis commented on #28237
@steveklabnik Swift uses `..<`, I think, right? Which seems similar to `..=` but worse, in that it optimizes for (imo) the wrong case. =)

[2017-03-16 18:24] nikomatsakis commented on #38899
@bstrie

No, some things would still break.

[2017-03-16 18:27] nikomatsakis commented on #28144
I sort of think we should close this. It's kind of a complex question and I don't think having this bug is helpful really.

[2017-03-16 18:27] #28144 closed

[2017-03-16 18:27] nikomatsakis commented on #28143
I sort of think we should close this. It's kind of a complex question and I don't think having this bug is helpful really. Feel free to re-open.

[2017-03-16 18:27] #28143 closed

[2017-03-16 18:27] nikomatsakis commented on #28139
I think we can close this bug, the transition to HIR is effectively complete.

[2017-03-16 18:27] #28139 closed

[2017-03-16 18:29] Xaeroxe commented on #40573
So some notes: It seems I did this build in the middle of today's release.

Rust 1.15 - works
Rust 1.16 - works
Rust 1.17 - doesn't work

[2017-03-16 18:31] matklad commented on #40543
I think "calling a method exploiting interior mutability on `const`" is the right condition, but I don't think we can really check it because we don't know which  methods involve interior mutability.

[2017-03-16 18:34] sjackman opened #40579 "Reducing build time under 2 hours for CircleCI"
I'm hoping to compile `rust` from source on CircleCI to build precompiled binary bottles of `rust` for Linuxbrew. Compiling using 13 threads exceeds the 4 GB memory limit of CircleCI, and compiling with 12 threads exceeds the 2 hour time limit. Any thoughts on reducing the build time of rust? Here's the compilation script (called a formula in Homebrew parlance):
https://github.com/Linuxbrew/homebr

[2017-03-16 18:36] steveklabnik commented on #37406
I'm not aware of any.

[2017-03-16 18:37] steveklabnik commented on #35626
I do not believe so.

[2017-03-16 18:39] durka commented on #28237
Swift uses ..< for exclusive and ... for inclusive (their terms are
"half-open" and "closed").

I still like ..< (with .. as shorthand) and ..=.

On Thu, Mar 16, 2017 at 2:19 PM, Niko Matsakis <notifications@github.com>
wrote:

[2017-03-16 18:45] alexcrichton commented on #40579
Currently we run the full test suite on all PRs (including bootstrap) and this currenly [takes ~1hr](https://travis-ci.org/rust-lang/rust/builds/211613647). I'd recommend taking a look at that configuration to see how we configure the build and such.

In general we're always open for build time improvements, but we've currently implemented everywhing we can think of, so I'm going to close this (as

[2017-03-16 18:45] #40579 closed

[2017-03-16 18:56] sjackman commented on #40579
Thanks for your quick response, Alex, and the link to your Travis config. I'll take a look at it.

[2017-03-16 18:57] withoutboats commented on #28237
I wouldn't mind having an `inclusive` function in the prelude:

[code]

[2017-03-16 18:59] withoutboats commented on #28237
I've never felt symmetry with match is a compelling argument. I think we decided to add exclusive `..` patterns, but I dislike those also - a value in the pattern is now not matched by the pattern! Matching a range is fundamentally different from iterating through a range, there's no reason they have to be symmetric. I'd have a mild preference to not allow `..` in patterns if its still an option,

[2017-03-16 19:06] TimNN opened #40580 "[LLVM 4.0] Incomplete debuginfo for globals."
Issue: `gdb` shows globals as `<optimized out>` when a rust program is compiled with llvm 4.0.

Test program:

[code]

Compiling with rust + LLVM 4.0 produces [this IR](https://gist.github.com/19e3fe9b3f7e48ece09510fe1b2fb614), excerpts:

[code]

From looking at the clang 4.0 output of a similar program, I have determined that the static definition (excerpt line 1) is missing a `, !dbg !6`. The ad

[2017-03-16 19:06] Boscop commented on #28237
It's better to have an odd looking operator (every language introduces operators that others don't have, e.g. `..<` in Swift, all the ops in F# and Scala). People will have to read the Rust book anyway.
Considering that a lot of people are coming to Rust from Ruby, we shouldn't have it backwards compared to Ruby. (In addition to the argument that `...` increases the likelyhood of off by 1 errors.)

[2017-03-16 19:09] cengizIO commented on #40529
That sounds so much better.

[2017-03-16 19:16] durka commented on #28237
Extending range syntax in patterns is still an open question as well AFAIK.
For one thing, we can't fully do it, because `Enum::Variant(..)` is already
valid and changing it to mean `Enum::Variant(RangeFull)` would be breaking.

On Thu, Mar 16, 2017 at 3:07 PM, Boscop <notifications@github.com> wrote:

[2017-03-16 19:22] est31 commented on #40508
I'm not sure IF this kind of panic freedom should be a goal (after all, who wants unoptimized builds?), but if it is a goal, this change should be backported to the upcoming replacement of this crate, the pure rust compiler builtins: https://github.com/rust-lang-nursery/compiler-builtins

[2017-03-16 19:23] est31 commented on #40508
(with "this change" I mean #40521)

[2017-03-16 19:28] radix commented on #40149
@retep998 it's not just that, since I also see it for non-mod.rs cases.

[2017-03-16 19:32] cengizIO commented on #40529
Hello @alexcrichton!

(Moving the discussion into issue)

Yes, I know that musl is not directly supported. But I'm throwing ideas right now.

Instead of changing it to a shell (like I did), I think we can catch the error and report it with more context, like

Execution error:  /path/bin/cargo could not be run. Please check your _______
What do you think?

[2017-03-16 19:46] nagisa commented on #28237
So. I want to be able to type stuff like `slice.get(10...30)` and eat my cake too.

[2017-03-16 19:55] withoutboats commented on #28237
I've convinced myself that I strongly prefer `inclusive(0..10)` to any of the other syntaxes:

* While @nagisa wants to write `slice.get(10...30)`, I *don't* want to have to pay close attention to whether that's `slice.get(10...30)` or `slice.get(10..30)`. I think the closeness of the syntax is a real problem.
* I think that everyone agrees `..=` is unaesthetic and probably unintuitive.
* `(0..10)

[2017-03-16 20:08] ssokolow commented on #28237
I think saying that is a bit of an over-generalization. I find `..=` to be more aesthetic and intuitive than a method like `inclusive()` would be.

(Also, we don't know how much of the dislike for `..=` could be subconscious (or conscious) efforts to find problems with things which aren't `...`.)

[2017-03-16 20:12] Boscop commented on #28237
`.inclusive()` is too long for something that occurs so frequently (on that note, I also think there should be a shorter form for `.enumerate()`).
But even if we had `.inclusive()`, there should be only one function, not two.

[2017-03-16 20:14] arielb1 commented on #40493
1.17 is now beta

[2017-03-16 20:14] arielb1 commented on #40473
1.17 is now beta.

[2017-03-16 20:14] arielb1 commented on #40193
1.17 is now beta

[2017-03-16 20:15] arielb1 commented on #39984
1.17 is now beta.

[2017-03-16 20:27] Yamakaky commented on #39984
So, is this issue considered a regression or a WONTFIX?

[2017-03-16 20:28] alexcrichton commented on #40529
@cengizIO that sounds totally plausible to me!

[2017-03-16 20:29] nikomatsakis commented on #39318
I'm removing Nominated -- it's not clear that we want to actually enforce this rule. See the discussion on #40043

[2017-03-16 20:30] nikomatsakis commented on #40573
triage: P-high

[2017-03-16 20:34] nagisa commented on #40573
[stack traces for local rustc with approx 8MB of stack](https://gist.github.com/nagisa/2e527d063c6a4ab07f799faea4c97e19)
[prebuilt rustc with same 8MB of stack](https://gist.github.com/nagisa/f6b9c73e4402f35573ddc4472ecc01cd)

[2017-03-16 20:38] nikomatsakis commented on #36677
triage: P-medium

We discussed this in the @rust-lang/compiler meeting. The conclusion was that we ought to wait for LLVM 4.0 upgrade to fix it, which is apparently coming Real Soon Now (see #37609 for info).

[2017-03-16 20:45] nikomatsakis commented on #40493
**Probably** a duplicate of #40573

[2017-03-16 20:45] nikomatsakis commented on #40493
triage: P-high

[2017-03-16 20:46] dtolnay opened #40582 "Specialization and lifetime dispatch"
I see this briefly mentioned in #31844 but no existing issue tracking the incorrect behavior.

Something in the following code is unsound. It should not be possible to implement `make_static`.

[code]

[2017-03-16 20:47] dtolnay commented on #31844
I filed #40582 to track the lifetime-related soundness issue.

[2017-03-16 20:47] nikomatsakis commented on #40473
triage: P-medium

Marking this as medium because it requires you to opt-in to the higher "MIR opt level", which is unstable, but we should definitely fix this.

[2017-03-16 20:50] jseyfried commented on #40469
Fixed in #40583.

[2017-03-16 20:51] jooert commented on #28587
Triage: This doesn't assert anymore but gives a proper error while compiling (see https://is.gd/zIn5HT).

[2017-03-16 20:56] alexcrichton opened #40585 "Tracking issue for unstable sort in libcore"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1884

[2017-03-16 21:04] sjackman commented on #40579
@alexcrichton Can you tell me how many cores and how much memory is available to your TravisCI build?

[2017-03-16 21:10] z1mvader commented on #40118
@steveklabnik I'd like to, is someone else working on this?

[2017-03-16 21:11] abonander commented on #40535
Minimal reproduction case: https://github.com/abonander/rust-issue-40535

[2017-03-16 21:42] dtolnay commented on #40569
One specific common macro that this would break is Serde's [`forward_to_deserialize`](https://docs.serde.rs/serde/macro.forward_to_deserialize.html) which accepts "struct" and "enum" as idents.

[2017-03-16 21:49] steveklabnik commented on #40118
@z1mvader nope, please do! Ping me if you need any help 😄

[2017-03-16 21:54] alexcrichton commented on #40579
I believe on [this page](https://cloud.google.com/compute/docs/machine-types) we're with `n1-standard-4`, altough I'm not certain of that.

[2017-03-16 22:19] eddyb commented on #40527
It's not, it's actually **abusing specialization unsoundness**. #40177 is indeed relevant.
@nrc Is it possible for save-analysis and effectively anything involving JSON to switch to serde?

If so, the only blocker is me figuring out how to get serde working with the compiler bootstrapping.
How high-priority is this, i.e. what's the timeline here? @nikomatsakis also wants me to investigate moving o

[2017-03-16 22:34] sjackman commented on #40579
Hmm. I wonder why CircleCI is take more than 2 hours with 12 CPUs.

[2017-03-16 22:34] eddyb commented on #38078
Perhaps keying the `type_param_predicates` requests on a type instead of just type parameters specifically, and treating failure to convert some types in bounds as an ambiguity, may work.

[2017-03-16 22:41] sfackler commented on #29154
This is still happening on lldb-360.1.70 - I'm assuming that it's been long enough that whatever fixes were in the LLDB repo a year and a half ago would have propagated by now?

[code]

[2017-03-16 22:42] sfackler commented on #29154
I can't get a stack trace of LLDB due to SIP unfortunately :(

[2017-03-16 22:49] adchilds commented on #40149
Looks like the issue @radix is seeing may be caused by https://github.com/rust-lang/rust/blob/master/src/libstd/sys_common/backtrace.rs#L265

[2017-03-16 22:51] Twey commented on #37883
Smaller test case ([Playground](https://is.gd/kRRjAV)):

[code]

This code (in the body of `test`) knows that `A::Wibble: Bar` and that `<A::Wibble as Bar>::Quux = ()`, but not that `A::Wibble: Foo<()>`.

[2017-03-16 22:52] retep998 commented on #40149
So now someone just needs to write a PR to fix those two spots!

[2017-03-16 23:41] withoutboats commented on #28237
Inclusive range patterns are already supported in `match`. In fact they're the only sort of range we support as patterns today.

[2017-03-17 00:05] nrc commented on #40557
Sure:

[code]

[2017-03-17 00:10] nrc commented on #40527
@eddyb we currently have problems with external crates using Serde - because it links against the proc_macro crate and thus there are build order issues. Also because we'd need to support proc macros with a stage 1 build in order to build the stage 2 compiler. So, basically moving to Serde for JSON stuff is a lot more effort than it sounds like :-(

[2017-03-17 00:19] abonander commented on #39413
This error isn't helpful when trying to debug macros in examples, either. 😒

[2017-03-17 00:24] Boscop commented on #28237
@withoutboats yeah but the whole point of this issue is that inclusive range syntax shouldn't be a special case that only works in match.

[2017-03-17 01:11] johnwhelchel commented on #37856
Thanks to @wesleywiser for actually doing it! This had totally dropped from my mind and I had been away from Rust for a while, so I'm very glad it got done.

[2017-03-17 02:05] MJDSys opened #40593 "RefCell complains two mutable borrows present when only one exist on armv7-unknown-linux-gnueabihf"
When running the program at: https://is.gd/XHVVMt on my Chromebook (an Asus C201p) with the latest nightly compiler, I get the following error (RUST_BACKTRACE=1):
[code]

This doesn't occur on the latest stable compiler, and started sometime around March 12.  This doesn't happen on my AMD 64bit desktop, nor on playground.  Both debug and release builds are affected.

Code:
[code]
(note the extra s

[2017-03-17 03:19] ebfull opened #40594 "Overflow on requirement evaluation with associated types"
[code]

produces on stable and nightly:

[code]

The impl's compile individually but not together. I expect it to be able to compile.

[2017-03-17 03:21] ebfull commented on #40594
Note that in the absense of associated types, the above works fine.

You can cheat (for some reason?) and put a bound on `T` in the `Bar<P>` impl, but you just end up running into the same overflow somewhere else:

[code]

produces

[code]

[2017-03-17 04:11] sharazam commented on #27745
Any update on this? Is is discouraged to use it in current code?

[2017-03-17 06:11] MJDSys commented on #31847
One problem I noticed with this issue is that Cargo doesn't detect what version of rust is running before passing -Z flags.

As a real example, I've enabled CARGO_INCREMENTAL on one of my computers, and it recently ran into a bug on the nightly compiler.  I've fallen back to the stable compiler for now, but I get warning about -Zincremental being passed due to this issue.  It would be good if Carg

[2017-03-17 07:33] ypyf commented on #28237
Inclusive: `for i in 1..10! { }`

[2017-03-17 08:16] vityafx commented on #40574
@sgrif I don't quite understand what does this comment say. Could you re-explain it to me please?

[2017-03-17 08:23] bryaan commented on #23476
@steveklabnik That is not the issue, you need to escape the curly braces:

[code]

You probably already solved it, but this ranks in goog.

[2017-03-17 08:57] jseyfried commented on #40574
@sgrif Well, it was only possible to see other *builtin* derives reliably, but point taken.

@vityafx As described in https://github.com/rust-lang/rust/pull/39572#issue-205463568, the input to a derive procedural macro never has any `#[derive]` attributes today, so you cannot check what `#[derive]` were applied to the item.

The rationale here is that a derive procedural macro sees the item *after

[2017-03-17 09:18] SimonSapin commented on #31847
@MJDSys see https://github.com/rust-lang/cargo/issues/3835

[2017-03-17 09:43] vityafx commented on #40574
@jseyfried okay, so how do I generate different code for structs/enums based on condition does it derive `Copy` or `Clone`?

[2017-03-17 09:45] Kimundi commented on #32822
Yeah, exactly.

[2017-03-17 09:51] jseyfried commented on #40574
@vityafx You can't, since:

In particular, this:
[code]
always behaves exactly the same as this:
[code]

I actually think this is a benefit of the current behavior, since it means you can always refactor `#[derive(Clone)]` to a manual `impl` of `Clone` without worrying about the other derives.

[2017-03-17 09:52] Borkason commented on #33145
I see the same errors with rustc 1.16.0 (30cf806ef 2017-03-10) and cargo-0.17.0-nightly (f9e5481 2017-03-03).

[2017-03-17 09:59] GuillaumeGomez commented on #37856
I guess we can now close this issue?

[2017-03-17 10:06] eddyb commented on #40527
@nrc Right, that's what I mean, I'm supposed to solve those problems... somehow!

[2017-03-17 10:10] vityafx commented on #40574
That's correct and good. But if I remember correctly I also do not have an ability to check what trait implementation the struct/enum has, am I right?

[2017-03-17 10:16] jseyfried commented on #40574
@vityafx

Right, the compiler doesn't know what traits the struct/enum implements until long after procedural macros are expanded.

It might be feasible for the compiler to compute this information earlier and make it available to procedural macros. but that would entail major architectural changes.

[2017-03-17 10:19] vityafx commented on #40574
So, finalizing the discussion, - how can I generate the code for struct/enums then? If I can not know does it `Copy` or `Clone` ? I have checked this earlier and provided needed implementation.. But what can I do now?

[2017-03-17 10:23] jseyfried commented on #40574
@vityafx  `Copy` implies `Clone`, so the code you generate for struct/enums that implement `Clone` should automatically work with all struct/enums that implement `Copy`.

[2017-03-17 10:32] #40574 closed

[2017-03-17 10:37] ishitatsuyuki commented on #40227
Merged.

[2017-03-17 10:37] #40227 closed

[2017-03-17 12:20] pgerber commented on #40593
This may be related to [rust-openssl/issues/597](https://github.com/sfackler/rust-openssl/issues/597).

It would appear like dropping of values is broken in the nightly and beta toolchain:

This works:
[code]

but this fails:
[code]

This seem a rather new issue, in nightly-2017-03-01 it still worked. (May also work in few of the newer versions, haven't had time to try all of them.)

[2017-03-17 12:57] pgerber commented on #40593
Tried a few more nightly snapshots **nightly-2017-03-04** is the first affected version, **nightly-2017-03-03** works flawlessly.

[2017-03-17 13:38] adelarsq commented on #28237
As someone that work more that 15 years with Java/C/C++ I find that ```..``` vs ```...``` is pretty confusing and may cause bugs just by typing mistakes. Also the relation with Ruby turns this even more confusing. That is why ```..=``` or any other alternative is better.

[2017-03-17 13:48] #37856 closed

[2017-03-17 14:08] pnkfelix opened #40599 "Subpar error message on `pub (ident) fn foo`"
Someone who had code with the old `pub_restricted` feature is going to get pretty bad error message feedback:

[code]

Here's the message you get (ever since `pub(in path)` was implemented, sometime after March 4th:

[code]

(At the very least, it would be good if it highlighted `pub (a)` in its entirety, not just `pub`...)

Also, someone who *doesn't* know about pub restricted and just has a synt

[2017-03-17 14:21] MJDSys commented on #40593
@pgerber Where can you find the nightly snapshots?  I tried downloading them with rustup.rs, but it said older ones couldn't be found.

[2017-03-17 14:29] pgerber commented on #40593
@MJDSys This worked for me:
[code]

[2017-03-17 15:54] QuietMisdreavus commented on #37334
I opened #40603 to tweak this wording.

[2017-03-17 16:08] phil-opp opened #40604 "Constant evaluation error at wrong location"
When I try to pattern match on a constant created by a `const_fn` across two crates, I get a constant evaluation error (E0080) that points to a completely random location.

## Minimal Example
[code]

In `bar/src/lib.rs`:

[code]
In `foo/Cargo.toml`:

[code]

In `foo/src/lib.rs`:

[code]

## The Error
When running `cargo build` in `foo`, the following error occurs on nightly (0aeb9c129 2017-03-15):

[2017-03-17 16:58] L117 opened #40607 "rustc panicked"
rustc panicked while building string_cache v0.2.29

I tried to build (in debug mode) empty binary project created with
`cargo new --bin`
and containing follwing in `Cargo.toml`:
[code]

## Meta

`rustc --version --verbose`:
[code]

Backtrace:
[code]

My system is Debian Stretch / Experimental
[code]

[2017-03-17 17:10] arielb1 commented on #40593
#40133 looks like the main diff. between the 2 versions. Self-assigning.

[2017-03-17 17:35] evandrocoan opened #40609 "error: failed to run custom build command for `onig_sys v61.1.0`"
### error: failed to run custom build command for `onig_sys v61.1.0`

References:

1. https://github.com/trishume/syntect/issues/48

Command line: `cargo build`
[code]

[full_log.txt](https://github.com/rust-lang/rust/files/851340/full_log.txt)

OS: Windows 10
Rust:
[code]

Source:
[code]
https://github.com/trishume/syntect/blob/master/examples/syncat.rs

I ran `cargo build -vv` and got this most

[2017-03-17 17:38] kennytm opened #40610 "ICE when trying to Add a Vec and `vec![]` on 1.17 nightly"
Repro case:

[code]

The `<[f32]>::into_vec(Box::new([]))` is expanded from `vec![]`.

**No ICE on 1.16 stable.**
No ICE when trying using `-`, `*`, `/` etc.
No ICE when swapping the two arguments `vec![] + v`.
No ICE when using `v + Vec::new()`.
No ICE when not using UFCS `v + (Box::new([]) as Box<[f32]>).into_vec();`

----

Error (panic on [this line](https://github.com/rust-lang/rust/blob/9fae0

[2017-03-17 19:26] kennytm commented on #40610
Simplfied:

[code]

Turning on the debug log just for `try_coerce` gives:

[code]

Something's wrong with CoerceUnsized?

Besides `+`, the indexing is also affected `v[ f(&[]) ]` (Index and IndexMut). All other operators are not affected.

[2017-03-17 20:09] GuillaumeGomez opened #40613 "Borrow check still has problems"
From the current [PR](https://github.com/gtk-rs/gir/pull/321#issuecomment-284274125), it appears than `unsafe` isn't considered as a block/scope. Is it normal?

[2017-03-17 20:14] shepmaster commented on #40609
This isn't really an issue with Rust the language, but rather with the specific crate you are using. I see that you've [filed an issue with that crate](https://github.com/trishume/syntect/issues/48); that's the appropriate avenue to pursue.

[2017-03-17 20:15] #40609 closed

[2017-03-17 20:18] #29595 closed

[2017-03-17 20:18] #40459 closed

[2017-03-17 20:18] #40396 closed

[2017-03-17 20:34] nikomatsakis opened #40614 "[incremental] remove unwanted `DepTrackingMap` methods"
In the current model, it is common to start an incremental task T and have it read some nodes (R) and then write some values (W). This creates a dependency between R and W as shown:

    R -> T -> W

But we are planning to migrate to a more "on-demand" model. In that case, the idea is that you don't "start tasks" that have side-effects, rather you "demand things you want". So the right way would b

[2017-03-17 20:35] nikomatsakis commented on #40614
@cramertj and I will probably be tackling this.

cc @mw, @eddyb

[2017-03-17 21:59] aldanor commented on #32077
Wonder whether it's still considered a known/ignored rustdoc bug? It's a bit of a PITA for crates that defined types as specialisations (which is a quite common part in FFI-heavy code).

[2017-03-17 22:06] DoumanAsh commented on #28979
What's point of this feature exactly? Aside from adding possibility to create truly ugly mix of different languages in your code(english is the only truly international language), it gives no benefits to language functionality wise. Or is it support of unicode for the sake of supporting unicode?

[2017-03-17 22:51] SimonSapin commented on #28979
@DoumanAsh Not every program is international, and English fluency doesn’t have to be a requirement for programming.

It’s fine maintainers of any project to decide that variable names and comments in their code should be in English. This is what happens for many open-source projects, including the rustc itself. But that doesn’t mean that the language should be restricted to that.

[2017-03-17 23:08] durka commented on #40613
That's weird, because it definitely [is a scope](https://is.gd/VZJA6W).

[2017-03-17 23:20] laumann commented on #40149
Would https://github.com/rust-lang/rust/blob/master/src/libsyntax/parse/parser.rs#L5307 also qualify?

[2017-03-18 00:41] eddyb commented on #40614
My plan was to eventually add `Substs` to it and just make it the "const evaluation cache", but dealing with errors is a bit tricky, because there is one kind of error ("still too polymorphic") that shouldn't be an user-facing error, only delay evaluation further. Relatedly, `Substs` is not enough, I need something like `ParameterEnvironment` that works (efficiently) as part of the key.

That said

[2017-03-18 00:46] yongqli opened #40622 "Can't build from source"
Installing from source using `./x.py build && sudo ./x.py dist --install`, I get:

    Build completed successfully in 0:29:55
    Password:
    info: looks like you are running this command under `sudo`
          and so in order to preserve your $HOME this will now
          use vendored sources by default. Note that if this
          does not work you should run a normal build first
          be

[2017-03-18 00:49] GuillaumeGomez commented on #40613
cc @EPashkin

[2017-03-18 01:49] abonander opened #40623 "`--emit=metadata` appears to override `--out-dir` if the latter is supplied first"
See https://github.com/rust-lang/rust/pull/40542

Explicitly adding `--out-dir=$(TMPDIR)` (supposedly redundant) after `--emit=metadata` appeared to fix the problem, suggesting that `--emit=metadata` overwrites `--out-dir` (which is included in `$(RUSTC)`) with the current directory (?).

This may not depend on the exact value of `--emit`; Cargo always appears to write `--out-dir` after `--emit`,

[2017-03-18 01:51] qnighy opened #40624 "Inconsistent treatment of carriage return in // and //// comments"
Although `//` and `////` are both regarded as non-doc-comments, there is a difference in treatment of carriage return.

That is,

[code]

where '^M' is a carriage return, fails at line 2.

At least rustc diagnoses a wrong message: "bare CR not allowed in doc-comment".

Tested on Rust 1.16.0.

[2017-03-18 02:16] durka commented on #40613
I looked around in that PR but it seems to be a confusing web of generated
code. Could you paste an entire function that shows the issue? You have
some lifetime parameters flying around (in to_glib_none) so I don't think
it's likely to turn out to be a rustc bug, but it could be.

On Fri, Mar 17, 2017 at 8:49 PM, Guillaume Gomez <notifications@github.com>
wrote:

[2017-03-18 02:18] retep998 commented on #40149
@laumann Yes.

[2017-03-18 03:10] russmack commented on #40622
Similar to [https://github.com/rust-lang/rust/issues/40108](https://github.com/rust-lang/rust/issues/40108)

[2017-03-18 03:32] #40481 closed

[2017-03-18 04:41] estebank commented on #40599
#40627 proposes the following output for a given statement `pub (a) fn afn() {}`:

[code]

[2017-03-18 04:56] EPashkin commented on #40613
Failing function looks like this (moved it inside unsafe block)
[code]
`to_glib_none` has long dependencies
https://github.com/gtk-rs/glib/blob/master/src/translate.rs#L276
https://github.com/gtk-rs/glib/blob/master/src/translate.rs#L305
https://github.com/gtk-rs/glib/blob/master/src/object.rs#L164

Error produced:
[code]

[2017-03-18 05:13] EPashkin commented on #40613
But if I move call `to_glib_none` to separate variable all builds fine.
[code]

[2017-03-18 05:15] TyOverby commented on #40193
@alexcrichton The crate is building now.

[2017-03-18 05:38] dpc opened #40628 "`UnwindSafe` has terrible ergonomy."
As I expressed on IRC, I feel like, unless quickly taken care of, `UnwindSafe` is going to be a "failed feature". I've seen now quite a bit of people that told me that "they just wrap everything in `AssertUnwindSafe`" defeating the whole purpose of it. I've also seen comments that `UnwindSafe` is a PITA - sentiment that I'm beginning to share. I am tempted to ignore `UnwindSafe` completely as well

[2017-03-18 06:58] svark commented on #35490
It looks like this is fixed now.

Tested with

rustc 1.17.0-nightly (0648517fa 2017-02-03)
binary: rustc
commit-hash: 0648517faf1e2cf37c8b6770cbd0180a816ed9a0
commit-date: 2017-02-03
host: i686-pc-windows-msvc
release: 1.17.0-nightly
LLVM version: 3.9

[2017-03-18 06:58] #35490 closed

[2017-03-18 07:47] durka opened #40630 "nightly cargo panics on --version"
On [Linux](https://travis-ci.org/durka/foreman/jobs/212359633#L170) and Mac:

[code]

[2017-03-18 07:48] durka commented on #40630
rust-lang/cargo#3844

[2017-03-18 07:48] #40630 closed

[2017-03-18 07:56] nagisa commented on #40628
documentation for [catch_unwind](https://doc.rust-lang.org/stable/std/panic/fn.catch_unwind.html)

[2017-03-18 08:56] eddyb commented on #40628
We should remove that limitation on trait objects, as the current implementation allows any number of OIBITs (aka "auto traits"), but that doesn't mean you should be abusing panic catching machinery.

[2017-03-18 09:29] SimonSapin commented on #40628
@nagisa I don’t think your point makes this issue any less valid, unless you mean that `catch_unwind` should never be used at all. Isn’t it necessary for C->Rust FFI?

[2017-03-18 09:32] laumann commented on #40149
@retep998 Included

[2017-03-18 09:33] eddyb commented on #40628
@SimonSapin Hmpf, I would've assumed the typical inputs to FFI would be `UnwindSafe` and thus not pose any problem, but I could very well be wrong, and I believe it'd be much graver concern than trait objects.

[2017-03-18 10:25] mati865 commented on #39357
Rustbuild will work only if you use Rust build with pthread (like Rust package from MSYS2) and add few hacks to Rust code.

@alexcrichton Ideally there could be config option in `config.toml` adding `-lpthread` where it is needed.

[2017-03-18 10:42] MaloJaffre commented on #40557
Same error with GDB version 7012001, on Arch Linux.
I have enabled debuginfo and debuginfo-lines in config.toml, this might have an impact.

[2017-03-18 10:46] abonander commented on #40628
@eddyb I wouldn't expect using trait objects across a `catch_unwind()` boundary to constitute abuse of panic catching machinery. FFI isn't the only legitimate use of the mechanism.

I don't think the concern with proliferation of `catch_unwind()` (which is what led to the introduction of `UnwindSafe`) was well founded to begin with. We don't need to make unsafe-esque APIs deliberately unergonomic

[2017-03-18 10:50] jonathandturner opened #40631 "cargo install/build failing with latest nightly"
On Windows, trying to do a cargo install:

[code]

Seems to be okay with nightly-2017-03-03 but recent nightly seems to have issues.

[2017-03-18 10:53] petrochenkov commented on #39357
FWIW I had `x.py test` successfully passing with `i686-6.3.0-win32-dwarf-rt_v5-rev1` mingw toolchain (e.g. win32 threading model) without any extra hacks maybe a couple of weeks ago.
Not sure what are you guys doing to get all these problems.
Also, why would you need a Rust package from MSYS2, given that `rustup` exists.

As a side note, the GCC package from MSYS2 is a ticking bomb, it broke on up

[2017-03-18 10:53] eddyb commented on #40628
@abonander FWIW, if someone wants to write an RFC for extending the allowed "extra traits" from `Send` and `Sync` to any "auto traits", they have my support, and the implementation is just removing the one error.

[2017-03-18 11:10] TimNN commented on #40557
This is probably a duplicate of #39838 with more discussion in #40351, summary: `#![omit_gdb_pretty_printer_section]` used in the debuginfo tests doesn't work if the pretty printer section is included in libraries since the output of the pretty printer is incompatible with the output of gdb with rust support.

[2017-03-18 11:24] mati865 commented on #39357
Issue with `i686-6.3.0-win32-dwarf` is nobody use it (696 weekly downloads right now) vs `i686-6.3.0-posix-dwarf` (10,167 weekly downloads right now): https://sourceforge.net/projects/mingw-w64/files/Toolchains%20targetting%20Win32/Personal%20Builds/mingw-builds/6.3.0/
Using MSYS2 toolchain is the only way to provide MSYS2 packages.

I've considered packaging rustup instead of Rust but I'll need t

[2017-03-18 11:27] SirDoctors commented on #40631
Seems to be completly broken, for example our travis builds for nightly crash on [cargo --version](https://travis-ci.org/mgattozzi/alchemist/jobs/212423130#L241).

[code]

[2017-03-18 11:45] petrochenkov commented on #39357
Oh, you are actually doing packaging for MSYS2, looks like it brings some special set of concerns.
The usual development of rustc is not so tied to MSYS2's ecosystem, so a standalone toolchain and win32 threading model can be used in most cases.

[2017-03-18 11:55] bjorn3 opened #40632 "Rust shows internal lifetime repr"
https://github.com/bjorn3/rust_blogpost_ui/tree/fb560c78a6e737561ef769673ddc39515df4a77b fails to compile with
[code]

Notice the `ReSkolemized(1, BrAnon(1))`

rust info:
[code]

[2017-03-18 13:18] mati865 commented on #39357
@petrochenkov `x.py test` for Rust build with MSYS2 i686 GCC `debug*` options were not touched in config.toml:
[code]
Which is not surprising as those tests fail on Linux also, here is more detailed log: https://paste.ubuntu.com/24201347/

[2017-03-18 13:33] devunt commented on #40631
Same error occured in nightly on Windows.
Occured when running `cargo +nightly install`

Detailed traceback:
[code]

[2017-03-18 13:36] devunt commented on #40631
Looks like duplication of #40607.

[2017-03-18 13:42] petrochenkov commented on #39357
@mati865
This may be a duplicate of one of these issues - https://github.com/rust-lang/rust/issues/40184 https://github.com/rust-lang/rust/issues/40557 https://github.com/rust-lang/rust/issues/39838

[2017-03-18 14:29] GuillaumeGomez commented on #40203
Took a look at it and the prototype of the method seems clear enough to me:

[code]

It clearly expects `self` to be mutable. However, I'll add something about it to be clear but I don't think this is really necessary...

[2017-03-18 15:19] 46bit commented on #40631
This seems not to be a Windows issue - I'm seeing this on Arch Linux as well.

[2017-03-18 15:28] devunt commented on #40631
Using `nightly-2017-03-16` seems to be solving the problem. I guess only `nightly-2017-03-17` is broken.

[code]

[2017-03-18 15:31] devunt commented on #40631
Found a issue in cargo repo here: rust-lang/cargo#3844.
It indicates the issue was fixed: https://github.com/rust-lang/cargo/issues/3844#issuecomment-287514022

[2017-03-18 15:50] retep998 commented on #26003
As a workaround, instead of using `kind=static`, consider using the recently implemented `kind=static-nobundle`. This way the library is passed directly to the linker (instead of being mangled by rustc) bypassing this issue entirely.

[2017-03-18 16:06] dpc commented on #40628
The problem I described affects people who are not using `catch_unwind` and might not even know what is it about. As a library I'm trying to make my core type `Logger` to be as robust as possible - my types require thread-safety  so conceptually adding  `UnwindSafe` to `Send+Sync` seems natural, but the toll will have to be paid be everyone and 99.9% of users don't want to deal with `UnwindSafe`-r

[2017-03-18 16:20] alexcrichton commented on #40631
Duplicate of https://github.com/rust-lang/cargo/issues/3844, but thanks for the report!

[2017-03-18 16:20] #40631 closed

[2017-03-18 16:21] TigleyM commented on #29375
Hello! I'd like to give this issue a try.

[2017-03-18 16:26] alexcrichton commented on #40193
Thanks @TyOverby!

[2017-03-18 16:26] #40193 closed

[2017-03-18 16:33] TyOverby commented on #40193
🎉

[2017-03-18 17:51] leebenson commented on #28237
throwing my 'hat' into the ring:

`for i in 1..10^`

The hat/caret symbolising that the value goes all the way _up_.

[2017-03-18 18:06] retep998 commented on #28237
@leebenson Personally I think it would be better if it was in the middle, not tacked on the outside.

`for i in 1..^10`

[2017-03-18 18:08] leebenson commented on #28237
@retep998 I considered that after I hit send... that's probably nicer actually.

[2017-03-18 18:09] evandrocoan opened #40638 "error LNK2019: unresolved external symbol"
### error LNK2019: unresolved external symbol

I am compiling the https://github.com/trishume/syntect example `syncat` using:
[code]
However the `link.exe` cannot find the references for the other library.

1. Why it is not linking?
1. Is it related to https://github.com/rust-lang/rust/issues/27438? _ Correctly handle dllimport on Windows/MSVC

This is the full log from https://github.com/trishume

[2017-03-18 18:12] durka commented on #40628
@eddyb is it "any auto trait" or "any trait with no methods"?

[2017-03-18 18:15] jedisct1 opened #40639 "nightly-arm-unknown-linux-gnueabihf: thread 'main' panicked at 'called `Option::unwrap()` on a `None` value'"
Recent nightly builds seem to be broken on arm.

For example when trying to compile edgedns, cargo always panics with:
[code]

Tested with `rustc 1.17.0-nightly (a559452b0 2017-03-17)`.

[2017-03-18 18:19] joshtriplett commented on #28237
@retep998 I like your suggestion of `..^` much better than `..=`; it seems much more evocative of its meaning, and it avoids looking like a strange variant of an augmented assignment operator (like `+=` and `*=`).  That said, either one would be far better than `...` .

[2017-03-18 18:25] clarcharr opened #40640 "Option to silence E0122"
For [multistr](https://github.com/clarcharr/multistr) I've included trait bounds in type aliases so that it's clear in the documentation what should be passed to the generics for these aliases, e.g. [SliceArray5](https://docs.charr.xyz/multistr/multistr/type.SliceArray5.html).

But because I've generated several of these aliases E0122 floods my error output and I don't see any way of turning it of

[2017-03-18 18:26] Voultapher commented on #40639
Same on Ubuntu `16:04 x86-64`, all I need to call to get that problem is `cargo --version`

[2017-03-18 18:30] clarcharr opened #40641 "Error messages don't follow style convention of Trait<Type = T>"
Currently, rustfmt modifies these statements to include a space around the equal sign, but error messages don't do this. I'd appreciate if this were changed to follow rustfmt because I use [Fira Code](https://github.com/tonsky/FiraCode) which converts `=<` into a ligature for `≤`.

[2017-03-18 18:37] ssokolow commented on #28237
I can't get behind `..^`.

On a personal level, I find it very ugly ((partly because the `..` is so vertically disjoint from the `^`).

As a UI/UX guy, I think it's being too clever.

If I come in from another language and see `..^`, I may not even recognize it as a range (for all I know, it could be some weird partial factorial syntax) because humans think in contexts and the only association tha

[2017-03-18 18:42] shepmaster commented on #40638
Like your [previous issue](https://github.com/rust-lang/rust/issues/40609), this is 99% likely to have nothing to do with Rust the language.

If you believe there is an *issue with Rust*, then you should be able to produce a minimal example that shows that error, as well as some amount of proof that it's something that Rust is doing wrong as opposed to the third-party crate.

In these cases, it wo

[2017-03-18 18:50] leebenson commented on #28237
@ssokolow legit analysis.

Personally, I can get behind either `..=` or `..^`. The symbology of either makes sense to me - i.e. 'up to and equal to' or simply 'up to', respectively. They both mean the same thing, to my mind.

It's going to be hard to come up with something that satisfies everyone, because we all bring history from other langs and with it, tainted symbology/bias. I initially added

[2017-03-18 18:54] eddyb commented on #40628
Right now if you just remove the error, it's specifically "any number of auto traits".

[2017-03-18 19:11] anatol commented on #40639
I confirm the issue at Arch Linux. Here is the stacktrace I see

[code]

[2017-03-18 19:26] JeremySorensen commented on #28237
lots of people seem to actively dislike ..= nobody said anything negative
about .... it was just quietly ignored (except for a few thumbs up) I
thought I would bring it up again and have people consider it and give a
reason for not using it if they are against it.

I hate to even mention it because it's just more noise, but what about .:
(dot colon) for inclusive? It's 3 dots but 2 characters, and

[2017-03-18 19:31] Kimundi commented on #28237
Oh, is this still in a bikeshedding phase? 😆

Reading back, I think I agree with @nikomatsakis to just make it `..=` and call it a day. The Similarity of `..` vs `...` is too subtle, and I'd rather see the `...` token be used without ambiguity for variadic generics (https://github.com/rust-lang/rfcs/pull/1935), where it fulfils a very distinct purpose that should lead to less confusion between the

[2017-03-18 19:56] frewsxcv commented on #38888
This seems to be already addressed in https://github.com/rust-lang/rust/pull/36851. I also opened https://github.com/rust-lang/rust/pull/40642 that should clarify the behaviors of these `BufRead` methods. So I think this can be considered done unless anyone else has an action item here.

[2017-03-18 19:56] #38888 closed

[2017-03-18 20:00] leebenson commented on #28237
I think @ssokolow made some great points re: UI/being clever. I'd argue that switching the direction of the third dot for the sake of tricking your eyes into seeing something else would probably be in that category.

I personally have _zero_ objection to there being a third dot, other than knowing it's bound to trip some people up eventually. But it's also dead easy to explain, so I'm not sure the

[2017-03-18 20:08] Boscop commented on #28237
Agreed, ^ makes it look like a step.
IMO the inconsistency with other `op=` operators is no problem because there is no way that we would ever have `a ..= b` in the sense of `a = a .. b`, since `..` is not an operator but syntactic sugar to construct a Range (and we don't have a general op overloading scheme where any op automatically gets a form of `op=`, and `..`).
I'm not saying `..=` is clear

[2017-03-18 20:10] durka commented on #31740
When comparing two different boxes, the equality operation **does** take ownership of the second one, even though that's plainly impossible from the signature of `PartialEq::eq` (and it doesn't occur when replacing `a == b` with `PartialEq::eq(&a, &b)`: https://is.gd/a3SBnH

[2017-03-18 20:19] OliverUv commented on #31740
This does **not** only occur for the reflexive case. See https://is.gd/MWU7Kw
[code]

[2017-03-18 20:30] bluss commented on #31740
I'm not sure what the difference is. I based that (“This only occurs for the reflexive (x == x) case”) on that this compiles:

[code]

[2017-03-18 20:31] bluss commented on #31740
Ah, with durka's explanation it is clear.

[2017-03-18 20:31] durka commented on #31740
@bluss but it moves `y`.

[2017-03-18 20:40] OliverUv commented on #31740
@bluss try adding another identical `let equal` row after, and you'll see the compiler error out. You currently don't get an error because you're not trying to use `y` after it has been moved and dropped.

[2017-03-18 21:19] steveklabnik commented on #29375
@TigleyM that'd be great! this issue is very general, so any improvements would be welcome. Let me know if you need any help!

[2017-03-18 21:21] joshtriplett commented on #28237
Given @nikomatsakis's nomination, I think we'll end up discussing it in next week's lang-team meeting, and likely making a call at that point.  I agree that this just needs the lang team to make a call and end the bikeshedding.

[2017-03-18 21:44] vorner commented on #38528
Just a stupid question ‒ the „translation item collection“, which is one of the two culprits here, is listed in the „MIR optimisations“. Does it really have to happen at all on non-optimised debug build?

[2017-03-18 21:56] bluss commented on #38528
It's natural to read it that way, but the headers are actual after their group, so it's part of `translation`

[2017-03-18 22:01] solson commented on #28237
Agreed. In fact, I've already seen this syntax in Perl 6 where it means exclusive, the opposite of the proposal here.

[2017-03-18 22:51] joshtriplett commented on #28237
@solson That's a very compelling argument against it.

[2017-03-18 23:00] durka commented on #28237
Perl seems to have fully general syntax, with .. meaning inclusive (on both
sides) and ^ on either side makes that bound exclusive.

On Sat, Mar 18, 2017 at 6:51 PM, Josh Triplett <notifications@github.com>
wrote:

[2017-03-18 23:22] retep998 commented on #40638
Failed to reproduce with `x86_64-pc-windows-msvc`. Example built fine for me.

[2017-03-18 23:22] #40638 closed

[2017-03-19 02:43] sagebind commented on #29646
I'm able to get away with using this instead of `const fn` for certain types of "constructors" in order to yield a better API. For example:

[code]

[2017-03-19 03:33] abonander commented on #40628
It was weird to call it *catch*_unwind() then, especially given that the concerns in the original stabilization discussion about conflating it with general exception handling seem to have been ignored. Maybe it came up in the triage meeting but that wasn't really elaborated on: https://github.com/rust-lang/rust/issues/27719#issuecomment-199100215

So the blocker on `Send` and `Sync` implying `Unwi

[2017-03-19 07:06] #36497 closed

[2017-03-19 07:06] #37838 closed

[2017-03-19 07:06] #37955 closed

[2017-03-19 07:06] #39041 closed

[2017-03-19 07:06] #39264 closed

[2017-03-19 07:06] #27787 closed

[2017-03-19 07:06] #37053 closed

[2017-03-19 07:06] #37197 closed

[2017-03-19 08:07] nagisa commented on #40640
Future compatibility warnings are made explicitly un"turn-off"able exactly because people "turn-off" them and then when stable version making it a hard error releases, complain on rust-lang/rust that their code was broken without any prior warning.

[2017-03-19 08:39] arielb1 commented on #13926
Sure. Same LLVM problem.

[2017-03-19 09:08] topecongiro commented on #36889
Hello, I would like to work on this if no one is interested.

[2017-03-19 10:49] jseyfried opened #40649 "macros: The line number that `panic!` reports can be wrong in macro invocations"
For [example](https://play.rust-lang.org/?gist=e3c24e819b9250e11399c19c682c8b2d&version=nightly&backtrace=0),
[code]

[2017-03-19 10:50] jseyfried commented on #40649
Fixed in #40597.

[2017-03-19 11:57] adiba opened #40650 "Block comment grammar"
In all other languages such as C++, the first occurrence of `*/` marks the end of the block comment.
However, the compiler throws an error on the code below (`error: unterminated block comment`)
[code]

[2017-03-19 14:12] djzin commented on #40650
This is by design I believe. Basically if you are commenting out a large section of code that contains block comments, in rust it will work. If your editor is not highlighting it properly, I would contact whoever does the syntax highlighting (it works on the playground).

[2017-03-19 14:32] adiba commented on #40650
The playground works exactly the same. It's the _compiler_ that throws the error.
I'm actually happy with this design choice, it's just unusual :)

[2017-03-19 14:34] #40650 closed

[2017-03-19 15:37] alexcrichton commented on #40639
Yes this should be fixed on master, but thanks for the report!

[2017-03-19 15:37] #40639 closed

[2017-03-19 15:43] japaric opened #40652 "Can put non-Sync data in extern statics"
This is not allowed:

[code]

[code]

But this is allowed:

[code]

[code]

Using `extern "C"` doesn't suddenly make `FOO` safe to share accross threads so this should become an error, IMO. Just like #35112.

cc @nikomatsakis

[2017-03-19 16:10] lifthrasiir opened #40654 "`".e0".parse()` returns `Ok(0.0)`"
Yes, another incarnation of #30344. `+.e0` and `-.e0` also have this issue. Note that `".".parse()` *is* an error and has a test for it.

cc #32243

[2017-03-19 16:23] lifthrasiir commented on #39428
This is intentional and is not an error (I've written the initial float-to-decimal routine). The point is that `{}` prints the closest decimal representation with the least significant digits that still round trips---having only 24 bits (7--8 decimal digits) of mantissa, this is expected. As you've discovered, giving the exact precision disables this behavior and prints the exact representation.

[2017-03-19 16:29] dten commented on #39428
Thanks. Closing this then :)

[2017-03-19 16:29] #39428 closed

[2017-03-19 16:40] lifthrasiir commented on #39428
@dten Glad my response is not *too* late! :D Just in case, feel fine to file another issue if we have to document or change the status quo. I think many details of the formatting are still undocumented, and I had just copied the previous behavior when I worked on flt2dec (as that should really be another issue).

[2017-03-19 17:03] durka commented on #40640
How hard is it to enforce trait bounds in type aliases?

[2017-03-19 17:19] jimblandy opened #40655 "`std::fmt::Formatter` has no way to propagate numeric formatting parameters"
The `Formatter` type provides no reasonable way to propagate numeric formatting parameters from one value to another. Since std::fmt is the only way to actually stringify numbers, this is a problem.

This needs an example. Suppose we have a Complex number type:

    #[derive(Copy, Clone, Debug)]
    struct Complex { r: f64, i: f64 }

Suppose we want to implement `Display` for this. We would like

[2017-03-19 17:20] jimblandy commented on #40655
Submitted by accident.

[2017-03-19 17:20] #40655 closed

[2017-03-19 17:21] arielb1 commented on #40593
@MJDSys

I can't reproduce this on 5d0be0d72a8fe87c1a038f014beb7f64ba249b29 (03-11).

[2017-03-19 17:35] arielb1 commented on #40593
The first example is optimized out completely on my machine (using `xargo run --target=armv7-unknown-linux-gnueabihf --release`), so it is unlikely to have issues.

[2017-03-19 18:06] pgerber commented on #40593
I get BorrowMutError on my machine too. Here's the ASM output: [main.s](https://github.com/rust-lang/rust/files/853416/main.txt). Compiled using 485358400 (2017-03-18).

[2017-03-19 18:11] retep998 commented on #40652
As a result of https://github.com/rust-lang/rust/issues/35112, extern statics currently require unsafe to access so this isn't a safety hole. Also, extern statics are often used to reference raw pointers which are definitely `!Sync`, so changing this to be an error would be a rather huge breaking change.

In my opinion this is working as intended.

[2017-03-19 18:27] MJDSys commented on #40593
@arielb1 Did you run that on an armv7 machine, or on a x86(_64) machine?  It seems something really weird is happening in the compiler.

I'm working with a simpler example (see end of this post).  A compiler on x86_64 produces a MIR representation that seems to make sense (dropping the option, and then the inner type).  However with an armv7 compiler, it doesn't drop the option, but tries to drop

[2017-03-19 20:30] eddyb commented on #40557
For anyone who wants to work around it, this did the trick for me:
[code]
You'll have to adjust for build triple and stage number, of course.

[2017-03-19 20:36] briansmith commented on #9461
A while back, I filed https://github.com/onur/docs.rs/issues/74 to have docs.rs include the canonical link, and @onur comitted at least one change towards making that goal happen.

https://github.com/onur/docs.rs/issues/73 will help a lot with the current main concrete problem with doc.rs. In the meantime I added a note to my documentation: “**IMPORTANT**: If you are reading this on docs.rs or ano

[2017-03-19 20:44] #27593 closed

[2017-03-19 20:44] #40331 closed

[2017-03-19 20:44] #40469 closed

[2017-03-19 20:44] #34571 closed

[2017-03-19 20:44] #40118 closed

[2017-03-19 20:44] #40435 closed

[2017-03-19 21:05] jan-hudec commented on #38356
@SimonSapin,

Please don't. I have a use-case where I want to use (though not preserve—they will be written into a separate compilation product instead) comments in the syntax.

Specifically, I want to create translation macros that would load translations of a string from a separate source file(s) and I would like to generate a list of strings to be translated as by-product in debug build. And th

[2017-03-19 21:18] clarcharr commented on #39293
One improvement for this that I can see would be monomorphising *all* of the methods and trait impls for a type when it's instantiated, rather than just the necessary methods. This would solve most of these problems, I think.

[2017-03-19 22:25] nortiero opened #40657 "Internal compiler error: pattern.rs:572: impossible case reached"
Hi! I was mixing function pointers with match patterns (they don't mix at all, as far as I understand -- please correct me), obtained the following error:

`
error: internal compiler error: /Users/rustbuild/src/rust-buildbot/slave/stable-dist-rustc-mac/build/src/librustc_const_eval/pattern.rs:572: impossible case reached
`

Happens in [playground](https://play.rust-lang.org/?gist=6ba85903bcd2e633e

[2017-03-19 23:11] arielb1 commented on #40593
I am using an ARM compiler (rustc 1.17.0-nightly (b1e31766d 2017-03-03) aka the Mar 4 nightly) in an x86_64 machine using qemu, which seems not to reproduce the bug. I don't have an ARM machine handy right now,

[2017-03-19 23:17] arielb1 commented on #40593
Ah. The problem was that I was using the `arm-unknown-linux-gnueabi` nightlies instead of the `armv7-unknown-linux-gnueabi` nightlies. Only the armv7 nightlies are broken/miscompiled.

Correct "at-typeck" MIR looks like this:
[code]

Incorrect "at-typeck" MIR looks like this:
[code]

[2017-03-19 23:43] arielb1 commented on #40593
Looking at direct builder output:

BAD:
[code]

GOOD:
[code]

[2017-03-19 23:58] jseyfried commented on #38356
@jan-hudec
Even if we didn't have a `TokenKind::Comment`, you could still use comments by looking at the contents of the spans between consecutive tokens.

I don think we shouldn't have `TokenKind::Comment` to encourage procedural macros to ignore comments so that users are free to add comments to macro invocations without worrying about changing semantics.

[2017-03-19 23:58] rkruppe commented on #40654
Does this also date back to 1.0, like #30344 did?

[2017-03-20 00:01] Drakulix commented on #40493
The `RUST_MIN_STACK` workaround discussed in #40573 works for this as well. So I assume this is a indeed a duplicate of #40573.

[2017-03-20 00:34] abonander commented on #38356
@jan-hudec Is there a reason attributes won't work with your solution?

[2017-03-20 00:54] lifthrasiir commented on #40654
@rkruppe Yes. The fix would be technically a breaking change.

[2017-03-20 02:09] iqualfragile opened #40660 "Better error messages for &T == T"
Something along the lines of "you are trying to compare a refference to <Type> to Type, try dereferencing first" would be nice, right now it just has the usual PartialEq not implemented.

[2017-03-20 02:26] solson opened #40661 ""use of undeclared lifetime name `'static`" is misleading"
**Code:** https://is.gd/6L8tEl

[code]

**Output:**

[code]

**Expectation:**

`<'a: 'static>` is unnecessary (you can just use `'static` in place of `'a`), but maybe we should accept it? At any rate, the error message is misleading - `'static` is the one globally declared lifetime. If we want to reject this code, the error message should not imply `'static` is undefined, but rather that you just

[2017-03-20 02:30] jseyfried commented on #40661
I believe we'll want to check for `'static` [here](https://github.com/rust-lang/rust/blob/b5c4244c6c46df22bb55531b629f4c314fe2ab22/src/librustc/middle/resolve_lifetime.rs#L920).

[2017-03-20 03:33] sunjay opened #40662 "Type Inference Fails on Beta and Nightly but not on Stable"
I setup Travis to run on both beta and nightly. This is recommended by the Travis docs because it helps catch regressions.

For some reason, [my build](https://travis-ci.org/brain-lang/brain/builds/212857183) works on stable, but fails on beta and nightly. Is this a regression?

Here's the code that doesn't work:
[code]
This is in [stdio.rs](https://github.com/brain-lang/brain/blob/4a4596b9213e283

[2017-03-20 04:28] SergioBenitez opened #40663 "ICE during `derive` expansion on 2017-03-19 nightly"
On the latest nightly, [a structure](https://github.com/SergioBenitez/Rocket/blob/master/examples/todo/src/task.rs#L12-L18) which derives traits from `serde`, `diesel`, and `rocket`, triggers an ICE. This is the structure's declaration:

[code]

Here's the ICE:

[code]

The ICE only occurs when the right combination of derives is used. For instance, removing any of `Serialize`, `Queryable`, `Inser

[2017-03-20 04:42] SergioBenitez commented on #40663
Likely related to #40346.

[2017-03-20 05:11] sunjay commented on #40662
This seems to have everything to do with the `unimplemented!()` call. Removing that makes it compile successfully on nightly. I still think this is a bug though, since I shouldn't have to remove that. It works in stable after all.

[2017-03-20 05:22] sinkuu commented on #40662
https://github.com/rust-lang/rust/issues/39984?

[2017-03-20 05:23] sunjay commented on #40662
@sinkuu This is probably the same as that one. I'll let someone who is sure close the issue.

[2017-03-20 05:38] jseyfried commented on #40663
Fixed in #40664.

[2017-03-20 06:00] jan-hudec commented on #38356
@abonander, attributes absolutely don't make sense. Translatable strings act as literals, not as items. But extracting them during compilation would be just for convenience—it can always be done as separate parsing (and in fact, may end up being so, because I need to see _all_ of them in the crate and incremental compilation would break that).

[2017-03-20 07:02] fusionbeam opened #40665 "rust-lldb gives 'no locations (pending)' when trying to set a breakpoint on macOS Sierra"
---
[code]
---

followed this guide: http://asquera.de/blog/2017-03-03/setting-up-a-rust-devenv/

--- is this a known issue? any pointers on a workaround?
thanks,
rares

[2017-03-20 07:32] eugene-bulkin commented on #40661
The right move here would be to reject `'static` here because `'a` is superfluous in that scenario, right? I'm not entirely sure what the performance implications would be of just accepting it since it's the same as doing `foo<'static>`.

Since it would be unnecessary, would be more appropriate to reject the code telling the user to just use `'static` instead?

[2017-03-20 07:38] eugene-bulkin commented on #29341
What exactly still needs to be documented for this module? Doesn't look like a whole lot is in there.

[2017-03-20 07:40] adamransom commented on #40661
I'd like to work on this, if it is still open (and/or available for mentoring)!

[2017-03-20 08:26] jseyfried commented on #40661
@adamransom
Yeah, go ahead! Feel free to ask questions here or ping me on IRC (`jseyfried` in `#rustc` or `#rust-internals`).

[2017-03-20 08:27] jseyfried commented on #40661
@eugene-bulkin

`fn foo<'static>() {}` [isn't allowed](https://play.rust-lang.org/?gist=3259c4c94ac641eb56730e1c8e8dd47a&version=nightly&backtrace=0).

I think it would appropriate to reject the code and tell the user not to use a lifetime parameter at all -- there's never a need for a parameter that must always be `'static`.

That being said, we also might want to allow it for consistency, perhap

[2017-03-20 08:45] eugene-bulkin commented on #40661
Oh, well in that case it makes even more sense to just warn the user that the parameter is unnecessary; an error might be overkill, but a warning would seem reasonable.

[2017-03-20 09:04] adamransom commented on #40661
@jseyfried Great, I'll work on adding a warning as we discussed in IRC.

[2017-03-20 09:17] nicolaction opened #40666 "Matching on a struct variant enum"
I have been playing with rust enums recently, but I found that I can't seem to make them work the way I expect.

I defined struct variants for an enum:

[code]

And I want to match on them. If I match on self, in the module, I get this:

[code]

But I get the following error message:

What to do? Am I doing this wrong?

PS: I know I can destructure the content of the enum, but I want to use it as

[2017-03-20 11:20] #39997 closed

[2017-03-20 11:20] #40355 closed

[2017-03-20 11:20] #40508 closed

[2017-03-20 11:20] #39746 closed

[2017-03-20 11:20] #40568 closed

[2017-03-20 11:20] #40580 closed

[2017-03-20 11:22] RReverser commented on #21903
@Twey thank you, that did it!

[2017-03-20 13:50] qnighy opened #40670 "Wrong message from object safety checker"
**UPDATE:** There are mentoring instructions to be found [in a comment below](https://github.com/rust-lang/rust/issues/40670#issuecomment-288337422).

---

Object safety checker produces messages with "supertrait something" even when the cause is in where-clause.

[code]

[code]

Rust Playground: https://is.gd/mAvVNW

Indeed this seems object-unsafe, but the message should be something about "wher

[2017-03-20 14:11] alexcrichton opened #40672 "OSX builds on Travis sometimes aren't scheduled"
Examples:

* https://travis-ci.org/rust-lang/rust/builds/212689339
* https://travis-ci.org/rust-lang/rust/builds/212947771

[2017-03-20 14:18] alexcrichton opened #40673 "Tracking issue for ManuallyDrop"
Tracking issue for https://github.com/rust-lang/rfcs/pull/1860

I believe initially implemented at https://github.com/rust-lang/rust/pull/40559

[2017-03-20 14:21] alexcrichton commented on #39357
The is unfortunately an expected failures, we're just not compatible with the pthread toolchain right now. Support needs to be added to libstd to detect these hidden dependencies and emit appropriate link directives, and it means an entirely new toolchain must be created regardless.

[2017-03-20 14:30] rkruppe commented on #40666
The syntax you want would be very inconsistent. Besides, this is already possible [using `@`](https://doc.rust-lang.org/book/patterns.html#bindings):

[code]

[2017-03-20 14:33] steveklabnik opened #40674 "thread 'main' panicked at 'path.metadata() failed with The system cannot find the file specified. (os error 2)', src\bootstrap\clean.rs:76"
I'm on MSVC, and running `python x.py clean` this morning, get this error:

[code]

not sure what's going on here. I vaguely remember someone on IRC mentioning this, but cannot remember who.

[2017-03-20 14:41] steveklabnik commented on #29341
Hey @eugene-bulkin ! Some of these issues were opened as just a "make sure we check these docs at least once.", so in some sense, you've already helped!

Things I'd note:

* The module-level docs are extremely short. There's not a lot to this module, but adding some extra context, for example, that most stuff in rust is utf-8, and a short summary of the two things in it would be good.
* https://do

[2017-03-20 14:45] petrochenkov commented on #40666
I suspect that @nicolaction wants something like https://github.com/rust-lang/rfcs/pull/1450 and `entity` is expected to have such variant type, and `money` is not a field of `Entity`, but a field of `Entity::Character` variant type.

So this issue is an RFC material and kinda duplicate of https://github.com/rust-lang/rfcs/pull/1450, and not a bug, so it should probably be closed.

Destructuring i

[2017-03-20 14:45] #40666 closed

[2017-03-20 15:24] steveklabnik commented on #38830
we have both https://github.com/rust-lang/rust-by-example/pull/844 and https://github.com/rust-lang/rust-by-example/pull/837 so i think this is all done now!

[2017-03-20 15:24] #38830 closed

[2017-03-20 15:24] steveklabnik commented on #40425
https://github.com/rust-lang/rust/pull/40502 will fix this

[2017-03-20 15:37] pornel opened #40677 "doc.rust-lang.org - old versions of the documentation appear in Google"
Currently for the search: https://www.google.co.uk/search?q=rust+duration the first result links to docs from 1.6.0 where this feature was incomplete and unstable.

https://doc.rust-lang.org/robots.txt already excludes docs for pre-1.0 versions. Perhaps old post-1.0 version can be excluded too?

[2017-03-20 16:01] mati865 commented on #39357
I currently have this patch: https://gist.github.com/mati865/6fd83fd24bd17dc4639e03a8211bc319
But it bad solution and you cannot build Rust unless you already have patched Rust.

[2017-03-20 16:19] nicolaction commented on #40666
Thank you, I didn't know about @ bindings.
I tried to use:
[code]
But the binding seems to occur before the variant selection somehow, so entity is an Entity, not an Entity::Character.

I think I will have to use a dedicated struct for each struct variant.

[2017-03-20 16:44] GuillaumeGomez commented on #40641
Fixing it.

[2017-03-20 16:52] GuillaumeGomez commented on #40677
cc @steveklabnik

[2017-03-20 17:03] steveklabnik commented on #40677
I know nothing about how our robots.txt is managed.

https://github.com/rust-lang/rfcs/pull/1826 is related, as this will show a banner

[2017-03-20 17:05] GuillaumeGomez commented on #40641
Actually that'd be nice to have an error to starting working on.

[2017-03-20 18:13] TimNN opened #40680 "Incorrect FileCheck path on msvc and RelWithDbgInfo"
When compiling for msvc and using a `RelWithDbgInfo` LLVM, an incorrect path to `FileCheck.exe` is used ([hardcoded to `Release/bin`](https://github.com/rust-lang/rust/blob/master/src/bootstrap/lib.rs#L773)).

I find the exact conditions which determine the directory to use a bit confusing.

[2017-03-20 19:30] Ericson2314 commented on #40673
I left a comment https://github.com/rust-lang/rfcs/pull/1860#issuecomment-280208052 which slipped by FCP. The tl;dr is: this is fine for now in my book, but we should consider `&move` and improved `Drop` again prior to stabilization. I'd hope the popularity of this feature would be considered a +1 `&move`---a wholly nicer, if harder-to-implement, solution---rather than a `-1` (with the reasoning t

[2017-03-20 19:59] Ericson2314 commented on #32838
I can't think of any.

[2017-03-20 20:19] japaric commented on #40652
I agree.

There's a pattern for such thing:

[code]

But if `FOO` is still unsafe to access after that then maybe that doesn't buy you much. And I don't think extern statics can't ever be safe in the general case as there's no type safety; you can't bind any type to `FOO`.

Well, that's one reason to leave things as they are.

[2017-03-20 20:21] alexcrichton commented on #37406
I've added documentation in https://github.com/rust-lang-nursery/reference/pull/17

In doing so I've realized that we have [another can of worms to open](https://github.com/rust-lang/rust/issues/29717) before we can stabilize this, unfortunately.

[2017-03-20 20:22] #38137 closed

[2017-03-20 20:23] #38901 closed

[2017-03-20 20:31] alexcrichton commented on #40680
I also find the directory layout of an LLVM build confusing ;_;

[2017-03-20 21:40] killercup opened #40687 "Rustdoc: Visual indentation of function return type looks funky"
I have [a function](https://docs.rs/waltz/0.3.0/waltz/fn.extract_code_blocks.html) with this signature:

[code]

So far so good. In the original source, it's all on one line, but Rustdoc uses quite a large font, so it makes sense to split it up. The problem is with the way it tries to reformat the signature, i.e., by putting the return type directly beneath the opening bracket of the arguments:

<

[2017-03-20 22:01] GuillaumeGomez commented on #40687
[code]

I propose this one (because I don't like when ')' starts a new line).

[2017-03-20 22:03] arielb1 commented on #40593
debugging. It seems that after #40178, type contents is miscompiled somehow.

[2017-03-20 22:18] GuillaumeGomez commented on #40641
I did it first in rustdoc.

[2017-03-20 22:19] QuietMisdreavus commented on #40687
After some discussion in #rust-docs, I noticed that the first style mentioned is pretty close to [how the fmt-rfcs issue about function signatures](https://github.com/rust-lang-nursery/fmt-rfcs/issues/39#issuecomment-278544439) wound up. It's also suspiciously close to my initial implementation when I first put that indentation code in. I'll see about sketching out this change.

[2017-03-20 22:34] MJDSys commented on #40593
@arielb1 I've tried bisecting the problematic change and came up with the same commit causing the issue, but at the same time reverting the change on top of master (4853584000c2e) didn't fix it.  I'll keep trying poke things here.

[2017-03-20 22:40] arielb1 commented on #40593
Reverting things did fix things for me. This is however, a miscompile, so problems are to be expected.

[2017-03-20 22:41] MJDSys commented on #40593
Did you revert it on top of master, or on top of the nightly build from March 4th?

[2017-03-20 22:53] eugene-bulkin commented on #29341
I'm currently out of town so I won't be able to do anything for a week but if no one has claimed this by the time I get back I'll gladly take it on!

[2017-03-20 22:53] arielb1 commented on #40593
On top of a559452b05c20041a27f518d262573c56b876b64

[2017-03-21 00:29] est31 opened #40691 "Unergonomic pub(in path) error message"
The pub(in path) error message is very unergonomic when it comes to paths that don't exist, or don't exist yet. Take this example, its how the error was intented:

[code]
gives an error "visibilities can only be restricted to ancestor modules". Now take this example:

[code]

This gives an error "cannot find module `baa` in the crate root".

And this code:

[code]
even gives an error "failed to re

[2017-03-21 01:02] est31 commented on #40691
Seems this is already pointed out in `src/test/compile-fail/resolve-bad-visibility.rs`. Still, I consider this a bug.

[2017-03-21 01:10] niamster commented on #34347
It's a valid combination of options on unix, why it is considered as invalid?
This is responsibility of OS to check the valid `open` flags.

[2017-03-21 01:12] estebank commented on #40660
Would the following output (as proposed in #40565) be enough to make the situation a bit more clear?

[code]

[2017-03-21 01:17] estebank commented on #40632
Duplicate of #13998. ([librustc/infer/error_reporting/mod.rs](https://github.com/rust-lang/rust/blob/b671c32ddc8c36d50866428d83b7716233356721/src/librustc/infer/error_reporting/mod.rs#L219-L229))

[2017-03-21 01:18] iqualfragile commented on #40660
that would certainly improve things, but in this case the error message could be even more specific and thereby helpful by providing the information about deref-ing, so i would keep it as a separate issue, i think

[2017-03-21 01:29] carols10cents commented on #29717
@rfcbot reviewed

[2017-03-21 03:24] retep998 commented on #40687
That first alternative is in fact block indentation which is what that rustfmt RFC agreed on. As a result, rustdoc should reflect that decision and switch to block indentation for all function definitions in generated documentation.

[2017-03-21 05:39] #40632 closed

[2017-03-21 06:17] Jaspi10 opened #40695 "Building rocket-codegen 0.2.2 fails on latest nightly (2017-03-21)"
Could successfully build it on 2017-03-19, but also does not work an 03-20.

Log from `cargo run --verbose`:

[cargo run --verbose .txt](https://github.com/rust-lang/rust/files/857218/cargo.run.--verbose.txt)

[2017-03-21 06:45] est31 commented on #40695
I think this is rather an issue with Rocket, as it relies on unstable features, and judging from the error an API just changed, which is normal with unstable features.

Instead you should try filing an issue on the tracker of Rocket: https://github.com/SergioBenitez/Rocket/issues

cc @SergioBenitez

[2017-03-21 06:48] est31 commented on #40695
Mhh maybe this issue is related: https://github.com/SergioBenitez/Rocket/issues/235

[2017-03-21 06:48] SergioBenitez commented on #40695
There's a bug (https://github.com/rust-lang/rust/issues/40663, fixed in unmerged https://github.com/rust-lang/rust/pull/40664) in the latest nightly preventing a meaningful fix for this. See https://github.com/SergioBenitez/Rocket/issues/235#issuecomment-287714276 for more details.

[2017-03-21 07:04] bstrie commented on #35233
@jonathandturner Looks like all these are done except for the "bonus" bugs. Worth closing this issue?

[2017-03-21 08:42] gnzlbg commented on #29717
@alexcrichton

What should rustc do when it encounters an unknown target feature?

I think there should be consensus on that before stabilizing this feature.

[2017-03-21 08:46] gnzlbg commented on #29717
I would also have expected a small RFC for this, with the proposed semantics, how the stabilization of the features should work, the behavior of target feature with unknown features (in stable, where one probably wants to ignore at least the ones that are known to a nightly compiler), the behavior of unknown features in nightly (where they are probably an error), etc.

[2017-03-21 08:46] petrochenkov commented on #40691
Duplicate of https://github.com/rust-lang/rust/issues/40066

[2017-03-21 08:46] #40691 closed

[2017-03-21 09:35] nikomatsakis opened #40697 "refactor the `AssociatedItem` structures"
During the work on https://github.com/rust-lang/rust/pull/40668/, there was some discussion about refactoring the `ty::AssociatedItem` and `hir::{Impl,Trait}ItemRef` data structures. The precise plan is a *bit* unclear, so I'm opening this issue to try and discuss and lay it out.

Observations:

- Although `ty::AssociatedItem` lives in `ty`, it has no real dependencies and is based entirely on the

[2017-03-21 09:40] nikomatsakis commented on #40697
I think that having item-like things "out of line" makes sense in the HIR, but I'd (eventually perhaps) like to move towards unifying them into one vector, rather than having "items", "impl items", and "trait items" as 3 separate cases. i.e., I'd love to see a single `Map<DefId, ItemLike>`. To that end, perhaps we should move towards a (local) `DefId` as the key, instead of the newtype'd `NodeId`

[2017-03-21 10:10] est31 commented on #40066
I've stumbled across this problem earlier today, see my dupe report above. It was my first attempt at using that feature, and I wasn't aware that only ancestor modules are allowed, and this issue added to the confusion.

[2017-03-21 10:16] GuillaumeGomez commented on #35233
Make a smaller one would be nice. I'll close once the new smaller one has been created.

[2017-03-21 11:00] daym opened #40698 "rustc 1.16.0 on x86_64 seems not to pick up the LLVM NVPTX library but still uses it - linking error"
When I try to build rustc 1.16.0 on x86_64, I get

[code]

When doing the same on rustc 1.15.0 it builds and works fine.

The configur flags are:

[code]

llvm version is 3.8.1.

[2017-03-21 11:46] kw217 opened #40699 "Unhelpful lifetime error on .clone() refers to &&T, could suggest adding Clone"
In code that works with boxed closures (e.g., futures code), it is common to clone an argument so that it can be moved into the closure. If the argument is passed by reference, clone() will clone the value if there is a Clone implementation, otherwise it will pointlessly clone the reference.

If the Clone implementation is not present, rustc reports E0495 quite unhelpfully.

Please could rustc spo

[2017-03-21 12:24] rkruppe commented on #40698
Your LLVM was probably built without the NVPTX backend (not all that odd, considering the relative obscurity of that backend). We do have conditional compilation for when LLVM targets are missing, so to ensure Rust gets the right inputs for that, can you please check:

- whether you have the `LLVMNVPTX*a` libraries, and
- what `llvm-config --components` prints, and
- what `llvm-config --libs` prin

[2017-03-21 12:49] daym commented on #40698
[code]

[code]

[code]

[2017-03-21 12:53] tbu- commented on #11059
This seems to be "fixed" because it's no longer available to code that might feed NaNs, infinity or overflowing values to it.

[2017-03-21 12:56] Jaspi10 commented on #36235
As a non native speaker, who just read the section of the book again. I think it is pretty clear from context, what is meant with 'lifetime ellision' and I dont see a reason to change it.

As for connotation omitting to me is something one does purposefully and therefore here probably not fitting.

[2017-03-21 13:00] rkruppe commented on #40698
So the build script correctly picks up that the NVPTX component is there, but doesn't link against the libraries despite them being in the `--libs` list. Odd.

[2017-03-21 13:28] irfanhudda commented on #18604
I'll take a shot at this.

[2017-03-21 14:21] tbu- commented on #13281
Seems like we could close this issue (see reasoning in #27939).

[2017-03-21 14:26] alexcrichton commented on #29717
@gnzlbg do you feel that the currently implemented behavior is incorrect? Currently the compiler only sets `#[cfg]` attributes for what it's defined (nothing on stabled, enabled ones on nightly) and from the command line it looks like unknown features are warnings (albeit warnings printed out by LLVM so they look bad, but warnings nonetheless).

I'd ideally like to not delay this even further, so

[2017-03-21 14:30] petrochenkov commented on #40661
Both seems reasonable.
Maybe this warning can be shoehorned into some existing lint? Creating a new one just for this seems wasteful. (Maybe this should be an error just to avoid adding a new lint.)

[2017-03-21 14:40] jfager commented on #12279
Triage:  still produces slower code without `-O` ([godbolt link](https://godbolt.org/g/emePCa)).

[2017-03-21 14:52] jfager commented on #28293
Based on comments seems like this should be closed as intended behavior?

[2017-03-21 14:57] hirschenberger commented on #34341
Your format string is wrong. The syntax from the [doc](https://doc.rust-lang.org/std/fmt/index.html#syntax) is:

[code]

So the formatstring should be `{:>#08b}` and this works https://is.gd/Wpxf90

[2017-03-21 15:02] jfager commented on #28575
No longer ICEs ([playpen](https://is.gd/Vfgtzd))

[2017-03-21 15:04] eddyb commented on #28575
@jfager It requires `#![feature(intrinsics)]` now.

[2017-03-21 15:05] whoisj commented on #36235
The entire concept of lifetimes and ellision just makes my eyes roll up in my head. It is, honestly, one of the dryer yet more important things needed to understand Rust. Anything that can help the documentation not induce comas in readers is a good start. :laughing:

In all seriousness, this is a tough topic. Making the docs less terse and difficult to consume is a good idea, regardless of langua

[2017-03-21 15:08] gnzlbg commented on #29717
I feel that: the correct behavior of this feature (in particular, on stable) is not documented anywhere nor has been discussed at all here.

Without knowing what the correct behavior should be, it is impossible to know whether the currently implemented behavior is incorrect.

I would expect that the discussion here would be summarized in a 1-2 page long RFC and PR'ed to the RFC repo so that anybod

[2017-03-21 15:43] jfager commented on #28575
Ah, ok.  Still no longer ICEs, but fails with a linker error ([playpen](https://is.gd/Lubnuq)), if the distinction matters.

[2017-03-21 15:54] jfager commented on #28994
Still an issue ([playpen](https://play.rust-lang.org/)).

[2017-03-21 16:12] jfager commented on #25050
Still an issue, updated [playpen](https://is.gd/rM68qG)

[2017-03-21 16:16] arielb1 commented on #40593
Looks like an LLVM bug, unless we have some "hidden" UB somewhere:

For some reason, this IR:
[code]

Lowers the last call/or/select as
[code]

And a `bfi` is not a very good `select`. Oops.

[2017-03-21 16:48] makslevental opened #40705 "gdb no locals or args in function call stack"
<short summary of the bug>

I tried this code:

[code]

I expected to see this happen: on setting a breakpoint at `println!("captures: {:?}", c);` I expected to see `a, res, c` and `x` in local scope.

Instead, this happened:

[code]

## Meta

`rustc --version --verbose`: rustc 1.16.0 (30cf806ef 2017-03-10)

[2017-03-21 17:10] cuviper opened #40707 "ICE when testing num-macros"
The latest nightly is seeing an ICE when testing `num-macros`, which uses the old way to do custom `#[derive]`.  We should probably just kill this already in favor of `num-derive`, but an ICE is always a bug, so...

[code]

[code]

[2017-03-21 17:23] NeoLegends opened #40708 "API to split owned Vec into owned Vec chunks"
I just came across the situation where it would be very useful to be able to split a `Vec` into several owned chunks just like `std::slice::Chunks` without an additional allocation. It seems to me like one would only have to update some pointers and lengths. `split_off` (unfortunately) allocates, so it cannot really be used for performance-critical paths.

How are your thoughts on such an API? Is

[2017-03-21 18:13] nikomatsakis commented on #40652
I'm also inclined to think this is working as intended.

[2017-03-21 18:16] nikomatsakis commented on #40543
Seems like it would have to "calling **any** method on `const` if the type of that `const` involves `UnsafeCell`", roughly speaking. Right?

[2017-03-21 18:21] nikomatsakis commented on #36889
@topecongiro go for it:)

[2017-03-21 18:21] nikomatsakis commented on #36889
@topecongiro please feel free to ping me on irc (`nmatsakis`) if you encounter any difficulty...

[2017-03-21 18:30] alexcrichton commented on #40240
I've found [a segfault](https://github.com/mozilla/sccache/pull/83) in sccache, but I don't think it's affected the bots all that much. I've seen a segfault here and there but not nearly as commonly as the above error conditions.

[2017-03-21 19:13] sfackler commented on #40708
I don't believe this is possible with any allocator Rust currently supports.

[2017-03-21 20:00] jethrogb opened #40710 "Standard traits not derived for function pointers with different calling conventions"
[code]

Errors:

[code]

[2017-03-21 20:06] petrochenkov commented on #40710
See https://github.com/rust-lang/rust/issues/38848#issuecomment-270906268 for the reasons.

[2017-03-21 20:06] petrochenkov commented on #38848
I'll close this in favor of more general https://github.com/rust-lang/rust/issues/40710.

[2017-03-21 20:06] #38848 closed

[2017-03-21 20:13] jethrogb commented on #40710
I guess the cause for this is similar to reasons that various traits are not defined for very long tuples, arrays over 32 elements, etc. Should the compiler insert the necessary definitions automatically when needed?

[2017-03-21 20:24] jmesmon commented on #40708
It _might_ be possible without breaking Vec's current public API, but consider that we'd need to ref-count the memory allocation backing the Vec (as multiple Vec's now can refer to (different pieces of) the same memory allocation). And further accounting about what is still in use would need to be kept for more efficient memory utilization (ie: to prevent us from having 1 ref left keeping a massiv

[2017-03-21 20:29] TimNN opened #40711 "Interest in switching appveyor to docker"
So apparently docker is available on windows [[1]](https://docs.microsoft.com/en-us/virtualization/windowscontainers/quick-start/quick-start-windows-server) and appveyor [[2]](https://stefanscherer.github.io/setup-windows-docker-ci-appveyor/) [[3]](http://help.appveyor.com/discussions/questions/3412-vs2017-rtm-and-docker-support).

I was wondering if there was any interest in moving the appveyor b

[2017-03-21 20:34] jethrogb commented on #40158
Close this in favor of more general #40710?

[2017-03-21 20:39] pnkfelix opened #40712 "x.py test: compile-fail-fulldeps failures are reported as if they are in compile-fail"
When I naively run `x.py test --stage 1`, I will get failures from tests that require a stage 2 compiler. This is expected behavior.

However, I also expect for the report of the failure to reflect the fact that the failing tests were in one of the subdirectories dedicated to such tests, such as `compile-fail-fulldeps` or `run-pass-fulldeps`.

Unfortunately, today it seems that if you do the naive

[2017-03-21 20:42] #40158 closed

[2017-03-21 20:44] TimNN opened #40713 "Switch `run-make` tests from Makefiles to rust"
Rust currently has a suite of [`run-make`](https://github.com/rust-lang/rust/tree/master/src/test/run-make) tests, which generally test specific `rustc` invocations or behaviour,  or require external tools (eg. `grep` or `nm`).

The goal of this issue is to rewrite these `run-make` tests, which are currently written as Makefiles, in rust to a) get rid of the dependency on external tools such as `m

[2017-03-21 20:52] petrochenkov commented on #40713
cc https://github.com/rust-lang/rust/issues/38565#issuecomment-269504709

[2017-03-21 20:53] petrochenkov commented on #40713
IIRC, `diff` was a dependency as well, probably replaceable with `git diff`

[2017-03-21 20:59] steveklabnik opened #40714 "AsciiExt docs are incorrect"
https://doc.rust-lang.org/stable/std/ascii/trait.AsciiExt.html

but at the bottom

[code]

That is, they are not just for string slices, but also for `u8` slices, `u8`, and `char`.

I'm not sure what the right wording is here, exactly, maybe just drop the whole 'on string slices' bit.

I'm happy to mentor anyone who wants to tackle this issue.

[2017-03-21 21:12] alexcrichton commented on #40713
Oh dear I completely forgot about filing an issue to do this!

I would **love** to have this implementation, I think we should drop `make` as fast as we can. The test are horribly difficult to write and easy to get wrong whereas I think the equivalent Rust code would be much nicer to read.

I would discourage use of Python for basically the sole reason that "contributors to rust-lang/rust are like

[2017-03-21 21:15] alexcrichton commented on #40711
## ZOMG YES PLEASE

Or more seriously, I would *love* to do this. It would:

* Isolate us from changes in the AppVeyor environment (which happens from time to time)
* Allow easy reproduction locally
* Force us to write down what all our real dependencies are

I don't know if AppVeyor has support for this yet, but if they do then I see no reason to not implement this. I'd do it for OSX if I could..

[2017-03-21 21:45] sstewartgallus commented on #33626
@bitshifter Can you give a status update?

[2017-03-21 21:47] eddyb commented on #33626
@sstewartgallus PR is #39999, mostly ready except for needing #40658 to land first.

[2017-03-21 21:53] bitshifter commented on #33626
@sstewartgallus in addition to @eddyb's comment. Currently working on getting rebase with latest master to compile (asserts in LLVM during stage 1 build) and I still need to add a feature gate.

[2017-03-21 21:56] eddyb commented on #33626
@bitshifter you could try rebasing on top of my PR to see if that solves whatever issues you may hit.

[2017-03-21 22:02] MJDSys commented on #40593
@arielb1 Could you post the entire file, or give me steps to generate/investigate it locally?  I'm new to playing with rustc's codebase and would like to take a deeper look/follow along at home.

[2017-03-21 22:02] bitshifter commented on #33626
@eddyb yeah it might, the problem looks similar to the failing test that your PR solved.

[2017-03-21 22:09] ROCKNROLLKID opened #40716 "Move the main respo to GitLab + additional mirrors?"
Hello.

I am really enjoying Rust language and it's starting to turn out to be a great alternative to C. I love how everything you do, you release a source code, but I must admit it is a bit of a shame that you use GitHub as the main respo. What about moving the main respo to GitLab, which is open-source and it's very similar to GitHub in almost every way, if not better, and just keeping GitHub as

[2017-03-21 22:25] cuviper opened #40717 "error_index_generator cannot find -lLLVM-3.9"
I'm trying to build with an external LLVM that lives in a non-standard path, but I'm getting this error:

[code]

I'm using `--llvm-root=/usr/lib64/llvm3.9`, and its `llvm-config` reports the correct search path:

[code]

I don't know why `error_index_generator` is linking LLVM, but it seems to have picked up the library requirement without the library search path.  I guess one of its crate depend

[2017-03-21 22:31] cuviper commented on #40716
FWIW, many of the repos are already mirrored on GitLab: https://gitlab.com/rust-lang/
(unofficial, currently owned by @carols10cents and @frewsxcv )

[2017-03-21 22:42] jdhorwitz commented on #40159
I will start working on this today.

[2017-03-21 22:51] sfackler opened #40718 "Specialized implementation triggers type check error on call to trait method"
[code]

[code]

@aturon

[2017-03-21 22:53] sfackler commented on #40718
Minimized from https://github.com/sfackler/rust/commit/c674b23b29e0281a95fe9998124fcb477e3d6bc5

[2017-03-21 23:00] sfackler commented on #40718
@withoutboats pointed out that if you adjust line 8 to `<Self as SpecExtend<T, I::IntoIter>>::from_iter(it.into_iter())`, it compiles properly, so it looks like a type inference issue.

[2017-03-21 23:19] cuviper commented on #40717
FWIW, everything compiles fine if I kludge in `RUSTFLAGS=-Clink-arg=-L/usr/lib64/llvm3.9/lib`.

[2017-03-21 23:20] alexcrichton commented on #33063
No longer a problem that buildbot is gone!

[2017-03-21 23:20] #33063 closed

[2017-03-21 23:20] alexcrichton commented on #37171
Done!

[2017-03-21 23:20] #37171 closed

[2017-03-21 23:25] aturon opened #40721 "Infrastructure tracker"
# Status

## Monitoring

- [Homu queue](http://buildbot.rust-lang.org/homu/queue/rust)

## Known issues

- CI: currently experiencing a variety of problems that are causing the PR queue to back up:
  - Travis outages and other problems on macOS.
    - We are reporting these to Travis as they occur, and are told they are working on it, but the problems are greatly delaying our PR testing.
  - [scca

[2017-03-21 23:31] aturon commented on #40721
To folks who tend to monitor the PR queue or otherwise help out with infrastructure: for the time being, I'd like to try using this issue to centralize some tracking of what's going on with infrastructure, and ways people can get involved. Right now too much of this work is falling on too few shoulders (*cough* @alexcrichton *cough*) and we need to work on spreading it out.

If you see something a

[2017-03-22 00:16] luser commented on #40240
There's also [the pipe that's created in `Command::spawn`](https://github.com/rust-lang/rust/blob/cab4bff3de1a61472f3c2e7752ef54b87344d1c9/src/libstd/sys/unix/process/process_unix.rs#L36) to report failures back from `exec`.

[2017-03-22 00:45] arielb1 commented on #40593
@MJDSys

This looks like an LLVM bug, not a rustc bug.

[2017-03-22 01:39] MJDSys commented on #40593
@arielb1 That's fine, I'm just trying to learn more about the stack.  If you have a reference for how you got that, I'm happy to read that as well.

[2017-03-22 01:41] #40663 closed

[2017-03-22 02:27] withoutboats commented on #29717
@rfcbot reviewed

[2017-03-22 03:30] Cldfire opened #40724 "Rustdoc sidebar style change negatively impacts `src` view"
What it looks like on [nightly docs](https://doc.rust-lang.org/nightly/src/std/lib.rs.html):

![top_nightly](https://cloud.githubusercontent.com/assets/13814214/24180888/e53ca784-0e8d-11e7-999e-9c679b2004b6.png)

![bottom_nightly](https://cloud.githubusercontent.com/assets/13814214/24180898/f647b6f4-0e8d-11e7-81a7-9203409d0f6b.png)

The strange color change on the side with the new sidebar style l

[2017-03-22 04:35] #39080 closed

[2017-03-22 04:35] #39298 closed

[2017-03-22 04:35] #39317 closed

[2017-03-22 04:59] bstrie commented on #40721
@aturon Is perf.rlo updating? At the bottom it says "Updated as of: 12/30/2016, 1:24:27 PM"

[2017-03-22 05:54] bstrie commented on #40716
We're on Github for the network effects, the benefits of which are easily visible (compare rust-lang/rust to golang/go, the latter of which has fewer than half as many unique contributors, which I believe is a symptom of spending most of its life on Google Code). I do believe that we should support open source projects, and I also believe it's valuable to have an escape route plotted in case somet

[2017-03-22 06:04] HongbinZhou opened #40727 "The `char` hyperlinks are broken in section "Methods from Deref<Target=str>" of page: Struct std::string::String"
Hi,

I happen to find that the `char` hyperlinks are broken in section "Methods from Deref<Target=str>" of page: https://doc.rust-lang.org/std/string/struct.String.html

For example, in section: https://doc.rust-lang.org/std/string/struct.String.html#method.char_indices, when you click `char`, you will get a new page https://doc.rust-lang.org/std/string/primitive.char.html which is "Not found".

T

[2017-03-22 06:04] alanstoate commented on #40714
I'm interested in working on this

[2017-03-22 07:20] topecongiro commented on #36889
@nikomatsakis Thank you!

[2017-03-22 07:22] hirschenberger opened #40729 "Invalid formatstring don't produce compiler error"
This is related to #34341

The formatstring `{:#>b}` does compile although the docs say the syntax is:

[code]

The string `{:>#b}` would be correct for the above example.
I think more syntax-tests are required.

[2017-03-22 07:40] TimNN opened #40730 "Should ./configure generate config.toml instead of config.mk?"
As far as I know, getting rid of `./configure` is a desirable goal. As I understand it, it is kept mainly for compatibility reasons:

* It's used in the "standard unix workflow", ie. `./configure && make && make install`
* which is used by linux distros shipping rust?
* It's used in our ci infrastructure

Making `./configure` produce a `config.toml` file seems like a potential step in the right di

[2017-03-22 08:47] nikomatsakis commented on #13910
I think we can close this. The extension to arbitrary "smart pointers" etc feels like an RFC issue to me.

[2017-03-22 08:47] #13910 closed

[2017-03-22 08:52] nikomatsakis commented on #31849
I think this particular issue is effectively solved for quite some time now. Certainly the examples that @asajeffrey give no longer cause issues in the playpen.

[2017-03-22 08:52] #31849 closed

[2017-03-22 09:03] nikomatsakis commented on #40670
I tend to agree. This message is generated in `src/librustc/traits/object_safety.rs`, which houses the object safety analysis. The simplest fix would just be to adjust the wording to say "in the supertraits or where-clauses". It would be difficult -- but not impossible -- for us to distinguish the two, since at this phase in the compiler they are effectively unified. Doesn't seem worth the effort.

[2017-03-22 09:09] nikomatsakis commented on #40402
@steveklabnik

First, would you prefer to just stop hinting about `ref` in **any** let pattern, or just if you write `let e = ...`?

Second, do you think we should hint something like "consider `let e = &v[0]`"? Perhaps only if the RHS is an lvalue? (Well, I guess this error will always result from an lvalue anyway.)

[2017-03-22 09:38] gaurikholkar commented on #40670
Will take this up.

[2017-03-22 09:42] nikomatsakis commented on #40402
Fixing this requires doing a bit of plumbing. I don't have time to get into every detail so let me just jot down some notes about how the code works today (I was just reading it).

- The message is generated by the borrow-checker. It finds out about the move due to a call to `consume_pat()`, a callback invoked by the `ExprUseVisitor` (EUV) for moves from patterns. This callback does not currently

[2017-03-22 10:40] mmatyas opened #40733 "Run non-native tests on real device?"
I see there is now support for running the test suites in QEMU emulators (#39400). Unfortunately, multithreaded tests tend to throw panics, so instead of a rootfs, I'd like to send them to a real hardware for better results. Would this be possible? I'm mainly thinking about generic ARM/Linux devices, not something like Android phones.

cc @alexcrichton

[2017-03-22 12:18] petrochenkov commented on #39085
So, https://github.com/rust-lang/rust/pull/40043 landed without a fix for this issue (see https://github.com/rust-lang/rust/pull/40043#issuecomment-286570653 and below).
@nikomatsakis @withoutboats and @solson were mildly-against/mildly-for/undecided with regards to this change, so it is not implemented yet, but may be implemented in the future.

Arguments for:
- (technical) Bounds in other contex

[2017-03-22 13:45] hirschenberger commented on #40729
Sorry, I was wrong, the `#` is the fill character before the alignment and so ` {:#>#8b}` works as expected.

[2017-03-22 13:45] #40729 closed

[2017-03-22 13:46] kaini commented on #39056
I was recently hit by this bug as well and after further investigation I think that this might be a LLVM bug. I was able to reduce your test case to the following standalone LLVM-IR:

[code]

This compiles (`llc -mtriple thumbv6m-none-eabi -mcpu=cortex-m0 -O3 test.ll`; LLVM version 4.0.0) to:

[code]

As you have correctly noticed this extends `r0` into `r0:r3` (instead of `r0:r1`) and `r1` into `

[2017-03-22 13:47] gaurikholkar commented on #40402
Hi. Will take this up.

[2017-03-22 14:03] jonas-schievink commented on #40710
The tuple case can be handled via variadic generics. The fn pointer case, not so much (unless all of them implement a suitable common trait by magic).

[2017-03-22 14:22] alexcrichton commented on #40733
Right now we're unfortunately not really equipped to deal with this right now infrastructure-wise. We have pretty strict uptime requirements on our infrastructure in the sense of if anything goes down then nothing can make progress.

If we really do want to go down this route it would look like:

1. Develop a daemon to schedule builds
2. Hook the daemon up to github webhooks
3. Implement the daemo

[2017-03-22 14:25] daym commented on #40698
How do I debug the build script? It seems that stdout is already redirected...

Also, how do I invoke it the build script?

[2017-03-22 14:26] alexcrichton commented on #40730
Ah yeah so FWIW I don't envision us deleting the `./configure` script any time soon in the near future. It's handy (as is evidenced by our own infrastructure) to have a one liner for a shell script which can configure the build. While hand-editing `config.toml` is always preferable I think for development machines aren't so great at it.

That being said, I think removing `config.mk` would be great

[2017-03-22 14:43] alexcrichton commented on #40240
[These logs](https://travis-ci.org/rust-lang/rust/builds/213667917) are brand new with all sccache fixes I know of so far.

My guess is memory corruption somewhere, which would also explain EPIPE I think.

@luser yeah the problem with that pipe though is that I don't know how it's possible for the parent process to receive EPIPE :\. If we're randomly rewriting what fd you're writing to though (or

[2017-03-22 15:58] alexcrichton commented on #40417
@sfackler you wouldn't happen to have run into this before, would you have?

[2017-03-22 16:00] sfackler commented on #40417
I have never seen this, no.

[2017-03-22 16:13] jethrogb commented on #40710
fn-pointer case could also be handled by variadic generics, for the argument list at least. Then you just need one entry per calling convention which hopefully doesn't result in too much bloat. Array case could of course be handled by integer generics.

Are variadic generics something that is seriously considered for Rust's future? If so, we probably still need some kind of stop-gap measure here.

[2017-03-22 16:19] QuietMisdreavus commented on #40687
Got an initial implementation sketched out. Should I adjust where clause indentation at the same time, since those guidelines have changed since that implementation?

![rustdoc fn redux](https://cloud.githubusercontent.com/assets/5217170/24208314/505aa92c-0ef1-11e7-9614-afd03190ced4.PNG)

[2017-03-22 16:37] NeoLegends commented on #40708
Ah, so it's not possible to yield (nomoverlapping) fragments of a previous allocation back to the allocator?

[2017-03-22 16:43] sfackler commented on #40708
Yep. The only pointers you can pass to free are those returned from malloc.

[2017-03-22 17:00] jonas-schievink commented on #40710
Well, there's https://github.com/rust-lang/rfcs/pull/1935

[2017-03-22 17:02] krdln opened #40738 "RefCell::borrow_mut codegen broken on ARM"
I was trying to compile some programs on my `armv7l` machine and noticed that most programs using regex crate do panic. I've managed to narrow down the issue to a `RefCell::borrow_mut` call.

Test program:

[code]

Versions of Rust tested (installed using rustup, the exact toolchain is `nightly-armv7-unknown-linux-gnueabihf`, etc.):
[code]

This program works correctly on stable, but on beta and n

[2017-03-22 17:13] krdln commented on #40738
llvm ir for the `bm_once` function for `rustc +stable -O`:

[code]

On beta, the last store is different (the `WRITING` flag is written despite it's the end of the function):
[code]

[2017-03-22 17:16] steveklabnik commented on #40714
@alanstoate awesome! please let me know if you need any help at all, very happy to do so.

[2017-03-22 17:17] steveklabnik commented on #40727
I believe this is a duplicate issue, that is, this happens because these docs are rendered in two places and so the links only work in one.

That said, I can't find it right now, so let's keep it open until I do.

[2017-03-22 17:18] steveklabnik commented on #40716
hi @ROCKNROLLKID ! We try to keep the issues tracker for bugs only, and not discussion issues like this. A major change like this would require an RFC, but the best thing to do would be to open a topic on the internals forum, https://internals.rust-lang.org/ to have this discussion, and then if it's received positively, write the RFC after. Thanks!

[2017-03-22 17:18] #40716 closed

[2017-03-22 17:20] steveklabnik commented on #40724
This is also broken on beta, tagging as such.

[2017-03-22 17:21] petrochenkov commented on #40738
https://github.com/rust-lang/rust/issues/40593?

[2017-03-22 17:23] steveklabnik commented on #40402
I am mostly thinking about the former, that is, the latter is idiomatic use of `ref`.

That would be great.

[2017-03-22 17:24] arielb1 commented on #40593
Minified LLVM bug - will report to LLVM after seeing the status on 4.0:
[code]

[2017-03-22 17:25] arielb1 commented on #40738
Looks like it.

[2017-03-22 17:25] krdln commented on #40738
@petrochenkov Seems like the same bug, thanks! Somehow I missed that issue when searching, sorry for dupe.

[2017-03-22 17:30] #40738 closed

[2017-03-22 17:38] arielb1 commented on #40593
Reported as http://bugs.llvm.org/show_bug.cgi?id=32379.

[2017-03-22 17:52] sstewartgallus commented on #38218
I have a similar problem where Rust is generating vmov instructions and these workarounds don't seem to work. I am using an Intel(R) Celeron(R) 2955U @ 1.40GHz. I think this is due to me using a repr(simd) hack to obtain better alignment (see https://sstewartgallus.com/git?p=uevents-rs.git;a=blob;f=src/cacheline.rs;h=389ab14a9c331f22ecfe35ed91986b2071a6264a;hb=HEAD

[2017-03-22 18:29] leonardo-m opened #40741 "An improvement of box syntax"
I'd like this code to be supported:

[code]

Currently you have to use something like this (it's not DRY because you have to repeat [0;100] on the right, making the definition of the ArrType type kind of useless):
[code]

[2017-03-22 18:29] ollie27 commented on #40727
Dupe of #32129.

[2017-03-22 18:55] krdln commented on #40741
[code]

should work. Unfortunately only for array sizes up to 32. This will be fixed in the future though.

[2017-03-22 19:02] fintelia opened #40743 "Compiler panic constructing `Box<Fn(_)>`"
This code:
[code]
Produces this internal compiler error:
[code]

Interestingly, changing `Box<Fn(_)>` to `Box<Fn(&_)>` or `Box<Fn(&i32)>` causes the code compile fine (modulo unused variable warnings).

## Meta

`rustc --version --verbose`:
[code]

Backtrace:
[code]

[2017-03-22 19:05] ollie27 commented on #32553
This isn't a dupe of #32129. The issue here is the lack of the [`Methods from Deref<Target=str>`](https://doc.rust-lang.org/nightly/std/string/struct.String.html#deref-methods) section on the [`collections::string::String`](https://doc.rust-lang.org/nightly/collections/string/struct.String.html) page which I believe is because it's a `#![no_std]` crate. So this needs to be reopened.

[2017-03-22 19:43] nrc commented on #40721
No. @Mark-Simulacrum has been working on some improvements that should get it going again.

[2017-03-22 19:45] nikomatsakis opened #40744 "Consider changing the representation for `fn`-item types based on their ABI"
Currently, the types for fn-items are always zero-sized. As described in https://github.com/rust-lang/rust/issues/19925, this was defined in RFC 401, but the implementation lagged quite a bit from 1.0, and as a result a number of crates had to be converted because they were relying on transmutes from fn-item types into fn pointers -- generally speaking, these pointers were used in FFI situations.

[2017-03-22 19:46] steveklabnik commented on #40727
Thanks!

[2017-03-22 19:46] #40727 closed

[2017-03-22 19:54] est31 commented on #40730
I could have a look, but I'm not sure whether I'll be able to avoid GNU extensions. I guess macs still should be able to use it?

[2017-03-22 19:56] eddyb commented on #40744
I was going to suggest replacing the cases where you'd cast function pointers in C with varargs coercions.
That is, when the signature isn't the same on every call, which is the case for e.g. some callbacks, you would take a regular Rust `extern fn` and pass it where, e.g. `extern fn(i32, ...)` is expected.
But then I [was told that might be UB](https://twitter.com/eddyb_r/status/84357750485829222

[2017-03-22 20:23] nagisa commented on #40744
I would rather we kept uniformity here (between extern "Rust" and extern "else").

---

C itself has a different "syntax" for function pointers (or more correctly its types):

[code]

The equivalent of C’s

[code]

works just fine in rust:

[code]

works just fine due to coercions. A common use case of passing a "callback" function should work just as well:

[code]

So, I find wycat’s argumentatio

[2017-03-22 20:26] eddyb commented on #40744
@nagisa There are a few C APIs which need some sort of "opaque-yet-still-function" pointer.
If it's just the pointee type of one argument, that's easy, you cast that argument in the Rust function.

[2017-03-22 20:35] petrochenkov commented on #40744
A possible better alternative to using `transmute` is to add a new intrinsic `fn reify<T, U>(T) -> U` where `T` is required to be a function item type and `U` - a corresponding fn pointer type.
Pros:
- `transmute` is not encouraged
- fn type sizes are still uniform, `reify` doesn't care about size equality
- `reify`, unlike `transmute`, can be potentially [marked as safe](https://github.com/rust-l

[2017-03-22 20:43] bstrie commented on #7610
I'm not sure what the complete extent of the scope of this issue was intended to be, but our mangled symbols are indeed reversible (see @alexcrichton 's repo at https://github.com/alexcrichton/rustc-demangle/blob/master/src/lib.rs ). I highly suspect that the exact symbol mangling scheme isn't considered *stable* though, but I'd consider that to be a distinct issue that we'd need to tackle if we e

[2017-03-22 20:43] #7610 closed

[2017-03-22 20:58] mglagla commented on #33417
Removing `FromStr` in favor for `TryFrom<&str>` is definitely something to keep in mind for Rust 2.0.

[2017-03-22 21:01] rkruppe commented on #40698
The build script is compiled and invoked by Cargo as part of the larger build process orchestrated by rustbuild. Invoking it manually will be quite challenging. First, rustbuild sets quite a few environment variables, override `rustc`, etc. &mdash; though `--on-fail=sh`, or some other shell in place of `sh`, should put you into a shell that has all the right environment variables set. Second, even

[2017-03-22 21:01] sfackler commented on #33417
Yep, once this feature stabilizes we'll file an issue and tag it with 2.0-breakage-wishlist.

[2017-03-22 21:04] clarcharr commented on #33417
One thing to also consider is adding a `parse_into` method to `String` which uses `TryFrom<String>`. I find myself implementing `TryFrom` for both often if a type internally stores a `String` but still requires validation.

[2017-03-22 21:05] durka commented on #40741
@krdln that could be shorter

[code]

Another possibility (without `Default`) is this:

[code]

[2017-03-22 21:08] luqmana commented on #37945
Ok, I finally committed https://reviews.llvm.org/D27114 upstream. So we can either cherypick the commit or just wait til the next LLVM update.

[2017-03-22 21:12] stepancheg opened #40745 "BufRead::is_eof"
`is_eof` is convenient function when it has no additional overhead.

For `BufRead` it can be implemented as

[code]

[2017-03-22 21:14] tfheen commented on #40577
You probably just want to use `ts` from moreutils for this. (This is what Julia does.)

[2017-03-22 21:14] brson commented on #29717
I agree this needs to be documented before considering it for stabilization. I certainly don't know how it works in any detail. The mechanism seems to predate the RFC process. It needs end-user documentation at the least.

[2017-03-22 21:15] bluss commented on #37945
Whew! Congratulations and thanks for working on it.

[2017-03-22 21:24] eddyb commented on #40744
@petrochenkov I don't get the usecase though. If you unify (`if-else`, `match` or arrays) two different functions with the same signature, they will both reify-coerce, and if you're passing a function to something expecting a function pointer, it will reify-coerce yet again (this is actually older than the unify coercions).

The only real usecase of `transmute` on function pointers that I know of

[2017-03-22 21:26] Chaser53 commented on #34043
I don't mean to bump an old thread, but I am curious on the state of this.

I have come across this issue as well, but it only seems to appear in debug builds, not in release builds, although this could be a result of the optimizer.

[2017-03-22 21:26] steveklabnik commented on #39625
I am going to send in a PR for this based on @nagisa 's wording.

[2017-03-22 21:29] petrochenkov commented on #40744
@eddyb
My assumption was that people actually want `transmute` for some reasons, so I proposed a replacement.
If `transmute` or equivalent is *not* wanted, then this whole issue can be closed as not-an-issue.

[2017-03-22 21:36] steveklabnik commented on #40322
Docs team discussed this today. What we plan to do is basically what the original post says; but we want to make sure that we do it in a way that suggests *common* errors rather than hard-specifying that it can only return one of them. The practical consideration is that the "common" errors will be the exhaustive list, but that doesn't paint anyone into a corner later.

[2017-03-22 21:44] steveklabnik commented on #39850
This is fixed 🎊

[2017-03-22 21:44] #39850 closed

[2017-03-22 21:45] steveklabnik commented on #40301
fixed by https://github.com/rust-lang/rust/pull/40466

[2017-03-22 21:45] #40301 closed

[2017-03-22 21:47] steveklabnik commented on #32955
Tagging as p-low since this is for the old book; it'd be nice to have a PR!

[2017-03-22 21:49] steveklabnik commented on #30725
Since this is for the old book, p-low.

[2017-03-22 21:50] cetra3 commented on #40003
Just going to plug my code here. It is a bit more of an elaborate example: https://github.com/cetra3/apache_log/tree/recursion_limit

Are there any settings we can set to bump up this so-called recursion limit? Or is it hard set in the compiler.

[2017-03-22 21:51] nikomatsakis opened #40746 "migrate all "incremental tasks" to "on-demand queries""
As part of the plan to adopt the [red-green algorithm for incremental](https://github.com/rust-lang/rust-roadmap/issues/4), we want to make it so that users don't spawn tasks themselves (i.e., with `in_task` and `with_task`). Rather, they perform **queries** (via the new on-demand query mechanism). To this end, we have to migrate all of the existing tasks into queries.

I've started going through

[2017-03-22 21:54] steveklabnik commented on #31137
The reference has been moved out to its own repo, but @frewsxcv says he's gonna look at it and i will assist as needed.

[2017-03-22 21:54] eddyb commented on #40744
@petrochenkov The only use I've seen in the wild that can't be replaced with simply letting functions coerce to function pointers and *possibly* casting some pointers in the bodies of those functions, is that of incomplete function types in ABIs, i.e. where C more or less takes `void(*)()`, *not* `void(*)(void)` (0 args).

[2017-03-22 21:56] steveklabnik commented on #31227
nominating for next docs meeting

[2017-03-22 21:56] radix commented on #40247
I'm getting this with a simpler example:

[code]
where `self.nodes` is a `HashMap<FolderPath, _>`. If I change the return type to `impl Iterator<Item=FolderPath>` (no `&`) it doesn't crash any more, but I am getting some other compilation error. This code probably isn't correct, I just ran into the crash while trying to explore my way to the solution.

[2017-03-22 21:59] steveklabnik commented on #34289
Triage; this is a great first bug for anyone wanting to get started working on docs. I am happy to mentor anyone who's interested in tackling this!

[2017-03-22 22:00] steveklabnik commented on #34661
sub-bug of https://github.com/rust-lang/rust/issues/40322

[2017-03-22 22:00] nikomatsakis commented on #39497
I've been adapting the incremental compilation plan. I'm going to close this issue in favor of the new plan.

[2017-03-22 22:00] #39497 closed

[2017-03-22 22:00] steveklabnik commented on #34661
(as such, closing it in favor of that one, even though this one is older, as that one is more general)

[2017-03-22 22:00] #34661 closed

[2017-03-22 22:01] nikomatsakis commented on #39496
Closing this, as we've been adjusting plan and I no longer this this is a logical next step.

[2017-03-22 22:01] #39496 closed

[2017-03-22 22:03] nikomatsakis commented on #40304
I've decided it would be better to remove tasks, as described in https://github.com/rust-lang/rust/issues/40746

[2017-03-22 22:03] #40304 closed

[2017-03-22 22:03] radix commented on #40247
I noticed that before the panic, I do get a normal compilation error pointing to my `impl trait` usage:

[code]

[2017-03-22 22:03] nikomatsakis commented on #40305
we decided it would be better to just remove the bad methods, see https://github.com/rust-lang/rust/issues/40614

[2017-03-22 22:03] #40305 closed

[2017-03-22 22:09] radix commented on #40247
And here's code that eventually ended up working, for comparison (returning an iterator of references, and adding the explicit lifetime)

[code]

[2017-03-22 22:21] ollie27 commented on #40730
How about adding a command like `./x.py configure` to create `config.toml`? Writing it in Python would allow it run on Windows as well without MSYS.

[2017-03-22 22:32] CleanCut commented on #40672
@alexcrichton

Question: As an authorized TravisCI user, do you see a "Build" or "Rebuild" button on an individual OSX build that failed to run?  For example, on this page: https://travis-ci.org/rust-lang/rust/jobs/212689371

[2017-03-22 22:34] petrochenkov commented on #40730
I'd personally go as far as making `configure` mandatory again and `build` non self-sufficient.
Maybe it will help with rustbuild thinking for 10 seconds when asked to run a single test.

[2017-03-22 22:42] CleanCut commented on #40672
In both of the example links, there are both Linux and macOS builds that *started*, but were cancelled while running.  In addition, there are macOS builds that never started.

It appears that this may be a case of the entire build being cancelled before running to completion, and there were just more macOS builds at the end of the list...so they weren't started before the build was started.

I can

[2017-03-22 22:58] CleanCut commented on #40417
Looks a [lot like this.](http://stackoverflow.com/questions/37063202/getting-libcrypto-ar-error-while-compiling-openssl-for-mac)

The solutions there are manually patching OpenSSL makefiles, I believe.

I don't any more spare time at the moment.  If I get a chance, I'll see if I can figure out what method you are using to try to compile OpenSSL and see if it can be adjusted.  No promises. ;-)

[2017-03-22 23:07] eddyb commented on #34043
@Chaser53 It's not entirely. You can compile your code without debuginfo and it should be better.
We should make an effort to use `llvm.dbg.value` which doesn't require `alloca` to annotate variables.

I should mention I already hit a gdb bug in #40367 (which is only a minor improvement), so that's not encouraging, but I'll try to get a C reproduction for it and/or work around it.

[2017-03-22 23:53] nickbabcock opened #40749 "Nightly compiler error regression for struct array field"
The following code produces a compiler error (as expected) on stable, but the compiler crashes on nightly.

[code]

On stable:

[code]

On nightly:

[code]

[2017-03-23 00:20] Ledest commented on #40698
sed -i -r "/-DLLVM_TARGETS_TO_BUILD=/s/([^=])'/\1;NVPTX'/" configure
sed -i '/msp430/a("nvptx", "nvptx"),' src/tools/compiletest/src/util.rs
sed -i '/^LLVM_OPTIONAL_COMPONENTS=/s/ *$/ nvptx/' mk/main.mk

that help me build rust-1.16.0 with system llvm-3.9.1

[2017-03-23 00:31] alexcrichton commented on #40730
@ollie27 yeah that's a good point, writing this in Python would be quite reasonable I think. We shouldn't go too crazy though. We're better at maintaining Python than shell, but not by much.

@petrochenkov yeah I think that's a plausible idea!

[2017-03-23 00:33] alexcrichton commented on #40672
Oh thanks for the re-ping @CleanCut! So the problem here ended up being an upstream Travis issue which has since been fixed, so I'm going to close this.

To answer your questions, though, yeah we can definitely retry/cancel individual builds if necessary. The problem here was that the build was scheduled for a VM but some (presumably Travis) bug ended up making it so the build made no progress. Th

[2017-03-23 00:34] CleanCut commented on #40672
Okay, cool.  It's always nice when it's upstream's fault AND they fix it. ;-)

[2017-03-23 00:40] alexcrichton commented on #40417
Awesome find @CleanCut! Would you be up for sending a PR? We compile OpenSSL [here](https://github.com/rust-lang/rust/blob/8c4f2c64c6759a82f143e23964a46a65c67509c9/src/bootstrap/native.rs#L212-L315) and vendoring a patch somewhere in tree is totally fine to do.

[2017-03-23 01:08] CleanCut commented on #40417
Sure, I'll give it a shot.  Would you mind giving me a hint on how to execute said code on my own machine (up-to-date macOS Sierra)?  I haven't ever worked on Rust's own implementation, yet, and the .travis.yml file is...sorta involved.

I'd rather run it on my own machine until I get it right before committing & making a PR and waiting for the builders to get to it! ;-)

[2017-03-23 01:10] alexcrichton commented on #40417
Sure yeah, first you'll want to [change this line](https://github.com/rust-lang/rust/blob/8c4f2c64c6759a82f143e23964a46a65c67509c9/src/bootstrap/step.rs#L494) from `path/to/nowhere` to something more descriptive like `openssl`, and then it's just:

[code]

[2017-03-23 01:44] mandeep commented on #40670
Currently, working on this. Hope to submit a pull request tonight.

[2017-03-23 02:30] #31946 closed

[2017-03-23 05:14] alanstoate commented on #40714
@steveklabnik since all the examples on that page are using char's would it be worth updating one or two to show other types being used?

e.g
[code]

[2017-03-23 05:21] CleanCut commented on #40417
Hmmm.  It builds just fine for me.  I'll need to get it to fail...

[2017-03-23 05:25] CleanCut commented on #40417
Actually, it doesn't look like it's building openssl at all.  I just get this:

[code]

[2017-03-23 06:04] nagisa commented on #40744
So I've thought of "benefits" to keep all functions zero sized. I think these reasons are pretty convincing:

* Passing sized functions will "use" the 8 bytes/register where none is necessary. This is at odds with rust philosophy of 0-cost;
* Calling these functions from rust side will require indirect calls in all cases or, alternatively, with rigourous optimisation indirect calls in more non-obv

[2017-03-23 06:31] #40535 closed

[2017-03-23 07:06] daym commented on #40698
@rkruppe:

I have changed that. And now?

Thank you so much.

But if you want I can try to figure out what went wrong instead of just patching it out.

[2017-03-23 07:08] leonardo-m commented on #40741
I didn't know default() is so capable. Once Rust supports arbitrarily sized fixed-sized arrays this syntax becomes acceptable (but I didn't see this syntax in the Rust manual. If it's absent then it's worth adding):

`let a: Box<ArrType> = Default::default();`

So I close down the issue.

[2017-03-23 07:08] #40741 closed

[2017-03-23 07:15] estebank commented on #36279
Current output:
[code]

[2017-03-23 08:55] cramertj commented on #32409
This probably shouldn't have been closed since the documentation hasn't landed yet.

[2017-03-23 09:35] dimbleby opened #40754 "Derived Clone implementation is sometimes not usable"
At work we recently ran into a case that's essentially the same as #19034, in which `#[deriving(Clone)]` produces an implementation that's not usable when you'd hope - whereas the 'natural' implementation that any human would likely write is just fine.

So this is both less useful than it could be, and confusing.  (It took us non-trivial time to discover #19034 and understand the problem).

#19034

[2017-03-23 10:13] abonander commented on #40754
I think the "working as intended" statement was a little bit misleading when the message was more like "yes, `#[derive(Clone)]` is naive, and we're pretty much fine with that".

At this point, changing the behavior of `#[derive]` is probably a breaking change, but it might not necessarily be in this case, given that it would only make more code work that didn't work before.

I think the major reas

[2017-03-23 10:20] abonander commented on #40754
cc @jseyfried

[2017-03-23 10:36] SergioBenitez commented on #40707
This is a dup of #40663. Already fixed in the latest nightly by #40664.

[2017-03-23 10:37] SergioBenitez commented on #40695
This is no longer relevant as the latest nightly/Rocket work well together.

[2017-03-23 10:46] GuillaumeGomez commented on #40687
@QuietMisdreavus: Since you're already on it, try to catch up the format RFC. :)

[2017-03-23 10:52] killercup commented on #40687
I'd say go for it, the current style is shown out [here](https://users.rust-lang.org/t/new-style-guidelines/10037), or [in this example](https://github.com/rust-lang-nursery/fmt-rfcs/blob/f82ba2077f813f003b3507801135beda5634b43b/example/lists-elided.rs#L89-L98).

[2017-03-23 10:53] #40695 closed

[2017-03-23 10:54] seb-odessa opened #40755 "cargo build && cargo check cause "the compiler unexpectedly panicked""
How I faced it:
`$ rustup update`
`$ cargo new sqlite_demo --bin`
     Created binary (application) `sqlite_demo` project
`rust$ rustc --version`
rustc 1.16.0 (30cf806ef 2017-03-10)
`$ cd sqlite_demo/`

Add **rusqlite** dependency into Cargo.toml:

[code]
`$ cargo build`

    Blocking waiting for file lock on the registry index
    Updating registry `https://github.com/rust-lang/crates.io-index`

[2017-03-23 10:58] seb-odessa commented on #40755
[code]

[code]
error: Could not compile `sqlite_demo`.

Caused by:
  process didn't exit successfully: `rustc --crate-name sqlite_demo src/main.rs --crate-type bin --emit=dep-info,metadata -C debuginfo=2 -C metadata=16738e1e120f8bd4 -C extra-filename=-16738e1e120f8bd4 --out-dir /home/seb/workspace/rust/sqlite_demo/target/debug/deps -L dependency=/home/seb/workspace/rust/sqlite_demo/target/debug/de

[2017-03-23 12:52] seb-odessa commented on #40755
The issue was resolved by adding absent **time** dependence into Cargo.toml and installing **libsqlite3-dev**:

`$ cat Cargo.toml `

[code]

`$ sudo apt-get install libsqlite3-dev`
`$ cargo build`
   Compiling sqlite_demo v0.1.0 (file:///home/seb/workspace/rust/sqlite_demo)
    Finished dev [unoptimized + debuginfo] target(s) in 1.64 secs

[2017-03-23 12:53] arielb1 commented on #40749
Also in beta=1.17.

[2017-03-23 13:07] gnzlbg commented on #29717
**[Meta]**

---

This final-comment-period is not part of "This Week in Rust 174", probably because they just scan the RFC repo, and also, because this issue is not tagged here with an `fcp` label. I would like to be able to see everything in fcp in a single centralized place.

[2017-03-23 13:23] dbrgn opened #40757 "Compiler panic when running 'cargo check' with missing crate"
With both current stable and nightly...

    $ rustup update nightly
    $ rustup override set nightly
    $ rustc --version
    rustc 1.17.0-nightly (8c4f2c64c 2017-03-22)

...when compiling this crate...

[code]

[code]

...the compiler crashes on `cargo check`:

[code]

Here's the backtrace:

[code]

The problem does not happen when using `cargo run`:

[code]

Might be related to #40755.

[2017-03-23 13:46] steveklabnik commented on #40714
That'd be nice as well, yeah

[2017-03-23 13:56] wesleywiser commented on #40724
I'm looking into this. I see three potential options:

1. Make the sidebar white on the src pages. This would look the same as the old styling.
2. Shrink the width of the src view so it doesn't overlap with the sidebar. The sidebar is empty on src pages though so this looks kind of weird. If the sidebar retained its items from the other doc pages, this might look nice.
3. Make the sidebar color an

[2017-03-23 14:04] Cldfire commented on #40724
While I am certainly not the most qualified to weigh in on this, my thoughts would be that 3 is less than desirable (having a random grey stripe on the left side looks out-of-place regardless of whether the color matches or not), 2 would unnecessarily decrease the usability of `src` pages by decreasing the amount of horizontal space available to the code, and 1 is likely the best option.

[2017-03-23 14:11] alexcrichton commented on #40546
Unfortunately it looks like [this is not fixed](https://github.com/rust-lang/rust/pull/40676#issuecomment-288631752)

[2017-03-23 14:12] steveklabnik commented on #40724
1 seems good

[2017-03-23 14:16] wesleywiser commented on #40724
Ok. Option 1 it is!

[2017-03-23 14:21] alexcrichton commented on #40417
Oh right sorry! That patch looks correct but you'll also need to run the `./configure` script with the `--enable-cargo-openssl-static` argument I believe

[2017-03-23 14:26] #40577 closed

[2017-03-23 15:15] binarycrusader commented on #37406
Be aware that some platforms do not offer a static libc, such as Solaris. Fyi.

[2017-03-23 15:27] steveklabnik commented on #5551
The reference is now in its own repo, so I have migrated this issue: https://github.com/rust-lang-nursery/reference/issues/18

Side note: wow, a four digit issue ID. An endangered species at this point...

[2017-03-23 15:27] #5551 closed

[2017-03-23 15:29] steveklabnik commented on #29936
The reference is now in its own repo, I have moved this to https://github.com/rust-lang-nursery/reference/issues/19

[2017-03-23 15:29] #29936 closed

[2017-03-23 15:31] steveklabnik commented on #34289
Note: the reference has moved to https://github.com/rust-lang-nursery/reference, so PRs would go there.

I'm going to leave this one around since it's such a great first bug, but ideally, it would be filed on that repo.

[2017-03-23 15:31] steveklabnik commented on #34729
The reference lives in its own repo, so I have moved this there: https://github.com/rust-lang-nursery/reference/issues/20 Thanks!

[2017-03-23 15:31] #34729 closed

[2017-03-23 15:32] steveklabnik commented on #34803
The reference has its own repo now, I have migrated this issue over there: https://github.com/rust-lang-nursery/reference/issues/21 Thanks!

[2017-03-23 15:32] #34803 closed

[2017-03-23 15:34] steveklabnik commented on #34817
The reference has its own repository now; I've moved this to https://github.com/rust-lang-nursery/reference/issues/22

thanks!

[2017-03-23 15:34] #34817 closed

[2017-03-23 15:35] steveklabnik commented on #36427
The reference lives in its own repo now, I've moved it over there: https://github.com/rust-lang-nursery/reference/issues/23

thanks!

[2017-03-23 15:35] #36427 closed

[2017-03-23 15:36] steveklabnik commented on #38011
The reference lives in its own repository now, I've moved it to https://github.com/rust-lang-nursery/reference/issues/24

Thanks!

[2017-03-23 15:36] #38011 closed

[2017-03-23 15:37] steveklabnik commented on #38193
The reference lives in its own repo now, I have migrated this to https://github.com/rust-lang-nursery/reference/issues/25

thanks!

[2017-03-23 15:37] #38193 closed

[2017-03-23 15:37] durka commented on #40754
That's not the only reason. Currently `#[derive]` adds the necessary bounds directly to the type parameters. That's not the most sound approach, because as in #19034 the type parameters may be used in a way where `T: Clone` is either weaker or stronger than `TypeOfEachField<T>: Clone` (which is what the derived impl _actually_ needs to guarantee).

You could generate a `where` clause that directly

[2017-03-23 15:41] steveklabnik commented on #9826
I am going to give this one a close, as `cargo script` fills in this gap. Including it with cargo by default would be RFC-worthy.

[2017-03-23 15:41] #9826 closed

[2017-03-23 15:42] petrochenkov commented on #40754
@durka
It turns out that relaxing privacy checks is not enough :(
https://internals.rust-lang.org/t/lang-team-minutes-private-in-public-rules/4504/20

[2017-03-23 16:07] nikomatsakis commented on #39318
Nominating for lang-team discussion: there was some back and forth on the original PR. We should figure out what is the right venue/process to finalize decision here.

[2017-03-23 16:07] brson commented on #39984
Fix is enqueued.

[2017-03-23 16:14] sunjay commented on #39984
@brson Does this also fix my issue here? https://github.com/rust-lang/rust/issues/40662

If so, you can close that issue as a duplicate.

[2017-03-23 16:18] nikomatsakis commented on #40749
Backtrace: https://gist.github.com/nikomatsakis/613c5e570a4054ad2b2eddb60f58ba7b

[2017-03-23 16:26] #39731 closed

[2017-03-23 16:27] steveklabnik commented on #39731
Thanks has been fixed; we can build off of the `stable` branch when making a new release.

[2017-03-23 16:30] brson commented on #28362
Current output:

[code]

[2017-03-23 16:31] nikomatsakis commented on #28362
Seems clear that parser-lalr is wrong here.

[2017-03-23 16:32] nikomatsakis commented on #28362
However, I can see why it arises. `foo.bar` is not a valid type, after all.

[2017-03-23 16:33] nikomatsakis commented on #40662
I can validate that this is fixed by #40636

[2017-03-23 16:33] nikomatsakis commented on #40662
Closing as a dup of #39984

[2017-03-23 16:33] #40662 closed

[2017-03-23 16:33] nikomatsakis commented on #39984
@sunjay done

[2017-03-23 16:34] nikomatsakis commented on #10950
Closing as a duplicate of https://github.com/rust-lang/rust/issues/20671, which has a better explanation.

[2017-03-23 16:34] #10950 closed

[2017-03-23 16:36] nikomatsakis commented on #28546
Seems related to https://github.com/rust-lang/rfcs/pull/1414. I agree it'd probably be nice for this to work.

[2017-03-23 16:37] brson commented on #28546
Tracking issue https://github.com/rust-lang/rust/issues/38865

[2017-03-23 16:38] nikomatsakis commented on #28546
Closing in favor of #38865. I'll copy the example over there.

[2017-03-23 16:38] #28546 closed

[2017-03-23 16:39] ineiti opened #40760 "Compiler panic"
I'm a rust-noob. When compiling my experiments, I get a compiler-panic and it asked me to report here.

I tried this code:

[code]

I expected to see this happen: ponies - it compiles!

Instead, this happened:

[code]

## Meta

`rustc --version --verbose`:

[code]

Backtrace:

[code]

[2017-03-23 16:41] oli-obk commented on #40760
playground repro: https://is.gd/ZzaGoO

[2017-03-23 16:41] brson commented on #28509
The file in question does not exist at that path any longer.

[2017-03-23 16:41] brson commented on #28509
I'm inclined to close this. If somebody else discovers a licensing issue they can raise it again.

[2017-03-23 16:41] #28509 closed

[2017-03-23 16:42] rkruppe commented on #40698
OHH, you're not using rustbuild. Then all my advice so far was completely off, the build script didn't even run. Sorry, I should have seen that in the configure flags. The workaround @Ledest posted looks good then. As the makefiles will be gone in the next release (and have already been removed from the `master` branch over a month ago) I don't think there's much point in trying to hunt down what

[2017-03-23 16:43] aidanhs opened #40761 "impl Fn with generic associated type conflicts, succeeds with concrete type"
Wasn't really sure how to describe this issue, please edit title if there's a better summary.
[code]
http://play.integer32.com/?gist=021df0320a79df0146121b59c61ec287&version=undefined

The above compiles, but if you comment out the `works` line and uncomment the `fails` line (so there is only one impl of `Fn`), the compiler will error with:
[code]

I'm not clear why there seems to be an inconsiste

[2017-03-23 16:44] brson commented on #26325
This hasn't been updated in a long time. Anybody have new numbers?

[2017-03-23 16:45] ineiti commented on #40760
Shortest I found: https://is.gd/KMXbtw

[2017-03-23 16:46] brson commented on #29067
Does libs team care about this for completeness?

[2017-03-23 16:48] brson commented on #21679
This is quite speculative. Better testing is always good, but I don't think we need to keep this wishlist item around.

[2017-03-23 16:48] #21679 closed

[2017-03-23 16:49] steveklabnik commented on #20108
Given the above comments, I'm giving this one a close. If anyone is still seeing this ICE somehow, please open a new bug. Thanks!

[2017-03-23 16:49] #20108 closed

[2017-03-23 16:50] brson commented on #21081
Old bug without a test case. Closing.

[2017-03-23 16:50] #21081 closed

[2017-03-23 16:53] brson commented on #29205
Needs repro.

[2017-03-23 16:54] brson commented on #29205
Is this a bug?

[2017-03-23 16:55] brson commented on #22557
Expected behavior or not?

[2017-03-23 16:57] #18148 closed

[2017-03-23 17:05] #40599 closed

[2017-03-23 17:07] steveklabnik commented on #36235
Yes, after giving this some thought, this is the name of the feature, so changing it isn't something we can do in docs. And it's also chosen very specifically. Sometimes, this is a thing that happens.

As such, I'm going to give it a close. Thank you! ❤️

[2017-03-23 17:07] #36235 closed

[2017-03-23 17:07] durka commented on #40761
Minimized:

[code]

[2017-03-23 17:07] steveklabnik commented on #37894
This is done in the second edition of the book, closing!

[2017-03-23 17:07] #37894 closed

[2017-03-23 17:08] DirtGrubDylan opened #40762 "Converting &str to String"
As of now, there are several ways to convert a `&str` to a `String`. Without going into too much detail, a good resource to see the different ways can be found [here](https://mgattozzi.github.io/2016/05/26/how-do-i-str-string.html). Now, some of these methods, like `push_str`, `format!`, and `into` make sense, as they extend far beyond the scope of just converting a `&str` to a `String`. However,

[2017-03-23 17:08] steveklabnik commented on #35451
I don't think this is actually actionable. Closing.

[2017-03-23 17:08] #35451 closed

[2017-03-23 17:09] durka commented on #40761
Note that both are errors if the blanket impl is changed to `T: ?Sized`.

[2017-03-23 17:10] steveklabnik commented on #40079
@evelynmitchell the book is now in its own repo, over at https://github.com/rust-lang/book/issues/new

Would you mind re-opening this over there? I'd like to figure out how to fit it into the second edition of the book. Thank you!

[2017-03-23 17:10] #40079 closed

[2017-03-23 17:10] cuviper commented on #40707
Thanks - it does work with `rustc 1.17.0-nightly (8c4f2c64c 2017-03-22)`.

[2017-03-23 17:10] #40707 closed

[2017-03-23 17:12] steveklabnik commented on #30725
We've decided that the old book is accepting minor PRs, but not open issues. If you still want to improve this, please send a PR to https://github.com/rust-lang/book/, thank you!

[2017-03-23 17:12] #30725 closed

[2017-03-23 17:14] CleanCut commented on #40417
Okay.  That appears to compile openssl, albeit with much, much less output than the builders.

But the build succeeds! :-(  Any ideas on how I get it to fail?

[code]

[2017-03-23 17:15] alexcrichton commented on #40417
Ah yeah so the output is much less because the output is suppressed unless it fails (it's a ton and overflows our 4MB limit on Travis). Unfortunately the error is spurious, though, so I don't know how to reproduce :(

[2017-03-23 17:15] steveklabnik commented on #30880
Quoting myself from a while ago:

At this point, we have the second edition of the book in-tree. https://github.com/rust-lang/book is where the work is being done. We're accepting minor PRs for the first edition, but not tracking issues. As such, I'm going to give this a close. Please send in small PRs if you still care, and please feel free to open individual issues for problems with the second e

[2017-03-23 17:15] #30880 closed

[2017-03-23 17:16] steveklabnik commented on #32955
Update: we are accepting small PRs for the first edition of the book, but not keeping issues open. https://github.com/rust-lang/book is where you'd send said PR into; please do so if you want to see this fixed. Thanks!

[2017-03-23 17:16] #32955 closed

[2017-03-23 17:16] steveklabnik commented on #37383
We are accepting small PRs for the first edition of the book, but not keeping issues open. https://github.com/rust-lang/book is where you'd send said PR into; please do so if you want to see this fixed. Thanks!

[2017-03-23 17:16] #37383 closed

[2017-03-23 17:22] steveklabnik commented on #40762
There is no way to eliminate things in stable Rust. That is, we cannot make backwards incompatible changes.

`to_string` is considered idiomatic, generally. But each of the others are useful in their own situations. That is, the reason there are many ways to do this is that strings are very fundamental.

I'm going to file this as a docs bug to make sure the differences are made more clear.

[2017-03-23 17:30] CleanCut commented on #40417
Okay, I'm running the build in a loop until it fails.  We'll see if it's a race-condition that will occur on my machine.  I hope this isn't Travis-specific.

[2017-03-23 17:33] evelynmitchell commented on #40079
https://github.com/rust-lang/book/issues/559 opened
This one can now be closed.

[2017-03-23 17:43] eddyb commented on #39617
Most of it is in #40658 already, but I want to keep this issue open for tracking the move to a different crate.
I'm pretty sure we can do it by having generics over the `Ty` in `TyLayout` (and/or the context type), but keep `Layout` fully defined outside of `librustc`.

[2017-03-23 17:43] weiznich opened #40766 "Compiler warnings about inefficient incremental compilation"
While compiling [diesel](https://github.com/diesel-rs/diesel/issues/824)/[ring](https://github.com/briansmith/ring/issues/493) rustc emitted the following warning:
[code]

@sgrif  suspects this to be a bug in rustc rather than in diesel. So I will report this also here.

Environment:
rustc 1.17.0-nightly (8c4f2c64c 2017-03-22)
export CARGO_INCREMENTAL=1 RUSTFLAGS="-Zincremental-info"

[2017-03-23 18:00] nikomatsakis commented on #29717
@gnzlbg indeed, issues (and PRs) on rust-lang/rust should absolutely be part of TWiR!

[2017-03-23 18:20] timthelion commented on #28979
The use case that I see is not for writting production code, but for teaching. I really sucks to tell people that they have to be fluent in English to become programmers. The other situation is when you are writting a foreign language UI, if your UI has a text box labled "příjmení" but you end up putting the value in a variable named "last name" that is weird. Even weirder is if you have a feild n

[2017-03-23 18:30] alexcrichton commented on #29067
Yes seems fine to implement to me

[2017-03-23 18:35] jrobsonchase opened #40768 "Macros show up in rust docs when `pub use`'d"
From my understanding, macro re-export is unstable and feature-gated, but macros are showing up in rust docs when, for example, I have:

[code]

Which would seem to imply that they should be accessible from other crates, even though they can't.

rustc version:
    rustc 1.17.0-nightly (134c4a0f0 2017-03-20)

cc @jseyfried

[2017-03-23 18:40] dtolnay commented on #28979
@timthelion in the current implementation Rust does not simply dumbly ask the unicode standard whether something is a letter or not - it relies on the [XID_Start](https://doc.rust-lang.org/std/primitive.char.html#method.is_xid_start) and [XID_Continue](https://doc.rust-lang.org/std/primitive.char.html#method.is_xid_continue) unicode properties which has correct and intuitive behavior in all of you

[2017-03-23 18:42] CleanCut commented on #40417
15 builds in a row, no failures yet.

[2017-03-23 18:43] estebank commented on #35583
I believe the [current output](https://is.gd/aS0s3G) addresses this issue:

[code]

[2017-03-23 19:03] timthelion commented on #28979
@dtolnay thank you for the explanation. I hope you weren't offended by my use of the word "dumbly", perhaps that was a poorly chosen word.

[2017-03-23 19:09] iliekturtles opened #40770 "Beta regression: Option::unwrap() on a None value during macro expansion"
This issue started around the same time as #40631 which I initially thought was the real cause. Problem exists in beta and nightly on both [TravisCI](https://travis-ci.org/iliekturtles/uom) and [AppVeyor](https://ci.appveyor.com/project/iliekturtles/uom).

[code]

[2017-03-23 19:14] dtolnay commented on #28979
Nope, just pointing out that great minds think alike and the fine folks of the unicode technical committee had the same concerns that you did.

[2017-03-23 19:37] timthelion commented on #40006
I ran into what seems to be a very similar case. If you don't put a `;` at the end of a `match` block, then the compiler tells you very unrelated things: https://play.rust-lang.org/?gist=ab74d4c0f3dce8c095f79469bc69b072&version=nightly&backtrace=0

[2017-03-23 20:00] sgrif commented on #40766
This is coming from the use of `#[doc=$macro_var]` inside of a macro it seems

[2017-03-23 20:02] bluss commented on #40762
@DirtGrubDylan Specifically `to_owned` and `to_string`, those methods come from the ToOwned and ToString traits respectively and the traits have different meanings associated with them. It just happens that for the `str` type in particular, the ToOwned and ToString traits do the same operation.

[2017-03-23 20:06] alexcrichton commented on #40571
This has been resolved since then I believe, so closing.

[2017-03-23 20:06] #40571 closed

[2017-03-23 20:07] alexcrichton commented on #38878
Looks like https://github.com/rust-lang/rust/pull/40422 did the trick, we haven't seen this in ~2 weeks, so closing.

[2017-03-23 20:07] #38878 closed

[2017-03-23 20:09] alexcrichton commented on #37395
We haven't seen this in nearly a year, so this isn't doing much help staying open, so I'm going to close.

[2017-03-23 20:09] #37395 closed

[2017-03-23 20:12] alexcrichton commented on #35002
Fundamentally I believe this is unfortunately just impossible for us. We will always be required to perform network requests on Travis/AppVeyor and I don't see an end in sight to that.

That being said there are mitigation strategies for problems caused by this:

* Caching - we can leverage Travis/AppVeyor caching where possible as that's typically a more reliable connection
* Retries - we can jus

[2017-03-23 20:12] #35002 closed

[2017-03-23 20:15] nikomatsakis commented on #40593
triage: P-high

[2017-03-23 20:17] alexcrichton opened #40772 "Investigate caching .git data on Travis/AppVeyor"
The rust-lang/rust repo itself takes awhile to clone but we somewhat mitigate that with `--depth=1` clones. Our submodules, however, are much larger and unfortunately cannot be cloned with a `--depth` argument due to how the branches work. This typically means that cloning the LLVM repo takes quite a long time! Unfortunately this also [increases our chances](https://github.com/rust-lang/rust/issue

[2017-03-23 20:18] DirtGrubDylan commented on #40762
@steveklabnik Awesome. Yeah, strings are pretty important.

@bluss Right! I wasn't saying that these methods are intrinsically bad or anything. I just wanted to toss out my thoughts on keeping Rust from turning into the turgid monster that C and C++ have morphed into.
By no means do I claim to know, well, anything. I am still pretty new to programming, no less **Rust**. Just trying to be helpful.

[2017-03-23 20:18] abonander commented on #40754
So really, my statement still holds. I guess you could use `where` clauses for structs with all public fields, or only apply them to the types of public fields, but it's still only a partial measure.

Letting the user override the bounds seems like a pretty good compromise to me, although I think I would prefer allowing a selective override instead of requiring them to specify all bounds.

[2017-03-23 20:19] alexcrichton commented on #21239
Done!

[2017-03-23 20:19] #21239 closed

[2017-03-23 20:23] durka commented on #40754
Agreed re compromise.

On Thu, Mar 23, 2017 at 4:18 PM, Austin Bonander <notifications@github.com>
wrote:

[2017-03-23 20:25] alexcrichton commented on #21724
Ok, I think nowadays we're quite ready to be poised to do this! Specifically I believe the steps would look like:

1. First, familiarize yourself with [`dist.rs`](https://github.com/rust-lang/rust/blob/master/src/bootstrap/dist.rs) where all distribution related code lives.
2. Update Travis/AppVeyor to have the required software to perform xz compression (or whatever we choose)
3. For all tarballs

[2017-03-23 20:25] alexcrichton commented on #36970
This was done, and then undone, so I'm going to close.

[2017-03-23 20:25] #36970 closed

[2017-03-23 20:26] alexcrichton commented on #38801
This is [done](https://github.com/rust-lang/rust/tree/master/src/ci/docker/emscripten) now for emscripten! When wasm tests are passing we can set up CI.

[2017-03-23 20:26] #38801 closed

[2017-03-23 20:27] alexcrichton commented on #40733
At this time this is such an ambitious project (and such a massive investment on our part) that I don't think it will be facilitated by having an issue open for this unfortunately. We also do not have immediate plans for implementing and supporting this, so I'm going to close this.

[2017-03-23 20:27] #40733 closed

[2017-03-23 20:28] alexcrichton commented on #15880
Grammar bot is https://github.com/rust-lang/rust/issues/28592 and otherwise we basically have a supplemental bot running extra tests.

[2017-03-23 20:28] #15880 closed

[2017-03-23 20:30] alexcrichton commented on #40721
One longstanding spurious failure is general [network errors](https://github.com/rust-lang/rust/issues/40474) and I've [opened an issue](https://github.com/rust-lang/rust/issues/40772) which I believe will help mitigate at least one instance of that, and help implementing it would be greatly appreciated!

[2017-03-23 20:33] alexcrichton commented on #40417
Yeah i'm not sure if it's directly related to the version of tools used on Travis or what :(

[2017-03-23 20:33] sfackler commented on #40772
On the Travis side, it should just be a matter of enumerating all of the directories you want: https://docs.travis-ci.com/user/caching/#Arbitrary-directories

[2017-03-23 20:36] alexcrichton commented on #40772
Yeah unfortunately I don't actually know what directories are cached here. Is it just `.git`? (or maybe more?)

If it's just `.git` then this would make a great PR!

[2017-03-23 20:37] alexcrichton commented on #34278
I haven't seen this in a long time, so I will presume fixed.

[2017-03-23 20:37] #34278 closed

[2017-03-23 20:38] bstrie commented on #40713
@alexcrichton Define "quest issue"? Do you mean something like what we did for https://github.com/rust-lang/rust/issues/35233 ?

[2017-03-23 20:48] #35583 closed

[2017-03-23 21:19] luqmana commented on #37945
Using the testcase above
[code]
With the LLVM [patch](https://github.com/llvm-mirror/llvm/commit/2b66aeed20b61d42cd2782b94d5419c6faca49a1), both functions generate the same IR:
[code]

The patch is a bit more annoying to backport I now realize, since it uses a relatively new method that's not in our fork which requires cherry picking two more commits.

[2017-03-23 21:28] #39074 closed

[2017-03-23 21:34] bradleygibson opened #40773 "Bug report"
fn main() {
    let vec_str = vec!["a", "b", "c"];
    println!("vec_str: {:?}", vec_str.iter().foo("b").unwrap());
    println!("vec_str: {:?} again", vec_str.iter().foo("b").unwrap());
    println!();

/*    let vec_int = vec![1, 2, 3];
    println!("vec_int: {:?}", vec_int.iter().foo(2).unwrap());
    println!("vec_int: {:?} again", vec_int.iter().foo(2).unwrap());
    println!();
    let arr_i

[2017-03-23 21:35] bradleygibson commented on #40773
https://is.gd/3A1Byd

[2017-03-23 21:56] eddyb commented on #40754
@petrochenkov We have to wait for the trait system overhaul (aka "chalk") but I still think there's some hope - Haskell can handle this case AFAIK, and there's at least some "dumb" way of handling #29859 where given https://github.com/rust-lang/rust/issues/29859#issuecomment-157119682 you treat `T: Magic` as `T: Magic + Copy` which [*does* give the right error](https://godbolt.org/g/OEPuWp).

[2017-03-23 21:58] johnthagen opened #40774 "No unused import for std::f64 if only f64 types used"
I recently came across several instances of the following problem in a code base:

[code]

Why this didn't cause a warning baffled me for a while, until I realize that it was actually imported the *type* `f64`, even though I had been using it up until that point as a module like:

[code]

Then later, when I refactored the code (more complex than this toy example), something like this was left:

[c

[2017-03-23 22:04] estebank commented on #35698
This issue [can be closed](https://is.gd/448eAM) (changed in #39713):

[code]

[2017-03-23 22:09] estebank commented on #35400
[We no longer](https://is.gd/mINKnq) emit the missing field error in 1.17:

[code]

[2017-03-23 22:09] #35698 closed

[2017-03-23 22:15] briansmith commented on #40766
Yes, this seems to be what *ring* is doing that triggers this warning.

Does the use of `#[doc=$macro_var]` actually hurt incremental compilation performance? I.e. is this warning a false positive or is it a real issue when `#[doc=$macro_var]` is used?

If it really is causing performance problems, is there something I can do that is equivalent that won't? And/or is there something that can be cha

[2017-03-23 22:45] estebank commented on #33961
Similar issue: #35965.

[2017-03-23 22:48] estebank commented on #33254
The current output doesn't specify that `Self == Fixed13`, but [looks much improved](https://is.gd/5uA5AP):

[code]

[2017-03-23 22:51] estebank commented on #33375
The [current output](https://is.gd/xGT5xq) points out at the problem:

[code]

I believe this can be closed. CC @jonathandturner

[2017-03-23 23:10] estebank commented on #30096
[Current output](https://is.gd/PCRd8n) is much more complete and closer to what is requested:

[code]

I believe this ticket can be closed. CC @jonathandturner.

[2017-03-23 23:10] alexcrichton commented on #40546
[Another attempt](https://github.com/rust-lang/rust/pull/40777) to fix this

[2017-03-23 23:12] estebank commented on #30037
This ticket can be closed, given:

[code]

[Diagnostics](https://is.gd/ro9l7Y):

[code]

CC @jonathandturner

[2017-03-23 23:18] alexcrichton commented on #40713
Yep! Precisely like that

[2017-03-23 23:36] alexcrichton commented on #40417
I've compiled OpenSSL 50 times locally and it hasn't failed yet.

We are using the [`xcode8.2`](https://docs.travis-ci.com/user/osx-ci-environment/#Xcode-8.2) image on Travis which is also what I'm running locally, so I'm fresh out of ideas....

[2017-03-24 00:05] Robbepop opened #40781 "Exclude internal benches from rustc test harness"
This is a re-post from [this](https://github.com/rust-lang/cargo/issues/3853) Cargo issue as [alex c.](https://github.com/alexcrichton) pointed me to file an issue here.

**The Problem**

Currently `rustc --test` excludes benches in the `benches/` folder and includes internal benches within the crate.

Besides this assymetric behaviour functions annotated with `#[bench]` may be very compute intens

[2017-03-24 00:10] bronson commented on #9826
Leaves the `rustc --test` and `rustc --bench` gaps unfilled though.  :)

[2017-03-24 00:24] aidanhs commented on #40772
I've made a stab in #40780. It's not as simple as caching the .git directory - by the time the script runs, you already have a branch checked out and it's not really clear how you'd move the objects around. It's also not as simple as just copying `.git/modules` - I'd be pretty paranoid about that breaking if someone updates the branch of a gitmodule, as I doubt git it robust at handling people mes

[2017-03-24 00:45] jonathandturner commented on #33375
@estebank - the original report I think is talking about the bad error given for:

[code]

We still give the same confusing error:

[code]

[2017-03-24 00:46] jonathandturner commented on #30037
Definitely a bit better.

[2017-03-24 00:46] #30037 closed

[2017-03-24 00:47] martinlindhe opened #40782 "Improve error message for incorrect 'for' input"
Hello, with rustc 1.17.0-nightly (8c4f2c64c 2017-03-22), the following code

[code]
gives this error message:

[code]

An improved error message could add a hint : `did you mean 'for i in 0..2'`

[2017-03-24 00:47] jonathandturner commented on #30096
Yup, much better

[2017-03-24 00:47] #30096 closed

[2017-03-24 01:07] paholg commented on #26325
It seems fixed; the example that used to timeout and gobble ram now has no problems compiling.

[2017-03-24 01:07] #26325 closed

[2017-03-24 02:12] aidanhs commented on #40772
FWIW, CircleCI is a bit vague about how their git caching works:

https://circleci.com/docs/1.0/how-cache-works/#git-cache

This opacity combined with complaints about the caching ([[1]](https://discuss.circleci.com/t/slow-restoring-source-cache-30s-sometimes-2m/4653), [[2]](https://discuss.circleci.com/t/clearing-the-source-cache/2771)) is not reassuring. I could hazard some guesses at how they'r

[2017-03-24 02:15] aidanhs commented on #40711
Sadly, I suspect not many contributors have access to Windows server 2016 for isolating issues on ;)

(good idea regardless though)

[2017-03-24 02:26] retep998 commented on #40711
@aidanhs If you have Windows 10 Professional or Enterprise then you can use Windows Containers just fine.

[2017-03-24 02:30] antoyo commented on #30037
Well, it does not seem to fix the issue in the first post.
It is the same error message, isn't it?

[2017-03-24 02:32] jonathandturner commented on #30037
@antoyo - this one shows the code to put in the block

[2017-03-24 02:38] CleanCut commented on #40417
I did it about that many times as well, without failure.  :-(

That's frustrating.  I've had similar-in-flaky-nature CI-only problems with pypy on TravisCI and CPython on AppVeyor.  My project only has a few commits per week and only takes a minute or two to build, so I just re-run the builds until they pass.

Do you think TravisCI would be willing to let us have a copy of their VM to try to debug

[2017-03-24 02:48] jseyfried commented on #40768
@Pursuit92
`use` with macros should be feature-gated, but glob imports can bypass the feature gate (this is a bug -- the feature gate only got implemented for single imports).

That being said, we want to stabilize `#![feature(use_extern_macros)]` as is this cycle, so I don't think this is worth gating this gating today and breaking [procedural-masquerade](https://github.com/rust-lang/rfcs/pull/19

[2017-03-24 02:50] franco2k17 opened #40784 "I found a HUGE BUG WALLHACK"
Hi Plz contact me in twitter Its a huge Wallhack bug My brother is a spanish youtuber and his making a video about it

Contact me in twitter fast!   @francoocerro

Thanks hope i can fast (This bug works for everyone but its not that ez to find it contact me fast plz)

[2017-03-24 02:53] aidanhs commented on #40711
Huh, neat. Thanks for pointing that out, I wasn't aware.

[2017-03-24 02:55] franco2k17 commented on #40784
I can pass you the video + photos

[2017-03-24 02:55] retep998 commented on #40784
This repo is for Rust the _programming language_. Wallhack sounds like you're talking about Rust the _game_ which is very different.

[2017-03-24 02:55] #40784 closed

[2017-03-24 02:57] franco2k17 commented on #40784
Its a bug that you can see thru walls i can pass video + photos Plz Talk to my twitter i don't feel like saying it here because everyone is going to know , I want to owner to reply me this is a big bug problem that they have to fix

[2017-03-24 02:59] franco2k17 commented on #40784
Tellme where do i report plz!

[2017-03-24 02:59] antoyo commented on #30037
What I meant is that the error from the first post:

does not seem to have changed:

[2017-03-24 02:59] retep998 commented on #40784
Probably https://support.facepunchstudios.com/hc/en-us/requests/new

[2017-03-24 03:00] franco2k17 commented on #40784
you got any idea if i can be paid by finding a bug?

[2017-03-24 03:01] retep998 commented on #40784
I have no idea because I have no relation whatsoever to Rust the game. I only deal with Rust the programming language which does not have bug bounties at the moment.

[2017-03-24 03:03] jonathandturner commented on #30037
@antoyo - that part of the error is still correct, but there's an additional part now which gives more information:

[code]

[2017-03-24 03:04] topecongiro commented on #40773
A smaller example:
[code]
On Rust Playground, this ICE only for stable.
[code]

[2017-03-24 03:08] franco2k17 commented on #40784
Ok Hopefully they talk to me as soon as posible its a huge bug

[2017-03-24 03:50] wind2412 opened #40787 "To debug cargo project cause lots of 'symbol not found' problems on OSX"
My workspace is on OSX. If I `touch hello.rs`, `rustc -g hello.rs` and then `gdb -q hello` of a single .rs file, there won't be any problem and it will load symbols successfully. However, when I use `cargo new hello --bin`, `cd hello`, then `cargo build` and then `gdb -q target/debug/hello`, it will be a blast on my iterm full of messages as follows:

[code]

and so on.. My paste is only a small p

[2017-03-24 04:20] tbu- opened #40788 "Weird error message for missing symbol if module name is the same as a macro"
[code]

[code]

[code]

The weird thing is "expected function, found macro". `format::foobar` doesn't look like a macro. This also happens without the submodule `sub` (i.e. with an empty module `format`), the only difference is that no other candidate is suggested.

[2017-03-24 05:00] smangelsdorf opened #40789 "Compiler panic with missing (inherited?) associated types"
Two incomplete trait implementations triggered a compiler panic, when I was waiting for a compiler error to guide me on what to implement.

I've distilled my code down to this example:

[code]

[code]

I expected to see a compile error, though I'm not sure what the error would / should have said.

Instead, this happened:

[code]

## Meta

`rustc --version --verbose`:

[code]

Backtrace:

[code]

[2017-03-24 05:32] outkaj commented on #29367
I am curious to learn more about the steps needed to resolve this issue. Thanks!

[2017-03-24 06:32] jseyfried opened #40792 "Validate all `#[inline]` attributes earlier"
Today, the following compiles:
[code]

[2017-03-24 06:32] jseyfried commented on #40792
cc @SergioBenitez

[2017-03-24 07:49] michaelwoerister commented on #34278
:tada:

[2017-03-24 08:00] nagisa commented on #40772
We used to do this on buildbot didn't we? IIRC corrupted .git was pretty common occurrence.

[2017-03-24 08:01] aalexgabi commented on #9826
@steveklabnik As pointed earlier `cargo script` is not installed by default.

[2017-03-24 08:01] jimmycuadra commented on #33417
If we're going to leave [impl<T, U> TryFrom<U> for T where T: From<U>](https://github.com/rust-lang/rust/issues/33417#issuecomment-277037274) for a future RFC, is this feature then ready to stabilize now? I really don't want to miss another release cycle, so I'm hoping some folks on the Rust team have the bandwidth to discuss and make a decision.

[2017-03-24 08:09] tshepang commented on #29936
thanks @steveklabnik

[2017-03-24 08:16] ranma42 commented on #21724
I did some experiments with the compression by also tuning the order in which files are included in the archive and it looks like we might get further improvements. This is basically achieved by storing duplicate files one after the other, so that the stream compressor can encode them more efficiently.
The results and the `Makefile` I used for my experiments are available [here](https://gist.githu

[2017-03-24 08:25] GAJaloyan opened #40793 "Borrowchecker README.md"
Hi,

While going through the documentation of the [borrowchecker](https://github.com/rust-lang/rust/blob/master/src/librustc_borrowck/borrowck/README.md), I found that the section **Checking mutability of immutable pointer types** is repeated twice, which is probably a mistake (the second one should be aliasability). Same thing for mutable pointer types.

Is it a mistake or is it intended ?

I was

[2017-03-24 08:56] Zteve commented on #30880
This is entirely reasonable. I'm reading the second edition (I found this recently, but didn't know about it beforehand) and enjoying it immensely.  However, it petered out just when it got interesting!

More power to you.

[2017-03-24 09:01] #35400 closed

[2017-03-24 09:09] petrochenkov commented on #40773
This was fixed in https://github.com/rust-lang/rust/pull/39939

[2017-03-24 09:09] #40773 closed

[2017-03-24 09:30] daboross commented on #40761
Going off of what `durka` wrote, `impl<T: Sized> Trait for Associate<Assoc=T> {} ` succeeds...?

[2017-03-24 10:21] daboross commented on #40761
withoutboats just explained this in IRC:

It seems `impl Trait for OtherTrait` is actually the syntax for implementing methods on the `OtherTrait` trait object, so like `&OtherTrait` and `Box<OtherTrait>` could be used. Because of this, every type in the implementation has to be sized.

`impl<A, T> Trait for T where T: Associate<Assoc=A> {}` is the right way to write this without involving trait o

[2017-03-24 10:50] sfackler commented on #38980
@rfcbot fcp merge

This is a pretty straightforward binding to the underlying system APIs.

[2017-03-24 10:52] abonander commented on #39436
I'm going to tinker on this while I'm out of town over the weekend. @jseyfried bug me about this Monday evening-ish if I don't have a progress report by then.

[2017-03-24 10:56] oberien commented on #24745
With specialization this is not an issue anymore. If some library implements `Foo for Vec<T>` and I implement `Foo for Vec<Bar>` then with specialization both can co-exist and mine will be executed. Therefore I think that allowing implementations of traits for a type not defined in your crate but with a generic parameter from your trait could be allowed again. Do I miss another problem?

[2017-03-24 11:17] antoyo commented on #30037
My understanding is that this error message is for the code in the second post:
[code]
But the code from the first post still gives the same error, right?

[2017-03-24 11:37] aidanhs commented on #40772
I assume you're referring to https://github.com/rust-lang/rust/issues/34595, which looks like it happens because the cache may represent a partially cloned/corrupt git submodule. This was a problem even without caching (network failure then retry is unhappy because of this same corrupted state) and was seemingly resolved by deinit before update (https://github.com/rust-lang/rust/pull/39055) - the

[2017-03-24 12:16] arielb1 commented on #40754
@eddyb

The current feeling is that we do not want arbitrary traits to be coinductive, even with chalk.

[2017-03-24 12:18] arielb1 commented on #37945
Could you open a PR against rust-lang/llvm ?

[2017-03-24 12:22] arielb1 commented on #40770
cc @jseyfried

[2017-03-24 13:04] DenisKolodin commented on #39364
I have a similar problem. `recv_timeout` panics
Sadness that I can't predict when it happens: the bug appears not every time.

[code]

[2017-03-24 13:50] pnkfelix opened #40795 "Mac lldb debuginfo behavior differs based on abs/rel input source path (?!)"
I am observing varying behavior on my Mac depending on whether the input source files to `rustc` are denoted via an absolute source path or a relative one.

The test where I am seeing varying behavior is the `cross-crate-spans.rs` debuginfo test: https://github.com/rust-lang/rust/blob/master/src/test/debuginfo/cross-crate-spans.rs

In a nutshell: when I need to make a breakpoint for a line in the

[2017-03-24 13:52] pnkfelix commented on #40795
cc @michaelwoerister

[2017-03-24 13:52] DenisKolodin commented on #39364
Maybe it's important:
[code]
https://doc.rust-lang.org/src/std/sync/mpsc/shared.rs.html#503
[code]

[2017-03-24 13:58] pnkfelix commented on #40795
*If* we decide that this is a case of "doctor, it hurts when I do that."/"okay, don't do that." ...

... then an easy fix would be to add the line `#![crate_name="cross_crate_spans_test"]` to the file cross-crate-spans.rs

----

However, the specifics behind how this particular bug arises makes me wonder if it is worth a little investigation, to figure out if there is something deeper wrong here t

[2017-03-24 14:07] alexcrichton commented on #40474
Looks like we've got new failures reaching crates.io during the cargotest phase, and PRs to update that code to implement retries would be greatly appreciated!

[2017-03-24 14:18] steveklabnik commented on #40793
Seems like a mistake, yes.

The book is the only other thing, officially.

[2017-03-24 14:35] steveklabnik commented on #29367
Hey @outkaj !

So, for some context, I opened up one of these issues for every module in the standard library. So in some sense, this issue represents "read everything over and see if it's good enough yet." So it's very open-ended.

Looking at it now, some things that should be done to close this ticket:

- [ ] the [module docs](https://doc.rust-lang.org/std/os/) should have more than a partial se

[2017-03-24 14:52] steveklabnik commented on #29329
Update: I'm going to go through all of the ones that are still open today and elaborate on exactly what they need to have done to be considered closed.

[2017-03-24 15:06] alexcrichton commented on #21724
@ranma42 holy cow I had no idea we could get such a drastic improvement by reordering files, that's awesome!

FWIW the tarball creation itself is likely buried in [rust-installer](https://github.com/rust-lang/rust-installer) which may be difficult to modify but not impossible! Eventually I'd love to completely rewrite the rust-installer repo in Rust itself (e.g. `src/tools/rust-installer`) but tha

[2017-03-24 15:16] xfix opened #40796 "`[_; 33]` implements `Copy`, but not `Clone`"
From https://www.reddit.com/r/rust/comments/616rc8/rcpp_discusses_rust/dfcjk09/

The following code:

[code]

Causes the following crash in playpen, due to `[T; 33]` (where `T: Copy`) implementing `Copy`, but not `Clone`, but `Copy` trait requiring `Clone` implementation.

[code]

[2017-03-24 15:19] alexcrichton commented on #40772
Thanks for the investigation @aidanhs! I'll take a look at #40780 soon.

Also yeah @nagisa I'd want to be careful about a solution here. Bad caching can cause unending problems, so I'd want to make sure we're always in a situation where the tool we're caching is relatively robust to odd cache entries. For example `docker` I trust to do the right thing with caching (and naturally rebuilding when ne

[2017-03-24 15:23] steveklabnik commented on #40796
It's well known that this doesn't implement the trait, but it shouldn't ICE.

[2017-03-24 15:29] jonas-schievink commented on #40796
The ICE is also well known. Since `Clone` is a supertrait of `Copy`, but isn't implemented in this case, this is technically a prime example for unsoundness. The Compiler is basically correct in assuming this will never happen, hence the ICE.

Also see #24000 and #28229

[2017-03-24 15:51] alexcrichton commented on #40184
It looks like if the 6.3.0 gdb is run manually it produces the expected output, it's just when called by the build system that it fails as indicated.

[2017-03-24 15:53] pnkfelix commented on #23227
I'm going to close this ticket; given that we've moved from makefiles to rustbuild, any issues we have are probably different than what was described here.

[2017-03-24 15:53] #23227 closed

[2017-03-24 15:54] durka commented on #40761
Indeed, this normally isn't what you would do -- you'd use a blanket impl (i.e. `impl<T: Foo> Trait for T`, not `impl Trait for Foo`). Implementing on a trait object is occasionally legitimate (see `std::any::Any`), but rare.

Aside from that, I still can't explain the discrepancy in this issue. It seems like once the associated type is made generic, the compiler doesn't realize that `Associated<A

[2017-03-24 15:59] clarcharr commented on #33417
I think that the problem is that it'd be difficult to stabilise that feature after it's been stabilised and people have provided impls for both.

[2017-03-24 16:27] alexcrichton commented on #40184
This is specifically caused when the stdin to the gdb process is a pipe, not inherited. I have absolutely no clue why. I've got a patch to fix though that'll go in #40777

[2017-03-24 16:49] estebank commented on #30037
@antoyo #30035 is still open, this [was a follow up](https://github.com/rust-lang/rust/issues/30035#issuecomment-159402730) only about the `help: place this code inside a block` message not being relevant.

[2017-03-24 16:52] GAJaloyan commented on #40793
All right, I created a pull request for the README.md

I'll be going through the code then. Thanks for the info.

[2017-03-24 16:55] sanxiyn commented on #40006
@timthelion Can you file that as a separate bug? Thanks!

[2017-03-24 16:55] tbu- commented on #40796
Basically a duplicate of those.

[2017-03-24 16:59] anatol opened #40798 "Move libm bindings into separate crate"
It is a followup for https://github.com/rust-lang/rust/issues/39473

There is Rust cleanup activity that aims to move complex, platform-specific dependencies outside of `std`. For examples `libc` bindings were moved to its own crate and `std` links to it.

It worth checking if similar thing can be done for `libm` dependency. Decoupling `libm` library from `std` has advantages:
 - clear interface b

[2017-03-24 17:00] timthelion opened #40799 "Incorrect parser error when match statement is missing its ;"
I found an analog of bug #40006 (Forty thousand bugs, you've gotta be kidding me! :D You've put in a lot of work there!) and @sanxiyn asked me to file my own report, so here it is.

If you don't put a ; at the end of a match block then the compiler tells you very unrelated things: https://play.rust-lang.org/?gist=ab74d4c0f3dce8c095f79469bc69b072&version=nightly&backtrace=0

[2017-03-24 17:00] timthelion commented on #40006
@sanxiyn as you wish.

[2017-03-24 17:02] tbu- commented on #35121
Both `[!; 0]` and `&[!]` shouldn't be uninhabited, both types can accept the value `[]` (or `&[]`).

[2017-03-24 17:10] nagisa commented on #35121
Nobody said they are or should be uninhabited.

[2017-03-24 17:14] nikomatsakis opened #40800 "Settle desired semantics of divergence for purposes of coercion"
In #40224, I adopted the rule that one can coerce **into** the type `!` if your expression is considered to diverge (in short, returns, breaks, or must evaluate some expression of type `!`).

However, the code doens't quite implement that rule. As described [in this comment](https://github.com/rust-lang/rust/pull/40224#issuecomment-288770964), it actually uses the `self.diverges` flag of the `FnCt

[2017-03-24 17:37] steveklabnik commented on #40796
Okay! Sorry about that @xfix , I didn't see those when I was looking.

[2017-03-24 17:37] #40796 closed

[2017-03-24 17:46] steveklabnik commented on #29357
@adrianbrink I have added more specifics in the main issue above

[2017-03-24 17:46] steveklabnik commented on #40498
https://github.com/rust-lang/rust/pull/40505 was merged so I'm closing this, please let me know if that's wrong @projektir

[2017-03-24 17:46] #40498 closed

[2017-03-24 17:55] nikomatsakis commented on #40800
cc @rust-lang/lang @canndrew @arielb1

[2017-03-24 18:03] steveklabnik commented on #29354
@seankerr I've updated the issue with some more details here

[2017-03-24 18:05] nikomatsakis opened #40801 "Change which type variables fall back to `!`"
Right now, type variables fallback to `!` if they are the result of a `return` etc. The idea was that this represents a "dead control flow path", but it is not clear that this is the right rule, because those type variables often get 'caught up' in other paths.

In #40224, I [outlined another possibility in a comment](https://github.com/rust-lang/rust/pull/40224#issuecomment-287092982):

in partic

[2017-03-24 18:05] nikomatsakis commented on #40801
cc @rust-lang/lang @canndrew