[2019-06-06 12:24] pnkfelix commented on #55500
It would be worth trying to figure out whether this phenomenon is due to some problem specific in the rustbuild bootstrap process, or if it something that affects other clients using incremental compilation (and therefore would be a potential blocker for turning on incremental in release mode, cc #57968)

[2019-06-06 12:27] varkor commented on #61581
I think it would be ideal if we could print the unevaluated expression itself. (Though we might have to point out specifically that it's unevaluated in diagnostics if this proves confusing.)

[2019-06-06 12:49] oli-obk commented on #61581
that's what we are doing right now, but you end up with errors like `expected 3 got 3usize`. If we eagerly evaluated we'd even get `expected 3usize got 3usize`

These errors may just disappear if we manage to normalize before doing whatever causes the error.

[2019-06-06 12:54] eddyb commented on #61188
I suspect `rustc_typeck` is not enforcing it, and MIR borrowck, as I found recently, doesn't produce user errors from trait matching, but rather expects it to succeed, and only uses them to get lifetime obligations.

[2019-06-06 13:23] pnkfelix commented on #61226
triage: P-medium; the ICE to me appears to include enough information for a user to identify the offending character and work-around the problem (namely by getting rid of the character).

I do agree with @ehuss that there should probably be two distinct functions corresponding to the two distinct purposes that they identified for the current callers of `SourceMap::next_point`.

[2019-06-06 13:28] pnkfelix commented on #57373
triage: P-high. Removing nomination label.

[2019-06-06 13:29] pnkfelix commented on #61323
triage: P-high. Removing nomination.

[2019-06-06 13:30] pnkfelix commented on #61335
triage: P-medium, via same logic employed above to mark as deferred.

[2019-06-06 13:34] pnkfelix commented on #61402
This ICE itself arises from this line:

https://github.com/rust-lang/rust/blob/51dc52b9fe432a87ebbd5347fb64c1d9edc06b3e/src/librustc_typeck/check/wfcheck.rs#L264

[2019-06-06 13:44] pnkfelix commented on #61402
triage: P-high, assigning to self. Removing nomination.

[2019-06-06 13:48] pnkfelix commented on #61415
does T-compiler actually need to be tagged on this issue? Unless its exposing bugs for const generics themselves, I would think this is solely a T-libs issue, *maybe* T-lang, but not T-compiler?

[2019-06-06 13:50] pnkfelix commented on #61461
triage: P-medium.

[2019-06-06 13:52] pnkfelix commented on #61466
triage: If it truly is an incremental compilation bug, I'm not sure if there's anything we can do without more information on how to reproduce. Marking P-medium.

[2019-06-06 14:01] pnkfelix commented on #61549
triage: P-high because I cannot tell how bad this is. Assigning to self for further investigation.

[2019-06-06 14:03] pnkfelix commented on #61553
(Note that, from when I've seen it on multiple projects in and outside of Rust, the word "globally", for better or for worse, does not cover the scope of Earth's globe itself. The scope of "globally" is, unfortunately, often quite dependent on the *local* context...)

[2019-06-06 14:04] pnkfelix commented on #61553
triage: Leaving nominated to discuss at T-compiler meeting. (I suspect I may need to add T-lang as well, but I'll wait until the meeting to do so.)

[2019-06-06 14:05] pnkfelix commented on #61578
triage: P-medium. Removing nomination tag.

[2019-06-06 14:15] nikomatsakis commented on #61472
@shepmaster rustdoc does some different access patterns, especially around traits -- for example, it wants to print out whether or not a type is `Send`, *even if* there is no need for that (i.e., the crate doesn't ever do anything that would require `Send`).

[2019-06-06 14:17] nikomatsakis commented on #61472
So: I'm working on addressing the performance hurdles here, but I think that the "correctness side" is correct, and we ought not to revert it. The only real question is whether to issue a warning period. I'm not really sure how to go about doing that -- it may be possible, I'd have to think on it. I'd prefer to focus on improving the performance, however.

[2019-06-06 14:24] pnkfelix commented on #61323
assigning to @nikomatsakis with expectation that they will delegate.

[2019-06-06 14:24] pnkfelix commented on #57373
assigning to @nikomatsakis with expectation that they will delegate.

[2019-06-06 14:28] nikomatsakis commented on #61564
Looking at the code, I agree -- the examples need to be tweaked. I didn't dig deeply enough to understand the premise of the crate and whether it is indeed sound.

[2019-06-06 14:30] pnkfelix commented on #61188
assigning to self with intent to try to mentor.

[2019-06-06 14:34] varkor commented on #61581
Ah, I was specifically referring to the case when `_` is printed at the moment, which has been encountered quite frequently with const generics.

I agree the cases when it does print the expression, and they look the same as what's expected is confusing, but these seem more indicative of existing issues, like normalisation, than printing. Maybe the diagnostics, rather than the pretty printing, cou

[2019-06-06 14:36] scampi commented on #61466
@pnkfelix Can I try to provide you some info ?

[2019-06-06 14:37] mati865 commented on #61530
I was able to reproduce it on your branch with `-C target_cpu=native` and reduced it to https://github.com/mati865/curve25519-dalek/blob/ice/src/backend/vector/avx2/field.rs (it crashes without changing `target_cpu` but still depends on `packed_simd`).

Reproduction steps:
[code]
<details>
<summary>Click here for build output:</summary>

[code]
</details>

This is recent regression and bisection l

[2019-06-06 14:47] nagisa commented on #61553
I don’t… know, but consider, for example, why the `-Cmetadata` argument exists at all. Cargo uses it to support multiple different versions of the same crate linked into the same project (among other things). In that case you *do* want TypeId to be different between two different versions of `x`.

I’m not sure why cargo uses a different `-Cmetadata` hash there when compiling the `x` crate, but if

[2019-06-06 14:47] eddyb commented on #61476
I can't find a library change that would cause this (and rustdoc confirms that `Borrow` has the same set of `impl`s on `stable` and `beta`), marking as `T-compiler`.

[2019-06-06 14:51] QuietMisdreavus commented on #61477
Can confirm that the ICE on testing `arc-reactor` is not present in nightly.

[2019-06-06 15:00] mark-i-m commented on #58633
Same here. Seems to be working. Thanks @pnkfelix

[2019-06-06 15:05] #61578 closed

[2019-06-06 15:09] MageSlayer commented on #61553
@nagisa
In my concrete example there is just one crate containing Error type.
No different versions, no multiple dependencies.
I would expect TypeId for Error be the same.

/ No idea why ```-Cmetadata``` exists for.

I reported it to cargo repo.

[2019-06-06 15:09] pnkfelix commented on #61564
i'll look into this

[2019-06-06 15:10] shepmaster commented on #61472
Creating a sequence of 63 nested structs triggers this problem:

[code]

[code]

<details>

<summary> Whole program </summary>

[code]
</details>

[2019-06-06 15:13] pnkfelix commented on #61566
I'll look at this.

[2019-06-06 15:18] QuietMisdreavus commented on #61478
I checked `reciter` and it looks like the ICE isn't present on nightly.

[2019-06-06 15:21] QuietMisdreavus commented on #61479
Confirming the ICE is no longer present on nightly.

[2019-06-06 15:46] jplatte commented on #45510
This seems like it has been fixed (by https://github.com/rust-lang/rust/pull/55986) and can be closed, no?

[2019-06-06 16:22] jeff-davis opened #61589 "rustc crash"
[code]

Can be reproduced with https://github.com/jeff-davis/postgres-extension.rs/commit/8c12f124e42f1b1f88fb3fcc24daea6b6bb2a5eb by ``cargo build`` of the ``examples/udf-spi``.

[2019-06-06 16:25] jonas-schievink commented on #61589
I can't seem to reproduce this, so maybe this is an incremental compilation problem. Can you try running `cargo clean` and then `cargo build` again?

[2019-06-06 16:52] Nemo157 opened #61592 "Rustdoc rendering of underscore_imports a.k.a. impl-only-use is unuseful"
I tried using a lot of `pub use Foo as _;` in futures to avoid issues with preludes and extension trait shadowing, unfortunately Rustdoc currently doesn't seem to have any special handling of this feature resulting in a big list of exported `_` traits:

<img width="401" alt="Screenshot 2019-06-06 at 18 50 37" src="https://user-images.githubusercontent.com/81079/59050952-fb551680-888b-11e9-8093-184

[2019-06-06 17:01] jeff-davis commented on #61589
Now it works, but I fear I've lost information that might have helped track it down.

[2019-06-06 17:04] jonas-schievink commented on #61589
@jeff-davis do you perhaps remember the changes you made to the code before the ICE first appeared?

[2019-06-06 17:16] Centril commented on #61533
@oli-obk Something in that spirit yeah.

[2019-06-06 17:25] jeff-davis commented on #61589
I repro'd it building ``HEAD^`` and then incrementally building ``HEAD``

[2019-06-06 17:31] jonas-schievink commented on #61589
Yep, can reproduce on 1.35.0. It appears to be already fixed on beta and nightly though.

[2019-06-06 17:32] jeff-davis commented on #61589
Thanks!

[2019-06-06 17:44] oconnor663 opened #61594 "ICE on nightly: "Forcing query with already existing DepNode.""
Cargo/rustc version:

[code]

Repro:

[code]

[2019-06-06 18:07] sfackler commented on #61594
I just ran into this as well.

[2019-06-06 18:08] Alexendoo opened #61595 "ICE with index out of bounds const_err"
Originally stumbled upon through the eval IRC bot: https://play.rust-lang.org/?gist=56ee292ac11008f001f7d1093bacd982&version=stable&mode=debug

Here's the smallest reproduction I could get, [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=32a8ca4e151f66a2b4681b2a81934f40)

[code]

Removing either the block or the borrow displays only a normal compiler error (not

[2019-06-06 18:21] lnicola commented on #57724
Update: `rand 0.4.3` is used by `phf_generator`, `rayon_core` and `redox_users`.

[2019-06-06 18:28] cuviper commented on #57724
That's with `rayon-core 1.4.0` -- `1.4.1` only uses `rand 0.5` as a dev-dependency.

[2019-06-06 18:29] lnicola commented on #57724
I didn't check now, but at some point `rustc` was using an old version of a custom fork of `rayon`.

[2019-06-06 18:30] cuviper commented on #57724
`rustc-rayon` has rebased since then, so it already reflects that dependency change.

[2019-06-06 18:32] jonas-schievink commented on #61589
Yeah this should've been fixed by https://github.com/rust-lang/rust/pull/57698, to be specific. Closing as fixed.

[2019-06-06 18:32] #61589 closed

[2019-06-06 18:42] asutherland opened #61596 "Expose AST ranges of definition body bounds in save-analysis data"
We've recently updated the Firefox searchfox code indexer to do a "position:sticky" trick so that namespaces/class definitions/method definitions provide context for the source code you're looking at.  Our Clang indexer has easy access to the C++ AST to expose this information, but our rust indexer depends on the save-analysis data which only has access to the locations of the token/symbol being d

[2019-06-06 18:47] nikomatsakis commented on #34901
The real *danger* would be if you could invoke rust-call things on stable. I think the main danger vector would be `Fn::call` , but the following is (separately) unstable for me, not sure how one would do it:

[code]

[2019-06-06 18:52] cramertj commented on #34901
I'm confused as to why this is a problem. There's no stability hole here, since it's impossible to define functions with this ABI on stable. Just in the same way that it is possible to use a proc macro that uses `#![feature(proc_macro_hygiene)]` without using the feature gate yourself, or to use a function written using a library feature that you have not enabled in your own crate, I would not exp

[2019-06-06 18:53] nikomatsakis commented on #34901
(Not to say we shouldn't require a feature gate at call sites, I dont' have a problem with that)

[2019-06-06 19:00] nikomatsakis commented on #61553
So, I think the term global here means "global to within one binary". When you build a given binary, the type-id for the same type ought to be consistent for all uses of that. But if you have the same crate with distinct metadata, that is treated by the compiler as two different versions of the crate -- i.e., there are two types. This is like having two distinct cargo versions. I *think* that's wh

[2019-06-06 19:00] cramertj commented on #34901
@nikomatsakis yeah, sorry, to clarify: I don't think it's *wrong* to feature-gate call sites, I just don't think it's a serious bug to *not* feature-gate call sites.

[2019-06-06 19:01] Centril commented on #57012
Postponing until a future meeting.

[2019-06-06 19:03] ehuss commented on #61549
I've discovered the problem.  SmallVec is assuming that once an iterator returns None, it doesn't resume.  I'll try to get a fix together.

[2019-06-06 19:13] QuietMisdreavus commented on #61562
This is strange; it looks like the behavior for detecting doctests changed? What's the commit range for `stable...beta`? I don't remember any major changes to doctest detection, but i haven't looked into that yet.

[code]

The doctest in question (the one at the very end of the crate docs) seems like it's not being run at all on stable. When i extracted the doctest into a standalone crate, it fail

[2019-06-06 19:13] MageSlayer commented on #61553
Ok. Now I begin to see the idea.
But I still fail to see why the same crate gets distinct metadata.

Also you can easily see that library TypeId is also the same as main binary's, but still different between two compilations.

[2019-06-06 19:56] QuietMisdreavus commented on #61562
It looks like this was caused by https://github.com/rust-lang/rust/pull/60140 giving pulldown the ability to detect more doctests. It looks like this doctest was accidentally ignored by the older version of pulldown, which the crate author didn't notice before publishing. (The repo also hasn't been touched after the new pulldown was enabled, which is probably why this wasn't noticed.)

@rust-lang/

[2019-06-06 20:26] maddanio opened #61600 "consider "delegated ownerwhip""
hello,

i have been closely watching rust. coming from, and firmly staying, in c++ development and intimately knowing the issues rust is trying to solve.

my biggest issue with rust is the fact that to enforce ownership the way rust does any object graph either needs to be a tree, or one needs to completely give up on deterministic life times by using shared pointers (rc/arc).

i think this could

[2019-06-06 20:35] GuillaumeGomez commented on #61562
It's a fix so I wonder if this applies the same way...

[2019-06-06 20:39] jonas-schievink commented on #61600
Language feature requests like this need to go through our [RFC process](https://github.com/rust-lang/rfcs), so I'll close this issue in favor of that. A good place to start discussing new features without having to write an entire RFC is by opening an issue in the issue tracker of the RFCs repo or by posting on https://internals.rust-lang.org/.

This sounds similar to arena allocation, which can

[2019-06-06 20:39] #61600 closed

[2019-06-06 20:44] GuillaumeGomez commented on #61592
Well, looks as expected from my opinion. 🤣

What you suggest that rustdoc should do in this case?

[2019-06-06 20:46] GuillaumeGomez commented on #61487
That's because const-generics support continues to be added into rustdoc. Thanks for opening this issue, I'll fix it soon.

[2019-06-06 20:59] maddanio commented on #61600
hey, thanks for the quick response. will try to dig into that. if what you say is true (i.e. only allowing immutable access) then its not quite what i was imagining. but to be taken serious i really need to dig further. thanks!

[2019-06-06 21:08] DutchGhost commented on #61487
No problem. I'll be happy trying to find more of these, so when the feature finally rolls out, we can generate clean and neat documentation for it :D

[2019-06-06 21:22] Nemo157 commented on #61592
I really can't think of something that's super obvious. What I would want is to have the original name in there as the main link, but somehow making it obvious that the name isn't actually visible at this path.

Actually, looking at this a little more there is an actual bug here that really makes these docs unusable, all those `_` traits link to the page `futures/prelude/trait._.html`, which then

[2019-06-06 21:54] pietroalbini opened #61604 "azure: retry downloading the AWS CLI on network errors"
It might happen that [downloading the AWS CLI fails](https://dev.azure.com/rust-lang/e71b0ddf-dd27-435a-873c-e30f86eea377/_apis/build/builds/451/logs/445) due to a spurious network error.

The implementation should be really similar to https://github.com/rust-lang/rust/pull/61485, but applied to the AWS CLI download on Linux.

[2019-06-06 21:55] howaboutsynergy commented on #61461
fyi, `rls` built for me with latest rust:
[code]

`-rwxr-xr-x 1 user user 506258512 06.06.2019 23:42 rls*`

[2019-06-06 21:57] GuillaumeGomez commented on #61487
Sure, but you'll have to be on nightly to keep up to date. :p

[2019-06-06 22:04] jonas-schievink commented on #24183
Triage: This still happens

[2019-06-06 22:10] jonas-schievink commented on #26634
This now fails to compile with "defaults for type parameters are only allowed in `struct`, `enum`, `type`, or `trait` definitions". We might want to close this just like https://github.com/rust-lang/rust/issues/26633.

[2019-06-06 22:18] GuillaumeGomez commented on #61592
Sounds like a good idea. I'll try to do it \*soon\*.

[2019-06-06 23:26] varkor commented on #61516
After https://github.com/rust-lang/rust/pull/61570, this isn't fixed, but commenting out the `.len()` call will cause it to error without ICEing (at the moment, it ICEs even without that line).

[2019-06-06 23:35] varkor commented on #61410
After https://github.com/rust-lang/rust/pull/61570, the inference issue is fixed, but there's another error:
[code]
Due to https://github.com/rust-lang/rust/blob/c5b39195f4a525a0ee29e39a114b6586c79a3c45/src/librustc_typeck/astconv.rs#L216
It uses `infer_args` (which is `false` if any generic args have been provided explicitly) as a proxy for "have any type arguments been provided explicitly". Howe

[2019-06-07 00:00] varkor commented on #61410
We can change the check to:
[code]
which removes the "cannot provide explicit type parameters" error, but I think the problem then is that the explicit const arg gets provided *before* the `impl Trait` implicit arg, whereas type arguments are always expected to come before const args. I'll look into this further tomorrow.

[2019-06-07 02:34] czipperz opened #61607 "Mark `alloc::layout::from_size_align_unchecked` as const function."
Use is case making a global variable for a `Layout`.

[2019-06-07 03:52] DCjanus commented on #61390
Try to build [tide](https://github.com/rustasync/tide) with nightly-2019-06-06, got an ICE seems same with this issue.

<details>
  <summary>RUST_BACKTRACE=1 cargo +nightly-2019-06-06 build</summary>

[code]

</details>

[2019-06-07 04:21] L117 commented on #61543
@oli-obk Are there any reasons to not use constant/static slices and convert them to vecs on demand?

Or maybe even convert
[code]
to something like
[code]
so there's no need to allocate vecs (In all cases) anymore?

[2019-06-07 04:28] smohantty opened #61609 "Installing Rust Failed"
Env:
 Ubuntu 16.04 LTS

Error Log:
 info: downloading installer

Welcome to Rust!

This will download and install the official compiler for the Rust programming
language, and its package manager, Cargo.

It will add the cargo, rustc, rustup and other commands to Cargo's bin
directory, located at:

  /home/subhransu/.cargo/bin

This path will then be added to your PATH environment variable by modif

[2019-06-07 04:31] smohantty commented on #61609
By directly running below command in the command prompt it dosen't give any error.

**Command**:
 curl --proto '=https' --tlsv1.2 --silent --show-error --fail --location https://static.rust-lang.org/dist/channel-rust-stable.toml.sha256

**OutPut**:
e6118276ddab3e00a967e11583685e3205564e31e4007968056ffd0878db19c0  channel-rust-stable.toml

[2019-06-07 04:31] #18384 closed

[2019-06-07 05:03] smohantty commented on #61609
The ssl3 error is gone by unsetting proxy.

Command:
unset http_proxy
unset https_proxy

[2019-06-07 05:03] #61609 closed

[2019-06-07 07:13] yodaldevoid commented on #61390
@DCjanus Your issue looks like it has nothing to do with this issue, and is instead a separate issue. Could you please file a new issue?

[2019-06-07 07:20] L117 opened #61611 "x.py fails (timeout) to download components"
I just cloned this rust repo and attemped to build it by calling
[code]
It initialized submodules, started downloading `rust-std` and failed repeatedly:
[code]
Waiting longer causes messages above to repeat.

It's not connection issue, because it always fails after ~30 seconds of downloading (Messages above repeat in ~2 minutes).

I also tried changing `30` to `9999` here:
https://github.com/rust-

[2019-06-07 08:03] mati865 commented on #61594
It's the same as https://github.com/rust-lang/rust/issues/61530

[2019-06-07 08:10] gnzlbg commented on #61594
Similar error on many stdsimd targets, e.g., aarch64: https://travis-ci.com/rust-lang-nursery/stdsimd/jobs/206228395#L941

[code]

[2019-06-07 08:26] pnkfelix commented on #61200
I tried to reproduce locally, and like @matthiaskrgr , I was not able to do so on a clean build. Presumably the problem stems from something with old build artifacts.

Closing as non-reproducible. We should instead focus our efforts on either resolving the issues where we have enough information to reproduce (like #60228), or on finding a replacement for rustbuild.

[2019-06-07 08:26] #61200 closed

[2019-06-07 08:36] nifker commented on #55467
Will this ever be finished?

[2019-06-07 08:36] goffrie commented on #61573
I see. However, in this case, `a | b` would still not be a legal pattern.

[2019-06-07 08:51] DCjanus commented on #61390
@yodaldevoid I am very sorry, I am not very familiar with the compiler. I'd like to file a new issue.

[2019-06-07 08:52] DCjanus opened #61614 "ICE: panicked at 'Box<Any>', src/librustc_errors/lib.rs:573:9"
Try to build [tide](https://github.com/rustasync/tide) with nightly-2019-06-06, got an ICE.

<details>
  <summary>RUST_BACKTRACE=1 cargo +nightly-2019-06-06 build --verbose</summary>

[code]

</details>

PS: `cargo +nightly-2019-06-05 build` work fine.

[2019-06-07 08:58] mati865 commented on #61614
Looks like https://github.com/rust-lang/rust/issues/61579

BTW your error seems incomplete, which platform are you using?
On x86_64 Linux it pritns:
<details>

[code]
</details>

[2019-06-07 09:02] jonas-schievink commented on #61614
Yeah the backtrace looks identical to https://github.com/rust-lang/rust/issues/61579, so closing in favor of that

[2019-06-07 09:02] #61614 closed

[2019-06-07 09:04] Centril commented on #61607
It already appears to be?

[2019-06-07 10:47] mati865 commented on #61461
It was fixed by https://github.com/rust-lang/rust/pull/61582

[2019-06-07 11:18] davidlattimore commented on #61566
Thanks for pointing this out. It's quite likely that there's some implementation detail I'm depending on. i.e. whatever rustc changed that caused this to break is quite possibly a reasonable thing to have changed. I'll try to have a look over the weekend

[2019-06-07 11:20] wesleywiser opened #61617 "Rustdoc: incorrect item indentation in trait declaration"
For example, in the [docs for `Sub`](https://doc.rust-lang.org/std/ops/trait.Sub.html):

<img width="1005" alt="Screen Shot 2019-06-07 at 7 18 44 AM" src="https://user-images.githubusercontent.com/831192/59100589-88cc5100-88f4-11e9-8ef9-8c5a7ea33232.png">

`Sub::sub()` is not correctly indented.

[2019-06-07 11:21] ghedo commented on #54361
What's left to do to stabilize this feature? Any ETA?

[2019-06-07 11:26] gnzlbg commented on #61530
This fails on x86_64-apple-darwin, but I can't reproduce on the playground:

[code]

with

[code]

[2019-06-07 11:30] gnzlbg commented on #61530
FWIW rust-lang/rust is not running stdsimd tests, and stdsimd functions are all `#[inline]`, so they don't trigger this issue when testing the compiler. The moment a user tries to call one of the functions, these errors pop up.

[2019-06-07 12:46] Xanewok commented on #59761
Huh, interesting. I believed that needed more machinery some time ago but hey if it's already here... :man_shrugging: I'll land the RLS PR and let's see how it goes from here.

[2019-06-07 12:58] mati865 commented on #59761
FWIW I tested it locally by breaking Clippy before opening RLS PR and it worked as expected.

[2019-06-07 13:16] mathstuf commented on #27732
This feature is how I'm currently performing `arc_of_t as arc_of_u` given `T: U` (the type needs extra traits in the application, but a library doesn't know about that trait and just requires a "base" trait). Is there some other way of doing this on stable?

[2019-06-07 13:22] Electron-libre commented on #61542
I can give it a try.
I think that searching through code for such workaround will take most of the time.

[2019-06-07 13:43] wesleywiser commented on #61604
Hi, I'd like to take this.

[2019-06-07 13:51] oli-obk commented on #61542
Search for `get(0)`, `get(1)` and such. Outside of tests these often can be a sign of workarounds.

[2019-06-07 13:53] czipperz commented on #61607
You right.  It hasn't landed in standard.  Thanks @Centril.

[2019-06-07 13:53] #61607 closed

[2019-06-07 14:19] Manishearth commented on #55467
There's nobody actively working on it at the moment, but it should be at some point.

[2019-06-07 14:27] SimonSapin commented on #43038
Stabilization PR: https://github.com/rust-lang/rust/pull/61620

[2019-06-07 15:13] Electron-libre commented on #61542
Ok, I am on it.

[2019-06-07 15:45] est31 commented on #61383
Okay, @varkor's PR #61409 has fixed the first minified example. The code in the issue description still ICEs. Minifying the error gives:

[code]

<details>

[code]

</details>

[2019-06-07 15:56] petrochenkov commented on #47314
This is
- fixed on 2018 edition, `::std::foo` will certainly resolve to an extern crate named `std`
- mostly fixed on 2015 edition, `std::foo` will resolve to an extern crate named `std` unless it's shadowed by something also named `std`.

[2019-06-07 15:56] #47314 closed

[2019-06-07 16:23] SimonSapin commented on #61129
The implementation PR https://github.com/rust-lang/rust/pull/61130 is landing, I’ve edited the issue description and labels to make it a tracking issue.

[2019-06-07 16:25] daniel-tud opened #61623 "rustc panic due to reference passed instead of mut reference"
The following code causes a panic in rustc nightly and stable 2018 Edition:

[code]

I do not expect this to compile, as get_tree requires a mut reference, which is not provided by get. When changing get_tree to `fn get_tree(&self) -> &Tree;`, the code compiles properly.

<details>
<summary>Backtrace</summary>
<pre>
   Compiling playground v0.0.1 (/playground)
thread 'rustc' panicked at 'no entry

[2019-06-07 16:50] Centril commented on #61623
Reduction:
[code]

[2019-06-07 16:56] carado opened #61624 "ICE using a type alias to a const generic struct across crates"
In a folder `a`, I have a blank library crate with the following `src/lib.rs`:
[code]
In a folder `b`, I have a blank binary crate with the follow `src/main.rs`:
[code]
`b`'s Cargo.toml uses crate `a` with the following line:
[code]
Running `cargo check` or `cargo build` in `b` will produce the following ICE:
[code]

[2019-06-07 17:03] jonahbron commented on #44052
Bump, would love to see support made official.  Gonna try using the fork for a project.

[2019-06-07 17:13] Centril commented on #61623
cc @matthewjasper

[2019-06-07 17:16] oli-obk commented on #61543
That's a great idea! I haven't checked whether it'll work everywhere, but I think it should.

[2019-06-07 17:44] #61487 closed

[2019-06-07 17:50] mtthw-meyer opened #61628 "x.py can't compile target json spec"
I'm trying to build Rust for a arm7 platform with neon enabled. I've got the spec dumped from armv7-unknown-linux-gnueabihf and changed the features to enable neon. I can't figure out how to get x.py to actually compile this thing without complaining. I have a sysroot with the appropriate compilers and I've tried building stage 0 and stage 1 with it.

    "features": "+v7,+vfp3,+d16,+thumb2,+neon

[2019-06-07 17:52] matthewjasper commented on #61623
The issue is here:

https://github.com/rust-lang/rust/blob/c1c60d292e2dd2deff7084208274f9a02f750d43/src/librustc_mir/borrow_check/mod.rs#L1075

if `location_map` doesn't have `location` we should not take this arm, and should take the next one.

Another couple of test cases:

[code]

[code]

[2019-06-07 18:16] petrochenkov commented on #56389
For all macros *beside* `panic` the underlying issue is fixed in https://github.com/rust-lang/rust/pull/61629.
`panic` is special, https://github.com/rust-lang/rust/pull/61629 describes the situation in more detail.

[2019-06-07 18:16] petrochenkov commented on #61567
For all macros *beside* `panic` the underlying issue is fixed in https://github.com/rust-lang/rust/pull/61629.
`panic` is special, https://github.com/rust-lang/rust/pull/61629 describes the situation in more detail.

[2019-06-07 18:42] ghedo commented on #59127
What's left to do to stabilize this feature? Any ETA?

[2019-06-07 18:48] DutchGhost opened #61631 "Self as default type isnt typechecked"
The following code compiles:
[code]
but shouldn't, because `[Self]` is NOT Sized.

If we change `[Self]` with a `[u8]`, like this:
[code]
it fails to compile, because `[u8]` isnt sized.

Also note that if we would write `impl B {}` in the case of P being of default type `[Self]`, we get an ICE:

Related to https://github.com/rust-lang/rust/issues/59956#issuecomment-482946649

[2019-06-07 19:10] DutchGhost commented on #61631
Using godbolt, this slipped in with 1.32, where `Self` is allowed in type defs: https://github.com/rust-lang/rust/pull/56366/

[2019-06-07 19:19] Serentty commented on #55467
This is something that I care a lot about, so maybe I'll ask around and see if I can learn enough about the compiler internals to work on this.

[2019-06-07 19:54] Centril commented on #61631
cc @alexreg

[2019-06-07 20:45] jonas-schievink opened #61634 "Incorrect error message for empty object types"
When creating an empty trait object using the `dyn` syntax, the error message is misleading. Example:

[code]
This is rejected, with this message:
[code]
The error message here implies that at least one trait that is not an auto trait (`Send`/`Sync`) has to be specified. However, `&dyn Send` is accepted, and `&Send` has worked since 1.0.0, so the message is clearly wrong. Should be pretty easy to

[2019-06-07 21:24] #61461 closed

[2019-06-07 21:25] matiu2 opened #61636 "index out of bounds in libcore/slice/mod.rs running rustfmt under rls"
I hit 'reformat document' in vscode with the rust-rls plugin and got this output:

[code]

[2019-06-07 21:36] jonas-schievink commented on #61636
Is this reproducible, and can you provide a link to the code? Also, can you try running this with `RUST_BACKTRACE=1` set?

[2019-06-07 21:52] Centril opened #61638 "Unnecessary usage of `intrinsics::copysignf32/64` in `signum`"
In `f32::signum` and `f64::signum` we use `intrinsics::copysignf32` and `intrinsics::copysignf64`. However, these intrinsics are exposed with a stable wrapper `f32::copysign` and `f64::copysign`. We should use those instead.

https://github.com/rust-lang/rust/blob/d132f544f9d74e3cc047ef211e57eae60b78e5c5/src/libstd/f32.rs#L191

https://github.com/rust-lang/rust/blob/d132f544f9d74e3cc047ef211e57eae

[2019-06-07 22:03] cramertj opened #61640 "Lint against single-element `use` paths in 2018 edition"
I wind up leaving a lot of code review comments about not writing things like `use std;` or `use some_extern_crate;` in 2018 edition.

[2019-06-07 22:28] Centril opened #61642 "PSA: You can use `@bors rollup=never`"
Bors now accepts `@bors rollup=never`. This will indicate to the people making rollups that a PR should *never* be rolled into a rollup PR. Use this if:

+ Your PR is too big and non-additive (adding 2000 lines of completely new tests is fine to rollup).
+ Messes too much with:
    - LLVM
    - bootstrap
    - build-manifest
+ May have performance sensitive implications
+ Is otherwise dangerous to

[2019-06-07 23:14] davidlattimore commented on #61566
Looks like the changes that caused evcxr problems were both changes in --error-format=json.
1) JSON errors are now written to stdout instead of stderr.
2) The JSON content changed. Looks like it got wrapped in a new outer object. e.g. before:
[code]
After:
[code]

Both these changes are easy enough to work with.

[2019-06-07 23:21] matthiaskrgr opened #61645 "wrong backtrace line for .unwrap() if it is on the next line"
meta:
[code]

I had a Command::new()....unwrap() and some methods in between that were also unwrapping their arguments.
The panic that I got however was not pointing to any of the unwrap()s but to the first line of the statement (the Command::new()) which is quite confusing.

Here is similar example:
[code]

the backtrace points to line 15 which contains `Some(` which is very confusing, imo it sho

[2019-06-07 23:27] Centril commented on #61645
From a strict interpretation of the language's rules I think the current behavior is correct as the syntactical unit is `receiver_expr "." method_name "(" args ")"`. However, I can see how pointing towards the `.method_name(` bit might be more useful.

[2019-06-07 23:45] alexreg commented on #61631
Thanks for the report.

@Centril I think the straightforward solution is to ban mentions of `Self` as type parameter defaults. After all, if you replace `Self` with `B` in the above example, you get:

[code]

Sound fair?

[2019-06-07 23:56] Centril commented on #61631
That's a breaking change; consider e.g.:

[code]

I think the right thing to do is to account for `Self` when checking the bounds of a type definition.

[2019-06-07 23:57] alexreg commented on #61631
Oh, I didn't realise `Self` was previously permitted...

[2019-06-08 00:07] matthiaskrgr opened #61648 "std::process::Command error messages leave a lot to be desired"
[code]

both commands will error and we will get
[code]
however there is no way to tell what is causing the error.
for `a` it is the `new()` argument that cannot be found, for `b` it is the `current_dir()` argument that could not be found.

We should be able to see what causes the problem right away.
It would already help a lot if the thing that could not be found was printed like so:
`No such fil

[2019-06-08 00:08] ecstatic-morse commented on #53718
It's possible to make a great number of these `const` without conditional statements being legal in `const fn` by [using indexing](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=3eb11578b3b44c39ff715ef528d614cb) (e.g. `[x, -x][(x < 0) as usize]`). However, it's a bad idea because the technique results in much less efficient generated code. You can check this by viewing ASM

[2019-06-08 00:09] Centril commented on #61631
This appears to be an instance of a wider problem:

[code]

Has compiled, but shouldn't have, since 1.0.

cc @nikomatsakis

[2019-06-08 00:15] alexreg commented on #61631
Thoughts after discussing this with @Centril: maybe we should be allowing this after all (or have no other choice due to the way the type system works), and should instead put in checks on things like `imp B { ... }` (with no binding for `P`) and possibly elsewhere.

[2019-06-08 00:18] EricRahm commented on #61002
It looks like #61005 is a bit too aggressive with its error reporting. For example when invoking rustc, but *not* compiling in our Firefox build we can the following [build error](https://treeherder.mozilla.org/logviewer.html#/jobs?job_id=250280322&repo=try&lineNumber=6434-6446):

I'm not sure the best solution while mw is away; perhaps we should revert #61005 for now.

[2019-06-08 00:36] Mark-Simulacrum commented on #61648
I don't think this is tenable today, since the relevant error doesn't have the space for any reference to the file/directory that isn't found. Including this information has a performance cost that the language can't accept. As such I'm going to close.

[2019-06-08 00:36] #61648 closed

[2019-06-08 00:47] cuviper commented on #26925
This RFC would permit more control over derivations: https://github.com/rust-lang/rfcs/pull/2353

[2019-06-08 01:16] AaronKutch commented on #61435
Does this have anything to do with problems I had building the rust compiler? I forgot to get the real git install and not just GitHub Desktop, and I got an obfuscated error which took me a lot of time to fix.
I was going to file an issue to get x.py to check that all the needed tools are in place, and that Python was 2.7.x, but I see this issue with "missing-tools" in its title.

[2019-06-08 01:57] czipperz commented on #61645
I believe this originates in the [backtrace](https://crates.io/crates/backtrace) crate.  At least that's where the error message is gotten from.  It may be that for ease of debugging, this style is chosen.

[2019-06-08 01:58] czipperz commented on #61645
That is when using a graphical debugger, we want to look at the `Some(` line as it is the beginning of the expression so that is why it is encoded that way.

[2019-06-08 02:15] mark-i-m commented on #53718
In fact, we are already doing that to make `Vec::new()` a `const fn` :stuck_out_tongue:

https://github.com/rust-lang/rust/blob/d132f544f9d74e3cc047ef211e57eae60b78e5c5/src/liballoc/raw_vec.rs#L51-L63

[2019-06-08 03:15] ecstatic-morse commented on #53718
@mark-i-m That's probably where I first saw this technique!

My point was that making a similar modification would likely slow down these arithmetic operations considerably. The use in `Vec::new` can be eliminated via const-propagation post-monomorphization, but that optimization doesn't apply here.

[2019-06-08 04:30] #61452 closed

[2019-06-08 04:30] #61638 closed

[2019-06-08 05:29] scottmcm opened #61650 "array docs should mention slice patterns"
The array docs currently say

https://github.com/rust-lang/rust/blob/6312b89fdabce0aedf613391266e08c0deef2324/src/libstd/primitive_docs.rs#L485-L486

But now that slice patterns are stable, that's not quite true.  It would be good for the docs to mention that you can move all items out of an array using a slice pattern.  (And continue to mention `replace` as an option for people who only want one

[2019-06-08 05:49] skinny121 commented on #61514
I think the cause of this ICE is the same as #61336, although it's unclear without #61336 fixed if there is any other problem with this snippet.

[2019-06-08 05:50] davidlattimore commented on #61566
Correction, it seems that rustc's behaviour is unchanged, but Cargo now intercepts the JSON errors emitted by rustc on stderr, wraps them in its own JSON and re-emits them on stdout. Observed by running the following command in a crate with an error in it.
`cargo +beta rustc -- --error-format=json`

I've pushed a new version of evcxr that makes it tolerant of these changes

[2019-06-08 06:35] scottmcm opened #61651 "Inference failure when a trait is changed to a marker trait"
[code]
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=120bf7cdd44e52d7a6d2280cdcdc6de6

It works if I remove the `#[marker]`, but when it's a `#[marker]` trait it fails with
[code]

(I didn't think this property of a trait affected inference at all, so I'm very confused by this...)

[2019-06-08 06:55] lnicola commented on #57724
I tried to fix a part of this in https://github.com/rust-lang/rust/pull/61597, but it didn't come out as planned. There is dependency and license whitelist that needs to be updated.

I think just running `cargo update` leaves only one usage of `rand 0.4` via `ammonia` and `mdbook 1` (which can be updated). But then there is the licensing story, and it's not very clear to me which dependencies are

[2019-06-08 07:12] dylanmckay commented on #44052
Update: At the moment, we're upgrading the fork to a newer version of Rust (avr-rust/rust#137). There are two bugs we've found that we've hit.

This has been fixed in LLVM trunk in llvm/llvm-project@45eb4c7e55341c0b83a21dedecc092e273795eda. I'm cherry-picking this into our LLVM fork now. This bug was historically the biggest pain point in the backend, arising in most pointer-heavy code.

This one

[2019-06-08 07:15] petrochenkov commented on #61640
This is an extension of the "redundant import" lint implemented in https://github.com/rust-lang/rust/pull/58805.

Right now it covers imports in blocks
[code]
but not in modules (due to some complexities described in https://github.com/rust-lang/rust/issues/10178#issuecomment-460228123).

[2019-06-08 08:38] mati865 commented on #57724
Last time I checked `mdbook` was the only thing preventing of `rand 0.4`, otherwise I'd fix it already.
We are working on removing it but it's blocked on releasing new version of `mdbook`.

[2019-06-08 08:40] lnicola commented on #57724
I think `rustc-rayon` goes away after a `cargo update`, so that one might be easy to fix.

[2019-06-08 08:52] mati865 commented on #57724
So `rustc-rayon` released new version since.

Correct, dependencies of everything that is created by `dist` are tracked by single `Cargo.lock`.

Dependencies are often updated separately as needed because upgrading everything at once is likely to break something and it's easier to find what is wrong when you change like 5 dependencies instead of 50.

[2019-06-08 08:57] mati865 commented on #57724
Also you can run the same image that found the error (`x86_64-gnu-llvm-6.0` in this case) by using these steps https://github.com/rust-lang/rust/blob/master/src/ci/docker/README.md

[2019-06-08 09:24] RalfJung commented on #60301
@rust-lang/infra what would be the best place to change this? I think I'd prefer Miri not to be shipped at all when the tests fail; I'd rather people stick to an old-but-working Miri than to a new-but-broken one.

I found https://github.com/rust-lang/rust/blob/master/src/ci/docker/x86_64-gnu-tools/checktools.sh but that does not seem to decide if a component gets built for distribution or not.

[2019-06-08 09:37] oli-obk commented on #60301
https://github.com/rust-lang/rust/blob/6312b89fdabce0aedf613391266e08c0deef2324/src/bootstrap/dist.rs#L1368-L1369 seems to suggest that it is supposed to work as you describe that it should be working. Since it obviously doesn't and I can't see how that comment could be true from looking at the source, I'm guessing this is some refactoring fallout. I'll dig a little into git blame

[2019-06-08 09:43] oli-obk commented on #60301
I found it. The comment was added for rls in https://github.com/rust-lang/rust/commit/686c1015cfa341748b6de20114e8caba4626931b but then the code making the comment true was removed later

[2019-06-08 10:03] treere commented on #61520
Just to be sure I tested this code with a custom (and empty) derive macro.
The error is the same.

[2019-06-08 10:06] XVilka opened #61657 "IBM z/OS (z System platform) target support"
There is seem [LLVM port for z/OS](https://www.ibm.com/developerworks/community/blogs/5894415f-be62-4bc0-81c5-3956e82276f3/entry/XL_C_C_V2_3_1_for_z_OS_V2_3_web_deliverable_is_available_today_on_March_29_2019?lang=en), and Rust supports s390, so should be possible to support the z/OS system as a full-featured target.

See example of the [Swift language porting](https://forums.swift.org/t/z-os-swif

[2019-06-08 10:25] petrochenkov commented on #61520
Looks very similar to https://github.com/rust-lang/rust/issues/56593

[2019-06-08 10:38] rubberduck203 commented on #44052
Thanks for the update @dylanmckay. We all appreciate the effort you’ve put into this.

[2019-06-08 11:33] qwerty19106 commented on #61522
To @varkor

Minimal code:
[code]
produce error:
[code]

The `{COUNT} + 1` variant also give this error.

[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=3c114033cc003fa14fec87832a6d6401)

[2019-06-08 14:04] Mark-Simulacrum commented on #60882
Since this is both likely not actually desirable due to performance and not implementable until (if) specialization lands, I'm going to close this issue. Thanks!

[2019-06-08 14:04] #60882 closed

[2019-06-08 14:07] Mark-Simulacrum commented on #60731
Closing. If someone wants to pursue this, please follow the RFC process here https://github.com/rust-lang/rfcs#before-creating-an-rfc. If you'd like to discuss it further internals.rust-lang.org is the way to go.

[2019-06-08 14:07] #60731 closed

[2019-06-08 14:08] Mark-Simulacrum commented on #60699
I'm going to close this since we basically can't make progress here without type parameter defaults which are a ways off (and I think this is a fairly "well known" desire, so it's unlikely that we'll forget).

[2019-06-08 14:08] #60699 closed

[2019-06-08 14:09] Mark-Simulacrum commented on #60695
Closing as there is insufficient information to reproduce this. Thanks!

[2019-06-08 14:09] #60695 closed

[2019-06-08 14:24] Mark-Simulacrum commented on #60342
I can't reproduce this locally with the beta compiler so I'm closing - docs.rs probably just needs a rebuild (easiest to obtain via a republish).

[2019-06-08 14:24] #60342 closed

[2019-06-08 14:28] Mark-Simulacrum commented on #60215
We appear to no longer fold functions by default (at least when looking at a random rustdoc page in private browsing to hopefully ignore any locally-stored preferences of mine).

[2019-06-08 14:28] #60215 closed

[2019-06-08 15:15] est31 commented on #61383
Oh I just realized that the current ICE it hits is probably the same as #61336.

[2019-06-08 15:23] djc opened #61661 "Improve E0599 for missing trait bounds (where clauses)"
For the following example:

[code]

The error message is:

[code]

`Foo<T>` does actually implement `Bar`, and this makes the suggestions from the compiler misleading in this case: there is already an implementation for `Foo<T> : Bar`, and `Bar` is already in scope. It would be much more helpful if the compiler could suggest the trait bounds necessary to satisfy the requirement.

This seems very s

[2019-06-08 15:32] RalfJung commented on #60301
See https://github.com/rust-lang/rust/pull/61656#issuecomment-500112801 for why this is hard to fix: the `dist` builders don't even run the tool tests, so they cannot know if the tests pass. :/

Also, that's probably for the better actually, as the "tools" builder sets --cfg miri to be more Miri-friendly and we don't want that in the release artifacts.

[2019-06-08 15:54] #54395 closed

[2019-06-08 15:54] rust-highfive opened #61662 "`miri` no longer builds after rust-lang/rust#61625"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#61625, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @RalfJung, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @oli-obk, the PR reviewer, and @rust-lang/compiler -- nomi

[2019-06-08 16:01] sfackler commented on #61645
The backtrace crate just reads out the debuginfo that the compiler places in the binary. That's what needs to change.

[2019-06-08 16:02] mickvangelderen opened #61663 "Panic with `Layout mismatch when copying!` from macro"
The following code has the compiler (correctly) emit an error about how explicit enum tags with the default representation need to be of type `isize`. The compiler panics afterwards.

[code]

Output:

[code]

I tried to reduce the code more but this code does *not* cause a panic:

[code]

I will happily move on after correcting my mistake but I thought I'd at least report this panic.

## Meta

`ru

[2019-06-08 16:15] Centril commented on #29864
cc https://github.com/rust-lang/rust/issues/61651

[2019-06-08 16:17] AaronKutch commented on #61611
I got x.py to test libcore once, but after I updated my local clone of rust, I started getting this repeatedly:
[code]

[2019-06-08 16:17] Centril commented on #61663
cc @oli-obk

[2019-06-08 16:30] leo-lb commented on #61524
This is horrible.

[2019-06-08 17:10] JuanPotato opened #61664 "compiler panicked at 'Box<Any>'"
Hi, I was working on a project on 1.36.0 nightly and when I upgraded to 1.37.0 nightly (rustc 1.37.0-nightly (d132f544f 2019-06-07) running on x86_64-unknown-linux-gnu) I got an internal compiler error.

https://github.com/JuanPotato/XKCD-search-bot/tree/d7624b25fbeb57975b54a19d9c8e8103b0d261a4 is the project, and the current code should cause this error

<details><summary>Error log</summary>

<pr

[2019-06-08 17:48] ecstatic-morse commented on #53718
@TimDiekmann. Now that #61635 has been merged, `signum` is an unstable `const fn`. Could you edit the initial post to reflect this?

[2019-06-08 17:50] JuanPotato commented on #61664
Is this a duplicate of #61579

[2019-06-08 18:13] AaronKutch commented on #61611
I am nuking my entire rust clone in case changes to the bootstrap are incompatible to previous artifacts produced by previous versions. Why does x.py need to download submodules like `rls` and `rustfmt` if I am only trying to test `libcore`?

[2019-06-08 18:17] oli-obk commented on #61663
:rofl: 	this is a sanity check ensuring that const eval's type caching is sane. If there's a type mismatch, it won't be though. The trivial fix would be to use `delay_span_bug`, but that's just papering over the inconsistency.

cc @RalfJung

I am also wondering how this came to happen, const eval should not actually do anything if the typecktables of something has had errors. Or should we change t

[2019-06-08 18:31] RalfJung commented on #61663
This reminds me of https://github.com/rust-lang/rust/pull/61598. Looks like we execute CTFE on all sorts of invalid MIR? I guess that's the disadvantage of being so tightly integrated into the compiler. :/

A minimized examples that doesn't use macros would help me understand what that code even does.

[2019-06-08 18:34] AaronKutch commented on #61611
I am going to open an issue myself

[2019-06-08 18:43] AaronKutch opened #61667 "x.py downloads much more than necessary"
One problem I am having is that running `./x.py test --stage 0 src/libcore` is updating several submodules that I assume are not needed at all for just testing `src/libcore`. For example, it should not need any documentation related submodules, `rustfmt`, `rls`, and a bunch of other stuff.

Another problem is that some of these submodules are huge with `src/llvm-project` taking almost 2 Gigabytes

[2019-06-08 18:49] Mark-Simulacrum commented on #61667
We don't have the resources to make patches that optimize for internet usage at this point and largely, `x.py` doesn't have the knowledge to know whether it needs or doesn't need a submodule. Most of the submodules are small, anyway, aside from llvm.

Since we don't have the resources to change things here I'm going to close this issue. If there are non-invasive patches that can be optionally enab

[2019-06-08 18:49] #61667 closed

[2019-06-08 18:51] Centril commented on #61663
Reduced:
[code]

[2019-06-08 18:54] Centril commented on #61663
@RalfJung The macro seems to be important somehow; I cannot seem to get rid of it.

[2019-06-08 18:56] RalfJung commented on #61663
That is odd, to me that makes it sound like a bug in macro expansion instead of something we should fix in the Miri engine?

[2019-06-08 18:59] Shadlock0133 commented on #61524
@leo-lb If you haven't read about it yet, [here](https://blog.rust-lang.org/2019/04/26/Mozilla-IRC-Sunset-and-the-Rust-Channel.html) is the post from April.

[2019-06-08 19:01] Centril commented on #61663
Yeah that's plausible.

If you change both `i32` to `isize` it will rightly complain about having two discriminants `0`. If you change one of the `0`s to `1` it compiles. If you change one of the `i32` to `isize` it doesn't ICE, if you change both `i32` to `usize` it still ICEs.

[2019-06-08 19:03] AaronKutch commented on #61667
So, is the git history needed or can I submit some patch to fix that?

[2019-06-08 19:06] Mark-Simulacrum commented on #61667
On high bandwidth/unmetered networks my understanding is that limiting git history results in slower performance (both for the client and the server); that means that shallow operations are generally non-ideal for us.

[2019-06-08 19:07] Mark-Simulacrum commented on #61667
To be clear -- I think such an option would definitely need to be opt-in, but if it's somewhat non-invasive I'd be willing to consider it.

[2019-06-08 19:23] AaronKutch commented on #61667
thank you

[2019-06-08 19:27] kennytm commented on #54140
There is currently a [Pre-RFC](https://internals.rust-lang.org/t/translating-the-compiler/10376) on translating compiler output. If accepted, this may affect the Diagnostic API. Please consider this forward-compatibility issue before stabilization.

[2019-06-08 19:29] AaronKutch commented on #61611
Nope, I am still getting the DownloadFile exception after refreshing everything

[2019-06-08 19:58] leo-lb commented on #61524
@Shadlock0133 Yeah I read already. I'd remove the mention of any particular discussion channel, instead of putting Discord in. I can't wait for Matrix to become more mature so the Rust project can use it. Falling back to Discord is quite bad for a FOSS project.

[2019-06-08 21:00] Manishearth commented on #61132
The vast majority of these could probably be handled by a custom derive:

[code]

(exact syntax is bikesheddable, of course)

[2019-06-08 21:10] Manishearth commented on #51528
We discussed i18n in the [wg-diagnostics Zulip channel](https://rust-lang.zulipchat.com/#narrow/stream/147480-t-compiler.2Fwg-diagnostics/topic/Internationalization).

It becomes quite easy to migrate if we use a [custom derive](https://github.com/rust-lang/rust/issues/61132#issuecomment-500163232) (or other plugin) to autogenerate AsError impls for diagnostics structs. We should start looking int

[2019-06-08 21:11] Shadlock0133 commented on #61524
@leo-lb IMO we should just mirror subreddit solution and point to Discord.

[2019-06-08 21:36] rljacobson commented on #59105
I get this error with `--keep-stage 1`. However, `--keep-stage 0` worked. The output of the build command follows.

[code]

My first build was done from a new cloned repo on an empty directory. The first build command was:

[code]

[2019-06-08 21:53] alexreg commented on #59105
@pnkfelix Any progress on this lately? Did you want to self-assign?

[2019-06-08 23:27] rickvanprim opened #61674 "Const variables cannot have cyclical references"
The following code produces an E0391 error.  Seems like this should be solvable, at least in this simplistic case.  Is this something that is likely to be allowed in the future?

[code]

[2019-06-08 23:37] czipperz commented on #53120
Is there a reason the rustc implementation is dogfooding this feature?  Every instance of `crate fn` could be changed to `pub(crate) fn` and stop relying on an unstable feature AFAICT.

[2019-06-09 00:03] Centril commented on #53120
I don't see a good reason why we'd do that. Both Clippy and rustc use unstable features all the time and they should because it allows us to test them more extensively both in terms of catching bugs in the implementation and because we can get a feeling for how it is to use them.

In this case, usage of `crate` as a visibility modifier in Clippy and in rustc is in my view showing that it reads bet

[2019-06-09 00:20] SharpKnifer opened #61676 "toolchain 'nightly-x86_64-apple-darwin' is not installed, when I execute 'cargo +nightly install racer'."
Today , I am going to install racer for my vim.But toolchain 'nightly-x86_64-apple-darwin' is not installed in my terminal.I have no idea what I should do to solve the problem.This is my versions:
cargo 1.33.0-nightly (2b4a5f1f0 2019-01-12)
rustc 1.33.0-nightly (c76f3c374 2019-01-18)
rustup 1.18.3 (435397f48 2019-05-22)

[2019-06-09 00:41] QuietMisdreavus commented on #61378
Whenever rustdoc tries to link to another crate, it calls the function `html::render::extern_location`:

https://github.com/rust-lang/rust/blob/991c719a1d0f95c37ed7ea56bdb38bcc2a6246b9/src/librustdoc/html/render.rs#L1378-L1407

So any alternate name we would choose would have to make its way there. Looking at it again, it looks like passing `--extern-html-root-url` won't even help until rustdoc is

[2019-06-09 00:47] parasyte commented on #53120
FWIW, I use this feature in [cargo-n64](https://github.com/rust-console/cargo-n64) and it has been very nice!

[2019-06-09 00:49] #61676 closed

[2019-06-09 01:22] 8573 opened #61678 "Do you get feedback from users' Travis CI builds automatically?"
[The documentation][1] on using Rust with Travis CI notes—

If I, as a user of Rust who targets only stable, follow this recommendation and have Travis CI test my crate against beta and nightly as well, will you automatically get reports of any regressions such testing finds in beta/nightly, or would I have to look at the logs of failing beta/nightly builds and provide such feedback manually?

[1]

[2019-06-09 02:08] #61543 closed

[2019-06-09 02:08] #55266 closed

[2019-06-09 03:17] lzutao commented on #61678
No, rust should never collect user data automatically. It is recommend to provide
feedback manually.

[2019-06-09 04:11] Mark-Simulacrum commented on #61678
Yes, we don't get any reporting but would appreciate regression/bug reports as early as possible (even on nightly!).

[2019-06-09 04:11] #61678 closed

[2019-06-09 06:22] Centril commented on #48758
@petrochenkov It doesn't seem to generate an overlap error currently?

[2019-06-09 06:41] thomcc opened #61684 "`binary_search` docs should show how to insert something into an already-sorted list, while maintaining sort order"
This isn't exactly hard to do, but it's completely possible to have an off-by-one error because of overthinking it, and it's a common enough use case that it seems worth showing off in a doctest.

[2019-06-09 07:25] petrochenkov commented on #53120
I use `crate` in rustc all the time because it's short and doesn't have parentheses like `pub(crate)`.
I still don't like how it reads though.
It also doesn't have 3 letters, so formatting changes together with `pub` <-> `crate` changes.
I still like `our` unironically.

[2019-06-09 07:31] petrochenkov commented on #48758
No, the overlap error is not reported currently, someone needs to implement it.

[2019-06-09 07:48] #56668 closed

[2019-06-09 08:23] DoumanAsh commented on #61579
In case if it will be useful, I caught similar ICE with a different callstack https://gist.github.com/DoumanAsh/2ce9e8aa6c360f5d74bdd169188fec8d

But I imagine it is the same issue.

Code in question: https://gitlab.com/Douman/yukikaze/blob/1.0/src/client/mod.rs#L216-317

[2019-06-09 09:56] Aloxaf opened #61685 "Rustc paniced when apply `.await` on a closure in a non-async function"
## Code
[code]

## Backtrace
[code]

## Rustc version
[code]

This issue has been assigned to @doctorn via [this comment](https://github.com/rust-lang/rust/issues/61685#issuecomment-505543599).

[2019-06-09 11:11] petrochenkov opened #61687 "Imports/reexports of built-in macros are not supported"
[code]

The reason behind this error is that if you import something with a `DefId`, that `DefId` should be supported by all stages of compilation (metadata emitting specifically), but built-in macros don't have such a `DefId`.

The crate ID in their `DefId` has special value `CrateNum::BuiltinMacros` that is supported only inside rustc_resolve and causes ICEs every time it leaves it.

[2019-06-09 11:19] Zoxc commented on #61579
@tmandry Did you see any reason for why `StorageDead` is not generated when poking around in `scope.rs`?

[2019-06-09 11:23] petrochenkov commented on #61687
Possible fix 1.

Use `LOCAL_CRATE` as a `CrateNum` in built-in macros' `DefId`s.

Built-in macros have fixed def-indices, so we should be able to recognize a built-in macro when loading metadata from other crate and thus know how to expand it.

Using `LOCAL_CRATE` will mean that each crate reexporting built-in macros will reexport it's own different version (with a separate `DefId`).
This is not c

[2019-06-09 11:25] petrochenkov commented on #61687
Possible fix 2.

Introduce a special `CrateNum` for things defined by the language rather than any crate and support it through the whole compilation (aka `CrateNum::BuiltinMacros` done right).

Built-in types could potentially use it as well if it becomes necessary for them to have `DefId`s.

[2019-06-09 11:26] petrochenkov commented on #56417
Made an issue for built-in macro imports - https://github.com/rust-lang/rust/issues/61687.

[2019-06-09 11:27] RalfJung commented on #60076
FWIW here is a stand-alone version of the testcase to reproduce this with Miri (but it needs access to some private `VecDeque` internals):
[code]

[2019-06-09 11:32] catastrop opened #61689 "add implementation of http and other related protocol to standard library"
We need use libraries for every time we want to do something with web.
That's not helpful.

A language that came out in 2010s should have them. Like Golang has. Please consider to add them to standard library.

[2019-06-09 11:33] petrochenkov commented on #61687
The primary motivation for fixing this is reexporting built-in macros from the standard library.

This way those macros will have a reliable way to call them (e.g. `::std::column!()`) from other macros (the [`__rust_unstable_column!()` problem](https://github.com/rust-lang/rust/pull/43735)) even without having stable def-site hygiene in the language.

[2019-06-09 11:36] catastrop opened #61690 "there is no way to deal with csv, json ,hex data in standard library"

[2019-06-09 11:50] nagisa commented on #61689
As noted [here](https://github.com/rust-lang/rust/issues/61219#issuecomment-496030461) on a duplicate issue filled by you yourself, introducing such an API surface would require an RFC.

That being said, general direction of the Rust standard library is to provide only the core-most utilities and the user is expected to get the rest from the easy-to-use crates ecosystem.

[2019-06-09 11:50] #61689 closed

[2019-06-09 11:51] dylanmckay commented on #44052
We've now upgraded the fork ontop of Rust base rust-lang/rust@fb7cca33f, the blink program successfully compiles.

[2019-06-09 11:52] nagisa commented on #61690
That much API surface definitely needs an [RFC](https://github.com/rust-lang/rfcs), so closing in favor of that.

Note that this is extremely unlikely to happen since we have several high-quality csv and serialization crates on crates.io already and there is no pressing reason to pull that sort of functionality into libstd.

(cc @jonas-schievink I took liberty of re-using your wording here)

[2019-06-09 11:52] #61690 closed

[2019-06-09 11:55] catastrop commented on #61690
If i working in a place where i don't have internet connection, what should i do?

[2019-06-09 11:56] catastrop commented on #61689
What will happen if i don't have internet connection?

[2019-06-09 12:16] catastrop opened #61692 "You rust people bash c++, but you are using LLVM"
Will rust become self hosted.

[2019-06-09 12:26] Patryk27 commented on #61692
No one "bashes" C++ here.

[2019-06-09 12:30] catastrop commented on #61692
The rust programming language YouTube video

[2019-06-09 12:31] jfrimmel commented on #61692
You already posted this question in #61013 and received a clear answer.

[2019-06-09 12:33] #61692 closed

[2019-06-09 12:33] flyq commented on #61692
Please close this

[2019-06-09 12:49] jfrimmel commented on #61690
Use [cargo vendor](https://github.com/alexcrichton/cargo-vendor) or set up a crates.io-mirror.

[2019-06-09 12:52] jonas-schievink commented on #61689
Cargo has an [offline mode](https://github.com/rust-lang/cargo/issues/5655) that will reuse cached crates. You can also mirror crates on a machine in your local network.

[2019-06-09 12:55] jonas-schievink commented on #61689
Also, please stop filing duplicate issues. They won't make your problems get prioritized.

[2019-06-09 13:18] matthiaskrgr opened #61693 "no issue created when clippy toolstate breaks"
https://github.com/rust-lang/rust/pull/61672 broke clippy toolstate but there was no issue created automatically.

Probably linked to rls/clippy decoupling https://github.com/rust-lang/rust/pull/61670

[2019-06-09 13:20] matthiaskrgr commented on #61693
@rustbot modify labels: T-dev-tools T-infra

[2019-06-09 13:28] jonas-schievink commented on #54182
Heh, it's even worse than that:

[code]
[code]

This may be fixed as part of https://github.com/rust-lang/rust/issues/29661, but I'm not sure, so leaving this open.

[2019-06-09 13:30] jonas-schievink commented on #29661
[RFC 2532](https://github.com/rust-lang/rfcs/blob/master/text/2532-associated-type-defaults.md) still needs to be implemented as part of this, can anyone from @rust-lang/compiler write up mentoring instructions?

[2019-06-09 13:41] jonas-schievink commented on #57715
@Susurrus is this fully implemented now? https://github.com/rust-lang/libc/pull/1271 seems to indicate so.

[2019-06-09 13:55] gnzlbg commented on #57715
It’s mostly implemented, but there is still the unresolved questions about
enforcing requiring this and also about whether to enable this by default.

On Sun 9. Jun 2019 at 15:42, Jonas Schievink <notifications@github.com>
wrote:

[2019-06-09 13:56] davidtwco commented on #44109
I'm not sure what the exact procedure is. I think the documentation pull requests should probably be reviewed before a stabilization report is posted, though the various pull requests that implement this feature have probably had sufficient time to bake in nightly now, IMO.

[2019-06-09 14:58] phaylon opened #61695 "Tracking issue for `Result::into_ok`"
*[View all comments](https://triagebot.infra.rust-lang.org/gh-comments/rust-lang/rust/issues/61695)*

This is (now) a tracking issue for
https://doc.rust-lang.org/nightly/std/result/enum.Result.html#method.into_ok
https://doc.rust-lang.org/nightly/std/result/enum.Result.html#method.into_err
`#![feature(unwrap_infallible)]`

---

I would like to propose adding a `unwrap_infallible` associated funct

[2019-06-09 15:42] ehuss commented on #61693
I don't think it is related to rls.  `clippy-driver` has never opened an issue when it has broken in the past.

[The logs](https://travis-ci.com/rust-lang/rust/builds/114849497) say `I/O error: HTTP Error 422: Unprocessable Entity` which is GitHub's error message for "Sending invalid fields".  Unfortunately the script doesn't print the response body.

I can't see anything unusual in the script to

[2019-06-09 15:59] mati865 commented on #59761
Once more Clippy broke but this time RLS still works, I think we can close this issue.

[2019-06-09 16:21] Centril commented on #53120
@petrochenkov My understanding of what you wrote is that you prefer `crate` over `pub(crate)` but would like something better than `crate` as well. Is that an accurate assessment?

[2019-06-09 16:24] jonas-schievink commented on #56445
Still reproduces on 1.35.0. Backtrace:

[code]

[2019-06-09 16:27] mati865 commented on #61664
Yes, it's duplicate.

[2019-06-09 16:31] jonas-schievink commented on #55873
Still reproduces on 1.35.0 and the current nightly (`rustc 1.37.0-nightly (991c719a1 2019-06-08)`).

Indeed, marking as regression.

[2019-06-09 16:38] jonas-schievink commented on #55847
Does not reproduce under Wine with the specified nightly. The error message sounds like something went wrong when parsing command line arguments though? Unless we can reproduce this somehow (or get a non-broken backtrace), I'm inclined to close this as "mingw libraries being weird".

[2019-06-09 16:39] Lonami commented on #61695
How is this different from the never (`!`) type?

[2019-06-09 16:49] phaylon commented on #61695
@Lonami I'm not sure I understand the question in relation to the proposal?

`core::convert::Infallible` is an existing type that acts as a stand-in for the never type, since the never type itself is still unstable. Core APIs like `TryFrom` already use `Infallible`.

I'm proposing an unwrapping `fn` on `Result` that is specific to dealing with `core::convert::Infallible`, and later (when it's stab

[2019-06-09 16:50] Lonami commented on #61695
Oh, sorry, I should've checked first, I was unaware of that ^^

[2019-06-09 17:19] phaylon commented on #61695
No problem! Should've maybe added some background information, `TryFrom` and `Infallible` are rather recent additions :)

[2019-06-09 17:37] chrunchyjesus opened #61696 "Soundness hole in pattern matching on enums with an uninhabited variant"
Playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=7a8a62d7a736d6bd54273422da29d7af

<details>
<summary> Click to see the example code from above link </summary>

[code]

</details>

Expected output: `success`

Actual output:
[code]

Running the above code on both Rust stable and nightly on my machine returns `illegal hardware instruction (core dumped)` with s

[2019-06-09 17:39] Mark-Simulacrum commented on #61696
cc @eddyb since potentially has something to do with enum optimizations?

[2019-06-09 17:59] Centril commented on #61696
First reduction (will iterate):
[code]

[2019-06-09 18:04] jonas-schievink commented on #61696
Regression between 1.23.0 and 1.24.0

[2019-06-09 18:10] jonas-schievink commented on #61664
Looks like it. Closing in favor of #61579.

[2019-06-09 18:10] #61664 closed

[2019-06-09 19:13] Centril commented on #61696
This seems like a rather serious soundness hole that I would suggest treating as P-high.

cc @rust-lang/compiler

[2019-06-09 20:13] SimonSapin commented on #46865
Some standard library collections have a `try_reserve` method to grow them while handling allocation errors. They return a `Result`. However these methods are still unstable at this point: https://github.com/rust-lang/rust/issues/48043

Most methods like `Vec::push` do not return a `Result`. Instead, on allocation error they call `std::alloc::handle_alloc_error` which runs a configurable hook, the

[2019-06-09 20:47] alex opened #61699 "strange scoping issue when trying to use alloc::vec![]"
https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=74f146f90570f0e4bb9e2b957532290a

[code]

[code]

If I change the invocation to `alloc::vec![]` it has no trouble finding the invocation. I have no idea what to make of this.

[2019-06-09 20:50] petrochenkov commented on #61699
Fixed in https://github.com/rust-lang/rust/pull/61629

[2019-06-09 20:51] alex commented on #61699
Thanks!

[2019-06-09 20:52] petrochenkov commented on #61699
The workaround is to remove the trailing comma after `0` inside `vec![]`.

[2019-06-09 21:08] nagisa commented on #61696
Given

[code]

LLVM for the interesting code is:

[code]

[2019-06-09 21:19] johnthagen commented on #53120
FWIW, I still think `intern` is a good option.

- No parentheses
- Shorter than `pub(crate)` (though one character longer than `crate`)
- Reads better (IMO) than `crate` (which is used for other things like paths, e.g. `crate::foo::bar`)
  - https://github.com/rust-lang/rust/issues/53120#issuecomment-411025646
- Has nice symmetry with existing `extern`
- Familiar, as other languages use something

[2019-06-09 21:30] nagisa commented on #61696
This is probably not A-LLVM because the generated LLVM code is already wrong.

[2019-06-09 21:32] Aaron1011 commented on #57893
It turns out that only one trait is necessary to reproduce this: [(playground)](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=17cdd59453f44c59c7dbb1666d6fd00e)

[code]

This seems quite bad, as simply writing a blanket impl is enough to expose the issue.

[2019-06-09 21:38] Aaron1011 commented on #57893
One way to fix this issue would be the following:

If a trait has any associated items, and a blanket impl exists for it, that trait cannot be object-safe.

This is pretty extreme - however, the only other solution I can think of would be to deny *all* blanket impls of a trait with associated items - which seems even worse, given that the trait might not have even been object-safe to begin with.

[2019-06-09 21:41] alex commented on #61699
Yup, now that you've pointed it out it's completely clear what was happening :-/

[2019-06-09 22:18] #55847 closed

[2019-06-09 22:23] Centril commented on #57893
Unfortunately, it gets worse. Here's an implementation of `mem::transmute` in safe Rust:
[code]

I think blame should be assigned to not normalizing `<T as Object<U>>::Output` to `U` in `fn foo`. If that happened, `foo::<dyn Object<U, Output = T>, U>(x)` would not type-check.

[2019-06-09 22:47] jonas-schievink commented on #57893
The first comments in the thread seem to indicate that the problem is instead with the blanket impl itself being accepted by the compiler.

If I understood correctly, @Centril's impl above can be applied to `dyn Object<U, Output=T>` for any `U` and `T`, and defines `Output=U`. However, a trait object like `dyn Object<U, Output=T>` *already* provides an implicit impl with the same input types, but

[2019-06-09 22:47] jonas-schievink commented on #57893
Seems like a good idea to discuss in language and compiler team, nominating.

[2019-06-09 23:12] petrhosek opened #61703 "Dist analysis step panics when trying to copy save-analysis"
We're seeing the following error on our builders that are building Rust toolchain for Fuchsia:
[code]
The `save-analysis` directory is entirely missing for the host target. I've been debugging this and I believe the problem is that for host target, we don't build `std` in `stage2`, we always uplift it from `stage1`, and therefore we never generate `save-analysis` in `stage2`. We should probably up

[2019-06-09 23:22] Mark-Simulacrum commented on #61703
Seems reasonable, I think - happy to review a PR or if you could give a specific set of reproduction instructions (ideally ones that would work on linux).

[2019-06-09 23:30] Centril commented on #57893
Notably, in my reproducer above, if you change `fn foo` to:
[code]
then you will get:
[code]

[2019-06-09 23:36] jonas-schievink commented on #57893
Is that not just due to where-clauses having precedence over impls? AFAIK trait selection will prefer the `Object<U>` impl in the bounds, which doesn't have an assoc. type specified, so the compiler can't normalize it.

[2019-06-10 02:38] Aaron1011 commented on #57893
I made a first attempt at a fix here: https://github.com/Aaron1011/rust/tree/fix/trait-obj-coherence

My idea was to extend the obligations generated by `ty::wf::obligations` to include projection predicates of the form:

`<dyn MyTrait<type Assoc=T> as MyTrait>::Assoc = T`.

This is combeind with an extra flag in `SelectionContext` to force impl candidates to be chosen over object candidates. In t

[2019-06-10 04:25] estebank opened #61709 "Extend `rustc_on_unimplemented` to allow pointing at enclosing function/closure"
We should extend `rustc_on_unimplemented` to be able to point at the enclosing scope. With that capability, [we could turn the following](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=8a82e08f4980eaaa74c2bc09d8a7c9e6):

[code]

into something along the lines of

[code]

[This has caused confusion in the wild](https://users.rust-lang.org/t/help-with-result-and/29135).

[2019-06-10 05:35] songdongsheng opened #61710 "Release x86_64-pc-windows-gnu target of mingw-w64 6.x"
Currently,   x86_64-pc-windows-gnu target build on mingw-w64 v5.x (2 years ago):

`
x86_64-6.3.0-release-posix-seh-rt_v5-rev2.7z

GNU ld (GNU Binutils) 2.27
gcc version 6.3.0 (x86_64-posix-seh-rev2, Built by MinGW-W64 project)
`

Nowadays, Debian 10 and Msys2 provide mingw-w64 v6.x:

`# dpkg -l | grep  mingw-w64
ii  binutils-mingw-w64-x86-64                   2.31.1-11+8.3                amd64

[2019-06-10 06:08] infinity0 commented on #59110
I can confirm that this issue breaks cross-compiling on 1.34 using 1.33. The fix from [this comment](https://github.com/rust-lang/rust/issues/59110#issuecomment-474921562) works for me. Sucks that this wasn't backported for the 1.34.2 release.

[2019-06-10 06:18] infinity0 commented on #59110
Sorry my mistake, the problem is actually with the 1.35.0 currently-stable release. So there is still time to cherry pick this for a 1.35.1 point release if you guys want to. The very counter-intuitive error I get is:

[code]

[2019-06-10 08:12] eddyb commented on #61696
So the `!3` range is `0..=4`, right? But `E2::V2` should be `5`, so why does the range not include `5` and why does it store `1`?!

[2019-06-10 08:15] carado opened #61711 "ICE: stack overflow using imported type in Fn/FnMut across three crates"
I have three crates: `a` (library), `b` (library), and `c` (binary).

`a` has no dependencies, and its `src/lib.rs` is just:
[code]

`b` has the following dependency and `src/lib.rs`:
[code]
[code]

`c` has the following dependency and `src/main.rs`:
[code]
[code]

The following error happens running `cargo check` or `cargo build` in crate `c`:
[code]

Try as I may, I can't manage to make the erro

[2019-06-10 08:21] eddyb commented on #61530
cc @Zoxc (sadly, @michaelwoerister is on leave)

[2019-06-10 08:39] petrochenkov opened #61712 "More systematic compile/run markup for "pass" UI tests"
TLDR:
[code]

TODO:
More detailed description, motivation, etc.

cc @Centril

[2019-06-10 08:40] gnzlbg commented on #61530
@eddyb Maybe this should be P-High. This does not compile on nightly anymore:

[code]

Note that this does not use any `feature(...)`. That is, whatever broke this, broke `core::arch` on stable Rust.

[2019-06-10 08:43] Centril commented on #61712
I've added:
[code]
to `Config`.

The thinking is that you pass `--filter-mode run-pass,compile-fail,...` and have only those tests run.

A `--filter-mode` scheme seems easiest to implement given the current compiletest infrastructure and doesn't require us to rename a bunch of annotations.

[2019-06-10 08:46] eddyb commented on #61530
@gnzlbg Given `const_field` was added as a query in #61062, I suspect it's that PR.
It, and `type_name`, were added as `eval_always` and `no_force`, and I don't think either flag is needed.

[2019-06-10 08:52] petrochenkov commented on #61712
After some thought, perhaps filtering is not even necessary with `--force check`.
I'll make some experiments and report (sometime this week).

[2019-06-10 08:58] JeanMertz commented on #43466
I didn't see it mention in the RFC or this issue, but is there a way to link to a documentation header in another crate?

For example, I'd like to link to the _syntax_ header of the regex crate. I can do something like this:

[code]

But not something like this (which would be preferred, as that would link to the correct version of the syntax documentation):

[code]

[2019-06-10 09:07] mati865 commented on #59110
@rustbot modify labels: +I-nominated +stable-nominated

[2019-06-10 09:18] RalfJung commented on #57893
This is interesting! The fact that `foo` in @Centril's example even gets accepted shows that we aggressively exploit coherence during type-checking: because we saw an `impl` that uses a certain associated type, we type-check assuming that that is the `impl` that got used here. Unfortunately, as the example here shows, that is in conflict with the "implicit `impl`" that we get for trait objects.

I

[2019-06-10 09:37] psumbera commented on #61306
I really don't know how to partially revert the commit. Any idea? What to try?

Do I understand it correctly that version 1.34 is broken (even it builds successfully)? I haven't tried to really use it. Though Firefox 68 seems to require this version...

[2019-06-10 09:42] mati865 commented on #61710
Related https://github.com/rust-lang/rust/issues/47048
Latest toolchain release by mingw-w64 couldn't build LLVM: https://github.com/rust-lang/rust/pull/51989

@rustbot modify labels: +O-windows-gnu

[2019-06-10 09:54] MitchellBerry commented on #42349
https://snapcraft.io/rust

Issue should probably be closed.

[2019-06-10 09:59] glaubitz commented on #61306
Yes. Other Rust packages fail to build with 1.34.2 on sparc64 and the commit in question is part of the 1.34.x releases. I don't understand though why 1.34.2 itself builds fine.

[2019-06-10 10:33] Xanewok commented on #61072
@cramertj sorry, not yet. I'll work on this this week.

[2019-06-10 10:54] RalfJung commented on #61662
Miri is fixed upstream, but will be broken again by https://github.com/rust-lang/rust/pull/61673 so I'd like to land that before updating.

[2019-06-10 10:56] RalfJung commented on #61696
MIR still looks okay to me, so this seems like a MIR -> LLVM-IR translation bug.

[2019-06-10 11:00] nagisa commented on #61696
@eddyb I edited the code snippet – the reproducer above has changed in the time I was looking at things and I blindly copied it.

[2019-06-10 11:09] eddyb commented on #61696
Much better, thanks!

So `%2 = icmp ule i8 %1, 3` is, I believe, the check for the "dataful variant", since it's used to select discriminant `0` (`E1::V1`) when `false`. But it's `true` because the condition is all wrong.
I suspect the comparison was originally designed with "zero is a niche" in mind, but in this case, the available niche values are `2..=255_u8` (from the `bool`), so it should be

[2019-06-10 12:24] koalatux opened #61717 "stage2 compiler crash on `x.py test`"
`x.py build` works successfully, but `x.py test` fails. I also tried clearing ~/.ccache.

The last commit in master when I tried was 5d4aef605502f670f774cdd7d9a4e00d9d6bf148

The system is a Debian stretch amd64 in a KVM VM and the host CPU is an AMD EPYC 7301.

The error output is always a bit different on each run.

<details>
<summary>config.toml</summary>

[code]
</details>

<details>
<summary>

[2019-06-10 13:15] Manishearth commented on #43466
No, intra doc links doesn't currently support linking to sections. It could. It doesn't support linking to other docs.rs either, but that's trickier to get right.

[2019-06-10 13:28] Nemo157 commented on #43466
What do you mean by this? Quick testing shows that intra-rustdoc links works fine with locally available docs, or `html_root_url` specified in a dependency, or `--extern-html-root-url` overrides on the command line.

If you're referring to the fact there's no default external doc location when `html_root_url` isn't set, that is independent of the intra-rustdoc feature, it will presumably just work

[2019-06-10 13:33] Manishearth commented on #43466
I mean the general case of linking to an external crate on docs.rs if it's not a dependency of yours or you are not on docs.rs.

[2019-06-10 13:50] Nemo157 commented on #43466
Ok, so just #42301, which applies to all links to external documentation including intra-rustdoc links.

[2019-06-10 14:08] #60724 closed

[2019-06-10 14:08] #61346 closed

[2019-06-10 14:26] jbg commented on #61579
For anyone hitting this issue looking (like me) for a workaround, assigning the value to a local variable works:

[code]

[2019-06-10 14:59] c410-f3r commented on #61238
I will finish what I started. Assigning this issue to myself

[2019-06-10 15:27] alexcrichton commented on #61549
Looks like this was fixed in https://github.com/servo/rust-smallvec/pull/151 and we're just waiting on a version bump to `smallvec` now

[2019-06-10 15:30] ehuss commented on #61549
Just a minor correction, that's the wrong PR for this issue. The fix was in https://github.com/servo/rust-smallvec/pull/150.  I just did a few other drive-by fixes when I was reviewing the code.

[2019-06-10 15:30] NOVA-ME commented on #61684
[code]
I'm a noob in rust, this is my solution. ❤️

[2019-06-10 15:41] jdm commented on #61549
Once https://github.com/servo/rust-smallvec/pull/153 merges I'll publish a new release.

[2019-06-10 16:04] RalfJung commented on #60301
One (crazy?) thing we could so is have the dist builders query the toolstate repo to figure out if the tests are passing...

[2019-06-10 16:12] kennytm commented on #60301
That will either retrieve an outdated toolstate or will need to block until the toolstate is uploaded ...

[2019-06-10 16:13] TheEnbyperor opened #61721 "LLVM ERROR: Do not know how to split this operator's operand!"
When compiling the crate `memchr` version 2.2.0 with no_std I get this mysterious error. I have no idea what is causing this and enabling a backtrace does not produce any more output

[code]

[2019-06-10 16:17] nikic commented on #61721
Can you run with `--emit=llvm-ir` and provide the `.ll` file?

[2019-06-10 16:18] RalfJung commented on #60301
Without blocking it would lag behind by 1 merged PR, yes.

[2019-06-10 16:32] QuietMisdreavus commented on #54952
This got brought up again in https://github.com/rust-lang/www.rust-lang.org/issues/864, so it's worth bringing @rust-lang/rustdoc and @rust-lang/docs into this thread as well.

The primary concern is *which* libstd search to send the user to. `doc.rust-lang.org` hosts documentation for every version of Rust, so it's possible someone hit a 404 while trying to browse docs for version 1.30.0` or the

[2019-06-10 16:33] TheEnbyperor commented on #61721
I've uploaded to my gdrive here https://drive.google.com/file/d/1fjzKcpAcA6w45pBLc89eE62RIIS2RLos/view?usp=sharing

[2019-06-10 16:35] nikic commented on #61721
Thanks! Reproduces on LLVM master with:

[code]

[2019-06-10 16:43] nikic commented on #61721
Bugpoint reduced:

[code]

The problem is the `+soft-float` target feature.

[2019-06-10 17:06] cramertj commented on #53120
well it's settled then-- gotta be three letters, and "intern" is nice, so... `int`. ;)

[2019-06-10 17:07] cramertj commented on #44109
The doc pull requests do not have to land before stabilization PRs.

[2019-06-10 18:18] nikomatsakis commented on #60846
I have some potential fixed for this.

[2019-06-10 18:50] droundy commented on #61562
Any idea why it isn't being run in the stable compiler, and how I could fix that? The comment indicates that I expected a bug (it's vague in my memory) but I'd like to fix the test.

[2019-06-10 19:09] QuietMisdreavus commented on #61562
@droundy It looks like the code blocks where you linked in the template files are empty when `--features docinclude` is missing, which might have confused rustdoc. I changed the `ignore` to `text` and stable rustdoc was able to skip past those and run the doctest at the end of the crate docs.

[2019-06-10 19:22] brenzi opened #61725 "two separate but identical versions of a crate in dependency tree"
I get the following funny behaviour:

[code]
As you see, the versions are identical but cargo seems not to realize that

This issue causes errors like
[code]

I assume this is caused by a patch statement in workspace Cargo.toml
[code]
which is needed because otherwise two *truly* different versions of `untrusted` would collide.

Here's my repo showing this behaviour: https://github.com/scs/substra

[2019-06-10 20:36] estebank commented on #61132
At first I thought about how the derive macro would be constraining for some of the more complex errors, but looking at it I can see how it'd be more than appropriate for the great majority of errors we emit:

[code]

[2019-06-10 20:38] sailfish009 commented on #61561
i found that, unlike stage0, in stage1 not copy following 3 files:

libgcc_s_seh-1.dll
libstdc++-6.dll
libwinpthread-1.dll

C:\>dumpbin /dependents C:\\msys64\\work\\rust\\build\\x86_64-pc-windows-gnu\\st
age1\\lib\\rustlib\\x86_64-pc-windows-gnu\\codegen-backends\\rustc_codegen_llvm-
llvm.dll
Microsoft (R) COFF/PE Dumper Version 14.22.27706.1
Copyright (C) Microsoft Corporation.  All rights reser

[2019-06-10 20:38] varkor commented on #50145
As per https://github.com/rust-lang/rust/pull/61408, we should be able to use LLVM intrinsics provided we make sure they're properly supported.

1. Ensure the LLVM intrinsic [lowers to a suitable libm call](https://github.com/llvm-mirror/llvm/blob/master/include/llvm/IR/RuntimeLibcalls.def).
2. Make sure [Rust libm](https://github.com/rust-lang-nursery/libm) supports the function (add it if not).

[2019-06-10 20:48] thomcc commented on #50007
This seems to have gotten worse. In the past, the re-exported functions would be exposed so long as they were at least *used* (by publicly visible extern "C" functions in the crate re-exporting things).

Now it seems that no matter what they aren't (note: this is only on some platforms, like android).

[2019-06-10 20:48] Manishearth commented on #61132
Oh, tagging spans with this stuff is genius.

[2019-06-10 20:51] Manishearth commented on #61132
Hmm, it needs a little tweak:

[code]

[2019-06-10 20:52] Manishearth commented on #61132
So here we'd have to special case `Ty`, `Span`, and  `Option`. Not too bad.

[2019-06-10 22:47] huonw commented on #54952
I think the version thing can be maintained from the current page as a "black box" slug without having to parse it? The difficulty would seem to then be deciding whether a URL is versioned (like `/nightly/std/...` or `/1.30.0/std/...`) or not (like `/std/...`), which can potentially be done via checking a list of the known fixed slugs or whether the first slug starts with a number. That might look

[2019-06-11 00:00] estebank commented on #55759
Beta no longer emits this warning.

[2019-06-11 00:19] estebank commented on #58462
Current output:

[code]

[2019-06-11 00:28] estebank commented on #56335
Fixed in Beta:

[code]

[2019-06-11 00:28] #56335 closed

[2019-06-11 00:32] estebank commented on #55429
Current output for the first case:

[code]

[2019-06-11 00:48] #18952 closed

[2019-06-11 00:55] ehuss commented on #55759
Yea, appears to be fixed by #60252.  Although the test in that one is very similar, this issue is specific to a `use` ambiguity error.

[2019-06-11 01:07] estebank commented on #36869
Applying the suggestion makes the code compile successfully.

[2019-06-11 01:07] #36869 closed

[2019-06-11 01:19] estebank commented on #56785
Current output:

[code]

[2019-06-11 01:19] #56785 closed

[2019-06-11 01:24] ldesgoui commented on #26925
To those who find this issue, a solution is available by using
https://github.com/mcarton/rust-derivative

I am reposting because Github stopped showing every message by default.
If this message is inappropriate, apologies, feel free to delete it.

[2019-06-11 02:02] xplorld opened #61728 "Lifetime mismatch from itself"
I found myself encountering error[E0623], but the error message is not understandable and seems buggy: it says some variable's lifetime mismatches from itself.

Minimum Reproducible:

[code]

Result:

[code]

For me, this is not understandable, and I do not know how to fix it. In the real code, I want to copy a long-lived variable's short-lived reference to a new one and failed. I wonder:

1. How

[2019-06-11 02:10] ghost opened #61729 "Can this error be a little better? "E0576: cannot find method or associated constant ...""
[playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=54f2dc1b7eeea77f0cf2d000cb05f413):
[code]

[code]

The problem(s):

- [ ] can't use `<Human as Human>` probably because the latter `Human` isn't a trait, (so `Type as Type` is not valid?), as per:

- [ ]  the error says it can't find the method(`or associated constant` - this is true) in `Human` but this is not t

[2019-06-11 04:39] scottmcm commented on #61695
Looks like this might be https://github.com/rust-lang/rfcs/issues/1723?

[2019-06-11 04:43] scottmcm commented on #61674
`const`s aren't `static`s, so don't really have addresses, so that's doing rvalue-static-promotion, at which point it infinitely recursing seems expected, so no, I personally don't expect this would be different in future.

[2019-06-11 06:01] rickvanprim commented on #61674
Ah interesting, I wasn't aware of that!  Is there any other functional difference between a const and a static that's worth considering before replacing all my const expressions that I expect to have a fixed location with static?  The only thing that comes to mind is being able to declare const's inside of impl blocks but not static's.

[2019-06-11 06:39] djc opened #61730 "Associated things not found even though they do exist when used as array length"
[code]

This errors out with:

[code]

Even though `S::BAR` clearly does exist. The same thing happens for constants within associated types (so `T::Bar::BAR`), with E0220, and this confused me a whole bunch. Instead apparently the problem is that array sizes currently require a literal or some other more consty consts (is that part of #133)?

cc @estebank.

[2019-06-11 06:58] hellow554 commented on #61730
Probably dup of https://github.com/rust-lang/rust/issues/43408

[2019-06-11 06:59] #59761 closed

[2019-06-11 07:05] oli-obk commented on #54710
`#[allow_internal_unstable]` without a list of feature gates still works but is reporting a warning about being deprecated. You should always pass a list of features nowadays. I think this has baked long enough that we can remove the deprecated "allow everything" scheme.

[2019-06-11 07:13] hellow554 commented on #61696
"More minimized" without match and unstable features:

[code]

Interesting enough: When one removes the `V4` in the enum, the MIR code is still the very same, but it does not print the line.
The LLVM-IR changes from

[code]

to

[code]

(`noreturn` and `ret void` vs `unreachable`).

[2019-06-11 07:45] msizanoen opened #61731 ""Broken MIR" ICE when using runtime crate"
Fail-to-compile code:
[code]
Error message:
[code]

Output of cargo-expand, if useful:
[code]

[2019-06-11 07:47] ChristopherRabotin commented on #49078
@mati865 Could you link to the exact comment which has the work around? And what exactly needs to be changed for cross compiling from Linux? I can't seem to figure it out.

[2019-06-11 07:54] eddyb commented on #61731
cc @Zoxc @tmandry

[2019-06-11 07:59] eddyb commented on #61530
Self-contained reproduction:
[code]
However, the tricky bit is that you need to pass `-Cincremental=some-directory` if you want to use `rustc` directly (and that also means it doesn't repro on the playground).
That's because the bit that's ICE-ing is specific to incremental (re)compilation (but it triggers right away).

This confirms my suspicion that it is `const_field(a)` and `const_field(b)` wh

[2019-06-11 08:02] msizanoen commented on #61731
There's a workaround:
[code]

[2019-06-11 08:10] DutchGhost commented on #61728
Im not a 100% sure Im right, so if anyone notices a mistake, please point it out :)

1) I dont think you can make this work...
`.last()` gives you a reference to the last item of the vec.
You try and push onto the vec while this reference is alive.
What happens if that push had to reallocate the vector? Now you have a reference to memory that isn't yours anymore, Undefined Behaviour.

You could ar

[2019-06-11 08:14] msizanoen commented on #61731
This looks similar to https://github.com/rust-lang/rust/issues/61579

[2019-06-11 08:17] mati865 commented on #49078
@ChristopherRabotin https://github.com/rust-lang/rust/issues/47048#issuecomment-474113932 but for me copying the libs is enough (`crt2.o`, `dllcrt2.o` and `libmsvcrt.a`).
For i686 most distributions provide SJLJ based toolchain so you will have to get toolchain with DWARF2 or set `panic = abort` in https://doc.rust-lang.org/cargo/reference/manifest.html#the-profile-sections

[2019-06-11 08:43] little-dude opened #61732 "src/librustc/hir/def.rs:271: attempted .def_id() on invalid def: Err"
Rust version affected
---------------------

Both stable and nightly:

[code]

How to reproduce
-----------------

Run `cargo doc` on this code:

[code]

Stacktrace
----------

[code]

Potentially related issue: https://github.com/rust-lang/rust/issues/54320, although here it happens only with `cargo doc` not `cargo build`

[2019-06-11 08:44] portstrom commented on #41758
Is there any reason not to stabilize this right now? Offering functions that do the same thing as another function but with fewer arguments is a very common thing, and it's zero-cost in Rust.

[2019-06-11 09:02] TheEnbyperor commented on #61721
Just to clarify is this is a bug in my target, rust, or LLVM. I can't use the CPUs floating point registers as this is code going in a kernel, so if `soft-float` is the issue are there any other options?

[2019-06-11 09:16] nikic commented on #61721
@TheEnbyperor It's technically a bug in LLVM. Just not sure how much interest there will be in supporting the rather peculiar combination of +soft-float and +sse2 on x86.

[2019-06-11 09:19] GuillaumeGomez commented on #44109
@cramertj Normally they should land alongside the stabilization. iirc, the stabilization has to provide the doc as well.

[2019-06-11 09:48] petrochenkov opened #61733 "What is a trailing expression in a block exactly?"
Is it determined syntactically or semantically?
Before or after macro expansion?

Answering these questions is necessary to specify expansion of macros (stable fn-like ones or unstable attribute ones) in expression and statement positions.
The current implementation is sometimes inconsistent.

Below I'll be dumping some code examples expanded using different expansion models in hope to come up wit

[2019-06-11 09:52] petrochenkov commented on #61733
Macros used in the examples:

[code]

[2019-06-11 09:53] petrochenkov commented on #61733
TODO

[2019-06-11 10:05] eddyb commented on #53738
I tried to `deny(single_use_lifetimes)` in the compiler but hit this bug, which makes it a non-starter.

I'd almost change built-in deriving to not declare the lifetimes explicitly but I suspect that wouldn't work when using `#[derive]` nested within a block where the shadowing from explicitness would be useful.
(That's assuming built-in deriving actually uses these lifetimes in bounds, otherwise

[2019-06-11 10:08] YairHalberstadt commented on #61561
I have the same issue: https://stackoverflow.com/questions/56473344/couldnt-load-codegen-backend-when-compiling-rust-on-windows-using-mingw-64?noredirect=1#comment99649355_56473344

[2019-06-11 10:49] oli-obk commented on #56046
We do have this trait in https://github.com/rust-lang/rust/blob/9d9c7ad323f95612d933106d65e3057ca9a0434f/src/librustc/util/captures.rs#L6

If we move it to `core::marker` (unstably) we can use it in the printing of `async fn` return types, which currently just emit nothing: https://github.com/rust-lang/rust/blob/9d9c7ad323f95612d933106d65e3057ca9a0434f/src/librustc/hir/print.rs#L368 So with `Captu

[2019-06-11 10:49] phaylon commented on #61695
@scottmcm Ah, yes. I didn't go back to 2016, and didn't search in the RFCs :)

[2019-06-11 10:50] mati865 commented on #60301
@RalfJung would it be possible to add some kind of build assert so Miri fails on `dist` builders when Rust internals change too much?

[2019-06-11 11:16] Centril opened #61738 "Cleanup: Use `#![feature(associated_type_bounds)]` where applicable"
We can now write bounds of form:

[code]

When you find bounds of form:
[code]

You can rewrite them to the first form (but you'll need to add the feature gate...).

One regex you can try is: `::\w+: \w+` (doesn't cover lifetimes).

This is relevant both for the standard library and throughout the compiler.
Clippy may also want to do this and possibly also add an experimental lint? cc @oli-obk

cc

[2019-06-11 11:57] SimonSapin commented on #56046
Since this trait is defined in `librustc`, it doesn’t appear to be part of the standard library at all. I’ve changed the team labels accordingly, please revert if this is in error.

Or is the plan to move the trait to `core::marker`? Why is this a tracking issue in the first place?

`impl Trait` in return type position is now stable. Is it unsound when this kind of lifetimes are involved?

[2019-06-11 12:34] petrochenkov commented on #61733
[code]
Token-based expansion:
[code]
AST-based expansion:
[code]
Compiler's behavior:
`{ 2 }` **is** a trailing expression.

[2019-06-11 12:36] chansuke commented on #61097
@petrochenkov Hey, sorry for the late reply. I've finished like half of the modules and still working on this issue. Yes, I will send [WIP] PR.

[2019-06-11 12:40] pnkfelix commented on #61402
Okay I've narrowed the test case down to a standalone file ([play](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=e2fecbffdb6691b1e4dcf7a5fc0f1fc2)):

[code]

[2019-06-11 12:40] petrochenkov commented on #61733
[code]
Token-based expansion:
[code]
AST-based expansion:
[code]
Compiler's behavior:
`{ 2 }` **is not** a trailing expression, `0` **is not** a trailing expression.

[2019-06-11 12:44] pnkfelix commented on #61402
This is a stable-to-stable regression, injected between rust 1.23 and 1.24.

[2019-06-11 12:49] petrochenkov commented on #61733
[code]
Token-based expansion:
[code]
AST-based expansion:
[code]
Compiler's behavior:
I'm not even sure what the hell is happening, type checker reports errors as if `{ 2 }` both were and were not a trailing expression.

[2019-06-11 12:50] pnkfelix commented on #61402
(the fact that the bug goes away if you take away the `packed` on `struct Vertex` leads me to hypothesize that the bug is caused by some internal layout code for checking the validity of that use of `packed`)

[2019-06-11 12:55] SimonSapin commented on #48043
As far as I can tell, the error type is the only remaining blocker. How about something like this?

[code]

* A struct with private fields (and no public fields), so we could later add more fields or even turn it back into an enum

* No type parameter, but we can add one later (with a default) if the `Alloc` trait grows an associated type for errors and we want to propagate custom error values

*

[2019-06-11 13:01] RalfJung commented on #60301
Well `dist` builders already know when Miri fails to build because internals change too much. The issue is things that make Miri still compile but break the test suite.

[2019-06-11 13:02] petrochenkov commented on #61733
[code]
Token-based expansion:
[code]
AST-based expansion 1 (`expr!()` has statement kind):
[code]
AST-based expansion 2 (`expr!()` has expression kind):
[code]
Compiler's behavior:
Parse error `error: macro expansion ends with an incomplete expression: expected expression`.

[2019-06-11 14:04] kdy1 opened #61740 "nightly-2019-06-10: wf checking is too slow"
STR

1. git clone -b typescript https://github.com/kdy1/swc && (cd swc && git checkout 4d64b3eb5040c5ef9d2d42e93a98e76b9999f24f)

2. Modify swc/.cargo/config to
[code]

3. cd swc/typescript/checker && cargo check

<details>
<summary>output</summary>

[code]

</details>

[2019-06-11 14:09] Centril commented on #60405
Implementation of both feature gates was done in https://github.com/rust-lang/rust/pull/60463 which landed on 2019-06-11.
The PR was written by @mjbshaw and reviewed by @varkor and @rkruppe.

[2019-06-11 14:10] Centril commented on #60405
Should we apply `#[repr(transparent)]` to `MaybeUninit` now?

[2019-06-11 14:32] alexreg commented on #60532
Hi @fakenine. Any help on this so far? Let me know if you need advice or an initial cursory review!

[2019-06-11 14:34] alexreg commented on #57616
@wesleywiser Is the above intended behaviour, meaning we should probably close this issue now... or should we tag it so it can be addressed?

[2019-06-11 14:34] alexreg commented on #56046
@SimonSapin Thanks. However, this issue is really superseded by https://github.com/rust-lang/rust/issues/60670.

And no, there is no unsoundness. The point is it is overly-restrictive at present.

[2019-06-11 14:34] #56046 closed

[2019-06-11 14:36] fakenine commented on #60532
Hi @alexreg ! Thanks for the help. I was on holidays so I didn't get the time to start properly looking on it. I should be able to start this weekend

[2019-06-11 14:41] wesleywiser commented on #57616
@alexreg I'm on macOS and have been consistently getting backtraces. Are you still experiencing this issue?

[2019-06-11 14:46] jonas-schievink commented on #61740
Did you try other nightlies as well?

[2019-06-11 14:50] kdy1 commented on #61740
I tried 2019-06-11. It was same.

[2019-06-11 14:59] Zoxc commented on #57616
`-Z verbose` should not affect stack traces.

[2019-06-11 15:04] kdy1 commented on #61740
@jonas-schievink I tested on nightly-04-29, and it works like a charm.

[2019-06-11 15:04] alexreg commented on #57616
Yees, this still occurs. When query information is printed, backtraces are omitted.

[2019-06-11 15:05] alexreg commented on #60532
No problem. Keep us posted, and feel free to ask here or on Discord. :-)

[2019-06-11 15:06] SimonSapin commented on #48043
Alternative definition:

[code]

Having a public field for a zero-size type is a bit awkward, but the key idea is that it can stay unstable while the rest of the enum is stabilized (together with `try_reserve` methods that return it).

When https://github.com/rust-lang/wg-allocators/issues/23 is resolved, based on the outcome we either remove that field:

[code]

… or make its type be a new type p

[2019-06-11 16:07] pietroalbini commented on #61301
@ethomson said on Discord the checkout issues are now fixed :tada:

[2019-06-11 16:16] nagisa commented on #61539
@eddyb an easy way to (dis-)prove linker fault is to attempt linking with lld.

[2019-06-11 17:11] nikomatsakis commented on #61579
A variant that also ICEs ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=fff0ad7ff97537253dbe102c18f193f1)):

[code]

seems like the problem is "dropping" a value that needs drop from a call

[2019-06-11 17:14] davidtwco commented on #61685
@rustbot claim

[2019-06-11 17:25] nikomatsakis commented on #60414
It *seems* to be a missing normalization, most likely.

[2019-06-11 17:41] GuillaumeGomez commented on #61617
This is a duplicate of #60042 and was fixed by #60093. It's not stable yet though. Closing it then.

[2019-06-11 17:41] #61617 closed

[2019-06-11 18:14] DutchGhost opened #61744 "Consts + nevertype ICE"
Probably one should never write this, and I wonder if it will be disallowed in the future.
Happens on stable, beta and nightly, in all const-forms existing (includes const generics)

[code]

<details>
<summary>Backtrace:</summary>

[code]
</details>

[2019-06-11 18:30] jplatte opened #61745 "assertion"

[2019-06-11 18:30] #61745 closed

[2019-06-11 18:30] estebank opened #61746 "Recommend using `Once::new()` instead of `ONCE_INIT`?"
[`std::sync::ONCE_INIT`](https://doc.rust-lang.org/1.26.0/std/sync/constant.ONCE_INIT.html) is in effect just an alias to [`std::sync::Once::new()`](https://doc.rust-lang.org/1.26.0/std/sync/struct.Once.html#method.new), anyone using the former [can use the latter since v1.2.0](https://github.com/rust-lang/rust/pull/26192). I guess we can't outright deprecate `ONCE_INIT` given our backwards compat

[2019-06-11 18:32] jplatte commented on #61432
This also happens when passing a const generic variable (directly) to `println!` and friends.

[2019-06-11 18:42] estebank commented on #61730
It seems to be the same underlying problem, although it is hit in a separate part of the evaluation.

From https://github.com/rust-lang/rust/issues/43408#issuecomment-318258935:

[2019-06-11 18:44] nikomatsakis commented on #61002
Maybe we can just convert the error to a warning?

[2019-06-11 18:44] estebank commented on #61730
CC @rust-lang/wg-diagnostics if anyone wants to improve the error message while we await for this code to be accepted, but I would much rather we actually made the changes to make this code valid.

[2019-06-11 18:47] lzutao commented on #61746
Can we just deprecate it?

[2019-06-11 18:48] nikomatsakis commented on #61002
Not the best long-term solution but seems ok

[2019-06-11 18:48] estebank commented on #61730
If you [try to outsmart the compiler and write this in a more explicit way](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=0aa16a038eebd154ca5e18a7910ef08b), you get the a similar error as #43408, but even more galling because it recommends the same code that already exists:

[code]

`rustc` should say something along the lines of "you can't do this just yet".

[2019-06-11 18:49] jplatte opened #61747 "Const generics ICE: trying to create const name for unexpected const"
This code ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2813ed5749d80cdbd05f95538c763060)):

[code]

results in an ICE:

[code]

[2019-06-11 19:01] dominicparga commented on #31998
Hello all,

first off, thanks for your efforts in this language! I've just started with Rust and really like it. Cargo and the strong compiler are awesome! :)

This issue looks quite similar to the following behaviour.

## Code snippet

[code]

## Compiler answer

From [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5a28e40c86af3b3c4b34eba269227265) with `stabl

[2019-06-11 19:05] kpp commented on #61731
I got the same issue with https://github.com/kpp/futures-async-combinators/ using rustc 1.37.0-nightly (02564de47 2019-06-10)

[2019-06-11 19:11] Electron-libre commented on #57242
Hi,

I can give it a try. This does not seems hard to fix.

Probably from here: https://github.com/rust-lang/rust/blob/8e948df707ea8a3c88c65bf2ffdcb2f1cf5491be/src/librustc_typeck/check/mod.rs#L3622

+ 1 Unit test

Should be enought

[2019-06-11 19:13] Ericson2314 commented on #48043
@SimonSapin and I disagree on whether it is superior, but my fallibility-polymorphism in https://github.com/rust-lang/rust/pull/60703 is almost ready (see how https://github.com/rust-lang/rust/pull/58457 was just rebased).

[2019-06-11 19:35] DutchGhost commented on #61744
Note:
You could also write the following way, in order to not need the `#[allow(unconditional_recursion)]` attribute

[code]

[2019-06-11 19:50] nnethercote commented on #59718
Also, the following PRs have reduced `hygiene_data` accesses by ~50-80% across the benchmarks in rustc-perf: #61253, #61484.

[2019-06-11 20:00] nnethercote commented on #59718
Here are some updated numbers, compared to the old numbers from the first comment above.
[code]
The `NEW` measurements are for debug builds; the `OLD` measurements may have been for clean builds, in which case the improvements are even better than they appear. (`symbol_interner` is used quite a bit during debug code generation; I'm not sure about `hygiene_data` and `edition`.)

I got some nice win

[2019-06-11 20:03] ethomson commented on #61301
Thanks for linking me to this issue, @pietroalbini.  Looking at the topic, I'm looking at this section:

Naive question: what is the weirdness that you're describing?  It's not obvious from the logs, because I don't really know what I'm looking for.

[2019-06-11 20:11] alexcrichton commented on #61301
Ah yeah sorry I should have been more descriptive there! On build 287 the x86_64-msvc-2 build fails the build due to an odd error message (presumably a submodule missing) and the logs for the "Check out submodules (windows)" step, while successful, are sort of funny. I'm not sure if this is really an Azure issue though, it may have been a case that we got a bad tarball from GitHub and swallowed th

[2019-06-11 20:21] pietroalbini commented on #61301
By the way, since I couldn't reproduce that failure locally I also added [some extra debug info](https://github.com/rust-lang/rust/pull/61322) to see what's actually happening there. Didn't get a chance to see the output when the spurious failure happens yet.

[2019-06-11 20:49] estebank commented on #57242
@Electron-libre that'd be great!

You'll have to look at the `AdtDef`'s (only) variant in `variants`, which is of type `VariantDef`, and look at its `ctor_kind` field (of type `CtorKind`) to identify whether this is a struct or tuple style struct. From there it is a matter of using the appropriate spans for the suggestion and silencing the "similar name exists" suggestion.

[2019-06-11 21:36] gurgalex opened #61751 "ICE: 'no entry found for key', src/libcore/option.rs:1034:5"
ICE on both `1.35.0 stable` and `nightly 2019-06-10`

code [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=5aa94087c049a1cb5da0ca45a4de52e7)
[code]

<details>
<summary> backtrace: cargo run +stable build --verbose</summary>

[code]
</details>

[2019-06-11 21:40] KrishnaSannasi opened #61752 "`associated_type_bounds`: errors with ambiguous associated type"
I think I found a bug with associated type bounds! #52662

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=28d566e7244a0b3ad21b73e31418894d
[code]
This is the exact same error you get when you do this
[code]
Because Rust can't tell which `Foo::<_>::Bar` you mean, but in the case of `associated_type_bounds`, there is no ambiguity, which makes this error confusing.

[2019-06-11 21:45] Centril commented on #61746
*Why is `sync::ONCE_INIT` a problem?*

[2019-06-11 21:49] Centril commented on #61751
Likely dupe of https://github.com/rust-lang/rust/issues/61751.

cc @matthewjasper

[2019-06-11 21:51] euclio commented on #61746
Similarly, the initializers for the `ATOMIC_` family of structs were deprecated in 1.34 and have a rustfix-able suggestion to use the `new()` function. For example, see [`ATOMIC_BOOL_INIT`](https://doc.rust-lang.org/nightly/std/sync/atomic/constant.ATOMIC_BOOL_INIT.html).

[2019-06-11 21:52] Centril commented on #61752
Seems like a bug indeed!

cc @alexreg @nikomatsakis

[2019-06-11 21:54] estebank commented on #61746
"There should be only one way of doing it"™️ 🙂

I saw someone today get quite confused today as to why both existed in the first place, which required an explanation of `rustc`'s backwards compatibility policy, `const fn` behavior, and `rustc` release schedules. I feel that we should have an aggressive funnel towards "the right way of doing things"™️ across the board, that includes linting against

[2019-06-11 21:57] Centril commented on #61752
Same error with:

[code]

Although the following results in the same problem:

[code]

so it may not be a bug after all?

[2019-06-11 21:59] KrishnaSannasi commented on #61752
Ok, maybe just the wrong error in the desugaring?

[2019-06-11 22:01] Centril commented on #61746
/me Prepares plans to deprecate `while true { ... }` :)

In all seriousness, imo someone's confusion as to why both existed and "only one way to do it" is a rather weak justification for churn when the old way isn't harmful in any way.

Seems fine.

[2019-06-11 22:27] sfackler commented on #61746
We deprecate things like ONCE_INIT 3 releases after their replacements (in this case Once::new specifically being a const fn) were added. I can't find in the release notes when that happened, but if someone tracks it down, it should be an easy PR!

[2019-06-11 22:27] Centril commented on #61752
@KrishnaSannasi Oops; I wrote `Foo::Bar: Foo`; should be `F::Bar: Foo`. Sorry!

[2019-06-11 23:11] nikomatsakis commented on #60846
OK, #61754 is up, though still doing final tests. 🤞 When I ran it locally, it seemed to resolve the perf slowdown.

[2019-06-11 23:59] vadixidav commented on #61368
Just going to note that this is currently a blocker for implementing constant bit arrays (and probably, though I haven't checked, the storage for NxM matrices).

[2019-06-12 00:18] goffrie opened #61756 "`impl Trait` with multiple lifetimes imposes a strange lifetime requirement"
Consider the [following code](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=4973e923873462ad1d3630ffbd463cd6):

[code]

Compiling with `#![feature(nll)]` yields the following error:
[code]
That is, it's requiring that the reference to `Transaction` outlive `'a`. Unfortunately, it doesn't explain at all why that requirement was imposed.

Also, just returning `+ '_` compla

[2019-06-12 00:23] sailfish009 commented on #61561
replace llvm with latest version in my private [repo](https://bitbucket.org/sailfish009/rust) (which works fine 2019-5-18), result same error. so there is something wrong with latest src/llvm-project.

[2019-06-12 00:34] alexreg commented on #61752
It's a very weird bug yes, confirmed. For now, just avoid splitting up your associated type bounds like this, but I'll try to get it fixed soon.

[2019-06-12 00:40] Ericson2314 commented on #48043
Oh, thanks @SimonSapin for mentioning my issue in the second comment I did not see that the first time sorry. For the record, #60703 goes with the `pub enum ContainerAllocError<E = AllocErr>` approach, which is more useful because `ContainerAllocError<!>` correctly ensures only `CapacityOverflow` is possible since all all allocation failures will panic/abort.

[2019-06-12 00:41] tmandry commented on #57478
cc @rust-lang/lang, are we 100% sure we want to support this? The implication is there is going to be a "sharp edge" here when drops for certain locals move around relative to yield points (or vice versa).

It's also possible to work around it by turning your scope into a function call (possibly a closure that is immediately called).

[2019-06-12 00:45] estebank commented on #61746
@sfackler `Once::new` was stabilized [all the way back in 1.2](https://github.com/rust-lang/rust/pull/26192/files#diff-80754b8db8699947d7b2a43a9cc17dedR51).

[2019-06-12 00:48] estebank commented on #61746
[code]

😬

[2019-06-12 00:51] sfackler commented on #61746
Was it callable as a const fn in 1.2.0?

[2019-06-12 00:52] sfackler commented on #61746
The const-ness was made stable in the same PR as for AtomicUsize::new: https://github.com/rust-lang/rust/pull/46287/files#diff-80754b8db8699947d7b2a43a9cc17dedL159

[2019-06-12 00:53] estebank commented on #61756
Would using [changing `Transaction::scan` to `pub fn scan(&'a mut self)`](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=2dbf8ebb9c30ce5e81ba2e1b6c50c42f) work for you?

[2019-06-12 01:27] goffrie commented on #61756
That makes the function compile, but it makes it quite unuseful for the caller: it means that any caller of `scan()` is committing to the `Transaction` being borrowed for as long as the lifetime of the `Store` reference within. For example, a function like
[code]
fails to compile under that signature of `fn scan`:
[code]
(Also the error message here isn't great either - "first borrow later used he

[2019-06-12 01:51] tmandry commented on #59123
I was thinking, we can solve this by adding the following rules to our `MaybeStorageLive` dataflow analysis ([being renamed](https://github.com/rust-lang/rust/pull/61430/files#diff-2fcfbf339316629f6a51d4557d409d4c) to `RequiresStorage`):

1. If a local is moved from, _and has never been mutably borrowed_, mark it dead
2. If (any part of) a local is initialized, mark it live

We must not optimize a

[2019-06-12 02:07] tmandry commented on #52924
So I've taken a close look at @Matthias247's example, and believe that the solution here is the same as the one in https://github.com/rust-lang/rust/issues/59123#issuecomment-501089032.

[2019-06-12 02:10] mjbshaw commented on #60405
I'll submit a PR to update `MaybeUninit`.

[2019-06-12 02:13] #61508 closed

[2019-06-12 02:13] #61650 closed

[2019-06-12 02:13] #61604 closed

[2019-06-12 03:53] lzutao commented on #51301
Is this test OK? Where can I store this?
[code]

[2019-06-12 05:11] HadrienG2 commented on #61747
Isn't that a close cousin of https://github.com/rust-lang/rust/issues/61414?

[2019-06-12 05:13] ryzhyk opened #61759 "Regression: implementing `Clone` for trait objects"
The following code used to work with rustc 1.32 and earlier, but it crashes with stack overflow due to infinite recursion in 1.35

[code]

([Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=717a1c927b84ec232ae0add5e479976a))

Errors:

[code]

**Update**

It does work correctly with a slightly modified `main` using `as_ref()` to explicitly extract reference out of

[2019-06-12 05:22] shaopengw opened #61760 "ICE occurs after removing `Box` and do 'cargo check'"
I tried this code to solve recursive type by `Box`, did `cargo check` and everything is fine:

[code]

But when I removed `Box` and did `cargo check` again, an ICE occurred:

A demo [repo](https://github.com/shaopengw/cargo-check-bug-demo) is created to help reproducing this bug.

## Meta

The ICE could be reproduced on both stable and nightly.

`rustc --version --verbose` of stable:

[code]

`rus

[2019-06-12 05:27] lzutao commented on #40531
@rustbot claim

[2019-06-12 06:22] Electron-libre commented on #57242
Thanks for the tips.

[2019-06-12 07:38] #60795 closed

[2019-06-12 07:38] #48828 closed

[2019-06-12 07:42] eddyb commented on #59123
The "mutably" of "mutably borrowed" is a red herring IMO, unless you want to check for `Freeze`, which will conservatively default to "may contain interior mutability" once generic parameters are thrown into the mix.

[2019-06-12 08:07] elpiel commented on #50547
@withoutboats to my understanding the final syntax is agreed upon already, maybe it's time to mark it as Done? :blush:

[2019-06-12 08:38] RalfJung commented on #59123
@tmandry Interesting. How bad would it be to relax this to "if a local is moved from *and never has had its address taken*? Then we can be sure without any assumptions about Stacked Borrows that direct accesses to the local variable are the only way to observe it, and those will be prevented after a move.

Also, what is the granularity here? Without Stacked Borrows assumptions we can only do this

[2019-06-12 08:42] psumbera commented on #61306
The issue can be seen with -Cdebuginfo=n with n other than 0.

[code]

[2019-06-12 09:04] Nemo157 commented on #57478
You don't need a function call, just adding an actual scope around the variable that's dropped between yields is enough (this is included in the playground):

[code]

It makes sense to me why this is as it is and the solution could be just improved diagnostics telling users to add these extra scopes, it just seems like an unnecessary pain point for async functions.

[2019-06-12 09:07] Nemo157 commented on #61211
https://github.com/rust-lang/rust/issues/57478 is another more specific dup.

[2019-06-12 09:18] ackxolotl commented on #61760
Same issue as #61323 and #57373.

[2019-06-12 09:34] glaubitz commented on #61306
I have to admit I don't have enough background knowledge on the fundamental workings of LLVM, so this is more something for @karcherm who has a much better understanding on these things and has helped debugging such issues in the past.

I have already nudged him ;).

[2019-06-12 09:39] mati865 commented on #34586
Doesn't seem to be case anymore, `./x.py build` creates only `build/tmp/`.

[2019-06-12 09:51] petrochenkov commented on #34586
Perhaps `x.py test` creates it because I still see the second `tmp` outside of the `build` directory created in the last few days.

[2019-06-12 09:54] jonas-schievink commented on #61760
Yup, backtrace is the same as in https://github.com/rust-lang/rust/issues/61323, closing in favor of that (which also has a reproduction)

[2019-06-12 09:54] #61760 closed

[2019-06-12 10:12] brenzi commented on #61725
This is related to https://github.com/rust-lang/cargo/issues/6961

And actually, I should've filed the issue with cargo, not with rust. Sorry

[2019-06-12 10:18] matthiaskrgr opened #61764 "unhelpful "expected item" error when putting let binding outside of function"
[code]

[code]

Could we have some suggestions what kind of item should be put there? :)
Also there seems to be no error code which is strange

[2019-06-12 10:19] matthiaskrgr commented on #61764
@rustbot modify labels: A-diagnostics

[2019-06-12 12:02] jplatte opened #61768 ""trait not implemented" errors can be very confusing when the trait has an associated type with bounds"
Simple example using rayon ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=be8de4dcf8998d126b2ca8fde4281c93)):

[code]

This code rightly doesn't compile because `rayon`s `IntoParallelIterator` has a `Send` bound on its `Item` type. However, none of the error messages for the methods called in the code above ever mention that bound or the associated type:

[co

[2019-06-12 12:20] mati865 commented on #39503
@alexcrichton has https://github.com/rust-lang/rust/pull/60852 fixed this issue?

[2019-06-12 13:03] nextzhou opened #61770 "Broken MIR: generator contains type"
I tried this code:

[code]

this happened:
[code]

## Meta

`rustc --version --verbose`:

[code]

Backtrace:
[code]

[2019-06-12 14:05] alexcrichton commented on #39503
Yep!

[2019-06-12 14:05] #39503 closed

[2019-06-12 14:27] Centril commented on #60406
Partial implementation completed as of 2019-06-12.
Implementation was done in https://github.com/rust-lang/rust/pull/60669 by @c410-f3r which was reviewed by @petrochenkov and @Centril.

https://github.com/rust-lang/rust/issues/61238 still needs to be done for a full implementation.

[2019-06-12 14:27] mati865 commented on #61770
Duplicate of https://github.com/rust-lang/rust/issues/61442

[2019-06-12 14:35] c410-f3r commented on #61574
Minimal code:

[code]

[2019-06-12 15:09] nikomatsakis opened #61773 "`impl_trait_in_bindings` and pick-constraint region bounds"
I'm working on https://github.com/rust-lang/rust/issues/56238. In the process, I'm extending how `impl Trait` lifetime inference works -- in particular in scenarios involving multiple, unrelated lifetimes, such as `impl Trait<'a, 'b>`. The challenge here is that each region `'h` in the hidden type must be equal to `'a` or `'b`, but we can't readily express that relationship in terms of our usual "

[2019-06-12 15:11] nikomatsakis commented on #61773
Example test. An easy case is when they use named regions from in scope:

[code]

[2019-06-12 15:14] nikomatsakis commented on #61773
Example test. A harder case is when we have inferred lifetime variables.

[code]

I expect this to compile because:

- the `force_equal` method forces the two `'_` to be equal, so we effectively have `impl Trait<'x, 'x>`
- the hidden type is a tuple `(&'0 u32, &'1 u32)` where `'a: '0` and `'b: '1`
- thus `'0` and `'1` must either equal `'x` or `'static`
- but `'x` can be some portion of the fn bod

[2019-06-12 15:18] mati865 commented on #61264
Looks like incompatibility between musl 1.1.18 (Rust was built with this one) and 1.1.21+ probably introduced by https://git.musl-libc.org/cgit/musl/commit/?id=bf453d68393f7eea5965319e21311e56d71fa53c
Nightly is using musl 1.1.22 and does not reproduce this issue.

[2019-06-12 15:25] lzutao opened #61774 "Size mismatch when const transmuting"
[Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=bd3b646409e9f3897ee22199f6d25681)

Maybe this is a duplicate to #61455

I tried this code:

[code]

<details>
  <summary>stderr</summary>

[code]
</details>

<details>
  <summary>backtrace</summary>

[code]
</details>

## Meta

[code]

[2019-06-12 15:25] lzutao commented on #61774
@rustbot modify labels: A-const-generics I-ICE T-compiler

[2019-06-12 15:34] estebank commented on #51301
That seems about right add the file to `src/test/ui/issues` and run `./x.py test src/test/ui --stage 1 --bless`.

[2019-06-12 15:34] mati865 commented on #34586
@rustbot claim

Indeed `x.py test` created this directory, I'll see if I can fix it.

[2019-06-12 15:41] Thomasdezeeuw opened #61777 "ICE: called `Option::unwrap()` on a `None` value"
Rust panicked with the following.

[code]

Backtrace isn't great. Let me know if I can provide more information.

[2019-06-12 15:50] Thomasdezeeuw commented on #61777
This seems to be solved in a newer version of rustc.

[2019-06-12 15:50] #61777 closed

[2019-06-12 16:10] BartMassey commented on #61429
Not actually a bug, I think. Or at least a complicated one. Can fix this code by getting rid of the unneeded 0x0 offset:

    mov     $0, %rsp

or changing the constraint to `"r"`. The problem seems to be that `new` is on the stack, and there's no way to reference that location without offset addressing.

The real bug here is that the original code compiles on debug. On my box I get

    movq    (

[2019-06-12 16:28] cfsamson commented on #61429
Well, I'm not 100% sure either if it working in debug is a bug or not working in release is a bug. What I do know is that the code works fine on debug doing what I would expect it to do. And the above is a contrived example, and the smallest I could make. The real code looks like this:

[code]
Which according to the LLVM Reference should work (I think): [https://llvm.org/docs/LangRef.html#indirect

[2019-06-12 16:33] cfsamson commented on #61429
If you want to play around with a full working example that actually runs something useful, I have one here:
[https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=be07fd6bf995a59eaf45d76fb21a48a1](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=be07fd6bf995a59eaf45d76fb21a48a1)

[2019-06-12 16:55] SimonSapin commented on #48043
(At a risk of re-hashing arguments already made elsewhere, my view is that when panic/abort on allocation error is desired there is no need for `try_reserve` over `reserve`. So `ContainerAllocError<!>` is not a useful construct IMO. But the proposed unstable field to force non-exhaustive matching leaves the door open either way, so this doen’t need to be decided in this thread.)

[2019-06-12 17:00] cramertj commented on #59123
Oh, really? I suppose that makes sense in a "list of things you can do" sense, but it's surprising and seems like it would make optimizations like SROA hard.

[2019-06-12 17:13] SimonSapin commented on #48043
PR for the above: https://github.com/rust-lang/rust/pull/61780

[2019-06-12 17:17] RalfJung commented on #59123
Well, Stacked Borrows might restrict this. But then we get into https://github.com/rust-lang/unsafe-code-guidelines/issues/134. So for now I'd say as compiler authors we should assume that it does leak the entire local.

[2019-06-12 18:34] tmandry commented on #59123
Oh right, well `Freeze` is an option. I don't see why we need to rule out types with generic parameters, at least based on [this definition](https://github.com/rust-lang/rust/issues/11781#issuecomment-36623828). But if you want to maintain flexibility on the definition then I suppose we could.

Yes, but how would we enforce this? A borrow can be passed to another function, which can convert to a p

[2019-06-12 18:44] cramertj commented on #59123
@tmandry

I think that @RalfJung was including `&` as an operator which would "take the address" of a local. That said, I agree with you that we can do better than this and only include `&` if `T: ?Freeze`.

[2019-06-12 19:02] RalfJung commented on #59123
"the address taken" = "has the `&` operator executed". That should be trivial to enforce?

Basically what @cramertj  said. Doing "better than this" require committing to parts of Stacked Borrows. I am not sure if @rust-lang/lang is ready for that. For sure it shouldn't happen as part of a PR like this.

[2019-06-12 19:11] Ericson2314 commented on #48043
The PR takes into account my concerns and so looks fine to me. `Layout` is a good idea.

@SimonSapin

 I think that debate should happen in this issue? After all with my plan for fallibility/allocator polymorphism doesn't really point to `try_reserve` as written in the RFC being a good idea, even if it is technically possible to support it.

My argument hinges on one key observation: the code usin

[2019-06-12 19:49] tmandry commented on #59123
Then yes, that's easy to enforce.

Can you expand on this? How would checking for `Freeze` require committing to Stacked Borrows?

[2019-06-12 20:12] cramertj commented on #59123
@tmandry I'm guessing @RalfJung is referring the fact that it commits us to things like this being UB:

[code]

[2019-06-12 20:33] AaronKutch opened #61784 "Make `ptr_rotate` faster"
I was going to directly PR the performance improvement, but since this is my first time writing a bunch of unsafe code, and because `x.py` will not work for me (#61611), I decided to open an issue and point to [this repository](https://github.com/AaronKutch/ptr_rotate_bench_demonstration) filled with all the benchmarks I wrote.

I tried over 20 different variations on algorithms before settling on

[2019-06-12 21:03] RalfJung commented on #59123
@cramertj indeed that's what I mean. This would be the first new "reference-based UB" since... forever, I think. It should happen deliberately and prominently and have its own discussion.

[2019-06-12 21:07] tmandry commented on #59123
@RalfJung Hmm okay, then I think we should start having that discussion soon (in a different issue, probably).

This relates to the maturity of `await`. It's common practice to debug the size of your futures by calling `size_of_val` on the inner futures. In this state of the world, doing so would increase the size of your outer future! I'm comfortable shipping a feature in that state, at least wit

[2019-06-12 21:17] RalfJung commented on #59123
@tmandry notice that the moment your future is generic or has a `const` field, taking a shared reference *will* have to pessimize such optimizations due to the necessary `is_frozen` check.

[2019-06-12 21:18] RalfJung commented on #59123
Also, won't it usually `await` the inner future, so anyway its address has been taken mutably?

[2019-06-12 21:20] cramertj commented on #59123
I'm not sure I understand this bit-- couldn't the optimization be monomorphization-dependent?

[2019-06-12 21:24] matthewjasper commented on #59123
FWIW I'm probably reverting all changes to the generator transform in that PR. The `MaybeStorageLive` analysis is also used for determining what variables need to have `StorageLive` when we enter `resume`, so it probably shouldn't be modified.

[2019-06-12 21:26] RalfJung opened #61786 "as_ref suggestions should warn about UB concerns"
With https://github.com/rust-lang/rust/pull/61444 we are now suggesting people to use `as_ref` when they have a raw pointer and need a reference. With https://github.com/rust-lang/rust/pull/61785 `as_ref` gets some expanded documentation on UB avoidance. It might be a good idea to mention that also in the actual suggestion, so people don't have to open the docs to be aware of this.

Cc @estebank

[2019-06-12 21:27] tmandry commented on #59123
@RalfJung What I'm trying to optimize is this:

[code]

which today expands to

[code]

The move `let mut pinned = x;` doubles the size of the future that contains it today, because we reserve space for both `x` and `pinned`. What we need is for the generator transform to recognize that `x` does not need to be saved across the yield at all.

Based on our discussion, it seems pretty straightforward

[2019-06-12 21:51] cramertj commented on #59123
For what it's worth, that move (`let mut pinned = x;`) is just to prevent the user from using `x` after calling `.await`, and could be omitted if we had some way to mark a local as "moved" without actually moving it (`drop` doesn't work because it can cause the value to move to a different place in memory).

[2019-06-12 21:52] tmandry commented on #59123
A secondary question I have is, can we rely on the ordering between the move and the borrow? e.g.

[code]

Since the _first_ instance of `move_from(x)` happens before any borrow, can we consider `x` as not needing storage between that and when it is re-assigned? (Clearly, today we cannot do this for the second instance of `move_from(x)`.)

I don't want to get bogged down in this question though, s

[2019-06-12 21:53] cramertj commented on #59123
Actually i think we can do this today-- `ptr::drop_in_place` followed by `mem::forget` XD

[2019-06-12 21:54] tmandry commented on #59123
@cramertj Hmm, good to know, but this also affects the size of `join!` because we are moving all the sub-futures into a single joined future.

[2019-06-12 22:01] cramertj commented on #59123
@tmandry we can get away with a similar thing there by only putting references in the new state machine. It's higher overhead because of the additional pointers, but it'll prevent ever having to copy into a new location, and save space for large types, even those whose address had been taken.

[2019-06-12 22:06] RalfJung commented on #59123
Still catching up, some comments on the way:

Oh so everything we are discussing here happens post-monomorphization? Never mind that part then.

Agreed. And if it's just `size_of_val` we could let the analysis know that it doesn't actually escape the pointer. (Or we could do inlining and then that becomes obvious.)

Even with full Stacked Borrows, we'd still have an "uncertainty principle" (the ph

[2019-06-12 22:07] cramertj commented on #59123
Aaaand this doesn't work because it requires that the binding be mutable:
[code]

[2019-06-12 22:15] tmandry commented on #59123
Mm yeah, I guess the true fix for this rough edge is MIR inlining, with a special case for `size_of_val` being an acceptable interim solution.

Still, with regard to optimization I would like to support as many cases as possible.

[2019-06-12 22:38] estebank commented on #61764
This is a parser error and those rarely have codes because the surface of things that could have gone wrong is much larger.

[2019-06-12 23:12] KrishnaSannasi commented on #61759
This also works if you extract the reference out of the box inside the `Clone` impl

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=a2d576b485eee34dc1cecdb06e78a0f6

It looks like it sees that `Box<dyn CBFn>: 'static + Clone + Fn()` then applies the blanket impl to `Box<dyn CBFn>`. This in turn leads `self.clone_box()` using `<Box<dyn CBFn> as CBFn>::clone_boxed(&s

[2019-06-12 23:18] ryzhyk commented on #61759
Thanks, @KrishnaSannasi. This makes sense, but I find it disturbing that the behavior changed in one of the recent compiler releases, potentially breaking software that relied on the old behavior. I wonder if this is deliberate or a side effect of some other change.

[2019-06-12 23:19] KrishnaSannasi commented on #61759
This is likely a side effect of of blanket trait impls interact with each other.

[2019-06-12 23:23] moxian opened #61788 "Irrefutable `if let` on a single-variant enum only produces () value"
The following code ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=1a6f75f70181628848d7fdf82edc25b6))

[code]
gives the following error:
[code]
which is weird, since the `else` clause would never be visited even if it was present.

The equivalent one-arm match
[code]
compiles just fine (expectedly).

Adding an `else { unreachable!() }` branch to the `if let` i

[2019-06-12 23:30] varkor commented on #61788
You can match irrefutably without `if` in this case:
[code]
though maybe we should give this special diagnostics.

[2019-06-12 23:56] Centril commented on #61788
I think this is too niche to deserve a special diagnostics.

`if let` is defined by a desugaring:

[code]
becomes:
[code]

so what you really wrote is:

[code]

The block `{}` is typed at `()` which does not unify with `value` unless it is also typed at `()`.

[2019-06-13 00:09] ecstatic-morse opened #61790 "azure: `sccache` not found"
The Azure pipeline is currently failing on my PR because it is [unable to find `sccache`](https://dev.azure.com/rust-lang/rust/_build/results?buildId=606&view=logs&jobId=d5810e3a-0d17-5d9d-3d2e-f99007e94ae9&taskId=e50ec509-f79e-5c61-3d86-4e0717295716&lineStart=136&lineEnd=136&colStart=1&colEnd=42).

[2019-06-13 01:15] #61770 closed

[2019-06-13 01:55] scottmcm commented on #61784
One thing I suggest including that I didn't see in your benchmark list: `struct RGB { r: u8, g: u8, b: u8 }`.

Anything that couldn't do bigger chunks ended up with bad performance rotating those last time I was experimenting, presumably because it needed 6 byte-level memory operations per move.

[2019-06-13 02:37] AaronKutch commented on #61784
I renamed some benchmarks and added the RGB test. The new algorithm performs better on Intel at least. I just remembered that the AMD CPU is extremely inconsistent with microbenchmarks, with the measurements swinging wildly. I think I have done all I can do, unless there is some SIMD trickery I can apply. My algorithm 1 is still better than using algorithm 2 for `u8`.

I copied the `[usize; 32]` b

[2019-06-13 04:19] #50512 closed

[2019-06-13 04:19] #54236 closed

[2019-06-13 04:20] #61699 closed

[2019-06-13 04:20] #61703 closed

[2019-06-13 04:39] JohnTitor commented on #60497
I'll work on this but I don't catch better wording. One of options is to change E0369 `cannot be applied to type {}` to `cannot be applied to type {} and {}`, is this reasonable? And should we also unify note/help wording?

[2019-06-13 04:54] Matthias247 opened #61793 "Codegen ICE/regression with 2019-06-12 nightly when using async fn<T: Fn()>(&self, T)"
Unfortunately the error message is super thin and I can't provide the source of the project. Therefore it's also hard to provide a minimal reproducible example.

[code]

Some hints:
- Yesterdays nightly (nightly-2019-06-11-x86_64-apple-darwin) doesn't ICE
- The project makes heavy use of async/await. Therefore it might by related to that. I wondered whether it's about @tmandry's generator optimiza

[2019-06-13 06:10] matiu2 commented on #61636
Could you tell me how I would re-run it on the command line ? my IDE (clion) ran it, and I don't know how it does it.

[2019-06-13 06:13] lzutao commented on #61636
In the project root that has `Cargo.toml` file, open you terminal in there
and type `RUST_BACKTRACE=1 cargo build`.

[2019-06-13 06:32] hellow554 commented on #61774
Also happens without feature gate :/

[code]

[2019-06-13 07:10] abonander commented on #40460
@MaulingMonkey's PR brought visualization quite a long way but there's still a few shortcomings in the debugging experience as of the latest nightly:

* Mutable slices need a separate visualizer entry, as their type name is `mut slice<*>`; I was able to fix this just by duplicating the visualizer entry for `slice` in `intrinsic.natvis`:

[code]

* Slice visualization works fine in the same stack f

[2019-06-13 07:20] petrochenkov commented on #56389
I'm going to close this in favor of https://github.com/rust-lang/rust/issues/61567 (which doesn't have a discussion distracting from the primary issue).

[2019-06-13 07:20] #56389 closed

[2019-06-13 07:20] RalfJung commented on #59123
Sure you do, we all do. Just remember that you are paying for this optimization with the ~~blood~~ sweat of Rust programmers because you made their programs UB. ;)

---

One thing I am wondering about: in a situation like
[code]
why can't MIR building insert the `StorageDead(x)` right after the move? That would also make the optimization trivial.

[2019-06-13 08:49] hellow554 commented on #61744
Regression in https://github.com/rust-lang/rust/commit/f40aaa68278ef0879af5fe7ce077c64c6515ea05

[2019-06-13 09:21] SillyFreak opened #61795 "Provide a way to generate doc comment content"
I'm trying to generate doc comments from a more concise form, and as far as I can tell there is no way to do this. My example is citing an external source: given the reference `"label"`, I want to generate

    /// See [somewhere](https://example.com/document/#somewhere)

I have tried a few avenues of injecting doc content: `#[doc = my_doc!("foo")]` [doesn't work](https://stackoverflow.com/a/41945

[2019-06-13 09:27] RalfJung commented on #59123
Closures have a similar problem with bindings having to be mutable for some stuff, and that's why we have "unique" borrows in the compiler. So maybe a similar technique could be used here?

[code]

You can rely on there not being any access to `x` between the first `move_from` and `x = bar`, yes. The address has not been observed yet and hence the program should be unable to notice that `x` actual

[2019-06-13 09:32] mati865 commented on #61611
@AaronKutch your issue is different and there is no `curl` involved (it downloads file through PowerShell). You can see this MSYS2 patch how to make it use `curl` instead: https://github.com/msys2/MINGW-packages/blob/master/mingw-w64-rust/force-curl-rust.patch

[2019-06-13 09:38] mati865 commented on #61784
I see you are using Windows which doesn't handle high core counts well. It got better with Windows 10 1903 but there is still room to improve.

I can run benchmarks on Linux with Ryzen 2nd gen if you want.

[2019-06-13 09:38] pietroalbini commented on #61790
This should be fixed by https://github.com/rust-lang/rust/pull/61772.

[2019-06-13 09:45] flip1995 commented on #49509
Internal lint idea:
* Check that error / lint / help / ... messages start lower case

This is a hard to find (I think I saw it documented somewhere :thinking:) rule of the rust compiler, which new contributors, especially in Clippy often get wrong (and is sometimes overlooked by the reviewers). Since rustc has a huge amount of functions that can produce error / lint / help / ... messages, this lin

[2019-06-13 09:52] c410-f3r commented on #61336
Same as #61514, the compiler still crashes with brackets:

[code]

[2019-06-13 09:53] c410-f3r commented on #61514
Duplicated of #61336

[2019-06-13 09:53] #61514 closed

[2019-06-13 09:55] oli-obk commented on #49509
Moderately stupid idea: just panic in the `Diagnostic` type if a string argument starts with a capitalized character.

[2019-06-13 10:10] kfrncs opened #61796 "rustup doc permission problems (Ubuntu/Firefox)"
This appears in Firefox when I run `rustup docs`:

[code]

I had tried a bunch of stuff to give myself permission, but running `cat /home/ken/blahblah/index.html` works. There is a record of some troubleshooting [here](https://stackoverflow.com/questions/55961953/access-denied-when-i-run-rustup-doc?noredirect=1#comment98647187_55961953), but to no avail.

Hope we can find a solution, thanks in adv

[2019-06-13 10:22] Thomasdezeeuw commented on #58078
I still like some feedback on if this is wanted or not. If I could get some guidance I'm willing to write a pr for it.

[2019-06-13 11:08] jonas-schievink commented on #61795
Maybe what [`doc-comment`](https://docs.rs/doc-comment) does could help?

[2019-06-13 11:11] #61662 closed

[2019-06-13 11:14] gnzlbg commented on #61533
I imagine this as follows.

We would have a:

[code]

that is "magically" implemented for all types:

[code]

Then we would have a global compiler switch, e.g., `-C rtti=on/off`, that controls what the trait impls do. When `-C rtti=on`, `TypeName::type_name` implementations that return the `&'static str` containing the name of the type are added for each type in the whole program. When `-C rtti=on

[2019-06-13 11:29] JamesChan commented on #43039
for my example, maybe the cause is the order of installation for rust and windows SDK. When I repaired SDK, things got!

[2019-06-13 11:32] jonas-schievink commented on #55981
Nominating to discuss stabilization. See PR #61797.

[2019-06-13 11:55] pnkfelix commented on #61564
I put a PR up on the `tokenlock` crate. I don't think we need to do anything else here; any crate relying on lexical-lifetimes is going to hit issues with NLL. (And NLL is well worth the cost of "breaking" such crates.)

[2019-06-13 11:59] nextzhou opened #61798 "`unreachable_code` warning when invoke `.await` on async diverging function"
I tried this code:

[code]

I expected to see this happen: no build warn

Instead, this happened:
[code]

## Meta

`rustc --version --verbose`:

[code]

[2019-06-13 12:03] pnkfelix commented on #61564
closing as not-a-bug.

[2019-06-13 12:03] #61564 closed

[2019-06-13 12:10] pnkfelix commented on #61566
Sounds like this is fixed with evcxr version 0.3.4, in that the crate was relying on a detail of the JSON error format that was not meant to be treated as stable.

https://github.com/google/evcxr/blob/master/RELEASE_NOTES.md#version-034

Thanks for looking into this and the quick follow-up, @davidlattimore

Closing as not-a-bug.

[2019-06-13 12:10] #61566 closed

[2019-06-13 12:11] SillyFreak commented on #61795
Hmm, it lets me implement what I need, and solves what I asked for in the title. Thanks for the suggestion!

That it requires to wrap my definition into the macro invocation (i.e. `doc_comment!("...", struct Foo;);` is a little annoying, but I think it can't be helped. Writing `#[my_doc(quote!(""))]`does not work, so there is currently no hope to implement doc-comment as an attribute macro.

[2019-06-13 12:11] #61795 closed

[2019-06-13 12:29] mati865 commented on #34586
This directory is created by `codegen-units` tests which use `// compile-flags: -Zincremental=tmp/partitioning-tests/*` like [here](https://github.com/rust-lang/rust/blob/e011fe1c132010e261cc9ea658da73152f1f7fc7/src/test/codegen-units/partitioning/extern-drop-glue.rs#L5).

I'll have PR soon.

[2019-06-13 12:44] pnkfelix commented on #53738
cc #44752

[2019-06-13 12:54] pnkfelix commented on #53738
I don't think this seems high priority.  I'll leave it nominated but I'm prioritizing it as P-medium.

[2019-06-13 12:54] oli-obk commented on #53738
The problem is that the above code expands to something similar to

[code]

which correctly warns for the `'a` in the `impl Foo`. But since in the original code the impl is derived and reusesthe `'a` from the struct declaration, the lint appears to trigger on the struct declaration.

We may either just want to not trigger in derive expansions or explicitly allow this lint in derives expansions.

[2019-06-13 13:03] Centril commented on #61793
@Matthias247  Could you please test your code out with `debuginfo-level = 2` in `config.toml` (you'll need to build rustc yourself)?

[2019-06-13 13:09] Centril commented on #61798
@jonas-schievink This seems like expected behavior to me, what is the bug?

[2019-06-13 13:10] msizanoen commented on #61731
Additionaly, this works:
[code]
I think this happens because the type of the expression inside an expression statement is not counted as a type within the generator.

[2019-06-13 13:11] Diggsey opened #61800 "`error[E0275]: overflow evaluating the requirement` from type inference"
Example:

https://play.rust-lang.org/?version=nightly&mode=debug&edition=2015&gist=03db32f00662d579ef0d91306b7c2ef5

If the trait type is listed explicitly instead of using type inference, then the error goes away. Likewise, if the recursive implementation for `Vec` is commented out, the error goes away.

This seems like something which should work, but the compiler gets stuck looking at the imple

[2019-06-13 13:21] joshtriplett commented on #56375
Popping this to the top of the stack.

[2019-06-13 13:23] Centril opened #61801 "#![feature(type_alias_enum_variants)]: Unit variant pattern through a type alias to generic enum requires type annotations"
The following, which I expect to work, fails to infer the type of `OptAlias::None`:

[code]

In HIR, `OptAlias::None` should correspond to:
[code]

However, if we change the snippet to:

[code]
it all works out fine.

I also tested changing `None` to a tuple variant and that works also.

cc @petrochenkov @eddyb @alexreg

cc https://github.com/rust-lang/rust/pull/61682

[2019-06-13 13:25] joshtriplett commented on #60123
Can we clarify the use case for this, other than 386 and 486 processors?

[2019-06-13 13:26] pnkfelix commented on #55873
triage: P-medium. Removing nomination label.

[2019-06-13 13:29] pnkfelix commented on #56445
triage: P-high, removing nomination, assigning to self for initial investigation.

[2019-06-13 13:31] pnkfelix commented on #57893
triage: P-high due to unsoundness. Leaving nominated in hope of discussing today. Not assigning to anyone yet.

[2019-06-13 13:32] Centril commented on #61801
It might be a good idea to trace the difference between `check_pat_path` and `check_pat_tuple_struct` because they look relatively similar and yet they behave differently in terms of inference.

[2019-06-13 13:35] pnkfelix commented on #61539
triage: we need to discuss this at today's meeting before I'll be comfortable assigning a priority to it.

[2019-06-13 13:37] pnkfelix commented on #61553
triage: I believe this is not a bug, but rather the system working as designed. Leaving unprioritized (with intent to close) but also nominated so that lang team gets chance to confirm or contradict my aforementioned belief.

[2019-06-13 13:39] petrochenkov commented on #61801
Value (`OptAlias::None`/`OptAlias::None()`) and type (`OptAlias::None {}`) namespaces execute very different logic for type inference (`resolve_ty_and_res_ufcs`/`instantiate_value_path` vs `check_struct_path`).
It's quite possible that there are intended and unintended observable differences.

Rather `check_pat_path` and `check_pat_struct`.
(`check_pat_tuple_struct` is the same "value" case as `ch

[2019-06-13 13:40] gnzlbg commented on #60123
This API returns `true` if the CPU the binary runs on supports executing the `CPUID` instruction. Otherwise, this returns `false`, and that can currently only happen on `486` and earlier since those are AFAIK the only x86 CPUs that do not support this instruction.

[2019-06-13 13:41] pnkfelix commented on #61594
(It doesn't seem like this is an *exact* duplicate of #61530, at least not as titled, since #61530 describes a bug that is exposed by using `#![feature(stdsimd)]`, but the crate here on #61594 claims to target stable rust.)

[2019-06-13 13:43] pnkfelix commented on #61594
ugh and @eddyb's notes on #61530 indicate that bug is somehow dependent on incremental compilation. fun...

[2019-06-13 13:46] pnkfelix commented on #61594
triage: P-high, leaving nominated to discuss relationship with #61530, assigning to self for initial investigation.

[2019-06-13 13:47] pnkfelix commented on #61595
triage: P-high, assigning to @estebank ; removing I-nominated label

[2019-06-13 13:49] pnkfelix commented on #61623
triage: P-high, assigning to @matthewjasper , removing I-nominated label.

[2019-06-13 13:51] pnkfelix commented on #61624
triage: P-high. Assigning to self for initial investigation. Removing I-nominated label.

Cc @varkor

[2019-06-13 13:54] pnkfelix commented on #61631
triage: P-high. Leaving nominated for discussion at rustc meeting. Leaving unassigned for now.

[2019-06-13 13:56] MageSlayer commented on #61553
It's kind of strange that nobody seems to notice the exact issue which sticks out of this "feature" - the inability to reliably handle exceptions crossing dynamic library boundaries.

[2019-06-13 13:57] pnkfelix commented on #61663
triage: P-high. Leaving nominated and unassigned.

[2019-06-13 13:59] nagisa commented on #60123
x86 in an enclave do not “support” cpuid either.

[2019-06-13 14:01] gnzlbg commented on #60123
Yes, in SGX enclaves this API also returns `false`.

[2019-06-13 14:02] pnkfelix commented on #61696
triage: P-high. Leaving nominated and unassigned for now.

[2019-06-13 14:09] petrochenkov commented on #61733
[code]
Token-based expansion:
[code]
AST-based expansion 1 (`expr!()` has statement kind):
[code]
AST-based expansion 2 (`expr!()` has expression kind):
[code]
Compiler's behavior:
`{ 2 }` **is not** a trailing expression, `0` **is** a trailing expression.

[2019-06-13 14:14] alexcrichton commented on #60958
We discussed this at libs triage again yesterday but reached the same conclusion as before. If anyone has difficulties in migrating though please let us know and we can try to help out!

[2019-06-13 14:15] alexcrichton commented on #61415
This libs team discussed this yesterday and agreed that we do not want to expand the stable surface API of the standard library, but changing implementaitons to use const generics seems fine so long as it doesn't expand the surface area of what's exposed (e.g. via @petrochenkov's idea)

[2019-06-13 14:17] petrochenkov commented on #61733
[code]
Token-based expansion:
[code]
AST-based expansion 1 (`stmt!()` has statement kind):
[code]
AST-based expansion 2 (`stmt!()` has expression kind):
[code]
Compiler's behavior:
`{ 2 }` **is not** a trailing expression, `0` **is** a trailing expression.
This doesn't match any model and is clearly a bug (https://github.com/rust-lang/rust/issues/33953).

[2019-06-13 14:21] petrochenkov commented on #61733
[code]
Token-based expansion:
[code]
AST-based expansion 1 (`stmt_expr!()` has statement kind):
[code]
AST-based expansion 2 (`stmt_expr!()` has expression kind):
[code]
Compiler's behavior:
Parse error: `error: macro expansion ignores token `1` and any following`

[2019-06-13 14:33] pnkfelix commented on #53738
advertised at T-compiler meeting. removing nomination tag.

[2019-06-13 14:34] nikomatsakis commented on #53738
I'm going to ping @zackmdavis in the hopes that they have a bit of time to look into this. My sense is that we ought to make a plan to finish up the Rust 2018 idiom lints -- but at the same time it's hard to justify a P-high label just now.

[2019-06-13 14:34] estebank commented on #53738
I tried an approach where I would look at the lifetime span to see if it came from a compiler desugaring, but the derived code doesn't keep any information about their context. A different approach will be needed in the parse step to make sure the debug subparser produced spans are appropriately marked.

[2019-06-13 14:36] petrochenkov commented on #61733
For attribute macros token-based and AST-based interpretations are the same as for fn-like macros, so I'm just going to list the actual compiler's behaviors.

`cfg` executes separate compiler's logic from other attribute macros, so it's tested here separately.

[code]

[2019-06-13 14:40] Centril commented on #57893
Still nominated for t-lang.

[2019-06-13 14:50] pnkfelix commented on #61539
discussed in triage meeting. P-high. Removing nomination tag. Assigning to @nagisa and myself.

[2019-06-13 15:02] remram44 opened #61804 "ICE: rustdoc: Tried to get crate index of builtin macros crate"
Running `cargo doc` on [rs-sync](https://github.com/remram44/rs-sync) runs into an ICE today ([CI log](https://travis-ci.org/remram44/rs-sync/jobs/545052449)).

* cargo 1.37.0-nightly (545f35425 2019-05-23)
* rustc 1.37.0-nightly (2887008e0 2019-06-12)
* rustdoc 1.37.0-nightly (2887008e0 2019-06-12)
* Linux amd64 using rustup

[code]

[2019-06-13 15:15] Thomasdezeeuw commented on #59127
Can this be stablised for 1.37?

[2019-06-13 15:21] TheEnbyperor commented on #61721
Ah didn't see +sse2 in there. That's an error in my target, I didn't think it'd be enabled by default if -sse is in the target.

[2019-06-13 15:35] mati865 commented on #61594
@pnkfelix #61530 title is wrong. The issue comes down to using LLVM intrinsics, `blake2b_simd` works on stable because it's using `core::arch` which leads to `stdsimd`.
In #61530 it's done directly but underlying issue remains the same.

[2019-06-13 15:45] #61595 closed

[2019-06-13 15:45] #61746 closed

[2019-06-13 16:19] est31 commented on #61383
As of current 1.37.0-nightly (2887008e0 2019-06-12), the code snippet I pasted above doesn't ICE any more but instead gives a) a missing copy error and if that one is fixed by adding a trait bound, the `error: array lengths can't depend on generic parameters` error.

However, since then I've realized that it won't ever work because we don't require T to be copy and instead should call `T::default(

[2019-06-13 16:19] #61383 closed

[2019-06-13 16:28] RalfJung commented on #61383
That's almost right, but the index calculation is fatally flawed... did you test this? You are offseting at array type so you are offsetting by `i` times the full array!

It should be
[code]

This is why we need raw slice access methods...

[2019-06-13 16:45] AaronKutch commented on #61784
Yes thank you

[2019-06-13 16:47] est31 opened #61806 "Serde const generics experiment ICE"
Link to code: https://github.com/est31/serde/tree/const_generics_ice

Commands to reproduce:

[code]

Gives the ICE error message:

<details>

[code]

</details>

cc @varkor @dtolnay

[2019-06-13 16:51] est31 commented on #61383
@RalfJung lol I haven't thought about that one. I have used to convert everything into a slice but I think that's very UB-y for partially uninitialized data.

After fixing it, trying to use it t gives an error now:

[code]

[code]

@varkor is this intended? Will this one day be implemented?

[2019-06-13 16:52] est31 commented on #61383
Btw, I've found another ICE with code very similar to this one, but decided to file a separate issue to not get this one into scope creep: #61806

[2019-06-13 16:55] oconnor663 commented on #61594
Re: incremental compilation, the ICE does seem to go away when I build with `--release`. Didn't notice that before.

[2019-06-13 17:06] lzutao opened #61808 "clippy: type parameter `T/#1` (T/1) out of range when substituting"
Maybe a duplicate of #55872, #58987

Step to reproduce:
[code]

<details>
	<summary>backtrace</summary>

[code]
</details>

### Meta

[code]

[2019-06-13 17:07] nikomatsakis commented on #55872
[Zulip topic](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async-foundations/topic/type.20parameter.20out.20of.20range.20.2355872)

[2019-06-13 17:07] lzutao commented on #61808
@rustbot modify labels: A-const-eval C-bug I-ICE T-compiler

[2019-06-13 17:13] est31 commented on #61806
Minimized:

lib.rs:
[code]

main.rs:
[code]

[2019-06-13 17:17] nikomatsakis commented on #55872
Not really related to async-await. This minimization does not involve async/await but gets a very similar ICE:

[code]

[2019-06-13 17:25] nikomatsakis commented on #55872
Preferred minimization (no annoying closures):

[code]

The problem here is that the inferred type for `E` needs to be `(S, T)`, but `T` is not in scope there. So we expect an error. (Not an IC)

[2019-06-13 17:48] nikomatsakis commented on #55872
The Zulip thread diagnoses the problem and explains everything in a lot of detail.

[2019-06-13 18:03] ollie27 commented on #61759
This looks like fallout from #59500.

[2019-06-13 18:37] #61790 closed

[2019-06-13 18:37] #61371 closed

[2019-06-13 18:44] AaronKutch commented on #61611
Thank you, it works now

[2019-06-13 19:04] est31 commented on #53487
Does this RFC also include backtrace printing for `?` in tests? Currently, when you switch to `?` from `unwrap`, the backtraces are very poor. The only useful info those backtraces convey (amidst a mountain of spam) is the test that failed along with its line, nothing more.

[2019-06-13 19:07] matthiaskrgr commented on #61808
duplicate of https://github.com/rust-lang/rust-clippy/issues/4121 , cc https://github.com/rust-lang/rust/pull/61041

[2019-06-13 19:23] phansch opened #61809 "annotate_snippet emitter: Include suggestions in output"
Part of https://github.com/rust-lang/rust/issues/59346

In order for the new `AnnotateSnippetEmitterWriter` to include suggestions in the output, we essentially have to pass `&db.suggestions` to `emit_messages_default` and deal with a couple of edge-cases.

Relevant `FIXME`:

https://github.com/rust-lang/rust/blob/57a3300c2538fd1044ce45d9ef3b82182acb57ae/src/librustc_errors/annotate_snippet_emitte

[2019-06-13 19:24] phansch commented on #61809
@rustbot modify labels: A-diagnostics

[2019-06-13 19:27] phansch opened #61810 "annotate-snippet emitter: Deal with multispans in macros correctly"
Part of https://github.com/rust-lang/rust/issues/59346

To properly handle macro spans in diagnostics output, we have to decouple some `emitter.rs` code first.

Relevant `FIXME`:

https://github.com/rust-lang/rust/blob/57a3300c2538fd1044ce45d9ef3b82182acb57ae/src/librustc_errors/annotate_snippet_emitter_writer.rs#L38

`emitter.rs` equivalent:

https://github.com/rust-lang/rust/blob/0e4a56b4b04ea98

[2019-06-13 19:28] phansch commented on #61810
@rustbot modify labels: A-diagnostics E-help-wanted

[2019-06-13 19:31] phansch opened #61811 "annotate-snippet emitter: Make use of `-Z ui-testing` flag"
Part of https://github.com/rust-lang/rust/issues/59346

To support `LL` lines in the first column of UI test output, we have to make use of the `-Z ui-testing` flag and update the `annotate-snippet` library.

Relevant `FIXME`:

https://github.com/rust-lang/rust/blob/57a3300c2538fd1044ce45d9ef3b82182acb57ae/src/librustc_errors/annotate_snippet_emitter_writer.rs#L176-L179

* The relevant PR in the a

[2019-06-13 19:31] mathstuf commented on #53487
That sounds more like the "returning result from main" RFC to me (see rust-lang/rfcs#1176 and rust-lang/rfcs#1937).

[2019-06-13 19:32] phansch commented on #61811
@rustbot claim

[2019-06-13 19:34] phansch commented on #61809
@rustbot modify labels: E-help-wanted

[2019-06-13 19:37] AaronKutch commented on #50481
I ran into this exact error running the same commands, but the workaround is not working for me.
[code]

[2019-06-13 19:47] scottmcm commented on #50481
Nominating to try to bring this up to some team that could do something about this, since this is pretty annoying to everyone changing core/alloc/std and has been for over a year.

[2019-06-13 20:02] eddyb commented on #53738
@estebank AFAIK there's a perma-unstable attribute that is placed on derived `impl`s which some error reporting code might be checking.

@pnkfelix I should've given more context - it'd be good to fix this because it would unblock something like #61735, but likely removing a far larger number of lifetimes, which may simplify e.g. the `'gcx` removal.
But if we can't *really soon*, we can defer indef

[2019-06-13 20:07] RalfJung commented on #50481
@AaronKutch the work-around should delete `\\?\C:\Users\Allen\Documents\GitHub\rust\build\x86_64-pc-windows-gnu\stage0-std\x86_64-pc-windows-gnu\release\deps\librand_core-6c85245e34681cba.rlib`; if it doesn't that's likely a Windows thing and you'll have to figure out some other way to delete that file.

[2019-06-13 20:09] varkor commented on #61806
I imagine this is a similar issue to https://github.com/rust-lang/rust/issues/6162.

[2019-06-13 20:20] est31 commented on #53487
@mathstuf yeah it's the combination of both features. The "return result from main" RFC has already been merged but this RFC adds backtraces to the Error trait and standard library which would be needed if you want to print backtraces.

[2019-06-13 20:22] vityafx commented on #29935
I have just deprecated a function and now whenever I invoke `cargo test --doc`, the code example in the doc comment for this function gives me a warning. I wonder, is there any sense in this? I would disable printing deprecation warning in the doc comments of the function which has been deprecated.

[2019-06-13 20:24] AaronKutch commented on #50481
It then complained about `error[E0460]: found possibly newer version of crate `core` which `winapi` depends on`. I tried deleting the libcore file, but that does not fix it.
Just to make sure, I don't have to run some cleaning command whenever I update my local clone of Rust? I would expect `x.py` to overwrite if necessary just like `cargo` does when updating the compiler.

[2019-06-13 20:42] RalfJung commented on #50481
Then go on deleting the winapi file that it mentions in the error. You have to get all of them cleared out; on Linux `rand*` is enough but the dependencies are different on Windows.

That's how it should go, but there's a bug. ;)  You can do `./x.py clean` to reset it entirely though.

[2019-06-13 20:45] jonas-schievink commented on #26681
Updated code:

[code]
Fails to compile with:
[code]

Removing the default value of the constant makes it build. According to [RFC 2532](https://github.com/rust-lang/rfcs/blob/master/text/2532-associated-type-defaults.md), I believe this is working as expected: Trait items may not assume that assoc. type defaults hold.

[2019-06-13 20:52] varkor commented on #61383
It's not intended, but I'm also not so surprised that it fails. There are still some issues we need to resolve regarding evaluation/unification of const generics.

[2019-06-13 21:07] Zoxc commented on #61579
Looking over our MIR construction code there seems to be lots of locals which do not generate a `StorageLive` / `StorageDead` pair. I'd suggest just reverting https://github.com/rust-lang/rust/pull/61069 until we can address that. That would make it UB to use a pointer leaked from a `drop` impl in a generator. I would like that to be UB anyway, but @RalfJung's stacked borrows can't express it.

[2019-06-13 21:09] est31 commented on #61806
Oh you mean #61624? Yeah, this is a dupe I guess.

[2019-06-13 21:09] #61806 closed

[2019-06-13 21:12] varkor commented on #61744
cc @oli-obk: due to https://github.com/rust-lang/rust/pull/58000.

[2019-06-13 21:31] varkor commented on #61774
We should be getting `error[E0512]: cannot transmute between types of different sizes, or dependently-sized types` here. I'm not sure why it's not firing yet.

[2019-06-13 21:50] tmandry commented on #61579
Sorry I missed your earlier comment @Zoxc, there are locals that we never generate any StorageLive/Dead statements for and we have to handle these explicitly in the generator code as "storage ignored" locals.

I don't know _why_ we omit these, and for some reason thought it was only for "simple" types (I'm surprised to learn that we also do this for locals which are `Drop`.)

[2019-06-13 22:11] varkor commented on #60619
I spoke to @eddyb about these sorts of issues: it seems we need to wait for lazy normalisation before we can handle them, unfortunately.

[2019-06-13 22:13] tmandry commented on #59123
Fair enough :) Personally I'm just as wary of painting ourselves into a corner in terms of classes of optimizations we can do, though. One is a higher immediate cost, and the other is a smaller cost which will be paid by all future users of Rust. But anyway, I'll stop waxing philosophical about optimizations for now ;)

To me it seems just as hard as doing the analysis, because you have to make su

[2019-06-13 22:15] varkor commented on #60471
I've added a label for lazy normalisation and added it to a number of const generic issues I think are blocked on it.

[2019-06-13 22:23] ehuss commented on #50481
This issue is essentially a duplicate of #59105 and #49979 (although this issue is about dev-dependencies and not build dependencies/proc-macros).  It might be a good idea to close some of the duplicates and consolidate in one issue.

There is active progress being made as of a few hours ago.  See https://github.com/rust-lang/cargo/pull/7030 and https://github.com/rust-lang/cargo/pull/7034 and #61

[2019-06-13 22:26] varkor commented on #60804
@eddyb suggested the following variant:
[code]

[2019-06-13 22:28] AaronKutch commented on #61784
Ok, I pushed a few benchmarking fixes to the repository. The benches no longer clone and the performance difference is much more apparent.

[2019-06-13 22:34] AaronKutch commented on #61784
What I plan on doing is replacing the old `ptr_rotate` implementation with the new one, adding the test commented in the repository to `libcore/tests/slice.rs`, and adding the following to `libcore/benches/slice.rs`:
[code]
Does this sound good?

[2019-06-13 22:43] Centril opened #61815 "Projecting to an associated constant fails but with wrong reason"
When you have:

[code]

you get the usual problem:

[code]

That this errors is *right*. However, it fails for the wrong reason.

What should happen here is that `Self::C` is seen as an opaque constant the value of which you don't get to assume in `fun`'s body. Therefore you should get a type error:

[code]

cc https://github.com/rust-lang/rust/pull/61812
cc https://github.com/rust-lang/rust/issue

[2019-06-13 22:45] AaronKutch commented on #50481
It is finally working for me, but very time I change my `x.py` command, it gives `error: ... range patterns are deprecated
   --> src\libcore\../libcore/benches\ascii.rs:194:21`. I do not see an issue for this anywhere. Should I just step back and `x.py clean` it everytime and wait for things to improve, or file issues as they come?

[2019-06-13 22:51] Diggsey commented on #61800
I believe this is caused by candidate selection only attempting to unify the `Self` type and `where` clauses, although I'm not quite sure why the code works if the references are removed...

[2019-06-13 22:51] eddyb commented on #60471
Just had a crazy idea that could help us start testing a bunch of stuff right away:
Add a feature-gate (say, `defer_normalization` or `unbreak_generics_in_type_level_consts`) that turns off all early normalization, and also allows `AnonConst`s to see generics in scope.

This will break things (object safety comes to mind, IIRC there are a bunch of others), *but* in the context of tiny self-contain

[2019-06-13 22:59] eddyb commented on #61368
This is an instance of #43408, please use that as the canonical issue.

[2019-06-13 22:59] eddyb commented on #60619
This is an instance of #43408, please use that as the canonical issue.

[2019-06-13 22:59] AaronKutch opened #61816 "`x.py bench --stage 0 src/libcore` fails with deprecation errors"
I would like to benchmark a specific subset of all the benchmarks, but adding `src/libcore` onto the command makes it fail:
[code]

[2019-06-13 23:00] BartMassey commented on #61429
So I translated the original example into C and tried it with Clang and GCC. Neither one would take it with an "m" or "*m" constraint: needs to be "r" or "*r". By the way probably want to clobber "rsp" in that `asm`: doesn't matter here though I think.

[2019-06-13 23:01] AaronKutch commented on #61816
Also,  I should mention that this occurs even after running `x.py clean`

[2019-06-13 23:12] nikomatsakis commented on #61579
This does not appear to be a regression, but maybe there's some other problem afflicting 2019-05-03:

[code]

[2019-06-13 23:31] stjepang commented on #59222
I would like to see this too.

Using crates like [`color-backtrace`](https://docs.rs/color-backtrace/0.1.3/color_backtrace/) is cumbersome because one has to put `color_backtrace::install();` into the main function every time. Setting up tests is especially difficult because there is no main function.

I wish it was enough to just add the crate as a dependency.

[2019-06-14 00:21] eddyb commented on #44524
What's the situation wrt. "implicit shadowing", between implementation and desired behavior?
I was expecting this to error:
[code]
Just like this does:
[code]
With such an error requiring `fn bar<'tcx, T>(x: &'tcx T) -> &'tcx T { x }`, we reserve the right to inherit generic parameters (both `'tcx` and `T`) in nested items, without existing code changing behavior.

[2019-06-14 00:24] varkor commented on #60471
I tried this out here: https://github.com/varkor/rust/tree/defer_normalization
Unfortunately, things break even with very simple examples.
[code]
results in:
<details>

[code]
</details>

[2019-06-14 00:26] tmandry commented on #61731
I bisected this issue, and it appeared in the 2019-06-06 nightly.

I believe it is due to:

- MIR `StorageLive`/`StorageDead` not being generated at all for the `JoinHandle` returned by `runtime::spawn`, requiring the MIR generator pass to assume it is always storage-live
- #61079, which marks `drop` as borrowing, along with the fact that the generator transform pass conservatively assumes vars ar

[2019-06-14 00:31] tmandry commented on #61579
@nikomatsakis I'm seeing a regression between 2019-06-05 and 2019-06-06, so I think there was indeed another problem with your start point.

This is probably due to the @Zoxc mentioned above; I also describe it here: https://github.com/rust-lang/rust/issues/61731#issuecomment-501924958

[2019-06-14 01:22] thedataking opened #61820 "Linker error when calling inline extern "C" function"
Minimized example (problem discovered when translating [bzip2](https://www.sourceware.org/bzip2/downloads.html) to Rust with [C2Rust](https://github.com/immunant/c2rust/)).

main.rs:
[code]
caller.rs
[code]
NOTE: the problem has to do with the inline attribute; linking succeeds when removed.

    $ rustc --version
    rustc 1.35.0 (3c235d560 2019-05-20)
    $ cargo build
    undefined reference to

[2019-06-14 01:26] estebank opened #61821 "Duplicated errors on UB inside a promoted"
The following output should only emit the error once:
[code]

[code]

_Follow up to https://github.com/rust-lang/rust/pull/61598_

[2019-06-14 01:41] wesleywiser commented on #61740
Bisected to

- 2019-05-14 Ok
- 2019-05-15 Slow

That's a9ec99f42...372be4f36.

It seems likely this is related to #60444 which is being fixed in #61754.

[2019-06-14 02:10] Centril commented on #61816
@AaronKutch Could you file a PR with `..=` instead of `...`?

[2019-06-14 03:13] Matthias247 commented on #61793
I tried running that over the afternoon. Unfortunately something went wrong:

[code]

Unfortunately that happened after around 1.5 hours of compilation. This machine here is definitely too slow for doing any reasonable rustc compilation :'(

[2019-06-14 03:22] ehuss commented on #61816
I was curious why this hadn't been noticed earlier.  Apparently benchmarks aren't tested on CI to verify that they still build.  This libcore benchmark has been broken since #60133. I'm quite surprised nobody has run `x.py bench src/libcore` since then.

Another wrinkle that confused me is that `./x.py test --stage=0 --no-doc src/libcore` also fails. Why does this command build benchmarks? Well [t

[2019-06-14 04:09] moxian commented on #61788
I didn't know `let Enum::Variant(value) = x;` was a valid syntax. If I did, I probably wouldn't have filed the issue, because of course that's how you write an infallible `if let`.

(With that knowledge in mind) I agree that it's only a diagnostics issue and no language change is needed here.
And I fully agree that it's a niche low-priority quirk that should maybe be fixed "someday". (I don't know

[2019-06-14 04:32] Matthias247 commented on #61793
Got it running by deleting enough libraries and rebuilding. Unfortunately it just prints exactly the same error message. I think the setting might already had been enabled as far as I can derive from the compiler output above:

[2019-06-14 05:29] Matthias247 commented on #61793
I played around with my code and deleted stuff until I got a simple repro:

[code]

It seems like the combination of the member function together with the closure parameter might be the culprit. A top level `async fn` or a a "static" member function (without `&self`) doesn't cause an ICE.

[2019-06-14 05:50] zackmdavis commented on #53738
#54910?

[2019-06-14 05:53] Centril commented on #61793
Reduction of `async fn` version:
[code]

Reduction of non-`async fn` version:

[code]

[2019-06-14 06:26] RalfJung commented on #61579
I'm all ears for a model that makes this happen. However, I don't think we should have UB without having a clear idea of how to operationally check for it. And even then we still have to weigh the complexity of the model (that every unsafe code author will have to basically know by heart!) against the alternatives (such as emitting `Storage*` for more locals).

[2019-06-14 06:27] Matthias247 commented on #59123
I guess this might be already understood, but `size_of_val` shouldn't be the only interim statement that should be looked at and improved. It was mainly an instrument to surface the issue, but it seems like the size extension happens in other places too.

There is quite a bit of code around which moves futures just in order to make sure users can't fiddle with them anymore, e.g. `join!` in futures

[2019-06-14 06:46] RalfJung commented on #59123
No, that's not what I mean. The idea is to aggressively insert `StorageDead` after moves, to make such programs UB. What I am more worried about is that the program might move out only in some conditional branches, and what that would mean for the storage of those locals.

The reason I think we need this is that validity of pointers is not the only concern here. Currently, the following (entirely

[2019-06-14 06:46] #51301 closed

[2019-06-14 07:04] petrochenkov commented on #44524
The RFC says:

an error to mention lifetimes from that outer definition (without binding them
explicitly). This is again intended for future-proofing and clarity, and is an
edge case.

Apparently this future-proofing wasn't implemented.

[2019-06-14 07:09] matiu2 commented on #61636
I'm not seeing the error that way. Does 'cargo build' use the rls server ?

If it does, I guess we can just close this as unable to reproduce.

If it doesn't, how can I launch the RLS server, then use it to do a 'fmt' on my code from the command line with RUST_BACKTRACE=1.

Thank you for your patience.

[2019-06-14 08:11] Nemo157 commented on #56232
@Manishearth currently examples are tested by running `cargo test --doc`, with that as precedence it seems like `cargo check --doc` and `cargo clippy --doc` would be the appropriate flags to lint the examples as well.

Since `cargo check` is already built into Cargo, it seems like whatever path the clippy driver would take could already be developed as part of that and then just extended to `cargo

[2019-06-14 08:51] petrochenkov opened #61826 "`use Trait::{};` acts as `use Trait;`"
[code]

The regression was introduced in https://github.com/rust-lang/rust/commit/c57f0a7201860eb87ad8df1f3e63ea1ed03dcb40 (Rust 1.31).

[2019-06-14 09:01] mati865 commented on #61784
Here are results of nightly 2019-06-13 on box with 2700X running Ubuntu 19.04: https://gist.github.com/mati865/c8954a2c03ca7a10a71ebb54a229ae34
Glibc is well optimized so the perf looks good but within margin of error, on less optimized musl new functions are significant win.

[2019-06-14 09:30] jonas-schievink commented on #61636
Ah, you probably want to run `cargo fmt` instead of `cargo build`

[2019-06-14 09:34] pnkfelix commented on #56445
Note: I see a different ICE on nightly on this branch, namely:
[code]

[2019-06-14 09:46] RalfJung opened #61830 "Miri does not figure out its sysroot at build time"
The currently shipped Miri is broken, it fails to detect its sysroot because `RUST_SYSROOT` was not set at build time:
[code]
@oli-obk I thought bootstrap takes care of providing the env vars for that?

[2019-06-14 09:50] RalfJung commented on #61830
Hm, no, I cannot find any trace of a `RUST_SYSROOT` env var in current or past bootstrap.

Looks like the `miri` driver itself as shipped never had a proper sysroot set, it always relied on `cargo miri` providing one.

[2019-06-14 09:58] RalfJung commented on #61830
And anyway we cannot hard-code a sysroot at compile-time into a binary that we ship. ;)

And actually, just not doing anything should work here! `miri` and `rustc` are distributed in the same directory, so the existing sysroot computation should work. We just have to change miri to "trust" the default sysroot.

[2019-06-14 10:08] pnkfelix commented on #58633
closing as fixed.

[2019-06-14 10:11] RalfJung commented on #61830
https://github.com/rust-lang/miri/pull/772 should hopefully fix this.

[2019-06-14 10:21] gnzlbg commented on #58633
Fixed on my end as well, thank you all!

[2019-06-14 10:25] llogiq commented on #29935
That would quell deprecation warnings from other places, which would then fly under the radar.

The optimum solution would be to create an annotation that works as `allow(deprecation)` but only for deprecated items within the current module. We could then extend rustdoc to search for deprecation annotations and add this restricted allow annotation to the doctest item.

[2019-06-14 10:28] vityafx commented on #29935
Sounds legit.

[2019-06-14 11:09] tanriol opened #61831 "Consider linting against impl block type parameter shadowing another type"
If one learning Rust writes something like the following ([playground])
[code]

the error itself and the error message

[code]

are really non-obvious for a newcomer.

IMHO a good option would be to lint against type parameter name shadowing another name in scope.

[playground]: https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4d243f77ebe655e9cd25f8380015f6fd

[2019-06-14 11:14] nikomatsakis commented on #61740
I can confirm that it is fixed by #61754 (I tested locally)

[2019-06-14 11:39] DragoonAethis commented on #44930
Is there any interest towards implementing this RFC for non-native extern ABIs? I'm primarily interested in "win64" ABIs, as that's what is used under UEFI (there are some platform APIs that have variadic args and they're required to implement certain driver functionality).

[2019-06-14 12:37] #61124 closed

[2019-06-14 12:43] pnkfelix commented on #56445
Okay here is reduced test case:

[code]

[2019-06-14 12:45] oli-obk opened #61833 "Get rid of the `test-miri` flag in `config.toml`"
The `test-miri` flag changes whether `-Zalways-encode-mir` is passed to rustc, causing all metadata beyond stage 0 to include MIR of all functions, even private monomorphic ones. Instead, what we can do is to have miri tests first run `cargo miri setup` to generate that special `libstd` in CI in addition to the regular `libstd`. Then tests can be run with special `libstd`.

cc @RalfJung

[2019-06-14 12:49] pnkfelix commented on #56445
@thejpster another workaround, by the way, is to move the `const LFN_FRAGMENT_LEN` out of the `impl` (and then change the use to say `LFN_FRAGMENT_LEN` instead of `Self::LFN_FRAGMENT_LEN`)

[2019-06-14 13:39] xfix opened #61834 "Broken MIR: generator contains type impl std::future::Future in MIR, but typeck only knows about {impl std::future::Future, ()}"
I tried this code with edition 2018:

[code]

This happened:

[code]

## Meta

`rustc --version --verbose`:

[code]

Backtrace:

[code]

[2019-06-14 14:03] RalfJung commented on #61833
Worse, it also makes `--cfg miri` passed to rustc, meaning we get the hasbrown without SIMD!

[2019-06-14 14:04] RalfJung commented on #61833
Oh also, ideally this could use or at least share some code with the [build script Miri uses to do the same on its own CI](https://github.com/rust-lang/miri/blob/master/miri).

[2019-06-14 14:11] howaboutsynergy commented on #61740
I'm not getting the same output as OP(maybe I did it wrong, eg. I had to rename `/tmp/swc/rust-toolchain2` so it wouldn't use another `rustc`/nightly 10june2019), however, previously:
[code]
and after [that PR](https://github.com/rust-lang/rust/pull/61754#issuecomment-502122376):
[code]

[2019-06-14 14:19] alexcrichton opened #61837 "azure: Run tool builds whenever a tool submodule is updated"
This issue is meant to track [this TODO annotation](https://github.com/rust-lang/rust/blob/e699ea096fcc2fc9ce8e8bcf884e11496a31cc9f/.azure-pipelines/pr.yml#L23-L33) where on Travis we currently [run the `x86_64-gnu-tools` builder](https://github.com/rust-lang/rust/blob/e699ea096fcc2fc9ce8e8bcf884e11496a31cc9f/.travis.yml#L216-L218) whenever the commit message looks like it updates a submodule.

We

[2019-06-14 14:21] nikomatsakis opened #61838 "Transition the compiler arenas"
We are in the midst of simplifying the compiler's lifetime system. In general, this means that `TyCtxt<'a, 'gcx, 'tcx>` is going to become just `TyCtxt<'tcx>`, where `'tcx` represents the lifetime of the entire compilation (we no longer have global and local arenas).

## Implementation plan

- [x] remove the arenas (link to @zoxc's PR?)
- [x] warn on unused lifetimes #61735
- [x] rewrite `TyCtxt<'

[2019-06-14 15:46] psumbera commented on #61306
There is indeed problem with `SPFlags`. In `librustc_codegen_llvm` I see `SPFlags` set to: `SPFlagLocalToUnit | SPFlagDefinition`. But in `RustWrapper.cpp` it gets 0. And it doesn't help to move `SPFlags` as first argument of `LLVMRustDIBuilderCreateFunction()`.

With following hack It works:
[code]

[2019-06-14 15:56] AaronKutch commented on #61784
The size of the slice appears to have a significant effect on performance, even when the algorithm takes the same branches. For example, running
[code]
gives
[code]
These values change when I repeat the benchmarks, but the 1031 -> 1032 consistently improves for my algorithm, and consistently is worse for the old algorithm. I'm not sure what is causing this, even when inserting `dbg!` statements fo

[2019-06-14 17:23] jstarks commented on #58599
Without these intrinsics, is there a supported way to read or write shared memory that is being concurrently and arbitrarily mutated by another processor? If the other processor is executing code in a different security boundary, then there may be no way to prevent it from mutating the memory with an arbitrary mix of atomic, non-atomic, and unaligned accesses. But clearly this works at the process

[2019-06-14 17:29] RalfJung commented on #58599
Yes, use atomic accesses.

A data race of an atomic and a non-atomic access in one program is UB; but if another separately compiled program races with your atomic accesses, the only side that has to expect problem is that side. In some way, the data race is UB "only on the non-atomic side", which is not a distinction that usually makes any sense because UB is a whole-program property, but it does

[2019-06-14 18:43] jrandall opened #61846 "rustc fails when including some C++ libs because of wasm32 linker fatal warnings"
rustc is now passing the argument `--fatal-warnings` to lld on wasm32 (wasm-ld). This appears to have been added in https://github.com/rust-lang/rust/pull/54258

While I agree with the sentiment in the comment "Rust code should never have warnings, and warnings are often indicative of bugs, let's prevent them", unfortunately the same cannot apparently be said of C++ code.

I am currently getting b

[2019-06-14 18:59] tmandry commented on #59123
Okay, that sounds like something worth pursuing, but it also seems like it would have potential fallout we need to check for. I'm not sure I understand all the implications myself. Given that I have an optimization pass mostly working without it, maybe it would be good to set up a separate issue to track all the considerations involved.

---

Also, I forgot to mention.. just adding `StorageDead(x)

[2019-06-14 19:02] alexcrichton commented on #60419
I'd like to propose FCP for this issue for stabilization. A summary of this feature to stabilize would be:

* A new flag, `-C emit-artifact-notifications` is added to the compiler
* When the compiler is otherwise in JSON printing mode, this causes the compiler to print a JSON blob per artifact that it produces.
* JSON blobs have the form `{"artifact":"path/to/the/artifact.rlib","emit":"link"}`. Th

[2019-06-14 19:06] cramertj commented on #60419
@rfcbot fcp merge

See [above comment for summary](https://github.com/rust-lang/rust/issues/60419#issuecomment-502226971). @alexcrichton could you also provide a link to the tests for this feature?

[2019-06-14 19:06] eddyb commented on #60419
We could also enable this by default in JSON mode without a flag, to stabilize it.

[2019-06-14 19:06] alexcrichton commented on #60987
I'd like to propose that this feature is stabilized in an effort to stabilize [pipelined compilation](https://github.com/rust-lang/rust/issues/60988). As a brief summary of how this flag works today, when passed to the compiler the `--json-rendered` flag will affect the `"rendered"` field of JSON diagnostics printed by the compiler.

I would propose the following stabilization:

* Add a new flag,

[2019-06-14 19:07] alexcrichton commented on #60987
Oh and cc @rust-lang/compiler, could I persuade one of y'all to kick of FCP for stabilization? I wrote a [summary above](https://github.com/rust-lang/rust/issues/60987#issuecomment-502228452) for what I'm proposing to be stabilized here.

[2019-06-14 19:07] rust-highfive opened #61848 "`miri` no longer builds after rust-lang/rust#61817"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#61817, I observed that the tool miri no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @eddyb, do you think you would have time to do the follow-up work?
If so, that would be great!

cc @oli-obk, the PR reviewer, and @rust-lang/compiler -- nominat

[2019-06-14 19:08] alexcrichton commented on #60988
I've proposed stabilization of [`--json-rendered`](https://github.com/rust-lang/rust/issues/60987#issuecomment-502228452) as well as [`-Z emit-artifact-notifications`](https://github.com/rust-lang/rust/issues/60419#issuecomment-502226971) which, if stabilized, can allow Cargo to switch over to using these by default and stabilizing pipelined compilation.

[2019-06-14 19:09] tmandry opened #61849 "Recycle storage after move"
We should experiment with "re-allocating" storage for a local after it's moved from if it gets re-initialized. This would enable more optimizations, but could have some potential fallout.

Quoth @RalfJung, from https://github.com/rust-lang/rust/issues/59123#issuecomment-501990026:

It is possible to do a subset of the optimization discussed in #59123 without this, but this would help cover more ca

[2019-06-14 19:10] alexcrichton commented on #60419
@cramertj sure yeah, there's a [simple smoke test](https://github.com/rust-lang/rust/blob/master/src/test/ui/emit-artifact-notifications.rs) in the repository which asserts the output of the flag, and Cargo thoroughly also excercises this in pipelined compilation so it'd break very quickly if anything went awry.

@eddyb I'd be fine with that as well! I would prefer to stabilize nothing and have Ca

[2019-06-14 19:11] eddyb commented on #60987
I feel like we're accumulating a bunch of flags that are related but not explicitly grouped (like `-C` flags are), maybe there is a better way to set this up? Other than that I'm on board!

[2019-06-14 19:41] qwerty19106 commented on #61516
I configure struct by complicated const value and get this ICE.
My code does something like this:
[code]

Error:
[code]

Note that type erase (as proposed @shepmaster) does not help in my case. Until I found a way around this ICE.

[2019-06-14 20:04] bstrie commented on #50547
Is the intent to stabilize in time for the next beta cut on July 4, or will blocking bugs require another cycle to resolve? There are plenty of open issues under the A-async-await tag, though I'm not sure how many of those are critical.

[2019-06-14 20:25] bstrie commented on #50547
Aha, disregard that, I've just discovered the [AsyncAwait-Blocking](https://github.com/rust-lang/rust/labels/AsyncAwait-Blocking) label.

[2019-06-14 20:31] oli-obk commented on #60987
Instead of having a a non-color flag and a color flag for each variant we can also reuse the `--color` flag that modifies how non-json output is colored.

[2019-06-14 20:45] jonas-schievink commented on #29661
Regarding unresolved question 2:

In https://github.com/rust-lang/rust/pull/61812, I wrote an additional test for similar cycles in assoc. consts, which looks like this and works as-is on stable Rust:

[code]

I think it would be a good idea to implement similar behavior for associated type defaults.

[2019-06-14 20:54] estebank commented on #61831
Alternatively we could extend the type error by pointing at the type argument definition to make clearer what's happening.

[2019-06-14 20:59] AaronKutch commented on #61784
Would this have something to do with cache lines?

[2019-06-14 21:17] cramertj commented on #52924
Removing the "blocking" label here as I believe the most urgent issue has been resolved. These types are still bigger than we'd like them to be and there's lots of opportunities for improvement, but I think we're now at a point where I'd feel comfortable stabilizing WRT size.

[2019-06-14 21:19] cramertj commented on #59123
Moving to "deferred" by the same logic as https://github.com/rust-lang/rust/issues/52924#issuecomment-502266293. @rust-lang/lang feel free to put the labels back if you disagree.

[2019-06-14 21:20] cramertj commented on #61072
@Xanewok Were you able to look into this?

[2019-06-14 21:54] PvdBerg1998 commented on #52924
This issue caused stackoverflows for me in some cases. I think it should be a blocker.

[2019-06-14 22:58] tmandry commented on #59123
I'd personally like to see this fixed before stabilization. It can cause the same exponential size effects as we were seeing before #60187, albeit in different contexts.

I'm hoping to have a fix up for review soon.

[2019-06-14 23:00] AbdouSeck opened #61855 "error[E0506] when using rustc but passes with cargo"
I am sorry if this turns out to be a duplicate, or an issue directly related with some other issue. I am relatively new to the language.

The following (also [linked here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=db2d55307e898c5d2e6eea3b3c1cacc5)) will compile just fine with `cargo run` or `cargo build`. However, when compiled with `rustc`, I get a compile error:

**

[2019-06-14 23:01] tmandry commented on #52924
@PvdBerg1998 A major optimization PR (#60187) landed the other day, have you tested with that?

That said, I think there's still a huge improvement left to do in #59123. I'm hoping to have a fix for that up soon.

[2019-06-14 23:34] ehuss commented on #61855
The default edition in rustc is 2015.  New cargo projects default to 2018.  2018 now uses [non-lexical lifetimes](https://doc.rust-lang.org/edition-guide/rust-2018/ownership-and-lifetimes/non-lexical-lifetimes.html).  rustc 1.36 (beta) will also use NLL in the 2015 edition, but the versions you have do not.

If you want to use the rustc command line, pass `--edition=2018`.

[2019-06-15 00:16] PvdBerg1998 commented on #52924
@tmandry I didn't, that's great! I'll take a look some time in the future.

[2019-06-15 00:16] cuviper commented on #61738
Shouldn't this wait for the feature to reach beta?
(This would be an annoying thing to alternate on `#[cfg(bootstrap)]`.)

[2019-06-15 00:18] Centril commented on #61738
Either works for me.

[2019-06-15 01:40] BourgondAries commented on #48980
@retep007 encountered this error recently. When doing pure time calculations one would expect that adding a nanosecond would give a duration of 1 nanosecond.

    (x + Duration::from_nanos(1)).duration_since(x)

does not return a nanosecond on windows.

Is there any argument for not making the Instant nanosecond-precise regardless of platform and just truncate it when doing syscalls?

[2019-06-15 03:57] sailfish009 commented on #61561
found the reason, latest mingw gcc 9.1.0 cause some missing dll problem. (although, compile rust source was fine).

if you have old version msys2, this will works for you:

pacman -R  mingw-w64-x86_64-gcc-libs
pacman -R  mingw-w64-x86_64-gcc mingw-w64-x86_64-cmake
pacman -U /var/cache/pacman/pkg/mingw-w64-x86_64-gcc-libs-8.3.0-2-any.pkg.tar.xz
pacman -U /var/cache/pacman/pkg/mingw-w64-x86_64-gcc-8

[2019-06-15 06:23] kuretchi opened #61858 "rustc runs out of memory when compiling an `if` statement with no block, enclosed in parentheses"
I tried this code:

[code]

[code]

`rustc` first outputs some error messages and then hangs up trying to allocate a large amount of memory.

[code]

[Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=28d004ae7c4726088b4faecf892cb543)

## Meta

`rustc --version --verbose`:

[code]

[2019-06-15 06:33] #61801 closed

[2019-06-15 06:51] scottmcm opened #61859 "Using size_of::<T>() in a const generic suggests `T: Sized` bound that already exists"
[code]
[gives](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=73e728d5e806a4df6fc05d1331ec1497)
[code]

While I don't know if it's expected that this work, it feels like it at least shouldn't be telling me to add a bound that's already there.