[2021-12-02 09:04] #90855 closed

[2021-12-02 09:10] alex65536 commented on #91438
It's the alignment of the type corresponding to this vtable, not the alignment of vtable itself.

Yes, it is. The issue is that while calculating the offset dynamically, it does redundantly check whether the alignment is zero.

[2021-12-02 09:15] wangrunji0408 commented on #91417
So is it considered a bug? Should we round 41 ns up to 1?

[2021-12-02 09:23] Stargateur commented on #91438
why do you suppose rust internal doesn't need this ? having a zero alignment could mean something like unknown alignment ? I mean you first need to prove test for zero is useless before say it's seem useless. We don't know for sure what Rust really need to do here, the type is dyn, maybe Sized. That not trivial, one should perfectly know Rust internal to know if this check is useless.

Sorry for m

[2021-12-02 09:32] arnabanimesh commented on #79524
Another option is to integrate itertools in its entirety. Whether someone uses itertools or not becomes irrelevant.

[2021-12-02 09:35] alex65536 commented on #91438
I didn't dive into Rust internals code, but I know that the compiler doesn't always check for zero alignment. Here's the example:

[code]

gives just

[code]

But, even if I add the transparent wrapper, the check for zero is generated. See the following example:

[code]

[2021-12-02 09:46] Stargateur commented on #91438
I think the diff is caused by `&dyn My` versus `&Wrapper<dyn My>` but you use transparent so here I agree with you it's look strange. You convince me.

[2021-12-02 09:47] apiraino commented on #91377
Adding T-lang nomination to get this issue in their agenda.

Removing prioritization and regression labels as per WG-prioritization discussion [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2391377.20Unreachable.20code.20is.20not.20borrow-checked)

@rustbot label -I-prioritize +I-lang-nominate -regression-from-stable-to-stable

[2021-12-02 09:59] apiraino commented on #89503
Demoting to P-high after reading the latest comments

@rustbot label -P-critical +P-high

[2021-12-02 10:03] Yuri6037 opened #91447 "Possible performance loss with f32 arithmetic"
I've tried, out of curiosity, a floating point arithmetic test and found quite a big difference between C++ and Rust.

The code used in rust
[code]

The code used in C++
[code]

Here is a link to a godbolt for side-by-side comparision of assembly output: https://godbolt.org/z/dqc4b74rv

Rust seem to absolutely want the floats back into e* registers instead of keeping them in xmm registers, C++ lea

[2021-12-02 10:08] apiraino commented on #85574
Demoting to P-high after reading the latest comments

@rustbot label -P-critical +P-high

[2021-12-02 10:09] bnoordhuis opened #91448 "std: net::Ipv6Addr::is_loopback() returns false for fe80::1"
Apologies if this has been covered before. I've searched the bug tracker but didn't find an exact match.

`net::Ipv6Addr::is_loopback()` returns true for `::1` and false for everything else.

I would have expected it to return true for `fe80::1` (or strict: `fe80::1%lo0`) because, while a link-local address,  it's restricted to the loopback interface.

Supporting evidence:
[code]
A more principled

[2021-12-02 10:10] JakobDegen opened #91449 "`#![feature(unchecked_math)]` emits slow asm"
This code
[code]
currently emits
[code]
which should instead be
[code]
I unfortunately do not have the background to check whether its rustc or LLVM that's the cause of the issue; I'd be happy to file a bug against LLVM if it is on that side, but would need some pointers on how best to produce a useful bug report.

cc #85122

[2021-12-02 10:31] kittywhiskers commented on #84970
[code]

Alright then, reporting for duty!

[code]

[2021-12-02 10:56] Urgau commented on #91447
After a quick [godbolt](https://godbolt.org/z/js7P6h96b) I find that `clang` and `rustc` use the same representation (`%Stats = type { float, float, float }`) expect for `rustc <= 1.47` (`%Stats = type { [0 x i32], float, [0 x i32], float, [0 x i32], float, [0 x i32] }`). Not sure if that change something because their all at `0`.
Another [difference](https://www.diffchecker.com/4JVSwSx4) between

[2021-12-02 11:07] Urgau commented on #91447
I can confirm that the problem here is the return type `i96` in the LLVM IR because if I use an out parameter the assembly is what I would expect (without the vector optimization done by clang) ([godbolt](https://godbolt.org/z/1hr7rxsro)):

[code]
[code]

<details>
<summary>LLVM IR at -C opt-level = 0</summary>

[code]

</details>

[2021-12-02 11:40] MatrixDev commented on #60553
@jswrenn, I've never liked `as`-syntax for enums, but there should be at least some way to get those discriminants in the future if we can set those. are there any ideas?
It would be nice if `Discriminant<T>` returned by the `std::mem::discriminant()` had a numerical value or something.

[2021-12-02 11:45] fee1-dead commented on #60553
Enums with `repr(inttype)` have a stable repr, so it is safe to convert `*const SomeEnum` to `*const inttype` and dereference to get the discriminant value.

[2021-12-02 11:47] MatrixDev commented on #60553
@fee1-dead, dereferencing will involve `unsafe` code, won't it? It doesn't seems logical to require `unsafe` code just to get a discriminant.

[2021-12-02 12:29] hellow554 commented on #91448
You probably mean `fe80`, right? ;)

IMHO, [the docs](https://doc.rust-lang.org/nightly/std/net/struct.Ipv6Addr.html#method.is_loopback) are very clear:

[`pub const fn is_loopback(&self) -> bool`](https://doc.rust-lang.org/nightly/std/net/struct.Ipv6Addr.html#method.is_loopback):

<br>

In contrast to that:
[`pub fn is_unicast_link_local(&self) -> bool`](https://doc.rust-lang.org/nightly/std/net/

[2021-12-02 13:23] jplatte commented on #86442
PR has been merged for a while ;)

[2021-12-02 13:38] Yuri6037 commented on #91447
The question then becomes why is rustc forcing an i96 as return type?

[2021-12-02 13:41] EwoutH commented on #90024
The current milestone under which this issue is listed is 1.56.0, but it only got fixed in #90218 for 1.57.0. Can the milestone of this issue be updated to 1.57.0?

[2021-12-02 13:43] rastafaninplakeibol opened #91451 "Compiler panicked during code building"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

The only way I can help is by saying that the problem is in the "const" line in the impl block. Without that line, the code compiles flawlessly

[2021-12-02 13:46] yoshuawuyts commented on #75027
I used `Slice::array_windows` for a project yesterday, and it worked really well. I'm excited for this to be stabilized! The only downside is that when we're dealing with streaming data it requires collecting into a vec first.

It'd be neat if once we merge `Slice::array_windows`, we can look towards adding a variant of `Iterator::array_windows` as well ([example impl](https://github.com/yoshuawuy

[2021-12-02 13:55] linkmauve opened #91452 "#[inline(never)] is not respected for trivial functions"
I’m working on a pure Rust Wii/GameCube bare metal runtime, and in order to get the [Dolphin](https://dolphin-emu.org) emulator to output debug information to `stdout` I need to have a function named a certain way which gets replaced at runtime with code from outside the sandbox.

In order to do so, `#[inline(never)]` seemed the perfect match, but I couldn’t get it to actually force the function t

[2021-12-02 13:59] Mark-Simulacrum opened #91454 "Crater runs for 1.58"
Note: Please do not conduct triage on these runs without discussing how to do so with a release team member first. Thanks!

[2021-12-02 13:59] #90171 closed

[2021-12-02 15:14] Mark-Simulacrum commented on #91454
@craterbot run name=beta-1.58-1 start=1.57.0 end=beta-2021-11-30 mode=build-and-test cap-lints=warn p=10

[2021-12-02 15:17] pnkfelix commented on #90752
FYI This is addressed by PR #90788, which will be part of the Rust 1.58 release (stable in six weeks).

[2021-12-02 15:20] richkadel commented on #84605
I'm not convinced ignoring trait functions is a good idea, from a test coverage perspective.

When you derive a trait, your struct's API contract has changed. That struct now supports every function defined in that trait. To guarantee 100% test coverage of the behaviors of every function for _your_ struct, you would have to test it.

Without adding a test, the "`ignore`" concept is really just a c

[2021-12-02 15:22] pnkfelix commented on #90838
we ended up backporting #90840 itself to the 1.57 release. So this is now closed.

[2021-12-02 15:22] #90838 closed

[2021-12-02 15:25] pnkfelix commented on #91068
Addressed by PR #91243 and PR #91361, fixed in 1.57 release. Closing.

[2021-12-02 15:25] #91068 closed

[2021-12-02 15:29] pnkfelix commented on #91128
As a workaround, we have disabled NewPM by default on 1.57 release.

Can someone confirm if this compile-time regression is indeed resolved on 1.57?

[2021-12-02 15:40] pnkfelix commented on #89626
@XAMPPRocky can you confirm if this is fixed in 1.57 (and also current nightly)?

[2021-12-02 15:47] adamgemmell commented on #86941
I agree that splitting pauth and allowing just one suboption doesn't make sense as LLVM is. The RFC says that `target_feature` will "allow the compiler to generate code under the assumption that this code will only be reached in hosts that support the feature" - we can't silently enable a feature without the user saying it exists.

This looks to be the best option - it's also the least LLVM-specif

[2021-12-02 15:50] steffahn commented on #91068
It might make sense to also add a test for the case I listed above, i.e.
[code]

to make sure future updates don't break code like that?

[2021-12-02 15:55] asquared31415 commented on #91452
`#[inline(never)]` isn't actually never, it's just an exceedingly strong hint, and this is expected behavior.  This is also closer to constant folding than inlining I think, since it's seeing a constant value (nothing) being produced by a function with no side effects, and computing that value at compile time since it can't possibly have any effect as written.

As a solution to your specific probl

[2021-12-02 16:08] jackh726 commented on #91068
@steffahn any way I can convince you to make a PR for that and I'll review?

[2021-12-02 16:10] steffahn commented on #91068
I can make the PR. I just don’t know where exactly the test should go.

[2021-12-02 16:11] jackh726 commented on #91068
Probably just `src/test/ui/fn/implied-bounds-unnorm-associated-type-2.rs`

[2021-12-02 16:44] sajattack commented on #91442
Nevermind, this appears to be a possible problem with the FPU of the PSP doing the comparison to 0, combined with my dodgy understanding of MIPS assembly.

[2021-12-02 16:44] #91442 closed

[2021-12-02 16:49] compiler-errors commented on #91451
I think this was fixed in PR #87524, since it doesn't seem to reproduce on stable rustc 1.56

[2021-12-02 16:56] rastafaninplakeibol commented on #91451
The strange part is that if I write the same code by hands it does not always panic, but if i copy-paste what I've attached here it always panic. That specific line was fixed using the autocorrector from vscode so i don't know if there is some strange "invisible" char in the code that breaks everything.

Anyway I can confirm that updating rust with "rustup update" fixed the issue, next time I'll u

[2021-12-02 16:58] ehuss commented on #90024
Generally we use the milestone in issues for when the regression appeared (or more like "which release should we consider this for").  The PRs that resolve an issue get tagged with the release where the issue actually gets fixed (not including backports).  Usually we don't retroactively change the milestone for closed issues.

I'm going to unpin this issue as I think it has been up for sufficientl

[2021-12-02 17:00] ehuss commented on #91432
In that case, I'm going to close this out. One of the forums is the appropriate place to ask questions. This issue tracker is primarily for reporting bugs.

[2021-12-02 17:08] estebank commented on #91211
1. I don't know if you can call resolve in typeck. I think that might not be possible. In some cases where we encounter these kind of problems, like for suggestions during parsing, we make a "best effort" suggestion by trying to be very targeted and mark the suggestion as MaybeIncorrect.
2. Yes, that desugaring makes sense.

And option would be to modify the AST to carry extra information, and for

[2021-12-02 17:41] Silvea12 opened #91459 "Unhelpful error message for unsupported/tier-3 platforms when using no_std"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=576f0120ca20fddb1eaed15e45b2dede

[code]

Compiled with: `cargo +nightly build --target armv6k-nintendo-3ds`

The current output is:

[code]

Ideally the output should look like:

[code]

The problem is that `-Zbuild-std` will try to build `std`. This is the default suggestion when building something

[2021-12-02 17:44] Silvea12 commented on #91459
As an additional note, the output of `rustc --explain E0463` does not hint at the `-Zbuild-std=core` version either in its section for missing `std` or `core`.

[2021-12-02 17:58] #31306 closed

[2021-12-02 17:58] #90702 closed

[2021-12-02 18:06] apiraino commented on #91128
Discussed ib T-compiler meeting [on Zulip](https://rust-lang.zulipchat.com/#narrow/stream/238009-t-compiler.2Fmeetings/topic/.5Bweekly.5D.202021-12-02.20.2354818/near/263454666), linking this to the progress of #91190

[2021-12-02 18:16] ChrisDenton commented on #37519
The particular code in question has been replaced as a side effect of #87704. Most notably the behaviour is now much more consistent.

So I think this can be closed.

[2021-12-02 18:23] ChrisDenton commented on #50870
The issue in the OP has been fixed as a side-effect of #87704. So I think this issue can be closed.

Supporting `%PATHEXT%` could be a new feature request if there's demand for it. As noted above, it's not supported by the `CreateProcess` function that Rust currently uses.

[2021-12-02 18:42] Badel2 commented on #69487
Run into this while fuzzing, is this the same issue?

### Code

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-02 18:43] hudson-ayers commented on #89742
For gcc, several `--param` options could probably be combined to approximate this (e.g. `inline-min-speedup`, `inline-unit-growth` `inline-heuristics-hint-percent`, several others), but I agree there is no direct pass-through equivalent.

That said, this option going from working to doing nothing is user unfriendly -- at the very least, we should be printing a warning that users with a need to tun

[2021-12-02 18:50] estebank commented on #86102
@Manishearth can you verify what might be the outstanding work to close this ticket?

[2021-12-02 19:25] leo60228 commented on #86942
Not sure where this should go, but it seems strange to me that `try_reserve` was stabilized in 1.57 but `Box::try_new` is still unstable.

[2021-12-02 19:27] Badel2 opened #91461 "thread 'rustc' panicked at 'assertion failed: !suggestion.is_empty()', compiler/rustc_errors/src/diagnostic.rs:342:9"
I'm seeing an internal compiler error on the following input, found by [fuzz-rustc](https://github.com/dwrensha/fuzz-rustc):

### Code

[code]

### Error output

[code]

Affected versions: I tried nightly 2021-12-01 and stable 1.57 and they both show the same ICE.

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-02 19:42] eholk opened #91463 "Duplicate error messages in async code"
We often get multiple copies of the same error message in async code. For example, see [unresolved_type_param.stderr](https://github.com/rust-lang/rust/blob/master/src/test/ui/async-await/unresolved_type_param.stderr). It would be good to only get this error message once.

[2021-12-02 19:42] eholk commented on #91463
@rustbot label +A-AsyncAwait

[2021-12-02 19:48] leo60228 commented on #91452
I think this is true for `#[inline(always)]`, but not `#[inline(never)]`. The LLVM language reference describes `alwaysinline` as:

However, compare this to `noinline`:

The wording is quite a bit stronger for `noinline` ("attempt to inline [...] whenever possible" vs. "never inline [...] in any situation").

[2021-12-02 19:49] sunfishcode commented on #88576
Rust 1.57, which was just released, contains the fix for this. I've confirmed that the testcase reported here is fixed.

[2021-12-02 19:55] leonardo-m opened #91465 "[ER] Better wrong brackets recovery heuristics for error messages?"
This is a diagnostic enhancement request, but it's rather vague, so if you think it isn't actionable, I'll close it down.

Generally I find the rustc compiler quite helpful at spotting problems in my code. One of the few (small) pain points it gives me is when a bracket is missing (or a stray one is added), this sometimes happens when I translate some Python code to Rust, or when I add some calls

[2021-12-02 20:22] leo60228 commented on #91452
Hacky workaround:
[code]
([godbolt](https://godbolt.org/z/qGx9176hx))

[2021-12-02 20:41] cgwalters commented on #73820
I stumbled on this because Fedora/RHEL run https://sourceware.org/annobin/annobin.html/Test-cf-protection.html as part of builds and it flags Rust code as not using CET.

My initial thought was that trying this out would just be a matter of e.g. `rustc -C "llvm-args=-fcf-protection" -o empty empty.rs` but it seems to me that right now in LLVM the CLI option is part of `clang` and not a common code

[2021-12-02 20:59] wesleywiser commented on #85461
Ok, that was super helpful and pointed me in the direction of the actual minimal repro. Thanks @richkadel!

[code]

[code]

[code]

Since `called` is marked `#[inline(always)]`, it's included in the CGU for `lib::bar` **and** the CGU for `lib::baz`. Therefore, both CGUs think they should be responsible for generating the unused function and there are two copies of it generated. While the functions

[2021-12-02 21:14] richkadel commented on #85461
Let's try it! Are you planning to submit the PR or do you want me to.

I think this is harder than it might seem on the surface. If I recall correctly, this was something I looked into, but the information required was not where I needed it, after CGU partitioning. Someone may know a way to do it, but I just want to caution that it might not be that trivial.

[2021-12-02 21:14] clarfonthey commented on #84605
Yes, the API contract changes when you derive standard traits, but I personally don't believe that testing them adds any value for the developer. For example, `assert_eq!(value, value.clone());` would provide coverage for derived `PartialEq` and `Clone` implementations, but as far as your library goes, you're not really testing anything important; the only way those would fail is if there's an err

[2021-12-02 21:16] nikic commented on #91452
`noinline` controls inlining and inlining only. In this case no inlining happens -- rather, a side-effect free call is being removed. `noinline` does not prevent any inter-procedural optimizations apart from inlining in particular.

[2021-12-02 21:16] nbdd0121 commented on #60553
This is the state before #89234 is merged:

|                       | Unit-only (C-like) | Fieldless                     | With fields                   |
|-----------------------|--------------------|-------------------------------|-------------------------------|
| Implicit Discr w/o repr       | Stable, can cast   | Stable, can cast              | Stable                        |
| Implicit Disc

[2021-12-02 21:17] wesleywiser commented on #85461
Let's see if CI passes 🤞 https://github.com/rust-lang/rust/pull/91470

[2021-12-02 21:22] inquisitivecrystal commented on #91428
I feel like this may be a bad idea, though I'm not entirely sure. In general, `#[must_use]` is reserved for that is almost certainly incorrect if the return value isn't used. Aren't there use cases for not using the return value here?

[2021-12-02 21:24] richkadel commented on #85461
Historical context: See https://github.com/rust-lang/rust/pull/83307#issuecomment-803214297 ...

My depth of understanding of all of the different linkage options is still more shallow than I'd like. I read the LLVM documentation descriptions several times, but the number of combinations, and their effects, are still hard for me to understand. Some choices I had to make were an "educated guess" on

[2021-12-02 21:31] wesleywiser commented on #85461
Ah, thanks! I won't claim my understanding of the linkage options is complete either, but I think `private/default` will cause the dead code functions' symbols to be made private to the CGU they're declared in and prevent any name collisions by renaming if necessary.

[2021-12-02 21:36] mjptree opened #91471 "Fix duplicate resolution error messages when using both extern crate and use"
Due to recently merged PR #91045 duplicate error message can occur if a crate introduced via `extern crate` is not resolved successfully and subsequently symbol paths are derived via `use` from this missing crate.

Given the following code:

[code]

The current output is:

[code]

Ideally, a missing name should be issued for the missing crate and then silenced for names whose path is rooted in tha

[2021-12-02 21:45] Milo123459 commented on #90323
Finally made a PR for it! https://github.com/rust-lang/rust/pull/91468

[2021-12-02 21:57] crumblingstatue opened #91472 "rustdoc: doc attributes are not rendered for re-exports"
Source:
[code]
Rendering:
![image](https://user-images.githubusercontent.com/1521976/144509527-f9a74785-6277-4598-93d2-cda69e186cff.png)

[2021-12-02 22:13] bstrie commented on #72016
Is the generic fallback implementation a blocker for stabilizing an `asm!` MVP?

[2021-12-02 22:27] 8573 opened #91473 "`try_reserve_exact` documentation says to "Prefer `reserve`""
The documentation comments of the three `try_reserve_exact` methods [stabilized today in 1.57.0](https://blog.rust-lang.org/2021/12/02/Rust-1.57.0.html#stabilized-apis) (in `Vec`, `String`, and `VecDeque`) all have the same note as the corresponding aborting method `reserve_exact`:

For the fallible `try_reserve_exact` methods, should that say `try_reserve` rather than `reserve`?

[2021-12-02 22:57] jsha commented on #91304
Will do.

[2021-12-02 22:57] rsalmei commented on #80552
For me the name is perfect, it has the same meaning as Python's groupby: https://docs.python.org/3/library/itertools.html#itertools.groupby
Looking forward to this!

[2021-12-02 23:21] bnoordhuis commented on #91448
Yes, fe80::1 - typo, corrected. I'm not confused about anything, I simply don't like that Rust and the OS have conflicting views on what constitutes a local address. I'm of the opinion Rust ought to align with the OS.

[2021-12-03 00:37] SamMatzko opened #91477 "Compiler panicked when using `yield` keyword."
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]
</p>
</details>

[2021-12-03 01:04] #83167 closed

[2021-12-03 01:04] #76168 closed

[2021-12-03 01:04] #91210 closed

[2021-12-03 01:04] #53155 closed

[2021-12-03 01:04] #90770 closed

[2021-12-03 01:04] #91421 closed

[2021-12-03 01:04] #66260 closed

[2021-12-03 01:21] Amanieu commented on #72016
At the moment the only blocker is preparing all the documentation by moving the current contents of the unstable book into 3 separate places:
- The reference-level explanation is going into the reference (https://github.com/rust-lang/reference/pull/1105)
- The guide-level explanation is going to rust by example (PR coming soon)
- The parts that are still unstable (`const`, `sym`, `may_unwind`, exp

[2021-12-03 01:40] Fuuzetsu commented on #90301
I see, thanks. It sounds like binary-reproducability thing and ABI should(?) be the same at least.

And this is a regression in new LLVM version (rustc 1.56 and beyond)?

[2021-12-03 02:32] MSxDOS commented on #82801
The example now produces good assembly if the loop gets unrolled (possibly improved by https://github.com/rust-lang/rust/pull/91352), no change otherwise.

[2021-12-03 02:33] MSxDOS commented on #82801
@rustbot label: A-codegen A-LLVM I-slow T-compiler

[2021-12-03 03:00] MSxDOS commented on #91447
This seems to be the same regression as https://github.com/rust-lang/rust/issues/85265

[2021-12-03 03:14] aaronfranke commented on #52659
Is it possible to compile on a Windows for ARM host, in addition to compiling for it as a target?

[2021-12-03 03:32] sajattack commented on #91442
Followup: The real problem is that MIPS revs <=3 have delay slots for floating point comparison instructions, (such as c.eq.s), and LLVM does not appear to have accounted for this.

Sources:
https://gcc.gnu.org/legacy-ml/gcc-patches/2003-05/msg01601.html
https://gcc.gnu.org/legacy-ml/gcc-patches/2003-05/msg01605.html
https://github.com/gcc-mirror/gcc/blob/16e2427f50c208dfe07d07f18009969502c25dc8/g

[2021-12-03 05:21] tezz-io commented on #91477
`yield` keyword in Rust is used in context of generators, not when you want to return a customer Iterator - unlike other languages like C#.

[2021-12-03 05:31] petrochenkov commented on #71651
Copypasting from https://github.com/rust-lang/rust/pull/90020#issuecomment-985215220:

I went through major targets supporting dynamic linking and they all seem to expose relatively similar behavior with regards to linking CRT (libc or analogues) dynamically or statically.
Here's some summary.

An executable and all its dynamic dependencies must share a common CRT for things like cross-binary exce

[2021-12-03 06:06] compiler-errors commented on #91477
This happens when you try to yield in a function that returns an opaque `impl Trait`. This shouldn't ICE even if it's a bug in the code.

I've identified a quick fix.
@rustbot claim

[2021-12-03 06:08] Manishearth commented on #86102
@estebank I think we're good!

[2021-12-03 06:08] #86102 closed

[2021-12-03 06:13] roshangiyanani opened #91487 "OnDiskCache unwrap() panic"
I was running `cargo watch -x check -x test -x run` on my [code](https://github.com/roshangiyanani/rlox) when I got this compiler error. I could reproduce it by re-running the cargo commands. Unfortunately, I ran a cargo clean while trying to minimize the bug, which made the error disappear (so maybe not that unfortunate xD). That's why I can't give you a reproducible error, or a `full` backtrace.

[2021-12-03 06:21] workingjubilee commented on #91449
[code]

[Godbolt](https://godbolt.org/z/z7PK1rro6) says clang can turn this into
[code]
so I don't think it's an LLVM problem.

[2021-12-03 07:24] thomcc commented on #72016
Given the [caveats around labels](https://doc.rust-lang.org/unstable-book/library-features/asm.html#labels) with intel syntax (labels should be numeric, but can't be 0, 1, or a number made up of only those digits), is it worth getting an issue on file to at least improve the error messages? Is there one already?

[2021-12-03 07:39] asquared31415 commented on #91461
slightly simpler example not using attributes [here](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=061209bd1a57d73b29d09b1162f35478)

the name outside the parentheses and the name between the two colons can be arbitrary, the parentheses, underscore, and comma all appear to matter

[2021-12-03 08:26] purpleP commented on #80552
Not to argue with you as you’re just expressing your subjective opinion, but it got me thinking about it more deeply.

I’m not a linguist, but I think the function with `group` inside it’s name should produce groups by a particular criterion which doesn’t have anything to do with the ordering (kind of what SQL group by clause). And what pythons `groupby`  (which I think was inspired by Haskell) is

[2021-12-03 09:21] JakobDegen commented on #91449
@workingjubilee
[code]
also compiles into that same code, the deref seems to be relevant. Its also rather difficult to write a C equivalent, because unsigned overflow is always well-defined there and also you can't actually do math with 8 bit integers. The closest equivalent is probably
[code]
which [also compiles to the same thing](https://godbolt.org/z/MvGddfoEW) as the Rust version; that being

[2021-12-03 09:39] Urgau commented on #85265
I've done some analysis in https://github.com/rust-lang/rust/issues/91447#issuecomment-984517168 about a similar issue and what I've found in this issue is that the return type is not the best and that using an out parameter fix this regression with the return type.

[code]

[code]

And using reference for the inputs fix the rest.

[code]

[code]

[2021-12-03 10:15] #88150 closed

[2021-12-03 10:15] #91268 closed

[2021-12-03 10:15] #74875 closed

[2021-12-03 10:15] #81199 closed

[2021-12-03 11:17] BlackDex commented on #89626
@pnkfelix for me it does not seem to work on both new stable and latest nightly. I still need the `-Clinker=rust-lld` RUSTFLAG.

[2021-12-03 11:28] hkratz commented on #89626
@BlackDex But you also had a problem with 1.56.1, so it does not seem like that is the same issue.

[2021-12-03 11:41] BlackDex commented on #89626
I get exactly the same error message and the exact same solution solves it, so not sure why it is that different.

[2021-12-03 11:52] sdroege opened #91489 "nightly-2021-12-02 to nightly-2021-12-03 regression (PR #91354): auto-deref on `Cow` does not seem to work anymore in all circumstances"
### Code

See https://github.com/gtk-rs/gtk-rs-core/blob/master/glib-macros/tests/test.rs#L290

This fails with the latest nightly with (run `cargo test` inside the `glib-macros` directory).

[code]

Simplified code from `gtk-rs` / `glib` which works without problems for some reason so I'm not entirely sure what causes it:

<details>

[code]

</details>

### Version it worked on

It most recently

[2021-12-03 12:01] hellow554 opened #91490 "same functions are not merged in library"
I tried this code:

[code]

When compiled with the latest stable version and look at the objdump, I see a combined version of a and b, because they are optimized to the same instructions and then merged in the library.
On nightly (already bisected) two copies are stored and it takes the double amount of space (3.9kIB vs 4.1kIB).

Here's a godbolt link: https://rust.godbolt.org/z/zWovojdEE

### Ver

[2021-12-03 12:05] XAMPPRocky commented on #89626
I can confirm that this is now fixed for me, https://github.com/XAMPPRocky/rasn/runs/4397275912?check_suite_focus=true

[2021-12-03 12:56] ChrisDenton commented on #57772
I'm currently unable to reproduce the failure on my local machine but that could be for any number of reasons (scheduler changes, my particular hardware, the software I'm using, etc). That said, I would agree the docs shouldn't quite as strict if that's not actually guaranteed.

[2021-12-03 13:09] woppopo commented on #67441
`Option::expect` has been constified: #90269

[2021-12-03 13:20] #85115 closed

[2021-12-03 13:41] spastorino commented on #91489
would be nice if we can have a minimal test case for this, so we can reintroduce @fee1-dead changes again being sure that this won't be an issue again.

[2021-12-03 13:47] shampoofactory commented on #85265
@Urgau Hi. I did play around with this workaround a while back as a temporary solution. Unfortunately, it doesn't work effectively.

In practice, the regression still came back to haunt me as soon as I called the workaround method. The compiler just optimized it away, as it should.

It also, obviously,  doesn't work with standard traits such as [Add](https://doc.rust-lang.org/std/ops/trait.Add.htm

[2021-12-03 13:59] sdroege commented on #91489
Yeah I tried but I don't see the difference between my (incomplete) testcase above and the real code that fails :)

[2021-12-03 14:00] eopb opened #91492 "diagnostics: Duplicate derive clone suggestion"
Given the following code: [Playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=68337d60dacef4990a14bcd8e33e9046)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

[2021-12-03 14:36] hkratz commented on #89626
@BlackDex The outline atomics feature was not enabled by default in Rust 1.55 and 1.56. So the root cause of the problem you are seeing must be different. I tried building a simple hello world project with your docker images and that worked fine for me. Can you file a new bug report with steps on how to reproduce the issue?

[2021-12-03 14:37] Amanieu commented on #72016
We have a `NamedAsmLabels` lint which warns about using name labels, we could extend that to also warn about label names that look like binary numbers (only on x86 and with intel syntax).

[2021-12-03 14:42] BlackDex commented on #89626
@hkratz i'm currently testing some different options on building the musl toolchain.
I am using gcc 10.3.0 and both rust-embedded and messense are using 9.2.0. ill check if that is causing the issue.
If that is the case, would that still be valid for a bug-report, if it is the gcc 10.3.0 which is causing this?

[2021-12-03 14:54] SNCPlay42 commented on #91489
Reduced: ([playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=9da7e29ab9cef0efca2e79522928ad63))

[code]

The existence of `_TYP` seems to cause `as_str` to not be found on `Cow<VariantTy>` everywhere in the crate, i.e. if you add a function like

[code]

It will error iff `_TYP` is present.

[2021-12-03 15:41] spastorino commented on #91489
@SNCPlay42 do you want to send a PR with that test case? cc me and I can merge it. Would need to sit on top of this https://github.com/rust-lang/rust/pull/91491 but it will be on master soon.

[2021-12-03 15:46] adetaylor opened #91494 "Consider suggesting to folks that they wanted a `Vec` when they passed a slice"
Given the following code:

[code]

[playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1b4320d5427afea9ab3e55d18a66ab75)

The current output is:

[code]

This is absolutely right, but maybe we can be more helpful here?

[code]

A (relative) Rust newbie hit this whilst attempting Advent of Code this year and it wasn't obvious to them what they were doing wrong.

[2021-12-03 16:47] fee1-dead commented on #91489
I would imagine this error is because of caching still. Because the only const impl in the standard library with a `~const` bound is the `deref` method on `Cow`. Looking very similar to https://github.com/rust-lang/rust/issues/89432#issuecomment-932539620.

[2021-12-03 16:55] SNCPlay42 opened #91496 "Error when autoderef of smart pointer occurs in `const fn` is unclear"
Given the following code:

[code]

The current output is:

[code]

It's unclear from the diagnostic that the problem is not the call of `foo` itself (which is a `const fn`) but that `SmartPointer` would have to be dereferenced.

Ideally the output should look like:

[code]

Perhaps more generally, the compiler should avoid referring to non-intrinsic operators as "calls" in const errors, or explain

[2021-12-03 16:59] fee1-dead commented on #89432
Here is another MCVE which is what seems to cause the error:

[code]

[2021-12-03 17:02] jhpratt commented on #67441
unstably for those not looking in further detail ^^

[2021-12-03 17:10] SNCPlay42 commented on #91489
FYI the closure is only there to make this work on stable (and because the original crate had it), [this version](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a302cc7e8af8d6da301fa4fd729af4f7) has the same problem:

[code]

[2021-12-03 17:15] Stargateur commented on #75027
Could this be used ?

[code]

That should be more simple for the current state of the compiler and would allow to have better code in the future without introduce any potential breaking change.

[2021-12-03 17:17] fee1-dead commented on #91489
That is expected to not work because the `impl` of `Deref` on `Cow` is expressed like this:

[code]

Your code is in a const context, and the trait bounds are actually unsatisfied.

[2021-12-03 17:28] SNCPlay42 commented on #91489
It's odd that it compiles on yesterday's compiler then (per [godbolt](https://rust.godbolt.org/z/x6drjaaaK)) - I guess `~const` bounds aren't fully implemented?

On the current nightly it errors with the same ``no method named `as_str` found for enum `Cow` in the current scope`` message and causes all other calls (in non-const contexts) to produce the same error, which is what makes me think the c

[2021-12-03 17:36] fee1-dead commented on #91489
umm, how do I explain this 😅

We have a cache for whether trait bounds satisfy for a given type for performance, but a bug causes the compiler to treat a closure's body inside const contexts as const specifically for solving whether trait bounds satisfy (rustc_trait_selection). I think adding a call *before* the usage in `static` will not error.

[2021-12-03 17:47] jyn514 commented on #91472
Yeah, that seems reasonable.

Unfortunately this is tricky because `unused_doc_comments` is emitted in rustc but the inlining logic (which determines whether the additional docs are shown) is in rustdoc. So if we'd have to only warn about this in rustdoc, which seems confusing. (I *don't* want to move the inlining logic to rustc, it's too arbitrary and entangled with various rustdoc hacks).

[2021-12-03 17:48] jyn514 commented on #91472
@crumblingstatue a workaround for you in the short-term is to use `#[doc(inline)]` so the docs show up.

[2021-12-03 17:53] jyn514 commented on #91472
Relevant code: https://github.com/rust-lang/rust/blob/2a9e0831d6603d87220cedd1b1293e2eb82ef55c/src/librustdoc/visit_ast.rs#L182-L269 and https://github.com/rust-lang/rust/blob/2a9e0831d6603d87220cedd1b1293e2eb82ef55c/src/librustdoc/clean/inline.rs#L27-L125

[2021-12-03 17:54] kageru opened #91497 "`Vec::retain()` is significantly slower than `into_iter().filter().collect()`"
I noticed today that using `Vec::retain` is much slower than filtering and allocating a new Vector.
I realize the former is probably more memory efficient, but I still found it surprising that it would be that much slower (or really slower at all).

When testing with this code:
[code]
on 1.59.0-nightly (48a5999fc 2021-12-01), I get these benchmark results:
[code]
on a Ryzen 5900X running Linux. Te

[2021-12-03 17:59] fee1-dead commented on #91489
Actually, the closure in const is a bug introduced by the PR that caused the regression.

[2021-12-03 18:07] BluBb-mADe commented on #91497
i7 8700k windows 10
[code]
Not as big of a difference but still apparent.

[2021-12-03 18:21] leonardo-m commented on #91494
Is adding this to Clippy enough?

[2021-12-03 18:28] AZMCode commented on #50238
This would be useful indeed. Any progress?

[2021-12-03 18:33] workingjubilee commented on #91449
...Weird.

[2021-12-03 18:42] TmLev commented on #80498
Should this be closed now?

[2021-12-03 18:46] shepmaster opened #91498 "Apparent infinite loop when passing infinitely recursive type using Iterator::filter"
I tried this code:

[code]

I expected the compiler would provide an error message, akin to `reached the recursion limit while instantiating`.

Instead, the compiler appears to hang indefinitely — I killed the process after a while.

### Meta

[code]

[2021-12-03 19:08] camelid commented on #91490
I'm confused: #88243 landed _in_ 1.57.0.

[2021-12-03 19:09] camelid commented on #91490
Marking as regression-untriaged for now until we figure out which version this actually affects. That PR is in the latest stable (1.57.0).

[2021-12-03 19:19] kageru commented on #91497
Setting `lto = true` makes the disparity even bigger for me:
[code]

[2021-12-03 19:38] jdrouet opened #91499 "Error building for arm64 on a am64 with docker"
👋 Hi!

I'm working on [docker-activity](https://github.com/jdrouet/docker-activity) and `memchr` is one of my dependencies.
I'm building `docker-activity` with [docker buildx](https://github.com/docker/buildx) in order to have a single image for both platform and I end up having a weird behavior.

I'm not sure if I open this issue in this repo, or in `buildx` or even in `qemu`, but I'll try my luc

[2021-12-03 19:42] fangism commented on #91168
Update: We've been able to track this down to a procedural macro whose implementation involves iterating over a HashMap.  It was shown that this produces different code with `-Zunpretty=expanded` from run-to-run, which explains the LLVM IR differences.

[2021-12-03 19:43] nikic commented on #91490
@camelid The change was reverted for the release.

The issue sounds like MergeFuncs doesn't run -- looking at https://github.com/llvm/llvm-project/blob/f178a05f220403f2a9d73c7640bfcc7dc2d7be72/llvm/lib/Passes/PassBuilderPipelines.cpp#L1194 I seem to have misscheduled the pass due to some unfortunate code structure: The passes are added in the middle of OptimizePM construction, but the OptimizePM i

[2021-12-03 19:48] inquisitivecrystal commented on #91451
Alright, this seems resolved then. Thank you for filing the report!

[2021-12-03 19:48] #91451 closed

[2021-12-03 19:49] camelid commented on #90497
Updated issue to reflect that this is no longer a major regression.

[2021-12-03 19:50] camelid commented on #90319
Updated regression label since 1.57.0 as been released as stable now.

[2021-12-03 21:15] #80498 closed

[2021-12-03 21:25] the8472 commented on #91497
It looks like `retain` is optimized for small or large probabilities of keeping elements, i.e. long runs of elements that will be either kept or deleted. `into_iter().filter().collect()` on the other hand just reads elements one by one, filters them and writes out those that passed, i.e. it does not care about runs.

Since the test-case here drops every second element it's the worst possible case

[2021-12-03 21:47] glandium commented on #90301
I don't know if this affects rustc, but I narrowed down yet another source of non-determinism in debuginfo, and upstream came up with a patch: https://reviews.llvm.org/D115054

[2021-12-03 21:49] hkratz commented on #91497
There is something weird going, because if you put a copy of the current `retain()` implementation in the source file it is much faster:
[code]
[Godbolt](https://godbolt.org/z/ne4eYPao1)

[2021-12-03 21:58] the8472 commented on #91497
You're not copying the most recent version of retain. `process_one` has gained a const  bool parameter in #88060 and thus gets instantiated in two flavors.

https://github.com/rust-lang/rust/blob/ff2439b7b9bafcfdff86b7847128014699df8442/library/alloc/src/vec/mod.rs#L1524-L1565

[2021-12-03 22:09] scottmcm commented on #89379
I hate to re-bikeshed, but I stumbled on a possibility which I didn't see mentioned in #75644

I'm making a PR for `array::repeat`, to handle simple things like [@leonardo-m's `repeat(vec![])`](https://github.com/rust-lang/rust/pull/75644#issuecomment-705514706).  But in doing that I noticed that there's not only `iter::repeat` -- which I was copying for `array::repeat` -- but there's also `iter::

[2021-12-03 22:13] gautamg795 opened #91502 "struct update syntax causes ICE"
### Code

[code]
[Playground link](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=730f6b96dc286b2cb6dcad243fe6af7e)

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-03 22:15] BluBb-mADe commented on #91497
I tried a few scenarios that should heavily favor `retain` but the effect remains.
`|x| *x == 1`
[code]
`|x| *x != 1`
[code]
`|x| *x != 1`
[code]
`|x| *x >= 500`
[code]

[2021-12-03 22:15] gautamg795 commented on #91502
It's likely possible to minimize this further; the snippet posted is just a sanitized version of the actual code that caused the issue.

Changing the `with_a` function to first assign the `OnceCell` to a local variable does not result in a compiler error and prints the expected error message about a type mismatch:
[code]

[2021-12-03 22:18] gautamg795 commented on #91502
Slightly further minimized:
[code]

[2021-12-03 22:52] compiler-errors commented on #91502
I'd like to take a look at this, I'll take a stab at it tonight.

@rustbot claim

[2021-12-03 23:13] scottmcm commented on #90091
For the slice versions of these, I think it's important that they not only offer `-> (&[T; N], &[T])`, but also `-> (&[T], &[T; N])`.  (This is basically the same as how there's both `as_chunks` and `as_rchunks`, see #78818.)

That might open up new naming possibilities too.  To spitball:
- `split_prefix: &[T] -> (&[T; N], &[T])` and
- `split_suffix: &[T] -> (&[T], &[T; N])`

[2021-12-03 23:27] camelid commented on #67982
#90737 has been merged now. Should this issue be closed?

[2021-12-03 23:36] workingjubilee commented on #86941
Right.
The FPU for aarch64 is the Neon unit, however, so allow me to rephrase:

Is there any case where it is actually valid to have `"-neon, +fp"` or `"+neon, -fp"` for AArch64, or is that always erroneous?

[2021-12-03 23:56] Amanieu commented on #86941
`fp` and `neon` are distinct subsets of the ISA, so it is possible in theory. But in practice, you'll never find an AArch64 chip without both available.

[2021-12-04 00:21] eholk commented on #67982
@camelid - Yes, the issue can be closed now. #67644 can probably be closed as well.

[2021-12-04 01:16] #67982 closed

[2021-12-04 01:17] camelid commented on #67982
AFAICT the feature hasn't been stabilized yet, so I think the tracking issue should stay open.

[2021-12-04 02:06] compiler-errors commented on #91502
I git-blamed this down to 926892ddc0b75 (#90035). We have a "type changing struct-update" here because we're doing `..struct` on a `&Ty`.

I can demote this `bug!()` into a `delay_span_bug` to suppress the ICE, but I'm gonna take a better look at this first and see if I can fix it a bit more cleanly.

[2021-12-04 04:20] #70853 closed

[2021-12-04 05:07] rainliu opened #91509 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value'"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-04 05:07] #91509 closed

[2021-12-04 05:08] scottmcm commented on #85115
With #91286, this is now resolved using approach 2, via a [`Residual` trait](https://doc.rust-lang.org/nightly/std/ops/trait.Residual.html).

[2021-12-04 05:23] scottmcm commented on #79711
@arthurlafrance It'd suggest starting a conversation on [`IRLO`](https://internals.rust-lang.org/) about it.  Or you can send a PR if it'd be easier to just write the code.

This change is still open, but is for tracking this specific change, not a good place to discuss an additional possible API.

[2021-12-04 05:37] rainliu opened #91511 "thread 'rustc' panicked at 'called Option::unwrap() on a None value'"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-04 05:39] rainliu commented on #91511
nightly works fine.

  nightly-x86_64-unknown-linux-gnu unchanged - rustc 1.59.0-nightly (acbe4443c 2021-12-02)

[2021-12-04 05:59] #91477 closed

[2021-12-04 07:16] mibes commented on #91511
Just experienced the same, running `trunk serve` on a `yew` project:

[code]

Meta:
[code]

[code]

[2021-12-04 07:27] mibes commented on #91511
Rust 1.56.1 works fine.

[code]

[2021-12-04 08:11] crumblingstatue commented on #91472
Thank you, that indeed works!

[2021-12-04 08:40] jplatte commented on #90091
I agree that should exist, but I think it should be named `rsplit_array` since there's already a bunch of existing split functions whose "from the end" variations are all called `rsplit*`.

[2021-12-04 08:52] izik1 opened #91514 "ICE: thread 'rustc' panicked at 'assertion failed: `(left == right)` left: `2`, right: `1`', compiler/rustc_middle/src/mir/mod.rs:474:13"
### Code

Note: requires full build (ie, `cargo check` doesn't trigger it)
[code]

### Meta

`rustc --version --verbose`:
(stable)
[code]
(beta)
[code]
(latest nightly as of right now)
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

Note that the specific version of the panic macro doesn't matter (this triggers with edition=202

[2021-12-04 09:07] izik1 commented on #91514
[code]
Last non-icing nightly
[code]
first icing nightly (note that at some point I had to add `!#[feature(const_panic)]` because it was still unstable)

[2021-12-04 09:55] malaire commented on #87681
Rust 1.54 release notes should be updated to say that this doesn't work. It currently says `Read here for more details` with `here` linking to https://github.com/rust-lang/rust/pull/83366 which says that this is supported syntax.

[2021-12-04 10:15] ketsuban commented on #63997
I've found a case where this isn't true. ([playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=c9a6f0f5d7bb211de352e33ad11bd012))

[code]

[2021-12-04 10:39] mibes commented on #91511
@rainliu it seems that a `cargo clean`and a fresh rebuild of the project resolved the situation. Although I have no hard evidence and it may just be "luck".

[2021-12-04 10:42] nikic commented on #90595
I started an llvm-dev thread on the topic: https://lists.llvm.org/pipermail/llvm-dev/2021-December/154164.html

Unfortunately, while looking into this I found a major bug in call slot optimization: The check introduced in https://github.com/llvm/llvm-project/commit/703e488ed9229ac50a54c69f207074e7ec0715bd does not look through pointer casts, and thus rarely triggers in practice. I'm afraid that on

[2021-12-04 10:58] terrarier2111 commented on #91461
I found a fix for this, but currently i am only emitting a suggestion for transforming the input into a struct:

[code]

[code]

how do you guys think should i do a function suggestion? Should i just remove the parameter altogether or something else?

here is an example how the same diagnostic's output looks like for a more sane input:
https://github.com/rust-lang/rust/blob/master/src/test/ui/pars

[2021-12-04 11:14] coderedart opened #91520 "where clause for tuple structs recommended at wrong place causing syntax errors"
Me Newbie. I had this issue while trying to create a new type to abstract over a HashMap, went to rust discord where i got the fix. then, as i got the suggestion as a quickfix from vscode, i thought it was a Rust analyzer bug, https://github.com/rust-analyzer/rust-analyzer/issues/10923 . but this is a rust bug it seems.

Reproduce error:
1. add `derive_more` and `halfbrown` as dependencies. //hash

[2021-12-04 11:16] c410-f3r commented on #89379
The two most important things about these functions are (1) Provide an unified way for creating custom arrays (it is common enough for `std`) and (2) Take off the user burden of having to deal with `unsafe`.

That said, I will personally support any proposal that will move any function or method towards stabilization **as soon as possible**. So if desired free to create `repeat`-like variants, mai

[2021-12-04 11:47] scottmcm opened #91521 "Large parameters are copied to stack even in trivial wrappers"
I tried this code: <https://rust.godbolt.org/z/j13WbYT6o>

[code]

I expected to see this happen:
Everything should be already set up on the stack appropriately to just call `bar` immediately on entering `foo`.

Instead, this happened:
It copies the 2400 bytes to stack, then calls `bar` with the pointer to that stack copy
[code]

Since at the ABI level that's passed as a pointer, I suspect this is

[2021-12-04 12:09] rukai commented on #91492
@rustbot claim

[2021-12-04 12:11] linkmauve commented on #91452
@leo60228, your godbolt link shows that `llvm.sideeffect` will elide putting the argument in `r3`, as can be seen when using `asm!()`: https://godbolt.org/z/b4K9Wxxoo

The `stwu`/`addi` instructions to grow/shrink the stack are obviously unneeded in this example (this also happens on x86), but that’s the only issue; besides `asm!()` not being stabilised any time soon for PowerPC.

[2021-12-04 12:55] lilasta opened #91522 "Tracking Issue for `const_borrow`"
Feature gate: `#![feature(const_borrow)]`

This is a tracking issue for implementing `const Borrow/BorrowMut`.

### Public API

[code]

### Steps / History

- [x] Implementation: #90270
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-12-04 13:07] the8472 commented on #91497
I'll take a stab at this. @rustbot claim

[2021-12-04 14:10] nikic commented on #91490
Test: https://github.com/llvm/llvm-project/commit/5b94037a304eb88809f86d8b9235426976061009
Fix: https://reviews.llvm.org/D115098

[2021-12-04 14:15] Alexendoo commented on #82954
Fixed by #90854

[2021-12-04 14:15] #82954 closed

[2021-12-04 14:16] klingtnet opened #91523 "`cargo clippy --fix` created a lifetime issue by applying a fix"
I tried this code:

[code]

I expected to see this happen: That clippy can apply the fixes without generating broken code.

Instead, this happened: Clippy created a lifetime issue and aborted.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

Here's the full output of `cargo clippy fix`:

        Checking rosc v0.6.0 (/home/alinz/co

[2021-12-04 14:21] Alexendoo commented on #82335
Fixed by #91462

[2021-12-04 14:21] #82335 closed

[2021-12-04 14:23] Alexendoo commented on #83764
Fixed by #90854

[2021-12-04 14:23] #83764 closed

[2021-12-04 14:25] Alexendoo commented on #71546
No longer ICEs since ff23ad3179014ba258f2b540fb39dd0f26852b7a, likely from #91321

[2021-12-04 14:36] terrarier2111 opened #91525 "Misleading suggestion for builders"
When trying to return ```Self``` instead of ```self``` from a method with a ```self``` or ```mut self``` parameter the suggestion is most likely misleading. I expected the compiler to tell me to change ```Self``` to ```self``` because in my eyes its more likely that the user wants to return the same instance that they took instead of allocating a new one but instead i get this:
[code]

here is a r

[2021-12-04 14:45] Badel2 commented on #91461
I wouldn't give much thought to suggestions, as it's unlikely that a human will enter this input. So I would just remove the suggestions if they are most likely wrong. For example the struct suggestion is invalid code because structs cannot use `_` as a field name (right?). And I'm not sure what kind of code would use two colons `:b:`, it's most likely a weird typo, so a generic "unexpected token"

[2021-12-04 15:42] the8472 commented on #91497
Submitted #91527, if anyone wants to confirm my benchmark results.

[2021-12-04 16:13] ehuss commented on #87681
@malaire I have updated the description of #83366 to remove the mentions of `#[path]`.

[2021-12-04 16:14] Kixunil commented on #63291
@SimonSapin regarding the unresolved question I just realized there's a precedent: `Box::<T>::pin()` returns `Pin<Box<T>>` - it's not a method of `Pin<Box<T>>`. I agree that it's less annoying to do this way even though a bit surprising for newbies and I think it's net-benefit. However, re-reading this thread, @m-ou-se mentioned people at meeting thought differently. I wonder if the argument about

[2021-12-04 16:29] #84003 closed

[2021-12-04 17:29] #65439 closed

[2021-12-04 17:45] m-ou-se commented on #88867
cc @KodrAus

[2021-12-04 18:26] hkratz commented on #91498
`rustc -Zno-codegen` finishes, without error message.

[2021-12-04 18:31] bstrie commented on #67984
Now that #90473 has been merged, can this be closed?

[2021-12-04 18:44] #67984 closed

[2021-12-04 19:02] jimblandy opened #91532 "Missing `Clone` implementation leads to mysterious errors down the line"
Given the following code: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=0fc37a6dfe3b8c2232f2b4eb2ab8615c

[code]

The current output is:

[code]

The actual problem here is a missing `Clone` implementation for `Board`. Its absence causes Rust to choose the `Clone` implementation on shared references, so the type of `boards` here is actually `&Vec<Board>`; this can be veri

[2021-12-04 19:26] indygreg commented on #51443
I wanted to provide feedback that the warnings emitted by this in 1.57 (which are effectively unchanged from previous comments) when `async_trait` (and presumably other macros) is in play are confusing. Concretely:

[code]

As @itowlson pointed out in previous comments, this is an issue with how `async_trait` works and can easily be worked around by adding `Sync` as a supertrait (thank you for the

[2021-12-04 20:45] Aaron1011 commented on #91532
This is https://github.com/rust-lang/rust/issues/83099 - the lint is currently turned off by default.

[2021-12-04 20:55] Aaron1011 opened #91536 "The `NOOP_METHOD_CALL` lint fails to run if a MIR error occurs"
The following code:

[code]

produces the following error:

[code]

If we comment out `boards[0] = Board;`, then the `noop_method_call` lint will fire as expected. However, when that line *is* present, the lint never gets a chance to run, since the mutable borrow error occurs during MIR borrowchecking. Displaying the lint would help the user to resolve the problem, since the root cause is the fact

[2021-12-04 21:31] gorsat commented on #62358
Such a useful and intuitive feature with such a straightforward implementation yet it's been stuck here for 2 years? Wow...

As someone who is new to Rust I expected this feature to exist for Option, and I happily and quickly found it in the docs, but then discovered I'd have to switch to unstable to use it. Now I come here and find it has been stuck in a naming debate for literally 2+ years. That

[2021-12-04 22:07] 5225225 commented on #91396
I ran into this too, with code that looks like https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=3f20d23043f216f0923d6e0ce25183d8

[code]

To add to the error message, I think it would also be a good idea to highlight the `let packets` line. Something like "borrow escapes to here" underlining the `let mut packets = Vec::new()`

[2021-12-04 22:32] pitaj commented on #91309
@rustbot claim

[2021-12-04 23:49] pitaj commented on #91309
Here are my planned replacements:

`brush.svg` -> `solid/paint-brush.svg` <img src="https://raw.githubusercontent.com/rust-lang/docs.rs/cf3d949686c422da9a8bc1f5dd3f608a89faff74/crates/font-awesome-as-a-crate/fontawesome-free-5.14.0-web/svgs/solid/paint-brush.svg" height="20">

`wheel.svg` -> `solid/cog.svg` <img src="https://raw.githubusercontent.com/rust-lang/docs.rs/cf3d949686c422da9a8bc1f5dd3f6

[2021-12-04 23:58] pitaj commented on #91309
Some alternatives:

"experimental" microscope: flask <img src="https://raw.githubusercontent.com/rust-lang/docs.rs/cf3d949686c422da9a8bc1f5dd3f608a89faff74/crates/font-awesome-as-a-crate/fontawesome-free-5.14.0-web/svgs/solid/flask.svg" height=20 >

"hide" toggle-minus: regular/minus-square <img src="https://raw.githubusercontent.com/rust-lang/docs.rs/cf3d949686c422da9a8bc1f5dd3f608a89faff74/crate

[2021-12-05 01:53] damccull opened #91540 "Vec<Type1,Type2> should suggest a tuple if Type2 is not an allocator."
When aliasing a type for a vec of a tuple, it'd be nice to be told something like "You probably meant to use a tuple" instead of getting an error saying you're using unstable library features.

Given the following code:

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

This would make it easier to identify this typo in the code for those of us who are newer or

[2021-12-05 01:57] damccull commented on #91540
@Dylan-DPC pinged as you requested on Discord.

[2021-12-05 02:10] damccull commented on #91540
@ibraheemdev found #82452 and #80237 related.

[2021-12-05 02:19] boringcactus commented on #70142
I think flatten having an inner-error vs outer-error type preference will absolutely catch some people by surprise when they wanted the other one, and so I'm in favor of
[code]
matching the `flatten` API as already implemented.

[2021-12-05 02:34] eholk commented on #67982
Sounds good to me!

[2021-12-05 02:52] winterqt opened #91541 "Binaries sporadically killed on macOS"
When executing `cargo run` on macOS, a chance exists for the process to be SIGKILLed on launch. Re-executing the exact same binary after it is killed makes it execute just fine.

When the process is killed, the following is logged into the OS' console:

[code]

The only thing I've tried to do to stop this is restart macOS (thinking this might be some bad `amfid` state or something, race condition?

[2021-12-05 03:05] jsha commented on #91309
Thanks for putting these proposals together!

The clipboard icon we have is actually copied from docs.rs' choice already. See e.g. https://docs.rs/crate/rustls/latest. We should keep the clipboard icon the same.

cog, brush, info circle, warning triangle all look great. For "experimental" I like the flask better than the microscope (and the flask is also used on MDN, a very well-respected document

[2021-12-05 03:41] #84223 closed

[2021-12-05 03:41] #89985 closed

[2021-12-05 03:41] #89320 closed

[2021-12-05 03:41] #89146 closed

[2021-12-05 03:41] #87470 closed

[2021-12-05 03:41] #87964 closed

[2021-12-05 03:41] #83249 closed

[2021-12-05 03:41] #83288 closed

[2021-12-05 03:41] #90654 closed

[2021-12-05 03:41] #90558 closed

[2021-12-05 03:41] rust-highfive opened #91542 "`miri` no longer builds after rust-lang/rust#91539"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#91539, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @matthiaskrgr, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-12-05 03:41] rust-highfive opened #91543 "`rls` no longer builds after rust-lang/rust#91539"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#91539, I observed that the tool rls no longer builds.
A follow-up PR to the repository https://github.com/rust-lang/rls is needed to fix the fallout.

cc @matthiaskrgr, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-12-05 04:01] Patrick-Poitras commented on #91449
@JakobDegen
I tried a version that derefs and converts to usize, then one that just derefs. It seems that

[code]
gives the slower version, but that

[code]
gives the correct, shorter answer. See this comparison on [Godbolt](https://godbolt.org/z/b3jbn7h8q).

[2021-12-05 05:48] JakobDegen commented on #91449
@Patrick-Poitras that's mostly unsurprising, since
[code]
also gives the fast version

[2021-12-05 06:13] TennyZhuang commented on #86942
Should #91529 be a part of the tracking issue?

[2021-12-05 06:43] Xuanwo commented on #78497
The panic happens at: https://github.com/rust-lang/rust/blob/5e93f6e318e687c05c8c44517de4586ed75ce3f4/library/std/src/sys/unix/stack_overflow.rs#L145-L163

How can we produce an `Err` here?

[2021-12-05 07:30] rossmacarthur commented on #71363
@rustbot unclaim

[2021-12-05 07:30] rossmacarthur commented on #71363
@rustbot unassign

[2021-12-05 07:33] Xuanwo commented on #86942
Is this issue still going on? Is it OK to add `try_` alike API in `alloc`? I'm interested to send PRs around this feature.

[2021-12-05 07:36] hkratz commented on #91541
@winterqt What Macos version and arch (Intel or ARM) are you using? Can you cause it to happen on purpose (e.g. with 10000 times cargo run on a hello world app)?

@rustbot label O-macos

[2021-12-05 08:01] univerz commented on #62358
i'm happily using nightly feature, `contains` + `cointains_with` for lambda case looks intuitive & matches behaviour of other _with apis.

[2021-12-05 09:38] matthiaskrgr commented on #91543
This might be due to https://github.com/rust-lang/rust/pull/91355
`rustc-ap-rustc_span v722.0.0` no longer builds:
[code]
We need a new version I think.
The last published version of https://crates.io/crates/rustc-ap-rustc_span is 5 months old already :thinking:
@alexcrichton Can you please check why there are no new `rustc-ap` versions being published?

[2021-12-05 09:48] #88941 closed

[2021-12-05 11:15] 5225225 opened #91550 "Suggestion to derive traits does not consider needing to implement supertraits"
Given the following code: https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=8d2ebff94e06c67049c0ad3f096873ff

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

This way, the suggested code will compile without the user needing to know that in order to derive Eq, you must implement PartialEq.

There's also an issue where you need the `::<Va

[2021-12-05 13:11] nikklassen opened #91552 "thread 'rustc' panicked at 'attempted to read from stolen value: rustc_middle::mir::Body', compiler/rustc_borrowck/src/lib.rs:133:49"
### Code

Two crates, `2020` and `shared { path = "../shared" }`

`shared` compiles if I'm in that directory, but this bug occurs from building the `2020` crate in its directory.

The function in the stack trace was

[code]

I tried to get a more minimal version of my code, but the error stopped occurring.

[My repo](https://github.com/nikklassen/advent-of-code), minimal changes before the bug occ

[2021-12-05 13:12] rukai commented on #91550
Oh, I touched this code recently.
It should be easy to hardcode this for PartialEq and PartialOrd.
@rustbot claim

[2021-12-05 13:25] jaw-sh commented on #90682
I encountered this issue when adding `try_join!` to my code, to reduce synchronous queries in a project i'm building. I would share the entire thing if I thought it would help, but I haven't been able to reproduce it.

<summary>
[code]
</summary>

I tried recreating it in a small project as well but I had no luck. It's actix-web with SeaQL.

I encountered the compiler error after adding try_join!

[2021-12-05 14:31] Alexendoo commented on #78336
Fixed by #91488

[2021-12-05 14:31] #78336 closed

[2021-12-05 14:31] Alexendoo commented on #83472
Fixed by #91488

[2021-12-05 14:31] #83472 closed

[2021-12-05 14:57] VorfeedCanal opened #91556 "Unmatched brace in a format string crashes the compiler"
Reproducer:
[code]

Playground link: https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=8b3a4c8413cd9d296706c9da0ac6e0c0

[2021-12-05 15:12] ehuss commented on #91541
I have been experiencing the same issue, there is some more detail over at https://github.com/rust-lang/cargo/issues/10060.    I am on x86_64, macOS 12.0.1.

It seems to be quite sporadic. Sometimes it won't happen at all, and sometimes it will be quite frequent.

[2021-12-05 15:16] winterqt commented on #91541
@ehuss Should I close this in favor of the Cargo issue?

[2021-12-05 15:37] ehuss commented on #91541
Yea, I'll go ahead and close it to keep discussion in one place.

I have not seen this affect `rustc` itself. Just recently-created executables via `cargo run`. I also have not seen this affect CI or running tests locally, which rapidly create executables, so there is some piece of the puzzle related to `cargo run` that I am not seeing.

[2021-12-05 15:37] #91541 closed

[2021-12-05 15:58] Alexendoo commented on #91139
No longer ICEs since #91243

[2021-12-05 16:12] WaffleLapkin commented on #67644
Just for a clarification (and to be similar to newer tracking issues)

---

Feature gate: `#![feature(into_future)]`

This is a tracking issue for the `IntoFuture` trait similar to `IntoIterator` allowing to convert types into futures.

Since #90737 this trait is also automatically used in `expr.await` desugaring allowing for code similar to the following [(playground)](https://play.rust-lang.org/

[2021-12-05 16:18] WaffleLapkin commented on #67644
I wonder though if the method should be called `into_fut` to be more consistent with `into_iter` (note that it's not called `into_iterator`)

[2021-12-05 16:21] Badel2 commented on #91502
I run into this while fuzzing, so if you need another example:

[code]

[2021-12-05 16:23] joseluis commented on #88791
Hi, I just found this RFC and funnily enough I recently devised a way to achieve this in current stable. So I wanted to share my solution. The following minimal project shows how to include documentation and tests from the examples directory:

**project files:**

[code]

[code]

[code]

**testing it out:**

[code]

[2021-12-05 17:21] Alexendoo commented on #91069
No longer ICEs since #91462

[2021-12-05 17:52] Ericson2314 commented on #86942
I have had little time to debug the tiny few failures or https://github.com/rust-lang/rust/pull/86938 --- it's not that it would take very long, but that switching tasks from what I am usually doing has a mental overhead.

Landing that PR is still good, and will help Rust for LInux slightly which I think is very important, so @Xuanwo if you are interested I would be very thankful and appreciative

[2021-12-05 17:57] og-dev opened #91558 "Internal Compiler Error after moving a module"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-05 18:13] compiler-errors commented on #91556
I'd love to take a look at this. Seems to be ICEing in code that displays the diagnostic to fixup the actual compiler error here.

@rustbot claim

[2021-12-05 18:35] #90455 closed

[2021-12-05 18:35] #91371 closed

[2021-12-05 19:26] asquared31415 commented on #91558
This might be an incremental compilation issue, does `cargo clean` resolve the issue?

[2021-12-05 19:28] yedayak opened #91560 ""error[E0435]: attempt to use a non-constant value in a constant" shows wrong fix with mut variables"
I tried this code:

[code]

I expected to see this happen: Get an error about using non constant values in a constant, with a help pointer showing where to change "let" to "const", like in this example without the mut keyword:
[code]

Instead, this happened: I get the correct error, but it points to a wrong place to fix, off by one character:
[code]
This means auto correcting it using the rust-ana

[2021-12-05 19:31] twirrim opened #91561 "Clippy failed to automatically apply fix: type `bool` cannot be dereferenced"
Clippy tried to fix some of my code and ran in to issues, and suggested I file a bug report.  I've made a stripped back reproduction of what I saw.

I tried this code:

[code]
also accessible via playground here:
https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=829b4f5637a0abf35608926439f1d1a6

Clippy reported:
[code]

when applying the fix clippy discovered:

[code]

### Me

[2021-12-05 19:44] goetsche101 commented on #91432
hehe, No clue bra'... The thing asked me to report it .. so I did.

On Thu, Dec 2, 2021 at 10:01 AM Eric Huss ***@***.***> wrote:

[2021-12-05 19:53] camelid commented on #88791
@joseluis That's different from this feature. This feature is about showing snippets of examples in the documentation for functions that are called from the examples.

[2021-12-05 20:06] camelid commented on #91309
Hmm, for the microscope and the thumbs-down, I kind of like that they're colorful.

[2021-12-05 20:18] worldeva commented on #91514
@rustbot claim

[2021-12-05 20:31] crumblingstatue opened #91564 "Warn about unnecessary blocks"
rustc already warns about unnecessary semicolons:
[code]
[code]
However, there is no warning about unnecessary blocks:
[code]

Is this feasible to implement? Should this be the responsibility of another tool? (clippy, rustfmt)

[2021-12-05 20:54] workingjubilee commented on #73288
Is it possible for us to adjust the Rust float calling convention for the pentium4-* ("i686") targets so that they always use the xmm registers for Rust code (essentially requiring they follow the x86-64 ABI conventions), never passing through the x87 stack-registers (unless a value is given to us from outside of Rust, which is of course not something we can meaningfully control)?

[2021-12-05 20:57] bjorn3 commented on #73288
It should be possible for the rust abi. For the C abi I think the only option that doesn't break compatibility with existing C compilers would be to roundtrip between x87 and xmm registers to remove the excess precision.

[2021-12-05 21:10] QuineDot opened #91567 "Raw string missing quote characters diagnostic does not mention missing quote characters"
[Given the following code](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=f9d908ad9af77758b5988c03f0890dd3):
[code]

The current output is:

[code]

However, the problem isn't that I wanted to use `br#\n" ... "\n#`, it's that I left out the `"`s completely.

I thought the confusion was perhaps because the raw string itself contained `"`, but [the same error results if ther

[2021-12-05 21:15] og-dev commented on #91558
Yes

[2021-12-05 21:16] og-dev commented on #91558
`cargo clean` fixed

[2021-12-05 21:16] #91558 closed

[2021-12-05 21:22] thomaseizinger commented on #70142
@Diggsey

If both errors need converting, `?` should do the trick no?

Assuming `r` is `Result<T, Result<T, E1>, E2>`, `Ok(r??)` will give you `Result<T, E3>` where `E3` can either be `E1`, `E2` or a completely different `Error` type that both `E1` and `E2` convert into.

If we ever get `try` blocks, you don't need a dedicated function either and one could write:

[code]

Note that with `async` bl

[2021-12-05 21:27] workingjubilee commented on #73288
I think that would be fine. If we implemented that strategy, that would resolve this bug for Rust for the i686 target, and any other unusual behavior would be functionally Not A Bug: if you want to be sure you are actually moving 64 bits across an FFI barrier, then you can pass it as a u64 and remake it as a float on the other side, otherwise we should follow whatever idiosyncratic behavior a give

[2021-12-05 21:36] erikdesjardins commented on #91438
This check is generated by the following code: https://github.com/rust-lang/rust/blob/772d51f887fa407216860bf8ecf3f1a32fb795b4/compiler/rustc_codegen_ssa/src/glue.rs#L78-L93 and is used to determine the runtime alignment of the `my` field, which is `max(<align of Wrapper>, <align of DST field from vtable>)`.

In the general case, this check is required, because the alignment of `Wrapper` may be >1

[2021-12-05 22:02] Diggsey commented on #70142
That's only usable if you want to immediately return the error. If you just want to get back a `Result<T, E3> where E3: From<E1> + From<E2>` then you can't use that.

[2021-12-05 22:10] thomaseizinger commented on #70142
On stable Rust, you can emulate `try` blocks with closures so you can get back a `Result` right away without extracting another function or returning immediately from your current function.

[2021-12-05 22:22] martinrlilja opened #91572 "internal compiler error: encountered incremental compilation error with evaluate_obligation(1cec0724321627f4-89c75a6914c2ffb3)"
### Code

Not sure it matters but I encountered this when I reordered the arguments of a `tracing::info!` call.

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-05 23:06] pitaj commented on #91309
@camelid what do you mean when you say that the proposed thumbs-down icon is intense? I generally think of colorful things as more intense.

[2021-12-05 23:11] pitaj commented on #91309
My current plan (which I intend to execute on today) is this:

`brush.svg` -> `solid/paint-brush.svg` <img src="https://raw.githubusercontent.com/rust-lang/docs.rs/cf3d949686c422da9a8bc1f5dd3f608a89faff74/crates/font-awesome-as-a-crate/fontawesome-free-5.14.0-web/svgs/solid/paint-brush.svg" height="20">

`wheel.svg` -> `solid/cog.svg` <img src="https://raw.githubusercontent.com/rust-lang/docs.rs/c

[2021-12-05 23:15] workingjubilee commented on #34023
As of Windows 10 patch 1607 (which happened later in 2016, actually), users can now remove the path length limitations, and patches before that are only supported for Enterprise LTSC.

[2021-12-05 23:38] camsteffen commented on #22451
Fixed by #66983

[2021-12-05 23:55] saethlin opened #91574 "Miri detects a violation of stacked borrows when joining &str with -Zmiri-tag-raw-pointers"
Originally found by @5225225, I'm just the one with energy at the moment to write this up.

I tried this code:

[code]
`MIRIFLAGS="-Zmiri-tag-raw-pointers" cargo miri run`

I expected to see this happen: Miri does not detect UB

Instead, this happened: Miri detects UB (experimentally)

[code]

### Meta
`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</d

[2021-12-06 00:14] ecstatic-morse opened #91576 "Which MIR passes should run on generator drop shims?"
Under normal circumstances, MIR shims have the following 5 passes applied:
- [`AddMovesForPackedDrops`](https://github.com/rust-lang/rust/blob/e2116acae59654bfab2a9729a024f3e2fd6d4b02/compiler/rustc_mir_transform/src/add_moves_for_packed_drops.rs#L8-L39)
- [`RemoveNoopLandingPads`](https://github.com/rust-lang/rust/blob/e2116acae59654bfab2a9729a024f3e2fd6d4b02/compiler/rustc_mir_transform/src/remo

[2021-12-06 01:55] AsafFisher opened #91578 "`-C link-arg=-nostartfiles` does not work on musl target"
I tried this code:

[code]
[code]

I expected to see this happen:
A static+pie binary with no main.

Instead, this happened:
[code]

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Backtrace</summary>
<p>

[code]

</p>
</details>

[2021-12-06 03:07] programmerjake commented on #73288
apparently the x87 stack can be avoided by using the `fastcc` calling convention or by marking the floating-point return value as `inreg`:
https://github.com/llvm/llvm-project/blob/e3c2694da98d9e6585b47cebfedce8473f679fff/llvm/lib/Target/X86/X86CallingConv.td#L267-L273

[2021-12-06 03:08] petrochenkov commented on #44524
In think it's time to officially unaccept this and remove the extra complexity from the compiler.

[2021-12-06 03:19] scottmcm commented on #91564
Given that there's also a rustc lint about unnecessary parens, having things in rustc sounds reasonable to me.

(With the caveat that [braces have semantics](https://bluss.github.io/rust/fun/2015/10/11/stuff-the-identity-function-does/#rust-has-dedicated-syntax-for-this), so there are many cases where it probably shouldn't warn.  But empty blocks in general seem reasonable to warn about.)

[2021-12-06 03:38] jhpratt commented on #44524
Given this was RFC-accepted, there should be another FCP to formally unaccept it in my opinion. Where doesn't much matter, I don't think.

[2021-12-06 03:51] #91334 closed

[2021-12-06 04:33] scottmcm commented on #44524
Hmm, it looks like it's used in a few dozen compiler crates, so those would have to be changed before the feature could be removed.  Personally I've never been enthusiastic about in-band, but I'd like to hear @nikomatsakis's current opinion.

But that also means we can use them as a case study for how much in-band is helping.  I arbitrarily started (#91580) with `rustc_data_structures`, and with t

[2021-12-06 04:40] kamleshbhalui opened #91581 "Can't disable this trusted_step"
built command was $x.py install -j8
and one worst thing about above command i see that, it always deletes all the previously built libs and tools for all stages ,and rebuild it from stage0.
is there any way to resume the build where it failed last time, rather than cleaning up everything and doing fresh build every time?
And also how can we disable below error, in lib.rs trusted_step is enabled bu

[2021-12-06 04:57] scottmcm commented on #44752
Wow, it's been three years...

I still think this is important.  I started looking at how `in_band_lifetimes` in `rustc_mir_transform`, and I immediately found a bunch of examples of unnecessary `'a`s.  Here's just in `coverage/spans.rs`, since it was at the bottom of the error list:

[code]

[2021-12-06 05:22] mbartlett21 opened #91582 "Tracking Issue for `const_option_cloned`"
Feature gate: `#![feature(const_option_cloned)]`

This is a tracking issue for constifying the `Option::cloned` functions.

*This is only constifying existing apis, not adding new ones*

### Public API

[code]

### Steps / History

- [x] Implementation: #90741
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-12-06 08:12] kit-981 commented on #33674
This seems easily reproducible on Linux with nightly. Was this ever fixed before closing?

[code]

@Mark-Simulacrum Could this be re-opened please?

[2021-12-06 08:29] kit-981 commented on #33674
I can't reproduce this.

[code]

I did initially think that I could reproduce this given that the first breakpoint does not have any source-level debugging information but the program entry point is not defined in the crate's source code and *our* `main` is only called later.

Is there any chance that you made this mistake too @NickHu?

[2021-12-06 09:08] scottmcm opened #91583 "Tracking Issue for additional `array::IntoIter` constructors (feature `array_into_iter_constructors`)"
Feature gate: `#![feature(array_into_iter_constructors)]`

This is a tracking issue for the `from_raw_parts` and `empty` constructors on `core::array::IntoIter`.

This allows creating such an iterator with something other than a fully-initialized array.

### Public API

[code]

### Steps / History

- [ ] Implementation: https://github.com/rust-lang/rust/pull/91341
- [ ] Final comment period (FCP)

[2021-12-06 09:37] silence-coding commented on #84118
Is there a follow-up plan for this issue?

[2021-12-06 10:03] ouz-a commented on #86868
If mentorship is still available I would like to work on this

[2021-12-06 10:23] Alumin112 opened #91585 "ICE: panicked at 'called `Option::unwrap()` on a `None` value', compiler/rustc_hir/src/definitions.rs:452:14"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[code]

[2021-12-06 10:49] hkBst commented on #83265
Proof that I am not alone in this: https://users.rust-lang.org/t/a-friendly-challenge-for-rust/23197/12

[2021-12-06 10:56] kellerkindt opened #91586 "Proposal: Implement `core::ops::*<T>` on `Saturating<T>` / `Wrapping<T>` type"
Relevant RFC "928" (rust-lang/rfcs#928).
 - #87920
 - #32463

### Public API
The [`Wrapping`](https://doc.rust-lang.org/core/num/struct.Wrapping.html) and [`Saturating`](https://doc.rust-lang.org/core/num/struct.Saturating.html) types enforce that a certain behaviour for all operations on the underlying integer is performed - `.wrapping_*` or `.saturating_*`. When doing the "simplified" operations

[2021-12-06 11:02] Fuuzetsu commented on #90301
We tried using 1.57.0 and it seems broken still. I'll try to get a repro tomorrow. Should I open a new ticket or will someone reopen this one?

[2021-12-06 11:07] yoshuawuyts commented on #67644
@WaffleLapkin I don't think we should; "future" is a pretty short name already. The "iterator" submodule is named `core::iter` and the "future" submodule is named `core::future`. Even if we shorten "future" to "fut" for this API, we wouldn't be able to consistently match how it's used for iterator. I feel that inconsistency might throw people off, and it'd be better if we keep using "future" every

[2021-12-06 11:08] leonardo-m opened #91588 "[ER] Unused lifetime warning"
In code like this rustc could warn that the 'b lifetime is not needed:

[code]

(Currently rustc also doesn't spot that the 'keep' function argument doesn't need to be &mut).

[2021-12-06 11:20] dtolnay commented on #67644
:-1: I'd veto stabilizing `IntoFuture` in the same release as the desugaring change. I don't know of any technical reason that the desugaring and trait benefit from being stabilized in the same release. I know the trait is old, but it hasn't been used in `.await` so far. Let's give users a chance to write code against this on nightly and uncover any resulting API awkwardness. The desugaring change

[2021-12-06 11:40] Veetaha commented on #91345
I propose to discuss adding `Option::inspect_some`, `Option::inspect_none`, `Result::inspect_ok`, `Result::inspect_err` methods as described in https://github.com/rust-lang/rfcs/issues/3190#issuecomment-986236562 before stabilizing

[2021-12-06 11:41] ThrashAbaddon commented on #34261
Is there an RFC for this?

[2021-12-06 12:21] pro465 commented on #91588
i think 'b *is* needed.

consider the following case:
[code]

if you simply make `keep` use the same lifetime as `data` and the return type,  i.e. `'a`, then i think this will not compile.

however, i agree with you on the unnecessary &mut thing

[2021-12-06 12:35] kornelski commented on #83265
Another case: https://users.rust-lang.org/t/module-to-encapsulate-a-communication/68382/3

[2021-12-06 13:01] georgik commented on #81790
This problem occurs on GitHub self-hosted runner with M1. The architecture is switched to x86_64 since parent GitHub runner process is running in x86_64.

Fix: put `arch -arm64` before your x.py CI commands

It quite annoying issue, because it's not obvious that build is running on different architecture as expected. At least message failure should be more explicit.

Here is sample error log: http

[2021-12-06 13:53] pro465 commented on #91588
oh well, then i certainly agree with you

[2021-12-06 13:59] aceArt-GmbH opened #91592 "SDL2 viewport wrong with lto on release builds"
I tried this code:

https://github.com/aceArt-GmbH/sdl2-bug

with `cargo run` and `cargo run --release`

I expected to see this happen: assert should pass like it does on builds without lto (or dev builds)

Instead, this happened: after `set_viewport` the value changes in release build with lto. Disabling lto or removing the `set_viewport` call "fixes" the problem.

Adding a `dbg!(&before);` to li

[2021-12-06 14:51] fee1-dead commented on #91592
See https://github.com/Rust-SDL2/rust-sdl2/issues/1168#issuecomment-986846324 which outlines the use-after-drop bug in sdl2.

[2021-12-06 14:51] #91592 closed

[2021-12-06 15:01] dnavre opened #91594 "ICE on stable and nightly: compiler/rustc_trait_selection/src/traits/select/mod.rs:2013:17"
### Code
I'm a complete Rust newbie and most of the time I have no idea of what I'm doing. So my source code is probably completely weird and f*cked up by the standards of a seasoned Rust developer. Still, I don't think my compiler should be panicking :) Also please note that the source code is definitely not even supposed to compile, it *DOES* have a number of syntax errors, however, I would expe

[2021-12-06 15:02] fee1-dead commented on #91585
Hello @Alumin112, could you please edit the issue description to include the source code that caused this error? Thanks.

[2021-12-06 15:38] matthiasbeyer opened #91595 "Compiler Option::unwrap() error"
I cannot minify this code, so here goes the full code that causes the issue:

### Code

https://git.sr.ht/~matthiasbeyer/distrox/commit/61508472c25393170279ceabb2199e795b018ef1

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-06 15:41] jyn514 commented on #91581
@kamleshbhalui RLS isn't guaranteed to build on all commits. The compiler and other tools should be working fine. I'm not sure why x.py install would rebuild, I haven't tried it.

[2021-12-06 16:08] fee1-dead commented on #91594
Minimized: ([play](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=33675e31f788a7460ae8a2fe37ca3295))

[code]

Note: I used [perses](https://github.com/perses-project/perses) for reducing most of the unneeded code, and [cargo-expand](https://github.com/dtolnay/cargo-expand) to put everything in one big file.

[2021-12-06 16:21] ehuss commented on #91581
Yea, you'll need to remove RLS from the tools when it is not in a working state (tools are noted in https://rust-lang-nursery.github.io/rust-toolstate/ when they are broken).

I'm guessing you are on the master branch? It is pretty unusual to use `x.py install` on master, so it is not designed to continue when a non-functioning tool is encountered.  `x.py install` is usually used with source distr

[2021-12-06 16:40] eholk commented on #87021
@rustbot label +AsyncAwait-Triaged

[2021-12-06 16:45] terrarier2111 commented on #91461
@rustbot claim

[2021-12-06 17:23] eholk commented on #91463
We [discussed this issue](https://rust-lang.zulipchat.com/#narrow/stream/187312-wg-async-foundations/topic/Triage.20meeting.202021-12-06/near/263878148) in the async triage meeting meeting today. It seems like this has something to do with the `.await` desugaring, and probably something to do with `generator_interior.rs`. @estebank has a PR out that will add some more metadata that might be helpfu

[2021-12-06 17:28] piegamesde commented on #89537
For those interested, I think I found the root issue: the target CPU sometimes did not provide the required division instructions (only multiplication) because of a configuration mistake. Formatting numbers as string usually requires division, but depending on the compilation options these instructions might be optimized away or lowered to a sequence of multiplication instructions, in which case t

[2021-12-06 17:36] hellow554 commented on #91585
Looks like a dup of #90715

[2021-12-06 17:49] vadixidav commented on #80346
I am running into this issue as well. I am using `FROM --platform=linux/amd64` to explicitly pull in an `amd64` container while on an `aarch64` apple machine. GCC seems to work fine, but Rust seems to hit various memory errors during the compilation process and ultimately fails or stalls indefinitely. This is true for any crate I try to install with `cargo install`. This may be an issue with QEMU

[2021-12-06 18:26] matthiasbeyer commented on #91595
Yes, seems like it. There are more duplicates even, but so far only 2 out of 4 have example code! Feel free to close though!

[2021-12-06 18:31] catap commented on #50776
FYI: with some work for last week I've successfully build `1.57.0` on 10.7+ via MacPorts: https://ports.macports.org/port/rust/details/

[2021-12-06 18:37] teozkr opened #91598 "Compile-time regression between 1.56.1 and 1.57.0 for deeply nested decorator types"
1.57.0 seems to have brought a pretty deep regression in compile times for deeply nested "decorator" types, such as futures' `Stream` combinators.

This is a minimized version of https://github.com/kube-rs/kube-rs/issues/746.

### Code

I tried this code:

[code]

In Rust 1.56.1, this builds in ~0.7s on my machine (excluding time spent compiling `futures` and its dependencies).

In Rust 1.57.0 (an

[2021-12-06 18:39] teozkr commented on #91598
`RUSTC_BOOTSTRAP=1 cargo rustc -- -Z new-llvm-pass-manager=no` does not seem to make a difference, so this seems unrelated to #91128.

[2021-12-06 18:47] SNCPlay42 commented on #91598
Sounds like #89195/#89601.

[2021-12-06 18:54] tmatth commented on #79609
Bumping as this is still reproducible with the latest stable:
[code]

[2021-12-06 19:02] catap commented on #50776
@pnkfelix is it possible to build (somehow) `rustc` with statically linked  rust's libstd and librustc_driver`?

[2021-12-06 19:06] ehuss commented on #91600
Transferred this to rust-lang/rust, as this message is generated by rustc.

@TotalKrill, starting in 1.53, the output includes a note on how to install the target:

[code]

However, that suggestion will install it for the default toolchain. To solve that in case you have an override, the suggestion can be improved to look for the `RUSTUP_TOOLCHAIN` environment variable. If it is set, then it can s

[2021-12-06 19:21] Amanieu commented on #79609
I don't think this issue can be fixed. The only solutions are:
- Use a toolchain that uses dw2 unwinding instead of sjlj.
- Use `-Z build-std` so the standard library is built without unwinding support.
- Define your own `_Unwind_Resume` symbol to satisfy the linker (it's never going to be called with `-C panic=abort` so the implementation doesn't matter).

[2021-12-06 19:25] aliemjay opened #91601 "impls with TAIT reject valid unconstraining lifetimes"
I tried this code:

[code]

([Playground](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=7cbc9987b7223cc57a811dcd831bd339))

I expected this to compile fine since it is accepted without TAIT.

Instead, code was rejected because lifetime `'a` is non-constraining.

### Meta

`rustc --version --verbose`:
[code]

<details><summary>Error</summary>
<p>

[code]

</p>
</details>

[2021-12-06 19:31] Aaron1011 commented on #71249
This has now been stabilized in both rustc and cargo!

[2021-12-06 19:33] aliemjay commented on #91601
@rustbot label F-type_alias_impl_trait T-compiler

[2021-12-06 20:01] the8472 commented on #91598
It builds in 11 seconds with #91186 (tested with build 1937cf62d0cb08000a49346c146830a7de817de3)

[2021-12-06 20:07] dnavre commented on #91594
@fee1-dead Thanks for doing that, I'll edit my original post to link to your reply to see a code example.

P.S.
I did open the code reduction tools you linked, but I still am not sure how you got to this minimized state, great job :D

[2021-12-06 20:17] hellow554 commented on #91595
Sadly I cannot reproduce your ICE... it compiles fine on my system :/

[2021-12-06 20:17] lqd commented on #91463
I don't think the example linked above is something that users will actually experience: rustc and cargo deduplicate error messages, but the test suite runs with this deduplication turned off.

[Here's how this `unresolved_type_param` test looks on nightly](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2021&gist=a8dff17152b842ce75b495968a64b443), for example.

We should probably f

[2021-12-06 20:20] frakman1 commented on #50776
I was able to get brew to install rust version 1.56.1 on my High Sierra MacOS using the link from bvahdat.
You basically just have to have the latest version of `Formula/rust.rb`.

[code]

[2021-12-06 20:20] gentoid opened #91603 "Compiler panicked at 'assertion failed: !value.has_escaping_bound_vars()'"
### Code
I was experimenting with Bevy, and suddenly found `rust-analyzer` has stopped me to show errors. It turned out that `rustc` paniced on this function:

[code]
I added a commit with exact state of my project (it's pretty small ATM) where the compiler pianics https://github.com/gentoid/planetary-simulator-rs/commit/720373da0f5bf2b63f21d607b440f0c5a0f38d3e

### Meta

`rustc --version --verbos

[2021-12-06 20:46] mejrs opened #91605 "`rustdoc-scrape-examples` creates dead links and suppresses `--no-deps`"
I tried rendering docs for a crate with:

[code]

That puts this in the sidebar:

![image](https://user-images.githubusercontent.com/59372212/144918615-7e8d4703-50ab-4bd2-8c13-71f711390e31.png)

In this case, `cfg_if` and `indoc` are dependencies (which I don't want to document). And `decorator` is the name of one of the examples, this is a dead link.

### Meta
[code]

[2021-12-06 20:52] piegamesde commented on #88930
Another example of a performance issue created by putting too much on the stack: [Godbolt link](https://godbolt.org/#z:OYLghAFBqd5QCxAYwPYBMCmBRdBLAF1QCcAaPECAMzwBtMA7AQwFtMQByARg9KtQYEAysib0QXACx8BBAKoBnTAAUAHpwAMvAFYTStJg1DEArgoKkl9ZATwDKjdAGFUtEywYSAbKUcAZPAZMADl3ACNMYgkAVg1SAAdUBUI7Bhc3D28EpJSBAKDQlgiorljLTGtbASECJmICdPdPLh8rTBtUmrqCfJDwyJi4827GzJbLWvrewuLBgEpLVBNiZHYOAFIAJgBmMDB16IAhKkwmAmXMC

[2021-12-06 21:17] nnethercote commented on #51054
I tried `seahash` and got instruction count increases of up to 29%, even though its docs claim it is more than 10x faster than SipHash :(

It may at least partly be explained by the fact that I managed to speed up SipHasher128 (the one used in incremental compilation) quite a lot last year in #68914. In fact, based on that, this issue doesn't need to be open any more.

[2021-12-06 21:17] #51054 closed

[2021-12-06 21:48] fangism commented on #91168
Conclusion: The fault for this lies in the proc macro definition, not the tool itself.

That said, it would be nice if there were some way to detect this, be it statically or otherwise, in the interest of deterministic (and security-auditable) builds.

[2021-12-06 21:48] #91168 closed

[2021-12-06 22:07] FabianWolff commented on #91560
The same problem occurs when there is additional whitespace:
[code]
[code]
@rustbot claim

[2021-12-06 22:42] workingjubilee commented on #86941
This likely requires adjusting the canonicalizing logic in `to_llvm_feature` to allow both "one to many" and "many to one" relationships:
https://github.com/rust-lang/rust/blob/26a2564666cfdd1c18c98b8312ca1bc47c995073/compiler/rustc_codegen_llvm/src/llvm_util.rs#L155

Which may require adjusting its callsites (mostly within the same file):
https://github.com/rust-lang/rust/blob/26a2564666cfdd1c18c

[2021-12-06 23:16] aDotInTheVoid opened #91609 "Consider mangling ID's in rustdoc-json"
Currently JSON `ID`'s are (approximatly) the underling DefId's which means they are not realy opaque, despite what we've said in the RFC.

The problem with this is that their is no obligation to treet the ID's as opaque (for a concreet example see https://github.com/scrabsha/scrabsha.github.io/pull/2). If we want to garentee our ability to change the ID format, we should make it so that no one rel

[2021-12-06 23:30] teozkr commented on #91598
Can confirm that #91186 brings my build time down to ~9s. So it's a vast improvement over 1.57.0, but still 13x the compile time of 1.56.1.

[2021-12-06 23:31] jyn514 commented on #91605
cc @willcrichton - running on dependencies seems like a cargo bug, but showing them in the sidebar seems like it's an issue in rustdoc.

[2021-12-06 23:34] nikomatsakis opened #91611 "Tracking Issue for async_fn_in_trait, return_position_impl_trait_in_trait"
* This is a tracking issue for the RFC "static async fn in traits" (rust-lang/rfcs#3185) and "Return position `impl Trait` in traits" (rust-lang/rfcs#3425).
* The feature gate for async fn in traits is `#![feature(async_fn_in_trait)]`.
* The feature gate for return position `impl Trait` in traits is `#![feature(return_position_impl_trait_in_trait)]`.
* This feature is developed as part of the [asy

[2021-12-06 23:34] Lokathor opened #91612 "cargo: when running an example with a required feature, the feature should automatically be enabled"
If an example has a required feature
[code]

Then when you try to run the example with the usual command:
[code]

cargo errors out with the following:
[code]

Instead, cargo should just run the demo with the required features enabled. Possibly an output note could be given that the feature was activated automatically, but either way it should "just work".

[2021-12-06 23:37] saethlin commented on #83135
Just checking in, still seeing this on
[code]
With
[code]

[2021-12-06 23:46] willcrichton commented on #91605
Thanks for the report @mejrs! I will take a look this week.

[2021-12-06 23:48] WaffleLapkin commented on #83701
@nbdd0121 What is the path towards stabilization of this feature? Is it old enough yet? 👀

[2021-12-07 00:21] FabianWolff commented on #91520
[code]
leads to a nonsensical suggestion on stable:
[code]
Seems to be fixed on nightly though.

[2021-12-07 00:29] FabianWolff commented on #91436
Seems to be a duplicate of #84664.

[2021-12-07 00:34] scottmcm opened #91613 "Tracking Issue for `core::array::(try_)repeat(_with)` (feature `array_repeat`)"
Feature gate: `#![feature(array_repeat)]`

This is a tracking issue for creating a fixed-size array by repeatedly `Cloning` an item, or by repeatedly calling a possibly-fallible nullary `FnMut`.

### Public API

[code]

### Steps / History

- [ ] Implementation: #91506
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- `repeat_with` and `try_repeat_with` are very

[2021-12-07 00:44] workingjubilee opened #91614 "`Mask::<_,_>::splat(false)` breaks `#![feature(generic_arg_infer)]`"
We added a new feature to the Portable SIMD API!
[code]
Yes, that's right: we can now break the compiler 4 times faster!

### Code

[code]

### Meta

I first discovered this on rustc 1.58.0-nightly (b416e3892 2021-11-13) but it remains an issue currently:
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</detail

[2021-12-07 00:49] saethlin commented on #91306
FWIW, I have now detected this bug through the tests in `hashbrown` and `rand`.

[2021-12-07 01:11] scottmcm opened #91615 "Tracking Issue for `[T; N]::resize(_with)` (feature `array_resize`)"
Feature gate: `#![feature(array_resize)]`

This is a tracking issue for the `resize` and `resize_with` methods on arrays.

Like `Vec::resize(_with)`, these extend for a larger size or truncate for a shorter one.  Unlike `Vec`, these return a new array (because obviously one can't change the size of a fixed-size array in-place).

### Public API

[code]

### Steps / History

- [ ] Implementation: #9

[2021-12-07 01:27] BartMassey commented on #78497
Yes, it's a mystery how to fix this one without massive rewriting. I rewrote `library/std/src/sys/unix/stack_overflow.rs` to return `io::Result` instead of panicking, but then it's hard to see how to get `stack_overflow::Handler::new()` to be invoked in parent context where that error is useful: it may require breaking things up into pieces so that the `mmap()`s can be done outside the child threa

[2021-12-07 01:49] kaisq commented on #82523
I know there was some discussion of C FFI that was dismissed earlier, but I'm running into an issue with this that I don't believe it's possible to work around.

Basically, I've got a platform-specific library ([mach](https://crates.io/crates/mach) which is a wrapper around the `mach` libraries within macOS), and the behavior of this crate fundamentally depends on unaligned accesses to structs. Ba

[2021-12-07 01:57] ehuss commented on #91612
I believe this is a duplicate of https://github.com/rust-lang/cargo/issues/4663, so closing in favor of that.

[2021-12-07 01:57] #91612 closed

[2021-12-07 01:58] Fuuzetsu commented on #90301
Actually, seems it comes from a derive crate in our dependency tree, similar to what we saw in https://github.com/rust-lang/rust/issues/89904 ; So maybe it's fine.

[2021-12-07 02:29] eholk commented on #91463
Ah, I didn't realize there was a further deduplication step. It'd be nice to not generate duplicate errors in the first place, but the fact that they get filtered out normally means we can consider this issue to be pretty low priority. If we find a case where they aren't exactly the same but should still be deduplicated, then that would be worth capturing here too.

[2021-12-07 02:32] shampoofactory commented on #85265
Ok. Despite not knowing much about rust internals, I spent the weekend bisecting and trying to figure things out.

The offending commits are listed below. My initial impression is that 62fe055aba3ddac5e5d113920cf5fd80522104e2 is primarily at fault. The commit #76986: 'Return values up to 128 bits in registers' closes issue #26494: 'Rust should use registers more aggressively'. After this our [f32;

[2021-12-07 02:38] tmandry commented on #91576
I'm not sure why those passes aren't run, and I haven't done much on the code with drop shims. @Zoxc might know. @jonas-schievink also made some recent-ish changes in that code.

[2021-12-07 02:48] RalfJung commented on #82523
Why do you need a reference? Why is a raw pointer not enough? If [this is the function being called](https://docs.rs/mach/0.2.3/mach/message/fn.mach_msg.html), then you just need a raw pointer, not a reference:

[code]

Packed structs exist not just on macOS, and packed structs don't *rely* on unaligned *references*. So neither is this specific to macOS, nor is UB unavoidable here.

[2021-12-07 02:52] #85295 closed

[2021-12-07 02:56] shampoofactory commented on #26494
Hi all. I've traced back the cause of 'P-high' issue #85265 to two merges that relate to this issue, namely #76986 and #79547.

Basically, these commits break auto-vectorization post Rust version 1.48 in a way that is not easily worked around.

In short, if we take:

[code]

1.47 yields an efficient:

https://rust.godbolt.org/z/v89zoajse
[code]

1.48 yields an awkward:

https://rust.godbolt.org/z/

[2021-12-07 04:07] luketpeterson opened #91618 "rustc panic (debug mode only)"
`cargo test` in the attached project results in a panic in rustc.
`cargo test --release` works without any problem

Deleting Cargo.lock and the entire target directory did not fix the issue.

Cargo project is here:
[cluster_set.strip_down_to_repro_compiler_panic.zip](https://github.com/rust-lang/rust/files/7665395/cluster_set.strip_down_to_repro_compiler_panic.zip)

Unfortunately, it was a bit of

[2021-12-07 04:43] kaisq commented on #82523
Got it -- the way I read the compiler warning, I thought it applied to both references _and_ raw pointers, but I now understand your clarification in the initial post in the thread here. I'll give the raw pointer a try and see whether that works in this case.

[2021-12-07 07:23] HK416-is-all-you-need opened #91623 "rustdoc hits windows path limit (260 characters)"
subj.
Error looks like:
[code]
Where `path` is string over 260 characters

To fix it rustdoc would need to prefix all paths with `\\?\` on windows
Not sure if this issue has been risen before or not, is it acceptable to fix it?
[code]

[2021-12-07 07:25] #91542 closed

[2021-12-07 09:12] Urgau commented on #85265
@shampoofactory Happy to find out that we can to the same conclusion. I have already experiment this weekend with the code on the Rust-CI https://github.com/rust-lang/rust/pull/91507 and results are [not good](https://github.com/rust-lang/rust/pull/91507#issuecomment-985975309) for [compile time](https://github.com/rust-lang/rust/pull/91507#issuecomment-986092241).

I also find out that:

PS: the

[2021-12-07 09:31] sijupunnnoose opened #91624 "Static Library with LTO option not working properly"
Greatings!!

We are facing a strange issue while building rust static library with "-Clinker-plugin-lto". On linking the generated library to C base results in linker error as below.

Fatal error: L6120U: Member mylibv7a.mylibv7a.e0989cce-cgu.0.rcgu.o in library libmylibv7a.so cannot be loaded. It is an LLVM bitcode file but the linker only accepts bitcode wrapped in an ELF object file.

When we c

[2021-12-07 09:54] xmo-odoo commented on #91598
I may have also hit that in a project of mine (currently only on my machine), initially was thinking "oh it's probably serde" as there are a ton of large serde-enabled types in the project, but this is also a project based on [warp](https://github.com/seanmonstar/warp) and that is very much a "deeply nested decorator types" framework.

Here are the compile time (from clean, but in 1.57 the vast, v

[2021-12-07 10:58] sijupunnnoose commented on #91624
I have checked with nightly build, looks the issue has worsen. Earlier only the first object file in lib had ELF header missing, now all of them has no ELF header.

[2021-12-07 10:58] zackradisic opened #91628 "Compiling to WASM with emscripten, parse exception: attempted pop from empty stack / beyond block start boundary"
**TLDR**: Auto-dereferencing seems to break compiling to WASM with emscripten when threads are enabled?

When compiling to WASM with threads enabled with emscripten I get the following error:
[code]

<details>
  <summary>Full error from rustc</summary>

[code]

</details>

I narrowed down the code causing this and it seems related to auto-dereferencing. This is the section of code, and you can see

[2021-12-07 12:31] phiresky commented on #67159
Here's the workaround to not show a console on start, but still output the normal output when started from powershell or cmd:
[code]

from here: https://www.reddit.com/r/learnrust/comments/jaqfcx/windows_print_to_hidden_console_window/

[2021-12-07 12:34] apiraino commented on #91598
I've put together a small reproducible project for the Warp web framework case (which seems to be specifically hit by this regression as @xmo-odoo correctly mentions). It's not exactly the MCVE I wish I could provide, hopefully it's a good start.
https://github.com/apiraino/test-regression-157

Time spent compiling is comparable in both 1.56.1 and 1.57.0. Linking is where the regression is apparen

[2021-12-07 12:41] ChrisDenton commented on #67159
That'll work but be aware that the console will not be waiting for output. This means the prompt may switch back to interactive mode while the program is still running.

[2021-12-07 13:11] xmo-odoo commented on #91598
FWIW I tested #91186  locally (thanks @teozkr for their help there) and it seems to more or less fix the regression for me:
[code]
there's a marginal slowdown (it's a bit slower than 1.55 while using a larger %cpu, and a good 50s more USER CPU time) but it mostly resolves the issue.

[2021-12-07 13:14] oxalica commented on #90682
Also encountered this with 1.57.0 stable in my private project.
Do a `cargo clean` and rerun `cargo clippy` will fix it. Maybe it's related some changes, not some static code.

[2021-12-07 13:42] phiresky commented on #67159
After testing, i can not recommend the above workaround. Like you said it doesn't make the console wait for the output, leading to weird output intermingling and undesired behaviour when the console is closed (program might get killed with broken pipe or it might not)

[2021-12-07 14:23] #87302 closed

[2021-12-07 14:23] #91267 closed

[2021-12-07 14:34] teozkr commented on #91598
I realized that I was only using the stage1 compiler, but stage2 ended up having roughly the same performance.

[2021-12-07 15:09] Swatinem commented on #91092
I see you are using the `%m` placeholder for the profile file, which talks about locking and merging these files at runtime. Maybe adding the `%p` PID placeholder as well might avoid conflicts here. Can you give that a try?

[2021-12-07 15:16] VivekYadav7272 commented on #58487
Is this issues still active?

[2021-12-07 15:23] bjorn3 commented on #91618
Relevant excerpt:

[code]

[2021-12-07 15:26] bjorn3 commented on #91618
This seems to be related to incremental compilation.

Yeah, incremental compilation issues often depend on both the source and the incremental cache state. This can make it hard to create an minimal reproducer It is quite possible the panic message and location is enough to find the issue and fix it.

[2021-12-07 15:30] RalfJung commented on #82523
We're always happy for feedback on how to improve the compiler warning. Which part of the warning confused you?
[code]

Note that *doing a load or store* via an unaligned raw pointer *is* UB (unless you are using `ptr.read_unaligned/write_unaligned` which exist for this specific purpose).

[2021-12-07 15:33] bjorn3 commented on #91624
How exactly are you invoking the linker? Do you use `clang -flto=thin -fuse-ld=lld` for this? Are you using a clang version matching the LLVM version used by rustc?

It isn't corrupted. Readelf is made for elf files, not llvm bitcode files.

For reference https://doc.rust-lang.org/rustc/linker-plugin-lto.html has instructions on how to use linker plugin LTO.

[2021-12-07 15:33] #83006 closed

[2021-12-07 15:47] bjorn3 opened #91632 "Tracking issue for future-incompatibility lint `deprecated_cfg_attr_crate_type_name`"
### What is this lint about

The `deprecated_cfg_attr_crate_type_name` lint detects uses of the `#![cfg_attr(..., crate_type = "...")]` and `#![cfg_attr(..., crate_name = "...")]` attributes to conditionally specify the crate type and name in the source code. For example:

[code]

### Explanation

The `#![crate_type]` and `#![crate_name]` attributes require a hack in the compiler to be able to cha

[2021-12-07 16:01] marmeladema opened #91633 "ICE for broken MIR in 1.57.0, beta and nightly"
### Code

[code]

https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=8289d2eaf690a945df598352845ea173

### Meta

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-07 16:04] marmeladema commented on #91633
Minimized a bit more:
[code]

[2021-12-07 16:09] ChrisDenton commented on #31789
I tried implementing this in the PR linked above. However, I think there are simply too many edge cases that make this far more complex than I'm comfortable with when just using `path.display()`.

One potential way forward for the standard library would be to have some kind of display configuration for paths. E.g. it could configure things like how to handle unprintable characters or whether to co

[2021-12-07 16:17] scole66 commented on #91092
Gave it a try; still exhibits the same behavior.

[2021-12-07 16:24] scole66 commented on #91092
`%m` is definitely an indication to "please merge"; and `%p` doesn't do that, but `%p` is really about processes, not threads. I suspect whatever is doing the merging of thread data is what's got the issue here. (Though I get the same effect when I tell the test runner to just use one thread, as well.)

[2021-12-07 16:25] pauschar opened #91635 "`cargo build/rustc` fails to create binary for example from embedded Rust book"
Hi,
The "embedded Rust" book suggests a starter example, see https://docs.rust-embedded.org/book/start/hardware.html
I'm running Windows10, installed Rust itself like this
[code]
and the add-ons as required by the mentioned book (https://docs.rust-embedded.org/book/intro/install.html) like this

[code]

As per the book, running `cargo generate --git https://github.com/rust-embedded/cortex-m-quicks

[2021-12-07 16:26] tmiasko commented on #91576
The `AddMovesForPackedDrops` and `AbortUnwindingCalls` should at some point run on drop shim MIR. As far as I can see, precisely because the drop shim starts as a clone of original MIR the effects of those passes are already in effect.

On the other hand, the omission of `CriticalCallEdges` immediately before the code generation might be problematic.

[2021-12-07 16:34] catap commented on #88607
@adolphor  / @crazyi I'd love to point that after some work for last weeks rust is available via MacPorts for 10.7+ https://ports.macports.org/port/rust/details/

[2021-12-07 16:39] loriopatrick commented on #90594
Had the same issue, running `cargo clean && cargo build --all` resolve it.

[2021-12-07 16:50] sijupunnnoose commented on #91624
Below error is when we use Arm DS5 toolchain.
Fatal error: L6120U: Member mylibv7a.mylibv7a.e0989cce-cgu.0.rcgu.o in library libmylibv7a.so cannot be loaded. It is an LLVM bitcode file but the linker only accepts bitcode wrapped in an ELF object file.

LLVM version is 13.0 for both Rust version 1.56.0 and Arm DS5 tool chain.

Why I said the llvm bitcode file is corrupted is due to the fact that EL

[2021-12-07 17:05] the8472 commented on #44911
Doing so.

[2021-12-07 17:05] #44911 closed

[2021-12-07 17:06] yoshuawuyts commented on #78485
I [wrote a post](https://blog.yoshuawuyts.com/uninit-read-write/) ([internals thread](https://internals.rust-lang.org/t/blog-post-uninit-read-write/15739)) on what using this for `Read` might look like. It contains a brief introduction to the problem space, then discusses the solution proposed in RFC 2930, and finally shows how `Vec::spare_capacity_mut` might be used both with and without overload

[2021-12-07 17:15] MartinKavik commented on #90594
Also had the same issue, resolved by downgrading to Rust 1.56.1 and reinstalling 1.57.0. I've only changed some parts of an Actix app - nothing special, no dependency or configuration changes. Kubuntu 21.04.

[2021-12-07 17:20] hkratz commented on #91623
@rustbot label T-rustdoc O-windows

[2021-12-07 17:22] hkratz commented on #91578
@rustbot label A-linkage O-musl O-linux

[2021-12-07 17:40] ChrisDenton commented on #91623
Can you try nightly rustdoc?

[code]

[2021-12-07 17:42] kaisq commented on #82523
Now that I have the context in this ticket, I do understand that the wording is clear; the main confusion came from the fact that I'm just used to "reference" being used more generically (especially coming from other languages). Since the message didn't explicitly clarify that it didn't apply to raw pointers, I just got scared by the possible implication that _any_ unaligned access would "become a

[2021-12-07 18:05] SNCPlay42 commented on #91633
This compiles successfully without the `where Self: Index<usize>` bound.

It also compiles if you change the bound to constrain the `Output` associated type: `where Self: Index<usize, Output = T>`

[2021-12-07 19:02] Type1J commented on #67982
In Microsoft's `windows` crate, there are quite a few structs that implement a `poll()` function and the `IntoFuture` trait, but it only enabled `IntoFuture` on nightly. This is more their problem than Rust's, but if `IntoFuture` was in stable, it would most likely be fixed. Right now, I believe that they're in a "wait and see" mode.

[2021-12-07 19:03] CeleritasCelery opened #91636 "Compiler panics when comparing functions"
Edit: see example in the first comment below for a reproduction without Miri.

I have created a minimal reproduction based on some more verbose code that was causing Miri to panic. Note this code does not panic when compiled to native code with rustc (though that doesn't mean there is no undefined behavior here).

### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[

[2021-12-07 19:13] jswrenn commented on #60553
We're going to need to state *somewhere* that future versions of Rust *might* allow `as`-casting fieldless-but-non-c-like enums with explicit reprs. Rust programmers cannot count on these enums *always* being non-as-castable (and, consequently, that their reprs will remain unobservable in safe code).

If we don't make this clear, then we cannot revert #89234 in favor of #88203 in the future withou

[2021-12-07 19:14] cjgillot commented on #90682
This is a bug in incremental compilation, which makes it very difficult to debug and dependent on the changes between a rebuild and the next. And indeed, the "easy" fix is cargo clean.

[2021-12-07 19:21] CeleritasCelery commented on #60553
How would making fieldless-but-non-c-like enums `as`-castable be a breaking change?

[2021-12-07 19:37] JakobDegen commented on #90970
I thought about this a bunch, and don't really know the best solution here. Happy to let someone else try

[2021-12-07 19:48] orium commented on #91633
I bisected it to be between 9e346646e93cc243567e27bb0f4e8716d56ad1f1 and ac162c6abe34cdf965afc0389f6cefa79653c63b:

[code]

I've tried to bisect between these commits, but I'm getting a compilation error in llvm.

[2021-12-07 20:11] jswrenn commented on #60553
If a library author defines a type like:
[code]
it's reasonable for a dependents of that library to assume that `assert_eq!(AnswerTo::TheQuestion as u8, 42)` will hold across non-major versions of that library. The library author should consider changing the discriminant of that variant to be a breaking change.

However, that same library might think they don't have to worry about changing the dis

[2021-12-07 20:13] camelid commented on #91309
The proposed icon is a solid color, whereas the existing one has gradients. But I'm fine with trying the new one; we can always tweak it later.

[2021-12-07 20:13] scottmcm opened #91639 "Tracking Issue for enabling `elided_lifetimes_in_paths` lints"
This issue tracks getting the currently-allow-by-default `elided_lifetimes_in_paths` lint <https://doc.rust-lang.org/rustc/lints/listing/allowed-by-default.html#elided-lifetimes-in-paths> into a place where it can be enabled by default.

(This was formerly in the in-band lifetimes tracking issue, #44524, but is being split out because it doesn't actually depend on *in-band* specifically now that `

[2021-12-07 20:55] cjgillot commented on #91639
I agree it's high time we turned this lint by default. I'd even go as far as making it a future-compatibility lint and make it a hard error in a few releases.
However, splitting the different cases might not help much. The current lint is about elided lifetimes in types, which is purely syntactic. Changing the lint depending on lifetime resolution will probably make it very confusing. (Besides, I'

[2021-12-07 21:01] scottmcm commented on #44524
Lots of great stuff came out of this RFC.  While they were split out from this tracking issue, this lead to pervasive `'_`, expanding elision to `impl`s, and more.  Those parts were so successful, however, that they seem to have weakened the case for the rest of it.

As was discussed in the lang meeting today, I agree with @petrochenkov (https://github.com/rust-lang/rust/issues/44524#issuecomment-

[2021-12-07 21:19] wgianopoulos commented on #91050
Nice to know this is fixed, but will there be a 1.57.1 with the fix? I this fixed in 1.58.0-beta?  do we need to wait for 1.59.0?

[2021-12-07 22:13] oli-obk commented on #63997
Yea, just like with dyn Trait or generic trait bounds, there are workarounds to our checks and I'm convinced now we should just allow all of these like we do in const items. You can't call them, but you can pass them around.

[2021-12-07 22:41] cuviper commented on #91050
We considered a backport in the discussion starting with https://github.com/rust-lang/rust/pull/91070#issuecomment-979696692, but decided against it because it was a longstanding problem, not a new regression. That fix is in 1.58.0-beta though, yes.

[2021-12-07 22:44] ibraheemdev opened #91642 "Tracking Issue for `core::future::join!`"
Feature gate: `#![feature(future_join)]`

This is a tracking issue for `core::future::join!`.

[code]

### Public API

[code]

### Steps / History

- [ ] Implementation: #...
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-12-07 22:49] scottmcm commented on #91639
Yeah, I don't think we ever came to a confident opinion of where the right balance is.

Spitballing: one simple syntactic rule that's (hopefully) uncontroversial would be "all lifetimes in return types must be visible".  So it's always `-> Ref<'_, T>` or `-> Ref<'blah, T>`.

I don't think just that much is sufficient, but it could be a good starting point.

[2021-12-07 22:58] SNCPlay42 commented on #91633
It'll be #65879, which changed the coherence rules to allow `impl<T> ForeignTrait<LocalType> for ForeignType<T>`.

The impl in this code is intentionally allowed under the new rules and should be fine, so this isn't really a regression so much as a bug in something newly permitted.

I tried to replicate this issue with a local trait but [this](https://play.rust-lang.org/?version=stable&mode=debug&

[2021-12-07 23:07] mati865 commented on #78586
@rustbot release

[2021-12-07 23:08] mati865 commented on #78586
@rustbot release-assignment

[2021-12-07 23:10] SNCPlay42 commented on #91636
While trying to reduce, I got a version that causes an ICE in a regular build without Miri: ([playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=41626e8061accfd82b1d88b0c75d53ef))

[code]

[2021-12-07 23:18] danielhenrymantilla commented on #91249
The current behavior, despite annoying, seems to be the most consistent one: in Rust, all the identifiers / path segments are "rich" (to use @lexi-lambda's terminology) / `Span::resolve_at`-imbued. `pub` and other privacy questions are thus orthogonal: "rich" path segments are used to know which item one is talking about, and then privacy rules come into play to verify we are allowed to name that

[2021-12-08 00:28] orlp opened #91644 "`slice::select_nth_unstable` has O(n^2) complexity, docs claim O(n) worst case"
To reproduce, run the following program:

[code]

Running this program on the latest stable or nightly Rust we get output:

[code]

Multiplying the input size by 10 increases the number of comparisons by a factor of 100 - clearly quadratic.

Looking into the code, currently the implementation of [`select_nth_unstable`](https://doc.rust-lang.org/std/primitive.slice.html#method.select_nth_unstable)

[2021-12-08 00:36] petrochenkov commented on #91639
One example where this makes life harder.

Yesterday I wanted to add one more lifetime parameter to [`struct ExtCtxt<'_> { ... }`](https://doc.rust-lang.org/nightly/nightly-rustc/rustc_expand/base/struct.ExtCtxt.html) in the compiler (to avoid passing things by value to `extern_mod_loaded` callback).

That would require changing about 170 uses of `ExtCtxt<'_>` across the compiler to `ExtCtxt<'_, '

[2021-12-08 03:13] nicolodavis commented on #90682
Perhaps we should disable incremental compilation when compiling with a version of rustc that's at least a minor version more recent than the version that was used for the previous build?

[2021-12-08 03:37] HK416-is-all-you-need commented on #91623
@ChrisDenton Just in case I re-checked with latest available nightly there is actually slightly different issue:
[code]

I'm not sure what exactly changed but could be there are some wrong slashes inside path?
Unfortunately I cannot be sure as error output contains regular windows path like "C:\<path>"

[2021-12-08 03:41] HK416-is-all-you-need commented on #91623
@ChrisDenton Ah my bad, I used enormously large struct name to have simplified test case.
And while stable release failed with code 3, I suspect winapi doesn't like big file names hence it failed on nightly too.

I retried my original use case where generated structs names are not too large and successfully build docs on nightly, while stable returned error code 3.
As this is current latest nightl

[2021-12-08 03:41] #91623 closed

[2021-12-08 03:43] newpavlov opened #91653 "Adaptive SVG logos look terrible on dark themes"
In RustCrypto crates we use [SVG logo](https://raw.githubusercontent.com/RustCrypto/media/master/logo.svg) which changes style depending on preferred theme using `@media(prefers-color-scheme:dark) { .. }` CSS rules. You can see the [`sha2` docs](https://docs.rs/sha2/latest/sha2/) for an example which uses it.

But the problem is how the logo gets rendered on dark themes:
![ayu](https://user-images

[2021-12-08 04:23] scottmcm commented on #91639
I think that would be useful in impl headers too.  I just noticed this one:
[code]
Where being able to say `for Elaborator<'..>` seems very reasonable to me.

[2021-12-08 04:36] ibraheemdev opened #91647 "Tracking Issue for `future::lazy`"
Feature gate: `#![feature(future_lazy)]`

This is a tracking issue for `core::future::{lazy, Lazy}`, which executes a closure the first time it is polled:
[code]

### Public API

[code]

### Steps / History

- [ ] Implementation: #91648
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-12-08 04:46] rust-highfive opened #91649 "`miri` no longer builds after rust-lang/rust#91484"
Hello, this is your friendly neighborhood mergebot.
After merging PR rust-lang/rust#91484, I observed that the tool miri has failing tests.
A follow-up PR to the repository https://github.com/rust-lang/miri is needed to fix the fallout.

cc @workingjubilee, do you think you would have time to do the follow-up work?
If so, that would be great!

[2021-12-08 04:56] wh201906 commented on #84580
I have the same issue as yours. Then I use mingw-w64 with seh(x86_64-8.1.0-posix-seh-rt_v6-rev0 rather than x86_64-8.1.0-posix-sjlj-rt_v6-rev0). Everything works fine now.

[2021-12-08 05:07] workingjubilee commented on #91649
Ah, I see now. That PR removes splats (hopefully temporarily), and unfortunately, because of how natural it is, a few tests for Miri already use the splatting syntax. 🙃 Yes, I can clean this up.

[2021-12-08 05:14] workingjubilee commented on #90904
Splats are dropped on nightly, at the moment.
Relevant crater run is happening in https://github.com/rust-lang/rust/issues/91454

[2021-12-08 05:26] wh201906 opened #91651 "Failed to run "cargo run" using MinGW-W64 with SJLJ exception handling models"
Hi there.
I use gcc version 8.1.0 (x86_64-posix-sjlj-rev0, Built by MinGW-W64 project) at first.
I failed to run "cargo run" in the [instructions](https://www.rust-lang.org/learn/get-started) and got these errors.
[code]
Then I found a [page](https://daimazxw.com/153567668.html) saying that I should use SEH rather than SJLJ.
After installing the SEH version of GCC(x86_64-8.1.0-posix-seh-rt_v6-rev0

[2021-12-08 05:47] gleicon opened #91652 "rustc crashes when it tries to compile my project on a mac mini m1"
### Code
You will probably get more info checking the repo at https://github.com/gleicon/refluxdb/tree/arrow - it is a branch of a toy database I've built using gluesql and I am trying to port to datafusion. I'm no Rust expert but the error message asked for a bug report, here it is.
Hope that helps, I'm available to help or explore more if needed.

### Meta

`rustc --version --verbose`:
[code]
no

[2021-12-08 10:18] BartMassey commented on #78497
Sorry about the title changes: just couldn't live with :thread: any longer.

[2021-12-08 10:32] cdecompilador commented on #74465
It would be great to have the option to reset the Lazy to its initial state (evaluating the initialization again) and (deinitialize) for example, here is a use case:
[code]

Later in the code
[code]

This would allow in debug build to have live file reloading for `test.txt` while in release build the file is completely static.

[2021-12-08 11:13] thomcc opened #91659 "Check target definitions to see if more should have `cfg(target_thread_local)` enabled."
Out of curiosity, I ran a script to print out the list of targets where `cfg(target_thread_local)` (indicating support for [`#[thread_local]`](https://github.com/rust-lang/rust/issues/29594)) is not true.

The results (and script) are available here: https://gist.github.com/thomcc/766d76e4da35ce1a73b93ccd548fd143

This looks somewhat wrong to me — I believe several of these should have support for

[2021-12-08 11:16] thomcc commented on #91659
@rustbot modify labels: +A-thread-locals +F-thread_local

[2021-12-08 11:19] thomcc commented on #88737
@rustbot modify labels: +A-thread-locals +T-libs

[2021-12-08 11:51] EFanZh commented on #74465
@cdecompilador The reference a global `SyncLazy` gives has `'static` lifetime, which should always be valid, so you should never destroy a `SyncLazy` value after creation. For example:

[code]

You can’t reset `X` because `Y` should always be valid.

[2021-12-08 12:21] QiangHeisenberg opened #91661 "Doubts about Incorrect Source-Based Test Coverage Results"
I used grcov to measure the test coverage of the project, but the results didn't seem very good, both source-based and   gcov-based.@richkadel

The source-based approach is shown here.

To test the rand project, perform the following steps:

[code]
In the ```rand``` test result, for example, in the ```/rand/target/debug/coverage/rand_core/src/le.rs``` file:

Q1: In this file, two similar functions

[2021-12-08 12:32] wgianopoulos commented on #91050
Great!  Having the fix in 1.58.0-beta is sufficient for my needs.  Reason I
asked is that the issue just started to show up in mozilla-central recently
so although the problem existed in earlier versions of rust for a long
time, for some reason it just started to show up in my mozilla-central
builds.

On Tue, Dec 7, 2021 at 5:41 PM Josh Stone ***@***.***> wrote:

[2021-12-08 12:57] pmikolajczyk41 opened #91662 "'rustc' panicked at 'called `Option::unwrap()` (caching problems?)"
### Code

I have only renamed my enum. Probably some caching problems.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-08 14:15] matthiaskrgr opened #91663 "bootstrap of cargo broken: assertion failed: sentinel == STR_SENTINEL, compiler/rustc_serialize/src/opaque.rs:669:9"
EDIT2:
should be fixed with nightly `2021-12-11`

EDIT:
FOR EVERYONE THAT IS ALSO GETTING THIS:
Try cleaning your build artifacts: `cargo clean`, in most cases the crash should go away after a rebuild.

-------

https://github.com/rust-lang/rust/pull/91407 added an assertion that triggers on me doing a bootstrap and building cargo:

[code]

repo @ 11fb21fd0e4c42490d42f1baf6bc51516e5dc5f5

<details

[2021-12-08 14:21] the8472 commented on #91663
The output looks like nothing is getting rebuilt, but I would expect the stage1 compiler getting built if you pulled a new master. Something is caching too aggressively?

[2021-12-08 14:28] #87647 closed

[2021-12-08 14:28] #53261 closed

[2021-12-08 14:28] #90870 closed

[2021-12-08 14:31] matthiaskrgr commented on #91663
Hmm, I wonder if it is a mix of using sccache + sharing target dir between different crates (rustc tools) that causes the problem.

[2021-12-08 14:43] HindrikStegenga commented on #90594
Ran into this issue as well after refactoring/moving files around. The solution provided by @loriopatrick fixed the issue.

[2021-12-08 14:47] yoshuawuyts commented on #67982
@Type1J Do you have a link to the `IntoFuture` implementations in the `windows` crate? I found 4 `Future` trait implementations in the entire source, but no references to `IntoFuture`? Am I missing something?

I've recently started helping out on the `windows-rs` project, so if there is a dependency on `IntoFuture` from `windows-rs` I would love to know, as that would provide a convenient opportun

[2021-12-08 14:55] RalfJung commented on #91649
Yeah I just tried `vector $OP scalar` and was happy to see it work. :)

[2021-12-08 15:05] RalfJung commented on #91306
Looks like the problem is in this line:

https://github.com/rust-lang/rust/blob/18fb97e4cc66e35fd552789b884a8784f6ae19d5/library/core/src/slice/sort.rs#L112

`v.get_unchecked_mut` re-borrows an `&mut` on the entire slice, thus invalidation previously created pointers. So this is yet another instance of https://github.com/rust-lang/unsafe-code-guidelines/issues/133.

[2021-12-08 15:06] RalfJung commented on #91649
Fix happening on the Miri side in https://github.com/rust-lang/miri/pull/1934 (it was so easy I just quickly did it)

[2021-12-08 15:08] the8472 commented on #91663
I did encounter such an issue myself while working the PR but doing `./x.py clean` solved the issue. But that wasn't unexpected since I changed the serialization format of the compiler, thus making existing serialized data invalid.

But my understanding is that this should only affect rustc developers because the rustc build version doesn't change. For CI builds the git commit should differ and th

[2021-12-08 15:24] calebcartwright commented on #91543
https://github.com/alexcrichton/rustc-auto-publish/actions/workflows/main.yml

TIL scheduled GitHub Action Workflows apparently require regular activity in the repository to keep going :eyes:

[2021-12-08 15:24] kornelski commented on #84649
I suggest creating a fixed-size `Vec` type wrapper instead, so that it can also be used with `Extend` and many more methods without realloc code bloat.

[code]

[2021-12-08 15:34] richkadel commented on #91661
@QiangHeisenberg I don't test with grcov. It's a layer above the LLVM tools that generate the coverage reports, as I understand it.

It's possible you need to tell grcov other things, to get it to process the files properly (for example, to tell it where the test binaries are... here's a similar bug report where the author realized this was an issue: rust-lang/rust#79456).

If you really think the

[2021-12-08 15:39] jacobbramley commented on #86941
Indeed, in practice, most general-purpose software, including the Rust's `aarch64-unknown-linux-gnu`, assumes that both FP and NEON are present, and it's required by [AAPCS64](https://github.com/ARM-software/abi-aa/blob/main/aapcs64/aapcs64.rst), which doesn't have any soft-float provision.

The Armv8 architecture does, theoretically, permit them to be unsupported, but it doesn't permit one to be

[2021-12-08 16:26] nikic commented on #91128
A slightly cleaned up IR reproducer (still large): https://gist.github.com/nikic/d66abc8901a21594d0798d169eb9d725

I've investigated this in a bit more detail. First, a note on the general design of the inliner, which is is not very robust. LLVM uses a bottom-up inliner where inlining starts at leaf functions and a local inlining decision for each call is made. After the leafs have been inlined th

[2021-12-08 17:35] fee1-dead opened #91669 "Implement a MIR parser for testing purposes"
As discussed in [Zulip](https://rust-lang.zulipchat.com/#narrow/stream/189540-t-compiler.2Fwg-mir-opt/topic/SimplifyComparisonIntegral.20Assign.20lookup.20is.20overzealous/near/263284763) ([archive](https://zulip-archive.rust-lang.org/stream/189540-t-compiler/wg-mir-opt/topic/SimplifyComparisonIntegral.20Assign.20lookup.20is.20overzealous.html#263284763)), we'd want to be able to write tests where

[2021-12-08 18:15] joshtriplett commented on #26179
For this tracking issue, for the intrinsics, we're marking these as "perma-unstable", like most LLVM intrinsics.

We'd love to see a lang MCP for `#[likely]` and `#[unlikely]` attributes.

[2021-12-08 18:25] joshtriplett commented on #29603
Marking the overall `linkage` attribute as perma-unstable. We should review individual linkages (notably "weak") for stabilization, which may want to occur as a separate attribute or a value of a separate attribute.

[2021-12-08 18:29] joshtriplett commented on #29625
We definitely want to stabilize the `Fn` family of traits at some point, allowing people to `impl` them.

Marking this as "design-concerns" because we need to determine if we should wait for variadic generics or stabilize the `rust-call` ABI.

[2021-12-08 18:39] joshtriplett commented on #29633
We'd like to stabilize this, but we need to evaluate the function signature and what commitments we make for which parts of the standard library work.

[2021-12-08 18:46] cuviper commented on #90326
This was auto-closed by commit text, but it's not actually done yet.

[2021-12-08 18:48] joshtriplett commented on #29635
This needs some evaluation of what use cases will still exist after the current work on negative reasoning becomes available and stable.

It's possible there's still a use case for it after that, in which case we need to look at that more closely, and figure out if it can be supported in a reasonable way.

Or it's possible that what's left should be perma-unstable, given the coordination difficult

[2021-12-08 18:54] joshtriplett commented on #29639
Marking as "needs-summary", because we need a closer look at the use cases for `#[no_core]`, and why it is that core can't "compile to nothing" to serve some of those use cases (macro-only crates aside).

[2021-12-08 18:56] joshtriplett commented on #29641
Marking Box patterns (in the literal sense of the `box` keyword) as perma-unstable. If there's forward progress here, it'd be under the auspices of "deref patterns".

[2021-12-08 19:05] scottmcm commented on #29639
`no_core` implies so many things -- no `Add`, no `Fn`, etc -- that it doesn't seem like the right way to expose whatever the goals here are.  To me, `no_core` is perma-unstable, as it's there for internal reasons so will stick around but won't be stable.

That's not to say that there couldn't be other things that would make sense to have on stable, like a "please don't use simd" kind of flag/attri

[2021-12-08 19:09] scottmcm commented on #31436
Update: With the new (unstable) `ops::Residual` trait (#91285) added in #91286, there's a way forward for a version of `try{}` that would work like `array::try_map` and `Iterator::try_find` and friends now do (#85115).  I hope to write an RFC to that effect in the coming weeks.

[2021-12-08 20:25] tstellar commented on #74657
Are you sure that BFD ld is using the bitcode?  How does it know how that there is bitcode embeded in probestack.o?

[2021-12-08 20:26] pnkfelix opened #91671 "doc test "Couldn't compile the test" on aarch64 + LTO"
Update 2021-12-27: More minimized MCVE [at repo here](https://github.com/pnkfelix/issue-91671-a64-doctestfail) (also linked from [comment below](https://github.com/rust-lang/rust/issues/91671#issuecomment-996428466).)

----

I tried this code (note that the crate name needs to match its usage in the doc test to reproduce the bug properly):

[code]

[code]

And then ran `cargo --release --doc`.

I

[2021-12-08 20:33] pnkfelix commented on #91671
(by the way, the reason that I didn't include `cargo-bisect-rustc` output above is that the tool was not working for me today for this target; some kind of failure in its attempts to download the pre-built binaries per-commit. I haven't looked in more detail into it; for all I know, maybe we don't keep per-commit builds for aarch64...)

[2021-12-08 20:34] pnkfelix commented on #91671
Here are the relevant commits over the period where this bug was injected:

`% git log --author=bors d7c97a02d..dfc5add91 --format=oneline`:
 * dfc5add915e8bf4accbb7cf4de00351a7c6126a1 Auto merge of #89555 - oli-obk:nll_member_constraint_diag, r=estebank
 * eeb16a2a892c2a29b1da3085e29f39efa3486e1c Auto merge of #89822 - tmiasko:overflap-duplicates, r=cjgillot
 * 81117ff930fbf3792b4f9504e3c6bccc87b

[2021-12-08 20:35] pnkfelix commented on #91671
(it would be good to further minimize this. if possible I'd like to rewrite it as a normal test rather than a rustdoc one, if possible.)

[2021-12-08 20:40] jyn514 commented on #91671
@pnkfelix can you run `cargo test --doc -- --nocapture` and post the output? I think rustdoc is hiding the actual compile error.

[2021-12-08 20:41] leonardo-m commented on #84649
A question: such wrapper doesn't cause bloat itself?

[2021-12-08 20:42] jyn514 commented on #91671
It seems strange this only happens with doctests - does it also happen if you add a second crate that depends on `a64_doctestfail` (without a doctest)?

[2021-12-08 20:57] c02y commented on #33159
@Mrknister

`export PYTHONPATH=$PYTHONPATH:~/.rustup/toolchains/nightly-x86_64-unknown-linux-gnu/lib/rustlib/etc` for me, it doesn't help, I got the same error message, and gdb_load_rust_pretty_printers.py is not loaded if executing "info auto-load python-scripts" in gdb prompt.

@wllenyj

The warning auto-load script is gone, and gdb_load_rust_pretty_printers.py is loaded from rustup directory, b

[2021-12-08 21:00] Mark-Simulacrum commented on #29661
A T-lang backlog bonanza meeting discussed this today, and we felt uncertain about the current status of this feature. There's a long list of tasks in the description, many of which are unchecked, but it's unclear whether that list represents an accurate current summary of the state here. Would someone familiar with the implementation be up for posting an updated summary, which we might uplift int

[2021-12-08 21:03] kornelski commented on #84649
No, I don't think it'd be much different from e.g. deref that gives you the `Vec` as a slice.

[2021-12-08 21:07] hkratz commented on #91671
Bisecting worked fine for me. The regression pinpointed to the cargo update #89802

<details>
<summary>bisected with <a href='https://github.com/rust-lang/cargo-bisect-rustc'>cargo-bisect-rustc</a> v0.6.1</summary>

searched toolchains d7c97a02d1215e4ef26c31cb72dbaf16fd548b2c through dfc5add915e8bf4accbb7cf4de00351a7c6126a1

*************************************************************************

[2021-12-08 21:11] joshtriplett commented on #87228
We discussed this again in today's @rust-lang/libs-api meeting.

Our consensus was, roughly:
- Many of us would like to avoid the friction of importing `asm` in every module that uses it (e.g. allowing modules to drop in an `asm!("int 3")` or an `outb` to a serial port or debugging device and similar debugging techniques that should be as easy as println debugging).
- However, many of us (an overl

[2021-12-08 21:26] Erutuon commented on #91662
Ran into the same error message on the same line with `cargo test` with stable `rustc` after renaming two types. The code doesn't crash on `cargo test --release` or on `cargo +nightly test` (`cargo 1.58.0-nightly (294967c53 2021-11-29)`).

[Here's](https://gitlab.com/mwbot-rs/mwbot/-/commit/7fa0bd5a86c0d7ee9690aed81689afcfaffb932d) the commit that crashes when I run `cargo test` in the `mwtitle` s

[2021-12-08 21:30] dalcde commented on #84649
What do you envision `extend` to do when the vector runs out of space?

[2021-12-08 21:30] Velfi opened #91674 "Warn for features not defined in a Cargo.toml"
Given the following code:
[playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=7e1eb7024eed42238913561215fad889)

[code]

The current output is:

[code]

Ideally the output should look like:

[code]

This issue is in regards to the interaction of `cargo` and `rustc`. Imagine that the above example is from project with this Cargo.toml:

[code]

I ran into this a

[2021-12-08 21:33] pnkfelix commented on #91671
Adding `--nocapture` alone does not seem to help here. I think you are right that `rustdoc` is hiding the actual compiler error; but I also think that we need to go deeper to dig out the root cause. (I do wish that `--nocapture` *did* resolve it, or some better still, some set of `--verbose` flags...)

[2021-12-08 21:51] #90150 closed

[2021-12-08 22:05] wrenger commented on #86912
The implementation of `array::map` seams fairly complex. Maybe a more trivial solution is optimized better?
Something like that:
[code]
(using the 2021 edition `into_iter`)

[2021-12-08 22:07] mark-i-m commented on #62924
Is there anything blocking this from being stabilized? If I understand correctly, the performance issues mentioned early in the thread were fixed, right?

If that's the case, I would like to open a PR to stabilize this feature.

[2021-12-08 22:10] pnkfelix commented on #91671
I figured out how to use `rustdoc --test-builder` to feed in a wrapper script around `rustc` that also emits the arguments that were passed into `rustc`. That should hopefully be enough for me to narrow this down to a bug that doesn't rely on `rustdoc` for us to replicate it.

[2021-12-08 22:17] saethlin commented on #91574
I think this is UB even in the absence of stacked borrows because this code tries to construct a slice of uninit T:
https://github.com/rust-lang/rust/blob/e6b883c74f49f32cb5d1cbad3457f2b8805a4a38/library/alloc/src/str.rs#L180-L181

Therefore, I think the way to go is replacing this with `&[MaybeUninit<T>]`, because redoing all the slice copying logic with raw pointers seems messy.

[2021-12-08 22:24] pnkfelix commented on #91671
Also, since I'm staring a bunch of verbose command output, and the problem was already bisected to a cargo update #89802 ... maybe the real culprit a change to how `rustdoc` is being invoked by `cargo` here?

In 2021-10-13, the `rustdoc` invocation from cargo looks like this:

[code]

In 2021-10-14, the `rustdoc` invocation from cargo looks like this:

[code]

Leveraging Emacs ediff-mode, these in

[2021-12-08 22:48] pnkfelix commented on #91671
Aha, I bet its fallout from this new cargo feature [#9943](https://github.com/rust-lang/cargo/pull/9943)

[2021-12-08 23:23] tstellar commented on #74657
Answering my own question, I can get it to work if I strip out the the .llvmbc section:

[code]
The other question I have is if gold and lld ignore the embedded bitcode, then does that mean they aren't actually doing LTO?

[2021-12-08 23:46] kornelski commented on #84649
Panic.

I also hope that the wrapper type with a fixed-size storage would be easier for optimizer to reason about (similarly how taking a slice of a vec before a loop helps remove bounds checks in the loop). If the optimizer is able to remove capacity checks, then failure handling code doesn't matter, because it will be optimized out too.

Alternatively, the behavior could be configurable via a ty

[2021-12-08 23:57] ssomers commented on #62924
Yes, the performance mentioned early in the thread is still significantly improved by changing calls like `iter().next()` to the new functions (factor 1.5 to 4, depending on the mood of microbenchmarks, for integer keys). I don't know why.

I haven't seen the second "unresolved question" come up anywhere, only the first, and it's still on my mind. In hindsight, I would have chosen these names inst

[2021-12-09 00:23] ibraheemdev opened #91683 "Tracking Issue for `core::stream::pending`"
Feature gate: `#![feature(stream_pending)]`

This is a tracking issue for `core::stream::{pending, Pending}`, a stream that always returns `Poll::Pending`.

### Public API

[code]

### Steps / History

- [ ] Implementation: #...
- [ ] Final comment period (FCP)
- [ ] Stabilization PR

### Unresolved Questions

- None yet.

[2021-12-09 00:26] camelid commented on #83035
Following up on this: I'd like to make rustdoc consistent about always using `rustc_middle::ty` (& co.) data. That would mean always showing normalizing constants.

There are basically three ways we can show constants, and each have pros and cons both for implementation and UX:

- **Source code:**
  - **Pros:**
    - Easy to implement
    - Works across crates (I think)
  - **Cons:**
    - Doesn't

[2021-12-09 01:07] jyn514 commented on #83035
That seems ok to me but we should try to display byte strings as strings instead of arrays if possible - maybe we could cheat by looking at the original source to see if it used `b""`?

[2021-12-09 01:33] saethlin commented on #91306
Actually, just to be sure, @RalfJung are we interested in patching out all such instances of this in std/alloc/core? I know I personally would like the standard library to be clean against Miri with `-Ztag-raw-pointers` so that I can check libraries for stacked borrows issues. I just did a quick skim now that I understand the rules and I think I can spot a few other issues, so I'm not sure if thes

[2021-12-09 01:52] camelid commented on #83035
That won't work if the byte string is computed—but it could be good enough in most circumstances.

In the future, we could maybe record in the metadata whether a constant was written as a byte string.

[2021-12-09 02:02] camelid commented on #83035
Another inconsistency: free-standing consts have their value shown, but (inherent, not sure about trait) associated consts don't:

* https://doc.rust-lang.org/nightly/std/f32/constant.DIGITS.html
* https://doc.rust-lang.org/nightly/std/primitive.f32.html#associatedconstant.DIGITS

[2021-12-09 02:13] RalfJung commented on #91306
So far we fixed various issues of this sort that people noticed, but there was never a concerted effort to find *all* of them. So they were not deliberately left in, just not found yet.

Whether we want to fix them all is up to @rust-lang/libs who ultimately decide about the std library implementation.

[2021-12-09 02:22] pcwalton opened #91688 "Local value numbering for MIR"
Local value numbering, local to a basic block, doesn't require SSA form, unlike global value numbering. We could straightforwardly run this optimization on MIR. In many cases, this would subsume constant and copy propagation, and it would also let us do nice things like detect commutativity and fold `a + b` into `b + a`. It may be possible to do things that LLVM won't, due to it being much easier

[2021-12-09 02:33] scottmcm commented on #91306
@saethlin So far the fixes have been localized enough that it's been easy to take them (eg #81160).  If anything comes up that requires drastic changes to fix then there might be a conversation about it, but for simple ones that don't increase maintenance burden I think they'll be happily accepted.

[2021-12-09 02:35] gangliao opened #91689 "thread 'rustc' panicked at 'assertion failed: sentinel == STR_SENTINEL'"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-09 02:57] alce opened #91690 "'rustc' panicked at 'assertion failed: sentinel == STR_SENTINEL'"
This panic only happens on latest nightly.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-09 03:02] alce commented on #91689
This panic only happens on latest nightly.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-09 03:03] alce commented on #91690
closing in favor of #91689

[2021-12-09 03:03] #91690 closed

[2021-12-09 03:07] Type1J commented on #67982
My mistake. It seems to be a blanket implementation.

https://microsoft.github.io/windows-docs-rs/doc/windows/Foundation/struct.IAsyncOperation.html

[2021-12-09 03:28] camelid commented on #83035
What if we just displayed them as hex arrays? It would be a lot simpler than trying to recover whether the byte slice was originally a byte string.

[2021-12-09 03:49] camelid commented on #83035
One issue is that for, e.g., const generics, what happens if we don't know how to pretty-print the `ty::Const`? E.g., if it's an ADT?

[2021-12-09 04:03] #91227 closed

[2021-12-09 04:03] #91304 closed

[2021-12-09 04:21] pnkfelix commented on #91671
Running the 2021-10-14 `rustdoc` invocation manually without `-C lto` does indeed pass the test.

So this seems like it is probably exposing some LTO bug.

Its non-trivial to try to test this thesis against the 2021-10-13 build, though, because its not simply a matter of adding `-C lto` to the `rustdoc` invocation at the end in that case. If you do try that, then you get the error:
[code]

So I'm

[2021-12-09 04:24] RalfJung commented on #91574
Yeah, it technically is, but inside the standard library we sometimes exploit the fact that we know that *currently*, rustc does not actually make use of that particular UB. (And I personally think we should allow references to uninit data, unless the type is entirely uninhabited. But that is a discussion for https://github.com/rust-lang/unsafe-code-guidelines/issues/77.)

The aliasing issue seems

[2021-12-09 04:31] pnkfelix commented on #91671
The problem isn't tokio-specific; I was able to get the same result with an MCVE variant that used Rayon instead of Tokio, with code like this:

[code]

but its does not duplicate with just any old crate either. (I tried using an ancient demo crate of mine, [add3](https://crates.io/crates/add3), and that was not sufficient to witness the problem here.

[2021-12-09 04:35] jyn514 commented on #91671
@pnkfelix did you make progress with your idea to use a wrapper script to get the rustc args? That seems like an easy way to avoid making this reliant on rustdoc (i.e make it possible to reproduce with an older version of cargo).

[2021-12-09 05:00] ehuss commented on #71249
🎉 This is now available in the latest nightly release (2021-12-09).  Thanks @Aaron1011!

Closing as this is now complete.

[2021-12-09 05:00] #71249 closed

[2021-12-09 05:18] Imberflur opened #91693 "lifetime bound not satisfied for a lending iterator (using generic associated types) with `for_each` method"
I'm trying to write a streaming/lending iterator trait using the nightly `generic_associated_types` feature (i.e. in the vein outlined [here](https://blog.rust-lang.org/2021/08/03/GATs-stabilization-push.html)), in particular with a `for_each` method:

[code]

However, the lifetime bounds don't appear to be satisfied for calling the `for_each` method  when `Self` contains non `'static` lifetimes:

[2021-12-09 06:02] QuineDot commented on #91693
@rustbot label requires-nightly, F-generic_associated_types, T-compiler

[2021-12-09 06:42] euclio commented on #89872
cc #86337

[2021-12-09 06:49] MikaelCall opened #91695 "ICE: 'rustc' panicked at 'assertion failed: sentinel == STR_SENTINEL' (nightly e6b883c74 2021-12-08, crate zip 0.5.13)"
### Code

[code]

### Meta

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]
</p>
</details>

[2021-12-09 06:54] matthiaskrgr commented on #91689
dupe of #91663

[2021-12-09 06:54] matthiaskrgr commented on #91695
dupe of #91663

[2021-12-09 07:08] #91649 closed

[2021-12-09 07:11] TonalidadeHidrica opened #91696 "thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', `/rustc/<snip>/compiler/rustc_hir/src/definitions.rs:452:14`"
### Code

The error happens when compiling [this project](https://github.com/TonalidadeHidrica/taiko-wiki-data-analysis/tree/fc0ca1e45e6ddf12c8370748316d1b15710912c8).  However, if I cloned this commit to another location (without copying `target`), it runs successfully.  So I doubt that this is an issue of cache-ish stuff.  I'm leaving the worktree as-is, so instruct me any steps required for tro

[2021-12-09 07:12] TonalidadeHidrica commented on #91696
I initially submitted an issue at https://github.com/rust-lang/rust-clippy/issues/8102 happening on similar project, but I found that this error also happens when `cargo run`-ning, not only `cargo clippy`-ing.

[2021-12-09 07:22] indygreg opened #91698 "Confusing `is required to live as long as 'static` compiler error message involving trait return"
The following reproduce case (which could almost certainly be reduced further) demonstrates what I think is a confusing, not-very-actionable error message which fails to live up to Rust's typically high bar for error message quality.

First, the error message:

[code]

The reason I find this error confusing is:

a) `'static` appears nowhere in this code.
b) It doesn't tell me where that `'static`

[2021-12-09 07:25] #91695 closed

[2021-12-09 07:58] amircodota opened #91700 "Internal compiler error while running clippy on nightly"
Hi folks

I ran clippy on the latest nightly (today is Dec 09, 2021).

I'm getting an internal compiler error with the following output

[code]

[2021-12-09 08:05] klensy commented on #91700
duplicate #91663

[2021-12-09 09:19] TonalidadeHidrica commented on #91696
I doubt this is a duplicate of #89962.  By the way, another type of ICE `'assertion failed: sentinel == STR_SENTINEL'` (described in #91663) happens in the same project, but when compiling on `nightly`, not on `stable`.  So I suspect these two issues relate to each other.

[2021-12-09 09:39] jmlMetaswitch commented on #62924
@ssomers - I think that Ord has to not just put your keys in a sequence, but also define a direction to that sequence, so "first" and "last" do always make sense. Does `Ord` imply a type has a "minimum" and "maximum" though? I think not, especially as you might feasibly want to define a type and it's complementary "reverse order" type. Or to have a sequence that doesn't really map to a numeric val

[2021-12-09 09:57] nikic commented on #91128
Okay, here's the part that I was missing before (the BFI issue compounds on this, but it's really the root problem): The inlining advisor has a concept of "deferred inlining", where it decides not to inline a call into the caller, because it determines that it would be more profitable to inline the caller into its callers instead. Specifically, this can happen if the caller is an internal function

[2021-12-09 10:04] ssomers commented on #62924
Interesting point, if I get it correctly. I'm not at all sure minimum and maximum are the mathematically correct words for the smallest and largest key present in a map or set, but iterators already say so: `iter().min()` and `iter().max()` exist (and yes, the btree iterators define them efficiently).

[2021-12-09 10:11] #91461 closed

[2021-12-09 10:44] kud1ing commented on #91696
I too get `thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', /rustc/f1edd0429582dd29cccacaf50fd134b05593bd9c/compiler/rustc_hir/src/definitions.rs:452:14` after I've renamed an enum.

[2021-12-09 10:51] TonalidadeHidrica commented on #91696
@kud1ing Just curious, are you using `sccache`?

[2021-12-09 11:12] apiraino commented on #91598
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2391598.20Compile-time.20regression.20between.201.2E56.2E1.20and.201.2E57.2E.2E.2E.2E) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-critical

[2021-12-09 11:21] avl commented on #62924
Since the contents of the set are ordered according to the implementation of the Ord-trait, isn't it actually true that the first element in the BTreeSet is the minimum, and the last is the maximum?

If you have a non-empty set of instances of a type which implements Ord, surely there must exist both a minimum and a maximum value? By definition (of Ord) all instances are comparable, and there exis

[2021-12-09 11:23] apiraino commented on #91489
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2391489.20nightly-2021-12-02.20to.20nightly-2021-12-03.20regression.20.E2.80.A6) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-high

[2021-12-09 11:27] kud1ing commented on #91696
@TonalidadeHidrica No, i am not.

[2021-12-09 11:28] the8472 commented on #91700
did you try `cargo clean`?

[2021-12-09 11:33] kud1ing commented on #91696
I've renamed another enum and hit it again right away:

thread 'rustc' panicked at 'called `Option::unwrap()` on a `None` value', /rustc/f1edd0429582dd29cccacaf50fd134b05593bd9c/compiler/rustc_hir/src/definitions.rs:452:14
stack backtrace:
   0: _rust_begin_unwind
   1: core::panicking::panic_fmt
   2: core::panicking::panic
   3: <rustc_query_impl::on_disk_cache::OnDiskCache as rustc_middle::ty::

[2021-12-09 11:34] matthiaskrgr commented on #91663
I've wiped my sccache and rustc build cache and have not seen the issue since, but there seem to be a lot of other people having similar problems, hm.

[2021-12-09 11:35] amircodota commented on #91700
`cargo clean` seems to solve it. Thanks

[2021-12-09 11:36] kud1ing commented on #91696
This might be a duplicate of https://github.com/rust-lang/rust/issues/91487

[2021-12-09 11:36] the8472 commented on #91663
So it's probably a missing cache invalidation and my assumption that it's keyed on the compiler version is wrong.

[2021-12-09 12:30] jmlMetaswitch commented on #62924
I was suggesting that an ordered sequence doesn't necessarily have to map onto numeric values, so "first" and "last" are better terms than "minimum" and "maximum". However, digging further, I see that both "std::cmp::Ord" and "std::cmp::Ordering" use the terms "less", "greater", "min" and "max", rather than "earlier" or "left of", "first" or "leftmost", etc, so it would be completely consistent to

[2021-12-09 12:32] ssomers commented on #62924
Yes, and the [description of `first`](https://doc.rust-lang.org/std/collections/struct.BTreeSet.html#method.first) says so.

Yes, but more precisely, exactly one element must compare smaller to every other element.

[2021-12-09 12:40] Andlon opened #91701 "Compilation fails when explicit types are not provided, despite satisfied trait bounds"
Consider the following code ([Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=04a1c2b4aa094033801ad3f051f25a8a)):

[code]

I expected to see this happen: Both manners of calling `foo1` should work.

Instead, this happened: Only the variant where the types are explicitly named compiles. Here's the error:

[code]

### Meta

I've tried this on Stable 1.57 and

[2021-12-09 12:47] Andlon commented on #91701
Here's a simpler example that fails for the same reason (removed `Three` and made the example only with `Two`). I'd still like the original issue to work, given that it's the closest to my real issue.

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=1e84fe50c741f98dd7b38d0517eddfb0)

[code]

[2021-12-09 12:48] apiraino commented on #91490
Assigning priority as discussed in the [Zulip thread](https://rust-lang.zulipchat.com/#narrow/stream/245100-t-compiler.2Fwg-prioritization.2Falerts/topic/.2391490.20same.20functions.20are.20not.20merged.20in.20library) of the Prioritization Working Group.

@rustbot label -I-prioritize +P-medium

[2021-12-09 12:48] dotdash commented on #85265
Strictly speaking, even 1.47 wasn't really ideal either. I had a few ABI related things in my backlog when I was still working on rustc, but unfortunately didn't get to actually implement them. I might try to tackle them during the holidays, but can't promise anything. If someone wants to work on this, the basic problem here is that we're not using the proper types on the LLVM IR level. The follow

[2021-12-09 12:57] #42788 closed

[2021-12-09 12:59] mskyttner opened #91702 "thread 'rustc' panicked at 'assertion failed: sentinel == STR_SENTINEL', ...../compiler/rustc_serialize/src/opaque.rs:669:9"
### Code

I installed rust with "rustup" and used "cargo new hello_cargo", amended the Cargo.toml to have

[code]

I then ran `rustup override set nightly` and `RUST_BACKTRACE=1 cargo build`

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-09 13:00] Andlon commented on #91701
OK, I realized that it can be simplified even more by removing the `Pair` struct altogether. Below is hopefully the final minified version:

[Playground link](https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=d2c295200d3529313a43258582e34e17)

[code]

[2021-12-09 13:06] mskyttner commented on #91702
Might be related to https://github.com/rust-lang/rust/issues/91696 since doing a `cargo clean` and then `cargo build` as suggested in one of the comments was successful.

[2021-12-09 13:32] georgebarwood opened #91704 "No entry found for key panic"
What caused this was changing this line:

use rustc_hash::{FxHashMap as HashMap, FxHashSet as HashSet};

back to

use std::collections::{HashMap,HashSet};

This is the cargo output:

---------- Check ----------
    Checking rustdb v0.3.0 (C:\Users\pc\rust\rustdb)
    Checking rustdb-axum-example v0.1.3 (C:\Users\pc\rust\axumtest)
thread 'rustc' panicked at 'no entry found for key', compiler\rustc_

[2021-12-09 13:41] danielkeller opened #91705 "Compiler panic on renaming a struct"
I got a compiler panic when renaming a struct from `StackPos` to `Reg`. It went away when I ran `cargo clean`, and didn't come back, so I'm not sure how to reproduce it.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-09 13:57] klensy commented on #91702
more like #91663, given the panic message

[2021-12-09 14:06] 0xpr03 opened #91707 "Documentation for PermissionsExt::set_mode should link to set_permissions"
I'm opening this issue because it took me far too much time to realize that set_mode isn't actually doing anything to the underlying file.
Based on the rust std docs I've first tried to set an executable bit with this code:

[code]

I expected to see this happen: The code sets the permissions bit.

Instead, this happened: Obviously nothing, because you have to call `std::fs::set_permissions`

The

[2021-12-09 14:24] kyfk opened #91708 "cargo +nightly fix panicked"
I've tried `cargo +nightly fix` it's panicked.

### Meta

`rustc --version --verbose`:
[code]

OS:
[code]

Hardware:
[code]

Dependencies:

[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-09 15:05] hkratz commented on #91708
cc #91663.

[2021-12-09 15:08] hkratz commented on #91708
@kyfk Does this issue persist after `cargo clean`?

[2021-12-09 15:09] kov commented on #91663
Just hit this issue building a personal project (it was building the derive_builder_core crate). The cause is apparently that I was building with the stable release channel and got this error:

[code]

Then I switched to the nightly channel and retried the build, got this panic. The panic went away when I removed the target/ dir and rebuilt.

[2021-12-09 15:36] nox opened #91710 "Missing tools in LLVM CI tarball"
I've rebased this morning and I can't build the repo anymore since #91685 landed.

[code]

It seems there are missing tools in the LLVM CI tarball.

AFAICT, these are the tools CI copies in the tarball:

https://github.com/rust-lang/rust/blob/3b263ceb5cb89b6d53b5a03b47ec447c3a7f7765/src/bootstrap/dist.rs#L2077-L2087

And these are the tools bootstrap tries to install in `build/`:

https://github.c

[2021-12-09 15:43] Aaron1011 commented on #91710
I think we should disable copying those tools under ci-llvm for now, and then decide if we want to include them in the ci-llvm artifact or not.

[2021-12-09 15:44] Mark-Simulacrum commented on #91710
@Aaron1011 makes sense to me!

[2021-12-09 15:44] nox commented on #91710
Actually the problem seems to be bigger, for now I disabled using the LLVM CI tarball locally and it still failed.

[2021-12-09 15:53] Aaron1011 commented on #91710
@nox What error are you getting with it disabled?

[2021-12-09 15:54] pnkfelix commented on #91128
@rustbot assign @nikic

[2021-12-09 15:54] pnkfelix commented on #91598
@rustbot assign @Aaron1011

[2021-12-09 15:54] nox commented on #91710
Exactly the same. I restarted the whole build after running `git clean -dfx`, I'll report back once (if) the error reproduces again.

[2021-12-09 15:56] nox commented on #91710
Ah! The compiler profile sets `download-ci-llvm` to `if-available`, my bad, I'll explicitly override that to `false` in my config and the problem will probably go away. I should have noticed I didn't actually rebuild LLVM hah.

[2021-12-09 15:59] pnkfelix commented on #89626
closing as fixed.

From my reading of the comment thread, it is not clear to me if the issues encountered by @BlackDex are outright bugs or not. but even if they are bugs, they need to be filed as fresh issues.

[2021-12-09 16:01] chorman0773 commented on #29635
I have a library in https://github.com/LightningCreations/lccc (the actual implementation/host side, rather than the stdlib/target side, so I don't have privileged unstable access), xlang_abi, which contains types that are necessary for communicating between modules soundly, and includes reimplementations of some standard library types (including Box). I would like to be able to support fundamenta

[2021-12-09 16:03] pnkfelix commented on #91489
@rustbot assign @fee1-dead

[2021-12-09 16:11] jyn514 commented on #91710
Or just call `builder.ensure`, like I suggested originally ... I'm not sure why dist is being treated differently from all the other build commands.

[2021-12-09 16:18] avl commented on #62924
Good point, since there are no duplicates, there really has to be exactly one minimum and maximum.

[2021-12-09 16:23] jyn514 opened #91713 "`rustdoc --passes=list` doesn't show a deprecation warning"
I tried this command: `rustdoc --passes=list`

I expected to see this happen: rustdoc shows a warning, the way it does for any other value you pass to `--passes`:

[code]

Instead, this happened: Rustdoc gives no warning and lists all passes.

### Meta

`rustdoc --version`
[code]

[2021-12-09 16:23] Aaron1011 commented on #91710
@jyn514 Those tools don't exist in the downloaded archive, so `ensure` won't help here

[2021-12-09 16:31] jyn514 opened #91714 "Make `rustdoc --passes` and `rustdoc --no-defaults` have no effect"
Currently, `rustdoc --passes` does one of two things:
1. `--passes list` shows a list of available passes:
[code]
2. `rustdoc --passes collect-trait-impls` will add that specific pass to the list of passes rustdoc executes (I think this is intended to be used with `--no-defaults`, which is also deprecated).

Both of these are stable, so unfortunately we can't remove them; 2. is deprecated and 1. s

[2021-12-09 16:31] jyn514 commented on #91714
@rfcbot fcp merge

[2021-12-09 16:33] jyn514 commented on #91713
Mentoring instructions: Move this check https://github.com/rust-lang/rust/blob/3b263ceb5cb89b6d53b5a03b47ec447c3a7f7765/src/librustdoc/config.rs#L372-L373
earlier to before `--passes=list` is processed: https://github.com/rust-lang/rust/blob/3b263ceb5cb89b6d53b5a03b47ec447c3a7f7765/src/librustdoc/config.rs#L330-L360

[2021-12-09 16:35] ssomers commented on #62924
I didn't even think about that uniqueness. If Rust had something like C++'s `multimap` (and I'm not saying it hasn't, just not in btree), which of the element(s) with minimum key would `set.pop_min()` remove? `set.pop_first()` doesn't raise that issue. Even `set.min()` raises that question: the minimum keys are all equal of course, but `min()` returns a reference to a particular key - which one?

[2021-12-09 16:43] inashivb commented on #91713
@rustbot claim

[2021-12-09 16:53] jyn514 commented on #91714
Oh, I forgot to mention earlier - there's precedent for doing this for other deprecated flags:
[code]

[2021-12-09 17:15] bjorn3 commented on #29625
Should `Args` be turned into an associated type to prevent people from using it to implement operator overloading based on argument type?

[2021-12-09 17:22] terrarier2111 commented on #91370
@rustbot claim

[2021-12-09 17:26] AngelicosPhosphoros commented on #85771
I think, the core issue is our ABI.
In current Rust ABI, small structs (smaller than 128 bits) casted to integers when passed by value to put them into a register.

This causes missing optimizations because LLVM fails to understand that i128 values are same as typed struct values.
Then it sees only that we compare "struct" in `is_ok` (because we pass it as reference) and then again validate i128 v

[2021-12-09 17:29] RalfJung commented on #91636
Good catch! The panic is triggered here:

https://github.com/rust-lang/rust/blob/3b263ceb5cb89b6d53b5a03b47ec447c3a7f7765/compiler/rustc_const_eval/src/interpret/operator.rs#L332-L334

Looks like we actually allow `==` on operands of different type if one is a subtype of the other. The more you know...

[2021-12-09 17:29] nikic commented on #91128
I ran an experiment to disable deferred inlining entirely at https://perf.rust-lang.org/compare.html?start=3b263ceb5cb89b6d53b5a03b47ec447c3a7f7765&end=07378cd9e76010238f64ea03d1219774eb60510d. The result looks promising as far as rustc is concerned, in that compile-times drop, and there is not much impact on check/incr-unchanged builds (our proxy for run-time). The worst regression there is "toke

[2021-12-09 17:36] georgebarwood commented on #91704
Additional information on how I can reproduce this in comments here:
https://users.rust-lang.org/t/fxhash-blog-by-nicholas-nethercote-a-brutally-effective-hash-function-in-rust/68491/8

Especially:

(1) I change a toml file to use rustdb from crates.io. This is a test program in a separate directory. I run cargo check.

#rustdb = { path = "../rustdb" }
rustdb = { version = "0.4.0" }
(2) I change i

[2021-12-09 17:37] ouz-a commented on #91636
I am trying to fix this and I found that this compiled fine back in 1.44.0 https://godbolt.org/z/Wznsz7PeM something happened in 1.45.0 and it doesn't compile anymore

[2021-12-09 17:39] eholk commented on #78649
I'm going to spend some time looking at this over the next async team sprint.

@rustbot claim

[2021-12-09 17:40] estebank commented on #57017
[Current output](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=9785fcf349e5b671d6a76ab263bbb74d):

[code]

Following the suggestion solves the problem with the code, but the `match` block borrowing should still support the original code.

[2021-12-09 17:42] Lokathor commented on #29625
no

[2021-12-09 17:43] AngelicosPhosphoros commented on #85771
@nikic you know LLVM better than many. Do you think if some special kind of ABI for Rust is possible?

Also, maybe we can just send structs as values and let LLVM handle this itself? As described here:
https://lists.llvm.org/pipermail/llvm-dev/2018-April/122714.html

[2021-12-09 17:43] RalfJung commented on #91636
Oh, interesting. What did the MIR look like back then?
Maybe there was some explicit subtyping happening.

[2021-12-09 17:43] estebank commented on #74497
This should point at the bounds in `foo` and *potentially* suggest

[code]

[2021-12-09 17:44] shampoofactory commented on #85265
I've gathered some simple auto-vectorization cases [here](https://github.com/shampoofactory/autovec), together with compilation notes (mainly for myself). I've noted those cases that have regressed post 1.47 and those that are not efficient in 1.47 to begin with.

I've also reverted the #26494 issue's breaking changes [here](https://github.com/shampoofactory/rust).

[2021-12-09 17:51] ouz-a commented on #91636
Unfortunately, I can't locally test 1.44.0 on my machine since M1 builds don't exist for those versions.
[code]
weirdly or not weirdly (IDK) this compiles I think it's because of coercion but I don't know also code doesn't even enter
` assert!(
     right.layout.ty == left.layout.ty || right.layout.ty.is_integral(),
     "Unexpected types for BinOp: {:?} {:?} {:?}", ` here when coercion happens.

[2021-12-09 17:51] AngelicosPhosphoros commented on #85771
@shampoofactory Can you please check if your changes about i128 affect this issue?
https://github.com/rust-lang/rust/issues/26494#issuecomment-987521122

Also, it would be nice if you test such code with your changes too:
[code]

[2021-12-09 17:53] MSxDOS commented on #85771
Minimized:
[code]
As of now, enabling MIR inliner removes the unwrap: https://godbolt.org/z/9xMsr8MzK

[2021-12-09 17:55] estebank commented on #66445
[Current output since 1.54](https://play.rust-lang.org/?version=nightly&mode=debug&edition=2018&gist=537ab32847be6dde11b2528b3e2c58ce):

[code]

@olegnn are there other changes you'd like to see here?

[2021-12-09 18:17] shampoofactory commented on #85265
@rustbot label -E-needs-bisection

[2021-12-09 18:23] kaimast commented on #91663
I got this issue after moving my home directory to a new install. My guess is some of the permissions got messed up. I already tried `cargo clean` reinstalling all toolchains with rustup and deleting the target directories.

What is the "sccache" and how do I clean it?

[2021-12-09 18:30] Ten0 commented on #88900
That is not correct. Our use-case is that the debug output of some of these fields is purposely used within production applications:
- As error context to [Sentry](https://sentry.io/organizations/stockly/issues/) events, to help developers with some debugging context in case of error
- In [gRPC Status message](https://docs.rs/grpcio/0.9.0/grpcio/struct.RpcStatus.html#method.with_message), again to

[2021-12-09 18:55] matthiaskrgr commented on #91663
sccache is a (distributed/local) build cache that can be used with cargo/rustc (but also clang gcc etc).
https://github.com/mozilla/sccache

If you want to purge it should be save to just remove the content of `~/.cache/sccache` but if you don't know what it is, you probably never set it up and are not using it I guess.

[2021-12-09 19:14] kaimast commented on #91663
Oh yeah I don't use that. I just removed `~/.cargo` and reinstalled everything using rustup but still keep running into this.

Any idea how to do debug or what logs to provide to this report?

[2021-12-09 19:30] nikic commented on #85771
If we're talking about values with larger than register size, then yes, passing them as a struct with two elements should work -- however, it would be even better to pass them as two separate arguments, as that saves on insertvalue/extractvalue boilerplate around the call. The current i128 ABI also results in the argument being passed as two registers in the end, but the representation is very har

[2021-12-09 19:33] matthiaskrgr commented on #91663
"~/.cargo" is the cargo download/source cache, should be unrelated to this issue. :sweat_smile:

The issue should be fixed once https://github.com/rust-lang/rust/pull/91715 is shipped in a new nightly compiler.

For now you can probably pin to yesterdays nightly `2021-12-07` until the bug is fixed:
https://rust-lang.github.io/rustup/overrides.html#the-toolchain-file
The `channel` line would be yes

[2021-12-09 19:38] nikic commented on #85771
Though for this specific case, this can and probably should be fixed on the LLVM side as well. We are currently missing this canonicalization: https://alive2.llvm.org/ce/z/Qx6KWg

[2021-12-09 19:42] agausmann opened #91722 "read_to_end / read_to_string returns Invalid Input ("buffer too small") on Windows MSVC"
I tried this code:

[code]

This code can result in the error:

[code]

This error is likely to happen when input is read in small chunks (e.g. a few characters per line, when line buffering is used), to slowly fill the string/vec close to its capacity. Currently, it is easily reproduceable by pressing return 15 times on the terminal input.

This error is uncontrollable by me; when I call read_to_

[2021-12-09 20:04] camelid commented on #91714
@rfcbot reviewed

+1. I've been wanting to get rid of these flags for a while.

Should we use a future-incompatibility warning so that it'd be more feasible to potentially remove the flags in the future?

Why everything except `--passes=list`?

[2021-12-09 20:17] pnkfelix commented on #91671
I was indeed able to get wrapper script to print the rustc args.

But since then, I've decided to focus on first reducing the MCVE further.

E.g. at this point I've found that just an `extern crate rayon;` declaration suffices to reproduce the problem; no `pub fn bad() { ... }` necessary at all, nor any imports from the crate.

I want to try to minimize the set of crate dependencies first, and the

[2021-12-09 20:59] PhilosophicalProgrammer commented on #44265
Isn't there only one unresolved question left blocking the stabilization of this (speaking of #89122)? The checklist didn't seem to update for some reason when #87479 was closed, so the box for it might as well be checked off, and that leaves only one box left that isn't struck-through. If it really is the only blocking issue left, I think it should be given some sort of reasonable priority since

[2021-12-09 21:33] jackh726 commented on #44265
Currently, there are a couple things blocking:
1) There are some tweaks to be done for the outlives lint. Namely, the issues that cover this are #90888, #91036, and #90808.
2) The where clause syntax remains an open question. There's a fair amount of discussion in #90076,
3) There a [number](https://github.com/rust-lang/rust/issues?q=is%3Aopen+label%3AF-generic_associated_types+-label%3AGATs-triag

[2021-12-09 21:33] therealbnut commented on #44265
I’m not sure why #89122 is blocking anyway? It’s not GAT specific.

It can’t be blocking to prevent source breaking changes as it would already be source breaking for existing type aliases.

[2021-12-09 21:43] c410-f3r commented on #44265
@jackh726 I just want to thank you for all your hard work

[2021-12-09 21:58] shampoofactory commented on #85771
@AngelicosPhosphoros Hi, I'm not sure I'm qualified to give you a knowledgeable answer, other than to say that compiling with 1.47.0,  1.48.0, 1.57.0 and [dev branch with #26494 reverted](https://github.com/shampoofactory/rust) gives us identical outputs. As the  #26494 regression manifests in 1.48+ we would expect changes in those compilations, which we don't see.

Source:

[code]

[code]

[code]

[2021-12-09 22:05] Patrick-Poitras commented on #91722
Was able to replicate with the above example. Here is a full backtrace.

[code]

[2021-12-09 22:10] camelid commented on #91714
I meant more that it would signal that you *really* shouldn't be using these flags.

[2021-12-09 22:18] hkratz commented on #91722
@rustbot label O-windows T-libs A-io

[2021-12-09 22:18] PhilosophicalProgrammer commented on #44265
@jackh726 Yeah, I didn't know that there were other blocking issues since they weren't on the list of blocking bugs at the top of this issue. I think the list should be updated if there are more blocking issues in order to reduce confusion and bring more attention to these issues. I think it would be great if more attention were brought to the blocking issues here because of how useful this featur

[2021-12-09 22:19] matthiaskrgr commented on #72845
Well, this still crashes if I add a `main` function or check with `--crate-type lib`
[code]

[2021-12-09 22:53] agausmann commented on #91722
I agree with with @Patrick-Poitras - I suspect that `default_read_to_end` passes a buffer that is less than 4 bytes, which is rejected by the [`Read` impl for the Windows `Stdin` type](https://github.com/rust-lang/rust/blob/0b42deaccc2cbe17a68067aa5fdb76104369e1fd/library/std/src/sys/windows/stdio.rs#L212).

[2021-12-09 23:00] Patrick-Poitras commented on #91722
I'm going to try to tinker with the code and see if I can get it to disappear by replacing line 369 with a <4 instead of ==.

Will report findings shortly.

[2021-12-09 23:03] Alexendoo commented on #72845
Good catch, the [test case](https://github.com/rust-lang/rust/blob/0b42deaccc2cbe17a68067aa5fdb76104369e1fd/src/test/ui/const-generics/issues/issue-72845.rs) is slightly different to the one in glacier

[code]

[2021-12-09 23:17] steffahn commented on #74836
I’m unfamiliar with the compiler-internal mechanisms that are relevant here. From a user-perspective, the situation is – in my opinion – as follows
* for `[CONST; N]`, it feels unintuitive that the case `N == 0` would be special in instantiating the constant a different number than exactly `N` times. I.e. I _don’t_ think, `[CONST; 0]` should create an instance of `CONST` (with the effect of callin

[2021-12-09 23:25] leonardo-m opened #91725 "Another mir-opt-level=4 miscompilation"
This is a bad bug report because the code to reproduce it is long. But I'm bad at spotting what the problem is here.

If I compile this code with

`rustc -O -Z mir-opt-level=3 test.rs`

It runs very quickly. If I compile it with:

`rustc -O -Z mir-opt-level=4 test.rs`

I think it goes into an infinite loop.

I think the miscompilation problem is in the "while b != 1" loop inside the residue() func

[2021-12-09 23:47] matthiaskrgr commented on #91725
What is this mir-opt-level=4? Is this new? I have only heard of up to 0-3.
It is not an alias for -Zunsound-mir-opts, is it?  :D

[2021-12-09 23:52] leonardo-m commented on #91725
I think the old "mir-opt-level=3" got renamed "-Z mir-opt-level=4" recently, few months ago. I think they got shifted by +1 :-)

[2021-12-10 00:07] tmiasko commented on #91725
[code]

[code]

[2021-12-10 00:12] leonardo-m commented on #91725
Is that a minimization? In the original code I think there are no references "&a".

[2021-12-10 00:41] ehuss commented on #91700
Closing as a duplicate of #91663.

[2021-12-10 00:41] #91700 closed

[2021-12-10 00:42] ehuss commented on #91702
Closing as a duplicate of #91663.

[2021-12-10 00:42] #91702 closed

[2021-12-10 00:43] CAD97 commented on #91436
Indeed.

[2021-12-10 00:43] #91436 closed

[2021-12-10 00:48] ehuss commented on #91708
Thanks for the report! I'm going to close as a duplicate of #91663, since I'm pretty certain that is the cause.  As a short-term fix, running `cargo clean` should fix it (and avoid running older versions of rustc).  The next nightly (in about 24 hours from now) should have a fix.

[2021-12-10 00:48] #91708 closed

[2021-12-10 00:57] daxpedda commented on #43781
Currently `#[cfg(any(feature = "danger", test))]` shows up as:
<img width="392" alt="grafik" src="https://user-images.githubusercontent.com/1645124/145498862-dd978a31-3e11-4429-abc4-2c82094ae608.png">

I know `doc_cfg` allows to overwrite, but whats the purpose of showing the `test` tag in documentation?
Is there already an opinion on this matter that I missed?

[2021-12-10 00:59] thomcc commented on #32976
Sort of, but also sort of not. I think `#[cfg(accessible)]` is a worse API for this, because it's very easier to check the wrong thing (in this case).

Right, so: `target_has_atomic` doesn't match libcore's atomic types existing — `target_has_atomic_load_store` does — `target_has_atomic` matches libcore's atomic types existing and having RMW/CAS operations.

The distinction is somewhat important,

[2021-12-10 01:16] mark-i-m commented on #62924
I actually do like `min` and `max` better, but to play devil's advocate, some other options used in the std library:
- `Vec` (via `Deref` to `[T]`): `first`, `last`
- `LinkedList`, `VecDeque`: `front`, `back`

[2021-12-10 02:09] jyn514 commented on #43781
Happy to take a PR for that :) look in src/librustdoc for where it checks whether `cfg_hide` is active and add `test` to the default set.

[2021-12-10 02:20] martinellison opened #91730 "Nightly compiler panic in tracing-error 0.1.2"
[code]

### Meta> rustc --version --verbose
[code]

[2021-12-10 02:22] martinellison commented on #91730
[code]

[2021-12-10 02:30] ssomers commented on #62924
Those other options are listed in the "Unresolved Questions" and elaborated in #65637, but we're missing substantial arguments for or against them.

I don't understand @matklad's argument against first/last: in my culture, ascending order is the default, so I don't see anything unexpected or ambiguous about first/last. Looking at [a much older comment against min/max](https://github.com/rust-lang/

[2021-12-10 02:36] martinellison commented on #91730
seems to be the omicron of rustc bugs, see for example #91663.

[2021-12-10 02:36] #91730 closed

[2021-12-10 02:53] martinellison commented on #91663
This seems to be the omicron of rustc bugs.

[2021-12-10 02:56] camelid commented on #91347
@notriddle there are several issues which I think are duplicates of this and thus fixed by your change, but I'm not certain. Can you let me know if these can be closed?

- #80737
- #76590
- #78160

[2021-12-10 03:10] camelid opened #91731 "rustdoc: Add internal lint / tidy check for `Rc` fields in `Context`"
Not sure if it's worth it, but opening this so I don't forget.

[2021-12-10 03:11] camelid opened #91732 "Allowing/denying rustc internal lints silently fails"
[code]

[2021-12-10 04:21] Lokathor opened #91733 "request: add `remainder` method to `core::iter::Split`"
It would be very helpful if the `Split` iterator let you get back the currently remaining slice. There's `splitn` when you know ahead of time the number of splits you need, but sometimes you don't, and you need to dynamically determine when to stop splitting.

[2021-12-10 05:06] wcampbell0x2a opened #91734 "ICE: assertion failed: sentinel == STR_SENTINEL"
This is while compiling my project: https://github.com/rsadsb/adsb_deku, on the lastest nightly. This looks to be an issue with `proc-macro-crate`, which is from the `deku` proc-macro crate.

### Meta

`rustc --version --verbose`:
[code]

### Error output

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-10 05:09] wcampbell0x2a commented on #91734
Duplicate of: https://github.com/rust-lang/rust/issues/91689 and https://github.com/rust-lang/rust/issues/91663

This recommends `cargo clean` which fixed this issue.

[2021-12-10 05:09] #91734 closed

[2021-12-10 07:35] guoyucode opened #91736 "opt-level = 'z': The compilation is successful and an error is reported when running"
### Code

[code]

### Meta

`rustc --version --verbose`:
[code]

### Cargo.lock

[code]

<details><summary><strong>Backtrace</strong></summary>
<p>

[code]

</p>
</details>

[2021-12-10 07:59] tmiasko commented on #91725
The `ConstPropagator::eval_rvalue_with_identities` attempts to evaluates constant expressions  where only one of operands is known using algebraic identities, but it incorrectly reports success when such an attempt fails.

When a reference to a local variable is taken, the const propagator considers its value to be unknown. The example takes a reference to `a` to introduce an evaluation failure of

[2021-12-10 09:09] daxpedda commented on #43781
I looked into it, it seems to me that it's a bit more complicated. `cfg_hide` only filters out exact matches, so filtering `test` won't filter test out of `any(feature = "x", test)`.

[2021-12-10 09:09] matklad commented on #62924
To clarify, a counter example to “ascending is default” is `BinaryHeap::pop` which counter-intuitively yields the largest item. That is, I agree that in principle “first=min” is a good intuition, but we’ve already messed that up elsewhere, so it is not a reliable intuition sadly.

But I don’t feel super strongly here: it might be argued that that’s just a mistake in BinaryHeap design, and that it

[2021-12-10 09:19] avl commented on #62924
BinearyHeap is specified to be a "max-heap", which means it yields the largest/max item first.

BTreeMap is sorted in ascending order, so when iterated it yields the smallest/min item first.

I think this makes sense. Not every collection has to be in ascending order, but for those which are (like BTreeMap), the first item will always be 'min'.

Couldn't there exist both a 'min' function and a 'fi

[2021-12-10 09:31] baekhyunee7 opened #91738 "Rust 2021 compile error on WSL2 Unbuntu"
After I update  rust version to 2021, I got compile error on WSL2 Unbuntu:
[code]

[2021-12-10 09:34] ogoffart commented on #84970
Small side issue in the error message text: the project name in the suggestion is not correct because the dashes are replaced by underscore.
For example, the error message contains this line

[code]

but then, typing

[code]

[2021-12-10 09:40] joIivier commented on #91738
It looks like a duplicate of #91663 , `cargo clean` might fix your issue as well.

[2021-12-10 09:44] Ralith commented on #62924
There would inevitably arise code that uses both, which would then be unnecessarily confusing.

[2021-12-10 09:55] daxpedda commented on #43781
After contemplating a couple of solutions, I was wondering if we shouldn't fix this behavior on a different level. Currently `#![doc(cfg_hide(feature = "x"))]` won't hide `x` in `#[cfg(any(feature = "x", feature = "y"))]` or `#[cfg(all(feature = "x", feature = "y"))]`. `cfg_hide` only works on exact matches, does that make sense?

The most straightforward way to me to implement this is to transfor

[2021-12-10 10:19] AlessioZanga commented on #62924
If we observe the problem in the broader context of the `std::collections`, methods like `first` and `last` are intuitively associated with collections that have a notion of `Index` like `Vec`, while `min` and `max` depends on the mathematical property of `Ord` like `BTreeSet`.

This naively imply that the problem itself depends on the properties of the underlying collection, but having an index a

[2021-12-10 10:22] Nemo157 commented on #43781
@daxpedda since it looks nontrivial, could you open a separate issue to discuss it on?

[2021-12-10 10:25] Ralith commented on #62924
This doesn't make sense to me. The minimum of a set of `Reverse<T>`s is perfectly well defined and straightforward: it's the maximum of the `T`s.

[2021-12-10 10:32] ViliusN opened #91739 "Compiler error after moving some files"
### Code

It's a rather messy project, and I have been moving some files around, so it would just take too much work to isolate the code, sorry.

### Meta
`rustc --version --verbose`:
[code]

### Error output

[code]

[2021-12-10 10:45] AlessioZanga commented on #62924
Sorry, typo, I meant **`Index`** does not imply an ascending order in general. As @matklad said:

The point is since `first` *does* imply `min` in the context of `BTreeSet`, but not in general for `std::collections`, choosing `min/max` over `first/last` would only make the collections more heterogeneous.

[2021-12-10 10:52] zseri commented on #90286
Could, as a temporary somewhat-partial mitigation, the `as_ref` suggestion be downgraded from {points directly at a (currently wrong) location in the code} to {it is suggested in a note that an as_ref should be inserted near the highlighted code, but without a direct pointer with +++}?. That would reduce the confusion a bit, I suppose.

[2021-12-10 10:52] daxpedda commented on #51561
In [derive-where](https://crates.io/crates/derive-where) we wanted to use this to properly implement `PartialOrd` and `Ord`, doing this manually is ugly and might even lead to bad codegen:
[code]
Versus:
[code]

The argument against it because of stability is a bit confusing to me, to quote Rusts standard library [`mem::discriminant`](https://doc.rust-lang.org/core/mem/fn.discriminant.html#stabili

[2021-12-10 11:04] daxpedda opened #91740 "Remove `cfg(test)` from `doc_auto_cfg`"
From https://github.com/rust-lang/rust/issues/43781#issuecomment-990466461 and https://github.com/rust-lang/rust/issues/43781#issuecomment-990794133.

Currently `#[cfg(any(feature = "danger", test))]` shows up as:
<img alt="grafik" width="392" src="https://user-images.githubusercontent.com/1645124/145498862-dd978a31-3e11-4429-abc4-2c82094ae608.png">

This seems to be undesired behavior. I'm not fa

[2021-12-10 11:21] dotdash commented on #85265
IIRC the benchmark suite only tests the compiler's performance when checking/compiling code. The performance of the generated code is only indirectly measured by that (as the compiler compiles itself), but since these ABI change can enable (or block) a number of optimizations, that might affect the performance of the LLVM part of those build, so I'd take those results with a grain of salt.

[2021-12-10 11:21] terrarier2111 commented on #91434
@rustbot claim

[2021-12-10 11:25] ssomers commented on #62924
Like there exist identical `iter().min()` and `iter().next()` functions. But that is imposed by the `Iterator` trait.

It makes sense to me, but if it is important, shouldn't there be some sort of "bidirectionally iterable" trait, complete with `first` and `last` shortcuts (without `Ord` bound though), implemented by pretty much every collection, or at least those with a predictable order?

[2021-12-10 11:39] jmlMetaswitch commented on #62924
I don't want to delay this over a semantic argument, given the inconsistency in all of the other collection types, and especially the Ordering trait.

However, to illustrate the point being made by some of us here, imagine a BTree of elements of type "colours of the rainbow".
* We can set a direction here, red before blue, and define Ordering for the type. I don't know if every culture uses that o

[2021-12-10 11:48] Patrick-Poitras commented on #91722
I can confirm that the bug no longer occurs if line 369 is replaced with

[code]

I don't know if that fix is serviceable, or if this breaks other things. I'll run tests and if that works I'll create a pull request.

[2021-12-10 11:51] avl commented on #62924
Are you saying that Ord doesn't imply that there is a 'minimum' element, just that there is always one which comes before all others?

In your example with the colors, I think it's reasonable that a type-conversion from "color" to "frequency" does not preserve ordering. For example, converting the i32-values 19i32 and 2i32 to String would change their ordering, but that doesn't mean that a set of