[2017-08-29 15:12] nikomatsakis commented on #43865
Note that in that code I kind of "normalized" early-bound-regions by synthesizing a `BoundRegion` for them (even though the actual data structure doesn't have one). I'd have to work through the rest of the code but it seems likely that doing such a normalization will make the rest somewhat simpler.

[2017-08-29 16:00] #44151 closed

[2017-08-29 16:11] cramertj commented on #44145
Duplicate of https://github.com/rust-lang/rust/issues/43396.

[2017-08-29 17:11] arielb1 opened #44159 "Spurious failure while installing deploy dependencies"
Found in #43938

[code]

[2017-08-29 17:51] arielb1 commented on #35946
@huntiep feel free to ping me on IRC.

[2017-08-29 17:57] nikomatsakis commented on #42868
@SimonSapin

I believe there exists a workaround to force early-bound lifetimes at a time when they are appropriate. Are you blocked on this point? In particular, you could do something like `where 'static: 'a`, which would force `'a` to be early bound (because it appears in a where-clause).

The definition of late bound lifetimes, really, is that they are those lifetimes that both:

- Lifetimes t

[2017-08-29 18:01] durka opened #44161 "change `define_maps!` syntax to include `fn` preceding `$name`"
In this macro:
https://github.com/rust-lang/rust/blob/faf477a8c232d0442d16a4025f49d3ae1519131e/src/librustc/ty/maps.rs#L566-L569

This will make it easier to grep for a symbol without knowing whether it is a regular function or a query.

Also consider changing the name from `define_maps!` to `define_queries!` (and the module name as well?).

As discussed on IRC with @eddyb and @nikomatsakis.

[2017-08-29 18:03] steveklabnik commented on #34344
This now compiles, closing!

[2017-08-29 18:03] #34344 closed

[2017-08-29 18:05] SimonSapin commented on #42868
I am stuck in the sense that I have warnings that I don’t know how to work around, don’t understand in the first place, and that say “it will become a hard error in a future release”.

[2017-08-29 18:09] nikomatsakis commented on #26925
@comex I'll explain as best I can. The truth is that I feel a bit out of my depth on this topic! I've been trying to gain a deeper understanding for some time but still don't feel I have it.

As far as unsoundnesses go, consider for example, https://github.com/rust-lang/rust/issues/29859 and https://github.com/rust-lang/rust/issues/43784. These were both soundness violations that were related to t

[2017-08-29 18:11] nikomatsakis commented on #26925
@elidupree

Well, at the moment, we don't have a better option anyway. If we had one, we could try to debate when we might be more flexible. What I would personally like to do, at least for now, is to *at least* make it easy to "opt out" from having requiring that your type parameters be clone.

e.g.:

[code]

This would result in an impl like:

[code]

Not ideal, but at least it'd be easy to fix

[2017-08-29 18:14] nikomatsakis commented on #42183
@droundy

My point is merely that we cannot always synthesize impls. I might be fine with saying "when the traits meets the required criteria, we will permit `|` types in impl trait", but then this becomes a "silent propery" of the trait that one must be careful not to violate. We have some precedent fro this (object safety), but it's not one of the most loved features of the language (for many re

[2017-08-29 18:14] kennytm commented on #44159
The error means the gem repository is not up-to-date, and a retry will usually fix it. This happened at least twice before:

* https://github.com/rust-lang/rust/pull/43114#issuecomment-315191182
* https://github.com/rust-lang/rust/pull/44012#issuecomment-324242882

Maybe we could do something like `gem update` before deploying to S3.

[2017-08-29 18:37] jakllsch opened #44163 "extended build fails when docs disabled"
Building with config.toml adjusted such that `extended = true` and `docs = false` results in the build failing when creating the combined installer due to it trying to integrate the non-existing docs tarball.

[2017-08-29 18:39] eddyb commented on #44163
cc @rust-lang/infra

[2017-08-29 19:03] arielb1 commented on #44077
Shouldn't we instead make the "lockstep upgrade" experience easier? I think the PR author is often in the best place to fix Rust breakage. How big of a concern is this in practice?

[2017-08-29 19:05] Manishearth commented on #44077
Agreed. For clippy at least, _most_ breakages are of the kind where the PR author has actually already made similar fixes to `librustc_*` so fixing clippy is ~no effort. The _first_ option should be fixing clippy, but if it's nontrivial the option to disable it should be there.

[2017-08-29 19:56] cardoe commented on #38338
ping on possibly stabilizing this.

[2017-08-29 20:05] sfackler commented on #43079
@rfcbot fcp merge

[2017-08-29 20:30] sfackler commented on #42986
@rfcbot fcp merge

[2017-08-29 20:41] aturon commented on #33417
Reminder: not much is needed to unblock this one! If you're up for it, take a look at [@sfackler's summary](https://github.com/rust-lang/rust/issues/33417#issuecomment-306231905) and feel free to ping me or other libs team members for guidance.

[2017-08-29 20:46] alexcrichton commented on #41890
@rfcbot fcp merge

Seems like this may be good to stabilize!

[2017-08-29 20:49] aturon commented on #27705
The story here is pretty clearly settled: you can use the `ToSocketAddr` trait to convert from a string to get basic DNS. Full-blown DNS should live outside of `std`.

@rfcbot fcp close

[2017-08-29 20:49] aturon commented on #25663
We're pretty much committed to this.

@rfcbot fcp merge

[2017-08-29 20:49] zackmdavis commented on #44119
@nikomatsakis

Tracking issue is #43302, although I would argue that the currently-unreviewed #44103 (having the lint look at the operators) adequately solves the problem even if it's not the "automatic" implementation folks originally imagined.

[2017-08-29 20:56] alexcrichton commented on #41091
@rfcbot fcp merge

Hasn't changed in quite awhile and seems straightforward to stabilize!

[2017-08-29 20:58] nwin commented on #29646
Maybe I’m not seeing the point but as long as “Associated consts in const expressions must be concrete” is still a restriction I do not see any use of associated constants in traits.

Yet you can add them such that all of the error messaged presented in #32344 are still very there and very misleading.

Shouldn’t one simply forbid associated constants in traits unless that restriction is lifted? I

[2017-08-29 21:06] eddyb commented on #29646
@nwin It's not "in const expressions" - but rather "in types", i.e. array types.

[2017-08-29 21:38] nwin opened #44168 "Error message should be improved for associated consts in array lengths"
The [following code](https://play.rust-lang.org/?gist=d5d30215cf7e3eaa31458ac9aa670f46&version=nightly
)

[code]

results in an error “error[E0599]: no associated item named `LENGTH` found for type `T` in the current scope”. Which is not true, it just doesn’t work in arrays yet (see #29646). The error message should reflect that.

[2017-08-29 21:52] arielb1 commented on #42508
I think you could use something like `(parse_nested_block: fn(&mut Parser<'i, 't>, _))(...)` (using type ascription) instead of passing generic parameters. Ugly, but works

[2017-08-29 21:55] goffrie commented on #43205
Fixed in #44060.

[2017-08-29 21:55] #43205 closed

[2017-08-29 21:55] arielb1 commented on #42868
I think you could use something like `(parse_nested_block: fn(&mut Parser<'i, 't>, _))(...)` (using type ascription) instead of passing generic parameters. Ugly, but works.

[2017-08-29 22:00] arielb1 commented on #42868
Nope, that doesn't work for some reason.

[2017-08-29 22:18] vitalyd commented on #34344
@steveklabnik, what compiles? Associated consts in arrays still don't work.

[2017-08-29 22:34] dimbleby commented on #27705
I see two possible justifications for settling for this: one disappointing-but-reasonable, one surely wrong.  I'd like to check which (if either) we have in mind when closing this.

The 'disappointing-but-reasonable' position is: well, that's where we are.  It's true that the `ToSocketAddr` backdoor is unsatisfactory but we can't remove it because back-compatibility, so let's at least not make thi

[2017-08-29 22:44] steveklabnik commented on #34344
The example in the OP.

[2017-08-29 22:47] sfackler commented on #27705
Neither of those options are the justification:

The `ToSocketAddrs` implementation is nice for convenient use of sockets. It does what you'd expect most of the time.

There is a place for a more robust and featureful DNS API in the standard library, but no one has cared about it enough to actually do any of that design or implementation work.

[2017-08-29 22:51] vitalyd commented on #34344
Ah I thought you were referring to @RalfJung example right above, along with similar ones in this issue, which doesn't compile.

[2017-08-29 22:52] steveklabnik commented on #34344
If this should be re-opened thanks to those ones, then yeah, let's re-open it. I just knew the OP's code compiled

[2017-08-29 22:52] dimbleby commented on #27705
Isn't that saying exactly that the story is _not_ yet settled?  I mean that's also a reasonable position, but it seems to argue for keeping this issue open rather than for closing it.

[2017-08-29 22:55] vitalyd commented on #34344
Well I've seen this issue linked in various places when pointing people at the problem.  But if there's a more appropriate "master" issue then I don't see the point in keeping extra appendage ones open (as long as they link to the right one).  Your call.

[2017-08-29 23:54] alexcrichton commented on #42788
I'm personally no longer sold on the infrastructure that we've got here I think. I was initially hoping that we'd have *some* safe way of working with these APIs and such, but in the end it all turned up unsafe. In light of all that I'd personally advocate for much simpler API:

[code]

I don't think the complexity we have today is worth the cost currently, and I'd imagine that we could start maki

[2017-08-30 00:11] durka commented on #44161
There is this `$modifiers` thing, but it seems to be always empty in the current usage of `define_maps!`. Is it an artifact of history that should be removed?

[2017-08-30 00:24] #44120 closed

[2017-08-30 00:24] sfackler commented on #27705
The story of the specific functions for which this is a tracking issue is proposed to be settled. Feature requests tend to live on the rfcs repo.

[2017-08-30 00:24] #44140 closed

[2017-08-30 00:45] estebank opened #44170 "Support `?` operator in `for` loops"
Should the following be allowed?

[code]

Every now and then I encounter the need to iterate over `Result`s and end up having to write the following, which isn't onerous but is not ergonomic:

[code]

[2017-08-30 01:00] jimmycuadra commented on #33417
I didn't realize there was buy-in from the libs team that we could use @scottmcm's idea as a workaround for the bang type being unstable. I can work on a PR to make the changes @sfackler mentioned using the workaround.

[2017-08-30 01:02] aturon commented on #33417
Awesome, thanks @jimmycuadra!

[2017-08-30 02:57] ids1024 commented on #44170
This has been requested before: https://github.com/rust-lang/rfcs/issues/2012

[2017-08-30 03:11] estebank commented on #44170
@ids1024 thanks for linking to it! I'll close this ticket in favor of that RFC.

[2017-08-30 03:11] #44170 closed

[2017-08-30 03:38] SergioBenitez commented on #31844
@sgrif I believe the issue with your code there may be similar to the issue in https://github.com/rust-lang/rust/issues/31844#issuecomment-284235369 which @withoutboats explained in https://github.com/rust-lang/rust/issues/31844#issuecomment-284268302. That being said, based on @withoutboats's comment, it seems that the present local reasoning should allow your example to compile, but perhaps I'm

[2017-08-30 04:23] zmanian opened #44173 "Unclear error message on trailing semicolon in assignment block"
Consider this case
[code]

this results in the type checking error.

[code]

when the actual error is the trailing semicolon in `"bar";`

This is similar to #30497 but that handles the case of a function type signature not an assignment.

@Manishearth mentioned it might be easiest to introduce a lint. Looking for mentorship on contributing a fix.

[2017-08-30 04:25] sfackler commented on #41091
It seems mildly strange to me that these would live in `sync::atomic` since they don't deal with synchronization or atomicity in the traditional sense. I'm not sure where they *should* live though.

[2017-08-30 04:27] Manishearth commented on #44173
The way I see it there are two ways to go around this.

One is to introduce a function that will check if a def is an assignment and check if it's of this kind, and introduce it to every type error that this may affect (a lot of them).

Alternatively, just introduce an early lint that catches all assignments to a block evaluating to `()`. I don't think there are any good use cases of this outside

[2017-08-30 05:18] dtolnay commented on #41091
I am okay with the placement. As a data point, C++ has their equivalent std::atomic_signal_fence in `#include <atomic>` next to their equivalent of everything we have in std::sync::atomic.

[2017-08-30 05:30] #44132 closed

[2017-08-30 06:10] andjo403 commented on #44041
I'm very new to llvm and compilers but I was trying to see what the problem was with this so I was running:
"rustc -Cllvm-args='-print-after-all' -O --emit llvm-ir badopt.rs |& rustfilt" and get a part of the log that looks like this:
[code]
after the Combine redundant instructions (instcombine) pass there is no more Simplify the CFG (simplifycfg). To me it looks like instcombine change the CFG. B

[2017-08-30 06:27] oli-obk commented on #44173
We already have this lint in clippy: https://github.com/rust-lang-nursery/rust-clippy/wiki#let_unit_value

So it just needs to be moved to rustc

[2017-08-30 06:30] Manishearth commented on #44173
That lint's not useful here, it's post typecheck.

We need an early lint that checks the AST.

[2017-08-30 06:36] eddyb commented on #44041
@andjo403 Oh wow, that is very useful, thanks! I thought I was wrong in assuming that a very complex interaction between passes causes this result. Those are consecutive passes, right?

I don't understand how there's more basic blocks *after* instcombine. Looking more at it, the `.1`, `.2`, `.3` and `.4` suffixes suggest loop unrolling, but instcombine shouldn't do that AFAIK.

[2017-08-30 06:43] jethrogb opened #44175 "Stable documentation contains broken links to nightly documentation"
On the stable [std::fmt::Debug](https://doc.rust-lang.org/stable/std/fmt/trait.Debug.html#implementors) page, under implementors, there's a bunch of links to the nightly documentation of the in-tree rand crate. What's more, the links don't work.

This first appeared in the [1.16 docs](https://doc.rust-lang.org/1.16.0/std/fmt/trait.Debug.html#implementors). Problem still exists in [beta](https://do

[2017-08-30 06:50] andjo403 commented on #44041
I added -print-before-all also and then there is an Unroll loops between the passes from the log before so instcombine is not the problem. new log:
[code]
apparently Unroll loops do not make a IR dump after the pass strange.

[2017-08-30 06:56] zuijiaoluo opened #44177 "There is a typo in the document"
This is not a big bug, but we hope to be rigorous. Please don’t take offense.
![image](https://user-images.githubusercontent.com/22735208/29859180-6aa95e88-8d93-11e7-9401-6c13f53a7ceb.png)

[2017-08-30 07:04] eddyb commented on #44041
Okay, so the question is why would loop unrolling not have a CFG simplification pass after it?

[2017-08-30 07:09] kennytm commented on #44175
Duplicate of #43701.

[2017-08-30 07:10] eddyb commented on #44041
This seems like the right combination of passes: https://github.com/rust-lang/llvm/blob/d9e7d2696e41983b6b5a0b4fac604b4e548a84d3/lib/Transforms/IPO/PassManagerBuilder.cpp#L782-L790

Also good here: https://github.com/rust-lang/llvm/blob/d9e7d2696e41983b6b5a0b4fac604b4e548a84d3/lib/Transforms/IPO/PassManagerBuilder.cpp#L620-L625

This on the other hand looks bad: https://github.com/rust-lang/llvm/b

[2017-08-30 07:14] kennytm commented on #44177
The typo is in https://www.rust-lang.org/zh-CN/faq.html.

The issue should better be filed on [rust-lang/rust-www](https://github.com/rust-lang/rust-www/issues). Or even better, you could simply edit https://github.com/rust-lang/rust-www/blob/master/zh-CN/faq.md and submit a pull request there 😄.

[2017-08-30 08:01] #43420 closed

[2017-08-30 08:22] oli-obk commented on #44077
While there's no one file to rule them all right now, it would be as easy as flipping [this boolean](https://github.com/rust-lang/rust/pull/43886/files#diff-741df85f1b7f8f412d949b20c8cde7d1R351) in order to disable it (right now it is disabled).

We could move that associated constant to be a trait method, and offer a simple way to query the central "known to fail" file.

[2017-08-30 08:37] gnzlbg commented on #34344
I think we should fill a different issue to improve the error message that @RalfJung mentions.

Associated consts work in constant expressions today, what doesn't work is using them from a type parameter in type position IIRC. Fixing this is not part of the original example, and we should track that in a separate issue as well.

[2017-08-30 08:45] amarao opened #44178 "ICE on out of memory error"
Hello.

I've played with rust, and when I've tried to push too many things in `Vec`, it cause Rust to made out of memory error. That was fine. But that it said that there was an 'Ilegal instruction' and that core was dumped.

Final of strace output on the binary:
[code]

Final of backtrace in gdb:

[code]

gdb's `layout asm` shows:
[code]

Why Rust calls for 'ud2' instruction which is intended to

[2017-08-30 09:10] fweimer commented on #27705
I find the terminology here confusing. A lot of programmers need host name lookup, and they need to resolve host names according to the system configuration, which usually includes more than just DNS, and can end up performing exotics such as LDAP or NIS lookups. These kinds of lookups are limited in the types of data they can process (basically, just names, addresses, and, to some degree, host al

[2017-08-30 09:35] oli-obk opened #44179 "StorageLive and StorageDead annotations in generators are wrong"
The generator

[code]

produces the following MIR:

[code]

Note the assignment to `_3` in `bb2`, which is not preceded by a `StorageLive` in this invocation of the generator.

Full example in the playground: https://play.rust-lang.org/?gist=680d18fb9f9bdc91ab969fdbd8bb72a2&version=nightly

cc @Zoxc

[2017-08-30 09:39] Keats opened #44180 "Bad output of variants in Rustdoc"
See https://docs.rs/pest/1.0.0-beta.7/pest/enum.Error.html for example and a screenshot below

![2017-08-30-183517_758x350_scrot](https://user-images.githubusercontent.com/680355/29865992-fecdef20-8db1-11e7-9d74-8ae5c5d5b2a1.png)

This happens on both Chrome and Firefox. The alignment between the [-] and the text is also off but it could be due to other CSS issues as the [+] is correctly aligned.

[2017-08-30 09:42] oyvindln commented on #41160
So I found that adding `*&` like this (forces a move?):

[code]

evades the extra stack copy. (This doesn't work with references.)
Using a const value as the parameter also avoids it:
[code]

With an struct containing an array (at least a simple one), it there's some similar behavoiur:
[code]

So there seems to be some oddness with copy-propagation of array types. I couldn't get any of this to wor

[2017-08-30 10:11] nagisa commented on #41160
This promotes the array to a static variable rather than initialising it on the stack.

[2017-08-30 11:25] steveklabnik commented on #44180
Which version of `rustdoc` did you use to generate these docs?

[2017-08-30 11:26] steveklabnik commented on #44177
Yup! @zuijiaoluo thank you for pointing this out, but this is the wrong place, as @kennytm mentions. A bug over there or a PR would be great, thank you!

[2017-08-30 11:26] #44177 closed

[2017-08-30 11:42] plietar opened #44181 "ICE with generators and impl Trait: "Cannot create local trans-item""
I've hit an ICE with the new generator support that has just landed (nightly c11f689d2 2017-08-29).

I've reduced it to the following :
[code]

[code]

[code]

This is essentially the same issue as #43135. I can't reproduce the original ICE with closures as described there, but I run into it with generators.

[2017-08-30 11:44] plietar commented on #43135
I can't reproduce the original ICE, which was presumably fixed by #43857. This issue can probably be closed.

I'm however running into this ICE with generators, and have opened #44181 for that.

[2017-08-30 12:05] sdroege opened #44182 "rustdoc: Does not list impls on type aliases"
Happens with https://github.com/sdroege/gstreamer-rs/tree/52c013b8348ab3a98bb8475916aa306a3fc664de

If you check gstreamer/src/caps.rs, it has `impl Caps`, where `type Caps = GstRc<CapsRef>`. That one shows up in the rustdoc index (when searching), but neither on the `Caps` type alias docs, nor on the `GstRc` docs.

In gstreamer/src/buffer.rs there is `impl GstRc<BufferRef>`. That one shows up in

[2017-08-30 12:25] leonardo-m opened #44183 "Binary size bloat in the last Nightly (Gnu64)"
In the current Nightly (gnu64 target) the sizes of the produced binaries has grown a lot (from 2017-08-27 to 2017-08-29 Nightlies).

The problem is visible in nightly-x86_64-pc-windows-gnu 1.21.0-nightly (c11f689d2 2017-08-29).

The test code is not critical, the problem is visible in all kinds of code, but you could use this:

https://gist.github.com/anonymous/324be5d846ea0a00cd2c5fed1ff747ea

Se

[2017-08-30 12:26] kennytm commented on #44180
This should be fixed in #43862...

[2017-08-30 12:58] Keats commented on #44180
Ah I only looked at the doc.rs output, I generated docs on nightly and it looks fine. On stable (1.19) the output is different but working as well.
Sorry for the noise!

[2017-08-30 12:58] #44180 closed

[2017-08-30 13:08] Eroc33 opened #44184 "ICE with generators: `Broken MIR: generator contains type ... in MIR, but typeck only knows about ...`"
This seems to be some sort of interaction with the `String` inside the `Command` enum in the following code as removing either variant stops the ICE from occuring.

Example:

https://play.rust-lang.org/?gist=1d2672fd04e7df3dccbaf140f99fa7f6&version=nightly

Gives an ICE `internal compiler error: /checkout/src/librustc_mir/transform/generator.rs:340: Broken MIR: generator contains type std::string:

[2017-08-30 13:17] nagisa commented on #44178
This is how `intrinsics::abort` is implemented. The described behaviour is expected in out-of-memory situations. It is not ideal and you will have to wait until fallible allocations are supported in containers for it to get better: https://github.com/rust-lang/rust/issues/29802.

[2017-08-30 13:17] #44178 closed

[2017-08-30 13:17] nagisa commented on #44184
cc @Zocx

[2017-08-30 13:18] nagisa commented on #44184
cc @Zoxc

[2017-08-30 13:25] gnzlbg commented on #38615
I ran into this too while trying to return a generator...

[code]
(The commented out line is the correct signature)

The error message is not useful, at all:

[code]

This error message is so bad that it should IMO block the stabilization of conservative impl trait (@withoutboats).

Also, when I click the E0564 on the playground it sends me to a page that doesn't contain an explanation for it. May

[2017-08-30 13:28] Mark-Simulacrum commented on #44183
Nominating. Perhaps @arielb1 or @alexcrichton could do some preliminary investigation?

[2017-08-30 13:32] gnzlbg commented on #43719
Looks like a duplicate of #38615

[2017-08-30 13:32] gnzlbg commented on #39722
Duplicate of #38615

[2017-08-30 13:35] gnzlbg commented on #38615
The issues #43719 and #39722 seem to be duplicates of this one.

I've just rechecked, and the playground does indeed have a bug (https://github.com/integer32llc/rust-playground/issues/207) in that the playground always links to the stable error explanations and not to the nightly ones when compiling with nightly.

However, the error at hand here, E0564, doesn't have an explanation at all.

Trying

[2017-08-30 14:00] alexcrichton commented on #44181
I believe this ICE is more related to "impl Trait" rather than generators, bug we'll find out!

[2017-08-30 14:29] alexcrichton commented on #44183
Regression was introduced by #44107

Before that we're at e266888 and the program listed here generates a 1.3M executable, and after a0c3bd2 it generates a 2.9M executable. Probably debuginfo, I'll keep looking

[2017-08-30 14:37] alexcrichton commented on #44183
Ok I don't think this is a regression.

The previous configure script [had an explicit clause](https://github.com/rust-lang/rust/blob/a0c3bd2d23f6d08ecf9b4191ee4fff5866a120d1%5E/configure#L557-L562) to disable line debug information in nightlies due to a bug that was fixed long ago. The rewritten configure script is generating the debuginfo for the standard library on nightly like all other target

[2017-08-30 14:37] #44183 closed

[2017-08-30 16:29] Mark-Simulacrum commented on #44077
The constant is supplemented by the default_condition method on the `ShouldRun` struct.

[2017-08-30 16:31] oli-obk commented on #44077
That is only called if the constant is `false`

[2017-08-30 16:32] QuietMisdreavus opened #44187 "rustdoc doesn't render constness of bare functions on nightly"
On today's nightly docs for `std::mem::size_of`:

![image](https://user-images.githubusercontent.com/5217170/29883676-a2ead6f4-8d76-11e7-9207-c05aa4bece97.png)

But if you click `[src]`, you can see that it's supposed to be const:

![image](https://user-images.githubusercontent.com/5217170/29883701-b1fcc31e-8d76-11e7-8230-8ea2e6f0f19f.png)

Rustdoc is supposed to print the constness of functions o

[2017-08-30 16:32] arielb1 commented on #44184
So this the annoying `match` drop ordering having a (very) bad interaction with liveness.

The problem is that bindings in `match` expressions have a single "shared" destruction scope for their locals, so this:
[code]

is lowered into this (pre-drop-elaboration):
[code]

Here `_name` is dropped while potentially uninitialized. This has caused me quite a few annoyances before.

It does not cause un

[2017-08-30 16:34] Mark-Simulacrum commented on #44077
No? The should_run is called for all `Step`s and information is stored; the information is [read here](https://github.com/rust-lang/rust/blob/bef07b859dc1aad3a8a23ec8890dae1999c58032/src/bootstrap/builder.rs#L160) when no paths are passed; if `DEFAULT && default_condition` then we run the step by-default.

[2017-08-30 16:34] arielb1 commented on #44184
If we don't want to do that, another way would be to take a trick from LLVM, and use `storagelive` to help guide liveness.

[2017-08-30 16:41] oli-obk commented on #44077
Oh. I totally misread those docs then. Thanks.

[2017-08-30 16:47] jonhoo commented on #41091
@sfackler: I completely agree, and had the same reservation when I first implemented this. But as you say yourself, it's unclear where else this somewhat weird function should go.

[2017-08-30 17:01] sfackler commented on #41091
Yeah, given that C++ sticks it in `atomic` `std::sync::atomic` seems like the least bad place.

[2017-08-30 17:14] Gankra opened #44188 "Confusing Behaviour With Methods Impl'd on Trait Objects"
Something in our trait object lifetime elisions rules is acting super wonky.

[code]

[code]

Changing the `impl MyDisplay` to `impl<'a> MyDisplay<'a>` fixes this, for no particularly clear reason (both hey_there1 and hey_there2 have the same lifetime constraints...?).

[2017-08-30 17:15] Gankro commented on #44188
CC @jrmuizel

[2017-08-30 18:11] QuietMisdreavus opened #44189 "{MutexGuard, RwLockReadGuard, RwLockWriteGuard}::map"
Currently, the RefCell borrow guards have a function called [`map`](https://doc.rust-lang.org/nightly/std/cell/struct.RefMut.html#method.map) which allows you to transform a borrow of a whole struct to a borrow of one of its fields (or of some related reference with the same lifetime). Would it be possible to add these methods to Mutex and RwLock?

[2017-08-30 18:35] #43771 closed

[2017-08-30 19:06] alexcrichton opened #44190 "incremental: Hide lang_items behind a query in the TyCtxt"
Right now this is calculated and passed into the TyCtxt, let's convert this to a query and then calculate it on-demand!

This'll also allow us to remove `CrateStore::{lang_items, missing_lang_items}` and convert them to queries as well.

[2017-08-30 19:08] steveklabnik commented on #29563
tagging as p-low, @rust-lang/infra , let the docs team know when you want to collaborate on this

[2017-08-30 19:11] steveklabnik commented on #32243
This is a special case of https://github.com/rust-lang/rust/issues/31821, so closing as part of that.

[2017-08-30 19:11] #32243 closed

[2017-08-30 19:15] steveklabnik commented on #34607
untagging as docs as this isn't really our work to do

[2017-08-30 19:17] nikomatsakis commented on #42701
I think this is a good test case:

[code]

[2017-08-30 19:18] steveklabnik commented on #36318
I'm going to give this one a close, because it's not particularly actionable. If anyone wants to improve collections docs, please send in PRs for the improvements you want to see!

[2017-08-30 19:18] #36318 closed

[2017-08-30 19:19] steveklabnik commented on #36417
RFC was merged, closing as a duplicate of https://github.com/rust-lang/rust/issues/43466

[2017-08-30 19:19] #36417 closed

[2017-08-30 19:22] nikomatsakis commented on #44190
cc me

[2017-08-30 19:23] steveklabnik commented on #37147
Closing, as this is not super-actionable as is and many fixes have landed.

[2017-08-30 19:23] #37147 closed

[2017-08-30 19:24] steveklabnik commented on #37417
This is for an unstable feature which has changed a lot since this was filed, so closing as stale. As part of stabilizing we need to review all the docs anyway.

[2017-08-30 19:24] #37417 closed

[2017-08-30 19:25] steveklabnik commented on #37466
Marking as p-low; we have no idea how to fix this at this time, and there's already notes in the docs pointing out the strangeness here.

[2017-08-30 19:28] steveklabnik commented on #38241
This is the path we're gonna take, thank you!

[2017-08-30 19:28] #38241 closed

[2017-08-30 19:29] sfackler commented on #44189
It's come up before, but is unsound: https://github.com/rust-lang/rust/pull/30834#issuecomment-180284290.

[2017-08-30 19:30] steveklabnik commented on #39186
re-tagging as @rust-lang/libs ; would you like this to appear in the docs, or not? If so, we're happy to do it, but want to make sure to not over-specify.

[2017-08-30 19:33] steveklabnik commented on #39842
It's unclear to me how exactly the docs could be improved here; if someone has specifics, please open a bug with the exact details. Otherwise, seems like just an error! Closing. Thanks!

[2017-08-30 19:33] #39842 closed

[2017-08-30 19:37] steveklabnik commented on #40677
Closing this in favor of that RFC.

[2017-08-30 19:37] #40677 closed

[2017-08-30 19:39] steveklabnik commented on #41142
[code]

[2017-08-30 19:41] steveklabnik commented on #41326
Grammar stuff is in the reference now; we should remove the stuff in-tree.

[2017-08-30 19:45] steveklabnik commented on #41985
re-tagging this as diagnostic; we have already made the call regarding HRTB in the book, so this isn't really a docs issue.

[2017-08-30 19:49] steveklabnik commented on #42380
Update: yup, this is a major change, and so needs an RFC. Closing in favor of that!

[2017-08-30 19:49] #42380 closed

[2017-08-30 19:50] steveklabnik commented on #42412
@rust-lang/libs, should we do this or not? I share @nagisa 's concerns.

[2017-08-30 19:54] steveklabnik commented on #42628
I'd be happy to mentor anyone who wants to take this on! It mostly involves adding a small example to the docs, a great first issue!

[2017-08-30 19:55] nikomatsakis commented on #44161
@durka my expectation is still that we *will* use it, that's why it's not been removed yet, but I'm also ok removing it and adding it back later when we want it.

[2017-08-30 20:00] steveklabnik commented on #43154
Since this is mentioned in the book already, I'm giving it a close. Thank you, and sorry for the confusion!

[2017-08-30 20:00] #43154 closed

[2017-08-30 20:17] nikomatsakis commented on #44137
Here are some other fields that look suspicious to me:

- [ ] freevars
- [ ] maybe_unused_trait_imports
- [ ] maybe_unused_extern_crates
- [ ] normalized_cache
- [ ] inhabitedness_cache
- [ ] used_unsafe
- [ ] used_mut_nodes (https://github.com/rust-lang/rust/pull/43945)
- [ ] stability
- [ ] rvalue_promotable_to_static

Many of these follow the pattern of "maps produced by resolve that ought to b

[2017-08-30 20:41] est31 commented on #41326
In fact the file in question was removed by commit c3781e620084b2e2eba7e8a31b8248410ddca347 (PR  #41705). There's still grammar stuff in tree but that should be tracked by a separate issue. Closing.

[2017-08-30 20:41] #41326 closed

[2017-08-30 20:42] Boscop commented on #36283
Any update on this? :)

[2017-08-30 21:00] QuietMisdreavus commented on #34968
Since the second edition of the book doesn't have a dedicated section to conditional compilation, I'm moving the issue to the reference repo: https://github.com/rust-lang-nursery/reference/issues/103

[2017-08-30 21:00] #34968 closed

[2017-08-30 21:05] arielb1 commented on #44181
I think f2df18579b139216f15a2ea17e27bb980f02a0ab also needs to be adapted for generators.

[2017-08-30 21:06] QuietMisdreavus commented on #44189
Ah, curses. Thanks for the link; i'll go ahead and close this out then.

[2017-08-30 21:06] #44189 closed

[2017-08-30 21:13] QuietMisdreavus commented on #42484
So right now, the CONTRIBUTING.md includes a little note about `rustup toolchain link <name> build/<host-triple>/<stage>`, including a link to [a section in the rustup readme](https://github.com/rust-lang-nursery/rustup.rs#working-with-custom-toolchains-and-local-builds) about the linked toolchain feature. I'll take the opportunity to expand the note into its own section, though.

[2017-08-30 21:14] MarkMcCaskey commented on #42628
@steveklabnik I'd be interested!  Thanks!

[2017-08-30 21:34] leonardo-m commented on #44183
I have studied the situation, I think the reproducible performance difference is caused by very sensitive to tiny code changes workings of the LLVM optimization passes. Lot of time is spent in few tight loops, if the optimizes leaves or removes just few asm instructions in those, the performance of those programs of mine changes up to 20%. So no new bug report this time.

[2017-08-30 21:51] mattico opened #44193 "Add lint suggestion for integer to char cast"
Currently, code like `0xEF8888 as char` will give a generic `warning: literal out of range for u8` warning. It would be helpful to add a suggestion to use [from_u32](https://doc.rust-lang.org/std/char/fn.from_u32.html).

Inspired by this reddit post: https://www.reddit.com/r/rust/comments/6x1us8/literal_out_of_range_for_u8/

[2017-08-30 22:06] steveklabnik commented on #41060
i've moved this over to https://github.com/rust-lang-nursery/reference/issues/104

[2017-08-30 22:06] #41060 closed

[2017-08-30 22:07] steveklabnik commented on #36980
Closing in favor of https://github.com/rust-lang-nursery/reference/issues/24

[2017-08-30 22:07] #36980 closed

[2017-08-30 22:07] steveklabnik commented on #34968
This needs to be documented in the reference, so moving over to https://github.com/rust-lang-nursery/reference/issues/105

[2017-08-30 22:09] QuietMisdreavus commented on #42484
I've opened up https://github.com/rust-lang/rust/pull/44194 to expand the rustup note into its own section.

[2017-08-30 22:43] dimbleby commented on #27705
So, if I may so so, the communication has not been entirely clear.  But I think that the reasoning for closing this one is some combination of the 'disappointing-but-reasonable' position - essentially, that we are where we are and can't do much about that - and that: as a matter of policy, proposals to make things better no longer belong in this repository but instead should these days be tracked

[2017-08-30 23:17] Arnavion opened #44197 "`impl Generator` complains about missing named lifetime if yielded expression contains a borrow"
... even though the *value* of the expression does not borrow from anything.

[code]

---

[Case 1:](https://play.rust-lang.org/?gist=6c4d22c40cc0a3b9f5b36489f02f92ef&version=nightly)

[code]

This gives:

[code]

[Workaround:](https://play.rust-lang.org/?gist=48e1e4f7d0805703f5289cfdc4797855&version=nightly)

[code]

---

[Case 2:](https://play.rust-lang.org/?gist=a7ed4b022dc04a7ad9ee7972d2c4425c

[2017-08-30 23:23] TyOverby opened #44198 "Impl Trait ICE: escaping regions in predicate"
[code]

[2017-08-30 23:23] TyOverby commented on #44198
https://play.rust-lang.org/?gist=602356b6437467491e19f75528e70925&version=nightly

[2017-08-31 00:17] alexcrichton commented on #44197
cc @Zoxc

[2017-08-31 00:17] alexcrichton commented on #44198
cc @Zoxc

[2017-08-31 00:18] alexcrichton opened #44200 "Generators require extra-long lifetime for return statement"
When compiling:

[code]

I currently get:

[code]

Would be nice to not have to bind it to a local!

[2017-08-31 00:20] alexcrichton commented on #44198
Ah actually I believe this is an `impl Trait` bug, this code doesn't work:

[code]

yielding

[code]

whereas this code works:

[code]

(sorry for the stray cc @Zoxc!)

[2017-08-31 00:21] alexcrichton commented on #44197
This may or may not be the same as https://github.com/rust-lang/rust/issues/44200

[2017-08-31 00:25] Manishearth opened #44201 "Show better warning for trying to cast non-u8 scalar to char"
[code]

[Will warn "literal is out of range for `u8`"](https://play.rust-lang.org/?gist=d52387ce80384df52aedf3a2669dfa74&version=nightly) because `u8` is the only `as char` cast that is acceptable.

We should show a better warning and suggest the `\u` syntax instead.

[2017-08-31 00:33] alexcrichton commented on #44181
@arielb1 looks like [you're spot on](https://github.com/rust-lang/rust/pull/44202)! Thanks for the pointer!

[2017-08-31 01:12] briansmith commented on #33626
What needs to be done w.r.t. this feature before it can be put in Rust stable? I'd like to help with the stabilization effort so that it can be stabilized ASAP. Is the stabilization something that can happen in the impl period?

[2017-08-31 02:15] Zoxc commented on #44200
They way interior types are being calculated is a bit crude. It just walks all the nodes and consider them live for the scope temporaries would be. `a.len()` contains an implicit borrow of `a` and being the last statement of a block it inherits the scope for temporaries from the parent, and that scope contains a `yield`. This is not really a bug, but we'd like to find a better way to calculate the

[2017-08-31 02:30] Zoxc commented on #44197
Like #44200 this is due to how interior types are being calculated.
In both your examples `&baz` is considered a temporary and lives to the enclosing destruction scope, which are the yield statement and the if statement. Both of these contains a yield expression so `&str` is being considered part of the generator interior. Now `impl Trait` only allows explicitly named lifetimes in the return type

[2017-08-31 02:48] Arnavion commented on #44197
Just to be clear, you're only talking about the situation due to the bug with generators, right? Because in regular Rust the borrow of `&baz` is limited to the `foo(&baz)` expression and not any outer `match` / `if let` expression that it's part of. (Otherwise something like `if let Some(first) = iter.next() { if let Some(second) = iter.next() { } }` would not compile and complain about multiple m

[2017-08-31 02:53] Zoxc commented on #44179
Do we require StorageLive before using locals? or is the StorageDead without a StorageLive problematic?

[2017-08-31 03:46] CAD97 opened #44208 "Nightly regression - Option::cloned method resolution"
[unic-ucd-normal](https://crates.io/crates/unic-ucd-normal) (and thus the supercrate [unic](https://crates.io/crates/unic)) was compiling on `rustc 1.21.0-nightly (e26688824 2017-08-27)` but fails on `rustc 1.21.0-nightly (c11f689d2 2017-08-29)`. (This is with the unpublished version at https://github.com/behnam/rust-unic/tree/master/unic/ucd/normal only.)
[Passing build](https://travis-ci.org/beh

[2017-08-31 03:54] #44038 closed

[2017-08-31 03:54] #42493 closed

[2017-08-31 03:54] #29381 closed

[2017-08-31 03:57] Mark-Simulacrum commented on #44208
Nominating for @rust-lang/libs. Not sure if we can do much about this -- I'd expect this not to happen, as mutability shouldn't be inferred in most cases? A smaller example would definitely be helpful.

[2017-08-31 04:01] CAD97 commented on #44208
@Mark-Simulacrum I got one! It's a bit weird...

https://play.rust-lang.org/?gist=66baa5300ee64ed6a0b0888e76c17dbc&version=nightly

[code]

It seems to be caused by the two impls here, as removing the second eliminates the error (which is why I was having trouble finding a small reproduction)

[2017-08-31 04:02] Zoxc commented on #44184
@arielb1 By that do you mean adding `storagedead(_name);` before the switch or something else?

[2017-08-31 04:15] frewsxcv commented on #22569
Opened a PR for this: https://github.com/rust-lang/rust/pull/44209

[2017-08-31 04:37] Zoxc commented on #44197
@Arnavion It's not really a bug (just undesirable semantics), and you typically don't notice these rules unless the types involved have destructors (which references do not) and isn't immediately moved.

[2017-08-31 04:41] Arnavion commented on #44197
Okay, regardless of what we call it, it's something that happens only with generators and not with regular Rust code, so it would be nice to fix it.

[2017-08-31 05:12] eddyb commented on #33156
@rfcbot fcp merge

I propose that we implement the amendment and stabilize this feature now that the main blocker has been resolved - see https://github.com/rust-lang/rust/issues/33156#issuecomment-325289795 also.

[2017-08-31 05:21] lilianmoraru commented on #42646
@alexcrichton Can we re-enable `wasm32` in Travis now?

[2017-08-31 05:35] oli-obk commented on #44179
I think there are three things:

* StorageLive must come before using a local, if there is a StorageDead for the local
* StorageDead must come after a local, if there was a StorageLive for the local
* StorageLive must be followed by a use of the local

At least that's how we encoded those statements in miri, and all other Rust code adheres to it.

[2017-08-31 06:01] nrc opened #44210 "Error suggestions for import contain erroneous `derive`"
E.g.,
[code]

cc @oli-obk

[2017-08-31 06:02] nrc commented on #44210
The first non-comment, non-use line in the file is `#[derive(Debug)]`, which might be where this is coming from?

[2017-08-31 06:07] jimmycuadra commented on #27941
I think this issue has just gained some fire for prioritization with the recent introduction of generators and async/await.

See https://github.com/alexcrichton/futures-await/tree/e09c87c7aa796bf6e5b6d8d45d6cba2078d12210#borrowing for a motivating example for `self: Rc<Self>`.

[2017-08-31 07:04] eddyb commented on #33626
I'm not aware of anything right now. cc @alexcrichton @retep998

[2017-08-31 07:29] retep998 commented on #33626
Personally I'd like to see `#[repr(align(N))]` implemented first so we can ensure layout is working correctly with both of them.

[2017-08-31 07:38] eddyb commented on #33626
@retep998 Do you mean `#[repr(packed(N))]`?

[2017-08-31 07:42] behnam commented on #44208
It looks like the actual ambiguity is cause by having implementations for both `(char, V)` and `(char, char)` types, and is not actually about ref vs mut-ref; BUT, the error detection is confused and errs on the latter, instead of the former. It seems like this confusion could be the bug that needs to be fixed here.

[2017-08-31 08:01] ishitatsuyuki commented on #38528
Bump. This really hurts `impl Trait` (boxing hides this issue).

[2017-08-31 08:20] oli-obk commented on #44193
duplicate of #44201

[2017-08-31 08:35] arielb1 commented on #44184
Adding a `storagedead(_name)` before the switch would work (I think, LLVM semantics of `storagedead` aren't 100% clear).

But what I meant was that `rustc_mir::util::liveness` would do a "forward" dataflow pass - before its liveness pass - to find out where locals are not `storagedead`, and then during the "backwards" liveness pass, mark every local as dead in a cfg point if it is `storagedead.

[2017-08-31 12:06] bugaevc commented on #44198
Not related to generators, just an `impl Trait` bug:
[code]
[Playground](https://play.rust-lang.org/?gist=92e3600b9525a553489c63011b7e9375&version=nightly)

[2017-08-31 12:12] nox opened #44213 "#[must_use] now suddenly warns in nightly"
Building Euclid on nightly now produces a gazillion of warnings that were not there before.

[code]

Cc @nical @SimonSapin

[2017-08-31 12:15] SimonSapin commented on #44213
This is https://github.com/rust-lang/rust/pull/43776.

This warning shouldn’t become an error without a epoch/checkpoint since previous stable version accepted code that now warn.

Feature-gating with only a warning rather than an error is a bit pointless. I think #43776 should be reverted.

[2017-08-31 12:34] SimonSapin commented on #44213
Or at the very least, this should be made the kind of warning that doesn’t spam downstream users despite `--cap-lints=allow`.

[2017-08-31 12:54] pnkfelix commented on #37105
unassigning self.

I'm not sure we can reasonably expect to determine the underlying problem that has either been fixed or masked, since as far as I can tell, no one working on the rustc compiler has locally reproduced the problem.

[2017-08-31 13:23] kennytm commented on #44213
Both this and E0122 should repsect `--cap-lints`. There is nothing downstream can do with these warnings.

Did #43776 enter beta?

[2017-08-31 13:29] SimonSapin opened #44214 "`./x.py clean` does not clean LLVM, `./x.py clean -h` looks wrong"
In a clone of this repository that I hadn’t used for a long time, I ran `git pull` then `./x.py build`. The latter failed in the middle of building LLVM with:

[code]

Running `./x.py clean` and then `./x.py build` again did not help. It turns out that `./x.py clean` does not clean `build/x86_64-unknown-linux-gnu/llvm/build`. Removing everything with `rm -r build/*` "fixed" the issue.

I tried `./

[2017-08-31 13:57] vandenoever opened #44216 "Receiver::recv_timeout() returns instantly when duration overflows"
When Receiver::recv_timeout receives certain large values, it returns immediately. This is probably due to an overflowing value. Instead, when there is overflow, it should fall back to Receiver::recv.

[code]

Instant should probably not overflow like this:

[code]

[2017-08-31 14:10] alexcrichton opened #44217 "Remove stage0 allocator logic from MSVC in libstd"
We're updating the bootstrap compiler in https://github.com/rust-lang/rust/pull/44154 which attempted to remove the MSVC-specific logic [here](https://github.com/rust-lang/rust/blob/97b01abf3d222523d0db4f79c13ed45e7fef27e3/src/libstd/lib.rs#L320-L334) (added in https://github.com/rust-lang/rust/pull/43589) but I believe that caused [this failure](https://ci.appveyor.com/project/rust-lang/rust/buil

[2017-08-31 14:11] alexcrichton commented on #44217
cc @aidanhs

[2017-08-31 14:17] oli-obk commented on #35460
This seems to work now:

[code]

[2017-08-31 14:21] kennytm commented on #44216
The Instance addition should panic on overflow (try `u64::max_value()/2` instead of `u64::max_value()`). It seems there is some bug causing the panic not trigger.

[2017-08-31 14:41] alexcrichton commented on #42646
Unfortunately wasm32 is a "big enough" builder that it requires its own builder, which is much more of a significant investment than just having a standard library.

Did this regress though? I'd imagine that for all practical purposes having CI for asmjs is basically equivalent to CI for wasm

[2017-08-31 14:42] vandenoever commented on #44216
u64::max_value()/2 panics. u64::max_value()/4 is fine.

[2017-08-31 15:23] kennytm commented on #44216
Oops.

https://github.com/rust-lang/rust/blob/97b01abf3d222523d0db4f79c13ed45e7fef27e3/src/libstd/sys/unix/time.rs#L43-L45

If only we have `checked_cast`...

[2017-08-31 15:27] vandenoever commented on #44216
Why is it casting to i64?

[2017-08-31 15:40] kennytm commented on #44216
@vandenoever An `Instant` can represent time before the epoch, thus the number of seconds is a signed value. Arithmetic in Rust can only be performed between values of the same type, so the duration is cast to `i64`.

[2017-08-31 15:44] vandenoever commented on #44216
@kennytm I see. And the other cast `self.t.tv_sec as i64` is not usually a cast because tv_sec is time_t which is (usually?) i64.

[2017-08-31 16:11] RalfJung commented on #44179
See <https://www.ralfj.de/blog/2017/06/06/MIR-semantics.html> for some more information. miri doesn't actually care that a `StorageLive` is followed by a use, or that `StorageDead` is ever called -- but it does care that variables are marked live before they are used. The initial state of a variable (whether it is live or dead when the function starts) is determined based on whether there ever is

[2017-08-31 16:11] zackmdavis commented on #44213
Unfortunately, the "soft" feature-gate warning (which is [just a `.struct_span_warn`](https://github.com/rust-lang/rust/blob/97b01ab/src/libsyntax/feature_gate.rs#L1060)) is not respecting `--cap-lints=allow`. I can look into this tomorrow (if no one else scoops it up today).

[2017-08-31 16:37] lilianmoraru commented on #42646
@alexcrichton In my case, the asserts were failing only on `wasm32`: https://github.com/rust-lang/rust/issues/42518

[2017-08-31 16:47] RalfJung commented on #43973
@ids1024 You may like this: <https://github.com/japaric/xargo/pull/166>

[2017-08-31 16:49] alexcrichton commented on #44190
I've implemented this on a local branch, will post it soon

[2017-08-31 16:51] alexcrichton commented on #42646
Was that ever working though? In the sense that would we have caught a regression if we were running CI?

[2017-08-31 17:04] Mark-Simulacrum commented on #44214
I believe this is intentional; the help output could use work. @alexcrichton Is it worth cleaning LLVM as well? I doubt it'd be too helpful in most cases...

[2017-08-31 17:06] nikomatsakis commented on #40473
I have been talking to @qmx, who is going to take a look at implementing this. I'll leave some mentoring instructions shortly!

[2017-08-31 17:08] SimonSapin commented on #44214
Even if it’s not the default, there should be *some* way to do clean everything. (And the not-everything behavior should be documented.)

[2017-08-31 17:31] mattico commented on #44193
Yep!

[2017-08-31 17:31] #44193 closed

[2017-08-31 17:32] Eroc33 commented on #44200
@Zoxc
Is this likely the same thing going on here? https://play.rust-lang.org/?gist=e472b9056ecc590837db32b17108bfd3&version=nightly

[2017-08-31 17:52] Arnavion commented on #44200
@Eroc33 Yes, see #44197

[2017-08-31 18:02] kennytm opened #44221 "Spurious failure with stalled macOS builds (specifically the `check i686-apple-darwin` job)"
First seen on 2017 Aug 31st in:

* https://github.com/rust-lang/rust/pull/44129#issuecomment-326335465 (check i686)
* https://github.com/rust-lang/rust/pull/44171#issuecomment-326358984 (check i686)
* https://github.com/rust-lang/rust/pull/44129#issuecomment-326374205 (check i686 again)

**Symptom:**

The job just stopped in the middle with no output in 30 minutes without any reason. End of the lo

[2017-08-31 19:32] briansmith commented on #33626
Do you mean that you want to make sure that `#[repr(align)]` and `#[repr(packed)]` interact correctly? If so, It's definitely reasonable to want to ensure they interact correctly but if only one is implemented then I don't think it's the best trade-off to delay the stabilization of the first one implemented just for that.  In particular, I think the people like me who want `#[repr(align)]` often d

[2017-08-31 19:49] nossralf commented on #44041
So @andjo403 and I spoke about this at lunch the other day, and I took some time today to just add a CFG simplification pass at the places you outlined above to see what happened.

Turns out, adding it on line 633 after the unroll/instruction simplification fixes the issue. The resulting IR for the function reduces to:
[code]
which is what we want.

I suspect that the unroll on line 374 may in fac

[2017-08-31 19:56] rkruppe commented on #44041
That's great!

I can't help but notice, though, that the IR you showed could be simplified further by instcombine. Maybe it would make sense to add the simplifyCFG *before* the instcombine, or add another instcombine afterwards?

[2017-08-31 20:02] nossralf commented on #44041
I'll run a couple of builds trying that out.

[2017-08-31 20:16] nikomatsakis commented on #43613
We should retest -- @arielb1, have your various improvements landed? I'm assigning to us both to try and investigate.

[2017-08-31 20:17] nikomatsakis commented on #43126
Update: @pnkfelix mentioned to me that he was going to attempt to land a `-Z` flag that would let you disable `EndRegion` emission, so that we can test the impact more easily. I don't think this has happened yet.

[2017-08-31 20:17] nikomatsakis commented on #43126
https://github.com/rust-lang/rust/pull/44219 is the PR.

[2017-08-31 20:18] nikomatsakis commented on #36799
Update from compiler team mtg: No progress, I think.

[2017-08-31 20:23] nikomatsakis commented on #43834
@alexcrichton we were hoping to verify the results and make sure we at least know the cause. @pnkfelix has done some of the legwork here but I think we're still not clear that `EndRegion` is to blame, yet.

[2017-08-31 20:31] lilianmoraru commented on #42646
@alexcrichton I was just pointing that `asmjs` and `wasm32` are not equivalent - I myself hit an issue that was specific to `wasm32` only.
I can't answer if this would of caught a regression, though.

[2017-08-31 20:33] theduke commented on #41681
This was stabilized with 1.20 as far as I can tell?

[2017-08-31 20:34] alexcrichton commented on #42646
Oh yeah sure definitely!

I'm sure we'd catch bugs over time, but I'd personally sort of prefer to wait until we can make wasm a "true" tier 1 target by using the LLVM backend instead of going through emscripten, that may just take awhile :(

[2017-08-31 20:34] nikomatsakis opened #44224 "regression in method dispatch"
According to @SimonSapin, #43880 likely broke Servo's build. Servo itself is fixed in https://github.com/servo/servo/pull/18327, but I'm opening this issue to decide on whether this regression is a bug or expected behavior.

cc @arielb1

[2017-08-31 20:34] nossralf commented on #44041
Nice, simply moving SimplifyCFG up before InstCombine gives this:
[code]
Adding another InstCombine after the SimplifyCFG from my previous attempt gives the same output.

Not sure if there are situations where the longer incantation of Unroll>InstCombine>SimplifyCFG>InstCombine would be preferable to just Unroll>SimplifyCFG>InstCombine.

[2017-08-31 20:36] spacejam opened #44225 "request: allow `-fsanitize-blacklist=/path/to/blacklist/file` to squelch sanitizer false positives"
The LLVM sanitizers are invaluable tools while writing unsafe code. However, they are a bit naive, and don't pick up on things like raw memory fences or addresses accessed in safe ways, but without explicit atomic variables facilitating their access. This is a huge headache for people writing unsafe code, and they often ignore tsan because they would be underwater in false positives by using them.

[2017-08-31 20:37] alexcrichton commented on #44214
At this point this is just a historical artifact of how the bots used to work because we didn't want `make clean` to clean out the LLVM build directory. That doesn't actually matter any more so I think it'd be fine to update `make clean` to basically `rm -rf build`

[2017-08-31 20:37] nikomatsakis commented on #44005
triage: P-medium

I've not dug too deeply here. I do expect this would be addressed by the work I'm doing on reworking normalization, which will enable (among other things) normalizing under binders.

[2017-08-31 20:42] rkruppe commented on #44041
Yeah I'm unsure as well. InstCombine can also unlock opportunities for CFG simplfications (by simplifying branch conditions), so there no single right order. In fact, some of the PMB pieces @eddyb linked above run InstCombine>SimplifyCFG and others run SimplifyCFG>InstCombine (though none run IC>SimplifyCFG>IC, IIRC). Maybe LLVM developers have an idea? (Has someone already filed an LLVM issue for

[2017-08-31 21:05] alexcrichton opened #44226 "Switch the 'rls' component in the manifest to 'rls-preview'"
This is a tracking issue for work we should do in a few weeks time. Rustup recently gained the ability to support renames of components seamlessly. We're waiting for that support to propagate.

Once that's propagated (a few weeks from now) we'll change the name of the `rls` component to `rls-preview` on the nightly channel via a rename in the manifest.

I'm tagging this as a regression so we don't

[2017-08-31 22:30] nrc opened #44229 "Tracking issue (Rustdoc): hoedown -> pulldown migration"
If you've arrived via a warning and what to know what is going on, see [this comment](https://github.com/rust-lang/rust/issues/44229#issuecomment-326440429).

- [x] implement Pulldown rendering behind a flag (#40338, #41431)
- [x] implement warnings for changes (#41991)
- [x] begin warning cycle (#45324)
- [x] move to Pulldown by default (#47398)
- [x] remove Hoedown, the difference warnings, the

[2017-08-31 22:30] nrc commented on #44229
cc @rust-lang/dev-tools @rust-lang/docs

[2017-08-31 22:46] nrc commented on #44229
# What is happening?

We're changing the way that Rustdoc renders markdown in your docs. We're moving to use a new parser and renderer ([Pulldown](https://github.com/google/pulldown-cmark)) which is standards compliant (CommonMark), more robust, less buggy, and written in Rust. You can use Pulldown on nightly rustdoc by using the `--enable-commonmark` command line argument.

However, there are som

[2017-08-31 23:18] alexcrichton opened #44232 "Re-enable detection of unused library #![feature] directives"
Currently the compiler will warn users about unused `#![feature]` directives if they're (a) a library feature and (b) not actually ever used. The compiler doesn't currently warn you about unused `#![feature]` directives tied to language features.

In the process of making the stability annotations more incremental-friendly (https://github.com/rust-lang/rust/issues/44137) this check in the compiler

[2017-08-31 23:39] aidanhs commented on #44217
Well beta-2017-08-29 does seem to have the code in it, so...hmm - https://github.com/rust-lang/rust/blob/198109911681d6dc947bb1b05e77751733198f57/src/librustc_trans/back/symbol_export.rs#L87-L93

[2017-08-31 23:46] alexcrichton commented on #44217
Oh I should also clarify that I'm not even sure this is the actual bug. I'm likely to close this after further investigation of updating the bootstrap compiler...

[2017-09-01 00:34] alexcrichton commented on #44232
Note that this also applies to the lint of "this `#[feature]` isn't needed because it's stable", that gets emitted at most once but it's not clear how to do that any more.

[2017-09-01 00:53] alexcrichton opened #44234 "incremental: Initial "always dirty" queries"
In working on https://github.com/rust-lang/rust/pull/44142 I've come across the need/desire a few times to have "always dirty" nodes that are always recomputed at the base of the dependency graph. One example of this is handling today's `extern_mod_stmt_cnum` method.

Today there's a method `CrateStore::extern_mod_stmt_cnum`, but as part of https://github.com/rust-lang/rust/issues/41417 we want to

[2017-09-01 01:11] alexcrichton commented on #44217
Ok opening a new bug

[2017-09-01 01:11] #44217 closed

[2017-09-01 01:20] alexcrichton opened #44236 "Global allocator symbols aren't dllexport on MSVC"
But they need to be for the `dylib` crate type! (and only the `dylib` crate type). Not really a critical bug, but I'm tagging this with a FIXME in the code.

[2017-09-01 01:21] alexcrichton commented on #44217
I opened up https://github.com/rust-lang/rust/issues/44236, I think this *may* mean that `__rust` prefixes are the wrong ones and we're supposed to use the `__rg` ones, but there's no real motivation to fix this immediately so I'm not going to investigate further.

[2017-09-01 02:11] #43412 closed

[2017-09-01 02:49] frewsxcv commented on #42288
There is a PR open for this: https://github.com/rust-lang/rust/pull/43949.

[2017-09-01 03:33] nrc opened #44237 "Rustdoc unit tests not being run by Rustbuild"
As far as we could tell.

Currently, running `cargo test` in src/librustdoc seems to work, but there are some failures:

[code]

[2017-09-01 04:01] SimonSapin commented on #44224
The code that broke is:

[code]
[code]
[code]

I *think* the generated code would look something like this:

[code]

The error message in rustc 1.21.0-nightly (7eeac1b81 2017-08-30) was:
[code]

The fix was adding a new impl for `fn(&A) -> B`, in addition to the one for `fn(A) -> B`. Isn’t the former a subset of the types covered by the latter?

[code]

[2017-09-01 04:08] Mark-Simulacrum commented on #44237
Seems like more of an infrastructure team problem. Assigning myself, will hopefully have time before Monday.

[2017-09-01 04:19] nathanaeljones commented on #43888
I'm getting E0282 on `Result<Box<impl Trait>>` with 2017-08-30. It's a regression from 2017-08-20, I believe. Maybe related?

[2017-09-01 04:24] petertodd opened #44239 "Internal compiler error when attempting to implement an associated const with a local variable"
Specifically this code:

[code]

results in the following error message:

[code]

Expected behavior: While I can understand if this level of meta isn't possible, it should give a proper error message! :)

[2017-09-01 04:25] nathanaeljones commented on #43888
Is there any known workaround?

[2017-09-01 05:27] durka commented on #44232
Oh, so the "unused feature" lint is going to be disabled entirely? That could potentially unblock me over at https://github.com/rust-lang/rust/pull/43017#issuecomment-326433381 as I currently can't figure out how to correctly populate the side table you're talking about.

[2017-09-01 05:27] zackmdavis commented on #44213
_Also_ unfortunately, it doesn't look like the feature-gate machinery already has access to the lint-cap setting. I'm having trouble deciding whether it's less terrible/hacky/inelegant/unæsthetic to add it as another argument to [`feature_gate::check_crate`](https://github.com/rust-lang/rust/blob/69dbe6602ddc3/src/libsyntax/feature_gate.rs#L1633-L1637) as a field on [`ParseSess`](https://github.co

[2017-09-01 05:36] theduke commented on #41885
@F001 are you still working on this?

[2017-09-01 06:36] saintdev commented on #43545
Still failing for me with 1.20.0

[2017-09-01 06:36] F001 commented on #41885
@theduke I'm sorry, I have not wok on this for more than two months. And I guess I won't have enough time for the comming 2 months. I have updated my code on https://github.com/F001/librustc_platform_intrinsics, in a very early stage.

If anyone want to take this, that's OK. You can start from scratch or base on my project, it's your choice. I will probably come back to this issue at least 2 month

[2017-09-01 07:02] kennytm commented on #44213
@zackmdavis Is it possible to switch off the `can_emit_warnings` field of `errors::Handler` when it is constructed? The driver should know the `--cap-lints` level while constructing the `Handler`.

[2017-09-01 07:29] #22569 closed

[2017-09-01 07:29] #44161 closed

[2017-09-01 07:29] #44181 closed

[2017-09-01 08:42] infinity0 commented on #43593
This also caused test failures on armhf on Ubuntu because they pass `-Bsymbolic-functions` to `ld(1)`. (Debian does not, and did not see the test failures.) The PR fixes that too.

[2017-09-01 09:00] eddyb opened #44240 "Move standard macros and compiler-generated over to rvalue promotion."
Now that rvalue promotion is stabilized we can start using it instead of hacky inner `static`s (that show up in symbol tables, complicate future extensions, etc.), e.g. in `panic!` and `format_args!`.

[2017-09-01 09:51] nox opened #44241 "TokenStream should implement Extend"
[code]

This would allow https://github.com/servo/servo/pull/18340 to be written in a slightly better way.

[2017-09-01 10:01] kamarkiewicz opened #44242 "`f32::from_str` and `f64::from_str`: parser returned error on just a '.' (a dot)"
Hi! I found a mismatch between documentation and behavior of stable Rust.
When I tried to parse a string equal `"."` `f32/f64::from_str` returned `Err(...)` instead of `Ok(0.0)`, as it states in official documentation [here](https://doc.rust-lang.org/std/primitive.f64.html).

### Tests (based on mentioned doc)
`f32`: https://play.rust-lang.org/?gist=c7495df140e0991473fb914b0b468b34&version=stable

[2017-09-01 10:20] rkruppe commented on #44242
This is a docs issue. The libs team decided in https://github.com/rust-lang/rust/issues/30344 to consider `"."` an invalid input instead of parsing it as 0.

[2017-09-01 10:34] spacejam commented on #44225
setting this environment variable solves my issue fully:
`export TSAN_OPTIONS="suppressions=tsan_blacklist.txt"`
where the contents of `tsan_blacklist.txt` follow the syntax as described https://github.com/google/sanitizers/wiki/ThreadSanitizerSuppressions

[2017-09-01 10:34] #44225 closed

[2017-09-01 11:17] RalfJung opened #44243 "Incorrect error message when using associated type in const expression"
[code]
The associated type actually exists. So I started at this a while, wondering whether I just stopped knowing how to read...

(Originally reported at <https://github.com/rust-lang/rust/issues/34344#issuecomment-317902421>.)

[2017-09-01 11:17] RalfJung commented on #34344
I opened a new issue for the incorrect error at <https://github.com/rust-lang/rust/issues/44243>.

[2017-09-01 11:18] MaikKlein opened #44244 "eprint doesn't work inside the rustc_driver"
[code]
[playground](https://play.rust-lang.org/?gist=d595e29b78d6ea3c3d3d5698ff61d77e&version=nightly)

Is this expected?

[2017-09-01 11:24] nikomatsakis commented on #43542
@rkruppe

The whole goal is to move away from that strategy -- it is nondeterministic, and cycle recovery is problematic anyhow (we would like the invariant that "cycle detected => compile fails eventually"). My current plan is to do the following:

- compute the SCC as a query, starting from the "pre-inlining" MIR (this will wind up forcing the MIR for every function in the crate, unfortunately,

[2017-09-01 11:36] rkruppe commented on #43542
@nikomatsakis re: cycle recovery, I was referring to this part (one of two possible implementation strategies) of @matthewhammer's post:

This would be deterministic, but would still use cycle recovery (in a bening way). There might be other reasons to remove cycle recovery entirely, then this implementation strategy is undesirable anyway. I was just saying, even if this implementation strategy re

[2017-09-01 11:37] pnkfelix commented on #43126
@alexcrichton BTW I had a really hard time getting useful data out of massif (it was claiming the peak memory usage was something like 12kb), until last night @eddyb told me that valgrind/massif do not behave well with jemalloc.

So after I hacked the compiler to use the system allocator (via the diff below), I got *much* more believable results from valgrind/massif.
  * (This leads me to wonder i

[2017-09-01 12:03] ssbarnea commented on #44221
Well, I was hit by the same issue using `brew upgrade` ....

[2017-09-01 12:08] petrochenkov commented on #44244
This issue is very similar to https://github.com/rust-lang/rust/issues/43855

[2017-09-01 12:27] PryMary opened #44245 "BoxColliders does not support negative scale or size."
The effective box size has been forced positive and is likely to give unexpected collision geometry.
If you absolutely need to use negative scaling you can use the convex MeshCollider. Scene hierarchy path "assets/prefabs/deployable/repair bench/repairbench_deployed.prefab"

[2017-09-01 12:42] oli-obk commented on #44077
I mostly implemented this in #43628.

I did not implement that. I don't think anyone will be accidentally fixing tools.

[2017-09-01 13:03] penguin42 opened #44246 "wrong error with associated constant; 'consider adding a ' which already exists"
The following disgusting code gives the error:
[code]
looking at the error on line 40, it's complaining about the lack of Res on A,
yet that is already present at line 37

(I'm sure this code deserves some errors, but I don't think that one is right!)

[code]

## Meta
rustc 1.20.0 (f3d6973f4 2017-08-27)
binary: rustc
commit-hash: f3d6973f41a7d1fb83029c9c0ceaf0f5d4fd7208
commit-date: 2017-08-27
hos

[2017-09-01 13:40] nwin commented on #44243
Duplicate of #44168.

[2017-09-01 13:47] matklad opened #44247 "Name resolution does not work if associated type and constant use the same name"
Consider this program:

[code]

I believe it should compile OK, but currently (Rust 1.20) it fails to compile with a wrong error message:

<details>

<summary>Error</summary>

[code]

</details>

For comparison, the following program builds just fine:

[code]

[2017-09-01 13:57] kennytm commented on #44246
Hi could you please [format the report](https://guides.github.com/features/mastering-markdown/) to make it easier to read? Thanks. You could surround ` ``` ` around each code snippet like this:

[code]

[2017-09-01 14:15] sfackler commented on #44245
This is the issue tracker for the Rust programming language, not the Rust video game. You may be looking for http://jira.facepunch.com/browse/RUST-1708.

[2017-09-01 14:15] #44245 closed

[2017-09-01 14:19] kennytm commented on #44245
Hello. This is the issue reporter for [a programming language called Rust](http://rust-lang.org/). It seems you are reporting bugs about [the game Rust](http://playrust.com/), which we can't help. If the bug is about the Oxide mod, you may get support from http://oxidemod.org/.

[2017-09-01 14:21] PryMary commented on #44245
woops my bad... cheers google!

[2017-09-01 15:20] jonhoo commented on #43789
This is causing me issues now whenever I rely on `hyper` (which is now entirely futures based). It only takes a couple of requests before the program can't be compiled :/

[2017-09-01 15:25] penguin42 commented on #44246
Hi Kennytm - is that better?

[2017-09-01 16:08] kvark commented on #29924
@Mark-Simulacrum
Here is a new case:
[code]
Error on Rust-1.20 ([playground](https://play.rust-lang.org/?gist=ee45b0b9b8bfd02a6741e981309ef4f8&version=stable)):

Note: this is sort of a blocker for us to get use of the associated consts.

[2017-09-01 16:16] kennytm commented on #44246
@penguin42 Much better, thanks ❤️.

[2017-09-01 16:17] oli-obk commented on #29924
@kvark this is already fixed on beta/nightly

[2017-09-01 16:18] pnkfelix commented on #43834
Just some quick data to supply here: I switched to `extern crate alloc_system;` in`rustc` in order to get `massif` working.

When using `valgrind --tool=massif`, I was getting peak memory numbers for inflate like this:

Skip `EndRegion` | Emit `EndRegion` | ratio
------------------|------------------|--------
198.1 MB             |  207.2 MB             |   1.046

This led me to think that there m

[2017-09-01 16:22] steveklabnik commented on #44242
I'd be happy to mentor anyone who wants to fix this, it'd be a great first bug!

[2017-09-01 16:24] kennytm commented on #44246
I think this is a duplicate of #42863. The bad error message is tracked at #44168.

[2017-09-01 16:36] alexcrichton commented on #43834
Hm that is indeed very odd! I would have thought that massif wouldn't tamper too much with the output... I wonder if thats something like really bad heap fragmentation where massif sums up literal allocation sizes whereas `/bin/time` sums up the actual pages being used?

[2017-09-01 16:46] nikomatsakis commented on #43787
So my impression is that this is fixed now on all releases. Is that correct?

[2017-09-01 16:50] alexcrichton commented on #44221
I talked with Travis yesterday and got:

which makes me think it's probably upstream issues and we don't really have a way to work around :(

[2017-09-01 16:50] #44221 closed

[2017-09-01 17:07] kvark commented on #29924
@oli-obj great, but what about stable? No hot patches planned?

[2017-09-01 17:10] alexcrichton commented on #42157
Tis was done awhile ago!

[2017-09-01 17:10] #42157 closed

[2017-09-01 17:17] kennytm commented on #24955
Both links are dead 😢.

[2017-09-01 17:18] mcomstock commented on #44242
I'd like to work on this.

[2017-09-01 17:19] Mark-Simulacrum commented on #29924
We generally do not backport patches to stable unless they are critical bug fixes (for which I don't think I can give a concrete definition). We should have a stable out with the fix in 6 weeks, though.

[2017-09-01 17:22] nikomatsakis commented on #43613
OK, so, using nightly, I am able to build the original `combine` branch, but there is definitely still a loss on beta/nightly relative to stable, both in memory use and time. I'll do a bit more profiling and see what turns up.

[code]

[2017-09-01 17:50] vorner commented on #43787
I'm still getting somewhat strange results (is nightly compiled in a different way than stable?). The nightly is once again somewhat faster than before, but not as fast as stable.
* Today's nightly: 625
* stable 1.20: 190
* stable 1.19: 179

[2017-09-01 18:33] eddyb opened #44250 "-Z treat-err-as-bug should take the index of the error to ICE on."
cc @rust-lang/compiler

[2017-09-01 19:30] durka commented on #24263
## New summary comment

Quoting from the original checklist:

`Reflect` is gone.

We [decided against this](https://github.com/rust-lang/rust/issues/24263#issuecomment-316590395).

IMO the return type is currently "opaque enough".

---

Concerns raised during FCP:

- [ ] [Consider](https://github.com/rust-lang/rust/issues/24263#issuecomment-318618960) implementing `PartialOrd`
- [ ] ICE with i128

[2017-09-01 19:56] nikomatsakis commented on #43613
OK, I did some digging. There is a **massive** spike (when compiling `foo.rs`) directly attributable to the projection cache. I have to assume this is due to us now including the obligations in the cache. Will investigate some more, but I suspect one of the improvements that @arielb1 and I have talked about (like skipping the obligations if there are no type variables in the result) might be relev

[2017-09-01 19:57] nikomatsakis commented on #43613
Relevant backtrace from memcache report:

[code]

[2017-09-01 20:20] GuillaumeGomez commented on #44187
Taking a look.

[2017-09-01 20:38] shepmaster commented on #44145
Closing as duplicate.

[2017-09-01 20:38] #44145 closed

[2017-09-01 20:42] estebank commented on #41698
This was fixed in #43251.

[2017-09-01 20:46] shepmaster commented on #44175
Closing as duplicate

[2017-09-01 20:46] #44175 closed

[2017-09-01 20:48] shepmaster commented on #43701
@jethrogb on #44175 states:

[2017-09-01 20:50] Kixunil commented on #21114
I don't understand. Can you elaborate? Why would dropping in non-reverse order be ever desirable?

[2017-09-01 21:03] shepmaster commented on #44246
Closing as duplicate.

[2017-09-01 21:03] #44246 closed

[2017-09-01 21:04] shepmaster commented on #44243
Closing as duplicate

[2017-09-01 21:04] #44243 closed

[2017-09-01 21:15] TurkeyMcMac opened #44255 "Compiler panics when an array is initialized with length of a certain associated constant"
I was playing around with the new associated constants trying to make type-level integers. Creating an array with a length defined by `Five` works, but creating one with the product of `Multiply` as a length causes the compiler to panic.

This is the code I tried to run:
[code]

## Meta

`rustc --version --verbose`:
[code]
Backtrace:
[code]
I hope this is helpful.

[2017-09-01 21:21] Osspial commented on #42956
Could this be tagged as `A-associated-items`?

[2017-09-01 21:24] Hoverbear commented on #43789
I have a similar example: https://travis-ci.org/Hoverbear/digitalocean/builds/258872174

[2017-09-01 21:43] jonhoo commented on #43613
@nikomatsakis is it reasonable to assume that this and #43789 are really the same issue?

[2017-09-01 22:30] alexcrichton opened #44257 "Generators requiring temporaries live too long"
This code:

[code]

generates the error:

[code]

but naively at least I'd expect it to work!

cc @Zoxc

[2017-09-01 22:31] alexcrichton commented on #44257
This may or may not be the same as issues like https://github.com/rust-lang/rust/issues/44197 or https://github.com/rust-lang/rust/issues/44200

[2017-09-01 22:34] pmarcelll commented on #36283
It wasn't fixed in LLVM 4.0, but it might be fixed in 5.0, I'll check when the support is merged. The ergonomics improvements in pattern matching might also improve on this.

[2017-09-01 23:02] notsonotso commented on #40858
A company I consulted for last week told me they where migrating their (one and only) Rust project back to C++ because compile times were killing them. As someone interested in Rust, this worries me a lot. Are there substantial compile time improvements on the horizon?

[2017-09-01 23:50] nikomatsakis commented on #43613
I did more investigation. In particular, I tried an experimental idea to reduce the size of the cache as soon as we can. This did reduce, the peak but not by much. Here is the "ideal" memory profile, based on the old caching policy around obligations:

[code]

This is the profile of the current master:

[code]

Notice the several peaks. Each of those are an "episode" the cache in use.

This is the

[2017-09-01 23:51] nikomatsakis commented on #43613
@jonhoo

I think that is very likely.

[2017-09-02 02:27] alexbowers commented on #43023
I ran into this again today, can this be improved somehow?

[2017-09-02 04:17] scottmcm commented on #43335
Looks like this can be triggered with only `catch_expr` (without `never_type`) by using a `loop`:
[code]
https://play.rust-lang.org/?gist=32c33a234dd7a8d6a8e961d4121b885e&version=nightly
[code]

[2017-09-02 04:44] scottmcm commented on #35121
Would it be possible to carve out a subset of this so that `!` could be used as a type parameter in return types?  Right now if you have a stable function
[code]
And want to use `?`, you can't make the usual transformation to
[code]
Do the thorny coercion and type parameter default questions affect that case?

[2017-09-02 05:36] F001 commented on #38714
I ran into this issue too. The compiler panicked when I was testing @vickenty 's test case.

[code]

For the good case, if I declare the closure as a local variable, it also leads to compile error.

[code]

[2017-09-02 05:44] durka commented on #24263
Given that we can always _add_ an impl of `PartialOrd` and the other two checkboxes have to do with `#[repr(i128)]`, itself unstable, I don't see any roadblocks. Did I miss anything?

[2017-09-02 06:11] alexcrichton commented on #10184
I've toyed around with [JS semantics](https://jsfiddle.net/5vxe5zbr/) (the modulo @jorendorff mentioned) and the [Java semantics](https://ideone.com/lLxCSa) which appear to be the "saturation" column. In case those links expire it's [JS](https://gist.github.com/alexcrichton/c49d960f631fcb78e1fcb53c79e8fe91) and [Java](https://gist.github.com/alexcrichton/cfadf366b00f7ca9a78ddc6c1fb1437d).

I also

[2017-09-02 07:00] eddyb commented on #10184
That's a bummer - or do you mean a safe but implementation-defined variant?

[2017-09-02 07:19] eddyb opened #44264 "Simplify and optimize FileMap's line/column mapping computation."
Right now this is done while lexing: https://github.com/rust-lang/rust/blob/f861b6ee46465097eec266c160ac53e230df7cf0/src/libsyntax/parse/lexer/mod.rs#L423-L435

While that may seem like it avoids going twice over the file contents, lexing is *slow*, while newline and non-width-1 (which is also improperly computed by means of multi-byte characters, instead of the `unicode-width` library) character

[2017-09-02 07:22] withoutboats opened #44265 "🔬 Tracking issue for generic associated types (GAT)"
This is a tracking issue for generic associated types (rust-lang/rfcs#1598)

# Repository

* Detailed tracking information is available at the [GAT initiative repository](https://rust-lang.github.io/generic-associated-types-initiative/)

# Unresolved questions:

* [x] https://github.com/rust-lang/rust/issues/87479 -- defaults for `where Self: 'a`
* [x] https://github.com/rust-lang/rust/issues/8912

[2017-09-02 07:24] Manishearth commented on #10184
Is there no option for an implementation defined fast default?

[2017-09-02 07:24] ctz opened #44266 "C-style enum doesn't work in match arm"
I expected this to work, but it doesn't:

[code]
with:
[code]

Putting the cast inside extra parens doesn't help.

My use case is having an enum whose ordinals match an external protocol definition, then matching against the value read off the wire to convert into a member of the enum. I would expect this to be super common.

Previous history:

- #3580 which is precisely this issue, but is closed

[2017-09-02 07:31] ctz commented on #44266
In fact, this has little to do with C-style enums per se. Instead, it's casts which aren't allowed in match arms: see eg #11791. That's... less than ideal.

[2017-09-02 07:39] ctz commented on #44266
From that issue, the workaround seems to be:
[code]
That's doable but pretty annoying and unergonomic.

[2017-09-02 08:44] steffengy commented on #44266
I think the following is the more widely used workaround for that:

[code]

[2017-09-02 11:01] nikomatsakis commented on #43613
OK, I tried a [more aggressive pruning pass](https://gist.github.com/nikomatsakis/821418467d8aafdb0bd8a5dc6d7a2e4a), and that seems to have worked out pretty well:

[code]

We're still using more memory, but it's a much more mild spike -- and execution time is about the same. Now I just have to make sure that I didn't break anything else along the way. =)

[2017-09-02 11:09] oyvindln commented on #41160
There seems to be some issues with eliminating array temporaries in general. Something as simple as this:
[code]
is enough to give the optimizer issues and results in a stack temporary.

[2017-09-02 12:03] rushmorem commented on #44184
I'm [running into this issue](https://gist.github.com/rushmorem/3f1e1810783a6bc8dfd827fec8743a94) while playing with `async/await`.

[2017-09-02 12:39] nikomatsakis commented on #43613
PR opened (#44269)

[2017-09-02 12:45] nikomatsakis commented on #43613
The version in the PR prunes mildly less aggressively, but does remember to call `shrink_to_fit()`, and results in completely eliminating the memory spike:

[code]

[2017-09-02 13:14] newpavlov commented on #43702
Other example of ineffective code generation (with `opt-level=3`).

`zip` over fixed size arrays [produces](https://godbolt.org/g/3tJBjD) the code without usage of SIMD instructions, while explicit loop [produces](https://godbolt.org/g/hqV7nD) the good result. (although I am not sure why compiler generated `.LBB0_7` section)

[2017-09-02 14:32] QuietMisdreavus commented on #43701
I have an open PR #44026 to address this, but i'm waiting for some confirmation from the dev-tools team to make sure i can merge it.

[2017-09-02 14:49] oyvindln commented on #43702
For the original example, for `opt-level=2` it looks like llvm decides to completely unroll the loop in the array example before it get to the vectorization pass since it knows iteration count at compile time, while the slice one is only partially unrolled. If the optimization passes are similar to llvm's `-O<n>` options, the difference between 2 and 3 is the `argpromotion` pass. Looking at the ou

[2017-09-02 15:44] burns47 commented on #31844
I'm not positive this is in the right place, but we ran into a problem on the users forum that I'd like to mention here.

The following code (which is adapted from the RFC [here](https://github.com/rust-lang/rfcs/blob/master/text/1210-impl-specialization.md#hazard-interactions-with-type-checking) does not compile on nightly:

[code]
This doesn't really seem like a glitch but more like a usability

[2017-09-02 15:44] alexcrichton opened #44270 "The `rls-preview` component on beta is "corrupted""
With the second release of the beta toolchain we've got the `rls-preview` component now (*not* the `rls`) and it looks like it's *almost* working! The only piece that seems off is:

[code]

cc @nrc

Note that I've tagged this as a beta regressoin but it's not actually a regression, it's just there to make sure we keep looking at it.

[2017-09-02 15:51] alexcrichton commented on #10184
@eddyb I was thinking that we'd just have `unsafe fn as_u32_unchecked(self) -> u32` on `f32` and such which is a direct analog to what `as` is today.

I'm certainly not going to claim that the Rust implementation I wrote is optimal, but I was under the impression that when reading this thread determinism and safety were more important than speed in this context most of the time. The `unsafe` escap

[2017-09-02 15:57] dtolnay commented on #31844
@burns47 there is a confusing but useful workaround here: https://github.com/rust-lang/rust/issues/31844#issuecomment-263175793.

[2017-09-02 15:58] eddyb commented on #10184
So there's no cheap platform-dependent variant? I want something that's fast, gives an unspecified value when outside of bounds *and* is safe. I don't want UB for some inputs and I think that's too dangerous for common use, *if* we can do better.

[2017-09-02 16:06] Binero opened #44271 "`HashMap` should not take ownership of its keys"
Right now, to insert a new value into a `std::collections::HashMap`, one _must_ transfer ownership of the key to the map. The map however does not seem to require ownership of the key.

The `HashMap` does not keep around a copy of the key however. It only stores its hash. This means that there is no way to get the key out of the `HashMap` again.

For example, take the signature of the insert metho

[2017-09-02 16:07] rkruppe commented on #10184
As far as I am aware, on most if not all platforms the conversion does *something* that isn't UB. But LLVM does not seem to have any way to pick that option (whatever it may be) over UB. If we could convince LLVM developers to introduce an intrinsic that yields an "unspecified but not `undef`/`poison`" result on out-of-range inputs, we could use that.

But I'd estimate that someone in this thread

[2017-09-02 16:32] jmesmon commented on #44271
HashMap does store the key, and it can be retrieved using `HashMap::entry()` and `HashMap::keys()`.

One can use the `HashMap::entry()` api to retrieve the stored key on removal as well with `remove_entry`(https://doc.rust-lang.org/std/collections/hash_map/struct.OccupiedEntry.html#method.remove_entry).

That said, getting an entry current requires another owned key to pass to `entry()`. There is

[2017-09-02 16:34] Mark-Simulacrum commented on #44237
Not yet fixed, just a preliminary patch....

[2017-09-02 16:41] Binero commented on #44271
Aha, my bad. I got confused just now because surely it must store the key SOMEWHERE, otherwise the HashMap wouldn't be able to check within a bucket. The entry is exactly what I was looking for, thanks a ton!

[2017-09-02 16:41] #44271 closed

[2017-09-02 17:16] mark-i-m commented on #36337
@Mark-Simulacrum should I close this? I have no idea if this is still even an up-to-date issue... #32777 was already closed.

[2017-09-02 18:38] Mark-Simulacrum commented on #36337
I think this is fine to keep open at least for now.

[2017-09-02 19:08] notsonotso commented on #40858
I'm also suffering with extreme compilation times. My Ztime-passes stats look a lot like @jonhoo's, but actually a bit worse.

[2017-09-02 19:36] burns47 commented on #31844
@dtolnay Not quite satisfactory - what if we're specializing on traits we don't own (and can't modify)?  We shouldn't need to rewrite/refactor trait definitions to do this IMO.

[2017-09-02 22:22] #42757 closed

[2017-09-02 23:31] durka commented on #44266
Better workaround:

[code]

[2017-09-03 00:06] smaeul opened #44280 "Allow configuring perl used to build OpenSSL"
Builds with `openssl_static = true` in `config.toml` depend on Perl for configuring OpenSSL. It would be nice to have the ability to configure a path to `perl`, and to make sure that `perl` is runnable when bootstrap does its sanity checks.

See #44131

[2017-09-03 02:33] wesleywiser opened #44281 "mem::transmute() docs could use some additional detail"
Here's a few things I thought of while reading [the docs](https://doc.rust-lang.org/std/mem/fn.transmute.html):

- The term `type punning` is used without being defined. Ordinarily, I wouldn't complain about this because it's very easy to Google search but most of the search results on the first page say that type punning is undefined behavior (in C\C++). This doesn't appear to be true in Rust bec

[2017-09-03 04:43] elitak opened #44282 "export_name works for msvc x86_64 toolchain, but not i686"
I'm trying to build a simple dll and export a function with a pre-mangled name. I have `crate-type` set to `cdylib` and my function decorated like so:

    #[allow(non_snake_case)]
    #[export_name="?Hook@@YAXXZ"] // This is how MSVC mangles this name.
    pub fn Hook() {

I'm using MSVC 2017 Community edition v14.10.25017; toggling between these two toolchains using rustup:
`nightly-x86_64-pc-wi

[2017-09-03 05:49] archshift opened #44283 "[Regression] Rust v1.20.0 leads to segfault with lazy_static Mutex inside a dylib"
Smallest sample code I could come up with: https://gist.github.com/d679876d14dd6990494ca65440800dad

When the program reaches main.cpp,L8 (`env::args().nth(0).unwrap();`), it crashes with a segfault. This did not happen in v1.19.0.

Version:
[code]

Backtrace with rust-lldb:
[code]

[2017-09-03 08:42] oyvindln commented on #41160
Suspecting it's the loop that fills the array that's causing issues: `-Z llvm-debug` gives
[code]

Running the llvm optimizer with `-O3` directly on llvm-ir ouput from rustc with `-C opt-level=1` get's rid of the stack temporary completely, so maybe there is a pass ordering issue here?

[2017-09-03 09:53] seventh-chord opened #44284 "Compiler panic in `resolve_trait_associated_const`"
I encountered this bug in a much more complex piece of code, but I simplified it down to the following:

In `test.rs`:
[code]

Playground link: https://play.rust-lang.org/?gist=11ee42c1a7207278d7f915862e9050ff&version=stable

Output from `rustc test.rs` (with backtrace):
[code]

Output from `rustc --version --verbose`:
[code]

[2017-09-03 09:58] eddyb opened #44285 "MIR optimization tracking issue."
As all efforts have more stalled, I'll use this to note down some ideas (cc @rust-lang/compiler):

* [ ] `rustc_mir::expand`: take a MIR fragment (e.g. an intrinsic call) and *lazily* emit another MIR fragment which is the equivalent expansion
* [ ] `rustc_mir::reduce`: generalized dataflow toolkit for writing localized transformations which *must* cause dataflow information to converge, and thus

[2017-09-03 10:33] arielb1 commented on #38714
This causes `ICE: no representative region` on beta.

The code not working with a local would be expected, because of the way higher-ranked inference works.

[2017-09-03 10:39] arielb1 commented on #43023
Current compiler output is:
[code]

[2017-09-03 10:46] arielb1 commented on #44257
This looks like #44200 :

[code]

[2017-09-03 13:04] Binero opened #44286 "Tracking issue for HashMap `OccupiedEntry::{replace_key, replace_entry}`"
At the moment the only way to replace a map entry with a new one, swallows the old key. In cases the user wants to keep the old key, the only way to do so is to first `remove_entry` and to then `insert` a new one. This requires two map look-ups.

As the Entry API aims to make operations that would otherwise require two look-ups into operations that require only one, the replacing of an entry is an

[2017-09-03 13:37] kevincox commented on #38384
As @stjepang said I think the best soltution is to render the tabs as spaces for the error output. It might be theorically possible to get the tab size from the terminal but that sounds like more effort this it is worth. I am rarely (never) copying the output of errors back into my source so it shouldn't be an issue.

A bouns feature would be user-adjustable tab size but starting with 2 or 4 is pr

[2017-09-03 13:39] kevincox commented on #38384
Also is there any way to get this prioritized? It seems like having unaligned error messages is unacceptable as the text relies on the range indicators to make any sense.

[2017-09-03 13:55] montrivo opened #44288 "Rust Reference: expressions precedence"
Hello,

I don't find any documentation about rust expression precedence rules in the book and reference. Could someone point me to it if it exists? If not, should it be added to the reference? Related forum [post|https://users.rust-lang.org/t/precedence-in-rust/1385] and rust issue #21799.

Explanation:
In cases where expression parsing is ambiguous, there must be some expression precedence rules.

[2017-09-03 14:04] est31 commented on #44288
https://doc.rust-lang.org/reference/expressions.html#operator-precedence

[2017-09-03 14:06] est31 commented on #44288
The bug tracker for the reference is here: https://github.com/rust-lang-nursery/reference/issues

[2017-09-03 14:08] mcarton opened #44289 "Types from `syntax` leaked into `std` docs"
The documentation for [`std::convert::Into`](https://doc.rust-lang.org/std/convert/trait.Into.html) contains some types from the `syntax` crate that should not be there:

[code]

all of those are dead links (eg. for [`syntax::ptr::P`](https://doc.rust-lang.org/nightly/syntax/ptr/struct.P.html)).

[2017-09-03 14:12] Eh2406 commented on #19839
The FIXME refers to this issue: https://github.com/rust-lang/rust/blob/master/src/liballoc/binary_heap.rs#L929

If this is fixed, we can remove the FIXME. If we can't remove the FIXME, than we should reopen the issue.

[2017-09-03 14:12] montrivo commented on #44288
Thanks, I'll migrate the issue.

[2017-09-03 14:21] eddyb commented on #19839
@Eh2406 I believe the current issue is #26925.

[2017-09-03 14:24] ollie27 commented on #44289
This was fixed by #43736 see https://doc.rust-lang.org/nightly/std/convert/trait.Into.html#implementors

[2017-09-03 14:28] mcarton opened #44290 "`std::convert::Into<usize>` for `u16` is not implemented"
As far as I understand `target_pointer_width` is at least 16 so `<usize as std::convert::From<u8>>` and `std::convert::Into<usize>` for `u16` could exist.

[2017-09-03 14:30] mcarton commented on #44289
Ah, nice. Just need to wait for it to go to stable then. I should not have limited the search to `is:open` :smile:

[2017-09-03 14:30] #44289 closed

[2017-09-03 14:31] mcarton commented on #44289
Well, actually the issue is still opened, I must not have searched hard enough…

[2017-09-03 14:36] florianb commented on #38384
Why not preserving the whitespace-chars of the specific line as given in the source, just replacing everything else from the occurrence of the first non-white-space on?

[2017-09-03 14:52] florianb commented on #38384
It should be safe to "repeat" the given line, and replace the non-whitespace-content with the debug output. Imagine the following:

[code]

To handle that situation in line 4 right, the following steps should work:

1. take the line (`····↦_·=>↦{`) and replace non-tabs by spaces: `····↦····↦·`
2. replace/insert the debug message from given index on (in this example 11 for the curly bracket): `····

[2017-09-03 15:01] est31 commented on #38384
@florianb I think the only way to resolve this is to replace each tab with a fixed amount of spaces. Your suggestion doesn't work because of cases like:

[code]

Giving you errors like:
[code]

It needs to draw the entire line with `_` characters instead of whitespace.

[2017-09-03 15:07] florianb commented on #38384
@est31 - thanks i didn't think of that case.

[2017-09-03 15:27] arielb1 commented on #44285
Is that a normalization concern?

The MIR that enters borrowck etc. needs to have `if`-statements still present, otherwise we won't borrowck anything within an `if false`.

Second, if we're chasing normalization, the CFG changes made by `SimplifyCfg` are probably more important. I think one possibility is that we would store a worklist of MIR un-normalizations and have a "NormalizeMir" pass that r

[2017-09-03 15:34] arielb1 commented on #44285
I'm not sure why complicated operands in function calls are worse than complicated operands in `Rvalue::Use`. OTOH, forcing array indexes to be an `Lvalue::Local` should get rid of the "tree-like"ness

[2017-09-03 15:38] ollie27 commented on #44290
This has been proposed before: #29220 #37423. I believe this is one of the many things blocked by #41619.

[2017-09-03 15:46] eddyb commented on #44285
I'd expect that to be `if temp` with `temp = false;` just before it, FWIW.

Yeah, I'm leaning in that direction myself, we'll see how clean I can make it.

[2017-09-03 15:55] alvitawa commented on #34511
What about defining inferred types, that could not only be used as return values, but as anything(i guess) a type can be used for currently?
Something like:
`type Foo: FnOnce() -> f32 = #[infer];`
Or with a keyword:
`infer Foo: FnOnce() -> f32;`

The type `Foo` could then be used as a return type, parameter type or anything else a type can be used for, but it would be illegal to use it on to diffe

[2017-09-03 15:56] arielb1 commented on #44285
Nope. `false` is a valid operand, so we get a MIR `if false`.

[2017-09-03 16:01] eddyb commented on #44285
@arielb1 I mean that if `if` took an `Lvalue` so the only options were `if temp` and `goto`.

[2017-09-03 16:03] est31 commented on #38384
### Studying clang/gcc
From a suggestion by @eddyb on IRC on what gcc/clang do, I've looked at their behaviour.
The tested statement for clang was `\t\t\t\treturn ""; "\tfsdf"`, so 4 tabs followed by `return "";`, followed by ` "	fsdf"`.
clang output:
[code]
For gcc, I've omitted the last character to produce an invalid string literal. It gave the following error:
[code]

Both treated the `"` befo

[2017-09-03 16:05] joshtriplett opened #44291 "Support coercing non-capturing closures to extern function pointers"
This is a followup to https://github.com/rust-lang/rust/issues/39817 . Non-capturing closures now coerce to function pointers, but not to `extern fn` pointers, as provided to C functions expecting a callback. Adding support for this would make it much simpler to call a C function and provide an appropriate callback inline.

(I'm also curious what it would take to make a *capturing* closure work as

[2017-09-03 16:05] joshtriplett commented on #39817
I filed https://github.com/rust-lang/rust/issues/44291 for the issue of coercing to `extern fn`. cc @est31

[2017-09-03 16:27] jethrogb commented on #44291
You don't. It basically only works for callback functions that take a data pointer (which many do). Then you can do something like this:
[code]

[2017-09-03 16:42] eddyb commented on #36588
I believe we can reduce our deriving needs to a single "`TupleReflect`" trait with 4 operations:
* `Self -> (fields...)`
* `&Self -> (&fields...)`
* `&mut Self -> (&mut fields...)`
* `(fields...) -> Self`

Even without VG we can build implementations of all sorts of operations we need (such as `Relate` which does `(&T, &T) -> Result<T, E>`) out of this one trait + specialization.

[2017-09-03 16:46] kennytm commented on #42693
The error code from #44261 is `1816`, which is [`ERROR_NOT_ENOUGH_QUOTA`](https://msdn.microsoft.com/en-us/library/windows/desktop/ms681386.aspx#ERROR_NOT_ENOUGH_QUOTA) (Not enough quota is available to process this command.)

[2017-09-03 16:57] kevincox commented on #38384
@est31 That sounds good.

Yes, it's critical that the column number in the error messages count charaters. IIUC this issue is just that the printed messages don't lign up correctly because it prints some tabs in the source and expects to be able to line up some individual characters next to it.

As far as tab-stops vs simple expansion for the error message I don't think it matters too much.

[2017-09-03 17:28] jessicah opened #44293 "x.py can't build individual crates"
I'm trying to test building just `librustc_llvm` for the purposes of git bisecting, but am getting the following error:
[code]

[2017-09-03 17:40] est31 commented on #44291
@joshtriplett could you factor out this question from this issue? I'd like to comment on that as well but I dont want to pollute this discussion

[2017-09-03 17:48] seventh-chord commented on #44284
Edit: Whoops, this seems to be already resolved in nightly.

[2017-09-03 17:48] #44284 closed

[2017-09-03 17:53] dtolnay opened #44294 "Remove unused_extern_crates warning for crates used by nested code"
In the following scenario, the user will have a better experience if we allow them to have an "unused" extern crate.

---

[**[playground]**](https://play.rust-lang.org/?gist=73eada4e1502ddc50114bc53b11e792c&version=nightly)

[code]

---

If we permit them to write `extern crate`, as recommended by Serde's docs for this reason, the error message is:

[code]

If they remove the unused `extern crate

[2017-09-03 18:11] dtolnay commented on #44291
What happens if the same closure is coerced to both `fn` and `extern fn`? Do I end up with two monomorphizations of the closure, one for each calling convention?

[code]

[2017-09-03 18:33] eddyb commented on #44291
@dtolnay I'd expect a thin shim, and you'd get a duplicated closure body only if LLVM inlines it.

[2017-09-03 18:50] cramertj commented on #34511
@alvitawa See https://github.com/rust-lang/rfcs/pull/2071

[2017-09-03 20:13] plietar commented on #43467
I've pushed an initial implementation in #44295

[2017-09-03 20:20] alvitawa commented on #34511
@cramertj Ahh so that's why this issue had gotten so silent..

[2017-09-03 20:21] Eh2406 commented on #27979
There is a FIXME related to this issue,
https://github.com/rust-lang/rust/blob/master/src/test/run-make/relocation-model/Makefile#L13
Now that the issue is closed can the FIXME be fix, or made more specific?

[2017-09-03 20:25] Eh2406 commented on #11094
There is a FIXME related to this issue,
https://github.com/rust-lang/rust/blob/master/src/tools/compiletest/src/runtest.rs#L2070
Now that the issue is closed can the FIXME be fix, or made more specific?

[2017-09-03 20:27] Eh2406 commented on #9639
There is a FIXME related to this issue,
https://github.com/rust-lang/rust/blob/master/src/test/run-make/relocation-model/Makefile#L538
https://github.com/rust-lang/rust/blob/master/src/test/run-make/relocation-model/Makefile#L641
https://github.com/rust-lang/rust/blob/master/src/test/run-make/relocation-model/Makefile#L1497
Now that the issue is closed can the FIXME be fix, or made more specific?

[2017-09-03 20:31] Eh2406 commented on #33000
There is a FIXME related to this issue,
https://github.com/rust-lang/rust/blob/master/src/tools/compiletest/src/json.rs#L120
https://github.com/rust-lang/rust/blob/master/src/tools/compiletest/src/json.rs#L133
Now that the issue is closed can the FIXME be fix, or made more specific?

[2017-09-03 20:33] Eh2406 commented on #33435
There is a FIXME related to this issue,
https://github.com/rust-lang/rust/blob/master/src/tools/compiletest/src/main.rs#L302
Now that the issue is closed can the FIXME be fix, or made more specific?

[2017-09-03 20:37] Eh2406 commented on #24570
There is a FIXME related to this issue,
https://github.com/rust-lang/rust/blob/master/src/libstd/sys/windows/fs.rs#L445
Now that the issue is closed can the FIXME be fix, or made more specific?

[2017-09-03 20:45] kd8azz opened #44298 "Rust cannot compile itself, as a cargo dependency"
Cargo.toml:

    [dependencies]
    syntax = { git = "https://github.com/rust-lang/rust/", branch = "stable" }

Command:
cargo build --all

Expected: Syntax module is imported.
Actual:
Stable and Beta rustc channels complian "#![feature] may not be used ..."
Nightly rustc channel just doesn't work.

[2017-09-03 20:46] Eh2406 commented on #27840
There is a FIXME related to this issue,
https://github.com/rust-lang/rust/blob/master/src/librustc_mir/build/expr/category.rs#L92
Now that the issue is closed can the FIXME be fix, or made more specific?

[2017-09-03 20:55] Eh2406 commented on #27942
There is a FIXME related to this issue,
https://github.com/rust-lang/rust/blob/master/src/librustc/infer/error_reporting/mod.rs#L215
Now that the issue is closed can the FIXME be fix, or made more specific?

[2017-09-03 20:56] Eh2406 commented on #18248
There is a FIXME related to this issue,
https://github.com/rust-lang/rust/blob/master/src/libcore/tests/hash/mod.rs#L72
Now that the issue is closed can the FIXME be fix, or made more specific?

[2017-09-03 20:58] Eh2406 commented on #12808
There is a FIXME related to this issue,
https://github.com/rust-lang/rust/blob/master/src/test/run-pass/overloaded-autoderef-order.rs#L78
Now that the issue is closed can the FIXME be fix, or made more specific?

[2017-09-03 21:02] Eh2406 commented on #30524
There is a FIXME related to this issue,
https://github.com/rust-lang/rust/blob/master/src/test/run-pass/num-wrapping.rs#L70
https://github.com/rust-lang/rust/blob/master/src/test/run-pass/num-wrapping.rs#L176
Now that the issue is closed can the FIXME be fix, or made more specific?

[2017-09-03 21:08] Eh2406 commented on #33490
There is a FIXME related to this issue,
https://github.com/rust-lang/rust/blob/master/src/test/run-pass/issue-23338-ensure-param-drop-order.rs#L67
Now that the issue is closed can the FIXME be fix, or made more specific?

[2017-09-03 21:17] Eh2406 commented on #13972
There is a FIXME related to this issue,
https://github.com/rust-lang/rust/blob/master/src/test/run-pass/const-block.rs#L61
Now that the issue is closed can the FIXME be fix, or made more specific?

[2017-09-03 21:19] TheDan64 opened #44299 "Can't refer to enum variant via Self keyword"
Since this works:
[code]

I expected this to work, when in the context of that enum's implementation:
[code]

but instead you get the error: ```error[E0599]: no associated item named `Variant1` found for type `MyEnum` in the current scope``` which seems to suggest the compiler is indeed looking at `MyEnum` but is one step away from making the association.

[Playpen link](https://play.rust-lang.org

[2017-09-03 21:35] petrochenkov commented on #44299
Duplicate of https://github.com/rust-lang/rust/issues/26264

[2017-09-03 21:35] #44299 closed

[2017-09-03 21:44] Vurich commented on #38384
Simple replacement will break formatting for (bad-style) code. Obviously no-one _should_ be using tabs after normal characters but some people will be. Better just fix the problem now before it gets filed as an issue.

[2017-09-03 22:18] joshlf opened #44302 "Alloc: Add owns method"
As Andrei Alexandrescu discusses in [this great talk](https://www.youtube.com/watch?v=LIb3L4vKZ7U&feature=youtu.be&t=23m25s), in order to make it possible to construct new allocators by composing existing ones, each allocator must support an ownership check.

Consider, for example, a "fallback allocator" - an allocator which operates by wrapping two other allocators, serving allocation requests by

[2017-09-03 22:24] joshlf commented on #44302
@ezrosent has pointed out an issue with this: my own [mmap-alloc](https://crates.io/crates/mmap-alloc) allocator wouldn't be able to implement `owns` since there's no way to detect who mapped a given page of memory.

Thus, maybe it makes more sense for this to be a separate trait? E.g.:

[code]

[2017-09-03 23:16] clarfonthey opened #44304 "missing_debug_implementations misses structs exported from other crates"
For example, `std::str::SplitWhitespace` does not have a debug implementation (see: PR #44303), but the lint didn't trigger. I'd consider this a bug; if there isn't a debug implementation for an exported struct, the user should have to put `allow(missing_debug_implementations)` to suppress it if they can't fix it themself.

This probably applies to `missing_docs` too.

[2017-09-03 23:55] newpavlov commented on #43702
I've encountered even more interesting behaviour while examening the last case. While both examples are completely equivalent, looks like the second one gets compiled into a more efficient code:
[code]
[code]

You can example assembly for them here:
1) https://godbolt.org/g/BsE6Nq
2) https://godbolt.org/g/xFHeVN

[2017-09-04 00:03] #24263 closed

[2017-09-04 00:07] jessicah opened #44305 "Need more verbose output with x.py build"
Running `./x.py build -vv` only outputs the `rustc` compilation command, which is insufficient.

For example, it should direct rustc to provide more verbose output as well, e.g. the linking steps, and where object files are created from cpp source files, these compilation steps as well.

I've tried various incantations, such as `RUSTC_FLAGS="-Z verbose -Z print-link-args --verbose" RUSTC_VERBOSE=1

[2017-09-04 00:24] Mark-Simulacrum commented on #44305
I think the expected approach today is to use `RUSTFLAGS` when more information from `rustc` is needed. It's not ideal (need to recompile everything) but otherwise should work.

@alexcrichton Is there some flag we can pass to rustc to have 'verbose' step output?

[2017-09-04 00:45] dtolnay opened #44306 "Re-exported types have confusingly different documentation"
Re-exported types seem to have more confusing documentation than the original type. I noticed this while reviewing rayon::Configuration which is re-exported from rayon-core.

---

#### original/src/lib.rs

[code]

This is documented basically like what I wrote, which is what I would expect:

![selection_063](https://user-images.githubusercontent.com/1940490/30007998-d8d16a2a-90ce-11e7-95fe-0d5c681

[2017-09-04 01:24] jessicah commented on #44305
I've also tried with `RUSTC_FLAGS="-Z verbose -Z print-link-args --verbose"`, but then I run into a problem with cargo: https://github.com/rust-lang/cargo/blob/master/src/cargo/ops/cargo_rustc/mod.rs#L371 which seems to be a consequence of https://github.com/rust-lang/rust/blob/master/src/bootstrap/compile.rs#L802

I've tried removing that, but then I get an error:
[code]

Full backtrace:
[code]

[2017-09-04 02:19] eddyb commented on #13972
@Eh2406 The FIXME is wrong, it has nothing to do with this issue.

[2017-09-04 02:23] eddyb commented on #33490
@Eh2406 Looks like [the braces can be removed now](https://play.rust-lang.org/?gist=b8b88baf02b1cdc3eccc69092b5e3136&version=stable).

[2017-09-04 02:24] eddyb commented on #12808
[Looks like it](https://play.rust-lang.org/?gist=bd67a4fe45c78700d705b6e7fdff8459&version=stable).

[2017-09-04 02:40] #34947 closed

[2017-09-04 02:47] ishitatsuyuki commented on #44294
Arguable point. As the statement doesn't impact the binary (linkage), it doesn't hard if we disabled the lint. I'm not sure the way to implement it though.

[2017-09-04 03:39] clarcharr opened #44307 "Poor error when passing "string" instead of b"string""
Playground: https://play.rust-lang.org/?gist=935daee28b05c2afcdf61423fdfb40f8&version=stable

[code]

This includes the error:

[code]

Whereas it could be much better suggesting the user to type `b"hello"` instead of supplying `"hello".as_bytes()`.

[2017-09-04 06:18] tirr-c commented on #44255
Found something that might help:

[code]

`<Multiply<Five, Five>>::VAL` is `25usize`, so there should be no type mismatch. However, I got this:

[code]

[2017-09-04 06:25] oli-obk commented on #44298
what's the exact issue on nightly? This is expected not to work on stable/beta

[2017-09-04 06:36] tirr-c commented on #44022
If I add a trait bound `T: X` to the latter `impl` so that `A<T>` implements `Z`, the compiler give me a proper error message:

[code]

[code]

[2017-09-04 06:55] florianb commented on #38384
@Vurich: unfortunately the concept of (elastic tabstops)[http://nickgravgaard.com/elastic-tabstops/] is emerging.

[2017-09-04 07:30] kevincox commented on #38384
@Vurich while you are correct, it isn't relly possible to do that without knowing what that author has configured their tab size to. I guess it would be nice to do the work in tabstops with some value which could be adjusted but it seems like this case will never *just work*. We could consider making it configurable or looking for an `.editorconfig.` file but this seems like more complexity then i

[2017-09-04 08:27] GuillaumeGomez commented on #44306
Dark magic! :laughing:

I'll take a look later.

[2017-09-04 08:39] jjpe opened #44309 "[1.22.0-nightly, 2017-09-01] ICE during regular compilation"
I'm pretty sure this bug is somehow related to the `impl trait` feature as I was implementing a fn that returns an `impl std::iter::Iterator<Item=&Node>` for some struct `Node`. It also *seems* related to lifetime elision rules, as that is the differentiating factor.

Interestingly, this compiles:
[code]

While this does not:
[code]

In fact, when I compile using the latter form, I get an ICE:

[c

[2017-09-04 08:42] kennytm commented on #44309
Duplicate of #42479

[2017-09-04 09:08] petrochenkov commented on #44305
https://github.com/rust-lang/rust/issues/43855 strikes again

[2017-09-04 09:47] Vurich commented on #38384
That's fair, I'm convinced. Still, 4-space tabstops will never break anything that simple replacement won't break even worse and it's a pretty safe default to assume.

[2017-09-04 09:57] est31 commented on #38384
I think providing configuration options or following an editorconfig or similar are overengineering, but even if we want to add something like that, providing a support for 4-space tabstops is an important first step.

I'll check tomorrow whether I want to provide a PR to fix at least this issue with the plan I've proposed above. If anyone of you is very eager to do the implementation themselves,

[2017-09-04 10:15] eddyb opened #44311 "Mentions of builtin types mark an import with the same name as used."
Found when implementing #44240: turns out `panic!()` in a module marks `std::u32` imports as used, even if they aren't actually needed.
Simple testcase:
[code]
cc @petrochenkov

[2017-09-04 11:01] kd8azz commented on #44298
Is there a supported way of using libsyntax as a dependency, without using the nightly compiler?  I assume the nightly compiler will be broken 3 out of 4 nights.

Here's nightly's error:

    $ cargo build --all --verbose
           Fresh serialize v0.0.0 (https://github.com/rust-lang/rust/?branch=stable#f3d6973f)
           Fresh log v0.3.8
           Fresh bitflags v0.8.2
       Compiling rustc_

[2017-09-04 11:04] TurkeyMcMac commented on #44255
I get the same backtrace when I annotate the type as `[usize; 0]`.

[2017-09-04 11:08] arielb1 commented on #44298
You are trying to compile a stable rustc (see `branch=stable`) using a nightly rustc. That doesn't work - you should use a nightly rustc instead.

[2017-09-04 11:09] arielb1 commented on #44298
@kd8azz

Also, the nightly compiler is working most of the time - we have quite good CI. You can also pick a good nightly and pin to it, Servo-style.

[2017-09-04 11:13] TurkeyMcMac commented on #44255
The expression seems to evaulate properly to 25 in this context:
[code]

[2017-09-04 11:14] #43149 closed

[2017-09-04 11:14] arielb1 commented on #43149
Fixed in 1.21

[2017-09-04 11:16] keeperofdakeys commented on #41570
For future reference, this was finally fixed in a [recent glibc release](https://sourceware.org/bugzilla/show_bug.cgi?id=984#c20). Though this workaround will probably need to be in place for a while longer.

[2017-09-04 11:18] kennytm commented on #44298
There is no way to use `libsyntax` on stable yet. This is currently tracked by #41732.

If you just want to parse Rust on stable, use [`syn`](https://docs.rs/crate/syn/).

If you want to use `libsyntax` on nightly, just write

[code]

You don't need to add any dependency to Cargo.

[2017-09-04 11:22] kd8azz commented on #44298
@arielb1 > You are trying to compile a stable rustc (see branch=stable) using a nightly rustc. That doesn't work - you should use a nightly rustc instead.

Ok, I can accept that.

@arielb1 > Also, the nightly compiler is working most of the time

Thanks, that's good to hear.  Sorry for doubting your CI process.  I just had a long day trying to get started on a project, and this was my problem.

@k

[2017-09-04 11:36] kennytm commented on #44255
Note that associated constants are not supported in array type `[T; n]` yet (#44168).

[2017-09-04 11:58] #44298 closed

[2017-09-04 11:58] TurkeyMcMac commented on #44255
It seems like the compiler should say that, rather than crashing. This is the stable release, after all.

[2017-09-04 13:20] #42484 closed

[2017-09-04 13:31] Mark-Simulacrum commented on #44309
Closing as a duplicate of https://github.com/rust-lang/rust/issues/42479.

[2017-09-04 13:31] #44309 closed

[2017-09-04 13:39] Freyskeyd commented on #44242
@mcomstock are you fixing this?

[2017-09-04 14:20] michaelwoerister commented on #44234
Yes, I agree. I think what @nikomatsakis calls "constant data" in #44137 is really "input data" as far as the query system is concerned. Inputs have no dependencies, they always need to be read and checked for changes.

[2017-09-04 14:21] mcomstock commented on #44242
Yeah! Sorry for the delay.

[2017-09-04 14:24] michaelwoerister commented on #44234
Right now a `DepNode` can be marked as `[anon]`. One way to handle this would be to add a `[input]` modifier that informs the query system that it must treat the dependency differently.

[2017-09-04 14:25] michaelwoerister commented on #44234
cc @eddyb

[2017-09-04 14:34] ollie27 commented on #44311
Duplicate of #40774

[2017-09-04 14:35] Freyskeyd commented on #44242
@mcomstock ok let me know if you need help

[2017-09-04 14:52] Mark-Simulacrum commented on #44311
Closing as a duplicate.

[2017-09-04 14:52] #44311 closed

[2017-09-04 15:46] frewsxcv opened #44314 "slice::split_at_mut doc example should demonstrate mutability"
https://doc.rust-lang.org/std/primitive.slice.html#method.split_at_mut

The doc example should demonstrate the effect of mutation element(s) in the slice

[2017-09-04 16:28] ExpHP commented on #23856
Just ran into this today.  As mentioned by @thanatos and in some linked duplicates, it appears to only impact trait objects.  (if it impacted generic type parameters, I think there would be a lot more fuss over it!)

[code]

Changing the trait object to a generic type parameter is a workaround in many, but not all, use cases.

[2017-09-04 16:56] bluss commented on #43244
Maybe this doesn't need to be a kitchen sink, but it _could_ have a range parameter, so that it's like a superset of drain. Any drawbacks to that? I guess adding bounds checking for the range is a drawback, it's another thing that can panic. But drain_filter(.., f) can not.

[2017-09-04 17:10] johnthagen commented on #27389
@alexcrichton If I wanted to try out using the system allocator (rather than defining a custom allocator) for a binary compiled on the latest nightly on macOS, what would the best way to do this be?

[2017-09-04 17:14] nielsegberts commented on #44314
Do you mean to add an example like this?

[code]

[2017-09-04 17:15] frewsxcv commented on #44314
Yep, that looks great!

[2017-09-04 17:22] nielsegberts commented on #44314
I'm happy to create a PR to update the documentation.

I think it might be best to move some examples to split_at() and focus on the mutability in split_at_mut().

[2017-09-04 17:23] frewsxcv commented on #44314
Go for it 👍

Agreed, sounds good to me

[2017-09-04 17:32] SimonSapin commented on #27389
@johnthagen See https://doc.rust-lang.org/nightly/unstable-book/library-features/alloc-system.html

[2017-09-04 17:47] johnthagen commented on #27389
@SimonSapin Thank you for the link to documentation.

I tried:

[code]

[code]

On build a warning is printed:
[code]

And if I run `strings rust-test | grep jemalloc`, I still see references to `jemalloc`.

[2017-09-04 17:51] ollie27 commented on #27389
I'm pretty sure that documentation is hopelessly out of date. What you have to do now is something like: https://github.com/rust-lang/rust/blob/1685c9298685f73db4fe890c1ed27b22408aaad7/src/test/run-pass/smallest-hello-world.rs#L20-L25

[2017-09-04 17:53] lnicola commented on #27389
@johnthagen Something like this https://play.rust-lang.org/?gist=61a51580a2afd9420fb267d929ef7b7e&version=nightly

[2017-09-04 17:58] johnthagen commented on #27389
Thank you @lnicola! Confirmed `jemalloc` strings are no longer present and binary size dropped from ~400KB to ~200KB.

[2017-09-04 19:45] mcarton commented on #44307
Clippy has [a lint](https://rust-lang-nursery.github.io/rust-clippy/v0.0.157/index.html#string_lit_as_bytes) for this exact problem.

[2017-09-04 20:01] eddyb opened #44318 "DefIndex formatting should split the "address space" and actual index."
Right now we see things like `DefIndex(2147483663)` and `DefIndex(2147483659)` which are annoying to look at and tell any differences between - compare to `1:11` and `1:15`.

[2017-09-04 21:31] lukaramu commented on #44306
cc #24305

[2017-09-04 21:45] CryZe opened #44322 "Using LTO while building as static library causes conflicts"
If you build your Rust project as a static library to link it into a C codebase, you usually want to crank up the optimizations, as also indicated by the librsvg blogpost (towards the end):

https://people.gnome.org/~federico/blog/librsvg-build-infrastructure.html

This is all fine, until you want to link in another library built with Rust, which is very likely if you want to incrementally introdu

[2017-09-04 22:17] toidiu commented on #44240
@eddyb havn't contributed to this repo yet. is this an appropriate issue for a new contributor to tackle? Sounds like a lot of find and replacing and and some understanding of macro/rvalue

[2017-09-04 22:24] Mark-Simulacrum commented on #44240
https://github.com/rust-lang/rust/pull/44312 is already taking care of this issue. Maybe @eddyb could suggest an alternative issue for you to work on?

[2017-09-04 22:25] fefe17 commented on #43545
I have the same issue when attempting to compile rustc 1.20 on amd64-linux.
When I tried jury-rigging the build by manually putting the liblzma.a into the path suggested by Pulfer above, the build still failed:

  = note: /usr/lib64/gcc/x86_64-pc-linux-gnu/7.2.0/../../../../x86_64-pc-linux-gnu/bin/ld: /tmp/rustc-1.20.0-src/build/x86_64-unknown-linux-gnu/stage0-tools/x86_64-unknown-linux-gnu/releas

[2017-09-04 22:31] Mark-Simulacrum opened #44323 "Compile time regression in #44186"
Up to a 6% regression in performance is hiding somewhere in this range: https://github.com/rust-lang/rust/compare/7eeac1b81446c6327f1827ef334eca2db7fe28f7...890c87b643264120dc1064ed73df6def974e02f. I suspect https://github.com/rust-lang/rust/commit/5c279a40aeba4c3df968aa2d7c2ccc37f3dfd9df, but it could be something else as well -- that's the only one that stands out to me though.
cc @alexcrichton

[2017-09-04 22:43] jonhoo opened #44324 "Entry APIs should have or_default for V: Default"
The various Entry APIs (e.g., [`hash_map::Entry`](https://doc.rust-lang.org/std/collections/hash_map/enum.Entry.html), [`btree_map::Entry`](https://doc.rust-lang.org/std/collections/btree_map/enum.Entry.html)) currently have `or_insert`, and `or_insert_with`. However, when `V: Default`, I believe they should also have an `or_default`. This would make it nicer to work with things like maps of maps,

[2017-09-05 01:31] pornel commented on #42869
Technically, AFAIK it is safe to strip the prefix in common simple cases (absolute path with a drive letter, no reserved names, shorter than max_path), and leave it otherwise.

So I think there's no need to compromise on correctness as far as stdlib goes. The trade-off is between failing early and exposing other software that doesn't support UNC paths vs maximizing interoperability with non-UNC so

[2017-09-05 01:51] #33173 closed

[2017-09-05 02:00] jonwolski commented on #42645
Are symlinks or hard links not an option just due to Windows support? If so, perhaps it is worth pointing out that Windows 10 supports symbolic and hard links without the privilege escalation that was necessary in Vista, 7, and 8 (and XP if you include "junctions").

Forgive me if I'm stating the obvious. I do not really understand this issue. I just would not want to see an easy solution overlook

[2017-09-05 02:12] SergioBenitez commented on #43888
This seems to have been fixed in a recent nightly. Closing this out.

[2017-09-05 02:12] #43888 closed

[2017-09-05 04:20] nrc commented on #44229
Update: #44238 and #44329 addressed some issues with the warnings and it is now off by default (it was on by default for one nightly release). The next step is to assess the false positive situation. @QuietMisdreavus is going to list some good test crates and obtain the warning output for them. @GuillaumeGomez is going to try some experiments to reduce the false positive rate.

[2017-09-05 04:39] nrc commented on #38338
We discussed this at the dev-tools meeting today. The general feeling was that while this is a fine feature with no obvious problems, there is not a lot of pressure to stabilise, and that given that target specs are unstable, it is probably best not to rush into that.

@cardoe Is there motivation from your end to have this on stable, rather than nightly-only?

[2017-09-05 04:56] #43268 closed

[2017-09-05 05:31] eddyb commented on #44240
I'd suggest looking at E-mentor as usual.

[2017-09-05 07:49] tirr-c commented on #44021
After investigating the parser, I found out it panicked after trying to parse closure argument list.

[code]

[code]

On stable(1.20.0), the compiler falls into the infinite loop.

[2017-09-05 08:18] tirr-c commented on #44021
I'm trying to fix this. `expect` instead of `bump` might help?

[2017-09-05 10:14] MageSlayer opened #44333 "Match with functions: first arm always triggered"
Hi all

Following code produces always the same output in console and emits
[code]
... in compilation.

[code]
Tested in Rust playground in nightly.
Any comments?

[2017-09-05 10:37] arielb1 commented on #44323
Looks like 5c279a4 - we're hashing the in-scope traits for a bunch of more things in `<NodeId as HashStable>::hash_stable`

[2017-09-05 10:53] MaikKlein opened #44334 "Collector in trans is private"
I am currently trying to create a SPIR-V backend but I am running into a few problems.

For example https://github.com/rust-lang/rust/blob/master/src/librustc_trans/collector.rs is private https://github.com/rust-lang/rust/blob/master/src/librustc_trans/lib.rs#L108

It seems that a lot of useful functionality is inside `collector.rs`. Would it be possible to make some functionality public? I would

[2017-09-05 11:06] tirr-c commented on #44333
In your code, `minus`, `plus` in match patterns are treated as variable names. Try pattern guards:

[code]

Note that the return value of `rng.gen()` ranges from `i64::MIN` to `i64::MAX`, because `test` accepts an argument of type `i64`. You will rarely see `minus` and `plus`, because most of the case match expression will fall into the placeholder arm and print `other`.

[2017-09-05 11:32] arielb1 commented on #44323
Umm no the problem is that we're hashing literally every HirId ever

[2017-09-05 11:50] MageSlayer commented on #44333
Yes with guards it works, but I suspect it changes the semantics of match (less optimizations I guess).
Is it possible to make "minus" and "plus" constants instead? I mean it's just pointers under the hood, right?
And yes "rng" is just to give an idea.

[2017-09-05 12:34] kennytm commented on #44221
Not sure if Travis CI is aware of this, but the problem is very likely in the connection to the log collector or RabbitMQ, not the VMs themselves (yeah not something we can fix).

I'm currently monitoring https://travis-ci.org/rust-lang/rust/jobs/272020017, and logs are being written out if you "Follow log" at the web interface, but opening it again the logs will be all gone.

![screenshot_2017-09

[2017-09-05 12:35] vitalyd opened #44336 "Incorrect closure type deduced despite move keyword"
[code]
This fails to compile on 1.20 (and a few earlier versions that I tried) with:
[code]
But this should be capturing `my_text` by move and generating an `FnOnce` shouldn't it?

This issue was originally brought up in https://users.rust-lang.org/t/moving-option-into-a-closure-by-binding-it-in-a-pattern-does-not-work-noob-question/12721

[2017-09-05 12:58] arielb1 opened #44337 "Make sure that calls to Fingerprint::combine do not undermine collision safety"
`Fingerprint::combine` is not a cryptographic hash, so when we use it we might lose the "cryptographic" guarantee of collision safety. Potentially even worse, `Fingerprint::combine` is associative: `Fingerprint::combine(Fingerprint::combine(a, b), c) = Fingerprint::combine(a, Fingerprint::combine(b, c))`, and that might cause "algebraic" collisions in some cases.

For example:
https://github.com/r

[2017-09-05 14:24] oli-obk opened #44339 "Weird diagnostic when typing a `.` instead of a `,`"
Compiling

[code]

yields

[code]

The first error makes sense, but the second one seems pretty bogus to me.

[2017-09-05 14:29] dtolnay commented on #44336
The workaround is to somehow make the move clearer. Either of the following work. But the compiler should be able to recognize this is a move without a workaround.

[code]

[code]

[2017-09-05 14:37] oli-obk commented on #22630
@yuval-k You can search the codebase for `UNUSED_ASSIGNMENTS`. There should be 2 or 3 mentions. The one that is surrounded by a `span_lint` call is where everything happens. From there you can go backwards to find out when that code is actually called.

[2017-09-05 14:39] oli-obk opened #44340 "unused_assignments does not care about unused assignments to reference derefs"
[code]

does not emit the `unused_assignments` lint. I understand that this is not possible for `DerefMut` in general, because every call to `deref_mut` (via desugaring `*`) can result in a different reference, but for pure references everything should be good.

[2017-09-05 14:40] SimonSapin commented on #44224
I don’t understand what that means. Is this a concept of the language that is relevant to its users, or only an internal detail of the compiler?

Right, #43880 was a breaking change so effectively reverting it is *another* breaking change (unless it happens within the same release cycle).

The team needs to decide whether this breakage is acceptable per https://github.com/rust-lang/rfcs/blob/maste

[2017-09-05 14:44] SimonSapin commented on #44224
And the larger policy question is: “it doesn’t affect any code that happens to be tested by crater/cargobomb” *sufficient* to justify any breaking change, even if it not a soundness fix?

[2017-09-05 14:47] vitalyd commented on #44336
An ever simpler example that doesn't exhibit the expected outcome is:
[code]
This happily compiles and prints twice.  It's as-if the `move` keyword is entirely ignored or what's actually moving here is `&String` and not the `String` value, but should be the behavior if a `move` keyword is not specified.

[2017-09-05 14:59] nikomatsakis commented on #44224
@SimonSapin

Sorry, I geeked out a bit in the response there. The answer is somewhere in the middle. In short, there are corner cases of the language that interact with particulars in the implementation. Sometimes this gives rise to complicated or internally inconsistent definitions. The goal of #43880 was effectively to remove some "conceptual duplication" between how trait matching worked during

[2017-09-05 15:04] Freyskeyd commented on #44339
Yes I agree, I will take a look at the code.

[2017-09-05 15:06] pftbest commented on #44197
This code produces the same error:
[code]

Is there some workaround?

[2017-09-05 15:12] nikomatsakis commented on #44234
Yes so I'm in favor of this. I think roughly speaking the idea of an "input" query would just be that it's a query where we can *never* re-use the results. Seems like a simple thing for us to add and it will no doubt remain useful until such time as we push the query system all the way throughout the compiler (and maybe even then...).

(For example, it could eventually subsume the existing handlin

[2017-09-05 15:19] michaelwoerister commented on #44234
I think so, yes.

[2017-09-05 15:28] SimonSapin commented on #44224
Alright, that's fair enough.

And as @aturon just said on IRC it's also the role of Nightly to catch issues like this that might have slipped through cargobomb, with time before they reach Stable.

[2017-09-05 15:53] steveklabnik commented on #44324
Generally, the way the libs team works is "open a PR if a change is small, open an RFC if a change is big." I'm not on the libs team, but this feels pretty small to me; you already almost have an implementation in the comment!

[2017-09-05 16:26] hcpl opened #44342 ""unused `#[macro_use]` import" false positive in libs and unit-tests"
It doesn't recognize that `assert_eq!` from `pretty_assertions` has shadowed the standard one.

### Code

`src/lib.rs`:
[code]

### Command and output

[code]

### Configuration

[code]

---

Note that `cargo run` with equivalent `src/main.rs`:

[code]

works fine:

[code]

But this `src/main.rs`:

[code]

will trigger the warning too:

[code]

[2017-09-05 16:27] eddyb opened #44343 "Use #[repr(C)] HList's to infer type-erased fmt fn pointers in format_args!'s static data."
Right now `format_args!` uses, e.g. `ArgumentV1::new(&runtime_data, Debug::fmt)` (for `{:?}`), at runtime, using up *two* pointers per argument at runtime instead of just one (`&runtime_data`).

With `allow_internal_unsafe` and #44240, we can place the (e.g. `Debug::fmt`) `fn` pointers in (rvalue-promoted) `'static` data, the remaining hurdle is how to infer the type of the runtime data.
That is,

[2017-09-05 17:10] sgrif opened #44345 "Updating dependency caused type inference to fail on unrelated code"
Note: This is not a bug. This is a case that I ran into that was difficult to debug, and extremely confusing. In the interest of the ergonomics initiative, I wanted to report it. However, rustc is behaving as expected. Feel free to close this at your leisure.

At some point last night, Diesel's builds suddenly started failing for no apparent reason. [This line](https://github.com/diesel-rs/diesel/

[2017-09-05 17:11] kallisti5 commented on #38212
@jessicah got us bootstrapped with the not-super-obvious sysroot approach... not 100% if there is still a viable story here.  Maybe this should transform into some kind of "Tips for bootstrapping" tecnical article with mentions of sysroots? :-)

[2017-09-05 17:39] Arnavion commented on #44197
@pftbest

[code]

[2017-09-05 17:42] estebank commented on #41962
I'll post a PR later today, but I'm not entirely convinced with the output, too long a label in my eyes:

[code]

vs the current

[code]

Three other alternatives I can think of are:

[code]

[code]

and

[code]

Does it make sense to refer to `(maybe:std::prelude::v1::Some).0` as `maybe.0`? It is technically correct, if not very illuminating.

[2017-09-05 18:04] killercup commented on #44345
Pls add labels `A-spooky-action-at-distance` and `I-takes-ages-to-track-down` kthxbai

[2017-09-05 19:19] sgrif opened #44348 "Rustdoc renders associated constants poorly"
We recently changed Diesel to use associated constants in a few places, and noticed that our docs look a lot worse as a result.

<img width="1010" alt="screen shot 2017-09-05 at 1 12 41 pm" src="https://user-images.githubusercontent.com/1529387/30079223-ba8950c2-923c-11e7-948e-72816bc99b96.png">

It stands out far too much, and looks nothing like any other section of the docs related to traits. It

[2017-09-05 19:20] killercup commented on #44348
FTR, original implementation was in https://github.com/rust-lang/rust/pull/39944 and current design suggested in https://github.com/rust-lang/rust/pull/39944#issuecomment-281197711

[2017-09-05 19:41] jonhoo commented on #44324
@steveklabnik PR submitted!

[2017-09-05 19:47] NilSet opened #44349 "overflow evaluating the requirement `impl ListString: std::marker::Freeze`"
This code fails to compile in an interesting an interesting and unhelpful way, taking about internal traits and giving no line numbers.

https://play.rust-lang.org/?gist=a6eb10c5a6350a9c6fbf8e4af87d98d2&version=nightly

[2017-09-05 19:49] pftbest commented on #44197
@Arnavion , thanks! Looks like I also hit #38615 when I forgot to add `move`.

[2017-09-05 20:11] wilysword commented on #27802
I tend to agree that this should be removed from `std`, though for a slightly different reason: I'd like the interface for "returning a stream of `char`s from an `io::Read`er" to work with any encoding, not just UTF-8. If the general purpose of `io::Read` is to represent a stream of arbitrary bytes, then some other trait should represent a stream of decoded characters (though for completeness, I w

[2017-09-05 20:34] cengizIO commented on #42701
Hello @gaurikholkar I was in LOA during last week, just returned. Will revise my PR tomorrow.

[2017-09-05 20:36] GuillaumeGomez commented on #42653
I'll do it in the next days or so.

[2017-09-05 20:37] SimonSapin commented on #27802
https://github.com/hsivonen/encoding_rs/issues/8 has some discussion of Unicode stream and decoders for not-only-UTF-8 encodings.

[2017-09-05 20:49] GuillaumeGomez commented on #42653
First, writing a new `Emitter`: https://github.com/rust-lang/rust/blob/master/src/librustc_errors/emitter.rs

[2017-09-05 20:54] ExpHP commented on #44336
I believe `match` does not technically move its argument, since it must support `ref` patterns:

[code]

@vitalyd 's example appears to be unrelated.  The string is moved into the closure just fine (try using the string itself afterwards), but the closure implements `Fn` because the body only needs to borrow the string.

[code]

[2017-09-05 21:00] dtolnay commented on #44336
Even so, we can clearly tell after the closing brace of the `match` whether you are allowed to keep using that variable or whether it has been moved by the `match`. So we already know whether a particular `match` moves the input. That needs to translate into the right behavior for `move` closures.

[2017-09-05 21:28] vitalyd commented on #44336
@ExpHP, yeah there are 2 slightly different issues/examples here.  The example from rust users should not be a compiler error.  The String example I gave shouldn't allow calling runner() twice.  Both boil down to, I think, an incorrect type of closure to be determined by the compiler.  Essentially, the move keyword doesn't do what it says on the tin :).

[2017-09-05 21:33] vitalyd commented on #44336
Should also mention that it's important that move works here.  Given Rust doesn't allow specifying capture lists nor capture style, users only have move to work with.

In the Option example here, the binding used in the capture is the value itself.  If someone wants to move a reference, then they should create a '&Option<...>' binding outside the closure and then use it inside the closure - then I

[2017-09-05 22:23] cuviper commented on #44336
@vitalyd The `move` keyword changes how the environment is captured, but I don't see any reason why that closure couldn't still implement `Fn`.  I think your simpler example is fine to allow calling `runner()` twice.

[2017-09-05 22:31] vitalyd commented on #44336
@cuviper, that's one way to look at it, sure.  The closure simply owns the String and you can call it multiple times.  So how does one force FnOnce generation without syntactic hacks or extra verbiage? Perhaps this is a case where lack of explicit capture semantics is problematic.

Also, I think the Option case is the more problematic one as that code should compile - I think that's what anyone lo

[2017-09-05 22:33] cuviper commented on #44336
Writing the OP this way still fails:

[code]

But adding indirection marked with `FnOnce` succeeds:

[code]

I would expect you could even drop the `move` altogether, since it should be inferred to use move semantics, but that doesn't work even in my second example.  It's OK without `move` if you use the `{my_text}` trick though.

[2017-09-05 22:43] vitalyd commented on #44336
Yeah, this wouldn't be the only case where a workaround is needed in Rust.  But, I'll admit that I would've thought the original code compiled without issue.  It's also very newbie unfriendly given how vanilla the case is.

[2017-09-05 23:48] str4d opened #44358 "Expose min and max values in benchmarks"
Currently, `cargo bench` prints output along these lines:

[code]

The values are derived [here](https://github.com/rust-lang/rust/blob/7f054990b6bb19e15750a4442a24941cc157acb6/src/libtest/lib.rs#L844-L845), from which we can determine that the key value is a median, which is good! Unfortunately, the other value given is a range, which is not particularly useful:

- As-printed, it looks like [an e

[2017-09-06 01:12] Eh2406 commented on #23442
There is a FIXME related to this issue,
https://github.com/rust-lang/rust/blob/master/src/libcore/convert.rs#L368
Now that the issue is closed can the FIXME be fix, or made more specific?

[2017-09-06 01:16] Eh2406 commented on #11084
There is a FIXME related to this issue,
https://github.com/rust-lang/rust/blob/master/src/libcore/option.rs#L1092
Is this now resolved? If so can the FIXME be fix, or made more specific?

[2017-09-06 01:26] Eh2406 commented on #16420
There is a FIXME related to this issue,
https://github.com/rust-lang/rust/blob/master/src/librustc_driver/pretty.rs#L459
Now that the issue is closed can the FIXME be fix, or made more specific?

[2017-09-06 01:33] ob opened #44359 "`rustc --crate-type staticlib --emit asm` on macOS silently omits code"
I was playing with a trivial rust program:

[code]

and compiling it like so

[code]

I was very surprised that it produced no output. However, if I do

[code]
I get the expected output (except the name of the function is still mangled).

I _think_ this is because macOS doesn't support static libraries? It seems it should be an error if that is the case.

This is with

[code]

But I tried stable a

[2017-09-06 01:48] #37181 closed

[2017-09-06 02:18] Mark-Simulacrum commented on #16420
Looks like `pretty=expanded,hygiene` is a thing though so reopening... output today is below. I'm not completely sure whether this is fixed or not --- the output looks the same for the two `x`s, I guess? Not sure which are being referred to either...

[code]

[2017-09-06 04:33] cardoe commented on #38338
Well I'd use it to generate the specs for Yocto. I've discussed it on other tickets but I can't use the built in targets because of the need for custom sysroots (e.g. the linked Cargo issue) Yocto has a host environment, which is effectively built for the running OS and then the target environment that things are being built for. In some cases they can both be x86_64 machines but they target diffe

[2017-09-06 06:53] atorstling commented on #43962
So, the reason for having so many files open is that iron and hyper leaks connections. If you look at https://docs.rs/iron/0.5.1/iron/struct.Listening.html#method.close, it is documented that closing the iron server doesn't work and leaks connections and threads due to a known bug in hyper 0.10.

Additionally, iron and hyper by default use many threads and large connection pools. I've tuned those

[2017-09-06 07:30] parched commented on #29722
I've been having a bit of play to see what can be done with procedural macros. I've written one that converts GCC style inline assembly to rust style https://github.com/parched/gcc-asm-rs. I've also started working on one that uses a DSL where the user doesn't have to understand the constraints and they're all handled automatically.

So I've come to the conclusion that I think rust should just sta

[2017-09-06 08:01] est31 commented on #43962
@atorstling many thanks!

[2017-09-06 08:44] oli-obk commented on #44333
You can normally use constants, but these currently fail: https://play.rust-lang.org/?gist=ad06b52140cf452e1e442153f0ac95f9&version=stable

I guess noone thought that functions would be used in patterns:

[code]

[2017-09-06 09:05] tirr-c opened #44363 "Hard to find out whether a type is Send or Sync"
Currently, only the explicit unsafe `impl`s of `Send` and `Sync` (and their `!` counterparts) are shown in the docs. This makes me write a test code that actually sends some value across thread boundaries. For example, to find out whether `Core` from `tokio-core` is `Send`, I should test it:

[code]

Then it turns out that `Core` does not implement `Send`. (And it's hard to get the point quickly.)

[2017-09-06 09:11] MageSlayer commented on #44333
That's much getter, imho. Thanks for hint.

Functions as values? Never heard of heresy like that :)

[2017-09-06 09:12] kennytm commented on #44363
Duplicate of #17606

[2017-09-06 09:14] tirr-c commented on #44363
Oh, I forgot to search first.

[2017-09-06 09:14] #44363 closed

[2017-09-06 09:34] kennytm commented on #44221
Incident notice: https://www.traviscistatus.com/incidents/2f0443bbphld

[2017-09-06 09:47] tirr-c commented on #44333
Reduced the testcase.

https://play.rust-lang.org/?gist=b2f649febb256d6fb443b014e38ea6c0&version=stable

[2017-09-06 10:44] Ryan1729 opened #44365 "Reloading a dylib stops working when moving from 1.19.0 to 1.20.0"
I have been writing programs which check if a dynamic library's modification time has changed and reload it if so. This allows me to interact with the program, producing transient state but then make changes to the dynamic libraries code and load it to see the result of the changes on the transient state without closing the program.

This feature of my programs has stopped working since I updated

[2017-09-06 12:39] arielb1 commented on #41962
@estebank

`(maybe as Some).0` is the name of the path. It is what counts for move conflicts.

[2017-09-06 12:45] eddyb commented on #41962
`maybe.Some::0` could be an alternative - I think it works better with named fields.

[2017-09-06 13:13] oli-obk opened #44366 "Meta issue for FIXMEs that reference closed issues"
@Eh2406 compiled this awesome list. I think it should be a meta issue. So here it is

* [ ] `FIXME(https://github.com/rust-lang/cargo/issues/4089): move these to exclude`
    * [code](https://github.com/rust-lang/rust/blob/master/src/Cargo.toml#L20) -> [issue](https://github.com/rust-lang/rust/issues/4089)
* [ ] `FIXME: Temporary fix for https://github.com/rust-lang/cargo/issues/3005`
    * [code]

[2017-09-06 13:20] vberger commented on #34537
I don't know how much this is expected/already known, but the lint triggers in cases like this one:

[code]
with
[code]

Though here, relative to module `foo`, `Private` and `internal::Bar` are both private. As such, I find this surprising that the lints triggers on this.

[2017-09-06 13:26] petrochenkov commented on #34537
@vberger
This is expected behavior at the moment (`Bar` is `pub`, `Private` is `pub(in foo)`, `pub` > `pub(in foo)` => private-in-public error), but it will change [soon](https://internals.rust-lang.org/t/lang-team-minutes-private-in-public-rules/4504/53?u=petrochenkov) and this specific case won't be reported.

[2017-09-06 13:39] Eh2406 commented on #44366
The good part, this was made with an automated script. I can keep it up-to-date by rerunning as often as we want.

The bad part, it was made with an automated script. Some of these are false positives, like the first one, where the script was too dumb to realize said it's an issue on a different Repository.

In general fees can be fixed by:
1. Doing what the fix me said to do and seeing if the pr

[2017-09-06 13:50] kuviman commented on #43273
Hello,
So I guess this is the reason I cannot build targeting asmjs-unknown-emscripten on stable now on Windows.

I also had to fix some of my build scripts but I am not sure if I can fix this:
[code]

[2017-09-06 13:56] SimonSapin commented on #38356
`TokenStream::from_str` panics when used outside of a procedural macro (for example in a build script):

[code]

Would it be possible/desirable to replace this panic with implicitly creating a dummy "session"? Or perhaps add a public API (with a path to stabilization) to create one?

[2017-09-06 14:22] gnzlbg opened #44367 "repr(simd) is unsound"
The following should be discussed as part of an RFC for supporting portable vector types (`repr(simd)`) but the current behavior is unsound ([playground](https://play.rust-lang.org/?gist=65feeeae91031abb1e530defcd2a3be4&version=nightly)):

[code]

Basically, those two objects of type `f32x8` have a different layout, so `foo` and `bar` have a different ABI / calling convention. This can be introduc

[2017-09-06 15:30] gnzlbg commented on #42515
Does the following help?

[code]

That is, could we propagate the target features of `foo_avx` and `foo_sse3` somehow (handwaiving) to `foo_impl` ?

The trivial case of this is what @parched proposed.

[2017-09-06 15:31] toidiu commented on #42628
@MarkMcCaskey are you still working on this?

[2017-09-06 15:33] kennytm commented on #42628
@toidiu already implemented as #44206, currently waiting to be merged.

[2017-09-06 15:33] eddyb commented on #44334
It should be moved to to `librustc_mir`. cc @nikomatsakis @michaelwoerister

[2017-09-06 15:44] michaelwoerister commented on #44334
I think we'll need to turn it into a query soon anyway.

[2017-09-06 15:56] rkruppe commented on #44365
Dylibs, like rlibs, have a *completely* unstable ABI. Among countless other problems, the compiler is free to inline code from a dylib into crates using the dylib, which of course breaks hot-reloading.

A reliable way to do this (insofar any hot-reloading can be reliable) would be using the **c**dylib crate type and interact with with the shared object through a C interface with a stable ABI. That

[2017-09-06 17:06] gnzlbg opened #44370 "paper cut: is a slice / Iterator sorted?"
I just used `binary_search` inside a loop and realized that it would be nice to check before the loop if my immutable slice was sorted. So I spent 10 minutes going through the standard library just to find out that there aren't any `is_sorted`, `is_sorted_by`, `is_sorted_by_key`, etc. algorithms implemented for neither slices nor iterators.

We should add:

- [ ] `Iterator::is_sorted`
- [ ] `Itera

[2017-09-06 17:13] gnzlbg opened #44371 "allow standard library functions to check expensive pre-/postconditions"
See also: https://github.com/rust-lang/rust/issues/44370

There should be a way for standard library functions to check expensive pre-/postconditions, by which I mean preconditions that change the complexity of the standard algorithms (e.g. by making a `O(1)` algorithm `O(log N)`).

Example: `binary_search` requires the input slice to be sorted, otherwise the result is unspecified. Checking if the

[2017-09-06 17:16] nikomatsakis commented on #35946
So, between @huntiep and @arielb1, we now have a lot of progress on this topic. See for example the [try-operator-on-main](https://github.com/rust-lang/rust/blob/master/src/test/ui/suggestions/try-operator-on-main.rs) test case ([output](https://github.com/rust-lang/rust/blob/master/src/test/ui/suggestions/try-operator-on-main.stderr)).

Notably, we now say one of the following:

- the `?` operato

[2017-09-06 17:17] arielb1 commented on #44370
We also shouldn't change it to be `O(n)` on debug-assertions builds - debug-assertions should be for the last 2x of performance, not for potential order-of-magnitude slowdowns.

[2017-09-06 17:19] gnzlbg commented on #44370
@arielb1 sorry this issue turned into two, I've split that part to #44371.

[2017-09-06 17:23] toidiu commented on #42628
@kennytm oops sry missed that

[2017-09-06 17:25] nikomatsakis commented on #35946
Well, looking through the RFC, there are a few things not covered. These are the heading:

- Suggesting a new return type:
  - The RFC writes, 'At this point, we could likely make a suggestion such as "consider changing the return type to Result<(), Box<Error>>".'
  - It's not clear to me that this is a good idea, but it might be, subject to the caveats in the RFC.
- Errors cannot be interconverte

[2017-09-06 17:38] Swoorup commented on #35083
I agree with this as well. What about using `unexpected` instead of  `expect`  :smile:

[2017-09-06 17:46] arielb1 commented on #44371
We also shouldn't change `binary_search` to be `O(n)` on debug-assertions builds - debug-assertions should be for the last 2x of performance, not for potential order-of-magnitude slowdowns.

[2017-09-06 18:04] gnzlbg commented on #44371
@steveklabnik is it ok to discuss this as a pre-RFC here then or should I post this in the internals forum?

[2017-09-06 18:09] steveklabnik commented on #44371
Yeah, this makes it not a good issue; issues should have a clear way to resolve them.

A post on the internals forum would be perfect. Thanks!

[2017-09-06 18:09] #44371 closed

[2017-09-06 18:20] eddyb commented on #44334
That doesn't help, IMO. It should be a reusable piece of code. `librustc_trans` is the LLVM backend and therefore non-reusable.

[2017-09-06 18:22] gnzlbg commented on #44371
FWIW: https://internals.rust-lang.org/t/pre-rfc-expensive-pre-postcondition-checks-in-std/5871

[2017-09-06 18:37] leonardo-m commented on #44370
In the D language standard library there is also a wrapper for sorted iterables (that performs statistical tests inside its constructor), with it you can create functions that document in the code that return/accept sorted iterables.

[2017-09-06 19:21] QuietMisdreavus commented on #29982
We discussed this at the docs team meeting today, and couldn't reach a consensus on whether we wanted to expend the effort putting this together. If i remember right, errors are usually emitted with a summary line, so grabbing those and codifying them into the error index (if they aren't already) would get close to solving this.

[2017-09-06 19:45] steveklabnik commented on #41671
Marking this as p-low; it's unclear where this should go, it's unclear who can do this work. It'd be nice to have, but not sure when we're gonna get around to it.

[2017-09-06 20:22] nossralf commented on #44041
I was doing some legwork whilst writing an LLVM bug for this, and noticed that on LLVM trunk, they've added a SimplifyCFG pass at the very end of the function which I modified above (populateModulePassManager).

It was added in this change: https://reviews.llvm.org/rL301395

I made the corresponding change in the Rust tree, and the end result is the second to last LLVM-IR above, with the icmp and

[2017-09-06 20:30] lilianmoraru commented on #42518
Still doesn't compile on nightly :(
Even with `--features no-stdlib`

[2017-09-06 20:36] Aaron1011 opened #44373 "Nightly regression: Unable to create array temporary in static"
This code snippet:

[code]

compiles on stable rust `rustc 1.20.0 (f3d6973f4 2017-08-27)`, but not on `rustc 1.22.0-nightly (2f1ef9ef1 2017-09-05)`.

[Playground link](https://play.rust-lang.org/?gist=64728fb0e32cc38b0ca6b813b95c04f3&version=undefined)

[2017-09-06 20:38] Boofysaurus commented on #41646
BurntSushi I'm offended by your name
http://www.urbandictionary.com/define.php?term=burnt%20sushi&utm_source=search-action
please change it to CookedSushi, that will make me feel better :'(

[2017-09-06 20:44] bluss commented on #44370
Just to help clarify here: slices are iterable (`IntoIterator` for `&[T]`, `&mut [T]`), but not themselves iterators.

[2017-09-06 20:49] Boofysaurus commented on #41646
Sorry my last comment was inappropriate I shouldn't have linked urban dictionary. however I find the name very offensive still.

[2017-09-06 20:54] Aaron1011 commented on #44373
I'd like to work on this issue.

[2017-09-06 21:05] Mark-Simulacrum commented on #44373
cc @eddyb -- this seems related to the work you've been recently doing

[2017-09-06 21:10] eddyb commented on #44373
Hmm, this looks like an rvalue promotion failure. @Aaron1011 can you try, on this line: https://github.com/rust-lang/rust/blob/a20953906056f85f71896795e762ac242e1891aa/src/librustc_mir/transform/qualify_consts.rs#L69
adding ` & !Qualif::STATIC_REF.bits`?

That should allow `&[&TEST]` to promote and thus let the code compile again.
The limitations around `static` are completely artificial given a c

[2017-09-06 21:11] blasrodri commented on #41616
Hi!
I was planning on developing a _crate ranker_ using something similar to a Page Rank algorithm. Would it be useful in any way?

[2017-09-06 21:44] addityasingh opened #44376 "Why wrapping an Option inside a Some ?"
During pattern match we don't need to wrap a `None` inside a `Some`

https://github.com/rust-lang/rust/blob/a20953906056f85f71896795e762ac242e1891aa/src/libcore/iter/mod.rs#L1521

and similarly for a `Some` inside a `Some`

https://github.com/rust-lang/rust/blob/a20953906056f85f71896795e762ac242e1891aa/src/libcore/iter/mod.rs#L1520

Is there any specific reason for doing this or can we get rid of

[2017-09-06 22:09] #43973 closed

[2017-09-06 22:34] alexcrichton commented on #44367
Two thoughts I've had in the past how to fix this:

* We can forbid this in trans I think by just making it a hard error. Basically when this happens give up and say "it's still your problem to fix it"
* The compiler could automatically generate a shim to "do the right thing". I explained this [a long time ago](https://internals.rust-lang.org/t/pre-rfc-stabilization-of-target-feature/5176/54?u=ale

[2017-09-06 23:20] johnthagen opened #44379 "Segmentation fault when running RUST_BACKTRACE=1 on stripped binary"
[code]

[code]

Should this be happening? I'm not surprised `strip`ping would affect the backtrace, but a segmentation fault feels like a bug.

Tested on:
[code]

[2017-09-06 23:34] hcpl commented on #44342
cc @est31 as the one worked on [Add lint for unused macros PR](https://github.com/rust-lang/rust/pull/41907)

[2017-09-06 23:46] estebank commented on #44376
The reason is in the definition:

https://github.com/rust-lang/rust/blob/a20953906056f85f71896795e762ac242e1891aa/src/libcore/iter/mod.rs#L1404-L1405

You can think of this as:

[code]

The outer `Option` being `None` means that the `peek()` hasn't been called on this `Peekable`, While the inner `Option` being `None` means that the iterator has ended.

[2017-09-07 02:45] frewsxcv opened #44382 "str::get_mut doc example should demonstrate mutability"
https://doc.rust-lang.org/nightly/std/primitive.str.html#method.get_mut

The doc example should demonstrate the effects of mutating the resulting string slice.

The easiest way I've found to demonstrate mutability with doc examples for `str` is to use `AsciiExt`: https://doc.rust-lang.org/nightly/std/primitive.str.html#method.split_at_mut

[2017-09-07 04:07] #35676 closed

[2017-09-07 04:07] #33185 closed

[2017-09-07 04:07] #22706 closed

[2017-09-07 04:07] #44318 closed

[2017-09-07 04:07] #44163 closed

[2017-09-07 04:07] #44242 closed

[2017-09-07 04:07] #44307 closed

[2017-09-07 04:20] Ryan1729 commented on #44365
@rkruppe I believe I've followed your suggestion in [this branch](https://github.com/Ryan1729/tiny-live-code-example/tree/C_ABI), ([diff here](https://github.com/Ryan1729/tiny-live-code-example/commit/3516b126d105a2b38c45194d8dcefba827f1b30e)), please let me know if I missed anything!

The code in that branch doesn't reload the library on 1.20.0 or 1.190. Oddly, if I don't change `state_manipulati

[2017-09-07 05:16] alexcrichton commented on #44379
Thanks for the report and definitely a bug! Should be fixed in https://github.com/rust-lang/rust/issues/44379

[2017-09-07 06:52] #41190 closed

[2017-09-07 06:58] estebank commented on #41962
@arielb1 is there any reason why `LpDowncast` types would be presented `(x as full::path::to::Enum).0` in `append_loan_path_to_string` and `(x:full::path::to::Enum).0` in `append_autoderefd_loan_path_to_string`?

I'll leave changing the presentation of a shorter path using the local scope's identifier to the purview of #21934.

[2017-09-07 07:15] est31 commented on #38384
With my PR #44386 I've chosen to go with gcc's strategy for now (tab mapped to one space always). Its the easiest to implement, and fixes the actual issue of mispositioning. Obviously its not beautiful, but if anyone wants to improve on that, please do so!

[2017-09-07 07:20] parched commented on #44367
It's worth noting that, when talking about LLVM features (which rust target features currently map directly to) this also affects floats (which are stable). I.e., on x86 with current safe rust if you compile one crate with --target-feature=+soft-float" and one without you have an issue. This can also be solved as Alex mentions though.

[2017-09-07 07:39] gnzlbg commented on #44367
@alexcrichton I would prefer to start with a hard error, and if we need it, add a way to optionally opt-in to the shim generation (*).

The only thing that concerns me about the hard error, is that we will probably need to emit this during monomorphization. I think that this is not acceptable, and we should only do this if it's either temporary or there is no other way.

@alexcrichton you mentione

[2017-09-07 07:43] gnzlbg commented on #44370
@bluss what I meant is that we should probably implement those methods on slices as well, but that implementation should just be forwarded to the `Iterator` version. I've reworded the issue.

[2017-09-07 07:57] rkruppe commented on #44365
One detail that's missing in your code is that you still get a `fn() -> State` instead of a `extern "C" fn() -> State` function pointer (and analogously for the other function). Unlikely to cause issues with these extremely simple signatures, but the calling convention *is* different.

Reading over the diff, I wonder whether `LIB_PATH` is still accurate? I believe cdylib artifacts are named and pl

[2017-09-07 09:10] Thiez commented on #44370
How would it make sense for this operation to be defined on an iterator? It would have to consume the entire iterator to get the result, leaving you only with the information that the iterator *that you now can't use anymore* would indeed have been sorted. `.is_sorted_by_key(select_the_key)` seems particularly redundant, given that it would just be `.map(select_the_key).is_sorted()`.

[2017-09-07 09:11] sp3d commented on #44184
I'm also running into this playing with `#[async]`.

FWIW, because this is caused by drop logic for variables bound in match arms, it can be worked around (ownership needs of your code permitting) by adding "ref" to variable bindings in match patterns.

[2017-09-07 09:28] gnzlbg commented on #44370
Of course.

Iterators don't own the data unless you move the data into the iterator. That is, if you don't want the data to get lost then don't do that. For example, given this

[code]

then this works

[code]

but this won't compile

[code]

There are many useful algorithms that consume an iterator. You seem to imply that consuming an iterator is somehow bad, but maybe you could elaborate on why

[2017-09-07 09:50] jessicah commented on #43982
Just hit this myself. It only happens in my builds if I pass `--enable-extended` to configure script for my [CI container](https://github.com/rust-lang/rust/pull/44381). Running with and without each time from a clean obj directory.

Note that it does need to be a clean build when changing `--enable-extended`. This does not happen if I start without `--enable-extended` then rebuilding with it adde

[2017-09-07 10:01] michaelwoerister commented on #44337
Just to clarify, we do not require these `Fingerprint` values to be cryptographically secure in any way. We just need them to be (roughly) as unlikely to collide as random 128 bit numbers would be.

[2017-09-07 10:12] nikomatsakis opened #44389 "enable mir inlining across trait methods"
As the fix to https://github.com/rust-lang/rust/issues/40473, @qmx disabled MIR inlining of trait calls altogether. This issue tracks the task of re-enabling the inlining, where possible!  This is a slightly more involved task.

Here is the example text:

[code]

The goal would be to have the call to `bar()` inlined. But we should draw up some more interesting tasks showing edge-cases: for example

[2017-09-07 10:12] nikomatsakis commented on #40473
So #44383 will fix this by just not inlining trait calls -- the simplest possible fix. I just opened https://github.com/rust-lang/rust/issues/44389 as an enhancement issue to track a more complete fix.

[2017-09-07 10:41] michaelwoerister opened #44390 "incr.comp.: Do not hard-wire DepGraph into Session and CrateStore."
In the current setup, we create the `DepGraph` [very early](https://github.com/rust-lang/rust/blob/d7d75eff30ff03f607ff0656a50f4be768cfdbc9/src/librustc_driver/lib.rs#L296), so it can be put into the `CrateStore` and the `Session` object. This means that we construct the `DepGraph` long before we have enough information to know where to load the previous `DepGraph` from and, because the `CrateStor

[2017-09-07 10:41] michaelwoerister commented on #44390
cc @nikomatsakis @alexcrichton

[2017-09-07 10:52] Ryan1729 commented on #44365
I ran `cargo clean` and then ran the version of the program that uses the C ABI again, and it behaved the same as before, that is, still not reloading the lib, but as expected otherwise. It still creates `libstate_manipulation.so` in `/target/debug/`, along with another copy in `/target/debug/deps`, whether I set `state_manipulation` to be a cdylib or a plain dylib.

When you talk about "having a

[2017-09-07 11:13] frehberg commented on #29646
Is there any plan to introduce LEN (or similar attribute) as associated const for the built-in rust-primitives 'arrray' or 'slice'? , for example

const N : usize = b"my_byte_string"::LEN;

or

is there any plan to declare std::intrinsics::size_of_val(v)  as const-fn(?) enabling somehing like:
#![feature(core_intrinsics)]
const N: usize = unsafe { std::intrinsics::size_of_val(b"my_byte_string") };

[2017-09-07 11:32] eddyb opened #44391 "#[thread_local] from windows DLLs gets duplicated by inlining."
This is most likely responsible for the windows failures from #43931 when the `__getit` function, which may return a reference to a `#[thread_local] static`, was `#[inline]` (cc @alexcrichton):
[code]
[code]
Running `b`, on x64 MSVC (thanks, @bcata6!) results in:
[code]

[2017-09-07 12:13] eddyb commented on #29646
@frehberg When const generics are implemented you will be able to do that yourself, for example with an `impl<T, const N: usize> MyLenTrait for [T; N]`

[2017-09-07 12:18] johnthagen commented on #44379
For others tracking, should be fixed in #44384 😄

[2017-09-07 12:21] nikomatsakis commented on #44389
Some notes:

First, [this code in the lints does more or less what is needed already](https://github.com/rust-lang/rust/blob/master/src/librustc_lint/builtin.rs#L978-L1034).

Second, [the code in trans](https://github.com/rust-lang/rust/blob/master/src/librustc_trans/monomorphize.rs#L103-L162) is reasonable, but assumes that things are monomorphized (otherwise it has to return an `Option`, to star

[2017-09-07 12:54] dylanede commented on #23856
Ran into this today.
@nikomatsakis the duplicates of this bug had more tags on them (like P-medium). Would it be worth adding those tags to this issue? Seems like it's getting forgotten a bit.

[2017-09-07 13:23] eddyb commented on #44389
This is the true entrypoint: https://github.com/rust-lang/rust/blob/d7d75eff30ff03f607ff0656a50f4be768cfdbc9/src/librustc_trans/monomorphize.rs#L166

This should be in `librustc` and everyone should use it. That's pretty much it.
There's enough functionality in there to work *without* monomorphization, including taking specialization into account to not resolve more aggressively than it's sound to

[2017-09-07 13:49] kw217 commented on #27324
Hi - any progress on this one? There's a simple repro above. I believe this is likely to be the cause of many inaccuracies in kcov coverage output. @michaelwoerister @Mark-Simulacrum how can I help progress this bug?

[2017-09-07 14:01] michaelwoerister commented on #27324
@kw217, sorry nobody has had time to look into this, I'm afraid. One thing that might be helpful is trying to reproduce this problem in a recent clang version, to see if this is a general LLVM problem or if we are just using it incorrectly.

[2017-09-07 14:02] kw217 commented on #27324
@michaelwoerister thanks, I'll see what I can do.

[2017-09-07 14:08] alexcrichton commented on #44391
I think this may be a dllexport/import problem, looks like `b.rs` is correctly annotated with `dllimport` but `a.rs` isn't annotated with dllexport!

[2017-09-07 14:18] vi commented on #42060
Another ICE case: `fn f(){let q=1;<typeof(q)>::N}`

[2017-09-07 14:18] steveklabnik commented on #44376
Yup! Closing as "not a bug". Thanks @addityasingh !

[2017-09-07 14:18] #44376 closed

[2017-09-07 14:37] alexcrichton commented on #44367
I'd personally be totally ok with a hard error, but yes I think we'd have to do it during monomorphization. It's true that we don't have *many* monomorphization errors today but I don't think we have absolutely 0, and I'd personally also think that we should at least get to a workable state and try it out to evaluate before possibly stabilization. I, personally again, would be fine mostly likely s

[2017-09-07 14:52] alexcrichton commented on #44391
Hm no I take that back, I forgot that we don't use `dllexport` but rather we use link.exe's `/DEF` argument. I've confirmed that the thread local symbol is indeed listed in that file, and I've also confirmed that it's exported from the DLL. Furthermore I've confirmed again dllimport is applied on the import.

I wonder if this is just not supposed to work? Or maybe this is how TLS works on Windows?

[2017-09-07 14:57] toidiu commented on #44382
I would like to attempt this.

[2017-09-07 15:03] frewsxcv commented on #44382
Long time no see @toidiu :wave: Let me know if you need any help with this or have any questions

[2017-09-07 16:08] arielb1 commented on #44337
@michaelwoerister

But cryptographic collision-resistance is a nice property, because it is fairly robust and implies we don't have to worry about odd interactions.

[2017-09-07 16:10] valarauca opened #44393 "rustc doesn't list `native` as a cpu option"
## short summary of the bug

[code]

Doesn't list the `native` as an option.

## I expected to see this happen:

I was informed, [on reddit](https://www.reddit.com/r/rust/comments/6ynm53/a_simple_tip_to_improve_rust_program_speed/dmotelg/?context=3) that `rustc -C target-cpu=native` was a valid option, but I could not see it listed in the help menu.

## Meta

I see this issues on

[code]

## How t

[2017-09-07 16:40] arielb1 commented on #41962
@estebank

No. Maybe we should just change both (and the relevant MIR case) to `x.$variantname::0`? We don't ever need to list the full path - variant names are guaranteed to be distinct.

[2017-09-07 16:49] cramertj commented on #24263
I know this issue has already been closed, and the function is on track for stabilization, but I thought I should bring this up anyway since it seems odd to me: `mem::discriminant` returns 0 for all non-enums, _including enum constructors_. That is, the following code prints `0` and then `1`:

[code]

IMO, it'd be nice to have the discriminant of the enum constructor match the discriminant of the

[2017-09-07 16:55] rkruppe commented on #44365
I am referring to the fact that `state_manipulation` only declares the cdylib crate-type in its Cargo.toml, not lib. I would not expect an rlib to be generated for that. Indeed I have just cloned the repository (commit https://github.com/Ryan1729/tiny-live-code-example/commit/d8ef24cf363490fdb8e11e6939da5dbf4d387cb1) and I get "can't find crate for `state_manipulation`" in release mode. Please dou

[2017-09-07 16:59] eddyb commented on #44367
@alexcrichton I've recently reviewed all non-ICE errors from `librustc_trans` and the only one that can be hit from stable is monomorphization recursion limit. Anything else would be a bug IMO.

[2017-09-07 17:13] kennytm opened #44394 "Consider making `std::time::SystemTime` platform-independent"
It was found in https://github.com/rust-lang/rust/pull/44220#issuecomment-327744848 that certain systems still uses a 32-bit `time_t`. `SystemTime` on them will suffer from the Year-2038 problem, and also cannot perform arithmetic for a duration >68 years. This introduces a portability hazard, in which on some systems the time arithmetic works normally, and in some more legacy system it suddenly p

[2017-09-07 17:18] johnthagen commented on #41555
I was hoping this would help solve the privacy issues brought up in #40552/#40374/https://github.com/rust-lang/rfcs/issues/1417, but after trying it out, am I correct that this isn't designed to solve that problem?

I checked out a sample rust project, https://github.com/johnthagen/rust-belt, and tried to manually change the prefix on the strings, but that resulted in a compile failure.

[code]

W

[2017-09-07 17:20] rkruppe commented on #44367
While `+soft-float` may not be considered a valid argument for `#[target_feature]`, disabling SSE *does* affect the ABI of floats. That is, this call would require a shim as well:

[code]

The above code actually works fine on the playground, because that's x86_64 where SSE2 is unconditionally present. However, a 32 bit x86 target, `bar` passes the argument in xmm0 while `foo` loads its argument f

[2017-09-07 17:44] durka commented on #24263
In theory we can change that since the docs say the return value for
non-enums is unspecified. But an enum constructor is "just" a function, so
I'm not sure it's a good idea.

On Thu, Sep 7, 2017 at 12:50 PM, Taylor Cramer <notifications@github.com>
wrote:

[2017-09-07 17:45] the8472 commented on #44370
How about a non-terminal `.while_sorted()` operation?  All it would have to do is compare adjacent elements and stop iterating when they are not monotonic. `.require_sorted()` could panic instead. Maybe this could be generalized into `.while_pair(|a,b| ...)` and put into itertools?

[2017-09-07 17:47] nikomatsakis commented on #24263
Hmm. I agree with @durka that at first it surprised me (because I think of them as a function), though *really* the type of a variant is (I believe...) a zero-sized type that uniquely identifies the enum variant. (Unless of course you coerce it into a function.) So it seems like it should be possible to make it work, and I do find @cramertj's use case compelling.

[2017-09-07 17:48] nikomatsakis commented on #24263
But what about "struct" variants?

[code]

[2017-09-07 17:48] eddyb commented on #24263
@nikomatsakis We employ the nuclear option (`Foo::Bar` is a function which you call with braces instead of parens and any function can be defined like that - named arguments!).

[2017-09-07 17:58] cramertj commented on #24263
@eddyb I suggested that exact thing on IRC in the lang channel:
[code]

[2017-09-07 18:05] parched commented on #44367
How about we make the target spec define the ABI regardless of what extra features are enabled or disabled by attributes or the commandline. That would avoid the need for shims and monomorphization errors. So for example on x86_64 which has 128bit vectors by default:
* `-sse` would be a hard error on the commandline or as an attribute on any function that has 128bit (and float?) parameters
* 256bi

[2017-09-07 18:14] gnzlbg commented on #44370
@the8472 itertools already has `.tuple_window` which combined with `take_while` is more generic than `.while_pair`.

Anyhow, I am neither in favour nor opposed to doing that, but I think that discussion should belong in a different issue.

This issue is about `std` neither checking the precondition of `binary_search` nor providing users the algorithm to check it themselves.

There is some prior ar

[2017-09-07 18:20] rkruppe commented on #44367
@parched That's not what LLVM does, though, so our hands are pretty tied there.

[2017-09-07 18:27] addityasingh commented on #44376
Thanks @estebank for the quick and well explained answer :)

[2017-09-07 18:38] alexcrichton commented on #44390
@michaelwoerister should the `DepGraph` argument all throughout `Decoder` also be removed? For example in [this function](https://github.com/rust-lang/rust/blob/d93036a043dbd19f394ad320313bdbe81644f121/src/librustc_metadata/decoder.rs#L871-L903).

After #44142 lands then 100% of the existing cstore methods are now queries (yay!) or otherwise don't need to be tracked.

[2017-09-07 19:03] michaelwoerister commented on #44390
Ideally the "raw" CrateStore implementation would not know anything about the DepGraph anymore, just the queries (if that's possible).

[2017-09-07 19:11] mattico commented on #44393
I've got a fix for this ready, just waiting for rustc to build...

[2017-09-07 19:14] alexcrichton commented on #44390
Ok! Sounds like a "yes"

[2017-09-07 19:18] the8472 commented on #44370
`is_sorted_until` seems like a good model. In the rust case that could be `sorted_prefix() -> (impl Iterator, impl Iterator)`. Then a consumer could do a binary search with the prefix and either panic if the tail is non-empty or do something else with it.

[2017-09-07 19:41] Thiez commented on #44370
That seems like a lot of complexity to avoid a single call to `sort()` (or `collect::<Vec<_>>()` followed by `sort()`).  Especially since your proposed `sorted_prefix` would have to perform hidden allocations to do its work anyway.

[2017-09-07 20:04] the8472 commented on #44370
Ok, how about `num_sorted() -> usize` for iterators? That could get you the sorted prefix of a slice for example. It's more powerful than `is_sorted()` without additional cost.

[2017-09-07 20:09] nikomatsakis commented on #43787
@vorner how are you reproducing those numbers? I wonder if this is affected by https://github.com/rust-lang/rust/pull/44269

[2017-09-07 20:11] nikomatsakis commented on #43126
Can we confirm if this is fixed (for now) by #44249?

[2017-09-07 20:14] nikomatsakis commented on #38714
In what sense is this a regression? That is, which code specifically works and where...?

[2017-09-07 20:15] arielb1 commented on #35408
I believe this should be fixed with the fix to #40883.

[2017-09-07 20:16] arielb1 commented on #38714
[code]

Causes an ICE in beta, none in stable.

[2017-09-07 20:16] nikomatsakis commented on #38714
triage: P-high

Assigning to myself to investigate.

[2017-09-07 20:21] nikomatsakis commented on #43023
triage: P-high

[2017-09-07 20:26] nikomatsakis commented on #44373
triage: P-high

Assigning to @eddyb to mentor @Aaron1011 towards a fix!

[2017-09-07 20:32] nikomatsakis commented on #44283
Huh. That's pretty mysterious! We'll have to investigate and see if we can narrow down what might have caused it.

[2017-09-07 20:33] nikomatsakis commented on #44283
An ideal thing would be to try and bisect this using the nightly snapshots, to try and narrow down precisely when the regression occurred.

[2017-09-07 20:33] nikomatsakis commented on #44283
triage: P-high

[2017-09-07 20:33] nikomatsakis commented on #44283
I will try to do this, though if anyone can help with the bisection, it would be most appreciated. =)

[2017-09-07 20:36] TimNN commented on #44283
I can run the bisection tool later today.

[2017-09-07 20:36] nikomatsakis commented on #44283
I can reproduce the problem locally, at least.

[2017-09-07 20:36] nikomatsakis commented on #44283
(Using `./run.sh` from the gist)

[2017-09-07 20:36] nikomatsakis commented on #44283
@TimNN that'd be awesome =)

[2017-09-07 20:38] nikomatsakis commented on #40768
Recategorizing as a @rust-lang/t-dev-tools-docs issue, since this appears to be a rustdoc limitation, though I think @jseyfried's recommendation (that we stabilize the underlying feature) may be wise. @jseyfried -- what is the relevant tracking issue?

[2017-09-07 20:40] arielb1 commented on #40768
See https://github.com/rust-lang/rust/issues/40768#issuecomment-315887709

[2017-09-07 20:41] nikomatsakis commented on #40768
Er, I take it back, sorry doc-tools team =)

[2017-09-07 20:56] joshlf commented on #43491
Per the discussion in #43550, we've decided not to make this change. Closing in favor of #44396.

[2017-09-07 20:56] #43491 closed

[2017-09-07 21:05] estebank commented on #41962
@arielb1 Shouldn't it be `x::$variantname.0`, `x:$variantname.0` or `x::$variantname::0` instead of `x.$variantname::0`?

[2017-09-07 21:09] alexcrichton commented on #44390
I have a commit for completely removing `DepGraph` from the `CrateStore` at https://github.com/alexcrichton/rust/commit/74f6a220d1b14f83efb23b6125786bdb6cc26c59, just waiting on #44142 to land

[2017-09-07 21:29] MicroJoe opened #44400 "Consider adding a from_micros for `std::time::Duration`"
During the write of an embedded library I needed to make a pause of 10 microseconds. Looking over the [Nightly `std::time::Duration` documentation page](https://doc.rust-lang.org/nightly/std/time/struct.Duration.html) I understood that I had to use the following construction:

[code]

The sad part is that this is less clear to me than `Duration::from_micros(10)`. Currently the `from_millis` and `f

[2017-09-07 21:51] eddyb commented on #41962
@estebank `x::$variantname` doesn't make sense because it implies `x` is some sort of module or type, but it's not. `:` is basically `as` by another name.
The reason I suggested `x.$variantname::$field` is because `Variant::field` looks like a path *to the field definition*, and so accessing that as a field in `x` makes *some sense*.

[2017-09-07 22:02] oyvindln commented on #34634
Still looks fine it seems: (latest stable)
[code]

[2017-09-07 22:18] jsgf commented on #41555
Hm, that may be a bug - remapping should only affect paths as they're output by the compiler (either in messages, debug info, or in filename macros). But on the other hand, it could genuinely have been missing, and the compiler is showing us the remapped path, not the path it actually tried to use. Without seeing the actual path it passed to the syscall, its a bit hard to tell.

After having a clo

[2017-09-07 22:34] mqudsi opened #44401 "Add support for either `const` or constexpr-like constraint for function and macro parameters"
This isn't a proposal that I've thoroughly fleshed out, but there should be some way to specify to the compiler that a parameter should have a compile-time value so that it can be used in place of the literal constraint.

While not fully fleshed out, the idea is to enable macros like `println!` to handle a wider range of inputs that can be proved safe, without requiring a literal argument as the f

[2017-09-07 22:36] nikomatsakis opened #44402 "inhabitedness cache handles cycles incorrectly"
In [this example](https://play.rust-lang.org/?gist=da68f9d467ec5ee3e7135088a28aab68&version=nightly), I get an (incorrect) compilation error:

[code]

But if you comment out `test_a`, you don't. This is because the inhabitedness code, if it starts from `Foo`, incorrectly caches a result for `Bar` -- the result is incorrect because `Bar` did not fully explore `Foo`, since we found a cycle.

Encount

[2017-09-07 23:34] alexcrichton commented on #44359
Thanks for the report! This is currently expected behavior, though, albeit a bad error message. The problem is you're using `#![...]` instead of `#[..]` for the `no_mangle` attribute, so `isprime` isn't getting to the output because it's not an exported symbol.

[2017-09-07 23:34] #44359 closed

[2017-09-07 23:40] alexcrichton commented on #44282
Perhaps try using `#[export_name="\x01?Hook@@YAXXZ"]`? (an LLVM-ism)

[2017-09-07 23:42] chris-morgan opened #44403 "Give nice errors on merge conflict markers"
Take code like this:
[code]

Outside macros and strings, this kind of thing will always fail to parse (seven equals signs in a row is always illegal), though the precise errors it will fail with will vary depends on the context.

It’d be nice if the compiler, on detecting a syntax error caused by merge conflict markers, gave a friendlier error message, something like this:

[code]

(Inspiration: P

[2017-09-08 00:01] jonas-schievink commented on #44403
Duplicate of #36879

[2017-09-08 00:03] chris-morgan commented on #44403
Sigh. I thought I searched for a duplicate before filing this but that was another thing that I did just before.

[2017-09-08 00:03] #44403 closed

[2017-09-08 00:46] ob commented on #44359
Ah, I see. Hmm... that seems like a hard error to catch no? If `no_mangle` doesn't make sense as a `#![...]` attribute would it make sense to at least provide a warning if it's used like so?

[2017-09-08 00:52] asomers opened #44404 "rustdoc --test ignores --target"
`rustdoc`'s `--target` option works when building documentation, but it seems to be ignored when running tests.  At the very least, using both options together should result in an error.  Ideally, `rustdoc` would invoke a cross compiler in this case.  It can be useful, for example, to execute doc tests in 32-bit mode on a 64-bit host.

To reproduce: Running `rustdoc --target=itanium-multics-gnu --

[2017-09-08 01:00] saghm opened #44405 "ICE when calling mutation method on map value indexed with mutable reference"
When calling a mutation method on an value obtained from a HashMap with a mutable reference index, an ICE occurs.

Code:
[code]
Compiler output:
[code]

Backtrace:
[code]

I believe that the correct behavior here would be for the compiler to report an error to the user on the indicated line due to IndexMut not being implemented for HashMap, which is what occurs when replacing `&mut i` with just `&

[2017-09-08 01:02] Kingsquee opened #44406 ""`<` is interpreted as a start of generic arguments for '_', not a comparison""
Playground link: https://play.rust-lang.org/?gist=e93b00dd6c33bf6bbcc035a7be501592&version=stable
[code]

[code]

[2017-09-08 01:47] elitak commented on #44282
Same deal. I tried a bunch of different combinations and it looks like "\x01" and "@" anywhere in the string trips it up (e.g. "a@b"). Again, this is only on the x86 and not the equivalent x64 toolchain, which seems pretty inexplicable to me, but then I know very little about LLVM.

[2017-09-08 02:50] netroby opened #44408 "Feature Request: Rust support function override"
I hope rust can support function override, In real development world. we import a library, and may be want to override one function of the library.

Example origin func
[code]

we want to add log in the function

[code]

We only want to override the function , not want to fork the whole library and modify the library.

[2017-09-08 02:53] TimNN commented on #44283
Here are the results:

* Current **`beta`** and **`stable`** are affected
* Current **`nightly`** is **not** affected
* `bisect-rust` points to #42727

Since the segfault occurs in `jemalloc` I tried building with the system allocator by adding

[code]

to `foo.rs`, `main.rs` and `lazy-static/lib.rs`, however `jemalloc` symbols **still** occur in the backtrace (tested on stable).

[2017-09-08 03:09] gaurikholkar-zz opened #44409 "E0623 misleading for this example"
Due to changes in #44079, the error message for the example is misleading. No data flow occurs here.

[code]

cc @nikomatsakis

[2017-09-08 03:15] Aaron1011 commented on #44405
Here's a self-contained version of the snippet:

[code]

[Playground link](https://play.rust-lang.org/?gist=d2ee5c86895800a25ff68a3af384c4f2&version=stable)

[2017-09-08 03:21] kennytm commented on #44406
I guess the problem is treating `true` as the name of a type. Simplified:

[code]

<details><summary>Look at this mess</summary>

[code]

</details>

[2017-09-08 03:41] retep998 commented on #44394
What would the epoch be for this? Would we still use the platform specific epoch or would we have a platform agnostic epoch?

[2017-09-08 03:42] Ryan1729 commented on #44365
That's the error I get if I don't comment out the `crate-type = ["cdylib"]` line. As you expected, if I don't do that then I don't get an rlib.

The version of the `C_ABI` branch I was compiling from is even with the github version. If I download a zip of that code and run it from a different folder it has the same behaviour, (reload only works in 1.19.0 with `state_manipulation` set as a dylib, i

[2017-09-08 03:46] alexcrichton commented on #44359
In theory we could give a warning that the `no_mangle` attribute applied on the crate isn't being used, but that's my best guess

[2017-09-08 03:47] alexcrichton commented on #44282
Does making it `pub extern` help vs `pub fn`?

[2017-09-08 03:51] toidiu commented on #44382
@frewsxcv  🖖

I had a thought about how to implement this better. The current example uses the string 🗻∈🌏 where the characters have a variable byte length. This was a source of confusing when I first looked at the example (its not super obvious that 🗻 is 4 bytes).

I was thinking of changing the string to something more uniform like `hello` which is 1 byte per char and then applying `make_ascii_up

[2017-09-08 04:02] kennytm commented on #44394
I'd suggest everyone uses 1970 Jan 1st (Unix epoch) for consistency.

Since the public APIs won't see the raw numbers at all, special-casing Windows to use 1601 Jan 1st as epoch is also possible. However converting a `FILETIME` to `timespec`-like structure already involves the complex arithmetic of divide-and-modulus-by-10<sup>7</sup>, adding a further epoch shift will not be a comparatively bigge

[2017-09-08 04:03] sfackler commented on #44302
Can this be implemented by jemalloc or libc malloc? It seems like a trait that would be defined by the fallback allocator crate.

[2017-09-08 04:05] elitak commented on #44282
I already guessed all sorts of extern types, to no avail. Even if I could trick it into working, it wouldn't explain why the x64 toolchain has no problem with the simpler form. Shouldn't the function compile and link without any changes to its annotations?

Are you able to reproduce the problem? I'll make a simple example project if you can't.

[2017-09-08 04:20] cuviper opened #44411 "s390x needs minimum alignment for global variables"
Clang has `TargetInfo::MinGlobalAlign` which sets a minimum alignment for global variables (unless explicitly aligned less).  This is needed for s390x to have 2-byte alignment even for 1-byte-aligned types, as explained in [clang r181210](https://github.com/llvm-mirror/clang/commit/6b20351a1d6178addfaa86716aaba36f2e9ea188):

    This patch adds a new common code feature that allows platform code t

[2017-09-08 04:21] sfackler commented on #44283
@alexcrichton any PRs jump out to you as having fixed this?

[2017-09-08 04:25] elitak commented on #44282
Here, try building this with the two distinct toolchains mentioned in OP: https://github.com/elitak/rust-issue44282

The x86_64 will link and the i686 won't.

[2017-09-08 04:41] cuviper commented on #44411
For comparison, here is Clang's LLVM-IR:

[code]

And here is Rust's LLVM-IR:

[code]

[2017-09-08 04:53] alexcrichton commented on #44283
@TimNN what nightly did you test what wasn't affected? For me the current nightly, `rustc 1.22.0-nightly (d93036a04 2017-09-07)`, segfaults like beta/stable. That leads me to believe that this may not be fixed on nightly.

That being said, this script is doing something that's not supported and fundamentally buggy, which is linking a rust `dylib` crate type natively (not through the compiler) into

[2017-09-08 04:57] retep998 commented on #44394
Using the Unix Epoch for consistency would completely break any times on Windows from before the the unix epoch. If someone manually changes a file to be created in the 1600s, Rust better damn well support that.

[2017-09-08 05:20] sfackler commented on #44394
@retep998 How exactly does that break times before the epoch? `secs` is signed.

[2017-09-08 05:21] sfackler commented on #44408
Feature requests should be made on https://github.com/rust-lang/rfcs.

[2017-09-08 05:49] retep998 commented on #44394
@sfackler Oh, right. Anyway, this would still cause an increase in the size of `SystemTime` on Windows. It would also allow you to create a `SystemTime` which cannot be represented in the platform specific type, resulting in errors when you call functions to set file times. Of course this might be desirable so that calculations don't overflow when doing weird arithmetic with time.

[2017-09-08 05:55] pcwalton commented on #44095
Please note: This broke Servo and Pathfinder.

[2017-09-08 06:19] kennytm commented on #44394
@retep998 Sure, but there are *no* functions that sets the file time using `SystemTime` in libstd.

There is the [`filetime` crate](https://docs.rs/filetime) for setting file times, but it uses its own `FileTime` structure, not affected by this proposed change (btw it uses the 1970 epoch on Unix and 1601 on Windows).

[2017-09-08 06:39] retep998 commented on #44394
@kennytm Maybe one day `std` will have such functions. Maybe in the future it would be possible to actually work with `std`'s `SystemTime` instead of having to duplicate it with your own version.

[2017-09-08 07:12] est31 commented on #44052
My main fear of not supporting `i128` on AVR is that it will have a chilling effect on adoption of 128 bit integers for the sake of compatibility with AVR or other embedded platforms. E.g. if there is a library that uses 128 bit integers, AVR users that will want to use it will file issues to drop the usage. This might make 128 bit integers not "safe" to use in Rust code that strives to be portabl

[2017-09-08 07:47] gnzlbg commented on #44367
@rkruppe Thanks for that example. Two small comments:

- Solving this particular problem is not a blocker for allowing SIMD (and friends) on stable Rust. The `target_feature` RFC does not allow disabling features. To introduce this problem one would need to do so at the `-C target-feature` level, and link two crates one with `+sse` and one with `-sse` (and this is a problem we already have, with b

[2017-09-08 07:53] gnzlbg commented on #44367
@parched some `x86_64` targets already have `512bit` vectors. What do we do when AVX3 or 4 are released with support for 1024bit vectors? Where does that path end?

Ideally, if I have an SSE dynamic library, that exposes some functions for SSE...AVX2, I would like to be able to add some new AVX3/4 functions to its interface, recompile, and produce a library that is ABI compatible with the old ones

[2017-09-08 08:09] kennytm commented on #44394
@retep998 those functions would return `io::Error`.

[2017-09-08 08:12] parched commented on #44367
@gnzlbg yes 512-bit and 1024-bit vectors would have to be treated the same way but I don't believe adding more would be an issue.

For that case you would just have to make your new functions `extern "vector-1024"` and users wouldn't be allowed to call it unless their caller had `#[target_feature = "+avx4"]` .

[2017-09-08 08:38] vignesh-sankaran commented on #41616
@blasrodri Hmm, crates.io isn't that big as of yet. Maybe you could outline a case for it [in this issue](https://github.com/rust-lang/crates.io/issues/1041), or otherwise create a new issue [here](https://github.com/rust-lang/crates.io/issues)?

[2017-09-08 08:38] petrochenkov commented on #44406
Thanks!
I tried to come up with an example where https://github.com/rust-lang/rust/pull/43060 would fail, but without success, now here it is!

[2017-09-08 08:49] michaelwoerister commented on #41555
Yes, this feature is supposed to help with the privacy issues mentioned.

As @jsgf says, this is either a bug in the implementation or you're running into a cumbersome corner case here. But it looks more like a bug to me.

[2017-09-08 08:54] gnzlbg commented on #44367
@parched I think I misunderstood your comment then.

Do you think that  `#[target_feature = "+avx"]` could do this automatically?

---

@alexcrichton @BurntSushi I've slept over this a bit, and I think the following is a common idiom that we need to enable:

[code]

Here we have some mismatching ABIs. I am still fine with making these mismatching ABIs hard errors as long as there is an opt-in way

[2017-09-08 09:09] michaelwoerister commented on #41555
Yes, it's a bug. The parser uses the remapped path when it tries to locate the `tables.rs` file on disk. I'll try to find some time to fix this next week.
However, if someone wants to give fixing this a try, or implementing the stable version of the CLI, I'd be happy to mentor.

[2017-09-08 10:13] rkruppe commented on #44367
@gnzlbg

For the record, that's not true, one just needs a target that doesn't have SSE enabled by default (or defaults to soft-float), such as the (tier 2, but still) `i586-*` targets.

I do agree though that we should find a proper solution right now, especially since the "cheap fixes" that I'm aware of (monomorphization-time error, or strongarm the ABIs into being compatible by explicitly passi

[2017-09-08 10:43] luser opened #44412 "dwarfdump errors on debug info generated by rustc 1.19 in Firefox build"
I was doing some inspection of Firefox debug symbols related to a crash, and dwarfdump errored out on me. The binary I was dumping [is here](https://s3-us-west-2.amazonaws.com/org.mozilla.crash-stats.symbols-public/v1/libxul.so/B615F8577A4F30B08E51CC1A5E8CF7D60/libxul.so.dbg.gz), which is from a fairly recent Firefox nightly build (2017-08-16). I was running `dwarfdump -S any=Element22AddSizeOfExc

[2017-09-08 11:09] michaelwoerister commented on #44412
I can reproduce with `dwarfdump` from Ubuntu 16.04:
[code]

[2017-09-08 11:11] JakubAdamWieczorek commented on #18330
`rustc 1.22.0-nightly (981ce7d8d 2017-09-03)`

Input:
[code]

Output:
[code]

Still not quite. `f()` doesn't really reassign the argument, it just calls a function that borrows mutably. It's really just a matter of a slight wording change to the error message to make it more general. Much like in the PR https://github.com/rust-lang/rust/pull/29670, which ended up not being merged.

[2017-09-08 11:12] Ryan1729 commented on #44365
I decided to see if I could get reloading working at all on windows. If I try to just build while the program is running I get an error saying the build process cannot remove the `.dll` files. Per [this stackexchange answer](https://serverfault.com/a/503769) you can get around this by renaming the `.dll` then copying the replacement to the original name. So I came up with the following procedure:

[2017-09-08 11:31] TimNN commented on #44283
@alexcrichton I'm running `rustc 1.22.0-nightly (d93036a04 2017-09-07)` as well. I'm also still on El Capitan, which I imagine could cause the different behaviour (if you are running something else).

[2017-09-08 11:39] johnthagen commented on #41555
Here is another simplified example, this time on Windows.

Environment variable set:
`RUSTFLAGS=-Zremap-path-prefix-from=C:\ -Zremap-path-prefix-to=Z:\`

[code]

[code]

[code]

[code]